[2017-05-22 23:36] chris-b1 commented on #16440
This is basically what python 3.6+ is doing?  You're welcome to try this out, although modifying khash isn't exactly a trivial project!

xref https://github.com/pandas-dev/pandas2/issues/35 - pandas2 issue on hash tables, consider c++ options

In terms of reducing hash table memory usage, I suspect #14273 might be much lower hanging fruit.

[2017-05-22 23:47] rohanp commented on #16440
yes, that is where I got the idea. Would I have to modify khash though? I was thinking to simply modify the Cython interface to khash `hashtable_class_helper_pxi.in` to send the indexes to khash while keeping the values on the Cython layer.

[2017-05-22 23:49] jreback commented on #16440
@rohanp

This *might* be true for dynamic hashtable, and I would for sure agree for that case, but we are specifically allocating a size, always. How are they in that case?

[code]

note that I wrote the ``.sizeof()`` which is simply

[code]

which may not be right.

[2017-05-22 23:54] jreback commented on #16440
Actually I stand corrected. It appears to allocate the next largest power of 2 for the buckets (I temp added ``n_buckets()``).

[code]
so a HT of 9 and 16 cost the same.

[2017-05-22 23:59] jreback commented on #16405
@pvomelveny what you did is reasonable, but let's write it out (yes *hate* the ternary operator :>)

maybe

[code]

and see if things pass (and add a comment about why doing this).

[2017-05-23 00:04] jreback commented on #16440
@rohanp you could try this. I think this might involve a fairly large change (in cython), and you would have to measure the memory savings AND make sure perf doesn't degrade too much (as now you are doing a double lookup, though should not be by much as the 2nd access is an array indexing op which is pretty fast).

[2017-05-23 00:20] makmanalp commented on #13492
So, I just made a PR, it's just a first stab at the issue but hopefully it's in the right direction! Please let me know how happy you are with this fix and what I can do to get it release-ready!

[2017-05-23 01:11] TomAugspurger opened #16446 "DOC: Explain how our shared_docs system works"
Enhance https://github.com/pandas-dev/pandas/blob/master/doc/source/contributing.rst with a discussion of how our `_shared_docs` system works.

- Why we do it (reduce duplicate docstrings, while still having some class-specific stuff)
- How it's done (Appender, _shared_docs dict, _shared_doc_kwargs)
- How to substitute values

[2017-05-23 01:46] ying-w opened #16448 "datetime + timedelta64: TypeError: ufunc add cannot use operands with types dtype('O') and dtype('<m8[ns]')"
#### Adding a couple milliseconds to datetime

[code]
since different time zones, tmptime won't be converted to dtype datetime64 and instead stay as datetime.datetime

[code]

#### Problem description

I want to add a couple milliseconds to a datetime object in pandas. The datatime object is not automatically converted into datetime64 when holding different time zones (and to_datetime() doesn't un

[2017-05-23 03:15] DGrady commented on #11665
Okay; will dive in to it tomorrow.

[2017-05-23 03:37] minhouse commented on #12683
Thank you for Pandas0.20.1, ive just upgraded and confirmed it is working too.! I love Pandas. Thanks for Jeff.

[2017-05-23 03:55] TheGhostHuCodes commented on #16446
I was working with one of our fellow PyCon2017 sprinters figure out this system. I'll take a shot at writing this up in the docs.

[2017-05-23 07:51] #16394 closed

[2017-05-23 08:08] raffam opened #16450 "to_stata: Fixed width strings in Stata .dta files are limited to 244 (or fewer)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Raises the following error:

However this restriction seems to not exists in STATA, as the Excel file can be imported correctly
Open STATA, import the Excel file

[code]
Now we can get the type of data in column 'A', and as you can see, it's str250. So STATA can store string longer than 244 characters

[code]
A

[2017-05-23 08:17] #16427 closed

[2017-05-23 09:26] jorisvandenbossche commented on #16310
There was also a presentation on PyCon about optimizing pandas: https://github.com/sversh/pycon2017-optimizing-pandas, which can probably be used as well for some inspiration

[2017-05-23 10:30] jreback commented on #16448
Mixing timezones within a single Series is not performant and not supported. You are best off converting to a single timezone. (either UTC or a local) and simply adding.
[code]

[2017-05-23 10:30] #16448 closed

[2017-05-23 10:56] #15690 closed

[2017-05-23 11:32] naifrec commented on #16284
hey guys, if you let me jump in. I have the feeling the `limit` kwarg does not behave as you would expect it to when working with time series. To cite @rhkarls in the issue #1892 :

So lemme write an example:

[code]

Now what I want is to resample and interpolate the time series every 12 hours, but only for the consecutive days, so as not to make too big assumptions on the behavior of the time se

[2017-05-23 12:22] TomAugspurger commented on #16284
@naifrec thanks for the detailed example, I think I understand the behavior you're looking for.

`limit` currently has the clearly defined behavior of "fill at most this many NaNs in a row", which is useful so we can't change that. We'll have to add another keyword to interpolate.

I think we should add an additional option to `limit_direction` like `consecutive` (there's probably a better word. S

[2017-05-23 12:27] TomAugspurger commented on #16450
cc @bashtage does this sound right to you?

@raffamaiden I'm not very familar with stata's file format. Is it possible that the file-format is limited to 244 characters, while Stata itself can handle datasets with names > 244 characters in memory?

[2017-05-23 12:55] Peque opened #16452 "Suggestion: changing default `float_format` in `DataFrame.to_csv()`"
Current behavior
-----------------------------------

If I read a CSV file, do nothing with it, and save it again, I would expect Pandas to keep the format the CSV had before. But that is not the case.

[code]

Would give us this output:

[code]

What is wrong with that?
--------------------------

I would consider this to be unintuitive/undesirable behavior.

The written numbers have that represe

[2017-05-23 12:56] WBare commented on #16284
Perhaps max_gap meaning it will only interpolate over gaps up to a given size?

[2017-05-23 12:57] TomAugspurger commented on #16446
Thanks. Post here or on gitter if you have any questions.

[2017-05-23 13:10] TomAugspurger commented on #16452
Hmm I don't think we should change the default. If we just used `%g` we'd be potentially silently truncating the data.

[2017-05-23 13:11] TomAugspurger commented on #16405
@pvomelveny can you submit a pull request with those changes? I'm curious to see if the tests pass.

[2017-05-23 13:12] bashtage commented on #16450
That is correct.  There is no support for the writing the variable length strings that was added in recent Stata versions, and so writing stata is limited to 244 ascii-like (latin-1, 8 byte fixed) characters.  Longer strings were added in Stata 13 and there were further changes to written strings in Stata 14 (unicode only).

Reading longer strings works fine thanks to @kshedden .

Little reason to

[2017-05-23 13:15] TomAugspurger commented on #16450
Thanks.

@raffamaiden do you have a need for this? If you're willing to implement the code to support writing longer strings, I'm sure it'd be accepted, but as @bashtage says it'll be pretty low priority on our end.

[2017-05-23 13:19] bashtage commented on #16450
Accepting this would mean users of older versions of STATA could not read
exported files.
On Tue, 23 May 2017 at 14:15, Tom Augspurger <notifications@github.com>
wrote:

[2017-05-23 13:29] chris-b1 opened #16453 "BUG: Index values not read-only"
[code]

#### Problem description
`Index.values` should be read-only, otherwise the Index can get into an out-of-sync state like above where certain locations aren't find-able.  Not a high priority as this is a pretty strange thing to do, but should be easy enough to set flags so this raises.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
# Paste the output here pd.s

[2017-05-23 13:32] TomAugspurger commented on #16450
Oh, yeah didn't think about that.

I'm going to close this for now then. We can revisit it in the future once compat with older versions of Stata is less important.

[2017-05-23 13:36] Peque commented on #16452
Agreed. Maybe using `'%g'` but automatically adjusting to the float precision as well? (depending on the float type)

[2017-05-23 13:50] TomAugspurger commented on #16452
Just to make sure I fully understand, can you provide an example? Or let me know if this is what you were worried about. Given a file `foo.csv`.

[code]

then

[code]

That one doesn't have any rounding issues (but maybe with different numbers it would?)

[2017-05-23 14:07] raffamaiden commented on #16450
Well I can save the file in Excel format and have STATA convert it to dta by running a STATA script in batch mode

I still think it would be a nice feature to have

You may add an argument to the to_stata() function asking the file format version you want to save into.

Maybe have the lowest possible file format version set by default, and change the error message to something like "This file vers

[2017-05-23 14:08] adbull opened #16454 "BUG: merge_asof raises when grouping on multiple columns with a categorical"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`merge_asof` takes a `by` argument which defines the groups to merge between. When `by` is any single column, or multiple non-categorical columns, the merge succeeds. When `by` includes multiple columns, at least one of which is categorical, an error is raised.

#### Expected Output

[code]

#### Output of ``pd

[2017-05-23 14:13] TomAugspurger commented on #16450
Ok. Most of that would start [here](https://github.com/pandas-dev/pandas/blob/6614e266bca32771c761e904367eff10dd4c8979/pandas/io/stata.py#L1856)

Feel free to post here if / when you want to take it up.

[2017-05-23 14:27] TomAugspurger commented on #16454
cc @chrisaycock should this be supported? If not we can raise a better error message.

[2017-05-23 14:42] mkozel92 commented on #16363
Not really a fix. But if you need a workaround just use float64.
Worked for me.

[2017-05-23 14:53] Peque commented on #16452
You are right, sorry. The DataFrame was actually being modified. :sweat:

[2017-05-23 15:55] MeetQingLiu commented on #3729
+1 for this resolution

[2017-05-23 15:58] naifrec opened #16457 "Enhancement: new interpolate kwarg to skip gaps"
hey guys! I have the feeling the `limit` kwarg does not behave as you would expect it to when working with time series. To cite @rhkarls in the issue #1892 :

So lemme write an example:

[code]

Now what I want is to resample and interpolate the time series every 12 hours, but only for the consecutive days, so as not to make too big assumptions on the behavior of the time series for larger time de

[2017-05-23 15:59] #16282 closed

[2017-05-23 16:52] #15953 closed

[2017-05-23 17:29] DGrady commented on #16409
FWIW I see this (only the first time?) when I try to tab complete on a data frame:

[code]
I pressed TAB after typing `df.gro`.

[2017-05-23 17:32] TomAugspurger commented on #16409
@DGrady that seems unrelated. Is it just on DataFrames that happens, or any python object? If you could narrow it down a bit, I'm sure the IPython devs would appreciate a bug report.

[2017-05-23 17:37] ProsperousHeart opened #16459 "BUG: cut does not respect order of passed labels"
####
This issue was found when working on #16432

[code]
#### Problem description

When running `pytest -x --doctest-modules core/reshape/tile.py` against the work inside of the "reshape-3439" branch, we see the following:

[code]

This is backwards.

#### Expected Output

Should clear this - this is not an issue.

#### Output of ``pd.show_versions()``

<details>
Unable to run the pd.show_versions

[2017-05-23 17:41] DGrady commented on #16409
@TomAugspurger You're right; it's something about my environment. That does not happen with a clean environment with `conda create --name completiontest python=3 ipython pandas`; sorry to confuse the issue!

[2017-05-23 17:42] jorisvandenbossche commented on #16459
[code]

[code]

[2017-05-23 17:43] bpraggastis commented on #14671
The approach originally taken (#14674) caused the test suite to fail. I used a different approach focusing only on the case when usecols_dtype == 'string'. In this case it was sufficient to check that usecols is a subset of names. I commited to branch gh-14671.

There is another case that is not covered that I would like clarification on. If header=0 and names are provided to replace the column he

[2017-05-23 17:52] jorisvandenbossche commented on #14671
cc @gfyoung

[2017-05-23 17:58] gfyoung commented on #14671
@jorisvandenbossche : I too didn't realize this issue wasn't handled in full.  Thanks for the CC!

@bpraggastis : Mind opening up a PR for this?  Would make it a little easier to view changes and see whether they are mergeable.  Also, FYI, whenever you write "gh-xxxx" in the comment box, GitHub creates a link to the corresponding issue or PR in the repository.  If you meant to point to your branch

[2017-05-23 17:58] Carreau commented on #16409
@DGrady do you have any Spark/Java thing running ?  I think I've seen similar bugs when trying to use IPython with Jython.

[2017-05-23 18:07] DGrady commented on #16409
@Carreau I do not; I do use Spark, but not from this machine. Just running macOS 10.12.5. Here's the output of `conda list` for the offending environment:

(arg, the ones with missing channels are `<pip>`)

<details>
<pre>
# packages in environment at /Users/dgrady/anaconda3:
#
_license                  1.1                      py36_1
alabaster                 0.7.10                   py36_0
anaco

[2017-05-23 18:07] economy commented on #16459
I'm looking into this.

`core/reshape/tile.py` line 255: looks like `pd.Categorical(ordered=True)` orders the labels alphabetically regardless of how they're passed in.

[2017-05-23 18:13] bpraggastis commented on #14671
@jorisvandenbossche @gfyoung : I created a PR and left the tests referencing the problem I mentioned commented out for future use (not sure if that is the correct protocol). Leaving PyCon now but would like to continue working on this if you open another issue addressing the new bug.

[2017-05-23 18:30] abarber4gh commented on #4988
taking a look at this, I plan to deprecate `parse_cols` for `read_excel()` in favor of `usecols` for consistency with other read functions.  plan for `usecols` to support current functionality of `read_excel()`'s `parse_cols` and other `usecols`.  Basically, @alefnula's points 2, 3, and 4 above.  point 1 (implement column selection functionality for all `read` functions probably should be another

[2017-05-23 18:48] economy commented on #16459
If I have a categorical, and I want it to be ordered, and I pass a list of strings as labels, it doesn't seem like I'd ever want the _sorted_ version of those labels to be my rank ordering. Is there a case where I'd actually want to sort those strings alphabetically?

[2017-05-23 18:56] guygoldberg commented on #15388
Starting to work on it

[2017-05-23 19:07] TomAugspurger commented on #16459
@economy `pd.Categorical(labels, categories=labels, ordered=True)`. I thought it respected the observed order with `ordered=True` when `categories=None`, but I guess not.

[2017-05-23 19:13] TomAugspurger commented on #14671
we typically mark it with an `xfail` for expected failure, so that it gets reported

[code]

[2017-05-23 19:13] economy commented on #16459
So, if I'm reading this correctly, updating the test to explicitly set `categories` fixes the issue and follows the appropriate way to use `pd.Categorical`

[2017-05-23 19:17] TomAugspurger commented on #16459
I think we need a new test in `test_tile.py` You can just copy the example https://github.com/pandas-dev/pandas/issues/16459#issuecomment-303477917 and assert that it matches the output from 0.19.2 (with the order "good" < "medium" < "bad".

Ideally you would

1. checkout a new branch
2. write the test
3. verify that the test fails
4. write the fix (by passing `categories=labels`
5. document the c

[2017-05-23 19:31] rohanp commented on #16440
I don't quite understand where in our Cython interface we define the dtype of the values in the hash table. The `__cinit__` only defines the dtype of the keys

[code]

Based on the `Py_ssize_t` in
`cpdef set_item(self, {{dtype}}_t key, Py_ssize_t val):`

it looks like the table is already configured to only store indexes. Could someone more familiar with the code please confirm?

[2017-05-23 19:36] #10559 closed

[2017-05-23 19:42] economy commented on #16459
@TomAugspurger, I can create a new test for this, but `pd.cut()` still doesn't act as expected.

If I update `core/reshape/tile.py` line 255 to call `pd.Categorical` using the `categories` attribute correctly, the original test passes and output for `pd.cut()` is as described above.

[2017-05-23 19:49] TomAugspurger commented on #16459
Do you mean the one reported by @ProsperousHeart? That is a doctest, which aren't setup to run automatically (yet, @ProsperousHeart is getting them fixed up so that we can do that). In the meantime we need a regular unit test to verify that the fix works.

[2017-05-23 19:52] #16382 closed

[2017-05-23 19:57] chris-b1 commented on #16440
The actual hash table definitions are C macro expansions, e.g., here for int64 keys:
https://github.com/pandas-dev/pandas/blob/92372c7632a92d7bd980534b5a78590b2d9453ad/pandas/_libs/src/klib/khash.h#L576

And, yes, the values in the hash tables are are indexes (locations back into the original array).   So currently I think it roughly looks this (ignoring hash storage)
[code]

IIUC, the py 3.6 appr

[2017-05-23 20:08] TomAugspurger opened #16463 "PERF: Implement date_range for business day in terms of daily"
#### Code Sample, a copy-pastable example if possible

@dsm054 noticed that business day performance is slow relative to daily

These two should be equivalent

[code]

If we do these, we'll have to special case the handling when `periods` is passed to expand it by enough weekends. But that's a pretty nice performance boost for a pretty common operation.

[2017-05-23 20:50] dsm054 commented on #16463
pd.date_range is just a convenience wrapper around DatetimeIndex, and so the same problem affects resamples to B as well because of the call to DatetimeIndex it makes along the way when building a binner.  There will be lots of secondary benefits as well.

[2017-05-23 20:54] chris-b1 commented on #16463
xref: #11214 - slightly more generic issue.  In general any kind of bin generation larger than `D` is not performant right now.

[2017-05-23 21:13] rohanp commented on #16440
Yes, but as the author of klib [writes](https://attractivechaos.wordpress.com/2008/09/02/implementing-generic-hash-library-in-c/)

Doing so would only save memory if the key and values are relatively close to each other in size. I suppose this would be good to implement for int64/float64 keys, but doing so would be fairly involved as I would have to modify klib itself. I personally don't think it

[2017-05-23 21:23] dsm054 commented on #16463
@chris-b1: wow, when you're right, youre right.

This is all kinds of crazysauce.

[code]

That's a wild ratio.

I think it should be possible to provide a vectorized (not even cythonized) version for each of the some-filter-on-daily offsets, both anchored and not, without too much trouble.  But even if not, we should at least fix the big ones.  I grepped through just one of my codebases and found

[2017-05-23 21:32] gfyoung commented on #14671
Right, but let's see if we can patch them first before marking.  What you just found @bpraggastis is a bug with the Python engine (what you were demonstrating was with the C engine).  So let's patch that first before addressing your PR.

[2017-05-23 22:35] natethedrummer commented on #13229
I am working on this.

[2017-05-23 23:01] huguesv commented on #5445
The PR linked above has a discussion that concluded this was no longer necessary, so should this issue be closed?

[2017-05-23 23:19] rohanp commented on #16463
I can try giving this a go!

[2017-05-23 23:21] jreback opened #16468 "PERF: .median(axis=1) perf issues"
[code]

So, if *bottleneck* is installed, then ``df.median(1)`` is blazingly fast. However if its NOT installed (or not used), then we fallback to ``np.apply_along_axis(our_median_impl)``, so our median impl is pretty fast itself, but it only handles 1d, so this is a pythonic loop.

To fix we can use ``np.nanmedian`` soln if available (its in >= numpy 1.9, currently we support >= 1.7).

[2017-05-23 23:27] steven-cutting commented on #16334
@jreback

So, after looking through this I uncovered that the string representation dunder method that contains the formatting logic (__unicode__), comes from the `pandas.core.indexes.base.Index` class.
This class is used not just by DatetimeIndex, but all of the classes below as well. So, any changes I make to achieve the desired behaviour for DatetimeIndex will also affect the classes below.

[c

[2017-05-23 23:29] jreback commented on #16463
@chris-b1 this is actually not that surprising, all this is doing is this an ``np.arange`` under the hood.

[2017-05-23 23:31] jreback commented on #16454
this could work, but is not implemented atm because of how the multiple grouping is done.

[2017-05-23 23:34] jreback commented on #16440
@rohanp having separate keys/values is much easier impl wise. We just use keys of the appropriate dtype. the values are *always* ``Py_ssize_t``, this just makes things much simpler. so we are only paying the power-of-two bucket cost once.

[2017-05-23 23:49] pganssle commented on #15275
Hm... This is quite complicated, I'm not quite sure how `Appender` and `Substitution` are supposed to work in the case of inherited docstrings, because the top-level documentation itself has to be displayed, meaning the substitution has to take place there. In all derived functions, there's nothing to substitute.

I think the best way to handle this is to modify `Substitution` and `Appender` to pr

[2017-05-24 00:01] rohanp commented on #16463
From what I can tell, cythonizing `generate_range` from `offsets.py` would solve this problem?

[2017-05-24 00:10] jreback commented on #16334
yes that's the point
we have a single impl as much as possible
note that changing this will likely break many tests (as the comparisons for formatting r hard coded) but straightforward to fix

[2017-05-24 00:15] steven-cutting commented on #16334
I figured that. Just double checking.

I'll proceed then.

[2017-05-24 00:23] dsm054 commented on #16463
I think that's the base location which is slow, but I don't know how much of the slowness is due to the Python-level looping in generate_range or the Python-level operations in the offset's `.apply` that get called.  I suspect we're only getting a few milliseconds of overhead from the Python generator itself, in which case we'd need to cythonize a lot of other code too to see benefits.

Whether th

[2017-05-24 00:33] chris-b1 commented on #16463
Yeah @dsm054 is right, there is a whole chain of pure-python stuff behind the offsets, so not that much benefit to cythonizing the existing code without a major rewrite.

Much easier would be to define some fastpaths for "easy" offsets, using existing vectorized datetime methods like suggested at the top.
[code]
Hardest part is probably getting the number of periods/start/end logic correct.

[2017-05-24 01:04] gfyoung commented on #14671
Actually, this problem is bigger than I thought.  Filing issue for this.

[2017-05-24 01:10] gfyoung opened #16469 "API/DOC: Specification for `names` parameter in read_csv"
On `master` (<a href="https://github.com/pandas-dev/pandas/commit/04356a83c0dc8a749c84e168535e6673f2548ec6">04356a</a>), the documentation is unclear as to what a valid `names` parameter is for `read_csv`.

* Does it need to have the same length as the number of columns in the file? OR
* Does it need to have the same length as `usecols` if specified?

I find evidence in the test cases to support b

[2017-05-24 02:19] jnothman commented on #14608
+1 for the need to identify logical linebreaks defined by `<p>`, `<br>` and perhaps other block-nodes.

Another way of treating this problem is to just have a converter called `raw_html`, which will do no cleaning and conversion, allowing the user to post-process the contents of each cell. While this does not provide predefined user-friendly converters (at least not initially), it gives users full

[2017-05-24 02:39] jnothman commented on #14608
The main problem I can see for any of these is that in the current code structure we need to determine whether to retain raw HTML before we've identified column names used to key conversion.

A clean solution would require the identification of column names to occur in `_parse_raw_data`

A more feasible but slightly hacky solution would always return raw elements, but then clean headers and index,

[2017-05-24 04:20] OlegShteynbuk opened #16471 "Add 'null' in lower case to na_values defaults in pandas.read_csv"
Docs to read_csv says that by default 'NULL' in upper case is interpreted as NaN but not in lower case.
It became an issue with the latest yahoo change that affected pandas-datareader, see
Exception downloading yahoo historical data with  adjust_price=True on  fix-yahoo branch
https://github.com/pydata/pandas-datareader/issues/342

[2017-05-24 05:34] stanleyguan commented on #15316
Deferring the logic to `TextParser` does mean that we will do unnecessary parsing for the columns that will be discarded. Is that acceptable?

[2017-05-24 05:52] abarber4gh commented on #4988
in the current release version (0.20.1), a list of columns returns an empty DF.  I.E. ``pandas.read_excel(test_inputexcel_file, parse_cols=['A','B','D']) `` results in
[code]
rather than the expected DataFrame with columns A, B, and D.  I plan to address this as well to implement @alefnula's point 3.

[2017-05-24 06:34] pankajp opened #16472 "Incorrect skipping of lines with inline comments and printing warnings"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Only lines with <= 2 fields should appear in the df, others should be skipped and their warning should be printed on stderr.

Output
[code]

Problems:

 - Lines skipped due to more fields than expected and which end with inline comments are never printed as skipped on stderr (lines 3-9)
- Lines which end with

[2017-05-24 07:39] oxhaowang opened #16473 "Segmentation fault"
#### Problem Description

For latest 0.20.1 version I got:

[code]
When I rolled back to version 0.19.2, the import line works fine but not the test function, see:

[code]
This might not be a pandas issue after all. I am posting this in case anyone got any clues..

*Other installed python3 modules on my machine are*

<details>
alabaster==0.7.10
apiclient==1.0.3
appdirs==1.4.3
apsw==3.9.2.post1
apt

[2017-05-24 07:58] mhooreman opened #16474 "Cannot unpickle data frame made with 0.19.2 after upgrade to 0.20.1"
Hello,

#### Problem description

When we create a data frame with pandas &le; 0.19.2 and pickle it (using pickle.dump), it is not possible to unpickle it using pandas 0.20.1.

[code]
[code]

#### First analysis

- It seems that ```pandas.indexes``` has been refactored to ```pandas.core.indexes```.
- I don't know if there are other such incompatible changes

#### Proposal

It would be great to hav

[2017-05-24 09:47] chris-b1 commented on #15316
Yes, that's fine - because of the way excel data is structured (row oriented XML) the whole file has to be parsed anyways - it might add a little overhead, but small relative to overall reading time.

[code]

[2017-05-24 09:58] jreback commented on #16474
Big [red  box](http://pandas.pydata.org/pandas-docs/stable/io.html#pickling), is clear that ``pd.read_pickle`` is the pickle reader and makes things backward compatible. Further whatsnew notes have a quite large section on what changed [here](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#reorganization-of-the-library-privacy-changes)

sure a direct call will work to ``pickle.loads``, b

[2017-05-24 09:58] #16474 closed

[2017-05-24 10:00] jreback commented on #16473
you have an installation problem.  pls read the instructions [here](http://pandas.pydata.org/pandas-docs/stable/install.html). ``conda install pandas`` or ``pip install pandas`` works.

[2017-05-24 11:57] TomAugspurger opened #16477 "Some excel tests aren't being picked up"
Discovered by @abarber4gh

[code]

probably related to the pytest move. PR coming shortly

[2017-05-24 12:12] #6608 closed

[2017-05-24 12:16] jmilhomens opened #16479 "fillna after resample doesn't work on version 0.20.1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `fillna` method is not working after a resample. The result of the above code is:

<table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-01-01 00:00:00.000</th>
      <td>0.0</td>
    </

[2017-05-24 12:56] jreback opened #16480 "API: merge will cast keys to min dtype, rather than upcast for mixed (integer) dtypes"
[code]

I guess this is a bit inconsistent as with mixed types we should use the common one. This is an explicit decision though, we are *choosing* to cast to the left/right as appropriate (it is a safe cast though).

[2017-05-24 13:05] jnothman commented on #14608
It seems like cleaning column names before `TextParser` is hard since the logic for identifying headers is not trivial. Similarly, it's hard to do `TextParser` before name-specified options are applied because their logic is non-trivial.

This is proving hard to implement without adding extra features to `PythonParser` such as `header_converter` and `default_converter`.

[2017-05-24 13:06] TomAugspurger commented on #16479
Seems at least partially related to https://github.com/pandas-dev/pandas/blob/b0038ac72721058a3ae71f1dbcaa24d2f10f23c0/pandas/core/internals.py#L915 returning True, when it should be False (we have ints + nans, so it should be float). I guess the root cause is `resampled_df` having an IntBlock

[code]

potentially related to https://github.com/pandas-dev/pandas/issues/16361

[2017-05-24 13:28] #16338 closed

[2017-05-24 15:10] TomAugspurger opened #16481 "TST/CLN: Warnings from pytest 3.1+"
New versions of pytest print a useful summary of warnings that aren't caught during the test run.
Here's a log from a couple days ago

<details>

[code]

</details>

Some of these will require updates to the test suite to just use the new behavior. Others should be explicitly caught with `tm.assert_produces_warning`. (I believe the downstream package warnings are already fixed in master for dask a

[2017-05-24 16:22] cirmic opened #16482 "read_csv read on the fly from 7z"
#### Only a suggest:

Is it possible to insert in the future versions the feature for read on the fly into a 7z file?

[2017-05-24 17:05] javidcf opened #16483 "DOC: filter method for *GroupBy objects"
There does not seem to be a reference to the `filter` method of `GroupBy`/`SeriesGroupBy`/`DataFrameGroupBy` objects in the [API documentation](https://pandas.pydata.org/pandas-docs/stable/api.html), even though it is mentioned in the [Group By documentation](http://pandas.pydata.org/pandas-docs/stable/groupby.html#filtration).

[2017-05-24 17:24] chris-b1 commented on #16482
Just from a quick google it's not clear there's a great 7zip python library (maybe https://pypi.python.org/pypi/libarchive?)  - but to the extent there is a functioning one, would be easy enough to add - around here.

https://github.com/pandas-dev/pandas/blob/7271f50c234faeaaac177a4e1829b7401ea252ee/pandas/io/common.py#L374

[2017-05-24 17:36] #16472 closed

[2017-05-24 18:36] VincentLa commented on #16483
I can pick this up! If anyone is at pycon sprints in portland, happy to pair on this as well.

[2017-05-24 19:00] VincentLa commented on #16483
Well actually it looks like the example is defined here for [`SeriesGroupBy`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby.py#L3008) and here for [`NDFrameGroupBy`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby.py#L3826). So is the fix to this to just add it to [api.rst](https://github.com/pandas-dev/pandas/blob/master/doc/source/api.rst)?

[2017-05-24 19:18] VincentLa commented on #14764
Looks like this issue got dropped. Happy to see if i can take a stab at this now. If anyone is at pycon sprints, happy to pair!

[2017-05-24 19:58] Dr-Irv opened #16485 "Meaning of color argument in DataFrame.plot.scatter()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The issue here is that it is not clear what the values in the column corresponding to the argument `c` of `scatter` should be.  The example given at http://pandas.pydata.org/pandas-docs/stable/visualization.html#scatter-plot uses numerical values, but in this example, I just want red and green dots. With matplot

[2017-05-24 20:05] TomAugspurger commented on #16481
Some are caused by not using raw strings. Here's a (hopefully complete list)

[code]

[2017-05-24 21:55] VincentLa commented on #14764
Ok added an example in the docstring. Would welcome feedback about its usefulness!

[2017-05-24 22:48] #16359 closed

[2017-05-24 22:53] theairportexplorer commented on #15107
I'm checking out pandas through the pycon dev sprint, and I'm taking a stab at issue.

I'm able to replicate the bug, but instead of getting 'a' to replace the np.nan, I see np.nan.

(I think) I've traced the issue down to the Index._join_level() function in pandas/core/indexes/base.py module.

[2017-05-24 23:03] #16483 closed

[2017-05-24 23:15] #15593 closed

[2017-05-24 23:21] #16362 closed

[2017-05-24 23:24] #16398 closed

[2017-05-24 23:31] VincentLa commented on #16485
Oh interesting, I might try to see if I can pick this up

[2017-05-24 23:47] theairportexplorer commented on #15107
I think I found the issue...

In pandas/core/indexes/base.py, Index._join_level() is the following line:
`new_lev_labels = algos.take_nd(rev_indexer, left.labels[level], allow_fill=False)`

Running PDB these are the values going into algos.take_nd:

`(Pdb) level
0
(Pdb) rev_indexer
array([ 0, -1, -1, -1], dtype=int64)
(Pdb) left
MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3, 4, 5]],

[2017-05-25 02:09] #16306 closed

[2017-05-25 02:09] #16378 closed

[2017-05-25 08:57] psychemedia commented on #14608
@jnothman Having the option to get the raw HTML would always be useful as a fall back if the current parsers do break for a particular scrape?

[2017-05-25 09:01] cirmic commented on #16482
With Python 2.7.13 when I specify `compression="xz"` into read_csv method it returns `cannot import name lzma`.

I know that lzma is default library from Python 3.3, is there a way to use also into 2.7 ?

[2017-05-25 09:03] toobaz opened #16492 "No way with to_json to write only date out of datetime"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

From [this SO comment](https://stackoverflow.com/questions/16176996/keep-only-date-part-when-using-pandas-to-datetime/41718815?noredirect=1#comment75167203_41718815)

By default, ``to_csv()`` drops times of day if they are all midnight. By default, ``to_json`` instead writes dates in epoch, but if passed ``date

[2017-05-25 09:04] toobaz commented on #16492
Probably worth fixing together with #12997

[2017-05-25 09:38] chris-b1 commented on #16482
Yes, see docs here - need to install the backports version
http://pandas.pydata.org/pandas-docs/stable/install.html?highlight=lzma#optional-dependencies

[2017-05-25 10:06] jreback commented on #16492
-1 on this. This does not conform to JSON and this creates non-standard formatting for dates.

#12997 is completely orthogonal to this and is an actual bug.

[2017-05-25 10:07] #16482 closed

[2017-05-25 10:07] #16473 closed

[2017-05-25 10:12] CRP opened #16493 "to_html(index_names=False) still renders a row with index names"
The index_names parameter is apparently ignored.
I tried to debug the code, and it looks like line 1291 of pandas/io/formats/format.py should contain "and self.fmt.show_index_names" in the if clause.

here is sample code:

[code]
which produces the following output:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>

[2017-05-25 10:17] jreback commented on #16479
this is a dupe of #16361

[2017-05-25 10:17] #16479 closed

[2017-05-25 10:21] #15388 closed

[2017-05-25 10:23] #15819 closed

[2017-05-25 11:11] toobaz commented on #16492
I'm not expert at all on JSON and/or date representation standards... but if JSON dictates the use of ISO 8601, then ISO 8601 does define a way to represent dates (without time). If JSON instead dictates using the full representation for ISO 8601, then indeed this is worth closing.

(I know that strictly speaking JSON [does not dictate anything](https://stackoverflow.com/a/15952652/2858145), I'm j

[2017-05-25 12:30] TomAugspurger commented on #16493
May be as simple as also checking `self.fmt.index_names` in https://github.com/pandas-dev/pandas/blob/e41fe7f52a7ae6be962e683f40500624b2ba2cf6/pandas/io/formats/format.py#L1295 (and tests).

@CRP interested in submitting a fix?

[2017-05-25 12:37] WBare commented on #16284
I'm going to get started on this.

I think we need to move the naifrec idea of limiting "gap size" or "all or none" to another issue.

I did not get any comments on the suggested parameter, so I will use if everyone is cool with that.

limit_type= ('interpolate' | 'extrapolate' | None=default to both which is current_behavior)

[2017-05-25 12:48] N1t1nA opened #16494 "SQLAlchemy Oracle: Not able to connect using create_engine getting ValueError: invalid literal for int() with base 10: '0b2'"
[code]
I am getting error and not able to connect using create_engine

------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-30-bb281f9f2c1d> in <module>()
      1 import cx_Oracle
----2 engine_oracle = create_engine('oracle://admin:whatever@localhost:1521/xe')
      3

C:\Users\nitinahu\AppData\Local\conda\conda\envs\Tableau-Pyth

[2017-05-25 13:06] chris-b1 commented on #16492
I think accepting a generic date-format string would be reasonable and consistent with other APIs:

[code]

[2017-05-25 13:09] CRP commented on #16493
just created pull requested. not sure if I did everything right...

[2017-05-25 13:19] TomAugspurger commented on #16494
From the traceback, this seems to be unrelated to pandas. You might try https://www.sqlalchemy.org/support.html, looks like they recommend the docs and StackOverflow as first stops.

[2017-05-25 13:19] #16494 closed

[2017-05-25 14:34] dsm054 commented on #16463
@rohanp: are you still interested in looking at this even though it may not involve cython? ;-)  If not, I have a prototype which looks promising although my testing of it has been pretty shallow so far (and as usual, it'll probably take longer to test than to implement..)

[2017-05-25 17:23] Auerilas opened #16498 "Cannot import pandas after update of conda (PyQt4.QtGui import error)"
Recently updated conda, using conda update --all. I have conda forge, so I should be using the latest recipes. On attempting to import pandas:

#### Code Sample, a copy-pastable example if possible

[code]

I can run this following:

[code]

Any thoughts on how to proceed from here?

[2017-05-25 17:27] TomAugspurger commented on #16498
See https://github.com/pandas-dev/pandas/issues/16322 (and some linked issues).

This is fixed in master and we'll be release 0.20.2 before too long. In the meantime, it seems like removing the pyqt4 directory in your site-packages should fix the problem.

[2017-05-25 17:27] #16498 closed

[2017-05-25 17:57] theairportexplorer commented on #16357
Taking a look at this

[2017-05-25 18:10] abarber4gh opened #16499 "TST: ujson tests are not being run"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

likely related to the PyTest move.  Classes do not start with keyword **Test**

#### Expected Output

likely missing over 100 tests.

[2017-05-25 18:15] TomAugspurger commented on #16499
Thanks... Do you have a chance to submit a fix?

[2017-05-25 18:16] abarber4gh commented on #16499
I'll update with a fix.

[2017-05-25 18:25] rohanp commented on #16463
I am still interested, but feel free to share your prototype.
On Thu, May 25, 2017 at 7:34 AM DSM <notifications@github.com> wrote:

[2017-05-25 18:27] TomAugspurger commented on #16499
This is from this regex `class [^T|t].*TestCase\):` 0.19.2

[code]

The excel ones have already been taken care of. The GBQ tests have been moved. I believe all the rest are base classes, so there shouldn't be any others.

Thanks for catching these @abarber4gh

[2017-05-25 19:03] yl2526 commented on #15390
I started to work on this as well.

[2017-05-25 19:13] theairportexplorer commented on #16406
Would making tz default to 'UTC' upon Timestamp() declaration be sufficient to fix this bug?

[2017-05-25 19:30] rohanp commented on #16468
I get similar results

[code]

Why isn't bottleneck a dependency of Pandas? I didn't even know I did not have it installed until now.

[2017-05-25 20:43] Kiv opened #16503 "HDFStore __unicode__ very slow for many keys"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

The __unicode__ method of HDFStore iterates over all the keys in the file to create the string representation. For larger files this operation becomes extremely slow and dumps an excessive amount of output to the console.

Worse, this completely bogs down PyCharm's debugger because it calls str(store) for every

[2017-05-25 20:48] jreback commented on #16468
see here: http://pandas.pydata.org/pandas-docs/stable/install.html#recommended-dependencies

these *could* be deps, but ``pip`` used to have trouble with these things and they didn't work on all platforms.

and https://github.com/pandas-dev/pandas/issues/9422, which bottleneck changed in 1.0 (breaking the previous, IMHO correct API).

[2017-05-25 20:48] jreback commented on #16468
in any event, this is easily fixed by using ``np.nanmedian`` as I said.

[2017-05-25 20:51] jreback commented on #16406
@theairportexplorer no!

naive and tz-aware UTC are different! The default is naive (has always been and always will).

[2017-05-25 20:53] WBare commented on #16284
@TomAugspurger , I've got this change ready to go but in writing the docs, I realized I may create a little confusion.

Technically we are limiting the the .interpolate method to either doing an interpolation or an extrapolation, but since the name of the method is interpolate, it seems weird, from a documentation perspective, to say we can limit the interpolate method only extrapolate and not int

[2017-05-25 20:54] jreback commented on #16503
please show an example with timings.

[2017-05-25 21:01] Kiv commented on #16503
Updated description with timings. It appears to be linear in the number of keys - at 500 keys it's 2.6 seconds which is already too slow for PyCharm.

[2017-05-25 21:08] WBare commented on #16284
Or, since range has meaning, limit_area =('inside' | 'outside') may be even better.  That sort of fits with limit_direction since you move in a direction and move in an area.

[2017-05-25 21:16] jreback opened #16506 "DEPR: deprecation removals for 0.17/0.18 items"
xref #6581

We can selectively / maybe also do some 0.19 items (but let's leave them for now).

[2017-05-25 21:19] jreback commented on #16503
I *think* there is another issue about this (but can't find it at a quick glance). Sure could change ``__unicode__`` to just the info about the filepath (the first line). Can add ``.info()`` to do this.

want to do a PR?

[2017-05-25 21:22] rohanp commented on #16468
okay, working on the fix

[2017-05-25 21:32] TomAugspurger opened #16507 "DOC: Update docs to use sphinx deprecated directive"
As an example:

[code]

Some examples that need to be replaced (line numbers, and maybe filenames will change)

[code]

[2017-05-25 21:40] makmanalp opened #16508 "Indexing into a dataframe re-casts / "forgets" dtypes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

After I reassign the 0th column as int, I expect it to be int, and it appears to be that way. But when I do a `.iloc` on the dataframe, it seems to be returning back into being a float somehow!

This is the narrowed-down version of a more insidious problem where instead of doing an `iloc[]` I was running a `.ap

[2017-05-25 21:55] jreback commented on #16508
duplicate of https://github.com/pandas-dev/pandas/issues/12859

This is as expected, mixed int-float get upcasted to float. In particular on a cross section you an get upcasting generally as you are cutting across mixed dtypes (you won't get upcast if its a single dtype).

I don't think there is an easy way to get around this, though for perf reasons you never want this to be ``object``.

[2017-05-25 21:55] #16508 closed

[2017-05-25 22:07] makmanalp commented on #16508
@jreback I see. More philosophically, if we had a string or datetime or other dtype column in there, wouldn't the dtype of the result of the .iloc[] necessarily be object? It seems like that's the more sensible thing to happen. The implicit upcasting behavior on .apply or .iloc or .as_dict is surprising and not easy to track down.

Or is this upcasting behavior normal because .iloc[] returns a ser

[2017-05-25 22:11] rohanp commented on #16468
done: https://github.com/pandas-dev/pandas/pull/16509

[2017-05-25 22:27] abarber4gh opened #16510 "Implement usecols functionality for read_excel"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

based on making the argument naming consistent for various `read_*` functions (#4988), the functionality should also be consistent as well.  ideally, keeping the read_excel ability to parse a string as well.  a continuation of #16488.

#### Expected Output
expected output to using `parse_col=`/`usecols=['A','B'

[2017-05-25 22:30] jreback commented on #16508
if you had *any* other mixed dtypes it would upcast appropriately (to object if needed)

this comes fundamentally from numpy

[code]

since holding mixed dtypes in a 1-d is not generally supported, this is how it is.

[2017-05-25 22:48] makmanalp commented on #16508
OK, thank you!

[2017-05-25 22:49] kernc commented on #15550
+1 for simply overloading `.astype(..., **kwargs)` with kwargs passed to expecting functions. 👍

[2017-05-25 23:01] makmanalp commented on #12859
Note for future seekers - I'm trying to combine multiple pandas objects into one nested json structure.

Since to_json doesn't work in this case (manipulating json strings is hard), you might try to do to_dict(orient="records"), and combine the results of the to_dict()s into a bigger object, and do `json.dumps` on that. But because of this bug, you can't do that without screwing with the types of

[2017-05-26 09:35] oxhaowang commented on #16473
@jreback  I did installed with pip...

[2017-05-26 11:47] #16180 closed

[2017-05-26 12:32] #16409 closed

[2017-05-26 12:48] #16477 closed

[2017-05-26 14:25] Kiv commented on #16503
Sure, this will be my first one but I can give it a try.

[2017-05-26 14:31] TomAugspurger commented on #12859
👍  There is an issue somewhere `.to_dict` using python types.

[2017-05-26 14:40] makmanalp commented on #16048
@kszucs I think that has been fixed recently FYI: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_json.html

[2017-05-26 14:42] makmanalp commented on #12859
Seems like https://github.com/pandas-dev/pandas/issues/16048 and https://github.com/pandas-dev/pandas/issues/13258

[2017-05-26 14:43] #15972 closed

[2017-05-26 16:17] TomAugspurger opened #16515 "DatetimeIndex._maybe_cast_slice_bound with duplicates"
`DatetimeIndex._maybe_cast_slice_bound` can return the wrong value when you have an index that is monotonically decreasing, but not *strictly* monotonically decreasing.

[code]

The issue is [here](https://github.com/pandas-dev/pandas/blob/b0d9ee0b4c0911e089d4dd7c6a676557909fb7da/pandas/core/indexes/datetimes.py#L1469) That check really needs to check for strict monotonic decreasing, not just mono

[2017-05-26 16:41] bashtage opened #16516 "No API support for is_string_like"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The deprecation message for `is_string_like` says:

`DeprecationWarning: pandas.core.common.is_string_like is deprecated. These are not longer public API functions, but can be imported from pandas.api.types.is_string_like instead`

Instead it is unavailable in 0.20.1 and an `ImportError` occurs instead.

#### E

[2017-05-26 17:29] geoninja commented on #16416
I'm going to work on reset_values so we can close this issue.

[2017-05-26 19:01] drorata opened #16517 "Values of a data frame doesn't return the expected numpy array."
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The hashing suggests that `df.values != arr`.
Further investigation shows that indeed the types are different.
Moreover, each evaluation of this code yields a new hash for the data frame.

#### Expected Output

It is expected that `pd.DataFrame(np.arr).values == arr`.

#### Output of ``pd.show_versions()``

<d

[2017-05-26 19:05] jreback commented on #16517
``.values`` constructs a consolidated (single) dtyped np.array. since you have object dtypes (strings), this is ``object``. It is newly constructed each time. So hashing doesn't work

[code]

However, you *can* as of 0.20.1, use the included hashing functions which are public (though minimal documentation, except for doc-string), to efficiently hash data. These are a pure data hash and are based o

[2017-05-26 19:05] #16517 closed

[2017-05-26 19:07] jreback commented on #16516
we removed this from the API, must not be included in the moved functions (IIRC in pandas.api.types)

[2017-05-26 19:11] #16499 closed

[2017-05-26 19:18] TomAugspurger commented on #16371
@tacaswell shot in the dark here, but any guesses what's up with these kinds of failures? e.g. https://travis-ci.org/pandas-dev/pandas/jobs/236416092#L2162 No worries if you don't have any ideas.

I haven't been able to confirm it, but these failures are *consistent* with what would happen if we plot onto an existing figure with a different datetime frequency. All figures should be closed between

[2017-05-26 21:51] guygoldberg commented on #14080
Looks like this issue was already solved, by running the reproduction scenario now I get a clear exception:
`OverflowError: the add operation between <100000000000000000000000000000000000000000000000000 * Days> and 2000-01-01 00:00:00 will overflow`

[2017-05-26 23:27] jreback commented on #14080
great

do u want to do a PR with some tests ?

[2017-05-27 01:11] jotterbach opened #16519 "Regression from 0.19.2 to 0.20.1 in pandas.unique() when applied to list of tuples"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The code exits unexpectedly

[code]

#### Expected Output
The code works on pandas version 0.19.2 and produces the expected output
[code]
Moreover this problem is not limited to MacOSX, but was also encounter on Ubuntu CI server.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
--------------

[2017-05-27 08:54] bashtage commented on #16516
Is this supposed to go away and not be available or was it just not imported in the api.types module?

[2017-05-27 17:43] james-nichols commented on #16363
Using float64 does not work for me, and in any case does not address that attribute `value` is being sought from `UnaryOp`.

Left the sprints early, but looked in to this and realised I don't understand the Pandas Op class behaviour well enough.

The problem is that `UnaryOp` returns `True` for `isscalar`, which on first inspection seems a little strange. Also any descendent of `Op` (e.g. `BinaryO

[2017-05-27 20:21] jreback commented on #16516
it's supposed to go away
it should have been deprecated

[2017-05-28 00:11] gfyoung opened #16521 "TST: pytest.raises vs. tm.assert_raises_regex"
I'm wondering whether we should explicitly say in the docs that we prefer `tm.assert_raises_regex` over `pytest.raises` <em>unless</em> there is no error message to provide.  The former is a lot more informative from a dev-perspective as to why certain code should fail.

Thoughts?

(If we can agree that we do prefer the former, I also move to convert some of the tests to use `tm.assert_raises_rege

[2017-05-28 00:13] gfyoung commented on #16506
@jreback : Could we just mark which deprecations are removable in #6581?  That way we don't need to keep opening new issues every time?

[2017-05-28 00:56] jreback commented on #16506
all of them

[2017-05-28 00:57] gfyoung commented on #16506
@jreback : That's not what I meant.  I meant like saying at the top of each section (i.e. 0.17, 0.18...) that they are removable.

[2017-05-28 10:11] gfyoung commented on #15704
@jreback :

Perhaps there will be a time when we can start deprecating `inplace` ?  (Or rather, why do we want to go further down that road). :smile:

[2017-05-28 14:17] ttylec opened #16524 "Converting Series to categorical"
When converting `Series` to `categorical` dtype, the following method

[code]

fails with  traceback

[code]

When using simple list or np.array instead of pd.Series, it work. Doing `.astype('category')` also works.

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Darwin
OS-release: 15.6.0
machine: x86_64
processor: i386
byteorder: little
LC_A

[2017-05-28 14:19] mattip commented on #16336
Unfortunately cython is reluctant to change their code https://github.com/cython/cython/pull/1704

@jreback could you weigh in on where the fix should be?

[2017-05-28 15:27] jreback commented on #15704
pandas 2 will not support inplace

i suppose u can make an issue about deprecating it (at least DeprecationWarning) and see what reactions it brings

[2017-05-28 16:19] cmohl2013 commented on #15150
Just ran into the same bug.

Possible solution: calling pivot_table in crosstab always with margins=False, then
do normalization and finally call _add_margins, if margins=True.

I could try to fix it that way..

[2017-05-28 18:01] neirbowj opened #16525 "Various py3k test failures in tests.io.test_html with US-ASCII preferred encoding"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Three tests, `test_string_io`, `test_string`, and `test_file_like`, all open `spam.html` without specifying the encoding, and then attempt to read it. This causes the tests to terminate prematurely with an error.

#### Expected Output

All three tests should pass since the code under test is not responsible for

[2017-05-28 19:46] neirbowj opened #16527 "TestSQLApi/TestSQLApiConn::test_database_uri_string errors if pg8000 is installed"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The test code comments specify that `pg8000` is a "driver that will not be installed on Travis". However, when the test suite is run elsewhere, that driver may be installed.

#### Expected Output

The test should pass or skip in any environment where pandas is expected to run successfully.

#### Output of ``pd.

[2017-05-28 20:05] neirbowj commented on #16527
I looked for a way to get SQLAlchemy to enumerate the currently supported drivers and came up dry. In order to skip this test less often, I think it would be necessary to hard code a list of known drivers, which would need to be maintained, try importing them in turn to find one that isn't installed, and skip only in the unlikely event that all drivers are available. That seemed out of proportion,

[2017-05-29 01:04] gfyoung commented on #15704
That's fair.  I don't see why we shouldn't try deprecating.

[2017-05-29 01:05] gfyoung opened #16529 "API/DEPR: Deprecate inplace operations"
The parameter `inplace=False` should be deprecated across the board in preparation for `pandas` 2, which will not support that input (we will always return a copy).  That would give people time to stop using it.

Thoughts?

[2017-05-29 01:05] gfyoung commented on #15704
xref #16529

[2017-05-29 03:01] tacaswell commented on #16371
Collisions from the pyplot global state is plausible.

Does it work if you restart the test?

Flipping through the builds on master it looks like it sometimes passes and sometimes fails.  In the mpl test suite we have had issue where one tests is missing the clean up logic (which in this case I assume is taken care of in by the class?).  The dictionary iteration randomization means sometimes the s

[2017-05-29 10:08] gjanvier opened #16530 "pandas read_csv no longer supports file-like objects from tarfile (pandas 0.20.1)"
#### Code Sample, a copy-pastable example if possible

[code]
This code generates this error:
[code]

#### Problem description

This code works with pandas 0.19.2 but fails with 0.20.1.

According to pandas doc for read_csv:

I guess the new validations are too restrictive ?

[2017-05-29 11:33] bashtage commented on #16530
Works as expected on windows with 0.20.1.

[code]

Which Python?  You should include the `show_versions()` output in the details area of the template.

[2017-05-29 11:37] gjanvier commented on #16530
[code]

[2017-05-29 11:58] bashtage commented on #16530
Did you mean to close?  If it isn't working for you, please reopen.  Could be combination of Python version/OS.

[2017-05-29 12:51] gjanvier commented on #16530
oups sorry, reopen.

[2017-05-29 12:56] Ashutosh-Srivastav opened #16531 "Can't read csv using python pandas"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I am unable to read csv through python pandas.
Kindly check code snippet, it's giving following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\parsers.py", line 655, in parser_f
    return _read(filepath_or_buffer, kwd

[2017-05-29 12:58] Ashutosh-Srivastav commented on #16531
File path is proper, their are read and write permissions provided on file..

[2017-05-29 14:19] TomAugspurger commented on #16531
Can you try writing that as either `"C:\\Script\\testexp.csv"` or `"C:/Script/testexp.csv"`. I think you need to escape your backslashes.

[2017-05-29 14:25] TomAugspurger commented on #16530
Working for me as well with python3 and master.

@gjanvier can you make a fully reproducible example (including writing the csv and adding it to the tar)

[2017-05-29 14:41] TomAugspurger commented on #16515
Actually, we don't need any additional cython code. We can just do

[code]

Do we want to add that as a method? I'm slightly in favor of adding it.

[2017-05-29 15:13] gjanvier commented on #16530
Sure, here is a test case.

[code]

FYI, I run my tests in a docker container...

**Result with pandas 0.19.2**

[code]

**Result with pandas 0.20.1**

[code]

[2017-05-29 16:00] #16525 closed

[2017-05-29 16:23] jreback commented on #16531
or you can use ``r"C:\Script\testexp.csv"``

@TomAugspurger maybe worthile to put this in the doc-string / docs as this is a fairly common error?

[2017-05-29 16:23] #16531 closed

[2017-05-29 16:27] jreback commented on #16530
IIRC @gfyoung fixed this by patching ``is_filelike``, can't find the issue ATM

[2017-05-29 16:29] gfyoung commented on #16530
@jreback : The relevant PR is #16150.

[2017-05-29 16:30] jreback commented on #16524
yeah this should work. the ``riase_on_error`` arg should not be passed thru here (we changing this arg in the future anyhow)

PR's are welcome.

[2017-05-29 16:31] jreback commented on #16530
hmm, so maybe this IS an issue on py2.7?

[2017-05-29 16:48] gfyoung commented on #16530
This is indeed a compatibility issue.  Turns out `tarfile.ExFileObject` is not a proper iterator object in our eyes under the Python 2.x implementation (it has no `next` or `__next__` attribute, but Python 3.x `tarfile.ExFileObject` has the `__next__` attribute).

I guess we just need to check for the `__iter__` attribute ONLY it seems?

[2017-05-29 16:54] jreback commented on #16530
yeah maybe relax in the is_file_like only

[2017-05-29 16:55] pepicello commented on #15960
Thanks @jorisvandenbossche, I have created a very simple PR, which should do in the meantime while the Panel still exists in the codebase. I tried to imitate the behaviour for similar methods. Shame to see the Panel going, but I agree that it is better to focus on perfecting the 1D and 2D versions.

[2017-05-29 18:54] gfyoung commented on #16530
@jreback : So the C engine doesn't require that the file-like have a `next` method, but the Python engine does (we explicitly call `next(self.data)`).  This presents a slight dilemma then: how do we check that a file-like has `next` and that the engine specified is Python?

[2017-05-29 19:24] gfyoung commented on #16530
Also, I should add reading `tarfile` objects isn't actually feasible in Python's `csv` library.  So this is just for the C engine in Python 2.x

[2017-05-29 20:07] OlegShteynbuk commented on #16471
fixed, made a pull request
https://github.com/pandas-dev/pandas/pull/16534

 two files modified
pandas.io.common.py - added 'null' to _NA_VALUES, line 32

pandas.test.io.parser.na_values.py - added 'null' to _NA_VALUES, line 71, test_default_na_values() method

[2017-05-30 00:58] stepseazy opened #16536 "AttributeError: module 'pandas' has no attribute 'plotting'"
I have no idea why I'm getting this error, as I looked in the pandas folder and there is clearly a subfolder called plotting. please help.

RIk

[2017-05-30 09:43] Michael-E-Rose commented on #15049
If it's expected and desired it should be mentioned in the documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.append.html

[2017-05-30 10:15] gk13 opened #16537 "Pandas read_csv out of memory even after adding chunksize"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a 34 GB tsv file and I've been reading it using pandas readcsv function with chunksize specified as 1000000. The coomand above works fine with a 8 GB file, but pandas crashes for my 34 GB file, subsequently crashing my iPython notebook.

[2017-05-30 11:12] jreback commented on #16537
pls show ``pd.show_versions()``.

if the above is all you are doing, then it should work. exactly where does it run out of memory?

[2017-05-30 11:17] jorisvandenbossche commented on #15049
@Michael-E-Rose indeed (and you are welcome to do a small PR to update it!)

[2017-05-30 11:18] jreback commented on #16519
this is related to #16394 and needs the same fix, along with some tests; ensuring that nothing else breaks.

[code]

[2017-05-30 11:24] jreback commented on #16521
I don't think this is necessary to *always* check the actual content of the error, unless the content of the message is relevant (maybe to distinguish cases).

[2017-05-30 11:25] jreback commented on #16506
done

[2017-05-30 11:26] jreback commented on #16510
how is this different than #4988 ?

[2017-05-30 11:28] jreback commented on #16536
so this doesn't work?

[code]

show ``pd.show_versions()``

[2017-05-30 12:03] gk13 commented on #16537
I'm running it on a Jupyter notebook, and it crashes (Kernel dies) after processing 124 chunks of this data.

[2017-05-30 12:44] gfyoung commented on #16521
@jreback : Fair enough, but I think in many cases, we can though.  One of my arguments for using `tm.assert_raises_regex` is that you can get a better idea of WHY code should fail beyond just the exception being raised.

So sure, I don't think all of them need to be converted, but I still do think `tm.assert_raises_regex` should be preferred by default.  @jreback how does that sound?

[2017-05-30 12:45] gfyoung commented on #16506
@jreback : Thanks!  So either we can leave the issue open as is, or close since the relevant information is recorded in #6581.

[2017-05-30 12:50] TomAugspurger commented on #16521
FWIW, I would like to avoid calling pytest-specific methods where possible, to make a migration away from pytest easier in the far future, if that's ever necessary.

We could add a `tm.assert_raises` context manager that simply wraps `pytest.raises` at the moment.

[2017-05-30 12:56] gfyoung commented on #16521
@TomAugspurger : That is possible, though `tm.assert_raises_regex(exc, None)` also does the trick.

[2017-05-30 12:57] TomAugspurger commented on #16516
Do we have a guiding principal for stuff in `api.types`? Anything having to do with pandas-specific types should clearly be there, like `is_categorical_dtype`. I don't see why `is_bool` is there, but `is_string_like` isn't.

I have a strong preference for whether methods like `is_string_like` should be there or not.
On the one hand, there's nothing pandas-specific about it. On the other, it's anno

[2017-05-30 13:00] gk13 commented on #16537
There is no Error in the output, the notebook crashes before that

[2017-05-30 13:10] TomAugspurger commented on #16537
Not to be pedantic, but are you sure your file is tab-separated? I've had an issue where I passed the wrong separator, and pandas tried to construction a single giant string which blew up memory.

[2017-05-30 13:14] gk13 commented on #16537
Yes , I verified that too, it's tab separated :)

[2017-05-30 13:15] gk13 commented on #16537
The same function worked for a 8 GB version of the file

[2017-05-30 13:19] TomAugspurger commented on #16371
This is the best guess we have right now, thanks. I'll try to replace this
instances with explicit fig / axes creation.

Yeah, it's failing like 20-30% of the time.

Thanks

On Sun, May 28, 2017 at 10:01 PM, Thomas A Caswell <notifications@github.com

[2017-05-30 13:21] BLMeltdown opened #16538 "ENH: (explode) Splitting a column content over multiple rows while duplicating other columns content to these rows"
Hello
I know it is not a problem per se but I think there should be some pandas built in solution for this problem, as no simple function exists for this.
It is largely discussed here with various ideas (https://stackoverflow.com/questions/12680754/split-pandas-dataframe-string-entry-to-separate-rows) but they are quite tricky actually, not using built in things but hacking normal behavior for the

[2017-05-30 13:24] jreback commented on #16537
@gk13 you would have to show more code. It is certainly possible that the reading part is fine, but your chunk processing blows up memory.

[2017-05-30 13:25] jreback commented on #16538
can you post a copy-pastable example. having these in-line in the top description (as well as a link) is useful.

[2017-05-30 13:26] jreback commented on #16521
I don't think this is a good reason. The good reason is that simply changing an error message can cause failures which are not immediately obvious (of course you *want* things to fail, but this mean that your regext could be too strict).

[2017-05-30 13:29] gk13 commented on #16537
Ive updated the code below. It blows up after processing foo 124 times

[2017-05-30 13:31] BLMeltdown commented on #16538
Let's say we have

df

    var1  var2
0  a,b,c     x
1  d,e,f     y

df.desired_function("var1")

  var1  var2
0    a     x
1    b     x
2    c     x
3    d     y
4    e     y
5    f     y

[2017-05-30 13:32] gfyoung commented on #16521
@jreback : I think @TomAugspurger was somewhat separate from the main discussion.  That being said, what you said is one reason why I think we should prefer `tm.assert_raises_regex` by default.

[2017-05-30 13:43] jreback commented on #16516
we expose type specific introspection methods. IIRC we took out ``is_string_like`` because it didn't match the patter of others. I guess should be renamed to ``is_string`` (e.g. meant to detect scalar strings). The ``is_string_like``.

So I guess this got dropped somehow.

[2017-05-30 13:47] jreback commented on #16537
this keeps the reference around, you an ``gc.collect()`` or better yet is not to even use ``inplace``.

[2017-05-30 13:47] BLMeltdown commented on #16538
d=pd.DataFrame(list(zip(*s2.str.split(","))))
Out[93]:
     0    1    2
0   a2   b2   c2
1   a3   b3   c3

d.stack()

0  0     a2
   1     b2
   2     c2
1  0     a3
   1     b3
   2     c3

Is a good starting point, but i guess that reindexing the other columns is not that easy. And anyway, it would be better to use a dedicated algorithm than to make a general call to various functions.

[2017-05-30 13:56] jreback commented on #16538
you are asking for ``explode``: see some other references here: https://github.com/pandas-dev/pandas/issues/8517#issuecomment-178848365

sure I think we could have this as a string method. It is generally useful.

[2017-05-30 14:01] BLMeltdown commented on #16538
Thanks a lot! yes, this is it. actually the most satisfactory method I found is from SO InoDB (https://stackoverflow.com/users/1894184/inodb)

   var2 var1
0     1    a
0     1    b
0     1    c
1     2    d
1     2    e
1     2    f

(I came up with the stack and before, I was not good with reindexing and joining)

But anyway a general purpose function with adjustable setting will be nice. Thanks

[2017-05-30 14:34] gk13 commented on #16537
I tried gc.collect() before returning from foo, didn't help.

[2017-05-30 14:58] stepseazy commented on #16536
I'm getting this error now when I try to import pandas. My pyqt is 5.6.0, not sure if that is the problem:

[code]

[2017-05-30 15:00] TomAugspurger commented on #16536
See https://github.com/pandas-dev/pandas/issues/16322 then.

Can you check if you have a (maybe empty) `PyQt4` directory in your site-packages? Removing that should fix it.

[2017-05-30 15:29] tacaswell commented on #16371
Adding an explicit `clf()` might also help.

[2017-05-30 15:37] gk13 commented on #16537
Any other suggestions?

[2017-05-30 15:52] bashtage commented on #16516
I used it because it was simple and I didn't need to worry about corner cases since these would be handled by pandas.  Ultimately it is a very simple function and so I have now just locally copied it.

In terms of public API, I would suggest that is makes most sense to only expose things that are used to detect Pandas types, which is similar to what was left exposed from `testing`.

[2017-05-30 17:07] stepseazy commented on #16536
Fixed it thanks.

-Rik

[2017-05-30 17:08] BLMeltdown commented on #8517
The topic I reference in the above link (https://stackoverflow.com/questions/12680754/split-pandas-dataframe-string-entry-to-separate-rows) also leads to https://stackoverflow.com/questions/17116814/pandas-how-do-i-split-text-in-a-column-into-multiple-rows.

[2017-05-30 17:35] #16536 closed

[2017-05-30 17:41] lumylovepandas opened #16540 "Linear Regression using Pandas"
### Code Sample from Stamford

[code]

#### Problem description
Pandas doesn't plot the expected graph as the website mention in it.
the bug is at this line:
data.plot(kind='scatter', color='Blue', x='length', y='weight', ax=axes[0],title='Original Values')
lm_original_plot.plot(kind='line', color='Red', x='length', y='weight', ax=axes[0])
The x-axis data is being flipped when pandas try to plot i

[2017-05-30 17:43] TomAugspurger commented on #16540
Can you simplify the problem, and narrow down what the exact bug is?

[2017-05-30 17:48] lumylovepandas commented on #16540
The bug is at this line:
data.plot(kind='scatter', color='Blue', x='length', y='weight', ax=axes[0],title='Original Values')
lm_original_plot.plot(kind='line', color='Red', x='length', y='weight', ax=axes[0])

Please observe the x-axis line, the data is 90, 85, 80, the sequence is reversed. It suppose to be linear in sequence.

[2017-05-30 17:50] jorisvandenbossche commented on #16506
Let's close this, as the actual to do list is in #6581. Changed the milestone on the other issue

[2017-05-30 17:50] #16506 closed

[2017-05-30 17:52] gfyoung commented on #6581
@jorisvandenbossche : Do we want to keep changing the milestone version each time?  Your call.

[2017-05-30 17:53] TomAugspurger commented on #16540
Could you simplify the example output then? You should be able to construct a simple dataframe or series that shows the unexpected output. No need for any of the regression stuff.

I'd like the example to be as simple as possible, so we can clarify what the point of confusion is. I think pandas may be behaving as intended here, but I'd like to make sure first.

[2017-05-30 17:55] lumylovepandas commented on #16540
I can't simplify the output as you wish, you need to click the link and study the example.

[2017-05-30 17:56] jorisvandenbossche commented on #6581
It's not much work to change it :-)
I would put it at that milestone, then it is clear that there is work here to be done for that release. Once everything for that release is done, or when it's time for rc and we don't further put in deprecations, we just change it to the next release.
I see that @jreback had put it at an "Admin" milestone, but I think the workflow described above is OK?

[2017-05-30 18:03] gfyoung commented on #6581
@jorisvandenbossche : This workflow works me.  It's a lot clearer now what deprecations need to be tackled and when.

[2017-05-30 19:25] MaximilianR opened #16541 "BUG: Joining a DataFrame with a PeriodIndex fails"
#### Code Sample
[code]

It seems the sort kwarg is invalid, but the internals are passing it in regardless

#### Output of ``pd.show_versions()``

<details>
In [22]: pd.show_versions()
/usr/local/lib/python2.7/dist-packages/xarray/core/formatting.py:16: FutureWarning: The pandas.tslib module is deprecated and will be removed in a future version.
  from pandas.tslib import OutOfBoundsDatetime

INS

[2017-05-30 19:40] TomAugspurger commented on #16540
@lumylovepandas here's a *minimal* example that demonstrates the problem

[code]

![gh](https://cloud.githubusercontent.com/assets/1312546/26601535/ce6c2a90-4545-11e7-9581-fe1531f2db45.png)

Since this doesn't have any extraneous information (like data generation, regression, additional plots) it's easier to see that it's a duplicate of https://github.com/pandas-dev/pandas/issues/10118. Post there

[2017-05-30 19:40] #16540 closed

[2017-05-30 22:02] chris-b1 opened #16542 "PERF: cythonize vectorized string routines"
Not a night and day improvement since all we're doing is removing some python overhead, but there does seem to be 2x+ performance to be picked up.  Possibly could use some of the template machinery to make these easy to write.

I wouldn't consider this high priority given long term plans to replace the string dtype, but could be worth it.

[code]

[2017-05-30 22:46] jreback commented on #16542
you can actually get even better perf by using c-functions and maybe even release the GIL (though this is a bit trickier code).

[2017-05-30 22:48] jreback commented on #16542
xref to #4694

[2017-05-30 22:54] chris-b1 commented on #16542
Yeah, looks like the cythonization isn't really what's helping in my example, it's the avoidance of na checks.
[code]

[2017-05-30 23:12] #16058 closed

[2017-05-31 00:58] jreback commented on #16515
@TomAugspurger yeah that sound fine (add tests as well), do this in base and it should just work for all Index sub-classes (maybe add is_strictly_monotonicaly_decreasing as well)

[2017-05-31 00:59] jreback commented on #16336
@mattip your changeset looks fine here. assuming it passes everything.

[2017-05-31 01:18] jreback commented on #16541
this fixes if you can do a PR

[code]

obviously need some more tests on the index join methods as well :>

Here is the tests for datetimes in ``pandas/tests/indexes/datetimes/test_datetimes.py``
need to do something like this in periods/test_period.py
[code]

[2017-05-31 01:18] jreback commented on #16541
if you can do this in next day or 2 can get into 0.20.2 (end of week)

[2017-05-31 02:00] jtratner commented on #16530
@gfyoung - I hit the same issue when trying to pass Luigi's `ReadableS3File` to `read_csv` in pandas 0.20.1.

My understanding is that that while this is not required to be true for a file-like:

[code]

What *is* required is that it produce an iterator with a next method.
[code]

So if pandas wants to use `next(self.data)` perhaps just need to call `iter` on it first and work from there?

[2017-05-31 02:00] jtratner commented on #16530
But I'm not sure this is explicitly defined anywhere, so much as it looks like an in-practice kind of thing.

[2017-05-31 02:14] TomAugspurger commented on #16361
@jreback I think this blocker for 0.20.2? I can take a look tomorrow if you don't have time.

[2017-05-31 02:16] jreback commented on #16361
hmm did this work on 0.19.2?

[2017-05-31 02:23] TomAugspurger commented on #16361
I think so

[code]

[2017-05-31 02:39] #16371 closed

[2017-05-31 02:53] gfyoung commented on #16530
@jtratner : For an object to be file-like, I am proposing that the object just have an `__iter__` method (it need not have `next` or `__next__`).  What you propose <em>might</em> work but would require a little more beefing up, as `iter` objects are not file-like by themselves.  If we combine attributes from `iter` and the object we are wrapping, we could get a valid file-like.

Interesting idea.

[2017-05-31 03:58] jtratner commented on #16530
@gfyoung - cool I agree with your definition :) - just was reinforcing that the definition of file-like as "has __iter__" is upheld many places but not having the `next()` method.

[2017-05-31 04:13] james-nichols commented on #16363
I've run the test suite with `isscalar` set to `False` in the `Op` class, and it doesn't seem to break anything. In my opinion I think someone got the notion of what a scalar in this case confused with the notion of a scalar in terms of numpy arrays, somewhere along the way. I think only objects of type `Term` and descendants should return `True` for `isscalar`.

Any thoughts?

[2017-05-31 06:32] saddy001 commented on #13416
Please also consider the following case:
I have a DataFrame of class "**A**" instances (object type). Instances of **A** behave much like floats, but they don't implement \_\_float\_\_, because I want to evaluate them lazily (very expensive calculation). For this, I call **A**().GetValue() which evaluates the calculation function.
So I rely on pandas to not enforce converting the **A**()s to float

[2017-05-31 08:06] christian-eriksson opened #16544 "Importing pandas module breaks expected behavior of Thread[ed] script"
Importing pandas into a script running two thread instances, of Thread from the threading module, breaks the expected behavior. The threads do not seem to wake up after they initially start. Moving the import statement into the threaded class seems to be a workaround, in some cases, but the behavior is not documented so it might be difficult to both find the bug and implement the workaround.

####

[2017-05-31 08:17] jorisvandenbossche commented on #11680
Closing this issue as this does not seem to be an issue with pandas (but rather from importing seaborn or custom matplotlibrc)

[2017-05-31 08:17] #11680 closed

[2017-05-31 08:20] jorisvandenbossche commented on #16544
@SirSkorpan Thanks for the report!
Would you be able to test with pandas master if you have the same issue?

[2017-05-31 08:45] jorisvandenbossche commented on #16544
I tried this, and can't seem to reproduce this (on Ubuntu 16.04, both with python 3 and 2)

[2017-05-31 08:54] #14764 closed

[2017-05-31 09:41] SirSkorpan commented on #16544
That's interesting, we have tried it on two different machines running Ubuntu (one virtual). We both got the issue with pandas 0.20.1 but not 0.19.2. On Windows, I've only tried with 0.19.2 and experienced no issues.

I'll see if I can figure out how to run the master and report back.

[2017-05-31 09:58] mitar opened #16546 "Cannot specify internal dtype for categorical dtype when reading a CSV file"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When loading CSV data it seems it is not possible to specify what should be internal dtype for a categorical type. I can specify that it is categorical, but not that it is integer.

#### Expected Output

[code]

But if I do:

[code]

It would be great if I could at CSV reading time specify both that the column

[2017-05-31 10:52] chris-b1 commented on #16546
You are correct - specifying the category dtype when parsing is not currently supported, it is guaranteed that the categories are `object`.  See docs here:
http://pandas.pydata.org/pandas-docs/stable/io.html#specifying-categorical-dtype

You can convert the categories after parsing as in the doc example:
[code]

[2017-05-31 10:52] #16546 closed

[2017-05-31 11:04] BLMeltdown opened #16547 "groupby optional setting (get_group or general?): getting a column value list per group instead of index"
hello
When using the mighty groupby function, I found myself quite disappointed by something:
indeed, it is very useful regarding operations, but one of the most basic one is not mathematical.
It is about getting the values associated to a column (or series of columns) per group.

Maybe I missed something about the split-apply-combine strategy*, but I don't get how to retrieve simply the content o

[2017-05-31 11:05] mitar commented on #16546
Thanks for the reply. It makes sense.

[2017-05-31 11:08] jreback commented on #16547
pls show an explict example with code of your input and output. not really sure what you are after.

[2017-05-31 11:34] BLMeltdown commented on #16547
Well that's a part of a longer question in both parts.

Let's say my df is:

index    "A"    "B"
0           A1    "B1,B2,B3"
1           A2    "B2,B4,B3"
2           A3    "B2,B3,B5"

and I want to do magical_function(df)

index    "B'"    "A''"
0           B1    "A1"
1           B2    "A1,A2,A3"
2           B3    "A1,A2,A3"
3           B4    "A2"
4           B5    "A3"

So I used an exploding st

[2017-05-31 11:39] jorisvandenbossche opened #16548 "DOC: html docs - style parameter box impacted by jupyter notebook"
See eg http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.read_csv.html#pandas.read_csv. The 'Parameters' is vertically aligned in the middle of the cell, and therefore not visible anymore. Also something of the coloring has changed, but not sure if that matters much.

[2017-05-31 11:42] jorisvandenbossche commented on #16548
@TomAugspurger so because the Parameter sections are actually tables, it uses the styling you added for the Style notebook.

But I was thinking, would it make sense to add the 'dataframe' class the the `styler` html output, similar as to the conventional html notebook repr of a DatFrame?
If we do that, we can just add the 'dataframe' class to the css styles you added. We can also solve this in ano

[2017-05-31 11:48] jreback commented on #16547
better to ask this on SO.

[2017-05-31 11:48] #16547 closed

[2017-05-31 11:51] jreback commented on #14758
this works on master if someone wants to do a test.

[2017-05-31 11:51] jreback commented on #14758
cc @gfyoung

[2017-05-31 11:55] jreback commented on #11199
https://github.com/pandas-dev/pandas/pull/16549 should fix this.

if someone wants to do a test.

cc @gfyoung

[2017-05-31 11:56] jorisvandenbossche opened #16550 "False positive SettingWithCopyWarning when just taking subset of columns"
From an example of @glemaitre, it was a simple case of taking a subset of the columns and then further working with it and then raises a warning (a case where I would have thought pandas should be able to detect that it is not needed to raise a warning)

After some experimenting, it seems that it is only triggerd when the frame is first printed:

Simple case raising the false positive warning:

[c

[2017-05-31 11:56] #13490 closed

[2017-05-31 11:57] #16209 closed

[2017-05-31 11:59] jorisvandenbossche commented on #16550
Ah, IPython is keeping a reference to the output (so the actual dataframe) when you display `df`, so that might interfere with pandas' detection?

[2017-05-31 12:00] BLMeltdown commented on #16547
Ok, sorry

[2017-05-31 13:30] ncaon opened #16551 "Updating pandas to v0.20.1 breaks Spyder"
After updating pandas to the latest version, 0.20.1, spyder (v3.1.4, Python 2.7.9 64bits, Qt 4.8.6, PyQt4 (API v2) 4.11.3) on Linux, Fedora 21, does not start anymore, and issues the following error message
[code]
Reverting to the previous installed version, v0.19.2 makes spyder work again.

It looks like pandas v0.20.1 is somehow setting the PyQt API to version 1:
[code]

With v0.19.2 (and every

[2017-05-31 13:34] TomAugspurger commented on #16551
That was my thought as well: https://github.com/pandas-dev/pandas/issues/16322

@ncaon can you try installing pandas master to see if that fixes the issue?

[2017-05-31 13:34] jorisvandenbossche commented on #16551
See PR https://github.com/pandas-dev/pandas/pull/16294 that prevents clipboard functionality (and thys PyQt4) to be imported on the main import.

Would you be able to check that it works with pandas master?

[2017-05-31 14:08] jlopezpena opened #16552 "Type changing when extracting rows of a dataframe"
[code]
#### Problem description

If a dataframe contains mixed `int` and `float` types, extracting a row converts all the
elements to floats, instead of respecting the proper one.

This has bitten me a couple of times when saving dataframe contents to mongo documents
(one document per row).

Is this desired behaviour?

[2017-05-31 14:11] jorisvandenbossche commented on #16552
Yes, this is the expected behaviour. Accessing a row like that gives you a Series, and a Series always has a single dtype. So in this case it upcasts all elements to float (and not to object and keeping the original types)

If you want to do something row by row (and when this is inevitable), I would rather suggest to use eg `itertuples`, which does not convert each row to a Series, and thus prese

[2017-05-31 14:25] TomAugspurger commented on #16552
You could `.astype` everything to object ahead of time.

[code]

will have a mix of (python) integers and floats. But FYI, this will in general be slow if you do any other operations (maybe not a concern if it's a single row), and if you do any pandas operations on that, they could be cast back to floats.

[2017-05-31 14:25] #16552 closed

[2017-05-31 14:31] TomAugspurger commented on #15649
Closed by https://github.com/pandas-dev/pandas/issues/15649 (I think solved everything, just forget to close it).

[2017-05-31 14:31] #15649 closed

[2017-05-31 14:40] TomAugspurger commented on #16548
Yeah, that sounds good, but it could probably use a deprecation cycle.  The way you'd do this manually is

[code]

That'll give `<table id="T_5e651fba_460e_11e7_8396_186590cd1c87" class="dataframe">`

For now, I can add that to the `style.ipynb` and update the css. It'll be a bit of noise, but it'd be nice to fix the docs.

Or I guess we could update our sites CSS. The "Parameters" section is in t

[2017-05-31 14:49] ncaon commented on #16551
I'm happy to confirm that with pandas 0.21.0.dev+105.g03d44f3 the issue is fixed

[2017-05-31 15:07] TomAugspurger commented on #16551
Thanks. 0.20.2 should be out in a couple days.

[2017-05-31 15:07] #16551 closed

[2017-05-31 15:59] gfyoung commented on #14758
Why should we inferring `object`.  It's perfectly acceptable as `uint64`- this is yet another example of how we don't have great support for `uint64`.

[2017-05-31 16:01] gfyoung commented on #14758
I believe the correct return `dtype` should be `uint64`, as illustrated by the fact that we get an `int` when adding a smaller number:
[code]

[2017-05-31 16:24] TomAugspurger opened #16554 "MultiIndex is_monotonic_decreasing is incorrect"
Or just isn't implemented properly yet?
This MultiIndex is identical on the second level, so its `is_monotonic_decreasing` should be the same as `get_level_values(0).is_monotonic_decreasing` (True)

[code]

They should both return True.

[2017-05-31 16:42] jreback commented on #14758
this was before uint64 support that's why it works now

just need a test to verify

i bet this will break though with a number out of range for uint64 though (but maybe separate issue)

[2017-05-31 16:49] gfyoung commented on #16469
I suspect that I would towards using the latter, since why specify all of the column names if you're not going to use all of them?

[2017-05-31 17:23] ngould commented on #5401
I just came across this thread after looking to an answer to the same question. I think the following API would be great, noting that when the `how` argument is set to `cross`, the `on` argument must be `None`.

For `pd.merge`:
``result = pd.merge(df1, df2, how='cross')``

For `pd.DataFrame.merge`:
``result = df1.merge(df2, how='cross')``

For `pd.DataFrame.join`:
``result = df1.join(df2, how='cro

[2017-05-31 17:41] dsm054 commented on #5401
I was just thinking about this the other day when I was looking at old branches.  It seems reasonable to try to get this into 0.21.

[2017-05-31 17:53] rhendric opened #16556 "PERF: remove_unused_levels is very slow"
#### Code Sample

[code]
#### Problem description

On my laptop, `x` takes 20 to 40 times as long as `y`, despite `y` doing the extra work of sorting the second level and reindexing the series in the process. The outputs, except for the sorting of the second level, are identical. Why is `remove_unused_levels` so slow?

#### Expected Output

`remove_unused_levels` should be at least as fast on larg

[2017-05-31 18:10] preddy5 commented on #16524
@jreback this fixes the issue, could you review the PR and let me know if am doing it wrong.

[2017-05-31 19:09] jschendel opened #16558 "IntervalIndex is_monotonic_decreasing is incorrect"
#### Code Sample, a copy-pastable example if possible

[code]

This also incorrectly returns `False` for `is_monotonic`:
[code]

However, `is_non_overlapping_monotonic` does correctly return `True`:
[code]

#### Problem description
The intervals are monotonic decreasing but the `is_monotonic_decreasing` and `is_monotonic` attributes are returning `False`.

#### Expected Output
I'd expect both `is_

[2017-05-31 19:23] gaptekar opened #16559 "Old read_csv() & EOF character issue back"
I recently updated from pandas 0.19.2 to 0.2
I am experiencing the exact same issue as this person did back in 2013
https://github.com/pandas-dev/pandas/issues/5500
"Error tokenizing data. C error: EOF inside string starting at line. 140"

Reverting back to 0.19.2 has fixed the issue. Can run the unit test that was created for this problem?
 https://github.com/gfyoung/pandas/commit/8c4cf85943e647c

[2017-05-31 19:29] jschendel opened #16560 "IntervalIndex is_non_overlapping_monotonic is incorrect when endpoints are shared"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The intervals have an overlap in the endpoints, 1 is shared among `[0, 1], [1, 2]` and 2 is shared among `[1, 2], [2, 3]`, but `is_non_overlapping_monotonic` returns `True` indicating that the intervals are non-overlapping.

#### Expected Output
I'd expected `is_non_overlapping_monotonic` to return `False`.

If

[2017-05-31 20:35] mitar opened #16561 "Efficient conversion from dataframes to numpy arrays retaining column dtypes and names"
#### Problem description

I was looking into how to convert dataframes to numpy arrays so that both column dtypes and names would be retained, preferably in an efficient way so that memory is not duplicated while doing this. In some way, I would like to have a view on internal data already stored by dataframes as a numpy array. I am good with all datatypes already used in dataframe, and names ther

[2017-05-31 20:47] IvanBarrientos opened #16562 "pandas.DataFrame.rolling: can window be an int or offset, as suggested in the docs?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The pandas 0.20.1 documentation for the rolling() method here:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rolling.html
suggest that window may be an offset:
"window : int, or offset"
However, the code under core/window.py seems to suggest that window must be an int.

#### Expected O

[2017-05-31 20:48] TomAugspurger commented on #16561
Can you show an actual example (construct a dataframe, and then what you'd like to be able to do)?

Not sure how much you've looked into the internals, but there won't necessarily be a numpy array, as in a single numpy array, backing a DataFrame. The data model is a bit more complex than that.

Could you also say a bit more about your use-case?

[2017-05-31 20:55] jstray commented on #12679
+1 for maintaining the original order

[2017-05-31 21:53] qingkaikong opened #16564 "ImportError: No module named index when load a pickle file generated by old version Pandas"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I generated a pickle file with dataframe on one machine using pandas version 0.17.0, but when I try to load the pickle file on another machine with pandas version 0.20.0, I got the above errors. If I use pandas 0.17.0 to open the file, it works fine. I thought it should backward compatible, it seems not.

Curren

[2017-05-31 21:57] IvanBarrientos commented on #16562
index must be single level of datetimes

[2017-05-31 21:57] #16562 closed

[2017-05-31 21:59] jschendel commented on #16558
Looks like this is a dupe of #16554.  I initially thought they were distinct issues, as a MultiIndex isn't explicitly being used, but it looks like the IntervalIndex version of  [`is_monotonic_decreasing`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/interval.py#L547-L548) just borrows the MultiIndex version though [`_multiindex`](https://github.com/pandas-dev/pandas/blob/m

[2017-05-31 22:03] mitar commented on #16561
I am using Pandas to read multiple CSV files, make sure indexes across the match and are in same order (using `.loc`), especially to match samples and targets which are split into two files. Some of columns are categorical, so I can use Pandas to automatically encode them for me. And then I want to convert them to a numpy array because the rest of the pipeline expects that.

An example would be so

[2017-05-31 22:05] jschendel commented on #16560
At first glance, I think this amounts to using strict inequalities when `closed='both'`, and using the existing inclusive inequality code for [`is_non_overlapping_monotonic`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/interval.py#L555-L560) otherwise.

[2017-05-31 22:43] chris-b1 commented on #16564
To read pickle files in a back-compat way, use `pd.read_pickle` see doc note (warning box) here
http://pandas.pydata.org/pandas-docs/stable/io.html#pickling

[2017-05-31 22:43] #16564 closed

[2017-05-31 22:44] #16361 closed

[2017-05-31 22:47] jreback commented on #16554
only implemented is_monotonic_increasing. It needs the same impl. (but its not used anywhere ATM).

[2017-05-31 22:49] chris-b1 commented on #16561
Isn't your desired output what `to_records(index=False)` produces?

[code]

[2017-05-31 22:52] mitar commented on #16561
But this `np.recarray` and not `np.array`?

[2017-05-31 22:53] jreback commented on #16561
@mitar

using multi-dtype ndarrays is *only* supported via rec-arrays (as @chris-b1 shows how to convert).

You certainly can select out columns or do a ``.values`` conversion. But the target function needs to potentially deal with an ``object`` dtype array. So this is not efficient at all. You need to segregate dtypes; it is simply a lot of work to do with numpy arrays. pandas does this with ease

[2017-05-31 22:53] #16561 closed

[2017-05-31 22:54] mitar commented on #16561
Thank for the input. I will look more into this.

[2017-05-31 22:56] chris-b1 commented on #16561
From what I recall `recarray` is very thin subclass, something like this probably works if you have a strict ndarray requirement downstream.

[code]

[2017-05-31 22:59] jreback commented on #16556
look at my comment here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/multi.py#L1314

you are welcome to provide another implementation if you'd like.

[2017-05-31 23:00] qingkaikong commented on #16564
Thanks Chris for help,

I tried to use read_pickle, but I actually stored a list of dataframe, i.e. [df1, df2, df3] into a pickle file, using the read_pickle is not working. Are there any other ways I can work around?

[code]

[2017-05-31 23:02] #16558 closed

[2017-05-31 23:04] #16336 closed

[2017-05-31 23:10] chris-b1 commented on #16564
I'm not particular familiar with the code, but you're welcome to try hacking on the compat code to make it work, may not be that hard - in general our backwards compat stuff applies only to saved frames.
https://github.com/pandas-dev/pandas/blob/e437ad594048cc28873df13ccf50cd39a4e88dcb/pandas/compat/pickle_compat.py

If you're often transferring data across pandas version, might consider a more st

[2017-05-31 23:10] #15960 closed

[2017-05-31 23:10] rhendric commented on #16556
Cool, I may take a swing at that. Would a replacement implementation have to produce level lists with the same order as the current implementation, or does that not matter as long as `.values` remains the same as the input index? Docstring seems to imply the latter, but just checking.

[2017-05-31 23:16] jreback commented on #16556
@rhendric

I *think* you DO need to produce the same orderings, otherwise things won't be sorted. But not 100% sure this is a strict guarantee. We have *some* tests which exercise this (prob need a few more).

The before and after *have* to be equal. So technically your example doesn't meet this test. However it may be possible to recompute the missing levels, then simply reorder them. (again the

[2017-05-31 23:18] jreback commented on #16560
``closed='both'`` is not very well tested. Almost all things exercise ``closed='right'``, which is the default. So for certain could add some tests.

[2017-05-31 23:19] jreback commented on #16559
can you show a reproducible example.

[2017-05-31 23:20] qingkaikong commented on #16564
Thanks Chris, I will try to play with it and hopefully making it work for my case ^)^

I totally agree that using other format is better, currently I am using HDF5 for another project, but due to all the code and workflow using the pickle file, I am lazy to change that. But thanks for the suggestions.

[2017-05-31 23:21] jreback commented on #16550
could be. I don't think this is bug. maybe add a test to verify?

[2017-05-31 23:29] rhendric commented on #16556
Hm. Then I think there's not just a performance issue, but an actual bug. `filtered_series.index.remove_unused_levels().equals(filtered_series.index)` is false for me, when prepared as above.

Should I open a second issue or will this one serve for both?

[2017-06-01 00:09] jreback commented on #16556
no these won't compare equal
the level indexers have changed

[2017-06-01 00:11] rhendric commented on #16556
I think you're misreading me? I'm comparing the input and output of `remove_unused_levels` here, not comparing it with the different index from my original example.

[2017-06-01 08:37] eoincondron opened #16566 "Bug using fillna after resample."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`fillna` doesn't work as expected for some strange reason here. Multiplying by `1` seems "fix"things:
[code]
but using `astype` does not
[code]
unless using a mapping
[code]

`isnull` gives the expected output:
[code]
Constructing a the data frame directly gives the expected output:
[code]

#### Expected Output

[2017-06-01 08:42] mitar opened #16567 "Option for making pandas dataframe completely immutable"
It seems currently there is no option similar to numpy's [setflags](https://docs.scipy.org/doc/numpy/reference/generated/numpy.matrix.setflags.html) to make pandas dataframe completely immutable (writeable=false). We are considering a design where we use immutability to know that we can cache objects. While we can still design a system like that, it would be great if we could enforce immutability

[2017-06-01 09:58] jreback opened #16568 "BLD: PEP8 dev tag"
[code]

see dev -> dev0. I guess this is PEP8? maybe next time we dev tag should fix.

just shows up on a ``make``

[2017-06-01 09:58] jreback commented on #16568
cc @TomAugspurger

[2017-06-01 10:00] jreback commented on #16566
dupe of #16361 and fixed in #16549, will be in 0.20.2 release end-of-week.

[2017-06-01 10:00] #16566 closed

[2017-06-01 10:05] jreback commented on #16567
This is not in-scope for pandas 1.x, it *could* be done in a sub-class.

Virtually all operations return new objects. Simply don't use ``inplace`` flags, nor do in-place indexing and you have de-facto immutability.

[2017-06-01 10:05] #16567 closed

[2017-06-01 10:08] jreback commented on #16567
you can also use ``pandas.util.hash_pandas_object`` to make data hashes as well.

[2017-06-01 10:30] #16519 closed

[2017-06-01 10:35] #16405 closed

[2017-06-01 10:37] #16515 closed

[2017-06-01 10:38] #16530 closed

[2017-06-01 10:51] #16493 closed

[2017-06-01 10:57] #16459 closed

[2017-06-01 11:10] jreback commented on #16279
@TomAugspurger this is fixed?

[2017-06-01 11:12] TomAugspurger commented on #16279
Yeah, thanks to Joris.

[2017-06-01 11:12] #16279 closed

[2017-06-01 11:15] jreback commented on #16367
from the example above.

[code]

I think the issue is that the meaning of ``dropna`` is just confusing. maybe have strings instead?
are there 3 cases here that are useful?

[2017-06-01 11:20] TomAugspurger commented on #16568
From [pep 440](https://www.python.org/dev/peps/pep-0440/)

So yeah, we should do that. I updated the release wiki.

[2017-06-01 11:34] jreback commented on #16568
great thanks!

[2017-06-01 11:34] #16568 closed

[2017-06-01 12:06] randomgambit opened #16569 "strings not properly detected despite correct dtype in read_csv"
Hello there!

I am working with text data, and I read my data in using

[code]

As you see, I make sure that my headline variable is a `str`. However, when I type

`collapsed = data_full.groupby('day').HEADLINE.agg(lambda x: '| '.join(x))`

I get :

[code]

To fix the problem, I need first to type

`data_full['HEADLINE'] = data_full['HEADLINE'].astype(str)`

Is that expected? I thought specifying

[2017-06-01 12:39] linar-jether opened #16571 "Non-inclusive partial string indexing on DatetimeIndex"
Currently, the only way to query a time series object in the form of `start_time < t < end_time`, is by using a boolean mask array, as using `loc[slice]` includes both the start and end of the range.

Querying using a boolean array is very slow compared to a slice on large dataframes, and pretty much makes no sense, as it always returns an array the size of the dataframe when my query only looks a

[2017-06-01 12:47] TomAugspurger commented on #16569
Can you provide a copy-pastable example (including frame generation and writing out CSVs)?

[2017-06-01 12:50] randomgambit commented on #16569
haha that would be to easy ! :)

The data contains news articles, so the headline can contain anything, from crazy chinese characters to numbers, special characters and the like.

Maybe a possible solution here would be to look at the rows that are incorrectly parsed (that is float .vs str)? Do you know how to do that? Then I can show you what they look like but of course I cannot post the raw dat

[2017-06-01 13:25] jreback commented on #16571
pls read the docs: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#indexing

you are in fact using a convenience method, which *only* supports boolean indexing, powered by ``numexpr``.

[2017-06-01 13:50] gnebehay opened #16572 "merge of int and float column results in column of dtype object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The output is
[code]
meaning that Y was incorrectly upcast to object.

In pandas 0.19, the dtype of B.Y after merging is float64.
In pandas 0.20, the dtype of B.Y after merging is object.

The problem only occurs if some keys in B.Y are missing (try adding 2.0)

#### Expected Output
[code]

#### Output of ``pd.s

[2017-06-01 13:58] Tafkas commented on #16554
`is_monotonic_increasing` is based on `numpy.lexsort`which seems not to support ordering in descending order.

[2017-06-01 14:02] TomAugspurger commented on #16554
Can we define `is_monotonic_decreasing` in terms of increasing? Something like

[code]

not sure if that will work. Looks like `nunique` may not be implemented on MI.

[2017-06-01 14:36] linar-jether commented on #16571
Yes, I've read the docs...
Note that the issue is about slicing with open/closed ranges, similar to `df.between_time`

Currently the .loc slicing is always inclusive at both ends of the range

[2017-06-01 16:16] jschendel commented on #16569
Do you have any missing values in your 'HEADLINE' column?  You can check with `data_full['HEADLINE'].isnull().any()`.

Missing values would be read in as `np.nan` despite the `dtype` specification.  Using `astype(str)` would convert `np.nan` values to the string `'nan'`, which would explain it works after doing so, though I don't know that it's working as you intended, as you'd get something like

[2017-06-01 16:41] randomgambit commented on #16569
I think you found the correct solutionn!!

That raises the question of: is that the expected output?
Shouldnt we have the missing values read in as `""` instead of `np.nan` when the user specifies `dtype = str` ?

[2017-06-01 16:56] TomAugspurger commented on #16569
I don't think so (at least not by default). There is the
`keep_default_na=False` option to `read_csv`, if you'd like to disable that.

On Thu, Jun 1, 2017 at 11:41 AM, Olaf <notifications@github.com> wrote:

[2017-06-01 17:31] madhav-datt opened #16574 "KeyError in pandas.io.gbq.read_gbq when no DataFrame should be returned"
#### Problem description

I am trying to use the `read_gbq` function from `pandas.io.gbq` as a means to execute `INSERT` or `UPDATE` queries on BigQuery. These queries do not return anything and so there is nothing for pandas to retrieve and return to my program, and so my expected output for something like this would be that no dataframe is returned (ie. it should ideally return `None`), instead

[2017-06-01 17:38] matjazk commented on #16474
Going from panda 0.18.1 to 0.20.1 I encountered the same problem when loading with joblib. `joblib.load` fails with exactly the same error:
`ImportError: No module named 'pandas.indexes'`

When you fix this (see the first workaround), there is an error
`AttributeError: module 'pandas.core.base' has no attribute 'FrozenNDArray'`

After workaround 2, files load. It seems that in my case this is more

[2017-06-01 17:38] jreback commented on #16574
this is out of scope for pandas and is now handled by pandas-gbq directly

[2017-06-01 17:38] #16574 closed

[2017-06-01 17:48] jreback commented on #16474
see the above and simply use pd.read_pickle

[2017-06-01 19:40] TomAugspurger commented on #16571
I think we're reluctant to add more complexity / options to indexing with `.loc` and friends.

Here's an example of how you can achieve it, using lower-level methods:

[code]

Say you want to slice `[2000-01-04, 2000-01-10)` (so excluding the right endpoint)

In [27]: lo = ts.index.get_slice_bound("2000-01-04", "left", "loc")

In [28]: hi = ts.index.get_slice_bound("2000-01-10", "left", "loc")

In

[2017-06-01 19:41] matjazk commented on #16474
I would if I could.  But... I have a complex class (consisting of numpy objects, pandas series and dataframes, dictionaries ...), stored in a compressed joblib archive, so pd.read_pickle is of no use to me. As I said, this might be useful for joblib developers as for now it is impossible to load any joblib archive created when pandas < 0.20. I first had to downgrade pandas and now I'm using the ab

[2017-06-01 19:50] #16527 closed

[2017-06-01 19:59] #9056 closed

[2017-06-01 20:13] TomAugspurger commented on #5445
Yep, thanks.

[2017-06-01 20:13] #5445 closed

[2017-06-01 20:16] jorisvandenbossche commented on #16550
Tried it in a plain python console and have the exact same issue (displaying the frame triggers a false positive warning later on), so not an IPython issue

[2017-06-01 20:25] jorisvandenbossche commented on #16571
I think that would be a very nice "advanced indexing trick" for somewhere in the docs.

[2017-06-01 20:32] jorisvandenbossche commented on #16474
@matjazk Would you like to open an issue at joblib for this?

[2017-06-01 20:34] TomAugspurger commented on #16571
Added the example to the original.

I think a cookbook example is probably most appropriate? @linar-jether would you mind submitting a PR?

[2017-06-01 20:46] matjazk commented on #16474
Already did and passed @jreback's suggestion.

[2017-06-01 20:47] jreback opened #16577 "BUG: groupby.rank with non-unique index groupers"
groupby-with-rank and non-unique groupers, which include nan, raise
an odd error (the 2nd one), in reality this cannot reindex properly (which is really the error).
[code]

but works when this is a column (and not an index)
[code]

[2017-06-01 20:47] dfernan commented on #8953
Is this getting fixed/taken care of? As of now inserting pandas dataframes into a SQL db is extremely slow unless it's a toy dataframe.  Let's decide on a solution and push it forward?

[2017-06-01 21:04] TomAugspurger commented on #16550
@jorisvandenbossche the regular python REPL assigns the last output value to `_`. Did you assign anything else to that in between? e.g. this doesn't warn:

[code]

[2017-06-01 21:17] jorisvandenbossche commented on #16550
Ah, yes, of course!
So if it is not the last display, it indeed does not raise then.

Could (or would we want) to try to discriminate between 'such' variables and actual variables?

[2017-06-01 21:26] TomAugspurger commented on #16550
AFAIK, IPython uses regular `dict`s for Out, and python using regular
variable assignment for `_`, so probably no way to detect this.

On Thu, Jun 1, 2017 at 4:17 PM, Joris Van den Bossche <
notifications@github.com> wrote:

[2017-06-01 22:12] #11642 closed

[2017-06-01 22:19] #16471 closed

[2017-06-01 22:47] jreback commented on #16569
closing as a usage issue.

[2017-06-01 22:47] #16569 closed

[2017-06-01 22:57] jreback commented on #9958
@flipdazed this looks ok

[code]

[2017-06-01 22:59] jreback commented on #16572
this does looks like a bug. I don't think we have this as a test. This is a fairly narrow case though, the floats have to be exactly equal to the integers. welcome to have a PR. I can point you to where the issue is.

[2017-06-02 00:23] #16556 closed

[2017-06-02 00:28] #16078 closed

[2017-06-02 05:29] jesrael opened #16578 "DOC: pivot function"
In docs [DataFrame.pivot](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot.html) is a bit unclear, what means **object**:

Is it `Multiindex` ? Or `None` ? Or `Series`?

[SO question](https://stackoverflow.com/q/44314003/2901002)

[2017-06-02 05:41] mitar commented on #16567
Oh. :-( As a subclass it is pretty tricky, because you have to make sure you shadow over Pandas methods which can potentially change internals. Hashing is also not enough. It can tell you that something changed, but not prevent changing.

[2017-06-02 05:42] mitar commented on #16567
Is there a way to tell pandas to create a pandas object using a subclass?

[2017-06-02 06:14] jesrael commented on #16578
Also I check [pandas.pivot](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot.html)

Input are `Series` ?

[2017-06-02 06:48] gnebehay commented on #16572
I encountered this issue while getting data via `pd.read_sql()`. There, primary keys are returned as `int`s (since there are no missing values), but nullable foreign keys are upcast to `float` (so that nulls can be represented as `nan`). If you then do a merge on these columns, you get what is described above. If you point me to a code location, I will see what I can do.

[2017-06-02 06:55] cbrnr opened #16579 "Can't pd.options.display.max_columns = 0 by default?"
`pd.options.display.max_columns` is 20 by default, but when running in a terminal this value could be auto-detected by setting it to 0. I know that this setting can be customized, but for the average user it would be much more convenient if there was no extra step involved. Is there a way to detect if pandas is running in a terminal (where autodetection works)? If so, the value should be set to 0.

[2017-06-02 09:59] jreback commented on #16578
string or array-like, optional

array-like is acceptable input

If you want to do a PR would be great. even better would be to add some more examples!

[2017-06-02 10:00] jreback commented on #16578
has a comment w.r.t. doc-string as well: https://github.com/pandas-dev/pandas/issues/8160

[2017-06-02 10:01] jreback commented on #16579
Say you auto-detect (via get_terminal_size) and its 80, then what, how many columns should it be?

This is a pretty reasonable default.

[2017-06-02 10:01] #16579 closed

[2017-06-02 10:05] BLMeltdown opened #16580 "DOC: read_excel - improve parse_cols docstring"
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html#pandas.read_excel

"parse_cols : int or list, default None

        If None then parse all columns,
        If int then indicates last column to be parsed
        If list of ints then indicates list of column numbers to be parsed
        If string then indicates comma separated list of column names and column ranges (e.g.

[2017-06-02 10:08] jreback commented on #16572
Its right about here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/reshape/merge.py#L911

We allow differing int types, e.g. int64 and int8 are ok. but int64 and float will fall thru. you can add a check like

[code]

[2017-06-02 10:18] jreback commented on #16567
http://pandas-docs.github.io/pandas-docs-travis/internals.html

[2017-06-02 10:21] jreback opened #16581 "TST: flakey test for parallel coordinates"
https://travis-ci.org/pandas-dev/pandas/jobs/238684741

cc @TomAugspurger

first time I saw this, but the test is not designed to handle this.

[2017-06-02 10:22] BLMeltdown opened #16582 "pandas.read_excel index_col argument behavior seems to be wrong (or unexpected, as by the docs)"
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html#pandas.read_excel

It's about the parameter index_col.

From the docs, I read
[code]

I use the function with args={index_col=3, parse_cols="D-J"} (so it should parse from column 3 to column 9 included, 0-indexed). And I expected D to be used as Index, but actually it was column G.
I am not sure if it is the expected beha

[2017-06-02 10:29] cbrnr commented on #16579
Maybe I wasn't clear. If the width gets autodetected, a much more reasonable choice for `max_columns` would be `0`. That way, the printed object would fit within the terminal width.

[2017-06-02 11:49] frexvahi opened #16583 "TypeError when reading a Series with read_hdf(mode='r') from fixed format"
#### Code Sample, a copy-pastable example if possible

[code]

[code]
#### Problem description

For some inexplicable reason, `pd.read_hdf` opens files in append mode rather than read-only, so I pass `mode='r'`. For 'table' format, and also for `DataFrame` data in 'fixed' format, this works fine, but for `Series` data in 'fixed' format there is a `TypeError`

#### Output of ``pd.show_versions()``

[2017-06-02 12:15] jreback commented on #16583
this is the default for ``PyTables``. append allows you to read/write files, but won't erase the file if it exists (``w``).

[2017-06-02 12:26] jesrael commented on #16578
Unfortunately my English is to bad for write nice documentation :(

Array like? Do you think multiple columns names in list? But it always return error.

It seems is necessary:

[2017-06-02 12:36] frexvahi commented on #16583
Does `pd.read_csv` open the CSV in append mode?

[2017-06-02 13:16] chris-b1 commented on #16582
Can you make a reproducible example?  I tried this out (see below) and it seems to be working ok?

[code]

[2017-06-02 13:18] chris-b1 commented on #16580
Sure, PR welcome to make this clearer.

[2017-06-02 13:21] chris-b1 commented on #16580
Note that we slightly break with python convention when slicing labels and include the endpoint (e.g. docs [here](http://pandas.pydata.org/pandas-docs/stable/indexing.html#selection-by-label) - I think the same behavior is appropriate here.

[2017-06-02 14:18] jreback commented on #16583
not that is read-only. The difference of course is that PyTables acts more like a database, where you generally both read and write, while a file you generally don't.

[2017-06-02 14:20] jreback commented on #16583
we had this discussion here FYI: https://github.com/pandas-dev/pandas/issues/13623

[2017-06-02 15:46] TomAugspurger opened #16584 "PERF: Regressions between 0.20.1 and 0.20.x"
I'll add more later, I'm worried my local benchmarks aren't reliable, but I think these ones are real.

## Interpolate

[code]

## groupby

[code]

[2017-06-02 16:21] frexvahi commented on #16583
OK, that discussion is off-topic here. If you want to make a method called 'read_X' open a file for writing, that's your right, but please at least make it possible for me to open it read-only.

[2017-06-02 16:51] BLMeltdown commented on #16582
Well, thanks, That's what I meant, actually. I expected the index_col int to match some column in the original document, as it is not precised. Maybe I missed something in the docs, though, about this kind of parsing things. So it is expected to work like this? Sorry for disturbing, then.

[2017-06-02 17:00] chris-b1 commented on #16582
Oh I see, I misread that.  Yeah, in general it seems like we make `index_col` relative to the subset of data that is parsed, e.g. same behavior for `read_csv`.  I do see why you might expect otherwise and I don't think it's documented, so I'll mark for that.
[code]

[2017-06-02 17:47] AndrewRook opened #16585 "qcut doesn't always properly distribute across bins"
#### Code Sample, a copy-pastable example if possible

[code]
prints
[code]
#### Problem description

`qcut` isn't distributing values across bins quite right for this case – for `range(100)` there are 10 values in the interval `(-0.001, 9.0]` and 9 in all the others.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

[code]

</details>

Apologies if this has been poste

[2017-06-02 18:21] TomAugspurger commented on #16584
cc @WBare for the interpolate regression, https://github.com/pandas-dev/pandas/pull/16429 was the commit. Do you have chance to see if there's any easy optimizations to make? If not I can take a look later.

[2017-06-02 21:18] huguesv commented on #13206
I've added a test case in the PR referenced above that has now been merged. Was there anything else to do in order to close this issue?

[2017-06-02 21:36] chris-b1 commented on #16585
May be some kind of floating point issue - or this could be right and is just a formatting one, I'm not sure.   Looking at the percentile levels.
[code]

That fourth value is actually slightly less than 27, it's the next smallest floating point value.
[code]

[2017-06-02 21:54] jreback commented on #16584
what causes the  interpolate ones?

[2017-06-02 21:55] jreback commented on #16583
well if you submit a PR to fix that would be helpful

[2017-06-02 22:02] TomAugspurger commented on #16584
Looking into it. I have an optimization for it that should be ok. Will have it later.

[2017-06-03 17:06] silentsnooc opened #16591 "Inconsistent return types for df.loc[id]['column']"
#### Code Sample

[code]

Output:

[code]

#### Problem description

The problem with this code is, that `data.loc[idx]['column']` can either be a `Series` or a `float64` instance. This is a problem because this requires an additional check. Also this can lead to bugs very easily.

#### Expected Output

I would expect this to return _always_ a `Series` object.

[2017-06-03 17:21] jreback commented on #16591
copy passable example please

[2017-06-03 17:28] silentsnooc commented on #16591
@jreback np

[code]

[2017-06-03 17:41] TomAugspurger commented on #16591
@silentquasar you have a duplicate in your index, so `df.loc[1]` is a DataFrame (so slices of that are Series), whereas `df.loc[2]` is a Series (so slices of that are scalars).

The usual advice here is either ensure you don't have duplicates (check with `.index.is_unique`) or always slice with a collection, like `df.loc[[1]]`, so that you always have the same typed objects.

[2017-06-03 17:41] #16591 closed

[2017-06-03 17:56] margaret opened #16593 "iloc does not return a view on single slice"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Found when working on https://github.com/pandas-dev/pandas/pull/16443.

Also the same in 0.19.2. I think it's [this line where Series.from_array is called](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L2095) in `DataFrame._ixs` that's creating a new object, since `section` [here](https:

[2017-06-03 18:06] jreback commented on #16591
suppose it might be worth s doc note in indexing section (and loc doc string)

[2017-06-03 21:37] dsm054 commented on #5401
I'd like to get some input on the possible behaviour of a cross join.  I have a candidate implementation but while testing different cases I came across some decisions I want people to have a chance to think about.  Partly this is because after lots of time spent on SO, I think we chose the wrong default for `as_index` in `groupby`, but it's too late to change now-- I'd prefer not for that to happ

[2017-06-03 22:51] ngould commented on #5401
Wow, great writeup @dsm054. I agree with ruling out option 2, since it could yield the wrong row count. And 3b stands out to me as the least surprising behavior. Namely,

- I get the correct number of rows.
- I get an ordered integer index when I use the default values of `left_on` and `right_on`. (Same behavior as other types of merge.)
- I have the ability to specify which original indices I wan

[2017-06-04 01:00] lengross opened #16594 "Behaviour of "in" on a series"
s = pd.Series([0,10,20,30])
l = [0,10,20,30]

val =  10
print( val," in l", val in l)
print( val," val in s", val in s)
print( val," in s.values", val in s.values)

val = 1
print( val," in l", val in l)
print( val," val in s", val in s)
print( val," in s.values", val in s.values)
[code]

[2017-06-04 01:24] TomAugspurger commented on #16594
Looks like you figured it out. Did you see [this](http://pandas-docs.github.io/pandas-docs-travis/dsintro.html#series-is-dict-like) section in the docs? Anything about that that's unclear? We could call it out in the text and show `(val == s).any()`.

Series is list-like (more `ndarray`-like), but also dict-like since it has labels, so there's an design choice to make. Perhaps I'm just used to it,

[2017-06-04 01:45] lengross commented on #16594
Hi Tom,

Thanks for quick response and insight.

I didn't even think to look at the docs for this, is was obvious (sic) what it should do.

I use a lot more lists than dictionaries so I got caught in wrong assumptions.

--Len

From: Tom Augspurger [mailto:notifications@github.com]
Sent: Saturday, June 03, 2017 6:25 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: lengross <lengross@san.rr.

[2017-06-04 08:42] linar-jether commented on #16571
@TomAugspurger Yea sure, I'll add a cookbook example

But as time series data is a major use case for pandas I think something as basic as a range query should be implemented in the API, maybe extend between_time to support timestamp objects instead of just time?

And thanks for your response!

[2017-06-04 10:44] #13492 closed

[2017-06-04 10:47] #14671 closed

[2017-06-04 15:09] TomAugspurger commented on #16584
@jreback the groupby slowdown `+     3.47±0.08ms       5.30±0.2ms     1.53  groupby.groupby_multi.time_groupby_series_simple_cython
` points to https://github.com/pandas-dev/pandas/pull/16413/

Thoughts? Does the increased perf elsewhere make up for it?

[2017-06-04 15:27] jreback commented on #16584
not sure what u mean
this is a perf improvement vs previous versions for other benchmarks

i would remeasure this

[2017-06-04 15:49] TomAugspurger commented on #16584
It affected `time_groupby_series_simple_cython` negatively

[code]

[code]

[2017-06-04 15:54] chananshgong opened #16597 "import fails after clean anaconda install"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

import fails on a clean install of anaconda

#### Expected Output

import success silently

#### Output of ``pd.show_versions()``

<details>
# Paste the output here pd.show_versions() here
import fails, instead I grep pandas from `conda list`
pandas                    0.20.1              np112py36_0

</details>

[2017-06-04 15:59] TomAugspurger commented on #16597
What's your OS, anaconda version, and how'd you create the environment and install pandas?

Do you have pytest installed in that environment?

[2017-06-04 16:05] chananshgong commented on #16597
After closing the terminal and reopen it problems solved (ubuntu 16.04)

[2017-06-04 16:10] TomAugspurger commented on #16597
Huh, not sure why that would be, but glad to hear it's working.

[2017-06-04 16:10] #16597 closed

[2017-06-04 16:57] jreback commented on #16584
ok create an issue and i will look
don't block for the release

[2017-06-04 16:59] TomAugspurger commented on #16584
Sounds good. Agreed that it's not worth blocking the release over.

[2017-06-04 17:00] TomAugspurger opened #16598 "PERF: groupby regression"
https://github.com/pandas-dev/pandas/pull/16413 may have slowed down `time_groupby_series_simple_cython` (while speeding up other groupby ops)

[code]

[code]

[2017-06-04 22:57] ostrokach commented on #8953
@dfernan As mentioned above, you may want to look at the [odo](http://odo.pydata.org/en/latest/perf.html). Using an intermediary CSV file will always be orders of magnitude faster that going through sqlalchemy, no matter what kind of improvements happen here...

[2017-06-05 08:19] ldconejo commented on #2160
No additional updates on this one since November, 2013. The last comment seems to provide an alternate solution. Is this enhancement still required?

[2017-06-05 09:18] jreback commented on #2160
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.rank.html?highlight=rank#pandas.Series.rank

already supports these

[2017-06-05 09:18] #2160 closed

[2017-06-05 10:04] #16594 closed

[2017-06-05 10:48] ultrabosss commented on #9867
Hi could you please confirm whether this issue fixed on pandas 0.20.2. I am still getting the issue. some times groupby lambda returns pivot table and some time it returns normal dataframe

[2017-06-05 10:53] jreback commented on #9867
see https://github.com/pandas-dev/pandas/issues/13056

you would have to show an example

[2017-06-05 11:51] ultrabosss commented on #9867
Example 1:

![image](https://cloud.githubusercontent.com/assets/29198203/26782715/955fadf4-4a12-11e7-8c81-d74c53b0a709.png)

always i need to unstack and reset index before i consume this result

Example 2:
get the same dataframe using sample(). Now I am not getting the results like pivot table where I no need to use unstack.

![image](https://cloud.githubusercontent.com/assets/29198203/26782877/2

[2017-06-05 12:04] jreback commented on #9867
pls create a new issue and show a copy-pastable example (NO images), showing ``pd.show_versions()`` as instructed.

[2017-06-05 12:57] kender99 opened #16601 "Google stock quotes break on some instances"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The expected behaviour would be to retrieve the correct stock price for any given symbol. Especially if they are on the same stock exchange.
Some values seem to crash it.

#### Expected Output

Expected output would be a dataframe with index "quote"
and columns  'change_pct', 'last', 'time']

#### Output of ``p

[2017-06-05 13:00] TomAugspurger commented on #16601
Could you refile this on the pandas-datareader repo: https://github.com/pydata/pandas-datareader/issues Thanks.

[2017-06-05 13:05] AndrewRook commented on #16585
Ah, that's what's causing the problem, thanks for surfacing that! To me this seems like undesirable behavior, although I can see both sides of the issue so I'd be happy to be persuaded otherwise. Judging from the code, it looks like you could make it check for these slight floating point mismatches by changing [this if statement](https://github.com/pandas-dev/pandas/blob/bf9997520443e0a5f505f11e11

[2017-06-05 13:08] TomAugspurger commented on #16584
Closed by #16592

[2017-06-05 13:08] #16584 closed

[2017-06-05 13:10] #16601 closed

[2017-06-05 13:20] kender99 commented on #16601
Thanks. Seems someone else already posted it and it's been worked on

[2017-06-05 13:37] mfmain opened #16602 "read_csv(filename_with_asian_locale) failed in python 3.6 for windows"
#### Code:

[code]

#### Problem description

python 3.6 changed sys.getfilesystemencoding() to return "utf-8" instead of "mbcs"
see [PEP 529](https://www.python.org/dev/peps/pep-0529/).

### How to fix

Here is the problem: [parsers.pyx](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/parsers.pyx#L689)

[code]

the source parameter is our filename, and will be encoded to 'utf-8', no

[2017-06-05 14:25] TomAugspurger opened #16603 "CategoricalIndex.equals incorrectly considers category order when unordered"
[code]

I fixed this for regular Categoricals in https://github.com/pandas-dev/pandas/pull/16339, but that didn't affect CategoricalIndex.equals. Do we want `.equals` to ignore order when `ordered=False` on both (I think we do)?

Discovered during my CategoricalDtype refactor, which does fix it so that order is ignored when `order=False`.

[2017-06-05 14:53] Starkiller4011 commented on #10327
Please excuse my ignorance on the matter but apart from being easier to read as a human, if and only if the column headers have roughly the same characters as their corresponding data which is not always the case, what advantages does TSV provide over CSV? Honestly curious if there is a performance difference between the two, I use TSV right now but honestly only because the data files I am workin

[2017-06-05 15:17] dhimmel commented on #10327
Tabs are a more natural separator for columnar data. They require less quoting, since values rarely contain tabs but often contain commas.

I'd expect the performance difference is trivial. However, like most things in data science, the real type of performance that matters is programmer efficiency. And I think TSVs are nicer to work with than CSVs.

[2017-06-05 15:18] dsm054 commented on #10327
Not everyone agrees that tab separation is superior to csv -- I don't, for example.

As Python programmers, we know that whitespace isn't always preserved across different operations, like copying and pasting.  Those of us who answer a lot of questions on SO, for example, regularly have to use `sep="\s\s+"` to parse text which people have dumped in a whitespace-separated format, and we have to hop

[2017-06-05 15:26] stevekm commented on #10327
I think it's worth taking a step back and recognizing that a function like `to_csv` is kind of silly, the solution should be a more generic `to_table` function which requires a delimiter to be specified, and which `to_csv` is just a convenience wrapper around. R has this functionality in it's `write.table()` function, which makes more sense.

[2017-06-05 15:37] dhimmel commented on #10327
For the record, I think both CSV and TSV and acceptable and good formats. They should both be supported. @dsm054 brings up some compelling advantages to non-whitespace delimiters.

A bigger issue in my opinion is using the `.csv` extension indiscriminately (e.g. when referring to TSVs). See discussion at https://github.com/pandas-dev/pandas/pull/14587. I agree with @stevekm that `to_table` should

[2017-06-05 15:39] linar-jether opened #16604 "to_numeric crashes python on empty dataframe column"
#### Crash sample

[code]
#### Problem description
When calling `to_numeric` on an empty DataFrame column, python crashes with an access violation exit code (0xC0000005).

#### Expected Output
Should return an empty series with default dtype for empty series (int64)

for some reason, some empty Series objects work and some don't:

[code]

#### Output of ``pd.show_versions()``

<details>
# Paste th

[2017-06-05 16:10] kbg opened #16605 "Series constructor skips dtype=str conversion for list data"
#### Code Example

[code]
Output:
[code]

#### Problem description

When creating a `Series` from a `list` using `dtype=str`, the data elements are not converted to strings. The `Series` instance apparently just keeps the original (Python) data type in this case.

This problem does not occur when, instead of a `list`, another `Series` is used as input data (`s5` in the example above). It also does

[2017-06-05 18:07] TomAugspurger commented on #16604
Fixed in https://github.com/pandas-dev/pandas/pull/16305 I believe (0.20.2 was released today, so you can try upgrading). Let me know if that doesn't fix it for you.

[2017-06-05 18:07] #16604 closed

[2017-06-05 18:12] OlegShteynbuk opened #16606 "consolidate the duplicate definitions of NA values in code and docs (refactoring, cleaning)"
pull request for the code  -  https://github.com/pandas-dev/pandas/pull/16589#pullrequestreview-41919702

[2017-06-05 18:12] OlegShteynbuk commented on #16606
docs - the file doc/source/io.rst repeats the same NA values in  in two places; keeping them in sync with the code might require an extra step of generating this file from a template file with placeholders.

[2017-06-05 18:12] OlegShteynbuk commented on #16606
if currently  docs consolidation is not realistic can split docs consolidation into a separate issue

[2017-06-05 18:27] gfyoung commented on #16606
@OlegShteynbuk : What you could do instead is reference the NA values in the first location when you get to the second location (and include a link to the location within the doc).

[2017-06-05 19:05] thanatos commented on #11383
A Dockerfile _is_ a stock system, and is designed to be extremely reproducible: it's a file that describes a machine, starting from the fresh install of some image. In this case, since we start with:

[code]

…then the following commands are run starting from a clean, never-before used installation of Ubuntu Xenial. Not my personalized, I've installed some stuff Ubuntu. Clean, pristine, Ubuntu.

W

[2017-06-05 21:11] jschendel commented on #16554
I don't think that will work in general.  You can't get monotonic decreasing from monotonic increasing in all scenarios, unless there's an assumption that the data is monotonic/sorted in some regard.  For example, a MultiIndex generated by `[(3, 3), (1, 1), (2, 2)]` is not monotonic decreasing, but will return `True`.

I think you can implement this similar to `is_monotonic_increasing`.  It's true

[2017-06-05 21:15] buyology opened #16607 "to_datetime should support ISO week year"
`to_datetime` does not currently seem to support `ISO week year` like `strptime` does:

[code]

<details>
INSTALLED VERSIONS
------------------
commit: None

pandas: 0.20.1
pytest: 3.1.0
pip: 9.0.1
setuptools: 28.8.0
Cython: 0.25.2
numpy: 1.12.1
scipy: 0.19.0
xarray: None
IPython: 6.0.0
sphinx: None
patsy: 0.4.1
dateutil: 2.6.0
pytz: 2017.2
blosc: None
bottleneck: None
tables: 3.4.2
numexpr: 2.6.2

[2017-06-05 22:12] mfmain commented on #16602
there is a workaround  with speed compromised:
    python df = pd.read_csv(r'c:\tmp\中文.csv', **engine='python'**)

but it is a dirty work to modify every single call to read_csv in all your projects

[2017-06-05 22:25] jreback opened #16608 "COMPAT: broken pickle compat from 0.19.2 -> 0.20.2 for UTC tz's"
[code]

broken in 0.20.1/2
[code]

works fine for tz-aware but non-UTC (e.g. US/Eastern is fine).

[2017-06-05 22:31] jreback commented on #16608
@jorisvandenbossche @TomAugspurger any objection to doing a 0.20.3 in a few weeks?

[2017-06-05 22:33] jreback commented on #11383
@thanatos docker is simply not acceptable for a cross-platform self-contained testing environment. you would need to boil down your errors to a reproducible example.

[2017-06-05 22:34] jreback commented on #16607
sure could be added.

pull-requests are welcome.

[2017-06-05 22:36] jreback commented on #16602
this is a duplicate of this: https://github.com/pandas-dev/pandas/issues/15086

there is a PR attached but unfortunately it was blown away.

certainly would take a fix for this.

[2017-06-05 22:36] #16602 closed

[2017-06-05 22:39] jreback commented on #16605
hmm, the array-like should be converted exactly like ``.astype(str)``, IOW

``Series(arr, dtype=str)`` should be equal to ``Series(arr).astype(str)``.

I think str is treated as object here. pull-requests welcome.

[2017-06-05 23:57] rf987 opened #16609 ".drop_duplicates() increases memory usage of Dataframe"
[code]

    u'0.20.1'

[code]

    [(0.24627963293887123, 'Connecticut'), (0.36761688447782837, 'Texas'), (0.3197398283371117, 'Colorado'), (0.40862900551970815, 'Minnesota'), (0.17710135182385411, 'North Dakota'), (0.32584204720734733, 'Wisconsin'), (0.18994014352660016, 'New Jersey'), (0.8459119228061891, 'Wisconsin'), (0.02739343466509858, 'Florida'), (0.42620942318964605, 'Kentucky')]

[code]

[2017-06-05 23:58] jreback commented on #16603
yes that sounds right

[2017-06-06 00:31] jreback commented on #16609
Your index was materialized from a RangeIndex -> Int64Index. ``.drop_duplicates()`` (and some indexing operations) cannot preserve these indexes. You are showing a special case where nothing is dropped.

[code]

[2017-06-06 00:31] #16609 closed

[2017-06-06 08:34] Peque commented on #16452
@TomAugspurger Let me reopen this issue. I have now found an example that reproduces this without modifying the contents of the original DataFrame:

[code]

That would give you this output:

[code]

[2017-06-06 10:38] chenweisomebody126 commented on #11733
Has this problem been solved? I met the same question.

[2017-06-06 11:27] jorisvandenbossche commented on #11383
I am not sure why the discussion about the docker as reproduction is reopened, but as I said in my latest comment above (https://github.com/pandas-dev/pandas/issues/11383#issuecomment-294242777): I can perfectly reproduce this on my local ubuntu laptop (so no need for docker).
But as I also said, IMO it is an issue with pip/setuptools, and not with pandas (but I am not an expert in that, so please

[2017-06-06 11:29] jorisvandenbossche commented on #11383
And also note that I suggested an easy workaround (if you have the ability to change the dockerfile): installing numpy and pandas consecutive instead of in one command.

[2017-06-06 11:31] jorisvandenbossche commented on #16608
No objection. I would just start tagging stuff as 0.20.3 and make a 0.20.3 whatsnew file. If we in the end decide that we don't find it worth to release (which probably will not be the case), we can easily move those things to 0.21 (it's just moving the whatsnew entries).

[2017-06-06 12:19] TomAugspurger commented on #16452
@Peque I think everything is operating as intended, but let me see if I understand your concern.

1. DataFrame.__repr__ prints out a dataframe with some precision (`pd.options.display.precision`, 6 by default).

[code]

2. Because of the floating-point representation, the *actual* value stored in the dataframe slightly different

[code]

3. You think that the value written to `to_csv` should be th

[2017-06-06 13:00] TomAugspurger commented on #16608
Fine by me as well.

On Tue, Jun 6, 2017 at 6:31 AM, Joris Van den Bossche <
notifications@github.com> wrote:

[2017-06-06 13:01] Peque commented on #16452
@tom-alcorn Not exactly what I mean. :innocent:

I am not saying that numbers should be rounded to `pd.options.display.precision`, but maybe rounded to something near the numerical precision of the float type.

When we load `1.05153` from the CSV, it is represented in-memory as `1.0515299999999999`, because I understand there is no other way to represent it in base 2. That is something to be expec

[2017-06-06 13:10] #16608 closed

[2017-06-06 13:14] pierre-haessig commented on #10842
I've also got bitten by the inconsistency of `quantile` vs. `min/max/mean` in the context of time series resampling: it makes it more difficult (one needs to use `apply(...)`) to compute the quantile over each period. Here is an example:

[code]

I'm using pandas 0.20.2.

Is this related to the `as_index` parameter mentioned in #5755 or is it something else? Should I file a separate issue?

Also,

[2017-06-06 13:25] jreback commented on #10842
docs are mostly just references to the Series methods themselves. certainly would take a PR with a better example.

[2017-06-06 13:27] jreback commented on #10842
@pekaalto your other issue is this: https://github.com/pandas-dev/pandas/issues/15023

PR's welcome on that as well! (its easy!)

[2017-06-06 14:05] Erotemic opened #16612 "(pandas.indexes.base.Index == np.dtype('float64')) is True"
#### Code Sample, a copy-pastable example if possible

I came across a weird behavior in the following code

[code]

The example can be simplified as such
[code]

#### Problem description

The index has a dtype of object, but it returns that it is equal to a np.dtype('float64').
It does not do this for any other dtype.

[code]

And this is not true for any other dtype or basic numpy type
[code]

T

[2017-06-06 14:36] rosygupta commented on #16582
@chris-b1 Can you help me figure out where to get started with fixing this issue?
Many Thanks!

[2017-06-06 14:45] chris-b1 commented on #16582
I'd expand the explanation of `index_col` in the `read_excel` docstring here
https://github.com/pandas-dev/pandas/blob/697d0269aa6903be75db97afb45f9976abd2406d/pandas/io/excel.py#L85

And them maybe add an example to the narrative docs, somewhere around here
http://pandas.pydata.org/pandas-docs/stable/io.html#parsing-specific-columns

(by changing this file):
https://github.com/pandas-dev/pandas/b

[2017-06-06 14:49] rosygupta commented on #16582
@chris-b1 So we need not make changes in the code to allow the exception?

[2017-06-06 14:52] chris-b1 commented on #16582
Right, the current behavior is intended, this is only a documentation issue.

On Tue, Jun 6, 2017 at 9:49 AM, Rosy Gupta <notifications@github.com> wrote:

[2017-06-06 15:29] jreback commented on #16612
this has nothing to do with the actual dtype itself

[code]

We assign ``__eq__`` and friends to various sub-classes of ``Index`` to provide proper comparators. I guess ``np.dtype`` is slipping thru here. Though to be honest I am not sure why you are doing this.

[2017-06-06 15:59] RhysU commented on #16345
A slight generalization on the recreate also exhibits the "group dropping" behavior despite having multiple rows in the output.  Worth confirming any fix covers this situation too.

Observed:
[code]

Expected: group column is retained in Out[4].

[2017-06-06 17:07] ldacey commented on #14553
I'd like to see this as well. I am caught in between using pure SQL and SQL Alchemy (haven't gotten this to work yet, I think it has something to do with how I pass the dicts). I use psycopg2 COPY to bulk insert, but I would love to use pd.to_sql for tables where values might change over time and I don't mind it inserting a bit slower.

[code]

And pure SQL:

[code]

[2017-06-06 17:12] rosygupta commented on #16582
@chris-b1 I shall work on it. But I'm more interested in some coding issue. Could you suggest some for starters?

[2017-06-06 19:18] kernc opened #16614 "SparseSeries.unstack() raises error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Unstacking a SparseSeries — i.e. one with a two-level index that should neatly expand into a SparseDataFrame — doesn't work, errors.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>
0.21.0.dev+91.g2aafce4

</details>

[2017-06-06 19:24] Grinvydas opened #16615 "read_sas fails when values in SAS dataset contains a new line symbol"
#### Problem description

I was trying to read a SAS dataset with pandas 0.19.2. It was not successful, with an error: ValueError('Length of values does not match length of ' 'index').

After some research I came up with the idea, that new line symbol in one of the character values creates this error.

I removed new line and carriage return symbols from column values in SAS data and read_sas finis

[2017-06-06 20:00] chris-b1 commented on #16615
Can you provide a data set that reproduces the issue?  Either something existing online, or you can attach to the issue.

[2017-06-06 21:44] Grinvydas commented on #16615
As always, when I try to re-create, it reads the file fine. I'll try to fetch the original file tomorrow and update.

[2017-06-06 22:13] jreback commented on #16612
the issue is [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/base.py#L3707)

I think it needs an else clause after

[code]

[2017-06-06 22:15] jreback commented on #16614
hmm thought we had an issue for this. but yes this should work.

[2017-06-07 00:04] dsm054 commented on #16612
I don't think that's right, because that comparison function should only be used on an _instance_ of pd.Index, I think.  I think the real issue is on the numpy side, because

[code]

and the `__eq__` for dtype objects seems to look at the `.dtype` attribute if it exists:

[code]

[2017-06-07 00:53] jreback opened #16618 "COMPAT: pandas-compat"
So a number of downstream projects have to deal with pandas compat thru various versions. This mainly involves fairly unsightly code like this (from dask).

[code]

So might be useful for pandas to create a companion library ``pandas-compat`` that is pretty much a single file with all of the compat things in a top-level namespace, so projects could just do:

[code]

etc. IOW it will have all of th

[2017-06-07 01:21] dsm054 commented on #9031
Can we yank FrozenNDArray now, then?  I guess we'd need to make sure that pickles would still work, but apart from that, as you note, all the references seem very shallow now.

[2017-06-07 01:29] jreback commented on #9031
@dsm054 yes as I said a while back its not necessary. pickle compat is 'easy', just follow the pattern in ``pandas.compat.pickle_compat.py`` (might need a slight modification as this is not a rename but shouldn't be too hard).

[2017-06-07 01:31] jreback commented on #9031
xref https://github.com/pandas-dev/pandas/pull/15477 and this https://github.com/pandas-dev/pandas/pull/15506 (last was reverted, something odd changed in making the doc build take way longer).

[2017-06-07 01:45] wesm commented on #16618
+1 on this, would love to be able to remove the pandas compatibility code in various downstream projects

[2017-06-07 03:42] dsm054 commented on #7031
As of 0.20.2, this no longer seems to be an issue:

[code]

So I think this can be closed.

[2017-06-07 06:48] quertenmont opened #16620 "Suppressing XLRD warnings"
Hello,

I would like to suppress some warnings from the xlrd module that appears when calling the pd.read_excel function

These are my typical warnings:
WARNING *** file size (608105) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

One of the solutions to this problem that I see on the web is to filter those via a log filter, see:
h

[2017-06-07 07:19] pierre-haessig commented on #10842
Thanks @jreback for the pointer! For now I'll stick with the `apply()` work around.

[2017-06-07 09:02] jreback commented on #7031
can u do a pr with this test?

[2017-06-07 11:15] kernc commented on #8048
@cottrell sorry for the delay. Scipy sparse only supports 2d matrices, so with a multi-level indexed series, one would first transform/unstack into a 2d sparse dataframe and then call `.to_coo()` on it. Like:
[code]
Unstacking `SparseSeries` [currently doesn't work](https://github.com/pandas-dev/pandas/issues/16614), but is fixed in https://github.com/pandas-dev/pandas/pull/16616.

[2017-06-07 11:40] kbg commented on #16605
I don't have the time to fix it right now. Maybe I'll find some time at the weekend.

In case somebody else wants to fix this: The problem is located at the very end of `pandas.core.series._sanitize_array()` which is called by the `Series` constructor.

There is also an issue with scalar input values:
[code]
which needs some additional changes near the end of `pandas.core.series._sanitize_array()`

[2017-06-07 12:00] gzcf opened #16621 "Applying on empty DataFrame returns different types"
#### Code Sample

[code]
#### Problem description

When apply individual functions on the same **empty** `DataFrame`, it return different types.

[code]

That's wired since their only difference is `row['a']` expression which is never executed.

When df is not empty, both return `pd.Series`.

Test on pandas 1.19.1 and latest version 0.20.2.

#### Expected Output

I expected it always return `pd.Se

[2017-06-07 12:03] TomAugspurger commented on #16621
I suspect that `bar` raises a KeyError, which is caught inside `.apply` and sends it down a different code path. You're welcome to take a look at whats going on.

[2017-06-07 12:33] JimStearns206 commented on #11959
Two questions:
- Should boxplot's grid parameter default to True? (see def for boxplot() in _core.py). That does not appear to be the case with df.plot(kind='box').
- This is likely my newbie error, but:
-- when I run the test program from PyCharm, df.boxplot() shows the correct (12,8) figsize.
-- when I run the test program from the command line (i.e. "python test11959.py), df.boxplot() shows a f

[2017-06-07 13:38] Erotemic commented on #16612
@jreback, The reason why I ran across this has to do with an old function I wrote to determine if a variable is float-like, meaning it could either be a float or numpy array of floats. At the time I didn't know dtypes has string identifiers, and if I rewrote the code today I would use isinstance and those identifiers. However, the function works well as a utility, even if it doesn't follow best pr

[2017-06-07 13:45] TomAugspurger commented on #16620
I think the proper solution is for xlrd to use the logging module. There's an issue [here](https://github.com/python-excel/xlrd/issues/187), if you want to resurrect it, or maybe submit a PR to xlrd.

In the meantime, does opening the workbook your self manually, and passing that to `read_excel` work for you?

Something like
[code]

[2017-06-07 14:23] stoddardg commented on #14613
Hi all,

I think I discovered a bug related to this but not exactly the same issue.

The issue is that using `set_categories` causes an issue when storing into HDF. Here's a minimal working example
[code]

I would expect stored_df to equal the original dataframe but it's empty.

If you remove this line `df['val'].cat.set_categories(['C','B','A'],inplace=True)`, then things work as intended. Simila

[2017-06-07 14:37] ODemidenko opened #16622 "Docs are incpmplete for concat"
There is an issue with concat:
I expect it not to  add rows from a second df in case there are such indexes in a first one.
But this doesn't work for me. After a lot of search I found that this is because I have duplicate values in indexes in both df.
It would be great to warn about such a behavior in standard function documentation.

That is how I found that it is not a bug, but rather a feature:

[2017-06-07 14:51] Grinvydas commented on #16615
After some further investigation I think the problem could be elsewhere, not in New line or carriage return symbol. Actually all I needed is just to re-create the file with simple data step and after that the new data set is read properly by read_sas

data new_file;
set old;
run;

I'm attaching the problematic file which gives the error below:

Traceback (most recent call last):
  File "isItemDsUp

[2017-06-07 15:46] stoddardg opened #16623 "Order of Categories in unordered Categorical causes query bugs in read_hdf"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code prints an empty dataframe but it should print both rows of the original dataframe.

When the `categories=` argument is not sorted,  the `where` clause of read_hdf does not function as intended. In this case, no rows are returned when limiting to `cat_val in ['A','B']`, even though both rows of th

[2017-06-07 16:03] AdamGleave opened #16624 "Upsampling with resample('B').ffill() fails with "ValueError: Length mismatch""
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

s.resample('B').ffill() raises an exception, "ValueError: Length mismatch: Expected axis has 8 elements, new values have 10 elements". This occurs when upsampling from an index containing a multi-day, mid-week gap, but not at many other positions in the week; I am not sure exactly what predicts whether this pr

[2017-06-07 16:13] dsm054 commented on #7031
Sure, will do.

[2017-06-07 17:13] rosygupta commented on #16541
@jreback Is this issue still open?

[2017-06-07 17:15] rosygupta commented on #16607
@jreback can you help me start working on this pull request? Like where to look to fix it?

[2017-06-07 17:58] buyology commented on #16607
The relevant part should be in [`array_strptime`](https://github.com/pandas-dev/pandas/blob/ce4eef3750052cec62ca0fe6536521dec523cd64/pandas/_libs/tslib.pyx#L3585) in `/_libs/tslib.pyx`.

A good ref impl is `datetime`s `strptime`: https://github.com/python/cpython/blob/6f0eb93183519024cb360162bdd81b9faec97ba6/Lib/_strptime.py#L321

[2017-06-07 18:32] dsm054 commented on #16624
IIUC, the failing case is exactly the one for which infer_freq guesses that your index already has a BusinessDay freq:

[code]

Because in that particular case, the gaps between days are always 1 or 3:

[code]

which triggers

[code]

which means that it takes the first branch here in resample when it needs to take the second:

[code]

[2017-06-07 19:04] rosygupta commented on #16607
@buyology  Could I be assigned this task so that I can work on its pull request?

[2017-06-07 19:07] buyology commented on #16607
@rosygupta feel free to work on this :-)

[2017-06-07 19:30] rosygupta commented on #16607
@buyology This will be my first attempt to make a PR here. Do you suggest if this would be the right task to take on ?

[2017-06-07 19:42] MaximilianR commented on #16541
PR waiting here: https://github.com/pandas-dev/pandas/pull/16586

[2017-06-07 20:09] chris-b1 commented on #16622
The first example in the docstring shows exactly this case, but certainly would welcome any improvements to make this clearer.  `DataFrame.combine_first` basically does what you want, although not on a collection.

[code]

[2017-06-07 20:10] buyology commented on #16607
@rosygupta it involves some `cython`, but should be pretty straightforward as long as you get the environment up and running properly. otherwise, if you want something more lightweight, go and look for `novice`-labeled tasks :rocket:

[2017-06-07 20:23] chris-b1 commented on #16612
Yes -  this is a numpy issue  (https://github.com/numpy/numpy/issues/2190#issuecomment-35576788) a symptom of there being an implicit default dtype (e.g.)

[code]

[2017-06-07 20:23] #16612 closed

[2017-06-07 20:53] TomAugspurger commented on #13206
I believe so.

@jorisvandenbossche does that sound right? table names are quoted for sqlite, and everyone else should be using a sqlalchemy engine?

[2017-06-07 20:53] #13206 closed

[2017-06-07 21:23] TomAugspurger commented on #16452
So for

[code]

It would be 1.05153 for both lines, correct?

I appreciate that. We're always willing to consider making API breaking changes, the benefit just has to outweigh the cost. In this case, I don't think they do. I just worry about users who need that precision. This would be a very difficult bug to track down, whereas passing `float_format='%g'` isn't *too* onerous.

[2017-06-07 21:42] TomAugspurger commented on #16618
Is it worth picking a minimum version of pandas we're providing a bridge for?

geopandas says 0.15.2+
statsmodels is 0.13+, but the oldest version in their travis matrix is 0.14

[2017-06-07 21:52] TomAugspurger commented on #11959
I suppose it's been like that for a while. It should probably follow `axes.grid`...

I'm not sure why that would be. Keep in mind that the *default* hasn't changed, `df.boxplot` just respects it now. Is it possible that its two separate environments with different matplotlib versions? The matplotlib default figsize did change in 2.0

[2017-06-07 21:53] TomAugspurger commented on #11959
Closed by #16445

[2017-06-07 21:53] #11959 closed

[2017-06-07 21:54] cpcloud commented on #16618
+1 here as well. Should the version of this package also be the same version as pandas itself so it's easier to know what the lastest pandas version that the compatibility layer exists for?

[2017-06-07 22:03] jorisvandenbossche commented on #13206
Yes!

[2017-06-07 22:11] dfolch opened #16626 "column multiindex and reindex inconsistency"
[code]

When passing a _nonexistent_ column name to `reindex` on a dataframe without multiindex columns, the result is:
- a `NaN` column with the "new" column name
- the `columns` attribute matches the columns in the dataframe

The same action on a multiindex dataframe produces different results:
- there are no `NaN` columns (this may not be a problem)
- the `columns` attribute of the resulting da

[2017-06-07 22:15] thequackdaddy opened #16627 "Merge vs. Join on a Multi-Index with a Categorical"
Hello,

I know there's been a lot of work on Categoricals, but I ran across this on 0.20.2 and on github's master.

[code]
#### Problem description

When I try to `join` a categorical with a Multi-Index, I get this error. As a work-around, you can `merge` instead.

#### Expected Output
I would expect that both methods should work and give equivalent output.

#### Output of ``pd.show_versions()``

[2017-06-07 22:20] jorisvandenbossche commented on #16452
I don't think that is correct. Floats of that size can have a higher precision than 5 decimals (just not any value):

[code]

So the three different values would be exactly the same if you would round them before writing to csv.

I agree the exploding decimal numbers when writing pandas objects to csv can be quite annoying (certainly because it differs from number to number, so messing up any alig

[2017-06-07 23:14] OlegShteynbuk commented on #16606
repetition of the same NA values in docs was removed; the first location has reference to the second location as suggested by gfyoung.

the na values should be consistent now.

[2017-06-07 23:27] gorkemozkaya commented on #16559
I'm having the same problem. Python 3, pandas 0.20.2

reproducible example:

import pandas as pd

with open('test.csv', 'wb') as fout:
    fout.write(b'c1,c2\r\n"test \x1a    test", test\r\n')

pd.read_csv('test.csv')

#ParserError: Error tokenizing data. C error: EOF inside string starting at line 1

[2017-06-07 23:37] dabliss opened #16628 "Import pandas with graphics disabled"
I'm running an analysis using the Sun Grid Engine.

However, in my code I import pandas, which causes this error to be raised:

`import pandas as pd`

*This is new.  Until recently, I was able to import and use pandas within the SGE.*

What I've gathered from some Googling and conversations with my sys admin is that pandas is trying to load graphics, and the SGE is not allowing this.

I don't want

[2017-06-07 23:55] dsm054 commented on #8142
Looks like the #8226 changes indeed rendered this moot.

[2017-06-08 00:14] jreback commented on #8142
PR for validation of this would be great :)

[2017-06-08 06:17] ODemidenko commented on #16622
@chris-b1
Regarding concat I had wrong anticipation, should have read docstring there. Thanks!
Regarding combine_first - it doesn't work in case there are duplicates in the index in initial DFs (and that is the tricky thing with my DFs).

So, seems like the only way to union dataframes with duplicate values:
filter one of them to take indexes only missed in the other: ~index.isin(second_index), an

[2017-06-08 06:17] #16622 closed

[2017-06-08 06:46] jorisvandenbossche commented on #16628
Can you check with the latest version? (0.20.2, bugfix released few days ago) Because I think this was related to the clipboard imports, which should have been fixed in the meantime.

[2017-06-08 07:10] code-o-swagger commented on #9320
@aphearin @jreback @TomAugspurger Hi Guys! I have a different kind of problem to solve. So I have data in the range of millions of columns and thousands of rows. For example, I am currently working on a file of size 10M rows x 1k columns, having a size of 50GB. When I am trying to read in the whole data, it's giving an Out of memory error. I am doing some operations, in which I need column by colu

[2017-06-08 07:45] Peque commented on #16452
I understand why that could affect someone (if they are really interested in that very last digit, which is not precise anyway, as `1.0515299999999999` is `0.0000000000000001` away from the "real" value).

@jorisvandenbossche I'm not saying all those should give the same result. Maybe only the first would be represented as `1.05153`, the second as `...99` and the third (it might be missing one `9`

[2017-06-08 07:48] Peque commented on #16452
It seems MATLAB (Octave actually) also don't have this issue by default, just like R. You can try:

[code]

[2017-06-08 08:10] BLMeltdown opened #16630 "Request: setting for raising error when Loc inputs are not present in indexes/column"
Hello

I have such a dataframe: signalperstation
                   signal_int
Entry name
Station1         998
Station2        837
Station3         870

signalperstation.loc[["Station1","Station3"]] yields

                    signal_int
Entry name
Station1         998
Station3         870

but
signalperstation.loc[["Station1","Station4"]] yields

                    signal_int
Entry name
Station1

[2017-06-08 08:26] jorisvandenbossche commented on #9320
@aphearin Please don't post such questions on unrelated github issues. You can better use StackOverflow or the mailing list for this.

[2017-06-08 08:28] kuraga opened #16631 "[BUG] ValueError: Invalid frequency: AS-JAN"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

[code]
(but works well since `freq='A'`)

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.4.3.final.0
python-bits: 64
OS: Linux
OS-release: 3.13.0-24-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: N

[2017-06-08 08:30] jorisvandenbossche commented on #16559
Is this a windows issue? (cannot reproduce your example above on linux)

[2017-06-08 09:13] Peque commented on #5023
Apparently there is also an undocumented `limit` parameter (not even mentioned in the docstring).

[2017-06-08 09:16] jorisvandenbossche commented on #5023
An explanation of the `limit` keyword is indeed missing, but note that this stems from the previous (deprecated) interface, so maybe not worth to add it anymore (as I think we might remove those deprecated things in the next release)

[2017-06-08 10:08] jorisvandenbossche commented on #16452
Digged a little bit into it, and I think this is due to some default settings in R:

When printing:
[code]

So for printing R does the same if you change the digits options.

For writing to csv, it does not seem to follow the digits option, from the `write.csv` docs:

So with digits=15, this is just not precise enough to see the floating point artefacts (as in the example above, I needed digits=17

[2017-06-08 10:26] ran404 opened #16632 "drop_duplicates() doesn't work for mixed dtype series containing numpy nans"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When dealing with mixed dtype Series (sometimes as a result of .T followed by slice operation from dataframes), the drop_duplicates() call is very surprising, as it doesn't work for np.float64(np.nan). I would expect the htable.duplicated_object(values) call to also work with mixed dtypes containing np.float64

[2017-06-08 10:32] Peque commented on #16452
@jorisvandenbossche Exactly. What I am proposing is simply to change the default `float_precision` to something that could be more reasonable for average/most-common use cases.

To backup my argument I mention how R and MATLAB (or Octave) do that.

Also, maybe it is a way to make things easier/nicer for newcomers (who might not even know what a float looks like in memory and might think there is a

[2017-06-08 10:40] jreback opened #16634 "TST: remove fixed 3.6/2.7/DOC build for numpy"
- [x] 3.6 #16633
- [x] 2.7 #16650 (#16688)
- [x] docs #16654

[2017-06-08 10:47] #8569 closed

[2017-06-08 10:48] #8142 closed

[2017-06-08 10:58] mushtaque87 opened #16635 "The query returns Empty array Empty DataFrame Columns: [pin_code, state] Index: []"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
# Paste the output here pd.show_versions() here

</details>

[2017-06-08 11:02] mushtaque87 opened #16636 "The query returns Empty array when i use Where in query string"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When i user normal query it returns a dataframe , But when i put an condition in a query like Where it returns an empty array

Empty DataFrame
Columns: [pin_code]
Index: []

Data set     # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv

#### Expected Output

#### Output of ``pd

[2017-06-08 11:08] #16635 closed

[2017-06-08 11:13] jorisvandenbossche commented on #7031
Closed by https://github.com/pandas-dev/pandas/pull/16625

[2017-06-08 11:13] #7031 closed

[2017-06-08 11:17] jorisvandenbossche commented on #16636
This seems like a `sqldf` issue, can you report it over there? I think https://github.com/yhat/pandasql/

[2017-06-08 11:17] #16636 closed

[2017-06-08 11:19] jorisvandenbossche commented on #16628
The related issues I meant are https://github.com/pandas-dev/pandas/issues/16383 and https://github.com/pandas-dev/pandas/issues/16288, so this should indeed be fixed in 0.20.2.

Closing, but please check that updating solves the issue, and report back it it doesn't.

[2017-06-08 11:19] #16628 closed

[2017-06-08 11:31] gorkemozkaya commented on #16559
Yes, it happened on a 64 bit Windows.

[2017-06-08 12:02] jreback commented on #16630
see #15757 this has been discussed extensively.

[2017-06-08 12:02] #16630 closed

[2017-06-08 13:37] jdeschenes opened #16637 "BUG: TimedeltaIndex raising ValueError when slice indexing"
This is tangentially related to #14946.

#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This behavior is broken since 0.19.1 and is still occurring with the latest version of pandas. The problem is pretty self-explanatory.

**ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().**

#### Expected Output

[2017-06-08 14:25] mhooreman commented on #16474
Thanks. pd.read_pickle works, but, for your information, it is extremely slow - see benchmark.
I've made a script to pd.read_pickle and then pd.to_pickle every file.
![benchmark](https://user-images.githubusercontent.com/7373718/26933500-0590d156-4c67-11e7-986e-01568fca755d.jpg)

[2017-06-08 14:40] aviolov opened #16639 "Series.isin fails (errors) for categoricals"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I get an error in 0.20.1

  File "<ipython-input-17-44ce14b18f50>", line 12, in <module>
    select_ids = DFtrades['id'].isin(DFscores['id']);

  File "C:\Users\alexandre\Anaconda3\lib\site-packages\pandas\core\series.py", line 2555, in isin
    result = algorithms.isin(_values_from_object(self), values)

  Fil

[2017-06-08 14:51] BLMeltdown commented on #16630
I am not sure about understanding why convert objects are related to this matter, but well, I'll believe in you;)

[2017-06-08 15:03] Dr-Irv commented on #16541
So I used my version 0.20.1 to add the fix suggested above by @jreback , and that fixed the problem for me, but then a different one cropped up.  Not sure if I should just put this in a different issue. In my use case, I took dates and made them a monthly period, and there are duplicates.  Here is a way to make it happen:
[code]
This gives this sequence of errors:
[code]

Let me know if I should o

[2017-06-08 15:23] wavexx opened #16641 "read_table should check for engine name validity"
We should really check for valid engine names for the ``engine`` argument to ``pd.read_table``. An invalid name results in a dubious error to the user:

[code]

[2017-06-08 15:50] jorisvandenbossche commented on #16474
@mhooreman the timings of "reading old" look suspiciously consistent with "writing". Are you sure you timed the correct thing?

[2017-06-08 15:50] wavexx opened #16642 "Implement label support for usecols in read_table "c" engine"
``pd.read_table`` can make use of ``usecols`` to reduce the memory footprint. ``usecols`` supports a list of labels, but this is only supported on the "python" engine. Using ``usecols`` with the "c" engine will result in the following error:

[code]

``usecols`` works instead with labels if you specify the python engine manually.
We should implement ``usecols`` with labels also for the "c" engine.

[2017-06-08 15:57] bashtage commented on #16618
Is this going to provide n-version to n-version translation, e.g. if a project is targeting 0.19.2 will be ensure that using anything from 0.18, 0.19, 0.20 will work against a 0.19.2 api?  Or is it trying to provide master/latest release api when the installed version in 0.18, 0.19, 0.20...

[2017-06-08 16:25] MaximilianR commented on #16541
Do you get the error run on that PR?

If so, I would open a new issue?

[2017-06-08 16:33] dsm054 commented on #16632
It works for numpy nans -- it just only works for the _same_ numpy nan.  The problem boils down to

[code]

which happens because we're only working with _identity_:

[code]

It would be probably be straightforward to canonicalize anything null in `_libs/hashtable_func_helper.pxi.in` before insertion.

[2017-06-08 17:21] Dr-Irv commented on #16541
@MaximilianR I did a hand edit of pandas 0.20.1 to implement what is in the PR, and got the error.  To test it against all PR's, I think I'd need that PR to be merged into master and then I can pull master and test.

[2017-06-08 17:30] mhooreman commented on #16474
I need to double check, but I'm sure about the performance difference while
reading: I got performance issues and I converted to fix those.

Le 8 juin 2017 5:50 PM, "Joris Van den Bossche" <notifications@github.com>
a écrit :

[2017-06-08 17:37] chris-b1 commented on #16642
I think you might have an error in your data?  The c engine does support usecols:

[code]

[2017-06-08 17:39] chris-b1 commented on #16641
Thanks for the report, this was closed by #16511 and is fixed in `0.20.2`

[2017-06-08 17:39] #16641 closed

[2017-06-08 17:45] chris-b1 commented on #16630
I think @jreback meant to link this issue - #15747

[2017-06-08 17:48] chris-b1 commented on #16639
I'm guessing the fix to this looks something like #16543 - did some refactoring the algorithms file and this is a case that probably got missed

[2017-06-08 17:59] rosygupta commented on #16607
@buyology Seems achievable. Where do I look for the tests for this particular piece to check my code?

[2017-06-08 19:06] jreback commented on #16474
@mhooreman of course its slower. its falling back to the python based unpickler which is much more flexible. so you can either have fast or correctness. you get to choose.

[2017-06-08 20:07] TomAugspurger commented on #16607
@rosygupta this is a new feature request, so there aren't existing tests for it. Similar tests to what you would need to add are in https://github.com/pandas-dev/pandas/blob/73930c58e8eac4031608bb8c4bf624d77e1d1dcb/pandas/tests/indexes/datetimes/test_tools.py

[2017-06-08 20:08] wavexx commented on #16642
On Thu, Jun 08 2017, chris-b1 wrote:

Mh, after closing my python session and restarting from scratch I really
cannot reproduce this, even myself.

Weird, as I debugged this for quite a bit, but I guess I had some issue.
Sorry for the noise.

[2017-06-08 20:29] #16642 closed

[2017-06-08 20:37] TomAugspurger commented on #16631
I think you may be confused about the difference between `Timestamp`s and `Period`s. Your code sample uses a `Period`,  but your expected output shows a `Timestamp`.

The `S` / `E` modifiers (start and end) don't apply to `Periods` since the represent a span of time, an entire year or month or whatever. Timestamps are instants in time, so the need to specify whether it's the Start or End. So this

[2017-06-08 20:40] kuraga commented on #16631
Ok, sorry, thanks!

[2017-06-08 20:40] #16631 closed

[2017-06-08 20:47] TomAugspurger commented on #16626
If you look at `df4.columns`, you'll notice that `'d'` is present:

[code]

Going back to your first point, that there are no `NaN` columns in the output, that's because there are no `labels` for that `level` (notice that there aren't any `2`s in your `Out[14]`. If you want similar behavior, you'd have to reindex on both levels

[code]

Make sense?

[2017-06-08 21:25] kuraga commented on #16631
@TomAugspurger I was confused because I have applied `freq` in `to_timestamp` not `Period`. But yes, it was silly to check `AS` but not `AE`...

[2017-06-08 21:55] cottrell commented on #8048
Yeah, that functionally seems to cover it. I have a feeling from_tuples is pretty bad performance wise.

It seems like all the usefulness of that features really comes down to just being able to efficiently create codes for groups of levels (merging levels like you show above). After that, it is just record keeping to get the labels. Do you know if there is a more efficient version of something li

[2017-06-08 22:10] MaximilianR commented on #16541
Great!

FYI you can pull someone's PR for convenience, rather than hand-editing

[2017-06-08 23:37] detrout commented on #2311
@jameserrico There's a library https://github.com/embr/gcat that can read from google drive. I have a fork that I updated to work with python3 https://github.com/detrout/gcat but upstream hasn't merged the pull-request

It knows how to return pandas data frames. I.e. I have some code like this:
[code]

[2017-06-09 01:45] jupiterjosh opened #16644 "Observing significant (up to 30x) __get_item__ performance drop between 0.19.2 and 0.20.x"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
This is my first ever git post, and so please let me know if I can do anything else to make the issue more clear.

This is a script that I execute in Spyder.  It is ugly and could be written to be made faster, but since the "for" loop (which is calling __get_item__) only took around 10 seconds to run, I didn't wo

[2017-06-09 01:52] shoyer commented on #16644
Unfortunately it is very hard to debug such a large example -- a lot of different things could be doing wrong. Could please make a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve)? Thanks

[2017-06-09 02:56] jupiterjosh commented on #16644
Thanks for the link!  I will post something shortly.

[2017-06-09 03:30] jupiterjosh commented on #16644
Okay, I can replicate the 0.19.2 to 0.20.1 performance degradation with the following code, but the 0.20.2 performance is roughly the same as the 0.19.2 performance (i.e., the __get_item__ issues appears to have been corrected in version 0.20.2 for my verifiable code example).  I will look at what else is in my original code and revise the verifiable example tomorrow to try to replicate the 3x per

[2017-06-09 04:54] vfridkin opened #16645 "Pandas read_excel: only read first few lines"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Using pandas read_excel on about 100 excel files - some are large - I want to read the first few lines of each (header and first few rows of data).

The above doesn't work but illustrates the goal (example reading 10 data rows).

[2017-06-09 05:58] bdforbes opened #16646 ""cannot reindex from a duplicate axis" when groupby().apply() on MultiIndex columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code above produces the error:

I believe this is a bug because, as described below, essentially the same operations can be successfully run along the other axis.

#### Expected Output

It should, as far as I can tell, produce the following output:

![image](https://user-images.githubusercontent.com/1569753

[2017-06-09 06:45] techvslife commented on #12873
You can simply use this instead to get around the lack of getitem access with namedtuples:
getattr(row, "col1")
I think that's the equivalent of row.col1 but allows you to use variables for the index.

[2017-06-09 07:01] bdforbes commented on #16646
I've just found a simpler MWE. This fails:

[code]

This succeeds:
[code]

[2017-06-09 10:09] #16644 closed

[2017-06-09 10:29] jreback commented on #16618
yes

[2017-06-09 10:33] jreback commented on #16646
this is very very odd to odd. what are you actually trying to do?

[2017-06-09 10:35] jreback commented on #16646
for example your 'failing' ones:

[code]

[code]

Makes no sense to do this. You can certainly iterate over the groups yourself and concat (though you will find exactly the same issue if you don't drop the indexes). By definition pandas wants to align return objects.

[2017-06-09 10:42] jreback commented on #16639
this fixes. Though I think we should add some asv's with categoricals to make sure they are hitting the right path, IOW these cases

[code]

[2017-06-09 10:46] jreback commented on #16626
duplicate of this issue: https://github.com/pandas-dev/pandas/issues/12319.

This ATM is a deliberate choice. Feel free to comment on the other issue.

[2017-06-09 10:46] #16626 closed

[2017-06-09 10:53] jreback commented on #16624
yeah just needs a len check and this should be good (so it would take the next branch)

[2017-06-09 10:53] jreback commented on #16624
@AdamGleave a PR would be appreciated!

[2017-06-09 10:56] jreback commented on #16621
agree with @TomAugspurger might be excepting out of the inner loop. @gzcf if you want to investigate and see if you can make a fix that passes the test suite would be fine.

[2017-06-09 10:57] chris-b1 commented on #16645
Sure, could support this, although `xlrd` (library we use to read Excel files) always reads the whole file into memory, so it wouldn't be as fast as you'd hope.

[2017-06-09 10:57] jorisvandenbossche commented on #16644
If you can get the remaining slowdown between 0.19.2 and 0.20.2 in a smaller reproducible example, that would be nice!

[2017-06-09 10:58] jreback commented on #16559
@gfyoung can you verfiy / see if you can fix?

[2017-06-09 11:04] jreback commented on #8048
@cottrell looks like you need generalized data hashing, try

```pandas.util.hash_pandas_object``` these are highly performant (and used internally in indexing)

[2017-06-09 11:29] gzcf commented on #16621
I'm glad to help. Let me take some time to fix it.

[2017-06-09 11:39] bdforbes commented on #16646
I'm actually trying to adapt the code at https://stackoverflow.com/a/38964596/336001, which recursively adds subtotal rows into a DataFrame, to work along columns instead. Here is the original code, which adds subtotal rows:

[code]

The adapted version to add subtotal columns looks like this:

[code]

This code will produce the "cannot reindex from a duplicate index" error, whereas the original c

[2017-06-09 13:22] kuraga commented on #16631
Really, should `to_timestamp` convert to any point  of such perios (start, end), shouldn't it?

[2017-06-09 15:41] bluenote10 opened #16647 "Memory leak in pandas.read_msgpack when reading from string"
#### Code Sample (copy-pastable)

[code]
#### Problem description

There is a memory leak in `pandas.read_msgpack` when reading from a string. Calling `pandas.read_msgpack(str_data)` increases the ref count of `str_data` if and only if `read_msgpack` sees the content of `str_data` for the first time. This implies that there is a memory leak, but only when reading _different_ files -- when reading

[2017-06-09 15:51] #16524 closed

[2017-06-09 16:49] chris-b1 commented on #16647
This finally block that never runs looks like a possible cause.

https://github.com/pandas-dev/pandas/blob/9fdea65e5675f724efbb6afd68b5862128aa388d/pandas/io/packers.py#L212

[2017-06-09 16:50] jupiterjosh commented on #16644
@jorisvandenbossche Thanks.  I will track down the remaining slowdown.

@jreback I would have preferred if this was closed with some sort of comment since I did observe a slowdown between 0.19.2 and 0.20.2.  I will repost when I have figured out where the remaining slowdown is occurring and I can create a better verifiable example.  It is somewhere buried in get_loc, but I can't tease out where as

[2017-06-09 16:54] decatur commented on #10449
It took me hours to land here. My understanding is that
``index = pd.date_range("2015-01-01", "2015-01-01 01:00", freq="1H")``
represents `len(index)=2` hourly slots, increasingly so if you replace `date_range` by `period_range`
So I did expect that
``
s = pd.Series(1, index=index)
``
``s.resample("15T").pad()
``
has 2*4=8 slots, not 5. Having to do
``
s.reindex((pd.date_range(index[0], index[-1]+

[2017-06-09 18:26] TomAugspurger commented on #16631
Not sure what you mean, can you provide an example? There is the `how` argument on `Period.to_timestamp` that controls which endpoint to use.

[2017-06-09 18:31] kuraga commented on #16631
Understood.

[2017-06-09 18:55] jupiterjosh commented on #16644
@jorisvandenbossche

The remaining slowdown is due to whether get_loc from pandas_libs.index.MultiIndexObjectEngine is preferred by the dataframe (this method returns quickly) or whether get_loc from pandas_libs.index.MultiIndexHashEngine is used (much much slower).  The MultIndexHashEngine uses a function called "_combine_hash_arrays" which appears to be the code causing the slowdown.

I am not f

[2017-06-09 19:35] winklerand commented on #10449
@decatur
I think this basically boils down to the difference between ```DatetimeIndex``` and ```PeriodIndex``` - and one current shortcoming of resampling ```PeriodIndex```.

In my understanding, the ```DatetimeIndex``` does represents two points in time which are 1h apart - but it does not carry the notion of a time span, duration or "slots". Therefore, the last datetime in the ```index``` ("2015

[2017-06-09 20:35] chris-b1 commented on #5184
Looks like the parakeet project was eventually abandoned - https://github.com/iskandr/parakeet

[2017-06-09 20:35] #5184 closed

[2017-06-09 22:17] jreback commented on #16644
@jupiterjosh I am happy to keep around an issue that demonstrates a clear example of a performance regression, meaning it is a minimal reproducible example. pls format the code and show timing differences with a version on each.

further you in fact stated this

[2017-06-09 22:19] jreback commented on #16647
@bluenote10 welcome for you to have a look :>

[2017-06-09 22:44] jreback commented on #10449
yeah @winklerand soln is the right one here (along with some docs) for doing this.

[2017-06-10 00:13] jreback opened #16653 "CI: pytest-xdist=1.17 breaking things"
https://github.com/pytest-dev/pytest-xdist/issues/157

pytest-xdist=1.17 appears to completely fail, fixed the version for now at 1.16 in https://github.com/pandas-dev/pandas/pull/16652

[2017-06-10 03:08] abarber4gh commented on #16510
in #4988, @jreback requested "needs to be in a separate PR from the deprecation change."  my original PR for #4988 was to change the keyword (from `parse_cols` to `usecols`) to match other `read_*` functions and implement this functionality.  this issue was created to separate the kwarg change from the functionality change.

[2017-06-10 03:41] RobinFiveWords opened #16655 "DOC: read_excel dtype parameter - str vs. object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I imagine <a href="http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.read_excel.html">read_excel</a>'s `dtype` parameter description should just read "Use *object* to preserve and not interpret dtype" and not "Use *str* or *object*".

[2017-06-10 08:09] jong1prk commented on #15074
sorry for late comment, but  I just check what you said. Can you explain the reason why that results happens? I don't understand why the result changes by just changing the order of codes.

[2017-06-10 10:57] chris-b1 commented on #16655
Yes - looks like I copied the `read_csv` docstring - PR welcome!

[2017-06-10 11:35] jreback commented on #16510
@abarber4gh but that is what the original issue is about. So unless you have something different, this is a duplicate issue.

[2017-06-10 13:21] jreback commented on #16627
PR to fix are welcome!

[2017-06-10 13:24] jreback commented on #16623
#16603 is related here

i ordered categoricals have an ordering (iow a factorization order)
when u write this to disk it has to be respected
so i agree though that your example should work

as these cats are equal

PR to fix are welcome!

[2017-06-10 15:09] #16653 closed

[2017-06-10 15:39] chris-b1 opened #16659 "API/BUG: Categorical.is_dtype_equal doesn't compare to Series"
xref #16639
[code]

I think `[30]` should be true?

[2017-06-10 15:54] penghou620 opened #16660 "Datetime and Timedelta operation throw TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The last line throw an error `TypeError: data type "datetime" not understood`. The pandas version is 0.19.2.

 I tried the same code with pandas 0.20.2, it runs correctly.

#### Expected Output
               A          B                 C
    0 2012-01-01     0 days        2012-01-01
    1 2012-01-02     1 day

[2017-06-10 16:19] jreback commented on #16660
since this runs in 0.20.2 this is not an issue. we don't backport across major versions. you are welcome to upgrade.

[2017-06-10 16:19] #16660 closed

[2017-06-10 16:43] jreback commented on #16618
ok this is up and released on PyPi (conda-recipe is building).

https://github.com/pandas-dev/pandas-compat

if folks would give a try and give me feedback on anything that needs to be added / fixed.
should be good for >=0.17.0 of pandas.

[2017-06-10 17:03] jreback commented on #16659
yep [30] should be True.

[2017-06-10 17:18] alysivji commented on #16645
I'm looking into add this functionality. Thanks.

[2017-06-10 18:01] dsm054 commented on #2813
Now that we're using the `Series.rolling` interface and deprecating pd.rolling_*, I'm not sure this fits into the new API.

[2017-06-10 18:05] jreback commented on #2813
good point

[2017-06-10 18:05] #2813 closed

[2017-06-10 20:42] rosygupta commented on #16607
Hey, I'm not sure why tests of all classes are not being executed when testing. Only 6 classes being executed. Can someone clear out?

[2017-06-10 21:37] dsm054 commented on #8072
This seems to work in current master, presumably as part of the window functions rewrite:

[code]

The only thing which seems a little surprising to me is that we catch the negative window at construction but the negative min_periods at evaluation:

[code]

but it's hard to get too worked up about that.

[2017-06-10 21:40] dsm054 commented on #7841
Since there _is_ no (Multi)Index.tostring these days, I don't think this applies any more.

[2017-06-10 21:44] dfolch commented on #16626
The `NaN` column issue is tricky for sure. Not everyone wants the same lower level columns under _every_ higher level column.

The `columns` attribute still seems a little weird since it can contain column names that are not in the dataframe. In my use case I did a lot of manipulations to a dataframe, and then wanted to see which columns names remained. Below is my solution:
[code]

[2017-06-10 21:59] jreback commented on #8072
yeah min_periods is a function of the called function e.g. kurt,skew,var have different min values that sum/mean

[2017-06-10 21:59] jreback commented on #8072
closing as already fixed

[2017-06-10 21:59] #8072 closed

[2017-06-10 22:00] jreback commented on #7841
agreed.

[2017-06-10 22:00] #7841 closed

[2017-06-10 22:37] jreback commented on #16626
this is defined behavior on how s MultiIndex works
you can see http://pandas.pydata.org/pandas-docs/stable/advanced.html#defined-levels if you think remove_unused_levels

[2017-06-11 01:12] ivansabik opened #16662 "ENH: Add ability to specify AWS port through AWS_S3_PORT environment variable"
When trying to integrate Pandas CSV reading from s3 for local development (in docker) with containers from [LocalStack](https://github.com/atlassian/localstack) or [Minio](https://github.com/minio/minio) we need to be able to define a custom host as well as a port.

[PR #12198](https://github.com/pandas-dev/pandas/pull/12198) introduces the `AWS_S3_HOST` environment variable, I propose adding the

[2017-06-11 01:25] jreback commented on #16662
we don't offer backports for any version before the last major one (0.20)

[2017-06-11 01:27] #16662 closed

[2017-06-11 01:58] ivansabik commented on #16662
For the record, solved using s3fs:

[code]

[2017-06-11 03:57] jupiterjosh commented on #16644
@jreback -- perhaps you could comment on this:

`

Pandas is doing some sort of type inferencing to determine when the MultiIndexHashEngine is used over the MultiIndexObjectEngine.  If you could give me a pointer on how to set up a multiindex that triggers the use of the MultiIndexHashEngine then I will post code and profiler results.

[2017-06-11 09:03] rosygupta commented on #16607
@buyology @TomAugspurger Pulled a PR. Need some guidance.

[2017-06-11 09:04] gfyoung commented on #16559
A git bisection reveals that #16039 is the culprit.  PR coming soon.

[2017-06-11 09:10] jorisvandenbossche commented on #16644
Yes, there are indeed two mechanisms to index MultiIndexes, and which is used depends on the size of the index: https://github.com/pandas-dev/pandas/blob/1564a6e0e9fa3a640f5c1999c4fb118b8e5a4411/pandas/core/indexes/multi.py#L635-L646

So the current cut-off is a size of 10000.
Each of both has advantages and disadvantages (speeds of creation and less memory usage vs speed of indexing). You can see

[2017-06-11 09:25] gfyoung commented on #11199
@jreback : Yep, can do.  This bug is patched but needs a test.

[2017-06-11 14:29] jreback opened #16668 "CLN: private impl of OrderedDefaultDict can be removed"
https://github.com/pandas-dev/pandas/blob/master/pandas/compat/__init__.py#L376

I think this was leftover from 2.6 compat.

[2017-06-11 15:05] rosygupta commented on #16668
@jreback So the private methods need to be made public? Is that all is required?

[2017-06-11 15:06] jreback commented on #16668
no i think it can just be removed

[2017-06-11 15:53] dfolch commented on #16626
I see now that there was a debate on this in #2770. `remove_unused_levels` is exactly what I needed. Thanks for implementing that @jreback.

[2017-06-11 16:04] jreback opened #16669 "DOC: new mini-section on specifying formats on datetime parsing"
We have a single note on how to use ``format=`` kw in ``timeseries.rst``: https://github.com/pandas-dev/pandas/blob/master/doc/source/timeseries.rst#L178

I think let's make this a min-sub-section and provide links (or *maybe* just replicate) [python strptime docs](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior) and show how to use the codings for specifying formats

[2017-06-11 16:07] jreback commented on #16626
@dfolch great!

yeah its *not* automatic, but at least possible now (in an easy way).

[2017-06-11 16:41] jreback commented on #14613
@stoddardg can you create a new issue for your example. It is different that this one and *looks* like a bug.

[2017-06-11 21:41] gfyoung commented on #14758
Ah, yes, confirmed.  I'll add this as a test

Actually, it does not!  :smile:  I'll add a test to confirm.

[2017-06-11 23:08] #11199 closed

[2017-06-11 23:19] #16580 closed

[2017-06-11 23:19] #16582 closed

[2017-06-11 23:19] #16655 closed

[2017-06-11 23:42] #16559 closed

[2017-06-12 01:15] gfyoung opened #16674 "API: How do we differentiate between -9223372036854775808 and iNaT?"
From #3707 (at <a href="https://github.com/pandas-dev/pandas/commit/0281886fbdf0d1837c2af08af15949c1d98bf612">028188</a>):

[code]

The assertion error occurs because during the aggregation, `pandas` checks whether there are any "missing" integer values before and after the aggregation, which are defined as `iNaT = -9223372036854775808`.  If there are any such values, we automatically cast the dat

[2017-06-12 01:16] gfyoung commented on #3707
Resurrected in #16674.

[2017-06-12 01:17] JimStearns206 commented on #11959
plt.boxplot does not show gridlines by default. df.plot(kind='box') follows that convention, but df.boxplot() does not.  Pngs:
![plt_boxplot](https://user-images.githubusercontent.com/9705309/27016060-2d6baa50-4ed0-11e7-8752-050d3a81dc9e.png)
![pd_plot_kind_box](https://user-images.githubusercontent.com/9705309/27016063-3428c92c-4ed0-11e7-9925-d519d7577dd1.png)
![pd_boxplot](https://user-images.gi

[2017-06-12 06:03] gfyoung opened #16676 "BUG / ENH: Implement groupby_helper funcs for int"
From #15091 (at <a href="https://github.com/pandas-dev/pandas/commit/0281886fbdf0d1837c2af08af15949c1d98bf612">028188</a>):

[code]

When we pivot, we have to aggregate the values we group together by the `index` and `columns` parameters.  When we specify `mean` as the aggregator, we eventually get around to calling `_get_cython_function`, which searches for an implemention of `mean` in `groupby.p

[2017-06-12 09:36] lafras opened #16679 "agg method with list of functions does not work with axis=1"
#### Code Sample

[code]
#### Problem description

Calling the `agg` method on a frame with `axis=1` raises a `TypeError`:

[code]

#### Expected Output
`frame.agg(['mean', 'std'], axis=1)` should produce this:

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.0-79-generic
mac

[2017-06-12 10:04] kmodry opened #16680 "pytest 'slow' not a registered marker with `--strict` flag on other projects"
Create a file `test_pandas.py` with `import pandas`

[code]

run `pytest` with `--strict` flag

[code]

(original post below)

---

Importing panda make my pytest tests fail because of one marker "slow" is required in
/usr/local/lib/python2.7/dist-packages/pandas/util/testing.py:55: in <module>
    slow = pytest.mark.slow

I don't use slow marker and have to add it to run my test even though it's

[2017-06-12 10:20] quertenmont commented on #16620
It does the trick for me!
Thanks a lot for helping

[2017-06-12 10:20] #16620 closed

[2017-06-12 10:46] #14758 closed

[2017-06-12 10:55] jreback commented on #16680
you would have to show more information.

[2017-06-12 10:57] jreback commented on #16676
so this is actually straightforward. we add a groupby_mean that accepts int, but *returns* float.

[2017-06-12 11:00] jreback commented on #16674
so we already do this for transforms. https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby.py#L2100. should be easy to extend generally.

[2017-06-12 11:04] jreback commented on #16679
yeah looks like an under tested case. welcome for you to have a debugging look.

[2017-06-12 12:21] BLMeltdown commented on #3441
Hello
I have some use case where it would be useful:
Even with the ExcelWriter trick as:

with ExcelWriter('foo.xlsx') as writer:
df.to_excel(writer, 'Data 0')
df2.to_excel(writer, 'Data 1')

you can't add a plot that you need without saving the file and reopening it. With the risk of meddling with any formatting you have in the workbook.

There is indeed the workaround to use the plotting functio

[2017-06-12 13:26] Khris777 opened #16682 "read_csv() does not recognize escaped quotechar as escaped"
#### Code Sample, a copy-pastable example if possible

Take a csv file with this content:
[code]
#### Problem description
Try to read it using:
[code]

#### Expected Output

This leads to this error:

The quotechar `"` in the file is escaped but `read_csv` does not recognize it as escaped which leads to the error message.

#### Output of ``pd.show_versions()``

[code]

[2017-06-12 13:33] AdamGleave commented on #16624
@jreback see #16683

[2017-06-12 14:09] linar-jether opened #16684 "Concat fails with tz-aware and empty series (axis=1)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Only happens with `axis=1`
Shouldn't be a problem to concat an empty series to a dataframe...

#### Expected Output
Should filter out empty objects passed to concat.

[code]

#### Output of ``pd.show_versions()``

<details>
[code]

[2017-06-12 16:21] gzcf commented on #16621
After I read related codes, I found this is a intended behavior.  Check issue #2476 and `_apply_empty_result`  in 'pandas/core/frame.py'.

[code]

Look, these code will try guessing return type by calling func an empty Series. I don't think this is a good implementation.  it's bad to `except Exception`, it will swallow all exceptions. At many cases, calling func with an empty Series will raise `Ke

[2017-06-12 16:43] ManrajGrover commented on #16669
@jreback I can take this one up as a start to contribute to pandas.

[2017-06-12 20:37] chris-b1 commented on #16682
You can specify an escape character with the `escapechar` parameter.

[code]

[2017-06-12 20:37] #16682 closed

[2017-06-12 20:46] chris-b1 commented on #16684
On your expected output - shouldn't there be an `'empty'` column filled with NaNs, like the non tz case?

For consistency, I agree this should work, although in practice it's sort of odd behavior to rely on, I'd be more inclined to explicitly filter, like this.  Still, thanks for the report and PRs welcome!
[code]

[2017-06-12 20:47] chris-b1 commented on #16684
#16230 might be related

[2017-06-12 21:03] chris-b1 opened #16685 "PERF: Unnecessary hash table with RangeIndex"
Example
[code]

Rather than materializing the hash table, should directly convert labels into positions.  Low priority in my opinion, atypical to be using `loc` with a `RangeIndex`.

`pandas 0.20.2`