[2020-06-24 12:51] MarcoGorelli commented on #34970
Thanks @pizzathief for the report

This file doesn't exist on the `master` branch, can pull the most recent commits and try again?

[2020-06-24 12:57] TomAugspurger commented on #34972
Duplicate of https://github.com/pandas-dev/pandas/issues/32289.

[2020-06-24 12:57] TomAugspurger commented on #32289
Tyhis is failing the macpython builds now.

https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=38048&view=logs&j=79f3a53a-4a6d-509c-98b5-ff6e9111f67c&t=25a63239-9c30-5cf0-cb4c-3d01da7b47c5&l=1049

[code]

[2020-06-24 13:15] pkaleta commented on #34969
Gotcha. So I think it was working fine before, b/c it was implicitly installing an older version of numpy when building pandas wheel, which worked, because numpy API wasn't incompatible. Now that numpy-1.19.0 is out, it's started using that and caused these errors.

Thanks @TomAugspurger, this explains the issues I'm seeing.

[2020-06-24 13:15] #34969 closed

[2020-06-24 13:25] Rish001 commented on #33696
Can I update the error message?

[2020-06-24 13:25] #34946 closed

[2020-06-24 14:00] pizzathief commented on #34970
fetched from upstream and ran tests again, I dunno what happened with the code I had, pytest runs through all tests now without stopping. False alarm, closing issue, sorry :-(

[2020-06-24 14:00] #34970 closed

[2020-06-24 14:09] dekiesel commented on #25472
@NumesSanguis

Any ideas for a workaround if the integer (18 places) is too big for float64?

[2020-06-24 14:47] roberthdevries commented on #29803
This cannot be reproduced anymore with the latest pandas master.
I changed the code to try to reproduce the error as follows:
[code]

No left over open file handles are detected. The output is this and means no open file handles before and after the test:
[code]

[2020-06-24 15:02] ishmeetk commented on #5401
Will this feature get implemented or it's still in discussion ? Thank You

[2020-06-24 15:13] #27222 closed

[2020-06-24 15:18] #34972 closed

[2020-06-24 15:30] dsaxton commented on #33696
@Rish001 I think that the error message is fine here, this was more a question about the documentation. But since the documentation for the values argument reads

we could probably consider this resolved.

[2020-06-24 15:30] #33696 closed

[2020-06-24 15:31] jreback commented on #5401
@ishmeetk thinhs are implemented when someone from the community submits a pull request.

this is not hard and would welcome it

the core team can provide review

[2020-06-24 15:40] jorisvandenbossche commented on #34961
For the first item, can you explain why you find an inplace `reindex_..` on a BlockManager to be easier? I personally tend to think that "inplace" operations are harder to reason about, certainly if it can actually return a fully different (in constract to something like `fillna`).
Doing `self._mgr = mgr.reindex_or_whatever(...)` at least makes it clear we are overwriting it with a new BlockManage

[2020-06-24 16:00] #34860 closed

[2020-06-24 16:28] TomAugspurger commented on #34809
Rereading https://github.com/pandas-dev/pandas/issues/34809#issuecomment-644993342, and I think that the suggestion to include a `result_type`-like keyword to control whether the function should be viewed as an aggregation / transform / other makes sense. I think that's the only possible solution for my use case: a distributed `groupby.nunique()` that's implemented through a `.groupby(grouper).app

[2020-06-24 17:29] TomAugspurger opened #34974 "BUG: InvalidIndexError raised in Categorical.isin for categorical backed by interval with overlapping intervals"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

The result is unambigous

#### Expected Output

[code]

I think that the call to `self.categories.get_indexer` might be `self.categories.get_indexer_for` instead.

[2020-06-24 17:47] rosekoopman opened #34975 "BUG: Unexpected behaviour comparison dataframes with None values"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-06-24 17:54] osdiego commented on #14553
Hello! Is the functionality ready or is something still missing? If something is still missing, please let me know if I can help with anything!

[2020-06-24 17:55] amansani commented on #34723
No problem @TomAugspurger . I am going to close this issue, as this problem is not with either pandas or Camelot. It's the problem opening the csv file using microsoft excel. However, I really appreciate if pandas can come up with some kind of option/parameter to fix this. Thanks to everyone though :)

[2020-06-24 17:55] #34723 closed

[2020-06-24 18:02] jbrockmendel commented on #34961
This is a tradeoff to be sure.

The idea here is that we wouldn't be getting a new BlockManager, but would be altering the existing one.

Unclear wording on my part.  Rephrasing: `id(frame._mgr)` is constant over the lifetime of `frame`.

I would want to change this so that df2 gets its own BlockManager with its own blocks, yes.

[2020-06-24 18:33] mroeschke commented on #34975
This is expected behavior. See: https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#values-considered-missing

[2020-06-24 18:33] #34975 closed

[2020-06-24 18:39] jihwans commented on #14226
@Dov - I guess you forgot that you opened this issue long time ago :)
I suggest adding something like these:
.add_cell_class(classes, axis, subset)
.add_row_class(classes, index)
.add_column_class(classes, columns)

[2020-06-24 18:47] arw2019 commented on #20445
Checked that this is still an issue (June 2020). I get
[code]
[code]

<details><summary><b>Output of pd.versions()</b></summary>
INSTALLED VERSIONS
------------------
commit           : 97f79187634486e12056bbaef5a61432f146c96d
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-106-generic
Version          : #107-Ubuntu SMP Thu Jun 4 11:27:52 U

[2020-06-24 19:00] dsaxton commented on #34975
@mroeschke While this is expected for None there's an almost identical issue for object NA which does seem like a bug:
[code]
Does it make sense to modify this / leave it open to track this? I think it's due to the same line:

https://github.com/pandas-dev/pandas/blob/6a6faf596bc1e3bf4078d4837f654d0f2f754820/pandas/_libs/ops.pyx#L167

[2020-06-24 19:07] gusostow commented on #22606
Is this issue still open? I'm looking for a good first thing to PR.

[2020-06-24 19:19] mroeschke commented on #34975
Might be better to open up a separate issue for object NA.

I haven't followed NA semantics too closely but shouldn't that comparison also resolve to `False` or does the spec say it should be `True`?

[2020-06-24 20:07] dsaxton commented on #34975
The comparison should resolve to NA since the equality is "unknown", @rosekoopman would you be interested in opening up an issue for that?

[2020-06-24 20:20] arw2019 commented on #34440
Would love your feedback on #34943 - I think I fixed this problem there

[2020-06-24 20:29] MarcoGorelli opened #34977 "BUG: Can't initialise DataFrame using empty Series and empty columns"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

noticed while working on #30858

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the nece

[2020-06-24 20:36] rhshadrach commented on #12653
@jbrockmendel with the contextmanager, are you thinking doing a comparison after the apply call to see if the objects involved changed? Is there a way to avoid a copy here?

[2020-06-24 20:38] TomAugspurger commented on #34095
@jorisvandenbossche what else do you want to do here for 1.1? Currently, `concat([Int64, int64])` correctly returns `Int64`.

I think the remaining issue is for `concat([Int64, boolean])` to return Int64? Anything else/

[2020-06-24 20:44] jbrockmendel commented on #12653
I am thinking of setting the `array.flags.writeable` to False for any ndarrays contained inside the DataFrame.  We'd need to implement something analogous for ExtensionArrays.

[2020-06-24 21:28] arw2019 commented on #28156
I reproduce this bug exactly as above on the master version of pandas.

<details><summary><b>Output of pd.show_versions()</b></summary>
INSTALLED VERSIONS
------------------
commit           : 526f40431a51e1b1621c30a4d74df9006e0274b8
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-106-generic
Version          : #107-Ubuntu SMP Thu Jun 4 11:

[2020-06-24 21:28] MJafarMashhadi commented on #34968
I see that 'M' unit is depricated for the same ambiguity (#16344) and the docs are updated in 095ad41 which will appear in version 1.1.0

[2020-06-24 22:02] selasley commented on #34968
From timedeltas.pyx
[code]
I'm working on an update to the to_timedelta docs to document this behavior

[2020-06-24 22:25] #9457 closed

[2020-06-24 22:25] #13357 closed

[2020-06-24 22:35] #32108 closed

[2020-06-24 22:37] #33921 closed

[2020-06-24 22:40] #33676 closed

[2020-06-24 22:48] jihwans commented on #19917
I made a pull request addressing this issue -- see #34863
[code]

[2020-06-24 22:48] rchurt opened #34980 "ENH: add re.fullmatch"
#### Is your feature request related to a problem?

I want to find only strings that match my full regex expression, not just the first part of it.

For example, if I am searching for the string `'panda'`, and my series contains the strings `'panda'` and `'pandas'`, I only want it to return `'panda'`. Currently, using `str.match('panda')` returns both.

#### Describe the solution you'd like

Add s

[2020-06-24 23:19] dsaxton commented on #34980
Can you use str.match along with ^ and $ anchors to achieve the same result? (Also simple equality works here, but of course only because we have a trivial regex.)

[2020-06-24 23:24] rchurt commented on #34980
Yup, that's what I ended up doing in my code, but I thought I'd post this here as a possibility to help those not so familiar with regex. I'll defer to you as to whether you think it's worth implementing or not.

[2020-06-24 23:44] #34395 closed

[2020-06-25 00:48] yehoshuadimarsky commented on #23566
yes

[2020-06-25 04:01] arw2019 commented on #28156
I think that the answer is that you should not be allowed to read a column if you did not specify it as a `data_column`. See this doc:
https://pandas.pydata.org/pandas-docs/version/0.15.1/io.html

If everyone agrees with that then we should be raising an `AttributeError`  when a user attempts this

[2020-06-25 04:20] NumesSanguis commented on #25472
@dekiesel
Sorry I don't know

[2020-06-25 05:10] #34824 closed

[2020-06-25 05:13] IcToxi commented on #34968
Thanks for the reply.

Sorry,  I would like to ask before the issue is solved. Do you no longer consider supporting the delta calculation of the month?

I thought I no longer need to import dateutil every time.

[2020-06-25 07:48] jorisvandenbossche commented on #34095
Indeed, with boolean we can already preserve the nullable dtype. For float we have to wait on the Floating EA PR. And Int64+int64 (with numpy dtype) I did in a previous PR.
-> https://github.com/pandas-dev/pandas/pull/34985 for the boolean case + adding tests for Int64+int64

[2020-06-25 07:49] jorisvandenbossche commented on #33457
@jbrockmendel gentle ping for https://github.com/pandas-dev/pandas/issues/33457#issuecomment-632842528

[2020-06-25 09:16] aauss commented on #34859
Hey @TomAugspurger  and @jorisvandenbossche , do you think I should create a PR to enhance the ``BooleanArray._from_sequence_of_string`` function? I think it is worth it since it is not that uncommon to encode Booleans with 0 and 1 in a CSV and thus it would be nice to allow setting the nullable boolean for this column when reading the CSV.

[2020-06-25 11:03] xhochy opened #34986 "BUG: Cannot create third-party ExtensionArrays for datetime types"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Code Sample: https://github.com/pandas-dev/pandas/pull/34987

#### Problem description

With https://github.com/pandas-dev/pandas/pull/33400 type checks now fasttrack on

[2020-06-25 11:23] TomAugspurger commented on #34859
This was discussed a bit in the original issue / PR implementing boolean array. You might want to read through it to get some context.

But IIRC the decision to not accept them at first was just for simplifying the initial implementation.

[2020-06-25 11:31] jorisvandenbossche commented on #34859
Yes, I think at least 0's and 1's should be fine to accept (other numbers might require some extra discussion)

[2020-06-25 11:49] TomAugspurger commented on #32289
Looking at this again, I think we just remove the test, and perhaps add a whatsnew saying that because of upstream changes to NumPy this isn't supported anymore. DataFrame's are now consistently treated as 2D objects by NumPy, so we can't pretend that they're 1D in the constructor like we were.

**old behavior**

[code]

**New behavior**

[code]

[2020-06-25 12:00] andrewkisel opened #34988 "BUG: Lost precision of NUMBER in read_sql_table()."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

When using `pd.read_sql_table()` with Oracle DB precision of data type `sqlalchemy.dialects.oracle.NUMBER` is lost.

#### Expected Output

Preci

[2020-06-25 13:25] Rish001 commented on #32147
Can I work on this?

[2020-06-25 14:41] ianzur opened #34992 "ENH: pd.DataFrame.merge() customizable indicator names"
#### Is your feature request related to a problem?
When performing multiple merge operations I would love to specify a more informative name than ['left_only', 'right_only', 'both'] for column '_merge'.

#### Describe the solution you'd like
pd.DataFrame.merge() indicator param could accept a categorical index with a custom naming scheme.
something like:

[code]

#### API breaking implications
Thi

[2020-06-25 15:22] quasiben commented on #34809
Wanted to leave a general note about what cudf does.  cudf has a limited [groupby-apply](https://github.com/rapidsai/cudf/blob/branch-0.15/python/cudf/cudf/core/groupby/groupby.py#L341-L344) support and generally it's not super performant for GPUs.  Additionally cudf generally has tried to match pandas grouping and sorting behavior where possible but here we probably will find some challenges:

*A

[2020-06-25 16:10] wenjuno opened #34993 "BUG: replace method with regex=True does not work for byte string"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-25 16:13] dsaxton commented on #34975
@rosekoopman Actually let's not worry about opening another, looks like the issue is known and tracked here: https://github.com/pandas-dev/pandas/issues/32931

[2020-06-25 16:27] jreback commented on #34993
this is as expected you must always decode bytes before you can anything with them
you cannot treat them like strings which was incorrect in prior versions

[2020-06-25 16:27] #34993 closed

[2020-06-25 17:22] jbrockmendel commented on #34014
AFAICT [this](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/reduction.pyx#L465) code

[code]

should be equivalent (ex the creation of a new ndarray object) to

[code]

but when I try this I get a bunch of test failures and a segfault that i cant reproduce in isolation.  Am I misunderstanding what `move` is doing?

[2020-06-25 17:38] #25648 closed

[2020-06-25 20:15] topper-123 commented on #22933
Closing. I don't feel there is support for this.

[2020-06-25 20:15] #22933 closed

[2020-06-25 20:18] MJafarMashhadi commented on #34968
Based on the replies on that issue, I guess the largest supported unit is a week now (?). One reason is months can have different lengths, 28 to 31 days; which one should we pick? It's ambiguous!

[2020-06-25 21:21] WillAyd commented on #34992
I don't think `merge` needs this as an argument - you should be able to just call `replace` on the column

[2020-06-25 21:54] kebwi commented on #29965
I'm also seeing this behavior on large CSV files. Apple Numbers reads the file correctly. Pandas leaves the first column blank and shifts the header ow over by one column all the way across.

[2020-06-25 22:44] jreback commented on #34968
Timedelta are fixed time representations. You can simply use offsets for any real date begin/end manipulatinos which is why they exist. see https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

I thought we deprecated M, Y here but maybe not.

I'll repurpose this issue to be a doc one if you'd like to submit a PR to update.

[2020-06-25 22:56] #11238 closed

[2020-06-25 23:13] #33113 closed

[2020-06-25 23:24] #34440 closed

[2020-06-26 00:28] zhxh1 opened #35000 "ENH: Add command line support like pandashells"
#### Is your feature request related to a problem?

I wish I could use pandas to directly process the data in the command line.

#### Describe the solution you'd like

[pandashells](https://github.com/robdmc/pandashells) does the job pretty well, but it is not under active development and doesn't use the full power of pandas.

#### Additional context

For example, pandashells can process the data

[2020-06-26 00:37] #9093 closed

[2020-06-26 01:03] alexlenail opened #35002 "DOC: What is the accepted way to get the correlation among the rows in a dataframe?"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html

#### Documentation problem

How should I get the correlation among the rows? I can obviously do `df.T.corr()` but this strikes me as a workaround rather than a nice way to do things. I wrote a `df.corr(axis=1)` assuming that would work. Curious what people feel is idiomatic, a

[2020-06-26 01:15] jreback commented on #35000
this is out of scope for pandas proper

 better to create a library / tool on top (like pandashell)

[2020-06-26 01:15] #35000 closed

[2020-06-26 01:34] angelphanth commented on #11436
@dougomania same here :s

`pd.DataFrame.duplicated()` and `.drop_duplicates()` are detecting duplicates in [this hotel reviews data set](https://www.kaggle.com/jiashenliu/515k-hotel-reviews-data-in-europe) even though there are none.

[2020-06-26 02:55] MJafarMashhadi commented on #34968
@selasley, you're already working on a PR I guess you might want to comment the word "take" to assign this issue to yourself.
Also, note that Y is deprecated

[2020-06-26 04:04] selasley commented on #34968
I submitted PR #34979.  Haven't submitted often so I'm not 100% sure I'm doing it correctly.  Comments and improvements are welcome.

Using M, y or Y for the units argument in to_datetime raises a ValueError in pandas 1.0.5  and in the 1.1.0 master branch.  They are accepted in the arg argument in both versions but their behavior has confused some users.  M and Y are no longer listed as accepted u

[2020-06-26 05:18] eggers opened #35005 "BUG: `fillna()` on multiple columns with a series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-26 05:23] MJafarMashhadi commented on #34968
I'm getting confused too, I believe having `Y` depreciated means that `pd.to_timedelta('1Y')` should raise an error. Just like ``pd.to_timedelta(1, unit='Y')` does!

[2020-06-26 06:07] nwweber commented on #34871
Unit test for desired behavior implemented here: https://github.com/pandas-dev/pandas/pull/34904

Will have a look at underlying issue causing modification of dtype from period to object

[2020-06-26 07:05] Zoynels opened #35006 "BUG: Different behavior when set a list(scalar) to entire column and to some (filtered) rows"
- [*] I have checked that this issue has not already been reported.

- [*] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

Different behavior when set a list(scalar) to entire column and to some (filtered) rows.

#### Code Sample, a copy-pastable example

[code]

###

[2020-06-26 07:41] AdityaSinghRathore commented on #26813
For me switching to the newest version of Python and Anaconda resolved the issue. Got the error while working on Python 2.7 now updated to 3.7.4

[2020-06-26 10:50] abedhammoud opened #35009 "BUG:to_numeric with leading zeros is not working consistently"
- [X ] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

I using version: '1.0.5'

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary

[2020-06-26 11:20] SanthoshBala18 opened #35010 "BUG: Double requirement given for fsspec in requirements-dev.txt"
Following error is found, while trying to set up local development environment:

ERROR: Double requirement given: fsspec>=0.7.4 (from -r requirements-dev.txt (line 69)) (already in fsspec>=0.5.1 (from -r requirements-dev.txt (line 25)), name='fsspec')

In requirements-dev.txt, two different versions of fsspec modules are specified.
fsspec>=0.5.1
fsspec>=0.7.4

[2020-06-26 11:40] TomAugspurger commented on #35010
Thanks for the report. We need to remove https://github.com/pandas-dev/pandas/blob/998e2abdca47f37072f4ec5ca72beffb3b1afeaf/environment.yml#L40 and then run `python scripts/generate_pip_deps_from_conda.py`. Would you be able to submit a PR with that?

[2020-06-26 11:52] TomAugspurger commented on #35005
Can you make this a reproducible exampled by defining `df`?

[2020-06-26 11:52] RobertRol commented on #34967
Furthermore, if I perform
[code]
and apply
[code]
I get the expected results.

As opposed to
[code]
which gives the incorrect result.

I do now think this is a bug.

[2020-06-26 12:53] rohan-gt commented on #28375
Why was this issue closed? The problem still persists

[2020-06-26 13:12] #35010 closed

[2020-06-26 13:23] jreback commented on #28375
@rohitkg98 issues are closed when the corresponding PR is merged
if you have a reproducible example that doesn’t work on master pls open a new issues

[2020-06-26 13:34] oguzhanogreden commented on #34898
Let me type this from my notes for now.

[Here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py#L6466) mypy would complain that I specified `to_replace` can be a list, which doesn't have a `items()` method.

[2020-06-26 14:02] TomAugspurger opened #35014 "BUG: DataFrameGroupBy.__getitem__ fails to propagate dropna"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Compare that with the following

[code]

So it's just when slicing down to a SeriesGroupBy object.

#### Expected Output

A series:

[code]

[2020-06-26 14:06] Dr-Irv opened #35015 "BUG: MultiIndex columns containing datetime cannot be used (regression from 1.0.5 to master)"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
#### Problem description

This works in 1.0.5, but not in master.

See discussion in #34748 .  This new issue should be

[2020-06-26 14:12] TomAugspurger commented on #34809
Thanks. It looks like this is essentially inconsistent handling of the existing `group_keys` argument, which https://github.com/pandas-dev/pandas/pull/34998 is trying to clean up. Hopefully this doesn't make things too much more complicated for cudf.

[2020-06-26 15:12] mwaddoups commented on #35009
New here but thought I'd be able to help. I would say this behaviour is actually expected.

In the documentation on the `errors` flag for `to_numeric`

[code]

Since strings cannot be coerced to numeric values, these count as invalid parses and thus the series is returned unchanged. However, in the case of your `s2` series, all values could be parsed successfully (as you can see from the return `d

[2020-06-26 15:28] WillAyd commented on #29547
@MatteoFelici thanks for that updated list. I checked the last few remaining modules you called out and this looks OK, so I think we can close this issue

[2020-06-26 15:28] #29547 closed

[2020-06-26 15:37] WillAyd commented on #35002
You should try asking on StackOverflow where the Q&A format is better served to answer this. This board is reserved for issues and enhancement requests

[2020-06-26 15:39] WillAyd commented on #34980
This was done in #32806 scheduled for 1.1

[2020-06-26 15:39] #34980 closed

[2020-06-26 15:44] alexlenail commented on #35002
@WillAyd (I should have mentioned this in my original post:) StackOverflow has an answer recommending df.T.corr(), but although that works I don't think it's idiomatic, and if there's a better way, I think it should be mentioned in the docs. If not, I'm recommending that the .corr() function be updated to take an `axis` keyword argument.

[2020-06-26 15:52] WillAyd commented on #35002
Oh OK I see. Sure let's log as a request for the axis argument then

[2020-06-26 16:04] gshpychka opened #35016 "BUG: pd.Series.plot() with specific datetime values shows wrong dates when specifying a matplotlib DateFormatter"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

Hello. I've run into a very weird and specific issue.

When plotting a Series with some specific datetime values produced by pd.to_datetime() in the index, using pd.Series.plo

[2020-06-26 16:28] smithto1 commented on #27075
take

[2020-06-26 16:28] smithto1 commented on #23865
take

[2020-06-26 16:40] jackwellsxyz opened #35017 "ENH: Delta Lake file format support"
#### Is your feature request related to a problem?

No

#### Describe the solution you'd like

I'd love it if Pandas could support Databricks' Delta Lake file format (https://github.com/delta-io/delta). It's a type of versioned parquet file format that supports updates/inserts/deletions.

#### API breaking implications

None that I'm aware of

#### Describe alternatives you've considered

N/A

###

[2020-06-26 17:32] rohan-gt opened #35019 "BUG: to_json not allowing uploads to S3"
This issue exists on the latest Pandas version (v1.0.5). `read_json` works perfectly with S3 paths.

[2020-06-26 17:35] traubms commented on #30731
I think @venatir made a small mistake in his example. The example below reproduces the error in 0.25.3.

The bug occurs when:

- the groupby function returns a series,
- with multiple groups in groupby,
- a datetimelike column somewhere in the input,
- and the result series has integer index.

[code]

[2020-06-26 17:39] amber1rn14is015 commented on #31682
I had the same issue. Resolved it.

Just open in editor
C:\Users\Amber\AppData\Local\Programs\Python\Python37\Lib\site-packages\pandas_datareader\compat_init_.py

Replace:

`from pandas.util.testing import assert_frame_equal`

with

`from pandas.testing import assert_frame_equal`

[2020-06-26 17:49] tina9253 opened #35020 "pandas.tseries.offsets.BusinessDay bug when using offset only"
Here `n` is by default set to 1. This is causing bug if using offset only to calculate timedelta.

[code]
where to increment the datetime by 240 mins, the date should NOT change.

Ref: https://github.com/pandas-dev/pandas/blob/b687cd4d9e520666a956a60849568a98dd00c672/pandas/tseries/offsets.py#L552

[2020-06-26 17:53] tina9253 commented on #35020
first time raising issues. Anybody knows how to add label?

[2020-06-26 19:25] yehoshuadimarsky commented on #35017
I'm pretty sure Delta Lake only supports access via Spark at the moment, not through any other tools or APIs. I'll post the link in the docs where it mentions it when I can find it, but I do remember reading that.

[2020-06-26 19:34] quasiben commented on #34809
Thanks @TomAugspurger and thank you for thinking about cudf handling generally.  cuDF did just merge in Pandas 1.0 support: https://github.com/rapidsai/cudf/pull/4546. I assume #34998 will be in 1.1 ?

[2020-06-26 19:43] TomAugspurger commented on #34809
Yep.

On Fri, Jun 26, 2020 at 2:34 PM Benjamin Zaitlen <notifications@github.com>
wrote:

[2020-06-26 20:04] abedhammoud commented on #35009
Thanks very much for helping. I am new here too.

I am not sure I follow what you are stating above - but I believe I am not fully understanding how the to_numeric() should behave.

I thought given:

s1 = pd.Series(['apple', '001', '002', -3])

the results of running:

pd.to_numeric(s1, errors='ignore')

should be to convert all number strings (ex. '0001') into numbers (1) and to keep strings that

[2020-06-26 20:21] #34272 closed

[2020-06-26 20:22] #34932 closed

[2020-06-26 20:43] eggers commented on #35005
@TomAugspurger Of course, I forgot to put that in. I edited the issue, but here's the definition as well:

[code]

[2020-06-26 20:44] erfannariman commented on #34953
take

[2020-06-26 22:23] jbrockmendel opened #35023 "ASV: asvs for DataFrame.values, to_numpy"
xref #34999

[2020-06-27 00:04] Rong-Inspur commented on #35023
Hi, I am new to this community and would like to do my first contribution. May I take this issue?
To clarify the problem, we want to add to_numpy() benchmarks?

[2020-06-27 00:07] dsaxton commented on #35009
Agree with @mwaddoups that this is behaving as expected. to_numeric is simply not doing any conversion when it can't parse something. It's not related to there being leading zeros in the input (notice the string "1" is not converted either):
[code]

[2020-06-27 00:15] topper-123 commented on #32974
Fixed in #35024.

[2020-06-27 00:15] #32974 closed

[2020-06-27 00:18] jreback commented on #35023
yep

[2020-06-27 00:19] jreback commented on #35023
for single dtype and mixed frames of varying size

we might have some .values benchmarks which should be consolidated with these

[2020-06-27 00:24] Rong-Inspur commented on #35023
Thanks for the clarify. I'll look into that.

[2020-06-27 01:37] rafiyr opened #35025 "BUG: conversion to M8[ns]/datetime64[ns] is slow from "M8[s]" and other time resolutions"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

import pandas as pd, numpy as np, time
x = np.repeat(int(time.time()), 100_000_000)

"these are slow"
pd.Series(x.astype("M8[s]"))
pd.Series(x).astype("M8[s]")

"these

[2020-06-27 05:44] MJafarMashhadi commented on #34551
It goes down to using `get_c_string` https://github.com/pandas-dev/pandas/blob/0159cba6eb14983ab7eaf38ff138c3c397a6fe3b/pandas/_libs/tslibs/util.pxd#L212-L213 which ignores the returned string length.
I replaced that with `PyUnicode_AsUTF8AndSize` and got the string length as an integer in `_unique` method of `StringHashTable`.
It stores all the values in `vecs` array and then passes them one by o

[2020-06-27 09:53] andrewgsavage commented on #33825
ah yes, changed that

[2020-06-27 10:00] MarcoGorelli commented on #34902
Not sure that work would - see below

[code]

IMHO it could be removed from `pre-commit` - if you're adding type annotations you'll need to run `mypy pandas` anyway, and if you're not then its false positives are a distraction (especially for new contributors)

[2020-06-27 12:04] smithto1 opened #35028 "BUG: df.groupby().count() returns NaN instead of Zero"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When grouping by multiple pd.Categorical columns, DataFrameGroupBy.count() returns NaN for mi

[2020-06-27 13:17] Demetrio92 commented on #35028
@smithto1 have you read the description of the `observed` parameter to the `DataFrame.groupby` method? This is not a bug, it's a feature.

And it does not matter if you use `count`, `sum` or any other aggregation method.

[2020-06-27 14:21] roberthdevries commented on #28547
take

[2020-06-27 14:34] smithto1 commented on #35028
Hey @Demetrio92 , I think there may be a misunderstanding, the issue is not with the `observed` parameter, that works fine.

The issue I am raising only applies when you have `observed=False` and you expect your groupby to return the missing categories and you are grouping by more than one category (I've added `observed=False` to all the examples above to make this explicit).

The specific bug is

[2020-06-27 14:59] sparkingdark commented on #23992
Wan to work it on @jbrockmendel

[2020-06-27 15:44] abedhammoud commented on #35009
Thank you @dsaxton  and @mwaddoups for your help.
I got what I needed using the python str.isnumeric() method.

df['A'] = df['A'].apply(lambda s: int(s) if str(s).isnumeric() else s)

[2020-06-27 15:44] #35009 closed

[2020-06-27 17:43] danielolsen opened #35031 "DOC: text in pandas.Series.dt.day refers to month instead of day"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.day.html

#### Documentation problem

The text here is a duplicate of https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.month.html (`The month as January=1, December=12.`), when it should probably be something else.

[2020-06-27 19:13] erfannariman commented on #35031
This is already resolved in master, see https://github.com/pandas-dev/pandas/pull/31490

[2020-06-27 19:24] biddwan09 commented on #29837
Hi I am really interested in contributing to pandas would love to work on this issue . Is this issue already resolved ?

[2020-06-27 19:59] charlesdong1991 commented on #35020
what is `td2` in your example? or it is a typo, should be `td` instead?

[2020-06-27 20:21] #35031 closed

[2020-06-27 21:43] arw2019 commented on #35014
take

[2020-06-28 01:11] jbrockmendel commented on #32059
I don't see a serious need for this, since users can do `df.groupby(level=whatever).nunique()`

[2020-06-28 01:12] jbrockmendel commented on #32330
cc @jorisvandenbossche is there a recommended way to do this?

[2020-06-28 03:03] tina9253 commented on #35020
@charlesdong1991 Thanks for replying. I just got it corrected. But I actually found out later that I may misuse the params 'offset'. But I believe we should have better docs to describe the params. Free free to ask me to close the issue if you feel like not an issue.

[2020-06-28 03:28] mroeschke commented on #22705
Looks like `from_items` has already been removed. Not sure if there is any additional tasks to be done here. Closing

[2020-06-28 03:28] #22705 closed

[2020-06-28 03:40] mroeschke commented on #22832
I'm getting this error on master:

[code]

Not sure if this is expected, but a simplified example would be helpful. Happy to reopen if we could get a minimal example. https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-28 03:40] #22832 closed

[2020-06-28 04:20] mroeschke commented on #32805
I am getting the expected result on master. Could use a test

[code]

[2020-06-28 06:10] mroeschke commented on #19354
Looks like these match on master now. Could use a test

[code]

[2020-06-28 06:15] mroeschke commented on #20420
Looks to be fixed on master. Could use a test

[code]

[2020-06-28 06:30] mroeschke commented on #26223
I _think_ this is solved on master. Could use a test I suppose.

[code]

[2020-06-28 06:32] mroeschke commented on #27212
This looks fixed on master. Could use a test

[code]

[2020-06-28 06:38] mroeschke commented on #28881
Sorry that is issue got left unresponded for so long, but could you post a minimal example of the behavior you're seeing: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-28 06:41] mroeschke commented on #29037
Looks fixed on master. Could use a test

[code]

[2020-06-28 06:45] mroeschke commented on #29837
Looks like this works on master. Could use a test

[code]

[2020-06-28 06:50] mroeschke commented on #31466
This looks to be fixed in master. Could use a test

[code]

[2020-06-28 06:53] mroeschke commented on #31759
Looks like this is a duplicate of https://github.com/pandas-dev/pandas/issues/12653

[2020-06-28 06:53] #31759 closed

[2020-06-28 07:50] charlesdong1991 commented on #35020
emm, don't think it's a bug, the default is just 1 business day, and you can set it to 0 to keep date unchanged. but i think the docstring indeed can be improved, and are you interested in helping it out?

i _think_ you can close this issue, and it would be nice if you would like to submit a PR for doc improvement in this part.

[2020-06-28 08:11] 2bon commented on #33888
Hi, any update?

[2020-06-28 08:30] MarcoGorelli opened #35037 "ERR: could pandas suggest to use bitwise operators to filter instead of `and` and `or`, as on Kaggle?"
Currently, if one writes
[code]
then the traceback shows
[code]

I've noticed that [Kaggle]() add their own warning when someone tries to do this:
[code]

See below:

![image](https://user-images.githubusercontent.com/33491632/85942450-4facb780-b921-11ea-968d-3b1453ff200d.png)

----

Sure, there's no way of reading users' minds - perhaps they reached this error by some other means - but would the

[2020-06-28 09:18] timhunderwood commented on #32156
I think this has been fixed on master: See this [issue 32755](https://github.com/pandas-dev/pandas/issues/32755) and PR [#32836](https://github.com/pandas-dev/pandas/pull/32836).

I now get the below error message on master, rather than the "nested renamer" error:

[code]

I think this issue can be closed.

[2020-06-28 10:06] stefansimik commented on #29037
Great to hear that 👍
I don't see any merge here... does it mean, it was fixed in some other issue?
or you just found out it magically works?

[2020-06-28 10:53] biddwan09 commented on #29837
Sure will add a test case for this in groupby section

[2020-06-28 11:10] sparkingdark commented on #25857
@mroeschke can I work to write the tests

[2020-06-28 14:17] simonjayhawkins opened #35041 "CI: Linux py37_np_dev Concatenation operation is not implemented for NumPy arrays, use np.concatenate() instead."
https://github.com/numpy/numpy/commit/8ac7ac94ab868473e2276902be656946745c641f

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=38318&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=4d05ed0e-1ed3-5bff-dd63-1e957f2766a9

[2020-06-28 15:01] b-niu opened #35043 "ENH: Add some features like R data.table's fread() function."
#### Is your feature request related to a problem?

The fread() function in R library data.table has many features which are very usefull.

#### Describe the solution you'd like
### 1. An argument treat tables with untidy columns
If we get a CSV file with shorter header line than table content, just like:

By using "fill = TRUE", we can easily read it into R:
[code]

### 2. An argument skip to one

[2020-06-28 16:14] biddwan09 commented on #35041
Hi @simonjayhawkins  for fixing this issue should i check for Concatenation operation here and use np. concatenate() here ?

[code]

[2020-06-28 16:43] simonjayhawkins commented on #35041
not sure. wait and see what others think. I can't see a change note or deprecation for the change in NumPy. @pandas-dev/pandas-core

[2020-06-28 17:38] mroeschke commented on #7706
Looks like this has been effectively privatized.

[code]

And I don't see it in offset_frequency. Closing

[2020-06-28 17:38] #7706 closed

[2020-06-28 17:54] mroeschke commented on #7707
Looks like this has been effectively privatized. Going to close.

[code]

[2020-06-28 17:54] #7707 closed

[2020-06-28 18:07] mroeschke commented on #7985
Hmm looks like `WeekDay` is an old API that is no longer supported. Not sure if this issue is actionable anymore. Closing

[2020-06-28 18:07] #7985 closed

[2020-06-28 18:13] biddwan09 commented on #35041
Sure will wait for the others to respond

[2020-06-28 18:22] mroeschke commented on #10315
I think these were added a while back when using format.

[code]

And a certain combination raises now

[code]

I think this is closeable but happy to reopen if not.

[2020-06-28 18:22] #10315 closed

[2020-06-28 18:57] Greyvend commented on #27935
I have a use case for this: the asset portfolio calculation. I want to calculate the total cash balance from cash in/outflow operations but I don't want to decrease the cash balance below 0, but keep it at 0 instead (meaning that additional money would be taken from elsewhere). Cumsum with lower boundary is what I was looking for.

[2020-06-28 20:03] mroeschke commented on #14869
This looks fixed on master. I guess it could use a test

[code]

[2020-06-28 20:08] mroeschke commented on #23542
This looks fixed on master. Could use a test

[code]

[2020-06-28 20:42] mroeschke commented on #33051
Sounds like the existing behavior is correct. Going to close this issue, but happy to reopen if something need clarification

[2020-06-28 20:42] #33051 closed

[2020-06-28 22:37] mroeschke commented on #14018
Looks to be fixed on master. Could use a test

[code]

[2020-06-28 22:46] mroeschke commented on #16360
Looks to work on master. Could use a test

[code]

[2020-06-28 22:58] dtdibaba commented on #21080
Renaming the index to a different name and using the new name as index resolves a similar issue that arrises with the use of pivot_table.

For example, for a df DataFrame that contains 'A', 'age', and 'gender', if you first groupby 'A' and want to create pivot_table using 'A' as index, python throws up TypeError: 'A'  used as index and column.

The following worked for me.
# Create a new variable

[2020-06-28 23:03] mroeschke commented on #21239
I think this is working correctly now. Could use a test

[code]

[2020-06-28 23:09] mroeschke commented on #22609
This looks to be fixed on master. Could use a test

[code]

[2020-06-28 23:13] mroeschke commented on #23305
Looks like the categorical dtypes are kept now. Could use a test

[code]

[2020-06-28 23:21] mroeschke commented on #26859
Looks like this is fixed on master. Could use a test

[code]

[2020-06-28 23:23] mroeschke commented on #27338
Could use a test for the behavior above.

[2020-06-28 23:26] mroeschke commented on #27800
Looks like the examples work on master. Could use tests

[code]

[2020-06-28 23:31] mroeschke commented on #28896
Sorry for the lack of response, but it would be great if we could have a more minimal example (without) pickle so we could include a unit test for the erroneous behavior: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-29 00:36] #35041 closed

[2020-06-29 00:43] jbrockmendel opened #35046 "BUG/API Should pd.NaT < "foo" raise?"
If we treat NaT as a datetime, we would expect pd.NaT == "foo" to return False, != to return True, and for the inequalities to raise:

[code]

It isn't obvious to me that the existing behavior is intentional.  If we change this to raise, we can simplify `NaT.__richcmp__` a bit.

[2020-06-29 01:06] jreback commented on #35046
yeah this looks suspect, should raise

[2020-06-29 01:31] jbrockmendel commented on #35017
I doubt we would support that directly, but if there is an implementation we could link to it in the ecosystem docs.

[2020-06-29 01:37] jbrockmendel commented on #35025
Why do you think this is a bug?

[2020-06-29 01:39] TomAugspurger opened #35047 "Performance regression in frame_methods.Apply.time_apply_ref_by_name"
https://pandas.pydata.org/speed/pandas/index.html#frame_methods.Apply.time_apply_ref_by_name?commits=91802a9ae400830f9eaadd395f6a9b40cdd92ee5

https://github.com/pandas-dev/pandas/commit/91802a9ae400830f9eaadd395f6a9b40cdd92ee5 (cc @jbrockmendel)

Also affects other benchmarks that probably use apply: https://pandas.pydata.org/speed/pandas/index.html#frame_methods.Nunique.time_frame_nunique?commit

[2020-06-29 01:42] TomAugspurger opened #35048 "Performance regression in arithmetic.ApplyIndex.time_apply_index"
https://pandas.pydata.org/speed/pandas/index.html#arithmetic.ApplyIndex.time_apply_index?p-offset=%3CMonthBegin%3E&commits=55adcb8688582e3a3be66b1036d3604327ae5071-b05e6b1402124a062608b97ca02af0cfb13568d1, https://github.com/pandas-dev/pandas/compare/55adcb8688582e3a3be66b1036d3604327ae5071...b05e6b1402124a062608b97ca02af0cfb13568d1 (30 commits in there).

[2020-06-29 01:45] TomAugspurger opened #35049 "Performance regression in frame_methods.Quantile.time_frame_quantile"
https://pandas.pydata.org/speed/pandas/index.html#frame_methods.Quantile.time_frame_quantile?p-axis=0&commits=ce292485c781ec0df0a765869848b97ac3c88a54

https://github.com/pandas-dev/pandas/commit/ce292485c781ec0df0a765869848b97ac3c88a54 (an f-string PR). Most likely the formatting is somewhat expensive.

[2020-06-29 01:54] TomAugspurger opened #35050 "Performance regression in stat_ops.FrameMultiIndexOps.time_op"
https://pandas.pydata.org/speed/pandas/index.html#stat_ops.FrameMultiIndexOps.time_op?p-level=1&p-op=%27std%27&commits=c9144ca54dcc924995acae3d9dcb890a5802d7c0

[code]

Points to https://github.com/pandas-dev/pandas/pull/34372 (cc @rhshadrach), but there was an earlier slowdown.

[2020-06-29 02:31] jbrockmendel commented on #35047
I measured 91802a9 as perf-neutral locally.  If that doesnt hold elsewhere, might as well revert.

[2020-06-29 02:51] Krytic opened #35051 "BUG: Segmentation faults in pd.read_csv for large files"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When loading sufficiently big files (mine are >800 MB on average), `pd.read_csv` fails with a

[2020-06-29 06:14] biddwan09 commented on #35028
Hi I would like to start contributing in this project . Can I look into this issue ?

[2020-06-29 07:26] #29837 closed

[2020-06-29 07:39] SylvainLan commented on #32059
I'm not sure I understood your answer @jbrockmendel

for instance let's do :
[code]

By doing `df.index.unique(level=1)` I get sth like `['a', 'b']` and I would like to have the call `df.index.nunique(level=1)` to return `2` as it is the number of unique indexes for the second level of my df.

`df.groupby(level=1).nunique()` does not yield the result I wanted, as it gives the number of unique elem

[2020-06-29 07:50] smithto1 commented on #35028
@biddwan09 have a read here on how to assign an issue to yourself.

https://pandas.pydata.org/docs/development/contributing.html#where-to-start

[2020-06-29 08:04] biddwan09 commented on #35028
take

[2020-06-29 08:05] biddwan09 commented on #35028
@smithto1 thanks

[2020-06-29 09:49] t0ma-sz commented on #31708
Is there any update on this one? In pandas 1.0.5 it’s still complaining about unexpected keyword argument.

I think this may block the migration of some projects to 1.0.x.

[2020-06-29 11:46] simonjayhawkins commented on #31708
@t0ma-sz #28176 was closed as stale.

if you would like to submit a PR and address https://github.com/pandas-dev/pandas/pull/28176#issuecomment-605620662, we can review again.

[2020-06-29 14:38] TomAugspurger opened #35053 "Performance regression in replace.Convert.time_replace"
https://github.com/pandas-dev/pandas/pull/34999 caused a 2x slowdown in replace.Convert.time_replace (https://pandas.pydata.org/speed/pandas/index.html#replace.Convert.time_replace?p-constructor=%27Series%27&p-replace_data=%27Timestamp%27&commits=dbfbef7eaea7f23a42d9a65344b5745fc055f5b4)

[2020-06-29 16:11] smithto1 commented on #31422
take

[2020-06-29 16:31] masaduzz1 commented on #23040
Thanks, it solved my problem as well. Any idea how this resolves the issue?

[2020-06-29 17:29] jbrockmendel commented on #35053
How do you get 100x?  do you mean 100ms?

[2020-06-29 17:38] TomAugspurger commented on #29896
Closed by https://github.com/pandas-dev/pandas/pull/30766

[2020-06-29 17:38] #29896 closed

[2020-06-29 18:10] Dr-Irv commented on #35015
@jbrockmendel This error seems to be related to code you were working on with respect to the datetime index.  The error that is raised is due to a commit you did here:  https://github.com/pandas-dev/pandas/commit/0b0cd08524e4472eb15835c2b91621dc0a6eeeb0

Can you see if you can fix this and then I can update PR #34748 ?

[2020-06-29 18:15] jbrockmendel commented on #32059
I see.  I thought you wanted to get the number of unique elements in the data, per group, but you are talking about `df.index.nunique`.  Why not just `df.index.levels[1].nunique()`?

[2020-06-29 18:42] TomAugspurger commented on #35053
Sorry, meant 100% (2x). Edited.

[2020-06-29 19:03] rafiyr commented on #35025
In the sense that it produces correct output, it is not a bug.  In the sense that performance is unexpectedly slow, I would say its an issue and I would not object to a renaming of the issue to something more appropriate.

Is there some reason to expect Series to be an order of magnitude slower than numpy for converting an array of M8[s] to M8[ns]?

[2020-06-29 19:12] jbrockmendel commented on #35025
Yes.  numpy's conversion is not overflow-safe, xref https://github.com/numpy/numpy/issues/16352.

[code]

[2020-06-29 20:50] erfannariman commented on #35037
This would be a good improvement to the API, as someone being quite active on SO, I see this questions quite often.

[2020-06-29 21:04] kurtosis commented on #28152
I got tripped up on this as well when using `groupby` on a `datetime.date` column and moving it in and out of the index. The different behavior between Index and MultiIndex is especially tricky.

One suggestion: maybe add documentation/warning on the preferred way to round timestamps to date? This is a common operation and `dt.date` was all I came across in the docs.
https://pandas.pydata.org/pand

[2020-06-29 21:22] erfannariman commented on #35037
It is also marked as an "highly active question": [link](https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o)

[2020-06-29 21:42] #27135 closed

[2020-06-29 23:02] erfannariman commented on #9767
What is the expected behaviour here?

[2020-06-30 02:21] twoertwein opened #35058 "BUG: to_csv doesn't support file handles from ZipFiles"
- [X] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Last part of the stack trace:
[code]
#### Problem description

I know that `to_csv` supports compression but I want to

[2020-06-30 04:31] tharradine commented on #26388
Can we reopen this issue? As mentioned in the 1.0.5 release notes (#34785) this is not yet fixed, and took me a while to find out why I was still getting it in 1.0.5 despite the fact it was fixed in 1.0.4

[2020-06-30 10:28] simonjayhawkins commented on #34520
This bug only occurs for numeric_only=None, the default.

[code]

[2020-06-30 11:54] #32289 closed

[2020-06-30 13:01] #28156 closed

[2020-06-30 13:16] dblyon commented on #15716
The following solved the issue for me:
`json.dumps(df.to_dict(orient='records'))`

[2020-06-30 13:28] simonjayhawkins commented on #34520
it appears #32950 caused the regression

b8385083b2e6d98638fe7e9ea25ad5065fb97c26 is the first bad commit
commit b8385083b2e6d98638fe7e9ea25ad5065fb97c26
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Mar 30 15:43:04 2020 -0700

    REF: move mixed-dtype frame_apply check outside of _reduce try/except (#32950)

[2020-06-30 16:36] WillAyd commented on #35043
The second item I think is a duplicate of #32072

[2020-06-30 16:39] rafiyr commented on #35025
Ah. Is the overflow detection done with vector ops?  Just as a quick test I tried: (pd.Series(df.times.values.astype("M8[s]").astype("u8")) > x).sum()
That seems to be a pretty fast operation, and I'm clearly not trying to be efficient about it.

If there's a conflict between precision and speed, perhaps just a quick conservative test to avoid the slow full precision check?

[2020-06-30 16:53] WillAyd commented on #35037
I don't know the entire history of this but I think more of a numpy question than a pandas one

My guess is there is ambiguity as to what `and` would mean when comparing say an array to an array versus an array to a scalar, etc... but someone else probably knows more of the reasoning

[2020-06-30 17:21] grahamwetzler commented on #31466
take

[2020-06-30 18:00] jbrockmendel commented on #35025
The overflow-safe conversion is done in `pandas._libs.tslibs.conversion.ensure_datetime64ns` (i.e. in cython).  If you can find ways to better optimize this, PR would be welcome.

[2020-06-30 18:41] TomAugspurger commented on #34902
I'm fine with removing mypy from pre-commit.

[2020-06-30 20:58] #34741 closed

[2020-06-30 21:26] erfannariman opened #35069 "ENH: Add option to keep index in `pd.melt`"
When melting a dataframe, there's no option to keep the original index. This can be beneficial for example when users want to do different kind `ravel` than the  deault `F` (Fortran style) right now. To make this more clear, see example:

[code]
But the expected output can be row wise instead:
[code]

**Solution proposal**
This could be solved by adding an `ignore_index` argument which is `True` b

[2020-06-30 22:07] erfannariman commented on #29037
take

[2020-06-30 22:28] WillAyd commented on #35069
I believe this is already being addressed in #33659

[2020-06-30 22:29] WillAyd commented on #35069
Closing as a duplicate of #17440 but lmk if overlooking something

[2020-06-30 22:29] #35069 closed

[2020-06-30 22:32] erfannariman commented on #35069
Yes it's a dupe, thanks for closing. @WillAyd

[2020-06-30 22:37] erfannariman commented on #35023
@Rong-Inspur are you still working on this?

[2020-06-30 22:55] alimcmaster1 commented on #35019
Do you have a repo? Did this not work in 1.0.5 ?

[2020-06-30 22:58] alimcmaster1 commented on #30732
Take

[2020-06-30 23:06] alimcmaster1 commented on #26388
It’s being released in pandas 1.1 -> happy to reopen if you have issues.

Perhaps try build master and check it works as expected?

[2020-06-30 23:12] arw2019 commented on #35014
@TomAugspurger I think that the problem in `SeriesGroupBy.transform` comes down to L387-388 in `pandas/core/groupby/grouper.py`:
https://github.com/pandas-dev/pandas/blob/b687cd4d9e520666a956a60849568a98dd00c672/pandas/core/groupby/grouper.py#L387
For `gb['B']` if we print out `values` `NaN` is getting getting dropped (and this then propagates along to where the original issue came up):
[code]
Sin

[2020-06-30 23:38] alimcmaster1 commented on #34779
@tswast - friendly ping on the above.

[2020-06-30 23:44] alimcmaster1 commented on #34472
Happy to help here when the time comes :)

[2020-07-01 00:59] wolfc86 opened #35076 "BUG: Integer Capacity Higher Than Necessary in Mappings from Pandas to SQLAlchemy Types"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Problem description

Currently, to map the Pandas data type to a SQLAlchemy type: https://github.com/pandas-dev/pandas/blob/master/pandas/io/sql.py#L1066-L1069, the code

[2020-07-01 01:43] #27692 closed

[2020-07-01 01:43] #33027 closed

[2020-07-01 03:37] Rong-Inspur commented on #35023
Yes, I'm still looking into that.

[2020-07-01 06:56] StefRe opened #35080 "BUG: Strange behavior at testing test_ts_plot_with_tz"
I came across a rather strange and annoying behavior when running the plotting tests that leaves me completely clueless.

`TestTSPlot.test_ts_plot_with_tz['UTC']` fails when running the whole test suite but passes when run in isolation. In particular it fails when run **after all** `TestRegistration` tests and passes when run **on its own or after any** of the six test functions in `TestRegistrati

[2020-07-01 06:59] SylvainLan commented on #32059
It works indeed, as works `df.index.levels[1].unique()` instead of `df.index.unique(level=1)`, hence this issue. But again, it is nothing more than a small enhancement and I'll gladly close this issue if deemed unnecessary !

[2020-07-01 07:26] xhochy commented on #15276
An alternative for MS SQL users is to also use `turbodbc.Cursor.insertmanycolumns`, I've explained that in the linked StackOverflow post: https://stackoverflow.com/a/62671681/1689261

[2020-07-01 07:56] kpflugshaupt commented on #27800
**This seems solved on the current productive release.**

In my testing, all cases from the initial report came out correctly, with no regressions.

### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor

[2020-07-01 08:41] BaruchYoussin commented on #27800
Works fine on 1.0.4.

[2020-07-01 13:27] TomAugspurger commented on #35080
Not intentional. Most likely there's some state leaking between tests, but I haven't confirmed that. Any investigation here would be welcome.

[2020-07-01 13:38] StefRe commented on #35080
Seems to be related to #32331 (Saw it just now when browsing the other 'unreliable tests' issues).

[2020-07-01 13:43] spluque opened #35081 "BUG: idxmax returns erroneous index from grouped DataFrame"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

The following code demonstrates the erroneous output:

[code]

[code]

[code]

[code]

#### Problem description

Notice the erroneous value printed for the first row in c

[2020-07-01 13:46] samize commented on #29024
I've been having similar issues with counter-intuitive handling of NaT and NaN values when dealing with the DataFrame.replace() method. Has this issue been worked on at all or is it still open?

[2020-07-01 13:55] Craskermasker commented on #12585
I've stumbled across this issue in working with our scientific dataset. Specifying the dayfirst argument to read_csv sorted us out. I would agree with the suggestion of printing a warning when inconsistent datetime parsing may be occurring. Can this be done after parsing by checking for inconsistent mapping from the string input to the datetime output across the whole series? Would this introduce

[2020-07-01 14:13] StefRe commented on #35080
more specifically it boils down to testing **both** `test_pandas_plots_register` **and** `test_option_no_warning` **before** `test_ts_plot_with_tz` (note also the different error now):

[code]

[2020-07-01 14:36] rjurney commented on #28375
This is still broken using the latest pandas 1.0.5 on Anaconda Python 3.6.10 on the Amazon Deep Learning Ubuntu image:

[code]

[code]

[2020-07-01 14:39] StefRe commented on #35080
if we add `print(xdata)` after https://github.com/pandas-dev/pandas/blob/bf12604c847e87d89fd91cc17b443a7688d0fefa/pandas/tests/plotting/test_datetimelike.py#L55
we see that we get the data from a different plot (`xdata` should be `[Period('2011-01-01 00:00', 'H') Period('2011-01-01 01:00', 'H')]`):

in the case of the [attribute error](https://github.com/pandas-dev/pandas/issues/35080#issue-648725

[2020-07-01 14:45] jreback commented on #28375
@rjurney this was merged for 1.1 which has not been released

[2020-07-01 15:30] FollowTheProcess commented on #33478
Hi @kehv1n are you still working this? I'd like to help out if I can

[2020-07-01 15:33] evnb commented on #16615
Any fixes/suggestions for this? I'm running into this error and don't know much about SAS

[2020-07-01 15:47] WillAyd commented on #35076
Makes sense. It could also be worthwhile to map to SmallInteger for the other types.

We have a contributing guide that may be of use:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

Main thing here is to develop tests for the expected behavior then layer in the fix before pushing a PR

[2020-07-01 15:51] MarcoGorelli commented on #33478
@FollowTheProcess given the silence you're probably OK to take this if you want to work on it

[2020-07-01 16:16] rjurney commented on #28375
@jreback thanks, any idea when it will be released?

[2020-07-01 16:36] FollowTheProcess commented on #33478
@MarcoGorelli Thanks! I've removed the unreached else and no change in local tests before/after. The tidying of the enclosing function might take be a bit longer, I'm not entirely sure how to do anything helpful with it! I'll keep playing. In the meantime would it be a good idea to do (my first ever) PR for the removal of the unreached else?

[2020-07-01 16:48] MarcoGorelli commented on #33478
@FollowTheProcess sure, if it's your first contribution maybe it's easier to just remove the unused `else` branch for now, and then there can be separate PR to refactor this code, and finally one to remove the `elif` above it and dedent the block which comes after it

[2020-07-01 16:49] mroeschke commented on #27800
@kpflugshaupt we'll want to add a regression test to ensure that this issue doesn't occur again. Are you interested in submitted a PR with that test?

[2020-07-01 16:52] FollowTheProcess commented on #33478
@MarcoGorelli Cool, thanks for the help! I'll do the PR now

[2020-07-01 16:53] #31466 closed

[2020-07-01 16:59] mroeschke commented on #32331
Going to close this issue in favor of https://github.com/pandas-dev/pandas/issues/35080 as it looks like that issue is further along in investigating that root cause.

[2020-07-01 16:59] #32331 closed

[2020-07-01 17:02] FollowTheProcess commented on #33478
I didn't mean to say it would close the issue! sorry, didn't realise it would do that automatically if I typed in the issue number

[2020-07-01 17:28] jreback commented on #28375
likely in july

[2020-07-01 18:25] #29037 closed

[2020-07-01 18:28] #34431 closed

[2020-07-01 18:50] musketeer191 commented on #30232
Hi, I would like to work on "Choosing Exceptions to Raise".

[2020-07-01 19:46] brandon-b-miller opened #35089 "QST: Zero copy access to the mask of a nullable array"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

Hello Pandas devs,
I was wondering what's the best zero-copy way to access the mask of a nullable array, say a StringArray for example. I not

[2020-07-01 20:09] TomAugspurger commented on #35089
See https://github.com/pandas-dev/pandas/issues/34873.

And FYI StringArray doesn't use a mask currently. It's NA values are stored inline.

[2020-07-01 20:09] #35089 closed

[2020-07-01 20:12] tswast commented on #34779
I created a service account key in the `pandas-gbq-tests` project, but when I try to encrypt it with `ci/travis_encrypt_gbq.sh`, I get `resource not found ({"error":"Couldn't find repository"})` from the `travis encrypt-file` command.

I believe this is because I'm not a member of the pandas-dev GitHub org, so don't have permissions to create new environment variables in Travis.

[2020-07-01 20:22] kkraus14 commented on #34873
We've just upgraded cuDF to Pandas 1.0+ and we'd really love an API to get the buffers underneath IntegerArray / BooleanArray / etc. classes zero copy regardless of whether the mask is a bitmask or a bytemask.

For cuDF, if we're given a bytemask, we'd want to condense it down to a bitmask, but we'd want to do that on the GPU as opposed to the CPU.

cc @brandon-b-miller

[2020-07-01 20:34] toninlg commented on #21227
Hi,

Should the following code works with this merge?

[code]

3.6.7 (default, Dec  6 2019, 07:03:06) [MSC v.1900 64 bit (AMD64)]
0.25.1

3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)]
1.0.5
I have an assertion error in both cases and if I add compression='gzip' to the first to_csv, I have RuntimeWarning: compression has no effect when passing file-like object as input.

Thank

[2020-07-01 20:36] TomAugspurger commented on #34873
I think the best we can do for now is say "use `._mask` and `._data` with the caveats that

1. You should always check that `._mask` is not None (to protect against it being optional in the future)
2. You should always check that it's `.size` is what you want (to protect against it being a bitmask in the future)

And we'll agree among friends that pandas won't change the names?

We could offer a p

[2020-07-01 21:08] lucashusted commented on #29481
Definitely still an issue
@the-moose-machine you can do this as a temporary workaround:

`df = df.groupby([groupby_variables]).apply(lambda x: x.sum(skipna=False))`

This will return null values whenever it encounters missing values in the thing it is summing. However, I have found that this method is far slower than a comparably `groupby.sum()`

The problem might actually be due to the casting ba

[2020-07-01 22:35] evan-anderson-ts commented on #34465
@WillAyd I had an opportunity to look at the json_normalize code. It seems like it currently only looks for metadata within the record path. Since both `$.injection.time` and `$.results.time` have the "time" key, we unintentionally grab `"results.time"` instead of `"injection.time"`. The logic to implement the behavior I expected is probably pretty tricky, not a simple debug. For now, it might be

[2020-07-01 22:46] StevenLi-DS commented on #35043
I'm not quite sure if the first one is a good idea. If you have a problematic file, you have a problematic file.
How could you tell the header is  `A, B, C, V4, V5` instead of `V1, V2, A, B, C` or `A, V2, B, V4, C`.

[2020-07-01 22:57] jreback commented on #34779
@tswast added you to your triage team. give a try again (after you accept the invite)

[2020-07-01 23:10] erfannariman commented on #35081
Thanks for submitting the issue, this looks solved on master:

[code]
[code]

[2020-07-02 00:02] kkraus14 commented on #34873
Thanks @TomAugspurger! We'll use `._data` and `._mask` for now.

FWIW on the cuDF side what we have similar needs for this (to hand off to things like numba kernels / cupy functions / custom user shenanigans), and in using bitmasks it becomes tricky to try to efficiently handle typical zero copy operations like slicing. What we've done is have `.data` / `.mask` nullify the offset by doing the poin

[2020-07-02 01:01] jreback commented on #12585
@Craskermasker happy to have a contribution towards this

[2020-07-02 02:27] tomaszps commented on #34776
Hey @hardikpnsp, are you still looking at this issue? I'm also not too familiar (with Azure at least), but if I were going to do this I figured I'd try to get the change working on CI on my own fork, and then ask to make sure that the changes looked correct. Do you still want to have this issue?

[2020-07-02 02:44] galipremsagar opened #35092 "BUG: DataFrame.append seems to be sorting columns even when `sort=False`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The problem here is that even when `sort` is False, the output dataframe seems to have sorted

[2020-07-02 03:45] tomaszps commented on #28488
Given that there hasn't been any activity on this issue for a few months, I figured it would be okay to jump on this issue. I looked into the first failed test, which fails on the BooleanArray. I want to walk through my understanding of the problem and solution, @TomAugspurger, to make sure I'm getting this right. I'm going to be a little verbose for clarity's sake.

The first test that fails:
[co

[2020-07-02 06:09] Nodirbek3d opened #35094 "BUG: series.loc(index) throws exception"
Simple loc() method does not work!
Here is the code to reproduce:

[code]
code above throws exception:
[code]

#### Problem description

Getting the same error on ```obj.iloc(1)```
#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Darwin
OS-r

[2020-07-02 06:32] jorisvandenbossche commented on #35094
See the docs: https://pandas.pydata.org/docs/user_guide/indexing.html#selection-by-label. You need to use square brackets instead of parantheses (``letters.loc[2]``)

[2020-07-02 06:32] #35094 closed

[2020-07-02 07:44] MarcoGorelli commented on #35081
I haven't yet checked to see if there's a test for this, just leaving a quick comment to say that 0.25.2 isn't the latest version of pandas

[2020-07-02 08:11] erfannariman commented on #35081
If it is needed, I can create a test for this @MarcoGorelli

[2020-07-02 09:26] erfannariman commented on #10720
@MomIsBestFriend for my understanding, why did you close your PR? It looked like decent changes for this ticket. Was there anything unclear for you? I can help out if you want.

[2020-07-02 09:38] AlexKirko commented on #35092
Looking into this one. Also reproducible with:
[code]

[2020-07-02 10:51] AlexKirko commented on #35092
take

[2020-07-02 10:59] AlexKirko commented on #35092
Found the culprit. At some point down the call stack, `DataFrame.append` calls `union_indexes` in `core.indexes.api`. Here we call
[code]
We don't support `sort` for `kind == 'special'` in `union_indexes`, and `special`, I believe, gets mistakenly assigned in this case. Here is the relevant code from `_sanitize_and_check`:

[code]

What was probably meant was to check if there is an `Index` **subc

[2020-07-02 11:24] simonjayhawkins commented on #30232
after quickly reading that wiki, my opinion is that most of that content is still applicable so could be copied over to doc\source\development\code_style.rst and reformatted appropriately.

Note: doc\source\development\code_style.rst is a relatively recent addition and is WIP so does not yet have a well defined structure.

[2020-07-02 11:55] TomAugspurger commented on #28488
@tomaszps that looks right, thanks.

[2020-07-02 11:58] simonjayhawkins commented on #35081
Thanks @spluque for the report.

I'm not aware of a pandas 0.25.32. Is the output of show_versions correct? I can't reproduce on pandas 0.25.3. The code sample uses random without a seed, so not able to consistently reproduce same result. can you update the OP with a minimal reproducible example.

Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detaili

[2020-07-02 12:22] StefRe commented on #35080
I tried to wrap my head around it but can't find the root cause.

The _immediate_ failure cause is that the axes object still holds the previous line plot (as first `Lines2D` object `ax.get_lines())[0]`). The new test data get into `ax.get_lines())[1]`. Just adding `clf` in a class teardown method of `TestRegistration` doesn't help as after `_check_plot_works(ts.plot)` the plt state gets restored

[2020-07-02 12:54] StefRe commented on #35080
Another possibility is to add `plt.clf()` at the end of `test_registering_no_warning`, `test_pandas_plots_register` and `test_option_no_warning`. This seems cleaner to me as it's close to the origin of the problem, although I'm not completely convinced if this indeed addresses the root cause of the issue.

@mroeschke / @TomAugspurger  If you feel that this is sufficient to address this issue I can

[2020-07-02 13:10] spluque commented on #35081
I've updated the report, including details, and printing at the console.  This time I made sure I was in a virtualenv with latest pandas.

[2020-07-02 13:36] paalge commented on #12585
I barely caught this error when trying to process a datasett, and I feel that it should be addressed.
My first thought was to make `dayfirst` `True` as default, but this does not work as if you input `10.20.2020` it converts it to `2020-10-20` without throwing an error :open_mouth:.

The only solution I see for solving this is to force the use of format, including making it a mandatory argument wh

[2020-07-02 13:41] simonjayhawkins commented on #35081
the maximum value in group A, is 62.210877, which occurs at 2020-01-01 00:00:00.100000+00:00.

The results look correct to me.

[2020-07-02 13:42] erezinman commented on #34820
Anyone?

[2020-07-02 14:08] spluque commented on #35081
Indeed!  That's embarrassing, I must have misread the results previously.  Apologies for the unnecessary report.

[2020-07-02 14:20] simonjayhawkins commented on #35081
Not a problem!

[2020-07-02 14:20] #35081 closed

[2020-07-02 14:25] simonjayhawkins commented on #34820
Thanks @erezinman for the detailed report.

I _think_ this is a duplicate of #13090 and the inconsistencies noted here become irrelevant if slicing on a unsorted index were to always raises an Exception as you suggested and suggested in #13090

so closing this issue as duplicate.

[2020-07-02 14:25] #34820 closed

[2020-07-02 14:39] erezinman commented on #34820
Thanks!

[2020-07-02 14:58] bashtage opened #35095 "BUG: reset_index is passing a bad dtype to NumPy"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug **DOES NOT ** exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information f

[2020-07-02 15:01] #34859 closed

[2020-07-02 15:26] #34731 closed

[2020-07-02 15:31] simonjayhawkins commented on #35095
xref #34942 cc @rhshadrach

[2020-07-02 16:08] TomAugspurger commented on #35080
Cleaning up at the end of the test makes sense.

On Thu, Jul 2, 2020 at 7:54 AM Steffen Rehberg <notifications@github.com>
wrote:

[2020-07-02 17:44] alessiosavi opened #35097 "QST: Does the following method have circular dependencies? hash_pandas_object"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

Hi Team, does the method `hash_pandas_object` have circular dependencies?

I'm not able to serialize class that contains the method in my cod

[2020-07-02 20:34] TomAugspurger commented on #34730
@pandas-dev/pandas-core there's a lot of regressions at https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.1+label%3ARegression, performance and correctness. If people have time then those are relatively high priority.

[2020-07-02 20:38] TomAugspurger commented on #35050
Added code to reproduce @rhshadrach are you able to look into why this is slower now?

[code]

[2020-07-02 20:54] TomAugspurger commented on #35047
I don't know if it's an artifact of asv / line-profiler, but it looks like a lot of time is spent in `option_context.__enter__` and `option_context.__exit__`:

[code]

Do you have time to explore that? Either optimizing `option_context`, or making an internal version that skips expensive checks, or (if the contextmanager machinery itself is too expensive) a private setitem that skips chained_assig

[2020-07-02 21:00] TomAugspurger commented on #33919
One note: my code above used `test_parallel`, but the single-threaded version is also slower:

[code]

So the current implementation is likely just slower.

[2020-07-02 21:05] TomAugspurger commented on #33918
This seems to be fixed.

[2020-07-02 21:05] #33918 closed

[2020-07-02 21:11] TomAugspurger commented on #33920
Reverting https://github.com/pandas-dev/pandas/pull/33445 doesn't restore the perf, so it likely wasn't that.

We do now spend twice as much time in `_compare_or_regex_search`, which points to https://github.com/pandas-dev/pandas/pull/32890. Can you take a look @chrispe92?

[2020-07-02 22:09] ggGibs commented on #35017
FYI Koalas reads/writes to delta lake [https://koalas.readthedocs.io/en/latest/reference/io.html#delta-lake](url), and has easy koalas <--> pandas methods
But it looks like a pandas-like wrapper on top of pyspark - you will need a spark cluster somewhere to handle the I/O. No hope running it standalone

[2020-07-02 22:49] tomaszps commented on #28488
I'm a little confused about a detail- pandas.core.arrays.base.ExtensionArray.astype always coerces to and returns a numpy array. This is not the desired behavior, correct? That seems inconsistent with the way other subclasses of extensionarray act, where the method is overridden (e.g. Integer, Boolean extensionarrays).

[2020-07-02 22:57] tomaszps commented on #28488
take

[2020-07-02 23:31] tomaszps commented on #28488
I'm digging further, I'll dump the rest of my questions/notes here until there's a response.

That solution or some variant worked for all of the tests up to
pandas/tests/extension/test_string.py::TestCasting::test_astype_own_type[True] FAILED           [ 87%]
which seems to be failing because __eq__ is not implemented for the StringArray class.

All the others failed for the reason mentioned abov

[2020-07-03 00:50] jbrockmendel commented on #35097
Yes, xref #29208.  PR(s) to avoid this would be welcome (though i expect not easy)

[2020-07-03 02:02] rafiyr commented on #35025
I've played around with the code a bit.  One idea is let numpy pull out the min and max and just run the safety checks on those.  I have not tested with NATs.  Aside from that, I don't think this version looses anything else over the current code.  It would be faster do the scaling with a simple multiply (~1/3 faster on the machine I'm using today) instead of using the numpy conversion, but that w

[2020-07-03 02:40] tomaszps commented on #28488
@TomAugspurger I looked in the contribution docs but didn't see- is there a standard way to solicit feedback on an issue? (If I'm a new person and I have questions because I'm unfamiliar. @'ing you repeatedly seemed wrong, but I don't know better.

[2020-07-03 02:42] b-niu commented on #35043
Thanks for sharing your opinion, @StevenLi-DS .
Because of the research area, I treat that the table is left aligned defaultly. Table files with this format is quitely ubiquitous in biological data. Manny biological software add information columns with no header at the end of each line...

[2020-07-03 04:06] jbrockmendel commented on #35025
What you're describing is a three-pass process, so it can likely be improved upon.

[2020-07-03 06:18] chrispe92 commented on #33920
Yes I'll try to have a look at it this weekend.

[2020-07-03 07:06] rajeee commented on #26970
Does anyone have an answer for @jamesmyatt 's question about why the presence of __next__ attribute is used as a special case to determine if the str method should be used?

[2020-07-03 07:06] odidev commented on #33971
Numpy wheel for AArch64 is available now. Please have a look at [this|https://pypi.org/project/numpy/#files]

[2020-07-03 08:23] Rish001 commented on #35005
Can I work on this?

[2020-07-03 08:50] simonjayhawkins commented on #26970
@rajeee the open issue for this discussion is #18843. you may want to continue the discussion there.

[2020-07-03 11:09] joelowj opened #35109 "BUG: Groupby.transform on datetime with nunique giving incorrect result"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-03 11:12] TomAugspurger commented on #28488
It's easiest to make a PR and then we can comment on the diff.

On Thu, Jul 2, 2020 at 6:31 PM Tomasz Sakrejda <notifications@github.com>
wrote:

[2020-07-03 11:31] simonjayhawkins commented on #35095
@bashtage I'm not getting a exception with the code sample, but after looking at the statsmodels tests, I can reproduce using the following.

[code]

[2020-07-03 11:35] bashtage commented on #35095
I made the sample code based on the traceback without actually checking it raised. Should have been more careful.

[2020-07-03 13:14] rhshadrach commented on #35095
Thanks @bashtage and @simonjayhawkins. I'll be able to work on this come Sunday.

[2020-07-03 13:16] rhshadrach commented on #35050
I'll be able to look into this on Sunday.

[2020-07-03 13:53] StefRe commented on #29992
This is no bug, everything works correctly.
With NaNs you get multiple delimiters with nothing between them. There is an option in Excel to treat consecutive delimiters as one  -  this **must be unchecked**:
![grafik](https://user-images.githubusercontent.com/19879328/86475262-a6145e80-bd44-11ea-95cf-e1d61e812820.png)
Obviously this option in checked in your case. Open the [Convert Text to Coolumn

[2020-07-03 15:07] #35049 closed

[2020-07-03 16:24] StefRe commented on #33868
See my [SO answer](https://stackoverflow.com/a/62718470/3944322). I think you can close this issue.

[2020-07-03 17:01] #33868 closed

[2020-07-03 17:38] jbrockmendel commented on #35015
@Dr-Irv looking at this, it appears that a sufficient fix is to add in core.indexing._LocIndexer._convert_to_indexer:

[code]

I haven't run the test suite with this, nor looked at this closely enough to confirm that its the "correct" fix, but it does fix the example in the OP.

[2020-07-03 18:02] ramaprasada commented on #34411
Thanks for the reply @JohanKahrstrom

[2020-07-03 18:42] rajeee commented on #18843
Bump to @jamesmyatt's question: why is ` hasattr(thing, '__next__')` a special case in pprint_thing?
__next__ attribute is available in iterators, and it doesn't make sense why iterator objects would be printed directly using `str` and other kinds of objects are passed through `as_escaped_unicode `  function before printing.

[2020-07-03 19:23] gfyoung commented on #35058
Part of the challenge in supporting file handlers that require `bytes` and not `str` is elegantly checking if a file handler requires this.  A simpler example of what you showed is this:

[code]

[2020-07-03 19:25] gfyoung commented on #35051
@Krytic :

* Could you share the stacktrace with the bus error?
* Are all of the rows in your >800 MB files correctly-formed CSV?

[2020-07-03 19:38] ramaprasada commented on #34411
Thanks for your reply and solution Johan, but however this gives me an 'NoneType' object is not subscriptable error !!!

[2020-07-03 20:36] erfannariman commented on #35109
Tested this on master and can reproduce.

[2020-07-03 22:34] jbrockmendel commented on #35048
Best guess is this is #34778 and the compiler is inlining things differently on the benchmark machine than it does locally.

[2020-07-03 23:49] Youssefares commented on #22212
Any progress/different thoughts on this?

[2020-07-04 11:47] LucasG0 commented on #34951
take

[2020-07-04 13:22] chrispe92 commented on #33920
I was able to reproduce the same time percentage difference between the two versions (i.e. the one before and after https://github.com/pandas-dev/pandas/pull/32890). It seems like the main overhead is coming from creating the mask array.

https://github.com/pandas-dev/pandas/blob/7e25af85fa6fc91bc606d130a4f81b1af8fd4d91/pandas/core/internals/managers.py#L1933

**Notice:** My analysis showed that t

[2020-07-04 14:02] aixtools opened #35123 "BUG: pandas does not build on AIX - when using xlc/xlC as compiler"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Panda build stops with:

[code]

On examining this I see that there are special statements - perhaps unsupported by xlc/xlC (v11).

[code]

There is a good chance this

[2020-07-04 14:16] jreback commented on #35123
we have no support on AIX - but would accept patches

[2020-07-04 14:42] aixtools commented on #35123
Would love to help - but will need help creating a patch. Cython says - not our problem: https://github.com/cython/cython/issues/3723

[2020-07-04 15:48] aixtools commented on #35123
For a starting point - currently testing the tagged versions 0.24.2 and 0.25.3 - to see if they build.

[2020-07-04 16:20] Genarito opened #35124 "BUG: Rounding on float16 type not working"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

I'm trying to round a column to 4 decimal places to store them in the DB. I must use `np.float16` type to work with as I need the smallest possi

[2020-07-04 16:44] jreback commented on #35124
we have very little support for float16

furthermore i suspect this is really just a display issue; convert the series to numpy and see

[2020-07-04 18:04] gabrielNT commented on #26223
I think this is the same as #31466.

[2020-07-04 18:18] Genarito commented on #35124
Hi!
First of all, thanks for answering!
Secondly, converting to Numpy works, I confirmed that above in the description of the issue. However, It'd be great to have a built in solution to manage this kind of rounding in float16.
I'm inserting the DataFrame in the DB with PyMongo, I need the entire DF structure, but every time I put the rounded data in it the values return to its original representa

[2020-07-04 18:37] SultanOrazbayev commented on #35051
I encountered a similar problem and the underlying cause was an inconsistent quoting in some of the CSV rows. Looking at your separator setting, is it possible that your data has problems with quoting? If so, you could try different `quoting` options in `pd.read_csv`:

[code]

If the data is public, kindly share the link to investigate further.

[2020-07-04 20:08] gabrielNT commented on #21239
take

[2020-07-04 20:33] johncthomas commented on #22773
So I spent half a day trying to write a workaround to this that failed in certain cases so I should probably fix it in the source code. I've never contributed to an open source project so here's what I'm thinking in case I'm planning something dumb:
- Add `header_format` & `index_format` args to `DataFrame.to_excel` with default value of `pandas.io.formats.excel.ExcelFormatter.header_style`

[2020-07-04 21:16] Flix6x commented on #32860
Issue https://github.com/pandas-dev/pandas/issues/19850 seems related (thanks for that metadata label), which is about keeping around the metadata when going the other way, from a SubclassedDataFrame to a SubclassedSeries. Adapting the workaround posted there https://github.com/pandas-dev/pandas/issues/19850#issuecomment-367934440 solved this problem for me, although I created my SubclassedDataFra

[2020-07-04 22:42] oleksiyskononenko opened #35126 "BUG: unexpected cut() results"
- [X ] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-07-05 05:30] twoertwein commented on #35058
One approach would be to push this responsibility to the user. Would it be reasonable to require `to_csv`'s existing keyword argument `mode` to contain `b` when the user provides a binary file handle?

Unfortunately, it seems that `to_csv` can currently not even cope with a binary mode for a file name.

[code]
[code]

[2020-07-05 05:47] gfyoung commented on #35058
At the moment, yes, but you're more than welcome to try modifying that logic to make `encoding` and `mode` (with a `b`) mutually exclusive.

[2020-07-05 07:46] chrispe92 commented on #33920
If we were to replace the op function with something like the following, then it would make it even slower, so that's likely not a possible solution.
[code]

[2020-07-05 12:13] erfannariman commented on #35124
This is actually the case. Converting it back to numpy gives us the correct result, so the values underneath are actually rounded correct:

[code]

[2020-07-05 12:18] sdfordham commented on #35126
The difference is from `numpy.searchsorted` here
https://github.com/pandas-dev/pandas/blob/b687cd4d9e520666a956a60849568a98dd00c672/pandas/core/reshape/tile.py#L388

When in case 96.0 or 98.0 the value in the middle of the array is 0.0 but for 97.0 it is very small but not 0.0 so the `side='left'` option changes it. The following seems to sum up the situation
[code]

Output
[code]

[2020-07-05 12:24] #35124 closed

[2020-07-05 13:31] Genarito commented on #35124
Thank you! When I save in CSV format it was 4 decimals truncated as expected. But now I found a use case where it's not  working:

[code]

Outputs `[{'A': 0.373291015625}, {'A': 0.12322998046875}, {'A': 0.22998046875}]`. Shouldn't the truncation be preserved during the conversion?

**Also important**: the same problem occurs with float32. The float64 and float128 types don't present the problem.

[2020-07-05 15:23] rhshadrach commented on #35050
Confirmed the timings on 1.0.4, master, as well as PR #34372 directly. This agrees with the slowdown that was reported in https://github.com/pandas-dev/pandas/pull/34372#issue-422910411. I also confirmed that single column performance on master beats 1.0.4 by a similar ratio as reported in the comment linked above:

    df = pd.DataFrame(np.random.randn(len(index), 1), index=index)

    # 1.0.4

[2020-07-05 17:51] agigao commented on #14553
Any news?))

Coming from Java world, never thought this simple functionality might turned my codebase upside down.

[2020-07-05 21:30] pbotros commented on #33603
Sorry for the delay here - revisiting this. I agree with @mattbit that while it's the intended behavior, it's not very intuitive. I'd say that always using the resolution of the index makes sense - presumingly that's how non-range indexing (e.g. `ts.loc['3s']` in the above example) works. Unfortunately though, this does change the behavior for existing implementations.

@mroeschke thoughts on the

[2020-07-05 22:24] Krytic commented on #35051
@gfyoung
- Apologies but apparently not. It's been cleared from my environment on the cluster I use and was apparently not backed up.
- Yes - it's output from another script, and all obeys the same format. Here's a sample of the input data - it's all seven columns and any missing data is set to `0.0000000E+00` by the script running before mine.

[code]

@SultanOrazbayev
- [Here is a link to the la

[2020-07-05 22:31] erfannariman commented on #35124
Can confirm the problem stated above occurs on master as well.

@jreback would that be sufficient to re-open this issue?

[2020-07-05 22:32] erfannariman commented on #35124
Maybe important to note that `to_numpy` still gives the correct result, `to_dict` does not:

[code]

[2020-07-05 22:53] znicholls opened #35131 "ENH: Identify numpy-like zero-dimensional arrays as non-iterable"
Note: I wasn't sure whether to label this as an enhancement or bug. I've put enhancement as I don't think the original implementation was actually incorrect, rather just limited in scope. I'm happy to change to bug if that's more appropriate.

#### Is your feature request related to a problem?

I'm one of the developers of [Pint-Pandas](https://github.com/hgrecco/pint-pandas), which provides an ex

[2020-07-06 00:18] SultanOrazbayev commented on #35051
@Krytic: OK, I'll give it a shot now.

[2020-07-06 00:51] SultanOrazbayev commented on #35051
I tried running the code you pasted above on the file and after 10+ minutes I interrupted the loading process (it's taking too long) and tried an alternative way: decompressing and loading into pandas. This took about 2 minutes and loaded into memory without problems. Here's the code I ran:

[code]

Here's my `pd.show_versions()`.

<details>

[code]

</details>

To me this suggests that there is a

[2020-07-06 01:32] oleksiyskononenko commented on #35126
Thanks for the info. Yeah, when I looked at the binning intervals for `max == 97`, I did notice this small number instead of zero.

[2020-07-06 01:41] zhenruiliao opened #35132 "BUG: Passing `level=` to `DataFrame.reindex` fails when the index is flat"
- [ X] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Currently the above raises `AttributeError: 'Int64Index' object has no attribute 'levels'`.

[2020-07-06 01:51] Krytic commented on #35051
I concur. Here's some more datasets to confirm:

- [Small (5MB zipped)](https://drive.google.com/file/d/1uclvhJhdLPPxGdJmJMTqrjc4sjg5srI_/view?usp=sharing) - this **works**
- [Medium (43 MB zipped)[https://drive.google.com/file/d/1Slhw3t5zu8mF9vCc2nWjAehIQXbVKy2U/view?usp=sharing] - this **works**, but is slower than it probably should be.

[2020-07-06 04:31] mroeschke commented on #33603
I'd be -1 to adding an entirely separate `FixedResolutionTimedeltaIndex`.

I'd be +0 to changing the behavior of partial string indexing. Would probably need more buy in from other core maintainers before deprecating and changing this behavior.

[2020-07-06 07:02] jorisvandenbossche commented on #35131
@znicholls Thanks for the clearly described issue!

We are having a similar problem in GeoPandas where the scalars (eg MultiPolygon) can be potentially iterable as well / can have a length (although here they are *actually* iterable, so not raising an error, making it even harder to detect this). xref https://github.com/pandas-dev/pandas/issues/26333, https://github.com/pandas-dev/pandas/issues/27

[2020-07-06 07:07] jorisvandenbossche commented on #35076
Yes, I agree this seems like a good change

[2020-07-06 07:24] znicholls commented on #35131
Correct. To make this work, I think we'd have to add an `ndim` property to Pint's `Quantity` class that returned sensible values for all types (so we'd need custom behaviour to make sure e.g. `quantity.ndim` returns `0` even if you're wrapping a 'normal scalar' rather than a numpy scalar).

[2020-07-06 07:57] AlexKirko opened #35134 "CI: Update to isort 5"
`isort` 5.x is out with some changes to how it sorts. We'll need to update the code and unpin in our environment file.

[2020-07-06 08:03] jorisvandenbossche commented on #35025
"theoritically" speaking, this can certainly be improved (eg pyarrow can do the same cast (with bounds check) in 350 ms that takes 5s in pandas). But it would indeed need some investigation / experimentation to see what is realistic to do in pandas .

[2020-07-06 11:09] jreback commented on #35134
love a PR to fix (can likely just drop the recursive kw) or could pin isort- either way us ok

[2020-07-06 11:10] lisovskey commented on #9096
got this error too with `groupby`

[2020-07-06 11:30] jreback commented on #9096
you will have to open. new issue with a reproducible example in the latest released version and even better showing something exists in master

[2020-07-06 11:52] jorisvandenbossche commented on #34961
Do you have specific benefits / advantages in mind that we would be getting from not sharing block managers / blocks? Or is it rather a general sense of "this is cleaner" ?

[2020-07-06 12:39] PanPip opened #35135 "BUG: .corr() values higher than 1"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

_Sorry for including an external dataset. I couldn't reproduce this bug with a smaller one._

[code]

#### Problem description

[2020-07-06 13:00] AlexKirko commented on #35134
Should be fine if we drop the keyword. Let me give it a try.

[2020-07-06 13:00] AlexKirko commented on #35134
take

[2020-07-06 13:10] leohazy opened #35137 "BUG:sort_values in groupby make some value lost"
- [ .] I have checked that this issue has not already been reported.

- [ .] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-07-06 13:17] Dr-Irv commented on #35015
@jbrockmendel Thanks.  I will create a test, try that fix and let you know if something else pops up

[2020-07-06 13:52] AlexKirko commented on #35134
Yeah, no. Version 5 has changed the way it sorts imports, so it now throws a couple hundred errors on our file base. I'll pin `isort` for now, and we can check later if this new version breaks anything.

[2020-07-06 13:58] jorisvandenbossche opened #35138 "CI/DOC: autodoc failures for DataFrame.sparse methods with latest sphinx"
On master and on PRs, there is a CI failure:

[code]

Looking at the env of the failing ones and the last one that passed on master: sphinx upgraded from 3.1.1 to 3.1.2.

[2020-07-06 14:36] TomAugspurger commented on #30017
Closed by #29405.

[2020-07-06 14:37] TomAugspurger commented on #29752
Anyone (@Dr-Irv, @jorisvandenbossche) able to work on this? This seems worth doing for 1.1 if it only takes a few days.

[2020-07-06 14:42] Dr-Irv commented on #29752
@TomAugspurger For me, it won't take a few days, because I think the changes should be made at a pretty low level in the readers, and I'd have to figure out how that code works.  The easy solution is to use `convert_dtypes` inside the various readers after the current read operations, but that would be inefficient from a memory standpoint.

[2020-07-06 15:17] TomAugspurger commented on #26887
@datapythonista is the original description still accurate? Anything we should be doing here for 1.1?

[2020-07-06 15:32] jbrockmendel commented on #34961
Just a cleaner abstraction.  Closing.

[2020-07-06 15:32] #34961 closed

[2020-07-06 15:34] rafiyr commented on #35025
It seemed that the most expensive part of the function was the conversion to and from the time structures.  The bounds can be pre-computed or hard coded for the incoming format and test each element that way.  For my first attempt I did something like that and worked entirely in the int64 space with pre-computed min, max, and scaling factors (it was faster).  Have not tried that using the numpy co

[2020-07-06 15:39] jorisvandenbossche commented on #34961
"just a cleaner abstraction" can still be a worthwile reason to do this, to be clear (I was just trying to understand your reasoning)

[2020-07-06 15:40] datapythonista commented on #26887
This was fixed in #29712, we are running the clipboard tests in some Azure builds now. Closing.

[2020-07-06 15:40] #26887 closed

[2020-07-06 16:30] TomAugspurger commented on #35005
@Rish001 the expected behavior hasn't been established yet.

@eggers Series are treated like dicts, so the index labels of the `value` should match the column name of the DataFrame.

I think DataFrame.fillna(DataFrame) is similar but has a restriction that the column names should match too?

[2020-07-06 16:34] vitthaljkulkarni opened #35143 "QST:What is the largest datetime in pandas to_datetime?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-07-06 16:41] HughKelley opened #35144 "BUG: pd.crosstab fails when passed multiple columns, margins True and normalize True"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

#27663 found that `pd.crosstab` failed when `margins` and `normalize` were true.  This contin

[2020-07-06 16:45] jreback commented on #35143
see the docs here https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-oob

[2020-07-06 16:46] #35143 closed

[2020-07-06 16:46] jreback commented on #35143
this is not representable in ns units

[2020-07-06 16:57] CloseChoice commented on #35144
this still exists on the latest version.

[2020-07-06 17:17] pbotros commented on #33603
Sounds good - thanks @mroeschke . Any particular core maintainers you have in mind and could add to this issue (or are they notified already)?

[2020-07-06 17:24] jbrockmendel commented on #33457
In #32831 the behavior being addressed was a new array was being pinned with `ExtensionBlock.values = values`, which didn't match the behavior of other Block subclasses that do `Block.values[locs] = values`

I think the "make a new `ExtensionBlock` instead of calling `eb.set`" idea discussed above is likely the best bet in the short-run.  Longer-run the base class implementation `block.values[locs

[2020-07-06 17:27] RandyBetancourt opened #35145 "AttributeError: 'DataFrame' object has no attribute 'compare'"
pandas .compare() from the [documentation ](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.compare.html)returns:

```AttributeError: 'DataFrame' object has no attribute 'compare'```

[code]

[2020-07-06 17:41] jreback commented on #35145
this is in 1.1 which is not yet released

[2020-07-06 17:41] #35145 closed

[2020-07-06 17:41] jbrockmendel commented on #35053
Assuming this was caused by#34999, this is something we just have to live with.  The previous behavior was incorrect.

[2020-07-06 17:42] jreback commented on #35145
you are looking at the dev docs

[2020-07-06 17:44] jorisvandenbossche commented on #35025
@rafiyr what do you mean exactly with "assumptions about the representation"? You mean the fact that is is datetime64[ns], which basically are int64's representing the ns?

[2020-07-06 17:50] jbrockmendel commented on #35025
I think something like the following is a 1-pass version of what you suggested:

[code]

[2020-07-06 17:52] jbrockmendel commented on #34014
Is this a blocker for 1.1?

[2020-07-06 18:00] WillAyd commented on #34014
I don’t think it needs to block a release as it’s a development dependency, though obviously one we want to keep current

Sent from my iPhone

[2020-07-06 18:08] TomAugspurger opened #35147 "CI: MacPython failing TestPandasContainer.test_to_json_large_numbers"
[code]

https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=38672&view=logs&j=c0130b29-789d-5a3c-6978-10796a508a7f&t=e120bc6c-1f5e-5a41-8f0a-1d992cd2fbfb

xref https://github.com/pandas-dev/pandas/pull/34473.

cc @arw2019.

[2020-07-06 18:09] TomAugspurger opened #35148 "CI: MacPython failing test_consistency_with_window"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=38672&view=logs&j=c0130b29-789d-5a3c-6978-10796a508a7f&t=e120bc6c-1f5e-5a41-8f0a-1d992cd2fbfb&l=1286

[code]

cc @mroeschke if you know where to look / who to ping. I haven't looked yet.

[2020-07-06 18:11] TomAugspurger commented on #34014
I think if we don't update this for 1.1, then we'll want to set an upper bound on Cython in our pyproject.toml so that users can compile pandas from source.

[2020-07-06 18:47] CloseChoice commented on #35144
take

[2020-07-06 19:23] arw2019 commented on #35147
take

[2020-07-06 19:47] jbrockmendel commented on #23959
This is partially fixed as tz_compare now requires tzinfo objects, so the string "UTC" is irrelevant.  It's still questionable that `tz_compare(pytz.UTC, timezone.utc)` gives `False`.

[2020-07-06 20:12] Dr-Irv commented on #35015
@jbrockmendel OK, that seemed to fix it in #35140 .  Thanks!

[2020-07-06 20:34] rafiyr commented on #35025
@jorisvandenbossche yup, wasn't sure if it would be considered safe enough to just produce the scaling factor and use regular multiplication.

Is there a particular reason to indent that innermost if block instead of using elif lower <= val...?

Do year and month need special handling for leap days?  Are other coarse larger units safe given leap seconds?

Also, its worth keeping the pass through f

[2020-07-06 20:36] jorisvandenbossche commented on #35025
Yes, conversion between resolutions like s or ms to ns are simple scaling factors. For other resolutions like days or years, that will be different I suppose. So a more specialized / performant function can focus on the simple resolutions, and leave the slower path for other resolutions.

[2020-07-06 20:55] #35095 closed

[2020-07-06 21:06] mroeschke commented on #33603
@pandas-dev/pandas-core for thoughts about changing partial string indexing for TimedeltaIndex

[2020-07-06 21:28] #21239 closed

[2020-07-06 21:42] jbrockmendel commented on #35025
Year and month are not just multiplicative, so will need to keep using the existing code.  Everything higher-resolution that that should be OK with the multiplicative approach.

[2020-07-06 21:57] CloseChoice commented on #35050
I profiled the call with both versions. Here is my script in case s.b. wants to reproduce:

[code]

Here are the results (I changed the paths at some lines).

v1.0.4 (only first 50 lines)
[code]

and master:

[code]

Seems like we spend a lot more time in `get_cythonized_result`

[2020-07-06 22:01] rhshadrach commented on #35137
Thanks for reporting this. Could you please make your example self contained, i.e. not depend on an external file? Also, it would be very helpful to make the example as minimal as possible.

[2020-07-06 22:41] alimcmaster1 commented on #35019
take

[2020-07-06 23:25] #27837 closed

[2020-07-06 23:27] #28397 closed

[2020-07-06 23:41] jreback commented on #34779
@tswast I sent an invite to make you a member of the core team :-> you should have be able to create these keys now.

[2020-07-07 01:25] ww2406 opened #35153 "BUG: DataFrame improperly storing ints as floats"
- [ X ] I have checked that this issue has not already been reported.

- [ X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Observed output
Original dtypes:
start      int64
end        int64
dist     float64
dtype: object

New column d

[2020-07-07 01:35] jreback commented on #35153
you are taking a cross section (df.iloc[0] is a row); these cut across the columns and are promoted to accommodate

if you look at df.iloc_[:, 0] it will be clear

[2020-07-07 01:35] #35153 closed

[2020-07-07 01:44] ww2406 commented on #35153
Thanks @jreback. Is there a technical limitation as to why pandas can't preserve the column types when taking a cross section? It is behavior that is _very_ unexpected--I would expect that when taking a row, all the column types would be preserved (i.e., df.iloc[0]['start'] should equal df['start'].iloc[0])

[2020-07-07 01:46] jreback commented on #35153
it can be done but is not efficient nor generally useful

numpy does this kind of coercion

there is an issue in the tracker somewhere about returning  object dtype for this - it’s possible

[2020-07-07 02:41] leohazy commented on #35137
i sort the values by group keys,and select two groups data into json ,then read the json to pands.
[code]
so ,you can run the  holding codes with json objects below:
b='[{"companycode":1,"close_max":16.8893,"close_min":11.9444,"hold_start":"2020-03-31","shares":8668200.0},{"companycode":1,"close_max":16.9286,"close_min":14.5889,"hold_start":"2019-12-18","shares":5865599.9999999991},{"companycode":

[2020-07-07 02:48] jlli6t commented on #34663
Or maybe just leave it as a parameter that user define to return an object or not?

`copy=False` means do reindex on the original dataframe.

[2020-07-07 05:16] Sibicoder opened #35155 "BUG: Dollar symbol appears in dataframe rows which have numerical values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-07 05:45] Sibicoder commented on #35155
Apologies. This is not a bug.
Reason: pd.options.display.float_format = '${:,.2f}'.format  has $ included in the format

[2020-07-07 05:45] #35155 closed

[2020-07-07 07:05] bashtage commented on #34014
To advocate for fixing sooner rather than later, in addition to being a technical issue for future Cython, it is also a bug when the function being applied has any deferred operations.

[2020-07-07 07:24] NicolasGrosjean opened #35156 "BUG: Int64 data casted to float64 when using [<column_name>] in a DataFrame"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-07 07:54] kpflugshaupt commented on #27800
@mroeschke Not sure I'll have the time -- work & family tend to get in the way. Possibly in the week starting July 18th. I'll try!

[2020-07-07 08:55] JohanKahrstrom commented on #34411
Could you clarify which line fails?

[2020-07-07 09:34] cvanweelden commented on #32073
I'm no longer working on this, as my minimal fix wasn't accepted and this might need a more structural solution for 3rd party lib operations on nullable types.

[2020-07-07 09:38] jreback commented on #35156
duplicate of #35153

taking a cross section casts to a common dtype

[2020-07-07 09:38] #35156 closed

[2020-07-07 11:09] #28903 closed

[2020-07-07 11:16] TomAugspurger opened #35157 "July 2020 Developer Meeting"
The monthly dev meeting is Wednesday July 8th, at 18:00 UTC. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar to check your local time.

Video Call: https://zoom.us/j/942410248
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&usp=docs_home&ths=true

Please add items you'd like to see disc

[2020-07-07 11:17] jreback commented on #35157
july 10 right? and we could move to another day if helpful

[2020-07-07 11:19] frd-glovo opened #35158 "BUG: datetime total_seconds inaccurate"
- [x] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-07 11:54] TomAugspurger commented on #35157
Fixed: it should have said July 8th. No need to move it.

[2020-07-07 12:41] tobiaslocker opened #35159 "BUG: subtract `pd.offsets.BDay()` from `Timestamp` gives different results when same are expected"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The above function gives different results when called with the same parameters. I can't see

[2020-07-07 12:49] tobiaslocker commented on #35159
Layer 8 Problem :facepalm:

[2020-07-07 12:49] #35159 closed

[2020-07-07 13:09] jreback opened #35160 "CI: add sql tests back to py36"
xref https://github.com/pandas-dev/pandas/issues/34776

removed in the PR: https://github.com/pandas-dev/pandas/pull/35151, we should add them back.

cc @VirosaLi

[2020-07-07 13:10] #34776 closed

[2020-07-07 13:37] TomAugspurger commented on #35053
Perhaps a fluke in the timing? The latest runs are back to normal.

[2020-07-07 13:37] #35053 closed

[2020-07-07 13:39] TomAugspurger commented on #34771
There's more discussion in #35050 so lets close this.

[2020-07-07 13:39] #34771 closed

[2020-07-07 14:23] gimseng commented on #35158
I confirmed that I got the same issue. Got `120.00000000000001` vs `120.0`

** Output of  `pd.show_versions()`**
<details><summary>Details/summary>
<p>
[code]
</p>
</details>

[2020-07-07 14:45] gimseng commented on #35158
I think `float64` in python stored around 15 digits in some sense. I counted the number of digits, and it seems to be roughly there. So I think its an artifact of float64.

[2020-07-07 14:47] fabiorangel opened #35161 "BUG: KeyError on MultiIndex when filtering by only two indexes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code

[code]
[code]
#### Problem description

The problem occurs only when filtering using MultiIndex with a two-sized tuple. When using one, three or more it does not oc

[2020-07-07 14:56] TomAugspurger commented on #34881
It looks like we're using it at https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/parsers.pyx#L28-L29.

[2020-07-07 14:58] gimseng commented on #35135
I think `float64` is up to around 15-ish digits, so I suspect this is rounding issue / `float64` issues.

[2020-07-07 16:47] frank9th commented on #33997
I get same pandas attribute error. i followed the instruction above and installed it on a new environment but i still have the same error after importing pandas in my project. what can i do further please.

[2020-07-07 17:10] jbrockmendel commented on #34014
@bashtage attempts so far have not gone great, xref #34997, extra eyeballs may help out

[2020-07-07 17:30] arw2019 opened #35162 "ENH: should pandas.core.arrays.Categorical have a dropna=False option?"
I ran into this while working on #35078. Here's a simple reproducer:
[code]

Do people think it's worth having a `dropna` argument for Categorical, so that one could do:
[code]
If we set `dropna=False` by default presumably there shouldn't be backward compatibility issues.

I can see arguments either way! In case we do want to add this I'm happy work on it (and the solution in #35078 will be a lot

[2020-07-07 17:33] MarcoGorelli commented on #33997
can you show the traceback?

[2020-07-07 17:52] frank9th commented on #33997
I got it fixed already by installing an earlier version 1.0.0. but this was the error;

  File "C:\lib\site-packages\pandas\core\series.py", line 4562, in Series
    plot = CachedAccessor("plot", pandas.plotting.PlotAccessor)
AttributeError: partially initialized module 'pandas' has no attribute 'plotting' (most likely due to a circular import)

[2020-07-07 18:09] sabarirama commented on #34411
The last line in except fails

[2020-07-07 18:09] sabarirama commented on #34411
The last line in except fails

[2020-07-07 18:42] Genarito commented on #35124
@jreback Is there any update on this? If you like i would try making a PR when I have some free time.

[2020-07-07 18:52] jreback commented on #35124
you can make a PR but really sure what you are attempting to solve

[2020-07-07 18:54] Genarito commented on #35124
Ok, I'll try in a few weeks

[2020-07-07 19:03] TomAugspurger commented on #35162
I think having NA / NaN keys in the categories is probably a bad idea since it leads to so many downstream complexities.

[2020-07-07 19:17] jreback commented on #35162
agreed this is a bad idea
iirc we actually started warning in this?

[2020-07-07 19:48] TomAugspurger commented on #35048
Another thing: I think the benchmark code changed from `offset.apply_index(rng)` to `offset + rng`. Locally I have these timings

[code]

[code]

[code]

[2020-07-07 20:01] VirosaLi commented on #35134
isort 5 would change all
[code]
to
[code]

then the unwantedpattern check won't pass.

The

[code]
check would fail as well
[code]

[2020-07-07 20:08] tswast commented on #34779
I was able to create the keys in Travis and got a running build at https://travis-ci.org/github/pandas-dev/pandas/builds/705824144 with the same code as #35090

[2020-07-07 20:15] TomAugspurger commented on #33923
I think we're close enough to 1.0.4 to call this fixed.

[2020-07-07 20:15] #33923 closed

[2020-07-07 20:18] jorisvandenbossche commented on #34730
Sorry that I can't help that much with the 1.1 release; we're also in busy almost-release modus in Apache Arrow for its 1.0 release (August will be better, but that of course doesn't help with getting an RC out in July .. )

[2020-07-07 20:26] jorisvandenbossche commented on #35162
Indeed, if I remember correctly, the categories initially could contain a missing value as well. But so that way you can have missing data in two ways: missing indicated by the codes (-1) or missing indicated by the category value. And we couldn't think of a good reason to allow both, so opted for only missing data in the codes, and not in the categories.

I didn't look at the linked issue yet, bu

[2020-07-07 20:26] TomAugspurger commented on #33920
@chrispe92 thanks. How often is `_compare_or_regex_search` called? Once per scalar element in `to_replace` right? I wonder if we could call `isna()` outside of `_compare_or_regex_search` and pass it in. Something like (untested)

[code]

[2020-07-07 20:31] TomAugspurger commented on #33955
@rhshadrach was this closed by https://github.com/pandas-dev/pandas/pull/34372?

[2020-07-07 20:33] TomAugspurger commented on #32967
PR was closed as stale if anyone wants to pick this up.

[2020-07-07 20:55] rhshadrach commented on #33955
@TomAugspurger - Yes, thanks for catching this.

[2020-07-07 20:55] #33955 closed

[2020-07-07 20:56] TomAugspurger commented on #33919
It is periodarr_to_dt64 that's slower

[code]

[code]

Any thoughts on how to progress @jbrockmendel? I'm not familiar with how to profile C code.

[2020-07-07 20:59] TomAugspurger commented on #33153
Moved off the 1.1 milestone.

[2020-07-07 21:12] rhshadrach commented on #35137
Thanks - that's helpful. Commenting out the call to `sort_values` produces the correct output, is that correct? Is so, this is then a duplicate of #12653. I recommend you sort the values instead by:

    b = a.sort_values(['companycode', 'hold_start'])

[2020-07-07 21:19] jbrockmendel commented on #33919
I've got a couple of ideas that might optimize this a bit, will give it a go.  If those don't work, then I think we're back to reverting #33491

[2020-07-07 21:26] TomAugspurger commented on #32749
I'd like to fix this by having `Series.idxmin()` eventually call `.array._reduce("argmin")`. However, there's a potential issue with how we've defined `argmin` on our arrays for missing values.

[code]

IMO, `_reduce` should return the correct result, which in this case is I think NA (under the rule that `skipna` propagates NA).

[2020-07-07 21:29] rafiyr commented on #35025
And that's why I asked what is safe.  In playing around it seemed like they scaled better than I'd expected given the variable length of those periods.  I'm still a bit concerned about the effect of leap seconds on minutes-weeks.

[2020-07-07 21:30] WillAyd commented on #35123
I think @da-woods summed it up well on the Cython issue; seems like more of a compiler C++11 support issue than anything else

If you can find a way to define compatible functions without C++11 support feel free to push a PR

[2020-07-07 21:34] jbrockmendel commented on #33919
yep, 2.44ms on the example above, will make a PR

[2020-07-07 21:40] TomAugspurger opened #35169 "Plan for a native string dtype"
Apache Arrow has support for natively storing UTF-8 data. And [work is ongoing](https://github.com/apache/arrow/pull/7449)
adding kernels (e.g. `str.isupper()`) to operate on that data. This issue
is to discuss how we can expose the native string dtype to pandas' users.

There are several things to discuss:

1. How do users opt into this behavior?
2. A fallback mode for not implemented kernels.

#

[2020-07-07 21:43] TomAugspurger commented on #8640
I opened https://github.com/pandas-dev/pandas/issues/35169 for discussing how we can expose an Arrow-backed StringArray to users.

[2020-07-07 21:43] jreback commented on #35169
why make this complicated? I would just make arrow an import of StringArray and call it a day, its already experimental. Then bump the version of arrow required as needed. we did exactly this with parquet.

[2020-07-07 22:32] jbrockmendel commented on #35025
datetime64 does not have a concept of leap seconds

[2020-07-08 00:34] gabrielNT commented on #30866
Hmmm, playing around with this and the index is set correctly to `None` after assigning (inplace or not). The MultiIndex case, however, has `NaN` after the assignment.

[code]

[2020-07-08 02:49] leohazy commented on #35137
Thank you! it seems caused by apply function in groupby. so can i set x["holding"] = x["shares"].sum()? in fact,i need to add some columns after the sort within the groupby . I'm also curious what happened with the sort in apply, why it works in some ways and not in others.
in #24614 it mentioned "In the current implementation apply calls func twice on the first column/row to decide whether it can

[2020-07-08 03:04] 945226956 opened #35172 "QST: I get an error when use to_sql func to save a dataframe to mysql for BLOB column.how to fix it ?"
my package list is:
Package                           Version            Note: you may need to restart the kernel to use updated packages.

--------------------------------- -------------------
-cikit-learn                      0.22.2.post1
asn1crypto                        0.24.0
attrs                             19.3.0
automan                           1.0.0
autopep8                          1.5

[2020-07-08 03:40] 945226956 commented on #35172
I have solve it .
the code like :
from sqlalchemy.types import VARCHAR, Float, Integer, Date, Numeric,BLOB,CLOB
from sqlalchemy import create_engine
# db_conn_str = 'mysql+pymysql://user:pswd@localhost:3307/xxx?charset=utf8'
con=create_engine(db_conn_str)
# print(db_conn_str)
a = pd.DataFrame({'a':[1,2,3,],'b':['dddddd','3','5']})
a.b = a.b.astype(str)
a.b = a.b.astype(bytes)
a.to_sql(name='test_b

[2020-07-08 03:40] #35172 closed

[2020-07-08 05:25] roy2006 opened #35173 "BUG: groupby / resample / aggregate produces wrong results"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-08 05:49] FlorianWetschoreck opened #35174 "ENH: Inconsistency: .astype("string") should convert int-Series to string"
[code]
Turns the String Series into an Integer Series and converts the values.

However, the inverse operation raises an Error:

[code]

In order to be consistent, the inverse operation should also work.
Currently, I think that the best alternative solutions are something like this:

[code]
or
[code]
But those solutions are too convoluted and not consistent with the above API.

[2020-07-08 06:10] kknjio commented on #29181
I solved it using conda install --all.

[2020-07-08 06:25] xhochy commented on #35169
Points that come to mind having work a bit on that in `fletcher`:

* Arrow's data structures aren't as straightforward as with numpy. There needs to be a decision what the backing `pyarrow` type of the StringArray is.
  * Should it be a `pyarrow.Array` (one continuous block of memory) or a `pyarrow.ChunkedArray` (concatenation is free)
  * Arrow has two strings types: `string` (32bit offsets for s

[2020-07-08 09:02] JohanKahrstrom commented on #34411
Make sure to set the `query` variable first, i.e.

[code]

[2020-07-08 09:29] gwvr commented on #34655
Confirmed. I'd like to read a column containing `t`, `f` & `` as a nullable boolean.
`dtype={'column_name':'boolean'}` does not respect `true_values=['t']`.

I've also tried using a converter to replace `t` with True and `f` with False, but read_csv ignores dtype parameters where a converter is used, so the column is read as an `object` series, rather than a nullable boolean.

For now, my workarou

[2020-07-08 09:47] dlegor commented on #35174
I don't see the inconsistency, just change **"string"** to  **"str"**.

Instead of using this:
[code]

Use this:
[code]

[2020-07-08 10:21] xhochy commented on #35169
Also note that I track the algorithm coverage of the current `pandas` API vs what is implemented in `pyarrow` here: https://github.com/xhochy/fletcher/issues/121

[2020-07-08 10:59] TomAugspurger commented on #35169
That's the simplest way from our end. Are we willing to require arrow to opt into the new string dtype?

Thanks for that list @xhochy, that's extremely valuable. In particular

1. It makes this feel like less of a drop-in replacement for our current string implementation (especially around inplace mutation).
2. We might want to consider implementing a `ListDtype`, based on arrow memory, at the sam

[2020-07-08 11:06] TomAugspurger opened #35176 "ENH: ListDtype / ListArray"
This issue is for adding a ListDtype. This might be useful on it's own, and will be useful for https://github.com/pandas-dev/pandas/issues/35169 when we have string operations that return a List of values per scalar element.

I think the primary points to discuss are around

1. How the `value_type` of the List, the `T` in `List[T]`, should be specified by the user
2. How, if at all, to switch betw

[2020-07-08 11:07] xhochy commented on #35169
Regarding the immutability I posted an explanation on that in https://github.com/pandas-dev/pandas/issues/8640#issuecomment-516801197 if a reader of this thread is unclear why we aren't just making a mutable type here instead.

[2020-07-08 11:08] TomAugspurger commented on #35174
@FlorianWetschoreck this is fixed on master.

@dlegor `str` and `string` give different result dtypes. `str` converts to object right now.

[2020-07-08 11:08] #35174 closed

[2020-07-08 11:10] jorisvandenbossche commented on #35169
@TomAugspurger thanks for getting this discussion started!

I would personally not prefer to tie the use of "string" dtype to the presence of pyarrow. If pyarrow is optional (and I personally prefer to keep it that way for now), I would prefer keeping it optional for the new dtypes as well.

long. So I don't think we want something like pd.PythonStringDtype() as a
way to get the StringArray backed

[2020-07-08 11:14] jorisvandenbossche commented on #35169
As in general with our new nullable dtypes, operations should as much as possible also return nullable dtypes (so eg the nullable boolean dtype). For List that's of course not yet possible.

@xhochy based on that experience, what's your current take on the Array vs ChunkedArray point your raise above?
I think fletcher right now handles this very explicit and uses different EAs/dtypes for both? But

[2020-07-08 11:22] willigott commented on #27672
I do have a similar case for dataframes with a multi-index and the points made by @TomAugspurger and @mbataillou do not apply here, I think. I also asked it [here](https://stackoverflow.com/q/62789981/1534017).

Working:

[code]

will give

[code]

So, the indexes are not monotonic and there are entries that cannot be matched; nevertheless it works fine.

A very similar case, however, fails:

[cod

[2020-07-08 11:47] #34526 closed

[2020-07-08 11:47] #34540 closed

[2020-07-08 11:52] jorisvandenbossche commented on #34663
Again this is something that could be clarified in the docstring, but this behaviour of `copy` is very similar to for example numpy's handling of the `copy` argument on array coercion: eg `np.array(some_obj, copy=False)` doesn't mean that no copy is made, but only means that "a copy is avoided when possible", while `copy=True` means to simply always copy the input.

[2020-07-08 12:05] jorisvandenbossche commented on #34626
On the other hand, it seems nice that reading from a public bucket just works out of the box without needing the pass any option?

[2020-07-08 12:20] jorisvandenbossche commented on #32749
@TomAugspurger see also #33941, #33942

[2020-07-08 12:22] niju1 opened #35177 "BUG: ImportError: cannot import name 'Collection' from 'typing'"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-08 12:24] xhochy commented on #35169
"I have no idea anymore".

From an Arrow standpoint, `ChunkedArray` is more natural as it provides the full flexibility and operation. It is just that chunking makes implementing algorithms on top more complicated. `spatialpandas` thus uses an `Array` as this makes the implementation simpler. Nowadays I lean a bit more towards `Array` as this is simpler for the end-user. But I'm totally undecided

[2020-07-08 12:36] jorisvandenbossche commented on #32330
I don't think there is anything accessor-registry-specific. The registering code basically does

[code]

So the actual check it does for this warning is `hasattr(cls, name)`.

(I find it a bit surprising that python imports the library twice. Or is it because the other import is in a function?)

[2020-07-08 12:40] #35047 closed

[2020-07-08 12:43] #35015 closed

[2020-07-08 12:54] simonjayhawkins commented on #35177
Collection was added in 3.6 https://docs.python.org/3/library/typing.html#typing.Collection

[2020-07-08 13:23] niju1 commented on #35177
I tried using 3.6 and still facing the same issue

Python 3.6.8 (default, Apr  2 2020, 13:34:55)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-39)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ballal/.local/lib/python3.6/site-packages/pandas/__init__.py", line 55, in <module>
    from pa

[2020-07-08 13:24] jorisvandenbossche commented on #33603
I think it would be helpful for the discussion if someone could write up some small examples with the current behaviour and proposed future behaviour with rationale for the change, and how it compares to how it works without string parsing (actual Timedelta objects) / with datetimeindex partial string indexing.
(eg the examples from https://github.com/pandas-dev/pandas/issues/33603#issuecomment-62

[2020-07-08 13:39] sabarirama commented on #34411
Thanks Johan.

[2020-07-08 13:48] jorisvandenbossche commented on #34801
An overview of the other items that each have their own subsections:

* MultiIndex.get_indexer interprets method argument differently (https://github.com/pandas-dev/pandas/pull/30766)
  * **Bug fix?**
* Failed Label-Based Lookups Always Raise KeyError
  * **Changed error**
* Failed Integer Lookups on MultiIndex Raise KeyError
  * **Changed error**
* DataFrame.merge() preserves right frame’s row or

[2020-07-08 14:38] #24382 closed

[2020-07-08 14:46] jorisvandenbossche opened #35178 "ENH: use EA.argmin/argmax in EA._reduce / Series.argmin/argmax"
Follow-up on https://github.com/pandas-dev/pandas/pull/27801: that PR added `ExtensionArray.argmin()/argmax()` methods, but this is not yet used in the equivalent Series methods (through `_reduce`).

When adding this, we will need to decide on the following issues as well:

* API/BUG: Series.argmin/max with all-NaN data returns -1 ? #33941
* API: argmin/argmax behaviour for nullable dtypes with sk

[2020-07-08 14:56] r-toroxel opened #35179 "TST verify inplace ops return None"
test if pandas methods, when called inplace, return None

drop_duplicates https://github.com/pandas-dev/pandas/pull/35121. **merged**
dropna https://github.com/pandas-dev/pandas/pull/35180

[2020-07-08 14:58] r-toroxel commented on #35179
take

[2020-07-08 15:10] TomAugspurger commented on #35178
I have a branch started for this at https://github.com/TomAugspurger/pandas/tree/32749-seriesidxminmax. Ran into the skipna returning -1 issue.

[2020-07-08 15:21] MatthewMoye commented on #34583
For columns with a numeric data type, the count is already displayed excluding NaN entries. With this suggestion, should the describe table also include the count of NaN entries in the same column?

[2020-07-08 15:25] TomAugspurger commented on #35177
Your original traceback points to `usr/lib/python3.4/site-packages/typing.py`. Seems like something strange with your paths.

[2020-07-08 15:35] #23865 closed

[2020-07-08 16:15] #34095 closed

[2020-07-08 16:54] chrispe92 commented on #33920
Good suggestion @TomAugspurger! I'll give this a go and will keep you posted.

[2020-07-08 17:07] thiagodma commented on #11258
Thank you, @ChuliangXiao. Your solution worked for me.

[2020-07-08 17:27] WillAyd commented on #35147
This is on a 32 bit platform right? @arw2019 I think can just change the parametrization to be 2 ** 64 and -(2 ** 64 + 1) instead

[2020-07-08 17:28] WillAyd commented on #35147
Or maybe better just remove the pytest.raises pieces as it isn't really relevant to the previous change you made, rather trying to be "forward-looking" on the next fix

[2020-07-08 17:42] arw2019 commented on #35147
Makes sense to remove this pieces (and in #34984 we test the round-trip when that's fixed)

[2020-07-08 17:42] r-toroxel commented on #35179
https://github.com/pandas-dev/pandas/issues/16529
read in this issue that inplace will be removed from pandas 2.
so I guess going on here would be fruitless?

[2020-07-08 18:49] Trollgeir opened #35185 "BUG: read_sql parse_dates does not allow for "errors" arg"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-08 19:22] jbrockmendel commented on #35176
IIRC numba has a TypedList, could do something like that for the str.split-like ops

[2020-07-08 21:16] rhshadrach commented on #35137
You should view modifying a DataFrame/Series within a `groupby.apply` in the same spirit as modifying a data structure while iterating over it; e.g.:

    values = [1, 2, 3, 4, 5]
    result = 0
    for k, value in enumerate(values):
        result += value
        del values[k]

It may run, but it often does not give the value you expect (`9`, in the above code).

If you need to perform multiple

[2020-07-08 21:19] rhshadrach commented on #35137
Duplicate of #12653

[2020-07-08 21:19] #35137 closed

[2020-07-08 21:38] rhshadrach commented on #35161
Does `df.loc[(1, 'a')]` work for you?

I'm shocked to find that `df.loc[([1],['a'], ['US'])]` successfully gets the first row.

[2020-07-08 21:44] rhshadrach commented on #16529
@Ddedalus - you can type-hint with [@overload](https://docs.python.org/3/library/typing.html#typing.overload)

[2020-07-08 21:46] smithto1 commented on #27075
@jreback This issue can also be closed. It is addressed by the linked Pull Request. (The PR wasn't linked at the time it was merged so this wasn't done automatically.)

[2020-07-08 21:47] #27075 closed

[2020-07-08 21:47] jreback commented on #27075
thanks @smithto1

[2020-07-08 21:50] gabrielNT commented on #32967
take

[2020-07-08 22:03] #34748 closed

[2020-07-09 07:47] taozuoqiao opened #35188 "Possible performance regression in Series.xs() and DataFrame.xs() with MultiIndex."
Performance of `Series.xs()` when getting values at specified index and the **first level** of a large dataset seems to have regressed significantly, after pandas was upgraded to v1.0.5 from v0.25.3.  So is `DataFrame.xs()`.

code:
[code]
outcome
[code]

[2020-07-09 07:52] rhsmits91 opened #35189 "BUG: sorting a MultiIndex with pd.Period does not sort correctly when assigning new values inplace"
This is a problem on pandas 1.0.5:

[code]

#### Problem description

The problem seems to be that adding new periods is giving a wrong ordering of the periods in MultiIndex levels, so that sorting takes the wrong order to sort them.

If I do `s.index.levels[-1]` I can see the levels are ordered wrong - and when I do `s.index.levels.sort_values()` they are ordered correctly. So, it seems like inte

[2020-07-09 08:57] alonme commented on #34801
Not sure how to exactly call this,
This behavior was once noted in the documentation https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.DataFrame.apply.html

and then it was [removed](https://pandas.pydata.org/pandas-docs/version/1.0/reference/api/pandas.DataFrame.apply.html?highlight=apply#pandas.DataFrame.apply), but not actually fixed.

[2020-07-09 09:20] rhsmits91 commented on #35189
I looked further into this and I need to do an explicit `s.index.set_levels(s.index.levels[-1].sort_values(), level=-1, inplace=True)` to get it to work - I feel this is a desired functionality for speed / performance so will close this issue.

[2020-07-09 09:20] #35189 closed

[2020-07-09 09:27] MarcoGorelli commented on #35173
Thanks @roy2006 for the excellent bug report!

[2020-07-09 09:33] simonjayhawkins commented on #34730
@TomAugspurger do the performance regressions need to be addressed before the rc?

[2020-07-09 11:06] simonjayhawkins commented on #35173
Thanks @roy2006 this looks like a duplicate of #33548 so closing. lmk if i'm overlooking something.

[2020-07-09 11:06] #35173 closed

[2020-07-09 11:33] jorisvandenbossche commented on #35169
We discussed this a bit yesterday on the call. Will try to summarize some of the points that were brought up here (based on our notes and my recollection) with some additional background:

* **`Array` vs `ChunkedArray`**
  * Context: pyarrow provides two possible data structures to use under the hood for a column in a DataFrame. `Array` is a single contiguous array, `ChunkedArray` can be seen as a

[2020-07-09 12:49] gimseng commented on #35158
Upon some searching, I realized this is a duplicate. See #34290. So maybe close this.

[2020-07-09 13:03] frd-glovo commented on #35158
Apologies, I didn't find that issue. Yes, let's close this.

[2020-07-09 13:07] erfannariman commented on #25744
@mroeschke which actions are still open for this issue? I see that a test is added and it is fixed on master/

[2020-07-09 13:24] simonjayhawkins commented on #35188
it appears #29840 is responsible for the slowdown here

9dd1b50f2cf70c0ec7de07137b08ae5866afae69 is the first bad commit
commit 9dd1b50f2cf70c0ec7de07137b08ae5866afae69
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Fri Nov 29 15:10:02 2019 -0800

    DEPR: remove FrozenNDarray (#29840)

cc @jbrockmendel

[2020-07-09 13:32] simonjayhawkins commented on #25744
from https://github.com/pandas-dev/pandas/pull/34030#issue-414217855

[2020-07-09 13:36] fabiorangel commented on #35161
When using loc with lists it remains the dataframe structure with the MultiIndex in the return. And I can filter by many items at the same time in the same list.

Same structure in the return:
[code]
[code]
instead of
[code]
[code]
Filtering by many items at one time:
[code]
[code]

The most interesting about this bug is that it works with 3 lists, 1 list, 4 lists... but with 2 lists it raises a K

[2020-07-09 13:42] SayanJerr opened #35191 "ENH: Print and manipulate rows"
#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]

#### Describe the solution you'd like

[this should provide a description of the feature request, e.g. "`DataFrame.foo` should get a new parameter `bar` that [...]", try to write a docstring for the desired feature]

#### API breaking implica

[2020-07-09 13:42] SayanJerr commented on #35191
take

[2020-07-09 13:56] simonjayhawkins commented on #35158
closing as duplicate of #34290

[2020-07-09 13:56] #35158 closed

[2020-07-09 14:46] simonjayhawkins commented on #35161
I'm not sure if this is a bug. to be explicit when partial indexing with list-likes use slice or pd.IndexSlice see https://pandas.pydata.org/docs/user_guide/advanced.html#using-slicers

from the docs

[code]

[2020-07-09 14:47] jorisvandenbossche commented on #34730
Ideally as much as possible, I would say, although we probably won't be able to do all. But we should decide a bit on priority regarding the severity of the regression, I would say (factor of slowdown / importance of functionality).
Eg the PR you link to gives only around 20% speed-up, I think?

We can maybe use the "blocker" tag to indicate which regressions are most critical (I'm already using t

[2020-07-09 15:04] simonjayhawkins commented on #34730
The reason I ask, is that after the rc we could open PRs directly against the 1.1.x branch instead of master and therefore reverting things may be more palatable.

[2020-07-09 15:33] jreback commented on #34730
yes we could do that

[2020-07-09 15:51] toobaz commented on #35169
As a user, this is what has always worried me most, since we started talking about arrow as a backend for strings. But I think asking users to choose between mutability and efficiency would be acceptable - as opposed to (I think) making efficient, non-mutable strings the default and (definitely) entirely replacing the current mutable type with one that isn't.

[2020-07-09 17:18] erfannariman commented on #25744
So we need a test for this? @simonjayhawkins

[2020-07-09 17:18] erfannariman commented on #25744
take

[2020-07-09 17:31] andibb opened #35193 "Python3.6 FreeBSD pip3 install pandas fails with error 1"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-07-09 17:32] andibb commented on #35193
Hi, I am trying to install pandas on a freeBSD jail. I am able to install other packages, except pandas. I copied the error I get.
If you need any further information just leave me a reply

  ERROR: Command errored out with exit status 1:
   command: /usr/local/bin/python3.6 /usr/local/lib/python3.6/site-packages/pip                                                    install --ignore-installed --n

[2020-07-09 17:40] fabiorangel commented on #35161
That is a clever solution. However, assuming it is not a bug, the same behavior should appear in the following code:

[code]
I still think there is something wrong when applying loc with 2 lists in the tupple.

[2020-07-09 17:43] arw2019 commented on #35162
Ok! Sounds like it's a bad idea.

@jorisvandenbossche In the linked PR I'm fixing a problem with `SeriesGroupBy` `transform` where I end up needing the `NaN` category:
[code]
and in the source code we get the categories by calling `Categorical` on the grouper. It's a small addition in that PR - but I thought I'd check in in case it made sense to work up something more generic for `Categorical`.

A

[2020-07-09 18:17] simonjayhawkins commented on #35161
because of the way the getitem operator, i.e. square brackets works in Python, the key is always a tuple when comma seperated values are passed.

[code]

so `df.loc[([1,2], ['a'])]` is equivalent to `df.loc[[1,2], ['a']]`

[code]

so the indexing becomes ambiguous. Should the second value be the column indexer or index on the second level of a multiIndex?

Hence the need to be explicit in the ambi

[2020-07-09 18:36] simonjayhawkins commented on #35161
[code]

[2020-07-09 18:52] fabiorangel commented on #35161
Thank you @simonjayhawkins ! That solves the question for me.

[2020-07-09 18:53] #35161 closed

[2020-07-09 19:18] tdpetrou opened #35194 "BUG: Adding two DataFrames together with duplicate column names in one results in infinite loop"
#### Code Sample, a copy-pastable example

[code]

<img width="191" alt="Screen Shot 2020-07-09 at 3 15 10 PM" src="https://user-images.githubusercontent.com/7226751/87081253-01d46100-c1f7-11ea-9767-5265010c62f7.png">

Adding them together never completes (infinite loop?)

[code]

#### Problem description

When adding two DataFrame where one has duplicate column names and the other has one (or mor

[2020-07-09 19:25] simonjayhawkins commented on #35194
Thanks @tdpetrou for the report.

I can confirm this issue still exists on master. This looks like a regression from 0.25.3

[code]

[2020-07-09 20:48] simonjayhawkins commented on #35194
it appears that this issue was introduced in #31679

f4dc9f9028a3da539126f9a8a37e7c41fc7b4b3c is the first bad commit
commit f4dc9f9028a3da539126f9a8a37e7c41fc7b4b3c
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue Feb 18 16:26:27 2020 -0800

    REGR: fix op(frame, frame2) with reindex (#31679)

cc @jbrockmendel

[2020-07-09 21:16] jbrockmendel opened #35197 "API: make DTA/DTI == string behavior match DTI.get_loc partial-string-matching?"
In most cases, there is a relationship between `index.get_loc` and `index.__eq__`.  `index.get_loc(key)` roughly matches `(index == key).nonzero()`

`DatetimeIndex.get_loc` has special treatment for strings that we could extend to DatetimeIndex (and DatetimeArray) `__eq__`.

[code]

Under this proposal, the last comparison here would give `array([True, True, True, True, False, False, False, False,

[2020-07-09 22:05] #35179 closed

[2020-07-09 22:08] #33919 closed

[2020-07-09 23:13] rjboczar opened #35200 "Strange dtype behavior for numeric strings when using to_csv and read_csv"
Version 0.25.2

The following code writes out a column containing strings of the numerals 0 to N-1 plus a string 'None', and then reads it back in.
[code]
However, the output is
[code]
_Only_ at the N=1000000 case, the values read back in get cast to a mix of int and string, and a warning is thrown

[code]

[2020-07-09 23:24] #35200 closed

[2020-07-09 23:24] rjboczar commented on #35200
Read more about `low_memory` flag.

[2020-07-09 23:29] ssche opened #35202 "BUG: `len(df.groupby(..., dropna=False))` raises ValueError: Categorical categories cannot be null"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.
(only in current master; dropna=False didn't exist previously)

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When using groupby with the op

[2020-07-09 23:34] #17440 closed

[2020-07-09 23:41] #34779 closed

[2020-07-09 23:55] CloseChoice opened #35203 "BUG: indexing with -1 doesn't work anymore in expanding function"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-09 23:58] Akshaysehgal2005 commented on #35203
Same error, pandas version 1.0.3 and 1.0.5, just to add, x[1], x[2] ... etc all give keyerror, except x[0]

[2020-07-10 00:08] #34256 closed

[2020-07-10 01:07] VirosaLi commented on #26485
Seem like it has been fixed right now for bottleneck 1.3.2. The output for the above example:

[code]

[2020-07-10 02:21] jaydu1 opened #35204 "QST: value assignment by using '.loc' with boolean and label indexing"
- [Yes] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [No] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

To assign values from one column of a dataframe to another column with boolean and label indexing, I found the following code works. But I

[2020-07-10 02:23] jreback commented on #26485
great

[2020-07-10 02:23] #26485 closed

[2020-07-10 04:55] eggers commented on #35005
@TomAugspurger

That makes sense about column names needing to match for `DataFrame.fillna(DataFrame)`. For example this does work:

[code]

So the question is what `DataFrame.fillna(Series)` should result in.

My contention is that `DataFrame.fillna(Series)` should be to `DataFrame.fillna(value)` what `series.fillna(Series)` is to `Series.fillna(value)` That's what the documentation (which is ide

[2020-07-10 05:24] mroeschke commented on #35191
If you could fill out the issue template, it may help us better understand your proposed enhancement request. Going to close this issue for now, but feel free to open another one with more detail.

[2020-07-10 05:24] #35191 closed

[2020-07-10 06:02] tomaszps commented on #35204
This fits into the standard usage of loc as far as I understand.
`df['B'] == 1` gives a boolean array of the same length as B
'A' is just a column label
So, following the docs [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) you should expect the assignment to happen on column A, wherever df['B'] == 1 is true. Which is exactly what happens.

`# df.loc[df

[2020-07-10 06:18] jorisvandenbossche commented on #35197
In general, I think `==` should mean equality, and not a partial match. So IMO this would be confusing/unexpected. If we think such a partial match functionality is useful, I would rather add a new method for it specific to datetimes.

[2020-07-10 06:21] jorisvandenbossche commented on #35202
@ssche thanks for the report!
(cc @charlesdong1991)

[2020-07-10 06:25] MartinThoma opened #35206 "DOC: s3fs is required when using `read_csv` with an S3 URI"
#### Location of the documentation

[pandas.read_csv](https://dev.pandas.io/docs/reference/api/pandas.read_csv.html)

#### Documentation problem

I've just noticed that `s3fs` is required when you read an URL from s3. While it is documented that you can read from S3, the implication that you need to install an extra is not documented.

Also, it would be nice if this was a pandas extra in setup.py

[2020-07-10 07:33] zky001 commented on #35203
You are absolutely right，I think we can change this function

[2020-07-10 07:33] zky001 commented on #35203
You are absolutely right，I think we can change this function

[2020-07-10 07:39] charlesdong1991 commented on #35202
take

[2020-07-10 08:53] AlexKirko commented on #35203
This works:

[code]

What it means, I think, is that when we generate the cython function to apply in `rolling.py` and pass it an `ndarray` of values (I checked the type), expanding slices stop being an `ndarray` during execution, probably for optimisation purposes, and indexing doesn't work as expected. This behavior can be easily overriden by forcing a cast in the lambda function.

Is this somet

[2020-07-10 09:19] xhochy commented on #35176
One of the biggest challenges with a ListType is probably how to differentiate between scalars and list-likes in the pandas API. There are quite some places where you can pass in both and the API behaviour will be slightly different. In the case of a ListDtype, the scalar is also a list-like. This makes it harder to decide which code path should be taken. We probably can use the Type-Information t

[2020-07-10 09:37] miguelfdag opened #35209 "ArrowIOError: Invalid parquet file. Corrupt footer. When modifying files in S3 (Bump s3fs to 0.4.2)"
When loading a file that has been modified in S3 directly with pd.read_parquet() from **another terminal**, we get the  ArrowIOError: Invalid parquet file. Corrupt footer. Error.

The code to replicate this error is:
[code]

Then upload a modified DataFrame with the same name from another terminal:

[code]

And after trying to read it again from the first one:
[code]

We get an error:
[code]

The

[2020-07-10 09:40] xhochy commented on #35169
As this will probably need more than the string algorithms that are exposed by the `str` accessor (covered by [ARROW-555](https://issues.apache.org/jira/browse/ARROW-555)), I have setup an umbrella issue on the Arrow side for the remaining parts: [ARROW-9401](https://issues.apache.org/jira/browse/ARROW-9401)

I plan to start a PR with the basic scaffolding for the data type next week.

[2020-07-10 10:07] jorisvandenbossche commented on #35176
Yes, this is indeed a general problem we need to solve in pandas. We also have been running into this with GeoPandas (eg #26333) and you also already run into corner cases when using iterable elements in object dtype. Other related issues: https://github.com/pandas-dev/pandas/issues/27911, https://github.com/pandas-dev/pandas/issues/35131

We will probably need some mechanism to let the dtype deci

[2020-07-10 10:11] jorisvandenbossche commented on #35176
For storing list-like data, I think that will be relatively straightfoward (either just with pyarrow, or even the raw memory layout of Arrow are "just" two arrays with values and offsets).

But right now there are not yet many operations or kernels included in Arrow to work on nested data, I think. In the meantime, `awkward-array` might be an interesting option to explore to perform more operation

[2020-07-10 10:17] jorisvandenbossche commented on #35206
The user guide mentions it: https://pandas.pydata.org/docs/user_guide/io.html#reading-remote-files, and the install guide as well: https://pandas.pydata.org/docs/getting_started/install.html#optional-dependencies

I think it would probably be too much to list all optional dependencies in the read_csv docstring as well (S3 is one, but eg Azure or Google Cloud need other optional deps), but we shoul

[2020-07-10 11:25] jeroenbrouwer opened #35211 "BUG: in read_excel for mangled columns only the original/first column dtype is correct, col.N is not parsed correctly"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

This requires setting up an excel file. Reproducible by setting 2 columns with equal headers like `a` and a  row with values `1

[2020-07-10 11:42] simonjayhawkins commented on #35211
Thanks @jeroenbrouwer for the report. without looking at the code, the coercion is probably being applied after the name mangling otherwise I would expected the following to raise

[code]

further investigation and PRs welcome.

[2020-07-10 12:13] #35048 closed

[2020-07-10 13:35] gimseng commented on #35135
From a subset of your date:

[code]

One gets:

[code]

[2020-07-10 13:54] #31783 closed

[2020-07-10 13:56] jreback commented on #32266
fixed by #33693 in 1.0.4 i think

[2020-07-10 13:56] #32266 closed

[2020-07-10 14:14] MartinThoma commented on #35206
I wasn't aware that there are even more 😱

Sounds good! Should I make a PR?

[2020-07-10 15:25] simonjayhawkins commented on #35204
Thanks @jaydu1 for the question. closing as answered by @tomaszps

to assign values from a NumPy array matching the length of the DataFrame without adding as a column you could use the Series.where method.

[code]
although note that the dtype of column A remains int in this case, whereas in the example given, it is cast to float.

[2020-07-10 15:25] #35204 closed

[2020-07-10 15:28] mdering opened #35215 "BUG: memory spike in DatetimeIndex after .loc based assignment"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-10 15:38] simonjayhawkins commented on #34472
we had a discussion about Python version support in #28415, so if doing this we need to update the version policy https://pandas.pydata.org/docs/development/policies.html#python-support

[2020-07-10 15:46] #35203 closed

[2020-07-10 16:13] jreback commented on #35135
these are numerical precision issues

[2020-07-10 18:04] galipremsagar opened #35217 "BUG: Inconsistent behavior in Index.difference"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

`Index.difference` seems to be treating float vs object / int vs object differently.

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Index.di

[2020-07-10 18:16] galipremsagar commented on #35217
After going through code this looks like an issue with `Index.equals`:

[code]

[2020-07-10 18:31] joooeey opened #35218 "BUG: test_inference.py raises stack overflowerror"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-10 18:53] Flix6x opened #35219 "BUG: resampling error when date_range includes a single DST"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In my first example, resampling from an offset of 1 day to an offset of 24 hours works as exp

[2020-07-10 19:16] #26513 closed

[2020-07-10 19:33] #20359 closed

[2020-07-10 19:49] njdepsky commented on #29481
This is a frustrating shortcoming of the groupby.sum() function. But since the mean is just the sum of values divided by the number of values, one alternative is to just multiply the groupby.mean() result with the groupby.count() result.

The mean() returns NaN when all values in group are NaN and count() returns '0' when all values are NaN, and 0*np.nan returns NaN.

[2020-07-10 22:46] #35109 closed

[2020-07-11 02:07] jreback opened #35226 "REF: Dataframe.__init__"
in #34875 several checks were added to the main Dataframe construction to handle extension arrays, in particular extension scalars

this introduced multiple checks like

if is_extensions_drype(,,):
   ...
else:
   ...

these should be refactored and pushed down to more understandable functions

this construction is now so complicated that bugs are certain to happen

[2020-07-11 02:26] ben-arnao opened #35227 "BUG: ValueError: Cannot convert non-finite values (NA or inf) to integer only when DF exceed certain size"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-11 06:07] MatthewMoye commented on #34205
take

[2020-07-11 09:34] simonjayhawkins commented on #34205
so for api consistency we may also want to add a `keep='last'` option and also add it to argmax/argmin

[2020-07-11 11:35] chrispe92 commented on #33920
I applied the suggested changes and it seems to significantly improve the performance. Here are the stats:
[code]

The tests also seem to pass fine. If you agree I will continue with a PR including your suggested solution @TomAugspurger.

[2020-07-11 12:22] jreback commented on #33920
yep would taken PR

[2020-07-11 14:32] avinashpancham commented on #22609
take

[2020-07-11 15:21] jorisvandenbossche commented on #35227
@ben-arnao could you provide a reproducible example? (see eg https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2020-07-11 15:54] WillAyd commented on #35193
Unless I am misreading the traceback it looks like your issue is installing numpy from source. With that the case you should probably check StackOverflow for that and if no luck try opening an issue on their Github

[2020-07-11 15:54] #35193 closed

[2020-07-11 16:55] ben-arnao commented on #35227
@jorisvandenbossche

Please see below

[code]

[2020-07-11 17:16] mathurk1 commented on #23305
It looks like the issue is only partially fixed. The dtypes get changed when we use a dictionary to replace values.

[code]

[2020-07-11 17:24] avinashpancham commented on #20676
take

[2020-07-11 17:53] avinashpancham commented on #22606
@gusostow are you still planning to work on this?

[2020-07-11 18:21] avinashpancham commented on #26367
take

[2020-07-11 18:22] jorisvandenbossche opened #35238 "REGR: concat on index with duplicate labels fails"
Noticed from failing geopandas tests:

[code]

this started failing recently on master:

[code]

While the expected result is (with automatic reindex of `df1` because concat aligns on the index):

[code]

[2020-07-11 18:50] jorisvandenbossche commented on #35206
Yes, PR very welcome!

[2020-07-11 18:52] jorisvandenbossche commented on #35238
It seems this is caused by https://github.com/pandas-dev/pandas/pull/35098 (cc @AlexKirko)

[2020-07-11 19:23] simonjayhawkins commented on #35238
it appears `result.union(other)` and `result.union(other, sort=False)` do not return the same Index.

[code]

[2020-07-11 19:36] simonjayhawkins commented on #35238
maybe related #31326

[2020-07-11 19:56] jorisvandenbossche commented on #33457
@jreback please don't move issues from the 1.1 that other people have labeled as "blocker" without discussing it (or at least commenting about it that you changed it, changing a milestone doesn't give a notification)

[2020-07-11 20:04] simonjayhawkins commented on #35238
it appears this is a long-standing issue #13432, maybe better to revert #35098 for 1.1

[2020-07-11 20:14] jreback commented on #33457
@jorisvandenbossche this release is way behind if u want to move to 1.1.1 pls do
but we are moving forward and releasing the rc

[2020-07-11 20:15] jreback commented on #33457
there are way too many blockers that don’t have PRs if you want to put some up great
but if they don’t have anything now then they rn it blockers at all

[2020-07-11 21:48] andibb commented on #35193
Thank you for helping me out. I will give it a try next week.

William Ayd <notifications@github.com> schrieb am Sa., 11. Juli 2020, 17:54:

[2020-07-11 22:30] Foxly-beep opened #35240 "QST: Concat doesn't work - 'NoneType' object has no attribute 'is_extension'"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

Hi,
I have a persistent problem with concatenating multiple DataFrames with shapes:

1. (48, 5674)
2. (48, 9022)
3. (48, 7340),
4. (47, 6539)

[2020-07-11 22:43] jreback commented on #35240
pls make a reproducible example

[2020-07-11 23:21] Foxly-beep commented on #35240
Hi @jreback ,
I have tried all kinds of smaller examples, but unfortunately I could never reproduce the error....
I also tried to save the calculations as *.pkl.
 However, after loading these are correctly concatenated without any problems...

[2020-07-11 23:31] jreback commented on #35240
if you don't have a reproducible example then this issue will be closed

[2020-07-11 23:53] Foxly-beep commented on #35240
Unfortunately I cannot find one at the moment.

[2020-07-12 01:21] rchurt commented on #16187
For anyone coming across this later, the correct way to do this is:
[code]

[2020-07-12 05:08] salem3358 opened #35246 "BUG: AttributeError when doing groupby with as_index=False on Empty DataFrame"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-12 05:22] neilZon commented on #35246
I'd be interested in looking into this

[2020-07-12 06:14] semio opened #35247 "PERF: DataFrame.query slow when it contains PeriodIndex/Array"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In above example, the `year` column of `df2` is a Series of Period objects.  Running query() on th

[2020-07-12 07:02] alonme commented on #34506
Per https://github.com/pandas-dev/pandas/pull/34913, and comments on that issue, i think we can close this issue.

[2020-07-12 07:49] jorisvandenbossche commented on #35246
@neilZon that's certainly welcome! (and @salem3358 thanks for the report)

[2020-07-12 07:52] jorisvandenbossche commented on #35240
@Foxly-beep you might already have done this, but what I would try: starting from your original data that gives the error, try to reduce the number of rows / columns stepwise, and see at which point it no longer fails (that point might also be interesting: is it a certain number of rows/columns that triggers the error, or did you remove a certain kind (eg dtype) of rows/columns in that step, ...)

[2020-07-12 08:46] luckyvs1 commented on #25257
@SurajH1 are you still working on this issue?

[2020-07-12 08:47] luckyvs1 commented on #32409
@rivera-fernando are you still working on this issue?

[2020-07-12 09:00] simonjayhawkins commented on #35246
the exception here is being raised by code added in #31777 i.e. 1.0.2

however, before this change, the example was still failing

[code]

cc @MarcoGorelli

[2020-07-12 09:49] simonjayhawkins commented on #35246
#28203 is the cause of the regression from 0.25.3

bfdbebec423d781ebde189de24f5413298ab7c81 is the first bad commit
commit bfdbebec423d781ebde189de24f5413298ab7c81
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Fri Aug 30 11:43:48 2019 -0700

    CLN: catch less inside try/except (#28203)

cc @jbrockmendel

[2020-07-12 10:05] Foxly-beep commented on #35240
@jorisvandenbossche Thank you very much. I found the mistake.
Here is an example:

[code]
using the method I posted above.
Thank you very much!

[2020-07-12 10:25] Foxly-beep commented on #35240
The error can be eliminated by setting drop=True at reset_index().

[2020-07-12 10:52] Flix6x opened #35248 "BUG: Resampling a Series with a DST to 24 hours gives a different result depending on whether timedelta(hours=24) or "24H" was used."
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Resampling to a timedelta of 24 hours gives a result as if it's resampling to a timedelta of

[2020-07-12 11:20] simonjayhawkins commented on #35248
from https://docs.python.org/3/library/datetime.html#timedelta-objects

so timedelta(hours=24) is equivalent to timedelta(days=1)

[code]
and gives the same result as `resample("1D")`

[code]

[2020-07-12 11:45] TomAugspurger commented on #26367
This is tested at https://github.com/pandas-dev/pandas/blob/37662ea387e17a4aca1f83445daeea977e145a9b/ci/code_checks.sh#L252.

[2020-07-12 11:45] #26367 closed

[2020-07-12 12:26] rhshadrach commented on #15290
I think too much is attempted being done within one line.

[code]

This also has the benefit of not using `apply`, I think it will be more performant but I haven't tested this.

I think this issue can be closed.

[2020-07-12 12:31] rhshadrach commented on #8662
Closing in favor of #12653

[2020-07-12 12:31] #8662 closed

[2020-07-12 15:54] TomAugspurger opened #35249 "Performance Regression in frame_methods.Equals.time_frame_float_equal"
https://pandas.pydata.org/speed/pandas/index.html#frame_methods.Equals.time_frame_float_equal?commits=77f4a4d673e2d2b3f7396a94818771d332bd913c

Some discussion starting at https://github.com/pandas-dev/pandas/pull/34962#issuecomment-655456601

@jbrockmendel what needs to be done for 1.1, just optimize `array_equivalent` or something larger? Is this a blocker (if so can you  add the blocker tag)?

[2020-07-12 19:54] alimcmaster1 commented on #35209
Thanks for the report. Just tried with pyarrow 0.17.1 - can't reproduce. Can you try?

[2020-07-12 20:07] jbrockmendel commented on #35249
Looks like optimizing array_equivalent for the floating case gets a 3x speedup.  we'll need to operate blockwise to get the rest back.

[2020-07-12 20:43] TomAugspurger opened #35251 "Inconsistent NA handling for BinGrouper and Grouper"
BinGrouper and Grouper handle NA values differently when looking at the codes.

[code]

With https://github.com/pandas-dev/pandas/pull/34998, this can cause a false positive on the apply `group_index` warning if you have an all NA group.

xref https://github.com/pandas-dev/pandas/pull/34998#issuecomment-652497050.

[2020-07-12 20:57] Flix6x commented on #35248
Thanks, that explains it. To me then the interpretation of a `datetime.timedelta(days=1)`, or equivalently a `datetime.timedelta(hours=24)` as a calendar day seems odd. If a `datetime.timedelta` day is defined as 24 hours long, shouldn't it be interpreted as such?

[2020-07-12 21:24] alimcmaster1 opened #35252 "CI: warning from setuptools (Numpy Dev Build Failures)"
[code]

e.g : https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=39110&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=4d05ed0e-1ed3-5bff-dd63-1e957f2766a9&l=195

[2020-07-12 22:08] mahaoyu commented on #26859
take

[2020-07-13 00:01] MatthewMoye commented on #34205
#35257

[2020-07-13 00:02] MatthewMoye commented on #34205
Should any tests be written for this?

[2020-07-13 01:47] mroeschke commented on #35248
Yeah this could be better documented. in the user docs. This has been the behavior for a while and probably unlikely to change. xref https://github.com/pandas-dev/pandas/issues/22864

[2020-07-13 05:03] oleksiyskononenko commented on #35126
This also looks wrong (`15` doesn't fall into the `(15.0, 35.568]` bin)

[code]

[2020-07-13 08:23] jorisvandenbossche commented on #34841
I *think* this should be solved now by #34266 ?

[2020-07-13 09:46] jorisvandenbossche commented on #35240
@Foxly-beep thanks, I can reproduce that now. Looking into the dataframes in question, I think it is cuased by one of the words also being "index", and thus leading to a duplicate column (and this is then apparently a buggy case).

From that observation, trying to create a smaller, pandas-only reproducible example:

[code]

[2020-07-13 09:52] charlesdong1991 commented on #34205
@MatthewMoye yep, tests are the first thing for PRs (especially for new feature implementation), and i don't think maintainers are gonna review if there is no tests in the PR.

[2020-07-13 09:55] jorisvandenbossche commented on #35240
Even a bit more simple example (without the object column in between):

[code]

also raises "AttributeError: 'NoneType' object has no attribute 'is_extension'"

With some other alignment (eg df2 now doesn't have a new C columns but existing B), you can also get a different error:

[code]

which gives "ValueError: Plan shapes are not aligned"

[2020-07-13 10:12] Foxly-beep commented on #35240
@jorisvandenbossche  thank you! Yeah, the double slit thing makes sense. Thanks!

[2020-07-13 10:22] xhochy commented on #35169
Quite early but if someone wants to follow progress, I opened a draft PR: https://github.com/pandas-dev/pandas/pull/35259

[2020-07-13 11:44] jorisvandenbossche commented on #34809
@quasiben thanks for the input! One question about your example: so even with a non-equal index, you preserve the original order of the input dataframe. But *when* do you do this? If the shape of input/output of the applied function is the same? What happens if the shape is not the same, eg when the applied function is like `def h(x): return x.head(2)` (assuming there are groups larger than 2 rows

[2020-07-13 12:08] TomAugspurger commented on #35252
To reproduce

[code]

That's with setuptools 49.2.0.

I think this is because pandas uses `distutils.version` to parse the versions of optional dependencies. It's probably a good idea to not import distutils at the top level (it does more than we need) but I don't know of a better way off the top of my head (vendoring `packinging.version.parse`?).

But for now let's just fix CI by silencing that w

[2020-07-13 12:16] TomAugspurger commented on #35252
Right now I think the two longer-term solutions are to either

1. Filter warnings in `show_versions` (perhaps just the one coming from setuptools)
2. Vendor `packaging.version`

If we go the vendoring route, we'd need

- https://github.com/pypa/packaging/blob/master/packaging/_structures.py
- https://github.com/pypa/packaging/blob/master/packaging/version.py

[2020-07-13 12:27] jreback commented on #34730
@pandas-dev/pandas-core please do not put any more PRs / issue on 1.1. let's focus on merging these. On a case-by-case can add but do not do by default.

[2020-07-13 12:36] jorisvandenbossche commented on #22994
@TomAugspurger I think this can be closed now (with #33607 for the actual protocol method, and some of the follow-up issue to ensure it is used)

[2020-07-13 12:50] TomAugspurger commented on #22994
Thanks!

[2020-07-13 12:50] #22994 closed

[2020-07-13 12:55] #25257 closed

[2020-07-13 13:05] TomAugspurger commented on #35247
Do you have a solution in mind? I think that `query` sends ndarrays to numexper. But a PeriodArray can't be represented natively as an ndarray, since NumPy doesn't have a period dtype.

[2020-07-13 13:08] hmate9 commented on #32266
Confirmed fixed in 1.0.4

[2020-07-13 13:15] jorisvandenbossche commented on #34809
cc @fjetter (not sure if you were actually notified of follow-up discussions after your PR, see also https://github.com/pandas-dev/pandas/pull/34998)

[2020-07-13 13:33] TomAugspurger opened #35261 "Failures with pytest 6.0.0rc1"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=39140&view=logs&j=a3a13ea8-7cf0-5bdb-71bb-6ac8830ae35c&t=add65f64-6c25-5783-8fd6-d9aa1b63d9d4

[code]

In the failing cases we dynamically add a an xfail marker: https://github.com/pandas-dev/pandas/blob/f477a0e8146e3f249d2a5c08031020c15c1ecd95/pandas/tests/test_strings.py#L266-L268. Reported at https://github.com/pytest-dev/pytest/iss

[2020-07-13 13:33] TomAugspurger opened #35262 "Failures with pytest 6.0.0rc1"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=39140&view=logs&j=a3a13ea8-7cf0-5bdb-71bb-6ac8830ae35c&t=add65f64-6c25-5783-8fd6-d9aa1b63d9d4

[code]

In the failing cases we dynamically add a an xfail marker: https://github.com/pandas-dev/pandas/blob/f477a0e8146e3f249d2a5c08031020c15c1ecd95/pandas/tests/test_strings.py#L266-L268. Reported at https://github.com/pytest-dev/pytest/iss

[2020-07-13 13:39] #35262 closed

[2020-07-13 13:51] jorisvandenbossche commented on #35252
if it is only to avoid a warning in `show_versions`, vendoring might be a bit "overkill" ?

Also, if distutils is discouraged like that, it's a bit a pitty there is no better (stdlib) solution for parsing versions.

The setuptools issue where it was introduced: https://github.com/pypa/setuptools/issues/2230

[2020-07-13 14:04] TomAugspurger commented on #35169
Thanks for all the discussion here.

Agreed with this. I think that the downsides of the Arrow implementation (fundamental: mutability, temporary: not all algos implemented) means that we'll want to keep the current `string` implementation around at least for some time. And given the choice of `object`, object-backed `string`, Arrow-backed `string`, I'd get rid of the `object` dtype implementation

[2020-07-13 14:11] TomAugspurger commented on #35252
Agreed. Seems like the thing that should be built in :/

Probably. In theory this makes using pandas & setuptools together a bit fragile, but perhaps we just wait for complaints?

[2020-07-13 14:34] TomAugspurger commented on #35261
Seems like that failure was a bug in the RC that's being addressed.

There's a second issue with typing. I think pytest 6.x added type annotations

https://github.com/pandas-dev/pandas/pull/35260/checks?check_run_id=865426177

<details>

[code]

</details>

cc @simonjayhawkins if you have suggestions for how to proceed on any of those.

[2020-07-13 15:10] TomAugspurger commented on #33457
Things that are labeled as regressions / blockers need to be discussed. I personally rely on milestones to track what needs to be closed out before the release.

w.r.t. this specific issue, I think I'm OK with releasing the RC without it.

[2020-07-13 15:25] jreback commented on #33457
maybe so, but these need to be done ASAP. we cannot keep delaying things. so either remove the blocker or put a comment on WHY this is a blocker AND WHY it needs to be fixed for 1.1 Just because something is a regression does not mean it absolutely needs fixing for 1.1, there is 1.1.x of course, and blocking the entire release is silly. . @pandas-dev/pandas-core

[2020-07-13 15:25] jreback commented on #33457
if there is NO PR up for an issue I will remove the blocker labels this wednesday.

[2020-07-13 15:38] TomAugspurger commented on #33457
@jreback can you comment on the issues when you're removing them?

[2020-07-13 15:41] jreback commented on #33457
sure

[2020-07-13 15:43] raholler opened #35263 "nan + nan = 0 when skipna=True or when groupby().sum()"
**Disclaimer**: Not sure whether this is expected behavior. I would have not expected it though and it is always bad in my use cases (survey data).

Example:
[code]

**Normal sum**
[code]

Expected output:
[code]

Output:

[code]

**Groupby sum**
[code]

Expected output:
[code]

Output
[code]

[2020-07-13 15:59] jorisvandenbossche commented on #35263
See the explanation of the `min_count` argument of `sum`: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html?highlight=min_count (this is for DataFrame, but the same is true for groupby's sum)

So, although sometimes surprising depending on your use case, this is the expected behaviour, and can be configured with the `min_count` keyword.

[2020-07-13 16:04] TomAugspurger commented on #34801
I think the docs made it clear that that was an implementation detail that could change. Let's call it a bugfix.

[2020-07-13 16:36] #20676 closed

[2020-07-13 16:52] Uvatha opened #35264 "DOC:"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.match.html

#### Documentation problem

The current method description is:

"Determine if each string matches a regular expression."

This description does not specify that this str.match only matches the beginning of a string.  This leads to confusion when regex does not function as ex

[2020-07-13 17:38] jolespin opened #35265 "ENH: Add `into` argument for `to_xarray` method?"
#### Is your feature request related to a problem?

I would like to able to specify the object used for creating `xarray` objects.

#### Describe the solution you'd like
Right now, the only option is `xr.Dataset` but I tend to prefer `xr.DataArray` objects.

#### API breaking implications

It shouldn't affect the API in any complicated ways.

#### Describe alternatives you've considered

Create a

[2020-07-13 18:20] TomAugspurger commented on #35265
This would only work for homogenous dataframes, correct?

cc @shoyer and @max-sixty if either of you have thoughts.

[2020-07-13 18:29] jolespin commented on #35265
By homogenous, do you mean all the same dtype? If so, I am not sure but for the data I've been working with lately they are all floats (nan too).

[2020-07-13 18:38] TomAugspurger commented on #35265
Yeah, homogenous means all columns have the same dtype. A DataArray can only hold a single dtype, so if you have a mix of datatypes storing it in a DataArray wouldn't be an option (short of casting to a common dtype, like object).

[2020-07-13 18:47] jolespin commented on #35265
What about a check like this?

[code]

[2020-07-13 19:33] #35263 closed

[2020-07-13 19:50] alimcmaster1 commented on #35252
Does using `packaging` vs `distutils` help here? `packaging` is vendor'ed into setuptools ref: https://github.com/pypa/setuptools/tree/master/pkg_resources/_vendor/packaging

and think we can use `packaging.version.parse` ? I might be missing/oversimplifying things?

[2020-07-13 19:55] jorisvandenbossche commented on #35252
setuptools is not a runtime dependency (only an install dependency), so that does not directly help (except if we make packaging or setuptools a runtime dependency, but IMO I wouldn't do that just for the version checks)

[2020-07-13 20:12] rhshadrach commented on #10694
I currently get `ValueError: attempt to get argmax of an empty sequence` on master, which is at least a more sensible error message.

The only value that seems to make sense for output in the case of a missing category `np.nan`. This has the unfortunate side-effect of making the result `float64`, which is almost always the wrong result when one wants to use an index.

[2020-07-13 20:20] vetedde commented on #32073
take

[2020-07-13 20:58] Charis111 commented on #17275
"column " and "column"

are two different things ,the first has  a space in front. SO SIMPLY ADD SPACE WHERE SPACE IS

Eg:
df["column "] worked for me

[2020-07-13 21:29] avinashpancham opened #35267 "BUG: Series.equals fails when comparing numpy arrays to scalars"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-13 21:38] avinashpancham commented on #35267
If we decide to go ahead and fix this bug then I would like to contribute. I'm still a beginner, so if someone can point me in the right direction it would be very helpful!

[2020-07-13 22:22] #34951 closed

[2020-07-13 22:27] shoyer commented on #35265
You can always use `xr.DataArray(df)` or `df.pipe(xr.DataArray)` (if you want method chaining) for this sort of conversion. I don't see a strong need to make `to_xarray()` more complicated to support this.

[2020-07-14 00:57] TomAugspurger commented on #35265
Thanks Stephan, I think that aligns with my thoughts.

Thanks for the proposal @jolespin, but we'll pass.

[2020-07-14 00:57] #35265 closed

[2020-07-14 01:45] mathurk1 opened #35268 "BUG: pd.replace changes category dtype to object when using a dict to replace values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-14 05:19] Rufflewind opened #35269 "BUG: merge_ordered fails when left_by is set to more than one column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-14 11:17] simonjayhawkins commented on #35261
xref https://github.com/pytest-dev/pytest/issues/7494 and https://github.com/pytest-dev/pytest/issues/7495

[2020-07-14 14:12] valkum opened #35275 "BUG: agg on groups with different sizes fails with out of bounds IndexError"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
See here as well: https://repl.it/@valkum/WrithingNotablePascal
[code]

#### Problem description

agg fails with `IndexError: in

[2020-07-14 14:20] valkum commented on #35275
It seems that `sampled=df.reset_index().groupby('team').resample("1D", on='date')` fixes the issue, but I am not sure if this would still be considered a bug.

[2020-07-14 14:47] evanascence27 commented on #25349
Hey! Had been having the same problem since weeks. Couldn't find a solution that worked until I found this. Thank you for explaining it so well!

[2020-07-14 15:32] Dr-Irv commented on #35267
@avinashpancham can you put a better title on this issue?

[2020-07-14 15:33] Dr-Irv commented on #35264
@Uvatha Can you please put a more descriptive title on this issue?

[2020-07-14 15:37] avinashpancham commented on #35267
Sorry, saw that I forgot to edit the title. Updated it.

[2020-07-14 17:07] jreback opened #35276 "DOC: remove Bug Fix / Other section in whatsnew in favor of correct placement of issues"
*very* few of the current whatsnew notes in Bug Fixes / Other actually belong. Should move everything out.

[2020-07-14 17:08] #20647 closed

[2020-07-14 17:48] mixmixmix commented on #11503
IMHO this issue should be re-opened. I can see one solution is that  `read_excel` could fall back on `read_table` if it errors. Alternatively `read_table` should be suggested in docs for `xls` files and a helpful note added if `xlrd` throws an error.

[2020-07-14 18:20] kevomaco commented on #30999
Hi,
  I'm a new developer to the project and I'd like to help with this.  Which of the remaining tests are best for a beginner?

Thanks,
Kevin

[2020-07-14 18:48] jolespin commented on #35265
No worries, thanks for considering it.  `xr.DataArray(df)` should do the trick.

Are `xr.Datasets` typically preferred over `xr.DataArray` objects even for homogenous data?

[2020-07-14 19:02] MarcoGorelli commented on #30999
Welcome - I don't think any of these are any easier or harder than any others, any would be a good place to start

[2020-07-14 19:17] TomAugspurger commented on #34730
What are people thoughts with releasing 1.1.0.rc0 soonish (say Thursday or Friday), which will include known regressions, with a soft plan to release 1.1.0.rc1 with the regressions fixed next week (assuming they're fixed by then)? That gets the release rolling, but gives us a bit of time to wrap things up.

And if the regression fixes are deemed small enough, and there aren't any major reports wit

[2020-07-14 19:22] WillAyd commented on #34730
I am ok with it though I won’t be available starting Thursday for a few days to help - I signed up to during the group call but unfortunately can’t!

Sent from my iPhone

[2020-07-14 19:55] TomAugspurger commented on #35238
Looking into this now.

[2020-07-14 20:07] jorisvandenbossche commented on #35238
So to summarize, on master we have:

[code]

which indeed doesn't look correct (I would say that `sort` shouldn't have any effect on the number of elements, only on their order).
However, this bug is actually also present on 1.0 already. And the regression comes from the fact that https://github.com/pandas-dev/pandas/pull/35098 started to pass through the `sort=False`.

[2020-07-14 20:18] jorisvandenbossche commented on #35238
The actual bug with `sort=False` is indeed covered by https://github.com/pandas-dev/pandas/issues/31326

The question is though, *if* there are duplicates: how do we sort with `sort=False` ?

In principle it should *not* sort, but what with the duplicate values that might be present in the right index?

[code]

[2020-07-14 20:19] TomAugspurger commented on #35238
Yeah, the `sort=False` case with duplicates is tricky enough that it needs some discussion. I think the path forward is to revert #35092, fix duplicate set ops, and then reinstate 35092. (cc @AlexKirko)

[2020-07-14 20:21] jorisvandenbossche commented on #35238
Agreed. And then we can keep the actual discussion about that in #31326

[2020-07-14 20:21] #33903 closed

[2020-07-14 20:22] TomAugspurger commented on #35238
I'll do the revert.

[2020-07-14 20:23] jorisvandenbossche commented on #31326
@dsaxton I think I agree with the example you show (and the general rules it shows)

However, when having `sort=False`, there are some questions about how the result should be "sorted". In principle it should *not* sort, but what with the duplicate values that might be present in the right index?

[code]

(it seems the second is the "correct" output: first taking everything from the left index, an

[2020-07-14 20:30] TomAugspurger commented on #35092
This fix is being reverted in https://github.com/pandas-dev/pandas/pull/35277.

[2020-07-14 20:34] #30880 closed

[2020-07-14 21:01] TomAugspurger opened #35278 "BUG: values-dependent reindex behavior in Groupby.apply"
xref https://github.com/pandas-dev/pandas/pull/34998#issuecomment-658318898.

Currently (on master and in my PR at https://github.com/pandas-dev/pandas/pull/34998), `.groupby(...).apply` has some value-dependent behavior. Specifically

[code]

Internally, groupby constructs a list of DataFrames, one per group, that are the results of the UDF applied to each group. Those are concatenated together,

[2020-07-14 21:19] jreback commented on #34730
+1 on this week

[2020-07-14 21:39] shoyer commented on #35265
Whether to prefer xr.Dataset or xr.DataArray really depends on your
use-case and what the data represents. But xr.Dataset is a better fit for
pd.DataFrame organized according to the principle of "tidy data", so that's
why it's the default for to_xarray().

On Tue, Jul 14, 2020 at 11:48 AM Josh L. Espinoza <notifications@github.com>
wrote:

[2020-07-14 22:30] smithto1 commented on #34656
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

    import pandas as pd

    df = pd.DataFrame(
        {
            "col1": [0, 1, 2, 3],
            "col4": [17, 13, 16, 15],
            "col5": [-4, -5, -6, -7],
        }
    )
    by=["col4", "col5"]
    apply_function = min

    gb = df.groupby(by, as_index=True)

    df1 = gb.apply(apply_function)
    prin

[2020-07-14 23:00] smithto1 commented on #34656
Looks like #34271 is the same issue.

[2020-07-14 23:20] smithto1 commented on #34656
take

[2020-07-14 23:42] VirosaLi commented on #35194
The arithmetic operation hanged on `pandas/core/ops/__init__.py::_frame_arith_method_with_reindex`:
[code]

The observation here is that selecting n duplicated columns in a dataframe that contains m duplicated columns will create m*n the same columns. And doing arithmetic operations between to dataframes both contain duplicated columns cause freeze.

[2020-07-15 00:04] smithto1 commented on #34271
take

[2020-07-15 00:40] TomAugspurger opened #35279 "pandas/tests/io/json/test_pandas.py::TestPandasContainer::test_read_json_large_numbers failing for 32-bit system"
[code]

We have

[code]

[2020-07-15 00:43] TomAugspurger commented on #35279
I think there are two issues:

1. For numbers between 32-bit and 64-bit max, the result is correct but the test is wrong. On 32-bit systems the result is int64 dtype.
2. For numbers larger than 64-bit max, the result wraps around.

[2020-07-15 01:58] semio commented on #35247
Rigth, according to [the doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.eval.html#pandas.eval) numexpr is the default. I have tried `engine = 'python'` but it didn't help. I don't have enough knowledge about pandas internals so don't have a solution yet. But I'd like to help tackling this, will check source code when I have time.

[2020-07-15 02:16] salem3358 commented on #35246
Hi guys,
Do we have any update on this issue?
Can I push a Pull request to fix this? I mean what is the procedure? I guess I will need to register to become a contributor first, so we right?

Thanks,
Salem

[2020-07-15 03:00] Saeede-Asadi commented on #12473
Got the same error when want to use pd.crosstab:

TypeError: Argument 'arr' has incorrect type (expected numpy.ndarray, got Categorical)

Here is the installed version of packages:

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.10.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
machine          : x86_64
processor        : i38

[2020-07-15 03:28] Saeede-Asadi commented on #12473
# one or both as category
a = pd.Series([1, 1, 2, 3], dtype='category')
b = pd.Series([1, 3, 4,1], dtype='category')
pd.crosstab(a,b)

Error:
TypeError: Argument 'arr' has incorrect type (expected numpy.ndarray, got Categorical)

# both as int
a = pd.Series([1, 1, 2, 3], dtype='int')
b = pd.Series([1, 3, 4, 1], dtype='int')
pd.crosstab(a,b)

Result:
col_0	1	3	4
row_0
1	1	1	0
2	0	0	1
3	1	0	0

[2020-07-15 03:40] #25805 closed

[2020-07-15 04:06] leeyspaul commented on #35276
Hello!

Happy to take this up. Would you be able to link the section? Also, would you be able to clarify if moving everything out means deletion or movement to another section?

Thank you!

[2020-07-15 06:11] AlexKirko commented on #35275
@valkum Thanks for the bug report!

This is likely related to #33548. I don't think it has anything to do with group sizes, as this code produces the same out of bounds error:
[code]

Also `sampled.mean()` works, it's only `sampled['temp'].mean()` that breaks.

[2020-07-15 06:18] HYChou0515 commented on #29814
Does #28992 related?

[2020-07-15 07:12] MarcoGorelli commented on #35246
@salem3358 Sure, here's the contributing guide: https://pandas.pydata.org/pandas-docs/dev/development/contributing.html

If you comment `take` the issue will be assigned to you. @neilZon are you still working on this? If not, then @salem3358 free to take over

[2020-07-15 07:26] SylvainLan opened #35281 "ENH: to_latex positional argument"
#### Is your feature request related to a problem?

I would like to have the possibility to specify the location of the table I'm saving, or instead of having
[code]

be able to have
[code]

#### Describe the solution you'd like

I guess the solution would be to add another argument in the `to_latex` API which could take values in `(None, 'h', 'H', 'h!'...)`

#### Describe alternatives you've cons

[2020-07-15 07:27] neilZon commented on #35246
Nope, @salem3358 is free to take!

[2020-07-15 08:19] salem3358 commented on #35246
take

[2020-07-15 08:47] gimseng commented on #35135
@jreback In that case, should we have rounded the calculations / output of `.corr()` to appropriate digits ?

[2020-07-15 09:52] kuraga opened #35282 "DOC: DataFrame.equals: (row) indices are also compared"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.equals.html

#### Documentation problem

[code]

#### Suggested fix for documentation

But in fact, (row) indices are also compared:

[code]

P.S. And what is `column header type`?
One more: does `the elements within the columns must be the same dtype` mean `columns  should have the same

[2020-07-15 09:54] kuraga opened #35283 "ENH: Implement PandasArray.equals"
Feature request: implement `PandasArray.equals` for consistency (in addition to `Series.equals` and `DataFrame.equals`).

[2020-07-15 12:11] valkum commented on #35275
Thanks for your reply.

`sampled.agg(np.mean)` works too, only when you try to a pass a dict (to only cover specific columns) it breaks.
Furthermore your example does work for me with out an out of bounds error, but creates different results nevertheless. [See here](https://repl.it/@valkum/WrithingNotablePascal-1)

Its only when you drop a row after the DataFrame is created, and as you pointed out