[2020-11-10 17:44] jelther commented on #37083
This is happening in our processes as well.
We have some Decimal values that we map to objects but when we try to read those on Spark 3.0 it breaks our pipelines.

[2020-11-10 17:50] WillAyd commented on #26049
Hmm OK. This is a pretty ambiguous set of actions so I think matching numpy is the best we can offer. Even there, this probably just falls back to the C standard for wrap around of unsigned integers

[2020-11-10 17:52] MosheVai commented on #26766
@WillAyd which issue tracks development of the type annotations I have mentioned above?

[2020-11-10 17:52] juanmigueltiscar commented on #37600
Ok, I get you point of view. If you think that it is okey I will close the ticket. My concern passed when I changed the way I stored my DataFrames. Everything started to work wrong, until I discovered this "problem".

[2020-11-10 17:55] WillAyd commented on #37600
I think it is fine to keep open. Would need a community PR though. It does technically go against suggested JSON standards so unlikely that a core developer would prioritize a patch

Sent from my iPhone

[2020-11-10 18:02] juanmigueltiscar commented on #37600
Okey, you have convinced me. As @erfannariman also suggested, at least a warning could be a good idea.

[2020-11-10 18:11] karlicoss commented on #26766
I'd be interested in something like this, obviously it would be very hard to type everything properly and conveniently (considering how dynamic pandas can be), but for simple usecases, having some helpers which exploit [`Literal`](https://mypy.readthedocs.io/en/stable/literal_types.html) and [`TypedDict`](https://mypy.readthedocs.io/en/stable/more_types.html#typeddict) could cover many cases where

[2020-11-10 18:17] WillAyd commented on #26766
Sounds good. Feel free to submit PRs to improve annotations - they are always welcome

[2020-11-10 18:53] ukarroum commented on #37743
Thank you for reporting the issue.

I checked with your code example, and the issue seems solved on the master version (1.2.0.dev0+1080.g288bd7054.dirty).

[code]

So my guess the issue has already been solved and will soon (if not yet) be available on 1.2 version.

[2020-11-10 19:18] wfvining commented on #37743
@ukarroum Thanks for checking that, I very much appreciate it. I would guess this was actually the same bug as #37141.

[2020-11-10 19:18] #37743 closed

[2020-11-10 19:49] micyhkim commented on #37716
@phofl Thank you. I'll take it

[2020-11-10 19:52] phofl commented on #22040
[code]

raises now

[code]

which seems appropriate.

While
[code]

raises
[code]

which does seem appropriate too?

[2020-11-10 19:56] phofl commented on #21968
Can not reproduce this. Someone else?

[2020-11-10 19:59] kuraga commented on #21968
@phofl in what environment?

[2020-11-10 20:00] phofl commented on #21968
Master

[2020-11-10 20:03] phofl commented on #22035
This works now. Needs tests

[2020-11-10 20:11] phofl commented on #21705
I am not quite sure, but I think this is the expected behavior now?

[2020-11-10 20:13] nocluebutalotofit opened #37748 "BUG: ValueError is mistakenly raised if a numpy array is assigned to a pd.Series of dtype=object and both have the same length"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

TypeError: only size-1 arrays can be converted to Python scalars
The above exception was the direct cause of the follow

[2020-11-10 20:18] phofl commented on #20975
This works now.
[code]

returns
[code]

[2020-11-10 20:24] phofl commented on #20951
This works now, the last statement raises

[code]

[2020-11-10 20:33] phofl commented on #20917
cc @WillAyd The raise in the second seems to be ok, but missleading error message I think? ``slice_locs`` only works when Index is monotonic, not the case with ``nan``.

But I could not find any information if this should raise when Key is not present?

[2020-11-10 21:14] yjheo15 commented on #37167
Hello, may I PR this issue?

[2020-11-10 22:17] Jeitan commented on #37167
@yjheo15 If you are using a version that does not reproduce the behavior that may be a good start to figuring out what's causing it.  All the version info is in the issue.  I don't have the bandwidth to work on it myself, but I'm sure if you can fix it it'd be well received.

[2020-11-10 22:44] yjheo15 commented on #37167
Thank you for the quick response! I realized that I executed pandas release 1.1.4 instead of 1.1.3.
I was able to reproduce the report with release 1.1.3.
To me, this implies that the new release has fixed this bug. Is it fine for me to continue probing this issue or should I search for another issue?

[2020-11-10 23:41] #37566 closed

[2020-11-11 00:30] cdknox commented on #36688
take

[2020-11-11 02:16] cdknox commented on #36688
If a url and storage_options are passed into read_csv a ValueError is raised, as show by current excerpt from pandas/io/common.py(326):

[code]

By using a context manager from fsspec I was able to change the UserAgent successfully as shown by the code below.

[code]

Are we okay with the additional top level import being part of the documentation, or should we modify the code as opposed to the do

[2020-11-11 02:23] martindurant commented on #36688
HTTP is the only legacy non-fsspec remote IO in pandas (because s3 and gcs were already using fsspec on the backend at the time of transition). You could change the HTTP implementation in pandas, which is simple, to accept storage_options, or you could use the fsspec variant (which may result in a change of behaviour).

[2020-11-11 02:30] TomAugspurger opened #37751 "November 2020 Meeting"
The monthly dev meeting is Wednesday November 11th (tomorrow), at 18:00 UTC. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar to check your local time. The US had a DST transition since the last meeting, so your local time may be different.

Video Call: https://zoom.us/j/942410248?pwd=T2l2Qi9vaC82Z294ZEtFczYxMVM2dz09
Minutes: https://docs.google.com/document/u/1/

[2020-11-11 02:30] #37705 closed

[2020-11-11 02:36] #37725 closed

[2020-11-11 05:19] cdknox commented on #36688
I'm assuming there is appetite to have all remote IO switched over for the consistency's  sake.  It looks like it almost could be a drop in replacement for HTTP.  Obviously I'd continue to test, but the biggest hurdle I see is around a server sending back gzipped content. Currently pandas checks to see what the server sends back in the header and will decompress accordingly.  Snippet from pandas/i

[2020-11-11 08:17] nocluebutalotofit commented on #37748
With pd.__version__ '1.0.5' the bug does not occur.

[2020-11-11 08:34] burk opened #37755 "BUG: Series.groupby() fails in pandas 1.1.4 when index has tuple name."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-11 09:38] noklam opened #37757 "BUG: csv newline \n \r\n in Window with opened file"
- [x] I have checked that this issue has not already been reported.
Related issue: #22497, the issues looks related, but it is 2 years old and does not have any update.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/wo

[2020-11-11 10:57] dnicolodi opened #37758 "BUG: read_fwf() does not obey skip_blank_lines"
The `read_fwf()` function does not obey the `skip_blank_lines` argument:

[code]
results in:
[code]
while
[code]
results in
[code]

The `skip_blank_lines` argument defaults to `True`, but also explicitly setting it results in the same behavior. The `read_fwf()` function documentation says that it takes all arguments supported by `TextFileReader` thus this is unexpected.

I have tested this with Pa

[2020-11-11 13:54] mikessut opened #37759 "ENH: option to plot data points on top of boxplot"
#### Is your feature request related to a problem?

My longing for this feature comes from many years of using Minitab, [which has a convenient option to show individual data on boxplots](https://support.minitab.com/en-us/minitab/18/help-and-how-to/graphs/how-to/general-graph-options/display-options/boxplot/). As a result, I often find myself wanting to be able to get a better visual idea of the d

[2020-11-11 14:01] sann05 commented on #21830
The example below always generate an error ```TypeError: 'NoneType' object is not subscriptable``` as `metadata` object is not always present.
[code]
The `metadata` object is dynamic and nested, so I am concerned why it doesn't generate something like this:

| 0 | metadata.name |
|---|---------------|
| 1 | first_value   |
| 2 | first_value   |
| 3 | nan           |
| 4 | nan           |

as I set

[2020-11-11 16:32] phofl commented on #20414
This seems to work now. ``s5``` equals

[code]

[2020-11-11 17:01] twoertwein commented on #37757
thanks @noklam for your report!

As a potential temporary workaround, do you mind testing

[code]

[2020-11-11 17:13] noklam commented on #37757
@twoertwein It will throws error instead.
[code]

[2020-11-11 17:33] simonjayhawkins commented on #37629
first bad commit: [a12ab063e2e6eaf6a10518e4374d62fb4c7727eb] CLN: simplify _setitem_with_indexer (#31887) cc @jbrockmendel

[2020-11-11 17:35] twoertwein commented on #37757
yes, sorry - binary handles will be supported in 1.2. I feel that this workaround might give you the same result as without the `fsspec` but I currently do not know why you are getting more newlines than necessary (maybe pandas and fsspec are inserting new lines independently of each other).

This issue doesn't seem to happen on Linux.

[2020-11-11 17:51] jorisvandenbossche commented on #32586
`replace` sounds indeed like a good candidate as EA method. I think eg for ArrowStringArray, we will also want to use a custom implementation.

[2020-11-11 17:53] jbrockmendel commented on #32586
I'm actually finding that if we get a correct `_can_hold_element` we may not need a `replace`. (though this may depend on getting a correct `putmask`, not yet 100% sure if _can_hold_element gives that for free)

[2020-11-11 17:58] jorisvandenbossche commented on #36226
Yes, or at least that is what I think we should discuss / decide.

[2020-11-11 19:04] jbrockmendel commented on #36759
Discussed on Nov 2020 dev call, decided to hold until we have a BoolIndex

[2020-11-11 19:06] jbrockmendel commented on #37178
@ivanovmg is this closed by #37274?

[2020-11-11 19:42] treszkai opened #37763 "BUG: DataFrame.at setter of categorical DF overwrites entire row"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

On a DataFrame with categorical dtype, `df.at[x,y] = v` sets all non-initialized values in row `x`.

#### Code Sample, a copy-pastable example

[code]

[code]

It doesn't

[2020-11-11 20:05] Jacob-Stevens-Haas commented on #37635
@ssortman I too am a student and new to this, and would like to try to solve it.  Please give me a bit of time to solve it.

[2020-11-11 20:18] jorisvandenbossche commented on #32586
I didn't fully understand it on the call, but so my question was: doesn't `Categorical.replace` still hold custom logic apart from `_can_hold_element`? (related to the fact that it can work on its categories to be more efficient, instead of on the actual values, but therefore needs to check whether the replacement is present in the categories already or not, etc ...)
Or, as you mention, `replace`

[2020-11-11 20:25] jorisvandenbossche opened #37765 "CI: migrate from travis-ci.org to travis-ci.com"
See https://docs.travis-ci.com/user/migrate/open-source-repository-migration, if we want to keep the Travis CI builds, we need to migrate to the .com version before the end of the year.

[2020-11-11 20:27] #37751 closed

[2020-11-11 20:27] jorisvandenbossche commented on #37765
(I am adding the 1.2 milestone for now. Not that it is in any way linked or a blocker to actually releasing 1.2, but doing that as a way to keep this issue a bit more visible, and the timeframe we need to do this migration also is somewhat similar as the planned timeline for 1.2)

[2020-11-11 20:29] DiSchi123 commented on #28755
I got another issue - groupby. last doesn't accept "min_count" keyword even though the doc says so

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.resample.Resampler.last.html#pandas.core.resample.Resampler.last

Is that a bug? Happy to open a bug, just wanted to add the question here first.

[2020-11-11 20:30] ivanovmg commented on #37178
@jbrockmendel I think the PR mentioned helps resolve the problem.
However, let me check whether there are still some tests issuing the same warning.
If so, then I will apply the same changes as was already done in the PR.

[2020-11-11 20:31] jorisvandenbossche opened #37766 "CI/TST: read_html test_banklist_url_positional_match failing with ResourceWarning on Travis"
Travis builds are recently failing, eg https://travis-ci.org/github/pandas-dev/pandas/jobs/742927007

[code]

[2020-11-11 20:32] phofl commented on #19517
This works now. Needs tests

[2020-11-11 20:35] arw2019 commented on #28755
I'm not very familiar with that part of the codebase but since the docs say you should be able to pass the arg I'd say that's a bug.

[2020-11-11 20:37] DiSchi123 commented on #28755
Ok I'll report it

[2020-11-11 20:38] jbrockmendel commented on #32586
I have a branch that implements what i was describing, will make a draft PR shortly for exposition.

It does, but the implementation via `putmask` I have in mind does something similar.  I haven't checked perf.

Sort of.  The existing `ExtensionBlock.putmask` is pretty reasonable\* as a general case assuming `block.values[mask] = other` is valid, i.e. if `block._can_hold_element(other)`.  But `Blo

[2020-11-11 20:43] ivanovmg commented on #37178
I checked on master.
No more warnings of this kind:
[code]
So, probably the issue can be closed.

[2020-11-11 20:44] jbrockmendel commented on #37178
thanks

[2020-11-11 20:44] #37178 closed

[2020-11-11 20:46] phofl commented on #19406
This works now as intended. May need some tests

[2020-11-11 21:11] DiSchi123 opened #37768 "BUG: downsampling with last doesn't accept "min_count" keyword"
I verified this on v 1.1.3. I am on miniconda, 1.1.4 is not available yet. There are ways to install probably but if I read documentation right, this feature should be around since 0.22

[code]

[code]

[code]

#### Problem description
According to the documentation, .last() does accept the keyword "min_count", just like for example .sum()
where it works fine, see above

So I should not see the er

[2020-11-11 22:40] jbrockmendel commented on #22864
@mroeschke this came up on the call today.  any chance youll have time for this in the not-too-distant future?

[2020-11-11 23:12] phofl commented on #19144
``test_loc_getitem_label_out_of_range`` in ``pandas/tests/indexing/test_loc.py``  covers this.

[2020-11-11 23:12] #19144 closed

[2020-11-11 23:38] jbrockmendel opened #37774 "API: should setitem-with-expansion _ever_ raise?"
ATM we are pretty inconsistent as to when setitem-with-expansion raises.  This boils down to idiosyncratic casting rules for `Index.insert` mentioned in today's dev call.

Examples:

[code]

I see two options:

1) use consistent casting rules for new item being inserted, so allow iff dtype can be retained.
2) always cast, never raise

Option 2 seems the more user-friendly, and is necessary for e.g

[2020-11-11 23:53] jbrockmendel commented on #37766
td.check_file_leaks should identify where the socket is being leaked from

[2020-11-12 00:11] noklam commented on #37757
https://github.com/pandas-dev/pandas/issues/10018

this old issue seems to describing the problem. the careiage return somehow get converted

[2020-11-12 01:54] mroeschke commented on #22864
Sure I can start chipping away at this again. I remember propagating all the warnings correctly will be the biggest challenge.

[2020-11-12 01:56] rhshadrach commented on #37167
@yjheo15 I am still seeing this issue on master. To be sure, the legend should have blue as "Accrued", yellow as "Spent" and the black line should be labeled "Net". Is this what you see?

[2020-11-12 02:16] twoertwein commented on #37757
Is there `\r` in your iris.csv? The issue #10018 seems to be a result of having `\r` as part of your data.

[2020-11-12 02:23] Dobatymo commented on #19406
Can confirm it's working with pandas 1.1.3

[2020-11-12 02:53] noklam commented on #37757
@twoertwein  No.
[code]

I updated the issue as I found the problem is not specific for `fsspec`

This suffers from the same problem.
[code]

[2020-11-12 03:09] noklam commented on #37757
https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py#L3220-L3224

Pandas doc actually mention if opening a file, it should be opened with newline='', any idea why is that ?

This seems fix the problem
with open("iris_pyopen.csv", "w" ,newline='') as f:
    df.to_csv(f)

[2020-11-12 03:38] arw2019 opened #37779 "ENH: implement Series.diff for nullable dtypes"
xref https://github.com/pandas-dev/pandas/issues/28385#issuecomment-572750633

[2020-11-12 08:05] sann05 opened #37782 "BUG: json_normalize cannot parse metadata fields list type"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

It throws error ```ValueError: Length of values (6) does not match length of index (3)```

Changing listdata field from `[1,2]` to `{1,2}` helped but I can't control JSON I receive.

#### Expected Output

| 0 | metadata.listdata |
|---|-------------------|
| 1 | [1, 2]            |
| 2 | [1, 2]            |
| 3 | [1, 2]

[2020-11-12 08:08] sann05 opened #37783 "BUG: json_normalize generates ```TypeError: 'NoneType' object is not subscriptable``` as `metadata` object is not always present."
The example below always generate an error ```TypeError: 'NoneType' object is not subscriptable``` as `metadata` object is not always present.
[code]
The `metadata` object is dynamic and nested, so I am concerned why it doesn't generate something like this:

| 0 | metadata.name |
|---|---------------|
| 1 | first_value   |
| 2 | first_value   |
| 3 | nan           |
| 4 | nan           |

as I set

[2020-11-12 08:56] simonjayhawkins commented on #37766
duplicate of #36467. one should be closed.

[2020-11-12 09:01] simonjayhawkins commented on #37774
xref #25383 and #34011

[2020-11-12 09:23] simonjayhawkins commented on #37755
Thanks @burk for the report.

first bad commit: [20003347f81d76b3cbaa8259b577e19f76603120] Backport PR #36147: REGR: Series access with Index of tuples/frozenset (#36332)  cc @rhshadrach

[2020-11-12 10:09] simonjayhawkins opened #37784 "RLS: 1.2"
Tracking issue for the 1.2 release. https://github.com/pandas-dev/pandas/milestone/73

Planning a release candidate for sometime towards the end of the month, 1-2 weeks before the final release.

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression (includes regressions that may be included in 1.1.5)

List of open blockers: https://github.

[2020-11-12 10:22] erfannariman commented on #37765
Just for my understanding, on the long term, is it needed to keep Travis while we have the option to use Azure pipelines and/or GitHub Actions?

[2020-11-12 10:25] simonjayhawkins commented on #37711
@taozuoqiao thanks for the report

first bad commit: [810a4e5b19616efb503767b4518083c9a59c11e6] BUG: assignment to multiple columns when some column do not exist (#29334) cc @howsiwei

[2020-11-12 10:25] #37766 closed

[2020-11-12 10:26] erfannariman commented on #37716
To keep this consistent with #34731 we should only warn the user to use another name than `variable` and add it to the whatsnew entry that it will be deprecated in the future.

[2020-11-12 11:32] jreback commented on #37765
not all capabilities are currently supported in azure, mainly the database testing
also travis has arm and usually is easier to do builds like numpy dev

[2020-11-12 11:53] erfannariman commented on #37765
Thanks for the clarification.

[2020-11-12 11:56] achapkowski opened #37785 "QST: Can to_json return results as a dictionary?"
- [x ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

Is there a way to use `to_json` but get the results as a dictionary instead of a string?

I have an ETL pipeline and Pandas gets me 99% of t

[2020-11-12 14:17] ivanovmg commented on #37757
Probably it comes from this: https://docs.python.org/3/library/csv.html#csv.writer

[2020-11-12 14:39] ivanovmg commented on #37625
@ShaneKao can you add the file concerned here?
``header`` should be a list of col names for the given sheet, not one col name per sheet.
Thus, I would like to clarify what the actual problem is.

[2020-11-12 16:18] rishabh-vij commented on #15988
append_skipdupes +1

[2020-11-12 16:23] #35080 closed

[2020-11-12 18:53] ivanovmg commented on #37488
What if you try ``check_index_type`` kwarg instead?

[2020-11-12 19:02] WillAyd commented on #37785
JSON is by definition a text format so I can't see a case where we would make `to_json` return anything other than text. What options are you looking for that to_dict doesn't provide?

[2020-11-12 19:38] achapkowski commented on #37785
The `date_format` and `date_unit` parameters are really helpful for converting between systems and other format.  Without this, you need to format the data columns/row values.

[2020-11-12 21:04] mattc-eostar opened #37793 "QST: Rolling pd.Grouper over N days"
Starting from a desired date in a dataframe, can we group and sum the last 30 days and compare the prior 30 day period? And it would have to be days since this calculation could be done at any point in a month.

The first option below isn't very elegant, but I think gets to the right place. The second option using pd.Grouper, but chops off values during the group and produces different results and

[2020-11-12 21:35] phofl commented on #18561
This works now. Maybe needs tests

[2020-11-12 22:28] zilbert97 opened #37795 "getiterator deprecated in Python 3.9; failure to call pd.read_excel()"
I've read here https://stackoverflow.com/a/64744395 that `getiterator` has been deprecated in Python 3.9.0. My script ran without issues until upgrading Python to 3.9, and now I get the following error:

[code]

Running Python 3.9.0, Pandas 1.1.4

[2020-11-12 22:40] yjheo15 commented on #37167
@rhshadrach Yes, that is what I saw when I simply downloaded pandas with pip and ran the given code.

[2020-11-12 23:44] github-repo-health-uic commented on #10420
You can set limit_direction='both' . This is a parameter in the interpolation()

[2020-11-12 23:52] arw2019 commented on #37795
Could you provide a copy-pastable example?

[2020-11-12 23:52] rhshadrach opened #37800 "BUG: Error raised accessing tuple value in Series when index contains duplicates"
E.g.

[code]

raises `KeyError: (1, 1)`. Within `pandas._libs.index.IndexEngine._get_loc_duplicates`, we're using ndarray.searchsorted which interprets the tuple as an array-like of values to search for rather than a single tuple.

[2020-11-13 00:04] phofl commented on #37800
Similar problems with loc. Index does not have to be non-unique there

[code]

[code]

Tuple support is not very good here.

[2020-11-13 00:07] phofl commented on #37793
Hey, have you asked your question on stackoverflow? That is probably a better place, if you do not think the behavior is erronoeus. Additionally your example is not self contained.

[2020-11-13 01:32] twoertwein commented on #37795
@zilbert97 Do you know which engine pandas is using for your file? If it is xlrd, https://github.com/pandas-dev/pandas/issues/28547 seems related:

If xlrd is no longer working with python 3.9, it would be good to address that before 1.2 is released @WillAyd

[2020-11-13 02:51] #34769 closed

[2020-11-13 04:10] GYHHAHA opened #37804 "ENH: Add 'end' option in resample's origin"
In some cases I need to calculate the time group from the end of time series instead of the beginning.

For example, if user uses `s.resample('7min', origin='end', closed='right')` , the following expected groups are (09:23:45, 09:30:45], (09:16:45, 09:23:45], (09:09:45, 09:16:45], ... , (08:20:45, 08:27:45]. And under normal cases, `closed` should be `right` when `origin` is `end` since last valu

[2020-11-13 04:40] #37295 closed

[2020-11-13 04:43] #9772 closed

[2020-11-13 04:52] arw2019 commented on #18869
This is still a problem on 1.2 master

[2020-11-13 05:11] #23693 closed

[2020-11-13 05:45] #37359 closed

[2020-11-13 05:54] holymonson commented on #22493
[code]
@phaebz Here is the difference. While `a.loc['a1']` is not a MultiIndex DataFrame, but should be viewed as a simple index DataFrame. So your `a.loc['a1'] = b` is basically assigning a MultiIndex DataFrame to a simple index DataFrame view.

Or from another point of view, `a.loc['a1']` has chosen the `'a1'` 1st level index, it should be redundant in `b`.

[2020-11-13 07:12] ShaneKao commented on #37625
[test.xlsx](https://github.com/pandas-dev/pandas/files/5535273/test.xlsx)

    import pandas as pd

    df = pd.read_excel('test.xlsx', sheet_name=None, header=[0, None])

    df1 = pd.read_excel('test.xlsx', sheet_name='Sheet1', header=0)
    df2 = pd.read_excel('test.xlsx', sheet_name='Sheet2', header=None)

[2020-11-13 07:58] taozuoqiao commented on #37711
Thanks very much for the answering and fix. I just update my comment, adding more examples of setting values which could fail in `1.1.3`. I am rather new to pandas,  and I am not sure whether they will all be fixed by phofl's PR,

- For series, `s.loc[('a')] = 0`, `s.loc[('a', )] = 0` and  `s.loc[('a'), ] = 0` are vaild,  but `s.loc[('a', ), ] = 0` will raise similar AssertionError like above.
- F

[2020-11-13 09:10] sidram05 commented on #37715
Hi @simonjayhawkins / @Praveenk8051 do you guys need more help ?
One of my first OSS projects as well, willing to help!

[2020-11-13 09:51] simonjayhawkins commented on #37715
@sidram05 sure. https://github.com/pandas-dev/pandas/issues/37715#issuecomment-724040038

[2020-11-13 10:05] zilbert97 commented on #37795
Sure! I hope this is what you mean - simply running two lines at the command line can reproduce the error.

**Python 3.8.1 works fine (created a virtual environment):**
[code]

**But Python 3.9.0 does not work:**
[code]

It looks like it is xlrd that is being used - thanks for linking the issue!

[2020-11-13 10:16] skvrahul commented on #31687
An added observation is that this seems to still be breaking with numbers smaller than `sys.maxsize`
Trying the same piece of code with a change in number:

[code]

This still causes the same error

[2020-11-13 10:40] phofl opened #37810 "BUG: Slicing of Index with strings does not raise anymore when keys are not in Index"
The following
[code]

Should raise a ``KeyError``. This worked in the past (see #18531) but does not anymore. Question is if we should raise in ``slice_locs`` if start and end are equal or if we should do this after calling the function.

cc @jreback

[2020-11-13 11:57] jorisvandenbossche commented on #37810
This still raises a KeyError for me. With what version do you see something else? And can you show the output?

[2020-11-13 12:16] phofl commented on #37810
Sorry, i applied the loc to the DatetimeIndex, which did not raise on master (as expected). Mixed this up... You are right this still raises

[2020-11-13 12:27] Ivan-basis opened #37811 "BUG: rowLabels and colLabels args in pandas.plotting.table have no effect"
- [ yes ] I have checked that this issue has not already been reported.

- [ yes ] I have confirmed this bug exists on the latest version of pandas.

- [ yes ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

Setting `rowLabels `or `colLabels `in `pandas.plotting.table` has no effect. I've found that the problem is in `table() `fun

[2020-11-13 12:48] ivanovmg commented on #37625
Thank you. Now I see what the problem is.
I guess that header as as list is reserved to creating multiindex columns, so making what you suggest is hardly ever possible.

Would mapping be a more viable option?

[code]

I am not sure if that is easy to implement, but just it seems more reasonable in terms of usage.

[2020-11-13 13:09] #19056 closed

[2020-11-13 13:17] annhak commented on #29687
Bumped into the same problem @simonjayhawkins
Minimal reproducible example:

import pandas as pd

d = {'col1': [1, 2, 3], 'col2': [3, 4, 5]}
df = pd.DataFrame(data=d)
now = pd.Timestamp.now()
df.index = [now, now - pd.Timedelta('1m'), now + pd.Timedelta('2m')]

try:
    df1 = df.sort_index()
    print('test1, success')
except Exception as ex:
    print('test 1 failed: ', ex)

pd.set_option('use_in

[2020-11-13 13:32] jorisvandenbossche commented on #33315
@WillAyd are you still against removing the hardcoded `-Wno-error` from our setup.py? (while keeping it in CI) Or is the conclusion to use `-Wno-error=deprecated-declarations` ? (looking at https://github.com/pandas-dev/pandas/issues/33315#issuecomment-610611534)

(I don't have this problem myself, but it seems lots of people run into it (including ourselves when building wheels/conda packages), s

[2020-11-13 13:39] #33987 closed

[2020-11-13 13:41] phofl commented on #37810
cc @jorisvandenbossche

Hm used the wrong example. The above raises, but when the index is monotonic, it does not raise.

[code]

This does not raise for me on master

[2020-11-13 13:50] jorisvandenbossche commented on #37810
As far as I know, that is the expected result, because it is a monotonic index, the exact labels in the slice don't need to be present in the index

[2020-11-13 13:56] phofl commented on #37810
Ah ok, did not know that. Then closing this again

[2020-11-13 13:56] #37810 closed

[2020-11-13 14:15] mattc-eostar commented on #37793
I have not yet. I wasn't aware the behavior had to erroneous to be labeled under "Usage Question".
I updated the question to be self-contained.

[2020-11-13 14:17] phofl commented on #37711
I am not quite sure, if ``s.loc[('a', ), ] = 0`` this should work, a Series has no columns. I think ``s.loc[('a'), ] = 0`` works wrongly?

[2020-11-13 14:29] phofl commented on #22493
I get what the difference is. I simply could not find anything in the docs about this, maybe I am missing something. I also got what the problem is. But I am not sure if this is expected.

[2020-11-13 14:32] phofl commented on #37793
If you open an issue under steh question section, the first two points are

[code]

Additionally in https://pandas.pydata.org/pandas-docs/stable/development/maintaining.html?highlight=stackoverflow#issue-triage under point 6.

[2020-11-13 14:50] twoertwein commented on #37795
Does it work with with the `openpyxl` engine?

[2020-11-13 15:02] Praveenk8051 commented on #37715
@sidram05 I'm not working on this. I'm working on different issue

[2020-11-13 15:14] AllanChain commented on #37795
Same problem here. `openpyxl` works fine. I think it's time to make `openpyxl` default :smile:

[2020-11-13 15:19] ivanovmg commented on #37257
I confirm the same error on master.

[2020-11-13 15:25] jorisvandenbossche commented on #37766
@simonjayhawkins thanks for that link! I might have fixed it in https://github.com/pandas-dev/pandas/pull/37786

[2020-11-13 15:26] WillAyd commented on #33315
I think we should still keep in setup.py - we’ve been doing a lot of work elsewhere to make local development and CI match so would like to maintain that

Sent from my iPhone

[2020-11-13 15:26] jorisvandenbossche commented on #36467
This might be fixed by  #37786 . At least Travis was green twice on the PR ;)
Closing this now, but we can reopen if it comes up again over the coming days on CI

[2020-11-13 15:26] #36467 closed

[2020-11-13 15:53] ivanovmg opened #37813 "DOC: corrupted function signatures on stable"
#### Location of the documentation

Stable (v1.1.4) docs.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html

#### Documentation problem

On stable (v1.1.4) there are corrupted function signatures in docs for these functions at least.
 - pandas.DataFrame.to_stata
 - pandas.DataFrame.to_feather
 - pandas.DataFrame.to_parquet

![image](https://user-images.git

[2020-11-13 17:19] jreback commented on #37795
there is a PR outstanding to do this just needs some TLC

[2020-11-13 19:59] phofl opened #37820 "BUG: MultiIndex.drop does not raise if labels are partially found"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-13 20:15] phofl commented on #37768
Actually it looks like the docstrings are wrong here. The underlyin implementation does not support a min_count keyword for the functions ``["min", "max", "first", "last", "mean", "sem", "median", "ohlc"]``

GroupBy docs are more or less erroneous too. You can pass ``min_count`` to groupby.last, but it raises
[code]

[code]

[2020-11-13 20:18] phofl opened #37821 "BUG: Groupby.last accepts min_count but implementation raises"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-13 20:29] DiSchi123 commented on #37768
It might be a copy paste error in the documentation. If so I still would like to see this as an enhancement.  Let me know which way you and team decide to go, to fix the documentation or enhance the code. Happy to raise an enhancement request in the prior case.

There is a case to have "min_count" option , especially when downsampling with  .last(). The reason is that .last() takes the last non-na

[2020-11-13 20:47] bdatko commented on #35144
I am seeing the same issue given the version below. Same error as og:

[code]

[2020-11-13 21:03] avinashpancham commented on #35185
take

[2020-11-13 21:14] HughKelley commented on #35144
Hi @bdatko looks like you have pandas 1.1.3 installed. The PR closechoice made to fix this issue was merged into 1.2. I believe if you install from github instead of pypi or a conda source you can include that code. for instance `pip install git@github.com:pandas-dev/pandas.git` will do the trick i think.

[2020-11-14 01:40] mroeschke commented on #37742
I think the memory increase is due to the perpetual jitting of your function

If I define your snipet like this

[code]

I get

[code]

So I think this might have sometime to do with the numba side of things. I dont think this has to do with pandas so going to close this issue

[2020-11-14 01:40] #37742 closed

[2020-11-14 02:21] #37635 closed

[2020-11-14 02:22] #37306 closed

[2020-11-14 02:27] #33948 closed

[2020-11-14 02:35] jreback opened #37826 "CI: update 3.9 packages as they become available"
we now have 3.9 support via conda-forge: https://github.com/pandas-dev/pandas/pull/37039

we should periodically update the tested packages as they become available.

[2020-11-14 02:36] jreback commented on #37826
cc @fangchenli

[2020-11-14 03:21] arw2019 commented on #28424
This works on 1.2 master

[2020-11-14 03:31] #37755 closed

[2020-11-14 04:15] noklam commented on #37757
thanks @ivanovmg, so I think this is not a bug. specifying the newline should be the solution,

[2020-11-14 08:32] holymonson commented on #22493
No docs mentioned indeed. What should be considered is, whether `a.loc['a1']` in this case could be viewed as a simple index DataFrame. If yes, then assigning a simple index DataFrame to an other is expected.

[2020-11-14 09:17] toobaz commented on #22493
@gfyoung and everybody, sorry for replying after more than two years.

I think we can summarize the project stance on assigning by matching on a subset of a ``MultiIndex`` levels as: yes, it should ideally work, no, we are not terribly surprised that, at the moment, it does not work.

I'm also pretty sure there was already an open issue (and I was even involved in it), but I can't find it right no

[2020-11-14 09:24] toobaz commented on #22493
The title change is justified by the existence of a relatively easy, although annoying, workaround which does not exploit partial indexing (well, it actually does, but only to determine the destination, not to match indexes):

[code]

[2020-11-14 10:16] toobaz commented on #27286
I think this can closed. While broadcasting a 1D structure to a 2D slot is something we can support, squeezing a nx1 structure into a 1D slot is not worth the effort, I think.

[2020-11-14 10:16] #27286 closed

[2020-11-14 11:48] timkofu opened #37831 "BUG: pandas.read_excel() - AttributeError: 'ElementTree' object has no attribute 'getiterator'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Running the above code raises the exception below:

[code]

#### Expected Output

`pandas.Data

[2020-11-14 12:38] timkofu commented on #37831
I made the function below using the [openpyxl](https://openpyxl.readthedocs.io/en/stable/) library as a workaround. It's working well in my use-case, but I'm not sure it generalizes:

[code]

[2020-11-14 13:36] jorisvandenbossche commented on #37813
One other difference is the sphinx version with which both docs are built (3.1.1 vs 3.3.1), but no idea if that would be the cause.

[2020-11-14 13:47] rhshadrach commented on #37811
Thanks for the report @Ivan-basis! Would you be interested in submitting a PR to fix? It also looks like the docs can be improved here, as the descriptions of rowLables and colLabels only appears under the kwargs instead their own entries in the docstring.

[2020-11-14 13:49] jreback commented on #37831
duplicate of #37795

[2020-11-14 13:49] #37831 closed

[2020-11-14 14:04] rhshadrach commented on #37768
Looking at the implementation of the functions @phofl identified, it appears straightforward to add `min_count` to the implementation. +1 on adding this functionality.

[2020-11-14 14:46] jorisvandenbossche commented on #35169
Other follow-ups needed after #35259

- [ ] Implement the `factorize()` method (instead of converting to objects through `_values_for_factorize`, see https://github.com/pandas-dev/pandas/pull/35259#discussion_r522380393
-

[2020-11-14 15:53] simonjayhawkins commented on #37813
I'll milestone this as 1.1.5 for now

[2020-11-14 16:03] paxcodes commented on #19406
take

[2020-11-14 16:15] #28303 closed

[2020-11-14 16:17] TomAugspurger opened #37833 "Performance regression in fillna"
https://pandas.pydata.org/speed/pandas/index.html#replace.FillNa.time_fillna?python=3.8&Cython=0.29.21&p-inplace=False&commits=2eb353063d6bc4f2ed22e9943d26465e284b8393-68f53cd9e556698fe786aefe90466f233eb55841

https://github.com/pandas-dev/pandas/compare/2eb353063d6bc4f2ed22e9943d26465e284b8393...68f53cd9e556698fe786aefe90466f233eb55841

- [ ] I have checked that this issue has not already been re

[2020-11-14 16:38] avinashpancham commented on #28501
take

[2020-11-14 16:50] #36308 closed

[2020-11-14 16:51] #37711 closed

[2020-11-14 17:17] arongergely commented on #21881
take

[2020-11-14 17:32] paxcodes commented on #19406
I'm trying to decide where to put this test. I'm looking at `pandas/tests/indexing` folder and thinking of putting it `pandas/tests/indexing/test_na_indexing.py`...?

[2020-11-14 17:40] phofl commented on #19406
That would be better suited in the boolean group. Isnull is here just a tool to create a boolean mask. Could you maybe search for related tests? Maybe in series/indexing/test_setitem?

[2020-11-14 17:57] paxcodes commented on #19406
I just realized this while I was typing out the test. 😅

Will do and thanks for the guidance!

[2020-11-14 18:36] blackbox-tech commented on #37742
@mroeschke you're right this seems to be something with numba recompiling inner functions every time they are called.  I'll talk to the numba guys and find out if this is the desired behavior.

[2020-11-14 19:38] #21020 closed

[2020-11-14 19:38] #28949 closed

[2020-11-14 19:38] #36076 closed

[2020-11-14 19:53] JacekPliszka opened #37850 "BUG: any and all are much slower than min and max for GroupBy.transform"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-14 19:54] ashammad commented on #23239
I just built pandas-dev at my end, and seems the issue no longer exists
pandas version: 1.2.0.dev0+1174.g4cfa97a18

[2020-11-14 20:13] #37758 closed

[2020-11-14 22:26] phofl commented on #37850
Thats not really a bug. Max/Min are implemented in Cython while any dispatches to the built in function ``any``. Same for ``all``.

[2020-11-14 22:51] tacaswell commented on #34014
I spent some more time looking at what this is doing today and came up with the following notes (I apologize if I am saying really obvious things)

The `Slider` and `BlockSlider` classes are implementing views into a numpy array by:
 - taking in two arrays
 - stashing the pointer to one of them
 - on demand mutating the second array to point at the (offset) pointer to the first and adjusting the s

[2020-11-14 22:51] tacaswell commented on #34014
also, I think this should be milestoned to an actual release.

[2020-11-14 23:20] phofl commented on #18409
``align`` converts the ``int`` values to ``float``

[2020-11-14 23:24] phofl commented on #17286
This works now. Needs tests

[2020-11-14 23:32] jreback commented on #34014
w/o a dedicated resource to do this it's impossible to actually say it will be in a particular release

[2020-11-14 23:46] phofl commented on #17024
The conversion happens in ``concat``. Is this expected? Meaning that concat converts MultiIndex and Index to Index with tuples?

[2020-11-14 23:48] phofl commented on #16920
This is now the expected behavior

[2020-11-14 23:48] #16920 closed

[2020-11-15 00:10] phofl commented on #16737
Can we do this immediately or should we issue a FutureWarning before changing this? Or will this be done when changing the dtype of empty Series from float to object?

[2020-11-15 00:17] phofl commented on #16710
Works now, may need some tests

[2020-11-15 00:20] phofl commented on #16309
Works now, setting once and setting twice

[2020-11-15 00:55] avinashpancham commented on #21804
take

[2020-11-15 01:00] jbrockmendel commented on #34014
This would certainly be nice.

Is there any indication that cython will be releasing 3.0 anytime soon?  The mailing list has been quiet; i havent been following the issue tracker recently.

I still think #34997 was a reasonable approach, but i never got it working.  More eyeballs may be helpful.

IIRC one of the hangups was that the non-cython path behaves slightly differently from the cython path

[2020-11-15 01:34] GYHHAHA commented on #37763
What's the expected output with `dtype=float`? I think your example returns the right result. @treszkai

[2020-11-15 02:17] liaoaoyuan97 commented on #30999
I will take pandas/tests/arrays/test_datetimelike.py as a start.
Also, if you cannot run ```python scripts/validate_unwanted_patterns.py -vt="bare_pytest_raises" pandas/tests/```successfully, try
```python scripts/validate_unwanted_patterns.py -vt="bare_pytest_raises" pandas/tests/**/*.py``` instead

[2020-11-15 02:48] itholic opened #37859 "QST: Is the behavior between "Index.astype" and "Series.astype" different ??"
#### Question about pandas

When I cast the type with `astype` for `Index` or `Series`,

I noticed that their behavior for `bool` casting is slightly different.

[code]

As shown above, `None` is casted `True` from `Series.astype`, but casted `False` from `Index.astype`.

Is this normal for some reason??

I used pandas 1.1.4.

Thanks :)

[2020-11-15 03:36] taozuoqiao commented on #37711
I agree with you, they are really very ambiguous practices.

[2020-11-15 08:50] fgebhart commented on #13044
take

[2020-11-15 08:58] MarcoGorelli commented on #30999
The easiest way to run it now would be to add

[code]

to `.pre-commit-config.yaml` in the `-   repo: local` section, and then run

[code]

[2020-11-15 09:12] #19406 closed

[2020-11-15 09:40] toobaz commented on #17024
I would have probably had a preference for `concat` transforming the flat index in the first level of a `MultiIndex`... but definitely not strong enough to change the current behavior of `concat`, so I would take another path to fix the above (maybe the one followed by the column case, which works?)

[2020-11-15 14:24] treszkai commented on #37763
Yes, the problem is only with categorical dtype. The Expected Output section compares it to two scenarios that work well, i.e. pre-intialized or non-dtype. Also could've said that "Expected Output: DataFrame.at setter sets a single item, not the entire row."

[2020-11-15 15:14] dsaxton commented on #37859
@itholic In the case of Series you end up with a float dtype where None is converted to np.nan. Since bool(np.nan) is True I'd say this is expected, if a bit strange:

[code]

[2020-11-15 15:39] jbrockmendel commented on #37859
The main reason is that there is no BoolIndex, so when you try to cast to bool it casts to object instead.

[2020-11-15 16:27] jbrockmendel opened #37863 "API/BUG: DatetimeIndex.argsort does not match DatetimeArray.argsort"
The DatetimeIndex returns `self.asi8.argsort(*args, **kwargs)`, while the DatetimeArray uses the M8[ns] values.  This puts NaTs at the front for DTI and the end for DTA.

Changing the DTI method (actually the DTI/TDI/PI methods) to match their array counterparts breaks 12 tests, 11 of them resample, 1 test_grouping.

[2020-11-15 17:08] ivanovmg opened #37866 "TYP: NDFrame sort_values signature"
#### NDFrame sort_values and inheritance

The question is related to method ``sort_values`` of ``NDFrame``, ``DataFrame`` and ``Series``.
When trying to close one issue in (#37715) below
[code]
I found out that the function signatures for ``NDFrame`` and ``DataFrame`` do not match because of the argument ``by``.
That was the cause of the mypy error.
For ``Series.sort_values`` it is reasonable not

[2020-11-15 17:10] phofl commented on #37779
Actually that was already implemented. Executing the example on master yields

[code]

[2020-11-15 17:31] #36738 closed

[2020-11-15 17:36] jreback commented on #19356
this issue seems to overlap with: https://github.com/pandas-dev/pandas/issues/21804

cc @phofl @avinashpancham

[2020-11-15 17:39] jreback commented on #18531
deprecated in #37819 closing

[2020-11-15 17:39] #18531 closed

[2020-11-15 18:02] avinashpancham commented on #19356
I see @phofl started earlier with the PR, so I dont mind leaving this to him.

[2020-11-15 18:12] phofl commented on #19356
Thx, I will look into this and give feedback if mine fixes both

[2020-11-15 18:15] avinashpancham commented on #19356
Issues look similar and (our proposed modifications too!), so I guess it will fix both :)

[2020-11-15 18:20] phofl commented on #19356
It is exactly the same :)

[2020-11-15 18:28] avinashpancham commented on #21804
Will be closed by #37770

[2020-11-15 19:07] jbrockmendel commented on #33302
I'm leaning towards deprecating the ffill/bfill behavior with value=None (in part bc it has hidden bugs bc Series._replace_single uses .values instead of ._values).

In my first attempt at deprecating I thought we could tell the user to do `obj.replace(to_replace, np.nan).ffill()`, but that actually messes up in cases where obj already has NAs that we dont want to fill.

[2020-11-15 21:29] lucasrodes opened #37875 "DOC: Fix EX01 in docstrings"
#### Location of the documentation

In various pandas modules. See list attached below for the list of functions raising EX01 errors.

#### Documentation problem

The listed functions are missing the example section, i.e.  code EX01.

#### Suggested fix for documentation

As proposed in #27977, I attach the list of raised errors below. Use this thread to comment on which function/module you will b

[2020-11-15 21:42] lucasrodes commented on #37875
I'll take all `pandas.Timestamp` related.

[2020-11-15 22:38] treszkai commented on #37763
Setting with `df.at` will call `DataFrame._set_value`, which on the `series = self._get_item_cache(col)` line *Series with the exact same `_values`* regardless if col is 0 or 2:

[code]

When setting with `df.loc`, in the `_iLocIndexer._setitem_with_indexer` method `take_split_path` will be true (with categorical dtype), which copies the entire column on every setitem, that's why `loc` isn't affec

[2020-11-15 23:42] MarioCatuogno opened #37880 "BUG: Failed to install Pandas with pip3 and Python3.9 on macOS Big Sur"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2020-11-15 23:55] jreback commented on #37880
see #37057 you need to install at least numpy 1.19.3

[2020-11-15 23:56] #37880 closed

[2020-11-16 00:00] MarioCatuogno commented on #37880
@jreback Even if I install numpy 1.19.4 I'm still getting the error. Now I have installed the following packages but still getting the same exact error with pip install pandas!

Package    Version
---------- -------
numpy      1.19.4
pip        20.2.4
setuptools 50.3.2
wheel      0.35.1

[2020-11-16 00:04] jreback commented on #37880
@MarioCatuogno you should red thru the other issue

this is a numpy install problem

[2020-11-16 00:49] acturner opened #37882 "BUG: `pandas.Index` cannot be subclassed (despite saying it can be in the docs)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

The result is: `<class 'pandas.core.indexes.numeric.Int64Index'> Int64Index([1, 2, 3], dtype='int64')`

#### Problem de

[2020-11-16 01:16] itholic commented on #37859
Oh, I got it.

Then I'd handle this case with setting a dtype as object case for now.

[code]

Seems okay for now!

Thanks for the comment, @dsaxton @jbrockmendel !! :D

[2020-11-16 01:16] #37859 closed

[2020-11-16 02:16] bergen288 opened #37883 "BUG: DataFrame.from_dict gives me 3 duplicates"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-11-16 02:38] rhshadrach commented on #37883
When a dictionary contains a mix of lists and scalars, pandas will assume the lists are to be expanded into rows and fills in the scalars as necessary:

[code]

gives

[code]

If your dictionary will always represent a single row, you can pack the values in lists.

[code]

gives

[code]

[2020-11-16 02:39] rhshadrach commented on #37883
If this doesn't solve your issue, respond here and can reopen.

[2020-11-16 02:39] #37883 closed

[2020-11-16 03:19] yehoshuadimarsky commented on #36893
+1 on the idea, but my only question is wouldn't this in effect be the Pandas project taking a stance on which "side" or extension projects they like and which they don't? With so many alternatives out there (as @xhochy specified in the original post), how to pick what gets included? As opposed to `read_csv` for example where the only options for `engine` are Python or C, and we don't have to take

[2020-11-16 03:21] yehoshuadimarsky commented on #36893
I'd be happy to work on this PR though, I have a fair amount of experience with the Pandas <> SQL interface and backend code. But would want more feedback from the core maintainers first if you think this is worth the time and effort, and that it will get merged.

Full disclosure - I'm the author of one of the libraries mentioned (bcpandas).

[2020-11-16 03:52] jreback commented on #36893
well we would have to start somewhere - you can be the first!

we don't need to take a stance per se - would likely accept any compatible and well tested engines

we did this for excel reading for example and now have a number of community supported engines

[2020-11-16 03:56] yehoshuadimarsky commented on #36893
Ok, good point.

As far as I see it, we will go with implementing option 3 - specifying an `engine` option.

Regarding implementation, the prototype by @xhochy is great, and I see we already have a base class for this in the SQL module that currently only supports 2 subclasses - SQLAlchemy and SQLite. So all we would have to do is create more subclasses to implement this base class. Do you agree?

[2020-11-16 03:56] yehoshuadimarsky commented on #36893
take

[2020-11-16 05:32] aitikgupta commented on #14796
Adding a usecase:
1. Have a lot of `csv` files, with few entries in each, many of which have additional columns.
2. Want a combined dataframe, which should consist of the additional columns. (Land right up on [`pandas.DataFrame.append()` docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html))

3. Above line reassures that I landed up in the right place.
[cod

[2020-11-16 06:25] TakuNishiumi opened #37888 "BUG: df.str.contains(XX) return False when XX contains "+" character"
- [ y] I have checked that this issue has not already been reported.

#### Code Sample, a copy-pastable example

[code]
returns
[code]

#### Problem description
When I ran the `df.str.contains(XX)`, I found a new bug.
I run the below notebook, it returns False, despite it is definitely include keyword with in the cell.

[2020-11-16 06:27] TakuNishiumi commented on #37888
![pandas_bug+](https://user-images.githubusercontent.com/38071139/99219539-3a78ec80-2820-11eb-8f34-49f019edf428.png)

[2020-11-16 07:39] mzeitlin11 commented on #37888
`df.str.contains` uses `regex=True` by default. Running
[code]
returns
[code]

[2020-11-16 07:48] jorisvandenbossche commented on #37859
The problem here is not that we don't have boolean index, but it's indeed the actual Series vs Index constructor that behaves differently, as @dsaxton notes.
For Index, we keep object dtype and don't coerce to float, and then the None vs NaN gets casted to bool differently.

I am not sure there is anything we can do about this, except aligning the constructors (and maybe if at some point the nulla

[2020-11-16 08:18] 530435745 opened #37889 "BUG:BadZipFile CRC-32 for file 'docProps/core.xml' when I use pandas read excel accord an error ""
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-16 08:19] 530435745 opened #37890 "BUG:BadZipFile CRC-32 for file 'docProps/core.xml' when I use pandas read excel accord an error "BadZipFile CRC-32 for file 'docProps/core.xml' ". Python"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-16 08:20] 530435745 commented on #37890
python version 3.7.0

[2020-11-16 09:01] xhochy commented on #33315
For me this is a really big annoyance that I always need to remove it when I work on pandas but I guess new contributors will just be discouraged to even look into contributing when they don't get it to build locally. Removing `.Werror` requires the knowledge from the contributor that this flag actually exists and you can workaround that. Without this flag, contributors are faced with errors about

[2020-11-16 09:02] MarcoGorelli opened #37891 "CI upgrade pyupgrade to v2.7.4"
This should just be a matter of changing the version number to v2.7.4 for pyupgrade in .pre-commit-config.yaml, and checking that all still passes:
[code]
If it does, please open a PR to upgrade - else, report on any failures

[2020-11-16 09:11] jgehrcke commented on #22594
Related, might help some:
https://stackoverflow.com/q/30133280/145400
https://stackoverflow.com/q/50675920/145400

[2020-11-16 09:11] xhochy commented on #36893
I think most of the implementations would subclass from the SQLAlchemy engine again. We would like to reuse the table (re)creation routines and similar convenience patterns from it and only overload the actual "data retrieval" / "data push" part.

[2020-11-16 09:29] ma3da commented on #37763
Yes, I'd say this follows from two things:
* when your DF is instantiated, only one "nan array" is created, which will be associated with all its columns, as they were provided no data ([here](https://github.com/pandas-dev/pandas/blob/c77fc357efbe9443ad8e32b9ce34599e61bcd3f5/pandas/core/internals/construction.py#L271-L272)),
* in the case of categorical columns, the block manager keeps one block p

[2020-11-16 09:36] MarkiesFredje opened #37892 "BUG: pandas not connecting to private S3 endpoint"
#### Problem description

Connecting to  https://bucket.s3.amazonaws.com rather then private endpoint

[code]
as workaround I do:

[code]

#### Expected Output

Connecting to private S3 bucket

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release

[2020-11-16 10:42] bersbersbers commented on #33014
@ss-is-master-chief how is it going? :)

[2020-11-16 11:20] ivanovmg commented on #37882
I confirm the issue on master.

Ever overriding ``__repr__`` and methods does not make a difference.

[code]

Output:
[code]

[2020-11-16 11:22] ivanovmg commented on #37757
Should we close this issue then?

[2020-11-16 11:54] #37757 closed

[2020-11-16 11:56] jreback commented on #37882
Index is not trivially subclasses and needs a fair amount of hooks

welcome to have a fully working example but you would have to dive into the current implementation

not sure subclassing makes a whole lot of sense generally

[2020-11-16 12:03] treszkai commented on #37763
memory-efficient solution.

In what situation is it necessary to spare memory temporarily, until the
elements of the DataFrame are set? When the user asked for a categorical
dtype for the whole DF, it's reasonable to assume that all columns will be
used as such, no?

Luis Pinto <notifications@github.com> schrieb am Mo., 16. Nov. 2020, 10:29:

[2020-11-16 12:19] ma3da commented on #37763
@treszkai I do agree with you. But I'm not versed enough in the library's internals to feel confident there are no subtleties I'm missing :)

[2020-11-16 13:36] acturner commented on #37882
@jreback Would love an example of how to do this if possible!

[2020-11-16 13:45] ma3da commented on #37811
Hi @Ivan-basis, are you interested in writing the fix?

[2020-11-16 13:59] jreback commented on #37882
well someone would need to write the docs after understanding how it could work and of course out testing inplace for doing this arbitrarily

so welcome pull requests

[2020-11-16 14:03] okz opened #37893 "BUG: fixed length string data type specifiers, are ignored on astype calls, if they are passed in a dictionary"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-16 14:53] kuraga commented on #21968
Reproduced in 1.1.3: https://gist.github.com/kuraga/9aa46967ee7ab3fac93214331a404356

[2020-11-16 15:14] Ivan-basis commented on #37811
@ma3da yes, thank you! I'll make a pr from my base account soon. It's my first pr, so it takes time a little)

[2020-11-16 15:27] kuraga commented on #21968
Created https://bugs.python.org/issue42372.

[2020-11-16 15:47] BAlmeidaS commented on #37891
May I take this one?? This is gonna be my first contribution to Pandas. I know that I should have answered it with `take`, but I'm felling that I must justify myself.

[2020-11-16 15:50] MarcoGorelli commented on #37891
sure, go ahead!

[2020-11-16 16:13] jbrockmendel commented on #33315
@xhochy has convinced me, largely based on the "new contributors will just be discouraged" point.

@WillAyd could we remove -Werror and then check an env flag to potentially restore it?  Then could suggest to experienced contributors that they should enable that flag.

[2020-11-16 16:13] bdatko commented on #35144
@HughKelley Thank you for the information. Reviewing the the 1.2.0 release notes under [reshaping](https://pandas.pydata.org/docs/dev/whatsnew/v1.2.0.html#reshaping) the bug was indeed fixed. I installed pandas 1.2.0 from Github using

[code]
and the og's example works as expected. =D

A side note:
I couldn't install using your suggested pip command. When I do `pip install git@github.com:pandas-de

[2020-11-16 16:24] twoertwein commented on #37892
thank you for your report @MarkiesFredje!

Pandas is internally using `fsspec` to open s3 files. Do you mind trying to use `fsspec` to explicitly open a file, it should be something like:

[code]
That will help us to see whether it is an issue with fsspec or not.

`read_parquet`, is actually using a slightly different code path (to also work with directories):

[code]

[2020-11-16 16:48] HughKelley commented on #35144
Sorry i use an SSH key to communicate with github. You probably would have succeeded with `https://github.com/pandas-dev/pandas.git` instead as it relies on https instead of ssh.

glad you got it working

[2020-11-16 17:13] WillAyd commented on #33315
I don’t really buy that this discourages new contributors. On most platforms there are no issues, and we’ve added a few new supported platforms since this has been enabled (all from new contributors). It gives a good baseline that we can actually support a platform and we’ve fixed a good deal of bugs along the way with it.

It would be helpful to frame the discussion if there was a current list of

[2020-11-16 17:55] jontis opened #37895 "BUG: pandas read_csv silently switches date parsing scheme in the middle of reading file corrupting data"
In pandas 1.1.4

[code]

#### Problem description

I provoked pandas here (initially by mistake) by letting it parse a file with date format day / month / year, with it's default parser month / day / year. To my horror, it parses the ones that give a valid date with the default parser, and automatically uses the alternative parser on the ones that fails. Giving a mix of dates and without any warni

[2020-11-16 18:07] galipremsagar opened #37896 "BUG: RangeIndex is being materialized to a column while writing to parquet file when `index=True`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-16 18:18] galipremsagar opened #37897 "BUG: Empty dataframe with valid index object is not being read correctly via parquet reader"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-16 18:52] jreback commented on #37896
@jorisvandenbossche but this likely a pyarrow issue

[2020-11-16 18:54] jreback commented on #37897
likely a pyarrow issue
cc @jorisvandenbossche

[2020-11-16 18:55] jreback commented on #37895
this is a duplicate issue
pls have a look - and welcome patches

[2020-11-16 20:07] jorisvandenbossche commented on #37897
(thanks for the ping, will take a look later this week)

[2020-11-16 20:08] jontis commented on #37895
I have noticed some issues and discussions about pandas being "flexible" and being able to infer date format and handle different date formats within files. I may consider it a questionable strength to be able to read different date formats from different feature columns, but switching format within the same column is very dangerous and should be off by default.

[2020-11-16 20:21] oguzhanogreden opened #37899 "BUG: pd.DataFrame.replace(to_replace: list, method: str) raises TypeError: No matching signature found"
- [x] I have checked that this issue has not already been reported: [search query](https://github.com/pandas-dev/pandas/issues?page=2&q=is%3Aissue+is%3Aopen+replace+Categorical)

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas: Tested with '1.2.0.dev0+1137.g50b34a4a8')

---

#### Code Sample,

[2020-11-16 20:28] oguzhanogreden commented on #37899
I know too little about Cython and the type system that's used. My guess is that this may be happening due a mismatch between the types defined in `algos_t` and `CategoricalDtype`.

[2020-11-16 21:25] jorisvandenbossche commented on #37882
The xarray project actually has an Index subclass (see https://github.com/pydata/xarray/blob/23dc2fc9f2785c348ff821bf2da61dfa2206d283/xarray/coding/cftimeindex.py), which I think is actively being used

Now, the main issue that is shown above by the small examples is that you can't subclass `Index` without overriding the ``__new__`` method. That's because the base class Index constructor will infe

[2020-11-16 21:33] enigdata opened #37900 "quantile function failure"
If I create a dataframe like this:

[code]

quantile function would not work properly for multiple columns:
[code]

Error message as follows:
[code]

[2020-11-16 22:14] acturner commented on #37882
@jorisvandenbossche Thanks this makes sense!

[2020-11-16 22:54] phofl commented on #37900
This does not raise on master but returns an empty Series
[code]

Unless I am missing something, this does seem weird

[2020-11-16 22:58] phofl commented on #37900
Actually I did miss something. Your DataFrame columns are from dtype object. The default is ``numeric_only=True`` which means they are ignored

[code]

returns

[code]

Which version of Pandas are you using? This does not raise on 1.0.5 for me either.

[2020-11-16 23:16] enigdata commented on #37900
Thank you very much!  That was exactly the solution.

[2020-11-16 23:16] #37900 closed

[2020-11-16 23:56] jbrockmendel commented on #36329
@rhshadrach can you give this a more helpful title

[2020-11-17 00:06] jbrockmendel commented on #35528
xref #37772 this is technically correct as is, but it isnt uncommon for people to be confused by it

[2020-11-17 00:15] #21989 closed

[2020-11-17 01:17] #34871 closed

[2020-11-17 01:21] #26468 closed

[2020-11-17 01:26] #27315 closed

[2020-11-17 02:05] TomAugspurger commented on #33315
If you're using the conda compilers on OS X, you'd see something like: https://github.com/conda-forge/pandas-feedstock/pull/84#issuecomment-660335103

[2020-11-17 02:12] anthonytw commented on #15354
@mroeschke wrt to the first example ([3]), the results are not what I would expect. I assume this is a trailing window (e.g., at index=0 it would be the max of elements at -1 and 0, so just max([0]), then it should step forward "1" index, to index=0+step=1, and the next computation would be max([0,1]), then max([1,2]), etc. What it looks like you meant to have was a step size of two, so you would

[2020-11-17 02:22] bergen288 commented on #37883
Your suggestion helps.  Thanks.

[2020-11-17 02:28] TakuNishiumi commented on #37888
@mzeitlin11,

Thank you!!

[2020-11-17 02:28] #37888 closed

[2020-11-17 03:37] jreback commented on #37895
duplicate of #12585
bugs - even long standing ones are fixed by community contributions which we are happy to take

[2020-11-17 03:38] #37895 closed

[2020-11-17 04:24] theMogget commented on #37158
@dsaxton Ah, you're right, sorry - I even recall seeing that in the docs before, too! I must have gotten too caught up with trying to investigate it in the code that I forgot the surface-level docs.

I still do think that the behaviour is a bit odd, but since it's documented and expected I'll go ahead and close this issue. Thanks!

[2020-11-17 04:24] #37158 closed

[2020-11-17 06:17] WillAyd commented on #33314
I am unable to reproduce this on macOS - can you check this is still relevant?

<details>

conda list
# packages in environment at /Users/williamayd/miniconda3/envs/pandas-compile-test:
#
# Name                    Version                   Build  Channel
c-compiler                1.1.2                hc929b4f_0    conda-forge
ca-certificates           2020.11.8            h033912b_0    conda-forge

[2020-11-17 06:59] MarkiesFredje commented on #37892
Thanks for your reply  @twoertwein , I learned a few things from your post

Good news is, your test went just fine.  I share my code below.

[code]

`file_obj `is fine, same for `result `dataframe.

[2020-11-17 08:06] jorisvandenbossche commented on #33315
Because we already skip it on Windows as well ...

We can keep it o CI to catch regressions related to this.

The issue is actually because it inherently doesn't always match (locally you can have different OS version, compiler toolchain, etc), so that you run into different issues locally. It's impossible to make the two match exactly.

Yes, it can be annoying that you locally don't get an error,

[2020-11-17 08:49] marco-neumann-by opened #37910 "BUG: EA inplace add (and other ops) with non-EA arg broken"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas (`1.0.4`).

- [X] (optional) I have confirmed this bug exists on the master branch of pandas (`87247370c14629c1797fcf3540c6bd93b777a17e`).

---

#### Code Sample, a copy-pastable example

[code]

Note that the issue is NOT specific to the integer EA, but happe

[2020-11-17 09:23] #37891 closed

[2020-11-17 13:50] WillAyd commented on #33315
Ok sure let’s remove

Sent from my iPhone

[2020-11-17 14:51] FenderJazz commented on #36327
It looks different from  #35646 to me -- is specifically about categoricals, and happens with >1 groupby columns?

# Your code here
ser = pd.Series([1., 1., 1., 1.])

cat = pd.Categorical(['a', 'b', 'c', np.nan])
df = pd.DataFrame({'ser': ser, 'cat1': cat, 'cat2': cat})
print(df.groupby(['cat1', 'cat2'], observed=True, dropna=False).sum())

cat = pd.Series(['a', 'b', 'c', np.nan])  # Same but not

[2020-11-17 16:11] twoertwein commented on #37892
thank you for testing! Can you please provide the error message you are getting with (including which file throw the error)
[code]

[2020-11-17 17:25] jbrockmendel commented on #37910
best guess is this can be fixed by changing `result.dtype == self.dtype` to `is_dtype_equal(result.dtype, self.dtype)`

[2020-11-17 19:32] mroeschke commented on #15354
Thanks for the clarification @anthonytw. Indeed, looks like I needed to interpret `step` as "step to point".

As for the NaNs, I understand the sentiments to drop the NaNs in the output result automatically, but as mentioned in https://github.com/pandas-dev/pandas/issues/15354#issuecomment-278676420 by @jreback, there is an API consistency consideration to have the output have the same length as t

[2020-11-17 20:20] arw2019 opened #37915 "ENH: should we support np.allclose for ExtensionArrays?"
xref https://github.com/pandas-dev/pandas/pull/33435/files#r406534850

I'm looking into picking up #33435. Currently the issue is that `np.allclose` throws when called on an EA:

[code]
The error message is about the `isfinite` ufunc not being implemented. The root cause here is that `np.isclose` calls `np.asanyarray` on its inputs and the following triggers the same error:
[code]
The issue is tha

[2020-11-17 20:35] jorisvandenbossche commented on #37833
cc @jbrockmendel

[2020-11-17 20:50] jorisvandenbossche commented on #37910
@marco-neumann-by Thanks for the report!

It seems we don't really have testing for inplace ops for EAs ..

[2020-11-17 20:51] ohinds commented on #24889
I'm still seeing this memory leak on `to_json()` as of 1.1.4.

A slightly modified version of the original reproduction script:
[code]

[code]

[2020-11-17 20:52] anthonytw commented on #15354
@mroeschke I think exceptions should be made. So long as the you put an explicit note in the documentation, and the behavior is not default, no one will be adversely affected by not returning a vector full of junk. Keeping NaNs defeats half the purpose. One objective is to limit the number of times we perform an expensive computation. The other objective is to minimize the feature set to something

[2020-11-17 21:32] OlehKSS commented on #37643
Hi, I've created a pull request to solve this issue for `Categorical.remove_unused_categories`. Could you check it?
For the other methods, should I create separate pull requests for each one of them so as to keep them small?

[2020-11-17 22:37] #33730 closed

[2020-11-17 23:11] phofl commented on #19290
As discussed in #37772 this is expected

[2020-11-17 23:11] #19290 closed

[2020-11-17 23:28] jbrockmendel commented on #37833
im seeing a 19% slowdown vs 1.1.4, vs more than 2x on the link.  can anyone else reproduce either of these measurements?

[2020-11-18 00:36] #16037 closed

[2020-11-18 00:55] #37454 closed

[2020-11-18 01:16] adriantorrie commented on #35622
For anyone else running into this, we just pinned `pandas==1.0.5` and it installed successfully.

[2020-11-18 01:19] arw2019 opened #37925 "CI: mypy error in pandas/core/indexes/datetimelike.py::_simple_new"
Seeing this in a bunch of unrelated PRs (my own and others'):
[code]
I wonder if it's a bug on master?

[2020-11-18 01:22] arw2019 commented on #37925
Fixed by #37914. Closing

[2020-11-18 01:22] #37925 closed

[2020-11-18 01:35] ben519 opened #37927 "QST: Does pandas merge guarantee that row order preserved from both tables, even if duplicate keys exist?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.
---

Suppose I left join a DataFrame `B` onto `A`  (with `sort=False`) such that some keys are duplicated in both A and B. Is the resulting DataFrame guaranteed to be lex-sorted based on the occurrence of rows in A and then B? For example...

If I make two DataFrames

[2020-11-18 02:14] Jasonsey opened #37928 "BUG: SingleBlockManager' object has no attribute 'external_vaues' while using drop_duplicate"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprod

[2020-11-18 03:02] rhshadrach commented on #37890
Looks like you're trying to use pandas `read_excel` to read an xml file, is that accurate?

[2020-11-18 03:02] rhshadrach commented on #37889
Duplicate of #37890

[2020-11-18 03:02] #37889 closed

[2020-11-18 03:14] jbrockmendel opened #37929 "API: make CategoricalDtype.__eq__ stricter"
We allow for partially-initialized CategoricalDtypes to compare as equal to fully-initialized ones, leading to some surprising behaviors.  The one that I stumbled over was this:

[code]

We should stop special-casing categories=None for this purpose.

[2020-11-18 03:18] jreback commented on #37929
this was for back compat

iirc there should be some issue refs in the dtypes def

but agreed we should fix this

[2020-11-18 03:19] jbrockmendel opened #37930 "INT: include NA values in Categorical.categories"
There are a bunch of places in CategoricalIndex where we check something like:

[code]

This leads to ambiguity, as a -1 code can indicate an NA value that is present, or a non-NA value that is not among self.categories.  Having to sort out which we're looking at is a hassle which we should try to avoid.

[2020-11-18 03:32] jreback commented on #37930
we don't allow na values in the constructor by definition so this should be unambiguous

[2020-11-18 03:46] jbrockmendel commented on #37930
which constructor doesnt allow NA values?  I can do

[code]

[2020-11-18 04:34] jbrockmendel commented on #37929
The other surprise I found when going to fix this was that `pandas_dtype("categorical")` has `ordered=None` while `CategoricalDtype()` has `ordered=False`

[2020-11-18 06:02] sghoshca commented on #26042
df=df1.append(df2)
df.to_csv(file, index=False)
is not working
The file still has index

[2020-11-18 06:24] 530435745 commented on #37890
Thank for your reply, the fact is that I use pandas to_excel made an excel, and then I read it.  It likes orign content contains some error code made the xlsx file CRC-32 error. Just like \xa0 which can not use gbk encoding.

[2020-11-18 06:25] 530435745 commented on #37890
Thank for your reply, the fact is that I use pandas to_excel made an excel, and then I read it. It likes orign content contains some error code made the xlsx file CRC-32 error. Just like \xa0 which can not use gbk encoding.

[2020-11-18 06:47] MarkiesFredje commented on #37892
I added a trace at the bottom of the post, but I suspect its not very helpful.
**I suspect dict_ecs parameters are ignored or lost in translation somewhere**
The code attempts to connect to AWS, which it shouldn't since I pass a different endpoint.
I believe the trace reflects the firewall blocking off traffic to AWS.

[code]

[code]

[2020-11-18 08:39] KaiRoesner opened #37934 "BUG: json_normalize() does not parse floats in scientific notation"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-18 08:51] korakot commented on #28210
I search everywhere about how to read a csv file with IntervalIndex. Eventually, I found the solution, so I wanna share it here.

[code]

[2020-11-18 08:53] jorisvandenbossche commented on #37833
So the snippet from the benchmark is basically:

[code]

Locally I see a 2x slowdown on master vs 1.1.

Comparing the snakeviz profiles, the additional times seems to come from `_putmask_simpe`

[2020-11-18 08:59] jorisvandenbossche commented on #37833
I suppose the main difference is that `np.putmask` is actually faster as `__setitem__` (with the data from example above):

[code]

(now, I don't know if this difference scales with larger data)

[2020-11-18 09:25] KaiRoesner opened #37935 "BUG: json_normalize() upcasts column with missing values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-18 10:03] alexiska opened #37936 "BUG: style.background_gradient works in jupyter but not in Github"
The bakground color gradient works fine in jupyter but when I upload it to Github the color disappears. Is there anyway I can fix this?

From jupyter
![image](https://user-images.githubusercontent.com/38601205/99515458-47671e80-298d-11eb-9cba-1c05ed5f0862.png)

After uploading to Github
![image](https://user-images.githubusercontent.com/38601205/99515685-901ed780-298d-11eb-9287-5e6bed9693ea.png)

[2020-11-18 11:25] ma3da commented on #37928
Hi, this has since been corrected.
[code]

[2020-11-18 11:50] #37928 closed

[2020-11-18 11:50] MarcoGorelli commented on #37936
Hi @alexiska

If I've understood correctly, this sounds like an issue in how GitHub renders notebooks rather than in pandas?

[2020-11-18 11:56] jreback commented on #37934
json_normalize doesn’t parse anything
this is all json.loads which makes a dictionary

[2020-11-18 11:56] jreback commented on #37934
to get correct dtypes use read_json

[2020-11-18 11:56] #37934 closed

[2020-11-18 12:03] jreback commented on #37930
check the categories

[2020-11-18 12:04] KaiRoesner commented on #37934
I can't use read_json because I need to flatten nested columns.

[2020-11-18 12:12] jreback commented on #37934
then u will need to some work to preprocess - try using to_numeric

[2020-11-18 12:12] KaiRoesner commented on #37934
Hm. But `json.loads()` doesn't parse either if the floats are represented as strings in the json string. I tried using the `parse_float` kwarg but it doesn't even get called for these columns. I thought `pandas.read_json()` and `pandas.json_normalize()` should behave in the same in this respect.

[2020-11-18 12:25] jorisvandenbossche commented on #37930
When Categorical was originally added, it did support missing values in its categories (which means there are basically two ways to have missing values: a -1 in the codes, or a missing value in the categories). But shortly after, we changed that only allow a single way, i.e -1 in the codes, and thus disallow missing values in the categories.

General constructors like `pd.Categorical(["A", "B", np

[2020-11-18 12:26] TomAugspurger commented on #37930
There's another issue somewhere discussing this, but I can't find it right now. At the time, we (I) decided against including NA-like values in the categories.

[2020-11-18 12:28] jorisvandenbossche commented on #37929
I think in general I think this "uninitialized" CategoricalDtype object is to support the general `"categories"` dtype. So if we want to make the dtype more strict, we will need to come up with an alternative way to support this.
(that's not to say that there might be something buggy in the specific example case you show, but that's for astyping an array that is already categorical)

[2020-11-18 12:29] TomAugspurger commented on #37936
GitHub doesn't render CSS or execute javascript in notebooks. IIRC it was a security concern.

[2020-11-18 12:29] #37936 closed

[2020-11-18 13:49] jorisvandenbossche commented on #37897
It's indeed a pyarrow issue, but not directly related to Parquet itself, but the pandas <-> pyarrow roundtrip is already failing for this corner case:

[code]

I opened https://issues.apache.org/jira/browse/ARROW-10643 for this, contributions to fix this are always welcome!

Since it is an issue on the pyarrow side, closing this.

[2020-11-18 13:49] #37897 closed

[2020-11-18 13:53] #32431 closed

[2020-11-18 13:54] MarcoGorelli commented on #37936
FWIW, it might display correctly if you view it with nbviewer

[2020-11-18 13:55] jorisvandenbossche commented on #37896
See the documentation of the `index` keyword of `to_parquet`:

[code]

So with specifying `index=True`, the index is always materialized as actual column in the parquet file.

As explained above, that's the exact purpose of having `index=True` vs `index=None` that they do something differently in this case.

[2020-11-18 13:55] #37896 closed

[2020-11-18 14:07] OlehKSS commented on #37643
take

[2020-11-18 14:22] jorisvandenbossche commented on #37643
I am not sure we should deprecate the inplace ability for all of those. For example, for `set_categories`, or `rename_categories`, this operation *can* actually happen inplace, and can thus be beneficial.

[2020-11-18 14:25] MarcoGorelli commented on #36469
@ivanovmg Someone at PyDataGlobal had the same issue and also got it resolved with
[code]

If you could check it works for you then perhaps we could add it to the docs

[2020-11-18 14:30] TomAugspurger commented on #37643
Agreed. It can be expensive to copy all the data (codes) when not necessary.

[2020-11-18 15:09] marlenezw opened #37937 "BUG: Concat automatically sorts index when axis=1"
---
#### Problem description

Hi! I've noticed that when concat'ing DataFrames, along `axis=1`, integer indexes are automatically sorted even when `sort=False`. This is not the case when `axis = 1` and we have a stringIndex. This also diverges from when `axis=0`. This behaviour is a bit confusing and so I thought it might be a bug.

In the [_unique_indices](https://github.com/pandas-dev/pandas/blo

[2020-11-18 15:21] nadukandi commented on #36768
Is there an example where the left and right boundaries are list-like ?
e.g. `s.between([1,2], [3,4])` (this does not work though).

[2020-11-18 15:42] twoertwein commented on #37892
Thank you! The relevant code seemed to have changed quite a bit since 1.0.5. Do you mind updating to 1.1.4 to see whether you still have the issue (or if possible see whether it works on master).

[2020-11-18 16:08] esc opened #37939 "QST: how to run Pandas tests involving Numba on installed package"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

I am trying to run the Pandas tests involving Numba like so:

[code]

But unfortunately all 49 tests fail with the same error:

[code]

Perha

[2020-11-18 16:08] jbrockmendel commented on #37643
i was thinking we'd get a view on the codes, just a new Categorical object.  This should be cheap.

[2020-11-18 16:17] jbrockmendel commented on #37930
I'm not finding it either, but i think there was something about trying to a specific NA value or possibly multiple distinct NA types.

[2020-11-18 16:18] charlesdong1991 opened #37940 "CI: flake8 check does not work properly"
xref #37938

Have seen it in #37923 and in #37703 , so ci checks ran successfully in those feature PRs, but actually they should have detected this unused import.

Basically flake8 check in CI should detect cases such as `unused imports`, however, right now, observed from those two PRs, it didn't detect them in feature PRs and then resulted in CI failure on master

[2020-11-18 16:28] jbrockmendel commented on #37169
#37746 disabled the tests/plotting tests on windows builds.  a PR before that disabled the tests/window tests

[2020-11-18 16:30] #37940 closed

[2020-11-18 16:45] jbrockmendel commented on #37833
Huh, good to know!  ill make a PR to update putmask_simple and see if that solves the issue

[2020-11-18 17:21] astrowonk opened #37941 "ENH: An argument for .query() that returns all rows"
#### Is your feature request related to a problem?

Pandas query strings are very useful, however when using a variable to pass in the query, e.g.

```df.query(my_query)```

There is no null or empty `my_query` that will return all rows. An empty string returns a ValueError. Any non-string argument returns

#### Describe the solution you'd like

An empty string or None or some keyword argument (ev

[2020-11-18 17:41] marktgraham commented on #30999
I can take these:

-  pandas/tests/io/pytables/test_timezones.py
-  pandas/tests/generic/methods/test_pipe.py
-  pandas/tests/reshape/merge/test_merge_asof.py
-  pandas/tests/extension/base/reduce.py
-  pandas/tests/arrays/test_datetimelike.py

These are the top 5 in the list as of today.

[2020-11-18 17:44] mroeschke commented on #37939
Can you run the numba tests by specifying a path?

`pytest pandas/tests/window/test_numba.py`?

[2020-11-18 17:49] esc commented on #37939
@mroeschke no, because I installed the package via `conda` and would like to run from the installed package.

[2020-11-18 17:59] lrusnac opened #37942 "BUG: Area plot overwrites matplotlib's default share y axes behaviour"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The area plot overwrites matplotlib's share y axes behaviour if `sharey` parameter is not pas

[2020-11-18 18:01] Praveenk8051 commented on #37715
@sidram05 Are you working on this ?

[2020-11-18 18:17] fiendish commented on #28547
Given that people using pandas are often not in control of the data they receive, would it be possible for pandas-dev to patch xlrd's broken use of getiterator?

[2020-11-18 18:21] #8628 closed

[2020-11-18 18:35] #18853 closed

[2020-11-18 19:25] jreback commented on #28547
we don’t maintain xlrd at all

i suppose a monkey patch makes it work from the community would be ok

[2020-11-18 19:40] fiendish commented on #28547
Ok, I ask because, even aside from the fact that we still get xls files, openpyxl relies on reading a file extension which may not exist (xlrd handles this). So I'm not excited by talk of dropping xlrd.

[2020-11-18 19:45] jbrockmendel commented on #14586
I'm running into this in a couple of places, mainly in setitem-with-expansion operations:

[code]

xref #37774 im inclined to cast rather than raise here.  One option that this could look like is:

[code]

(another option would be to work this behavior into concat_compat; i havent thought about this much.  I guess i do like this idea on the principle of having every concat-like operation behave th

[2020-11-18 19:50] jbrockmendel commented on #37833
By updating putmask_simple I get this particular example to _slightly_ faster than 1.1.4.  WIll have to wait and see if the asv machine sees the same difference as i do locally.

[2020-11-18 22:08] fiendish commented on #28547
Yeah, nobody does :( , so even though this bug is absolutely trivial to fix there's nowhere to submit the patch -> https://github.com/python-excel/xlrd/compare/master...fiendish:master

[2020-11-18 22:25] ukarroum commented on #37941
Can you give an example of use cases, when you think having this feature can be useful ? (As oposed to just using `df` instead of `df.query(None?)` )

As mentionned here : https://stackoverflow.com/a/53861261/14517936 , if you really have to use `df.query` you can always do :

[code]

or :

[code]
if your df is not a multiindexed.

[2020-11-18 22:27] ukarroum commented on #37939
Unrelated to your initial question, but you can always print `pandas.__file__`, and use the command (the one mroeshke specified) on the new path.

[2020-11-18 22:28] flcong opened #37947 "Slow autocompletion in python/ipython console for large DataFrame containing strings"
I'm not sure if this is the right place to ask, but it seems the autocompletion in python or ipython console is especially slow for large DataFrame with strings (object) in it.

For example, consider the following two DataFrames:

[code]

By typing `df1.<TAB>` in the interactive python/ipython session, the autocompletion is quick, but it takes a very long time for `df2.<TAB>` to finish (it gets st

[2020-11-18 23:30] jreback commented on #28547
you can try to monkey patch - if it works would be willing to consider a patch

[2020-11-19 00:02] twoertwein opened #37949 "ENH: IntervalIndex as groups in groupby"
#### Is your feature request related to a problem?

I often have a list of (variable-size) intervals and I want to aggregate multiple statistics for these intervals.

[code]

#### Describe the solution you'd like

It would be cool (and probably faster) to do:

[code]

[2020-11-19 00:22] #22046 closed

[2020-11-19 00:22] #37593 closed

[2020-11-19 00:29] astrowonk commented on #37941
I have a variable _query that is sometimes None, sometimes various different user defined queries. Right now I'm doing something like the conditional in my original post, so I check the `_query` and don't call `.query(_query)` if it's None.

I'm sorry I did not find that stack overflow. I read the documentation for `query` which did not mention any way to return all rows. It seems to me that addin

[2020-11-19 00:32] jreback commented on #31922
hmm this looks ok now. closing as fixed in https://github.com/pandas-dev/pandas/pull/36283

[2020-11-19 00:32] #31922 closed

[2020-11-19 00:33] jreback commented on #36429
these are still failing?

[2020-11-19 00:45] paedrik commented on #14574
Easy workaround... turn it into a string first...
.apply(lambda x: ','.join(x)).value_counts()

[2020-11-19 02:07] #37833 closed

[2020-11-19 02:09] #34777 closed

[2020-11-19 02:10] jreback commented on #37947
pls `show_versions()` this is not an issue on master

[2020-11-19 03:27] jbrockmendel commented on #37863
@jreback @mroeschke tracking this down im finding that changing it causes test failures largely in resample tests.

For an example, if we disable the needs_i8_conversion check in Index.argsort, then the following:

[code]

If we breakpoint just before the call to ` result = self._aggregate(result, counts, values, codes, func, min_count)` we can see that in master (with the .asi8 argsort) `codes` i

[2020-11-19 03:35] jreback commented on #37863
see this PR which I think will fix: https://github.com/pandas-dev/pandas/pull/37905, this PR: https://github.com/pandas-dev/pandas/pull/36198 (which going to close), but has a list of the issues

#27343
#33548
#35275

[2020-11-19 03:43] flcong commented on #37947
INSTALLED VERSIONS
------------------
commit           : 67a3d4241ab84419856b84fc3ebc9abcbe66c6b3
python           : 3.8.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 13, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : No

[2020-11-19 05:50] liaoaoyuan97 commented on #30999
@marktgraham If you haven't done `test_datetime.py` yet. Please leave it alone as I am about to make a PR

[2020-11-19 06:26] Rprabudeva commented on #37692
I would like to contribute this one

[2020-11-19 06:44] MarkiesFredje commented on #37892
I have updated my environment to `pandas 1.1.4` and tested again.
The situation changed:

[code]
Results in new error:

[code]

[2020-11-19 07:06] twoertwein commented on #37892
thank you! Looking at the code and the documentation, it seems that 1.1.4 does not support `storage_options` for `read_parquet`. 1.2 will support `storage_options` for `read_parquet` :)

I hope you can open the s3 file with `fsspec` until 1.2 will release.

[2020-11-19 07:18] MarkiesFredje commented on #37892
Not a problem, we have a work-around, looking forward to v1.2 and testing again.
Appreciate your time and support.

[2020-11-19 08:08] jorisvandenbossche commented on #37949
I think you can already do this with `pd.cut` ? You can create an IntervalIndex by binning your float index with the defined starts/ends using `pd.cut`, and use that to group by.

[2020-11-19 08:24] jorisvandenbossche commented on #37947
This is also an issue on master.

The reason is that `jedi`, the package providing the tab completion info for IPython, is executing all attributes while getting this info. And doing a profile on your example case, it seems that it is `df2.T` that is the one very slow attribute of the DataFrame causing this slow tab completion (that's also the reason that `df2.a<TAB>` doesn't have the issue).
See

[2020-11-19 08:30] jorisvandenbossche commented on #37947
Now, in the meantime, `jedi` has improved (see eg https://github.com/davidhalter/jedi/issues/520#issuecomment-570835938), and I was myself not using the latest version. After upgrading jedi in my local environment from 0.15 to 0.17, the issue mostly went away.

@flcong can you check the version of jedi that you are using? (`import jedi; jedi.__version__`)

[2020-11-19 08:30] phofl commented on #37692
Ping @allenmac347 are you still working on this?

[2020-11-19 08:46] mitar commented on #22046
Thanks.

[2020-11-19 10:00] marktgraham commented on #30999
@liaoaoyuan97 no worries, I haven't touched `test_datetimelike.py` yet.

I will take pandas/tests/extension/base/getitem.py instead.

[2020-11-19 10:47] allenmac347 commented on #37692
Hi, yes I am still working on making tests. I have been busy with classes lately but with Thanksgiving break coming up I should be more free to work on this issue. My apologies for the delay.

[2020-11-19 10:48] ivirshup opened #37954 "BUG: df.__setitem__ can be 10x slower than pd.concat(..., axis=1)"
- [x] I have checked that this issue has not already been reported.
  * I think so, it's a bit hard to search for though. Nothing under concat and __setindex__

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/0

[2020-11-19 11:27] nf78 opened #37955 "ENH: Add argument "multiprocessing" to pd.read_csv() method"
#### Is your feature request related to a problem?

When the method pd.read_csv() is called, unfortunately this doesn't take advantage of the multiprocessing module, making it inefficient to read multiple datasets, especially when more cores are available to work.

Other modules like modin or dask, already implement this, but I think that pandas should implement by itself, if called for.

#### Des

[2020-11-19 11:31] nf78 opened #37956 "ENH: Add argument "multiprocessing" to DataFrame.apply() method (any axis)"
#### Is your feature request related to a problem?

When a function is passed to DataFrame.apply (with any axis) unfortunately, this doesn't take advantage of the multiprocessing module, making it inefficient for large datasets, especially when more cores are available to work.

Other modules like modin or dask, already implement this, but I think that pandas should implement by itself, if called

[2020-11-19 11:52] jreback commented on #37955
we have multi threaded tests for this here: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/io/parser/test_multi_thread.py

we do have an engine= argument for many functions already - but these are designed to not be multi processing

this is introducing a whole level of complexity that pandas does not need

so not completely averse but would have to be convinced that this is a good

[2020-11-19 12:03] filiphl commented on #22707
Installing xclip fixed this for me.

[2020-11-19 12:22] nf78 commented on #37955
Thanks for your quick reply.

I had a look at the link provided, but it is just a test file and not a final implementation? Also not further commits since June.

The engine argument is for "c" or "python" in read_csv(), and like you said those are not multithreading.

I use pandas everyday, and I would say that the benefit of having this option without a lower level of coding, would be quite benef

[2020-11-19 14:02] alexiska commented on #37936
Hi @MarcoGorelli
nbviewer seems to work. I was thinking thinking if I could do something to enable the colors if someone check out my repo in the future.

[2020-11-19 15:44] jreback opened #37957 "STYLE: fail on pd.testing direct usage"
`pd.testing.assert_series_equal(result, expected)`

should fail style checks, rather we want `tm.assert_series_equal`

we need to update any usages in the codebase as well as add this to the pre-commit checks.

[2020-11-19 15:56] twoertwein commented on #37949
Yes `pd.cut` works if there are no overlapping intervals:

`data.groupby(pd.cut(data.index, groups)).mean()`

but it doesn't work with overlapping windows. `pd.cut` thows:
`ValueError: Overlapping IntervalIndex is not accepted.`

Unfortunately, `pd.Categorical` (the output of `pd.cut`) also needs a many-to-one mapping which will not allow it to accept overlapping intervals.

[2020-11-19 16:03] jorisvandenbossche commented on #37949
Note that your example above doesn't use overlapping windows. The IntervalIndex you create with ``starts``/`ends` doesn't contain overlapping intervals?

[2020-11-19 16:05] jorisvandenbossche commented on #37949
Also in general, with the current implementation of `groupby`, each row can only belong to a single group. So I am not fully sure what you would expect with overlapping windows.

[2020-11-19 16:05] twoertwein commented on #37949
yes, you are right, the example doesn't cover that, here is one with overlapping intervals:

[code]

[2020-11-19 16:07] twoertwein commented on #37949
that is good to know - I think I saw it more from a windowing perspective and than noticed that `groupby` might also do a very similar jobs.

Do you think it might be possible to (ab-)use the `BaseIndexer` to then use `.rolling`?

[2020-11-19 16:14] jorisvandenbossche commented on #37949
I am not familiar enough with `BaseIndexer` to know, but I think it is worth a try.

[2020-11-19 17:27] esc commented on #37939
@ukarroum thanks, that was great advice. I patched up a solution in:

https://github.com/numba/numba-integration-testing/pull/58

But basically, the call looks like this on my machine:

[code]

[2020-11-19 17:55] jreback commented on #37949
yes the indexers provide a nice approach here
might be worth adding a PartionIndeder that groupby could accept

cc @mroeschke

[2020-11-19 18:15] mroeschke commented on #37949
BaseIndexer would be the more appropriate solution if you have arbitrary start and end points, but there are some implicit assumptions:

- The BaseIndexer subclass would need to return integer start and end points (unlike in your example where you are using floats), since its selecting windows from an underlying numpy array
- The BaseIndexer subclass would need to return as many start and end poin

[2020-11-19 18:28] twoertwein commented on #37949
Thank you for your comments!

I was implementing `BaseIndexer` but the above constraint leads to segfaults as the assumption is not met. Is there a way to use `BaseIndexer` outside of `rolling` (and still use the optimized cython functions)?

[2020-11-19 18:58] #13044 closed

[2020-11-19 19:45] mroeschke commented on #37949
Unfortunately no, `rolling` is the only API that accepts `BaseIndexer` subclasses.

In theory other APIs could accept it as it just returns start and end bounds but just needs to be implemented.

[2020-11-19 20:27] lawrennd commented on #33593
James, do you have the updated pickle? If so then I can fix this at source (I've just been discovering the bug when I try and access it!).

[2020-11-19 21:13] mroeschke commented on #8659
I don't think we need this high level tracking issue. There are not too many windowing issues and most are enhancement requests for other non apply methods. Closing.

[2020-11-19 21:13] #8659 closed

[2020-11-19 21:57] JamesAllingham commented on #33593
Hey Neil! Yes, here you go: https://www.dropbox.com/s/sxf3z1g7ltr60dy/filtered_data2.pickle?dl=0

Let me know If that doesn't work.

By the way, what is the source for this file? I acquired it through a long chain of people. It would be good to know where the official source is!

[2020-11-19 22:05] pandasnew opened #37962 "„case-when“ function is missing?"
I only started working with pandas a few weeks ago. What I often miss is a case-when-function. Here I always use the numpy equivalent np.where().
Is there a case-when-function in pandas not? If there is, I would like to add this functionality.

[2020-11-19 22:17] phofl commented on #37962
Hi,

have you looked at ``where`` and ```loc``?

[2020-11-19 22:24] JacekPliszka commented on #37850
OK, so it is more like feature request to implement any and all in Cython  - they should be faster and naively this is the way I would write...

[2020-11-19 22:25] pandasnew commented on #37962
You mean there where-function from numpy?

[2020-11-19 22:25] phofl commented on #37962
No, pandas has a where function

[2020-11-19 22:28] phofl commented on #37954
Hi, thanks for your report. We might have a different problem here.

The setitem example raises on master for me.

[code]

cc @jbrockmendel
The array seems to have the right dimensions, I think this should work?

[2020-11-19 22:32] pandasnew commented on #37962
But the pandas wher-function is similar to filter and and not like case when condition, then , else. Right?

[2020-11-19 23:11] lucasrodes commented on #30999
I can't run the `validate_unwanted_patterns.py` script

[code]

Seems to be related to #37419 perhaps?

I tried with the approach proposed by @MarcoGorelli and worked perfectly.

Does it make sense to add this to the `.pre-commit-config.yaml` and then update the instructions on this thread?

[2020-11-19 23:18] jreback commented on #37962
there is an example just added https://dev.pandas.io/docs/user_guide/indexing.html

about using np.select which is like case-when

[2020-11-19 23:26] jbrockmendel commented on #37954
@phofl i get the same, good catch.

@ivirshup the bug in master notwithstanding, further investigations into the perf difference would be welcome.  have you tried profiling the two versions (`%prun -s cumtime your_function()`)

[2020-11-19 23:31] giangiacomosanna opened #37963 "BUG:"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Currently some pandas string functions (eg str.replace, str.split) treat `"."` as a regex mat

[2020-11-20 00:09] cdknox commented on #36688
Since currently fsspec seems to not be a 100% drop in at the moment I copped out and just passed through storage_options to the header in the event the  is an http url.

First time contributor so if something is awry with the pull request simply let me know and I'd be glad to fix it.  I didn't notice the commit message guidelines until my last commit I made so sorry if that's an issue.

[2020-11-20 00:37] inspurwusixuan commented on #37957
Hi @jreback, can I take this? :)

[2020-11-20 00:58] jreback commented on #37963
there are a lot of very similiar issues eg https://github.com/pandas-dev/pandas/issues/24804

a single character is treated as not a regex. i suppose could be documented (i think it is in places).

PRs to fix are welcome.

[2020-11-20 01:15] flcong commented on #37947
Thank you. It's the latest version I guess: 0.17.2, but `df2.T<TAB>` still gets stuck for several second, but I think it's fine.

[2020-11-20 01:28] GentilsTo opened #37967 "BUG: Limited available color name list when using style and to_excel"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-20 01:46] mingwugmail opened #37969 "ENH: bfloat16 when available?"
Same numpy bfloat16 feature request for pandas:

https://github.com/numpy/numpy/issues/17809

Hi,

I saw NEP 41 Status: | Accepted

https://github.com/numpy/numpy/blob/master/doc/neps/nep-0041-improved-dtype-support.rst

I'm just wondering when will bfloat16 be available in numpy?

For some ML problems, this will reduce the memory requirement by half (or process 2x more data), can we give this hig

[2020-11-20 02:30] TomAugspurger commented on #37969
We can't support this until after NumPy or (or maybe Apache Arrow) introduced it. Let's close this until we can actually take action on it.

[2020-11-20 02:30] #37969 closed

[2020-11-20 02:50] #16686 closed

[2020-11-20 02:50] #22841 closed

[2020-11-20 02:50] jreback commented on #37969
see also https://github.com/pandas-dev/pandas/issues/9220

[2020-11-20 02:51] #28501 closed

[2020-11-20 03:06] ivirshup commented on #37954
I'll take a closer look when I get a chance. I took some time to figure out what was going on, but made a wrong turn. Right now, it looks like the majority of the time is from `new[x_cols] = x`

[code]

However, it looks like in both cases the code falls back to looping over the keys and adding the columns individually. Surprisingly (to me), for the array case `pd.core.indexing._LocIndexer._ensure

[2020-11-20 03:16] davidwales commented on #37795
Also interesting is that even if `openpyxl` is installed, and `xlrd` is not installed, I still get the following `ImportError` if I don't specify the engine:
[code]

[2020-11-20 04:30] mingwugmail commented on #9220
Wow, 5 years now, still an open issue.

[2020-11-20 04:44] jreback commented on #9220
there are about 3400 open issues and a few volunteer core devs

it’s all about community contributions / or lack thereof

[2020-11-20 06:39] lawrennd commented on #33593
Thanks James!

Nicolò Fusi @nfusi pulled it together for the Hensman, Fusi and Lawrence UAI 2013 GPs for Big Data paper.

It should be available via the pods software (pip install pods), but the software had the bug that's flagged here (pickle is a real pain for data) ... there's a jupyter notebook for it here:

http://localhost:8888/notebooks/lawrennd/ods/notebooks/pods/datasets/airline-delay.ipy

[2020-11-20 08:16] mlondschien commented on #37626
What are the expected behaviours for `string` / `object` -> `bool` / `boolean` and `int` -> `boolean`?

For the former I would have assumed that this raises unless the `object` values are actually numeric and can be casted, as done [here](https://github.com/pandas-dev/pandas/blob/b2b81d854a67d79cb84767e75254c1b380cf6982/pandas/core/arrays/boolean.py#L166) for `object` -> `boolean`.

For the latter

[2020-11-20 09:18] MarcoGorelli commented on #30999
We will add it to `.pre-commit-config.yaml` once all the errors it raises are fixed, yes

[2020-11-20 09:38] #37942 closed

[2020-11-20 11:43] miccoli opened #37976 "PERF: Severe performance hit on DataFrame.sum with multi index and 'skipna=False'"
`Series.sum(..., skipna=False)` and `DataFrame.sum(..., skipna=False)` are *very* slow on a `MultiIndex`,
if compared to the same method called with `(..., skipna=True)`

---

- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

[2020-11-20 12:18] miccoli commented on #37976
A side note on performance. After reading #34773, I checked that timing is not influenced by `pd.options.compute.use_bottleneck=False` or `pd.options.compute.use_bottleneck=True`

In fact this is the result of `prun df.sum(level=["i0", "i1"], skipna=False)`, from which it is evident that the current implementation is iterating on each element of the data, and the algorithm is not vectorised.

<det

[2020-11-20 13:00] jorisvandenbossche commented on #29481
The underlying issue here is that the `skipna` keyword is at the moment not yet implemented for `groupby` reductions like `groupby(..).sum()`.

It might be that before this keyword was ignored and recently started to raise, but it never actually worked (or was never documented).

The improvement to add `skipna` to the grouped reductions is covered in https://github.com/pandas-dev/pandas/issues/156

[2020-11-20 13:00] #29481 closed

[2020-11-20 13:01] jorisvandenbossche commented on #29481
Duplicate of #15675

[2020-11-20 13:05] jorisvandenbossche commented on #35616
The underlying issue here is that the `skipna` keyword is at the moment not yet implemented for `groupby` reductions like `groupby(..).sum()`.

It might be that before this keyword was ignored and recently started to raise, but it never actually worked (or was never documented).

The improvement to add `skipna` to the grouped reductions is covered in https://github.com/pandas-dev/pandas/issues/156

[2020-11-20 13:05] jorisvandenbossche commented on #35616
Duplicate of #15675

[2020-11-20 13:05] #35616 closed

[2020-11-20 13:07] jorisvandenbossche commented on #32696
The `skipna` keyword is indeed not yet implemented for groupby reductions. An enhancement request to add this is covered in #15675, so going to close this issue as a duplicate.

[2020-11-20 13:07] jorisvandenbossche commented on #32696
Duplicate of #15675

[2020-11-20 13:07] #32696 closed

[2020-11-20 13:10] jorisvandenbossche commented on #37976
@miccoli thanks for your analysis. You are correct that in the case of `skipna=False` it is doing the grouped sum using the general pure python implementation of groupby. The underlying reason is that the `skipna` keyword is not yet implemented for the fast grouped reductions written in cython. There is an older issue that covers this enhancement: https://github.com/pandas-dev/pandas/issues/15675

[2020-11-20 13:15] jorisvandenbossche commented on #20824
The actual improvement to add `skipna` support to groupby reductions is covered in https://github.com/pandas-dev/pandas/issues/15675, so I think this can be closed or repurposed to a documentation issue, to ensure we have clear documentation about this common tricky case.

[2020-11-20 14:39] jorisvandenbossche commented on #28501
It's true that `read_csv` converts to NaN in a float dtype. With `dtype=object` (the way in `read_csv` to turn off dtype inference), you still get a NaN, but using object dtype (so this is different from the float dtype as what is now implemented by #37834)

Another point of comparison, when creating a Series from None without specified dtype, we also keep it as None with object dtype:

[code]

[2020-11-20 15:14] miccoli commented on #37976
@jorisvandenbossche I see... it was hard to catch that old issue!

Basically this means that
- `df.sum(level=["i0", "i1"], skipna=True))` maps to the (fast) implementation of
    `df.groupby(level=["i0", "i1"]).sum()`

while

- `df.sum(level=["i0", "i1"], skipna=True))` has no `.groupby` equivalent, and is implemented in slow pure python.

So, if I got it right, introducing some NaN's in my tests

[2020-11-20 15:29] jorisvandenbossche commented on #37976
Indeed. Only with the detail that the `skipna=False` variant still uses a `groupby` under the hood, just a slower non-optimized version with a lambda function:

https://github.com/pandas-dev/pandas/blob/7077a08451a9fe9e3f1419b720c7b54d9c383a6a/pandas/core/generic.py#L10518-L10523

So that is also how you can do the `skipna=False` using groupby in practice at the moment; `df.groupby(level=[...]).ag

[2020-11-20 15:32] jorisvandenbossche commented on #37976
BTW, there is an old stalled PR for this (https://github.com/pandas-dev/pandas/pull/15772), contributions to implement this are always welcome! (but no pressure, it's a relatively big chunk of work)

[2020-11-20 15:48] jbrockmendel commented on #26380
I've got a branch that implements `__array_function__` for `NDarrayBackedExtensionArray` and is now passing the tests.  The difficult part is that apparently there is no nice way to implement it for just a handful of np.foo functions (say just np.delete and np.repeat) without breaking every other np.foo function, many of which are called on EAs in our tests.

[2020-11-20 15:53] miccoli commented on #37976
I would love to do it, but for now I have no spare time...

Please feel free to close this issue, if you think that it overlaps to much with #15675,  or to keep it open if you think that it could be helpful to others.

[2020-11-20 16:08] jorisvandenbossche commented on #37976
No problem! (and thanks for taking the time to look into this and open an issue)

Yes, going to close this as a duplicate of #15675, we have enough open issues ;)

[2020-11-20 16:08] jorisvandenbossche commented on #37976
Duplicate of #15675

[2020-11-20 16:08] #37976 closed

[2020-11-20 16:41] theavey commented on #21055
Found this same issue. Any progress on a fix or workaround?

[2020-11-20 17:09] pisulski opened #37978 "BUG: ImportError: cannot import name 'EmptyDataError' from 'pandas.io.common'"
I upgraded pandas and python version
python          3.8.6
numpy            1.19.4
pandas           1.1.4
pip              20.2.4

When I try:

`import pandas as pd
from pandas.io.common import EmptyDataError
`

I have  error:

`ImportError: cannot import name 'EmptyDataError' from 'pandas.io.common' (/xxx/xxx/enviroments/py3_8_env/lib/python3.8/site-packages/pandas/io/common.py)`

[2020-11-20 17:32] jreback commented on #37978
error moved to `pandas.errors` quite a while ago; you are referencing an internal module.

[2020-11-20 17:32] #37978 closed

[2020-11-20 18:01] willfrey opened #37979 "Should FilePathorBuffer use os.PathLike instead of pathlib.Path?"
The [documentation for `pandas.read_csv(...)`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) states that it can support anything that adheres to the `os.PathLike` protocol, but the definition of `FilePathOrBuffer` is too strict.

https://github.com/pandas-dev/pandas/blob/08e4baf13005d33136608bd4e6e15f6b38f50887/pandas/_typing.py#L138

where `Path` is a `pathlib.P

[2020-11-20 22:02] OlehKSS commented on #37643
I've added another pull request to deprecate `inplace` in `remove_categories`.
As far as I understand, a deep copy of the underlying ndarray was created for `inplace=False` in  `set_categories` and `rename_categories`.
Should I just keep the current behavior of these methods?

[2020-11-21 00:01] #36525 closed

[2020-11-21 00:21] phofl commented on #34687
This works now on master. Dtypes are fine and results equal expected. May need tests

[2020-11-21 01:15] twoertwein commented on #37979
Replacing `pathlib.Path` with `os.PathLike[str]` should definitely work! Most (all?)  IO calls go through `get_handle` which internally calls `stringify_path` which converts all `os.PathLike[str]` using `__fspath__` to a string. Unless you add a decode function to stringify_path, I wouldn't add `os.PathLike[bytes]`.

I think we already have tests for non-`pathlib.Path` PathLike objects.

[2020-11-21 01:18] jbrockmendel commented on #37954
I found this surprising too a few weeks ago and changed it to avoid a double-allocation, but it looks like that is what caused the bug that @phofl is fixing for us.  Even with that fix in, I think it will still be iterating over columns, so perf will leave something to be desired.

[2020-11-21 01:19] jbrockmendel commented on #37954
For the `%prun` i'd suggest doing the whole thing inside a `for _ in range(1000): do_thing()` to get some more significant digits in the output

[2020-11-21 12:24] AbhirajHinge commented on #37979
From what I gathered through @twoertwein comment, the `PathLike[str]` change will bring the definition of `FilePathorBuffer` closer to being in-line with the [documentation for pandas.read_csv(...)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html). Should I go ahead and make that change?

[2020-11-21 16:29] rhshadrach commented on #37890
Can you provide a reproducible example?

[2020-11-21 16:54] twoertwein commented on #37979
yes, feel free to make the change.

[2020-11-21 17:19] fgebhart commented on #16360
take

[2020-11-21 17:45] arw2019 commented on #20427
This works on 1.2 master (due to #24581 and follow-ons).

There are tests in `pandas/tests/frame/test_constructors`. The tests don't use a datetime index but AFAICT this isn't the core issue here

[2020-11-21 18:55] edoardovivo commented on #29418
Love the idea!

[2020-11-21 19:26] arw2019 commented on #28401
This works on 1.2 master:
[code]

[2020-11-21 20:24] jbrockmendel commented on #37605
@TomAugspurger @simonjayhawkins @WillAyd @mroeschke any preferences here?

[2020-11-21 20:55] mc55boy commented on #15988
append_skipdupes +1

[2020-11-21 21:00] mroeschke commented on #37605
If the non-strict route was chosen, what would be the resulting timezone after these operations?

[2020-11-21 21:40] jbrockmendel commented on #37605
`self.tz` would be retained

[2020-11-21 22:21] #19556 closed

[2020-11-21 22:21] #28424 closed

[2020-11-21 22:23] #35382 closed

[2020-11-21 23:38] jbrockmendel commented on #16242
@gfyoung closeable?  most of the topics mentioned in the OP look like they've been handled

[2020-11-21 23:39] mroeschke commented on #37605
I guess either choice is okay with me with slight preference for full strict

[2020-11-21 23:49] phofl commented on #22449
The op raises MergeError, which is correct because of dtype issues, and

[code]

raises too, because on and right_index is not allowed. I think this is a closing candidate?

[2020-11-22 01:03] xinrong-databricks commented on #37875
I'll take all `pandas.MultiIndex` related.

[2020-11-22 02:12] #36621 closed

[2020-11-22 04:55] arw2019 opened #37996 "ENH: raise column number limit for user-completion or add warning"
xref PR #35207

xref https://github.com/pandas-dev/pandas/pull/35207#issuecomment-663506204

[2020-11-22 10:56] alejsm opened #38000 "DOC: DataFrame.last() needs the index to be sorted to deliver the expected results"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.last.html

#### Documentation problem

For the method to work it is needed that the **_DatetimeIndex_ of the dataframe is sorted**, otherwise it will notwork.
Example:
[code]
returns all the rows in the DataFrame
[code]

#### Suggested fix for documentation

It should be mentioned that f

[2020-11-22 12:19] phofl commented on #38000
Hi thanks for your report. You are right, the documentation should be better here. Additionally I am wondering if we should raise when the Index is unsorted.

PS: Could you adjust your title to reflect the problem a bit better?

[2020-11-22 12:51] hamlahichem commented on #11493
The easiest way to fix it is to transform your CSV file to Excel file and use pd.read_excel instead of pd.read_csv for read the data

[2020-11-22 12:58] phofl commented on #34217
Can be fixed on top of #37798 and #37749

[2020-11-22 16:39] praveenydv commented on #23040
When I update pandas then problem got solved

[2020-11-22 16:51] simonjayhawkins commented on #29687
Thanks @annhak . You code sample raises on 0.25.3, but appears to be working on 1.0.5 and master.

will reopen for now with needs tests label but will also add closing candidate if it can be determined which commit fixed this and whether appropriate tests were added.

[2020-11-22 17:15] erfannariman opened #38001 "ENH: add default value to str.extract"
#### Is your feature request related to a problem?

In some cases we can set a default value for non matches of `str.extract` with `Series/Frame.fillna`.

But there are cases when the data prior to applying `str.extract` already has NaN values. So running fillna on the results would fill both, and there we cannot distinguish between what the actual NaN values were and what the NaN values are as a

[2020-11-22 17:18] erfannariman commented on #38001
take

[2020-11-22 19:04] Abhi-H commented on #37979
Okay, will make a PR soon. Setting up my dev environment currently.

[2020-11-22 19:48] TomAugspurger commented on #26380
Dask handles that with a warning and a fallback:
https://github.com/dask/dask/blob/0ca77043bbbe015dcb69378ece54419332734f40/dask/array/core.py#L1423-L1444.

If we want something similar, we could cast to an ndarray as a fallback.

[2020-11-22 21:20] phofl commented on #33146
This works now, but behavior in general is deprecated for non monotonic DatetimeIndexes. Maybe adding a test until 2.0?

[2020-11-22 23:14] phofl commented on #32896
cc @jbrockmendel This raises since 2d40186af6002f5f7d8fa93c17a70711f1e96f1e

[code]

Was this intended?

[2020-11-23 03:18] #32896 closed

[2020-11-23 06:27] raffaem opened #38013 "BUG: pandas truncate too large data without any warning of any kind, causing data loss"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-23 07:42] GYHHAHA opened #38015 "BUG: df.rename raises when multiindex has duplicates"
[code]

[2020-11-23 08:31] TColl commented on #22449
I don't think this should be closed as the issue still persists - working through my example given above still yields the behaviour I documented and doesn't raise `MergeError` (at least in v.1.1.2)

If I've not been clear enough, please let me know and I'll do my best to explain in more detail 👍

[2020-11-23 12:08] jreback commented on #22449
@TColl this persists on master?

[2020-11-23 12:08] simonjayhawkins commented on #36429
yes.

on latest nightly build (https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=48368&view=logs&j=79f3a53a-4a6d-509c-98b5-ff6e9111f67c) failed on windows py_3.8_32 and windows py_3.9_32

some wheels are failing to build. so there maybe other envs this fails on.

I am no longer able to select the build history from the breadcrumb bar. permission error. need to log in to Azure D

[2020-11-23 12:17] jreback commented on #36429
these look like we are mishandling 32 bit pointers

these are failing nightly but not on commit pushes?

[2020-11-23 12:34] mariano22 commented on #22449
I think that it can be closed.

Thanks @TomAugspurger for the explanaition, I was misunderstanding the documentation. I think that maybe @TColl was interpreting the same as I did: I thought left_index/right_index indicates which indexes you would use in the result dataframe (to construct result.index). But it's to indicate a **join key** (as on, left_on, rigth_on does). With this BugFix if you use

[2020-11-23 12:35] simonjayhawkins commented on #36429
these are not failing on commit pushes.

IIUC on commit pushes we use a docker container for the 32bit environment where on MacPython the environment is selected using PYTHON_ARCH environment variable.

I think MacPython may need some updates on versions, maybe NP_BUILD_DEP and CYTHON_BUILD_DEP. have opened https://github.com/MacPython/pandas-wheels/pull/111 to troubleshoot the failures. this fail

[2020-11-23 12:43] simonjayhawkins commented on #36429
forgot to mention. 1.1.x wheel builds are OK. so this is probably not an environment issue. https://github.com/MacPython/pandas-wheels/pull/109

[2020-11-23 13:01] Jacques2101 opened #38016 "BUG:"
Hi i have a huge problem and I suppose it could be a bug but not sure.

[code]

and the output is :
[code]

From my point of view I should get exactly the same answer (method 2 & 3 are alright but not method 1).
I don't know why this is not the case.
I need maybe to add that base_corr is a huge database (10_892_693 rows × 12 columns) with dailies and weekly data that why I convert each series to w

[2020-11-23 13:01] simonjayhawkins commented on #36429
forget that.

test_float_precision_options was added in #36228 which is not in 1.1.x

[2020-11-23 13:34] Jacques2101 commented on #38016
I found my error. It is linked with asfreq(). For this particular series, the frequency is first month then weekly (based on Wednesday day and not Friday).
So with asfreq() I get a lot of nan data. When I change my function to :
[code]

It seems to work ok but what I not understand is why method 3 still give me the correct figure ?

[2020-11-23 14:01] jreback opened #38017 "TST: any_* fixtures are confusingly named"
the naming on the any_* fixtures in `pandas/conftest.py` is pretty confusing

- `any_int_dtype` (numpy only)
- `any_int_nullable_dtype` (EA only)
- `any_numeric_dtype` both numpy & EA
- `any_real_dtype` both numpy int & float
- `sint_dtype` signed numpy ints

for example

so we need dtypes that are numpy_only and EA only and numpy + EA both for ints & floats

would propose something like

`any_int

[2020-11-23 14:01] jreback commented on #38017
cc @jbrockmendel

[2020-11-23 14:02] MarcoGorelli commented on #38016
Hi @Jacques2101

Thanks for the report - please see [here](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) for how to write a minimal reproducible bug report, if you make a reproducible example we can take a look

[2020-11-23 15:08] jbrockmendel commented on #38017
makes sense

[2020-11-23 15:23] GYHHAHA commented on #37800
This is conflicting with the multiindex selector which uses tuple as the label for different levels.
[code]
Ambiguous when using tuple index.

[2020-11-23 16:09] TColl commented on #22449
@jreback just confirming this has been fixed on master (sorry for testing on an older version earlier!)

I agree this issue can now be closed, though I agree with @mariano22 that `on_left_index` would be a lot less confusing than `left_index`

[2020-11-23 16:22] jreback commented on #22449
would take a PR for a test that replicates the OP

[2020-11-23 16:25] rhshadrach commented on #37800
@GYHHAHA what is ambiguous? When Series has a multi-index, a tuple consists of labels for different levels. When Series doesn't have a multi-index, a tuple is a single label. Or is there some other case(s)?

[2020-11-23 17:45] jorisvandenbossche commented on #38017
Proposed naming seems to make sense

(note I removed the 1.2 milestone, since I don't think this is in any way important for the release? So we can use the milestone to track release critical issues)

[2020-11-23 18:59] #16360 closed

[2020-11-23 19:28] MarcoGorelli opened #38022 "STYLE use types_or in pre-commit"
[pre-commit 2.9 adds support for types_or](https://github.com/pre-commit/pre-commit/releases/tag/v2.9.0), which would help clear up some of the less readable regexes like `\.(py|pyx|rst)$`, replacing them with `types_or: [python, cython, rst]`

[2020-11-23 19:32] rkc007 commented on #38022
Can I work on this issue?

[2020-11-23 19:33] rkc007 commented on #38022
take

[2020-11-23 19:34] flcong opened #38023 "QST: Pandas without MKL?"
I build a small application that uses `pandas` and use `pyinstaller` to build `.exe` file. Since the default `numpy` uses MKL, which results in very large folder. I use `conda install conda-forge nomkl numpy` to install numpy without MKL. Then I install pandas using `conda install pandas`. The program works well. However, after I convert the code to `.exe` file. I encounter the following error fro

[2020-11-23 19:44] MarcoGorelli commented on #38022
sure! the [pre-commit docs](https://pre-commit.com/) may be useful here. You'll need to specify `minimum_pre_commit_version` somewhere and update the versions in requirements.txt and environment.yml. If any hook defines `types` upstream, it may be necessary to overwrite it with `types: [text]`. Anyway, if you open a PR I'll correct you if it's not right.

[2020-11-23 20:44] Xnot opened #38025 "BUG: Setting a MultiIndex through set_index where one of the columns contains exclusively NaTs converts them to NaNs"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
[code]
python 3.8.3
pandas 1.1.3

This bug will not occur if the column in question contains any values other than NaT, nor if setting a single column as the index.

With

[2020-11-23 21:20] gordthompson commented on #30884
I can confirm that this is still an issue with the latest version of pandas. It appears that `to_sql()` calls `.execute()` if the DataFrame contains a single row, and it calls `.executemany()` if the DataFrame contains multiple rows. One possible fix would be to always call `.executemany()`, even if the DataFrame only has one row. If there are concerns about performance or backwards compatibility

[2020-11-23 21:45] phofl commented on #32346
This works now. Returns:

[code]

[2020-11-23 22:07] phofl commented on #30736
This behavior is expected. Indexing with Timestamps in this case raises when one of the Keys is not in the Index. Indexing with strings still works, when keys are not in Index, but is deprecated and will be removed in a future version (for unordered DatetimeIndex).

[2020-11-23 22:15] phofl commented on #30439
I agree with @Liam3851 the weird thing is that ``df.loc[df['a']=='a2', ['c']] = df['e']`` *works*. This should also set NaN. But probably will be fixed in the future with the split_path fix @jbrockmendel ?

[2020-11-23 22:27] phofl commented on #29855
The error expected from @joelrich is now shown. Maybe add a test?
[code]

[2020-11-23 22:32] phofl commented on #29855
Actually exactly this behavior is covered through

``test_series_partial_set_datetime`` in ``pandas/tests/indexing/test_datetime.py``. So closing this

[2020-11-23 22:32] #29855 closed

[2020-11-23 22:34] phofl commented on #38025
Hi, thanks for your report. This works on master.

[code]

[2020-11-23 22:41] phofl commented on #29751
Works now.

[code]

May need some tests

[2020-11-23 22:44] phofl commented on #25154
This works now. May need some tests.

[code]

[2020-11-23 23:55] jbrockmendel commented on #30439
@phofl can you elaborate on what behavior you expect?

I think id expect `df.loc[df['a']=='a2', ['c']] = df['e']` to raise ValueError because of a shape mismatch.

[2020-11-24 00:02] phofl commented on #30439
I would have expected that ``_align_series`` sets the value to NaN, similarly to
[code]

Why would you expect shape missmatch?

[2020-11-24 00:22] jreback commented on #38023
pandas does not use mkl directly, your issue is with pyinstaller.

[2020-11-24 00:22] #38023 closed

[2020-11-24 00:24] #37910 closed

[2020-11-24 00:47] GYHHAHA commented on #37800
[code]
When tuple index is the zero level of multiindex.

But it seems still reasonable when applying to a non-multiindex.

[2020-11-24 03:41] jbrockmendel commented on #30439
well `df.loc[indexer, ["c"]]` has shape (1, 1) and `rhs` has shape (2, 1)  (just (2,) if we use `df["e"]` instead of `df[["e"]]`).  To _not_ get a shape mismatch, I'd expect to see `df.loc[indexer, ["c"]] = rhs.loc[indexer]`

[2020-11-24 04:09] z7ye opened #38031 "the .corr method filter the columns to only keep the numerical columns before apply any corr calclation."
https://github.com/pandas-dev/pandas/blob/67a3d4241ab84419856b84fc3ebc9abcbe66c6b3/pandas/core/frame.py#L8127

the .corr method filter the columns to only keep the numerical columns before apply any corr calclation. one issue with that is if I would like to apply a callable method _cramer_v to calc the correlation between categorical features, the .corr will skip it. I think for callable method, i

[2020-11-24 04:28] arw2019 opened #38032 "BUG: series construction from dict of Timedelta scalar doesn't work"
Construction of `Series` from a dictionary of scalars sometimes fails:

#### Code Sample, a copy-pastable example

[code]

Ran on 1.2 master

[2020-11-24 04:51] arw2019 opened #38033 "TST: dataframe constructor should preserve order with standard Python dicts"
We have a couple of dataframe tests (xref #13304) related to column ordering when constructed from an `OrderedDict`:
https://github.com/pandas-dev/pandas/blob/e4cf3abe0020aa801950e0383fffc13ee9703456/pandas/tests/frame/test_constructors.py#L1250-L1288

As of [PEP 468](https://www.python.org/dev/peps/pep-0468/) standard dictionaries are ordered so these tests should also work with `OrderedDict` rep

[2020-11-24 05:45] itsmegarvi commented on #38033
would doing dict(orderedDict()) work?

[2020-11-24 08:38] phofl commented on #30439
Ah I see. My understanding of ``__setitem__`` for loc was, that it would take care of the filtered rows (e.g. the ``_align_series``  and ``_align_dataframe`` are doing this?), so that the rhs is filtered for the same rows as the lhs. Or is this an accident and should change in the future?

[2020-11-24 09:25] JohannHansing commented on #34251
For the poeple wondering why this bug appears for them and not for others (or vice versa):

If you do not have the `numexpr` package installed, then python will be automatically used as engine. Thus, you do not need to specify `engine='python'` in the query method.

Consequently, one quick fix would be to uninstall the `numexpr` package. This may introduce other issues for you but it worked for me

[2020-11-24 10:43] rhshadrach commented on #38033
Is the current behavior correct and this just needs tests, or is there a bug when using dict instead of OrderedDict?

[2020-11-24 11:58] simonjayhawkins commented on #37784
nightly builds on master are currently failing. https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=48433&view=results

the failures for 3.7 (for linux and macOS) are related to -Werror. (not applicable to Windows)

[code]

These are not failing on 1.1.x. In setup.py on 1.1.x we have
[code]
this has been removed on master in since the min numpy version for pandas 1.2 is now 1.16.

[2020-11-24 12:04] simonjayhawkins commented on #36429
the test failures prevent the nightly wheels to be published. https://anaconda.org/scipy-wheels-nightly/pandas/files

will open PR on MacPython to skip these tests till this issue is resolved (and can remove blocker label)

will break off commit https://github.com/MacPython/pandas-wheels/pull/111/commits/3d2e30aaf32baf73f16125604b41721cdf8c772b from https://github.com/MacPython/pandas-wheels/pull/

[2020-11-24 12:09] simonjayhawkins commented on #37784
the pip-test and conda-test stages of the release process are currently failing. https://github.com/simonjayhawkins/pandas-release/runs/1447063807?check_suite_focus=true

have reproduced this locally, so will investigate further.

[2020-11-24 12:23] Jacques2101 opened #38036 "speed up apply calculation"
Hi, I have a huge database with multi index ((8832, 14384)) from which I calculate some statistics with code like that :

[code]
My problem is that it took **more than 5 min** to do the calculation (!!!!).
Is there a way to do it better ? Multiprocessing but don't know how to structure it ?

Thx

[2020-11-24 12:40] Magneto49-3 opened #38037 "KeyError in datetime pandas due to Big Sur?"
I've just upgrade Big Sur 11.0.1 and I'm facing some issue while trying to execute a notebook. Weird because it worked on Catalina. Could anyone help ?
**Here is my code:**
`import numpy as np
import pandas as pd
import yfinance as yf

# In[56]:

#parameters
RISKY_ASSET = 'ADBE'
START_DATE = '2017-01-01'
END_DATE = '2020-07-31'

# In[57]:

#Download data:
df = yf.download(RISKY_ASSET, start=START_

[2020-11-24 12:49] cpmbailey opened #38038 "REGR: Performance regression on RollingGroupby"
pd.DataFrame({'a': np.random.randn(10000000), 'b': 1}).groupby('b').rolling(3).mean() is approximately 10x slower between 1.0.5 and 1.1.x

[2020-11-24 12:51] simonjayhawkins commented on #36429
NP_BUILD_DEP does not appear to be related. still failing in https://github.com/MacPython/pandas-wheels/pull/111/commits/42e9fa4a8aa0e269c26acbca082098316448ac2f

[2020-11-24 13:18] simonjayhawkins commented on #37784
#35895 added the use of the `worker_id` fixture, which is only available if pytest-xdist is installed. see https://github.com/pandas-dev/pandas/pull/35895#discussion_r477018354

IIUC pytest-xdist is an optional dependency and pd.test is part of the public api https://pandas.pydata.org/docs/reference/api/pandas.test.html

cc @TomAugspurger

[2020-11-24 13:23] jorisvandenbossche commented on #38032
It seems it is actually the "expected" construction that doesn't work, and not the construction from a dict:

[code]

So this last method seems to lose the nanoseconds ..

[2020-11-24 13:33] #28401 closed

[2020-11-24 13:36] jreback commented on #37784
@pandas-dev/pandas-core don't tag any more issues /PRs for 1.2, unless they are actually ready to merge, better to just ping and say ready for 1.2

[2020-11-24 13:49] ma3da commented on #38032
pd.Timedelta insertion into an ndarray behaves strangely for small values.
[code]
For this issue, this happens [here](https://github.com/pandas-dev/pandas/blob/76216ba396ecd8f5b17062b5375c3982f6805291/pandas/core/dtypes/cast.py#L1706-L1707).

[2020-11-24 14:01] #35605 closed

[2020-11-24 14:14] jorisvandenbossche commented on #38032
Ah, that's because numpy only knows `datetime.timedelta`, and thus handles a pandas.Timedelta that way, and `datetme.timedelta` don't have nanoseconds ..

So we will need to handle that a bit differently on the pandas side for datetime/timedelta dtypes.

[2020-11-24 14:15] jorisvandenbossche commented on #38032
@ma3da want to do a PR for this?

[2020-11-24 14:16] arw2019 commented on #38033
I think the current behavior is correct so just need tests. I didn't find open issues in the tracker since the OrderedDict ticket was closed four years ago.

I was thinking of parametrizing the tests on `[dict, OrderedDict]`. Something like
[code]

[2020-11-24 14:33] ma3da commented on #38032
Ah ok, so there's no hope to fix the np cast "directly". Ok, i'll look into it.

[2020-11-24 14:59] jesrael opened #38039 "Is possible pass `Series` to `groupby.head` ?"
From this [answer](https://stackoverflow.com/a/64988556/2901002) is working if same values per group:

    data = {'month': ['Jan','Jan','Jan','Jan','Feb','Feb','Feb','Feb','Feb','Feb'],
       'userid': ['2345','2345','2345','2345', '2345','2345','2345','5678', '5678', '5678'],
       'cntr': [3,3,3,3,1,1,1,2,2,2]}

    df = pd.DataFrame(data = data, columns = ['month','userid','cntr'])

    df1

[2020-11-24 15:25] rhshadrach commented on #38039
Thanks for reporting! Certainly using a Series as the argument was never intended, and checking that arguments are of the correct type would be unmaintainable. The argument `n` is used in the following line:

    mask = self._cumcount_array() < n

As long as the Series `n` is aligned with the result from `_cumcount_array`, then this will be the right result. This would always be the case if the Se

[2020-11-24 16:08] jorisvandenbossche commented on #38038
@cpmbailey thanks for the report! I can confirm this; for me, the snippet (without the dataframe creation) takes 2s on pandas 1.0.5 and 20s on pandas 1.1.4.

@mroeschke do you know if this is something "known"?

From looking at the profile, it seems now the `_apply` is taking a lot more time, and it is https://github.com/pandas-dev/pandas/pull/34052 that introduced a RollingGroupby specific `_appl

[2020-11-24 16:18] jorisvandenbossche commented on #38038
Looking at a profile, it seems that most of the time comes from constructing the MultiIndex. Illustrating this with the `line_profiler`:

[code]

(the profiler adds a lot of overhead (ca x3/4 in total time), so the relative numbers are not necessarily reliable, but the overall picture is certainly interesting)

[2020-11-24 16:19] rhshadrach commented on #38036
Usage questions should be asked on StackOverflow first. Has this question been asked there? If so, please add a link to the question.

[2020-11-24 16:44] rhshadrach commented on #38015
Thanks for the report @GYHHAHA! Further investigations and PRs are certainly welcome.

[2020-11-24 16:52] rhshadrach commented on #38031
Is it too onerous in your situation to use `astype` on the columns? If so, an example would help.

Creating two different behaviors (drop vs keep non-numerics) based on function argument seems less desirable from an API standpoint. Also `corr` is different from other methods where there is a `numeric_only` in that it can really only operate on numeric data. It seems to me that exposing a `numeric_

[2020-11-24 16:55] Jacques2101 commented on #38036
No. I did not post my question elsewhere. I will do it now but if you have some solution in the meantime, I will take it of course...
thx

[2020-11-24 17:15] #38036 closed

[2020-11-24 17:17] jbrockmendel commented on #38037
Can you post a copy/paste-able example https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Best guess is that it isn't Big Sur, but that you recently updated to a newer version of pandas.  There have been a few issues involving `datetime.date` objects recently.  You're safest bet is to always use `datetime.datetime` or `pd.Timestamp` objects instead.

[2020-11-24 17:22] jbrockmendel commented on #30439
Its entirely plausible that im wrong on this.

If instead of `df.loc[indexer, ["c"]] = df["e"]` we did `df.loc[indexer, ["c"]] = df["e"]._values`  that _does_ raise like I would expect.  Would you expect the filtering to behave differently there?

[2020-11-24 17:29] rhshadrach opened #38042 "ENH: groupby.apply axis=1 behavior"
xref #9772

[code]

now raises, but used to give the (perhaps) surprising output

[code]

A fix for this (today and previously) would be to pass `axis=1` into the call to sum, but again I think that is viewed as unintuitive. In https://github.com/pandas-dev/pandas/issues/9772#issuecomment-723498819 I argued:

A few counter points that I've realized in the meantime:

- The case of multiple dtypes s

[2020-11-24 17:49] jbrockmendel commented on #36320
@jreback can you weigh in on the desired behavior or (and possibly who else to ping)?

[2020-11-24 18:22] phofl commented on #30439
In case of ``_values`` None of the align functions is called, because we got a Numpy array.

 I quite like the feature, that you do not have to specify the same loc condition on the rhs but it gets filtered nevertheless. You could probably construct examples where this is a disadvantage instead of an advantage. But I think we should not break this code without warning, if we decide to do this. Don

[2020-11-24 18:31] rhshadrach commented on #37800
Ack, I see. A similar example:

[code]

one might expect to get `2` rather than the actual output of `1`. In any case, oddities in the case of nested tuples should not imply that we shouldn't make improvements on supporting tuples.

[2020-11-24 18:33] Liam3851 commented on #30439
@jbrockmendel Isn't the difference that in `df.loc[indexer, ["c"]] = df["e"]` the rhs has an index that is compatible with the lhs (and so an align operation works to make the rhs compatible with the lhs)? In the case of `df.loc[indexer, ["c"]] = df["e"]._values` you have stripped the values out, losing the index, and thus making alignment impossible.

@phofl I think we need to differentiate:
`df.

[2020-11-24 18:34] itsmegarvi commented on #38033
wouldnt  @parametrized("dictionary, (dict, OrderedDict)") do the same thing

[2020-11-24 18:37] arw2019 commented on #38033
However you wanna do it yeah

[2020-11-24 18:57] phofl commented on #30439
Yep you are right. I would expect

[code]
to work.

[code]
seems weird.

[2020-11-24 19:11] simonjayhawkins commented on #37784
wrt documentation

- there's a significant clean-up in #38002 to be merged before another pass.
- imo the tracebacks are a distraction https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html#optionally-disallow-duplicate-labels - any alternative to this?
- need to add contributors
- if 1.2.0rc0 is released before 1.1.5 we may want to start the 1.2.x branch before tagging 1.2.0rc0 and remove

[2020-11-24 19:18] mhorsley30896 opened #38046 "BUG: BDay() offsetting not behaving as expected"
[code]

#### Problem description

BDay does not seem to be offsetting when a timedelta is supplied.

#### Expected Output

True

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : db08276bc116c438d3fdee492026f8223584c477
python           : 3.6.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 3.10.0-514.6.1.el7.x86_

[2020-11-24 19:22] jorisvandenbossche commented on #37784
Yes, I also noticed that and wanted to do something about it. I think the easiest alternative for now is a plain code-block with the output we want (nicer general solution would be https://github.com/pandas-dev/pandas/issues/10715)

[2020-11-24 20:57] Liam3851 commented on #30439
I agree

`df.loc[df['a']=='a2', ['c']] = df['e']`

looks a bit weird (you'd probably spell it the first way you gave above), but do you agree that

`df.loc[df['a'] == 'a2', ['a', 'b']] = df['e']`

makes sense as a broadcast (broadcasting the Series across the DataFrame)? If so then

`df.loc[df['a']=='a2', ['c']] = df['e']`

more or less has to be supported (or at least it would be weird not to sup

[2020-11-24 21:23] phofl commented on #38046
Hi,

thanks for your report. This returns ``True`` on master

[code]

Would you like to contribute a test for this to avoid regression?

[2020-11-24 21:59] #25165 closed

[2020-11-24 21:59] #24263 closed

[2020-11-24 22:23] phofl commented on #38038
Thats ugly.

I have close to 30GB ram in my vm, but this example runs out of it:
[code]

[2020-11-24 22:35] mroeschke commented on #38038
My initial performance test case was only using 1000 points unlike in this issue's example where 10000000 points are used: https://github.com/pandas-dev/pandas/pull/34052#issuecomment-631220187

I didn't anticipate, but it makes sense, that the bottleneck at this scale is the creation of the resulting MultiIndex creation is dominating the timings.

[2020-11-24 22:39] phofl commented on #38038
We could maybe avoid the inner loop, but that reduces the time by 50%, does not get us anywhere near 2

[2020-11-24 22:51] simonjayhawkins commented on #37813
locally I have built the docs for both 1.1.5 and 1.2.0rc0. both created using Sphinx 3.3.1. So it appears that this is not a release environment issue.

I think there is nothing more to do here, other than to check the function signatures before publishing the docs during the release process.

[2020-11-24 22:57] Magneto49-3 commented on #38037
Exactly, I have downgraded it to 1.0.5 and everything works know ! Thank you mate !

[2020-11-24 23:39] jreback commented on #38038
you can likely use `MultiIndex.from_arrays` here

[2020-11-25 00:26] rhshadrach commented on #37962
`mask` can also be used to get numpy where like behavior:

[code]

[2020-11-25 01:10] zareami10 commented on #33912
@MarcoGorelli I can reproduce this too, one of the many issues with cut I faced in only a single day.

Code to reproduce:
[code]

[code]
Two important points are `right=True` and `include_lowest=True`. Not to mention that `include_lowest` doesn't actually change '(' to '[' but merely decrease the lower bound, but that's another story I guess.

[2020-11-25 01:17] jreback commented on #37962
closing this is fully documented

[2020-11-25 01:17] #37962 closed

[2020-11-25 01:46] jreback commented on #37826
I believe we could add most / all of the current 3.8 deps, e.g. we just added pytables and its good from conda-forge: https://github.com/pandas-dev/pandas/pull/38041/files

[2020-11-25 02:21] jbrockmendel opened #38051 "BUG: Index.drop raises on non-unique Index"
[code]

It is using Index.get_indexer, which is only for uniques indexes.

[2020-11-25 02:29] allenmac347 commented on #37692
@phofl hello, so after testing loc, iloc, at, and iat, it seems like at and iat does not seem to be able to upcast at all for different dtypes. This code for example throws an error:
# column D initially has an int64 dtype
df = pd.DataFrame(index=['A','B','C'])
df['D'] = 0
df.at['B', 'D'] = "hello"

ValueError: could not convert string to float: 'hello'

This is the same case for iat. Both loc and

[2020-11-25 02:39] GYHHAHA commented on #38015
Hi, where this function tested? I think the error is related to this, but can't find test case.
https://github.com/pandas-dev/pandas/blob/54f23e8f1f02c03aa3e166bda88e9d5b051f1054/pandas/_libs/index.pyx#L572
And also confused about `_codes_to_ints` func, any explanation about this bit computation? Thanks.
https://github.com/pandas-dev/pandas/blob/1cc030e984944bf4ca7ea5aec552dca55a117204/pandas/core

[2020-11-25 02:51] bpteague opened #38053 "BUG: calling at[] on a Series with a single-level MultiIndex returns a Series, not a scalar"
- [YES] I have checked that this issue has not already been reported.

- [YES] I have confirmed this bug exists on the latest version of pandas.

- [NO] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

As per the user guide, I expect `at[]` to return a scalar. However, when I index a `Seri

[2020-11-25 02:53] bpteague commented on #38053
I wonder if this is related to #29749?

[2020-11-25 03:18] #29749 closed

[2020-11-25 03:40] jbrockmendel commented on #30439
I still find it counter-intuitive that both `df.loc[indexer, ["c"]] = rhs` and `df.loc[indexer, ["c"]] = rhs.loc[indexer]` would behave identically.  We should figure out whether this is intentional or not, and @phofl is right if it isn't intentional, it needs to be deprecated instead of removed immediately.

[2020-11-25 05:06] allenmac347 commented on #37327
@galipremsagar Hi, after further testing it seems like uint32 is preserved when using 'fastparquet' as the engine for to_parquet and read_parquet. However, the closed issue #31896 seems to acknowledge this behavior and a fix was introduced and merged into main branch to make pandas interpret the written uint32 data as int64 data. I was wondering if you think this could be expected behavior or woul

[2020-11-25 07:19] jorisvandenbossche commented on #38038
Indeed, my guess is that we should be able to reduce most of the time taken by the index creation by avoiding creating all the tuples

[2020-11-25 09:04] jorisvandenbossche commented on #38038
I did an attempt rewriting this index creation, see https://github.com/pandas-dev/pandas/pull/38057. Now, it has some different behaviour in a few corner cases (like dtype of empty index, NaNs in the levels vs in the codes) ..
I am curious how this was done before (in 1.0), but couldn't directly figure out

[2020-11-25 09:05] jorisvandenbossche commented on #38038
But it brings the time of the snippet above back to 2s, so as it was for pandas 1.0

[2020-11-25 10:01] MarcoGorelli commented on #33912
Thanks @zareami10 , that reproduces the issue - much appreciated!

This sounds like a separate issue - could you open a new one with this one please? A reproducible example (like the one you posted here) would help to expedite resolution

[2020-11-25 10:27] galipremsagar opened #38058 "BUG: nan values in dataframe index when reading from multiple parquet files"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-25 10:30] mhorsley30896 commented on #38046
Something like?

[code]

[2020-11-25 10:50] zareami10 commented on #33912
I believe there is a (2 years old) report for that, see issue #23164. Though I'm not sure how could that be improved wihtout changing IntervalIndex as it it only accepts intervals which are closed on the same side.

Even in the code I provided I would expect an output of [1.195, 3.142] rather than (1.194, 3.142], even if we ignore the current issue.

(Sorry for discussing it here, just thought I w

[2020-11-25 10:58] bastingup opened #38060 "BUG: Changing values in copied dataframe manipulates the original dataframe"
Hey everybody,

so I ran into something odd last night.
I had two dataframes: dataframe_original and the dataframe_copy.

Whenever I changed the values in a column of dataframe_copy the code changed the values in dataframe_original.
I had the original one as a backup and assign it every iteration to a local copy.
I displayed the output of the original dataframe (so not the one I attempted to chang

[2020-11-25 12:37] Karl-Wiese opened #38063 "<NA> and NaN evaluate differently in equality comparison"
### Code Sample

This works as expected. Comparing nan with nan evaluates to False.
[code]
However, this does not work as expected. Comparing nan with nan evaluates to nan.
[code]

### Problem description
As in other programming languages I would expect the comparison between nan values for equality evaluates to False. In the first case, this works as expected. However, for the second it does not.

[2020-11-25 13:45] simonjayhawkins commented on #37784
1.1.5 is in a good state for release. Not sure whether the preference is to do 1.1.5 before/after 1.2.0rc0

I'll open an issue for tracking the 1.1.5 release shortly. I'm thinking, looking at the open issues, that will just remove milestones from all the open issues, with a message about a imminent release and stating community contributions welcome.

Some of the issues have now had the milestone

[2020-11-25 13:51] simonjayhawkins commented on #37217
This might have been fixed by #38041. cc @jbrockmendel ?

[2020-11-25 14:02] simonjayhawkins commented on #37784
I think, unlike code changes, it's ok to tidy release notes between 1.2.0rc0 and 1.2, so not a blocker imo.

I'm going to look at the tag script later, so that the v1.2.0rc0 tag, the 1.2.x branch and v1.3.0.dev0 are created atomically, to try an deter any changes after tagging the release candidate other than reported bugs/regressions (with the rc). Any older bugs/regressions could perhaps wait fo

[2020-11-25 14:09] jorisvandenbossche commented on #38063
@Karl-Wiese Given that you read the docs on nullable dtypes, and say yourself that "the second case is expected behaviour, too", I am not sure what actually expect / are looking for.

When introducting the nullable dtypes, we considered which behaviour we wanted for equality of `pd.NA`, and decided that we wanted to deviate from the existing behaviour with np.nan to return `pd.NA` and not `False`

[2020-11-25 14:15] jorisvandenbossche commented on #38058
@galipremsagar thanks for the report. That's certainly not the expected behaviour.

This is a bug in the library that is used under the hood, `pyarrow`, in the conversion to pandas. The problem is that you have 2 parquet files with a different type for the index, and apparently pyarrow is not correctly handling that case.

Since this issue is in pyarrow, I opened an issue referencing this one on t

[2020-11-25 14:15] #38058 closed

[2020-11-25 14:19] ThomasBourgeois opened #38065 "ENH: Add get_window method on a rolling object"
#### Is your feature request related to a problem?

Yes. I would like to make a test of a function that is then applied on a rolling object. Making that test on just one window of the rolling object would be convenient.

#### Describe the solution you'd like

Someting similar to get_group for a groupby object. This would be something like : rolling.get_window(0) for first window for example.

####

[2020-11-25 14:19] jorisvandenbossche commented on #37784
I don't know if an rc for 1.2 on Monday is realistic, given the number of open issues?

Regarding the issues tagged for 1.1.5: I agree that several of them can be removed from that milestone (eg some performance regressions of a year old that were already partly solved). But the actual behaviour regressions, if not removing from the 1.1.5 milestone should then be added to the 1.2 (or 1.2.1) milest

[2020-11-25 14:22] jorisvandenbossche commented on #37784
BTW, I have find it easier in the past to create a temporary milestone for "1.2.0rc", so we can distinguish between issues that only need to be fixed before the final 1.2 release, and issues that are blockers for the RC. After the RC we can put the issues labeled with 1.2.0rc back to the 1.2 milestone with a batch change, and remove the milestone.
(just a suggestion, up to you)

[2020-11-25 14:28] simonjayhawkins commented on #37784
That sort of goes against my thinking that a release candidate is moreless final subject to any issues with the rc.

I'm not keen on doing a rc if there are more changes planned before the final release.

[2020-11-25 14:33] simonjayhawkins commented on #37784
on a similar vein to my above response. I wouldn't be keen on moving them to 1.2, ok with 1.2.1 though.

[2020-11-25 14:38] jorisvandenbossche commented on #37784
Yep, I am certainly fine with that. In the past we have been more liberal with changes during the RC, but I think it would be good to change that to what you propose to be more strict. In which case another label might not be needed (there could be still issues only for the final release, but it should be only very few issues).

Unless our goal is to actually fix them. IMO we should take the time

[2020-11-25 14:40] simonjayhawkins commented on #37784
only 3 are labelled as blockers. once/if https://github.com/MacPython/pandas-wheels/pull/113 is merged, the blocker label can be removed from #36429

if a non-blocking issue isn't fixed before the rc, then it'll have to wait for 1.2.1 or 1.3. (maybe sounds a bit harsh)

IIUC our release schedule is more calender based than feature based.

[2020-11-25 14:47] jorisvandenbossche commented on #37784
I was not really talking about features, but about regressions, though

[2020-11-25 15:10] jreback commented on #37784
we need to finish off the PRs (about 10) & issues and either move them off / merge. i think by monday is doable.

[2020-11-25 15:11] Karl-Wiese commented on #38063
@jorisvandenbossche I expect that the behavior is consistent. Regardless if I use `np.nan` or `pd.NA`. I understand that `pd.NA` is in an experimental state. This issue is not a bug report but rather an enhancement issue, I would say. So, looking forward until "they will become the default at some point" and we can enjoy consistent behavior.

If others come across this "problem" you can use `.fill

[2020-11-25 15:25] jorisvandenbossche commented on #38063
Well, that's inherently impossible, because we have chosen different behaviour for pd.NA compared to np.nan.

But to be clear, you already needed `(left.eq(right) | (left.isna() & right.isna()))` before as well, right? Only the `fillna(False)` is new to get the exact same result as before?

Note that the `fillna(False)` *might* not be needed depending on what operation you do afterwards with this

[2020-11-25 15:26] jbrockmendel commented on #37217
i expect so, thats the same exception message i was getting locally

[2020-11-25 15:30] simonjayhawkins commented on #37217
since pytables was added to the test environment in #38041 and tests are passing, I don't think we need to add any tests to close this issue.

[2020-11-25 15:46] AnjoMan commented on #37605
I'm +1 on this as well. if we can standardize on one function for checking compatibility in all these cases, it will be easier to maintain and also have more test coverage

[2020-11-25 15:51] simonjayhawkins opened #38066 "RLS: 1.1.5"
Tracking issue for the 1.1.5 release.

https://github.com/pandas-dev/pandas/milestone/79

[2020-11-25 15:53] simonjayhawkins commented on #38066
Currently scheduled for November 30, 2020, date may changed depending on discussions about 1.2.0rc0 release. see https://github.com/pandas-dev/pandas/issues/37784

[2020-11-25 15:59] simonjayhawkins commented on #38066
There are currently no blockers here and wheels are building so could release anytime.

There are a number of open issues that are currently milestoned 1.1.5 that intereted parties should be aware that are not being addressed and therefore the release should imo not be before November 30, 2020 to give people a chance to comment.

see https://github.com/pandas-dev/pandas/issues/37784#issuecomment-7

[2020-11-25 16:11] simonjayhawkins commented on #38066
@jorisvandenbossche following discussion in https://github.com/pandas-dev/pandas/issues/37784#issuecomment-733735125

proposed comment for the open issues...

This issue is milestoned 1.1.5. This issue has not yet been addressed and the 1.1.5 release is scheduled for Monday, November 30, 2020. The 1.2 release candidate is also imminent. The milestone is therefore being moved to 1.2.1. Contribution

[2020-11-25 16:38] Karl-Wiese commented on #38063
It was worth a try ;)

You are absolutely right!

Thanks for your hints. For example, I apply a `.all(axis=1)` later on. I think I need the explicit `fillna()`. And `equals`unfortunately doesn't do the job. I need an element-wise comparison. At the moment, I just have a little function in an utils.py that is doing the job. Passing a keyword to `eq` would be indeed a nice solution. Would that handl

[2020-11-25 17:25] Jeitan opened #38067 "DOC: Include missing holiday observance rules"
#### Location of the documentation

[Timeseries Holiday](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#holidays-holiday-calendars) section in doc/source/user_guide/timeseries.rst.

#### Documentation problem

The list of available holiday observance rules is incomplete - several available observances are missing.

#### Suggested fix for documentation

The following observ

[2020-11-25 17:32] Jeitan commented on #38060
I think this is not a bug - though it may seem like pd.DataFrame() is making a completely new DataFrame, it likely is not (and this has been the case for awhile).  Try doing local_df = df.tail(l).copy() instead.

[2020-11-25 17:43] anzhi0708 commented on #32882
Same error on Termux (Android Linux simulator).
'''
[ 2/40] Cythonizing pandas/_libs/groupby.pyx
warning: pandas/_libs/groupby.pyx: 1135: 26: Unreachable code
'''
and lots of 'code will never be executed' error. Fails with exit code 1.

[2020-11-25 18:08] bastingup commented on #38060
Hey and thanks! Yeah, we actually did it that way now.
Might be possible for pd.DataFrame(), but even with df_copy = df?
I thought that direct assignment would have created a new variable instead of a reference. I mean, totally possible that I was wrong about this the whole time and just never ran into a situation like this.

[2020-11-25 18:53] phofl commented on #38053
Hi,

thanks for your report. #29749 did not fix this.

[2020-11-25 18:57] phofl commented on #38046
Yes essentially, it would be a bit better if you could define expected (t2) without calling a function

[2020-11-25 19:16] Jeitan commented on #38060
I'm not a pandas dev but I'm 99.9% positive that df_copy = df will _not_ make a copy.

[2020-11-25 19:30] Jeitan commented on #37167
@yjheo15 That is interesting because I cannot get that to happen with 1.1.4 either.  Or on master....

[2020-11-25 19:36] phofl commented on #37692
cc @jbrockmendel is this done on purpose?

[2020-11-25 19:54] phofl commented on #38051
Got another Problem with duplicates in MultiIndex
[code]
returns an empy MultiIndex

[2020-11-25 19:57] normanius opened #38069 "ENH: Rename multi-level columns or indices using their tupelized names"
It's currently quite difficult to rename a single column (or row) in a multi-indexed DataFrame. The problem is illustrated also in this [SO article](https://stackoverflow.com/questions/54693188).

The current approach requires at least 3 steps:

[code]

#### Enhancement:

In presence of a MultiIndex, `rename()` should support the tupelized representation of a column.

[code]

This would improve th

[2020-11-25 20:51] #34603 closed

[2020-11-25 20:51] #31330 closed

[2020-11-25 20:52] #23743 closed

[2020-11-25 20:59] #36805 closed

[2020-11-25 21:06] jorisvandenbossche commented on #35518
According to the docstring, I would say that the behaviour of 1.0.5 was correct, and this is a regression.

@jbrockmendel would you have time to look into it?

[2020-11-25 21:06] jreback commented on #38069
duplicate of https://github.com/pandas-dev/pandas/issues/20421

you can actually just do this though: https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Index.set_names.html?highlight=set_names

[code]

[2020-11-25 21:06] #38069 closed

[2020-11-25 21:11] jorisvandenbossche commented on #36495
@jbrockmendel do you have time to take a look at this?

[2020-11-25 21:34] jreback commented on #37813
ok leaving it on this tag, pls close if ok.

[2020-11-25 21:43] jreback commented on #30790
closing this, these are old; they maybe stiill here but need new measurements. pls open a new specific issue.

[2020-11-25 21:43] #30790 closed

[2020-11-25 21:55] jreback commented on #38060
is a reference in python. if you want a copy use `.copy()`.

[2020-11-25 21:55] #38060 closed

[2020-11-25 22:00] jreback commented on #35803
@lidavidm care to do a PR?

[2020-11-25 22:01] lidavidm commented on #35803
Will do, sorry about the delay here

[2020-11-25 22:13] normanius commented on #38069
@jreback Is it possible that you misinterpreted my question? It's not about names of index levels. It's about the indices (=name of column). I don't see how it could be done with `set_names` nor how this is related to #20421.

[code]

[2020-11-25 22:14] Jeitan commented on #38067
I was poking at this, and discovered that `weekend_to_monday` actually does the same thing that `next_monday` does.  I think I had taken "next Monday" too literally and thought that that would move even other weekdays to Monday.  However, the code is actually the same (except for the order in which the weekday is checked).  So one of them should probably go, and whichever one survives live in the

[2020-11-25 22:25] jreback commented on #38069
sorry wrong issue, see https://github.com/pandas-dev/pandas/issues/4160 which is a long time open issue.

[2020-11-25 22:30] jbrockmendel commented on #37692
no, at and iat should behave just like loc and iloc, just restricted to scalar arguments (and i guess without setitem-with-expansion)

[2020-11-25 22:40] phofl commented on #30439
Yep I would agree with counter-intuitive. Just thought this is a nice *feature*, if it is not a bug:)

[2020-11-25 22:42] phofl commented on #37692
@allenmac347 Are you interested in debugging this further?

[2020-11-25 22:47] simonjayhawkins commented on #37115
@dsaxton do you recall if you did a bisect on this? I'm getting...

first bad commit: [12f9a1048525a70474214d7cb9d472f67e84394d] REF: unstack (#33474) cc @jbrockmendel

[2020-11-25 22:48] mroeschke commented on #38065
Sure, I suppose rolling objects could have a `get_window` method that acts similarly to `get_group` for groupby objects.

The current workaround today would be to just iterate over the rolling object until you encounter the desired window.

PRs welcome!

[2020-11-25 23:01] simonjayhawkins commented on #36429
there were some changes needed in #35898 to get test_float_precision_options to pass.

[2020-11-25 23:03] jreback commented on #38065
you can kind of do this now with iteration: https://github.com/pandas-dev/pandas/pull/34201, e.g. skip thru the groups to get the one you want.

[2020-11-25 23:09] allenmac347 commented on #37692
@phofl yep, I'd be happy to debug this further

[2020-11-26 00:13] normanius commented on #4160
Just sharing a workaround:

[code]

[2020-11-26 00:31] #5401 closed

[2020-11-26 00:40] #27365 closed

[2020-11-26 00:55] dsaxton commented on #37115
@simonjayhawkins I think I did do a bisect if I'm remembering correctly, but I would trust your analysis over mine

[2020-11-26 01:49] bergkvist opened #38075 "ENH: pd.link([*dataframes], how='left')"
#### Is your feature request related to a problem?
When working with data that contains a lot of references, pd.merge seems to be the best approach.

If you need to follow more than 1 reference to get where you need, this quickly gets verbose.

To solve this problem, I suggest a higher level wrapping for merge, that is focused around being able to follow multiple references. Some potential names a

[2020-11-26 02:30] jreback commented on #38075
not averse to a doc-string example / docs example but -1 on adding this generally

we already have a tremendous amount of api

it's possible we could accept a list of frames in pd.merge to do this - would be +0 on that

[2020-11-26 02:50] bergkvist commented on #38075
@jreback I imagine a significant difference between my proposed pd.link and pd.merge with list arguments - is that pd.link drops all columns other than the index of the first dataframe and the columns of the last dataframe.

I probably wouldn't be using the pd.merge-list personally if this was added.

[2020-11-26 08:12] ma3da commented on #37763
This issue seems to have been solved by #37355.
On master:
[code]

[2020-11-26 10:28] olegbonar commented on #34465
+1, faced this unexpected behavior today.

[2020-11-26 11:55] ma3da commented on #37748
xref #37486

[2020-11-26 12:30] adam-kral commented on #36380
I also thought the filter would not evaluate eagerly, but rather return a GroupBy object. Found question https://stackoverflow.com/questions/49831784/filter-groups-after-groupby-in-pandas-while-keeping-the-groups , then I searched for this issue.

My case:
[code]

Workaround.
[code]

Workaround is very expensive: filter copies the whole dataframe AND groupby has to sort it (right?). Plus its not r

[2020-11-26 12:33] leonarduschen commented on #38065
I'll take this

take

[2020-11-26 12:33] leonarduschen commented on #38065
take

[2020-11-26 12:45] simonjayhawkins commented on #37309
xref #36436 for gbq failures

[2020-11-26 12:48] simonjayhawkins commented on #37309
xref #36465 for pymysql failures

[2020-11-26 12:55] ivanovmg commented on #37813
Closing as confirmed that the issue is not present anymore.
Will need to ensure that the function signatures are rendered correctly.

[2020-11-26 12:55] #37813 closed

[2020-11-26 13:01] jreback commented on #37763
would take a validation test to close this issue

[2020-11-26 13:07] jreback opened #38082 "ENH: benchmarks for cross join"
in #37684 cross join was added

let's add some benchmarks

[2020-11-26 13:15] xhochy commented on #33314
Yes, this still happens:

[code]

This then leads to

[code]

Note that I'm using `mamba` instead of `conda` in the above commands as I'm impatient, you should get the same result by only using `conda`.

[2020-11-26 13:18] jorisvandenbossche opened #38083 "PERF: regression in Series.asof with single date"
From https://pandas.pydata.org/speed/pandas/#timeseries.AsOf.time_asof_single?p-constructor='Series'&commits=52a17259-24e881d4&x-axis=commit&Cython=0.29.21&python=3.8

Snippet extracted from ASV:

[code]

On pandas 1.1 this takes around 20µs, on master I get around 110µs

Commit range indicated by ASV is https://github.com/pandas-dev/pandas/compare/52a17259...24e881d4

[2020-11-26 13:21] jorisvandenbossche commented on #38083
Profile indicates a lot of use of `searchsorted`, so potential cause https://github.com/pandas-dev/pandas/pull/37990 cc @jbrockmendel

[2020-11-26 13:23] jreback commented on #33315
@xhochy would u push a PR to remove the flag but keep on CI; would do for 1.2 and 1.1.5

[2020-11-26 13:24] xhochy commented on #33315
Already on it this minute!

[2020-11-26 13:30] jorisvandenbossche opened #38086 "PERF: performance regression in replace() corner cases"
ASV shows a *gigantic* regression (14629.25x) in a certain `replace` benchmark: https://pandas.pydata.org/speed/pandas/#replace.ReplaceList.time_replace_list?python=3.8&Cython=0.29.21&p-inplace=True&commits=07559156-dbee8fae

The simplified case is:

[code]

Compared to 1.1, I don't see such a huge difference, but still a decent slowdown (x10).

Now, in this case, we have integer columns, but tryi

[2020-11-26 13:36] jorisvandenbossche commented on #38086
Ah, the huge one on ASV is for `inplace=True`, for the default of `inplace=False` that I used above, it gives a comparable difference on the online benchmarks.

Now, about the actual example, also for the case where actually a value *can* be replaced (correct dtype, so much less of a corner case), there seems a slowdown:

[code]

It might have been a special case for values that were not found.

A

[2020-11-26 13:39] jorisvandenbossche commented on #38086
Taking a quick look at the profiles: before, it seems to be implemented with a "putmask" approach, while on master a lot of time is spent in a "compare_or_regex_search" function

[2020-11-26 13:48] jreback commented on #38082
already added

so repurposing to see if we need a more performance generative impl

[2020-11-26 13:58] jorisvandenbossche commented on #38075
I agree with @jreback that this seems (at first sight) a rather specific use case, probably too specific to add to pandas (eg the fact that it is limited to single column dataframes).
Or do you know of other languages/tools having such a method?

[2020-11-26 14:00] simonjayhawkins commented on #37309
closed by #37311

[2020-11-26 14:00] #37309 closed

[2020-11-26 15:10] simonjayhawkins commented on #37115
the code sample in the op still fails with #34407 which fixes #36495, so will assume these are unrelated.

[2020-11-26 15:35] #35803 closed

[2020-11-26 15:36] #37768 closed

[2020-11-26 15:36] #37821 closed

[2020-11-26 15:43] jreback opened #38090 "CI/TST: suppress http debug from tests outputs"
examples from https://travis-ci.org/github/pandas-dev/pandas/jobs/746072525

We have this output coming from our fixtures (we startup a http endpoint to test things), but the output is totally unecessary / distracting.

[code]

[2020-11-26 15:47] jreback opened #38091 "CI: very slow tests"
from a recent build on master, these builds are *very* slow. Yes we have 140k tests, but 30m is a lot of time (esp considering the azure builds are 2x faster).

needs some investigation on what is happening.
- https://travis-ci.org/github/pandas-dev/pandas/jobs/746072524
- https://travis-ci.org/github/pandas-dev/pandas/jobs/746072525

cc @pandas-dev/pandas-core

[2020-11-26 15:54] #36113 closed

[2020-11-26 15:56] jreback opened #38092 "TST: shift_across_dst failures"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=48611&view=logs&j=4b4d380c-92b5-58cf-5b80-2c6c9b1d5805&t=8eab1181-1335-58ed-7ed5-a271d9d86005

we want to see if this is a bug / add a test case

[code]

[2020-11-26 15:59] MarcoGorelli opened #38093 "Extend check for inconsistent pandas namespace usage"
xref #38076 - it can probably be extended beyond checking for classes.

Steps would be:

1. change `PATTERN` in `scripts/check_for_inconsistent_pandas_namespace.py` to
[code]
and save.

2. run `pre-commit run inconsistent-namespace-usage --all-files`, check the error messages, and fix them up

Here are the files which need fixing:
[code]

This can probably all be one in a single PR.

3. To check y

[2020-11-26 15:59] jbrockmendel commented on #38083
Yep, restoring the overriden searchsorted method fixes the perf.  that suggests there's a lot of overhead in algorithms.searchsorted

[2020-11-26 16:06] jbrockmendel commented on #38086
totally plausible, as that PR was before you pointed out that `np.putmask` is faster than `ndarray.__setitem__`

[2020-11-26 16:15] bergkvist commented on #38075
You can also use multi-column dataframes with multi-index dataframes as well - athough I imagine this is going to be a less common use-case (none the less something I've actually needed to do). I've noticed that dropping all the columns not needed for linking yields much better performance as well.

I'm working with CIM-data ([Common Information Model (electricity)](https://en.wikipedia.org/wiki/C

[2020-11-26 16:26] jbrockmendel commented on #38086
restoring the shortcut for that cuts it down from 1.2s to about 400ms, but virtually all of whats left is in block.copy

still looking into the other case

[2020-11-26 16:27] bergkvist commented on #38075
Although this might be a "niche function", I've still found a use for it in more than 170 places across 18 different files (out of ~34 files in total), and in turn improved both performance, readability and conciseness of my code. Most of the files are less than 100 lines long.

The abstraction has been extremely useful - especially for working with the CIM-data as mentioned in my last comment.

[2020-11-26 16:40] jreback commented on #37643
@jorisvandenbossche @TomAugspurger the inplace ops here seem like a footgun; sure they may have a small cost (but could be mitgated as @jbrockmendel indicates), but we don't allow anything like this on *any* other accessor operation. +1 on deprecation.

[2020-11-26 16:50] jreback commented on #18856
closing as this doesn't hit this path anymore

[2020-11-26 16:50] #18856 closed

[2020-11-26 16:52] jreback commented on #38001
does this functionaily match anything in the standard library? why is this useful?

[2020-11-26 16:57] bashtage commented on #38091
Could start up upping the number of durations shown.  There may be a large tranch of tests that are all not super slow but slow enough.

[2020-11-26 17:00] #36495 closed

[2020-11-26 17:08] ivanovmg commented on #38091
``pandas/tests/io/excel`` are pretty slow. Can gain about 5 minutes there.

[2020-11-26 17:26] #36319 closed

[2020-11-26 18:08] #37763 closed

[2020-11-26 18:17] jreback commented on #38075
@bergkvist best way to start is with an example of your code above in a recipe. pandas api is so huge that adding needs a really high bar (it might be that this is useful more generally, but let's start small).

[2020-11-26 18:57] jreback commented on #34923
ok this is not going to work as-is as its a breaking change. would suggest that we add `downcast=None|'infer'` option which folks can opt-in (and at some point we could deprecate and default).

[2020-11-26 19:16] bergkvist commented on #38075
Slightly simplified example (ignoring the power transformer):

[code]

The flip-function will swap index and columns of a pandas Series or DataFrame.

[2020-11-26 21:42] jamesmyatt commented on #28440
`ValueError`!

[2020-11-26 21:42] jamesmyatt opened #38100 "BUG: random_state should permit numpy.random.Generator"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Output:
[code]

#### Problem description

Best practice since Numpy 1.17 for creating random number generators is to us

[2020-11-26 21:43] simonjayhawkins commented on #35563
it appears that the frequency is lost is in the multiindex construction...

[code]

[code]

it is actually lost in the `_shallow_copy` where changes were made in #31315

the `values` passed come from factorization.

since there have been several refactors to _shallow_copy/_simple_new since, i'm not sure that we want to (or can easily) revert those changes

so it may be easier to ensure that the fr

[2020-11-26 21:46] TomAugspurger commented on #35563
Retaining the freq through factorize makes sense to me... IIUC, if the input index had a freq, the output index will have an identical `freq`, right? Since for the input to have a freq it must be unique and monotonic.

[2020-11-26 21:47] jamesmyatt commented on #28440
Guarantee-wise, it would be probably be best to match [NEP 19](https://numpy.org/neps/nep-0019-rng-policy.html)

[2020-11-26 21:50] phofl commented on #37692
Great, you can ping me, if you need some help

[2020-11-26 21:51] jbrockmendel commented on #35563
That's the crux of #33830.  I think retaining freq makes sense.

[2020-11-26 21:52] jamesmyatt commented on #38100
In the short-term, I think it's probably acceptable for pandas to take the BitGenerator used by the input Generator (`gen.bit_generator`) and wrap it in a new `RandomState`. What do you think?

But long-term it's probably best to convert everything to use `Generator` objects instead since this is the future.

[2020-11-26 22:18] simonjayhawkins commented on #35563
@jbrockmendel do you have time to look into this? I won't be investigating further today.

[2020-11-26 22:21] jbrockmendel commented on #35563
strong maybe

[2020-11-26 22:38] #37820 closed

[2020-11-26 23:04] erfannariman commented on #38001
Not that I can think of, it would require three extra steps to achieve this:

[code]

Because right now it is not possible  to distinguish between already `NaN` values **before** using `str.extract` and `NaN values which are returned **after** using `str.extract`

[2020-11-26 23:06] tjperr commented on #29082
TIL, thanks @phofl 🎉

[2020-11-26 23:29] #20816 closed

[2020-11-27 01:01] #38086 closed

[2020-11-27 03:19] galipremsagar opened #38104 "BUG: RangeIndex is not being appened correctly"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-27 05:12] arw2019 commented on #26368
We also have benchmarks for this in `asv_bench/benchmarks/stat_ops.py`

[2020-11-27 05:41] ivirshup opened #38107 "BUG: `df.copy` removes attributes from series in the original dataframe"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Calling copy on a dataframe probably shouldn't modify it or it's contents (especially those e

[2020-11-27 06:09] ivirshup commented on #37954
Expanded `prun` results:

[code]

<details>
<summary> </summary>

[code]

</details>

[code]

<details>
<summary> </summary>

[code]

</details>

[2020-11-27 07:24] #38083 closed

[2020-11-27 07:58] leonarduschen commented on #38107
I believe this is intentional. `.attrs` is only propagated on the object itself (i.e. the dataframe) and not on each individual columns.

This is related to https://github.com/pandas-dev/pandas/issues/35425

[2020-11-27 08:16] jorisvandenbossche commented on #38107
Indeed, this is a consequence of what is being discussed in #35425.

The reason that it "seems" to retain the attrs for the Series before copying, is because we cache the Series upon first access. So you are actually setting the attrs on this cached Series. You can see that if we clear the cache, the attrs are not hold on the DataFrame:

[code]

So let's discuss this further as part of #35425

[2020-11-27 08:16] #38107 closed

[2020-11-27 08:19] jorisvandenbossche commented on #35425
Another example where the current behaviour can lead to confusing behaviour, is when setting `attrs` directly on a column of a DataFrame, which are retained as long as the cache is not cleared .., see #38107

[2020-11-27 08:20] jorisvandenbossche commented on #35425
[code]

[2020-11-27 08:23] jorisvandenbossche commented on #38104
Similarly as in https://github.com/pandas-dev/pandas/issues/38058, this is behaviour that is controlled by `pyarrow`. At the moment, pyarrow only tries to restore the RangeIndex if the one in the metadata can match for the *full* resulting DataFrame, which is not the case when reading from partitioned files.

If you want to preserve the index, I recommend you to specify `index=True` in `to_parquet

[2020-11-27 12:16] simonjayhawkins commented on #38066
During the 1.1.x releases, I requested others (and did myself) to tag issues that were regressions from 1.0.5 with the next 1.1.x milestone.

Now that we approach the end of the 1.1.x series of releases, I'd be interested on other's views on this process and whether to do the same for 1.2.x.

I think that it provided better tracking/visibility for those issues. The downside is that without allocat

[2020-11-27 12:50] hongshaoyang commented on #36850
take

[2020-11-27 13:42] jreback commented on #38066
it is impossible to fix everything w/o dedicated and paid resources

we do the best we can and it is what it is

we release pretty frequently and we do a good job

the worst thing we could do is delay releases to make sure 'everything is fixed' that would mean we essentially never release

regressions on a project this size can and do happen

[2020-11-27 14:20] jorisvandenbossche opened #38110 "Follow-up on basic FloatingArray implementation"
Long overdue follow-up item on the initial merge of the nullable float64/float32 support (https://github.com/pandas-dev/pandas/pull/34307).

List of follow-up TODO items:

* [ ] Update the `convert_dtypes` method to also return nullable floats (one question here: what with floats that are all "integer"-like? I think we want to keep returning nullable int for that, but we might want to add a parame

[2020-11-27 15:03] simonjayhawkins commented on #36429
removed the blocker tag.

[2020-11-27 15:05] simonjayhawkins commented on #36429
and removing from 1.2 milestone

[2020-11-27 15:06] simonjayhawkins commented on #37398
removing the 1.2 milestone

[2020-11-27 15:31] rhshadrach commented on #32556
The following demonstrates issue and raises on master:

[code]

Can resolved this as in #33006 with the above code as a test.

[2020-11-27 18:18] simonjayhawkins commented on #36915
first bad commit: [c2f3ce396454c8a80f695e64b87b43757797b7d3] BUG: MultiIndex intersection with sort=False  does not preserve order (#31312) cc @jeffzi

[2020-11-27 18:43] jbrockmendel commented on #33838
Reopening bc I'm finding that having DTI.factorize retain freq is a PITA if I can't just defer to the DTI/DTA implementation

[2020-11-27 18:43] jbrockmendel commented on #33838
xref #35563

[2020-11-27 18:47] phofl commented on #28928
cc @jbrockmendel this is a split path problem. Will probably be fixed with your upcoming pr concerning this

[2020-11-27 18:55] jbrockmendel commented on #28928
At first glance it looks like an EA2D problem that is hidden because of separate split-path logic.

[2020-11-27 19:23] jbrockmendel commented on #37954
@phofl im thinking we should try to address this by avoiding the for-loop in _ensure_listlike_indexer, what do you think?

[2020-11-27 19:46] jbrockmendel opened #38119 "REF: dtypes.cast"
There are too many functions in `dtypes.cast`, making it difficult to know which one to use in a given situation.  e.g. when working with `Index.insert` in #38102 I considered `maybe_promote`, `maybe_upcast`, `maybe_casted_values`, `find_common_type`.

Best case scenario we can de-duplicate some of these and just remove some of them, but failing that, I think we could find new homes for e.g. `cons

[2020-11-27 19:55] jreback commented on #38119
would start by making a submodule and organizing

[2020-11-27 20:03] #33314 closed

[2020-11-27 20:03] #33315 closed

[2020-11-27 20:11] phofl commented on #37954
@jbrockmendel
Yes, that would probably be the easiest point to improve. Would cut this roughly in half. What would be the most performant way to add the missing keys all at once?

[2020-11-27 20:12] #36003 closed

[2020-11-27 20:23] boringow opened #38121 "CLN remove duplicated entries in valid_resos in pandas/core/indexes/datetimes.py"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Before running, it is easy! just check the lines 560-570 of the pandas/code/indexes/datetime.py and you will understand the human error some developer did :)

[code]
Insi

[2020-11-27 21:59] arw2019 commented on #38121
Can you take a look at [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) and provide a smaller code snippet? The idea is to localize the bug you want to fix

[2020-11-27 23:55] twoertwein opened #38125 "BUG: to/read_* do not use user-provided file handle if handle implements os.PathLike and also opened the file"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas (theoretically affected as well but my example doesn't work for <1.2 (need binary file handle) other examples should trigger this bug in <1.2).

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pa

[2020-11-28 05:03] jbrockmendel commented on #38042
I'm more familiar with DataFrame reductions than with GroupBy reductions but I imagine they behave similarly.  Can you expand on what you mean by "does not get coerced correctly"?   Could "mean doesn't get coerced by numpy so we have to do some special massaging"?

[2020-11-28 08:35] PaulAmosKreiner opened #38131 "BUG: HDFStore mishandles pd.categorical when initialized with custom categories"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-28 15:40] galipremsagar commented on #37327
@allenmac347 I think it'd still be considered an issue, we might probably need a fix similar to : https://github.com/pandas-dev/pandas/pull/31918

[2020-11-28 15:43] simonjayhawkins commented on #37784
for now, if this is not blocking will add pytest-xdist to pip test and conda recipe to pandas-release, to get passing tests. tested at https://github.com/simonjayhawkins/pandas-release/actions/runs/388724204

[2020-11-28 16:45] jbrockmendel commented on #37516
cc @phofl i think this has a bearing on one of the topics you're working on

[2020-11-28 17:16] rhshadrach commented on #38042
Yes - that's it. Compare:

[code]

which give the results:

[code]

All except groupby-apply are doing ``transpose -> op -> transpose`` which results in the float data type where it is not technically necessary. But of course, this is a silly example and shouldn't even be using apply/transform, let alone `axis=1`. What I don't know of is if there are any non-silly examples where the data type gets

[2020-11-28 17:29] #22529 closed

[2020-11-28 17:33] #38090 closed

[2020-11-28 17:49] jreback commented on #37217
closed via https://github.com/pandas-dev/pandas/pull/38061

[2020-11-28 17:49] #37217 closed

[2020-11-28 17:51] jreback commented on #35466
there is not a PR to actually change this, nor has this been discussed, moving off 1.2

[2020-11-28 17:51] jreback commented on #35804
no open PR for this, moving off 1.2

[2020-11-28 17:51] leonarduschen commented on #38067
https://github.com/pandas-dev/pandas/blob/da5f91438e0a632eee841c8775ed20e3ab7c2744/pandas/tseries/holiday.py#L15

We should probably remove `next_monday` since it's misleading as it doesn't do anything if the current day is not Saturday or Sunday.

[2020-11-28 17:52] jreback commented on #35429
no open PR moving off 1.2

[2020-11-28 17:54] jreback commented on #37286
we should fix this but moving off 1.2

[2020-11-28 18:00] phofl commented on #37516
@jbrockmendel not really working on this right now. The underlying cause is the same as in #30439. Have to define how to move forward and if this is expected or a bug.

[2020-11-28 19:49] fangchenli opened #38138 "CLN: C408 Unnecessary dict call - rewrite as a literal"
The following files contain flake8 C408 Unnecessary dict call - rewrite as a literal. Good for first time contributors. See #38078 and #38116 for how to fix them. Use `flake8 [file_path]` to check for each file.

### C408
- [x] ./pandas/core/generic.py
- [x] ./pandas/core/series.py
- [x] ./pandas/core/frame.py
- [x] ./pandas/core/strings/accessor.py
- [x] ./pandas/core/dtypes/dtypes.py
- [x] ./pan

[2020-11-28 19:49] leonarduschen opened #38139 "TST: Add tests for observance rules in holiday.py"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

None of the observance rules (e.g. `next_workday`, `before_nearest_workday`) are tested

[2020-11-28 19:55] leonarduschen commented on #38067
There are room for improvement for the docstring as well. For example:

Docstring of `before_nearest_workday`:
https://github.com/pandas-dev/pandas/blob/65319af6e563ccbb02fb5152949957b6aef570ef/pandas/tseries/holiday.py#L111

Docstring of `after_nearest_workday`:
https://github.com/pandas-dev/pandas/blob/65319af6e563ccbb02fb5152949957b6aef570ef/pandas/tseries/holiday.py#L118

[2020-11-28 20:29] jbrockmendel commented on #35466
The current behavior of DatetimeIndex refusing to compare to a `date` object is correct, and we need to change the Timestamp behavior to match it #36131 along with the stdlib.

[2020-11-28 22:24] xinrong-databricks commented on #37875
Out of curiosity, do types below need examples in docstrings?
[code]

[2020-11-28 22:51] phofl commented on #35563
@jbrockmendel I have a question losely related to the ops question:

[code]

The first one does not retain a freq while the second one does. This seems odd to me, because both are doing exactly the same from a user facing perspective. If we get a listlike indexer, which is essentially equal to a slice, should we retain the freq then? Could implement this relatively easy in the part where we are in