[2017-11-30 11:15] #18573 closed

[2017-11-30 11:15] jorisvandenbossche commented on #18515
No, the inconsistency I describe is the underlying cause of the bug you reported in this issue. Of course, the actual cause is in the implementation detail how Series handles no data or empty dict, previously it was passed as np.array([]), now you changed that to be passed as []. Which you are fixing, so perfect!

[2017-11-30 13:12] JeroenDelcour commented on #18273
Any progress on this? I couldn't find the mentioned pull request.

[2017-11-30 13:28] konstantinmiller commented on #13049
It would be extremely helpful to be able to specify the types of columns as read_sql() input arguments! Could we maybe have at least that for the moment?

[2017-11-30 13:47] jorisvandenbossche commented on #13049
Yes, we can.. if somebody makes a contribution to add it!
So PR welcome to add a `dtype` argument to `read_sql`

[2017-11-30 13:56] #17893 closed

[2017-11-30 14:08] jorisvandenbossche commented on #10696
This is actually not *really* fixed, as the resulting categories differ from the one specified in the dtype in `astype`, see https://github.com/pandas-dev/pandas/issues/10696#issuecomment-340897341 (the output has cats [a, b], but ['a', 'b', 'c'] was specified).

I am not fully sure what is the best behaviour. But either the output categories should be conformed to the passed categories, or a more

[2017-11-30 14:26] #17483 closed

[2017-11-30 14:38] jorisvandenbossche commented on #18410
so small example, with 0.20.3:

[code]

and with master:

[code]

[2017-11-30 14:44] jreback commented on #10696
@jorisvandenbossche this is not fixed at all

[2017-11-30 14:48] Khris777 commented on #18516
It seems like `\x` is interpreted as hexadecimal escape in sre_parse.py which is a part of Python, the code just checks if the second character is `x` and then interprets it as a hex escape.
Haven't looked further for now.

[code]

[2017-11-30 14:49] jorisvandenbossche commented on #10696
That's what I am saying?

[2017-11-30 14:49] jorisvandenbossche commented on #18410
So there are two different things under the hood:

1\. "Assigning with extending" an object series with a datetime / timestamp introduces an int:

[code]

The above happens both on master as in 0.20.3 (so didn't change), and looks like a bug to me.

2\. When you have a series of int and assign a Timestamp / datetime into it, previously it changed to datetime64 dtype, now it changes to object dtype

[2017-11-30 14:51] jorisvandenbossche commented on #18410
@bear0330 you can easily fix your code by changing the `ind=pd.Series(len(df))` line to not create an integer series (ideally you should also not iteratively expand a series, but that requires some more changes)

[2017-11-30 14:56] jorisvandenbossche commented on #18410
Updated top post and title to only deal with issue 1\. from https://github.com/pandas-dev/pandas/issues/18410#issuecomment-348209856

[2017-11-30 15:00] jorisvandenbossche commented on #18569
We should still make sure this works with 0.21.1

[2017-11-30 15:03] jreback commented on #18569
this is all well tested in #18188 with almost exactly this example. I see no reason to have this issue open.

[2017-11-30 15:05] #18569 closed

[2017-11-30 15:06] jorisvandenbossche commented on #18569
Of course not, I was just reopening to ensure this was the case :-) (I didn't search yet where it could have been fixed)

[2017-11-30 15:11] #18432 closed

[2017-11-30 16:59] andersonjacob opened #18578 "BUG: .diff() function for UTC datetimes doesn't work"
#### example code
[code]

#### Problem description

This worked in pandas 0.20.3.  For some reason in pandas 0.21 and greater the to_datetime() is now providing a 'datetime64[ns, UTC]' which doesn't play well with diff() when called from the DataFrame.  When called from the Series it works fine.

#### Expected Output

I don't really have an opinion on which dtype is used.  In fact the dtypes seem

[2017-11-30 17:28] pirsquared commented on #18366
My contribution is motivated by two things.

1. I'm aware of and agree with the motivation to reduce the bloated API of Pandas.  Even if I'm misguided in regards to the perceived motivation to reduce "bloated" API elements, It is still my opinion that Pandas' API could be streamlined.
2. I think it is better to have a good cookbook with good recipes than provide API to satisfy everyone's wants and

[2017-11-30 18:25] meditativeape commented on #18573
Thanks for the suggestion, @jreback !

[2017-11-30 18:49] kodonnell commented on #18574
OK, fair enough, though I'd tend to think including it would be the more 'obvious' behaviour. (Does the user lose anything by doing this?)

Using `unique` is fine, but a lot slower - I'll submit a separate issue on this (if there isn't one already).

[2017-11-30 19:08] kodonnell commented on #12278
I just came across this, and my example also showed 2-3 orders of magnitude performance increase, which:

- is pretty sweet for the user, and
- probably could be extended beyond `unique` (e.g. in grouping etc.)

I'd take a somewhat different approach so that no API changes are required, and the win is 'free' in the 'standard' use cases (i.e. something like `df['col1'] = df.col1.astype('category')`

[2017-11-30 20:38] jorisvandenbossche commented on #18574
But it would make the implementation much harder + the fact that your categories can change when missing values are introduced can also be confusing.

[2017-11-30 20:43] kodonnell commented on #18574
That's new to me - I thought categories couldn't change.

But 'does the *user* lose anything'? Anyway, since I'm not proposing a PR to do all the hard work, we can probably leave this unless others revive it.

[2017-11-30 21:06] jorisvandenbossche commented on #12278
@joshlk such a 'flag' would need to check both that all categories are used, that there are no missing values, that it is sorted (so also quite costly to compute), and would be have to be invalidated in many operations (eg that do sorting, selecting data, etc). So I don't think something like this would be worth it (certainly from a code maintenance perspective).

[2017-11-30 21:33] maxu777 commented on #18366
I really like tdpetrou's idea - to use: `names=name_dict`.

This can make everyone happy. It gives us a possibility to rename columns **easily** as we wish.

[2017-11-30 22:36] robbuckley opened #18579 "errors and inconsistent behaviour when using a DataFrame or a boolean Series as an index"
#### Code Sample, a copy-pastable example if possible

[code]
so far so good, now lets try a boolean series

[code]
now a dataframe
[code]

#### Problem description

I would expect passing a boolean Series as the index= parameter to either act as Series.index (as in the example where the integer Series s1 is used as an index) or Series.values (as the docs seem imply http://pandas.pydata.org/pandas

[2017-11-30 23:13] Anton-vBR opened #18580 "COMPAT: df.to_dict('index') is not preserving dtypes"
#### Code Sample

[code]
#### Problem description

The problem appears when trying to export dataframe to dict using 'index' as param and when that dataframe conatains both float and int. Expected behaviour would be to separate ints and floats (as shown below). iAs recommended by the docs, we could use itertuples instead. I have included a code-snippet that could work. (Disclaimer: Sorry, this mig

[2017-11-30 23:15] dhirschfeld opened #18581 "Support non-default indexes in to_parquet"
Calling `to_parquet` on a DataFrame with a non-default index results in the error below:
[code]
While, you can work-around this by calling `reset_index()`  as the message says, this loses the information about what columns made up the index so means you can't round-trip a DataFrame with a non-default index.

#### Output of ``pd.show_versions()``

<details>

[code]
</details>

[2017-11-30 23:35] zertrin commented on #18366
Not really, as mentioned in my initial post, this would not solve the issue of decoupling the place where the aggregate operation is defined from the name of the resulting column, requiring an extra effort to make sure both are "synchronized".

I don't say that's a bad solution (after all it solves the other issues), but it wouldn't be as easy and clear as the dict of dict approach. I mean here th

[2017-12-01 00:06] wyegelwel commented on #16328
I ran into this today. Consider the case:

[code]

Given this data with these quantile values, I would expect the bins to be `[(0.9999,1] < [2,4)]`, however they are `[(0.999, 2.0] < (2.0, 4.0]]`

I think this is a bug in the qcut logic with duplicates.

Specifically, qcut decides on the [quantiles using linspace](https://github.com/pandas-dev/pandas/blob/a6345c7cd8c41842d61902801e7bef9cacb0c2d5/p

[2017-12-01 00:10] zertrin commented on #18366
@pirsquared interesting solution with current API. Albeit in my opinion not quite easy to grasp (i don't really understand how it works :confused: )

[2017-12-01 00:34] kodonnell commented on #12278
I was thinking that the only way to change categories was with a few function calls, and hence it could be easy with e.g. a decorator - but you're right, subsetting data with a select would also cause problems. If there are too many more possibilities, then it wouldn't be worth it.

I don't see why you need to check. E.g. if categories are created from "astype('category')" then they're all used. A

[2017-12-01 01:18] jreback commented on #16328
@wyegelwel thanks for the report! a PR to fix would be welcome!

[2017-12-01 01:23] jreback commented on #18581
If I remove the checking code:

[code]

[code]

We support ``pyarrow >= 0.4.1``, I don't remember exactly when index support was added (and had a bug or 2), but we could check conditionally (as we have other compat code for pyarrow < 0.5.0, and < 0.6.0 for other items). alternatively could bump minimum to 0.6.0 is ok too.

@dhirschfeld would love a PR.

cc @cpcloud @wesm

[2017-12-01 01:26] jreback commented on #18580
@Anton-vBR not terribly averse to changing this if it will work in existing cases and also preserve dtypes. want to submit a PR?

[2017-12-01 01:29] jreback commented on #18578
``datetime64[ns, UTC]`` is based on a DatetimeIndex in the impl. These are always 1-d; most of our storage is actually 2-d, so these require some handling in the internals.

Happy to have a PR to fix this.

[2017-12-01 01:33] jreback commented on #18579
@robbuckley not really clear *why* you would do this, e.g. pass a DataFrame to an Index. I believe we are going to raise on this (just discussing with @toobaz can't quite find the issue).

And a boolean index is a quite strange beast.

[2017-12-01 01:47] dhirschfeld opened #18582 "BUG: Boolean 2d array for __setitem__ with DataFrame incorrect results"
According to my understanding of how boolean indexing *should* work the below test should pass:
[code]
i.e. it shouldn't matter whether or not the boolean mask is a DataFrame or a plain ndarray

#### Problem description
As can be seen in the picture below, when indexing a DataFrame with a boolean ndarray, rather than
setting the individual `True` elements entire rows are being set if *any* value i

[2017-12-01 02:08] Yevgnen opened #18583 "dtype not being kept in index of `pd.crosstab`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Outputs:

[code]

Maybe both the index and columns keep the original dtype of the series.

For documentation-related issues, you can check the latest versions of the docs on `master` here:

https://pandas-docs.github.io/pandas-docs-travis/

If the issue has not been resolved there, go ahead and file it in the i

[2017-12-01 02:21] dhirschfeld commented on #18581
Seems a simple fix! Will see about putting in a PR shortly...

[2017-12-01 03:05] qiaobz opened #18584 "COMPAT: infer larger than unit64 to object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
raise "OverflowError: long too big to convert", it may be the uint64 problem?
[code]
#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.13.final.0
python-bits: 64
OS: Windows
OS-release: 8.1
machine: AMD64
processor: Intel64 Fami

[2017-12-01 04:30] bobhaffner commented on #18002
Is anyone looking at this?  If not, I can submit a PR.

My proposed changes.  It doesn't throw a warning and it builds and installs

[code]

[2017-12-01 06:54] Khris777 commented on #18516
Okay, this is not a pandas issue, this behaviour stems straight from Python's own `re` module:

[code]
throws the same `incomplete escape \x` error.

But doing this:
[code]
succeeds: `<_sre.SRE_Match object; span=(0, 2), match='\\x'>`

Same goes for `pat = re.compile("\\\\x")´.

And enough it doesn't matter if you match with `"\\x2f"` or `r"\\x2f"`

So in conclusion:

- Matching using `"\\x"`, or

[2017-12-01 07:43] Anton-vBR commented on #18580
@jreback Ok sure, I'll have a look at doing the necessary steps to submit a PR.

[2017-12-01 09:37] toobaz commented on #18579
@robbuckley three things are sure:
- if you pass something as ``index=something``, it should _not_ go in the Series values
- whatever behavior we choose for ``index=`` for ``Series``, ``DataFrame`` should behave the same.
- if an error must arise, it must be in the constructor call, not later

The rest is a bit less obvious. Boolean indexes are strange beasts at least for the general reason that n

[2017-12-01 10:17] #18516 closed

[2017-12-01 10:58] jreback commented on #18579
@toobaz yeah I'll repurpose this issue a bit to enhance error reporting w.r.t. nested-list likes to ``Index``, e.g. if you pass a ``DataFrame`` I would expect an error, even though technically you could make a MI.

[2017-12-01 11:18] jreback commented on #18582
the 2d ndarray input hits a path where a 1d array is expected, so this is a bug

Idiomatically and what the ``DataFrame`` input hits is ``.where()``
[code]

Here's a patch to implement the correct conversion (note might fail some existing tests). Alternatively we could raise
[code]

[2017-12-01 11:18] jreback commented on #18582
would love a PR!

[2017-12-01 11:20] jreback commented on #18583
This is correct

introduces nans and so dtype changes to float
[code]

you should fill them and astype if you want.
[code]

[2017-12-01 11:20] #18583 closed

[2017-12-01 11:27] dhirschfeld commented on #18582
Ha! Seems to be my weekend for getting stuck into pandas so I'll give it a crack...

[2017-12-01 11:29] toobaz commented on #18579
Sorry, I totally misunderstood the original report, so my point "if you pass something as index=something, it should not go in the Series values" made no sense. Let me try again:

- if you pass a ``Series`` as ``index=s``, it should use ``s.values``, not ``s.index``
- I'm +1 on allowing a DataFrame to be casted to MultiIndex , but I agree it's debatable. Related to #15472 I guess.
- if an error mu

[2017-12-01 11:37] jreback opened #18587 "PERF: tab completion with a large index"
from https://github.com/pandas-dev/pandas/pull/16326#issuecomment-348473324

If you have a very large index, ``_dir_additions`` (for tab completion) actually takes quite a bit of time

So what I would do is if the index is say < 100, use the currently _dir_addition, otherwise return an empty list! (its essentially too big to use tab completion for anyhow). can you make this change and add an asv f

[2017-12-01 11:37] jreback commented on #18587
cc @jorisvandenbossche @TomAugspurger

[2017-12-01 11:37] jreback commented on #18582
thanks @dhirschfeld

[2017-12-01 11:51] robbuckley commented on #18579
@jreback i dont have a specific used case, just stumbled across it. IMHO they should either raise early or be supported in a consistent way, Currently the constructors succeed for all these examples, but various things fail down the line, in more or less confusing ways -- except for the integer Series example, where it behaves as if s.index were passed.

The dataframe case at first appears to have

[2017-12-01 12:27] turner3467 opened #18588 "Inconsistent behaviour with min method on object dtype columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

If I've read the documentation correctly I think min should return a series of the same length as the relevant axis of the dataframe, and especially with the skipna flag set as True (which is the default) NA values should be ignored in the calculation.

#### Output

col1    0
dtype: int64

#### Expected Output

[2017-12-01 12:35] toobaz opened #18589 "Series.rename doesn't accept "axis" argument"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Sure, it is redundant, but for compatibility it would be good to support it.

In particular, I have an old method which calls ``obj.rename_index(axis=n)`` with ``obj`` sometimes being a ``DataFrame`` and sometimes a ``Series``, and now I get a warning asking me to use ``rename``... but if I do, I get the above

[2017-12-01 12:52] apiszcz opened #18590 "reample, asfreq change columns data types"
after resample the data types change to float64, is it possible to keep the input type, uint and uint64 in this example?

[code]
===
[code]

[2017-12-01 13:29] BibMartin commented on #18587
One may have a very large index with few distinct values. I would suggest to limit the number of values returned rather than the size of the index. (It seems that the delay is due to the handling of the results rather than the computation of `dir`)
Something like:
[code]
Anyway, I think I can address this issue in #16326 ; the topics are quite related.

[2017-12-01 13:47] TomAugspurger commented on #18002
Seems reasonable to me.

[2017-12-01 14:05] bobhaffner commented on #18002
Good deal, I'll submit a PR

[2017-12-01 14:49] gabrielclow commented on #18564
I've never done one but I will happily learn how to tonight

[2017-12-01 15:22] jcrist opened #18593 "x.astype(categorical_dtype) ignored if x is already categorical"
[code]

I'd expect `b.astype(dtype)` to re-categorize `b` with the new categories from the categorical dtype. Instead, it seems this operation is ignored.

[2017-12-01 15:30] jreback commented on #18593
yeah this ignore it if its already categorical, agree should check if the cat is different and reconstruct a new one.

happy to take a PR

[2017-12-01 15:31] jreback commented on #18593
cc @chris-b1

[2017-12-01 15:47] jorisvandenbossche commented on #18593
See also https://github.com/pandas-dev/pandas/issues/10696

[2017-12-01 16:01] jbrockmendel commented on #18270
Related #9859

[2017-12-01 16:19] mzoll opened #18594 "pd.concat with mixed sparse and dense data, kill structure"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code fails, when using mixed type data on segmenting the frame.
A possible work-around is to recast the resulting sparse dataframe to a dense data frame via
c_new = pd.DataFrame(c)

At the bootom of this it seems that `pandas.concat` always uses the highest class object in the to catenate list, e.g. h

[2017-12-01 16:24] jreback commented on #18523
here is a patch to fix:

[code]

thanks to @pganssle for the advice!

[2017-12-01 16:45] #14355 closed

[2017-12-01 16:55] pganssle opened #18595 "Add notion of pytz time zone normalization"
Though part of the solution to #18523 will be to introduce a new time zone comparison operation, there's another, less pressing issue that's also brought up there:

[code]

The problem comes from the fact that `pytz.localize` spawns concrete offset-specific new `tzinfo` objects for each date that don't compare equal to one another (and aren't the same instance as one another). As such, when you pu

[2017-12-01 16:59] jreback commented on #18595
thanks @pganssle would love a PR which implements this!

[2017-12-01 18:06] jreback commented on #18594
a duplicate of #16874

yep, sparse could use some love!

[2017-12-01 18:06] #18594 closed

[2017-12-01 18:07] jreback commented on #18551
xref to #16874 which is the underlying issue, though maybe not the cause of this particular.

[2017-12-01 18:12] jreback commented on #18590
``df2`` is a Resampler, which is part of a resample operation. Calling ``.info()`` is just for backward compat (and will be removed in 0.22.0 anyhow).

You actually need to perform an operation. The operations determinate dtype preservation, most often they are in fact converted to float; ``.sum()`` does try to preserve.

[code]

[2017-12-01 18:12] #18590 closed

[2017-12-01 18:13] jreback commented on #18589
sure for compat this would be ok

[2017-12-01 18:25] dcolascione opened #18597 "Dict initialization of DataFrame makes useless copy"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Dict initialization shouldn't copy input ndarrays. The problem lies in internals.py _stack_arrays, which unconditionally calls np.asarray on input numpy arrays, copying them.

#### Expected Output

The assertion should not fail.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
-------------

[2017-12-01 18:28] jreback commented on #18588
xref #18021, #16832

so couple of things going on.

``.min(numeric_only=None)`` by default so non-numerics are ignored (if they raise). But these fail anyhow if executed directly on the column.

[code]

so we are not skipping NaN here and passing directly to numpy which raises (would have to patch ``nanmax`` as well);

[code]

patch
[code]

[2017-12-01 18:28] jreback commented on #18588
so open to fixing this (PR welcome!) it might break some existing tests.

[2017-12-01 18:32] jreback commented on #18597
this is *only* true for a single 1-d array passed in, passing in multiple items with copy them into the internal structures. You can try not copying in this specific case if you want.

[2017-12-01 18:37] jreback commented on #17572
closing in favor of #18595 which is the underlying reason/cause.

[2017-12-01 18:37] #17572 closed

[2017-12-01 18:59] #18310 closed

[2017-12-01 19:02] #18480 closed

[2017-12-01 19:02] #18515 closed

[2017-12-01 19:55] TomAugspurger commented on #18587
Do we know what `_dir_additions` is slow for large objects?

[2017-12-01 22:14] gfyoung commented on #18584
@qiaobz : Thanks reporting this!  Unfortunately, this is a little hard to reproduce.  Could you provide a reproducible example by creating a small table in memory (using Python's `sqlite` library) that will cause this error to surface?

[2017-12-01 22:16] gfyoung commented on #18570
@tdpetrou : Thanks for reporting this!  While your workaround isn't that hard to do, I don't see why we shouldn't just drop columns that have non-numeric `dtypes`.  We do that for `DataFrame.describe`.

@jreback @jorisvandenbossche : Thoughts?

[2017-12-01 22:51] gfyoung commented on #18566
@fortooon : Thanks for reporting this!  This is not a bug, as we explicitly do not allow separators with such complexity.  The `IndexError` is to be expected.

Closing this issue for now can always re-open if necessary.

[2017-12-01 22:53] gfyoung commented on #18553
@dtourillon : Thanks for reporting this!  Indeed, that does seem intuitive to me.  "Downsampling" at the same frequency should vacuously be true I would think.

@jreback @jorisvandenbossche : Thoughts?

[2017-12-02 02:40] qiaobz commented on #18584
sorry for troubling you

- when using sqllite3, it's no problem
[code]
and the ouput is, (no error)
[code]
- reproduce the problem:
    - oracle database,  create table and insert data
[code]
[code]
    - use cx_Oracle and pandas
[code]
    and then cause “OverflowError: long too big to convert”

[2017-12-02 02:43] gfyoung commented on #18584
@qiaobz : Interesting...can you provide a stacktrace for when you try to read from the Oracle DB?

[2017-12-02 02:53] qiaobz commented on #18584
my fault, I add it now

[code]

[2017-12-02 03:36] gfyoung commented on #18584
Hmm, that's very strange.  Here's what I suggest you do:

1) Create a new `conda` environment with `pandas` installed.  Make sure you can reproduce the error.
2) Try installing the most updated version of `pandas` (we're at `0.21`, but you are using `0.20.1`) and see the error persists still.
3) Locate the line where you initialize the returned `DataFrame`, that would correspond to this block in y

[2017-12-02 04:50] qiaobz commented on #18584
thx, I try to new a conda environment. but my pandas in this issue is 0.21.0, you can see the INSTALLED VERSIONS(pd.show_versions() output)
btw, I found that 20124400100030425447 is beyond the range of uinit64, such like 10124420010000167598 will cause no error

[2017-12-02 05:08] gfyoung commented on #18584
Right, which is why I was asking you what value the Oracle DB is returning compared to the in-memory version.  Were you able to figure that out by following my instructions?

[2017-12-02 06:06] qiaobz commented on #18584
ok.
I’m outside now QAQ. I will come back in serval hours. thanks for your answers.

[2017-12-02 07:53] qiaobz commented on #18584
the parameters to `DataFrame.from_records`:
- Oracle DB
`[(20124400100030425447L,)]`
- in-memory version
`[(2.0124400100030427e+19,)]`

[2017-12-02 10:54] NewbiZ opened #18599 "copy=False MultiIndex / FrozenNDArray creation does not work"
I am trying to create a pandas DataFrame from a bunch of numpy `ndarray` without copying anything. The overall objective is to share a huge `DataFrame` between many processes from a shared memory.

Some information on my environment:

- `pandas 0.18.0`
- `numpy 1.10.4`
- `python 3.5`

The function I use to retrieve the underlying data pointer of my `ndarrays`:

[code]

### Problem 1

It seems that

[2017-12-02 11:25] NewbiZ commented on #18599
It seems to me that during the creation of the labels (`_set_labels()`) the call to `_ensure_frozen` always makes a copy while coercing the `dtype`, even if `copy=False`:

[code]

[2017-12-02 11:31] NewbiZ commented on #18599
Following is the implementation of `_ensure_frozen`:
[code]
I dont understand why the first line calling `_coerce_indexer_dtype` is required here.

[2017-12-02 11:35] NewbiZ commented on #18599
I checked that the following code path is still present in the `master` branch.

[2017-12-02 14:09] TomAugspurger commented on #18574
It's often convenient, even in user-land, to know that the codes range from `[0, n_categories)`, and that missing values are always coded as `-1`. Included `NaN` in the categories breaks that assumption.

[2017-12-02 14:39] qiaobz commented on #18584
Hmm, so I complicate the problem.
We can easily reproduce the error
[code]
then casue error

[2017-12-02 15:51] jreback commented on #18599
none of this will be supported in the current version of pandas. you should checkout [pyarrow](http://arrow.apache.org/docs/python/) which implements zero-copy construction. Further it has the plasma store to zero-copy share objects in shared memory.

I don't know if MultiIndexes are supported.

[2017-12-02 15:51] #18599 closed

[2017-12-02 15:52] jreback commented on #18587
you can use ``self._info_axis.unique(level=0)`` here as a generic way to do this.

[2017-12-02 15:53] jreback commented on #18584
If you really need integers this large then you have to explicitly set them with ``object`` dtype to avoid the conversions.

[code]

[2017-12-02 15:54] jreback commented on #18570
sure this could be done, ``.corrwith`` is a numeric only operation. Would take a community pull request.

[2017-12-02 15:55] fortooon commented on #18566
@gfyoung : Thanks for response. But how I can avoid this error and use regexp separator that determines tab sign or comma? I thought that using 'sep' parameter as regexp is legal according to doc :

[2017-12-02 17:34] #18509 closed

[2017-12-02 17:43] #18493 closed

[2017-12-02 19:02] gfyoung commented on #18566
@fortooon : Good point.  I misspoke yesterday about that.  Looking at this with a clearer mind, your regex is indeed correct.  However, your converters are not correct.  The indices you choose **must be relative to the `usecols` parameter that you pass in**.  Here is what I mean:

When you specify `usecols=[2, 1]`, the filtered table looks like this:

[code]

The converters are then applied to thi

[2017-12-03 01:47] tdpetrou commented on #18366
I started a thread on the datascience subreddit - [What do you hate about pandas?](https://www.reddit.com/r/datascience/comments/7ggdlz/what_do_you_hate_about_pandas/dqo7hfr/). Someone brought up their contempt for the returned MultiIndex after a `groupby` and pointed to the dplyr `do` verb which is implemented in [plydata](https://plydata.readthedocs.io/en/stable/generated/plydata.one_table_verbs

[2017-12-03 04:25] NewbiZ commented on #18599
This is not a matter of "supporting" a feature or not. Pandas has an API, the "copy=False" is part of it, it should be fixed.
You are basically saying "there's a bug, I don't care, use another library"...

[2017-12-03 05:22] gryBox opened #18606 "Overflow Error writing pandas 0.21.0 to_json in windows 7"
Hi - I recently upgraded to pandas version 0.21.0 from version 0.20.3 and got the following error writing a dataframe `to_json`:
`OverflowError: Unsupported UTF-8 sequence length when encoding string`.

The traceback looks like this:
![image](https://user-images.githubusercontent.com/16763201/33522468-2cad7276-d7b3-11e7-9e50-5b2778ab1892.png)

As you can see it fails on converting dates(?).  My da

[2017-12-03 05:43] has2k1 commented on #18366
Although this solves the problem, one needs to align keys and values in two places. I think an API (as suggested for `.agg_assign`) that does not require such book-keeping code is less error prone.

The is also the issue of the clean up code after using the API. When `groupby` operations return a `MultiIndex` dataframe, in most cases the user undoes the `MultiIndex`. The straight forward declarati

[2017-12-03 06:38] mroeschke opened #18608 "DataFrame.quantile fails with timedelta data"
[code]
#### Problem description

This works for Series:

[code]

The larger issue is that the `get_numeric_data` in `BlockManager` doesn't pick up timedelta data.

The quantile issue arrises in the `BlockManager` here, https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals.py#L3596, because I  `TimeDeltaBlock`s have `is_numeric=False`. Not entire sure if `is_numeric=True` would be

[2017-12-03 07:10] zertrin commented on #18366
I was initially skeptical about the `agg_assign` proposition, but the last two comments have convinced me that this could be a good solution.

Especially thinking about the possibility to use it in the form `agg_assign(**relabeling_dict)` and thus be able to define my `relabeling_dict` like this:

[code]

That would be quite flexible and solve all the issues mentioned in my OP.

[2017-12-03 08:25] jorisvandenbossche commented on #18584
Shouldn't we infer this? Numpy does:

[code]

[2017-12-03 08:31] kodonnell commented on #18574
@TomAugspurger - I'm not sure I follow. Knowing codes range from `[0, n_categories)` (excluding `-1: NaN`), is the same as knowing codes range from `[-1, n_categories)`, including `NaN`. For my use cases, I'd prefer to have `NaN`, since then I don't have to continually check for `NaN`.

[2017-12-03 08:33] gfyoung commented on #18584
I don't see why not?  Is there any reason why historically we didn't do it?

[2017-12-03 08:35] gfyoung commented on #18606
@gryBox : Thanks for reporting this!  Could you provide the exact `DataFrame` that you were using OR provide a smaller one that we can use to confirm this?

[2017-12-03 08:38] gfyoung commented on #18608
@mroeschke : This indeed looks strange.  Poke around to see what fix works best.  If you get stuck, feel free to submit what you have as a PR, and we can examine further.

[2017-12-03 09:13] qiaobz commented on #18584
two little question
- there is no dtype parameters to `read_sql()`
- `pd.DataFrame(cur.fetchall(), dtype=object)      # cur is db.cursor()` will set all columns with `object` dtype

[2017-12-03 12:37] fortooon commented on #18566
@gfyoung Thanks for detailed answer.
But if I change my example a little:
[code]
I can see, that my_converter didn't call:
`Output : rows [array([6]), array([6])]`
But if `'usecols': [2, 1]` Output  is :
[code]
only one converter was called.
So I think, that different approach of selection converters indices (depend on engine type) will help me.

Please, comment this point. Also situation, when so

[2017-12-03 15:15] gryBox commented on #18606
@gfyoung Yes.  Would putting a link to a tiny ` .csv` work?

[2017-12-03 15:24] jreback commented on #18584
yeah this is a bit of an unhandled case in ``maybe_convert_objects``

@gfyoung would you have a look?

[2017-12-03 15:26] #17301 closed

[2017-12-03 16:36] #17464 closed

[2017-12-03 16:46] jreback commented on #18608
so we treat Timedelta as non-numeric (like datetime). But some operatators *can* deal with this type of data (e.g. min, max, median, quantile), so this should work (I am pretty sure we test on datetime for this, but obviously not fully on quantile).

Timedeltas are a special beast because they *are* numeric in numpy.

[2017-12-03 17:05] pmuller commented on #18599
I have the same issue on my side. Users should be able to trust the API. Why shouldn't this be fixed?
While pyarrow looks nice, it's a different project. It's not easy to migrate existing code to it without breaking stuff.

[2017-12-03 17:16] jreback commented on #18599
welcome to have a PR if you think you can ‘fix’ this
there are a number of underlying structural issues which make this a general problem not solvable in the current version of pandas

pyarrow is going to form the basis for pandas 2

[2017-12-03 17:49] tdpetrou commented on #18366
@zertrin @has2k1

I was thinking about this a bit more and this functionality exists already with `apply`. You simply return a Series with index as the new column names and values as the aggregation. This allows for spaces in the name and gives you the ability to order columns exactly how you wish:

[code]

[2017-12-03 18:00] #18543 closed

[2017-12-03 18:04] #18113 closed

[2017-12-03 18:06] jbrockmendel commented on #1159
It is clear what this means in the context of freq='s', 'ms', 'us', effectively lower-resolution Timestamps.  Is the idea here to also apply timezones to arbitrary frequencies, e.g. BQuarterEnd?

[2017-12-03 18:38] gfyoung commented on #18606
@gryBox : Yes, that would.

[2017-12-03 18:57] gfyoung commented on #18566
@fortooon : Ah, yes, now we're onto something.  This is related to #13302, as converter handling is executed at different points in time between the two engines.  Patching this to make handling consistent, however, would require some major refactoring of the code.

[2017-12-03 18:57] TomAugspurger commented on #18574
Including nan in the categories would mess up the relationship between position in categories and codes then.

To be clear, it’s not unreasonable to want to include Nan in the categories. But we’ve chosen not to.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: kodonnell <notifications@github.com>
Sent: Sunday, December 3, 2017 2:31:48 AM
To: pandas-dev/pandas
Cc:

[2017-12-03 19:42] gryBox commented on #18606
@gfyoung Here you go (data)[https://github.com/gryBox/learning_map/blob/master/pd_jsn_tst.csv]

[2017-12-03 19:55] kodonnell commented on #18574
For me it's messed up already, as `len(codes) != len(categories)`. One could always add an `include_nan` option so we could get both, if required.

Fair enough. Will leave this one be, unless revived.

[2017-12-03 20:39] gfyoung commented on #18606
@gryBox : I can't replicate the error using this dataset:

[code]

[2017-12-03 20:52] gryBox commented on #18606
@gfyoung I was afraid of that.  Can you try it via Jupyter notebook 5.2?  If not, I will do more digging.

[2017-12-03 21:00] gfyoung commented on #18606
What do you mean?  Does this example raise for you when you try to execute?

As for Jupyter, I was unable to re-produce either.

[2017-12-03 21:26] gryBox commented on #18606
I meant that it could be my system environment.  Let me investigate some more.

[2017-12-03 21:26] #18606 closed

[2017-12-03 21:29] gfyoung commented on #18606
Okay, sounds good.  Feel free to re-open if something turns up.

[2017-12-03 22:02] jschendel opened #18613 "BLD: Bump Cython version from 0.23 to 0.24"
Per https://github.com/pandas-dev/pandas/pull/18602#discussion_r154537313, version 0.23 does not fully support using `@property` syntax, so we could use this as an opportunity to bump to version 0.24.

[2017-12-03 22:48] jreback opened #18614 "TST: split test_indexing"
after #18497 ``pandas/tests/series/test_indexing.py`` and its frame equiv are getting large

we could consider splitting these out into a sub-dir, maybe similar to how we split ``pandas/tests/indexing``, which is parially by indexer type, e.g. ``.iloc/.loc`` with some split on dtype (datetimes/period).

[2017-12-03 22:52] jreback opened #18615 "TST: split out merge/join tests to a sub-dir"
these should live in: ``pandas/tests/reshape/merge/``

     813 pandas/tests/reshape/test_join.py
    1673 pandas/tests/reshape/test_merge.py
     987 pandas/tests/reshape/test_merge_asof.py
     215 pandas/tests/reshape/test_merge_index_as_string.py
      83 pandas/tests/reshape/test_merge_ordered.py

[2017-12-03 22:58] jlandercy opened #18616 "Removing Unused Levels in MultiIndex with NaN values corrupts Index"
## Minimal Verifiable Complete Exemple

Below a MVCE of the behavior:

[code]
## Problem description

Using method `remove_unused_levels` on MultiIndex containing `NaN` create a new MultiIndex that is not equal to the original as documentation says:

This is why I suspect it is a bug.

### Float Index

Single `Index` uses `NaN` as modality:

[code]

But, `MultiIndex` does not, it has negative moda

[2017-12-03 23:02] jreback commented on #18616
this is a duplicate of #18417 and fixed in https://github.com/pandas-dev/pandas/pull/18426 (in master) already. thanks for the report.

[2017-12-03 23:02] #18616 closed

[2017-12-03 23:02] jreback commented on #18616
cc @toobaz

[2017-12-03 23:04] jreback commented on #18616
[code]

@jlandercy note that we *never* have ``nan`` in the levels, its simply a -1 code.

[2017-12-03 23:09] jlandercy commented on #18616
Yes I guess dealing with `NaN` in Index may lead to a lot of troubles. So, if I understand when I ship v0.22.0 the problem will vanish. Thank you for this great work, Pandas is a great tool.

[2017-12-03 23:55] AaronCritchley commented on #18419
On the E722 errors, are you happy if they're modified to `except Exception`? Or preferred to explicitly catch Exceptions we're expecting?

Happy to fix the E741 issues too

[2017-12-04 00:21] jreback commented on #18419
would really like to be explicit on exceptions and put what is actually thrown rather than Exception

[2017-12-04 05:43] toobaz commented on #18616
In principle, NaNs in indexes should behave just like normal values with respect to comparison (differently form NaNs in values). However this is currently affected by #18455 (which should be fixed soon) for flat ``Index``es, and #18485 (which will probably need more time) for ``MultiIndex``es.

I don't think so... the case of the MVCE above (with no unused levels in the input) is [already covered

[2017-12-04 06:48] qiaobz opened #18622 "an merge problem, about "read_csv" and "astype""
-  I have two csv file below:

test1.csv
[code]
test2.csv
[code]

- why df1 and df3 are different? (merge(d1, d2) can't get the output I want)
[code]

[code]

#### Output of ``pd.show_versions``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.13.final.0
python-bits: 64
OS: Windows
OS-release: 8.1
machine: AMD64
processor: Intel64 Family 6 Model 58 Stepping 9, GenuineInte

[2017-12-04 10:22] toobaz opened #18625 "Initializing Series with dict, list of lists values and explicit dtype raises ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Yes, this is a weird use case, but
- the first and second examples, which are very similar, work
- the fix is easy (will push a PR)

#### Expected Output

``Out[2]:``

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: 6e56195fcb021e7c53301722804087ef2a83bc39
python:

[2017-12-04 10:49] #18237 closed

[2017-12-04 11:07] jorisvandenbossche commented on #18553
cc @jbrockmendel

[2017-12-04 11:17] jorisvandenbossche opened #18627 "CLN: deprecate/remove the pandas.tseries.plotting.tsplot function"
xref https://github.com/pandas-dev/pandas/pull/17814

As far as I can see, the `tsplot` function (https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_timeseries.py#L23) is not used internally, and it is not exposed in the `pandas.plotting` namespace (it *is* still exposed in `pandas.tseries.plotting`).
And I also don't think it is actually a useful function for users? (they would jus

[2017-12-04 11:27] #18559 closed

[2017-12-04 11:35] #15184 closed

[2017-12-04 11:59] has2k1 commented on #18366
@tdpetrou, you are correct. I had forgotten how `apply` works as I use my [own version](https://github.com/has2k1/plotnine/blob/f58573de9a4acc02c46c6a67cf7d32754e148a00/plotnine/utils.py#L585) because of the double execution in fast-slow path selection process.

[2017-12-04 12:55] jorisvandenbossche opened #18628 "DOC/BUG: broken example in read_parquet with selecting columns"
In the dev docs the example that subsets the columns to read with `read_parquet` is broken for the pyarrow engine: http://pandas-docs.github.io/pandas-docs-travis/io.html#io-parquet

[code]

This is due to a bug in ``pyarrow`` (which I am reporting over there, due to how pyarrow deals with the pandas metadata if not all columns are present), but in the meantime we should also fix our docs to not s

[2017-12-04 13:14] jorisvandenbossche commented on #18628
Issue is here: https://issues.apache.org/jira/browse/ARROW-1883

[2017-12-04 13:57] jorisvandenbossche commented on #18628
And we maybe should also add a test for this case

[2017-12-04 14:40] zertrin commented on #18366
Hum indeed, there is no chance I would have thought about using it in a aggregation context just by reading the doc however...
Moreover, I still find the solution with `apply` a bit too convoluted. The `agg_assign` approach seemed more straightforward and understandable.

Since there was never really a statement about it, is the `dict-of-dict` approach (which, albeit currently deprecated, is alrea

[2017-12-04 14:46] naure commented on #16603
Joining is broken because of this. This randomly broke a real world script depending on input data. Real headache to troubleshoot!

Test case:

[code]

Output:

[code]

[2017-12-04 14:48] jbrockmendel commented on #18553
@jorisvandenbossche yah I took a look at this, not entirely sure.  I think we need to track down a more specific explanation of the docstring "if upsampling[/downsampling] is possible between source and target frequencies"

[2017-12-04 14:48] TomAugspurger commented on #16603
@naure do you have time to submit a PR fixing this? I haven't had a chance,
and won't for a little while yet.

On Mon, Dec 4, 2017 at 8:46 AM, naure <notifications@github.com> wrote:

[2017-12-04 15:08] naure commented on #16603
I can have a look, where to start?

[2017-12-04 15:14] TomAugspurger commented on #16603
Thanks. CategoricalIndex is defined at https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/category.py. It inherits the `union` / `intersection` methods from `Index`, defined in `indexes/base.py`.

I apparently started a branch for this, https://github.com/pandas-dev/pandas/compare/master...TomAugspurger:categorical-index-set-ops. I can't recall what was broken, but I suspect it w

[2017-12-04 15:14] jorisvandenbossche commented on #18553
It is used in downsampling (`resample`) and in timeseries plotting, so I would try to see there was could be the logic / see if you can find an example where it looks like a bug.

Eg in resampling, the case where both frequencies are equal is handled afterwards explicitly:

https://github.com/pandas-dev/pandas/blob/2c903d594299b2441d4742e777a10e8c76557386/pandas/core/resample.py#L867-L901

For thi

[2017-12-04 15:19] toobaz commented on #2770
I think this can be closed: the default behavior is as intended, and the method ``MultiIndex.remove_unused_levels()`` has been added as a simple fix for whoever doesn't like the default behavior.

[2017-12-04 15:24] nmusolino opened #18630 "Index astype('category') does not return a CategoricalIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The documentation for this method reads:

Since there is a CategoricalIndex type, it is reasonable for a user to expect that `.astype('category')` would return a CategoricalIndex object.

As a workaround for the issue, users can construct a CategoricalIndex directly:

[code]

#### Expected Output

The method s

[2017-12-04 15:32] jreback commented on #2770
yep this is now the accepted soln.

[2017-12-04 15:32] #2770 closed

[2017-12-04 15:35] toobaz commented on #4036
More related SO questions [1](https://stackoverflow.com/questions/25224545/filtering-muliple-items-in-a-multi-index-python-panda-dataframe), [2](https://stackoverflow.com/questions/22987015/slice-pandas-dataframe-by-multiindex-level-or-sublevel)

[2017-12-04 15:36] toobaz opened #18631 ".loc with (scalar, slice(None)) on MultiIndex does not drop first level"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Pandas should drop a level when it is indexed with a scalar. This happens in the first two examples, but not in the third (level 1 is not dropped).

This is vaguely related to #10521 and closely related to #12827 (which should be reopened, by the way).

#### Expected Output

#### Output of ``pd.show_versions()

[2017-12-04 15:49] TomAugspurger commented on #18366
The benefit and drawback of the `agg_assign` approach is that it pushes the column selection *into the aggregation method*. In all the examples, the `x` passed to the `lambda` is something like `self.get_group(group)` for each group in `self`, a `DataFrameGroupBy` object. This is nice because it cleanly separates the *naming*, which is in `**kwargs`, from the *selection*, which is in the function.

[2017-12-04 16:07] toobaz commented on #16396
The problem is not limited to slices:

[code]

Retitling accordingly

[2017-12-04 16:07] TomAugspurger commented on #18630
That seems reasonable. We would also want to accept `CategoricalDtype` there.

Are you able to submit a pull request?

[2017-12-04 17:06] WillAyd commented on #18190
Here's a complete listing of all of the methods that need to be converted. I may end up batching a few together as I go through:

- [ ] _skip_if_32bit
- [X] _skip_if_no_mpl (#18427)
- [ ] _skip_if_no_mpl_1_5
- [ ] _skip_if_no_scipy
- [ ] _skip_if_no_lzma
- [ ] _skip_if_no_xarray
- [ ] _skip_if_windows_python_3
- [ ] _skip_if_windows
- [ ] _skip_if_no_pathlib
- [ ] _skip_if_no_localpath
- [ ] skip_

[2017-12-04 18:23] maxu777 commented on #18366
Could someone from the Pandas Core Team please explain what is the main reason for deprecating of relabeling dicts in `groupby.agg`?

I could easily understand if it causes too much problems to maintain the code, but if it's about complexity for the end user - i would also opt for bringing it back, as it's pretty clear compared to needed workarounds...

Thank you!

[2017-12-04 18:37] WillAyd opened #18633 "plotting/_compat Version Comparisons Not Working in Py27"
I noticed this while setting up a virtual environment using matplotlib 1.4.0 to test #18190. ``__version__`` sometimes returns a string and other times returns a unicode object in Python 2.7. When returning unicode, the comparisons that occur in ``plotting/_compat.py`` will raise

[code]

In some cases, the versions are converted to ``str`` objects in ``plotting/_compat.py`` to presumably avoid th

[2017-12-04 18:40] TomAugspurger commented on #18366
Did you see https://github.com/pandas-dev/pandas/pull/15931/files#diff-52364fb643114f3349390ad6bcf24d8fR461?

The primary reason was that dict-keys were overloaded to do two things. For Series / SeriesGroupBy, they're for naming. For DataFrame/DataFrameGroupBy, they're for selecting a column.

[code]

This isn't the *most* confusing thing in pandas probably, so perhaps we could revisit it :) I'm p

[2017-12-04 18:44] TomAugspurger commented on #18633
I've seen this error when a library imports `unicode_literals`.

That's probably best anyway.

[2017-12-04 19:23] sunilk747 commented on #17160
Hello. I am new to this library. i would like to work on this issue. Any sort of help would be appreciated.

[2017-12-04 19:46] lidderupk opened #18634 "Series.replace() should raise an exception if invalid argument is given"
Series.replace() should potentially raise an exception if an invalid argument is given? I am new to pandas and this is more of a question. **This is a user error on my part, but possible improvement to replace.**

[code]
#### Problem description

Series.replace() accepts `"str, regex, list, dict, Series, numeric, or None"`. So I understand why the above does not work. But as @toobaz pointed out on

[2017-12-04 20:09] jorisvandenbossche commented on #18366
We discussed this briefly before (somewhere in the long discussion about the deprecation), and I proposed something similar here: https://github.com/pandas-dev/pandas/pull/14668#issuecomment-274508089. But in the end only the deprecation was implemented, and not the ideas for making the other functionality of using dicts (the 'renaming' function) easier.

The problem was that dicts were both used

[2017-12-04 20:11] jorisvandenbossche commented on #18366
BTW, @zertrin @tdpetrou @smcateer @pirsquared and others, thanks a lot for raising this issue and giving such detailed feedback. Such feedback and community involvement is *very* important!

[2017-12-04 20:13] #18613 closed

[2017-12-04 22:38] muysal opened #18638 "DataFrame.nlargest does not handle duplicate values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

Duplicate values in column 'b' is not being handled correctly. The result is different than
what "df.sort_values('b', ascending=False).head(3)" produces.

**Note**: We receive a lot of issues on o

[2017-12-04 22:38] denfromufa opened #18639 "df.rx('regex') short-hand for df.filter(regex='regex')"
df.rx('regex') short-hand for df.filter(regex='regex') would allow to easily pipe multiple regex statements. For example this is handy for filtering multiple sub-strings in column names without necessarily knowing the order of these sub-strings:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

[2017-12-04 22:45] shoyer commented on #18639
I agree that `df.filter(regex=...)` is quite useful, but I can't support this. We already have more DataFrame methods than most people can keep straight without looking at the docs. Adding another one with a non-descriptive name would make this problem worse.

[2017-12-04 23:08] denfromufa commented on #18639
actually I found that this regex grouping syntax may suffice in my case:

`df1.filter(regex='((rx11|rx12)|(rx21|rx22))')`

[2017-12-04 23:50] jreback commented on #18638
IIRC this is fixed in 0.20.3, but this is from 0.21.0

[code]

[2017-12-04 23:50] #18638 closed

[2017-12-05 03:01] ssche commented on #18413
Ok, I tried, but am struggling with a new test case which is not passing. It seems to be related to being able to store NaN-only categorical columns now (only fails when including column 'b' in the test case [`test_categorical_nan_only_columns`](https://github.com/ssche/pandas/blob/master/pandas/tests/io/test_pytables.py#L4930)). I can't see where the axes are different... Any help would be apprec

[2017-12-05 03:09] ssche commented on #18413
Actually, I found a difference (there may be more).
[code]
shows

[code]
Is this expected behaviour? Does it also need to be addressed and if so some pointer of where to look would be helpful...

[2017-12-05 10:23] gfyoung commented on #18622
Take a look at your elements in `df1`, `df2`, and `df3` once you read them in.

`df2` has `object` dtype because it cannot cast `COL1` to an integer data-type (the last element causes overflow).  Thus, it casts everything to string.

`df3` specifies that `COL1` be `object`, which is interpreted by `read_csv` to hold strings instead of integers.   Thus, `df2` and `df3` has matching strings, causing

[2017-12-05 10:26] gfyoung commented on #18634
@lidderupk : That makes sense to me.  PR to implement is more than welcome!

[2017-12-05 10:28] gfyoung commented on #18639
Given the workaround and -1 from @shoyer, closing this for now.  Can always re-open if need be.

[2017-12-05 10:28] #18639 closed

[2017-12-05 10:54] qiaobz commented on #18622
clear now. Interesting.

[2017-12-05 11:06] #18622 closed

[2017-12-05 11:22] jreback opened #18644 "TST: split up pandas/tests/indexes/test_multi.py"
getting pretty long, could create a sub-dir and split out into separate files.

[2017-12-05 11:23] jreback commented on #18630
note that this should test all versions of indexes ``.astype('category')``

[2017-12-05 11:43] jreback commented on #18413
in the patch use Index([]) rather than [] for the empty categories
I think we just fixed this

[2017-12-05 12:29] naure commented on #16603
No I think this is actually a regression in equality testing of Categorical, independently of the effort you mentioned. [Commit](https://github.com/pandas-dev/pandas/commit/e57f1894b55ecec3687a4484e119124d32ff942b?diff=split#diff-d295fd3c83b52dcaabdf13701ead1a41L2001).

Here is a monkey-patch for anyone who needs it safely working regardless of version.
This restores the behaviour of 0.20.1 regard

[2017-12-05 12:41] TomAugspurger commented on #16603
Why do you say that?

What is "it" in this case that's being compared?

That equality you linked to is on the CategoricalDtype, whose equality semantics are a bit strange especially around empty Categoricals.

[2017-12-05 14:34] TomAugspurger commented on #16603
Apologies for my slowness, I was looking at `CategoricalIndex.equals`, not `Categorical.equals`.

So, as you say, Categorical.equals should be defined as:

1. The dtypes are equal (categories match and ordering of categories is unimportant when both are unorderd)
2. The values are equal

The issue with the current definition is that it assumes dtype equality implies that codes match, which isn't a

[2017-12-05 15:11] vfilimonov opened #18646 "ValueError (Buffer dtype mismatch) on the join with categorical data"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code above (join with missing values) raises `ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long long'`, which is apparently ignored, however the result is correct:

[code]

p.s. perhaps this relates to https://github.com/pandas-dev/pandas/issues/17187, though I'm not sure

#### Outpu

[2017-12-05 16:48] jorisvandenbossche commented on #12401
On the pandas-dev mailing list concern was raised about the the deprecation of `select`, see https://mail.python.org/pipermail/pandas-dev/2017-November/000649.html

I think the example makes a point. For me the alternative like `.loc[:, lambda df: complex_fxn_that_selects_a_few_cols(df.columns)]` is harder to read and to teach as

[2017-12-05 17:22] BibMartin commented on #18587
@TomAugspurger

I don't know exactly, but the slowdown seem to come from the IHM: When I create a large Series (`s = Series(index=tm.makeStringIndex(10000))`) in a notebook or in ipython console, then `dir(s)` is fast (much less than 1 sec) while asking for tab-completion is slow (several seconds).

@jreback

Yes thanks, that's an awesome new feature.

[2017-12-05 21:50] haicen commented on #18348
I'm having the same problem. I'm not sure I understand what I should do to fix it.  I have pandas 0.21.0 and matplotlib 2.1.0. Do I need to convert them to datetime objects?

[2017-12-05 22:42] lidderupk commented on #18634
@gfyoung: forked the codebase and reading "Contributing to Pandas" now. Is this a beginner friendly PR? I would like to contribute if it is. Thank you.

[2017-12-05 22:54] #18584 closed

[2017-12-05 23:02] toobaz commented on #18634
This is one is not hard, but if you want an even more beginner friendly one, take a look for instance at #18589 . Or you can get the list of [easy issues](https://github.com/pandas-dev/pandas/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22Difficulty+Novice%22+label%3A%22Effort+Low%22) and pick the one you prefer.

[2017-12-05 23:04] gfyoung commented on #18634
@lidderupk : There is very much do-able as a beginner.  Feel free to ask questions if you're unclear on anything.  If you get stuck, submit what you have as a PR, and we can help you out.

[2017-12-05 23:09] joonro commented on #17994
+1. I just got bitten by `sheet_name`.

[2017-12-06 00:29] Licht-T commented on #9918
Seems fixed.
[code]

[2017-12-06 00:41] ssche commented on #18413
I had to make it a `Index([], dtype=np.float64)` because that's the type that is read back from the hdf5 store.

[2017-12-06 00:49] jreback commented on #18646
this is a dupe of #18064 already fixed in master by: https://github.com/pandas-dev/pandas/pull/18252

I suppose could add a test (though since the exception was originally suppressed anyhow), not sure how we could 'test' this.

[2017-12-06 00:57] #18615 closed

[2017-12-06 03:19] jytinjalmon opened #18655 "Scraped CSV pandas dataframe I get: ValueError('Length of values does not match length of ' 'index')"
Does Pandas not support scraped csv's, but only manual entry?  I've written a SO question about it.  I had posted all content here, but then page refreshed itself.

https://stackoverflow.com/questions/47666070/scraped-csv-pandas-dataframe-i-get-valueerrorlength-of-values-does-not-match

[2017-12-06 04:42] gfyoung commented on #16818
@tdpetrou : Thanks for reporting this!  Unfortunately, we have already decided to go and remove this option from the docs. (#18559)

If you have strong feelings about including this as an option, please respond, and we can discuss.

[2017-12-06 04:42] #16818 closed

[2017-12-06 04:46] gfyoung commented on #18655
@jytinjalmon : Thanks for reporting this!  Unfortuantely, I'm not sure I really understand your question, since scraped or not, we will read so long as the CSV is valid.

Secondly, I tried reading your SO post, but the code is very hard to follow since you have it somewhat all over the place.  If you could try to post a clean version of your code and attach the CSV's in this post (just upload via

[2017-12-06 06:39] vfilimonov commented on #18646
Thank you, Jeff!

[2017-12-06 06:53] h-vetinari commented on #6528
Tried to find the most current open issue on this - the others are closed or merged, but this is open even though being milestoned since 0.14?

I asked a question about this on stackexchange, and someone took the time to identify the apparent source of the issue (as well as a work-around): https://stackoverflow.com/a/47664356/2965879

The main issue seems that in pandas.core.ops.wrapper (https://g

[2017-12-06 07:24] h-vetinari opened #18657 "str.cat does not align on index?"
The implicit index-matching of `pandas` for operations between different `DataFrame`/`Series` is great and most of the times, it just works. It does so consistently enough, that the expectation (for me) is that different Series will be aligned before an operation is performed.

For some reason, `str.cat` does not seem to do so.

[code]

[2017-12-06 09:33] AKuederle opened #18658 "Feature Request/Idea Treat a DataFrame full of Series as a Multindex Dataframe"
When using apply on a Series and having the apply return a Series itself, Pandas automatically treats the result as a DataFrame.

Example:
[code]

However, doing the same with a DataFrame does not increase the dimensionality:
[code]
In this case the result is still a 2D DataFrame, but each element is now a Series.

It would be awesome, if a DataFrame, where each element is a Series, would be autom

[2017-12-06 09:46] chessplayer60 commented on #3149
Left a comment in #4817 about this. It would be really nice to have an augmented API allowing for drill-down and roll-up to be displayed in (extended) pivot tables.

[2017-12-06 09:53] lw3259111 opened #18659 "pandas read_csv is lower than R fread function"
I want read 3w row and 87000 columns, use pandas read_csv cost 7h,but use R fread cost 9min. so, how can t use pandas or python quickly read my file?

[2017-12-06 10:25] jorisvandenbossche commented on #18658
A bit beside your point, but what version of pandas are you using? Because I do not get a dataframe for the first example:

[code]

[2017-12-06 10:32] AKuederle commented on #18658
My bad.. I messed up the first example. Should work now as described

[2017-12-06 10:54] discort opened #18660 "Regression: cannot set a Timestamp with a non-timestamp"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description

There is a regression. Related: #17965
On `0.18.1` it works fine

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None

pandas: 0.21.0
pytest: 2.9.2
pip: 9.0.1
setuptools: 36.4.0
Cython: None
numpy: 1.13.3
scipy: None
pyarrow

[2017-12-06 11:10] jreback commented on #18660
as indicated this is a dupe of #17965, closed by #18188 and will be in forthcoming 0.21.1

[2017-12-06 11:10] #18660 closed

[2017-12-06 11:15] #14774 closed

[2017-12-06 11:16] #18570 closed

[2017-12-06 11:18] #18633 closed

[2017-12-06 11:26] #18439 closed

[2017-12-06 11:29] #6945 closed

[2017-12-06 11:42] #18646 closed

[2017-12-06 13:16] jorisvandenbossche commented on #18631
The same is true for series (which makes the example a little bit simpler):

[code]

[2017-12-06 13:35] h-vetinari commented on #4480
This is something I would have needed several times in the last half year. Using `apply` is just terribly slow for large data sets (and `numpy` has fast set implementations like `np.intersect1d`).

To reiterate, I would like to have a `.set`-accessor, like there currently is for `.str`, `.dt`; examples below:

[code]

Like the `.str`-methods, it should work with either another `Series` (including

[2017-12-06 13:40] jreback commented on #4480
@h-vetinari sets are not efficiently stored, so this offers *only* an api benefit, which I have yet to see and interesting use case. You can use ``Index`` for these operations individually and that is quite efficient. ``Series.isin`` is pretty much ``.contains``. ``IntervalIndex`` will work for some of these cases as well.

[2017-12-06 13:54] h-vetinari commented on #4480
@jreback, well, I was hoping not just for an API improvement, but some fast cython code to back it up (like for the `.str`-methods). ;-)

Do I understand you correctly that you propose to work with `Series` of (short) `pd.Index`es? How would you then do something like `a.set.intersect(b)` (as described above)?

[2017-12-06 14:25] jreback commented on #4480
@h-vetinari and you are welcome to contribute things.  I the current impl would be quite inefficient and no each way to get around this ATM.

[2017-12-06 14:59] tdpetrou commented on #16818
@gfyoung This doesn't make sense to me. The `keep` option is only important whenever there are ties for the last value. Arguably, the most useful thing to do is to keep all of the ties which would be `keep=False`. This option still exists in the docstrings in 0.21.

Also, the `duplicated` method has same three options so it matches that. Additionally, it was just recently removed without discussio

[2017-12-06 17:09] gfyoung commented on #16818
@tdpetrou : `keep=False` in my mind would mean to drop them (the opposite of what you want), but yes, `keep='all'` would make more sense.  The reason for dropping the option in the docs was because the implementation has only supported the first two options (the docs look like copy + paste at some point).

True that there was no discussion to this, but a simple doc-change like #18559 went in witho

[2017-12-06 17:17] tdpetrou commented on #16818
@gfyoung Thanks for the response. I proposed a simple solution to this in #18656. It was very easy and basically already done. I think the original reason for using `False` was to match `duplicated` (and possibly others that I can't remember right now)?

Regardless, it just makes a lot of sense (to me) that you would want to keep the nlargest/nsmallest plus ties and the fix is easy and already com

[2017-12-06 17:20] gfyoung commented on #16818
Your case for using `False` is a little shaky IMO because it doesn't much sense (as you yourself even have acknowledged) in the context of this function.  Semantics trump this sort of API consistency.

Your implementation is indeed simple but the surfacing of it will require discussion, should other maintainers believe that we should actually have such an option.

[2017-12-06 17:21] toobaz opened #18664 "Broken roundrip DatetimeIndex -> CategoricalIndex -> DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

``Out[2]`` has no timezone information. Related to [this comment](https://github.com/pandas-dev/pandas/pull/18626#discussion_r155188071)

Notice that it makes sense to loose ``freq``, as this is a property of a specific _collection_ of dates, such as a ``DatetimeIndex`` is. Instead, ``tz`` is a property of eac

[2017-12-06 17:23] tdpetrou commented on #16818
I'm not in favor of `False` and would prefer `'all'`. The only thing I am pushing for is to make the functionality for keeping all ties possible.

[2017-12-06 17:38] toobaz opened #18667 "Spurious braces in output of DataFrame.to_latex() with MultiIndex columns, MultiIndex index and missing level name"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The problem is the content of the second cell, ``\\{\\}``.

#### Expected Output

The same, but with the second cell left empty.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: fdba133336c2ec8f1269eb15e73d48797840c48b
python: 3.5.3.final.0
python-bits: 64
OS: Li

[2017-12-06 19:30] TomAugspurger commented on #18657
Yes, this should probably align when `others` is a Series. It'll require some care to get right, since it's an API breaking change.

I'd favor a keyword like `align` for controlling it. For now it'll be `None` by default and if `others` is a series it will not align, but warn that the default will change in the future to align.

[2017-12-06 19:30] TomAugspurger commented on #18657
Do we have any other string operations that take a Series / DataFrame and should be handled similarly?

[2017-12-06 19:34] TomAugspurger commented on #18658
Can you say a bit more about why you want / would expect this? I'd think that for something like

[code]

pandas is currently doing the correct thing. Perhaps I misunderstand.

[2017-12-06 20:27] toobaz opened #18669 "DataFrame.to_latex() outputs empty cells if MultiIndex names are empty strings"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

``df`` contains 4 rows; however the output of ``df.to_latex()`` only contains 3 rows of -1.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

In [7]: pd.show_versions()

INSTALLED VERSIONS
------------------
commit: fdba133336c2ec8f1269eb15e73d48797840c48b
python: 3.5.3.final.0
p

[2017-12-06 20:35] h-vetinari commented on #18657
Cool! I think your proposal for dealing with the API-breaking sounds good, except maybe calling it `align = False` by default first, and changing to `True` at some point in the future (not unlike the `expand`-keyword that `.str.extract` gained in 0.18)

Looking at https://pandas-docs.github.io/pandas-docs-travis/text.html#method-summary,
it seems that `.str.cat` is the only method that deals with

[2017-12-06 20:39] TomAugspurger commented on #18657
align=None will let us detect whether or not the user explicitly wanted
alignment. So it's

if align is None:
    warnings.warn("A future version of pandas will perform alignment when
others is a series. To disable alignment (the previous behavior) and
silence this warning, pass 'align=False'. To enable alignment (the future
behavior) and silence this warning, pass 'align=True'

On Wed, Dec 6, 201

[2017-12-06 21:34] jrbrodie77 opened #18671 "UserWarning about columns and attribute while plotting in Jupyter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I get a UserWarning while plotting a DataFrame.  It only occurs if I pass a list of columns for y.

UserWarning is:
C:\Program Files\Anaconda3\lib\site-packages\pandas\plotting\_core.py:1714: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-

[2017-12-06 21:43] TomAugspurger commented on #18671
This is the line https://github.com/pandas-dev/pandas/blob/fdba133336c2ec8f1269eb15e73d48797840c48b/pandas/plotting/_core.py#L1718

That code pretty clearly assumes that `'y'` is a scalar, and that's how it's documented

[code]

So we can either validate that `data[y]` is a Series, and raise if not, or see if we can support and document multiple values for `'y'`.

btw, here's a reproducible exampl

[2017-12-06 22:04] jbrockmendel opened #18672 "WeekOfMonth vs LastWeekOfMonth inconsistency"
https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/offsets.py#L1496

WeekOfMonth and LastWeekOfMonth have small differences in how they construct getOffsetOfMonth and then in what they do with it.  It looks fishy.  Any idea why these are done differently?  If there's not a reason for it, I'd like to align+merge them.

[code]

[2017-12-06 22:23] AKuederle commented on #18658
I guess the main reason is that the behavior felt inconsistent to the behavior of Series. I found it quite useful that returning a Series from an apply on Series automatically returns a DataFrame. This felt very natural. Applying the same concept to a DataFrame I kind of expected it to also "increase" its dimension. So basically from a 2D object to a 3D object.

Given your example, I can see that

[2017-12-06 23:02] jeffrechten opened #18673 "read_csv() usecols behavior unclear"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

One would think that usecols would allow a user to select the columns (and due to the fact that it's a list), the order of the columns. Either this feature disrespects the order (bug) or it is intended and the documentation should reflect that.

Latest version.

[2017-12-06 23:29] jbrockmendel commented on #18545
Closed by #18647

[2017-12-06 23:29] #18545 closed

[2017-12-06 23:31] jbrockmendel commented on #18672
TL;DR look WeekOfMonth.getOffsetOfMonth.  Why would we drop hour minute second but keep tzinfo?

[2017-12-07 00:29] jschendel commented on #18630
A couple of questions:

1. It looks like `IntervalIndex.astype('category')` already has some logic intentionally written to return a `Categorical`, not a `CategoricalIndex`.  Should this be changed for consistency with the other types of index?  Or was there a specific reason it was implemented this way?  I don't immediately see a reason why we shouldn't return a `CategoricalIndex`.  (see [here](h

[2017-12-07 01:19] #17558 closed

[2017-12-07 02:14] TomAugspurger commented on #18630
For `MultiIndex` I think we should raise, in case we ever support
categoricals with more than 1 dimension in the future.

On Wed, Dec 6, 2017 at 6:29 PM, jschendel <notifications@github.com> wrote:

[2017-12-07 08:09] jackasser opened #18676 "to_csv writes wrong with NaN value"
#### to_csv with Nan value at top row, unexpected "" in the csv file

[code]

#### Versions:
[code]

[2017-12-07 10:58] jreback commented on #18630
1) this could prob be changed. I wrote it like this as we needed to convert II to categorical for indexing, but I don't fully remember if I then discarded that need. This should return a CI instead.

[2017-12-07 14:42] chris-b1 commented on #18659
For usage questions, you'll be better off asking on [StackOverflow](https://stackoverflow.com/questions/tagged/pandas) and typically will get more help with a reproducible example.

[2017-12-07 14:42] #18659 closed

[2017-12-07 15:04] #18301 closed

[2017-12-07 15:27] jorisvandenbossche commented on #18244
So we should plan for the 0.21.1 release. @TomAugspurger has some time the coming days (and I am also available to help).

Regardless of the following questions, we can already start backporting and fixing the remaining issues https://github.com/pandas-dev/pandas/milestone/52.

But the questions we need to answer:

- Do we release "0.21.1" (the first thing we release) as it is now (once everything

[2017-12-07 15:36] jorisvandenbossche commented on #18628
The docs are updated to not include this, so removing the 0.21.1 milestone, we let's keep this open to make sure to revert the PR once pyarrow 0.8.0 is released.

[2017-12-07 15:41] jreback commented on #18244
yeah the remaining issues I have only tagged if they are basically ready to merge. So I would say we could release at any time for 0.21.1 (obivously need to actually backport things :>) and prob some small doc cleanups in whatsnew. This should be 0.21.1. If/when we change the whole ``.sum()`` this would need to be a major release, and sit in master for a bit.

[2017-12-07 15:52] TomAugspurger opened #18678 "Sum of all NA and empty should be 0"
And the `prod` of those should be 1.

xref: https://github.com/pandas-dev/pandas/issues/9422, https://github.com/pandas-dev/pandas/pull/17630, https://mail.python.org/pipermail/pandas-dev/2017-November/000657.html

We need to implement that and design and implement the alternative (either a new method, or a keyword-argument to sum and prod).

[2017-12-07 15:52] jaksmid commented on #17837
It seems the issue is now fixed, at least for pandas `0.20.3`.

[2017-12-07 15:53] pfmoore opened #18679 "DataFrame.from_records ignores exclude if it is [0]"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In both cases, the data frame has columns 0, 1 and 2. If you use an index of 1, or `exclude=[1]`, the columns are (correctly) `[0, 2]`.

The issue is caused by the `any()` call at https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L1178 which treats a zero column ID as false. Changing this to

[2017-12-07 17:10] jbrockmendel opened #18680 "broken timestamp asvs"
@mroeschke do these indicate incorrectly written benchmarks?

[code]

[2017-12-07 17:18] jbrockmendel commented on #18678
I've been following this conversation a bit and remain confused on one point.  Options 1 and 2 both appear to rely on the premise that `Series([nan, nan]).sum()` _should_ equal `Series([]).sum()`.
Without having an intuition for why this is a desirable behavior, the merits of those two options hard to evaluate.   Is it just consistency with [other software]?  LMK if this question belongs elsewhere

[2017-12-07 17:23] TomAugspurger commented on #18678
Here's fine. I think the shortest answer is that it's nice to have `s.sum(skipna=True)` equal `s.dropna().sum(skipna=True/False)`.

[2017-12-07 18:18] mroeschke commented on #18680
Possibly. `asv dev -b timeseries -b timestamp -b timedelta -b period -b offset` will return tracebacks if the benchmarks have any errors.

The annoying thing is that sometimes `asv dev` will say the benchmarks are okay but `asv run` or `asv continuous ` will still say "failed".

[2017-12-07 18:26] sluo1989 commented on #9481
Is there anyone still working on the efficient implementation of rolling rank?

[2017-12-07 18:26] gabrielclow commented on #18564
Sorry I took too long. Pull request was sent. 😄

[2017-12-07 18:26] jbrockmendel commented on #18089
OK, we're very nearly ready to use cythonize.  The remaining warnings/errors that I get when doing this locally are

[code]

[2017-12-07 18:41] jreback commented on #9481
no would love to have this!

[2017-12-07 18:46] jreback commented on #17837
can u do a PR with some validation tests?

[2017-12-07 19:09] jorisvandenbossche commented on #18678
I would keep the more general discussion on the mailing list, and here more the details of the changes we then want to make

[2017-12-07 21:23] jbrockmendel opened #18683 "asv `goal_time` wrong attribute?"
The pandas benchmarks use a parameter `goal_time = 0.2`, but looking at the asv [docs](https://asv.readthedocs.io/en/latest/writing_benchmarks.html) and at the asv code itself, I don't see "goal_time" anywhere.  Should this be `sample_time` instead?  From the docs:

    sample_time: asv will automatically select number so that each sample takes
    approximatively sample_time seconds. If not speci

[2017-12-07 21:46] TomAugspurger commented on #18683
Apparently is was changed: https://github.com/airspeed-velocity/asv/pull/575

[2017-12-08 00:04] jreback commented on #18678
this is not happening for 0.21.1

[2017-12-08 00:25] #18497 closed

[2017-12-08 02:11] #18564 closed

[2017-12-08 02:25] jreback commented on #18669
does this dupe anything in: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3A%22IO+LaTeX%22

[2017-12-08 02:26] jreback commented on #18676
this does look like a bug.

@gfyoung ?

[2017-12-08 02:32] gfyoung commented on #18676
Agreed.  I can also replicate this on `0.21.0` (@jackasser : I noticed that you were on `0.20.3`).  Investigation and PR are welcome!

[2017-12-08 05:55] Licht-T commented on #18676
I am working on this. This seems not the encoding issue.
[code]
[code]

[2017-12-08 06:29] Licht-T commented on #18676
Also, this returns the right result.
[code]

[2017-12-08 07:18] toobaz commented on #18669
I couldn't find any previous bug in which ``to_latex()`` actually suppresses data.

[2017-12-08 08:17] NagabhushanS opened #18686 "get_dummies with sparse doesn't convert numeric to sparse"
I got the error
<b> AttributeError: 'IntBlock' object has no attribute 'sp_index' </b>

when converting a SparseDataFrame to Scipy csr_matrix using the following code:

<i>dfTotalCat = get_dummies(dfTotalCat, sparse=True)

XTotalCat = csr_matrix(dfTotalCat.to_coo()) </i>

The SparseDataFrame is obtained from get_dummies.

Following is the exact error trace:

Traceback (most recent call last):
  Fi

[2017-12-08 08:38] Licht-T commented on #18676
@gfyoung Seems that the bug or the default spec. in `csv` library.
## Case 1
**Input:**
[code]
**Output**:
[code]
## Case 2
**Input:**
[code]
**Output**:
[code]

[2017-12-08 08:48] Licht-T commented on #18676
But this works.
[code]
[code]

[2017-12-08 08:59] Licht-T commented on #18676
The `csv` library in CPython says the single empty field is quoted.
https://github.com/python/cpython/blob/0b3ec192259a65971001ce8f0de85a9c1e71d9c7/Modules/_csv.c#L1244

[2017-12-08 09:16] gfyoung commented on #18676
@Licht-T : Ah!  That's very good to know.  Okay, this means that this issue is out of the control of the `pandas` library since we do wrap Python `csv` library when doing this.

@jackasser : Looks like you may have hit upon a point of contention in Python's CSV library.  I would raise this issue in their library by submitting an issue on their python.org website.

[2017-12-08 09:16] gfyoung commented on #18676
Closing because this is old of `pandas` control.  @Licht-T : Thanks for the investigation!

[2017-12-08 09:18] gfyoung commented on #18683
Didn't seen any deprecation cycle for that.  Good catch @jbrockmendel !

[2017-12-08 09:53] jorisvandenbossche commented on #18244
IMO we shouldn't let that sit in master for a bit, but release as quick as possible (and quick as possible might still mean a rc etc).
And, I also think we should not include many other API changes. So even if we call it 0.22.0, I would do this release of the 0.21.x branch. Which means in practice re-purposing the existing 0.22 milestone as 0.23 (because the things we merged there can use some mor

[2017-12-08 09:53] boeddeker opened #18687 "bug: plot two lines, unordered xlabels with type str"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I want to plot multiple dataframes in one graph. The x values are strings. The x value order in both dataframes is different.

The first plot draws the line
 - `x = ['1', '2']` and `y = [1, 2]`
The second plot draws the line
 - `x = ['2', '1']` and `y = [4, 3]`
Since the second plot overwrites the xticks, the fi

[2017-12-08 09:54] jorisvandenbossche commented on #18678
I think the question is rather: do we want to release this quickly, or only in a few months? (and then once answered, we can still discuss whether we call that 0.21.1, 0.21.2 or 0.22.0). But let's keep that discussion in https://github.com/pandas-dev/pandas/issues/18244#issuecomment-350000655

[2017-12-08 10:12] jorisvandenbossche commented on #18683
It only recently changed on master. Do we assume that we all use their master, or the released version?
Eg @TomAugspurger what do you use on the benchmark machine?

[2017-12-08 10:18] jreback commented on #18676
@gfyoung this can be fixed on pandas side
just because the csv library doesn’t do this correctly
we shouldn’t be inconsistent

doesn’t passing dialect=None work

[2017-12-08 10:47] gfyoung commented on #18676
@jreback : `to_csv` uses Python's `csv.writer` class to write to CSV.  The `dialect` parameter goes straight to Python's `csv` writer, and that AFAICT has no impact on the output in the example @Licht-T provided.

[2017-12-08 10:51] #18680 closed

[2017-12-08 10:55] gfyoung commented on #18676
I suppose we could hack our away around this by checking for an empty first row before writing it to CSV and replace it with a space for example, though again as I said, very hackish IMO.

[2017-12-08 11:02] jreback commented on #18676
try passing ``dialect=None`` when we pass to the csvwriter

[2017-12-08 11:05] jreback commented on #18244
why?

we have a bug fix release already teed up. conflating a major change is just not a great idea. We have contentious small sample feedback, why would you exacerbate things?

[2017-12-08 11:07] Licht-T commented on #18676
@jreback I already tried, but the result is same.
[code]
[code]

[2017-12-08 11:08] jorisvandenbossche commented on #18244
Because, supposing we go for option 1, we are changing the behaviour *again*. The longer we wait with doing this, the more people start relying on the intermediate behaviour that will go away, the more packages will need to implement workarounds, etc.

[2017-12-08 11:11] Licht-T commented on #18676
The only parameter that makes some impact is `quoting`.
[code]
[code]

[2017-12-08 11:11] #14484 closed

[2017-12-08 11:12] #18535 closed

[2017-12-08 11:15] jreback opened #18689 "TST: remove xfail for parallel_coordinates_sorted_label test"
https://github.com/pandas-dev/pandas/pull/18688

this is somehow non-deterministic on windows.

[2017-12-08 11:21] jreback commented on #18244
and there is no consensus on option 1.

[2017-12-08 11:24] jorisvandenbossche commented on #18244
Then please take the time to answer on the mailing list

[2017-12-08 11:24] Licht-T commented on #18676
Well..., this `csv` library behavior is very inconsistent and should be fixed in CPython.
Or, is there any reason to do so...?
https://github.com/python/cpython/blame/0b3ec192259a65971001ce8f0de85a9c1e71d9c7/Modules/_csv.c#L1244

[2017-12-08 11:26] #18537 closed

[2017-12-08 11:26] #18538 closed

[2017-12-08 11:34] jreback commented on #18676
@Licht-T certainly can file a bug report there.

ok I guess no easy way to fix this here, however, maybe we should add a small note in the code about this?

[2017-12-08 12:16] jorisvandenbossche commented on #9422
To all subscribed here, note that there is a mailing list discussion about this: https://mail.python.org/pipermail/pandas-dev/2017-November/000657.html

[2017-12-08 12:28] jdemeyer commented on #18089
Renaming `sas.pyx` to `_sas.pyx` should fix that...

[2017-12-08 12:51] TomAugspurger commented on #18683
ASV master from when I set it up a while back:

(asv) pandas@pandabox:~$ asv --version
asv 0.3.dev1126+2320b0f8

On Fri, Dec 8, 2017 at 4:12 AM, Joris Van den Bossche <
notifications@github.com> wrote:

[2017-12-08 13:03] TomAugspurger commented on #18687
Strange, I'm not sure what's going on. You're welcome to take a look in `pandas/plotting/_core.py` if you're interested :)

[2017-12-08 13:04] TomAugspurger commented on #18686
Could you make a reproducible examples? What's `dfTotalCat`?

[2017-12-08 13:16] boeddeker commented on #18687
Thanks for the hint to the file.
I already took a look with pycharm, but I didn't locate the bug.

[2017-12-08 13:53] icfly2 opened #18691 "Add an ends function that shows both head and tail of the df"
#### Add the following function to pd. dataFrame and pd.Series

[code]
#### Problem description
Often both the beginning and end of a df are of interest, fore example in a time series.

This leads to calling df.head() df.tail()  in two seperate notebook cells. This is not only tedious, but also leads to a cluttered notebook. A function that returns both of these + a print on the number of rows and

[2017-12-08 14:43] jorisvandenbossche commented on #18691
I thought we discussed this before, but can't find such issue.

That said, this is closely related to https://github.com/pandas-dev/pandas/pull/17023. Because if we reduce the default number of rows, I think such a feature becomes less needed IMO.

In general, we are not very keen on adding more methods to DataFrame, unless there is a very clear need.

[2017-12-08 14:43] rgieseke opened #18692 "CSV files with header break with delim_whitespace and skiprows using the C-engine"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When there is a quote char with a space before *and* using `delim_whitespace=True` and `skiprows` reading a CSV file breaks with

    EmptyDataError: No columns to parse from file

#### Expected Output

It should simply skip the header rows.

When using the Python engine it works, so this seems to be a problem w

[2017-12-08 14:57] jackasser commented on #18676
@jreback @Licht-T @gfyoung thank you to considering about it!
I understand that this problem should solve in  Python's CSV library.
But I think we should add a small note in the code.

[2017-12-08 15:08] Licht-T commented on #18676
@jreback Created the issue on CPython.
https://bugs.python.org/issue32255

I'll add the small note on pandas.
Where should I add the note?

[2017-12-08 15:21] jbrockmendel commented on #18683
Easy solution is just to specify both attributes.  asv doesn't do any checking.

[2017-12-08 15:25] jorisvandenbossche commented on #18683
Or to not specify it, the default is 0.1s, which I think is quite sensible.

[2017-12-08 15:43] libgy24 opened #18694 "pd.read_csv warn_bad_lines skipped too many lines."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I tried to import a file with 2.7 million records with error_bad_liens = False, I only have 2.6 million records successfully read, and the warn_bad_lines only give 5 records warnings instead of 100, 000 warnings.

The delimiter in the file is pipe, there are records with pipe in the data value, I am trying

[2017-12-08 17:16] TomAugspurger commented on #18691
FWIW, my utils file has a context manager for this:

[code]

And I called it with `df.pipe(show)`. Agreed that we shouldn't add a new method, especially given #17023.

[2017-12-08 17:57] achabotl opened #18696 "Groupby with function returning a tuple fails if index has a name"
#### Code Sample

[code]

#### Problem description

In 0.21.0 (and 0.20.x), calling `groupy` with a function that returns a tuple on a DataFrame with a named index fails with `ValueError: Names should be list-like for a MultiIndex`. It seems to be caused by the index having a name.

The sample works in 0.19.0, with the output below. The same code without `df.index.name = 'name'` works under 0.20 a

[2017-12-08 18:44] jbrockmendel commented on #18089
I'll give it a shot over the weekend and see how it goes.  There's a decent chance we might be able to get rid of all of my PRs in the next day or two.

[2017-12-08 18:53] evanmiller29 commented on #18673
Hey, I'd be happy to update the docs and make this clearer?

[2017-12-08 19:06] jeffrechten commented on #18673
I would be happy to do it as well if I knew how. I haven't committed yet.

On Fri, Dec 8, 2017 at 1:53 PM, evanmiller29 <notifications@github.com>
wrote:

[2017-12-08 19:40] starlord1311 commented on #18627
i would like to take up this issue. can i??

[2017-12-08 19:45] starlord1311 commented on #16400
@jreback i would like to take up this issue. can i?

[2017-12-08 19:48] jreback commented on #16400
sure!

[2017-12-08 20:01] jbrockmendel opened #18699 "Silently ignored kwargs in Index.to_series"
[code]

Expected:

[code]

Looks like Index.to_series takes **kwargs but then ignores them.  Should be an easy fix; would be nice to systematically track down other places this might happen.

[2017-12-08 20:04] starlord1311 commented on #16400
can you help me with what i am supposed to do? @jreback

[2017-12-08 21:11] jbrockmendel commented on #15146
This seems pretty non-actionable at the moment.  Might be viable on a 2.0 wishlist?  If such a thing existed, there are a handful of tslibs items I'd like to put on it.

[2017-12-08 22:52] jimbasquiat opened #18700 "apply method, should return certain columns as datetime but returns them as int[64] instead"
#### Code Sample, a copy-pastable example if possible
[code]

returns:

[code]
#### Problem description
This should obviously return a dataframe with timestamps in the column `date`. Here it is having the numerical `.value` of the timestamp instead.

Please don't come up with answer like : " use `df['date']=pd.Timestamp("2017-01-01")`. "

I simplified a lot my problem as to focus on the datetime w

[2017-12-09 00:23] jreback commented on #18700
you are trying to mutate the internal Series. This violates all kinds of guarantes. Pandas cannot infer ever things a user will possible do. Not even sure what you are trying to accomplish.

[code]

[2017-12-09 00:23] #18700 closed

[2017-12-09 00:27] #18159 closed

[2017-12-09 00:35] WinnieT2003 opened #18701 "Unable to run Sample Data"
#### Code Sample, a copy-pastable example if possible
eemeter sample

[code]
#### Problem description
I installed Anaconda and am using the Anaconda Prompt to try to run the sample data.
There are error messages appeared below before the see the Normal year savings estimate for GAS Consumption. Is this normal or is there anything that I should be typed in the code before typing the eemeter sample

[2017-12-09 00:50] jimbasquiat commented on #18700
'you are trying to mutate the internal Series.' I think you are referring here to altering a list while iterating over it. this is def a different problem since the original dataframe is absolutely not modified by the .apply method.
'This violates all kinds of guarantes.' Could you point to documentation or information about that? i don't see any type inference related matters in the doc for .appl

[2017-12-09 01:30] jackasser commented on #18676
@Licht-T thank you for creating issue!

https://github.com/pandas-dev/pandas/blob/ba3a442556e3c04e316f790335427e6d983db01d/pandas/core/frame.py#L1522
↑ I think here.
↓ and this page
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html?highlight=to_csv#pandas.DataFrame.to_csv

[2017-12-09 05:04] jbrockmendel opened #18702 "Timezones silently dropped in parsing"
TLDR: pandas should pass a `tzinfos` kwarg to the dateutil parser using sensible defaults.

dateutil has a bug that silently drops most timezones.  That bug is inherited by pandas.  The following is run on a machine located in US/Pacific:

[code]

There is a partial [fix in progress](https://github.com/dateutil/dateutil/pull/540) over at dateutil, the most likely outcome of which is that these cas

[2017-12-09 05:14] Licht-T commented on #18687
I am working on this.
The current implementation ignores the order of string Index.
https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L578

eg. This makes the same result.
[code]

[2017-12-09 05:21] Licht-T commented on #18687
There is only one solution; converting a string Index into the numeric one if available.
I don't know wether pandas should support such conversion in its internals.

[2017-12-09 05:30] Licht-T commented on #18316
@gfyoung This issue was fixed.
https://github.com/pandas-dev/pandas/pull/18385

[2017-12-09 05:33] #18316 closed

[2017-12-09 09:52] boeddeker commented on #18687
In the case where I hit the problem, I had strings that are not convertible to floats.
Your example highlights the error better.

Converting strings to floats would reduce the occurrence of this bug.
Maybe handling strings need another solution.

An idea: The strings (labels) can be stored in `xticklabels`.
If the labels are string inside the `_get_xticks` the `xticklabels` are read, append with m

[2017-12-09 14:31] jreback commented on #18700
this is already reported in #15526

generally mutating things *inside* an apply, while it might work are not supported in any guaranteed way.

applying row-by-row is an anti-pattern when you can easily do a vectorized operation. Sure this may not be your real operation, but according to your SO post, your entire calculation can be vectorized.

[2017-12-09 14:34] jreback commented on #18702
hmm ok, I would rather hand off non-iso 8601 parsing to dateutil directly, so this would qualitfy. note that this only when format is not passed and in a very limited set of cases.

[2017-12-09 14:38] jreback commented on #18696
I believe this is correct, even though it looks a bit weird. You are passing a callable

e.g
[code]

[code]

[2017-12-09 14:41] jreback commented on #18696
related to #11579

@chris-b1 @TomAugspurger

[2017-12-09 14:41] jreback commented on #18696
we might just need to doc this

[2017-12-09 14:42] jreback commented on #18696
@achabotl a couple of examples in the doc-string might be helpful here. I'll mark it as such.

[2017-12-09 14:44] jreback commented on #18699
yeah looks like old/typo. should be removable.

[2017-12-09 14:45] jreback commented on #18683
yeah let's remove this, unless we really need it

[2017-12-09 14:45] jreback commented on #18701
need a reproducible example

[2017-12-09 14:46] #18701 closed

[2017-12-09 14:46] jreback commented on #18701
actually doesn't even seem related to pandas

[2017-12-09 14:50] jreback commented on #18691
see #4193 and #1889

[2017-12-09 14:52] jreback commented on #18691
this seems quite duplicate of what we already have, by default the repr *already does this*. using ``display.max_rows`` to control the break of this.

[2017-12-09 15:12] #16645 closed

[2017-12-09 15:37] #9454 closed

[2017-12-09 15:45] jreback opened #18704 "CLN: consolidate Index.astype"
we have some code repitiion in ``*Index.astype``, IOW each subclass implements a lot of the same boilerplate / logic. I think we could make this a bit simpler (maybe have a class attribute which ``Index.astype`` can check for valid types, and override this in sub-classes). just a thought.

xref #18677

[2017-12-09 15:45] jreback commented on #18704
cc @jschendel

[2017-12-09 19:20] petroswork commented on #16051
I don't know if I'm hitting the same bug, but `replace` corrupts a specific DataFrame I tried it against, running Pandas 0.21 on Python 3.6, Linux. To wit:
[code]
however,
[code]
I have no idea how `a@gmail.com`, which is the value of another row, appeared here. This result is repeated for several rows.

[2017-12-09 20:26] jbrockmendel commented on #18702
I'd prefer that dateutil handle this internally too; my hope is that consensus will develop over there once more people report that it doesn't Just Work.  But until then, it's still a nontrivial question of exactly what we want to recognize by default and whether/how to let users customize it.

I see two viable options:

1) The most convenient thing to do -- at least in my comfortably Anglo-centri

[2017-12-09 20:40] jbrockmendel opened #18705 "Timestamp("now") should match to_datetime("now")"
See #17697, #18666

`pd.to_datetime('now')` returns the current UTC time, while `pd.Timestamp('now')` returns the current local time.  `pd.to_datetime('today')` rounds the current UTC time down to midnight, while `pd.Timestamp('today')` returns the current local time (not rounded down).  These should be fixed to follow a single convention.

[code]

AFAICT the to_datetime behavior was designed to m

[2017-12-09 21:04] jreback commented on #18702
we shouldn’t be hard coding any time zones
i would think u can simply pull out the string and just try to localize

[2017-12-09 21:07] jreback commented on #18705
this needs to match what datetime doesso Timestamp.now()
is correct

[2017-12-09 21:25] alysivji commented on #18699
I'm looking into this issue.

Fixed the `Index.to_series(**kwargs)` bug and added tests to common.py which also contains the original test for this method.

None of the tests in this module are being run:

[code]

Where should I be writing my tests?

Note: same bug is also showing up in Index.to_frame(), where index=True is a default kwarg.

[code]

[2017-12-09 21:31] jreback commented on #18699
common is included in all the subclasses

you can add them there

[2017-12-09 21:56] WillAyd opened #18706 "CLN: Refactor test_coercion.py to Leverage Parametrization"
A lot of the tests in ``tests/indexing/test_coercion.py`` would be great candidates for parametrization in pytest. At the very least, the ``TestReplaceSeriesCoercion`` class can be greatly simplified to match what was done in 4d8dbd0e6b5f673639a6665bb6bf074f5eee4906

[2017-12-09 23:26] jbrockmendel commented on #18702
Can you expand on that?  Are you suggesting users should do this before passing to Timestamp/to_datetime?

[2017-12-09 23:27] jbrockmendel commented on #18705
`Timestamp.now()` needs to match `datetime.now()`, but it isn't necessarily obvious that `Timestamp('now')` needs to match those since there is no `datetime('now')`.  Not that I mind that particular behavior, it just doesn't seem obviously necessary.

[2017-12-10 00:00] jreback commented on #18702
of course not

when parsing if u hit something that looks like a tz
rather than an offset u can simply take the string and localize

[2017-12-10 00:02] jreback commented on #18705
i would think this is obvious - now should be now; anything else is completely wrong

it should not match np.datetime which does now in the current time zone which is completely wrong

[2017-12-10 00:04] jbrockmendel commented on #18702
Good.  That seemed unlikely (and altogether silly).

It's the "[simply](https://www.youtube.com/watch?v=G2y8Sx4B2Sk)" that I'm having trouble with. here.  This sounds like you're suggesting the parsing be done within pandas, which I thought was what we're trying to avoid.  Can you give an example of what you have in mind?

[2017-12-10 00:57] jbrockmendel commented on #18705
AFAICT a discussion with strong opinions occurred on this topic long before I got here.

This is confusing for a few reasons.

1) `np.datetime64('now')` returns a UTC-based value but `np.datetime64('today')` returns a local-based value*.
2) `to_datetime` returns a tz-naive object (assuming no tz kwarg is passed), but any TZ-aware strings are converted to their UTC values.  i.e. to_datetime is impl

[2017-12-10 02:47] kernc commented on #16807
IIUC, 2–4 above are due to NaN being non-representable in dtype=int. Can't force it; doesn't work.

So looks like only no. 1 is issue?

[2017-12-10 08:36] WinnieT2003 commented on #18701
I did not know what is pandas; I am reporting this issue because I received an error in anaconda while running the eemeter sample! Please look into the detailed report.

[2017-12-10 10:37] stefansimik opened #18711 "pivot_table fails on exception, when margins=True"
#### Sample code

[code]
#### Problem description

Pivot table fails on exception, when margins are set True on previous example.

Thrown exception is:
`KeyError: 'Level None not found'`

#### Expected Output

pivot_table with margins=True should work correctly
OR
report intuitive error
OR
documentation should be clearly updated to avoid such a problem

#### Output of ``pd.show_versions()``

<deta

[2017-12-10 10:49] stefansimik opened #18712 "DOC: pivot_table - fix documentation of aggfunc parameter"
#### Code Sample, a copy-pastable example if possible

[code]

[code]
#### Problem description

[Documentation for pivot_table](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html) method and aggfunc parameter
reports, that valid inputs are:

* function or
* list of functions

It misses option, that also **dictionary** can be used, which is one of the very useful options

[2017-12-10 11:57] jreback commented on #18711
can i show a copy pastable example
iow start with a code constructed frame

[2017-12-10 13:17] jorisvandenbossche commented on #15146
Why would it actually be a wish list item?

As described above by others, `freq` on a Timestamp is a *informative label* at most, but doesn't change the value. I agree with that.
But does it complicate the implementation a lot? I mean, is there a good reason to get rid of it? (I am not that familiar with that part of the code base, so it certainly can be it would be nice to get rid of)

I changed

[2017-12-10 13:18] jorisvandenbossche commented on #18627
@starlord1311 Yes, sure!

[2017-12-10 14:00] jimbasquiat commented on #15146
I think simply mentionning the existence of Timestamp with freq value in
the doc would be enough. It was just confusing for me when i stumbled upon
it, but when explained it's just fine and perfectly harmless.
On 10 Dec 2017 13:17, "Joris Van den Bossche" <notifications@github.com>
wrote:

[2017-12-10 14:41] #17448 closed

[2017-12-10 15:05] jreback opened #18713 "BUG: pivot_table aggfunc should accept string function-likes"
Virtually everywhere we allow strings to substitue for functions in ``.agg``, ``.apply`` and such, straightforward to add here. Just need to call https://github.com/pandas-dev/pandas/blob/master/pandas/core/base.py#L627.

example from ``pd.pivot_table`` doc-string

[code]

works
[code]

fails
[code]

[2017-12-10 15:06] jreback commented on #18711
duplicate of https://github.com/pandas-dev/pandas/issues/12210

[2017-12-10 15:06] #18711 closed

[2017-12-10 15:12] jreback commented on #18705
we should mimic the standard library as close as possible here. most of numpy functions are wrong in that they use the local timezone for things,

[code]

is bonkers and wrong.

I think this is fine, these give back a naive stamp, its also quite convenient.

[20] is completely bonkers and should just return ``Timestamp.now``, [21] is fine.
[code]

[2017-12-10 15:16] jreback commented on #18712
I added an example that could be added to the doc-string (though prob want to reconcile with the existing example).

@stefansimik a PR for this would be great!

[2017-12-10 15:17] jreback commented on #17972
pls be more specific here.

[2017-12-10 15:17] jreback commented on #17972
further in master .apply has gained some examples (to the doc-string).

[2017-12-10 15:18] jreback commented on #18694
need a reproducible example

[2017-12-10 15:18] jreback commented on #18692
@gfyoung can you have a look

[2017-12-10 15:20] jreback opened #18714 "BLD/TST: add pyarrow on CI to macosx build"
xref https://github.com/pandas-dev/pandas/pull/18662#issuecomment-350553687

Currently failing

on pyarrow 0.7.1, fp 0.1.3, on macosx
[code]

[2017-12-10 15:24] jreback commented on #18714
so the osx build tests an older version of feather-format, but this does not prevent us from installing pyarrow as well, so this is reproducible.

[2017-12-10 15:26] #17394 closed

[2017-12-10 15:39] #18671 closed

[2017-12-10 15:41] #9780 closed

[2017-12-10 15:42] jreback commented on #15332
xref https://github.com/pandas-dev/pandas/pull/18674

[2017-12-10 15:45] jreback commented on #15332
cc @reidy-p

this is a little bit trickier, we need to allow merges on compat categorical types, but should raise I think on incompat, but might be some cases where we are ok to merge (note that these should still merge just be turned into ``object``)

e.g. if the categoricals have the *same* categories and are unordered but just in a different order I think this might be ok

[code]

[2017-12-10 15:54] starlord1311 commented on #18627
@jorisvandenbossche can you tell what i am supposed to do?

[2017-12-10 16:01] jreback commented on #16807
yes,

though like to have some tests that assert the fail for 2-4 as well.

[2017-12-10 16:02] jorisvandenbossche commented on #18627
You need to add a deprecation warning to the tsplot function, see eg https://github.com/pandas-dev/pandas/pull/18258

[2017-12-10 16:22] jbrockmendel commented on #15146
The priority is in the range of "well, if we were doing it from scratch, I'd want to do it differently".  I figure it's not actionable now, but might be appropriate for 2.0.

In a few small ways.  `is_(year|month|quarter)_(start|end)` have special paths depending on freq.  `__hash__` and `__eq__` ignore `freq`.  It isn't recognized by any of the special constructors `now`, `today`, ... or `replace

[2017-12-10 16:27] #18511 closed

[2017-12-10 16:33] jlandercy opened #18716 "Calling Pandas plot method modify Maplotlib Time Representation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

After upgrading Matplotlib to 2.1.0 I had several plot having issue with Time Axis and Formatter.
I already know that Matplotlib does work well with `np.datetime64` and works as expected with `datetime.datetime`. I know that I can use `to_pydatetime()` to convert index before plotting.

But here, I am facing a

[2017-12-10 16:41] tdpetrou commented on #17972
I know you dislike `apply` like myself. I gave a tutorial on how to avoid `apply` by vectorizing it in my idiomatic pandas talk at pydata nyc. I used the poor examples from the documentation during the tutorial. This is one of early pandas users largest mistakes - using `apply` when it's not necessary.

I think it's probably OK to have a couple basic examples of using it when it's not necessary to

[2017-12-10 16:52] jreback commented on #17972
sure all for a warning box
example of what folks do and what some better solns are

[2017-12-10 17:01] tdpetrou commented on #17972
Ok cool. I'll make some changes to the apply docs in the next few days.

[2017-12-10 17:09] stefansimik commented on #18712
Hi @jreback ,
I am happy to do it - please check my PR -
merge if OK  - or let me know what to improve.

[2017-12-10 18:27] jreback commented on #17972
some related .apply doc issues (depending on what is written, some of these may be closable)

#3928
#5299

[2017-12-10 18:28] #18413 closed

[2017-12-10 19:06] reidy-p commented on #15332
@jreback thanks.

At the moment, merging on categorical columns seems to retain the ``categorical`` type when:

1. Columns have same categories and both are unordered
2. Columns have same categories and same ordering

But many other cases lead to casting to ``object``. For example:

1. Columns have same categories but different ordering
[code]

2. One categorical column is ordered while the other

[2017-12-10 19:35] jreback commented on #15332
cc @TomAugspurger @chris-b1

[2017-12-10 20:52] black-snow commented on #14122
I seem to have problems with quoting and escaping, too. Has anything happened since 2k16?

[2017-12-10 21:36] #17627 closed

[2017-12-10 22:50] #18156 closed

[2017-12-10 23:23] #17924 closed

[2017-12-11 00:12] jorisvandenbossche commented on #18716
@jlandercy see https://github.com/pandas-dev/pandas/issues/18301 (and linked issues) and http://pandas-docs.github.io/pandas-docs-travis/whatsnew.html#restore-matplotlib-datetime-converter-registration

This will be fixed in upcoming 0.21.1 release.

This is as expected. Matplotlib cannot yet handle datetime64 data, so those timestamps are just converted to its underlying integer representation. B

[2017-12-11 00:17] jorisvandenbossche opened #18720 "VIS: don't modify matplotlib units registry globally"
Possible follow-up for https://github.com/pandas-dev/pandas/pull/18307, see comment there: https://github.com/pandas-dev/pandas/pull/18307#issuecomment-347911487 and https://github.com/pandas-dev/pandas/pull/18307#issuecomment-345637950 for the details.

Idea would be to only register our converters when we are plotting ourselves, so people plotting directly with matplotlib (`plt.plot(..)` or `ax.

[2017-12-11 00:35] gfyoung commented on #14122
@black-snow : I don't believe anything has changed with this issue unfortunately.  Given that the escaping and writing is handled by Python `csv` at the very end, if we were to work around this idempotent issue, I think we would have to do some hacky data adjustment before writing.

Have a look at the examples and see if they still persist today.  Then also post your example code, and we can have

[2017-12-11 01:34] gfyoung commented on #18692
@rgieseke : Thanks for reporting this!  Parsing malformed rows is just not an easy question, and I agree here that indeed we should handle this case.

#12900 was a design choice on our part to ensure that quoted lines got fully skipped, even if they had line-terminators within them.  In your case, because your quoted line never properly terminates, `read_csv` will skip over everything.

Surprised

[2017-12-11 07:43] black-snow commented on #14122
Thanks for the quick reply @gfyoung ! I've already fixed my issue. Apparently pandas needs to be told that quotes inside a quoted field are escaped with a backslash.

[2017-12-11 07:56] gfyoung commented on #14122
Awesome!  Mind sharing your code-sample for reference?

[2017-12-11 09:55] rgieseke commented on #18692
@gfyoung Thanks for the quick feedback!

Here is a more real-world example from the data where I encountered the problem (simplified, this is Fortran namelist metadata plus whitespace separated columns), it's not really malformed, just having a space within the quotes. Again, with `engine="python"` it works. And without the `delim_whitespace` and commas as separator there is also no problem.

[cod

[2017-12-11 11:06] #18630 closed

[2017-12-11 11:08] #17959 closed

[2017-12-11 11:28] boeddeker commented on #18687
I have now example code that demonstrates my idea.

[code]

[2017-12-11 12:10] TomAugspurger commented on #18687
This seems a bit complex. I don't think pandas should be doing anything special here, we should rely on matplotlib to handle all the string <-> position logic.

[2017-12-11 12:47] boeddeker commented on #18687
You are right, I forgot to test if matplotlib can handle strings.
So the solution would be to add a further branch to `_get_xticks` for strings, that does not convert the strings to int.

[code]

[2017-12-11 12:57] jlandercy commented on #18716
@jorisvandenbossche Thank you for your answer. I have missed that.

[2017-12-11 13:25] jorisvandenbossche commented on #18716
No, problem!

[2017-12-11 13:25] #18716 closed

[2017-12-11 13:27] mrlnc commented on #18467
I'm a pandas beginner and found this in search for a workaround. I've noticed that things seem to work if you plot a non-resampled timeseries first. In example above, it seems to work if you just swap the calls to the `plot` function.

# Plot 2
## original
[code]
![2](https://user-images.githubusercontent.com/1729953/33832898-14fb7250-de7e-11e7-937c-b02e6a379f57.png)

## order changed
Now `plot` c

[2017-12-11 16:02] gfyoung commented on #18692
Indeed, this example is harder to explain away, since it isn't particularly malformed in this case...have a look at the CParser code to see where the discrepancy is arising.

[2017-12-11 16:09] rgieseke commented on #18692
Sorry, that was hard to parse ... I hadn't thought of the usecase of actually wanting to skip a number of rows. I only ever use skiprows to get rid of meta informationin header lines.

[2017-12-11 16:13] gfyoung commented on #18692
Ah, gotcha.  In any case, FWIW, if you remove the `skiprows` parameter, Python can still read the input, while the C engine still can't.  Thus, that definitely points to some kind of parsing issue.

[2017-12-11 16:47] Tummomoxie opened #18727 "SQL UNION"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

I noticed that when doing UNION of two datasets. The result depends on the order of selected columns and unites data according to this order and not to underlying labels. That doesn't look right.

CountryCode	ShortName	LatestPopulationCensus
0	AFG	        Afghanistan	1979
1	BGD	Bangladesh	2011
2	BMU	2010

[2017-12-11 16:57] jorisvandenbossche commented on #18727
Your question seems to be one about SQL and not pandas?
And anyway, general usage questions are better asked at eg StackOverflow.

[2017-12-11 17:08] #18727 closed

[2017-12-11 17:32] TomAugspurger commented on #18244
Since https://github.com/pandas-dev/pandas/issues/18678 seems to be stuck at the moment, I propose that we clear the 0.21.1 issue list and do a release today.

https://github.com/pandas-dev/pandas/pull/18629 should be mergable, https://github.com/pandas-dev/pandas/pull/18715 may have to wait for a fastparquet release.

[2017-12-11 18:57] #18581 closed

[2017-12-11 21:34] jbrockmendel opened #18733 "pytest.skip not working inside context manager?"
#18709 implements tests that uses `tm.set_timezone` context manager.  `set_timezone` begins with:

[code]

But that apparently isn't raising as expected: https://ci.appveyor.com/project/pandas-dev/pandas/build/1.0.7947/job/2fadgp6te7e95ysc

[2017-12-11 21:49] WillAyd commented on #18733
We may have conflicting development. I removed this from the context manager in #18693 and replaced it with a decorator in the functions where it was being used.

I didn't your branch of ``revert_today`` having merged in my changes so I'm a little surprised to see the failure there but wanted to call that out nonetheless

[2017-12-11 22:19] yuzie007 opened #18734 "ddof for np.std in df.agg changes depending on how given & lambda expression does not work correctly in a list of functions"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When using, e.g., `df.agg`, the `ddof` (degrees of freedom) value for the function `np.std` changes depending on how the function is given (single function or a list of functions), which may be so confusing for many people. I believe the behavior should be unified in some way.

Furthermore, I could not find the

[2017-12-11 22:39] jbrockmendel commented on #18733
That would explain it, thanks.  Closing.

[2017-12-11 22:39] #18733 closed

[2017-12-11 22:57] smsaladi opened #18735 "read_excel kwarg for `comment`?"
This is a feature request to add a `comment` kwarg to `pandas.read_excel` just like `pandas.read_csv` can accept a `comment` kwarg.

Sorry if this request should be placed somewhere else.

[2017-12-11 23:01] smsaladi opened #18736 "new line char not showing up correctly in docs"
Seems to be written "correctly" in the source:

https://github.com/pandas-dev/pandas/blob/4091f64d6e0dca3177f905b71f4d067bef8acd91/pandas/io/parsers.py#L251

and parsed correctly in the .rst file:

https://github.com/pandas-dev/pandas/blob/4091f64d6e0dca3177f905b71f4d067bef8acd91/doc/source/io.rst#L335

But doesn't show up correctly in the online docs:
https://pandas.pydata.org/pandas-docs/stable/

[2017-12-12 01:14] ryanbressler commented on #18678
Just to add a data point I tried to update to .21 and a large number of our unit tests failed so I came looking to see if this had been reported as a bug yet. A lot of our code assumes pd.Series([]).sum() == 0 for simple things like dollar weighted sums.

We won't be upgrading until this is fixed and the fact a breaking change like this was made has lead us to seriously consider prohibiting pandas

[2017-12-12 02:16] TomAugspurger commented on #18678
@ryanbressler that discussion is happening on the mailing list: https://mail.python.org/pipermail/pandas-dev/2017-November/000657.html

We're using the issue to design the fix.

[2017-12-12 02:32] TomAugspurger commented on #18678
I've started a branch for this at https://github.com/pandas-dev/pandas/compare/master...TomAugspurger:na-sum. I'll have a PR tomorrow, but briefly my approach was to add a parameter to `sum` and `prod`: `empty_is_na`. Here's the docstring for sum:

[code]

[code]

[2017-12-12 02:42] TomAugspurger commented on #18244
Alright, everything has been backported. The only remaining issue is the bad wheels on PyPI, which will be fixed by the release.

@jreback, @shoyer, @gfyoung, @chris-b1, any objections to releasing 0.21.1 as is on the 0.21.x branch?

[2017-12-12 02:44] jreback commented on #18244
lgtm

[2017-12-12 04:05] TomAugspurger commented on #18244
Everything should be in place. I'll tag it tomorrow morning unless something comes up.

[2017-12-12 07:31] jorisvandenbossche commented on #18678
@ryanbressler would you like to voice this experience on the mailing list?

[2017-12-12 08:16] jorisvandenbossche opened #18742 "COMPAT: drop pyarrow < 0.7 and fastparquet < 0.1 for Parquet IO"
What @dhirschfeld originally did in https://github.com/pandas-dev/pandas/pull/18629, but what was removed to merge it for 0.21.1. I think we can do this for 0.22

For pyarrow < 0.7 we can remove some extra complexity, for fastparquet I am actually not sure if it is needed.

[2017-12-12 08:33] black-snow commented on #14122
Sure.

There's no real csv standard but I'm used to certain defaults i. e. delimiter is `,`, quote char is `"` and escape char is `\` (e. g. from [PHP](http://php.net/manual/en/function.fgetcsv.php)). Pandas doesn't seem to use the backslash as the escape character by default so I had to add it.

`X = pd.read_csv(args.file, header=None, index_col=False, escapechar='\\').as_matrix()`

Thought this

[2017-12-12 10:37] watercrossing commented on #13068
I am confused by this. You are doing
`with open('df_to_csv_latin1.csv', 'w') as f:` - which sets the encoding of `f` to your systems default encoding, which on your machine is likely to be `UTF-8` (check with `locale.getpreferredencoding()`).

If you want to write in latin1, why don't you just open the file in latin1?

[code]
prints
[code]
as expected.
(Hint: if you are working with excel, you may

[2017-12-12 13:48] JulieRossi commented on #13068
Hi @watercrossing
I cannot specify the encoding when opening the file because I receive an already opened file descriptor.
Otherwise, this would indeed be the solution.

My point is that you can specify an encoding in `to_csv` method but it is not taken into account (which was not the case with python 2).

There may be no solution but it is confusing: you can set an option that is (quietly) not us

[2017-12-12 14:57] chris-b1 commented on #18735
It turns out this works already, the `comment` kwarg gets passed down the generic parsing code, but isn't documented (or likely tested).  A PR to flesh this out would be welcome

[code]

[2017-12-12 15:20] bluenote10 opened #18743 "Enabling chained assignment checks (SettingWithCopyWarning) can have huge performance impact"
Similar to an [observation on reddit](https://www.reddit.com/r/learnpython/comments/3m2dkq/pandas_pdoptionsmodechained_assignment_none_makes/) I noticed that there is a huge performance difference between the default `pandas pd.options.mode.chained_assignment = 'warn'` over setting it to `None`.

#### Code Sample

[code]
#### Problem description

The run times vary a lot depending on the whether t

[2017-12-12 15:28] jreback commented on #18743
of course, this has to run the garbage collector. You can certainly just disable them. This wont' be fixed in pandas 2.

[2017-12-12 15:28] #18743 closed

[2017-12-12 15:29] hiramf opened #18744 "Concat floats changes all ints to floats."
[code]
#### Problem description
My use case was adding a row that is the result of `bar/foo` to represent it as a percentage.

#### Expected Output
[code]

[2017-12-12 16:28] jreback commented on #18743
and if u want to put up a PR would be happy to take it

[2017-12-12 16:37] gfyoung commented on #14122
@black-snow : You'll need to provide us the file (if possible).  Can't run that code-sample as is. :smile:

[2017-12-12 16:40] black-snow commented on #14122
I cannot, sadly, it's business internal stuff. But without the escapechar pandas should already fail on this (not tested):

[code]

[2017-12-12 16:52] TomAugspurger commented on #18744
That's how pandas works, the dtypes are per-column, so appending floats changes everything.

I'd recommend writing a helper function for display that truncates the string representation down as far as possible.

[2017-12-12 16:52] #18744 closed

[2017-12-12 18:28] ryanbressler commented on #18678
@TomAugspurger and @jorisvandenbossche it looks like I need to subscribe to that list to post? I'll do that after some meetings I have this morning. Feel free to delete my comments If they aren't  appropriate on this thread but I must say expecting users to join the dev discussion list to report issues feels a bit unfriendly.

[2017-12-12 18:38] TomAugspurger commented on #18678
issues feels a bit unfriendly.

Not to report issues, that's just already been done -- this issue :)

We're trying to keep the discussion from fragmenting. Mailing List for
discussion what behavior we want, this issue for designing that behavior.
And usually most discussion happens on GitHub. This happens to be on the
mailing list since it's of broad interest, and not everybody
can keep up with th

[2017-12-12 18:51] jorisvandenbossche commented on #18678
@TomAugspurger regarding your proposal above, that would only deal with the empty case? So that would not yet provide an option for returning NaN on an all NaN series?

[2017-12-12 19:31] TomAugspurger commented on #18244
It seems like Christoph is building wheels against CPython 3.7 too: https://www.lfd.uci.edu/~gohlke/pythonlibs/#pandas Unless anyone objects, I'll upload those to PyPI as well.

- Mac and Linux wheels are building: https://travis-ci.org/MacPython/pandas-wheels/builds/315499578
- Conda-Forge is building
- Anaconda defaults has already been updated

I'll send the announce out when the wheels are don

[2017-12-12 19:42] TomAugspurger commented on #18244
Yep. I figure the two options are

1. We don't upload the wheels, and 3.7 users build from source. Stuff
either works or it doesn't.
2. We do upload the wheels, and users get the binary. Stuff either works or
it doesn't.

We know 0.21.1 builds on 3.7 on Windows, since Christoph was able to build
it. By uploading those
wheels, we get a bit more exposure to see if there are any issues with his
build

[2017-12-12 19:48] cgohlke commented on #18244
Better not. These wheels are built with Python 3.7a3 and Visual Studio 2017. They might not work with later 3.7 releases. I'm just starting to test the scipy stack with Python 3.7 and VS 2017.

[2017-12-12 19:54] TomAugspurger commented on #18244
Thanks for clarifying @cgohlke.

[2017-12-12 20:11] gfyoung commented on #18244
I think Travis has an image for Python 3.7, so maybe in the future, we could consider?

[2017-12-12 20:17] jreback commented on #18244
we don’t use the travis images at all

only conda

[2017-12-12 20:28] TomAugspurger commented on #18678
Yep, so far just handling the empty case. My preference is for additional keywords to `prod` and `sum`, rather than a new method.

For the all-NA case,

[code]

Are there any problematic interactions between these new keywords and `skipna`? Does the `empty_is_na` apply to it being empty before or after skipping the NA values? I'd propose that it applies to the before-skipping version, so that `emp

[2017-12-12 20:35] WillAyd opened #18748 "Silently Ignored Kwargs Cleanup"
Inspired by #18699 I wrote up a very brief script that when placed in the root directory could help identify functions where ``**kwargs`` are accepted but not used in the method body. While not perfect (may give false positives in cases of nested function definitions) it calls out 128 functions as is (see [extra_kwargs.txt](https://github.com/pandas-dev/pandas/files/1553193/extra_kwargs.txt)). A q

[2017-12-12 22:00] vertan commented on #18735
I'd like to work on this!

[2017-12-12 22:03] #18712 closed

[2017-12-12 22:06] chris-b1 commented on #18748
Cool, yeah would be nice to fix these up.

[2017-12-12 23:19] jreback commented on #18748
certainly on a user facing level we should do this. On internal functions, this is generally a code-simplicity exercise, so generally ok to remain.

[2017-12-12 23:20] tdpetrou opened #18752 "No SettingWithCopyWarning for chained indexing when .loc or .iloc is first indexer"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am completely confused by this behavior. I would expect that all of these should trigger warnings as they are all using chained indexing to make assignments. There is one example from each `.loc\iloc` that does modify `df`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------------

[2017-12-12 23:42] JanLauGe commented on #18735
Hi @vertan, @chris-b1, I just submitted a PR referencing this, but I've only done the example for the docs. Perhaps there is more work to do here in terms of tests?

[2017-12-12 23:47] Licht-T commented on #18676
@jackasser @jreback Actually, the double quoted blank field is the default spec. when writing single column CSV. IOW, this issue is the correct behavior, but the "Case 2" in https://github.com/pandas-dev/pandas/issues/18676#issuecomment-350205767 was wrong behavior. This is now fixed in CPython and the patch is backported to CPython 3.6.
https://github.com/python/cpython/pull/4769

[2017-12-12 23:47] jorisvandenbossche commented on #18678
I am personally also in favor of additional keyword(s) instead of a new method. I don't really like the `empty_is_na` and `all_na_is_na` names, and that fact that it are two additional keywords, but I assume they are at least explicit and allow for controlling both cases separately (which might be difficult with a single keyword like `min_count` ?)

This one concerns me as well. I think the `all_n

[2017-12-13 01:15] WillAyd commented on #18513
Are you still having this issue on master? Curious if it was resolved by #18427

[2017-12-13 01:59] jreback commented on #6257
this is already done

[2017-12-13 01:59] #6257 closed

[2017-12-13 02:03] naught101 opened #18755 "Scatter requires x column to be numeric"
[code]

This works, and produces this:

![figure_1](https://user-images.githubusercontent.com/167164/33918097-b35d2262-e005-11e7-89a3-31a47647cf7d.png)

On the other hand, this doesn't:

[code]

Why does pandas require x to be numeric if matplotlib doesn't?

using versions from conda, on Kubuntu 17.10:

[code]

[2017-12-13 02:19] sinhrks commented on #18755
Related to #8113. Maybe we can pass x-values as it is?

[2017-12-13 03:18] naught101 commented on #18755
I tried commenting out the lines which raise the assertion: https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L811

But then I got this:

[code]

The non-numeric columns seem to get dropped somehow?

[2017-12-13 03:50] jschendel opened #18756 "BUG: IntervalIndex.to_tuples doesn't handle NA correctly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
A tuple of `np.nan` is returned instead of just `np.nan`.  Note that `values` and `tolist` both yield `np.nan`:

[code]

#### Expected Output
`np.nan` instead of a tuple of `np.nan`:
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: d2fd22e1f995a638f1e84b0ef0

[2017-12-13 04:12] TomAugspurger commented on #18678
I think I talked myself out of the *need* for two keywords. My `empty_is_na` keyword should only have an effect if `len(s)` i
of the *need* for two keywords. My `empty_is_na` keyword should only have an effect if `len(s)` is 0, which means there isn't even any NaNs.

I'm not fond of `empty_is_na` / `all_na_is_na` either, but I find them easier to explain that `min_count`. Though making `Series([np

[2017-12-13 04:25] TomAugspurger commented on #18244
Wheels are done, announcement is sent. Thanks everyone.

[2017-12-13 04:25] #18244 closed

[2017-12-13 06:00] shoyer commented on #18678
Indeed, do we really need two new keywords?

I think `empty_is_na` should suffice, to satisfy both:
1. `pd.Series([np.nan]).sum(skipna=True, empty_is_na=True)` -> NaN
2. `pd.Series([]).sum(skipna=True, empty_is_na=True)` -> NaN

For `skipna=False`, which we only need for completeness:
3. `pd.Series([np.nan]).sum(skipna=False, empty_is_na=True)` -> NaN
4. `pd.Series([]).sum(skipna=False, empty_is_n

[2017-12-13 06:37] nariyapratik opened #18760 "How to iterate row from specific cell ? or how to give specific range in row iteration?"
Python Code

from mtranslate import translate
import pandas
import numpy as np

df = pandas.read_excel('english.xlsx')
df['Portuguese'] = np.nan
df['In English'] = np.nan
np.head()

for row in df.head(n=20).iterrows():
    for index in range(6, 9 + 1):
        english_ori = str(row[0])
        por_temp = translate(english_ori, 'pt')  # portuguese
        df['Portuguese'].loc[index] = por_temp

[2017-12-13 08:52] jorisvandenbossche commented on #18244
@TomAugspurger Thanks a lot for the release!

[2017-12-13 08:53] jorisvandenbossche commented on #18530
0.21.1 wheels are up, and should now be working.

[2017-12-13 08:53] #18530 closed

[2017-12-13 09:27] danielhrisca opened #18763 "ENH: manylinux/macos wheel for Python 3.4"
#### Problem description

There seem to be Windows wheels for Python 3.4, but no wheels for linux or macos.

Is it possible to build and upload such wheels as well?

EDIT:

I was referring to the wheel available on [PyPI pandas page](https://pypi.org/project/pandas/#files)

[2017-12-13 12:07] jreback commented on #18763
3.4 support was dropped in 0.21.0

[2017-12-13 12:07] #18763 closed

[2017-12-13 12:09] danielhrisca commented on #18763
Ok, in this case why are there Windows wheels for Python 3.4?

[2017-12-13 12:11] jreback commented on #18763
that’s an errror

@TomAugspurger

[2017-12-13 12:41] icfly2 commented on #18691
Perhaps it might be worth adding a line to the docs as it seems quite an obscure but very useful trick.

I would suggest referring to head in the docs for tail and vice versa and adding the comment about ` display.max_rows`

I'm happy to try my hand at that addition if there is some general support for the idea.

[2017-12-13 13:03] TomAugspurger commented on #18763
Whoops, removed the 34 wheels.

[2017-12-13 13:05] TomAugspurger commented on #18760
Maybe try asking on StackOverflow with the pandas tag; we use that for usage questions, and github issues for bug tracking.

[2017-12-13 13:05] #18760 closed

[2017-12-13 13:12] AlbertDeFusco opened #18764 "warning in bar plot with multiple columns"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The warning message about `series.name = label` in this case is because it's trying to do the following. I am not using the `label` keyword argument.

[code]

and since `series` is actually a Pandas now thinks that a new column is being created with the values `['a','b']`.

#### Expected Output

The warning me

[2017-12-13 13:33] TomAugspurger commented on #18764
Can you check if this was fixed by https://github.com/pandas-dev/pandas/pull/18695

[2017-12-13 14:01] jreback commented on #18678
I would just add

``fill_value=0`` (if we really want option 1), or ``fill_value=None`` for option 2

then this would all work and be quite simple.

[2017-12-13 14:03] jreback commented on #18756
hmm I don't really know why we have this method, its not semantically correct because you lose the ``closed`` value. I think ``.values`` (or ``list(IntervalIndex)`` is enough here). I would just deprecate this.

cc @shoyer

[2017-12-13 14:07] jreback commented on #18691
@icfly2 #18749 already is updating he doc-strings, so natural to add there.

Love to have you contribute on other issues!

[2017-12-13 14:09] jreback commented on #18244
thanks @TomAugspurger it seems so easy now with your checklist!! hahaha

[2017-12-13 14:11] jreback commented on #18676
@Licht-T ok can you add a test for >= 3.6 only, and xfail it for now (as not sure which release its on, though maybe its actually out?).

[2017-12-13 14:23] AlbertDeFusco commented on #18764
Actually, #18695 breaks my plot entirely by only allowing `y` to be a scalar. I'll submit a PR along with tests soon.

[code]

[2017-12-13 14:29] TomAugspurger commented on #18764
Yeah, that was the point of #18695, to raise when the user passes invalid arguments. `x` and `y` are supposed to be single labels or positions. Passing `x` and `y` sends the code down a path that's expecting all the other kwargs to deal with single values, not multiple.

If you want to plot multiple, I'd recommend `df.set_index('i')[['b', 'a']].plot.bar(stacked=True)`.

[2017-12-13 14:31] TomAugspurger commented on #18244
Only a few dozen steps :)

On Wed, Dec 13, 2017 at 8:09 AM, Jeff Reback <notifications@github.com>
wrote:

[2017-12-13 14:35] #10696 closed

[2017-12-13 14:35] #18593 closed

[2017-12-13 14:36] #18699 closed

[2017-12-13 15:03] alysivji commented on #18490
I've started working on this on my morning commute. Should have it done in the next week or so.

[2017-12-13 15:26] TomAugspurger commented on #18678
This seems strange, right?  And that differs from pandas 0.20.3 with or without bottleneck, which always returned 0 for `pd.Series([]).sum(skipna=False)`

[2017-12-13 15:29] TomAugspurger commented on #18678
@jreback would your `fill_value` only apply when `skipna=True`? Otherwise, we'd break `pd.Series([np.nan]).sum(skipna=False) -> NaN`.

[2017-12-13 15:32] TomAugspurger commented on #18678
For reference, here's the 0.20.3 behavior:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>use_bn</th>
      <th>skipna</th>
      <th>length</th>
      <th>result</th>
    </tr>
    <tr>
      <th>case</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td

[2017-12-13 16:07] philippschw commented on #10161
Issue seems to persist on extremely wide pandas DataFrame with 79 columns. Columns with same name   have been removed!
The error is:

`pd.__version__`

[2017-12-13 16:07] wesm commented on #18244
thanks @TomAugspurger!

[2017-12-13 16:08] TomAugspurger commented on #18678
Could people give thoughts on this table for the desired behavior?

| case | skipna | length | empty_is_na | result |
| -----| ------ | ------ | ----------- | ------ |
| A    | True   | empty  | False       | 0      |
| B    | True   | empty  | True        | NaN    |
| C    | True   | all-na | False       | 0      |
| D    | True   | all-na | True        | ?      |
| E    | False  | empty  | False

[2017-12-13 16:19] jreback commented on #10161
this is a long closed issue if u have a case
then open a new issue with a repro example

[2017-12-13 16:24] shoyer commented on #18244
Thanks!
On Wed, Dec 13, 2017 at 8:07 AM Wes McKinney <notifications@github.com>
wrote:

[2017-12-13 16:27] TomAugspurger opened #18767 "Add support for IP Address and MAC Address data"
Hi all, this is a proposal to add a new block and type for representing IP Addresses.
There are still some details that need ironing out, but I wanted to gauge reactions to
including this in pandas before spending too much more time on it.

Here's a notebook demonstrating the basics: http://nbviewer.jupyter.org/gist/TomAugspurger/3ba2bc273edfec809b61b5030fd278b9

## Abstract

Proposal to add suppo

[2017-12-13 16:37] shoyer commented on #18678
@TomAugspurger  I agree with the rule "Is the array empty after removing NaNs? If so, they result is NaN"

To me, this implies D=`NaN`, exactly as you reasoned.

The other missing entry in your table is Case E=`0`. This is the same as the sum of an empty array in NumPy (`np.sum([])`).

I'm confused. Isn't that exactly what D=`NaN` ensures? `empty_is_na` achieves the SQL-like behavior that (some) u

[2017-12-13 16:48] shoyer commented on #18756
My original reasoning for this method was to make it easier to use other APIs that need tuples, e.g., to convert an IntervalIndex into levels of a MultiIndex with `pd.MultiIndex(interval_index.to_tuples())` or put it in a (NumPy) structured array. Including `closed` would be redundant for most such representations.

Part of the need for this is that it surprisingly difficult to create a NumPy arra

[2017-12-13 16:49] TomAugspurger commented on #18678
Sorry, I think I was staring at that table for too long and started going crazy :)

[2017-12-13 17:28] soxofaan opened #18768 "Weird DatetimeIndex + secondary y axis plotting issue"
Today I stumbled on weird issue with plotting two series with a datetimeindex and a secondary axis.

Code that illustrates the problem:

[code]

- `b` is a straightforward time series with successive days
- `a` has a one day jump in the last item
- the for loop tries out all the possible combinations of assigning these two series to the primary or secondary y axis in  a plot
- Whenever one or more

[2017-12-13 17:33] jorisvandenbossche commented on #18678
+1

@jreback In the end, a `empty_is_na=True/False` or `fill_value=np.nan/0` would be equivalent in behaviour I think, so it is a question of which name we like most.
But I think in this case "empty_is_na is easier to explain" also is valid for `fill_value` IMO. Because `fill_value` would actually be the value to return in case of empty data (after skipping the NAs or not). So it would rather be s

[2017-12-13 17:38] shoyer commented on #18678
Do we think this is a valid option to want?

In all the user feedback on this issue, I do not recall any requests for this mixed behavior. So I think we can safely leave it out.

[2017-12-13 17:38] TomAugspurger commented on #18678
Yes, I was thinking that this morning as well...

[2017-12-13 17:55] jorisvandenbossche commented on #18767
Wow, detailed proposal!

First question that comes to my mind: why is it needed to be included in pandas (from technical point of view). Or to put it differently: what is currently in `pandas_ip` not working with storing the externally defined block in a pandas Series / DataFrame?

E.g. in geopandas the GeometryBlock can be stored in a Series as well, the main reason we have the subclasses GeoSeri

[2017-12-13 18:00] jorisvandenbossche commented on #18767
For example, I see you list concat and indexing in the notebook as things that don't work. However, if you define the correct method on your block, concatting Series objects should work, and basic indexing should work as well.

[2017-12-13 18:03] TomAugspurger commented on #18767
Unless I'm missing something, there isn't a good way stuff an arbitrary "thing" into the regular `Series` / `DataFrame` constructors and have it work:

[code]

AFAICT, the only way to do this from outside pandas is to construct blocks directly and use fastpath

[code]

So an alternative to my proposal would be to make something like `In[8]` possible, with a bit less of pandas internals coming thro

[2017-12-13 18:08] TomAugspurger commented on #18767
I could imagine coming up with an interface where if an object passed to the interface satisfies it, we dispatch *some* of the `DataFrame` / `Series` constructor behavior to the object. In https://github.com/pandas-dev/pandas/issues/18767#issuecomment-351472798, `In[5]` does the "wrong" thing since it casts it to NumPy. But, if the object passed in satisfies some interface so that pandas can deter

[2017-12-13 18:12] tdpetrou opened #18770 "Standardize docstrings to use pd.DataFrame/pd.Series"
#### Problem description

All docstrings should be consistent with DataFrame/Series creation and use `pd.` to access them as this is what most users use. I was looking through pandas/core/frame.py and there are 9 instances of a docstring having `df = DataFrame(...)` vs 30 that have `df = pd.DataFrame(...)`.

It would be nice to standardize this and possibly other similar inconsistencies - but this

[2017-12-13 18:47] jbrockmendel commented on #18510
@jreback is it the case that `offset.onOffset(dt)` should always be the same as (the base class implementation) `(dt + offset) - offset == dt`?  If so, this is a bug and should be resolved before #18738.

[2017-12-13 19:27] soxofaan commented on #18768
FYI: just upgraded to pandas 0.21.1 and issue still manifests itself

[2017-12-13 19:40] bnaul commented on #10259
I was a bit surprised to find that this isn't already supported since I've gotten so used to `@` in numpy. This case seems a bit simpler since there's no analog of scalars; does that mean that just setting `__matmul__ = dot` is sufficient or am I missing some other subtlety?

[2017-12-13 19:44] jschendel commented on #18767
I was actually thinking about this yesterday, but in the context of `Interval` and `IntervalIndex`: there are many situations where people care more about ranges of IP Addresses than a singular IP Address, either as the traditional IP Network groupings, or custom ranges of addresses.  Seems like it would be nice to have good compatibility between IP Addresses and `Interval`/`IntervalIndex` for thi

[2017-12-13 19:49] shoyer commented on #10259
There is a small amount of subtlety in returning `NotImplemented` when the other argument is the wrong type (standard for binary operators), but yes this is should be pretty straightforward.

[2017-12-13 20:59] TomAugspurger commented on #18767
Updated the original with some information on why doing this outside pandas is (currently) difficult, but I'd be happy to work on making that smoother.

@jschendel, yes I was just reading through https://docs.python.org/3/howto/ipaddress.html#defining-networks on this. I'm not especially familiar with the network side of things, so I'm not sure what that would look like.

And good call on using Po

[2017-12-13 21:15] TomAugspurger commented on #18678
Turning to `groupby` with categoricals, if we implement option 1, we'll want to have categoricals with no observations return 0 for sum.

[code]

Currently, aggregations like `np.nansum` don't behave as I would expect:

[code]

Perhaps custom aggregation functions aren't called on an empty array to see what the return type is?

[2017-12-13 21:30] charris commented on #10259
Note that `@` and `dot` broadcast differently. I don't know if that means anything for pandas ...

[2017-12-13 21:58] shoyer commented on #10259
In pandas we only have 1D and 2D data structures (ignoring Panel, which is deprecated), so the broadcasting behavior is irrelevant.

[2017-12-13 22:22] TomAugspurger commented on #7889
This is being handled in https://github.com/pandas-dev/pandas/issues/18678

[2017-12-13 22:22] #7889 closed

[2017-12-13 22:46] TomAugspurger commented on #18678
Another (large) place this affects is upsampling:

[code]

On my branch:

[code]

which is I suspect what we want, but another thing I'll make sure to document.

[2017-12-13 22:59] TomAugspurger commented on #18768
Thanks for checking on the new release.

Could you try dropping some breakpoints in `pandas/plotting/_core.py` to see what's going on? Maybe somewhere around https://github.com/pandas-dev/pandas/blob/265e3272b8709a7be274321ee8b505a0e74b8e10/pandas/plotting/_core.py#L999? I think we might store some data on the `axes` object, and I suspect that could be confusing things when you have a secondary y.

[2017-12-13 23:12] jstray opened #18771 "hash_pandas_object fails on dataframe with dict column"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
The `hash_pandas_object` call fails with:
[code]

#### Expected Output
Series of length 2 containing hashes for each row.

#### Output of ``pd.show_versions()``
[code]

[2017-12-13 23:50] jreback commented on #18771
why do you think you could hash a mutable object? generically hashing random objects is hard. and not likely to be supported.

[2017-12-14 00:03] jstray commented on #18771
Because I want to cache tables to disk. The hash value allows me to check if the current table version is different from the one on disk, thus avoiding large unnecessary writes.

While I have you -- how do I tell if a column is a dict or other complex type? Loading from e.g. json just gives me "object" type for every column.

[2017-12-14 00:11] jbrockmendel opened #18772 "Deprecate Tick?"
What can tick do that Timedelta can’t? I guess normalize? But tick with normalize=true doesn’t make a ton of sense...

[2017-12-14 02:17] shoyer opened #18773 "pd.cut fails on readonly arrays"
#### Code Sample, a copy-pastable example if possible

[code]
Results in:
[code]

#### Problem description

This is essentially the same problem as https://github.com/pandas-dev/pandas/issues/10043 and https://github.com/pandas-dev/pandas/issues/17192, due to Cython issue https://github.com/cython/cython/issues/1605

#### Expected Output

Should not error.

#### Output of ``pd.show_versions()``

<

[2017-12-14 03:36] jstray commented on #18771
I have to find another way for the moment (string hash on to_csv, probably), but I'm wondering if I could modify hash_pandas_object to do canonicalization using the same strategy as .equals()

[2017-12-14 03:40] mullenkamp opened #18774 "Resample for discrete values"
#### Example from https://stackoverflow.com/questions/39809703/python-pandas-resampling-instantaneous-hourly-data-to-daily-timestep-including-0

[code]
#### Problem description
This has been asked about in a stackoverflow question, but the answer is inefficient and only works for regular time series.
If we have a time series where each value is a discrete measurement, resampling/aggregating would

[2017-12-14 04:11] AlexHentschel opened #18775 "DataFrame.apply returns NaN if DataFrame contains datetime column"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The last line returns a dataframe with _all_ entries replaced by NaN. This only happens if the following two conditions are _both_ satisfied:
- a column with `datetime64[ns]` is present in the dataframe (in the above example the column with name `date`)
- the function applied to the dataframe returns a diction

[2017-12-14 04:12] AlexHentschel commented on #18775
Just wanted to mention that Pandas is a great tool and you are doing awesome work. Thanks.

[2017-12-14 04:25] haimivan opened #18776 "Python Pandas DataFrame Merge: Strange Sort Order for How = Inner"
see also:
[https://stackoverflow.com/questions/47793302/python-pandas-dataframe-merge-strange-sort-order-for-how-inner](https://stackoverflow.com/questions/47793302/python-pandas-dataframe-merge-strange-sort-order-for-how-inner)

I do not understand the sort order for Python Pandas DataFrame `merge` function with `how="inner"`. Example:

    import pandas as pd

    df2 = pd.DataFrame({'a': (6, 7,

[2017-12-14 05:19] jbrockmendel commented on #18510
@gfyoung mind changing the tag from Timedelta to Frequencies?

[2017-12-14 05:23] gfyoung commented on #18510
@jbrockmendel : done

[2017-12-14 05:29] jbrockmendel commented on #5030
In 0.21.0 the example from the OP gives:

[code]

[2017-12-14 06:14] sunilk747 commented on #18644
Hi @jreback  I would like to work on this issue. I am new to this repo, I think this would be a good issue to solve first.

[2017-12-14 09:17] jorisvandenbossche commented on #18774
I think you somehow want a `closed='both'` option, where we currently only provide the options `closed='right' / 'left'`. So I think this is not possible at the moment with a single resample call.

[2017-12-14 11:05] jreback opened #18777 "COMPAT: 32-bit build failures"
started happening on dec 12-13 on 32-bit for 2.7/3.5
https://travis-ci.org/MacPython/pandas-wheels/jobs/316191146

[code]

[2017-12-14 11:05] jreback commented on #18777
cc @jschendel
cc @jbrockmendel

its possible the astype fixes triggered this, but the bug existed previously

[2017-12-14 11:18] jreback commented on #18771
strings & python objects are stored as ``object`` dtype. you can do this to differentiate strings and python objects themselves. There is no good way to deeply introspect these though. Working with non-strings is generally not supported.

[code]

[2017-12-14 11:18] #18771 closed

[2017-12-14 11:30] #18521 closed

[2017-12-14 13:45] apiszcz opened #18779 "OverFlowError: Python int too large to convert to C unsigned long"
Pandas 0.21
df.groupby('x').resample('50T').count()

x is type np.uint64

I'm guessing this is my problem and I need to use another representation for 'x', however there may be a problem.

Thank you.

[2017-12-14 14:01] jreback commented on #18779
pls show a copy-pastable example

[2017-12-14 14:04] jreback opened #18780 "geopandas install issue?"
revert #18786

https://travis-ci.org/pandas-dev/pandas/jobs/316397406

[code]

cc @jorisvandenbossche

[2017-12-14 14:07] jorisvandenbossche commented on #18780
@ocefpaf are you currently updating packages? In the sense of: is it just waiting on travis to finish building, or should I report it somewhere?

[2017-12-14 14:08] jorisvandenbossche commented on #18780
@jreback it's a bit a problem for our ci, but basically every time some of the dependencies in the gdal dependency chain have to be updated, there is a short moment that one is updated and the other not, and we get such failures.

[2017-12-14 14:16] ocefpaf commented on #18780
@jreback and @jorisvandenbossche did you guys tried only the default channel lately? @msarahan and others did an amazing job of getting the latest recipes from `conda-forge` and building them in a more consistent way with `conda-build 3`. Also, b/c they are not limited by CIs, when they update a dependency all the stack is updated at once and things will be consistent quicker than in `conda-forge`

[2017-12-14 14:17] jorisvandenbossche commented on #18780
`gdal` is in a working state lately? (but it is a long time ago that I tried and had problems with it)

[2017-12-14 14:32] HedgeShot opened #18781 "Fast-indexing .at not working in 0.21.(.1)"
#### Code
[code]
#### Problem description

Since upgrading pandas to 0.21.0 and then 0.21.1, my code using fast indexing `.at` isn't working anymore. I get this error:

[code]

`date` is a `<class 'pandas._libs.tslib.Timestamp'>` and is in the index of the DataFrame (simple DataFrame without multi-index).

Doing `type(df.index[0])` also gives me `<class 'pandas._libs.tslib.Timestamp'>`

Any idea?

[2017-12-14 15:06] jreback commented on #18780
if its only temporary no problem.

[2017-12-14 15:07] HedgeShot commented on #18781
Error was coming from the DataFrame... In prior version of pandas one had to generate columns with double brackets and now not anymore. Changing it solved the issue.
Old:
[code]
Now
[code]

[2017-12-14 15:07] #18781 closed

[2017-12-14 15:10] jreback commented on #18781
make sure you are actually using 0.21 & you have a misspelling in your example
[code]

[2017-12-14 15:10] jreback commented on #18781
huh? why would you do this?

[2017-12-14 15:13] msarahan commented on #18780
If gdal is not in a working state on defaults, please let me know.

[2017-12-14 15:28] jorisvandenbossche commented on #18780
It's probably two years ago that I tried (and at that time there were problems), so I should probably first have tried before saying something like that .. :-)

But, trying, and I notice it still tries to get `rtree`, `libspatialindex` and `geopandas` from conda-forge, so I assume those are not available in defaults. At the moment this is probably not a problem, as neither of those build against g

[2017-12-14 15:32] msarahan commented on #18780
I can work on building those in near term.  Thanks for trying.

[2017-12-14 15:59] jbrockmendel commented on #18435
Copied from #18376:

How to treat it in the whatsnew notes is above my pay grade. But over the course of this PR's history I've become increasingly convinced that the current comparison behavior is Just Plain Wrong and should be treated like a bug.

The three options on hand are 1) this PR which makes `DatetimeIndex` comparisons behave like all other datetime-like comparisons, 2) edit the spec to

[2017-12-14 16:49] danielkberry opened #18782 "Intermittent KeyErrors for Series with duplicates in string index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

``s2[0]`` throws a KeyError because the key, 0, is not in the index. This behavior is expected. ``s2.iloc[:5][0]`` also has this correct behavior. However, once the duplicate index has been removed, ``s2.iloc[:4][0]``, this error is not thrown and instead the value at **position** 0 is returned.

This error is

[2017-12-14 17:04] jbrockmendel commented on #7996
I'm about to submit a PR that fixes this.  It works for Series but still fails for DataFrame.

[2017-12-14 17:32] mullenkamp commented on #18774
Hi Joris,

I don't think it's a closed both, that would simply just add the other data
point to the resampling function. This would not produce the same result
from my example.

Regards,
Mike

On 14/12/2017 22:17, "Joris Van den Bossche" <notifications@github.com>
wrote:

I think you somehow want a closed='both' option, where we currently only
provide the options closed='right' / 'left'. So I thin

[2017-12-14 19:58] yashu-seth commented on #8918
I have created a solution that may be helpful exactly for this problem. One Hot Encoding categorical variable in a train test framework. It can also handle cases when the dataset is too large to fit in the machine memory.

[https://github.com/yashu-seth/dummyPy](https://github.com/yashu-seth/dummyPy)

You can also find a small tutorial on this [here](https://yashuseth.wordpress.com/2017/12/14/how-

[2017-12-14 20:03] TomAugspurger commented on #8918
People subscribed to this may be interested in dask-ml's implementation

- http://dask-ml.readthedocs.io/en/latest/preprocessing.html#additional-tranformers
- http://dask-ml.readthedocs.io/en/latest/modules/generated/dask_ml.preprocessing.Categorizer.html#dask_ml.preprocessing.Categorizer
- http://dask-ml.readthedocs.io/en/latest/modules/generated/dask_ml.preprocessing.DummyEncoder.html#dask_ml.pr

[2017-12-14 20:10] apiszcz commented on #18779
Test case works fine, if I set value ...16 i get the message, I need to review my data.

[code]

		x	time
x	time
18446744073709551613	1970-01-01	1	1
18446744073709551614	1970-01-01	1	1
18446744073709551615	1970-01-01	1	1

[2017-12-14 20:10] #18779 closed

[2017-12-14 21:10] chris-b1 commented on #18772
Practically speaking, nothing that I'm aware of, but I'm not sure that means it should be removed.

At least my understanding of the `Tick` hierarchy is so that the DateOffset hierarchy provides a uniform interface for both fixed & relative offsets.

For instance, without `Tick`, these two ops would return different types for the metadata, which isn't great?

[code]

[2017-12-14 21:27] chris-b1 commented on #18767
I'm not opposed to having an IP type in pandas, but does seem like it could be an interesting case to try develop an "extension block API" around,  i.e., you do something like subclass `Block` and `ExtensionDtype` and through metaclass registration or whatever, everything works!

That said, I really don't know our own internal interfaces well enough to know if this is feasible without massive refa

[2017-12-14 21:34] chris-b1 commented on #18775
Thanks for the report, this should fall under @jreback's PR at #18577 (in progress)

That said, with my last pull of it the output is inferred as completely empty - some discussion over there on exactly what kwargs should be used to control this.

[code]

[2017-12-14 21:38] TomAugspurger commented on #18767
FWIW, I plan to experiment with defining an interface through ABCs next
week. I'll update with how that turns out.

On Thu, Dec 14, 2017 at 3:27 PM, chris-b1 <notifications@github.com> wrote:

[2017-12-14 21:45] chris-b1 commented on #18782
The fundamental problem here is #9595, namely `[]` indexing _sometimes_ has fallback behavior to location based indexing.  My general recommendation (and I think at least soft community consensus) is to only use `[]` indexing for DataFrame column selection and `iloc` / `loc` everywhere else.

@jorisvandenbossche's summary does a good job, although doesn't have this particular corner (duplicate vs

[2017-12-14 21:49] jorisvandenbossche commented on #18767
Yes, that is correct. That is also something with which I have struggled in geopandas.

For the short term, you could provide functional constructors like `ip.series(..)` returning a Series with ip block.

BTW, the fact that it doesn't see your ip array-like as an array-like and unwraps it in a series (so getting series of length 2) feels like a bug in pandas (in `is_list_like`) (but not that it w

[2017-12-14 23:06] jreback commented on #18775
yep, this is already covered by #18577, added as an additional test.

[2017-12-14 23:17] jbrockmendel opened #18784 "DataFrame.__eq__ wrong for datetime64 vs timedelta64"
[code]

So both `__sub__` and `__eq__` are problematic.

[2017-12-14 23:23] jbrockmendel commented on #18772
Well BusinessDays isn't a tick, so that isn't redundant.

I agree this is likely not worth the backward-compat trouble.

[2017-12-14 23:23] #18772 closed

[2017-12-14 23:52] vertan commented on #18736
The new line problem was fixed in #18412, and the missing named argument `comment` is added to the `read_excel` documentation in the proposed PR #18753.

[2017-12-14 23:59] TomAugspurger commented on #18767
I haven't (yet) implemented the methods to make that IP array an iterable.

A class (ABC or otherwise) that contains enough information for the pandas constructors to do the right thing (the `dtype`, `shape`, a block type, etc). Right now in the Series constructor we try a whole bunch of things like checking if the array is an extension type before falling back to sticking it into an object-type n

[2017-12-15 00:06] AlexHentschel commented on #18775
Thanks for the quick feedback. Looking forward to working with the fixed version.

[2017-12-15 00:53] jreback commented on #18756
ok @shoyer makes sense about the rationale for this method.

[2017-12-15 00:55] jschendel commented on #18756
@shoyer : Thanks, that makes sense.

I like the `na_tuple` keyword argument idea and implemented it, but I'm having some trouble testing it due to the NA tuples.  Consider the following setup:

[code]

Then `==` returns `False` for the position with the NA tuples:
[code]
Likewise, `equals` returns `False`, and `tm.assert_index_equals` raises:

[code]

So I'm not quite sure what should be done for

[2017-12-15 01:18] jreback commented on #15249
closing this, we are moving towards things being very explicit.

[2017-12-15 01:18] #15249 closed

[2017-12-15 01:18] jreback commented on #14157
out of scope for pandas.

[2017-12-15 01:18] #14157 closed

[2017-12-15 01:19] jreback commented on #18784
this is a duplicate of #12437

[2017-12-15 01:19] #18784 closed

[2017-12-15 01:22] jreback commented on #18782
indexing with duplicated indices is quite tricky. you have to pay attention, so pretty much you shouldn't avoid this. coupled with fallback things get tricky. use ``.loc`` for label selection and this problem goes away.

[2017-12-15 01:22] #18782 closed

[2017-12-15 01:27] jbrockmendel commented on #12437
Since #18784 is closed, let's make it explicit here: `__eq__` is also wrong.

[2017-12-15 01:29] alessioarena opened #18785 "possible bug when using datetime.replace() on a tz-aware pd.DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Hi there,

I'm not sure what is happening, but the output is definitely not what I am expecting.

Let's say that I have a timeserie with a 'MS' frequency.
At some point I want this to be resampled to a mid-year frequency

To do that I'm using the .resample('Y').mean() methods, followed by a direct replacement of

[2017-12-15 01:30] jreback commented on #18756
this might be a shortcoming of ``array_equivalent`` which does this heavy lifting; IOW it might need to detect tuples and compare them directly (rather than rely on ``np.array_equal`` which prob borks)

[2017-12-15 01:35] jreback commented on #18785
so this is after #18618

[code]

[2017-12-15 06:09] filmor commented on #15249
I really don't see any magic here. Every non-naive `Timestamp` specifies a unique point on a common time-axis, completely independent of the timezone being used, so their difference is unambiguously defined as the distance on that time-axis.

Contrary to what you said before, subtracting timestamps with different timezones /is/ a valid action that can happen in particular in library code, e.g. if

[2017-12-15 06:53] jschendel opened #18789 "ENH: Add a length attribute to Interval and IntervalIndex"
#### Problem description
Seems like a pretty standard attribute for an interval, and something that a user may want to know.

Implementation is straight forward: `self.right - self.left`, which could be an argument against adding this, since it's something a user could easily do themselves.   I think the explicit use of `length` would make code more readable.  For example, consider the datetime sa

[2017-12-15 07:57] gfyoung commented on #18789
Sounds reasonable to me.  Go for it!

[2017-12-15 07:57] gfyoung commented on #18789
I meant to hit "comment" :smile:

[2017-12-15 08:13] jschendel opened #18790 "DISC: Behavior of .astype('category') on existing categorical data"
### Background
Follow-up from this specfic chain of comments: https://github.com/pandas-dev/pandas/pull/18710#discussion_r155950020
And these PR's in general: #18677, #18710

### Issue
For the context of this discussion, I'm only referring to data that is _already_ categorical; I don't think there was any ambiguity with converting non-categorical to categorical.  This applies using `.astype('categ

[2017-12-15 08:14] jschendel commented on #18790
cc: @jreback, @jorisvandenbossche, @TomAugspurger

[2017-12-15 10:05] jonathan-s opened #18791 "Finding entry with index slow & using many columns for index fails to find entry."
#### Code Sample, a copy-pastable example if possible
I'm trying to locate a specific row and change the data in that row in pandas. I'm doing that in the following way.

[code]

#### Problem description
When the dataframe contains ~12k entries it manages to check around ~900 entries per second. But if I decrease the dataframe to around ~5k entries it checks around 10 values per second. This is co

[2017-12-15 11:08] jreback commented on #15249
we raise for *all* comparisons between differing tz's (whether tz is UTC or naive or another zone).

this is complicated by the fact that we generally turn strings into naive timestamps, xref

xref #18435

subtracting in different timezones would be valid, but is just plain confusing, forcing folks to put things in the same timezone to subtract is not very burdensome and is much much more explicit

[2017-12-15 11:09] jreback commented on #18435
[code]

@jbrockmendel on the list?

[2017-12-15 11:10] jreback commented on #18790
I like 3. can you make a quick test to see if its feasible?

[2017-12-15 11:12] jreback commented on #18791
this is quite non-idiomatic and there for inefficient

use ``df.where()`` or ``df.isin()`` to index and do a vectorized set. see the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html

if you still have questions like this Stack Overflow is a good forum.

[2017-12-15 11:12] #18791 closed

[2017-12-15 11:20] jorisvandenbossche commented on #15249
That is not really true, for *comparisons* we allow this:

[code]

[2017-12-15 11:32] #18756 closed

[2017-12-15 11:32] jreback commented on #18789
lgtm.

[2017-12-15 11:47] jreback commented on #15249
see my comment in the linked issue
these should all raise (on the list)

[2017-12-15 11:48] TomAugspurger commented on #18790
If option 3 isn't too difficult, I think it'd be best. I want `'category'`
to be equivalent to `CategoricalDtype()`.
Currently that's true for creating a new categorical. It'd be nice if it
were true for coercing existing
categoricals.

On Fri, Dec 15, 2017 at 5:10 AM, Jeff Reback <notifications@github.com>
wrote:

[2017-12-15 12:31] jorisvandenbossche commented on #15249
I would say that is up for debate. We currently allow it, and I don't think there is anything ambiguous about what the result should be. Why breaking backwards compatibility to start erroring on this?

[2017-12-15 12:31] jorisvandenbossche commented on #18435
I would say that is up for debate. We currently allow it, and I don't think there is anything ambiguous about what the result should be. Why breaking backwards compatibility to start erroring on this?

[2017-12-15 12:37] filmor commented on #15249
Also, the actual issue in the linked comment is about tz-naive vs tz-aware timestamps. Of course neither comparison nor difference make sense if tz-naive timestamps are involved (even naive vs naive dubious, cf. `pd.Timestamp("DST-Day 02:30") < pd.Timestamp("DST-Day 02:31")`).

[2017-12-15 14:50] Leobouloc opened #18792 "bug using `read_excel` and `index_col` option"
### Code Sample, a copy-pastable example if possible

**Example 1 (weird column/value assignment)**
[code]

**Example 2 (index_col=None seems not to work)**
[code]

### Problem description

The `index_col` option in `pd.read_excel` seems not to behave properly when the first column name is missing (for example, when a file is written using `to_excel(..., index=True)`).

**Example 1**
We end up wit

[2017-12-15 15:39] TomAugspurger opened #18793 "Timedelta parse AM/PM"
I have some data that is roughly like "%H:%M:%S %P" (where %P is AM/PM). I'd like to store it as a `Timedelta` representing seconds since midnight.

Currently parsing that "succeeds", ignoring the AM / PM

[code]

Here's my current workaround.

[code]

That works, but is a bit tricky to get right (assuming I *have* gotten it right). I'd propose that either

1. raise when we see am/pm in the data,

[2017-12-15 16:13] jonathan-s commented on #18791
Thanks for the reply! I'll look into it 👍

[2017-12-15 16:39] chris-b1 commented on #18793
The `'today'` part of this is a hack, but here's a slightly simpler recipe

[code]

[2017-12-15 16:46] TomAugspurger commented on #18793
Oh, that's clever :)

[2017-12-15 17:16] jbrockmendel commented on #18435
@jreback why would 2016-01-01 be > now?  Assuming you ran this recently...

@jorisvandenbossche Is your last comment (the one blockquoting the 2016-01-01) about 2016-01-01?  AFAICT that is unrelated to this Issue.

[2017-12-15 17:38] dgmp88 opened #18796 "Converting type object columns to strings fails"
#### Problem description
Overwriting columns of type object with type string fails.

[code]

#### Output
[code]

#### Expected output
[code]

This only seems to happen for dtype object -> dtype string, if it's numerical this works for me.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS

------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Darwin
OS-release

[2017-12-15 17:52] jreback commented on #18796
pandas does not support fixed length strings
these are stored as object dtype

[2017-12-15 17:52] #18796 closed

[2017-12-15 18:12] dgmp88 commented on #18796
@jreback - but the dtype returns 'S5', and ```data[col].values.dtype``` is also 'S5' in the successful case, so it seems it is being stored as a fixed length string, no?

I just read [this](https://github.com/pandas-dev/pandas/issues/5261) so now understand why fixed length isn't normally supported, but the fact the code above 'works' in the third case seems confusing.

[2017-12-15 18:48] araespahan commented on #11733
As of now I still see the same issue. when using multi headers with read_excel, pandas always assigns the first column as index.

[2017-12-15 19:15] datajanko opened #18797 "Suggestion: Make assign accepts list of dictionaries"
#### Problem description
I really like the assign function and it's ability to be applied in pipelines.
However, if you pass a dictionary via prefixed by **, the dictionary must only contain columns that already exist in the preceeding dataframe. So in a dataframe, that contains column 'A', and I want to construct column B as f(A) and column C = g(A, B), im forced to do
[code]
for some f and g and

[2017-12-15 19:23] jorisvandenbossche commented on #18435
@jreback didn't mean the False was wrong, but that he wants it to raise an error (different timezones), and my answer was on that aspect.
It's related to the general topic (comparisons with timezones) but indeed a bit different (two different timezones instead of naive vs aware).

[2017-12-15 19:35] jbrockmendel commented on #18435
@jreback can you confirm this is what you intended?  If so I'm surprised because the scalar behavior is pretty well-established.

[2017-12-15 19:44] jorisvandenbossche commented on #18435
See the discussion in the linked issue:
https://github.com/pandas-dev/pandas/issues/15249

[2017-12-15 19:46] jorisvandenbossche commented on #18435
I think you are certainly experienced enough to have a valuable opinion about that!
I can certainly understand you are opposed to keeping the behaviour (there are good reasons for that), but I don't see why it would be "plain wrong". IMO it is not wrong to interpret a string (I would even say it is not really ambiguous what it should do), but it is just a *choice* we make: are we strict about it o

[2017-12-15 20:48] jbrockmendel commented on #18435
Thanks, the context there helps.

I was under the mistaken impression that those comparisons were done, my mistake.  This tempers the strength of my opinion somewhat, will need to think on it before deciding how much.

Choose any two: DatetimeIndex, Timestamp, datetime, datetime64-Series, datetime64-Dataframe-column.

The following is in 0.21.1 and is part of what #18376 is intended to fix:

[code

[2017-12-15 21:15] TomAugspurger opened #18798 "Groupby missing tuple doesn't throw"
#### Code Sample, a copy-pastable example if possible

[code]

In 0.20.3 that raised `KeyError: 7`

On master I get

[code]

cc @toobaz

[2017-12-15 21:21] chris-b1 commented on #18797
In my opinion, a cleaner solution to this would be #14207 (taking advantage of dict ordered-ness in 3.6+)

[2017-12-15 21:22] TomAugspurger commented on #18797
Agreed with @chris-b1.

[2017-12-15 21:26] TomAugspurger commented on #14207
If you didn't see, as of python 3.7 dictionaries are ordered, as part of the language https://mail.python.org/pipermail/python-dev/2017-December/151283.html

My objection to allowing dependent assignment now was that it'd (potentially) lead to subtle bugs / confusing errors between versions of python. But since Python itself is opening the door, let's slip through too :) I think we should allow de

[2017-12-15 21:34] amueller opened #18799 "document is_copy"
#### Code Sample, a copy-pastable example if possible

#### Problem description

I find the behavior of ``SettingWithCopyWarning`` quite surprising, but I guess that's just what it is.
It would be great if you could document ``is_copy`` and how to use it, though.

Whenever any function returns a dataframe, it seems like it should make sure that ``is_copy`` is set to ``False`` (or ``None``?) so the

[2017-12-15 21:52] datajanko commented on #18797
Actually, it was one of the first things I checked if the dict-orderdness is used. Unfortunately, this is not the case.
However, if I understand the current source code correct, the naive implementation to use the dict-orderedness must perform a full data frame copy after each added keyword. In fact, in the worst case (e.g. as described above), this will inevitably be necessary. So for this case,

[2017-12-15 22:21] toobaz commented on #18798
Yep, I hadn't tested this... fix ready, after #18731 is pushed I will open a PR.

[2017-12-15 23:01] TomAugspurger commented on #18797
Not sure what you mean here, but `df.assign(a=1)` and `df.assign(a=1, b=2)`  each perform one copy.

The current implementation does two steps:

1. all the computation into an intermediate dictionary
2. all the assignments from that intermediate dictionary

If we allowed dependent assignment, we would interleave those two, compute and assign for each key - value pair. There would still be a single

[2017-12-15 23:24] jreback opened #18801 "DEPR: is_copy"
this has always been an internal attribute. We can simply replace by ``._is_copy`` and provide a deprecation warning on the property.

[2017-12-15 23:24] jreback commented on #18799
you should certainly not be using this. This was always supposed to be an internal attribute, I am going to deprecate it.

you can avoid very easily by just doing a copy on filtered results. or using assign rather than indexing.

e.g.

[code]
is the pattern

or you can just turn the warning completely off in a context manager.

closing in favor of a deprecation issue #18801

[2017-12-15 23:24] #18799 closed

[2017-12-15 23:56] #18691 closed

[2017-12-15 23:58] jrbrodie77 commented on #13217
I ran into this same bug today in ver. 0.21

a = pd.DataFrame([np.zeros(3), np.ones(3), 2*np.ones(3)], columns="A B C".split())
a.groupby(['A', 'B'], as_index=False).apply(np.mean)

If I get a chance in the next couple of weeks I may try to find/fix it.

[2017-12-16 00:24] amueller commented on #18799
Thank you for your reply, but I don't follow.
The result is already a copy, right?
Why do I need to copy it again?
I can't turn it off in a context manager since I hand the result to the
user, and the warning is raised in the user code.

Sent from phone. Please excuse spelling and brevity.

On Dec 15, 2017 18:24, "Jeff Reback" <notifications@github.com> wrote:

[2017-12-16 00:26] amueller commented on #18799
I can also not assign, as this is again not in my control. I'm doing a
masking operation, and I want to return the masked df over to the user.

[2017-12-16 01:02] soxofaan commented on #18768
Ok, this was quite a rabbit hole to debug, let's see if I can manage to write down what I found.

Main reason that the lines in graph with primary and secondary axis do not properly cover the same x range, is the difference in conversion between:
- `pandas.plotting._converter.DatetimeConverter` converts date to number of days since 0001-01-01 plus one. Example: 2017-12-16 -> 736679
- `pandas.plott

[2017-12-16 02:32] bobhaffner commented on #18755
Adding to this.  Looks like `plt.scatter(df['a'], df['b'])` won't work with older versions of matplotlib as I get `ValueError: could not convert string to float: 'C'` with version '2.0.2'

[2017-12-16 02:40] jbrockmendel opened #18802 "overflow checks for Series operations"
Spending some time on #12534 the only fixes I'm seeing are pretty invasive.  We need to use `checked_add_with_arr` to correctly catch overflows, and for that we need `isna(...)` masks.  But the wrapping/redirection that goes on within `ops._arith_method_SERIES` make that problematic.  In particular the scope in which the masks are defined (for datetime/timedelta dtypes) is different from the scope

[2017-12-16 03:02] bobhaffner commented on #18755
and @naught101 yeah, 'a' is getting dropped [here](https://github.com/pandas-dev/pandas/blob/c28b6249471ffddfed51d62437a65ca97766fb7f/pandas/plotting/_core.py#L340)

[2017-12-16 03:17] jbrockmendel opened #18803 "Typo checks in core.ops"
https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L490

[code]

Is that `hasattr(ovalues, 'tzinfo')` supposed to be `ovalues.tzinfo is not None`?

[2017-12-16 08:30] datajanko commented on #18797
Sorry for not being precise enough:

my original idea was to wrap a for loop around
https://github.com/pandas-dev/pandas/blob/c28b6249471ffddfed51d62437a65ca97766fb7f/pandas/core/frame.py#L2700-L2715
this would result in only a copy for each "list entry" of my suggestion.

Anyway, the "do all calculations first" section, will not be "valid" anymore for python 3.6, right?
for python 3.6, this could

[2017-12-16 10:43] #18770 closed

[2017-12-16 10:44] jorisvandenbossche commented on #18770
@tdpetrou This issue is closed by the PR, but I suppose the same will occur in different files.

[2017-12-16 11:46] TomAugspurger commented on #18797
Thanks for the clarification, sorry I didn't get that sooner.

[2017-12-16 17:45] jbrockmendel opened #18807 "DatetimeIndex.to_series() loses timezone"
[code]

[2017-12-16 17:46] sronen71 commented on #13966
pandas 0.21.0
This works ok as above:
df.groupby('A').rolling('4s', on='B').C.mean()
But this doesn't:
df.groupby('A').rolling('4s', on='B',closed='left').C.mean()
Gives error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/pandas/core/window.py", line 176, in __getattr__
    return self[attr]
  File "/usr/local/lib/python2.

[2017-12-16 19:39] jreback commented on #18807
And the default for keep_tz is False so this is correct

[2017-12-16 19:39] #18807 closed

[2017-12-16 22:32] bobhaffner commented on #18713
Hi @jreback, I was looking at this today.  I believe the line throwing the error is https://github.com/pandas-dev/pandas/blob/52838e609c1b2a495069964dea862a39dd067b2b/pandas/core/reshape/pivot.py#L41

I would propose something like the following and would be happy to submit a PR.  LMK

[code]

[2017-12-16 22:51] WillAyd commented on #18793
If we wanted to do option 2 I don't think it would be all that difficult. I think we would just need to update ``parse_timedelta_string`` to detect AM/PM and add ``1000000000L * 3600 * 12`` to the ``result`` in case of the latter. The only exception would be if the hour is 12 - then we'd remove that amount from the result if the AM is detected and leave PM untouched.

Happy to give it a go in a PR

[2017-12-16 22:51] jbrockmendel opened #18808 "Series.__sub__(NaT) vs DatetimeIndex.__sub__(NaT)"
One treats NaT result as datetime, other treats it as timedelta.

[code]

[2017-12-16 23:31] jreback commented on #18713
sure

[2017-12-16 23:32] jreback commented on #18713
you can also use

getattr(func, ‘__name__’, func)

[2017-12-17 00:03] bobhaffner commented on #18713
Good deal, I like that better.

[2017-12-17 02:55] amir20 commented on #18530
@jorisvandenbossche if I understand correctly, version `0.21.1` should have fixed the bug where `pandas` installed` before `numpy` would result in `ImportError: numpy.core.multiarray failed to import`.

However, I still get the same error, using Docker:

[code]

If I do `pip install numpy` first then it does work. Is that the only work around? I am new to pandas so perhaps I am doing something wro

[2017-12-17 07:38] jorisvandenbossche commented on #18530
@amir20 You are downloading the source files as tar.gz, not wheels. This issue was about a problem with how the wheels were built, but if you are building from source yourself, you still need to ensure that numpy is installed first.

[2017-12-17 12:25] TomAugspurger commented on #18530
And you're getting source files since you're on alpine linux. The wheels on
PyPI are manylinux wheels, which
are not compatible with alpine: https://github.com/pypa/manylinux/issues/37

On Sun, Dec 17, 2017 at 1:38 AM, Joris Van den Bossche <
notifications@github.com> wrote:

[2017-12-17 14:54] amir20 commented on #18530
Oh that makes a lot more sense. 👍🏻

[2017-12-17 16:11] hardianlawi opened #18813 "Ipykernel QXcbConnection: Could not connect to display"
[code]
#### Problem description

I was using `ipython` to run the codes above, and when I pressed `tab` after `df.` for auto-completion, it disconnected the `ipython` and showed the `QXcbConnection: Could not connect to display` error.

I am using `Python 3.6.3 :: Anaconda, Inc.`, pandas `0.20.3`, ipykernel `4.6.1`, and ipython `6.1.0`

Any advise?

[2017-12-17 21:08] datajanko commented on #18797
I'm also sorry, for not explaining my thought process better. You couldn't know what I know/knew about this issues, specifically since my contribution track record is almost non existing ;)

So, I just rearranged some of the tests and also some of the code.
It works fine if the arguments are callables. However, the shortened notation we used (df.assign(a=1, b=2)) can turn out to be df.assign(b=df.

[2017-12-17 21:34] gfyoung commented on #18802
@jbrockmendel : That's an interesting suggestion.  Since this is pretty invasive, I'm not sure if we would actually tackle this for some time.  Might be good for `1.0` though.

[2017-12-17 21:35] gfyoung commented on #18803
I can't tell ATM, so change it and find out :smile:

[2017-12-17 21:36] gfyoung commented on #18808
Hmmm...that does seem a little inconsistent.  Have a look as to why that's happening.

[2017-12-17 21:37] gfyoung commented on #18813
My first guess is that this is a an `ipython` issue.  Did you try auto-completion anywhere else outside of `pandas`?

[2017-12-17 21:46] datajanko commented on #14207
Obviously, I am not good at looking through existing issues. Please accept my aplogogies.

As of https://github.com/pandas-dev/pandas/issues/18797 I am also interested in letting assign be able to accept dependent kwargs. I just performed the (in my opinion) naive/direct implementation (after adapting the test cases accordingly) and it works fine - for callables where references to the "depenendet

[2017-12-18 02:25] hardianlawi commented on #18813
Yes, I tried it some other modules and objects, but everything else works just fine except for the dataframe.

Even the `pd.` auto-completion works fine.

[2017-12-18 02:31] gfyoung commented on #18813
I wonder if it has to deal with how many elements are in the `dir` of the object.  Using `0.21.1`, I get 179 elements in the `dir` of `pd` and 454 elements in the `dir` of `df`.

[2017-12-18 03:33] sinowood opened #18816 "BUG: NaT value comparation always result in True within DataFrame but not Series"
#### Code Sample, a copy-pastable example

[code]
#### Problem description
When comparing a dataframe of dtype Timestamp to a scalar value (Timestamp or datetime), the result to NaT is always True no matter what operator is used(==, <, >, ...).

But it is not the case when compares a series of Timestamps.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
--

[2017-12-18 06:29] toobaz opened #18818 "No automatic type casting in complete indexing of a large MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Related to #18519 - this is an inherent limit of the current design of the engine for large ``MultiIndex``es, and an [improved](https://github.com/pandas-dev/pandas/issues/18519#issuecomment-347323053) ``MultiIndexEngine`` should solve this too.

#### Expected Output

[code]

#### Output of ``pd.show_versions(

[2017-12-18 10:20] jorisvandenbossche commented on #18801
`is_copy` is used in the most popular google hits about SettingWithCopyWarning, eg https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas and https://www.dataquest.io/blog/settingwithcopywarning/
(actually in the first you are using it yourself in an answer :-))

What is the alternative for power users in library code if they want to avoid an extra unnecessa

[2017-12-18 10:21] jorisvandenbossche commented on #18799
@amueller Could you give a small illustrative example?

Discussion about deprecation itself is in https://github.com/pandas-dev/pandas/issues/18801

[2017-12-18 11:49] TomAugspurger commented on #14207
Yes, that sounds right. You'll need to use a callable to refer to newly created columns in the `.assign`.

[2017-12-18 12:01] jreback commented on #18799
Canoncially, this is very easy to work with, simply ``.copy()`` after a filter assignment. Agreed that this is not the most intuitive things, but there are many edge cases; copy-on-write fixes this but won't be available in pandas1.

[code]

use ``.copy()`` (or ``.assign()``)
[code]

[2017-12-18 13:00] hardianlawi commented on #18813
I just updated my `pandas` and checked the `dir`.

Below are the results:
[code]

[2017-12-18 13:21] toobaz opened #18819 "len-1 scalar is accepted as valid input for len >1 Series"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This is undocumented, conceptually wrong, works only because of an implementation glitch, and is used in 3 tests only  - I think - by mistake.

Already discussed (and potentially fixed) inside #18626 (where @jorisvandenbossche suggested a proper deprecation cycle), but @jreback [suggested](https://github.com/p

[2017-12-18 13:42] jreback commented on #18813
try 0.21.1

you are experiencing an unconnected xserver which was not handled gracefully

[2017-12-18 13:53] hardianlawi commented on #18813
@jreback Yes, I have tried it. It is still not working

[2017-12-18 14:09] jreback commented on #18816
duplicate of #15697

[2017-12-18 14:09] #18816 closed

[2017-12-18 14:11] jreback commented on #18819
yep, this should raise

[2017-12-18 14:14] jreback commented on #18808
I would argue that the series is wrong here.

[2017-12-18 14:16] jreback commented on #18803
do you have an example of something that hits this? I would guess that we have *other* lines of code which work-around (so this is a no-op).

[2017-12-18 15:23] jbrockmendel commented on #18803
`pd.date_range('2016-01-01', periods=3).to_series() - pd.Timestamp.now()` hits it.

[2017-12-18 15:25] jbrockmendel commented on #18808
So I can change that and consider it a bugfix as opposed to a Breaking Change?

[2017-12-18 15:50] #18683 closed

[2017-12-18 16:03] amueller commented on #18799
This was about ``train_test_split``.

But basically the pattern is:
[code]
This is of course a contrived example, but I think the same applies whenever you have a library method that returns a sliced dataframe. If ``copy`` is the canonical solution, that's fine.
[code]
should do it. It just seems conceptually odd. If I understand the warning correctly, this means ``df[df.A >= 0]`` is copied *twice

[2017-12-18 16:17] WillAyd opened #18821 "TST: Coding Error in test_disallowed_nodes"
See permalink below. I believe the ``engine`` parameter should be referencing the ``_engines`` global and not ``_parsers``

https://github.com/pandas-dev/pandas/blob/7a0ee19e95e29042c3373a1d912d2db27108c828/pandas/tests/computation/test_eval.py#L1803

[2017-12-18 16:58] WillAyd commented on #18190
@jreback as far as the ``max_version`` argument goes in the current testing module's ``skip_if_no_package`` function I only since one usage in the following location:

https://github.com/pandas-dev/pandas/blob/7a0ee19e95e29042c3373a1d912d2db27108c828/pandas/tests/sparse/test_frame.py#L1234

I believe that was introduced by 56b5a30937e79335029b1727a80f109b7eb0840a and I looked through the related c

[2017-12-18 17:16] jreback commented on #18808
no its a breaking change, but you can still change it

[2017-12-18 18:17] jbrockmendel opened #18824 "DataFrame vs Series vs Index arithmetic Roundup"
Categorical:
- [x] #19513 Comparisons between Categorical, CategoricalIndex, and Series[category] are inconsistent
- [x] #8995 API: comparisons of categorical data and (scalar or list-like)

Series-specific:
- [x] #19252 Series has no `__rdivmod__` (closed by #23271)
- [x] #19322 Series division by zero does not get filled for some dtypes
- [x] #13843 BUG/API Series/Index integer floordiv/mod inco

[2017-12-18 18:37] #18314 closed

[2017-12-18 21:21] hexgnu commented on #18773
Hey everybody, I submitted a pull request fixing this the best I can.

Unfortunately it seems that Cython doesn't handle this super well so the running solution is to check whether something is writeable or not and then to fall back onto ndarray if needed.

[2017-12-18 21:42] datajanko commented on #14207
before issuing pull request, I obviously need to provide an entry in the what's new file. I assume other api changes is the right place, correct? Sorry for asking again, but this is may first coding contribution for an open source project.

[2017-12-18 22:01] jbrockmendel commented on #5030
Closeable?

[2017-12-18 22:09] ezzieyguywuf opened #18828 "Using DataFrame.rename changes the type of an index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The issue is that, while df has an index type of `RangeIndex` (as expected), df2 has an index type of `Index` in which the original integers have been converted to strings. The same also applies for `MultiIndex`

#### Expected Output

I expect the new dataframe, in which I only renamed a few columns, to have th

[2017-12-18 22:56] jreback commented on #5030
yep

[2017-12-18 22:56] #5030 closed

[2017-12-18 23:26] smcateer commented on #18366
I actually really like the pattern suggested by @tdpetrou (using apply with a function that returns a Series) - probably even better than the dict of dicts.

If the function returns ` pd.Series(data, index=data.keys())` are we guaranteed to get the indices in the right order? (Just thinking about how best to implement the pattern in my code - at the risk of drifting off-topic).

[2017-12-19 00:39] rspadim opened #18830 "How to read a continuous file that append data each second to end of file"
Hi guys, I have a program that open a file and start to write a stream data, in other words it's always writing sensor data (temperature), for example:

2017.12.18 22:37:54;37
2017.12.18 22:37:55;37
2017.12.18 22:37:56;37
2017.12.18 22:37:57;37

the problem is:
file is changing each second, and file can have more than 200MB, i want to read only the last data (i know how many lines was read the las

[2017-12-19 00:42] chris-b1 commented on #14207
Yes, I would suggest there with an example. Always feel free to put up a
work-in-progress PR for feedback.

On Dec 18, 2017 3:43 PM, "Jan Koch" <notifications@github.com> wrote:

[2017-12-19 01:27] hkhatod commented on #8517
I have a long text in one of the dataframe columns I need to be able to split the text 2 or more columns depending on the length of that cell

[2017-12-19 01:59] jreback commented on #18830
you are likely to get more response from StackOverflow

[2017-12-19 01:59] #18830 closed

[2017-12-19 04:58] PraveerNarwelkar commented on #17107
Hello, I'm facing the above mentioned issue of "sheet_name" returning the first sheet always, with pandas 0.21.0

[2017-12-19 06:50] scotthuang1989 opened #18837 "DataFrame astype may not work properly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

no matter what I give copy True or False. Dtype of \<column a\> will not be converted.
the output is:

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.4.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
proces

[2017-12-19 07:15] jschendel commented on #18837
`astype` is not an inplace operation so you'll need to reassign, i.e. `df = df.astype({"a": str})`.  Doing so produces the expected output:

[code]

[2017-12-19 07:21] scotthuang1989 commented on #18837
yes.  I now use a reassign in my program. But what is the function of this parameter?

[2017-12-19 08:26] lafrech commented on #12236
For the record, this is what I do. It is probably obvious, but just in case it could help anyone, here it is.

[code]

Then

[code]

If several files are used, a dict of locks can be used to avoid locking the whole application. It can be a `defaultdict` with a new `Lock` as default value. The key should be the absolute filepath with no symlink, to be sure a file can't be accessed with two differen

[2017-12-19 10:57] #18002 closed

[2017-12-19 11:09] #15183 closed

[2017-12-19 11:12] #18798 closed

[2017-12-19 11:31] jreback commented on #18190
@WillAyd I updated the top list, but I think I missed a couple.

[2017-12-19 11:45] #18828 closed

[2017-12-19 11:46] #18837 closed

[2017-12-19 12:49] jreback opened #18839 "REVERT: fixing of conda to 4.3.30"
https://github.com/pandas-dev/pandas/pull/18838

4.3.31 fails [here](https://travis-ci.org/pandas-dev/pandas/builds/318573822)
4.3.30 [here](https://travis-ci.org/pandas-dev/pandas/builds/318600394)

[2017-12-19 12:58] pganssle commented on #18793
I would think that it's inadvisable to include `AM` and `PM` in any sort of `Timedelta` parser. I would think parsing what is obviously a time to `Timedelta` is just the wrong behavior. I would probably throw an error on AM/PM and instead use @chris-b1's solution. The `today` thing can be made more explicit by specifying *any* default date (unless the "today" behavior is 100% known to be stable an

[2017-12-19 13:25] toobaz opened #18840 "asv tests for DataFrame constructor"
After #18769 , the asv coverage of different possibilities of initialization values for ``Series()`` should be pretty good (see ``asv_bench/benchmarks/ctors.py`` ).

The coverage for ``DataFrame`` instead (see ``asv_bench/benchmarks/frame_ctor.py``) is more limited and should be expanded.

[2017-12-19 14:08] jreback commented on #18839
closed by #18841

was an issue in the travis install script itself

[2017-12-19 14:08] #18839 closed

[2017-12-19 14:17] MaxBer opened #18842 "OverflowError for string of large numbers (int64) while reading json"
[code]

Reading json containing stringified numbers larger than int64 causes OverflowError in pandas 0.21.1. Appears to be working fine in 0.21.0

Max

[2017-12-19 15:39] achapkowski opened #18843 "Series not honoring class __repr__ or __str__"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

For a given series with a custom object, I want to control the content when displayed via print or displaying on ipython notebooks.  The object ```foo``` is a simple class that have the ```__str__``` and ```__repr__``` overwritten, but still displays the object's dictionary content, not the view I want to show

[2017-12-19 15:57] bgreen-litl opened #18845 "Overzealous ParserWarning when using dialect param on read_csv"
#### Code Sample

[code]

#### Problem description

I believe that this warning was added to handle conflicts between any _dialect-provided_ csv parsing params and the equivalent params passed individually to `read_csv()`.  However, I don't think it is working as intended.  Notice, in my example above I _only_ specify these values by way of the dialect, yet I nonetheless receive these warnings:

[2017-12-19 16:06] jbrockmendel opened #18846 "BUG: Timedelta.__floordiv__ - need historical context"
[code]

`Timedelta.__floordiv__` and `__rfloordiv__` begin with:

[code]

I _think_ this is a historical artifact from early numpy versions, because in core.ops there is a comment:
[code]

Before I try to fix `Timedelta.__floordiv__` can someone knowledgeable weight in on why all dtypes are being converted to i8?

[2017-12-19 16:06] TomAugspurger commented on #18843
This is probably the same as https://github.com/pandas-dev/pandas/issues/17695 (you inherit from dict, so your objects are iterable). It's difficult for pandas to support formatting arbitrary objects.

Your simple example could be solved by not subclassing dict, and just storing your `iterable` on an internal `._data` attribute. But that likely isn't a solution for your real problem.

[2017-12-19 16:12] achapkowski commented on #18843
@TomAugspurger not subclassing from dict is not an option since the other classes are established.  Is there a way to override the print function (not optimal) or set something on the class to say hey use the ```__repr__```

[2017-12-19 16:22] jbrockmendel commented on #18672
@gfyoung There are a whole bunch of (offset+timezone)-related issues that I need input on before I can fix (many of them found when running tests with hypothesis).  Is there someone I can ask about these other than jreback?  I bug him enough as it is.

[2017-12-19 16:38] TomAugspurger commented on #18843
I don't believe so.

On Tue, Dec 19, 2017 at 10:12 AM, Andrew <notifications@github.com> wrote:

[2017-12-19 16:48] WillAyd commented on #18842
It looks like previous versions would automatically convert that large number to a float, but you're getting an overflow error in 0.21.1 because it is attempting to fit that number into an int.

FWIW you can work around this by explicitly specifying the dtype:

    pd.read_json(json.dumps(json_data), typ='series', dtype={"articleId": np.float64})

[2017-12-19 17:26] jbrockmendel opened #18850 "Series[datetime64] - PeriodIndex vs DatetimeIndex - PeriodIndex"
`PeriodIndex` w/ `Series` is allowed, `PeriodIndex` w/ `DatetimeIndex` is not.  Is this intentional?  If not, which should be made to match the other?

[code]

[2017-12-19 17:44] TomAugspurger commented on #18678
Thoughts on this? Do we want `.resample(higher_freq).sum()` to introduce 0s or NaNs?

[2017-12-19 17:47] jreback commented on #18678
i am -1 i’m changing anything groupby / resample

sum of NaN is NaN; anything else is completely confusing

[2017-12-19 18:14] jbrockmendel commented on #18808
Got a fix for this about ready.  Two questions.

One: there are a couple of tests in series.test_operators `test_datetime64_ops_nat` that specifically check for the return type to be datetime64.  Sure the behavior isn't intentional?

Two: also in `test_datetime64_ops_nat` are tests for `-pd.NaT + Series[datetime64]`.  Should that also be changed to return `Series[timedelta64]`?

[2017-12-19 18:40] shoyer commented on #18678
A sum of empty/all-NaN values in resample should be no different than a sum of empty/all-NaN values elsewhere. So that means if we make sum of empty/all-NaN be 0, then it should be 0 for resample, too.

The fact that it's not entirely clear whether resampling is over all-NaN or empty values is another indication that it is important to keep the empty sum and all-NaN sum consistent.

It would be ex

[2017-12-19 18:46] #18270 closed

[2017-12-19 18:49] gfyoung commented on #18802
@jbrockmendel : Oh, don't close this! :smile:  Keep it open.  This is a very valid issue to raise.  It just may not be addressed for some time.

[2017-12-19 19:06] jreback commented on #18678
well sum of all-NaN should be NaN as discussed many times
sure sum of empty can be 0

[2017-12-19 19:16] TomAugspurger commented on #18678
I think the majority opinion in https://mail.python.org/pipermail/pandas-dev/2017-November/000657.html is that the sum of all-NaN should be 0.

[2017-12-19 19:30] gfyoung commented on #18802
Ah, gotcha.  Just for future reference, add a comment that you're doing this so that we're all on the same page. :smile:

[2017-12-19 19:30] #18802 closed