[2018-10-22 11:20] jorisvandenbossche commented on #23077
@TomAugspurger is it slower compared to the current implementation for non-consolidatable blocks? Or how does it currently work for them?

[2018-10-22 11:26] llawall commented on #22708
I've pushed a test for this that shows the changed behaviour making from_records consistent with the DataFrame constructor when only a single dictionary is passed as input.

[2018-10-22 12:51] AntoineD opened #23273 "pandas.MultiIndex.set_levels does not accept generator"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Raises
[code]
Workaround by wrapping map with list.

#### Expected Output
MultiIndex(levels=[[3], [1, 2]],
           labels=[[0, 0], [0, 1]])

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.18.14-2

[2018-10-22 14:01] anjsudh opened #23274 "to_sql is very slow for sql server with sqlalchemy"
df.to_sql is very slow, and takes hours, when connecting to sql server using sql alchemy connection
https://github.com/mkleehammer/pyodbc/wiki/Features-beyond-the-DB-API#fast_executemany

Performance is much faster after using fast_executemany
@event.listens_for(engine_local, 'before_cursor_execute')
def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
    if e

[2018-10-22 14:09] TomAugspurger commented on #23272
Looks like you're using pypy? That's not tested / officially supported.

Are you able to compile pandas from source in a CPython environment?

[2018-10-22 15:17] #23269 closed

[2018-10-22 15:17] #23268 closed

[2018-10-22 15:17] #23267 closed

[2018-10-22 15:19] Masterxilo commented on #9438
This still happens for me. The worst part is that if I use the workaround using `open`, read_csv does not parse the utf-8 in the file correctly anymore. Any help?

[2018-10-22 15:30] ebauch commented on #21233
yeah - not quite clear why labels are ignored with specified bins...

[2018-10-22 15:34] eamag opened #23276 "Error "buffer source array is read-only" when using unique() on df loaded with feather"
#### Code Sample, a copy-pastable example if possible

[code]

[2018-10-22 17:10] Liam3851 commented on #23251
@mroeschke As a user I tend to agree with Sven: if I'm dropping duplicates and happy with that, I use the `drop_duplicates` function. If I'm using `duplicated` directly, it's almost always that I'm in a data-cleaning/debugging exercise and the point is to use `duplicated` in order to find (and keep only!) the actual duplicate entries, e.g.

[code]
and I have always found the use of `keep=False` in

[2018-10-22 17:29] srinivasreddy commented on #23270
I will take it.

[2018-10-22 17:35] mroeschke commented on #23270
Sorry @srinivasreddy I just created a PR with a patch, but feel free to take up any other issue!

[2018-10-22 18:36] ericstarr opened #23282 ".min() on a series of NaTs returns nan, while .max() returns NaT"
#### Code Sample

[code]
#### Problem description

Calling `.min()` on an series of `NaT` returns `nan`. I would expect this to return `NaT` to as to keep the type the same. Also, whether it returns `nan` or `NaT`, I would expect it to be consistent with `.max()`. I'm on version `0.22`, not `0.23`, so maybe it was fixed in the latest version, but I didn't see an issue addressing it.

#### Expected

[2018-10-22 18:39] ispmarin opened #23283 "Write partitioned Parquet file using to_parquet"
Hi,

I'm trying to write a partitioned Parquet file using the `to_parquet` function:

[code]
#### Problem description
It was my understanding that the `to_parquet` method pass the kwargs to Pyarrow and save a partitioned table.

#### Expected Output
Partitioned Parquet file saved.
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.fin

[2018-10-22 18:45] mroeschke commented on #23282
Thanks for the report. I am seeing this behavior on master too. Also looks similar to https://github.com/pandas-dev/pandas/issues/10390.

Investigations and PRs welcome!

[2018-10-22 19:20] aditya0811 commented on #23236
I think we can conclude that as df.iat is capable of creating and setting values,it will create index for 0 which is not present as column index(a,b).
We cannot access those values using iat if column index are char type.

[2018-10-22 19:38] jorisvandenbossche commented on #23251
@svenharris So it is still not fully clear to me from your explanation here, but it seems you want to add `keep='all'` as a more meaningful alias for `keep=False` (which seems to be confirmed by looking at your PR), is that correct?

So I agree that the `keep=False` is a confusing keyword (and also somewhat inconsistent that the argument mixes string values with a bool value), but in the line of h

[2018-10-22 19:52] TomAugspurger commented on #23077
DataFrame.stack() has a regression from 0.23.4

[code]

previously that returned an object-dtype Series. Ideally, it would be a categorical.

[2018-10-22 19:54] TomAugspurger commented on #23077
@jorisvandenbossche I have a new implementation that lowers the overhead for EAs. Will post the timings in the PR (once I've written them).

It'll basically be identical to previously, but

1. ExtensionArrays are no longer cast to ndarrays (good)
2. An extra `ExtensionArray.take` per column (bad)

[2018-10-22 20:33] mroeschke commented on #23236
`iat` indexes by integer position and not label, so it shouldn't matter if `0` is not in the columns; it should modify the value in row `0` column `A`

IIRC `iat` and `at` doesn't perform as many data validation checks, so this may be a "fallback" assignment and broadcasting.

[2018-10-22 20:44] svenharris commented on #23251
@jorisvandenbossche Yes, sorry I don't think I've articulated this very well, let my try to clarify what I was originally thinking with my pull request. Worth saying this discussion has changed my opinion on what's required slightly.

Thinking behind the original pull request:
- For the `drop_duplicates` method I feel like `keep='first','last',False` do an OK job at explaining what's going on.

-

[2018-10-22 20:50] TomAugspurger commented on #23283
pandas uses `pyarrow.parquet.write_table`. It seems like multi-part Datasets are written using `pyarrow.parquet.write_to_dataset`.

I'm not sure whether it makes sense for us to (optionally) use `write_to_dataset`, or whether pyarrow should support `partition_cols` in `write_table`.

cc @wesm if you have thoughts here.

[2018-10-22 20:51] TomAugspurger commented on #23276
What version of pandas? This works for me on master (thats' why we ask you to fill out the issue template).

[2018-10-22 20:54] TomAugspurger commented on #23274
Duplicate of https://github.com/pandas-dev/pandas/issues/8953 I believe. https://github.com/pandas-dev/pandas/pull/21401 will fix this.

[2018-10-22 20:54] #23274 closed

[2018-10-22 20:57] TomAugspurger commented on #23273
It's documented to accept a sequence, which needs to implement `__getitem__`. We would probably take a PR that turns the iterable into a list.

[2018-10-22 20:58] xhochy commented on #23276
This is fixed by https://github.com/pandas-dev/pandas/pull/21688 which is not in a released version yet.

[2018-10-22 21:02] xhochy commented on #23283
In the case of `partition_cols`, one should use ‘write_to_dataset`. `write_table` is much more simple/low level function.

[2018-10-22 21:04] TomAugspurger commented on #23242
You can with

[code]

CategoricalDtype.categories is just an index. Would you want to accept a `dtype` parameter in `CategoricalDtype` that's passed through?

I think that's the root issue. `.astype('category')` is going to use inference, which can fail. If you want full control you'll have to be explicit.

[2018-10-22 21:05] TomAugspurger commented on #23276
Great, thanks @xhochy.

[2018-10-22 21:05] #23276 closed

[2018-10-22 21:07] TomAugspurger commented on #23283
So, pandas could look for kwargs like `partition_cols` (any others?) and if that's detected use `write_to_dataset(table, ...)`. That seems fine to me.

[2018-10-22 21:45] Dr-Irv commented on #23242
Yes, I think that would help.

The other thing that would help is if `union_categoricals` would accept the union of two categories where the `dtype` was different, and one of the categories was empty.  Then the result could have the `dtype` of the category that had items in it.  The reason I need this is that I'm reading a large file in chunks, and I know which columns are category columns, and wa

[2018-10-22 22:52] WillAyd commented on #23055
@pambot I saw some questions come through via email but don't think they made it to the GitHub UI (believe they were having some issues when you posted).

If you can repost here would be helpful. I know one of your questions was around how a DTI should behave when an `end` argument is not provided, though I didn't really understand what distinction you were trying to make. If you could repost woul

[2018-10-23 01:00] alexbeaulieu commented on #11389
I agree! How should we request to pull this into the main repository? I also need this feature.

[2018-10-23 01:03] jreback commented on #23055
you can can use isna on a scalar value to check

[2018-10-23 02:35] jreback commented on #18474
duplicate of #19617

[2018-10-23 02:35] #18474 closed

[2018-10-23 02:40] #19093 closed

[2018-10-23 02:41] sinhrks commented on #23253
Looks the same as #14070.

I *think* there was an issue regarding Period definition. Current doc says Period is span, but not clear whether `pd.Period('2000-01-01 00:01', freq='2T')` is invalid or 2T period starting from '2000-01-01 00:01'.

[2018-10-23 02:41] jreback commented on #18532
@mroeschke would you mind rerunning and changing the top of the PR here.

[2018-10-23 02:45] jreback opened #23286 "TST: revert xfails on gbq & feather"
https://github.com/pandas-dev/pandas/pull/23281

[2018-10-23 02:49] jreback commented on #22411
ok!

[2018-10-23 02:56] #19252 closed

[2018-10-23 02:57] jreback opened #23287 "TST: rdivmod on EA Arrays"
xref #23271

I think we need to add a test case for rdivmod as its now defined on Series.

[2018-10-23 03:04] #23204 closed

[2018-10-23 03:06] #23224 closed

[2018-10-23 03:07] #23075 closed

[2018-10-23 03:09] #23270 closed

[2018-10-23 03:10] #23009 closed

[2018-10-23 03:51] WillAyd commented on #23272
As mentioned we don't make any guarantees about PyPy. If the same error occurs when trying to build from source using CPython please reopen, but otherwise may have better luck with the PyPy issue tracker

[2018-10-23 03:51] #23272 closed

[2018-10-23 05:42] h-vetinari commented on #23061
@jreback this issue has been closed by #23065.

[2018-10-23 05:52] #23061 closed

[2018-10-23 05:59] jorisvandenbossche commented on #23287
There are at least already tests for Series with scalar (but not Series/Series or Series/array), it seems:

https://github.com/pandas-dev/pandas/blob/8d8955e54bd5fc8fae070dd862f104dc17bee0b7/pandas/tests/extension/base/ops.py#L89-L96

[2018-10-23 09:34] llawall commented on #22025
The case of accepting dict in from_records is also currently broken in my opinion. I filed #22708 (PR: #22687) to suggest making the ordering of columns consistent with the constructor taking a similar dict argument.

If from_records continues to accept dict then I think it should at least be made consistent though on the whole I am +1 with the sentiment for a cleaner API by removing dict support

[2018-10-23 09:50] kuraga commented on #21353
Trying to patch is cool but fear that https://github.com/pandas-dev/pandas/issues/2659#issuecomment-15039241...

[2018-10-23 11:57] haimivan opened #23295 "How to use rolling_std with Pandas 0.23.4?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As written in [http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#whatsnew-0180-enhancements](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#whatsnew-0180-enhancements), the syntax for rolling_std might have changed.

With neither the old nor the new syntax I can calculate the `rolling_std` fu

[2018-10-23 12:01] TomAugspurger commented on #23295
[code]

[2018-10-23 12:01] #23295 closed

[2018-10-23 12:19] TomAugspurger opened #23296 "BUG: Categorical.take with fill_value"
We need to translate the user-provided `fill_value` to the `code` for that category before taking.

[code]

[code]

[2018-10-23 12:22] bmoscon commented on #23253
I was going by this part of the docs:

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#combining-aliases

the combined offsets '2H20min' look like I'd expect, periods that are spaced 2 hours and 20 minutes apart.

[2018-10-23 13:29] bmoscon commented on #23253
as best I can tell the issue is in `indexes/period.py`

[code]

`_gfc` returns the correct frequency code, `8000`, but the `mult`, `5`, is not used when constructing the periodarr in `_libs/tslibs/period.pyx`. The resulting period array thus buckets the original datetimes incorrectly into minute buckets.

[2018-10-23 13:29] TomAugspurger commented on #23296
API discussion, which we've maybe had before, should we all `fill_value` that's outside of the original categories? i.e. should this be

[code]

or should it raise an error?

Right now, I think we should allow it, but I could see either way.

cc @jorisvandenbossche @jankatins.

[2018-10-23 13:34] jorisvandenbossche commented on #23296
I would think that `take` should not alter the dtype, so I would not allow it (meaning, raising a TypeError).

[2018-10-23 14:53] TomAugspurger commented on #23242
I'd prefer to avoid special casing empty / all-NaN columns.

I think adding a `dtype` keyword to the CategoricalDtype constructor would
be fine, with a default of float for backwards compatibility.

On Mon, Oct 22, 2018 at 4:45 PM Dr. Irv <notifications@github.com> wrote:

[2018-10-23 15:05] PawarKishori opened #23299 "Giving Userwarning for labelling columns in 'name' attribute of read_csv"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The input csv file in my case is actually a tab separated file.
I am getting a UserWarning after following the syntax provided in the documentation. This is indicatinf me, that I will get error in future. What will be that?

#### Expected Output

No warnings should occur

<details>

/lib/python3.6/site-packages/

[2018-10-23 15:07] TomAugspurger opened #23300 "Add base test for ExtensionArray.__setitem__"
The tests in https://github.com/pandas-dev/pandas/blob/master/pandas/tests/extension/base/setitem.py seem to mainly operate on ExtensionArrays that are boxed in a Series.

It would be good to directly test ExtensionArray.__setitem__.

Some of these tests could be parametrized with something like

[code]

others may have to be written separately.

[2018-10-23 15:53] Dr-Irv commented on #23242
I think the default would have to be `infer`, since if you pass no NaNs, then the dtype is inferred from the type of the passed categories.  Then if all the values are NaN, it defaults to float.

[2018-10-23 16:45] TomAugspurger commented on #23125
Do we a deprecation cycle for `SparseArray.astype(dtype)` being dense for non SparseDtype-dtypes?

If so, then we'll have to push special logic in `Block.astype` for `Block[sparse].astype(dtype)`

Right now, I'm tempted to just break. I'm kind of over special casing sparse :)

[2018-10-23 16:52] davidchall opened #23301 "Add option for inline CSS styling"
#### Code Sample, a copy-pastable example if possible

Taken from the [pandas docs](https://pandas.pydata.org/pandas-docs/stable/style.html):
[code]
#### Problem description

In some circumstances (e.g. GMail), only inline CSS styling is supported. In these situations, it would be helpful to have an option to use inline CSS styling instead.

#### Expected Output
[code]

[2018-10-23 17:20] jimmywan commented on #23236
I do not agree with @aditya0811 :

As explained by @mroeschke here:

[2018-10-23 18:17] burcakotlu commented on #14601
I'm trying to store dataframes in a store.
In the first dataframe, I have a 'chrNumber' column of 1 in that column.
In the further dataframes, I have a 'chrNumber' column of 10,11,12,... and so on  in that column.
Although I have set min_itemsize={'chrNumber':2} in  the store.append() command
But, I still get the  ValueError:

------------------------------------------------------------------
Valu

[2018-10-23 18:22] jbrockmendel commented on #4615
In master (and 0.23.3) neither of the operations in the OP work; both raise with "Lengths must match to compare".

Is this something we want to support?

[2018-10-23 18:58] jbrockmendel commented on #20876
Closed by #22163.

[2018-10-23 18:58] #20876 closed

[2018-10-23 19:04] jbrockmendel commented on #17559
This now works.  Most likely closed by #22163.

[2018-10-23 19:07] jbrockmendel commented on #12437
This now works.  Most likely closed by #22163.

[2018-10-23 19:19] TomAugspurger commented on #23301
Do you see a way to easily incorporate this into the existing framework? I haven't looked, but it sounds somewhat difficult.

[2018-10-23 19:26] somiandras opened #23305 "Columns lose category dtype after calling replace on the dataframe"
xref https://github.com/pandas-dev/pandas/pull/25521

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Calling `replace()` on a dataframe changes `category` columns' dtype to `object` in an apparently inconsisent manner:

1. When `replace()` contains non-categorical values that are not present in either categorical column, all categorical dtype turn into `obj

[2018-10-23 19:47] yz3101 commented on #18449
I found that you have different color for each bar when you do this
n=6
df = pd.DataFrame({"a":np.arange(1,n)})
df['a'].plot(kind='bar', color=tuple(["g", "b","r","y","k"]))

[2018-10-23 19:52] #23296 closed

[2018-10-23 19:58] jorisvandenbossche commented on #23125
Isn't there also option 3: keep both SparsArray.astype and Series[sparse].astype always sparse?

[2018-10-23 20:07] TomAugspurger commented on #23125
Yes, I was assuming we didn't want that `Series[sparse].astype(numpy_type)` to be sparse though. Do we?

[2018-10-23 20:08] jorisvandenbossche commented on #17559
We should still add a test for it?

[2018-10-23 20:10] jorisvandenbossche commented on #23125
That's in any case what it is doing now (and in 0.23), so that would also be a backwards incompatible change.

On the one hand it is convenient to keep it sparse if you quickly want to change the sparse type (without needing to use `SparseDtype`), but on the other hand it also might be strange that the result of Series.astype(dtype).dtype != dtype

[2018-10-23 20:11] jorisvandenbossche commented on #23125
But didn't we discuss that on the SparseArray PR? I seem to remember that you and @kernc argued for keeping it sparse?

[2018-10-23 20:13] TomAugspurger commented on #23125
Hmm I don't recall right now.

Not having `Series.astype(dtype)` being equal to dtype is causing a few problems in our internal routines. I suspect we'll need to add more little changes like https://github.com/pandas-dev/pandas/pull/23285/commits/428f2308b67324aeda125be085bb6387b77037fd to special case sparse, which would be unfortunate.

[2018-10-23 20:14] jorisvandenbossche commented on #23125
The topic is touched here: https://github.com/pandas-dev/pandas/pull/22325#issuecomment-414168890

[2018-10-23 20:16] jorisvandenbossche commented on #23125
How do you mean?

Because that is what is already happening on master:

[code]

[2018-10-23 20:51] Masterxilo commented on #4517
This thing is indeed too slow, I'm not surprised that I find others thinking the same. 5 minutes for producing a 50 MB excel file is too much.

[2018-10-23 21:08] 5hirish commented on #23227
@jreback Hi working on this issue; did some code walkthrough, learned that here https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/groupby.py#L834 in the method `_python_agg_general` at `result, counts = self.grouper.agg_series(obj, f)` the `obj` type is `Int64` but the `result` type is `int64`. So, I checked the `agg_series` method, seems like a Cython converter converts it from

[2018-10-23 23:19] jreback commented on #23227
so look at _wrap_aggregated_output

there are a number of paths here though

[2018-10-23 23:21] WillAyd commented on #23301
Thanks for the suggestion! I'm personally -1 on this as I feel like its usage is pretty niche. Are there any other use cases outside of styling emails?

[2018-10-24 00:32] jbrockmendel commented on #17559
Yes.

[2018-10-24 01:55] jschendel opened #23309 "ENH: Add IntervalIndex.is_overlapping"
This is needed in the `get_indexer` implementation for the new `IntervalIndex` behavior, as an overlapping `IntervalIndex` may return non-unique indices for a given query.  Note that this equivalent to other indexes checking `is_unique` as part of `get_indexer`, which does not suffice for `IntervalIndex` for the aforementioned reason.  Behavior and API design would be comparable to `is_non_overlap

[2018-10-24 03:14] jbrockmendel commented on #13637
@sinhrks I'm trying to figure out what which arithmetic-related Issues are still outstanding, as a lot has been fixed recently.  I'm not quite sure how to mark this Issue.  Can you help me pin down exactly what this Issue calls for?

[2018-10-24 03:31] dmsul commented on #9369
@jbrockmendel No idea, it's been almost 4 years since I looked at this bug.

As of numpy 1.12.1 and pandas 0.20.2 (just what I had in the nearest env at hand) there is no error, and I can't get an error when doing `s < [0]` or any number of permutations. Haven't tried it with `ops.wrapper`, but from a practitioner's standpoint I can't recreate it.

[2018-10-24 03:33] #23026 closed

[2018-10-24 03:35] #19379 closed

[2018-10-24 09:16] michcio1234 commented on #20876
Thanks for fixing it!

[2018-10-24 09:19] cgangwar11 commented on #23300
Can I work on this....??

[2018-10-24 09:28] jorisvandenbossche opened #23312 "BUG: reducing ufuncs don't return a scalar"
But are wrapped again in the Series or Index:

[code]

[2018-10-24 09:34] jorisvandenbossche commented on #23312
And for index it is even worse:

[code]

[2018-10-24 09:45] vadella commented on #23067
A possible workaround is something like this:

[code]

returns

[code]

[2018-10-24 10:55] heaven00 commented on #6942
Hey, I am gonna give it a shot 👍

[2018-10-24 11:04] TomAugspurger commented on #23300
#23304 is already open to fix it.

[2018-10-24 11:34] AbdouSeck commented on #23234
@mroeschke is that the expected and intended behavior in the next production iteration?

[2018-10-24 11:40] jorisvandenbossche commented on #23312
@shoyer I thought to fix this first / separately before the `__array_ufunc__` PR, but, the behaviour here is a little bit undefined.
I suppose that *in principle*, a ufunc.reduce returns an array (or an object of the same array-like) with a reduced dimension. But in pandas, we of couse don't have a concept of 0-dim objects or in general variable dim objects. So I assume returning a 0-dim array is

[2018-10-24 12:22] anjsudh opened #23315 "Can provide read_elastic and to_elastic support for dataframes using maybe elasticsearch-py?"

[2018-10-24 12:24] TomAugspurger opened #23316 "Implement PeriodArray.__array_ufunc__"
Combined with a `Series.__array_ufunc__`, we can implement ufuncs on Period-dtype series without an intermediate conversion to an object-dtype ndarray.

[2018-10-24 12:33] #23033 closed

[2018-10-24 14:36] WillAyd commented on #23305
Hmm this does look strange. If called with a dict this doesn't seem to exhibit the same behavior:

[code]

Investigation and PRs certainly welcome

[2018-10-24 14:38] WillAyd commented on #23299
This isn't clear what the issue is and the example is not self contained, so it's not something we can really look at.

If you can provide the information required in the contributing guide on bug reports inclusive of the minimally reproducible example feel free to reopen

https://pandas.pydata.org/pandas-docs/stable/contributing.html#bug-reports-and-enhancement-requests

[2018-10-24 14:38] #23299 closed

[2018-10-24 14:42] WillAyd commented on #23315
Not sure we want to expand the API here but do you have an idea of the complexity of this request? Personally haven't used elastic search so not sure what this requires.

Here's a related SO article:

https://stackoverflow.com/questions/49726229/how-to-export-pandas-data-to-elasticsearch

[2018-10-24 16:03] mroeschke commented on #18532
Updated the regressions in my top comment

[2018-10-24 16:18] WillAyd commented on #18532
Hmm looks like a lot of regressions. I can take a look at the GroupBy stuff over the next few days.

[2018-10-24 16:20] jbrockmendel commented on #18532
Are these consistent across runs?  IIRC correctly asv's use of the word "SIGNIFICANTLY" does not refer to statistical significance.

[2018-10-24 16:32] TomAugspurger commented on #18532
Reminder: we also have http://pandas.pydata.org/speed/pandas/

[2018-10-24 16:34] TomAugspurger commented on #18532
Ahh, the benchmarks there look out of date :/

Looking into it now.

[2018-10-24 16:40] WillAyd commented on #18532
@TomAugspurger I get the feeling the web portal may not be showing all of the benchmarks, at the very least those that are parametrized. For instance, it only shows two benchmarks from the groupby.GroupByMethods class, though I think the combinations of parameters there should generate 264 benchmarks

<img width="1206" alt="image" src="https://user-images.githubusercontent.com/609873/47446765-c9fe

[2018-10-24 17:13] TomAugspurger commented on #18532
I'm looking into it. When pandas added the HTML results to the .gitignore
we stopped updating. We at least have the data though.

On Wed, Oct 24, 2018 at 11:40 AM William Ayd <notifications@github.com>
wrote:

[2018-10-24 17:16] anjsudh commented on #23283
Will pick this up

[2018-10-24 17:28] TomAugspurger opened #23319 "CI: Windows build failing"
e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=1680&view=logs

seems to be affecting multiple builds.

[code]

[2018-10-24 17:36] TomAugspurger commented on #23319
Between https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=1686&view=logs and https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=1679&view=logs, it seems like the only thing that changes was python 3.6.6 -> 3.6.7.

I hope a point release didn't break matplotlib.

[2018-10-24 19:00] dsaxton commented on #10772
I agree this would make a nice improvement, especially since the `fillna` fix doesn't really work for categorical columns since the fill value needs to be an available level.

[2018-10-24 19:11] TomAugspurger commented on #23124
FYI, I think this will require a change in `DataFrame.to_sparse`. Right now the default `fill_value` is just np.nan. When you have e.g. an int array, you can't have `np.nan` for your fill_value.

So I think we need to change the meaning of `fill_value=None`  in `to_sparse`. Instead of just being `nan`, it will be `na_value_for_dtype(dtype)` on each column.

We'll also I think need to update the AP

[2018-10-24 20:50] jbrockmendel commented on #19956
@TomAugspurger possibly change this behavior in a follow up to PeriodArray?

[2018-10-24 20:54] TomAugspurger commented on #19956
Is the expected behavior an ndarray[object] with period object?

This could be done any time by defining PeriodIndex.ravel as `self.values.ravel()` instead of inheriting the base implementation.

[2018-10-24 20:57] TomAugspurger commented on #23301
Based on a quick glance, this doesn't look easy to fit into the current framework (though feel free to take a look and disagree @davidchall).

It seems like there are tools for converting HTML + external CSS to inline CSS (e.g. https://www.myintervals.com/emogrifier.php). Maybe give one of those a try.

[2018-10-24 20:58] jbrockmendel commented on #19956
For PeriodArray I’d expect it to return a 1-dim-reshaped view on itself.  So a no-op for EA since those are 1-dim to begin with.

[2018-10-24 20:59] #23301 closed

[2018-10-24 21:03] TomAugspurger commented on #19956
That'll need a larger discussion then, since the other EA-backed indexes all return ndarrays for ravel.

[2018-10-24 21:46] jacobitosuperstar commented on #17275
**ERROR**:
pandas version 0.23.4
Have the same problem, leaving the same code as above,

After running the code i get:

**CODE**:
`import pandas as pd
import numpy as np

cols = pd.Index(['Complemento_endereço', 'cnpj', 'Data_fundação', 'Número',
   'Razão_social', 'CEP', 'situacao_cadastral', 'situacao_especial', 'Rua',
   'Nome_Fantasia', 'last_revenue_normalized', 'last_revenue_year',
   'Telef

[2018-10-24 21:54] h-vetinari commented on #22824
@jorisvandenbossche
Thanks for the response and sorry for the slow reply.

@jreback @TomAugspurger @WillAyd @gfyoung @jschendel @toobaz
Gentle ping to invite feedback about the case I make below. TLDR: *Changing the type of `Series.unique` is the only way that allows using `return_inverse` without several anti-patterns and disjoint parts.*

## Return type of `Series.unique` based on reconstructing

[2018-10-24 21:59] jreback commented on #22824
your example looks like a simple group by and merge or just a merge_asod for ordered things

why is that not simply the answer?

[2018-10-24 22:31] louispotok opened #23324 "Rounding valid timestamps near daylight savings jumps should not throw NonExistentTimeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The timestamp is a valid time, so it should round to another valid timestamp. Specifically, it should round to the nearest 5min frequency valid time, which is the moment after the clock jumps.

#### Expected Output
```pd.Timestamp('2018-03-11 03:00:00-0500', tz='America/Chicago')```

#### Output of ``pd.show_ve

[2018-10-24 22:54] h-vetinari commented on #22824
@jreback

I tried to make a short enough toy example (as the post is already very long), so obviously some complexity gets brushed under the carpet, which then may allow alternative solutions. But even then, using `.groupby` for problems like this is orders of magnitude slower than `.unique` - e.g. 20min vs. 10sec (this is how I started this journey of trying to get `return_inverse` implemented, f

[2018-10-25 01:49] sinhrks commented on #13637
@jbrockmendel I don't catch up recent changes yet. Maybe we should maintain comprehensive ops tests to clarify & guarantee current behaviour.

[2018-10-25 01:55] mroeschke commented on #23324
This occurs after relocalization since rounding happens in local time. After https://github.com/pandas-dev/pandas/pull/22644 is in, we can introduce a `nonexistent` keyword to handle this behavior like we did `ambiguous` in https://github.com/pandas-dev/pandas/pull/22647

[2018-10-25 02:23] HarveySummers opened #23325 "AttributeError: module 'pandas' has no attribute 'core' - Pandas can't be imported"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
''''
Importing pandas throws hairball
[code]
...
#### Expected Output
None

#### Output of ``pd.show_versions()``

<details>

PD doesn't load, so

[code]
</details>

[2018-10-25 02:32] TomAugspurger commented on #23325
Can you try in a new environment?

[2018-10-25 02:36] gitwhistle opened #23326 "Data type of new assigned DataFrame column"
[code]
#### Problem description

The fact that `df.loc[:,'col1] = int(5)` yields a new column with dtype `float64` seems strange.

#### Expected Output

All three methods should yield a new column with dtype `int64`

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-1023-aws
machin

[2018-10-25 02:39] HarveySummers commented on #23325
Working on it. Restarted the kernel and have new error

[code]

[2018-10-25 03:14] jbrockmendel commented on #2586
@mroeschke has this been addressed?  Closeable?

[2018-10-25 03:48] yichen8 commented on #23305
[code]
So using dict may not be the best way.
A simple way is :
[code]
`replace()` created a new DataFrame object:
[code]

[2018-10-25 04:29] WillAyd commented on #23326
Thanks for the report - investigation and PRs are certainly welcome!

[2018-10-25 04:57] jbrockmendel commented on #3025
@jreback closeable?

[2018-10-25 05:49] datapythonista commented on #23154
Using a plugin makes sense, better not reinvent the wheel. But it'd be good if the plugin is called from the validator script, so devs working on docstrings don't need to execute more than a command to validate that the docstring is all right.

[2018-10-25 05:59] datapythonista commented on #23201
Didn't realize, but likely to be from the doctests. Not sure what's the best option here, what comes to my mind:
- Save to temp: `df.to_csv('/tmp/data.csv')`
- Remove the file after saving in the doctest (I don't like that it may be confusing and verbose to the users)
- Avoid saving to disk in the doctests (I don't like it, as we won't be able to show several methods)
- Saving to StringIO objects

[2018-10-25 06:06] WillAyd commented on #23201
Is using a tempfile / namedtempfile not an option?

[2018-10-25 07:08] 5hirish commented on #23227
@jreback
1) Tests under `pytest pandas/tests/arrays/` like `test_integer.py/test_preserve_dtypes`, `test_integer.py/test_reduce_to_float` are failing because:
[code]
there is custom datatype `Int64` in the test input data of the above tests and test expects it to be converted to `int64` or `float64`. Does pandas consider `Int64` as `int64`, cause `Int64` satisfies both the following conditions: `i

[2018-10-25 10:10] jreback commented on #23201
yes these should use a named temp file i think

[2018-10-25 10:12] jreback commented on #8450
i think this is still worth doing to see if we have any long tests that are too long

[2018-10-25 10:13] #9859 closed

[2018-10-25 10:14] jreback commented on #3025
no .update should be moved to intervals for sure
it’s pretty much the only method outside

[2018-10-25 10:53] urdvr opened #23328 "inconsistent float rounding in to_json"
#### Code Sample

[code]
#### Problem description

`to_json` rounds floats roughly between  `10**-double_precision` and `10**-16` to zero, but doesn't round very small floats.

This is a problem when roundtripping data - the ordering of rows changes incorrectly if sorted by a column with small floats.

#### Expected Output

[code]
or
[code]

#### Output of ``pd.show_versions()``

<details>

[code]

[2018-10-25 11:06] #23168 closed

[2018-10-25 11:08] TomAugspurger commented on #23325
That's a known issue with the latest point release of python and matplotlib / Qt. Try downgrading to python=3.6.6.

[2018-10-25 11:08] #23325 closed

[2018-10-25 11:14] FHaase commented on #23154
I'm currently including it in ./ci/code_checks.sh under lint section.
However as it finds many PEP-8 violations in the *.rst files it might take a while until it can be merged.

[2018-10-25 11:14] TomAugspurger commented on #23201
How about we add `doctest: +SKIP` to the lines writing to disk, and lines that read afterwards?

Writing to `/tmp` isn't great, since users may be copy-pasting and may not have a `/tmp` directory.

Anything with cleaning up or writing to a StringIO will, I think, just muddy the example. We shouldn't compromise on the documentation here.

[2018-10-25 11:18] datapythonista commented on #23154
Feel free to open issues for the PEP-8 problems if in your local branch you can already get the list of problems. If there are many I'd have more than one issue, so different people can work on it at the same time.

[2018-10-25 11:20] datapythonista commented on #23201
+1 on `doctest: +SKIP`.

[2018-10-25 11:30] TomAugspurger commented on #8450
We have durations now: https://travis-ci.org/pandas-dev/pandas/jobs/446018323#L2867

Right now it's hardcoded in `addopts` of `setup.cfg`. We may want to move it to the actual test scripts, so that it doesn't show up under, e.g. the doctests.

[2018-10-25 11:33] #23273 closed

[2018-10-25 11:46] #8917 closed

[2018-10-25 11:48] FHaase commented on #23154
[commit](https://github.com/FHaase/pandas/commit/8325caf4a56ea5f2158205551d1cf66ce5776262)
is all it takes to include it.

so it would get run with `./ci/code-checks.sh lint`

Many mistakes are:
* F821 undefined name 'Substitution'  -> I would ignore them in documentation context
* E999 SyntaxError: unexpected EOF while parsing
      - mostly because of missing bodys of functions. [missing pass]

[2018-10-25 11:56] StrikerRUS commented on #23319
Getting the same error for Windows and macOS with Python 3.6. Other versions and Linux seems to be bug-free, so far. Windows has started to fail a few hours latter after macOS.
Logs:
https://ci.appveyor.com/project/guolinke/lightgbm/builds/19780237/job/w6tvep6v1v7e630b
https://travis-ci.org/Microsoft/LightGBM/jobs/446062310

[2018-10-25 11:56] AntoineD commented on #23273
Thanks a lot. :+1:

[2018-10-25 12:30] TomAugspurger commented on #23227
@5hirish probably best to keep the conversation in the PR now that it's open.

[2018-10-25 12:45] #8450 closed

[2018-10-25 13:09] HarveySummers commented on #23325
Done - thanks.

More info for those interested: https://stackoverflow.com/questions/52979322/matplotlib-3-0-0-cannot-import-name-get-backend-from-matplotlib

[2018-10-25 13:31] TomAugspurger commented on #13221
I think this is resolved.

concat([Period]) is a period type. concat([period, other]) is object.

[2018-10-25 13:31] #13221 closed

[2018-10-25 13:33] TomAugspurger commented on #14048
This has been fixed somewhere along the way.

[code]

I think that things are reasonable well tested, so closing.

[2018-10-25 13:33] #14048 closed

[2018-10-25 13:38] TomAugspurger commented on #14108
The PeriodArray PR is adding a `period_array` method for constructing a PeriodArray from a list-like of periods.

The only thing that won't handle is scalars. Is that OK? I think that case is already covered by `pd.Period(scalar, freq)`.

[2018-10-25 13:43] TomAugspurger commented on #18053
Some updated timings.

[code]

On the PeriodArray PR, we're down to

[code]

Which I think is good enough to call this closed, though @nmusolino if you want to do more optimizations after #22862 lands, then feel free.

[2018-10-25 15:31] Jeitan commented on #6279
@judimaci I haven't looked at this again since last year, but at that time at least it was actually quite easy to make subplots, just not intuitive how to do it. If you want to plot values of a column 'A' grouped by categories in column 'C', something along the lines of `df.pivot(values='A', columns='C').plot.hist(subplots=True)` should work.

[2018-10-25 15:57] achapkowski opened #23330 "Matplotlib v3"
Matplotlib v3 seems to break pandas at v.23.x.  What version of matplotlib is required?

[2018-10-25 15:58] jiehuan commented on #20712
I have the same issue here. The 'closed' parameter is not really working when the value/date is duplicated.

Input:
index        date                amount
323081	2016-06-30	26,238.600
398994	2016-06-30	17,044.800
405077	2016-08-09	549.900
440495	2016-09-29	1,625.400
636274	2017-06-30	27,453.600
638552	2017-06-30	19,816.800

rolling(window='90d', on='date', closed='neither')

Output:
index       a

[2018-10-25 16:33] alimcmaster1 commented on #23330
Hey - how do I reproduce the error you are seeing? Potentially related to #23319 looking at comments from @TomAugspurger

[2018-10-25 16:36] TomAugspurger commented on #23319
Upstream issue: https://github.com/matplotlib/matplotlib/issues/12601

Already fixed in mil master.

[2018-10-25 16:36] TomAugspurger commented on #23330
https://github.com/matplotlib/matplotlib/issues/12601

[2018-10-25 16:36] #23330 closed

[2018-10-25 16:36] TomAugspurger commented on #23330
Downgrading your Python a point release, or upgrading to MPL master should fix it.

[2018-10-25 17:36] jbrockmendel commented on #5333
These attributes no longer exist.  Closeable?

[2018-10-25 17:38] jbrockmendel commented on #9369
@jreback closeable?

[2018-10-25 17:38] alimcmaster1 opened #23334 "Fix import formatting using isort"
Following on from #23048. We now need to run isort on all *.py files in the codebase that we are ignoring  in CI see [here](https://github.com/pandas-dev/pandas/blob/master/setup.cfg). Information on Isort [here](https://pypi.org/project/isort/)

Useful commands:

To sort imports in files in pandas directory ( ignoring those explicitly mentioned in setup.cfg)
`isort --recursive pandas`

To check i

[2018-10-25 18:05] louispotok commented on #23324
Thanks for the quick response! Agree that would solve this, but from a design perspective I don't think I understand why that would be the right way to handle it.

What's the usecase where you are trying to round a valid time and you would WANT to raise a NonExistentTimeError? Or even deeper, what would that mean? If you're working within valid times, rounding should always be an allowed operation

[2018-10-25 18:21] mroeschke commented on #2586
Doesn't appear so. `read_csv` has a `date_parser` argument that accepts a generic parsing function but I think the ask is for a `format` argument like `pd.to_datetime(..., format='...')`

But given that you can also just pass `pd.read_csv(..., date_parser=lambda x: pd.to_datetime(x, format='...'))` as a suitable alternative, I am not sure how on board I am with added a separate `format` argument t

[2018-10-25 19:06] jiehuan opened #23335 "'closed' parameter is not working for Rolling with duplicate Timestamp"
The 'closed' parameter is not really working when the date is duplicated.

Here is an example.

[code]

|      |  Data| amount|
|----|--------|--------|
|0	|2016-06-30	|100|
|1	|2016-06-30	|200|
|2	|2016-08-09	|10|

[code]

Output

|      |  Data| amount|
|----|--------|--------|
|0	|2016-06-30	|NaN|
|1	|2016-06-30	|100|
|2	|2016-08-09	|300|

Expected output:

|      |  Data| amount|
|----|-------

[2018-10-25 19:46] alexander-ponomaroff commented on #23334
I would like to help out with this issue. Can I please work on the following directories?

- pandas/core/dtypes/
- pandas/core/groupby/
- pandas/core/reshape/
- pandas/core/computation/

[2018-10-25 19:58] alimcmaster1 commented on #23334
Hey @alexander-ponomaroff thanks for looking to contribute! I've put you down for dtypes and groupby first so we can concentrate on getting those merged first. Then we can look into the others. Let us know on here if you need any help.

[2018-10-25 20:00] #22632 closed

[2018-10-25 20:28] TomAugspurger commented on #23335
Could you update your example to be reproducible (steps to crate the dataframe, execute the problematic method)? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

And include the output of `show_versions` in a details tag.

[2018-10-25 20:34] thoo commented on #23334
@alimcmaster1  I will be working on:
[code]

[2018-10-25 21:13] pvarshney1729 commented on #23334
@alimcmaster1 This will be my first issue. I'll be working on
pandas/tests/plotting/
pandas/tests/frame/

[2018-10-25 21:15] alimcmaster1 commented on #23334
thanks both @thoo and @pvarshney1729

[2018-10-25 21:19] thoo commented on #23334
@alimcmaster1 Do you want several PR from the same branch ?? I have more than 20 files.

[2018-10-25 21:23] alimcmaster1 commented on #23334
I would recommend using separate branches so the PRs are independent of each other.

[2018-10-25 21:52] alexander-ponomaroff commented on #23334
@alimcmaster1 I've looked into dtypes and groupby, now waiting for CI checks to finish for those two pull requests. Could I now also look into the following directories that I previously requested?

- pandas/core/reshape/
- pandas/core/computation/

[2018-10-25 22:38] #14108 closed

[2018-10-25 22:38] #18053 closed

[2018-10-25 22:42] nmusolino commented on #18053
That's great news, thank you very much!

[2018-10-25 22:58] mwoss commented on #23334
Hi. I would like to help with this issue. May I work on:

- pandas/tests/extension/
- pandas/tests/io/parser/
- pandas/tests/io/formats/
- pandas/tests/groupby/

[2018-10-25 23:55] jreback commented on #9369
yeah i think this was the array_priority which was fixed a long time ago

[2018-10-25 23:55] #9369 closed

[2018-10-25 23:56] #5333 closed

[2018-10-26 00:17] cosinequanon opened #23348 "Pandas should validate display.max_rows option"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This incorrectly print's 4 rows:

[code]
Pandas should not allow negative numbers for this setting because it does non-sensical things. In many other places -1 is used to represent an unbounded number so setting it -1 is actually intuitive but it doesn't work correctly and we should fail fast instead of confusi

[2018-10-26 01:11] #20395 closed

[2018-10-26 01:28] #23148 closed

[2018-10-26 01:35] amphy commented on #23334
I would like to help out with this issue. I will be working on

- pandas/tests/indexing

[2018-10-26 01:38] #23300 closed

[2018-10-26 01:56] jreback commented on #23334
so ok with more than 20 files, just don't go crazy, rather like to have logical groupings (like we have had already for some)

[2018-10-26 02:40] #12437 closed

[2018-10-26 03:13] jbrockmendel commented on #13294
A lot of thought has gone into related topics for PeriodArray etc.  I think the conclusion is pretty much that the caller is responsible for checking the inputs, since shallowxopy is private.  Assertions in simplenew might be cleaner.

[2018-10-26 03:17] jschendel opened #23352 "BUG: IntervalTree should not have NaN in nodes"
#### Code Sample, a copy-pastable example if possible
Initializing an `IntervalTree`  with arrays containing `np.nan` can trigger a `RuntimeWarning`:
[code]
This causes some attributes to be incorrectly set as `np.nan`, which can lead to incorrect results:
[code]
#### Problem description

Initializing an `IntervalTree` with data containing `np.nan` triggers a `RuntimeWarning` and can lead to incor

[2018-10-26 04:47] jbrockmendel commented on #11993
@jreback closeable?

[2018-10-26 05:13] gfyoung commented on #23315
Unless there's a pretty significant push for this, I'm hesitant to think that we would want to include this in core API.  That being said, I think an entry in the cookbook would be reasonable.

[2018-10-26 05:57] jreback commented on #11993
sure
though maybe nice to create a new issue of things that we might want to use but don’t have already (some of the latter on this list)

[2018-10-26 05:57] #11993 closed

[2018-10-26 07:09] ayushpatidar opened #23354 "issue regarding fill missing value"
problem description :
There is no function available in pandas which can fill missing value in dataframe according to column type i.e whether column is of categorical type or numeric type.
It will be easier if we provide a direct function which can fill missing value according to the type of column

[2018-10-26 07:14] jreback commented on #23354
pls show an example

[2018-10-26 07:31] ayushpatidar commented on #23354
#here we are reading the dataframe
df = pd.read_csv("60tp.csv")

#a function that will fill missing value according to type of column
df.fill_missing(strategy_numeric="mean",strategy_cat="most_frequent", criteria=.1)

1. ..here strategy_numeric  indicates the strategy used to fill missing value for column which has continuous type of value.

2..here strategy_cat  indicates the strategy used to fil

[2018-10-26 07:45] jorisvandenbossche commented on #13637
@jbrockmendel if you look at the table in the top post, there are still cases ('x') in that table that still don't work.

The "Series, Boolean, Index (`pd.Series([True, True, False]) & pd.Index([True, False, True])`) and "Frame, Arithmetic, Index" (`pd.DataFrame([[1, 2, 3]]) + pd.Index([2, 2, 2])`) cases now seem to work correctly.

But the "Index, Arithmetic, List" and "Index, Arithmetic, Tuple"

[2018-10-26 07:51] jorisvandenbossche commented on #19956
Also for Series, `ravel` returns an ndarray.

I think there is also something to be said for `ravel` always to be an ndarray.
Or to simply deprecate the method, since if you want a ravelled ndarray, you can also do the much more explicit `np.asarray(val).ravel()`.

The question is: what do people use it for? It might be that it is used in cases where afterwards the code expects to now have a numpy

[2018-10-26 09:23] FHaase opened #23356 "ENH: Tox as main entry point for development"
So I have been working on issue #23154 trying to setup flake8-rst as additional check for code within documentation.

It's working great, finding multiple places to fix, however in order to test I'm not able to run the appropriate commands.

* created a conda environment
* installed dependencies from `./ci/requirements_dev.txt` and `./ci/requirements-optional-conda.txt`
* activated pandas-dev envi

[2018-10-26 10:54] jorisvandenbossche commented on #2586
Yep, agreed that given the huge amount of keywords, we should maybe not add yet another one (although I would personally find a `format` keyword more useful than the current `date_parser`)

[2018-10-26 10:57] jorisvandenbossche commented on #23154
@FHaase thanks for looking into it!

Where is this one coming from?

[2018-10-26 10:58] #4338 closed

[2018-10-26 11:02] jorisvandenbossche commented on #23356
@FHaase regarding the error you get: you need to (re)build the pandas C extensions (`python setup.py build_ext --inplace`)

[2018-10-26 11:07] jorisvandenbossche commented on #23356
Regarding the actual proposal about `tox`: personally I never used tox, and I also doubt many of the core devs are using it (I *think*, not sure). As far as I know, it also does not really work with conda? (and conda is currently the main way we recommend to create an environment)

If we want to make certain things easier, I would rather add some commands like `make inplace` (for rebuilding the c

[2018-10-26 11:30] TomAugspurger commented on #23354
FYI: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports has tips on writing good bug examples

From what I can glean, your hypothetical `fill_missing` function sounds quite complicated. I'd recommend building a Series or dict with your fill values, and use that as an argument to `fillna`.

[2018-10-26 12:07] fmagin commented on #18755
I am running into this issue when trying to scatterplot with x and y both initially being lists of datetime objects, but I have a workaround using matplotlib directly:
[code]

[2018-10-26 12:07] #22396 closed

[2018-10-26 12:07] #22763 closed

[2018-10-26 12:36] jorisvandenbossche commented on #18532
There seem to be some jumps in some of the benchmarks since the last run, eg http://pandas.pydata.org/speed/pandas/#algorithms.Factorize.time_factorize_float?
That one eg I cannot reproduce locally comparing master with 0.23.4:

[code]

[2018-10-26 13:07] jorisvandenbossche commented on #22824
@h-vetinari it might be besides the point, since it is only a simplified example and the below might not be the case in other actual use case, but I would solve the toy problem with `drop_duplicates`, and not unique:

[code]

(I won't say this is the most beautiful code, but the annoyance are rather in different things: not being able to set the name of the index in `reset_index`, losing the index

[2018-10-26 13:15] FHaase commented on #23356
`python setup.py build_ext --inplace` helped a lot, however it's still failing:

[code]

The respective code at least looks fine to me:

[code]

[2018-10-26 13:18] alimcmaster1 commented on #23334
Sure @mwoss i've put you down for "pandas/tests/extension/" and "pandas/tests/io/parser/" focus on getting those two merged first. and thanks @amphy !

@alexander-ponomaroff - Mind if we wait to see if any other first time contributors are interested in taking a look - this issue has quite a low barrier to entry so it would be great to get as many new contributors as possible working on things! Bu

[2018-10-26 13:29] TomAugspurger opened #23359 "PERF: Investigate caching on PeriodArray"
Start with benchmarks

1. ops on PeriodArray and PeriodIndex
2. ...

If we determine that caching attributes like `hasnans` and `isna` does help then we can investigate caching on PeriodArray.

[2018-10-26 13:42] achapkowski opened #23360 "Custom Array Types Dropped on pd.Merge"
#### Code Sample, a copy-pastable example if possible

I have written a custom dtype and array for my own API.

When I do a `pd.merge`, the type reverts back to `object` not `geometry` .

In cyberpandas, I do not see the same behavior.  What needs to be set to accomplish this?

[code]

[2018-10-26 13:51] jreback commented on #23360
duplicate for #23020 there is a PR in the works

[2018-10-26 13:51] #23360 closed

[2018-10-26 13:53] FHaase commented on #23154
[code]

[code]

The problem is that in a context of a documentation it would make sense to use names that are not defined, however the plugin checks the code-block as if it was a normal python file.

Forcing to include all names in the documentation would in my opinion lead to cluttered documentation and therefore I would ignore F821 completely.

[2018-10-26 13:55] TomAugspurger commented on #19954
Let's start with goals and work backwards to an API

1. I want the actual array that's backing this Series / Index.
   I cannot afford a copy.
2. I want an ndarray holds the same values as the backing array.
   This ndarray may not be the actual one backing the Series / Index,
   and getting it may involve some data copying / coercion. I'm willing
   to lose some information (categorical types, ti

[2018-10-26 13:57] achapkowski commented on #23360
@jreback thanks Jeff for letting me know.

[2018-10-26 14:01] TomAugspurger commented on #22846
PeriodArray is using a repr like
https://github.com/pandas-dev/pandas/issues/22846#issuecomment-424880091.

[code]

I'd be happy with something similar for IntegerArray.

SparseArray can't share it, because it needs to indicate the sparse points. But I think it can be a bit more uniform, something like

[code]

Categorical could maybe be updated, but not a big deal.

[2018-10-26 14:05] jorisvandenbossche commented on #22846
I personally like the fact that we have 'pandas' in the repr, like I did in the IntegerArray example above, or how you did the SparsArray (what PeriodArray doesn't have), to make it clear from it's repr it is a *pandas* array, without needing to check `type(..)`.
Buf of course, if we don't add them to the top level API (which still needs to be discussed), then `<pandas.IntegerArray>` is a bit conf

[2018-10-26 14:08] jbrockmendel commented on #19956
The place that motivated this issue is in `core.ops` where we currently call ravel() on most things but specifically avoid calling it on `PeriodIndex`.  It's a pretty ugly special case.

[2018-10-26 14:10] jorisvandenbossche commented on #19956
And what's the reason we call it there? What do we want to end up with there?

[2018-10-26 14:15] TomAugspurger opened #23362 "PERF: concat perf"
For `Series[period]`, `pd.concat` is about 6x slower than `PeriodArray._concat_same_type`. There's always going to be some overhead, but I  wonder how much we can narrow this.

[code]

[2018-10-26 14:16] jbrockmendel commented on #19956
In that case we are calling `right.ravel()` because `right` is an array-like and we want to work with a flattened version of that array.

[2018-10-26 14:17] achapkowski commented on #23360
@TomAugspurger How did you account for this on cyberpandas?  Just curious

[2018-10-26 14:28] jorisvandenbossche commented on #19956
But if the object is array, Series or Index, why do we want to ravel? Because all those are already 1D? (or the array can be 2D?)

[2018-10-26 14:30] TomAugspurger commented on #19956
I think just checking `if y.ndim > 1: yrav = y.ravel()` is the way to go. Not so elegant, but it avoids the discussion of what "ravel" means for EA-backed Series, and inconsistencies between ndarray and ea-backed series.

[2018-10-26 14:30] jorisvandenbossche commented on #19956
Anyway, mainly what I am trying to ask about: in this specific case that motivated the proposal, there might be a very easy way to also avoid duplicated code, without needing `ravel` ?
We can simply check the dimension for example?

[2018-10-26 14:31] jorisvandenbossche commented on #19956
Well, so exactly what @TomAugspurger said :-)

[2018-10-26 14:37] jbrockmendel commented on #19956
The array can be 2D.

This is fine.  The extant code also works fine.

That is pretty much what the Issue is about.  We can certainly stick a pin in this, but long-term the method's behavior should match the standard usage of the term "ravel"

[2018-10-26 14:59] shoyer commented on #19954
@TomAugspurger I like this general idea, but let me suggest two refinements:
- `numpy_array` should be a `to_numpy()` method (because the NumPy array is sometimes created on the fly)
- Instead of `ndarray_values`, call it something slightly more descriptive -- maybe `raw_array` or `base_array`? This property also might not be defined on all extension arrays, e.g., if they are written on top of arr

[2018-10-26 15:00] WillAyd commented on #2586
I still think is useful. Having to provide a lambda in the current state is rather wonky from an end user perspective and an explicit format keyword could probably enable much better performance on larger datasets

[2018-10-26 15:06] paul-lilley commented on #19729
I think there may be a further (maybe related?) problem.
Smaller floats are not necessarily converted correctly from 64 to 32 bits:
[code]
gives
[code]

[2018-10-26 15:09] jreback commented on #19954
why would this not be on top of an arrow backed array? the point of EA is to completely hide this detail

[2018-10-26 15:18] TomAugspurger commented on #19954
I was viewing this as a `.values` replacement, which is why I went with a property initially. But if I were designing this from scratch I would certainly make it a method... I'm not sure how to balance these two. I think right now a method would be preferable here, but I could go either way.

Mmm, yes that's a good point... I would need to look at this. In several places, like in our indexing engi

[2018-10-26 16:05] jreback commented on #19954
I was responding to stephan

an arrow backed extension arrow is nothing special as far as pandas is concerned

[2018-10-26 16:15] shoyer commented on #19954
You can turn an arrow backed extension arrow into a NumPy array (possibly with a copy) or you can access it as an extension array, but there isn't necessarily any equivalent of a "raw numpy array" underlying the values that you can directly mutate to change the values in a `pandas.Series`.

[2018-10-26 16:22] jiehuan commented on #23335
updated. Thanks!

[2018-10-26 16:42] jreback commented on #19954
@shoyer of course but how does this actually matter - again the actual implementation of the EA is irrelevant, except when we ask it give us a raw set of values and even that is transparent

[2018-10-26 16:47] TomAugspurger commented on #19954
I think whether or not this has to be an ndarray depends on how it's (intended) to be used. Is the primary motivation

1. a fast (but maybe not zero copy) representation of the data as an ndarray, so that I can do ndarray-like things to it? Or,
2. A fast array-like representation of the data, no copies allowed.

I was proposing the first, hence the name `ndarray_values`. But perhaps the second is

[2018-10-26 17:32] shoyer commented on #19954
This is definitely the use-case I had in mind. This can be convenient, e.g., for cases where you want to modify the NumPy array in place.

Note that this is definitely possible for some but not all arrow based arrays. For example, if you have integers or floats without any missing values.

I think this is covered by `to_numpy()`?

[2018-10-26 17:33] alexander-ponomaroff commented on #23334
@alimcmaster1 That's no problem, just let me know when I can start working on the other two directories if nobody new comes in.

[2018-10-26 19:18] TomAugspurger commented on #19954
Not the "fast" requirement though. For e.g. PeriodIndex, `PeriodIndex.to_numpy()` would be an ndarray of objects, which is expensive to create.

My last argument in favor of `ndarray_values -> ndarray` over a `raw_array -> ArrayLike` is that the `.raw_array` use-case isn't clear to me. The return type of `.raw_array` would be deliberately broad (since ExtensionArray makes no claims about the actua

[2018-10-26 20:29] shoyer commented on #19954
I totally agree here, I was just proposing a different name for the saw use-case:
[code]

[2018-10-26 20:46] TomAugspurger commented on #23335
Thanks. It's not immediately clear to me what's going on here. If you're able to do any additional debugging, it'd be appreciated. It's probably an issue somewhere in pandas/core/window.py, or (more likely) in pandas/_libs/window.pyx.

[2018-10-26 20:48] TomAugspurger commented on #19956
Yeah, we'll certainly need to resolve this, but I think it depends a bit on
the result of #19954, if you have any thoughts there.

On Fri, Oct 26, 2018 at 9:37 AM jbrockmendel <notifications@github.com>
wrote:

[2018-10-26 20:53] TomAugspurger commented on #14108
@jorisvandenbossche, do you have an example in mind?

[code]

[2018-10-26 21:32] WillAyd commented on #23328
Taking `json.loads` out of the equation I believe the problem is that anything requiring 16 digits of precision is automatically cast to scientific notation when dumped, whereas anything under 16 digits is truncated to respect the precision keyword:

[code]

[2018-10-26 21:51] #23226 closed

[2018-10-26 22:02] xag commented on #23119
@jreback Too bad if you deprecate SparseDataFrame. (Un)pickling a large sparse SparseDataFrame is much faster than (un)pickling or (un)msgpack-ing the same sparse DataFrame.

[code]

[2018-10-27 00:43] headdab opened #23369 "memory usage after writing then reading a multi-indexed dataframe from an hdf5 increases dramatically"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The memory used by a multi-indexed dataframe increases dramatically after writing to and reading it back from an hdf5 data file.

#### Expected Output

[code]

- Note that the sparse version before writing to an hdf5 file uses 100kB, but it uses 421kB after I reread it from the hdf5 file.  This is over 4X the

[2018-10-27 00:55] alexander-ponomaroff commented on #22872
This issue seems not fixed after some time. It has been a month and I'm not sure if Harald will be finishing this as he didn't respond if he will be fixing the requested changes on his pull request. Could I take over and try to work on this? @datapythonista @jreback

[2018-10-27 01:05] jreback commented on #22872
we would accept multiple PRs for this

[2018-10-27 01:12] alexander-ponomaroff commented on #22872
This is the updated list. I will start working on this as soon as possible.

[code]

[2018-10-27 01:12] #18936 closed

[2018-10-27 02:51] jbrockmendel opened #23371 "CLN: commented-out code in _libs/sparse.pyx"
reindex_block, SparseCruncher, and (related) reindex_integer

[2018-10-27 02:54] jbrockmendel commented on #23371
BlockIntersection

get_reindexer appears unused

[2018-10-27 03:09] boonteck opened #23372 "pd.DataFrame.expanding bug with axis = 1"
[code]
axis = 1 on pd.DataFrame.expanding doesn't seem  to be working as expected; a horizontal expanding window. Instead, the window size appears to be constrained to the number of rows.

axis = 0 is working fine as a vertical expanding window

#### Expected Output
[code]
#### Output of ``pd.show_versions()``
<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.7.1.final.0
pytho

[2018-10-27 03:12] datapythonista commented on #23154
I think we should import `Substitution` and `Appender` in that example. Wouldn't that fix the problem?

[2018-10-27 03:58] datapythonista commented on #22873
Closed via #22901

[2018-10-27 03:58] #22873 closed

[2018-10-27 05:15] anjsudh opened #23373 "tm.ensure_clean() does not create Temporary Directory. It only creates temporary files."
_Originally posted by @anjsudh in https://github.com/pandas-dev/pandas/pull/23321_

[2018-10-27 05:16] anjsudh commented on #23373
Will pick this up

[2018-10-27 07:58] FHaase commented on #23154
Short answer: Yes
Long answer: F821 validations are a quite common issue.

`flake8-rst doc --filename=*.rst --select=F821 --bootstrap="import pandas as pd; import numpy as np"`

[code]
bootstrapping pandas as pd, numpy as np reduces the output already.

The question that rises is: Does a reader of a documentation require all these names to be defined in order to understand the example?

In my opin

[2018-10-27 09:45] whnr commented on #4094
Same issue for the `category` dtype. Now I'm recasting after reading all my data after `append()` and `update()`

[2018-10-27 09:46] Sobes76rus opened #23379 "BUG: pd.pivot_table with single column return DataFrame.columns as MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`df3.columns` is `MultiIndex`
[code]
In sample above I call `pivot_table` with `columns='c'` (just one column) so I expect `pivot_table` to return `DataFrame` with `Index`-ed columns, not `MultiIndex`-ed.

##### More examples:

I did some research to understand similar cases. Here is a bunch of examples you can

[2018-10-27 10:34] ayushpatidar commented on #23354
using dict or series to fill missing value fill not be feasible when the number of missing value are in huge amount. And most of the time filling missing value with mode,mean and median is more preferred.

[2018-10-27 10:46] gfyoung commented on #23369
@headdab : Thanks for the report!  Just to double check, is round-trip being respected when you do the read / write to / from HDF5?  Perhaps something in the internals is causing the representation to be less efficient or compact.

[2018-10-27 10:47] gfyoung commented on #23371
I'm all for removing commented-out code, since if there was a use for it, it would have been commented-in already awhile ago.

cc @jreback

[2018-10-27 10:49] gfyoung commented on #23372
That looks very odd indeed!  Investigation and PR are welcome!

[2018-10-27 10:55] FHaase commented on #23154
Okay I see what you mean. My point is forcing every use of `.. code-block:: python` anywhere in the project to be a copy and pasteable example might lead to a more or less confusing situation for the reader. Let me quote some examples:

from `pandas/core/accessor.py `
[code]
If I read that, it's absolutely clear what is meant, although it's invalid Syntax [E999]. If I imagine a class, imports, and

[2018-10-27 10:57] gfyoung commented on #23373
@anjsudh : I'm hesitant to believe that we actually need this, largely in part because we often don't create that many files during testing for a single test.

[2018-10-27 10:58] gfyoung commented on #23379
That does look a little odd, but not sure if intentional or not...

cc @jreback @toobaz

[2018-10-27 11:59] jorisvandenbossche commented on #23360
It's indeed different than #23020 (which is about merging on an EA columns). @achapkowski We already have tests in the `BaseExtensionTests` classes that checks that the EA type is preserved when doing such a merge. Do you run those tests for your custom ExtensionArray and do they pass?
If they do, but you still have a problem, you will need to provide a reproducible example.

[2018-10-27 12:18] jorisvandenbossche commented on #23154
Note that a bunch of the warnings you listed above in https://github.com/pandas-dev/pandas/issues/23154#issuecomment-433600331 are due to not properly importing the used packages / not properly using the imported name (eg all the `read_excel` warnings should be solved by using `pd.read_excel`).
See https://github.com/pandas-dev/pandas/issues/9886 for this (already a lot has been cleaned up, but io

[2018-10-27 14:09] FHaase commented on #23154
Yes, currently not everything gets checked. The regex to find the parts is
`\.\. (code-block|sourcecode):: (python|pycon)\n`
I opened a [PR](https://github.com/kataev/flake8-rst/pull/2) to also include ipython within the checks as well as `>>> ...` outside of code-block directives.
So I hope shortly `.. ipython:: python` directives will be covered.

* In order to support `In [8]: ` the regex needs

[2018-10-27 14:34] topper-123 commented on #13443
I would like to take this on, after #22511 is merged.

So I'll do: ``labels`` -> ``codes``, but leave ``levels`` alone. Also I'll make related changes, e.g. ``set_labels`` -> ``set_codes`` etc.

[2018-10-27 18:20] #23136 closed

[2018-10-27 20:38] shoyer commented on #23172
I figured it out! The cause is https://github.com/numpy/numpy/issues/12263

After applying the NumPy fix (https://github.com/numpy/numpy/pull/12280), the pandas test suite outputs the following warning:
[code]

It looks like my second diagnosis above was mostly correct: the dispatcher for `vstack()` exhausted the generator from `map`, which then resulting in a very indirect error because pandas ca

[2018-10-27 22:00] gfyoung commented on #23229
I think this proposition seems reasonable, unless there is some workaround already.

cc @TomAugspurger

[2018-10-27 22:32] streeck commented on #23334
I would also like to help with this issue, I'll be working on:

- `pandas/core/reshape/`
- `pandas/core/computation/`
- `pandas/tests/io/formats/`
- `pandas/tests/groupby/`

[2018-10-27 23:05] samcan commented on #23334
@streeck Do you mind if I have one of those directories since those are the only ones left?

[2018-10-27 23:06] streeck commented on #23334
Sure @sam-cohan, grab the last one: `pandas/tests/groupby/` ;)

[2018-10-27 23:09] samcan commented on #23334
Thanks!

[2018-10-28 00:08] nmusolino commented on #23229
Thanks very much, @gfyoung, for the feedback and the review on the corresponding pull request (#23384).

I can elaborate on the two major use cases I had in mind for this:
I.  An [explicit goal](https://pandas.pydata.org/pandas-dcs/stable/style.html#Extensibility) for the style functionality is extensibility.  As noted above, users (or library developers) can write functions that perform certain s

[2018-10-28 03:14] #14187 closed

[2018-10-28 06:44] gfyoung commented on #15559
Let's watch this, but this hasn't been an issue for awhile.

[2018-10-28 06:44] #15559 closed

[2018-10-28 08:18] gfyoung commented on #14565
@jreback @jorisvandenbossche @mroeschke : I'm planning to deprecate `FrozenNDArray` (see [here](https://github.com/pandas-dev/pandas/issues/9031#issuecomment-306658765) for rationale).

Given that `FrozenNDArray` was pretty central to this conversation, any reason to keep this open?

[2018-10-28 11:25] make-it-happen-p opened #23397 "read_parquet not working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
**
read_parquet not working on running in jupyter
**
![screenshot from 2018-10-28 16-47-40](https://user-images.githubusercontent.com/41293829/47615213-42974f80-dad2-11e8-87d2-b18aef671558.png)

[2018-10-28 11:29] xhochy commented on #23397
Which version of `pandas` are you using?

[2018-10-28 14:02] jreback commented on #23372
its using the wrong axis for computing the window length, IOW its always using axis=0

see Expanding._get_window, should be easy patch.

[2018-10-28 17:34] alimcmaster1 commented on #23334
Thanks both @sam-cohan and @streeck for looking to contribute! @streeck put you down initially for `reshape` and `computation` to give others the chance to contribute like i've said above. Thanks,

[2018-10-28 17:43] make-it-happen-p commented on #23397
0.23.02

On Sun, Oct 28, 2018 at 4:59 PM Uwe L. Korn <notifications@github.com>
wrote:

[2018-10-28 22:31] #23282 closed

[2018-10-28 23:15] gfyoung commented on #18273
Throwing my two cents in:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html

Supporting lists of strings is not technically addressed in the documentation, so I'm a little hesitant to call this a bug as of the current version of `pandas`.

That being said, this issue does bring up a lot of questions re: how to handle `usecols` for `read_excel`, in particular, why its h

[2018-10-29 00:42] gfyoung commented on #23397
@make-it-happen-p :

I presume you meant `0.23.2`  Can you show that that's the version in the Jupyter Notebook?  I suspect something is wrong with the installation, `read_parquet` is most certainly there.

[2018-10-29 01:52] qwhelan commented on #23362
Based on my testing it seems this unfortunately isn't `PeriodArray` specific but instead a more general performance issue due to some unnecessary `DataFrame` creation when calling `pd.concat()` on only `Series` objects - I have a simple fix for one hot spot and am chasing down another now.

[2018-10-29 02:33] domoritz commented on #21526
Is there a way to set the color range in the currently released pandas version?

[2018-10-29 02:43] jbrockmendel commented on #10213
This has likely been pushed as far as it’ll go.

[2018-10-29 02:46] jbrockmendel commented on #11270
@jreback closeable?  We no longer check based on _data

[2018-10-29 02:50] jbrockmendel commented on #12149
Time may be right for this.

[2018-10-29 02:53] jbrockmendel commented on #17506
@jreback I think this ship has sailed

[2018-10-29 02:59] elmq0022 commented on #22512
I haven't had much time to work on extra stuff lately.  I will try to swing back to this soon.

[2018-10-29 03:00] jbrockmendel commented on #23028
Related: #13208

[2018-10-29 03:05] domoritz opened #23403 "Support vmin and vmax for bars"
[code]
#### Problem description

`vmin` and `vmax` are not supported. https://github.com/pandas-dev/pandas/issues/21526 adds support in the styler but not the bar plotting itself.

#### Expected Output

The color range should be set.

[2018-10-29 06:07] Piyushohri1 commented on #23397
I think something missing . Try to install **pyarrow** engine . If you have no engine to run parquet you can't do anything.
for terminal command is : **conda install -c conda-forge pyarrow**

[2018-10-29 08:30] meteoDaniel opened #23407 "Add a new function to pd.Datetime: Cross time indices"
I suggest a new function for pandas.
Often people working with time series in different length and scales and want to compare these data to each other or do some operations on it. For this purpose the timestamps and datapoints have to match.

The code below works fine for the most use cases but some times its failing, too and it has to do with some bugs in intersection method. It would be great to

[2018-10-29 09:11] soxofaan commented on #21526
@domoritz  there is a `color` argument, see http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.formats.style.Styler.bar.html . Also: please specify which pandas version you are using ("currently released" doesn't say a lot).

[2018-10-29 09:23] achapkowski commented on #23360
@jorisvandenbossche They did when I created the extension array, let me re-run them and I'll get back to you today.

[2018-10-29 10:13] jreback commented on #23407
this is http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.align.html?highlight=align#pandas.DataFrame.align

would certainly welcome contributions to the doc string

[2018-10-29 10:13] #23407 closed

[2018-10-29 10:16] headdab commented on #23369
I'm not sure what you mean by round-trip?
Do you mean is the data correct?

The output shows that the number of size of the underlying data elements in the same ...

[2018-10-29 10:49] #17506 closed

[2018-10-29 10:49] jreback commented on #12149
sure would take a PR for this i think

[2018-10-29 10:51] #11270 closed

[2018-10-29 10:51] jreback commented on #10213
can u update the metrics just to see

[2018-10-29 10:58] TomAugspurger commented on #23403
Can you make the example at the top a full one? That helps us know exactly what we need to achieve to close this issue.

[2018-10-29 12:14] TomAugspurger commented on #23354
Let us know if you can provide an example, so that we can discuss it effectively. I think we're talking past each other right now.

[2018-10-29 12:14] #23354 closed

[2018-10-29 12:17] TomAugspurger commented on #23172
Wow, thanks for tracking that down :)

I'll make time next week to get us running on NumPy dev again (we fail errors from NumPy on our numpydev build).

[2018-10-29 13:11] gfyoung commented on #23369
Yes, i.e.:

[code]

I also wonder if it has to deal with the fact that you're using `int16` (our support for that data type is deliberately pretty thin).  What happens if you use `int32` or `int64` instead?

[2018-10-29 14:08] achapkowski commented on #23360
@jorisvandenbossche Which BaseExtensionTests are you referring to? In v.23 there are no tests called `BaseExtensionTests` in `from pandas.tests.extension import base`

[2018-10-29 14:11] jorisvandenbossche commented on #23360
I mean all the test that inherit from `BaseExtensionTests` that live in the `pandas/tests/extension/base` directory. You might need to work with pandas master to make sure to have all the latest tests.

[2018-10-29 15:21] anjsudh opened #23409 "we should bump our min of pyarrow to 0.7.0"
_Originally posted by @jreback in https://github.com/pandas-dev/pandas/pull/23321_

[2018-10-29 15:43] skatenerd opened #23410 "Memory leak in `xs`?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code seems to exhibit a memory leak.  I would expect memory usage to plateau over time.
![image](https://user-images.githubusercontent.com/880217/47661513-960bab00-db6f-11e8-879d-ede7baa88e63.png)

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has b

[2018-10-29 15:44] domoritz commented on #23403
Ah, it's in color. Answer in https://github.com/pandas-dev/pandas/issues/21526#issuecomment-433836945.

[2018-10-29 15:44] #23403 closed

[2018-10-29 17:28] JacekPliszka commented on #9211
Got hit by the same bug.

[code]
[sample.csv.gz](https://github.com/pandas-dev/pandas/files/2526340/sample.csv.gz)

[2018-10-29 18:13] headdab commented on #23369
It appears that this has nothing to do with the data type.  Consider the slightly simplified version of the code above, with a round-trip check.

[code]
where I tried many different data types instead of int16 for sdf1.  I got the following results:

[code]
- `before` is the size of sdf1
- `after` is the size of sdf2
- `data` is the storage required for the data itself

If you subtract `data` from

[2018-10-29 18:38] jreback commented on #23369
this is correct. before you are saving it, the indexing tables are NOT created. When you read it back, they are on the read-back (mainly because a reindex is done internally). This is basically lazy creating of the indexes.

so here's your example
[code]
In [2]: sdf.info()
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1000 entries, (2671, 4) to (3612, 5)
Data columns (total 10 columns):
0    1

[2018-10-29 18:38] #23369 closed

[2018-10-29 18:53] #19978 closed

[2018-10-29 19:15] charlesdong1991 commented on #23326
i would like to give a try...

[2018-10-29 19:54] philip4096 opened #23411 ""npmat @ pdseries" should be equivalent to "npmat @ pdseries.values""
#### Code Sample

[code]
#### Problem description

Maybe there is a good explanation but I did not expect this.
It is unexpected that ```npmat @ pdseries``` is NOT equivalent to ```npmat @ pdseries.values```.
It is unexpected that ```npmat @ pdseries```, is equvivalent  to ```pdseries.values @ npmat```.

#### Expected Output
***nothing***
#### Output of ``pd.show_versions()``

<details>

[paste th

[2018-10-29 20:04] h-vetinari opened #23412 "ASV: docs, runtime, stability, build acceleration, PR integration?"
Currently, https://pandas.pydata.org/pandas-docs/stable/contributing.html says:

On a standard laptop with 8GB RAM and 4 cores, this was more like **6.5h** last night.

I recently updated the ASV code (as recommended by `contributing.html`) with
```pip install git+https://github.com/spacetelescope/asv```
and it seems that in `v.0.3`, ASV runs each commit/benchmark in 2 rounds, effectively doubling

[2018-10-29 20:20] TomAugspurger commented on #23411
Your assert passes for me locally.

There was a bug in rmatmul, but that was fixed in https://github.com/pandas-dev/pandas/issues/21530. Can you double check your pandas version?

[2018-10-29 20:22] h-vetinari commented on #22824
@jorisvandenbossche
Thanks for your response:

Because to merge with the `uniques` (or applying `drop_duplicates` in your example), one needs to first calculate the whole hashtable for the calculation of the `uniques`, and *then* recalculate it for the merge.

This was not as cleanly delineated as it could have been:
* reconstruction for `DataFrame` needs to be handled as well (whether in `drop_du

[2018-10-29 20:26] TomAugspurger commented on #23119
Pickle is just a protocol. For large datasets, there's no reason that msgpack would be much faster than pickle. You're welcome to profile pandas' pickle serialization to see if that can be improved.

[2018-10-29 20:28] TomAugspurger commented on #19602
Still open. @vaibhawc can you investigate the issue and make a PR?

[2018-10-29 23:14] WillAyd commented on #23412
Do you have a way of figuring out how long individual benchmarks are running? IIRC there is a `setup_cache` method which may make sense to use in place of the normal `setup` if it yields the same info yet saves  on unnecessary setup time with some benchmarks

[2018-10-30 00:04] gfyoung commented on #23410
cc @jreback @toobaz

@skatenerd : Thanks for reporting this!  Do you mind also sharing the code you used to collect / plot the graph?  Also, does this behavior change if you use `master`?

[2018-10-30 00:12] skatenerd commented on #23410
I'm just using [memory_profiler](https://github.com/pythonprofilers/memory_profiler), invoking `mprof run myscript.py`.  Afterwards, I view the plot with `mprof plot`.

I'll check this against `master` first thing in the morning!

[2018-10-30 03:40] sinhrks opened #23417 "TST: Reorganize Frame/Series ops tests"
Currently, similar tests for DataFrame and Series are written in either `test_arithmetic.py` or `test_operators.py`.

How about merging them, or split them to based on operators (like `test_op_arithmetic`, `test_op_comparison` and `test_op_unary`).

[2018-10-30 08:03] vaibhawc commented on #19602
My issue was resolved by what @stuz5000 suggested. Though I didn't quite understand how it happened.
:| Should I make a PR?

[2018-10-30 11:42] #23241 closed

[2018-10-30 11:46] ediphy-dwild commented on #7001
for some additional context - sometimes the user may not know they are dealing with a bool type. this may occur when performing a groupby on the result of pd.get_dummies, which may return columns of type uint8, but not always. if get_dummies returns a uint16, the issue above is not triggered, and dummies_result.groupby(...).sum() returns int types. if any of the counts in dummies is small enough,

[2018-10-30 12:29] #9031 closed

[2018-10-30 12:52] #23352 closed

[2018-10-30 13:50] Liam3851 commented on #23410
Does it behave the same way with a non-MultiIndex? If MultiIndex only this might be related to #23035 and #23047.

[2018-10-30 14:18] TimoRoth opened #23419 "netCDF4 / cftime real_datetime object is not supported"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

NetCDF4 is giving us arrays with cftime.real_datetime objects in them, which leads to the following error:

[code]

#### Expected Output

Well, not an error would be nice.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.1.final.0
python-bits: 64

[2018-10-30 15:17] skatenerd commented on #23410
@Liam3851 @gfyoung

The memory leak goes away if I stop using a MultiIndex.  Also, if I *do* use a MultiIndex, but I also downgrade numpy, the memory leak also goes away.

I'm struggling to install the `release` branch of pandas locally, but I think the above information is enough to tell us that this ticket is indeed related to the two you linked.

[2018-10-30 15:49] jreback commented on #23410
there is another issue that raises this
it is a bug in numpy 1.15
though fixed i think in 1.15.3

[2018-10-30 15:55] jbrockmendel commented on #23419
I’m guessing these subclass datetime.datetime?

[2018-10-30 16:04] skatenerd commented on #23410
Closing because this is essentially a duplicate

[2018-10-30 16:04] #23410 closed

[2018-10-30 16:57] gfyoung commented on #23419
IIUC, this looks like an ask to support another class object for indexing purposes.  Not sure if that is something we want to do *per se*...

cc @jreback

[2018-10-30 17:00] fmaussion commented on #23419
cc @spencerkclark @jhamman as developers of cftime (https://github.com/Unidata/cftime) - indeed I'm not sure if this is a pandas issue or a cftime issue...

[2018-10-30 17:06] gfyoung commented on #23369
@jreback : Ah, interesting...to what extent is this behavior documented?

[2018-10-30 17:10] jbrockmendel commented on #23419
It looks like `real_datetime` does subclass `datetime.datetime`.  The issue is caused by the fact that pandas' timestamp-conversion functions uses a heuristic that assumes that any datetime-subclass is a `pd.Timestamp`.

@TimoRoth can you try pinning a `nanosecond = 0` attribute to `real_datetime` and see if that solves the problem?

[2018-10-30 17:18] jhamman commented on #23419
@spencerkclark is going to be the definitive solution here. He wrote the [CFTimeIndex](http://xarray.pydata.org/en/latest/generated/xarray.CFTimeIndex.html#xarray.CFTimeIndex) to provide the sort of functionality that @TimoRoth is trying to achieve here.

[2018-10-30 17:42] h-vetinari opened #23421 "API: fix corner cases of lib.infer_dtype"
Encountering this while working on #23167

There a few inconsistencies in `pandas._libs.lib.infer_dtype`, e.g.
[code]
and similarly for
[code]

In the context of object columns, an all-NA column with `skipna=True` should definitely not return `'floating'` (imagine a column of strings where all values happen to be missing for a given selection / after a join / whatever). I'd argue that `'empty'` al

[2018-10-30 18:12] jreback commented on #23421
there is an issue about this

empty Series are by definition floating currently

[2018-10-30 18:21] jreback commented on #23369
i am not sure what needs to be documented here; this is actually an implementation detaik

[2018-10-30 18:47] gfyoung commented on #23369
Ah, okay, fair enough.  Just checking.

[2018-10-30 18:54] TimoRoth commented on #23419
I added "if not hasattr(t, 'nanosecond'): t.nanosecond = 0" and it now runs through smoothly.

An idea I would have to address this on the pandas side would be to replace PyDateTime_CheckExact(val) check at
https://github.com/pandas-dev/pandas/blob/7191af9b47f6f57991abdb20625d9563877370a2/pandas/_libs/tslib.pyx#L539
with a hasattr(val, 'nanosecond'), assuming that's possible in that context.

[2018-10-30 19:05] jbrockmendel commented on #23419
We considered that and decided against it because of the performance impact; `hasattr` is a python call whereas `PyDateTime_CheckExact` is a C call.

We may be able to figure out a C-speed way to do a check equivalent to `isinstance(obj, _Timestamp)`.

[2018-10-30 19:56] spencerkclark commented on #23419
Yes, @TimoRoth, I would recommend trying an `xarray.CFTimeIndex`.  The one caveat is that it requires using purely objects that inherit from `cftime.datetime` objects (which mimic `datetime.datetime` objects, but don't ultimately inherit from them), but this is easily accomplished in recent versions of cftime which include an `only_use_cftime_datetimes` argument to `num2date`.  Here's a short exam

[2018-10-30 21:45] jreback commented on #23421
https://github.com/pandas-dev/pandas/issues/17261

[2018-10-30 22:34] robbuckley opened #23424 "build failure with Xcode 10 - stdlibc++ not supported anymore"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I setup a dev environment on Mac OS 10.13 according to https://pandas.pydata.org/pandas-docs/stable/contributing.html#creating-a-development-environment and all was well

Upgraded to 10.14 (mojave) and Xcode 10, and now i get the above failure.

[Xcode 10 release notes](https://developer.apple.com/documentation

[2018-10-30 22:47] TomAugspurger commented on #23424
Another contributor fixed that with `xcode select --install`. Does that work for  you?

[2018-10-30 22:55] WillAyd commented on #23424
Couldn't reproduce this on Mojave with Xcode 10.0 - let us know if the above suggestion doesn't fix it

[2018-10-30 23:08] jbrockmendel commented on #23356
FWIW I find tox useful for projects with short-running test suites and no formal CI.

Is the existing tox.ini file usable/useful in its current state?  Only real opinion here is that it should be either maintained or removed.

[2018-10-30 23:09] TomAugspurger commented on #23411
I just tried with 0.23.4 and it's indeed broken. But it works on master so it must have been fixed in the interim.

If you're interested, you can try pulling down master to see if things work. Let me know if not and we'll reopen.

[2018-10-30 23:09] #23411 closed

[2018-10-30 23:13] h-vetinari commented on #23421
@jreback from #23422

this is as expected behavior

Also responding here as requested. Even if expected, this is inconsistent, see
[code]
It's related, but different from the issue you linked: #17261

The second aspect is an oversight of #17066. All-NA object column + skipna=True should clearly not return 'floating' (and this is causing errors in #23167).

[2018-10-31 00:43] robbuckley commented on #23424
@TomAugspurger i already did that, to fix another issue. Now when I enter `xcode-select --install` i get in response:
`xcode-select: error: command line tools are already installed, use "Software Update" to install updates`

I've updated to xcode 10.1, the issue is still there. Tomorrow I'll try to install Xcode  9 again.

Might there be a case for moving to libc++ anyway ?

[2018-10-31 05:10] make-it-happen-p commented on #23397
The issue is resolved . thanks @Piyushohri1  for advice . Actually i have checked there was no engine to run the parquet command . I installed pyarrow and now the program runs just fine .

[2018-10-31 05:10] #23397 closed

[2018-10-31 07:16] jchia commented on #21664
This issue forms a nice pair with #17382. When your mean aggregation involves a timedelta column, the timedelta column silently disappears.

[2018-10-31 10:41] Liorin commented on #22648
Michael - just to be sure: can you clone any other github repo on this machine?
Did you clone the pandas repo before? One thing you can try is to remove this file in your own fork and try cloning without it.
I cloned your fork on my Ubuntu and did not have any problems.

[2018-10-31 15:38] eugenbobrov opened #23428 "Series' .get method doesn`t fill missing values with defaults while multiple indexing"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output
[code]

#### Current Output
FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

[code]

#### Problem description

I solve one NLP task, where it is need to get transformation from words to its indexes. And when algorith

[2018-10-31 16:13] afonit opened #23429 "when using dark theme and background_gradient - font should go to black?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Currently when switching to jupyter lab's dark theme the pandas table output automatically switches to white text which is quite nice.
When applying a style with a color gradient, I have seen more often than not that a black font for the text would be nice.

I don't think there is any right answer here - because

[2018-10-31 17:12] dgrahn commented on #11166
Has anyone investigated this issue? It's killing performance when using read_csv in a keras generator.

[2018-10-31 18:30] igorfassen commented on #23138
I've added some checks in `validate_docstrings.py`, and some corresponding tests.

i've created the following pull request : #23432

(sorry, i'm not very familiar with github, i hope I've done this the right way...)

[2018-10-31 19:13] TomAugspurger commented on #19602
Sure, give that a shot.

[2018-10-31 19:40] WillAyd commented on #11166
The original data provided is no longer available so the issue is not reproducible. Closing as it's not clear what the issue is, but @dgrahn or anyone else if you can provide a reproducible example we can reopen

[2018-10-31 19:40] #11166 closed

[2018-10-31 19:43] WillAyd commented on #23429
Have you tried the `low` and `high` parameters? These are documented as being helpful in these types of situations:

http://pandas.pydata.org/pandas-docs/stable/style.html#Builtin-Styles

[2018-10-31 19:58] FHaase commented on #23356
Well it took me quite some time to get the project running. I looked in the contribution-guide and although I thought I followed everything in the guide, however I missed something, had wrong dependencies (IPython) so tests, building the documentation etc. did not run smoothly.

Right now I found:
* `./doc/make.py` - has to run in ./doc folder
* `./ci/code_checks.sh` - works only when in root dire

[2018-10-31 20:18] gfyoung commented on #23428
cc @toobaz

[2018-11-01 00:09] robbuckley commented on #23424
hi,

i managed to get it building by deleting Xcode, and dowloading + installing Xcode 9.4.1 Command Line Tools from the Apple Developer website.

There is still something funny going on, because I then installed Xcode 10 Command Line Tools (after first renaming the old ones at `/Library/Developer/CommandLineTools`). While I could use `sudo xcode-select -s <path>` to switch between the 2 versions,

[2018-11-01 00:15] jbrockmendel opened #23437 "ENH: empty() method for EA/Series/Index"
There are a few places where we need an empty array-like of the same type+dtype as self.  e.g. in #23431 I used `self._data[:0]`.  A dedicated `empty()` method might pretty that up.

https://github.com/pandas-dev/pandas/pull/23431#discussion_r229905762

[2018-11-01 00:34] jreback commented on #23428
``.get()`` is a very specific function, you are attempting to expand this to a full fledged indexer. we already have. too many.

try this for idiomatic pandas.

[code]

[2018-11-01 00:34] #23428 closed

[2018-11-01 00:35] #23372 closed

[2018-11-01 00:36] thequackdaddy opened #23438 "Converting series of dates to Periods"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A pandas series of datetimes can't be easily converted to PeriodIndexes anymore. These work under older versions of pandas, but fail now on GitHub's master.

#### Expected Output

Just don't fail...

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6

[2018-11-01 00:38] #19589 closed

[2018-11-01 00:50] #21939 closed

[2018-11-01 01:06] gfyoung commented on #23437
Reminds me a little of #549.

[2018-11-01 01:07] gfyoung commented on #23438
@thequackdaddy : Thanks for reporting this!  Can you tell us which version it this last worked?

cc @jreback @mroeschke

[2018-11-01 01:09] #22447 closed

[2018-11-01 01:10] thequackdaddy commented on #23438
It works in 0.23.4

[2018-11-01 01:48] jreback commented on #23438
cc @jbrockmendel

[2018-11-01 05:59] jschendel opened #23440 "BUG: IntervalTree construction fails for 32bit when n_elements > leaf_size"
See https://travis-ci.org/MacPython/pandas-wheels/jobs/448674095 for some specific test failures.  The basic setup on a 32bit system is along the lines of:
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`IntervalTree` construction fails for 32bit when

#### Expected Output
I'd expect construction to be successful.

[2018-11-01 06:18] mroeschke commented on #8438
Closed by #23405

[2018-11-01 06:18] #8438 closed

[2018-11-01 06:30] mroeschke commented on #23438
Your `to_period` example doesn't work for me in 0.23.4 (and don't think should have ever worked?)

[code]

[2018-11-01 06:38] gfyoung commented on #23438
@mroeschke : As I mentioned [above](https://github.com/pandas-dev/pandas/issues/23438#issuecomment-434918814), I can run through the example perfectly when using `0.23.4`.

[2018-11-01 07:12] jschendel commented on #23438
@gfyoung : I get the same error as @mroeschke when trying to use the `to_period` method without the `.dt` accessor on both 0.23.4 and master.  Using the `.dt` accessor works fine for me on both 0.23.4 and master.

I think raising an error is the correct behavior based on the docs for [`Series.to_period`](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Series.to_period.html);

[2018-11-01 07:18] gfyoung commented on #23438
@mroeschke @jschendel : Ah, so I see where we're getting confused.

There are two lines of code that are breaking:

* `pd.PeriodIndex(dates, freq='M')`
* `dates.to_period('M')`

I agree that `dates.to_period('M')` does not look like correct usage (I apologize, I overlooked this one myself),  but what about the first one?

[2018-11-01 08:20] ODemidenko commented on #21329
Another issue for us is that it is unclear how to implement it efficiently with a custom function. So, supporting filling collections (lists, sets, dicts) actually also resolves performance issue here.

Otherwise we are using such a func, which is likely to be slower, than potential standard implementation:
[code]
We have so many cases when we needed to do `df.fillna({'col_name': []})` in our code

[2018-11-01 09:57] mau21mau opened #23444 "'ascii' codec can't decode byte 0xd1 in position 2: ordinal not in range(128)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm trying to read a xls file with `read_excel()` method and it throws the error on the title. If I try to read the file with xlrd lib I can fix the error by providing the parameter `encoding_override` with the file encoding. I've seen some Stackoverflow answers and all of them recommend using an `encoding` par

[2018-11-01 10:46] afonit commented on #23429
@WillAyd Thank you for taking the time to educate me on that.
Given how I framed the question - the `low` and `high` parameters do resolve it so I will close the issue.

I do think it would be convenient to change the font color at times, I will see if there is a convenient way to make that a parameter and have that discussion in a pull request.

Thanks again for taking the time.

[2018-11-01 10:46] #23429 closed

[2018-11-01 12:02] #23053 closed

[2018-11-01 12:03] #21639 closed

[2018-11-01 12:26] chrism2671 opened #23445 "Parameter nrows is not documented in DataFrame.from_records()"
`classmethod DataFrame.from_records(data, index=None, exclude=None, columns=None, coerce_float=False, nrows=None)`

The documentation is lacking an explanation for the nrows paramater.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.from_records.html

[2018-11-01 12:36] vaibhawc commented on #19602
Ok, could you please help me with base and compare branch?

[2018-11-01 13:11] denismakogon opened #23446 "Unable to use S3 presigned HTTP GET URL while attempting to create a dataframe from URL"
#### Code Sample, a copy-pastable example if possible

[code]

where the URL is:
[code]
#### Problem description

Well, starting 0.18 AFAIK pandas allows to read dataframes from the URLs. So, presigned S3 URLs must not be an exception.

Unfortunately, with S3 presigned URLs pandas fails to read the dataframe and instead of raising any kinds or an exceptions it just returns an empty dataset.
At fir

[2018-11-01 13:40] nickwoelk opened #23447 "to_datetime gives todays date when coercing errors of time values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When coercing the list of time values I expect all of them to return NaT. However, a few of these come back with today's date. I tried yesterday and the returned value was:
[code]
Today I get:
[code]
#### Expected Output
All time values should return NaT when coerced

#### Output of ``pd.show_versions()``

<det

[2018-11-01 14:07] jreback commented on #23445
iirc this is a duplicate issue can u look

[2018-11-01 15:21] chrism2671 commented on #23445
I did check before posting.

[2018-11-01 15:30] pv commented on #23412
@jbrockmendel: the interleaved benchmarks were already implemented.

[2018-11-01 16:54] pv commented on #23412
On a laptops I'd recommend to pin the CPU frequency/performance settings to get stable results https://asv.readthedocs.io/en/stable/tuning.html#tuning-machines-for-benchmarking  (and on linux disable thermald which also tunes the frequencies on the fly).

How much collecting statistics across multiple runs helps depends on how large the CPU frequency fluctuations are. The default setting for asv i

[2018-11-01 17:06] jreback commented on #23440
@jschendel was #23442 meant to close this? or just a reminder issue?

[2018-11-01 17:06] #12242 closed

[2018-11-01 17:17] wavexx opened #23449 "Inconsistent date parsing between to_datetime / pd.Timestamp and slicing"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the sample code we generate a Series with a DatetimeIndex which has one value per day. We then try to index the same time range (provided in the same format) in three ways which should lead to identical results.

Unfortunately, the output is as follows:

[code]

String-based indexing using the most obvious m

[2018-11-01 17:40] mroeschke commented on #23447
I am guessing this is hitting our datutil parser as it will interpret these as times corresponding to the current date:

[code]

In general we try to stay consistent with dateutil, but I can see how this is a surprising (undocumented) behavior. Could use some discussion on whether we should just document this case (which I am in more favor of) or should coerce these to `NaT`.

[2018-11-01 17:56] gfyoung commented on #23444
That seems reasonable to me.  We have an encoding parameter in `read_csv`, so adding it to `read_excel` would be consistent.

[2018-11-01 17:59] gfyoung commented on #23445
Seems like a relatively trivial documentation issue.  Should try to add before next release.

@chrism2671 : You are more than welcome to tackle this if you want!

[2018-11-01 18:04] gfyoung commented on #23446
That's really weird...I wonder if it's the combination of `Docker` and `S3` that is causing the issue.  Investigation would be useful to determine what the root cause is.

[2018-11-01 20:08] matt-seaton opened #23451 "Can't put date in Series if index is a string longer than 1 character"
#### Code Sample

[code]
#### Problem description

I cannot put a date object in a Series if the index is a string with len > 1.
It works if it's only a single character.  Other types seem to work.  I've only seen the problem with dates.

[2018-11-01 20:33] nickwoelk commented on #23447
Thanks for the update. It's strange that it is only happening for certain rows. I've created a workaround on my end using an if statement to prevent the to.datetime from affecting rows without a date.

[2018-11-01 20:39] mroeschke commented on #23447
Well the rows that have "time looking" values are getting parsed like this. As you can see, rows where the first value is < 23 are getting parsed and the rest to NaT

[2018-11-01 20:45] mroeschke commented on #23451
This looks similar to https://github.com/pandas-dev/pandas/issues/12862, and I can reproduce this in master as well.

[2018-11-01 21:11] denismakogon commented on #23446
I can write a script that will test this behavior.

[2018-11-01 21:31] paulbalegend commented on #9093
Any activity on this?  I would like to add a vote for this feature.

I think it would make most sense if the default behavior was to intelligently set ylabels--regardless of if it's a standard plot, a `subplots=True` plot, a `secondary_y=whatever` plot--instead of the way it automatically inserts a legend in all of these cases.

[2018-11-01 21:39] tmelconian opened #23452 "reorder_categories() on categorical index of interval values produces bizarre results"
#### Problem description

Categorical indexes where the individual values are of type interval produce bizarre results when reordered with `.reorder_categories`.  This important because these indexes and columns are produced by `.cut`, so they occur in analysis even if the user never directly creates them.

#### Minimal Example

With strings, this works as expected:
[code]

[code]

With intervals,

[2018-11-01 21:56] TomAugspurger commented on #9093
I'd recommend staring small and just add support for overriding the default
xlablel / ylabel.

On Thu, Nov 1, 2018 at 2:32 PM paulbalegend <notifications@github.com>
wrote:

[2018-11-01 22:34] ArtinSarraf commented on #22420
Please see [this comment](https://github.com/pandas-dev/pandas/pull/23141#issuecomment-429647050) for a justification of this feature.

Please see [this comment](https://github.com/pandas-dev/pandas/pull/23141#issuecomment-430083542) for a demonstration of the new vs current way to do specific tasks.

[2018-11-01 22:42] alimcmaster1 opened #23453 "Azure CI should fail on test failures"
As per title I imagine this is something we would like?

This [CI build](https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=2029&view=ms.vss-test-web.test-result-details) seems to have status green on Azure despite the fact tests seem to be failing on MacOS-35, or am I missing something?

Issue found on [this PR](https://github.com/pandas-dev/pandas/pull/23361).

This seems to be relat

[2018-11-01 22:43] TomAugspurger commented on #19602
Contributing guidelines are at http://pandas-docs.github.io/pandas-docs-travis/contributing.html. Post if you have any issues.

[2018-11-01 22:44] jschendel commented on #23452
Thanks, I think the root cause of this issue is a bug in `IntervalIndex.get_indexer`, as `CategoricalIndex` eventually calls this if you trace through the code:
[code]
The output in `Out[6]` should be `[2, 1, 0]`.

Coincidentally, I'm currently working on another issue that fixes the bug above (among other things), which does indeed fix the issue you've described.

On my WIP branch:
[code]

Not qu

[2018-11-02 01:11] paulvija opened #23455 "pd.read_fwf ignoring a space when reading space delimited file"
#### Code Sample
[code]
#### Problem description
temperature_lst is a space delimited file, when using read_fwf to read this in to a dataframe some space is truncated in column 'v5'. This results in '-1.02' becoming just '1.02'.
Is this is a bug?

However, this works when 'widths' is defined. In my case, there are multiple files that are read in this way, so using 'widths' can be tedious.

[code]

[2018-11-02 02:49] dsaxton commented on #23455
Can you rework your example so that it's valid code?  (In any case if I try creating a sample file with the contents of temperature_lst I seem to get a correct result, so it may be that the file you're referencing is malformed.)

[2018-11-02 03:47] jschendel commented on #23440
This is a reminder issue; created it to give me an issue number to reference in the skipped tests of #23442, and to provide more detail in case anyone else sees the comment in the tests.

[2018-11-02 09:04] jorisvandenbossche commented on #23356
We should maybe already start with a better summary checklist in the contributing guidelines of which things to check when submitting a PR / updating a PR.

[2018-11-02 14:15] #23324 closed

[2018-11-02 15:28] mroeschke opened #23458 "DOC: Template Timestamp & NaT docstrings"
Currently some NaT's method docstrings directly mirror Timestamp's method docstrings via copy and pasting.

e.g.

https://github.com/pandas-dev/pandas/blob/4f717551b8e49ecd978bb4f5a985d6f6a96d86e9/pandas/_libs/tslibs/timestamps.pyx#L646-L650

https://github.com/pandas-dev/pandas/blob/4f717551b8e49ecd978bb4f5a985d6f6a96d86e9/pandas/_libs/tslibs/nattype.pyx#L368-L372

We don't want to import Timesta

[2018-11-02 16:11] bvaucher opened #23459 "ewm.cov() returning multi-indexed dataframe instead of single matrix"
The following code returns a multi-indexed dataframe instead of single matrix (as suggested in doc)
Moreover, the indexing if the matrices seems to be inverted (oldest matrix coming first)

[code]

[2018-11-02 16:45] TomAugspurger commented on #23459
Which docs? The EWM.cov docs note that a dataframe with a multi-index can be returned

[code]

Can you explain your expected output?

[2018-11-02 16:48] TomAugspurger commented on #23455
See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for writing examples. You should be able to use StringIO to make an example, no need for a separate text file.

[2018-11-02 18:19] datapythonista commented on #23115
@jreback can you help me understand about the difference between dev dependencies and optional dependencies? Thanks!

[2018-11-02 18:23] DiegoAlbertoTorres opened #23461 "df.groupby(...).transform(func) breaks when func renames input df"
Calling `df.groupby(...).transform(func)` breaks when `func` is capable of taking in a `pd.DataFrame` but renames its columns.

#### Code sample

[code]
#### Problem description

The current behavior gives wrong results (with nan) for everything except the first group. This happens even when `func` can be called successfully with each column and not return any nans.

This problem is present in mas

[2018-11-02 18:40] dhimmel commented on #23047
Downgrading to numpy 1.14.6 fixed the issue for our computation, so I'll close this issue.

[2018-11-02 18:40] #23047 closed

[2018-11-02 18:50] wavexx commented on #23449
Uhm, no, LC_TIME has nothing to do with it. However I noticed that I can reproduce the issue on a long-lived session, but not on a short-lived one. There's something else going on.. I'll dig deeper.

[2018-11-02 19:36] TomAugspurger commented on #23115
probably not worth the complexity.

I have a slight preference for providing both. But auto-generating is fine as well. Really, I think we should just have a code check that runs convert_deps.py and ensures that there's no change in the dependencies (to ensure we don't add dependencies to the auto-generated file).

I value having a single `environment.yaml` per job. It's sometimes enough to reprod

[2018-11-02 19:43] TomAugspurger commented on #23362
With #23404 we're down to 2x slower

[code]

I looked very briefly at the snakeviz profile after that was merged. A decent chunk of it was in creating an Index. That's necessarily going to slow `pd.concat` down, but could perhaps be improved a bit.

[2018-11-02 20:42] jreback commented on #23115
the CI are already way simpler than before tom refactored

am -1 on changing this anymore
we purposely test many scenarios and are adequately coveraged now

[2018-11-02 21:33] sagarchaturvedi1 commented on #21651
I am also facing this issue. My column contained date string, i parsed it using dateutil parser. I created 2 new columns for date and time. Then I grouped by an id column and date and trying to sort by time. Here is the code:

`agg_data = data.groupby(["_id","updateDate"]).apply(lambda x: x.sort_values(["updateTime"]))`

I get following error -
ValueError: Key 2018-06-09 00:00:00 not in level Inde

[2018-11-02 21:42] TomAugspurger commented on #23212
That's fine. Should PeriodArray be refactored to remove freq, and instead
take a dtype? Then we'd have a consistent

- data (ndarray)
- dtype (PeriodDtype, DatetimeTZDtype, datetime64[ns]
- copy

On Fri, Nov 2, 2018 at 2:23 PM jbrockmendel <notifications@github.com>
wrote:

[2018-11-02 22:27] alporter08 opened #23467 "df.rolling(...).sum() on DataFrame containing string columns returns a TypeError"
#### Code Sample

[code]
Original dataframe:

  timestamp | B | id
-- | -- | --
2013-01-01 09:00:00 | 0.0 | abcd
2013-01-01 09:00:02 | 1.0 | abcd
2013-01-01 09:00:03 | 2.0 | abcd
2013-01-01 09:00:05 | NaN | abcd
2013-01-01 09:00:06 | 4.0 | abcd

#### Problem description

Rolling used to work in prior versions (e.g. 0.20.3) on a dataframe that included string columns.  When running the above code i

[2018-11-02 22:47] jbrockmendel commented on #23212
I don't think so; the others still take both freq and dtype.

[2018-11-02 22:54] TomAugspurger commented on #23212
Mmm fair point.

________________________________
From: jbrockmendel <notifications@github.com>
Sent: Friday, November 2, 2018 3:47:17 PM
To: pandas-dev/pandas
Cc: Tom Augspurger; Mention
Subject: Re: [pandas-dev/pandas] API: Index and Array constructors design (#23212)

Should PeriodArray be refactored to remove freq

I don't think so; the others still take both freq and dtype.

—
You are receivi

[2018-11-02 23:13] mroeschke commented on #23467
Thanks for the report. Another user reported a similar issue https://github.com/pandas-dev/pandas/issues/23002. Closing in favor of that issue, but feel free to chime in there.

[2018-11-02 23:13] #23467 closed

[2018-11-02 23:28] jbrockmendel commented on #23212
Great.  I'll make a PR for this edit after #23433 goes through.

[2018-11-03 01:10] jbrockmendel commented on #23458
I don’t think this is going to be viable anytime soon.  Maybe as a second-best we could have tests that they are in sync?

[2018-11-03 01:12] mroeschke commented on #23458
I think we already have tests that they are in sync, but this is just a nice to have for the future.

[2018-11-03 04:27] abhi-0396 opened #23470 "Feature suggestion: unnest function for pandas"
It would really helpful if there's a function for unnesting  lists in columns into it's own row while repeating other rows on length of the unnest.  I know there are ways to solving this but a function would be a good idea.

A small example to demonstrate the unnest function.
[code]
**To**,

[code]

[2018-11-03 08:44] datapythonista commented on #23115
Thanks for the feedback.

Besides generating the dependencies files automatically, that I trust you experience an may not be a good idea, it may still be worth cleaning a bit. May be separating the yaml files from the scripts, unifying the scripts in ci and scripts, which to me seems somehow arbitrary, making it simpler and more standard for users to set up pandas.

I'll try to open a PR, so we do

[2018-11-03 11:59] datapythonista commented on #23115
I've been taking a look at the dependencies, and I generated a spreadsheet with what we have in each file.

I see couple of things that I'm not sure are intentional:
- The `azure-37-locale` file is using Python 3.6
- In most cases, for Python 2.7 we use pytz=2013b, but not in aure-windows-27 (in travis-27-locale we have it twice, with and without the version)
- I think python-dateutil should alway

[2018-11-03 13:12] #9462 closed

[2018-11-03 13:52] jreback commented on #23470
dupicate of https://github.com/pandas-dev/pandas/issues/16538

this is typically called expode. I suppose would take an implemetation.

[2018-11-03 13:52] #23470 closed

[2018-11-03 13:56] #15475 closed

[2018-11-03 13:58] #23438 closed

[2018-11-03 14:36] #22840 closed

[2018-11-03 14:38] jbrockmendel commented on #23185
Jotting down some thoughts on how to move forward on implementing DatetimeArray/TimedeltaArray (DTA/TDA).  In particular thinking about reasonably-scoped steps.

1) Nail down constructors.  De-duplicate.  Handle all the relevant cases so we can add DTA/TDA to the parametrized `box` in arithmetic tests.
2) "eventually" things: ABC classes, `__repr__`, `tm.assert_foo_equals`
3) offsets arithmetic wi

[2018-11-03 14:40] abhi-0396 commented on #23470
Actually it's called as unnest in R so I've used that as reference. Thanks for pointing me to the duplicate. It's possible to solve but requires multiple chained functions to achieve and is less efficient. A generalized function would be really good to have in pandas.

[2018-11-03 16:34] gte620v opened #23473 "Use expanduser when writing dataframes to files?"
#### Code Sample, a copy-pastable example if possible

The following `to_XXX` do not work:
[code]
#### Problem description

`to_XXX` do not work when the path argument includes a `~`.  This may be fine, but it is strange that dataframe *reading* from files does support `~`.    i.e. `pd.read_json('~/df.json')` works fine.

#### Expected Output
I expect `to_json` and friends to support expanding the

[2018-11-03 16:52] jangorecki commented on #3729
Is there any chance to have this solved for 0.24.0?

[2018-11-03 17:13] jreback commented on #3729
there is an open PR but needs a fair amount of work

happy to have a resubmitted

[2018-11-03 18:48] jreback commented on #14627
no objection to dispatching on a string to bins
if the numpy version is acceptable

a PR would be great

[2018-11-03 18:53] JustinZhengBC commented on #23424
Not sure if it's the same issue, but I also couldn't build after updating to mojave (I got my error at a different point though). I fixed it by adding the argument `extra_link_args=["-stdlib=libc++", "-mmacosx-version-min=10.9"]` to the initialization of `Extension` object `obj` here.

https://github.com/pandas-dev/pandas/blob/d78bd7a65f87022bae5021d36c8656c0ea5a7b76/setup.py#L672-L680

Credit for

[2018-11-03 19:20] bla1089 commented on #14627
What would I need to do in the way of testing?

---------------------
B. L. Alterman
Candidate, Applied Physics
Solar and Heliospheric Research Group
Climate and Space Sciences and Engineering
University of Michigan
balterma@umich.edu

On Sat, Nov 3, 2018 at 2:48 PM Jeff Reback <notifications@github.com> wrote:

[2018-11-03 19:32] jreback commented on #14627
follow along in test_tile.py how we test the bins argument

[2018-11-03 21:22] jbrockmendel opened #23475 "Clarify (or de-duplicate) to_offset vs Period._maybe_convert_freq"
Period._maybe_convert_freq calls to_offset, so I guess is a strict superset of its functionality?  The difference should be documented along with what use case calls for which.

Also it isn't clear that _maybe_convert_freq needs to be a class method, could just be a function.

[2018-11-04 02:04] bla1089 commented on #14627
Do you know of a simple way to calculate the precision at which we would need to store the `np. histogram_bin_edges` to maintain unique edges?

[2018-11-04 02:38] mroeschke commented on #17410
I looked into this briefly in https://github.com/mroeschke/pandas/tree/non_object_parsing  and was able to get it down ~2x from master by getting rid of casting to object, but it's still slower than not providing a format:

[code]

Given that this branch can provide a slowdown, it might be worth removing this path for now.

[2018-11-04 02:40] jreback commented on #14627
not really sure what you mean

[2018-11-04 02:44] bla1089 commented on #14627
From what I can tell, `pd.cut` creates `Categorical`s with left and right edges that are stored to `precision`, which defaults to 3 decimal places. What if binning routine returns edges that are duplicate at that precision and we need a precision of 4 or 5 decimal places to ensure each edge is unique? How can we calculate that precision, the minimal precision at which the bin edges are unique?

[2018-11-04 02:46] jreback commented on #17410
this used to be way faster than naive parsing
something changed -

[2018-11-04 02:48] jreback commented on #14627
and your example of this is ?

[2018-11-04 03:16] nackerley opened #23478 "Can't combine DatetimeIndex MultiIndex with numeric MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Output

<details>

[code]

</details>

#### Problem description

I expect that you should be able to combine any MultiIndex of any type, as long as the number of levels matches. It turns out you can combine DatetimeIndex with str, but if you try to combine it with with int or float a baffling TypeError is raised.

At the moment th

[2018-11-04 06:54] datapythonista opened #23481 "Make validate_docstrings.py ready for the CI"
Since #22408 was merged, `validate_docstrings.py` is able to validate all docstrings when called without parameters, returning the output as a json file.

Next step would be to make the script ready to be used in the CI, so we can fail when there are validation errors in the changes to a docstring.

The main changes required are:
- Make the script return an exit status of `0` when no error has bee

[2018-11-04 07:10] datapythonista opened #23483 "DOC: Validate space before colon in the parameters section of the docstrings"
In the docstrings, parameters are documented like this:
[code]

It is common that the space before the colon is not present, and in that case `validate_docstrings.py` reports:
- `Parameter "name: str" has no type`

Which is confusing, and new contributors may have problems understanding what the problem is. We should validate this specific problem, and report an appropriate error message like `A s

[2018-11-04 07:46] gfyoung commented on #23478
@nackerley : Thanks reporting this!  Admittedly, your use-cases seem a little unusual, but I am uncertain that we should be raising as you said.  Let's get some more feedback before proceeding.

cc @toobaz @jreback

[2018-11-04 10:39] datapythonista opened #23488 "DOC: Detect whether a Returns section is needed in validate_docstrings.py"
One of the validations performed in the docstrings in `validate_docstrings.py` is whether a `Returns` section is present. So far we just check if the `return` word exist in the source code, and if it does, we generate an error if the docsting does not have the documentation section.

But this causes false positives, see this case:
[code]

The `return` keyword is found in the code, so the presence

[2018-11-04 10:43] andrewdalecramer commented on #3729
It's not hard to solve. In fact, it's quite easy. The work is in the testing and such. I ran out of the time I had to do it at the time unfortunately.

I don't see myself getting any free time for it in the next fortnight at least, so if you want to have a go @jangorecki , you're most welcome.

[2018-11-04 10:50] gfyoung commented on #23473
@gte620v : I think that's a perfectly valid enhancement.  Go for it!

[2018-11-04 11:40] gfyoung opened #23489 "Stale Bot for Old Issues and PR's?"
https://probot.github.io/apps/stale/

cc @pandas-dev/pandas-core

(looking at you @jreback in particular, given the herculean task you periodically undertake of closing and pinging stale PR's for further work or rebasing)

xref [PR Management Email Chain](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/pandas-core-team/yCQ5GA3jzpg/LXB9WYAcAQAJ) (internal)

[2018-11-04 13:58] alimcmaster1 commented on #23489
+1 for something like this!

[2018-11-04 14:01] TomAugspurger commented on #23489
I’ve never been a fan of these bots when your issue is the one being closed. Do you know if it can be configured to only do pull requests? We have a big backlog of real issues, that just aren’t a priority.

________________________________
From: gfyoung <notifications@github.com>
Sent: Sunday, November 4, 2018 5:40:27 AM
To: pandas-dev/pandas
Cc: Tom Augspurger; Team mention
Subject: [pandas-dev/p

[2018-11-04 14:04] #23134 closed

[2018-11-04 14:15] alimcmaster1 commented on #23489
@TomAugspurger looking at the [docs](https://github.com/probot/stale) it can be limited to just PRs with something like:

[code]

[2018-11-04 14:29] alimcmaster1 commented on #23334
Thanks all for the contributions so far! Added few more sections - please comment on here if you would like to work on one

[2018-11-04 14:31] alimcmaster1 commented on #23334
@thoo still some remain in the below sections - do you still want to work on these? Thanks for your efforts so far

( ive split up indexes )

pandas/tests/series/
pandas/tests/arrays/
pandas/tests/util/

[2018-11-04 15:01] #20652 closed

[2018-11-04 15:14] thoo commented on #23334
@alimcmaster1  Yes I can do them. Please assign me sections you want me to do.

[2018-11-04 15:16] #21761 closed

[2018-11-04 15:30] thoo commented on #23334
@alimcmaster1 I had already submitted the PRs for those.

[2018-11-04 15:53] #23421 closed

[2018-11-04 15:55] datapythonista commented on #23489
I'm -1 on this. For the PRs labeled with "Docs" or "Style" (around one quarter of the total), the ones I usually monitor, I wouldn't like any bot to label them as stale or close it. The ones I think they are worth closing it doesn't give me any work to close. And it'd be annoying to have to reopen soon (there are many old ones that there is work going on, or I want to finish myself).

[2018-11-04 16:17] jreback commented on #23489
we could configure this to act in a limited fashion
though in reaity just having folks go thru older PRs occasionally is enough

[2018-11-04 17:08] alimcmaster1 commented on #23489
Another potential option out there is gitmate which has features like [automatic label setting](https://docs.gitmate.io/Features/Auto_Labelling/) and [finding duplicate issues](https://docs.gitmate.io/Features/Duplicate_Issues/) - I don't have any first hand experience of using it -but could potentially be useful.

[2018-11-04 17:50] alimcmaster1 commented on #23334
@thoo there is still a few files under those sections - from looking at setup.cfg on master - let us know if you  still want to look at these.

[2018-11-04 17:53] ArtinSarraf opened #23490 "BUG: pd.concat with all Series on axis=1 ignores the `names` argument."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is a problem because the API allows a user to provide a names argument with these input types and rather than throw an error or take the argument into consideration it is ignored. As far as I can tell, there is no reason for the names argument to be ignored, considering the keys are applied correctly, so I

[2018-11-04 18:02] jbrockmendel opened #23491 "BUG: DatetimeIndex cast to object dtype raises/wrong for tzaware"
[code]

I expected these to match `pd.Index(list(dti), dtype=object)` and `np.array(list(dti))`, respectively.

[2018-11-04 18:33] datapythonista opened #23492 "CI: Azure not reporting the end of the build"
I think it's not the first time that happens. In GitHub, Azure is supposed to be "In progress":

https://github.com/pandas-dev/pandas/pull/23471/checks?check_run_id=28679218

But in Azure, the job is actually finished:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=2351&view=logs

Is there anything that we can do about? I guess it's a bug in Azure. I'll leave that PR untouched for

[2018-11-04 19:39] datapythonista opened #23494 "DOC: Fix docstrings of Excel related functions"
The next Excel related functions contain many errors as reported by `scripts/validate_docstrings.py`:
- pandas.read_excel
- pandas.io.formats.style.Styler.to_excel
- Series.to_excel
- DataFrame.to_excel

We should fix them, following our standards: https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

The validation script should not report errors after they are fixed.

[2018-11-04 19:39] gfyoung commented on #23489
In response to many of the comments, I agree with @jreback that we can use it in a limited fashion.  For starters, there is a lag between when the bot adds the `stale` label and when it closes the PR.  Thus, if you are concerned about getting things auto-closed, you can delay the closing for some time.

[2018-11-04 19:47] datapythonista opened #23496 "DOC: Fix docstring of read_csv and related methods"
The next Excel related functions contain many errors as reported by `scripts/validate_docstrings.py`:
- pandas.read_table
- pandas.read_csv
- pandas.read_fwf

We should fix them, following our standards: https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

The validation script should not report errors after they are fixed.

[2018-11-04 20:10] jreback commented on #17410
This patch makes the speed almost the same. But since its just duplicating a lot of paths, maybe just easier to simplify this (e.g. if format is %Y%m%d then just remove the format and parse).

I think this got way slower because of floating point math was introduced (e.g. ``/`` rather than ``//``)
[code]

[2018-11-04 20:10] jreback commented on #17410
of course for this example, ``cache=True`` helps quite a bit :>

[2018-11-04 20:12] #20869 closed

[2018-11-04 20:34] gfyoung commented on #23490
@ArtinSarraf : Good catch!  Feel free to submit your patch as a PR!

[2018-11-04 20:57] thoo commented on #23496
@datapythonista I am going to work on them.

[2018-11-04 20:58] thoo commented on #23334
@alimcmaster1  Sorry. I misunderstood the instruction. Those files are all good. `isort` did nothing on them but I will submit a PR to remove filenames from setup.cfg.

[2018-11-04 20:59] datapythonista commented on #23496
Thanks @thoo

I think it makes sense that the same person does the 3, as they are very similar. But feel free to send separate PRs. That probably will makes things simpler. But up to you.

[2018-11-04 21:00] thoo commented on #23496
Sure I will work on all three.

[2018-11-04 21:28] mroeschke commented on #20380
Looks like this was closed by #22108

[2018-11-04 21:28] #20380 closed

[2018-11-04 21:37] mroeschke commented on #20607
Looks like this was fixed back in v0.20

https://github.com/pandas-dev/pandas/blob/24ab22f75aae1c9b9491c26e6f753814b7d6fd8e/doc/source/whatsnew/v0.20.0.txt#L479

And we have tests for testing timedelta bins with cut.

[2018-11-04 21:37] #20607 closed

[2018-11-04 22:09] jbrockmendel commented on #23185
I have a (local-only ATM) branch that is attempting to do this.  In this branch I add a `_eadata` attribute to the Index classes and dispatch all the relevant methods/properties to that; this lets me keep `_data` as-is and at-least-in-theory leave values/_values etc (and so external behavior) unchanged.  Large sections of the tests are now passing and many of the failures look straightforward to t

[2018-11-04 22:12] ArtinSarraf commented on #23490
@gfyoung - Created the following PR #23499

[2018-11-04 22:46] WillAyd commented on #23481
Makes sense to me. As far as the prefix goes do you see a logical way to target particular modules / package structures? Anything lower than that would probably be too detailed (even module-level might be) so if we identify a package to start could open that as a particular issue for the community to solve as a pre-cursor

[2018-11-04 23:01] WillAyd commented on #23488
Moving our conversation here from the referenced issue. Understood now what you are saying.

Unless we have some kind of code that performs a conditional mutation on an argument would this ever really show up? If not just not sure it's worth the extra complexity

[2018-11-04 23:07] qwhelan commented on #23475
Ditto on the need for some clarity here - I've found that the current setup imposes a pretty substantial overhead on windows. Simply moving an `isinstance()` check into `_maybe_convert_freq()` yields a 35x speedup on windows due to eliminating import overhead, so we probably will want to move `to_import` into cython even if we do not merge the two functions here.

[2018-11-04 23:16] jbrockmendel commented on #23475
Can you clarify what is getting sped up 35x?  And do you mean `to_offset` instead of `to_import`?

[2018-11-04 23:20] qwhelan commented on #23475
Sure, here's the asv benchmarks that improved in #23500 :
[code]

Yep, meant `to_offset()`

[2018-11-05 00:08] timdef commented on #23494
@datapythonista Just got my development environment set up and am working on this. :thumbsup:

[2018-11-05 00:33] datapythonista commented on #23481
My first thought was on using files, as we have for the doctests. Then I realized that we don't get the docstrings from the files by instrospection, but we instead get the list of public objects from the docs as strings. So, my idea is to simply have an `if obj_name.startswith(prefix):`.

But I think the best we can do is start by something simple, and then see in practice if we need anything else

[2018-11-05 01:48] mroeschke commented on #21096
This looks fixed on master and could still use a regression test.

[code]

[2018-11-05 02:03] jbrockmendel opened #23504 "Update Index._values docstring for PeriodArray, IntervalArray"
I’m pretty sure it’s out of date

[2018-11-05 04:02] thoo commented on #23496
@datapythonista
I got a few errors when I run `validate_docstrings.py`.  For instance,

1.
[code]
but I have  the following description.
[code]

2.
Even though the docstring output  from `python validate_docstrings.py pandas.read_csv` doesn't contain more than one blank line , I still keep getting:

[code]
Let me know if you want to see the whole output.

[2018-11-05 04:11] #22643 closed

[2018-11-05 05:52] datapythonista commented on #23496
For 1, I think there is a missing blank line between the name/type line, and the directive. Not sure if that's the cause. But I guess it's related to the `.. deprecated::` directive. You can also do a grep of that directive, see if docstrings containing it for a parameter have the same validation error, and if you think it's a problem in the validation script, ignore the error and create an issue

[2018-11-05 09:12] jorisvandenbossche commented on #23185
You will need to change the `DatetimeBlock` to be a non-consolidatable block, or eventually an ExtensionBlock. Did you already do that?
I was wondering: this might be something we could do first in a separate step / PR?

OK, I see, it is indeed used in `_FrequencyInferer`. I think this class can be assumed to (after the refactor) only get Datetime/TimedeltaArray, and we can always start with using

[2018-11-05 09:30] jondo commented on #16832
My workaround:
[code]
(For some reason, this is also much faster on my current data.)

[2018-11-05 10:41] jorisvandenbossche commented on #23115
I think we should split the discussion in two parts: dependencies for CI vs dependencies for contributors (to set up their local dev environment).

The question you raised above about *"What is the reason for splitting into dev and optional? And are they enough to justify the increased complexity?"* is as far as I know only about the contributor dependencies (and not CI) ?
Also, those `environment

[2018-11-05 10:44] jorisvandenbossche commented on #23115
OK, didn't see your second unnamed sheet .. ;) Because that is doing exactly that. You now did this as exploration, but would you consider something cleaned-up like that as basis for autogeneration?

[2018-11-05 11:02] jorisvandenbossche commented on #23504
Indeed. Will quickly do a PR instead of increasing our issue count :)

[2018-11-05 11:30] datapythonista commented on #23115
I agree on your points. I'm discussing (at least) two things here.

For the contributors dependencies, I don't know of any case of users who install `dev` but not `optional` (and `optional` is creating confusion often with new contributors). I'd respect conda standard and simply provide `environment.yml` with all them in the root of the project (so the environment can be created by simply running

[2018-11-05 11:39] dgrahn commented on #11166
Since GitHub doesn't accept CSVs, I changed the extension to .txt.
Here's the code which will trigger the exception.

[code]

Here's the exception from Windows 10, using Anaconda.

[code]

And the same on RedHat.
[code]

[debug.txt](https://github.com/pandas-dev/pandas/files/2548189/debug.txt)

[2018-11-05 12:09] joshlk commented on #11166
@dgrahn I have downloaded debug.txt and I get the following if you run `pd.read_csv('debug.xt', header=None)` on a mac:

Which is different from the `Buffer overflow caught` error originally described.

I have inspected the debug.txt file and the first two lines have 204 columns but the 3rd line has 2504 columns. This would make the file unparsable and explains why an error is thrown.

Is this exp

[2018-11-05 12:16] dgrahn commented on #11166
@joshlk Did you use the `names=range(2504)` option as described in the comment above?

[2018-11-05 12:35] dgrahn commented on #11166
@joshlk I could open a separate issue if that would be preferred.

[2018-11-05 12:37] toobaz commented on #23478
Can't reproduce with master (although some different errors pop out under python 2). Might be related to #22072 (just a guess, can't check right now).

[2018-11-05 12:41] TomAugspurger commented on #23185
Catching up on this now after a few days away. Is this the recommended place to start?

Feel free to take over https://github.com/pandas-dev/pandas/projects/4

Don't we inherit tests for those from BaseArithmeticTests when we implement the EA interface? Or are you saying we don't test them currently?

What are you plans for blocks right now? Will those all become non-consolidatable / removed?

[2018-11-05 13:02] FHaase opened #23508 "Discussion: General ignore F821 within documentation"
With PR #23381 `flake8_rst` will get merged allowing to have the `flake8` checks being run on code inside `*.rst` files within `doc/source` subfolder.

In order to make the `./ci/code_shecks.sh` script used by travis working, I had to ignore all `F821 undefined name` errors. @datapythonista and I had a brief discussion #23154 whether there should be raised an issue to fix all those errors ( @datap

[2018-11-05 13:41] vtbassmatt commented on #23492
@DavidStaheli can you please take a look?

[2018-11-05 14:14] ron819 commented on #11414
is this still an issue?

[2018-11-05 14:14] jorisvandenbossche commented on #23212
If we want to keep the constructors simple, and not have a bunch of redundant / overlapping keywords, we could also have a specific constructor for this path that can be used in the shared functionality?

[2018-11-05 14:16] ron819 commented on #14836
is this planned to be fixed?

[2018-11-05 14:20] ron819 commented on #17037
@jbrockmendel according to your todo list this issue has been fixed.

[2018-11-05 14:47] jbrockmendel commented on #17037
@ron819 is the list accurate?  Let's be sure to defend against the failure mode of me messing up

[2018-11-05 15:09] TomAugspurger commented on #23424
https://github.com/cython/cython/issues/2694 also suggests that upgrading the command line tools was sufficient.

@JustinZhengBC, did you get the same error (without the extra link args) in a clean environment? Or was this in the same environment (with previously compiled files) from before you upgraded your command line tools?

[2018-11-05 15:11] dgrahn opened #23509 "C error: Buffer overflow caught on CSV with chunksize"
#### Code Sample

This will create the error, but it is slow. I recommend [downloading the file directly](https://github.com/pandas-dev/pandas/files/2548189/debug.txt).

[code]

#### Problem description

I get the following exception only while using the C engine. This is similar to https://github.com/pandas-dev/pandas/issues/11166.

[code]

#### Expected Output

None. It should just loop through

[2018-11-05 15:20] gfyoung commented on #23508
For the time being, I would prefer that we disable `F821` for docs checking.  Regardless of how we go about it, it seems from your description that we would have to do some substantive retooling / rewriting to get the docs to play nicely with `flake8_rst` on this rule.

Perhaps another to go about it is to create a list of "expected errors" (ones that we know we can safely ignore) and compare it a

[2018-11-05 15:21] TomAugspurger commented on #23509
Have you been able to narrow down what exactly in the linked file is causing the exception?

[2018-11-05 15:29] MosheVai opened #23510 "to_sql method turns datetime64 index to time zone aware in postgres"
I have a `pandas` `Dataframe` with an index which is of type `datetime64[ns]`.
when I use the `to_sql` method i expect the index to be created as a `timestamp` postgres column, however it is creates a `timestamptz` column.

Note that when the `datetime64[ns]` column is not an index but rather a normal column, this doesn't happen.

pandas 0.23.4, psycopg2 2.7.4, sqlalchemy 1.2.7, PostgreSQL 9.6.6

[2018-11-05 15:29] gfyoung commented on #23509
@dgrahn : I have strong reason to believe that this file is actually malformed.  Run this code:

[code]

This will output:

[code]

If the file was correctly formatted, it should be that there is only one row width.

[2018-11-05 15:31] dgrahn commented on #23509
@gfyoung  It's not formatted incorrectly. It's a jagged CSV because I didn't want to bloat the file with lots of empty columns.

[2018-11-05 15:34] TomAugspurger commented on #23510
cc @mroeschke is this changed by your tz-support PR?

[2018-11-05 15:35] gfyoung commented on #23509
@dgrahn : Yes, it is, according to our definition.  We need properly formatted CSV's, and that means having the same number of comma's across the board for all rows.  Jagged CSV's unfortunately do not meet that criterion.

[2018-11-05 15:37] dgrahn commented on #23509
@gfyoung It works when reading the entire CSV. How can I debug this for chunks? Neither saving the extra columns nor reading the entire file is a feasible option. This is already a subset of a 7 GB file.

[2018-11-05 15:39] gfyoung commented on #23509
@dgrahn : Given that you mention that it's a subset, what do you mean by "entire CSV" ?  Are you referring to the entire 7 GB file or all of `debug.txt` ?  On my end, I cannot read all of `debug.txt`.

[2018-11-05 15:39] icexelloss opened #23511 "BUG: Setting timedelta column by index causes it to loss precision"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Setting a timedelta column by index causes it to be casted to double and back. Therefore, it will loss precision.

#### Expected Output
28767471428571405

#### Output of ``pd.show_versions()``
0.23.4

<details>

[paste the output of ``pd.show_versions()`` here below this line]

</details>

[2018-11-05 15:41] TomAugspurger commented on #23488
I had hoped that the `ast` module would work out of the box, but not quite.

[code]

https://stackoverflow.com/a/48366253/1889400 has some suggestions.

So mostly in agreement with @WillAyd, maybe not worth the trouble.

[2018-11-05 15:41] dgrahn commented on #23509
When I use the following, I'm able to read the entire CSV.

[code]

The debug file contains the first 7k lines of a file with more than 2.6M.

[2018-11-05 15:44] gfyoung commented on #23509
@dgrahn : I'm not sure you actually answered my question.  Let me rephrase:

Are you able to read the file that you posted to GitHub in its entirety?

[2018-11-05 15:46] dgrahn commented on #23509
@gfyoung I'm able to read the debug file using the below code. But it fails when introducing the chunks. Does that answer the question?

[code]

[2018-11-05 15:47] gfyoung commented on #23509
Okay, got it.  So I'm definitely not able to read all of `debug.txt` in its entirety.  What version of `pandas` are you using (and on which OS)?

[2018-11-05 15:48] dgrahn commented on #23509
@gfyoung Details are included in the original post. Both Windows 7 and RedHat.  0.23.4 on RedHat, 0.23.0 on Windows 7.

[2018-11-05 15:49] datapythonista commented on #23488
I think with a regex should be quite straight forward.

For the short term I don't think it's important. But as we manage to add the `validation_docstrings.py` in the CI, if we can't identify if the function can return something other than None, we won't be able to validate docstrings with missing Returns section.

But we can come back to it once we're there. So much to do before. :)

[2018-11-05 15:50] dgrahn commented on #23509
Interestingly, when `chunksize=10` it fails around line 6,810.  When `chunksize=100`, it fails around 3100.

[2018-11-05 15:52] gfyoung commented on #23509
I saw, but I wasn't sure whether you meant that it worked on both environments.

[2018-11-05 16:06] dgrahn commented on #23509
Here's a smaller file which exhibits the same behavior.
[minimal.txt](https://github.com/pandas-dev/pandas/files/2549461/minimal.txt)

[code]

[2018-11-05 16:06] gfyoung commented on #23509
Okay, so I managed to read the file in its entirety on another environment.  The C engine is "filling in the blanks" thanks to the `names` parameter that you passed in, so while I'm still wary of the jagged CSV format, `pandas` is a little more generous than I recalled.

As for the discrepancies, as was already noted in the older issue, passing in `engine="python"` works across the board.  Thus, i

[2018-11-05 16:07] gfyoung commented on #23509
@dgrahn : Oh, that's very nice!  Might you by any chance be able to make the file "skinnier" ?

[2018-11-05 16:11] dgrahn commented on #23509
@gfyoung Working on it now.

[2018-11-05 16:21] jreback commented on #23115
+1 on changing users to have a single file. The reason we had multiple files is to make it 'faster' to install, but I suspect it doesn't make much difference at the end of the day and avoids problems of having deps installed.

+0 on consolidating the CI dep files a little. Its already in the /ci directory so a user shouldn't even be caring about this if they actually read the documentation.

-1 on

[2018-11-05 16:22] dgrahn commented on #23509
@gfyoung Ok. So it gets weirder. First iteration works, second one fails.

[code]

Each line has the following number of columns:
[code]

[skinnier.txt](https://github.com/pandas-dev/pandas/files/2549525/skinnier.txt)

[2018-11-05 16:22] JustinZhengBC commented on #23424
Yes, I get the error after running `python setup.py clean` as well as in a fresh download. I have reinstalled the dependencies from `ci/requirements_dev.txt`, and I am using the latest version of XCode and command line tools as suggested in that thread.

[2018-11-05 16:23] TomAugspurger commented on #23424
Thanks, that's strange.

I'm just hesitant to add extra arguments to our setup script when we (I) don't really understand the root problem and why adding those arguments fixes it.

[2018-11-05 16:32] datapythonista commented on #23115
I fail to see how unifying/automating things a bit in the generation of CI yaml files should cause more confusion on what is being tested than maintaining 14 independent files. But I don't have the experience you have with the CI. So if you and @TomAugspurger are sure about that, let's forget about it.

Btw, did you check the points I mentioned in https://github.com/pandas-dev/pandas/issues/23115#

[2018-11-05 16:33] dgrahn commented on #23509
@gfyoung Ok. I have a minimal example.

[minimal.txt](https://github.com/pandas-dev/pandas/files/2549561/minimal.txt)
[code]

[code]

[2018-11-05 16:35] gfyoung commented on #23509
@dgrahn : Nice!  I'm on my phone currently, so a couple of questions:

* Can you read this file in its entirety?
* Does reading this file in chunks work with the Python engine?

[2018-11-05 16:43] dgrahn commented on #23509
Ok. I tried different `chunksize`s from 1-20 and columns from 2-20.

* Reading the entire file worked for columns 2-20.
* Python engine worked for columns 2-20
* C engine failed for the following conditions:
[code]

[2018-11-05 16:44] TomAugspurger commented on #23115
I have a slight preference for many environment.yaml files, rather than generating them, since it makes the CI stuff a bit more explicit (smaller chance of us accidentally not testing something because of a bug in whatever we would use to generate them).

I think seeing a matrix of exactly what deps we test where would be extremely valuable. I started to write a script to do this. IIRC I stopped s

[2018-11-05 16:44] jbrockmendel commented on #23115
+ 1 on a ci/env_files/ directory or something

+1 on joris's suggestion to split the discussion along CI vs user-facing lines

If this is not obvious to @datapythonista, this is prima facie evidence that things can be better-documented or otherwise clarified.

[2018-11-05 16:48] dgrahn commented on #23509
@gfyoung I've tried varying the number of columns in the last row. Here's my results.

### 1 column
All work.

### 2 columns
[code]

### 3 columns
[code]

### 4 columns
[code]

[2018-11-05 16:51] gfyoung commented on #23509
@dgrahn : Thanks for the very thorough investigation!  That is very helpful.  I'll take a look at the C code later today and see what might be causing the discrepancy.

[2018-11-05 17:02] makmanalp commented on #15095
I definitely agree with this - it fits well with everything else.

So is the idea here that because apply() currently works column-wise and not dataframe-wise on `dataframe.rolling.apply()`, we're kinda locked in now and don't want to break backwards compat, and we need a new API? Or are we just waiting for a patch and and opportune moment to release?

[2018-11-05 17:06] WillAyd commented on #23444
Is this only applicable to files created with Excel 95 and earlier?

https://xlrd.readthedocs.io/en/latest/unicode.html

If so I am -1 here as I can't imagine we support anything else explicitly with that type of age to it

[2018-11-05 17:09] WillAyd commented on #23424
@JustinZhengBC any chance you installed some of the components via homebrew as well? Shot in the dark but I'm wondering if there could be some type of conflict there between that installation alongside the standard Xcode-select install

[2018-11-05 17:10] gfyoung commented on #23444
@WillAyd : Consistency with the `read_csv` is the main reason why I would support this parameter.  Our data IO API is quite fragmented, so adding this parameter is a step in the right direction.

[2018-11-05 17:12] TomAugspurger commented on #15095
That's my opinion. We could maybe do this with a deprecation cycle with keywords.

[2018-11-05 17:17] WillAyd commented on #23444
Am I misreading it that all Excel files created in the past 21 years contain an encoding of utf-16-le though? If so while consistency is good the keyword would either be unused or actually confusing / counter-productive to almost every Excel file still out there in the wild.

[2018-11-05 17:31] WillAyd commented on #23444
My big pushback is on referring to this as `encoding` because I don't think it covers the same concept as other IO functions. I haven't stepped through the source code of xlrd but I am interpreting it as an intentional disambiguation that they chose the parameter name of `encoding_override` and not just `encoding`. Their docs suggest that this is only used in case of missing or incorrect code page

[2018-11-05 17:34] WillAyd commented on #23424
Wonder if that could be it. There's also a page for homebrew dedicated to the topic:

https://docs.brew.sh/C++-Standard-Libraries

Do you have a way of either removing or upgrading those installed libraries to see if that resolves?

[2018-11-05 17:36] Safrone opened #23513 "AmbiguousTimeError in date_range using tz when start/end in dst transition."
#### Code Sample

[code]
[code]

#### Problem description

`pd.date_range` does not honor the ambiguous keyword

#### Expected Output

[code]
or
[code]
depending on the truth value of `ambiguous`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-38-generic
machine: x86_64
processo

[2018-11-05 17:45] gfyoung commented on #23444
@WillAyd : I'm not sure I fully understand your argument.  The word "encoding" seems to mean the same thing for `xlrd` as it does for `read_csv`, even if the determination / assumption of encoding seems predicated on the existence of a record.

[2018-11-05 18:05] dgrahn commented on #23509
@gfyoung I tried to debug it myself by following the dev guide, but it says pandas has no attribute `read_csv`, so I think I better rely on your findings.

[2018-11-05 19:01] dragoljub opened #23516 "read_csv() is 3.5X Slower in Pandas 0.23.4 on Python 3.7.1 vs Pandas 0.22.0 on Python 3.5.2"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
``pd.read_csv()`` using ``_libs.parsers.TextReader``  ``read()`` method is 3.5X slower on Pandas 0.23.4 on Python 3.7.1 compared to Pandas 0.22.0 on Python 3.5.2.

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions() -- Latst Python 3.7.1 Pandas 0.23.4 : Slow Read CSV``

<details>

INSTALLED

[2018-11-05 19:11] TomAugspurger commented on #23516
Can you benchmark just the change in python, and just the change in pandas separately?

[2018-11-05 19:15] dragoljub commented on #23516
Yes, are there older builds of Pandas on Python 3.7.1? I suppose I can try newer pandas version on old Python.

[2018-11-05 19:15] #23511 closed

[2018-11-05 19:19] thoo commented on #23496
@datapythonista I still have one issue. When I run `scripts/validate_docstrings.py pandas.read_fwf` , I got this error.

[code]
This one should have been fixed by #20061. I will leave a comment there.

[2018-11-05 19:44] TomAugspurger commented on #23516
I think 0.23.2 is the first version of pandas to support 3.7

On Mon, Nov 5, 2018 at 1:15 PM Gagi <notifications@github.com> wrote:

[2018-11-05 19:54] TomAugspurger opened #23519 "pytest 3.10 minversion"
Bug in parsing minversion: https://github.com/pytest-dev/pytest/issues/4306

this issue is to restore it.

[2018-11-05 20:07] Safrone opened #23521 "AmbigousTimeError on Timestamp.floor during dst change"
#### Code Sample, a copy-pastable example if possible

[code]
[code]

#### Problem description

`AmbiguousTimeError` thrown on floor of timestamp that leads to time within dst change.

Similar issues happen on `ceil` and `round`:
[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.6.final.0
python-bi

[2018-11-05 20:28] gfyoung commented on #23521
cc @mroeschke

I believe we might have fixed this in #22647?

@Safrone : Thanks for filing this!  Can you installing the `master` branch an re-running your code?

[2018-11-05 20:57] Safrone commented on #23521
I cloned the latest version and am still having issues:

[code]

<details>

INSTALLED VERSIONS
------------------
commit: f0877eccc080cb38afa092436f09a79a65269d8c
python: 3.5.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-38-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8
pandas: 0.24.0.dev0+917.gf0877eccc
pytest: None
pip: 10.

[2018-11-05 21:01] JustinZhengBC commented on #23424
I tried renaming the Cellar folder and running build, but it still failed.

However, I did manage to get it building without extra arguments after running `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` as described [here](https://blog.driftingruby.com/updated-to-mojave/). My build is working as intended now.

[2018-11-05 21:04] Safrone commented on #23513
With the latest branch:

[code]
[code]

Thanks!

[2018-11-05 21:06] mroeschke commented on #23521
As the error notes, you need to specify the `ambiguous` argument in `floor` as these were added in #22647

[code]

[2018-11-05 21:06] #23521 closed

[2018-11-05 21:08] Safrone commented on #23521
Ah yes you are correct, thank you.

[2018-11-05 21:08] mroeschke commented on #23513
Glad it's working for you on master (I believe this was fixed recently). This will be apart of the v0.24.0 release.

[2018-11-05 21:08] #23513 closed

[2018-11-05 21:46] #18742 closed

[2018-11-05 21:46] #23409 closed

[2018-11-05 22:09] WillAyd commented on #23424
Hmm that's interesting. I wonder if that is part of the "Additional Components" that you get prompted to install when opening Xcode - any chance you recall having installed that or not?

[2018-11-05 22:13] JustinZhengBC commented on #23424
I just ran through the installer again, no such prompt appeared. I've opened XCode to look at the settings but I haven't opened any projects in it since updating, so I might've missed the prompt there

[2018-11-05 22:14] WillAyd commented on #23424
I believe if you uninstall and reinstall Xcode it should prompt you for additional components the first time you open it (no project required).

Something does seem off here; if you could help pinpoint would be great. May need some kind of doc updates

[2018-11-05 22:38] dragoljub commented on #23516
I ran the test on an older Python 3.5 stack with the latest Pandas version 0.23.4 but with a lot of older versions of other modules and it looks to be running faster on Python 3.5. Now, I'm not quite sure if its pandas directly on python 3.7.1  or one of its dependencies.

Does the parser's ``_read()`` method rely on some other library that may be the culprit?

[code]

Installed Python 3.5 Stack W

[2018-11-05 22:50] krassowski commented on #20986
Here is a reproducible example:

[code]
#### Problem description

I wanted add third index to my dataframe expressions, which looks like that:
<table border="1" class="dataframe">  <thead>    <tr>      <th>study</th>      <th colspan="2" halign="left">SRP052491</th>    </tr>    <tr>      <th>run</th>      <th>SRR1762738</th>      <th>SRR1762739</th>    </tr>    <tr>      <th>gene_id</th>      <th>

[2018-11-06 00:39] JustinZhengBC commented on #23424
A fresh install of the latest Xcode and command line tools can build with no errors and no prompts. However, while I can get old versions of Xcode from the Apple developer's website, those seem to be standalones so I can't replicate the update process.

[2018-11-06 00:40] mroeschke commented on #23510
Interesting. I don't think my tz-support would impact this. I can double check when i get a chance to reproduce.

[2018-11-06 00:58] dragoljub commented on #23516
Adding another data point. If I specify the 'python' engine. It looks like on Python 3.7.1 ``pandas._libs.lib.maybe_convert_numeric`` is 3X slower than on Python on 3.5.2

Could this be due to the cython version?

__Python 3.7.1__
[code]

__Python 3.5.2__
[code]

[2018-11-06 02:33] dragoljub commented on #22265
Have you tried simply wrapping the pd.read_csv function by another one you define? If you are using a __main__ then your parallel worker process will have pandas already imported and ready to read CSVs.

[2018-11-06 02:47] ArtinSarraf opened #23525 "Why is pd.Index.union not commutative?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Conceptually I would imagine a union operation to be commutative. I was just wondering if there was an deliberate rationale behind not implementing pd.Index._assert_can_do_setop to only fail if the complementary self._assert_can_do_setop also fails.

This behavior also leads to some unexpected behaviors in `pd.c

[2018-11-06 03:18] #23172 closed

[2018-11-06 03:48] jreback commented on #21564
is this still open?

[2018-11-06 03:51] #21938 closed

[2018-11-06 04:58] gfyoung commented on #23525
cc @jreback

[2018-11-06 05:00] jbrockmendel commented on #23516
These last numbers are with what pandas version?

[2018-11-06 05:05] dragoljub commented on #23516
They are both Pandas 0.23.4

[2018-11-06 06:12] ron819 commented on #16811
any chance this will be fixed for next release?

[2018-11-06 06:35] mroeschke commented on #23510
@MosheVai what is the `'data_test'` schema you defined?

[2018-11-06 07:02] gfyoung commented on #23509
So I think I know what's happening.  In short, with the C engine, we are able to allocate and de-allocate memory as we see fit.  In our attempt to optimize space consumption after reading each chunk, the parser frees up all of the space needed to read a full row (i.e. 2,504 elements).

Unfortunately, when it tries to allocate again (at least when using (this dataset)[https://github.com/pandas-dev/

[2018-11-06 07:47] MosheVai commented on #23510
@mroeschke it's a normal schema, I just didn't want to create a table in my `public` schema.

[2018-11-06 07:53] jorisvandenbossche commented on #23115
CI deps:

We can still check-in the autogenerated yaml files, then you don't have this concern?

---

Contributor deps:

+1

Isn't that what we already do? The pip requirement files are autogenerated.

BTW, I am fine with providing a single environment file instead of the dev + optional files for *contributors*. But, I think it is still useful to distinguish those two "kinds" of dependencies (eg i

[2018-11-06 07:53] jorisvandenbossche commented on #23115
OK, see that there are already PRs, will check those :)

[2018-11-06 08:29] gfyoung commented on #23509
@dgrahn : I was able to patch it and can now read your `debug.txt` dataset successfully!

[2018-11-06 09:37] jorisvandenbossche commented on #23481
One general concern: how do you envision to use it on the CI? How do you now think we will specify which functions to run and which errors to check?

Because with the outline above (and the PR), you can specify a subset of functions and/or a set of error codes to check.

But I can imagine that at some point, we could need a higher granularity (like, for this function ignore this error code, for th

[2018-11-06 09:55] datapythonista commented on #23481
That's an interesting discussion. I don't know right now, I think we'll have to experiment a bit once this is ready.

The first thing I'd like is to validate specific errors. For example, parameter mismatches and pep8 issues in the examples. I need to see how many of them we have, but if there are few for `Series.` I'll create issues for them, and once fixed add to the CI:
[code]

Excluding docstr

[2018-11-06 10:55] esvhd opened #23528 "pandas.to_datetime() cannot handle dates from year 3000 onwards"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]
#### Problem description

Looks like datetime beyond 2099-12-31 fails `check_dts_bounds()`. Is there any reason why `pandas` can't live to the next century?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Windows
OS-release:

[2018-11-06 11:02] jreback commented on #23528
http://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries-timestamp-limits

[2018-11-06 11:02] #23528 closed

[2018-11-06 11:30] esvhd commented on #23528
Thanks for the pointer. In this case what do you recommend for parsing date strings (no necessarily with time) beyond 2099-12-31?

[2018-11-06 11:34] fmaussion commented on #23419
We have solved the issue downstream, but it still looks like a regression to me (it used to work - albeit possibly for the wrong reasons). Do you by chance know what broke here? Is it a change in netcdf4/cftime or a change in pandas?

[2018-11-06 11:35] jreback commented on #23528
Period will parse some of these
we are looking to add a more robust to_period
so contributions welcome

[2018-11-06 11:38] jreback commented on #23419
I suppose we would take a patch to let arbitrary datetime like scalars here but these are not supported in any way

[2018-11-06 11:41] dgrahn commented on #23509
Thank you! Can you point me to directions on integrating that change? Should I use a nightly build?

[2018-11-06 12:39] spencerkclark commented on #23419
@fmaussion it looks like a recent change in cftime broke this.  In the past for standard calendars, by default `cftime.num2date` would return an array of normal `datetime.datetime` objects.  As of https://github.com/Unidata/cftime/pull/66 it now returns an array of `cftime.real_datetime` objects (which subclass `datetime.datetime`).

So I agree with @jreback that this is not a pandas issue -- it m

[2018-11-06 13:08] #23451 closed

[2018-11-06 13:19] jreback commented on #23525
we don't ignore empties. actually these should all convert to object dtype (and work).

[2018-11-06 13:22] esvhd commented on #23528
Got it, will check it out. Thanks.

[2018-11-06 13:23] #23461 closed

[2018-11-06 13:33] TomAugspurger commented on #21564
Yes, I think so.

[2018-11-06 13:33] fmaussion commented on #23419
Thanks panda team for the quick help!

We move the discussion to https://github.com/Unidata/cftime/issues/77 instead.

Feel free to close the issue, for some reason I can't do it

[2018-11-06 13:47] TomAugspurger commented on #14627
It should be there.
http://pandas-docs.github.io/pandas-docs-travis/contributing.html#creating-a-python-environment
(though another PR is adjusting this right now)

On Mon, Nov 5, 2018 at 9:21 PM blalterman <notifications@github.com> wrote:

[2018-11-06 14:16] #23419 closed

[2018-11-06 14:17] MJBee commented on #5500
For the reason I pointed out in my answer to this question:
https://stackoverflow.com/questions/18016037/pandas-parsererror-eof-character-when-reading-multiple-csv-files-to-hdf5/53173373#53173373
I would suggest to make the `quoting=csv.QUOTE_NONE` default instead of `csv.QUOTE_MINIMAL`.
It's easier to realise what's going on when your strings are unexpectedly parsed with quotechars then to get th

[2018-11-06 14:48] #23227 closed

[2018-11-06 14:51] TomAugspurger commented on #22994
Are we OK with pushing this to 0.25?

As a proposal, we can have something like the following:

Iterate through the dtypes, calling `ExtensionDtype.get_concat_dtype(dtypes)`. As soon as an array type says "I know how to handle all these dtypes" by returning a non-None dtype, we stop looking.

[code]

So for SparseDtype, we would return a `SparseDtype(object)`, or a `SparseDtype(dtype)` if the subt

[2018-11-06 14:52] TomAugspurger commented on #23070
Moving off of 0.24, but would certainly welcome a fix if anyone wants to work on this.

[2018-11-06 14:56] TomAugspurger commented on #22974
I think this is sufficiently documented in `extending.rst`. Closing.

[2018-11-06 15:29] TomAugspurger opened #23530 "Support Decimal("NaN") is pandas.isna"
Should we do this? See https://github.com/pandas-dev/pandas/pull/23284#issuecomment-436269836 for some timings. Personally, I don't think it's worth the cost.

kind          | master | PR     | ratio
------------- | ------ | ------ | -----
scalar        | 821 ns | 926 ns | 1.12 (different result)
object array  | 1.0 ms | 6.6 ms | 6.6
decimal array | 1.0 ms | 2.0 ms | 2.0  (different result)

Here'

[2018-11-06 15:58] jorisvandenbossche commented on #22974
It's indeed written in the docs, but do we actually properly test it in the base tests?

Because eg `test_arith_series_with_array`

https://github.com/pandas-dev/pandas/blob/6bf6cd2fe991f4f57e045e1f28a9dff860b72b37/pandas/tests/extension/base/ops.py#L83-L88

is actually testing the op with series and series, not series and array.

And we also don't have it with eg Index or DataFrame.

[2018-11-06 16:00] jorisvandenbossche commented on #23074
@TomAugspurger you mention `sort_values` in the title, but the example is using `value_counts` ?

[2018-11-06 16:01] TomAugspurger commented on #22974
Ok, will re-purpose for tests.

[2018-11-06 16:03] TomAugspurger commented on #23074
Sorry, that's a mistake. It should be `.value_counts(sort=False)`

[2018-11-06 16:04] jorisvandenbossche commented on #23074
OK, in that case, I would indeed say: let's remove it from the API. But I think the blocker to do that is the ability to store EA in an Index? (although the current result of `EA.value_counts` also cannot do that right?)

[2018-11-06 16:13] jorisvandenbossche commented on #13443
@topper-123 Very welcome to take this up! I think your summary is correct.

Only, I don't think it needs to depend on #22511, as it is (AFAIU) independent of the repr.
(of course, once one or the other is merged, you will need to deal with merge conflicts that might be annoying)

[2018-11-06 16:40] jorisvandenbossche commented on #23185
I tried out your branch, and I don't get segfaults, so not sure what could be going on here (didn't run the full test suite, but I ran the tests of `test_groupby.py` after removing your skips for segfaults). Does it segfault on travis?

I think this is actually something that could be done rather independent, or already before doing the actual  "split" refactor. Because we can make the current Dat

[2018-11-06 16:48] trianta2 opened #23531 ""Exception: Column(s) <cols> already selected" when using groupby, resample, and agg"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This line:

[code]

causes this error:

[code]
however invoking `mean` and `std` individually work as expected:

[code]

#### Expected Output

A dataframe with the combined outputs of:

[code]

#### Output of ``pd.show_versions()``

<details>

pd.show_versions()

INSTALLED VERSIONS
------------------
commit: No

[2018-11-06 16:57] jreback commented on #23531
this is fixed in master pls try

[2018-11-06 17:10] jbrockmendel commented on #23185
This is interesting.  What versions/system were you on?  Most of my testing was on ubuntu18.04/py2.7 (quick check, still get them in 3.6 on the same machine)

I didn't run it on Travis, but on CircleCI I got a segfault-adjacent error (FWIW in previous posts where I have referenced segfaults some of them are literally "segmentation fault", for others I am using it as a catch-all for related errors)

[2018-11-06 17:18] jorisvandenbossche commented on #19954
Personally I would leave the `ndarray_values` or `raw_numpy_array_values` idea out of the public API on the *containers*. This concept will inherently be inconsistent between EAs, as it will only be possible for some of the EAs. As @shoyer noted this concept might not be possible for certain arrow-backed EAs, but another typical example is our own IntervalArray which is backed by two ndarrays (lef

[2018-11-06 17:21] jorisvandenbossche commented on #19954
Regarding `to_numpy()`: I agree with the reasons mentioned above to have it as a method and not an attribute, but another reason for having it as a method is that we then can provide options.
Eg, for datetime tz, the user could choose to get it as object array with tz retained, or as UTC-converted naive M8[ns].

[2018-11-06 17:30] TomAugspurger commented on #19954
Alrighty thanks Joris.

What would the function signature be for your `Series.to_numpy`? `**kwargs`? Or would pandas dictate what's allowed there?

I'll get started on a PR implementing this.

[code]

[2018-11-06 17:42] datapythonista commented on #23492
@DavidStaheli could you take a look? Will you loose the data to investigate if I commit to the PR?

[2018-11-06 17:52] TomAugspurger commented on #19954
What to do about datetime and datetimetz (cc @jbrockmendel)? Here's a proposal.

dtype              | array                    | to_numpy
------------------ | -------------------------| --------
datetime64[ns]     | DatetimeArray            | ndarray[datetime64[ns]] (view)
datetime64[ns, tz] | DatetimeArray            | ndarray[object] (Timestamp)
timedelta64[ns]    | ndarray[timedelta64[ns]] | nd

[2018-11-06 17:54] bicepjai opened #23533 "pandas not loading the csv/tsv completely"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a file for analysis and it gets loaded only partially. I cannot share the file. This doesn't happen with all the files.  Even with error_bad_lines=True, nothing is reported. No warning messages either. If I run ``` wc -l filename.tsv``` I get the exact number of lines in file, this doesn't match the rows

[2018-11-06 17:56] gfyoung commented on #23509
@dgrahn : My changes are still being reviewed for merging into `master`, but if you can install [the branch](https://github.com/gfyoung/pandas/tree/jagged-csv-buffer-overflow) immediately to test on your current files.

[2018-11-06 17:58] #23490 closed

[2018-11-06 18:07] gfyoung commented on #23533
@bicepjai : Hello, thanks for reporting the issue!  Unfortunately, we cannot help you too much if you are unable to share the data that you used.  If you can provide a dataset that can reproduce your problem, that would be great.

[2018-11-06 18:21] #9862 closed

[2018-11-06 18:22] gfyoung commented on #9943
#19849 is now merged.  Not sure how it affects the status of this issue?  @jreback

[2018-11-06 18:30] bicepjai commented on #23533
Sorry , its sensitive data I cannot share. But I hope the behavior I have shared might help with identifying the issue.

[2018-11-06 19:10] shoyer commented on #19954
Sounds good to me. `.array` and `.to_numpy()` seems like enough.

[2018-11-06 19:15] gfyoung commented on #23533
@bicepjai : Per our policy, we need a reproducible example for us to debug your problem.  Without a dataset, we cannot reproduce your issue (especially on a codebase of this size).

Closing for now, but if you have time, I recommend you try to recreate a dataset with the same shape and data types as the one you have and see if you can still reproduce.  If you are able, please ping, and we can revi

[2018-11-06 19:15] #23533 closed

[2018-11-06 19:17] TomAugspurger commented on #19954
Uses of ndarray_values

- Index.itemsize (deprecated)
- Index.strides (deprecated)
- Index._engine
- Index set ops
- Index.insert
- DatetimeIndex.unique
- MultiIndex.equals
- pytables._convert_index (shared across integer and period)

There are a few other uses (mostly datetime / timedelta / period) that could maybe uses asi8 instead. I'm not familiar enough with indexing to know whether that can

[2018-11-06 19:45] bicepjai commented on #23533
@gfyoung thanks, I understand. I think its file encoding issue. but if tableau can handle the issue, so should OUR pandas. I will try and get a sharable dataset that produces similar issue.

[2018-11-06 19:48] siposmiki commented on #11604
`pip2 install pandas` worked for me. i'm planning to clear out everything and get rid of the plenty of different versions and use only one (or virtual environments as a lot of ppl suggested:))

[2018-11-06 20:30] trianta2 commented on #23531
I've installed master from source and now I get this error:

[code]

here's a chunk of stack trace:

[code]

<details>
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Darwin
OS-release: 16.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: en_US.UTF-8
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.24.0.dev0+936.gcf4c0b61

[2018-11-06 20:31] randomgambit opened #23535 "how to use intervalindex with datetimes?"
Hello there!

I am struggling with the amazing `intervalindex` new feature.
Consider this simple example:

[code]

Here, each row in `df` identifies an individual, and `inter_left` and `inter_right` are the left and right boundaries of the interval at which `id` is observed.

I would like to 'merge' this dataframe with `df_other` with the understanding that an id from `df_other` is merged to an `i

[2018-11-06 20:46] TomAugspurger commented on #20986
@krassowski thanks for the example, but I don't agree with your expected output. Your example is similar to

[code]

the non-concatenation axis (columns in this case) is still aligned. Aside from that expected output though, I do get the same exception.

[2018-11-06 20:55] franz101 commented on #13021
Also having problems with formatters

[2018-11-06 21:10] TomAugspurger commented on #19954
One more edge case: MultiIndex.

Proposal:

- MultiIndex.array -> `ValueError`?
- `MultiIndex.to_numpy() -> `ndarray[object]` (tuples)

I'd raise for `MultiIndex.array`, since there isn't an actual array backing it.

[2018-11-06 21:37] jorisvandenbossche commented on #19954
I think all those questions about `_ndarray_values` are important to discuss, but not fully relevant for this thread about the *public* API.
(of course if we still want to add something resembling it to the public API, those questions are certianly relevant to understand its usecase, but personally, as argued above, I would not add it to the public API)

As already touched on this in some of the r

[2018-11-06 21:44] TomAugspurger commented on #19954
Fair point about TimedeltaArray. I forgot about freq (and the future proofing is nice).

For `MultiIndex.to_numpy()`, I was thinking a 1D array of tuples

[code]

But a 2d array is also reasonable (depending on the expected use case)...

[2018-11-06 22:00] datapythonista opened #23536 "CI: Documentation built but not published in PRs"
I was taking a look at the build of the documentation, and it looks like in every PR it is built, but it's not being published:
[code]

On commits to master, looks like it's working as expected (we should probably update the url):
[code]

Building the docs takes around 45 minutes, so I think we should probably build only when merging the PRs, and save some travis resources? Not sure how to do it,

[2018-11-06 22:04] TomAugspurger commented on #23536
I like building on every PR, since (in theory) we'll be able to fail
documentation builds when something is incorrect
https://github.com/pandas-dev/pandas/pull/22743

Scikit-Learn has a way to upload the built docs on every PR to a unique
URL: https://github.com/pandas-dev/pandas/issues/17921

On Tue, Nov 6, 2018 at 4:01 PM Marc Garcia <notifications@github.com> wrote:

[2018-11-06 22:10] datapythonista commented on #23536
Oh, sorry, I missed that PR. That makes sense, I didn't think about it.

Then, the first thing would be to move the docs outside of the allowed failures in travis, which I don't see discussed or implemented there, right?

[2018-11-06 22:18] randomgambit opened #23537 "can we compare variable importance scores across samples?"
Hello there!

I am using this pretty nice package and I wonder if variable importance score that I see (using the `permutation` method) are comparable across samples.

For instance, one can always compare `r-square` or `rmse` across samples. But does it make sense to say that the variable with the highest importance score in sample A does not matter because it is still way smaller than the importa

[2018-11-06 22:30] datapythonista commented on #23536
Makes sense. Closing, as #22743 and #17921 already cover all what needs to be done.

[2018-11-06 22:30] #23536 closed

[2018-11-06 22:55] datapythonista commented on #23115
In case it's useful for anyone else, I upload a summary of the builds we have.

[pandas_builds.xlsx](https://github.com/pandas-dev/pandas/files/2555336/pandas_builds.xlsx)

[2018-11-06 23:01] dragoljub commented on #23516
I tried building the latest Pandas version from source on Python 3.7.1 and still got the same slower performance. Are there any build/compile/cython flags I can set to optimize the parser?

[2018-11-06 23:04] jreback commented on #23516
the entire perf issue is simply the precision flag

you can choose higher precision but it takes more time; this is rarely useful though

[2018-11-06 23:09] jorisvandenbossche commented on #22860
I have the feeling that adding a function for each array type is some API bloat. I think it would be nice to restrict ourselves to a general `array(..)` function, if that would be sufficient. It is eg also what `pyarrow` has to convert python array-likes (pure python/numpy/pandas containers) to an arrow array.

I suppose the main drawback of having a single function vs specialized functions for ea

[2018-11-06 23:16] jorisvandenbossche commented on #22860
Another remark about where to put them in our API: I don't think those belong in `pandas.api.extension`.
Yes, we call them ExtensionArrays, and they are *extending* the numpy arrays, but they are a fundamental part of pandas, not a kind of secondary extension of pandas. For me, `pandas.api.extension` exposes the API for external people to *extend pandas*.

From the existing submodules, I would say

[2018-11-06 23:30] jorisvandenbossche commented on #23185
OK, if I do the above like `python -m pytest pandas/tests/test*.py --skip-slow`, I also get the segfaults...

So it seems to be triggered by running multiple tests, because if you only run the segfaulting tests itself, they don't segfault (or al least not the ones I tried).
I also didn't succeed to reproduce a segfault with a standalone example outside of the tests (eg converting one of the segfau

[2018-11-06 23:43] dragoljub commented on #23516
is there a way to specify 'xstrtod', or is that specified by float_precision=None?

I see no performance changes between 'high' and None.

[2018-11-07 00:05] gfyoung commented on #23535
cc @jreback

[2018-11-07 00:15] jbrockmendel commented on #22860
+1 on being clear about this.

[2018-11-07 00:17] jbrockmendel commented on #19954
Fair enough.  FWIW I was referring to _downstream_ use cases, not pandas internal usage.

[2018-11-07 00:28] jbrockmendel commented on #23185
The main things I remember noticing when trying to track this down were a) the "exec" usage + redirection in core.groupby makes troubleshooting a PITA and b) things were being mutated that shouldn't be, in particular a DatetimeIndex.  Some of the segfault-like errors had messages about "double free" and "memory corruption", so I assume those are problems in _libs.

General thought is to try to mak

[2018-11-07 00:36] robbuckley commented on #23424
i managed to repro the issue on my system with the following sequence of steps:
1. uninstalling Xcode.app and command line tools (rm -rf /Library/Developer)
2. removing /usr/include. This needs ’System Integrity Protection’ to be disabled, see (https://superuser.com/questions/995360/missing-usr-include-in-os-x-el-capitan#1009364)
3. install ‘Command Line Tools (mac OS 10.14) for Xcode 10.1 from ht

[2018-11-07 01:42] #23537 closed

[2018-11-07 01:43] randomgambit commented on #23535
summoning @jreback :D

[2018-11-07 01:44] jreback commented on #23535
search on SO there is an example of this

[2018-11-07 01:45] ArtinSarraf commented on #23525
@jreback - just to clarify - are you suggesting that:

1) the union of an empty index with any other index should not result in an index of the same type as the "other" index.
e.g.

   Current: PeriodIndex(['1991-09-05', '1991-09-06'], dtype='period[D]', freq='D')
   Desired: Index([1991-09-05, 1991-09-06], dtype='object')

    Current: IntervalIndex([(0, 1], (1, 2]]

[2018-11-07 01:47] WWH98932 commented on #23164
I met the same problem, I changed the intervals to str format and fix the first bound manually.

[2018-11-07 01:48] jreback commented on #23535
https://stackoverflow.com/questions/46525786/how-to-join-two-dataframes-for-which-column-values-are-within-a-certain-range/46526249

[2018-11-07 01:49] jreback commented on #23525
yes to both

[2018-11-07 01:49] randomgambit commented on #23535
haha @jreback wonderful!! thanks. Its crazy I was able to find https://stackoverflow.com/questions/46364710/finding-matching-intervals-in-pandas-intervalindex but not the pearl you found out.

[2018-11-07 01:54] ArtinSarraf commented on #23525
Thoughts on 2b?

[2018-11-07 01:59] topper-123 commented on #13443
Hey @jorisvandenbossche, I'm thinking about the repr output and doc strings here. If it weren't for #22511, the repr output would change from  ``MultiIndex(..., labels=...)`` to ``MultiIndex(..., codes=...)``. So this would mean a work load changing the doc strings for no gain (because #22511 changes the repr also and therefore changes various doc strings also). So these two issues are connected t

[2018-11-07 02:02] #23453 closed

[2018-11-07 02:16] jreback commented on #23525
no

like indexes are combined to form the same type
unlike are coerced to object and then combine

it’s likely that the coercion logic is not fully handling things

we should not have any special cases - these are general ops

[2018-11-07 04:10] gfyoung commented on #23489
Given the pushback, I'll close this.  Perhaps another day, another time. 🙂

[2018-11-07 04:10] #23489 closed

[2018-11-07 06:29] mroeschke commented on #23510
I was able to confirm this behavior on master. I've included a fix in #22654 since it was a simple fix to handle.

[2018-11-07 06:34] toobaz commented on #22803
Unrelated to ``MultiIndex``, the problem is more general:

[code]

Preparing a PR.

[2018-11-07 06:34] WillAyd commented on #23519
Closed via #23520

[2018-11-07 06:40] WillAyd opened #23541 "Add level argument to filter (?)"
Assume we have a DataFrame that looks something as follows and we want to *exclude* the column for "Total" in the second level of the column:

[code]

There is not an easy way to do that. One option is to add the `level` argument to `DataFrame.filter`, though there are ongoing discussions around if we want to keep or deprecate that method.

[2018-11-07 06:48] WillAyd commented on #23412
Here's the output of @pv 's script if anyone was curious

[asv_setup_times.txt](https://github.com/pandas-dev/pandas/files/2556305/asv_setup_times.txt)

[2018-11-07 08:11] mnpica opened #23542 "Weekmask & holidays error in CustomBusinessHour"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
1. Could Saturday be set as weekday?
2. Could I use weekmask / holidays by CustomBusinessHour?

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Int

[2018-11-07 08:51] #23481 closed

[2018-11-07 11:53] TomAugspurger commented on #23519
We'll keep this open for when pytest 3.10.1 is out, and we can add the min_version back to the setup.cfg.

[2018-11-07 12:11] TomAugspurger commented on #22860
On the idea of a single `pd.array()` function, that's fine, but would require adding all of the types to the top-level so that users can easily do

[code]

- Categorical: fine. Requires a bit more typing to get `CategoricalDtype(..., ordered=...)`
- Integer: fine, unless we want to accept a mask for the missing / valid values
- period: fine
- Sparse: not great, since the main SparseArray construct

[2018-11-07 12:14] TomAugspurger commented on #22860
I hate `.api` every time I type it. Python has a way of saying somethings in the API: it doesn't start with an underscore :)

So what do people think? `pandas.array(...)` or `pandas[.api].arrays.period_array, pandas[.api].arrays.integer_array, ...`?

[2018-11-07 13:35] TomAugspurger commented on #22265
I'd recommend using dask or loky: https://loky.readthedocs.io/en/stable/

Both of these use cloudpickle to work around limitations of pickle.

[2018-11-07 14:05] #22311 closed

[2018-11-07 14:08] #22533 closed

[2018-11-07 14:09] #22803 closed

[2018-11-07 14:35] venkatgmrit05 opened #23545 "pandas read html code is taking too long"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
   the df1 dataframe should populate immediately but of late the command seems to take forever. i used this command to extract tables from a html page for a project and is the first step of the software. and now because of this issue the whole project is stuck.

**Note**: We receive a lot of issues on our GitHub

[2018-11-07 15:04] TomAugspurger commented on #23185
A message printed to stdout that pytest suppressed (pass -s)

[code]

the actual array passed there is

[code]

which seems fine.

[2018-11-07 15:16] TomAugspurger commented on #23545
See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for reporting bugs.

[2018-11-07 15:18] #22897 closed

[2018-11-07 15:29] venkatgmrit05 commented on #23545
Hey William,
      The info is complete. I am trying to read the tables from the html.
Pandas used to do that before, (earlier this year)
But now it takes forever if the html is too large.
That's all the issue there is.
With pandas.read_html()

On Wed 7 Nov, 2018, 8:56 PM William Ayd, <notifications@github.com> wrote:

[2018-11-07 15:34] TomAugspurger commented on #23545
Agreed with @WillAyd.

@venkatgmrit05 you could try profiling read_html and opening a new issue with specific details. "read_html" is too vague to be useful.

[2018-11-07 15:34] #23077 closed

[2018-11-07 15:41] venkatgmrit05 commented on #23545
Hey Tom,
     Thank you for replying. I don't know what to say.
     I am repeating:
     It's just that one command.
     pandas.read_html(html_file) is taking forever to give back a result.
If the html_file is more than 5 mb . If it's a few kbs it gives the result
immediately. It doesn't throw an error or anything.it takes more than 30
minutes to give me the list of data frames .
       I have b

[2018-11-07 15:49] jbrockmendel commented on #22860
what do I get if I write `arr = pd.array([2.0, 3.5], dtype='f8')`?  i.e. do we raise or just return a numpy array?

[2018-11-07 15:58] TomAugspurger commented on #22860
numpy array I would assume.

On Wed, Nov 7, 2018 at 9:50 AM jbrockmendel <notifications@github.com>
wrote:

[2018-11-07 16:31] jbrockmendel commented on #23185
Good to know about pytest-faulthandler, thanks.  I'll get back to working on that branch later this week.

[2018-11-07 17:16] jbrockmendel opened #23548 "BUG/REG: Passing Index to array-expected cython functions fails"
Until recently many pandas cython functions had signatures like:

[code]

In an effort to follow cython's recommendations, many of these have been changed to:

[code]

It looks like these are breaking in places where `Index` objects get passed to these functions.  Best guess is that because Index implements `__array__`, cython was able to silently cast it previously.  Now I'm seeing:

[code]

In t

[2018-11-07 17:18] jreback commented on #23548
we should explicitly pass ndarrays so this is food that it is breaking

[2018-11-07 17:31] TomAugspurger commented on #23125
Do people (@kernc) have thoughts on whether `Series[sparse].astype(numpy_type)` should be sparse or not? Right now, I'm leaning towards keeping it sparse (the behavior of master and 0.23).

Closing this in a few days if there aren't any further comments.

[2018-11-07 17:40] dragoljub commented on #23516
Is anyone able to reproduce this on Python 3.7.1? I tested the code above on Python 3.7.0 using the Python.org interactive interpreter and it seemed to run faster than in my local 3.7.1 install.

[2018-11-07 18:11] achabotl opened #23549 "Passing an invalid flavor to read_html prints the wrong error message"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The error message should show the `flavor` selected and the valid choices. It's happenning on this line below, and it's a regression from previous versions, which used `%`-formatting and worked properly.

https://github.com/pandas-dev/pandas/blob/de39bfc5e5c6483cb2669773fa10ddc2e32ca111/pandas/io/html.py#L857

[2018-11-07 18:46] dragoljub commented on #23516
Something is diffently up. I did a side by side compare reading the same CSV file on disk. Python 3.5 reads at 111 MB/sec and Python 3.7 reads at only 28 MB/Sec from the same SSD. Both running Pandas 0.23.4.

Could Python 3.7 have changed something in their I/O system?

__Python 3.5.2 & Pandas 0.23.4__
[code]

__Python 3.7.1 & Pandas 0.23.4__
[code]

![image](https://user-images.githubusercontent.

[2018-11-07 18:47] Dr-Irv commented on #23541
A couple of thoughts:

1. Maybe rename `DataFrame.filter()` to `DataFrame.filter_axis()`, because that is what you are doing
2. Maybe the title of this Issue should be "Support selecting axis labels for MultiIndex via filters"
3. One could imagine having different filters that are applied to different axes at the same time, so I don't think that just adding a `level` argument is enough.  For examp

[2018-11-07 18:52] TomAugspurger commented on #23516
I don't see the difference you're seeing

[code]

3.7

[code]

[2018-11-07 19:33] mroeschke commented on #22864
Conversely, if we keep the current behavior in master. We would need to add `FutureWarning`s warnings for

- `date_range(..., 'D')`
- `Series/DataFrame[datetime64[ns, tz]].resample('D')`

[2018-11-07 21:03] gfyoung commented on #23549
We actually have a test for this, but we don't check the error message.  Oops.

[2018-11-07 21:09] gfyoung commented on #16521
@pandas-dev/pandas-core

I'd like to re-open this in part because `pytest.raises` now supports regex matching (via the `match` parameter), which is exactly what `tm.assert_raises_regex` is designed to do.

IIUC, there is some effort to make things for `pytest`-idiomatic.  Thus, the question is: do we want to use `pytest.raises` across the board and drop `tm.assert_raises_regex` ?

I would bring up

[2018-11-07 21:19] bicepjai commented on #23533
I think the issue was because of similar one discussed here
https://github.com/pandas-dev/pandas/issues/5500

solution was to use quoting
https://stackoverflow.com/questions/27158922/read-csv-eof-character-in-string-cause-parsing-issue

[2018-11-07 21:53] h-vetinari opened #23551 "API: __name__ of str.cat.methods wrong"
While working on #23167, I found out that the names of several methods that are generated by wrappers are not set correctly (which matters because I need them for error reporting).

E.g.
[code]

[2018-11-07 22:17] dragoljub commented on #23516
Tom, thanks for running this benchmark. Can you post your pd.show_versions() I want to re-create your stack exactly to do some more testing.

[2018-11-07 22:19] TomAugspurger commented on #23516
3.5

[code]

3.7:

[code]

[2018-11-07 22:27] h-vetinari opened #23553 "BUG: lib.infer_type broken for IntervalArray / PeriodArray"
While working on #23167, I found a regression in IntervalArray / PeriodArray - I'm guessing it's related to the whole EA effort. @jorisvandenbossche @TomAugspurger

[code]
This was still working in `v0.23.4`:
[code]

This is due to the fact that `lib.infer_dtype` tries
```values = getattr(value, '_values', getattr(value, 'values', value))```
and both `IntervalArray` / `PeriodArray` do not return a

[2018-11-07 22:47] h-vetinari opened #23554 "API/DOC: types covered by lib.infer_dtype"
In #23167, I'm trying consistently infer the dtype of the underlying Series/Index while calling the constructor of the `.str`-accessor. For testing this thoroughly, I wanted to build a parametrized fixture that returns an ndarray for all the dtypes that `lib.infer_dtype` can infer. I based myself on the list in the docstring, but found the following:
* the docstring mentions `'complex'` as a possi

[2018-11-07 23:17] WillAyd commented on #16521
I'd be +1 on this. Doesn't seem like a long term fit to maintain this method in our code base

[2018-11-07 23:32] h-vetinari opened #23555 "BUG: CategoricalIndex.str.extractall fails"
Found a bug in a corner case while working on expanded test coverage in #23167:

[code]

So `Series`, categorical `Series` and `Index` work with `extractall`, but not `CategoricalIndex`.

[2018-11-07 23:46] h-vetinari opened #23556 "BUG: many methods on CategoricalIndex.str are broken"
This was also uncovered by #23167, but is a different error than #23555.

Basically, all methods calling `CategoricalIndex.str._wrap_result(result, use_codes=True)` will necessarily fail, e.g.:
[code]

This is because `self._orig` is the original `CategoricalIndex`, which does not have a `cat`-accessor.

[2018-11-07 23:52] TomAugspurger opened #23557 "BUG: concat(Series[sparse]) raises ValueError"
[code]

[code]

Right now on master, we return a SparseDataFrame. I would like to instead return a DataFrame with sparse values. On master, the rule for the result type is currently "sparse if any of the inputs are sparse". I would amend that to specifically be "sparse if any of the inputs are a SparseDataFrame or SparseSeries". This will require breaking a couple places like `SparseSeries.unstack

[2018-11-08 00:06] h-vetinari opened #23558 "BUG: Index.str.partition not nan-safe"
While working on #23167, I found a corner case where `Index.str.partition` and `Index.str.rpartition` break in the presence of NaNs. I do not believe this is intentional (and it's not mentioned in the docs):

[code]

[2018-11-08 00:08] #23549 closed

[2018-11-08 00:15] TomAugspurger opened #23559 "DataFrame[sparse].__getitem__ should be Series, not SparseSeries"
Can we break API here to return a Series[Sparse] instead?

[code]

cc @rkern

[2018-11-08 00:59] kernc commented on #23125
I'd foremost prefer to avoid shaping the decision that may in future turn out to be a bad idea. :smile: As a user, I've never used `astype()` in situations other than to convert values to `str` to use the `Series.str` accessor, or to convert to `int` to use the values as indexes (since numpy now warns/raises on round floats), or to convert floats to shorter floats (float16) for performance.

I und

[2018-11-08 01:01] gfyoung commented on #23553
While technically not a regression for us (regression means that it broke in the most recent release but was working in the one before that), this should be "restored" to what it was before we release `0.24.0`.

[2018-11-08 01:01] kernc commented on #23125
A side question, certainly a little late at that, what blows up if `SparseDtype` were a subclass of `np.dtype` (and `np.dtype(float) == SparseDtype(float, fill_value=any)`)?

[2018-11-08 01:04] gfyoung commented on #23556
Yikes!  That's a pretty serious bug there...

cc @jreback

[2018-11-08 02:32] TomAugspurger commented on #23125
Great, I think we're in agreement then. `Series[sparse].astype(dtype)` will always be sparse.

I have a WIP branch that I hope to push tomorrow doing this.

You can't subclass `np.dtype`, at least from Python, and NumPy's dtype equality isn't the friendliest (IIRC, it tries to convert the `other` into a NumPy dtype, but raises a TypeError if that fails, instead of returning NotImplemented).

[2018-11-08 02:32] #23125 closed

[2018-11-08 02:53] jschendel opened #23563 "BUG: Series(list_of_intervals) results in object dtype"
#### Code Sample, a copy-pastable example if possible

Constructing a `Series` from a list of `Interval` objects results in an object dtype, and is not backed by an `IntervalArray`:
[code]

Note that constructing a `Series` from an `IntervalArray` results in the correct dtype and is backed by an `IntervalArray`:
[code]
#### Problem description
The input data is not being inferred as interval dtype

[2018-11-08 03:48] kylebarron opened #23564 "df.to_stata should automatically write in format 117 with wide strings"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The last line above raises an exception:

[code]

but is solved with:

[code]

This functionality (writing in `dta` format 117) was added in version 0.23. In my opinion, the Stata writer should automatically switch to version 117 if one of the columns is wider than 244 characters. At the least, the error messa

[2018-11-08 03:49] kylebarron commented on #23564
It would also be good to remove [this warning](https://pandas.pydata.org/pandas-docs/stable/io.html#writing-to-stata-format) in the documentation, saying that writing wider strings than 244 characters is prohibited. Should I make a new issue for that?

[2018-11-08 05:02] gfyoung commented on #23564
* Automatic switching to format 117 makes sense.  However, let's issue a warning so that end users are aware that formats are being changed.

* Good catch (re: the docs)!  No need to open a separate issue.  A PR that fixes everything that you've mentioned will be fine.

[2018-11-08 05:31] dragoljub commented on #23516
I tried several different fresh python installs on windows. Every Python 3.7 install 32 or 64 bit with Pandas 0.23.4 pip installed results in the slower CSV parsing speed. For fun I tried Installing a fresh Python 3.6.7 install and it again parses the same CSV 3X faster.

Is there anyone that could test this on Windows 10 and Python 3.7.1? 😕

[2018-11-08 06:12] WillAyd commented on #23531
@trianta2 I can reproduce your second issue. Can you please create that as a separate issue though? Typically would like to keep every issue related to one issue at a time so as to keep things less confusing when looking back.

Closing this for now as resolved on master but again please open up your second problem as a new issue