[2019-09-13 15:24] randomstuff opened #28427 "Resampling and counting empty Series does not have a correct dtype"
#### Code Sample, a copy-pastable example if possible

Short examples:

[code]
Longer example:

[code]

#### Problem description

When `.resample().size()` an empty dataframe, the resulting dtype is the dtype of the initial Series. It should be an integer.

This means that this kind of things fail if the input `Series` happens to be empty:

[code]

#### Expected Output

<pre>
int64
int64
int64
</p

[2019-09-13 15:24] randomstuff commented on #28427
Possibly related to #4962 or #26411

[2019-09-13 15:27] peterdhansen commented on #17211
My two cents:  if you have a mixed datatype Series

[code]
None of the above suggestions would let me get a string column where the 2 is formatted like the int.

[2019-09-13 15:58] charlesdong1991 commented on #28426
yes, with mangled lambdas being allowed, this error could be removed.

[2019-09-13 16:00] jbrockmendel commented on #28378
Probably, yes.  The one thing I want to double-check is that we aren't losing coverage for cases where we actually _do_ want a datetime64 Series, which I think might be the case in the arithmetic test.

@WillAyd thoughts on how to track this down more generally?  grepping shows only 11 usages of makeObjectSeries, but some of those are in fixtures.

[2019-09-13 16:08] jorisvandenbossche commented on #28423
That's a bug I would say. But note that `ser2 / 0` is not a Int64 Series, but a float64 Series, so I don't see the relationship with Int64 needing to hold inf to get the same result

[2019-09-13 16:09] jbrockmendel commented on #28321
I'm going to try to rephrase here more clearly before trying to add anything to the docs.

When looking at the imports of module X, I want to know what X relies on and what relies on X.  What parts of the code may be affected if I make an edit in module X.  The import order is designed to make this visually obvious.  Standard library and 3rd party modules are obviously not affected by module X.  S

[2019-09-13 16:09] adimascio opened #28430 "HDF store not closed on AssertionError"
#### Code Sample, a copy-pastable example if possible

Code adapted from https://github.com/ToucanToco/peakina/blob/master/peakina/cache.py#L84

[code]

#### Problem description

In `read_hdf`, if the `store.select()` call throws either a
`ValueError`, a `TypeError` or a `KeyError` then the store is closed.

However, if any other exception is thrown (e.g. an `AssertionError` if there are gaps in b

[2019-09-13 16:10] jorisvandenbossche commented on #28423
Reading your comment fully now. Why would we want to avoid casting to float? I think divisions should always give float? (at least that's the rule in numpy, I think it is good to follow that to have predictable types)

[2019-09-13 16:11] #20775 closed

[2019-09-13 16:11] #28341 closed

[2019-09-13 16:24] jbrockmendel commented on #28423
Fair enough, then consider floordiv.  ATM the Int64 case gives back an all-zero Int64 result (will have to track down whats causing that) while the Series[int64] result is the same as for the truediv example.

[2019-09-13 16:58] jmg7173 commented on #28378
As I searched, there is no usecase that `objectSeries` used just for `datetime` excluding arithmetic test.

I searched it including `object_series` fixture and instance of `TestData`(`TestData.objSeries`).
I hope I found everything :)

[2019-09-13 17:57] playermanny2 commented on #28117
bump, any updates here? @TomAugspurger @WillAyd @simonjayhawkins

[2019-09-13 18:14] 0anton commented on #28292
Hi Tom,

Identical index metadata indeed can be rebuild with:

[code]

[2019-09-13 18:28] TomAugspurger commented on #28117
https://github.com/pandas-dev/pandas/issues/16168 is the issue with reprs I was thinking of. I'm not sure if that's still relevant with newer ipythons.

[2019-09-13 18:32] TomAugspurger commented on #28292
OK, we'll close this for now but if you are able to reproduce it then we'll certainly reopen and look into a fix.

[2019-09-13 18:32] #28292 closed

[2019-09-13 18:35] Dr-Irv opened #28435 "DOC: Series.between() can take arguments that are Series, not just scalars"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The docs for `Series.between()` at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.between.html indicate that the `left` and `right` arguments are scalars, but it is possible (as shown above) to use a `Series` as either argument.

The docs should be updated to reflect this, including th

[2019-09-13 19:30] simonjayhawkins commented on #28117
agree with @TomAugspurger

[2019-09-13 20:03] datajanko commented on #28317
Okay, for small data, this can be easily improved:
[code]
changes to
[code]
Note that the last line looks awful, and the second line looks nice. What did I do:
Starting after Line [3505](https://github.com/pandas-dev/pandas/blob/9dc6de3a0ae76851a1d0535ef5a5ae27942c635b/pandas/core/frame.py#L3505)

[code]

So obviously, rewriting the values of the dict and appending one item to a list does not scal

[2019-09-13 20:20] WillAyd commented on #28378
Yea I think @jmg7173 if you can search for the fixture where this is used and check that as well would be helpful.

Mostly could just change and see what breaks though. The naming of this obviously means the intent is to deal with object data, so I don't think should break too much actually making this return an object dtype

[2019-09-13 20:40] TomAugspurger commented on #28317
Hmm I'm not sure. Are you pip or conda installing it? It does have a C extension, not sure if they have a wheel.

A WIP PR is just fine. Make sure to include a new ASV with a wide-ish DataFrame.

[2019-09-13 20:41] TomAugspurger commented on #28435
Does this align by series before doing the operaiotn?

[2019-09-13 20:44] Dr-Irv commented on #28435
No, if the indices don't perfectly align (or you don't use a scalar), you get
[code]

[2019-09-13 20:45] datajanko commented on #28317
I tried both ways to install it, without success. I'll attach an asv probably tomorrow.

[2019-09-13 20:46] TomAugspurger commented on #28423
I think that making _mask a bitmask is more important than supporting +/-
inf.

On Fri, Sep 13, 2019 at 11:24 AM jbrockmendel <notifications@github.com>
wrote:

[2019-09-13 20:50] jbrockmendel commented on #28423
Agreed.

[2019-09-13 20:54] TomAugspurger commented on #28427
Confirmed, thanks for the bug report.

Not sure where this would be going wrong.

[2019-09-13 21:03] jreback commented on #28423
I had a PR (closed) which created a MaskArray backed by pyarrow which does exactly this (use a bit mask)

[2019-09-13 21:07] TomAugspurger commented on #28406
Hmm, OK.

It's a bit unfortunate, but I we'll need to include something like

[code]

[2019-09-13 21:11] TomAugspurger commented on #28409
I'm not sure how to square these two

The questions of "where is this developed" and "how do I install this" can be separated. We're able to

1. develop things in one repo and install them in one package (today's setup)
2. split things into separate repos and package as one
3. split things into separate reops and package separately

Which of those (if any) are you proposing?

[2019-09-13 21:11] jbrockmendel commented on #28423
If we had pyarrow wouldn't we just use their implementation of IntegerNA?

[2019-09-13 21:20] simonjayhawkins commented on #28422
in that commit, `test_cross_engine_fp_pa` was changed. does `test_cross_engine_pa_fp` need to change as well?

[2019-09-13 21:25] datapythonista commented on #28409
Good point, I'm proposing 3.

But probably worth clarifying my priorities:

1. Allow an ecosystem of I/O connectors (without monkey patching, and with the same API than the ones we ship).
2. Make our connectors follow a standard API (e.g. subclass a base class and implement certain methods), the same than for third-party connectors
3. Move GBQ to a third party library, because the complexity it ad

[2019-09-13 21:28] jreback commented on #28423
in theory yes, but there are too many missing methods

so the storage is useful at this point (not a lot else)

[2019-09-13 21:31] jreback commented on #28409
the main issue is maintainers (who is going to maintain these)  and infrastructure

it’s not trivial to build wheels in all platforms

this is already a 3rd party library;we just test

[2019-09-13 21:31] TomAugspurger commented on #28278
@xwhuaduo I'm guessing you haven't gotten a reply becuase you haven't provided a reproducible example. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

And is this a usage question or bug report? For usage questions, we recommend using stackoverflow.

[2019-09-13 21:59] datapythonista commented on #28409
Thanks for the info, I totally missed that. I thought it was a wrapper around a generic gbq library, I see now that it's a third-party connector already, and we basically have the documentation.

Do you think it's worth testing it in every pandas PR? I guess there is a reason, but seems like adding a nightly build to pandas_gbq that tests with the latest pandas (release candidates, or may be maste

[2019-09-13 22:02] jreback commented on #28409
wouldn’t object to having a nightly build test
but otoh it’s simpler to have everything in a single well tested build(s)

[2019-09-13 23:04] randomstuff commented on #28427
This is coming from this:

[code]

[2019-09-14 00:53] sebassilverac commented on #15893
This was it thank you!

[2019-09-14 02:15] selitvin opened #28439 "KeyError raised when accessing .loc from a different thread"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When loading a large parquet file (230MB on disk and ~1.5GB in memory) and trying to access `loc[x]` on a different thread, I am getting the following crash:
[code]
Found two possible workarounds:
- Call `dataset_index.loc[0]` before accessing the index on other threads.
- Repeatative calls to `loc[x]` on the th

[2019-09-14 02:23] thrasibule opened #28440 "PERF: use numpy.random.Generator"
Numpy 1.17 introduced a new random module with faster PRNGs, and which drops the strict reproducibility of random streams guarantee, which allows some algorithmic improvements. In particular, the choice method is now a lot faster in the replace=False case. Would it make sense for ``random_state`` to return a np.random.Generator instead of a np.random.RandomState when numpy version >= 1.17 here: ht

[2019-09-14 02:46] jreback commented on #28439
this is in no way thread safe at all, not is this likely / possible to be implemented

[2019-09-14 02:46] #28439 closed

[2019-09-14 03:19] jmg7173 commented on #28378
Here's list where this is used:
* As function `makeObjectSeries` itself:
[code]

* As return of method `objSeries` at class `TestData`:
[code]

* As fixture `object_series`:
[code]

As you say, there is no breaks at test.

Even though tests are passed, I think `test_objarr_add_invalid` should be checked whether it used as right way.

I'll make PR about this issue!

[2019-09-14 04:01] ThibaultRouillard commented on #27558
If you are using python 3.5.2, using pandas version 0.24.2 works

`pip3 uninstall pandas`

`pip3 install pandas==0.24.2`

[2019-09-14 04:05] WillAyd commented on #28378
Awesome - thanks for digging into this

[2019-09-14 06:51] kmin-jeong commented on #27721
can I try it?

[2019-09-14 08:12] jorisvandenbossche commented on #28423
Personally, I am not sure a bitmask is necessarily worth if without the advantanges of going full pyarrow memory (eg it would make compatibility with future numpy masked dtypes more difficult; will need our own implementation, ..).
But anyway, that's a different discussion (worth having somewhere else), and even without the argument of future use of bitmask, I personally don't think trying to supp

[2019-09-14 08:14] jorisvandenbossche commented on #28422
Ah, those small differences :)

What versions of pyarrow and fastparquet do you have?
This is related to handling the serialized index metadata, which I would assume is handled properly in the latest fastparquet release (at least they now also write it)

[2019-09-14 09:29] lanhoter commented on #28375
I think you can try use stringIO.
[code]

[2019-09-14 09:53] jmg7173 commented on #28422
I'm currently using `fastparquet=0.3.0` and `pyarrow=0.13.0`.

[2019-09-14 10:25] simonjayhawkins opened #28446 "truediv argument of pandas.eval ignored."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The docs state..
[code]
but the `truediv` argument is ignored.

[2019-09-14 11:59] jorisvandenbossche commented on #28422
Would you be able to try with the latest release 0.3.2 ?
The code to deal with the updated metadata was only included in the last release I think.

[2019-09-14 12:05] jmg7173 commented on #28422
It works well!

How about fix requirements.txt fastparquet as `fastparquet>=0.3.2`?

[2019-09-14 12:13] #25896 closed

[2019-09-14 12:32] jorisvandenbossche commented on #28422
I maybe wouldn't directly increase the requirements, as it is only the combination of certain versions of pyarrow and fastparquet that give this problem (nothing directly related to the pandas code itself, so eg pandas works fine with fastparquet 0.3.0).
It's of course annoying for users, and for the tests we can in principle skip them if we detect that combination.

That's strange, not directly s

[2019-09-14 12:57] jmg7173 commented on #28422
Yes, I'm using conda. I checked default channel of conda(https://repo.anaconda.com/pkgs/main/), it uses 0.3.0. Is it different between this channel and conda-forge?

By the way, I'm working on OSX (Mojave 10.14.6). Is there any possibility about such problems because of using OSX? Because, I have other problems about test. In my environment, pytest fails at `pytest pandas` but some failed tests pa

[2019-09-14 16:28] MarcoGorelli opened #28448 "Can't convert `Categorical` to 'datetime64[ns, MET]', but can do it with Series"
#### Code Sample, a copy-pastable example if possible

[code]

This is because the `astype` method returns
[code]
, and `numpy` arrays don't handle this dtype.

Is this expected behaviour?

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Linux
OS-release       :

[2019-09-14 18:30] jbrockmendel commented on #28446
I'm pretty sure this is a holdover from py2

[2019-09-14 18:35] simonjayhawkins commented on #28446
i think so too. so just need to clean and add test?

possible solution https://github.com/simonjayhawkins/pandas/commit/3dd747cdaff0043b86434b53575ecded56512ea3

but would that be a breaking api change?

[2019-09-14 18:46] jbrockmendel commented on #28446
that looks like a good fix, yes.  i think it technically would be a breaking change, yes

[2019-09-14 19:30] fengshenme commented on #28348
It is a waste of time to repeat this problem, so submit this problem to increase the weight. When this problem encounters more, please revise it.
It should be a python version change, just go back to the original version, and wait for the next version to be good again
复现这个问题太浪费时间了,提交这个问题增加权重,等到这个问题碰到多了,那麻烦在修改下,
应该是python版本变动,退回原来版本就好,等下下个版本又好了

[2019-09-14 20:37] simonjayhawkins commented on #28446
so the earliest we can introduce the deprecation is 1.0.0 and the earliest we apply the fix is 2.0.0!

[2019-09-14 21:36] shahvi opened #28451 "df.plot legend entries missing markers when plotting multiple dataframes on same axes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When plotting multiple dataframe on the same axes AND using the style '.' , only the last legend entry marker appears, the others remain blank.
Note, this problem doesn't appear when using the default plotting style.

#### Expected Output
All the legend entries should correctly match the various plots.

#### Out

[2019-09-14 21:42] MarcoGorelli commented on #28448
Seems to me like this happens because
[code]
and so then, in `blocks.py`, in the latter (tz-aware) case we get to
[code]
, which fails, while in the first case this `if` statement returns False.

Is this expected behaviour?

[2019-09-14 22:15] darkthunder007 commented on #28451
i tried the example,it wo
<img width="502" alt="df" src="https://user-images.githubusercontent.com/53977169/64914171-b11ee380-d75e-11e9-9f68-1a3067b18a8d.png">
rks

[2019-09-14 23:15] jreback commented on #28348
@fengshenme that is not a
helpful comment

pls
revise the top section with a
full and complete example

[2019-09-14 23:15] #28348 closed

[2019-09-15 06:08] datajanko commented on #28385
Python's ipertools contain an `accumulate` method, so I'd suggest `_accumulate` and would like to take a shot at this.

[2019-09-15 08:59] jimmybeckett commented on #28451
It worked for me too.

![image](https://user-images.githubusercontent.com/29718592/64918522-4799d780-d754-11e9-8125-2fec78cae17b.png)

Could you upload a screenshot of your plot so we can see exactly what looks wrong?

[2019-09-15 12:01] darkthunder007 commented on #28451
Can you post the code, so that we can see what's not working

[2019-09-15 12:54] shahvi commented on #28451
@darkthunder007 I don't think the legend showed up correctly in your plot.  You are seeing the point behind the legend in your image.  I have added a plot showing the problem above.

[2019-09-15 13:14] #14719 closed

[2019-09-15 16:07] toobaz commented on #17833
Got the same problem in old code... solved with `df = df.loc[:, sorted(df.columns)]`

[2019-09-15 18:45] 0xF4D3C0D3 commented on #28422
@jmg7173 As you said, I also tried a single test by `pytest pandas/tests/io/test_parquet.py` . However, I still get the same failure as below:

[code]
Perhaps it would pass because you had upgraded _fastparquet_ to 0.3.2, not because of a single test.
And of course, I have passed the test too after the upgrade.
I'm gonna try this again tomorrow at the office with OSX as well.

<details>

INSTALLED

[2019-09-15 22:02] jimmybeckett commented on #28451
Agreed @shahvi, good eye. My original plot did not exhibit the buggy behavior, but that appears to be due to environment. I was using the Anaconda interpreter with Pycharm. I saw the buggy behavior when I fired up JupyterLab. Is this the same environment you're using?

As a side note, you appear to be using Python 2.7. I recommend switching to Python 3 asap. The buggy behavior is present in both P

[2019-09-15 22:23] shahvi commented on #28451
I have seen this issue with both Spyder and when running from command line. I do use Python 3 for most things, however some applications like ROS use 2.7, so forced to use it. And yes, I have seen the issue with both 2.7 and 3. I have been using this little script to overcome the marker issue, but would be good to fix it in the root.
[code]

[2019-09-15 23:38] jimmybeckett commented on #28451
I did some more experimenting. The buggy behavior appears with any style that is not the default. More significantly, the buggy behavior does not appear when Python is ran from the command line. I'm tempted to write this off as a bug in conda instead of in Pandas.

[2019-09-16 00:12] TexFly commented on #11704
I'm getting the same error in core/windows.py
 raise NotImplementedError("See issue #11704 {url}".format(url=url))

Any solution?
Thanks!

[2019-09-16 02:06] WillAyd commented on #28448
I think this should be consistent so probably OK to support. If you have a PR you'd like to submit would certainly welcome one

[2019-09-16 02:33] #9784 closed

[2019-09-16 02:41] WillAyd commented on #28440
There should already be `_np_version_under1p17` from NumPy compat which you can use internally

[2019-09-16 04:00] benbendemo commented on #28355
@WillAyd Could you please reopen this issue?

[2019-09-16 04:02] WillAyd commented on #28355
Have you tried using `io.StringIO`? If so can you post the code to reproduce that?

As mentioned `pandas.compat.StringIO` no longer exists

[2019-09-16 08:14] Eric-Sommer opened #28452 "crosstab sometimes erroneously handles dt operations"
#### Code Sample

[code]
#### Problem description

This gives my a `2x2` table with the years 2018 and 2019 on both axes, thus wrongly treating the `dt.month` operation. The same thing happens if I replace `dt.month` with `dt.day` in my example. Interestingly, `pd.crosstab(df["date"].dt.day, df["date"].dt.month)` works as expected, while `pd.crosstab(df["date"].dt.month, df["date"].dt.day)` does n

[2019-09-16 09:10] makbigc opened #28454 "[TST] Revise test_astype_str_map"
follow up https://github.com/pandas-dev/pandas/pull/28176#pullrequestreview-286089893

Right now, `astype(str)` converts `np.nan` into string.
[code]

After merging #28176, `astype(str)` will preserve `np.nan`.

Review `test_astype_str_map` in pandas/tests/series/test_dtypes.py to get rid of any `skipna` keyword argument.

[2019-09-16 11:55] TomAugspurger commented on #28440
We’ll need to discuss what API guarantees we make about the seeds. I don’t think the output should change when a use provides an integer seed, for example.

What happens now if the user passes a new  random Generator instance?

[2019-09-16 12:32] floriancartuta commented on #28249
@TomAugspurger I provided above the info.

[2019-09-16 13:02] TomAugspurger commented on #28249
Thanks.

Giving that

[code]

the issue is specific to setting with a datetime-like str. Not sure exactly where this would be though. Further investigation would be most welcome.

[2019-09-16 14:32] slazicoicr opened #28455 "build_table_schema has hardcoded Pandas version (0.20.0)"
#### Code Sample, a copy-pastable example if possible

[code]

produces

[code]
#### Problem description

The version `0.20.0` is hard coded in the function.

#### Expected Output

`pandas.__version__` returns `'0.25.0+349.g9dc6de3.dirty'`, which should also be returned by `build_table_schema`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2019-09-16 14:40] dmitrygalperin opened #28458 "pd.read_csv does not allow passing valid delimiters when using sep=None"
#### Code Sample, a copy-pastable example if possible

Using a sample file of:
[code]

[code]
#### Problem description

There is no way to pass the 'delimiters' argument to csv.Sniffer.sniff when using pd.read_csv(sep=None) causing an invalid detection of the delimiter in files with only a single column.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the out

[2019-09-16 14:49] selik commented on #11704
@TexFly Are you trying to iterate over a window object? If so, it's as the error says: not implemented.

[2019-09-16 14:49] TomAugspurger commented on #28455
This is deliberate. That's the pandas version the schema was last revised. I think we have an open issue about better documenting this.

[2019-09-16 14:56] jankislinger opened #28460 "PerformanceWarning: misleading warning for all columns"
#### Code Sample

[code]
#### Problem description

The problem is related to the feature added in #3622. The warning for types that cannot be saved as c-types applies for all `object` columns if any such column exists in the data frame. If all columns are either strings or numbers (but not mixed within a column) no warning is produced (which is expected).

#### Output

[code]

#### Expected Output

[2019-09-16 14:57] selik commented on #19873
@WillAyd From the docs (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.pct_change.html) it looks like `fill_method='pad'` is the default, so that `fill_method=None` should behave differently. In fact, I argue in #6389 that `fill_method=None` should be the default behavior. I think the pad default behavior is a UX bug.

[2019-09-16 14:59] TomAugspurger commented on #28452
The following is correct

[code]

Can you investigate what `crosstab` is supposed to do when the arguments have the same name? I agree that the behavior you show is surprising.

[2019-09-16 15:01] selik opened #28461 "`DataFrame.pct_change` should default `fill_method=None` instead of `'pad'`"
Both `DataFrame.pct_change` and `Series.pct_change` should have default behavior that matches the "obvious" implementation:

[code]

Unfortunately, the default behavior is set to `fill_method='pad'` which surprises many people (#6389). We should start a deprecation cycle to change the default to behave as expected, `fill_method=None`. I don't believe this will be disruptive, as most people think t

[2019-09-16 15:07] slazicoicr commented on #28455
Ok. The current documentation `Whether to include a field pandas_version with the version of pandas that generated the schema` does read to me that `pandas_version` should reflect the pandas version the user is running. Please close this ticket/reject Pull Request if this is an issue with documentation.

[2019-09-16 15:13] WillAyd commented on #28455
#26637 is probably the one being referred to. Would we consider deprecating / removing this altogether though? I personally also find it confusing without a lot of benefit

[2019-09-16 15:14] #25470 closed

[2019-09-16 15:14] IlyasAzeem opened #28462 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-16 15:17] WillAyd commented on #28461
Can you add a reproducible example? It's not quite clear from the code what you would be looking for.

FWIW #25291 has some new functionality which maybe covers what you are looking for, though that PR has gone stale. If it covers it would certainly welcome you picking that one up

[2019-09-16 15:19] slazicoicr commented on #28455
I personally like versioning schemas (the reason I came across `build_table_schema` was because I want to expose a promise about what the DataFrame will look like). If the format of this promise changes without me being able to detect it, things will break. I think the versioning can be kept by:
* Change `pandas_version` to `schema_version`

[2019-09-16 15:19] TomAugspurger commented on #28455
I'm not entirely sure how to deprecate it. In theory, we can

1. Add an `api_version` field, that contains what `pandas_version` currently contains
2. Bump the schema version encoding in `pandas_version`
3. State that sometime in the future, `pandas_version` will be removed.

Not sure if that's worth the churn on people currently reading them. Perhaps reach out to the people involved in earlier is

[2019-09-16 15:33] selik commented on #28461
Looks like @TomAugspurger made a comment to this effect on that PR. I'll check it out... someday :-) .

[2019-09-16 15:35] WillAyd commented on #28458
Looks buggy though I'm a little confused by the title and problem description. I didn't see the CSV Sniffer handling this any more appropriately - am I overlooking something?

[code]

[2019-09-16 15:50] dmitrygalperin commented on #28458
Sorry if I was a bit vague. Sniffer certainly does handle it appropriately given the dataset, but say I wanted to limit the possible valid delimiters. With the csv module I can do:

[code]

That way I can limit the possible valid delimiters and implement a fallback when the delimiter cannot be determined. Otherwise, the detected delimiter is 'e', which logically makes no sense given the dataset.

[2019-09-16 16:16] WillAyd commented on #28462
This looks like spam

[2019-09-16 16:16] #28462 closed

[2019-09-16 16:18] WillAyd commented on #28461
OK - closing this as a duplicate of what the PR already solves then, but again if it's something different feel free to provide a reproducible code sample with expected values and can reopen

[2019-09-16 17:16] TomAugspurger commented on #19028
This should be an attribute of the `.sparse` accessor.

[2019-09-16 17:56] jbrockmendel opened #28466 "API: DataFrame.__and__ vs Series.__and__ fillna behavior mismatch"
Based on tests.series.test_operators `test_logical_ops_df_compat`

[code]

Is there still a compelling reason to keep this mismatched behavior?

[2019-09-16 18:21] rafaelcf0 opened #28467 "Can't use a lambda function in named aggregation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I `groupby`+`agg` with a named function, the named aggregation works perfectly. However, when done with a lambda function instead, the following error is raised:

    KeyError: "[('height', '<lambda>')] not in index"

Notice that his is not [error 7186](https://github.com/pandas-dev/pandas/issues/7186) bec

[2019-09-16 18:46] jorisvandenbossche commented on #26123
This can also be reproduces with the sparse extension array:

[code]

[2019-09-16 19:07] jorisvandenbossche commented on #25270
This also is a problem with the `sparse` accessor:

[code]

[2019-09-16 19:15] jorisvandenbossche commented on #22630
This seems to be no longer a problem with the new `pd.DataFrame.sparse.from_spmatrix`

[2019-09-16 19:15] randomstuff commented on #28467
Works fine for me (python 3.7.4 and pandas 0.25.1).

[2019-09-16 19:16] jorisvandenbossche commented on #21993
This is no longer a problem with the new DataFrame[sparse]:

[code]

[2019-09-16 19:18] jorisvandenbossche commented on #21818
The same is true for Series[sparse]:

[code]

[2019-09-16 19:37] rafaelcf0 commented on #28467
An easy way to try the error out is through this shared [repl.it console](https://repl.it/repls/OlivedrabLikelyDemo).

[2019-09-16 19:45] jkukul opened #28468 "DataFrame.min/max with axis=1, datetime64[ns, tz] types and NaT values returns NaNs"
#### Code Sample, a copy-pastable example if possible

[code]

produces:

[code]
#### Problem description

For tz-aware timestamp columns, as soon as `pd.NaT` value is present in any row in any of the columns, than the column-wise `min()/max()` operations returns all `NaN`s.

If columns are non-tz-aware, then `min()/max()` work as expected, i.e. the result is similar to the one pasted below (excep

[2019-09-16 19:53] TomAugspurger commented on #28467
Reproduced on 0.25.1, but not on master FWIW.

On Mon, Sep 16, 2019 at 2:37 PM Rafael Ferreira <notifications@github.com>
wrote:

[2019-09-16 19:56] jbrockmendel commented on #27952
@mroeschke are you sure thats the problem?  I think that might be _a_ problem, but it looks like _delegate_method might be doing something weird too

[2019-09-16 20:22] TomAugspurger opened #28469 "DataFrame.to_html should validate that formatters has the correct length"
The length of `formatters` should match the number of columns

Both of these should error with a nice message.

[code]

Currntly `In [4]` succeeds, silently ignoring the bad input. `In[3]` values with a vague `IndexError: list index out of range`.

[2019-09-16 20:23] #25955 closed

[2019-09-16 21:16] mroeschke commented on #27952
When I tried debugging quickly that's the first spot where the behavior was incorrect. You're probably right in that the behavior is also incorrect up/down stream somewhere

[2019-09-16 21:20] mroeschke commented on #28468
Thanks for the report. I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/27794.

[2019-09-16 21:20] #28468 closed

[2019-09-16 21:46] TomAugspurger commented on #28466
Which, if any, would you propose to accept?

Filling with NaN is consistent with other ops I suppose.

[2019-09-16 21:55] arpit1997 opened #28472 "_normalize_keyword_aggregation` named agg helper function should be made public"
Slightly related to #28380

Currently an issue in Dask https://github.com/dask/dask/issues/5294 for implementing Named Aggregation (introduced in pandas 0.25.0) is open. To implement this it needs to use `_normalize_keyword_aggregation` and `_is_multi_agg_with_relabel`.

Making it public would be useful for frameworks like [dask](https://github.com/dask/dask) [mars](https://github.com/mars-project

[2019-09-16 22:00] sejsingffdc opened #28473 "GroupBy idxmin gives incorrect result on single-row data frame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The first print statement shows:
                     0
accountid
12345      createddate

Current behavior appears to swap the column name and minimizer value.

The second print statement shows the correct result:
           createddate
accountid
12345                0
23456                1

#### Output of ``p

[2019-09-16 22:00] TomAugspurger commented on #28460
This seems somewhat difficult to fix, since the caller is the one passing `items` which is passed to the error message, but we don't know the actual types of string vs. mixed till where we raise the warning.

The line

[code]

Can be applied to each column in `value`, and the subset of items that are mixed included in the error message.

Note that this will be mostly obsolete once we have a proper

[2019-09-16 22:11] TomAugspurger commented on #28452
I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/22529

[2019-09-16 22:11] #28452 closed

[2019-09-16 22:14] TomAugspurger commented on #28451
More likely a difference in matplotlib backends, rather than a bug in conda.

So is it correct that we're still missing a reproducible example?

[2019-09-16 22:22] TomAugspurger commented on #28472
And as an alternative to making it part of the official public API for end-users, we could add a test to ensuring that it's implementation doesn't move, so that projects like dask can rely on it.

That last option conflicts a bit our desire to deprecate all of `pandas.core` though.

[2019-09-16 22:37] guipleite commented on #28469
Hi! Can @hugoecarl and @gabriellm1 and I work on this?

[2019-09-16 23:45] selik commented on #28461
Ah, no, I don't think that PR was meant to address this issue directly. There happened to be a discussion of this issue as related to PR #25291.

[2019-09-16 23:49] selik commented on #28461
I misspoke earlier. The referenced PR does *not* put the default behavior into a deprecation cycle, which is the goal of this issue.

[2019-09-17 01:33] luranhe commented on #28372
[code]
I expect the output of this to be (and sorry for the bad formatting):
[code]

[2019-09-17 01:43] scottgigante commented on #27781
I think this is a related issue:
[code]

[2019-09-17 03:03] scottgigante opened #28476 "BUG: DataFrame[SparseArray] coerces to dense after np.sqrt"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The data shouldn't be coerced to dense. Here is the output for the above.

[code]

#### Expected Output

I would expect the resulting array to have the same sparsity structure as previously, given that the ufunc has not changed the zeros.

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</deta

[2019-09-17 03:05] scottgigante commented on #28476
A further note: if we apply this column by column it works fine.
[code]

[2019-09-17 03:09] WillAyd commented on #22197
Is this still an issue?

[2019-09-17 03:18] NasaGeek commented on #22197
looks okay in the latest docs

[2019-09-17 03:18] #22197 closed

[2019-09-17 03:22] scottgigante opened #28477 "BUG: DataFrame[SparseArray] coerces to dense with .T"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Given the entire dataframe is sparse, it should probably remain sparse on transpose?

Current output:
[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-09-17 04:27] WillAyd commented on #27353
By the way @jbrockmendel what you describe might have been resolved in Py37:

https://bugs.python.org/issue31333

Haven't benchmarked personally just sharing as I came across

[2019-09-17 04:50] WillAyd commented on #28469
@guipleite for sure - would certainly take a PR from you all

[2019-09-17 05:04] R1j1t commented on #28383
@WillAyd I created a pull request for this validation, but I wanted to confirm one thing. If `columns` is **not** `list_like` then should it raise error or warning?
I referred to the code in [reshape/utils.py] (https://github.com/pandas-dev/pandas/blob/master/pandas/core/reshape/util.py#L32) and it raised error there. Would like to verify if I am correctly interpreting it.

[2019-09-17 05:05] xuancong84 opened #28479 "value_counts() crashes if groupby object contains empty groups"
When you group some statistical counts for every day, it is possible that on some day there is no counts at all. This will result in empty groups in the groupby object. Performing value_counts() on such groupby objects causes crash.

The following example illustrates the problem:

[code]

**This table does not contain days with empty data, value_counts() does not crash:**

Timestamp | Food | Datet

[2019-09-17 05:41] vaibhavhrt opened #28480 "Naming Convention for Type Aliases"
A consistent naming convention should be used for type aliases.
Maybe CamelCase as the stdlib typing module is in Camel Case, but suggestions are welcome.

Inconsistent names could be found in `pandas.io.formatters.formatter`, `formatters_type` and `float_format_type`. Look for other similar names too and fix them all.

[2019-09-17 05:41] vaibhavhrt commented on #28480
I will open a PR after a few days. Meanwhile someone else is welcome to pick it up.

[2019-09-17 08:34] jorisvandenbossche commented on #26706
@jreback ping. Otherwise I plan to go forward with the PR, multiple people here seem to find this a useful addition.

[2019-09-17 10:18] jorisvandenbossche commented on #28466
I don't think there is a good reason to keep the mismatch, but I also don't think there is a clear correct result right now, as we basically do not support (or have defined behaviour for) boolean data with missing values.

This relates to the discussion on missing values in https://github.com/pandas-dev/pandas/issues/28095 and specifically what the behaviour of NA should be in logical operations.

[2019-09-17 10:35] jreback commented on #26706
i will comment later and yes i still object

[2019-09-17 10:43] leo4183 opened #28481 "combine_first returns unexpected results for timestamp dataframes"
#### Problem Description
`combine_first` returns weird results in case there exist unmatched columns between two timestamp dataframes.  this issue probably relates to #24357 (not retaining dtypes)

[code]

<details>

x|0|1
---|---|---
a|NaT|NaT

y|1|2
---|---|---
a|NaT|NaT
b|2019-01-01|2019-01-02

</details>

##### Output of ``x.combine_first(y)``

current|0|1|2
---|---|---|---
a|NaT|NaT|-9.223372

[2019-09-17 11:38] jorisvandenbossche commented on #27911
Do you mean on the scalar "container-like" objects? (and also not sure what you expect to be "correct")
But: is_list_like will see those objects as list like (return True). This is correct given the definition of list-like we use, but it is not desired for object arrays of such container-like objects.

It probably makes sense to make the handling of list or non-array-list-likes uniform.

[2019-09-17 12:22] jreback commented on #26706
We already have the ``pd.api.types``,  ``.select_dtypes``, and ``.dtypes``. So you are proposing yet another way to do virtually the same thing.

You are also essentially proposing a massive api expansion of ``is_*`` on Series (and Index) for that matter (this is at least 10 properties).

I find this wildly confusing and am -1 on this addition.

If you thing this is the 'best' api, then please pro

[2019-09-17 12:29] jorisvandenbossche commented on #26706
No, I never proposed that. I only proposed a single property on the `sparse` accessor for a DataFrame (so not even top-level on DataFrame), and nothing for Index / Series.
Where did you read this massive API expansion? (trying to understand our misunderstanding)

[2019-09-17 12:59] #28378 closed

[2019-09-17 13:09] LuisFRoch opened #28483 "Unexpected results on groupby([]).sum()"
#### Code Sample: notebook with steps take = https://nbviewer.jupyter.org/github/LuisFRoch/Concerns/blob/master/PandasBug%3F.ipynb

[code]
#### Problem description

[Hi, I think there's a problem dropping/excluding data points with groupby.sum function. I've performed the following code (see above), which at hindsight seemed ok until I compared with the same data using Excel and simple plot of the

[2019-09-17 13:38] #28005 closed

[2019-09-17 13:54] Hvass-Labs commented on #28313
The following is the workaround I will probably use. It is a wrapper function for upsampling either a Pandas `DataFrame` or `Series`, with either a `DatetimeIndex` or a `MultiIndex`. As you can see, it is a mess because Pandas has unclear / inconsistent / complicated semantics for upsampling a `MultiIndex`.

    def upsample(df, rule='D', method='ffill',
                 group_index=TICKER, date_i

[2019-09-17 14:01] jbrockmendel commented on #28466
@jorisvandenbossche are you suggesting anything in particular for the short-term to bring these into alignment?

[2019-09-17 14:08] jorisvandenbossche commented on #28466
Nope .. except for raising an error instead, but that's probably a bit too drastic.

[2019-09-17 14:20] kylekeppler commented on #17211
I am surprised `Series.str.format()` is not a thing, was that intentional?

[2019-09-17 14:48] TomAugspurger commented on #28483
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

You shouldn't need to link out to other sources / read from excel. Just the minimal code needed to reproduce the results.

[2019-09-17 15:09] LuisFRoch commented on #28483
Hi,

I provided all details, not sure what happened. If for example you look at
the sorted values and compare them with the groupby output you'll notice
FDIC is missing 2 data points, but please see below:

Notebook:
https://nbviewer.jupyter.org/github/LuisFRoch/Concerns/blob/master/PandasBug%3F.ipynb

I think there's a problem dropping/excluding data points with groupby.sum
function. Not sure if

[2019-09-17 15:15] LuisFRoch commented on #28483
by the way, i tried removing 'Count' from the group by and SEC and OCC
drops 2 Stocks and 5 Debit Card values respectively.

On Tue, Sep 17, 2019 at 5:08 PM Serfer USA <gugolwifi@gmail.com> wrote:

[2019-09-17 15:40] WillAyd commented on #28383
Yea I think that would be good to emulate - nice find!

[2019-09-17 15:44] EBenkler opened #28485 "Matplotlib's ConciseDateFormatter-like formatter in pandas.plotting._matplotlib.converter.py"
Matplotlib has a nice formatter class named matplotlib.dates.ConciseDateFormatter, which is a candidate to become Matplotlib's default date formatter in future versions (as of MPL 3.1.1, see
[Matplotlib documentation](https://matplotlib.org/gallery/ticks_and_spines/date_concise_formatter.html)).

It would be nice if the converters defined in pandas.plotting._matplotlib.converter.py
could provide t

[2019-09-17 16:50] TomAugspurger commented on #28483
Take a look at the minimal examples in the other issues /
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to see
how they should be structured.

On Tue, Sep 17, 2019 at 10:15 AM MiniGeek <notifications@github.com> wrote:

[2019-09-17 16:55] TomAugspurger commented on #17211
Probably not intentional.

On Tue, Sep 17, 2019 at 9:20 AM kylekeppler <notifications@github.com>
wrote:

[2019-09-17 16:57] bibenb1 opened #28486 "Add support for schema parameter when calling io.sql.get_schema"
Currently, there is no way to specify the schema when calling pandas.io.sql.get_schema, the schema is a helpful parameter when working with certain databases such as MSSQL.

[code]

this adds an extra step to have to parse the file in order to add the schema, otherwise when I execute the script later, the table is created in user default schema (dbo in most cases). This issue can be easily address

[2019-09-17 18:10] TomAugspurger commented on #28477
Yep. This is a duplicate of https://github.com/pandas-dev/pandas/issues/22120.

Note however, that there isn't necessarily an efficient way to do this for Sparse. The sparsity is encoded column-wise, so I suspect you'll need to have an intermediate dense representation before returning to sparse.

[2019-09-17 18:10] #28477 closed

[2019-09-17 18:11] h-vetinari commented on #17211
I'd say it hasn't been intentionally omitted, but it cannot easily be added due to the way the `.str`-accessor works. You need to have strings *before* you're even able to call `.str`, so by the time you get to `.str.format(...)` the question of the format has already been settled for you (to the default).

Of course it would be hypothetically possible to delay the execution of calculating the str

[2019-09-17 18:12] TomAugspurger commented on #28476
I'm glad you're trying out the new sparse stuff :) Apologies that there are some issues with the transition.

This one is a duplicate of https://github.com/pandas-dev/pandas/issues/23743.

I'll write up a proposed fix there. We need to define `DataFrame.__array_ufunc__`.

[2019-09-17 18:12] #28476 closed

[2019-09-17 18:21] TomAugspurger commented on #17211
Ah, yes @h-vetinari is correct.

Typically I'd use `series.apply("{}".format)`

On Tue, Sep 17, 2019 at 1:11 PM h-vetinari <notifications@github.com> wrote:

[2019-09-17 19:29] Liam3851 commented on #28479
Simpler repro; happens on Series as well, not just DataFrame.

[code]

[code]

[2019-09-17 19:50] ParfaitG commented on #27547
Awesome @TomAubrunner! The fix worked with pandas `read_sql` even with parameters.  I have cited you on a [StackOverflow question](https://stackoverflow.com/a/57981030/1422451)! Let me know if I should re-ask this ticket on the pywin32 repo, or you can add a link if you already attempted a PR. I see some recent tickets for adodbapi, so authors may still be actively monitoring. Possibly the authors

[2019-09-17 20:00] tarrenj commented on #26930
I'm currently trying to achive this via a combination of DevOps pipelines and GitHub Actions.  The downside is that the same build has to be run twice; GitHub Actions is _currently_ free, so it's not an issue, but it may be in the future.

I haven't had any success yet, but I'll update here if I do.

[2019-09-17 20:07] scottgigante opened #28487 "DataFrame[SparseArray] coerces to dense on sum"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The new sparse dataframe is coerced to dense when computing the sum.

[code]

#### Expected Output

The output should be computed successfully as in the scipy case.

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-09-17 20:11] scottgigante commented on #28476
Apologies for the repeated duplicates. I promise I am searching first!

[2019-09-17 20:21] #28118 closed

[2019-09-17 20:42] TomAugspurger opened #28488 "Add base test for ExtensionArray.astype and copy"
We should be able to test astype to our own type

[code]

A few tests fail this. Would welcome investigation.

`$ pytest pandas/tests/extension/ -k test_astype_own_type -v --tb=line`

[code]

[2019-09-17 20:48] TomAugspurger commented on #28488
I'm assuming we do want this property. It's what NumPy does

[code]

https://github.com/pandas-dev/pandas/blob/5a227a410c520ceec2d94369a44e2ab774a40dc3/pandas/core/arrays/integer.py#L518 may need an additional branch checking if `self.dtype` exactly matches `dtype`. In which case we just return `self` when `copy=False`.

We'll also want to update the docs in ExtensionArray.astype that this should

[2019-09-17 20:53] TomAugspurger commented on #28487
Can you verify: this is an issue with both SparseDataFrame and DataFrame[Sparse]?

[2019-09-17 20:56] TomAugspurger commented on #21231
I can't reproduce this anymore on master.

[2019-09-17 20:56] #21231 closed

[2019-09-17 20:58] TomAugspurger commented on #20766
Can't reproduce on master.

[2019-09-17 20:58] #20766 closed

[2019-09-17 20:59] TomAugspurger commented on #20172
to_sparse is being removed, but `fill_value=NaN` means that `NaN` is the "sparse value" not stored in memory. It doesn't mean that it'll be filled.

[2019-09-17 20:59] #20172 closed

[2019-09-17 21:02] TomAugspurger commented on #19278
We can re-purpose this issue to be for allowing `SparsArray[ExtensionDtype, fill_value]`. It's not exactly straightforward though.

[2019-09-17 21:04] TomAugspurger commented on #18414
Still applies to DataFrame[sparse]. Updated the original post.

[2019-09-17 21:08] TomAugspurger commented on #14310
This affects DataFrame[sparse] as well, but I don't think there's an obvious fix. We aren't planning to adopt arbitrary 2D extension arrays, so this will always be slower.

Would certainly welcome performance improvements given the current design though.

[2019-09-17 21:08] #14310 closed

[2019-09-17 21:11] TomAugspurger commented on #11726
Different buggy behavior with DataFrame[sparse]

[code]

Haven't investegated, but possible a `take` issue.

[2019-09-17 21:13] TomAugspurger commented on #9265
This is probably still an issue with `DataFrame/Series[Sparse]`. I don't think we dispatch to EAs for `.clip`.

[2019-09-17 21:15] TomAugspurger commented on #6427
This is essentially a duplicate of https://github.com/pandas-dev/pandas/issues/26929 once the sparse subclasses are removed.

[2019-09-17 21:16] TomAugspurger commented on #5078
@OmerJog this works with a DataFrame with sparse values

[code]

[2019-09-17 21:41] jbrockmendel commented on #28150
@TomAugspurger sure this is closed by #28119?  My understanding was that specifically punted on this topic.

[2019-09-17 22:01] TomAugspurger commented on #28150
Probably OK to keep open.

On Tue, Sep 17, 2019 at 4:41 PM jbrockmendel <notifications@github.com>
wrote:

[2019-09-18 01:42] #28423 closed

[2019-09-18 01:47] #22381 closed

[2019-09-18 01:48] #22443 closed

[2019-09-18 01:57] jbrockmendel commented on #26407
`return libindex.get_value_at(self.sp_values, sp_loc)`

FWIW in an upcoming cleanup branch I'm planning to get rid of libindex.get_value_at altogether.  It is _very_ similar to `return com.maybe_box_datetimelike(self.sp_values[sp_loc])`.

[2019-09-18 01:58] jbrockmendel commented on #24712
This is correct as is.  Closing.

[2019-09-18 01:58] #24712 closed

[2019-09-18 02:23] rjurney opened #28490 "pd.read_parquet can't handle an S3 directory"
## Summary

*pyarrow* can load parquet files directly from S3. So can Dask. *pandas* seems to not be able to. This would be really cool and since you use *pyarrow* underneath it should be easy.

For example in *pyarrow*, even with push-down filters:

[code]

## Code

This code loads field names from an S3 file then loads an S3 directory containing lots of parquet files. Note that I have repeatedly

[2019-09-18 02:47] jreback opened #28491 "API: interval semantics"
https://github.com/AlexandreDecan/python-intervals

might provide some inspiration about Interval API that we might want to include / emulate

cc @jschendel

[2019-09-18 06:27] TomAubrunner commented on #27547
Hello Parfait G,

I’m not used to place requests, so it would be great if you re-ask this ticket on the pywin32 repo.

Best Regards
Tom

From: Parfait G <notifications@github.com>
Sent: Tuesday, September 17, 2019 9:52 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Aubrunner, Thomas <Thomas.Aubrunner@wacker.com>; Mention <mention@noreply.github.com>
Subject: Re: [pandas-dev/pandas] read.

[2019-09-18 07:13] Ran363 commented on #24589
Hi all, first timer here.
would love to give a hand,
where can I see what needs to be done?

[2019-09-18 07:17] jorisvandenbossche commented on #27547
OK, thanks for the follow-up, closing then on the pandas side.

[2019-09-18 07:17] #27547 closed

[2019-09-18 07:34] xuancong84 commented on #28479
I wonder how can such a big issue never been reported in the past. Grouping according to days is a very common use right?

[2019-09-18 08:06] shadiakiki1986 commented on #25423
Just came here to re-iterate the workaround by @jorisvandenbossche a bit more completely

[code]

[2019-09-18 08:33] jimmybeckett commented on #28488
Hi! I'd like to work on this issue.

[2019-09-18 08:38] jimmybeckett commented on #28451
Yes, that is correct.

[2019-09-18 08:49] roelhogervorst opened #28495 "sample from Series should never return empty series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When I sample with a fraction I always expect a result, returning an empty series is unexpected.

I found this issue in an older version of pandas, but it also happens in pandas 0.25

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit

[2019-09-18 08:55] 0xF4D3C0D3 commented on #28422
The result was the same in OSX too.

[code]

<details>

INSTALLED VERSIONS
------------------
commit           : 3f0e8162e2866411bc98d7317ffc76105b5f2af5
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
L

[2019-09-18 09:08] cedias opened #28496 "Reindexing overlapping IntervalIndex throws KeyError"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

If the interval is overlapping, it throws a key error:

[code]

#### Expected Output

Something less cryptic ?

Reindexing on an overlapping intervalIndex  with a DatetimeIndex should probably be checked by using `is_overlapping`

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show

[2019-09-18 09:29] LuisFRoch commented on #28483
gotcha, thanks

[2019-09-18 09:58] #27671 closed

[2019-09-18 12:09] jondo commented on #25220
I just want to note that CSV is also very often used in the more general meaning "character-separated values". Maybe the documentation of `read_csv`should switch to that definition?

[2019-09-18 12:35] #28406 closed

[2019-09-18 12:56] imanekho commented on #26314
Hello,

i am facing the same issue trying to create a pivot table , if someone can help !

Thank you

[2019-09-18 13:04] TomAugspurger commented on #26314
We need a PR to fix it in pandas.

On Wed, Sep 18, 2019 at 7:57 AM imanekho <notifications@github.com> wrote:

[2019-09-18 13:11] TomAugspurger commented on #28496
I think this is fixed on master to give a bit nicer error message.

[code]

[2019-09-18 13:15] TomAugspurger commented on #28495
Can you check the PR where this was implemented to see if this case was discussed?

[2019-09-18 13:16] TomAugspurger commented on #28488
Thanks! Let us know if you need help getting started.

[2019-09-18 13:16] imanekho commented on #26314
this is the only solution you think? any alternative solution may be
i am working on my final project and i have a large dataset to late to change it
thank yiu

[2019-09-18 13:20] TomAugspurger commented on #24589
https://github.com/pandas-dev/pandas/pull/25524 may give some insight. That did add and sub.

https://github.com/pandas-dev/pandas/blob/045880c29e4d40dc0458d2a3272d145174b5122d/pandas/core/ops/docstrings.py#L236 has the list. Items there where `df_examples` is None need to be updated.

[2019-09-18 13:21] ericbrown commented on #26314
You could attempt to downgrade your pandas to 0.21 (See here https://github.com/pandas-dev/pandas/issues/26314#issuecomment-490502770).  I ran into a similar problem recently and downgraded and it worked on one of my datasets.  It isn't the best solution but it might get you moving.

[2019-09-18 13:22] TomAugspurger commented on #28490
Can you look into our IO code and write a proposal for how we could support this? Generally, we just deal with a single file / buffer. It's possible that this is doable as long as we hand things off to the parquet engine relatively quickly, but I'm not sure.

[2019-09-18 13:23] imanekho commented on #26314
thank you

[2019-09-18 13:23] TomAugspurger commented on #28490
Can is this specific to S3? Or do we see the same behavior for directories on the local file system?

[2019-09-18 13:42] #27292 closed

[2019-09-18 13:59] Liam3851 commented on #28479
@xuancong84 I can reproduce on 0.19.2 (my earliest install), so this bug has been around a long time. My offhand guess is that `groupby(...).value_counts()` is a less common call, with users tending toward `groupby(['a', 'b']).count()` or some such rather than `groupby('a')['b'].value_counts()`.

[2019-09-18 14:02] #26777 closed

[2019-09-18 14:02] #28025 closed

[2019-09-18 14:02] #28407 closed

[2019-09-18 14:02] #25378 closed

[2019-09-18 14:02] #25694 closed

[2019-09-18 14:02] #26227 closed

[2019-09-18 14:02] #21993 closed

[2019-09-18 14:02] #22630 closed

[2019-09-18 14:02] #24270 closed

[2019-09-18 14:02] #15737 closed

[2019-09-18 14:02] #17993 closed

[2019-09-18 14:02] #18969 closed

[2019-09-18 14:02] #21909 closed

[2019-09-18 14:02] #10627 closed

[2019-09-18 14:02] #13665 closed

[2019-09-18 14:02] #14427 closed

[2019-09-18 14:02] #15634 closed

[2019-09-18 14:02] #5078 closed

[2019-09-18 14:02] #5470 closed

[2019-09-18 14:02] #6427 closed

[2019-09-18 14:02] #9275 closed

[2019-09-18 14:04] HughKelley commented on #25232
Hi, will make a few pull requests for this issue in the coming days/weeks.

Would it make sense to combine this issue with an issue for docstrings error `PR09: Parameter "{param_name}" description should finish with "."` ?

So far these seem to coincide pretty frequently and they are both simple fixes.

Or would it be better that I create a separate issue for PR09 and reference multiple issues in

[2019-09-18 14:23] naveenkaushik2504 commented on #26074
I have submitted a PR for this. This is my first contribution, so please guide if anything is not done in the right way. Thanks.

[2019-09-18 15:10] #12004 closed

[2019-09-18 15:24] WillAyd opened #28501 "read_json with dtype=False infers Missing Values as None"
Run against master:

[code]

I think the second above is an issue - should probably return `np.nan` instead of `None`

[2019-09-18 16:17] rjurney commented on #28490
@TomAugspurger this problem is specific to S3, it works fine locally. I’ll look into it, thanks.

[2019-09-18 17:08] imanekho commented on #26314
Can i have an idea how you dwnograded your version i tried to intsall the 21.0 that i get alot of error on denpendencies with other libraries
Thank you

[2019-09-18 17:10] ericbrown commented on #26314
pip install pandas==0.21

[2019-09-18 17:13] imanekho commented on #26314
this is exactly the command i used

[2019-09-18 17:14] asistradition opened #28504 "Sparse DataFrame Transposes to Dense"
I am migrating my `SparseDataFrame`s to `DataFrames` with sparse columns. I can no longer transpose this DataFrame and have it stay sparse. The behavior I was expecting was to have a fully sparse DataFrame maintain sparsity when transposed.

[code]

[2019-09-18 18:10] #28496 closed

[2019-09-18 18:17] jorisvandenbossche commented on #28490
I seem to recall from an earlier similar discussion the idea to just pass through to pyarrow in case of s3, and let them handle that (since they support it).

Currently we call `get_filepath_or_buffer`, and in there we do this for s3:

https://github.com/pandas-dev/pandas/blob/2b2845435a4b66e7dba9edef5296ed538ecffa12/pandas/io/common.py#L233-L238

which then in our s3 codes tries to open the file:

[2019-09-18 18:25] jorisvandenbossche commented on #28504
@asistradition thanks for the report! That's indeed a usability regression for DataFrame[sparse].

@TomAugspurger you mentioned something earlier today about transpose being possible in certain cases for ExtensionArrays?

[2019-09-18 18:25] vishnuyar commented on #28488
I would like to work on this issue, can you help me where to start

[2019-09-18 18:27] jorisvandenbossche commented on #28504
Actually, looking at the old implementation:

https://github.com/pandas-dev/pandas/blob/171c71611886aab8549a8620c5b0071a129ad685/pandas/core/sparse/frame.py#L844-L855

it seems this went through the dense 2D values, and then sparsified it again. So although possible, it was not a very useful implementation in a "sparse" context.

[2019-09-18 18:29] vishnuyar commented on #28369
Interested to work on this issue, any helpful pointers to begin with

[2019-09-18 18:35] asistradition commented on #28504
Ahh - yeah, that's not what I thought it was doing. I guess this is a feature request for a sparse transpose now (I can sparsify a dense matrix myself so I don't think reimplementing this behavior is necessary).

[2019-09-18 18:40] TomAugspurger commented on #28504
I don't think a true sparse transpose is really feasible for us, given the
SparseArray data model (I could be mistaken though).

On Wed, Sep 18, 2019 at 1:36 PM CJACKSON <notifications@github.com> wrote:

[2019-09-18 18:45] jorisvandenbossche commented on #28504
But in principle it should be possible to avoid densifying the full dataframe. On the minimum, we could convert to scipy sparse, transpose, and convert back. That might not be very efficient, but at least not densify.
(with some effort I suppose you could do a custom transpose based on our internal sparse index + values, but that might need some contributed effort)

[2019-09-18 18:54] jorisvandenbossche opened #28506 "TST: DataFrame operations with ExtensionArrays"
@jbrockmendel the use case I was trying to explain in words is this (which currently works):

[code]

As you mentioned, in those case the ops code would keep doing that column by column (or 1D block by 1D block) and the right integer 2D block will be splitted.
But I thought you mentioned something about such a case currently not being covered by the tests? (in which case it would be good to add so

[2019-09-18 19:05] jbrockmendel opened #28507 "COMPAT: tzawareness check behavior is different from stdlib"
`Timestamp` comparisons raise TypeError in some cases where `datetime`s do not:

[code]

The datetime comparison _will_ raise for inequalities, just not `==` or `!=`.

Changing this behavior would be an API change, but it would likely simplify a bunch of headaches (including a bug in array_equivalent)

[2019-09-18 19:14] jbrockmendel commented on #28506
Not sure if this is the case I was referring to, but `df2.add(df1["a"], axis=0)` currently raises

[2019-09-18 19:33] datajanko commented on #28385
@TomAugspurger would this direction/naming be okay?

[2019-09-18 20:20] WillAyd commented on #25601
Closing as I haven't updated this tracker and this is done in separate issues

[2019-09-18 20:20] #25601 closed

[2019-09-18 20:26] WillAyd commented on #27492
We don't have a list of removals we need to make here yet right? I assume it's most everything in #18262 and maybe more. Happy to open a new issue for that if not done already and track therein (or here as well)

[2019-09-18 21:33] TomAugspurger commented on #28507
Matching the stdlib makes sense here.

[2019-09-18 22:00] rjurney commented on #28490
@jorisvandenbossche @TomAugspurger This is exactly what i was thinking. I'll be happy to make the changes.

Btw, `pyarrow.parquet.ParquetDataSet` now accepts pushdown filters, which we could add to the read_parquet interface.

See: https://github.com/pandas-dev/pandas/issues/26551 See also https://github.com/apache/arrow/commit/d235f69bc7ebfbbd03f031b2191c69244861cf4f which went out in pyarrow rel

[2019-09-18 22:14] asistradition commented on #28504
I chose to do that in the short term:

`pd.DataFrame.sparse.from_spmatrix(df.sparse.to_coo().transpose(), index=df.columns, columns=df.index)`

It profiles to have about the same runtime as going through a dense array for anything that's 50%> sparse with the memory usage decreasing accordingly as it gets more sparse. I'm going to close this.

[2019-09-18 22:14] #28504 closed

[2019-09-18 22:18] WillAyd opened #28512 "DEPR: Deprecate numpy argument in read_json"
I've never really been clear on the purpose of the `numpy` argument in to_json. Some digging brought me here https://github.com/pandas-dev/pandas/pull/3876#issuecomment-19390383 where it is explained that this maintains some kind of sequence to elements. To illustrate the only difference I could find

[code]

I might be missing the point but I don't understand why this would be useful. Objects in

[2019-09-18 22:19] WillAyd commented on #28512
Should also note there are not tests that I can see that actually test `numpy=True` making any kind of difference

[2019-09-18 23:22] jbrockmendel commented on #28194
This does not segfault for me on master.  @benjaminriviere can you confirm this is still a problem?

[2019-09-18 23:42] jbrockmendel commented on #28145
Changing `if maybe_castable` to `if not maybe_castable` in construction._try_cast breaks  140 tests for me.  Based on skimming it looks like datetime64TZ dtypes are involved in most of the failures.

[2019-09-19 05:17] #26074 closed

[2019-09-19 06:35] jorisvandenbossche commented on #28490
It is "added" automatically, because additional arguments are passed through to pyarrow. But, a PR to add this to the documentation so it gets more visibility is certainly welcome!

[2019-09-19 07:05] jorisvandenbossche commented on #27492
That issue is for things we want to deprecate, not necessarily for things to remove. Up to now, we have been using this issue to keep track of that: https://github.com/pandas-dev/pandas/issues/6581/
In principle everything in that list should be removed (maybe with priority for the older ones)

[2019-09-19 07:52] andreapiso commented on #27672
So since the dataframe that is supposed to fill the NaNs has multiple matching values for a field, what should be the expected behaviour? I can think of a few alternatives:

- Fill NaN with the first matching value of the dataframe
- Keep those values as NaNs as they are ambiguous and only fill rows that have non-ambiguous matches
- Duplicate filled rows with each combination of matches found
- Ad

[2019-09-19 07:56] jorisvandenbossche commented on #28385
We might need to think a bit more in general about this problem. Adding `_accumulate` is fine for accumulative methods, but do we want to keep adding such methods for other kinds of functions? (eg the `np.round` that came up before)
Do we want to eg use the `__numpy_function__` protocol for this? Or a similar mechanism specifically for pandas?

Now for this specific case, the numpy protocol is act

[2019-09-19 08:47] lucaionescu commented on #28512
Hi, I'd like to work on this one. What would be the best way to go? Removing the argument from the function and adding a deprecation warning to the next release notes?

[2019-09-19 09:34] lhk opened #28518 "merge fails to add suffixes on multiindex columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm trying to merge to dataframes. Both have a multiindex and an "id" column. The merge happens on "id", the outer layer of the multiindex should receive suffixes. Depending on the number of indices in the multiindex this doesn't work. Only some of the multiindex columns receive suffixes, other's don't. For the

[2019-09-19 09:42] datapythonista opened #28519 "WEB: Improve new website styles"
The css of the new website needs some care. I think there are two separate things:
- General styles (headers, paragraphs, code blocks...)
- Home page

And I see the next options to move forward:
- We do it ourselves
- The designer donated by Indeed propose a style (send us an image on how the website needs to look like) and we implement it
- We hire a designer to implement the changes to the css (

[2019-09-19 09:50] datapythonista opened #28520 "WEB: Content for the footer"
What do we want in the new website footer? Will be visible in all the pages (including the documentation I guess)?

Ideas:
- Copyright note
- NumFOCUS note (see Dask website)
- Social media links (GitHub and Twitter I think)
- Back to top link
- Note about sponsors (like the providers of hosting and the design, see Django website)
- Project license
- Trademark note (see Spark website)
- Terms and

[2019-09-19 09:55] datapythonista opened #28521 "WEB: Blockers before moving the new website to production"
List of issues that we must have implemented before we're happy to move the new website to production (so far the plan is to deploy the new website when we release pandas 1.0). xref #27870

- [x] New logo
- [ ] Improve home page #28168
- [ ] Fix styles #28519
- [x] Footer with the right content #28520
- [ ] Change the layout of the docs to match the one of the website #28580
- [ ] Deployment of th

[2019-09-19 10:06] b060149ee opened #28522 "Merge even on NaN"
#### Sample code

[code]
#### Problem description

Just want an option on merge function, which would take df and df1 to get df3 as well.

[2019-09-19 10:17] spatbord commented on #18255
I just updated pandas to 0.25.1, and noticed this new behaviour. I would much prefer an option to override the 'infer', since the current behaviour causes a dramatic slowdown in my specific case, from less than 0.5 seconds to almost 2 minutes.
I retrieve a list of stock prices from a database: about 3 years of data for 20k stocks, sorted by first stock and then date (as julianday in the database).

[2019-09-19 10:55] Koojav opened #28523 "DataFrameGroupBy.first() affects group without assignment"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description

The invoking method, without re-assignment of result or specifying that it should work in place, should not affect the object upon which it is being called.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : N

[2019-09-19 11:27] TomAugspurger commented on #28490
Fastparquet should handle the string just fine as well.

On Thu, Sep 19, 2019 at 1:35 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-09-19 11:37] jorisvandenbossche commented on #27900
@TomAugspurger last time you did something like

[code]

That did not work this time?
It seem Thomas Kluyver is doing something similar here https://github.com/h5py/h5py/pull/1316

[2019-09-19 11:46] jorisvandenbossche commented on #27900
This actually seems to be working, will do a PR (we already have the infrastructure set up, but the base list of deprecations was not passed properly to Series)

[2019-09-19 12:02] jorisvandenbossche commented on #27900
OK, done in https://github.com/pandas-dev/pandas/pull/28524

[2019-09-19 13:21] TomAugspurger commented on #28523
Can you check where things go wrong? We do have a `mutated` property on BaseGrouper. That's where I would start looking.

[2019-09-19 13:21] TomAugspurger commented on #28522
We've had previous discussions about this. Can you search for them?

[2019-09-19 13:26] Connossor opened #28525 "BUG: groupby quantile fails with multiple quantiles"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The quantile aggregation accepts a parameter `q` which which be a single quantile, or an array of multiple quantiles. According to the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.quantile.html) q should be "float or array-like".

Since the upda

[2019-09-19 13:54] bgarbin opened #28526 "read_excel with opened data set"
My issue is partially reported here:
https://stackoverflow.com/questions/57993351/unicodedecodeerror-cant-decode-byte-solved-by-writing-and-reading-with-panda

Ultimately I would like to use pandas.read_excel on already opened data (without having to save on the disk and re-open).

Tracing it into panda's depth I found that adding a test in excel.ExcelFile __init__ method was doing the trick.

[co

[2019-09-19 14:14] TomAugspurger commented on #28525
Fixed on master. We're doing a 0.25.2 release soonish with this fixed.

[2019-09-19 14:14] #28525 closed

[2019-09-19 14:25] TomAugspurger opened #28527 "Operations between DataFrame and ExtensionArray loses EA dtype"
What's the expected behavior here?

[code]

Would we expect the eventual op to dispatch to the ExtensionArray, preserving the Int64Dtype for each?

I believe this is different from https://github.com/pandas-dev/pandas/issues/28506

[2019-09-19 14:40] Connossor commented on #28525
Thanks @TomAugspurger for the very speedy response!

[2019-09-19 14:55] datapythonista opened #28528 "WEB: Deployment of the new website in production"
Until now, we've been deploying the website manually afaik, from the separate repo.

What I would do with the new website is next (open to discussion):
- Have a job running to automatically deploy the website from master, possible frequencies:
  - Every commit
  - Daily
  - Weekly
- Build the website normally, as we do in https://github.com/pandas-dev/pandas/blob/master/azure-pipelines.yml#L122
-

[2019-09-19 14:56] masip85 commented on #15354
I agree and support this feature. I see is in stop motion right now.

[2019-09-19 15:05] WillAyd commented on #28528
Why do we want to deploy daily from master? I feel like that might add a maintenance burden for not a lot of gain

[2019-09-19 15:07] jorisvandenbossche commented on #28528
Currenlty, Tom builds the website manually and uploads it, which means even more burden + it often does not happen directly after a change.
So automating this makes sense to me?

[2019-09-19 15:09] jorisvandenbossche commented on #28528
@datapythonista in the daily deploy, this can also include the dev docs? (similar to a version: pandas.io/docs/en/dev/)

[2019-09-19 15:09] WillAyd commented on #28528
I'm mostly concerned about the frequency. Pushing daily changes to a live production documentation system seems like an easy way for mistakes in our development process to impact people trying to use the documentation in the day to day

[2019-09-19 15:12] WillAyd commented on #28526
When you say `opened data` do you just mean bytes? If so I think very unlikely to support, but you can always open once with the `ExcelFile` object and reuse for reads from there

[2019-09-19 15:16] datapythonista commented on #28528
Forgot to add it, but that's surely an option, and I'm happy about it.

I'm ok with weekly too. But couple of comments to consider:
- Personally, if I change something to the website, I'd like to see it life not long after.
- The stable documentation will only be updated when releasing, so shouldn't be affected
- I think `rsync` should be quite harmless, if something is broken, it simply won't upd

[2019-09-19 15:16] jorisvandenbossche commented on #28528
We will typically not change the website very often (at least not daily), but if we do, we want to have it live quickly (eg for announcing a new release).
So to have it practical, that means that the automatic update should be done either on each commit (if the web sources are touched, which can be less than daily) or on a regular basis such as daily.

[2019-09-19 15:29] bgarbin commented on #28526
Yes, I mean bytes.
Actually, I am using pandas' powerful decoding functions (in xlrd) to decode acquired data. I would like to avoid writing the data to the disk to speed up the process and I  am not re-using the same data after but acquiring new ones.

[2019-09-19 15:33] WillAyd commented on #28526
Any chance you can get the same to work with `openpyxl`? `xlrd` is no longer maintained and the previous maintained has asked us a few times to remove it from pandas, so we aren't likely to add features that rely on `xlrd` implementation details

[2019-09-19 15:37] TomAugspurger commented on #28528
+1 for continuously deploying it whenever the web stuff is touched.

[2019-09-19 15:41] datapythonista commented on #28528
After a second thought, also +1 on this (immediate fixes, and the CI will be simpler with a single job for all). And if for whatever reason this causes troubles, it should be very easy to change the frequency.

Updated the description to show the different options.

[2019-09-19 15:45] TomAugspurger commented on #27672
I'm not sure what's best here. At the moment, I think raising with a nicer error message may be best.

[2019-09-19 15:47] bgarbin commented on #28526
I don't know ```openpyxl``` yet. Do you have any idea on where to start from my side?

[2019-09-19 15:47] jorisvandenbossche commented on #28528
One problem with this "whenever web stuff is touched" is that this heuristic does not work for the dev docs. Currently (for github pages) you first copy website and docs to a single directory, and then rsync both together. But I suppose they can also be rsynced separately? (and then the dev docs on each commit? that's maybe a bit too much?)

[2019-09-19 15:49] WillAyd commented on #28526
I don't know how to tackle your specific use case, but openpyxl is the only library we support for both read and write so there should be some kind of mechanisms in there to do both

[2019-09-19 15:51] TomAugspurger commented on #28528
Let's just deploy each commit then :)

[2019-09-19 15:51] datapythonista commented on #28528
I'd run the `rsync` after every merge to master, we're building the web and docs already. So it's just adding the `rsync` command, that in most cases won't have much to synchronize.

I think I don't get what you have in mind. Does what I propose make sense?

[2019-09-19 15:54] WillAyd commented on #28523
This affects a few functions like sum, prod, min, max, first, last, nth, and maybe more.

I *think* the issue is a call to `self._set_group_selection()` without resetting that selection after the fact. There is a `_group_selection_context` context manager that should be used instead.

@Koojav interested in trying a PR to fix?

[2019-09-19 16:27] WillAyd commented on #28526
As mentioned above I don't think we will add support for things you can do with `xlrd` internals so going to close - if you see the same issue pop up with other engines though ping and can certainly reopen.

[2019-09-19 16:27] #28526 closed

[2019-09-19 16:35] jreback commented on #28523
i created an issue for this already but may have to search for it

[2019-09-19 17:15] WillAyd commented on #22285
We no longer support Python2 so closing this one

[2019-09-19 17:15] #22285 closed

[2019-09-19 17:17] WillAyd commented on #5020
We no longer support Python2

[2019-09-19 17:17] #5020 closed

[2019-09-19 17:18] WillAyd commented on #27056
Python2 is no longer supported

[2019-09-19 17:18] #27056 closed

[2019-09-19 17:26] WillAyd commented on #28512
Yea you should be able to apply the `decorate_kwarg` decorator to read_json:

https://github.com/pandas-dev/pandas/blob/bd8dbf906e4352567094637c9c824c350dae3ad2/pandas/util/_decorators.py#L104

And then update tests in pandas.tests.io.json . Right now this argument is used for parametrization but doesn't actually change anything, so could probably just remove parametrization

[2019-09-19 17:27] WillAyd commented on #28512
Don't remove the argument yet though just add warning

[2019-09-19 17:35] jbrockmendel commented on #28527
Would you be surprised if I told you that this would be easy to fix if we could reshape `a` to `(1, N)`?

I'm pretty sure `a + df` ends up going through `dispatch_to_series`, where it does something like:

[code]

Each `a[i]` is a scalar, so loses its dtype.  If we could reshape to `(1, N)` this would instead be:

[code]

and each `a[:, i]` would be an `IntegerArrray` so the dtype would be retaine

[2019-09-19 17:56] goodship1 commented on #27977
Is this still open

[2019-09-19 18:13] dsaxton commented on #28495
I would think this is the expected output since always selecting a fraction of zero is more correct than always selecting half.  If you want a positive count you can always provide a value for `n` (maybe setting it to the ceiling of `frac * len`).

[2019-09-19 19:56] dauntilus opened #28536 "Pip installation instruction wrong on Pandas homepage"
On https://pandas.pydata.org under the `v0.25.1 Final (August 22, 2019)` heading, the PyPi installation link is

`python -m pip install –upgrade pandas`

The double hyphen in front of `upgrade` got converted to `'\u2013'` and pasting that into a terminal does not work.

[2019-09-19 20:13] TomAugspurger commented on #28536
Thanks. That's over at https://github.com/pandas-dev/pandas-website/blob/master/latest.rst if you're interested in updating it.

[2019-09-19 20:19] dauntilus opened #28538 "pd.Series.to_string(index=False) behavior changed to include leading spaces"
This is a change in behavior between 0.23 and 0.25.

On `0.23.0`
[code]
On `0.25.0`
[code]
Particularly strange with a series of length 1
[code]

There is always exactly 1 leading space regardless of how many characters the index would have taken.  The same behavior appears in `DataFrame.to_string`.

Is this an intended change in behavior?  I'm happy to look into identifying the cause if it is not

[2019-09-19 20:27] TomAugspurger commented on #27977
Running `./scripts/validate_docstrings.py --errors=EX02` should say whether there are any remaining @goodship1.

[2019-09-19 20:32] TomAugspurger commented on #28527
Would it also be solved by doing `a[[i]]`? Then you have an `(N,)` Series and a `(1,)` array, which should broadcast fine.

[2019-09-19 20:52] TomAugspurger commented on #28536
Closed by https://github.com/pandas-dev/pandas-website/pull/83 and updated.

[2019-09-19 20:52] #28536 closed

[2019-09-19 20:56] TomAugspurger commented on #28538
Looks like https://github.com/pandas-dev/pandas/issues/24980.

Stalled PR at https://github.com/pandas-dev/pandas/pull/25000

Summary at https://github.com/pandas-dev/pandas/pull/25000#issuecomment-458714951.

So an unexpectedly tricky issue. Let us know if you're interested in working on it.

[2019-09-19 20:56] #28538 closed

[2019-09-19 21:08] jbrockmendel commented on #28527
Yah, I think that works for now while we operate column-wise, but stops working once we operate block-wise

[2019-09-19 21:16] TomAugspurger commented on #22449
Perhaps I'm misunderstanding, but I view

[code]

as an alias for

[code]

Are you proposing changing that? Am I missing something?

[2019-09-19 21:16] dauntilus commented on #28538
It looks like @charlesdong1991 has done most of the work already on this and he's still contributing to Pandas recently.  If he has the time to finish his PR I'll defer to him but otherwise I'm fine with taking that on.

[2019-09-19 21:17] TomAugspurger commented on #28365
Just FYI, this will be a pretty low priority until we get a reproducible example in the issue that follows the issue template.

[2019-09-19 21:18] TomAugspurger commented on #28435
Ok, so the arguments can be scalar or any list-like with the same number of elements as self?

[2019-09-19 21:22] rjurney commented on #28490
Ok, I'll do it this weekend!

[2019-09-19 21:23] Dr-Irv commented on #28435
Yes. Basically for `s.between(a,b)`, if `a < s` and `s < b` are valid, then `s.between(a,b)` is valid

[2019-09-19 21:26] TomAugspurger commented on #28473
Looks buggy. Not sure where things are going wrong though.

[2019-09-19 21:28] TomAugspurger commented on #28372
Thanks. Can you edit your original post with just the current output and that expected output?

[2019-09-19 21:32] TomAugspurger commented on #28481
Thanks. In `DataFrame.combine_first`, we have `needs_i8_conversion` on the incoming values to get the integer values out of the ndarray. We may need to re-box after doing the `expressions.where`.

[2019-09-19 21:34] TomAugspurger commented on #28485
Possibly. Do you have a proposal for what using this would look like?

In general, I think we'd like to remove the need to maintain our own locators / formatters.

[2019-09-19 21:35] TomAugspurger commented on #18720
Can we do this for 1.0? Right now matplotlib is ~25% of our import time(?), and this is the only thing requiring a non-lazy import.

[2019-09-19 21:38] TomAugspurger commented on #28486
So this is just a matter of passing the argument through, then things should work? That sounds reasonable to me.

[2019-09-19 21:41] TomAugspurger commented on #28479
Thanks for the report. Anybody interested in working on this?

[2019-09-19 22:05] datapythonista opened #28545 "CI: Move last builds from Travis to Azure"
I think this makes sense, and it will simplify things having a single CI system.

If I'm not missing anything, there are few challenges:
- The number of jobs (I think we should get 10 extra concurrent jobs in Azure, since the CI is ok but will be too slow)
- Setting up databases in Azure (I think we currently set up Postgres and MySQL, and may be in the future we want SQL server too #9097)
- I thi

[2019-09-19 22:23] TomAugspurger commented on #28527
Mmm, why's that? If an EA is involved, then we know that the input to `ExtensionArray.__add__` is 1D, right?

[2019-09-19 22:30] charlesdong1991 commented on #28538
@dauntilus  I just read through your issue and my stalled PR, I could not recall exactly, but I think it was stalled because I was away for computer for several months for personal reason. Anyway, although i am still active contributing, if you are into working on it, and it will be my pleasure if you could get some inspirations from my stalled PR and continue! So go ahead if you want to fix the i

[2019-09-19 22:34] jbrockmendel commented on #28527
In that scenario we're back to operating column-wise.

[2019-09-19 22:35] TomAugspurger commented on #28488
I think @jimmybeckett may already be working on it.

[2019-09-19 23:49] EBenkler commented on #28485
Sorry, I don't understand what you are exactly asking for by

Are you asking why I think this would be good to have? Well, as I wrote, I like the ConciseDateFormatter and it will likely become the default in future versions of matplotlib.

Anyway, if you would like to get rid of own locators/formatters and other rather complex maintenance: Why not just implement the plotting via rather simple wrap

[2019-09-20 02:04] bibenb1 commented on #28486
Yes, it's a matter of passing the argument through. Although I am not sure if testing its impact will be as straight forward. I will submit a PR

[2019-09-20 02:28] WillAyd commented on #20821
Was this solved by #27467 ?

[2019-09-20 02:30] hweecat commented on #28294
I could give a try at improving the docs for MultiIndex.set_levels(), if that's okay.

[2019-09-20 02:35] WillAyd commented on #28294
@hweecat sure!

[2019-09-20 03:21] WillAyd opened #28546 "Better Message for xlrd Dependencies"
Right now if you don't have `xlrd` installed and use `read_excel` without specifying the `engine` keyword you get the following message:

[code]

This is in spite of the fact that the user may have openpyxl installed and could do something like `pd.read_excel(..., engine="openpyxl")` to get the same code to work

Two issues need to be addressed here:

  - The default `read_excel` call with no `eng

[2019-09-20 03:25] WillAyd opened #28547 "Deprecate using `xlrd` engine in favor of openpyxl"
xlrd is unmaintained and the previous maintainer has asked us to move towards openpyxl. xlrd works now, but *might* have some issues when Python 3.9 or later gets released and changes some elements of the XML parser, as default usage right now throws a `PendingDeprecationWarning`

Considering that I think we need to deprecate using `xlrd` in favor of `openpyxl`. We might not necessarily need to re

[2019-09-20 03:36] #21959 closed

[2019-09-20 03:36] #28202 closed

[2019-09-20 03:36] #26214 closed

[2019-09-20 04:52] jorisvandenbossche commented on #18720
Yes, I think we should try do it for 1.0. We have been raising the deprecation warning for some time now.

[2019-09-20 08:21] arpit1997 commented on #28547
@WillAyd Should we start with adding `openpyxl` as an engine in [pandas.read_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas-read-excel).

Happy to contribute a PR for it.

[2019-09-20 11:52] TomAugspurger commented on #18720
OK. I'll try to get to it today.

On Thu, Sep 19, 2019 at 11:52 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-09-20 12:31] cdeil opened #28548 "AbstractMethodError on IPython help for Series"
I'm using tab completion and wildcard search in IPython to find the right method usually. It's very common: https://jakevdp.github.io/PythonDataScienceHandbook/01.01-help-and-documentation.html

This used to work fine with pandas also in the past, but now I noticed that wildcard search is broken, and that tab completion spits a bunch of deprecation warnings for things I actually don't want to call

[2019-09-20 12:37] jreback commented on #28507
yeah this would be ok to change (its sligthly user facing so would need a note)

[2019-09-20 12:40] #28250 closed

[2019-09-20 12:42] #28317 closed

[2019-09-20 12:43] #27900 closed

[2019-09-20 12:50] WillAyd commented on #28547
It is already available just need to make it default over time, so want to raise a FutureWarning when the user doesn’t explicitly provide an engine that it will change to openpxyl in a future releaae

[2019-09-20 12:53] WillAyd commented on #28545
I am +1 on this

[2019-09-20 13:19] codinggosu commented on #28546
Can I work on this?

[2019-09-20 13:33] WillAyd commented on #28546
Sure!

[2019-09-20 14:01] TomAugspurger commented on #28548
The tab completion warnings was just fixed on master.

Not sure about the wildcard thing. What versions of IPython and jedi did that start failing?

[2019-09-20 14:08] 0xF4D3C0D3 commented on #28479
Hi, I'm interested in this! May I take this?

[2019-09-20 15:42] cdeil commented on #28548
I don't know. You think something changed on their side, not in pandas?

[2019-09-20 15:46] TomAugspurger commented on #28548
Yeah. Jedi 0.15 changed a setting, which surfaced the warnings. Perhaps the
glob issue is the same.

On Fri, Sep 20, 2019 at 10:43 AM Christoph Deil <notifications@github.com>
wrote:

[2019-09-20 15:49] christopherzimmerman opened #28549 "Many groupby tests depend on a bug in DataFrameGroupBy.apply"
Discovered while fixing an issue in #28541

A large number of tests relating to `DataFrameGroupBy.apply` depend on a bug in `apply` where the grouped column is not removed from the returned DataFrame.

Here are some examples:

- [`test_apply_chunk_view`](https://github.com/pandas-dev/pandas/blob/4edf938aedf55b9e6fbfb3199f70f857e8ec7e41/pandas/tests/groupby/test_apply.py#L366)
- [`test_apply_multii

[2019-09-20 16:01] thakkardharmik opened #28551 "sns.heatmap fails with OptionError: "No such keys(s): 'compute.use_numexpr'""
sns.heatmap fails with OptionError: "No such keys(s): 'compute.use_numexpr'"

[code]
Seaborn  and pandas version -
pandas==0.25.1
seaborn==0.9.0
The code I am trying is -

labels = [1,2]
C = confusion_matrix(test_y, predict_y)
#[[9475 9411]
#[5490 5624]]

sns.heatmap(C, annot=True, cmap=cmap, fmt=".3f", xticklabels=labels, yticklabels=labels)
plt.xlabel('Predicted Class')
plt.ylabel('Original Clas

[2019-09-20 16:36] Koojav opened #28552 "DataFrame[list[Series[datetime64ns, tz]]] drops timezone information"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description

When using `DataFrame().min()` method timezone information gets removed but it should remain untouched just like when using `Series().combine(...,min)`. Example:

[code]

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2019-09-20 16:57] WillAyd commented on #28549
I think worth double checking the comprehensive functionality of `as_index`, i.e. making sure it works consistently for the reduction functions to put the groupings in the index when `True` and put in as columns when `False`

Not sure off the top of my head how that is covered in tests but would be great if you can take a look while reviewing all of this

[2019-09-20 19:16] wesm commented on #8640
We are taking two measures in Apache Arrow to make it easier for third party projects to take on the project as a dependency:

* Reducing build-time dependencies for the C++ core library to zero. There [aren't many dependencies anyway][1] but some projects have taken the position that taking on even a single transitive build dependency (for example, the Flatbuffers compiler) is unacceptable. You c

[2019-09-20 20:32] randomstuff commented on #28552
Actually this, is the `DataFrame` creation which is dropping timezone, not `min()`:

[code]

[2019-09-20 20:40] randomstuff commented on #28552
But this works fine:

[code]

[2019-09-21 00:04] WillAyd opened #28555 "Create helper function in pandas/tests/io/json/test_pandas.py"
A lot of the tests in that module repeat the following pattern:

[code]

This is because the `records` and `values` formats intentionally do not completely preserve the axes labels. It would be nice to refactor this into a dedicated helper function (`assert_json_roundtrip_equal`?)

[2019-09-21 00:14] WillAyd opened #28556 "pd.read_json May Not Maintain Numeric String Index"
[code]

Note that the string nature of the values should be preserved via roundtrip here, but ends up being lossy anyway. Noted during refactor of #28510

[2019-09-21 00:26] WillAyd opened #28557 "pd.read_json and orient="index" sorts results"
Note that the order of input is not maintained with orient="index"

[code]

This is not necessarily a problem as by definition JSON objects are unordered, but preserving the order here would be a logical follow up to #27309

[2019-09-21 00:35] WillAyd opened #28558 "pd.read_json With convert_axes Produces Different Index Type than Empty Frame"
Another edge case brought up by #28510 . I'm not sure if we have a definite stance on this and there are probably a few other issues that are similar, though couldn't find anything exactly matching this

Note the index types for an empty data frame

[code]

In `read_json` with `convert_axes` the axes labels end up with a different dtype

[code]

[2019-09-21 00:38] WillAyd opened #28559 "read_json with orient="values" and numpy=True provides strange column"
Another edge case revealed in #28510 . Perhaps won't be relvant if we go through with #28512 but opening for posterity

For whatever reason, this particular combination of values produces a RangeIndex for the columns.

[code]

Nothing else appears to do that

[2019-09-21 00:43] WillAyd opened #28560 "read_json and numpy=True and dtype=False does not preserve int64 dtype roundtrip on Windows"
I don't have access to a PC so cannot replicate directly (if anyone else can would be appreciated) but going through #28510 there were a few Windows with dtype preservation, which would look something as follows:

[code]

Note that this may also be irrelevant if #28512 happens

[2019-09-21 06:52] bganglia commented on #28555
I am pretty new to Github but this sounds like something I can do.

First, let me check: Is this the kind of method you are looking for?

[code]

Or should the function create "result" and "expected" from a passed dataframe?

[2019-09-21 11:51] 0xF4D3C0D3 commented on #28479
I have found a cause of this issue by _pdb_ and somewhat _monkeypatch_.
the direct cause is that the prototype of `rep` func is `functools.partial(<function repeat at 0x7fd2c1cbfdd0>, repeats=array([1, 1]))` but `self.grouper.recons_labels` is `[array([0, 1, 2])]`

https://github.com/pandas-dev/pandas/blob/f08a1e62e31fc11e7e5bd7bec72b7e6d86473423/pandas/core/groupby/generic.py#L1258-L1264

So the

[2019-09-21 13:51] jorisvandenbossche commented on #28547
Would it be an option to simply switch the default, without first raising a warning? Or do the two engines give different results in quite some cases?

Reason I am asking is because if for 99% of the use cases both give exactly the same, raising a warning for all those users feels a bit annoying.

[2019-09-21 14:32] jmg7173 commented on #28556
Can I work on this issue?

[2019-09-21 15:28] KimDoubleB commented on #28557
Hi !
If this issue is not assigned, I would like to make PR for this :)

This is the result you expected, right?
`
...

    0
3  0
2  1
1  2
`

[2019-09-21 15:39] jorisvandenbossche commented on #26831
Small note here that we made PRs for each notebook (still on the separate repo) which can be reviewed with the ReviewNB app (which makes it easier to review and comment on notebooks): https://github.com/stijnvanhoey/pandas-getting-started-tutorials/pulls

[2019-09-21 16:36] scottgigante commented on #28487
Yes, confirmed. Same result for `X_pd_depr = pd.SparseDataFrame(X_sp)`.

[2019-09-21 17:14] cbertinato commented on #28256
Thanks Will. That's pretty much how I decided to do it. Looks like that's how it was done in the `JSONTableWriter` as well. PR coming shortly.

[2019-09-21 17:21] nhhas commented on #10208
ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

I can't view the data at all. any helps?
thanx

[2019-09-21 18:54] scottgigante commented on #27781
I edited the proposed line, but to no avail. The error in @jorisvandenbossche's answer is resolved:

[code]
but my and @stelsemeyer's issues remain.
[code]

Seems to me that there is another problem here:

https://github.com/pandas-dev/pandas/blob/a45760fd45b434caf9107bb19f1536636cc3fbd8/pandas/core/internals/managers.py#L1262

[code]

which is because of a discrepancy between `blk.fill_value` and

[2019-09-21 20:15] 0xF4D3C0D3 commented on #28479
However, this treatment only works when the index of SeriesGroupby is DatetimeIndex.
So I had it check that before enter the code block I wrote. It's like pretty ad-hoc though.

I think there are more fundamental solutions for this, but I'm just pandas newbie yet and what I able to do was just investigating local code block. I'll upload the rest tomorrow because I'm totally exhausted now D:...

[2019-09-22 01:50] rp-alevato opened #28565 "Getting KeyError when accessing one row by string in a DateTimeIndex with 1 element"
#### Brief Description
I'm getting a KeyError when trying to access a row by string in a DateTimeIndex. This only happens if I use 'YYYY-MM-DD HH:MM:SS' format. If I use 'YYYY-MM-DD' it works. Also if I add another element before accessing using the more complete format the exception vanishes. This will get more clear with the codes below.

#### Testing Code
[code]
#### Expected Output
[code]
####

[2019-09-22 03:44] karthikktn commented on #26314
I got 48000 columns, I am getting the same error
ValueError: Unstacked DataFrame is too big, causing int32 overflow

Is there is any limit to columns in 0.24.2

[2019-09-22 07:53] SylvainCorlay commented on #8640
There is a bit of a divide between people who are uncomfortable with e.g. having second-order dependencies, and being uncomfortable with a large monolithical dependency.

Having a large tree of dependencies between small packages is very well adressed by a package manager. It allows a separation of concerns between components, and the teams developing them, as soon as APIs and extension points are

[2019-09-22 08:38] jmg7173 commented on #28556
The reason why `pd.read_json` converts dtype of `object` index into `int64` is as belows.
https://github.com/pandas-dev/pandas/blob/f08a1e62e31fc11e7e5bd7bec72b7e6d86473423/pandas/io/json/_json.py#L916-L923

Do we need to convert `object` typed data as coarsed type like `float`, `int64` and so on?

If I comment out this line, it breaks tests so much.

[2019-09-22 09:02] benbendemo commented on #28355
Use io.StringIO in Python2 like below:

[code]

Results from Python2 io.StringIO
<img width="707" alt="image" src="https://user-images.githubusercontent.com/4705587/65384919-c2698080-dd5a-11e9-97f6-0ae484ac7063.png">

[2019-09-22 09:05] benbendemo commented on #28355
Use io.StringIO in Python3 like below:

[code]
Results from Python3 io.StringIO

<img width="775" alt="image" src="https://user-images.githubusercontent.com/4705587/65384953-28560800-dd5b-11e9-85f4-b33ee44c16cf.png">

[2019-09-22 09:09] benbendemo commented on #28355
Python2 Environments:
OS Version: MacOS Mojave 10.14.5
Python Version:2.7.14
Pandas Version:0.23.4

Python3 Environments:
OS Version: Win7 32
Python Version:3.6.5
Pandas Version:0.24.2

Could you help to suggest some infos? Really appreciate your work. @WillAyd

[2019-09-22 09:24] datapythonista commented on #26831
Read most of the tutorials, and my feedback is the same as before. I wouldn't personally continue after the first tutorial, since it's too theoretical, and don't really feel engaged or curious about what's being explained.

`Working with Pandas always requires import Pandas as pd`: is false, I work with pandas all the time and never use `import pandas as pd`. :)

I read half of the tutorials, and

[2019-09-22 10:32] 0xF4D3C0D3 commented on #28479
I just tried it like this:

[code]

It solves this issue and passes the tests though, some of the benchmarks got significantly worse D:

[code]

so I think that I should make `self.grouper.recons_labels` compact rather than make `idx` and `val` dense. But I'm not sure whether it'll work.

[2019-09-22 11:16] jreback commented on #26831
this a convention (so not required) and is the most common import pattern and so appropriate to include

[2019-09-22 11:19] h-vetinari opened #28568 "Pandas Enhancement Proposals?"
I was wondering if there has been discussion about having dedicated RFC / Proposals for larger changes to pandas?

For example, after a rather heated discussion in #24046, @wesm [asked](https://github.com/pandas-dev/pandas/issues/24046#issuecomment-515492965):

I wanted to come back to this and maybe write such a design document, and therefore wanted to check what the thoughts of the core team are

[2019-09-22 11:34] stijnvanhoey commented on #26831
@datapythonista, I understand your point; This is indeed not required and just a community 'convention'. If we actually include it or not, is your (core dev) call. I'll adjust the text asap.

With respect to the first tutorial, I'll try to convert to a more engaging version. As mentioned earlier, the 'dtype' details will be removed to decrease theoretical level of it. Feel free to add more comment

[2019-09-22 11:58] xuancong84 commented on #28479
@0xF4D3C0D3 Thank you for your attempt!-:) Though, the benchmark result looks terrible. I do not think this is the right way to fix. In fact, you need to read my entire post especially the last part which causes missing rows. In general, the first step in value_counts() should not ignore empty groups, and the solution must be generic and must apply to any groupby objects, not just for DatetimeInde

[2019-09-22 12:19] 0xF4D3C0D3 commented on #28479
Oh, I just overlooked the last part of your post. I only attempt about that time series. thanks to your advice, I'll be able to try in another way that more suitable. :D

But I don't understand what is `the data frame to be passed to the 2nd part of value_counts() function`.
Series.value_counts(self, normalize=False, sort=True, ascending=False, bins=None, dropna=True)
and
SeriesGroupBy.value_count

[2019-09-22 14:20] TomAugspurger commented on #28568
We have a new section in our roadmap that I think covers this: https://dev.pandas.io/docs/development/roadmap.html#roadmap-evolution

[2019-09-22 14:46] wesm commented on #8640
I assure you that we hear your concerns and we will do everything we can to address them in time but it will not happen overnight. Our top priority is ensuring that our developer/contributor community is as productive as possible. Based on our contribution graph I would say we have done a good job of this.

The area where we have made the most progress on modular installs actually is in our .deb a

[2019-09-22 20:05] h-vetinari commented on #28568
In the case of #24046, it was exactly this point that was in question, and why I opened this issue here. I admit I hadn't seen that section about the roadmap/evolution, but the question remains (to me): has some more formal process been considered? I think pandas is big enough to warrant it.

The way I see it, there's a flood of issues and PRs, and with scarce core-dev resources, any given issue P

[2019-09-22 20:09] charlesdong1991 opened #28570 "Groupby Agg not working if different partials with same name on the same column"
related to #28426  from PR #28428

from functools import partial

import pandas as pd
import numpy as np

quant50 = partial(np.percentile, q=50)
quant70 = partial(np.percentile, q=70)

test = pd.DataFrame({'col1': ['a', 'a', 'b', 'b', 'b'], 'col2': [1,2,3,4,5]})
test.groupby('col1').agg({'col2': [quant50, quant70]})

However, quant50 result is rewritten by quant70, so will get the same output on b

[2019-09-22 20:56] luranhe commented on #28372
Done.

[2019-09-22 21:51] eddy-geek commented on #23693
Here is another example of the almost-identical issue I stumbled onto:

[code]
Outputs:
[code]

[2019-09-22 21:56] WillAyd commented on #28555
@bganglia that looks good. Probably can just make at module level instead of class so no need for `self`. Want to make a PR?

[2019-09-22 22:04] eddy-geek commented on #23693
Code entry-point (and interesting commit to bisect): #9019

[2019-09-23 01:30] sachinruk opened #28572 "Groupby behaviour of missing zeros"
#### Problem description
I wish to get the number of sales for each month, even when the product is missing sales figures for a certain period. Consider the following example:
[code]
All the march data is deleted. I wish to get those sales to show zero when I print out this:
[code]
where `sum_sales` just for product A is as follows (notice the lack of March time step):
[code]

However, if I simply

[2019-09-23 01:35] alkasm commented on #28330
AFAICT, resampling will do the right thing, as it just applies the functions/classes from the groupby module, so I don't think anything special is necessary. There isn't really hardcoded `Series` or `DataFrame` there so I think we're good. I will submit the PR shortly. Thanks for the issue @grge.

[2019-09-23 02:24] gwerbin commented on #22496
@TomAugspurger

If the answer to this is "no", then that's an upstream bug IMO.

[2019-09-23 02:33] gwerbin commented on #22496
That said, here is my attempt at a fix: https://github.com/pandas-dev/pandas/compare/master...gwerbin:patch-2

Just made the edits here on Github, so haven't actually run any tests yet.

[2019-09-23 03:06] xuancong84 commented on #28479
@0xF4D3C0D3 Thanks for looking into the other issue on DataFrame construction!

For "the 2nd part", I am refers to the crashing line in the stack-trace:
`labels = list(map(rep, self.grouper.recons_labels)) + [llab(lab, inc)]
`
Since the 1st part has ignored empty rows, the constructed DataFrame/Series has fewer number of rows than the groupby output. The discrepancy in number of rows causes the br

[2019-09-23 07:10] ash-ishh opened #28576 "Cannot parse query for df.query() with column name containing parenthesis."
##### Code:

[code]
#### Error :

xy_(_z_)_BACKTICK_QUOTED_STRING ==2
SyntaxError: invalid syntax

#### Problem description
df.query is not able to parse the query where column name of df is not valid python identifier.

Workaround: https://stackoverflow.com/questions/40045545/pandas-query-string-where-column-name-contains-special-characters

#### Output of ``pd.show_versions()``

<details>
INSTAL

[2019-09-23 07:27] dhwanils95 commented on #28576
Yess, I am facing the exact same issue. The column name has paranthesis character which it is not able to parse and is raising exception.

[2019-09-23 08:12] jorisvandenbossche commented on #26831
I think I have said this before as well, but: you are welcome to start a specific discussion about this. But as long as we didn't have that, the standard we use in our docs is the status quo which is `pd`.

[2019-09-23 08:13] 0xF4D3C0D3 commented on #28479
oh wow, this is likely to be harder than I thought :D but by your favor, I find what I can try.
I'm not sure that I would make it, but I'll do my best.

[2019-09-23 08:48] 0xF4D3C0D3 commented on #28479
I'm just looking here

https://github.com/pandas-dev/pandas/blob/12859382a4a5325e6fd19a209b128bab44a3a37a/pandas/core/frame.py#L8402-L8409

and I modified a little bit and running tests, feeling lucky.

[2019-09-23 08:53] jorisvandenbossche commented on #26831
I agree on the first notebook that we should try to make it a bit more attractive. I also commented about that on the review PR: https://github.com/stijnvanhoey/pandas-getting-started-tutorials/pull/2.

For us, the goal of those getting started pages is to teach the readers some basic concepts about pandas, to give them a better understanding of how to think about pandas.
It was explicitly not our

[2019-09-23 10:00] roelhogervorst commented on #28495
@TomAugspurger I don't actually know how to find that PR.
 Thanks for the suggestion @dsaxton, I have indeed worked around this issue, so my question is maybe more philosophical:

- if I take a sample of bananas is it okay to return no bananas?

This feels wrong to me, but I can not articulate what the problem is exactly.

[2019-09-23 10:26] amcnulty93 commented on #28555
@bganglia @WillAyd  I would like to contribute if help is needed. I am also looking to start contributing to open source but don't want to have a "too many chefs" situation.

[2019-09-23 11:21] TomAugspurger commented on #28495
You might be able to find it with GitHub search or git blame.

Regardless, I'm not sure that we'll actually want to change anything at
this point. That's likely to be more
disruptive than it's worth.

We would of course welcome docs noting that the result can be empty,
depending on the number of row and frac.

On Mon, Sep 23, 2019 at 5:00 AM Roel Hogervorst CB <notifications@github.com>
wrote:

[2019-09-23 12:37] ivoska commented on #3441
mode={'a'} does not work as the documentation suggests
this is still a buggy mess

[2019-09-23 12:40] 153957 commented on #28547
The docstrings already require some updating as they currently indicate `'xlrd'` is the only option for 'engine'.

[2019-09-23 12:48] TomAugspurger commented on #28568
You can check the discussion on the roadmap PR where the evolution process was discussed a bit. I'm not sure what all was proposed as alternatives to design issues.

[2019-09-23 13:07] datapythonista commented on #26831
Sorry for the noise with the alias. I agree that's a topic for a separate issue, sorry about that. I think we've already got too many open discussions with the web, so I'll create that issue at a later stage.

I don't have more specific feedback. I don't think restarting from zero with a different approach is an option now, with just 3 days of work left. Just wanted to express that for my case per

[2019-09-23 14:02] 0xF4D3C0D3 commented on #28479
Hello guys! how about this?
![image](https://user-images.githubusercontent.com/19762154/65432137-a8f92f00-de55-11e9-8143-cb1c5272f694.png)

I tried to make constructing DataFrame don't skip empty rows and I somewhat made it.
it works on some levels because `pd.DataFrame.from_dict(data={'row1':{'a':1, 'b':2}, 'row2': {'a':3, 'b':4, 'c':5}, 'row3':{}}, orient='index').fillna(0)` gives me the result

[2019-09-23 14:33] kws-slalom opened #28578 "Feature Request: Left join conditionally on timestamps in pd.merge_asof(…)"
As the title states, it would great to have the option to left-join in a pd.merge_asof().  Currently it only supports 1-1 joins.

See this post on stack overflow:  https://stackoverflow.com/questions/57825101/left-join-conditionally-on-timestamps-in-pd-merge-asof.

Lets say I have two dataframes that I would like left join based on timestamp in a range based on the left table's timestamp. I would

[2019-09-23 15:15] jorisvandenbossche commented on #28519
Yes, I think this are indeed the three options. To start doing anything concrete, we should probably wait on the new logo? I think it would be useful to have the designer of Indeed to create some images of how things can look.
Then, I am personally in favor of trying to hire someone to do this properly.

[2019-09-23 15:19] alimcmaster1 commented on #28321
I think that’s clear!

It’s quite common in java to group imports by dependency structure.

We could potentially add some visualisation using: https://github.com/thebjorn/pydeps to show dependency structure.

[2019-09-23 15:25] datapythonista commented on #28519
I'm spending a bit of time on making things look a bit better than with the bootstrap defaults. Something very basic, but I think getting the easy gains will help us decide what's best later.

[2019-09-23 15:26] gabriellm1 commented on #28469
So in case `In[3]` and `In[4]` the result error should be the same as `formatters list not same length as Dataframe` ? If so, where in the project should this be made?

[2019-09-23 15:50] TomAugspurger commented on #28469
Possibly in `DataFrameFormatter.__init__`? Not really sure.

[2019-09-23 15:59] TomAugspurger commented on #28150
So the way NumPy handles this is by not allowing `__setitem__` to change the dtype of the array.

[code]

On master, we now match that behavior. The original code snippet passes.

I think the remaining question is: do we want this behavior? Silently truncating the input? Or would we rather raise when the input cannot be faithfully inserted into an array with that dtype (can we even determine that)

[2019-09-23 16:02] TomAugspurger commented on #28576
I think we have an open PR allowing non-valid python identifiers:
https://github.com/pandas-dev/pandas/pull/28215

You could check if it covers this case.

On Mon, Sep 23, 2019 at 2:27 AM Dhwanil Shah <notifications@github.com>
wrote:

[2019-09-23 16:10] jorisvandenbossche opened #28580 "WEB/DOC: integration of the main website and documentation"
With the new markdown based website (https://github.com/pandas-dev/pandas/pull/28014) and the new sphinx documentation theme (https://github.com/pandas-dev/pandas/issues/15556, https://dev.pandas.io/pandas-sphinx-theme/), we need to see how to integrate both.

Roughly speaking, I can currently think of three options:

- Have them separate.
    - This is like we have it now, but of course styling-w

[2019-09-23 16:11] jorisvandenbossche commented on #28521
I opened https://github.com/pandas-dev/pandas/issues/28580 for this.

[2019-09-23 16:34] #14119 closed

[2019-09-23 16:36] jreback commented on #28150
maybe we should start warning on this? I think we are going to eventually be able to 'fix' this, but would be a biggish change.

[2019-09-23 16:38] datapythonista commented on #28580
Worth noting for the items in the navigation bar, that we've got some discussion with NumPy to standardize all that makes sense. I'm personally very happy with what we discussed, I'm generating a version of the website with what I think it makes sense for pandas based on the discussion.

I think 3 is what makes more sense. I'd start by something as simple as creating a theme directory in the repo,

[2019-09-23 16:48] jbrockmendel commented on #28150
Is anyone actually _using_ PandasArray?  I'm hoping they'll eventually back `Block`, but until then, it isn't clear to me that this is really user-facing.

Truncating is basically the same as ndarray behavior, which I'm fine with.  Raising is basically the same as DTA/TDA/PA/Categorical (more general EA is less well-defined AFAICT) behavior, which I'm also fine with.  If we make it raise, I think

[2019-09-23 17:16] jorisvandenbossche commented on #28580
OK, that seems an interesting discussion, will need to read up on that. One note though, that from a seeing their current sitemap idea (and also current docs), is that numpy is actually doing option 1: link from the website, but the docs itself are a separate entity (which also eg Julia is doing)

[2019-09-23 17:17] TonyCongqianWang opened #28581 "Inconsistent SettingWithCopyWarning"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
I receive a SettingWithCopyWarning when loading the dataframe from my csv. But creating the df doesn't trigger a warning. I would expect it to be indifferent whether I load a csv or create df in python.  Using deep copy at the second place, prevents the warning. But the first deep copy doesn't.

[2019-09-23 18:56] datapythonista commented on #28168
I've been thinking about this, and also discussed with NumPy, who are building a website, and I think we should get rid of almost everything we've got in the current home page, and have something more similar to:
- https://jupyter.org (suggested by Tom)
- https://dask.org (suggested by Tom)
- https://julialang.org/ (suggested by Ralph Gommers)

What I'd have is:
- Very quick summary (like the box

[2019-09-23 19:11] TomAugspurger commented on #28168
Sounds good to me.

[2019-09-23 19:57] 153957 commented on #28547
It would require installing a different optional package, so a version with deprecation messages/future warnings would be useful.

[2019-09-23 20:00] bganglia commented on #28555
@WillAyd Thank you. I will put the code at the module level instead.

@amcnulty93 We are both in the same boat, so there is probably a way that we can work on it together.
The task isn't very big, but I think we can split it up this way:
I just added the function definition to my fork. Maybe now you can fork my version, add the function calls to it, and submit a pull request to me. Then, I will ac

[2019-09-23 20:02] WillAyd commented on #28547
Just to add - xlrd is AFAIK the only library that can read the legacy .xls format. From experience even ".xlsx" formats aren't as standardized as you'd hope. The openpyxl reader is pretty new so I guess will see through proper deprecation cycle what differences, if any, arise

[2019-09-23 20:03] WillAyd commented on #28555
@bganglia if you already have a PR probably easiest to just push that against master here. This is a fairly simple change so don't want to overcomplicate things

@amcnulty93 great that you want to contribute! There are a ton of other `good first issue` labeled issues you might find interest in, particularly for the JSON stuff if that's an area of interest

[2019-09-23 20:06] WillAyd commented on #28557
Yes that's correct, at least for Py36 and above. The lines where this is happening is here:

https://github.com/pandas-dev/pandas/blob/ffe6cfdbf82d663c3f77567bde11f1666de1df38/pandas/io/json/_json.py#L1114

So for now look in pandas.compat for the PY35 directive and only sort for that. Py36 and above won't need extra handling.

We'll eventually be ripping out Py35 by the time this gets released bu

[2019-09-23 20:14] WillAyd commented on #28572
Yea I think the two ways should be equivalent. This looks loosely related to #28331 though I think not the same issue.

If you'd like to investigate and submit PRs to clean this up would certainly be welcome!

[2019-09-23 20:20] topper-123 opened #28584 "PERF: Index._shallow_copy doesn't copy ._engine"
[code]
The same performance issue can be seen on other index types, e.g. CategoricalIndex and MultiIndex.

#### Problem description

The reason for the above diferences is that ``_shallow_copy`` does not copy over the ``._engine`` attribute to the new index and the ``_engine`` is expensive to recreate.

Indexes are immutable, and likewise - to my understanding - are the ``._engine`` attribute of i

[2019-09-23 20:40] TomAugspurger commented on #28584
I suspect we might want to copy over other cached attributes in `Index._cache` (is_unique, inferred_type, etc) if this proves safe to do.

[2019-09-23 21:25] jorisvandenbossche commented on #28547
And to be clear, for those the default would stay xlrd, and this would not be deprecated, right?

So the question about "switching the default" was only for xlsx files.

[2019-09-23 21:30] WillAyd commented on #28547
Up for debate but for that I think we want to push people towards reading .xlsx files. xlrd is not maintained any more and might break with Python 3.9, so would want to get ahead of that as much as possible

[2019-09-23 21:35] russellbrooks commented on #28490
I've also experienced many issues with pandas reading S3-based parquet files ever since `s3fs` refactored the file system components into `fspsec`.

Many of the most recent errors appear to be resolved by forcing `fsspec>=0.5.1` which was [released 4 days ago](https://github.com/intake/filesystem_spec/releases/tag/0.5.1). Otherwise `s3fs` was resolving to `fsspec 0.4.0` using conda for me without

[2019-09-23 21:52] jorisvandenbossche opened #28585 "DOC: do we want type hints in signature on API pages?"
With the type hints that are being added in a lot of places, the question comes up if we want to have them in the docs.

Currently, this actually happens. See eg https://dev.pandas.io/docs/reference/api/pandas.DataFrame.to_string.html#pandas.DataFrame.to_string

![image](https://user-images.githubusercontent.com/1020496/65465611-080e7200-de5d-11e9-8866-a43de6bfc046.png)

But personally, I am not s

[2019-09-23 22:04] rjurney commented on #28490
@jorisvandenbossche @TomAugspurger Hmmm... could this be a solution?

[2019-09-24 01:28] jbrockmendel commented on #28584
shallow_copy generally has new values passed to it. My intuition is that would make it impossible to share an engine.  What am i missing?

[2019-09-24 01:41] WillAyd commented on #28585
I think these are good to have; serving as a form of documentation is one of the motivators for annotations

[2019-09-24 05:05] topper-123 commented on #28584
I was thinking implicitly that reusing ``_engine`` would only be done when parameter values is not None. If the values are reused, the ``_engine`` could be reused, if the engine is immutable, wouldn't you agree?

[2019-09-24 06:17] ash-ishh commented on #28576
I tried above commit but the case doesn't seem to work.
Also the functionality mentioned in PR (digit, start with a number, or are separated by operators) is not working.

I installed pandas from this commit :
commit 179cd3bc287a1991bed764536e1f462baa7e6cbd
Merge: 08b6400 23e7595
Author: Hielke Walinga <hielkewalinga@gmail.com>
Date:   Thu Sep 12 16:10:02 2019 +0200
Merge branch 'allow-special-cha

[2019-09-24 06:28] RomainCendre opened #28591 "Help with Dataframe as function argument or mask assignement"
#### Problem description

Hi everyone,
I'm here because I want to achieve some stuff, but I don't know how to achive it in the best way. I browse a lot of topics on stackoverflow without a clue. Here is the thing, I want to achieve some utilities function for machine learning stuff.

I want to make several function that add new data to an existing dataframe, and manage some filtering of it, withou

[2019-09-24 06:37] kothawadegs commented on #16385
ax = plt.gca()
df = pd.DataFrame([[1, 1, 1], [2, 4, 3], [3, 7, 9]], index=[1, 2, 3],
                  columns=['col a', 'col b', 'col c'])
df.plot(kind='bar', secondary_y=['col b']).legend(bbox_to_anchor=(1.1, 1))
ax.legend(bbox_to_anchor=(1.5, 1))
ax.get_legend().set_bbox_to_anchor((.8532,.3))
plt.show()

[2019-09-24 06:52] roelhogervorst commented on #28495
Fair enough. Let me create a PR with a small doc update

[2019-09-24 07:00] OliverHofkens commented on #17605
This issue was created before the introduction of the `observed` keyword in `groupby()`, but it seems to me that with the default of `observed=False` all categories should be present in the output as @nmusolino expects.

On first sight this is true for most aggregations, but `count()` seems to be an exception:

[code]

So I do think this is a bug that's still present.

[2019-09-24 07:52] jmg7173 commented on #28556
How about change default value of `convert_axes` as `False` at this condition of `read_json`?

https://github.com/pandas-dev/pandas/blob/c4de906a1068ffb00bdc613bfcecaa92d9687e42/pandas/io/json/_json.py#L580-L581

[2019-09-24 08:30] ganhw1970 opened #28593 "Dataframe.plot error (on version 0.25.1)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
these test code run ok on pandas version 0.20.0 ,but error on pandas version is 0.25.1.
the error info is:
KeyError: "None of [Int64Index([1, 3, 5, 7, 9, 11], dtype='int64')] are in the [columns]"

the detail trace info are:

File "E:/pytest/dfplot1.py", line 7, in
df[['a']].plot(x=df['b'],ax=ax)
File "C:\Progra

[2019-09-24 09:07] goldenbull commented on #26182
any update? seems not fixed in v0.25.1

[2019-09-24 09:33] 0xF4D3C0D3 commented on #28479
I have found that the second way is more efficient than `itertools.groupby` so I changed it and ran the bechmark again. (Is it normal that the benchmark is sooooooo slow??? maybe it took 5 hours in my mac laptop and 3 hours in my desktop(32GB mem, i7)...) btw whenever I find something, I'll share it.

![image](https://user-images.githubusercontent.com/19762154/65499681-f7abd500-def8-11e9-8242-d1a6

[2019-09-24 10:05] hwalinga commented on #28576
Hello, thanks for the issue.

This is indeed an edge case. I have this working now. Check the latest commits.

[2019-09-24 10:18] b060149ee opened #28594 "DataFrameGroupBy.quantile returns -> IndexError: indices are out-of-bounds"
#### Sample Code
[code]
#### Problem description

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-48-0067bad4e229> in <module>
----> 1 df1212.groupby(['key','val']).quantile(q=[0.5,0.75])

~/miniconda/envs/minimal_ds/lib/python3.7/site-packages/pandas/core/groupby/groupby.py in qu

[2019-09-24 10:59] jorisvandenbossche commented on #28580
If you say that you would prefer option 3, can you be a bit more detailed? Do you mean with the current "Documentation" dropdown? (as I said above, and before in person I think, I am not a fan of such a dropdown for the main items of docs)

That's sounds as a good option to get it in sphinx (at least in the static html of the latest version, question is still if we are OK with that for stable + ol

[2019-09-24 11:01] b060149ee commented on #28522
I had searched before creating the ticket but clearly didn't seem to have done it properly. Sorry about that.

Is [this](https://github.com/pandas-dev/pandas/issues/22491) what you were referring to?

If so, I was just asking for an option on the merge method. If you think it is against the standards, can you please help me with a neat way of getting the above-expected output? Thanks in advance

[2019-09-24 11:30] jorisvandenbossche commented on #28168
This could also be handled in the documentation itself (ideally in the new theme we would have a dropdown to select older versions, like readthedocs offers, or like https://docs.python.org/ also does).
(but fully agree this doesn't need to be so prominent on the home page!)

With the idea that this replaces the separate ecosystem page, or just some highlights out of it that further link there?

--

[2019-09-24 11:39] Leostayner commented on #8193
Can we work on this issue?
@elisamalzoni

[2019-09-24 11:47] datapythonista commented on #28580
I think having a unifier navigation in all pages including the docs has a lot of value. Many people will land in the docs directly (e.g. `read_csv`), and not having a way to go from there to the home page, or to see all what we "offer" in the website, creates a poor UX, and limits the visibility of the pages in the website. This is what we have now, and I guess/hope more or less we'll agree on thi

[2019-09-24 11:54] datapythonista commented on #28168
Highlights, and keep a separate ecosystem page. I was thinking on having some sort of tabs talking about things like:
- Python: Why Python is awesome
- Plotting: Matplotlib, Bokeh, Altair, and how they interact with pandas
- Distributing pandas: Dask and why Spark sucks (ok, not in this words ;)
- Interface: Jupyter, Jupyter lab, Spyder...
- Conda: Easy to install and get all what is needed
- NumP

[2019-09-24 12:03] jorisvandenbossche commented on #28168
OK, that sounds cool! (I would maybe add xarray somewhere, our brother for labeled non-tabular/multidimensional data)

[2019-09-24 13:06] ytsaplin opened #28596 "Upsampling time series produces noisy derivative"
#### Code Sample, a copy-pastable example

[code]
#### Problem description
I'm calculating effective production rate in period (week/month etc) from irregularly spaced  cumulative production time series - see code. Using panda's `resample` produces noisy time series that doesn't match the original rate data. The workaround was to use linear interpolation from scipy (`interp1d`) and calculate the v

[2019-09-24 13:33] #28576 closed

[2019-09-24 14:13] KimDoubleB commented on #28557
I have completed the code modification to resolve the issue you mentioned. However, an error occurs because the existing test file is checking the sorting at Py36 and above.
https://github.com/pandas-dev/pandas/blob/4fb853f62e5dd1b42a8054e930bd9cacbe9baa0f/pandas/tests/io/json/test_pandas.py#L171-L173

Therefore, can I modify the test file to solve the errors, and then move on to PR?

[2019-09-24 15:17] RomainCendre commented on #28591
Ok I found a way to go through this by exploring the first idea.

Switching :
`dataframe.loc[mask, out] = features.tolist()`
To:
`dataframe.loc[mask, out] = pd.Series(features.tolist())`
Solved it, but I don't understand why both are not valid?

[2019-09-24 15:20] WillAyd commented on #28557
Yep the text will need to change to only sort on Py35

[2019-09-24 15:38] mojones opened #28597 "Missing values in ordered category breaks sorting of unstacked columns"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

I have a dataframe with an ordered category column `foo`. I want to group by both columns then take the size of the groups and unstack to get a summary table. If all of the values in my ordered category are in the data, then the result is as expected:

[code]
My columns appear in the specified order. However, if

[2019-09-24 15:39] mojones commented on #28597
Workaround: call `sort_index(axis=1)` after unstacking.

[2019-09-24 16:52] RomainCendre commented on #28591
It's both =)
Perhaps I'm not using it in the right way, but seems tricky for me that a
list assignation on a masked Dataframe doesn't work, but a Series is fine.

Le mar. 24 sept. 2019 à 17:34, Tom Augspurger <notifications@github.com> a
écrit :

[2019-09-24 17:04] WuraolaOyewusi commented on #27976
I made a PR to fix pandas.Series.clip: Unknown parameters {*args, **kwargs}.

[2019-09-24 17:06] mar-ses opened #28599 "Series of object/strings cannot be converted to Int64Dtype()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Currently, the conversion of object dtypes (containing strings) to Int64 doesn't work, even though it should be able to. It produces the following long error:

<details>

[code]

</details>

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here

[2019-09-24 17:17] TomAugspurger commented on #28599
I don't know if we want to support that automatically, since there's some ambiguity: Converting `'NaN'` to `NA` is probably fine. But what about something like `'some text'`.

I'd recommend using `pd.to_numeric` to get numeric values, and converting to nullable integer after that.

[2019-09-24 17:24] mar-ses commented on #28599
The issue is that with missing data, `to_numeric` will convert to `float` first right? In which case, if you're talking about having _very_ long integers as identifiers, converting to double precision will approximate and change the last few digits of the identifier. This is actually the problem I was dealing with an why I started looking into `Int64`, it's not as uncommon as it might seem (for ex

[2019-09-24 19:13] TomAugspurger commented on #28594
Duplicate of a couple other issues. Fixed on master and 0.25.x. We'll have a release soon.

[2019-09-24 19:13] #28594 closed

[2019-09-24 21:40] HughKelley opened #28602 "DOC: Docstrings Formatting Error PR09"
Validation error `PR09 (Parameter description should end with ".")`. Removing this issue from the  code base enables the addition to the CI for automated testing in the future.

If you are working on this issue, it probably makes sense to check for error `PR08` in issue #25232 as well since they require similar changes.

`PR09` has 445 occurrences (see #27977 )

Todo:

- [ ] get rid of the errors

[2019-09-24 22:21] patagoniapy opened #28603 "Error in Pandas 0.25 on pd.drop_duplicates()"
Pandas 0.25.1
Python 3.6

I am attempting to use Pandas.drop_duplicates() in Anacadona, Jupyter Notebooks, by considering only a certain subset but am getting an error KeyError: Index(['days'], dtype='object')

The Index is as follows: `id, event_description, attribute1, attribute 2, attribute 3, days, days_supply, days_equivalent`

I want to ignore attribute 2 and attribute 3 so I have ran the fo

[2019-09-24 22:35] #28603 closed

[2019-09-24 22:36] patagoniapy commented on #28603
`days` was actually `Days`

[2019-09-25 06:16] RomainCendre commented on #28591
I've been further in given solution, and dataframe.loc[mask, out] = pd.Series(features.tolist()) seems to assign only first row and doesn't care about the mask...

[2019-09-25 08:01] alimcmaster1 commented on #28578
Might be misunderstanding - can’t you just left join your TS2 to TS1 (opposite way round) to get your desired result?

To your last point do you have an example here?

Thanks

[2019-09-25 08:09] alimcmaster1 commented on #28551
Hey,

The below might help - it’s difficult to reproduce this without further info.

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-25 08:39] ash-ishh opened #28609 "OverflowError on using to_json to serialize NaN value with type Decimal."
[code]
#### Error
OverflowError: Invalid Nan value when encoding double.

#### Problem Description
Default handler not being called while getting error in serialization.

#### Expected Output
handle_nan should be called to return float NaN which is serializable.

<details>
INSTALLED VERSIONS
commit : None
python : 3.6.8.final.0
python-bits : 64
OS : Linux
OS-release : 4.4.187-1.el7.elrepo.x86_64
m

[2019-09-25 09:12] bright1993ff66 commented on #20454
@Rajasivaranjan I have encountered the exactly the same problem
Thank you very much for your solution!!

[2019-09-25 09:20] torfsen opened #28610 "DatetimeIndex + DateOffset broken around DST switching time"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The vectorized operation `DatetimeIndex + DateOffset` is broken around the DST switching time. However, the same operation works element-wise (`Timestamp + DateOffset`), so I would expect either both versions to work (preferably) or both versions to fail with the same error.

#### Expected Output

[code]

####

[2019-09-25 09:28] torfsen opened #28611 "Misleading error message when Series.dt.tz_convert overflows"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The error message of the outer exception above is misleading. The inner exception has the right error message, but in many cases (e.g. log files) only the outer exception's message is displayed.

If I understand things correctly, the underlying issue is discussed in #12677. In contrast to that ticket I'm fine wi

[2019-09-25 11:41] simonjayhawkins commented on #27568
@WillAyd we now have mypy 0.720 in the ci.

among other benefits we could now use inline configuration https://mypy.readthedocs.io/en/stable/inline_config.html#inline-configuration

this could perhaps keep the setup.cfg file cleaner?

in https://github.com/pandas-dev/pandas/pull/28339/commits/6ea3407fcffe224d0fd57a3420b9b6da952c4c5b a blacklist to enable setting `--check-untyped-defs` globally is

[2019-09-25 12:14] TomAugspurger opened #28612 "CI failures on master"
I retriggered a passing build on master, and it failed: https://travis-ci.org/pandas-dev/pandas/builds/588926447.

Last passing build was https://travis-ci.org/pandas-dev/pandas/builds/588919832.

@jbrockmendel do you have time to look into this today?

[code]

[2019-09-25 12:40] mohitanand001 opened #28613 "combine_first changes datatype"
[code]
#### Problem description

The combine_first changes the datatype of the the column C to float64 from int64. Is this
an expected behavior

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor

[2019-09-25 12:49] amcnulty93 commented on #28555
@bganglia I see you've taken care of everything :) No worries. I'll look to tackle other issues.

@WillAyd  I'll look into other `good first issue` labels. I'm sure there's something I can help with there. Thanks!

[2019-09-25 14:16] WillAyd commented on #27568
I would actually prefer to have things in setup.cfg rather than per module as it keeps everything in one place

[2019-09-25 14:24] WillAyd commented on #28612
Haven't followed this all the way through but something similar came up in #28206 so maybe need a s3fs pin

[2019-09-25 14:28] WillAyd commented on #28612
https://github.com/dask/s3fs/issues/225 suggests this would have been fixed with the release of s3fs `0.3.4` but that's what is failing on Travis, so maybe `fsspec` is the real culprit

[2019-09-25 14:32] jbrockmendel commented on #28612
I'll take a look after some caffeine.

[2019-09-25 15:48] #28612 closed

[2019-09-25 15:50] #28098 closed

[2019-09-25 16:07] jbrockmendel opened #28616 "CI: Revert s3fs pin"
xref #28612, #28614.

CI was failing with newer versions of s3fs, so we pinned it.

Need to figure out if it's still failing with new versions and if so, why.

[2019-09-25 16:49] russellbrooks commented on #28612
@WillAyd I also think it's related to `fsspec`. Recent post from https://github.com/pandas-dev/pandas/issues/28490:

Many of the most recent errors appear to be resolved by forcing fsspec>=0.5.1 which was released 4 days ago. Otherwise s3fs was resolving to fsspec 0.4.0 using conda for me without other constraints.

[2019-09-25 17:23] mroeschke commented on #28610
The issue is in this line: https://github.com/pandas-dev/pandas/blob/83eb75bf04e9020a13b1109ac714207159d7c11a/pandas/core/arrays/datetimes.py#L830

`tz_localize` has keyword argument `ambiguous` and `nonexistent` arguments to handle these cases.

[2019-09-25 17:50] leo4183 opened #28617 "element-wise value comparison noticeably slower for large-scale dataframes"
#### Problem Description
element-wise value comparison noticeably slower for large-scale dataframes, compared to corresponding numpy array value comparison (although in older pandas version, the operation speed was acceptable).

[code]

#### INSTALLED VERSIONS
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.18.0-80.7.2.el

[2019-09-25 18:09] TomAugspurger commented on #28617
Duplicate of https://github.com/pandas-dev/pandas/issues/24990. @jbrockmendel is working on this but it's a large project. Should be done for 1.0

[2019-09-25 18:09] #28617 closed

[2019-09-25 18:12] TomAugspurger opened #28618 "Update plot docs when backend is set."
As part of the backend callback, can / should we copy the docstring from the backend to the `DataFrame.plot` object (including methods like DataFrame.plot.scatter)?

There may be backend-specific notes or behavior. It'd be nice if those were transferred over.

cc @jsignell.

[2019-09-25 18:18] jsignell commented on #28618
Just for reference, this is where I've been working on the hvPlot entrypoint https://github.com/pyviz/hvplot/pull/319

[2019-09-25 19:03] jsignell opened #28619 "Allow users to pass backend option to `.plot()`"
Once you have installed another plotting library with a pandas.plotting entrypoint it would be nice to be able to toggle back and forth between different backends even within on session.

## What currently exists
[code]

## Proposed additional API

[code]

This would be particularly useful when a particular backend doesn't support a certain type of plot, or you need to use a backend to get some sp

[2019-09-25 19:20] datapythonista commented on #28619
I'm ok with this, sounds reasonable.

[2019-09-25 19:31] rdmtinez opened #28620 "dataframe index not showing up bold after conda update"
[code]
#### Problem description

During my work today I decided to update conda when I started getting some random errors which I can't recall anymore. After the update I noticed that the indeces in the printouts of my dataframes were no longer bold. Its not a big deal, buts it is visually unappealing. If possible I'd like to fix this (if it is an issue with pandas), but I've never contributed a f

[2019-09-25 19:55] WillAyd commented on #28620
I'm not sure pandas would have done this (AFAIK something like this was asked in #18066 but never implemented) - are you sure it wasn't a third party library?

[2019-09-25 20:11] rdmtinez commented on #28620
I looked up information about styling which is what that thread is about, but I'm interested in styling specific values or the index itself besides having it bold. I imagine I can do it myself with the resources I found online, but that would mean extra lines of code every time i start a new notebook. I also don't think it was done in pandas, but I'm not sure where to begin looking for the 'bug'.

[2019-09-26 00:22] sachinruk commented on #28572
Any chance you can point where to look? I will try my best to 'fix' this behaviour. Not the most competent coder, but will do my best.

[2019-09-26 01:35] jwhendy opened #28625 "Date type output changes when using df.column.unique()[i]"
Apologies if this is somehow expected. I admit I don't know the intricacies of all date types and what each of these is designed to return, but I found the result surprising.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I was subsetting data based on unique dates in a data frame. Part of my code used a string formatter, assuming I could access `x.year` w

[2019-09-26 04:01] qudade commented on #9045
I think this issue can be closed?

[2019-09-26 06:42] #28520 closed

[2019-09-26 08:12] fjetter opened #28629 "BUG: to_datetime inconsistent output container type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The output container type is inconsistent for `pd.to_datetime` and flips once the series is above 50 rows. This is an issue since the `CategoricalIndex` class does not support DateTime-like operations (tz_localize, stftime, etc.).
Since the behaviour switches between differently sized Series objects this is par

[2019-09-26 11:22] french-home opened #28631 "BUG: DataFrame.reindex not following limit - 方法参数的错误"
Python版本: 3.6.5
版本:pandas == 0.24.2
[code]
![reindex_bug](https://user-images.githubusercontent.com/10058240/65697799-f4782c80-e051-11e9-9c5d-0bf303535d54.png)

limit参数限制数据继续向后填充

版本:pandas==0.25.1
[code]
![reindex_bug_2](https://user-images.githubusercontent.com/10058240/65697820-fc37d100-e051-11e9-9fd3-6fedb7c12c61.png)

limit参数并没有限制数据继续向后填充

[2019-09-26 12:25] #28079 closed

[2019-09-26 12:52] MomIsBestFriend opened #28633 "Build Error, pip is trying to build a wheel using "pep517""
I get an error while following the [contributing guide](https://dev.pandas.io/docs/development/contributing.html) on creating a python eviroment using pip.
when I run the command:
[code]
 I get an error that says:

####  To repreduce this issue:
1. Install [Arch linux](https://www.archlinux.org/download/), September release(and upgrade to the latest version)
2. Install :
    1. ```python3-venv```

[2019-09-26 13:10] 0xF4D3C0D3 commented on #28631
speak in English, please?

[2019-09-26 14:01] datapythonista commented on #28631
谢谢 @french-home for reporting this. It'd be very useful if you can provide what's the output in both versions. Thanks!

[2019-09-26 14:11] jsignell commented on #28618
I guess the question is should the docs be over-written with the docs from the backend, or should the docs be augmented with additional docs?

Also worth thinking about how this will work when #28622 is added since that will make it impossible to know which backend to show docs for. The backend set in the `options.plotting.backend` could just always be used.

I guess I am leaning towards not overw

[2019-09-26 14:13] pgrudzinski opened #28635 "Resample on MultiIndex level is much longer than on normal column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

'resample' seem to take much more time when resampling on a level of MultiIndex instead of normal data column. The second, faster approach is more convoluted and is not what first comes to mind.

#### Expected Output

Both operations should around the same amount of time with second possibly slightly more, beca

[2019-09-26 14:15] french-home commented on #28631
Can I send it to you by mail?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Marc Garcia"<notifications@github.com&gt;;
发送时间:&nbsp;2019年9月26日(星期四) 晚上10:02
收件人:&nbsp;"pandas-dev/pandas"<pandas@noreply.github.com&gt;;
抄送:&nbsp;"French"<1109527533@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [pandas-dev/pandas] BUG DataFream.rindex方法参数的错误 (#28631)

谢谢 @french-ho

[2019-09-26 14:17] datapythonista commented on #28631
Isn't it easier to simply copy it in a comment here? You can send it by email if that's a problem, but I think that can be easier.

[2019-09-26 14:20] french-home commented on #28631
Due to regional restrictions, it is difficult to access Github in China, so I can only send it to you by email.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Marc Garcia"<notifications@github.com&gt;;
发送时间:&nbsp;2019年9月26日(星期四) 晚上10:18
收件人:&nbsp;"pandas-dev/pandas"<pandas@noreply.github.com&gt;;
抄送:&nbsp;"French"<1109527533@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题

[2019-09-26 14:21] datapythonista commented on #28631
Sure, please send it to garcia.marc@gmail.com and I'll update the description for you.

[2019-09-26 14:35] french-home commented on #28631
I have sent the question to the email address you provided, please check it out!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Marc Garcia"<notifications@github.com&gt;;
发送时间:&nbsp;2019年9月26日(星期四) 晚上10:22
收件人:&nbsp;"pandas-dev/pandas"<pandas@noreply.github.com&gt;;
抄送:&nbsp;"French"<1109527533@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [pandas-dev/pandas]

[2019-09-26 14:40] datapythonista commented on #28631
Thanks a lot @french-home, it does look like a bug. I updated the description with your output, will have a look to see what's wrong when I have time.

Thanks for reporting it. If you'd like to research what's the problem yourself, and you need help with that, please let me know, happy to help.

[2019-09-26 14:40] 0xF4D3C0D3 commented on #28629
I tried like this
[code]

and I'm on the testing 25%

[2019-09-26 14:46] 0xF4D3C0D3 commented on #28629
the branch of those two cases is `pandas/core/tools/datetimes.py:786` and because you define index as `Categorical`, dt_array won't be converted as DatetimeIndex. However, this way isn't what we want.
So I cast the argument to 'datetime64' before it is passed into `_box_as_indexlike`.

https://github.com/pandas-dev/pandas/blob/53ad101a4e2d9d749525e6663fe9fc63c6faa961/pandas/core/tools/datetimes.py

[2019-09-26 14:51] 0xF4D3C0D3 commented on #28629
nevermind! it spews out a lot of errors

[2019-09-26 15:06] jbrockmendel commented on #28633
have you tried `pip3 install wheel`?

[2019-09-26 16:50] MomIsBestFriend commented on #28633
Thank you, *very* much.

[2019-09-26 17:25] mroeschke commented on #28629
You hit this condition: https://github.com/pandas-dev/pandas/blob/171c71611886aab8549a8620c5b0071a129ad685/pandas/core/tools/datetimes.py#L105

In addition to `cache=True` becoming the default in v0.25. This behavior definitely looks buggy nonetheless.

[2019-09-26 17:32] MomIsBestFriend opened #28639 "ENH: Add 'wheel' to requirements-dev.txt when user is using pip and Arch linux"
I had [This issue](https://github.com/pandas-dev/pandas/issues/28633) and appendig the word 'wheel' to requirements-dev.txt solved it.

[2019-09-26 17:34] jorwoods opened #28640 "AttributeError: 'Categorical' object has no attribute '_ordered'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Trying to assign a variable an ordered category type failes with
`AttributeError: 'Categorical' object has no attribute '_ordered'`

#### Expected Output

The operations completes successfully and yields a series of categorical dtype that is ordered.

#### Output of ``pd.show_versions()``

<details>

INSTALLED

[2019-09-26 17:41] adamhooper opened #28641 "GroupBy(..., as_index=True).agg() drops index when"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When aggregating `min`, `max` or `first` of a categorical column, `.agg()` returns a dataframe with a default index instead of the index returned by `groupby()`.

(This may be related to #13416 ... but I think it's a clear, well-defined bug so maybe easier to resolve?)

In my case, I think I can work around thi

[2019-09-26 18:34] jorisvandenbossche commented on #28640
In principle, you should pass a dtype to `astype`:

[code]

But, it is correct that this worked before (eg on 0.24). However, I am not sure this was on purpose or only accidentally.

[2019-09-26 18:35] jbrockmendel commented on #28625
I think the `dates = [pd.Timestamp(year=2019, month=m, d=1) for m in range(6)]` line in the OP is wrong.  Can you update it to something like `dates = [pd.Timestamp(year=2019, month=m, day=1) for m in range(1, 6)]` please

[2019-09-26 18:36] jbrockmendel commented on #28625
Yah, it looks like in this case `Series.unique` is returning a np.ndarray when it should be returning a DatetimeArray.  A PR to fix this would be welcome.

[2019-09-26 18:37] jorisvandenbossche commented on #28633
@MomIsBestFriend What version of pip do you have?
I am a bit surprised that doing an editable install would try to build a wheel

[2019-09-26 18:37] jorisvandenbossche commented on #28639
Let's discuss that in the original issue

[2019-09-26 18:37] #28639 closed

[2019-09-26 18:42] jorisvandenbossche commented on #28625
AFAIK, this is currently the "correct" behaviour (or at least the documented behaviour), although surprising / losing some functionality.

[2019-09-26 18:47] jorisvandenbossche commented on #28631
So to make it a bit more explicit. Older versions correctly apply the "limit"

[code]

while 0.25 / master does not:

[code]

So this is a regression.

[2019-09-26 19:01] jorwoods commented on #28640
@jorisvandenbossche Ah. Well, the documentation still reflects the methodology I used.

https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

[2019-09-26 19:04] jorwoods commented on #28640
I can, however, confirm that by referencing the `.dtype` attribute/property in my code, it works.

[2019-09-26 19:06] jorwoods commented on #28640
My mistake. `raw_cat` is making a series of the categorical, not assigning type. Further down the page it does it via `CategoricalDtype` which is what I meant to use.

Closing the issue.

[2019-09-26 19:06] #28640 closed

[2019-09-26 19:08] jorisvandenbossche commented on #28631
So this boils down to `RangeIndex.get_indexer` no longer taking the limit keyword into account:

[code]
while the last element in that result should be -1.

This seems to be cause by https://github.com/pandas-dev/pandas/pull/27119 (cc @toobaz )

[2019-09-26 19:20] MomIsBestFriend commented on #28633
the output of:
[code]

Gives me:
```pip 19.2.3 from my/venv/path/.../python3.7/.../pip (python3.7)```

[2019-09-26 19:21] jorisvandenbossche commented on #28633
Can you show the verbose output of pip? Something like `python -m pip install -e . --no-build-isolation -vv`

[2019-09-26 19:49] #28271 closed

[2019-09-26 20:24] toobaz commented on #28631
Definitely. I forgot to forward the ``limit`` argument here:
https://github.com/pandas-dev/pandas/blob/e9f6f6ba09fa6c817026e3805731542790bb969d/pandas/core/indexes/range.py#L354

[2019-09-26 20:43] jorisvandenbossche commented on #15556
I opened a PR (https://github.com/pandas-dev/pandas/pull/28623) to propose to start using the new sphinx theme for the dev docs.

The theme is certainly not yet fully ready (API tables are ugly, max-width is needed, nicer styling of highlighting active navigation items, ... see issues at https://github.com/pandas-dev/pandas-sphinx-theme/).
But I think it is currently at a good enough state to star

[2019-09-26 20:52] MomIsBestFriend commented on #28633
The output was too large for one screenshot, so I took two(hope it helps.
Also I have included the output below in text, In case something is wrong with the pictures.
![Top](https://user-images.githubusercontent.com/50263213/65724174-81ee6780-e0b8-11e9-8719-d456a2b3b634.png)
![Bottom](https://user-images.githubusercontent.com/50263213/65724180-8450c180-e0b8-11e9-9b52-ac85ddb0dc19.png)

(venv_panda

[2019-09-26 20:57] jorisvandenbossche commented on #28633
Can you try `python -m pip install -e . --no-build-isolation --no-use-pep517 -vv` ?

[2019-09-26 21:00] MomIsBestFriend commented on #28633
Worked!

Command output:

![Top](https://user-images.githubusercontent.com/50263213/65724746-b9a9df00-e0b9-11e9-866e-8b7188cbe760.png)
![Bottom](https://user-images.githubusercontent.com/50263213/65724751-bb73a280-e0b9-11e9-89f2-0defd37556d7.png)

(venv_pandas) [bummy@null pandas-MomIsBestFriend]$ python -m pip install -e . --no-build-isolation --no-use-pep517 -vv
Created temporary directory: /tmp

[2019-09-26 21:07] jorisvandenbossche commented on #28580
That might well be, but that's how it is in almost all projects that we were comparing with in one of the other issues (numpy, jupyter, spark, julia, ..). They all have a separate website and separate docs, with just a link from the one to the other.
Of course, that doesn't mean we can't do better! Just want to say it's certainly not uncommon (and I only mentioned this option 1 as a short term thi

[2019-09-26 22:52] jconstanzo commented on #8953
Hey, I'm getting this error when I try to perform a multi-insert to a SQLite database:

This is my code:
`df.to_sql("financial_data", con=conn, if_exists="append", index=False, method="multi")`

and I get this error:
[code]

Why is this happening? I'm using Python 3.7.3 (Anaconda), pandas 0.24.2 and sqlite3 2.6.0.

Thank you very much in advance!

[2019-09-26 23:01] NxNiki commented on #13017
Hi, the problem is when you set index_col=0 in the last line, the column name is still changed to unnamed: 0.1

In [35]: pd.read_csv(StringIO(pd.read_csv(StringIO(df.to_csv())).to_csv()), index_col=0)

I expect it should be:

[2019-09-27 02:14] jwhendy commented on #28625
@jbrockmendel Sorry about the goof, totally my fault for re-typing it vs. copying out of the terminal.

@jorisvandenbossche is right, I believe, and after up `series.unique`, it turns out this is actually [one of the examples](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)!
[code]

While documented, from a practical standpoint, this still seems odd. Maybe a m

[2019-09-27 05:22] proost commented on #19132
I would like to take this issue if no one handle this.

[2019-09-27 06:51] jorisvandenbossche commented on #8953
@jconstanzo can you open this as a new issue?
And if possible, can you try to provide a reproducible example? (eg a small example dataframe that can show the problem)

[2019-09-27 07:32] landmann opened #28652 "groupby indexing is giving the wrong index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Groupby indexing is returning the wrong value. It is returning the indexes of the last group for all the groups.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
O

[2019-09-27 07:57] garygsw opened #28653 "ExcelWriter's append mode unable to write to existing worksheet"
#### Problem description

The openpxyl engine for ExcelWriter's append mode allows us to write data into a new Worksheet and append it to an existing Workbook. However, when trying to append data into an existing Worksheet, it creates a new blank Worksheet (without any existing data) with the Worksheet's name suffixed numerically incremented.

#### Sample Code
[code]

#### Expected Output
We would

[2019-09-27 08:05] garygsw commented on #28653
I just check and found out that this issue is already being fulfilled by this public request (https://github.com/pandas-dev/pandas/pull/27730)

[2019-09-27 08:05] #28653 closed

[2019-09-27 12:38] jackbicknell14 commented on #25232
I have taken care of:
`
pandas.tseries.offsets.CustomBusinessDay: Parameter "weekmask" description should start with a capital letter
pandas.tseries.offsets.CustomBusinessDay: Parameter "holidays" description should start with a capital letter
pandas.tseries.offsets.WeekOfMonth: Parameter "week" description should start with a capital letter
pandas.tseries.offsets.WeekOfMonth: Parameter "weekday"

[2019-09-27 12:43] mojones commented on #23865
Coming back to this issue as I recently ran into another example in real life data. Another way of looking at the problem that occurred to me is as a difference between calling `count` on the groups then taking a single column, which gives the expected result:

[code]

and taking the column first then calling `count`:

[code]

Which gives the output where the `(1,2]` bin is missing. So maybe it ma

[2019-09-27 12:57] jtiscione opened #28654 "max_rows option is broken"
#### Code Sample, a copy-pastable example if possible
pd.set_option("display.max_rows", 100)
print(display)

Displays this:
<img width="391" alt="Screen Shot 2019-09-27 at 6 55 04 AM" src="https://user-images.githubusercontent.com/5413726/65770716-e0850700-e0f3-11e9-904f-f13e73d17687.png">

I need to see more than 12 rows.

[2019-09-27 13:30] HughKelley opened #28656 "DOC: Styler errors PR08 and PR09"
[code]
#### Problem description
returns:
[code]

This is a subset of error messages from #28602 and #25232. Part of the work for #27977

[2019-09-27 14:50] jolespin opened #28657 "[Feature Request] Add `nancorr_biweightmidcorr` to `pandas._libs.algos`"
#### Code Sample
This is probably the fastest implementation I am aware of at the moment: https://rdrr.io/cran/WGCNA/man/bicor.html

However this is also available but considerably slower and not parallelized:
https://docs.astropy.org/en/stable/api/astropy.stats.biweight_midcorrelation.html

#### Problem description

Nothing popped up for the following searches:
biweight
https://github.com/pandas-

[2019-09-27 15:41] justmarkham commented on #26831
Hello all! I mentioned [previously](https://github.com/pandas-dev/pandas/issues/26831#issuecomment-521416416) that I'd be happy to review the draft notebooks. Although I'm not a pandas beginner, I've been teaching pandas to beginners for many years and so I am familiar with the beginner perspective.

Sorry that it has taken so long, but I've now taken a thorough look through the draft notebooks an

[2019-09-27 16:45] capelastegui opened #28658 "Error when adding 'm' to a Series of strings"
#### Code Sample

I have found a strange corner case when adding strings to a Series. This is an operation that most of the times works well:
[code]
output:
[code]
But in the specific case of adding the string 'm', it raises an exception:

[code]
output:
[code]
#### Problem description

It took me a while to figure this one out, but looking at the [source code ](https://github.com/pandas-dev/panda

[2019-09-27 17:30] josibake commented on #28602
I am planning to work on this, specifically the `Timeseries` class:

[code]

However, I need a little guidance regarding parameter descriptions. Take `ceil` , for example:

[code]

The description has this bulleted list and I can't find anything in the numpy docstring or pandas docstring guides about this. Is it okay to have these lists? If so, what is the correct way to format them? If not, is it

[2019-09-27 18:17] josibake commented on #28602
after reading [contributing_docstring.html#section-3-parameters](https://dev.pandas.io/docs/development/contributing_docstring.html#section-3-parameters) a little more carefully, I came up with this:

[code]
this passes the PR09 test. @datapythonista thoughts? do we care all that much how the docstrings are formatted so long as they are passing the validation?

[2019-09-27 19:48] Deamoner opened #28660 "Stream compatibility on newest Python IO"
Python version 3.7.3 or 3.7.4

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

'bytes' do not have attribute 'encode"

**How to fix:
 commenting out L279-L282 in Python37\lib\site-packages\pandas\io\sas\sasreader.py**

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first

[2019-09-27 20:59] jschendel commented on #28654
This is the expected behavior.  Your dataframe has more rows (120) that what you're setting as the max (100), so the truncated repr will still be displayed.  You either need to increase `max_rows` to at least 120, or set it as `None` for unlimited rows.  Alternatively you could increase `min_rows`, although you may still need to adjust `max_rows` to be larger than `min_rows`.

See the docs on the

[2019-09-27 20:59] #28654 closed

[2019-09-27 22:47] #28555 closed

[2019-09-28 01:25] scottgigante commented on #27781
@TomAugspurger any thoughts on this? I'm happy to write the PR, just need some guidance.

[2019-09-28 01:53] bhuvanakundumani commented on #28656
I am interested to work on this .

[2019-09-28 06:10] 645187919 opened #28663 "to_html()没有encoding参数？造成输出中文显示乱码"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
当我用to_html（）方法生成html的时候，中文显示乱码，后来一看该方法竟然没有encoding参数，希望作者能完善了，这样以后会方便很多人哈！
[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before.

[2019-09-28 07:56] min2bro opened #28664 "Bug: pct_change with frequency set as 'BM' throws value error"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

For a time-series data, the df.pct_change(freq='BM') doesn't works and throws following error.

ValueError: cannot reindex from a duplicate axis

#### Expected Output
df.asfreq('BM').pct_change()

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
pyth

[2019-09-28 09:55] 0xF4D3C0D3 commented on #28658
In c4489c the latest commit now, the problem seems gone.

![image](https://user-images.githubusercontent.com/19762154/65814782-79657080-e221-11e9-9c1d-85a039a5acd2.png)

<details>

INSTALLED VERSIONS
------------------
commit           : c4489cbfa5f93e69301486e1ef867caed9f4eb9e
python           : 3.7.4.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.4.0-17763-Microsoft

[2019-09-28 11:16] apiszcz opened #28665 "Odd error message, concerning numpy using an alias versus numpy package name"
This produces a poor warning

[code]

because `np.ptp` calls `Series.ptp`, which is deprecated. We should instruct the user
to convert the Series to an array before calling `ptp`.

[code]

The warning is defined at https://github.com/pandas-dev/pandas/blob/20e4c186191859dcde2437edacaee43d8d34dc46/pandas/core/generic.py#L10197-L10199

---

In this case I am using numpy ptp, however the error messag

[2019-09-28 11:31] simonjayhawkins commented on #28663
@645187919 Thanks for the report, however, can you provide a reproducible example. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-28 11:37] simonjayhawkins commented on #28178
@ventouris closing for now.

can you provide a reproducible example. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-28 11:37] #28178 closed

[2019-09-28 11:57] datapythonista commented on #28602
We care about the docstring having the right content and following the standards for consistency and correct rendering. The script is an attempt to help us with that, so we're surely not happy by the script saying that things are ok.

freq got the decription where there should be the type. And the indentation of the description of ambiguous seems too much (should be 4 spaces).

Feel free to improv

[2019-09-28 12:27] 0xF4D3C0D3 commented on #28664
Hello, I have found that this happens when the offset which is made of `freq` is anchored. (`offset.isAnchored`)

so I propose that when the freq gets anchored, make the data resampled first, before the next line
`rs = data.div(data.shift(periods=periods, freq=freq, axis=axis, **kwargs)) - 1`

[code]

[2019-09-28 12:30] 0xF4D3C0D3 commented on #28664
However, I couldn't run tests yet because, in the latest commit c4489c, it spewed out a lot of fails.

[2019-09-28 13:15] HughKelley commented on #28656
Great, go for it. Thanks!

[2019-09-28 17:14] darkdragon-001 commented on #27582
I have two dataframes with indices of type `pd.Timestamp`. I want to merge with `direction='backward'` to match the previous timestamp.

Therefore, I use the following code currently:

    pd.merge_asof(df, df2, left_index=True, right_index=True, direction='backward')

Since I think adding the `direction` parameter to `.join` would contradict the join semantics, I suggest adding the `index` parame

[2019-09-28 20:28] harisbal opened #28668 "Merge error on Categorical Interval columns"
Failure on merging on Categorical columns which include intervals.
For instance, the following raises `TypeError: data type not understood`

[code]

#### Expected Output

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Dist</th>      <th>DistGroup</th>      <th>GroupId</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>22</td>

[2019-09-28 21:09] joelostblom commented on #14260
Note that this affects several of the examples in the styling documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Builtin-styles

[2019-09-28 21:13] dworvos commented on #28220
I've tried a more conservative approach which hopefully works for enough people. My thoughts are by adding an additional parameter to pd.merge (I've called it index_na_value but I'm not wedded to the name) where if specified, uses that value instead of the na_value_for_dtype(index.dtype, compat=False) - then the user can accept the current default beahviour of a dtype promotion or use their own NA

[2019-09-28 21:52] simonjayhawkins opened #28669 "minor inconsistency in Categorical.remove_categories error message"
mypy error: `pandas\core\arrays\categorical.py:1125:13: error: Incompatible types in assignment (expression has type "List[Any]", variable has type "Set[Any]")  [assignment]`

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The error message shows invalid removals as a set or a list depending on whether the removal list contains a null value.

#### Expected

[2019-09-28 22:31] Nasiek commented on #17676
the example with fruits and drinks is throwing an `ValueError: Location based indexing can only have [labels (MUST BE IN THE INDEX), slices of labels (BOTH endpoints included! Can be slices of integers if the index is integers), listlike of labels, boolean] types
` for the fruits, drinks example...

[2019-09-29 01:32] mroeschke commented on #6795
Looks fixed on master. Could use a test.

[code]

[2019-09-29 01:38] mroeschke commented on #6942
This looks to be working on master. Could use a test.

[2019-09-29 04:58] kmin-jeong commented on #28669
can I work on it?

[2019-09-29 05:03] 0xF4D3C0D3 commented on #28669
the difference in those codes is caused in here:

https://github.com/pandas-dev/pandas/blob/c4489cbfa5f93e69301486e1ef867caed9f4eb9e/pandas/core/arrays/categorical.py#L1079-L1130

so you should wrap line 1116 by `list` because 1116 returns `set` and 1122 returns `list`.

[2019-09-29 10:00] min2bro commented on #28664
@0xF4D3C0D3 Can you change the lable of this issue as Bug

[2019-09-29 11:42] 0xF4D3C0D3 commented on #28664
No, I think I can't do that because I'm not contributer nor member.

[2019-09-29 13:14] simonjayhawkins commented on #28669
on second thoughts, may be better to always display the invalid removals as a set.

this would make more sense for scalar input as well as input with duplicates.

may also mean that the error message is unchanged for the majority of use cases.

[2019-09-29 13:15] simonjayhawkins commented on #28669
got for it.

[2019-09-29 13:36] 0xF4D3C0D3 commented on #28669
well then how about make the line 1121 returns as a set. like below:
`not_included = {x for x in not_included if notna(x)}`

and the `not_included` doesn't spread and have any side effects so it's safe to do this.

[2019-09-29 14:45] punndcoder28 commented on #28669
Can I work on this?

`      inplace = validate_bool_kwarg(inplace, "inplace")
        if not is_list_like(removals):
            removals = [removals]

        removal_set = set(list(removals))
        not_included = removal_set - set(self.dtype.categories)
        new_categories = [c for c in self.dtype.categories if c not in removal_set]

        # GH 10156
        if any(isna(removals)):

[2019-09-29 14:51] simonjayhawkins commented on #28669
you'll also need to update `test_remove_categories`  in `pandas/tests/arrays/categorical/test_api.py`  with a `match` parameter to `pytest.raises` to confirm the changes, and add a case for a null value.

may be worth adding cases for the scaler and with duplicates.

[2019-09-29 14:53] punndcoder28 commented on #28546
Can I work on this? I am new to contributing to issues on GitHub and this seems like a good start.

[2019-09-29 15:07] punndcoder28 commented on #28546
I removed xlrd from versions and changed the default message to only include the pip install message like follows.

    "bs4": "4.6.0",
    "bottleneck": "1.2.1",
    "fastparquet": "0.2.1",
    "gcsfs": "0.2.2",
    "lxml.etree": "3.8.0",
    "matplotlib": "2.2.2",
    "numexpr": "2.6.2",
    "odfpy": "1.3.0",
    "openpyxl": "2.4.8",
    "pandas_gbq": "0.8.0",
    "pyarrow": "0.9.0",
    "pytabl

[2019-09-29 15:13] punndcoder28 commented on #28669
Meaning to remove a null value?

[2019-09-29 16:05] charlesdong1991 commented on #28663
I think he is say there is no `encoding` argument in `to_html`, and this will cause an issue when exporting contents including Chinese. @simonjayhawkins

[2019-09-29 16:06] nrebena commented on #22797
So, after investigation (thanks pdb), what happened is that we obtain the indexes to return in the order the keys are given, but the way the indexes are stitched together reorder them.

More precisely, the culprit seems to be the __or__ operator in pandas/core/indexes/multi.py:3043, that sort the results.

I succeeded to get the expected result for the given example by using `union(...,sort=False)

[2019-09-29 16:53] gpascualg commented on #28487
I can also confirm this on

Python: 3.6.6
Pandas: 0.23.4
Numpy: 1.15.1

[2019-09-29 17:07] dsaxton commented on #28668
Here's another example that shows it's actually the _order_ of the merge that triggers the error (apparently because you can cast from interval to categorical but not vice versa at the moment):

[code]

I think a code path would need to be added for casting from categorical to an interval dtype in `categorical.py` around here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/cat

[2019-09-29 17:17] punndcoder28 commented on #28669
Shall I create a PR referencing this issue?

[2019-09-29 17:24] simonjayhawkins commented on #28663
Thanks @charlesdong1991 .

the `to_html` method has no encoding. I assume that it is fairly simple to work-around by passing an open buffer with the correct encoding or not passing a filepath, and writing the return unicode string to file using the appropriate encoding?

the buffer handling code is shared with `to_latex` and `to_string`.

`to_latex` already has an encoding parameter and the shared

[2019-09-29 17:44] simonjayhawkins commented on #28669
the match parameter is to verify the error message contents. so the message should be the same in both cases in the OP.

go for it.

[2019-09-29 17:52] RD193 opened #28672 "Pandas tries to do something with indexes while only supposed to work with values."
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description
Traceback (most recent call last):
  File "E:/загрузки/учеба/лабы/H2lab/Search.py", line 4, in <module>
    ra = pd.read_excel("Edata.xlsx", sheet_name="r-a").astype(float)
  File "E:\python\lib\site-packages\pandas\core\generic.py", line 5882, in astype
    dtype=dtype, copy=copy, errors=errors, **kwargs

[2019-09-29 17:57] charlesdong1991 commented on #28663
yeah, agree, a solution to solve this issue could be adding `encoding` to `to_html` in `io/formats/format.py` @simonjayhawkins
And a separate PR could be making it sharable among those three methods.

[2019-09-29 18:12] RD193 commented on #28672
Updated: figures out that proplem was not in operations. Looks like now function read_excel works other way now. 0.23.4 takes left column of r-a for instance as indexes(which is true). New versions think that this is part of data.
[Edata.xlsx](https://github.com/pandas-dev/pandas/files/3667883/Edata.xlsx)

[2019-09-29 20:42] josibake opened #28673 "DOCS: fix PR09,PR09 doc string errors in Timestamp, NaT, Timedelta class"
This fixes validation errors PR09,PR08 for pandas.Timestamp, pandas.Timedelta (and also NaT) class:

[code]

This is a subset of #28602 and #27977

[2019-09-29 22:41] josibake commented on #28673
Including Timedelta and NaT class. These all have to go together due to a matching docstrings constraint

[2019-09-30 00:27] haeusser opened #28675 "resample becomes non-deterministic, depending on DateTimeIndex values"
#### Minimal Example
[code]

Output:
[code]
#### Problem description
When you give the exact same data to the resample function, it becomes non-deterministic if the `DateTimeIndex` has differing values - even though the frequency is the same.

#### Expected Output
The values of the two `DataFrames` should be exactly the same.

#### Output of ``pd.show_versions()``
<details>

- commit           : N

[2019-09-30 00:44] anttttti opened #28676 "value_counts with dropna=False gives differing results"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Doing df[col].value_counts(dropna=False, normalize=True) gives different results on different x64 machines. Updated both machines to latest version of Python (3.7.4), Numpy (1.17.2), Scipy (1.3.1) and Pandas (0.25.1), and the problem still occurs. Regardless of version updates, the two machines produce slightly

[2019-09-30 02:17] jschendel commented on #28668
This issue is a bit larger than `Categorical[Interval]` and actually applies to all `Categorial[ExtensionDtype]`, e.g. the same error will occur periods.

The offending line is the return statement of `Categorical.astype` where we use the numpy constructor, which doesn't understand pandas extension dtypes:
https://github.com/pandas-dev/pandas/blob/c4489cbfa5f93e69301486e1ef867caed9f4eb9e/pandas/co

[2019-09-30 02:25] 0xF4D3C0D3 commented on #28676
[code]
can you show me the above result on each machines?

[2019-09-30 02:38] punndcoder28 commented on #28669
I've opened a PR. @simonjayhawkins I couldn't figure out where to put the `match` message. I've also added test cases for removing `null` where both the old and resulting lists are the same and for duplicates where both the values are removed. This is my first time contributing. If there are any mistakes let me know. I'll make the changes and create a new PR.

[2019-09-30 03:49] jschendel opened #28678 "BUG: RangeIndex.get_indexer is incorrect for some decreasing RangeIndex"
For some decreasing `RangeIndex`, the `get_indexer` method will indicate that all of it's own values are missing, and find matches for values not included in the index:
[code]

This will in turn result in methods like `Series.reindex` not working properly:
[code]

The issue appears to occur specifically for decreasing `RangeIndex` that are not in their canonical form.  By canonical form, I mean wh

[2019-09-30 04:16] anttttti commented on #28676
Both machines print out the same result:

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.0.0-29-generic
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_NZ.UTF-8
LOCALE           : en_NZ.UTF-8

pandas

[2019-09-30 06:02] 0xF4D3C0D3 opened #28679 "c94eae breaks the test"
the commit <Add Indent Support in to_json (#28130)> breaks the test. `pytest pandas/tests/io/json/test_pandas.py`.

![image](https://user-images.githubusercontent.com/19762154/65853170-915d0180-e393-11e9-9d1a-38ad3713e145.png)

![image](https://user-images.githubusercontent.com/19762154/65853052-2f040100-e393-11e9-8155-fca3d69e0f3a.png)

<details>

/Users/donghojung/anaconda3/envs/pandas-dev/lib/p

[2019-09-30 06:26] jschendel commented on #28678
Note that this is a regression as this worked in 0.24.2:
[code]

[2019-09-30 06:30] 0xF4D3C0D3 commented on #28679
I have built pandas from scratch in a new environment, then the problem is gone. that's weird... is there something like a side effect on pytest?

[2019-09-30 06:44] 0xF4D3C0D3 commented on #28679
I think there are some mismatches my pandas ( C compiled version ), Thus it seems to be a problem on my own, I'll close this issue.

(I think I forgot the rebuild pandas after the pull!)

[2019-09-30 06:44] #28679 closed

[2019-09-30 06:52] 0xF4D3C0D3 commented on #28664
Oh, the c4489c was innocent, the fails was on my own mistake. So I have run the tests with the above change.

![image](https://user-images.githubusercontent.com/19762154/65855589-4397c780-e39a-11e9-9430-ff989761ac23.png)

and now I'm running `pytest pandas` now

[2019-09-30 07:53] 0xF4D3C0D3 commented on #28664
good! the tests are passed. I'll create the PR

[2019-09-30 09:34] amcnulty93 commented on #27586
Is this still being worked on? If not I can pick it up!

[2019-09-30 09:42] kdebrab commented on #21085
This seems to have been resolved in the meantime. Both in Python 3.6 (pandas version 0.25.1) as in Python 2.7 (pandas version 0.24.2), I now get the expected result when executing the code sample. The spurious column doesn't appear anymore.

[2019-09-30 09:45] kdebrab commented on #21085
Maybe not, it rather seems like the example doesn't really work anymore. It seems like `mi = mi.set_levels(pd.Categorical(mi.levels[0], categories=['b','a']), level='A')` does no longer have the intended effect...

[2019-09-30 09:51] kdebrab commented on #21085
OK, I see: I have to replace `pd.Categorical()` by `pd.CategoricalIndex()` in order to reproduce the issue. Conclusion: issue has not been solved yet!

[2019-09-30 10:34] codinggosu commented on #28546
I changed the default engine to be openpyxl in pandas/io/excel/base to be openpyxl for the purpose of making the "default read_excel call with no engine argument"  fall back to openpyxl.

Also I added an error message to pandas/io/excel/_openpyxl for the purpose of directing "the user to install openpyxl first and foremost,"

Am I heading in the right direction? Is this OK?

[2019-09-30 11:02] blu3r4y commented on #25174
@TomAugspurger sure! (tested with `pandas==0.25.1`)

[code]

This yields the `FutureWarning` in `groupby.py:937`
https://github.com/pandas-dev/pandas/blob/81fe56a53a67095979764581aca0cab623b941eb/pandas/core/groupby/groupby.py#L937

[2019-09-30 11:08] TomAugspurger commented on #25174
Thanks! That one is coming from
https://github.com/pandas-dev/pandas/blob/c4489cbfa5f93e69301486e1ef867caed9f4eb9e/pandas/core/groupby/groupby.py#L939
.

Anyone interested in making a PR?

On Mon, Sep 30, 2019 at 6:02 AM Mario Kahlhofer <notifications@github.com>
wrote:

[2019-09-30 11:16] oyibor opened #28682 "HDF Store – How to select from table with multiindex?"
I want to update data within a HDF table that has a multiindex.
This should be done in two steps:
- Remove the data from the HDF Store where the multiindex equals the multiindex of an update table (=> store.remove)
- Insert the new data into the HDF Store  (=> store.append)

The problem is that I do not find a way to select the multiindex.
I would need something like this:
store.remove(‘table_name

[2019-09-30 11:31] SenseiBunny opened #28683 "Read long text from a cell"
So I have very long text in excel cell, when I want to read this it only shows a few lines. How to get all text from a cell?

        tekst=self.alco.loc[self.alco['Name']=='Vodka', 'description']
        tekst=tekst.to_string(index=False)
        print(tekst)

Output:
Vodka is a distilled beverage composed primari...

[2019-09-30 11:34] vishwakftw commented on #27586
It is being worked on in #27615.

[2019-09-30 12:06] SenseiBunny commented on #28683
This worked for me! - https://stackoverflow.com/a/52691689/10666495

[2019-09-30 12:11] has2k1 commented on #21416
This issue can be closed, the bug is not present any more.

[2019-09-30 13:06] chrisstpierre commented on #27357
I opened a PR to deprecate it in 0.25.2. is_copy is supposed to be [removed all-together in 1.0.0](https://github.com/pandas-dev/pandas/issues/6581).

take always returns a copy

https://github.com/pandas-dev/pandas/blob/c4489cbfa5f93e69301486e1ef867caed9f4eb9e/pandas/core/generic.py#L3437

https://github.com/pandas-dev/pandas/blob/c4489cbfa5f93e69301486e1ef867caed9f4eb9e/pandas/core/internals/man

[2019-09-30 14:04] HughKelley opened #28685 "DOC: Fix formatting errors in pandas.api.extensions.ExtensionArray"
[code]
#### Problem description

pandas.api.extensions.ExtensionArray.view: Parameter "dtype" description should finish with "."
pandas.api.extensions.ExtensionArray.view: Return value has no description

pandas.api.extensions.ExtensionArray.fillna: Parameter "method" description should finish with "."
pandas.api.extensions.ExtensionArray.fillna: The first line of the returns section should contai

[2019-09-30 14:55] gfyoung commented on #21416
Can you submit a PR to add this example as a test?

[2019-09-30 14:56] josibake commented on #28602
working on `pandas.io.formats.style.Styler`:

[code]

[2019-09-30 14:58] punndcoder28 commented on #28669
Hey! @simonjayhawkins the cases for removing a null value are failing. I can't seem to understand why. Would you mind helping me out?

Thanks.

[2019-09-30 15:04] josibake opened #28687 "DOC: Docstrings Formatting Error PR09,PR08 in pandas.plotting"
fix PR09,PR08 errors in `pandas.plotting`:

[code]

This is a subset of #28602 and #27977

[2019-09-30 15:06] josibake commented on #28687
working on this

[2019-09-30 15:13] fjanoos opened #28688 "Possible overflow errors with pd.rolling(...).std()"
I'm experiencing a very weird bug with one very specific dataset - when I try to use pandas' rolling.std function on it.

Basically - the setup is -
* I have a dataframe with 1 column stored in float32 format
[code]

[code]
![image](https://user-images.githubusercontent.com/923438/65890281-9ceb0100-e370-11e9-85e4-fa55d4a5c44b.png)

Here is a plot of the full timeseries (left column) along with a t

[2019-09-30 16:16] WillAyd commented on #28683
This is probably already solved by #28052 - can you check on master?

[2019-09-30 16:19] batterseapower opened #28690 "`reindex` of empty CategoricalIndex sometimes fails if target is not a `CategoricalIndex`"
#### Code Sample, a copy-pastable example if possible

This fails with `AttributeError: 'Index' object has no attribute 'codes'`:

[code]

The backtrace is:

[code]

#### Problem description

This should not fail, but rather return an `0x1` DataFrame with the new columns. Other, closely-related, expressions **do** work correctly in this scenario e.g.:

[code]

#### Expected Output

[code]

#### Ou

[2019-09-30 16:20] WillAyd commented on #28546
Don't want to make that change just yet - simply warn the user that the default will change in the future and they can explicitly say `engine="openpyxl"` to suppress or simply wait for the swap to be made in a future release

[2019-09-30 20:15] MekeSakensky opened #28694 "How to create a file with JsonL extension from my dataframe?"
Hi, how can I create a file with **JsonL extension** from my dataframe/list/dictionary?

[2019-09-30 20:42] cvonsteg commented on #14553
@TomAugspurger as suggested, @rugg2 and I have come up with the following design proposal for an `upsert` option in `to_sql()`.

## Interface Proposal

2 new variables to be added as a possible `method` argument in the `to_sql()` method:
1) `upsert_update` - on row match, update row in database (for knowingly updating records - represents most use cases)
2) `upsert_ignore` - on row match, do not u

[2019-09-30 20:51] MekeSakensky commented on #28694
???

[2019-09-30 20:54] jreback commented on #28694
pls ask usage questions with a reproducible example on Stack Overflow

[2019-09-30 20:54] #28694 closed

[2019-09-30 21:50] has2k1 opened #28697 "Series.sort_values using mergesort and descending is not stable"
#### Code Sample

[code]
####  Output
[code]

####  Expected Output
[code]
#### Problem description
Mergesort should be stable irrespective of direction, but `ascending=False` (which is not stable) is just the reverse of `ascending=True` (which is stable).

[2019-09-30 22:04] ailurus1991 commented on #28663
added at https://github.com/pandas-dev/pandas/pull/28692

[2019-09-30 23:29] kboone opened #28699 "read_hdf closes HDF5 stores that it didn't open."
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Due to a recent change in pandas, the read_hdf function closes HDF5 stores if it fails to read from the file. In my opinion, this is the expected behavior if read_hdf opened the file itself, but shouldn't happen if it was passed a file that is already open. One use case for this is a series of try/except block

[2019-10-01 00:51] kboone commented on #28699
I submitted PR #28700 to fix this.

[2019-10-01 01:58] josibake opened #28701 "TST/ENH: add default values check to validate_docstrings.py"
#### Problem description

Per [contributing_docstring#section-3-parameters](https://pandas.pydata.org/pandas-docs/stable/development/contributing_docstring.html#section-3-parameters), default values should be documented as such:
* `int, default 0`
* `int, default -1, meaning all cpus` (optional descriptions)

Currently, the `validate_docstrings.py` script does not check default values. This should

[2019-10-01 03:13] josibake opened #28702 "DOC: Docstrings Formatting error PR09,PR08 in pandas.DataFrame"
fix errors PR09,PR08 listed below:

[code]

This is a subset of #28602 and #27977

[2019-10-01 03:15] josibake commented on #28602
working on pandas.DataFrame (#28702  )

[2019-10-01 04:15] WillAyd opened #28703 "Add Note About Referencing GH Issue Number to Test in Contrib Guide"
We often ask people to add the GH Issue number as a comment to new tests, but that requirement isn't explicitly spelled out in the contributing guide. Might save some back and forth if that is added to the `Writing Tests` section:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#writing-tests

[2019-10-01 04:53] rileypeterson commented on #28570
This works fine for me:
[code]

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-10-01 05:23] dmswl6310 commented on #28703
Can I try it??

[2019-10-01 06:33] KiranAkadas commented on #28703
I want to work on this!

[2019-10-01 07:59] batterseapower opened #28704 "DataFrame built from ndarray does not preserve `.values.dtype` if there are no columns"
#### Code Sample, a copy-pastable example if possible

These both say `float64`:

[code]

All of the following examples instead say `int32` as expected:

[code]

#### Problem description

I think in general it would be a nice property that if `X` is a 2D ndarray, then it should be the case that `pd.DataFrame(X).values.base is X`.

It would be great if pandas could not lose dtype information, becau

[2019-10-01 08:02] batterseapower commented on #28704
Note that you can't even rescue the situation with `astype(int)` on the DataFrame with an erroneous dtype: a DataFrame with zero columns is just stuck as a float64.

[2019-10-01 08:25] srijagummula commented on #11984
I am trying to change the particular element in the column using if condition
for row in df2["Geners2"]:
    if row == "Animation":
        Animations.append("1")
    **else :
        Animations.append("0")**

but I am unable to retain the previous value could you please help me

[2019-10-01 10:07] dayoreke opened #28706 "DOC: Fix PR08 issues in docstrings in pandas.core.groupby"
Current errors:
[code]
This is a subset of #27977

[2019-10-01 10:10] dayoreke commented on #28706
I will be working on
[code]

[2019-10-01 10:10] anirudnits commented on #28706
I would like to work on this.

[2019-10-01 10:56] simonjayhawkins opened #28708 "CI Failing: TestReadHtml.test_spam_url"
http://ndb.nal.usda.gov/ndb/foods/show/300772?fg=&man=&lfacet=&format=&count=&max=25&offset=&sort=&qlookup=spam

![image](https://user-images.githubusercontent.com/13159005/65956425-43530700-e442-11e9-8dfb-5f053be9f0fb.png)

[2019-10-01 11:27] ViniGl commented on #18006
Any feedback about it?

[2019-10-01 11:58] simonjayhawkins commented on #28706
Thanks @dayoreke  . I believe this is the same as #25232.

Feel free to work on pieces of it at a time, and reference that issue in each PR.

[2019-10-01 11:58] #28706 closed

[2019-10-01 11:59] #28315 closed

[2019-10-01 12:00] #28631 closed

[2019-10-01 12:21] TomAugspurger commented on #28110
FYI, @jbrockmendel and I may try to knock out a release this week while we're in town together (likely on Thursday). Ideally we'll be able to get a bit of CI coverage on 3.8 before then.

[2019-10-01 12:22] jorisvandenbossche commented on #27357
@chrisstpierre can you open a new PR against master? (using the same branch, but not selecting the 0.25.x branch when opening the PR)
I looked at the commit you added, and that by itself looks good!

[2019-10-01 12:23] jreback commented on #28110
is conda-forge any better at 3.8 now?

[2019-10-01 12:28] jorisvandenbossche commented on #26706
@jreback Can you respond to my last answer?

So to be clear: this is about a single property (or method) in the `sparse` accessor (which is what the PR is doing), nothing more than that is proposed.

[2019-10-01 12:32] jorisvandenbossche commented on #28658
It seems to be fixed on master, indeed (but can also confirm that it was failing on 0.25.1). I am not sure if this was fixed intentionally, so it might be good to add a test to ensure this keeps working in the future.

Somebody wants to do a PR to add a test?

[2019-10-01 12:37] TomAugspurger commented on #28704
I don't think that pandas has a place to represent this. Since each column can have it's own dtype, the "dtype of no column" isn't well defined.

[2019-10-01 12:44] MomIsBestFriend opened #28714 "Error while installing dependencies"
While running:
[code]

I get an error on line 20:

ERROR: No matching distribution found for dask-core (from -r requirements-dev.txt (line 20))

the output of ```uname -a``` is

Error output:

![Error](https://user-images.githubusercontent.com/50263213/65962811-275f5d80-e462-11e9-8054-9b241e8811b6.png)

[code]

[2019-10-01 12:44] jreback commented on #26706
I get what you are proposing, but nothing has changed my mind. This is a scope creep that won't end well. I don't see what is wrong with an apply here. This seems like api that is wanting for a usecase.

[2019-10-01 12:45] jorisvandenbossche commented on #28704
Yes, I agree that there is no obvious way to "solve" this. If there are no columns, we cannot store any information about dtypes. In those cases, the "float64" is just the default fallback dtype.

[2019-10-01 12:47] jorisvandenbossche commented on #26706
Use case: knowing if you ave only sparse columns (some functionality will only work in such case). Before, you could do this with SparseDataFrame, but now in a normal DataFrame you cannot make any guarantees about having only sparse columns.

[2019-10-01 12:49] #28708 closed

[2019-10-01 12:53] jorisvandenbossche commented on #28490
@rjurney that's a different issue. There have been some recent failures with s3fs, but even if that is fully working, you still have the problem that we should not try to open a file if the argument is a directory.

[2019-10-01 13:07] #16959 closed

[2019-10-01 13:21] TomAugspurger commented on #28110
No, not yet.

On Tue, Oct 1, 2019 at 7:23 AM Jeff Reback <notifications@github.com> wrote:

[2019-10-01 14:31] batterseapower commented on #28704
I'm not completely au-fait with Pandas internals, but I don't think it's quite true that pandas represents a separate dtype for each column, these assertions succeeds:

[code]

i.e. the "int4" dtype associated with columns 0 and 1 is actually shared between the two columns in some sense, because the columns are backed by the same array. (Pandas can't be splitting the 2D array into two columnar sli

[2019-10-01 14:40] LauraCollard opened #28724 "Fix PR06 issues in docstrings"
Fix the docstrings where there is an error in a parameter format, eg string instead of str.
Current errors:
[code]

[2019-10-01 14:42] LauraCollard commented on #28724
I'm working on issues in `pandas.DataFrame`, `pandas.ExcelWriter`, `pandas.arrays.IntervalArray` and `pandas.timedelta_range`.

[2019-10-01 14:43] batterseapower commented on #28704
I guess I'm suggesting that the BlockManager could store a single block with 0 columns which would give you somewhere to store the dtype.

[2019-10-01 15:08] dayoreke opened #28726 "DOC: Add docstring to fixture "frame" in "tests/io/excel/conftest.py""
#### Problem description

Add docstring to fixture "frame" in "tests/io/excel/conftest.py" as it is not clear what the method does.

[2019-10-01 15:32] simonjayhawkins commented on #28726
xref #26784

[2019-10-01 15:39] simonjayhawkins commented on #28726
@dayoreke i'll close this and just xref https://github.com/pandas-dev/pandas/pull/26579#pullrequestreview-245987920 in the PR.

[2019-10-01 15:39] #28726 closed

[2019-10-01 15:50] #28687 closed

[2019-10-01 16:01] anirudnits commented on #28714
I am looking into this.

[2019-10-01 16:23] TomAugspurger commented on #28714
Thanks @anirudnits. You'll need to update `scripts/generate_pip_deps_from_conda_deps.py`. You'll want to rename `dask-core` to `dask`, then rerurn `scripts.generate_pip_deps_from_conda_deps.py` and hopefully things will work.

[2019-10-01 16:23] TomAugspurger commented on #28714
@MomIsBestFriend as a workaround, you can manually update `requirements-dev.txt` renaming dask-core to dask.

[2019-10-01 16:27] anirudnits commented on #28714
So, I believe here's the issue
dask-core is only included as a metapackage for conda-forge [https://github.com/conda-forge/staged-recipes/pull/3820](url)
but no such metapackage exists in PYPI and as such the error. This is also mentioned in: [https://github.com/dask/distributed/issues/962](url).

[2019-10-01 16:38] #17294 closed

[2019-10-01 16:55] #28435 closed

[2019-10-01 17:02] anirudnits commented on #28714
@TomAugspurger I went through `scripts/generate_pip_deps_from_conda_deps.py` and found out where the issue is. In line 48 only **pkg** is checked if it's there in dict **RENAME** and that only happens if there is a comparator (either of ==, <= or >=) in the package name. By adding an extra check
`if package in RENAME:`
 `       package = RENAME[package]`
at the end would solve the issue.

[2019-10-01 17:12] MomIsBestFriend commented on #28714
Ty:) @TomAugspurger

[2019-10-01 17:20] TomAugspurger commented on #28714
Yeah, I think renaming should be done regardless of the version
specification.

On Tue, Oct 1, 2019 at 12:02 PM Aniruddha Bhattacharjee <
notifications@github.com> wrote:

[2019-10-01 17:26] jorisvandenbossche commented on #28095
I would like to revive this discussion (will try to update the proposal with some more concrete details, and send a note to the mailing list).

What are people's general thoughts about this?

[2019-10-01 17:47] anirudnits commented on #28714
@TomAugspurger ok I'll submit a PR for this then.

[2019-10-01 17:58] tadashigaki commented on #28714
Oops. Sorry for not checking these conversations. Concentrated on fixing this issue. Reached same cause and fix approach.

[2019-10-01 19:17] jackbicknell14 commented on #25232
Working on:

[code]

[2019-10-01 19:18] jackbicknell14 opened #28738 "DOC: Fixing docstrings formatting error PR08, PR09 in pandas.Series"
This is a subset of:
- [#28602](https://github.com/pandas-dev/pandas/issues/28602) the PR09 issue overview,
- [#25232](https://github.com/pandas-dev/pandas/issues/25232) the PR08 issue overview,
- [#27977](https://github.com/pandas-dev/pandas/issues/27977) the overall docstring error overview

Fixing PR08 and PR09 errors in pandas.Series:

[code]

[2019-10-01 19:19] jackbicknell14 commented on #28602
Working on pandas.Series [#28738](https://github.com/pandas-dev/pandas/issues/28738)

[2019-10-01 20:05] amirhosseindavoody opened #28740 "Include/exclude using multiple columns"
This is a proposal for two new methods that makes filtering dataframe rows easier based in value of two or more column values.

In my use of pandas there is often need to filter (exclude or keep) all the rows that meet a certain condition on multiple column **simultaneously**. For example column A is equal to 1 and column B is equal to 2. I know that I can write a code like the following

[code]

[2019-10-01 20:32] jorisvandenbossche commented on #26831
@justmarkham thanks a *lot* for looking at it and this feedback! That is really valuable and very much appreciated.

I created the PRs for the two remaining notebooks.

[2019-10-01 20:33] puffofsmoke commented on #28551
[code]

[2019-10-01 21:02] jorisvandenbossche commented on #28095
cc @xhochy you might also be interested in this given your recent explorations of boolean extension arrays / missing values in any/all operations

[2019-10-01 21:34] alimcmaster1 commented on #28551
Can you specify which version of pandas you are using - works for me on 0.25.1

[2019-10-01 21:37] jbrockmendel commented on #28095
@jorisvandenbossche reading through this I don't see a clear answer to the "how do we do this while avoiding breaking arithmetic?" problem.  Is your position something to the effect of "just don't do arithmetic with these"?