[2021-07-19 15:52] simonjayhawkins commented on #42597
yes, we basically make ArrowStringArray match StringArray behaviour, falling back where needed. Users do not need to do anything special.

There are a few xfailed tests for ArrowStringArray that did not get fixed in time for 1.3.0. min/max is one of those. IIRC I might have fixed in #40962.

will look soon.

[2021-07-19 15:54] simonjayhawkins commented on #42597
I'll relabel as a bug and we will backport the fix.

[2021-07-19 15:58] jreback commented on #42597
does pyarrow 4.0.1 supporot this?

[2021-07-19 16:10] samgd commented on #22843
I'm implementing an ExtensionArray interface and am hitting a failing test due to the lack of `value_counts`. What is the status on this? Required? Can I mark the test as skip?

[2021-07-19 17:06] lithomas1 commented on #42588
Ok, investigating a bit more. The uint8 vs Uint8 change seems like a deliberate change in fastparquet, xref dask/fastparquet#623. In pandas, we make this opt in with the ``use_nullable_dtypes`` keyword, but fastparquet just auto uses them.
test_bool_with_none seems to fail for the same reason, the nullable boolean dtype is used by default, when it actually should be opt in.

The datetime64 one jus

[2021-07-19 17:08] martindurant commented on #42588
Fastparquet uses ns precision to store timestamps as of that PR, which ought not to have changed the tz propagation - there are tests for that. I haven't looked at your tests, yet, though.

[2021-07-19 17:09] mroeschke commented on #42601
Thanks for the question. Your best bet is to convert your index to a `DatetimeIndex` and then perform the calculation as normal to get offset-based behavior.

[code]

We highly encourage to ask usage questions on stackoverflow first in the future.

[2021-07-19 17:09] #42601 closed

[2021-07-19 17:09] lithomas1 commented on #42588
Slightly unrelated, but perhaps fastparquet can set up a CI for the dev version of pandas? That way, we can catch bugs/issues before the release of a new pandas/fastparquet. I'd be happy to set that up for fastparquet, if you want.

[2021-07-19 17:10] martindurant commented on #42588
btw: I would love if there were a variant of assert_frame_equal that would make, for example, uint8 and UInt8 equivalent.

[2021-07-19 17:10] martindurant commented on #42588
@lithomas1 , yes that sounds very useful. We already test against dask, for example.

[2021-07-19 17:12] martindurant commented on #42588
I appreciate people here sticking with me, and hope that all the improvements described at https://fastparquet.readthedocs.io/en/latest/releasenotes.html are worth it!

[2021-07-19 17:40] lithomas1 commented on #42588
Thanks for developing fastparquet! :)

[2021-07-19 18:13] simonjayhawkins commented on #42597
mistaken, that PR only changed the error to be a `NotImplementedError` instead of either `TypeError: '<=' not supported between instances of 'str' and 'NoneType'` or `AttributeError: 'ArrowStringArray' object has no attribute 'max'` as seen here when called on a Series.

[2021-07-19 18:15] chivalry123 commented on #42601
Thanks so much! I didn't expect this method so fast. I was trying on 10M rows and it only takes 153ms! really fast!

[2021-07-19 18:22] TomAugspurger commented on #42597
Hmm, I might open an issue to revisit that. Those kinds of silent performance cliffs are hard to debug. IMO, we should wait / help PyArrow implement the efficient kernels and then wrap them here, without the expensive conersion to Python objects.

[2021-07-19 18:24] mrocklin commented on #42597
+1 .  For my very narrow use case I'm very much in favor of focusing on adding min/max than on fallback behavior.  I'm not looking at the whole picture though.

[2021-07-19 18:24] simonjayhawkins commented on #42597
I think we discussed somewhere about adding performance warnings when object fallback was in play. will try to find it.

[2021-07-19 18:26] simonjayhawkins commented on #42597
our min supported version of PyArrow for ArrowStringArray is 1.0.0 and so the kernels guaranteed available are limited.

[2021-07-19 18:42] lithomas1 commented on #42588
Hmmm... There might be another inconsistency in between the fastparquet and pyarrow engines. We currently configure pyarrow to always go to nullable dtypes when the keyword ``use_nullable_dtypes=True`` is passed to ``pandas.read_parquet``. Fastparquet, I think uses the nullable dtypes conditionally.(please do correct me if I'm wrong)
From the fastparquet release notes
[code]

So, I think we need t

[2021-07-19 18:51] simonjayhawkins commented on #42597
at one point we had https://github.com/pandas-dev/pandas/pull/39908#issuecomment-851004333 to make this apparent to the users but was removed from the release notes and not yet added elsewhere in the documentation.

[2021-07-19 19:15] TomAugspurger opened #42613 "PyArrow StringDtype / StringArray fallback policy"
In https://github.com/pandas-dev/pandas/issues/35169 / https://github.com/pandas-dev/pandas/issues/42597 we discussed the desired behavior of PyArrow-backed StringArray when a certain method is not implemented in `pyarrow.compute`.

For string methods like `str_normalize`, which aren't currently implemented in `pyarrow.compute`, I believe we (silently) cast from `Pyarrow[string]` to an object-dtyp

[2021-07-19 19:16] TomAugspurger commented on #42597
We discussed fallback behavior a bit in https://github.com/pandas-dev/pandas/issues/35169. I opened https://github.com/pandas-dev/pandas/issues/42613 dedicated to deciding on a general policy to apply.

[2021-07-19 19:35] derrick-anderson commented on #6856
Hi Everyone!

I have been doing a bunch of digging on this topic.  I've come down on [this solution](https://stackoverflow.com/a/63460377) that allows you to lock-in a specific version of a library for build time.  This would require the builder to install all the possible versions of pandas on the build machine. That is possible with a requires file and then we would include a global import for t

[2021-07-19 19:40] simonjayhawkins commented on #42613
maybe also consider a nopython=True/False setting (pandas option, dtype constructor argument and/or array attribute)

[2021-07-19 19:44] chivalry123 opened #42615 "QST: how to perform group by rolling efficiently based on datetime index?"
- [ y] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ y] I have asked my usage related question on [StackOverflow](https://stackoverflow.com/questions/68446123/how-to-perform-group-by-rolling-efficiently-based-on-datetime-index?noredirect=1#comment120965466_68446123).

---

#### Question about pandas: how to perfor

[2021-07-19 19:53] realead commented on #42606
Profiling shows:

[code]

that

[code]

the whole time is spent in  `pandas._libs.tslib.array_with_unit_to_datetime`.

[2021-07-19 20:20] CactusPhD commented on #39576
Was this fixed in pandas 1.2.2? I'm encountering the same issue in pandas 1.3.0.

[2021-07-19 20:22] phofl commented on #39576
Can you provide an excle file plus provide your versions and your example?

[2021-07-19 20:35] CactusPhD commented on #39576
Sure. I was just running this test code in my python terminal and getting the same message that it needs to be repaired: pandas==1.3.0, openpyxl==3.0.3. Switched back to pandas 1.1.5 and could not reproduce the error.
[pandas_test_code.txt](https://github.com/pandas-dev/pandas/files/6843744/pandas_test_code.txt)
[test.xlsx](https://github.com/pandas-dev/pandas/files/6843767/test.xlsx)

[2021-07-19 20:36] phofl commented on #39576
Could you try on 1.2.2 too? This worker at least temporarily on master back then

[2021-07-19 20:44] rhshadrach opened #42617 "BUG: DataFrameGroupBy.transform unnecessarily coerces dtype"
Comparing

[code]

gives

[code]

When the object column (c) is on the frame, we call `_transform_item_by_item` which operates on each column individually, giving the expected dtype in the result. Without the object column, we take the slowpath calling apply. apply returns a Series whose index is ['a', 'b'] with values [0.0, 0.0], where the dtype of column b coerces the dtype of column a into the

[2021-07-19 21:02] CactusPhD commented on #39576
Same issue when running 1.2.2. Here is the produced file.
[test_1.2.2.xlsx](https://github.com/pandas-dev/pandas/files/6843886/test_1.2.2.xlsx)

[2021-07-19 21:46] sleiken opened #42618 "BUG: SeriesGroupBy.value_counts() throws IndexError if there is only one group"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]
[code]

#### Problem description

Calling `value_counts()` on a `SeriesGroupBy` throws an `IndexError` when there is only

[2021-07-19 21:46] UncleHoo commented on #42537
If you run the code below you will get a sample DataFrame that when you scroll the headings disappear (normal behavior).

[code]

If you then run the following code you will get what you expect, which is the column headings staying at the top of the display as you scroll through the table.  Again, what is expected:

[code]

Now if you create a multi-index on the DataFrame and then try to display i

[2021-07-19 21:51] sleiken commented on #42618
Correction: error occurs when there is only one row in the dataframe that the grouby is created from not when there is one group.

[2021-07-19 21:58] chivalry123 commented on #42615
**Edit2**, so it is due to some mysterious installation issue. I have to update anaconda with latest download.

      523  curl -O https://repo.anaconda.com/archive/Anaconda3-2021.05-Linux-x86_64.sh
      525  bash Anaconda3-2021.05-Linux-x86_64.sh -u

Now it runs with 50ms. problem solved!

[2021-07-19 23:07] twoertwein commented on #39576
Is it intended that `.book` can be overwritten by the user?

I don't have MS Excel to test whether the file is corrupt. The following is based on how I understand the code.

Here is again your example code (slight change: use the context manager introduced in 1.2) with comments that (hopefully) describe what is going on:

[code]
Truncate is called if the "appended" excel file is smaller than the o

[2021-07-20 01:12] twoertwein commented on #39576
The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.ExcelWriter.html) says: "None of the methods and properties are considered public."

[2021-07-20 03:36] neelmraman commented on #42618
take

[2021-07-20 03:55] topekekere commented on #42506
no, still have the errors

[2021-07-20 04:24] #42615 closed

[2021-07-20 07:11] michael-michelotti commented on #26840
take

[2021-07-20 07:59] michael-michelotti commented on #26840
Hey @mroeschke

I want to try to take this on. This will be my first open source contribution, so I just want to make sure I do this right.

I do not see any specific file devoted to testing It looks to me like a test would best be housed at `/pandas/tests/groupby/transform/test_transform.py`

I don't see anything already testing this condition, or a similar test that this could be added to. Based

[2021-07-20 08:49] phofl commented on #39576
@twoertwein thanks for checking, should have looked at the code.
Your propsed example works for me.

And I agree that the previous example is not expected to work.

[2021-07-20 08:54] realead commented on #42606
Here is line_profiling of `array_with_unit_to_datetime` (which should be taken with prise of salt as every line profiling):

[code]

Note: `if val != val or val == NPY_NAT:`  is responsible for about 20% and is probably not needed, because `checknull_with_nat_and_na` covers these cases already.

However, the issue compared to fast `int64` case is this line: https://github.com/pandas-dev/pandas/blo

[2021-07-20 08:58] realead commented on #42606
A similar issue was fixed with #35027 for floats. The question is whether just adding

`if values.dtype.kind == "i" or values.dtype.kind == "f" or values.dtype.kind == "u":`

will do the trick? @arw2019

[2021-07-20 10:15] jfthuong commented on #9180
FYI. `ndjson` is now supported out of the box with argument `lines=True`.

[code]

[2021-07-20 10:31] attack68 commented on #42537
Ah I see this is not to do with MultiIndexs it is actually becuase the index has a Name and that creates a row which overwrites the column headers row (both are pinned at the top).

This needs two fixes:

 - [ ] one to deal with the case of `Index`, (#42622)
 - [ ] one to deal with the case of `MultiIndexes`

[2021-07-20 11:42] simonjayhawkins commented on #42597
it does not support `pc.min_max` on a pyarrow string array but does support `pc.sort_indices` on a string type. so could use that for now to avoid conversion to object.

[code]

I've not done a comprehensive performance analysis, but `min` would be quicker on very small arrays than object fallback and `max` would be about the same. On larger arrays (> 10_000 items) fallback to object would be more

[2021-07-20 11:56] simonjayhawkins commented on #42597
i suspect we could improve the performance for larger arrays using pc.partition_nth_indices

[2021-07-20 11:58] TomAugspurger commented on #42613
Yep, those would be worth exploring. Global options are a bit harder for dask, since it's a bit hard to propagate global options to multiple processes (it'd be easier if we had a config system like Dask's). A per- StringArray / StringDtype instance option might also be useful, though we'd need to propagate that setting through operations which sounds a bit hard.

[2021-07-20 12:17] #38645 closed

[2021-07-20 12:20] TomAugspurger commented on #42597
IMO, it's not worth rushing a short-term fix. I opened https://issues.apache.org/jira/browse/ARROW-13410. I have no sense for how difficult this would be to implement in Arrow, but if there's already support for sorting then perhaps min / max won't be too difficult.

[2021-07-20 12:28] TomAugspurger commented on #42600
This is also an upstream pyarrow issue:

[code]

Seems that @maartenbreddels already noticed this and reported it upstream: https://issues.apache.org/jira/browse/ARROW-10739. It's nice sharing the same underlying technologies :)

I'm going to close this, since I don't think pandas could (easily) work around it and any fix would be better on the pyarrow side (cc @jorisvandenbossche, a bit more moti

[2021-07-20 12:31] TomAugspurger commented on #42600
Oh, I see that the workaround in Python isn't *too* bad. Something like

[code]

in the `__reduce__` for any arrow-backed array. We can consider implementing that.

[2021-07-20 12:34] maartenbreddels commented on #42600
Yes, that's the fastest version/workaround I've found.

[2021-07-20 12:44] ytchanglp opened #42624 "BUG: to_datetime()'s origin does not use unit specified in the parameter"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-20 12:48] maartenbreddels commented on #42600
I am actually using a different version right now: https://github.com/vaexio/vaex/blob/caed2cf106007c6a0141a02a5dfdf823fa38799e/packages/vaex-core/vaex/arrow/convert.py#L260

[2021-07-20 14:31] UncleHoo commented on #42537
Okay...............I assume then that you don't need anymore information from me for this bug?

[2021-07-20 14:31] chivalry123 opened #42625 "QST: group by rolling slow on one instance but faster on another, is it possible to optimize"
- [Y] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [Y] I have asked my usage related question on [StackOverflow](https://stackoverflow.com/questions/68456672/group-by-rolling-slow-on-one-instance-but-faster-on-another-is-it-possible-to-o).

---

#### Question about pandas

I wanted to perform group by rolling sum,

[2021-07-20 15:14] tamargrey opened #42626 "BUG: Cannot calculate quantiles from Int64Dtype Series when results are floats"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
The result of the  above quantile call should be `2.5`, and the following error is thrown any time the result of the qua

[2021-07-20 15:20] revesansparole opened #42627 "BUG: conda package for pandas and python37 on linux64 install wrong pandas-1.3.0-py39"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-20 15:36] zefuirusu opened #42629 "pandas.DataFrame.pivot_table cannot generate a correct Pivot Table for financial data of `General Ledger`."
## description
As I have to cope with financial data, like an accountant, pivot table is a powerful tool for me.Yet recently, calling method `pandas.DataFrame.pivot_table`, I encountered a problem.
With data of `General Ledgers` (17 columns and over 7000 rows) I had expected to get a pivot table with values = `debit amount minus credit amount` for each `journal ID`, which identifies each `journal

[2021-07-20 16:16] tobiasbrodd opened #42630 "BUG: Dividing Int64 and float64 results in a mix of null-types"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-20 17:08] fangchenli commented on #42627
I don't see this on Windows or macOS.

Could you try create the env and install pandas in two steps?

[2021-07-20 17:20] phofl commented on #42629
Hey, could you provide your execl file?

[2021-07-20 17:20] mroeschke commented on #26840
`/pandas/tests/groupby/transform/test_transform.py` sounds like a good location for the test. I suggest just start writing the testing function and we can review in a pull request whether a fixture is appropriate

[2021-07-20 17:21] phofl commented on #42627
Works for me on  Ubuntu 20.04

[code]

[2021-07-20 17:28] phofl commented on #42603
This is a "feature" I think, but not happy with it either. Is not really ambiguous, but you coud avoid this easily through something like this:

[code]

if you would like to select the index or

[code]

if you would like to select the column.

This is much better to read imo.

[2021-07-20 17:54] phofl commented on #42570
Stacklevel changed.

[2021-07-20 17:59] phofl commented on #42535
@soydepr could you please adress questions?

[2021-07-20 18:26] chenghlee commented on #42627
We've patched the dependency metadata for Anaconda's defaults repository, which should fix this issue:

[code]

[2021-07-20 18:30] fangchenli commented on #42627
thanks @chenghlee

[2021-07-20 18:44] attack68 commented on #42537
no, your example was enough, the PR i submitted will, in fact, correct this issue, but there are further items to deal with.

[2021-07-20 20:21] rhshadrach commented on #42617
Thinking about this more, if the user could control what input was being given to the transform function (i.e. column-by-column vs entire frame), we could default to the fastpath and then allow them to utilize the slowpath if it they so desired. By having arguments control the input (and hence, output), the result above would no longer be surprising. It would also mean cleaner code paths internall

[2021-07-20 20:37] rhshadrach commented on #42609
Bolding mine.

Not sure if you're aware, but a `.groupby(...)` is very lightweight:

[code]

gives

whereas changing size to 100_000 gives

I don't think the need to recreate the groupby has an impact on efficiency.

Can you elaborate here? Do you have an example in mind where `df.groupby(...).filter(...).groupby(...).op()` or something of the sort does something unexpected?

It sounds to me that

[2021-07-20 21:28] phofl commented on #42530
the ``del self[item]`` call in pop messes up the ``_cacher`` attribute of the view created onto self causing the KeyError later on.

[2021-07-20 21:41] phofl commented on #42456
This supresses the error currently raised but causes another later on

[code]

[2021-07-20 21:41] soydepr commented on #42535
Yes  > xlrd thank you

[2021-07-20 21:41] #42535 closed

[2021-07-20 21:45] phofl commented on #42450
Agreed, this is a unstack thing

[2021-07-20 21:53] phofl commented on #42356
@ngupta23 is this solved then?

[2021-07-20 22:15] casperdcl commented on #42356
it's not a `pandas` bug. `pandas` deprecated a non-public method and created a public replacement. Yes should be closed.

[2021-07-20 22:16] #42356 closed

[2021-07-20 22:19] phofl commented on #42625
as @mroeschke previously said, please ask usage questions on stackoverflow

[2021-07-20 22:24] attack68 commented on #42573
closing - democracy seems to have identified this as a non-issue, but rather an educational question for which an answer was given

[2021-07-20 22:24] #42573 closed

[2021-07-20 22:29] ThiMaul opened #42638 "date_range bug for"
I need help!!

When I use this code :

debut = df_idmatch.date.min().replace(tzinfo=None)
fin = df_idmatch.date.max().replace(tzinfo=None)
print(debut, fin)
dates=pd.date_range(start=debut,end=fin,freq='W')
date_index=dates.year.astype(str)+"-"+dates.weekofyear.astype(str).str.zfill(2)
date_index.tolist()

There is a trouble when you pass from the end of the year to next year. If you print date_in

[2021-07-20 22:44] stevebachmeier opened #42639 "BUG: v1.3.0 to_datetime caching behavior changed compared to v1.2.5"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Starting with v1.3.0 we began running into issues where pd.to_datetime would not convert all

[2021-07-21 02:01] mikephung122 commented on #27994
@mroeschke I was looking for an issue to pickup for my first contribution, was wondering if I could take this up.  I saw the original Pull Request was closed due to inactivity (https://github.com/pandas-dev/pandas/pull/28114) but already contained tests for the example that opened this issue.  Could those be re-used?  Is there anything else that we would want to include?

[2021-07-21 03:38] anarkiwi opened #42642 "BUG: pandas 1.3.0 short series of type pandas.Int32DType() fails to calculate 0.75 quantile"
numpy uint32 is fine, but pd.Uint32Dtype() is not, on the same series:

[code]

Now Pandas:

[code]

[code]

[2021-07-21 04:07] mroeschke commented on #42625
Yes, we recommend using stackoverflow for usage questions like these.

Profiling both cases would probably highlight where the bottlenecks are; my guess would be in the sorting. Closing

[2021-07-21 04:07] #42625 closed

[2021-07-21 04:08] mroeschke commented on #27994
Yes go for it @mikephung122.

[2021-07-21 04:37] mroeschke commented on #28522
Closing as duplicate of https://github.com/pandas-dev/pandas/issues/32306 with a more recent discussion on the future policy we want.

[2021-07-21 04:37] #28522 closed

[2021-07-21 04:37] mroeschke commented on #7473
Closing as duplicate of https://github.com/pandas-dev/pandas/issues/32306 with a more recent discussion on the future policy we want.

[2021-07-21 04:37] #7473 closed

[2021-07-21 04:37] mroeschke commented on #25138
Closing as duplicate of https://github.com/pandas-dev/pandas/issues/32306 with a more recent discussion on the future policy we want.

[2021-07-21 04:37] #25138 closed

[2021-07-21 04:37] mroeschke commented on #22618
Closing as duplicate of https://github.com/pandas-dev/pandas/issues/32306 with a more recent discussion on the future policy we want.

[2021-07-21 04:37] #22618 closed

[2021-07-21 04:38] mroeschke commented on #22491
Closing as duplicate of https://github.com/pandas-dev/pandas/issues/32306 with a more recent discussion on the future policy we want.

[2021-07-21 04:38] #22491 closed

[2021-07-21 04:46] mroeschke commented on #28565
Closing as indexing with a date-like string like this is deprecated

[2021-07-21 04:46] #28565 closed

[2021-07-21 04:53] mroeschke commented on #28581
Appears that this example isn't fully reproducible (the csv is not available). We've also had several issues about this warning and are moving toward a copy-on-write model which should hopefully alleviate this in a future version. Closing.

[2021-07-21 04:53] #28581 closed

[2021-07-21 04:59] mroeschke commented on #28613
This looks fixed on master. Could use a test

[code]

[2021-07-21 05:03] mroeschke commented on #28635
Performance looks comparable now. Could use an ASV

[code]

[2021-07-21 05:07] mroeschke commented on #28702
Looks like a duplicate of https://github.com/pandas-dev/pandas/issues/28602. Let's centralize discussion there. Closing.

[2021-07-21 05:07] #28702 closed

[2021-07-21 05:10] blankon123 commented on #42626
Can i take this one ?

[2021-07-21 05:12] mroeschke commented on #28740
Thanks for the suggestion, but as this overlaps with the functionality of boolean indexing, I would be -1 to add another API for the same functionality.

Since there hasn't been much engagement from the core devs or community for this feature, going to close. But happy to reopen if there's more collective interest

[2021-07-21 05:12] #28740 closed

[2021-07-21 05:25] mroeschke commented on #28817
Looks like the project is fairly inactivate and not much interest from the core team. Closing as it seems not worth pursuing.

[2021-07-21 05:25] #28817 closed

[2021-07-21 05:48] mroeschke commented on #28925
Thanks for the suggestion, but as expressed in the original PR https://github.com/pandas-dev/pandas/pull/32834#issuecomment-601384878 and my sentiments here, I don't think this feature would be worthwhile and lead to API inconsistencies. Using `apply` in tandem with `cut` should suffice in this case. Closing.

[2021-07-21 05:48] #28925 closed

[2021-07-21 05:51] mroeschke commented on #28937
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf looks to correctly download the cheatsheet now. Maybe it was a temporary issue. Going to close since there have been no other reports but happy to reopen if others are still experiencing issues.

[2021-07-21 05:51] #28937 closed

[2021-07-21 05:57] #29011 closed

[2021-07-21 06:06] mroeschke commented on #29026
Thanks for the suggestion, but agreed that this probably doesn't require a new keyword. Also the booleans in the Dataframe can be processed into strings and have lowering/uppering applied. Closing.

[2021-07-21 06:06] #29026 closed

[2021-07-21 06:10] mroeschke commented on #29036
I think this looks correct on master. Could use a test

[code]

[2021-07-21 06:14] mroeschke commented on #29045
Sounds like there isn't much enthusiasm for this feature from the core devs. Thanks for the suggestion but going to close.

[2021-07-21 06:14] #29045 closed

[2021-07-21 06:16] mroeschke commented on #29080
This looks be correct on master. Could use a test

[code]

[2021-07-21 06:17] mroeschke commented on #29082
Closing as the expected behavior described in https://github.com/pandas-dev/pandas/issues/29082#issuecomment-734501986

[2021-07-21 06:17] #29082 closed

[2021-07-21 08:35] debnathshoham commented on #42530
take

[2021-07-21 08:42] samgd commented on #42430
@jbrockmendel The `ExtensionArray.__getitem__` specification does not list `Ellipsis` as a valid index type:

https://github.com/pandas-dev/pandas/blob/b72b6b260297cf31ba5e3558e431fff008eb9005/pandas/core/arrays/base.py#L294-L307

[2021-07-21 11:14] michael-michelotti commented on #26840
@mroeschke Sorry for length of the essay to follow

# The Issue Reported Here
The specific issue reported here has to do with using a built-in function referenced with a string. Those functions are defined in `pandas.core.groupby.base.transform_kernel_allowlist` or  `pandas.core.groupby.base.cythonized_kernels`.

Crucially, the transform method takes totally different routes depending on whether t

[2021-07-21 11:21] michael-michelotti commented on #26840
Couple of related issues (couldn't find them to directly link):
https://github.com/pandas-dev/pandas/issues/41584
https://github.com/pandas-dev/pandas/issues/42617

[2021-07-21 11:23] michael-michelotti commented on #42617
@rhshadrach I was working on a tangentially related issue and had a similar idea. See writeup here:
https://github.com/pandas-dev/pandas/issues/26840

I thought there were a couple of other things it might be worth looking at regarding the `_choose_path` method as well.

[2021-07-21 12:06] simonjayhawkins commented on #42570
first bad commit: [35cc56586c988880839ad85af940ee4d5caa5365] REF: simplify _sanitize_column (#38459) cc @jbrockmendel

[2021-07-21 12:57] phofl commented on #42642
This looks like a duplicate of #42626?

[2021-07-21 14:03] phofl commented on #42638
Hi, could you please provide a reproducible example?

[2021-07-21 14:16] timlod commented on #41837
+1

I would find this very useful as well, for generating small test cases!
Our test cases usually use very small representable dataframes that we write manually. Right now I mainly print `df.to_numpy()`, and copy this into the `pd.DataFrame` constructor including the column names, but the process is a little tedious. `to_expr()` would greatly speed up this process - we can now craft the test case

[2021-07-21 14:41] sergiykhan commented on #29036
I still see the issue in pandas 1.3.0, but not in the master branch.

It has been a while, so I had to take a closer look at my own bug report. It appears that the problem is coming from `pd.cut()`, not from `groupby()` as I indicated.

I am curious as to what has been fixed in the master branch.

[2021-07-21 14:43] multimeric opened #42645 "ENH: Have `DataFrame.to_sql()` return the created `Table` object"
#### Is your feature request related to a problem?

I would like to be able to query a table immediately after creating it using `df.to_sql()`, in the SQLAlchemy interface.
#### Describe the solution you'd like

Currently `to_sql()` has no return value. I suggest simply returning the new table object, which is of type `sqlalchemy.Table`.

#### API breaking implications

None, as `to_sql()` current

[2021-07-21 15:33] debnathshoham commented on #42463
take

[2021-07-21 16:24] zefuirusu commented on #42629
No problem. yet how? could you please leave an email address?

[2021-07-21 16:47] phofl commented on #42629
No not per email, in this issue so that People interested working on this can reproduce

[2021-07-21 17:30] mikephung122 commented on #27994
take

[2021-07-21 17:48] frreiss commented on #42430
Sorry @jbrockmendel , I missed the notification for your earlier response (https://github.com/pandas-dev/pandas/issues/42430#issuecomment-877650091).

Our extension type currently uses a workaround similar to what you describe. We check the inputs to `__getitem__` for leading `Ellipsis` elements and strip them off:
[code]
(see original code [here](https://github.com/CODAIT/text-extensions-for-pand

[2021-07-21 18:09] debnathshoham commented on #42452
take

[2021-07-21 18:17] raphaelquast opened #42651 "BUG: pd.concat breaks pickle on non-unique multiindex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

[code]

... doing the very same thing manually works just fine
[code]

#### Problem description

I guess there's not mu

[2021-07-21 20:02] PeterTrefonasIv opened #42652 "ENH: speed up to_excel"
#### Is your feature request related to a problem?

to_excel could be faster

#### Describe the solution you'd like

openpyxl's write only workbook is very fast and should be used
https://openpyxl.readthedocs.io/en/stable/optimized.html

[code]

[2021-07-21 20:26] ThiMaul commented on #42638
debut = datetime. datetime(2020, 10, 10, 11, 22, 33)
fin = datetime. datetime(2021, 02, 02, 11, 22, 33)
dates=pd.date_range(start=debut,end=fin,freq='W')
date_index=dates.year.astype(str)+"-"+dates.weekofyear.astype(str).str.zfill(2)
date_index.tolist()
print(date_index)

I think with this you will see the error.

[2021-07-21 20:30] phofl commented on #42652
Duplicate of #41681

[2021-07-21 21:39] isVoid opened #42653 "QST: `min_periods` effect on `std` rolling aggregation?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

In rolling aggregation, `min_periods` dictates that if there's `N` valid observations, and that `N >= min_periods`, the aggregation should be

[2021-07-21 22:44] Dr-Irv commented on #42102
I think this is a bit different than #39775, which is more related to what happens if there are missing keys.

Here, the issue is that if the `MultiIndex` contains duplicates, and you ask for a key that is not duplicated in the index, you get a `Series`.  If there are no duplicate keys in the `MultiIndex`, you get a single value.  I ran into this in some code I was writing, where I knew there migh

[2021-07-22 02:33] saehuihwang commented on #32556
take

[2021-07-22 03:38] animalize commented on #39002
It's Python's bug, fixed in Python 3.9.6/3.10 beta 4
https://bugs.python.org/issue44439

[2021-07-22 03:43] lithomas1 commented on #42639
I believe this is patched on master, as isna returns 0 nans on master. I think #42261 fixed it.

[2021-07-22 04:04] mroeschke commented on #42653
Each window in this case does have at least 1 observation:

[code]

And therefore the result should be equivalent to the following:

[code]

[2021-07-22 04:22] afeld commented on #42202
I haven't been able to spend much time on pandas recently, and it didn't seem like we had enough attendance to justify finding another facilitator for the docs meetings. Sigh. They had a good run. @jorisvandenbossche Mind pulling them off the calendar for now?

[2021-07-22 05:28] wjsi commented on #42401
Any one please take a look at this issue? Problem still exists in current master branch (`9c0a1ebec6028d98e47c5664fd2cad173bfd9c21`)

[2021-07-22 05:29] mroeschke commented on #29247
Thanks for the suggestion, but agreed that this would be a fair amount of complexity to maintain for a specific use case. Since there hasn't been much support from other core devs for this enhancement going to close.

[2021-07-22 05:29] #29247 closed

[2021-07-22 05:42] mroeschke commented on #29282
This looks fixed on master. Could use a test

[code]

[2021-07-22 05:45] mroeschke commented on #29284
Sorry for the lack of response but we would need a fully reproducible, copy-paste example (`out` is not well defined here).
Going to close in the meantime, but would be happy to have a second look with the provided info.

[2021-07-22 05:45] #29284 closed

[2021-07-22 05:46] mroeschke commented on #29290
Appears to be a numpy issue as discussed. Closing as an upstream issue.

[2021-07-22 05:46] #29290 closed

[2021-07-22 05:54] mroeschke commented on #29326
Thanks for the report. As mentioned it appears that this may an upstream pytables issue or some OS issue interacting with different filesystems that would be unrelated to pandas.

Going to close as this would be near impossible to reproduce, but if you can pinpoint that this issue is specifically in a pandas routine happy to reopen.

[2021-07-22 05:54] #29326 closed

[2021-07-22 05:56] mroeschke commented on #29409
Does this still have a reproducible example that can be tested?

[2021-07-22 06:01] #29414 closed

[2021-07-22 07:42] ParitoshSingh07 commented on #14235
Just got bit by this. It was miserable. agreed that it needs to be consistent, and imho `in` on the actual values seems much more sensible. iteration on series works on values, and no one really wants to check indices "implicitly".

[2021-07-22 08:17] G-Guillard commented on #42609
Well, the comment about efficiency was based on the timings [from here](https://stackoverflow.com/a/36390210/812102).

By error prone I mean user error.  Consider the following :

[code]
Now if I decide to add another column to the groupby, I have to update both sides.  On a very simple example like this one it does not really matter, but in the context of several dataframes with long column names

[2021-07-22 08:29] minientertainment opened #42659 "BUG:dataframe.groupby('some_column').timedelta.sum() results wrong when timedelta contains NaT (pandas=1.3.0)"
- [y] I have checked that this issue has not already been reported.

- [y] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-22 09:36] pranshuag9 commented on #5686
I am using pandas 1.3.0 read_csv method with on_bad_lines="warn" but it is throwing error instead of warning and skipping.

Using this "warn" argument to get line number of incorrect line and want to throw that error along with line number. Any update on this issue?

[2021-07-22 12:02] simonjayhawkins commented on #42642
closing

[2021-07-22 12:02] #42642 closed

[2021-07-22 12:24] simonjayhawkins commented on #42259
The code sample worked on 1.2.5. relabelling as regression, and changing milestone to 1.3.1

will backport #42261 and move release note

[2021-07-22 12:28] simonjayhawkins commented on #42639
closing as duplicate of #42259

[2021-07-22 12:28] #42639 closed

[2021-07-22 12:44] simonjayhawkins commented on #42626
Thanks @tamargrey for the report

first bad commit: [0a88eaaebe037d296753714b121bf155bff5a530] BUG: quantile for ExtensionArray (#39606) cc @jbrockmendel

Also now errors with `pd.Series([1, 2, 3], dtype="Int64").quantile(0.75)` where the expected output (and output in 1.2.5) is a Python float.

[2021-07-22 12:45] aterzgar commented on #42638
i think if you use isocalendar() it might fix your problem. It should return 2021-01 not 2021-53 or 2020-53.

[2021-07-22 12:58] zefuirusu commented on #42629
[csgl.xlsx](https://github.com/pandas-dev/pandas/files/6862316/csgl.xlsx)
[df_pvt_question.md](https://github.com/pandas-dev/pandas/files/6862322/df_pvt_question.md)
Here's the Excel file (whose key columns have been marked red) and the Python script (in python version 3.8). And my device environment was "Linux 4.4.0-17763-Microsoft #1432-Microsoft Mon Aug 18 18:18:00 PST 2020 x86_64 GNU/Linux", o

[2021-07-22 13:01] Iqigai opened #42662 "BUG: DataFrame.apply parameters raise a TypeError when the function is called after a groupby"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-22 13:31] sgsokol opened #42663 "ENH: read_csv() optional parameter `append_line_numbers`"
#### Is your feature request related to a problem?

I wish I could use pandas.read_csv() to include the original line number of csv file. It can be useful for error report in case of invalid entry  (invalid from an application point of view not from csv's one). Given that users can skip few starting lines,  blank lines or commented ones, the df index may not correspond to the original line number

[2021-07-22 13:38] simonjayhawkins commented on #42638
simpler code sample

[code]

[2021-07-22 13:40] simonjayhawkins commented on #42259
first bad commit: [54bd5cd85f70993accb0a5472b48ab7ad1b6e801] Bug in to_datetime raising ValueError with None and NaT and more than 50 elements (#41006)  cc @phofl

[2021-07-22 14:44] phofl commented on #42659
Please povide something which is copy and pasteable (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

also please format your code

[2021-07-22 14:50] TomAugspurger opened #42664 "BUG: `DataFrame.to_parquet` doesn't round-trip pyarrow StringDtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

read_parquet currently loads all string dtype as `string[python]`. We'd ideally match what wa

[2021-07-22 14:51] TomAugspurger commented on #35169
There's a few followup items to discuss, but I think this issue can be closed with pandas 1.3.0 released. Thanks all!

[2021-07-22 14:51] #35169 closed

[2021-07-22 16:19] mroeschke commented on #42638
This follows the standard library. ISO week and year have specific definitions that differ slightly from conventional week and year definitions: https://docs.python.org/3/library/datetime.html#datetime.date.isocalendar

[code]

[2021-07-22 16:19] #42638 closed

[2021-07-22 16:44] simonjayhawkins commented on #42664
This is the tested behaviour. The storage type is an implementation detail. This allows reading a parquet file without pyarrow. If you change the global setting to pyarrow. you can read any string array in a pyarrow backed string array.

[code]

[2021-07-22 16:51] ThiMaul commented on #42638
I solve it with isocalendar().week and year

dates=pd.date_range(start=debut,end=fin,freq='W')
date_index=dates.isocalendar().year.astype(str)+"-"+dates.isocalendar().week.astype(str).str.zfill(2)
date_index.tolist()

Thanks

[2021-07-22 17:07] simonjayhawkins commented on #42630
Thanks @tobiasbrodd for the report. cc @jorisvandenbossche

[2021-07-22 17:18] isVoid commented on #42653
Thanks for the reply @mroeschke ! My understanding of `min_periods` is this:
[code]
At least for `sum`, this seem to check:

[code]

[2021-07-22 18:05] #27472 closed

[2021-07-22 20:28] phofl commented on #42653
The std of something like
[code]

is ``nan``, hence the result from the rolling aggregation

[2021-07-22 20:30] shadchin commented on #26411
Now with pandas 1.3.0
[code]
with pandas 1.2.5
[code]

[2021-07-22 20:38] datapythonista opened #42670 "TST: Fix doctest in read_stata"
# tl;dr

Fix the next doctest error:

[code]

# Detailed instructions

Python allows to have example code in the documentation, like in:

[code]

In pandas, we use this to document most elements. And there are tools, like pytest,
that can run the examples, and make sure everything is correct.

For historical reasons, we have many examples where the code fails to run, or the
actual output is differ

[2021-07-22 20:40] datapythonista opened #42671 "TST: Fix doctest in EngFormatter"
# tl;dr

Fix the next doctest error:

[code]

# Detailed instructions

Python allows to have example code in the documentation, like in:

[code]

In pandas, we use this to document most elements. And there are tools, like pytest,
that can run the examples, and make sure everything is correct.

For historical reasons, we have many examples where the code fails to run, or the
actual output is differ

[2021-07-22 20:41] datapythonista opened #42672 "TST: Fix doctest in Styler.to_latex"
# tl;dr

Fix the next doctest error:

[code]

# Detailed instructions

Python allows to have example code in the documentation, like in:

[code]

In pandas, we use this to document most elements. And there are tools, like pytest,
that can run the examples, and make sure everything is correct.

For historical reasons, we have many examples where the code fails to run, or the
actual output is differ

[2021-07-22 20:43] datapythonista opened #42673 "TST: Fix doctest in _parse_latex_header_span"
# tl;dr

Fix the next doctest error:

[code]

# Detailed instructions

Python allows to have example code in the documentation, like in:

[code]

In pandas, we use this to document most elements. And there are tools, like pytest,
that can run the examples, and make sure everything is correct.

For historical reasons, we have many examples where the code fails to run, or the
actual output is differ

[2021-07-22 20:44] datapythonista opened #42674 "TST: Fix doctest in _parse_latex_table_styles"
# tl;dr

Fix the next doctest error:

[code]

# Detailed instructions

Python allows to have example code in the documentation, like in:

[code]

In pandas, we use this to document most elements. And there are tools, like pytest,
that can run the examples, and make sure everything is correct.

For historical reasons, we have many examples where the code fails to run, or the
actual output is differ

[2021-07-22 20:46] attack68 commented on #42672
i would recommend the fix for this is to skip the test. The point of styler examples is to display the rendered output or as a comparison, not the textual output used by the render (e.g. browser or latex reader). Adding textual output will pollute the docstring.

[2021-07-22 21:10] isVoid commented on #42653
Ah, thanks for the clarification!

[2021-07-22 21:11] phofl commented on #42653
Can close?

[2021-07-22 21:21] isVoid commented on #42653
Yup, closing.

[2021-07-22 21:21] #42653 closed

[2021-07-22 22:42] githubrandomuser2017 opened #42677 "BUG: conda install forced downgrade of other packages"
I tried to install Pandas via `conda install`. When I run the installation, Pandas forced a downgrade of a bunch of other packages not related to the core competency of Pandas. It eventually installed Pandas 1.2.4.

[code]

There is absolutely no reason why Pandas needs to touch TensorFlow or Numpy. Please fix.

[2021-07-22 22:54] #42570 closed

[2021-07-22 23:05] jreback commented on #42677
this has nothing to do with pandas package itself

rather conda or conda-forge is updating your environment

you can open an issue there

[2021-07-22 23:05] #42677 closed

[2021-07-22 23:19] wkerzendorf commented on #10349
I think I have an idea how to marry `astropy` quantities with  could work using the extension part of pandas.

Extending a pandas DataFrame:

[code]

Then an accessor like this for the series.

[code]

I'm struggling how to now propagate the list of units to the single column via `_constructor_sliced` as I do not seem to know which column it is accessing. Any ideas @jreback ?

[2021-07-23 01:02] #42477 closed

[2021-07-23 01:03] agilevic opened #42680 "pandas.to_datetime in ver 1.3.0 fails to convert dates in arrays of size 51"
In pandas 1.3.0 pd.to_datetime will produce NaT for valid datetime strings when processing lists or Series of certain size and content. Here's the actual reproducible example:

[code]
And proof:

[code]

Interestingly when the list is of size 50, it will work fine:

[code]

No such anomaly observed in pandas 1.2.x.

This is on Windows 10 64 bit using Anaconda.

[code]

[2021-07-23 01:33] lithomas1 commented on #42387
@simonjayhawkins Are you fine with patching this?

[2021-07-23 01:48] rhshadrach commented on #42609
When I run on 1.3.x

[code]

I get

    11.7 ms ± 103 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

as opposed to ~35s in the SO link. Is that the correct benchmark? Also, I can shave off 25% by replacing `group['A'].count()` with `len(group)`, although this is slightly different behavior as `count` doesn't count null values (not sure if that's intended).

Agreed that we could possible

[2021-07-23 01:54] rhshadrach commented on #26840
Problem 3 should no longer exist: #41598

[2021-07-23 02:16] rhshadrach commented on #42662
`df.groupby(...).apply` is a different method with a different signature than `df.apply`. In particular, it does not accept any arguments other than those passed to the function.

https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.apply.html

[2021-07-23 02:18] rhshadrach commented on #42662
Please reply here if this does not resolve your issue and can reopen.

[2021-07-23 02:18] #42662 closed

[2021-07-23 02:20] #42652 closed

[2021-07-23 02:34] rhshadrach commented on #42618
Thanks for the report! Verified on master.

[2021-07-23 02:44] rhshadrach commented on #42603
I think the issue is when a tuple is provided to `.loc`, is that specifying levels of a MultiIndex or an index-column pair? This appears to be value-dependent behavior to me, not sure I would describe it as a feature.

[2021-07-23 03:04] neelmraman commented on #42618
@rhshadrach mind also taking a look at the PR when you get the chance? thanks!

[2021-07-23 03:35] rhshadrach commented on #41957
Agree with @jorisvandenbossche - while we can make non-breaking changes in 2.0, I'd prefer sticking to a deprecation cycle (at least in general - perhaps a special case may be warranted). By deprecating, we allow user feedback before a removal/change takes place.

I'm changing my vote above, I'm +1 on 1.4 (but okay with 2.0 too). There are some apply deprecations I would like to get in so that thi

[2021-07-23 04:21] mroeschke commented on #29528
Thanks for the report, but I can no longer reproduce this behavior with the example site.

[code]

Going to close as needing a stable, reproducible example (that hopefully doesn't depend on an external site), but happy to reopen if someone can provide a new example

[2021-07-23 04:27] mroeschke commented on #29602
I'm getting the correct behavior on master again. Maybe worth having a test to see if it's not platform or package related

[code]

[2021-07-23 04:32] mroeschke commented on #29635
I suppose this works on master now. Could use a test

[code]

[2021-07-23 04:34] mroeschke commented on #29645
This looks to work on master now. Could use a test

[code]

[2021-07-23 04:42] jbrockmendel commented on #41957
IIRC on last week's call we were leaning towards doing a 1.4

[2021-07-23 04:56] mroeschke commented on #29734
Thanks for the report. As mentioned, we would need a [minimal example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) (like a `DataFrame` generated with random data from `np.random.rand`) in order to reproduce this behavior, determine a fix and add a self contained regression test.

Going to close this issue due to a lack of minimal example, but happy to reopen if someone cou

[2021-07-23 04:56] #29734 closed

[2021-07-23 05:11] mroeschke commented on #29965
Thanks for the report, but it appears that we would need a minimal example to proceed with this issue (ideally one where a large `DataFrame` is generated`, saved with `to_csv`, and reread with `pd.read_csv`). This would ensure we can have a suitable regression test if this is truly a bug.

Going to close in need of a more minimal example, but happy to reopen once we have a minimal example.

[2021-07-23 05:11] #29965 closed

[2021-07-23 05:22] mroeschke commented on #29992
Thanks for the explanation. Closing as an excel configuration issue.

[2021-07-23 05:22] #29992 closed

[2021-07-23 05:29] AnjaTRPES commented on #22551
Hey! I am a first-time contributor and would like to help on this. My experience with tests is pretty non-existant, so as far as I understand it one should convert the code-example to a function, and then add this to the appropriate pandas/test suite (maybe to pandas/test/dtypes)?

[2021-07-23 05:31] mroeschke commented on #30051
Sorry for the slow reply to this issue. We would need a minimal example file in order to sufficient test this locally in our continuous integration so we can confirm that this issue wouldn't appear once fixed (dummy data is fine).

Going to close in the meantime, but happy to reopen if we can get a minimal example file that reproduces this behavior.

[2021-07-23 05:31] #30051 closed

[2021-07-23 05:40] mroeschke commented on #30122
This looks fixed on master. Could use a test

[code]

[2021-07-23 05:43] mroeschke commented on #30152
Looks like based on the above example this is working as expected. Closing as a usage question but happy to reopen if there is a bug in this behavior

[2021-07-23 05:43] #30152 closed

[2021-07-23 05:44] mroeschke commented on #30178
This looks to work on master. Could use a test

[code]

[2021-07-23 05:49] mroeschke commented on #30187
Thanks for the suggestion. I am also on the side that this behavior shouldn't necessarily be a "first class" string operation in aggregations. Strings used in aggregations usually mirror pandas methods or numpy methods, and this would break this model.

Going to close since this feature hasn't gotten much support from the rest of the community and core devs, but happy to reopen if there's renewed

[2021-07-23 05:49] #30187 closed

[2021-07-23 05:54] mroeschke commented on #30211
Looks like this code path has changed and now should return `None`

[code]

I believe we have tests for this so going to close. Happy to reopen if we don't

[2021-07-23 05:54] #30211 closed

[2021-07-23 06:45] Binger-cn opened #42681 "BUG: reading csv error : KeyError: 'x'"
python 3.9.6 x64 on windows10pro,   vscode 1.58.2, pandas 1.3.0
![image](https://user-images.githubusercontent.com/87395223/126746250-54a871cd-a216-494f-a144-3e1a1f07971a.png)
[pandas-bug.zip](https://github.com/pandas-dev/pandas/files/6866965/pandas-bug.zip)

KeyError: 'x'
---------------------------------------------------------------------------
KeyError                                  Traceba

[2021-07-23 06:49] phofl commented on #42603
Based on the ambiguity error Shown above I think this is intended, I don‘t think this is good either

[2021-07-23 06:56] abitrolly commented on #29528
I can't reopen the issue, but here is the saved file - https://raw.githubusercontent.com/opendataby/vybary2019/master/cache/region49.html also attached.

[region49.zip](https://github.com/pandas-dev/pandas/files/6867013/region49.zip)

[code]

[2021-07-23 06:58] phofl commented on #42681
Hi, thanks for your report. Could you provide a copy pasteable example? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-07-23 07:01] phofl commented on #42680
This works on master. May need a test

[2021-07-23 07:58] XyLearningProgramming opened #42682 "BUG: pd.concat coerces ints to floats if empty DataFrame is present with different columns"
- I have checked that this issue has not already been reported.

- I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
**Note** This issue is very similar to [Issue #8902](https://github.com/pandas-dev/pandas/issues/8902), which is fixed in `pandas==1.3.0`, but in cases where the DataFrame to conc

[2021-07-23 08:11] simonjayhawkins commented on #42387
sure. we discussed this on the dev call and patching this is fine. 1.3.1 probably Sunday.

[2021-07-23 08:52] simonjayhawkins commented on #26568
the first example is not fixed, The totals for the columns is zero.

[code]

[2021-07-23 09:00] simonjayhawkins commented on #42343
will be moving open issues/ unfinished PRs on 1.3.1 milestone https://github.com/pandas-dev/pandas/milestone/87 to 1.3.2 milestone https://github.com/pandas-dev/pandas/milestone/88 tomorrow in readiness for release on Sunday.

[2021-07-23 09:19] anatolix opened #42683 "ENH: Performance optimization for pd.merge introducing fillna= argument"
#### Is your feature request related to a problem?

Very often we merge very data sets(100Gb) with 'left'/'right'/'outer' which introduces NAs.
Basically, if we have integer field, we have two options:
1. Allow pandas autoconvert it to float which could be nan (default behaviour)
2. Use Int64 type, which is actually quite slow to use it in large datasets spending ages in _PyEval_EvalFrameDefault

[2021-07-23 10:08] simonjayhawkins commented on #42618
regression from 1.2.5

first bad commit: [fc08415436b0f5c3f8482e89c50fe3c5e8f2d381] BUG: SeriesGroupBy.value_counts() raising error on an empty Series (#39326)

[2021-07-23 10:33] simonjayhawkins commented on #41940
@lithomas1 what's the status here? Is is maybe worth opening separate issues for the ones that can be fixed now.

[2021-07-23 10:41] gaikwadrahul20 commented on #41634
take

[2021-07-23 12:43] knoam opened #42688 "BUG: value_counts and nunique behave differently for NaN and None with dropna=False"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

nunique returns 3, but value_counts only has 2 rows. This may be related to Issue https://github.com/pandas-dev/pandas

[2021-07-23 14:34] agilevic commented on #42680
Same problem on Linux /w pandas installed from pip. So, not an Anaconda or Windows specific issue.

[2021-07-23 15:36] lithomas1 commented on #42680
This is a dupe of #42259, which is patched for 1.3.1 and is related to the cache. 1.3.1 will hopefully be released this Sunday.

[2021-07-23 15:36] #42680 closed

[2021-07-23 15:42] lithomas1 commented on #41940
just the json tests left i think.

[2021-07-23 20:52] Leonardofreua commented on #42674
I'll start to see this problem, ok?

[2021-07-23 20:54] datapythonista commented on #42674
Sure, if you write `take` in a comment, it'll be assigned to you (a bit more clear that nobody else should work on it). It's a hack we've got since we couldn't get GitHub to let anyone assign issues to themselves

[2021-07-23 22:10] ahawryluk commented on #41127
Hi @italo-turing I think you've already found the best alternative if you're constrained to .xlsx as input. If you're free to change your input file to .csv then the mixed-type (object) column will load with both ints and floats.

[2021-07-23 23:22] #26861 closed

[2021-07-23 23:27] #30017 closed

[2021-07-23 23:35] jbrockmendel commented on #42430
I guess I'd be OK with that short term, but longer-term there is a decent chance that we're going to move to having EAs support 2D, in which case that would be reverted and you'd need to handle this case

[2021-07-23 23:36] Leonardofreua commented on #42674
take

[2021-07-23 23:37] jbrockmendel commented on #42430
BTW looking at your code, you might want to subclass NDArrayBackedExtensionArray rather than ExtensionArray; many of its methods are better-optimized.

[2021-07-23 23:52] Leonardofreua commented on #42674
@datapythonista thanks for the tip.

[2021-07-24 03:29] #42618 closed

[2021-07-24 04:36] aneesh98 commented on #42673
take

[2021-07-24 05:44] buckyster opened #42697 "DOC: description for Series.empty is referencing DataFrames instead of Series"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/series.html
https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.empty.html

#### Documentation problem

The description about Series.empty are referencing DataFrames instead of Series:

https://pandas.pydata.org/docs/dev/reference/series.html

https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.e

[2021-07-24 09:56] simonjayhawkins commented on #42501
cc @jbrockmendel

[2021-07-24 09:59] simonjayhawkins commented on #42424
cc @jbrockmendel

[2021-07-24 11:27] simonjayhawkins commented on #42343
open issues, except #42387, now moved to 1.3.2

#42387 is not a blocker, but has an open PR, #42690

1.3.1 is a calendar release. 1.3.2 scheduled for 3 weeks time. if #42690 not ready and merged before tomorrow, will move to 1.3.2

[2021-07-24 12:23] aneesh98 commented on #42673
Is an entry in whatsnew/v1.4.0.rst -> Styler section is required, regarding the doctest fix?

[2021-07-24 13:01] KrishnaSai2020 commented on #42670
take

[2021-07-24 14:28] Binger-cn commented on #42681
I'm so sorry! It's because I copied a line to set the option, which errorly adds an 'x' in the code:
pd.set_option('display.float_format','{x:,.2f}'.format)

I have corrected this line :
pd.set_option('display.float_format','{:,.2f}'.format)

[2021-07-24 14:28] #42681 closed

[2021-07-24 14:32] datapythonista commented on #42673
I don't think it's relevant enough to be in the release notes. And we have many of those fixes, so it would be too much noise. Maybe at the end of fixing all them a note to say that all doctests are fixed could make sense, but not one for each.

[2021-07-24 15:47] aneesh98 commented on #42673
Okay. Have created a pull request.

[2021-07-24 16:51] KrishnaSai2020 commented on #42671
take

[2021-07-24 17:12] attack68 commented on #42673
this is a private method. the documentation is not strictly necessary but included to help other devs. many pandas private methods do not have complete doc strings. the changes are not public facing so no release note needed.

[2021-07-24 17:53] kadatatlukishore commented on #42697
Hey @buckyster can I work on this ?

[2021-07-24 18:29] phofl commented on #42697
Sure

[2021-07-24 18:30] kadatatlukishore commented on #42697
Thanks @phofl

[2021-07-24 18:52] jbrockmendel commented on #42424
IIUC from the discussion #40950 broke the OP example and #42227 fixed it?

[2021-07-24 19:54] Iqigai commented on #42662
Thank you for the clarification. I would have expected the two function to be if not identical, very similar. DataFrame.transform is very similar to groupby.transform for that matter (except for the for the engine related parameters). As these two functions are used for more or less the same purpose (performing some function on a DataFrame or its subgroups) it would be helpful to highlight the dif

[2021-07-24 22:30] HenryEcker opened #42703 "BUG: Using loc without explicitly defining columns produces a SettingWithCopyWarning"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I expect that `df[m]` would produce a weakref, but I don't understand why I'm getting a weakref for the `loc` options where columns are not explicitly defined.

The issue being

[2021-07-24 23:40] phofl commented on #42703
Hey, thanks for your report.

Could you explain what you are trying to do? I don't understand the intend of these code snippets. Or are you only concerned with the warning shown?

[2021-07-25 00:01] HenryEcker commented on #42703
I guess I'm just looking to understand the inconsistency in behaviour.

Why does creating a new DataFrame with `df.loc[m]`, and `df.loc[m, :]` cause a `SettingWithCopyWarning` when creating a new DataFrame from `df.loc[m, df.columns]` does not?

I couldn't find anywhere in the documentation that the columns must be explicitly declared when using `loc` to avoid the `SettingWithCopyWarning`. I also

[2021-07-25 00:11] phofl commented on #42703
All of your statements are some kind of chained assignments. Your locs always return copies. I am more surprised, that the last one does not show the warning.

[2021-07-25 00:15] HenryEcker commented on #42703
I wasn't sure. I just found the behaviour inconsistent, and I wasn't clear which behaviour was supposed to be supported, but I felt that them being different was not the intention.

[2021-07-25 00:18] phofl commented on #42703
Yeah I would agree. The warning basically tries to tell you that something like df["x"]["y"] does not work as intended. You have the same cases here, which all will not work, with the difference that you are using loc instead of a regular getitem as the first op. They have in common with the other operation that the copy will avoid the modification of df.

[code]
will do nothing, hence I think a w

[2021-07-25 00:22] phofl commented on #42703
This is actually a duplicate of #18752

[2021-07-25 00:22] HenryEcker commented on #42703
Okay then the part that is _really_ confusing is:
[code]

Gives output:
[code]

With 3 Warnings:
[code]

[2021-07-25 00:23] phofl commented on #42703
Yeah, we should have 4 not 3

You have to print df to see if the original df was modified

[2021-07-25 00:26] HenryEcker commented on #42703
It was not modified. I've updated the prior comment.

[2021-07-25 00:27] phofl commented on #42703
Yes because loc returns copies here, but we don‘t know if the copy was on purpose hence the warning

[2021-07-25 00:28] HenryEcker commented on #42703
Not confused, other than why there are 3 warnings instead of 4. I was only responding to "You have to print df to see if the original df was modified" and letting you know it was not.

[2021-07-25 00:29] phofl commented on #42703
Ok thx, yes I agree that we should have 4. But if you Look at the linked issue you will see that there are quite a few cases which are Not covered

[2021-07-25 00:31] HenryEcker commented on #42703
Oh. I understand now. `loc` returns a copy. The warning is to ensure you weren't trying to update the original DataFrame. The bug is that explicitly selecting columns for some reason does not produce the warning.

[2021-07-25 00:32] phofl commented on #42703
Closing the sincd this is covered by the other issue

[2021-07-25 00:32] #42703 closed

[2021-07-25 00:34] phofl commented on #42629
Is the excel file minimal to reproduce the Bug? We will also need an expected result from you Bader on your minimal file

[2021-07-25 03:11] willie3838 commented on #42672
take

[2021-07-25 04:16] chrisjdixon commented on #42582
Where to from here? Would `attrs` and `pd.to_json()` be a good place to start?

Is there anything I (beginner) can do to help to progress this?

[2021-07-25 04:27] mroeschke commented on #30513
This looks a bit better on master. Could use a benchmark

[code]

[2021-07-25 04:36] mroeschke commented on #30621
Sounds like there isn't further movement or tasks related to this issue. Closing.

[2021-07-25 04:36] #30621 closed

[2021-07-25 04:40] mroeschke commented on #30736
Yes appears that this is the expected behavior with Timestamps, and the string behavior was recently deprecated. Closing.

[2021-07-25 04:40] #30736 closed

[2021-07-25 04:46] mroeschke commented on #30770
Thanks for the report, but if there's an issue we would need more of a minimal example so that we can write a unit test for our CI system. Docker unfortunately isn't in scope of CI testing.

Closing since this debugging hasn't gotten much traction, but happy to reopen if you discover the issue that's independent of Docker

[2021-07-25 04:46] #30770 closed

[2021-07-25 04:55] mroeschke commented on #30848
Looks to work on master now. Could use a test

[code]

[2021-07-25 04:59] mroeschke commented on #30872
Since this has been long since fixed, probably okay to close now

[code]

[2021-07-25 04:59] #30872 closed

[2021-07-25 07:09] simonjayhawkins commented on #42343
pre-release checklist

- [ ] wheels building https://github.com/MacPython/pandas-wheels/pull/135
- [ ] release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ] release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.1.html
- [ ] ci checks https://github.com/pandas-dev/pandas/commits/1.3.x
- [ ] no manual back

[2021-07-25 07:21] simonjayhawkins commented on #30848
looks the same as the OP. The named level is renamed, not just the level named None.

[2021-07-25 07:43] kadatatlukishore commented on #42697
Hey @phofl ,

For DataFrame and series,
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.empty.html
https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.empty.html

I think it uses same function

https://github.com/kadatatlukishore/pandas/blob/c1aea793e03f11b587fbda833b2f5ad06c4bbced/pandas/core/generic.py/README.md?plain=1#L1935-L1982

[2021-07-25 08:20] Varun270 commented on #42697
take

[2021-07-25 09:00] kadatatlukishore commented on #42697
I think I can write for both data frame and series there, any suggestions would be appreciated @phofl

[2021-07-25 09:03] simonjayhawkins commented on #42343
starting release now. 1.3.1 milestone closed off.

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] open PR to build wheels https://github.com/MacPython/pandas-wheels/pulls
- [ ] upload docs https://pandas.pydata.org/pandas-docs/version/1.3.1/
- [ ] wheels in staging area https://anaconda.org/multibu

[2021-07-25 11:31] phofl commented on #42697
You could specify the klass through a parametrization as done in https://github.com/kadatatlukishore/pandas/blob/c1aea793e03f11b587fbda833b2f5ad06c4bbced/pandas/core/generic.py#L6122

[2021-07-25 13:07] simonjayhawkins opened #42708 "RLS: 1.3.2"
Tracking issue for the 1.3.2 release. Currently scheduled for August 15, 2021.

https://github.com/pandas-dev/pandas/milestone/88

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression

performance regressions between 1.2.5 and 1.3.x https://simonjayhawkins.github.io/fantastic-dollop/#regressions?sort=3&dir=desc&branch=1.3.x

cc @pandas-dev

[2021-07-25 13:40] kadatatlukishore commented on #42697
[code]

Like this @phofl , sorry I am a newbie so even encounter like this before. Thanks for guiding me !

[2021-07-25 13:56] Varun270 commented on #42688
@knoam I am new to open source, Can you please explain to me what's this issue is about?

[2021-07-25 14:07] #28238 closed

[2021-07-25 14:18] #42651 closed

[2021-07-25 15:29] willie3838 commented on #42672
One of the issues i'm facing is that the output generates a new id for the html elements each time, is there a way we can capture that within the doctests?

[2021-07-25 15:33] phofl commented on #42697
I don't think this works in code.
The best thing is if you generate the docs, then you can view and adjust them accordingly

[2021-07-25 15:39] phofl commented on #42688
He expects that both statements return the same, e.g. 3 I think since the nunqiue call seems correct

[2021-07-25 15:42] timhunderwood commented on #30513
I can confirm, this improved between version 1.2.5 and 1.3.0 (>x20 speed improvement for Merging on category index example above).

[2021-07-25 17:50] lithomas1 commented on #41957
#42587 forces us to have a 1.4, since it changes the empty series deprecation warning from a DeprecationWarning to a FutureWarning. If we want to do 2.0, we'd have to revert that(not sure though if its ok to deprecate something with only a DeprecationWarning).

[2021-07-25 19:09] simonjayhawkins commented on #42343
only linux_aarch64_numpy1.19python3.7.____73_pypy not yet built.

[2021-07-25 19:11] jreback commented on #30513
ok let's see if we have an asv which covers this case and can close

[2021-07-25 19:28] phofl opened #42716 "CI: xarray upgrade to 0.19 broke CI Checks pipeline"
Xarray was recently upgrade from 0.18.2 to 0.19 in our ci. This broke the checks pipeline

Passing:
https://github.com/pandas-dev/pandas/runs/3155104841

Failing:
https://github.com/pandas-dev/pandas/pull/42713/checks?check_run_id=3155841275

[2021-07-25 20:09] topper-123 opened #42717 "DEPR: Remove Int64Index, UInt64Index, Float64Index and Index._is_backward_compat_public_numeric_index"
In Pandas 2.0 NumericIndex should be the default numerical index and `Int64Index`, `UInt64Index` and `Float64Index` should be removed. See #41153 & 41272 for more discussion.

#41153 adds an internal attribute `_is_backward_compat_public_numeric_index` to the `Index` class (and its numeric child classes). This is only used to keep track of whether an index is a `NumericIndex` or one of its child i

[2021-07-25 20:12] jakob-keller commented on #40382
Unfortunately not at this point. Another issue is preventing me from moving to pandas 1.3.x. I will check again as soon as possible.

[2021-07-25 22:59] askpatrickw commented on #41679
Pandas just does not work on M1 Mac when installed from pypi.

## Work around

In your virtualenv

1. `gh repo clone pandas-dev/pandas`
2. `pip install cython numpy`
3. `cd pandas`
4. `python setup.py install`
5. run `python`
6. `import pandas`

## Basic repo from your virtualenv

1. `pip install pandas`
2. run `python`
3. `import pandas`

[code]

[2021-07-25 23:08] phofl commented on #42716
Following errors happen:

[code]

Some mypy issue

Doctest issue:

[code]

[2021-07-26 01:58] wjsi opened #42719 "BUG: TypeError when shifting DataFrame created by concatenation of slices and fills with values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-26 02:20] jreback commented on #42719
if this the same issue? why are you opening a new one?

[2021-07-26 02:23] wjsi commented on #42719
Yeah. I opened a new one as the old one keeps `Need Triage` till now.

[2021-07-26 02:25] jreback commented on #42719
pls close one of them
there are a ton of issues and you only need 1

u submitted a PR which will be looked at when someone has time

[2021-07-26 02:27] wjsi commented on #42401
New issue #42719 opened

[2021-07-26 02:27] #42401 closed

[2021-07-26 02:56] trevorkask commented on #42557
just to clarify, is it an issue of missing data or missing levels? if it is missing levels, what levels are they,exactly?

[2021-07-26 06:54] realead commented on #42688
Actually, it is  `nunique` that behaves inconsistently. `value_counts` behaves consistent to `isin`, `unique`, `mode` and so on, e.g.:

[code]

The decision not to mangle `np.nan`, `None` was made in #22296. Maybe we need to discuss this again. But mangling them in a consistent way is much harder than leave it this way (and one can always process data replacing all value by e.g. `pd.NA` as work ar

[2021-07-26 07:06] AkhileshShahare commented on #29043
This worked!! Thank you so much

[2021-07-26 07:36] realead commented on #42688
This is the "special code" in `value_count`, that mangles all nans-values, which was probably overlooked in #22296:

https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/hashtable_func_helper.pxi.in#L64-L68

To get consistent behavior it just needs to be deleted.

[2021-07-26 08:20] raphaelquast commented on #42651
awesome! thanks for fixing! 🚀

[2021-07-26 09:22] Codeberg-AsGithubAlternative-buhtz opened #42722 "DOC: Version information in headline / menubar"
Example
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

It would be nice to show the pandas version this documentation is related to.
The version string could be placed somewhere in the head, e.g. beside the horizontal menu bar.

The Python docs does this. There you can see everytime the current version.
Python also offers a drop down menu to select a specifi

[2021-07-26 11:47] simonjayhawkins commented on #42719
This is a regression from 1.2.5

first bad commit: [edbc6eae11de7212491f96ba619a2c11180d0ed0] CLN: remove unreached boolean-mask case from _preprocess_slice_or_indexer (#40401) cc @jbrockmendel

[2021-07-26 12:20] leewssam opened #42724 "QST: Rolling on Windows Interval of 'timestamp' should returns same output if all timestamp is same?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-07-26 12:43] #42530 closed

[2021-07-26 12:54] simonjayhawkins commented on #42682
I don't think there were any changes in 1.3.0 relating to this behavior?

the output for the code samples seems to be unchanged from at least 1.0.5

[2021-07-26 13:08] germainvelard commented on #36165
Hi,
To me this issue is not closed.
I have the issue with the operation datetime object + Offset object which leads to "pytz.exceptions.NonExistentTimeError: 2019-03-31 02:00:00"
This is due to the fact that this hour is not existent in western Europe due to DST

[2021-07-26 13:14] MeisterP commented on #42549
I see the same issue when using pandas 1.3 from within [Goldencheetah](https://github.com/GoldenCheetah/GoldenCheetah)
https://groups.google.com/g/golden-cheetah-developers/c/lpHNWKdNICY

[2021-07-26 14:06] lhoestq commented on #42387
Thanks !

[2021-07-26 14:26] simonjayhawkins commented on #42530
This is a regression from 1.2.5

first bad commit: [804e08e740b37b6179880688e0d0aed1b2f853a9] REF: move Series-specific methods from NDFrame (#40776)

we should probably backport the fix  #42644 (and move the release note) cc @jreback

[2021-07-26 14:42] Codeberg-AsGithubAlternative-buhtz opened #42727 "QST: Pandas agg(list) behavior changed since version 1.3.0"
This question (I am not sure if this is a bug) is still on StackOverflow
https://stackoverflow.com/q/68526846/4865723
I was asked there to open an Issue about it here.

The result of `.agg(list, axis=1)` changed since pandas Version 1.3.0. The goal of my question is to understand what changed and why; and of course how to solve this.

    #!/usr/bin/env python3
    import pandas as pd
    import n

[2021-07-26 16:07] suoniq opened #42731 "BUG: Series.groupby fails with InvalidIndexError on time series with a tuple-named grouper."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

There are several things necessary to trigger this:
- The index has to consist of `pd.Timesta

[2021-07-26 16:38] codedawi opened #42733 "BUG: v1.3.1 ImportError: DLL load failed"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-26 16:45] suoniq commented on #42731
There are simple solutions like to catch `InvalidIndexError` in
`pandas.core.groupby.grouper.get_grouper().is_in_obj()` or
`pandas.core.series.Series.__getitem__()` (in the line `if is_hashable()`)
which restores the pre-1.1.3 behavior. But to me this seems to just hide the problem. Why is the name of the grouper(!) of interest at all? I somehow question the implementation of `def is_in_obj(gpr)`.

[2021-07-26 16:46] MarcoGorelli commented on #42727
Thanks for the report - looks like this changed with #40428, so tagging @rhshadrach

[2021-07-26 17:25] revesansparole commented on #42627
Works for me now,

thanks @chenghlee

[2021-07-26 17:34] jmcomie commented on #42501
Looking through the stack, astype calls concat with copy=False, but in the is_series axis=1 block in the get_result method in reshape/concat.py a DataFrame constructor is called without this copy value being passed along. Instrumenting the code with a few print statements reveals that we are setting copy to a value of True in this path, in the code added in #38939. So an apparent fix is an update

[2021-07-26 17:53] jbrockmendel commented on #42501
could removing the special-casing for EAs here (https://github.com/pandas-dev/pandas/pull/38939/files#diff-47a4d23478486a3722569045c05137aec72bc6030df19443c454872a7cdf90d4R445) be helpful?

[2021-07-26 17:53] aneesh98 commented on #42674
Hi @Leonardofreua, I hope you are doing well. I just wanted to ask you, if its okay with you if I work on this issue? because the doctest mentioned in this issue is failing ci checks in my pull request #42700. Also if you are in the process of solving this issue and going to make PR for the same, please let me know, I won't take up this issue then, no problem. Do let me know.

[2021-07-26 18:12] aneesh98 commented on #42674
Hi @Leonardofreua , I am doing well, thanks for asking. Actually this particular doctest mentioned in this issue is failing in the CI Check of my pull request, so thats why I am asking if its okay with you if I go ahead with solving this particular case and include its solution in my PR?

[2021-07-26 18:16] jbrockmendel commented on #42733
@simonjayhawkins have we dropped py37 in 1.3.1?

[2021-07-26 18:27] Leonardofreua commented on #42674
@aneesh98 you can proceed without any problem.

[2021-07-26 18:38] simonjayhawkins commented on #42733
no. but the vm image for windows builds was updated. https://github.com/MacPython/pandas-wheels/pull/145 cc @lithomas1

[2021-07-26 20:02] jbrockmendel opened #42736 "PERF: Rolling._apply iterates over blocks _and_ columns"
@mroeschke looking at BaseWindow._apply we're spending a lot of time in apply_along_axis in our asvs (results posted below).  IIUC whats happening is that homogeneous_func is passed to BlockManager.apply thereby iterating over Blocks, and then within that call it iterates over columns.

My intuition is that we should either iterate over blocks or columns but not both.  Is there a reason to do both

[2021-07-26 20:04] mocquin opened #42737 "ENH: Add nsmallest/nlargest method support for extension array"
When dealing with regular series, one can do :
[code]

When using an extension array (user-defined in my case), calling the `.nsmallest` method raises a TypeError (full message below):
[code]

[code]

This seems to happen because the extension dtype is not "registered" to `is_valid_dtype_n_method`.
Would it be feasable to support `nsmallest`/`nlargest` for extensions ?

pandas version : 1.3.0.

[2021-07-26 20:04] jbrockmendel opened #42738 "DEPR: dropping nuisance columns in BaseWindow._apply"
In BaseWindow._apply we call mgr.apply with ignore_failures=True, which causes us to silently drop columns for which the function is invalid.  We have deprecated this pattern for DataFrame reductions and GroupBy reductions, should deprecate it here too.

[2021-07-26 20:10] jbrockmendel commented on #41165
conditional on the Series behavior (which i wouldnt object to deprecating), I lean towards having BooleanArray behave like Series, i.e. raising here

[2021-07-26 20:11] mroeschke commented on #42736
You're correct. I think currently it (should) iterates over 1 float block and then iterates over the columns in each block which seems like extra work.

All rolling cython aggregations (including UDF) assume a 1D input, so I think internally it should just iterate over the columns (and rows since there's axis=1 support).

[2021-07-26 20:19] jbrockmendel commented on #40630
In this case I think it converts to a numpy array, just not a useful one.  `np.array(series)` returns an object-dtype Series that contains a pd.NA object. (even if you didnt have an NA entry, it would convert to object dtype and raise a little bit later in the norm.pdf call)

If getting pd.NA rather than np.nan is _not_ important to your use case, then your best bet is to just not use Float64Dtype

[2021-07-26 20:22] demitri opened #42739 "BUG: Creating a DataFrame from a structured masked NumPy array."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-26 20:24] jbrockmendel commented on #39926
The OP is right that `f['A'] / f['B']` should have a np.nan entry, not a pd.NA entry.  If we take pd.NA seriously as meaning "missing", then it unequivocally is not missing when we do division by zero.  If we don't take it seriously, then Float64Dtype becomes pointless.

[2021-07-26 21:21] jbrockmendel commented on #32265
Going back over this thread, I mostly agree with Joris's last comment.

1) We should not break things for users that are currently happy with the float64 behavior.  I expect _most_ users don't ever think about the distinction between np.nan vs pd.NA, and we shouldn't make them learn about it.  Users who opt in to Float64Dtype can get the fancier behavior.

2) Users shouldn't have to know anything

[2021-07-26 22:21] Leonardofreua commented on #42674
Hi, @datapythonista I hope you are doing well. I would like to confirm a small detail with you for the scenario where the only alternative is to use `# doctest: +SKIP`.

In the case of applied styles that result in a cell or background color changing, these could also receive `# doctest: +SKIP`? Since its not possible to express the result in the doctests.

[2021-07-26 22:29] #42456 closed

[2021-07-26 22:34] datapythonista commented on #42674
Good point. There are different alternatives. First is to show that code, but not generating an output, for example with `result = ...`, or also finishing the line with a semicolon.

Then, you can use `+ELLIPSIS`, similar to `+SKIP`, but instead of skipping the test, you just validate the part of the ourput that you care about, and the rest you use `...` to show than something else will be there.

[2021-07-26 22:39] #42673 closed

[2021-07-26 22:42] jbrockmendel commented on #42430
Fair point, it isn't publicly exposed and I don't have any plans on exposing it anytime soon.  On the other hand, I'm mostly responsible for that class and it isn't going anywhere.

[2021-07-26 22:42] Leonardofreua commented on #42674
@datapythonista I'm going to try some of the suggestions you gave.

But I ended up finding the documentation for the [`background_gradient()` ](https://pandas.pydata.org/docs/reference/api/pandas.io.formats.style.Styler.background_gradient.html) method and I found this alternative quite interesting than displaying the result via `.jpg` image.

![image](https://user-images.githubusercontent.com/113

[2021-07-26 22:45] datapythonista commented on #42674
We need the tests to pass, so we don't have errors in our examples, but what's important is that the documentation is useful for users. Didn't check this example in detail, but what you propose seems like a good idea. Thanks!

[2021-07-26 23:12] jmcomie commented on #42501
Removing the special-casing fixes the test case of this issue but causes other failures.  Separately, I wonder if it's worth refactoring that block into a lower level call, since it seems to act on undocumented knowledge of the lower level calls.

[2021-07-26 23:12] jbrockmendel commented on #42739
we recently deprecated support for MaskedRecords, which I think is similar to structured+masked, right?

[2021-07-26 23:28] jreback commented on #42739
yeah not sure we really need to support these types as very uncommon

[2021-07-26 23:42] demitri commented on #42739
OK, good to know. Shame though since there is a clear path between the two, although the same could be said from a DataFrame with "null" values to a structured masked NumPy array. Then perhaps a small note in the reference documentation to say this would be great.

[2021-07-26 23:56] jmcomie commented on #42501
The test_astype_dispatches failure is due to a parameterized expected failure succeeding after the change so it might work to change the test to expect both parameterized inputs to work.

[2021-07-26 23:59] jmcomie commented on #42501
The expected failure is `pd.concat call inside NDFrame.astype reverts the dtype`, which seems to be the issue we're trying to address here.

[2021-07-27 04:07] rhshadrach commented on #42727
Thanks @Codeberg-AsGithubAlternative-buhtz and @MarcoGorelli. Agreed this is a regression. The issue is that `agg` falls back to apply. Prior to the PR identified above, we would do

    df[['FOO', 'BAR']].apply(list, axis=1)

giving the pre-1.3.0 result. After the PR, we now do

    df[['FOO', 'BAR']].T.apply(list, axis=0)

When `axis=0`, `apply` interprets the list result as being "Series-like"

[2021-07-27 04:07] lithomas1 commented on #42733
On it, will send PR tmrw(it's nighttime now for me). Looks like I either copied the wrong DLLs or missed some. We should really figure out an automated way to do this.(auditwheel/delocate do this for  Linux and macos) Feel free to revert the offending Or in the meantime.

Sorry for the hassle everyone.

[2021-07-27 04:09] aneesh98 commented on #42688
If the change is required in value_counts function to make it consistent with nuniques. Then can I take up on this issue and make a PR based on the code changes suggested by @realead ?. I am new to open source, and I would like to work on this issue.

[2021-07-27 04:10] rhshadrach commented on #36165
@germainvelard This issue is closed not because it has been resolved, but rather because it has been found to be a duplicate of another issue as noted above. It seems to me that issue covers what you mention as well, but please let me know if you disagree here.

[2021-07-27 04:38] lithomas1 commented on #42733
IIUC, wheels are a manual upload, so it might be possible to delete the bad 1.3.1 wheel and replace it?

[2021-07-27 04:54] mroeschke commented on #31075
Since the original issue seems fixed, could use an asv benchmark.

[2021-07-27 05:07] #42724 closed

[2021-07-27 05:25] mroeschke commented on #31332
In terms of merge validation, there exists the `validate` parameter.

But it seems like there's not much further interest on adding a `keep` parameter along these lines among the other core devs (I think this would add some significant complexity to the merging logic). Closing due to lack of activity and interest, but happy to reopen if interest is revived

[2021-07-27 05:25] #31332 closed

[2021-07-27 05:27] mroeschke commented on #31344
Closing as a duplicate of https://github.com/pandas-dev/pandas/issues/7501

[2021-07-27 05:27] #31344 closed

[2021-07-27 05:34] mroeschke commented on #31417
Thanks for the suggestion, but agreed that that this would be better for an opinionated external library and pandas tries to be more general. Closing.

[2021-07-27 05:34] #31417 closed

[2021-07-27 05:40] mroeschke commented on #31498
Thanks for the request, but agreed that this proposal doesn't really follow the pattern of other dtype conversion methods by evaluating element by element.

Since there hasn't been much support from the pandas team for this issue, going to close. Happy to reopen if there is renewed interest

[2021-07-27 05:40] #31498 closed

[2021-07-27 05:44] anudeepsamaiya opened #42744 "DOC: WEB: dark mode theme in docs when user has browser in dark mode"
#### Location of the documentation
Overall the docs should be able to support browser theme selected by user. Or the user should be able to switch the theme as per preference.

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem
It would be nice to support the dark mode with toggle button on top header.

####

[2021-07-27 05:45] mroeschke commented on #31530
Sounds like this is more-or-less the intended behavior as display has a slightly different purpose than using styler.

Going to close as the expected behavior but happy to reopen if others from the core team have other opinions

[2021-07-27 05:45] #31530 closed

[2021-07-27 05:48] mroeschke commented on #31644
Looks to work on master now. Could use a test

[code]

[2021-07-27 06:26] zemzale opened #42745 "BUG: Failure to build `1.3.1` on Docker image"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

Docker image file

[code]
Requirments file
[code]

Command to run
[code]

#### Problem description

We have been using a similar

[2021-07-27 08:16] germainvelard commented on #36165
Hi @rhshadrach, thanks for your reply.
It seemed to me that the linked issue was also closed but I was mistaken !
Apologies.

[2021-07-27 08:41] simonjayhawkins commented on #42343
this built fine on the PR https://cloud.drone.io/conda-forge/pandas-feedstock/129 but is timing out on the master build. Restarted several times yesterday and several times the day before. Have restarted again today to see if the situation is any better.

[2021-07-27 08:55] SidharthArya commented on #31644
take

[2021-07-27 08:56] simonjayhawkins commented on #42733
I don't have access to delete wheels. PyPI doesn't have a build number like conda? cc @jreback

[2021-07-27 09:22] antvig opened #42747 "BUG: `freq` attribute is `None` after `set_index`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-27 09:28] jreback commented on #42733
no we cannot delete - do for 1.3.2

[2021-07-27 10:03] lilisako commented on #42630
It seems the problem is the `subset` of `dropna`.
If you don't specify `subset` parameter, it's working fine.
[code]
Output
[code]
I'm willing to work on this issue if it hasn't been taken yet.

[2021-07-27 10:43] simonjayhawkins commented on #42747
Thanks @antvig for the report.

first bad commit: [6b6d8fd073653219343de624a6cd513b09dae4c1] REF: Back DatetimeTZBlock with sometimes-2D DTA (#41082) cc @jbrockmendel

[2021-07-27 11:15] simonjayhawkins commented on #42731
Thanks @suoniq for the report.

first bad commit: [20003347f81d76b3cbaa8259b577e19f76603120] Backport PR #36147: REGR: Series access with Index of tuples/frozenset (#36332) cc @rhshadrach

similar issue #37755

[2021-07-27 11:43] minientertainment commented on #42659
updated

[2021-07-27 12:05] gunthergl opened #42748 "BUG: 1.2.5 -> 1.3.x breaks yaml.dump(DataFrameObject)"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Another package, [pytorch-lightning](https://github.com/PyTorchLightning/pytorch-lightning),

[2021-07-27 13:02] MarcoGorelli commented on #42748
Thanks @gunthergl for the report - I just left `git bisect` running and https://github.com/pandas-dev/pandas/pull/40842 was found to be the first bad commit (cc @jbrockmendel ). Haven't looked into it further though

[2021-07-27 13:13] jreback commented on #42748
if yaml is looking at the internal structures then they need to update the package - these are by definition private and can /
do break

[2021-07-27 14:37] oldrichsmejkal opened #42749 "BUG: groupby.apply result doesnt't have consistent shape for single vs multi group cases"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2021-07-27 14:57] cynddl opened #42750 "BUG: highlight_min and highlight_max do not work with pd.NA"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`df_ok.style.highlight_min()` works correctly while `df_bug.style.highlight_min()` returns th

[2021-07-27 15:04] Taoyuetao commented on #27772
It looks xlwings can't work under Linux system, is there any workaround for Linux?

[2021-07-27 15:08] zefuirusu commented on #42629
Well, in the Excel file that I uploaded, sheet "original" is the data of General Ledger, and the sheet "pivot_table" is the expected result of pivot table, where you can see the sum data is zero.
When calling method pandas.DataFrame.pivot_table, I was expecting a table like that in the sheet "pivot_table", which of course, sum of all data must be zero.

[2021-07-27 15:09] jbrockmendel commented on #42747
This behavior matches what happens with tznaive DTI (which i think theres an issue about), is unavoidable

[2021-07-27 15:20] cynddl opened #42751 "BUG: behaviour of fillna(NaN) for nullable dtype (or, how to fill nullable array with NaN)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`s1.fillna(np.nan)` and `s2.fillna(np.nan)` return different series. Specifically, the first

[2021-07-27 15:47] mzeitlin11 commented on #42751
Thanks for reporting this @cynddl! While certainly confusing, I believe this is intended behavior. For `object` type, `pd.NA` and `np.nan` are both valid missing values and treated as distinct.

For nullable types like `Int64`, there is a notion of a single missing value, `pd.NA`. Generally (though there are probably inconsistencies here), using other missing values than `pd.NA` with these types w

[2021-07-27 15:57] lithomas1 commented on #42733
This comment might be relevant.
https://github.com/pandas-dev/pandas/issues/32857#issuecomment-608023745

Looking at the aggregations pyd file in Dependencies(https://github.com/lucasg/Dependencies) and this is what I see.
![image](https://user-images.githubusercontent.com/47963215/127186145-0a5bc019-a0e0-4e92-8b72-a7f3d69c9d9e.png)
Perhaps we need to also redistribute vcruntime140_1.dll? Not sure

[2021-07-27 16:02] jbrockmendel commented on #42748
xref #40226

[2021-07-27 16:36] lithomas1 commented on #42745
What is your python version and hardware(it looks like you are on x86_64)?

[2021-07-27 17:05] jordantshaw commented on #41997
I am also running into the same issue.

[code]

I would expect 'x' in this case to be an empty Series, but instead it is returning an empty DataFrame.  Any ideas on expected resolution?

[2021-07-27 17:39] zemzale commented on #42745
This all is run on docker on x86_64 machines. They all based on debian buster images and the version of python is 3.7.3

[2021-07-27 17:47] saehuihwang commented on #29282
take

[2021-07-27 19:21] dicristina opened #42753 "BUG: Inconsistent result from centered datetime-like rolling window aggregates"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When `center=True` and the offset is large enough to contain all of the rows, the first outpu

[2021-07-27 19:57] mikephung122 commented on #27994
@mroeschke I submitted a Pull Request (#42746) for this issue, could you take a look when you get the chance?

[2021-07-27 19:58] #42719 closed

[2021-07-27 20:37] mikephung122 commented on #40498
@jreback @RSchweiger @mzeitlin11 I saw that this is still reproducible on Master, labeled as a 'Bug', and Unassigned.  I was wondering if I could work on this?

[2021-07-27 20:39] mzeitlin11 commented on #40498
Go ahead! Commentary in #40509 might be helpful.

[2021-07-27 20:55] mikephung122 commented on #40498
take

[2021-07-27 21:13] jbrockmendel commented on #42753
cc @mroeschke

[2021-07-27 21:15] jbrockmendel opened #42755 "BUG: segfault with pytables tests"
Started noticing this after doing `brew upgrade` a couple days ago.  Somewhere in pandas/tests/io/test_common.py I get a long warning that starts with

[code]

followed by a segfault.

This is likely an upstream issue, but parking this here for now.

[2021-07-27 21:18] jbrockmendel commented on #42755
xref https://github.com/PyTables/PyTables/issues/903

[2021-07-27 22:01] mikephung122 opened #42756 "BUG: DataFrame.drop - Tuple Cannot Be Used as List-Like"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

DataFrame.drop (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) should take a par

[2021-07-27 23:04] mikephung122 commented on #42756
Didn't see anything Open for this under Issues with the 'DataFrame' label and mention of 'drop' or 'tuple'.  Noticed this when trying to write tests for another Pull Request https://github.com/pandas-dev/pandas/pull/42746.

[2021-07-28 00:05] #42672 closed

[2021-07-28 01:01] #42185 closed

[2021-07-28 01:02] #26779 closed

[2021-07-28 01:06] #42492 closed

[2021-07-28 01:09] #42674 closed

[2021-07-28 01:15] #37443 closed

[2021-07-28 01:23] #32556 closed

[2021-07-28 01:34] Leonardofreua opened #42759 "TST: Fix doctests in style.py"
# tl;dr

Fix the numerous doctests that are giving errors in the style.py file:

[code]

# Detailed instructions

Each of the doctests failed for different reasons. You can see the reason for each of them by running the command below:

[code]

In general, the above errors can be fixed with things like:

* Fixing a typo (a missing comma, a misspelled variable name...)
* Adding an object that hasn't

[2021-07-28 01:34] Leonardofreua commented on #42759
take

[2021-07-28 01:46] alexlenail opened #42760 "DOC: .to_hdf() compression argument `complevel` ambiguous default"
#### Location of the documentation

[`.to_hdf()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_hdf.html)

#### Documentation problem

They keyword argument default is `complevel=None`. The documentation says **complevel {0-9}, optional**. It seems like this parameter is passed to pytables directly, however, a little bit of direction from pandas would be nice for u

[2021-07-28 01:50] #41356 closed

[2021-07-28 01:54] #42442 closed

[2021-07-28 02:46] rhshadrach commented on #42731
This is to determine whether the grouper is of the form `df.groupby('a')` where `a` is a column of the DataFrame.

This seems like the right approach to me - the method is attempting to access the grouper name from the frame, and on any failure return False. It even seems to me this would be an appropriate place to just catch `Exception`. Would you be interested in putting up a PR to fix?

[2021-07-28 02:47] rhshadrach commented on #42731
@simonjayhawkins - I think this should be on the 1.3.2 milestone, is that right?

[2021-07-28 02:50] dicristina commented on #42753
I'm working on a pull request for this.  The reason for the inconsistency, as opposed to always getting the wrong result, is an out of bounds read of the index ndarray in the function `calculate_variable_window_bounds`.  The problem itself is caused by the way the end of the window is calculated for the first row.

[2021-07-28 02:52] rhshadrach commented on #42760
Thanks for the report! Agreed the behavior of `None` should be documented. Would you be interested in putting up a PR to fix?

[2021-07-28 03:04] rhshadrach commented on #42756
Not sure if this is a documentation issue (i.e. tuples should not be counted as list-likes in drop) or an implementation one. I think you will find not much support for having tuples in an index by pandas, but that is something we'd like to see improved. cc @phofl @jbrockmendel for any thoughts.

[2021-07-28 03:43] garylavayou opened #42763 "BUG: Up-Resample data with PeriodIndex has unexpected behavior"
- I have checked that this issue has not already been reported.

- I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Try to up-resample a time series with `PeriodIndex` as the index of the series, and then count the number of records in each time-group. However, the output is not the "count", but it

[2021-07-28 04:11] lithomas1 commented on #42745
I forgot to ask, but what's your pip version? We recently upgraded our wheels to manylinux2014 and it looks like you're not able to find them for some reason(you're compiling from source I think).

[2021-07-28 04:38] mroeschke commented on #31687
This looks to work on master now (`None` should coerce to `nan`). Could use a test.

[code]

[2021-07-28 04:54] mroeschke commented on #31746
This looks okay on master now. Could use a test

[code]

[2021-07-28 05:01] mroeschke commented on #31781
Sorry this issue got ignored, but it was probably because your issue description does not contains a minimal copy paste-able example: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

If you could modify the issue to include that it will be easier for the team to triage this issue, but since there hasn't been much movement due to that going to close for now.

[2021-07-28 05:01] #31781 closed

[2021-07-28 05:08] mroeschke commented on #31798
Thanks for the suggestion, but if xarray objects don't subclass pandas objects than this may not be appropriate for pandas to handle specifically. The workaround above or converting to a pandas object first would be more suitable here.

Going to close since there hasn't been much traction or support on this feature request, but happy to reopen if there revived interest from the core team

[2021-07-28 05:08] #31798 closed

[2021-07-28 05:12] mikephung122 commented on #42756
@rhshadrach In DataFrame.drop() we eventually "Transform label or iterable of labels to array, for use in Index." with pandas/core/common.py index_labels_to_array.  However unlike other list-likes which just get converted to a list and then converted to an array, a string or tuple gets wrapped in a list and then converted into an array.  I think this is ultimately causing the problem.

I see that

[2021-07-28 05:18] mroeschke commented on #31850
Thanks for the suggestion but for a similar reason as https://github.com/pandas-dev/pandas/issues/27581 there is hesitation to add accessors that operate on dataframe due to the nature of mixed dtypes. Closing

[2021-07-28 05:18] #31850 closed

[2021-07-28 05:47] mroeschke commented on #32056
Sounds like this issue may be solved by upgrading to a newer numpy version, in which 1.3 did bump the dependency. Going to close, but happy to reopen if this continues to be an issue

[2021-07-28 05:47] #32056 closed

[2021-07-28 05:49] mroeschke commented on #32059
Thanks for the suggestion, but since there's an already a method for getting the expected result I agree that it probably not worth having multiple ways of doing the same thing. Going to close but happy to reopen if there's renewed interest from the core devs.

[2021-07-28 05:49] #32059 closed

[2021-07-28 05:53] mroeschke commented on #32077
This appear to work on master. Could use a test

[code]

[2021-07-28 05:56] kadatatlukishore commented on #42760
Hey @rhshadrach , I would like to do this.

[2021-07-28 06:04] kadatatlukishore commented on #42760
Can I PR @rhshadrach ?

[2021-07-28 06:21] aneesh98 opened #42766 "TST: Fix a doctest in style_render.py"
Fix the following doctest in style_render.py file:
[code]

---

## OBSERVATION

The mentioned test returns a Styler object which will render properly in (for instance, a notebook), but will fail the doctest as it will simply return the object.

## SOLUTION

Add images of output rendered, in the doctest wherever required. (The approach is mentioned https://github.com/pandas-dev/pandas/issues/42674#

[2021-07-28 06:23] aneesh98 commented on #42766
take

[2021-07-28 06:39] #25594 closed

[2021-07-28 06:51] attack68 commented on #42766
Styler is a different object to the rest of pandas, its methods affect the visual output of browsers and other renderers.

These docstrings were created as a balance between helping the user and being able to read the code as a developer.

Adding images has the disadvantage of being more difficult for developers to edit, but being visually accurate.
The doc test as is has the advantages of being e

[2021-07-28 06:55] attack68 commented on #42759
Styler is a different object to the rest of pandas, its methods affect the visual output of browsers and other renderers.

These docstrings were created as a balance between helping the user and being able to read the code as a developer.

Adding images has the disadvantage of being more difficult for developers to edit, but being visually accurate.
Some of the the doc tests as is has the advantag

[2021-07-28 07:41] phofl commented on #42756
I don not think that this is desireable. If we interpret tuples as list like we would run into value dependent behavior, because in case of MultiIndexes, where the tuple elements correspond to levels

[code]

[2021-07-28 08:48] veenstrajelmer commented on #12187
I read this was already implemented, but as of today this still seems to be not the case. It would be a valuable improvement I think, would it be possible to make this available?

[2021-07-28 08:55] aberres opened #42768 "BUG: to_json() swallows attributes of dataclasses"
#### Code Sample, a copy-pastable example

[code]

Output:
[code]

#### Problem description

While the dataclasses have three attributes depending on the naming only one or two show up in the JSON dump.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : c7f7443c1bad8262358114d5e88cd9c8a308e8aa
python           :

[2021-07-28 09:07] simonjayhawkins commented on #42549
cc @jbrockmendel

[2021-07-28 09:15] simonjayhawkins commented on #42731
I don't tend to put older regressions on the current backport milestone as it's more of a tracker than a project task list. If we get a PR to fix, can then assess whether we can/ want to backport. Regressions and bug fixes are allowable in a patch release.

[2021-07-28 09:27] simonjayhawkins commented on #42390
first bad commit: [c355ed15cee71c396f81bfaa0dcbd00b2243b400] REF: simplify libreduction (#41262)

cc @jbrockmendel

[2021-07-28 09:46] simonjayhawkins commented on #42748
close as won't fix? or add 1.3.2 milestone to track discussion?

[2021-07-28 10:08] topekekere commented on #42506
am actually having the errors on a remote machine

[2021-07-28 11:02] simonjayhawkins commented on #42753
the centered window capability for a datetime-like index was added #38780 (i.e. new in 1.3.0) so adding 1.3.2 milestone here. i.e. if we get a PR to fix, we should consider backporting.

[2021-07-28 11:04] jreback commented on #42748
close as won't fix as no details on what is broken

[2021-07-28 11:07] jreback commented on #12187
@veenstrajelmer this is an open issue and we would likely take a PR for implementation

[2021-07-28 11:09] simonjayhawkins commented on #42748
Thanks @gunthergl for the report. have closed as upstream issue.

[2021-07-28 11:11] simonjayhawkins commented on #42748
sorry. downstream issue.

[2021-07-28 11:20] simonjayhawkins commented on #42751
adding no action label for now. needs to considered as part of discussion in #32265. cc @jorisvandenbossche

[2021-07-28 11:30] simonjayhawkins commented on #42751
if the outcome of the discussion is that fillna() on a FloatingArray should be changed...

[code]

then for the IntegerArray, which does not support floats, then the expected behavior would need to be revisted, but for now the behaviour of IntegerArray and FloatingArray are consistent.

[2021-07-28 11:45] simonjayhawkins commented on #42750
`df_bug.style.highlight_min()` was not raising `TypeError: boolean value of NA is ambiguous`  on 1.2.5, but was not getting the expected output either. labelling as a regression for now, pending further investigation cc @attack68

[2021-07-28 12:08] simonjayhawkins commented on #42343
linux_aarch64_numpy1.19python3.7.____73_pypy now built and available on conda-forge

[2021-07-28 12:37] #42463 closed

[2021-07-28 13:01] simonjayhawkins commented on #42750
first bad commit: [0c3c56b560aa183b6e3c41b631a917c6895f34d0] CLN: Styler simplify existing builtin methods (#39797)

[2021-07-28 13:08] zemzale commented on #42745
pip version
[code]
I updated pip to the newest version(`21.2.1`), and then tried to install pandas and everything worked just fine, so indeed outdated pip version was at fault.

Thanks for the help anyways. I don't work with python a lot so I never would have thought that pip might be at fault here.

[2021-07-28 13:21] TomAugspurger commented on #42664
Thanks.

I think it's worth adding a small note to the docs, both in `user_guide/text.rst` and `user_guide/io.rst` noting that

1. The parquet representation of StringDtype is the same, regardless of the `storage` (is that correct?)
2. The data will be read in according to the `string_storage` setting (and show an example of getting pyarrow storage

[2021-07-28 13:38] nicolaslegrand91 commented on #39843
Just installed 1.3.1, I can't see the issue anymore, thanks!

[2021-07-28 13:39] #39843 closed

[2021-07-28 14:00] Dr-Irv opened #42769 "CI: mypy validation failing on master"
Happening in multiple PRs, e.g., https://github.com/pandas-dev/pandas/pull/41203/checks?check_run_id=3181637542
[code]

[2021-07-28 14:18] Leonardofreua commented on #42759
@attack68 Great observations. I think that all doctests I found in the ``style.py`` file fit the points you cited.

The methods I have noticed that will need images in your doctests are below:
* ``apply()``
* ``applymap()``
*  ``set_table_styles()`` maybe?
*  ``set_properties()``
* ``pipe()``

[2021-07-28 15:03] lithomas1 commented on #42745
No problem. I think we might be able to update our docs to specify the minimum version of pip needed to install pandas(19.3 is required I think).
cc @simonjayhawkins

[2021-07-28 15:23] attack68 commented on #42759
all of those (except pipe) are extensively covered in the `table visualization` user guide. It might be more advantageous to redirect users to that page.

The background gradient, in my opinion, is an exception because show different combinations of keyword arguments which have different effects, which are not covered in the user guide.

`pipe` is really functional programming and it might suit to

[2021-07-28 15:29] mikephung122 commented on #42756
@phofl Yah, I see how this is intended for MultiIndexes now in https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html and pandas/tests/frame/methods/test_drop.py::TestDataFrameDrop::test_mixed_depth_drop.

I can close this is everyone is okay.

[2021-07-28 15:32] phofl commented on #42756
Yes agreed

[2021-07-28 15:34] caoyu-yiyue opened #42771 "BUG: DataFrame.drop() can't drop row by index tuple when MultiIndex has duplicated value in a level."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-28 15:56] rhshadrach commented on #42756
I think docs still need clarification?

[2021-07-28 16:39] attack68 commented on #42750
Yeh this is odd since the previous implementation before bad commit also used `np.nanmin/nanmax`.
@cynddl  happy to receive a receive a fix with relevant tests. Also perhaps we can deal with `None` as well using your solution (and test for it also)

[2021-07-28 17:00] nicolaslegrand91 commented on #42659
I also encountered this problem, it seems quite a major bug.

@phofl  Here is a full copy-pastable example :

[code]

![326DD059-EB73-4C3A-9AE3-41E8A8AD75B1](https://user-images.githubusercontent.com/20555592/127364967-55d28059-1346-40d0-9d63-8f5d864d357f.png)

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : c7f7443c1bad8262358114d5e88cd9c

[2021-07-28 17:07] cynddl commented on #42750
Sure, I'll have a look in the coming days!

[2021-07-28 17:31] mikephung122 commented on #42756
@rhshadrach What did you have in mind?  Would love to help if I can.

I did notice a few places where we could cleanly add clarification such as the Docstring and "Drop columns and/or rows of MultiIndex DataFrame" Examples. https://github.com/pandas-dev/pandas/pull/42777

[2021-07-28 17:50] jbrockmendel commented on #42549
Would `PySequence_Check(obj)` return True for this object?

[2021-07-28 17:55] simonjayhawkins commented on #42769
I don't think the mypy issues are related to numpy. We started using numpy 1.21.1 on ci in #42614.

can you update the issue title. see https://github.com/pandas-dev/pandas/pull/42742#issuecomment-888113699 for two of the failures. Not sure which PR introduced the other.

[2021-07-28 18:01] aneesh98 commented on #42766
Thank you so much for the feedback @attack68

[2021-07-28 18:16] hrishikeshnikam2000 commented on #42671
take

[2021-07-28 18:39] AndyYan108 opened #42779 "QST: read_html not continuous finding table when one exists"
#### Question about pandas

**Note**: The program can run only 4 times in the for loop(like 1-5) and then the error comes out

[code]
### Traceback
[code]

[2021-07-28 18:40] Leonardofreua commented on #42759
@attack68 Great observations. I'll put a link to the ``Table visualization`` for these items. Example below:

![image](https://user-images.githubusercontent.com/11354911/127378037-c6a0cd7c-5289-4d4f-99e6-fbd593a51c5f.png)

[2021-07-28 18:57] debnathshoham opened #42781 "BUG: Exactly same check multiple times in if statement"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

Hi, I stumbled upon this while trying to fix another bug.
Is there a reason for the multiple check below (Lines 3536-3537)?
Should be a quick fix.

https://github.com/pandas-d

[2021-07-28 19:09] KrishnaSai2020 commented on #42671
@hrishikeshnikam2000 I'm sorry I have already made the fix for this issue just waiting for the pr to get merged. Please see #42705

[2021-07-28 19:13] phofl commented on #42781
Yes, fast_unique_multiple does Not match nans iirc

[2021-07-28 19:59] ChrisJar opened #42784 "ENH: Support Left Semi Joins"
#### Is your feature request related to a problem?

I wish I could use the Pandas `DataFrame.join` function to perform left semi joins: selecting each row from the left DataFrame that has at least one matching row in the right DataFrame.

#### Describe the solution you'd like

I would like to be able to pass `leftsemi` to the `how` parameter in the `DataDrame.join` function to perform this type of

[2021-07-28 20:02] jreback commented on #42784
this is just a join after you isin on the rhs - would take a PR for this naive implementation

[2021-07-28 20:29] roland-donat opened #42785 "BUG: Multiindex Categorical type lost after div operation"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

If we now look at the index type of `myseries_norm`, we notice that we have lost the `Categor

[2021-07-28 20:38] lithomas1 commented on #42733
I've successfully repro'ed on a docker container on azure pipelines.
See this build.
https://dev.azure.com/thomasli1234567890/pandas/_build/results?buildId=14&view=logs&j=ebcc7698-9622-5b0b-70f1-97d524978b97&t=35171cfe-4e12-5594-dedd-5aa138cbadd2
Testing my solution now.

[2021-07-28 22:49] #42727 closed

[2021-07-28 22:53] #42769 closed

[2021-07-28 22:55] #26615 closed

[2021-07-28 22:55] #41556 closed

[2021-07-28 23:07] frreiss commented on #42430
I've filed #42787 with the fix described above, with a slightly smaller patch due to other changes to the same code.

@jbrockmendel we'll take a look at the `NDArrayBackedExtensionArray` class and see if we can use it in future versions of our library. Is there a design doc or issue we can follow to track the status of 2D support for ExtensionArrays?

[2021-07-29 00:10] rhshadrach commented on #42756
@mikephung122 The documentation seems to me to indicate that tuples will behave like multiple labels:

It think it should be indicated that a tuple will not be treated as a list like here be changing the 2nd line to:

[2021-07-29 00:31] mikephung122 commented on #42756
@rhshadrach Yah of course, I can take this.

I also noticed that the reference to https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html in the Docstring https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html isn't working as a link.

Do you think its worth adding to the Docstring and Examples as well?  Or did you only want to modify it in the labels p

[2021-07-29 00:31] mikephung122 commented on #42756
take

[2021-07-29 01:21] rhshadrach commented on #42756
An example seems like a good idea here to me.

[2021-07-29 03:00] rhshadrach commented on #42784
If there are duplicate matches on the RHS, I think a left semijoin would only produce a single row. But I think this can be produced with a drop duplicates on the left columns.

[2021-07-29 04:09] jbrockmendel commented on #42736
First attempt to make this only-columnwise saw a nonzero-but-small perf bump.  Is making the cython functions support 2D directly a viable option?

[2021-07-29 04:19] mroeschke commented on #42736
It is viable. `method="table"` is essentially 2D in numba.

I am experimenting with using 1D numba or cython function, parallelizing over the columns using numba, that can be shared among mean | groupby mean | rolling mean in https://github.com/twosigma/pandas/pull/51

[2021-07-29 04:32] hrishikeshnikam2000 commented on #42671
@KrishnaSai2020 sorry about that. I saw that later and that's why I was deleted my comment. But I was still assigned to this issue.

[2021-07-29 04:37] Kreijstal commented on #37443
@jreback there is still no option to allow no environment at all, there are only 2 environments allowed?

[2021-07-29 06:19] mroeschke commented on #32414
I think this work on master. Could use a test

[code]

[2021-07-29 06:31] mroeschke commented on #32464
Looks to be okay in master now. Could use a test

[code]

[2021-07-29 06:35] mroeschke commented on #32492
Looks fixed on master. Could use a test

[code]

[2021-07-29 06:36] mroeschke commented on #32498
Happy to reopen if this issue if this still persists.

[2021-07-29 06:36] #32498 closed

[2021-07-29 08:22] KrishnaSai2020 commented on #42671
Ah I see, sorry for that!

[2021-07-29 08:42] yinhm opened #42791 "BUG: MatplotlibDeprecationWarning is_last_row function was deprecated in Matplotlib 3.4"
Seeing this warning while using

[code]

[code]

change tools.py:418 as suggested did fix the warning.

[code]

[2021-07-29 08:44] JulianWgs opened #42792 "BUG: Duplicated columns double when getting them"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-29 09:40] phofl commented on #42792
I don't use this myself but there are certainly use cases for dup columns, so I am -1 on raising here.

When you are doing

``df[df.columns]`` you are calling getitem with ``df[["A", "B", "B", "C"]]``. The first ``"B"`` selects all columns named ``B`` and the second does it again. Correct handling of this would be

``df[df.columns.unique()]`` which translates to ``df[["A", "B", "C"]]`` giving the

[2021-07-29 09:42] simonjayhawkins commented on #42771
Thanks @caoyu-yiyue for the report. looks like a regression from 1.2.5

first bad commit: [ebe760e4011e5efd969fbc2cbffa2066ec0979e6] BUG: DataFrame.drop raising TypeError for string label with non-unique MultiIndex and no level provided (#38220)

cc @phofl

[2021-07-29 09:43] phofl commented on #42771
Have already looked into this. Will provide a pr shortly

[2021-07-29 10:17] sv1900 opened #42793 "QST:Somehow parse dates in pandas is messing the data as shown here: https://youtu.be/m_4pbEyXSds"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-07-29 11:02] kevinglasson opened #42794 "BUG: Series.clip() behaviour is wrong with Series[datetime] comparison to pd.Timestamp.{min,max}"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Actual output

[code]

#### Problem description

The problem is that the `datetime(1,1,1)` ended up being clipped

[2021-07-29 11:15] simonjayhawkins commented on #42659
first bad commit: [fa8f68e9a788901bc6459acb228c7cc8412791d3] BUG/API: SeriesGroupBy reduction with numeric_only=True (#41342)

cc @jbrockmendel

[2021-07-29 11:22] phofl commented on #42793
Please probide a copy pastable example

[2021-07-29 11:56] ikamensh opened #42795 "ENH: consistent types in output of df.groupby"
#### Is your feature request related to a problem?

The problem that occurred to me is due to inconsistent types outputted by `for values, match_df in df.groupby(names)` - if names is a list of length >1, then `values` can be a tuple. Otherwise it's an element type, which can be e.g. string.

I had a bug where I iterating over `values` resulted in going over characters of a string, together with `

[2021-07-29 13:27] YarShev commented on #42403
Feel free to close the issue because I see expected behavior of the operation to me since 1.3.1.

[2021-07-29 13:32] jreback commented on #42403
we should have an explicit test for this

[2021-07-29 13:38] sv1900 commented on #42793
Here is the code I am using (I do not get any errors when I run it):
[code]
<img width="715" alt="image" src="https://user-images.githubusercontent.com/68743041/127501677-38f4ef70-959f-4250-a66a-41e827daf999.png">)
### Please let me know if you would like me to upload sample data?

[2021-07-29 14:22] ant1j commented on #27772
I guess `openpyxl` or `xlsxwriter` (or any Excel managing library) can work this out.

[2021-07-29 14:25] jbrockmendel commented on #42430
Not really.  There has been a lack of consensus about it for  while now.

[2021-07-29 14:48] vnmabus commented on #42430
Doesn't it make more sense to have a "Tensor" ExtensionArray, for storing one tensor per observation, all with the same dimensions? That would allow for having a "Time series" column or an "Image" column, for example.

[2021-07-29 15:02] jbrockmendel commented on #42430
Are all of your tensors the same shape?  This sounds like a use case for e.g. xarray

[2021-07-29 15:06] phofl commented on #42793
We need a minimal and reproducible example where you provide the actual output and what you would expect. Please read https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports and provide your example accordingly

[2021-07-29 15:06] vnmabus commented on #42430
I mean having mixed data. Consider a case in which you have medical data. You have some scalar measurements for each patient, each on different columns, an electrocardiogram as one 1d tensor column, an image of the brain activity, as one 2d tensor column, etc.

[2021-07-29 15:48] attack68 commented on #42792
i agree with @phofl . If you want to detect duplicated columns use `df.columns.has_duplicates` or `is_unique`

[2021-07-29 16:46] jbrockmendel commented on #42430
@WillAyd the use case described here sounds a little bit like the nested data work you were doing a while back.  thoughts?

[2021-07-29 16:51] mzeitlin11 commented on #42794
Thanks for reporting this @kevinglasson! Looks to have been caused by #39221, cc @jbrockmendel

[2021-07-29 17:28] frreiss commented on #42430
Sometimes it's useful to have a column of tensors without abandoning Pandas entirely. Our own use cases are similar to what @vnmabus describes -- the tensors are just one feature among many. For example we may have a DataFrame with one row for each token in a document and one column for each feature of the token. One of those features could be a BERT embedding or an n-gram, but most of them will b

[2021-07-29 17:45] datapythonista opened #42798 "CI: Doctests failing on master"
The next doctests are failing on master, and are breaking the CI. Didn't check what caused the problem, would be good to understand (I guess we merged a PR that wasn't updated). In any case, we should update the output, so the CI is green again:

[code]

The next command should report the above errors, and should return clean after the fixes: `./ci/code_checks.sh doctests`

[2021-07-29 17:46] hrishikeshnikam2000 commented on #42798
take

[2021-07-29 17:50] hrishikeshnikam2000 commented on #42798
okay so this issue is actually because a PR #42705 had problems right? So should I make the changes or wait for the PR to be edited?

[2021-07-29 17:51] datapythonista commented on #42798
Not exactly. Those doctests are broken in master, which means that any PR that we open now, even one with an empty commit, will fail, and we won't be able to merge it. So, the PR for this issue is the first one that should be merged, before we can merge anything else.

[2021-07-29 17:57] jreback commented on #42798
@datapythonista

this already has an issue and a PR to fix

[2021-07-29 18:00] datapythonista commented on #42798
Thanks for the heads up. There is no issue, I see the PR now, didn't see it.

@hrishikeshnikam2000 seems like there is a PR for this already.

[2021-07-29 18:01] hrishikeshnikam2000 commented on #42798
Okay I, will make the changes. could you please let me know in which file are we supposed to make the changes?

So should I look into any other issue.

I'm sorry its my first Issue in this community

[2021-07-29 18:01] hrishikeshnikam2000 commented on #42798
okay git it

[2021-07-29 20:23] thehomebrewnerd opened #42800 "BUG: concat behaves differently for bool/boolean dtypes than it does for int64/Int64"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

[code]

[code]

[code]

#### Problem description

When running `concat` with two series, one of `int64` dtype and one o

[2021-07-29 20:26] #42756 closed

[2021-07-29 21:53] #42798 closed

[2021-07-29 22:05] nitzmahone commented on #42748
The underlying problem here that's making pyyaml's representer blow up is that the `__reduce__` impl of one of these objects changed recently to return a partial for the factory function; I assume that's related to the Cythonizing of one of those types I saw referenced above. Basically if reduce doesn't return a function whose name we can import and call, pyyaml won't be able to serialize those ob

[2021-07-29 22:07] allefeld opened #42804 "BUG: `yaml.dump` throws AttributeError on dataframe – problem with `reduce`?"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Please note

I have reported this problem for PyYAML as https://github.com/yaml/pyyaml/issues/541, but one of the maintainers says that this cannot be fixed on their side,

[2021-07-29 22:09] jbrockmendel commented on #42748
fair enough.  PR to avoid the partial would be welcome

[2021-07-29 22:13] allefeld commented on #42804
If this can't or won't be fixed, I'd be grateful for a tip reverting to which version of Pandas might be a workaround.

[2021-07-29 22:18] jbrockmendel commented on #42804
xref #42748

[2021-07-29 22:21] phofl commented on #42804
Closing as duplicate

[2021-07-29 22:21] #42804 closed

[2021-07-29 22:45] xaellison opened #42805 "BUG: to_pytimedelta can produce timedeltas that overflow pandas.Timedelta"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-07-29 23:23] #42794 closed

[2021-07-29 23:30] #42791 closed

[2021-07-29 23:56] horaceklai commented on #42664
take

[2021-07-29 23:59] tristanlmiller opened #42808 "BUG: read_csv converts NaN to 1.0 in certain circumstances"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
Output:
[code]

#### Problem description

When reading a csv file containing NaNs mixed with booleans, and when told to

[2021-07-30 03:18] mroeschke commented on #32595
Let us know if you could point us to the docstring that could use changing (I don't see our docstrings using the word `Latency` anywhere). Closing for now but happy to reopen when provided the information.

[2021-07-30 03:18] #32595 closed

[2021-07-30 03:23] mroeschke commented on #32619
Looks like the original bug has been fix by https://github.com/pandas-dev/pandas/pull/39216, but could use a test to exercise the arithmetic case of different utc timezones

[2021-07-30 03:31] mroeschke commented on #32676
Thanks for the suggestion, but it appears that there isn't much enthusiasm for this functionality from the other core devs. Closing.

[2021-07-30 03:31] #32676 closed

[2021-07-30 03:42] mroeschke commented on #32703
Looks like the behavior has changed and raises now (for which I believe we have a test). Closing

[code]

[2021-07-30 03:42] #32703 closed

[2021-07-30 03:45] mroeschke commented on #32793
Looks to work on master now. Could use a test

[code]

[2021-07-30 03:52] mroeschke commented on #32818
Thanks for the suggestion but I think both proposed helper functions are adequate, and I'd be -1 on adding another method to specifically check for numeric values (would also open the can of worms to validate other data types).

Since there hasn't be much other traction on this issue since proposed going to close. Happy to reopen if there's renewed interest from the core team and community

[2021-07-30 03:52] #32818 closed

[2021-07-30 03:55] mroeschke commented on #32822
This looks to work on master now. Could use a test

[code]

[2021-07-30 04:08] mroeschke commented on #32902
Looks like the style of indexing has been deprecated

[code]

Therefore, there will not likely be a fix for this unless the deprecation is reverted. Closing but happy to reopen if it gets reverted.

[2021-07-30 04:08] #32902 closed

[2021-07-30 04:11] trevorkask commented on #42557
take

[2021-07-30 04:16] mroeschke commented on #32934
These almost looked fixed. Could add a few tests for the cases that work and xfail the one that doesnt

[code]

[2021-07-30 04:27] mroeschke commented on #33042
Appears that the change of index behavior on master is now expected.

If you are still experiencing an issue, it would be great to submit a more minimal example of the issue or for usage questions we recommending going to Stack Overflow. Closing.

[2021-07-30 04:27] #33042 closed

[2021-07-30 05:59] RobbieClarken opened #42810 "BUG: DataFrame constructor fails to repeat length-1 list to length of index if it contains a Timestamp/datetime64"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

This will throw an exception:

[code]

The same exception will also be raised when the `data` argument is a list-of-dic

[2021-07-30 07:16] MarcoGorelli commented on #42810
Thanks @RobbieClarken for the report - looks like this changed with #40203 (cc @jbrockmendel )

[2021-07-30 08:07] #42387 closed

[2021-07-30 08:41] crazysa opened #42813 "rollback and rollforward both of them gives same response for month end business day"
When the date we pass is  the last business day of the month  in rollback and rollforward both of them returns the  same date we passed , shouldn't it give the previous month last business day for rollback and the passed date for rollforward .

eg.:  30th july 2021

[2021-07-30 08:43] MarcoGorelli commented on #42813
can you show an example please?

[2021-07-30 09:02] KrishnaSai2020 opened #42814 "BUG: Posix / pytest (actions-39-numpydev.yaml, ...) checks failing on master"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
 Posix Checks are failing on master affecting all pr's. If you take a look at any recent pr's eg #42690 #42705 #42809 and #42701 you can see that they had 24/25 checks suc

[2021-07-30 09:03] KrishnaSai2020 commented on #42814
Could someone add the needs discussion label please I don't how to?

[2021-07-30 09:14] aalkhatib9 opened #42815 "QST:"
Hope someone can help me out here

I’m trying to create a separate data frame and have it read files based on data I have in a separate data frame

For example

Here’s my code so far
[code]
This so far creates the empty data frames for me but how can I get each dataframe to pd.read_excel(excel_names) in the data frame above in contrast to its company name.

Data frame A would read Apple.xlsx
Dataf

[2021-07-30 09:18] crazysa commented on #42813
f```
rom pandas.tseries.offsets import BMonthEnd
from datetime import date ,datetime
offset = BMonthEnd()
testdate = datetime.strptime("2021-07-30" , "%Y-%m-%d")
print(offset.rollforward(testdate))
print(offset.rollback(testdate))
[code]

[2021-07-30 09:32] MarcoGorelli commented on #42815
Hi @aalkhatib9

usage questions should be asked on StackOverflow - if you believe there's a bug in pandas, please include a reproducible example and we'll reopen

[2021-07-30 09:32] #42815 closed

[2021-07-30 11:11] hottwaj opened #42816 "BUG: nlargest raises TypeError "No matching signature found" on Float64Dtype Series, versions >1.3.0"
- [yes] I have checked that this issue has not already been reported.

- [yes] I have confirmed this bug exists on the latest version of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Software/hardware
python version: 3.8.10
Ubuntu 20.04
(Intel Tiger Lake CPU)

#### Stack trace

[code]

Thanks!

[2021-07-30 12:19] simonjayhawkins commented on #42816
Thanks @hottwaj for the report.

first bad commit: [b4375a40dee6295718f535cbd3e91b83e976035c] REF: avoid unnecessary casting in algorithms (#41256)

cc @jbrockmendel

[2021-07-30 12:32] #42792 closed

[2021-07-30 12:45] hottwaj opened #42817 "BUG: pandas.cut(data, ..., include_lowest=True) raises IndexError when data is masked array Float64 dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Software used
tried pandas 1.2.0-1.3.1 (same error in each case)
python 3.8.10
ubuntu 20.04

#### Stack trace
[cod

[2021-07-30 12:48] hottwaj commented on #42817
Just edited my original report: the first working example should not contain the cast to Float64, i.e. it should be:

[code]

Thanks!

[2021-07-30 13:03] raphaelquast opened #42818 "BUG: erroneous initialization of a DataFrame with Series objects"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
[code]
[code]

#### Problem description

I would expect `pd.Series` objects to be valid inputs for the `DataFrame` const

[2021-07-30 13:11] jreback commented on #42818
use a list of the Series

what u r passing is actually valid but thr 2nd arg is the index

[2021-07-30 13:28] debnathshoham commented on #42817
Hi @hottwaj. I am getting the below on master (for your second line).  I hope this is expected.
[code]

[2021-07-30 13:38] hottwaj commented on #42817
Hi @debnathshoham!

I'm really sorry, it does seem to work in 1.3.1 (and 1.3.0).  Maybe I messed up reducing to a simple example that failed, but it seems more likely that I got confused as I was testing multiple recent versions of pandas for another issue I found at the same time.

Will close and sorry for the noise.  Thanks!

[2021-07-30 13:38] #42817 closed

[2021-07-30 13:39] simonjayhawkins commented on #42817
looks to also work on 1.3.0 and 1.3.1. maybe fixed in #40969

[2021-07-30 14:45] raphaelquast commented on #42818
@jreback thanks for responding!

I don't fully get what you mean "it is actually valid"... the result is really not what I've expected
(and i know that the 2nd arg is supposed to be the index... )

let me clarify this a bit more:
i was just expecting that passing a `Series` object would be similar to passing a `list` or a `1D numpy array`
to summarize:
[code]

[2021-07-30 15:10] stephan-hesselmann-by commented on #42624
This should be easy to fix, but I'm not sure what the correct expected behavior actually is. According to the docs (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) `origin` may be given as `"unix" (or POSIX) time`. POSIX time is defined in seconds. So should the correct behavior be to use seconds as unit for numeric `origin` (potentially different from the `unit

[2021-07-30 15:46] lithomas1 commented on #19028
This is implemented already.

[2021-07-30 15:46] #19028 closed

[2021-07-30 15:51] #42671 closed

[2021-07-30 16:36] phofl commented on #42818
The index of the series and the DataFrame Index are aligned, this causes the nans, since you do not have matching entries in there.

[code]
returns
[code]

which should make clear what happens here

[2021-07-30 16:45] jacob-r-g opened #42821 "ENH: change default min_count value for pandas.core.resample.Resampler.sum()"
#### Is your feature request related to a problem?

When using, pandas.core.resample.Resampler.sum(), the behavior I would expect based on using other resampler aggregation methods (e.g. mean, median,) is that if there is a gap in the time series values should be filled with NaNs, instead they are filled with 0's because the min_count parameter default is 0, I think it should be 1.

Furthermore,th

[2021-07-30 16:59] lithomas1 commented on #42814
Not an unreliable test, warning is consistently produced.

[2021-07-30 17:00] lithomas1 commented on #42755
Do you use conda? It's possible that conda installed its own hdf5 if you installed pytables with conda.

[2021-07-30 17:02] jbrockmendel commented on #42755
pretty much just pip

[2021-07-30 17:08] stephan-hesselmann-by commented on #42805
The problem lies with `datetime.timedelta` not supporting nanosecond resolution. `to_pytimedelta` does rounding, which leads to `106751 days 23:47:16.854775807` being rounded `106751 days, 23:47:16.854776` which is then out of bounds. Without changing the rounding behavior I don't see a good solution. Also since the conversion between `pandas.Timedelta` and `datetime.timedelta` is not lossless in

[2021-07-30 18:02] attack68 commented on #42450
perhaps we should document this in `unstack` method?

[2021-07-30 18:20] jbrockmendel commented on #42816
It's easy to make a (kludgy) shim that fixes cases without any NAs, need to give some thought to the general case

[2021-07-30 18:26] mzeitlin11 commented on #42816
xref #42737

[2021-07-30 18:42] Dr-Irv opened #42825 "DOC: .loc doesn't document that it can take sets or dicts as arguments"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html?highlight=loc#pandas.DataFrame.loc
#### Documentation problem

Surprisingly, the following code works:
[code]

In the documentation, we don't say that you can pass a `set` or a `dict` as one of the arguments to `.loc` .

So either we update the documentation, or maybe we should

[2021-07-30 18:56] #42814 closed

[2021-07-30 20:46] attack68 commented on #42825
+1 raising and documenting. also restricting .loc to lists only and not sequence inputs: see https://github.com/pandas-dev/pandas/pull/42329#issuecomment-872249189

[2021-07-30 21:00] phofl commented on #42450
This is already documented in https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-by-stacking-and-unstacking

[2021-07-30 21:04] pavel-hushcha commented on #42559
Strongly agree with that.

[2021-07-30 22:15] #41634 closed

[2021-07-31 00:52] #42771 closed

[2021-07-31 01:01] #42430 closed

[2021-07-31 01:55] mroeschke commented on #33168
This looks okay on master. Could use a test

[code]

[2021-07-31 02:06] mroeschke commented on #33234
This looks okay on master. Could use a test

[code]

[2021-07-31 02:50] Melendowski commented on #42825
I'm assuming for speed the implementation of `.loc[]` tries to iterate rather doing an `isinstance` check.  This is unfortunate because `isinstance(dict, typing.Sequence) == False` as does `isinstance(set, typing.Sequence)` iirc.

[2021-07-31 04:15] mzeitlin11 commented on #42645
Thanks for suggesting this @multimeric! IMO the `ResultProxy` would be more useful (and intuitive since it matches `execute`) since it gives information you couldn't get easily otherwise (like how many rows were added in an append case).

What would be the use case for returning the new table object? While I agree it is more convenient than your alternatives, I'm not sure it would be worth complic

[2021-07-31 04:24] mroeschke commented on #33601
I think given the similar discussion in https://github.com/pandas-dev/pandas/issues/23993, there was not much support for this functionality due to variability of output shape.

Going to close from the same conclusion but happy to reopen if the community and core devs are in support in adding this.

[2021-07-31 04:24] #33601 closed

[2021-07-31 04:24] Melendowski commented on #42177
'NOT' wouldn't work for the same reason it doesn't work on `set`. `NOT` in this case would be the complement except we have no universal set `U` to take the actual set difference from.

[2021-07-31 04:27] Melendowski commented on #42177
This is set difference. The elements of A that are not shared with B.

[2021-07-31 04:28] mroeschke commented on #33692
It appears this works in master now. Could use a test

[code]

[2021-07-31 04:29] mroeschke commented on #33701
This looks okay on master now. Could use a test

[code]

[2021-07-31 04:43] mroeschke commented on #33787
This looks fixed on master. Could use a test

[code]

[2021-07-31 04:46] mroeschke commented on #33810
Yeah looks like there are round tripping tests in `pandas/tests/io/test_feather.py` so I think we're okay to close

[2021-07-31 04:46] #33810 closed

[2021-07-31 04:48] mroeschke commented on #33830
Looks like all but the `value_counts` example is preserving freq now. Could use tests for those

[code]

[2021-07-31 04:51] mroeschke commented on #33853
Since this is an issue with openpyxl, I think it would be better for the issue to be fixed upstream. If you could file an issue in their repo that would be great. Closing.

[2021-07-31 04:51] #33853 closed

[2021-07-31 06:09] multimeric commented on #42645
Yeah honestly I see the benefit in returning the result proxy too. The reason I want the table is because SQLAlchemy needs the table metadata as a Python object in order to be able to query the table. It's possible you can query a table without metadata (?) but then it won't do any column or data type validation. You could also load the metadata from the database (using `Table(autoload_with=engine

[2021-07-31 06:26] sukriti1 commented on #42630
take

[2021-07-31 06:38] #42759 closed

[2021-07-31 07:28] aneesh98 commented on #42784
Hi I would like to work on this enhancement, if no one is working on this.
I have few questions:
1) Incase of column name mentioned in 'on' param provided, a .isin must be performed on the same 'on' value in rhs df right for the unique values of the 'on' column?.
2) If no 'on' param value is provided, then the isin should be performed on the index of the rhs?
3) The columns of the rhs dataframe pr

[2021-07-31 11:27] rhshadrach commented on #42795
I haven't yet considered the implementation or all the ramifications of this, but we do similar things in other places, e.g.

[code]

My guess is that a tuple may be appropriate in the case of passing a list to groupby, but that the result should still have an Index (not a MultiIndex).

cc @jbrockmendel for any thoughts here.

[2021-07-31 14:14] adriesse commented on #33087
Just ran into the same problem involving people exchanging files.

[2021-07-31 15:45] ajdlinux commented on #30126
Any update on this? This bug bit me today :(

[2021-07-31 15:47] jreback commented on #30126
you or anyone in the community are welcome to submit a patch to fix

[2021-07-31 17:46] #42670 closed

[2021-07-31 18:55] rhshadrach commented on #42722
+1 - I wonder if it could go next to the pandas logo on the top left.

[2021-07-31 18:57] jbrockmendel commented on #42795
a length-1 tuple seems reasonable to me

[2021-07-31 18:59] rhshadrach commented on #42795
Will need to deprecate current behavior for this.

[2021-07-31 20:46] trevorkask commented on #42557
I have found two probable causes of this bug. However, I am not sure which one to go with because I understand that a patch led to this bug. So one option may be better in terms of not undoing the patch.
1. In the method _should_compare, line 5646, the parameters for the if statement check for boolean and numeric data, whereas the example given [https://github.com/pandas-dev/pandas/issues/42557#is

[2021-07-31 21:04] adamrossnelson opened #42837 "ENH: A new method that will more efficiently display 'tall' df"
#### Is your feature request related to a problem?

I wish there was a way to preserve verticle screen space when I'm inspecting 'tall' data frames. These are data frames with many observaitons but few columns. Thus, they're _tall_. I use the word tall to avoid conflating with _long_ data.

#### Describe the solution you'd like

I believe this function accomplishes the goal:

[code]

#### API brea

[2021-07-31 21:10] bashtage commented on #42557
I think the source of this bug was reverted in 4c9ef1bf2dc6a9eb4d5e85617da0f48d08df522b

[2021-07-31 21:23] jbrockmendel commented on #42816
3 options here

1) make nsmallest/nlargest an EA method for authors to override
2) for our masked arrays, in cases where there are no NAs, we can kludge _ensure_data to work
3) make libalgos.kth_smallest support object dtype

[2021-07-31 23:46] jreback commented on #42837
there have been multiple requests for something like this

pls search and link similar issues

[2021-07-31 23:58] lithomas1 commented on #33087
This is a pytables issue.

[2021-08-01 06:08] maresb commented on #33701
I verified that the bug is gone on v1.3.1. (I tested up to size `50_000_000`.) I am not sure what is the earliest version in which the bug was fixed.

[2021-08-01 14:07] SolOlga commented on #40328
@SusmithBarigidad Are you still working on it or can I take it?

[2021-08-01 14:43] yohplala opened #42840 "BUG: Concat does not preserve category if list of categories does not match."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
I am expecting (erroneously?) that resulting 'cat' column should be the merged categories of '

[2021-08-01 14:43] yohplala commented on #42840
Root cause possibly shared with ticket #14016 ?

[2021-08-01 15:10] yohplala commented on #42552
@ParfaitG @rhshadrach @simonjayhawkins

Hi,
Ok, I just got back on the topic, and I have finally clarified what is wrong.
'before', I can say it was working, but I cannot say why it was working, maybe `concat` was more permissive in 1.2.5.

So the cause of the trouble is with the `period` column.
In 'exi', data are `categories`, while in `new`, data are `int`.

[code]

Fixing the mismatch by conve

[2021-08-01 15:52] #42766 closed

[2021-08-01 17:00] dicristina commented on #42808
The problem is related to the C parser and it is present on master (01076c6589f5354ab40cd2ab483d0ccb33c5f860).

[code]

The expected result can be obtained from the Python parser:

[code]

[2021-08-01 18:58] biiiipy commented on #42748
Having the same issue

[2021-08-01 20:15] yohplala opened #42844 "BUG: DatetimeIndex has become unhashable in 1.3.1?"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Hi,
Following code below was working with pandas 1.2.5.
It raises now an error with pandas 1.3.1.

#### Code Sample, a copy-pastable example

[code]

Error message:
[code

[2021-08-01 21:34] MrMino commented on #41410
@rhshadrach Update: 7.26 was released today.

[2021-08-02 04:31] cmot17 opened #42847 "BUG: Pylance type annotation issue with loc"
#### Code Sample, a copy-pastable example

[code]

#### Problem description
![image](https://user-images.githubusercontent.com/25753364/127804362-9641a963-358e-4e97-b672-7fc9aba94c7b.png)

This code works, and is pretty much exactly following what the documentation says I should do by Pylance is still not happy with the types.
#### Expected Output
No type error
#### Output of ``pd.show_versions()`

[2021-08-02 06:28] Taoyuetao commented on #27772
@ant1j

Thanks your tips. I found a workaround as

writer = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='test1')
writer.sheets['test1'].set_row(2, None, None, {'hidden': True})
writer.save()

[2021-08-02 06:55] sanskarbtw commented on #42847
Unable to recreate this bug. Looks like more of a Pylance issue to me.

[2021-08-02 07:31] MarcoGorelli commented on #42847
Thanks for the report - pandas doesn't (yet) expose types, so I'd also suggest reporting to pylance

[2021-08-02 07:31] #42847 closed

[2021-08-02 08:13] JP-Ellis opened #42849 "BUG: GroupBy's quantile incompatible with pd.NA"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Firstly, here's a working example using the default dtypes:

[code]
<details>

[code]

</details>

To contrast, if I use the Pandas dtypes, the codef ails

[code]
<detail

[2021-08-02 10:52] JarnoRFB opened #42851 "BUG:"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-02 10:54] #38703 closed

[2021-08-02 12:53] simonjayhawkins commented on #42849
Thanks @JP-Ellis for the report. The code sample worked in 1.2.5.

first bad commit: [400751335a0508f420b1f39bfcac5c38463f1c56] TYP: fix ignores (#40389)

cc @jbrockmendel

[2021-08-02 13:20] simonjayhawkins commented on #42844
Thanks @yohplala for the report

first bad commit: [cd0224d26c6050f0e638861b9e557086673c14c1] BUG: Raise ValueError for non numerical join columns in merge_asof (#34488)

but looks like the traceback has since changed. was..

[code]

cc @phofl

[2021-08-02 13:26] Romper9 opened #42853 "QST: I am getting valueerror: setting an array element with a sequence"
Struggling couple of hours with it, what is going wrong here?

Trying to implement a demo from the tutorial "Art of Pandas"
Here is my code that should replace an element in the array

[code]

[2021-08-02 13:30] Kamenlom commented on #42853
You are trying to assign array to element here :

[code]

just assign scalar:

[code]

Check out the [example on fix exception](https://fixexception.com/pandas/setting-an-array-element-with-a-sequence/) with example steps to reproduce and fix

[2021-08-02 14:07] phofl commented on #42844
@yohplala Could you please narrow your example? It should be minimal and reproducible

[2021-08-02 14:09] phofl commented on #42844
@simonjayhawkins I don't think that this is supposed to work. Docs say
[code]

while a Index is provided here

[2021-08-02 14:40] yohplala commented on #42844
Hi, yes, will see to that this evening then.

:(  (being sad here) It was working with 1.2.5 (the failure happens with test cases of mine that are doubled-check: results were correct then)

[2021-08-02 15:10] simonjayhawkins commented on #42559
@fdzuJ duplicate of #42221?

[2021-08-02 15:16] simonjayhawkins commented on #42557
#42575

[2021-08-02 15:16] #42557 closed

[2021-08-02 15:37] sterlinm commented on #40932
This sounds like it's going to be very useful. What's the current status on this?

[2021-08-02 17:07] attack68 commented on #42853
the above answer is correct. Please use stackoverflow for this kind of question.

[2021-08-02 17:07] #42853 closed

[2021-08-02 18:27] yohplala commented on #42844
Hi Patrick,
please, find enclosed reduced example.

[code]

You are right about the root cause (`DatetimeIndex` beoing provided). Using directly a column of the left DataFrame works ok.

[2021-08-02 20:20] erik-hasse commented on #42549
I can confirm that it does. The following prints `True`

[code]

[2021-08-02 22:19] jbrockmendel commented on #40932
I'm planning to implement this once we are able to use cython 3

[2021-08-02 23:08] adamrossnelson commented on #42837
I thought that would be the case. I'm not finding the other related issues. I believe you that they're there... seems like this would be a common request. Apologies that my keyword search skills are falling short here.

[2021-08-02 23:23] jreback commented on #42837
you can look thru these:
https://github.com/pandas-dev/pandas/issues/38827, https://github.com/pandas-dev/pandas/issues/27000, https://github.com/pandas-dev/pandas/issues/18691, https://github.com/pandas-dev/pandas/issues/9179, https://github.com/pandas-dev/pandas/pull/7005

[2021-08-02 23:35] rhshadrach commented on #41410
Thanks @MrMino! Confirmed the CI fails when warnings are present in #42858.

[2021-08-02 23:35] #41410 closed

[2021-08-03 03:42] sterlinm commented on #40932
That's great to hear, thanks! I've got a project where I'd like to use Timestamp but need to use microsecond resolution for the larger range, so it will be very useful. I'm not sure if it's a one-person job or not, but if you think you could use help please let me know.

[2021-08-03 08:16] simonjayhawkins commented on #42536
@realdanurbano on 1.2.5 (and earlier) I'm not seeing expected output, although the datetime value does appear in the output, so there has been a change, but since the output from previous versions was incorrect I'm not sure if this should be considered a regression.

[code]

[2021-08-03 08:26] attack68 opened #42862 "BUG: negating pd.Na and `None`"
- [x] I have checked that this issue has not already been reported.
- [ ] I have confirmed this bug exists on the latest version of pandas.
- [x] I have confirmed this bug exists on the master branch of pandas.

I don't really know how to describe this or if it is as expected but it seems strange behaviour to me:

[code]
I guess there are two things here:
 1) `(-df)` is not the same as `(df * -1)`

[2021-08-03 09:13] jorisvandenbossche commented on #41410
Thanks @rhshadrach for fixing this on the IPython side!

[2021-08-03 10:26] shlomi-viz commented on #32486
Any updates on this? how can I prevent this silent error? Thanks

[2021-08-03 10:30] simonjayhawkins commented on #42452
The code sample appears to worked in 1.1.5 and the issue not confined to EWM but rolling in general. (`test_rolling_float_dtype` added in #42650)

first bad commit: [00a510bfc0416d890a385697a8a0e5127602f9ec] [BUG]: Rolling.sum() calculated wrong values when axis is one and dtypes are mixed (#36458)

cc @phofl

[2021-08-03 10:35] shlomi-viz commented on #32486
Upgrading to `pandas==1.2.4` fixed it for me, now I get the following error:
[code]

[2021-08-03 10:38] simonjayhawkins commented on #42452
maybe duplicate of #41779

[2021-08-03 11:11] sv1900 commented on #42793
[ML_input.csv](https://github.com/pandas-dev/pandas/files/6923589/ML_input.csv)

Please find above the file to the code above and it give you the same error as shown in the YouTube link: https://www.youtube.com/watch?v=m_4pbEyXSds

[2021-08-03 11:12] simonjayhawkins commented on #42437
code sample worked in 1.2.5

first bad commit: [527c7893b8f56f5efe7c182ede5b7a26af4ce702] API/BUG: always try to operate inplace when setting with loc/iloc[foo, bar] (#39163)

cc @jbrockmendel

[2021-08-03 11:16] phofl commented on #42793
Could you please check the provided link and give an example accordingly?

[2021-08-03 11:22] sv1900 commented on #42793
Sorry, I am a beginner in python; I can provide the ipynb file or paste the code here (which is same as the top comment) or follow other objective instruction if any. Actually, if you have used Jupyter, you should be easily able to run the code with the input file provided to grasp what I am saying. Here is a snapshot of the same:
<img width="827" alt="image" src="https://user-images.githubusercon

[2021-08-03 11:24] phofl commented on #42793
If someone wants to fix this, he will have to debug the code. Therefore a minimal example is required which clearly shows the error and does not confuse with too much data.

You can search the IO Csv Tag in our issues to have a look at other examples for the IO methods or simply read the blog post. There are a lot of examples.

[2021-08-03 11:24] KrishnaSai2020 commented on #42862
In df *-1 it defaults to NaN which is expected as None * -1 is invalid but surely it should do the same for -df.  but maybe because there's no * sign DataFrame.multiply doesn't register it.

[2021-08-03 11:27] sv1900 commented on #42793
As the document says "Lets be clear, this is hard and takes time." ; and I wish I had some more of it :) Thanks anyway!! I just hope other researchers are taking care while plotting their data using the parse dates while reading CSVs. Cheers!

[2021-08-03 11:34] simonjayhawkins commented on #42399
these dates aren't business days.

[2021-08-03 11:34] kasuteru commented on #32306
I just ran into this problem. This behaviour is unlike any SQL join behaviour I have encountered so far, and completely unexpected, since usually `NaN == NaN` evaluates to `False`. I only caught this bug in my code by sheer luck.

What is the status of this?

In my opinion, this should be deprecated as fast as possible. Meanwhile, I think a big disclaimer should be put into the [merge documentatio

[2021-08-03 11:49] jorisvandenbossche opened #42863 "ArrowStringArray: delay/conditionally import pyarrow.compute"
We currently check if pyarrow is available (and a sufficiently recent version), and if that's the case, simply import `pyarrow.compute`:

https://github.com/pandas-dev/pandas/blob/3fe8e24a17170ad2296ecd81ba60e23cee763173/pandas/core/arrays/string_arrow.py#L63-L65

However, in theory, it is possible to have a pyarrow installation without `pyarrow.compute` support (it's an optional component when bu

[2021-08-03 11:59] jreback commented on #42863
can u give a specific example where this happens? for all of the string functions we have min required checks AFAICT

[2021-08-03 12:03] simonjayhawkins commented on #42863
The ArrowStringArray relies heavily on pyarrow.compute. better to raise than to delay/conditionally import?

[2021-08-03 12:07] simonjayhawkins commented on #42863
we changed this in #41732

[2021-08-03 12:07] MarcoGorelli commented on #42793
Hi @sv1900

You should use `dayfirst=True`, as that's the date format you're using https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html?highlight=read_csv#pandas.read_csv

DD/MM format dates, international and European format.

If you believe there's a bug in pandas, please let us know, include a reproducible example, and we'll reopen - for the future, please note that u

[2021-08-03 12:07] #42793 closed

[2021-08-03 12:35] phofl commented on #32306
This is highly non trivial since we have a lot of functions matching NaN with NaN. If we would want to do this we have to discuss the scope of the deprecation first.

[2021-08-03 12:41] simonjayhawkins commented on #42376
Thanks @ivirshup for the report

first bad commit: [83479e1efc3cdbe31d8042eebaed8a6a90bb3b1c] REF: move reshaping of array for setitem from DataFrame into BlockManager internals (#39722)

cc @jorisvandenbossche

[2021-08-03 12:43] attack68 commented on #42862
ok, but why is `pd.Na * -1 = np.nan`

[2021-08-03 12:47] johnzangwill opened #42864 "ENH: A new GroupBy method to slice rows preserving index and order"
#### Is your feature request related to a problem?

Pandas provides DataFrameGroupBy.head() and tail(), which efficiently slice the beginning and end of each group while preserving the order and index. I would like to be able to do a general row slice with the same properties. DataFrame has head(), tail() and iloc that behave in a compatible way. There is no corresponding DataFrameGroupBy.iloc.

#

[2021-08-03 12:48] jreback commented on #42864
.nth already does this

[2021-08-03 12:55] johnzangwill commented on #42864
As I pointed out, nth() does not preserve the order or index of the original df, particularly if it has a multiindex. So it is not compaible with head() or tail(). It is also twice as slow as, say, head(), and does not take a slice argument.

[2021-08-03 13:23] kasuteru commented on #32306
@phofl happy to discuss this.

What do you mean by "_a lot of functions matching NaN with NaN_"? I can think of `df.compare`, but there it makes sense to say `np.Nan==np.Nan`. Are there other functions we need to consider?

In my opinion, our target should be to have the "correct" behaviour for all nullable dtypes, even though this means going through a deprecation cycle.

@jorisvandenbossche For

[2021-08-03 13:25] phofl commented on #32306
Some examples:

- union
- drop_duplicates
- unique
- intersection
- and so on

[2021-08-03 14:40] kasuteru commented on #32306
I think all of these are fine as-is, because (at least in my opinion) they behave just as someone would expect if they were familiar with Python, but not pandas.

In contrast, the behaviour of `df.merge` is the opposite of what one would usually expect. Looking at this thread and the similar ones that @mroeschke closed, I feel like there is universal agreement that the default should be to not mat

[2021-08-03 15:04] phofl commented on #32306
I am not opposed to changing it. I looked into this a few months back but got stuck on all the cases to consider, because merge uses some of the functions mentioned above quite heavily. If we diverge there, this gets pretty difficult real quick.

So the discuission about this may be easy, but the implementation is not as straighforward without adding a lot of complexity. If youl would like to try

[2021-08-03 15:47] KrishnaSai2020 commented on #42862
for consistency maybe ie to make all values floats as pd.na stores an integer value

[2021-08-03 15:52] KrishnaSai2020 commented on #42862
It seems strange but makes sense. Sort of anyway.

[2021-08-03 15:54] adamrossnelson commented on #18691
Woth a mention that this issue also relates to: https://github.com/pandas-dev/pandas/issues/42837

The idea is that there is a way to preserve vertical screen space when inspecting 'tall' (many rows, few cols) data frames.

[2021-08-03 16:00] sv1900 commented on #42793
@MarcoGorelli Thanks much for your reply. I think "use dayfirst=True," is not a good solution since in the first place no error is thrown for parse dates without this argument. Why - Because if there is no error thrown and the labels/plot looks almost similar to expected dates with the date.index.dtype confirming that; then: in my opinion it becomes a dangerous proposition to the general user/ res

[2021-08-03 16:05] adamrossnelson commented on #42837
Thanks for the finds. My reads...

https://github.com/pandas-dev/pandas/issues/38827 - Expanded views.
This one is different from what I submitted. I am a fan of the idea presented in 38827.

https://github.com/pandas-dev/pandas/issues/27000 - Updated logic on display truncation.
Also different. But also not a bad idea.

https://github.com/pandas-dev/pandas/issues/18691 - Add an 'ends' method.
Yes

[2021-08-03 16:29] igurin-invn commented on #36064
I see the same behavior on pandas 1.3.0. Can we at least get a milestone assignment?

[2021-08-03 16:38] MarcoGorelli commented on #42793
Yeah, there's an open issue about this https://github.com/pandas-dev/pandas/issues/12585

I'd love to address this issue when I get a chance, this `dayfirst=True` thing has bit me a few times in the past

[2021-08-03 16:43] jreback commented on #36064
@igurin-invn you or anyone in the community can submit a PR at anytime

pandas core can barely keep up with reviews - issues are assigned a milestone when their is a PR

[2021-08-03 16:52] raphaelquast commented on #42818
@phofl
aaaah, OK i got it 😄 sorry for the confusion!

so basically because the data (e.g. `y`) already has an index defined, the index gets aligned with respect to the new index (instead of being replaced with the new index)

I consider myself as a long-term user of pandas but this was so far not clear to me!
(also the doc of `pd.DataFrame` does not mention this special treatment of `Series` and `

[2021-08-03 16:57] GorAlexander opened #42866 "BUG: DatetimeIndex de-serializing fails in PYTHONOPTIMIZE mode (python -O)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Run python as PYTHONOPTIMIZE, option -O:

[code]

[code]

#### Problem description

These dict operations go under the 'assert'

[2021-08-03 17:00] MarcoGorelli commented on #42866
Thanks @GorAlexander for the report - want to submit a PR?

[2021-08-03 17:15] #42101 closed

[2021-08-03 17:15] merubhanot opened #42868 "DOC: to_latex documentation for Styler"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.io.formats.style.Styler.to_latex.html

#### Documentation problem

I think the set of packages needed to get this to work should be more clearly defined, given how different peoples' Latex setups are. For instance, the current package list in the documentation doesn't seem to provide any explaination for where

[2021-08-03 17:18] igurin-invn commented on #36064
Not an expert, but trying to investigate. Looks like the axis and tick labels are really gone.

[code]
![image](https://user-images.githubusercontent.com/53919701/128058333-8ac54824-e2ec-4b34-ab6a-ac02efc5595e.png)

[code]
![image](https://user-images.githubusercontent.com/53919701/128058376-9e4f22bd-1500-44d2-ac1e-38e858ef9ba1.png)

But `ax.get_xlabel()` gives a non-blank value.

[2021-08-03 17:21] merubhanot opened #42869 "BUG: to_latex not escaping characters correctly"
- [X ] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

- [ X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

.to_latex() for Styler seems to have no way to handle when latex-invalid characters are used in the dataset. For instance, if the data values

[2021-08-03 17:42] GorAlexander commented on #42866
Hi @MarcoGorelli , just created the PR [GH42866](https://github.com/pandas-dev/pandas/pull/42871). Not sure if guideline checkpoints would pass.

[2021-08-03 18:03] ChrisJar opened #42872 "ENH: Support DataFrame.searchsorted"
#### Is your feature request related to a problem?

Currently `searchsorted` is supported for `Series` and `Index` objects, however I wish to be able to use it with `DataFrame` objects as well.

#### Describe the solution you'd like

I'd like to be able to call `DataFrame.searchsorted(value, side, sorter)` like in the case of `Series.searchsorted` but in this case the `value` parameter would be a

[2021-08-03 19:10] jbrockmendel commented on #34536
@jorisvandenbossche is right, the solution here is to cast to object dtype

[2021-08-03 19:45] realdanurbano commented on #42536
I am not sure if I am missing something here, or perhaps my explanation is off or confusing, but it looks like you have confirmed that the expected output works in pandas `1.2.5`, which I agree with.  If you try this same example in versions `1.3.0` or `1.3.1`, you will not see the expected output.

**pandas version 1.2.5 shows the expected output**
[code]
**pandas versions 1.3.0 and 1.3.1 shows t

[2021-08-03 20:22] realdanurbano commented on #42536
I updated my last comment to help clear up some confusion that I introduced. Hopefully this is a bit clearer. ;)

[2021-08-03 20:40] ahawryluk commented on #19842
@rhshadrach yes, at least for .xls and .xlsx/.xlsm files checking for hidden files is really easy ahead of time:

[code]

I like your cookbook suggestion; I'll make a very small PR.

[2021-08-03 20:45] attack68 commented on #42868
what is `\thsolid`. it is not a defauly output but `Styler.to_latex()`

would welcome a full example.

[2021-08-03 21:02] attack68 commented on #42869
That is correct. The `to_latex` method does not escape latex characters. That is handled by the `format` method as documented.

The `format` method also documents that escaping is done before the formatter, which implies that if you need to format a percentage as per `{:,.1%}` then this should be refactored to:

[code]

This won't change, and if a formatter is supplied it is expected that a user s

[2021-08-03 21:25] attack68 commented on #42862
I agree, I think `pd.NA = -pd.NA = pd.NA [*/+/-/**] float/int/complex`

[2021-08-03 22:55] horaceklai commented on #33787
take

[2021-08-03 23:22] rhshadrach commented on #42805
Thanks for the report @xaellison, and @stephan-hesselmann-by for the investigation. Agreed the error seems reasonable here, marking as a closing candidate.

[2021-08-03 23:23] rhshadrach commented on #42808
Thanks @tristanlmiller and @dicristina! Further investigations and a PR to fix are most welcome!

[2021-08-04 02:11] #42750 closed

[2021-08-04 04:23] #42452 closed

[2021-08-04 07:47] jorisvandenbossche opened #42875 "BUG: wrong/confusing error message in DataFrame.take with a scalar indexer"
[code]

`take` requires an array-like for the indexer, but when passing a scalar you get a not very useful error message as above. We should raise a ValueError (or rather TypeError) instead with an informative message.

It actually comes from the Index take implementation:

[code]

[2021-08-04 07:51] KrishnaSai2020 commented on #42862
+1 to redefining `pd.NA`

[2021-08-04 09:03] emanuele opened #42876 "QST: why pandas.Series.unique() behaves differently from numpy.unique()?"
First of all, thank you for the great Pandas!

The docs of `pandas.Series.unique()` clearly state that the function does NOT sort the elements. Differently, `numpy.unique()` sorts the elements. What is the reason behind this counterintuitive difference? It is quite unexpected and deemed to create nasty bugs in code - which just happen to me.
Just to be clear:
[code]
In the context of code that use

[2021-08-04 09:37] sebasv opened #42878 "BUG: np.mean(pd.Series) != np.mean(pd.Series.values)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

1. `pd.DataFrame.mean`/`pd.Series.mean`/`np.mean(pd.Series)` outputs a Python float instead o

[2021-08-04 09:48] simonjayhawkins commented on #42818
PRs always welcome to clarify/enhance the documentation.

[2021-08-04 10:35] TLouf opened #42880 "ENH: sparse_series_to_coo performance"
#### Is your feature request related to a problem?

Converting a sparse Series to a `scipy.sparse.coo_matrix` could be much faster. I think the `get_indexer` function defined in [`_to_ijv`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/sparse/scipy_sparse.py#L22) adds unnecessary complexity.

#### Describe the solution you'd like

It can be much faster by accessing the `codes

[2021-08-04 10:59] robinstauntoncollins opened #42881 "BUG: Misleading KeyError output on dataframe.drop(columns=['Col1', 'Col2']) when columns to drop are not present"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

####
Actual Output:
[code]
(comma missing between list items)

#### Problem description

When trying to drop a list of

[2021-08-04 11:13] jreback commented on #42876
pandas uses a hash table and is significantly faster than numpy here - i doubt pandas nor numpy are going to change

[2021-08-04 11:14] #42876 closed

[2021-08-04 12:59] gazon1 commented on #18998
I have similar issue
I Load several processes with flask app and pandas computations slow down response when try to increase number of flask processes

[2021-08-04 13:07] radioactive11 commented on #42875
Can I take up this issue?

[2021-08-04 13:09] jorisvandenbossche commented on #42875
Yes, certainly!

[2021-08-04 14:05] Arnab1181412 commented on #42875
Sir can I take this issue? Im new to the contrib community.

[2021-08-04 14:22] radioactive11 commented on #42875
@jorisvandenbossche I am working on this issue. Just wanted to approve my approach. Currently, an assertion is being raised if `values` is not of type `np.ndarray`.

Instead, we want to raise a `TypeError` with a helpful message stating `values` should be of type `np.ndarray`.

[2021-08-04 14:43] DriesSchaumont opened #42883 "BUG: Using None in nested object MultiIndex causes reindex to misalign."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-04 15:06] jorisvandenbossche commented on #42875
This is raised inside the Index._simple_new. But for fixing this PR, I would add a check higher up in Index.take to avoid that we pass a non-ndarray to Index._simple_new

[2021-08-04 15:36] TLouf commented on #42880
Yes, I would, I'll write one sometime this week.

[2021-08-04 16:02] jorisvandenbossche opened #42887 "REF: move "split" indexing of rows/columns into internals?"
Currently, when indexing 2 dimensions at once, we typically handle each dimension independently in the `indexing.py` code.

For example, consider the following `getitem` operation where we have both a row and column indexer:

[code]

This specific case is finally handled in `_getitem_tuple_same_dim` with

https://github.com/pandas-dev/pandas/blob/226876a55b82324b92449256bab47d431b22310f/pandas/cor

[2021-08-04 17:41] sebasv commented on #42878
I think I found it. It seems to be loss of numerical precision because of a bad summation routine.

[code]
outputs
[code]

[2021-08-04 17:57] Arnab1181412 commented on #42875
@jorisvandenbossche Sure sir and I had one query that how will I know that the issue has been merged successfully .

[2021-08-04 18:17] sebasv commented on #42878
As far as I can see from Python call tracing, `pd.Series.sum` delegates to a C function `np.ndarray.sum`, while `pd.Series.mean` delegates to a C function `bottleneck.reduce.nanmean`. I haven't got C call tracing set up but I'm working through the code to understand why `np.nanmean` isn't used.

[2021-08-04 18:19] jbrockmendel commented on #42887
Initial thoughts:

- I'm sympathetic to this idea, particularly the part about `_setitem_with_indexer_split_path`.
- We have a long-running goal of simplifying internals and trimming the non-internals places that use it.  How this idea affects these goals will depend on the implementation.
- I strongly prefer that anything moved into internals be positional-only.
- some of the costs discussed in `

[2021-08-04 18:26] jbrockmendel commented on #42878
the code for that is in core.nanops, we use bottleneck bc it is generally faster

[2021-08-04 19:01] calvh commented on #28050
take

[2021-08-04 19:31] RenaLu opened #42888 "BUG: Cannot replace NaNs with None"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
Previously, we were able to replace NaN values with `None` for easier insertion into databases like mysql, as listed here:
https://stackoverflow.com/questions/14162723/rep

[2021-08-04 19:41] sebasv commented on #42878
Yep, bottleneck `nansum` and `nanmean` do a naive summation. Wow those floating point errors compound, especially with single precision.

I believe this should be addressed in some way, the precision loss is dramatic and to be honest I was under the impression that compensated summation was the default. I'm filing an issue with bottleneck as well. What would be the preferred action for pandas?  I

[2021-08-04 19:43] sebasv commented on #42878
existing issue for botleneck:
https://github.com/pydata/bottleneck/issues/379#issue-853321302

[2021-08-04 21:27] guziy opened #42891 "BUG: DataFrame.update changes type of updated values"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-04 21:36] dylancaponi commented on #42888
Confirmed we see this same issue.

[2021-08-04 21:55] #42462 closed

[2021-08-04 21:55] challisd commented on #40140
I think there should definitely be a _lookup_ function. Since the old one seems to work well, is un-deprecating it an option? I find the proposed alternative using _melt_ to be unreadable, and based on the (sadly heated) discussion [here](https://github.com/pandas-dev/pandas/issues/39171#issuecomment-780707864) the old _lookup_ function is faster than the _melt_ alternative suggested. Pandas is a

[2021-08-04 21:59] mzeitlin11 commented on #42888
xref #42423

[2021-08-04 22:05] mzeitlin11 commented on #42878
There's some other discussion for this precision vs performance tradeoff in #39622.

[2021-08-04 22:21] dylancaponi commented on #42423
Is there a heads up for this in the migration guide? Would be helpful.

[2021-08-04 22:27] dylancaponi commented on #42888
I think including this info in the migration guide would be a big help.

[2021-08-04 22:46] mzeitlin11 commented on #42888
What do you mean by migration guide @dylancaponi? There was a note in the 1.3 whatsnew (but it's small and probably wouldn't be noticed unless read carefully). I'm not sure how amending the whatsnew works, but given the large number of users who seem to rely on this functionality, devoting a section to this showing new vs old behavior sounds helpful.

[2021-08-04 23:05] mzeitlin11 commented on #42891
Thanks for reporting this @guziy! Looks like a duplicate of #4094 for which there is a stalled pr at #40219 that would fix this case.

[2021-08-04 23:38] jbrockmendel opened #42895 "BUG: DataFrame[Int64].mean().dtype is object, should be Float64"
This breaks the last corner case I want to test for #33036.

[code]

Trivial to fix with 2D EAs, not sure how/if to fix it without.

[2021-08-04 23:46] #39383 closed

[2021-08-04 23:47] dylancaponi commented on #42888
Yes, maybe a "breaking changes and suggested workarounds" section.

I just skimmed the whatsnew again and don't see where this change is mentioned.

[2021-08-04 23:52] #19842 closed

[2021-08-05 00:14] zeitlinv commented on #42881
take

[2021-08-05 00:30] RenaLu commented on #42888
What's the best way around this for now? I tried to revert to `1.2.5` but I got an import error
[code]

[2021-08-05 01:00] mzeitlin11 commented on #42888
It's in the `other` section :) https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.html#other

[2021-08-05 01:03] mzeitlin11 commented on #42888
The other issue has a good workaround: https://github.com/pandas-dev/pandas/issues/42423#issuecomment-876890034
Not sure about your 1.2.5 installation issue, I'd just try installing a fresh one (or fresh env if using something like conda)

[2021-08-05 01:09] mzeitlin11 commented on #42862
To be clear on the scope here, I'm not recommending a redefinition of `pd.NA`, this is how it already works. There are just problems that are specific to object type data

[2021-08-05 01:13] jreback commented on #42888
closing as duplicate of #42423

[2021-08-05 01:32] guziy commented on #42891
I did look for a duplicate in open issues but, there were too many results and I probably missed it. Not sure if this issue being open would help to advance the pull request. Please let me know if you want this to be closed.

[2021-08-05 01:38] mzeitlin11 commented on #42891
There are a lot :)

I had the same question which is why I added the closing candidate label but didn't close. Maybe a more recent issue would make it likelier someone picks up the PR

[2021-08-05 02:12] mzeitlin11 commented on #42683
Thanks for looking into this @anatolix! Do you have the profile results or a nice example to run for the `Int64` slowness you mention? While the enhancement you propose might be a suitable workaround, seems like the ideal scenario would be to make `Int64` as fast as `int64` (since the whole point of `Int64` is to represent integer data which might include nans)

[2021-08-05 02:22] mzeitlin11 commented on #42167
Thanks for reporting this @nathancarter! Investigations to fix certainly welcome

[2021-08-05 02:50] on55 opened #42898 "BUG: dataframe.goupby()"
i have a .py document work ok in before edition, but fail in 1.3.1

these two sentence fail:
   a = abc.loc[:, ['name', 'gl', 'time']]
  output = a.groupby(['name']).sum().reset_index()

it run ok before, but under  pandas edition 1.3.1, it report fail.
i found  output is not what i want , it only have one series with 'name'. the output dataframe drop 'gl' and 'time' list.
it seems  groupby  funct

[2021-08-05 03:42] rhshadrach commented on #42898
Thanks for the report @on55, my guess is that the columns getting dropped have become object-type; this is the default behavior of `groupby(...).sum()` (but see [this related deprecation](https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.html#deprecated-dropping-nuisance-columns-in-dataframe-reductions-and-dataframegroupby-operations)). By calling `groupby(...).sum(numeric_only=False)` (wh

[2021-08-05 04:08] on55 commented on #42898
got it, i found it treat float series as object.
i define the type and everything is ok.
but not sure why former edition is ok, and this edition not work.
thank you.

[2021-08-05 04:08] #42898 closed

[2021-08-05 05:43] #42888 closed

[2021-08-05 05:52] #42403 closed

[2021-08-05 07:56] digital-idiot opened #42899 "BUG: Error in apply operation on groupby if subset of columns are selected"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
In the snippet above `x` works and contains list of arrays as expected. In the next line, sele

[2021-08-05 08:05] jorisvandenbossche commented on #42875
@Arnab1181412 you will get a notification when this issue would get closed.

[2021-08-05 08:13] aecorn opened #42900 "ENH: replace() to produce values from dict-like generators like defaultdict (use map instead)"
[Question I asked on stackoverflow with example-code](https://stackoverflow.com/questions/68662268/pandas-series-replace-not-generating-default-value-from-defaultdict/)

#### Acceptable alternative
One could explicitly call a non-existing key with .map() instead of .replace(). And this would serve as a good alternative to the functionality Im after.
df['code'].map(recode)

#### Feature request
I w

[2021-08-05 09:22] batterseapower opened #42902 "BUG: groupby.ohlc returns Series rather than DataFrame if input is empty"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas. (tested 1.3.1)
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

It is surprising that `groupby.ohlc` returns different data types depending on w

[2021-08-05 10:45] sebasv commented on #42878
I should point out that this error compounds so dramatically that I ran into reproducibility issues with a published paper. The relative error in my data is 0.5%, which completely throws off my metrics.

[2021-08-05 11:21] jreback commented on #42878
note that there has been much discussion about this in #25307 and many linked issues

[2021-08-05 11:41] sebasv commented on #42878
Thank you for linking, I wasn't aware and I am a bit surprised these issues got closed without a pandas-side solution. There the question was raised what pandas should do about a problem in a third-party library. Shouldn't the answer be "do not use that library"? Their routines produce arbitrarily large errors, I don't see how that can be defended. If I choose to use f32 precision on values around

[2021-08-05 11:48] #42866 closed

[2021-08-05 11:51] #35392 closed

[2021-08-05 11:52] #42760 closed

[2021-08-05 11:58] #25475 closed

[2021-08-05 12:01] #41779 closed

[2021-08-05 12:02] #33787 closed

[2021-08-05 12:31] manoelpqueiroz opened #42905 "BUG: RecursionError using `agg` on a resampled SeriesGroupBy"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

When you mix `resample` with `groupby` and try to use the `agg` method to supply multiple functions to either a DataFrameGroupBy or SeriesGroupBy, Python suddently exits without even raising an error.

I first thought I was running into this because I w

[2021-08-05 12:32] jreback commented on #42878
@sebasv we have been using bottleneck for years and float32 while common now was uncommon a few years back

so just don't use the library is not possible - though u can simply uninstall it as it's not a required dependency

that said i believe we actually don't use bottleneck for sum; would be easy to add mean to this list

these choices are never easy - if we just simply don't use the library and

[2021-08-05 12:58] sebasv commented on #42878
If I draft up a PR to add mean to the not-bottleneck list, will it be considered for merging?

For future readers with this problem, either uninstalling bottleneck or `pd.set_option('compute.use_bottleneck', False)` works.

[2021-08-05 13:34] johnzangwill commented on #42864
I appreciate that this has not yet been triaged, but I can propose a solution for GroupBy.iloc that addresses this issue. So I would like to take this.

[2021-08-05 13:55] jreback commented on #42864
ok would be ok with .iloc as long as it's clear how this is different than nth head and tail - eg the usecases r clear in the docs and api

[2021-08-05 14:01] andrewchancgc commented on #25449
Currently August 8th 2021 and I incurred the same issue with conda 4.7.11 and pyton 3.7.3

[2021-08-05 14:23] sebasv commented on #42905
I just ran your example and got
[code]

the problem doesn't happen when I do
[code]
or
[code]

[2021-08-05 15:36] johnzangwill commented on #42864
take

[2021-08-05 16:35] balandongiv opened #42906 "BUG:Getting KeyError when saving style multiindex pandas to excel"
When saving a `df` that has been style into excel, compiler return

    import pandas as pd
    import numpy as np

    def color_negative_red(value):
      if value < 0:
        color = 'red'
      elif value > 0:
        color = 'green'
      else:
        color = 'black'

      return 'color: %s' % color

    np.random.seed(0)
    arrays = [np.hstack([['One']*2, ['Two']*2]) , ['A', 'B', 'A', 'B

[2021-08-05 17:25] panda-byte opened #42907 "DOC: DataFrameGroupBy.transform"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.transform.html

#### Documentation problem

In my eyes, the documentation makes it very unclear how `func` (which is also mislabeled `f` in the parameter descriptions) is actually applied to each group.

General description:

Description of parameter `func`:

I'm not sure if I'm ju

[2021-08-05 22:01] #16404 closed

[2021-08-05 23:33] #15272 closed

[2021-08-05 23:33] #16345 closed

[2021-08-05 23:33] #29129 closed

[2021-08-05 23:51] tyuyoshi commented on #42818
Hi, can I pick this issue as my first OSS contribution?

[2021-08-06 06:18] attack68 commented on #42906
This is nothing to do with `Styler.to_excel`. It is to do with the fact you are using a MultiIndex columns and not supplying a ``subset`` in a valid format, as described in the docs.. Answer provided on SO.

[2021-08-06 06:18] #42906 closed

[2021-08-06 07:41] sami10644 opened #42912 "QST: Generate sentece_id from the word column."
I want to generate sentece_id from the word column. Between two fullstop puncuation ( | ,?, !) all the words will be counted as a sentence_id .
I have two columns named as Words and Labels . I wanna generate a new column which specify the words of the same sentences as an unique id . I have the words and labels column .
Can anyone help me ?
In this format I'm trying to convert - (https://simpletra

[2021-08-06 07:50] MarcoGorelli commented on #42912
Hi @sami10644

This isn't really the place to ask for help - please ask on StackOverflow / somewhere else. If you believe there's a bug in pandas, include a reproducible example and we'll reopen

[2021-08-06 07:50] #42912 closed

[2021-08-06 09:49] simonjayhawkins commented on #42818
@tyuyoshi sure. go for it!

[2021-08-06 10:31] zlzlelzl opened #42913 "ENH: Series types does not support inverse indexing"
#### Is your feature request related to a problem?

Indexed data on series types does not support inverse indexing (like lists in Python).

#### Describe the solution you'd like

In the Series type, I wish negative index to count data from the back.

#### Additional context

[code]
expected data ( it is not good looking )
[code]

[2021-08-06 10:42] jreback commented on #42913
pls ready about indexing https://pandas.pydata.org/docs/user_guide/indexing.html

[] is a label indexer, use .iloc for positional indexing

[2021-08-06 10:42] #42913 closed

[2021-08-06 12:25] Xnot opened #42915 "BUG: df.groupy().rolling().cov() does not group properly and the cartesian product of all groups is returned instead"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

On pandas 1.3.1:
[code]

On pandas 1.0.5:
[code]

1.0.5 has the correct expected output. In 1.3.1, everything in index 1/2/x and 2/1/x is useless and will always