[2019-08-27 11:10] hindamosh commented on #13141
Pandas is awesome really , also I have the same suggestion, in a try to scrape a website directly with the href tags with no need to other pacakges and /functions

[2019-08-27 11:25] JivanRoquet commented on #27017
@hwalinga I second that. One more use case besides `this.kind.of.name` is also when a column name starts with a digit (which is not a valid Python variable name), like `60d` or `30d`.

Currently (as of 0.25.1) even using backticks doesn't work with columns starting with a digit.

[code]

It seems that under the hood, Pandas replaces spaces by underscores and removes the backticks like this:

[code

[2019-08-27 11:33] JivanRoquet commented on #27017
@jreback

I don't think this is right. Datasets' column names (and the people who come up with them) couldn't care less about Python semantics, and it seems reasonable enough to think that Pandas users would expect `eval` and `query` to work out-of-the-box with any kind of dataset column names.

Another way to put it is that the analytics tool (here, Pandas) has to adapt to real-life datasets, ins

[2019-08-27 11:46] TomAugspurger commented on #28162
Dev guide is at https://dev.pandas.io/development/contributing.html#

[2019-08-27 12:38] JoElfner opened #28171 "DataFrame.multiply(Series, axis=1) with 10k+ rows raises AttributeError"
#### Code Sample raising the error:

[code]
not raising the error if up to 10000 rows are taken:
[code]
#### Problem description
Multiplying a DataFrame with more than 10k rows with a Series with the keyword `axis=1` raises the following error:

It seems like another path is taken, if more than 10k rows are multiplied.
Version 0.24.2 did NOT reproduce the error. The error occurs since 0.25.0

Omit

[2019-08-27 12:50] jreback commented on #28170
how is this anything but to_csv / read_csv ?

[2019-08-27 12:58] hwalinga commented on #27017
Thanks for the feedback.

I can understand jreback's perspective. Allowing all these kind of edge cases brings in quite some **ugly** code to the codebase. Unless you have your own language parser build-in. You aren't really solving it very elegantly.

Even if we allow for these kind of edge cases to be valid with the aforementioned hacks, there will all kinds of ways to break it.

Some different

[2019-08-27 13:34] vrumjantsev commented on #25207
Same issue with
numpy==1.17.1
pandas==0.25.1

can be fixed with installing pandas==0.23.4

[2019-08-27 13:36] vrumjantsev opened #28174 "Versions from 0.23.4 to 0.25.1 fail to install on Alpine Linux"
#### Problem description
already have installed numpy==1.17.1

but installation of pandas > 0.23.4 fails with
[code]

[2019-08-27 13:41] TonyCongqianWang opened #28175 "get_dummies ran for 20 minutes and ended without result"
#### CODE
My Python file was only just this:

p_csv= pandas.read_csv(("/myDir/myFile.csv"), index_col=0)
pandas.get_dummies(p_csv, prefix="myDATA_", columns="myDATA")
p_csv.to_csv("/myDir/myNew.csv")

#### Problem description
The script ran in pycharm for over 20 minutes and ended with a SIGKILL. No result.
The Shape is about (450k, 150).

After trying to get it work for over an hour I decided to

[2019-08-27 13:44] JoElfner commented on #28171
ouch, must have missed all issues/pr/changes from 0.25.0 to 0.25.1 when looking for existing issues/prs...

[2019-08-27 14:43] datapythonista opened #28177 "DEPR: Clean up of pandas.plotting"
xref: #26747, #28159

The current plotting API feels inconsistent and I think it's the one we have for historical reasons, and not the one we want. I propose the next changes:

1. Leave the current API based on the `.plot` accessor as is (e.g. `Series.plot.hist`, `Series.plot(kind='box')`). In the future we should consider two things:
- Whether we want backend to be able to add plots that we don't

[2019-08-27 15:17] TomAugspurger commented on #24511
You would need to raise that with fastparquet or pyarrow. I don't whether
or not the parquet format supports that.

On Tue, Aug 27, 2019 at 9:14 AM Al Johri <notifications@github.com> wrote:

[2019-08-27 15:19] ventouris opened #28178 "BUG: descriptor 'axes' for 'BlockManager' objects doesn't apply to 'SingleBlockManager' object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Trying to read a csv file with 300+ columns. The first two of them are string, 300 float numbers and the rest a boolean (0, 1). However, I get this error

[code]
I checked the csv in online validators and it passes from all of them.

#### Expected Output

The expected output would be to read the csv in a datafr

[2019-08-27 16:16] charlesdong1991 commented on #28177
may i have a try on this if some agreements are reached by maintainers?

[2019-08-27 16:20] datapythonista commented on #28177
I'll be creating new issues for the tasks that result from this issue, but you're surely welcome to work on those.

[2019-08-27 16:50] vrumjantsev commented on #28174
pip install pandas==0.25.1
[code]

[2019-08-27 18:03] datapythonista commented on #28168
If I go to a website, and the home page doesn't clarify what the product is about well enough, it's quite likely that I just leave it. Rather than going to the tutorials and spending a significant amount of time on understanding a product I still don't know if I need it or not.

I don't like how the carousel looks right now (I count with the designer to help with that). And we don't necessarily ne

[2019-08-27 20:04] paul-lilley commented on #28104
This looks related to [https://github.com/pandas-dev/pandas/pull/27916/](url) but outside my comfort zone to try altering to return python datetime objects for start_time and end_time when the Period is outside the range of pd.Timestamp

[2019-08-27 20:06] shafaypro commented on #28147
Yes Indeed.

[2019-08-27 20:08] TomAugspurger commented on #28104
I don't think the return type should depend on the value.

Is there any advantage to returning a Timestamp, rather than always return
a datetime? If not, we could deprecate Period.start_time and Period.end_time
in favor of a property that always returns a datetime.

On Tue, Aug 27, 2019 at 3:04 PM Paul Lilley <notifications@github.com>
wrote:

[2019-08-27 20:24] paul-lilley commented on #28104
I can't really comment on the advantages of returning a Timestamp, but as Period is the recommended means to handle datetimes outside pd.Timestamp ([https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#representing-out-of-bounds-spans](url)) it makes more sense (at least to me) that Period methods don't raise exceptions with datetimes outside pd.Timestamp.
My limited use case is

[2019-08-27 20:32] paul-lilley commented on #28104
Good point.
I agree that it makes sense to deprecate Period.start_time and Period.end_time
in favor of a property that always returns a datetime

[2019-08-27 21:08] TomAugspurger commented on #28104
Need a name. Perhaps `Period.start_datetime`?

On Tue, Aug 27, 2019 at 3:32 PM Paul Lilley <notifications@github.com>
wrote:

[2019-08-27 21:52] datapythonista commented on #28168
Surely happy to discuss more about the home page in general. Since nobody made any comment about it in the PR with the proposal, I assumed everybody was happy, and I was moving forward with the details.

I agree with the things you think the home should have. I think it's very aligned with what's in the draft I've got. If you have anything specific that you'd add, remove or change, that would be u

[2019-08-27 22:05] paul-lilley commented on #28104
Sounds good,  `Period.start_datetime` and  `Period.end_datetime`

[2019-08-27 23:27] TonyCongqianWang commented on #28175
Hello, thank you very much for the fast reply.
I have uploaded the files, so feel free to test it.

What is the difference of what the get_dummies method does in my case compared to what I did by hand?

Files:
https://www.amazon.de/clouddrive/share/h37d1hqtrj5SrZTvKdrs9gXltVKUgo8Is9BxL8WH7Sf

[2019-08-28 00:08] bhuvanakundumani commented on #27748
I'd like to work on this

[2019-08-28 01:02] zhaohongqiangsoliva commented on #27017
@hwalinga I won't open a closed question

[2019-08-28 01:06] naught101 commented on #16452
+1 for `"%.16g" as the default. That's a stupidly high precision for nearly any field, and if you really need that many digits, you should really be using numpy's `float128` instead of built in floats anyway.

Using `g` means that CSVs usually end up being smaller too.

[2019-08-28 04:21] paul-lilley commented on #28104
Fair point, though at least the datetime.MINYEAR to datetime.MAXYEAR range covers the typical 'max-date' values (9999-12-31 in DB2 and Teradata, 31DEC9999 in SAS) that I've encountered in datawarehousing tables used to implement type 2 slowly changing dimensions with start_date/end_date. Often the currently valid row is marked by end_date = some (arbitrarily high) 'max-date' to avoid nulls in the

[2019-08-28 06:42] meganson commented on #26314
@TomAugspurger
Here is my source.

ratings = pd.read_csv('/home/ml/rating_stg.csv').groupby(['uno', 'program_title'])['view_percent'].mean().unstack()
ratings.head()

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-19a81104dd78> in <module>
----> 1 ratings = pd.read_csv('/home/m

[2019-08-28 07:27] Ahrimanox commented on #26108
Thanks for your answer !

Unfortunately, we do not have duplicated index levels in our dataframe but we have a lot of columns we put in data frame index.
Between 10 and 25 index levels in average case.
Some of these levels have an huge bunch of unique values.

[2019-08-28 07:36] ivirshup commented on #28166
Sure! I've gone ahead and given that a shot.

[2019-08-28 08:11] hwalinga commented on #27017
@TomAugspurger To give you little background. Using non-python identifiers was solved in https://github.com/pandas-dev/pandas/pull/24955 . However, it was only solved for spaces. This issue talks about extending that functionality. I actually already implemented it here: https://github.com/hwalinga/pandas/tree/allow-special-characters-query

Shall I make a PR? (I will then also make the change to

[2019-08-28 08:24] vrumjantsev commented on #28174
@TomAugspurger pip 19.2.3
[code]

[2019-08-28 08:58] shubhambmehta opened #28186 "pandas.DataFrame.astype casts numerical nulls to string 'nan'"
[code]
#### Problem description

When casting a series from float to string, the nulls in float should also be nulls in string. But, astype method converts the nulls to string 'nan', and so it does not reflect as null.

#### Expected Output
True
True
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
--------------

[2019-08-28 09:35] datapythonista commented on #27622
Based on the discussion in #27623 I think this can be closed.

[2019-08-28 09:35] #27622 closed

[2019-08-28 09:48] datapythonista commented on #27312
I'm -1 on this. Conflicts in whatsnews files are trivial to fix. And this packages adds too much complexity for almost no value (new dependency, new thing to learn, possible bugs...).

[2019-08-28 10:50] martinagvilas commented on #26941
I would like to give this a try, if that's ok.

[2019-08-28 11:12] jackbicknell14 opened #28187 "DOC: Fix PR08 in docstrings"
Hi all,

This is my very first time contributing to an open source project and have tried to follow all guidelines. Apologies if I missed something.

This relates to  [#28031](https://github.com/pandas-dev/pandas/pull/28031)

I have ran `python ./scripts/validate_docstrings.py --errors=PR08` and recieved the following errors regarding capital letters. There are quite a few in here that where the p

[2019-08-28 11:14] jackbicknell14 commented on #28187
I will take care of:

[code]

[2019-08-28 11:31] astyonax opened #28188 "Slow (and weird) empty dataframe creation"
I measured the creation of an empty dataframe with 3 similar arguments:

[code]

If I understand correctly the code in here:
https://github.com/pandas-dev/pandas/blob/171c71611886aab8549a8620c5b0071a129ad685/pandas/core/frame.py#L399

the first 2 constructions are the same: the default value of data is an empty dictionary.
The output is a dataframe of type object.

The 3rd, with np.nan as initial

[2019-08-28 11:32] JivanRoquet commented on #24306
In this case, `pd.read_csv()` is also out of scope, since the user can "easily" open the file from Python and stream it into a new dataframe.

[2019-08-28 11:43] OliverHofkens opened #28189 "Merge on CategoricalIndex fails if left_index=True & right_index=True, but not if on={index}"
#### Code Sample, a copy-pastable example if possible

[code]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
    <tr>
      <th>idx</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
    </tr>
    <tr>
      <th>1

[2019-08-28 12:32] delica1 opened #28190 "Feature request: groupby on columns with overlapping column combinations"
Currently I am not able to use groupby on columns to produce groupings that contain combinations of same columns. Let's say I have a dataframe with columns A, B , C and D. I would like to create groups that contain [A,B], [A,C] and [B,D].

One obvious way to implement this would be to allow as argument a dictionary of lists, where the keys are output labels and the lists are the column labels to b

[2019-08-28 13:06] ChandlerBBT opened #28191 "dataframe's index is blank,"
![image](https://user-images.githubusercontent.com/17948924/63857928-26588d80-c9d7-11e9-9a4f-1454979d6723.png)

![image](https://user-images.githubusercontent.com/17948924/63857961-3a03f400-c9d7-11e9-8e41-efcd684293e1.png)

a daraframe have valida shape number, but its index is a blank list, which start from 0,end at 0. it is so weird!!!

[2019-08-28 13:09] jreback commented on #28191
pls show a reproducible example not images

[2019-08-28 13:13] carlr67 opened #28192 "Rolling with offset and axis=1"
#### Code Sample

Here I have a DataFrame with a DatetimeIndex for the columns:
[code]
The above gives 'ValueError: window must be an integer'

Here I have a DataFrame with a DatetimeIndex for the rows:
[code]
However this works totally fine.

#### Problem description
I believe there may be a bug: If I have a DatetimeIndex in the columns, specifying an offset for df.rolling does not work but gives

[2019-08-28 13:30] CrystalWindSnake opened #28193 "pd.to_datetime() does not respect exact format string ,when I use '%Y-%m-%d'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
ValueError: time data xx 2019-8-1 xxx doesn't match format specified

#### Expected Output
Timestamp('2019-08-01 00:00:00')

####
Normal when executing the following code：
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.

[2019-08-28 14:18] benjaminriviere opened #28194 "BUG : DataFrameGroupBy.quantile segfault"
#### Code Sample

[code]
#### Problem description

Hello all,
I just noticed that there is still an issue with the `quantile` function when used on a `DataFrameGroupBy` object with Pandas 0.25.1. When the groupby operation is done with an empty column, a segfault occurs. Above is a code sample to reproduce the bug. This issue didn't occur with Pandas 0.24.2.

#### Expected Output

Pandas 0.24.2 gi

[2019-08-28 14:37] benjaminriviere commented on #28194
Great then ! I saw the fix but it didn't look related to this issue specifically.

[2019-08-28 14:54] vlbrown commented on #27748
I noticed yesterday that this one is h same: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html>

-- Vicki

Vicki Brown
cfcl.com/vlb

[2019-08-28 14:54] wangxin1194 commented on #28193
You probably need to write format as 'xx %Y-%m-%d xxx'

[2019-08-28 15:30] jreback commented on #27017
@hwalinga your implementation looks ok; even though i am basically 0- on generally using query / eval (as its very opaque to readers); would be ok with this change

[2019-08-28 15:32] astyonax commented on #28188
Ok. I'll come up with something asap

[2019-08-28 17:23] killerontherun1 opened #28196 "Fix GL01,GL02 errors in docstrings"
Since I can't see an open issue to fix GL01 and GL02 errors specifically, creating one. Referencing the methodology laid out in #27977.

Currently running `./scripts/validate_docstrings.py --errors=GL01,GL02` yields:
[code]

[2019-08-28 17:31] killerontherun1 commented on #28196
Fixing a few of these mentioned below:

[code]

[2019-08-28 18:00] delica1 commented on #28190
[code]

Above works as expected and creates a sum of A+B.

I would like to be able to be able to create another group that contains A+C and produces a SUM2, but I don't have a way of doing this with groupby,

[code]
This of course cannot work since I am overwriting 'A', but if I could use a dictionary with output labels as keys (SUM1, SUM2) and input labels as a list, that would work.

So, in my e

[2019-08-28 18:25] jreback commented on #28190
pls read the docs here: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#groupby-aggregation-with-relabeling

grouping like this has no support at all

[2019-08-28 19:00] delica1 commented on #28190
I appreciate using dictionaries is deprecated but my request is not about using dictionaries, but about having any ability at all to have groups with overlapping columns.

[2019-08-28 19:09] ZaxR opened #28202 "DataFrame.nunique and Series.nunique not consistent when Empty"
#### Code Sample, a copy-pastable example if possible

Example A:
[code]

Example B:
[code]

#### Problem description

In Example A, when a DataFrame isn't empty, getting nunique is consistent between the DataFrame and Series approaches; however, when a DataFrame is empty (Example B), DataFrame.nunique returns itself, while the Series approach returns 0.

#### Expected Output

I would expect df.nu

[2019-08-28 21:25] kelmo-data opened #28204 "CSS selector for index cells"
While using **Jupyter notebooks**, I like to change the **color of header cells** in Pandas dataframes (all index cells, up and left) for more **contrast between the indexes and the data itself** (especially when I'm dealing with multiple indexes after using `.groupby()` like in the picture below) :

![example](https://i.stack.imgur.com/BvvvM.png)

I used to achieve this using this CSS code :

[co

[2019-08-28 21:38] jtorcasso commented on #23889
I misinterpreted the documentation. Because the previous bug (which at least applies to version '0.24.2') was to return 0 regardless of min_count (for groupby sum), I interpreted default to mean it would return 0 if all were NaN, which I found really strange.

So I think all is well then in version '0.25.1'. Should this issue be closed then?

[2019-08-28 21:45] TomAugspurger commented on #28204
Can you go through the history and see when / why it was changed?

[2019-08-28 22:01] DavidRosen commented on #28162
Come to think of it, why do we even need .assign() ?  How about just:

`tips['tip_rate'] = tips['tip'] / tips['total_bill']`

BTW, this also has the advantage that the linter won't prohibit spaces around the "=" as it did when we used .assign() (because "=" was for a keyword argument).

[2019-08-28 22:20] kelmo-data commented on #28204
I went through all the changelogs from 0.21 to 0.25.1 but didn't find any mention of it.

[2019-08-28 22:33] WillAyd commented on #28194
Can you try master to make sure? Seemed OK for me

[2019-08-28 22:56] mccarthyryanc opened #28206 "EOFError on Gzipped CSV read from S3"
Not sure if this is a Pandas issue or s3fs issue:
[code]

Gives the following error:
[code]

### Setup
Installed Pandas and s3fs via pip:
[code]
**Pandas version:** 0.25.1
**s3fs version:** 0.3.3

[2019-08-28 22:58] bemao commented on #25043
The issue is closed, but for anyone else that encounters this error: the problem is that his column names are unicode (u'col_name'). He can resolve the issue by converting them to str (df.column = [str(i) for i in col_names]

[2019-08-28 23:01] #26939 closed

[2019-08-28 23:09] bemao commented on #25043
For anyone who encounters this error:

The issue above was caused by the fact that @Shaunakde was using unicode column names (u'col_name'). This issue can be resolved (in python 2.7 at least) by renaming the columns as strings (e.g. my_df.columns = [str(i) for i in list_of_column_names] )

[2019-08-28 23:18] WillAyd commented on #28095
Read through but not sure about this. AFAIK for other languages (particularly Julia) there was an issue distinguishing between `None` and `np.nan`; there are some rough edges but I'd say that distinction is mostly clear in pandas.

For extension types we'd (I assume) mostly be masking the location of missing values anyway, so what particular advantage do you see to returning pd.NA from those inste

[2019-08-28 23:20] WillAyd commented on #28206
Are you getting the same issue if you save the file locally and don't use s3?

[2019-08-28 23:34] kurt-rhee opened #28207 "Localizing dates to a timezone with dls after 2038 does not work (2038 Problem)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[Current behavior correctly dls corrects years before 2038.  It is necessary for forecasting applications (and other applications) to have dls corrections after 2038]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first be

[2019-08-28 23:34] drkarthi opened #28208 "Requiring default index for to_feather() is unintuitive"
#### Code Sample

[code]
#### Problem description

I saw documentation in the code requiring default index at: https://github.com/pandas-dev/pandas/blob/794be8c7ab6897b7206f2c6ec60d22fea2e440a3/pandas/io/feather_format.py#L46-L52

However, I think it is unintuitive to require the user to have a default index before writing to feather (for example this is not a requirement to writing to csv). Why i

[2019-08-28 23:46] mccarthyryanc commented on #28206
I get no error when reading the same file locally.

I just tested with a few different versions of s3fs and it works in 0.2.2, but then fails with the EOFError in version 0.3.0 and up.

[2019-08-28 23:50] WillAyd commented on #28206
Can you decompress the file using s3fs alone (no pandas)?

[2019-08-29 00:00] mccarthyryanc commented on #28206
Good question! No, s3fs+gzip get the same error:
[code]
[code]
So looks like an s3fs issue. I'll close this one. Thanks for the help @WillAyd !

[2019-08-29 00:00] #28206 closed

[2019-08-29 00:20] dsaxton commented on #28202
Looks like something funny happening with `apply` (https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L7966):
[code]
You get similar behavior if you try taking a sum for instance:
[code]

[2019-08-29 00:25] mroeschke commented on #28207
We need a minimally reproducible example: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-29 00:42] simonjayhawkins commented on #28204
I can confirm that the behaviour for _repr_html_ is incorrect. I think this is due to the default for bold_rows being False for DataFrameFormatter while the default being True for to_html.

will do some tests tomorrow but may be caused by #27991

[2019-08-29 03:09] jreback commented on #28208
feather (which is just pyarrow under the hood) does not save the index, so round-tripping fails with a non-default index. this is a design decision of the format to make it simpler. parquet does allow saving of the index.

[2019-08-29 03:09] #28208 closed

[2019-08-29 03:14] CrystalWindSnake commented on #28193
But I want to do fuzzy matching，so I set exact=False

[2019-08-29 03:26] AlJohri opened #28210 "cannot output csv with IntervalIndex"
#### Code Sample, a copy-pastable example if possible

Using `pd.interval_range`:
[code]

Using `pd.IntervalIndex.from_arrays`:
[code]

#### Problem description

[code]

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-08-29 03:28] jreback commented on #28193
under the hood this is doing a regex match which likely fails on the whitespace as it’s a special token

it might be possible to improve this if you want to look, though generallly would recommend using .str ops to clean the dates first instead as you have full control

[2019-08-29 03:28] HecateSilly opened #28211 "使用pivot_table传入values报错KeyError: 0.0"
#### Code Sample, a copy-pastable example if possible
#发现了一个问题：
位置pandas\core\reshape\pivot.py 58行
源代码：
    values_passed = values is not None
    if values_passed:
        if is_list_like(values):
            values_multi = True
            values = list(values)
        else:
            values_multi = False
            values = [values]

        # GH14938 Make sure value labels are in data

[2019-08-29 03:56] ChandlerBBT commented on #28191
are you saying offer related data? sorry, I can't, this is our company's data.
if you are referring to offer code, the image it is.
I encounter this weird situation last night, can not use for loop on a valid dataframe for its index is blank

however, even me can't reproduce this bug again on other toy dataframe....

btw, my pandas vesion is 0.23

[2019-08-29 03:57] lisamartin72 opened #28212 "I think I submitted a pull request to this effect a few months ago, but it looks like you are still using the old donation link from Flipcause. The new donation link to salsa is here: https://numfocus.salsalabs.org/donate-to-pandas"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-08-29 04:01] ChandlerBBT commented on #28191
# 2.1 check not yet activate merchants
        in_time_stat_but_not_yet_act = in_time_stat[in_time_stat.F_activate_time.isnull()]
        in_time_stat_but_not_yet_act_list = in_time_stat_but_not_yet_act.F_merchant_id.tolist()  # 这个列表有可能是None对象

        if in_time_stat_but_not_yet_act_list is not None:
            # 2.1.1 check user's activate time
            in_time_stat_but_not_yet_act_now_act =

[2019-08-29 04:02] ChandlerBBT commented on #28191
# 2.1 check not yet activate merchants
        in_time_stat_but_not_yet_act = in_time_stat[in_time_stat.F_activate_time.isnull()]
        in_time_stat_but_not_yet_act_list = in_time_stat_but_not_yet_act.F_merchant_id.tolist()  # this list might be None

        if in_time_stat_but_not_yet_act_list is not None:
            # 2.1.1 check user's activate time
            in_time_stat_but_not_yet_act_

[2019-08-29 04:04] ChandlerBBT commented on #28191
this bug pop up in the line "        in_time_stat_but_not_yet_act_act_last.index = range(len(in_time_stat_but_not_yet_act_act_last))" , even I rebuild the DataFrame's index manually, still fail to iterate on it, saying the df have empty index !

[2019-08-29 04:18] antarctiqueN opened #28214 "I have a problem about upgrading my packages in pycharm"
I am trying to upgrade the versus of BeautifulSoup4 from 4.6.0 to 4.8.0 and pip from 18.0 to 19.2.3 which are newest versions.

So via the terminal, I used `python -m pip install -U bs4` and `pip install --upgrade pip`. The thing is these two packages are actually installed successfully, but the upgrading is failed.

As the terminal showed, the old version is already installed in the specific loca

[2019-08-29 04:20] jreback commented on #28191
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-29 04:59] Mlawrence95 commented on #28191
It's tough to follow but perhaps try df.reset_index(drop=True)

[2019-08-29 06:02] ChandlerBBT commented on #28191
yep,that's my first try, but hard to believe this also fail.

I tried below ways:

1. reset_index()
2. reset_index(drop=True)
3. reindex()
4. index = range(len(df))

however, all fail on this particular dataframe.

[2019-08-29 06:07] mroeschke commented on #28214
Not sure how this is pandas related; nonetheless, please consult StackOverflow for usage questions.

[2019-08-29 06:07] #28214 closed

[2019-08-29 06:07] ChandlerBBT commented on #28191
Gee... what a shame! I will try to re-go this situation again to see if bug will happen on same df. Frankly say, I am afraid it is my mistake...

After all, I hv learned my lesson, don' put the object's name too long to distinguish

[2019-08-29 08:36] wj-c commented on #28211
“i in tmp_df” roughly equals to "i in tmp_df.columns", which checks whether tmp_df contains a column NAMED "i".  It is completely different from "i in tmp_df.values" (or "i in tmp_df.to_numpy()").

In the example, "i" always equals to 0, which is not a column name of DataFrame tmp_df.

智障

[2019-08-29 08:38] benjaminriviere commented on #28194
I just checked on master and it works. However, there is now a segfault on quantile for SeriesGroupBy. Here's the `show_versions()` output :

[code]

[2019-08-29 09:59] HecateSilly commented on #28211
thanks

[2019-08-29 10:00] #28211 closed

[2019-08-29 11:52] lucassa3 commented on #28162
Hi @TomAugspurger Tom, I just referenced this issue in a PR a while ago. I'm relatively new to contributing to open source projects, so I'd like you to review if this is what was proposed in this Issue.

Best,

Lucas

[2019-08-29 12:20] ViniGl commented on #18006
@TomAugspurger

I was looking forward to fix this issue, but i got a little confused with this comment. You think it's better to raise an exception when there is just one column telling to use the series.plot or plot just like @tenberg tried to ?

[2019-08-29 12:21] hugoecarl commented on #28189
Can i work on this issue?

[2019-08-29 12:30] TomAugspurger commented on #28162
Hi @lucassa3. I think David submitted a PR but didn’t reference the issue. So we won’t need your PR for this issue.

It looks like you made your PR against *your* master branch. In the future you should target pandas’ master branch. Let us know if you need help finding another issue.

[2019-08-29 13:04] delica1 commented on #28190
@TomAugspurger perhaps I can try to make the example clearer but it's already quite minimal.

This is to create a small dataframe with three columns A,B and C:

[code]

My expected output using groupby would be to produce two series: SUM1 and SUM2.

I want the inputs for SUM1 to be columns A and B.
I want the inputs for SUM2 to be columns A and C.

My problem is that there is no combination of gro

[2019-08-29 13:19] TomAugspurger commented on #28190
What's the repr of the expected output?

[2019-08-29 13:24] delica1 commented on #28190
In this case both SUM1 and SUM2 should be: [2, 4, 6]

[2019-08-29 13:26] TomAugspurger commented on #28190
And the index and columns?

[2019-08-29 13:29] delica1 commented on #28190
Sorry I am not sure how to post a well formatted table here, but let me try:

[code]

[2019-08-29 13:34] drkarthi commented on #28208
Got it, thanks for the info

[2019-08-29 13:39] Leostayner opened #28218 "df.to_html display full output when using option to set display.max_colwidth"
#### Code Sample

[code]
#### Problem description

While we are working on issue https://github.com/pandas-dev/pandas/issues/9690 and trying to reproduce the bug we found what could be a possible bug, when using `pd.set_option('display.max_colwidth', 10)`, we expect `df.to_html(escape=False, notebook=False)` to show truncated values, but this does not occurs.

We already know that when using `note

[2019-08-29 13:40] Anatras opened #28219 "Problem with lzma module"
`/usr/local/lib/python3.7/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.`

I get this error when I run the code and I don't know how to fix it

[2019-08-29 13:43] Anatras commented on #28219
I already checked the other related issue but they didn't help me, I have debian 9 installed on my server with python 3.7

[2019-08-29 13:50] TomAugspurger commented on #28219
That's just a warning, not an error.

You'll need to reinstall Python. If you're building from source you need to make sure that the proper headers are in place.

[2019-08-29 13:54] TomAugspurger commented on #28212
Hi @lisamartin72, can you point me to where you saw the old link? https://pandas.pydata.org/donate.html has the new one (I think).

[2019-08-29 14:11] Anatras commented on #28219
which headers do I need?

[2019-08-29 14:11] jschendel commented on #28210
Thanks, for the report.  I can confirm this behavior on master:
[code]

A temporary workaround is to cast the index to string prior to writing the output:
[code]

[2019-08-29 14:19] kelmo-data commented on #28204
Great! Thank you!

[2019-08-29 14:26] dworvos opened #28220 "pd.merge regression when doing a left-join with missing data on the right. Result has a Float64Index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I looked on the GitHub tracker for similar issues but the closest I found was #24897. In previous versions of pandas it would return a Int64Index but now returns a Float64Index. I didn't see this behaviour documented in the release notes of 0.25, but please let me know if I've missed it. This bug is easy to rep

[2019-08-29 14:53] Anatras commented on #28219
I've installed python again but same error

[2019-08-29 14:57] TomAugspurger commented on #28219
I'm not sure. I suspect the Python docs have some information.

On Thu, Aug 29, 2019 at 9:53 AM Anatras <notifications@github.com> wrote:

[2019-08-29 15:05] MarcoGorelli commented on #28210
In the example
[code]

is the expected output
[code]

or is that just a temporary workaround to avoid an error?

[2019-08-29 16:05] kurt-rhee commented on #28207
Hey @mroeschke, apologies for that.  I have edited my question to include a minimally reproducible example as requested.  Please note that running the code snippet above results in all hours in 2038 and after remaining in UTC-8, while the dls correction works fine for years before 2038.

Thanks!

[2019-08-29 16:22] AlJohri commented on #28210
I think the string representation would be fine as the expected output. If a user wants a non-string output they can break the IntervalIndex out into `index.left` and `index.right`.

[2019-08-29 16:24] jschendel commented on #28210
Yes, that should be the expected output, or at the very least is consistent with previous versions where this was working.

Note that my example produces string output because I didn't pass anything for `path_or_buf` in [`to_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html), so the behavior in that case is to display a string output of what would be wri

[2019-08-29 16:33] masangster opened #28222 "Implement str.contains for Dataframes so it can be used on multiple columns at once"
Hi all,

I would like to be able to utilise str.contains to return a boolean of all of the cells in a DataFrame that at least partially match a certain string. Currently this can only be applied for a single column at a time as it is only implemented for Series, and my searching has not found an elegant solution for this over multiple columns simultaneously.

Thanks!

[2019-08-29 16:41] jreback commented on #28222
just apply over the columns of interest and any/all

i am -1 on having these act on Dataframe

[2019-08-29 17:23] simonjayhawkins commented on #27353
when using the ABCs in isinstance checks the expressions resolves to Any.

so every PR citing this issue is reducing the type checking and not allowing mypy to narrow types.

should we have ABCs that are not created dynamically at runtime or should we only use the ABCs where necessary to eliminate the need for a cast.

the contributing guide would suggest the later in the short term until we have

[2019-08-29 17:38] lisamartin72 commented on #28212
Hi Tom,

I am new to using GitHub! My husband is usually around to consult, but he
is out of town this week.

I looked at your repo because we were still getting a donation or two
coming in for pandas via Flipcause. When I went on GitHub to see if you
still had the old link up I saw what I screen shot below. You must have the
old link up somewhere because I think it was a new donation, not a
recur

[2019-08-29 18:17] zero323 commented on #25601
Just passing but I thought I might put my two cents in. Please keep in mind that this comes from a place, where the cost of potential failure is way more expensive than additional dev time.

Personally I'd advise against such approach. There are a few reasons for that:

- First of all if the type hint is [truly atrocious](https://github.com/zero323/pyspark-stubs/blob/7e3ffd7c4983c233acf9b1da62274e

[2019-08-29 18:28] simonjayhawkins commented on #25601
@zero323 Many thanks for sharing your wisdom here.

[2019-08-29 19:27] robsonfs commented on #28219
I had this problem recently ... but here, upgrading from Python 3.7.3 to Python 3.7.4 solved the problem!

[2019-08-29 20:18] TomAugspurger commented on #28219
@Anatras another user mentioned the `xz` library.

Closing, since this is an issue with the Python install, not pandas.

[2019-08-29 20:18] #28219 closed

[2019-08-29 20:49] TomAugspurger commented on #28222
Also -1 here. I think the semantics about what to do with non-str columns and how to join together the output of `.str` ops that return a DataFrame would make this too confusing.

This would make for a nice cookbook entry, like "How do I perform string operations on multiple columns?"

[2019-08-29 20:59] subash955 commented on #28202
Beginner here, can I give this a shot?

[2019-08-29 21:39] randomstuff commented on #27758
@charlesdong1991, In the example given I'd assume the output should be the same as if the `.plot()` call was not done. There is really not much reason from a user point of view to fail in this case. Plotting empty data should just plot an empty line on the existing axis.

If the axis is created I guess I would expect it to have a type related the index dtype (the x axis should have dates if the Se

[2019-08-29 22:40] simonjayhawkins commented on #28218
I'm not sure I follow. notebook=False is the default for to_html (i.e. the generated HTML is NOT for IPython Notebook.)

In this case, the output should NOT be truncated (i.e. ignore pd.set_option('display.max_colwidth', 10)), irrespective of the value of escape?

[2019-08-29 22:55] simonjayhawkins commented on #27353
also could add types to pandas.core.dtypes.generic using cast or add a stub file for pandas.core.dtypes.generic

adding a stub file would be inconsistent with our current approach for a standard internal python module, but is straightforward if we don't need to type check pandas.core.dtypes.generic itself. (it's mainly dynamic in nature).

[2019-08-30 02:00] CrystalWindSnake commented on #28193
I got it, thank you for your reply.

[2019-08-30 06:52] Rajasivaranjan commented on #20454
Try using Open command as below. It worked for me.
df = pd.read_csv(open(filename, 'r'))

[2019-08-30 06:55] Rajasivaranjan commented on #9438
Try using Open command as below. It worked for me.
df = pd.read_csv(open(filename, 'r'))

[2019-08-30 07:01] vrumjantsev commented on #28174
@TomAugspurger no

[2019-08-30 07:25] seemasinghh commented on #12654
Hi, I don't have any idea about sas to pandas this is the new term I  want to know more about it because now I am a student of SAS in CETPA where I learn basic to advance about SAS.

[2019-08-30 07:43] masangster commented on #28222
Thanks all - reasoning understood. For now I am simply adding `astype(str)` in front of the `str.contains` to avoid issues with non-string columns, which I understand may not be easy to generalise/ provide expected behaviour for all use cases.

[2019-08-30 07:43] #28222 closed

[2019-08-30 08:13] peterpanmj commented on #26632
I am investigating into it.

[2019-08-30 08:25] f6v commented on #27485
I'll prepare a PR for this.

[2019-08-30 12:00] datapythonista commented on #21747
I think this is superseded by #27955, should we close this?

[2019-08-30 12:51] jarriq opened #28231 "Update documentation on pd.read_excel, to reflect the fact that support for OpenDocument files is available"
[code]
#### Problem description

I was searching for support for reading _.ods_ files, and upon reading the documentation for _read_excel_ and IO related functions, I found nothing.

When I was about to search for another library, I discovered that support had already been added to the _read_excel_ function (as of #2311), but the docs weren't updated, either in _ExcelFile_, or in the _read_excel_

[2019-08-30 13:01] ar4hc commented on #27526
sry, just reverted back to 0.24 and went to fix the other issues i have... :-\
and didn't watch here.

[2019-08-30 13:29] TomAugspurger commented on #26632
Thanks!

On Fri, Aug 30, 2019 at 3:13 AM Wenhuan <notifications@github.com> wrote:

[2019-08-30 13:50] TomAugspurger commented on #28174
Hard to say what's going on then. Let us know if you're able to debug things.

[2019-08-30 14:32] #28210 closed

[2019-08-30 14:42] TomAugspurger commented on #18006
We shouldn't special case a 1-column dataframe. We need to decide how to interpret `colors` when we have a dataframe. I'm not sure what the expected behavior. Do you have a suggestion?

[2019-08-30 14:47] #27519 closed

[2019-08-30 16:07] TomAugspurger commented on #28147
Reran with Python 3.8b4. Things seem OK, but a bunch of plotting tests are failing.

[2019-08-30 17:06] #28204 closed

[2019-08-30 17:08] #26443 closed

[2019-08-30 17:12] TomAugspurger commented on #28212
It looks like your screen shot didn't attack correctly, sorry.

I haven't found any references to flipcause here or in the repository for the website pandas.pydata.org. So Hopefully we've found them all.

[2019-08-30 17:12] #28212 closed

[2019-08-30 17:13] WillAyd commented on #28231
Makes sense - would certainly take a PR if you'd like to try one

[2019-08-30 17:14] TomAugspurger commented on #28194
Can you show a failing example?

Did you make sure to recompile the C extensions before running that?

[2019-08-30 17:15] TomAugspurger commented on #28191
Let us know if you think there's a pandas bug and we'll reopen.

[2019-08-30 17:15] #28191 closed

[2019-08-30 17:18] WillAyd commented on #28220
Yea I think you expected output makes sense. If you'd like to debug and see where regression was produced would certainly take a PR to fix

[2019-08-30 17:27] YvesJacquot opened #28234 ".to_csv in jupyter notebook giving "unexpected keyword argument 'tupleize_cols' " error"
#### Code Sample
[code]

#### Problem description
In Jupyter notebook, the to_csv method does not work anymore since I upgraded pandas to version 0.25.1
It gives the following error message:

#### Output of ``pd.show_versions()``

<details>

commit           : None
python           : 3.6.3.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 17.7.0
machine          : x86_64
p

[2019-08-30 17:29] WillAyd commented on #28234
Can you post the full traceback?

[2019-08-30 17:33] Liam3851 commented on #28207
This is unrelated to pandas. I can reproduce with pure pytz and datetimes:

[code]

You might want to put in a feature request over at pytz if the predictions of far-future DST changes matter to you.

[2019-08-30 17:33] jreback commented on #28234
https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#removal-of-prior-version-deprecations-changes

tupelize_cols has long been deprecated and was removed

[2019-08-30 17:33] #28234 closed

[2019-08-30 17:34] YvesJacquot commented on #28234
Sure, here it is...

[code]

[2019-08-30 17:39] kurt-rhee commented on #28207
@Liam3851

Ah I see, thank you for the help.  I will post over on pytz.

[2019-08-30 17:39] #28207 closed

[2019-08-30 17:40] YvesJacquot commented on #28234
@jreback
thanks for your reply, but how do I fix this? what is the "tupelize_cols" argument?

[2019-08-30 17:43] jreback commented on #28234
you need to remove the argument

[2019-08-30 17:45] WillAyd commented on #28234
It might be a problem with one of the third party libraries if you aren’t using it directly. If you search closed issues I think this was raised once or twice before and came back to third party versions

[2019-08-30 17:47] YvesJacquot commented on #28234
@jreback I do not have that argument in
@WillAyd Thanks. Yes I saw one mentioning a numpy upgrade, which I did, but it did not solve the issue

[2019-08-30 17:51] WillAyd commented on #28234
You don't have a problem calling that outside of a notebook right? Not sure what would be wrapping that function but seems to be doing so incorrectly. Was hoping the traceback would provide more insight but doesn't look like it, so maybe try upgrading jupyter if nothing else works.

Unfortunately not a pandas issue though, so might need to search StackOverflow or something else to see which librar

[2019-08-30 18:23] machow commented on #28188
@WillAyd I am pretty sure this is related to the issue with `_try_cast` running to often on Series construction #28145

For the slow, cast it takes up half the construction time. This is because np.arange produces an int dtype, so _try_cast does expensive checks on whether it can cast it to a datetime (AFAIK it never will, and shouldn't)

Note how much time is spent sanitizing the array

![image](

[2019-08-30 18:50] TomAugspurger commented on #28190
@delica1 thanks. IIUC, this pretty fundamental changes the groupby model, so I think we'll pass. I'd recommend writing a small helper function that takes your mapping of outer names to groupings, apply each groupby operation, and then concatenate the results.

[2019-08-30 18:55] jreback commented on #28190
this is also easily accomplished by doing 2 independent groupbys and then concatting the result which imho is much more clear anyhow

[2019-08-30 19:01] delica1 commented on #28190
@TomAugspurger the only way I can see how to do this right now would be to use a regular python loop and then within the loop use df.filter to capture the columns I want and create a new named series on each iteration. So if I was using a dictionary like a I suggested above it might work something like this:

[code]

But doing this over a few million series is very, very slow.

I appreciate now th

[2019-08-30 19:06] TomAugspurger commented on #28190
I'm not sure how it would be sped out, but if you figure something out you might post it here for others.

[2019-08-30 19:13] delica1 commented on #28190
@TomAugspurger well, my only option at this point is taking all of my inputs and outputs, working out how many independent groupbys I need to create out of those and then doing that. That will work, but at that point I am creating some sort of mapping plan for groupby, that I feel should be a pandas internal thing, and I really did not want to be in that kind of business.

But again, I appreciate

[2019-08-30 19:14] oleksandr-pavlyk opened #28235 "pandas._lib.testing.assert_almost_equal seem to not use approximate equality for Series with complex doubles"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When running tests on MacOSX with Pandas 0.25.1, the test `pandas.tests.computation.test_eval.TestMathNumExprPandas::test_result_complex128` fails because of this issue.

#### Expected Output

It is expected that `pandas._lib.testing.assert_almost_equal` would use `np.testing.assert_almost_equal` for all `np.fl

[2019-08-30 19:19] TomAugspurger commented on #28190
I'm not sure, but my initial reaction is that this belongs outside of
pandas.

On Fri, Aug 30, 2019 at 2:13 PM delica1 <notifications@github.com> wrote:

[2019-08-30 19:42] TomAugspurger opened #28236 "seed isort known_third_party pre-commit hook"
@basnijholt question on this. When making changes in https://github.com/pandas-dev/pandas/pull/28164, seed_isort_known_third_party wants to make the following changes.

[code]

Is that expected? It also takes quite a while to run (5ish seconds). Is that expected?

[2019-08-30 21:50] TomAugspurger commented on #28046
Duplicate of https://github.com/pandas-dev/pandas/issues/27748.

[2019-08-30 21:50] #28046 closed

[2019-08-30 21:51] TomAugspurger commented on #18030
Still open, and will be closed when it's fixed. @marchezinixd are you interested in working on it?

[2019-08-30 21:53] TomAugspurger commented on #28187
Thanks @jackbicknell14 . I believe this is the same as https://github.com/pandas-dev/pandas/issues/25232.

Feel free to work on pieces of it at a time, and reference that issue in each PR.

[2019-08-30 21:53] #28187 closed

[2019-08-30 21:54] TomAugspurger commented on #27312
I'm also OK with the low-tech current solution. Thanks for raising, but we'll pass @pilkibun.

[2019-08-30 21:54] #27312 closed

[2019-08-30 21:57] TomAugspurger commented on #28104
I personally don't care about representing date times that python can't.

On Tue, Aug 27, 2019 at 11:21 PM Paul Lilley <notifications@github.com>
wrote:

[2019-08-30 22:19] jbrockmendel commented on #27143
This hasn't caused any trouble locally for a month; closing.

[2019-08-30 22:19] #27143 closed

[2019-08-30 22:24] dragoljub opened #28238 "pd.to_datetime() fails for KeyError when raising monotonic increasing index ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Sometimes during data processing after pivoting or sampling data you may end up with a float index that is not sorted. When you try to convert a series which happens to have an unsorted float index to a DateTime, a ValueError followed by KeyError occurs. Also, this only happens for a series with 60 elements or m

[2019-08-30 22:28] dragoljub commented on #28238
@jreback This started occurring in some of my data flows when I upgraded from pandas 0.23.4 to 0.25.0

[2019-08-30 22:52] mroeschke commented on #28238
I think this happened because the `cache` keyword was changed to `True` between those versions.

`cache=False` should be able to fix this behavior, but this should work nonetheless.

[2019-08-31 02:02] jbrockmendel commented on #28079
@jreback @jorisvandenbossche @TomAugspurger this won't be hard to fix, needs input on what the desired behavior is.

[2019-08-31 04:57] andrewgsavage commented on #27995
Hmm, that isn't triggering a warning - what are you expecting?

[2019-08-31 09:30] xflr6 opened #28240 "Missing <th> for index in notebook display of pd.DataFrame in 0.25.1"
#### Code Sample, a copy-pastable example if possible

![screen](https://user-images.githubusercontent.com/6342379/64061988-c6820280-cbe1-11e9-8ae7-7bedd4828489.png)

#### Problem description

Since `0.25.1`, the row index ("A" and "B" in [2]) is not shown in boldface any more.

#### Expected Output

Same as in [3] (pre `0.25.1` output)

#### Output of ``pd.show_versions()``

<details>

INSTALLED

[2019-08-31 10:48] simonjayhawkins commented on #28240
@xflr6 Thanks for the report. This is a duplicate of #28204

[2019-08-31 10:48] #28240 closed

[2019-08-31 14:17] liquidscorpio opened #28242 "to_record fails on aggregate DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `to_records` call should output a proper data structure. Instead, it fails with the following stacktrace:

[code]
However, `agg_df.to_dict(orient='records')` works returning a list of dicts.

**Note**: Also fails on (along with the version in the details section below):
- pandas 0.24.2
- numpy 1.16.2

####

[2019-08-31 14:36] vignesh96 commented on #28242
I think because the index is included in the data frame as the default, you are getting this issue. Fixed this by setting index=False in to_records() function. Let me know if this the desired solution.

[2019-08-31 15:36] liquidscorpio commented on #28242
Thanks, @vignesh96! Either of the options - `index=False` or renaming index columns work.

Closing.

[2019-08-31 15:36] #28242 closed

[2019-08-31 16:14] dsaxton opened #28243 "BUG: Left join on index and column gives incorrect output"
[code]
#### Problem description

This is closely related to https://github.com/pandas-dev/pandas/issues/28220 but deals with the values of the `DataFrame` rather than the index itself.  When left joining on an index and a column it looks like the value `"b"` from the index of `df_left` is somehow getting carried over to the column `x`, but `"a"` should be the only value in this column since it's t

[2019-08-31 16:53] KaneFu opened #28244 "data frame rolling std return wrong result with large elements"
#### Code Sample, a copy-pastable example if possible

[code]

[2019-08-31 20:40] astyonax commented on #28188
It may well be the case that with my changes `_try_cast` is not called anymore. Here follow the snakeviz (whose existence I didn't know before, btw) for this code
[code]

![Screenshot from 2019-08-31 22-35-23](https://user-images.githubusercontent.com/10552313/64068934-eba55e00-cc3f-11e9-953c-4c0dd0b411bf.png)

and zooming in construction.py
![Screenshot from 2019-08-31 22-35-56](https://user-imag

[2019-08-31 22:50] oguzhanogreden commented on #28023
I've looked into this a bit, Thanks to the useful pointer of @jorisvandenbossche, I got that solution ready.

In addition, the fact that this "works" when there's no repeated index actually is pointing to another bug. In that case, the returned data frame has a `Float64Index`.

[code]

I have an idea for a solution but not sure of its possible implications. I'll look into it a bit and make a PR.

[2019-09-01 00:53] zys5945 commented on #27081
Should the __eq__ on ExtensionScalarOpsMixin be changed to take care nan, or should ExtensionArray expose a .equals() that does that?

I believe DecimalArray is the only class that inherits the ExtensionScalarOpsMixin.

@jreback

[2019-09-01 03:44] ivalaginja commented on #24036
Does pandas have a DOI for native software citation, like matplotlib? See [here](https://zenodo.org/record/3264781#.XWs-Yy2ZOX0), where I can get a bibtex entry for native software citation, depending on the version I use or a concept DOI.

[2019-09-01 08:51] mglowacki100 opened #28246 "pandas .transform incosistent behavior for list"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I was hinted that it could be a bug: https://stackoverflow.com/questions/57743798/pandas-transform-inconsistent-behavior-for-list
There are two things, but let focus on one:
Result of
`df['n_list_problem'] = df.groupby(['label'])[['wave']].transform(list)
`is not consistent with similar operations like `df['n_tu

[2019-09-01 12:06] harmbuisman opened #28247 "[Bug][Regression] df.groupby.apply fails under specific conditions"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code gives an error (KeyError: 0) in pandas 0.25.1, while it runs as expected in pandas 0.24.2

The apply function returns a timeseries.
I found that triggering the error is related to having a datetime column in the dataframe. Without that column it does not throw an error.

#### Expected Output
No e

[2019-09-01 16:48] simonjayhawkins commented on #27568
no of errors for the relevant modules..
[code]

[2019-09-01 17:10] mabelvj commented on #24893
Is it really a bug or is it expected that since the result fo the columns are integer the margin are integer too?

I see that there are test referencing that np.means of ints are casted back into ints:
https://github.com/pandas-dev/pandas/blob/03b3c8fc82b3a18a3ddcad1b3b26d601467fc74c/pandas/tests/reshape/test_pivot.py#L1604
https://github.com/pandas-dev/pandas/blob/03b3c8fc82b3a18a3ddcad1b3b26d601

[2019-09-01 19:40] delica1 commented on #28190
Well, here's to hoping this may still change. It seems to me at least that aggregating with such overlaps would be a somewhat common scenario. Please let me know if I can help in any way.

[2019-09-02 02:56] Ochirgarid commented on #11978
Received this issue from CodeTriage. Seems like it is already closed issue @jorisvandenbossche could you explain why you reopened the issue?

[2019-09-02 07:14] OmerJog commented on #4899
was this fixed?

[2019-09-02 07:16] maartenbreddels commented on #8640
I wonder if it makes sense to have a stringarray module for Python, that uses the arrow spec but does not have an arrow dependency. Pandas and vaex could use that, or other projects that work with arrays of strings.

In vaex, almost all of the string operations are implemented in C++ (utf8 support and regex), it would not be a bad idea to split off that library. The code needs a cleanup, but it's

[2019-09-02 08:08] JoKeyser commented on #24036
Pandas could also get a Research Resource Identifier (RRID), see e.g. [matplotlib (RRID:SCR_008624)](https://scicrunch.org/resources/Any/record/nlx_144509-1/SCR_008624/resolver?q=matplotlib&l=matplotlib). The RRIDs of the software I used was requested in a review process by the [European Journal of Neuroscience](https://www.fens.org/EJN/).

[2019-09-02 08:41] benjaminriviere commented on #28194
I used the same code sample :

[code]

I followed the instructions given in the contribution guide and the Pandas documentation. I recompiled all the C extensions and I didn't get any error. I can try again to see if that changes something.

[2019-09-02 09:10] floriancartuta opened #28249 "Misbehavior for Dataframe updates on unexisting DateTime index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

According to Pandas documentation, the updates of a cell value based on index lookup (df.loc and df.at) should work correctly only when the index is existing within dataframe.
The problem I encoun

[2019-09-02 09:57] YvesJacquot commented on #28234
I upgraded jupyter notebook to the latest version (6.0.1.) and it solved the issue.
Thanks for you help!

[2019-09-02 10:14] vgrabovets commented on #27543
Solved the issue by `sudo apt-get install liblzma-dev` prior to compiling python 3.7.4 from source.

[2019-09-02 12:14] TomAugspurger commented on #24036
I don't think pandas has either of those.

[2019-09-02 12:17] TomAugspurger commented on #4899
No, it's still open.

[2019-09-02 12:33] chrisyeh96 opened #28250 "Add support for reading Stata .dta file format 119"
Please add functionality to read format 119 `.dta` Stata files! See file format here: https://www.stata.com/help.cgi?dta#versions

Currently, even though Pandas can _write_ format 119 files (https://github.com/pandas-dev/pandas/blob/612d3b23da5b99f6c5642be574fb08713a45d7d1/pandas/io/stata.py#L2663), it seems unable to _read_ format 119 files (https://github.com/pandas-dev/pandas/blob/612d3b23da5b9

[2019-09-02 15:52] languitar opened #28252 "Parquet file written with fastparquet backend cannot be read with pyarrow backend"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A parquet file written with the `fastparquet` backend cannot be converted back to a pandas data frame when read with the `pyarrow` implementation. Conversion fails with the shown Exception, which seems to be part of applying the pandas meta data.

#### Expected Output

Successful conversion.

#### Output of ``p

[2019-09-02 16:11] danielplawrence opened #28253 "Fix PR06 errors in docstrings ('Parameter "{param_name}" type should use "{right_type}" instead of "{wrong_type}"')"
[link to original issue](https://github.com/pandas-dev/pandas/issues/27977 (27977))

The output of `python scripts/validate_docstrings.py --errors=PR06` returns 257 instances of 'Parameter "{param_name}" type should use "{right_type}" instead of "{wrong_type}'

Given the large number of cases, it probably makes sense to break them out by class:

- [x] pandas.Series
- [ ] pandas.Timestamp
- [ ] pan

[2019-09-02 16:12] danielplawrence commented on #28253
I'll have a go at the first 10 here

[2019-09-02 16:18] broesler opened #28254 "ENH: .pipe to subset of columns"
#### Feature Request

I often find myself writing code like the following to create a pipeline:

[code]

where I end up applying a function to a subset of columns. It is cumbersome to write an additional function that ends up in the pipeline, or to write separate lines outside of the pipeline such as:

[code]

It would be much more convenient if `df.pipe` accepted a `columns` keyword argument that

[2019-09-02 16:34] jreback commented on #28254
why cannot you just use .assign directly for this?

[2019-09-02 20:00] broesler commented on #28254
Would you just use a dictionary comprehension for a large number of columns? Something like:

[code]

Or is there a better way?

[2019-09-02 20:02] broesler commented on #28254
Would you just use a dictionary comprehension for a large number of columns? Something like:

[code]

Or is there a better way?

[2019-09-02 20:45] #22271 closed

[2019-09-02 21:00] TomAugspurger commented on #28254
I think I’m against this. Right now pipe passes through all the kwargs. I would hate to make an exception to that.

[2019-09-02 21:04] WillAyd opened #28256 "Timedelta in to_json object array and ISO dates not handled properly"
Intertwined with #15137 though a slight different issue.

`date_format="iso"` has different behavior for Timedeltas depending on whether or not the Timedelta is in a DTA or an object array. To illustrate:

[code]

By contrast the same issue does not appear with datetimes
[code]

[2019-09-02 21:27] jorisvandenbossche commented on #8640
I think Arrow also plans to have some string processing methods at some point, and would welcome contributions. So that could also be a place to have such functionality live.
But you explicitly mention a library compatible with but not dependent on Arrow? In Vaex, Arrow is already a dependency, or only optional? Do you think of potential use cases / users that would be interested in this, but wher

[2019-09-02 23:23] dsaxton commented on #28244
Seems like the issue is in `roll_var` from `pandas._libs.window`: https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/window.pyx#L701

Not sure how you'd debug this, but it looks like the function behaves as though all the remaining elements are zero:
[code]

[2019-09-02 23:52] #10065 closed

[2019-09-03 04:13] hmeine commented on #15825
@akravetz can you clarify how you came to that conclusion? (“citation needed” ;-) )

I am very low on time ATM, and I would need some motivation to look into it again. It contradicts my statements above, and I know I spent quite some effort into researching this issue. So I guess your statement is not true, at least not in its generality.

It would be helpful to know if you found that statement so

[2019-09-03 06:51] Jasonsey opened #28261 "TypeError: can only concatenate list (not "int") to list"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
1. in pandas version 0.24, the code went well
2. in pandas version 0.25.1, the code raise TypeError can only concatenate list (not "int") to list
[code]

#### Expected Output

no error should be raised

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : Non

[2019-09-03 07:12] s-mariani commented on #25068
Dear everybody, any update on this? I'm trying to compare only 2 decimals but it seems it still checks 3...

[2019-09-03 08:14] twolodzko opened #28262 "Non-silently handle duplicate column names"
#### Code Sample, a copy-pastable example if possible

[code]

Hopefully:
[code]

But...
[code]

#### Problem description

At this moment, Pandas allows duplicate column names. This can potentially lead to problems, when user expects to receive `pd.Series` when asking for a single column, if they are not aware that the column names are duplicated.

This is especially problematic with automatic pro

[2019-09-03 09:41] cupen opened #28263 "pandas.read_parquet cause OOM, it's a 200MB file, 600M rows."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6741512 entries, 0 to 6741511
Data columns (total 5 columns):
index        int64
_id          object
wxOpenID     object
channel      object
createdAt    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 257.2+ MB

It have 600M rows wri

[2019-09-03 10:51] lucassa3 commented on #28162
Yes, I accidentally forgot to change merge target when opening the PR. I'll check other issues around, but thanks for the feedback Tom!

[2019-09-03 11:22] maartenbreddels commented on #8640
In vaex-core, currently (because we were future compatible due to 32bit limitation) we are not depending on arrow, although the string memory layout is arrow compatible. The vaex-arrow package is required for loading/writing with arrow files/streams, so it's an optional dependency, vaex-core does not need it.

I think now, we could have a pyarrow dependency for vaex-core, although we'll inherit al

[2019-09-03 11:29] TomAugspurger commented on #28162
Closed by https://github.com/pandas-dev/pandas/pull/28182.

[2019-09-03 11:29] #28162 closed

[2019-09-03 11:30] ViniGl commented on #18006
We could plot the bars with just one color and check `colors`, if it's this case, just trigger a warning informing about the series plot or add a bool parameter that redirect to the series plot. What do you think?

[2019-09-03 11:30] TomAugspurger commented on #28263
Do you think this is a pandas issue, or an issue with the underlying parquet engine (fastparquet or pyarrow?)

Can you paste the traceback from the OOM error?

[2019-09-03 11:33] TomAugspurger commented on #28262
Looks like a duplicate of https://github.com/pandas-dev/pandas/issues/27108.

There's quite a bit of design to be done there (most prominently, whether this is a property of the Index or the DataFrame/Series).

[2019-09-03 11:33] #28262 closed

[2019-09-03 11:37] TomAugspurger commented on #28261
cc @jbrockmendel.

I'm not sure if this is something we can easily support right now.

[2019-09-03 11:44] Leostayner commented on #28218
So `notebook=False` should not truncate? We're a little confused with that, we couldn't find this specification in the documentation. Is there anywhere describing this? If so, where?

https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options

[2019-09-03 11:46] TomAugspurger commented on #28079
What's the proposal here? To always mask before doing the op, so that `ser.lt(ser2)` doesn't raise?

[2019-09-03 11:50] TomAugspurger commented on #18006
I don't think a warning is correct. If thee input is incorrect then we should raise an exception.

[2019-09-03 12:02] cupen commented on #28263
I know this is probably a problem with parquet engine, but it's so obvious that I think there should be an `pandas-usage` issue to record it.  :)
You can add a tag for this issue.    'usage problem' or 'RTFM'

I'll try to get the traceback then, before it killed by os.

[2019-09-03 12:07] ViniGl commented on #18006
Well, so if it's this case just raise an exception would be best?  I can open a PR for this and we can discuss if it fits or not.

[2019-09-03 12:21] tbagnoli commented on #27718
@TomAugspurger why, though? In 3 years as a data scientist I haven't yet encountered an example in which I wanted to use (and therefore attach meaning to) something that can be altered as easily as with a `reset_index()` operation. I'm always using the non-default option and I'd say it's legitimate to ask ourselves whether the community actually desires this behaviour?

[2019-09-03 12:34] TomAugspurger commented on #27718
I think the dsintro page may explain why.

[2019-09-03 12:37] TomAugspurger commented on #27718
We have another issue discussing index subclasses that don’t trigger alignment, etc. for these indexes, it may make sense to not write them out, but I’m not sure if that’s been discussed.

[2019-09-03 13:51] TomAugspurger commented on #28263
OK, typically we only leave issues open that are well-defined and have a
concrete action we can take. In this case, it's not clear whether it's a
bug (in pandas or elsewhere) or a usage issue or something else. Please
post additional details when you can.

On Tue, Sep 3, 2019 at 7:02 AM 咚咔 <notifications@github.com> wrote:

[2019-09-03 14:18] wesm commented on #8640
Arrow is only a large dependency if you build all the optional components. I'm concerned there's some FUD being spread here about this topic -- I think it is important to develop a collaborative **community** that is working together on this (with open community governance) and ensure that downstream consumers can reuse the code that they need without being burdened by optional dependency.

[2019-09-03 14:25] dworvos commented on #28220
Looks like a bug was introduced with change hash 41166c650f733079e8012161aeca189ecfa62919 (which first introduces a failure to do the join correctly). The current incorrect behaviour was introduced with change hash cc3b2f0a185e5e81ff219fc06f57eea92f629b2b. Looks like both commits are from the same author - do you guys think it may be better use of our time if I reached out to the author to better

[2019-09-03 14:26] jbrockmendel commented on #28079
Two options:

a) make Series.lt behave like DataFrame.lt
b) make DataFrame.lt behave like Series.lt

The main argument for a) is that it is less breaking for users relying on the DataFrame behavior.
The main argument for b) is that the behavior only matters in exactly 1 test, and it is a test with truly weird complex-dtype behavior (#28050)

[2019-09-03 14:30] TusakaRin opened #28266 "set timeoffset as the window parameter doesn't work for rolling corr function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Due to some conflicts I'm not able to test it on pandas 0.25, so I'm not sure whether the problem is solved. You may find that the last coorelation value 0.198680 is exactly the same as perform corr() on the total dataframe. No matter how I change the timeoffset, namely the window parameter, the rolling(window=

[2019-09-03 14:43] TomAugspurger commented on #28079
OK, I'm not sure what's best here. My inclination is to follow NumPy where possible, which I think argues for option a, right? (I'm ignoring the `None`, which forces object dtype. Maybe I shouldn't ignore that).

[2019-09-03 14:44] TomAugspurger commented on #28220
cc @JustinZhengBC if you could take a look.

[2019-09-03 14:45] jbrockmendel commented on #28263
@cupen the `df.info()` output says you have about 6M rows, not 600M.  Is that referring to a different DataFrame?

How much memory is on your machine?

Do you get the same OOM if you only try to load a subset of the parquet file?  (loading only a subset of columns is my favorite feature)

[2019-09-03 14:48] TomAugspurger commented on #18006
That's what I'm not sure about :) We can discuss it here though, and leave the PR for implementing what we decide is best.

It'd be helpful to mock up a proposal with the proposed behavior and a docstring describing what `colors` means for DataFrame in this context.

[2019-09-03 14:49] jbrockmendel commented on #28261
@Jasonsey what output are you expecting here?  A Series with a single entry that is a list `[12, 222]`?

[2019-09-03 14:49] jbrockmendel commented on #28261
xref #27911

[2019-09-03 15:17] TomAugspurger commented on #28252
FWIW, I can't reproduce with PyArrow 0.14.1, pandas 0.25.1, and fastparquet 0.3.0.

[2019-09-03 15:24] TomAugspurger commented on #28250
Do we support writing 119? We raise when trying to use `version=119` from DataFrame.to_stata` cc @bashtage

[2019-09-03 15:25] TomAugspurger commented on #28249
Can you provide a minimal example, and delete the issue template stuff from your post?

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-03 15:25] cupen commented on #28263
@jbradish  Sorry, you are right, it's 6M rows.  My machine is 16GB, the OS was archlinux.

I don't know how to get the traceback from a process which killed by oom-killer, it has no coredump. But I am try to reduce the rows to 1M, and repreducing the problem.
Yes, it's a problem about pyarrow, it used too many memory.

I made a little parquet file `test.pq`, 1M rows, 13MB file size.
[code]
The oth

[2019-09-03 15:25] cupen commented on #28263
@jbrockmendel  Sorry, you are right, it's 6M rows.  My machine is 16GB, the OS was archlinux.

I don't know how to get the traceback from a process which killed by oom-killer, it has no coredump. But I am try to reduce the rows to 1M, and repreducing the problem.
Yes, it's a problem about pyarrow, it used too many memory.

I made a little parquet file `test.pq`, 1M rows, 13MB file size.
[code]
The

[2019-09-03 15:28] #28263 closed

[2019-09-03 15:37] languitar commented on #28252
I am not sure whose fault this is because it is related to pandas metadata. Does the metadata handling originate from pandas or from pyarrow and fastparquet?

[2019-09-03 15:38] cupen commented on #28263
@TomAugspurger  @jbrockmendel  Thanks. It's ok now.  I'll create a issue for pyarrow.

[2019-09-03 15:39] languitar commented on #28252
Btw, reproduced in a plain new virtualenv just right now.
[code]
and then in ipython
[code]

[2019-09-03 15:42] bashtage commented on #28250
No support for 119.

[2019-09-03 15:43] bashtage commented on #28250
I don't think writing for 119 has been implemented either, unless there have been some commits I haven't seen.

[2019-09-03 15:44] bashtage commented on #28250
https://github.com/pandas-dev/pandas/blob/612d3b23da5b99f6c5642be574fb08713a45d7d1/pandas/io/stata.py#L2663

Is only a comment about the StrL formatting, which was forward compat.  The actual writer is not.

[2019-09-03 15:50] giuliobeseghi commented on #22362
I agree with @Nemecsek. In addition:
[code]
gives
`Timestamp('2019-04-01 00:00:00')
`
and not
`
Timestamp('2019-07-01 00:00:00')
`

This is expected (by the definition of QuarterBegin). Hopefully the "semester" offset will return the second option.

[2019-09-03 16:28] TomAugspurger commented on #28252
I think it's created by the underlying engine, though pandas defines the
spec for it.

On Tue, Sep 3, 2019 at 10:39 AM Johannes Wienke <notifications@github.com>
wrote:

[2019-09-03 16:29] MarcoGorelli commented on #28247
Slightly simpler example:

[code]

However, this works:
[code]
and returns
[code]

[2019-09-03 16:58] MarcoGorelli commented on #28192
In your example with `axis=0`, then in `Rolling.validate` from `pandas/core/windows/rolling.py`, `self.is_datetimelike` returns True, while for `axis=1` it returns False.

[2019-09-03 16:58] TomAugspurger commented on #28247
Thank. For `datetime` input, it seems like we expect to return `datetime` output.

cc @jbrockmendel, since this may be an area you're working near recently.

[2019-09-03 17:01] TomAugspurger commented on #28250
OK, that's my understanding too.

We'll keep this open as a general "support Stata 119" issue.

@chrisyeh96 are you interested in working on it? Even just sketching out what needs to be done would be helpful.

[2019-09-03 17:56] kjschiroo opened #28269 "Casting bool to object during join"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is a kind of subtle issue when upgrading from `0.24` to `0.25`. When joining dataframes onto an initial dataframe, if one of the dataframes being joined in has an extra row compared to the other it will cause any boolean columns to be cast to object columns. This is a change in behavior from 0.24 which wou

[2019-09-03 17:59] shivampatel16 commented on #15910
**_

engine='c' does the job for me. Finally got my task working after a huge but simple hurdle.

Thank you!

_**

[2019-09-03 18:01] TomAugspurger commented on #28266
Looks like a bug. What's the expected output here?

[2019-09-03 18:09] TomAugspurger commented on #28269
Is there anything in the release notes about this?

If it's intentional, my first guess is that it's to ensure dtype stability with the different join methods. Pandas uses object-dtype to represent booleans with missing values, and an outer join would force object dtype

[code]

[2019-09-03 18:27] ivalaginja commented on #24036
Would the `pandas` team consider obtaining a DOI?

Trying to establish citation principles that will give everyone due credit, as well as create traceable records of a work unit like a piece of software, the [FORCE11 Software Citation Working Group](https://www.force11.org/about) published a [paper presenting software citation principles](https://www.force11.org/software-citation-principles). This

[2019-09-03 18:32] melissabarnett opened #28270 "Issue with pandas delimiter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I am reading from column 'Code' and the line with more than one variable is not returning a delimiter with ',' instead each line is one variable therefore the variable is """"census.core.CensusException: error: error: unknown variable ''""""
[['Code', 'Description']
[**'C24060_003E'**, 'Administrative n emergenc

[2019-09-03 18:33] TomAugspurger commented on #24036
Sure. What all does that involve? With
https://guides.github.com/activities/citable-code/ it seems like we can
just use Zenodo and each release gets its own DOI?

On Tue, Sep 3, 2019 at 1:27 PM Iva Laginja <notifications@github.com> wrote:

[2019-09-03 18:36] #21364 closed

[2019-09-03 18:36] #26868 closed

[2019-09-03 18:38] TomAugspurger commented on #28270
Can you create a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-03 18:43] kjschiroo commented on #28269
At least so far as I've been able to see it isn't mentioned in the release notes, but I might be missing how it would be called out. This is just based on looking for any mention of `join`.

[2019-09-03 18:45] ivalaginja commented on #24036
Yup, that's exactly it. While Zenodo is by far not the only solution, it's definitely one of the most widely used ones and the hook with GitHub is super simple.

Yes, each release will get its own DOI so that people can cite specifically the software in the state it was in when they used it. On top of that, each software package also gets a so called "Concept DOI", which will always refer to the l

[2019-09-03 18:50] melissabarnett commented on #28270
@TomAugspurger
def main():

    df = pd.read_csv('~
[APIlist2 (1).xlsx](https://github.com/pandas-dev/pandas/files/3570977/APIlist2.1.xlsx)
[APIlist2 (1).xlsx](https://github.com/pandas-dev/pandas/files/3570979/APIlist2.1.xlsx)

/Documents/APIlist2.csv', header=0, encoding='unicode_escape', delimiter=',', lineterminator='\n')
    mylist = df['Code'].values.tolist()
    tablename = '2017acs5b'

[2019-09-03 18:52] TomAugspurger commented on #28270
@melissabarnett a minimal example *probably* doesn't need the actual data your using :) Ideally it could be reproduced with data that is similar to yours, but small enough to demonstrate the essence of the problem.

Do you think there's a bug in pandas? If so, what do you think it is?

[2019-09-03 18:57] TomAugspurger commented on #24036
Cool, thanks. I'll see about adding the Zendo GitHub integration.

One final question, (since you seem to be familiar with this :smile:) If we add a CITATION.txt or a badge to the README, does it have to be updated with each release? Or is their some kind of living "master" DOI that refers to pandas, in addition to the per-release DOIs?

[2019-09-03 19:01] #28163 closed

[2019-09-03 19:05] amarvin opened #28271 "to_numeric(errors='ignore') doesn't work with leading zeros"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `to_numeric` function doesn't work as expected if the string contains leading zeros.

#### Expected Output

I would expect that `'01'` gets converted to `1`, just like in the leading whitespace case of `' 1'` converting to `1`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------

[2019-09-03 19:09] amarvin commented on #28271
Note that
[code]
which is also surprising.

[2019-09-03 19:12] melissabarnett commented on #28270
import pandas as pd
df = pd.DataFrame({'Code':  ['API variable, API variable',\n'API variable']}), header='Code' , encoding='unicode_escape', delimiter=',', lineterminator='\n' ) <---- this line produces the error

[2019-09-03 19:19] TomAugspurger commented on #28270
Sorry, do you mean `pd.read_csv` rather than `pd.DataFrame` in your example here? https://github.com/pandas-dev/pandas/issues/28270#issuecomment-527598627

[2019-09-03 19:20] melissabarnett commented on #28270
@TomAugspurger  yes was following the link you had provided

[2019-09-03 19:22] melissabarnett commented on #28270
delimiter=',' does not work
lineterminator='\n' does not work

[2019-09-03 19:23] ivalaginja commented on #24036
Yes, that would be the "concept DOI"! You can chose to have that in the CITATION.txt or in the badge and then you don't have to worry about updating that :) You can find more on the DOI business here:
http://help.zenodo.org/#versioning

At one point you can also expect the user to know or at least research what they're doing, so sticking in the "overall" DOI (i.e. Concept DOI) should be more than

[2019-09-03 19:26] #25436 closed

[2019-09-03 19:48] TomAugspurger commented on #24036
Perfect, thanks.

@jreback @jorisvandenbossche I've requested access to add the Zenodo GitHub application to pandas-dev.

[2019-09-03 20:07] jreback commented on #24036
all sgtm

[2019-09-03 20:16] carlr67 commented on #28192
Thanks for finding that out. Sure, feel free to give it a go!

[2019-09-03 20:47] TomAugspurger commented on #27108
I played with this a bit today.

For a user-API, I think it makes the most since to have an `allow_dupcliate_labels` keyword that can be passed to Series / DataFrame. IOW,

[code]

rather than

[code]

While the duplicate detection is done in the Index, it seems more ergonomic to have it on NDFrame.

A potential downside is that you can't disallow duplicates in the columns while allowing duplicate

[2019-09-03 21:43] WillAyd opened #28273 "Address Untested to_json Extension Module Code"
There's an old TODO note about untested code in the extension module hanging around in objToJSON.c:

https://github.com/pandas-dev/pandas/blob/bfff080275b4456b28d71f0c7b4ec9e678d4270c/pandas/_libs/src/ujson/python/objToJSON.c#L504

Interestingly enough, this is actually tested by the `np.datetime64` parameter in `test_encode_as_null` as part of the `test_ujson.py` module:

https://github.com/panda

[2019-09-03 22:28] adisunw commented on #22275
Any fix for this? Currently just ran into this same problem.

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.6.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas

[2019-09-03 23:52] mbkupfer opened #28274 "NDFrame.sum ignores min_count for object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Using sum with a multiindex and dtype set to object will force all answers to 0, and not `nan` as is expected. This is confusing, since pandas automatically coerces np.nan when this isn't the case, see below.

[code]

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSION

[2019-09-04 00:59] TusakaRin commented on #28266
I have posted the expected output and expained it in the problem description.

[2019-09-04 01:14] rendorHaevyn commented on #25353
This treatment of None/np.nan is quite unexpected.

I have found that this issue propagates into output of dataframes to csv / excel / clipboard, and boolean evaluation.

The logical function for `astype(str)` here would be to skip all NA types by default (None, np.nan, etc).

As an example:

[code]

- input as np.nan:
[code]
- output as nan:
[code]

- clipboard output as nan:
0 |  
-- | --
1 |  

[2019-09-04 02:12] chrisyeh96 commented on #28250
As much as I would love to contribute, unfortunately I won't have time for the next couple of months. I think it's probably better if someone else who actually has experience working with Stata file formats (I have zero experience on this matter) gives this a shot.

[2019-09-04 02:31] TomAugspurger commented on #28250
Certainly, but at this point you've expressed the most interest in this
issue :) It may not be a priority for any of the past contributors to the
stata code.

On Tue, Sep 3, 2019 at 9:12 PM Christopher Yeh <notifications@github.com>
wrote:

[2019-09-04 02:49] TomAugspurger commented on #28274
Thanks for the report. Interested in debugging it further? We can point you to the spot to look if you're interested.

[2019-09-04 03:37] mbkupfer commented on #28274
That sounds good, let me know. I'm also a bit swamped on a project, but I'll have time next week.

[2019-09-04 05:11] AK-ayush opened #28277 "`series.str.cat(series.str)` is concatenating only the largest string"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
`series.str.cat(series.str)` is concatenating only the largest string in the series but it should concatenate all the strings element wise.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

In [2]: pandas.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3

[2019-09-04 05:30] jschendel commented on #28274
Looks like this hits the following line of code as a fallback for `object` dtype and the `min_count` kwarg isn't being passed through:

https://github.com/pandas-dev/pandas/blob/bfff080275b4456b28d71f0c7b4ec9e678d4270c/pandas/core/groupby/groupby.py#L1378

Not as simple as just passing in `min_count` there though, as `np.sum` is the function being wrapped here, which doesn't accept `min_count` (an

[2019-09-04 06:21] xwhuaduo opened #28278 "pivot_table(..., values='a') and pivot_talbe(...)['a'] yield different output"
#### Code Sample

[code]
#### Problem description

`pivot_table` with `values='a'` assigned works faster, but in my case, it drop off three columns.

Any ideas why this is happenning?
Thanks!

[2019-09-04 06:27] oguzhanogreden opened #28279 "Series.loc[list] with uint64 keys returns a dataframe with Float64Index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above selection should not have the side effect of modifying data types. I noticed this while looking at #28023 but I think this is a separate issue, so I'm documenting it separately.

#### Output of ``pd.show_versions()``

[Same with #28023, I'll update this when I have my laptop at hand.]

[2019-09-04 06:28] oguzhanogreden commented on #28279
I'll try and tackle this, as well as #28023, in one PR.

[2019-09-04 09:43] Kanter666 commented on #28253
I can join on this and take the second 10 (from pandas.core.resample up to pandas.to_datetime).

[2019-09-04 10:01] danielplawrence commented on #28253
Thanks Adam!

A lot of these should be straightforward, but I've noticed there are some cases where we will want to change validate_docstrings.py -- for example, it fails on parameter type 'basestring' because the validation is done with a simple 'in' test, and 'string' in 'basestring == True.

Additionally, the tests for validate_docstrings.py are not being executed as part of the main pytest tar

[2019-09-04 10:11] fgotzens opened #28280 "Documentation DataFrame.plot() not available"
#### Problem description

In the current stable pandas documentation both [DataFrame.plot()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot) and [Series.plot()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html?highlight=plot#pandas.Series.plot) pages are broken, i.e. there is no content showing up.

Ther

[2019-09-04 10:55] TomAugspurger commented on #28280
Duplicate of https://github.com/pandas-dev/pandas/issues/27748

[2019-09-04 10:55] #28280 closed

[2019-09-04 10:56] TomAugspurger commented on #28253
Just FYI, we can remove all references to basestring. That's a Python 2 thing which we've removed.

[2019-09-04 10:58] TomAugspurger commented on #28274
FWIW, I'm perfectly fine with this raising, saying that `min_count` isn't
supported for object dtype. Though I'm not sure how easy that is to do
either.

On Wed, Sep 4, 2019 at 12:30 AM Jeremy Schendel <notifications@github.com>
wrote:

[2019-09-04 11:00] TomAugspurger commented on #28277
I'm not sure what's going on, but that's not my expected output. `series.str` is an accessor, not an array-like of strings. I would expect an exception to be raised here.

[2019-09-04 11:26] #28236 closed

[2019-09-04 11:43] plamut opened #28282 "DataFrame.itertuples() incorrectly determines when plain tuples should be used"
#### Code Sample, a copy-pastable example if possible

[code]
The issue seems to have been caused/revealed by [this commit](https://github.com/pandas-dev/pandas/commit/81f5c0164e6cb26cc8fea00ebc22f4fe93771ff6#diff-1e79abbbdd150d4771b91ea60a4e1cc7R903) that removed the try-catch block around the namedtuple class creation.

FWIW, this issue is _not_ reproducible in version `0.24.2`, and is also not

[2019-09-04 12:10] TomAugspurger opened #28283 "Various methods don't call call __finalize__"
Improve coverage of `NDFrame.__finalize__`

Pandas uses `NDFrame.__finalize__` to propagate metadata from one NDFrame to
another. This ensures that things like `self.attrs` and `self.flags` are not
lost. In general we would like that any operation that accepts one or more
NDFrames and returns an NDFrame should propagate metadata by calling
`__finalize__`.

The test file at
https://github.com/panda

[2019-09-04 14:18] imazerty commented on #24728
Hi try this:
corrs = df.corr().abs().unstack().sort_values(kind="quicksort").reset_index()
corrs = corrs[corrs['level_0'] != corrs['level_1']]
corrs.tail(10)

[2019-09-04 14:43] eladtann opened #28284 "Index.drop - add inplace option"
I have a Pandas.Index object which i want to delete some of the indices stored in it.
Since currently inplace=True is not available, i am forced to declare a new variable to hold the result which seems cumbersome.

currently i need to write:
#drop all columns with only 1 unique value.
nunique=df.apply(pd.Series.nunique)
cols_to_delete=nunique[nunique == 1].index
#do not delete column named 'label'

[2019-09-04 15:09] TomAugspurger commented on #28284
Indexes are immutable, so I don't think an `inplace` option is appropriate.
It gives the impression that the operation is done without copy.

On Wed, Sep 4, 2019 at 9:44 AM eladtann <notifications@github.com> wrote:

[2019-09-04 15:13] eladtann commented on #28284
sorry, i missed the immutable wording in the documentation.
i will close the issue

thanks for your quick reply

[2019-09-04 15:13] #28284 closed

[2019-09-04 15:19] ahowe42 opened #28285 "Dataframe Groupby with Quantile Can't handle q=tuple"
In version 0.24.1, a groupby with `quantile(q)`, where `q` is a tuple works. However, with 0.25, a `TypeErr` exception is thrown. This works as expected:

`pd.DataFrame([[0,1,2,3],[0,4,5,6],[1,7,8,9],[1,10,11,12]],columns=['a','b','c','d']).quantile((0.01,0.99))`

but this does not:

`pd.DataFrame([[0,1,2,3],[0,4,5,6],[1,7,8,9],[1,10,11,12]],columns=['a','b','c','d']).groupby(by=['a']).b.quantile(

[2019-09-04 15:21] WillAyd commented on #28285
Can you try on master? I think this is a duplicate of something already fixed

[2019-09-04 16:15] boomsquared commented on #28277
I'm very new to python and there might be some misunderstanding on my part.

I believed the problem happens when passing StringMethods into `is_list_like` results in `true` ([code](https://github.com/pandas-dev/pandas/blob/4c778a1eb73da3a2935357dbbfcbe46f3be52f31/pandas/core/strings.py#L2110)).

This happens because StringMethods implements the  iterator protocol ([StringMethod's iterator](https:/

[2019-09-04 16:16] mbkupfer commented on #28274
@jschendel thanks for sharing. I'll probably set a trace and walk through the source, but it would still help if you could give some background on what is going on in the `groupby_function` and how we got there. With a monolithic library like pandas, orienting oneself could take a while.

Another option, which is my current solution, is casting using `astype`. This looks and feels clunky though. W

[2019-09-04 16:17] jbrockmendel commented on #28273
I'm pretty sure I added that TODO note.  IIRC I commented out the relevant code and found that it didn't break any tests.  So its conceivable that it is reached in a test, but it is a smoke-test?

if the note is just inaccurate, feel free to remote it.

[2019-09-04 16:24] WillAyd commented on #28273
Maybe commenting has a different effect but it definitely causes a failure if outright removed in `test_encode_as_null` from `test_ujson.py` when dealing with an np.datetime64 object

The only way to really add a test for this would be to create a Series with a np.datetime64 item and `object` dtype; any other path I think implicitly converts the `np.datetime64` to a pandas object.

So could add th

[2019-09-04 17:07] #28192 closed

[2019-09-04 18:28] badge commented on #28285
Fixed in 0.25.1

https://github.com/pandas-dev/pandas/issues/27526

[2019-09-04 19:06] TomAugspurger commented on #28285
Thanks for checking.

[2019-09-04 19:06] #28285 closed

[2019-09-04 19:50] rjboczar opened #28287 "DataFrame.dropna() not working with sparse columns"
[code]
Not sure if I'm using this correctly, but I'd expect only the first row to be dropped.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL

[2019-09-04 21:07] TomAugspurger commented on #28283
How `__finalize__` works with methods like `concat` requires a bit of discussion. How do we reconcile metadata from multiple sources?

In #27108, I'm using `_metadata` to propagate whether the NDFrame allows duplicate labels. In this situation, my ideal reconciliation function would be

[code]

However, that reconciliation strategy isn't valid / proper for arbitrary metadata. Which I think argues

[2019-09-04 22:10] jbrockmendel commented on #28283
IIRC I was looking at _metadata to try to implement units (this predated EAs).  One of the biggest problems I had was that metadata on a Series didn't behave well when that Series is inserted into a DataFrame.

Do we have an idea of how often _metadata is used in the wild?  i.e. could we deprecate it and make an EA-based implementation?

[2019-09-05 00:11] TomAugspurger commented on #28283
It’s essentially undocumented, so I’m OK with being aggressive here.

What would an EA-based implementation look like? For something like units, metadata may not be appropriate. I think an EA dtype makes more sense.

I’ll add this to the agenda for next weeks call.

[2019-09-05 00:24] jbrockmendel commented on #28283
It's a bit ambiguous what this question is referring to, but big picture something like `_metadata` but with dispatch logic could be done with something like (for this example I'm thinking of units in physics where  `(4 meters) / (2 seconds) ==  2 m/s`):

[code]

[2019-09-05 00:28] jbrockmendel commented on #23180
@xhochy any idea if this is closeable?

[2019-09-05 01:14] KaneFu commented on #28244
Seems like the issue is indeed in rolling_var, I change to **`rolling.apply(lambda x: np.nanstd(x, ddof))`**, everything is fine. I found as long as the difference of the elements is larger than 1e8, rolling_var get unexpected result.  I finally chose to replace all `rolling.std() with rolling().apply`.
Still confused with this bug.
Thanks a lot!

[2019-09-05 01:42] TomAugspurger commented on #28283
Right. Does the current EA interface suffice for that use case, or are there additional hooks needed?

[2019-09-05 05:01] StevenLi-DS opened #28291 "[FR] add option to format \hline in to_latex()"
Please considering add a parameter to allow users to add `\hline` to the latex output so that each two rows will have a horizontal line between them.

For example:
[code]
It will give me:
[code]

I wish the output could be

[code]

[2019-09-05 07:17] languitar commented on #28252
Here is the reproduction without the pandas backends being involved:
[code]

`read_table` still works. `to_pandas` is causing the exception.

[2019-09-05 07:23] 0anton opened #28292 "df.style.highlight_max() crashes if DataFrame is empty, but has some metadata"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Pandas crashes with the trace shown below, when styler applied to an empty dataframe, which contains some meta-data. Expected output - empty output without crash.

[code]
#### Expected Output

Expected empty output (no exception), like it is correctly happenes with freshly initialized dataframe.

#### Output of

[2019-09-05 11:14] jumpingfella opened #28293 "Different behavior of read_csv on Windows with Anaconda and Ubuntu 18"
Hello,

I'm experiencing different behavior of the following script:
https://stackoverflow.com/questions/57791115/forecast-produced-by-gluon-ts-example-is-around-0

on Windows with Anaconda and on Ubuntu 18. It works as expected on Windows, but doesn't on Ubuntu 18 (produces plot around 0)

This seems to have something to do with `df = pd.read_csv(url, header=0, index_col=0)`

[2019-09-05 11:47] pepicello opened #28294 "Clarify that MultiIndex.set_levels() interprets passed values as new components of the .levels attribute"
#### Code Sample, a copy-pastable example if possible

[code]
Which raises a ```ValueError```:

[code]

#### Problem description

Despite a dataframe with non-unique MultiIndex can be created, they cannot be set using ```set_levels()```. Is this behaviour expected? I believe non-unique level values were not allowed for a period of time (#18882), but then they were allowed again (#21423), so I am n

[2019-09-05 11:53] pepicello opened #28295 "MultiIndex.set_levels() unexpected behaviour"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description

Slightly different setup of #28294, but different issue. Here a level in a MultiIndex dataframe has duplicates to start with and a level with unique values is set afterwards, but the values are incorrect. It seems to work fine if the starting dataframe has unique level values.

#### Expected Ou

[2019-09-05 12:16] cbertinato commented on #28256
What is the desired behavior here?  That the first case using Timedelta look like the second (casting to object)?

[2019-09-05 13:16] Hvass-Labs commented on #13699
@jreback I know it has been 3 years since you closed this, but I have to resample a MultiIndex DataFrame like you have done above, and I am getting similar output as you show above. Note in your example how `item_uid` is now both in the index and duplicated in a separate column of the DataFrame. I wonder if this is a bug? Or is there a good reason for it? Is there a way to avoid this? Thanks!

[2019-09-05 13:17] manugarri commented on #24306
@JivanRoquet i agree with you, pandas has been known for being beginner friendly, and a simple SO search can guarantee that making directories for output files is a very common issue for python users, particularly analysts that know how to use pandas, but dont really now about filesystems.

On the other side, the last pandas community survey indicated that feature creep is an important issue for t

[2019-09-05 14:52] WillAyd commented on #26212
This has been / is being tackled elsewhere

[2019-09-05 14:52] #26212 closed

[2019-09-05 15:34] #26663 closed

[2019-09-05 15:41] TomAugspurger commented on #28293
Can you make a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-05 15:46] WillAyd commented on #28038
This PR is well done but I'm not sure I am on board with the concept. Associating each import with its first reference in the rst feels a little arbitrary and I think is just confusing. Seems like it could be somewhat of a nuisance when moving things around; nothing major but in any case a step backwards from just knowing standard imports are done in the header

Are we dead set on going this route

[2019-09-05 15:47] WillAyd commented on #28038
Sorry last comment was in reference to PR #28089 but posted here in issue

[2019-09-05 15:51] TomAugspurger commented on #28252
Here's the metadata

[code]

cc @martindurant @jorisvandenbossche if either of you have a chance to look. Looks related to the pyarrow RangeIndex optimizations, but not sure if it's an issue with the reading or writing.

[2019-09-05 16:00] WillAyd commented on #27655
Thanks for the idea but haven't heard any other feedback on this, so I think maintaining that this is out of scope.

[2019-09-05 16:00] #27655 closed

[2019-09-05 16:01] martindurant commented on #28252
That read_table works but not to_pandas suggests to me that this is internal to arrow.

[2019-09-05 16:11] WillAyd commented on #28294
@toobaz

[2019-09-05 16:13] WillAyd commented on #13035
This raises now instead of producing weird results, so I think OK on master:

[code]

[2019-09-05 16:13] #13035 closed

[2019-09-05 16:34] frank-yifei-wang opened #28298 "Modify get_group() method to allow getting multiple groups"
#### Problem description

The `get_group()` method supports getting **one group** from a grouped object by
[code]
but you can't get **multiple groups** simply by

[code]
This causes *"ValueError: must supply a tuple to get_group with multiple grouping keys"*

My workaround for now is using `concat` and list comprehension
[code]
but this is a bit cumbersome and not Pythonic...

#### Expected Output

[2019-09-05 16:41] jorisvandenbossche commented on #28252
I can reproduce this with pyarrow 0.14.1 and fastparquet 0.3.2.

It's indeed somewhat related to the RangeIndex optimizations, but it is actually not failing on the index, but on the interpreting the metadata of one of the columns (because there is no "field_name", and then there goes something wrong in our code to deal with the compat code for this case).
If it's not yet done by then, I can inves

[2019-09-05 16:44] toobaz commented on #28294
Those issues were about non-unique level _names_, yours about non-unique level _values_. And in this second case the story is simple: yes, they are and always were allowed.

But I think you've misunderstood how ``set_levels`` works (possibly because the docs could and should be improved): you're not assumed to provide a new value for each row, but rather _for each code_ describing values in the le

[2019-09-05 16:45] toobaz commented on #28295
See https://github.com/pandas-dev/pandas/issues/28294#issuecomment-528456052

[2019-09-05 16:45] #28295 closed

[2019-09-05 16:46] WillAyd commented on #28294
Should we at least keep this open to improve the docs then?

[2019-09-05 16:53] toobaz commented on #28294
Makes sense!

[2019-09-05 16:54] WillAyd commented on #28298
Not sure about this. I can see what you are after when dealing with one grouping, but if you have multiple items that you have grouped upon a list / tuple would refer to values across all of the groupings and not multiple values within one grouping.

To illustrate, the below would be totally ambiguous in what you are looking for:

[code]

[2019-09-05 17:10] #27485 closed

[2019-09-05 17:16] squigmig opened #28299 "to_datetime(foo, errors='coerce') does not swallow all errors"
#### Code Sample

[code]
#### Problem description
I have some text files with malformed dates, which at one point I will process with the above code. While trying to migrate my code from 23.4 to 25.1 I got the following:

[code]

#### Expected Output
The main expectation is that an exception is not raised.

I would probably expect ` pandas.to_datetime('200622-12-31', errors='coerce')` to return Na

[2019-09-05 18:01] christopherzimmerman opened #28301 "groupby level after stack not actually grouping"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When grouping by levels after stacking, no grouping seems to be taking place.  However, after resetting the index and using those series to group, the groupby works as expected

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.

[2019-09-05 18:03] #28231 closed

[2019-09-05 18:04] christopherzimmerman commented on #28301
Just found something strange, when I create the DataFrame created by the stack from scratch, the `groupby` seems to work:

[code]

[2019-09-05 18:15] joelrich opened #28302 "groupby(pd.Grouper) ignores loffset"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I thought the two calls should be equivalent. However, the output is:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.4.0-17134-Microsoft

[2019-09-05 18:34] WillAyd commented on #28256
The time delta should be written out using iso format just like datetimes are (though using the duration ISO format) whether or not included in an object array or DTA

[2019-09-05 18:40] WillAyd commented on #28301
Hmm that is rather strange. Care to investigate? Relevant code is going to be in pandas.core.groupby

[2019-09-05 18:43] joelrich opened #28303 "Extreme performance difference between int and float factorization"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In my current project, I use groupby as well as resample for the same data frames with the same aggregations. I have noticed that resample is way quicker than groupby. While I understand that groupby is more flexible, it would still be nice if the performance was comparable. In the example above, resample is mo

[2019-09-05 18:43] WillAyd commented on #28299
Yea that does seem buggy. I think should return NaT as well. Care to investigate?

[2019-09-05 18:46] WillAyd commented on #28303
Can you profile to see where time is spent? This is a pretty open ended request so anything you can do to isolate what you think needs to be improve is helpful

[2019-09-05 18:56] WillAyd commented on #28302
These calls aren't really equivalent as the first returns a reindexed data frame whereas the second maintains the original index values but buckets them according to a particular time grouping

[2019-09-05 18:59] WillAyd commented on #28302
Hmm actually not sure. I don't think we have a ton of test coverage on loffset with groupby though. If you want to take a look would certainly accept PRs to clean up

[2019-09-05 19:01] joelrich commented on #28302
@WillAyd I forgot to mention that not only the index is "wrong", but also the aggregation does not take the offset into account. I will update the issue shortly.

[2019-09-05 19:06] WillAyd commented on #28277
For the OP you probably just want `expect = ps.str.cat(others=ps)`. @boomsquared if you have an idea of why this doesn't raise and would like to submit a PR would certainly welcome one

[2019-09-05 19:16] joelrich commented on #28302
I was mixing things up. loffset should not have an effect on the aggregation, but only on the "resampled time labels" (quote from resample doc). For Grouper, the documentation does not really state what it is actually for. For me it seems natural that it should be the same as in resample and therefore I still think it is an issue.

[2019-09-05 19:22] WillAyd commented on #28302
Yea I think so too. That part of GroupBy I don't *think* we have a lot of coverage on so yea would certainly welcome any investigation and PRs you have into it

[2019-09-05 19:27] christopherzimmerman commented on #28301
Looks like the issue is in `stack` as far as I can tell.  For this DataFrame, [this line of code](https://github.com/pandas-dev/pandas/blob/ee37443fa6c54f552434dda705fbc86062a944f9/pandas/core/reshape/reshape.py#L729) is creating codes based on an arbitrary length of the DataFrame without taking into account duplicate index values, which are then used by the `groupby`.

[code]

[2019-09-05 20:11] joelrich commented on #28303
If I am not mistaken, pretty much all time for groupby is spent in `Float64HashTable.factorize`. Are you familiar with this part of Pandas? Can you point me to the native code?

[2019-09-05 21:08] cbertinato commented on #28256
Sounds good. I'll take a whack at it if no one else has professed a desire.

[2019-09-05 21:20] TomAugspurger commented on #28303
Not sure how useful it'll be, but that's https://github.com/pandas-dev/pandas/blob/2d65e38f5c245a8410c7cb37ec17424def00fa78/pandas/_libs/hashtable_class_helper.pxi.in#L490

[2019-09-05 21:22] TomAugspurger commented on #28303
If you use ints instead of floats for your group_index, things are comparable.

[code]

[2019-09-05 21:28] WillAyd commented on #28256
Awesome! If it's any help I'm fairly certain the issue is that the PyDelta check in the extension module that serializes everything doesn't make consideration as to whether or not the date format should be iso.

Here's where I think this is relevant:

https://github.com/pandas-dev/pandas/blob/2d65e38f5c245a8410c7cb37ec17424def00fa78/pandas/_libs/src/ujson/python/objToJSON.c#L1919

If you did some

[2019-09-05 21:39] bobnvk99 opened #28305 "Pandas df.rolling.mean() abnormal behavior for a Series having larger numbers (in the scale of billions)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am trying to implement adjusted residual percent as the rolling average of the previous three residual percents.
Due to some data issue, model forecasted the target variable in the scale of billions, consequently effecting the residual percentage calculation.
However, this is irrelevant to the current problem

[2019-09-05 21:44] bobnvk99 commented on #28305
Actually, similar behavior is observed with pandas 0.24 version.

[2019-09-05 21:46] WillAyd commented on #28305
Hmm not sure I follow. Can you provide self-contained code samples to reproduce? Unfortunately screenshots are not very helpful

[2019-09-05 22:43] fmmirzaei opened #28306 "Pandas unstack() unexpected behavior with multiindex row and column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `df` looks like this before unstacking:
[code]
by unstacking `bar` and `foo`, I had expected to see them as column indices, but that's not what happens. Instead `foo` and `metric` are unstacked, and `bar` is left stacked as a row index:

[code]

I got around the problem by doing the following, but I think t

[2019-09-05 23:04] dsaxton commented on #28305
Could be the same problem pointed out in this issue: https://github.com/pandas-dev/pandas/issues/28244

[2019-09-05 23:05] daishi opened #28307 "groupby/quantile breaks"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

An exception is thrown above. This was not an issue in Pandas 0.24.2.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-09-05 23:26] kalekundert opened #28308 "Integers coerced to float when getting rows from all-numeric data frames"
When selecting a row in a data frame that only contains numeric values, pandas coerces any integer values to floats.  I assume this keeps the underlying data structure more contiguous and improves performance, but it's not really semantically correct, because floats can't do everything that integers can.  For example, the problem I ran into today came about because I was trying to use values from

[2019-09-05 23:59] WillAyd commented on #28307
Can you try on master? I believe this has already been fixed

[2019-09-06 00:07] WillAyd commented on #28308
Hmm trying to address as succinctly as possible but apologies if somewhat fragmented - there are quite a few things going on.

Your first block of code `df.apply(...` is failing because you are applying an indexing operation across the axis 1 which contains float data. The failure here is expected, just like:

[code]

Also note that by doing df.iloc[0] you are selecting the first row. Rows don't c

[2019-09-06 01:16] boomsquared commented on #28277
@WillAyd Thanks! Will give it a go

[2019-09-06 02:23] kalekundert commented on #28308
No worries about being fragmented, I know my post was long and a bit convoluted.

I guess the one thing I want to emphasize is that I think it's a bug for a row selection to misrepresent the type of data stored in the data frame (in this case representing an int as a float).  I actually don't think any of what pandas is doing here is surprising, though.  When selecting a row from a data frame, the

[2019-09-06 03:29] lizsaret commented on #28147
@TomAugspurger can i work on this?

[2019-09-06 03:52] joxxperez commented on #27979
Hi, I would like to add to this :)

[2019-09-06 05:56] joelrich commented on #28303
Very nice, thank you! This solves my particular issue. Do you think it's worth fixing in general?

[2019-09-06 06:40] Jacob-Stevens-Haas commented on #16536
Not sure if mine is related, but if I `sys.modules.pop('pandas')`, then try `import pandas`, I get the error.  On Pandas 0.23.4, python 3.6.

[2019-09-06 07:44] jorisvandenbossche commented on #15556
An update on this: @stijnvanhoey and I have been working recently again on a minimal bootstrap theme (from scratch, not based on the existing sphinx-bootstrap-theme, but my long term goal is to upstream some changes).

This can currently be seen at https://dev.pandas.io/pandas-sphinx-theme/pr-bootstrap-sphinx-theme/user_guide/reshaping.html

The focus for now was mainly on structure and functional

[2019-09-06 08:37] jxrossel opened #28311 "concat and append ignore level names and order in multi-level index DataFrames"
#### Code Sample
[code]
#### Problem description

The multiindex level names are ignored at concatenation (as described here: https://github.com/pandas-dev/pandas/issues/10187). In addition, even with common level names, the level order is also ignored.

I am not saying this is a bug, but since frame columns are aligned at concatenation it's a bit of a surprise to see index levels are not. Should

[2019-09-06 09:10] SdgJlbl commented on #26706
I'll work on that

[2019-09-06 09:33] TColl commented on #22449
I agree with @mariano22 - the `left_index` and `right_index` logic seems inverted in this specific use case where `on` is being used to select the merge columns instead of specifying columns for left and right individually.

I'm using this technique with an inner merge to combine two datasets, using the common columns across both datasets (`on=[col for col in left.columns if col in right.columns]`

[2019-09-06 09:43] xuancong84 commented on #15122
This is very useful as @jorisvandenbossche pointed out, I encounter a situation where lines with fewer number of columns must be raised.
And in general, I would like to suggest adding the following two arguments:
[code]
This gives the most broad coverage of all use cases.
There will be cases when there are more columns, just ignore extra columns; or when there are fewer columns, something is wrong

[2019-09-06 09:59] josesho opened #28312 "GroupBySeries Quantile fails when there are 3 or more categories"
#### Code Sample

Using the latest version of pandas v0.25.1

[code]

produces

[code]

as expected. However, running this

[code]

produces this error instead:

[code]

The expected output is produced with `pandas=0.24`:

[code]

[code]

Not exactly sure how to mitigate this?

I understand a related bug was patched with #28285 and #27526.

#### Output of ``pd.show_versions()``

<details>

INSTALL

[2019-09-06 10:01] josesho commented on #28307
I think I'm seeing the same issue here: #28312.

Basically, if the GroupBy column has more than 2 categories, the quantile code breaks.

[2019-09-06 10:41] squigmig commented on #28299
@WillAyd thanks - I'm happy to dig into the project to investigate, though I'm quite unfamiliar with the inner workings of pandas.

Specifically, the error is raised the bottom of this block, from tslib.array_to_datetime:

[code]

Simple reproducible example:
[code]

It looks like the outer `try` block in in `objects_to_datetime64ns` does not respect the `errors` argument - seems overly simple but

[2019-09-06 11:04] squigmig commented on #28299
(happy to raise a PR if the above suggestion seems sensible)

[2019-09-06 11:08] Hvass-Labs opened #28313 "Problem with MultiIndex upsampling / resampling"
#### Summary

Thanks for making Pandas I have used it in a lot of projects! But now I have a problem.

I have spent nearly 3 days trying to figure out how to **resample / upsample a Pandas MultiIndex** elegantly and correctly. I have read and tried numerous posts on StackOverflow and GitHub. My conclusion is that **I don't think this is supported very well in Pandas**. Let me explain what I want t

[2019-09-06 12:17] agralak-queueco commented on #19602
btw, as a quick workaround, you can copy the previous dtypes and assign them back after grouping:
[code]

[2019-09-06 12:52] gepcel commented on #22485
And the TOC is still missing in version 0.24.0, 0.25.0, 0.25.1.

[2019-09-06 12:56] TomAugspurger commented on #28147
This is currently blocked by https://github.com/conda-forge/python-feedstock/pull/271. I'm a bit hesitant to state that we're 3.8 compatible until we're actually testing on CI.

[2019-09-06 13:31] TomAugspurger commented on #22485
May need someone to look into https://github.com/pandas-dev/pandas-release
/ https://github.com/pandas-dev/pandas-release/blob/master/Makefile#L97

On Fri, Sep 6, 2019 at 7:52 AM WANG Aiyong <notifications@github.com> wrote:

[2019-09-06 13:39] jreback commented on #28147
agreed we have no testing on 3.8 yet

[2019-09-06 13:40] TomAugspurger opened #28315 "Add documentation section on Scaling"
From the [user survey](http://dev.pandas.io/pandas-blog/2019-pandas-user-survey.html), the most critical feature request was "Improve scaling to larger datasets".

While we continue to do work within pandas to improve scaling (fewer copies, native string dtype, etc.), we can document a few strategies that are available that may help with scaling.

1. Using efficient dtypes / ensure you don't have

[2019-09-06 15:26] TomAugspurger opened #28317 "Improve DataFrame.select_dtypes scaling to wide data frames"
Running select_dtypes for a variety of lengths.

[code]

This looks O(n) in the number of columns. I think that can be improved (to whatever set intersection is)

![gh](https://user-images.githubusercontent.com/1312546/64439889-91b5f580-d090-11e9-9a69-c613aedcbe07.png)

Edit: maybe it's O(log(n)), I never took CS :)

[2019-09-06 15:59] TomAugspurger commented on #28307
Fixed by https://github.com/pandas-dev/pandas/pull/28113 I think. That's included in 0.25.2 which will be out in a few weeks, or you can use master.

[2019-09-06 15:59] #28307 closed

[2019-09-06 16:00] TomAugspurger commented on #28312
Fixed in https://github.com/pandas-dev/pandas/pull/28113 I think (0.25.2)

[2019-09-06 16:00] #28312 closed

[2019-09-06 16:07] rcarneva opened #28318 ".infer_objects() behavior is unintuitive when used with schemaless inputs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`.infer_objects()` attempts only a soft conversion of columns classified as objects. When you read from a file type that doesn't come with any schema information like HTML tables or CSVs, the type inference system will read numbers in a mixed format column as strings. As a result, even after you filter to just

[2019-09-06 16:08] simonjayhawkins commented on #27404
@WillAyd I'm reopening this as #28128 did not close this issue. solved for `Appender` and `Substitution` only

https://github.com/pandas-dev/pandas/commit/dd957415cb367056a6f58a776090c5efb581735e will fix `deprecate_kwarg` and probably similar for `rewrite_axis_style_signature`

[2019-09-06 16:09] TomAugspurger commented on #28303
What needs to be fixed? Hashing floats is always going to be slower than
hashing ints.

On Fri, Sep 6, 2019 at 12:56 AM Joel Richard <notifications@github.com>
wrote:

[2019-09-06 16:22] joelrich commented on #28303
I don't understand why it should be significantly slower. I mean, why can't you just interpret the binary representation of the floats as an integer, call the integer factorize and then undo the mapping? I am not suggesting to implement it like this, but this implementation would only be slightly slower than the integer implementation and therefore I don't see why it has to be so slow.

[2019-09-06 16:24] WillAyd commented on #28303
If you have a more performant float factorization technique I think we'd take a PR for it

[2019-09-06 16:26] WillAyd commented on #27404
Sounds good - thanks for taking a look

[2019-09-06 16:29] daishi commented on #28307
Confirming fixed on master:
[code]
FWIW as a side note it took me a little bit to figure out how to build and run off of master. Also, I didn't initially anticipate the build time required for the native libraries. Happy to help but maybe a link giving a quick outline of process when suggesting "try on master" would help reduce friction for casual bug reporters like myself?

[2019-09-06 16:30] WillAyd opened #28321 "Remove customizations to isort formatting"
We customize the display of pandas imports in setup.cfg for isort. This is documented in the contributing guide:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#import-formatting

To provide an example, isort would naturally order imports to be something like:

[code]

Though our customization would do this:

[code]

I personally have found the alphabetic rule much easi

[2019-09-06 16:48] MatthieuLoustaunau commented on #28306
For more precision, I would say it occurs because of a mismatch between the order of the levels in the dataframe and in the call (foo/bar vs bar/foo). If you call `df.unstack(['bar', 'foo'])` you will get the expected behaviour.

In your case an other workaround is to chain calls to unstack: `df.unstack(['foo']).unstack(['bar'])`

[2019-09-06 16:50] jbrockmendel commented on #28321
I've pushed for the current config based on dependency structure arguments (if this isn't clear in the contributing docs, I can try to flesh that out).

The standard ordering (both in isort and in the ecosystem more generally) is `__future__`, stdlib, 3rd_party, 1st_party, same_directory.

pandas has a big codebase and a complicated dependency structure that we have been trying to simplify.  The i

[2019-09-06 17:02] simonjayhawkins commented on #27568
@WillAyd although `pandas\core\indexes\multi.py` looks like the worst offender here, 82 of the mypy errors are related to a decorated `__new__` method.

even with the `deprecate_kwarg` method fixed mypy 0.701, is reporting false positives. upgrading to mypy 0.720 fixes this.

some other errors in other modules disappear too, making the todo list for this issue a little more manageable.

so it migh

[2019-09-06 17:17] WillAyd commented on #27568
Sounds good. I'm not sure we need to really pin mypy - they release pretty quickly and I think good to stay with the latest as it comes out given this is a dev only dependency. Could revisit if something breaks CI drastically in the future

[2019-09-06 17:20] TomAugspurger commented on #28298
I wouldn't want to support doing this implicitly. A `get_groups` is better, but is it that much better than writing your own

[code]

?

[2019-09-06 17:20] simonjayhawkins commented on #27568
yes they do on PyPi. but the conda enviroment does not seem to be keeping up.

[2019-09-06 17:44] bobnvk99 commented on #28305
I think I added the lines that can reproduce this behavior. Not sure if it is missing.

Here it is:
#Sample residual pcts
residuals_pct =[0.044516001,0.031137117,1.06758E+64,0.003522454,0.065171486,0.06033751,0.01325514,-0.005620799,-0.006225719,0.045713825,0.039280786,0.000531307]

#Creating a dataframe with residual percent
d = pd.DataFrame(residuals, columns=['residual_pct'])
#Shifting the pct

[2019-09-06 17:50] lucatrv opened #28323 "`pivot_table` with `margins=True` shows `NaN` with `Period` columns"
The following code reproduces the issue:

[code]

Output:

[code]
Expected output:

[code]

[2019-09-06 21:35] WillAyd commented on #26074
I think if someone wanted to add a test case for this can close out

[2019-09-06 21:43] WillAyd commented on #16358
Looks like a Py2 thing - closing

[2019-09-06 21:43] #16358 closed

[2019-09-06 21:48] WillAyd commented on #28315
I'm on board with this

[2019-09-06 22:10] dsaxton opened #28325 "read_json default date parsing behavior is unexpected"
Generally the `pandas` readers (e.g., `read_csv`, `read_table`, `read_excel`) do not parse dates by default, so users might be surprised that `read_json` _will_ try to parse dates if they don't specify otherwise.  I would expect `read_json` to behave the same as the other IO functions in this regard.

[2019-09-06 23:23] mroeschke commented on #28308
I don't think this is likely to change. This is consistent with numpy which pandas' uses as its backend:

[code]

You can always cast your data to `object` to preserve the underlying data types.

[2019-09-06 23:51] dsaxton opened #28329 "DataFrame.corr(method="kendall") calculation is slow"
[code]

`DataFrame.corr(method="kendall")` doesn't scale particularly well, perhaps because it's the only named correlation method that isn't Cythonized at the moment (we just call `kendalltau` from `scipy` repeatedly in a Python for loop: https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L7454).  It may be worthwhile to try to implement something more efficient within `_libs/a

[2019-09-07 01:44] spindriftur commented on #28329
Working on it 😃

[2019-09-07 03:57] grge opened #28330 "groupby and resample methods do not preserve subclassed data structures"
#### Code sample

[code]
#### Problem description

Originally posted on [SO](https://stackoverflow.com/questions/57796464/pandas-groupby-resample-etc-for-subclassed-dataframe?noredirect=1#comment102088835_57796464).

The intended behaviour for chain-able methods on subclassed data structures is clearly that the operation returns an instance of the subclass (i.e. `MyDataFrame`), rather than the nat

[2019-09-07 05:45] datajanko commented on #28317
For up to 10k columns I saw the same behavior as the one you described. for 10k columns it took me 3 seconds. For 100k columns it takes me 160 seconds (instead of the expected roughly 30 seconds).
But I profiled the output:

<details><summary>Profile</summary>

[code]

</details>

[2019-09-07 07:18] CrystalWindSnake opened #28331 "DataFrame resample and Grouper ,Why are the results different?"
#### Code Sample, a copy-pastable example if possible

data:
[code]

resample:
[code]

use grouper:
[code]

#### Problem description
Why are the results different?

#### Expected Output
I hope that the result of using the grouper is the same as the resample method.

thank you!!

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python

[2019-09-07 09:24] alkasm commented on #28330
Worth noting that the group-by objects *do* store the object it started with in the attribute `obj` (which makes sense, since it has to aggregate the data from it), so those constructors could indeed be called like they are elsewhere in the library. I just implemented this using those methods; only requires a change to `groupby/generic.py`! Here's it in use:

[code]

[2019-09-07 10:47] lshepard commented on #28218
The change to not truncate to_html was made intentionally a few years ago: https://github.com/pandas-dev/pandas/issues/17004

[2019-09-07 10:55] grge commented on #28330
That was fast! I'll try out the fork when I've got access to a less locked down PC.

As far as I can tell this solves the problem perfectly.

[2019-09-07 11:29] #27904 closed

[2019-09-07 13:31] jorisvandenbossche commented on #28315
This could fit in a general "performance" section of the user guide together with the https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html we already have?

[2019-09-07 13:42] lucatrv opened #28332 "Feature request: extend `pandas.DataFrame.replace`"
The following code examples explain this feature request.

The following code works:
[code]
however the following ones do not work:
[code]
[code]
[code]
[code]

[2019-09-07 14:15] grge commented on #28332
In the first (working) example, you are correctly passing in a callable to `columns`. To make your other examples work, just wrap the transformation in a function:

[code]

[2019-09-07 14:51] ghost opened #28333 "Unexpected TypeError using `pd.NamedAgg` dict with `pd.rolling`"
#### Code Sample

[code]
#### Problem description

Pandas version 0.25 provides new aggregate functionality through [NamedAgg](https://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.25.0.html#groupby-aggregation-with-relabeling). I would expect to be able to pass this in after a groupby as a `pd.apply` statement, and also after a groupby _and_ `pd.rolling`.

However, when I try to pass in a

[2019-09-07 15:43] jorisvandenbossche commented on #26706
Again, this is not necessarily about selecting dtypes, it is about knowing if you have a sparse dataframe or not.

Can you to explain *why* you think this makes even less sense in the accessor? It's true that you can call this on non-sparse data, but it still is related to the sparse functionality.

[2019-09-07 15:49] jreback commented on #26706
instead of me explaining an objection how about u justify with an example that you cannot do now?

[2019-09-07 15:53] lucatrv commented on #28332
Yes I agree, but the feature request is to have that happen automatically, because it would be more convenient to just write:
[code]

[2019-09-07 16:06] jorisvandenbossche commented on #26706
The `pd.api.types` functions are rather hidden and due to their nested access seemingly rather for library developers (+ needing to apply the function on the dtypes is also not something straightforward), while wanting to know that your dataframe is sparse, seems to be something rather typical to want to check.
Therefore, I think that is method on the sparse accessor is a nice alternative to `df.d

[2019-09-07 17:59] #28139 closed

[2019-09-07 19:11] TomAugspurger commented on #28333
Should be doable, just not implemented yet. Interested in working on it?

[2019-09-07 19:49] codeman101 opened #28335 "numbers automatically turn into floats"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
If there's a dataframe that has a bunch of ints but a blank in between for example

pandas will turn it into

I may be a little off on remembering the exact decimal (it might be 1.1 but you get the point)

[2019-09-07 19:53] WillAyd commented on #28332
What you are asking for unfortunately doesn't work as the expression would get evaluated immediately. This is just a *limitation* of the Python language

[2019-09-07 19:53] #28332 closed

[2019-09-07 19:54] WillAyd commented on #28325
Can you provide code samples to illustrate?

[2019-09-07 19:55] WillAyd commented on #28335
By default `nan` values must be expressed in a float array (this behavior matches numpy). You can try specifying `dtype="Int64" to get an int array that can also hold NA values

[2019-09-07 19:57] WillAyd commented on #28331
This is probably related to #28302 if you'd like to investigate and submit a PR I think would certainly be welcome

[2019-09-07 20:00] WillAyd commented on #28323
Thanks for the note. If you'd like to investigate and submit a PR would certainly welcome that

[2019-09-07 20:06] WillAyd commented on #28318
I think to make the example minimal the difference is that this coerces to numeric:

[code]

whereas this doesn't:

[code]

If you wanted to take a look and have an easy way of making it work I think would accept a PR

[2019-09-07 20:09] WillAyd commented on #28308
Right I don't think anything to be done here. This just matches the numpy logic

[2019-09-07 20:09] #28308 closed

[2019-09-07 20:10] jreback commented on #28318
we cannot just coerce strings to number w/o an explicit call (cast or pd.to_numeric)
this would be very odd to do automatically and break code

[2019-09-07 20:38] codeman101 commented on #28335
@WillAyd Bet it was originally an int array that was converted to a float array. Are you trying to imply that nan values can only exist in a float array not int array because of how numpy works? If so, I'll raise the issue on the numpy github because there's no reason for that behavior to be intended.

[2019-09-07 20:44] rcarneva commented on #28318
I guess what I'm really looking for is an easy way to trigger the full type inferencing that occurs when you're first reading a CSV/HTML/etc. so that you can read in a table, do some filtering of bad rows of data, and then infer the dtypes again. The docs for `.infer_objects()` seemed to suggest that it would do that or similar, and I (wrongly) assumed it was meant to be an explicit call with that

[2019-09-07 21:03] lucatrv commented on #28332
I see. Would it be possible to use string expressions, similarly to `pandas.DataFrame.query`, for instance:

[code]
This would be syntactic sugar for [method chaining](https://www.dataschool.io/future-of-pandas/#methodchaining), for instance:

[code]

[2019-09-07 21:05] jreback commented on #28332
-1 on using any string expressions; they are not discoverable, not syntactic and generally a bad idea (.query included)

[2019-09-07 21:34] #28335 closed

[2019-09-07 21:40] jreback commented on #28335
@codeman101 you should read this: https://pandas.pydata.org/pandas-docs/stable/user_guide/gotchas.html#nan-integer-na-values-and-na-type-promotions

[2019-09-08 01:54] dsaxton commented on #28325
[code]

It's admittedly a little nitpicky, but for consistency's sake (and to avoid confusion for those used to the behavior of the other IO functions) I think you'd either want to always parse or always not parse by default (the latter seems safer and is already the convention for the other readers) rather than making an exception for `read_json`.

[2019-09-08 02:00] jreback commented on #28325
JSON is a well define format and it is very convenient to do this; not sure why consistency with csv matters at all

[2019-09-08 03:00] christopherzimmerman commented on #28323
Issue looks to be [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/reshape/pivot.py#L241) in `add_margins`.  For this example, the index of `row_margin` retains the `Period` dtype, while the columns of `result` coerce to strings, which results in a bad reindex.

[2019-09-08 03:25] christopherzimmerman opened #28337 "reindex with Period results in NaN"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is the underlying problem causing https://github.com/pandas-dev/pandas/issues/28323.  Reindexing with an index that contains a Period results in `NaN` results.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
p

[2019-09-08 04:41] frank-wang-yifei commented on #28298
Thanks @WillAyd @TomAugspurger for the comment. My understanding is `groupby()` and `get_group()` are reciprocal operations:

- `df.groupby()`: from **dataframe** to **grouping**
- `grp.get_group()`: from **grouping** to **dataframe**

Since it's common to call `groupby()` once and get multiple groupings out of a single dataframe (operation "one-df-to-many-grp"), there should be a method to call o

[2019-09-08 07:58] lucatrv commented on #28332
IMHO uniformity in SW design is very important, so either string expressions are removed also from `query`, which would require to write something like:
[code]
or otherwise they are allowed for `rename` too. Mixed behavior is confusing.

[2019-09-08 09:27] jreback commented on #28298
-1 on adding anything

working with just a small handful of groups is way less common that simply using an aggregation function

you can already use a list comprehension to iterate over groups if needed

[2019-09-08 13:02] dsaxton commented on #28325
I guess it isn't so much consistency with `read_csv` but the fact that date parsing can be a little dubious sometimes:
[code]
How does `read_json` know that the first date is June 1st and not January 6th, and should `"2018"` necessarily become January 1st of that year?  I'm not sure if you'd want this behavior to happen silently and automatically.

[2019-09-08 13:15] kmin-jeong commented on #27812
can I try it?

[2019-09-08 14:04] AminooZ commented on #27976
I made a pull request #28340 to solve "pandas.Series.astype: Unknown parameters {kwargs}".
I'll continue working on more PR02 issues in docstrings.

[2019-09-08 15:22] cbertinato commented on #28256
Thanks Will!  That definitely saved some time getting to the root of one of the issues and I think the fix is just as you say.  This takes care of the case when you do `astype(object)`, but without, we still get the timedelta serialized as a datetime.

In this case, we pass through the `PyDelta_Check`:
https://github.com/pandas-dev/pandas/blob/9aa9db9b85ee0285e11fc950f570a886233bc5b1/pandas/_libs/

[2019-09-08 15:55] TomAugspurger opened #28341 "Remove compiled Cython files from sdist"
NumPy is considering this in https://github.com/numpy/numpy/pull/14453. I suspect other projects will follow suite.

The tldr is that as long as we ship the cythonized code, our older sdists have no hope of working with newer Pythons. The have to be compiled with a modern enough Cython.

I think this makes even more sense for us. We already require that NumPy is present as a build dependency. Requ

[2019-09-08 16:11] jreback commented on #28341
+1 on this; sure could do this for 0.25.2

[2019-09-08 17:09] #28080 closed

[2019-09-08 17:30] jorisvandenbossche commented on #28095
(sorry for the slow reply, busy EuroScipy)

Can you elaborate a bit more on this sentence?

For sure, we could also return np.nan as the scalar value (you could basically replace pd.NA with np.nan in the proposal), and this is something our users are already familiar with.
Although somewhat subjectively, some reasons why I don't really like that solution:

- In general, `np.nan` is a float value (

[2019-09-08 18:05] JobCollins commented on #27655
Sorry, it took a long time for me to respond. I have understood that this is out of scope for pandas. I appreciate each contribution towards this "issue".

[2019-09-08 19:07] jbrockmendel commented on #28095
So if I have a Series[float64] could it contain both `np.nan` and `pd.NA`, and these signify different things?

Misc thoughts:

- Assuming `pd.NA` is implemented in cython, checks for it would be more performant than checks for `np.nan` scalar (since that is not a singleton).
- Does consistency with arrow play a factor in your thought process?  Note `pa.NA == pa.NA`
- Would it be worthwhile to imp

[2019-09-08 19:49] WillAyd commented on #28256
Great thanks for diving into this. For now I *think* it would be OK to just create a pandas Timedelta object and call `isoformat` off of that. That would be less performant than a native C routine but simpler at the same time

Generally I think we need to simplify our JSON serialization as it's been rather stale development-wise for a few years, so I've thought about doing as much logic in the Pyt

[2019-09-08 19:51] christopherzimmerman commented on #28337
Was planning on looking into this, but it seems like the issue is in one of the cythonized files, which I haven't worked with before.  [This](https://github.com/pandas-dev/pandas/blob/9cb5de04bc61f23047eb7f34bef2bb14ef58da8e/pandas/_libs/index.pyx#L271) lookup is failing.  I may spend some time getting familiar with Cython and come back and try this one.

[2019-09-08 19:51] jorisvandenbossche commented on #28095
In theory, yes (that is what R, Julia, SQL, .. do). In practice, though, we will certainly need some kind of option (and as default in the beginning) to still treat np.nan as a missing value.

Partly, yes, but not as the main reason (but you could see Arrow as "yet another example" next to other R/Julia/SQL that distinguish both concepts, and a python one). Note that Arrow nowadays uses "null" ins

[2019-09-08 19:58] WillAyd commented on #28341
Makes sense to me. I suppose has the advantage of making these distributions smaller too, right?

[2019-09-08 19:59] WillAyd commented on #28337
This may also be related to #28323 - would take a PR for sure if you have one to offer

[2019-09-08 20:00] jbrockmendel commented on #28095
That example works, but more problematic examples are `Series[datetime64] - pd.NA` and `Series[timedelta64] / pd.NA`.  I know we discussed this on the last call, not sure if there is a thread on this.

[2019-09-08 20:01] WillAyd commented on #28337
Sorry just realized you put that in the OP as well

[2019-09-08 20:04] WillAyd commented on #28325
While not part of the spec I think JSON more typically represents dates as ISO, which could justify why the first date is June 01 and not January 06. I don't think Excel / CSV have as much of a pseudo-standard when it comes to date parsing

So I'd say generally I'm indifferent to any changes here. I don't necessarily see a problem but if you have a concrete proposal and PR I think could be conside

[2019-09-08 20:08] jorisvandenbossche commented on #28095
Why is that more problematic? Because float and int, although different types, still can refer the same (semantic) value, while timestamp and timedelta are different concepts. That's indeed a bigger difference.
The proposal suggests the idea of a "NA dtype", which could potentially help remediate this case (I won't say "solve" ;)). Or at least, worth to think through a few use cases to see if it c

[2019-09-08 21:06] fengshenme opened #28348 ""No such keys(s): 'display.html.border'""
Ndarray was converted to DataFrame times incorrectly, python3.7 was used, python3.6 was not reported until rolled back, and centos7 system was used
将ndarray转为DataFrame时报错了"No such keys(s): 'display.html.border'",使用的是python3.7,
回滚python3.6才没报错,用的centos7

[2019-09-09 02:14] jbrockmendel opened #28353 "REF: move _libs.tslib into _libs.tslibs"
Mainly need to choose a name.  The main functions are array_to_datetime and ints_to_pydatetime.

[2019-09-09 02:17] jbrockmendel commented on #28341
I don't think this is a problem, but it's worth mentioning that we tend to bump cython min-version relatively frequently in part because its not a requirement.

[2019-09-09 02:24] jreback commented on #28353
can / should these move to conversion.pyx?

[2019-09-09 03:00] jbrockmendel commented on #28353
No, conversion.pyx is relatively low-level while these will be the highest-level functions in tslibs.  something like api.pyx

[2019-09-09 04:27] benbendemo opened #28355 "pandas.compat StringIO return unexpected 'nan' under Python3"
#### Below are python codes which could run successfully under Python2.7.14, but failed under Python3.6.5 due to StringIO return an unexpected 'nan' character.

<details>

[code]

</details>

#### Problem description

See below result after program executing, there is an extra 'nan' returned unexpectedly. Is there some experts could offer any suggestions why this could happen?

#### Returned Outpu

[2019-09-09 05:07] xhochy commented on #23180
@jbrockmendel Is this still an issue? How could I reproduce this?

[2019-09-09 05:18] xhochy opened #28356 "Conda channels are in wrong order in Windows Tests on Azure"
We currently have https://github.com/pandas-dev/pandas/blob/df3d9b2cdfe2ebab3a5b22e6f5359a393e519af4/ci/deps/azure-windows-36.yaml#L2-L4 for the requirements in the Windows tests. This is sadly a known source for problems as there are conflicting packages in both channels, e.g. boost from `defaults` and `conda-forge` is in different packages (`libboost` vs `boost-cpp`) and thus both can be install

[2019-09-09 05:19] stuarteberg commented on #25471
I can confirm in pandas 0.25.0.

These work fine:

[code]

But this raises an error:

[code]

And the `.agg()` call only requires a single column, but you provide more than one column when you select columns from the `groupby`, then you get a weird result. (Why does the result below include a `y` column at all?)

[code]

[2019-09-09 07:35] bhavaniravi commented on #24028
@datapythonista it is not a part of setuptools the only other place i see it in whole of internet is in numpy docs. On looking through their code they have a custom implementation for parallel processing. We should be doing the same for "-j to work"

https://github.com/numpy/numpy/blob/42ac121a0b547bc7c218c7ea318caf6c0a420034/numpy/distutils/command/build_ext.py#L34

[2019-09-09 08:15] randerse10 opened #28358 "passing string value to pandas.DataFrame.fillna() & pandas.PivotTable(fill_value) 'breaks' pandas.DataFrame.style.highlight_* inside jupyter notebook"
#### Code Sample, a copy-pastable example if possible

[code]
![Screenshot from 2019-09-09 11-07-48](https://user-images.githubusercontent.com/8972166/64513898-36833d80-d2f2-11e9-88a2-cac3da386d08.png)

![Screenshot from 2019-09-09 11-07-23](https://user-images.githubusercontent.com/8972166/64513905-3aaf5b00-d2f2-11e9-8abf-6465e4a41878.png)

#### Problem description
`pandas.DataFrame.style.highlig

[2019-09-09 11:30] Jasonsey commented on #28261
@jbrockmendel Sorry for late. The output what I expect here is `[12, 222]`. And I have demoted the version as a temporary solution

[2019-09-09 11:31] AngieZhang1025 commented on #17041
Any workaround on this?

[2019-09-09 11:46] sarathsairam opened #28359 "import pandas not working on CentOS 7"
#### Code Sample, a copy-pastable example if possible
[root@rc14e00h003 recon]# python
Python 2.7.5 (default, Jun 20 2019, 20:27:34)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-36)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib64/python2.7/site-packages/pandas/__init__.py", line 42,

[2019-09-09 11:57] shakhat opened #28360 "Poor performance of constructing of DataFrame from series which indexes have different time zones"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

DataFrame is constructed from 2 series. The performance degrades significantly when series have indexes with different time zones. The code from above returns:
[code]

#### Expected Output

It's expected that performance is the same.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
--------

[2019-09-09 12:06] #19995 closed

[2019-09-09 12:12] TomAubrunner commented on #27547
I updated pandas and now I get the same KeyError.
Some tests showed that pandas 0.23.4 works well with adodbapi. The problem exists since pandas 0.24.0.
Maybe that helps to locate the cause of the issue.

[2019-09-09 12:16] mannawar commented on #12457
In python as we know the list is mutable. And if we try to access the element out of range or which we are not allowed to do so, is giving index out of range error
example: if we have, 5 -items as items=[1,"apple", 2, "boy", 3], here index start with zero as we know
items[0] will give 1
items[1] will give "apple"
items[2] will give 2
items[3] will give 2"boy"
items[4] will give 3
items[5] will giv

[2019-09-09 12:33] jreback commented on #28360
you are trying to combine disparate indexes

[code]

so these need to be aligned, by definition then they must be converted to UTC.

prun shows
[code]

likely we are taking an inefficient path here in attempting to convert (when we know up front that we must instead use a vectorized conversion to UTC).

if you'd like to look in more detail would be great.

[2019-09-09 12:33] jreback commented on #28360
cc @jbrockmendel

[2019-09-09 13:56] jorisvandenbossche commented on #28252
Created an issue on the Arrow side (https://issues.apache.org/jira/browse/ARROW-6492#) and created a PR to fix this (https://github.com/apache/arrow/pull/5331). And also opened issue on fastparquet side to get the metadata in a consistent state (https://github.com/dask/fastparquet/issues/462).

So let's close this issue here, as there is no further action for pandas itself.

Thanks for the report

[2019-09-09 13:56] #28252 closed

[2019-09-09 14:17] TomAugspurger commented on #28359
The docs note that pandas 0.0.25 and higher only support Python 3.5.3 and higher: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html.

For new enough versions of pip, `pip install pandas` will give you 0.24.2 in a python 2.7 environment. If your pip is too old you'll need to manually request pandas 0.24

[2019-09-09 14:17] #28359 closed

[2019-09-09 14:26] TomAugspurger commented on #28358
When you fill with a string, you convert to object dtype. The string `'-'` can't be compared to the numeric values.

I think what you want is a way to control how `NA` values are printed in the output, and an option for `highlight_max` to skip NA values. Not sure if those are possible today or not.

[2019-09-09 14:32] TomAugspurger commented on #28355
FYI @benbendemo no one will take a look at this until you can make a smaller example. See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports.

[2019-09-09 14:37] TomAugspurger commented on #28341
I also don't think that's a problem. With pip's build isolation, a `pip install --no-binary=pandas pandas` should pull down a completely independent environment. So you should still be able to have an older Cython in your application / library's dependencies even when you're building pandas from source.

[2019-09-09 14:40] jbrockmendel commented on #23180
No idea, I was hoping you'd know.

[2019-09-09 14:41] TomAugspurger commented on #28348
Can you provide more information? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-09 14:58] randerse10 commented on #28358
Yes, that is what I'm looking for. I did not know how to properly describe the problem.

[2019-09-09 15:52] bobnvk99 commented on #28305
Thank you @dsaxton
I understand that I should be using rolling.apply() to achieve the expected behavior; tested it and is working fine.
Hopefully, this rolling().mean() issue will be resolved in the next release.

[2019-09-09 16:36] squigmig commented on #28299
After further investigation it looks like this is caused by this open issue in the dateutil project:
https://github.com/dateutil/dateutil/issues/188

To reproduce:
[code]

The error isn't raised on parsing, but only when retrieving the offset parsed from the string.

This means that the block which attempts a try/except around parsing datetime strings in `pandas/_libs/tslib.pyx` does not hit the e

[2019-09-09 18:45] naupa opened #28363 "hash_pandas_object hash differs for NaN"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

For the array x2 the nan value results in a different hash what is not expected.

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted

[2019-09-09 18:49] jorisvandenbossche commented on #27547
As mentioned above, this is a bug in `adodbapi` IMO. Someone feel free to report / fix it over there.

[2019-09-09 19:42] Jeitan commented on #28177
I just ran across this and see that it is fairly recent, hooray!  Might I make an observation of something to consider as this rework is done?  **Grouped histograms.**  There are currently 8 native ways to do this, including the "redundant" `.hist` and `.plot.hist` and depending on what kind of object you're calling it from. Almost none of them behave the same and some don't behave in any expected

[2019-09-09 20:20] TomAugspurger commented on #28177
Does https://github.com/pandas-dev/pandas/issues/11053 already contain
everything?

On Mon, Sep 9, 2019 at 2:42 PM Andrea Smith <notifications@github.com>
wrote:

[2019-09-09 20:25] TomAugspurger commented on #28363
Do you know what guarantee NumPy makes about `ndarray[float64].view(uint64)`? It looks like that's probably where things differ when you have multiple instances of `np.nan`.

[2019-09-09 20:35] TomAugspurger commented on #28274
I don't think we would want to cast implicitly.

[2019-09-09 20:36] Jeitan commented on #28177
Well it looks like that's along the right track, for sure ... that `.hist` and `.plot.hist` do very different things.  I don't see any mention of the `'by=` keyword, though, which is what I'm concerned about. For example, the following:

[code]
Yield these two plots:
(1)
![pdh_df_hist_by](https://user-images.githubusercontent.com/9399446/64564558-ac919f80-d306-11e9-9e81-185b735befbb.png)
(2)
![pdh

[2019-09-09 20:40] TomAugspurger commented on #28287
Huh, the bug is in actually in `DataFrame.__invert__`

[code]

Right now we call `com.values_from_object`. Ideally we would do some kind of blockwise `__invert__` and wrap.

cc @jbrockmendel.

[2019-09-09 20:41] Jeitan commented on #28177
It looks like one way of achieving the `.hist` type result with `.plot.hist` is to make the `subplots` keyword functional (right now it doesn't do anything in this particular situation).

[2019-09-09 21:43] Jeitan commented on #28177
Actually, I just found issue #15079 which I think is most closely related, methinks. Sorry for cluttering the space here.

[2019-09-09 21:49] Jeitan commented on #15079
@jorisvandenbossche I would LOVE to see `by` implemented in `plot.hist` and have made a comment along those lines at #28177 . Seeing as how that's what the documentation has been saying all along...

[2019-09-09 22:04] dsaxton commented on #28325
If there's a reasonable expectation that dates in JSON will tend to be well-formed, I guess it doesn't matter too much.  Thanks for the feedback.

[2019-09-09 22:04] #28325 closed

[2019-09-09 22:45] yuriikoval1997 opened #28365 "pandas.DataFrame.boxplot(by="class", ...) doesn't plot correctly"
#### Problem description
**pandas=0.24.2**
I uploaded the jupyter notebook file on [my GitHub account](https://github.com/yuriikoval1997/pandas0.24.2-has-a-problem-with-cyrillic/blob/master/pandas%20bugs.ipynb), so here I will be short.
For some reason, pandas.DataFrame.boxplot(by="class") method doesn't work correctly with Cyrillic letters in the table.

[code]

[2019-09-09 23:43] jbrockmendel commented on #28363
That is curious.  Is the `sqrt(-1)` necessary to get this behavior

[2019-09-10 00:15] jschendel commented on #28303
I think some further investigation is needed here: it doesn't look like `pd.factorize` is slow in general for floats, but rather that there are certain float values that are slower to factorize than others.

In the example below, performance loss peaks for values around`10**9` (this might not be the only scenario but rather just one I've found):

[code]

From the above, the performance loss seems

[2019-09-10 00:24] WillAyd commented on #26831
Per Joris' email today I gave the notebooks a quick look. Here are just some of my thoughts:

  1. Generally I didn't understand what the `Content To Cover` bullets were supposed to represent and I think these should be removed and/or rolled into the objectives
  2. I think the first few pages make too many references to `dtypes`, and having worked with a lot of people coming from Excel / Access a

[2019-09-10 02:03] TomAugspurger commented on #28363
I think so. That't gives you an `np.nan` that isn't the same (identity) as `np.nan`

[2019-09-10 02:28] #25022 closed

[2019-09-10 08:00] floriancartuta commented on #28249
I uploaded the requested information.

[2019-09-10 08:33] Hiill opened #28366 "df.corr Spearman method performance"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I found that when I calculate Spearman correlation via the detour method it's way faster. The output (correlation coefficients) differs slightly (minimal). I'd like to understand this difference in output, and maybe the Spearman method can be faster by re-using the current Pearson implementation.

[2019-09-10 10:16] jorisvandenbossche commented on #27435
Note that this is very easy to run into, simply doing

[code]

in a clean env with python 2.7 and latest pip gives the error (I am using `--no-binary` to mimic a platform that has no wheels).

Does anybody know what is actually the underlying reason, or if this has been reported to pip / setuptools?

[2019-09-10 10:39] jorisvandenbossche commented on #27435
OK, there is https://github.com/pypa/pip/issues/6667.

So if I understand correctly, this is (within the limitations of setuptools handling of `setup_requires`) not an issue due to pip or how people are using it (installing should work without first needing to install the dependencies), but something we can fix on our end.

I think we should consider doing a 0.24.3 release for this.

[2019-09-10 11:33] TomAubrunner commented on #27547
ok.
I replaced line 466 in adodbapi/apibase.py from:
        return self._getValue(self.rows.columnNames[name.lower()])
to:
       try:
            return self._getValue(self.rows.columnNames[name.lower()])
        except:
            return False

I'll try to propose this change to adodbapi. Any clue where/how to?

[2019-09-10 11:45] jorisvandenbossche commented on #27547
It seems the project is on sourceforge: https://sourceforge.net/projects/adodbapi/. The https://pypi.org/project/adodbapi/ (at the bottom) mentions that the pywin32 mailing list can be used for this project.
Or maybe you can directly use the pywin32 github repo which includes adodbapi (https://github.com/mhammond/pywin32), I don't know.

[2019-09-10 12:05] #28301 closed

[2019-09-10 12:06] #28323 closed

[2019-09-10 12:06] #28337 closed

[2019-09-10 13:13] Liam3851 commented on #28366
Duplicate of #28139, should have been fixed in #28151.

[2019-09-10 13:18] Liam3851 commented on #14239
Perhaps we can close this due to #28151?

[2019-09-10 14:06] TomAugspurger commented on #18743
Has this been fixed in the meantime? Running the script from the original post, I see

[code]

I'm using pandas master, Python 3.7 on MacOS.

[2019-09-10 14:08] TomAugspurger commented on #18743
https://github.com/pandas-dev/pandas/issues/27031 seems to be the most likely fix. Thanks Jeff. (https://github.com/pandas-dev/pandas/issues/27585 possibly helped, but that's less certain).

[2019-09-10 14:19] christopherzimmerman commented on #28333
Looks like `expanding` might need to be patched as well to accommodate this new behavior? Worth doing in a single PR? Or should I open a separate issue to track it?

[2019-09-10 14:26] TomAugspurger commented on #28333
I suspect rolling / expanding / ewma will have a single implementation
that's shared.

On Sat, Sep 7, 2019 at 9:52 AM Brian Bader <notifications@github.com> wrote:

[2019-09-10 14:27] jreback commented on #18743
this should be ok now @TomAugspurger is that not what u r seeing?

[2019-09-10 14:34] TomAugspurger commented on #18743
I'm seeing that it's fixed now, just wanted to clarify since we had some Dask users reporting issues (but they're likely on an older pandas).

[2019-09-10 14:38] MenelikV opened #28369 "Apply not available for all windows type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above produces an error, stating that the `Window` class produces by the rolling function does not have an `apply` attribute.

If I remove the `win_type` attribute, the computation goes fine and returns a result:
[code]

#### Expected Output
I expect the `apply` attribute to be available to any `win_type` (I

[2019-09-10 15:24] jbrockmendel commented on #27602
Can/should we revert #28065?  Having 20-day old results on codecov is not great

[2019-09-10 16:35] luranhe opened #28372 "`pivot_table` args `index` and `observed` don't play well"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I would expect the default behavior of `pivot_table` to yield precisely 1 column per category of a categorical grouper when pivoting over a single categorical column.  This was not the case when I passed in an index -- I only ended up with the observed categories for columns, even when passing `observed=False`

[2019-09-10 18:23] stijnvanhoey commented on #26831
Thanks for the feedback, certainly valid input. Some quick responds:

- `Content To Cover` is purely for the preparation, not part of the content. This was the list of elements to incorporate as defined in the preparation/discussion with Joris.
- Good point with respect to the `dtypes`, we could shift this to later sections. I agree.
- With respect to `Series` versus `DataFrame`, the idea is that

[2019-09-10 19:26] jorisvandenbossche commented on #26831
Yes, that big code rendering is a left-over of some of the css of the old website (which is already being removed in a PR, that should fix that issue). More feedback on usability is very welcome on the theme as well, but let's keep that in https://github.com/pandas-dev/pandas/issues/15556/

[2019-09-10 19:39] TomAugspurger commented on #27602
Having it enabled would be preferred, as long as it's not breaking things.

On Tue, Sep 10, 2019 at 10:25 AM jbrockmendel <notifications@github.com>
wrote:

[2019-09-10 19:40] TomAugspurger commented on #27435
What's the fix? Adding a pyproject.toml to 0.24.3?

[2019-09-10 19:51] WillAyd commented on #26831
@stijnvanhoey cool all sounds good - thanks for the response

[2019-09-10 20:00] mas-dse-juremigi opened #28375 "unable to write JSON to S3 use to_json"
#### Code Sample, a copy-pastable example if possible

S3 paths work for reading and writing CSV. However, I am not able to write json files using the to_json method.   Reading json from an S3 path seems to work just fine.

[code]
#### Problem description
[code]
#### Expected Output

None. Expected output is no error and the file is written to the s3 bucket.

#### Output of ``pd.show_versions()``

[2019-09-10 20:12] TomAugspurger commented on #14239
Thanks @Liam3851, I think you're right.

[2019-09-10 20:12] #14239 closed

[2019-09-10 20:26] TomAugspurger commented on #28249
@floriancartuta I'm not seeing anything that can be copy-based. Am I missing something?

[2019-09-10 20:32] christopherzimmerman commented on #26513
@TomAugspurger I'm going to look into this, just had a question about desired behavior.

Currently, if you aggregate different functions on different series with `DataFrame.agg`, you still get a Series back:

[code]

For the example you provided above, it would seem the result would be something like:

[code]

When something like:

[code]

Would be the closest to current behavior.  Any thoughts?

[2019-09-10 20:35] #25099 closed

[2019-09-10 20:38] TomAugspurger commented on #28365
Do you have a reproducible example? Ideally with the equivalent Matplotlib code that plots things correctly?

[2019-09-10 20:48] yuriikoval1997 commented on #28365
I uploaded the code on my GitHub account - [jupyter notebook file](https://github.com/yuriikoval1997/pandas0.24.2-has-a-problem-with-cyrillic/blob/master/pandas%20bugs.ipynb). Did you try to run it?

[2019-09-10 20:54] ghost opened #28376 "How to fix your data returning Nan instead of float values in Python 3 for categorical data"
Just a quick one. I am dealing with categorical data.

After grouping by, I tried to see what the data looks like and this is what I get. what can I do?

    import pandas as pd
    import matplotlib.pyplot as plt
    import numpy as np

    pd.set_option('display.max_rows', 500)
    pd.set_option('display.max_columns', 500)
    pd.set_option('display.width', 1000)

    happiness_dataset= pd.read_

[2019-09-10 21:02] TomAugspurger commented on #28332
I don't think that'd be a good direction for the library. Thanks though @lucatrv.

[2019-09-10 21:04] TomAugspurger opened #28377 "File options for IO methods"
Split from https://github.com/pandas-dev/pandas/pull/27899. How should we handle options to be passed to the `open` call (like `encoding`, `errors`).

A few options

* pass through `**kwargs`
* a "storage_options" kwarg that's a dict with some specification

Want to thing about things like S3, etc. too.

[2019-09-10 21:12] TomAugspurger commented on #28376
We recommend StackOverflow for usage questions.

[2019-09-10 21:13] TomAugspurger commented on #28365
Can you inline the small example here? We need to be able to check whether the issue is fixed, even if that repo goes away.

[2019-09-10 21:16] TomAugspurger commented on #26513
You're probably right about the expected output being a Series there.

[2019-09-10 21:28] WillAyd opened #28378 "tm.makeObjectSeries returns a Series with dtype="datetime64[ns]""
[code]

@jbrockmendel and I were both surprised that calling `makeObjectSeries` returns a Series with a datetime dtype. I think it would be more logical for this function to actually return an object dtype Series

[2019-09-10 21:28] WillAyd commented on #28378
xref https://github.com/pandas-dev/pandas/pull/27838/files#r322964878

[2019-09-10 21:29] TomAugspurger commented on #28313
So the core request is allowing upsampling in with a MultiIndex and `level=`? If so, could you update your post to include a copy-pastable example with
  - the input to create the dataframe
  - the ideal output
  - the current output

And probably the rest of the post can be trimmed / removed (things like workarounds using groupby).

It's likely not on anyones critical path. We can keep this issue

[2019-09-10 21:31] yuriikoval1997 commented on #28365
I don't have Matplotlib code for those plots. If it helps, I will attach the code that uses seaborn and builds works properly.
[code]
Also, I could attach some pickle files and images to this comment, but I don't think it is possible.

[2019-09-10 21:32] TomAugspurger commented on #28311
In https://github.com/pandas-dev/pandas/issues/10187 it looks like this was determined to be a bug. I'd rather see a fix for them, than a note in the docs.

[2019-09-10 21:33] TomAugspurger commented on #28282
Happy to take a fix for this.

[2019-09-10 21:34] WillAyd commented on #28375
Thanks for the report. If you'd like to investigate and push a PR to fix would certainly be welcome

[2019-09-10 21:37] WillAyd commented on #28369
Thanks for the report. If you'd like to investigate and try a PR would certainly be welcome. Relevant code is in pandas.core.window.rolling.py

[2019-09-10 21:42] CaselIT commented on #14239
Just retried the snipped I posted. Still not as fast as scipy, but it's at least a lot better than before 🎉

[code]

[2019-09-10 21:43] WillAyd commented on #28372
I might not completely understand but are you basically saying that a pivot of

[code]

should include the "c" category?

[2019-09-10 21:55] blu3r4y commented on #25174
There are still a lot of calls that are missing the `sort` argument in [`groupby.py`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/groupby.py) on master, triggering internal warnings.

The last warning I got in 0.25.1 was here: (it's still the same line as mentioned by @aloukina)
https://github.com/pandas-dev/pandas/blob/760c65407c3362e3c4660207ea447b90d035f2f5/pandas/core/

[2019-09-11 00:12] simonjayhawkins commented on #28377
this task is part of #15008 ?

[2019-09-11 01:06] pilkibun commented on #28244
the underlying issue is the same as in #27593. `rolling.std` is calculated by calculating the variance and taking the `sqrt`. since a `double` can only hold about 16 significant digits, if your data varies by 8 orders of magnitude then the magnitude of the squared differences can vary by 10e16 which puts you in the numerical danger zone.

you should be aware that `rolling.std()` uses a specialized

[2019-09-11 01:24] christopherzimmerman opened #28380 "Move helper methods for Named Aggregation out of groupby/generic"
Related to #28333 and #26513

There are several helper methods to help with named aggregations, that are found in [`pandas.core.groupby.generic`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/generic.py), namely:

- [`_is_multi_agg_with_relabel`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/generic.py#L1704)
- [`_normalize_keyword_aggregation`](https:

[2019-09-11 01:41] shan224 opened #28381 "ImportError: Can't determine version for tables"
#### This is probably some configuration issue on my end.

[code]

[2019-09-11 01:42] WillAyd commented on #28381
Can you post pd.show_versions()?

[2019-09-11 02:15] WillAyd opened #28382 "Update cpython imports in Cython Code"
Looking at the Cython source there is a big deprecation warning about doing `from cpython cimport ...`

https://github.com/cython/cython/blob/cd031618700bf8293818729ee07bfc855fb424a2/Cython/Includes/cpython/__init__.pxd#L125

We tend to import things that way, so I think would be nice to clean up our imports to be absolute from cpython.

I think this is a great issue to pick up for those looking t

[2019-09-11 04:36] jorvis commented on #17399
Is this possibly still an issue?  I'm able to reproduce it, but with 0.24.2 which should long-since have the fix:

https://imgur.com/a/3ZrXqSv

[2019-09-11 05:35] TonyCongqianWang opened #28383 "Pandas get_dummies validate "columns" input"
#### Code Sample, a copy-pastable example if possible

import string, pandas

p_csv = pandas.read_csv(my_dir/myFile), index_col=0)

sepanames = sorted(p_csv["SEPARATOR"].unique())

for i in range(0, 14):
    print(i)
    col = p_csv.columns.get_loc("SEPARATOR") + 1 + i
    p_csv.insert(col, "SEPARATOR_" + sepanames[i].upper(), p_csv["SEPARATOR"].apply(lambda x: int(x == sepanames[i])))

p_csv.to_c

[2019-09-11 05:39] jxrossel commented on #28311
Well, that would be optimal of course.

[2019-09-11 06:40] jorisvandenbossche commented on #26706
@jreback do you have further objections?

[2019-09-11 06:45] floriancartuta commented on #28249
Hope it is ok now.

[2019-09-11 07:00] jorisvandenbossche commented on #27435
Adding a "< 1.17" to numpy in `setup_requires` (and probably as well to install_requires, and probably only if you're running python 2).

That's the basically the only change they did in the "pandas27" (https://github.com/Tuxprogrammer/pandas/pull/1, only need to look at changes in setup.py)

[2019-09-11 07:01] jorisvandenbossche commented on #27435
The proper fix is to add a pyproject.toml, but let's try to do that again on master first and not in a bug-fix release. But as long as we don't use pyproject.toml, that means we don't get the proper build isolation of pip and we need to work with legacy setuptools / setup_requires.

[2019-09-11 07:10] notsambeck commented on #14553
Hey Pandas folk: I have had this same issue, needing to frequently update my local database with records that I ultimately load and manipulate in pandas. I built a simple library to do this - it’s basically a stand-in for df.to_sql and pd.read_sql_table that uses the DataFrame index as a primary key by default. Uses sqlalchemy core only.

https://pypi.org/project/pandabase/0.2.1/
GitHub.com/notsam

[2019-09-11 07:12] jorisvandenbossche commented on #28341
I am fine with no longer shipping the cythonized files, but wondering if it is a good idea to do this in a bug fix release ..

I suppose the reason to actually do it now already for 0.25.2 is because this might help for python 3.8, and 0.25.2 will probably be the first release to support this?

[2019-09-11 08:31] #11001 closed

[2019-09-11 09:28] mgsnuno commented on #3729
also faced this. I'm really used to do `value_counts(dropna=False)` and without this feature in groupby, cannot have the same results without before doing something like `fillna(-1)`

[2019-09-11 09:54] ageorgou opened #28384 "Categorical equality with NaN behaves unexpectedly"
#### Code Sample, a copy-pastable example if possible

[code]
Output:
[code]

#### Problem description
I would expect anything to compare `!=` to NaN.

Comparing the categorical series with `==` works as expected:
[code]
Output:
[code]

Element-wise comparison seems to work fine:
[code]
Output:
[code]

This also works as expected with other data types, e.g.:
[code]
gives
[code]

Apologies if this

[2019-09-11 10:19] has2k1 opened #28385 "Nullable Int64 column changes type after some (cumsum) operations"
#### Code
[code]

#### Output
[code]
#### Expected Output

[code]

#### Problem description

After an operation like a cumulative sum on a column/series with an `Int64` dtype, the dtype of the result is downcast to `object`. The contents (integers and nans) of the result still qualify for  it to have an `Int64` dtype.

`cummax`, `cummin` and `cumprod` have the same behaviour.

#### Output of ``pd.

[2019-09-11 10:23] jreback commented on #17399
the referenced PR was closed as stale and not merged; this issue is still open

[2019-09-11 11:35] TomAugspurger commented on #28341
I share that concern, and yes.

So if we don't want to backport this, we would just need to ensure that the environment used to build the sdist has a new enough Cython (which I've messed up in the past). Overall, I think it's best to remove, even in the bugfix release.

[2019-09-11 11:37] TomAugspurger commented on #27435
It would have to be Py2 only right? Else you can't install 0.24.2 with Python 3 and NumPy 1.17.

Is anyone actually going to do the release though? I suppose we can cut corners and not build conda packages. Not sure if we can skip building docs. But we have to build both an sdist & wheels, even though the issue is just with the sdist.

[2019-09-11 11:45] TomAugspurger commented on #28385
I don't think that cumulative operations are currently part of the extension array interface.

Likely, we need something similar to `ExtensionArray._reduce`, but for cumulative methods.

[2019-09-11 11:47] TomAugspurger commented on #28384
cc @jorisvandenbossche (gets into the NA vs. NaN discussion as part of https://github.com/pandas-dev/pandas/issues/28095).

[2019-09-11 11:52] jorisvandenbossche commented on #28341
Could we also remove the files and add cython to setup_requires, and backport this, and keep the pyproject.toml for 1.0 ? (as I think it is mainly this that can give troubles) Or is that only making a bigger mess?

[2019-09-11 13:53] fruce-ki commented on #22521
@WillAyd Can you explain what would cause pandas to throw that error when concatenating on `axis=1`? I am getting that error too, in a situation with large dataframes where I know some rows are missing from each dataframe. If a dataframe that has all the rows is the first one in concatenation, the error usually does not happen. But having a reference full set of rows defeats the point of `join='ou

[2019-09-11 14:07] dworvos commented on #28220
Taking a deeper dive, I see that the original intent was to fix #24212 where missing values in the index got the last value because of fancy indexing (-1), but it looks like to solve this problem, the index was expanded to include the NA value of the dtype before doing the fancy indexing. This solution has the unfortunately side effect of promoting the dtype if it's an integer index.

I'm not fami

[2019-09-11 14:18] rugg2 commented on #14553
Working on a general solution to this with cvonsteg. Planning to come back with a proposed design in October.

[2019-09-11 14:27] luranhe commented on #28372
Yeah, if you pivot on `letters`, since the corresponding dtype has categories `a`, `b`, and `c`, we should get columns for each of them. In fact `cat_df.iloc[:2].pivot_table(aggfunc=sum, columns=['letters'], values='count')` works as expected, but `cat_df.iloc[:2].pivot_table(aggfunc=sum, columns=['letters'], values='count', index='nums')` doesn't have all the columns.

[2019-09-11 14:35] TomAugspurger commented on #28341
Do you know what setuptools / pip does if the user has a `requirements.txt` requiring a version of Cython that conflicts with what we would put in our `setup_requires`? https://setuptools.readthedocs.io/en/latest/setuptools.html says

I'm trying it locally, and thing seem ok using `setup_requires`. This is all confusing though.

[2019-09-11 14:52] TomAugspurger commented on #28341
I confused myself. `setup_requires` does *not* work.

With these changes

[code]

I build an sdist with `python setup.py sdist`. I verify that the compiled files are not present.

And install

<details>

[code]

</details>

The relevant parts

[code]

So Cython apparently isn't installed (or if it is, it's not available for import).

[2019-09-11 14:58] TomAugspurger commented on #28341
And if we can't import it, we can't cythonize it. I don't understand this though. We can import numpy.

So maybe we would need to add it to `install_requires` as well, but I really don't think we want to do that (especially when pyproject.toml is supposed to fix this).

So tldr: I don't think setup_requires is a solution. I think our options are

1. No changes to setup.py. Ship the compiled files

[2019-09-11 14:59] jbrockmendel commented on #28383
Can you post an example that we can copy/paste to replicate the behavior

[2019-09-11 15:20] fruce-ki commented on #22521
I think I have it. In my tables there are row keys that are repeated.

[2019-09-11 15:26] AD189 opened #28388 "about to_msgpack function"
Please keep the to_msgpack function. I need this function to save data to redis for data persistence. Thank you.

[2019-09-11 15:34] jreback commented on #28388
see this issue: https://github.com/pandas-dev/pandas/issues/27722

[2019-09-11 15:34] #28388 closed

[2019-09-11 15:55] TomAugspurger commented on #28372
Can you post the expected output for the buggy case and remove the extraneous calls to `pivot_table`?

[2019-09-11 15:58] WillAyd commented on #28380
Makes sense. I think would take a PR if you have something concrete to propose

@TomAugspurger

[2019-09-11 16:00] WillAyd commented on #28355
We also don't offer a compat for StringIO anymore since we dropped Python2. Closing as I don't think anything to be done here

[2019-09-11 16:00] #28355 closed

[2019-09-11 16:01] dmparker0 opened #28390 "DataFrame.from_dict sets DataFrame values to NaN if original dict key tuples contain None"
#### Code Sample

[code]

#### Output

            Home Away   Winner
    East 1  MIL  BOS    MIL
         2  PHI  IND    PHI
         3  MIL  PHI    PHI
    West 1  HOU  UTA    HOU
         2  LAC  LAL    LAC
         3  HOU  LAC    HOU
    NaN  1  NaN  NaN    NaN

#### Problem description

When constructing a DataFrame from a dictionary with tuple keys, values are set to NaN if the tuple contain

[2019-09-11 16:01] WillAyd commented on #28292
Can you provide a self-contained code example? With what you have `df` is not defined

[2019-09-11 16:03] TomAugspurger commented on #28271
Can you try on master? I don't recall this changing, but I see

[code]

[2019-09-11 16:07] rgommers commented on #28341
That sounds about right to me. Without `pyproject.toml` you'll need to use `setup_requires` (no need for `install_requires` I think), but that invokes `easy_install` because `pip` doesn't support `setup_requires` natively. Which would not be good in 2019....

`pyproject.toml` does have the potential to create problems, a little risky in a bugfix release. you could also go with just being careful f

[2019-09-11 16:28] TomAugspurger commented on #28380
Yeah. I'd recommend making a branch that does everything (moving the helpers, implementing NamedAgg for window), to prove things work, and then split the moving of helpers to its own PR.

[2019-09-11 16:37] TonyCongqianWang commented on #28383
I already posted the example in quotes. It is:

Import pandas

p_csv= pandas.read_csv(("/myDir/myFile.csv"), index_col=0)
pandas.get_dummies(p_csv, prefix="SEPARATOR_", columns="SEPARATOR")
p_csv.to_csv("/myDir/myNew.csv")

[2019-09-11 16:55] WillAyd commented on #28390
For your expected output you want `None` in the index instead of `NaN` right? I think reasonable so if you want to investigate and submit a patch would certainly be welcome

[2019-09-11 16:57] WillAyd commented on #28383
That code sample is not self-contained, so no one can copy / paste to replicate your issue. The below link might help:

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-09-11 16:59] WillAyd commented on #28384
This is standard behavior per IEE 7544

https://stackoverflow.com/questions/1565164/what-is-the-rationale-for-all-comparisons-returning-false-for-ieee754-nan-values

So I think nothing to be done directly on this issue. If you have feedback on generally how missing values should be handled I would suggest rolling into linked issue above

[2019-09-11 17:05] jorisvandenbossche commented on #28384
@WillAyd as noted in the issue, for other dtypes it does equate to True, as well for scalars:

[code]

[2019-09-11 17:08] dmparker0 commented on #28390
I would never expect None to appear in a DataFrame, since my understanding is that NaN (or NaT) is used universally for missing values. The issue isn't having NaN instead of None in the index, it's having NaN instead of the appropriate string values in the other columns.

[2019-09-11 17:30] shan224 commented on #28381
I created a module named "tables" and didn't see it in the directory.
Renaming the module fixed the naming collision

[2019-09-11 17:30] #28381 closed

[2019-09-11 17:49] jreback commented on #18262
cc @jbrockmendel here is my original list :->

[2019-09-11 18:02] TonyCongqianWang commented on #28383
alright.  here is a copy-pastable version with random data

###CODE

import pandas, numpy as np

columns = np.random.rand(145)
columns = columns.astype(str)
columns[110] = "SEPARATOR"
columns[0] = "INSTANCES"

separators = ["and", "clique", "gomory","gomory1","gomory2","gomory3","gomory4", "zerohalf"]
instances = ["021erkdjfiejrk", "5484ierdkj", "5487ehej"]

dict = {}

for i in range(145):
    dic

[2019-09-11 18:10] jbrockmendel commented on #28383
That is liable to produce a DataFrame with shape on the order of (145000, 145000), which I think is on the order of 80GB, which certainly won't fit on my laptop.  SIGKILL is likely coming from the OOM killer.

[2019-09-11 18:10] didip commented on #27435
@TomAugspurger I have a patch to `setup.py` above.

[code]

[2019-09-11 18:13] TonyCongqianWang commented on #28383
that is what I guessed what probably happened. But why would the api function do that when there are only 6 different values for separator?

[2019-09-11 18:15] jorisvandenbossche commented on #27435
@didip would you like to do a PR for this?

[2019-09-11 18:46] jorisvandenbossche commented on #28384
To make the difference in behaviour between categorical and non-categorical very explicit:

[code]

I suppose this has to do with `np.nan` being represented in categorical as -1, and this might not be special cased.

[2019-09-11 18:48] TomAugspurger commented on #27435
This came up in the dev call today. We're interested in fixing this, but
I'm not sure if any maintainer is willing to spend too much time on it.
That said,
we are happy to

1. Accept a PR on the 0.24.x branch adding a max NumPy version for Python
2.7 (and a release note in 0.24.3 indicating this)
2. Make a tag and GitHub release with an sdist for 0.24.3 with just that
change from 0.24.2
3. Upload

[2019-09-11 18:53] jorisvandenbossche commented on #28341
Yes, that's what we decided in the dev call we just had, I think. For 0.25.2 do what we have done in the past (ship cythonized files), and then on master (for 1.0) add pyproject.toml again, which also enables to properly tackle this issue of needing cython in the build step.

[2019-09-11 18:57] #28356 closed

[2019-09-11 18:59] jorisvandenbossche commented on #23180
@xhochy I think this is fixed with your PR?

[2019-09-11 19:02] xhochy commented on #23180
@jorisvandenbossche @jbrockmendel Yes, this can be closed now.

[2019-09-11 19:04] #23180 closed

[2019-09-11 19:05] jorisvandenbossche commented on #23180
OK, thanks!

[2019-09-11 19:06] jbrockmendel commented on #28383
(edited your comment to make it copy/paste more neatly, LMK if you object and I'll revert)

[2019-09-11 19:10] jbrockmendel commented on #28383
do you get the expected result if you pass `columns=["SEPARATOR"]` instead of `columns="SEPARATOR"`?

[2019-09-11 19:14] TonyCongqianWang commented on #28383
Yes! That worked, very fast too. Now that you mention it, I do see that the expected parameter is "list-like". Didn't expect that to be a problem, since I didn't get any error and also do get an error if I pass 'columns="fake_column"'

[2019-09-11 19:26] #27758 closed

[2019-09-11 21:10] jbrockmendel opened #28392 "DISC: Consider removing _isna_old"

[2019-09-11 21:21] MLopez-Ibanez commented on #23844
[] Another issue is that the figure says `df3` but the example uses `cheese`.

From the closed PR:

(Nevertheless that most examples in that page use "A" and "B" as columns...)

The original assets are available here: https://github.com/pandas-dev/pandas/pull/28006#issuecomment-524727075

but they are in non-free formats.

[2019-09-11 22:08] 0anton commented on #28292
df came out as a result of complex processing. I cannot unfortunately recreate it. I can only say that it was an empty dataset (no rows) with this special index (see above). You can see the empty brackets in its definition. Was that an index column w/o name? Feel free to close if it is not important. I just thought that Styler shall now fail on empty dataset.

[2019-09-11 23:15] didip commented on #27435
@jorisvandenbossche yes I can send a PR.

[2019-09-12 00:05] dworvos commented on #28220
I'm not sure it's possible to make everyone happy with my PR, it feels like #17257, #24212, and myself (although I'm pretty flexible one way or the other) want mutually exclusive index behaviours for the same operation. However, in the spirit of keeping consistency with the right / left join from SQL what are everyone's thoughts about returning the join keys as the index? (in all 4 cases, inner, o

[2019-09-12 00:06] WillAyd commented on #28383
I think this should raise if `columns` is a string to avoid confusion like this. @TonyCongqianWang any interest in submitting a PR for that?

[2019-09-12 00:32] benbendemo commented on #28355
`# -*- coding: utf-8 -*-

import pandas as pd
from pandas.compat import StringIO

html_file_content = """#<table><tr>&#13;
          <td colspan="16"><div align="right" style="padding-right:3px">&#27880;&#65306;&#24102;&#30340;&#25968;&#25454;&#34920;&#31034;&#20026;&#21457;&#34892;&#21306;&#38388;&#19978;&#38480;&#65292;&#26368;&#32456;&#20540;&#24453;&#20844;&#21578;&#21518;&#21363;&#26102;&#263

[2019-09-12 00:35] benbendemo commented on #28355
[code]

[2019-09-12 00:37] benbendemo commented on #28355
@TomAugspurger Do as you suggest, i had simplify the code like above, you can run it in Python2 or Python3, but you will get a different result like below.

@WillAyd Please help check below results.

[2019-09-12 00:39] benbendemo commented on #28355
Python2 results:
<img width="682" alt="image" src="https://user-images.githubusercontent.com/4705587/64744979-8a7f6380-d538-11e9-989a-623fdc3527b3.png">

Python3 results:
<img width="671" alt="image" src="https://user-images.githubusercontent.com/4705587/64745035-c4e90080-d538-11e9-9047-9456b4f4d649.png">

[2019-09-12 01:10] jbrockmendel commented on #11752
Is this a live topic or is it subsumed by more recent arrow ecosystem developments?

[2019-09-12 01:12] jbrockmendel commented on #14219
Closeable? The motivating cases in the OP have been handled and I haven't heard any clamor for this type of switch.

[2019-09-12 02:29] bingtangben opened #28397 "Alignment of CategoricalIndex will convert the index to int type?"
#### Code Sample

[code]
The result:
[code]
#### Problem description

When getting multiplication of two DataFrames with CategoricalIndex based on the same categories, the result will convert the CategoricalIndex to the Int one. The problem may be from dataframe alignment.
[code]
I think the simple binary operations should preserve the index type for categorical index with the same categories. How

[2019-09-12 02:36] TomAugspurger commented on #28220
Can you give an example of what changes?

[2019-09-12 02:39] TomAugspurger commented on #28292
@0anton does the issue reproduce with something like the following?

[code]

That's what we mean by reproducible.

[2019-09-12 02:43] YFWDZWS commented on #21554
你好，我也遇到了同样的问题，df.groupby("key")["value_int"].rank()，这句话的意思是不是把key这一列按照value_int这一列的数值大小进行排序？如果是这样，字符串应该不能排序吧，是不是只支持数字排序？

[2019-09-12 03:16] dsaxton commented on #28390
FWIW, what seems to be happening is that `None` is getting converted to `np.nan` when the `MultiIndex` is built, but the actual data are still labeled internally with `None`.  Then we try to "look up" the data here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/construction.py#L310, but
the keys aren't found in the index so we end up with `np.nan` for values.  Note that th

[2019-09-12 03:45] wesm commented on #11752
Arrow-based Avro read/write isn't shipping yet, @emkornfield is interested in this as it relates to various Google services (among other uses). Hard to predict the timeline for that, though.

[2019-09-12 05:10] emkornfield commented on #11752
Yes, I'm hoping to make some progress on this towards the end of this month/early next month.

[2019-09-12 05:13] saurav2608 commented on #28383
I will take a shot at this.

[2019-09-12 06:59] h-vetinari commented on #17211
Any update on this?

[2019-09-12 07:00] jschendel opened #28401 "BUG: Constructing a Series from a scalar generally doesn't work for extension types"
#### Code Sample, a copy-pastable example if possible
Construction without specifying a dtype results in `object` dtype for `Interval` and `Period`:
[code]
This looks okay for a tz-aware `Timestamp`:
[code]

Specifying a dtype raises for `Interval`, `Period` and tz-aware `Timestamp`:
[code]

Both of the above patterns appear to be working fine when using scalars that correspond to non-extensions d

[2019-09-12 08:23] jorisvandenbossche opened #28402 "CI: failing doc build due to SSL certificate error"
The doc build on Azure is currently failing, with an SSL certificate error in one of the examples that download from an url.

This is probably an issue with the latest openssl from Anaconda, see https://github.com/ContinuumIO/anaconda-issues/issues/11274

But opening just to have an issue to refer to. We can certainly ignore the failure for now when merging PRs, but in that case be careful that it

[2019-09-12 08:24] remidomingues opened #28403 "NaN is converted to strings when reassigning a column with .loc"
Hello team,

Here is a simple working exemple of value assignment on a dataframe:
[code]

However, if we use loc to assign the entire column with an array including NaNs, all values are converted to strings, breaking notna():
[code]

[2019-09-12 10:25] hnykda opened #28406 "Converting from categorical to int ignores NaNs"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
When converting categorical series back into Int column, it converts `NaN` to incorect integer negative value.

#### Expected Output
I would expect that `NaN` in category converts to `NaN` in `IntX`(nullable integer) or `float`.

When trying to use `d.astype('Int8')`, I get an error `dtype not understood`

#### O

[2019-09-12 11:37] simonjayhawkins opened #28407 "SparseDataFrame constructor raises AttributeError with SparseArray"
mypy error:  `pandas\core\sparse\frame.py:94:25: error: Item "SparseArray" of "Union[SparseSeries, SparseArray]" has no attribute "index"`

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The docstring for SparseDataFrame states that the types accepted for the data argument of the constructor are the same types as can be passed to DataFrame.

the DataFrame c

[2019-09-12 11:45] datapythonista opened #28409 "DEPR: Move rarely used I/O connectors to third party modules"
Related to #26804 (and indirectly related to #15862, #15008 if we standardize I/O connectors as part of this)

The recent survey shows that several of our  I/O connectors (Stata, SPSS, SAS and GBQ) are rarely used (from the chart I'd say around 3% of respondents said they used them):

![pandas_survey_io](https://user-images.githubusercontent.com/10058240/64779479-12279b00-d556-11e9-9154-9c8b1c03cb

[2019-09-12 16:53] jsal13 opened #28418 "Using "index" in a Series with a dict produces results inconsistent with documentation."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The current behavior with dicts is inconsistent with the documentation.  Moreover, there should be consistent behavior between passing a dict and passing an array into the series.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this

[2019-09-12 19:05] simonjayhawkins opened #28422 "test_cross_engine_pa_fp fails locally."
[code]

<details>

INSTALLED VERSIONS
------------------
commit           : 0ab32e88481440bfb4a102bb7731cbde2e5ceafe
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : en_GB.UTF-8
LOC

[2019-09-13 01:41] jbrockmendel opened #28423 "EA: Should IntegerNA support Inf, -Inf?"
It uses a boolean mask with 8 bits under the hood, so it wouldn't be too tough to implement.  Doing this would make it easier to keep IntegerNA arithmetic in sync with Series arithmetic.

[2019-09-13 02:09] fpim opened #28424 "ExtensionArray being checked if is instance of collections.abc.Sequence"
[code]

The ExtensionArray  array itself is just for illustration and is not the problem, the problematic part is

[code]

when it reached line 444 of pandas/core/frame.py (https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L444)

[code]
where `data` is referring to my FPArray, if data is not abc.Sequence, my ExtensionArray will be casted to a list.

Having my ExtensionArray cas

[2019-09-13 09:25] jorisvandenbossche commented on #28423
I don't think integer should support this. Inf/-Inf is a float concept, it makes IMO no sense to have that in an integer array conceptually.

[2019-09-13 09:40] jorisvandenbossche commented on #28424
@TomAugspurger I alsways forget whether it creates a row or column, but passing a single list/array-like to `DataFrame` constructor creates a DataFrame with one column:

[code]

Since that is a way to pass data to DataFrame, you can indeed expect that passing an ExtensionArray also preserves the type, which it currently doesn't:

[code]

So I think we can consider this a bug.
Patches welcome!

[2019-09-13 09:58] jorisvandenbossche commented on #28401
`infer_dtype` works fine on lists of intervals/periods:

[code]

so we could use that on object dtype data? (although that can also be costly)
In the Series construction code, we currently have special code for "maybe casting to datetime" (eg `sanitize_array` -> `maybe_cast_to_datetime`)

[2019-09-13 10:15] jorisvandenbossche commented on #27435
@didip that would be very welcome!

[2019-09-13 11:11] simonjayhawkins commented on #28424
that does not seem to work since that code block doesn't preserve dtypes. However, the following seems to work.

[code]

[code]

[2019-09-13 11:33] TomAugspurger commented on #28424
Huh, I would not have guessed that.

Anyway, looks like Simon has a fix.

We wouldn't want to inherit from abc.Sequence, since isinstance checks on ABCs are so much slower.

[2019-09-13 12:22] jreback commented on #28423
-1 on this as it would be very very odd for an *integer* array to support a naturaly float (inf).

[2019-09-13 12:49] oleksandr-pavlyk commented on #28235
Yes, I can look into this.

[2019-09-13 13:10] Hvass-Labs commented on #28313
Well ... Allowing upsampling of a `MultiIndex` with `df.resample(level='something')` is my suggestion for an elegant solution, but I actually think I might have misunderstood the intended semantics of the `level` arg in `resample` (the docs are unclear to me). The problem is also bigger than just that, because it involves the semantics of `groupby()` as shown in the examples. It is not so easy to

[2019-09-13 13:19] #27395 closed

[2019-09-13 13:26] louisng5 commented on #28424
I totally understand the fix. This will also change the behavior of all existing ExtensionArrays by having them fall into `elif isinstance(data, (np.ndarray, Series, Index, ExtensionArray)):`

[2019-09-13 13:28] jmg7173 commented on #28378
Is it okay to change filling data as `datetime64[ns]` to `String` with `dtype: object`?

[2019-09-13 14:15] #28402 closed

[2019-09-13 14:32] jbrockmendel commented on #28423
There is nothing float-specific about inf conceptually/mathematically.  What you're describing is an artifact of the existing implementations, and getting around those is the _point_ of IntegerNA.

[2019-09-13 14:38] jorisvandenbossche commented on #28423
For me the main point of IntegerNA is to provide support for missing values, not necessarily for adding concepts like infinity or non-existent numbers.

But I also don't really understand the reason. You say that it would make it easier to keep IntegerNA arithmetic in sync with Series arithmetic. Can you explain this? Cases where you end up with infinity (eg division) should normally end up as flo

[2019-09-13 14:42] dmitriyshashkin opened #28426 "Can't use same function twice with named aggregation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm trying to calculate multiple percentiles, I get the following error: "Function names must be unique, found multiple named percentile"

It's an old problem https://github.com/pandas-dev/pandas/issues/7186 but I assumed that it should've been solved with the named aggregations. Now there is no need to deduce

[2019-09-13 15:12] TomAugspurger commented on #28426
Hmm... we mangle the name of `lambda`s to allow this type of thing. Should that be applied to all input functions, since the names aren't used in the output?