[2017-07-10 15:15] gfyoung commented on #11221
@jreback : Judging from this conversation, it seems that removal of `convert_objects` will not be happening this release.  Would it be best to close #15757 and let a fresh PR take its place for the implementation of `infer_objects` (which BTW, seems a like a good idea)?

[2017-07-10 15:44] gandhis1 opened #16872 "ENH: DataFrame.insert should allow for negative loc parameter"
The insert method, which adds a new column, should accept a value such as -2 which would insert a new column before the second-to-last-column.

I am guessing this is probably a duplicate, but I wasn't able to locate another Issue with this feature request.

[2017-07-10 17:45] eyurtsev opened #16873 "Remove bitwise operations on dtype=object?"
#### Code Sample, a copy-pastable example if possible

[code]

[2017-07-10 17:45] kbattocchi opened #16874 "Concatting dense and sparse dataframes breaks many common operations"
xref #15737

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Each of the above lines generates an error when the dataframes are of mixed sparsity, but would succeed if both dataframes were dense or both were sparse.  This means that we can't seamlessly swap sparse dataframes for dense ones without knowing how they'll be used downstream.

#### Expected Output

[2017-07-10 18:09] jongmmm opened #16875 "BUG: coercing of bools in groupby transform"
#### Code Sample
[code]
This returns
[code]
#### Problem
`groupby.transform` returns numeric values, not __bool__ . This is inconsistent
because `DataFrame.transform` behaves differently:

[code]
#### Additional

But please note that if the original data type is `int`, it works properly:
[code]

[2017-07-10 18:20] chris-b1 commented on #16875
Looks essentially the same as #10972, which was closed by #15430, but apparently didn't capture this case.  `apply` does do the right inference here:

[code]

[2017-07-10 20:49] jreback commented on #16873
yeah this is a tough one. We don't normally infer ``object`` dtypes before other ops. Though these are bitwise ops so we could infer and if not bool raise a ``TypeError``.

do you want to have a go and see how much impact this would have? IOW add some tests and make a change and see what else breaks?

[2017-07-10 20:51] jreback commented on #16872
sure would take this an enhancement request!

[2017-07-10 20:54] jreback commented on #16871
This should be ``self._values``.

[code]

we prob don't have too many tests which exercise this. welcome to have more and PR!

[2017-07-10 20:55] jreback commented on #16871
This is the non-unique case, which got overlooked I think.

[2017-07-10 20:56] jreback commented on #16870
doc improvements always welcome!

[2017-07-10 21:02] jreback commented on #16864
this is as expected. Putting *lists* and array-like *inside* a DataFrame cell is non-idiomatic / non-performant and has little support.

I'll mark it as a bug. But would take an enterprising user to *try* to fix this w/o breaking anything else.

[2017-07-10 21:04] jreback commented on #14633
closing as Panels are deprecated.

[2017-07-10 21:04] #14633 closed

[2017-07-10 21:04] jreback commented on #14215
closing as Panels are deprecated.

[2017-07-10 21:04] #14215 closed

[2017-07-10 21:06] jreback commented on #8906
closing as Panels are deprecated

[2017-07-10 21:06] #8906 closed

[2017-07-10 21:06] jreback commented on #9080
closing as Panels are deprecated

[2017-07-10 21:06] #9080 closed

[2017-07-10 21:06] jreback commented on #9091
closing as Panels are deprecated

[2017-07-10 21:06] #9091 closed

[2017-07-10 21:06] jreback commented on #9324
closing as Panels are deprecated

[2017-07-10 21:06] #9324 closed

[2017-07-10 21:07] jreback commented on #9548
closing as Panels are deprecated

[2017-07-10 21:07] #9548 closed

[2017-07-10 21:07] jreback commented on #10445
closing as Panels are deprecated

[2017-07-10 21:07] #10445 closed

[2017-07-10 21:07] jreback commented on #10563
closing as Panels are deprecated

[2017-07-10 21:07] #10563 closed

[2017-07-10 21:07] jreback commented on #10839
closing as Panels are deprecated

[2017-07-10 21:07] #10839 closed

[2017-07-10 21:07] jreback commented on #10950
closing as Panels are deprecated

[2017-07-10 21:07] #10950 closed

[2017-07-10 21:07] jreback commented on #11369
closing as Panels are deprecated

[2017-07-10 21:07] #11369 closed

[2017-07-10 21:07] jreback commented on #11451
closing as Panels are deprecated

[2017-07-10 21:07] #11451 closed

[2017-07-10 21:08] jreback commented on #11857
closing as Panels are deprecated

[2017-07-10 21:08] #11857 closed

[2017-07-10 21:08] jreback commented on #12986
closing as Panels are deprecated

[2017-07-10 21:08] #12986 closed

[2017-07-10 21:08] jreback commented on #13130
closing as Panels are deprecated

[2017-07-10 21:08] #13130 closed

[2017-07-10 21:08] jreback commented on #4905
closing as Panels are deprecated

[2017-07-10 21:08] #4905 closed

[2017-07-10 21:08] jreback commented on #4971
closing as Panels are deprecated

[2017-07-10 21:08] #4971 closed

[2017-07-10 21:09] jreback commented on #5109
closing as Panels are deprecated

[2017-07-10 21:09] #5109 closed

[2017-07-10 21:09] jreback commented on #5388
closing as Panels are deprecated

[2017-07-10 21:09] #5388 closed

[2017-07-10 21:09] jreback commented on #5428
closing as Panels are deprecated

[2017-07-10 21:09] #5428 closed

[2017-07-10 21:09] jreback commented on #5773
closing as Panels are deprecated

[2017-07-10 21:09] #5773 closed

[2017-07-10 21:09] jreback commented on #6161
closing as Panels are deprecated

[2017-07-10 21:09] #6161 closed

[2017-07-10 21:09] jreback commented on #6922
closing as Panels are deprecated

[2017-07-10 21:09] #6922 closed

[2017-07-10 21:09] jreback commented on #6286
closing as Panels are deprecated

[2017-07-10 21:09] #6286 closed

[2017-07-10 21:10] danparshall opened #16877 "BUG: boolean indexing error with .drop()"
#### Code Sample, a copy-pastable example if possible
[code]

#### Expected Output
[code]

#### Observed Output
[code]

#### Problem description
The anticipated behavior was that rows with `bcol` > 2 would be dropped.  The actual behavior is that the boolean gets converted to 0/1, and then treated as index label.  So *row numbers* 0 and/or 1 are dropped... but all other rows will be kept.

The doc

[2017-07-11 03:44] gfyoung commented on #16877
From the current <a href="https://pandas.pydata.org/pandasdocs/stable/generated/pandas.DataFrame.drop.html">docs</a>:

When you call `df.bcol > 2` , your labels are `Series([False, False, True, True])`, which `pandas` (and Python) would interpret as the labels `0` and `1` on the index.

I know that I am repeating part of what you said, but the documentation IMO seems to align with what it's suppos

[2017-07-11 09:52] jreback commented on #12433
closing as Panel deprecated

[2017-07-11 09:52] #12433 closed

[2017-07-11 09:53] jreback commented on #12434
closing as Panel deprecated

[2017-07-11 09:53] #12434 closed

[2017-07-11 09:53] jreback commented on #8289
closing as Panel deprecated

[2017-07-11 09:53] #8289 closed

[2017-07-11 09:53] jreback commented on #7824
closing as Panel deprecated

[2017-07-11 09:53] #7824 closed

[2017-07-11 09:54] #3570 closed

[2017-07-11 09:54] jreback commented on #11983
closing as Panel deprecated

[2017-07-11 09:54] #11983 closed

[2017-07-11 09:54] jreback commented on #8553
closing as Panel deprecated

[2017-07-11 09:54] #8553 closed

[2017-07-11 09:55] jreback commented on #4347
closing as Panel deprecated

[2017-07-11 09:55] #4347 closed

[2017-07-11 09:55] jreback commented on #12987
closing as Panel deprecated

[2017-07-11 09:55] #12987 closed

[2017-07-11 09:55] jreback commented on #12041
closing as Panel deprecated

[2017-07-11 09:55] #12041 closed

[2017-07-11 09:56] jreback commented on #9404
closing as Panel deprecated

[2017-07-11 09:56] #9404 closed

[2017-07-11 09:56] jreback commented on #8389
closing as Panel deprecated

[2017-07-11 09:56] #8389 closed

[2017-07-11 09:56] jreback commented on #8344
closing as Panel deprecated

[2017-07-11 09:56] #8344 closed

[2017-07-11 09:56] jreback commented on #4185
closing as Panel deprecated

[2017-07-11 09:56] #4185 closed

[2017-07-11 09:56] jreback commented on #8603
closing as Panel deprecated

[2017-07-11 09:56] #8603 closed

[2017-07-11 09:57] jreback commented on #8251
closing as Panel deprecated

[2017-07-11 09:57] #8251 closed

[2017-07-11 09:58] jreback commented on #7184
closing as Panel deprecated

[2017-07-11 09:58] #7184 closed

[2017-07-11 09:58] jreback commented on #3777
closing as Panel deprecated

[2017-07-11 09:58] #3777 closed

[2017-07-11 09:58] jreback commented on #7879
closing as Panel deprecated

[2017-07-11 09:58] #7879 closed

[2017-07-11 09:59] jreback commented on #15361
closing as Panel deprecated

[2017-07-11 09:59] #15361 closed

[2017-07-11 09:59] jreback commented on #4181
closing as Panel deprecated

[2017-07-11 09:59] #4181 closed

[2017-07-11 10:34] jreback commented on #16877
this is a duplicate of #6189, but will keep this issue open. This is pretty easy to fix, by raising on a boolean indexer. PR's welcome!

[2017-07-11 10:35] jreback commented on #6189
closing as dupe of #16877

[2017-07-11 10:35] #6189 closed

[2017-07-11 10:38] jreback commented on #16874
certainly would take a PR to fix. lots of sparse issues are open.

[2017-07-11 10:40] #16639 closed

[2017-07-11 14:34] jlopezpena opened #16882 "Weird datetime string default parsing on to_datetime"
When using default `to_datetime`, without format, the answers is sometimes a bit weird:

[code]

Year and month are guessed correctly, day gets shifted by 1, and hour, minutes, seconds are completely off.

(edit) - Obviously the function works fine when passing the datetime format, it is the default guess that is weird.

[2017-07-11 14:46] gfyoung commented on #16877
@gfyoung : I suppose as this has happened multiple times, can't really argue with that 😆

[2017-07-11 15:04] gfyoung commented on #16877
@jreback  : I'm not sure what the problem is here.  The documentation looks pretty clear on this. #6189 demonstrates that clearly.  `True` and `False` are the labels `0` and `1`, so I don't think there is anything to fix here.  Also, you can't raise on a boolean indexer because you can have booleans as indices!

[2017-07-11 18:35] chris-b1 commented on #16882
We are falling back to the [dateutil](https://github.com/dateutil/dateutil) parser here.  It interprets the `-10` as a tz offset, which I suppose makes some sense although can see why it is surprising.  Closing as not pandas, xref #12585 - general dateutil compat issue.

[code]

[2017-07-11 18:35] #16882 closed

[2017-07-11 20:12] frensjan opened #16885 "date_range segfaults on None utcoffset"
As reported at pendulum, there are cases where creating a ```date_range``` fails with a segfault: [pendulum issues 131](https://github.com/sdispater/pendulum/issues/131).

#### Code Sample

[code]

#### Problem description
As I understand it is allowed for ```tzinfo``` objects to return ```None``` for ```utcoffset``` according to the [Python docs](https://docs.python.org/3.6/library/datetime.html#

[2017-07-11 20:43] xenu256 opened #16886 "to_pickle() got an unexpected keyword argument 'protocol'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[code]

[2017-07-11 20:51] jreback commented on #16886
show the pandas version in the same session in which u r running

you are likely picking up an older version

[2017-07-11 21:00] xenu256 commented on #16886
It is same session and same conda environment, updated with 0.20.2 now.

[2017-07-11 21:32] xenu256 commented on #16886
OK, found where's problem. It definitely doesn't exist if installed via git (0.20.3), so probably conda's whl is broken.

[2017-07-11 21:36] jreback commented on #16886
whl don't exist for conda - that is a pip installation

closing as an installation issue u less it's repo on a new environment

[2017-07-11 21:36] #16886 closed

[2017-07-12 00:14] hhuuggoo opened #16889 "Boolean masks on dataframes with indexes with timezones introduces NaNs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is the output that I get:

[code]

In the first case, a timezone of UTC seems to cause the masking operation to introduce NaNs.  The second case is correct.  This problem seems to be introduced in pandas 0.17.1, whereas with 0.16 I get the following output below

#### Expected Output

[code]

#### Output o

[2017-07-12 00:18] hhuuggoo commented on #16889
The problem seems to be related to how `.loc` is being used.  The following code fixes the issue

[code]

[2017-07-12 00:29] jbrockmendel opened #16890 "Accessor Recipe - Style Question"
Following up on discussion in #14781 , I am unifying the code that creates the `str`, `cat`, and `dt` accessors, and making/documenting a recipe for creating custom accessors.  Two questions before I push forward, both revolving around methods like `DataFrame._add_series_or_dataframe_operations` (slightly different case, but close enough) that are called immediately after the class definitions, th

[2017-07-12 07:02] jbrockmendel commented on #11053
Out of curiosity, why are `plot`, `hist`, and `boxplot` defined at the [bottom](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L5974) of frames.py instead of included in the class definition?  [Same](https://github.com/pandas-dev/pandas/blob/master/pandas/core/series.py#L3067) goes for `Series.plot` and `Series.hist`.

[2017-07-12 08:14] mce1 opened #16891 "Elements of array are converted from object to string type upon writing and reading back csv."
Hi there,

I have a pandas array that contains lists of tuples as shown below:

[code]

I seem to be unable to save it to file and than reload it in its original state. Upon

[code]
all elements are converted from lists to strings even though I specify `dtype=object`.

[code]

As a result of this behaviour it is impossible to further process the data.

I'm sure there must be an easy way to recreat

[2017-07-12 09:21] cbrnr commented on #16579
@jreback could you reconsider this? Here's an example to show what I mean:

[code]

In a terminal (mine has 100 columns), the default output of this dataframe looks like this:
[code]

Now if I set `pd.options.display.max_columns = 0`, the output looks much nicer:

[code]

So I was wondering why `pd.options.display.max_columns` can't be `0` by default?

[2017-07-12 13:37] Khris777 opened #16893 "SUB-character in a csv causes read_csv() with C-Engine to detect EOF"
#### Problem description

If there is a SUB-character in a string in a csv, `read_csv()` with the standard C-engine returns

The Python-engine can read the file fine.

It seems I can't put example data with a SUB-character here, so I pasted an example line here instead:
https://pastebin.com/x6QPY4Hf
Just paste the line into a csv and try to read it with `read_csv()`.

I don't know if this behaviou

[2017-07-12 14:24] kernc opened #16894 "DataFrame._init_dict handles columns with nan incorrectly if columns passed separately"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When DataFrame is initialized from dict, if columns are passed, nan isn't recognized and retrieved from dict correctly. The problem is in [loops like](https://github.com/pandas-dev/pandas/blob/3e20eab7ad5639810b4824790cd559367b326b0b/pandas/core/frame.py#L427-L428):
[code]
If `columns` aren't passed separately,

[2017-07-12 14:39] hhuuggoo commented on #16889
So i've dug a bit further.  This line,

https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexing.py#L764

converts the DatetimeIndex into a datetime64[ns] NumPy array.

reindexing a tz-aware DatetimeIndex  with a datetime64[ns] NumPy array does not work, whereas reindexing a non tz-aware DatetimeIndex with a datetime64[ns] NumPy array does work.  It's unclear to me whether the initial

[2017-07-12 14:49] jreback commented on #16889
well DTI tz-aware were refactored in 0.17 to make them way more performant. Sure there may be some bugs out there. PR's to fix are welcome.

[code]
fixes this case (though need to check whether other things are break).

[2017-07-12 14:53] jreback commented on #16890
not sure what you are mean here. accessor are by-definition namespaces that make the discovery easier and much more geared to the dtype.

Why is this a problem? There are methods that are generically implemented which belong only to Series, only to DataFrame, to both (and possibly include Panels). So these are layered inclusion methods. You can certainly refactoror, not sure if the decorator synta

[2017-07-12 14:54] jreback commented on #16890
closing this. You can comment on the other issues is prob easier.

[2017-07-12 14:54] #16890 closed

[2017-07-12 14:55] jreback commented on #16885
duplicate issue of https://github.com/pandas-dev/pandas/issues/15986, see discussion there.

[2017-07-12 14:55] #16885 closed

[2017-07-12 14:59] hhuuggoo commented on #16889
Thanks, I'll give it a shot

[2017-07-12 15:00] jreback commented on #16891
CSV is not  a high fidelity format. It cannot represent schema, rather it must be inferred.

Further storing list-likes in cells is quite inefficient and non-idiomatic.

You are fighting a losing battle here. You are better off exploding the columns, possibly with a multi-level column index, and/or representing this an nd data.

[2017-07-12 15:00] #16891 closed

[2017-07-12 15:51] #16850 closed

[2017-07-12 15:56] shoyer opened #16896 "BUG: TimedeltaIndex indexing regression for strings in v0.20.3"
With pandas 0.20.2:
[code]

Now, with 0.20.3:
[code]

This turned up in a failure for the xarray test suite.

@TomAugspurger can you guess the culprit PR offhand?

[2017-07-12 16:17] chris-b1 commented on #16896
#16638 seems most likely

[2017-07-12 16:24] jbrockmendel commented on #14781
Back-migrating question #16890

I communicated poorly by using `_add_series_or_dataframe_operations` as an example instead of the more-pertinent `_make_foo_accessor`.  My claim is that we can have e.g. the `dt` accessor without `_make_dt_accessor` being in the `Series` namespace.   Is there a reason it is needed in the namespace other than creating the accessor?

The "wedge into _dir_deletions" co

[2017-07-12 16:33] hhuuggoo commented on #16889
taking out the ravel breaks some of the iloc test cases - it seems that data comes in sometimes looking like the output of np.ix_

[code]

However if I do this, all the indexing tests pass (as well as my broken example)

[code]

This seems more correct to me, but I'm not to familiar with how pandas indexing is implemented

[2017-07-12 16:53] TomAugspurger commented on #16893
Seems to work for me, could you try updating your version of pandas?

[code]

[2017-07-12 16:55] shoyer commented on #16890
I think switching to decorators would be a welcome cleanup (but indeed, please save it for a separate PR).

[2017-07-12 16:57] shoyer commented on #14781
I think these are basically one-time use methods. We're been somewhat sloppy about adding lots of private methods in the past, but since IPython exposes them in tab-completition there is indeed some virtue to cleaning things up later. Better still might be making these functions instead, so they never pollute the namespace in the first place.

[2017-07-12 19:14] TomAugspurger commented on #16867
Yeah, these two look very strange:

[code]

Would welcome a PR if you have time to dig into what's going on.

[2017-07-12 19:34] TomAugspurger commented on #16846
This seems a *bit* out of scope for pandas to me, but I'll let others chime in.

We would certainly welcome a cookbook example, if it is indeed out of scope.

[2017-07-12 19:38] TomAugspurger commented on #16840
Closing in favor of #4668

[2017-07-12 19:38] #16840 closed

[2017-07-12 19:41] TomAugspurger commented on #16827
@nipunbatra do you have any interest in working on either of those two issues? Or in the meantime, submitting that cookbook recipe would be helpful.

[2017-07-12 19:56] shshe opened #16898 "Passing a timezone-aware string to pd.to_datetime creates a timezone-naive Timestamp"
#### Code Sample

[code]
#### Problem description

Given a timezone-aware string (e.g., in ISO8601 format), `pd.to_datetime` converts the string to UTC time, but doesn't set the `tzinfo` to UTC.

This makes it difficult to differentiate between string that are truly timezone-naive strings (e.g., '2017-01-01') and timezone-aware strings (e.g., '2017-01-01T15:00:00-05:00').

#### Expected Output

Op

[2017-07-12 20:44] TomAugspurger commented on #16802
@niravchit could you post the full traceback? That may give a hint as to what's going on. It's possible that a name is mangled somewhere between us and sqlalchemy.

[2017-07-12 20:46] #16779 closed

[2017-07-12 20:51] jreback commented on #16898
There is an open issue to add a ``tz=`` kwargs to ``to_datetime``, see xref https://github.com/pandas-dev/pandas/issues/13712, to make this compatible with ``Timestamp``.

You can simply specify ``utc=True`` to get the result you want.
[code]

Normally you parse strings directly to naive (or UTC) as actually constructing the tz is not generally useful (IOW it must be a fixed time offset, rather th

[2017-07-12 20:53] frensjan commented on #16885
@jreback sorry, missed that one. Still think that it would be good if pandas doesn't segfault on a valid response from a timezone object (valid as in that according to [the python docs](https://docs.python.org/3.6/library/datetime.html#datetime.tzinfo.utcoffset) a timezone object is allowed to return None).

[2017-07-12 20:54] jreback commented on #16898
closing as this is essentially a duplicate of the request in #13721 having a ``tz=`` kw removes ambiguity of what the user wants (this would also remove the ``utc=`` kw).

[2017-07-12 20:54] #16898 closed

[2017-07-12 21:04] GergelyKalmar commented on #16850
wow, I was just bitten by this very issue a couple of minutes ago. is there any workaround that I could deploy for 0.20.3 to avoid breaking pytest --strict runs when importing pandas?

[2017-07-12 21:11] jreback commented on #16885
@frensjan if you want to make a PR that uses a mock timezone object would be great.

I am not so sure that this library complies.

[2017-07-12 22:13] TomAugspurger commented on #16850
@GergelyKalmar you could probably add the pandas conftest to your search path when you start pytest, though that may break other things.

[2017-07-12 22:17] TomAugspurger commented on #16896
cc @jdeschenes, mind taking a look?

[2017-07-12 23:50] dwillmer opened #16900 "BUG: pd.merge throws TypeError with categoricals"
#### Code Sample

[code]
#### Problem description

If you run the example above, you will get the following output:

[code]

This occurs when all of the following are true:

- Both columns to merge on are categorical dates
- The categoricals have the same dtype, but the values are different
- The merge is 'outer'

If you change the merge to 'inner', or change the date values to be the same, then t

[2017-07-13 00:02] jreback commented on #16900
looks like a bit of a bug in there. This is doing very odd things on the coercion. welcome to have you take a look.

[2017-07-13 00:04] jreback commented on #16900
This is also incorrect with inner. Incorrect coercion on the datetimes.

[code]

[2017-07-13 00:20] gfyoung commented on #11221
@jreback : Judging from this conversation, it seems that removal of `convert_objects` will not be happening in 0.21.  Would it be best to close #15757 and let a fresh PR take its place for the implementation of `infer_objects` (which BTW, seems a like a good idea)?

[2017-07-13 03:19] skynss commented on #16716
@jreback Thx. Followed it. @gfyoung I forked and modified the codebase with modifications to the best of my ability. here it is: https://github.com/skynss/pandas/tree/basic-auth-https-self-signed

I don't know how to check in live test scenario so I am going to leave that out.
Can one of you folks help verify I am ready? Here is verification that tests `read_csv`, `read_json`, `read_excel` and `re

[2017-07-13 03:38] gfyoung commented on #16716
@skynss : Thanks for doing this!  A couple of points:

1) To truly verify that your code works, I imagine that we would need to set up our own endpoint with credentials that we are comfortable sharing since it will only be storing (hopefully) non-sensitive data.

2) It's unfortunate that you have to duplicate this logic of username, password, and SSL verification across all of these methods.  I wo

[2017-07-13 05:34] Khris777 commented on #16893
Looks like 0.20.3 isn't on conda yet.

[2017-07-13 05:36] skynss commented on #16716
@gfyoung Thx - implemented the changes. Please view. I had tried the 'Request' from py3 already and it didnt work. But I kept the py3 code the way it is because it seems extensible and correct way long term. I changed auth to match requests lib, and kept verify_ssl separate just like requests.
Here is updated test code that uses the auth pair

[code]

[2017-07-13 05:55] gfyoung commented on #16716
@skynss : Cool.  Thanks for the `auth` inputs.  I think mirroring the `requests` library is a good idea because it should be more intuitive for people given that `requests` is pretty widely used.   Nevertheless:

1) What was the reason for removing your test `test_split_url_extract_uname_pwd` ?  I think you should be able to test that functionality.

2) I'm not convinced by your response regarding

[2017-07-13 06:46] alexanderwhatley opened #16902 "Invalid Type Comparison between numerical column and empty string"
Seems like a bug, such a comparison should definitely be allowed. Pandas Version 0.20.2, Ubuntu.

[code]

[2017-07-13 09:42] danodonovan opened #16903 "Panel.mean numeric_only=True raises NotImplementedError"
[code]
From the documentation it seems that `pandas.Panel.mean` should implement a `numeric_only` parameter - but it seems to be missing when `numeric_only=True`.

<details>

</details>

[2017-07-13 09:44] skynss commented on #16716
@gfyoung
1. I was on the fence if the test was meaningful. I was trying to compact the code into 1 function. But added it back
2. you are right.. Modified. Much simpler and cleaner code now. I thought it didnt work initially with similar code earlier.. but it is now.
3. added test code to `test_basic_auth_self_signed.py`

[2017-07-13 09:54] HristoBuyukliev opened #16904 "Aggregating groupby with multiple functions all return the same value"
So, I want to aggregate a grouped by object by two criterion: count of observations, and count of nonzero observations:
[code]
#### Problem description

While this code is referenced in [issue 7186](https://github.com/pandas-dev/pandas/issues/7186), and the issue is closed, there is a bug: all the output columns are the same. That is evident even in issue 7186, and I'm shocked how nobody picked it

[2017-07-13 11:18] kernc opened #16905 "BUG: SparseSeries from dict inconsistency"
#### Code Sample, a copy-pastable example if possible
Two (somewhat related) issues:
[code]

[code]
#### Problem description
SparseSeries initialization from dict acts too differently from Series'.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
pandas 0.21.0.dev+223.ga9421af1a
</details>

[2017-07-13 11:45] sdispater commented on #15986
@jreback Author of `pendulum` here :-) What do you mean by it does not use standard timezone?

[code]
So, as you can see, `pendulum` uses a subclass of the standard `tzinfo`.

The underlying problem comes from `pandas` since it calls:

[code]
in the [_get_dst_info()](https://github.com/pandas-dev/pandas/blob/c8dafb5a7ae9fe42b9d15c47082a6fb139e78b5d/pandas/_libs/tslib.pyx#L4322) function.

However

[2017-07-13 12:00] TomAugspurger commented on #16716
Sorry I haven't been following this closely, but

We don't need to test this against a live server. We just need to ensure that we structure the request properly, and mock the actual `GET` request is made. Then we can verify that the right bits of information were in the get.

@skynss when you're able, could you submit a pull request? It'll make reviewing this easier.

[2017-07-13 12:02] TomAugspurger commented on #16893
Ok, I'll check on that. It is available on conda-forge with `conda install
-c conda-forge pandas`

On Thu, Jul 13, 2017 at 12:34 AM, Khris777 <notifications@github.com> wrote:

[2017-07-13 12:20] TomAugspurger commented on #15986
Thanks for the explanation @sdispater.

[2017-07-13 13:19] chris-b1 commented on #16902
This is duplicate of #7830 - to be honest I don't mind us raising an exception here, although I know it conflicts with python semantics as discussed there.  also xref #13129

[2017-07-13 13:19] #16902 closed

[2017-07-13 13:21] chris-b1 commented on #7830
xref to some discussion on the numpy approach to this issue
https://github.com/numpy/numpy/issues/6784

[2017-07-13 13:30] TomAugspurger commented on #16904
Could you include a code sample to create the DataFrame?

[2017-07-13 13:43] jreback commented on #15986
I am not averse to changing this, but some concerns.

``pendulum`` doesn't have the notion of naive datetimes w/o actually using a timezone object; this is contrary to both pytz and dateutil which *always* return a valid utc offset (sure the actual spec says different, but has been this way a long time).

This is quite awkward in the context of having distinct notions of naive and tz-aware datetim

[2017-07-13 13:54] jdeschenes commented on #16896
After a bit of investigation:

[code]

This will work.

The culprit is the `is_timedelta64_dtype` function which was added to to the `get_loc` function as part of #16638.

[code]

The fix will be quite simple. Tweak the is_timedelta64_dtype so that it always return True or False. What do you think?

[2017-07-13 13:55] jreback commented on #16903
yes it probably should, but Panel is deprecated so closing (though of course if you wanted to submit a PR to fix would prob accept).

[2017-07-13 13:55] #16903 closed

[2017-07-13 13:57] jreback commented on #16896
yes these should never raise (feel free to add a battery of tests)!

[2017-07-13 13:59] jreback commented on #16905
yep looks like a bug

[2017-07-13 14:52] gfyoung commented on #11221
IIUC, to what extent is `infer_objects` just a port of `convert_objects` to being a method of `DataFrame` (or just `NDFrame` in general)?

[2017-07-13 14:56] gfyoung commented on #16716
@TomAugspurger : Do we mock any requests in our current tests?  I think we should still test that it actually works against some endpoint.  That's the best way to confirm that it works and is not just a special case for @skynss IMO.  We could just decorate such a test with `@tm.network`.

[2017-07-13 14:58] gfyoung commented on #16716
@skynss : I second @TomAugspurger on this now.  The code looks in a lot better shape.  We'll definitely make more changes to it, but it's at a stage where I think we can review it now.  A couple of things you will need to do:

1) Remove the `DO NOT MERGE` file you added.  Just keep that somewhere out of your branch (e.g. on your Desktop) for future use.

2) One of the major comments is going to be

[2017-07-13 15:00] bashtage commented on #11221
`convert_objects` has it's own logic and has options.  `infer_objects` should use the default inference as-if on a DataFrame (but only object columns).

[2017-07-13 15:02] gfyoung commented on #11221
Ah right, so do you mean then that `infer_objects` is `convert_objects` with the defaults passed in (more or less)?

[2017-07-13 15:06] jreback commented on #11221
``infer_objects`` should have no options, simply do soft-conversion (it would basically just call ``maybe_convert_objects`` with the default options

[2017-07-13 15:07] gfyoung commented on #11221
Ah, okay, that makes sense.  I was just trying to understand and collate the comments made in this discussion

[2017-07-13 15:13] jreback commented on #16579
@TomAugspurger ?

[2017-07-13 15:14] jreback commented on #11053
@jbrockmendel I think these are all historical. No reason they should not be deprecated / fixed. (refering to.hist and .boxplot); .plot is by-definition the namespace

[2017-07-13 15:15] jreback commented on #16877
Well a boolean indexer doesn't make sense here and should raise an error. Having boolean indices is quite rare and you can also detect that case.

[2017-07-13 15:19] dsm054 commented on #16904
I don't understand.  The output in 7186 is obviously _not_ the same:

[code]

The reason they look so similar is because they're defined by `[np.mean, lambda x : np.mean(x) + np.std(x) , lambda x :  np.mean(x) - np.std(x) ]`, so the only difference is in the std, and the std is often NaN because the group size is so small:

[code]

What am I missing?

[2017-07-13 15:20] gfyoung commented on #16877
@jreback : Is that not special-casing?  `True` and `False` are interpreted by Python as the labels `1` and `0` respectively, regardless of the type of index you are operating with.

[2017-07-13 15:25] jreback commented on #16877
its a fail-fast error check, if a boolean indexer is passed in, it should raise *unless* the axis is in fact a boolean index (and the shapes match).

[2017-07-13 16:03] TomAugspurger commented on #16716
At least one in https://github.com/pandas-dev/pandas/blob/9d13227345882daaa90f03078c09a9b44a18ce72/pandas/tests/io/formats/test_printing.py#L125 for mocking IPython.

[2017-07-13 16:11] gfyoung commented on #16716
@TomAugspurger : I looked at the code.  How does it actually use the `mock` library?

[2017-07-13 16:15] TomAugspurger commented on #16716
Huh, it kind of looks like it's not actually used anymore :)

[2017-07-13 16:17] gfyoung commented on #16716
So my question still stands:

Do we mock any requests in our current tests?

A quick GitHub search suggests not AFAICT.

[2017-07-13 16:20] TomAugspurger commented on #16579
I usually set the max columns to 0 in my IPython init. I think it would be ok to change the default.

Do we still run into issues where we can't reliably detect the terminal width, or have those all been fixed?

[2017-07-13 18:49] shoyer commented on #16896
There's another related regression for xarray (probably less serious though). Previously, `TimedeltaIndex.get_loc` worked on `np.timedelta64`, even though `DataFrame.loc` fails:
[code]
Now, both raise `TypeError`.

Is there a good reason to prohibit indexing with `timedelta64` objects?

[2017-07-13 19:02] jreback commented on #16896
@shoyer can you add a new issue for that. Its pretty easy to fix, but out of scope for this PR.

[2017-07-13 19:14] shoyer opened #16909 "Indexing TimedeltaIndex with np.timedelta64"
On pandas 0.20.2, `TimedeltaIndex.get_loc()` worked on np.timedelta64, even though DataFrame.loc fails:
[code]
Now, both raise `TypeError`. (This is similar to the issue in #16896)

I think some xarray users are were likely relying on this (we use `get_loc()` directly), but I think supporting this could also be useful for pandas users.

[2017-07-13 19:14] shoyer commented on #16896
Done in #16909

[2017-07-13 19:52] jdeschenes commented on #16909
Question: Should `get_loc`  only work on 'scalar' values?

[2017-07-13 19:56] jreback commented on #16909
``.get_loc`` by-definition is *only* on scalar values. a string and/or a np.timedelta64 are scalars (e.g. not lists/arrays)

``.get_indexer`` works on list-likes

[2017-07-13 19:57] jreback commented on #16909
here you can simply pass scalars to ``Timedelta()`` and then index

[2017-07-13 19:58] skynss commented on #16716
@TomAugspurger  just created a pull request
@gfyoung Done

[2017-07-13 20:08] bsolomon1 opened #16911 "pd.io.formats.format.DataFrameFormatter issue: columns not truncating properly"
In several IDEs, DataFrames with long column _names_ (not necessarily a large _number_ of columns) do not seem to truncate properly.  I originally [posted](https://stackoverflow.com/questions/45043968/pandas-display-truncate-column-display-rather-than-wrapping) this in SO thinking it was a `pd.set_option` that I had ignored, but one answer pointed out that it may be an issue of `pd.io.formats.form

[2017-07-13 20:35] #16817 closed

[2017-07-13 20:56] niravchit commented on #16802
hey @TomAugspurger  thank you for your follow up. i have devised a workaround since per @jorisvandenbossche the "to_sql" function works with the hana sql alchemy engine when creating a new table in the schema. so i went ahead and decided to use a temp table with "if_exists" set to replace instead of append. its probably not the best solution but it works for now. would you be able to help me on an

[2017-07-13 22:29] cottrell opened #16914 "perf for read_csv with parse_dates"
Caching (memoizing) the date_parser function in read_csv might be an easy perf improvement. Seems it is not cached unless I am missing something?

[code]

[2017-07-13 22:36] chris-b1 commented on #16914
Yep, caching certainly could help, this is a duplicate of #11665.  PR welcome!

[2017-07-13 22:36] #16914 closed

[2017-07-13 23:04] #16896 closed

[2017-07-13 23:40] chris-b1 commented on #11221
fyi, opened #16915 for `infer_objects` if anyone is interested - in particular if you have edge test cases in mind

[2017-07-13 23:50] nreeve17 opened #16916 "Aggregate fails with mixed types in grouping series"
#### Code Sample, a copy-pastable example if possible

[code]

This is the exception and traceback that the code above returns:

[code]
#### Problem description
If a grouping vector is of mixed type and aggregate is used after groupby(...), an exception will be raised. The source code will get [to this line](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby.py?utf8=%E2%9C%93#L28

[2017-07-14 00:58] gfyoung commented on #16916
@nreeve17 : I presume that if you change that offending to:

[code]

your code example would work?

@jreback : Could we just to `try-except` with `sorted(...)` and then instantiate the `Series` separately?

[2017-07-14 01:55] Franck-Dernoncourt commented on #9636
@joschkazj Thanks for sharing your function. I am having issues with integers larger than 32 bit.

For example, if I create the data frame:

[code]

The `1234515616515167005` becomes a `NA` in R if I use your `loadhdf5data` function.

I get this warning message:

[code]

However, adding `bit64conversion='bit64'` or `bit64conversion='double'` in `h5read` doesn't change anything.

Do you have any id

[2017-07-14 02:20] tdpetrou opened #16917 "Undocumented feature: partial string slicing"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Partial string slicing is documented for datetimeindexes but is nowhere to be found for string indexes. The index must be ordered for it to work. I couldn't find a single example of this anywhere online. Is this type of slicing encouraged? Should it be documented?

#### Output of ``pd.show_versions()``

<details

[2017-07-14 03:44] Franck-Dernoncourt commented on #9636
To fix this bit64 issue: [How can I load a data frame saved in pandas as an HDF5 file in R without losing integers larger than 32 bit?](https://stackoverflow.com/a/45093980/395857). (In short: install.packages("bit64”)+ library(bit64) + added bit64conversion='bit64' twice in loadhdf5data)

[2017-07-14 03:55] jzwinck opened #16918 "ENH: json_normalize() avoid loss of precision for int64 with missing values"
This code:
[code]
Gives `21`, when reasonable users might expect it to give `0`.

This inaccuracy occurs when one field has an int64 value that is not present in all records, triggering a conversion of the Series dtype to float64.  Of course, Pandas does this conversion so that it can put NAN where no value exists.

One solution could be to add a `fill_value` parameter, as seen in `add()`, `unstac

[2017-07-14 05:11] gfyoung commented on #16918
@jzwinck : Sounds pretty reasonable, given that it is consistent with our API for other functions.  I would suggest you try implementing the `fill_value=-1` functionality first and save the `dict` input for later.  That might need to be a larger discussion since that point could easily be applied to any non-`Series` (or 1-D array-like) object in `pandas`.

[2017-07-14 06:21] gfyoung commented on #16904
Regardless of how this turns out, it does seem like another test might be needed to shore this one up for good (@dsm054 : your examples would be a good starting point unless @HristoBuyukliev has additional code to provide).

[2017-07-14 06:23] gfyoung commented on #16917
Admittedly, this behavior is a little less intuitive because Python string comparisons aren't as easily comprehensible of datetime objects.  That being said, I'm indifferent about allowing (in which case, document) or disallowing it (in which case, forbid).

[2017-07-14 06:30] gfyoung commented on #16894
You can actually replicate this using `dict` !

[code]

Honestly, I blame `numpy` for this :smile:, as this is annoying to patch.  On the one hand, ensuring `Index` makes sense, but then you can't check `np.nan` anymore.

The obvious *candidate* workaround is to write `columns=[np.float64(np.nan), 2]`.  Perhaps what we could do is call `ensure_index` (or some form of it) on the columns to perform

[2017-07-14 06:32] gfyoung commented on #16893
@Khris777 : Let us know if updating works for you.  In any case, a test in the code-base will be needed to confirm this.

[2017-07-14 06:34] gfyoung commented on #16847
cc @TomAugspurger

[2017-07-14 07:15] toobaz opened #16920 "Regression in s.loc._getitem_iterable(...)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

(Unless/until we change our general approach to this - related discussion is in #15747,) indexing with a list containing at least one valid key should not raise an error. Indeed, before https://github.com/pandas-dev/pandas/commit/05d70f4e617a274813bdb02db69143b5554aa106 ,

[code]

#### Expected Output

See abov

[2017-07-14 07:17] toobaz commented on #16920
For reference: although I cannot currently think of any code exposing the bug using only public methods, this is what makes PR #15615 fail tests.

[2017-07-14 07:25] toobaz commented on #16917
Maybe I'm missing something, but I see no "partial" string slicing: I just see slicing with start/stop bounds not present in the index, not differently from what happens with

[code]

This is something perfectly natural when you are dealing with datetimes or ints, a bit less with strings, as @gfyoung rightly suggests; still, I don't think there is anything it makes sense to forbid. The docs, by th

[2017-07-14 07:25] gfyoung commented on #16920
cc @jreback (that was your commit AFAICT)

[2017-07-14 07:28] gfyoung commented on #16917
@toobaz : it's a matter of perspective.  In the examples provided by @tdpetrou , "ac" and "d" can be viewed as partial strings because they are all shorter than any of the string indices provided.

That being said, given my indifference, do either of you (@toobaz and @tdpetrou ) have any preference?  This is really up to users at this point, unless other maintainers have strong opinions about this

[2017-07-14 07:35] toobaz commented on #16917
Sure, sorry, I wasn't clear :-) I see @tdpetrou 's perspective, I was just suggesting that this is not `panda`'s perspective, and that there is nothing really unexpected going on.

It's like saying "positional indexing with prime numbers is undocumented" - positional indexing just works with any integer number, and you only want to document the general case.

[2017-07-14 07:37] gfyoung commented on #16917
@toobaz : No worries.  It seems like you have no issues with allowing this behavior, so long as it's documented.  Let's see what @tdpetrou has to say about it as well.  Otherwise, either one of you is more than welcome to document (and test) this behavior in a PR!

[2017-07-14 07:39] Khris777 commented on #16893
Can confirm that updating solves the problem.

[2017-07-14 07:41] gfyoung commented on #16893
@Khris777 : slow down there :smile: !  Even though the issue is resolved, we would prefer to add a test to ensure that this issue doesn't pop up.  Care to add your example code in a PR?

[2017-07-14 07:47] gfyoung commented on #14131
xref #16798 for related problem

[2017-07-14 07:49] gfyoung commented on #16877
Fair enough.  I feel like this should just be allowed, but given the confusion it's generated, I concede :smile:

[2017-07-14 08:20] HristoBuyukliev commented on #16904
Yeah, my bad. My code had a bug in it, and I didn't see the old issue's results have some differences. I'm closing the issue now.

[2017-07-14 08:23] gfyoung commented on #16904
Actually, I would like to keep the issue open until we can confirm coverage for this issue.  @dsm054 , would you like to add your example code to tests?

[2017-07-14 08:23] gfyoung commented on #16904
@HristoBuyukliev : feel free to contribute on that front as well, so that you can remain assured that this won't be an issue for you again :smile:

[2017-07-14 08:23] caspervdw opened #16921 "Reindexing raises TypeError on Py2.7"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Resetting the index on pandas 0.20.1 and python 2.7 results in the following exception:

[code]
In the example, it doesn't matter if you use Unicode or non-unicode strings. (using `from __future__ import unicode_literals`). Ref https://github.com/soft-matter/trackpy/issues/446 @manuescobedo

#### Expected Outpu

[2017-07-14 08:32] gfyoung commented on #16921
I believe you are incorrectly using the `reset_index` method.  The `label` you pass in MUST belong to the index of the `DataFrame`.  In the context of your example, that means `DataFrame.index.name` must be `frame` per the documentation <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html">here</a>.

That being said, this error message makes no sense, s

[2017-07-14 08:41] PengFLyu opened #16922 "DOC: SyntaxError in pd.read_msgpack examples"
`In [319]: for o in pd.read_msgpack('foo.msg',iterator=True):`
`   .....:     print o`
`   .....: `
`  File "<ipython-input-319-a0f40395739e>", line 2`
`    print o`
`              ^`
`SyntaxError: Missing parentheses in call to 'print'`

[2017-07-14 09:58] jzwinck commented on #16918
@gfyoung Thanks.  I just realized that this also behaves badly:

    pd.DataFrame([{'x': x}, {}])

Can you suggest a way to make that work?  I would leverage that solution to improve `json_normalize()`, but it seems the various DataFrame constructors do not support `fill_value` or similar.

If there is no good way to do this with the simple case of constructing a DataFrame, then we could either im

[2017-07-14 10:16] hansenza opened #16923 "Unable to read Stata value_labels from .dta-file created by pandas (to_stata())"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description
It seems as if read_stata() is not able to read value_labels properly from a .dta-file created by to_stata(). If the file is created by Stata itself, the value_labels are read correctly. Also, if the .dta-file created by to_stata() is opened and saved by Stata, the value_labels are read correctly.

#### E

[2017-07-14 10:22] rhysjohnmiller opened #16924 "to_stata Append to Exisiting file."
with open("C:\\Test\\Old.dta", "a") as outfile:
	a = pd.read_stata("C:\\Test\\New.dta")
	a.to_stata(outfile,write_index=False)

This there a way to append a dta file to another using something like this?

[2017-07-14 11:57] dsm054 commented on #16904
Yeah, I mean, say it turned out that when you have a numpy function and multiple lambdas in an agg call that the last lambda function dominated the others for some reason.  Would any of us really have been shocked?  Surprised, maybe, but usually there's about a bug a week where I'm genuinely startled no one noticed before..

I'll add test this weekend if no one else gets to it.

[2017-07-14 13:08] chris-b1 commented on #16922
Thanks, recently switched our doc build to python 3, PR to fix welcome!

[2017-07-14 13:33] caspervdw commented on #16921
@gfyoung  Thanks for the fast reply. I think I might have simplified the code example too much. Sorry about that. The same exception is there if I execute the following script:

[code]

Specifying the name of the only indexer does work on pandas 0.13/py27, 0.16/py27, 0.19/py35, and 0.20.1/py35.

[2017-07-14 13:53] Khris777 commented on #16893
PR = Pull Request?
I have never done something like this before here, honestly I don't know exactly what you are asking me to do here. :confused:

[2017-07-14 14:04] jreback commented on #16924
cc @bashtage

[2017-07-14 14:05] jreback commented on #16923
cc @bashtage

I don't think this is supported.

[2017-07-14 14:09] jreback commented on #16918
type conversions from json are not unexpected; it is not a typed format.

[2017-07-14 14:13] #16909 closed

[2017-07-14 14:16] tdpetrou commented on #16917
I like this behavior and think it should remain. I disagree with @toobaz and think this behavior is completely unexpected. There is nowhere in the documentation that partial strings (or inexact strings or however you want to term them) work in this manner. This specific behavior only works when the index is sorted and fails with a `KeyError` when not.

The normal behavior of slicing with `.loc` is

[2017-07-14 14:25] kernc commented on #16894
`np.float64(np.nan)` wouldn't work, because it's an instance of NaN, and nans don't equate to one another. `dict` probably uses (or falls back to) operator-is equality, which a **singleton** like `np.nan` (`pd.NaT`, ...) is.
Compare:
[code]

This bug came up in https://github.com/pandas-dev/pandas/pull/16883#discussion_r126827887. But there are legitimate cases for a (catch-all) nan in index (e.g.

[2017-07-14 14:47] toobaz commented on #16917
Nothing specific to strings (and "inexact" is not a better term than "partial"). Compare ``pd.Series(index=[1,3,2,5]).loc[0:6]`` (``KeyError``) to ``pd.Series(index=[1,2,3,5]).loc[0:6]`` (works).

But maybe you are right that this is not documented, and in this case, a PR to the docs would probably be a very good thing.

[2017-07-14 14:53] tdpetrou commented on #16917
This is a very specific and different behavior than normally expected which I already outlined above. It would be helpful to the users to see an example. I am using the term 'lexicographic slicing' in my book.

[2017-07-14 14:56] toobaz commented on #16917
I don't follow you - I can't see what "lexicographic" means when there aren't multiple levels.

[2017-07-14 14:56] gfyoung commented on #16917
@tdpetrou @toobaz : We can worry about exact semantics later.

@tdpetrou : if you're interested, you should put up a PR describing this behavior both in the docstring + the documentation (under the `doc/` folder).  Also, tests for this behavior will be needed.

[2017-07-14 15:05] gfyoung commented on #16894
@kernc : Hmmm...I suspect we have the support for this indexing somewhere in the code-base, as this code works below:

[code]

I can't search the code-base from my phone, but I suspect if you walk through the `__getitem__` logic for `DataFrame`, you can find the place where we reconcile the `np.nan`-handling, which we can then apply to initialization in your example.

[2017-07-14 15:05] bashtage commented on #16923
It works fine.  You need to read once in order to initialize some values.  This appears to be an omission in the iterator implementation. Should probably raise with a usable error in the scenario.

[code]

[2017-07-14 15:08] gfyoung commented on #16904
@dsm054 : Go right ahead and add it!  You were the one who helped resolve this.

[2017-07-14 15:09] jreback commented on #16923
pull-requests welcome!

[2017-07-14 15:11] kernc commented on #16894
Yes, `Index` and subclasses [support nan](https://github.com/pandas-dev/pandas/blob/9c44f9b2cad863bde17c7dd061d5b5b5ccbada21/pandas/core/indexes/base.py#L1828). _Initialization from dict_ doesn't.

[2017-07-14 15:11] bashtage commented on #16924
The stata dta format is not readily amenable (I am assuming you would like to add new values to existing variables) since it looks like

[code]

Amending would require overwriting the value labels, updating them if needed, and the finally writing the new value labels.   There is also a variable `nvars` in the header that would need to be overwritten.  Not worth the effort to try and implement this

[2017-07-14 15:15] gfyoung commented on #16916
@nreeve17 : How do these solutions sound to you?  Did the quick-fix work for you BTW?

[2017-07-14 15:16] gfyoung commented on #16894
Correct, but I'm saying that the logic for `__getitem__` (not the link that you are pointing to, which is for something else) should be located, as that would tell you how the bug can be patched I imagine.

[2017-07-14 15:17] bashtage commented on #16923
Should pull this block

https://github.com/pandas-dev/pandas/blob/master/pandas/io/stata.py#L1480

out to a stand alone function and then call it once the header has been read.

[2017-07-14 15:21] bashtage commented on #16923
Will do full PR later.

[2017-07-14 15:25] gfyoung commented on #16918
This is a somewhat unusual way of initializing a `DataFrame`, so I'm inclined to go with two.  That being said, have a look at performance to see just how "disastrous" it is. 😄

What are your thoughts regarding this proposal to add `fill_value` then?

[2017-07-14 15:26] kernc commented on #16894
Not unexpectedly, Indexes use [`isnull()`](https://github.com/pandas-dev/pandas/blob/9c44f9b2cad863bde17c7dd061d5b5b5ccbada21/pandas/core/indexes/base.py#L1810-L1823) or [`isnan()`](https://github.com/pandas-dev/pandas/blob/9c44f9b2cad863bde17c7dd061d5b5b5ccbada21/pandas/core/indexes/base.py#L1810-L1823) checks internally when constructing their indexer.

[2017-07-14 15:32] gfyoung commented on #16893
@Khris777 : yes, PR = pull request

Essentially, I am asking you to add your raw pastebin string as a test to the `read_csv` function, something like this format would work:

[code]

The following <a href="https://github.com/pandas-dev/pandas/tree/9d13227345882daaa90f03078c09a9b44a18ce72/pandas/tests/io/parser">directory</a> has a lot of good examples that you can follow (you would likely add your

[2017-07-14 15:33] caspervdw commented on #16921
@jreback  The named index does exist, I made a mistake in my first code example. For clarity, I now edited my first message.

[2017-07-14 15:36] gfyoung commented on #16921
Also @jreback , I'd like to keep this open, as I would like to see if we can improve the error message

[2017-07-14 15:37] gfyoung commented on #16894
Okay, might it be possible to use similar logic when constructing from `dict` ?  I'm trying to see (without being able to see the code-base ATM) whether whatever logic being used to handle `np.nan` properly for indexing can be used internally when constructing a `DataFrame` from `dict`.

[2017-07-14 15:42] tdpetrou commented on #16917
@gfyoung I'll see if I have time to do this over the weekend but anyone else is welcome to take it.

[2017-07-14 15:45] caspervdw commented on #16921
Thanks @jreback for reopening. I can have a look a the error message for sure, but first I want to see where my issue is coming from.

@manuescobedo brought this up at https://github.com/soft-matter/trackpy/issues/446. We use CI and never encountered this, however with the specific configuration Py27, pandas 0.20.1, I can reproduce. @manuescobedo, could you try to reproduce your error using my min

[2017-07-14 15:48] gfyoung commented on #16921
Ummm...that was me in fact 😉

Also, try upgrading `pandas` to `0.20.2`, I can't reproduce the issue there.  I can however, confirm that that *was* (we're past that release now) on `0.20.1`.

[2017-07-14 15:52] toobaz commented on #16917
OK, just to summarize: my understanding is that ``.loc[start,stop]``
1. returns everything between ``start`` and ``stop`` in the index _if_ ``start`` and ``stop`` _are_ in the index
2. return everything sorting between ``start`` and ``stop`` _if_ the index is sorted (and ``start`` and ``stop`` can be compared against its elements)
3. fails otherwise

Part 2. is probably undocumented/untested.

[2017-07-14 15:56] gfyoung commented on #16917
Yep, @toobaz , that sounds about right.

[2017-07-14 16:02] ilmioalias commented on #16323
hi, i think there is still some problem

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
data in DF0 doesn't correspond to original data before unstack and droplevel.
#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.6.final.0
python-bits: 64
OS: Linux
OS-release: 3.19.

[2017-07-14 16:23] jreback commented on #16924
ok, closing. @rhysjohnmiller if you want to a note to the docs / doc-string would be fine.

[2017-07-14 16:23] #16924 closed

[2017-07-14 16:28] gfyoung commented on #16323
@ilmioalias : Can you try installing `0.20.2` and report back if the output matches for you now?

[2017-07-14 16:28] jreback commented on #16894
in DataFrame this passes thru ``Index``, e.g.

[code]

so must be missing this step somewhere.

[2017-07-14 16:31] dsm054 commented on #16323
I can confirm that it looks like @ilmioalias has found a different failure mode not solved by the first fix, and obviously not caught by the original tests, which I thought were pretty deep.  :-/

[2017-07-14 16:33] gfyoung commented on #16323
@dsm054 : Are you using `0.20.3` ?  If so, could you also try `0.20.2` and see what you get?

[2017-07-14 16:34] gfyoung commented on #16894
@jreback : confused by what you were just demonstrating.

[2017-07-14 16:35] dsm054 commented on #16323
Same under both, more's the pity.

[2017-07-14 16:38] gfyoung commented on #16323
Okay, could you file a separate issue then and cross-reference this one?  Afterwards, feel free to patch this since you were the one who spearheaded the initial fix.

[2017-07-14 16:43] dsm054 commented on #16323
Sure, I'll take it.  I'm annoyed that something managed to sneak through.  :unamused:

Thanks for the report, @ilmioalias!!

[2017-07-14 16:44] gfyoung commented on #16323
Well, if we could write tests that ALWAYS covered EVERY use-case, then we wouldn't need to take contributions from anyone because our tests would be perfect. :wink:

[2017-07-14 16:56] jreback commented on #16894
This problem is already solved for several cases (but not the one that illustrated above) and SDF. So the existing solutions should just propagate.

[2017-07-14 17:01] gfyoung commented on #16894
Ah, gotcha, you were referring to what I was saying <a href="https://github.com/pandas-dev/pandas/issues/16894#issuecomment-315386253">above</a>

[2017-07-14 17:13] dsm054 opened #16925 "df.stack() still misbehaving in unsorted case"
Migrating from the comment [here](https://github.com/pandas-dev/pandas/issues/16323#issuecomment-315397947), we still have as of 0.20.3 and current master that

#### Code Sample
[code]

gives two different frames which don't match.

#### Problem description

The association between index, column coordinate, and value shouldn't break just because of lexsorting.

#### Expected Output

Matching value

[2017-07-14 18:03] chris-b1 opened #16927 "ERR: missing stacklevel in to_dict UserWarning"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

warning should specific stacklevel to warn at calling site, xref #9584

[2017-07-14 18:07] gfyoung commented on #16927
In the future, we'll probably have to go back and find any other hanging warnings like these.

[2017-07-14 18:11] chris-b1 commented on #16927
Yep, probably some others, a sufficiently clever grep might be able to turn them up. (basically whenever we call `warn(...)` without a stacklevel passed.

[2017-07-14 18:30] jreback commented on #16927
a lot of these prob don't have the correct stack_level; note that on most ``assert_raises_warnings`` we are passing ``check_stacklevel=False`` (so its not checking). certainly these could/should be changed.

[2017-07-14 18:31] 3553x opened #16928 "read_html() Thread Safety"
#### Code Sample

[code]
### Output
[code]
#### Problem description

read_html() doesn't appear to be multi-threading safe. This specific issue seems to be caused by setting `_IMPORTS` in html.py to True too early resulting in the second thread entering `_parser_dispatch` and throwing an exception while the first thread hasn't finished the check.

I have written a potential fix and will open a PR

[2017-07-14 18:36] jreback commented on #16917
This is accidentally working somewhat. I don't find this a particularly useful feature, since we have full support via the ``.str`` accessor.

[2017-07-14 18:39] gfyoung commented on #16917
@jreback : Should it be disallowed or documented then?

[2017-07-14 18:41] gfyoung commented on #16927
That's true, we probably would need to go back and comb through those a bit.

[2017-07-14 18:50] jdeschenes commented on #16836
A bit of investigation:

The problem starts [here](https://github.com/pandas-dev/pandas/blob/6000c5b9624fdd8925099f215eba282bfbef87ce/pandas/core/frame.py#L3317)

The array is converted to a int64 view and the nan is thus lost. I presume this is done for speed up?

I think `lexsort_indexer` will need to be aware that it is being passed a converted datetime and special case the code for NaT. What d

[2017-07-14 18:59] jreback commented on #16836
These are converted just fine. (now I wouldn't mind actually moving the key conversions *inside* ``lexsort_indexer`` though (e.g. we do this for Categoricals now).

[code]

[2017-07-14 19:00] jreback commented on #16917
it could just be documented. though a bit inclined to disallow as it only *partially* works. (IOW its sorting order dependent), so a bad UX.

[2017-07-14 19:01] gfyoung commented on #16917
That's fair.  How about a deprecation cycle?

[2017-07-14 19:08] jdeschenes commented on #16836
The problem is that `lexsort_indexer` doesn't know that it is being passed a datetime instead of a `i8`.

If the function was converting the array instead, it could special case the NaT.

[2017-07-14 19:12] bsolomon1 commented on #16911
thanks for pointing out, I'm in 0.19 for compatibility with some other packages, but I've tried updating manually to 0.20 and had same issue.

[2017-07-14 19:15] gfyoung commented on #16911
Okay, good to know.  Could you update your `pandas` version in the issue?  I would wait for a day or two (or maybe until Monday since it's the weekend) to see if there's any other feedback.  Otherwise, you are more than welcome to give this a shot.

[2017-07-14 19:17] jreback commented on #16836
actually in this case these can be simply converted to categoricals before passing to lexsort_indexer which will solve the problem (they are converted internallly anyhow).

[code]

so first thing to try is to remove the i8 conversion entirely (as Categoricals already handle all of these endge cases).

[2017-07-14 19:21] jdeschenes commented on #16836
as you suggested, just removing the conversion seems to solve the problem.

[2017-07-14 19:31] toobaz commented on #16917
Wait... what "feature" are you talking about?! I hoped I had convinced everybody that this is nothing specific to strings (or if I'm wrong, that someone would convince me of the opposite).

[2017-07-14 19:38] gfyoung commented on #16917
@toobaz  : This is partially why I wanted to wait until I got further input from other maintainers given my indifference.  Given that string indexing is somewhat unusual, it is open to interpretation.

@tdpetrou : any response to what @jreback  has said?  I only recommended a deprecation cycle <a href="https://github.com/pandas-dev/pandas/issues/16917#issuecomment-315440995">above</a> because if w

[2017-07-14 19:39] jreback commented on #16836
great!

[2017-07-14 19:45] tdpetrou commented on #16917
@jreback There is no clean way to do this with `.str` accessor. I personally find it useful for exploration but did not find one instance of it being used anywhere online. I looked for quite some time too. I doubt I'm the only one who's ever done this but it can't be very common.

I actually think deprecation is a good idea as the indexers are still overloaded in my opinion.

[2017-07-14 19:46] toobaz commented on #16917
... why?! I use string indexing all the time, and never expected anything more nor less than from "normal" (?) indexing.

Take my [previous comment](https://github.com/pandas-dev/pandas/issues/16917#issuecomment-315395417). It describes a general behaviour which, as far as I can tell, is always honoured by pandas, regardess of the dtype of the index. Maybe undocumented, but easy to document (and m

[2017-07-14 19:50] gfyoung commented on #16917
@toobaz : The specific application to strings is a little unusual, which you even said yourself <a href="https://github.com/pandas-dev/pandas/issues/16917#issuecomment-315290983">above</a>.

That being said, I think we can all agree that documentation + testing of this functionality is needed.  Let's start with that (@tdpetrou @toobaz feel free to work on this), and we can address what we want to

[2017-07-14 19:58] tdpetrou commented on #16917
This is going to veer a bit off topic but the `str` accessor could gain a `between` method to handle this situation. Also, if this gets deprecated, maybe we can just deprecate the indexing operator itself completely and force `iloc` and `loc` on everyone...

[2017-07-14 20:01] jreback commented on #16917
This is not a feature, rather an accidental impl detail. So while you can document something that only *sometimes* / partially works, this is bad UX. If someone wants to fully test & document great. Otherwise it should be prohibited. A partial 'working' is bad either way.

[2017-07-14 20:02] jreback commented on #16911
this is a duplicate issue IIRC. if someone would have a look.

[2017-07-14 20:18] nreeve17 commented on #16916
@gfyoung yes I tried that quick fix and it worked. I ran all the tests on pandas with the modification to groupby.py and nothing seems to be broken. Should I add a test case and submit a pull request?

[2017-07-14 20:50] toobaz commented on #16917
"This" = ?

Are you talking about point 2. in my comment above? So not specific to strings?

How can you say it is accidental? You mean ``pd.Series(index=[1,2,3,5]).loc[0:6]`` wasn't supposed to work? Or is it just "accidental" that indexing works in a same coherent and intuitive across all dtypes? Would you find an indexing mechanism which applies to all dtypes _but_ strings for no obvious reason

[2017-07-14 21:20] #16923 closed

[2017-07-14 21:24] gfyoung commented on #16917
@toobaz : "This" = the partial string indexing.  I think @jreback is referring to the fact that we generally index with numbers, dates, and *complete* strings, not partial ones.

Also, I don't believe @jreback is calling the actual behavior bad UX but the fact that it is not complete to be bad UX.  He's say that rather than encourage using an incomplete feature, we should be using a complete featu

[2017-07-14 21:25] gfyoung commented on #16917
@tdpetrou : Possibly.  We should investigate that after we document and test this functionality that you found in the issue.

[2017-07-14 21:30] gfyoung commented on #16916
@nreeve17 : Awesome that that worked!  However, a more robust solution (and one that will be more likely to be merged) is to do a `try`-`except` on the `sorting` call and then pass in `result` to `Series`.  @jreback also suggested some refactoring behind the scenes <a href="https://github.com/pandas-dev/pandas/issues/16916#issuecomment-315384196">above</a>, but at the very least, implement the `tr

[2017-07-14 21:32] gfyoung commented on #16911
Is it #7059?  We can close that and then move forward with this one then.

[2017-07-14 21:34] toobaz commented on #16917
OK, this is becoming crazy. There is no such thing as "partial string indexing": everyone is free to see it from his/her preferred perspective, but in the ``pandas`` logics (and docs, when it will be documented) it is just "indexing with labels which do not appear in the index", regardless of the dtype. And as long as it is correctly described, I see no need to special-case the docs, because it wo

[2017-07-14 21:37] gfyoung commented on #16917
Well, to be fair, we haven't actually decided to remove this functionality yet.

We have decided, however, that this functionality should be documented *as is* and tested.  That, I think would work for everyone at least.

[2017-07-14 21:55] toobaz commented on #16917
OK, I don't have time for tests now but here's [a PR](https://github.com/pandas-dev/pandas/pull/16932) for the docs.

[2017-07-14 21:56] gfyoung commented on #16917
@toobaz : I think it *may* be okay if you just do documentation, but ideally, we would have tests + doc in the same PR.  @tdpetrou feel free to jump if you have good examples (like the one in your issue).

[2017-07-14 22:00] toobaz commented on #16917
Time constraints are indeed only one of the many aspects which make me non-ideal

[2017-07-14 22:03] jreback opened #16933 "PEP8"
just turned this on: https://github.com/OrkoHunter/pep8speaks

let's see how it works, and if it needs configuration.....

[2017-07-14 22:11] toobaz commented on #16917
By the way: you are asking me to spend time testing a feature _which you/@jreback will then decide whether to drop or not_. This is plain ridiculous. Why does everybody who has commit rights on ``pandas`` automatically assume that everybody else is just looking desperately for ways to waste time?!

[2017-07-14 22:17] jreback commented on #16917
@toobaz pls be civil and respect others time. Your PR's are always given consideration. adding code / documentation does require discussions. You of course don't need to do any work until / unless things are decided to be kept or not.

[2017-07-14 22:23] jreback commented on #16911
it looks similar. @bsolomon1 if you'd have a look as well.

[2017-07-14 22:54] alubbock opened #16934 "Sort broken using MultiIndex with mixed `ascending`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Sorting using a list for the `ascending` argument appears to have been implemented in #10905 but doesn't work in the above scenario. I get the following output:

[code]

#### Expected Output

DataFrame sorted by index `third` descending then index `first` ascending:

[code]

#### Output of ``pd.show_versions()`

[2017-07-15 00:14] gfyoung commented on #16917
It's actually not a waste of time.  One, we haven't decided to deprecate yet.  Second, it is always good practice to test any and all functionality, both intended and unintended because that way you can better handle user issues and not be taken off guard by problems / surprises that you hadn't bother to explore.

[2017-07-15 00:16] gfyoung commented on #16933
Yes, it will need configuration.  These comments <a href="https://github.com/pandas-dev/pandas/pull/16935#issuecomment-315490874">here</a> are indicative of that (e.g. bare `except`, while true is not checked by `flake8`)

[2017-07-15 04:13] gfyoung commented on #16934
@alubbock : Would you mind adding (with a hand-constructed `DataFrame`) what you expect the output to look like?  That would be useful in addition to your description.

Otherwise, this definitely looks like a bug.  Nice catch!  PR is welcome.

cc @roblevy

[2017-07-15 04:33] gfyoung commented on #16934
@alubbock : Thanks!  Feel free to submit a PR for this if you know where the issue is.

[2017-07-15 06:02] toobaz commented on #16917
Let's say I prefer @jreback 's version.

So, sorry if by mentioning once again my frustration in contributing to ``pandas`` I deviated your attention from the real topic of this issue.

Just to understand if we are on the some page: does any of you maintainers _not_ agree that the topic is "Undocumented feature: slicing with bounds not in index" rather than "Undocumented feature: partial string sl

[2017-07-15 06:26] gfyoung commented on #16917
I've had similar frustrations when I began contributing to open-source projects, so I understand where you're coming from.  This is just the nature of library development and maintenance.  On the one hand, we need to ensure that the existing code is well-documented and comprehensive.  However, we also have to look ahead and make decisions as to where we want to the library to go.

Documentation an

[2017-07-15 06:32] toobaz commented on #16917
Thanks for your kind words - I'm not convinced by them, but we can discuss in private if you want. Can we go back to discussing the issue?

[2017-07-15 06:35] gfyoung commented on #16917
No need to discuss if you're done :smile:

[2017-07-15 06:37] gfyoung commented on #16917
"Undocumented feature: slicing with bounds not in index" is a little vague IMO because we're focusing specifically on the context of strings.  The latter title is a little more specific to what this issue is focusing on here.  Thus, of the two, I would prefer the latter title.

FYI, this seems related to your PR, so I would move the conversation over there.

[2017-07-15 07:14] toobaz commented on #16917
we can discuss in private if you want.

[2017-07-15 08:02] stevemontana1980 commented on #16922
Hi,
this appears to have been fixed in master: #16862

[2017-07-15 08:11] imih commented on #9313
The referenced issue, https://github.com/pandas-dev/pandas/issues/9312#issuecomment-71404429, concludes `freq=Y` should be an alias for freq='AS'

[2017-07-15 08:35] imih commented on #9313
Hi,
The aliases are here:
 https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/frequencies.py#L425

are we fine with `freq='Y'` begin an alias for the beginning of the year while `freq='A'` being an alias for the end of the year?

Additionally, should other composed freqs containing `'Y'` ( 'BYA', 'BYE', 'YA', 'YE') also be added?

[2017-07-15 09:00] mansenfranzen opened #16938 "isin() returns different results than eq() when mixing dtypes of comparators"
#### Expected correct behavior for the same compartor dtypes

[code]

#### Non expected behavior for mixed comparator dtypes

[code]

In summary, `eq()` and `isin()` return different results when mixing comparator dtypes.

#### Problem description

Both methods `eq()` and `isin()` should return the same result. Here is the related [SO article](https://stackoverflow.com/questions/42566737/pandas-is

[2017-07-15 10:26] caspervdw commented on #16921
I can confirm that the issue disappears on `0.20.2`. If I try to reindex using a non-existing index name, I get `TypeError: Level name must be same as name '(None)'`, which is OK I think. So the issue can be closed for my part.

[2017-07-15 10:30] mansenfranzen opened #16943 "MultiIndex row indexing with .loc fail with tuple but work with list of indices"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
Now, extracting the desired rows with `loc` fails here while returning only the first row:

[code]

#### Expected Output
One solution would be to convert the `tuple` to a `list` internally because a `list` of indices work correctly:

[code]

Another solution is to raise an error if a `tuple` of indices is provi

[2017-07-15 11:48] imih commented on #16927
Should the [`@deprecate`](https://github.com/pandas-dev/pandas/blob/master/pandas/util/_decorators.py#L9) decorator be used for this?

Additionally, we might want to add a keyword `stacklevel` to it.

[2017-07-15 12:10] TomAugspurger commented on #16927
@imih no I don't think so. That's for when we change the name of a keyword argument.

[2017-07-15 12:20] imih commented on #16927
@TomAugspurger You're refering to  `@deprecate_kwarg`. `@deprecate` is something else. https://github.com/pandas-dev/pandas/blob/master/pandas/util/_decorators.py#L9 and it's not currently in use in `pandas-dev`.

[2017-07-15 12:20] TomAugspurger commented on #16933
Ignoring the same errors as flake8 + the bare except (which should be fixed) I have

<details>
pandas/__init__.py:27:30: E128 continuation line under-indented for visual indent
pandas/__init__.py:28:30: E128 continuation line under-indented for visual indent
pandas/__init__.py:81:80: E501 line too long (93 > 79 characters)
pandas/tslib.py:7:32: E128 continuation line under-indented for visual inde

[2017-07-15 12:26] mansenfranzen commented on #16851
Judging from a users perspective, I think it would be most convenient to simply add a parameter to the existing `value_counts` method like `comb=True` or extend the existing parameter `normalize` to take an additional argument like `normalize="comb"`.

[2017-07-15 12:54] TomAugspurger commented on #16943
I suspect this would break other tests, were tuples have different meanings that lists for slicing. I may be wrong though, if you want to give it a shot.

[2017-07-15 12:56] TomAugspurger commented on #16922
Thanks @stevemontana1980 you're correct.

[2017-07-15 12:56] #16922 closed

[2017-07-15 13:17] drorata commented on #16851
This was my first idea, and attempt as well. But, I didn't want to change the function too much eve though the tests passed. Therefore I thought having a wrapper is better. If the moderators find this approach good, I'm ready to update the PR.

[2017-07-15 13:58] #16668 closed

[2017-07-15 14:02] zygmuntz opened #16946 "An option to run once for pandas.DataFrame.apply"
In my opinion `apply()` should have an option to disable this check. Sometimes for functions with side effects, consistent behaviour is more important that speed.

[2017-07-15 14:04] TomAugspurger commented on #16946
Are you able to use `.pipe` rather than apply for your use-case?

[2017-07-15 14:08] jreback commented on #16946
this is a dupe of #2936

this can simply be fixed. To compute starting at the next row.

[2017-07-15 14:08] #16946 closed

[2017-07-15 14:13] jreback commented on #16938
no this has to do with the upcasting rules. numpy is not used here except in a small evaluation case.
upcasting of the mixed operands is actually somewhat non-trival, see the code https://github.com/pandas-dev/pandas/blob/master/pandas/core/algorithms.py#L372

welcome for you to add your test case and debug. there are quite a few tests around this so this might be tricky to get right.

[2017-07-15 14:14] #16921 closed

[2017-07-15 14:16] jreback commented on #16921
this was fixed by https://github.com/pandas-dev/pandas/pull/16266

[2017-07-15 14:38] jreback commented on #16943
this technically is not covered by the doc-string

``- A list or array of labels, e.g. ['a', 'b', 'c'].``

 but we almost always accept array-like (which includes tuples). The reason this is confusing slightly is that a non-nested tuple is *also* valid as a single indexer.

[2017-07-15 14:54] jreback commented on #9313
so these should following the same convention as Q and M

so Y would be the same as A e.g. end of year and

YS would be year start

[2017-07-15 15:07] alanbato commented on #16905
I'll be working this issue if you don't mind 😄

[2017-07-15 15:16] andrejonasson commented on #16877
Hi, I'm working on this issue.

[2017-07-15 15:31] lphk92 commented on #16772
I'm working on this at the SciPy 2017 sprints

[2017-07-15 15:34] #16934 closed

[2017-07-15 15:40] jreback commented on #16416
if anyone at sprints wants to add to ``.reset_index()`` we can close this one

@TomAugspurger

[2017-07-15 15:46] Morgan243 commented on #12565
I'm looking into this (scipy sprints 2017)

[2017-07-15 15:46] gfyoung commented on #16933
Silencing E741 is fine as well.  I think we can slowly silence whatever we don't catch with `flake8`.

[2017-07-15 15:55] jreback commented on #16933
sure, these need to go in the ``.pep8speaks.yml`` though.

[2017-07-15 15:56] jreback commented on #16933
@gfyoung if you want to try a PR or to tweak these settings would be great (IOW you can push it up and get the response)

[2017-07-15 15:56] alanbato commented on #16871
Working on it!

[2017-07-15 16:01] #16927 closed

[2017-07-15 16:18] jreback commented on #16851
[code]

so you are looking for something like

``s.value_counts(normalized='both')`` ?

How would you name these outputs?

[2017-07-15 16:58] jreback commented on #12401
so the problem as highlited by @jorisvandenbossche is that ``.select`` acts on the index (which is what ``groubpy.filter`` and boolean selection does). so it is a highly confusing name.

``.filter`` is also a confusing name as it acts on the labels of columns.

We need a combined functionaility of the current ``DataFrame.select/filter`` (IOW to select *labels* from an axis and should accept a list

[2017-07-15 17:23] alanbato commented on #16867
Claiming this bug :)

[2017-07-15 17:53] arcticbarra commented on #16714
I'll start working on this. Just a quick question, do I have to validate boolean input args just for the set_index function or also for every function with boolean kwargs?

[2017-07-15 18:00] jreback commented on #16714
ideally we should do this for all function args that are boolean

start with a certain class of them

e.g. like inplace (though these are mostly done i think)

[2017-07-15 18:02] drorata commented on #16851
My suggestions can be found [here](https://github.com/drorata/pandas/commit/6358d8fbfff647e6f2afc96379e2094d80b11856#diff-9c718a39eb63c1bfac4fbeacf2906ffdR941). As I mentioned above, I also implemented a version which adds another possible value for `normalize`, namely `both`. However, eventually, I discarded that approach as it changes the API of a core function.

I think, more generally, this op

[2017-07-15 18:41] shoyer commented on #12401
I would suggest simply deprecating/removing `select` without making a replacement. Indexing is a fine alternative.

`DataFrame.filter()` is useful. I wish it were called `select` instead, both because that matches SQL and `filter` suggests filtering rows with a boolean expression (like `filter` in dplyr or Ibis), but I don't think changing the name is worth the hassle.

In general, I think we shou

[2017-07-15 18:48] lphk92 commented on #16830
I am working on this at the SciPy 2017 sprints

[2017-07-15 18:50] jreback commented on #12401
sure it is - pandas is going to exist for 1.x for quite some time

better to make changes to the right spelling sooner rather than later

I am all for deprecating filter and calling it select (or select_labels)

[2017-07-15 18:53] shanral commented on #16418
I've picked this up since it seems available again.

[2017-07-15 18:58] scls19fr opened #16953 "Plotting Timedelta on y-axis"
#### Code Sample

[code]
#### Problem description

`plot.bar()` works with numerical values (`int`, `float`).

[code]

![capture d ecran 2017-07-15 a 20 20 30](https://user-images.githubusercontent.com/109167/28241986-6b0fb8e8-69a0-11e7-88d0-2c32de28af90.png)

not with `Timedelta`

[code]

[code]

#### Expected Output

Timedelta on y axis should be displayed

#### Output of ``pd.show_versions()``

[2017-07-15 19:10] TomAugspurger commented on #16953
I wonder if we could change https://github.com/pandas-dev/pandas/blob/3955261c04d5b838488a45fe7b186399bcdca137/pandas/plotting/_core.py#L343 to include `timedelta=True`? Maybe try changing that and seeing what breaks.

[2017-07-15 19:19] scls19fr commented on #16953
After changing

        numeric_data = data._convert(datetime=True)._get_numeric_data()

to

        numeric_data = data._convert(datetime=True, timedelta=True)._get_numeric_data()

it's still raising same exception

[2017-07-15 19:36] gfyoung commented on #16714
@pambot : That's going to be a little laborious, but if you can do that, (at least for some chunk of them), then go right ahead!

[2017-07-15 19:42] metllord commented on #16905
I think I have a fix for this. I'm testing it now.

[2017-07-15 19:49] rdk1024 commented on #15793
I'll take a look at this during SciPy 2017 sprint weekend.

[2017-07-15 19:50] alanbato commented on #16867
So far I could identify the offending part of the code in offsets.py:837
[code]
The call to `self.next_bday.onOffset(other)` returns `True`, so the code else clause returns `other + skip_bd` as the result of the offsetting. However, if the code in the if clause executed, it would return the correct result.

If anyone has any ideas on how to refactor/fix this part, I'd be happy to hear them.

[2017-07-15 20:07] aernlund commented on #16416
I'm working on .reset_index() example.

[2017-07-15 20:14] Erotemic opened #16957 "Creating a new row with np.inf as an index causes an OverflowError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I came across this bug when using different threshold values to index my DataFrame.
When I tried to dynamically insert a np.inf value, it failed with `OverflowError: cannot convert float infinity to integer`.

At first I thought that np.inf might just not be a valid hashable object, but `{np.inf: 2}` is valid c

[2017-07-15 20:42] jbrockmendel opened #16959 "CLN: generate groupby method wrapper code"
[code]

The usage in `compat` is for `raise_with_traceback` where the py2 version is a syntax error in py3.  This is pretty straightforward to de-exec by putting the py2-specific code in a module that only gets imported in py2.

The usage in `core.groupby` is tougher.  The string being exec'ed defines a method in some cases and property in others.  The property version I think I've got a working f

[2017-07-15 21:02] fding253 commented on #5023
Working on adding documentation for the `fill_method` and `convention` parameters.

[2017-07-15 21:09] chendaniely opened #16962 "beautifulsoup fails to install in requirements_all.txt"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This will prevent people from contributing since the environment will not be created correctly.
Current Hack is to remove `beautifulsoup` from `ci/requirements_all.txt`
and then manually installing it `conda install -c conda-forge beautifulsoup4`

#### Expected Output

No errors, everything installs.

#### Outp

[2017-07-15 21:22] Morgan243 commented on #16012
Working on this

[2017-07-15 21:28] #16871 closed

[2017-07-15 21:32] OrkoHunter commented on #16933
Hello @jreback @gfyoung @TomAugspurger !

I am thrilled to see that you are experimenting with PEP8Speaks. I would be more than happy to help out with any configurations. Also, feel free to let me know of any feature request or anything I can do for the bot to be more productive.

Thanks again. :)

[2017-07-15 22:27] Morgan243 commented on #16012
Something I've found - if the two arrays for the operation pass this condition in numpy's in1d:
[code]
Then a masking technique is used for performance reasons (https://github.com/numpy/numpy/pull/81) . If this masking technique is used, then the bug doesn't appear to happen.

So the bug is triggered by first having the 1e6 array to trigger pandas use of np.in1d, but then the comparison array must

[2017-07-15 23:13] #12565 closed

[2017-07-15 23:27] jreback commented on #16959
not sure this is a big deal. this is just a way to code generate.

[2017-07-15 23:32] jreback opened #16971 "COMPAT: replace import of remove_na"
https://travis-ci.org/pandas-dev/pandas/jobs/253985437

xref #16935

this breaks ``seaborn`` which is apparently using this private method.

So let's

- open an issue on seaborn about this (optionally they can simply use ``s[s.notnull()]`` instead of the import), prob would appreciate a PR
- add back the import to ``pandas.core.series`` and deprecate ``remove_na`` (which just can call ``remove_na_

[2017-07-15 23:32] jreback commented on #16971
cc @gfyoung
cc @jbrockmendel

[2017-07-15 23:45] #16416 closed

[2017-07-16 00:07] TomAugspurger commented on #16962
Closed by #16966

[2017-07-16 00:07] #16962 closed

[2017-07-16 00:47] jbrockmendel commented on #16959
For the `raise_with_traceback` I agree it's not that big a deal, I've just been indoctrinated to react to exec.  Let's forget about that one.

In the case of `method_wrapper_template` the fact that I couldn't reason about how it works makes it a problem for me.  Moving forward on the requests made by @gfyoung in #16913 is going to require poking around in there.  I'll take another look at it next

[2017-07-16 00:59] jreback commented on #6581
@gfyoung FYI I want to see when we deprecated ``pd.options.line_width/height``. They can be removed (in 0.21.0) am pretty sure

[2017-07-16 01:07] jreback commented on #16959
yeah what we usually do is to generate code (for cython) using tempita. We actually could do that here, its cleaner and more pythonic. (see the pxi.in -> pxi files).

[2017-07-16 01:12] #16875 closed

[2017-07-16 03:54] gfyoung commented on #16959
@jbrockmendel : Could you explain why deprecations are requiring you to go through this refactoring?

[2017-07-16 03:59] gfyoung commented on #16971
@jreback : Sounds like a good plan here.

[2017-07-16 04:07] gfyoung commented on #6581
@jreback : You're absolutely right.  0.11 and 0.12 respectively. 😢

[2017-07-16 04:12] gfyoung commented on #16957
@Erotemic : seems reasonable to seem.  If you think you can patch it as well, a PR is welcome!

[2017-07-16 05:54] jbrockmendel commented on #16959
The non-invasive part of the deprecation does not.  What I was referring to was the suggestion that removing these methods entirely might fix the problem of the circular import:

*Removing* these methods from `Series`/`DataFrame` does cascade into requiring changes in `core.groupby`.  Like with #16913, the stumbled-upon issue (`exec`) is more important than the original motivator (refactoring that

[2017-07-16 06:04] gfyoung commented on #16959
Got it.  That makes sense. 👍

[2017-07-16 07:24] mogillies commented on #16418
Sorry I haven't completed as I am stuck with the testing.

Go ahead if you want to do it.  Can I see how you do it after you are done?

Mo

Sent from my iPhone

[2017-07-16 07:33] z94624 commented on #15086
I also faced the same problem when the program stopped at pd.read_csv(file_path). The situation is similar to me after I upgraded my python to 3.6 (I'm not sure the last time the python I installed is exactly what version, maybe 3.5......).

[2017-07-16 08:46] imih commented on #16953
The `dtype`  of  ```data._convert(datetime=True, timedelta=True).values``` is `timedelta64[ns]'` and they get filtered out by `_get_numeric_data()`.

` numeric_data = data._convert(datetime=True, timedelta=True)`
sort of works if you're fine with losing the timedelta format representation.

Expected:
![figure_1](https://user-images.githubusercontent.com/3117729/28246035-ef1e8640-6a0a-11e7-8185-083

[2017-07-16 09:57] gfyoung commented on #9313
Reopening because the initial PR was incomplete.

[2017-07-16 12:13] dkasak commented on #12401
I don't have time to handle this at the moment, but I may be interested in doing it when time permits if it hasn't been done already by then.

FWIW, upon some thought, I still think changing the name of `.filter` to `.select*` would be best. I don't feel strongly about `.select` vs `.select_labels`. I generally prefer shorter names, but the added verbosity here might make things clearer. Calling i

[2017-07-16 12:36] rhaps0dy opened #16979 "BUG: DataFrame.where with category dtype"
#### Code Sample (it is copy-pastable)

[code]
#### Problem description

`df.where` should work with all dtypes, the [documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html) doesn't say it works only for some dtypes. Also, NaNs are already correctly handled as missing data in `pd.Series` of type 'category', so one should be able to assign NaNs to them. Sam

[2017-07-16 13:46] jreback commented on #12401
can u show a complete example of how using select

[2017-07-16 15:23] #16917 closed

[2017-07-16 15:26] jreback commented on #16979
can you make a separate issue about the astype (and remove from the top from here).

[2017-07-16 15:29] jreback commented on #16979
this could be taken up after #16821

[2017-07-16 15:31] #16893 closed

[2017-07-16 15:32] #15793 closed

[2017-07-16 15:55] #15432 closed

[2017-07-16 16:16] jbrockmendel commented on #16971
Should I do this in the old PR?

[2017-07-16 16:21] tapia opened #16980 "API: Wrong DateOffset behaviour with DST changes"
Given a timezone-aware Timestamp:

    foo = pd.Timestamp('2016-10-30 00:00:00', tz=pytz.timezone('Europe/Helsinki'))

(Please note that `2016-10-30` is a 25-hour day, due to a DST change. This day the hour changes from `+0300` to `+0200`)

I'm trying to get the next day. If I understand correctly the DateOffset behaviour, all these lines should be equivalent:

    foo + pd.tseries.frequencies.to_

[2017-07-16 16:33] jreback commented on #16971
no, new PR for this.

[2017-07-16 16:45] jreback commented on #16980
xref to https://github.com/pandas-dev/pandas/issues/8774 and #7825

the first 4 are equivalent to Day, so what you are asking is why are these different.

[code]

Day is a sub-class of Tick which like Minute, Second, is applicable to the UTC time directly (IOW these are converted to UTC added, then reconverted to local). So D is effectively 24 hours and not days.

While other offsets e.g. Month an

[2017-07-16 16:45] jbrockmendel opened #16981 "PERF: isinstance(x, ABCFoo) vs isinstance(x, Foo)"
Using the test cases in `tests.dtypes.test_generic`, checking `isinstance(item, ABCIndex)` takes ~2x as long as `isinstance(item, Index)`. Same for `MultiIndex`, `DataFrame`, `Series`.  These measurements are pretty stable if we restrict to cases where the `isinstance` is True.

[code]

Using 0.20.2 on a 2011-era MacbookPro, this gave:
[code]

Using 0.20.2 on a 2015-6 era Ubuntu desktop:
[code]

I

[2017-07-16 16:49] jreback commented on #16981
well you would have to show a case where this actually matters. These ABC instance checks are to avoid complicated and interlocking circular imports, which they do very nicely; the code is MUCH simpler generally with these.

I am not sure what you are advocating here.

[2017-07-16 17:27] rhaps0dy opened #16983 "BUG: DataFrame.astype with category dtype"
#### Code Sample, a copy-pastable example if possible

[code]

related failure
[code]
#### Problem description

Object dataframes can contain any Python object so anything should be convertible to them. Split off of #16979.

[2017-07-16 17:39] tapia commented on #16980
The problem is I need a way to write a string offset (`'D'`, `'10m'`, whatever) that is timezone aware. If I'm going to add a day, I need to add an actual day, not 24 hours. How can I achieve this using `to_offset`?

I can't use DateOffset to do this, because my code receives the offset string as a parameter, and writing a parser that "overrides" the Pandas parser looks like a very bad idea.

[2017-07-16 18:33] jbrockmendel commented on #16981
Totally on board with this.

Mostly intended to park these numbers somewhere for the next time micro-optimizations come up.

[2017-07-16 19:42] cclauss opened #16985 "BLD: ALL Travis CI tests are running on Python 3.5"
Look at any one of the Travis CI builds at https://travis-ci.org/pandas-dev/pandas

All builds are running on Python 3.5.3.  Even the builds that are marked 2.7 and 3.6 are running on Python 3.5.3.  Either I am missing something or there seems to be a configuration issue between tox.ini and .travis.yml.

[2017-07-16 19:47] jreback commented on #16985
no this is the env that run conda
which then creates and appropriate env based on passed
these are all controlled by variables

[2017-07-16 19:47] #16985 closed

[2017-07-16 19:47] jreback commented on #16985
tox is only a local build tool and not used in ci

[2017-07-16 22:24] jreback commented on #16933
this seems reasonable now.

[2017-07-16 22:24] #16933 closed

[2017-07-17 01:48] jzwinck commented on #16918
@gfyoung I made it work well enough for my purposes by adding `fill_value=None` to the signature of `nested_to_record()`, then doing this near the end of the function:

     if fill_value is not None:
        # make it so every new_d has all keys
        for new_d in new_ds:
            for key in keys:
                if key not in new_d:
                    new_d[key] = fill_value

This simple s

[2017-07-17 02:46] dsm054 opened #16988 "DOC: Clarify .agg status"
The documentation for `.agg` is almost hilariously ambiguous:

What is "it" referring to?  Are we being told to use `aggregate` instead of `agg` because it's the fundamental name and `agg` is a mere alias?  Or are we being told that we can and should use `agg` because it's the canonical alias (in the same way that pd is the canonical alias for pandas)?

A quick scan of the codebase suggests that `

[2017-07-17 02:57] gfyoung commented on #16918
@jzwinck : Okay, sounds good!  This work will be useful for anyone who takes up this issue later.

[2017-07-17 05:28] toobaz commented on #16823
I'm not convinced this is a bug... as @jreback says, ``[3]`` is valid code, and the boundary with "losing information" is not so obvious. What about

[code]
? I'm pretty sure we want to allow it. On the other hand, in ``[5]`` you are initializing, so it makes sense to require more explicit "instructions" (as in ``pd.DataFrame({'foo' : 1}, index=[])``, which works fine).

I see instead the incohere

[2017-07-17 06:11] gfyoung commented on #16988
The grammarian says "aggregate" because the last noun before the pronoun is "aggregate"

However, the correct reference is `agg`, which is why you see `.agg` being used more often.

[2017-07-17 06:19] #16988 closed

[2017-07-17 06:37] gfyoung commented on #16971
Issue posted on `seaborn` <a href="https://github.com/mwaskom/seaborn/issues/1240">mwaskom/seaborn#1240</a>

[2017-07-17 07:05] toobaz opened #16990 "Add a .relabel method; deprecate .rename and .rename_axis for relabeling"
This was suggested by @MaximilianR [here](https://github.com/pandas-dev/pandas/issues/12392#issuecomment-186308548), but @jorisvandenbossche (rightly) [proposed](https://github.com/pandas-dev/pandas/issues/12392#issuecomment-186451899) to discuss separately.

This is related to the discussion on ``.rename`` and ``.rename_axis``'s signatures (see above), but touches a different issue. Currently, th

[2017-07-17 07:12] toobaz commented on #12392
I think having two methods doing the same thing is confusing (less so if the documentation of each just clarified the difference from the other, but still I don't think both are worth keeping).

Done: #16990 . Clearly this discussion on the signature also applies to that bug, assuming my proposal (of adding ``.relabel``) is accepted. I'm personally slightly in favor of ``index=``, just because it

[2017-07-17 07:21] wikiped opened #16991 "ValueError on df.columns.isin(pd.Series())"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The second call to `df.columns.isin(s2)` fails with

    D:\Anaconda\envs\py3k\lib\site-packages\pandas\core\algorithms.py in <lambda>(x, y)
        402     # work-around for numpy < 1.8 and comparisions on py3
        403     # faster for larger cases to use np.in1d
    --> 404     f = lambda x, y: htable.isme

[2017-07-17 07:29] rhysjohnmiller commented on #16924
Thank you for the help!

[2017-07-17 07:53] gfyoung commented on #16990
Not quite an enhancement but totally onboard with making a cleaner, simpler API.

[2017-07-17 07:56] gfyoung commented on #16991
Reproduced on `master`.  That's a bug alright.  PR is welcome!

[2017-07-17 08:45] ilmioalias commented on #16323
Hi,
i tried pandas 0.20.2, it doesn't work. I obtained same 0.20.3 result.

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.6.final.0
python-bits: 64
OS: Linux
OS-release: 3.19.0-61-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: it_IT.UTF-8
LOCALE: it_IT.UTF-8

pandas: 0.20.2
pytest: None
pip: 9.0.1
setuptools: 36.2.0
Cython: 0.25.2
numpy:

[2017-07-17 10:26] jreback commented on #16990
this issue is duplicated by much discussion already, pls comment on the existing issues: #14829

xref issues:
#12392
#14636
#15104

[2017-07-17 10:26] #16990 closed

[2017-07-17 12:29] Khris777 commented on #16893
Thanks for adding the test. Since I'm only here on weekdays you were faster than me. :)

[2017-07-17 15:10] TomAugspurger commented on #14829
From @toobaz in https://github.com/pandas-dev/pandas/issues/16990#issue-243310775:

[code]

[2017-07-17 15:11] #16773 closed

[2017-07-17 15:14] TomAugspurger commented on #14829
Could we do an up / down vote on:

a. Adding `.relabel` for changing the index / column labels
b. Deprecating the relabeling behavior of `.rename`

I'm +1 on `a` and -0 on `b`.

[2017-07-17 16:37] gfyoung commented on #16980
I'm not sure if you can, but at the very least, what you can do is check for "D" in the string parameter and use `pd.DateOffset(days=n)` as the workaround.  Does that work for you?

[2017-07-17 16:52] tapia commented on #16980
Yes, of course, that's what I ended doing. But, regardless of how I workaround the problem, I still think this is a bug in Pandas.

Thank you guys for your help :-)

[2017-07-17 16:55] randomgambit commented on #8917
@jorisvandenbossche @esvhd same problem here. Got some timestamps in central time, and try to localize in EST give me this error. Is there a quick and dirty fix for that? Thanks!

[2017-07-17 17:12] rockg commented on #8917
There should be nothing wrong converting to EST as that does not have DST offsets.  Can you post your example?

[code]

[2017-07-17 17:18] randomgambit commented on #8917
@rockg No I mean I convert from Central time to EST.

`df.timestamp.map(lambda x: x.tz_localize('US/Central', ambiguous = 'NaT').tz_convert('US/Eastern').tz_localize(None))`

[2017-07-17 17:38] randomgambit commented on #8917
@jorisvandenbossche @mskrajnowski woud this be the `pytz`- equivalent (and correct) way to convert from `US/Central` to `US/Eastern` in a Pandas dataframe?

Assume `df.timestamp` is a naive `pd.to_datetime()` timestamp

[code]

[2017-07-17 17:47] guyko81 opened #16997 "SUMPRODUCT Excel functionality"
Hi,

it's not a real issue, though I'm having some hard hours because of it. The simple SUMPRODUCT (=weighted average of columns) is not possible with current solutions, or I missed something. Whatever solution I used they all caused my computer to crash. The same amount of data can be calculated in Excel (100,000 rows and 30 columns).
I know I made errors during my implementations (because this a

[2017-07-17 17:58] jreback commented on #16997
what are you reporting?

[2017-07-17 18:03] gfyoung commented on #16997
I don't think this is an issue related to our repository.  Rather, it seems to be a request for us to write code for @guyko81 .  You could instead reach out to the mailing list to get assistance for this.

Closing this, but can reopen if it gets clarified.

[2017-07-17 18:03] #16997 closed

[2017-07-17 18:15] guyko81 commented on #16997
thanks, I missed the channel I think 👍

[2017-07-17 19:43] parchd-1 opened #16998 "Documentation doesn't match function: highlight_min, highlight_max"
The docstring for highlight_min and highlight_max state that applying tablewise is the default, but the function signatures set the default to axis 0.

[code]

[2017-07-17 20:05] gfyoung commented on #16998
cc @TomAugspurger

Good catch!  PR is welcome to fix this.

[2017-07-17 20:07] gfyoung commented on #16991
@jreback : I would like to tag this for `0.21` because we should be able to address this bug for the release.

[2017-07-17 20:30] jreback commented on #16991
i almost always tag with next release

otherwise u end up moving them later back if they r not done

just so many reports it's hard to judge what to tag unless there is an actual PR

[2017-07-17 21:10] gfyoung commented on #16991
That's true.  I do have this one on my radar though, so when the time comes to release and this still hasn't been resolved, feel free to call me out on it :smile:

[2017-07-17 23:29] #16971 closed

[2017-07-17 23:55] gliptak opened #17001 "Inconsistent plotting of DateTimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
![line](https://user-images.githubusercontent.com/50109/28294672-8c06921c-6b29-11e7-8f41-fe1fce8039cb.png)

[code]
![bar](https://user-images.githubusercontent.com/50109/28294664-7643af32-6b29-11e7-8cc9-50a2767d9cc5.png)

#### Problem description

```line``` and ```bar``` displays dates differently as per screenshots attached.

#

[2017-07-18 00:23] gfyoung commented on #17001
It seems like your issue is primarily with `.bar`.  I think I've run into this issue before too...though I think it just `matplotlib` funkiness

cc @TomAugspurger

[2017-07-18 01:26] randomgambit commented on #8917
@jorisvandenbossche @mskrajnowski @rockg any ideas? sorry for the spam but this is an important question in my humble opinion :D

[2017-07-18 01:48] TomAugspurger commented on #17001
Barplot makes one label per bar. If you want something else then you're probably best off doing the ticks manually.

[2017-07-18 03:59] gfyoung commented on #17001
Hmmm...okay.  Could we add that to the documentation to clarify?

[2017-07-18 05:01] #16772 closed

[2017-07-18 06:53] dclong opened #17004 "Make DataFrame.to_html output full content"
Make DataFrame.to_html output full contents by default. Or at least add option to enable outputting full content.

#### Code Sample
[code]
#### Problem description

By default, pandas uses a short representation of a very long string. However, when outputting to HTML, I think users expect the full content to be outputted rather than a short representation.

#### Expected Output

Full content outpu

[2017-07-18 07:03] toobaz opened #17005 "Uninteded cast from int to float in pd.crosstab with different indexes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The shorter series gets casted to float before the computation, which one would not expect, given that index elements with at least one missing value are discarded in the computation..

#### Expected Output
The same as

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
----------------

[2017-07-18 08:29] mficek opened #17007 "pd.to_numeric - float64, object or error?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hi guys, I realized that result of to_numeric changes depending on the way you pass a Series to that function. Please see example above. When I call to_numeric with series passed as parameter, it returns "object", but when I apply to_numeric to that series, it returns "float64". Moreover, I'm a bit confused wha

[2017-07-18 08:36] mhooreman opened #17008 "Feature request: vectorized sort on string split results"
#### Problem description

I'm searching without success a way to sort the results of `pd.Series.str.split`.

I was expecting a str method, as we have it for example to access slices of the results, but it seems that it doesn't exists (tried `sorted`, `sort`, `sort_values` and googled).

As a workaround, I'm using `apply` on the `split` result, but it is not vectorized, so I guess that it can be ma

[2017-07-18 08:51] FXLab91 opened #17009 "Unexpected Broadcast error when diving string by float"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
This throws the following error:

[code]

#### Expected Output

I had hard time understanding this error has nothing to do with the shape of the columns but with their dtypes.

Probably a TypeError like `TypeError: Could not operate 1.0 with block values unsupported operand type(s) for /: 'str' and 'float'` wou

[2017-07-18 10:34] jreback opened #17010 "COMPAT: safe argsort in Index/Series"
[code]

[code]

These can both be fixed by falling back to using ``.get_indexer()`` if these fail (``.argsort`` is faster and handles duplicates for object dtypes, so the default is good).

[2017-07-18 11:26] #11221 closed

[2017-07-18 11:48] Khris777 opened #17012 "Bug: SettingWithCopyWarning in some cases cites wrong or no lines when showing where an error occurred."
Changing the topic with some editing:

I stumbled over SettingWithCopyWarning outputting wrong lines when referencing where an error occurred.

Example:

[code]

This code throws three SettingWithCopyWarnings. If I have this code in a file without anything else, this is my output:

[code]
I'm getting three warnings, first and third do cite the correct lines.

But if I have the same code in another

[2017-07-18 14:40] chris-b1 commented on #17007
This case is clearly a bug:
[code]

But not entirely clear how we should be handling "big" integers.  numpy does not cast to a float on default construction, but we could here.
[code]

[2017-07-18 14:46] gfyoung commented on #17004
This reminds me of #16911, though I'm not sure if they're completely related.  I agree that we should also try to truncate based on column length and not just the number of columns.

cc @jreback

[2017-07-18 14:47] gfyoung commented on #17004
@dclong : If you have ideas how to go out implementing such a feature, PR's are welcome!

[2017-07-18 15:10] gfyoung commented on #17007
@chris-b1 : Your first example, I can explain.  You can't hold both `NaN` and `uint64` together in the same numeric `dtype`, so we will refuse to cast if that's the case.  That's why you get the output that you get, so no, that is not a bug IMO.

As for your point about "big" integers, do keep in mind that you can't hold integers above `np.iinfo(np.uinit64).max`.  That's just the way `numpy` dtype

[2017-07-18 15:14] gfyoung commented on #17007
@mficek : My explanation about not holding `NaN` and `uint64` together in the same numeric `dtype` applies for your two examples where you called `pd.to_numeric` on the entire `Series`.

For your first `.apply` example, you should try printing out the output of the `to_numeric` call each time and the data type.  What you will find is that the numeric types will not match (you have `uint64`, `int64

[2017-07-18 15:14] chris-b1 commented on #17007
1.  The bug is that we are returning the object unchanged with `errors='coerce'` - anything unconvertible should be `NaN`

2.  @mficek  was suggesting that we upcast to float in that scenario (which happens to be lossless with this particular value)
[code]

[2017-07-18 15:19] gfyoung commented on #17007
Ah, I see...I thought it was erroring an element earlier.  Yes, that `NaN` should just be an empty string.

We made a deliberate decision to not do that.  `uint64` --> `float64` casting is not something we want to do because we more often than not are losing precision.  I suppose you could try to check each number to see if it won't lose precision, but that's going to be a performance hit I can im

[2017-07-18 15:58] #16957 closed

[2017-07-18 16:08] #16998 closed

[2017-07-18 16:17] gfyoung commented on #17008
@mhooreman , thanks for reporting this!  Sorting arraylike-elements within `Series` is an unusual use-case AFAIK, so I'm not sure whether we would find it worthwhile to implement such a vectorization ourselves **unless** we get more requests for such a feature OR we can identify a very strong (and more common) use-case for people.

@jreback : your thoughts?

[2017-07-18 16:20] gfyoung commented on #17009
I ran this code myself, and the first exception that I get is in fact regarding `dtypes`.  The **second** exception is the one that you get.

Could you check your output / stacktrace to see whether you get more than just that one error message?

[2017-07-18 16:30] mficek commented on #17007
Thanks for your explanation! I figured some workaround that works for me with pandas==0.20.3 (basically converting to string, adding '.' at the end of every "number" which leads to conversion to 'float64' always and then checking for elements which are bigger than np.iinfo(np.uint64).max, which I replace with np.nan. Then I drop nans and covert everything to uint64 (which is the type I need in my

[2017-07-18 16:39] gfyoung commented on #17012
@Khris777 : Hmmm...this is very strange.  It's also difficult to check given the nature of Python's interpreter to silence warnings, especially after they have been raised.  I also can't tell why it might be warning with references to commented lines OR no references at all.

Given the difficulty of reproduction, I wonder whether we might be able to tackle this, but let's give it a shot.  Can you

[2017-07-18 16:47] gfyoung commented on #17007
@chris-b1 : I actually can explain why the first and third examples behave as they do.  When you try to convert the "NaN" to `nan`, that conflicts with the `uint64` at the end.  Thus, we refuse to `coerce` (or mutate) any values because of that potential loss of precision.

To be fair, this is not well-documented, and we should at least document this (unless people really think this behavior shoul

[2017-07-18 16:54] gfyoung commented on #17007
Absolutely!  The following code locations will help you out here:

1) `to_numeric` can be found <a href="https://github.com/pandas-dev/pandas/blob/34210ac4d8c61ec4d695baba24d84bd7a1826af4/pandas/core/tools/numeric.py#L15">here</a>

2) `maybe_convert_numeric` can be found <a href="https://github.com/pandas-dev/pandas/blob/c53d00f1487716cf462ffa1965f6ec676a6c2593/pandas/_libs/src/inference.pyx#L926"

[2017-07-18 16:58] FXLab91 commented on #17009
@gfyoung : I tried to run the code again, but the stacktrace is just what I reported in the first post. I am running it on iPython console, should it matter.

![capture](https://user-images.githubusercontent.com/18048812/28329721-b9ba8308-6be2-11e7-80a6-0dc145f07ed3.PNG)

[2017-07-18 16:59] chris-b1 commented on #17007
I think that that `errors='coerce'` should force everything to float64 if anything is missing.  It's not fundamentally different than, our normal treatment of ints in the presence of missing data, and it's an opt-in, deliberately lossy kwarg.
[code]
That said, I do see that point that in the range of int64max to uint64max it becomes "lossier"

[2017-07-18 17:09] gfyoung commented on #17009
1) It should not matter.  I ran the code in `IPython` as well, and I can see both errors.  It could be that your `sys.tracebacklimit` is too small for all the error messages to be displayed.

2) I see you are using `pandas` 0.18.1.  We are in fact now at `0.20.3` - perhaps the discrepancy is due to the fact that you have a very old `pandas` version.  Could you try upgrading and see if that helps?

[2017-07-18 17:16] gfyoung commented on #17007
@chris-b1 : I would disagree with you on that.  `uint` is a different beast from `int`, which is why we have had problems with handling them for some time.  For starters, it has no `nan` like `int` does, which makes it trickier to handle it in conjunction with missing data.

Also, having working on `to_numeric` before, previous discussion on this topic has centered around making conversion operati

[2017-07-18 17:24] chris-b1 commented on #17007
`int` cannot represent `nan` either
[code]

[2017-07-18 17:27] toobaz opened #17013 "uninteded cast to float in pivot_table with margins=True"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

There is no reason why adding the totals row and column should cast to float.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: 9e7666dae3b3b10d987ce154a51c78bcee6e0728
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-release: 4.9.0-3-a

[2017-07-18 17:30] gfyoung commented on #17007
Sorry, what I meant is that we don't have a placeholder for missing `uint` like we do for `int` (I don't count `nan` because of the precision lossiness).

[2017-07-18 17:50] gfyoung commented on #17013
@toobaz : Yep, that's a bug alright.  PR is welcome!

[2017-07-18 18:02] gfyoung commented on #17009
@FXLab91 : Did my upgrade (or any of my) suggestion(s) help?  (I see you :+1: my comment)

[2017-07-18 19:08] mhooreman commented on #17008
@gfyoung Thanks for your comment. I guess that it is indeed not common, and I use the workaround in the meanwhile. So, no stress, it it can't be done now, that's life. Maybe I'll do it when I'll be able to :-)  Thanks again.

[2017-07-18 20:18] ryanshrott commented on #16822
Any update?

[2017-07-18 20:24] randomgambit opened #17014 "best practice for combining partial string indexing + regular mask?"
Consider the simple example as follows

[code]

Now I want to use all the cool partial string indexing functions, but also be able to filter on other variables. The solution I come up with is the syntax

`dataframe.loc[dataframe['group'] == 'A'].loc['2016-06-06']`

which looks really horrible with the two `loc` combined. Is that the correct pandonic way to do so (while keeping the index?) I have r

[2017-07-18 21:10] bcolsen commented on #16822
I have a work around for people being affected by this:

Plot with color in an extra list:
[code]
also fixes bar:
[code]

[2017-07-18 21:37] mortonjt commented on #447
I realize that this is a year out of date, but I'd like to pitch in a use case where having a name for a data frame can be really useful.

When performing multi-block analysis (i.e. multi-block partial least squares), it would be awesome if we could specify R style formulas via patsy and run this sort of analysis as something like as follows

`result = pls_multiblock(formula="Z ~ X + Y + U + V", b

[2017-07-18 22:10] No-Stream opened #17015 "ENH: gb.is_monotonic_increasing"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In order to check which groups are monotonically increasing or decreasing, you can currently use gb.apply(lambda x: x.is_monotonic_increasing).

What I'm suggesting is that Series.is_monotonic_increasing be extended to groupby, so there would be a groupby.is_monotonic_increasing() method, which would return the

[2017-07-18 22:11] jongmmm opened #17016 "groupby.rank(): unexpected behavior with object type column"
#### Code Sample

[code]
#### Problem description
The inconsistent behavior of `groupby.rank(method='first')`. It works in all three cases in the above if the method keyword 'first' is dropped.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
# Paste the output here pd.show_versions() here
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits:

[2017-07-18 22:38] shoyer commented on #447
@mortonjt For this sort of multi-dimensional data analysis, I would consider using xarray, which *does* already support a `name` attribute on `DataArray` objects. Note that we are deprecating `pandas.Panel`.

[2017-07-18 23:33] #16012 closed

[2017-07-18 23:50] #16770 closed

[2017-07-19 00:37] gfyoung commented on #17016
@jongmmm : Could you display the output and traceback from each of those calls?

[2017-07-19 00:40] gfyoung commented on #17015
@No-Stream : I'm not sure I follow your output here.  Can you explain why you get `False` and `True`.  What are you checking for monotonicity?

[2017-07-19 00:40] mortonjt commented on #447
I totally forgot about xarray ...  Thanks @shoyer!

[2017-07-19 00:42] gfyoung commented on #17014
@randomgambit : Thanks for the question!  I think you might be better served emailing this question out to the pandas-dev mailing list or reaching out on our Gitter channel.

I will close this issue for now unless there turns out to be a real issue (or enhancement) with the `pandas` codebase that can be well addressed with the example you have provided.

[2017-07-19 00:45] #16991 closed

[2017-07-19 00:50] randomgambit commented on #17014
thanks @gfyoung but can you at least tell me if that's the correct syntax here? Its not easy to send en example via email, and there is nobody on gitter

[2017-07-19 00:52] No-Stream commented on #17015
@gfyoung I should have explained a bit more but glossed over the details since the suggested enhancement is basically just syntactic sugar. Gb.apply(lambda x: x.seriesproperty) looks ugly to me. I'd rather have gb.gbmethod()

In the example, category a (cat_a) is monotonically increasing (so not monotonically decreasing) and category b is in fact categorically decreasing. So you get False, True. T

[2017-07-19 01:06] jreback commented on #17015
your ``.apply`` soln is fine generally. I suppose this could be added. If you wanted to do a PR I think would be ok.

[2017-07-19 01:06] randomgambit commented on #17014
@jreback thanks a lot. I think this would be a really nice feature to have. partial string indexing is so useful, but 90% of the time I need to combine if with some other logical condition so I end up doing some `df.reset_index().loc[]` which is super annoying.

When you say its not user facing, you mean I should not use it?

[2017-07-19 01:11] jreback commented on #17007
I agree with @chris-b1 [here](https://github.com/pandas-dev/pandas/issues/17007#issuecomment-316128844).

It doesn't matter *what* is there when we have ``errors='coerce'``. If its not lowest common dtype convertible, then it gets a NaN. Now during the conversion you may be inferring and you see a uint64, then a NaN so we go back to ``object``, but I agree that is buggy, it should return ``float64

[2017-07-19 01:13] jreback commented on #17016
this is a dupe of #11759. The solution is to actually define a ``.rank`` method, rather than letting this auto-generate (with the incorrect arguments).

[2017-07-19 01:13] #17016 closed

[2017-07-19 01:22] jreback commented on #17008
embedding lists is not very efficient in pandas. you can try semething like this, which is
roughly equivalent to explode.

``
In [14]:  pd.Series(["a b:d c"]).str.replace(':', ' ').str.split(' ', expand=True).stack().sort_values()
Out[14]:
0  0    a
   1    b
   3    c
   2    d
dtype: object
[code]

[2017-07-19 01:22] #17008 closed

[2017-07-19 01:23] jreback commented on #16980
If you want to have a detailed look inside the code/tests for this would be great. I don't remember exactly why this is the way it is.

[2017-07-19 01:32] jreback commented on #17014
i mean there is no direct way to do this aside from the verbose code that i posted

i suppose u could make an index function to wrap this as a convenience

if u want to post a signature / doc string can take a look

[2017-07-19 02:39] gfyoung commented on #17014
Given where the discussion has gone, I'll reopen this.

[2017-07-19 02:39] gfyoung commented on #17014
@randomgambit : Sorry about that!  I was responding from my phone, so I was hoping email or Gitter could provide you with a more comprehensive response.

[2017-07-19 02:51] #9313 closed

[2017-07-19 05:34] skynss opened #17019 "BUG: read_csv fails some http servers if port number is specified"
xref #16716

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The problem is in atleast one version of web server, `urlopen` and therefore `pandas.read_csv` fails when a `http://<fqdn>:<port>` is specified, even if it is default port 80. However, instead of `urlopen` the `python-requests` library is utilized, same url works. The issue is `requests` sets  heade

[2017-07-19 05:49] Khris777 commented on #17012
If I execute the code with all the stuff commented out that yesterday threw the wrong citations (example 2) in a new console today it behaves correctly. It doesn't seem to be reproduceable like that.

But one other thing I forgot yesterday:
In the second case where it cited that unrelated commented line it always did cite that specific line, even when I added other commented lines before that one.

[2017-07-19 06:19] gfyoung commented on #17012
@Khris777 : Without code and steps to reproduce, it's a little difficult to follow everything that you're seeing on your end.   See my comment <a href="https://github.com/pandas-dev/pandas/issues/17012#issuecomment-316123085">above</a>

[2017-07-19 06:45] cbrnr commented on #16579
I'll create a PR so that this stays on the radar. I'd also like to propose to change `pd.options.display.max_rows` to 20 instead of 60, because ideally I'd like to see a summary of the data frame including the column names. This is also how tibbles in R are displayed BTW.

[2017-07-19 06:52] cbrnr commented on #16579
Regarding the detection of the terminal width, I think it doesn't work in PyCharm's integrated terminal. However, the default of 80 is a reasonable value in this case.

[2017-07-19 07:39] mhooreman commented on #17008
Thanks @jreback . I was stupidly not thinking about the `stack`.

[2017-07-19 08:21] johanhoog opened #17021 "BUG: ValueError when doing HDFStore.Select of contiguous mixed-data table ft. VLArray"
#### Code Sample, a copy-pastable example if possible

    import pandas as pd
    myDf = pd.DataFrame({'a' : pd.Series([1443525810,1443540836,1443609470]),
                         'b' : pd.Series(['ab','cd','ab'])})
    myDf.to_hdf('test.h5', 'test')

    with pd.HDFStore('test.h5') as myFile:
        df = myFile.select('/test', start=0, stop=2) # omit "start=0, stop=2" to prevent error

[2017-07-19 08:46] Khris777 commented on #17012
The uncommented code is in the OP post, I don't want to post the one with the comments because it's from a file I just use to test various things, so it's over 450 lines of clutter and different kind of methods and tests that I do not want to post publicly.

And like I said, I can't even reproduce the problem I had yesterday today with the same file.

[2017-07-19 09:53] rhysjohnmiller opened #17022 "to_stata Crashing on large Datasets"
I have a CSV file which is around 10 million records and I can read that fine into a dataframe but when I try to execute the command:

df.to_stata(outfile,write_index=False)

I get a Memory Error.
Is there any way to overcome this issue?

Thanks

[2017-07-19 10:07] jreback commented on #14829
``.set_axis`` does the job with the new signature. (#16994)

So I would be ok with

- use this new impl ``.set_axis`` as ``.relabel`` and deprecate ``.set_axis``
- remove ``.rename``/``.rename_axis`` relableing behavior (b)

[2017-07-19 10:13] jreback commented on #17021
@johanhoog yep, this looks like a bug. your fix looks reasonable as well.

would take a PR for this.

see [contributing guide](http://pandas.pydata.org/pandas-docs/stable/contributing.html)

[2017-07-19 10:17] #16905 closed

[2017-07-19 10:21] jreback commented on #14829
another possibility is ``.relabel_index``, slightly longer but in the same vein as ``.set_index`` so maybe more clear

[2017-07-19 10:22] #16418 closed

[2017-07-19 12:27] toobaz commented on #14829
OK. We should add the support for mappings, callables, and ``level=``, but then yes, I'm +1 on ``b``.

I'm quite indifferent between ``.relabel`` and keeping ``.set_index``, while I'm slightly against ``.relabel_index`` (it is longer, and I don't think there is risk of ambiguity).

[2017-07-19 12:27] randomgambit commented on #17014
@gfyoung @jreback I tried to find more conventional solutions and actually I found this funny thing:

`dataframe.loc[(dataframe.reset_index()['time'] == pd.to_datetime('2016-06-06')) & (dataframe['group'] == 'A')]`

 FAILS

[code]

WORKS

in purely logical terms, I dont see why 1. does not work here

[2017-07-19 13:24] toobaz opened #17024 ".loc with partial key flattens MultiIndex on index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
From https://github.com/pandas-dev/pandas/pull/16599#discussion_r125676437

In general, scalar labels are accepted as valid keys for ``MultiIndex``es and automatically transformed to ``(key, '')``. Compare to
[code]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS

[2017-07-19 13:53] gliptak commented on #17001
```pandas.Series.plot()``` offers an abstraction over ```matplotlib``` (with different parameters). Could the default be changed (instead of explaining why it looks that way in the documentation)? Thanks

[2017-07-19 14:21] toobaz opened #17026 "Unintended cast to float when adding row with multiindex"
I would have expected this to be already reported but couldn't find anything, sorry in advance if I missed it.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Casting to float wasn't expected nor required. By the way: ``df.loc(axis=0)[('c', 'd')] = [5,6]`` behaves the same (so it is not a matter of the "total" slice not being identified as such).

#### Expe

[2017-07-19 14:44] chris-b1 opened #17027 "DOC: section on caveats of storing lists inside DataFrame/Series"
xref to a lot of issues, for example #16864

I think we could use a doc section stating storing nested lists/arrays inside a pandas object is preferred to be avoided, showing the downsides (perf, memory use) and a worked out example of an alternative.  This seems to be earned knowledge that many have, but not sure we do a good job stating it clearly.

Closely related, might also benefit from a lit

[2017-07-19 14:56] gfyoung commented on #17012
Okay, very well then.  I will close this for now, and if the problem rears its head again, feel free to ping this conversation again.  Thanks!

[2017-07-19 14:56] #17012 closed

[2017-07-19 15:12] humford commented on #11515
@jreback I know its been months but would it still be worthwhile to make a PR for this? If not its probably a good idea to close this for good.

[2017-07-19 15:16] gfyoung commented on #17014
@randomgambit : What indices do you get from each call (i.e. compare what is being passed in-between the outermost brackets)?

[2017-07-19 15:18] gfyoung commented on #17001
@gliptak : API changes are generally a little trickier to do because people may be relying on our current defaults.  That being said, feel free to put together with the proposed changes.  Documentation improvements at the very least would be great here.

[2017-07-19 15:23] randomgambit commented on #17014
@gfyoung

[code]

[2017-07-19 15:27] gfyoung commented on #17014
And in your first example, what does the index look like?  The `DataFrame` in your two examples are not the same because one had its index reset (second example) but not the other (first example).

[2017-07-19 15:31] randomgambit commented on #17014
@gfyoung I am sorry I dont understand what you want me to do here. I get that they are not the same, but I dont see why `dataframe.loc[(dataframe.reset_index()['time'] == pd.to_datetime('2016-06-06')) & (dataframe['group'] == 'A')]` does not work

`(dataframe.reset_index()['time'] == pd.to_datetime('2016-06-06'))` is simply a boolean test

[2017-07-19 15:35] gfyoung commented on #17014
Right, but you get a `Series` returned from that boolean test.  The indices in that `Series` won't match those of the `dataframe`.

[2017-07-19 15:36] gfyoung commented on #17009
Closing as I can't reproduce the issue.  Please ping this issue again, if it rears its head again.  Thanks!

[2017-07-19 15:36] #17009 closed

[2017-07-19 15:41] chris-b1 commented on #17022
In prepping the data to write, it looks like we take a copy, so at least 2x the frame size is needed in memory.  _Might_ be a way to avoid that and/or write the data in chunks, would definitely welcome any improvements if you want to have a look.
https://github.com/pandas-dev/pandas/blob/dd1852d59e51e28c2f9b589eefa1916ef5d9bdc9/pandas/io/stata.py#L2086

cc @bashtage

[2017-07-19 15:57] gfyoung commented on #17026
@toobaz : Yep, something looks amiss there.  PR is welcome!

[2017-07-19 15:57] jreback commented on #11515
with has been removed in favor of max_columns

i think there is an open or about this actually

[2017-07-19 15:57] jreback commented on #11515
PR

[2017-07-19 15:58] gfyoung commented on #17024
@toobaz : Agreed, that behavior doesn't look right.  PR is welcome!

[2017-07-19 16:29] toobaz opened #17029 "Asymmetric behavior between index and columns when getting incomplete label"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Maybe the "fill an incomplete key with empty string(s)" rule is not implemented at all for rows? (also in light of #17024 ) If this the case, then I think it should be.

#### Expected Output

The same as ``Out[4]``.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit:

[2017-07-19 16:38] randomgambit commented on #17014
@gfyoung got it, that works

`dataframe.loc[(dataframe.reset_index()['time'] == pd.to_datetime('2016-06-06')).tolist() & (dataframe['group'] == 'A')]`

[2017-07-19 16:41] humford commented on #11515
@jreback yeah it seems like this https://github.com/pandas-dev/pandas/pull/17023 covers it. In that case this issue can probably be closed for good.

[2017-07-19 16:42] gfyoung commented on #17029
@toobaz : I think this makes sense to me.  Why would you expect the shape to be same if you transposed?

[2017-07-19 16:44] gfyoung commented on #17014
Awesome!  Glad we could resolve that.  Feel free to post a PR to wrap the functionality you shared above so that we don't have to write this out again :smile:

[2017-07-19 16:58] #11515 closed

[2017-07-19 17:03] bashtage commented on #17022
IMO there are too many places where data format changes are needed to remove this copy operation.  This isn't really a `to_stata` problem so much as a data set is too big for the memory on the machine being used.

[2017-07-19 17:12] jeffknupp commented on #16798
I have a patch for this that I'll be sending a PR for in momentarily. Re `int64_t` vs `size_t`, isn't the platform-specificity a positive property? If I'm on a 32-bit machine, I wouldn't want pandas assuming it can create byte arrays with more elements than I can address (in that case the "out of memory" message would be triggered as expected and, after this patch, just not coredump)?

[2017-07-19 17:19] wesm commented on #16798
In my experience it's better to stick with platform independent types exclusively if you can -- see Google's C++ guidelines for some discussion of this https://google.github.io/styleguide/cppguide.html#Integer_Types

I find it reduces the amount of platform specific code that leaks into your application. If you need to convert from `int64_t` to `int32_t`, then you should static cast, but it may be

[2017-07-19 17:23] jeffknupp commented on #16798
Yes, but from the Google style guide:

[2017-07-19 20:50] chris-b1 commented on #17029
@toobaz - agree with your diagnosis this is most likely due to empty-string level dropping magic, xref #11424.  Probably could be made consistent.

[2017-07-19 21:38] gfyoung commented on #17029
@chris-b1 : Judging from your response, I'm labeling this as an API issue.  I'm not sure I follow the expected out description by @toobaz .  Could you explain?

[2017-07-19 21:48] chris-b1 commented on #17029
Sure, our basic behavior is that indexing operations that are "slice-like" (e.g. selecting an entire level) on a `MultiIndex` return back a `DataFrame`.  Couple examples:
[code]

But, as an undocumented "convenience" feature (linked issue), if the selection is on the columns, and all deeper levels are labeled with empty strings, the selection collapses into a `Series` - this collapsing doesn't hap

[2017-07-19 21:50] gfyoung commented on #17029
@chris-b1 : Awesome!  That definitely explained it and then some.  I think I got confused by the description of the expected output.  The expected shape is just the dimensions reversed (it's a transposition).

[2017-07-19 22:03] gfyoung commented on #17019
@skynss : Why can't we just set the header ourselves if that's the problem?  It seems like your code in the example could address that.

[2017-07-19 22:31] skynss commented on #17019
@gfyoung I recommend not fixing it for now because
1. I observed this issue only on this hosting. Maybe it is simply isolated issue. I logged the issue to see if other's are "mee too"
2. For ports other than 80 and 443, curl/firefox/requests all send out "<fqdn>:<port>" so there is no reason why explicitly specifying port as urllib does by adhering to HTTP RFC is not handled by `apex` server.

[2017-07-19 22:34] gfyoung commented on #17019
@skynss : Fair enough.  We still have to merge your original PR for user-auth in the first place :smile:

[2017-07-20 05:05] cwwalter commented on #7632
I am also still seeing this in 0.20.1. Is this expected behavior?

[2017-07-20 05:38] Khris777 commented on #17012
Okay, I will. Maybe I'll find more clues myself.

[2017-07-20 05:39] anotherbugmaster opened #17031 "chunksize and iterator arguments for jsonlines reader"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have a jsonlines file which is too large to fit in my computer's RAM. It would be nice if this file could be transformed to iterator to solve my problem.

#### Expected Output

Something like that:

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
pyt

[2017-07-20 06:20] aplavin opened #17032 "Groupby inconsistency with categorical values"
#### Code Sample

[code]
#### Problem description

I'm using categorical columns to save memory and possibly improve performance when having lots of strings, and would expect grouping by them to behave the same whether the string column is left as-is or converted to category. If that's expected behavior for categorical groupby to keep empty groups, is it possible to at least provide a boolean para

[2017-07-20 06:49] gfyoung commented on #17031
@anotherbugmaster : Yep, by all means we need to standardize the IO interface.  We have this pretty well-implemented in `read_csv` for the C engine.  PR is welcome to add it to JSON!

[2017-07-20 06:56] gfyoung commented on #17032
@aplavin : We've had this issue before with `crosstab` (xref #16367), and in that discussion, we seemed to be going with keeping all categories in the count.  Thus, I would consider the output expected in light of that discussion.

I'm a little wary about adding a parameter to `.size()` because it doesn't make much sense outside of the context of categorical.  We want the interface to be as unifor

[2017-07-20 06:59] aplavin commented on #17032
@gfyoung I'm not talking about adding a parameter to `.size()`, but to `.groupby()` so that it apply to all further operations. `size` was just an example.

[2017-07-20 07:06] gfyoung commented on #17032
I see, though outside of categorical, what would this parameter mean?  I would still be wary of adding another parameter and functionality just because of how special-cased it is in the context of `groupby`.

[2017-07-20 07:20] toobaz commented on #17029
My example was maybe a bit cryptic, sorry. The thing is that a shape ``(1,2)`` when transposed gives ``(2,1)``, not ``(2,)``.

[2017-07-20 07:32] toobaz commented on #17032
xref https://github.com/pandas-dev/pandas/issues/8559#issuecomment-59442278

Rather than changing some general purpose method(s) such as ``size()`` and ``groupby()``, maybe we could decide to solve this with a handy ``drop_empty()`` method for categoricals?

[2017-07-20 07:43] aplavin commented on #17032
@toobaz if I understand you correctly, then it probably won't work in general. Suppose there is column `a` with values `1` and `2`, and column `b` with values `3` and `4`, but the only occuring combinations are `1,3` and `2,4`. Then if we group by both of them (as categorical) I would expect to have two groups (`1,3` and `2,4`), and not all four.

[2017-07-20 08:11] gfyoung commented on #17032
I think in light of @toobaz 's reference, I think it brings up a larger question of how we want to handle counting of `Categorical` groups that have no presence?

It might be worthwhile to create one umbrella issue that addresses this API standpoint and close the duplicates, as this issue seems to have crept up on several occasions.

@jreback : what do you think?

[2017-07-20 08:18] toobaz commented on #17032
Yes, you understood me correctly... and yes, you're right...

[2017-07-20 08:29] gfyoung commented on #2570
@jreback : I'd thought I revisit this given our recent discussion on `.infer_objects`.  I can imagine just adding a `coerce_dtype` parameter to the signature that would replace failed converted objects `nan` (or the equivalent for other dtypes).

That being said, I'm concerned about adding more bloat to an already massive signature.   Do you still think that implementing this internally (compared

[2017-07-20 10:53] capelastegui opened #17033 "BUG: Series.fillna() crashes on Categorical series if value is a series"
#### Code Sample

[code]
#### Problem description
Pandas.Series.fillna can take a scalar, dict, Series or DataFrame as value. The fillna() method for categorical only takes scalars as value, but it doesn't provide a clear error message when an unsupported input type, such as Series, is provided.

Calling Categorical.fillna() with value=series crashes with a cryptic error message:
[code]

#### Expe

[2017-07-20 11:07] toobaz opened #17035 "cast to float when using ``groupby.agg`` with function returning ``int`` on ``float`` input"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The result of ``len`` should be ``int``, regardless of the input. This is not specific to ``len``: ``lambda x : 3`` results in the same.

#### Expected Output

Compare to

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: 9e7666dae3b3b10d987ce154a51c78bcee6e0

[2017-07-20 11:13] jreback commented on #17035
pls search for th duplicate issue of this

[2017-07-20 11:13] raffam opened #17036 "Pandas can't read its own csv files"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Pandas is not able to read its own CSV file. That can't be good

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 94 Stepping

[2017-07-20 12:27] jreback commented on #17036
[code]

[code]

you might need to set your locale (its none), see https://stackoverflow.com/questions/31469707/changing-the-locale-preferred-encoding-in-python-3-in-windows?rq=1

[2017-07-20 12:27] #17036 closed

[2017-07-20 12:31] jreback commented on #11635
covered / dupe by #8559

[2017-07-20 12:31] #11635 closed

[2017-07-20 12:32] jreback commented on #17032
see much discussion https://github.com/pandas-dev/pandas/issues/8559

closing as a duplicate.

[2017-07-20 12:32] #17032 closed

[2017-07-20 12:57] cchwala opened #17037 "BUG: `to_timedelta` overflows without raising in some very particular cases"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

[Here is a more detailed notebook showing the problem](https://gist.github.com/cchwala/7189654275c642f2f257dd1f1523e31d)

#### Problem description

If you pass floating points values close to the edge of overflow to `to_timedelta` it might return an incorrect `Timedelta` instead of raising an `OverflowError`.

#### Out

[2017-07-20 13:11] toobaz commented on #17035
Here are similar issues I found:
- #7001 and (at least judging from your [suggestion](https://github.com/pandas-dev/pandas/issues/14873#issuecomment-286512473)) #14873 are specific to booleans
- #14423 applies to ``apply``, which in my case works fine
- #14849 applies to ``datetime``

The fix might actually the same. As far as I understand, the key lies in your [sentence](https://github.com/pandas

[2017-07-20 13:19] chris-b1 opened #17038 "BUG/API: pivot_table with multi-index columns only"
#### Code Sample, a copy-pastable example if possible

[code]
#### Expected Output
No error, symmetrical between rows/columns and single/multi case

#### Output of ``pd.show_versions()``
`pandas 0.20.2`

[2017-07-20 13:27] chris-b1 commented on #17038
This did sort of work in previous versions - arguably returning the wrong shape, but didn't error.

[code]

[2017-07-20 13:27] jreback commented on #17035
``np.array`` doesn't do anything. the issue is that we have a computation that works on floats. you *may* have integers as a result, so you *can* try to downcast (IOW and they are equal and no nans), and that is what we do.

for the particular case of ``len``, this could simply be intercepted and treated as ``.size()`` (we DO this generally, but maybe not for ``len``, I think we do it for builtin

[2017-07-20 13:32] toobaz commented on #17035
My point was that the result of ``len`` is an ``int``, and should _never_ become a float, so there should be no need to downcast (the fact that input data was ``float`` should be irrelevant). But I will probably just need to look at the code to understand what you mean.

[2017-07-20 15:17] gfyoung commented on #17033
@capelastegui : I agree that at the very least the error message can be improved.  I also don't see why we shouldn't support `Series` or `DataFrame` as inputs.

Thus, a PR to improve the error message is welcome!  However, feel free to also dive into how we could support those two classes as inputs and submit a PR to add that functionality.

[2017-07-20 15:22] adshieh opened #17039 "Selection by labels with non-transitive equality"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Selection by labels with non-transitive equality has inconsistent behavior with duplicate labels. I would expect duplicate labels to be selected in all cases.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.6.final.0

[2017-07-20 15:23] gfyoung commented on #17037
@cchwala : Weird...I'm inclined to believe there is some machine rounding issues going on, but this certainly merits further investigation.  If you can pinpoint the cause, feel free to share and / or submit a PR to patch this!

[2017-07-20 15:30] gfyoung commented on #17039
Admittedly, this is an unusual use case.  That being said, your point about selecting duplicate labels despite the non-transitivity makes sense.  A PR is welcome to patch this!

[2017-07-20 16:12] kcarnold commented on #8955
This is still a bug (v0.20.3), though interestingly the Series now works correctly for np.mean (which crashed for the OP) and crashes for pd.Series.mean.

#9941 was a similar issue that got fixed recently.

[2017-07-20 16:15] gfyoung commented on #8955
@kcarnold : Interesting...is the stack-trace the same as before?

BTW, given what you said, we should probably add tests to confirm your first statement, though a PR to patch the still crashing behavior is still welcome!

[2017-07-20 16:18] gfyoung commented on #8955
@jreback : Well, you have your consistency now it seems.  They work with `numpy`, but they fail with the `pandas`-defined aggregate functions.

[2017-07-20 17:52] adshieh commented on #17039
I narrowed down the issue to the ObjectEngine in the Index not checking for duplicate labels because the values are unique by `a1 != a2`.

If I create an Index with non-unique values, then the selection of duplicate labels works as expected.
[code]

[2017-07-20 17:56] gfyoung commented on #17039
Interesting...can you share here the location of the code you're talking about (i.e. the specific logic that you found was causing the issue) ?

[2017-07-20 18:03] adshieh commented on #17039
This [line](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/index.pyx#L148) checks for uniqueness to select duplicate labels, or proceeds to the hash table.

[2017-07-20 18:10] gfyoung commented on #17039
Awesome.  I understand why the code does what it does, and although I agree that for "correctness," it should check for all possible matches to the key, I'm wary of the performance impact if we were to simply just call `_get_loc_duplicates` every time just to account for a special case as yours.

@jreback : your thoughts?

Out of curiosity, what was the use-case behind this example?

[2017-07-20 19:00] jeffknupp commented on #16798
Created PR #17040. I stuck with `size_t` based on the comment above and didn't want to delay pushing the PR before getting a final verdict (can be easily changed if necessary).

[2017-07-20 19:04] adshieh commented on #17039
I don't see an easy fix either, since there's no way for the Index to know that its values will be compared to an object that makes them non-unique. My use case is storing the nodes of a computation graph in the columns of a DataFrame to associate them with the arrays of values they compute. I want the nodes to compare to each other based on metadata about the computations they perform, but I also

[2017-07-20 19:14] ericbhanson opened #17041 "pivot_table not displaying values columns in expected order"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When creating the dataframe, Fees column comes first (it's from an external data set), while Total Net comes second (it's calculated). I reordered them using reindex_axis and when asking Python to show the dataframe, I get the expected order. However, when creating a pivot table, Fees always comes first, no matt

[2017-07-20 19:30] cwwalter commented on #7632
In case anyone finds this in the future like I did, the answer is the following:

[code]

does not replacing the index with 'C' (which is what you want to join on).  You can accomplish what you want with either:

[code]

or

[code]

Note that the 'C' column disappears since you are joining them.  However, It is still not obvious to me why the index winds up as [0, 1, 1, 1] in the first case in thi

[2017-07-20 19:50] gfyoung commented on #17039
I see.  So you're really trying to index based on an attribute of these nodes rather than the nodes themselves.  That's a little different from what current indexing does and would therefore be an enhancement (potentially) on what we currently do.

Actually, it occurs to me that maybe this wouldn't be so complicated.  Perhaps we could just pass in a `lambda` function to `get_loc` i.e.:

[code]

[2017-07-20 19:54] gfyoung commented on #17041
@ericbhanson : Thanks for the issue!  For easier evaluation, could you provide (in `DataFrame` form) the current and expected output from the code?

[2017-07-20 20:00] gfyoung commented on #7632
True, I'm a little perplexed by that myself.  Re-opening in case anyone wants to tackle.

[2017-07-20 20:01] ericbhanson commented on #17041
@gfyoung happy to - are you looking for a simple copy and paste of what I'm seeing in Jupyter versus what I'm expecting to see?

[2017-07-20 20:04] gfyoung commented on #17041
Yes, that would work (also the code to construct your expected output would be good too)

[2017-07-20 20:13] adshieh commented on #17039
Support for lambda functions would eliminate the need to make the nodes compare to strings at all.
[code]
It would be easy to select multiple columns in a DataFrame too.
[code]

[2017-07-20 20:26] ericbhanson commented on #17041
@gfyoung

Turns out to be a little more difficult than I expected 😄. Since Git doesn't do pivot tables, and the data is sensitive information, I took a screen shot of the top of the pivot table.

<img width="656" alt="screen shot 2017-07-20 at 4 16 46 pm" src="https://user-images.githubusercontent.com/7453426/28436967-e3670eda-6d66-11e7-9753-549fbe519be1.png">

Here's the code, with the source of

[2017-07-20 21:37] gfyoung commented on #17041
@ericbhanson : That definitely helps!  Thanks for doing this, especially given the sensitive nature of the data (which is actually not even necessary here).

Could you put pictures of what is currently output and what you expected in your original issue description?  That would be useful for anyone who just want to get an idea of what's going on.

BTW, feel free to also contribute a PR to patch th

[2017-07-20 21:39] gfyoung commented on #17039
I'm not sure I follow you here.

In any case, the implementation of the callable would be the responsibility of the user.

[2017-07-20 21:55] adshieh commented on #17039
It wouldn't be possible to select columns of a DataFrame with a callable through `df.__getitem__` or `df.loc` in the same way as an Index through `idx.get_loc`, since `x` in `df[lambda x: x.key == 'a']` would refer to `df` rather than an element of `df.columns`.

[2017-07-20 22:02] gfyoung commented on #17039
True, but you can pre-select with `df.columns`.

[2017-07-20 23:28] jbrockmendel commented on #2485
I've been working on an implementation of this that handles the propagation problem by making the Metadata object itself subclass Series.  Then patch Series to relay methods to Metadata.  Roughly:

[code]

So it is up to the individual MetaDatum classes to figure out how to propagate.

I've generally got this working.  The part that I have not gotten working is the desired `MFrame` behavior `df.me

[2017-07-21 04:18] jbrockmendel commented on #16981
Parking some more observations.

Profiling the test suite (more specifically, running `pd.test()` with a `cProfile.Profile` enabled), `isinstance` calls took about 10% of the total runtime.

Recall `__isinstancecheck__` is here defined as:
[code]

Some attempts to speed this up that _didn't_ work:

- Make `comp` a  set instead of a list.
- In many cases `comp` is a singleton.  In those cases, have

[2017-07-21 08:59] albertvillanova opened #17044 "Type casting after merge"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I merge 2 DataFrames on a column (`id`) which is of type float in one of the DataFrames and of type int in the other DataFrame, the resulting DataFrame column is of type Object. Why? I guess the resulting DataFrame should keep the float type.

#### Expected Output
[code]
Indeed, this was the behavior for p

[2017-07-21 10:22] jreback commented on #17044
This is as expected. We don't cast keys on divergent types for the keys. I suppose you could try to cast this upfront and make them both floats. So if you wanted to do a PR would be ok.

[2017-07-21 10:24] jreback commented on #17041
I am not at all clear what is going on. this needs a code reproducible example.

[2017-07-21 10:25] jreback commented on #17039
this is not supported, you are violating hashing-equality constraints. Using custom things which are not strings in an Index is non-performant, opaque and non-idiomatic.

We already support callables in the cond generation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#selection-by-callable

[2017-07-21 10:25] #17039 closed

[2017-07-21 10:38] #17005 closed

[2017-07-21 10:51] #16900 closed

[2017-07-21 11:01] #16889 closed

[2017-07-21 11:05] #14001 closed

[2017-07-21 11:05] #16402 closed

[2017-07-21 13:21] jreback opened #17046 "TST: tests comparison on numpy master"
https://travis-ci.org/pandas-dev/pandas/jobs/256013691

this was working a few builds ago. I think maybe some random sorting details, IOW how exactly argsort works can make this fail with either '>' or '<'. so ok with changing test to accept either.

[code]

[2017-07-21 14:30] ericbhanson commented on #17041
@jreback in the screen shot I enclosed above, do you see how the column marked Fees is displayed before the column marked Total Net? This is the opposite order of what I would expect, given that I listed Total Net first in my list of values when creating the pivot table.

I can see if I can reproduce with a more generic dataset so I can include a complete code example, but please let me know if wh

[2017-07-21 14:35] jreback commented on #17041
@ericbhanson screen shots are not very useful.  it makes it impossible to even look at what you are doing. pls post a copy-pastable minimal example.

[2017-07-21 14:59] HugoDLopes opened #17047 "pandas cut() not working as expected in version 0.20.3"
#### Code Sample

[code]
#### Problem description
It was expected that the lower boundary would be [0, 5] (for the first three instances). However, a value of -0.001 was "invented" (?). It worked in version 0.19.2 (with the output shown in Expected Output). Is there any bug? Is there anything I have to specify to make it work again as before?

#### Expected Output

[code]

#### Output of ``pd.show

[2017-07-21 15:10] ericbhanson commented on #17041
@jreback A dummy CSV data file that closely replicates my original data source and works with the code below can be found here: https://drive.google.com/open?id=0B5QZk8ir7q-yTEJVOGdPeWtyZ1U

The code I'm using:

[code]

[2017-07-21 15:21] louispotok opened #17048 "read_json with lines=True not using buff/cache memory"
I have a 3.2 GB json file that I am trying to read into pandas using pd.read_json(lines=True). When I run that, I get a MemoryError, even though my system has >12GB of available memory. This is Pandas version 0.20.2.

I'm on Ubuntu, and the `free` command shows >12GB of "Available" memory, most of which is "buff/cache".

I'm able to read the file into a dataframe by iterating over the file like so

[2017-07-21 16:19] gfyoung commented on #17047
@HugoDLopes : For reference, could you share with us the output you get when `include_lowest=False` ?

[2017-07-21 16:26] gfyoung commented on #17047
Good news: there aren't too many commits to this file since its inception (or refactoring by @jreback ).  Your culprit appears to be #16466 .  cc @economy

[2017-07-21 16:31] gfyoung commented on #17048
@louispotok : that behavior does sound buggy to me, but before I label it as such, could you provide a minimal reproducible example for us?

[2017-07-21 16:46] nirvana-msu commented on #11312
+1, would be nice if this worked out of the box

[2017-07-21 16:48] gfyoung commented on #11312
@nirvana-msu : PR is welcome if you would like to contribute!

[2017-07-21 17:45] HugoDLopes commented on #17047
Output with `include_lowest=False`:

[code]

[2017-07-21 18:20] raffam commented on #4517
Is there any update on this?
`xls` does not support more than 255 columns, while saving in `xlsx` in pandas is **really** slow
I tried using pyexcelerate, but that requires to copy the entire pandas DataFrame to a multi-dimension list in memory
Is there any plan to support `pyexcelerate` natively, for example?

[2017-07-21 18:26] louispotok commented on #17048
Happy to, but what exactly would constitute an example here? I can provide an example json file, but how would you suggest I reproduce the memory capacity and allocation on my machine?

[2017-07-21 18:33] ysau commented on #17046
I am new to the project, and I am interested in helping.  If I understood the problem, the test is trying to compare an int and an str.  Is this behavior well-defined or under-defined in previous builds where the test ran without errors?  I wonder if it is due to new implementation of error-checking.
 Please let me know if there is something I can help.

[2017-07-21 19:32] gfyoung commented on #17047
Okay, so at least these results make sense.  If you would like to investigate what happened with #16466 and see what we need to change to patch the bug, go for it!

[2017-07-21 19:45] gfyoung commented on #4517
Unfortunately, no AFAIK :cry:

Judging from the comment from @jreback , we would certainly be happy with supporting it, but the PR needs to be done right for it to be incorporated.  If you would like to jumpstart that effort, go for it!

[2017-07-21 19:46] gfyoung commented on #17048
Just provide the smallest possible JSON file that causes this `MemoryError` to occur.

[2017-07-21 19:51] gfyoung commented on #17046
@ysau : Awesome!  Thanks for taking this issue up.  The problem that @jreback is raising is that the error message we're checking for is not correct (probably a flakey test).

Thus, all you would need to do is go in and change the expected error message in that test (`TestMixedIntIndex.test_argsort`) in `pandas.tests.indexes.test_base.py` to something that would account for both us seeing '>' and

[2017-07-21 21:18] staftermath opened #17049 "rolling with `datetimeIndex` is not selecting anything when the row value is NaN itself"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
the above generates
[code]
when use `datetimeIndex`, if a row has `NaN` value it is not fed to input of `apply` when creating output for that row. To illustrate this, I use:
[code]
and got printed value:
[code]
the second row is skipped.
This issue doesn't not exist when integer index is used:
[code]
print the f

[2017-07-21 21:35] gfyoung commented on #17049
@staftermath : That does look a little strange.  Investigation and PR to patch are welcome!

[2017-07-21 22:31] ysau commented on #17046
@gfyoung : I am looking at the documentation linked from your post.  Thanks for offering guidance!

[2017-07-21 23:13] ysau commented on #17046
I have noticed in TestMixedIntIndex.test_numpy_argsort in the same file, a similar assert message, "'>' not supported" is used.  I think should be updated as well.  Do you agree?

[2017-07-21 23:25] #16928 closed

[2017-07-21 23:35] jreback commented on #17046
it might be simpler to use "'(<|>)' is not supported" (though may have to deal with the proper escapes.

[2017-07-21 23:36] ysau commented on #17046
I have submitted a pull request for changes in both places.  Please let me know if I have made an error in the process.  Thanks!

[2017-07-21 23:41] jreback commented on #17049
duplicate of this: https://github.com/pandas-dev/pandas/issues/15305

fixes are welcome.

[2017-07-21 23:41] #17049 closed

[2017-07-21 23:48] jreback commented on #17048
The ``lines=True`` impl  is currently not designed this way. If you subsittue your soln into the current impl does it pass the test suite?

[2017-07-21 23:48] jreback commented on #17048
cc @aterrel

[2017-07-21 23:50] jreback commented on #17047
duplicate of this: https://github.com/pandas-dev/pandas/issues/16276

pls read the discussion and comment if you would like. This was a purposeful change.

[2017-07-21 23:50] #17047 closed

[2017-07-21 23:52] jreback commented on #17041
@ericbhanson pls make a *much* simpler example.all of the things before ``pivot_table`` are not relevant. simply construct a sample (short) frame.

[2017-07-21 23:52] jreback commented on #16981
closing but its searchable

[2017-07-21 23:52] #16981 closed

[2017-07-21 23:58] jreback commented on #17033
I suppose this could work.

[2017-07-22 01:29] gfyoung commented on #16276
Closing since this was just a usage question.

[2017-07-22 01:29] #16276 closed

[2017-07-22 01:31] gfyoung commented on #17033
@jreback : I think at the every least we could improve the error message.  We can address the actual behavior in a subsequent PR if necessary.  How does that sound?

[2017-07-22 03:56] jbrockmendel opened #17052 "Typo in _libs.src.properties?"
https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/properties.pyx#L1

[code]

Looks like `PyDict_SetItem` is used in the file but never defined.  No idea why cython isn't complaining about that.

[2017-07-22 04:10] jreback commented on #17052
see https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx

this is an include file to lib.pyx

[2017-07-22 04:10] #17052 closed

[2017-07-22 04:58] #17046 closed

[2017-07-22 11:08] scls19fr commented on #16953
Plotting `datetime64` on y-axis is also an issue.

[code]

see

[code]

[2017-07-22 11:29] raffam commented on #4517
I wouldn't even know where to start :(

[2017-07-22 14:03] jreback commented on #2570
if u can find a way to fit this in with the existing dtype option would be preferable

maybe

dtype = {'foo' : (float, 'coerce')}

or we introduce a helper function

dtype = {'foo' : parser.coerce(float)}

where coerce just returns an instance

[2017-07-22 18:59] gfyoung commented on #4517
Personaly, I faced an error with a empty value in a datetime column and had to manualy fix that.

[2017-07-22 19:00] #16112 closed

[2017-07-22 19:00] gfyoung commented on #4517
I'll re-open for now, just so that people know we have this on our radar.

[2017-07-22 19:03] gfyoung commented on #4517
For us to avoid the in-memory issue, you would need to be able to write with `pyexcerlate` in chunks.  As your Excel code is larglely in Python, it would be otherwise difficult to avoid that problem.

[2017-07-22 19:44] staftermath commented on #15305
The above link is broken.
see [https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/window.pyx#L1412](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/window.pyx#L1412)

[2017-07-22 20:40] rosnfeld commented on #15303
Taking a look at this: if the date is `'2017-01-23 12:34:56'`, what should `floor` and `ceil` return for a frequency like `'M'` (`MonthEnd`)? If you're doing `.dt.to_period('M').dt.to_timestamp()`, then you get `'2017-01-01'` - but that's not a `MonthEnd` value. Similarly if you took the `end_time` of that period, you'd get `'2017-01-31 23:59:59.999999999'`, also not a `MonthEnd`. I think you actu

[2017-07-22 20:43] ChadFulton opened #17053 "BUG: Period with nanoseconds (?)"
#### Code Sample, a copy-pastable example if possible

[code]

This results in:

[code]
#### Problem description

From my reading of the docs, it appears that Period objects should accept nanosecond input, and they appear to support it, above, using `Timedelta`s.

The problem is that it appears to truncate the input strings.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<de

[2017-07-22 23:35] jowens opened #17054 "ENH: read_html to handle rowspan, colspan"
#### Code Sample, a copy-pastable example if possible

[code]

This has complex table headings:

<img width="967" alt="annual_statistical_supplement__2015_-_beneficiary_families_with_oasdi_benefits_in_current-payment_status__5_h_" src="https://user-images.githubusercontent.com/976970/28495218-7db85530-6efb-11e7-9f64-8b56a61509d4.png">

`read_html` output begins with:

[code]

(row 0 of the output

[2017-07-23 01:34] ericbhanson commented on #17041
@jreback to avoid further back and forth, please let me know specifically what you need to see in the data frame in order to validate the existence of the bug.

[2017-07-23 12:22] jzwinck opened #17056 "DOC: read_fwf() is documented as supporting `delimiter`, but doesn't"
The docstring and online manual for `read_fwf()` say:

But in fact, `sep` does nothing in this function, while `delimiter` has some effect, though perhaps not intentional:

    import io
    import pandas as pd

    pd.read_fwf(io.StringIO('foo,bar\n1,2'),delimiter=',')
    pd.read_fwf(io.StringIO('foo,bar\n1,2'),sep=',')

Both are nonsensical and should really produce an error, but they actually

[2017-07-23 12:48] jreback commented on #17056
already clarified by https://github.com/pandas-dev/pandas/pull/16950

[2017-07-23 12:48] #17056 closed

[2017-07-23 14:31] chris-b1 commented on #17054
Thanks for the detailed issue!  I think handling `rowspan` and `colspan` correctly would be a welcome enhancement, agree it could basically work like Excel, either tuple-izing or creating a `MultiIndex`.  Appreciate a PR if you're interested.

duplicate of #14267, but I'll close that one.

[2017-07-23 14:31] chris-b1 commented on #14267
closing in favor of #17054

[2017-07-23 14:31] #14267 closed

[2017-07-23 14:42] chris-b1 commented on #17053
Honestly not sure if a nanosecond `Period` is really supported, but if it's not, this should raise, so buggy either way.

For what it's worth our `Timestamp` is essentially equivalent to a nanosecond `Period` so may be a reasonable substitute depending on your use-case.

[2017-07-23 14:57] ChadFulton commented on #17053
It's not a big problem; I'm just trying to fix an issue in statsmodels when users specify indexes that run up against the min or max `Timestamp` values and write some unit tests. We try to delegate all the date / time handing to Pandas operations, so I was just hoping to understand when I could use `PeriodIndex`es to get around the `Timestamp` limitations.

[2017-07-23 16:28] #16798 closed

[2017-07-23 16:55] jreback opened #17058 "TST: warning on non-existant s3 file"
https://github.com/pandas-dev/pandas/pull/17057 fixes all but this warning. I guess something is not getting closed in ``s3fs``.

[code]

This is doing this internally.
[code]

[2017-07-23 16:55] jreback commented on #17058
cc @TomAugspurger @martindurant

[2017-07-23 16:59] jowens commented on #17054
@chris-b1 my last effort to provide a PR was pretty much a debacle, so I'm probably not your guy. That being said, since this does seem to be a topic of interest, a little guidance as to how it could be done would help either me or anyone else provide a PR (e.g.: "should probably start with this function"). I don't actually know if this is something that should be "fixed" in pandas or through pand

[2017-07-23 17:34] martindurant commented on #17058
https://github.com/boto/boto3/issues/454 unresolved bug

[2017-07-23 17:41] chris-b1 commented on #17054
I haven't done anything with the `read_html` code, but my understanding is it works like excel, with 3 overall steps:

1. Read from external data source w/ third party package
2. (Bulk of logic) Convert that data into a list-of-lists data structure representing the data rows
3. That list-of-lists is passed to [`TextParser`](https://github.com/pandas-dev/pandas/blob/8d7d3fb545b4273cf9d1a61bf7ea3bfd

[2017-07-23 17:42] jreback commented on #17058
thanks @martindurant ok, out of our hands then.

[2017-07-23 17:42] #17058 closed

[2017-07-23 22:01] jowens commented on #17054
FYI: All relevant logic appears to be in `io/html.py` in the function `_HtmlFrameParser:_parse_raw_thead`; it does not rely on the parser chosen.

[2017-07-23 22:50] jowens commented on #17054
... although there is no current capability for the parser to get attributes (e.g., `rowspan`, `colspan`) from elements, so that must be added. (There's currently a `text_getter` that returns a string; we need an analogous `attrs_getter` that returns a dict with keys=attributes, values=attribute_values.)

[2017-07-24 00:32] jowens commented on #17054
@chris-b1 would you mind eyeballing the following output for the 4 tables on this web page: https://www.ssa.gov/policy/docs/statcomps/supplement/2015/5h.html? This seems to me to be the right pieces to pass to `TextParser` (as long as I'm returning this from `_parse_raw_thread`, everything else ought to just work fine):

[code]

[2017-07-24 00:36] jowens commented on #17054
Here's the current output (from trunk).

[code]

[2017-07-24 01:40] chris-b1 commented on #17054
Yeah, at a quick glance that's looking good!

[2017-07-24 01:54] cpcloud opened #17059 "pandas.api.types.infer_dtype should be nan aware"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`infer_dtype` gives `mixed` as the inferred dtype when all values are of the same type modulo `NaN`s. I think we should change this to be `NaN` aware so that downstream tools can take advantage of this inference when operating on pandas objects.

#### Expected Output

Ideally,

[code]

#### Output of ``pd.show_

[2017-07-24 04:44] gfyoung commented on #17059
@cpcloud : I think we could add a `skipna` parameter (similar to what we do with functions `.max`, `.sum`).  We could initially default to `False` and then transition to default to `True`.

[2017-07-24 06:16] louispotok commented on #17048
@gfyoung I'm still not sure exactly what would be most helpful for you here.

I tried doing `head -n 10 path/to/file | testing.py`, where testing.py contains: `df = pd.read_json(sys.stdin, lines=True)`, and then varying how many lines to pass.

**Results:**
Every million lines is about .8 GB, according to `head -n 1000000 path/to/file | wc -c`. And I did these each a few times in varying orders, a

[2017-07-24 06:17] louispotok commented on #17048
@jreback I think your question was for me, but I don't know how to do what you described. Are there instructions you could point me to?

[2017-07-24 06:31] gfyoung commented on #17048
Yikes!  That's a pretty massive file.  That does certainly help us with regards to what we would need to do to reproduce this issue.

[2017-07-24 06:35] gfyoung commented on #17048
<a href="https://pandas.pydata.org/pandas-docs/stable/contributing.html">Here</a> is the documentation for making contributions to the repository.  Essentially @jreback is asking if you could somehow incorporate your workaround in your issue description into the implementation of `read_json`, which you can find in `pandas/io/json/json.py`.

A quick glance there indicates what might be the issue: w

[2017-07-24 06:47] jbrockmendel opened #17061 "Index/Series Convergence"
There has been some discussion in #8162 and [pandas2#17](https://github.com/pandas-dev/pandas2/issues/17) about making `Index` behave more like a regular Series or DataFrame column(s).  Is there a consensus towards moving in that direction?  In particular, I'm thinking about:

- `DatetimeIndex`, `PeriodIndex`, `TimedeltaIndex` could have a property `dt` that returns `self`.  Then users can access

[2017-07-24 06:52] Jostikas commented on #9340
To be clear, is the cookbook solution by denfromufa the current "best_for_many_cases" way to do this?

[2017-07-24 08:00] gfyoung commented on #16521
I'm going to close this, since I think there is sufficient discussion on this matter (at least for myself :smile:).  Can always revisit if need be.

[2017-07-24 09:38] verahan commented on #9958
How to compare result['a'][1] and result['c'][1] after outer merge? they should be equal.
    In [1]: testb = pd.DataFrame([{"a":2,"c":2}])
     ...: testa = pd.DataFrame([{"a":1,"b":2}])
     ...: result = pd.merge(testa, testb, on=["a"], how="outer")
     ...:

    In [2]: testa
    Out[2]:
       a  b
    0  1  2

    In [3]: testb
    Out[3]:
       a  c
    0  2  2

    In [4]: result
    Out

[2017-07-24 11:05] jreback opened #17063 "COMPAT: 32-builds segfault, xref #17040"
xref #17040

ok this is causing the 32-bit builds to segfault

https://travis-ci.org/MacPython/pandas-wheels/jobs/256710160

[2017-07-24 11:05] jreback commented on #17063
cc @jeffknupp
cc @gfyoung

[2017-07-24 11:15] jreback commented on #17061
I would rather add to the previous issues rather than creating a new one. Further there already is an issue w.r.t. ``.map/.apply``. see if you can link to it.

[2017-07-24 11:15] #17061 closed

[2017-07-24 11:46] jreback opened #17064 "BLD: pyarrow failures"
https://travis-ci.org/pandas-dev/pandas/builds/256753497

haven't looked at travis yet, but
[code]

[code]

[2017-07-24 11:52] #15858 closed

[2017-07-24 11:53] jreback commented on #17064
cc @wesm
cc @xhochy

[2017-07-24 12:24] bsolomon1 commented on #16911
Sorry I am late getting back to this @jreback.  I'm working in 0.20.3 and still seeing the same issue.  (See the second link ("messy output") in my initial comment.)  I do agree this is similar to [7059](https://github.com/pandas-dev/pandas/issues/7059) and that they are talking about the same bug , and I think either an elipsis in the middle, or at the end of, long col names would be a nice solut

[2017-07-24 13:02] jreback commented on #16911
why would you think this is fixed? this is an open issue.

[2017-07-24 13:10] orbitalz commented on #3441
I don't know how it is possible, however, it works for me

[code]

At the end, I got the excel file which have several work sheets.

[2017-07-24 14:24] xhochy commented on #17064
Yes, the conda packages for `pyarrow==0.5.0` needs to be uploaded. I'll take care of that

[2017-07-24 14:32] wesm commented on #17064
@jreback please make sure that the pyarrow version is pinned in the pandas build scripts, so it should be pinned at 0.4.1 until we're done updating the packages

[2017-07-24 15:32] gfyoung commented on #17064
@jreback : I would also add that there were some strange failures going on with `feather` on that build (see <a href='https://travis-ci.org/pandas-dev/pandas/jobs/256753500#L2511">here</a> for example).  Not sure why those were occurring either.

[2017-07-24 15:35] wesm commented on #17064
Feather depends on pyarrow now, so that's probably why

[2017-07-24 15:58] louispotok commented on #17048
Thanks! I added it for one of the possible input types. You can see it [here](https://github.com/louispotok/pandas/commit/fe1cfbd00a0795c40a4b725ea8e95aaa522705b4). It passes all the existing tests, and I'm now able to use it to load that file.

I think this is *much* slower than the previous implementation, and I don't know whether it can be extended to other input types. We could make it faster

[2017-07-24 16:01] gfyoung commented on #17048
I think it would make sense to add such a parameter.  We have it for `read_csv`.  Try adding that and let us know how that works!  This looks pretty good so far.

[2017-07-24 17:00] p-himik opened #17067 "reset_index can reset index name"
[code]

The root of the problem is in `pandas.core.common._default_index`:
[code]

Probably, a new optional argument `name` can be introduced to `_default_index` and used in `reset_index`.

[2017-07-24 17:01] jbrockmendel commented on #8162
Transplanting from #17061 on convergence in Index/Series behavior.

It would be nice to be able to access `foo.dt` without first having to check whether `foo` is an `Index` or `Series`.  This could be accomplished by having `DatetimeIndex`, `PeriodIndex`, and `TimedeltaIndex` have a property `dt` that just returns `self`.  If others agree, I'll put together a PR.  Thoughts?

[2017-07-24 17:03] jowens commented on #17054
@chris-b1 can I get some eyeballs on a test, either you or someone else who understands column indexes? My full test is below, but basically it looks like:

[code]

In `out`, I declare the `X` and `2` with 2-wide colspans and the `Z` with a 2-tall rowspan (and compare against `expected`, just duplicating those without colspans or rowspans).

What I can't decipher is the failed test message, the `I

[2017-07-24 17:06] gfyoung commented on #17067
@p-himik : Thanks for the issue!  Indeed this is a bug, for the documentation says the following:

"For a standard index, the index name will be used (if set), otherwise a default ‘index’ or ‘level_0’ (if ‘index’ is already taken) will be used."

Here's a similar bug that should also be pointed out:
[code]

The index name magically disappears like in your example (probably linked to the code you p

[2017-07-24 17:36] jowens commented on #17054
There is a larger structural problem with the code in that currently, the parsing is divided into three pieces—`parse_thead`, `parse_tbody`, and `parse_tfoot`, each of which has its own custom logic. My current code is focused in `parse_thead`, where I thought it would be most relevant. However, (a) rowspan and colspan certainly can appear in the body and foot and (b) Wikipedia tables don't have a

[2017-07-24 18:33] lucianoviola opened #17068 "Return percentage of Null values in pd.Series.isnull()"
#### Problem description
One thing I have to check a lot at my work is the percentage of null values in a DataFrame column.
What I end up doing is
[code]

I think it would be very convenient to have a parameter, like:

[code]

What do you guys think?

[2017-07-24 18:42] jowens commented on #17054
(For posterity: A lot of the reason that I see there's different pieces for head, body, and foot is basically for flexibility on HTML tables: there might or might not be a head or foot, the body might or might not be declared with `<tbody>`, etc. (For Wikipedia tables, no `<thead>` but rows with `<th>` and not `<td>` means we should probably interpret those rows as header rows.) But, there's no do

[2017-07-24 18:47] MaximilianR commented on #17068
Have you seen `df.info()`? That has some summary info (though not the %)

There should be a better way of describing the texture of your data than adding more kwargs there

[2017-07-24 18:57] lucianoviola commented on #17068
You are right about df.info(), but personally I find it a bit confusing. You have to keep checking the number of rows in your df and then compare it to the Null count. When there are many rows, it's hard to have a sense of proportion. Also, df.info() doesn't work with Series.

I find it useful to know which columns are above a certain threshold of missing values.

[2017-07-24 18:57] gfyoung commented on #17068
@MaximilianR : Even better, just use `df.describe()`.  The `count` row tells you how many non-null elements there are in each column.

[2017-07-24 19:02] gfyoung commented on #17068
@lucianoviola : I'm not very inclined at this point to add this functionality just be `isnull()` is about telling you which values are `null` and *not* how many are null.  In addition, I think `.describe()` takes care of that in large part.

I'll close the issue for the time being, but if you feel strongly about this, feel free to keep posting, and we can re-address.

[2017-07-24 19:02] #17068 closed

[2017-07-24 19:10] lucianoviola commented on #17068
@gfyoung no problem. Thank you!

[2017-07-24 19:11] gfyoung commented on #17068
@lucianoviola : Certainly!  I hope the code I provided above makes more sense for you to use!

[2017-07-24 21:06] gfyoung commented on #17064
#17065 addresses the build failure for the time being.  We will wait until the `pyarrow==0.5.0` issue gets resolved, after which we'll unpin the `pyarrow` version.

[2017-07-24 21:21] joseortiz3 opened #17070 "Multi-Index Dataframes do not cleanly support dimension-reducing arithmetic operations"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Since Panel became deprecated, I am having to do a _lot_ of multi-dimensional array arithmetic using multi-index DataFrames, but the multi-index does not support simple reductive arithmetic (any operation that should return a lower-dimensional answer), because all operations return the original index and colum

[2017-07-24 21:23] gfyoung commented on #17070
@jreback

[2017-07-24 22:35] jeffknupp commented on #17063
@jreback @gfyoung OK, was able to get a 32 bit VM going and reproduce and fix the crash (it _was_ the `size_t` after all, since `*cough*`that's what we should be using for these types because that's what `malloc()` expects `*cough*` we were passing the function that calls `malloc()` an `int64_t` but silently (on 64-bit systems) casting to `size_t`... There be dragons.

Also some slight issues with

[2017-07-24 22:42] jreback commented on #17063
open a new or pls (to close this issue)

[2017-07-24 22:45] ericbhanson commented on #17041
After further investigation with other column names, I have determined that the default behavior of pivot_table() is to display the contents of the value parameter in alphabetical order. I will look into making a code contribution to allow for user-defined sorting.

[2017-07-24 23:04] gfyoung commented on #17041
@ericbhanson : Excellent!  Contributions are definitely welcome and appreciated!

[2017-07-24 23:10] jeffknupp commented on #17063
Opened #17071

[2017-07-24 23:49] #14636 closed

[2017-07-24 23:57] jreback commented on #17070
you are trying to do something a bit unnatural here.

The point of a MI is to work with the data in long-form.
[code]

you can also do this

[code]

[2017-07-24 23:57] #17070 closed

[2017-07-25 03:59] #17063 closed

[2017-07-25 04:00] gfyoung commented on #17063
Alright, let's see what the MacPython has to say...

[2017-07-25 08:15] blokeley commented on #15079
The [Stack Overflow question](https://stackoverflow.com/questions/42472772/why-do-pandas-dataframe-boxplot-and-dataframe-plot-box-give-different-result?noredirect=1#comment75439324_42472772) got no answers.  It seems to be a bug.

[2017-07-25 10:18] #15001 closed

[2017-07-25 14:45] louispotok commented on #17048
Using the chunksize param in `read_csv` returns a `TextFileReader`, though, right? Won't that be confusing?

[2017-07-25 15:06] gfyoung commented on #17048
@louispotok : IMO, it would not because there's more confusion when people try to pass in the same parameters to one `read_*` function that they're used to passing in for another and found out they don't work or don't exist.  Thus, you would be doing all `read_json` users a service by adding a similar parameter. 😄

[2017-07-25 15:28] mat2py opened #17072 "Adding a new DataFrame row using dict() gives unexpected behaviour"
#### Code Sample, a copy-pastable example if possible
[Link to StackOverflow example](https://stackoverflow.com/questions/38383127/updating-a-pandas-dataframe-row-with-a-dictionary)

Using pd.series works fine:
[code]

But if I try to add a dictionary instead, I get this:

[code]

#### Problem description

Considering that a dataframe can be created using a dictionary, it seems odd that adding to

[2017-07-25 15:49] gfyoung commented on #17072
@mat2py : Thanks for the issue!   I tried your example using `0.20.2` on Windows, and I can't seem to reproduce your error (I just copied and pasted your code).  If you could reconfirm that you get this error by copying and pasting the code you provided above?

Also, if anyone else can reproduce this (cc @jreback ), that would be great to know.

[2017-07-25 15:54] mat2py commented on #17072
I can replicate it yes. However the issue **doesn't** occur if you apply the dict to the df after already having applied the pd.series. You have to recreate the dataframe and _only_ try to add the dict.

What you probably did:
- create df
- test with df.series (works)
- test with dict (works)

What doesn't work:
- create df
- test with dict (doesn't work)

[2017-07-25 15:55] mat2py commented on #17072
![image](https://user-images.githubusercontent.com/16655368/28581435-cdb06266-7127-11e7-9154-7655d421bc2c.png)

[2017-07-25 16:07] gfyoung commented on #17072
Not on my computer ATM, but can't argue with pictures.  Something funny is going on there.  PR to patch this is welcome!

[2017-07-25 17:20] chris-b1 commented on #17072
Thanks for the example, this a duplicate of #16724

[2017-07-25 17:20] #17072 closed

[2017-07-25 17:25] jbrockmendel commented on #15183
I think the error I just hit is related.  In py 3.5.2 (pandas 0.20.2):

[code]

In the real-life version when the array of `pd.Period` objects is longer, the error message includes a ton of these:

[code]

Halfway through the traceback is a call inside `Categorical.__init__` to `factorize(values, sort=True)`.  That call is in a try/except that catches a `TypeError` and falls back to `factorize(val

[2017-07-25 17:27] #17059 closed

[2017-07-25 21:54] jowens opened #17073 "Q: correct behavior for read_html with rowspan/colspan for DataFrames?"
No code, just a question for proper behavior for rowspan/colspan with `read_html` of an HTML table into a DataFrame. (I'm not asking what currently happens with `read_html` now. I'm asking what _should_ happen.)

Below is a simple HTML table that uses both colspan (a,e,i,o,u) and rowspan (Fruit, schwa, honk, and the rightmost 0 in the table). It renders identically on each of {Chrome, Firefox, Saf

[2017-07-25 22:44] pavankat commented on #11604
@datomnurdin @scls19fr @AMFIRNAS

[code]

try that it worked for me.

[2017-07-25 22:48] gfyoung commented on #11604
The original issue is for Python 2.x, so unfortunately, this suggestion is moot.  On Linux, do the following:

[code]

and see where each is pointing to.  Something tells me you'll find a discrepancy.  If not, chase down where your "existing" `pandas` installation is located and see whether there is actually a `pandas` library installed there.

[2017-07-25 23:05] chris-b1 commented on #17073
I think the philosophy with `read_html` is that it is a "good enough for a first pass" parser, not necessarily that it will handle every messy real life table.

That said the behavior you proposed seems reasonable - in other parsers "Fruit" would be placed at the top level, with an unnamed second level `TextParser` logic should already handle this for you.

[code]

[2017-07-25 23:21] jowens commented on #17073
OK. I can match the behavior of the other parsers. "Unnamed second level" evidently means "empty string".

[2017-07-25 23:22] gfyoung commented on #17073
Judging from the previous conversation, I am changing the labeling.  PR is welcome!

[2017-07-25 23:23] jowens commented on #17073
If you'd like, @gfyoung, just close this in favor of https://github.com/pandas-dev/pandas/issues/17054.

[2017-07-25 23:24] gfyoung commented on #17073
Are you planning to address this discussion in that issue then?

[2017-07-25 23:25] jowens commented on #17073
It'll be implemented as discussed in this issue when I submit a pull request for https://github.com/pandas-dev/pandas/issues/17054.

[2017-07-25 23:26] gfyoung commented on #17073
Okay, sounds good.  Closing in favor of that issue then.

[2017-07-25 23:26] #17073 closed

[2017-07-25 23:27] gfyoung commented on #17054
xref discussion in #17073 : it will be addressed when this issue gets resolved.

[2017-07-25 23:55] jowens opened #17074 "TestReadHtml.test_computer_sales_page - what's it doing?"
@chris-b1 or anyone else, help a brother out? Can you tell me what this test does? It's just expecting the parser to throw an error? The output from the test code (where it's failing) is at the bottom. It's a pretty weird HTML file.

<img width="269" alt="computer_sales_page_html" src="https://user-images.githubusercontent.com/976970/28598596-882515f2-7159-11e7-902f-1262a7c5d983.png">

Now, if I c

[2017-07-26 00:26] gfyoung commented on #17074
Are you referring to the code you're working on for #17054?

[2017-07-26 00:42] jowens commented on #17074
@gfyoung Yes, I am.

[2017-07-26 00:44] gfyoung commented on #17074
@jowens : For organization, it's preferable that you post such questions in the issue you're tackling so that all of the discussion regarding work on that issue is in one place.

I will close this but will copy and paste your description into that issue.

[2017-07-26 00:44] #17074 closed

[2017-07-26 00:44] gfyoung commented on #17054
From #17074:

@chris-b1 or anyone else, help a brother out? Can you tell me what this test does? It's just expecting the parser to throw an error? The output from the test code (where it's failing) is at the bottom. It's a pretty weird HTML file.

<img width="269" alt="computer_sales_page_html" src="https://user-images.githubusercontent.com/976970/28598596-882515f2-7159-11e7-902f-1262a7c5d983.png"

[2017-07-26 01:50] gfyoung commented on #17063
The latest build <a href="https://travis-ci.org/MacPython/pandas-wheels/builds/257532322">here</a> shows all green, so it appears the segfault has been patched!  Thanks again, @jeffknupp !

[2017-07-26 06:43] maitreyee-ghosh opened #17078 "TimeGrouper with interval gives inconsistent group for different frequencies"
[groupby.zip](https://github.com/pandas-dev/pandas/files/1176532/groupby.zip)

[versions.txt](https://github.com/pandas-dev/pandas/files/1175821/versions.txt)

I am grouping by TimeGrouper frequency as 3months (3m), I am getting the group as the end date..
ie
**data->2016-05-01
group->2016-05-31 00:00:00**
the group is 31-05-2016 even when my data points are starting from 1-05-2016.
But when I am

[2017-07-26 07:03] gfyoung commented on #17078
@maitreyee-ghosh : Thanks for the issue!  Could you please provide us a more complete code sample that we can copy and paste?  In addition, if you could share what your output is from calling `pandas.show_versions()`, that would also be great.

[2017-07-26 07:51] maitreyee-ghosh commented on #17078
hey @gfyoung
I just edited the main post and added all the required files in the zip folder.the .txt file contains the output of pandas.show_versions()

[2017-07-26 07:58] gfyoung commented on #17078
@maitreyee-ghosh : It would be preferable if you could actually, copy and paste your code into the original issue (you can edit it), same with the `pandas.show_versions()` output.  That way it's visible to anyone, regardless of where they are reading it.  For example, I'm reading this from my phone, and trying to unzip files on mobile is not optimal. 😄

[2017-07-26 09:37] maitreyee-ghosh commented on #17078
@gfyoung done.. :)

[2017-07-26 10:23] jebob opened #17079 "Pycharm linter flags output of concat as "type", not DataFrame"
#### Minimum display example
[code]

#### Problem description
Pycharm's linter believes pd.concat as returning class "type", when it normally returns a dataframe.

I suspect that this is due to core.reshape.concat._Concatenator.get_result() using core.dtypes.concat._get_frame_result_type which sometimes returns SparseDataFrame (a type) and sometimes an object (normally a Dataframe?).

#### Extract

[2017-07-26 10:26] jreback commented on #17079
you should address this to PyCharm.

[2017-07-26 10:26] #17079 closed

[2017-07-26 10:40] jebob commented on #17079
Link to Pycharm issue: https://youtrack.jetbrains.com/issue/PY-25326

[2017-07-26 10:55] jreback commented on #17078
@maitreyee-ghosh pls make a much simpler example without all of the extra code. simply create a df and then resample, showing what is the problem.

[2017-07-26 10:58] jreback commented on #17053
this should work, seems there is some truncation to the microsecond level.

[2017-07-26 10:59] jreback commented on #17053
original change was https://github.com/pandas-dev/pandas/pull/3060

[2017-07-26 11:02] jreback commented on #17064
confirmation merged via https://github.com/pandas-dev/pandas/commit/f9a552dc12262d1d208f9cdc2c5ffd1731f9c361

[2017-07-26 11:02] #17064 closed

[2017-07-26 12:33] maitreyee-ghosh commented on #17078
@jreback  done

[2017-07-26 12:39] jreback commented on #17078
pls don't post pictures. again I want to see code like this:

[code]

[2017-07-26 14:21] zfrenchee opened #17081 "pandas.Index.get_indexer_non_unique"
#### Problem description

The behavior of [`get_indexer_non_unique`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.get_indexer_non_unique.html) is unintuitive to me. This issue isn't a bug, just a space to discuss whether the behavior of this method should be reconsidered or changed. Some discussion has already been had in #16386. The discussion is moving here.

[code]
The re

[2017-07-26 14:39] chris-b1 commented on #17081
This is mostly an internal method, like @jreback said, the idea of indexer is that you can pass it to `take()`, which you wouldn't be able to do with a nested array.

And like @shoyer, in the general case, you couldn't represent this efficiently with numpy arrays because of ragged lengths.  Modifying your example slightly:
[code]

So I don't think we can change the existing behavior, but not so sa

[2017-07-26 14:47] chris-b1 commented on #17054
@jowens  - can you open a PR with your WIP code?  Easier to answer these type of questions that way.

[2017-07-26 14:56] gfyoung commented on #17079
@jebob : The `Pycharm` linter is prone to false positives like this because this is not Java (their first language) 😄 .  In fact, some of the warnings that I've seen similar to the one that you've reported are complete nonsense.

This is not to say that the linter doesn't get it right some times, but generally, `flake8` is your friend here and so is running the code manually.

[2017-07-26 15:04] gfyoung commented on #17081
@chris-b1 : I'm not sure I follow you here.  Given that this an internal method, unless there's something that `.take()` can't tackle, what would you be modifying here?

[2017-07-26 15:26] jebob commented on #17079
I've been suppressing the warnings in my code using type hints instead.
`foo = pd.concat([bar1, bar2])  # type: pd.DataFrame`

[2017-07-26 15:46] gfyoung commented on #17079
That works too, just hopefully you don't have to make too many hints 😄

[2017-07-26 16:27] drafter250 commented on #16529
I thought The main usage of this feature was to mitigate memory usage in case of large DataFrames?

[2017-07-26 16:29] threecgreen opened #17082 "read_csv reads in CSV file as all NaNs if header is a list of length 1"
#### Code Sample
If test.csv file looks like:
[code]
Reading in the file with the header given in a list of length 0 results in no warnings or errors, but each line is interpreted as NaNs.
[code]
#### Problem description
Single-length lists are not a problem elsewhere in pandas or within read_csv. For example, passing ```index_col=[0]``` does not cause pandas to read a csv file incorrectly. Prefer

[2017-07-26 16:35] chris-b1 commented on #17082
Thanks - duplicate of #7757, agree this is surprising!

[2017-07-26 16:35] #17082 closed

[2017-07-26 16:44] chris-b1 commented on #17081
1) `take` doesn't handle nested list arrays and 2) even if it did, nested list arrays are inefficient and `take` is a cornerstone op in pandas so wouldn't be acceptable performance wise

[2017-07-26 16:49] gfyoung commented on #17081
@chris-b1 : Unfortunately, I'm not sure your explanation clarifies the statement for which I was looking for clarification <a href="https://github.com/pandas-dev/pandas/issues/17081#issuecomment-318081959">above</a>

[2017-07-26 16:50] gfyoung commented on #16529
I think @jreback might know more about the initial usage, but generally from previous discussion, this parameter is misused and is more prone to introducing bugs.

[2017-07-26 17:12] drafter250 commented on #4329
Does the bson_numpy project close this? http://bson-numpy.readthedocs.io/en/latest/#

[2017-07-26 17:17] gfyoung commented on #17082
Because logic: passing in `header=[0, 1]` has no issues. :cry:

[2017-07-26 18:35] chbrandt commented on #10923
I have a similar issue here.

Let's consider the following data:
[code]

Now, there are two code lines below that do the same think: to output the average of groups as the new rows values. The first one uses a `string function name`, the second one, a `lambda` function. The first one works, the second, doesn't.

[code]

[code]

I first posted this question to SO: https://stackoverflow.com/question

[2017-07-26 18:38] toobaz commented on #14829
_[to ``set_axis``, and adding a ``FutureWarning`` for the ``.rename``/``.rename_axis`` relabeling behaviour.]_

Does anybody disagree on this?

(regardless of whether we then want to rename ``set_axis`` to ``relabel``)

[2017-07-26 18:38] jebob commented on #17079
Pycharm reads this piece of the documentation from DataFrame.concat().
[code]
and concludes that the return value is type type. This could be easily resolved on this end by using
[code]
which is technically correct, equally informative to the naked eye, solves the issue AND fixes a typo (objects vs objs).

[2017-07-26 18:53] jreback commented on #17079
a doc change like that would be fine

[2017-07-26 18:56] jreback commented on #14829
@toobaz

good to deprecate on that. pls add a sub-section in the docs (both whatsnew and *maybe* in main docs) on what do (e.g. use ``.set_axis``)

[2017-07-26 19:57] gfyoung commented on #10923
I suspect it has to deal with the way in which we aggregate results at the end.  Post this as a separate issue and reference this one.

[2017-07-26 20:41] bsolomon1 commented on #16911
@jreback I was just addressing @gfyoung 's comment.  ("Try installing 0.20.3 first and see if that fixes your issue" from early in the thread.)

[2017-07-26 20:49] jorisvandenbossche commented on #14829
I am -1 on moving towards `set_axis` as our recommended 'renaming index labels' method (instead of `rename`).
I find that personally a very confusing name. I know 'axis' is internally used as a general name for the actual index or columns object, but I don't think we should do that in user API (apart from using `axis=` to indicate the direction on which the method should be applied). Also, `set_ax