[2019-01-31 17:20] anuzis commented on #19078
Getting this error in pandas 0.24.0.

I have a working pandas script that runs fine on 0.23.4.  I needed to make a new virtualenv with TensorFlow GPU support via conda and it automatically installed a newer version of pandas (0.24.0), however, the newer version isn't backward compatible using columns as a keyword argument for dropping in a dataframe.

[2019-01-31 17:23] TomAugspurger commented on #19078
Can you make a new issue with a reproducible example?

On Thu, Jan 31, 2019 at 11:20 AM Michael Anuzis <notifications@github.com>
wrote:

[2019-01-31 17:23] anuzis commented on #19078
Sure

[2019-01-31 17:53] mroeschke opened #25057 "API/ENH: Support/document/test fold argument in Timestamp"
Python 3.6 added a `fold` argument in `datetime.datetime` to disambiguate DST transition times that occur twice (in wall time).

https://docs.python.org/3/library/datetime.html#datetime-objects.

Technically `Timestamp` will accept the argument in 3.6, but it's not formally documented or tested.
Additionally since we will still be supporting 3.5 after dropping 2.7, we can add/handle a fold argumen

[2019-01-31 18:42] philngo opened #25059 "pd.merge_asof with empty datetime index column in right dataframe breaks in 0.24.0"
#### Code Sample, a copy-pastable example if possible

The following breaks in 0.24.0 but worked in 0.23.4:
[code]

#### Problem description

0.24.0:
[code]

The behavior in 0.24.0 might make sense - I don't know if there was some underlying decision about why the above shouldn't be allowed - but since it worked in 0.23.4 I figured I would check here to see if it was an unintended regression.  Tha

[2019-01-31 18:44] TomAugspurger commented on #25059
This was fixed yesterday in https://github.com/pandas-dev/pandas/pull/25033.

Doing a 0.24.1 release with it soon.

[2019-01-31 18:44] #25059 closed

[2019-01-31 18:45] philngo commented on #25059
Perfect, thanks.

[2019-01-31 20:29] JustinZhengBC opened #25061 "Formatting of CategoricalIndex misaligned if NaNs are present"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`CategoricalIndex` of a `DataFrame` is misaligned when printing if it contains `NaN` values.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

No module named 'dask'

INSTALLED VERSIONS
------------------
commit: da5f5eb6c11140a2bb9f84049d30ba7d89bdbfd0
python: 3.6.6.final.0
pytho

[2019-01-31 20:37] TomAugspurger commented on #25043
Can you provide a minimal example?

does it fail if you exclude the index?

[2019-01-31 20:58] tdamsma commented on #24862
Didn't know that supporting more readers was an ongoing development. Are you still working on that? Also, just out of curiosity, what is the rationale for supporting multiple excel libraries?

[2019-01-31 21:04] WillAyd commented on #24862
I haven't actually put any code into it, just be reorganizing things in hopes of better community engagement.

As far as supporting multiple libraries goes the libraries support different file types. Openpyxl I believe is only .xlsx format, xlrd can handle .xls in addition to .xlsx. Off the top of my head I don't think either support .xlsb and not sure about .xlsm, so having multiple engines gives

[2019-01-31 21:10] tdamsma commented on #11499
Well if no one else has started this I'll see if I have some time this weekend to make an openpyxl reader. Hopefully I can reuse all the same tests, just swap out the engine.

[2019-02-01 00:10] sam-s opened #25066 "regression in 0.24: np.clip does not work for some values of a_min"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

With pandas `0.23.4`, [`numpy.clip`](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.clip.html) works as expected, producing a `Series` of type `float64` for any `min` argument.

With pandas `0.24.0`, it works up to 1e-7 but not for 1e-8
[code]

This is an unwelcome change from the previous v

[2019-02-01 00:40] mbkupfer opened #25067 "IO Conflict Between index_col and dtype"
#### Code Sample, a copy-pastable example if possible

I'm reading in an excel file using the code below. Assume that column 0 is my zip codes and column 2 is my adjustment factor that I'm mapping zips to.

[code]
#### Problem description

In my situation, I need zipcodes to be dtype of object since zipcodes can start with 0's, but the converter under-the-hood is converting these to int's and drop

[2019-02-01 02:29] stas00 opened #25068 "pd.testing.assert_frame_equal doesn't do precision according to the doc"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This asserts, despite all columns being identical in the first 3 digits after the decimal point.
[code]

It doesn't assert if `check_less_precise=2` is used instead. So something is not right here. Is there some kind of a rounding issue here?

Doc:

I understand the doc says `check_less_precise` defines how ma

[2019-02-01 03:47] shm007g commented on #18273
Problem still exists in pandas==0.23.4.
I just want to read specific columns of excel file with column names, i don' t know what column number display in excel.

[2019-02-01 05:00] jreback commented on #18273
this was closed in 0.24.0

[2019-02-01 06:18] jschendel commented on #25034
I think it could probably be implemented this way, though would require some care in handling all the params (`mapper`, `index`, `columns`, `axis`) without unnecesarily removing an axis name, e.g. not removing the column name when `mapper=None` and `axis=0`.

The PR I opened basically follows @TomAugspurger's suggestion of using a sentinel value, like `object()`, and using `is` comparisons, so eve

[2019-02-01 07:03] tdamsma commented on #24862
I'll give it a go then to make an OpenPyXL reader. I see there are pretty extensive tests for `read_excel` and I can just add an extra engine param, so hopefully that should be pretty straightforward.

[2019-02-01 07:46] jorisvandenbossche commented on #25049
Hmm, that doesn't say much more.
Can you try what `engine.has_table('products')` does? (that's pure sqlalchemy, so if that also fails, it is not necessarily a pandas issue)

[2019-02-01 07:54] mikkokotila commented on #25036
@ines thanks for the clear description on this matter! :)

[2019-02-01 08:01] jorisvandenbossche commented on #24969
@toobaz is there a reason you closed this? As I don't think the issue is resolved (or the typical wrong button mistake; github UI should put them farther apart)

[2019-02-01 09:11] jmsmkn opened #25071 "Column name `class` is ignored when using to_dict(orient="records") after upgrading to 0.24"
#### Code Sample, a copy-pastable example if possible

In pandas 0.24 we encounter a bug where the dictionary key is not set correctly if the column name is `class` and we use `to_dict(orient="records")`. All other orientations are ok. If we use the column name `klass` then the records orientation is also ok. Our csv file is:

[code]

Then, we load the data with:

[code]

#### Problem description

[2019-02-01 09:48] toobaz commented on #24969
Lack of sleep probably ;-) Thanks for reopening.

[2019-02-01 10:02] st-bender commented on #18262
One could argue why not deprecate `read_csv()` instead of `read_table()` since `table` sounds more flexible.

[2019-02-01 10:09] st-bender commented on #21948
Why not deprecate `read_csv()` instead? `read_table()` sounds more general and if they are basically the same, why not keep both as aliases?

[2019-02-01 11:34] jorisvandenbossche commented on #25071
It indeed does. We hope to release the fix with 0.24.1 in a few days!

[2019-02-01 11:34] #25071 closed

[2019-02-01 11:40] jorisvandenbossche commented on #25066
@sam-s thanks for the report! I can confirm the issue.
I suppose this is related to trying to preserve the dtype: https://github.com/pandas-dev/pandas/pull/24458.

IMO it would make sense to follow numpy behaviour here to only preserve the dtype if the passed lower/upper match the dtype.

[2019-02-01 11:48] ingomueller-net commented on #4793
I am still experiencing this problem on Windows with Pandas 0.24.0.

[2019-02-01 11:49] jreback commented on #24969
I think o

[2019-02-01 11:57] jmsmkn commented on #25071
Perfect, thanks!

[2019-02-01 12:06] AllanLRH opened #25072 "Add "tee-like" function for easy introspection of intermediate steps in method chaining"
### Enhanchment proposal: Add method to ease introspection of intermediate variables in chained methods

Method chaining allows us to compose easily readable "stories" of data processing steps, without having to come up with names for what is often temporary variables, but it comes at the expense of introspection of these intermediate variables... much like the Unix `tee`-command, which prints wha

[2019-02-01 15:05] susodapop commented on #24988
Hi @jorisvandenbossche -- I have confirmed that this fixes the problem on my end. I updated my local version of Pandas with the single change and now `read_sql` behaves properly. Sorry for the delay!

[2019-02-01 15:10] jorisvandenbossche commented on #24988
Thanks for confirming!

[2019-02-01 15:12] saurav2608 commented on #25016
Can I give this a try if no one is working on this?

[2019-02-01 16:23] selik opened #25075 "Segmentation fault while creating dataframe from list of mixed-type rows"
[code]

I'd like to see a `TypeError` here, instead of a segfault.

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.2.final.0
python-bits: 64
OS: Darwin
OS-release: 18.2.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.24.0
pytest: None
pip: 19.0.1
setuptools: 40.7.1
Cython: None
numpy: 1.15.4
scipy: 1.2.0
p

[2019-02-01 16:55] KIC opened #25076 "ENH: rolling apply should behave like groupby and allow us to return a dict"
#### Problem description

I really think that `rolling(x).apply(f)` should behave like groupby as it is essentially a group by function just where the groups are overlapping. Therefore one should be allowed to return a dict as a result. i.e. something like this:

[code]

#### Expected Output
| index | | num_legs |
| ------ |-| ---------- |
|dog	|first | 2|
||         last| 4|
|spider | first| 4|
|

[2019-02-01 17:23] Sup3rGeo opened #25077 "Regression in 0.24: to_timedelta handling of float values"
#### Code Sample, a copy-pastable example if possible

Creating an TimedeltaIndex with 1 microsecond steps:

[code]
#### Problem description

Output in 0.24:

![image](https://user-images.githubusercontent.com/20566367/52139038-40074180-264f-11e9-8513-f2bdbe7acaf2.png)

We have repeated index values (e.g. 99992 in the image) and missing ones (e.g. 99994 in the image).

This looks like some sort of

[2019-02-01 17:31] Sup3rGeo commented on #25077
Sorry, was in the process of doing it!

[2019-02-01 17:46] sam-s opened #25078 "regression in 0.24: to_dict sometimes loses column names"
#### Code Sample

[code]

#### Problem description

Column names with non-alphanumeric characters are replaced with `"_n"`  in `0.24.0`:
[code]

#### Expected Output

In `0.23.4`:
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.7.2.final.0
python-bits: 64
OS: Darwin
OS-release: 17.7.0
machine: x86_64
processor: i386
byteorder: l

[2019-02-01 17:57] WillAyd commented on #25078
Duplicate of #24940 fix will come out in 0.24.1

[2019-02-01 17:57] #25078 closed

[2019-02-01 18:34] MTKnife opened #25080 "Formatting Exception in io/formats/terminal.py"
#### The Code

[code]
#### What I get when I try to print "df":
[code]
#### Problem description
I get this exception when running the code quoted above in the iPython console in the latest version of Anaconda Spyder (3.3.2); the Python version is Anaconda 2.7.15.

Apparently, the ValueError has existed all along, but it was previously masked by the try/except block that wraps line 103 in terminal.

[2019-02-01 18:40] #25017 closed

[2019-02-01 18:42] TomAugspurger commented on #24980
Pushing to 0.24.2

[2019-02-01 18:43] TomAugspurger commented on #24949
I'd like to do a release tonight if possible, with the following issues resolved

- https://github.com/pandas-dev/pandas/issues/24959
- https://github.com/pandas-dev/pandas/issues/24969

Any objections? Any other blockers?

[2019-02-01 18:59] jbrockmendel commented on #24559
How close are we to consensus on this?  It looks like @mroeschke, @jreback, and I have expressed preference for options 4 or 5, with a slight preference towards 5.  @jorisvandenbossche has expressed a preference for option 6.

Anyone else want to weigh in?

[2019-02-01 19:22] TomAugspurger commented on #25080
Rather than catching `OSError, ValueError` I think we should

1. Do the subprocess stuff in a try / except OSError
2. Do the parsing (`cols = int(output[0])`, etc.) in a try / except `ValueError`

[2019-02-01 19:22] arredond opened #25081 "sys.getsizeof fails on DataFrame with complex columns since 0.24"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When calling `sys.getsizeof` on a DataFrame with columns that contain complex types (lists, GeoSeries, etc) on Pandas' version 0.24.0, a ValueError is raised.

This problem was found [when working with Dask](https://github.com/dask/dask/issues/4449) (latest release, 1.1.0), which relies heavily on knowing the s

[2019-02-01 19:39] TomAugspurger commented on #23064
I haven't looked into it. Do we have a concrete proposal for fixing this?

On Fri, Feb 1, 2019 at 1:29 PM Michael Peleshenko <notifications@github.com>
wrote:

[2019-02-01 19:40] TomAugspurger commented on #25081
Fixed on master. The fix will be in the 0.24.1 release (later today hopefully).

[2019-02-01 19:40] #25081 closed

[2019-02-01 19:49] trankmichael opened #25082 "should error when groupby.agg(set) is unhashable"
#### Code Sample, a copy-pastable example if possible

[code]
![image](https://user-images.githubusercontent.com/8660111/52145939-5c47b600-2630-11e9-9761-4fe591ca0314.png)

#### Problem description
`groupby().agg(set)` returns unexpected output when values are unhashable.

#### Expected Output

This function works when the types are hashable.

[code]
![image](https://user-images.githubusercontent.

[2019-02-01 20:07] #24959 closed

[2019-02-01 22:34] hantoine opened #25087 "Regression in 0.24: TypeError exception when using dropna on dataframe with categorical index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The call to dropna raised the following exception:
[code]
This seems to happen only with a categorical index for which the intervals are not all of the same length.

There was no issue in version 0.23.4 and the issue is not fixed in the master

#### Expected Output
No exception should be raised.
#### Output of

[2019-02-02 01:04] EternalLearner42 commented on #25080
Seems interesting. I'm a bit of a newbie to open source, but I wouldn't mind taking a look at it. Do I have your go-ahead?

[2019-02-02 01:15] eromoe commented on #25049
[code]

[2019-02-02 04:04] david-liu-brattle-1 commented on #21885
@gfyoung
The string parsing functions seem to call a custom built `xstrtod` function

https://github.com/pandas-dev/pandas/blob/bb43726e1f52a0ddee45fcf485690719f262870d/pandas/_libs/src/parser/tokenizer.c#L1532-L1534

which does a fine job of evaluating the string but the issue here is it's not evaluating it exactly as python (or numpy) is evaluating it.  `float('0.014')==0.014` but the `xstrtod('

[2019-02-02 07:13] gfyoung commented on #21885
Weird...I think it would be good to see if we could unify the two.

I'm not sure what the reason was implementing our own.  However, I would encourage you to investigate the consequences of doing so, both from an accuracy and performance perspective.

[2019-02-02 07:31] puneet988 commented on #11438
hi @aechase !! Are you still working on the issue?

[2019-02-02 09:08] gfyoung commented on #25066
Reading the docs, this rounding / downcasting behavior is not documented in the docstring for `.where`, and while it won't manifest itself in many situations, it does in this one.  Thus, there are a couple of options here on how to proceed:

1) Revert #24458 - Not sure I really want to do this though.

2) Don't downcast results in post-processing.  It's not documented.

3) Stricter downcasting pro

[2019-02-02 09:39] Vibhu-Agarwal commented on #25075
Seems a bit odd that the error shows no traceback of function calls because whenever there is an exception, python always show the traceback of exception.
This behavior could be because it's directly printed somewhere after catching the exception OR there's some error in API Calling to CPython Code.

[2019-02-02 09:40] Vibhu-Agarwal commented on #25075
I would like to work on this issue and solve it.

[2019-02-02 10:17] gfyoung commented on #11438
@puneet988 : This was actually resolved in #11458.  We just forgot to close.

You're more than welcome to checkout any of our other open issues if you want to contribute! 👍

[2019-02-02 10:17] #11438 closed

[2019-02-02 11:02] gaetano-guerriero commented on #23848
I think it would be important to document that the silent renaming can happen elsewhere:
[code]

[2019-02-02 11:42] stijnvanhoey commented on #22459
[europandas sprint 2019] I'm working on the doctests of `frame.py` `DataFrame`

[2019-02-02 12:12] TomAugspurger commented on #23848
@gaetano-guerriero that's a bug. Doing a release today with a fix.

[2019-02-02 12:13] TomAugspurger commented on #25066
Pushing to 0.24.2, since this looks a little tricky..

[2019-02-02 12:15] rs2 commented on #25087
Referencing https://github.com/pandas-dev/pandas/pull/24048 that changed the `.dropna()` callstack between `0.23.4` and `0.24.0`.

[2019-02-02 12:18] rs2 commented on #25087
This is caused by https://github.com/pandas-dev/pandas/pull/24048/files#diff-1e79abbbdd150d4771b91ea60a4e1cc7R4592

[2019-02-02 12:19] rs2 commented on #25087
CC @jreback @makbigc

[2019-02-02 13:49] TomAugspurger commented on #24949
Tagging in about 5 hours from now.

[2019-02-02 16:38] samuelsinayoko commented on #25087
Have got a PR out for this https://github.com/pandas-dev/pandas/pull/25090.
Have added 3 tests and made them pass, but the changes to the interval range get_indexer is lacking. Would welcome some directions about that as I'm not too familiar with get_indexer.

[2019-02-02 16:43] lmxia commented on #25050
I encountered with the same error.

[2019-02-02 18:01] nathalier commented on #24318
Hi,
I'd like to start contributing to pandas so I'm looking for not complicated issues.
Possibly this could fit:-)
I've found that hash_pandas_object() actually returns series and not dataframe.
So is that really OK that dataframe would be return in that special case?

[2019-02-02 18:03] dev72 commented on #24839
you can avoid the error:
`ValueError: cannot set WRITEABLE flag to True of this array`
passing `format='table'` to `HDFStore.append` or `HDFStore.put` when you save data with pandas.

This will likely solve your problem, tested with pandas 0.24 and numpy 1.16+

[2019-02-02 18:14] macd2 commented on #24839
@dev72
ok but how about old HDF files that already exist?

[2019-02-02 18:39] dev72 commented on #24839
I think the best way to read old hdf files is to downgrade your pandas+numpy version, read all data and write it in a new hdf store with `format='table'`.
Then it should work with newer numpy and pandas versions.

[2019-02-02 19:47] alimcmaster1 commented on #25016
Go for it, unless @mroeschke was planning on?

[2019-02-02 21:05] mroeschke commented on #25016
Sure go for it @saurav2608

[2019-02-02 22:54] #24689 closed

[2019-02-02 23:42] mvinoba opened #25099 "na_rep Truncated With Int64 dtype in to_csv"
#### Code Sample

[code]
#### Problem description

I'd expect `na_rep` to be always respected, with all column types.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 32
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder:

[2019-02-02 23:58] WillAyd commented on #23670
Giving this some more thought after the PR you posted I am +/- 0 here. Part of me thinks consistency is great in that regardless of whether an `Index` or `MultiIndex` calls this that you'd get a tuplized version of the index, but from a practicality perspective why do you think that is beneficial?

My assumption (potentially wrong) is that users would still have to be aware of the labels contained

[2019-02-03 00:00] dluiscosta commented on #23488
@datapythonista , I've created a pull request. Can you please take a look?

Being that my first one, I'd appreciate any sort of feedback.

[2019-02-03 01:16] WillAyd commented on #25067
Can you provide a sample excel file for this?

[2019-02-03 01:19] WillAyd commented on #25068
Thanks for the report! This does look strange - investigation and PRs would certainly be welcome

[2019-02-03 03:03] macd2 commented on #24839
@dev72 yes right im at the same point, but than i rather stick with the downgrade until this is properly fixed

[2019-02-03 03:07] mroeschke commented on #14873
This looks fixed. Could use a test.

[code]

[2019-02-03 03:58] mroeschke commented on #11112
Agreed. This is probably not an issue anymore since we are using pytest. Closing

[2019-02-03 03:58] #11112 closed

[2019-02-03 04:32] ellsaking commented on #15354
Need it almost every time when dealing with time series, the feature could give much better control for generating time series features for both visualization and analysis. Strongly support this idea!

[2019-02-03 04:54] mbkupfer commented on #25067
Of course. You can recreate with this:

[zipcode-example.xlsx](https://github.com/pandas-dev/pandas/files/2825182/zipcode-example.xlsx)

[2019-02-03 07:17] aslobodnik opened #25100 "plot() Has Visual Error When Combing Bar & Line Graphs"
#### Code Sample, a copy-pastable example if possible

[code]
![image](https://user-images.githubusercontent.com/4892978/52173840-9b652c80-2740-11e9-8426-98ee1a27c5b1.png)

#### Problem description

The first & last bar graph of series is on top of the Y axis.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.2.f

[2019-02-03 07:33] stas00 commented on #25068
What I have a hard time grasping is the way this function is designed. Unless I don't understand the documentation, how can it help me to compare these two numbers:

[code]

The approach of comparing only n number of decimals is so strange. These two numbers are almost identical, and no matter now many digits you set, this function will still fail if the 9's go for quite a few more.

For example,

[2019-02-03 07:53] devin-petersohn opened #25101 "all/any ignoring `bool_only` parameter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`DataFrame.all` and `DataFrame.any` are both ignoring `bool_only` parameter. It does not seem to matter if there are booleans in the input or not.

This was a regression in 0.24.0. On 0.23.4 it was working, expected output from code sample below.

#### Expected Output

Expected output is:
[code]

#### Output of

[2019-02-03 08:16] devin-petersohn commented on #25101
This seems to be fixed on master branch so I will close for now.

[2019-02-03 08:46] devin-petersohn commented on #25101
It appears to be due to this PR: #24434, where the filter for boolean data was removed from the `_reduce` method to fix a bug for `axis=1`. I created #25102 to solve (both) problems.

[2019-02-03 10:05] toobaz commented on #23670
I think it is close to irrelevant (I'm insisting on this only i) for consistency/robust code ii) because the thing is brand new so I want to solve this soon), but if I do try to think to some real world case, it's going to be something like:

[code]
... which currently will break on flat indexes.

(Not claiming my example is particularly well coded, there might be better ones)

On the other hand,

[2019-02-03 10:45] sw-yx commented on #24839
yes same came from google, thanks for filing this issue @macd2

[2019-02-03 11:01] stijnvanhoey opened #25104 "Excluding validation error type `PR10` from code base"
#### Problem description

In order to have a continuous check by the CI on validation error `PR10`, tackling them from the current code base enables the addition to the CI for automated testing in the future.

After checking an [overview of the errors](https://gist.github.com/stijnvanhoey/dfec0f89a58f493bdddd2b463ad7b6e3) (all credits to @datapythonista for the introduction during europandas sprin

[2019-02-03 11:02] victormoron commented on #25104
I'll take it

[2019-02-03 11:46] kynan opened #25105 "Fix validation error type `PR04` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `PR04` (Parameter "{param_name}" has no type), tackling them from the current code base enables the addition to the CI for automated testing in the future.

`PR04` has just 12 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)):

method | file | file_line | gi

[2019-02-03 11:51] kynan opened #25106 "Fix validation error type `GL04` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `GL04` (Private classes should not be mentioned in public docstrings), fixing them in the code base enables the addition to the CI for automated testing in the future.

`GL04` has just 32 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)):

method | file | fi

[2019-02-03 12:01] kynan opened #25107 "Fix validation error type `RT04` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `RT04` (Return value description should start with a capital letter), fixing them in the code base enables the addition to the CI for automated testing in the future.

`RT04` has just 33 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)):

method | file | fil

[2019-02-03 12:01] kinow commented on #25068
I think the comparison is done in this function

https://github.com/pandas-dev/pandas/blob/f75a220ff1e5e027ef2b070430fd7f4490cdcbf0/pandas/_libs/testing.pyx#L42-L46

The code in the comment, however, does not use the (more strict) 0.5 function. In NumPy that function uses 1.5. There is also a comment there now to use NumPy's `assert_allclose`.

https://github.com/numpy/numpy/blob/master/numpy/test

[2019-02-03 12:07] kynan opened #25108 "Fix validation error type `RT05` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `RT05` (Return value description should finish with "."), fixing them in the code base enables the addition to the CI for automated testing in the future.

`RT05` has just 51 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)):

method | file | file_line | git

[2019-02-03 14:42] kynan opened #25112 "Fix validation error type `SS05` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `SS05` (Summary must start with infinitive verb, not third person), fixing them in the code base enables the addition to the CI for automated testing in the future.

`SS05` has just 52 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)):

method | file | file_

[2019-02-03 14:48] kynan opened #25113 "Fix validation error type `SS02` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `SS02` (Summary does not start with a capital letter), fixing them in the code base enables the addition to the CI for automated testing in the future.

`SS02` has just 61 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)):

method | file | file_line | github

[2019-02-03 15:01] dcreekp commented on #24070
I will try this one.

[2019-02-03 16:10] MarckK commented on #25107
Will have a try on this.

[2019-02-03 16:48] dcreekp opened #25120 "DOC: make scripts/validate_docstrings.py GL01 GL02 be able to exclude a list of known docstrings to ignore"
#### Problem description

We want this script to return zero errors:
[code]
to add GL01 and GL02 to the continuous integration checks.
However the remaining errors are caused by docstrings that are inherited from dependencies. Specifically, cpython's datetime module which we do not want to touch.

from trying to fix this [issue](https://github.com/pandas-dev/pandas/issues/24070)

#### Expected Out

[2019-02-03 17:38] kynan commented on #20298
Some minor improvements in #25122

[2019-02-03 17:44] #20714 closed

[2019-02-03 17:58] mroeschke commented on #17173
Actually this is more of an issue with FixedOffset timezones now.

[code]

[2019-02-03 18:51] stas00 commented on #25068
thank you for digging up the code, @kinow! So the description of the functionality is very bogus then.

What it does is comparing how many 0.000x decimals the difference is between 2 numbers, and not how many decimals of each number it looks at. and then there is 1/2, how do you explain that in the definition...

Let's rewrite:
[code]
to:
[code]
so it's easier to understand.

So 2 digits gives us:

[2019-02-03 19:20] TomAugspurger commented on #24949
Waiting on https://github.com/pandas-dev/pandas/pull/25085 to pass CI, then merging and tagging.

[2019-02-03 20:07] TomAugspurger commented on #25100
You might just want to use matplotlib directly if you're layering plots like this.

Otherwise, you may be able to adjust the limits afterwords by capturing the axes object and updating the limits.

[2019-02-03 20:14] reidy-p commented on #24471
@froessler As discussed, if you see any other things we need to do to make the implement of the ``sort`` parameter for set operations consistent describe it in a comment below and I'll add it to the TODO in the top comment in this issue. I'm currently working on implementing ``sort`` for ``RangeIndex.union``

[2019-02-03 20:59] mwoss commented on #25105
Hi. May I work on this issue? :)

[2019-02-03 21:11] TomAugspurger commented on #24318
@nathalier you're correct. An empty series would be better to return.

[2019-02-03 22:14] aboidriss opened #25130 "df.apply function is executed twice when rows == 1"
#### Code Sample, a copy-pastable example if possible

[code]
I get the following output :
[code]

#### Problem description
The function func is applied twice
The problem happens when the number of rows is equal to 1

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bits: 64
OS: Linux
OS-r

[2019-02-03 22:20] neili02 commented on #24499
I use the online docs quite a bit and am wondering what is the rationale for the new format of the Table of Contents. The new format nicely compresses the main TOC tree into reasonable starting groups, however it detrimentally removes a third level of the tree that is very useful for quickly identifying and navigating to subsections of individual User Guide main topics.

For example the new format

[2019-02-03 22:41] neili02 commented on #24499
What I had in mind is just to add back the additional level that was previously present. For example:

User Guide now  expands to reveal:

[code]

Clicking on MultiIndex/ Advanced Indexing should show as previously

[code]

[2019-02-03 23:11] souvik3333 commented on #25113
Hi, can I work on this?

[2019-02-04 00:07] mwoss commented on #25105
I have no idea how to fix Timedelta docs. I cannot locate file with that class.

[2019-02-04 03:00] neili02 opened #25131 "Add back third level to documentation TOC tree"
I use the online docs quite a bit and am wondering what is the rationale for the new format of the Table of Contents. The new format nicely compresses the main TOC tree into reasonable starting groups, however it detrimentally removes a third level of the tree that is very useful for quickly identifying and navigating to subsections of individual User Guide main topics.

For example the new format

[2019-02-04 03:18] thoo commented on #25108
I am on it.

[2019-02-04 04:02] thoo commented on #25108
@kynan Thanks for summarizing them. Make life a lot easier 👍 .

[2019-02-04 04:02] thoo commented on #25113
@souvik3333 Sure.

[2019-02-04 04:04] nathalier commented on #24318
@TomAugspurger missing data are automatically substituted with NaN in series. Could there be further inconsistencies if we return series with NaN as hash values?

[2019-02-04 04:07] thoo commented on #25112
I am working on this one.

[2019-02-04 08:50] jorisvandenbossche commented on #24949
@TomAugspurger Thanks a lot for the release!

One thing I noticed: due to the way we do the backporting now, the actual contributors don't get acknowledged: http://pandas.pydata.org/pandas-docs/version/0.24.1/whatsnew/v0.24.1.html. That section is quite useless/misleading now, so I would either update it manually or remove it.
In general, I think it could be solved by the bot using co-authors: htt

[2019-02-04 08:59] toobaz commented on #24688
Seeing this now only. I'm against suppressing tuples as values.

I think @h-vetinari 's strongest point is

... but even that is simply solved by recurring to stuff like ``construct_1d_object_array_from_listlike``. And things will be even better when/if numpy [will support](https://github.com/numpy/numpy/issues/5933#issuecomment-348930690) ``ndmax``.

Moreover, there is huge evidence of people usi

[2019-02-04 09:07] jorisvandenbossche commented on #24499
@datapythonista I think @neili02 is pointing out what I mentioned this weekend as well: for some reason the TOC now only shows two levels, instead of 3, which has the consequence you don't see anything of TOC from the page you are on.

Looking at it, I think this is due to the change here https://github.com/pandas-dev/pandas/commit/013ae3daf2b6793478f58e9e88d6d36c308f69b7 where we changed maxdepth

[2019-02-04 09:16] jorisvandenbossche commented on #24949
(repurposed this issue for a potential next 0.24.2)

[2019-02-04 11:14] AntoineD opened #25135 "assert_*_equal issues"
The function `assert_almost_equal` may return the return value of another functions like `assert_frame_equal` or `assert_series_equal`.
But `assert_frame_equal` does not return any value explicitly, hence it shall always return None.
Also, `assert_series_equal` may or may not return a value explicitly.

Are those assertion functions usable or am I overlooking something?

[2019-02-04 11:58] datapythonista commented on #24499
Commented on the PR. If the toctree in the index is affecting that, that's a bug from sphinx. I mentioned in the PR how I think could be fixed.

[2019-02-04 12:41] dmzio opened #25137 "MultiIndex slicing with partial string match of datetimes fails"
Multilevel indexing doesn't work if IndexSlice with a range is provided.

#### Code Sample

[code]

#### Problem description

Code above raises

[code]

As seen in the code, providing slice `pd.IndexSlice[:'1999-09', :]` with  range as a 'stop' fails.

Problems seems arise from OR logic in `if isinstance(start, slice) or isinstance(stop, slice):` of 'core/indexes/multi.py#_get_level_indexer', when

[2019-02-04 12:55] thorbjornwolf opened #25138 "Joining MultiIndexes with NaNs treats NaN as a match-any (unlike regular index joins)"
Thank you so much for your work on pandas :hugs:

I don't sufficiently understand `pd.concat` and MultiIndex (yet!) to explain what is going on here, so I hope someone more knowledgeable can shed light on these curious symptoms:

#### Code Sample

[code]

The same results can be achieved with DataFrames in (at least) these other ways, so in that way it is very consistent :grinning:

[code]

#### P

[2019-02-04 12:56] #25107 closed

[2019-02-04 13:00] #24925 closed

[2019-02-04 13:02] jreback commented on #15725
xref https://github.com/pandas-dev/pandas/pull/25058, @rbenes if you want to look.

[2019-02-04 13:03] jreback commented on #17299
closing as needs a reproducible example; we have also pushed several fixes to address ths.

[2019-02-04 13:03] #17299 closed

[2019-02-04 13:04] jreback commented on #20907
these args were recently changed to use match

[2019-02-04 13:04] #20907 closed

[2019-02-04 13:05] #25101 closed

[2019-02-04 13:55] eliadl commented on #16337
How does documentation account for this non-warning example?
Please clarify in the documentation and add more examples as needed.

[2019-02-04 13:59] BenjaminHabert commented on #14315
As mentioned by @wuhaochen I have also ran into this problem. For me the issue was that oracle was creating columns of [CLOB](https://docs.oracle.com/javadb/10.8.3.0/ref/rrefclob.html) data type for all the string columns of the pandas dataframe. I sped-up the code by explicitly setting the `schema` parameter of  `to_sql()` and using VARCHAR dtypes for string columns.

I think this should be the d

[2019-02-04 14:52] gleblanc1783 opened #25143 "to_datetime() with errors=coerce and without return different values"
#### Code Sample, a copy-pastable example if possible

Without errors='coerce'

[code]

With errors='coerce'

[code]

#### Problem description

The functionality of to_datetime() with errors='coerce' is different than without. If I understand some of the other issues raised on this topic correctly, the functionality is different in some cases by design. In this case, the dates are very similiar, a

[2019-02-04 16:05] thoo commented on #25105
Timedelta docs might be there: `pandas/_libs/tslibs/timedeltas.pyx` . You need to rebuild the extension.  `python setup.py build_ext --inplace -j 4`

[2019-02-04 16:15] mwoss commented on #25105
@thoo Thanks you a lot :) I will look at that file.

[2019-02-04 16:19] cepbrian opened #25144 "Concat/append doesn't sort warning should give location of issue"
I'm upgrading pandas, and am now experiencing the "concat doesn't sort" warning. The problem is that the warning doesn't say where the issue that it's complaining about is, so it's impossible to take the action that it suggests.

The warning also doesn't mention that "append" is also affected.

Basically, I have a large body of code, and it calls append and concat a lot, but almost all of the time

[2019-02-04 16:57] Liam3851 commented on #25130
This is documented: http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html. It is required so that `apply` can infer what you implicitly want to do (aggregate, transform, etc.).

Note also that use of a groupby function that mutates the data in the DataFrame is always discouraged. Instead calculate the new value and assign the result back into the original frame.

[2019-02-04 17:07] TomAugspurger commented on #25144
As you’ve noticed, the behavior affects both concat and append. I believe the stacklevel is targeted for concat. If not, that’s a bug.

If you’re interested, a PR passing through the desired stacklevel, to ensure the correct line for both, is welcome.

You can add a warning filter to elevate warnings to errors, and run under pdb to find the exact lines with issues.

[2019-02-04 17:14] #25130 closed

[2019-02-04 20:17] tbaer-c7ks7s commented on #20369
how would this work? this seems like an impossible request

take the OP as an example: you need some way to trade off 'closeness' in one field and 'closeness' in the second if there are no exact matches.

I would suggest defining and calculating a common metric yourself, then merge_asof on that. for example, the haversine distance between two lat/longs. of course, that would mean calculating the d

[2019-02-04 20:22] borisRa opened #25147 "Calculation of first item in the exponential weighted mean ( EWM)"
https://github.com/pandas-dev/pandas/blob/1700680381bdbfbc1abe9774f96881801b24d6ca/pandas/core/generic.py#L10159-L10166

Running this code  :

` pd.DataFrame({'B': [1,20,400,1,1,1]}).ewm(span=2,min_periods=2,adjust=False).mean().values.flatten()`
I  am getting
`array([ nan, 13.66666667, 271.22222222,  91.07407407, 31.02469136,  11.00823045])`

As I understand the first item should be the simple mo

[2019-02-04 20:54] ismell opened #25148 "msgpack drops timezone info"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`to_msgpack` should encode the timezone information. Or `read_msgpack` should return a timezone aware timestamp with UTC as the timezone.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS:

[2019-02-04 21:13] TomAugspurger commented on #25148
Ideally this fix would work for all extension arrays, not just datetime-tz.

[2019-02-04 21:30] TomAugspurger opened #25149 "HTML repr benchmarks failing on Travis"
e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=7904

[code]

[2019-02-04 22:12] TomAugspurger opened #25151 "Implement sort=True for Index setops"
https://github.com/pandas-dev/pandas/pull/25063 made the 0.24.x `sort=True` behavior be enabled by `sort=None`. This allows us to use `sort=True` to mean "always sort".

So rather than raising

[code]

We would instead return

[code]

This is a (hopefully) exhaustive list of special cases not sorted when `sort=None`.

* `union`:
  - equal
  - length-0
  - incomparable
* intersection
  - equal
  -

[2019-02-04 22:14] vishwasgowda opened #25152 "pandas.DatetimeIndex.round"
#### Code Sample, a copy-pastable example if possible
INCIDENT_DATE_TIME                   INCIDENT_DATE_TIME_1      2nd INCIDENT_DATE_TIME_1
01/01/2013 12:34:10 AM                2013-01-01 01:00:00                         0
01/01/2013 12:38:51 AM                2013-01-01 01:00:00                         0
01/01/2013 01:23:26 AM                2013-01-01 01:00:00                         1
01/01/

[2019-02-04 22:38] mroeschke commented on #25152
You'll want to use `ceil` and `floor`.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.ceil.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.floor.html

For usage questions, we advise to use Stack OverFlow instead.

[2019-02-04 22:38] #25152 closed

[2019-02-04 22:42] mroeschke commented on #25143
Agreed this looks strange. Investigation and PR's welcome!

[2019-02-04 23:50] #25112 closed

[2019-02-05 01:13] TomAugspurger commented on #24318
Sorry, I don’t follow the question. This issue is specifically about *empty* DataFrames, not a DataFrame with all or some missing values.

[2019-02-05 04:02] nathalier commented on #24318
I'm talking about Series which should be returned.
Possibly I'm wrong but as I see empty Series with indices cannot be created. I.e.,
`In[3]: pd.Series(index=pd.Index([1, 2, 3]))`
`Out[3]:
1   NaN
2   NaN
3   NaN`

Or empty series without indices is what's expected?

[2019-02-05 08:21] tunnij opened #25154 "Multiindex slicing with NaNs, unexpected results"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
When trying to slice out multiple values from a particular level including levels with a nan value, the levels with nan are not retrieved.

#### Expected Output
Both of these I expect to work:
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this lin

[2019-02-05 09:04] gfyoung commented on #25080
@paplio : Thanks for your interest!  I think we already have a PR in the works to address this (see #25088).  That being said, you are more than welcome to look at any of our other open issues (those tagged with "good first issue" are definitely good ones to start with)!

[2019-02-05 11:45] ashesh-0 commented on #11623
On a similar note, I see that describe() seems unnecessarily slow. Computing individual components is much faster.
[code]

[2019-02-05 12:33] TomAugspurger commented on #24318
Oh sorry, you mean the output. I missed the "return" in your comment.

Yes that is a difficulty, since we need to return a uint64-dtype series. Off top of my head, I'm not sure what's best here...

[2019-02-05 13:02] z1yuan opened #25156 "An extra single quotation marks (') in cheat sheet/ Subset Variables (Columns)/regex (Regular Expressions) Examples"
#### Problem description
https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

In Pandas_Cheat_Sheet/ Subset Variables (Columns)/ regex (Regular Expressions) Examples
#### ''^(?!Species$).*' Matches strings except the string 'Species'
The second ' in regex is unnecessary.
#### Expected Output
execute sucessfully

#### Actual result:
[code]
  File "<ipython-input-1

[2019-02-05 13:56] joshmalina commented on #18344
So this is not a fix, but if you call .to_timestamp() on the dataframe before you call plot, it converts it from a PeriodIndex to a DatetimeIndex, and then the issue is no longer there. It would be nice if this was fixed for PeriodIndex.

[2019-02-05 15:46] ginward commented on #23889
I think having NaN is what min_count parameter is supposed to behave according to the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html), right?

[code]

[2019-02-05 15:55] vlavorini opened #25158 "Imputing values while joining dataframes"
## description

Currently, as specified in the [documentation](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html), the standard action for concatenations in case of missing columns is to fill them with a `NaN`:

[code]

Output:

|    | letter   |   number | animal   |
|---:|:---------|---------:|:---------|
|  0 | a        |        1 | nan      |
|  1 | b        |

[2019-02-05 15:59] scootty1 opened #25160 "subplots=True automatic xlim considers nan values since 0.24"
#### Code Sample,:

[code]
#### Problem description

The code sample above produces two plots with different x-limits in pandas version `0.23.4`, whereas in `0.24.0` both subplots share the same x-limits.
In my opinion the behavior of pandas version `0.23.4` should be correct, whereas the behavior of `0.24.0` resembles setting `sharex=True`.

Looking at the changelog, I haven't found any informati

[2019-02-05 16:00] chris-b1 commented on #25158
We do have a `fill_value` parameter in a few places, but I'm not sure this is much better than a fillna?

[code]

[2019-02-05 16:02] chris-b1 commented on #25135
`assert_almost_equal` is not part of the public API, can you please show an example of what's wrong?

[2019-02-05 16:06] chris-b1 commented on #25137
Thanks - this is a duplicate of #15928 - PR / investigation welcome!

[2019-02-05 16:06] #25137 closed

[2019-02-05 16:17] pj1989 opened #25161 "Groupby creates emptu groups depending on base parameter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code above generates either 6 or 7 groups depending if the dataframe starts at  '2018-11-26 16:17:43.500000' (case 1) or  '2018-11-26 16:17:43.510000' (case 2).

The correct output is clearly the one obtained in case 2. Case 1, instead, creates an empty group at the end of the dataframe. This can cause trou

[2019-02-05 16:25] chris-b1 commented on #25147
I think this is a reasonable common adjustment to an EWM in practice, but not sure it should be a default, as it's not really the "standard" definition, e.g. https://en.wikipedia.org/wiki/Moving_average#Exponential_moving_average

So I could see expanding the api here, or this is not that hard to do yourself.

[code]

[2019-02-05 17:09] souvik3333 commented on #25113
Thanks @thoo, Can you please tell me how to find the error causing lines as most of them are not mentioned.

[2019-02-05 17:14] mroeschke commented on #25161
This appears fixed in 0.24.x.

[code]

I don't think `base` is tested too much so this would be a nice test to have.

[2019-02-05 17:50] jbrockmendel opened #25162 "DISC: Directory for code "upstream" from _libs"
Motivated in part by #24737, which is discussing vendoring `tzlocal` for use in `tslibs`.

A lot of effort has gone into making `_libs`, and in particular `tslibs`, self-contained within the pandas code base.  This makes these parts of the code base much easier to reason about.  It also makes it easier to test, profile, and measure coverage on pieces of the code base in isolation.

Furthermore, ou

[2019-02-05 18:04] pj1989 commented on #25161
`base` is almost undocumented, despite being a very useful option. To be honest I find quite "curious" the choice of it being a float representing minutes. Could it be just a datetime representing the starting instant in time of the grouping?

[2019-02-05 19:07] vlavorini commented on #25158
Actually, in many cases this is enough.

But still, this makes the double operation of 1) filling with NA and 2) changing NA with the desired value.

And, following the example of the `int` column introduced before, also an upcasting from `int` to `float`. And eventually a downcasting operation, if the user really need ints.

[2019-02-05 19:13] mroeschke commented on #25161
I am guessing that choice was made because the intention was to set the "base" relative to the resampling frequency. Feel free to open another issue to discuss the possibility to extending the base argument.

[2019-02-05 19:19] rben01 opened #25165 "Partial date string indexing doesn't work on MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
For single (not multi-) datetime indexes, you can use a string coercible to a `pd.Timestamp` to slice the dataframe. For MultiIndexes with one level a DatetimeIndex, this indexing is not possible, no matter how precisely you specify the slice axes and levels (and even when the dataframe is sorted by the Datetime

[2019-02-05 19:42] avisrivastava254084 opened #25166 "df.to_dict(orient=records) not forming exact columns as in the dataframe"
While reading a CSV file, I try to get a list of column names via:
[code]
The o/p, i.e., the columns are:
[code]
and rows via:
[code]
The o/p is:
[code]
As you can see, the column name Response ID is missing while I read the row. It should be noted that df.iterrows() gave me all the correct columns.

The first few lines(inc the header) from my CSV file are [here](https://pastebin.com/ePHQPsAG) so

[2019-02-05 19:57] topper-123 opened #25167 "Groupby with observed=True doesn't sort"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

By default groupby has ``sort=True``, so should sort the groupings, also when using ``observed=True``. In the above example, the sorting doesn't work together with ``observed=True``.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: No

[2019-02-05 20:31] chris-b1 commented on #25166
Closed by #24965 - this is fixed in the 0.24.1 bugfix release

[2019-02-05 20:31] #25166 closed

[2019-02-05 20:35] AntoineD commented on #25135
I was not sure about how to use `assert_almost_equal`, despite the name starting with `assert` I have looked at the code and have seen return statements, so I figured out I should check the truth of the returned value.
May be the docstring could specify that an `AssertionError` is raised when the assertion fails.

If that's not a public function, then please ignore this issue.

Nevertheless, I thi

[2019-02-05 20:47] avisrivastava254084 commented on #25166
Thanks @chris-b1

[2019-02-05 20:57] chris-b1 commented on #25135
That function is not public - but it does look like the return statements are redundant so will keep this open as a code cleanup issue.  Also would take that improvement to the docstring.

[2019-02-05 21:35] toobaz opened #25169 "Intersection of MultiIndexes reports incorrect lexsort_depth"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

For a 2-levels ``MultiIndex``, ``lexsort_depth=2`` means sorted. This is clearly not the case for ``mi_int``.

#### Expected Output

0 at ``Out[5]:``.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: e3b095074c5c3b29ec25a994cd204349b872d961
python: 3.5.3.final.0

[2019-02-05 21:44] toobaz commented on #25169
By the way: this popped up in code which used to run just fine. So I think it is a regression.

[2019-02-05 22:07] albertvillanova opened #25170 "Error when read_json created by to_json with orient='table and index=False"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
An error is raised while the original DataFrame should be recovered:
[code]

My pandas version is 0.24.0.

#### Expected Output
The expected output `result` should be the original DataFrame `df`.

#### Output of ``pd.show_versions()``

<details>
pandas/util/_print_versions.py in <lambda>(mod)
     78         ("b

[2019-02-05 22:10] WillAyd commented on #25170
Thanks for the report. Investigation and PRs are always welcome.

[2019-02-05 22:31] MarckK opened #25172 "Fix validation error type `GL03` and check in CI"
#### Problem description

In order to have a continuous check by the CI on validation error `GL03` (Double line break found; please use only one blank line to separate sections or paragraphs, and do not leave blank lines at the end of docstrings), fixing them in the code base enables the addition to the CI for automated testing in the future.

`GL03` has 99 occurrences (see [overview of the errors

[2019-02-05 22:31] MarckK commented on #25172
I'll work on this. :)

[2019-02-05 23:46] aloukina opened #25174 "`concat` without `sort` in groupby.py code raises FutureWarning"
#### Problem description

There are several calls to `concat` in `groupby.py` that do not pass the `sort` argument. This raises FutureWarning when the function is exectuted. For example:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Darwin
OS-release: 17.7.0
machine: x86_64
processor: i386
byt

[2019-02-05 23:56] WillAyd commented on #25174
Can you share the code you have to reproduce? I see you are using v0.23.4 this has most likely been fixed in more recent release

[2019-02-06 00:05] aloukina commented on #25174
Here is the corresponding line in `master`: https://github.com/pandas-dev/pandas/blob/e3b095074c5c3b29ec25a994cd204349b872d961/pandas/core/groupby/groupby.py#L887

[2019-02-06 01:32] smsaladi opened #25177 "vectorized operations with pd.Series of pd.Interval data"
Is there a plan to allow vectorized operations on pd.Series of pd.Interval data in the future -- perhaps just for the syntactic sugar?

*  constructing the pd.Series of interval values
[code]

* working with pd.Series of interval values
[code]

[code]

[code]

I could imagine an interface similar to the `pd.Series.str`. For example, operations might look like:

[code]

[2019-02-06 01:51] jbrockmendel opened #25178 "Convention for same-directory imports"
In most places we use absolute imports, e.g. `from pandas.foo.bar import baz`.  In a small number of places (the one I noticed being `core.dtypes.cast`, `core.dtypes.missing`),  we use relative imports for same-directory imports (`from .common import foo, bar, baz`)

We should either get rid of these special cases, or explicitly allow same-directory imports to be relative.

I happen to like the re

[2019-02-06 02:17] #25075 closed

[2019-02-06 02:35] jschendel opened #25180 "BUG: Series.is_unique does not consider single occurrences of NaN unique"
#### Code Sample, a copy-pastable example if possible
On `master`:
[code]

Note that indexes consider the equivalent cases to be unique:
[code]
#### Problem description
`Series.is_unique` does not consider single occurrences of `NaN` to be unique.

#### Expected Output
I'd expect `[2]` and `[3]` to be `True`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------

[2019-02-06 03:38] josham opened #25183 "DataFrame.merge with empty frame and Int64 column gives object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem descriptioy

The dtype of the `value_y` column should be `Int64`.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-43-generic
machine: x86_64
processor: x86_64
byteorder: litt

[2019-02-06 03:50] ivirshup commented on #15585
Any updates on this? It seems like behavior changed in `v0.24.0`, but not necessarily for the better.

[code]

This was causing issues in a project where we were expecting the results of this check not to change between versions. On further investigation, it seems like this function is unreliable (tuples aren't strings, categoricals as strings feels very `R`).

[2019-02-06 03:51] #24782 closed

[2019-02-06 07:01] smilyswap commented on #16536
you need to update pandas version then run the programme and you will find error remove automatically.

[2019-02-06 10:38] Altaisoft opened #25184 "Filtering by exclusion of duplicate rows does not preserve column list for an empty dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

We have been using this approach to remove duplicate rows on a dataframe, where rows are compared by one column only. Everything worked perfectly until we found out that, if the original dataframe is empty, in the result dataframe column list is lost after Pandas upgrade to latest version.

#### Expected Output

[2019-02-06 10:41] borisRa commented on #25147
Got it thanks  ! there are two formulas  :
![image](https://user-images.githubusercontent.com/3207061/52335672-a43d5300-2a0b-11e9-8698-10c0c5389f69.png)

![image](https://user-images.githubusercontent.com/3207061/52335674-a9020700-2a0b-11e9-9aee-f0727ecb04b0.png)

Pandas applies the second formula and instead of S2 = moving average of Y1 & Y2  it starts from S1 = Y1  .

So instead of :
`df.iloc[:2

[2019-02-06 11:04] simonjayhawkins commented on #24782
Thanks @charlesdong1991

[2019-02-06 11:28] saihari opened #25185 "Styling of column and row headers not reflected when saving to excel."
Following is the code I used to style the headers of both rows and columns and then saving the stylized data frame to an excel file.

[code]
#### Problem description

I am trying to stylize the headers of a data frame and then save that data frame to an excel file, but I am unable to see the stylized effects inside the excel file.

#### Output of Jupyter Notebook
![image](https://user-images.githu

[2019-02-06 13:23] miguelfg opened #25187 "DOC: DataFrame.mask() uses df.where in the examples section"
In the stables doc page of `pandas.DataFrame.mask()` in the bottom section of 'Examples', is showing executions of using `pandas.DataFrame.where()` method instead of mask. I refer to this [page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mask.html)

[2019-02-06 14:10] DeanLa commented on #24788
I can take this. Is there a best practice or list of don'ts on how to add URLs in docs?

[2019-02-06 16:06] heavelock opened #25190 "DataFrame.interpolate(axis='columns') throws exception while DataFrame.interpolate(axis=1) not"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The interpolation with argument `axis` set to 'columns' throws an exception from
https://github.com/pandas-dev/pandas/blob/c460a929e19535335085c652e7e35eee1d9c7c2e/pandas/core/generic.py#L6800

The exception is:
[code]

The same method for parameter `axis=1' works fine.

#### Output of ``pd.show_versions()``

<

[2019-02-06 16:43] gnilrets commented on #25184
Just ran into this myself today.

Looks like the root issue may be that duplicated is now returning an empty series of dtype=float64, whereas it used to return an empty series of dtype=bool.

I've never contributed to pandas before, but I _think_ fixing this would be as simple as changing this line to `return Series(dtype=bool)` - https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.

[2019-02-06 18:48] mgoldey opened #25193 "Pip install of version 0.24 is broken for platforms without wheels"
#### Code Sample, a copy-pastable example if possible
Easiest way to reproduce this is in a fresh docker container, as below
[code]

#### Problem description

Note that pip installing numpy and then pandas does work
[code]
But the standalone command is broken.
[code]

Unfortunately, this means that a requirements.txt file is insufficient to for setting up a new environment with pandas installed (l

[2019-02-06 18:52] mgoldey commented on #25193
I believe this to be a function of recent changes because `pandas==0.23.1` *does* install numpy correctly.

[2019-02-06 19:04] mroeschke commented on #25177
Yes; already noted in https://github.com/pandas-dev/pandas/issues/16401. No explicit timeline on this feature but PRs always welcome!

[2019-02-06 19:04] #25177 closed

[2019-02-06 19:34] MarckK opened #25194 "Fix validation error type `SA05` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `SA05` (Reference name in `See Also` section does not need `pandas` prefix, use correct reference instead), fixing them in the code base enables the addition to the CI for automated testing in the future.

`SA05` has just 96 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd

[2019-02-06 19:34] MarckK commented on #25194
I'm working on this. :)

[2019-02-06 19:52] smsaladi commented on #25177
Didn't mean to open a duplicate issue...thanks!

[2019-02-06 20:04] moonshoes87 opened #25196 "minimal DataFrame.apply call causes RecursionError"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description

This code snippet did not cause a RecursionError in pandas 0.23.4 and earlier.  It occurs with pandas 0.24.0 and 0.24.1.

This is possibly similar https://github.com/pandas-dev/pandas/issues/23568.

#### Expected Output

Pandas Series:
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VE

[2019-02-06 21:05] jschendel commented on #25177
To expand on  @mroeschke' comment a bit: A lot of this functionality was just added in 0.24.0 but is not documented well beyond the API reference, which should certainly be improved (xref #16400).

This can be done via the [`IntervalArray`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.arrays.IntervalArray.html) (or [`IntervalIndex`](https://pandas.pydata.org/pandas-docs/stable

[2019-02-06 21:18] yarikoptic opened #25197 "any hints on errors during collecting the tests?"
While updating debian package for pandas 0.24.1 running into this odd error with pytest during collection.  Just wondered if someone might have an immediate clue so I don't waste too much time trying to catch the ghost (pytest pkg is 3.10.1-2):

[code]

<details>
<summary>All of it with versions etc (click to expand)</summary>

[code]
</details>

[2019-02-06 22:05] jschendel commented on #25197
The `environment.yml` and `requirements-dev.txt` files have the minimum version of `pytest` listed a 4.0.  Can you upgrade `pytest` and see if the errors are still present?

https://github.com/pandas-dev/pandas/blob/638ddebaa7da1e569836a5b89593b120dbbf491c/environment.yml#L22

https://github.com/pandas-dev/pandas/blob/638ddebaa7da1e569836a5b89593b120dbbf491c/requirements-dev.txt#L13

[2019-02-06 22:38] yarikoptic commented on #25197
Oh, that would be a bummer... We have only 3.10.1 in Debian unstable
https://packages.debian.org/sid/python-pytest and even older ones (3.x) available in other releases of Debian add Ubuntu... That would preclude testing on those platforms. I guess I will need to check if there is anything easy way to regain compatibility with older versions of that is the case (will update via pip later today to

[2019-02-06 22:41] yarikoptic commented on #25197
Heh, it seems that the boost to require 4.x was just to assist conda in solving dependencies
https://github.com/pandas-dev/pandas/commit/5b0610b875476a6f3727d7e9bedb90d370c669b5
ie there were no functional reason at that point (knowing which could have helped me now)

[2019-02-06 23:38] jbrockmendel commented on #25178
Just checked, isort doesn't recognizes same-directory as LOCALFOLDER without relative import

[2019-02-07 00:00] jbrockmendel opened #25200 "CLN: Remove pd.util._depr_module?"
AFAICT it isn't used anywhere

[2019-02-07 00:21] yarikoptic commented on #25197
with upgrade of pytest via pip situation improves 50% -- one error is gone but not the other:
[code]

[2019-02-07 00:42] jbrockmendel opened #25203 "REF: make dependency structure more DAG-like"
There are a handful of places where the dependency structure is _almost_ DAG-like.  If these can be smoothed out, reasoning about the code can be made easier.  I'll update this list as I encounter these places.

For reference, I'm treating as the "default" dependency structure that enforced by isort:

- `_libs`, 'errors', `compat`, and `util._*` are considered "upstream" of everything else.
   - W

[2019-02-07 01:39] gfyoung commented on #25049
@eromoe : Thanks for reporting this!  Indeed, something does look weird with this.  Do you mind posting the entire traceback for your error?  That could be useful in debugging.

[2019-02-07 01:42] gfyoung commented on #25048
Given this was a behavior change in `0.24.0`, while I don't see an easy fix (if any) for this, we should at least document this caveat for Windows.

[2019-02-07 01:45] gfyoung commented on #25052
I don't see why we don't.  Let's just add it.

[2019-02-07 01:51] gfyoung commented on #25072
I'm +0.5 on this.  I understand the appeal, but `print` statements can indeed hamper performance.

cc @jreback

[2019-02-07 01:52] ImportanceOfBeingErnest commented on #22334
This seems to be partially fixed in 0.24.1 where the code from above gives

![image](https://user-images.githubusercontent.com/23121882/52385596-9c6cc580-2a82-11e9-9256-7fc0a658ae7e.png)

However, this just brings to light the real problem, namely that the ticks are essentially only at the correct position by coincidence. E.g. if you let the axes autoscale,

[code]

the ticks are completely off.

[2019-02-07 01:52] jschendel commented on #25196
Thanks, I can confirm that this is broken on master:

[code]
And it worked on 0.23.4:
[code]

[2019-02-07 02:18] jreback commented on #25052
the coverage report now is not very useful

we are covering pandas.io.excel but codecov is not good at reporting it - welcome general fixing of coverage

[2019-02-07 02:23] jschendel commented on #25196
Issue appears to be caused by this line:

https://github.com/pandas-dev/pandas/blob/51fca4cc93bf3fcd529284b2c2e2ae88a44a5f40/pandas/core/apply.py#L113

Specifically `is_dict_like` considers `dict` to be dict-like, but I think the intention is that it should only look for initialized dict-like structures, and not the constructor functions themselves.  Note that this is inconsistent with `is_list_li

[2019-02-07 02:42] jschendel commented on #25197
cc @simonjayhawkins : any ideas on what could be causing this?

[2019-02-07 02:54] jreback commented on #25072
This does look useful, but the thing is i think you would need some sort of option to turn this on / off.

maybe better to just implement this as a context manager around a block of code

[2019-02-07 04:58] WillAyd opened #25205 "Docstring Validator Fails when 'integer' is valid argument"
There's at least one function where 'integer' is documented as an acceptable argument:

https://github.com/dsaxton/pandas/blob/120540448036a6eb64a80393f575bb31c38d8cc4/pandas/core/series.py#L1542

The docstring validator confuses this for a type then errors out by saying `integer` should be replaced with `int`

cc @dsaxton

[2019-02-07 05:15] gfyoung commented on #25072
I'm not sure I follow.  Doesn't choosing to pipe it through `tee` or not count of "turning on / off"?

[2019-02-07 05:49] gfyoung commented on #25200
Hold onto this for now.  We used it for deprecating entire modules.  I doubt that such a use case will not come along in the future.

[2019-02-07 06:08] gfyoung commented on #25193
cc @TomAugspurger

This is really weird, as doing `pip install pandas` (without `numpy` installed) seems to be just fine...

[2019-02-07 06:14] gfyoung commented on #25187
Yeah, we should change those to use `mask` instead of `where`.  Good catch!

[2019-02-07 06:16] gfyoung commented on #25185
I was unaware that our Excel IO functionality could even support that level of formatting (or styling) for `DataFrame`.  That being said, it would be nice if we could...

[2019-02-07 06:17] gfyoung commented on #25184
@gnilrets : You are more than welcome to investigate this!  For information about contributing, see here:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

[2019-02-07 06:19] gfyoung commented on #25184
@Altaisoft @gnilrets : Actually, I take that back.  I think we might have resolved this on `master`.  Can either one of you try installing our `master` branch and double checking?  If so, we would just need a test.

[2019-02-07 06:21] gfyoung commented on #25183
@josham : Given that you have a `NaN` in `value_y`, it would be impossible to have `Int64` (would be a floating dtype actually).  That being said, uncertain as to why you're getting `object` though...

cc @jreback

[2019-02-07 06:23] gfyoung commented on #25178
I would prefer absolute as well if possible, for similar reasons as @WillAyd described above.

[2019-02-07 06:28] Vibhu-Agarwal commented on #25190
This behavior is also observed with passing `'index'` for axis (for axis=0)

[2019-02-07 06:32] Vibhu-Agarwal commented on #25190
I want to work on this issue and solve it.

[2019-02-07 06:41] gfyoung commented on #25165
cc @toobaz

Interesting proposal, but statements like the one above worry me, since if we were to implement this, we would have to address those caveats and very clearly delineate which cases are (or are not) supported.

[2019-02-07 06:41] gfyoung commented on #25190
@Vibhu-Agarwal : By all means!  Investigation and PR are welcome!

[2019-02-07 06:45] simonjayhawkins commented on #25197
will take a look a bit later, but just off the top of my head for now:

the tests in `tests/resample/test_base.py` uses a `pytest_generate_tests` hook.

last time i looked this was the only use of that hook in the codebase, so that does not rule out the possibility that it could be a pytest issue.

the hook applies indirect parametrisation to any test in that module with a name ending in `_all_ts`

[2019-02-07 06:46] gfyoung commented on #25162
Making the codebase DAG-like is not necessarily the same as separating out pieces of the codebase from one another.  That being said if DAG and increased modularity happen to go hand-in-hand, by all means.

Also, is `_libs` actually a DAG though?

[2019-02-07 06:47] gfyoung commented on #25160
cc @TomAugspurger

Feel free to change the milestone as you see fit.  That being said, this sounds like a behavior change (whether correct or intentional or not).

[2019-02-07 06:49] gfyoung commented on #25158
A `fill_value` in `concat` sounds interesting.  I don't see why not actually...

cc @jreback

[2019-02-07 06:51] gfyoung commented on #25156
Good catch!

cc @TomAugspurger @Dr-Irv

xref #20366

[2019-02-07 06:51] gfyoung commented on #25154
cc @toobaz

[2019-02-07 06:53] gfyoung commented on #25138
cc @toobaz

[2019-02-07 06:53] gfyoung commented on #25184
cc @jreback

[2019-02-07 06:54] gfyoung commented on #25077
cc @jreback

[2019-02-07 06:55] gfyoung commented on #25077
cc @jreback @mroeschke

[2019-02-07 06:57] makbigc commented on #19389
Now, the behaviour is:

[code]
Should the TypeError be thrown in the case of subtraction (func `_sub_nat`)?

[2019-02-07 07:03] gfyoung commented on #25187
@jreback : I noticed that we use `_shared_docs` on `where` and `mask`.  Is there a reason for doing this?  I do understand they're pretty related, so I guess I can (sort of) see why they share doc examples...

[2019-02-07 08:14] jorisvandenbossche commented on #25193
@gfyoung I suppose you tried with binary wheels?

I can reproduce this with, installing the following in a fresh environment with just python and pip:

[code]

For pandas 0.23.4 it indeed works.

[2019-02-07 08:21] jorisvandenbossche commented on #25193
From a quick look, this might be caused by the changes in https://github.com/pandas-dev/pandas/pull/21879 (which I don't fully understand though), as it is caused by `maybe_cythonize` being ran in `setup.py` before setuptools is able to check and install dependencies.

cc @jbrockmendel

[2019-02-07 09:32] optilude commented on #24570
I was about to raise an issue for a problem with `pivot_table()`, but I believe it's the same bug. The relevant code is:

[code]

Here `chart_data` is a `DataFrame` with columns `age` (a `Timedelta`), `priority` (a string), and `key` (another string). There are no N/A values in any of those columns.

Before upgrading to Pandas 0.24.1 this worked. It now throws:

[code]

If I change the `pivot_tabl

[2019-02-07 09:36] snordhausen opened #25207 "Version 0.24.1 fails to install on Alpine Linux"
Running `pip3 install pandas==0.24.1` fails on Alpine Linux. Downgrading pandas to version 0.23.4 fixes the issue. Note that on Alpine Linux, both numpy and pandas get compiled (in contrast to e.g. Ubuntu, which is not affected).
I managed to reproduce the issue with the following `Dockerfile`:
[code]
The error also occurs if Alpine 3.9 is used or if pip3 is not upgraded.
The error message is:
[co

[2019-02-07 11:05] scootty1 commented on #25160
Imho seing this from a perspective of someone who is working with timeseries 24/7, this change of behavior *should be* unintentional.
Having synchronized axis is covered by `sharex=True`, while the behavior of the `0.23.4` "un"shared x-axis currently requires much larger effort to reproduce. Automatically sharing the x-axis of subplots (even though they are not shared in the meaning of setting new

[2019-02-07 11:56] jreback commented on #25072
once you write a tee that is turning it on
but if i take the code and go to production i would want to control this, similar to hownlogging works

[2019-02-07 11:59] jreback commented on #25200
i think we used this to deprecate datetools

+.25 with removing its potentially useful

[2019-02-07 12:01] jorisvandenbossche commented on #25207
@snordhausen Thanks for the report! I think is this a duplicate of https://github.com/pandas-dev/pandas/issues/25193

[2019-02-07 12:01] #25207 closed

[2019-02-07 12:02] jreback commented on #25183
I agree that this should be able to return Int types here; this was just put in place in 0.24 so may not be well handled for empty types

[2019-02-07 12:03] jreback commented on #25178
yeah i think this just adds mental overhead; you have to know what is local and what is not; let’s just be consistent and use absolute

[2019-02-07 12:04] jreback commented on #25165
this is implemented for multiindexing a while back so this looks like a bug

[2019-02-07 12:09] jreback commented on #25158
- this is quite complicated as you generally cannot use the same diol value across dtypes (except for nan)
- i don’t this adds any readibility (actually makes it less so)
- has almost no effect on perf
- all pandas operations fill with nan by default (with very few exceptions and though are explicit operations); where we do have a full option it is on a SINGLE column
- it’s just one more option, m

[2019-02-07 12:09] jorisvandenbossche commented on #25077
It's not really documented very clearly (under `unit` there is a mention of "float number"), but in any case it works in practice and is also tested behaviour:

https://github.com/pandas-dev/pandas/blob/5278cc6dc674c225c204532aeedca9df342f67c7/pandas/tests/indexes/timedeltas/test_tools.py#L104-L108

[2019-02-07 12:11] jorisvandenbossche commented on #24570
@optilude can you try to give a small reproducible example? (eg by creating a dummy dataframe with the specific dtypes you have that shows the problem)

[2019-02-07 12:13] jreback commented on #19389
this should be similar to how we treat a -/+ with a Timestamp (i think we raise)?

[2019-02-07 12:14] jreback commented on #25184
yep looks like a regression

[2019-02-07 12:26] snordhausen commented on #25193
@jorisvandenbossche You are right, this is the change that broke things. I checked with this Dockerfile:
[code]

[2019-02-07 12:27] jreback commented on #25077
this is just a precision issue.

[code]
try this to see full precision printing

[code]
not a bug / regression at all; I suppose docs could be enhanced

[2019-02-07 12:32] jorisvandenbossche commented on #25077
It's not just about display. The actual integer values have changed between 0.23 and 0.24. Before 0.24, the floats were converted to ints with a better precison.

0.23.4:
[code]

0.24.1:

[code]

Notice the 999997000 vs 999996999

[2019-02-07 12:46] jreback commented on #25077
are these exactly the same numpy version? this is at the precision limit

[2019-02-07 12:50] jorisvandenbossche commented on #25077
Yes, the same numpy version apparently. But, it's only the 6th decimal, that's a precision we should be able to handle.

[2019-02-07 12:56] #25194 closed

[2019-02-07 13:10] vladserkoff opened #25211 "maybe_cast_to_integer_array fails when the input is all booleans"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Pandas is unable to convert array of bools to IntegerDtype, while conversion to int is supported. What's interesting, if an arrays contains NaNs, then conversion goes as expected.
[code]
#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: N

[2019-02-07 13:15] optilude commented on #24570
Sure:

[code]

Throws:

[code]

[2019-02-07 13:17] Sup3rGeo commented on #25077
Just to add to the discussion from a user application perspective:

[code]

[2019-02-07 13:22] mhooreman opened #25212 "Vectorized datetetime replace"
#### Problem description

It seems that the ``replace``method of pandas Timestamps cannot be called in a vectorized way.

It obliges us to use ``apply`` or ``np.vectorize``, which is not good for performances.

#### Example code (unit test)

[code]

#### Curent Output

[code]

#### Expected Output

All unit test are OK

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
---------

[2019-02-07 13:32] jorisvandenbossche commented on #24570
OK, thanks. I can confirm the regression. It looks similar in underlying reason as https://github.com/pandas-dev/pandas/issues/25087, another reported regression.

[2019-02-07 13:34] danj1974 opened #25213 "BUG: object dtype & Int64Dtype equality comparison issue"
#### Code Sample, a copy-pastable example if possible

[code]
Example output:
[code]

#### Problem description

I want to process columns of a dataframe according to their type and have a list of numeric dtypes that I'm interested in (one of which is the newer `Int64` type).  However, I'm getting an issue with columns of  `object` dtype which also appears to be `in` this list of numeric types.
The

[2019-02-07 13:53] yarikoptic commented on #25197
uff -- pytest magic in all the fixtures setup/handling. As much I like assert statements introspection, as much I dislike the magics of pytest - tests quickly become not straight Python.  Thanks in advance @simonjayhawkins !  If really needed, can provide a full recipe to reproduce using e.g. Dockerfile recipe

[2019-02-07 14:00] jreback commented on #25213
directly comparing dtypes is never recomended, use the is_* functions and/or use ``.select_dtypes()``

[2019-02-07 14:01] jreback commented on #25213
``df['str'].dtype == pd.core.arrays.integer.Int64Dtype``
this might be suspect, but I am not sure we can actually change this as its a numpy dtype comparison

[2019-02-07 14:01] jorisvandenbossche commented on #25213
You have a difference in behaviour between the class and an instance:

[code]

You get the same with any class (which might be a strange behaviour in numpy comparison of object dtype)

[2019-02-07 14:35] vladserkoff commented on #25212
You should probably call one of `pd.Series.dt.tz_localize` or `pd.Series.dt.tz_convert` to remove the timezone.

[2019-02-07 14:39] jreback commented on #25212
-1 on .replace for DTI it is overly complicated in datetimesnans easier solutions already exist (look at .map / tz_localize and the accessors)

[2019-02-07 14:39] #25212 closed

[2019-02-07 14:59] sean2dre opened #25214 "BUG: SettingWithCopyWarning even if view"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

the given code example raies a SettingWithCopyWarning but it's no copy but a view!

<details>
python: 3.6.2.final.0
pandas: 0.24.1

[2019-02-07 15:08] #25214 closed

[2019-02-07 15:29] jbrockmendel commented on #25178
If someone can figure out a way to make isort respect the local-directory rule with absolute imports that'd go a fair way towards solving my gripes.

If we (well, the rest of you really) want absolute-only, this may merit a lint rule.

[2019-02-07 15:53] mhooreman commented on #25212
Oops!

Thanks

[2019-02-07 16:04] tdamsma opened #25216 "Remove python 2.7 testing"
Python 2.7 support is now dropped for 0.25, but the CI tests are still run against python 2.7

[2019-02-07 16:05] jbrockmendel commented on #25162
True.  In the case of `core.config`, if we want to avoid runtime imports in `_libs` (and I for one do), that does need to be moved outside of `core`.

No, but a subset of `_libs` modules satisfy the criterion, and I think it is worthwhile trying to gradually expand that subset.

- `tslibs` has no outside `_libs` dependencies, does have runtime imports for `to_offset`, `pd.get_option`, and `tm.set_

[2019-02-07 16:34] bicepjai commented on #21280
anyone working on this ?

[2019-02-07 16:36] jbrockmendel commented on #25193
`maybe_cythonize` wraps cython's `cythonize`, so we may need to get a fix upstream.  Shorter-term, I suppose there is something that happens within `setuptools.setup` that installs numpy (?) that we could shoe-horn into the top of maybe_cythonize

[2019-02-07 16:42] josham commented on #25183
@jreback I came across another merge issue with Int64. I can add to this issue or create another, let me know what you prefer.

[code]
[code]

[2019-02-07 16:45] jorisvandenbossche commented on #25193
What I understand from the diff in https://github.com/pandas-dev/pandas/pull/21879 is that before, we just passed `extensions` to the `setup(ext_modules=...)`, and now we already call `cythonize` (or the maybe wrapper) on them inside setup.py.
So my question then: what is exactly the reason that we started to use `cythonize` ? Or how do other projects deal with it?

[2019-02-07 16:50] jbrockmendel commented on #25193
cythonize is recommended way to compile cython modules.  A lot of the dependency tracking we used to do manually in setup.py cythonize handles automatically.  cythonize also takes care of figuring out which files need to be re-compiled vs are re-usable (I know statsmodels used to do this manually, not sure about pandas)

[2019-02-07 16:56] TomAugspurger commented on #21280
@bicepjai see https://github.com/rapidsai/cudf for a re-implementation of a dataframe on the GPU.

An extension array for letting you use a column an a pandas DataFrame backed by a CuPy array is not a lot of effort especially now that CuPy has the `__array_interface__`. https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/numpy_.py provides a good starting place. I suspect you could

[2019-02-07 17:06] toobaz commented on #25165
I agree this should work. The best fix might be a rewrite, but adding

[code]

after

https://github.com/pandas-dev/pandas/blob/683c7b55f5195fdf4f524239066cbf6f1301f0e7/pandas/core/indexes/multi.py#L2616

seems to solve this specific issue.

[2019-02-07 17:29] jrhaneydata commented on #19395
I just upgrade from Pandas 0.22 to 0.24, and my code is breaking. What's happening in my code appears related to this issue.

I have a worksheet in Excel with three tables in it. Those three tables have the same columns.

In version 0.22.0 of pandas, I could read all three of those tables into python with three read_excel statements, using the usecols argument to specify which part of the spreadsh

[2019-02-07 17:39] toobaz commented on #25154
Definitely a bug. There might be a cleaner fix, but for the moment replacing the following line

https://github.com/pandas-dev/pandas/blob/683c7b55f5195fdf4f524239066cbf6f1301f0e7/pandas/core/indexes/multi.py#L2652

with
[code]

should do.

[2019-02-07 17:41] mroeschke commented on #25216
https://github.com/pandas-dev/pandas/pull/24942 is already in motion converting the 2.7 builds to 3.5 compatibility builds.

[2019-02-07 17:52] simonjayhawkins commented on #25197
@yarikoptic just had a quick look to refresh memory. seems weird that `test_resample_empty_dataframe_all_ts` is causing a problem since 'test_resample_empty_series_all_ts` just before it is effectively using the same fixtures, so i would expect it to fail there is there was an issue with pytest and/or dependencies.

at the time i added the pytest_generate_tests, i was not totally happy using the t

[2019-02-07 18:29] jorisvandenbossche commented on #25193
But this `cythonize` should only be called when we actually want to compile *cython* sources? While for an sdist, we already cythonized and you only want to compile the C sources. So should we have some conditional somewhere in there? Related to that, isn't this what the custom `cmd_class` is for? (to cythonize in the `_build_ext`)

Can you detail this thought a bit more?

[2019-02-07 18:36] Code4SAFrankie opened #25218 "Pandas read_html loses comma"
#### Code Sample

[code]
#### Problem description

The last column (Geletterdheidskoers) has a value for the country Togo that is 532 instead of 53,2. This might be related to the fact that the row before that (for Jemen) incorrectly uses a period instead of a comma to indicate the decimal point.

#### Expected Output

53,2

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----

[2019-02-07 18:43] jbrockmendel commented on #25193
I don't know what happens within `setuptools.setup`, but am speculating that there is something like:

[code]

So the thought was that if `maybe_cythonize` being called before `setup` was a problem because dependencies were not installed, this might be fixable by calling `install_declared_dependencies` at the top of `maybe_cythonize`.

Again, pure speculation.

[2019-02-07 18:47] jbrockmendel commented on #19389
The "correct" way to solve this would be to implement #24983.

The issue is in how we treat `pd.NaT`.  In most cases, we treat it is a datetime.  In a few cases we treat it like a timedelta.  The rule seems to be "1) if it can be treated as a datetime without raising, do that.  2) otherwise treat it as a timedelta" but I don't think we're consistent about part 2 there (and am not sure we _should_

[2019-02-07 18:57] TomAugspurger commented on #25193
We also need to update the release infra or testing to ensure that the pip test environment does not have Cython installed.

[2019-02-07 19:11] tdamsma commented on #25216
I really tried to look for a similar issue but somehow missed it. Will close

[2019-02-07 19:11] #25216 closed

[2019-02-07 19:36] jorisvandenbossche commented on #25193
I don't think we want to start meddling with how setuptools installs dependencies. It seems our use of the custom `cmd_class` made this work before (the check for where numpy's include path is also done in there), so maybe we will need to revert the use of cythonize? (or at least make it conditional on the presence of already compiled c files)

We should probably also look again into PEP517/518 su

[2019-02-07 19:42] TomAugspurger commented on #25193
Ah, yes. We do at
https://github.com/pandas-dev/pandas-ci/blob/master/ci/install.sh#L23.

I guess the issue here is that that env still has *numpy* installed. So we
should maybe just create a clean env with just Python and pip.

On Thu, Feb 7, 2019 at 1:36 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-02-07 19:42] jorisvandenbossche commented on #25193
It seems to be uninstalling cython, but maybe we should also uninstall numpy? https://github.com/pandas-dev/pandas-ci/blob/master/ci/install.sh#L23

[2019-02-07 20:29] toobaz commented on #25138
The problem is in ``reindex`` when working with ``MultiIndex``:
[code]

... somewhere inside ``_reindex_axes``, in ``pandas/core/generic.py``.

[2019-02-07 22:21] st-bender opened #25220 "Keep (un-deprecate) `read_table()` for API stability"
#### Problem description
`read_table()` got deprecated in favour of using `read_csv()`.

Using `read_csv()` to read tab/space delimited files is counter-intuitive. According to the docs and the related issues, both share the same code and it is not clear why the one function should be preferred over the other, and that change may even break existing code.

In my point of view `read_table()` is the

[2019-02-07 23:51] jreback commented on #25220
pls reference the issue where this was deprecated

also you might want to highlite and rebut some arguments there

[2019-02-08 00:51] Haigutus opened #25221 "pivot and pivot_table not able to handle complex numbers"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

pivot and pivot_table not able to handle complex numbers

#### Expected Output

pivoted table, as demonstrated above with string values, but with complex values

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
--------------

[2019-02-08 00:57] jreback commented on #25221
we generally have only little support for complex dtypes, but enhancements would be welcome

[2019-02-08 01:17] WillAyd commented on #25218
The source table is definitely a little wonky but sure I don't think this should just ignore the decimal point. Investigation and PRs certainly welcome

[2019-02-08 01:18] WillAyd commented on #25211
Thanks for the report! That does seem strange that NA is required here.

Investigation and PRs are always welcome

[2019-02-08 01:25] daviddeery opened #25222 "pandas.Series.dt.round inconsistent with freq = 'H'"
#### Code Sample

[code]
#### Problem description

07:30 and 09:30 are rounded **up** to the hour. 08:30 is rounded **down** to the hour. I find this inconsistent. I think my expected output below is more consistent, where 08:30 is rounded **up** to 09:00.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line

[2019-02-08 01:38] jreback commented on #25222
pls try on 0.24.1

[2019-02-08 01:43] mroeschke commented on #25221
Could you post a minimally reproducible example? Ideally something we can copy and paste and include as a unit test

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-02-08 02:19] #25180 closed

[2019-02-08 02:25] WillAyd commented on #25185
This is somewhat related to #22773

So right now there's not a great API to do this. This is controlled internally by the `header_style` property of the ExcelFormatter class:

https://github.com/pandas-dev/pandas/blob/683c7b55f5195fdf4f524239066cbf6f1301f0e7/pandas/io/formats/excel.py#L385

That's not part of the exposed API, nor is it an exposed attribute of the Styler object as that instantiates

[2019-02-08 02:49] #25104 closed

[2019-02-08 02:51] #24526 closed

[2019-02-08 03:44] jschendel commented on #25222
I think this is actually the proper behavior, albeit unintuitive the first time you encounter it, and is consistent with the rest of the Python ecosystem.  The rule for rounding is that exact halfway cases are  rounded to the nearest even result.  This has a few advantages, for example, it's less prone to introducing positive or negative bias.  See the [Python 3.x rounding behavior](https://stacko

[2019-02-08 03:44] #25222 closed

[2019-02-08 04:25] adesorme commented on #16822
I'm still facing this issue...

[2019-02-08 05:00] mroeschke commented on #14280
IMO this is out of scope for pandas. A few IO functions can read from urls but they are essentially treated like file handles. Wrapping pandas IO routines to handle timeout issues would be a better solution. Closing as there seems not to be much traction.

[2019-02-08 05:00] #14280 closed

[2019-02-08 05:15] mroeschke commented on #9236
Looks to be fixed on master. I imagine this edge case could use a test.

[code]

[2019-02-08 05:43] mroeschke commented on #16771
Works on master now. Could use a test

[code]

[2019-02-08 07:42] jorisvandenbossche commented on #25077
I think this is caused by https://github.com/pandas-dev/pandas/pull/23539. In that PR, a new code path for floats was added in `sequence_to_td64`:

https://github.com/pandas-dev/pandas/blob/0eddba88332e9b7f41b838e503c155f7ebe4d9a1/pandas/core/arrays/timedeltas.py#L918-L926

While before that PR, floats were handled by (the slower) `array_to_timedelta64` (which is now exposed in `objects_to_td64ns`

[2019-02-08 08:35] jorisvandenbossche commented on #22334
Ah, thanks for the link, that is probably the issue I was looking for.

Contributions are very welcome!

[2019-02-08 08:44] st-bender commented on #25220
Thanks,
relevant issues are: #18262, #21948 and PR #21954
Tried to add some discussion there, but so far no reaction that's why I opened a new issue.

[2019-02-08 09:07] danj1974 commented on #25213
Thanks for the responses.  I think the first one pretty much nails it - the `is_*` functions are much better suited to this purpose, and the third one helps to explain why comparing dtypes directly is not a good approach.

[2019-02-08 09:07] #25213 closed

[2019-02-08 09:08] xhochy commented on #25193
For declaring build time requirements there is the `pyproject.toml` nowdays: https://www.python.org/dev/peps/pep-0518/ It behaves very similar to `setup_requires` except that `pip` can also deal with. I think `setup_requires` installed dependencies through `distutils`. `pyproject.toml` specified build requirements are installed before `setup.py` is called.

I'll submit a PR.

[2019-02-08 09:41] vladserkoff commented on #25211
I've found the source of the discrepancy between the arrays with and without NA, it's in `pandas.core.arrays.integer.coerce_to_array`:
https://github.com/pandas-dev/pandas/blob/0eddba88332e9b7f41b838e503c155f7ebe4d9a1/pandas/core/arrays/integer.py#L179
https://github.com/pandas-dev/pandas/blob/0eddba88332e9b7f41b838e503c155f7ebe4d9a1/pandas/core/arrays/integer.py#L190-L192
When `np.array` is calle

[2019-02-08 09:45] jorisvandenbossche commented on #25193
@xhochy yes, we did that before, but reverted it after lots of troubles (https://github.com/pandas-dev/pandas/issues/20775, https://github.com/pandas-dev/pandas/pull/20718). But as I said above, we should probably look into it again, since it seems that most of the problems we had last year are more or less solved in pip nowadays. I am only not fully sure if we should do it for a bug-fix release t

[2019-02-08 09:57] xhochy commented on #25193
@jorisvandenbossche I will dig a bit deeper into the `pyproject.toml` problems and see if I can get it working. There are some issues and lengthy bug reports I'm currently scanning but I like this approach and would love to see it working.

[2019-02-08 10:00] jorisvandenbossche commented on #25193
Yes, for sure we should try to add it again (and thanks for looking into it!). I am mainly wondering if we should see it as a fix for this issue (for 0.24.x).

[2019-02-08 11:26] jreback commented on #25220
my point is to summarize the arguments in this issue (for and against)

[2019-02-08 12:02] pj1989 opened #25226 "Extending the grouper `base` argument"
#### Problem description

`pd.Grouper`'s  `base` argument is almost undocumented ([link](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Grouper.html)). Despite this, the argument is extremely useful when grouping a dataframe with uneven sampling rate with an arbitrary start time.

Take for example the case of a dataframe representing a 60 minutes experiment with uneven sampl

[2019-02-08 12:38] MarckK commented on #25106
In this docstring, NDFrame is pretty central to what is being communicated.

![doc_string](https://user-images.githubusercontent.com/15032115/52478709-22c9fa00-2b9e-11e9-8eab-a478aed9dca6.png)

Not sure how I should rewrite the docstring without being abstruse.

[2019-02-08 12:53] rbenes commented on #25218
sign ```,``` is handled as a thoushand separator (see https://github.com/pandas-dev/pandas/blob/master/pandas/io/parsers.py#L2920 where ```self.thousands = ','``` )

[2019-02-08 14:05] simonjayhawkins commented on #25106
@MarckK : i'm not 100% certain but I think you'll be able to just use DataFrame and/or Series in place of NDFrame now. Also, it may not be worth fixing the errors on the Panel method docstrings. is there a way to skip the GL04 check?

[2019-02-08 14:45] MarckK commented on #25106
Hi @simonjayhawkins, the GL04 check is not currently part of CI. A number of checks were suggested as additions and are slowly being added in.

I'll just leave this to the side for now.

[2019-02-08 15:07] Joapfel opened #25228 "read_csv() drops randomly datapoints (lines)"
[code]
Above code results in "df_test" having 19988 lines, but the original file "utterances_test.txt" has exactly 20000 lines.

This can be confirmed by running
[code]
in the terminal.

Also reading the file in myself with python also results in 20000 lines.

Above file attached.

[utterances_test.txt](https://github.com/pandas-dev/pandas/files/2845609/utterances_test.txt)

[2019-02-08 15:28] kkraus14 opened #25229 "DISCUSS: What would an ORC reader/writer API look like?"
cc @mrocklin for dask.dataframe visibility

I'm one of the developers of https://github.com/rapidsai/cudf and we're working on adding GPU-accelerated file readers / writers to our library. It seems most of the standard formats are covered quite nicely in the Pandas API, but ORC isn't. Before we went off defining our own API I wanted to open a discussion for defining what that API would look like s

[2019-02-08 16:11] xhochy commented on #25229
+1 for making it look like the Parquet API. Both formats are very similar and could be considered as "competitors". They should also roughly match on the `pyarrow` in future (ORC is currently missing Dataset support in the style of `pyarrow.parquet.ParquetDataset` and we're missing a writer API which makes testing hard).

We can skip the `engine` argument here though as there is only one implement

[2019-02-08 17:00] jreback commented on #25229
is this 'close' enough to parquet in people's minds, that we could just add a  ``flavor='parquet|orc'`` to the parquet readers/writer (in pandas) then appropriately dispatch?

[2019-02-08 17:09] jbrockmendel commented on #25077
@Sup3rGeo it looks like @jorisvandenbossche has found the source of the issue.  The quoted code in arrays.timedeltas needs to use the quoted code in tslibs.timedeltas instead of numpy's `astype`.  Want to make a PR with a fix?

[2019-02-08 17:13] mrocklin commented on #25229
From a user perspective I think that it might be better to have explicit `read_parquet and `read_orc` functions.  Though of course on the implementation side hopefully there is some reuse as Arrow's ORC reader becomes more consistent with its parquet reader.

+1 to everything that @xhochy said

[2019-02-08 17:24] kkraus14 commented on #25229
+1 to having separate functions for `read_parquet` and `read_orc` and everything that @xhochy suggested.

[2019-02-08 18:18] MarckK opened #25232 "Fix validation error type `PR08` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `PR08` (Parameter description should start with a capital letter), fixing them in the code base enables the addition to the CI for automated testing in the future.

`PR08` has 156 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)), including:

method | file |

[2019-02-08 18:19] MarckK commented on #25232
I'm working on this.

[2019-02-08 18:38] Code4SAFrankie commented on #25218
It might be that this can be solved by just adding a parameter to not interpret numbers and rather just leave them as strings which can then be cleaned up manually later.

[2019-02-08 18:56] vamlumber commented on #17048
The problem still exists , I am loading a 5GB json file with 16 GB ram ,but still i get memory error . The lines true attribute doesnot work as expected still

[2019-02-08 19:11] otro-mas1 commented on #25228
I usually use \ t as a separator precisely to avoid confusion with '  " , ;

I was surprised by the behavior. In case you're worth it, I've tried a workaround

`
df_test = pd.read_csv('utterances_test.txt', sep='\n' , engine='python', header=None, verbose=True, names=['line'])

df_test.shape

df_test=df_test['line'].str.split('\t', expand=True)
df_test.columns=['id', 'line']

df_test.info(memory_u

[2019-02-08 19:58] ZaxR commented on #22555
@dhimmel and @gfyoung - Now that we've reached the new year/pandas release, any update on this enhancement? Would really love this capability :)

[2019-02-08 20:27] gfyoung commented on #22555
@ZaxR : Thanks for the ping!  We're still in the process of releasing versions that are Python-2-compatible, so we might want to hold on this a little longer.  That being said, proposals are a pure Python-3-compatible implementation would be great 👍

[2019-02-08 22:04] chris-b1 commented on #25228
You have quotes in your data - use the `quoting` param to control this - docs [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

[code]

[2019-02-08 22:04] #25228 closed

[2019-02-08 23:37] #16344 closed

[2019-02-09 00:51] ApolllonDev commented on #9606
Hi, may I work on this issue?

[2019-02-09 01:51] WillAyd opened #25235 "Broken Benchmarks in CI"
Having seen this on a couple PRs now it looks like the following bechmarks are causing build failures as they fail to run

frame_methods.Repr.time_html_repr_trunc_mi

<details>

[code]

</details>

frame_methods.Repr.time_html_repr_trunc_si

<details>

[code]

</details>

[2019-02-09 01:51] WillAyd commented on #25235
cc @qwhelan

[2019-02-09 02:19] qwhelan commented on #25235
@WillAyd Have a fix but trying to identify the actual cause first.

[2019-02-09 02:47] tikael1011 opened #25236 "BUG: .loc indexing into MultiIndex with tuple with non-found keys gives wrong error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above piece of code works in 0.23.4, yet after I upgraded to 0.24.1, it throws

[code]

I did compare that part of source code in both 0.23.4 and 0.24.1, and they look like the same.(maybe I am wrong) Please help.

#### Output of ``pd.show_versions() for 0.23.4``

<details>

INSTALLED VERSIONS
-------------

[2019-02-09 02:57] qwhelan commented on #25235
@WillAyd Can you link an example? It looks like `asv` calls `sys.stdin.close()` in certain cases prior to the benchmark being run, which causes `IPython` to break on import. However, it doesn't do this in all cases so I'd need an example to see if we can step around it.

For reference, the suspicious line is here: https://github.com/airspeed-velocity/asv/blob/f8e102283c0ac284b0bd8af5637617c1061414

[2019-02-09 08:06] jorisvandenbossche commented on #25193
@jbrockmendel would you have time to look into this? I might think that with some conditional check before calling the cythonize (whether both cython and numpy are installed, like we now already have a check that cython is installed), it might work

[2019-02-09 08:43] jorisvandenbossche commented on #25236
@tikael1011 Can you please provide a reproducible example? So some code that creates the `df` and `df_full` dataframes. Otherwise it is impossible to know what is going on.
(see eg http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for more explanation)

[2019-02-09 09:00] tikael1011 commented on #25236
[code]

Hopefully these snippet is adequate.

[2019-02-09 09:04] jorisvandenbossche commented on #25236
Please provide *runnable* code. Something we can copy paste in a python session and execute. The above makes use of unknown variables.
If the example dataframes you show are sufficient to reproduce the issue, you could adapt the code to create and use those.

[2019-02-09 09:09] tikael1011 commented on #25236
it is 4 am here...I will provide runnable code with some real data asap

[2019-02-09 09:10] jorisvandenbossche commented on #25236
No hurry!
And to be clear: the reason we ask this is because we get a *lot* of bug reports, and it is *very* helpful if bug reports provide a clear, minimal reproducible example. Otherwise the chance is high it will not get much attention.

[2019-02-09 09:30] rbenes commented on #25218
add setup of thousands to ```read_html()``` ```thousands=None```  and it works:

[code]

[2019-02-09 13:59] Code4SAFrankie commented on #25218
Thanks that did the trick.

[2019-02-09 13:59] #25218 closed

[2019-02-09 14:31] TomAugspurger commented on #25235
This is a duplicate of an issue I opened (and I have a PR fixing it).

[2019-02-09 14:31] TomAugspurger commented on #25235
https://github.com/pandas-dev/pandas/pull/25150 If anyone wants to merge / update. I won’t be able to for a bit.

[2019-02-09 15:12] nmusolino opened #25239 "DOC: Meaning of Timestamp `freq` attribute is unclear in docs"
#### Problem description

The `freq` attribute of the `pandas.Timestamp` class is not well explained on the class's documentation page.

For background, there is an existing issue #15146 which proposes removing the `freq` attribute.  I agree with that proposal, although I don't know how much technical complexity weighs against that.

If pandas decides not to deprecate/remove it, the documentation

[2019-02-09 15:15] fran6w opened #25240 "Unexpected behavior of the str attribute which is working with Series of list"
#### Code Sample, a copy-pastable example if possible

import pandas as pd
s1 = pd.Series(['AA/aa', 'BB/bb', 'CC/cc'])
s2 = s1.str.split('/')
s2.str[0]

Result:
0    AA
1    BB
2    CC
dtype: object

#### Problem description

In this example, the second 'str' attribute is applyied to a Series of list and not to a Series of string.
Then the [] operator works fine with each list an retrieve their fi

[2019-02-09 15:45] nmusolino opened #25241 "BUG: pandas Timestamp tz_localize and tz_convert do not preserve `freq` attribute"
The `pandas.Timestamp.tz_localize()` and `pandas.Timestamp.tz_convert()` methods do not preserve the `freq` attribute.  For background, the `freq` attribute is mostly a "helpful label", and it seems semantically ill-defined to me; cf. issue #15146, which proposes removing the attribute.

#### Code Sample

[code]

#### Problem description
I don't think that `pandas.Timestamp` should actually have a

[2019-02-09 15:56] charlesdong1991 opened #25242 "ENH: accept None behaviour for suffixes in DataFrame.merge"
#### Problem description

xref: #24782

See the comment in https://github.com/pandas-dev/pandas/pull/24819

[2019-02-09 16:44] mroeschke commented on #25239
I think there's an overall preference to remove this attribute from Timestamp (cc @jbrockmendel), and if that's the case, the work is better spent deprecating this attribute.

[2019-02-09 16:49] jbrockmendel commented on #25239
I'd generally like to see `freq` go.  The thing that comes up is what to do with the `is_foo_begin` properties that rely on `freq`.

[2019-02-09 16:52] #25061 closed

[2019-02-09 16:54] #25196 closed

[2019-02-09 16:56] mroeschke commented on #25241
`self.tz` needs to be passed in these places. Agreed with you opinion on freq. PR's welcome!

https://github.com/pandas-dev/pandas/blob/d7a0964b359d37ef92045f24a570aa92a78568dd/pandas/_libs/tslibs/timestamps.pyx#L1190

https://github.com/pandas-dev/pandas/blob/d7a0964b359d37ef92045f24a570aa92a78568dd/pandas/_libs/tslibs/timestamps.pyx#L1195

https://github.com/pandas-dev/pandas/blob/d7a0964b359d37

[2019-02-09 16:56] #25170 closed

[2019-02-09 17:25] #25235 closed

[2019-02-09 17:26] #25029 closed

[2019-02-09 18:52] charlesdong1991 commented on #25241
you mean `self.freq` should be passed, right?

[2019-02-09 19:08] nmusolino commented on #25239
For the record, I agree with you, @jbrockmendel , and would like to see `freq` be deprecated.  In a way, the difficulty of writing a succinct description in a docstring is an indicator that it's an awkward fit.

[2019-02-09 22:05] jbrockmendel opened #25250 "Compat: re-write legacy files for io tests"
#25238 introduced a kludge in test_pickle and test_msgpack to ignore the Panel objects when unpickling/unpacking files produced using older versions.  The right way to do this is to re-write those files without Panels in them to begin with.

[2019-02-09 22:13] gnilrets opened #25251 "Pandas mapper enhancement"
I wrote a package that monkey patches pandas to allow support of writing concise error-trapping field transformations (https://github.com/inside-track/pandas-mapper).  Would there be any interest in integrating this directly in pandas (or any objection)?

[2019-02-09 22:52] gfyoung commented on #25200
@jreback : Yes, that's right.  This was a pretty nifty way of doing so, so I'm not really inclined to remove it any time soon given its usefulness.

[2019-02-09 22:55] gfyoung commented on #25226
cc @jreback regarding the enhancement

@pj1989 : We'll probably need to discuss the enhancement further, but in the meantime, documentation on `base` would definitely be appreciated!

[2019-02-09 23:00] gfyoung commented on #25240
Hmm...I'm not sure why the `str` is even available in `s2`, since the values are `list`, not `string`.

That looks like a bug to me.

[2019-02-09 23:02] gfyoung commented on #25250
Unless we plan to explicitly drop support for older files, I don't think all of them should be rewritten.  Most of them sure, but we should leave a couple of tests to ensure backwards compatibility of some sort.

[2019-02-09 23:04] gfyoung commented on #25251
cc @jreback

[2019-02-09 23:07] gfyoung commented on #25240
cc @jreback

[2019-02-09 23:08] jreback commented on #25250
the idea is to rewrite them with the older version of pandas but with the generate from master

this ensures that Panels are not written but ensures backward compat

[2019-02-09 23:16] MarckK opened #25252 "Fix validation error type `PR08 ` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `PR08` (Parameter description should start with a capital letter), fixing them in the code base enables the addition to the CI for automated testing in the future.

Please see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4).

Todo:

* [ ]    get rid of the errors in the cod

[2019-02-09 23:16] MarckK commented on #25252
I'm working on this.

[2019-02-09 23:38] #25149 closed

[2019-02-10 00:59] nmusolino commented on #25205
This is the culprit in validate_docstrings.py:

https://github.com/pandas-dev/pandas/blob/5f73594d49ea06ada4c6779006c00aaf41935595/scripts/validate_docstrings.py#L675-L683

It would be possible (but not pretty) to use a regex to distinguish the case where "integer" is inside a string literal, as in the docstring for pandas.Series.to_sparse().

[2019-02-10 00:59] gfyoung commented on #25211
I would prefer casting to `int` actually.  This approach seems a little special-casey, but trying to modify EA logic is by no means straightforward and has its own landmines.  Give this a shot!

[2019-02-10 01:15] mroeschke commented on #25143
So the biggest issue with this is that `infer_datetime_format` is producing an incorrect datetime format
`'%Y-%m-%d %H:%M:%S+%f'`, and coerce is _technically_ doing this right thing here by coercing the result to `NaT` since the format is wrong. But I think a better fix to to make sure  `_guess_datetime_format` can detect timezone offsets as well

[2019-02-10 06:29] karldw opened #25257 "concat(..., copy=False) with datetime tz-aware data raises ValueError: cannot create a DatetimeTZBlock without a tz"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Running `pd.concat` with a single dataframe and `copy=False` fails, giving an error about  `cannot create a DatetimeTZBlock without a tz`.

Closely related:
- https://github.com/pandas-dev/pandas/issues/19420
- https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3AReshaping+label%3ATimezones

[2019-02-10 10:25] justineuroHP opened #25258 "IOError: [Errno 2] while building pandas doc"
**Describe the bug**
Got an `IOError: [Errno 2]` when I tried to build the [pandas docs](https://github.com/pandas-dev/panda) in Ubuntu 18.04 LTS (Bionic Beaver) running in Windows 10.  I initially posted this at `sphinx-doc` issues: [#6049](https://github.com/sphinx-doc/sphinx/issues/6049#issue-408502477) and [#6049-reply](https://github.com/sphinx-doc/sphinx/issues/6049#issuecomment-462114284) a

[2019-02-10 11:44] TomAugspurger commented on #25257
Can you post the full traceback?

Any interest in working on this?

[2019-02-10 11:51] fran6w commented on #25240
In fact, I have looked at the file core/string.py, lines 1729+, try:

import pd
help(pd.Series.str.get)

The str_get() function is documented and explains that it is able to extract element from each component at specified position. Examples with strings, list, tuple, dict.

My opinion is that the str accessor has indeed a broader use than it is explained in the main pandas documentation, e.g., ht

[2019-02-10 15:40] mr-yoo opened #25259 "replace method with comma separator does not work in pandas 0.24.1"
### The latest version (0.24.1) does not replace comma separator, but 0.23.4 does.

[code]

[code]

[code]

If other characters are used with a comma, it works normally
[code]
[code]

[2019-02-10 16:05] AllanLRH commented on #25072
It was not intended for production code, but as a debugging tool. And when it comes to debugging code, a simple `print` can sometimes be just what you need, since it doesn't require you to set up a logging system to do a quick bit of debugging.

I do see the value in being able to turn it on or off, but writing it as a context manager requires reformatting of the code, rather than just adding a si

[2019-02-10 17:26] albertvillanova commented on #25006
@WillAyd and what should be the expected result for a DataFrame with non-aligned NaNs?
[code]

[2019-02-10 19:27] gfyoung commented on #25240
@fran6w : Ah, I see.  In this case, I think we just need to document this much more thoroughly at the link you provided above.  Thus, I'm less inclined to believe your example is buggy and is in fact expected behavior, in light of the behavior of `str_get`.

cc @jreback

[2019-02-10 20:17] karldw commented on #25257
I edited to add the full traceback.
I don't think I have the time to solve this.

[2019-02-10 21:16] AntonVlasenko commented on #16943
@toobaz

This is almost bizarre how you helped me with getting a dataframe by multiindex. Thank you!

[2019-02-10 21:32] CDBridger commented on #22957
so if I'm reading this right, the reason why I am getting that exact example error from the first post when running append, is because I have columns between my two frames that have the same name but contain different types of data?

[2019-02-10 22:27] rgommers commented on #10000
Is the Google Doc linked in the description currently the best publicly available Pandas roadmap? Or https://pandas-dev.github.io/pandas2/goals.html#id1? Or is it all so out of date that it's better to state that there currently isn't any roadmap?

[2019-02-10 22:38] TomAugspurger commented on #10000
https://github.com/pandas-dev/pandas/wiki/Pandas-Sprint-(July,-2018)#towards-pandas-10 is probably the most up to date, though there are already some inaccurate items.

0.24.0 was just released in January, so 0.25.0 will be a few months from now, and 1.0 sometime in the middle of the year (perhaps at SciPy?)

[2019-02-11 00:03] rgommers commented on #10000
Thanks @TomAugspurger!

[2019-02-11 00:15] michaelaye opened #25261 "plotting: subplots_adjust prevents use of constrained_layout=True"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Plotting time-series uses pandas-internally a subplots_adjust, but due to this I am unable to use the new matplotlib constrained_layout that would take care of these things automatically.

#### Expected Output
A good layout that respects my constrained_layout setting to plt.subplots()

#### Output of ``pd.show_v

[2019-02-11 00:53] rfernand2 commented on #24962
Sorry for the delay.  Here is a failing test case:

`# pandasJsonLoader: test out ability of pandas JSON loader to preserve column order
import pandas

json_str = '''[
     {
      "Name":"chevrolet chevelle malibu",
      "Miles_per_Gallon":18,
      "Cylinders":8,
      "Displacement":307,
      "Horsepower":130,
      "Weight_in_lbs":3504,
      "Acceleration":12,
      "Year":"1970-01-01",

[2019-02-11 01:02] WillAyd commented on #25006
@albertvillanova not sure I understand the distinction you are trying to make; this should work against each series in a DataFrame individually

[2019-02-11 01:05] rfernand2 commented on #24962
Not sure how I closed this issue - Reopening it again.

[2019-02-11 01:31] memeplex commented on #19706
I can confirm that this is working for me after last system update. I'm pretty bleeding edge on arch so YMMV.

[2019-02-11 02:24] nmusolino commented on #25251
As a genuine question, how does this compare to using `DataFrame.assign()`?  For example, the zero-to-one, one-to-one, and many-to-one examples:

[code]

could be written:

[code]

(`assign` also takes callables for cases where the dataframe is an intermediate value.)

I could see some cool possibilities if the mapper objects represented deferred operations, and only computed the new columns on an

[2019-02-11 02:29] nmusolino commented on #25258
I get a similar error, with the same stacktrace, on Mac OS X v10.13.6:

[code]

[2019-02-11 04:06] PetitLepton commented on #25259
Hi, it is not related to commas. In your example @mr-yoo, if you try to replace `,0`, it also fails. The replacement works only if the pattern is the beginning of the string
[code]

[code]

[code]

Can it be related to
[code]
in managers.py?

`re.match` checks only if the beginning of the string matches. Should it be `re.search`? From my tests, it seems to reproduce the previous behaviour.

[2019-02-11 06:44] WillAyd commented on #25259
@PetitLepton seems logical, so maybe introduced as part of https://github.com/pandas-dev/pandas/issues/20656

Would certainly welcome a PR to fix if you are up for one

[2019-02-11 08:24] fran6w commented on #25240
Indeed. Updating the documentation would be great.

BTW, if you take this example below, the global behavior of the str accessor remains strange. For instance, the contains(regex=False) method works fine for Series of list (or dict).

import pandas as pd
s1 = pd.Series(['AA/aa', 'BB/bb', 'CC/cc'])
s2 = s1.str.split('/')
s2.str.contains('AA', regex=False)

Result:
0     True
1    False
2    False
d

[2019-02-11 10:54] vladserkoff commented on #25211
Well, my PR seems to fix this issue but the tests are failing with several similar errors:
[code]

[2019-02-11 12:48] TomAugspurger commented on #25261
What does a fix for this involve?

[2019-02-11 12:52] #25184 closed

[2019-02-11 12:55] jreback commented on #25197
merged #25262, see if this helps you (note I merged to 0.25, but trivial to backport if it helps)

[2019-02-11 12:56] StevenLi-DS commented on #24918
@jackieleng I'm having an issue with `.isin()` but not sure if this is related to this issue.
[code]
However, I expect `.isin()` returns
[code]
Am I missing something? Or is this a bug? If so, is there any workaround for the time being?

[2019-02-11 13:09] #25241 closed

[2019-02-11 13:24] #25105 closed

[2019-02-11 14:23] michaelaye commented on #25261
How about a config flag that is being checked that tells if user wants to have subplots adjusted?

Sent from my iPhone

[2019-02-11 14:31] TomAugspurger commented on #25261
That'd be somewhat unusual for pandas. I don't think we have any other
config options.

Is matplotlib's constrained_layout strictly better than pandas current
stuff? I'd be happy to just let matplotlib take care of it.

On Mon, Feb 11, 2019 at 8:24 AM K.-Michael Aye <notifications@github.com>
wrote:

[2019-02-11 14:32] #20257 closed

[2019-02-11 14:32] #23815 closed

[2019-02-11 14:32] #24713 closed

[2019-02-11 14:41] SylvainLan opened #25269 "Numpy 1.16 and pickle retrocompatibility"
Hi,

I don't really know if this matter should be posted in pandas but here is the issue I noticed.

If you save a DataFrame into pickle (using `to_pickle`) on a virtualenv that has `numpy>=1.16` and want to open it with another virtualenv with `numpy<=1.15.4`, the following error is thrown :
[code]

Which is a feature of `numpy=1.16`. This issue could be of interest because the numpy version down

[2019-02-11 14:43] rasbt opened #25270 "Indexing bug with Sparse DataFrames and column names not starting with `0`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the example above, the Pandas SparseDataFrame method `to_coo()` (and possibly others) cannot handle sparse dataframes if the column names are integer types and don't start at 0. If the column names start at 0 or are string types, this is not an issue.

#### Expected Output

[code]

#### Output of ``pd.show_v

[2019-02-11 14:46] TomAugspurger commented on #25269
I don't think there's anything pandas can do to work around this (though let me know if I'm wrong).

[2019-02-11 14:46] #25269 closed

[2019-02-11 14:49] jreback commented on #25269
yeah this should be pushed upstream to numpy i think; they shouldn't break pickle compat like this

[2019-02-11 14:49] SylvainLan commented on #25269
OK I'll post something on numpy then, sorry for that !

[2019-02-11 16:06] gfyoung commented on #25211
@vladserkoff : This is what I was referring to when I was talking about how trying to modify EA logic is by no means straightforward and has its own landmines.

I would try casting before you hit any of the EA logic.

[2019-02-11 16:08] #24014 closed

[2019-02-11 16:16] jorisvandenbossche commented on #25269
Not sure it is something numpy can do something about either. In pandas, we also don't guarantee such backwards compatibility for plain pickles (and actually not even with the `to_pickle`/`read_pickle` interface, where we have more control, we only guarantee forward compatibility).

[2019-02-11 16:42] parkerdgabel commented on #25270
I'll look into this.

[2019-02-11 16:49] gnilrets commented on #25251
@nmusolino - This most important difference between mapping and assign is that mapping can redirect records that have errors.  I use pandas for a lot of ETL work, and when we get garbage or unexpected data in one field, we don't necessarily want that to prevent transforming and loading data for all the other records.  So instead, records with mapping errors are redirected to an error reporting mec

[2019-02-11 17:22] TomAugspurger commented on #25258
cc @datapythonista. Maybe we just remove that check?

[2019-02-11 17:55] WillAyd opened #25271 "Excel Module Cleanups"
As called out by @gfyoung in review there are some easy opportunities to clean up and simplify the existing Excel IO modules. These are mostly minor loop refactors and docstring updates

https://github.com/pandas-dev/pandas/pull/25153#pullrequestreview-200888051

[2019-02-11 18:05] MartinThoma commented on #12585
Just a minimal example a colleague created as we stumbled over this:

[code]

gives

[code]

but it should either have raised an exception or better give

[code]

[2019-02-11 18:13] jbrockmendel commented on #25193
@jorisvandenbossche sure.  Is the desired behavior just to check if numpy is installed and if not raise?

[2019-02-11 18:44] jbrockmendel opened #25273 "REF: Refactor private/circular parts out of dtypes.concat"
A lot of core.dtypes.concat arguably doesn't belong in core.dtypes.  In particular functions that induce circular imports, private functions that are used externally, and functions that are more about arrays/indexes than they are about dtypes.

Some of these (_get_series_result_type, _get_frame_result_type) are used in only core.reshape.concat, could go either directly in that module or into a hel

[2019-02-11 18:53] #23931 closed

[2019-02-11 19:03] LPugens opened #25274 "Broken behaviour on read_excel on 0.24.0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The columns names are not identified by versions 0.24+.

#### Expected Output
Both print lines should print the same thing:
['top_level', 'middle_level', 'low_level']

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
--------

[2019-02-11 19:40] #25156 closed

[2019-02-11 19:40] tikael1011 commented on #25236
[code]
the result of the above varies using different pandas version. For 0.23.4 I got KeyError [label not in index] yet for 0.24.1 I got pandas.core.indexing.IndexingError: Too many indexers

[2019-02-11 19:41] josham commented on #25183
@jreback, @TomAugspurger the following seems to fix both issues. Does this seem correct to you?

[code]

[2019-02-11 21:08] justinessert opened #25276 "New pd variable types for pd.period arithmetic"
I believe it was with the release of version 0.24.0 that changed how the arithmetic between pandas periods works, but prior to that version, if we started with

[code]

The result would be:

[code]

diff would be the int `12`. But using version 0.24.0 and running the same code, the result is:

[code]

And there is seemingly no easy way to convert that back to an int. One solution posted on StackOv

[2019-02-11 21:34] simonjayhawkins commented on #20915
the `TypeError` message was added in #4850

https://github.com/jreback/pandas/blob/60efe85bc2ce9578e8f5e0c88907c5cc6b6b7b31/pandas/core/index.py#L526-L531

and has since been removed. int slicing with floats is now allowed.

[2019-02-11 21:37] mroeschke commented on #25276
There's the `n` attribute; the same argument name that is used when constructing these offsets.

[code]

This attribute could be better documented.

[2019-02-11 21:57] jorisvandenbossche commented on #25193
Not sure if it should raise. I think you should be able to call `python setup.py ..` without having numpy installed. So eg doing a `python setup.py egg_info` should not call cythonize / require numpy or cython to be installed (as it was before #21879)

[2019-02-12 01:47] oriolmirosa opened #25278 "crosstab shows margins in wrong order if index/columns are ordered categories"
#### Code Sample

Do a `crosstab` with an ordered categorical variable, with the order being different than the alphabetic default:
[code]

#### Problem description

The margins are showing the wrong values. In fact, they're showing the values that would be expected from the default ordering of the categories. This might be related to #20496, but the output here surely looks like a bug

#### Outpu

[2019-02-12 02:38] amelio-vazquez-reina commented on #21228
IMHO we should close this since it's giving people the impression that parquet can't really handle mixed type columns ("hey ,they have an issue open with this title").

As @jorisvandenbossche  mentioned, the OP's problem is type inference when doing `pd.read_excel()`. It has nothing to do with `to_parquet`, and as he pointed out, the user can always do
`df.astype({'col': str}).to_parquet(..)`

[2019-02-12 02:58] jreback commented on #21228
agree here - closing as a usage issue

[2019-02-12 02:58] #21228 closed

[2019-02-12 03:03] mroeschke commented on #25257
The core issue is here:

https://github.com/pandas-dev/pandas/blob/3ab9318f2c0806a7fd38d4b4dc47bf6c3803c1e7/pandas/core/internals/managers.py#L2062

Taking a view of a tz aware DatetimeArray removes tz information and is passing the result to a DatetimeTZBlock.

 2 options

1) Remove the view or don't view for DatetimeArray?
2) Pass in dtype to `make_block_same_class`, but it looks like we are dep

[2019-02-12 06:13] tmo commented on #12210
I'd like to have a look into this, is anyone working on it already? @lukaszkiszka?

[2019-02-12 06:24] WillAyd commented on #25274
There is no such parameter as `index_row` - are you looking for `index_col=0` instead? That seems to get the behavior you are after

Outside of that this is actually expected behavior as a result of #23874. The prior behavior was incorrect because it was not respecting `index_col=None` being the default and treating the first column as the index without being explicitly stated

[2019-02-12 06:24] #25274 closed

[2019-02-12 07:02] H-SG opened #25282 "Sum of TimedeltaIndex raises TypeError: len() of unsized object"
#### Example code

[code]
#### Problem description
Summing a TimedeltaIndex when using pandas 0.24.0 or newer with any version of numpy, or pandas 0.23.4 with any version of numpy newer than 0.15.4 fails, `np.sum(dtd)` gives the following output:
[code]

Other methods such as `np.mean()` and `np.median()` continue to function normally
#### Expected Output
`5940000000000 nanoseconds`

#### Output o

[2019-02-12 07:10] lukaszkiszka commented on #12210
@tmo go ahead - I was going to look on this in future - in a few weeks.
If you will found resolution I will be glad when you will add me as reviewer.

[2019-02-12 09:59] vladserkoff commented on #25211
@gfyoung, thanks. I've left the fix where it was, only made sure to not cast to int if the target dtype is not an integer. Tests are now ok, except for an unrelated ImportError in a windows test:

<details>

[code]
</details>

Unfortunately Codecov is down by 50%, and I'm afraid I can't fix this as I'm new to it.

[2019-02-12 11:05] cruzzoe opened #25283 "Pandas dataFrame - selecting data - 'Interval' Recursion error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am getting a recursion error from the above code ( RuntimeError: maximum recursion depth exceeded while calling a Python object )

This issue did not occur in version 0.23.4 but occurs when upgrading to 0.24.1.

I am not aware why using 'IntervalA' in a Boolean lookup or when using the loc indexer should resu

[2019-02-12 12:10] jreback commented on #25257
i think .view() for DTA with tz is broken
we don’t use .view much at all generally as this is mainly for numpy compat

[2019-02-12 15:23] impact27 opened #25284 "Empty string as subindex changes the shape"
#### Code Sample, a copy-pastable example if possible
Example 1:
[code]
Example 2:
[code]
#### Problem description

maybe related to #25154

This issue arises when one wants to work with mixed length MultiIndex. For example if I have a name and  pH at different concentration, I would like to  access `df.loc[:, 'name']` that would give me a Series, and `df.loc[:, 'pH']` that would give me a DataFra

[2019-02-12 15:38] impact27 commented on #25284
For reference: I am using the following function to split the index (only works with n=2):
[code]
When I would have expected to use:
`linindex.str.split(pat, expand=True)`

[2019-02-12 16:26] datapythonista commented on #25258
I see two different cases here.

The original problem seems to be in the introspection. Not sure if the Ubuntu in windows 10 has something that makes python introspection for certain cases fail.

The comment from @nmusolino is unrelated. Looks like there is a file from an older version that makes that validation fail. Having the clean automatically when running `make.py html` was taking care of th

[2019-02-12 16:59] impact27 opened #25286 "Ability to Override Default Titles for Missing Column Headers in read_csv"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`pd.read_csv` renames empty cells to "Unnamed: {i}_level_{level}" on line
https://github.com/pandas-dev/pandas/blob/4d44a2aff08c3075d9472e361bd7448a0472494e/pandas/io/parsers.py#L2542
It would be great to have an option of changing this behaviour to replacing with `''` or even a generic solution.

#### Expected

[2019-02-12 17:08] jbrockmendel commented on #25193
OK.  The fix that comes to mind is a check inside `maybe_cythonize` to skip cythonizing based on the command line arguments.  At the moment we only skip for `clean`, but that could be extended to egg_info or whatever else (or the check could be reversed so cythonize is only run for build_ext or whatever)

[2019-02-12 17:35] joaoe opened #25287 "Python 2: pandas.Series.eq() crashes with unicode data"
#### Code Sample

[code]

#### Problem description

The code snippet above crashes. This makes querying dataframes with non-ascii text quite difficult.

Exception
[code]

I'm using pandas 0.24.1

#### Expected Output

No crash :)

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.final.0
python-bits: 64
OS: Windows
OS-release: 10
ma

[2019-02-12 17:57] joaoe commented on #25287
The culprit line https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/dtypes.py#L701
[code]
`str.format` will crash if any of the arguments is a unicode string with non-ascii chars.

A simple fix is to replace it with
[code]
mecause `str.__mode__` can cope with unicode strings and will convert the whole string to unicode if needed.

[2019-02-12 18:08] jschendel commented on #25283
Thanks, the cause the error looks to be in `IntervalDtype` when a close but invalid string is passed:
[code]
The correct output is: `[2]` and `[3]` should raise, and `[4]` should return `False`.

The fix is to more strongly enforce what the `IntervalDtype` looks for when parsing strings.  The valid string representations for an `IntervalDtype` are `'interval'` or `'interval[<subtype>]'` (e.g. `'in

[2019-02-12 19:33] jbrockmendel commented on #25250
AFAICT this is a blocker for removing Panel.  I was unable to find a way to patch the pickle tests to not raise if Panel does not exist.

[2019-02-12 19:47] jelther opened #25288 "[0.24.1] New nullable integer fillna with non-int doesn't coerce to object"
#### Code Sample

[code]
#### Problem description

Using the new nullable type Int64, it is not possible to fill "NaN" values with other value.

### Error raised

#### Expected Output

The new dataframe should have replaced it's NaN values with the desired input of .fillna() method.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.

[2019-02-12 20:45] justinessert commented on #25276
Thank you Matthew, that is a lot better, so then if you need to support multiple pandas versions it would be best just to do the code bellow?
[code]
or is there a better way to do it?

[2019-02-12 21:40] mroeschke commented on #25276
The `n` attribute should be available for all `DateOffset` in pandas

[2019-02-12 21:45] justinessert commented on #25276
But for the <0.24.0 (at least 0.23.4 that I'm running on) pd versions, diff is an int, not a DateOffset

[2019-02-12 21:46] mroeschke commented on #25276
Ah I see. Then yes that should work then.

[2019-02-12 21:47] justinessert commented on #25276
Cool, thank you

[2019-02-12 21:47] #25276 closed

[2019-02-12 22:21] stuz5000 opened #25290 "Row assignment by multi-index label not working in 0.24.1"
#### Code Sample, a copy-pastable example if possible

I uses to be able to assign to a series like so:

[code]

but in pandas 0.24.1:

[code]

both give me:

[code]
Was assignment of new rows by multiindex intentionally removed?

#### Problem description

Assignment by multiindex no longer works after upgrading from 0.24.1 from 0.22.0

#### Expected Output

Should not assert.

#### Output of ``pd

[2019-02-13 00:21] ibackus opened #25292 "read_parquet segmentation fault with pyarrow"
#### Problem description
Loading a dataframe with `pandas.read_parquet` with `engine='pyarrow'` can semi-randomly result in a segmentation fault.

This only seems to affect certain dataframes, others always seem to work.  Unfortunately I can't share an affected dataframe because the problematic ones have sensitive data.

This happens with or without compression, and with or without `memory_map`.

[2019-02-13 00:41] jreback commented on #25292
pls file in the pyarrow tracker itself with a reproducible example

[2019-02-13 00:41] #25292 closed

[2019-02-13 00:41] ibackus commented on #25292
@jreback Okay, this is a pyarrow issue then?

[2019-02-13 00:52] jreback commented on #25292
yes all pandas does is call into pyarrow

[2019-02-13 01:17] WillAyd opened #25293 "OO Optimization Failure"
The travis logs have been failing recently as a result of -OO optimization failure. I cannot reproduce this locally so may just be a Windows issue?

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=8270&view=logs&jobId=ae5f5554-4e02-5fb5-2f57-d6e8aefc10c0&taskId=1f8b548e-2577-5189-1750-f82ca6ecc932&lineStart=690&lineEnd=691&colStart=1&colEnd=1

[2019-02-13 01:47] stragu opened #25294 "variable dtype does not update when populating a dataframe"
I posted a question about this on [StackOverflow](https://stackoverflow.com/questions/54650913/why-doesnt-pandas-update-a-variables-dtype-when-populating-a-dataframe), but though it might be something worth reporting here.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In my test:

- with Python 3.5 and Pandas 0.18.1, populating the dataframe does update t

[2019-02-13 01:59] WillAyd commented on #25294
Hmm well this way of populating a DataFrame is not idiomatic and inferring the intended result is nearly impossible. Understood this is a toy example, but the construction here should be done in one expression if you want to be explicit about dtypes.

While ambiguous the previous behavior is in any case not correct; there isn't any indication that you want floats with what you are doing, especiall

[2019-02-13 04:02] StevenLi-DS opened #25296 "Document Using Regex for str.split"
[code]
#### Problem description
While passing two patterns separating with `|`  to `str.split()` method, if one of them is `+`, `panads` returns the following error:
[code]

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder: little
LC

[2019-02-13 04:25] WillAyd commented on #25296
This is not a bug as you would need to escape the plus sign if using a regular expression.

That said, this feature is not documented so I think we can re-purpose this issue to actually document support for regex splitting

[2019-02-13 04:35] WillAyd commented on #25288
This works fine if you use an actual integer value to fill, so there's not really much of a point to using Int64 in this case since you're still asking for an object.

In any case I suppose it should still coerce to object for you like using float here would. Investigation and PRs are always welcome

[2019-02-13 04:55] StevenLi-DS commented on #25296
The behavior is inconsistent though as it seems `+` is the only character that will cause this issue.

[2019-02-13 04:56] WillAyd commented on #25296
It's consistent with regex behavior where `+` is a special character. You will get the same error with `*` amongst others as well

[2019-02-13 06:32] stragu commented on #25294
What do you mean by "inferring the intended result is nearly impossible"? From the names of the columns when creating the DataFrame, of course, but from what values are added to them, something like that was done with previous versions apparently. The dtype could be updated as it gets populated (although it would probably be deemed inefficient): add an `int`, dtype is changed to `int`; add a numbe

[2019-02-13 08:03] WillAyd commented on #4517
Based off of conversation above I think we'll close this for now as its unclear if there's really anything to be gained here. If anyone disagrees feel free to reopen

[2019-02-13 08:03] #4517 closed

[2019-02-13 08:03] pushkarnimkar opened #25298 "IntervalIndex level in MultiIndex does not work as expected"
I am trying to index data frame with a `MultiIndex` with constituent `IntervalIndex`
#### Example
[code]
Above code throws `TypeError` as follows:
[code]
I was expecting above to produce same result as:
[code]
Is this a bug or I'm not using it properly? (newbie here)
#### Version Details:
[code]

[2019-02-13 08:07] WillAyd commented on #25294
Well your ideal state is probably what is manifested in #4464 so I'm going to close this as a duplicated.

You have a few other things in there but I'll say generally appending to a DataFrame is very expensive. Your best approach is usually to construct the entire DataFrame from a sequence of values rather than creating and empty DataFrame and continually appending. In lieu of `dtype` accepting mu

[2019-02-13 08:07] #25294 closed

[2019-02-13 09:15] Guillaume1801 opened #25299 "Minimum of ordered categorical data in Panda DataFrames"
I have a Pandas DataFrame with one Serie containing ordered Categorical data. Some value of this Serie may be missing (NaN). I want to get the minimum without taking into account NaNs but I obtained strange results ...

#### Code:
[code]
#### Output:
[code]
#### Expected utput:
[code]

I am getting the desired output when running this code with pandas 0.23.4 but not with pandas 0.24.0 and above.

[2019-02-13 09:37] jorisvandenbossche commented on #25193
I don't know all the possible commands of setuptools enough to know if specifically checking for that would be enough. Best might be to simply test it out.

In any case, it seems to me that there is some duplication now in the setup.py, as we have both functionality to cythonize in the `build_ext` class and in the `maybe_cythonize` you added. But now familiar enough with it to know how it interact

[2019-02-13 09:54] st-bender commented on #25220
Hi,
Thank you for your input and setting the labels and sorry for getting back to you so late.
I am not really sure that I understood correctly, my point is that #18262 only lists a number of API functions to be deprecated, i.e. to be removed in the future, without further reasoning. In my opinion any change to the official and documented API should be justified. After all, `pandas` calls itself s

[2019-02-13 09:55] TrigonaMinima commented on #16771
@mroeschke
When I am running your code, it runs without segfault, but when the process (python interpreter or through script) ends, it ends with a seg fault. Even the original code segment with ```bug.pkl``` gives a seg fault when executed as

[code]

My pandas version is 0.24.0. I'll once try the master version tonight and see if the issue persists.

[2019-02-13 10:01] TrigonaMinima commented on #9236
@mroeschke
tried the code on the pandas version 0.24.0, it ran successfully. Could you point me to the file where this test should be added?

[2019-02-13 10:10] MaksimMisin opened #25300 "to_dict(orient='records') automatically renames "from" column"
Column `from` gets automatically renamed when DataFrame is converted to dictionary.

#### Code Sample
[code]

Obove code returns:
[code]
instead of:
[code]

Is this a bug or intended behaviour?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.1.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-1027-gcp
machine: x86_64
processor: x

[2019-02-13 10:11] TrigonaMinima commented on #25135
@chris-b1 could you point me to the file where the changes are to be made?

[2019-02-13 10:16] TrigonaMinima commented on #25135
@chris-b1 if I understand this correctly, the assertions part (```assert_frame_equal``` and `assert_series_equal`) will remain as is, but their return values need not be returned?

[2019-02-13 10:30] TrigonaMinima commented on #14873
@mroeschke is this issue really fixed? In the #21240 issue referenced just above, @jreback says this issue is the root cause of that issue. And when I try to run the code part from that issue, the problem still seems to be there.

[2019-02-13 11:49] TomAugspurger commented on #25300
Fixed in 0.24.1

[2019-02-13 11:49] #25300 closed

[2019-02-13 12:02] TomAugspurger commented on #25288
I vaguely recall some discussion on whether ExtensionArray.fillna should
allow coercing the array to the dtype of the `fill_value`. I
don't recall if we reached a final conclusion. It's somewhat inconvenient
to have to manual `.astype` before filling with a different
dtype, but the type stability ensured by `ExtensionArray[T].fillna ->
ExtensionArray[T]` is nice.

On Tue, Feb 12, 2019 at 10:35 PM

[2019-02-13 12:29] stragu commented on #25294
No problem, thank you @WillAyd , I appreciate it.

[2019-02-13 12:35] mikeyford opened #25301 "pandas.Series.eq docs page example doesn't feature eq"
The current stable documentation page for eq doesn't actually feature eq in the example:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.eq.html

I presume the last execution in the example should be something like this, rather than the add example.

[code]

[2019-02-13 12:40] TomAugspurger commented on #25301
I think we have another issue for this. Can you search for it?

On Wed, Feb 13, 2019 at 6:35 AM Michael Ford <notifications@github.com>
wrote:

[2019-02-13 12:54] mikeyford commented on #25301
I could only find this issue and commit https://github.com/pandas-dev/pandas/pull/24774 which fixes the DataFrame.eq docs.

It doesn't look to me like that will address the Series.eq docs, although I may be missing something.

[2019-02-13 13:04] #20915 closed

[2019-02-13 13:09] TomAugspurger commented on #25301
I was thinking of https://github.com/pandas-dev/pandas/issues/24589.

We can lump this in with that.

On Wed, Feb 13, 2019 at 6:54 AM Michael Ford <notifications@github.com>
wrote:

[2019-02-13 13:11] TomAugspurger commented on #24589
Repurposing this for a general "fix all the Series ops examples".

It'd be helpful if someone could make a checklist on GitHub with all the Series ops (add, divmod, etc.) that need examples. And we can check them off as we go (one PR per op).

[2019-02-13 13:27] jreback opened #25302 "BLD: pandas-wheels timing out"
anyone know why the wheel building is timing out, not all of them though: https://travis-ci.org/MacPython/pandas-wheels. I have restarted on multiple days.

cc @TomAugspurger @matthew-brett

[2019-02-13 13:36] jorisvandenbossche opened #25303 "API: What is the rationale for numeric_only of Categorical reductions?"
Consider an ordered Categorical with missing values:

[code]

So from the observation above (and from the code: https://github.com/pandas-dev/pandas/blob/a89e19d59e0bff2d02e4647af1904e2c9701dd5f/pandas/core/arrays/categorical.py#L2199), it seems that `numeric_only` means that only the actual categories should be considered, and not the missing values (so codes that are not -1).

This struck me as

[2019-02-13 13:37] jorisvandenbossche commented on #25299
Thanks for the report! I can confirm this regression.

[2019-02-13 13:37] jorisvandenbossche commented on #25299
So it seems that the `numeric_only` keyword is no longer properly passed through to the Categorical.min implementation. Investigation welcome!

[2019-02-13 13:53] jorisvandenbossche commented on #25290
cc @toobaz

[2019-02-13 14:09] mikeyford commented on #25301
ah, that makes sense. Cheers.

[2019-02-13 14:09] #25301 closed

[2019-02-13 15:50] jorisvandenbossche commented on #25236
@tikael1011 Thanks for the reproducible example.

Simplified it a little bit further:

[code]

In 0.23.4 this gave correctly a KeyError.

Above, you said that it was working in pandas 0.23.4, but failing on 0.24. But it's only the error that changed?

[2019-02-13 16:35] VelizarVESSELINOV commented on #21080
@xieyuheng I agree with you should be not a warning if you specify axis=0, but pandas owners often have a special way to treat bugs, warnings

[2019-02-13 16:38] schneiderfelipe commented on #12236
I just got the very same problem with PyTables 3.4.4 and Pandas 0.24.1.
Downgrading to the ones provided by Ubuntu (3.4.2-4 and 0.22.0-4, respectively) solved the issue.

[2019-02-13 16:54] arnov commented on #25299
I dove into this a bit, but shouldn't the argument be `skipna`? Because I am unsure what `numeric_only` would mean for a categorical series.

[2019-02-13 17:10] Guillaume1801 commented on #25299
I agree with you ! It makes no sense to use this argument while the argument used to removed NaNs in all other Pandas' methods is `skipna` ...

[2019-02-13 17:12] arnov commented on #25299
To add to the confusion, `Categorical` supports the `dropna` argument in the `mode` method, while it seems to be `skipna` in a lot of other places.

[2019-02-13 17:15] TomAugspurger commented on #21080
@VelizarVESSELINOV what do you mean?

@xieyuheng I think that is ambiguous. It's not clear whether the `a` is referring to the index or the column.

[2019-02-13 17:27] mroeschke commented on #9236
`pandas/tests/groupby/test_groupby.py`

[2019-02-13 17:28] mroeschke commented on #14873
#21240 isn't fixed but this specific case is fixed

[2019-02-13 17:38] MartinTrat commented on #16297
I also came across this.
@TomAugspurger, sorry, but your comments are not helping. Can you provide a workaround for this issue?

[2019-02-13 17:42] saurav2608 commented on #25143
I will have a look at this.

[2019-02-13 17:46] TomAugspurger commented on #16297
`sort_values` needs the values of a column to be hashable when sorting by multiple columns. The original example could be fixed by converting the column of (unhashable) lists to a column of tuples.

[code]

[2019-02-13 17:48] MartinTrat commented on #16297
A workaround that helped me is

df2 = df.applymap(tuple)
df2.sort_values(['b', 'fun'])

to sort by more than one column

[2019-02-13 18:34] jbrockmendel commented on #25193
IIRC the coverage implementation isn't quite orthogonal to the usage of `cythonize` but close.  I'm fairly confident that if we had to remove the usage of cythonize, we could do it without removing the coverage implementation.

Some of that code is shared.  `maybe_cythonize` calls `build_ext.render_templates`.  I guess the code adding `numpy_incl` to each `ext.include_dirs` could be shared.  Do yo

[2019-02-13 18:40] tikael1011 commented on #25236
yes, in 0.23.4, it throws 'KeyError', which is correct/expected since not all entries can be found in df, yet in 0.24.1 it throws too many indexers error. An easy go-around would be to catch new exception as well (my code already deal with KeyError) yet the real problem is why the error path changed?

[2019-02-13 19:12] MarckK opened #25306 "Fix validation error type `SS03` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `SS03` (Summary does not end with a period), fixing them in the code base enables the addition to the CI for automated testing in the future.

`SS03` has 178 occurrences (see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4)), including:

method | file | file_line | github_li

[2019-02-13 19:29] lumbric opened #25307 "Wrong result for float32 Series when using bottleneck"
#### Minimal example

Requires bottleneck, numpy and pandas to be installed:

[code]

#### Problem description

The `mean()` of large float32 Series is wrong when [bottleneck](https://github.com/kwgoodman/bottleneck/) is used. Uninstalling bottleneck or using float64 is a valid workaround. xarray is or has been affected too, see pydata/xarray#1346.

<s>Bottleneck's documentation explicitly mention

[2019-02-13 21:15] ngutzmann commented on #25143
Perhaps this is a bit of useful information. In pandas 0.23.4 the functionality looks to be correct:
[code]

[2019-02-13 21:35] TrigonaMinima commented on #16771
So I ran the above code in the current master. The pandas version is
[code]
I got the following error after the interpreter crashed
[code]

[2019-02-13 22:05] jorisvandenbossche commented on #25299
@arnov I actually thought exactly the same when answering on this issue, so I opened https://github.com/pandas-dev/pandas/issues/25303 (but forgot to link to it here).

So I agree that `skipna` is more logical, but I don't think we can't simply change it as you did in https://github.com/pandas-dev/pandas/pull/25304, we will have to deprecate the keyword and behaviour first.

Short term, I think it

[2019-02-13 22:11] jorisvandenbossche commented on #25236
OK, just wanted to make sure I fully understand the issue.

That was certainly not on purpose I think, that is a bug.

[2019-02-13 22:12] mroeschke commented on #16771
Which interpreter are you using? Works fine in ipython

[code]

[2019-02-13 22:14] jorisvandenbossche commented on #25236
cc @toobaz in case you might have an idea from the top of your head what we might have changed.

[2019-02-13 22:16] tikael1011 commented on #25236
The error path certainly changed in my script, yet I can't tell it is the error path itself or something else. (Btw, iirc, I tested loc/iloc, at/iat yet all of them have the 'error path changed' problem.)

[2019-02-13 22:32] TrigonaMinima commented on #16771
Here's the complete thing.

[code]

Same thing when I tried your code

[code]

[2019-02-13 22:50] WillAyd commented on #25293
cc @datapythonista for any insights. I think this is more an issue with the Azure environment than the codebase itself but hard to say

[2019-02-13 23:42] jointfull opened #25311 "DataFrame to_csv line_terminator inconsistency when using compression"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Current line_terminator defaults when using compression and when not using compression are different (Windows OS, pandas 0.24.1).

When uncompressing the gzip file created using the default line_terminator, we can clearly see that the files are different (compressed-wrong-line-terminator.csv vs uncompressed.csv

[2019-02-14 00:19] jelther commented on #25288
In fact, since I'm using pandas for an ETL tool, this doesn't look nice to me.
Having to change the type to "object" inevitable adds ".0" after the integer number and breaks my code.

The alternative I used is to remove the ".0" part after "astype(object)" and fill it with NaNs values.

[2019-02-14 00:23] WillAyd commented on #25288
@jelther getting slightly off topic but if you are getting zeros appended to your integers its because they are getting cast to float at some point. Explicitly constructing your data frame with `dtype=object` as an argument would allow you to mix / match the None value with integers without implicit cast to float

[2019-02-14 00:27] jelther commented on #25288
@WillAyd , I think this is the best alternative but I'm not able to specify since I'm extracting the data from a SQL Server database with "pandas.read_sql". I don't see on the documentation how I would be able to specify the "dtypes" when selecting the data.

[2019-02-14 02:16] jschendel commented on #25298
This is a bug.  To my knowledge there hasn't been any work done to ensure that `IntervalIndex` works within a `MultiIndex`, nor do I see any tests for such functionality.

It does appear to be working in certain cases though, so there's at least some `IntervalIndex` compatible code in place already:
[code]
Investigation into the issue and PRs would certainly be welcome!

[2019-02-14 02:36] bran112299 opened #25312 "Pandas graphing time series issue"
[code]

#### Problem description

I tried this code and the graph it ends up is messed up, I figured it was matplotlib and I asked them for help and the lead developer told me it probably wasn't matplotlib.

![helppanda](https://user-images.githubusercontent.com/15021936/52758694-41355880-2fd7-11e9-80f4-c83dad6fa938.PNG)

[2019-02-14 04:00] felixvd opened #25313 "Add helpful error message to get_loc"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The error message for the code above is cumbersome and does not give a hint to new users what the problem is:
<details>
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
~/anaconda3/lib/python3.7/site-packages/

[2019-02-14 04:39] xieyuheng opened #25314 "fail to build"
[code]

[2019-02-14 04:53] #25314 closed

[2019-02-14 05:24] xieyuheng commented on #14547
https://github.com/pandas-dev/pandas/pull/25315

[2019-02-14 06:07] WillAyd commented on #25278
Thanks for the report. Investigation and PRs are always welcome

[2019-02-14 06:17] WillAyd commented on #25282
Can you post versions from both environments where you had the issue? Seems kind of strange that the version of numpy only matters for one of the two pandas versions you've tested

[2019-02-14 06:21] WillAyd commented on #25286
Hmm I think I'm -1 on this. I couldn't imagine `''` as a default name actually being useful when you have more than one missing column as it would make selection rather difficult. You also have the option to specify whatever names you want in read_csv.

In a vacuum maybe not a bad idea, but given how cluttered the read_csv API is already I don't see this offering much incremental value. Let's see

[2019-02-14 06:24] WillAyd commented on #25303
To be honest I've never fully understood what `numeric_only` is supposed to represent even in other parts of the codebase (ex: groupby ops). I haven't run into the issue described personally so not sure how much weight my opinion should carry here, but I would be OK with the deprecation you mention

[2019-02-14 06:30] WillAyd commented on #25307
What are you suggesting pandas to do here exactly? Your example shows a Series matches numpy behavior and the "problem" is documented limitation of the third party tool you are using, so I'm unclear on what pandas should be doing (though admittedly not terribly familiar with bottleneck)

[2019-02-14 06:33] WillAyd commented on #25311
Hmm OK. Can you provide code to roundtrip back from the compressed file just so nothing is ambiguous here?

[2019-02-14 06:35] WillAyd commented on #25312
Hi - it's not clear what you are describing here. Going to close for now as this doesn't have any of the required information but if it persists please read through the guide on crafting bug reports:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#bug-reports-and-enhancement-requests

And feel free to reopen with required info from there

[2019-02-14 06:35] #25312 closed

[2019-02-14 06:37] WillAyd commented on #25313
Not aware of any guideline but personally of the opinion that the KeyError is descriptive enough and it's not worth the extra maintenance in the code base.

Let's see what others think though

[2019-02-14 07:14] WillAyd commented on #22260
Thanks for the suggestion! However based on all previous core dev responses I think we can close this one

[2019-02-14 07:14] #22260 closed

[2019-02-14 07:16] WillAyd commented on #23049
This appears to be working on current master. I suppose a test case is in order

[2019-02-14 07:20] WillAyd commented on #25031
Looks like this was closed on the Bokeh end as Usage Question so doing the same here

[2019-02-14 07:20] #25031 closed

[2019-02-14 07:25] mroeschke commented on #16771
Maybe a 3.6 vs 3.7 issue? Could you create a 3.6 environment and see whether this still segfaults?

[2019-02-14 07:38] Skeletrox opened #25316 "Missing required dependencies ['numpy'] on pandas 0.24.1"
#### Code Sample with obtained output

[code]
#### pip3 show outputs

[code]

#### System

* Linux Mint 19.1 Tessa
* `pip3 --version` output: `pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.6)`

#### Problem description

Recently updated pandas using `pip3 install -U pandas` and tried running the code again, leading to the above issue.

#### Attempted Fixes

Tried reinstalling both numpy

[2019-02-14 07:53] mroeschke commented on #25313
I agree with Will.

I guess `"KeyError: 1.75 is not in the index"` is more descriptive (+0 to this). Not really fond of being prescriptive with solution (e.g. `"use [option] instead"`) as pandas is blind to the user's intentions.

[2019-02-14 08:32] H-SG commented on #25282
It's the same environment, I was updating my numpy and pandas libraries when I ran into the issue, all other packages remained the same.  Playing around with installing specific versions of each led to the strange combination of working versions.

[2019-02-14 08:49] Skeletrox commented on #25316
Issue fixed; was an issue with multiple instances of numpy installed. Resolving that issue by repeatedly running `pip3 uninstall numpy` until none remained and then running `pip3 install numpy` allowed pandas to import it without  any issues

[2019-02-14 08:49] #25316 closed

[2019-02-14 08:50] arnov commented on #25303
All valid points!

- I think the difference in behavior of `min` and `max` when nans are present is arbitrary. I would expect both `min` and `max` to return nan, not only `min`. I don't know what the behavior is for other Series / Dataframes, so let's check that first and keep it consitent
- My thinking was, since numeric_only seems to be broken in `0.24.0`, why not move already to `skipna` withou

[2019-02-14 09:00] jorisvandenbossche commented on #25303
To be consistent with the rest of pandas, I think they both should *skip* NaNs by default, but if you say `skipna=False`, both to return NaN.

I think the the practical deprecation path could look like:

- if somebody specifies `numeric_only` (for the categorical case), raise a deprecation warning to say they need to specify `skipna` instead.
- in case of `min` ànd if there are NaNs present (the c

[2019-02-14 09:15] impact27 commented on #25286
I agree with you in general. In my use case that would only apply to a single empty subindex.
Something like: If this is a subindex and there is only one column with the main index, then keep `''`.
Alternatively, np.nan would make sense as well, as the data is missing.

[2019-02-14 09:58] impact27 commented on #25286
I will modify my code slightly: with a mix of MultiIndex and single index, pandas will use a `''` as the subindex of the MultiIndex:
[code]
Therefore, in the case of a MultiIndex with one of the indices having a single subindex that is `''`, one could expect that `''`is the expected value, instead of a missing value.

[2019-02-14 10:37] lumbric commented on #25307
I'm not sure what you mean by "Series matches numpy behavior". In the example above,  `np.mean()` returns the correct result `1.0`, but `pd.Series.mean()` returns `0.5`.

[Bottleneck's documentation](https://kwgoodman.github.io/bottleneck-doc/reference.html?highlight=overflow#bottleneck.nanmean) warns about overflows, but a naive user (like me) reading only the [pandas documentation](https://panda

[2019-02-14 10:46] mjuzlova opened #25317 "Subtracting two data time series with NaT yields Overflow error"
#### Problem description

If I have a series of DateTime values and I want to subtract another series with DateTime value which contains NaT, in some case I get OverflowError.

#### Code Sample, a copy-pastable example if possible

[code]
#### Expected Output

[code]

#### OverflowError

<details>

OverflowError                             Traceback (most recent call last)
<ipython-input-64-8dfa27

[2019-02-14 11:14] arnov commented on #25303
I've updated the PR.

This will keep the old behavior if `numeric_only` is specified, but it will change the default behavior if it is not specified. This is a bit harder to fix, since the default for `skipna` is `True`, so it's impossible to distinguish if it was set or not. See https://github.com/pandas-dev/pandas/blob/master/pandas/core/series.py#L3664 (it's already converted from `None` to `Tr

[2019-02-14 11:16] yichen8 commented on #25313
When  doing this thing and get a `KeyError`,  it shows that the value is not in the index. So the error info is sufficient.

[2019-02-14 12:49] batterseapower opened #25318 "pd.Categorical(Series, categories=..) returns broken data with out-of-bound codes"
#### Code Sample, a copy-pastable example if possible

[code]

Prints:

[code]

#### Problem description

`pd.Categorical` should not be able to construct an object where `codes` is `>= len(categories)`. If it does this, then it's very likely that passing the array into other Pandas functions will trigger a segfault. For example, if you try to use this `Categorical` as a column in `pd.concat` then

[2019-02-14 12:51] jreback commented on #25293
I guess let's temporarily xfail that test on windows / py2.7 to avoid failing all PRs; if someone wants to push a PR.

[2019-02-14 12:55] yichen8 commented on #25270
I think this may be a bug. In Traceback  info, we find `dfs.to_coo()` raise errors and track into `find_common_type(types)` function and in this function we find this code:
[code]
The `find_common_type()` function's comment says:
"""
types : list of dtypes
""" .
Yes, it is where the error lies.

In fact, we check the `dfs.dtypes` and find its type is `pandas.core.series.Series`,  not a `list`. But

[2019-02-14 13:02] StevenLi-DS opened #25319 ".isin() includes unwanted string value in a column with 0 instead of dropping them"
#### Code Sample, a copy-pastable example if possible

[code]
However, I expect `.isin()` returns
[code]
Here's a side affect while plotting using seaborn:
[code]
![download](https://user-images.githubusercontent.com/33796896/52788431-e92a4080-302e-11e9-8b45-5b51d6b71bbe.png)

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------

commit: None
python: 3.6.8.final.0

[2019-02-14 13:44] NotSoShaby opened #25321 "Enable chunks for the read_gbq() function"
#### Problem description

Reading large tables from google big query takes a long time and sometimes gets stuck. adding a chunksize option (like in other providers and the to_gbq() function) will be a nice addition.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

pandas: 0.23.4
pytest: 3.5.0
pip: 18.1
setuptools: 40.6.3
Cython: 0.26.1
numpy: 1.15.4
scipy: 0.19.1
pyarrow: N

[2019-02-14 13:50] TomAugspurger commented on #25319
That's the expected behavior for categorical variables. See `pandas.Categorical.value_counts`.

Convert to a different dtype, or use `.remove_unused_categories` if you don't want to include the unobserved categories.

[2019-02-14 13:50] #25319 closed

[2019-02-14 14:00] jreback commented on #25321
pls file in the pandas-gbq tracker instead

[2019-02-14 14:00] #25321 closed

[2019-02-14 14:24] StevenLi-DS commented on #25319
I got `SettingWithCopyWarning` sometimes while using `cat.remove_unused_categories()`.

I only used `.value_counts()` to show the behavior of `isin()`, and the problem is not `.value_counts()` but `.isin()` as you can see from the side effect above.

Maybe, pandas should automatically recategorize the variable after apply `.isin()`

This is a bit confusing since the [doc][1] didn't mention anyting

[2019-02-14 14:41] TomAugspurger commented on #25319
Can you clarify your confusion about `isin`?  That returns a boolean array of values that are or aren't in the passed values. What's your expected output for `isin`?

[2019-02-14 15:27] vitalious commented on #15276
Does anyone know how I can implement this solution inside a class with a self.engine instance?

[2019-02-14 15:28] vitalious commented on #15276
Does anyone know how I can implement this solution inside a class with a self.engine instance?

[2019-02-14 15:32] #25252 closed

[2019-02-14 16:30] LocutusOfBorg opened #25322 "pandas 0.24.1 testsuite failure with new numpy ("
[code]
Do you have any clue for the errors above?
this is the full log
https://launchpadlibrarian.net/411242961/buildlog_ubuntu-disco-i386.pandas_0.24.1-0ubuntu1_BUILDING.txt.gz

[2019-02-14 16:32] LocutusOfBorg commented on #25322
s390x is failing 17 test
https://launchpadlibrarian.net/411290359/buildlog_ubuntu-disco-s390x.pandas_0.24.1-0ubuntu1_BUILDING.txt.gz

[2019-02-14 16:33] LocutusOfBorg commented on #25322
ppc64el 4 tests
https://launchpadlibrarian.net/411284902/buildlog_ubuntu-disco-ppc64el.pandas_0.24.1-0ubuntu1_BUILDING.txt.gz

[2019-02-14 16:33] LocutusOfBorg commented on #25322
armhf 5 tests
https://launchpadlibrarian.net/411297231/buildlog_ubuntu-disco-armhf.pandas_0.24.1-0ubuntu1_BUILDING.txt.gz

[2019-02-14 16:33] LocutusOfBorg commented on #25322
arm64 5 tests
https://launchpadlibrarian.net/411295011/buildlog_ubuntu-disco-arm64.pandas_0.24.1-0ubuntu1_BUILDING.txt.gz

[2019-02-14 16:46] felixvd commented on #25313
I would argue that this is because you are sufficiently used to both Python and pandas. A clearer error message is to the benefit of new users.

For context, MATLAB's error messages are full of "Did you mean:" suggestions of this sort, and one can only assume that they spent time thinking about user experience. I see no downside to them, and even if they end up outdated, they still let users know

[2019-02-14 16:46] chris-b1 commented on #25317
Yeah, looks like this broke from `0.23.4` - cc @jbrockmendel

[2019-02-14 17:25] MarckK opened #25324 "Fix validation error type `GL01` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `GL01` (Docstring text, i.e. summary, should start in the line immediately after the opening quotes, not in the same line, or leaving a blank line in between), fixing them in the code base enables the addition to the CI for automated testing in the future.

`GL01` has 189 occurrences (see [overview of the er

[2019-02-14 18:35] jbrockmendel commented on #25322
Which new numpy?  IIRC 1.16.0 had some problems that quickly got fixed in 1.16.1.

[2019-02-14 19:18] #25108 closed

[2019-02-14 19:46] dargueta opened #25326 "Inconsistent dtype metadata leads to wrong Parquet column type"
#### Code Sample, a copy-pastable example if possible

Run the following code with Pandas 0.24.x and PyArrow 0.12.0:

[code]

#### Problem description

Examine the Parquet column type for each file (I use [`parquet-tools`](https://github.com/wesleypeck/parquet-tools)). `right.parq` has the expected UTF-8 string type. `wrong.parq` has an `INT32`.

While this seems like a problem in PyArrow (specifi

[2019-02-14 19:52] nickagian commented on #25306
Hi, can I work on this?

[2019-02-14 20:17] ApolllonDev commented on #9606
@jreback @TomAugspurger
Hi, the odd naming convention that is mentioned in this issue still exists on the `master` branch. May I work on this issue?

[2019-02-14 20:28] jorisvandenbossche commented on #25274
@LPugens is the answer of @WillAyd satisfying?

But the code above still runs ...  We should probably not silently accept any kwarg here.

[2019-02-14 20:40] zangell44 commented on #25324
i can pick this up if no one's already started

[2019-02-14 21:01] TrigonaMinima commented on #16771
3.6 gives a similar issue. Different segfault errors I got-

[code]
or
[code]
or
[code]
or
[code]

[2019-02-14 21:06] mroeschke commented on #16771
Okay this may still be segfaulting on Linux then (I'm running OSX).

[2019-02-14 21:10] TrigonaMinima commented on #16771
Any idea which parts of the source code I should look into, for the issue?

[2019-02-14 21:25] mroeschke commented on #16771
https://github.com/pandas-dev/pandas/blob/4be995c13452766da48a82f3ecd0b5a24e48f526/pandas/_libs/groupby_helper.pxi.in#L522

https://github.com/pandas-dev/pandas/blob/4be995c13452766da48a82f3ecd0b5a24e48f526/pandas/_libs/groupby_helper.pxi.in#L474

[2019-02-14 21:27] TrigonaMinima commented on #23049
Could you point me to the relevant test file the test needs to be added in?

[2019-02-14 22:27] jorisvandenbossche commented on #12585
@MartinThoma that seems like a bug, not necessarily related to this issue. Can you open a new issue for it?

[2019-02-14 22:35] jorisvandenbossche commented on #25066
@gfyoung I didn't look into detail, but from your explanation, I was thinking: couldn't we check the type of the scalar clip value? If the clipping value you provide is a float, then I would say it is OK that the output is also float (even if your original column was int).

On the other hand, long term, we could also try to go to a behaviour where we *always* preserve the dtype (basically meaning

[2019-02-14 22:37] jorisvandenbossche commented on #25066
Although, argument against it: numpy doesn't do this. (but numpy does always result in a dtype compatible with the clipping values)

[2019-02-14 22:42] jorisvandenbossche commented on #25282
The above code indeed shows a regression in my 0.23.4 vs master environments. I have numpy 1.13 in both of them, so I don't think this is related to numpy.

It's the repr that fails, and it seems to be related to the fact that it now returns an "invalid" TimedeltaIndex, instead of a numpy.timedelta64 scalar:

[code]

vs

[code]

[2019-02-14 22:46] jorisvandenbossche commented on #25282
Might be related to the fact that the TimedeltaIndex/TimedeltaArray constructor no longer fails on scalars, but produces an invalid index/array:

[code]

vs

[code]

cc @TomAugspurger @jbrockmendel seems EA refactor related

[2019-02-14 22:53] jorisvandenbossche commented on #22260
I personally find this a regular annoyance with `reset_index` that you have to a rename afterwards. I have actually an old open issue about this: https://github.com/pandas-dev/pandas/issues/6878 (so this issue is also kind of a duplicate)

[2019-02-14 22:59] jorisvandenbossche commented on #25288
+1. For eg DatetimeArray, the fill value also needs to be a datetime-like.

[2019-02-14 23:05] jorisvandenbossche commented on #25303
Ah, yes, that's a complication. We might be able to push the conversion from None to True a bit down into `_reduce`, where we could special case the categorical one (as you are already doing in the PR to deal with the numeric/only/skipna)

[2019-02-14 23:06] zangell44 commented on #25324
how should external documentation be handled?

for example, the documentation for pandas.io.formats.style.Styler.env comes directly from jinja2.Environment:

"The core component of Jinja is the `Environment`.  It contains
important shared variables like configuration, filters, tests,
globals and others.  Instances of this class may be modified if
they are not shared and if no template was loaded s

[2019-02-15 00:18] zangell44 commented on #25296
I can work on putting this in the documentation. Would you be okay with localized documentation in all of the str methods where this is applicable?

[2019-02-15 00:24] LPugens commented on #25274
@jorisvandenbossche actually, not.

[code]
Actually outputs: `['A', 'A2', 'a']`
I don't believe this should be the column names from the file, but actually `['top_level', 'middle_level', 'low_level']`.
Am I interpreting something wrong?

[2019-02-15 00:28] LPugens commented on #25274
@jorisvandenbossche yes, somehow my old code was running on luck.
The solution Offered by @WillAyd worked fine.
Thanks!

[2019-02-15 02:27] jbrockmendel commented on #25282
@jorisvandenbossche I think you're right that the TimedeltaArray constructor is behaving oddly.  Would `__array_ufunc__` be the place to look to figure out why `np.sum(tdi)` behaves differently from `np.sum(tdi._data)`?

[2019-02-15 04:22] WillAyd commented on #25296
@zangell44 I think it is documented in most methods but sure if you see others where it isn't by all means include in a PR

[2019-02-15 05:50] yichen8 commented on #25318
In `pandas.__version__ == '0.23.4'`, you can get what you excepted output.

Of course, this version gets:
[code]
Python works well.

And then I use `pandas==0.24.1`  and run these codes
[code]
yes, my Python died.  But we can check `c2.codes`, output:
`array([0, 1, 1, 2])`

That may be the error lies. In fact we want:
[code]
and `pd.Categorical` 's help doc says:
`If categories are given, values n

[2019-02-15 05:57] MartinThoma commented on #12585
@jorisvandenbossche Sure, I can do that. But looking at your first post (section "The problem") I'm pretty sure it is exactly the same problem as here.

[2019-02-15 06:25] wuliang727 commented on #24814
I'm also confused about the name "adjust". I would suggest using the default which "adjust=True", since it is basically the same as my textbook: https://otexts.com/fpp2/ses.html (Section 7.1, Simple exponential smoothing).

[2019-02-15 07:50] MarckK commented on #25306
All yours @nickagian! :)

[2019-02-15 07:56] jorisvandenbossche commented on #12585
Ah, sorry, missed the fact that this is an "unorthodox" format (the default format (at least in US) is month first, so month/day/year). Yes, then the behaviour you see is totally "expected" (given the current rules as outlined above). The best thing you can do is specify a `format` (or specify `dayfirst=True`, but I wouldn't recommend that for its non-strictness explained above).

[2019-02-15 10:08] jorisvandenbossche commented on #25282
Long term, yes. But short term simply fixing the constructor should also fix the sum bug (due to the way how numpy deal with it), as you already did in the PR in the meantime.

[2019-02-15 10:46] roachlord opened #25332 "MagicMock a pandas DataFrame causes a segfault"
#### Code Sample

[code]
#### Problem description

I have a function that returns a column of dataframe. I want to mock out this function and test it is called with the correct args. The above code segs outs in 0.24.1 but not in 0.23.4.

#### Expected Output
Not to seg fault

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------

commit: None
python: 2.7.12.final.

[2019-02-15 11:22] LocutusOfBorg commented on #25322
Hello, I confirm we are using numpy 1.16.1
[code]

[2019-02-15 13:41] xhochy commented on #25302
`nipy.bic.berkeley.edu` is no longer alive, this PR fixes it: https://github.com/matthew-brett/multibuild/pull/165/files

We need to update the multibuild hash in `pandas-wheels` and it should work again.

[2019-02-15 13:54] DanielOverdevest commented on #15276
Works for me by refering to `self.engine`

Example:

        self.engine = sqlalchemy.create_engine(connectionString, echo=echo)
        self.connection = self.engine.connect()

        @event.listens_for(self.engine, 'before_cursor_execute')
        def receive_before_cursor_execute(conn, cursor, statement, params, context, executemany):
            print("Listen before_cursor_execute - executema

[2019-02-15 14:17] batterseapower commented on #25318
Yeah, it does work with `0.23.x`: I had a bunch of code relying on this, it started mysteriously segfaulting when I upgraded.

The comments in that code refer to #23814 and thence to #23888 by @eoveson (https://github.com/pandas-dev/pandas/pull/23888/files#diff-f3b2ea15ba728b55cab4a1acd97d996dR353). So this looks like a well-intentioned performance improvement gone a bit wrong?

[2019-02-15 15:35] TrigonaMinima commented on #16771
I don't understand what change I have to make here.

1. The code doesn't segfault everytime.
2. ```values``` and ```labels``` are only getting what they should be getting *ie* data without the missing categories. What check should I write here?

[2019-02-15 15:59] jbrockmendel opened #25335 "np.sum(TimedeltaIndex) should return a Timedelta, not np.timedelta64"
ditto TimedeltaArray.  xref #25329.

I think the relevant method is `__array_ufunc__`, @jorisvandenbossche any idea about this?

[2019-02-15 16:17] jorisvandenbossche commented on #25193
Well, I don't care that much how it is done, I mainly care about it being fixed for 0.24.2. I only know that before #21879 it was working, and that I don't have the time to dive into setuptools inner details right now, so if we don't find another solution, reverting it is an option for me.
In any case, the `maybe_cythonize` is not essential to get a build_ext working. I just removed it, and doing

[2019-02-15 16:18] d6tdev commented on #20602
I need to get the last value so `series_a.rolling(3).apply(lambda x: Series(x).rank().values[-1])`

[2019-02-15 16:19] TomAugspurger commented on #25335
The datetimelike indexes and arrays don't implement `__array_ufunc__` yet, do they? Or are you saying that the fix is to implement it?

The old (pre-numpy 1.13) way of doing this would be with `__array_ufunc__`.

[2019-02-15 16:22] jorisvandenbossche commented on #25335
I suppose you mean `__array_wrap__` ?

[2019-02-15 16:26] jorisvandenbossche commented on #25335
See also https://github.com/pandas-dev/pandas/issues/22798 and https://github.com/pandas-dev/pandas/pull/23293 (that last one is a PR that started implementing this, I hope to find some time soon to pick it up again).

[2019-02-15 16:28] TomAugspurger commented on #25335
Yes, sorry.

On Fri, Feb 15, 2019 at 10:22 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-02-15 16:58] wuhaochen commented on #24768
In such case concatenating float64 data doesn't preserve the dtype though. Is it considered a bug?

[code]

A    float64
dtype: object

[2019-02-15 17:04] jbrockmendel commented on #25193
I maintain this is the thing to do.  Go for it.

`cythonize` takes care of figuring out the dependencies that were previously explicitly (and error-proned-ly) listed in setup.py.  Using it simplifies that part of setup quite a bit.

[2019-02-15 17:08] TomAugspurger commented on #24768
Not sure about bug, or just not implemented fully yet.

The general rule for concatenating a mixture of EAs and non-EAs is to
coerce everything to object.

We have an open issue about a type-based multiple dispatch for concat.

On Fri, Feb 15, 2019 at 10:58 AM Haochen Wu <notifications@github.com>
wrote:

[2019-02-15 17:24] okomarov opened #25336 "pd.read_json does not convert date before 1971-01-01"
#### Code Sample

[code]

#### Problem description
Read json does not convert epoch timestamps before and including 31536000 into dates. We start with the following input:

[code]
and after a roundtrip encoding/decoding transforms into:
[code]

Any date after `datetime(1971, 1, 1)` get converted correctly.

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-02-15 17:26] jorisvandenbossche commented on #25193
I currently don't have time to look more into it.

[2019-02-15 19:25] brettbrocato commented on #21577
For me in Win10, WinPython 3.6, Pandas 0.23.4 the file.flush() is still necessary and works like a charm.  I'll try to remember to come back and offer non-proprietary sample data.

scrubbed code:
`
def writepathsfile(pathsdf=pathsdf,writepath=outputpath,writefile=outputfilename):
    headerlist=['header0','header1','header2']
    wholepath=writepath + writefile + ".path"
    if os.path.exists(whol

[2019-02-15 19:54] jorisvandenbossche commented on #25318
@batterseapower Thanks for the report!

This is indeed a regression, let's try to fix it for 0.24.2. @batterseapower or @yichen8 a PR is very welcome. We should indeed keep a call to `_recode_for_categories` (or at least in certain cases)

[2019-02-15 23:14] MarckK opened #25337 "Fix validation error type `SA04` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `SA04` (Missing description for See Also reference), fixing them in the code base enables the addition to the CI for automated testing in the future.

Please see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4).

Todo:

* [ ]     get rid of the errors in the code base
* [ ]

[2019-02-16 02:49] paddyhoran commented on #23180
@TomAugspurger I was getting this issue with python 3.7 but once I upgraded to numpy 0.16.0 it resolved itself.  Conda was installing numpy 0.15.x by default.

Might be a different issue but worth checking...

[2019-02-16 02:51] suhongs commented on #25336
I am working on this.

[2019-02-16 07:33] scari commented on #25336
I guess it is some kind of heuristic to determine timestamp-ish numbers.
https://github.com/pandas-dev/pandas/blob/master/pandas/io/json/json.py#L770

If we remove those range check in `in_range` then it would work but maybe it could introduce unwanted conversion?

[2019-02-16 07:57] suhongs commented on #25271
I am working on this.

[2019-02-16 12:20] lumbric commented on #25307
Oh, I think I misinterpreted the situation slightly. The wrong result is actually caused by numerical instability in bottleneck's implementation. That's still not good, but maybe different than an overflow. The hint in de documentation to overflow is not related.

Still, I think it might make sense not to use bottleneck for 32bit.

[2019-02-16 12:48] luisneto98 commented on #24211
Hello, I'm new here. Should I indicate that I want to try to solve this problem? Can I solve it?

[2019-02-16 14:56] Sedosa commented on #25337
Hi! May I work on this?

[2019-02-16 15:18] MarckK commented on #25337
Yes, please do @Sedosa :)

[2019-02-16 16:11] minggli opened #25341 "BUG: import error with python>=3.6.x since 0.23.0"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

It appears to work fine on python 3.5.5 but not on 3.6.5 or 3.7.0

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

[2019-02-16 16:21] jreback commented on #25302
trying this

[2019-02-16 16:32] #24198 closed

[2019-02-16 16:34] #25080 closed

[2019-02-16 16:36] okomarov commented on #25336
The `min_stamp` is actually set at: https://github.com/pandas-dev/pandas/blob/83fe6ca422ecc35f311897abedadcc492b2a0777/pandas/io/json/json.py#L597

Not sure what was the rationale on setting the limit at an arbitrary (?) 31536000.

[2019-02-16 16:36] jreback commented on #25303
This is probably ok to remove / deprecate this for *only* ``Categorical``; the PR #25304 is not acceptable regardless of this change.

[2019-02-16 17:22] #22660 closed

[2019-02-16 17:34] minggli commented on #25341
closed as it is due to a local file named as `typing.py` 🙁 🤦‍♂️

[2019-02-16 17:34] #25341 closed

[2019-02-16 17:38] #24653 closed

[2019-02-16 17:56] #24043 closed

[2019-02-16 17:57] jorisvandenbossche commented on #25303
It is *only* implemented for Categorical, no other array has this keyword, so no problem to only deprecate it there. The `numeric_only` keyword for DataFrame reductions is basically unrelated (except for the fact that it has the same name).

[2019-02-16 18:50] jreback commented on #25299
closed by #25304

[2019-02-16 18:50] #25299 closed

[2019-02-16 19:07] david-cortes opened #25345 "Argument 'fastpath' in 'Categorical' not documented"
In documentaion for `pandas.Categorical`:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Categorical.html

Argument `fastpath` which can be passed to the class constructor is not documented on the docstring:
https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/categorical.py

[2019-02-16 19:39] jreback commented on #25345
see https://github.com/pandas-dev/pandas/issues/20110

we would actually like to remove these

[2019-02-16 19:39] #25345 closed

[2019-02-16 19:48] bran112299 commented on #25312
Run the plots individually, Then run the plots at the same time and there is clearly a date range issue that causes the graph to mess up.

[2019-02-16 21:26] minggli commented on #12585
I also came across this issue of inconsistent parsing of non-ISO8601 formats (i.e. MMDDYYYY and DDMMYYYY). I understand this is a known issue involving `dateutil` but maybe we can enhance `infer_datetime_format` so to avoid such ambiguity.

`_guess_datetime_format_for_array` only looks at first non-null value. Potentially we (happy to contribute myself) can make it more robust by searching for inc

[2019-02-16 21:33] jreback commented on #12585
you would do this in array_to_datetime

once a date is parsed with dayfirst or yearfirst then it would be an error to not parse others in the same way

[2019-02-16 23:24] WillAyd commented on #25312
Can you post screenshots of what you are seeing?

[2019-02-16 23:53] mroeschke opened #25347 "API: ExtensionArray "serialize" and "from_serialized" methods for defining roundtripping behavior"
xref https://github.com/pandas-dev/pandas/pull/25308#discussion_r257468179

When EAs go through cython routines, they need to be converted to numpy arrays (and dtypes) first and then recast to the correct EA. This recast may require specific logic. For example, `DatetimeTZDtype`s need to be localized to UTC first before applying the dtype.

The proposal is for (optional) internal `_serialize` and

[2019-02-17 03:06] yichen8 commented on #25270
Sorry, I gave last modifition `first = types[1:]` in `find_common_type()` (pandas.core.dtypes.cast.py) , but it can't pass the pandas test. And I update this:
[code]
The change passed Test and excepted output.

Hope to help you.

[2019-02-17 03:24] rickymal opened #25348 "[SOLVED - NOT BUG] DataFrame.rename method changing the datetime format."
The Rename Method from DataFrame convert de datetime format in the original form.
I have a datetime in the format %Y-%m-%d in a DataFrame. Before I use de rename method this DataFrame change the format to %Y-%m-%d 00:00:00. This is a Bug? isn't correct rename the index too. I think that this method should only rename de columns that i put

A Example:

![image](https://user-images.githubusercontent

[2019-02-17 09:43] saurav2608 commented on #25143
I think we need some discussion on what is the correct behavior in some of the corner cases. For example in the below case (on version 0.24.0). I think as errors is 'raise' the second command should raise an error. Currently, we retry parsing on error if '_infer_datetime_format_' is **True**. And reading the code here(https://github.com/pandas-dev/pandas/blob/4a20d5b9e526435a53b7cb1dc0a819299d31f0

[2019-02-17 12:17] TomAugspurger commented on #25347
I don't quite follow the proposal. At least, I don't think the proposed behavior matches the names `_from_serialized and `_serialize`. I think serialization is typically used for a protocol / byte-level representation of an object.

IIUC, the desire is for a pair of methods that will be called before and after a (NumPy?) numeric operation. Do we have examples other than datetime-tz?

- Categorical

[2019-02-17 12:18] TomAugspurger commented on #25348
Do you have a minimal example?
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

On Sat, Feb 16, 2019 at 9:24 PM Henrique Mauler <notifications@github.com>
wrote:

[2019-02-17 12:35] Mark531 opened #25349 "pd.concat does not work correctly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have 2 dataframes that I try to concatenate horizontally. The method concat doesn't work: it returns a dataframe with a wrong dimension. Moreover, all column names happen to be changed to numbers going from 0 to 64...

The dataframes are created from a dataset that is a bit big so I cannot reproduce the creat

[2019-02-17 12:54] TomAugspurger commented on #25349
It's hard to say without a [minimal example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports), but it appears that you're getting confused by the alignment. See http://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.concat.html?highlight=concat#pandas.concat

Specifically, the `ignore_index_parameter`

Since you're using `axis=1`,

1. the column labels will be rese

[2019-02-17 12:54] #25349 closed

[2019-02-17 14:57] Mark531 commented on #25349
Ok, I didn't get that ignore_index_parameter was referring to the concatenation axis index. But I don't understand its utility in that case. The most classic use case happening in data preparation is adding to a dataframe the columns of another dataframe (given that they have of course the same number of rows), whatever their row indices. I regret that ignore_index_parameter would not allow that.

[2019-02-17 15:00] jreback opened #25351 "ERR: excel styler tests failing recently"
https://travis-ci.org/pandas-dev/pandas/jobs/494493327

xref @jnothman

[2019-02-17 15:03] ThibTrip opened #25353 "astype(str) / astype_unicode: np.nan converted to "nan" (checknull, skipna)"
#### Code Sample

[code]

#### Output
0    foo
1    nan # nan string
dtype: object

#### Expected output
0    foo
1    NaN # np.nan
dtype: object

#### Problem description

Upon converting this Series I would expect np.nan to remain np.nan but instead it is casted to string "nan". Maybe I'm alone in this and you'd actually expect that (I can't see a realistic use case for these string "nan" but we

[2019-02-17 21:17] rickymal commented on #25348
Sorry, I put the imagem right now.

[2019-02-17 21:20] rickymal commented on #25348
I found the problem, the index parameter nedd to be None, not str as I put. Sorry

[2019-02-17 21:25] nickagian commented on #25306
I have gone down to 51 errors, which are very tricky and don't know how to handle them. Could someone help?

Here the list of the remaining errors:

method | file | file_line | github_link
-----|-----|-----|-----
pandas.Timestamp.isoweekday | None | NaN | https://github.com/pandas-dev/pandas/blob/master/None#LNone
pandas.Timestamp.weekday | None   |     NaN | https://github.com/pandas-dev/pandas/b

[2019-02-17 21:26] jnothman commented on #25351
I'm not seeing it. Under pandas-ci/pip I see errors in
test_terminal_unknown_dimensions

[2019-02-17 21:28] jreback commented on #25351
no on that CI

look on the one i linked

or just pull master and run the test (i installed latest openpyxl)

[2019-02-17 21:37] jnothman commented on #25351
Confused. I saw a different page when I clicked that. Might have put in an
extra click by accident

[2019-02-17 21:53] MarckK opened #25356 "Fix validation error type `RT01` and check in CI"
#### Problem description
In order to have a continuous check by the CI on validation error `RT01` (No Returns section found), fixing them in the code base enables the addition to the CI for automated testing in the future.

Please see [overview of the errors](https://gist.github.com/198cfa552c727d71bd7360fda66fdbb4).

Todo:

* [ ]      get rid of the errors in the code base
* [ ]      update the `

[2019-02-17 22:47] rickymal opened #25357 "DataFrame.dropna() fill Data and interpolating. Why?"
As we can see, the dropna() Method drop rows with value and add value from NaN rows. I don't undestood why.

between  1990-04 and 1990-08 u can see that we have value. But the dropna Method drop theses rows, and they are float64 value. And the dropna() method fill 1990-09 and 1990-10 with value that didn't exist.

![image](https://user-images.githubusercontent.com/25715921/52920577-ba40f280-32ec-1

[2019-02-17 23:24] mroeschke commented on #25347
"serialize" is a bit of a misnomer (just a placeholder name). Your follow-up examples are closer to the spirit of the idea.

`_serialize` I think would be essentially the same as `_ndarray_values` with additionally saving extension dtype so the pair could be passed to `_from_serialized`

[2019-02-18 01:36] parkerdgabel commented on #25306
Hi I would like to help but i'm not quite sure what the problem is or how it is solved. Is it a missing period in a docstring?

[2019-02-18 04:04] scari commented on #25336
That numbers are s/ms/us/ns representation of 365 days. I guess it is a heuristic to determine timestamp-ish numbers AND avoid unwanted conversion for smaller numbers.

[2019-02-18 05:51] mroeschke commented on #25348
We follow the same conventions as `datetime.datetime`

[code]

[2019-02-18 05:51] #25348 closed

[2019-02-18 06:12] gfyoung commented on #25357
@rickymal : Thanks for reporting this!  Could you update your original issue with the following:

* The output `pandas.show_versions`
* The code used to generate the `DataFrame`

[2019-02-18 06:15] gfyoung commented on #25353
cc @jreback : Besides the Excel issue listed in the description, this seems to ring a bell...

[2019-02-18 06:18] gfyoung commented on #25336
@scari : That would seem to be the rationale, but why don't you see what happens if we loosen that minimum a little bit.

cc @jreback

[2019-02-18 06:22] nickagian commented on #25306
Yes, the summary of the docstring should end with a period.
As I said, I have eliminated almost all of them, but there seems to be three categories that it is a bit trickier:

- One category where the docstring comes directly from an external module (we cannot really change that, perhaps create an issue over there?)

- Another is the attributes items, major_axis and minor_axis of Panel class: ther

[2019-02-18 06:30] gfyoung commented on #25332
A very odd regression indeed, but a regression nonetheless and for a reasonable intention IMO.

[2019-02-18 06:31] gfyoung commented on #25326
cc @jreback

[2019-02-18 06:40] Nakai-Naoto commented on #23164
* int : Defines the number of equal-width bins in the range of `x`. The range of `x` is extended by .1% on each side to include the minimum and maximum values of `x`.
        * sequence of scalars : Defines the bin edges allowing for non-uniform width. No extension of the range of `x` is done.

This does not seem to be documented because `bins` is a sequence of scalars in the code sample.

[2019-02-18 06:48] gfyoung commented on #25290
@jorisvandenbossche : This also doesn't work in `0.23.4` (which is why I dropped the milestone), and I can't test on `0.22.0` at the moment.

[2019-02-18 06:48] gfyoung commented on #25322
cc @jreback

[2019-02-18 09:40] okomarov commented on #25336
The only coherent way to control index conversion to a date is with a flag. You cannot rely on a range, too ambiguous.

Why is a year a sufficient number of observations to consider it a date and not a very long dataset of another indexed type (any population census with >32 mln people will go above that for example)

The second problem here, is the amount of arguments it accepts. It’s unclear wha

[2019-02-18 10:17] wangfengming opened #25359 "general dataframe combine doc"
#### Problem description

https://github.com/pandas-dev/pandas/blob/master/doc/source/getting_started/basics.rst#general-dataframe-combine

[code]
the code above should be:

[code]

[2019-02-18 10:18] gfyoung commented on #25332
cc @jreback

This stems from #24541 in which `MagicMock` gets passed into `pandas_dtype` from when `is_timedelta64_dtype` is called (this method is called as well prior to this commit).

The breaking logic is here:

https://github.com/pandas-dev/pandas/blob/659e0ca/pandas/core/dtypes/common.py#L2036-L2043

Unfortunately, `numpy` dtypes do not play nice with `MagicMock`.  In fact, you can replicate