[2019-05-20 20:52] kflamm commented on #10772
The documentation should say dropna: "Do not include columns **OR ROWS** whose entries are all NaN", because that is what the current behavior actually seems to be.

[2019-05-20 21:36] jschendel commented on #26475
Probably the same underlying issue as #17927

[2019-05-21 01:53] heckeop commented on #17927
@jschendel
https://github.com/pandas-dev/pandas/blob/f5cc0789ae5f5a9e5b251e94784f537f30e0b490/pandas/core/algorithms.py#L80

@jreback
I can take a look (`uint8` as well) if nobody is assigned to this.

[2019-05-21 02:23] jreback commented on #17927
@heckeop sure

[2019-05-21 03:38] jschendel commented on #26336
The tests revealed one additional breaking case: overriding the dtype of an existing `Categorical` when constructing a `Series`:
[code]

Interestingly, this doesn't appear to happen with other constructors:
[code]
Will update the PR accordingly.

[2019-05-21 03:59] jschendel commented on #26336
Looks like there's one additional complicating factor.  When passing the string `'category'` as the dtype, would we want to maintain the existing `ordered`, even if it's `True`?  I think we would want to maintain the existing `ordered`, as we've made special cases for the string `'category'` elsewhere in the codebase.

This gets a little messy in the `Series` constructor case, as described above,

[2019-05-21 06:05] skysunsun opened #26478 "mergebug"
#### My code

[code]
#### Problem description

when I merge two table,I set the 'how='left'', so the length of original data should be equal the length of merge data.(the second table's length is 1774233)

But it return

len(data1):6000000
len(data)：284428008
It does not equal!!!! Why???

[2019-05-21 06:07] #26478 closed

[2019-05-21 06:08] WillAyd commented on #26478
That wouldn't be true if the merge key appears multiple times in the right data frame

[2019-05-21 06:11] jorisvandenbossche commented on #26336
Ah, yes. I actually think this was the main reason to have this ordered=None, to be able to represent the meaning of the string 'category' dtype description ..

[2019-05-21 06:17] jorisvandenbossche commented on #26336
Another option might be to actually keep this `ordered=None` behaviour, but still deprecate it as default? Meaning that if you do `CategoricalDtype(['a', 'b', 'c'])` this will actually be with ordered=False, but a 'category' string would still be converted to `CategoricalDtype(ordered=None)` ..
Not the nicest solution, but I don't really see how we would otherwise keep this behaviour of `dtype='ca

[2019-05-21 07:25] mahepe commented on #25775
sure @jreback, will take some days due to work though

[2019-05-21 09:48] dwt commented on #22682
There is current development to get old packages picked up, so maybe have a look at https://github.com/pypa/warehouse/issues/1506 to see if there is a way to continue using the old package name even though the old maintainer is not contactable anymore. Still it would be best to collaborate with him. If he doesn't reply, maybe try to call him?

[2019-05-21 10:47] skysunsun commented on #26478
Thank you very much!

[2019-05-21 10:51] datapythonista opened #26479 "BUG: .shift() on IntervalArray column raises ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Applying a `.shift()` on a `Series` backed by the `IntervalArray` extension array raises an exception

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
python: 3.7.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor:

[2019-05-21 13:55] giliam commented on #10611
Same here, executing from a Jupyter Notebook (I haven't fully understood whether it is important or not) with Matplotlib version greater than 3.0.

[2019-05-21 14:58] joaoe commented on #25287
Btw, workaround for who might need. Pick one of the following:
1. `pip install pandas==0.23.4`
2. Put this in some place where it always runs in your project
[code]
This way you can keep the newer pandas, but you have been warned that this will bite you https://stackoverflow.com/questions/3828723/why-should-we-not-use-sys-setdefaultencodingutf-8-in-a-py-script

[2019-05-21 14:59] jschendel commented on #26479
Thanks, this is a dupe of #22428

This issue only occurs for dtypes that can't store NA, so a workaround in the meantime is to cast to a float subtype prior to the `shift`:
[code]
Note: `IntervalArray` doesn't support IntNA subtypes yet, so there isn't a way to maintain integer endpoints when introducing NA.

[2019-05-21 14:59] #26479 closed

[2019-05-21 16:18] JuliBerz opened #26480 "pd.DataFrame.dot does not work when column index is set"
From the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dot.html) we see that the following code is just fine:
[code]
and will return
[code]

Inconsistently, the same code fails, when one adds column labels to the first dataframe like such
[code]

#### Expected Output

As seen above
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VER

[2019-05-21 16:46] jschendel commented on #26336
I'm in favor of this, as keeping a `CategoricalDtype` representation of `'category'` seems like the cleaner solution.  In my PR I've introduced special casing in a few places to maintain the behavior of `'category'`, and there's still some more special casing that needs to be added as I currently have some test failures related to this.

[2019-05-21 18:14] kfrendrich opened #26481 "iterating pandas dataframe difference between python 3.5.6 and 3.7.3"
Hi.

I realized a difference when I am iterating the dataframe in python 3.5.6 and 3.7.3 and I can't decide if it is good or bad.

[code]
#### Problem description

**3.5.6**: always return with: [**'Time', 'col1', 'col2', 'col3']** (it looks the pandas **sorts** the keys?)

**3.7.3**: always return with: **['col1', 'col2', 'col3', 'Time']** (it looks the pandas **preserves** the original order? (i

[2019-05-21 18:55] jorisvandenbossche commented on #26481
You are constructing the DataFrame from a dictionary. So in python >= 3.6, we are using the order of the dictionary for the column order, but for older python versions, since the order is random, pandas sorts the keys to have a consistent output.
You can provide a `columns=` keyword to the DataFrame constructor if you want a consistent order across python versions.

[2019-05-21 18:58] kfrendrich commented on #26481
Thanks for the clarifications.

[2019-05-21 18:59] #26481 closed

[2019-05-21 20:41] #23525 closed

[2019-05-21 22:57] szs8 commented on #26443
+1
Seeing the same issue.

[2019-05-22 00:54] inclusive-dev1 commented on #22682
We've created a [PEP 541 name transfer request](https://github.com/pypa/warehouse/issues/5895).

We would rather rely on a public communications channel (GitHub) to do the contacting. Publicly recorded and visible. We're sticklers for respecting privacy. :-P

## May need entirely new project instead

Even if we do manage to get the maintainers back on board and active, there's also the issue of *s

[2019-05-22 01:55] TomAugspurger commented on #26443
Anyone interested in debugging this?

[2019-05-22 03:48] jackzhenguo commented on #13262
could anyone help me whether current pandas 0.24.2 support "mangle_dupe_cols=False"?

I find docs at http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html, explaining : Passing in False will cause data to be overwritten if there are duplicate names in the columns.

Thanks so much!

[2019-05-22 04:44] reinaldo-gomes commented on #5686
I need to create a report containing every line with bad data (including those with too many fields). How am I supposed to do that if pandas won't let me act upon each occurence??

[2019-05-22 05:20] gfyoung commented on #13262
Still no support, as behavior of data handling has proven to be quite non-trivial when there are duplicate column names.  You are welcome to give it a shot though!

[2019-05-22 05:26] dwt commented on #22682
Well, I don't mind you sticking to public communications, but it may pay to get the old maintainer to notice those first. Looking at the current state of affair of the xlrd project it sure seems that he is not monitoring his emails from that project, so trying to exclusively using those seems unnecessarily risky.

So maybe give him a call, to make sure he is aware that you are willing to put in th

[2019-05-22 07:11] aviolov opened #26485 "A memory leak when using bottleneck nanmax"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I am experiencing what appears to be a memory leak when using bottleneck.nanmax on a pandas Series. Calling `abs(bottleneck.nanmax(df.loc[:, col]))` will retain a reference to df in  memory even after `df` has been explicitly deleted and `gc.collect` called. This also sounds like a bottleneck issue, so let me kn

[2019-05-22 08:57] TasneemVKhan commented on #21112
i had the same error I resolved it using
store_items = store_items.append(new_store , sort=True)

You just have to add sort =True to your code and the warning disappears

[2019-05-22 09:20] cbrnr commented on #5768
It would be great if this functionality was available directly from Pandas, e.g. via `read_spss`. @TomAugspurger @jreback @jorisvandenbossche (sorry for the explicit mentions, I don't know how to at the whole dev team) would this be an option (given that this requires a C lib)? @ofajardo would you be willing to merge your code?

[2019-05-22 10:46] cjw296 commented on #22682
You'd think about maybe trying on the python-excel mailing list?

[2019-05-22 10:58] cjw296 opened #26487 "Please stop relying on xlrd"
#### Problem description

Guys, xlrd is unmaintained. I know, I'm the maintainer!

Please can you use [openpyxl]( https://openpyxl.readthedocs.io/en/stable/) for reading xlsx files instead.

If you really must keep support for the ancient and outdated .xls format, by all means fall back to xlrd, but warn people they're on shaky territory and should sort their data source out!

[2019-05-22 11:35] jorisvandenbossche commented on #26487
Thanks for the heads up!
There is an open issue about adding reading support based on openpyxl: https://github.com/pandas-dev/pandas/issues/11499, and there is an active PR working on it: https://github.com/pandas-dev/pandas/pull/25092

[2019-05-22 11:38] TomAugspurger commented on #5768
It’s more likely that we would have an optional dependency on that package that a read_spss would use. Similar to what we do with pyarrow and parquet.

[2019-05-22 11:43] metaswirl commented on #26293
Well, the wording could be either "Don't use pandas for changing ticks in a timeseries plot." to "While ticks in a timeseries plot can be changed in pandas, it is still an experimental feature. Use matplotlib when you experience troubles." Or if you have more insight, in when the problem occurs, then it would help to mention that.

[2019-05-22 12:59] giacomopareschi opened #26488 "Set single cell of Multindex DataFrame to array"
I am creating a Multindex DataFrame but I don't know in advance how many rows I will have, since I reading from a pool of files. I basically want to append a new row every time. The best way I found is:

[code]
this works fine. But then I want to set ```df.loc[('a',1),'Vector]``` to an array, not a single value. By trying either
[code]
or
[code]
I get
[code]
#### Expected Output
I would like the v

[2019-05-22 14:11] sbitzer opened #26490 "RecursionError when selecting single column from IntervalIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Instead of returning the selected column, either calling `df[0.5]` or `df.loc[:, 0.5]` raises `RecursionError`.

The issue is in `frame.__getitem__` where `key in self.columns == False`. The code then correctly identifies the desired column by integer index using `self.columns.get_loc(key)`, but then goes on to

[2019-05-22 15:15] jschendel commented on #26490
Thanks, I can confirm this issue on master.  Using an `IntervalIndex` as columns isn't well tested (xref #17130), so any bug reports are appreciated.

[2019-05-22 16:20] jschendel commented on #26480
This is the expected behavior.  The key thing here is that `df.dot(s)` is aligning the columns of `df` with the index of `s`.  In your second example the alignment fails, as the columns of `df` do not match the index of `s`, so raising the `ValueError` is correct.

The advantage of alignment is that you don't need to worry about making sure things are ordered consistently, and you'll get the same

[2019-05-22 16:27] JuliBerz commented on #26480
Thank you very much for you quick and extensive anser!

[2019-05-22 16:39] plammens opened #26491 "Label-based indexing on a Series with an index of dtype=object raises TypeError when using slices with integer bound"
When indexing a pandas axis that has an `index` of `dtype=object`, with label-based indexing, passing a slice that contains an integer bound results in a `TypeError`, even if the integer *is indeed a label* in the `index` of the series.

### Details
#### Code Sample

When indexing a pandas axis that has an `index` of `dtype=object`, with label-based indexing, passing a slice that contains an integ

[2019-05-22 17:55] ofajardo commented on #5768
@cbrnr I am willing to help and contribute

[2019-05-22 18:45] jorisvandenbossche commented on #14487
It also depends on which format is specified:

[code]

[2019-05-22 18:47] jorisvandenbossche commented on #14487
On the original question of which of the two behaviours we would want: whether it is for `errors='ignore'` or not, I think there is some value in having the option to get datetime.datetime values for out of bound dates

[2019-05-22 19:05] jorisvandenbossche opened #26493 "BUG: combination of out of bound date and nan with errors='ignore' gives nonsense data"
[code]

[2019-05-22 19:41] TomAugspurger commented on #26491
This raising probably isn't intentional.

On Wed, May 22, 2019 at 11:39 AM Paolo Lammens <notifications@github.com>
wrote:

[2019-05-22 19:42] matsmaiwald commented on #26480
I'll update the documentation if no one else is already on it!

[2019-05-22 19:48] fiendish opened #26494 "assert_frame_equal with check_like throws exception if frames have repeat indices"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It raises an exception (and with a not helpful message)
[code]

#### Expected Output

It should return that they are equal because, ignoring index order, the two dataframes are equal.

#### Output of ``pd.show_versions()``

[code]
</details>

[2019-05-22 19:53] TomAugspurger commented on #26293
Something like that sounds reasonable, though I might not use
"experimental". More so not easily customizable after the fact,
compared to if you used matplotlib directly. And this is a general
recommendation with DataFrame.plot, not timeseries-specific.

Are you interested in making a PR adding that to the documentation?

On Wed, May 22, 2019 at 6:43 AM metaswirl <notifications@github.com> wrote:

[2019-05-22 19:57] TomAugspurger commented on #26485
What do you observe with bottleneck.nanmax on an ndarray, either a raw ndarray created directly, or one extracted from a DataFrame with `df.loc[:, col]`. It'd be good to isolate between bottleneck / pandas' indexing / pandas' .max.

[2019-05-22 20:02] aviolov commented on #26485
I hoped the MRE would show that using bottleneck.nanmax on the df[].values does NOT result in a memory leak. That is my impression

  On Wed, 22 May 2019 at 21:57, Tom Augspurger<notifications@github.com> wrote:
What do you observe with bottleneck.nanmax on an ndarray, either a raw ndarray created directly, or one extracted from a DataFrame with df.loc[:, col]. It'd be good to isolate between bott

[2019-05-22 20:04] topper-123 opened #26495 "Remove StringMixin from code base"
I`m thinking about making a PR to remove ``StringMixin`` from the code base in order to make pandas use more standard string output methodology (putting the base string representations in __repr__ , as is standard in python3, instead of in  __str__).

Any objections to this? This is backwards compatible for users of Pandas, but may be slightly backwards incompatible for subclasses of Pandas classe

[2019-05-22 20:08] vwither commented on #12354
Hi, I have the same problem and it seems like it would make sense for pd.DataFrame.plot() to take the option keyed argument hatch = [] like it does for colors, marker, etc. It has been two years since this was first reported and I have seen several hacks o how to get around this on GitHub but is anyone working on this.

[2019-05-22 21:48] pjadzinsky opened #26498 "rename doesn't work with mutliindex"
#### Code Sample, a copy-pastable example if possible
[code]
Currently both df1 and df2 are:
[code]

#### Problem description
I was expecting df.columns[1] to change to ('C', 3) but it remains ('A', 1)

#### Expected Output
[code]

[2019-05-23 00:08] jbrockmendel opened #26500 "MAINT: port numpy#13188 for np_datetime simplification"
our _libs/tslibs/src/np_datetime.c is based off of the numpy version.  A recent PR there made a pretty nice simplfication to the relevant code.  We should do the same.

https://github.com/numpy/numpy/pull/13188/files

[2019-05-23 01:02] howsiwei commented on #13658
@jreback any updates?

[2019-05-23 01:05] jreback commented on #13658
this is an open issue @howsiwei

[2019-05-23 04:55] howsiwei commented on #13658
@jreback I'm curious what's the intended behavior and if PR is welcomed.

[2019-05-23 06:22] cbrnr commented on #5768
Great! So this could be as simple as adding `pandas/io/spss.py` and wrapping relevant functions of `pyreadstat` (and making sure to import it only within functions and not globally). Since only a data frame should be returned, some effort is probably be necessary in using the meta information for creating suitable column names, data types, and so on.

Also,`pyreadstat` can also read SAS and Stata

[2019-05-23 06:56] jorisvandenbossche commented on #26495
GeoPandas does not modify the repr, so it would not be affected.

I don't really use or know of other packages that subclass pandas, but to me it seems OK to change this, if we really want to.

[2019-05-23 11:08] jendrikjoe opened #26501 "Adding column to filtered dataframe takes longer than copying and then adding"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When adding a new column to a filtered dataframe, the execution takes longer than copying the whole filtered dataframe and adding a column to the copy (at least for dataframes with just one column (33 ms vs. 5ms)). Working on a time critical application the difference matters a lot to me personally, but it seem

[2019-05-23 11:11] jreback commented on #26501
of course this what the SettingWithCopy warning is all about
it garbage collects to detect you are doiing incorrect things

[2019-05-23 11:11] #26501 closed

[2019-05-23 11:31] jendrikjoe commented on #26501
Well, running the code above doesn't throw a SettingWithCopy warning.

[2019-05-23 12:37] TannhauserGate42 opened #26502 "Copy and grouby-sum changes column-major-ordering to row-major-ordering with huge impact on performance"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

pandas.DataFrame.copy return a copy with underlying numpy array with the major-ordering changed from C to F if initially was C order

pandas.DataFrame.groupby.sum return a a DataFrame with underlying numpy array with the major-ordering changed from C to F if initially was C order on the DataFrames values.

This

[2019-05-23 12:40] TannhauserGate42 commented on #22073
I think this problem could even be more fundamental ...

Pandas copy and groupby-sum aggregations (and maybe other operations) change the major-order on the underlying data of the returned object.

[2019-05-23 12:44] set92 opened #26503 "MemoryError: INNER JOIN in a cluster of 65gb ram"
#### Code

[code]
#### Problem description
So I have some tables exported from PostgreSQL, and I wanted to join all of them, I saw in my laptop(archlinux x64) that the ram consumption got to 14gb, and I switched to a linux cluster my company has. And there keep happening the same, all the joins works fine until the last one where it always outputs MemoryError, I tried **del** variables and using D

[2019-05-23 12:48] jreback commented on #26503
this is not a reproducible example in any way. you are likely to be better off asking on Stack Overflow as you are likely doing something odd; this board is for a bug report.

[2019-05-23 12:48] #26503 closed

[2019-05-23 12:53] jreback commented on #26502
dataframes are stored as f-contiguous, if you are passing in a numpy array that is not and you have a single dtyped backing (meaning you passed a 2-d array in the first place) it will be preserved to some extent. The current design of pandas does not lead to any kind of guarantees about the back store. You can investigate if you want, but not sure anything could actually be done without breaking t

[2019-05-23 14:15] TannhauserGate42 commented on #26502
Hello Jeff,
Many thanks for replying.

I start reading a DataFrame from an pandas.HDFStore. It is read in C-contiguous. I wrote it into that store, out from another fully Python based application.

In the following an example with larger datasets. It shows nicely the performance drawdown. I run it in a Jupyther notebook on a 128GByte Jupyther Hub hosted on one of our machines.

The data delivered

[2019-05-23 14:33] jreback commented on #26502
@TannhauserGate42 you are welcome to have a look

[2019-05-23 14:42] jreback commented on #13658
@howsiwei likely this is a bug

[2019-05-23 15:01] mzwiessele opened #26504 "BUG: ordered categorical comparison with missing values evaluates to True"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Here a missing entry is being evaluated as `None <= "2" == True`. Shouldn't missing values always be evaluate to `False` in any comparison?
I think this is related to #4537

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python:

[2019-05-23 15:15] oguzhanogreden commented on #11886
It seems that this is not documented here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

[2019-05-23 16:33] TomAugspurger commented on #26504
Yep, should probably be False. It looks like we correctly mask for categorical : categorical comparisons, but not categorical : scalar.

[code]

This fix will be somewhere in https://github.com/pandas-dev/pandas/blob/65eac80dd4113ddbcee876029bfe03b4b3f11a3d/pandas/core/arrays/categorical.py#L100, similar to what we do above.

[2019-05-23 16:40] TomAugspurger commented on #5768
I think ignore for now, but we can certainly revisit once we have spss taken care of. Once there's interest we can add an `engine` keyword to `read_sas` and `read_stata`.

[2019-05-23 16:46] #26480 closed

[2019-05-23 18:10] gustavolinari commented on #26472
Probably because of the thresh parameter. Remove it and all NaN will be gone.

[2019-05-23 18:45] lucianoviola opened #26506 "IntervalIndex.get_indexer "method" options are not implemented but documentation implies they are"
#### Problem description

`IntervalIndex.get_indexer` returns `NotImplementedError` if `method` is any of the ones shown in the docstring and documentation (except for 'method=None'). I understand that they are not implemented yet, but that is not clear from the docstring.  It presents the 5 available options as if they are implemented.

Wouldn't it be better to remove `method`, if none of the opt

[2019-05-23 19:46] darynwhite commented on #25611
I'm running into a similar situation with 10-minute data from our buoys.

Here is the input numpy arrary:
[code]
And here is what happens when I attempt to make a pandas.DatetimeIndex with it:
[code]

Is there a workaround for this that has discovered yet?

[2019-05-23 19:48] xcz011 commented on #26500
If possible, I’d like to contribute this. I may need some help since this is my first contribution. Thanks!

[2019-05-23 19:59] tr0yspradling commented on #16620
`pd.read_excel(wb, engine='xlrd')`
`UnboundLocalError: local variable 'pd' referenced before assignment`

Shouldn't this be `pandas.read_excel(wb, engine='xlrd')`?

[2019-05-24 02:03] jbrockmendel commented on #26500
Great, a PR is welcome.  If you're comfortable with C, it's just a matter of making sure we haven't changed anything that would make that patch inapplicable, then copy/paste, with appropriate attribution.

[2019-05-24 03:04] joybhallaa commented on #26504
Can I work on this ?

[2019-05-24 04:11] alvarodemig opened #26507 "Merge fails when the dataframe contains an empty UInt/Int column"
[code]
#### Problem description

Merge fails returning `TypeError: data type not understood` when you try to merge a dataframe that contains an empty Int/UInt column and you don't use the index for the merge.

It seems to work if you use the index to merge, but it will fail if you use any other, no matter the type of the column

#### Expected Output

It is expected to complete the merge.

#### Out

[2019-05-24 06:11] shreyateeza commented on #14719
@jorisvandenbossche @jreback Can you please let me know how can I resolve this issue?

[2019-05-24 06:14] shreyateeza commented on #26504
@TomAugspurger I am new here. I would like to contribute to this issue. Can you tell me what needs to be done?

[2019-05-24 08:09] mitar opened #26508 "Cannot map column values based on column index"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The above raises a warning:

[code]

I have not found a way where I could map values in a column, but that column would be identified by the column index and that it would work with columns with non-unique column names.

#### Output of ``pd.show_versions()``

<details>

Python 3.6.7 (default, Oct 22 2018, 11:3

[2019-05-24 08:32] TannhauserGate42 commented on #26502
Thanks a lot! Does this mean, I shall fix it?

[2019-05-24 08:53] jorisvandenbossche commented on #14719
First step would be to try to reproduce the issue. If you run the test locally, does it fail? (when removing the skip)

[2019-05-24 10:09] jreback commented on #26502
it means that if you can do something in a reasonable way w/o breaking anything else then it could be considered

[2019-05-24 11:25] TannhauserGate42 commented on #26502
Thanks, will give it a try next week when I'm back in the office ...

I think, a behaviour aligned with the one expected from numpy should be envisaged.

[code]

[2019-05-24 12:55] talhaanwarch commented on #17834
i wish this should be implemented. getting alot of duplicate columns

[2019-05-24 13:43] shantanu-gontia commented on #26446
Looking at this again, the encoding looks correct to me,

b'\xff\xfe,\x000\x00\n\x000\x00,\x00f\x00o\x00o\x00\n\x00' has the bytes (UTF-16-LE)

\xff \xfe --> 0xfeff (BOM)
, \x00    --> 0x002c (comma)
0 \x00   --> 0x0030 (zero)
\n \x00  --> 0x000A (newline)
0 \x00   --> 0x0030 (zero)
, \x00    --> 0x002c (comma)
f \x00    --> 0x0066 (f)
o \x00   --> 0x006f (o)
o \x00   --> 0x006f (o)
\n \x00  --> 0

[2019-05-24 13:55] mmoraschini opened #26509 "Extremely slow custom function in pandas aggregate"
I have a DataFrame of ~3 million rows and 5 columns. I take a subset of ~450000 rows from it and I want to apply a function on a moving window (the index is a datetime). If use a custom function the performance is extremely low.

This is a reproducible example of my problem:

[code]

If I use `mymean` in the `aggregate` line, the execution time is:
`Time needed: 50.55572175979614 seconds`

If I us

[2019-05-24 13:58] jreback commented on #26509
of course your function is executed in a python loop and the others are highly optimized vectorized code

if you want help with your code try Stack Overflow

[2019-05-24 13:58] #26509 closed

[2019-05-24 14:01] shantanu-gontia commented on #26504
The `Categorical` object has the `_codes` property, which is used for comparison.

[code]
The `_codes` takes `NaN` to be `-1` leading to incorrect comparison

[2019-05-24 14:09] michalkahle commented on #15105
The point is that `stack`/`unstack` really sorts the the index. Let's continue with the session by @jreback .
[code]
Now, this is the bug mentioned above. Never mind this, let's continue.
[code]
Now the data frame is sorted by the remaining levels in the index!

This is undocumented behavior. The documentation says only: "The level involved will automatically get sorted."

Also requested [in](http

[2019-05-24 15:11] sbitzer commented on #26490
This worked in pandas 0.23.4. My impression is that we can at least get back to the old behaviour without breaking anything by changing

https://github.com/pandas-dev/pandas/blob/ae409049c7dd91625ee7f95824c84534892d1cf0/pandas/core/frame.py#L2840

to
[code]
but I'm unsure whether I miss some side-effects of this change for other index types. This change will prevent the `RecursionError`, because `

[2019-05-24 15:29] #26495 closed

[2019-05-24 15:32] #26366 closed

[2019-05-24 15:47] #10444 closed

[2019-05-24 15:58] jreback opened #26510 "CLN: modernize describe_categorical_1d"
https://github.com/pandas-dev/pandas/pull/26474/files#diff-03b380f521c43cf003207b0711bac67fL9898

This is very hacky way of processing datetimelikes. Also this likely doesn't properly handle categoricals that have other things as categories (Timedelta, Extension scalars)

[2019-05-24 16:22] jschendel commented on #26508
You're likely making a copy elsewhere in your code, as a minimal version of what you're describing does not trigger the `SettingWithCopyWarning`:
[code]
For an example of making a copy:
[code]

[2019-05-24 16:22] #26508 closed

[2019-05-24 16:29] mitar commented on #26508
Yes, but that is preselection. I do something like:

[code]

[2019-05-24 16:31] mitar commented on #26508
The issue is that `preselect` and `df_map` are in two completely separate modules and do not know anything about each other and `df_map` does not know if input has went through `preselect` or not.

How can I make it so that `preselect` really just returns a new value without this side-effect?

[2019-05-24 16:33] mitar commented on #26508
So for me `preselect` should be returning a new object. Assigning to returned value should not be modifying original input to `preselect`.

[2019-05-24 16:39] mitar commented on #26508
OK,

[code]

Is the solution.

Thanks.

[2019-05-24 17:15] plammens opened #26511 "Inconsistent behaviour of __getitem__ and .loc with slices for DataFrames with MultiIndex columns"
#### Code Sample

[code]

[code]

[code]

[code]

but

[code]

#### Problem description

Dataframes with `MultiIndex` columns aren't able to make a "cross section" slice (i.e., selecting all sub-columns of a certain label for every "major" column). I know this behaviour is provided by [`DataFrame.xs` & company](http://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#cross-section), bu

[2019-05-24 18:42] TomAugspurger commented on #25611
Casting seems fine if it's lossless. But if the values can't be represented correctly as datetime64[ns] then we should raise (I suspect we do).

[2019-05-24 19:24] TomAugspurger opened #26512 "Allow Keyword aggregation in SeriesGroupBy"
Followup to https://github.com/pandas-dev/pandas/pull/26399

[code]

https://github.com/pandas-dev/pandas/pull/26399#pullrequestreview-241906201

[2019-05-24 19:28] TomAugspurger opened #26513 "Allow Keyword Aggregation in DataFrame.agg and Series.agg"
Followup to https://github.com/pandas-dev/pandas/pull/26399

[code]

Expected Output

[code]

without the warning. Similar for `Series.agg`

[code]

[2019-05-24 20:46] shantanu-gontia commented on #26498
Can you post the expected output?

[2019-05-24 21:23] gfyoung commented on #6581
@TomAugspurger : the deprecation done in #16617...looks like it got removed at some point?  Is this still on the docket for removal in `0.25.0`, or has the plan changed?

[2019-05-24 21:25] jschendel commented on #26490
Using the `contains` method is probably not the right choice for a few reasons.  The `is_unique` condition isn't actually sufficient for scalar lookups in a `IntervalIndex`, as you can get duplicates from a unique but overlapping `IntervalIndex`, which would cause this codepath to fail.

Additionally, IIRC there were talks of deprecating the `contains` method for indexes, as I believe it's identic

[2019-05-24 21:27] bluecoconut opened #26515 "BUG: Groupby.Apply(Drop_Duplicates) seems buggy"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description

The two outputs have different schemas out when only changing the data. Expected that they would actually have the same levels of indicies. The first output should not "reset index" and completely lose the groupby context.

[2019-05-24 22:33] timgates42 commented on #26506
I see the documentation has already been forked for the get_loc method of IntervalIndexer I'll apply the same pattern for the get_indexer call and send through a PR

[2019-05-24 23:58] vaibhavhrt commented on #26453
@WillAyd we are almost done with removing all ignored modules from mypy.ini Once that's done I will take a look where we have used Union and see if we can use TypeVar instead.

[2019-05-24 23:59] vaibhavhrt opened #26517 "Fix type annotations in pandas.core.indexes.period"
Part of #25882

Current errors are:

    pandas\core\indexes\period.py:171: error: Incompatible types in assignment (expression has type "PeriodArray", base class "DatetimeIndexOpsMixin" defined the type as "None")

[2019-05-25 06:28] howsiwei commented on #13658
@jreback do you mean that multiple-column assignment should only gives a warning when none of the columns exists?

[2019-05-25 06:44] lucianoviola commented on #26506
I'm not sure what is the pandas core team thinks its the best approach for this. It might be the case that nothing needs to be done. Eles, I would like to work on the issue.

[2019-05-25 07:19] jreback commented on #13658
multiple column with a scalar assignment should work w/o a warning or error
all of the OP cases should work

[2019-05-25 11:33] makbigc commented on #26493
https://github.com/pandas-dev/pandas/blob/ba48fc4a033f11513fa2dd44c946e18b7bc27ad2/pandas/core/tools/datetimes.py#L772

The `astype` conversion turns all elements no matter the element is out of bound.

[2019-05-25 12:34] jorisvandenbossche commented on #26493
I can't say for sure (without looking more in detail) if that is indeed the reason (I would think that the `array_to_datetime` in the `calc` function a just above should still raise for out of bounds datetimes). But welcome to check further! Eg does it work correctly if you leave out the astype?

[2019-05-25 12:56] killerontherun1 commented on #23630
Hey, is this still open? Sort of new to this. I'd like to try my hand at fixing this.

[2019-05-25 13:03] jorisvandenbossche commented on #6581
@gfyoung the PR you link to got never merged?

[2019-05-25 13:30] killerontherun1 commented on #24071
Hey,

Newbie, again. I setup the environment and I think I have the latest version.

I ran:
`./scripts/validate_docstrings.py --prefix=pandas.core --errors=GL01,GL02`

Output:
`pandas.core.resample.Resampler.pipe: Docstring text (summary) should start in the line immediately after the opening quotes (not in the same line, or leaving a blank line in between)`
`pandas.core.groupby.GroupBy.pipe: Docs

[2019-05-25 18:38] gfyoung commented on #6581
@jorisvandenbossche : Good point - oops 🙂.  In that case, looks like we won't be removing this anytime soon.  That being said, my question still stands regarding a future deprecation and remove of those methods.

[2019-05-25 20:34] WillAyd commented on #26515
Haven't looked in detail but my guess is that the former infers a transform and aligns back to the original index since there are no duplicates. The second infers a reduction of some sort and subsequently uses the grouper's values to piece the result back together.

Inference on apply here is kind of tricky but if you see a way to make it work universally would take a PR

[2019-05-26 01:28] heckeop commented on #17927
After a bit of digging, it seems that the issue, at least for `value_counts`, boils down to implementing a way to hash complex numbers with `khash`.
https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/klib/khash_python.h

* We could define `khcomplex64_t` and treat the 64 bits as `uint64` when hashing, much like the code base already does for `double` type.
https://github.com/pandas-

[2019-05-26 01:48] #26450 closed

[2019-05-26 03:34] timgates42 commented on #26506
I can’t speak for the pandas core team but that was sort of my assumption - I put a quick fix in to the documentation that the method parameter options were not yet implemented and that if the pandas core team agree an implementation would come and remove the documentation change.

[2019-05-26 06:20] WillAyd commented on #26487
Closing as a duplicate of the aforementioned issue

[2019-05-26 06:20] #26487 closed

[2019-05-26 10:03] swyoon commented on #26150
Any updates on this? I want to work on this if it's not occupied.

[2019-05-26 11:37] TomAugspurger opened #26527 "Should we use URLs or refs in docstrings?"
Discussion in https://github.com/pandas-dev/pandas/pull/26497. Which do we prefer when linking from a docstring to the docs? Something like

    ref:`categorical`

or

    http://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

[2019-05-26 11:38] TannhauserGate42 commented on #26502
Ok, so I did. Now I'd like to make a pull request but didn't succeed with pushing my branch upstream. Do I have the appropriate user rights. How shall I proceed. Sorry, for that kind of questions.

[2019-05-26 11:39] TomAugspurger commented on #26150
Doesn't seem like anyone is working on it, feel free to take a look.

On Sun, May 26, 2019 at 5:03 AM Sangwoong Yoon <notifications@github.com>
wrote:

[2019-05-26 11:44] TomAugspurger commented on #26502
http://pandas.pydata.org/pandas-docs/stable/development/contributing.html

On May 26, 2019, at 06:39, Thomas Siller <notifications@github.com> wrote:

[2019-05-26 12:26] TomAugspurger commented on #26502
This should stay open till the PR is merged.

[2019-05-26 12:49] jorisvandenbossche commented on #6581
The whole SparseSeries class is being deprecated, so I don't think there is a need to further deprecate a certain case in its constructor.
There is `DataFrame.sparse.from_spmatrix` now to do this.

[2019-05-26 12:50] jorisvandenbossche commented on #26487
@WillAyd one thing we should consider, given the above, is actually change the default (which I think is not yet discussed in the other issue / PR? As it is only about adding another engine that you can specify with `engine='openpyxl'` ?)

[2019-05-26 12:56] jorisvandenbossche commented on #11886
@oguzhanogreden would you like to do a PR to add it?

[2019-05-26 14:02] WillAyd commented on #26487
Yea for sure - I imagine not something we want to do at the outset though no?

Sent from my iPhone

[2019-05-26 14:11] jorisvandenbossche commented on #26487
Not sure. The idea could be that let's first enable it so people can specify `engine='openpyxl'`. But how many people will do that? We might only get feedback when actually changing the default (at least for xlsx)

[2019-05-26 14:11] jorisvandenbossche commented on #26487
(but for sure, the first important thing is getting actual openpyxl support in)

[2019-05-26 14:14] jreback commented on #26487
we don’t want to rely going forward on a deprecated library but i don’t think anything is broken except for a very small edge case (and that’s just a warning)?

[2019-05-26 14:42] jreback commented on #26527
we use ref's in our current sphinx output, so I think the ref's are fine (and more maintainable); downside of course is that you don't have the url from a terminal session, so +1 on the refs.

[2019-05-26 15:04] WillAyd commented on #26487
Yes that’s the only issue as of now

Sent from my iPhone

[2019-05-26 15:18] mitar opened #26530 "Drop by column index does not exist"
#### Code Sample

[code]
#### Problem description

It does not seem to be an easy way to drop a column by its column index. This makes it hard to drop columns when there are duplicate column names in the DataFrame.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-re

[2019-05-26 15:22] mitar opened #26531 "ExtensionDtype is missing hasobject"
#### Problem description

For better compatibility with numpy dtypes, `hasobject` could be added to `ExtensionDtype`. We use it to determine if columns contain Python objects or not, but it does not work with sparse column types which are extending `ExtensionDtype`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bi

[2019-05-26 16:24] cjw296 commented on #26487
So, a bit of background on this from an xlrd maintainer: it’s not a fun code base to work on (can’t really unit test, etc) and whether a change is safe to make is fiendishly difficult to know for all cases. So, no one has really stepped up to fill the void that myself and John left.

The library is stable, and the problems reported have either been DeprecationWarnings (wow, what a waste of time...

[2019-05-26 16:47] mitar opened #26532 "Merge on key idenfitied by column index is not possible"
#### Code Sample

[code]

#### Problem description

If column names are not unique (which happens to us much more often than one would hope for, for example, when reading multiple CSV files and horizontally concatenating them together) merge operation cannot operate on them. If you try, you get `ValueError: The column label 'a' is not unique.` exception. Which is understandable, because it is not

[2019-05-26 16:51] TomAugspurger commented on #26530
I don’t think we would want to implicitly fall back to location-based here.

[2019-05-26 16:53] jreback commented on #26532
this us likely out of scope; we don’t generally want to specify things like merge keys by position as this is extremely fragile (in fact any use of positional indicators outside of indexing is out of scope)

you have to be careful of duplicate indices and take care yourself

[2019-05-26 16:58] TomAugspurger commented on #26531
Is this different from .kind being ‘O’?

[2019-05-26 17:03] jreback commented on #26530
agree this is out of scope

you can use .index[0]

[2019-05-26 17:03] #26530 closed

[2019-05-26 17:48] mitar commented on #26530
I would not want to fallback to location-based, but it could be something like `a.drop(by_column_index=0, axis=1)`.

Can you elaborate? How can I use that to drop column by index?

[2019-05-26 17:57] #26500 closed

[2019-05-26 18:04] jreback commented on #26530
adding more options is not worth it hear as it adds too much api complexity

[2019-05-26 19:17] mitar commented on #26530
OK, but is there any other way to drop a column by index? (And if so, it would be useful to mention/reference it inside `drop` documentation.)

[2019-05-26 19:20] jreback commented on #26530
you can simple select the other columns eg

df.iloc[:, 1:]

[2019-05-26 19:20] jreback commented on #26532
closing as similar to #26530 and out of scope

[2019-05-26 19:20] #26532 closed

[2019-05-26 19:22] mitar commented on #26530
`df.iloc[:, 1:]` only works to drop the first one. But not to drop the second column, for example.

[2019-05-26 19:26] mitar commented on #26532
So in our case (where we are building ML pipelines as part of a larger AutoML system) it is much more common that column names are duplicated and not meaningful.

But column index is the only stable way to at a given moment identify a column in unique way. So you have a DataFrame, you scan columns, you decide you want to do some operation on some column. At that time column index is the best way t

[2019-05-26 19:31] jreback commented on #26530
the selection syntax is very flexible
you can specify a slice, list or use composition operators
eg np.s_

[2019-05-26 19:33] jreback commented on #26532
pandas is all about alignment of operations
duplicate indexes are a second class citizen generally and you should use MultiIndexes or remove duplicates before doing other operations

this is a fairly standard workflow and pandas is not going to increase scope to do already supoorted thjngs

[2019-05-26 19:49] mitar commented on #26530
Does not work for me:

[code]

[2019-05-26 19:52] mitar commented on #26532
Why is then Pandas even supporting duplicate column names? (I am talking about duplicate columns, not duplicate indexes, but maybe I am missing terminology here.)

[2019-05-26 20:00] jreback commented on #26532
@mitar you are missing the point

pandas supports having duplicate column names because they can easily arise from some operations ; the resolution of these cannot be automatic so a user needs to take care
using positional indexing is not a good solution generally (but it is one possibility here)

[2019-05-26 20:23] WillAyd commented on #26527
+1 on refs as well

[2019-05-26 21:15] enisnazif commented on #26510
Happy to take a look at this

[2019-05-26 21:15] topper-123 commented on #26527
I'm +1 on urls; I like being able to copy/paste.

[2019-05-26 21:52] mitar commented on #26531
To my understanding the difference is that `hasobject` also returns True if fields in structs have objects. So you could have a C struct type with fields pointing to objects. That would not be `O` by itself, but it still `hasobject`.

[2019-05-26 22:32] TannhauserGate42 commented on #26511
No, the behaviour is not inconsistent!

Try this example as a thought-experiment
[code]

What would you then like to get for the following query?

[code]

[2019-05-26 22:38] TannhauserGate42 commented on #26511
You need (!) to specify in some way the level / dimension on the MultiIndex, on which you want to slice.

In my example above, both would work, but with another result:

[code]

[2019-05-26 23:00] Uiuran commented on #26472
i will try it thank you in advance

On Thu, May 23, 2019 at 3:11 PM gustavolinari <notifications@github.com>
wrote:

[2019-05-27 02:46] TomAugspurger commented on #26527
I think my preference is also for refs, because there less likely to be broken by section header renaming.

[2019-05-27 02:49] yanglinlee commented on #26493
What is the expected behavior of to_datetime in this case? If there is time out of bound, should it just ignore all the elements in the array and return an Index? For example:

[code]

Or we want to convert the date like element, such as
[code]

[2019-05-27 07:41] jorisvandenbossche commented on #26493
That's not fully clear. See also https://github.com/pandas-dev/pandas/issues/14487

[2019-05-27 07:43] hellind commented on #23809
Hello Brad!

[2019-05-27 07:45] jorisvandenbossche commented on #26531
One question is: what should this return for extension arrays/dtypes that store data "natively" but box into python objects (eg when converting to a numpy array) ?
Because that might depend on the reason that you are checking `hasobject`

[2019-05-27 08:02] jorisvandenbossche commented on #26527
I think my preference depends on the situation: `:ref:`s for general interlinking to user guide pages, but using explicit urls for very specific links.

Example: the general link of "See the user guide for more details" (eg in [rename](http://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.Series.rename.html#pandas.Series.rename), [categorical note](http://pandas-docs.github.io/panda

[2019-05-27 09:28] bhy opened #26536 "With MacOS and PyPy installation fails: AttributeError: 'LooseVersion' object has no attribute 'version'"
On MacOS 10.14, PyPy3.6-7.1.1 installation fails:
[code]

A workaround is to install with:
`MACOSX_DEPLOYMENT_TARGET=10.14.4 pip3 install pandas`

The cause for this is that in pandas `setup.py`, `get_config_var('MACOSX_DEPLOYMENT_TARGET')` will return `None` on PyPy, while a version number like `10.9` is expected. (See https://github.com/pandas-dev/pandas/blob/master/setup.py#L453).

[2019-05-27 12:13] simonjayhawkins commented on #26536
@bhy Thanks for the report.

PyPy is not included in our CI or distributed binaries for PyPy. (not tested / officially supported).

May be worth raising this on the PyPy issue tracker. Closing this as we don't make any guarantees about PyPy.

[2019-05-27 12:27] TomAugspurger commented on #26527
Isn’t the HTML anchor link generated by the section title?

[2019-05-27 12:28] plammens commented on #26511
This is exactly the same example as above, just changing the names `'A', 'B', 'C'` to `'t1', 't2', 't3'`. In this case I would expect `df[:, 't1']` to return
[code]

No, the first one still raises `TypeError` (and the second one does too, but i presume you meant `df.loc[:, (slice(None), 't1')].

[2019-05-27 12:40] jorisvandenbossche commented on #26527
Yeah, it's true that I was mixing a bit sphinx labels for ref and actual html anchor links. But, they actually do work both. Eg

http://pandas-docs.github.io/pandas-docs-travis/user_guide/timeseries.html#offset-aliases
http://pandas-docs.github.io/pandas-docs-travis/user_guide/timeseries.html#timeseries-offset-aliases

both work. The first is based on the title (and is the default that you get if

[2019-05-27 13:46] simonjayhawkins commented on #26278
agreed.

ignoring the second feature request, could make the api change simpler. change the current formatters parameter to accept list of strings or a callables (or maybe mixed?). no need for additional arguments.

[2019-05-27 14:26] TannhauserGate42 commented on #26502
On the master everything looks tidy, compared to the 0.23.x branch ...
I will try a pull request, in order to see the complaints from the CI.
The unittests run fine locally, up to some calling pytest_remotedata ...
I hope you don't mind if I use your CI for testing ;-)

[2019-05-27 15:02] TannhauserGate42 commented on #26502
Did not succeed to run the performance tests yet. Will try tomorrow ...

[2019-05-27 15:13] mitar commented on #26531
For us, the reason why we check `hasobject` is to know if we have to recurse the object. So to know if the value is a scalar (final) value or is it something we have to recurse when we are searching for all scalar values.

I think that probably for our own use the `kind == 'O'` might even be enough.

[2019-05-27 15:16] jorisvandenbossche commented on #26531
How does `object` dtype signal that the value is not scalar and needs to be further recursed?
Eg an object array of strings, the values are also "scalars" ? Or not for your use case?

[2019-05-27 15:19] mitar commented on #26531
They are. Sadly, that is a false positive. Ideally, Python strings would have their own dtype and that would make our life much easier. So we recurse and then discover it is a string.

[2019-05-27 17:33] JayMan91 opened #26539 "Incompatiblle min/max function with Rolling"
index | date |time | value
-- | -- | -- | --
0|2018-05-03 | 09:16:00 | 1.194844e-07
1|2018-05-03 | 09:17:00 | 1.834664e-08
2|2018-05-03 | 09:18:00 | 3.856525e-07
3|2018-05-03 | 09:19:00 | 1.173971e-06
4|2018-05-03 | 09:20:00 | 5.734758e-07

I have dataframe with 3 columns. I want to calculate rolling sum of 15 consecutive observations and minimum  time of those 15 observations.

[code]

  | sum
--

[2019-05-27 17:49] hangtwenty commented on #16452
@IngvarLa FWIW the older `%s`/`%(foo)s` style formatting has the same features as the newer `{}` formatting, in terms of formatting floats. There's just a bit of chore to 'translate' if you have one vs the other. [Here's an example](https://stackoverflow.com/questions/25780022/how-to-make-python-format-floats-with-certain-amount-of-significant-digits/25780090#25780090)

[code]

[2019-05-27 18:09] WillAyd commented on #26539
Can you please make the code to reproduce copy/pastable?

[2019-05-27 18:14] hangtwenty commented on #16452
This could be seen as a tangent, but I think it is related because I'm getting at same problem/ potential solutions.

Have recently rediscovered Python stdlib's `decimal.Decimal`. It can be very useful. On a recent project, it proved simplest overall to use `decimal.Decimal` for our values. In fact, we subclass it, to provide a certain handling of string-ifying. It's worked great with Pandas so fa

[2019-05-27 18:29] mroeschke commented on #18863
Closing as this appears mostly a usage question. If there's specifics in the documentation that could be improved, a new issue can be opened to address that.

[2019-05-27 18:29] #18863 closed

[2019-05-27 20:20] lks100 opened #26541 "tseries/holiday.py: add Holiday() filter parameter?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-05-28 02:29] elpablete commented on #17834
Having a df 'links' with source and destination columns. I need to add details about the source and the destination from df 'cities'. Easy: juast merge links and cities on the source and city_id and then merge the result again with cities, only this time on destination and city_id. What do I get? A little mess because the details of the source city are NOT marked with the '_s' suffix after the fir

[2019-05-28 06:13] hahaws opened #26542 "rolling.corr has different result"
[code]
[code]

0
--
NaN
NaN
9.819805e-01
-5.000000e-01
8.640902e-01
5.000000e-01
8.829221e-08
-2.341224e-07
0.000000e+00
2.341224e-07
2.341224e-07
2.341224e-07
0.000000e+00
0.000000e+00
0.000000e+00
-1.021577e-07
0.000000e+00
0.000000e+00
3.097148e-07
0.000000e+00
1.238859e-07
0.000000e+00
0.000000e+00
0.000000e+00
0.000000e+00
0.000000e+00
8.434557e-08
0.000000e+00
-1.231093e-07
NaN
NaN
NaN

[cod

[2019-05-28 07:03] smcinerney opened #26544 "DataFrame.columns.slice_locs() is undocumented, ignores 'step' parameter or gives wrong result, `kind` parameter does nothing"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

1. `DataFrame.columns.slice_locs` ignores its 'step' argument and gives the wrong answer for any positive integer step. In above example we expect `(2,5,8)` but get `(2,9)`. Why do we have to manually specify the step arg anyway, it can and should be computed?
1. `DataFrame.columns.slice_locs` is underdocumente

[2019-05-28 07:33] TannhauserGate42 commented on #26511
In any case I overlooked something, as you already noticed ... I should have used .loc[...] in my example. Did not realise, that you used both, [] and loc[] in yours.

[2019-05-28 07:47] smcinerney commented on #26544
WORKAROUND:

[code]

[2019-05-28 08:32] TannhauserGate42 commented on #26511
I went through your examples again.

This inconsistency of indexing on the 'columns' and on the 'index' is very unfortunate and already in place for quite a long time. Well, but even knowing that DataFrames are tables and not matrices, I agree with you, that one expects the example above to work. I think the syntax/signatures could show more symmetry.

BTW, this asymmetry/inconsistency was one of

[2019-05-28 10:10] AtomXT commented on #26542
The correlation should be NAN because the variance of  [5,5,5] is 0.
https://en.wikipedia.org/wiki/Correlation_and_dependence

[2019-05-28 10:20] jreback commented on #26544
slice_loc is not intended for public use;
unfortunately a lot of Index methods are like this and have not been explicitly private (for a long time); and would likely require deprecation at this point from a public POV
these could simply be noted in a doc string that they r not public

[2019-05-28 10:48] boardtc commented on #25911
Why is the community happy to keep a bug in the code?

The logic in the PR is incorrect.  [From a python-dev message by GvR](https://mail.python.org/pipermail/python-dev/2017-December/151283.html): "Dict keeps insertion order"

[2019-05-28 11:09] Jane-Eyre opened #26545 "same .tsv file, get different data-frame structure using engine 'python' and 'c'"
In my Mac, I have a Tab-Separated values file with encoding UTF-8, and the version of pandas is
0.24.2.
[74872_zh_CN_UI.txt](https://github.com/pandas-dev/pandas/files/3227255/74872_zh_CN_UI.txt)

when I use read_csv function with engine 'python' like this:
`b = pd.read_csv("/Users/GHIBLI/Documents/vmware-L10n/bert/zh_CN/74872_zh_CN_UI.tsv",
                engine="python", delimiter="\t")`
` prin

[2019-05-28 11:11] simonjayhawkins opened #26546 "CI Failing - Linux py37_np_dev - test_constructor_list_frames"
appeared on latest push to master, and recently updated PRs.

[code]

[2019-05-28 11:42] jreback commented on #26546
hmm, something must have changed in numpy this has been stable forever

note that this should be the same
[code]

[2019-05-28 11:44] jreback commented on #26546
https://github.com/numpy/numpy/pull/13507 is a recent change, so maybe the error that we catch has changed?

cc @mattip

[2019-05-28 11:45] simonjayhawkins commented on #26546
yeah.. the only change to the environment is numpy. (somewhere between  and cf704e7f245e89c623bd82cbdba7c2dd07cf5fb4 and c9b25c939e0c64131b786a1922fe4c1f83db3e77) but that's 3 days of commits. checking to see if i can narrow it further.

[2019-05-28 12:04] simonjayhawkins commented on #26546
i think the error first appeared here. https://github.com/pandas-dev/pandas/runs/136802161 so before those changes

[2019-05-28 13:41] Uiuran commented on #26472
Without thresh it does works. Strange behaviour that of this parameter though

[2019-05-28 13:41] #26472 closed

[2019-05-28 14:10] TomAugspurger commented on #26527
Oh, I didn't realize both works. In that case, yes we should probably use the one generated by the `.. _<ref>:`, as that allows us to change the wording for people. Agreed that this is hard to enforce, but let's try to remember.

[2019-05-28 14:11] Liam3851 commented on #26545
I cannot reproduce using pandas 0.24.2 on either Ubuntu or Windows -- both show the shape as (8, 22) using both engines. It could be a Mac-specific issue, though it would be odd that the Python-engine implementation would behave differently based on the OS.

[2019-05-28 14:42] simonjayhawkins commented on #26546
@jreback

i've being trying to create a npdev conda (using anaconda) environment locally on Windows.

firstly the pip part does seem to work

[code]

doing it manually for dateutil works

doing it manually for numpy and scripy...

[code]

 numpy-1.17.0.dev0+3341590 is from 21 days ago.

so unless i'm doing something wrong. it looks like i wont be able to recreate the issue locally.

[2019-05-28 14:50] jreback commented on #26546
just install the wheel directly
the pip install instructions are on the ci files for that build

[2019-05-28 14:51] mattip commented on #26546
Could you give me a bit more context? If I build pandas HEAD against different versions of numpy, what should I be looking for?

[2019-05-28 14:52] mattip commented on #26546
(thanks for testing latest master HEAD by the way, it helps to flush these out before a release)

[2019-05-28 14:57] charris commented on #26546
@mattip I just hope it isn't something I backported. There should be wheels at http://wheels.scipy.org/ for the upcoming release.

[2019-05-28 15:02] TomAugspurger commented on #26546
@mattip hopefully

    pytest pandas/tests/frame/test_constructors.py -k test_constructor_list_frames

[2019-05-28 15:02] WillAyd commented on #26545
I can reproduce this on master. If you would like to take a deeper look and see what's going on would certainly appreciate it!

[2019-05-28 15:04] #26542 closed

[2019-05-28 15:04] simonjayhawkins commented on #26546
i think that numpy-1.17.0.dev0+20190507201151_3341590-cp35-cp35m-win_amd64.whl is the latest wheel built for the windows platform.

[2019-05-28 15:05] WillAyd commented on #26542
Usage Questions are better placed on StackOverflow - this board is reserved for bug reports and enhancement requests

[2019-05-28 15:09] WillAyd commented on #26544
Note that this method is documented as only working on monotonic indices, which this is not.

[2019-05-28 15:15] WillAyd commented on #26544
@smcinerney to your original point of this being undocumented it is here:

https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.Index.slice_locs.html

[2019-05-28 15:17] charris commented on #26546
@simonjayhawkins That's curious, looks like the recent builds for windows are not getting uploaded, the latest for mac and linux went up yesterday. In fact, it looks like the daily windows builds are not being done at all, the last one was due to a PR merge. @tylerjereddy @matthew-brett Thoughts?

[2019-05-28 15:24] TomAugspurger commented on #26546
@mattip not quite NumPy only yet, but here's a simpler example:

[code]

previously (1.16.2, probably other versions) that was

[code]

[2019-05-28 15:26] simonjayhawkins commented on #26546
thanks.. i'll be AFK for a few hours but if i'll check that build with pandas on Windows when i get back.

[2019-05-28 15:37] Liam3851 commented on #26545
@WillAyd Are you using a Mac? I can't reproduce on master using Windows/python 3.7.3 (I suppose perhaps this could also be a python version difference, rather than an OS difference)

[code]

[2019-05-28 15:39] WillAyd commented on #26545
Yes macOS on master

Sent from my iPhone

[2019-05-28 15:49] WillAyd commented on #26507
Can you try on master? I wasn't able to reproduce any issue here

[2019-05-28 15:55] WillAyd commented on #26498
Closing as a duplicate of #4160

[2019-05-28 15:55] #26498 closed

[2019-05-28 16:00] smcinerney commented on #26544
Fine, just deprecate it for public use already, I've never seen it be used (I found zero Google hits and zero Github hits on 'slice_locs in:file'), and it won't be missed. Or can you rename it '_slice_locs' with leading underscore.

Also I supplied workaround code which IMO works better and is more flexible.

@WillAyd: the doc page is a) broken for all the reasons I listed (at least for public use

[2019-05-28 16:22] jreback commented on #26544
@smcinerney

you are welcome to submit a PR
everyone is a volunteer here

[2019-05-28 16:27] #26502 closed

[2019-05-28 16:33] tylerjereddy commented on #26546
@charris Pretty sure cron job wheel builds are only activated for Travis (Linux / Mac) & not Appveyor (Windows) for both NumPy and SciPy wheels infrastructures.

Looks like Matti might try to bisect NumPy based on discussion above, so I won't duplicate that effort unless requested.

[2019-05-28 17:00] charris commented on #26546
@tylerjereddy True, I was just wondering if there was a way to activate it.

[2019-05-28 17:09] shouldsee opened #26549 "[bug] Python 2.7.12"
#### Code Sample, a copy-pastable example if possible

Python 2.7.12

[code]
#### Problem description
Cannot use `pd.Series.str` accessor in `pd.DataFrame.query`

`TypeError: 'Series' objects are mutable, thus they cannot be hashed`

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

</details>

[2019-05-28 17:43] mattip commented on #26546
PR numpy/numpy#13399 seems to have caused this, merged two days ago. Make sense since it changed the way we make lists-of-objects into ndarrays. Now digging for a test we can put into our regression testing and a fix. Thanks for the heads up, hope it is not too complicated to fix

[2019-05-28 18:47] shouldsee commented on #26549
proposed patch that resets default engine

[code]

[2019-05-28 20:23] jreback commented on #26549
this is working on master (that’s python 3 only FYI)

[2019-05-28 20:37] TomAugspurger commented on #26511
@plammens can you double check the output of your first block? I think the `test1`, `test2`, etc. should be `t1`, `t2`.

`DataFrame.__getitem__(key)` not being the same as `DataFrame.loc[:, key]` is probably a bug. Though there may be some subtlety of `DataFrame.__getitem__` that I'm missing.

[2019-05-28 20:37] TomAugspurger commented on #26511
I'm not really sure what would be going wrong, but I'd probably start with a `pdb`inside `DataFrame.__getitem__` and see where things differ from loc.

[2019-05-28 20:39] TomAugspurger commented on #17834
The original request seems reasonable. I'm not sure about the name
`force_suffixes`, but I haven't come up with anything better.

On Mon, May 27, 2019 at 9:29 PM Juan Pablo Tamayo <notifications@github.com>
wrote:

[2019-05-28 20:55] #14763 closed

[2019-05-28 21:12] TomAugspurger commented on #26536
@simonjayhawkins we still accept patches for PyPy compatibility. This may be on us, but that's not clear yet.

@bhy is that never defined for pypy? If so, do you know why?

cc @robbuckley just as an FYI.

[2019-05-28 21:25] simonjayhawkins commented on #26536
@TomAugspurger : ok. i'll reopen for now.

[2019-05-28 22:10] shouldsee commented on #26549
DId you mean numexpr support works in python3?

[2019-05-28 22:25] jreback commented on #26549
huh? numexpr has worked in python 3 for quite a long time

not sure what u r asking

[2019-05-28 22:36] TomAugspurger commented on #26549
Jeff meant master is python 3 only.

On Tue, May 28, 2019 at 5:25 PM Jeff Reback <notifications@github.com>
wrote:

[2019-05-29 00:07] robbuckley commented on #26536
a quick fix could be to change the indicated line from

[code]
to

[code]

Also changing this line:

to:

`from distutils.sysconfig import get_config_vars`

Note the additonal 's'. This shouldnt break CPython (caveat: no tests done yet!). I have no easy way to test this on PyPy, but Im happy to submit  a patch and test on CPython if that helps.

[2019-05-29 01:19] rjurney opened #26551 "Add filters parameter to pandas.read_parquet() to enable PyArrow/Parquet partition filtering"
#### Code Sample, a copy-pastable example if possible

[code]

This results in the following exception:

[code]

#### Problem description

I would like to pass a `filters` argument from `pandas.read_parquet` through to the `pyarrow` engine to do filtering on partitions in Parquet files. The `pyarrow` engine has this capability, it is just a matter of passing through the `filters` argument.

From a

[2019-05-29 01:19] simonjayhawkins commented on #26058
so not sure if this is applicable, but on http://pandas-docs.github.io/pandas-docs-travis/reference/indexing.html

![image](https://user-images.githubusercontent.com/13159005/58522345-caa01d80-81b7-11e9-9b67-06293ba64de3.png)

is now center justified and was left justified in 0.24.2. (probably would be better to be full width)

also

![image](https://user-images.githubusercontent.com/13159005/5852

[2019-05-29 01:40] jreback commented on #26551
https://arrow.apache.org/docs/python/generated/pyarrow.parquet.read_table.html#pyarrow.parquet.read_table

is what is being called; pyarrow would need to expose this; pandas already passes thru kwargs

[2019-05-29 02:10] d-wasserman commented on #23773
I am not sure this is a pandas issue, but wanted to report that installing pytables 3.4.2 fixed a problem I had with pandas interoperability with pytables 3.5.X.

[2019-05-29 02:15] #19239 closed

[2019-05-29 04:25] rjurney commented on #26551
There is another interface that does expose this

[2019-05-29 04:44] KristianHolsheimer commented on #9180
For ordinary ndjson files (like those output by BigQuery), I use the [`DataFrame.from_records`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_records.html) constructor together with [`ujson`](https://docs.micropython.org/en/latest/library/ujson.html):

[code]

In python2, you'd probably want to use [`imap`](https://docs.python.org/2/library/itertools.html#itertoo

[2019-05-29 05:03] WillAyd opened #26552 "Deprecate xlwt"
Similar to the conversation in #26487 xlwt isn't maintained. If we deprecate this could open up the path to simplify our Excel writers / extensions and supported file types going forward.

I would think this is also much easier than deprecating xlrd since we have other writers already implemented.

[2019-05-29 07:06] jorisvandenbossche opened #26554 "ERR: give better error message when providing wrong sparse matrix type in from_coo"
`pd.Series.sparse.from_coo` only accepts a coo matrix format, but when giving it different matrix type, you get a not so useful error message:

[code]

[2019-05-29 07:18] jorisvandenbossche commented on #26552
That would also mean deprecating the `xls` format? (or can the other engines write such files as well?)

I don't think I necessarily mind (fro writing, as long as we can still read old formats), but just to make it clear?

[2019-05-29 07:23] jorisvandenbossche opened #26555 "Deprecation warning for SparseDataFrame shown for repr / every operation"
If you are still using the SparseDataFrame class, the warnings are quite sticky:

[code]

So they are also raised each time you display them (repr), on each operation (like the addition I did).

I know users can filter them, but ideally they would be shown a bit less I think to not annoy users too much.

cc @TomAugspurger

[2019-05-29 07:27] jorisvandenbossche commented on #24817
To avoid surprises, I would raise an informative error when the fill value is not zero, pointing people towards doing changing the fill value before converting to scipy (since scipy simply does not support any other fill value).

Ideally we do this before 0.25, and only for the DataFrame.sparse.to_coo version, since that is still new.

[2019-05-29 07:35] jorisvandenbossche opened #26557 "DEPR: deprecate Series/DataFrame.to_dense/to_sparse"
We should properly deprecate `to_dense` and `to_sparse` on Series and DataFrame.

`Series.to_dense` already is disfunctional (https://github.com/pandas-dev/pandas/issues/25680), and `DataFrame.to_dense` can be replaced with `DataFrame.sparse.to_dense()`.

And the `to_sparse` methods return a SparseSeries / SparseDataFrame, which are deprecated (and in that sense already show some deprecation warni

[2019-05-29 07:36] jorisvandenbossche commented on #25680
Closing this in favor of  #26557

[2019-05-29 07:36] #25680 closed

[2019-05-29 07:44] jorisvandenbossche commented on #18414
We should be using positional indexing here (so `types.iloc[0]` instead of `types[0]`)

[2019-05-29 07:47] jorisvandenbossche commented on #26058
Yep, that seem to be yet some more theme issues with the latest sphinx ...

Some others are the one I mentioned above, and also the too much white space in the in-page table of contents, eg at http://pandas-docs.github.io/pandas-docs-travis/development/contributing.html

[2019-05-29 08:41] JayMan91 commented on #26539
It is only one line command
[code]
where time is column of object type time.

[2019-05-29 08:42] jorisvandenbossche commented on #26551
But in principle we can also call ParquetDataset if a directory is passed, so this would be supported then.

[2019-05-29 09:23] TannhauserGate42 commented on #26511
A few notes here, which might help you if you want to fix it ...

As you said, the following does not work:
[code]
In the end it happens, because
[code]
is not hashable. But the main cause is a wrong case switch already before somewhere.

Some symmetry/asymetry in success/failure you can deduct from the follwing examples on the transposed dataframe. Hence, having the MultiIndex on the index-axis.

[2019-05-29 09:25] TannhauserGate42 commented on #26511
Whenever the code runs over
[code]
... a Type error is raises.

You might investigate in 2850
[code]
further.

[2019-05-29 09:39] andymcarter opened #26558 ".add gives incorrect result with MI Dataframe with mix of object and datetimes on index."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Two multiindexed dataframes, where the inner level is datetime-like string in the first, and actual datetime in the second.

Applying the .add function returns a dataframe with two index lines as expected (one for the string date, and the other for the datetime), but the values in the output do not match the tw

[2019-05-29 09:46] jreback commented on #26551
and we already have https://github.com/pandas-dev/pandas/issues/17102 for this

pls close one or the other

[2019-05-29 09:50] jorisvandenbossche commented on #26551
The item mentioned there is something different (row groups filtering (instead of file filtering), which is not yet implemented on the arrow side). But will go through the items in the other issue to see if that actually can be closed.

I am also looking at the pyarrow side if it can be exposed in the same function, so pandas does not have to take a different path depending on a directory is passe

[2019-05-29 10:09] jorisvandenbossche commented on #26551
I opened https://issues.apache.org/jira/browse/ARROW-5436. Let's see if that change would be accepted by pyarrow. If so, we can close this issue, otherwise we can implement it in pandas.

[2019-05-29 10:28] plammens commented on #26511
Yep, I forgot to edit that.

As for the inconsistencies, are there any reasons why `df[key]` doesn't delegate to `df.loc[:, key]` when `key` is one of  the types interpreted as column indexers and to `df.loc[key, :]` when `key` is one of the types interpreted as row indexing?  (Or `iloc` if appropriate?) Other cases can be managed separately (as when indexing with a boolean `DataFrame`), but I don

[2019-05-29 10:33] vaibhawc opened #26559 "Default string to be treated as missing value in a series."
Hi, this is more of a question than an issue.
I wanted to use default string as a representation for missing values for my project. Is there a way to incorporate inside my pandas lib or implementing it in the project is the only way to do?
For example :  I want to use '?' to show that my some value in my datetime type series is missing, instead of pd.NaT. Now pd.NaT will respond to addition operat

[2019-05-29 10:59] jreback commented on #26559
- you could write your own extension array for this
- you can configure missing values for some io routines (to_csv(indicators
- simply fill na when needed

but generally pandas is not that configurable as the implementation does drive this (datetimea for example are represented as integers so mixing types is non performant)

if u you really really need this then an extension array is prob best

[2019-05-29 10:59] #26559 closed

[2019-05-29 11:03] vaibhawc commented on #26559
Sure, thanks!

[2019-05-29 11:09] TomAugspurger commented on #26511
I'm not sure. Probably just history / edge cases, but hard to say.

[2019-05-29 11:18] normanius opened #26560 "Feature request: make get_dummies() better usable for data frames with multi-index columns"
#### Feature request

The feature request is derived from my post on SO: https://stackoverflow.com/questions/56352100

`get_dummies()` treats data frames with multi-index columns pretty clumsily: The multi-index tuple is converted into a string and the same suffix mechanism applies as with the simple-index columns.

[code]

What I would expect, however, is that `get_dummies()` (optionally) creates

[2019-05-29 11:29] TomAugspurger commented on #26555
This is why I initially added docs on how to filter the warnings :)

So we can either add the `once` filter ourselves, or we can do some finer-grained filters in places like `__repr__`. Do you have a preference? All else equal, I'd just add a once filter in `pandas/__init__.py` since it's less work.

[2019-05-29 11:31] TomAugspurger commented on #26539
@JayMan91 see http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-05-29 11:55] nathalier commented on #25512
While writing tests for the issue I found a couple of issues when errors='ignore'.
1. when there is an incorrect value in a series, conversion does not happen for all values not only incorrect one. I.e.,
`pd.to_datetime(pd.Series(['19750501', '19820001', '19770501']), format='%Y%m%d', errors='ignore')`
returns just the initial values.
Not sure it's intended..
2. Exception "TypeError: 'int' object

[2019-05-29 12:30] JayMan91 commented on #26539
The following code :
[code]

[2019-05-29 12:36] LuckyDenis commented on #26545
I was able to play on linux 19.04 Python 3.7 Pandas 0.24.2

[2019-05-29 12:40] #26517 closed

[2019-05-29 13:16] TomAugspurger commented on #26539
Thanks, can you add that to the original post for ease of reference?

Are you interested in debugging this?

On Wed, May 29, 2019 at 7:30 AM JayMan91 <notifications@github.com> wrote:

[2019-05-29 13:25] TomAugspurger commented on #26536
yeah, that seems like an option @robbuckley. But let's wait to hear more from @bhy to better understand what's going wrong with PyPy here before we change anything.

[2019-05-29 13:36] TomAugspurger commented on #26558
Looks like a bug. We seem to convert the string to a datetime

The bug will be further down than in `.add`.

[code]

[2019-05-29 13:57] JayMan91 commented on #26539
Yes any help in debugging would be appreciated

[2019-05-29 14:06] andymcarter commented on #26558
Will give it a go now.

[2019-05-29 14:11] TomAugspurger commented on #26539
It looks like SelectionMixin._aggregate in core/base.py isn't returning
anything. I would drop a pdb in there and see why.
May want to look at `roll_min` too.

It's possible / probable that we're trying to pass an ndarray of objects to
Cython and that's raising. Not sure.

On Wed, May 29, 2019 at 8:58 AM JayMan91 <notifications@github.com> wrote:

[2019-05-29 14:49] andymcarter commented on #26558
It seems to be connected to this line:

https://github.com/pandas-dev/pandas/blob/a91da0c94e541217865cdf52b9f6ea694f0493d3/pandas/core/arrays/categorical.py#L2671

where the tuple of the string and the date get returned as a Categorical with a single datetime category.

[2019-05-29 15:00] WillAyd commented on #26552
That's correct - xlwt and xlrd are the only engines that support the .xls format

[2019-05-29 16:55] vaibhavhrt commented on #26453
@WillAyd I will look for Unions in `pandas._typing` and after fixing that will for Unions in other files.
Just to be sure typeVar for `Union[str, float]` would be `Something = TypeVar('Something', str, float)`, right?
Also can please provide some explanation on when to use TypeVar and when to use Union.

[2019-05-29 17:08] WillAyd commented on #26453
TypeVar is going to be more suitable for parametrization and generic functions. In the case of containers I think the difference between:

[code]

and
[code]

Would be that the former could only accept `[1, 2]` and `['a', 'b']` but not `[1, 'a']`. The latter would accept all of those.

Looking at functions:

[code]

Would basically mean that if `foo` accepts a string it also returns a string, and

[2019-05-29 17:13] vaibhavhrt commented on #26453
Nice, thanks for explaining, I will replace all unions in `pandas._typing` today.

[2019-05-29 17:46] rjurney commented on #26551
I have the code that motivated this working with the following workaround. This seems like it would work for pandas as well internally, but I understand wanting the `read_table` method to work properly.

[code]

[2019-05-29 18:12] WillAyd opened #26563 "Remove gtk imports from codebase"
We have a few "import gtk" imports in the clipboards part of the code base but I cannot find any information as to what these actually are, so I assume these are especially outdated given our drop of Py27 support.

I *think* this used to be a part of PyGTK, but links to that (like http://www.pygtk.org/) seem to redirect now to PyGObject which has different import machinery anyway

[2019-05-29 18:49] bhy commented on #26536
@TomAugspurger I never saw it defined across the versions of PyPy I tried with (6.0 and 7.1). I'm not familiar with PyPy development, but their document mentions (http://doc.pypy.org/en/latest/cpython_differences.html):

[2019-05-29 18:50] alichaudry opened #26564 "`pd.groupby` seems to mutate my `pd.Grouper` in-place"
#### Code Sample (copy-pastable)

[code]
#### Problem description

The above code sample throws the following error:

[code]

The `pd.Grouper` object seems to be modified inside the list. This is not the behavior I expect. I can resolve this by making explicit (deep) copies of the list so that new instances of `pd.Grouper` are passed into both `groupby` methods. Like so:

[code]

#### Expected Out

[2019-05-29 18:59] rjurney commented on #26551
@jorisvandenbossche Cool, thanks for the PR

[2019-05-29 19:46] jreback commented on #26564
this is probably inadvertant, so a PR to fix would be great.

note that more typically you would do
[code]
IOW you only really would use this once

[2019-05-29 19:51] WillAyd opened #26566 "read_excel and ExcelFile engine conflict"
This is currently valid code:

[code]

Though ambiguous as to which engine is actually being used. I think we should be raising if an engine is specified in `read_excel` when the target is a `pd.ExcelFile`, as the latter is a lower level construct and will already have an engine in place.

@simonjayhawkins

[2019-05-29 19:57] WillAyd commented on #26566
To clarify I suppose this isn’t ambiguous now since xlrd is our only reader but will be once that doesn’t hold true. May be a similar issue on the write side

[2019-05-29 20:43] hannahawalsh opened #26567 "RecursionError with DataFrame.replace() where to_replace is an empty list"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The current output is a recursion error. It is throwing an exception which then goes into an infinite exception loop (``During handling of the above exception, another exception occurred``), which finally breaks due to maximum recursion depth reached:

#### Expected Output
The expected output of the code is to r

[2019-05-29 21:25] mroeschke commented on #26567
This was fixed in 0.24.0 by https://github.com/pandas-dev/pandas/pull/22083 and is available in the latest version of pandas.

[code]

[2019-05-29 21:25] #26567 closed

[2019-05-29 21:29] jschendel opened #26568 "BUG: pivot_table with margins=True and numeric columns is buggy"
#### Code Sample, a copy-pastable example if possible
Setup:
[code]

When `index=0` and `columns=1` the `'All'` row has zeros instead of the sums:
[code]
If the `index` parameter is not 0 or -1 an `IndexError` is raised, but only if `margins=True`:
[code]
This works fine for non-numeric columns:
[code]
It also works fine if `index=0` and the `columns` parameter is a numeric value other than 1:
[co

[2019-05-29 23:38] Santosh-Gupta opened #26569 "Possible memory leak bug with `to_sql` with chunksize ?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I created a large database in Pandas, about 6 million rows of text data. I wanted to save this as a SQL database file, but when I try to save it, I get an out of memory RAM error. I even reduced the chuck size to 100 and it still crashes.

However, if I just have smaller version of that dataframe with 100,000 r

[2019-05-30 01:28] jreback commented on #26506
closed by #26519

[2019-05-30 01:28] #26506 closed

[2019-05-30 01:29] #18366 closed

[2019-05-30 01:33] #24880 closed

[2019-05-30 05:45] liushapku commented on #13056
get the same problem. It is very annoying that every time I call group(...).apply(), I need to check how many groups are there in order to further process the result. Please fix.

[2019-05-30 07:55] jzwinck commented on #21675
@jreback Would you mind weighing in on @deisdenis's question just above?  Should we rollback from using `remove_unused_levels()` to fix this regression, or change its implementation?

[2019-05-30 09:37] jreback commented on #21675
a lot has changed since 0.23
try this on master and see

[2019-05-30 11:58] TomAugspurger commented on #13056
@liushapku are you interested in working on it?

[2019-05-30 12:54] jack-pace opened #26572 "The DataFrame.to_dict method is inconsistent when there are no columns and orient='records'."
#### Code Sample

[code]
#### Problem description

The `DataFrame.to_dict` method is inconsistent when there are no columns and `orient='records'`.

I think that this is a recent regression, since it was not a problem on pandas 0.22.0.
Searching through previous issues I see it might be related to a change in version 0.24.0.

I expect pandas to return a list of three empty dictionaries here: `[{},

[2019-05-30 13:30] pepicello opened #26573 "Unexpected pd.concat/reindex_axis behaviour for MultiIndexed dataframes with > 10,000 rows"
#### Code Sample, a copy-pastable example if possible

Sadly I am having troubles creating a small reproducible example of this issue, as the problem seems to disappear if I pickle the dataframes and re-load them. I can only see what is happening in a pdb session, and for large MultiIndexed dataframes, which makes them hard to analyze.

Given two dataframes, ```a``` and ```b```, with identical ind

[2019-05-30 13:43] WillAyd commented on #26573
Do you have any way of reproducing the error? Without that's its almost impossible to give guidance

[2019-05-30 13:55] simonjayhawkins opened #26574 "CI: build documentation for Windows"
xref https://github.com/pandas-dev/pandas/pull/26499#issuecomment-495074526

documentation is a good place to start for new contributors.

should a doc build be included in CI to ensure that the documentation builds smoothly on Windows?

if so:
- should a build failure be an allowed failure?
- should it be a separate job or included in the one of the two current windows jobs?

[2019-05-30 14:44] WillAyd commented on #26574
I think a full build on Windows would be overkill. Is there a way to just build a small part that checks the functionality without having to wait the entire thing out?

[2019-05-30 14:48] simonjayhawkins commented on #26574
that's my concern. it could disrupt the current workflow.

some smoke test could be a possibility or maybe just a nightly job on a full build would suffice.

[2019-05-30 14:49] WillAyd commented on #26572
This is working as documented; the "records" orient simply provides records in the format of ` [{column -> value}, … , {column -> value}]`, and since you have no columns there is nothing to show here.

I think you might be looking for orient='index' instead if you wanted to preserve the index:

[code]

[2019-05-30 14:49] #26572 closed

[2019-05-30 15:19] jreback commented on #26574
actually we have an issue about building the docs on azure

wouldn’t mind having a linux and a windows build
(we can push from just the linux one)

if it’s easier to have a quick windows build that’s fine too (eg maybe be a partial build)

[2019-05-30 15:41] gminorcoles opened #26576 "index=False not working in to_csv on windows"
def fix_timestamps(file_path):     df = pd.read_csv(file_path, parse_dates=['dateTime'])     df.to_csv(file_path, date_format='%Y-%m-%d %H:%M:%S',header=True,index=False)

output:

Unnamed: 0,dateTime,ID,open,high,low,close,vol,SplitAdjustment,DivAdjustment,DividendPerShare,SplitFactor
0,2002-05-30 00:00:00,500045,13.5,14.11,12.99,13.03,1663700.0,1.0,1.0,0.0,1.0

I got this version from conda toda

[2019-05-30 15:52] WillAyd commented on #26576
Tough to say because this code sample isn't reproducible but I'm guessing that your original write of the file included in the index, so you probably just want to add `index_col=0` to your read_csv call.

Closing as not reproducible otherwise but if the above suggestion doesn't fix and you can provide a reproducible example feel free to reopen

[2019-05-30 15:52] #26576 closed

[2019-05-30 16:17] gmoutso commented on #23955
Thanks for the solution https://github.com/pandas-dev/pandas/issues/23955#issuecomment-480804068. If it saves someone the trouble, here is a generalization
[code]

[2019-05-30 17:06] gminorcoles commented on #26576
reading a csv file with no index, when it writes the file there is an index even though I said index=False

it is really simple

[2019-05-30 17:11] TomAugspurger commented on #26527
Using the URLs generated by the internal `.. _<ref>:` seems like a reasonable compromise.

[2019-05-30 17:11] #26527 closed

[2019-05-30 17:20] WillAyd commented on #26576
Did you try the suggestion above? If it didn’t work for you do you have a reproducible code sample?

[2019-05-30 17:52] WillAyd commented on #26569
Do you have any way of profiling?

[2019-05-30 21:34] Santosh-Gupta commented on #26569
I am not very well versed in profiling methods but I am more than happy to figure it out. Do you have any recommended methods? If it makes a difference, I am using Google Colab.

Also, I would be happy to provide the notebook I am using. It is self-contained, and downloads the data directly from my Google Drive, so all you have to do is press run and then go to the final cell to check the SQL code

[2019-05-30 23:18] simonjayhawkins opened #26582 "Failing tests due to change in matplotlib behaviour in 3.1.0"
The allowed failures on Travis is currently failing on TestDataFramePlots.test_subplots

the matplotlib version used has changed today from 3.0.3 to 3.1.0

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

3.1.0
<a list of 2 Text xticklabel objects>
True
True

#### Expected Output

3.0.3
<a list of 7 Text xticklabel objects>
False
False
False
False
False
False

[2019-05-31 00:27] Santosh-Gupta commented on #26569
Here is the notebook I am using , with the `to_sql` code at the bottom.

https://drive.google.com/open?id=1j7JnDlmIP5QE9lwLuQo-z3jABElaesZN

The code needs my data from my Google drive folder. I could not find how let a new user download directly all contents of my folder, so I am just going to share my folder with this link

https://drive.google.com/open?id=1m6JfoIEIcX74CFSIQArZmSd0A8d0IRG8

Impo

[2019-05-31 00:38] simonjayhawkins commented on #26582
AFAICT

the test calls

[code]

from

[code]

ax.axis has a `get_visible()` method inherited from artist

`get_xticklabels` returns a text object that has no documented `get_visible()` method.

[2019-05-31 01:01] fhoang7 commented on #26554
Happy to take a look at this!

[2019-05-31 01:29] nathalier opened #26583 "to_datetime returns TypeError for invalid integer dates with %Y%m%d format"
[code]

[code]
throws "TypeError: 'int' object is unsliceable" instead of returning initial values

[code]

[2019-05-31 01:57] simonjayhawkins commented on #26583
thanks @nathalier for the report. if you could include the stack trace, that'll be great.

If you'd like to take a look and submit a PR would certainly be welcome.

[2019-05-31 02:02] simonjayhawkins commented on #26583
xref https://github.com/pandas-dev/pandas/issues/25512#issuecomment-496905000

[2019-05-31 02:30] WillAyd commented on #26569
Here's an example of profiling if you can isolate the issue in your code:

https://github.com/pandas-dev/pandas/issues/25893#issuecomment-477208844

[2019-05-31 03:40] #26546 closed

[2019-05-31 03:52] Santosh-Gupta commented on #26569
Not quite sure how to use that

I awkwardly tried

[code]

and

[code]

But neither produced any output; my enviroment crashed without outputting anything.

[2019-05-31 08:27] soerenwolfers opened #26587 "Constructor reorders columns and rows for (lists or dicts) of dicts"
#### Code Sample

[code]
Results in
[code]
#### Problem description

The two constructor calls above reorder the rows or columns, respectively, alphabetically, so the row or column, respectively, indexed by 'A' always comes first.

#### Expected Output

The order of the dict should be preserved now that Python dictionaries are officially ordered.
Hence, the row or column, respectively, indexed by

[2019-05-31 09:45] TomAugspurger commented on #26569
https://pypi.org/project/memory-profiler/ for memory profiling.

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for
making minimal examples.

On Thu, May 30, 2019 at 4:34 PM Santosh Gupta <notifications@github.com>
wrote:

[2019-05-31 11:32] jreback opened #26589 "BLD: wheel building failing for install issue"
https://travis-ci.org/MacPython/pandas-wheels/jobs/539541488
https://travis-ci.org/MacPython/pandas-wheels/builds/539541484 (the builds)

just started failing

cc @pandas-dev/pandas-core

[2019-05-31 12:21] xcz011 commented on #26563
Hi @WillAyd, I just give a PR, and hope I understand you correctly. If not, please feel free to correct me. Thanks.

[2019-05-31 12:23] LuckyDenis commented on #26545
Good afternoon, I found where in what a mistake. But have not yet figured out how best to fix it. Do you mind if I take this task?

[2019-05-31 12:35] WillAyd commented on #26587
This is a duplicate of quite a few issues.  The problem with this is that there is no such thing as guaranteed ordering in two dimensions.

[2019-05-31 13:19] TomAugspurger commented on #26536
Thanks. Given that I think that @robbuckley's proposal is reasonable. @bhy can you test it out locally, and perhaps submit a PR?

[2019-05-31 13:52] TomAugspurger commented on #26589
New cryptography release

old:

[code]

new:

[code]

Seems like there are manylinux wheels for 2.7, and 3.4 but not 3.6 (failing build). https://pypi.org/project/cryptography/2.7/#files

Aside: do you get notifications for these failures @jreback?

[2019-05-31 13:54] TomAugspurger commented on #26589
Wait I'm confused now. The failing job is for python 3.6, but it seems like for cryptography 2.6.1 it downloaded the  wheel with the `-cp34-abi3-manylinux1`... i.e. the wheel for CPython 3.4

[2019-05-31 14:13] dinya opened #26592 "Exception while MultiIndex slice contains "min", "mean" or "max""
I want to slice the dataframe contains MultiIndex

[code]

![](https://user-images.githubusercontent.com/2182222/58710365-92762600-83d5-11e9-87c0-68013814a280.png)

Let's slicing

[code]

![](https://user-images.githubusercontent.com/2182222/58710436-c3565b00-83d5-11e9-943d-f0869260a14b.png)

Let's change the ``stats`` value and recreate the dataframe:

[code]

![](https://user-images.githubuserco

[2019-05-31 14:17] TomAugspurger commented on #26592
The issue isn't "mean", "min", "max", it's the fact that your first example is sorted and your second isn't right? If you had `stats = ("s2", "s1", "s0")` I think you'd see the same thing, right?

[2019-05-31 14:23] TomAugspurger commented on #26589
I restarted the build, to ensure that the wheels were actually present when we tried to fetch them. It did indeed fail.

When I create a linux py36 environment locally, and `pip install cryptography`, I do get the `cryptography-2.7-cp34-abi3-manylinux1` wheel.

[2019-05-31 14:28] TomAugspurger commented on #26589
Ah the difference is probably the platform. That build is 32-bit.

https://cryptography.io/en/latest/changelog/

So for now let's include `--binary-only=cryptography` for this.

[2019-05-31 14:44] chrish42 opened #26594 "SettingWithCopyWarning does not trigger on the second time?"
Found a false negative for the SettingWithCopyWarning that surprised me a bit:

[code]

This is rather surprising to me. Is this a bug in the code that raises SettingWithCopyWarning? At least, it'd be nice to give an intuition in the docs on why this behavior happens. I could create a pull request for the doc, if I understood why this was happening. (Or create one for a fix, if there's a reasonabl

[2019-05-31 14:54] dinya commented on #26592
@TomAugspurger

Yes, you are right. But I can't find the notes about that in [docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#advanced-indexing-with-hierarchical-index).

In any case, is this pandas behaviour predictable? I thought about the ``("min", "mean", "max")`` like about something positional like ``(0, 1, 2)``.

[2019-05-31 17:45] Connossor opened #26597 "Rolling standard deviation fails when used with win_type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When calculating rolling aggregations with a window function, sometimes there is an error which is quite hard to understand. I think it might be that the std() aggregation is not compatible with certain window types, or something like that- but it's not clear from the error messages or documentation what is goi

[2019-05-31 18:56] Connossor commented on #26462
I've encountered a similar error, so to help out here's a simple reproducible example. Thanks @jreback and @WillAyd for looking at this.

[code]

The last assert statement fails. In that last calculation, it looks like the win_type='blackman' paramater was ignored and it was back to uniform weights. The last two columns ought to be identical:

<pre>
  groups      data   uniform  grp_uniform  black

[2019-05-31 21:03] TomAugspurger commented on #26597
That seems to be the case.

[code]

it'd be good to verify if that's intentional, or whether it's an implementation detail. If it's intentional, then we should be able to verify which aggfuncs are compatible with which window types, and raise an informative error message before attempting the aggregation.

[2019-05-31 21:26] ozak opened #26599 "Compression keyword for Stata and others?"
Hi,

I was trying to open zipped Stata files and thought one could do it as in ``read_csv``using  the ``compression='zip'`` keyword option. Is this not implemented? Saw #15644 and follow ups, but at the time it seems the discussion was about output not input files. In many cases providers give Stata files in zip format, which e.g. in my case may mean 1000's of different zipped archives containing

[2019-05-31 21:59] #26589 closed

[2019-05-31 22:59] rockg commented on #26594
I believe this is normal behavior for Python warnings display in that they only display once for the same module/line only once. See [here](https://docs.python.org/3/library/warnings.html).

"default" | print the first occurrence of matching warnings for each location (module + line number) where the warning is issued

[2019-05-31 23:30] jreback commented on #26594
yep @rockg is correct

[2019-05-31 23:30] #26594 closed

[2019-05-31 23:40] jreback commented on #26589
yes i get notification from pandas-wheels on failures

not sure how though

[2019-05-31 23:43] tantofish commented on #8517
Works great for me. Thanks!

Slightly modified to simplify and be more similar to the original poster's wishing syntax:
[code]

[2019-06-01 00:30] alimcmaster1 commented on #26344
Its great that azure now supports this - @jbrockmendel I assume you are referring to these power shell scripts implemented here: #26344 that currently live in: `ci/azure` directory i'm happy to take a look as migrating them

[2019-06-01 00:42] alimcmaster1 commented on #26007
hey @mj1856 mind show a repo / use case + show_versions as Jeff mentioned above - thanks!

[2019-06-01 07:14] yoonghm commented on #16620
The solution provide above redirects standard error outputs to null device,

[code]

[2019-06-01 10:47] datapythonista opened #26601 "CI: Use azure-pipelines reporting for pytest data"
Azure Pipelines can show errors and warnings clearer, by adding some specific syntax to the log.

We are already using this for the linting, where we output flake8 errors like `##vso[task.logissue type=error;sourcepath=%(path)s;linenumber=%(row)s;columnnumber=%(col)s;code=%(code)s;]%(text)s` (see `ci/code_checks.sh`).

This makes it easier to find the errors in the logs, as they appear in the summ

[2019-06-01 12:15] TomAugspurger commented on #26601
I use this for dask-ml and it seems to work well.

[2019-06-01 12:56] Connossor commented on #26597
Hi @TomAugspurger,

Thanks for the response, and yep agree with your plan.

I did my best to look through the codebase, and it's not clear to me which aggfuncs are supposed to be compatible with which window types. It seems from here that if a string aggregation such as "std", then if it exists as a function in numpy it gets used..

https://github.com/pandas-dev/pandas/blob/cb00deb94500205fcb27a33

[2019-06-01 12:58] Connossor commented on #26597
This issue may be related to issue #26462, where the mean() aggregation seems to have different behaviour for a  rolling window versus a grouby-rolling window.

[2019-06-01 14:04] #26051 closed

[2019-06-01 14:45] #25512 closed

[2019-06-01 14:51] #26504 closed

[2019-06-01 14:52] #26397 closed

[2019-06-01 14:56] #19387 closed

[2019-06-01 15:03] #23011 closed

[2019-06-01 15:03] #23163 closed

[2019-06-01 15:03] #23551 closed

[2019-06-01 15:03] #13877 closed

[2019-06-01 16:05] shouldsee commented on #26549
@TomAugspurger @jreback. Oh thanks for the info. I installed pandas with `pip2 install pandas --user` and somehow it defaulted to using `pd.DataFrame.query(engine="numexpr")`, which took me quite some nasty time to find out....

[2019-06-01 19:44] BeforeFlight opened #26610 "Read from HDF with empty `where` throws an error"
#### Code Sample
[code]
#### Problem description
Wanted to be able construct "by hands" and save `where` condition for later, so declare it as variable. But some times constructed `where` becomes empty and code throws an error.

[code]

#### Expected Output
When empty string is passed to `where` - just select whole DataFrame. It may be easily achieved by changing last statement to `store.select('d

[2019-06-01 20:45] TomAugspurger opened #26611 "Groupby with multiple aggregations doesn't pass through positional or keyword arguments."
We pass positional `*args` through to the aggfunc for a single grouper.

[code]

But not for multiple.

[code]

Same for keyword arguments.

Is that intentional? It's a bit strange, since *all* your aggfuncs would need to be expecting the same positional and keyword arguments. I think we should recommend using something like functools.partial to get a unary function, and documents that args and kw

[2019-06-02 00:09] amcpherson opened #26613 "to_csv does not fail with specified columns not in dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The documentation specified that the columns kwarg is "Columns to write."  If there is no matching column to write this would seem to warent an error of some kind.  Instead an unrelated warning is printed.

#### Expected Output

An exception should be thrown.

#### Output of ``pd.show_versions()``

<details>

I

[2019-06-02 00:51] simonjayhawkins opened #26614 "CI failing - All builds are failing on python 3.5 on pytest 4.6"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=12138

cc @pandas-dev/pandas-core

[2019-06-02 02:24] WillAyd commented on #26614
Might be a result of the jump from pytest 4.5 to 4.6, though wasn't able to reproduce locally

[2019-06-02 02:28] WillAyd commented on #26599
Related issue #21640

[2019-06-02 02:28] BeforeFlight opened #26615 "Performance issue while groupby.shift if fill_value specified"
Test code:
[code]
[code]
And suppose we want group by 0-level of index and shift each group (shift step = 2, for example).
[code]
[code]
Now to the problem: if we want to preserve our dtype 'uint8', we have to get rid of `None`s, and set our fill value with 0, for example. But we will get HUGE time of code execution now:
[code]
[code]
Expected time of execution should be comparable with following:

[2019-06-02 02:30] WillAyd commented on #26610
Where is documented as accepting a list so if you use an empty list instead of the string you should be able to manage this the way you want

[2019-06-02 02:35] WillAyd commented on #26615
Thanks for the report - the alternate solution you've identified is spot on. If you'd like to take a look at improving performance with the fill_value keyword we would certainly take PRs!

[2019-06-02 02:51] WillAyd commented on #26613
The warning isn't technically unrelated - behind the scenes columns argument is getting passed to `.loc`, which now allows missing labels but in the future will raise a KeyError. This is xref #15747

Until that happens you could still get the desired outcome if selected the columns from the data frame directly

[code]

[2019-06-02 02:52] WillAyd commented on #26613
Closing as I don't think anything needs to change with to_csv for desired outcome here; will be a byproduct of a future change as directed in the FutureWarning

[2019-06-02 02:52] #26613 closed

[2019-06-02 02:55] WillAyd commented on #26587
Closing as a duplicate of #24859

[2019-06-02 02:55] #26587 closed

[2019-06-02 03:00] BeforeFlight commented on #26610
In API reference it is, stated it accepts list, yes. But in [user_guide](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#querying-a-table) all examples are with using `where` as strings. And also user_guide states: "If a list/tuple of expressions is passed they will be combined via &". The latter may become problem if one would create empty `where = []`, and starts to populate it wi

[2019-06-02 04:31] karldw opened #26616 "Categorical type doesn't survive a round-trip through parquet"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Writing a string categorical variable to parquet is read back as string (`object` dtype). I expected it to be read as `category`.
The same thing happens if the category is numeric -- a numeric category is read back as int64.

In the code above, I tried out an in-memory arrow table, which successfully translates

[2019-06-02 08:09] h-vetinari commented on #26614
It is a pytest issue: pytest-dev/pytest#5358. Would help to pin "pytest<4.6" for now.

[2019-06-02 09:46] topper-123 opened #26618 "All builds are failing on python 3.5"
It seems like all PRs are currently failing on "macOS py35_macos" and "Linux py35_compat".

I assume this must be a Python 3.5 failure, though I haven't been able to verify that, as I can't seem to be able to build pandas with Python 3.5 locally. (So I can't fix this either, as everything works fine on my Python3.7).

[2019-06-02 09:59] soerenwolfers commented on #26587
I don't understand

 Do you mean

 If so, what prevents pandas from using the unique order if it exists?

[2019-06-02 10:23] simonjayhawkins commented on #26618
duplicate of #26614

[2019-06-02 10:23] #26618 closed

[2019-06-02 10:38] jreback commented on #26614
we can pin those builds specifically

[2019-06-02 10:41] simonjayhawkins commented on #26614
just about to submit PR, may have the syntax wrong though

    # universal
    - pytest>=4.0.2,!=4.6.0

[2019-06-02 10:43] jreback commented on #26616
you are using an older version of pyarrow
try with 0.13 the most recent

[2019-06-02 10:44] jreback commented on #26614
use<4.6 (or for those older builds just pin directly to a single version

[2019-06-02 12:10] #26614 closed

[2019-06-02 13:24] blu3r4y commented on #25883
As suggested by @WillAyd, i ran ASV for `GroupBy.apply` in order to only observe the impact on that.

- I did the `asv` call 5 times for warm-up and 5 times for the sake of reporting, on a clean Debian 9.7 CPU-optimized droplet from Digital Ocean. I observed that the results drastically differ between runs, this is why I did multiple runs in the first place.
- I observed a regression between **v0.

[2019-06-02 13:41] karldw commented on #26616
Sorry about that. It looks like the results are the same with arrow 0.13.0.

Here's the new output of `pd.show_versions()`

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Linux
OS-release: 5.0.0-15-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.24.2
pytest: None
pip:

[2019-06-02 13:56] jreback commented on #26616
pls open an issue on pyarrow JIRA then
the conversion is done in pyarrow

[2019-06-02 15:08] pv commented on #25883
FWIW, on a desktop computer the benchmark numbers are fairly stable:
[code]
If the accuracy is not sufficient, you can add `-a processes=5` to run 5 rounds (instead of the default 2), to get a better sample of the fluctuations.

[2019-06-02 15:23] jorisvandenbossche commented on #26574
We could certainly build a part (like a single page) to at least catch errors in the general sphinx configuration (that will not catch windows-specific errors in all code examples though).

[2019-06-02 15:47] Santosh-Gupta commented on #26569
I believe the issue is not with Pandas but with sqlalchemy. I used something like `for i in range(100): df.iloc[i * 100000:(i+1):100000].to_sql(...)` as an alternative method for chucking but the ram still built up and crashed. So perhaps some sort of memory leak in sqlalchemy.

Here's a Stackoverflow link for anyone interested in continuing the monitor this issue.

https://stackoverflow.com/quest

[2019-06-02 16:28] Connossor commented on #26597
@TomAugspurger I've investigated as you suggested, here is what I think is happening:

This function seems to govern what class is actually used: we get a `pandas.core.window.Window` object if the win_type parameter is set, otherwise a  `pandas.core.window.Rolling` object which seems to a be effectively a Window with uniform weights.

https://github.com/pandas-dev/pandas/blob/addc5fcd95064b765d4ee

[2019-06-02 17:03] karldw commented on #26616
Thanks! I'm closing this in favor of the JIRA issue: https://issues.apache.org/jira/browse/ARROW-5480

[2019-06-02 17:03] #26616 closed

[2019-06-02 18:56] telamonian opened #26622 "pd.MultiIndex.isin doesn't validate input correctly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I got bit this morning by some improperly structured arguments for `MultiIndex.isin`. It turns out that as long as one value in the input `values` is the right length, `isin` doesn't care if every other value is too short. On the other hand, `isin` will error out in many other cases relating to the lengths of e

[2019-06-02 21:09] #26563 closed

[2019-06-02 22:57] topper-123 commented on #26488
You can archive the desired result by doing ``df.at[('a',1), 'Vector'] = [1, 2]``.

``.at`` is the scalar version of ``.loc``, so clearly communicates that this is an intended result. ``.loc`` is typically used for non-scalar operations, and using it to add a list (a non-scalar value) to a single (scalar) cell sounds confusing. You typically don't want to a higher dimension value into a lower-dime

[2019-06-02 23:06] WillAyd commented on #26610
Thanks for the additional references. If you'd like to take a look and clean up implementation / documentation PRs would certainly be welcome!

[2019-06-02 23:10] WillAyd commented on #26611
I don't see this as being intentional or useful so for sure would be on board with any clean up here and pushing the partial approach if there is a need here

[2019-06-02 23:11] topper-123 commented on #24252
Hey, @mroeschke, did your PR resolve this issue?

I'm in doubt, as the second example now raises a OverflowError, while I assumed the correct solution would be for both to raise a OutOfBoundsDatetime.

[2019-06-02 23:42] #26554 closed

[2019-06-03 00:03] jreback commented on #25725
do we have anything left of this?

cc @pandas-dev/pandas-core

[2019-06-03 00:04] jreback commented on #18241
lol w did this!

[2019-06-03 00:04] #18241 closed

[2019-06-03 00:05] jreback commented on #25632
anything left on this

cc @pandas-dev/pandas-core

[2019-06-03 00:09] gfyoung commented on #25725
@topper-123 went berserk on this issue, so probably he's a good one to judge this 🙂

[2019-06-03 00:29] alimcmaster1 opened #26626 "Setup python 3.8 builds"
As the python 3.8 release date draws closer ( currently [scheduled](https://www.python.org/dev/peps/pep-0569/#release-schedule) for October this year ).

I was wondering if we want to set up python3.8 builds?

Given the 3.8 dev branch is available on [travis](https://docs.travis-ci.com/user/languages/python/) and shortly [azure](https://github.com/Microsoft/azure-pipelines-image-generation/issues/

[2019-06-03 00:31] jreback commented on #26626
we need it available on conda

as numpy needs to build

[2019-06-03 00:38] alimcmaster1 commented on #26626
Looks like @h-vetinari kindly started doing this here: https://github.com/conda-forge/python-feedstock/pull/259

[2019-06-03 01:02] jreback commented on #26626
well need python numpy and cython then it’s possible
certainly u can push folks

note that once python and cython exists it’s possible to build numpy from source

[2019-06-03 01:33] nathalier commented on #14487
Yet another example of unpredictable behaviour:
[code]

[2019-06-03 04:43] topper-123 commented on #25725
- pandas.core.base.StringMixin is still there, I've given up on removing that one. If someone could take a look?
- There are still comments containing the regex ``python2|python 2|PY2|PY 2`` (52 instances total). The related code should be looked through for simplifications. Likewise the similar regiex for Python3

Else I don't see much systematic, but on a code base of this size, there is bound t

[2019-06-03 05:32] topper-123 commented on #25725
BTW, I don't necessarily see the above as blockers for a 0.25 release, but more like "things that should be cleaned up in order to have a tidy and modern code base". And doing them while there is a focus on python2/3 compat will probably be better than doing it "later".

[2019-06-03 05:59] dinya commented on #26592
More over,

[code]
returns

[code]

So ``MultiIndex``-object has "positional" attribute ``codes`` already. Why pandas doesn't use it for indexing? Is the pandas use ``levels`` directly for that?

[2019-06-03 07:51] datapythonista commented on #25632
I opened #26627, I couldn't find anything else.

[2019-06-03 10:27] jreback commented on #25725
this is not blocking 0.25; just seeing if we can close it :)

[2019-06-03 10:38] giacomopareschi commented on #26488
Thank you for the helpful answer.
I agree that the error message could be improved.

[2019-06-03 10:38] #26488 closed

[2019-06-03 11:51] TomAugspurger commented on #26592
It's down a bit in the section you linked. Search for "Furthermore, if you try to index".

That's more of an internal thing, having to do with how the levels are stored.

I wouldn't recommend slicing on an unsorted MultiIndex. Especially with multiple levels, it gets confusing exactly what's going to be returned.

@dinya is there anything else to do in this issue, or do you think the documentation

[2019-06-03 11:56] #23679 closed

[2019-06-03 12:07] dinya commented on #26592
@TomAugspurger

Thank you for your clarification. The issue is closed.

[2019-06-03 12:07] #26592 closed

[2019-06-03 12:38] WillAyd opened #26629 "Appender Causing MyPy Issues"
ref https://github.com/pandas-dev/pandas/pull/26414#issuecomment-498224395 it appears that mypy and the Appender may not be playing nice together. A solution to this may be tucked away in https://github.com/python/mypy/issues/3157

[2019-06-03 14:03] MarcelBeining opened #26630 "pandas Series apply returns dtype:datetime though convert_dtype is set to False"
pandas version 0.24.2

#### Code Sample, a copy-pastable example if possible

[code]
Output:
[code]
#### Problem description

I want to parse a pandas Series containing strings to datetime using the above function `parseDate`. The important thing is that `None` values **must not** be converted to `NaT` because I put it into a SQLAlchemy database afterwards which only recognizes `None` values as NU

[2019-06-03 14:34] Kjili opened #26632 "pd.DataFrame.replace regression causes dtype to remain object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The behaviour shown above is inconsistent and hard to spot. In my case, it broke one of my tests due to mismatching types (as I was expecting a float64).
The problem seems to involve a regression when upgrading from pandas 0.23.4 to any later version (tested with 0.24.0, 0.24.1 and 0.24.2, all of which have the

[2019-06-03 15:04] MarcelBeining commented on #25730
@TomAugspurger I have a very similar problem and the solution `.dt.to_pydatetime().` does not work for me because I need to keep it in the data frame so that I can hand it all over to SQLAlchemy, and when I try `df.date = df.date.dt.to_pydatetime()` it simply transforms the datetime objects back to datetime64 which then does not work with SQLAlchemy :-(

[2019-06-03 15:42] topper-123 commented on #26488
Alright:-) And if you want to contribute a better error message, you'd be welcome.

[2019-06-03 16:02] topper-123 commented on #26549
That's an interesting question.

Is a 0.24.3 in the pipeline, @TomAugspurger & @jreback? In that case it's probably possible, provided the fix  is easy to backport (and you're willing to do the PR, @shouldsee :-)).

[2019-06-03 16:05] TomAugspurger commented on #26549
No plans for a 0.24.3 right now.

I haven't followed the issue closely enough to understand what would be
back ported.

On Mon, Jun 3, 2019 at 11:02 AM topper-123 <notifications@github.com> wrote:

[2019-06-03 16:11] TomAugspurger commented on #25730
@MarcelBeining I'd recommend applying `date time.datetime` elementwise to every value in the column, and overwriting the column with the (object dtype) output .

What remains to be done in this issue? Is it just changing the NDFrame.astype docs for `dtype` to update `or Python type` to `or Python type, which is cast to a dtype with pandas_dtype,`?

[2019-06-03 16:55] jreback commented on #26549
no plans for 0.24.3

[2019-06-03 17:15] thedatadoc opened #26636 "Enhancement request: read_html() parameter to control contents of DataFrame"
The current read_html() method is useful when parsing simple tables, however in practice, not every html table has been created with simple parsing in mind.  It is often required that we identify the type or purpose of data in a table cell.  HTML tables generally express information this via the assignment of a CSS class name to a th or td element.

I propose an optional read_html() string paramet

[2019-06-03 17:24] WillAyd commented on #26636
Do you have examples of general sites where this would be useful? Off the top of my head seems like a very niche application that you would want to roll your own parser for, but if there are examples out there that illustrate the utility would be helpful for consideration

[2019-06-03 17:27] thedatadoc commented on #26636
I'll find a few examples.  The specific data I am working with right now is non-public, but I've encountered this elsewhere on public sites.

I could roll my own parser, however, I really like the standard pandas functionality, and I want to minimize the risk of interpreting html differently while retrieving cells.  E.g., colspan and rowspan, specifically.  I'd like the same code to make those typ

[2019-06-03 17:33] WillAyd commented on #26636
OK thanks - if you can provide again would be helpful.

FWIW you might be able to override `_text_getter` in a subclass to get what you want without interfering with the rest of the logic:

https://github.com/pandas-dev/pandas/blob/8d124ea4c5200f218db7cea8e3ff504b0045a4e6/pandas/io/html.py#L143

[2019-06-03 17:41] thedatadoc commented on #26636
Agreed - already started down that path.  I thought it might be a useful feature for others, so I thought I'd write an enhancement request.  Having it in pandas is marginally better than maintaining that code myself, but I agree that it is not required for instances where tables are formatted as one would expect ... particularly useful when the table output is dynamic (so labels or row positions a

[2019-06-03 17:43] thedatadoc commented on #26636
This article includes screenshots of tabular data represented like this:  https://www.qresearchsoftware.com/market-research-guide-basic-data-analysis

(I'll still keep working to get live link examples.)

[2019-06-03 17:46] WillAyd commented on #26636
Cool thanks - looking forward to what you can find.  Some other options include the match keyword and/or using something like the SoupStrainer with bs4 to remove what you don't want from intermixed tables

[2019-06-03 18:04] thedatadoc commented on #26636
When one needs an example of complexity in something that could otherwise be ordered, one need only look at a .gov website :)  Here's a pretty good example, I think.

https://www.bls.gov/news.release/empsit.t09.htm

They aren't using the class attribute, but they do use a "headers" attribute on their td elements.  If I were parsing this, I couldn't rely entirely on the text in the "Characteristic"

[2019-06-03 18:36] shsnyder opened #26637 "Improve docs for pandas_version in Dataframe to_json(orient='table')"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I was attempting to serialize a dataframe and omit the indexes.
In the generated JSON the indexes remained and the pandas_version value in the JSON was "0.20.0"

The results I obtained on Windows 10 and MacOS 10.14.5 was:
{"schema": {"fields":[{"name":"values","type":"integer"},{"name":"A","type":"integer"},{"na

[2019-06-03 18:55] shsnyder commented on #26637
I now realize that the index option should be a Boolean and not a string. Changing it to a Boolean does remove the index values but the panda_version is still "0.20.0".

[2019-06-03 19:17] jschendel commented on #26632
Please provide a reproducible example with sample data: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-06-03 19:32] TomAugspurger commented on #26637
This is deliberate. See the discussion at https://github.com/pandas-dev/pandas/pull/24509#issuecomment-450642984.

There are a few places in the docs (e.g. http://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.io.json.build_table_schema.html#pandas.io.json.build_table_schema) that could use clarification if you're interested.

[2019-06-03 20:43] TomAugspurger commented on #26630
I'm not really familiar with what `convert_dtype` does, but it's arguable that if the user provides `convert_dtype=False`, then we should pass through `dtype=mapped.dtype` in https://github.com/pandas-dev/pandas/blob/8d124ea4c5200f218db7cea8e3ff504b0045a4e6/pandas/core/series.py#L3706, to disable further inference.

Are you interested in trying that out and making a PR?

[2019-06-03 20:44] TomAugspurger commented on #26630
Just to clarify, things are fine up until that point. We have an ndarray[object]

[code]

But we re-infer datetime64[ns] dtype when making the new series

[code]

[2019-06-03 20:53] topper-123 commented on #26636
do I understand you correctly, that you would like the option to retrieve a DataFrame of attribute values of the corresponding ``td`` element?

So, if you'd do ``df = pd.read_html('https://www.bls.gov/news.release/empsit.t09.htm', get_attribute = 'headers')`` you would get a data frame with frame cell values set to the "headers" attributes and if that attribute is not found, then set it to ``nan``

[2019-06-03 20:55] jbrockmendel commented on #25632
Were the pickle/msgpack files ever recreated without Panel?

[2019-06-03 21:07] WillAyd commented on #25632
@jbrockmendel is that all we need to do is basically re-save those test files?

[2019-06-03 21:20] TomAugspurger commented on #26597
Your number 1. sounds reasonable.

Not sure about 2. I'm not that familiar with this code.

[2019-06-03 21:23] TomAugspurger opened #26639 "Possible performance regression in 9a42cbe85461c28417a5130bc80b035044c5575a"
Possible regression in https://github.com/pandas-dev/pandas/commit/9a42cbe85461c28417a5130bc80b035044c5575a

ASV: http://pandas.pydata.org/speed/pandas/index.html#strings.Methods.time_normalize?commits=9a42cbe85461c28417a5130bc80b035044c5575a

A bunch of benchmarks are ~20% slower. Not sure if that was talked about in the issue.

cc @h-vetinari

[2019-06-03 21:27] TomAugspurger opened #26640 "Investigate performance regression in TimeSeries.infer_freq"
A whole bunch of them:

- [ ] InferFreq: http://pandas.pydata.org/speed/pandas/index.html#timeseries.InferFreq.time_infer_freq?commits=9c5165e26260483ae64300c4d98939bf575aab7e-8154efb0c1a64295cf54e00025b4ab09bcd02752&p-freq=%27D%27
- [ ] DatetimeIndex http://pandas.pydata.org/speed/pandas/index.html#timeseries.DatetimeIndex.time_timeseries_is_month_start?commits=9c5165e26260483ae64300c4d98939bf575

[2019-06-03 21:30] TomAugspurger commented on #26640
Candidates, based on commit messages

- https://github.com/pandas-dev/pandas/commit/ebe6b9135c1b17f990b9d38dbee5fc07b34ffa85
- ...

[2019-06-03 21:36] TomAugspurger commented on #26615
@BeforeFlight are you interested in working on this?

[2019-06-03 21:38] TomAugspurger commented on #26610
To make sure I understand, the proposed fix is for `where=[]` to be treaded the same as `where=None`, i.e. no filtering?

[2019-06-03 21:48] h-vetinari commented on #26639
@TomAugspurger
It was not discussed, but I'm not too surprised. The wrapper doesn't add much, but there's a cost for running `infer_dtype` on every call.

I should add that that #23167 came about mainly because @jreback was adamant (in several PRs I had concerning `.str.cat`) that the `.str`-accessor should absolutely NOT work for bytes, and if it happens to, that's an accident (e.g. [here](https:

[2019-06-03 21:57] h-vetinari commented on #26626
I have been following up on this for a [while](https://github.com/conda-forge/python-feedstock/issues/254) with the express idea of doing Python 3.8 testing as early as the betas.

Python 3.8.0a3 (conda-forge/python-feedstock#258) worked because one of the maintainers basically did all the work. Although I did a bit more for 3.8.0a4 this time, I haven't had time to properly investigate the build f

[2019-06-03 22:17] BeforeFlight commented on #26610
If you are asking me, yes I think it should be that way. Empty `where=[]` -> no filtering  -> whole df will be return.

[2019-06-03 22:18] jreback commented on #26630
-1 on this

we have many ways to not infer; by definition .apply does infer things

[2019-06-03 22:32] BeforeFlight commented on #26615
@TomAugspurger honestly I'm very novice on github (one may say - in pandas as well). So almost never have worked with 'branches - pull requests` schemes. Have to take quite some time to read docs / set environment / test environment / fully understand TDD / ... And not only this - now (as most of us) have a bunch of other tasks. Besides now I'm encounter another pandas performance issue, with HDFs

[2019-06-03 22:52] BeforeFlight commented on #26615
But I may make some considerations even now, which may be helpful.

I think, that the reason for such delay of execution `.shift()`, is as [proposed](https://stackoverflow.com/questions/56411642/pandas-hdfstore-retrieving-data-preformance-understanding) @Allolz, in using `.apply` instead of `._get_cythonized_result` when `fill_value` is specified - [code](https://github.com/pandas-dev/pandas/blob/

[2019-06-03 22:56] WillAyd commented on #26615
@BeforeFlight thanks for the initial insights. So one possibility to make this significantly faster is to still use a vectorized solution even when `fill_value` is provided. This could either be done by calling `fill` on the result of the shift call or alternately providing a `post_processing` function to `_get_cythonized_result` which does the filling and maintains dtype if possible.

[2019-06-03 23:05] TomAugspurger commented on #26610
Sounds right. Can you submit a PR with tests?

[2019-06-03 23:10] BeforeFlight commented on #26610
@TomAugspurger as I explained in neighbour theme with groupby issue - just [don't know](https://github.com/pandas-dev/pandas/issues/26615#issuecomment-498450946) how to do it correctly.

[2019-06-03 23:13] BeforeFlight commented on #26615
Great. How to remove reference here? Sorry.

[2019-06-03 23:14] WillAyd commented on #26610
@BeforeFlight we have a contributing guide which could be helpful:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#testing-with-continuous-integration

If you would like to try but run into specific issues we are of course here to help. You can also use Gitter for development questions

[2019-06-03 23:23] BeforeFlight commented on #26610
@WillAyd well I would like to. But will start only tomorrow (now is 2pm here). If this api design proposal may serve for my 'github environment understanding' for some time - I would like to try for sure.

[2019-06-04 00:19] topper-123 opened #26642 "Rename NDFrame.filter to .select?"
I've made a PR to remove ``NDFrame.select``, see #26641. That method was deprecated in 0.21.

There was a discussion in #12401, where many participants agreed that removing the old ``select`` and having ``NDFrame.filter`` renamed to ``NDFrame.select`` would be a better naming scheme. I agree on that for several of the reasons mentioned in the thread.

What do people think of such a name change and

[2019-06-04 00:53] WillAyd commented on #26642
I would agree with the naming scheme. So is your proposal to deprecate both with a warning for filter that it will eventually become select?

[2019-06-04 01:17] topper-123 commented on #26642
``.select`` was already deprecated in 0.21 and will be removed in 0.25. But yeah, after #26641 is merged, just change ``.filter`` to ``.select`` and make ``.filter`` a pass-through function like this:

[code]

[2019-06-04 01:26] jbrockmendel commented on #25632
Using the older pandas versions, yah.  When I tried to do this a few months ago it didn't go great, don't remember off the top of my head what went wrong.

[2019-06-04 07:57] MarcelBeining commented on #26630
So the only solution to this is using a for-loop followed by transforming back into a Series object as suggested by @TomAugspurger ?

[2019-06-04 09:39] Kjili commented on #26632
The above shows the inconsistency of the behaviour and should be reproducible (works in my Python console). For a true minimal example of the problematic part only, you can copy&paste the following:
[code]
This should print `float64`.

[2019-06-04 11:27] TomAugspurger commented on #26630
Do you know what `convert_object` is useful for? I've never used it, but from glancing at the code it's passed to `lib.infer_dtype(output)`, so roughly "allow object dtype when inferring the output type". Then it seems like we ignore that when we pass the array to the Series constructor, since we infer datetime dtype.

[2019-06-04 11:46] TomAugspurger commented on #26632
I suspect this is the same root cause as https://github.com/pandas-dev/pandas/issues/26632.

[2019-06-04 13:06] thedatadoc commented on #26636
It is true that just as we don't control the page author's table structure when mixing dissimilar data, we don't control their use of other HTML within table cells, either.  in the case you describe where there is a `span` or `p`, it would probably be better if there was some table cell handler function that could override `_text_getter` altogether.  To me, that's a different use case that seems m

[2019-06-04 14:59] jbrockmendel commented on #25632
@WillAyd #25250

[2019-06-04 14:59] vaneseltine commented on #15276
You are using psycopg2, which is a postgresql driver. This issue and fix pertain to Microsoft SQL Server using the pyodbc driver.

[2019-06-04 15:06] msteijaert opened #26647 "json_normalize Support for Generators"
The data argument in json_normalize requires be an dictionary or list of dictionaries. If an iterator is passed, unexpected behavior can occur. In particular, this will result in the loss of the first row. See https://stackoverflow.com/questions/56362810/missing-first-document-when-loading-multi-document-yaml-file-in-pandas-dataframe.

I think this should be catched, either by throwing an error (a

[2019-06-04 16:36] mj1856 commented on #26007
Hey, sorry.  I've just been too busy to deal with this.  It came up in a broader scan.

Looking closer, I think it would only be problematic if someone was specifically defining Leap Day (Feb 29th) as a holiday.  So probably not a big deal.

[2019-06-04 17:13] mroeschke commented on #24252
I don't think @jbrockmendel solved this issue. On master the first example still raises an `OverflowError` while the 2nd example actually returns something on master

[code]

[2019-06-04 17:36] WillAyd commented on #26647
I think the issue can be expressed more succinctly. Basically this works:

[code]

But this doesn't

[code]

I *think* this could be supported

[2019-06-04 17:48] simonjayhawkins commented on #25632
there seems a small bit of panel specific code in to_xarray in core.generic.

it's not tested for self.ndim> 2, ok to remove?

[2019-06-04 18:08] arthurandres opened #26649 "merge_asof with one tz-aware datetime "by" parameter and another parameter raises"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is very similar to: https://github.com/pandas-dev/pandas/issues/21184

The only difference is that the `merge_asof` `by` is made of 2 columns (instead of one):
* one is tz-aware
* the other one is something else (string, number etc...)

When running this, I get:
[code]
#### Expected Output

I expect the me

[2019-06-04 18:36] topper-123 commented on #26636
I do find this functionality useful , as I said, as I've dealt with tables, where understanding of data depends on html attributes (typically ``class`` or ``id``). I only doubt if this isn't too complex a problem to push into pandas itself, and maybe it would be better to have in a separate package.

In the csv cases, there's never ambiguity what the input cell values are and converters is "just"

[2019-06-04 18:51] nate-bryant opened #26650 "Handle numpy.matmul in DataFrame.__array_ufunc__"
#### Code Sample

[code]
#### Problem description

Issue originally raised here: https://github.com/numpy/numpy/issues/13712. In version 1.16 of NumPy ```np.matmul``` was implemented as a ufunc which caused compatibility issues with pandas. I get an error when trying to use ```np.matmul``` with single dimension pandas DataFrames. In the linked issue someone suggested that ```DataFrame.__array_ufun

[2019-06-04 18:59] TomAugspurger commented on #26650
DataFrame doesn't implement `__array_ufunc__` yet, we still have the old style `__array_wrap__`; I think we have an existing issue about `__array_ufunc__`.

[2019-06-04 20:04] marberi commented on #21150
Would this be an acceptable fix? I tested acquiring locks inside the ```__get__``` method itself and
it did not work.

https://github.com/marberi/pandas/commit/ad33858298961d63ab0bc70caf1d04b3ca02b5fc

[2019-06-04 20:43] Santosh-Gupta commented on #26569
I mentioned this on SQLalchemy and they said that it's unlikely it's happening there, so the issue might be in SQLite driver or in pandas.

It seems under certain conditions, that there is a memory leak with repeated insertions to sqlite via sqlalchemy.

I had a hard time trying to replicate the memory leak that occurred when converting my data, through a minimal example. But this gets pretty clos

[2019-06-04 21:06] jbrockmendel commented on #24252
@mroeschke just opened #26651 that addresses the example here.  I had trouble coming up with an example to test non-overflow at the bottom of the overflow range.  Suggestions welcome.

[2019-06-04 22:42] mroeschke commented on #26649
Thanks for the report. Here's the traceback I get on master. Investigations and PRs welcome!

[code]

[2019-06-05 00:25] TomAugspurger commented on #21150
We would need to measure the cost of acquiring the lock relative to the operation.

Do you know, if I do `.is_unique` multiple times, would the lock once, on the first call? And subsequent calls with return the cached value, without acquiring the lock?

Also, this feels like too low of a level for acquiring the lock, though I may be wrong about that.

[2019-06-05 00:53] alimcmaster1 commented on #26566
Makes sense to me - happy to take a look

[2019-06-05 01:03] WillAyd commented on #26647
If you'd like to try a PR to support this I think would be OK

[2019-06-05 05:51] peterpanmj commented on #25815
@mukundm19 Any progess yet ?

[2019-06-05 07:04] msteijaert commented on #26647
What would be preferable? Raising an error or turning data into a list if data is an iterator? The latter is pretty straightforward. My (naive) solution would be the following:

[code]

[2019-06-05 08:14] marberi commented on #21150
Note that this will affect not only "is_unique", but all other methods which are using the same decorator. Also, it locks on all calls, which is excessive. That should be easily fixable, tho. You  have a better suggestion of where to add the locking?

[2019-06-05 09:07] DanielFEvans commented on #23868
A +1 for this. I do think Pandas is being misleading in this case - I've just spend a good ten minutes trying to figure out why Pandas thinks Numpy isn't installed when `pip freeze` says it is, before finding out it's masking an underlying ImportError in Numpy (which I think is caused by Conda shenanigans).

I don't see any particular advantage to what Pandas is doing - why not just allow the Impo

[2019-06-05 09:26] mirekphd commented on #8748
Any pointers for efficient extraction of substrings with irregular offsets (without using a loop)?

[2019-06-05 10:57] datapythonista opened #26656 "CI/DOC: pyarrow ImportError when using environment.yml to build the docs"
In #26648, when we tried to use `environment.yml` to build the docs in azure instead of `ci/deps/travis-36-docs.yaml`, we found that `pyarrow` couldn't be imported, and it failed with the next error :

[code]

There are few differences between the created environments, like Python 3.6 vs 3.7, arrow-cpp being installed from defaults vs conda-forge... But it's unclear what's the exact problem or wha

[2019-06-05 11:44] TomAugspurger opened #26658 "loc allows different length boolean indexer"
Is this a bug, or deliberate?

[code]

The fact that we raise here, when we have too many true values makes me think this is a bug

[code]

In the docs at http://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html#boolean-indexing we say

Note that this only affects `.loc`. `Series.__getitem__` and `DataFrame.__getitem__` are unaffected.

[2019-06-05 11:50] TomAugspurger commented on #23868
We're python 3 only now. All we need to do is

[code]

and the full traceback is printed. Are you interested in working on it @DanielFEvans?

[2019-06-05 11:51] TomAugspurger commented on #23868
I'm not sure of an easy way to test this. I suspect the current behavior is untested.

[2019-06-05 11:53] TomAugspurger commented on #21150
Maybe _ensure_mapping_populated? I'm not sure.

On Wed, Jun 5, 2019 at 3:14 AM marberi <notifications@github.com> wrote:

[2019-06-05 12:20] WillAyd commented on #26647
I don't think using `is` is a good approach. If you can check the source to see where the first entry is getting dropped would be preferable to refactor without inference

[2019-06-05 12:54] #25775 closed

[2019-06-05 13:01] DanielFEvans commented on #23868
Is there any need to raise a separate import error - i.e. what would Pandas add that isn't already there? If there's a default ImportError that already says that it couldn't find `numpy`, I'm not sure there's much more to say.

(This is different from some other cases further down in `__init__.py`, where the try-catch gives some hints suggesting that compiled code is missing).

I'd be happy to giv

[2019-06-05 13:08] datapythonista opened #26659 "DEPS: Group dependencies and provide information of why they are required"
Our dependencies file `environment.yml` (https://github.com/pandas-dev/pandas/blob/master/environment.yml) is growing, and it's difficult to keep track on what each dependency is required for, and if there is any that can be removed.

We already provide some groups:

- required: pandas requires them to work
- development: they are used by pandas contributors and CI, but not by pandas itself
- opti

[2019-06-05 13:14] WillAyd commented on #25250
Just so I'm clear on expectation we don't need to go back and change all of the historical pickle files do we? We have some of these going back to 0.10.1 - I'm assuming older ones we can just let be historical artifacts? Do we just now need one file per OS?

[2019-06-05 13:16] TomAugspurger commented on #23868
Ah, sorry, I misunderstood the issue. The idea is to raise a single error message with all of the import errors, so https://github.com/pandas-dev/pandas/issues/23868#issuecomment-499051118 won't quite work.

I think the simplest thing is to include the original exception in the `missing_dependencies.append(dependency)`. So something like `missing_dependencies.append((dependency, e))`

[2019-06-05 13:43] jkovacevic opened #26660 "Indices of df.describe(percentiles=np.linspace(...)) are mix of integers and decimal numbers"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
If desc.index is printed out, some percentile indexes are written as decimal numbers (e.g. 30.0%, 55.0%, 85.0%), while others are whole numbers (e.g. 35%, 70%, 100%). Printing percentiles of distribution therefore requires hardcoding some decimal numbers, e.g.

[code]

#### Expected Output
Indexes of percentiles

[2019-06-05 13:46] datapythonista opened #26661 "CI: Remove isort from CI dependencies"
In #25455 we added `isort` as a dependency to all our builds. Looks like the CI was failing, and adding `isort` fixed the problem. Not sure what the problem is, but `isort` is something we should only have in `environment.yml`, as it's only used in `ci/code_checks.sh` and locally.

We should remove `isort` from all files in `ci/deps/` and if the CI complains, find out what's the problem, and fix i

[2019-06-05 13:47] jbrockmendel commented on #25250
I think the idea is to re-write the historical ones using old pandas but up-to-date generate_files_whatever.py

(For orthogonal reasons I'd be +1 on trimming how many old versions we support for pickle compat)

[2019-06-05 13:56] jbrockmendel opened #26663 "PERF: asv for import time"
Not entirely sure how to do it with asv, but at the command line its just `python3 -X importtime -c "import pandas"`

- [ ] import time with `python3 -X importtime -c "import pandas"`
- [ ] import size with something like `import pandas, psutil; psutil.Process().memory_info()`

[2019-06-05 14:02] AlexTereshenkov opened #26664 "Using LGTM.com to find and fix issues in Python and C code"
There are a few issues in the code that were flagged up by LGTM.com website: https://lgtm.com/projects/g/pandas-dev/pandas/alerts/?mode=tree. Some of the other numerical computing repositories have been analyzed there as well such as [numpy](https://lgtm.com/projects/g/numpy/numpy/alerts/?mode=tree) and [scipy](https://lgtm.com/projects/g/scipy/scipy/alerts/?mode=tree).

You can see the issues in

[2019-06-05 14:52] jbrockmendel opened #26666 "PERF: use lazy imports on py37 to speed up import"
IIUC py37 supports patching of module-level `__getattr__`.  One of the big uses cases for that is lazy imports.  This might be nice to use for some lesser-used modules, e.g. in `io`.

Not sure how much trouble it will be to do this conditionally for py37+ only.

[2019-06-05 15:13] miker985 opened #26667 "pandas cannot actually read Stata file format 104"
#### Code Sample, a copy-pastable example if possible

Data usage agreements prevent me from attaching a Stata file of format version 104, so I cannot easily provide a copy/paste example. This is unfortunate as I have several of these files...

[code]

#### Problem description

The `stata.py` module will provide error messages that it can only read certain versions and explicitly enumerates versio

[2019-06-05 16:38] TomAugspurger commented on #26667
cc @bashtage does this make sense?

[2019-06-05 16:40] bashtage commented on #26667
By design. AFAIK there is no documentation for this ancient format.

[2019-06-05 16:55] bashtage commented on #26667
I should add that there are no dta test files from this Era. I think the
earliest is 108 so it is hard to claim compact from earlier. I suspect it
drifted over time since there was nothing checking that the changes were
correct against old files.

On Wed, Jun 5, 2019, 17:39 Tom Augspurger <notifications@github.com> wrote:

[2019-06-05 17:05] TomAugspurger commented on #26667
Sounds good. Would you recommend bumping our minimal supported stata version?

[2019-06-05 17:26] TomAugspurger commented on #26555
I don't think a filter in pandas will do the trick. IIUC, the default is to show the warning once per source line.

[code]

This prints it twice

[code]

Not much we can do about that. Which leaves us with finer-grained filters. I'll make a PR for the repr, but I don't think I'll go beyond that.

[2019-06-05 17:58] mroeschke commented on #26664
Duplicate of https://github.com/pandas-dev/pandas/issues/20589. We would probably be open to integrate LGTM in our CI.

[2019-06-05 17:58] #26664 closed

[2019-06-05 18:07] enisnazif commented on #24507
I'm taking a look at this as part of the pandas sprint in London

[2019-06-05 18:27] jbrockmendel commented on #21564
@TomAugspurger still open?  if it was really a blocker for 0.24.0, then I'd imagine it must have been fixed

[2019-06-05 18:31] mroeschke commented on #24252
This seems a little suspicious toward the bottom of the overflow range (on master):

[code]

[2019-06-05 18:37] alimcmaster1 commented on #26661
Currently taking a look :)

[2019-06-05 18:50] WillAyd commented on #26666
https://www.python.org/dev/peps/pep-0562/

[2019-06-05 18:50] WillAyd commented on #26666
Do you have a specific application in mind?

[2019-06-05 18:58] WillAyd commented on #26663
Yea I think this would be a good idea. Maybe create a subprocess in setup and load pandas in the subprocess call

[2019-06-05 19:00] WillAyd commented on #26660
Makes sense. If you'd like to take a look would certainly welcome a PR

[2019-06-05 19:06] #26583 closed

[2019-06-05 19:16] jbrockmendel opened #26673 "TST: tests.plotting.test_frame.test_subplots failing on locally OSX"
It's marked as slow, making it easy to fall through the cracks.

Will troubleshoot later, just parking this here for now.

[2019-06-05 19:23] jbrockmendel commented on #15516
@jorisvandenbossche we're now getting warnings about upper-case letters.  Do we want to support upper-case specifically?  If not, its an easy edit to get rid of the warnings in the CI logs.

[2019-06-05 19:34] enisnazif commented on #24507
Possibly related to this issue - but it seems that on https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.arrays.PandasArray.html

The same functions that aren't included in a toctree also don't have any docstrings

[2019-06-05 19:35] simonjayhawkins opened #26675 "BUG: .isin on datetimelike indexes do not validate input of level parameter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

on master:
[code]

on 0.23.4

[code]
#### Expected Output
to validate input and raise same message as other non-datetimelike indexes
[code]

the api for `isin` is defined in #7892
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

</details>

[2019-06-05 19:41] jbrockmendel opened #26676 "VIS: test plots losing information on y axis"
tests.plotting.test_frame.TestDataFramePlots.test_subplots_timeseries_y_axis issues a warning when plotting a datetime64[tz] column:

[code]

The relevant code is:
[code]

Checking the actual images generated by these last two:
![ax_datetime_all_tz](https://user-images.githubusercontent.com/8078968/58984909-cd92a380-879f-11e9-95f3-06ba6abbe3e9.png)
![ax_datetime_no_tz](https://user-images.githubus

[2019-06-05 19:55] bashtage commented on #26667
Should figure out the oldest dta file available for testing and probably use that as the minimum officially supported.  If someone could provide some 104 files (and a dump of their contents) then it could be possible to verify the 104 compliance.

[2019-06-05 19:59] bashtage commented on #26667
Just looked it up, dta file format 113 comes from 2003, so I can't imagine when a dta 104 file dates to.

[2019-06-05 20:03] miker985 commented on #26667
Per Stata, version 4 was released in 1995.
https://www.stata.com/support/faqs/resources/history-of-stata/

[2019-06-05 20:15] scls19fr opened #26680 "derivative method for Series and DataFrame"
Hello,

when dealing with sensors data (energy meter, volumetric meter, ...) and having such data in a `DataFrame` (or in a `Series`) it can be convenient to easily calculate derivative of values (generally over local time) ie calculate power from energy consumption for example or flow rate from volume over time.

This question have been asked on StackOverflow (at least 2 times)
https://stackoverf

[2019-06-05 20:20] rjsee commented on #26656
Could be inconsistent gcc settings, see
https://issues.apache.org/jira/browse/ARROW-4809
and similarly
https://github.com/ray-project/ray/issues/2483
OTOH might be something else in the environment file upstream that's then leading to this conflict

[2019-06-05 20:24] TomAugspurger commented on #26680
My initial reaction is that this is too domain-specific to warrant
inclusion in pandas.

On Wed, Jun 5, 2019 at 3:16 PM scls19fr <notifications@github.com> wrote:

[2019-06-05 20:27] scls19fr opened #26681 "integrate method for Series and DataFrame"
Hello,

Similar to #26680 when dealing with sensors data such as power meter or flow meter and having such data in a `DataFrame` (or in a `Series`) it can be convenient to easily calculate integral of values ie calculate energy consumption from power usage, volume consumption from flow rate for example.

Maybe `Series` and `DataFrame` could have an `integrate` method.

Similar question have been a

[2019-06-05 20:29] scls19fr commented on #26680
derivate and integrate are not really domain-specific calculations. I not a big fan of the monkey patch approach.

[2019-06-05 20:54] jorisvandenbossche commented on #24507
Another option is to add a PandasArray page but without any methods/attributes listed (or only a chosen subset), as we do for other array types (see eg https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.arrays.IntervalArray.html or https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.Categorical.html)

[2019-06-05 21:30] jreback commented on #26680
these are out of scope for pandas; can you not simply use the scipy methods directly?

alternatively if someone wanted to make a package which added these as accessors could be easily done I think, e.g.

[code]

via the accessors API: http://pandas.pydata.org/pandas-docs/stable/development/extending.html#registering-custom-accessors

[2019-06-05 21:30] #26680 closed

[2019-06-05 21:31] jreback commented on #26681
same rationale as here: https://github.com/pandas-dev/pandas/issues/26680#issuecomment-499263027

these are not core to pandas, but could be easily added via another package and hook into the accessor api.

[2019-06-05 21:31] #26681 closed

[2019-06-05 21:35] bashtage commented on #26667
I found a format 108 file online and it can read the numeric values but doesn't handle all of the data correctly. Might see if I can figure out a patch.

[2019-06-05 22:03] jbrockmendel commented on #26666
Delaying imports of e.g. matplotlib or pandas.io until they are needed.  I'd add pytz (10% of total import time) if it werent needed in the cython code.

[2019-06-05 22:06] jbrockmendel commented on #26663
https://github.com/airspeed-velocity/asv/pull/487

[2019-06-05 22:31] jkovacevic commented on #26660
Would by my pleasure. I will follow up on this over this weekend.

[2019-06-05 23:28] lengau opened #26682 "read_sql_query converts empty columns to object with no way to override"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When a float column queried from a SQL database contains NULL, the type of that column in the resulting DataFrame is `object`, filled with `None` values ('empty' column in the example). NULL values in a column containing at least one non-NULL row ('partial' column in the example) are converted to `float64` dtyp

[2019-06-05 23:48] jayshah-ee commented on #26171
Got this same error after updating pandas package

df.head()
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\formatters.py in __call__(self, obj)
    343             method = get_real_method(obj, self.print_method)
    344             if me

[2019-06-06 01:13] goriccardo opened #26683 "Warning while reindexing tz aware index with method='nearest'"
Reindexing a tz aware dataframe using method='nearest' raise an internal warning.
[code]
raises a warning:
[code]
in pandas 0.24.2

[2019-06-06 09:09] joshlk commented on #19618
Hi, @jreback I'm working on a fix which defers to `pd.get_dummies` in #26686

[2019-06-06 10:01] AlexTereshenkov commented on #26664
@mroeschke Cool. To get help setting this up, review https://lgtm.com/help/lgtm/github-apps-integration and for step-by-step guide see https://lgtm.com/help/lgtm/github-apps-integration. Ping me any time if you need help with this!

[2019-06-06 10:35] sumanau7 commented on #26566
Isn't this a documentation issue, because only when input to `read_excel` is not an instance of `ExcelFile`, then only engine argument given to `read_excel` will be used, in all other cases, engine argument has no impact whatsoever. @WillAyd

[2019-06-06 11:26] alimcmaster1 commented on #26566
I think Will is suggesting it should throw some kind of error - otherwise it’s ambiguous ( without reading the docs ) what the engine is . But a doc update would be welcome too - I can do that as part of the PR

Sent from my iPhone

[2019-06-06 11:35] tobi-lipede-oodle opened #26687 "rolling_apply forces output type to be numerical"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When using `rolling(x),apply(func)`, an error is thrown if the return value of `func`  is non-numeric. Is this necessary? There are valid cases for a rolling apply function returning a string value.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``
<details>

[code]

</details>

[2019-06-06 11:46] tobi-lipede-oodle opened #26688 "series.rolling doesn't create windows when values are NaN or inf"
#### Code Sample, a copy-pastable example if possible

[code]

output:
[code]
#### Problem description
If `series.rolling(x).apply(fn)` does not create a window if any of the values in said window are inf/NaN, and instead returns NaN for the window in question. This seems like an optimisation to reduce the number of window comparisons, but this may not be the behaviour intended by the user.

####

[2019-06-06 12:02] TomAugspurger opened #26689 "Comparison between TimedeltaIndex/PeriodIndex and 0-dim ndarray raises"
[code]
[code]

Works for DatetimeIndex.

Raises a different error for PeriodIndex

[code]
[code]

@jbrockmendel would you be interested in looking at this?

[2019-06-06 12:03] TomAugspurger commented on #26683
I think we need seomthingn like

[code]

That runs into https://github.com/pandas-dev/pandas/issues/26689.

We'll also want an ASV benchmark for this.

[2019-06-06 12:08] TomAugspurger commented on #26682
Thanks for nice reproducible example.

When you do a sql query, pandas currently doesn't know the dtypes of the output query. So we need to infer them from the values. All None is inferred as object

[code]

There are other issues about adding a `dtype` keyword to `read_sql_query` to allow users to specify this. Alternatively, pandas does know the types when you just read the entire table, since t

[2019-06-06 12:08] #26682 closed

[2019-06-06 12:20] jbrockmendel commented on #26689
will take a look

[2019-06-06 12:35] CapitalZe opened #26690 "ImportError: cannot import name 'Timedelta'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm trying to run pylivetrader locally in a conda environment with all requisites met, so far as I can see.
Pandas continually fails.

I have tried multiple Pandas versions and explored both the help sections here as well as thoroughly searched online for possible solutions.

I believe there is a conflict of Pa

[2019-06-06 15:00] achatrian opened #26692 "If tuples used as index pd.read_json( orient='split') does not read file saved by df.to_json(orient='split)"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

After using tuples as index and saving DataFrame with orient='split', error is thrown during loading via pd.read_json( orient='split').

Full traceback:
--------------------------------------------------------
ValueError             Traceback (most recent call last)
~/anaconda3/lib/python3.7/site-packages/pandas

[2019-06-06 15:24] lengau commented on #26682
Can you expand on what other issues there are with adding a `dtype` keyword? (And what about adding `converters`?) From what I can tell `read_sql_query` uses `DataFrame.from_records`, which doesn't currently have a `dtype` keyword, but seems to have a reasonably straightforward way to implement one.

[2019-06-06 15:28] TomAugspurger commented on #14314
Closing in favor of https://github.com/pandas-dev/pandas/issues/10285

[2019-06-06 15:28] #14314 closed

[2019-06-06 15:29] TomAugspurger commented on #14319
Closing in favor of https://github.com/pandas-dev/pandas/issues/10285

[2019-06-06 15:29] #14319 closed

[2019-06-06 15:30] TomAugspurger commented on #26682
https://github.com/pandas-dev/pandas/issues/10285.

Not sure what the difficulty will be like, but let us know if you're
interested in trying!

On Thu, Jun 6, 2019 at 10:24 AM Alex Lowe <notifications@github.com> wrote:

[2019-06-06 15:46] #26659 closed

[2019-06-06 16:12] lengau commented on #26682
Thanks! I'll definitely give it a go. (Sorry to make a dupe - when I searched the issue tracker I never came across that one.) Worst case, I can write up what issues I actually had trying to implement it so possible future attempts are better informed.

[2019-06-06 18:58] jorisvandenbossche opened #26695 "CI - Azure: print skipped tests"
We have a `ci/print_skipped.py` script to print the skipped tests, that is currently used in Travis (see end of `.travis.yml` file). It would be to also do this in Azure as an extra step.

[2019-06-06 19:20] jorisvandenbossche commented on #26551
@rjurney The PR in arrow is merged (https://github.com/apache/arrow/pull/4409), so once the next release of pyarrow is out, you will be able to pass the `filters` argument directly in `pq.read_parquet`.

Since no further action is required for pandas, closing this.

[2019-06-06 19:20] #26551 closed

[2019-06-06 19:25] topper-123 opened #26696 "Test for tests\indexes\datetimes\test_tools.py fails"
I'm getting an error when running the tests suite. I've locatet the relevant PR to be #26585.

It is failing on my machine, but not on the CI, so I assume some configuration differences. I'm on a Windows machine, which could be the relevant difference. See my cinfuíguration at the bottom of this issue.

[code]

<details>

INSTALLED VERSIONS
------------------
commit: 649ad5c91aabb95d7f200eec84b82c

[2019-06-06 19:25] #26696 closed

[2019-06-06 19:29] topper-123 commented on #26696
This was a silly mistake on my part: forgot to recompile. Closed.

[2019-06-06 20:14] jbrockmendel commented on #26690
Can you import pandas independent of pylivetrader?  i.e. just `import pandas as pd`?

Did you install pandas via conda?

[2019-06-06 20:27] rjurney commented on #26551
Thanks!

[2019-06-07 01:50] WillAyd commented on #26692
Thanks for the report. Would certainly welcome investigation into the error though a Tuple is not something that can be guaranteed to roundtrip losslessly as the concept of that does not exist in JSON

[2019-06-07 01:52] #26688 closed

[2019-06-07 01:53] WillAyd commented on #26688
I think you are looking for the `min_periods` keyword to rolling

[2019-06-07 01:55] WillAyd commented on #26687
Can you provide one? Would certainly help guide the discussion if you have something concrete in mind

[2019-06-07 06:05] mattip commented on #26650
Some more analysis after looking into this for a bit. `DataFrame` implements its own `__matmul__` function, so `dfT @ df` works as expected and should be preferred over `np.matmul(dfT, df).

`DataFrame.__array_wrap__(self, result, ...)` (which is [`NDFRame.__array_wrap__`](https://github.com/pandas-dev/pandas/blob/v0.25.0.dev0/pandas/core/generic.py#L1898)) first calls  `self._construct_axes_dict(

[2019-06-07 06:12] dinya opened #26699 "Replace flat columns with hierarchical while merge"
Is there is any standard method to replace flat columns with hierarchical while merge the dataframes?

I mean something like:

[code]

**UPD 2019-06-13** A bit more robust function on input data.

[2019-06-07 06:23] CapitalZe commented on #26690
I just tried your suggestion using ipython within my conda env:

[code]

[2019-06-07 06:26] CapitalZe commented on #26690
Interestingly, if I run the pylivertrader script outside of Pandas then I am confronted with this Pandas error instead:

`    from pandas.tseries.holiday import AbstractHolidayCalendar
ModuleNotFoundError: No module named 'pandas.tseries'
`

[2019-06-07 06:45] jorisvandenbossche commented on #15516
Answered in the other thread, but to have it here as well: yes we want to support those upper-case ones specifically. They are a specific color naming scheme of matplotlib.
I don't think they are what cause the warnings (although maybe how it is implemented to parse them causes warnings)

[2019-06-07 06:53] jorisvandenbossche commented on #21564
The errors in the docs itself have been fixed in https://github.com/pandas-dev/pandas/commit/1986dbe0eba3497e8ccfc9e52e469d52a67c66df and https://github.com/pandas-dev/pandas/commit/a03d9535b16a6d5441334ef2e698d72778cf8115

My previous comment about that it would have been nicer to deprecate instead of break this, that ship has sailed ;).
It would still be nice to include the alternative in the wh

[2019-06-07 07:09] jorisvandenbossche commented on #26336
What shall we do here? @jschendel to what state is the PR updated? (is it ready to review?)

[2019-06-07 07:21] NatholBMX commented on #23870
Hi @abkosar
Have you mady any progress on this?

[2019-06-07 08:39] arian-f opened #26701 "DataFrame(dataTuple) crashes"
#### MWE

[code]
#### Problem description
the whole python process crashes when pandas.DataFrame() is called with a tuple for the data argument.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>
[code]
</details>

[2019-06-07 10:32] simonjayhawkins commented on #26701
@arian-f Thanks for the report. This was recently fixed, xref #25691 and #26440.

if you try on master you should get the expected result.

[code]

[2019-06-07 10:33] #26701 closed

[2019-06-07 11:31] WillAyd commented on #26699
Can you provide sample data frames and the expected result?

[2019-06-07 12:28] jbrockmendel commented on #26690
OK, let's stay optimistic and try some potential easy fixes.  Is it fixed if you do a conda reinstall?

If that doesn't work I'll ask you to try with a virtualenv instead of a conda environment.

It looks like you're on Ubuntu.  What version?  Does it happen to be an obscure architecture?

[2019-06-07 12:43] dinya commented on #26699
@WillAyd

See doctring of ``columns_as_multiindex``, ``Example`` section.

Compare  the output of ``df`` (just after merging) and ``columns_as_multiindex(df)`` (expected).

![screenshot](https://user-images.githubusercontent.com/2182222/59104627-78939080-894b-11e9-8a9e-3e74711e4817.png)

[2019-06-07 13:15] TomAugspurger commented on #18880
Can you clarify this? The mean of std & var for timedeltas is a bit hazy to me, but why would one make sense and not the other?

[2019-06-07 13:20] jorisvandenbossche opened #26705 "Deprecate Series.ftype / DataFrame.ftypes"
With the `ftype(s)` property, you could check if data was sparse:

[code]

But now that the dtype itself is a EA SparseDtype, I don't think those `ftype` and `ftypes` attributes serve any good purpose. So let's deprecate them.

[2019-06-07 13:22] jreback commented on #26705
this is on my let’s deprecate ticket

[2019-06-07 13:28] jorisvandenbossche opened #26706 "Recommended way to check for sparse data (DataFrame or Series)"
Previously, you check for the SparseDataFrame class, but now we want people to store sparse data in normal DataFrames/Series.

So for a library developer, what is the recommended way to check for sparse data?

For a Series (or SparseArray), the `pd.api.types.is_sparse` still works on a plain Series with sparse data:

[code]

but for a DataFrame that function does not work. So you could apply that

[2019-06-07 13:30] jorisvandenbossche commented on #26705
Yes, but wanted to highlight it specifically given all the sparse deprecations we are doing for 0.25.0, and small separate issues are easier taken up by contributors.

[2019-06-07 13:35] TomAugspurger commented on #26706
A helper pd.DataFrame.sparse.is_sparse -> Series[bool] seems reasonable.
The index would be the column names.

On Fri, Jun 7, 2019 at 8:28 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-06-07 13:43] thedatadoc commented on #26636
This hasn't dropped off my radar - just a bit swamped at work.  I'll get back to this before Monday (have some work travel next week).

[2019-06-07 13:43] jorisvandenbossche commented on #26706
Ah, yes, that might be a good idea.

[2019-06-07 13:47] jreback commented on #26705
totally fine pls link it though

[2019-06-07 13:49] jbrockmendel commented on #18880
The issue is the units.  `Var(td64ns)` would have to have unit `ns^2`, which we don't have a way to represent.

[2019-06-07 14:07] TomAugspurger commented on #18880
One more question, why do we not say that `Var(td64ns) <=>
Timedelta(Var(td64ns.asi8))`? IOW

[code]

I agreed that ns^2 isn't something we can represent, but what about
Timedelta(i8^2)? Like I said, this is hazy to me, so it may be meaningless.

On Fri, Jun 7, 2019 at 8:49 AM jbrockmendel <notifications@github.com>
wrote:

[2019-06-07 14:16] jbrockmendel commented on #18880
[code]

I think we're on the same page that `ser.std()` here makes sense.  If we _could_ do `ser.var()`, it would have to obey the identity `ser.var() == (ser.std())**2`.  But the right hand side we can't do.

Does this help?  Any way you do it, you need to get a ns^2 in there.

[2019-06-07 14:51] jbrockmendel commented on #21852
This is not actionable until https://github.com/numpy/numpy/issues/9675 is addressed there.  I'll keep an eye on that; closing.

[2019-06-07 14:51] #21852 closed

[2019-06-07 15:14] #26689 closed

[2019-06-07 15:55] alexantoinefortin commented on #26367
This problem is also present in 0.24.2 and 0.24.1

[2019-06-07 16:06] jbrockmendel commented on #24252
@mroeschke under #24252 [8] above is unchanged but [11] returns `DatetimeIndex(['1677-09-22'], dtype='datetime64[ns]', freq='-1B')`.  The latter looks right to me, while the empty DatetimeIndex still looks wrong.  Does that match what you expect?  If so, I'll add a test to 24252 for [11].

[2019-06-07 16:08] TomAugspurger commented on #26367
Can you post the command you're running and the output you see?  How'd you
install pandas? I believe this will depend on the version of Cython used to
compile things.

On Fri, Jun 7, 2019 at 10:55 AM Alex Fortin <notifications@github.com>
wrote:

[2019-06-07 16:34] datapythonista opened #26709 "Broken benchmarks"
The benchmarks are currently broken, and are making red the CI of all PRs that modify something in `asv_bench` (we run the CI check for benchmarks when something is modified in that directory).

This has probably been caused by #26225. But it's strange that the CI for that PR wasn't red, since it run the benchmark checks.

This is blocking #26414, #26703. The error can be seen here: https://dev.az

[2019-06-07 17:14] mroeschke commented on #24252
I think [7] and [11] should both raise an `OutOfBoundsDatetime` as well since they are both (essentially) equivalent to `pd.Timestamp.min - pd.Timedelta('1D')`

[2019-06-07 17:58] datapythonista opened #26710 "New accessor API"
Currently, to extend pandas `Series`, `DataFrame` and `Index` with user-defined methods, we use accessors in the next way:

[code]

While this works well, I think there are two problems with this approach:
- The API looks somehow intimidating, and it's not well known. I think because `pandas.api.extensions.register_series_accessor` is too long and lives in `pandas.api`, separate of functionality m

[2019-06-07 18:08] gfyoung commented on #26710
[code]

The second option (replicated above) seems like a logical option.  No overhead of OOP.

[2019-06-07 18:15] datapythonista commented on #26710
To be clear, what I'm proposing is:
1. Let users be able to register both, classes (as we do now) and also single functions
2. The name change `pandas.api.extensions.register_series_accessor` -> `pandas.Series.extend`
3. Make optional the parameter of the decorator (the one currently named `name`, and in my example named `namespace`) . And if it's not present register the methods directly in `Seri

[2019-06-07 18:17] gfyoung commented on #26710
That's fair, though I think we should encourage functional over OOP.

Right

[2019-06-07 18:25] datapythonista commented on #26710
Agree, as far as the class doesn't add value we should encourage using a function, but there will be cases where a class is useful, for example:

[code]

[2019-06-07 18:37] gfyoung commented on #26710
Hmmm...that's a good point.  Not sure right now how we could compose in the functional version, though that would be quite useful.

[2019-06-07 19:00] jreback commented on #26710
what is the reason for this? is there some notion that things are 'hard' to extend? is that actually a bad thing? these are generally *only* for other libraries and NOT for users.

better to actually have these projects use an official api. if they want to do something ad-hoc that is up to them.

[2019-06-07 19:03] TomAugspurger commented on #26709
Taking a look now.

[2019-06-07 19:06] jbrockmendel commented on #9199
Closing as stale.  @alexisglr ping if this needs re-opening.

[2019-06-07 19:06] #9199 closed

[2019-06-07 19:09] qwhelan commented on #26709
It appears this large `N` never worked. I have a fix that yields a large speedup (`~10x+`) but possibly changes the intent of this benchmark: https://github.com/pandas-dev/pandas/pull/26711

[2019-06-07 19:14] jbrockmendel commented on #26710
Two nits to pick:

1) Use a name other than "extend".  There is already `list.extend` and `Index.extend` (and unfortunately these behave slightly differently).  A user could be forgiven for expecting `Series.extend` to behave like the others.

2) IIRC our internally-implemented accessors have standardized on `self._parent` to avoid (further) overloading `self._data`.  We should encourage this idio

[2019-06-07 19:34] TomAugspurger opened #26713 "Performance for TimedeltaArray.__iter__ and PeriodArray.__iter__"
Right now `DatetimeArray.__iter__` does it's boxing in chunks. We could do something similar for TimedeltaArray and possibly PeriodArray.

[2019-06-07 19:46] datapythonista commented on #26710
Good points @jbrockmendel, I was a bit unsure about `extend`, but couldn't find anything much better, may be `register`?

@jreback I used those libraries as example, but they are not the point. I think it's about code readability, of third-party libraries, pandas itself, and users of pandas. Adding methods to `Series`,... is something that applies to the 3 cases.

For pandas, an example where this

[2019-06-07 20:25] TomAugspurger opened #26714 "CI: matplotlib failures"
https://travis-ci.org/pandas-dev/pandas/jobs/542921706#L2423

[code]

I'm looking into it now, but will have to go in 30 minutes.

[2019-06-07 20:30] TomAugspurger commented on #26714
Seems to be a change in matplotlib. The test passes for me locally, with 3.0.3, fails with 3.1.0. (cc @tacaswell, in case this wasn't deliberate. Sorry I don't have an MPL-only reproducer right now)

Just going to change the assert for 3.1.0+ for now.

[2019-06-07 20:34] #26709 closed

[2019-06-07 20:40] TomAugspurger opened #26716 "CI: Restore pyarrow for travis-3.6"
Present in the last two builds on master

- https://travis-ci.org/pandas-dev/pandas/jobs/542915088
- https://travis-ci.org/pandas-dev/pandas/jobs/542931830

[code]

Something is crashing our pytest-xdist worker. We used pytest-xdist 1.28.0 in the last green build https://travis-ci.org/pandas-dev/pandas/jobs/542868383, so it's likely not pytest-xdist itself.

Edit: Seems to be an issue with feather

[2019-06-07 20:45] TomAugspurger commented on #26716
Some changes in the env.

1. arrow-cpp / parquet-cpp from conda-forge. Removed thrift-cpp
2. blocs 1.15.0  -> 1.16.3
3. boost-cpp isntalled
4. lib boost 1.65.1 -> 1.67.0
5. libmkl build number bumped
6. libprotobuf, liftoff update
7. mock from conda-forge
8. pillow update
9. protobuff update
10. pytables updaet
11. pytest-cov update
12. zstd update

[2019-06-07 20:52] cuchoi commented on #22529
I made a PR that raises an error when trying to use duplicated columns. Does it make sense to you?

[2019-06-07 21:11] thedatadoc commented on #26636
@topper-123 I think you've convinced me that the attribute name alone is not sufficient for all instances.  However, the idea of a converter-style handler would be much more appropriate.  A method that overrides the default `_text_getter` and accepts the same `obj` that `_text_getter` accepts would be sufficient to access the element, its text, any attribute on the element, or any of its parent el

[2019-06-07 21:33] simonjayhawkins commented on #26714
@TomAugspurger i looked into this, xref #26582, the best i could come up with is that we are using an undocumented method in the test. maybe not part of the official api. our code suggests that we assume a patch object but are testing a text object.

[2019-06-07 21:42] shoyer commented on #26710
I don't love encouraging users to monkey-patch methods directly onto `pandas.Series`. I guess the argument is that people do it anyways, but that feels like an anti-pattern to me.

I like the class method, though. `pandas.Series.extension` could be a good name.

[2019-06-07 21:43] abkosar commented on #23870
Hi @NatholBMX

I recently started working on this again. I would still like to work on it and sorry for not updating it for a long time.

[2019-06-07 21:44] TomAugspurger commented on #26710
Agreed with Stephan. If people want to monkey patch directly, they're
welcome to just do that without our help :)

On Fri, Jun 7, 2019 at 4:42 PM Stephan Hoyer <notifications@github.com>
wrote:

[2019-06-07 21:44] renjiege opened #26719 "Pandas Bar Plot xlim failure"
#### Code Sample

[code]
#### Problem description

for bar plot, xlim option fails and always gives the same range; line plot works though.

[2019-06-07 21:47] shoyer commented on #26710
These examples look like more of a case of not knowing about pandas' accessor API. They already use a prefix for their special methods, so they might as well use a namespace:

- Pandas-Bokeh: all methods are grouped under `plot_bokeh` already
- pandarellel: it injects `parallel_apply`, `parallel_applymap` and `parallel_map` methods, which could all go under `parallel`

[2019-06-07 22:02] muraii opened #26720 "SettingWithCopyWarning Triggers Inconsistently Based On Number of Columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It appears that the `SettingWithcopyWarning` is triggered when a DataFrame with four or more columns is used to derive another DataFrame by slicing and then an attempt is made to add a new column to the derived DataFrame. There is no such warning when the original DataFrame has fewer columns.

#### Expected Out

[2019-06-07 22:05] jreback commented on #26720
this is way too complicated of an example. if you think there is an actual bug, then need a minimal reproducible example.

[2019-06-07 22:07] muraii commented on #26720
I'll simplify and resubmit.

[2019-06-07 22:19] BeforeFlight commented on #26610
I'm not sure how should I test it. While putting my test into pandas context get following for now:
[code]
But this code raises very specific exception - `SyntaxError`. So should I prefix function with `@pytest.mark.xfail(raises=SyntaxError)`? So be more explicit on what exception is expected.

The reason why I'm asking is [discourage](https://github.com/pandas-dev/pandas/wiki/Testing#additional-i

[2019-06-07 22:28] muraii commented on #26720
[code]

[2019-06-07 22:40] datapythonista commented on #26710
I like to see the question as the same as Python with the standard library. Python was design "batteries included" with lots of modules. But also with an standard and easy way for developers to implement an ecosystem of modules around it. That while not included with Python and not maintained by the Python core devs, work exactly the same as the ones in the standard library. Once a module is insta

[2019-06-07 22:48] jreback commented on #26710
@datapythonista your points are pretty general, not objectionable but orthogonal to the issues at hand

how does your proposal
advance the current state in a meaningful way?

I am also -1 on patching directly to the main namespace as this very very confusing

how does a shorter accessor api actually help here?
I am -1 of you are attempting to make this user accessible

it is library accessible a c

[2019-06-07 23:02] datapythonista commented on #26710
For me the key issue of this proposal is being able to register methods directly in `Series`,... I guess we agree that renaming `pandas.api.extensions.register_series_accessor` to something shorter, or implementing accessors as classes or function is no that relevant, just making the code more beautiful (sorry for mixing the 3 here).

I think being able to register methods directly does advance th

[2019-06-07 23:15] datapythonista opened #26723 "DOC/CI: Doc build is failing with sphinx 2.1"
The doc build is failing with:
[code]

I tried increasing the limit from 1,000 to 20,000 but still the same error, so I guess the problem is something else.

I think this is the first job that failed: https://travis-ci.org/pandas-dev/pandas/jobs/542714631 (PR #26697)

[2019-06-07 23:45] tacaswell commented on #26714
My first guess was https://matplotlib.org/api/api_changes.html?highlight=api#major-minor-tick-collisions where we now hide ticks that collide by default, but the issue is things are visible that should not be.

Does the image actually look different?

[2019-06-07 23:48] TomAugspurger commented on #26714
No it looks the same afaict.

[2019-06-08 00:41] WillAyd opened #26725 "CI 3.7 NumPy Dev Failures"
Quite a few CI failures lately so apologies if this was missed but I don't think we have an issue for this one. It looks like we are getting some failures with error message checking on NumPy dev. I think this is a result of this change upstream:

https://github.com/numpy/numpy/pull/13721/files

Here's a sample build failure:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=12453&vi

[2019-06-08 00:52] WillAyd commented on #26699
Any reason you don't just do `df.columns = pd.MultiIndex.from_tuples(df.columns.tolist())`?

I think this overlaps already with existing functionality some -1 on the request but @toobaz might have some input

[2019-06-08 02:05] #26725 closed

[2019-06-08 03:19] TomAugspurger commented on #26723
Sphinx was bumped to 2.1.0 in https://travis-ci.org/pandas-dev/pandas/jobs/542714631.

[2019-06-08 03:34] TomAugspurger commented on #26723
I can reproduce locally with 2.1.0. Pinning to 2.0.1, and will open an issue with sphinx.

[2019-06-08 03:37] TomAugspurger commented on #26723
Quite a few warnings on 2.1. I'll take a closer look next week.

[2019-06-08 04:22] #26714 closed

[2019-06-08 06:00] jorisvandenbossche commented on #26710
Something I have been thinking about, not the same but certainly related (quickly going to put it here before I am away for the weekend): that the data type can decide which methods are availabe on a Series.
This could also a way to decide on methods on a Series directly as external party, but specifically for when using ExtensionArrays (so certainly not as a replacement of Marc's idea, as not eve

[2019-06-08 06:00] RamrajSekar opened #26728 "Import pandas is stopping python service"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
I just imported the pandas library which is restarting the shell and throwing an alert pop up stating PYTHON HAS STOPPED WORKING and this is in win 10[64bit]

Version:
C:\>python --version
Python 3.7.0a2

NOTE: I tried with IDLE,IDE and Command prompt all is resulting the same, So kindly help me on this.

Kindly

[2019-06-08 07:55] pilkibun opened #26730 "Series.round behavior with ExtensionArrays"
@TomAugspurger, in your blog post [Moral Philosophy for pandas or: What is .values?](https://tomaugspurger.github.io/pandas-moral-philosophy.html) you wrote

I just ran into an issue because this doesn't happen in some places.

[pint](https://github.com/hgrecco/pint) is a popular package for working with units, useful for engineering/sci calculations. Recently they introduced an EA called [pint-pa

[2019-06-08 08:17] topper-123 commented on #26636
``_text_getter`` manipulates the DOM element, right? So are you thinking of a e.g.  a ``dom_converters`` attribute, that would just take a callable, and/or perhaps a dict of callables, where the callable would take a DOM element for the relevant parser and call that inside ``_text_getter``? So would work like this?

[code]

I like that. Very general functionality and very simple for pandas to main

[2019-06-08 10:32] WillAyd commented on #26728
Looks like you are using an alpha version of Python. Please try with a stable release and let us know if you still get it then

[2019-06-08 10:46] shadchin opened #26731 ".astype() and Decimal"
Begin from 0.24.0 next code raise exception
[code]
Traceback
[code]
#### Problem description

This begin from #21160

After was https://github.com/pandas-dev/pandas/blob/0409521665bd436a10aea7e06336066bf07ff057/pandas/core/dtypes/common.py#L2013
Now https://github.com/pandas-dev/pandas/blob/cb00deb94500205fcb27a33cc1d0df79a9727f8b/pandas/core/internals/blocks.py#L595

`pandas_dtype()` does not und

[2019-06-08 10:57] thedatadoc commented on #26636
Yep, exactly.

[2019-06-08 11:29] WillAyd commented on #26636
OK I think a good idea @thedatadoc if you'd like to try a PR. Just a couple comments:

 - I'm not sure about the name `dom_converters` - what does conversion signify? Can we just say `attribute` instead?
 - Maybe just start with assuming this only affects `td` elements so to as keep scope limited on first PR. Can always add support for Mappings in subsequent PRs

[2019-06-08 11:32] WillAyd commented on #26728
Closing as alpha Python versions are not supported, though as mentioned please reopen if a stable release doesn't fix this

[2019-06-08 11:32] #26728 closed

[2019-06-08 11:35] WillAyd commented on #26731
There is no first class support in pandas for Decimal objects. You would need to instantiate the Decimal objects within your container and use an an object dtype

[2019-06-08 11:36] WillAyd commented on #26731
There is however a DecimalArray extension type in our test suite. @TomAugspurger is there a plan to move this into the core at some point?

[2019-06-08 11:49] TomAugspurger commented on #26731
Nope. Arrow has a decimal type, that would be the recommended way to store them.

[2019-06-08 12:12] topper-123 commented on #26636
Great.

* I'm onboard with finding a better name.
* I'd think this should be more generally useful than just for ``td``.  This functionality would often be used to get groupings of rows/columns, so for example if a table header's values is ``| fruits | apples | bananas | meats | chicken | pig |``, we'd ideally want to pull out a attribute of the ``th`` to find out if that column is a first-level i

[2019-06-08 12:21] ThiviyanThanapalasingam commented on #26705
Hi @jreback @jorisvandenbossche,

I was looking for a good first issue to contribute to this project and came across this thread. Would you guys like any help with this issue?

[2019-06-08 12:38] WillAyd commented on #26636
I agree with your second statement but just think focusing on td to start would be simpler and easier rather than trying to tackle all use cases at once. Depends on implementation in any case

Sent from my iPhone

[2019-06-08 12:55] thedatadoc commented on #26636
I'll run with this after I get back from next week's work trip.  I've not contributed to pandas yet, so I'll need to do a little reading on the right way to set up a dev environment that isolates my development from the package installed on my machine.

Thanks for the excellent dialogue.  I do think it got us closer to a better solution.

[2019-06-08 12:58] simonjayhawkins commented on #26705
@ThiviyanThanapalasingam go for it!

[2019-06-08 13:47] alimcmaster1 commented on #26663
Here is something similar numpy did: https://github.com/numpy/numpy/pull/8159/files - do we just want to benchmark `import pandas` or test some sub packages too?

[2019-06-08 13:50] simonjayhawkins opened #26734 "test failures locally with matplotlib: 3.0.3"
since #26715

[code]

cc @TomAugspurger

<details>

INSTALLED VERSIONS
------------------
commit: 8fe9f69d213a58daa45fbaef2d248a546ef2b2b1
python: 3.7.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder: little
LC_ALL: None
LANG: en_GB.UTF-8
LOCALE: None.None

pandas: 0.25.0.dev0+686.g8fe9f69d2
pytest: 4.5.0
pi

[2019-06-08 14:55] e05wz commented on #20712
Same issue as explained in [this comment](https://github.com/pandas-dev/pandas/issues/20712#issuecomment-491364871). However I think the expected output from the first post in this thread is incorrect.

[2019-06-08 15:06] #26734 closed

[2019-06-08 16:46] jreback commented on #26706
no i wouldn’t adds special method at all

rather we already have select_dtypes which should.(and might) accept ‘sparse’ or more specific as well

[2019-06-08 17:03] dinya commented on #26699
@WillAyd

It's not the same as result of ``columns_as_multiindex`` and you still need to modify the index of ``df``:

![screenshot](https://user-images.githubusercontent.com/2182222/59150211-2e88d880-8a39-11e9-8898-2d8887ff69c2.png)

[2019-06-08 18:20] WillAyd commented on #26699
Thanks for the response. I still don't see this being generally more useful than what is already available so still -1 but let's see what others think

[2019-06-08 19:52] #26661 closed

[2019-06-08 20:49] WillAyd commented on #26663
Makes sense to me. I think we'd take a PR for something like that if you'd like to post one

[2019-06-08 21:04] #22044 closed

[2019-06-08 21:21] nicodv opened #26742 "ENH: allow prepending indices using set_index"
I'd like to be able to _prepend_ indices to existing ones using `.set_index()`, in the same vein as the `append` argument.

This avoid having to do the awkward alternatives:
- `.reset_index().set_index(...)`
- `.set_index(append=True).swaplevel(...)` or `.set_index(append=True).reorder_levels(...)`

My first suggestion is to add a `prepend` keyword, mutually exclusive with `append`, but discussion

[2019-06-08 21:26] nicodv commented on #26742
@WillAyd , in your suggestion of using `level` along with `append` (see discussion in PR), would `level` only be used when `append=True`? I think that may be confusing, as `.set_index(level=0)` could have users think it would replace the first level of the index, for example.

[2019-06-08 21:36] pilkibun opened #26743 "groupby.agg should refuse non-aggregation operations"
Since `groupby.agg()` is, ["by definition a reducer."](https://github.com/pandas-dev/pandas/issues/14741#issuecomment-262953242) (in other words, produces one value per series in a group), it seems odd that it accepts non-aggregating operations such as 'rank':

Related to https://github.com/pandas-dev/pandas/issues/22509#issuecomment-500103115 where `groupby.transform('rank')` applies the wrong co

[2019-06-08 22:15] jreback commented on #26453
does #26588 fully close this?

[2019-06-08 22:17] jreback commented on #21824
is this still an issue?

[2019-06-08 22:23] ThiviyanThanapalasingam commented on #26705
`Series.ftype`, `Series.ftypes` and `DataFrame.ftypes` have been deprecated. I have also updated the docstrings for the sphinx documentation and updated the unit tests to test for deprecation warnings when these features are used. Check out pull request #26744. Please let me know know if I have overlooked anything. Any feedback would be appreciated :-)

[2019-06-08 23:39] datapythonista opened #26745 "PLOT: Split plotting tests"
#26414 splitted the pandas plotting code into two different modules:
- `pandas.plotting`: Generic plotting framework that defined an API (with docs) and is able to plot with a selectable backend (will be selectable with a pandas option)
- `pandas.plotting._matplotlib`: Matplotlib backend

Our tests in `pandas/tests/plotting` are currently testing both together (calling the pandas plotting framewor

[2019-06-09 00:23] datapythonista opened #26747 "API: Define API for pandas plotting backends"
In #26414 we splitted the pandas plotting module into a general plotting framework able to call different backends and the current matplotlib backends. The idea is that other backends can be implemented in a simpler way, and be used with a common API by pandas users.

The API defined by the current matplotlib backend includes the objects listed next, but this API can probably be simplified. Here i

[2019-06-09 00:29] jbrockmendel commented on #24559
@TomAugspurger @jorisvandenbossche @mroeschke @jreback I'd like to settle on a desired long-term behavior and start the appropriate deprecation warnings before 0.25.0.  How far are we from consensus?

[2019-06-09 00:32] datapythonista opened #26748 "PLOT: Fix imports of plotting"
After #26745 we should be able to move imports in `pandas/plotting/_matplotlib/*` to the top of the file, as they shouldn't create cycles.

See https://github.com/pandas-dev/pandas/pull/26414#discussion_r291821639

[2019-06-09 00:53] jreback commented on #24559
@jbrockmendel can u do. short summary of this and just confirm that 0.24.2
and master have the same behavior

[2019-06-09 00:57] WillAyd commented on #26453
Yep

[2019-06-09 00:57] #26453 closed

[2019-06-09 11:48] 0x0L commented on #11123
Actually `s.resample('B', label='right', closed='right')` does exactly what we wanted all along :)

@jreback the default behaviour might be a source of a confusion for some users (me included). Should a note be added somewhere in the `Resampling` section ?

[2019-06-09 11:48] #11123 closed

[2019-06-09 11:53] jreback commented on #11123
you can certainly add an example / note to the doc string if u think it would be helpful

[2019-06-09 12:01] TomAugspurger commented on #26747
I think keep things like autocorrelation out of the swappable backend API.

I think we’ve left things like df.boxplot and hist around because they have slightly different behavior than the .plot API. I wouldn’t recommend making them part of the backend API.

[2019-06-09 12:05] TomAugspurger commented on #26747
Here’s my start on a proposed backend API from a few months ago: https://github.com/TomAugspurger/pandas/commit/b07aba28a37b0291fd96a1f571848a7be2b6de8d

[2019-06-09 12:10] TomAugspurger commented on #26663
Ideally, the setup would ensure that matplotlib and numexpr  (really, all our optional deps) aren’t in the Python env running the benchmark.

[2019-06-09 12:17] datapythonista commented on #26747
I think it's worth mentioning that at least `hvplot` (didn't check the rest) does already provide the functions like `andrews_curves`, `scatter_matrix`, `lag_plot`,...

May be if we don't want to force all backends to implement those, we can check if the selected backend implements them, and default to the matplotlib plots?

I assumed `boxplot` and `hist` behaved exactly the same, but just had sho

[2019-06-09 13:56] WillAyd commented on #26742
I can see where that gets confusing with `append`. I wonder if it wouldn't be cleanest altogether to deprecate `append` and replace entirely with `level`. So `level=0` would be default and replicate current functionality and level=-1 would replicate an append

[2019-06-09 15:32] jbrockmendel commented on #26663
No opinion on numexpr, but for matplotlib I'd rather it be installed.  I'm pretty sure some effort has been put in to making matplotlib imports lazy.  This would help ensure that we don't accidentally undo that (this was motivated by exactly this happening in statsmodels)

[2019-06-09 15:53] Santosh-Gupta commented on #26569
Turns out it's a Python issue

https://stackoverflow.com/questions/56418825/repeated-insertions-into-sqlite-database-via-sqlalchemy-causing-memory-leak/56511487?noredirect=1#comment99616175_56511487

[2019-06-09 15:53] #26569 closed

[2019-06-09 16:06] TomAugspurger commented on #26663
Matplotlib has to be imported by default right now because we register formatters. That’s deprecated, and then we can ensure it’s lazily imported.

We have a separate CI check ensuring that certain packages aren’t imported with pandas (search for import time)

[2019-06-09 16:40] TomAugspurger commented on #26663
https://github.com/pandas-dev/pandas/blob/c7748ca057cad4a80a6c4cbf8b49c5d9f3e7ea1c/ci/code_checks.sh#L192

[2019-06-09 16:43] jbrockmendel commented on #26663
Thanks for pointing that out.  Is there a particular reason that was used instead of the approach here https://github.com/statsmodels/statsmodels/pull/5831 ?

[2019-06-09 17:20] TomAugspurger commented on #26663
You mean a separate check, not run as part of the pytest test suite? Probably no reason; seems easier to me that it be separate since it isn’t really a traditional unit test.

[2019-06-09 18:21] simonjayhawkins commented on #26673
duplicate #26714

[2019-06-09 18:21] #26673 closed

[2019-06-09 18:21] simonjayhawkins commented on #26582
duplicate #26714

[2019-06-09 18:21] #26582 closed

[2019-06-09 21:51] #24472 closed

[2019-06-09 21:59] #26675 closed

[2019-06-09 22:48] ihsansecer commented on #22268
@WillAyd I guess it is normal to get same results for `sum` and `mean` while using `triang` with window size 2. From [this line](https://github.com/pandas-dev/pandas/blob/v0.24.2/pandas/_libs/window.pyx#L1721), it seems sum means `sum(weights * values)` for each window. Since weights are `[0.5, 0.5]` for `signal.windows.triang(2)`, they are equivalent and there is nothing wrong. I can fix the docu

[2019-06-09 23:55] jreback commented on #26720
this is a classic case of the reason this warning exists. we *sometimes* have a view on the underlying data and *sometimes* we don't, that's the crux of the issue. If you are slicing a frame, then modifying it (e.g. [7]), you need to copy first. pandas simply does not have copy-on-write and this is the warning is telling you that you *maybe* doing something unsafe.

[2019-06-09 23:55] #26720 closed

[2019-06-10 00:07] muraii commented on #26720
Thanks Jeff. I totally understand the value of the warning after digging into it. I was just curious why I don’t see it if the dataframe I slice had fewer than four columns. And maybe this is worth me digging into the foundations a little.
On Jun 9, 2019, 19:56 -0400, Jeff Reback <notifications@github.com>, wrote:

[2019-06-10 03:42] TomAugspurger commented on #26742
I don't think deprecating append is worthwhile.

On Sun, Jun 9, 2019 at 8:56 AM William Ayd <notifications@github.com> wrote:

[2019-06-10 03:45] TomAugspurger commented on #26747
IMO, the main value of this option is the `.plot` namespace.

If users want hvplot's Andrew's curve plot, they should import the function
from hvplot and pass the dataframe there.

On Sun, Jun 9, 2019 at 7:17 AM Marc Garcia <notifications@github.com> wrote:

[2019-06-10 04:05] TomAugspurger commented on #26706
select_dtypes is a bit different from a boolean mask indicating whether a
column is sparse or not.

On Sat, Jun 8, 2019 at 11:46 AM Jeff Reback <notifications@github.com>
wrote:

[2019-06-10 04:14] TomAugspurger opened #26760 "Fix implicitly registered converter warning"
This shouldn't warn, since it's a Series.plot.

The warning should only show up for `Axes.plot(datetimelike, ndarray)`.

[code]

[2019-06-10 05:03] gonghwa opened #26761 "to_sql Out of bounds nanosecond timestamp"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I upgraded my pandas to 0.24.2 recently and encountered below error, which will not pop before.
When I am using python to transfer some data to sql server. Some date is set to 9999-12-31 and it will cause error: OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 9999-12-31 00:00:00

#### Expected Output
We

[2019-06-10 07:02] drewhouston opened #26762 "duplicated() (and drop_duplicates()) incorrectly identifying unique/different rows as duplicates"
#### Code Sample, a copy-pastable example if possible

[code]

[duplicated_int64-bug.csv.zip](https://github.com/pandas-dev/pandas/files/3270864/duplicated_int64-bug.csv.zip)

My output:
[code]
#### Problem description

Using 0.24.2 I was comparing two ~6,000-row DataFrames before and after some modifications and looking for modified rows by using concat and then drop_duplicates (keep=False, altho

[2019-06-10 07:26] qwhelan commented on #26762
It appears the values are indeed duplicates, and everything is working as expected:
[code]
As `duplicated()` doesn't consider the index, these are correctly reported as dupes.

[2019-06-10 08:58] javi-clear-image-ai commented on #20883
Still not working in version '0.24.2'. I am having same error than @TomAugspurger, using python 3.7.3,
while it was working perfectly in python 2.7.15.

Any shortcut to sort this out?

[2019-06-10 09:05] CapitalZe commented on #26690
Thank you very much for the input.

I am using Ubuntu 16.04 on VMWare running on a Mac.

I tried your suggestions and the virtuanenv worked.

I simply created a venv as you suggested:

`virtualenv --no-site-packages venv
. venv/bin/activate
pip install ipython`

I then installed pandas and pylivetrader via pip and it worked right away.

What could be causing the failure via Conda?

[2019-06-10 09:21] datapythonista commented on #26747
I think that makes sense, but if we do that, I think we should move them to `pandas.plotting.matplotlib.andrews_curves`, instead of `pandas.plotting.andrews_curves`.

@TomAugspurger I need to check in more detail, but I think the API you implemented in https://github.com/TomAugspurger/pandas/commit/b07aba28a37b0291fd96a1f571848a7be2b6de8d is the one that makes more sense. I'll work on it once I fi

[2019-06-10 12:15] TomAugspurger commented on #20883
I don't think anyone has investigated deeply. Could you @javi-clear-image-ai?