[2020-07-15 12:24] #35238 closed

[2020-07-15 12:25] #34580 closed

[2020-07-15 12:27] #33920 closed

[2020-07-15 12:28] #33966 closed

[2020-07-15 12:29] #32667 closed

[2020-07-15 13:01] YarShev opened #35285 "Incorrect behavior in `pandas.merge` function"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-15 13:11] jorisvandenbossche opened #35286 "REGR: reindex with sparse data"
See discussion at https://github.com/pandas-dev/pandas/pull/34158#issuecomment-636641583 and below. There was some discussion on the PR, but I think we didn't yet create an issue to track this regression.

The PR introduced a regression in `reindex` when having sparse data. Based on the linked discussion, there doesn't seem to direct / easy solution (but I didn't look into it again). So we might w

[2020-07-15 13:13] TomAugspurger commented on #35286
Thanks for following up. I'll look at this a bit today, and revert if I don't find an easy solution.

[2020-07-15 13:21] AlexKirko commented on #35275
Interesting. For me my code breaks both on `1.0.5` and on the latest commit of `master`.

[2020-07-15 13:43] #35147 closed

[2020-07-15 13:59] quasiben commented on #34809
Interestingly the order is still maintained:

[code]

cc @kkraus14 should he have more follow up here

[2020-07-15 14:06] TomAugspurger commented on #35286
I think I'm just going to revert #34158 for now. It looks to have a few issues. Some places in https://github.com/pandas-dev/pandas/blob/492e3e97a01ec5abc1c2f0b0034e62f119b02522/pandas/core/arrays/sparse/array.py#L874-L899 are likely using `self.fill_value` rather than `fill_value` (that's why we get 0s instead of NaNs). A simple change didn't look locally, and I'm not planning to look more today.

[2020-07-15 14:13] TomAugspurger commented on #27781
The fix here is being revereted in https://github.com/pandas-dev/pandas/pull/35287. Some discussion on a potential fix at https://github.com/pandas-dev/pandas/issues/35286#issuecomment-658788801.

cc @scottgigante if you want to take another shot :)

[2020-07-15 14:34] kkraus14 commented on #34809
cc @shwina as he wrote this code for cuDF

[2020-07-15 14:46] scottgigante commented on #35286
I might have time to take a stab at this in the next couple weeks (but if anyone else feels the urge to give it a go don't wait for me.)

[2020-07-15 15:15] shwina commented on #34809
Rather than maintaining any ordering, I think what we do in cuDF is sort the result by its index before returning in `apply`:

[code]

[2020-07-15 15:28] TomAugspurger opened #35288 "TestUltraJSONTests.test_dumps_ints_larger_than_maxsize fails for 32-bit"
test_dumps_ints_larger_than_maxsize is failing on the MacPython 32-bit tests: https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=39266&view=logs&j=bb1c2637-64c6-57bd-9ea6-93823b2df951&t=9c62e7ff-391e-517d-ede1-af63bc6a25da&l=1307

[code]

Adding a skip for now. Will get proper 32-bit testing set up sometime (or we just drop support officially)

[2020-07-15 15:45] gitPrinz opened #35290 "BUG: Inversion of True is -2"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The inversion of a boolean result from df1.equals(df2) is an integer which will be recognized

[2020-07-15 16:08] TomAugspurger commented on #35290
That's a Python thing:

[code]

[2020-07-15 16:08] #35290 closed

[2020-07-15 17:07] shwina opened #35291 "[QST] What should `ExtensionDtype.type` return?"
Greetings, Pandas devs! cuDF is building out additional dtypes such as `cudf.CategoricalDtype` and `cudf.ListDtype` based on `pd.ExtensionDtype`, and this is one question that came up.

The [documentation](https://pandas.pydata.org/docs/reference/api/pandas.api.extensions.ExtensionDtype.type.html#pandas.api.extensions.ExtensionDtype.type) states:

However, I note that `pd.CategoricalDtype` for ins

[2020-07-15 18:01] rwijtvliet opened #35293 "BUG: upsampling returns less rows than expected"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

I have a pandas Series with a (tz-localized) DateTimeIndex with one value per day, which I want to upsample to hourly values, s

[2020-07-15 18:44] JackOfSpade commented on #19821
One other workaround is to parse out all the unneeded columns in the json file during development so subsequent reads in production will be faster.

[2020-07-15 18:53] neilZon commented on #35251
Hi!
I'm new to open source, I'd like to try and solve this issue

[2020-07-15 18:54] dsaxton commented on #31326
@jorisvandenbossche Yeah I think the first looks more useful generally, although that output can also be obtained by setting sort=True. It feels like with sort=False there's no guarantee on the order so whatever is most convenient to construct is what you get (in which case there's really no correct answer).

[2020-07-15 18:57] egd001 commented on #30964
Hi,

Is this issue closed or can I help?

Regards

[2020-07-15 18:58] TomAugspurger commented on #35291
The `CategoricalDtype.type` issue is discussed a bit at https://github.com/pandas-dev/pandas/pull/22938#discussion_r222530776.

IIRC you're using pyarrow for ListDtype, so I would expect something like like pyarrow's ListValue

[code]

[2020-07-15 19:00] simonjayhawkins commented on #30964
Thanks @egd001 the Testing for versions and Skipping an entire file full of tests on a failed import of a module named a_module sections from https://github.com/pandas-dev/pandas/issues/30964#issuecomment-632024140 are outstanding

[2020-07-15 19:02] TomAugspurger commented on #35283
Can you share a bit more about your motivation? Are you writing code that's generic across Series, DataFrame, and ExtensionArrays?

EAs tend to be more similar to ndarrays, which don't have a `.equals` method.

[2020-07-15 19:07] #34626 closed

[2020-07-15 19:14] jorisvandenbossche commented on #31326
For this case, the first potential output is indeed the same as with sort=True, but you could easily construct another example where the initial indices are not sorted for which that would no longer be the case ..

[2020-07-15 19:30] TomAugspurger opened #35294 "Various 32-bit failures at MacPython/pandas-wheels"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=39280&view=logs&j=a846d25a-e32c-5640-1b53-e815fab94407&t=8fc25549-8157-5c9c-f998-0884bd2e8ccb&l=3099

[code]

Just going to skip these for now. Maybe (probably?) some overlap with #35148 @mroeschke. Not sure.

[2020-07-15 19:36] kuraga commented on #35283
For coherence. Feel free to close.

[2020-07-15 19:50] TomAugspurger commented on #24798
@matteosantama did https://github.com/pandas-dev/pandas/pull/34302 close this?

[2020-07-15 19:51] sm-Fifteen opened #35296 "DOC: Reccomended use of read_csv's date_parser parameter is very slow"
#### Location of the documentation

The [Date parsing functions](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#date-parsing-functions) section of the CSV file parsing section, specifically the reccomended use of `date_parser` in cases where the user knows what format the date will be in in advance and/or that format is non-standard ans not supported by Pandas.

#### Demonstration

[2020-07-15 19:55] TomAugspurger commented on #35194
Taking a look now.

[2020-07-15 20:00] TomAugspurger commented on #34809
I think the second half of https://github.com/pandas-dev/pandas/pull/34998#issuecomment-658318898 covers that. Starting with "While working on this, a second values-dependent behavior was discovered".

It's unclear what we'll do about that.

[2020-07-15 20:11] aleisun opened #35297 "BUG: AmbiguousTimeError when using date_range even when argument ambiguous is set"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-15 20:16] jorisvandenbossche commented on #34801
To summarize my thoughts here from what I recall from the dev chat about this (but probably more my opinion though).

- As proposed above, add a section "Bug Fixes with potential API implications" -> here we can put bug fixes that seem important enough to give a before / after example in their own subsection (thus part of the ones that now are in the API changes section), instead of just a bullet

[2020-07-15 20:26] TomAugspurger commented on #35251
Thanks! FWIW, this may be a somewhat tricky one to solve. If you're new to Python as well, then something labeled with [good first issue](https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) might be better to look at.

But if you're experienced, then by all means feel free to take this :)

[2020-07-15 20:54] Dr-Irv commented on #34801
@jorisvandenbossche That policy only says "API breaking change".  What I was talking about is that there are _different_ kinds of "API breaking changes".  Here are different kinds, based on what I could think of at the moment.  The list is probably longer:

1. Parameters to a method are different in name, order, or type
2. Return value of a method is different in type
3. Method/Class is removed or

[2020-07-15 21:01] erfannariman opened #35299 "ENH: add percentage threshold to DataFrame.dropna"
**Is your feature request related to a problem?**
When doing feature selection for models, or with handling missing data, in most cases you want to dynamically set a threshold to drop column which exceed this. A percentage is a more general metric to use to see how many data is missing data per row or per column. Right now we have the `thresh` argument, which accepts an int, but in most cases this

[2020-07-15 22:17] #34520 closed

[2020-07-15 22:19] #32240 closed

[2020-07-15 22:24] #22609 closed

[2020-07-15 23:09] wiso opened #35301 "BUG: xs not working with slice"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

[code]

also similar code produce the same problem (`df.xs(('A1', slice(None)))`). Strangely this

[2020-07-16 00:16] shwina commented on #35291
Thanks, this answers my question. It appears that CategoricalDtype is the exception and not the rule

[2020-07-16 00:16] #35291 closed

[2020-07-16 00:19] dmitra79 commented on #26985
I have a similar issue.  I am looping over a list of files of same size, and performing some operations. on each. This error happens ~every 9th file... Almost all  variables are inside the loop, so getting this error is very strange.

Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-45-generic x86_64)
pandas                    0.24.2           py37he6710b0_0

[2020-07-16 01:31] #24600 closed

[2020-07-16 01:51] #32967 closed

[2020-07-16 02:46] mroeschke commented on #35299
This generally would just be equivalent to `df.dropna(thresh=round(len(df) * percentage))` correct?

[2020-07-16 07:27] arw2019 commented on #35297
Confirming that this exists on pandas 1.1 master

<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : 54db0b2c7d117e589b66056218da0b434ab0da28
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-40-generic
Version          : #44-Ubuntu SMP Tue Jun 23 00:01:04 UTC 2020
machine

[2020-07-16 07:28] arw2019 commented on #35297
@aleisun Well spotted! Passing ambigious in lines 421 and 423 of  `pandas/pandas/core/arrays/datetimes.py` seems to fix things. I'll take this and do a PR

[2020-07-16 07:48] erfannariman commented on #35299
No not really, this method can be applied over row or column axis and thus takes each row / column separately into account.  @mroeschke

[2020-07-16 08:45] arw2019 commented on #35301
+1 that this should work.

I've checked that this is a problem on the 1.1 master
<details><summary><b>Output of pd.versions()</b></summary>
INSTALLED VERSIONS
------------------
commit           : b59831e97091d131528513444a6afcddc94a24cb
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-40-generic
Version          : #44-Ubuntu SMP Tue Jun 23 0

[2020-07-16 08:49] wiso commented on #35301
@arw2019  thanks for checking. I am just a user, will take ages to understand where to put my hands inside the code.

[2020-07-16 09:32] simonjayhawkins commented on #32651
fixed in #35254

[2020-07-16 09:32] #32651 closed

[2020-07-16 09:55] #35217 closed

[2020-07-16 11:17] #35286 closed

[2020-07-16 12:33] pooja565 opened #35305 "QST:shape mismatch: objects cannot be broadcast to a single shape"
Hi,

Im having a problem using bar chart in python is  "shape mismatch: objects cannot be broadcast to a single shape".
and the code is:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('2017Jaipur_month accidents.csv')

data1=pd.DataFrame(df,columns=['acc_2017','acc_2016','Months'])
data1

index=np.arange(2,13)
bar_width=0.25

acc_2017=plt.bar(index,data1['ac

[2020-07-16 13:17] moaraccounts commented on #33851
@Stockfoot @simonjayhawkins I pulled Stockfoot's branch, compiled the docs and ran code_checks.sh. I'm seeing the trailing whitespace errors. However, not sure how to address it. I'm not using an IDE, just Terminal. Hmm. Actually, I'll try pull up the docs in Sublime Text or something and see if that gives me more info.

[2020-07-16 13:46] TomAugspurger commented on #31612
This is being reverted in https://github.com/pandas-dev/pandas/pull/35306 and will be re-fixed in https://github.com/pandas-dev/pandas/pull/34998 in pandas 1.2

[2020-07-16 13:46] TomAugspurger commented on #14927
This is being reverted in #35306 and will be re-fixed in #34998 in pandas 1.2.

[2020-07-16 13:46] TomAugspurger commented on #13056
This is being reverted in #35306 and will be re-fixed in #34998 in pandas 1.2.

[2020-07-16 13:46] TomAugspurger commented on #27212
This is being reverted in #35306 and will be re-fixed in #34998 in pandas 1.2.

[2020-07-16 13:54] simonjayhawkins commented on #31612
since #14927 has been reopened. can this remain closed as duplicate?

[2020-07-16 14:11] TomAugspurger commented on #35305
We recommend stackoverflow for usage questions. This is just for bug reports.

[2020-07-16 14:11] #35305 closed

[2020-07-16 14:12] TomAugspurger commented on #31612
Sure if they're the same.

[2020-07-16 14:17] simonjayhawkins commented on #31612
closing as duplicate, see https://github.com/pandas-dev/pandas/issues/31612#issuecomment-633480651

[2020-07-16 14:17] #31612 closed

[2020-07-16 14:21] TomAugspurger commented on #35283
I think we'll pass on this until there's a more compelling reason to add it.

[2020-07-16 14:21] #35283 closed

[2020-07-16 14:39] matteosantama commented on #24798
@TomAugspurger #34302 adds a test to detect regression in Series.replace() (issue 1a).

[2020-07-16 15:19] TomAugspurger commented on #24798
OK, thanks. 1b was the only one fixed but unchecked, so maybe everything has been fixed. If not, then we'll open a new issue.

[2020-07-16 15:19] #24798 closed

[2020-07-16 15:20] JivanRoquet commented on #20089
I believe the whole point of this issue is about providing a first-class support of `datetime.date` in Pandas.

[2020-07-16 15:39] simonjayhawkins commented on #20089
we have #32473 for adding a date type

[2020-07-16 15:57] TomAugspurger opened #35309 "Crashed Worker tracking issue"
I've been seeing a lot of CI builds failing recently, but I have no idea what's causing them. Can maintainers add them to the table here when they occur?

| CI Job                    | Test | Count |
| ------------------------- | ---- | ----- |
| MacPython linux py_3.7_64 | `TestTableOrientReader::test_read_json_table_orient[vals0-index]` | 1 |
| Windows py37_np18 | `testst_unique.py::test_unique_

[2020-07-16 16:01] arw2019 commented on #35301
ok! In that case I'll take it

[2020-07-16 16:08] #26321 closed

[2020-07-16 16:10] TomAugspurger commented on #32960
I think #34872 is not happening for 1.1. So pushing to 1.2.

[2020-07-16 16:13] mroeschke commented on #35299
I'd be +0 if we could roll this into `thresh` instead of adding a new parameter.

Let's wait for opinions from other members of the core team

[2020-07-16 16:26] Stockfoot commented on #33851
I haven't submitted anything else because I am stuck with the trailing white space issue and am unsure of how to proceed

[2020-07-16 16:33] moaraccounts commented on #33851
@Stockfoot I hear that. I'm looking up ways to remove trailing whitespaces from .rst files. But I don't know how to push my changes back to your branch, ha. N00b to that. Any advice?

[2020-07-16 16:46] Stockfoot commented on #33851
@moaraccounts Fork my "Coding-Style-Guideline-Documentation" branch, make the changes, then do a pull request on that branch

[2020-07-16 17:55] jbrockmendel commented on #33457
I need to clarify the expected/desired behavior.  Using the example from the OP:

[code]

Doing either `df['EA'] = np.array([1., 2., 3.])` or df['EA'] = np.array([.1, .2, .3])` does _not_ alter ea_orig, while doing `df['EA'] = pd.array([1, 2, 3], dtype="Int64")` _does_.

The OP focuses on the EA column, but we get the same behavior if we set `df["float"] = fa_orig * 2`

[code]

@jorisvandenbossche

[2020-07-16 18:01] VirosaLi commented on #35309
I've encountered this one while working on #35214. It happened when the python version is 3.7.0. in my case. Bumping version to 3.7.1 fixed it. This specific test caused a Segmentation fault, therefore, crushed the worker. I reproduced it on my local machine using this environment.

[code]

[code]

[2020-07-16 18:24] simonjayhawkins commented on #35299
Thanks @erfannariman for the report. I would agree with @mroeschke without a more detailed proposal/discussion. Can you update the OP using the Feature Request template instead. (available when raising issue but also included in details below)

<details>

#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas t

[2020-07-16 18:31] simonjayhawkins commented on #35299
`thres` currently accepts an int. would allowing a float here make sense or would that lead to a more confusing api, with `1` having a different meaning to `1.0`

[2020-07-16 18:54] erfannariman commented on #35299
Yes, updated OP, this idea came up late at night and just started writing without a proper ticket request, sorry.

[2020-07-16 19:02] aadithpm commented on #34150
Is this still open and unassigned? Would like to take this if it is.

[2020-07-16 19:08] mgmarino commented on #34150
I think it's still not possible to move past flake 3.8.1 if flake-rst is still being used, see e.g. kataev/flake8-rst#22

[2020-07-16 19:11] aadithpm commented on #34150
Ah, alright, makes sense. Will this be left open until you can push `flake8` to `>3.8.1`? I'd like to take it when it's actually possible to move forward with it.

[2020-07-16 19:15] mgmarino commented on #34150
From my point of view, I think you could however definitely address E741 independent of the issues with flake-rst.  Then maybe we could close this and open a separate issue for that one?

[2020-07-16 19:23] aadithpm commented on #34150
Yep, did feel that addressing E741 was something that had to be done at some point if `flake8` is going to be updated.

What would the process be for this though? As far as I can see, all of the E741 errors seem to be naming variables `l`. If this is a valid naming convention that does not lead to a lack of understanding, is that something we want to change? I would also assume that since it deals

[2020-07-16 19:49] TomAugspurger commented on #35005
I don't fully understand your example, but Series are dict-like where the index is the keys and the values are the values.

So this looks correct to me

[code]

[2020-07-16 20:15] TomAugspurger commented on #35309
Interesting, thanks. The job at https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=39324&view=logs&j=266f9266-03bd-52fe-4891-1cfba8ecd83f&t=1190d2de-f7ad-53d5-9425-18b19f76e994 is using 3.7.0.

[2020-07-16 21:46] smithto1 commented on #29514
Just reporting that I've had this error twice today on Travis.

https://travis-ci.org/github/pandas-dev/pandas/jobs/708801493

[2020-07-16 22:01] rchurt opened #35313 "ENH: pandas.DataFrame.pivot option to output hierarchically indexed rows"
#### Is your feature request related to a problem?
When I use `pivot` or `pivot_table` and pass a list of `values`, I get a multiindex on the columns, as the docs say. However, in my case I want the output to be hierarchically indexed by rows.

#### Describe the solution you'd like

It would be nice to have a `indexing_axis` kwarg in `pivot` and `pivot_table` so I could pass `indexing_axis='rows'`

[2020-07-16 22:45] #23305 closed

[2020-07-16 22:48] #27892 closed

[2020-07-16 22:49] #35194 closed

[2020-07-16 22:54] jreback commented on #35249
i guess we didn't merge #35256

[2020-07-17 01:07] zky001 commented on #35301
hi，could I fix this bug，I have fix this In my own computer！

[2020-07-17 01:07] zky001 commented on #35301
hi，could I fix this bug？I have fix this issue In my own computer！

[2020-07-17 02:20] arw2019 commented on #35301
Yeah go for it

[2020-07-17 03:01] duolin1986 commented on #21725
the same problem, it's really weired

[2020-07-17 04:38] kevomaco commented on #30999
I'm getting an error running the validate_unwanted_patterns.py script:
[code]

It's occurring when reading 'pandas/tests/test_strings.py'  All of the files are encoded as cp1252.

I wanted to run the script to double check which tests are still unfinished to avoid duplicating work.

[2020-07-17 07:02] AlexKirko commented on #35275
Investigated this a bit. The object we end up with is of class `pandas.core.resample.DatetimeIndexResamplerGroupby`, which is a non-transparent descendant of `GroupByMixin` and `DatetimeIndexResampler` , and uncovering what exactly is causing bugs when using aggregate functions is non-trivial.

I'll try to track down this bug next week.

[2020-07-17 07:02] AlexKirko commented on #35275
take

[2020-07-17 07:39] selasley opened #35320 "BUG:New epoch in matplotlib 3.3 causes plotting issues"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-17 10:02] gimseng commented on #35240
@jorisvandenbossche  Just to check if I understood what's the desired out. In the first example you gave in the latest, post something like this:

'''python
	A	B	D	C	A
0	0.388762	0.710653	0.474394	NaN	NaN
1	0.345786	-0.976774	0.533432	NaN	NaN
0	-0.108304	NaN	NaN	-0.688178	-0.194421
1	-0.587845	NaN	NaN	0.176223	0.159187
'''

and for the second example, something like this:
'''python

A | B | D | A

[2020-07-17 10:19] vfilimonov opened #35321 "BUG: clip does not accept"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Documentation of `clip` ([dataframe](https://pandas.pydata.org/pandas-docs/stable/reference/a

[2020-07-17 10:37] #32805 closed

[2020-07-17 11:34] jreback commented on #35321
and how exactly does numpy accept min as an arg?

[2020-07-17 11:44] TomAugspurger commented on #34730
FYI, I'll probably cut 1.1.0rc0 sometime this afternoon. We have a few outstanding issues and PRs but I think those can be solved in the RC period (perhaps with an rc1 if needed).

@pandas-dev/pandas-core We need to decide on a branching strategy during the RC period. Are we ready to start 1.2 development (and so get stuff to 1.x through backports)? Or are we going to wait to split 1.1.x until lat

[2020-07-17 11:49] TomAugspurger commented on #35249
Yeah. I started on some small changes that gets a chunk of performance back by optimizing

1. Using `np.isnan` in `array_equivalent` for float / complex.
2. Noting that `NDFrame.equals` requires that dtypes match, so we can skip a bunch of dtype checks.

But these just get us partway back. We're still orders of magnitude slower for the somewhat wide table case.

[code]

One thought though, this ne

[2020-07-17 11:53] jreback commented on #34730
i thought we always waited to branch after 1.1 is actually released but either way in reality is fine with me (just me a bit more for backports)

[2020-07-17 11:56] simonjayhawkins commented on #34730
my preference would be to branch immediately with rc0 and only backport the minimum, but no strong preference

[2020-07-17 13:38] harmbuisman commented on #32288
@TomAugspurger , I managed to find a reproduction, see the updated starting post. Can you reopen the issue?

[2020-07-17 14:02] TomAugspurger commented on #32288
Thanks! On master, I see the following output

[code]

So I believe the issue has been fixed. We're releasing 1.1.0 soon which will have the fix.

[2020-07-17 14:07] TomAugspurger commented on #33457
My expectation is that `DataFrame.__setitem__` should add / replace whole columns, not mutate existing values.

I think this should differ from `df.loc[:, "column"] = array`, which should mutate inplace.

I haven't thought through it too much, but I think I'm comfortable making the change. It'll be a behavior change but I don't see an easy way to deprecate it, and I think matches most people's men

[2020-07-17 14:13] salem3358 commented on #35246
#35324

[2020-07-17 14:35] fkjogu opened #35325 "BUG: Combination of groupby.resample.interpolate() fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Error:
[code]

On master the error is raised in line 86 of the same file.

#### Problem description

The combination of

[2020-07-17 14:45] chloe-wang opened #35326 "BUG: multiindex reindex doesn't work properly"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-17 14:48] smithto1 commented on #34751
Getting same error.

I think it is because the test adds an `offset` to a randomly generated date. If the randomly generated date is close `max_dt` adding the `offset` pushes it over the edge so it is not a valid value.

https://github.com/pandas-dev/pandas/blob/master/pandas/tests/tseries/offsets/test_offsets_properties.py#L93

https://github.com/pandas-dev/pandas/blob/master/pandas/tests/tseries

[2020-07-17 15:06] jbrockmendel commented on #35249
The "correct" fix is to operate blockwise.  I'm happy to implement that, and it can re-use a bunch of code from the blockwise arithmetic.  But I'm not inclined to spend a lot of time on blockwise stuff if we're going all-1D.

[2020-07-17 15:16] jbrockmendel commented on #33457
@TomAugspurger  I tend to agree.  @jorisvandenbossche @jreback how about you?

All it takes to do this is to remove the line `if blk.should_store(value)` in `BlockManager.iset`.  This breaks 13 tests for me (havent checked which are testing this specific behavior vs coincidence).

xref #33198, which this does not fix

If we're OK making this behavior change, I think we should be OK with #33780

[2020-07-17 15:29] TomAugspurger commented on #35249
Mostly agreed. I think for now I'll push up my small optimizations, and we can accept some slowdown for wide dataframes.

[2020-07-17 15:31] jreback commented on #33457
i agree with your analysis @jbrockmendel so ok to make this change (but let's explain a whats new section)

[2020-07-17 16:06] harmbuisman commented on #32288
Thanks, that is good news!

[2020-07-17 16:26] #9536 closed

[2020-07-17 16:30] TomAugspurger commented on #34801
The at on that page staring with "pandas will sometimes make behavior changing" attempts to describe that nuance. Expanding that to have concrete examples would probably be welcome.

We now have a "Notable bug fixes", so for my purposes this issue can be closed. I think additional improvements to the whatsnew would be welcome though.

[2020-07-17 16:30] #34801 closed

[2020-07-17 16:38] TomAugspurger commented on #35276
Thanks @leeyspaul. This one required some familiarity with the changes so I did it in https://github.com/pandas-dev/pandas/pull/35329.

We have plenty of other good first issues if you're interested: https://github.com/pandas-dev/pandas/labels/good%20first%20issue

[2020-07-17 17:32] #35276 closed

[2020-07-17 17:33] vfilimonov commented on #35321
Hello, @jreback

numpy's `clip` operates with `min` and `max` instead of `lower` and `upper`:
[code]

Perhaps pandas' `**kwargs` are not meant for this purpose - but it is not clear from the docs, what exactly does it meant for.

The way how I stumbled around it - is trying to have some function to behave identically for pandas' and numpy's input. I ended up having the following ugly workaround:
[

[2020-07-17 17:38] jreback commented on #35321
show me numpy docs
i couldn't see this parameter

[2020-07-17 17:41] vfilimonov commented on #35321
It's here: [numpy.ndarray.clip](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.clip.html)

But eventually numpy itself is not consistent and [numpy.clip](https://numpy.org/doc/stable/reference/generated/numpy.clip.html) operates with `a_min` and `a_max` instead.

[2020-07-17 17:44] jreback commented on #35321
right that's what i saw a_max/a_min

so i think of you use that it would work

[2020-07-17 17:45] TomAugspurger commented on #34730
Planning to tag the rc after merging

- [ ] https://github.com/pandas-dev/pandas/pull/35324
- [ ] https://github.com/pandas-dev/pandas/pull/35328

any others we consider blockers?

[2020-07-17 18:37] igavronski commented on #34850
Same here:
[code]

Platform: Windows 10

[2020-07-17 18:42] igavronski commented on #35320
Duplicate of #34850

[2020-07-17 18:47] igavronski commented on #34850
The problem is here:
https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_matplotlib/converter.py#L256

[2020-07-17 18:48] igavronski commented on #35320
Please fix this line of code:
https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_matplotlib/converter.py#L256

[2020-07-17 18:49] #35249 closed

[2020-07-17 18:49] #35246 closed

[2020-07-17 18:58] TomAugspurger commented on #34730
Going to get started on RC0 now. Ping me if there's anything you want me to hold up for.

[2020-07-17 20:21] jbrockmendel commented on #33457
Doing this breaks (among other things which I'm still tracking down) tests.internals.test_internals.test_get_bool_data and test_get_numeric_data.  If we're OK with changing the expected behavior of those, then I think we should be OK with the behavior change to those two methods in #34918.

[2020-07-17 20:27] jbrockmendel commented on #35301
xs is intended for scalar lookups

[2020-07-17 21:07] TomAugspurger commented on #33315
Maybe having issues with this for the 1.1.0rc0: https://github.com/conda-forge/pandas-feedstock/pull/84#issuecomment-660335103. Trying to patch around it for now but we should revisit before the final.

[2020-07-17 21:28] rossbar opened #35331 "BUG: np.argwhere on pandas series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

numpy/numpy#15555 reports an issue with `np.argwhere` on pandas Series. Reporting here for visibility.

MRE:
[code]
which, with `numpy.__version__ ==1.20.0.dev0+046a736`

[2020-07-17 21:50] alik604 opened #35332 "DOC: [Errno 2] No such file or directory"
#### Location of the documentation

inline in the code

#### Documentation problem

the following is due to filename length, not _"No such file or directory"_

#### Suggested fix for documentation

It appears to me there should be a `if len(myString) > 177, throw FileNameTooLong`

here is a example
[code]

*Works as intended*
---
if you add a letter to the end of `file_description`, length will be

[2020-07-17 21:55] alik604 commented on #35332
the two code blocks,

[code]

177

post edge case

[code]

178
[code]

[2020-07-18 00:12] misantroop commented on #34850
Is there a workaround or how to approach this issue?

[2020-07-18 00:32] gabrielNT commented on #32859
So basically it looks like this is just following the `na_option behavior`. This is the way NA values are selected for int64:

https://github.com/pandas-dev/pandas/blob/bfac13628394ac7317bb94833319bd6bf87603af/pandas/_libs/algos.pyx#L842-L843

If `na_option` is not `keep`, this is working:

[code]

Not sure there's a good way to handle this without major restructuring. Maybe just be more explicit

[2020-07-18 08:46] AlexKirko commented on #35325
@fkjogu Thanks for the bug report!

xref #35275, #33548 - these two issues might or might not be connected with this one. Still looking into it.

[2020-07-18 09:28] AlexKirko commented on #35275
Interesting. The bug can be "fixed" by using a deep copy in `_apply` in `_GroupByMixin`.  We must be forgetting something when creating a shallow copy, which causes `_set_grouper` to crash. Will keep investigating.

[2020-07-18 12:11] simonjayhawkins commented on #35331
Thanks @rossbar for drawing our attention to this issue.

[2020-07-18 13:33] simonjayhawkins commented on #31080
On a quick investigation it does look like a pandas issue.

[code]

it basically does..

[code]

[2020-07-18 14:48] LazyTrader opened #35335 "BUG: Inconsistent resampling behaviour"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Attached below is my code for extracting processing financial tick data from the MetaTrader5 application:

[code]

#### Problem description

After resampling the collecte

[2020-07-18 15:09] ginward opened #35336 "DOC: Unable to install pre-release"
#### Location of the documentation

["https://github.com/pandas-dev/pandas/releases/tag/v1.1.0rc0"]

#### Documentation problem

It seems that I am not able to install the v1.1.0 version of the Pandas package using the following commands:

[code]

It says that:

PackagesNotFoundError: The following packages are not available from current channels:

  - pandas==1.1.0rc0

Current channels:

[code]

[2020-07-18 15:12] ginward commented on #35336
Only the following command seems to work for me:

`https://github.com/pandas-dev/pandas/releases/download/v1.1.0rc0/pandas-1.1.0rc0.tar.gz`

[2020-07-18 15:45] simonjayhawkins commented on #35336
Thanks @ginward for the report

The wheels for 1.1.0rc0 are not yet uploaded. The install instructions should be working shortly (when the release is officially announced; the github release always happens a bit earlier, since it is required for other release tasks)

[2020-07-18 15:47] vfilimonov commented on #35321
It looks like `a_min`/`a_max` are also rejected by pandas:
[code]

If fixing this and allowing pandas to accept numpy's argument in `clip` I would vote to keep the `min`/`max` arguments of `numpy.ndarray.clip()` rather than `a_min` and `a_max` of `numpy.clip()`. This way it will keep the polymorphic behavior as both of pandas.Series/DataFrame and numpy.ndarray could then accept the same arguments:

[2020-07-18 16:01] jreback commented on #35335
pls show only copy passable pandas in the example - or report to the other package

[2020-07-18 17:30] simonjayhawkins commented on #35321
it looks like that when the np.clip function dispatches to Series.clip, the arguments are passed as positional arguments and hence a_min/a_max do not get passed on to Series.clip
[code]

and hence the following works as expected.
[code]

w.r.t the min/max keywords of ndarray.clip, unlike np.clip, these arguments are optional, however at least one of max or min must be given.

I think that there co

[2020-07-18 17:34] simonjayhawkins commented on #35321
does passing the arguments as positional arguments work? ndarray.clip and Series.clip have the first two arguments in the same order.

[2020-07-18 18:12] leeyspaul commented on #32301
take

[2020-07-18 18:55] VirosaLi commented on #35134
### Breakdown of MyPy errors regarding isort 5 upgrade
- [ ] pandas/core/util/hashing.py:9: error: Module 'pandas._libs' has no attribute 'hashing'
- [ ] pandas/core/ops/array_ops.py:13: error: Module 'pandas._libs' has no attribute 'ops'
- [ ] pandas/core/strings.py:10: error: Module 'pandas._libs' has no attribute 'ops'
- [ ] pandas/core/indexes/base.py:19: error: Module 'pandas._libs' has no at

[2020-07-18 19:36] simonjayhawkins commented on #34730
we need to firm up the decision in order to label PRs correctly. at least before we merge anything to master.

[2020-07-18 21:01] leeyspaul commented on #32301
It seems as though we'd have to build in a step for each corresponding job in the workflow based on this StackOverflow [post](https://stackoverflow.com/questions/62304258/github-actions-notifications-on-workflow-failure).

@datapythonista would this be what you were thinking?

[2020-07-18 22:22] LazyTrader commented on #35335
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I have 2 dataframes containing financial tick data from 17/04/2020 16:00 - 18/07/2020 00:00. Calling print on them results in the outputs listed below:

#### Code Sample,

[2020-07-19 01:15] leeyspaul commented on #32301
After doing some research it seems like there could be a possibility in calling the GitHub API to pull a list of watchers on the repo and then notifying accordingly on a failure.

Docs: https://developer.github.com/v3/activity/watching/#list-watchers

Would this be something on the right lines that we're thinking for this? @datapythonista

[2020-07-19 03:54] arw2019 commented on #35301
@jbrockmendel ahh thanks! In fairness that *is* stated in the [DataFrame.xs doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.xs.html)

@wiso Do you think it's worth adding a clarification there? If yes I'll do a PR for that

Barring that we can probably close this

[2020-07-19 04:09] histed commented on #33186
Hitting the same thing here -- same ````TypeError: Unexpected keyword arguments {'freq'}````.
Pandas 1.0.5.
I don't have 'freq' in the columns; neither does the dataframe above.  I do have timestamps in the dataframe, looks like above does too.

The same freq error came up in an older pandas version:
https://stackoverflow.com/questions/29468916/cannot-load-from-hdf-data-store

Could it be an error

[2020-07-19 10:51] andrewgsavage opened #35340 "ENH: Select numeric ExtensionDtypes with DataFrame.select_dtypes"
#### Is your feature request related to a problem?

I would like to plot ExtensionArrays. DataFrame.select_dtypes(np.number) is called when plotting, which filters out ExtensionArrays.

#### Describe the solution you'd like

DataFrame.select_dtypes(np.number) should select columns where ExtensionDtype._is_numeric is True, suggested here https://github.com/pandas-dev/pandas/issues/26173#issuecommen

[2020-07-19 13:05] tnnmk opened #35342 "BUG: date_range returns wrong output in some cases"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Currently outputs:

[code]

#### Problem description

Seems that if `freq`='MS', the date of `start` is the first day o

[2020-07-19 13:18] simonjayhawkins commented on #35301
maybe a better error message; something like `TypeError: expected label or tuple of label, got ('A1', slice(None, None, None))`

[2020-07-19 14:09] pmberkeley opened #35343 "ENH: change sort behavior in stack() so it's user-directed"
https://github.com/pandas-dev/pandas/blob/bfac13628394ac7317bb94833319bd6bf87603af/pandas/core/reshape/reshape.py#L623

**Is your feature request related to a problem?**
I need a multiindex dataframe to stack in a specific order. I also need the columns to fail the `this.columns.is_lexsorted()` test (the duplicated column names are how I'm merging the data while stacking it, as a workaround to not

[2020-07-19 14:32] ginward commented on #35336
Ok thanks!

[2020-07-19 14:32] #35336 closed

[2020-07-19 14:53] jreback commented on #35343
pls show an example that reproduces

[2020-07-19 15:47] pmberkeley commented on #35343
[code]

[2020-07-19 16:08] jreback commented on #35343
pls show versions as instructed

[2020-07-19 16:11] pmberkeley commented on #35343
I opened this request from quoting the line in code. I didn't get any instructions, I just copied other people's format that I saw.

The version is quoted above, in the link to the source code. It's pretty clearly described how `df.sort_index()` works, and `sort_index()` is used in the source code linked to above.

[2020-07-19 16:22] jreback commented on #35343
there are pretty clear instructions when u open an issue

w/o showing versions
this is not very informative

[2020-07-19 16:24] simonjayhawkins commented on #35343
Thanks @pmberkeley for the report. One of the properties of a DataFrame is implicit ordering.

from https://arxiv.org/abs/2001.00888

so I would regard this as a bug rather than an enhancement.

I think the OP is more detailed than necessary, maybe just a small example of stack changing the order of the index elements.

[2020-07-19 16:28] pmberkeley commented on #35343
@simonjayhawkins thanks for the info! I was surprised by the behavior, but didn't know that implicit ordering was the expectation. Do I need to change the title to "BUG" (or whatever it is supposed to be)?

[2020-07-19 16:31] pmberkeley commented on #35343
@jreback I recommend you go to the source code and try out the github functionality that lets you open an issue directly from a line of code. It provides you with zero instructions.

[2020-07-19 16:52] pmberkeley commented on #35343
This seems to be related to #18265 and #9514, in that the fixes proposed for these appear to be causing the broken behavior.

[2020-07-19 18:15] simonjayhawkins commented on #34472
looking at the number of downloads at https://anaconda.org/conda-forge/pandas/files i'm not convinced we should be doing this.

[2020-07-19 18:20] simonjayhawkins commented on #35343
I think this issue is covered by #15105, so closing as duplicate. lmk if I misunderstood something.

[2020-07-19 18:20] #35343 closed

[2020-07-19 18:44] jreback commented on #34472
no we need to drop we are already supporting 3.9 and it's time

and most of that is likely city

[2020-07-19 18:56] simonjayhawkins commented on #9514
NOTE: the latest docs no longer state 'The level involved will automatically get sorted..' https://pandas.pydata.org/pandas-docs/version/1.1.0/reference/api/pandas.DataFrame.unstack.html

the ordering of the index levels should maybe be preserved (effectively unstacking each row in turn) in which case the expected output would be

[code]

see also #15105

[2020-07-19 19:02] simonjayhawkins commented on #34472
what about https://github.com/pandas-dev/pandas/issues/34472#issuecomment-656740441

I'm all for dropping 3.6 (and using some typing stuff from 3.7), just want to make sure.

[2020-07-19 19:29] jreback commented on #34472
the version policy is wrong
it should say minor

[2020-07-19 19:38] MarcoGorelli opened #35345 "DOC: expand "using a Docker container" section"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#using-a-docker-container
#### Documentation problem

Someone unfamiliar with Docker would be confused reading this.

#### Suggested fix for documentation

The expansion needed is quite small, just:

1. link to the Docker installation instructions
2. link to how to develop in a container usin

[2020-07-19 21:11] rwijtvliet opened #35346 "ENH: `.to_timedelta` method for `PeriodIndex` and `Period` objects"
#### Is your feature request related to a problem?

I oftentimes find myself needing the duration of a `Period` or `PeriodIndex`, which I calculate with
[code]
It seems useful and commonly used enough to be included as a standard method.

#### Describe the solution you'd like

Additional `.to_timedelta` method, just as there exists a `.to_timestamp` method on these objects.

#### API breaking impl

[2020-07-19 23:31] danieldjewell opened #35347 "BUG/FEATURE: to_sql data types not reflecting types accurately"
I'm not sure whether or not this falls into a feature/bug or perhaps an "unfulfilled/unrealistic assumption". Further, my experience here might be "the tip of the iceberg" on a bigger underlying issue with to_sql() (or it could be a red herring that is only a problem for me :grin:)

### Conditions
DataFrame with multiple dtypes - my example has 200+ columns with dtypes of: ```{dtype('O'), dtype('i

[2020-07-19 23:38] smsaladi commented on #12732
has this issue been sorted out since the it was opened a few years ago? If so, I can update the associated SO question/answer

[2020-07-20 01:29] neilZon commented on #35251
Stepping through the methods called from
[code]
I end up at a method call
[code]
Which leads to a class with method
[code]
It's probably my Python noobiness but I'm not really sure where to go from here

[2020-07-20 02:33] zky001 commented on #35301
I think it's a good idea!

[2020-07-20 02:40] zky001 commented on #35342
I will try to fix this problem

[2020-07-20 06:18] zky001 commented on #35342
I think this problem come with `generate_range` function in `pandas.core.arrays.datetimes.py` file

[2020-07-20 06:46] zky001 commented on #35342
and the error occured on code `end = offset.rollback(end)` this deal time and output  bad results。

[2020-07-20 07:07] AntoineLamer commented on #17834
Hi !

Here is my use case :
I'm working on record linkage. I have a reference dataset with fixed fields.
(1) The user load its own dataset.
(2) I perform record linkage operation.
(3) At the end, I need to export the results and select the relevant fields.

As I don't know which fields the user will load, and will be duplicate with my reference dataset, I'd like to add suffixes for the two datafra

[2020-07-20 07:22] wiso commented on #35301
Sorry, I am not sure to understand everything. Are you saying I can't pass a pd.IndexSlice to xs? Why not? It is working in one case and it is very useful.

By the way in general, I am searching for an alternative to `loc` that drop the columns automatically since `loc` is doing that only if the index is in the first level, while `xs` has a specific option about this behaviour.

[2020-07-20 07:37] konstantinmiller opened #35349 "Non-intuitive behavior when multi-indexing a Series"
Most likely that is not a bug but intended behavior but I find it quite confusing.

Consider the following example
[code]
which gives
[code]
while intuitively, one would expect
[code]
I would expect the latter because that's what you would get with a `pd.DataFrame` where the second `:` is referring to the column index. Not paying attention that the object is a series, gives you a completely differ

[2020-07-20 07:37] rwijtvliet commented on #35346
PS - I'd gladly make a pull request if this is considered useful. I just thought I'd ask here first.

[2020-07-20 08:25] AlexKirko commented on #35275
Okay, so what happens is that `df.index` gets used deep down the call stack to draw dates from the `DatetimeIndex` that the grouping and resampling operations create. This is done through `Index.take`, and because the index has only four elements in it, and we are trying to get the element with index 4, we get a `KeyError`. This is why resetting the index fixes this.

Here is a [link](https://gith

[2020-07-20 10:09] simonjayhawkins commented on #35301
the difference between `xs` and `loc` is that `xs` is a method on the DataFrame class whereas `loc` is an 'accessor' that uses \_\_getitem__ under the hood to allowing indexing using the square bracket operator.

`pd.Indexslice` is a convenience to more easily perform multi-index slicing to get around issues using the bracket annotation.

so at present, the working case is not documented, tested o

[2020-07-20 10:39] simonjayhawkins commented on #35349
Thanks @konstantinmiller for the report.

on master this now raises an Exception instead of producing the unexpected behaviour. What version of pandas are you using.

[code]

I would say that maybe this is still incorrect and I think that the error should reflect that too many indexers are involved.

[2020-07-20 10:44] wiso commented on #35301
I see, so if it is not supported I guess it should trigger an error if the user try to pass `pd.Indexslice` to `xs`.

As I said one big difference between `loc` and `xs` is how the index used by the function are dropped. It would be good to have the same control you have in `xs` (`drop_level: bool`)  in `loc`.

[2020-07-20 10:52] simonjayhawkins commented on #35301
Agreed. There has been some previous discussion on deprecating `xs`, but until this capability of `xs` is easily achieved with `loc` that's unlikely to happen.

so rather than enhancing `xs` to accept `pd.Indexslice`, it would probably be time better spent addressing the `loc` functionality.

I'll leave this labelled as `error reporting` for now, as improving the error message raised would be bene

[2020-07-20 11:18] 0x26res commented on #34850
If you really need a workaround you can monkey patch `pandas.plotting._converter._dt_to_float_ordinal` which calls the deprecated function `dates.epoch2num`

Maybe there's a cleaner way, but I can't think of one.

[code]

[2020-07-20 12:04] igavronski commented on #34850
I have patched the local file `converter.py` using @0x26res suggestion.
In fact, the error message went away, but it calculates the year as 3989...
I replaced line 256 for:
[code]

[2020-07-20 12:23] pmberkeley commented on #35343
@simonjayhawkins nope, that's exactly it. Thanks!

[2020-07-20 12:26] YarShev commented on #35285
Could anyone look at this issue and explain me it is correct behavior or there is a bug?

[2020-07-20 12:42] ZahlGraf opened #35350 "BUG: register_matplotlib_converters leads to wrong datetime interpretation with matplotlib 3.3"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The years in the plot are now 91 and 92.

![grafik](https://user-images.githubusercontent.com

[2020-07-20 12:58] TomAugspurger commented on #35350
@ZahlGraf do you see anything in the release notes that indicates what might have changed?

[2020-07-20 13:21] ZahlGraf commented on #35350
Unfortunately not really. There are some changes to ticks, but they are not really related to dates:
https://matplotlib.org/3.3.0/users/whats_new.html

I also remember a deprecation warning about `epoch2num`, coming from pandas code. But there is already an issue for that (https://github.com/pandas-dev/pandas/issues/34850) here and furthermore it is just a warning about upcoming changes.

[2020-07-20 13:28] TomAugspurger commented on #35350
cc @jklymak on the hunch that this is related to the variable epoch changes in https://github.com/matplotlib/matplotlib/pull/15008, but that's just a guess.

I'll hopefully have time to look more closely later in the week.

[2020-07-20 13:36] simonjayhawkins commented on #35285
@YarShev Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

A simpler code sample will likely get more engagement.

[2020-07-20 13:58] jklymak commented on #35350
Yes our epoch changed from `0000-12-31T00:00:00` to `1970-01-01T00:00:00`.  You can check for the old behaviour via
`plt.rcParams['date.epoch'] = '0000-12-31T00:00:00'` and see if that fixes things.

[2020-07-20 14:00] jklymak commented on #35350
I don't know why pandas relies on matplotlib's epoch - presumably you use `mdates.date2num` and its now incorrect.  However, if at all possible its helpful to use a more modern epoch to give more resolution in floating point times.

[2020-07-20 14:05] ZahlGraf commented on #35350
I can confirm, that using `plt.rcParams['date.epoch'] = '0000-12-31T00:00:00'` as a workaround fixes the issue.

[code]

[2020-07-20 14:15] jklymak commented on #35350
Glad there is a workaround, and sorry for the inconvenience.  I should have pinged pandas when the change went in.  https://matplotlib.org/3.3.0/users/whats_new.html#dates-use-a-modern-epoch

[2020-07-20 14:26] leo4183 opened #35351 "BUG: multiindex slice 1.1.0rc0"
mulitindex slicing returns different (from pandas<=1.0.x) results in pandas 1.1.0rc0

[code]

df

 index | date  | author | price
-- | -- | -- | --
0|1|a | 1
1|0|a | 0
1|1|b | 1
1|1|c | 2

Result

  | | author | price
 -- | -- | --
(0, 1) | a | 1
(1, 1) | b | 1
(1, 1) | c | 2

[2020-07-20 14:38] TomAugspurger commented on #35351
What's the output for 1.0.5?

[2020-07-20 14:44] leo4183 commented on #35351
for pandas<=1.0.x, the results would look like (as expected):

index | date | author | price
-- | -- | -- | --
0 | 1 | a | 1
1 | 1 | b | 1
1 | 1 | c | 2

[2020-07-20 14:47] simonjayhawkins commented on #35351
The output was good in 1.0.1, bisecting now.

[2020-07-20 15:15] cdu2620 opened #35352 "to_sql functionality not working on python"
Whenever I try to insert a pandas DF into my database, I get this error:
<img width="844" alt="Screen Shot 2020-07-20 at 11 13 28 AM" src="https://user-images.githubusercontent.com/48495622/87954278-255e9d80-ca7a-11ea-90aa-12316ef8b105.png">

It happens with any dataframe I try, even dataframes I had successfully inserted before. The specific test dataframe I was trying to insert is this:
<img wid

[2020-07-20 15:25] simonjayhawkins commented on #35351
#33691 appears to be the cause of the regression, labelled 1.1

73fd8a797dc45ab1ced1c1712e04852d8d4a7d09 is the first bad commit
commit 73fd8a797dc45ab1ced1c1712e04852d8d4a7d09
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue Apr 21 19:31:36 2020 -0700

    CLN: remove shallow_copy_with_infer (#33691)

cc @jbrockmendel

[2020-07-20 15:45] TomAugspurger commented on #35352
See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for writing bug reports.

[2020-07-20 15:46] simonjayhawkins commented on #35352
Thanks @cdu2620 for the report. can you update the OP using the bug report template (available when raising an issue but repeated in details below)

<details>
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: P

[2020-07-20 16:02] simonjayhawkins commented on #35351
slight refactor of OP to clearly show the issue.

[code]

[2020-07-20 16:09] TomAugspurger commented on #31966
Closing since we don't have a reproducible example, but would welcome improvements here.

[2020-07-20 16:09] #31966 closed

[2020-07-20 17:36] Vishnuhp01 opened #35354 "QST: How to provide regular expression in na_values ?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-07-20 17:40] Vishnuhp01 commented on #35354
KM | FuelType | HP | MetColor
-- | -- | -- | --
46986 | Diesel | 90 | 1
72937 | Diesel | 90 | 1
41711 | Diesel | 90 |  
48000 | Diesel | 90 | 0
38500 | Diesel | 90 | 0
61000 | Diesel | 90 | 0
?? | Diesel | ???? |  
75889 |   | 90 | 1
19700 | Petrol | 192 | 0
71138 | Diesel | ???? |  

For this type of data what if I want to replace '??' and '????' to a NAN?
It is easy if there is only '?' and '???

[2020-07-20 18:10] igavronski commented on #34850
I confirm that modifying the file `converter.py` (in my Windows 10 installation is located in `%USERPROFILE%\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\pandas\plotting\_matplotlib`),
replacing line 256, by:
[code]
and inserting the following code in lines 33-34:
[code]
circumvents the problem while developers don't prov

[2020-07-20 18:24] jklymak commented on #34850
An alternative is matplotlib patches epoch2num to use the new epoch machinery.  We didn't use this function internally and didn't test it so derecation seemed reasonable.  However if pandas uses it we can fix from our end for back compatibility.

Longer term it might be good to homogenize pandas and matplotlib's date handling.  It causes confusion for them to be different, and I suspect that pytho

[2020-07-20 18:57] CloseChoice commented on #35325
It seems like the same error is thrown regardless of the method.

[2020-07-20 19:08] simonjayhawkins commented on #35354
@Vishnuhp01 can you provide the code you have tried and the output your getting and please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your question.

[2020-07-20 19:31] ivangvi commented on #22712
Hi! I stumbled across this issue while doing several aggregations, sum, mean and so on. Median gives me warning and I believe I'd like to avoid it. With the following line you should be able to reproduce the warning:

[code]

Thank you.

[2020-07-20 19:36] GobindB commented on #35023
Hey there, wanted to see if this issue was still open and if there was any scope for me to get involved?

[2020-07-20 19:57] TomAugspurger commented on #34850
I'll try to look into this over the next day or two. Agreed that we should be relying on matplotlib's date handling as much as possible.

[2020-07-20 20:43] Haaroon commented on #34850
@igavronski  Temp workaround fixed the issue for the time being.

[2020-07-20 21:52] jklymak commented on #34850
I think I fixed this on the Matplotlib side with https://github.com/matplotlib/matplotlib/pull/17983.  I also removed the deprecation since its not fair to ask your users to filter the warning.   OTOH, I think that in general, we would prefer to not maintain `epoch2num`, and `num2epoch`.

[2020-07-20 22:35] CloseChoice commented on #35293
Interestingly, the values are distributed unevenly:

[code]

[2020-07-20 23:10] arw2019 commented on #35325
@AlexKirko looked into it just now. It seems like they're at least somewhat independent b/c #35360 fixes this one but the bugs reported in #35275, #33548 persist

[2020-07-20 23:28] bashtage commented on #35335
They may have different number of nan values if one stopped trading early on some days. IOW there are some 1 minute intervals in one asset that have no trades reported while the other does have a trade in that interval.

[2020-07-21 02:06] Vishnuhp01 commented on #35354
I've tried this

`data = pd.read_csv('./CarData.csv', na_values=['??','????'])`

and got this as an output

KM | FuelType | HP | MetColor
-- | -- | -- | --
46986 | Diesel | 90 | 1
72937 | Diesel | 90 | 1
41711 | Diesel | 90 | NaN
48000 | Diesel | 90 | 0
38500 | Diesel | 90 | 0
61000 | Diesel | 90 | 0
NaN | Diesel | NaN | NaN  
75889 | NaN  | 90 | 1
19700 | Petrol | 192 | 0
71138 | Diesel | NaN | N

[2020-07-21 03:13] wanghuqiang123 opened #35362 "Pandas is the most difficult data processing tool in Python, which is very inhumane and difficult to use"
Pandas is the most difficult data processing tool in Python, which is very inhumane and difficult to use

[2020-07-21 03:14] #35362 closed

[2020-07-21 07:35] tomvansteijn opened #35363 "API: quantile function over columns transposes dataframe"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---
#### Code snippet
[code]
#### Problem description

Using  `DataFrame.quantile` over axis=1 with multiple values for q transposes the dataframe. I would expect the quantiles to appear over the specified axis, so along the columns axis when axis = 1, and a

[2020-07-21 08:22] CloseChoice commented on #33548
This example makes it even more clear:

[code]
with
[code]

I investigated this a bit and found that we are creating the bins differently. I guess somewhere here lies the problem.

[2020-07-21 08:30] ianozsvald opened #35364 "DOC: `to_pickle` arguments for `compression` have a mistake (easy-fix)"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html

#### Documentation problem

`compression{‘infer’, ‘gzip’, ‘bz2’, ‘zip’, ‘xz’, None}, default ‘infer’` notes that `gzip` is a valid extension, this is wrong, the extension checked for is `gz`. The documentation for `to_csv` is correct with `... detect compression mode from

[2020-07-21 09:00] CloseChoice commented on #33548
Ok, I think I know what is going on. We confuse index-names with index-positions when using `agg`.
Having a closer look at the function `get_binner` reveals:

[code]
This gives exactly how the values are processed. The index-name `0` is mapped to `2018-12-31` with value `2` though it should be `2020-12-31`. Index-name `2` should be mapped to `2018-12-31` but is mapped to `2020-12-31`. So the way t

[2020-07-21 10:21] simonjayhawkins commented on #35354
AFAIK, `pd.read_csv` doesn't accept a regex,  from https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.read_csv.html

`DataFrame.replace`, https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.replace.html however allows a regex to be specified.

[2020-07-21 11:20] #35351 closed

[2020-07-21 11:27] ales-erjavec opened #35365 "BUG: read_csv fails with float_precision="round_trip" and decimal=",""
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

read_csv fails if using `float_precision="round_trip"` and `decimal=","`  (or any other decimal and thousands separator).

It raises an
[code]

#### Expected Output

[code]

##

[2020-07-21 11:57] simonjayhawkins commented on #35363
Thanks @tomvansteijn for the report.

This is not a bug. This is the expected behaviour so closing. lmk if I misunderstood something and i'll reopen.

from https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.quantile.html

Series or DataFrame
If q is an array, a DataFrame will be returned where the
index is q, the columns are the columns of self, and the values are the quantil

[2020-07-21 12:09] alexhlim commented on #35345
I was able to find links for the [docker installation](https://docs.docker.com/get-docker/) and developing in a container using [PyCharm](https://www.jetbrains.com/help/pycharm/using-docker-as-a-remote-interpreter.html?_ga=2.260919181.1086065302.1595331195-1975408772.1595110607). However, I notice this feature is only for PyCharm Professional, is it still worth including this link?

[2020-07-21 12:13] tomvansteijn commented on #35363
Thanks @simonjayhawkins for the clarification. You are right this is not a bug. In usage I think it would make more sense when the columns are q and the index is preserved when computing quantiles over the columns. Currently a transpose is needed to undo the implicit transpose in `DataFrame.quantile`.

Is it worthwile to label this an enhancement and reopen?

[2020-07-21 12:38] MarcoGorelli commented on #35345
Sure, go ahead! I've assigned you, but in the future if you comment "take" then the issue will be automatically assigned to you

[2020-07-21 12:53] valkum commented on #27343
I think I ended up with the same bug. You can find an additional example here: https://repl.it/@valkum/SoulfulFrequentBooleanlogic#main.py
I am not sure if this is related to #35275

[2020-07-21 12:56] valkum commented on #35275
Thanks for your efforts. I might have found another bug which might be related to this where agg with a dict as arg will compute something different, but i am not sure. There is a similar issue open so I posted my PoC there #27343.

[2020-07-21 13:07] simonjayhawkins commented on #35363
sure

[2020-07-21 14:29] tomjaguarpaw opened #35366 "ENH: Allow to group by an empty list"
#### Is your feature request related to a problem?

Yes, I cannot group by an empty list.

#### Describe the solution you'd like

I would like to be able to group by an empty list of columns.  At the moment I get an error.

[code]

I would prefer to see

[code]

which would generalise grouping by a non-empty list, which works fine.

[code]

[code]

It seems to me this would be reasonable behaviour

[2020-07-21 14:35] melikesahin commented on #11503
Hi, I had faced the same `xlrd.biffh.XLRDError: Unsupported format, or corrupt file: Expected BOF record;` error and solved it by writing an XML to XLSX converter.

[code]

[2020-07-21 15:02] gurukiran07 commented on #35366
If you don't want to groupby then you can use `pandas.DataFrame.agg`
[code]
But this doesn't support *named aggergation* AFAIK.

[2020-07-21 15:04] simonjayhawkins commented on #35366
seems reasonable. PRs and contributions welcome.

may want to redo the OP and use the feature request template (available when opening issue but repeated in details below)

<details>
#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]

#### Describe the solution you'd like

[this should provide

[2020-07-21 15:11] simonjayhawkins commented on #35366
1.1.0 gives
[code]

but 1.0.1 raises `TypeError: aggregate() missing 1 required positional argument: 'func'`

The output seems iffy. not looked in detail. This may be an issue with 1.1.0.

[2020-07-21 15:14] tomjaguarpaw commented on #35366
I see. I didn't realise that was to be taken as the literal structure. I have edited my OP.

Interesting. That output looks like a bug to me. I am on 1.0.3.

[2020-07-21 15:18] tomjaguarpaw commented on #35366
Firstly because allowing an empty list would be more uniform (perhaps it's a parameter passed in my someone else) and secondly, that's what I tried first, but it doesn't support what I want (what I think you refer to as "named aggregation"):

[code]

[2020-07-21 15:31] WillAyd commented on #35366
Generic support for named aggregations was added very recently in #29116 so I think you can achieve the result you want without the groupby on master, though to @simonjayhawkins point maybe there are sum bugs to be worked out

FWIW I am -1 on changes to groupby here as I agree with @gurukiran07 comment that agg should generically handle

[2020-07-21 15:46] gurukiran07 commented on #35366
Here's a related question on SO [How to do a groupby on an empty set of columns pandas](https://stackoverflow.com/q/11492215/12416453) where [Wes Mckinney posted](https://stackoverflow.com/a/11493108/12416453)

This may be one of the reasons why  `DataFrame.agg` and `Series.agg` are in API.

As @WillAyd and @simonjayhawkins pointed out named aggregations now allowed with `Series.agg`, `DataFrame.a

[2020-07-21 15:47] simonjayhawkins commented on #35366
#29116 didn't add documentation on the enhancement (one-line whatsnew add later in #35220). I'm not sure that it's a bug, the tests appear this was intentional. imo the output should maybe be a Series, the output above is confusing.

[2020-07-21 15:57] tomjaguarpaw commented on #35366
Sure, but why work around it when it's a perfectly coherent thing for the pandas API to support?

[2020-07-21 16:02] tebeka opened #35367 "DOC: Rethink recommending eval/query in "Enhancing performance" section of user guide"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#expression-evaluation-via-eval

#### Documentation problem

It seems that `eval` and `query` are not faster than boolean indexing in latest versions of Pandas. See [here](https://stackoverflow.com/questions/49936557/pandas-dataframe-loc-vs-query-performance) for example and [my own experi

[2020-07-21 16:30] vfilimonov commented on #24813
Hello

Do I understand correctly that slow `DataFrame.mul`, `DataFrame.add`, `DataFrame.div`, `DataFrame.sub` all belongs here (similar to #30267) or is it a separate issue?

[code]

[2020-07-21 18:21] simonjayhawkins commented on #24813
I'm not sure why this issue was mentioned in #30267.

timings for #30267 are now comparable using master

[code]

also getting comparable timings with df.mul using master
[code]

[2020-07-21 18:29] vfilimonov commented on #24813
Great, thank you @simonjayhawkins . I look forward for 1.1!
(and it looks like pandas is now faster than numpy?!)

p.s. just to make sure on 1.0.5 full dataframe multiplication is also 2-3 times slower:
[code]
Is it now comparable in master as well?

[2020-07-21 18:39] simonjayhawkins commented on #24813
yep, getting comparable numbers for those too.

[code]

[2020-07-21 18:41] vfilimonov commented on #24813
Wonderful! Thanks a lot!

[2020-07-21 19:34] WillAyd commented on #35299
Can you provide an example where this distinction matters?

[2020-07-21 19:37] WillAyd commented on #35365
This might trace back to here

https://github.com/pandas-dev/pandas/blob/3e88e170a436b5e3cfdfc29f8a7416220658c616/pandas/_libs/src/parser/tokenizer.c#L1788

I don't know if / how PyOS_string_to_double can accept a custom separator but if you can make it work and want to push a PR would be welcome

[2020-07-21 19:40] WillAyd commented on #34730
Is this still outstanding? FWIW I would suggest the simplest route, so wait to split until 1.1 is released. Hopefully we don't have a huge window between the RC and actual release so I don't think we gain a lot by splitting at RC

[2020-07-21 20:48] MaozGelbart opened #35369 "BUG: df reassignment following reorder_categories changed behavior in 1.1.0rc0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Output with 1.1.0rc0:
[code]
The assignment of the reordered series back into the dataframe se

[2020-07-21 21:28] trenton3983 opened #35370 "BUG: Categorical data is not correctly plotted with its associated value when using plt.plot."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

### Bug report

**Bug summary**

- If a column is set as categorical with [`pd.Categorical`][1], the categorical column is not correctly plotted with the associated value

[2020-07-21 21:45] story645 commented on #35370
I think the issue is the interaction between matplotlib & pandas - ematplotlib is unpacking the `ddf.label` issue incorrectly, but the solution might be a pandas flavored categorical units register like the datetime [converter](https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_matplotlib/converter.py)

[2020-07-21 23:55] impredicative opened #35371 "BUG: to_parquet doesn't reliably support file:// URI"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-22 00:45] riyadfebrian opened #35372 "BUG: Pandas Read_html can't get values from table td data-sort-values"
- [ ✔] I have checked that this issue has not already been reported.

- [✔ ] I have confirmed this bug exists on the latest version of pandas.

---

#### URL Example

[https://en.wikipedia.org/wiki/Comparison_of_text_editors](https://en.wikipedia.org/wiki/Comparison_of_text_editors)
[code]

#### Problem description

I'm trying to scrape first table from WIkipedia, the column 'Open Source' and 'CLI

[2020-07-22 07:23] MislavSag opened #35375 "ENH: Collation argument to to_sql"
#### Is your feature request related to a problem?

I would like to be able to set Collation when sending the data to sql table.

#### Describe the solution you'd like

Now when I use pandas function `to_sql` to send data to mysql I would use `df.to_sql(table_name, engine, if_exists='replace', index=False, chunksize=100)` where engine is pymsql engine. But this doesn't work if my data contains utf

[2020-07-22 08:59] simonjayhawkins commented on #27430
The expected behaviour is clearly documented.

from https://pandas.pydata.org/pandas-docs/version/1.1.0/reference/api/pandas.merge.html

Changing this is an breaking API change. Would first need a deprecation. FWIW i'm -1 on changing this.

[2020-07-22 09:10] simonjayhawkins commented on #27430
The current behaviour was a conscious design choice https://github.com/pandas-dev/pandas/pull/16275#discussion_r116273624

[2020-07-22 09:37] qlieumontadv opened #35376 "BUG: inconsistent replace"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

[code]

#### Problem description

Maybe I don't understand somethink or this is just non-sens

#### Expected Output

[code]
Or
[code]

#### Outp

[2020-07-22 10:31] simonjayhawkins commented on #34730
the downside is we shouldn't be merging anything to master (except regression fixes).

This affects authors of new PRs since we can't add a release note without 1.2 whatsnew

and affects momentum on refactoring were people (myself, I suspect @jbrockmendel and probably others) that are waiting for PRs to be merged before submitting further PRs.

This affects reviewing, since we can't yet ask PR aut

[2020-07-22 10:53] simonjayhawkins commented on #32296
@TomAugspurger FYI removing from 1.1 milestone, linked PR is closed.

[2020-07-22 10:58] simonjayhawkins commented on #35369
Thanks @MaozGelbart for the report.

it appears #32831 resulted in this change of behaviour.

d4273353bc512e3b4e79c361b879633f33ec7289 is the first bad commit
commit d4273353bc512e3b4e79c361b879633f33ec7289
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Sat Mar 21 14:00:30 2020 -0700

    BUG: ExtensionBlock.set not setting values inplace (#32831)

marking as regression for now, while furth

[2020-07-22 11:13] simonjayhawkins commented on #28547
@TomAugspurger @jreback FYI removing from 1.1 milestone. linked PR isn't milestoned.

[2020-07-22 11:23] satishm75 commented on #34850
In my case, I found converter.py at the following location:

C:\Users\USERNAME\AppData\Local\Programs\Python\Python37\Lib\site-packages\pandas\plotting\_matplotlib
Added import statement in the import section  and  plt.rcParams['date.epoch'] = '0000-12-31T00:00:00' in the constant section.

[2020-07-22 11:25] simonjayhawkins commented on #33457
FYI #35369 also tracks back to #32831

[2020-07-22 11:38] achapkowski opened #35378 "DOC: Data Editing Samples/Guide"
#### Location of the documentation

N/A

#### Documentation problem

There seems to be general community confusion over when the use `iloc`, `loc`, `at`, `iat` or the other methods that allow you to update rows and columns.  What is the best way to add a single new row? Multiple rows `pd.concat` something else?

It would be nice if a guide or doc was created to point to the best practices for data

[2020-07-22 11:56] TomAugspurger commented on #35371
Can you try with 1.1.0rc0? All of those works for me.

[2020-07-22 13:11] erfannariman commented on #35299
@WillAyd sure, I added a more extensive example in OP, see `example 2`.

[2020-07-22 13:21] erfannariman commented on #35376
Can confirm this occurs on master as well.

[2020-07-22 13:28] asishm commented on #35376
I'm guessing this has something to do with downcasting? floats can be downcasted to ints which is why the replace using floats works for both cases but for ints it only replaces ints

[2020-07-22 13:41] simonjayhawkins commented on #35299
I still don't see how this example means that the `thresh` parameter cannot be used. `thresh` also uses the `axis` parameter, it's just an absolute discrete number instead of a ratio to the axis length.

so why would accepting a float between 0.0 and 1.0 (0.4 in the example) not produce the same output?

the length of axis 1 is 4. 0.6\*4 =  2.4 (rounded to 3)
the length of axis 0 is 10. 0.6\*10 =

[2020-07-22 14:53] impredicative commented on #35371
I confirm that it works in 1.1.0rc0. I will remember to check any rc releases next time!

[2020-07-22 14:53] #35371 closed

[2020-07-22 15:11] simonjayhawkins commented on #35376
Thanks @asishm for the report. This definitely looks like a bug. from https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.replace.html

so the definition of equal needs clarification.

but if we consider pandas' notion of equals, just like python, 1 == 1.0

[code]

I would therefore expect, for consistency, the result to be

[code]

[2020-07-22 15:20] simonjayhawkins commented on #35376
0.25.3 was giving the expected output, so marking as regression for now pending further invesitigation on whether the change was intentional

[code]

[2020-07-22 15:51] pandamatic opened #35382 "BUG: Inconsistent ordering of rows when merging with how=left and how=right"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-22 15:56] paulthemagno opened #35383 "Drop similar rows of dataframe except for one column"
It seems a trivial question, but I don't find anything on the web. I have a dataframe with **inconsistent rows**. In the example below `primary_key` is the primary key so it has to be once in dataset, while `info` is an information of `primary_key`. While for **exactly repeated rows** I want to keep only one of them using a function like `df.drop_duplicates(keep = 'first')`, I don't know which kee

[2020-07-22 16:36] erfannariman commented on #35299
Basically in your message you are saying two things, so I will react on both of them:

This can still be used and in my opinion this should not be deprecated, but there are situations (and I find myself more in that situation) where defining a absolute discrete number is not preferable, since the shape of your data changes, so a absolute number does not say anything and you want a standarized metr

[2020-07-22 16:48] erfannariman commented on #35383
To only use the vectorized methods and prevent us from using `GroupBy.apply`, we can do the following:

[code]

So basically the method you were looking for was `nunique`

[2020-07-22 18:02] simonjayhawkins commented on #35299
The discussion is about the api for adding the requested functionality. I'm +1 on adding that functionality. I don't think there has been any suggestion of deprecation so far.

The crux of the discussion that we should exhaust other options before adding new keywords.

One option suggested is adding more utiltiy to the `thresh` parameter.

from the docs, http://pandas.pydata.org/pandas-docs/dev/re

[2020-07-22 18:03] soumitrakp opened #35384 "ENH: The parameter merge_cells parameter in function to_excel should take a 2-tuple one for index and one for columns"
Currently pandas `to_excel` function has one parameter named `merge_cells`: if `True` it merges all cells in the excel sheet corresponding to the index and columns. However, if there are many levels of the index and many values for the higher levels, then as we scroll on the sheet, values of the higher levels in index become invisible. One way to keep the repeated values is to set `merge_cells = F

[2020-07-22 19:30] simonjayhawkins commented on #35376
the behaviour changed with #27768, so not intentional.

01f90c187f0eec0e8178371d7c066e600c9e105b is the first bad commit
commit 01f90c187f0eec0e8178371d7c066e600c9e105b
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Aug 12 11:58:42 2019 -0700

    CLN: short-circuit case in Block.replace (#27768)

cc @jbrockmendel

[2020-07-22 19:34] ben-arnao commented on #35227
I think i've been able to narrow it down to the sum() function failing with larger dataframes. In the `pandas.core.frame` module there is a `count(self, axis=0, level=None, numeric_only=False)` function around line 7700

The execution enters the block of code where `result = notna(frame).sum(axis=axis)` is performed.

If we do a few print statements after this bit of code

[code]

We can see here

[2020-07-22 20:09] simonjayhawkins commented on #35384
Thanks @soumitrakp for the report.

another approach for allowing a boolean to apply to rows or columns only is to allow the use of 'index' or 'columns' as arguments.

from the current docs, https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.to_excel.html

so the api could be

we do this currently for e.g. crosstab, https://pandas.pydata.org/pandas-docs/dev/reference/api/pand

[2020-07-22 20:11] jreback commented on #29485
a related version (different error on master)
[code]

[2020-07-22 21:25] ben-arnao commented on #35227
The issue is this

`np.prod((2244367, 1253)` returns `-1482775445`

Obviously this is a numpy issue, as there is some sort of overload going on here. But we can pretty easily deal with the problem for now in pandas by just checking that the mask size is positive since the mask size should never be negative.

In line 1313 of nanops `check_below_min_count`

`non_nulls = np.prod(shape)`

We see that

[2020-07-22 23:12] spizwhiz opened #35387 "Display dataframe name or title when using display()"
Requesting ability to display name of dataframe above dataframe when using display(df)

I have tried df.name = "Name"

and display(df, display_id = "Name")

Neither results in any kind of identifier for the dataframe when using the display() function in Jupyter Notebook.

[2020-07-23 02:07] rwijtvliet opened #35388 "BUG: timezone-aware DatetimeIndex doesn't handle offsets very well"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Variably-spaced timestamps are not handled well, if the variation is caused by DST. The resul

[2020-07-23 03:31] jbrockmendel commented on #33457
cc @jreback @TomAugspurger @jorisvandenbossche is everyone OK with changing the get_bool_data and get_numeric_data as necessary?  If so, I'll continue with this branch.

[2020-07-23 06:53] AlexKirko commented on #35275
Thanks for the info. I'll look deeper into these bugs this weekend. The improper sampling of `Datetime` using the `DataFrame.index` as `nparray.index` probably has multiple effects (so it might be causing multiple bugs), but it's difficult to say until we think of a decent way to fix it and implement it.

[2020-07-23 08:16] galipremsagar opened #35389 "ENH: Request for `Index.to_string` & `MultiIndex.to_string`"
#### Is your feature request related to a problem?

I'd like to request `to_string` API support in `Index` & `MultiIndex`, functionality being similar to the existing `DataFrame.to_string` & `Series.to_string`.

#### Describe the solution you'd like

`to_string` provides flexibility to modify/control the string representation of pandas objects, we can do this currently with `DataFrame` & `Series`

[2020-07-23 10:30] YarShev commented on #35285
@simonjayhawkins , I've read documentation for `merge` more carefully. It is expected behavior. I'm sorry for raising an issue.

[2020-07-23 10:30] #35285 closed

[2020-07-23 10:42] jreback commented on #33457
what changes about those tests?

[2020-07-23 11:00] simonjayhawkins commented on #35389
Thanks @galipremsagar for the suggestion. Having consistency is always a plus.

Further investigation, PRs and contributions welcome.

[2020-07-23 11:44] mboldin-temple opened #35390 "QST: DatetimeIndex changes"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

In version 1.0.5, DatetimeIndex seems greatly changed from earlier versions
Was this intentional and documented in the version changes?

Many

[2020-07-23 12:19] mboldin-temple commented on #35390
I see now it is documented in What's New
Removed the previously deprecated keywords “start”, “end”, and “periods” from the DatetimeIndex, TimedeltaIndex, and PeriodIndex constructors; use date_range(), timedelta_range(), and period_range() instead (GH23919)

and date_range() works as I need it

Still some statsmodels routines  will fail when expecting to use start= as a keyword

[2020-07-23 12:38] jreback commented on #35390
these were deprecated in 0.24.0 and removed in 1.0.x. you should push statsmodels to update this.

[2020-07-23 12:38] #35390 closed

[2020-07-23 12:38] jreback commented on #35390
xref https://github.com/pandas-dev/pandas/pull/23919

[2020-07-23 12:52] klieret opened #35391 "BUG: Recursion error when querying empty df"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-23 13:07] klieret commented on #35391
Similar issue win ``NaN``s:

[code]

also raises a recursion error.

[2020-07-23 13:13] simonjayhawkins commented on #35391
Thanks @klieret for the report. I can confirm the same error on master and 0.25.3

[2020-07-23 13:16] simonjayhawkins commented on #35391
empty Series?

[2020-07-23 13:20] klieret commented on #35391
So for anyone having the same problem, a

[code]

will save you from this issue. The problem really seems to be the ``object`` dtype.

[2020-07-23 13:31] simonjayhawkins commented on #35391
yes, it seems that even if the df is not empty or `eval` is used and only perform the addition, still raises RecursionError

[code]

[2020-07-23 13:38] simonjayhawkins commented on #35391
This issue appears to be a duplicate of #27639 and #34044 so closing. LMK is I misunderstood something and I'll reopen.

[2020-07-23 13:38] #35391 closed

[2020-07-23 13:39] wasonkartik commented on #21353
Hi, I am facing this issue on google compute engine (Windows Server 2012 R2 Datacenter, 64 bit). How do I fix it? I have installed the latest version of Pandas.

[2020-07-23 13:53] mhabets opened #35392 "BUG: Index.get_indexer_non_unique misbehaves when index contains multiple nan"
#### Code Sample, a copy-pastable example

[code]

#### Current Output

`array([-1], dtype=int64)`
Meaning that `np.nan` is not in axis which is incorrect and makes `df.drop(columns=[np.nan])` to fail when columns contains multiple `nan`.

#### Expected Output

`array([0, 2], dtype=int64)`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : N

[2020-07-23 13:54] paulthemagno commented on #35383
Thank you very much @erfannariman. It works. I ask you a little modification of this. If i I had 2 possible values in `info` and I wanted to keep the one with the highest frequency, removing all the entries only in the case in which the 2 possible values appear with the same frequency, how could I update the code?

[2020-07-23 13:57] chrisconlan commented on #34850
As of July 21st, installing the latest `pandas` and `matplotlib` allows plots to work, but the dates are screwed up on the x-axis for datetime-indexed data frames. Installing Matplotlib 3.2.2 as opposed to 3.3.0 fixes the x-axis formatting for now.

[2020-07-23 14:08] TomAugspurger commented on #34850
Could people post reproducible examples of plots that look different between mpl 3.2.2 and 3.3.0 with pandas 1.0.5?

[2020-07-23 14:18] chrisconlan commented on #34850
[code]

![mpl_330_pd_105](https://user-images.githubusercontent.com/14984085/88297353-cdb87000-cccd-11ea-99f2-2a3429464953.png)
![mpl_322_pd_105](https://user-images.githubusercontent.com/14984085/88297354-cdb87000-cccd-11ea-8772-0d0a7d3148ce.png)

[2020-07-23 14:42] simonjayhawkins commented on #35392
Thanks @mhabets for the report. I can confirm that this issue persists on master and also on 0.25.3, so not a recent regression.

[2020-07-23 15:18] simonjayhawkins commented on #35382
Thanks @pandamatic for the report. #33554 maybe related.

[2020-07-23 15:42] TomAugspurger commented on #35320
Closing in favor of #34850

[2020-07-23 15:42] #35320 closed

[2020-07-23 16:11] WillAyd commented on #35309
What's strange about this test is that if you look at the backtrace of a core dump the segfault seems to occur somewhere in the standard lib before ever executing any of the code. My *guess* is that there is a bug in 3.7.0 specifically with module initialization but haven't found anything conclusive. Strange that it would only happen with one test though...

[2020-07-23 16:13] jjhale opened #35394 "BUG: UnboundLocalError on `df.to_string(max_rows=0)`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-23 16:30] MarcoGorelli commented on #35383
Just FYI - it's great that @erfannariman has kindly answered your question this time, but in general it's encouraged to ask usage questions on StackOverflow, which is where I'd like to encourage you to ask your second question

Closing for now then (to keep the issue tracker more focused on requests / bugs), but please do ping if you think there's a bug / missing feature here

[2020-07-23 16:30] #35383 closed

[2020-07-23 16:36] LazyTrader commented on #35335
True. Closing this issue.

[2020-07-23 16:36] #35335 closed

[2020-07-23 16:36] TanushGoel opened #35395 "Random Sample Not Working"
I think there's an issue with the sample function. It displays the randomized dataframe with a different heading, but when you actually get the value of the dataframe at a certain index, it displays the same value as before the random sample.

<img width="651" alt="Screen Shot 2020-07-23 at 9 30 38 AM" src="https://user-images.githubusercontent.com/47517229/88312776-68fa1700-ccc7-11ea-94fc-00087cc

[2020-07-23 20:27] jbrockmendel commented on #33457
Never mind, the changes needed for those turn out to be benign.  I've got 8 more tests failing that i need to troubleshoot, then will make a PR.

[2020-07-23 20:32] TomAugspurger commented on #35395
The `.text[0]` looks up the value with the label `0`, which is the original first row. You might want `.iloc[0]`

[2020-07-23 20:32] #35395 closed

[2020-07-23 20:32] TomAugspurger commented on #35394
Thanks for the report, reproduced in master. A PR to fix this would be great!

[2020-07-23 21:43] Liam3851 commented on #35367
It certainly can still be faster, it depends on the size of your DataFrame and the complexity of your query. For example while I recreate your linked metrics, if I add one more column to the one you tried, I get .query being faster:

[code]

As the doc says currently:
You should not use eval() for <b>simple expressions</b> or for expressions involving small DataFrames

Maybe the latter point shoul

[2020-07-23 22:06] #34850 closed

[2020-07-23 22:06] #35350 closed

[2020-07-24 00:51] datapythonista commented on #32301
@jreback, do you want to receive a notification when a build from a merge to `master` is broken? We can try to implement it with GitHub actions.

[2020-07-24 00:52] jreback commented on #32301
yeah it's worth it - it should be low volume

we used to have travis emails a long time ago for this

but only if easy

[2020-07-24 01:11] zky001 commented on #35394
I have resolved this problem

[2020-07-24 01:12] zky001 commented on #35394
I will submit A PR to fix this

[2020-07-24 06:49] marekre90 opened #35400 "BUG: Groupby Is Changing Date Format"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-24 07:04] marekre90 commented on #35400
![Output01](https://user-images.githubusercontent.com/58146004/88367702-b12f3d00-cd8c-11ea-8788-32a7e38da196.JPG)

![Output02](https://user-images.githubusercontent.com/58146004/88367700-affe1000-cd8c-11ea-8f99-21eb9ecca4d8.JPG)

[2020-07-24 07:05] marekre90 commented on #35400
![Pandas02](https://user-images.githubusercontent.com/58146004/88367748-cf953880-cd8c-11ea-860b-fa020e67febe.JPG)

[2020-07-24 07:39] tebeka commented on #35367
I stand corrected, thanks @Liam3851

Since I'm not the only one who missed that, maybe combine the second and first note in the documentation so it'll more "in your face" when you're reading the documentation?

[2020-07-24 09:52] #35400 closed

[2020-07-24 10:19] NHTRB-py commented on #35016
I think pandas is actually changing the date when it causes this bug. I was getting the same strange output and tried the "%y" format for a date in 2020, the DateFormatter threw an error to do with "%y" only working for dates after 1900.

[2020-07-24 11:09] simonjayhawkins commented on #35326
Thanks @chloe-wang for the report. This is a duplicate of #25460 so closing. LMK if I'm missing something and I'll reopen.

This issue also occurs with the first level.

[code]

does reindexing using an explicit MultIndex give the expected result?

[2020-07-24 11:09] #35326 closed

[2020-07-24 11:23] simonjayhawkins commented on #35227
or specifying dtype would give the correct answer
[code]

see also #34827

[2020-07-24 12:28] filipporemonato opened #35402 "BUG: DateTime Index format bug when importing from .csv file"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
I am sorry but I cannot provide a mwe because time is against me, but I still want to report t

[2020-07-24 13:24] talegari opened #35403 "ENH: Please provide `register_groupBy_accessor`"
Thanks for providing the option to create custom accessors via  [pandas.api.extensions](https://pandas.pydata.org/pandas-docs/stable/development/extending.html). This is prefereable method to extend pandas dataframes over inheritance/sub-classing. Currently, this supports these: dataframe, series, index.

Please extend this support for [groupBy](https://pandas.pydata.org/pandas-docs/stable/referen

[2020-07-24 14:16] simonjayhawkins commented on #35402
without a mwe, I suspect that this is a duplicate of #12585, so closing. Feel free to open a new issue with a mwe if the issue is not related to #12585

[2020-07-24 14:16] #35402 closed

[2020-07-24 14:43] simonjayhawkins commented on #34066
@meownoid The string Dtype was added in 1.0.0, see #27949. Can you check the versions used for the working case. I'm getting ...

[code]

[2020-07-24 14:56] Benjamin15 commented on #34251
I think you can try by using python engine instead of numexpr engine
` df.query("name.isnull()", engine='python')`

But i can be less efficient

When we call a function in query or eval function, with numexpr as engine, we get the error
`TypeError: 'Series' objects are mutable, thus they cannot be hashed`

Do you think this error should be solve in pandas or numexpr ?

[2020-07-24 15:23] abdoulayegk commented on #35206
hello, can I make a PR cuz till now nobody makes it yet?

[2020-07-24 15:35] ziwang-com opened #35404 "QST:module 'pandas.core.indexing' has no attribute 'get_indexers_list'"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-07-24 16:11] jreback commented on #35404
you would have to bring this up to ziplime - this is a private method

[2020-07-24 16:11] #35404 closed

[2020-07-24 16:17] bashtage opened #35406 "BUG: Creating a Series from a Series results in all NaN values"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-24 16:19] bashtage commented on #35406
Related to #34534 but difference since that user was explicitly passing dict.  Seems like the dict-like nature of Series is taking precedence over the array-like nature of Series.

[2020-07-24 16:25] TomAugspurger commented on #32857
Could people here try out the 1.1.0rc0 wheel to see if the problem is fixed? `pip install --pre pandas==1.1.0rc0`.

[2020-07-24 16:25] bashtage commented on #35406
This line from the docstring:

[code]

should be something like

[code]

[2020-07-24 17:56] MartinThoma commented on #35206
@abdoulayegk Oops, sorry, I forgot. Please go ahead if you want to take care of that :-)

[2020-07-24 18:35] TomAugspurger opened #35407 "Deprecate Series / DataFrame.append"
I think that we should deprecate `Series.append` and `DataFrame.append`. They're making an analogy to `list.append`, but it's a poor analogy since the behavior isn't (and can't be) in place. The data for the index and values needs to be copied to create the result.

These are also apparently popular methods. DataFrame.append is around the 10th most visited page in our API docs.

Unless I'm mistake

[2020-07-24 18:43] jreback commented on #35407
+1 from me (though i will usually be plus on deprecating things generally)

yeah free here these are a foot gun

[2020-07-24 19:45] willkochtitzky commented on #31522
I am still getting this error message running pandas 1.0.5. I switched back to 0.25.1 and it is working just fine. My dataset is a little complicated and I don't have time to put together a minimal example now, but thought you would want to know that this still seems to be a problem.

[2020-07-24 21:25] igozali commented on #33877
@jbrockmendel do you think it's worth it to also ping the pyslurm maintainers to see what they think about this? Quite perplexed...

[2020-07-24 23:11] erfannariman commented on #35407
+1, it's better to have one method, which is `pandas.concat`, also it's more flexible with the list of dataframes and the option to concat over `axis 0 / axis 1`.

[2020-07-25 00:24] shoyer commented on #35407
Strong +1 from me!

Just look at all the (bad) answers to this StackOverflow question:
https://stackoverflow.com/questions/10715965/add-one-row-to-pandas-dataframe

[2020-07-25 00:43] jreback commented on #35407
we should also deprecate expansion indexing as well (which is an implicit append)

[2020-07-25 01:50] jbrockmendel commented on #33877
@WillAyd might have a better idea on this one

[2020-07-25 02:07] WillAyd commented on #33877
I am not familiar with pyslurm at all so can't really speak to that, but my *guess* is that this may be a result of ujson (and potentially pyslurm) still using single phase module initialization. We switched our internal ujson implementation over to multi-phase in #30805 but ujson itself on master still uses single phase

You can read more about the differences in PEP 489

[2020-07-25 03:02] Netbrian commented on #35347
I have had similar issues with this, and would like Pandas to at least retain the original SQLAlchemy datatypes as metadata somehow.  For instance, DB2 distinguishes between dates and timestamps, but Pandas will store them both as timestamps.

[2020-07-25 10:17] Chris-Kimmel opened #35409 "DOC: Inconsistent return type documentation for functions with "inplace" option"
#### Location of the documentation

This proposal concerns all methods with the `inplace` keyword argument. Three examples:

1 (Return type described as "blah-blah-type or `None` if `inplace=True`) https://pandas.pydata.org/docs/dev/reference/api/pandas.CategoricalIndex.add_categories.html?highlight=inplace

2 (Return type specified, but doesn't mention `None`) https://pandas.pydata.org/docs/dev/r

[2020-07-25 10:19] Chris-Kimmel commented on #35409
I will take this issue if it gets any support.

[2020-07-25 13:31] ecureuil commented on #20007
Hello this feature is needed since on very large and complex dataset we focus on memory size and pandas changes column types to float32 (even if you have int8) :(

[2020-07-25 13:48] ipcoder opened #35410 "BUG: Wrong Custom Formatters applied in when displaying trancated frames"
#### Problem description
I am providing custom formatters for specific columns as dict.
If frame is large enough and some columns are truncated - then wrong formatters are applied to the columns.
(In my case that leads to crushes as wrong data type is received by the formatter).

Please notice, that behavior changes depending on the width of the console window as different columns are displayed.

[2020-07-25 21:55] smeznaric opened #35413 "BUG: When plotting a pandas dataframe year is wrong"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-07-25 21:58] smeznaric commented on #35413
I've uploaded an example CSV file to generate the above.

[example.zip](https://github.com/pandas-dev/pandas/files/4976657/example.zip)

[2020-07-25 23:44] GhostLee commented on #32803
you can see the comment in pandas.core.base.SelectionMixin._aggregate,  line 320&331
`pandas.core.base.SpecificationError: nested renamer is not supported`
but u can use these code
[code]
or give clear indication of func param
[code]

[2020-07-26 03:36] KOOTSTHEHOOTS commented on #32431
Facing the same problem  Pandas 1.0.5. What code should I be providing?

`TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [nan] of <class 'float'>`

[2020-07-26 05:34] Rmsharks4 commented on #34274
Facing this same issue using this piece of code:

[code]
Exception:

[code]
Any known workarounds?

[2020-07-26 07:37] viipul commented on #35354
data= data.replace(to_replace =float('NaN'), value = '??', regex = True)
This is giving expected ouput.

[2020-07-26 07:48] AaryamanCodes commented on #32857
Hi, try reinstalling python and do **_pip install pandas_** it worked for me! (on windows 10)

[2020-07-26 15:27] rwijtvliet opened #35414 "BUG: `freq` attribute sometimes lost when concatenating series that are tz-aware"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-26 15:34] rwijtvliet commented on #35293
Thanks for looking into this; I think you are right!

The root cause here is that I'm trying to use DatetimeIndex'ed timeseries to describe data that actually should be PeriodIndex'ed. That causes ugly unwanted effects and the need to repair them; I've abstracted the functionality away in the function
[code]

I think timezone-awareness for periods would be a great addition ;)

[2020-07-26 15:34] #35293 closed

[2020-07-26 15:35] MarcoGorelli commented on #35413
Thanks for the report - could you please write a reproducible example? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-07-26 17:33] rhshadrach commented on #35409
Thanks for raising this issue, correcting the documentation as you mentioned is certainly welcomed. I would recommend not making it a parenthetical statement as it does not provide context nor expand upon the previous sentence, but is  essential to the correctness.

[2020-07-26 17:39] rhshadrach commented on #35410
Thanks for reporting this - could you provide a minimal reproducible explain of the data/code that demonstrates the issue?

[2020-07-26 17:58] rhshadrach commented on #35387
There is no `name` attribute on a DataFrame. While you can attach such an attribute, be aware that it will be lost on many operations such as

    df = df.set_index('idx')

The `display_id` parameter to IPython's `display` is for updating a display later via a handle; it does not alter the contents of the display.

However the index of DataFrame does have a name attribute. Perhaps this suits your

[2020-07-26 18:04] EmilianoJordan opened #35415 "QST: Subclassing and concat"
I was looking into `df.astype` not respecting subclassed objects and noticed the issue had been resolved by modifying `pd.concat` to respect subclassed objects using the following code:

[code]
[Line 464](https://github.com/pandas-dev/pandas/blob/04e9e0afd476b1b8bed930e47bf60ee20fa78f38/pandas/core/reshape/concat.py#L464) PR #29627
[code]
[Line 477](https://github.com/pandas-dev/pandas/blob/04e9e0

[2020-07-26 18:07] rhshadrach commented on #35378
I think the relevant docs are:

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

Is there something missing there?

[2020-07-26 18:13] rhshadrach commented on #35375
I think it is the database connection setting that you want to modify for supporting utf-8 rather than pandas. If this doesn't help, could you post a minimal reproducible example?

[2020-07-26 18:41] rhshadrach commented on #35367
Looking at the documentation, both the size and arithmetic complexity aspects are mentioned three separate times "above the fold"; I'd hazard a guess that combining the notes won't have much impact here. That said, the example you posted on Google Groups it was 1 million rows. From reading the docs, I could see how you might have an expectation that query would produce a speedup with numexpr here.

[2020-07-26 18:55] rhshadrach commented on #35364
It's a bit confusing because `gzip` is the one compression type where the `mode` and the `extension` differ. The option compression *mode* is `gzip`. On the other hand, when `mode=infer`, the *extension* `gz` is looked for.

This is how `to_csv` works too:

It seems to me having these details would be useful in the `to_pickle` docs as well.

[2020-07-26 20:56] rhshadrach commented on #29462
Indeed, this appears to be an odd interaction with DatetimeArray and `np.where`.

[code]

gives `[1595782471507905000]`; whereas

[code]

gives `[datetime.datetime(2020, 7, 26, 16, 53, 4, 806281)]`

[2020-07-26 21:26] fzumstein opened #35416 "ENH: Auto Detect engine in read_excel"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-26 21:27] fzumstein commented on #35416
Attached a sample file to test.
[Book2.xlsb.zip](https://github.com/pandas-dev/pandas/files/4978598/Book2.xlsb.zip)

[2020-07-26 21:42] rhshadrach commented on #33489
You get the same results by changing the DateTimeIndex series to be:

    result_date = series.resample("2MS").count()

I think for periods, resampling always starts with the first period and so this behavior is correct if perhaps a little unintuitive.

[2020-07-27 03:51] arw2019 opened #35418 "ENH: implement drop_levels argument in loc"
xref  #6249, #18262, #35301

Following up on #35301. This is an outstanding piece of `DataFrame.xs` functionality that's currently not available in `.loc`. Since `xs` is slated for deprecation I'd like implement this in `.loc`

#### Example
Let's define a multiindexed dataframe (example from `xs` docs)
[code]

`xs` and `.loc` both let us take a cross-section through a `MultiIndex`

[code]
but with

[2020-07-27 05:29] filipporemonato commented on #35402
Hei Simon, thanks for picking this up. I agree on the duplicate, sorry for opening it but as I said I was really strict on time. Glad you found out and closed.
I totally understand the prioritization issue raised in the other thread by @jreback, but really dates should be the very foundations of a dataframe management system. I feel like my suggestion above, which has also been proposed by others,

[2020-07-27 05:39] ivirshup opened #35419 "DOC: HDF5 External Compatibility section examples don't work"
#### Location of the documentation

https://pandas.pydata.org/docs/user_guide/io.html#external-compatibility.

#### Documentation problem

This section probably has at least one typo, but more generally, doesn't seem to be documenting current behaviour.

I'll quickly run through the example here, but with a bit of cleaning so we don't have to run the entire page.

[code]

We can take a look at wha

[2020-07-27 07:06] konstantinmiller commented on #35349
I'm using 1.0.5. Sorry for not checking the behavior on the mater branch, I should have done that. So, great that it's now raising an exception.

Of course, if possible, it would be helpful to have a more expressive error message pointing clearer to the actual error :)

[2020-07-27 07:10] JulianWgs commented on #32590
An answer is still appreciated :)

[2020-07-27 07:17] konstantinmiller opened #35420 "`to_json()`/`read_json()` can't handle interval index"
Serializing a data frame with an interval index to JSON and then deserializing it fails to recover the index. Here is an example:
[code]

Looking at `serialized` reveals that the interval index is serialized as `any` type looking like that:
[code]
and looking at `deserialized.index[0]` reveals that the interval type wasn't recovered but rather the de-serialized value is still a dict:
[code]

[2020-07-27 08:12] janosh commented on #9613
Doesn't seem to have caught on much since 2015 but I think it's a cool idea.

[2020-07-27 08:25] janosh opened #35421 "Support reading YAML files"
Would be cool if pandas supported reading YAML files.

#### Describe the solution you'd like

`pd.read_yaml(file_path: str, **kwargs: dict)`

#### API breaking implications

None

#### Describe alternatives you've considered

You can of course import the `yaml` module, use it to read the file and then feed that data into pandas.

[code]

But for a format that has become as widely used as YAML, thi

[2020-07-27 09:31] konstantinmiller opened #35422 "Using loc[] or at[] to add rows doesn't work with an IntervalIndex doesn't work"
It seems that a data frame with an `IntervalIndex` won't let you use `loc[]` or `at[]` to add rows.

I would expect the following to work:
[code]

However, it throws a confusing error
[code]

[2020-07-27 09:33] achapkowski commented on #35378
These two sets of docs are relevant to the case, but if I need to do this:

[code]

What is the most efficient way to do this?

Do I create a DataFrame for the single row and concat it? Do I use append? One of the `loc/iloc` methods?

[2020-07-27 09:44] smithto1 opened #35423 "TST: Add test for `GroupBy.describe()` with duplicate columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

While working on #35314 I made a change that broke `GroupBy.apply` if you called it on a DataFrame with duplicate columns; however, this break as not caught by any test.

[2020-07-27 10:04] RobertRosca opened #35425 "BUG: attrs lost for Series in DataFrame"
- [x] I have checked that this issue has not already been reported.
  - Has sort of come up in other issues related to metadata/attrs not propagating through properly, however I haven't seen any issues specifically about `Series` attrs being lost when put into a `DataFrame`.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists

[2020-07-27 10:16] AlexKirko commented on #35407
+1 from me
There is really no reason to have this when we have `concat` available.

[2020-07-27 10:34] AlexKirko opened #35426 "CI/COMPAT: read_stata failing in numpy dev pipeline"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

Looks like a change in numpy broke our `read_stata` code, so now we have a bunch of `read_stata` test errors popping up during CI in the numpy_d

[2020-07-27 10:39] jreback commented on #35426
cc @bashtage

[2020-07-27 10:42] bashtage commented on #35426
That is a NumPy bug.  numpy/numpy#16939

[2020-07-27 10:57] bashtage commented on #35426
Fixed it anyway.  No reason to create an array of dtypes.

[2020-07-27 11:01] TomAugspurger commented on #35425
Your right, `__finalize__` is just called on the object `self`. We don't call `__finalize__` on each column of a DataFrame independently, and I don't think we would want to (performance and potentially confusing behavior).

[2020-07-27 11:21] TomAugspurger commented on #34730
@pandas-dev/pandas-core things seem pretty quite w.r.t. 1.1.0rc0. How do people feel about a release early this week, today or tomorrow?

The main outstanding issue(s) are around `DataFrame.__setitem__` mutating arrays inplace or not.

https://github.com/pandas-dev/pandas/issues/34271 is also closeish, but I'd probably prefer pushing it to 1.1.1.

[2020-07-27 11:26] TomAugspurger commented on #35421
This feels out of scope since there's no builtin YAML parser and I tend to see YAML used for much more than simple tabular datasets.

[2020-07-27 12:01] AlexKirko commented on #35426
@bashtage , thanks!
Looks like there are still a bunch of places where we create an array of dtypes and then assign them to a numpy array with something like `result[:] = values`.

[2020-07-27 12:28] jreback commented on #34730
sgtm - i will be unavail for next day or 2 - so go ahead with what is needed

[2020-07-27 12:53] simonjayhawkins commented on #35422
@konstantinmiller Thanks for the report.

using `loc` appears to be appending a row. (on master and 0.25.3)

[code]

can you give an example or versions where `loc` is failing.

[2020-07-27 13:12] simonjayhawkins commented on #35422
The `at` issue is for getting values and not just setting values. This is covered by #27927 so closing as duplicate.

[2020-07-27 13:12] #35422 closed

[2020-07-27 13:30] simonjayhawkins commented on #35420
@konstantinmiller Thanks for the report. I can confirm that the issue exists on master.

[2020-07-27 13:41] simonjayhawkins commented on #35420
xref #32037

[2020-07-27 14:12] TomAugspurger commented on #35369
Closing as a duplicate of https://github.com/pandas-dev/pandas/issues/33457

[2020-07-27 14:12] #35369 closed

[2020-07-27 14:15] TomAugspurger commented on #33457
I think our three options right now are

* https://github.com/pandas-dev/pandas/pull/35271 (Joris' first)
* https://github.com/pandas-dev/pandas/pull/35266 (Joris' second, target revert)
* https://github.com/pandas-dev/pandas/pull/35417 (Brock's)

Of these I think we should go with #35266 for 1.1.0. It's the smallest change from 1.0.x.

Long-term, I think we want something like Brock's https://git

[2020-07-27 14:17] simonjayhawkins commented on #35418
Thanks @arw2019 for writing this up.

I think that would make sense.

we already have an `axis` parameter
[code]

If `axis` is specified, then we would not drop levels from the axis given if `drop_levels=False`

However, if `axis` is not specified and we have a 2d indexer in order to allow the behaviour to be controlled for both axis, we may need to have `drop_levels={True, False, 'index', 'column

[2020-07-27 14:41] simonjayhawkins commented on #35418
There may be api breaking implications with adding a `drop_levels` parameter.

currently
[code]
so I don't think that the default could be `True`

[2020-07-27 15:24] Chris-Kimmel commented on #35409
take

[2020-07-27 15:36] simonjayhawkins commented on #35416
Thanks @fzumstein for the report. I'm not sure of the history here, but the release note when the xlsb functionality was added is

so I assume that this was a conscious design choice and therefore labelling as an enhancement.

[2020-07-27 15:43] TomAugspurger commented on #32857
Has anyone here been able to try the pre-release wheels for 1.1.0rc0? We're planning to release 1.1.0 final today or tomorrow and it would be nice to verify that this is fixed.

[2020-07-27 15:45] igozali commented on #33877
Thanks @WillAyd, that's very helpful indeed, I suspected it might have something to do with the intricacies of Python loading C extensions in some way but I didn't even know what to Google.

I saw that `pyslurm` uses Cython (minimum version 0.19) and according to [this SO post](https://stackoverflow.com/a/52714500), multi-phase initialization seems to have been enabled since 0.29 (although maybe t

[2020-07-27 15:48] WillAyd commented on #33877
Cool! Yea I think for ujson you can pretty much do what was done in #30805 but on that project. After being inactive for quite a few years, there is a new maintainer of that who should be able to help get that in and released

If building pyslurm for sure I guess try having a newer Cython version. If they distribute a wheel you could also ask those maintainers to do so during the wheel building pr

[2020-07-27 15:59] erfannariman commented on #35299
I would not be +1 on this, it would be confusing to add multiple functionality's in a single argument where the only difference for the user is if it's a `int` or `float`. I still think by letting the `thresh` argument be and add `perc` or `percentage` would be more user friendly and make a clear distinguishment when to use what.

Not sure if I understand what you mean, wouldn't `any` be `> 0%`? I

[2020-07-27 16:01] fzumstein commented on #35416
Hi @simonjayhawkins, thanks for your reply and I am not familiar with the history neither, it just hit me as an inconsistency.

[2020-07-27 16:10] spizwhiz commented on #35387
@rhshadrach thanks!  This does suit my needs.

[2020-07-27 16:10] #35387 closed

[2020-07-27 16:34] TomAugspurger commented on #35418
Haven't read too closely yet, but I don't think we should treat `xs` being able to do something `loc` can't as an argument for making `loc` more complicated. Rather, that's an argument for not deprecating `xs`.

[2020-07-27 17:25] WillAyd commented on #35421
I agree with Tom. there may be some niche applications but I am not aware of people generally storing tabular data in yaml

[2020-07-27 17:28] WillAyd commented on #35416
I don't think the readers infer the appropriate engine based off of the file extension; we historically only ever used xlrd but in the past year or longer have added a lot more without adding auto detection

I think would take a PR to auto detect if there's a reasonable way to do it

[2020-07-27 17:59] TomAugspurger commented on #33457
Thinking through this a bit more. Hopefully the whatsnew over at https://github.com/pandas-dev/pandas/pull/35417/files is clarifying, but this is probably OK to do in 1.2.

The bit about consistently assigning a new array regardless of dtype is the important part. I hope that not too many people are relying on the current behavior one way or another, given the inconsistency.

[2020-07-27 18:02] fzumstein commented on #35416
@WillAyd I see - what about just refactoring [_get_default_writer(ext)](https://github.com/pandas-dev/pandas/blob/master/pandas/io/excel/_util.py#L24) into something like `_get_default_engine(ext, mode)`? Would possibly fit into this open refactor: https://github.com/pandas-dev/pandas/issues/28547

[2020-07-27 18:05] WillAyd commented on #35416
I think its' separate from that issue number but the code you've linked to is a great reference. We do it on the writer side, so if you would like to implement something on the reader side and push a PR would definitely be appreciated!

[2020-07-27 18:10] nathancarter commented on #34205
Honestly, I think the documentation sounds like it currently does this already!  (Except that it doesn't.)

When I first read [the documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.argmax.html), I assumed that what you're describing here is the default value.  The return value is explicitly documented as "Indices of the maximum values."

I'm still not act

[2020-07-27 18:32] janosh commented on #35421
@TomAugspurger & @WillAyd: Thanks for the quick replies. I take your points.

Just wanted to mention though that YAML being fairly niche, especially in the realm of data storage, may change in the future. In fact, a number of document databases built around YAML have already popped up (e.g. [Netlify CMS](https://www.netlifycms.org), [YAML DB](http://blog.varunajayasiri.com/yamldb)).

Admittedly, t

[2020-07-27 19:57] simonjayhawkins commented on #35299
@mroeschke

after some discussion, using the `thresh` parameter may lead to confusion.

IIUC the result from example 2 in the OP can be easily achieved without the addition of additional parameters.

[code]

[2020-07-27 20:20] rhshadrach commented on #35387
@spizwhiz: Apologies, I had written `index` where I had meant `columns`. When doing operations with DataFrames, pandas will align on the index, so it is better to not set the index name purely for display purposes. Using columns is safer.

[2020-07-27 20:35] artkha1 commented on #32857
Tried `pip install --pre pandas==1.1.0rc0`, the issue was fixed.

[2020-07-27 20:46] rhshadrach commented on #33500
Something I didn't realize at first: one gets the expected output if only a single UDF is provided to apply, e.g.

    df.agg(count_not_null)

It's only when multiple (or a tuple of length 1) are passed that an empty DataFrame is returned.

[2020-07-27 21:06] VirosaLi commented on #35309
I encountered the second failure while working on #35214. But in a different environment.

https://travis-ci.org/github/pandas-dev/pandas/jobs/712331711

The environment is for the coverage test for python 3.7.

[code]

[2020-07-27 21:15] johnflavin opened #35429 "BUG: NA does not propagate through mask and where"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-27 22:06] spizwhiz commented on #35387
@rhshadrach  got it, thanks for the clarification.

[2020-07-27 22:06] mroeschke commented on #35299
Gotcha. Yeah I can see how that may lead to confusion.

Right that's what I was referencing in https://github.com/pandas-dev/pandas/issues/35299#issuecomment-659124196, which is part why I wasn't too enthusiastic to add a separate `perc` parameter as a shorthand for that.

[2020-07-27 22:19] rwijtvliet commented on #35293
I'm considering implementing something like this, though I'm a bit wary it might be beyond my current capabilities. Still, [have a look at the project](https://github.com/rwijtvliet/spandas) and leave some feedback if you want; it's much appreciated!

[2020-07-27 22:49] ManuelZ commented on #11503
I was receiving "XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'<head><M'"

The function _pandas.read_html_ function worked for me, it returns **a list of dataframes**:

    (df, ) = pd.read_html('file.xls')

[2020-07-28 03:56] RobertRosca commented on #35425
Ah, so it's an intentional decision, yeah, I can see why that makes sense. Can I do a PR to clarify that in the documentation?

Also, is there a recommended way of dealing with the use case of wanting metadata to be attached to a column?

I'd like to use custom accessors to add in some convenience functions which need to store some metadata either in the attrs attribute or in a custom one and (ide

[2020-07-28 04:16] metazoic opened #35430 "BUG: parse_dates in read_csv fails silently"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

If `timestamp.csv` contains the following:
[code]
then
[code]
results in
[code]
because of the malformed timestamp.

#### Problem description

This is a problem because t

[2020-07-28 04:28] metazoic opened #35431 "BUG: index_col in read_csv ignores dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

If `index.csv` contains:
[code]
then
[code]
results in
[code]

#### Problem description

This does not result in an index of strings.

#### Expected Output

By contrast,

[2020-07-28 06:04] MJafarMashhadi commented on #30999
Most of the `NotImplementedError`s don't have a specific message to be matched, I know it kind of defeats the purpose but is it a good idea to change them to `pytest.raises(NotImplementedError, match=None)` just to silence the linter?

[2020-07-28 06:34] mborus commented on #32857
This this with Python3.8 64bit & Python3.8 32bit (the 32bit never had pandas installed) and it worked for me.

[2020-07-28 07:48] AlexKirko commented on #35426
@jreback should we alter this issue to incorporate other test fails (basically anywhere we create a list of dtypes and assign it to a numpy array) or open a new issue?

[2020-07-28 07:54] simonjayhawkins commented on #35429
Thanks @johnflavin for the PR.

This now raises AssertionError on master (code change in #32962) cc @jbrockmendel

[code]

[2020-07-28 07:59] DeeeeLAN opened #35433 "BUG: A change between Python version 3.6.0 and 3.6.1 causes an apply lambda function with selective column processing to check every column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-28 08:43] simonjayhawkins commented on #35430
Thanks @metazoic for the report. This is expected behaviour.

from https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

closing as not a bug.

[2020-07-28 08:43] #35430 closed

[2020-07-28 09:06] meownoid commented on #34066
@simonjayhawkins Sorry for confusion, in 0.25.3 worked alternative version of this code with the dtype="str":

[code]

[2020-07-28 09:14] simonjayhawkins commented on #34066
Thanks @meownoid for the clarification. will update title.

[2020-07-28 09:14] flsmidth-thw commented on #32857
On a docker image with python 3.7.8  and Windows-10-10.0.17763-SP0, we can reproduce the DLL error with pandas==1.0.5, and in a fresh instance get no error with pandas==1.1.0.rc0 🥳

[2020-07-28 09:25] misantroop opened #35434 "BUG: Shift on a group column when column name is a tuple-of-tuples results in NumPy VisibleDeprecationWarning"
- [+] I have checked that this issue has not already been reported.

- [+] I have confirmed this bug exists on the latest version of pandas.

- [+] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-28 09:35] simonjayhawkins commented on #35431
Thanks @metazoic for the report.

Further investigation and PRs welcome.

[2020-07-28 09:50] simonjayhawkins commented on #35433
Thanks @DeeeeLAN for the report.

works ok with master and Python 3.8

[code]

[2020-07-28 09:53] simonjayhawkins commented on #35433
FYI we are dropping support for python 3.6 shortly, xref #35214

[2020-07-28 10:01] DeeeeLAN commented on #35433
That's odd, I forgot to mention in my post but I am still experiencing the issue on python 3.8.5 and pandas 1.0.5. I traced it back until I found the version with the issue first showing up. Maybe something in between 1.0.5 and master fixed it, though. What is the easiest way to test the non-packaged version of pandas?

[2020-07-28 10:01] jreback commented on #35431
look for a duplicate issue

[2020-07-28 10:09] simonjayhawkins commented on #35431
duplicate of #32930 so closing

[2020-07-28 10:09] #35431 closed

[2020-07-28 10:29] DeeeeLAN commented on #35433
I was able to get pandas installed from source and I too see the operation is now working as expected. How long does it usually take before the current master branch is packaged in a release?

[2020-07-28 10:29] #35433 closed

[2020-07-28 10:37] simonjayhawkins commented on #35434
Thanks @misantroop for the report. This is for NumPy 1.19 onwards?

could you provide a MRE that would be suitable as a test https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-07-28 10:43] simonjayhawkins commented on #35433
pandas 1.1.0 is imminent. 1.1.0rc is available on conda forge and PyPI

[2020-07-28 10:47] simonjayhawkins commented on #35434
xref #31201

[2020-07-28 11:02] TomAugspurger commented on #35425
Sure, that would be great. I think we'll eventually want a page in the docs User Guide dedicated to `attrs`, but I don't think it's ready yet.

IMO, the metadata applies to the dataset as a whole, so I would have something like

[code]

And then we need to make sure that `DataFrame.__getitem__` propagates the metadata by calling finalize.

[2020-07-28 11:15] TomAugspurger commented on #34730
I'm planning to look at https://github.com/pandas-dev/pandas/issues/35429 briefly and will hopefully get a PR up soon.

After that I'm planning to start work on the release.

[2020-07-28 11:33] misantroop commented on #35434
Correct, issue does not appear in NumPy 1.18.5. I attempted to conform better to MRE guidelines.

[2020-07-28 11:50] TomAugspurger commented on #34730
Actually, not going to work on #35429, since we need to discuss the expected output.

[2020-07-28 12:16] Holi0317 opened #35436 "BUG: pd.read_parquet with pyarrow fails when row number is 0 and contains Pandas extensions type"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Combinations:
1. Empty df, pandas, str vs string, brotli vs uncompress
2. Empty df, pandas, Int64 vs int
3. DF with 1 row pd.NA

[2020-07-28 13:13] TomAugspurger commented on #34730
Starting the release.

[2020-07-28 13:21] TomAugspurger commented on #35426
We've already opened an issue upstream: https://github.com/numpy/numpy/issues/16939

[2020-07-28 13:21] TomAugspurger commented on #32857
Thanks for confirming. 1.1.0 will be out later today.

[2020-07-28 13:21] #32857 closed

[2020-07-28 13:22] TomAugspurger commented on #23151
We recently switched to using multibuild on azure pipelines. It's working well enough for now.

[2020-07-28 13:22] #23151 closed

[2020-07-28 13:23] TomAugspurger commented on #22668
I don't think there's anything pandas can do with this at the moment. If / when there's a PEP for other platforms and it's added to multibuild then we'll add it into our build setup at https://github.com/macpython/pandas-wheels.

[2020-07-28 13:23] #22668 closed

[2020-07-28 13:36] simonjayhawkins commented on #35434
The issue can be reproduced with just indexing, so not specific to groupby or shift.

[code]

[2020-07-28 13:58] TomAugspurger commented on #35436
Thanks for the report. One of `StringDtype.__from_arrow__` or `StringArray._concat_same_type` will need to handle the empty array case.

I think it should probably be `__from_arrow__`, since we probably want to know if we're concatenating no arrays.

[2020-07-28 14:22] MislavSag commented on #35375
@rhshadrach , I have changed collation in the cpanel database settings. Now it is ok. Thanks.

[2020-07-28 14:22] #35375 closed

[2020-07-28 15:39] simonjayhawkins commented on #35434
xref #24688

[2020-07-28 17:39] simonjayhawkins commented on #35299
from %prun?

[code]

[2020-07-28 18:13] TomAugspurger commented on #34730
Wheels are up and conda-forge packages should be available soon. Thanks all!

[2020-07-28 18:13] #34730 closed

[2020-07-28 18:14] TomAugspurger commented on #34730
@simonjayhawkins FYI, I'll push a branch for 1.1.x now.

[2020-07-28 18:57] simonjayhawkins commented on #34730
and we need a 1.2 tag?

[2020-07-28 19:01] erfannariman commented on #35299
Where do we draw the line of how "user friendly" pandas has to be and how much we want to abstract away? Because following the logic of ` df.dropna(axis=1, thresh=(1 - 0.4) * len(df))`, we could also apply the same for `Series.mean` for example, because that is the same as `Series.sum / len(df)`.

Not sure if I understand this comment, could you elaborate? @simonjayhawkins

[2020-07-28 19:27] TomAugspurger commented on #34730
Oh yeah, I'll push one.

[2020-07-28 19:29] TomAugspurger commented on #34730
https://github.com/pandas-dev/pandas/commit/d1b1faa3f68dad6163000784c34a66b8f6c227e1

[2020-07-28 19:38] simonjayhawkins commented on #34730
Thanks Tom

[2020-07-28 19:54] sjvrijn opened #35438 "DOC: Can't find mention of DataFrame accepting namedtuples as input"
#### Location of the documentation

User guide ['Intro to data structures'](https://pandas.pydata.org/docs/dev/user_guide/dsintro.html#dataframe)
(alternatively [`DataFrame` API docs](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame))

#### Documentation problem

I recently only found out through a [StackOverflow answer](https://stackoverf

[2020-07-28 20:45] smithto1 commented on #16646
take

[2020-07-28 21:09] #6540 closed

[2020-07-28 21:44] topper-123 opened #35439 "BUG: output of df.to_string depends on whether columns is a CategoricalIndex or not"
The output of ``df.to_string`` is different if the columns is a ``CategoricalIndex`` rather than a normal ``Index``:

[code]

We can see that the width of the "b" column depends on the width of the "a" column, if the columns are a ``CategoricalIndex``.

These two examples should return the same repr.

[2020-07-28 21:50] nickcorona commented on #22402
Why closed?

[2020-07-28 22:20] misantroop commented on #35413
Matplotlib 3.3 introduced modifications to the datetime conversion. Update pandas, NumPy and Matplotlib to latest builds and see if issue persists.

[2020-07-29 00:25] soerendip opened #35442 "BUG: 'something' in pd.Series does not return the True when the object is contained."
[code]
I am not sure if this made on purpose, but I think this should return True. False seems a bit strange. Is there a good reason for this?

[2020-07-29 00:32] mroeschke commented on #35442
This is the expected behavior as `Series` objects are dict-like, so this is expected (`'test'` is not in the index)

See: https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#series-is-dict-like

[2020-07-29 00:32] #35442 closed

[2020-07-29 00:46] rhshadrach opened #35443 "BUG: Attributes of DataFrameGroupBy when subset to a series"
xref #9959

When subsetting the columns of a dataframe after a groupby to a series:

    df = pd.DataFrame({'a': [1], 'b': [2], 'c': [3]}).set_index('a')
    g = df.groupby('a')['b']

the public-facing groupby arguments  `axis` and `as_index` are not passed on to the resulting `SeriesGroupBy`.

I think the following two examples should probably behave the same:

    g = df.groupby('a', as_index=Fa

[2020-07-29 01:54] TomAugspurger commented on #35438
Thanks for the report. A note that we accept namedtuples would be welcome.

[2020-07-29 03:38] metazoic commented on #35431
@simonjayhawkins @jreback I promise I searched open issues, but the other issue didn't pop up with a "read_csv index_col" query (because it was labeled "pd.read_csv ...")!

[2020-07-29 03:42] metazoic commented on #35430
@simonjayhawkins Maybe not a bug then, but a requested change in behavior? Otherwise, every `read_csv` with `parse_dates` must be followed by a `dtype` check.

[2020-07-29 05:22] mgorny commented on #33315
There's also a bunch of new deprecations in Python 3.9: `_PyUnicode_get_wstr_length`, `PyUnicode_AsUnicode`...

[2020-07-29 06:08] ivirshup opened #35446 "BUG: pd.testing.assert_frame_equal(..., check_exact=True) raises assertion error if any columns are not numeric"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-29 08:24] simonjayhawkins commented on #35446
@ivirshup Thanks for the report.

#32513 cc @jbrockmendel

[2020-07-29 08:32] simonjayhawkins commented on #35439
Thanks @topper-123 for the report. This was OK for earlier versions?

[2020-07-29 08:35] SebastianoX opened #35448 "BUG: unique() casts type `pd.Timestamp` to `numpy.datetime64`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample:

[code]

which returns:

[code]

#### Problem description

The function `unique()` should not cast the data type.

#### Expected Output

types of `df_ta

[2020-07-29 08:51] jreback commented on #35448
there have been a number of discussions about this - pls look for duplicate issues before opening a new one

[2020-07-29 08:59] SebastianoX commented on #35448
Thanks for your answer @jreback .
Before posting I looked for duplicate issues / stackoverflow questions / google in general and I could not see any.
Please do link the discussions/issues here, so that I and other interested developers can find them.
If it is a duplicate feel free to close it.

[2020-07-29 09:04] simonjayhawkins commented on #35448
I'll close this since I think it is covered by #22824

[2020-07-29 09:04] #35448 closed

[2020-07-29 09:13] jreback commented on #35448
though having a dedicated issue for this might be ok (as that catch all unique issue brings up many topics)

we cannot change this to return a DatetimeArray till 2.0 in any event (nor can we deprecate anything)

[2020-07-29 09:20] SebastianoX commented on #35448
For what I can understand #22824 is a different issue.

The problem of the current issue, is not that `unique()` returns an array. The problem is that the objects of type `Timestamp` in a colum are casted to objects of type np.datetime64 in the numpy array returned when `unique()` is invoked on this column.

[2020-07-29 09:28] SebastianoX commented on #35448
Let me add a clearer example:
[code]

The code returns:
[code]

[2020-07-29 09:28] simonjayhawkins commented on #35448
OK but I don't think that's clear from the OP. Feel free to open a new issue.

[2020-07-29 09:32] SebastianoX commented on #35448
You do not think it is clear as in "I think it is covered by #22824"?
Anyway, new issue is on its way.

[2020-07-29 09:36] simonjayhawkins commented on #35448
The first case is iterating over a Series, the second case is iterating over a numpy array. An MRE doesn't need this comparison. just the output of .unique and the expected output.

as @jreback states in https://github.com/pandas-dev/pandas/issues/35448#issuecomment-665543090

[2020-07-29 09:39] SebastianoX opened #35449 "BUG: unique() casts its types' elements from `pd.Timestamp` to `numpy.datetime64`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

The code above results in:

[code]

#### Problem description

The class method `unique()` should not change the type of the elements in the orig

[2020-07-29 09:40] SebastianoX commented on #35448
@simonjayhawkins  please let me know if now is clearer.

[2020-07-29 09:42] topper-123 commented on #35439
Yes, this is a regression since v1.0.

[2020-07-29 09:43] simonjayhawkins commented on #35430
feel free to open a feature request (using the supplied template) paying particular attention to `API breaking implications` in the proposal

[2020-07-29 10:42] hasB4K commented on #33489
Oh okay, good to know! :smiley:
I'm closing this then.

[2020-07-29 10:42] #33489 closed

[2020-07-29 10:50] simonjayhawkins commented on #35299
it was just to show an example of a parameter taking an int and a float to represent a number or percentage.

Agreed. adding the functionality is a good idea. We just need to make sure the api design is also good.

[2020-07-29 11:01] simplyrucha opened #35450 "BUG: dataframe.any() method behaves differently for empty rows and columns"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-29 11:18] TomAugspurger commented on #35446
Agreed that `check_exact` should just have no effect for non-numeric dtypes.

[2020-07-29 12:33] aciba90 opened #35455 "REGR: DataFrame.to_numpy(dtype=str) raises RuntimeError in pandas 1.1.0"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-07-29 12:46] simonjayhawkins commented on #35455
Thanks @aciba90 for the report. This is a regression from 1.0.5

[code]

[2020-07-29 12:58] brooketalcott commented on #35413
I am on MPL v3.3.0 and having the same problem when reading CSVs

[2020-07-29 13:04] brooketalcott commented on #35413
I was having the same problem, updating from Pandas 1.0.5 to 1.1.0 fixed it for me, thanks for the suggestions @misantroop

[2020-07-29 13:10] TomAugspurger commented on #35413
Thanks for confirming that it's fixed @brooketalcott.

[2020-07-29 13:10] #35413 closed

[2020-07-29 13:12] eliasmistler opened #35457 "BUG: Empty dataframe with `.astype` raises Exception"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I've got some generic code handling a large number of DataFrames, and among other things, for

[2020-07-29 13:19] sharvanir commented on #35211
@simonjayhawkins can I check it out to see if I can fix?

[2020-07-29 13:24] sharvanir commented on #35211
take

[2020-07-29 13:41] simonjayhawkins commented on #35455
it appears #33857 is the cause of this regression

4bd69050fc4d8e7204e7b24eb68425e9e5195e0b is the first bad commit
commit 4bd69050fc4d8e7204e7b24eb68425e9e5195e0b
Author: Daniel Saxton <2658661+dsaxton@users.noreply.github.com>
Date:   Wed May 13 10:51:28 2020 -0500

    ENH: Add na_value argument to DataFrame.to_numpy (#33857)

cc @dsaxton

[2020-07-29 13:53] simonjayhawkins commented on #35457
Thanks @eliasmistler for the report. I believe this is a duplicate of #33113 so closing. This is fixed in pandas 1.1.0 (released yesterday)

[code]

[2020-07-29 13:53] #35457 closed

[2020-07-29 14:00] RobertRosca commented on #35425
Yeah, there are still some PRs (like your one #33338) which should be closed before it's fully documented.

I added a small note to the documentation page for the series in PR  #35456

That's basically what I had in mind as well, but it'd be nice (if possible) to have it propagate the metadata through the first time when running `__setitem__` or `DataFrame.assign`.

For example, I wanted to use th

[2020-07-29 14:54] frd-glovo opened #35460 "BUG: AssertionError: Number of Block dimensions (1) must equal number of axes (2) when typing a column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-29 15:10] frd-glovo commented on #35460
Actually, it does not seem to be due do the for. This fails too:

[code]
 However, if we remove the UTC bit in the type assignment:

[code]

it doesnt error anymore. However the type of e1_timestamp is ```datetime64[ns]``` instead of the desired ```datetime64[ns, UTC]```

[2020-07-29 15:21] nicolasrozain opened #35462 "BUG: dataframe.apply() loops on first row when applied method attempts to modify the row"
With pandas 1.1.0 on Python 3.6.8:

[code]

With pandas 1.0.5:
[code]

I expected the behavior of 1.0.5 in 1.1.0, did I misunderstood the apply method?
Thank you for your help.

[2020-07-29 15:40] pllim opened #35463 "Question/bug: How to get rid of "0 days" in timedelta64[s]"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas. -- I can't tell if this is a feature or a bug.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to pr

[2020-07-29 15:59] #35261 closed

[2020-07-29 17:29] rohan-gt opened #35464 "BUG: Type mismatch in read_json"
Tested on Pandas v1.1.0

I'm trying to import a JSON file containing the following:

**test.json**
[code]

If I run the following code,

[code]

I get this output:
[code]

Why is `null` getting converted to `NaT` instead of `None`?

[2020-07-29 17:30] galipremsagar opened #35465 "BUG: Inconsistent initialization of `timedelta64` between Series vs numpy & pd.TimeDelta"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-29 17:46] knabben opened #35466 "BUG: Date objects cannot be compared against a DatetimeIndex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-29 19:01] simonjayhawkins commented on #35460
Thanks @frd-glovo for the report.

a simpler example with the same error
[code]

it appears appending pd.NaT or a tz-naive timestamp to an empty DataFrame raises this error. tz-aware timestamps append OK. Other types coerce the column type.

on a non-empty DataFrame, appending pd.NaT also works.

[2020-07-29 20:02] simonjayhawkins commented on #35460
#35038 caused this regression

65090286608602ba6d67ca4a29cf0535156cd509 is the first bad commit
commit 65090286608602ba6d67ca4a29cf0535156cd509
Author: Simon Hawkins <simonjayhawkins@gmail.com>
Date:   Thu Jul 16 23:50:38 2020 +0100

    BUG: DataFrame.append with empty DataFrame and Series with tz-aware datetime value allocated object column (#35038)

[2020-07-29 21:18] traubms opened #35471 "BUG: astype ignore errors not working for categorical/StringArray"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

It seems to be ignoring `errors='ignore'` kwarg. The behavior in 0.25.3 is expected.

#### Code Sample, a copy-pastable example

[code]

#### Ex

[2020-07-29 22:28] smithto1 opened #35472 "ENH: Method on pd.Period to find the nth weekday in a period."
#### Is your feature request related to a problem?

It should be easy to find the nth weekday of period (usually a month). This kind of operation comes up all the time in financial contracts (i.e. futures and options expiring on the 3rd Wed of the month) and other use-cases (i.e. US election dates).

#### Describe the solution you'd like

Add an `nth_weekday` method to the `pd.Period` object to ha

[2020-07-29 22:38] GoldstHa commented on #14553
Hi everyone,

I've looked into how upserts are implemented in SQL across dialects and found a number of techniques that can inform design decisions here. But first, I want to warn against using DELETE ... INSERT logic. If there are foreign keys or triggers, other records across the database will end up being deleted or otherwise messed up. In MySQL, REPLACE does the same damage. I've actually crea

[2020-07-29 23:04] jreback commented on #35472
we already have an offset for this which can easily work on the begin of a Period

pls give a try

[2020-07-29 23:37] rmsmani commented on #10603
@mroeschke
Tested  in the latest version, getting the same above result

[2020-07-30 01:12] nixphix commented on #35134
@VirosaLi can I pick some from the list?

[2020-07-30 01:23] alecglassford commented on #35206
1. Perhaps this has already been noted, but it looks like `fsspec` also needs to be installed *in addition to* `s3fs` or `gcsfs` (related PR: #34266). This is reflected in the [optional dependencies list](https://pandas.pydata.org/docs/getting_started/install.html#optional-dependencies) but it's not necessarily obvious on first glance. It might be nice if the relevant rows noted this requirement,

[2020-07-30 02:49] VirosaLi commented on #35134
The latest version of isort has changed its way of sorting. There is no conflict between MyPy and Isort anymore. So I guess those changes are not needed anymore.

[2020-07-30 03:07] jbrockmendel commented on #35418
I agree with Tom

[2020-07-30 03:29] chrisvoncsefalvay opened #35474 "ENH: data frame min/max and idxmin/idxmax"
#### Is your feature request related to a problem?

I wish I could use an idxmax-like function to obtain the row and column coordinates of the minimum or maximum value.

#### Describe the solution you'd like

For a `DataFrame` object `df`, the proposed function `df.dfmin` would yield a tuple `(idx, col)` where `idx` would be the index of the minimum value (or a tuple of the hierarchical index's le

[2020-07-30 05:57] smithto1 commented on #35472
Ah cool, thanks.

[2020-07-30 05:57] #35472 closed

[2020-07-30 06:14] smithto1 commented on #18451
This is fixed as of 0.25.3, and works in 1.1.0. Not sure what the relevant fix was but I think this issue can be marked as closed, @jreback .

[2020-07-30 06:23] smithto1 commented on #29617
This is fixed in 1.1.0 (still raises same error on 1.0.5). Not sure what the applicable fix was but I think this issue can be marked as closed @jreback .

[2020-07-30 08:30] marco-neumann-by opened #35475 "BUG: Inconsistent return types for PandasArray and Series reductions"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas (`1.1.0`)

- [X] (optional) I have confirmed this bug exists on the master branch of pandas. (`3b1d4f1eef46a45b7d32694bb263a2e40a933e74`)

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
As shown above, the return types for `Pa

[2020-07-30 09:49] cdarlint commented on #28298
my approach
[code]

[2020-07-30 11:25] jreback commented on #18451
thanks @smithto1 would you see if we have sufficient tests and if not pls do a PR with the OP as tests

[2020-07-30 11:30] SanthoshBala18 commented on #35392
One additional point to be noted, if we pass any other value along with np.nan, output is returned as expected.
For Example:

axis = pd.Index([np.nan, 'var1', np.nan])
axis.get_indexer_for([np.nan, 'var1'])

This returns: array([0, 2, 1])

[2020-07-30 11:31] SanthoshBala18 commented on #35392
One additional point to be noted, if we pass any other value along with np.nan, output is returned as expected.
For Example:

[code]
This returns: `array([0, 2, 1])`

[2020-07-30 12:48] simonjayhawkins commented on #35462
Thanks @nicolasrozain for the report. is adding `row=row.copy()` to the function before the mutation a suitable workaround in the short term?

[2020-07-30 12:55] simonjayhawkins commented on #35463
Thanks @pllim for the report. Not sure if this was an intentional change, so will mark as regression pending further investigation.

[2020-07-30 13:12] simonjayhawkins commented on #35464
Thanks @rohan-gt for the report. #28501 maybe related

a reproducible code sample
[code]

further investigation and PRs welcome.

[2020-07-30 13:23] simonjayhawkins commented on #35465
Thanks @galipremsagar for the report.

Further investigation and PRs welcome.

[2020-07-30 13:53] AminovE99 opened #35476 "BUG: Bug with Alpine installation"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-30 14:02] KangMingHsi commented on #28401
For this issue, I found that line 469 in construction.py
`
dtype, value = infer_dtype_from_scalar(value)
`
should change to
`
dtype, value = infer_dtype_from_scalar(value, pandas_type=True)
`
After doing this revision

dtype bug would be fixed
And dtype of pd.Series(pd.Period("2019Q1", freq="Q"), index=range(3)) would also be correct,
but here comes another bug line 711 cast.py
`
val = val.ordinal

[2020-07-30 14:20] shanisma commented on #35476
Hi, also have a problem for installation in alpine:

Fine using pandas==1.0.5:
`apk add apk add python3-dev py3-pip g++ make && pip3 install --upgrade pip setuptools wheel && pip3 install pandas=1.0.5`

I get :
bash-5.0# pip3 install pandas==1.0.5
Collecting pandas==1.0.5
  Downloading pandas-1.0.5.tar.gz (5.0 MB)
     |████████████████████████████████| 5.0 MB 196 kB/s
  Installing build dependenc

[2020-07-30 14:46] simonjayhawkins commented on #35466
Thanks @knabben for the report

#31023 is the cause of this regression, so doesn't appear to be an intentional change cc @jbrockmendel

9b0ef5d07fb218df4e36e133d69b1ea4c6be43bd is the first bad commit
commit 9b0ef5d07fb218df4e36e133d69b1ea4c6be43bd
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue Jan 14 19:10:24 2020 -0800

    refactor DTI.get_loc (#31023)

[2020-07-30 14:58] simonjayhawkins commented on #35471
Thanks @traubms for the report. #30324 is possibly related.

it appears that the issue is not specific to Categorical so i'll label as Extension Array for now.

[code]

further investigation and PRs welcome.

[2020-07-30 15:05] simonjayhawkins commented on #35465
I'll mark as a regression as this raised Exception in 0.25.3

[code]

[2020-07-30 15:09] galipremsagar commented on #35465
So is the expected behavior to raise an exception or initialization similar to numpy?

[2020-07-30 15:40] ivirshup commented on #35446
Sure! I'm having some trouble finding where to put tests though. Turns out `assert_frame_equal` occurs a lot in the test suite!

Could you point me to that?

[2020-07-30 15:43] simonjayhawkins commented on #35463
It appears this was an intentional change, see tests changed in #33270

[2020-07-30 15:49] pllim commented on #35463
Wasn't expecting that in a minor release. Is there a way to get the old behavior back? If no, that's fine too, just want to know.

[2020-07-30 15:52] simonjayhawkins commented on #35463
@jbrockmendel

[2020-07-30 15:59] #35476 closed

[2020-07-30 16:00] simonjayhawkins commented on #35446
\pandas\tests\util\test_assert_frame_equal.py

[2020-07-30 16:17] jreback commented on #35463
minor release can and do have api changes - pls read the release notes

this was for conformity of timedelta outputs

[2020-07-30 16:19] pllim commented on #35463
I did glance at the notes but I guess I missed it. Okie dokie then.

[2020-07-30 16:19] #35463 closed

[2020-07-30 16:22] pllim commented on #35463
Thanks for digging into this, @simonjayhawkins !

[2020-07-30 16:29] onnoeberhard opened #35479 "BUG: Nonintuitive behaviour when indexing with a constant boolean function"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
I would expect `y` to be equal to `series` in this example, because the callable function pass

[2020-07-30 17:09] princelai opened #35480 "BUG:weekofyear error,The last three days of 2008 are considered the first week"
- [Yes ] I have checked that this issue has not already been reported.

- [ No] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to

[2020-07-30 18:04] harakiricode commented on #21673
+1

[2020-07-30 18:28] tsibley commented on #35268
This is true for other input dtypes as well, such as the new string dtype, and is demonstrable with `Series.replace` as well as `DataFrame.replace`.

[code]

I believe the issue is with the underlying `Block.replace` method. There are a couple places which explicitly convert to an object dtype. Maybe those are triggering too eagerly? For example:

https://github.com/pandas-dev/pandas/blob/3b1d4f1e

[2020-07-30 18:30] tsibley commented on #35268
I also meant to point out that using two-arg `replace` (as shown in my REPL example) doesn't exhibit this behaviour (at least in my example). This is particularly odd, as I'd (naively, perhaps) expect two-arg `replace` and one-dict-arg `replace` to both map to the same codepath internally!

[2020-07-30 18:32] tsibley commented on #34871
I believe this is tracked in #35268.

[2020-07-30 18:33] tsibley commented on #35268
The Period dtype also seems to suffer this issue: https://github.com/pandas-dev/pandas/issues/34871.

[2020-07-30 19:01] mroeschke commented on #35480
This looks to match the standard library `datetime.datetime.isocalendar`'s iso-week

[code]

[2020-07-30 19:01] #35480 closed

[2020-07-30 19:05] WillAyd opened #35481 "Numpydev CI Failures"
It looks like some `.intersection` tests are failing. AFAICT this traces back to here:

https://github.com/pandas-dev/pandas/blob/bdcc5bffaadb7488474b65554c4e8e96a00aa4af/pandas/_libs/lib.pyx#L685

Which on numpy dev during test execution isn't raising an `OverflowError` and instead performs a wraparound. Interestingly enough, running:

[code]

With numpydev does overflow in the Python space, so p

[2020-07-30 19:55] dsaxton commented on #35479
The lambda function takes the _whole_ Series as input (it's not a "mapping" operation that returns a Series of True values) and needs to return a valid indexer. In this case the scalar True is not a valid index so an error is raised. It seems you're expecting it to behave like
[code]
but this isn't the same thing.

[2020-07-30 20:19] machow opened #35482 "ENH: add tseries.offsets prefix_mapping to public API"
#### Is your feature request related to a problem?

Currently, a user can use the abbreviation for an offset (e.g. "W" for week). They will see offsets used in the docs, but the mapping from abbreviation to offset (pandas._libs.tslibs.offsets.prefix_mappings) is not public. It doesn't seem possible to answer through the public API: "what offset does this abbreviation correspond to?"

I noticed tha

[2020-07-30 20:46] simonjayhawkins commented on #35479
closing as answered. Thanks @onnoeberhard for the report. Thanks @dsaxton for the reply.

[2020-07-30 20:46] #35479 closed

[2020-07-30 21:55] tsibley commented on #32075
@jorisvandenbossche

As of 1.1.0 at least, it's not working fine:

[code]

[2020-07-30 21:58] tsibley commented on #32075
Note however, that the one-dict-arg form of `replace` _does_ appear to work (!):

[code]

but as described in #35268, it changes the dtype of the Series from whatever it was to object.

[2020-07-30 22:05] rhshadrach commented on #33752
Unlike `hour`, `weekday` is a method. I believe you get the correct result with:

[code]

which gives the result:

[code]

Please let me know if I've missed something and I'll reopen.

[2020-07-30 22:10] manihamidi opened #35483 "QST: is the new behavior of df.apply(my_func, axis=1) in v1.1.0 intended?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

[code]

The above code ran on pandas 1.1.0 returns:

[code]
While in pandas 1.0.5 it returns:

[code]

Using python 3.8.3 and IPython 7.16.1.

[2020-07-30 22:15] machow opened #35484 "BUG: read_sql no longer works simply with SqlAlchemy selectables and a quick fix"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Hey--I noticed while running [siuba's](https://github.com/machow/siuba) SQL unit tests that queries using the modulo operator a

[2020-07-30 23:19] tsibley commented on #32075
This makes sense to me and matches my debugging. I'm testing this patch now:

[code]

[2020-07-31 01:51] rhshadrach commented on #35483
In great generality, one should not mutate containers when iterating over them.

[code]

gives

[code]

[2020-07-31 03:18] arw2019 commented on #35475
xref #28095

[2020-07-31 03:32] arw2019 commented on #30324
Still an issue on 1.2

<details> <summary>Output of pd.show_versions()</summary>

INSTALLED VERSIONS
------------------
commit           : 3b1d4f1eef46a45b7d32694bb263a2e40a933e74
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-42-generic
Version          : #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020
machine          : x86_64
processor

[2020-07-31 03:43] jbrockmendel commented on #32431
This works in 1.1.0

[2020-07-31 04:13] itholic opened #35486 "QST: is the new behavior of GroupByRolling in v1.1.0 intended?"
#### Question about pandas

Let's say we have a `DataFrame` like the below.

[code]

Then, when I use `GroupByRolling`, In the version of pandas <= 1.0.5 shows result as below.

[code]

However, In the pandas 1.1.0, the result seems different from the previous version as below.

[code]

Could someone let me know Is it intended? or unexpected behavior (maybe kind of bug) ?

Thanks :)

[2020-07-31 07:13] ioshchepkov opened #35487 "ENH: Add different reference epochs for to_julian_date() as an argument"
There are a lot of starting points (epochs), which leads to different modifications of the Julian date. It can help save memory and disk space in a very long time-series, because it will use less digits in the representation.

Good list: [https://en.wikipedia.org/wiki/Julian_day#Variants](https://en.wikipedia.org/wiki/Julian_day#Variants)

The use case will be something like this:

[code]
I'm not

[2020-07-31 07:40] philipphanemann commented on #33752
You are right. But what I now find confusing about it is, that `weekday`is a property, if applied on the index.

i.e. `s.index.weekday`

but if I want to apply it on an index instance, it is a method.

e.g. `s.index[0].weekday()`

with `dayofweek` this inconsistency does not exist. In both cases, it is used as a property. I don't know whether this might be the correct thread to talk about such iss

[2020-07-31 07:49] qinxuye opened #35488 "BUG: Shift on DataFrame which has more than 1 block creates wrong result"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-31 09:14] simonjayhawkins commented on #35488
@qinxuye Thanks for the report.

#34389 resulted in this change in behaviour. reverting that PR is under consideration #34407 cc @jbrockmendel @jorisvandenbossche

760ba37a776947694ec816eaf29ce8937e08f544 is the first bad commit
commit 760ba37a776947694ec816eaf29ce8937e08f544
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue May 26 15:47:18 2020 -0700

    CLN: _consolidate_inplace less (#

[2020-07-31 09:31] simonjayhawkins opened #35489 "RLS: 1.1.1"
Tracking issue for the 1.1.1 release.

https://github.com/pandas-dev/pandas/milestone/75

Please do not remove/change milestones from these issues without a note explaining the reasoning (changing milestones doesn't trigger notification)

All issues raised that are regressions from 1.0.5 should be milestoned 1.1.1. Post 1.1.1 release, unclosed issues from this list can be changed to 1.1.2 to maint

[2020-07-31 09:33] qinxuye opened #35490 "BUG: DataFrame.agg with multiple cum functions creates wrong result"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-07-31 09:44] erfannariman opened #35491 "DOC: Add note to DataFrame.compare about only able to compare identically-labeled DataFrame objects"
#### Location of the documentation
`pandas.core.frame::compare`

#### Documentation problem
Right now there is not a note/warning that you can only compare dataframes with the same shape and index labels.

#### Suggested fix for documentation
Add note:

[2020-07-31 09:53] erfannariman commented on #35491
take

[2020-07-31 09:57] mhaselsteiner opened #35493 "BUG: use_inf_as_na options raises value error for read_csv"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample to Reproduce Error

[code]
Causes `ValueError`:
[code]

#### Problem description
Nans are not recognized as expected anymore if pandas option `use_inf_as

[2020-07-31 10:08] simonjayhawkins commented on #35481
The current test failures on master are

[code]

[2020-07-31 10:30] simonjayhawkins commented on #35490
@qinxuye Thanks for the report

Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

can you make the code sample more minimal and also please indicate what the expected output should be (or state same as 1.0.5)

[2020-07-31 10:47] AdamSpannbauer opened #35495 "DOC: pd.read_sql() connection disposal for str type connections"
This is in between a documentation issue and a general question.

#### Location of the documentation

[`pd.read_sql()`](https://github.com/pandas-dev/pandas/blob/v1.1.0/pandas/io/sql.py#L441-L443)

#### Documentation problem

The documentation notes that if the `con` is a `SQLAlchemy connectable` that the user is responsible for disposing/closing.  The documentation doesn't note whether the connec

[2020-07-31 11:11] simonjayhawkins commented on #35490
it appears this change in behaviour is a result of #30858. So this change is not intentional. marking as regression. cc @MarcoGorelli

b6222ec976a71b4ba0c643411606e2376e744c4d is the first bad commit
commit b6222ec976a71b4ba0c643411606e2376e744c4d
Author: Marco Gorelli <m.e.gorelli@gmail.com>
Date:   Tue Jul 14 21:34:55 2020 +0100

    BUG: aggregations were getting overwritten if they had the sam

[2020-07-31 11:22] simonjayhawkins commented on #35493
Thanks @mhaselsteiner for the report.

can confirm ok in 1.0.5, so marking as regression.

[code]

[2020-07-31 11:44] AlexKirko commented on #35275
@jreback  I'd like to ask for a bit of help from the team with this one. Maybe you can see a way out of this bug or know someone who might be able to help with a groupby resampler issue? I diagnosed the problem, but hit a wall in fixing it.

When we call aggregate functions on a column of a `DatetimeIndexResamplerGroupby` instance that is resampled on a date column, we end up drawing dates with `D

[2020-07-31 12:12] simonjayhawkins commented on #35493
this issue starts to occur with #33656 cc @dsaxton

678a9ac7c198513367f6f1180c5fd2bf6bc6949b is the first bad commit
commit 678a9ac7c198513367f6f1180c5fd2bf6bc6949b
Author: Daniel Saxton <2658661+dsaxton@users.noreply.github.com>
Date:   Sun May 10 12:12:45 2020 -0500

    BUG: Fix StringArray use_inf_as_na bug (#33656)

[2020-07-31 12:20] MarcoGorelli commented on #35490
Thanks for the CC, and I'm sorry for the breakage caused! I'll look into this next week

[2020-07-31 12:21] simonjayhawkins commented on #32431
@jbrockmendel i've labelled this as needs tests. Any idea which commit fixed this and whether additional tests are needed.

[2020-07-31 12:26] simonjayhawkins commented on #35490
Thanks @MarcoGorelli . and no need to apologise!

[2020-07-31 12:44] simonjayhawkins commented on #35462
@nicolasrozain in 1.0.5 the original DataFrame is being mutated by this function so removing the regression tag pending further discussion/investigation of correct behaviour or whether we want to restore the 1.0.5 behaviour.

[code]

[2020-07-31 13:12] simonjayhawkins commented on #35483
Thanks @manihamidi for the report. Same issue as #35462 so closing as duplicate.

[2020-07-31 13:12] #35483 closed

[2020-07-31 13:32] simonjayhawkins commented on #35462
OK so the commit that caused the change is not the one I expected. it is #34909. This PR is labelled PERF and so should not have changed behaviour. re-instating regression tag. cc @jbrockmendel

91802a9ae400830f9eaadd395f6a9b40cdd92ee5 is the first bad commit
commit 91802a9ae400830f9eaadd395f6a9b40cdd92ee5
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Thu Jun 25 16:06:10 2020 -0700

    PE

[2020-07-31 14:12] jreback commented on #35275
@AlexKirko havent looked closely but the issue is that you don't want to use .take too early that converts indexers (eg position in an index) to the index value itself

we ideally want to convert only at the very end

[2020-07-31 14:33] yogeshkkolte commented on #21422
If x is date time object
pandas.datetime.strftime(x,'%Y%m')

[2020-07-31 14:58] simonjayhawkins commented on #35486
the change in behaviour is from #34052 cc @mroeschke

bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6 is the first bad commit
commit bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6
Author: Matthew Roeschke <emailformattr@gmail.com>
Date:   Mon May 25 10:26:19 2020 -0700

    PERF: Use Indexers to implement groupby rolling (#34052)

[2020-07-31 15:14] itholic commented on #35486
Thanks, @simonjayhawkins :)

[2020-07-31 15:51] simonjayhawkins commented on #34205
latest 1.1.0 docs are much clearer.

[2020-07-31 17:54] tsibley commented on #32075
The patch above doesn't work (unsurprisingly) because sometimes `arr` is a Pandas array and sometimes it's a NumPy array, but only Pandas arrays have a `fillna` method.

The patch below _seems_ to work with some manual testing and the result of `./test_fast.sh` is the same before/after applying it:

[code]

I want to write an actual set of tests cases for this bug for various dtypes though before

[2020-07-31 18:31] AlexKirko commented on #35275
Makes sense, thanks. I'll try and look at the differences between calling aggregate functions on a `ResamplerGroupby`  without selecting a column (which works) and with it (which ends up passing original `DataFrame` index values to `take` and breaks). Maybe that will help.

[2020-07-31 18:56] WillAyd commented on #35481
I think the problem for most of these is the Cython version; looks like numpy bumped their minimum Cython version to 0.29.21 but we are still pinned  to 0.29.16 on this environment.

https://github.com/numpy/numpy/commit/fc9d862f0cec6d9dc83acef54a66732dfdb813a3

[2020-07-31 19:14] rakekris opened #35497 "BUG: Issue with latest version (1.1.0) of pandas when imported"
- [Y ] I have checked that this issue has not already been reported.

- [ Y] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-07-31 19:34] TomAugspurger commented on #35497
How'd you install pandas? We require NumPy>==1.15.4 and you seem to have an older version: https://github.com/pandas-dev/pandas/blob/bdcc5bffaadb7488474b65554c4e8e96a00aa4af/setup.py#L36

Your package manager shouldn't have installed pandas into an environment with NumPy 1.14.5.

[2020-07-31 21:27] WillAyd commented on #35481
Hmm so maybe the version isn't it. When bissecting numpy I stopped between 86fcce6 and fc9d862 so one other possible culprit is https://github.com/numpy/numpy/pull/16200

[2020-07-31 21:56] WillAyd commented on #35481
OK after I bisect I am fairly certain the failures here trace back to numpy/numpy#16200 .

@seberg not sure if you have any idea on the OP

[2020-07-31 22:14] arw2019 commented on #35495
I *think* that's right. If I didn't make a mistake at the end of the day we connect to the database here:
https://github.com/pandas-dev/pandas/blob/bdcc5bffaadb7488474b65554c4e8e96a00aa4af/pandas/io/sql.py#L1159-L1163
and scrolling down the `SQLAlchemy` [doc page](https://docs.sqlalchemy.org/en/14/core/connections.html) you linked, at the bottom of the`Connectionless Execution, Implicit Execution`

[2020-07-31 22:24] ldacey opened #35499 "BUG: pandas 1.1.0 MemoryError using .astype("string") which worked using pandas 1.0.5"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

I tried to pinpoint the specific row which causes the error. The column has HTML data like this:

`
'''<div class="comment" dir

[2020-08-01 05:37] MJafarMashhadi commented on #35450
This bug exists on master branch, you can mark it

[2020-08-01 05:53] simplyrucha commented on #35450
Hi @MJafarMashhadi
I have marked it so. Does that mean I am supposed to close this thread?

[2020-08-01 06:00] MJafarMashhadi commented on #35450
Thanks for the detailed report! No, it means that the bug has not been fixed yet and it still exists in the latest version. I checked it last night. I'm waiting for one of the more experienced members to comment here before making any moves myself.

[2020-08-01 06:08] simplyrucha commented on #35450
oh okay. Thank you for testing it out.

[2020-08-01 08:31] simonjayhawkins commented on #35499
Thanks @ldacey for the report. I can confirm this was working in 1.0.5. This change in behaviour is due to #33465 cc @topper-123

[code]

[code]

[2020-08-01 08:43] #35134 closed

[2020-08-01 09:34] simonjayhawkins commented on #35426
closing in favour of #35481 as Stata tests no longer failing

[2020-08-01 09:34] #35426 closed

[2020-08-01 10:10] topper-123 commented on #35499
The problem is the array conversion. Your example can be boiled down further to:

[code]

The problem is we go from a small list (memorywise) to a large list, because ``data[0] is data[1]`` etc., while the array conversion creates each string as its own object.

The call to ``np.asarray(result , str)`` is to ensure all scalars are strings, so we don't have dangling e.g. ints or floats. Is there a

[2020-08-01 12:11] smithto1 commented on #29617
@endremborza  the essence of this error is that you're using `datetime.date` for the dates rather than `datetime.datetime` or `pd.Timestamp`. The error message indicates it is trying to find a `pd.Timestamp` in an index of `datetime.date` and can't find it.

If you run the same code with `datetime.datetime` it works.

[code]

This bug has persisted up to 1.0.5, but it is fixed in 1.1.0. Running th

[2020-08-01 12:11] smithto1 commented on #29617
take

[2020-08-01 13:03] smithto1 commented on #18451
take

[2020-08-01 13:10] #35345 closed

[2020-08-01 13:40] topper-123 commented on #35499
@idacey, an alternative to your usecase coulds be to use StringArray, that bypasses the conversion, i.e.:

[code]

[2020-08-01 14:20] rakekris commented on #35497
Below code snippet is the setup.py . we always use to pull latest py packages. We are not explicitly pulling numpy. I believe numpy is installed as part of pandas.

`from distutils.core import setup

from setuptools import find_packages

setup(
    name='sharp',
    use_scm_version={
        'version_scheme': 'post-release'
    },
    setup_requires=['setuptools_scm'],
    packages=find_packages(i

[2020-08-01 14:29] alexhtn opened #35505 "DOC: ExcelWriter constructor types"
#### Location of the documentation

[https://pandas.pydata.org/docs/dev/reference/api/pandas.ExcelWriter.html?highlight=excelwriter](https://pandas.pydata.org/docs/dev/reference/api/pandas.ExcelWriter.html?highlight=excelwriter)
or
[https://github.com/pandas-dev/pandas/blob/d9fff2792bf16178d4e450fe7384244e50635733/pandas/io/excel/_base.py#L544](https://github.com/pandas-dev/pandas/blob/d9fff2792bf

[2020-08-01 14:30] rhshadrach commented on #33752
Thanks for responding - I think you make a good point. It seems to me we can add the following to the `_Timestamp` class in timestamps.pyx:

[code]

Any thoughts here @jbrockmendel?

[2020-08-01 15:00] rhshadrach commented on #35378
I think adding a section in the documentation discussing this operation makes sense; I couldn't find one on it and hopefully didn't miss anything. Two suggestions:

 - There has been much support for deprecating `append` (#35407).
 - Regardless of the method used, it is more efficient to gather data up front (e.g. as a dictionary/list of dictionaries) and then create a single `DataFrame` rather th

[2020-08-01 15:02] rhshadrach commented on #35505
The links in the issue are broken, you need to use

    [description](url)

[2020-08-01 15:05] MJafarMashhadi commented on #35505
It's better to use bytes-like object instead of `io.BytesIO` specifically.

[2020-08-01 15:11] alexhtn commented on #35505
I fixed links

[2020-08-01 15:44] alexhtn commented on #35505
I didn't understand how can I use bytes-like object as output for ExcelWriter.

[2020-08-01 16:23] yangyxt commented on #33748
I have run into a similar error by just appending pandas chunk dfs to an HDF5 file.
I have confirmed that the first chunk dtypes and the following chunk dtypes are exactly the same for all the columns. BTW, I have 130 columns and all of them are converted to object dtype before writing to hdf5 file.
Still, I got this error message:

I didn't find any solutions in the issues. This issue post is the

[2020-08-01 17:05] #35495 closed

[2020-08-01 17:10] #35297 closed

[2020-08-01 17:39] MJafarMashhadi commented on #35505
I mean it doesn't strictly require `io.BytesIO` instance, it can be a subclass or anything else that behaves like a bytes buffer (a zip file, a network socket, etc). So I'd suggest to use a more generic term in your patch.

[code]

[2020-08-01 19:26] Alalalalaki opened #35508 "BUG: DataFrame saved in Pickle under v1.1.0 cannot be read under v1.0.3"
I find any DataFrame saved in v1.1.0 by `to_pickle` is not readable under v1.0.3. Any functions on the DataFrame will throw `AttributeError: 'DataFrame' object has no attribute '_data'` or `RecursionError: maximum recursion depth exceeded while calling a Python object`.

I use pip to install pandas.

[2020-08-01 19:35] stefmolin opened #35509 "BUG: Possible Regression in DatetimeIndex Slicing"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-01 19:54] jreback commented on #35508
pickle is not in general forward compatible like this

older versions can be read by newer but not vice versa

it might work but there are no guarantees at all

[2020-08-01 19:54] #35508 closed

[2020-08-01 21:14] arw2019 commented on #35509
xref #26206

Also - confirming this is still an issue on master.

<details><summary><b>Ouput of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : 9cbc3e8117d99054945f7b79e50b1f0250221ab6
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-42-generic
Version          : #46-Ubuntu SMP Fri Jul 10 00:24:02 UT

[2020-08-01 22:16] alexhtn commented on #35505
Now I got your idea.
I think correct type is `io.BufferedIOBase`. `ZipFile` and `io.Bytes` inherits from it, and function `open` returns `io.BufferedWriter`.
Also I check `socket.makefile`, for binary format in writing mode it returns `io.BufferedWriter`.
`io.BufferedWriter` inherits from `io.BufferedIOBase`.
But I'm not sure that it covers all cases. Maybe correct type would be `io.IOBase`.

[2020-08-01 22:35] MJafarMashhadi commented on #35505
I believe bytes like object means [the same](https://docs.python.org/3.3/glossary.html#term-bytes-like-object) thing. It's more about having the expected interface (duck typing), rather than being a subclass of a certain class (which is the case in Java).

[2020-08-01 23:53] bhagyakjain opened #35511 "BUG: Unexpected behavior of sort_values"
df.sort_values(by=[col])  -
If column(=col) has some values occurring multiple times then it orders them randomly. Instead, it should inherit the order in the DataFrame for the rows having same value for column.

[2020-08-02 00:15] MJafarMashhadi opened #35512 "BUG: Unexpected/undocumented behaviour of sum and mean aggregations on object dtypes"
- [ ] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

I saw the last example in a #26927 comment, scanned the code to see what's wrong and eventually decided to open this is

[2020-08-02 00:18] MJafarMashhadi commented on #35511
It's not a bug. What you want is a stable-sort. Check out the docs:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values

you need to use `kind` parameter to chose a stable sorting algorithm, i.e.:

[code]

[2020-08-02 01:05] jreback commented on #35512
pls look for a duplicate issue - this has been discussed multiple times

[2020-08-02 01:28] MJafarMashhadi commented on #35512
It looked like something that should've already been reported, but couldn't find a duplicate

[2020-08-02 01:28] #35512 closed

[2020-08-02 07:51] simonjayhawkins commented on #35512
duplicate of #34671

[2020-08-02 08:19] MathieuDutSik opened #35516 "BUG: Error with std of nullable column obtained from groupby"
The error occurs with
[code]
while now we have `df.groupby("A").var()` working correctly.

- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/

[2020-08-02 08:43] rmsmani commented on #10603
I think we can close this issue

[2020-08-02 10:18] #31054 closed

[2020-08-02 10:48] simonjayhawkins commented on #10603
the issue is tagged as needs tests. if you can raises a PR adding a test to prevent regressions we could then close this issue.

[2020-08-02 10:51] dechamps opened #35517 "BUG: Pandas 1.0.5 → 1.1.0 behavior change on DataFrame.apply() where fn returns np.ndarray"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Output of Pandas 1.0.5

[code]

#### Output of Pandas 1.1.0

[code]

It is not clear to me if this behaviour chang

[2020-08-02 10:51] simonjayhawkins commented on #35509
The assertion was added in #31938 cc @jbrockmendel

can confirm expected output prior to that change.
[code]

[2020-08-02 11:51] simonjayhawkins commented on #35517
Thanks @dechamps for the report. As this appears to be an undocumented change in behaviour, i'll mark as a regression for now pending further discussion/investigation

[2020-08-02 12:28] simonjayhawkins commented on #35517
The commit that caused this change is #34909. (This also caused another regression #35462) cc @jbrockmendel

91802a9ae400830f9eaadd395f6a9b40cdd92ee5 is the first bad commit
commit 91802a9ae400830f9eaadd395f6a9b40cdd92ee5
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Thu Jun 25 16:06:10 2020 -0700

    PERF: avoid creating many Series in apply_standard (#34909)

[2020-08-02 13:03] sytham commented on #33748
That doesn't look like it's not the same issue. This thread is specifically about storing subclasses of DataFrame to HDF.

[2020-08-02 13:04] dechamps opened #35518 "BUG: Pandas 1.0.5 → 1.1.0 behavior change on DataFrame.apply() where func returns tuple"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Output of Pandas 1.0.5

[code]

#### Output of Pandas 1.1.0

[code]

It is not clear to me if this behaviour chang

[2020-08-02 13:06] dechamps commented on #35517
I also just found #35518 which is somewhat similar in that it concerns values returned from the apply func being interpreted in a different way in Pandas 1.1.0.

[2020-08-02 15:31] dsaxton commented on #35511
Closing as answered, thanks @MJafarMashhadi

[2020-08-02 15:31] #35511 closed

[2020-08-02 15:45] alexhtn commented on #35505
I understand this. But now possibility of using bytes-likes objects isn't described in docs at all and also pycharm shows warnings.
I think it would be enough add `io.BufferedIOBase` to `path` type and some examples to show how it works.

[2020-08-02 17:10] igozali commented on #33877
Thanks @WillAyd I was about to try it out right this moment and realized the new version is out already :D

[2020-08-02 17:37] igozali commented on #33877
Unfortunately, I just tried it out with the new `ujson==3.1.0`, and the problem still seems to exist. I used this Docker image to reproduce it.

[code]

[2020-08-02 17:39] yadunathg commented on #31775
Thanks for adding the sample feature into groupby. However, behaviour of the added feature is different from what I had requested.

I wanted to get a sample of groups from the groupby objects. But the added feature allows us to get a sample of records from each group of the groupby object. Is it possible to add an argument to the sample method which allows us to choose whether the sampling should

[2020-08-02 21:05] jbrockmendel commented on #33752
I think the Timestamp behavior is "right" here, and if anything we would change the other behavior to match it (with a deprecation cycle if necessary)

[2020-08-03 00:53] metazoic opened #35520 "ENH: parse_dates in read_csv should not fail silently"
#### Is your feature request related to a problem?

If `timestamp.csv` contains a malformed timestamp in the column `timestamp`, then
[code]
results in
[code]
(corroborated in the documentation). Because of the silent fail, every `read_csv()` with `parse_dates` must be followed by a `dtype` check.

#### Describe the solution you'd like

By contrast,
[code]
results in an explicit error with an info

[2020-08-03 01:40] MJafarMashhadi commented on #35505
Sounds good, Would you like to submit a PR?

[2020-08-03 03:05] on55 opened #35521 "REGR: invalid cache after take operation with non-consolidated dataframe"
a program run ok with pandas 1.0.5,  but after upgrade to 1.1.0.  it fail.
i found sometimes when I change one cell of dataframe value,  print(df) and it doesn't change.
but i use  ==, it says changed.
for example:  original  cell value is A, then i change cell value to B.   A=B
print df, it show still A
df.at(x, x) == B, it says TRUE.

-----

MarcoGorelli's edit: here's a reproducible example:

[

[2020-08-03 03:15] jreback commented on #35521
pls show an example that reproduces the issue

[2020-08-03 05:45] jackiey99 commented on #32038
found this issue as well. why do we want to deprecate this option @mroeschke ?

[2020-08-03 07:33] ligz08 opened #35523 "ENH: Allow pd.Series to fill NA with a callable"
#### Is your feature request related to a problem?

I wanted to do Series additions/subtractions where two Series objects' index may not align. I was using the [`pd.Series.add()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.add.html) function, which first aligns two Series' by their indices, and then do the adding at each index -- this is great. However, when dealing w

[2020-08-03 07:41] kmadhavan2000 opened #35524 "BUG:"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-03 09:11] letianw91 commented on #35497
I'm encountering the same issue. When I do `pip-3.6 freeze | grep numpy`, my numpy version is `numpy==1.19.1`.

But when I `import pandas as pd` from python3 REPL, I get
[code]

It seems that even if I installed Pandas in Python3, it is picking up my Python2 numpy version.

[code]

[2020-08-03 09:27] achapkowski commented on #35407
How do you expand a dataframe by a single row without having to create a whole dataframe then?

[2020-08-03 09:29] achapkowski commented on #35378
@rhshadrach thanks for pointing out the deprecation!  There are so many issues, it's hard to keep track of them all.

I know the best practice is to have all your data in hand, but sometimes your dataframe needs a few more rows of data and especially for large datasets (millions of rows) recreating the whole dataframe is overkill.

[2020-08-03 09:30] simonjayhawkins commented on #35520
Thanks @metazoic for writing this up (xref https://github.com/pandas-dev/pandas/issues/35430#issuecomment-665559559)

[2020-08-03 09:40] simonjayhawkins commented on #35524
@kmadhavan2000 closing this as incomplete report. feel free to open a new issue.

[2020-08-03 09:40] #35524 closed

[2020-08-03 10:36] alexhtn commented on #35505
take

[2020-08-03 11:18] asanoop24 commented on #8918
I have also faced the same issue multiple times. I have written a class below that should hopefully make things easier.

[code]

Easy to initiate an instance of the encoder as well.

[code]

[2020-08-03 11:22] pratyushprakash commented on #27338
@mroeschke Is this up for grabs. If it is I'd like to work on it

[2020-08-03 11:32] amrsoll opened #35525 "ENH: Add keep_index as an optional argument to json_serialize"
#### Is your feature request related to a problem?

I have a DataFrame with a column filled with json data. I would like concatenate a subset of that json data to the DataFrame itself while preserving the index of the DataFrame for easy concatenation.

#### Describe the solution you'd like

1. I would add `pd.Series` as a possible data input in [the definition of json_normalize]
2. Add optional ke

[2020-08-03 11:38] pratyushprakash commented on #27338
take

[2020-08-03 12:11] yavitzour commented on #26368
Happy to report that while the problem still persisted up to 1.0.5, pandas 1.1.0 solves the problem for me.

Thanks!

[2020-08-03 12:27] shadowbourne opened #35526 "BUG:"
---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Returns completely wrong output on my system, but anyone else's it seems fine.  (pandas 1.1.0, python 3.8.4 and 3.7.8)
[this should e