[2020-10-05 09:54] MarcoGorelli commented on #36881
What happens if you run this on a non-customised Python interpreter?

[2020-10-05 09:55] syejing commented on #36881
I Know，set the global and local namespace of exec to the same dict.

[2020-10-05 09:57] MarcoGorelli commented on #36881
OK, so it's not a bug with pandas but something to do with the customised interpreter? Closing then, but please let us know if you think there's a bug in pandas

[2020-10-05 09:57] #36881 closed

[2020-10-05 09:57] syejing commented on #36881
Running in Cpython under MAC term is no problem.

[2020-10-05 09:58] syejing commented on #36881
okay, thank you.

[2020-10-05 10:15] #36879 closed

[2020-10-05 10:45] SambhaviPD commented on #36777
@dsaxton - Thought of contributing to this issue, went through most of the files in pandas/doc/source and found them to be formatted similar to https://github.com/pandas-dev/pandas/pull/36700/files. Is this whole list complete?

[2020-10-05 11:05] TomAugspurger commented on #36860
There's a machine in my basement that runs these. It crashed a while back and I haven't had time to debug it. Hopefully this week some time.

[2020-10-05 11:23] TomAugspurger commented on #32760
This was fixed in https://github.com/pandas-dev/pandas/pull/35146, sorry.

Those other workings are from other packages, so likely nothing we can do about it.

[2020-10-05 11:23] #32760 closed

[2020-10-05 11:49] joelowj commented on #36806
I can't agree that `close='right'` results in the bin intervals being closed on the left and open on the right. Let me give a more detailed example to motivate the discussion and clarify the misconception.

If we look at an integer set. Given an integer set that are closed on both ends [1, 2, 3, 4, 5]
1. if `closed='left'`, [1, 2, 3, 4, 5) = [1, 2, 3, 4]
2. if `close='right'`, (1, 2, 3, 4, 5] = [2

[2020-10-05 12:11] jreback commented on #36186
@simonjayhawkins what's the status here? I would move all current issues on 1.1.3 to 1.1.4

[2020-10-05 12:16] simonjayhawkins commented on #36186
The blocker is py39 wheels

The most important release on 1.1.x is the last one. 1.1.3 will be short-lived.

I propose reverting the backport of py39 support (and bumping cython) and including it in the next 1.1.x release (3-4 weeks)

otherwise ready to release anytime.

[2020-10-05 12:26] simonjayhawkins commented on #36186
#36887 with mention of py39 support removed from release notes

[2020-10-05 12:31] simonjayhawkins commented on #33913
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:32] simonjayhawkins commented on #35050
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:32] simonjayhawkins commented on #30742
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:35] simonjayhawkins commented on #30790
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:37] simonjayhawkins commented on #32749
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:40] simonjayhawkins commented on #35546
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:40] simonjayhawkins commented on #35509
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:47] Liam3851 commented on #36868
You can suppress warnings in your code using warnings.catch_warnings or warnings.simplefilter. The better solution ultimately however is to get PyPDF2 not to patch python's builtin warnings module. See the PdfFileReader constructor in there. Beyond that this is not a pandas issue.

[code]

[2020-10-05 12:49] simonjayhawkins commented on #35517
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline and discussion ongoing.

[2020-10-05 12:50] simonjayhawkins commented on #35518
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:52] simonjayhawkins commented on #35527
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:53] dsaxton commented on #36777
Yes I think everything is pretty much fixed, but will probably leave open for a little bit in case anything else shows up.

[2020-10-05 12:55] simonjayhawkins commented on #35565
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:56] simonjayhawkins commented on #35563
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 12:58] simonjayhawkins commented on #35683
moved off 1.1.3 milestone (overdue) pending further discussion

[2020-10-05 12:58] simonjayhawkins commented on #35843
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 13:00] simonjayhawkins commented on #36003
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 13:01] #35625 closed

[2020-10-05 13:01] simonjayhawkins commented on #35830
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 13:02] simonjayhawkins commented on #33999
moved off 1.1.3 milestone (overdue) as no PRs to fix in the pipeline

[2020-10-05 13:06] fangchenli commented on #36469
Maybe try `pip install scikit-build`

[2020-10-05 13:07] simonjayhawkins commented on #36373
moved off 1.1.3 milestone, see https://github.com/pandas-dev/pandas/pull/36498#issuecomment-699265730

[2020-10-05 13:09] simonjayhawkins commented on #36495
moved off 1.1.3 milestone, see https://github.com/pandas-dev/pandas/pull/36668#issuecomment-699918374

[2020-10-05 13:19] lleeoo opened #36888 "BUG: to_json(lines=True) does not add a trailing newline"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-05 13:22] samdoolin commented on #36806
I think that on a discrete index (integer / whole days) the issue is not so clear. However, on a continuous index (float / datetime), we can ask very precisely where the bin interval lies.

In your preceding comment you write

You have defined the lower bin edge as `>=` (including its limit point) (i.e. closed-left) and the upper bin edge as `<` (excluding its limit point) (i.e. open-right).

[2020-10-05 13:48] cpmbailey opened #36889 "BUG: RollingGroupby no longer respects sort being disabled"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-05 13:54] Rohith295 commented on #36889
take

[2020-10-05 13:55] RedTailedHawk opened #36890 "ENH: Intermediate join results that preserve data frame alias, similar to SQL joins"
Please take a look at this stackoverflow post (this is my post) and let me know what you think.  You can answer the question if you like, but I'm guessing the answer is that there is currently no other way to handle the column conflicts other than using the suffixes keyword.

https://stackoverflow.com/questions/64126437/pandas-merges-and-suffixes

As such, I have been enhancing my Pandas code gene

[2020-10-05 14:11] Rohith295 commented on #36889
@cpmbailey the expected output for the code sample
`pd.DataFrame({'foo': [2,1], 'bar': [2, 1]}).groupby('foo', sort=False).rolling(1).min()`

[code]

[2020-10-05 14:13] Rohith295 commented on #36888
take

[2020-10-05 14:20] joelowj commented on #36806
**When you talked about open or close, you have to reference back to the original set.** In this case, `[2010-12-31, 2010-01-01, ..., 2011-01-30, 2011-01-31]` if `closed='right'` (2010-12-31, 2010-01-01, ..., 2011-01-30, 2011-01-31].

Using this simple example to motivate the discussion, given a set [1, 2, 3, 4, 5] if `closed=right'` then (1, 2, 3, 4, 5] = [2, 3, 4, 5] and `1 < x <= 5` is the same

[2020-10-05 14:51] Super169 commented on #36855
I'm sorry that I forget to remove the dummy import of my widget even I have remove all related code.

But once the line "from TableChecker import TableChecker" has been removed, it should report error KeyError: "['org_code'] not in index" in the row:
[code]

<img src=https://raw.githubusercontent.com/Super169/images/master/Others/dataframe-error.png />

The problem was caused by df_all which has i

[2020-10-05 15:20] samdoolin commented on #36806
This was what I was trying to address by pointing out that my input data sits on a "continuous" (not discrete) timeline.

No, you can't. I can always play devil's advocate and invent some new data point (e.g. at 2011-01-31 23:59:59.1) with a fractional amount of seconds (on my continuous timeline) which would then fall into the wrong bin. I maintain that the only way to define the bin interval is

[2020-10-05 15:34] xhochy opened #36893 "ENH: Pluggable SQL performance"
Currently the pandas SQL logic is using SQLAlchemy with results being returned as Python objects before being converted to a DataFrame. While the API is simple, it doesn't have good performance characteristics due to the intermediate Python objects. There exist currently some faster alternatives with inconsistent and more complicated APIs.

In addition to not having a uniform API, these implementa

[2020-10-05 15:47] phofl commented on #36855
The line

final_1 = df_all['df1'].reset_index()[org_columns]

is the Problem?

Then

import pandas as pd

df1 = pd.DataFrame({
    'org_code': ['A222', 'A252', 'B100019'],
    'dummy_code': [222, 252, 100019],
    'sub_key': [1,2,3],
    'user_name': ['mary', 'john', 'david'],
    'amount': [222, 313,  100019],
})

df2= pd.DataFrame({
    'org_code': ['S6258', 'B100019'],
    'dummy_code': [6258,

[2020-10-05 15:49] joelowj commented on #36806
@samdoolin, I am clear on what a set interval is. The example were simplified to motivate the discussion and I hope that you are not offended by the simplified example.

The issue were started because it is claim that there were inconsistency with the resampling function (when we closed on left versus right). I have shown in a few discussion using the example you have provided that the function is

[2020-10-05 16:10] samdoolin commented on #36806
I am not offended, and I thank you for your time in discussing this with me joelowj. I agree that our conversation has become somewhat tangential, and I do not claim that there is a bug in sub-second resampling.

Perhaps it would be productive to simply agree, as we have above, that `.resample('1M', closed='right', label='right')` produces bin right labels on the resampled index that are misleadin

[2020-10-05 16:35] simontorres commented on #36186
Looking forward to this release :D

[2020-10-05 16:49] TomAugspurger commented on #36186
What's the status on py39 wheels? https://github.com/MacPython/pandas-wheels/pull/100 is the blocker? I can do a bit of work here if needed.

[2020-10-05 17:03] Super169 commented on #36855
I just try to follow the minimal examples, removing those unrelated codes, and the remaining few lines can replicate the error already.  But I'm sorry that I don't know how to demonstrate the issue, but it should already been shown in the result running in this notebook.

https://github.com/Super169/sharing-github/blob/main/df_36855_err.ipynb

I have also tested in both windows and ubuntu machine,

[2020-10-05 17:08] Pzoom522 commented on #26051
Had the UK's public health system seen this issue...
https://www.bbc.co.uk/news/uk-54422505

[2020-10-05 17:12] simonjayhawkins commented on #36186
MacPython/pandas-wheels#100 is just for testing wheel build and am now closing.

There are no numpy wheels on PyPI for 3.9. Do they need to be available first?

also numpy is only build wheels for linux on nightly. so presumably need Windows and MacOS numpy wheels?

1.1.3 tagged. will release (in Github) after building documentation.

lmk if you want me to stop the release process.

[2020-10-05 17:27] jonblower commented on #36806
@joelowj Thank you for your responses to this issue, which I must admit is still confusing me, despite your careful explanations. Let me try to explain why the behaviour doesn't match what I would expect, via the simplest example I can think of (based on @samdoolin's above):

Let's create a DataFrame with hourly data from midnight on 1st Jan to midnight on 1st Feb, inclusive. This gives 745 data p

[2020-10-05 17:41] #14588 closed

[2020-10-05 18:31] PCerles opened #36895 "BUG: Merging two data frames on a datetime index where one index is Object data type"
- [X ] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [X ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to re

[2020-10-05 18:37] Meghana-12 commented on #36837
I just saw this on the [hacktoberfest](https://hacktoberfest.digitalocean.com/details) website :
"Additionally, any pull request with the` hacktoberfest-accepted` label, submitted to any public GitHub repository, **with or without** **the hacktoberfest topic**, will be considered valid for Hacktoberfest."
So, adding the` hacktoberfest` topic isn't compulsory and without the `hackoberfest` topic I

[2020-10-05 18:51] dsaxton commented on #36837
I think that sounds like a reasonable compromise. If contributors reference this issue from merged PRs that they want counted, that could also help keeping track.

[2020-10-05 19:40] simonjayhawkins commented on #36186
@TomAugspurger looks like need to tweak release scripts if want to include aarch64 wheels.

am about to release on PyPI without them, for now. so will leave this issue open.

[2020-10-05 19:42] TomAugspurger commented on #36186
OK thanks. I'm happy to wait till NumPy 3.9 wheels are out. I don't think we should build against an unreleased version.

[2020-10-05 20:33] jbrockmendel commented on #33254
Trying to tighten what DatetimeArray/TimedeltaArray `_from_sequence` accept following #36718, #36731.  The main blocker is test_from_2d_ndarray_with_dtype

[code]

The `astype` call here goes through `Block.astype` -> `astype_nansafe` -> `DatetimeArray.construct_array_type()._from_sequence(arr, dtype=dtype, copy=copy)`

A few options come to mind:

1) When dtype is passed explicitly, be less stric

[2020-10-05 20:47] rhshadrach commented on #36880
pandas calls `any` and `all` on the corresponding ndarray.

[code]

also results in "kkkk". I don't know if there is a particular reason numpy (and hence, pandas) does this.

[2020-10-05 20:52] #13346 closed

[2020-10-05 20:53] dsaxton commented on #36890
You can also do your own aliasing before the join and not rely on the suffixes keyword at all:
[code]
I think this would let you more or less exactly mimic the SQL approach.

[2020-10-05 21:16] dsaxton commented on #36895
Worked at least in 0.23.5 so marking as a regression:
[code]

[2020-10-05 21:25] RedTailedHawk commented on #36890
Hi @dsaxton, thanks for the response.

The approach you're suggesting still means that the columns in the data frames will need to change so as not to conflict with each other when they are merged.

In the SQL world, you can join lots of tables together and not have to worry about the column names, since there's a  `SELECT` clause that allows the columns to be referenced by their _original_ names

[2020-10-05 22:11] jreback commented on #36890
this is hard to do in pandas proper. but is very easy in ibis: https://ibis-project.org/docs/user_guide/sql.html

which can also run as pandas fyi

[2020-10-05 22:59] jbrockmendel commented on #34799
Just checking if I understand the idea:

Downstream library Foo has a class `ModelData` with something like a `to_frame()` method and by writing

[code]

they make `pd.dataframe` Just Work on ModelData objects?

[2020-10-06 00:04] jreback commented on #36186
i think we should release
and then when can build wheels for 3.9 can add then

[2020-10-06 00:05] jreback commented on #36186
but source is fine for 3.9 so shouldn't hold up

[2020-10-06 00:13] joelowj commented on #36806
@jonblower @samdoolin just to confirm that you guys understood that M refers to MonthEnd and not Month.

M - MonthEnd
MS - MonthBegin

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

I just checked that the behavior for M and MS are similar in this case but the range you are looking at for binning are slightly different as the parameter suggest.

[2020-10-06 00:26] nixphix commented on #36853
@hs2361 It needs to be triaged by a maintainer then you can work on it

[2020-10-06 00:39] itholic opened #36904 "REGR: change in Series.astype(str) behavior for None"
#### Question about pandas

Let's say we have a `Series` with `None` like the below.

[code]

the last value is `None`, but it is casted to `nan` after using `astype` with `str` parameter.

[code]

Is it intended behavior in pandas 1.1.1. ??

Thanks :)

[2020-10-06 01:38] isVoid opened #36907 "BUG: `NaT` does not propagate in row-wise `max` for `datetime64` rows"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Current output is
[code]
In general, missing values involved in reduction should propagate.

#

[2020-10-06 01:49] TomAugspurger commented on #34799
Yep. `functools.singledispatch` looks at the type of the first argument and dispatches off that (with a fallback default if desired). So when `pd.dataframe` encounters a `model_data`, it would call the function registered for it (which would be expected to return an initialized pandas DataFrame.

[2020-10-06 02:24] kenton18 commented on #24889
hi, i am facing the same issue about memory leak in df.to_json().

Here I am using df.to_dict() and pass it to python's json.dump, the memory use is stable
![to-json-workaround](https://user-images.githubusercontent.com/31765235/95151613-ad249000-07bd-11eb-82e1-1e7b6285b171.png)

But when I use the df.to_json()
![using_to_json](https://user-images.githubusercontent.com/31765235/95151695-e9f08700-0

[2020-10-06 02:34] jreback commented on #36893
+1 on the `engine=` idea (3) (though the 'auto' would need some thought / hints). This is in-line with other ways of selecting backends and performance.

[2020-10-06 02:52] rhshadrach commented on #36837
@dsaxton +1

[2020-10-06 02:57] rhshadrach commented on #35683
@jbrockmendel I think your PR linked above closes out this issue, is that correct?

[2020-10-06 05:20] theemathas opened #36909 "BUG: Left join is broken with a MultiIndex with only one level"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Expected Output

[code]

(Throwing an exception on the line where `bar` is created is also possibly acceptable, alt

[2020-10-06 05:37] theemathas opened #36910 "BUG: Joining data frames with MultiIndex results in non-deterministic level order."
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-06 06:04] mroeschke commented on #36889
Do you mind if I take this issue @Rohith295? I broke this in version 1.1 in this PR and have a good idea where this needs fixing: https://github.com/pandas-dev/pandas/pull/34052

[2020-10-06 07:13] Rohith295 commented on #36889
Yes. Please go ahead. I will unassign myself. @mroeschke

[2020-10-06 08:12] jonblower commented on #36806
@joelowj yes, we have understood the difference between M and MS, thanks.

The question comes down to this: into which bin would you expect `2011-01-31T05:00:00` to be placed in the case of `resample("M", closed='left')`?

I would expect this to end up in the January bin, because it's definitely before the end of the month. It's not on the month boundary. But pandas puts it in the February bin. If

[2020-10-06 08:19] joelowj commented on #36806
@jonblower the explanation is still the same. When you resample by month end, the date range of the bin (assuming closed on both end) is [2010-12-31, 2010-01-01, ..., 2011-01-30, 2011-01-31]. If you `closed='left'`, [2010-12-31, 2010-01-01, ..., 2011-01-30, 2011-01-31), i.e. we don't include any data point on 2011-01-31 in the January bin.

[2020-10-06 08:28] jonblower commented on #36806
@joelowj OK if that's really the expected behaviour. But "M" is advertised to be month end boundaries. If you're saying that `2011-01-31T05:00:00` is **after the end of January** then I find that very unintuitive, to say the least.

I think the boundaries are not actually month-end but the **start of the last day of the month**, as @samdoolin said. The boundaries are really [2010-12-31T00:00:00, 2

[2020-10-06 08:32] joelowj commented on #36806
if we include the extra precision, it would be `[2010-12-31 00:00:00, 2010-01-01, ..., 2011-01-30, 2011-01-31 23:59:59]`

[2020-10-06 08:59] Fju opened #36912 "ENH: Add option for `to_json` function to discard null values"
#### Is your feature request related to a problem?

No, at least not that I am aware of.

#### Describe the solution you'd like

The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html) states that "NaN’s and None will be converted to null" when using `pandas.DataFrame.to_json`. I'd like to have an option for the `to_json` function, so that keys

[2020-10-06 09:57] jonblower commented on #36806
OK, thank you. I can see that you consider this to be expected behaviour and I understand your explanation about the bin boundaries. I still find it unintuitive from a user point of view that datetimes in the last day of January get sorted into February in this case. I still believe the bin boundaries for "M" ought to be right at the end of the month (e.g. `2010-11-30 23:59:59.999`), not at the st

[2020-10-06 10:54] jreback commented on #12679
is this closed by #32449 ?

[2020-10-06 11:01] TomAugspurger commented on #36186
NumPy will issue a new release (1.19.3) with wheels for 3.9. Once that's out we can build pandas 1.1.3 for it: http://numpy-discussion.10968.n7.nabble.com/Python-3-9-is-out-tp48505p48507.html

[2020-10-06 11:29] simonjayhawkins commented on #36889
can confirm first bad commit: [bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6] PERF: Use Indexers to implement groupby rolling (#34052)

https://github.com/simonjayhawkins/pandas/runs/1214317396?check_suite_focus=true

[2020-10-06 11:38] TomAugspurger commented on #36893
Happy to have improvements here, and I trust your judgement on the best API for users. The `engine` proposal sounds reasonable.

[2020-10-06 12:10] simonjayhawkins commented on #36727
first bad commit: [bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6] PERF: Use Indexers to implement groupby rolling (#34052)

https://github.com/simonjayhawkins/pandas/runs/1214504866?check_suite_focus=true

[2020-10-06 12:36] AgnesBaud opened #36914 "BUG: groupby dropna for multiindex dataframe"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Hello,

I'm not sure if it's a bug report, a feature request, or if there's already another way to do it. In which case, I would be happy to hear it and close this issue.

[2020-10-06 12:38] #36914 closed

[2020-10-06 12:41] AgnesBaud commented on #36914
Sorry, my research by keywords didn't bring this issue up : #36470, which completely describe my problem.
Sorry again

[2020-10-06 13:22] erfannariman commented on #36912
I would not be perse -1 on this, since I can see the convenience of this. I have to say, you can still do this with `stack`:

[code]

[2020-10-06 13:32] martindurant commented on #36688
HTTP is the only of the "protocol://" URLs which is *not* handled by fsspec, because it already had its own code (whereas s3fs and gcs were already using fsspec second-hand).

For HTTPFileSystem, you can include `headers` as a key in `client_kwargs`, which could contain your custom user agent or anything else you want. That would look a little bit untidy, but OK
[code]

[2020-10-06 13:43] SuraviMahanta95 commented on #29135
pip install --upgrade pandas
Try this once, I was also getting the same error.

[2020-10-06 13:48] egorvavilov opened #36915 "BUG: Intersection of multiindex returns duplicates"
[code]

#### Problem description

Intersection of multiindexes **must** produce result without duplicates. According to definition the intersection of two sets A and B, denoted by A ∩ B, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A.

Version 1.0.3 gave correct output, versions 1.1.2 , 1,1,3  - not.
#### Output: Pandas 1.1.3

[2020-10-06 14:02] Hoeze opened #36916 "ENH: pd.unstack(level, values=["a", "b", "c"])"
#### Is your feature request related to a problem?

I would like to unstack only certain values from a DataFrame to know exactly which columns will be in the resulting dataframe.
For example, when the dataframe is empty, `df.unstack(0)` will just return an empty dataframe without columns:
https://github.com/pandas-dev/pandas/issues/21255

Advantages:
- predictable column layout
- subsetting for ce

[2020-10-06 14:56] jreback commented on #36916
you can just filter before the unstack
no new to add yet another api

[2020-10-06 15:14] Hoeze commented on #36916
@jreback Thanks for your answer.

However, filtering does not help if there is no value for `B`.
In this case, `B` will be missing in the resulting columns.

As written above, as an extreme example you can test unstacking an empty dataframe.

[2020-10-06 15:39] jreback commented on #36688
ok u think a PR to add an example in read_csv / io.rst would be sufficient then

@AstroMatt if u are interested

[2020-10-06 15:39] Fju commented on #36912
I don't quite understand your code example. Since the keys `"a"` and `"b"` are re-declared, wouldn't that result in overwriting the previous values and loss of data when parsing the JSON string?

[code]

Is this a bug in `to_json`? The result when running your code snippet doesn't seem to make any sense from a JSON perspective...

[2020-10-06 15:44] jreback commented on #36916
well after then

i don't really see this as very common

[2020-10-06 16:11] karuppiah7890 commented on #20432
Any suggestions on how to go about this? @mroeschke @MarcoGorelli

I noticed some files related to `loc` method in these places

code - pandas/core/indexing.py

tests:
pandas/tests/indexing/test_loc.py
pandas/tests/indexing/multiindex/test_loc.py
pandas/tests/series/indexing/test_loc.py

I still have to understand the existing tests and then write the new ones. I'm pretty new to Python 😅 Let me kn

[2020-10-06 16:13] MarcoGorelli commented on #20432
Hi @karuppiah7890

Yup, that's what I've done, I have a `pandas-dev` conda environment, feel free to ask if you have trouble setting up

[2020-10-06 16:22] Hoeze commented on #36916
Actually I end up having this problem quite often when I want to ensure that the dataframe schema keeps being propagated. Also, I cannot think of any solution to this problem beside of changing the "unstack" function.

Do you know a workaround @jreback?

[2020-10-06 16:27] erfannariman commented on #36912
It's not a bug, dictionaries cannot have duplicated keys, to the latter overwrites the first keys. So my solution actually does not work and you can ignore it.

[2020-10-06 16:32] H-SG opened #36918 "BUG: Horizontal boxplots on subplots throws ValueError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Above code snippet throws `ValueError: The number of FixedLocator locations (8), usually from

[2020-10-06 18:01] hkennyv opened #36922 "DOC: code example isn't formatted in `pandas.DataFrame.to_sql`"
#### Location of the documentation

The code example in [pandas.DataFrame.to_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html?highlight=to_sql#pandas.DataFrame.to_sql) isn't formatted properly.

(it's the example that inserts User 4 and User 5 into the db)

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.o

[2020-10-06 18:04] #36727 closed

[2020-10-06 19:14] phofl commented on #36855
Your examples return

[code]

on master. The shortened example from my comment does not raise either

Seems to be fixed

[2020-10-06 19:22] phofl commented on #36915
Hi, thanks for your report. Is related to #31326. Interesting: Behavior of MultiIndex is broken now too.

[2020-10-06 19:22] Fju commented on #36912
I see, but that means that `to_json` produces improper JSON in this scenario, doesn't it?

[2020-10-06 19:28] phofl commented on #36855
Maybe needs tests.

[2020-10-06 19:29] CrabbyPete opened #36926 "BUG:dataframe to_sql using cx_Oracle"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-10-06 20:53] jbrockmendel commented on #35683
#35777 fixed the definitely-wrong behavior where the result_type keyword was not respected, doesn't change the not-clearly-wrong behavior in the OP (which Im ok with calling not-a-bug)

[2020-10-06 21:30] dzimmanck commented on #36819
@TomAugspurger.  I agree.  I still however don't think IntEnums should be inferred as standard integers, but maybe that should be a different thread for discussion.

[2020-10-06 21:59] abmyii opened #36928 "BUG: `dict_keys` cannot be used as `pd.read_csv`'s `names` parameter"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
`test.csv`:
[code]

[code]

Error:
[code]

#### Problem description

When a `dict_keys` object is passed, the keys aren't used a

[2020-10-06 22:43] #31944 closed

[2020-10-06 22:47] #36330 closed

[2020-10-06 23:04] #36922 closed

[2020-10-06 23:15] jmauler commented on #35753
Faced the same issue here. It was working with this parameter on version 1.0.5. It's not an issue for me, because I was just reinforcing utf8 in my code to make sure codes behaves the same always, and at least here it seems like the default.
Anyways, I took the file from @staticdev , and ran in my version without the encoding parameter, and it was successfully read without any issues. So, it seems

[2020-10-06 23:32] staticdev commented on #35753
So we assume encoded is not needed anymore? I am ok with that is other people are not facing issues with that.

[2020-10-07 00:39] taylor-schneider commented on #35407
Not being able to add rows to a data structure makes no sense. It's one thing to not add the inplace argument but to deprecate the feature is nutts.

[2020-10-07 00:42] dsaxton commented on #36928
Thanks @abmyii, probably we should be making an exception for ordered sets here. PR welcome.

ref https://github.com/pandas-dev/pandas/pull/34956

[2020-10-07 01:13] Super169 commented on #36855
Thanks a lot.   May I know if master  the same as 1.1.3 which just release yesterday?
I have upgraded to 1.1.3, but still have same issue.  I can't get the result as yours.
Does it mean that I have to build from master by myself?

[2020-10-07 01:31] dsaxton commented on #36904
Thanks @itholic, this seems like a regression and is due to https://github.com/pandas-dev/pandas/pull/35519

cc @topper-123

[2020-10-07 01:36] Andres8ezau commented on #30232
Hi!  Can I help ?

[2020-10-07 01:44] #35997 closed

[2020-10-07 01:48] itholic commented on #36904
Thanks, @dsaxton :)

[2020-10-07 02:24] #35160 closed

[2020-10-07 02:43] #36541 closed

[2020-10-07 03:08] jreback commented on #36796
yes

no; I mean we *could* have .and,.or,.xor prob not very useful anyhow.

[2020-10-07 03:15] #22606 closed

[2020-10-07 03:16] yannpequignot commented on #21673
+1

[2020-10-07 03:24] #12034 closed

[2020-10-07 03:28] #33760 closed

[2020-10-07 05:21] asishm commented on #35802
@thisnamenotavailable this is fixed in pandas v1.1.3
Can you check after upgrading?

[2020-10-07 05:42] fangchenli commented on #27396
mypy=0.782
[code]

[2020-10-07 06:32] egorvavilov opened #36936 "BUG: loc with empty multiindex raises exception"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
Hi, last line of snippet throws an exception ``ValueError: operands could not be broadcast together with shapes (0,) (2,) (0,)``

[code]

#### Problem description

``.loc`

[2020-10-07 07:09] thisnamenotavailable commented on #35802
Upgraded pandas to 1.1.3 and ran the program again.

No UnboundLocalError, so it seems to be working again.

thanks for the update.

On Wed, Oct 7, 2020 at 7:21 AM Asish Mahapatra <notifications@github.com>
wrote:

[2020-10-07 08:11] apsurek commented on #35701
I am experiencing the same issue on pandas=1.1.1. I created my pickle with pandas=0.24.1 and am unable to read it using pd.read_pickle() with 1.1.1, getting the error:

  File "stringsource", line 17, in pandas._libs.tslibs.period.PeriodMixin.__setstate_cython__
TypeError: Expected tuple, got dict

Downgrading to pandas=1.0.5 solved my issue, but this is still a bug. Is there a way this issue coul

[2020-10-07 08:15] abmyii commented on #36928
PR submitted, but I don't know of a type which would work for all ordered sets, so I simply used the `abc.KeysView` which fixes the immediate issue. Is that acceptable or does more work need to be done?

[2020-10-07 08:58] Super169 commented on #36855
Just clone the source from  https://github.com/pandas-dev/pandas  and follow the instruction to install from source with cython.
Built and installed with version 1.2.0.dev0+652.gec8c1c4ec , and it can get the result as yours.
It may confirm that the problem has been fixed in mater, so I have to wait for the release of 1.2.0.

Thanks a lot.

[2020-10-07 09:00] #36855 closed

[2020-10-07 09:01] ivanovmg commented on #36469
@fangchenli, thank you. But it did not fully help in my case.

Now I get the new error:
[code]

Here is a full output. I first just tried to install from requirements, then installed ``scikit-build`` and then ran installation from requirements again.

<details>

~/code/pandas (master) $ git log -1
commit ec8c1c4ecf1f0d375d8d1287ee5cbd456852faea (HEAD -> master, upstream/master)
Author: Richard Sha

[2020-10-07 09:15] mariosum commented on #35701
Thank you for bringing this up -
I were to second that, I still experiencing the issue from above, too.

[2020-10-07 10:11] achapkowski commented on #35407
@TomAugspurger using df.loc[] requires me to know the length of the dataframe.  and create code like this:

[code]
This feel like overly complex syntax for an API that makes data operations simple.  Internally `df.append` or `series.append` could just do what is shown above, but don't dirty up the user interface.

Why not take a page from lists, the `append` method is quick because it has pre-allo

[2020-10-07 10:48] frenzymadness commented on #36186
Python 3.9.0 final has been released yesterday so it would be nice to have wheels for it. Thank you for working on it.

[2020-10-07 10:57] nahuelalmeira commented on #35753
@twoertwein In my case, the files ended up being successfully read.

[2020-10-07 11:04] TomAugspurger commented on #35407
`loc` requires you to know the *label* you want to insert it at, not the length.

You could perhaps suggest that to NumPy. I don't think it would work in practice given the NumPy data model.

[2020-10-07 11:22] achapkowski commented on #35407
Is Numpy deprecating the `append` method?  If not, why deprecate it here?

Numpy doc: https://numpy.org/doc/stable/reference/generated/numpy.append.html

[2020-10-07 11:33] #35847 closed

[2020-10-07 11:34] jreback commented on #36936
i believe this is fixed in master

pls check

[2020-10-07 11:51] charlesdong1991 commented on #36918
@H-SG PR is welcome!

[2020-10-07 12:16] Djeramon opened #36939 "BUG: Get_period_alias(offset_str) function behaves inconsistent"
`Get_period_alias(offset_str)` function behaves inconsistent
---

[code]

#### Problem description

The `Get_period_alias(offset_str)` behaves inconsistent for different frequencies. See code sample for examples. The offset information (JAN, FEB, MON, TUE, ... ) should be removed. The issue should be easy to resolve by modifying the following lines:

https://github.com/pandas-dev/pandas/blob/1f671

[2020-10-07 12:34] fangchenli commented on #36469
The next thing I would try is to make sure pip is updated.
[code]

[2020-10-07 12:38] lgelmi opened #36940 "REGR: DateOffset attributes update fails with no errors."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample

[code]

#### Problem description

I need to dynamically change some of the DateOffset attributes and just setting them seems like the most intuitive thing to

[2020-10-07 13:49] seth-p commented on #35830
Any chance of this getting fixed?

[2020-10-07 13:58] TomAugspurger commented on #35830
https://github.com/pandas-dev/pandas/pull/35478 is perhaps addressing it, though it's not clear that the current behavior is incorrect. IMO, we `__getitem__` should follow the semantics of `dict.__getitem__`, where `date` objects aren't treated as datetime objects at midnight.

This is complicated a bit by partial string indexing, but I still think there's reason to be stricter here, given the amb

[2020-10-07 14:06] seth-p commented on #35830
My thoughts:
1. I think `s[datetime.date(YYYY, MM, DD)]` should behave the same as `s['YYYY-MM-DD']`. As for what that behavior should be when the `DatetimeIndex` contains non-midnight timestamps, I don't know.
2. In my case (which I suspect is quite common) the `DatetimeIndex` consists solely of `'YYYY-MM-DD 00:00:00'` timestamps, so the ambiguity doesn't arise.

By the way, note that `s[datetime

[2020-10-07 14:23] itamarst commented on #36708
One useful thing is that NumPy master now has type annotations, and next release will hopefully make that public, so that should help some.

[2020-10-07 14:43] erfannariman commented on #36912
You could argue that, but that would be a discussion for another ticket in my opinion. Implementing your solution would be quite tricky on first check I did, since it depends on `json.dumps`. Which will eventually come down to a [loopy implementation](https://stackoverflow.com/questions/4255400/exclude-empty-null-values-from-json-serialization). But I might be wrong.

[2020-10-07 15:00] #33930 closed

[2020-10-07 15:08] #36765 closed

[2020-10-07 16:24] erfannariman opened #36944 "ENH: add string method remove prefix and suffix, python 3.9"
Opening this issue for discussion:

Since python 3.9 is out, and we have the new [string methods](https://www.python.org/dev/peps/pep-0616/) `removeprefix` and `removesuffix`, it would be nice to add them to the pandas string methods as well
[code]
An argument not to add this is that it's pretty easily to achieve with `str.split`:
[code]

[2020-10-07 16:37] dsaxton commented on #36940
This assignment was raising an error in 1.0.5

[code]

and looks like this exception was removed in https://github.com/pandas-dev/pandas/pull/34167. @jbrockmendel should this still be raising?

[2020-10-07 17:13] DorianCzichotzki opened #36947 "QST: Use object property as key?"
Is there a way to use a property of an object as the key when providing the object to a DataFrame?
I think the code makes clearer what I am looking for.

[code]

[2020-10-07 17:15] Ayushihelloworld commented on #30232
Sure

On Wed, Oct 7, 2020 at 7:06 AM Andrés Hernández <notifications@github.com>
wrote:

[2020-10-07 17:49] pganssle opened #36948 "REGR: Dataframe.agg no longer accepts positional arguments as of v1.1.0"
Currently, passing any positional arguments to the `*args` parameter of `DataFrame.agg` fails with a `TypeError`, but the documented behavior is that positional and keyword arguments are passed on to the function that you are aggregating with. A minimal reproducer:

[code]

This is a regression introduced in v1.1.0, which was introduced in 433c9007781080658553fbef1a4d0c2813b404c0 (GH-34377), and i

[2020-10-07 17:54] jorisvandenbossche opened #36951 "REGR: resample apply fails with KeyError/AttributeError for function that works on DataFrame but fails on Series"
A resample `apply` accessing a column of the subsetted dataframe fails (bubbling up the error from first trying the function on a single column, i.e. a Series):

[code]

This seems a regression, or was there a deliberate change in `apply` to only apply it on the columns and no longer on the full DataFrame ?
cc @jbrockmendel

[2020-10-07 18:04] jorisvandenbossche opened #36953 "REGR: slicing an irregular DatetimeIndex with NaT fails with AssertionError"
This seems to be triggered in a very specific case, i.e. an irregular time series and a missing value as last element in the index:

[code]

[2020-10-07 18:41] MarcoGorelli opened #36956 "Add optional ./ci/code_checks.sh pre-commit"
xref https://github.com/pandas-dev/pandas/pull/36722#issuecomment-704655928

[2020-10-07 19:24] seberg commented on #35481
We have merged the hack into NumPy, so hopefully you can remove the xfail from the test when the next "nightly" build is pushed (I think on Saturday).

In the long run, I do want to change this, and I do think it would be good to not rely on the try/except in pandas. But I admit that seems tricky and likely not something useful to address, maybe in particular before the NumPy dtypes have not evolv

[2020-10-07 19:43] jbrockmendel opened #36957 "API: series.values EA or ndarray[object]?"
ATM `Series[categorical].values` gives a Categorical and `Series[sparse].values` gives a SparseArray.  Interval, Period, and DatetimeTZ get cast to ndarray[object].  3rd party EAs return the EA.

We should choose one or the other.  I have no real preference which.

[2020-10-07 19:47] CloseChoice commented on #36953
Do you know in which version this still worked?

[2020-10-07 19:48] jbrockmendel commented on #36947
No, but I think if you do `df = pd.DataFrame({key: [1, 2, 3, 4]})` then `df[key]` works just fine

Longer term, #11723 might make this feasible.

[2020-10-07 19:51] jorisvandenbossche commented on #36953
In 1.0.x it still works, so regression in 1.1.x

[2020-10-07 20:00] TomAugspurger commented on #36957
This has been split into `Series.array` for the extension array (or a no-copy wrapper around it for NumPy types) and `Series.to_numpy()` for an ndarray. I believe the docs strongly recommend one of those over `.values`.

I personally don't have a desire to deprecate `.values` given the amount of code out there already using it, but don't have too strong of an objection if someone were to.

[2020-10-07 20:39] joshtemple commented on #36743
The expected syntax for multiple parquet files should probably follow the wildcard approach you can use on GCS, e.g. `gs://bucket/path/*` instead of `gs://bucket/path`.

For example, the wildcard would be required if you were loading those files from Parquet on GCS into BigQuery.

[2020-10-07 21:41] jbrockmendel commented on #35830
This is incorrect as is, should be deprecated.

[2020-10-07 21:48] jbrockmendel commented on #36951
i dont think this was intentional

[2020-10-07 22:11] jbrockmendel commented on #36507
To the extent that this can be addressed separately, we should do that.  i.e. i don't want to have to think about two things at the same time

IIRC there was a discussion of deprecating as_index altogether, but im having trouble finding it.

[2020-10-07 23:27] simontorres opened #36963 "BUG: Still getting blank when using `pandas.Series.to_string(index=False)`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-08 00:03] erfannariman commented on #36963
This looks fixed on master and when I check the PR, the milestone was set to 1.2. So the fix is not yet added in `1.1.3`.

[2020-10-08 00:08] dsaxton commented on #36963
Seeing the same thing, closing as fixed

[2020-10-08 00:08] #36963 closed

[2020-10-08 00:09] GabrielSimonetto commented on #31954
take

[2020-10-08 00:44] rhshadrach commented on #36507
@jbrockmendel Issue is #35860, I closed upon seeing mild opposition that ultimately included myself.

[2020-10-08 00:46] #36583 closed

[2020-10-08 00:59] #36344 closed

[2020-10-08 01:14] simontorres commented on #36963
Thanks!

[2020-10-08 01:23] #10492 closed

[2020-10-08 05:49] chasnew commented on #19671
[code]

**Problem description**
Hi, I still found the auto convert issue in iterrows or index in pandas version 1.1.2. The string '1809' is converted to '1809-01-01'.

Thanks.

[2020-10-08 05:59] yonashub opened #36970 "DOC: improve description of the examplewhich dataframe has two rows"
#### Location of the documentation

[this should provide the location of the documentation, e.g. "pandas.read_csv" or the URL of the documentation, e.g. "https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mode.html"]

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

[this should pr

[2020-10-08 07:06] attack68 commented on #20824
If anyone else comes across this issue, FWIW I employ the following solution pending a Pandas bug fix:
[code]

col1 | col2 | col3 | col4
-- | -- | -- | --
1 | NaN | 1 | 1
2 | 2 | 2 | 2
0 | NaN | 0 | 0

[2020-10-08 07:28] ivanovmg opened #36972 "BUG: warning when using colors 'CN'"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-08 07:34] lgelmi commented on #36940
Would you like me to also add a PR for an "update" method which takes a dictionary of fields to be replaced and returns a new updated DateOffset?
I need to write it anyway for my application! :D

[2020-10-08 08:03] ant1j opened #36973 "BUG: merge with MultiIndex including a CategoricalIndex returns wrong result when values are ordered specifically"
#### Code Sample

[code]

output:
[code]

#### Problem description

The merge should not return NaN for the ('C', 'P1') value available in df2 for the left merge.

This happens only:
- when `p` is Categorical: leaving the column as object/string gives the right result
- when category values are ordered as such (decreasing lexicographic order), **but** the `ordered` argument does not change the res

[2020-10-08 08:13] pablobd opened #36974 "BUG: InvalidIndexError when doing fillna with index that is repeated in df but not in fillna argument"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I get an InvalidIndexError on pandas 1.0.3 when doing fillna to a DataFrame with repeated indexes and using a DataFrame with the same index but without repetitions.

####

[2020-10-08 09:58] DriesSchaumont opened #36975 "BUG: mask() and where() do not work pandas.core.arrays.boolean.BooleanDtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-08 10:45] GB-kushagra opened #36976 "BUG:300"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-08 11:01] Jacques2101 opened #36977 "rename function with agg"
I just update to 1.1.3 and it seems that there is a problem (bug?) to rename function after an aggregate call. All the functions call are named <lambda> so I can't use rename as previously.
How can I do to rename my function ?
I cannot do anymore
[code]
(this is of course an example of functions names)

[code]
#### Output
			A	B
	sum		12	27
	<lambda>	12	27
	<lambda>	12	27

#### Expected Output

[2020-10-08 12:33] tpllaha opened #36980 "BUG: Pandas closes user-provided file handles that it doesn't own."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
`read_csv` closes user-provided file handles in specific cases. In particular, if we pass a `BytesIO` or a file opened in binary mode, **and** pass an `encoding` kwarg. If

[2020-10-08 12:34] tpllaha commented on #14418
done in #36980

[2020-10-08 13:31] TomAugspurger commented on #36975
Thanks for reporting. I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/35429 and https://github.com/pandas-dev/pandas/issues/36395. Let me know if not.

[2020-10-08 13:31] #36975 closed

[2020-10-08 13:31] gimseng commented on #36880
This seems to have happened before in #12863 (see also #30416).

I don't get the impression that its fixed though, so we either can figure out what's going on here or close this and continue the discussion there.

[2020-10-08 13:33] TomAugspurger commented on #36977
I believe the old behavior was considered a bug (xref https://github.com/pandas-dev/pandas/issues/36189). I didn't follow that issue though, so can you confirm that @charlesdong1991?

[2020-10-08 13:34] gimseng commented on #36880
On numpy, a related [issue](https://github.com/numpy/numpy/pull/11857).

[2020-10-08 13:34] TomAugspurger commented on #36976
Can you fill out the issue template and ping me? Then we can reopen.

[2020-10-08 13:34] #36976 closed

[2020-10-08 13:37] dsaxton commented on #36940
Thanks for the suggestion, but I don't we'd need to add such a method to pandas since that's really the function of the constructor.

[2020-10-08 13:40] TomAugspurger commented on #36974
`DataFrame.fillna(dataframe)` seems to be expect that `value` be indexed like `self`. You can work around this with

[code]

It's not clear to me, but perhaps `fillna` should do that for you? Can you maybe look at the code and see @pablobd?

[2020-10-08 13:46] gimseng commented on #35450
Is this related to #36880? (also see  #12863 and #30416).

[2020-10-08 13:57] lgelmi commented on #36940
Well, it would just be a factory method that calls the constructor without the user needing to know about the low level details of DateOffset, as I had to.

[2020-10-08 14:15] TomAugspurger commented on #36880
Let's close in favor of https://github.com/pandas-dev/pandas/issues/12863 / https://github.com/numpy/numpy/pull/11857 to keep the discussion in one place (per project).

[2020-10-08 14:15] #36880 closed

[2020-10-08 14:16] TomAugspurger commented on #36947
This would be subsumed by https://github.com/pandas-dev/pandas/issues/11723, so let's have the discussion there.

[2020-10-08 14:16] #36947 closed

[2020-10-08 14:20] TomAugspurger commented on #11723
IMO, we shouldn't use this in pandas itself. Indexing is complicated enough without aliases.

We'd be better served by adopting / defining a convention (similar to how xarray uses [CF conventions](http://cfconventions.org/)) for mapping column names to descriptive names. These could be stored in the `DataFrame.attrs` dict which (should) propagate through operations. Then downstream libraries (e.g.

[2020-10-08 15:27] gabicca opened #36983 "BUG: Index of an empty Series cannot be compared to a Timestamp anymore"
- [Y] I have checked that this issue has not already been reported.

- [Y] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In pandas 1.1.2 the above test passes, while in 1.1.3 it throws an error on line  5:

Error i

[2020-10-08 15:30] charlesdong1991 commented on #36977
Thanks @Jacques2101 for the issue post!!

Yes, the old behaviour was considered as a regression bug, see the discussion in https://github.com/pandas-dev/pandas/issues/36189#issuecomment-689799629

so to summarize, the index shouldn't be changed (at least for now), and such change (`lambda_0`) was shortly exposed to the public and has been fixed in 1.1.3

I hereby close the issue, but please feel f

[2020-10-08 15:30] #36977 closed

[2020-10-08 15:39] twoertwein commented on #36980
@tpllaha thank you for the report! I thought master wouldn't have that problem anymore, but `pandas.read_csv(bytes_io_2, encoding='utf-8')` still seems to close that file handle

[2020-10-08 17:19] Jacques2101 commented on #36977
ok. It was great to have an index to change the name after...
I tried to change my code to (this is a toy data. Mine are more complicated) :
[code]

but now I have as output this. How to have the value of the function ?
Thx

A | B
-- | --
<function func.<locals>.<lambda> at 0x7f96bbd9... | <function func.<locals>.<lambda> at 0x7f96b51c...
<function func.<locals>.<lambda> at 0x7f96b51c... | <functi

[2020-10-08 17:30] charlesdong1991 commented on #36977
probably you've simplifed a lot for the example, based on your example, it looks like you don't need to put a function for this, what if you remove the function, and apply directly with series, something like:
[code]
i think this should return result?

[2020-10-08 17:39] Jacques2101 commented on #36977
indeed I have a result this time  but I lost the name of the function and it was my objective.

	A	B
lambda>	120	270
lambda>	4	9

[2020-10-08 17:40] Jacques2101 commented on #36977
my functions and data look more like that :
[code]

[2020-10-08 17:41] PedroGFonseca opened #36984 "BUG: replacing a string with None causes an unexpected forward fill"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-08 17:42] PedroGFonseca commented on #36984
Note: replacing with np.nan does not cause this problem.

[2020-10-08 17:54] Jacques2101 commented on #36977
my data are more like that :
[code]

[2020-10-08 17:56] Jacques2101 commented on #36977
my data and functions  are more like that :

[code]
I have data with your solution but I lost again the name function (here f1, f2)

[2020-10-08 18:04] charlesdong1991 commented on #36977
thanks for your follow-up. @Jacques2101

it is not supported to have the renamings by providing index names in series

as said, it is not supported this way. A quick solution would be below which I think is as simple as `df.rename`.
[code]

[2020-10-08 18:10] Jacques2101 commented on #36977
it works. It was simpler than I thought...thx
can I ask you an other thing :
in the 'perf' function I calculate the performance (based on weekly data whereas my data is daily) but I would like also have a function that calculate the calendar performance. I mean the performance between the last day of 2018 and last day of 2019 (the  year is an input of my function).
Do you have any idea ?

[2020-10-08 18:43] dsaxton commented on #36983
I'm not sure what the expected output would be here. We're comparing a RangeIndex to a single timestamp, which as far as I can tell should be raising. If you use a DatetimeIndex instead this works fine.

[2020-10-08 18:53] jrm5100 opened #36986 "BUG: ExtensionArray `test_unstack` assumes missing values are nan"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-08 19:26] jbrockmendel commented on #33455
It looks like a lot of these come down to mypy not knowing that cache_readonly is property-like.  could we make a stub file just for that?

[2020-10-08 19:39] simonjayhawkins commented on #33455
sure.

i've got https://github.com/pandas-dev/pandas/compare/master...simonjayhawkins:cache_readonly that might help. can't remember if it works though!

[2020-10-08 19:48] WillAyd commented on #36507
I am -0 with maybe a slight -1 on this, only because this keyword isn't very clearly defined and should probably be deprecated instead of invested in further. I assume what you are looking for is just `df.groupby(...).reset_index()` at the end of the day right?

[2020-10-08 19:57] asishm commented on #36984
this is documented behavior.

to replace with None, you need to do ` df.replace({'': None})` per the docs

![image](https://user-images.githubusercontent.com/1978117/95507067-dccec600-097e-11eb-8e63-83b693d5e16c.png)

perhaps making it a bit more clearer in the docs might help?

[2020-10-08 20:31] maroth96 opened #36991 "BUG: MultiIndex loses category after .stack()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Categorical types within a MultiIndex should be preserved after calling .stack().

#### Expec

[2020-10-08 20:43] twoertwein commented on #36980
@tpllaha if you need a quick workaround, only the c engine is affected. Until it is fixed, you can use `engine='python'`

[2020-10-08 21:03] tomaszps commented on #35226
take

[2020-10-08 21:10] #36940 closed

[2020-10-08 21:13] #36860 closed

[2020-10-08 21:58] jbrockmendel commented on #33455
hmm looks like this mostly works, but doesn't play nicely with having some subclasses use property and others cache_readonly

[2020-10-08 22:01] #36986 closed

[2020-10-08 23:53] jbrockmendel commented on #36983
duplicate of #35548?

[2020-10-09 00:13] tyler555g commented on #33414
Is there a workaround for this? I would prefer to just have everything stay as string. This causes issues when trying to interpret data where leading zeroes are important.

[2020-10-09 00:46] #36889 closed

[2020-10-09 02:27] asishm commented on #27737
dupe of #10018

[2020-10-09 03:23] rhshadrach commented on #36944
+1

@erfannariman Your alternative to `removeprefix` will not work on any input, e.g. `str_str_string1` or `other_str_string1`.

[2020-10-09 03:51] jbrockmendel commented on #34479
ATM i lean towards deprecating the nanops behavior and not supporting any/all for either dt64 or td64.

If numpy were to implement it for td64 id be OK with matching that.

We should also look at consistency with `tda.astype(bool)`, which we apparently do support (though looks like Index gives object-dtype whereas DTA/TDA give bool-dtype)

[2020-10-09 07:40] AslanDevbrat opened #37000 "BUG: Pandas Dataframe is converting float variable to integer"
- [ Done ] I have checked that this issue has not already been reported.

- [ Done ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for u

[2020-10-09 07:47] MarcoGorelli commented on #37000
HI @AslanDevbrat - thanks for the report, could you please provide a reproducible example? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports how to write minimal bug reports

[2020-10-09 08:03] gabicca commented on #36983
Indeed DatetimeIndex works. And as you say, it probably makes more sense than letting the comparison work between  non-datetime indices and timestamps. Python, however allows it once timestamp is converted into an array: ```op(self._values, np.asarray(other))``` this doesn't break.

So I was wondering if accidentally a new bug was introduced with the change. This was a patch release and I certainl

[2020-10-09 08:05] gabicca commented on #36983
Yes, I looked at that issue. However, I know for sure that our code started to break with the newest release, and that it is breaking because of the change in the PR I linked in my submission.

In my case, I found that the mocks used in the tests we had (the ones now breaking) did not resemble the original thing well enough, which indeed uses DatetimeIndex for empty series. So after fixing that, t

[2020-10-09 08:05] gabicca commented on #36983
Please, feel free to close this issue, if you think the current behaviour is intentional and is as expected.

Thanks for the replies!

[2020-10-09 09:02] MarcoGorelli commented on #36651
Closing, please let us know if you're able to provide any more info and we'll reopen

[2020-10-09 09:02] #36651 closed

[2020-10-09 09:03] erfannariman commented on #36944
True, but you could solve that with: `str.split('_', n=1).str[-1]`

[2020-10-09 09:39] DriesSchaumont commented on #36975
@TomAugspurger  I seem to have missed those. Thanks!

[2020-10-09 11:14] treuherz opened #37001 "VIS: Allow xlabel and ylabel in DataFrame.plot.scatter plot and hexbin plot"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample
[code]

#### Problem description

In #34223 (released in 1.1.0), the ability to set `xlabel` and `ylabel` in `DataFrame.plot()` was added. This works fin

[2020-10-09 11:39] AslanDevbrat commented on #37000
Hey, actually the problem lies in the initialization step.
I have initialized like `df_mle = pd.DataFrame (0, columns = [*vocabluray_dict],index=[*vocabluray_dict])`

Then I changed 0 to 0.0 like this `df_mle = pd.DataFrame (0.0, columns = [*vocabluray_dict],index=[*vocabluray_dict])`
and this resolved my issue.

[2020-10-09 11:39] #37000 closed

[2020-10-09 12:20] charlesdong1991 commented on #37001
thanks @treuherz for the report

Indeed, scatter plot doesn't support `xlabel` and `ylabel` like other plots (e.g. line, bar etc which inherits MPLPlot under the hood).

so it is not a bug, just not implemented yet. i think it's quite easy to implement those two features, do you want to give it a try for a PR?

[2020-10-09 12:33] treuherz commented on #37001
Sure, I had some time over lunch to dig and I think I've found the offending function in `PlanePlot`:
https://github.com/pandas-dev/pandas/blob/a313f7ff5c003bc14fa36714d41c9842209b4e6a/pandas/plotting/_matplotlib/core.py#L923-L926

Happy to take a stab at a PR, give me a couple of days.

[2020-10-09 12:57] charlesdong1991 commented on #37001
you are very welcome! and just take your time for the PR! @treuherz

you could also assign it to yourself so that everyone knows you are working on it :)

[2020-10-09 13:32] #36948 closed

[2020-10-09 13:55] pablobd commented on #36974
@TomAugspurger the work around doesnt seem to help, as `df_fillna` has less rows than `df`.  To make it simpler, imagine `df` is a dataframe where each row represents the squared meters of a house (which has some missing data), and we have houses from several cities. `df_fillna` is a dataframe with a row per city and a value to fill the missing of a house for the given city.

[2020-10-09 14:27] simonjayhawkins commented on #36953
first bad commit: [4ac1e5ff015430795ca89f01f9a2ed38038f9563] CLN: assorted cleanups (#31938) where the assertion was added cc @jbrockmendel

[2020-10-09 14:29] simonjayhawkins commented on #36953
duplicate of https://github.com/pandas-dev/pandas/issues/35509 so closing

[2020-10-09 14:39] jorisvandenbossche commented on #36953
It's probably the same underlying cause, it's a different use case, so reopening to ensure we also test this when fixing the bug.

[2020-10-09 14:41] simonjayhawkins commented on #36953
@jorisvandenbossche in that case, probably need to make the code sample more minimal and reproducible, i.e. remove the randomness or seed.

[2020-10-09 14:41] jorisvandenbossche commented on #36953
But @simonjayhawkins thanks a lot for finding the cause! (seems just the assert that was added that we might be able to remove)

[2020-10-09 14:42] jorisvandenbossche commented on #36953
The randomness doesn't matter really; I think I quite clearly described the case when this occurs: irregular (no freq) and NaT as last element

[2020-10-09 14:44] jorisvandenbossche commented on #36953
Updated the top post with some fixed numbers instead of the np.random.randn()

[2020-10-09 15:02] denck007 commented on #36508
@dcsaba89 Apparently it is using the unbiased standard deviation, see #34437 for info.
@jreback This behavior is unexpected and is not documented. The expected behavior should be the defaults of the ```agg_func```. This seems to only happen when using ```np.std```. I cannot find any reference to this behavior in the docs or even in the [code base itself](https://github.com/pandas-dev/pandas/blob/1

[2020-10-09 15:47] #27613 closed

[2020-10-09 15:50] TomAugspurger commented on #18463
I think this also affects pd.NA.

[code]

A keyword to control this would be great. Based on the recent experience with `check_freq`, we should perhaps not make things strict by default. But we could do non-strict + a warning by default, with the option to override in the function or via a global option.

[code]

[2020-10-09 16:26] jbrockmendel commented on #27421
is this active/actionable/closeable?

[2020-10-09 16:32] jbrockmendel commented on #19705
@TomAugspurger is this closed by #19705?

[2020-10-09 18:26] TomAugspurger commented on #27421
Let's assume closable.

[2020-10-09 18:26] #27421 closed

[2020-10-09 18:37] PedroGFonseca commented on #36984
Thanks for the fast answer. I would suggest that it may cause some silent errors, given that it does not fail.

The behavior does indeed make sense, and it was 100% my mistake, but I fear that having "pad" as the default method may result in unexpected behaviors. Would it not make sense for it to not have a default method, and make the user make an explicit decision?

[2020-10-09 19:32] alexifm opened #37011 "BUG: Incorrect data when modifying a dataframe column with +="
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Get the column as a series and modify inplace with `+=`:
[code]

Modify the column directly with `+=`:
[code]

#### Problem des

[2020-10-09 19:51] coelhudo opened #37012 "DOC: pandas.Index.astype says it raises ValueError instead of TypeError"
#### Location of the documentation

The documentation is located at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.astype.html

#### Documentation problem

The documentation says " When conversion is impossible, a ValueError exception is raised." However, checking the code it can be seen that a TypeError is raised instead of ValueError.

#### Suggested fix for documentatio

[2020-10-09 20:02] #35869 closed

[2020-10-09 21:10] dsaxton commented on #37011
I think this might be the same as https://github.com/pandas-dev/pandas/issues/36373

[2020-10-09 21:12] alexifm commented on #37011
Yea.  Good eye.  My search didn't surface this.  Thanks.  Will work around and wait for the update.

[2020-10-09 21:13] #19492 closed

[2020-10-09 21:20] phofl commented on #36936
It raises for me too. On master.

[code]

[2020-10-09 21:26] asishm commented on #36984
I would agree that the behavior is confusing. Not sure what the rationale was for this specific scenario.

A behavior change would probably need to be discussed (and then maybe go through a deprecation cycle if there is consensus).

[2020-10-09 21:32] dsaxton commented on #37011
Going to close as a duplicate, hopefully the fix will be out for 1.1.4

[2020-10-09 23:41] jbrockmendel commented on #36983
The current behavior is correct

[2020-10-09 23:43] jreback commented on #36508
see #13344 and #31372

if you want to submit a doc fix more than happy to take it

though pls search first iirc it's already there

[2020-10-10 03:14] GYHHAHA opened #37020 "ENH: allow NaN value in str.place"
[code]

Now both `str.replace(pd.NA,0)` and `str.replace(0,pd.NA)` raise.

I think it will be better to allow these replacements since `replace` method can handle this.

[2020-10-10 06:27] mroeschke opened #37022 "PERF: Investivate potential performance improvements for rolling min/max"
https://github.com/pandas-dev/pandas/pull/36567 eliminated fixed rolling window algorithms and unfortunately had a ~3x performance penalty towards rolling min/max. Investigate whether there are performance gains to be had now that we are using the variable algorithms.

[2020-10-10 07:40] #37012 closed

[2020-10-10 08:21] tnwei commented on #26223
Yup this issue is solved in #31466, think we can close this.

[2020-10-10 08:46] tnwei commented on #26637
@MomIsBestFriend I don't think so, since the linked PR does not clarify the meaning of `pandas_version`. Linking a separate PR specific for this open issue.

[2020-10-10 09:17] preyash2047 commented on #16854
Here is the documentation for that" https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sub.html

[2020-10-10 11:26] erfannariman opened #37028 "BUG: DateOffset replaces month with given value instead of adding it to the current month."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

DateOffset replaces the month instead of adding to the current month
#### Expected Output
[co

[2020-10-10 11:48] #37028 closed

[2020-10-10 12:08] erfannariman commented on #37020
Why would we not just use `fillna` here?

[2020-10-10 13:16] hongshaoyang commented on #29203
take

[2020-10-10 13:19] GYHHAHA commented on #37020
Yes, `str.replace(pd.NA,0)` can be replaced by `fillna`.

Only need to consider `str.replace(0,pd.NA)`, thanks.

[2020-10-10 14:02] hongshaoyang commented on #21004
take

[2020-10-10 14:54] netchose opened #37031 "PERF: Memory leaks after migrating from 0.25.3 to 1.1.3"
hi,
#### Code Sample,

[code]

#### Problem description

os : Ubuntu 16.04.7 LTS
Python 3.8.1 (default, Jan  6 2020, 09:57:21)
[GCC 5.4.0 20160609] on linux

after migrating from 0.25.3 to 1.1.3 the memory usage increase  after each method call

back to 0.25.3 the script the memory usage is stable

the source of dataframe is Pandas.read_sql.
the goal of the script is to convert a dataframe to Elas

[2020-10-10 15:05] dsaxton commented on #37020
Replacing with NA can be done using mask (or where):
[code]

[2020-10-10 15:08] GYHHAHA commented on #37020
Good, thanks!

Close.

[2020-10-10 15:08] #37020 closed

[2020-10-10 15:58] justinessert commented on #36040
Issue resolved with PR [36567](https://github.com/pandas-dev/pandas/pull/36567)

[2020-10-10 16:44] asishm commented on #31821
related xref: #35713

[2020-10-10 16:46] #35744 closed

[2020-10-10 16:46] mroeschke commented on #36040
We'll officially close this issue with your PR in #37035

[2020-10-10 17:17] mroeschke commented on #26223
Yes, thanks!

[2020-10-10 17:17] #26223 closed

[2020-10-10 17:26] #25187 closed

[2020-10-10 17:40] #32441 closed

[2020-10-10 17:45] #36928 closed

[2020-10-10 18:24] #36904 closed

[2020-10-10 19:17] Michael-E-Rose commented on #18326
The bug is still around with pandas 1.0.3:

[code]

Must I open a new issue?

[2020-10-10 19:41] #35409 closed

[2020-10-10 20:07] bala-analytics commented on #28013
Not able  to reproduce this example.  Getting
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-4-ef84cee80b48> in <module>
      9     df.at[i, 'Company'] = f"<a href='{df.at[i, 'URL']}'>{df.at[i, 'Company']}</a>"
     10 df.drop('URL',axis=1, inplace=True)
---> 11 HTML(df.to_html(

[2020-10-10 20:57] jbrockmendel commented on #36957
so you're suggesting keeping the status quo and just encouraging people not to use .values? works for me

[2020-10-10 21:15] dsaxton commented on #36983
Closing as not a bug

[2020-10-10 21:15] #36983 closed

[2020-10-10 21:20] jreback commented on #36957
why we do a DeprecationWarning in .values for a while?

[2020-10-10 21:26] jreback commented on #36983
i think we have a better error message here (and tests to lock it down)

[2020-10-10 22:24] #36777 closed

[2020-10-10 22:27] #36796 closed

[2020-10-10 22:29] #34150 closed

[2020-10-10 22:30] #36040 closed

[2020-10-10 22:32] #34725 closed

[2020-10-10 22:33] #36972 closed

[2020-10-10 22:55] #36888 closed

[2020-10-10 23:07] #32590 closed

[2020-10-11 02:35] dheeman00 commented on #11166
I tried this approach and was able to upload large data files. But when I checked the dimension of the dataframe I saw that the number of rows have increased. What can be the logical regions for that?

[2020-10-11 02:52] jbrockmendel commented on #25396
cc @jschendel ?

[2020-10-11 05:41] arw2019 commented on #13016
xref   https://github.com/PyTables/PyTables/issues/592

[2020-10-11 05:46] arw2019 commented on #20594
Confirming this exists on 1.2 master

#### Output of pd.show_versions()
<details>

INSTALLED VERSIONS
------------------
commit           : c8aea2c20f0c8be8dbdeb66d5ca023a8460592db
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-48-generic
Version          : #52-Ubuntu SMP Thu Sep 10 10:58:49 UTC 2020
machine          : x86_64
processor

[2020-10-11 05:51] sharvanir commented on #35211
hi @jeroenbrouwer looks like an issue with python's last module, trying to find a workaround

[2020-10-11 07:10] dverney commented on #36828
The problem has just happened again...

After analyzing the access logs of s3, the PUT requests all have a status of "200" ... The availability of the s3 service is therefore excluded, and the "df.to_csv()" command seems to behave as expected.

The dataframe that I want to write comes from reading a regularly updated csv (every 10 seconds or so) from s3 itself. The behavior that I observe could th

[2020-10-11 07:38] mroeschke opened #37051 "DOC/PERF: Decide how to handle floating point artifacts during rolling calculations"
Currently we have a check here that artificially handles a numerical precision issue in `rolling.var` and `rolling.std` where our rolling variance calculation is carrying forward floating point artifacts. Ideally we should be using a more numerically stable algorithm (maybe Kahan summation) so this check isn't so arbitrary.

https://github.com/pandas-dev/pandas/blob/601eff1768380313ec452ba8677cc7e

[2020-10-11 10:56] treuherz commented on #37001
take

[2020-10-11 14:50] onshek opened #37053 "CLN: unify numpy.random-related imports"
#### Location of the imports
https://github.com/pandas-dev/pandas/blob/8a25b23dd69d1e24840337797e1d20184920b5f3/pandas/tests/plotting/test_hist_method.py#L3-L4

#### Imports problem
~~All numpy-related imports are only about `numpy.random` including `randint`, `choice`, `normal`, etc~~
Part of numpy.random-related imports use aliases

#### Suggested fix for imports
eg: ~~`import numpy as np ` && `

[2020-10-11 14:56] jreback commented on #37053
yeah this would be fine to change
but if we do then pls implement a code_check to enforce this

[2020-10-11 15:27] ukarroum commented on #37051
Would like to try working on that is possible.

[2020-10-11 15:27] ukarroum commented on #37051
take

[2020-10-11 15:40] Dr-Irv commented on #34141
@m-lal Can you please illustrate what results are "wrong" (i.e., what "doesn't work") vs. what you expect to happen?

[2020-10-11 15:40] jbrockmendel commented on #29602
@simonjayhawkins didnt you have a recent numexpr-related PR on a issue similar to this?

[2020-10-11 16:59] Dr-Irv commented on #33242
This is quite subtle, as when you supply a function to `agg`,  the extra argument for your function makes it so that a DataFrame is passed.  Here's an example, using the above DataFrame
[code]
The functions do the same thing, printing the argument, the type of the argument, and printing the number of columns if it is a DataFrame and then return the sum.

But the output is different:
[code]
Without

[2020-10-11 17:45] sanders41 opened #37057 "BUG: Python 3.9 Polyfit sanity test emitted a warning"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-11 18:01] fangchenli commented on #34014
Here is one example that does not set data pointer in the `move` method.

[code]

The two pointer setting statements in the `__init__` and `reset` cannot be removed. Otherwise, there would be segfaults and free wrong memory errors. Somehow, we have to keep the original buf. It won't work if we do something like `self.buf = buf.copy()` or `self.buf = self.values[start:end]`.

Unfortunately I don't

[2020-10-11 19:16] jbrockmendel commented on #30994
closed by #36148

[2020-10-11 19:16] #30994 closed

[2020-10-11 19:28] jreback commented on #37057
and how exactly did you install 3.9?

as there are no wheels or package or even numpy wheels or
packages yet

[2020-10-11 19:35] jbrockmendel commented on #27147
closed by #36310

[2020-10-11 19:35] #27147 closed

[2020-10-11 19:38] #36970 closed

[2020-10-11 20:01] #24206 closed

[2020-10-11 20:12] TomAugspurger commented on #37057
And the RuntimeError is coming from NumPy, when we import it. So this is likely an issue with how you installed NumPy.

[2020-10-11 20:12] #37057 closed

[2020-10-11 20:29] sanders41 commented on #37057
I installed 3.9 with pyenv. Then `pip install pandas` to install pandas (I didn't do a separate install of NumPy).

[2020-10-11 22:01] jreback opened #37062 "ENH: MultiIndex.dtypes"
create a mi
[code]

You can already get .dtypes, but is slightly cumbersome. I would propose adding `Multidex.dtypes` (we *already* have MultiIndex.dtype but its *always* object). I think this is worth the convenience api.
[code]

[2020-10-11 22:49] MohamedMehaya commented on #34251
I was working on a udacity course, the goal was to detect duplicates in a dataframe and the same error has arisen by calling df.duplicated()
![image](https://user-images.githubusercontent.com/17951926/95692184-9c907180-0c24-11eb-903b-a206c3cd941b.png)

[2020-10-11 23:19] avinashpancham commented on #23992
take

[2020-10-11 23:40] jbrockmendel commented on #33765
this is working on master, needs test

[2020-10-11 23:42] jbrockmendel commented on #34388
This looks like it is working on master, needs test

[2020-10-12 01:23] #36210 closed

[2020-10-12 01:50] juandpinto commented on #17834
Any update on this feature? It's been a while since it was first suggested, but as others have pointed out, there are plenty of good use cases for it. Could have certainly used it on my current project with multiple merges!

[2020-10-12 01:53] jreback commented on #17834
pandas is all volunteer

you are welcome to submit a PR

[2020-10-12 03:44] fangchenli opened #37067 "CI/TST: xfail in `test_parquet` has passed"
The xfail test `test_s3_roundtrip_for_dir` in `io/test_parquet` has passed on my machine. But I don't see it on our CI.

<details>

INSTALLED VERSIONS
------------------
commit           : 4d3b197c98913e894bcea9edca9ee7bad2964d84
python           : 3.8.6.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-48-generic
Version          : #52-Ubuntu SMP Thu Sep 10 10:58:49

[2020-10-12 04:04] jbrockmendel commented on #23130
This is the expected behavior.  Per the docstring:

[code]

(im going to write `ser1 = series1[5:]`, `ser2 = series[5:]` for brevity)

so when you do `ser1.ne(ser2, fill_value=5)`, the NaN on `ser2[8]` gets filled, but the NaNs in `ser1[6]` and `ser2[6]`, so the comparison in location 6 is `cmp(NaN, NaN)`, which for `!=` is `True` and is `False` for all other comparison ops.

Closing as correct-as

[2020-10-12 04:04] #23130 closed

[2020-10-12 05:27] znicholls opened #37071 "BUG: Passing datetime strings of the form "1-01-01 00:00:00""
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-12 05:28] znicholls commented on #37071
I have put a failing test in #37070 in case that is helpful

[2020-10-12 06:35] swigicat commented on #34251
Is there any update on fixing this? Running queries on text data is a very common use-case.

For my case, I want to make a `contains` query and got this problem immediately. Found out that one needs to specify the NaN handling inside the query as well, otherwise the python engine complains about it. E.g. for a table containing NaNs the two commands below should have the same output --

    df = pd

[2020-10-12 06:38] #16218 closed

[2020-10-12 07:04] onshek commented on #37053
Do you mean adding a new code_check to check the whole package instead of the single file?

[2020-10-12 08:01] francibm97 commented on #36918
Hello, I have also looked into this.

The problem rises when `sharex` is set to `True` because I think that then matplotlib considers the number of ticks of an xaxis of a particular subplot to be equal the tototal number of ticks of all xaxis of the figure.
This also happens for the yaxis if `sharey` is set to `True`.

So for example, if I have got two subplots with 3 vertical boxplots each and `s

[2020-10-12 08:10] ivirshup commented on #16529
I like the `inplace` parameter, and think it's fine that it can provide performance benefits – but does not promise them. It's also nice that I can write code which modifies a referenced dataframe without having to make sure an updated copy gets assigned back.

A number of the methods which use `inplace` can also use python syntax for inplace operations. It's not clear to me why `df.drop("col", in

[2020-10-12 09:10] jorisvandenbossche commented on #37071
We indeed rely here on the behaviour of `dateutil`.

Note that specifying the year as 4 numbers gives the expected result:

[code]

Funny (or ironic ..) thing is that the error message actually shows the datetime in the format you are using / doesn't work.

I was going to say that if you don't want to rely on "inferring" the date from `dateutil`, you should pass a `format` string to ensure you hav

[2020-10-12 09:11] talatccan commented on #10523
I got `ValueError: Setting mangle_dupe_cols=False is not supported yet` for pandas version 1.0.4

Code:

[code]

Error Details:

[code]

[2020-10-12 09:56] smithto1 commented on #36757
@alippai #34725 is fixed now if that helps

[2020-10-12 10:57] dhanesh123in opened #37074 "BUG: read_json fails to read data fields with ":\\""
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-10-12 11:09] jreback commented on #37074
this is duplicate pls search the tracker

[2020-10-12 11:11] HOLL4ND opened #37075 "DOC: add one more column may better"
#### Location of the documentation
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.cumsum.html
[this should provide the location of the documentation, e.g. "pandas.read_csv" or the URL of the documentation, e.g. "https://dev.pandas.io/docs/reference/api/pandas.read_csv.html"]

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pyda

[2020-10-12 11:33] jreback commented on #37053
yes see code_check.sh

[2020-10-12 11:53] dhanesh123in commented on #37074
Apologies, duplicate of https://github.com/pandas-dev/pandas/issues/36271

[2020-10-12 11:53] #37074 closed

[2020-10-12 12:26] MarcoGorelli commented on #37075
Hi @HOLL4ND - why do you think having 3 columns instead of 2 would make the example clearer?

Here's the contributing guide if you want to submit a suggestion https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

[2020-10-12 13:52] kootenpv commented on #21228
Relevant https://stackoverflow.com/a/57721455/1575066

[2020-10-12 14:06] TomAugspurger opened #37077 "October 2020 Developer Meeting"
The monthly dev meeting is Wednesday October 14th, at 18:00 UTC. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar to check your local time.

Video Call:  https://zoom.us/j/942410248?pwd=T2l2Qi9vaC82Z294ZEtFczYxMVM2dz09
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&usp=docs_home&ths=tru

[2020-10-12 14:27] jbrockmendel opened #37080 "DEPR: ExtensionOpsMixin in favor of OpsMixin"
All our internal uses have been moved over except for the DecimalArray tests, which use ExtensionScalarOpsMixin.

[2020-10-12 14:41] jbrockmendel commented on #36151
I agree with @jorisvandenbossche on this one.

[2020-10-12 14:49] jorisvandenbossche opened #37081 "PERF: regression in DataFrame reduction ops performance"
From https://pandas.pydata.org/speed/pandas/#stat_ops.FrameOps.time_op?Cython=0.29.21&Cython=0.29.16&p-op='sum'&p-dtype='int'&p-axis=0&commits=3a043f2d-4c03d07b&x-axis-scale=date

Reproducer:

[code]

increased with a  factor 2 to 3 x somewhere the last days.

[2020-10-12 15:09] #21004 closed

[2020-10-12 15:11] #34384 closed

[2020-10-12 15:30] #26476 closed

[2020-10-12 15:35] #29203 closed

[2020-10-12 15:36] simonjayhawkins commented on #16529
as per @rhshadrach comment https://github.com/pandas-dev/pandas/issues/16529#issuecomment-655774067, typing is not really an issue. (We need to be able to use Literal though so cannot resolve while supporting py 3.7 without typing_extensions)

[2020-10-12 15:57] raginjason opened #37083 "BUG: Empty object column writes to parquet as INT32 instead of BINARY L:STRING"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
Once that runs, `parquet-tools` illustrates the issue. I would expect a datatype such as `OPTIONAL BINARY L:STRING`, as

[2020-10-12 16:27] GabrielSimonetto commented on #31954
Ok, I'm stuck.

After investigating [PR 33616](https://github.com/pandas-dev/pandas/pull/33616/files), we check that 2 files have been changed:
`pandas/core/generic.py` and `pandas/core/internals/managers.py`, although they seem tighly correlated, and although the generic.py is directly reindexing stuff, after using some breakpoints with the following code, I've noted that the generic.py portion i

[2020-10-12 16:33] dsaxton commented on #36151
I think not overcomplicating makes sense

[2020-10-12 16:33] #36151 closed

[2020-10-12 16:38] Dr-Irv commented on #31954
@GabrielSimonetto To address this issue, you only need to add a test that demonstrates that the bug was fixed.  Don't worry about the internals.  What happened here is that I saw the issue was fixed, and closed it, then @MarcoGorelli wanted to figure out where it was fixed, and we reopened it deciding we just needed a test to make sure that the issue is truly addressed.

[2020-10-12 16:41] MarcoGorelli commented on #31954
Yup :smile: @GabrielSimonetto if you wanted to submit a test to make sure this doesn't break again in the future, that would be welcome!

[2020-10-12 16:44] GabrielSimonetto commented on #31954
@Dr-Irv would you know where would be the right module to insert this test? If I understood correctly just a high level check will be enough?

[2020-10-12 16:52] MarcoGorelli commented on #31954
@GabrielSimonetto You can use the example provided by in https://github.com/pandas-dev/pandas/issues/31954#issuecomment-585940827 as a test

If you open a pull request you can put it in where you think a sensible location is and if necessary we'll ask you to put it somewhere else

[2020-10-12 16:53] GabrielSimonetto commented on #31954
Great @MarcoGorelli! I'm on it, thanks!

[2020-10-12 17:43] toobaz commented on #16529
... I agree, but I think that even better, nothing prevents us from using (variations of) ``copy=False``. Again, we can evaluate API decisions regardless of what the implementation supports or will eventually support: we have decided long ago that the ``inplace=True`` is not an API we like, and this will not stop us from supporting operations that do not make copies of data where possible.

[2020-10-12 17:44] ukarroum commented on #37051
@phofl : It looks like you have a working PR : https://github.com/pandas-dev/pandas/pull/37055
so i m gonna unassign myself.

[2020-10-12 17:47] ukarroum commented on #37081
Would like to try working on that if possible.

[2020-10-12 17:47] ukarroum commented on #37081
take

[2020-10-12 17:55] phofl commented on #37051
@ukarroum Not really, my PR fixes problems with large numbers but not the problem mentioned above

[2020-10-12 17:57] ukarroum commented on #37051
Oh my bad.

Gonna retake it then.

Thanks

[2020-10-12 17:57] ukarroum commented on #37051
take

[2020-10-12 18:01] Isaac52 opened #37084 "QST:AttributeError: module 'fsspec' has no attribute 'utils'"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-10-12 18:14] erfannariman commented on #37077
Just to prevent confusion, title should be "October 2020 Developer Meeting" and date should be October 14th right?

[2020-10-12 18:59] jorisvandenbossche commented on #33558
Reopening this because I think there is still agreement that the current behaviour of inferring string dtype is not the best. I think the idea would be to rather return object dtype?
(or alternatively raise an error, to notify people they might be doing something wrong)

[2020-10-12 19:14] dsaxton commented on #37067
Hmm, this does fail for me locally on either Mac OS or Ubuntu Python3.8.

[2020-10-12 19:30] TomAugspurger commented on #37077
Yes and yes, thanks. :)

[2020-10-12 19:35] jorisvandenbossche commented on #34309
I think as long as there is a not a clear use case for it (and as mentioned in https://github.com/pandas-dev/pandas/issues/34309#issuecomment-634222554, I still don't really understand how subclassing string dtype works for your use case), we are not really keen on facilitating subclassing StringDtype.

If we don't see it as a supported use case, we should probably also not add a test for it.

Tha

[2020-10-12 19:53] TomAugspurger commented on #33558
I'm not sure what the current behavior is, but if possible I'd like to keep the inference of `pd.array` to just consider types. Something like `pd.array([list_of_strings])` inferring based on values worries me.

[2020-10-12 19:56] jorisvandenbossche commented on #33558
See the example in the top post: there is a `pd.NaT` in the `list_of_strings`, which is not a string or not a generic NA value (it's a datetime-like), so should that still infer string?

If a list is provided, and not dtype is specified, isn't "inferring based on values" the only thing we can do?

[2020-10-12 20:03] jbrockmendel commented on #33558
yah, i closed bc i thought there was consensus that the title of the issue was wrong; i.e. you guys convinced me.

[2020-10-12 20:14] jbrockmendel opened #37085 "API: Series[dt64].astype(dt64tz) vs Datetime(Array|Index)[naive].astype(dt64tz)"
[code]

`Series.astype` behavior is defined in `DatetimeBlock.astype`, is equivalent to `dta.tz_localize("UTC").tz_convert(dtype.tz)`

[2020-10-12 20:18] aaronlutz commented on #13049
@sam-hoffman please do!

[2020-10-12 20:31] jorisvandenbossche commented on #36195
Putting it here because most of the discussion on this topic is still here (but can also move to https://github.com/pandas-dev/pandas/pull/36988).

While the classic chained indexing example is indeed an argument for Error-on-Write (for this case, it's basically what we have now but with an error instead of warning), I think there are also arguments/examples to give in favor of Copy-on-Write:

* I

[2020-10-12 20:35] jorisvandenbossche commented on #36195
*Assume* that we could actually detect chained indexing? In this hypothetical situation, would people then be more in favor of Copy-on-Write over Error-on-Write?

The assumption would be that we can detect the difference in `__setitem__` between

[code]

vs

[code]

I am wondering if we shouldn't be able to actually detect this based on reference counting. In the first case, there is no additional

[2020-10-12 20:38] Dr-Irv commented on #36195
It's possible a consistent copy-on-write would solve this issue, but we have to make sure we get *all* of the cases right, and I'm just not convinced we'll be able to think all of those cases through.  The other issue for me is that copy-on-write silently does something, which might have side effects that a user would like to be made aware of, whereas error-on-write makes the user very aware of wh

[2020-10-12 20:40] jorisvandenbossche commented on #36195
Isn't the same true for Error-on-Write? We also need to detect all cases where we need to error instead of allow the mutation.

[2020-10-12 20:42] jreback commented on #36195
@jorisvandenbossche you have just described the current implementation of SettingCopyWarning and it's entire purpose

it is tracking refs

but i don't actually think this is that robust - and thats the same reason i am not enthusiastic about copy on write

yes if we can guarantee that we can always do it great

but that's the problem i am not sure we really can

though maybe now that we have full

[2020-10-12 20:48] navicor90 commented on #24019
Hi, I was reading the implementation of the **cov** function and at the end is:
`(mean(X * Y) - mean(X) * mean(Y))`
where `X=a` and `Y=b` in your situation.
And you need to know that in **cov** function `a` and `b` series are casted as type **float64**.
And as the flaoting point python3 implementation has some [limitations](https://docs.python.org/2/tutorial/floatingpoint.html), the subtraction be

[2020-10-12 20:51] Dr-Irv commented on #36195
Yes, I agree.  But if we miss a case, we fix it by raising an exception.  With copy-on-write, we fix it by doing the copy, but I'm guessing that there might be cases where we say "Given this case, we should have chosen error-on-write".

My sense is that it is easier to go from the current state of `SettingWithCopyWarning` to error-on-write and *then* to copy-on-write, than to go from `SettingWithC

[2020-10-12 20:56] jreback commented on #24019
yep would take a patch for this

[2020-10-12 20:57] TomAugspurger commented on #36195
Just to clarify the choice, is it fair to say that the only real choice is between

1. Error on Write
2. Copy on Write *with `SettingWithCopyWarning` for chained indexing*?

The initial proposal (and my PR) left out the warning specifically for chained indexing part. *If* we can reliably detect chained indexing (a big if?) then do people prefer option 2?

[2020-10-12 20:58] jorisvandenbossche commented on #36195
@jreback It might be achieved using the same *mechanism* (I would need to look more into the code of this, it's not a part I am very familiar with), but at least the *goal* I described is different: the current SettingWithCopyWarning warns in both example cases, while I want only the first (actual chained indexing) to raise, and not the second (assigning the subset to a variable).

@Dr-Irv I don't

[2020-10-12 20:59] phofl commented on #37084
Hey, thanks for your report. Could you please provide a reproducible example?

[2020-10-12 21:00] jorisvandenbossche commented on #36195
Not sure if there is anybody in favor of it, but the original write-up also still has the option of "clear rules" (eg indexing columns could *always* be *actual* views)

[2020-10-12 21:24] jbrockmendel commented on #36195
I prefer this over the status quo.

[2020-10-12 21:48] jbrockmendel opened #37086 "SUMM: Consistent Casting and Length Checks in Ops"
xref #27911 API: when to cast list-like to ndarray, check len match
xref #13637 API: Index/Series/DataFrame op 1-d list-like coercion

One way to ensure consistent behavior is to enshrine it in `ops.unpack_zerodim_and_defer`, which just about all of our ops now use.  The following is an implementation that matches our current behavior (more specifically: passes current tests) when tacked on to unp

[2020-10-12 21:49] mroeschke commented on #37085
xref https://github.com/pandas-dev/pandas/issues/33401?

[2020-10-12 21:56] jbrockmendel commented on #28466
closing as duplicate of #22724

[2020-10-12 21:56] #28466 closed

[2020-10-12 21:58] jbrockmendel commented on #37085
Yep, good catch.  Let's close as duplicate this evening, hopefully get some more eyeballs on this in the interim

[2020-10-12 22:10] jbrockmendel commented on #22724
Closed by #29531 (that adds the test, not sure when the actual fix was)

[2020-10-12 22:10] #22724 closed

[2020-10-12 22:10] Dr-Irv commented on #36195
No, I mean let's say that we choose copy-on-write.  We think we get it right.   We release the code.  Someone discovers a place where we didn't get it right, and then we discuss it, and realize we should have chosen "error-on-write" in the first place.  I'm just erring on the side of caution by preferring error-on-write.

[2020-10-12 22:22] paris0120 opened #37088 "ENH: Read only columns of a large data file"
#### Is your feature request related to a problem?

Reading a large data file can exhaust system memory.  However, most of the time, we don't need all data from that file. It will be convenient to be able to read only the data needed.

#### Describe the solution you'd like

Reading only the data needed through iteration.

#### API breaking implications

One more function for each type of files

##

[2020-10-12 23:07] jreback commented on #37088
cc @bashtage this is supportted for many other readers, not sure for stata

[2020-10-12 23:08] jreback commented on #37088
row filtering is not supported, though its very easy to do with chunking

[2020-10-12 23:09] arw2019 commented on #22585
They match on 1.2 master:
[code]

[2020-10-12 23:20] jbrockmendel commented on #37081
#35881 is a candidate, though thats a much bigger impact than id expect

[2020-10-12 23:28] jbrockmendel commented on #36074
This is the right answer.  Closing.

[2020-10-12 23:28] #36074 closed

[2020-10-12 23:48] asishm commented on #32463
Seems to be fixed on master.

[code]

[2020-10-13 03:10] znicholls commented on #37071
Ok in that case I'll add an issue in that repo and let's see what happens.

[2020-10-13 04:49] znicholls commented on #37071
Having thought about it more and looked through dateutil, it is indeed ambiguous (e.g. 2-03-04 could be 2nd Feb year 4 or 4th March year 2) so I'll go up the chain instead to where this originally arose (xarray). Thanks for your help @jorisvandenbossche 👍

[2020-10-13 04:49] #37071 closed

[2020-10-13 05:38] asishm commented on #35211
`read_excel` uses the `PythonParser` behind the scene to convert the parsed data to a dataframe.

Simpler repro would be

[code]

If this behavior is changed at the PythonParser level, then I believe a corresponding change should happen in the CParserWrapper to remain consistent.

[2020-10-13 05:51] simplyrucha commented on #35450
@gimseng
Yeah, I guess this is similar to discussions in these threads:
- [#12863](https://github.com/pandas-dev/pandas/issues/12863)
- [#36692](https://github.com/pandas-dev/pandas/issues/36692)
- [#30416](https://github.com/pandas-dev/pandas/pull/30416)

[2020-10-13 07:09] thomas-reineking-by opened #37093 "BUG: groupby-transform produces NaN for series keys with as_index=False"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

With version 1.1.3 this produces a dataframe containing NaN.

#### Expected Output

Expected

[2020-10-13 07:22] mgeplf opened #37094 "BUG: Pandas 1.1.3 read_csv raises a TypeError when dtype, and index_col are provided, and file has >1M rows"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When `ROWS = 1000001`, I get the following traceback:

[code]

#### Expected Output

With pan

[2020-10-13 07:30] MarcoGorelli opened #37095 "Add CI check to check that `ensure_clean` is used instead of `os.remove`"
xref https://github.com/pandas-dev/pandas/pull/34385#pullrequestreview-506705288

This could also be a pre-commit hook

Opening this issue as a placeholder so we don't forget

[2020-10-13 07:33] MarcoGorelli commented on #37075
OK, closing then - thanks anyway for your suggestion, please let us know if you have others!

[2020-10-13 07:33] #37075 closed

[2020-10-13 08:56] asishm commented on #37094
Possibly caused by #36266  (having some trouble running bisects on my end)

problem arises because the default `values` (na_values) for read_csv is `array(['', 'NULL', '#N/A', 'N/A', '1.#QNAN', 'nan', '#NA', '-1.#QNAN',
       '<NA>', '1.#IND', 'n/a', '-nan', '-1.#IND', '#N/A N/A', 'null',
       '-NaN', 'NaN', 'NA'], dtype=object)`

[2020-10-13 09:02] ivirshup commented on #16529
@simonjayhawkins Not to get too off topic into the discussion of typing, but it seems like this might make it more difficult for the type checker/ end up with poor results. For example:

[code]

Unless the type checker can evaluate the flow control (which is probably out of scope for a type checker, and definitely out of scope for more complex flow control), it wouldn't be able to tell the result

[2020-10-13 09:07] bashtage commented on #37088
I think an implementation that would do on-the-fly column filtering would probably add quite a bit of complexity, so the simplest implementation would read then drop columns before the return.  This won't save much memory, and I'm not sure this is worth the complexity.

SAS files may be compressed so grabbing of select columns is non-trivial.  One would need to read each line, then apply the filte

[2020-10-13 09:10] bashtage commented on #37088
FWIW I think this would work better

[code]

[2020-10-13 09:32] mgeplf commented on #37094
I agree, the code here:
https://github.com/pandas-dev/pandas/pull/36266/files#diff-c8f3ad29eaf121537b999e88e9117f3e3702d0b818a67516da25093fe2890ce8R442

Is suspicious.

[2020-10-13 09:48] toobaz commented on #16529
Sorry, I admit that I didn't follow the entire discussion. My point is only that API (``inplace=``) and implementation (operations that do not copy the data) are relatively orthogonal - sorry if this was obvious at this point. Then I'm in favor of dropping the first and allowing, maybe even increasing, the use of the latter, but it's my opinion, possibly surpassed by the discussion.

I see your po

[2020-10-13 09:52] aurelije commented on #4036
So is it somehow possible to slice Series on part of multindex without loosing levels that I need for further computation? I have tried slice(None) and IndexSlice... The only thing that really helped was to box Series to DataFrame, somehow the same slicing in dataframe doesn't drop levels... Why do we have such inconsistency between Series and DataFrames?

[2020-10-13 09:59] toobaz commented on #4036
@aurelije can you provide a simple reproducible example of such inconsistency? Are you sure you did pass indexers for both axes when indexing the DataFrame?

[2020-10-13 10:33] aurelije commented on #4036
@toobaz famous Operation Research example:
`plants_s = pd.Index(['seattle', 'san-diego'], name='plant')
markets_s = pd.Index(['new-york', 'chicago', 'topeka'], name='market')
unit_cost_from_plant_to_market = pd.Series(
...     [2.5, 1.7, 1.8, 2.5, 1.8, 1.4],
...     index=pd.MultiIndex.from_product([plants_s, markets_s]),
...     name='unit_cost'
... )
unit_cost_from_plant_to_market
plant      mar

[2020-10-13 11:01] sharvanir commented on #35211
sorry, got confused, it's not an ast issue. I will unassign this as I am unable to put in time due to professional commitments.
Will get back if possible

[2020-10-13 11:10] toobaz commented on #4036
I think this is related to https://github.com/pandas-dev/pandas/issues/12827#issuecomment-364890651 more than to this issue. Notice that the behavior you look for (not dropping the level) is what we (pandas) would like to get rid of, but the same result can be easily obtained by wrapping the label in a list:

[code]

[2020-10-13 11:13] TomAugspurger commented on #33558
Ah, so Joris you reopened it to go the *other* way? To deprecate Series / Index's behavior of inferring?

[2020-10-13 11:27] jorisvandenbossche commented on #33558
Sorry for the confusion here ;) (and ignore the title of the issue for a moment, that's indeed in need of an update if we agree what this issue is about)

The only reason that I reopened this is because (I thought) our earlier discussion (@TomAugspurger see your comment above at https://github.com/pandas-dev/pandas/issues/33558#issuecomment-614096100 which says *"Are we agreed that the expected dt

[2020-10-13 12:07] jorisvandenbossche commented on #36195
OK, understand it now ;)
But, I personally think we should discuss / choose what we *actually* prefer. Let's assume that after more discussions we think we prefer copy-on-write over error-on-write, then I would say we should go with that, even if that makes it more difficult to still change mind afterwards.
This also touches upon implementation / adoption questions which we didn't really discuss y

[2020-10-13 12:28] pydatasci-repos commented on #30317
fyi, still running into this
[code]
`TypeError: binary file expected, got text file`

[code]

[2020-10-13 13:19] ml-evs opened #37098 "ENH: Support for loading pickles from OS X/macOS zip files containing extraneous "__MACOSX" folder and ".DS_STORE" file"
#### Is your feature request related to a problem?

I am trying to load some zipped data from my collaborator into pandas, but the zip was created under a version of OS X that adds an extraneous `__MACOSX` folder in the created zipfile, which causes pandas to error when loading the file.

The zipfile itself can obviously be easily fixed with e.g. `zip -d filename.zip __MACOSX/\*`, but it may cause

[2020-10-13 13:27] onshek commented on #37053
take

[2020-10-13 13:31] jorisvandenbossche commented on #16529
@ivirshup To be clear, there is not yet a "final" decision on all aspects of this (which migth add to your confusion ..). The comment of Tom you reference is I think the most complete proposal-like comment up to now, and indeed in that comment Tom questions whether we should actually deprecate `inplace` or not, if we add a `copy` argument (but note that Tom also says he is uncertain about that par

[2020-10-13 14:05] jorisvandenbossche opened #37099 "API: interaction between subclasses (implementing __finalize__) and attrs/flags handling in __finalize__"
Pandas provides the mechanism for subclasses to customize how metadata propagation is handled through `_metadata` and `__finalize__`. However, this got more complicated with the introduction of `attrs` and `flags`, which are *also* handled in `__finalize__`.

Concrete example: GeoPandas implements a custom `GeoDataFrame.__finalize__` to be able to have custom logic about how metadata is propagated

[2020-10-13 14:15] jorisvandenbossche commented on #37099
Hmm, for some reason I thought we couldn't do a "simple" `super().__finalize__(other, method=method, **kwargs)` in geopandas to combine pandas' logic with our own (I was thinking that both parts of the logic could not be done after each other, but would really need to be combined / interleaved). But in hindsight, calling `super()` *first* and then adding our custom logic for merge/concat migth act

[2020-10-13 14:17] galipremsagar opened #37100 "BUG: Series.to_json produces incorrect json format"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-13 14:20] TomAugspurger commented on #37099
Hehe, yeah that was my initial reaction. Sometimes it takes writing up an issue to clarify the solution though.

As long as the `super()` doesn't do anything you *don't* want done (and can't easily undo), then things should be OK.

[2020-10-13 14:39] aurelije commented on #4036
Thanks a lot @toobaz, I was not aware of that functionality

[2020-10-13 14:43] jorisvandenbossche commented on #37094
Confirmed this is a regression compared to 1.0.x

[2020-10-13 14:46] jorisvandenbossche commented on #37084
There might be an old version of `fsspec` installed. @Isaac52 can you show the output of `pd.show_versions()` ?

[2020-10-13 14:54] jorisvandenbossche commented on #37084
Hmm, quickly creating an env with pandas + old fsspec doesn't reproduce it (we should actually also only importing fsspec if the provided file path is remote-like, and even then we should import fsspec with `import_optional_dependency` which checks the minimum version, which is defined as  0.7.7 for fsspec)

[2020-10-13 15:04] jorisvandenbossche commented on #37081
Checking out that commit vs the one before, seems to confirm that #35881 is indeed the cause of the slowdown

[2020-10-13 15:04] DavidKatz-il commented on #18199
Hi @jreback
Should the `test_hdfs` be able run on a separate docker (aimiliar to [dask docker](https://github.com/dask/dask/tree/master/continuous_integration/hdfs)) or in the [pandas docker](https://github.com/pandas-dev/pandas/blob/master/Dockerfile) (which will require additional installations)?

[2020-10-13 15:14] siddartha-RE commented on #33699
In Pandas 1.0.3 I am seeing the error with the following simple invoication:
[code]
Bottom of stack:
[code]

[2020-10-13 15:24] jorisvandenbossche commented on #37081
@ukarroum especially https://github.com/pandas-dev/pandas/pull/35881#discussion_r504035006 is something you could test

[2020-10-13 15:37] charlesdong1991 commented on #36918
sure! @francibm97 the issue hasn't been taken, feel free to take it and PR is very welcomed!!

[2020-10-13 15:41] eidalex commented on #16585
Actually I have the same problem but at another scale... I work with arrays of size (1276900,) and when I use either **qcut** or **df.quantile()** (and bin the data according to the values obtained) with 10 bins I get arrays from size 127690 to 128188... one or more value could work but 498 more is quite difficult to work with...
Is there any update on the issue ? Thanks in advance.

I use Pandas

[2020-10-13 16:33] #37085 closed

[2020-10-13 16:34] jbrockmendel commented on #33401
cc @jorisvandenbossche @TomAugspurger fixing this inconsistency would move us a step closer to not-special-casing DatetimeTZBlock

[2020-10-13 17:00] francibm97 commented on #36918
@charlesdong1991 ok nice I'll implement one of the two proposed solutions and create a PR

[2020-10-13 17:00] francibm97 commented on #36918
take

[2020-10-13 17:13] jorisvandenbossche commented on #33401
I am fully on board with making this consistent; but I am not fully sure I find the output of Series more expected than the output of DatetimeIndex' astype (it's rather subjective though).

The docs say that astype can "localize and convert" tz-naive timestamps, but doesn't explicitly says "localize to UTC and convert".

Basically the two options (expressed with an explicit localize):

[code]

In

[2020-10-13 17:17] jorisvandenbossche commented on #33401
On second thought, the "localize and convert" in the docs probably mean "localize to UTC and convert", indeed as @mroeschke suggested. Because otherwise if would just be a "localize" of course (there is nothing to convert anymore when localizing to the target timezone ..)

[2020-10-13 17:17] fangchenli commented on #37067
I rebuilt my environment but still see it.  Not sure why.

[2020-10-13 17:18] jorisvandenbossche commented on #33401
So do we actually have arguments for either behaviours? (apart from "because Series is doing it that way")

[2020-10-13 17:19] fangchenli opened #37104 "TYP: typing errors for mypy==0.790"
[code]

[2020-10-13 17:57] Ddedalus commented on #16529
In terms of making typing more predictive and the API less confusing, why not consider a 'middleman' attribute access:
[code]
This pattern is often used to group methods in pandas, like `DataFrame.str` methods.

[2020-10-13 18:33] impredicative opened #37105 "ENH: df.to_parquet() should return bytes"
#### Is your feature request related to a problem?

I find it useful to write a parquet to a `bytes` object for some unit tests. The code that I currently use to do this is quite verbose.

To provide some background, `df.to_csv()` (w/o args) just works. It returns a `str` object as is expected. In the same vein, **`df.to_parquet()` (w/o args) should return a `bytes` object.**

More precisely, the

[2020-10-13 18:33] jbrockmendel commented on #33401
I think the Technically Correct answer may be to raise and require users to use tz_localize

The semantics of `astype` usually mean "represent the same information in another dtype".  When going from tznaive<->tzaware, no matter which convention we use, the result does not represent "the same information"

[2020-10-13 18:38] impredicative commented on #30317
I have created a related issue to make it easier to **write parquet to `bytes`** which should interest users: #37105

[2020-10-13 22:16] toobaz commented on #16529
@Ddedalus Are you thinking about ``.inplace`` affecting the behavior of ``some_method`` (e.g. not copying data), or just wrapping it and providing syntactic sugar? In the first case, my impression is that the added complexity is not worth it (the implementation and the user need to know which methods support ``inplace`` - in the end, just using the kwarg is simpler). In the second case, it might b

[2020-10-13 22:46] rhshadrach commented on #37105
+1

[2020-10-13 23:21] mroeschke commented on #37053
My 2 cents; I would actually prefer to standardize in the other direction.

i.e. use `np.random.choice()` directly instead of `from np.random import choice; choice()`

[2020-10-13 23:42] jreback commented on #37053
sorry i think i misread the top

we always want fully qualified things eg

np.random.randn

no aliases for these

[2020-10-13 23:50] jreback commented on #33401
I recall the initial implementation was pure convenience and in retrospect was a mistake. think we should actually deprecate this entirely. Being explicit about using `.tz_localize` or `.tz_convert` is a huge win here.

[2020-10-14 00:28] paris0120 commented on #37088
It can be VERY useful for SAS data. Most of the datasets I use have a size of more than 2GB after compression. My computer has a 32GB ram but can't directly read most of them. I have to read them with the function above.

Besides the read_sas function is weird. If iterator or chunksize are set, a reader is returned instead of a dataframe. I prefer the reader has its own function like:

def get_sas

[2020-10-14 01:08] jbrockmendel commented on #33401
For Series/DatetimeIndex/DatetimeArray there is an easy "do this instead".  what about DataFrame.astype?

[2020-10-14 03:03] onshek commented on #37053
Um...it seems I did the opposite. will be corrected later.

[2020-10-14 05:23] tannu-singh commented on #36308
take

[2020-10-14 06:11] skvrahul commented on #37100
This appears to be the function causing it.
https://github.com/pandas-dev/pandas/blob/9c202a1b7e2418ca53ac42179d2499223a21c710/pandas/io/json/_normalize.py#L18-L29

Seems like it was originally intended to function in this way.
Not sure if I'm missing something.

[2020-10-14 06:13] ivirshup commented on #16529
@toobaz, I agree with this. But I think they can be exposed as the same concept though. To a large extent, this is "pythonic". I.e. `a.sort()`, `a[b] = c`, `a += b`, etc.. These are all inplace (the referenced object is modified) and data is not copied (where possible).

I think a possible solution here is to say: if the method is mutating, and you want that operation to happen in place, you retur

[2020-10-14 06:55] rmsmani commented on #37105
+1

[2020-10-14 07:56] theMogget commented on #25857
@mroeschke I was looking at trying to make a first contribution, but it seems like an appropriate test has been written for this:

[code]

https://github.com/pandas-dev/pandas/blame/master/pandas/tests/window/test_expanding.py#L122

It looks like it was merged along with the bugfix itself in Jan. Is there anything else to be done here, or does that test fit the bill? :)

[2020-10-14 10:14] devrimcavusoglu commented on #35043
Yes, I agree with @TomAugspurger 's suggestion, I was a former R user, then it was a fancy tool to fill the headers, but @StevenLi-DS has a great point, it comes with some sort of confusion. For the second option I already opened an issue for the problem, consider taking a look at the discussion of [#32072](https://github.com/pandas-dev/pandas/issues/32072)

[2020-10-14 10:45] bashtage commented on #37088
This isn't weird at all. This is how all chunking iterators work.

Your custom `read_sas` seems to do the trick with a small mod:

[code]

[2020-10-14 10:46] bashtage commented on #37088
I'm not opposed to column filtering, but if it is done it should be properly implemented at the lowest level given there is this pretty simple workaround that allows for very large files to be read and filtered.

[2020-10-14 10:52] theMogget commented on #30999
Hello, I am new to contributing. Thanks for the clear write-up in the issue. I'll start with taking `pandas/tests/generic/test_duplicate_labels.py`, and will tackle some more if it works out.

[2020-10-14 12:26] barberogaston opened #37113 "BUG: Rolling mean with ~4k records returns infinite values on ~95% of the rows"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-14 12:27] #34244 closed

[2020-10-14 12:28] mujina93 commented on #37094
I can confirm I have the same problem, which arises as soon as I pass the threshold of 1M rows.

I only need to specify `index_col` to get the bug, though. Specifying `dtypes` is not needed.

Pandas 1.1.3

[2020-10-14 12:33] #26637 closed

[2020-10-14 12:40] jorisvandenbossche commented on #33401
I did a bit of history search with git blame to see where the type of "localize" behaviour was introduced. For Series.astype, it was in https://github.com/pandas-dev/pandas/pull/11003. For Index.astype, it was in https://github.com/pandas-dev/pandas/pull/18937 (so a bit later, but introducing a different behaviour as Series.astype).
But there was not much discussion about it that could be enlighte

[2020-10-14 13:45] pabloarosado commented on #15906
I see this issue is still open. I have a similar problem on pandas 1.1.1:
[code]
So, if you have a multiindex dataframe with a datetime index, you can access the datetime index as a string **only** if you extract one row. If you try to extract more than one, dates have to be given as timestamps.

I know this is not a very common scenario, but is there any plan to solve it, or is there any workarou

[2020-10-14 13:59] ant1j opened #37115 "REGR: unstack on 'int' dtype prevent fillna to work"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`df.unstack` is creating columns from a int column, but adds some NaNs as expected.

Trying t

[2020-10-14 14:01] rmonge-basetis commented on #15906
Just to build on what @pabloarosado has commented, by using _datetime.datetime_ or _datetime.date_ the multindex slicing also seems to work:

`
df.loc[[(datetime.datetime(2020, 1, 1), 1), (datetime.datetime(2020, 2, 1), 2)]]  # This works
df.loc[[(datetime.date(2020, 1, 1), 1), (datetime.date(2020, 2, 1), 2)]]  # This also works
`

[2020-10-14 14:45] barberogaston commented on #37113
Yes, indeed. I just noticed. Didn't realize as the values are displayed as very big numbers and not as infinite ones. Thanks!
<img width="850" alt="Captura de Pantalla 2020-10-14 a la(s) 11 39 23" src="https://user-images.githubusercontent.com/12915138/96005380-c313ff80-0e12-11eb-82c5-cfb8d0a4d05c.png">

[2020-10-14 14:47] aberres commented on #35569
@jbrockmendel Are you suggesting to change/add `DateOffset.is_on_offset`? Right now this method does not exist, `RelativeDeltaOffset.is_on_offset` is used instead, which always returns `True`.

Something like `o = pd._libs.tslibs.offsets.YearOffset(month=4)` would possibly already work for us (in the current usecase the day is always 1), but this class is not supposed to be used directly anyway?

[2020-10-14 15:32] mroeschke commented on #25857
That test isn't exactly the same. For this issue, we need a test where `min_periods` > number of elements in the series

[2020-10-14 17:28] ukarroum commented on #37081
Can confirm that by using `self._iter_column_arrays()` instead of `self.dtypes` we have significant performance improvement :

With `self.dtypes` :

[code]

With `self._iter_column_arrays()`

[code]

Gonna submit a PR soon.

[2020-10-14 17:54] #37001 closed

[2020-10-14 17:59] jorisvandenbossche commented on #22843
Do you remember mote details on the issues you ran into for Categorical?

[2020-10-14 18:07] theMogget commented on #25857
@mrocklin Ah ok, I'll try opening a PR for that new test then. Thanks for the clarification!

[2020-10-14 18:19] #26713 closed

[2020-10-14 18:33] theMogget commented on #25857
take

[2020-10-14 18:37] #29442 closed

[2020-10-14 18:48] jbrockmendel opened #37119 "typing_extensions"
ATM we vendor typing_extensions but mypy doesnt recognize it, so we can't actually use it.  We should either remove it or make it a dependency.

[2020-10-14 19:12] Dr-Irv commented on #36195
Here's something that I brought up in the October, 2020, dev meeting.  Consider:
[code]
Right now, the behavior of picking a single column using the syntax `df['x']`, which creates a `Series` versus `df[['x']]` which creates a `DataFrame` is different, in that when you get a `Series`, modification of that series silently modifies the underlying `DataFrame` while when you get a `DataFrame`, you get

[2020-10-14 19:14] TomAugspurger commented on #37119
So if I do `mypy pandas` on a file using something from our vendored typing extensions, mypy will error? Or ignore the types?

[2020-10-14 19:20] jorisvandenbossche commented on #37119
Can you also explain what it means to "make it a dependency"? Is that only a developer dependency for when you want to do type checking? Or would it actually be a runtime dependency?

[2020-10-14 19:25] jitendra29mishra opened #37121 "ENH: No need to call _choose_path in Dataframe groupby transform function"
When every time the slow_path method run in self._choose_path, then why not we remove the fast_path code.

self._choose_path call
https://github.com/pandas-dev/pandas/blob/d7a5b838d8d6234f6bec5a30bfa33b24bd4afbd9/pandas/core/groupby/generic.py#L1313

Line to change
path, res = show_path, slow_path(group)

definition of self._choose_path method
https://github.com/pandas-dev/pandas/blob/d7a5b838d8d6

[2020-10-14 19:42] #37077 closed

[2020-10-14 19:52] sac0 commented on #36698
take

[2020-10-14 19:56] biddwan09 commented on #36703
take

[2020-10-14 20:06] jbrockmendel commented on #37119
If I import `from pandas._vendored.typing_extensions import final` and then incorrectly decorate `Index.get_loc` with `@final`, mypy will fail to alert me that this is incorrect.

[2020-10-14 20:07] jbrockmendel commented on #37119
I'm not aware of any way to make it a dev-only dependency.  AFAIK it would have to be runtime-importable.

[2020-10-14 20:10] jorisvandenbossche commented on #37119
And the import can't be hidden behind a `if TYPE_CHECKING` clause as we do for other cases, because it are actual functions used as decorators and such, I suppose?
We could have a no-op version of the items we want to use, which we import at runtime, and override them with the actual working versions from typing_extensions behind `if TYPE_CHECKING`  ?

[2020-10-14 20:23] jbrockmendel commented on #36195
Do either the CoW or EoW allow for the possibility that when i edit a view I am doing so intentionally?

[2020-10-14 20:25] Dr-Irv commented on #36195
By "doing so intentionally", you mean modifying the underlying `DataFrame` as a result of modifying the view?

[2020-10-14 20:29] jbrockmendel opened #37123 "STY: avoid 1-letter variable names, especially pdb keywords"
Every so often I use pdb and want to access a variable that happens to be a pdb keyword and its a hassle.  Let's avoid these: ["h", "w", "u", "d", "b", "s", "n", "r", "c", "j", "l", "a", "p"].  Or simpler, just avoid 1-letter variable names altogether.

[2020-10-14 20:30] jbrockmendel commented on #36195
Yes.  A case where I want to modify both.

[2020-10-14 20:31] jbrockmendel commented on #22843
Not off the top of my head, no

[2020-10-14 21:24] jbrockmendel commented on #37119
That's a neat idea, but doesn't do it.

[2020-10-14 21:29] Dr-Irv commented on #36195
Yes, the proposal has a `as_mutable_view()` method to allow the user to indicate they want to allow mutation.  Works whether we do COW or EOW.

[2020-10-14 21:44] dsaxton commented on #37123
I think it's pylint maybe that actually enforces this? Would it make sense to add an automated check for it (although could get annoying to try to avoid in absolutely all cases; maybe a single exception could be made for dummy index variables)?

[2020-10-14 22:23] toobaz commented on #36195
Sorry, I'm missing the difference between these "clear rules" and the "whenever possible", could you clarify?

I'm also missing one thing in the proposal: how can something like ``df[["A"]].as_mutable_view()`` be implemented? Either ``df[["A"]]`` already provides a mutable view - hence the method call is noop - or it provides a copy of data - and it will be painfully hard to keep track and edit th

[2020-10-14 22:36] TomAugspurger commented on #36195
Indexing columns would always give views. The difference comes when you try to mutate the view

[code]

And for the case of "I want to mutate `df1`, you'd use `df2 = df1[["A"].as_mutable_view()`.

I think this discussion is limited to

- Indexing just the columns
- (maybe) Indexing the rows in a way where NumPy can return a view when slicing a 1D array. So `df.loc[:5, ["A"]]` can be a view. But yo

[2020-10-14 23:22] TomAugspurger commented on #37123
Just as an FYI, if you have one of these variables, you can print them with `pp`

[code]

Or use `!p` to avoid the pdb command.

[2020-10-14 23:30] toobaz commented on #36195
Yep, I had completely misunderstood, now I got it, as well as the difference between the "clear rules" and the "whenever possible": that the former would stay more or less with the status quo of creating mutable views.

If I now got it right, I still have one question: what makes us different from numpy, where the status quo is sensible and does not seem to be under discussion?

Is it because our

[2020-10-14 23:46] jbrockmendel commented on #37123
Neat, thanks

[2020-10-15 00:11] kindjacket commented on #29621
Getting the same for python 3.9.0 if anyone lands here

[2020-10-15 00:18] jreback commented on #37123
you can also use ```!p ....``` to escape it

[2020-10-15 00:28] #34617 closed

[2020-10-15 01:04] jbrockmendel commented on #36195
The status quo is not sensible.  e.g.

[code]

`df2` is a view on `df`, while `df4` is a copy of `df3`.

Sensible behavior would be either always-copy or always-view.  I maintain

a) there isn't a compelling reason to treat `df[["A"]]` differently from `df["A"]`
b) "indexing on columns always gives views" is easier to document/explain/grok than any mixed alternative
c) views are better for perf.

[2020-10-15 01:06] dsaxton commented on #37115
This seems like a duplicate of https://github.com/pandas-dev/pandas/issues/36495, also caused by https://github.com/pandas-dev/pandas/pull/34389.

@simonjayhawkins has a PR https://github.com/pandas-dev/pandas/pull/36668 that fixes this which I think could be reopened and merged now for 1.1.4.

[2020-10-15 02:46] jbrockmendel commented on #32586
As mentioned on the call today, there are a handful of methods missing from EA if we want to stop special-casing pandas-internal EAs.

1) replace - CategoricalBlock dispatches to Categorical.replace.  I'm pretty sure this is the cause of #33484.
2) _format_native_types - DTBlock/TDBlock dispatch to_native_types to the EA's _format_native_types
3) _can_hold_element - ATM EABlock._can_hold_element a

[2020-10-15 03:43] dingweihua opened #37127 "ENH: Aggregation with multiple columns in one function"
I digged into the pandas.pivot_table and pandas.DataFrame.groupby + aggregate methods, it seems that the aggfunc (or the method in aggregate) doesn't support multiple columns' computation in one function.

Let me take an dataframe example:

[code]

The aggregation doesn't support directly "sum(count) + sum(count2)". What I have to do is first compute sum(count) and sum(count2), and then add the tw

[2020-10-15 04:08] abhishekmangla commented on #9606
take

[2020-10-15 06:51] jorisvandenbossche commented on #37119
And can you explain why it doesn't do it? (see also my second sentence in the comment above)

[2020-10-15 08:10] animesh0794 commented on #26388
But what if the parquet file size is huge? In such cases, can I make python generators over the parquet file? If yes, how?
Thanks in advance:  )

[2020-10-15 09:51] toobaz commented on #36195
Sorry, I was referring to the numpy status quo, presumably amended with "any indexing on columns returns views". So it would be "a (mutable) view is always returned except when rows are indexed in such a way that would return a copy in numpy [with lists/slices of labels being assimilated to lists/slices of positions]". I'm all for stating and enforcing clear rules with selected API changes, while

[2020-10-15 10:20] MarcoGorelli opened #37133 "CI remove redundant checks covered by pyupgrade"
Some of these checks, e.g.
[code]
are already checked by pyupgrade.

Opening this as a placeholder to go through the checks and see what no longer needs to be there

EDIT
----

also, as a note, in `pandas/core/generic.py` there is an instance of `.. warning:`, but the `Check for incorrect sphinx directives` isn't picking it up. `pygrep` finds it though. I'm inclined to move all of these over to pr

[2020-10-15 10:52] jreback commented on #37127
-1 on making this even more complicated

[2020-10-15 11:20] simonjayhawkins opened #37134 "Remove the Label alias in pandas._typing."
in mypy 0.790 bugfix (open PR to update #37108)

we have an alias in pandas._typing for Label to work around this bug.

I propose that we now remove the Label alias for two reasons.

1. It has been the source of some confusion, especially when using Optional[Label]
2. for the API, users would know what Hashable is without needing to look up the alias.

[2020-10-15 11:21] TomAugspurger commented on #36195
I think the primary difference is that DataFrames are "more columnar" than ndarrays. I would claim that

1. Slicing a subset of the columns `df[['A', 'B']]` is more common than slicing a subset of the second axis of an ndarray ``ndarray[[:, [0, 1]]`
2. Our data structure allows for more things to be views (at the "cost" of less consolidation). In NumPy any kind of fancy indexing / boolean masking

[2020-10-15 12:10] Dr-Irv commented on #31949
Based on discussions in #8000 it seems we need an argument to specify that *extrapolation* at the beginning and end of the series can be specified.

[2020-10-15 12:27] #20594 closed

[2020-10-15 12:28] AdiHamdani opened #37135 "BUG:Installation problem in python 3.9"
- [ v] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repr

[2020-10-15 12:29] simonjayhawkins commented on #37119
i did this in https://github.com/pandas-dev/pandas/pull/27646/files/9aa69fe5491e0b161e679c8f54cbb8f13a48b85a

didn't get any support at the time follow conversation from https://github.com/pandas-dev/pandas/pull/27646#issuecomment-518290328 onwards

[2020-10-15 12:37] simonjayhawkins commented on #37119
see also https://github.com/pandas-dev/pandas/issues/34869#issuecomment-669075742 for more discussion and a reference to similar workaround used by pytest for Protocol.

[2020-10-15 12:50] jorisvandenbossche commented on #37119
So that seems certainly doable then to have mypy_extensions as a dev dependency, without having it as a runtime dependency

[2020-10-15 12:57] simonjayhawkins commented on #37119
and we no longer need to add it explicitly to environment.yaml see https://github.com/pandas-dev/pandas/pull/27646#issuecomment-530970654

[2020-10-15 13:38] buhrmann commented on #20752
Maybe this should go into a separate issue, but I think in addition to the name of `pct_change`, the formula on my interpretation is not actually correct for negative values:

[code]

I would expect a change from -2 to -1 to be a 50% increase, not a decrease. But perhaps there is a scenario where the negative value is what is desired?

[2020-10-15 13:40] toobaz commented on #36195
I totally agree. To my eyes, your two points are precisely what justifies the "any indexing on columns returns views" variation - not the CoW or EoW as default.

[2020-10-15 13:56] gbrova commented on #35891
@jorisvandenbossche I just came across this problem again today and remembered this thread.

You're absolutely right that my confusion is about effect. As you point out, the `chunksize` keyword affects number of rows in each batch to be written _to the database connection object_.  This is different from the number of rows to be written _per database operation_, which is how I initially (mis)read

[2020-10-15 14:32] jorisvandenbossche commented on #36195
Regarding the example of @Dr-Irv at https://github.com/pandas-dev/pandas/issues/36195#issuecomment-708605199:

If we choose copy-on-write, and also use this for Series access, we for sure need to raise warnings about that this will no longer happen in the future / is no longer happening for a long time, I think.  Because it's indeed true that this would be a tricky case to upgrade for (but with go

[2020-10-15 14:42] toobaz commented on #36195
Yes, we just need to make sure/clear this cannot be overridden by a later ``.as_mutable_view()``.

[2020-10-15 14:48] jbrockmendel commented on #37119
I don't know, can only confirm that I tried it and it didn't work.

@simonjayhawkins this looks really similar to Joris's suggestion which I was not able to implement succesfully.  My prior has nonzero weight on "me messing up", can you confirm whether or not this is viable for us?

[2020-10-15 14:51] mauriciopsgv commented on #28572
take

[2020-10-15 14:56] simonjayhawkins commented on #37119
I'm not sure if we could do everything that we could do if having typing_extensions as a runtime dependency would allow. but if having a runtime dependency is a definite no-no, then some more investigation of possible workarounds is worthwhile.

as a start, have opened #37137 as a POC for Literal in function signatures.

[2020-10-15 15:03] ianozsvald opened #37139 "BUG: Surprisingly large memory usage in groupby (but maybe I have the wrong mental model?)"
Whilst teaching "more efficient Pandas" I dug into memory usage in a `groupby` with `memory_profiler` and was surprised by the output (below). For a 1.6GB DataFrame of random data with a indicator column (all random data), a groupby on the indicator generates a result that doubles the RAM usage. I was surprised that the groupby would take a further 1.6GB during the operation when the result is a t

[2020-10-15 15:03] jorisvandenbossche commented on #36195
I think it would be useful to work out a bit more what the option of **"clear rules"** could look like, to be able to better compare it to CoW or EoW.
(because also here there are still different options, and open questions about what to do with warnings ..)

---

One possible set of well-defined copy/view rules for indexing:

* Subsetting (one or more) columns is always a view
* Subsetting rows i

[2020-10-15 15:07] raginjason commented on #37083
For other people running into a similar issue, I was able to work around this by mapping the `object` type columns in question to `StringDtype()`. Columns of this type appear to map to `BINARY L:STRING` in Parquet regardless of their contents.

This still seems like a bug to me though. I can understand there may be a need to default types, but I don't see how `INT32` is a reasonable default for th

[2020-10-15 16:22] #37123 closed

[2020-10-15 17:14] behrenhoff opened #37141 "BUG: groupby.rolling.mean seems to roll over different groups when center=True"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

To reproduce:

[code]

#### Problem description

The code via apply and via groupbyrolling should produce identical results, yet the groupbyrolling version seems to ignor

[2020-10-15 17:15] toobaz commented on #36195
Indeed this is what I had this in mind, but I had overlooked that in numpy selecting a single row results in a view, which is not something we want, as long as in the long term we don't expect pandas to support 2D data blocks (a ``Series`` should really not have to look for its data scattered in N different 1D blocks).

So if this long term assumption holds, I would be uncertain between indexing r

[2020-10-15 19:08] phofl commented on #37141
Hi, thanks for your report. This works on master.

[code]

returns

[code]

[2020-10-15 20:31] Dr-Irv commented on #36195
I like the concept of having explicit methods for getting views.  (e.g. `df.v.loc`).

The issue is what to do with `__getitem__()`.  @toobaz what rules would you have if `.loc` was not being used, e.g. `df['A']`, `df[['A']]`, `df[['A','B']]`, `df[df['A']>3]['B']`, `df[df['A']>3][['B']]` ?

So I'll throw out another idea, which is that we leave existing behavior as it is today, but we implement the

[2020-10-15 20:46] jorisvandenbossche commented on #36195
That doesn't enable the usecase of "I want a view so I can mutate inplace", though. If you explicitly ask for a view, I would expect to *not* get a warning? (the user knows they have a view, so should also know that mutating the subset mutates the parent?)

That specific example cannot actually work. A boolean mask always gives a copy, so you're mutating a column of a copy.
(unless we would start

[2020-10-15 21:03] jbrockmendel commented on #35418
Where does it say xs is slated for deprecation?

[2020-10-15 21:10] jbrockmendel commented on #19187
is_all_dates has been deprecated, so if this isnt closed by then, we can close it when is_all_dates is removed

[2020-10-15 21:56] toobaz commented on #36195
... depends on what rules we settle on, but..

same as `df.loc[:, 'A']`

same as `df.loc[:, ['A']]`

same as `df.loc[:, ['A', 'B']]`

same as `df.loc[df['A']>3].loc[:, 'B']`

same as `df.loc[df['A']>3].loc[:, ['B']]`

I *think* these identities should be valid already and should stay valid whatever decisions we take. Also because the rules shouldn't make any reference to `loc` vs. `_getitem_` vs.

[2020-10-15 21:57] toobaz commented on #36195
Correct! I took a bad example

[2020-10-15 22:01] fangchenli commented on #37135
I'm not sure how to apply this change #37144 when using pip.
[code]
works on Linux without this change. Unfortunately I don't have a Windows machine to test this.

In the meantime, my personal recommendation is to use Python 3.8 with [Anaconda](https://www.anaconda.com/products/individual). New programmers usually find it much easier to use than pip does.

If you really need to use Python 3.9, ple

[2020-10-15 22:08] smithto1 commented on #36757
take

[2020-10-15 22:09] Dr-Irv commented on #36195
That's new functionality, but today, you can mutate in place if you grab a single `Series`.  So we would still allow that kind of mutate-in-place.  We just wouldn't allow the *new* functionality of getting a view that returns a `DataFrame` and mutating that view, but that doesn't work today anyway.

What I am suggesting here (just create a new method to return a view of a `DataFrame` when asking f

[2020-10-15 22:30] jbrockmendel commented on #16593
Closing as not a bug.

[2020-10-15 22:30] #16593 closed

[2020-10-15 22:37] smithto1 commented on #36757
It seems the regression was introduced in #30679

[2020-10-15 22:46] jbrockmendel commented on #13569
this is fixed on master, likely a ways back

[2020-10-15 22:50] phofl commented on #35665
This was caused by #34634

This is actually quite interesting. The first string in ``'612092d7-071f-467e832d-dd53e0f2b590-0006'`` determines the frequency in
https://github.com/pandas-dev/pandas/blob/020040b3b92516b445ddd8daba3b9818340e82d4/pandas/_libs/tslibs/timedeltas.pyx#L334

So when the *result* is to large for the inferred frequency we get the OverflowError.

For example
[code]

raises too.

[2020-10-15 22:53] jbrockmendel commented on #17130
this works on master, may need test

[2020-10-15 23:36] jbrockmendel commented on #7887
having spent most of the last couple days on the relevant code in ILoc._setitem_with_indexer, I lean towards "no".  figuring out when we need to do expansion is a PITA

[2020-10-15 23:40] jbrockmendel commented on #7211
This type of indexing is deprecated, not sure this is worth the trouble

[2020-10-15 23:42] jbrockmendel commented on #27420
This now raises a KeyError on master

[2020-10-15 23:44] jreback commented on #7887
even better we should deprecate this entirely

[2020-10-15 23:49] epassaro commented on #27420
Yes, that's right.

[2020-10-15 23:51] dsaxton commented on #37104
Is the error for L452 in common.py right? Seems fine to add a list of strings and None to a list of strings.

[2020-10-15 23:53] jbrockmendel opened #37151 "API/BUG: empty sum with td64 NaT or timedelta(0)?"
[code]

I think zero makes more sense.  Easy fix if we have consensus.

[2020-10-16 00:21] jreback commented on #37151
this needs to use min_count and return 0 or NaT based on that

[2020-10-16 00:52] AkiraTenchi commented on #37135
I had the same issue i was able to fix it by installing the visual studio build tools which can be found here https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2017
then `pip install numpy`
then `pip install pandas`

[2020-10-16 01:08] #37133 closed

[2020-10-16 01:16] #25857 closed

[2020-10-16 01:30] #37095 closed

[2020-10-16 01:32] #36874 closed

[2020-10-16 01:46] #36775 closed

[2020-10-16 03:48] mroeschke opened #37153 "BUG: rolling.median/quantile does not work with (some) BaseIndexer subclasses"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Using the example from `computation.rst`.

[code]

The cython aggregations probably assume some sort of property of the windows that may not hold with the custom indexers

[2020-10-16 08:21] ghuname commented on #36798
It would be nice to have df.to_xml() as well.

[2020-10-16 08:27] TrigunaBN opened #37157 "BUG: pd.read_sql_table() raises unknown column error when column name of a table contains `%`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-16 08:36] behrenhoff commented on #37141
For reference (release notes maybe?), I have tested a few more versions:
0.25.x OK
1.0.x. OK
1.1.0, 1.1.1, 1.1.2, 1.1.3 BROKEN
master (2020-10-16) OK

So I can confirm it is working in master, thanks for adding the test!

[2020-10-16 08:36] #37141 closed

[2020-10-16 08:48] theMogget opened #37158 "BUG: unexpected behaviour using `.sample` without replacement and with weights as a series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

Passing in weights that do not match the length of the axis to be sampled throws a pandas error (Case 1). However, if

[2020-10-16 09:00] simonjayhawkins commented on #37104
This seems a common issue in expressions with concatinating strings. Mypy inference determines the type from the first sequence.

when assigning the result, then it is the type of the result that is important, so these errors could be considered false positives.

It is quite messy to add casts to resolve these, so ignores are probably OK.

It is possible to refactor, using unpacking, so that mypy

[2020-10-16 10:24] jreback commented on #37141
@mroeschke hmm might be worth backporting the patch though not sure if easy to do this

[2020-10-16 11:58] tqa236 commented on #25364
The linked NumPy issue is now fixed. Is this still an issue at Pandas?

[2020-10-16 13:00] eloyfelix commented on #31687
still broken in 1.1.3

[2020-10-16 14:09] TomAugspurger commented on #25364
Can you compare the timings of some of those code snippets with older and newer versions of numpy?

[2020-10-16 14:31] jreback commented on #31687
for all those commenting 'this is still broken' - well it's an open issue

you are welcome to propose a patch

[2020-10-16 14:37] eloyfelix commented on #31687
sorry, it was marked as a blocker for 1.1 and I was not sure about its situation

[2020-10-16 15:21] #37121 closed

[2020-10-16 16:23] jbrockmendel commented on #22335
We define `__invert__` in 5 places, `__inv__` in one.  Is one of these wrong?

[2020-10-16 19:00] phofl commented on #37153
Problem are the non monotonic starting points of the windows. Same problem with non monotonic ending points

[code]

[2020-10-16 19:04] jorisvandenbossche commented on #36957
I personally don't really see much value in deprecating it. As Tom says, we decided before to add `.array` for this purpose, and basically just left `.values` for all the code out there that uses it.

People who don't want the `.values` behaviour already have the alternatives available: `.array` for the EA (or `to_numpy` for specific numpy conversion).

[2020-10-16 19:17] #13691 closed

[2020-10-16 19:19] TomAugspurger commented on #19705
I don't think so. THe docs sstill say that `Categorical.fillna` can take a dict input.

[2020-10-16 19:21] Jeitan opened #37167 "BUG: Legend is wrong when plotting line over bar plot on same axis"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-16 19:24] #36702 closed

[2020-10-16 19:25] #37135 closed

[2020-10-16 20:30] jbrockmendel opened #37169 "CI: Windows PY38 build RuntimeError: can't start new thread"
I'm seeing this build fail a lot with low-level-looking errors, e.g.

[code]

[code]

[code]

[code]

Is this an upstream thing?

[2020-10-16 21:26] TomAugspurger commented on #36226
Adding this seems reasonable.

Do we know if this is going to be a scalar (as defined by the type?). I'm
wondering if the default implementation could be something like
`isinstance(element, self.dtype.type)`.  Wouldn't work for all EAs
(categorical would want something like `element in self.categories`) but it
seems OK for a default.

On Fri, Oct 16, 2020 at 4:20 PM jbrockmendel <notifications@git

[2020-10-16 21:28] mgmarino opened #37172 "BUG: Handle negative sign (-) when parsing ISO 8601 durations"
Related to #37159, #29773, #36204, splitting out only dealing with the behavior of the negative sign when parsing ISO 8601 Durations.

The current behavior is somewhat counter intuitive:

`"P-6DT0H50M3.010010012S"` parses as `Timedelta(
                days=-6,
                minutes=50,
                seconds=3,
                milliseconds=10,
                microseconds=10,
                n

[2020-10-16 21:32] jbrockmendel commented on #36226
Block._can_hold_element is also used for arraylike

[2020-10-16 21:35] dmitra79 commented on #31710
I am having this error. The 'isin()' example from above also  throws it.
'''

INSTALLED VERSIONS
------------------
commit           : db08276bc116c438d3fdee492026f8223584c477
python           : 3.8.6.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-118-generic
Version          : #119-Ubuntu SMP Tue Sep 8 12:30:01 UTC 2020
machine          : x86_64
processor

[2020-10-16 21:39] jorisvandenbossche commented on #36226
I want to repeat my question from above https://github.com/pandas-dev/pandas/issues/36226#issuecomment-689572976 related to the precise use case of this.

Assume we would decide to have EAs to be strict regarding dtype (and not let it upcast on setitem). Do we then actually need this method in the interface?

I know that the datetime-like EAs don't have this strict behaviour, and that's not someth

[2020-10-16 21:42] dmitra79 opened #37174 "BUG: ValueError: buffer source array is read-only"
- [ ] I have checked that this issue has not already been reported.

- [ X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

This seems similar to: https://github.com/pandas-dev/pandas/issues/31710
I am getting it in a dash application, so it's difficult to get an example from there.
However,

[2020-10-16 21:48] galipremsagar opened #37175 "DOC: Same description of `Returns` in `isna` and `notna`"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.notna.html

#### Documentation problem

There seems to be a typo in `Returns` section where both `isna` and `notna` are having this same description:

_Mask of bool values for each element in DataFrame

[2020-10-16 21:57] jbrockmendel commented on #36226
I think we need to distinguish between where casting can occur.  DTA/TDA/PA will upcast `element` when `__setitem__` is called, but the array itself doesn't get upcast.  By contrast, Block's setitem-like methods will cast the array if `not self._can_hold_element(element)`.

Are you suggesting that what `EA.__setitem__` accepts would be strict somehow?

----

In the status quo we have EABlock._can_

[2020-10-16 22:44] jbrockmendel opened #37178 "TST: suppress matplotlib warnings (or determine if they represent a bug)"
There are a bunch of these in the test logs:

[code]

Do these represent problems we need to do something about?  cc @tacaswell

If not, we should suppress them.  My attempts to do so with `pytestmark = pytest.mark.filterwarnings` have failed, could use another pair of eyeballs.

[2020-10-16 22:46] kenorb commented on #25730
Same here happening in Colab.

Code:

[code]

Changed the line to:

[code]

and it works.

Colab link: https://colab.research.google.com/github/LastAncientOne/Stock_Analysis_For_Quant/blob/master/Python_Stock/Technical_Indicators/RSI.ipynb

[2020-10-16 23:02] tacaswell commented on #37178
The warnings are from the pandas side of things: https://github.com/pandas-dev/pandas/blob/58dcafadfa50bb160afb2657a4fbda326d4802a6/pandas/plotting/_matplotlib/tools.py#L226-L231

[2020-10-16 23:14] jbrockmendel commented on #24248
I don't have the RAM to check this, but I think this may be fixed by the recent change to stop using maybe_indices_to_slice in `DatetimeIndex.take`

[2020-10-17 00:07] #29773 closed

[2020-10-17 00:07] #36204 closed

[2020-10-17 01:51] #11267 closed

[2020-10-17 01:53] #26490 closed

[2020-10-17 03:47] CrystalWindSnake opened #37187 "BUG:When SeriesGroupBy.apply to return DataFrame for each group, the result is incorrect"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-17 07:28] mgmarino commented on #37172
The link to the relevant documentation in the [Java Duration class](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-).

They note in the docs there that negatives are not part of the ISO 8601 standard.

My suspicion, however, is that many users need to parse "ISO8601-like" strings that include these extensions.  This is indeed my case as well.  As suc

[2020-10-17 11:16] erfannariman commented on #37157
Using raw sql to fetch the results does not raise.

[code]
Output:
[code]
Same for `fetchall`
[code]
Output
[code]

[2020-10-17 12:14] erfannariman commented on #37157
After investigating, this seems to happen at [GenerativeSelect](https://github.com/sqlalchemy/sqlalchemy/blob/87c24c498cb660e7a8d7d4dd5f630b967f79d3c8/lib/sqlalchemy/sql/selectable.py#L3295)

[2020-10-17 12:16] erfannariman commented on #37157
https://github.com/sqlalchemy/sqlalchemy/blob/master/lib/sqlalchemy/sql/selectable.py#L3295

[2020-10-17 12:32] johny-b opened #37190 "weird behaviours with tuples in index"
I'm not submitting this strictly as a bug because this is so messed up that I seriously consider tuples in indexes just simply never work, but I don't think the docs are clear about it.

I'm using python 3.6.9 and pandas==1.1.3.

Example 1:
[code]

works for `first` and not for `second`:

[code]

Example 2:

[code]

works for the first row only:
[code]

[2020-10-17 12:56] erfannariman commented on #37187
I am not sure if I agree with your expected output and if this is a bug. It actually makes sense what is returned.

To achieve what you want you can use `transform` instead:

[code]
Output:
[code]

[2020-10-17 13:05] erfannariman commented on #37175
Thanks for noticing this and opening the ticket. I made a PR to fix this.

[2020-10-17 13:13] #36868 closed

[2020-10-17 13:38] #24589 closed

[2020-10-17 13:44] MahsaSeifikar commented on #37094
I have the same problem. any solution?

[2020-10-17 14:39] alor commented on #37094
my solution was to downgrade to 1.1.2 and it works.

[2020-10-17 15:17] Dr-Irv commented on #32061
@tyomik-mnemonic Awaiting a response.  This doesn't appear to be an issue with the latest version of pandas.  As @dsaxton said, pandas stores strings as objects, and you need to use a newer version of pandas in order to convert that to the new `String` dtype.

[2020-10-17 15:20] Dr-Irv commented on #32162
fixed in version 1.1.3 (maybe earlier)

[2020-10-17 15:30] Dr-Irv commented on #32434
@mralecthomas with pandas 1.1.3, I cannot replicate this part of your example:
[code]
I get
[code]
Could be a platform issue (not clear which platform you are using)

Can you try again with the latest version of pandas?

[2020-10-17 15:43] playgithub opened #37197 "QST: read_csv succeeded with one file, but failed with another with the same format"
version
* python 3.8 64bit for windows
* pandas 1.1.3

code
[code]

Below are two `tmp.txt` files with different contents but the same format.
The 1st one works with `read_csv`.
The 2nd one doesn't, error message:
[code]
Why? How to fix?

tmp.txt (in utf-8)
[code]

tmp.txt (in utf-8)
[code]

[2020-10-17 16:00] #37175 closed

[2020-10-17 16:23] #36267 closed

[2020-10-17 16:24] jreback opened #37200 "DOC: excel format tag (binary) seems to be missing in the table output"
https://pandas.pydata.org/docs/user_guide/io.html

[2020-10-17 16:35] nagesh-chowdaiah commented on #32162
`joint.groupby(["cat", pd.Grouper(freq="20h")]).mean()`
works and gives the following output

[code]

[2020-10-17 16:39] nagesh-chowdaiah commented on #32162
Also, after resampling not just multiple aggregation, but also with singe aggregation, the code errors out with recursion depth
'print(joint.groupby("cat").resample("20h").agg(['mean']))'

[code]

[2020-10-17 16:43] nagesh-chowdaiah commented on #32162
Does this issue need a fix or already done???

[2020-10-17 16:51] knabben commented on #37200
@jreback can I take this one?

[2020-10-17 16:57] knabben commented on #37200
take

[2020-10-17 16:59] mzeitlin11 commented on #28283
@TomAugspurger I would be interested in contributing, is it all right if I work on DataFrame.unstack?

[2020-10-17 17:02] ukarroum commented on #37197
Explicitly specifying columns by using :

`pd.read_csv(path, sep='\s+', index_col=0, use_cols=[0, 1, 2, 3])`

seems to fix the issue.

Gonna try to do a quick research to try to come up with an explanation for this behavior.

[2020-10-17 17:04] #37174 closed

[2020-10-17 17:41] nagesh-chowdaiah commented on #28792
Is this ticket still open and need some help?

[2020-10-17 18:10] asishm commented on #37197
simpler repro:

**workaround** - specify the column names using `names`  (you can sniff the first row and infer if you need to) and skip the header row with `skiprows`

[code]

[2020-10-17 18:36] #37200 closed

[2020-10-17 19:25] TomAugspurger commented on #28283
@mzeitlin11 that'd be great. Looks like @arw2019 is handling `stack` in #37186

[2020-10-17 19:34] nagesh-chowdaiah commented on #37100
Can you please comment the expected output, i can take up this task

[2020-10-17 22:39] tokorhon opened #37210 "ENH: DataFrame.to_sql with if_exists='replace' should do truncate table instead of drop table"
#### Is your feature request related to a problem?
Dropping table when if_exists=‘replace’ will fail if the table has any objects, like a view, depending on it. Also, some databases like Oracle will end a transaction implicitly when a DLL statement like 'drop table' is issued.

#### Describe the solution you'd like
Better alternative would be to issue 'truncate table' command instead.

#### API br

[2020-10-18 00:18] mroeschke commented on #28688
This may have been fixed by https://github.com/pandas-dev/pandas/pull/37055.

If not, happy to reopen, but we would need a more slimmed down example.

[2020-10-18 00:18] #28688 closed

[2020-10-18 00:53] spencerkclark opened #37213 "QST: How to handle Index._id in an Index subclass?"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

In xarray we make use of an `Index` subclass for datetime-like indexing with non-standard calendars, which we call `CFTimeIndex`.  A recent c

[2020-10-18 01:32] playgithub commented on #37197
@ukarroum @asishm
Using explit params **names** solve the problem, but there are lots of csv's to parse, the count of columns varies.

The cause of problem:
1. cols are inferred from the row
2. the first row contains empty values
3. cells are sepreated by spaces / tabs / etc (i.e. `\s+`)

The solutions of the problem:
Solution 1: don't use `\s+` to seperate  cells
Solution 2: infer columns using a

[2020-10-18 02:51] jbrockmendel commented on #30053
This works on master, could use a test

[2020-10-18 08:27] syejing opened #37216 "BUG:cannot perform __truediv__ with this index type: DatetimeArray"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Index is time, column is 300 stock names, calculating the growth rate, pandas reported an error

df_price_new.info()
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81 entries, 2019-09-02 to 2019-12-31
Columns: 300 entries, 000001.SZ to 603993.SH
dtypes: datetime64[ns](1), float64(299)
memory usage: 190.5 KB

#### Ex

[2020-10-18 08:39] Illviljan commented on #28283
Series `attrs` are lost when using `df.iloc`. Dask relies on iloc when creating meta dataframes so the attrs will always be lost for dask series.

Example:
[code]

Further reading: https://github.com/dask/dask/issues/6730

[2020-10-18 11:34] simonjayhawkins commented on #28792
see https://github.com/pandas-dev/pandas/issues/28792#issuecomment-637605353

[2020-10-18 11:40] simonjayhawkins commented on #35418
listed under potential at https://github.com/pandas-dev/pandas/issues/18262 with a couple of -1's in the discussion and https://github.com/pandas-dev/pandas/issues/6249#issuecomment-403159807

[2020-10-18 12:15] ukarroum commented on #37216
`Columns: 300 entries, 000001.SZ to 603993.SH
dtypes: datetime64ns, float64(299)`

it looks like one of your 300 columns is of type : `datetime64ns`, which makes the exception completely normal.

I would also recommand to provide a minimal working example in the future, yours is not a good one since we don't actually have a `df_price_new` dataframe

[2020-10-18 12:27] rebecca-palmer opened #37217 "BUG: pytables index expressions fail in Python 3.9"
- [ y] I have checked that this issue has not already been reported. (Here - it [has in Debian](https://bugs.debian.org/972033))

- [ y] I have confirmed this bug exists on the latest version of pandas.

- [ y] (optional) I have confirmed this bug exists on the master branch of pandas.  (Though with a mix of Debian and pip dependencies, as pip doesn't have them all for 3.9 yet.)

---

#### Code Sa

[2020-10-18 12:32] erfannariman commented on #37216
As @ukarroum it's best practice to add a [minimal bug report](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2020-10-18 12:36] nagesh-chowdaiah commented on #28792
take

[2020-10-18 12:40] ukarroum commented on #37210
One of the problems i can see with using truncate instead of drop is that this add the limitation the the user's dataframe need to have the same columns as the table (which may not always be the case, depending on the usecase).

[2020-10-18 12:44] HagaiHargil opened #37218 "BUG: Wrong results and SegFaults when indexing with uint arrays"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Indexing into a Series without `.iloc` or `.loc` using an unsigned integer that points outside

[2020-10-18 12:54] phofl commented on #32306
cc @jorisvandenbossche c @WillAyd

The behavior should be, that NaN does not match NaN for all nan types? This would break a few tests. Can we do that from the perspective of backwards compatibility or should we warn first before fixing this?

[2020-10-18 13:34] nagesh-chowdaiah commented on #28792
@simonjayhawkins Created https://github.com/pandas-dev/pandas/pull/37219 partial fix please review.

[2020-10-18 13:52] phofl opened #37220 "BUG: MultiIndex.is_montonic erronoes when nan in at least one level"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-18 14:20] fangchenli commented on #37178
xref #18306

[2020-10-18 14:41] erfannariman commented on #37210
Yes I agree with @ukarroum , also the type of a column can change over time. But then again OP is suggesting to add a new method `if_exists='truncate'` which is a bit confusing, because the title states otherwise.

I can see the benefit of truncate over drop, also since the first will be more efficient.

[2020-10-18 14:56] #36757 closed

[2020-10-18 15:01] #21517 closed

[2020-10-18 15:01] #34180 closed

[2020-10-18 15:49] tokorhon commented on #37210
There are pros and cons of truncate vs. drop. So maybe new method is the answer. Call it if_exists='delete' or something else. If truncate table is not supported by DBMS then this method should lead to 'delete from table' (which is slower than truncate).

[2020-10-18 16:56] phofl opened #37222 "BUG: get_indexer for MultiIndex with nans returns wrong indexer"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-18 18:28] jbrockmendel commented on #37213
cc @topper-123

[2020-10-18 19:09] ssmssam commented on #37093
The issue seems to occur with this line in generic.py added in June
               result = result.reindex(self.grouper.result_index, copy=False)

[2020-10-18 20:41] dsaxton commented on #37158
I believe this is the documented behavior and not a bug (if weights are a Series then they're first aligned with the calling Series): https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sample.html

[2020-10-18 21:27] topper-123 commented on #37213
I think you've got two choices:
1. Add a `_id = None` class attribute. This corresponds to how pandas did it before #37087.
2. Call `_reset_cache` in your `_simple_new`. This helps performance if comparing views of the same index.

Maybe we should add `_id = None` a back to pandas?

[2020-10-18 21:34] jbrockmendel commented on #15928
this works on master, though the file is now at `pd.__path__[0] / "tests" / "tools" / "data" / "quotes2.csv" `

[2020-10-18 21:38] rhshadrach commented on #36507
@WillAyd Please feel free to reopen #35860 if you think deprecating `as_index` warrants further discussion. To separate this issue from that, it seems best to me to assume here that `as_index` will not be deprecated. Assuming that, are you still -0/-1 here?

[2020-10-18 22:24] toobaz commented on #15928
Indeed I suspect (or maybe just hope!) it was fixed by #19074 - as now indexing on two levels should be just like indexing separately on each level.

[2020-10-18 22:40] toobaz commented on #22335
Given that ``__inv__`` has the wrong name (for what it does), and that the name is of an obscure method (not supported by any other pandas object, not sure it even exists in numpy, and at the same time trivial to compute as ``1/idx``), I think this bug should be fixed by:
- making a copy of the method at https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/base.py#L5429 with the na

[2020-10-18 22:46] toobaz commented on #22335
By the way, I'm not even sure a method which only exists as ``__invert__`` requires a deprecation cycle...

[2020-10-18 23:59] spencerkclark commented on #37213
Thanks @topper-123!

I'm obviously biased -- the fewer changes we have to make in xarray the better -- but this would be my preferred approach.

[2020-10-19 01:08] mroeschke commented on #15095
2 thoughts here:

1. I'm not sure if we should stuff this feature in the ``axis`` keyword; I think we should add a new parameter as I can see this being a possibility (from Tom's example). Maybe a ``how=None|'table'`` argument for None=1D, table=2D

[code]

2. Implementation wise, these might be some potential hurdles & complexities to consider:

- Currently all windowing aggregations are calculat

[2020-10-19 01:45] syejing commented on #37216
I thought it was the version of Pandas before, so I upgraded The Pandas version. As mentioned, there may be a problem with the type of column, so I will have no problem if I keep the column within 5 columns

[2020-10-19 02:23] #37216 closed

[2020-10-19 02:25] chris0411 opened #37235 "BUG: HDFStore.get_storer.shape returns (1, #) where the table is empty"
[code]

#### Problem description

I expect HDFStore.get_storer.shape to give [0, #] where there's 0 row in an HDF file, but it gives [1, #].

This happens in fixed format tables.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : db08276bc116c438d3fdee492026f8223584c477
python           : 3.7.9.final.0
python-bits      : 64
OS

[2020-10-19 02:44] rhshadrach commented on #37187
Agreed with @erfannariman; when the results are DataFrames, they are concatenated vertically. One must take care to align column names when doing this. This can be done by changing the function in this case to:

[code]

which will produce the expected output.

[2020-10-19 02:55] rhshadrach commented on #37167
As a temporary workaround, if you switch the order of `bar` and `line`:

[code]

the correct legend is produced. A PR to fix is most certainly welcomed.

[2020-10-19 03:01] rhshadrach commented on #36850
Thanks for raising this. PRs to improve the docs are most welcome.

[2020-10-19 04:08] arw2019 opened #37237 "DOC: update PeriodArray docstring"
AFAICT we currently don't have dedicated pages for these methods in the API reference.

When we add them we also want add links on the `pd.PeriodArray` [page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.arrays.PeriodArray.html) (and possibly in other places)

[2020-10-19 06:03] rkc007 commented on #32073
It's been 2 months since nobody is working on it. I am interested to work on this issue.

[2020-10-19 06:04] rkc007 commented on #32073
take

[2020-10-19 06:44] #32463 closed

[2020-10-19 07:24] #37197 closed

[2020-10-19 07:42] jorisvandenbossche commented on #37237
I think we should actually update the docstring of PeriodArray, because `period_array` is not public. As far as I know, the recommendation would be to either use `pd.period_range(..)` or `pd.array(..)`.

The PeriodIndex docs are listed here: https://pandas.pydata.org/pandas-docs/stable/reference/indexing.html#periodindex

[2020-10-19 08:40] MarcoGorelli commented on #32073
Awesome! Let us know if you want/need help

[2020-10-19 09:04] shaido987 opened #37239 "DOC: documentation rendering issue for functions using typing overloads"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.concat.html

#### Documentation problem
This is how the method header looks for concat:

[code]

For comparison, this is merge:
[code]

As can be seen above, concat keeps the type information and there are two entries (likely due to the different output types).

I'm not sure why this occurs, but there are s

[2020-10-19 09:37] CrystalWindSnake commented on #37187
My example may be not fully expressed.
When I have a function like this:
[code]

I expect the following two operations to return the same results：
[code]
But not now

[2020-10-19 11:01] simonjayhawkins commented on #36186
aarch64 wheels for pandas 1.1.3 on PyPi, xref https://github.com/MacPython/pandas-wheels/issues/102#issuecomment-704994535  thanks @TomAugspurger

[2020-10-19 11:08] jreback commented on #21050
https://github.com/dask/dask-gateway/pull/339/files

looks interesting as an example of a GH here

cc @simonjayhawkins

[2020-10-19 11:32] simonjayhawkins commented on #21050
Thanks @jreback.

It may make sense to build the wheels **for release** in github actions from pandas as part of a single workflow, but we obviously don't want to duplicate code in the workflow.

If we wanted MacPython to still be the single source of truth, we could maybe create an action and re-use. (i've only created one action up to now see https://github.com/simonjayhawkins/pandas-release/com

[2020-10-19 11:41] Dr-Irv commented on #32788
We're unlikely to change the default argument - it would be a code breaking change for existing users.

[2020-10-19 11:41] #32788 closed

[2020-10-19 11:44] TomAugspurger commented on #21050
I haven't checked, but we can maybe use the https://github.com/peter-evans/repository-dispatch action to have an action here (pushed a tag) to trigger an action in MacPython/pandas-wheels.

[2020-10-19 11:48] pranjulknit commented on #15086
Remove file from same folder name like ,if your file stored in same folder name as file.
Just remove file from that folder.
 don't store file in same folder name.
then,it works

[2020-10-19 11:48] jorisvandenbossche commented on #37239
@shaido987 thanks a lot for the report. Those overloads should indeed not be shown. This seems to be a bug in sphinx, see https://github.com/sphinx-doc/sphinx/issues/7785

In general, also see https://github.com/pandas-dev/pandas/issues/33025 for showing type annotations in the docs or not.

[2020-10-19 11:51] simonjayhawkins opened #37242 "CI: Split .github\workflows\ci.yml into separate workflows"
CI / Checks (push) — Checks and CI / Web and docs (push) — Web and docs are part of the same workflow.

If we want to restart one of the jobs (quiet infrequent - a few instances of connection issues on web and docs IIRC), both are re-run.

It may make sense to split these.

An alternative could be to combine with pre-commit into a single workflow and only run 'Checks' and 'Web and docs' on success

[2020-10-19 11:55] mmagnuski commented on #15086
@pranjulknit If understand you suggest to move the file to a folder without these problematic characters in the path. This is not always possible. If you suggest that folder names and file names should be different - this is not the issue that is described here, I never had problems with that.

[2020-10-19 12:59] simonjayhawkins commented on #37239
Thanks @shaido987

we were aware of this, see https://github.com/pandas-dev/pandas/issues/36475#issuecomment-695810818, but that is obviously not so visible as a dedicated issue.

But at the same time, i'm also happy to close this as it is a sphinx issue.

[2020-10-19 13:00] jreback opened #37243 "TST: split up test_concat.py"
we should split this to a sub-module (concat) and then split logically (similar to merge)

https://github.com/pandas-dev/pandas/blob/master/pandas/tests/reshape/test_concat.py

[2020-10-19 13:08] TomAugspurger commented on #21050
I'm fine with moving `pandas-release` here.

On Mon, Oct 19, 2020 at 7:01 AM Simon Hawkins <notifications@github.com>
wrote:

[2020-10-19 13:15] Dr-Irv commented on #32162
@nagesh-chowdaiah It needs a test to confirm that the original behavior that was reported as erroneous has been addressed

[2020-10-19 13:18] jorisvandenbossche commented on #21050
There might be some value in having it as a separate repo? (just thinking out loud, not sure) For example, you can still make updates / fix something, even after a tag for a release is created, without having to deal with a "dirty" git state.

(eg if we want to have an action triggered on a release *here* in this repo, that action could also check out the separate repo)

[2020-10-19 13:19] aamalikcmu opened #37244 "QST: Rolling mean triggers exception : Cannot cast array data from dtype('float64') to dtype('int32') [Works on macOS (64 bits?) not on Linux 32 bits])"
- [ Check] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ Check] I have asked my usage related question on [StackOverflow](https://stackoverflow.com/questions/64373351/pandas-rolling-window-cannot-cast-array-data-from-dtypeint64-to-dtypeint).

---

#### Question about pandas

I am trying to calculate the average of

[2020-10-19 13:20] jreback commented on #36186
are the dev docs just not updated anymore? https://dev.pandas.io/docs/

[2020-10-19 13:28] stefan-jansen opened #37245 "BUG: with integer column labels, .info() throws KeyError after column subsetting with .loc[]"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-19 13:29] simonjayhawkins commented on #21050
also thinking out loud... if the release is more automated, would there be less of an issue with deleting the tag and restarting to process? We would obviously want a point of no return, but would that be as late in the process as PyPI upload. I _think_ it's possible to delete github releases? (Although IIUC only conda release needs the Github release)

so process could be re-ordered slightly

tag

[2020-10-19 13:35] simonjayhawkins commented on #21050
I could make changes to #36704 to see how that would work

[2020-10-19 13:39] simonjayhawkins commented on #36186
moved to https://pandas.pydata.org/pandas-docs/dev/

[2020-10-19 13:39] pranjulknit commented on #15086
Actually, i have this problem while reading csv file from jupyter notebook.

[2020-10-19 13:55] jcunhafonte opened #37246 "BUG: ValueError: The name None occurs multiple times, use a level number"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When executing the `pivot_table` function with `aggfunc` argument as a **dict** with multiple

[2020-10-19 14:09] devin-petersohn opened #37247 "DOC: Replace pandas on Ray in ecosystem.rst with Modin"
#### Location of the documentation

https://pandas.pydata.org/docs/ecosystem.html#ray

#### Documentation problem

Pandas on Ray does not exist anymore.

#### Suggested fix for documentation

Update references to Modin.

I will do this.

[2020-10-19 14:11] jreback commented on #36186
ok, let me create an issue to update the dev docs then :->

[2020-10-19 14:13] jreback opened #37248 "DOC: update development documentation for link to built docs"
this has the built docs: https://pandas.pydata.org/pandas-docs/dev/ rather than https://dev.pandas.io/, so need to update the contributing docs.

[2020-10-19 14:23] asishm commented on #37245
Simpler repro (subsetting is not required) with below df

This is a regression

[code]

Tested working fine in v1.0.3 and failing in v1.1.3 (and on master)

[2020-10-19 14:23] paris0120 opened #37250 "BUG: Rolling by day"
- [ X] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-10-19 14:55] laffite56 commented on #37243
Hello,
i want contribute to this issue. I am not completely sure about files content, so let me know if I need to change something. I will make PR in about 30 minutes.

[2020-10-19 14:55] laffite56 commented on #37243
take

[2020-10-19 15:09] #37250 closed

[2020-10-19 15:31] MarcoGorelli opened #37252 "DOC Fix some typos in the docs"
Here's a few typos I found via `codespell`, first-timers are welcome to open a pull request to fix them
[code]

[2020-10-19 16:11] asishm commented on #37245
#33625

0570237c663434e09fed5bc61712ead07bb14692 is the first bad commit
commit 0570237c663434e09fed5bc61712ead07bb14692
Author: Marco Gorelli <33491632+MarcoGorelli@users.noreply.github.com>
Date:   Sun Apr 19 19:59:28 2020 +0100

    slightly clean info.py ahead of adding Series.info (#33625)

 pandas/io/formats/info.py | 29 +++++++++++++++--------------
 1 file changed, 15 insertions(+), 14 del

[2020-10-19 16:16] dsaxton commented on #37252
I think that "To wit" isn't a mistake here, I could see changing it because it sounds odd though

[2020-10-19 16:18] MarcoGorelli commented on #37245
Thanks @asishm for investigating, I'll take a look!

[2020-10-19 17:08] ivanovmg commented on #37178
I fixed similar warnings in https://github.com/pandas-dev/pandas/pull/36982
I can look at the remaining ones of this kind.

[2020-10-19 17:20] deschman opened #37257 "BUG: to_parquet corrupting temporary files"
#### Code Sample, a copy-pastable example

I get an OSError from the following code:
[code]
[code]

#### Problem description

The error message provided by pyarrow does not indicate where the issue is in the code. I did not test with fastparquet engine as they do not currently seem to support the _TemporaryFileWrapper. If this should go to pyarrow instead, please let me know.

#### Expected Output

[2020-10-19 17:29] jbrockmendel opened #37258 "REF: NumericIndex.union determine casting dtype using concat logic"
ATM NumericIndex._union has special casting rules for what dtype it casts to when unioning with another NumericIndex of a different dtype.

[code]

Instead, we should re-use code (not sure where this lives, cc @jorisvandenbossche ?) from concat (maybe even Block.putmask?) to determing the appropriate upcast dtype.

[2020-10-19 17:41] MarcoGorelli commented on #37252
OK have removed it from the issue

[2020-10-19 17:45] jtkiley commented on #36703
@biddwan09 I poked around a bit more, and here are a couple of thoughts:

1. I think the best fix may be to fix the issue where `sum` is concatenating strings. That seems like unexpected behavior. Instead, I'd expect a reduction on a dataframe to not return a column for that string column. I couldn't quite track down how the `sum` method is implemented to experiment more, but the behavior I descri

[2020-10-19 17:46] asharma13524 commented on #37252
Ok, I believe my latest commit should have addressed this. Please let me know if something is wrong. Thanks.

[2020-10-19 18:05] ianozsvald commented on #37139
Here's a slightly more detailed view - taking a view is cheap (circa 0MB as expected) but using the index from the `groupby` still seems pretty heavyweight (but I might just misunderstand what's going on behind the scenes):

[code]

[2020-10-19 18:06] ukarroum commented on #37244
I would recommend (to help solve the issue) :

1) give an example of the content of the file : example.csv (idealy small number of rows just to reproduce the error), or even better a code to reconstruct a df causing the issue.
2) put a more explicit title on the issue (for example : `Rolling mean triggers exception : Cannot cast array data from dtype('float64') to dtype('int32') [Works on macOS (6

[2020-10-19 18:08] jorisvandenbossche commented on #37258
This logic lives in `pandas.core.dtypes.cast.find_common_type` and `pandas.core.dtypes.concat._cast_to_common_type`. It would indeed be good to re-use this more generally.

For the float/int combo, that already does the same as the "special case" mentioned above. Not sure if there would actually be differences in behaviour right now when switching to use this logic.

[2020-10-19 18:09] ukarroum commented on #37248
would like to work on that

[2020-10-19 18:09] ukarroum commented on #37248
take

[2020-10-19 18:11] RauliRuohonen opened #37260 "BUG: astype(float) raises TypeError for StringDtype series (float() does not accept NAType)"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-19 18:14] ivanovmg opened #37261 "ENH: match warning messages"
#### Is your feature request related to a problem?

I wish we could match warning messages using ``pandas._testing.assert_produces_warning``.
Currently it catches the warning category, but does not match the message.
Recently (https://github.com/pandas-dev/pandas/pull/36982) I stumbled upon the need for this feature.

#### Describe the solution you'd like

``pandas._testing.assert_produces_warning

[2020-10-19 18:20] RauliRuohonen opened #37262 "BUG: to_numeric() raises TypeError for StringDtype series"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Running this code results in `TypeError: Invalid object type at position 1`

The same code wo

[2020-10-19 18:25] jorisvandenbossche commented on #35169
The PR of @TomAugspurger at #36142 proposed a way to expose this "native/arrow-backed string dtype" to the the user. Specifically, that PR was doing:

1. One user-facing `pd.StringDtype[storage]`, parametrized by storage = `python/pyarrow`.
2. Two (or three) user-facing  StringArray classes, an `ArrowStringArray`, `PythonStringArray`, and maybe a base `StringArray`.

So for now, "string" dtype wou

[2020-10-19 18:36] MarcoGorelli commented on #37252
closed via #37253

[2020-10-19 18:36] #37252 closed

[2020-10-19 18:43] xhochy commented on #35169
Sounds good as this gives the end-user still and easy and obvious way to switch between both implementations.

[2020-10-19 18:49] TomAugspurger commented on #35169
Sounds good to me too.

I expect that the class hierarchy will be something like

[code]

and trying to make a `StringArray` directly wouldn't be allowed (may or may not be public in `pandas.arrays)`.

[2020-10-19 18:55] jorisvandenbossche commented on #21050
Although it's certainly more minor (also given it's on the release branch), but that is still "rewriting" git history, and I think ideally we should try to avoid that generally speaking.

[2020-10-19 19:07] biddwan09 commented on #36703
@jtkiley  thanks for the approaches. I will try to  understand how the sum method works and put a fix from there

[2020-10-19 19:09] nagesh-chowdaiah commented on #28792
@simonjayhawkins Completed this task.
Except this. Not sure from where is this.
None:None:SA04:pandas.Timedelta.isoformat:Missing description for See Also "Timestamp.isoformat" reference

[2020-10-19 19:21] simonjayhawkins commented on #21050
At present we create a commit for the tag but this may not be necessary. Maybe we could tag the appropriate commit directly.

IIUC deleting a release from Github can be done easily from the UI but I think deleting a tag needs to be done from the cli.

so if we don't have a release commit, maybe deleting a tag is not bad practice. If we change the order of the release process, deleting a release sh

[2020-10-19 20:24] dmitra79 opened #37264 "BUG: another ValueError: buffer source array is read-only"
- [ ] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

This seems related to: https://github.com/pandas-dev/pandas/issues/37174
however it shows up under different conditions - appears to be triggered by comparison involving

[2020-10-19 20:25] dmitra79 commented on #37264
@dsaxton Does https://github.com/pandas-dev/pandas/pull/37181 cover this?

[2020-10-19 20:33] dsaxton commented on #37264
It seems like a different issue to me. Can you create a copy / pastable reproducible example so others can investigate?

[2020-10-19 20:51] hickmanw opened #37265 "BUG: PeriodIndex.dtype comparison with string exhibits contradiction"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

`PeriodIndex.dtype` is both `__eq__` and `__ne__` to the string representation of its frequency. I suspect that compar

[2020-10-19 21:15] WillAyd commented on #36507
Yea I'd still be -1 on investing a lot in this keyword. I'll reopen the other issue

[2020-10-19 21:15] WillAyd commented on #35860
Reopening as I think this is worthwhile to do.

[2020-10-19 21:16] WillAyd commented on #32306
For backwards incompatible changes like this we would just go through a deprecation cycle first

[2020-10-19 21:17] phofl commented on #32306
Ok thanks very much, will have a Look in the coming days

[2020-10-19 21:57] rhshadrach commented on #37187
@CrystalWindSnake can you give an example that shows the issue?

[2020-10-19 22:39] dhirschfeld opened #37267 "BUG: offsets are now unhashable"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
As discussed on gitter, this was apparently an unindended consequence of https://github.com/pandas-dev/pandas/pull/34227

![image](https://user-images.githubusercontent.co

[2020-10-19 23:28] jbrockmendel commented on #37258
Looks like we have 7 tests in tests.indexes.test_setops that fail after this change.  The tests expect object dtype but instead get float64.  I'll need to look more carefully to check that these make sense.

If perf impact weren't an issue, the id want to do min/max checks to ensure that the casting being done is non-lossy.  i guess the advantage of the current logic is that it is always non-lossy

[2020-10-20 00:05] dsaxton commented on #37262
For now probably makes sense to cast this to float64 with NaN, but should this eventually convert to a nullable Int64 or Float64 @jorisvandenbossche?

[2020-10-20 00:14] dmitra79 commented on #37264
I am unable to create a fully reproducible stand-alone example. The following piece of code creates manually the exact same values as the first five rows of my data frame but runs without a problem.
[code]
However, when I change the index of temp to point to the index of the original res_df, I get the error above:
[code]
I don't know how this happens. Perhaps the res_df has some blocks on its inde

[2020-10-20 00:35] #37247 closed

[2020-10-20 00:51] #37245 closed

[2020-10-20 01:01] dmitra79 commented on #37264
@dsaxton  Here is an example:
[code]

[2020-10-20 01:28] #20833 closed

[2020-10-20 01:30] #36951 closed

[2020-10-20 01:37] #18888 closed

[2020-10-20 01:44] dsaxton commented on #37265
Thanks, this is a regression due to https://github.com/pandas-dev/pandas/pull/34590

cc @jbrockmendel

[2020-10-20 02:08] #21168 closed

[2020-10-20 02:08] #27420 closed

[2020-10-20 02:08] #15928 closed

[2020-10-20 02:08] #30053 closed

[2020-10-20 02:39] jreback commented on #37260
i think this is fixed in master
can u try

[2020-10-20 03:36] JinhangZhu commented on #27812
With Pandas 1.1.3 and matplotlib 3.3.2, the issue still exists.

[2020-10-20 07:12] jorisvandenbossche commented on #37262
Yes, if the input is a new string dtype, then it should return nullable int or float

[2020-10-20 07:24] jorisvandenbossche commented on #37260
No, this is not yet working on master (I think it might have been the astype the other way around (float -> string) that was fixed recently)

[2020-10-20 07:29] jorisvandenbossche commented on #37260
Also related to `to_numeric` not yet being implemented for nullable dtypes (https://github.com/pandas-dev/pandas/issues/37262)

[2020-10-20 09:03] RauliRuohonen commented on #37262
Oops, I meant to write

[code]

as the example, to ensure that the result should be float (this code produces TypeError, too). With the code I did give,

[code]

it should of course produce Int64, because without None it produces int64, so the "Expected Output" section I wrote is incorrect in that regard.

[2020-10-20 09:06] YuriyTigiev opened #37272 "DOC: list all options for encoding and quoting in read_csv"
#### Location of the documentation

[pandas.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem
"encoding" and "quoting" described briefly.

#### Suggested fix for documentation
Should provide all parameters which

[2020-10-20 09:15] Japanuspus commented on #28283
@TomAugspurger: I have a potential fix for part of the `groupby` issues, see c882db554888b141fa95d1891f9cb84ab06b95f4.  The code was originally included in PR #35688 but was taken out to allow a separate review of potential performance issues.

Should I just reference this issue in a pull request, or open a more specific issue first?

[2020-10-20 09:54] TheEclipze commented on #21885
Have there been any progress on this issue?
I experience the same issue when importing floats from CSV data. This makes it very difficult to verify that my data transform operations work as expected.

I'm using Pandas 1.1.2

[2020-10-20 10:00] Meghana-12 commented on #37272
I'd like to work on this! Are the required details available in the latest version of the doc?

[2020-10-20 10:04] Meghana-12 commented on #37272
I'd like to work on this! Could you help me out with the details to be added?

[2020-10-20 10:11] larsrinn opened #37273 "BUG: to_offset has inconsistent behaviour for "W""
- [x] I have checked that this issue has not already been reported.

It might be related to https://github.com/pandas-dev/pandas/issues/34101 - I'm not sure, though

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

This yields:

[code]