[2020-02-26 16:49] toobaz commented on #32265
Definitely. To me, this is precisely the role of pd.NA - or anything denoting missing data. If you take a monthly average of something that didn't happen in a given month, it is missing, not a sort of strange floating number. Notice I'm not claiming the two concepts are the same, but just that there is no clear-cut distinction, and even less some natural one for users.

Sure. And I think we have a

[2020-02-26 17:13] AnnaDaglis commented on #32075
take

[2020-02-26 17:17] Dr-Irv commented on #32265
When I said "such a calculation could indicate something wrong in the data that you need to identify and fix.", the thing that could be wrong in the data might not be missing data.  It could be that some combination of values occurred that were not supposed to happen.

There are just two use cases here.  One is where the data truly has missing data, like your example of the monthly average.  The s

[2020-02-26 17:26] toobaz commented on #32265
My point is precisely that in my example missing data causes a 0 / 0. But it really originates from missing data. Could 0/0 result in pd.NA? Well, we would deviate not just from numpy, but also from a large number of cases in which 0/0 does _not_ originate from missing data.

[2020-02-26 17:30] toobaz commented on #32265
This is true. But... are there new usability insights compared to those we had [back in 2017](https://mail.python.org/pipermail/pandas-dev/2017-December/date.html)?

[2020-02-26 17:34] birnbera opened #32271 "Unary `~` operator broken for `BooleanArray`"
This may be related to [https://github.com/pandas-dev/pandas/pull/31484](url).

Unary application of the `~` operator seems to operate bitwise on an underlying integer array rather than the expected negation of a boolean:

[code]
This behavior prevents the correct handling of boolean indexing:
[code]
The problem goes away if both of your series are `ExtensionArray` types:

[code]
## Edit
I updated

[2020-02-26 17:39] echozzy629 commented on #31775
take

[2020-02-26 18:31] Dr-Irv commented on #32265
That's why I think having `np.nan` representing "bad calculation" and `pd.NA` represent "missing" is the preferred behavior.  But I'm one voice among many.

[2020-02-26 18:57] shoyer commented on #32265
+1 for consistency with other computational tools.

On the subject of automatic conversion into NumPy arrays, return an object dtype array seems consistent but could be a very poor user experience. Object arrays are really slow, and break many/most functions that expect numeric NumPy arrays. Float dtype with auto-conversion from NA -> NaN would probably be preferred by users.

[2020-02-26 19:33] xin-jin commented on #32259
I found that stack/unstack has a similar bug:

[code]
If you do `df.unstack('d').stack().index`, the resulting index is unsorted on level 'd', but its `.is_lexsorted()` returns True.

[2020-02-26 19:43] dsaxton commented on #32265
I think using NA even for missing floats makes a lot of sense. In my opinion the same argument that NaN is semantically misleading for missing strings applies equally well to numeric data types.

It also seems trying to support both NaN and NA might be too complex and could be a significant source of confusion (I would think warnings / errors are the way to deal with bad computations rather than a

[2020-02-26 19:46] Marky0 commented on #26284
Not by me. I recoded normalize.py and got it working for my specific need off-line. Never quite found  the time to re-code in a generalised form for approval into the main branch.

[2020-02-26 20:03] sjvdm opened #32276 "Categorical NaN behaviour different from a str"
#### Code Sample

### Series as category
df = pd.Series(['a','a','b','c']).astype('category')
print(df.shift(1))
print(df)
print(df.shift(1) != df)

OUTPUT:

0    NaN
1      a
2      a
3      b
dtype: category
Categories (3, object): [a, b, c]
0    a
1    a
2    b
3    c
dtype: category
Categories (3, object): [a, b, c]
0    False
1    False
2     True
3     True
dtype: bool

### Series as str
df

[2020-02-26 21:08] #29472 closed

[2020-02-26 21:22] jbrockmendel commented on #32265
I propose that from now on we use a branch of `log` with a branch cut along the positive imaginary axis, avoiding this problem entirely.

[2020-02-26 21:39] huonw opened #32277 "`isin(index)` is 2-6x slower than `isin(...)` with other data types including list, and orders of magnitude slower than using its hash table"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

#### Problem description

The exact ratios and numbers depend very much on the data , especially because the `get_indexer` forms are `O(data_size)` (with O(1) indexing into the index's hash table), while the other forms likely depend on `query_size`, at least to pay the cost of converting data.

#### Expected Output

I

[2020-02-26 21:58] ericmariasis commented on #27977
take

[2020-02-27 00:01] ericmariasis commented on #29254
The following are still unchecked but appear to be fixed or obsolete.

- [ ]  pandas.tseries.offsets.CustomBusinessDay: Summary should fit in a single line

- [ ]  pandas.Series.describe: Summary should fit in a single line

- [ ] pandas.Series.kurt: Summary should fit in a single line

- [ ]  pandas.Series.skew: Summary should fit in a single line

- [ ] pandas.Series.kurtosis: Summary should fit

[2020-02-27 00:21] mroeschke commented on #24036
Note our citation page is here: https://pandas.io/about/citing.html

Still could update with the DOI and possibly add a `citiation.txt`

[2020-02-27 01:18] mroeschke opened #32283 "DOC: Getting started tutorials feedback from EOSS meeting"
@WillAyd and I got some good feedback regarding the tutorials @stijnvanhoey [created](https://pandas.io/docs/getting_started/intro_tutorials/index.html) while at the CZI EOSS Kickoff Meeting.

1. Generally more white space between pictures and texts/headers
(example image above): https://pandas.io/docs/getting_started/intro_tutorials/01_table_oriented.html#each-column-in-a-dataframe-is-a-series

2

[2020-02-27 01:28] WillAyd commented on #32283
Done with the great help of @apreshill

[2020-02-27 01:42] zbrookle commented on #30480
Just wanted to update this with a link to the new package that I'm making. This will basically be a package that can take a dataframe and run a sql query against it

https://github.com/zbrookle/dataframe_sql

[2020-02-27 01:54] wesm commented on #30480
Looking at this, it would seem very interesting for this package to turn its parsed SQL into an Ibis expression. This could then be coupled with [Ibis's pandas backend](https://github.com/ibis-project/ibis/tree/master/ibis/pandas)

[2020-02-27 02:00] theSuiGenerisAakash commented on #21103
On 1.0.1 and still facing the same issue

[2020-02-27 08:22] jiannmeng opened #32287 "BUG: convert_dtypes changes BooleanDtype to Int64"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Applying convert_dtypes() to a column with dtype `string` converts it to a column dtype 'object' (and the individual values from `str` type to `bytes` type).

Applying convert_dtypes() to a column with dtype `boolean` converts it to a column dtype 'Int64' (and the individual values from `bool` type to `int` typ

[2020-02-27 08:44] jiannmeng commented on #32287
Oops, string bug is a duplicate and seems to be fixed, as per #31731.
However, I can't find any mention of the boolean bug.

[2020-02-27 09:06] regmeg commented on #32266
Workaround to this is to use numpy with the following strides based functions

python```
def rolling_window_nan_filled(a_org, window):
    a = np.concatenate(( np.full(window-1,np.nan), a_org))
    shape = a.shape[:-1] + (a.shape[-1] - window + 1, window)
    strides = a.strides + (a.strides[-1],)
    return np.lib.stride_tricks.as_strided(a, shape=shape, strides=strides)

def numpy_rolling_min(va

[2020-02-27 10:33] harmbuisman opened #32288 "[Regression] Index matching is wrong for dataframe operations such as div and mul"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

In pandas 1.01 the result of multiplying the two dataframes in this file is wrong (wrong values, wrong size), where it was right in 0.25.3:
[Analysis.zip](https://github.com/pandas-dev/pandas/files/4261081/Analysis.zip)

The output of the above in 1.0.1 gives:
![image](https://user-images.githubusercontent.com/7

[2020-02-27 10:55] simonjayhawkins commented on #32246
seems to be working ok now.

[2020-02-27 10:55] #32246 closed

[2020-02-27 11:27] TomAugspurger commented on #32288
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Is pickle necessary to reproduce the problem?

[2020-02-27 11:45] simonjayhawkins opened #32289 "CI Failing - Linux py37_np_dev - test_constructor_list_frames"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=29531&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=4d05ed0e-1ed3-5bff-dd63-1e957f2766a9

[2020-02-27 11:59] harmbuisman commented on #32288
Hi Tom, yes, that is a fair request. Thanks for the link. I tried to reproduce the problem with just code and simple dataframes, but sadly did not succeed in reproducing it that way. I will try some more things and will post an update if I succeed.

[2020-02-27 12:27] MarcoGorelli commented on #32179
Given the bug you uncovered in #32259, at the moment I'd say it's less accurate :)

[2020-02-27 12:34] SaturnFromTitan commented on #32183
take

[2020-02-27 12:40] MarcoGorelli commented on #32259
In this case, isn't the current result correct though?
[code]
The index is sorted by its first argument, and so it is correct to say that it's lexically sorted

[2020-02-27 13:00] fujiaxiang opened #32293 "ENH: implement SeriesGroupBy.corrwith"
Sample data
[code]

Issue
[code]

#### Problem description
As shown above, DataFrameGroupBy.corrwith has no issues and works as expected. However, the corresponding SeriesGroupBy.corrwith is not implemented and reports error.

#### Expected Output
[code]

[2020-02-27 14:02] joernhees commented on #32207
I actually already tried in https://github.com/eea/odfpy/issues/95, but man did i get lost... i can't even really tell if it's a bug in odfpy or if pandas uses it with(out) some magic option (in that case it would be a pandas bug).

Maybe someone more into odfpy like the original contributers @detrout or @simonjayhawkins could have a brief glimpse at it? Might be really simple for someone into it,

[2020-02-27 14:10] xin-jin commented on #32259
Oh you are right. I was confused a bit. Yes, this is actually correctly sorted.

[2020-02-27 14:34] kychanbp commented on #21228
I solved this by:

[code]
First, find out the mixed type column and convert them to string. Then find out list type column and convert them to string if not you may get ```pyarrow.lib.ArrowInvalid: Nested column branch had multiple children```

Reference:https://stackoverflow.com/questions/29376026/whats-a-good-strategy-to-find-mixed-types-in-pandas-columns
https://stackoverflow.com/questions/5087

[2020-02-27 15:31] onietosi opened #32295 "Incomplete reference to `convert_dtypes` in `to_numeric` docstring"
In the `pandas.to_numeric` [documentation page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html), in the **See also** section, `convert_dtypes` has no link attached to it.

I am not familiar with contributing to the docs but I believe this is because the docstring of `to_numeric` refers to `convert_dtypes` instead of `DataFrame.convert_dtypes`.

https://github.com

[2020-02-27 16:07] mankoff opened #32296 "[FR] Add keyword or option to print column names at bottom of output, not just top."
[code]

Generates

[code]

#### Problem description

Org-mode or Jupyter Notebooks often include Pandas table output. Pandas does try to intelligently limit printed output, but there are times when it is useful to have tables larger than can fit on screen. In this case, having column names repeated at the bottom (or even every `repeat` row) would improve readability and usability.

#### Expected O

[2020-02-27 17:19] #28004 closed

[2020-02-27 18:06] datapythonista opened #32301 "CI: Notifications when a job in GitHub Actions fails"
xref #32279

For what I see, when a build in the CI for a commit to master fails, only the user who triggered the action receives an alert (assuming the user has notifications enabled in [their settings](https://github.com/settings/notifications#github-actions-heading)).

I think for Travis and pipelines, some people are receiving notifications for all the failures. Ideally we would like to be abl

[2020-02-27 18:11] dsaxton commented on #32276
Thanks, this is a bug in the Categorical comparison operator

[2020-02-27 18:14] detrout commented on #32207
Huh.

It's losing spaces from the middle of a text string? That seems odd.

The most useful docs for odfpy were actually the OpenDocument specifications

I think I might have some time next week to try looking at this.

[2020-02-27 18:17] PaddyAlton commented on #31710
I think I've found a related issue with `isin` (at least, it throws the same sort of error!). May give some more insight though, as it was tricky to reproduce:

[code]

... and this then raises an exception as above:

[code]

Interesting, huh?

FWIW I originally ran into this when using Google's BigQuery python client to retrieve data from a table with an array-type field. When retrieved via `.to_

[2020-02-27 18:21] datapythonista opened #32303 "CI: Publishing development web and docs to GitHub actions fails"
Looks like using the ssh key to publish the development web and docs is not working. The error we get in the CI is that [the key has an invalid format](https://github.com/pandas-dev/pandas/runs/472871471?check_suite_focus=true#step:14:10).

I guess it's not as simple as the key content being incorrect, I guess it can't be obtained from the secrets, and probably the used key is just empty.

The rel

[2020-02-27 18:46] dsaxton opened #32306 "Joining on a nullable column"
[code]

(Above is from 1.0.1 and master)

I think when joining on a nullable column we should not be matching `NA` with `NA` and should only be joining where we have unambiguous equality (as in SQL). Also worth noting that this is the same as what happens when we have `NaN` which also seems incorrect, so could be an opportunity to fix this behavior?

[code]

#### Expected Output

[code]

cc @joris

[2020-02-27 19:06] mroeschke opened #32307 "WEB: Multiple "Getting Started" on pandas.io leads to different links"
Another piece of feedback from the CZI EOSS kickoff meeting that @WillAyd and I attended:

The current https://pandas.io/ home page has 2 `Getting started` links:

<img width="1433" alt="Screen Shot 2020-02-27 at 10 56 32 AM" src="https://user-images.githubusercontent.com/10647082/75477029-7bf30000-5950-11ea-8fc5-d0280c69067f.png">

The upper right one in the top ribbon leads to https://pandas.io/

[2020-02-27 19:18] mroeschke opened #32308 "DOC: Consolidate pages under /docs/getting_started"
Another piece of feedback from the CZI EOSS kickoff meeting that @WillAyd and I attended:

In https://pandas.io/docs/getting_started/index.html, we link to the following pages in the left side:

<img width="1429" alt="Screen Shot 2020-02-27 at 11 09 33 AM" src="https://user-images.githubusercontent.com/10647082/75478083-2e779280-5952-11ea-9cf9-d49c308a69f1.png">

We got feedback to:

1. Have a ded

[2020-02-27 19:28] stijnvanhoey commented on #32283
Thanks a lot for the useful feedback, great and certainly useful input! Some (e.g. heading space,...)  of it will be tackled on the [theme development](https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme), but I'll make sure to adjust the content the coming weeks.

[2020-02-27 19:35] mroeschke commented on #32283
Thanks @stijnvanhoey! Overall, the feedback was very positive about the organization, flow, and content of your tutorials.

[2020-02-27 19:47] detrout commented on #32207
What kind of crazy way to represent spaces is this?

<text:p>4 <text:s text:c="3"/>spaces</text:p>
<text:p><text:s/>1 leading</text:p>

I had no idea that they'd have a commend to represent a string of spaces so I didn't attempt to parse it.

[2020-02-27 20:03] detrout commented on #32207
Here's the relevant specification on how spaces should be handled. https://docs.oasis-open.org/office/v1.2/os/OpenDocument-v1.2-os-part1.html#__RefHeading__1415200_253892949

I suspect tab and new-line characters probably aren't supported either.

[2020-02-27 20:15] WillAyd commented on #32308
Also from the home page clicking “Getting Started” in the nav bar will take you to a different target than clicking the “Getting Started” link that shows under the “Getting Started” bullet points on the left hand side of the home page

[2020-02-27 20:20] WillAyd commented on #32306
Yea I would agree that we should not join on NA

[2020-02-27 20:21] WillAyd commented on #32296
I believe this is a duplicate of previous requests - can you search existing issues?

[2020-02-27 20:32] mankoff commented on #32296
@WillAyd it may be a duplicate but I'm unable to find it. I have searched using various combinations of the following keywords: "print display show column name header last row bottom".

Perhaps it is just such an obvious and useful feature request that you've thought of it even if it isn't a duplicate? :).

[2020-02-27 21:23] jorijnsmit commented on #25288
I would assume that `.fillna()` would coerce the series into being of type object when I am trying to fill it with an object. Just like for example when adding a float to it coerces it into being of type float:
[code]
However;
[code]

[2020-02-27 21:40] jorijnsmit commented on #25288
This behaviour is also displayed when using `.fillna()` on a series of floats using a string:
[code]

[2020-02-27 21:42] #12550 closed

[2020-02-27 21:56] KraxelHuber commented on #32262
![image](https://user-images.githubusercontent.com/29901736/75490219-1173ab80-59b4-11ea-8b57-dc323b211981.png)

![image](https://user-images.githubusercontent.com/29901736/75490294-3700b500-59b4-11ea-9bc6-fd58e39578da.png)

When performing a `groupby `and apply the `rolling` function, it is my understanding, that `idx_L2` should be deleted from the value section.

[2020-02-27 21:58] MarcoGorelli commented on #31849
If I've done git bisect correctly, it stopped working after this PR: #27467

[2020-02-27 22:17] MarcoGorelli commented on #32179
Sorry, I think I was wrong. By looking at the [docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.is_lexsorted.html), it says

Notice how it explicitly says _codes_ rather than values.

So, I think #32259 is actually fine as it is (not a bug), because there the values _are_ sorted. This clarifies the difference here - is_monotonic_increasing/decreasing check that th

[2020-02-27 22:36] jorisvandenbossche commented on #32306
There is an existing issue about the fact that right now we see NaNs as matching, which can blow up your merge if you have NaNs in both left and right key column (since you get a cross product combination of rows).
I need to look up the issue, but I think there is some agreement that we don't like that behaviour, so that would be a nice thing to fix with NAs.

[2020-02-27 22:47] WillAyd commented on #32308
Sorry noticed you have above comment of mine already addressed in #32307

[2020-02-27 23:07] #28189 closed

[2020-02-27 23:08] #21567 closed

[2020-02-28 00:54] mroeschke opened #32316 "DOC: Standardize references to pandas in the documentation"
In our documentation (files in `doc/source/../*.rst`), we refer to pandas as `Pandas`, `pandas`, and `*pandas*` (sphinx italics).

For documentation consistency, we should standardize these to one form. `pandas` is the preferable form in our documentation files.

Unfortunately I don't think we create a lint rule for this pattern since we have to be flexible to references and hyperlinks.

[2020-02-28 01:39] danni commented on #29773
Negative durations are also broken:

[code]

As are the examples from the _Moment_ docs.

[2020-02-28 02:15] joybhallaa commented on #32316
Can I take this issue?

[2020-02-28 02:20] ghost opened #32318 "API: Named aggregations for groupby.transform()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[Named aggregation](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#named-aggregation) streamlines the process of creating columns as a result of `groupby.agg()`. A similar (identical?) API for `groupby.transform()` would provide the same benefit when creating new columns from `groupby.tran

[2020-02-28 03:10] jbrockmendel commented on #31869
So there are a couple of tricky issues here.

1) what we're getting for `s1 - s2` is weird.  `datetime.date(2020, 1, 1) - None` raises, so it seems sketchy that we're giving back `Series([np.nan], dtype=object)`
2) `s2 / pd.Timedelta(days=1)` is wrong and should be fixed
3) but `np.nan / pd.Timedelta(days=1)` _should_ raise.

@pquentin is the problem with `(s1 - s2) / Timedelta` or `s2 / Timedelta

[2020-02-28 03:48] KingCooled opened #32321 "Cant Read Panda"
[code]

The error is the following :

    irst_concurrent_all_table = pd.read_html(requests.get(url).text)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/html.py", line 1100, in read_html
    displayed_only=displayed_only,
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/html.py", line 915, in _parse
    raise retained
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/html

[2020-02-28 03:52] KingCooled commented on #32321
I just ran code again and it detected a table.

[2020-02-28 04:14] KingCooled commented on #32321
Is it because too many times requested to the site? should i try it with a proxy on?

[2020-02-28 04:17] jreback commented on #32321
closing as not reproducible / out of scope

try stack overflow for usage questions

[2020-02-28 04:17] #32321 closed

[2020-02-28 05:54] arnocandel commented on #29813
Seems like can't replace with `None`
[code]
fails with `AssertionError`

this is for
[code]
on x86, Ubuntu 18.04 LTS.

[2020-02-28 10:03] Alpima-Quant opened #32325 "ENH: Syntactic sugar for DatetimeIndex datetime slicing"
[code]
When a Series or a DataFrame has a sorted DatetimeIndex, one can slice these structures using datetimes and square brackets notation. However this kind of slicing is not supported directly on a DatetimeIndex.
Basically I really like the datetime slicing notation and I'd like index[start_date:] to be able to return the same slice of the index as ts[start_date:].index or index[index.slice_ind

[2020-02-28 10:34] pquentin commented on #31869
@jbrockmendel Our code is doing `(s1 - s2) / Timedelta` just like in my sample code, but it's the division that appears to fail, hence the title. Does this answer your question?

We'd be happy to update our code if what we're doing should never have been supported in the first place, however.

[2020-02-28 10:44] MartinThoma opened #32326 "Unexpected behaviour of df.to_json(compression="gzip")"
#### Code Sample

[code]
#### Problem description

The behavior of the "compression" argument is unexpected. It doesn't have any effect. Although [it is documented](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html) that it is only applied if there is a filename argument, there should at very least be a warning if compression is set, but no filename is given.

[2020-02-28 11:14] MomIsBestFriend commented on #32316
@joybhallaa  Sure!
You can do this by commenting the word ```take``` (and nothing else, just the word ```take```), and the github bot will assign this issue to you.

[2020-02-28 11:15] joybhallaa commented on #32316
take

[2020-02-28 11:19] simonjayhawkins opened #32327 "local test failure - pandas/tests/io/test_parquet.py::TestBasic::test_compression[fastparquet-snappy]"
[code]

[code]

<details>

INSTALLED VERSIONS
------------------
commit           : bd2ee0fa1f1244aa4f0d9f1a7fea0d9e66ce72b4
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : en_GB.U

[2020-02-28 11:39] MarcoGorelli commented on #32263
`0` will be interpreted as a label for integer indexes, rather than as a position.

If you need to access the position `0`, use `.iloc[0]`, as advised in [the user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#different-choices-for-indexing)

Please try to be constructive

[2020-02-28 11:52] #32263 closed

[2020-02-28 12:37] achapkowski opened #32330 "How to tell if Accessor is Registered"
I have a simple question:

How do you know if your accessor namespace has already been registered with the extension framework?

Let's say I do:

[code]

Now later on in the code, a person does:

[code]

It will try to re-register the accessor.  This produces a warning during testing if that case occurs.  So how can I check that if on re-import the registration doesn't need to occur again?

[2020-02-28 13:12] MomIsBestFriend commented on #32327
I guess this only relevant for Windows users as I can reproduce this on master

<details>

[code]

</details>

---

Output of ```pd.show_versions()```

<details>

INSTALLED VERSIONS
------------------
commit           : 4e5e73e2318a1221eb56ae7e68688278ca87ca6f
python           : 3.8.1.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.19.a-1-hardened
machine          : x

[2020-02-28 13:31] simonjayhawkins commented on #32327
Thanks @MomIsBestFriend It occurred since recreating my local conda environment. This issue is a place holder until investigate which version of what package broke it. (I don't have a record of the previous versions installed)

not a pandas issue but may need to add skips to the test.

[2020-02-28 13:38] MomIsBestFriend commented on #32327
I guess the package ```snappy``` broke it, since this is the only package that's installed on your machine that I don't have it installed on mine.

[2020-02-28 13:47] MomIsBestFriend opened #32331 "Local test failure plotting.test_datetimelike.test_ts_plot_with_tz"
After running:
[code]

I got a test failure.

Test log:

<details>

[code]

</details>

---

Output of ```pd.show_versions()```:

<details>

INSTALLED VERSIONS
------------------
commit           : 4e5e73e2318a1221eb56ae7e68688278ca87ca6f
python           : 3.8.1.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.19.a-1-hardened
machine          : x86_64
processor

[2020-02-28 13:54] MomIsBestFriend commented on #32331
__Update__

I  could __not__ manage to reproduce this issue.

---

Are there times when ```np.datetime64``` doesn't have an hour attribute?

[2020-02-28 13:57] jqmviegas commented on #32295
take

[2020-02-28 14:01] MarcoGorelli commented on #32262
Thanks @KraxelHuber for the report!

To expedite resolution, could you please copy and paste your example into the issue you opened?

[2020-02-28 14:40] #32183 closed

[2020-02-28 15:39] xin-jin commented on #32179
Does that mean MultiIndex.sortlevel will also only be sorting the codes, rather than values? This would be rather confusing and will not be useful for users ...

[2020-02-28 15:44] BeanNan opened #32334 "DataFrame.sort_index() with ascending passed as a list on a single level index gives wrong result"
I found some problems while using data_frame sort_index,  first, create dataframe

[code]
Then I want to sort index "a" in descending order,
[code]
The above code does not sort index a in descending order,   I found the reason is that this dataframe is a single index structure, so when ascending = list is passed, it does not take effect

https://github.com/pandas-dev/pandas/blob/bf613c14f41b624b43

[2020-02-28 16:07] antoine-gallix commented on #31793
Have anything been decided here?
Meanwhile I'd like to share the workaround I'm using meanwhile this is getting solved.
[code]

[2020-02-28 16:14] MarcoGorelli commented on #32179
By looking at the source code, that seems to be the case.

If I've understood `is_lexsorted` and `sortlevel` correctly, I agree.

Might want to keep an eye on the thread in #32312

[2020-02-28 16:20] jbrockmendel commented on #31793
PR would be welcome

[2020-02-28 16:29] jbrockmendel commented on #31869
I'm working on a patch that will fix `s2 / td` but it won't fix `(s1-s2)/td`, which AFAICT is correct.  In terms of updating on your end, the question is what you're trying to do with `s1-s2`, since it isnt obvious what that means.

[2020-02-28 17:08] jbrockmendel commented on #32251
Simple, no.  But if you want to make a PR, we can pick up some mileage by making a vectorized version of `is_on_offset`, which in turn could be used to make a vectorized rollforward, which is what you're actually trying to do (I think theres another issue about that, should xref).

In the meantime, if you're data has _lots_ of duplicates, you can do something like:

[code]

[2020-02-28 17:20] pquentin commented on #31869
Ah yes I understand your question now. So s1 contains start dates, s2 contains end dates, and we encode "no end date" using None. We can add a condition to use different code in that case.

Thanks!

[2020-02-28 17:30] jbrockmendel commented on #31869
pandas support for `datetime.date` is limited; is using datetime.datetime viable?

[2020-02-28 19:20] jbrockmendel opened #32339 "PERF: short-circuit (left == right).all() comparisons"
In places like `equals` methods and `array_equivalent`, we do things like `(left == right).all()` or `((left == right) | (isna(left) & isna(right))).all()`.  For large arrays that are not equal, we can do much better with something like:

[code]

Some profiling results:
[code]

So in cases that short circuit early, we can get massive speedups, but this implementation is actually 2x slower in cases

[2020-02-28 19:22] jbrockmendel commented on #32339
cc @seberg any idea why this is so much slower in the not-short-circuit case?

[2020-02-28 19:51] seberg commented on #32339
@jbrockmendel my guess is: We are using SIMD loops in this case (at least sometimes), and cython probably does not manage to do that.

Are you sure what you are doing is a good idea though? First, -0 and 0 are not different normally. Second, there are many many NaNs, and you are making *some* of them return True.

[2020-02-28 20:36] chicolucio commented on #14162
Is there any news on this subject? Same problem here, with pandas version 1.0.1.

[2020-02-28 21:06] jbrockmendel commented on #32339
@scoder thoughts?

[2020-02-28 21:07] fpunny commented on #32326
I would like to take this

[2020-02-28 21:33] xin-jin commented on #32179
I guess potentially in MultiIndex.sortlevel, it can check the MultiIndex.levels[i].is_monotonic_increasing on each of its level, and resort those MultiIndex.levels[i] that are not sorted (as well as resetting its corresponding codes).

[2020-02-28 21:43] MarcoGorelli commented on #32179
Would resetting the index (`.reset_index`) and then sorting the levels with `.sort_values` and then resetting the index work as a temporary solution until this is sorted out?

[2020-02-28 22:00] fpunny commented on #13054
Is it possible for me to pick this ticket up? I haven't really worked with Pandas before and would like to do it to get familar

[2020-02-28 23:49] bnaul opened #32342 "'IntegerArray' object has no attribute 'T'"
In our case this arose via `.cumsum()`:
[code]
But it's also true that just calling `.values.T` on a regular `int` array works (just a no-op), whereas on an `Int64` array it does not. Same is true for

Any reason not to just add a no-op `.T` on the base ExtensionArray class..? cc @TomAugspurger in case you have an opinion 🙂

[2020-02-28 23:54] TomAugspurger commented on #22120
Closed by #30091.

[2020-02-28 23:54] #22120 closed

[2020-02-28 23:55] TomAugspurger commented on #32342
In the past we've been hesitant to add useless methods to EAs simply because ndarrays have them. I'm not sure about adding it here.

[2020-02-28 23:56] bnaul commented on #32342
Makes sense; surely `.cumsum()` is not useless though 🙂. Would the right approach then be to have a separate implementation of that...?

[2020-02-29 00:23] TomAugspurger commented on #32303
Here's the secrets screen.

<img width="660" alt="Screen Shot 2020-02-28 at 7 20 06 PM" src="https://user-images.githubusercontent.com/1312546/75596634-5e608c00-5a5f-11ea-8647-223646ed4ae6.png">

I don't think there's a way to view the contents of the secret.

I think CI services typically don't allow you to print the key.

I've deleted the old key and re-created it with the private SSH key you pr

[2020-02-29 00:37] TomAugspurger commented on #25288
Why do you prefer coercing the series to the dtype of the fill value, rather than the other way around? It's not clear to me that one is preferable to the other.

[2020-02-29 01:06] WillAyd commented on #31849
Hmm this seems a little hacky as nothing else in our built-in transform machinery returns a non-scalar (at least that I can think of off the top of my head)

Note that `df.groupby("title").asset_id.transform("unique")` would also return a different value than `df.groupby("title").asset_id.transform(lambda x: x.unique())` which can't be said of other functions

Given that, I'd be -1 on this being c

[2020-02-29 01:09] ryankarlos opened #32344 "BUG: Groupby.transform with tshift giving incorrect result"
Came across this bug whilst trying to write a test for tshift in #32069

[code]
#### Problem description
Using tshift in groupby.transform seems to drop col A from the index. Also, this seems to be leaving the dates unshifted

#### Expected Output

Would expect something like below which is achieved correctly using `groupby.tshift `

[code]

#### Output of ``pd.show_versions()``

INSTALLED VERSION

[2020-02-29 02:17] jorisvandenbossche commented on #32287
@jiannmeng Thanks for the report!
The string one is indeed already fixed, the boolean not yet.

[2020-02-29 02:55] jorisvandenbossche opened #32346 "BUG: assignment with enlargement gives object dtype with ExtensionArrays"
From https://github.com/pandas-dev/pandas/issues/32271, when setting with enlargment, the dtype gets converted into object dtype (while for normal integer or boolean dtype this is not the case):

[code]

It also happens with eg DecimalArray from our tests, so suppose it is a general issue with ExtensionArrays.

[2020-02-29 02:55] jorisvandenbossche commented on #32271
The unary operator is indeed fixed in 1.0.1. For the assignment problem, I created a dedicated issue for that: https://github.com/pandas-dev/pandas/issues/32346

Thanks for the report!

[2020-02-29 02:55] #32271 closed

[2020-02-29 02:57] jorisvandenbossche commented on #32266
@regmeg can you check if you see the same problem with pandas 0.25, or whether it is new in 1.0?

[2020-02-29 02:59] jorisvandenbossche commented on #32342
`cumsum` is indeed useful, but should be implemented specifically for EAs probably, without requiring `T`.
There is an open PR related to this (https://github.com/pandas-dev/pandas/pull/28509), but didn't check the status of it.

[2020-02-29 03:01] jorisvandenbossche commented on #32316
We could also decide to just use "pandas" instead of "*pandas*" (no italic), that's one thing less that you can forget to do.

[2020-02-29 03:07] #32295 closed

[2020-02-29 03:12] jorisvandenbossche commented on #32308
The current "Tutorials" are mostly (outdated) external tutorials, so I am not sure I would combine it into one of the other pages. Another option could also to rename it to eg "External tutorials" or something like that to make the name clearer.
What was the concrete idea? To put it as one of the additional pages under "Tutorials" or to put it on a tutorials/index.rst landing page?

I am not fully

[2020-02-29 03:13] jorisvandenbossche commented on #32283
@mroeschke @WillAyd thanks for gathering all the useful feedback!

[2020-02-29 03:33] dstromberg opened #32348 "Getting the wrong version of pandas when installing from requirements.txt"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I'm looking at a large codebase that needs an old version of pandas - but for some reason pip install isn't giving it to me.

If I delete pandas and install it manually with the following, I get the right version of pandas.  There's something about requirements.txt that isn't quite right.

[code]

Any suggesti

[2020-02-29 03:42] jbrockmendel commented on #32342
This statement is technically correct (the best kind of correct), but there is not at all consensus that "T" is useless.  This is just one more in a large pile of things that could be made easier.

[2020-02-29 03:44] dstromberg commented on #32348
BTW, the requirements.txt appears to give the right version of pandas with CPython 2.x:
[code]

[2020-02-29 03:48] jorisvandenbossche commented on #32265
I think there is, or at least, we now have one: for the new pd.NA, we decided that it propagates in comparisons, while np.nan gives False in comparisons (based on numpy behaviour, based on floating spec). Whether this is "natural" I don't know, but I think it is somewhat logical to do.

Note that it's not necessarily "2 missing values", but rather a "missing value" and a "not a number". Of course,

[2020-02-29 03:59] xin-jin commented on #32179
Thanks. That would be a bit slow for our usage (our typical usage has 4~5 levels and 10m~100m rows). What I end up doing now is to always check that all MultiIndex.levels[i].is_monotonic_increasing is True before doing sortlevel. It seems that unless the MultiIndex is intentionally set with unsorted levels (like what happens with groupby with sort=False), in all other cases the levels are indeed s

[2020-02-29 04:06] jorisvandenbossche commented on #32265
@shoyer I agree the object dtype is poor user experience. I think we opted (for now) for object dtype, since this is kind of the most "conservative" option: it at least "preserves the information", although in such a mostly useless way that it's up to the user to decide how to convert it properly.
But indeed in most cases, users will then probably need to do `.to_numpy(float, na_value=np.nan)` (eg

[2020-02-29 05:07] dstromberg commented on #32348
BTW again, my python3 is version 3.6.9.

[2020-02-29 06:16] pquentin commented on #31869
Sure, but how would that help? Ultimately we want to compute the duration in days, here's the actual code:

[code]

When `end_date` is None, `duration_days` should be None or NaN. I think we now agree that this does not make a lot of sense to support this in pandas, so we'll add a workaround on our side (not sure what it's going to be yet). Closing, thanks a lot.

[2020-02-29 06:16] #31869 closed

[2020-02-29 07:05] toobaz commented on #32265
My opinion is that the new pd.NA behaves under this respect in a more "natural" way than the floating spec - at least in a context in which users work with several different dtypes. Hence I respect the decision to deviate. I just would limit the deviation as much as possible. To be honest (but that's maybe another discussion, and I didn't think much about the consequences) I would be tempted to ch

[2020-02-29 07:57] jorijnsmit commented on #25288
Because I need to fill the `<NA>` values with something else. Just like when adding a float to an integer it becomes a float. And like I said, this is already `.fillna()`'s current behaviour on floats.

But I also understand there is something to say for not doing so. Maybe a boolean argument such as `coerce=True` would be a solution?

[2020-02-29 08:40] scoder commented on #32339
Might make a difference here, yes. Make sure your CFLAGS allow for auto-vectorisation, and that your C compiler is modern enough to figure it out for you.

It sometimes helps the compiler to make your algorithm redundant, i.e. instead of just `a[i] != b[i]` make sure the arrays are long enough, take two steps at once and write `a[i] != b[i] or a[i+1] != b[i+1]`, or even using the uglier `|` instea

[2020-02-29 11:09] regmeg commented on #32266
Hi @jorisvandenbossche. thanks for your reply. I've just rerun the script with 0.25, the memory does not seem to accumulate, so there is no memory leak.

The script ive submitted is a copy paste script, it should be easy to replicate with 1.0.1, you just need to download the dataset un run the script. The leak occurs on both my local linux machine and the docker linux-python based images on instan

[2020-02-29 11:19] MomIsBestFriend commented on #10774
@jreback Since #31150 this is raising a Deprecation warning

https://github.com/pandas-dev/pandas/blob/b1214af3528319e31334ff098021c5a1a6d9ffcd/pandas/core/indexers.py#L263-L270

---

Should it raise an IndexError instead of a deprecation warning? (as was agreed above)

[2020-02-29 12:26] farhanreynaldo commented on #31942
Hi @HH-MWB, I also tried to make change to file pandas\core\base.py:
[code]

and had this error:
[code]

I think the problem is due to this line:
[code]
Because the docstring use `{` and `}`. Can you suggest on what should I do?

[2020-02-29 12:30] MomIsBestFriend commented on #32307
Just for clarification which link is the "correct" link to point to?

should both upper and the bottom links redirect to  ```https://pandas.io/getting_started.html``` or to ```https://pandas.io/docs/getting_started/index.html```?

[2020-02-29 13:12] jorisvandenbossche commented on #32265
Sorry @toobaz, I don't understand your reasoning here (or just disagree, that's also possible). 0 and 0 are clearly both non-missing values in your data, so for me this "clearly" is *not* a case of talking missing information, but rather an unrepresentable floating point number. 0 and 0 can both be perfectly valid values in both series, it's only their combination and the specific operation that m

[2020-02-29 13:26] datapythonista commented on #32303
Thanks @TomAugspurger. Looks like we still got the same error, so I guess the problem is something else. I'll do some tests in a separate repo, and see if I can reproduce the problem.

[2020-02-29 15:54] toobaz commented on #32265
Why do 1/0 and 0/0 - both of which, strictly speaking, have no answer (even outside reals) - lead to different results? The only explanation I can see is that you can imagine 1/0 as a limit tending to infinity, while in the case of 0/0 you really have _no clue_. That "no clue" for me means "missing information", not "error". If the problem was "arithmetic error", you'd have "1/0 = error" as well.

[2020-02-29 15:57] TomAugspurger commented on #32342
As I said, it’s useless on its own for EAs. It’s potential use comes from writing code that works with both EAs and ndarrays.

[2020-02-29 16:45] th0ger commented on #21673
Does this enhancement aim to solve issues like [this](https://stackoverflow.com/questions/57514899/nbconvert-doesnt-display-styler-dataframe-from-jupyter-notebook):
`<pandas.io.formats.style.Styler at 0x.......>`?
E.g. `pd.style.hide_index()` combined with `jupyter nbconvert -to pdf`

[2020-02-29 17:26] navidzol opened #32372 "Having problem with 'pandas.DataFrame.loc' for multi type and size dataframes."
The problem:
When I make a data frame with pandas that has columns with different length and type, I cannot re-assign an element inside it using loc. I can explain it better with an example:

[code]

The error that I receive is :
[code]
Now If I remove the second column ('b') and make my data frame as
[code]
I will not get any error. I also noticed that doing the assignment with

[code]
will do th

[2020-02-29 17:31] mroeschke commented on #32307
Probably up for discussion, but I'd prefer https://pandas.io/docs/getting_started/index.html

[2020-02-29 17:35] mroeschke commented on #32316
Good point @jorisvandenbossche. I'd prefer `pandas` as well for that reason. Will update the original post

[2020-02-29 17:43] jbrockmendel commented on #31869
If you use datetime objects, then pandas will case `None` to `pd.NaT` for Not-A-Time, i.e. a datetime analogue to NaN.  From there, everything should Just Work.

[2020-02-29 19:35] KingCooled opened #32374 "Having Problems with detection of tables"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The website has a table on it.  Sometiems when I run the code it finds the table other times it does not. This is not an issue with syntax of code, rather I think its about the read_html function. I went over the module, stackoverflow, etc, and did not find a solution to my problem.

PS - I have the newest vers

[2020-02-29 19:44] KingCooled commented on #32374
[code]

is the error

[2020-02-29 19:45] jreback commented on #32374
this needs to be a copy pasteable example

[2020-02-29 19:49] KingCooled commented on #32374
You mean the full code?

[2020-02-29 20:10] KingCooled commented on #32374
if so then here

[code]

[2020-02-29 20:17] jreback commented on #32374
not at all

i mean an example that someone can copy paste
your example is not runnable

[2020-02-29 20:25] KingCooled commented on #32374
oh ok my bad, here

[code]

[2020-02-29 20:28] jreback commented on #32374
@KingCooled youneed to remove all of this and have a single simple example - you need to narrow this down to a minimal example

[2020-02-29 21:10] KingCooled commented on #32374
Ok will do, ill fix it tonight

[2020-02-29 21:46] dechamps opened #32380 "Deprecate groupby() squeeze option"
#### Code Sample

[code]
#### Problem description

I expected `.groupby(squeeze=True)` to, well, squeeze, and `count()` to return a Series. Instead `squeeze=True` doesn't seem to do anything, and `count()` returns a DataFrame.

A workaround is to write `.groupby('A').count().squeeze()`, which does work.

#### Expected Output

[code]

#### Actual output

[code]

#### Output of ``pd.show_versions()`

[2020-02-29 22:22] Juan-132 commented on #32156
Confirmed. The incorrect error message threw me off as well.

[2020-02-29 22:41] MarcoGorelli commented on #32348
Thanks @dstromberg for the report - just tried this in a `conda` environment and it works fine:
[code]

[2020-02-29 22:53] MarcoGorelli commented on #32380
Thanks @dechamps for the report

Currently it returns a Series if you use `.apply`:
[code]

I'd imagine the behaviour should be the same for `.count`, will look into it

[2020-02-29 23:21] blalterman opened #32381 "Inconsistent behavior for 2D Groupby with Categorical MultiIndex raises TypeError with observed=False"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
When I run the following, I get an expected result.

[code]

However, if I want to preserve the categories that are not observed as in either of the two following, I get a `TypeError` that appears to be due to the inclusion of empty groups (mixing of NaNs and Categoricals?)

[code]

[code]

[code]

#### Expecte

[2020-03-01 04:11] dsaxton commented on #32265
I think what @toobaz is saying is that 0 / 0 truly is indeterminate (if we think of it as the solution to 0x = 0, then it's essentially any number, which isn't too different from the meaning of NA). The log(-1) case is maybe less obvious, but I think you could still defend the choice to represent this as NA (assuming you're not raising an error or using complex numbers) by saying that you're retur

[2020-03-01 06:25] shoyer commented on #32265
I am coming around to the idea that distinguishing between NaN and NA may not be wroth the trouble. I think it would be pretty reasonable to both:
1. Use NA instead of NaN for all cases with floating point values in pandas. This would change semantics for comparisons, but otherwise would be equivalent. It would not be possible to put NaN in a float array.
2. Transparently convert NaN -> NA and NA

[2020-03-01 07:05] nimra135 opened #32382 "problem"
import pandas as pd
json_file = 'sample_data'
list(pd.read_json(json_file, lines=True))
[code]

[2020-03-01 08:56] stonecharioteer commented on #32382
What version of python are you on?

```python -V```

What's your pandas version?

[code]

[2020-03-01 09:11] toobaz commented on #32265
I totally agree with @shoyer 's proposal.

It would be nice to leave a way for users to force keeping np.NaNs as such (in order to keep the old comparisons semantics, and maybe even to avoid the conversions performance hit?), but it might be far from trivial, and hence not worth the effort.

[2020-03-01 10:37] gambingo opened #32383 "pd.read_json() leads to a segmentation fault"
#### Code Sample

The following code leads to either a segmentation fault or a bus error:
[code]

But the following workaround fixes it:
[code]

#### Problem description
I am storing several jsonified dataframes in MongoDB. Trying to go straight from the json to the dataframe leads to either a segmentation fault or a bus error. I am storying several dataframes, but confusingly it only happens with

[2020-03-01 10:43] m-dz commented on #32127
Hi, I would be keen to work on this issue, but could we have a discussion first on what exactly should be the expected behaviour here? Should simply labels be rounded to the expected precision, or the whole cutting with potential warnings if the precision is not high enough for distinct cuts?

[2020-03-01 11:59] MarcoGorelli commented on #32262
This isn't just confined to `rolling`, but also to `DataFrame.groupby.apply`:

[code]

[2020-03-01 12:02] MarcoGorelli commented on #32262
take

[2020-03-01 12:03] MarcoGorelli commented on #31849
Makes sense. Currently the whitelisted kernels either return a single numeric value (`reduction_kernels`), or produce a result which has the same shape as the group (`transformation_kernels`). `unique` returns a single list, which doesn't fit into either category.

Should this be closed then?

[2020-03-01 13:01] TomAugspurger commented on #32265
I’m probably fine with transparently concerting NA to NaN in asarray for float dtypes. I’m less sure for integer, since that goes against our general rule of not being lossy.

[2020-03-01 13:32] MarcoGorelli opened #32384 "`DataFrame.groupby.apply` keeps group-by column in values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-03-01 14:06] toobaz commented on #32265
I agree. Without pd.NA, pandas users sooner or later were going to get accustomed to ints with missing values magically becoming floats, but that won't be true any more.

(Ideally, we would want a numpy masked array, but I guess ``asarray`` can't return that)

[2020-03-01 14:29] toobaz commented on #21673
Not sure what happens when you convert a notebook to pdf... but yes, it might be that ``to_latex()`` gets somehow called on (non-styled) ``DataFrame``s, and in that case, yes, fixing this issue would solve that too.

[2020-03-01 14:58] MarcoGorelli commented on #32384
Seems this is explicitly tested for though in pandas/tests/groupby/test_apply.py:
[code]

[2020-03-01 14:58] #32384 closed

[2020-03-01 15:10] zeezee84 commented on #15103
Hi,
1. Install Anaconda and Update
2. On PyCharm  go to  File --> Settings --> Project Interpreter
3. from the left top corner click setting button and from dropdown select "Add"
4. ON new (Add Python Interpreter) window click Conda Enviroment --> Existing enviroment --> OK
5.  Then go back to Project Interpreter page and select Python Interpreter you created now(something like this:  Python3.7(bl

[2020-03-01 15:25] KingCooled commented on #32374
here

[code]

[2020-03-01 15:25] KingCooled commented on #32374
error =

first_concurrent_all_table = pd.read_html(first_concurrent_text)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/html.py", line 1100, in read_html
    displayed_only=displayed_only,
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/html.py", line 915, in _parse
    raise retained
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/html.py", line 895, in _parse
    tab

[2020-03-01 15:29] jreback commented on #32374
@KingCooled you are missing the point
what is the url? all of the rest is not useful

[2020-03-01 15:38] KingCooled commented on #32374
https://www.accessdata.fda.gov/scripts/cder/daf/index.cfm?event=report.page

[2020-03-01 15:48] leftys opened #32385 "BUG: Rolling functions doesn't work on decreasing variable index"
#### Code Sample

[code]
#### Problem description

Rolling window operations on variable decreasing index don't work even after https://github.com/pandas-dev/pandas/pull/28297. The reason for this is that the `calculate_variable_window_bounds` function doesn't work with decreasing index. Tested with latest master (~version 1.0.1).

[2020-03-01 15:49] KingCooled commented on #32374
Thanks a lot for trying to help me

[2020-03-01 15:54] KingCooled commented on #32374
Its an on and off thing, sometimes it wont detect, sometimes it will

[2020-03-01 16:12] jreback commented on #32374
you are much better off posting in Stack Overflow as this board is for bug reports

[2020-03-01 16:12] #32374 closed

[2020-03-01 16:12] KingCooled commented on #32374
...

[2020-03-01 16:14] adamczykm commented on #19238
Me and probably many others wasted their time because of this unexpected behaviour of comparing dtypes with '=='.
Why can't it be implemented in numpy-compatible fashion -.- ?

[2020-03-01 16:32] jorisvandenbossche commented on #32265
I agree it is not obvious what is fundamentally "best". But, if we don't have good arguments either way, that could also be a reason to just follow the standard and what numpy does.

In theory, I think there can be a clear cut: we could produce NaN whenever an operation with numpy produces a NaN, and we produce NAs whenever it is a pandas concept such as alignment or `skipna=False` that produces N

[2020-03-01 16:34] jorisvandenbossche commented on #32265
I agree that for the conversion to numpy (or at least `__array__`), we can probably use floats with NaNs.

[2020-03-01 17:27] EgorBEremeev commented on #26124
Hi, @WillAyd
In the current gcsf master `GCSFileSystem.open()` has been removed and `fsspec.AbstractFileSystem.open()` has works instead:
https://github.com/intake/filesystem_spec/blob/4c66e096d32dafe264e2d6707992ee6935685944/fsspec/spec.py#L717

where applying of passed `encoding` for the text reading\writing is now implemented:

[code]

So, it looks that in `pandas` ignoring of `encoding` parame

[2020-03-01 17:41] dstromberg commented on #32348
I am getting that same result.

Also, if I python3 -m pip install -r requirements.txt
...on a Linux Mint 19.2 system, I get the intended result.

And upgrading the version of pip used by python3 solved the problem on the original system, which runs Ubuntu 18.04..

Thanks!

[2020-03-01 17:42] #32348 closed

[2020-03-01 19:11] dcsaba89 commented on #31332
This is exactly backward compatible.
you are right, now when you say pd.merge(df1, df2, how="left", on="A") you are doing a 1-many merge

if we would have a new keep parameter with default keep=True, the old pd.merge(df1, df2, how="left", on="A") would mean pd.merge(df1, df2, how="left", on="A", keep=True) which is a 1-many again, because you keep all the matches based on the given conditions.

bu

[2020-03-01 19:29] ivalaginja commented on #24036
I submitted a PR with #32388 to get things going.

[2020-03-01 20:04] HH-MWB commented on #31942
Hi @farhanreynaldo, I would suggest that we replace `{` with `{{` and replace `}` with `}}` here.

[2020-03-01 20:37] jbrockmendel commented on #32383
Can you post a copy/paste-able example (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)?

[2020-03-02 00:10] jeandersonbc commented on #32073
Approached the problem by checking the numerical data in _compute_plot_data from matplot's backend. all tests pass, but I wonder if more tests should be added (e.g., at "pandas/tests/plotting/test_frame.py"). Any thoughts? Thanks already!

[2020-03-02 02:11] xcz011 commented on #32287
I would like to help, but I am not sure where to start. Do you mind point to where may cause the issue ? Thanks !

[2020-03-02 07:04] gambingo commented on #32383
Yes I can! Apologies for not doing so sooner. Thanks for the helpful MCVE post.

This leads to a segmentation fault on my machine:
[code]

But this does not:
[code]

And, unfortunately, there is no helpful traceback. All I get is a `Segmentation fault: 11` or sometimes a `Bus error: 10`.

[2020-03-02 07:51] farhanreynaldo commented on #31942
It works! Thank you, @HH-MWB

[2020-03-02 08:53] leo4183 opened #32390 "hdf5 loading performance issue for non-sorted data in pandas 1.0.1"
#### Problem Description
compared to legacy pandas 0.2x.x, the most recent 1.0.1 version doesnt perform well in HDF5 file loading unless the conditioned column was sorted beforehand

[code]

[2020-03-02 09:14] odidev commented on #32092
Hi @jreback , @rhenwood-arm this issue has been raised to make the pandas wheel available for aarch64. Can you please reopen this issue and let me know if I can help you in this activity. I am very much interested to work on this.

[2020-03-02 09:23] EgorBEremeev opened #32391 "> Not sure this is even supported by gcsfs - I don't see `encoding` as an available option there:"
Hi, @WillAyd
In the current gcsf master `GCSFileSystem.open()` has been removed and `fsspec.AbstractFileSystem.open()` has works instead:

https://github.com/intake/filesystem_spec/blob/4c66e096d32dafe264e2d6707992ee6935685944/fsspec/spec.py#L717

where applying of passed `encoding` for the text reading\writing is now implemented:

[code]
[Note also this issue from gcsfs](https://github.com/dask/g

[2020-03-02 09:24] #32391 closed

[2020-03-02 09:25] EgorBEremeev commented on #32391
Just open this by mistake

[2020-03-02 09:35] EgorBEremeev opened #32392 "read_csv from Google Cloud Storage ignores encoding"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Reading csv files which have encoding other than utf-8, like cp1251, from the Google Cloud Storage fails with error:

the stacktrace from the Google Cloud Function environment:

It looks that in `pandas` ignoring of `encoding` parameter happens, because in the `pandas.io.gcs.get_filepath_or_buffer`  the `mode =

[2020-03-02 09:54] EgorBEremeev commented on #31819
Not exactly sure, take a look on the #32392, please. It looks similar or\and connected issue and may affects possible solution.

[2020-03-02 11:39] MarcoGorelli commented on #31245
`tqdm` offers a progress bar for `apply` - https://github.com/tqdm/tqdm/blob/master/examples/pandas_progress_apply.py

[2020-03-02 11:48] MarcoGorelli commented on #28155
@vlbrown is this what you're referring to?
[code]

[2020-03-02 12:02] MarcoGorelli commented on #27954
ex. of how to write a reproducible example with `io.StringIO`:

[code]

@thouston if you could try reproducing the issue in a way that we can run it, that would expedite resolution

[2020-03-02 12:04] MarcoGorelli commented on #26100
Any chance you could show an example of how they're affected?

[2020-03-02 12:14] MarcoGorelli commented on #31805
What's `df` in your example? Is it the same as `row_df`?

[2020-03-02 13:37] TomAugspurger commented on #32265
FWIW, @kkraus14 noted that cuDF supports both NaN and NA in their float columns, and their users are generally happy with the ability to have both.

[2020-03-02 13:43] jorisvandenbossche commented on #32265
Ah, yes, I forgot to chat with him about that in person. @kkraus14 if you are able to write down some of your experience related to this to expand on the above, that would be very welcome!

[2020-03-02 13:53] MarcoGorelli commented on #32382
I just tried pasting everything you wrote after

into a file called `sample_data`, then executed your code, and got the output:

[code]

(with no error).

[2020-03-02 13:55] MarcoGorelli commented on #29638
Closing for now, but feel free to re-open if you have a reproducible example (see the link kindly provided by jbrockmendel)

[2020-03-02 13:55] #29638 closed

[2020-03-02 13:59] MarcoGorelli commented on #29297
Closing due to lack of reproducible example / response.

Feel free to reopen if you paste the content of `df` into your post so we can reproduce the error

[2020-03-02 13:59] #29297 closed

[2020-03-02 14:46] kkraus14 commented on #32265
Sure:

We've used the Apache Arrow memory layout since the beginning in cuDF, and as @TomAugspurger noted, our users have generally been fond of being able to have both `NULL` and `NaN` in floating point columns. From our perspective, the reasoning behind it was that `NULL` is a missing value, whereas `NaN` is defined invalid.

From this, `NULL` values have consistent behavior across all of the ty

[2020-03-02 14:49] buhrmann opened #32394 "pd.to_numeric(..., errors="coerce") failing silently when strings contain "uint64""
#### Problem description
When trying to coerce strings to numeric values using `to_numeric()`, the occurrence of the substring "uint64" (but not any other dtype-like substring it seems) leads to silent failure to coerce.

[code]

[code]

#### Expected Output
[code]

Seems to fail equally in 0.25.3 and 1.0...

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
c

[2020-03-02 15:18] MastafaF commented on #31245
Cool @MarcoGorelli , thanks for the suggestion! 😄

[2020-03-02 15:19] fkromer commented on #28238
@dragoljub @mroeschke I observed similar behaviour in one of my applications as well. I upgraded `pandas` to `0.25.3` recently. Do you know if it's a regression and with which version it has been introduced?

The log I can provide:

[code]

Is my issue the one stated in this thread or something different?

[2020-03-02 15:30] #32096 closed

[2020-03-02 15:39] Dr-Irv commented on #32265
Prior to using pandas, I spent a fair part of my career writing numerical software, but the concept of "missing data" was not something we worried about.  And if we saw `NaN` in a result, it meant something numerically.  So my comments are coming from that perspective.

IMHO, we should keep `np.NaN` and `pd.NA` separate, to correspond to "not a number" and "missing values", and have the `to_numpy`

[2020-03-02 15:43] jreback commented on #32265
-1 on using numpy.ma at all. this has always been a 1/3 baked implementation and should not inform pandas at all

[2020-03-02 15:47] Dr-Irv commented on #32265
Fair enough from the implementation standpoint, but the fact that numpy has the ability to treat missing values separately shows that even they thought about distinguishing "not a number" vs. "missing values", which is similar to what was said about cuDF.

[2020-03-02 15:49] fkromer commented on #28238
I've downgraded pandas to `0.23.4` and the issue is gone.

[2020-03-02 15:55] jreback commented on #32265
thought about generally, but the difficulty is a practical one

meaning do we now have skipna=missing|NaN

this will become confusing  / complex for the average user very rapidly

[2020-03-02 16:06] Lmmejia11 opened #32395 "assignment with datetime64[ns, UTC] raises TypeError"
#### Code Sample

[code]
####  Problem description

If you try to assign datetime values (with zone and indexes) to a column, it will raise TypeError: data type not understood.
No errors raise with index ':', or when the column already has the correct type. Note that this only happens if the datetime has zone information. With tzinfo=None, no errors occur.

#### Output of ``pd.show_versions()``

I

[2020-03-02 16:30] Dr-Irv commented on #32265
To some extent, the choice that pandas made way back when to
a) Treat `np.NaN` as missing
b) Make `skipna=True` the default
has created this potential confusion.

IMHO, there are two issues at play:
1) What is the right design that makes sense independent of the choices made in the past? (i.e., what would you do if you were really creating pandas from scratch?)
2) How do we transition people to a

[2020-03-02 16:34] jbrockmendel commented on #32265
see more below): pd.options.mode.use_inf_as_na (default False). We could
have a similar one for NaN (or a combined one).

-0.75 for adding another global flag for this.  We're not very consistent
about respecting this, plus have poor tests/perf for the inf_as_na mode as
it is.

On Mon, Mar 2, 2020 at 7:55 AM Jeff Reback <notifications@github.com> wrote:

[2020-03-02 16:39] jbrockmendel commented on #32383
Hmm i cant reproduce this locally, so let's try to narrow down the example.  Do you need all of the entries in that dict to get the segfault, or can you remove some?  (id speculate that the ASCII entries can be removed)

[2020-03-02 16:44] toobaz commented on #32265
As much as I appreciate examples from other languages/libraries I reject this conclusion: ``numpy`` most likely introduced masked arrays for the exact same reason why we introduced ``pd.NA``: that NaN only exists for floats. I'm pretty sure we would have never bothered about pd.NA if each dtype we use had its native "non-value" value, whatever it was called.

[2020-03-02 16:47] toobaz commented on #32265
No, only by (b)...

You cite other languages, which is interesting: but technically speaking, pandas will also have the distinction anyway (as long as we have pd.NA and we read data with NaNs).

The point is different: did those language _look_ for the distinction, or did they adapt to the fact that NaN was only present for floats?

[2020-03-02 16:51] jqmviegas commented on #31650
take

[2020-03-02 16:59] toobaz commented on #32265
Sorry for the multiple comments.

I can understand the desire to adapt to other libraries and "speak/understand their language" in terms of support for pd.NA and NaN.

What I'm really arguing against is that pandas semantics for pd.NA and NaN should be "encouraged" to diverge for any assumingly philosophical distinction between "invalid" and "missing".

If instead we insist on adopting, and teachi

[2020-03-02 17:03] Dr-Irv commented on #32265
I say (a) as well, because if when pandas was created, a decision was made (as in the other languages) to not use `np.NaN` to mean "missing", we wouldn't be having this discussion.  But that's water under the bridge at this point.

Read data?  How?  Our readers translate "missing" to `np.NaN`.  If we decide to use `pd.NA` universally to mean "missing", we'd presumably change the readers.  (Note -

[2020-03-02 17:06] dragoljub commented on #28238
@fkromer you can try setting ```cache=False``` in your pd.to_datetime() calls so the index does not need to be sorted.

[2020-03-02 17:35] Dr-Irv commented on #32265
We're getting into the issues of the meaning of `NaN` in the IEEE standard, and there are quiet NaNs and signaling NaNs.  Which ones you use and how you handle them could be argued many different ways.

Consider these 3 different behaviors in python and numpy:
[code]
The warning from numpy is only issued _once_.  So if you do the same computation again, you don't get a warning.

In any case, there

[2020-03-02 17:51] toobaz commented on #32265
... which means that (i) we will still upcast ints to floats in cases like this, despite now having nullable ints, or alternatively that (ii) we will have to add np.NaN to nullable ints?!

[2020-03-02 18:10] jorisvandenbossche commented on #32265
Division of ints will always give float dtype (for type stability, as the result can be floats), that is independent of nullability of the dtypes.

[2020-03-02 18:27] toobaz commented on #32265
Oops, sorry, bad example.

[2020-03-02 19:19] MasterNobikan commented on #29547
pandas//util/_decorators.py is done (the only thing that fails are two %s...which are comments)

[2020-03-02 19:20] MasterNobikan commented on #29547
pandas//util/_decorators.py is done (the line that fails is a comment)

[2020-03-02 19:29] jbrockmendel commented on #31925
@jorisvandenbossche sounds like there has been some discussion about ensure_type already.  is someone on top of this?

[2020-03-02 19:32] jbrockmendel commented on #31801
on master the pd.NA case is now giving `'{"null":1}'`

@WillAyd what is the desired behavior here?  do you have a gameplan for this?

[2020-03-02 19:43] TomAugspurger commented on #31925
I think Joris was referring to https://github.com/pandas-dev/pandas/issues/31785 / https://github.com/pandas-dev/pandas/pull/31788.

Don't think anyone is working on this yet (unless @topper-123 has something locally?)

[2020-03-02 19:51] TomAugspurger commented on #31856
@toddrme2178 are you able to do any more debugging on why these tests are failing? Are you interested in figuring out why our CI is failing to catch these?

Generally speaking, we need help supporting 32-bit systems.

[2020-03-02 20:00] TomAugspurger commented on #32395
Thanks for the report. Things look weird around https://github.com/pandas-dev/pandas/blob/f25ed6f2b1898627c4cf4cb68d8be96387142c4d/pandas/core/internals/blocks.py#L842-L857,

[code]

I see a couple options, both of which are likely valuable.

1. Ensure we create a `datetime64[ns, <tz>]` array of all-NA values, where the `tz` matches the target dtype
2. Ensure that Block.setitem correctly handles `

[2020-03-02 20:09] TomAugspurger commented on #32394
A bit simpler reproducer:

[code]

We explicitly check for uint64 in the error message at https://github.com/pandas-dev/pandas/blob/f25ed6f2b1898627c4cf4cb68d8be96387142c4d/pandas/_libs/lib.pyx#L2029, which goes back a ways (at least before https://github.com/pandas-dev/pandas/pull/22219, didn't look at the blame past that).

[2020-03-02 20:13] TomAugspurger commented on #32392
Would adding GCSFile (or perhaps fsspec.file.AbstractFile) to https://github.com/pandas-dev/pandas/blob/f25ed6f2b1898627c4cf4cb68d8be96387142c4d/pandas/io/common.py#L377-L382 help?

[2020-03-02 20:14] TomAugspurger commented on #32390
Can you provide more information, like the actual timings?

Have you profiled things to see what's slower? Perhaps bisect to find what commit slowed things down?

[2020-03-02 20:16] TomAugspurger commented on #32383
I also can't reproduce using the code in https://github.com/pandas-dev/pandas/issues/32383#issuecomment-593252014 (using pandas master).

[2020-03-02 20:17] TomAugspurger commented on #32381
This appears to be fixed on master. Can you try?

[code]

[2020-03-02 20:22] TomAugspurger commented on #32380
It doesn't appear to be documented, and I'm not familiar with it. @dechamps are you interested in walking through the code to see what it's intended for?

[2020-03-02 20:24] TomAugspurger commented on #32372
In general, pandas doesn't work with with "nested" data like this.

As a workaround, using `at` works

[code]

I don't think this is likely to be fixed anytime soon.

[2020-03-02 20:28] mankoff commented on #31965
Seems to be a `matplotlib` issue so I posted over there. See https://github.com/matplotlib/matplotlib/issues/16635

[2020-03-02 20:33] jreback commented on #32380
we should deprecate this option - i don’t think original usecases that i added are worth it

[2020-03-02 22:14] BrunaKimura commented on #28473
I will look into this!

[2020-03-02 22:31] TomAugspurger commented on #28473
Great! FWIW, on master I get a different exception now

[code]

[2020-03-02 22:38] jorisvandenbossche commented on #32395
(tagged this as a regression)

[2020-03-02 22:43] dechamps commented on #32380
Well the `groupby()` `squeeze` parameter [does have documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby), it seems.

Personally I don't care much about the parameter - it's simple enough to just call `squeeze()` later anyway. However it is of course confusing if the parameter is there but does nothing.

[2020-03-02 22:50] jorisvandenbossche commented on #32385
Thanks for the report (and the PR)!

[2020-03-02 22:50] WillAyd commented on #31801
I'm not actively working on this but if someone wanted to I think the best solution is to take the NA check while encoding object keys:

https://github.com/pandas-dev/pandas/blob/6d3cc14fc52685511329cedf1e11d15651ac6a8e/pandas/_libs/src/ujson/python/objToJSON.c#L1455

And move it up in the function so it gets hit generally. The `get_nat` function should probably be a generic null check, importable

[2020-03-02 23:13] #31847 closed

[2020-03-02 23:27] EgorBEremeev commented on #32392
Hi, @TomAugspurger
As I understand the code below it is planned to check if `encoding` is passed and `path_or_buf` is presented in the this list `need_text_wrapping`. If so then wrap with `TextIOWrapper()`.  I think adding GCSFile in `need_text_wrapping` is a right approach. I just confused, because do not see where `get_handle()` is called while `read_csv()`

[2020-03-02 23:36] jreback opened #32402 "BUG: overflow on pd.Timedelta(nanoseconds=) constructor"
[code]

It appears we are overflowing when using nanoseconds= keyword for Timedelta. This works just fine when passing smaller values or passing as the first positional arg.

[code]

[2020-03-02 23:49] jorisvandenbossche commented on #32265
@kkraus14 thanks for the input!

FWIW, R actually uses sentinels (so has a "null value" for each "data type", but the type system in R is a quite different), but still has both NaN and NA for the numeric data type.

@toobaz If going with the option of not distinguishing NaN and NA, I was assume we actually never have NaN, so also not from reading data. I would say: if we go for the "only NA" optio

[2020-03-03 01:05] WillAyd commented on #32380
+1 to deprecate as well; seems out of place as an argument here

[2020-03-03 02:02] leo4183 commented on #32390
actual timing as follows (using the generated df described before):

[code]

[2020-03-03 02:13] YuBeomGon commented on #22140
I have a same error.
in my case, file is not yet uploaded or downloaded.
after complete uploading, there is no error.
please check download or upload is complete or not
thanks.

[2020-03-03 02:19] dsaxton commented on #32265
I'm not so sure if consistency with other tools is much of concern when many of these don't seem consistent with each other; e.g., SQLite treats 0 / 0 and 1 / 0 as NULL and not NaN, Postgres doesn't allow division by zero or logs of negative numbers (I think it does have NaN values, but they seem to compare equal), and while R does have NaN it doesn't behave like NaN (NaN == NaN is NA).

So I feel

[2020-03-03 02:46] ericchansen commented on #31925
Isn't this as simple as using `issubclass` instead of `isinstance`?

https://github.com/pandas-dev/pandas/blob/bdcb5da0906f7d8c7437d8531b8e3219f1ef554c/pandas/core/base.py#L90-L98

* Commit capturing proposed change https://github.com/ericchansen/pandas/commit/f2c3eabdfee735787a30eada5ffb808fe111d8c1
* Updated code https://github.com/ericchansen/pandas/blob/f2c3eabdfee735787a30eada5ffb808fe111d8c1

[2020-03-03 03:02] #31396 closed

[2020-03-03 03:14] jreback commented on #31849
this is not a transformation kernel, you can do this if you want

[code]

[2020-03-03 03:14] #31849 closed

[2020-03-03 03:24] #18634 closed

[2020-03-03 03:28] #32276 closed

[2020-03-03 08:07] jorisvandenbossche commented on #31925
@ericchansen do you want to make a PR with that change? (and a test)

I would personally also be fine with just getting rid of `_ensure_type`, the type checking should not have runtime consequences

[2020-03-03 09:34] mxmaxime commented on #5401
Hi, Is this topic abandoned?

[2020-03-03 10:24] SidoShiro opened #32407 "MemoryError, Python 32bit, Error when reading a large file"
#### Code Sample

[code]

#### Code Output (Problem)

[code]

#### Problem description

The pandas `read_csv` function got a memory error, this shouldn't happen (I have a 16 Gb RAM computer).
Meanwhile, I tried another python (conda) 3.7.4 which works fine but using pandas 0.25.1, it's currently my workaround.

#### Expected Output

From my workaround (Python 3.7.4, conda, pandas 0.25.1)

[code]

[2020-03-03 11:02] alexmojaki commented on #30729
I just tried this on master and got the same thing:

[code]

[2020-03-03 11:07] jqmviegas commented on #31650
Having problems with codecov/patch check. Does anyone have any tips on why that is happening?  Link to details on the failed check [here](https://codecov.io/gh/pandas-dev/pandas/compare/8b347ea2672e3dcd34c3f699581ab5061706ec33...5bdff2705e112bce5d65542c8380a8c199ca188a).

[2020-03-03 11:16] alexmojaki commented on #13521
I've found a way to call `exec` and thus run arbitrary Python code. I think it's best that I don't post it here for anyone to see. Is there a procedure for reporting security issues here?

[2020-03-03 12:10] jorisvandenbossche commented on #32306
The issue is https://github.com/pandas-dev/pandas/issues/22491, but we apparently have many other related, possibly duplicate, issues (from a quick search): https://github.com/pandas-dev/pandas/issues/28522, https://github.com/pandas-dev/pandas/issues/22618, https://github.com/pandas-dev/pandas/issues/25138, https://github.com/pandas-dev/pandas/issues/7473 (we should probably clean that up a bit)

[2020-03-03 12:37] edgarduartecoelho commented on #24976
Have exactly the same problem. The output of `pd.io.parquet.PyArrowImpl()`:

`In [4]: pd.io.parquet.PyArrowImpl()
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-9b1c87fa6892> in <module>
----> 1 pd.io.parquet.PyArrowImpl()

/edc/.virtualenvs/myenv/lib/python3.6/site-packages/pa

[2020-03-03 12:37] jeremy-rutman opened #32409 "pandas1.0.1 has trouble with certain column names"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Pandas1.0.1 with python3.7 hits the above for json containing dicts containing the key "last_status_change_at" and possibly others, while pandas0.25.3 with python3.7 does not. I haven't checked yet with python3.6.

#### Expected Output
no unhashableness
#### Output of ``pd.show_versions()``

<details>

INSTALLE

[2020-03-03 12:45] TomAugspurger commented on #32409
Do you have a reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-03 13:02] TomAugspurger commented on #13521
https://github.com/pandas-dev/pandas/security/policy.

But I'll reiterate that we don't make any claims about eval being safe on untrusted input. This is the wrong layer for that.

[2020-03-03 13:03] TomAugspurger commented on #31925
Agreed.

[2020-03-03 13:05] TomAugspurger commented on #32390
And where is the slowdown at? I'd recommend using https://jiffyclub.github.io/snakeviz/ to get an idea.

[2020-03-03 13:39] leo4183 commented on #32390
[code]

[2020-03-03 13:59] AnnaDaglis commented on #32075
@MarcoGorelli

[2020-03-03 14:11] edgarduartecoelho commented on #24976
Also, I have pyarrow install, yet:

In [2]: pd.show_versions()

INSTALLED VERSIONS
------------------
(removed out-of-context libs)
pandas: 0.23.2
pyarrow: None
IPython: 7.13.0
fastparquet: None

[2020-03-03 15:17] TomAugspurger opened #32411 "Implement Index.__array_ufunc__"
It'd be similar to `Series.__array_ufunc__`, (extract array, apply ufunc, box in index with name) with the exception that

1. No alignment when operating between multiple indexes
2. We'd need to decide whether Index or Series defers when calling ufuncs on inputs of mixed index and series. Check what binops does.

[2020-03-03 15:19] TomAugspurger commented on #32392
I'm not sure either.

On Mon, Mar 2, 2020 at 5:27 PM Egor Eremeev <notifications@github.com>
wrote:

[2020-03-03 15:22] AnnaDaglis commented on #32287
take

[2020-03-03 15:45] simonjayhawkins commented on #27905
superseded by #32293 , #31269 , #27472 and #32344

[2020-03-03 15:45] #27905 closed

[2020-03-03 16:06] ericchansen commented on #31925
@jorisvandenbossche I'll open the PR today once I'm done with the tests.

@TomAugspurger @jorisvandenbossche It looks as if the type checking has something to do with mypy (as per discussion here https://github.com/pandas-dev/pandas/pull/30613#pullrequestreview-367538632 and here https://github.com/pandas-dev/pandas/pull/30565). I agree it shouldn't have runtime consequences, but it does look like

[2020-03-03 16:21] jbrockmendel opened #32412 "DEPR: _ndarray_values vs to_numpy vs __array__"
Is there a clear explanation for when to use one of these instead of another?

[2020-03-03 16:32] david33n opened #32413 "Object dtype gives ValueError in _maybe_cast_with_dtype"
####

[code]
#### Problem description

Data is being cast to incorrect dtype based on inferred dtype and gives a ValueError.
Issue was not present in pandas==0.25.3

#### Expected Output
With pandas==0.25.3

fixed_index
Index([1.0, 'a1'], dtype='object')

#### Output of ``pd.show_versions()``
python           : 3.7.6.final.0
pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 201

[2020-03-03 16:41] jbrockmendel opened #32414 "EA: fillna should accept same type"
[code]

[2020-03-03 17:20] thirug13 commented on #32411
@TomAugspurger Would this be appropriate for first-time contributors? If so, I would like to work on this.

[2020-03-03 17:27] TomAugspurger commented on #32411
I'd recommend starting elsewhere.

There's plenty of pandas-specific things that need to be taken into
account, and we'll
likely want to consolidate Index.__array_ufunc__ and Series.__array_ufunc__
into a single function, which might
be tricky.

On Tue, Mar 3, 2020 at 11:20 AM thirug13 <notifications@github.com> wrote:

[2020-03-03 17:34] jbrockmendel opened #32415 "RLS: 1.0.2"
@pandas-dev/pandas-core think end of this week?

[2020-03-03 17:41] TomAugspurger commented on #32415
Friday sounds good to me, but I don't have a good sense for where things are at.

Any regressions that we definitely want to see fixed?

Any open PRs we'd like to see merged?

[2020-03-03 17:46] jeremy-rutman commented on #32409
This one gives same error as above in pd 1.0.1 and not pd 0.25.3
[code]
It seems to be related to that particular column name as when I change it things go back to normal, maybe I managed to write over some reserved column name?

[2020-03-03 17:55] thirug13 commented on #32411
Thanks for the heads up.

[2020-03-03 18:04] JeremiahKamama commented on #30232
I would like to take a look at this

[2020-03-03 18:06] JeremiahKamama commented on #28917
I'd love to take a look at this

[2020-03-03 18:10] thirug13 commented on #32414
@jbrockmendel Is this issue appropriate for first-time contributors?

[2020-03-03 18:18] jbrockmendel commented on #32414
Probably not; it gets pretty deep into the weeds.  #32402 might be a good fit if you're comfortable with cython, otherwise i suggest searching for the Good First Issue label

[2020-03-03 18:26] yaolan4 commented on #31478
Is this issue good for first time contributors?

[2020-03-03 18:57] kendricng opened #32417 "BLD: Clang error while installing snappy in requirements-dev.txt"
### Problem description

I was going through the instructions in setting up the dev environment on Mac here:

[Contributing to pandas](https://github.com/pandas-dev/pandas/blob/master/doc/source/development/contributing.rst#creating-a-python-environment-pip)

And while I was trying to execute the below code:

[code]

I got the below clang error (redacted):

[code]

I went through the rest of the v

[2020-03-03 19:39] simonjayhawkins opened #32418 "WEB: user should be able to change width of toc"
![image](https://user-images.githubusercontent.com/13159005/75812703-911fc280-5d86-11ea-8b68-8725eb1f54ad.png)

[2020-03-03 21:12] roberthdevries commented on #29916
@jreback Could you have a look at my pull request? It passes all tests except for the typing validation, but I don't see what is actually wrong with the code or how to fix it.

[2020-03-03 21:21] WillAyd commented on #32417
Looks like this was added in #26657 and has a comment on master that it is required for pyarrow - @datapythonista any chance you know what this is?

[2020-03-03 21:56] kernc opened #32423 "BUG: df.apply disobeys raw=True"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When `df.apply(..., raw=True)`, the callback should _always_ be passed a numpy array (as documented) for reasons of performance and _convenience_ (arrays index much differently than Series).

This is not a recent regression; 0.25.3 exhibits the same behavior.

#### Expected Output

[code]

#### Output of ``pd.s

[2020-03-03 21:59] kernc commented on #32423
Duplicate of https://github.com/pandas-dev/pandas/issues/31754.
Sorry. :sweat_smile:

[2020-03-03 22:13] kernc commented on #32423
Obviously not fixed by [#31842](https://github.com/pandas-dev/pandas/pull/31842/files), **not a duplicate**, just related.

[2020-03-03 22:34] TomAugspurger commented on #31774
Mmm what behavior do we want going forward? Returning a datetime.timedelta only sometimes seems not great... I don't think we would introduce that behavior if it wasn't what we previously did.

[2020-03-03 22:40] MarcoGorelli commented on #32075
Hi Anna - gonna be honest, I don't know :) I had a quick go at this one but
couldn't figure it out. If you have any specific questions I'd imagine you
could tag one of the core team members (e.g. Tom Augspurger) and ask.

On Tue, 3 Mar 2020 13:59 Anna Daglis, <notifications@github.com> wrote:

[2020-03-04 00:52] datapythonista commented on #32417
That PR was just to get the missing dependencies from the other builds into `environment.yml` so we had all the dependencies locally.

This library is to connect to gbq afaik.

But this error is expected I think. Libraries use binary dependencies, and pip is not good at those, and you need to install them manually, including their C headers. That's why conda exist, to avoid having to install binar

[2020-03-04 00:55] WillAyd commented on #32417
Yea I figured something google-related but didn't see it in the pandas-gbq requirements; are we sure we even need it?

[2020-03-04 01:06] datapythonista commented on #32417
Not sure if we need it. But it's a compression library, I guess it's an optional gbq dependency.

[2020-03-04 01:08] WillAyd commented on #32417
Gotcha. Yea so if we don't actually need it I would be OK to remove from the requirements files

@kendricng something you would be interested in submitting a PR for?

[2020-03-04 03:19] jbrockmendel commented on #31774
Returning a timedelta instead of raising also has the problem that in introduces an inconsistency between Timestamp vs DTA/DTI/Series[dt64], so i lean towards not restoring the older behavior.

But we can definitely do a better exception message.

[2020-03-04 04:58] jbrockmendel commented on #32417
is this fixed by `brew install snappy`?

[2020-03-04 05:00] jbrockmendel commented on #31971
Should this be marked as a regression?

[2020-03-04 05:04] jbrockmendel commented on #32415
- [ ] #32395 ill make a PR tomorrow morning
- [ ] #31925 has a viable-looking PR in #32416.
- [ ] #31827 I think we just need to say "yes"
- [ ] #32146 has a viable PR in #32242
- [ ] #31774 mostly just needs a better exception message

Probably no action on
- [ ] #31978 looks like we havent been able to reproduce
- [ ] #31710 supposedly will be fixed by cython 0.30; would be a pain to fix on our

[2020-03-04 06:04] PochiaOscar commented on #31805
Sorry, my bad. It should be:
My problem is, after running
[code]
Already change in the origin question description

[2020-03-04 08:57] jreback commented on #32415
this was long deprecated and it is not clear from the OP what is going on - certainly not 1.02 material

[2020-03-04 09:06] lodagro commented on #32418
You don`t like the scroll bar at the bottom?

[2020-03-04 09:39] 0az opened #32430 "ENH: support nullable dtypes in get_dummies"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In `get_dummies`, dtype strings of "Int64", etc., are ignored in favor of their non-nullable Numpy equivalents.

There's a few other places that *could* cause this bug, but I haven't checked public API:
- `.core.reshape.reshape._Unstacker.get_new_values`
- `.core.dtypes.cast.maybe_downcast_to_dtype`
- `.core.dt

[2020-03-04 09:51] luciofaso commented on #32156
Same problem

[2020-03-04 10:11] kzhui125 opened #32431 "TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [nan] of <class 'float'>"
[code]

[code]

Hello, now I have trouble  getting null value count, help.

[2020-03-04 10:22] SidoShiro commented on #32407
After more research, the error come from the fact that I mistaken the python version I was using, which was 3.8.2 32-bits. It seems that Windows only gives 2GB of memory to 32-bits processes.

The memory error comes from here.

Should a warning pop if pandas is manipulating large files in 32-bits Python version ?

[2020-03-04 12:11] simonjayhawkins commented on #32418
not applicable for screen grabs for training material, docs, slides etc. (changing the font size helps a little as the width doesn't change with every incremental change in font size.)

On a larger screen, there is a lot of unused real estate on the right hand side whereas the left hand side is a bit squashed.

I recall a discussion regarding not using the full available width for the content, and

[2020-03-04 12:35] funjo opened #32432 "BUG: pandas.DataFrame.any bool_only parameter not working since v0.24.0"
#### Code Sample, a copy-pastable example if possible
This is the code that I run to test the DataFrame.any function in different pandas versions
[code]
#### Problem description

In pandas version 0.23.4, the output is expected when `` bool_only=True`` is specified

[code]
However in pandas version 0.24.0, the final output is wrong for ``bool_only=True``
[code]

#### Expected Output
[code]
#### Ou

[2020-03-04 12:44] simonjayhawkins commented on #32417
doesn't that defeat the purpose of having "the missing dependencies from the other builds into environment.yml so we had all the dependencies locally." https://github.com/pandas-dev/pandas/issues/32417#issuecomment-594248342 for testing/development

also see #32327 for another snappy issue.

[2020-03-04 12:53] MarcoGorelli commented on #32382
Closing as it's unclear how to reproduce this. Feel free to reopen if you can show the output of
[code]
(as it says in the issue template)

[2020-03-04 12:53] #32382 closed

[2020-03-04 12:54] TomAugspurger commented on #32417
snappy is also an optional dependency for fastparquet and pyarrow.

Regardless, I don't think there's anything for pandas to do. If the library doesn't provide a wheel, users will need to install from source. And to do that they need the C library (built from source or through the system package manager).

If we deem that having pip users take that extra step is too large, then we could find where

[2020-03-04 13:00] TomAugspurger commented on #31774
That sounds good to me. As a workaround, users can explicitly convert to a datetime.timedelta prior to performing the operation.

[2020-03-04 13:35] SaturnFromTitan commented on #14833
take

[2020-03-04 13:48] marlosb commented on #24976
I was facing same issue. I rolled back version of Pandas and now it is working fine.

Not working versions:
Pandas 1.0.1 and Pyarrow 0.9.0
Pandas 1.0.1 and Pyarrow 0.12.0

Working versions:
Pandas 0.24.1 and Pyarrow 0.9.0

I haven't tested other combinations.

[2020-03-04 13:52] #32205 closed

[2020-03-04 13:52] #32220 closed

[2020-03-04 14:01] jreback commented on #24976
see https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.0.html#increased-minimum-versions-for-dependencies

you need pyarrow >= 0.13

[2020-03-04 14:05] rbolgaryn opened #32433 "Memory leaks if an object is saved in a DataFrame and references the DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the example above, the objects of MemoryLeakDemoDF are floating in memory and not removed by garbage collector. A similar example with a dict instead of a DataFrame does not lead to this problem. This behavior can cause massive memory leaks in a program that uses DataFrames that have references to other obje

[2020-03-04 14:06] toddrme2178 commented on #31856
@TomAugspurger   I'll take a look when I get a chance.

[2020-03-04 14:15] marlosb commented on #24976
ok, thanks!

[2020-03-04 14:17] #31413 closed

[2020-03-04 14:22] #32402 closed

[2020-03-04 14:58] edgarduartecoelho commented on #24976
I was using pandas 0.23.2 and pyarrow 0.16.0. I installed pyarrow 0.8.0 and the problem was solved.

[2020-03-04 15:00] rhenwood-arm commented on #32092
@WillAyd the manylinux wheel is unsuitable in this case because the request is about a different architecture (AArch64 aka Arm64). Different architectures are supported in 'manylinux2014', which I now supported in pypi and pip. This means that this project can add an entry in https://pypi.org/project/pandas/#files with a wheel for AArch64 as well.

Without a wheel the install of Pandas on AArch64

[2020-03-04 15:08] jreback commented on #25229
there is not support for writing orc in pyarrow

[2020-03-04 15:24] aslobodnik commented on #25100
Thank you.

[2020-03-04 15:24] #25100 closed

[2020-03-04 15:39] mralecthomas opened #32434 "Rounding issue when using pd.read_excel() followed by pd.to_sql()"
#### Code Sample, a copy-pastable example if possible
Single column Excel(.xls) file with the following data:

Document Summary
All
Total Sales
1479.9
39002.33
11295.76

[code]
#### Problem description

When using pandas.read_excel() to load the data into a dataframe followed by pandas.to_sql(), the float precision is being rounded up to the nearest tenth decimal place.

I read over the pandas doc

[2020-03-04 15:39] jbrockmendel opened #32435 "IntegerArray.astype("datetime64[ns]") fails with NAs"
tools.datetimes has to dig into IntegerArray internals in a way that in principle should be handled by IntegerArray.astype

[code]

[2020-03-04 15:40] jbrockmendel commented on #32431
This works on master, what pandas version are you using?

[2020-03-04 16:56] SaturnFromTitan opened #32437 "Include tests for pd.NA and pd.NaT in tests/base/test_ops.py"
This is a follow-up from #32281, specifically on [this comment](https://github.com/pandas-dev/pandas/pull/32281/files#r387677448) from jreback.

`test_unique_null`, `test_nunique_null` and `test_value_counts_null` should be tested for `pd.NA` and `pd.NaT` as well, ideally using the `nulls_fixture` from `pandas/conftest.py`.

As discovered/discussed in the mentioned PR, they would xfail for now. It

[2020-03-04 17:16] simonjayhawkins opened #32440 "CI Failing: Linux py37_locale TestTSPlot.test_matplotlib_scatter_datetime64"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=29960&view=logs&j=a3a13ea8-7cf0-5bdb-71bb-6ac8830ae35c&t=add65f64-6c25-5783-8fd6-d9aa1b63d9d4

matplotlib 3.2.0

[2020-03-04 17:27] batterseapower opened #32441 "`DataFrame.diff` on `datetime64` returns result inconsistent with `Series.diff`"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Doing `.diff()` on a `DataFrame` of `datetime64` should yield exactly time deltas in exactly the same way as on the `Series` i.e. index `(1,0)` in the `DataFrame` above should be `NaT`, not an overflown timedelta64.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit

[2020-03-04 17:40] maleknia opened #32443 "incosistencies in dataframe.dtype.isin() - I am getting inconsistent with different runs on same code."
#### Code Sample, a copy-pastable example if possible

import numpy as np
import pandas

myDf = pandas.read_csv("input.csv")

print (myDf.dtypes)

print((myDf.dtypes.isin(['int64'])))

[code]

[2020-03-04 17:47] TomAugspurger commented on #32443
Do you have a minimal reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports. Ideally you wouldn't need to read from CSV to reproduce this.

Can you also check the formatting on your post? https://guides.github.com/features/mastering-markdown/

[2020-03-04 18:54] jreback commented on #32433
why would you do such a thing? you by definition are always creating a reference cycle

you would. we’d to explicitly break this cycle in order to reclaim the memory

this is not a good pattern at all

[2020-03-04 19:11] #32440 closed

[2020-03-04 19:35] kendricng opened #32446 "BLD: Remove snappy from requirements-dev.txt"
#### Problem description

As raised in issues #32417 and #32327, `snappy` is causing issues while setting up a dev environment `requirements-dev.txt`.

#### Proposed change
I suggest removing `snappy` from `requirements-dev.txt` to allow fewer issues when setting up the environment.

#### Acknowledgements

@WillAyd for suggesting to raise this issue.

Related Issues: #32417, #32327

[2020-03-04 19:47] SeeminSyed commented on #11812
Should this be closed as a result of work on #12132?

[2020-03-04 20:02] randomgambit opened #32447 "how to keep nanosecond timestamps?"
Hello there,

I apologize if this a very simple question but what is the best way to store nanoseconds timestamps with `pandas` and `pyarrow`?

Right now it seems that using the `flavor = 'spark'` keeps the nanosecond precision while the other flavors do not.

Is that the right way to see things?

Consider this:
[code]

EDIT
@wesm asked me to post here from https://github.com/apache/arrow/issues/6

[2020-03-04 20:02] impredicative opened #32448 "Series.convert_dtypes is not idempotent with small strings"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]
#### Problem description

It is reasonably expected that the output of `convert_dtypes` will always be stable such that if it's applied multiple times to the same Series, the subsequent calls after the first one will be redundant and will result in no change. This reasonable assumption doesn't however hold; it's violated

[2020-03-04 21:04] igorluppi commented on #31954
should someone from numpy-dev look at this? @jorisvandenbossche @MarcoGorelli

[2020-03-04 21:30] TomAugspurger commented on #32443
Thanks. I'm not able to reproduce locally.

[2020-03-04 21:31] TomAugspurger commented on #32446
I think we should just keep this discussion in https://github.com/pandas-dev/pandas/issues/32417

[2020-03-04 21:31] #32446 closed

[2020-03-04 21:33] vlsd commented on #20012
it is also not clear from the documentation if the labels are by default added at the start or at the end of the window; I can see an argument that since end of window labeling is the only one that makes sense for causal systems/filters that's the only one to implement, but plenty of real life system and filters are in fact non-causal...

[2020-03-04 21:48] IsabellaRO commented on #28488
Hi, can I work on this issue?

[2020-03-04 21:51] selik commented on #24908
I also am getting this issue, but having trouble reproducing in a small example. In case it matters, I used `astype(int)` before `to_dict`.

[2020-03-04 22:01] brent-field opened #32450 "Converting a StringDtype series to an Inte64Dtype not working as expected"
I am interested in converting a StringDtype series to an Inte64Dtype. The following code produces a TypeError:

[code]

If I rewrite it as follows, I get a different TypeError:

[code]

The only way I have been able to convert from StringDtype is:

[code]

This works fine, but is inelegant. I would have expect astype to be able to do the conversion directly. Is there a recommended way to convert b

[2020-03-04 22:28] kendricng commented on #32417
I would like to. I tried submitting one this morning but it got closed. I was wondering what the proper procedure for submitting one would be?

[2020-03-04 22:33] kendricng commented on #32417
Yes, this is the fix. Thank you for pointing this out, and I've been able to set up my dev environment!

My bigger concern is that this type of error should not be happening when setting up a dev environment from scratch.

[2020-03-04 22:42] teto commented on #25369
I checked if this was fixed with pandas 1.0 but it isn't. What I am still puzzled by and wonder if it warrants a new issue is that I disable numexpr via `pd.set_option('compute.use_numexpr', False)`, my check `log.debug("use numexpr? %d" % pd.get_option('compute.use_numexpr',))` confirms it is false yet pandas insists on using the numexpr engine. Do I use the API wrong or is it a bug ?

[2020-03-04 23:57] TomAugspurger commented on #32417
It doesn’t if you use conda. Now that library is packaged is out of our control.

What we can control is avoiding its use in the docs. Does anyone know where it’s used?

[2020-03-05 00:29] jbrockmendel commented on #32448
The term for this is "idempotent", and you're right that it would be nice for this method to be idempotent.  PRs to improve this method will be welcome.

Please provide examples so these can become test cases.

This is not helpful.  Please try to stay constructive.

[2020-03-05 01:12] blalterman commented on #32381
I am getting the expected behavior with master on a RedHat system. Do you know when this will be released?

[2020-03-05 02:24] WillAyd commented on #32417
@kendricng if interested can you try building the docs from a clean environment that doesn't have `python-snappy`? May clue in on actual requirement

[2020-03-05 03:35] kzhui125 commented on #32431
@jbrockmendel

1.0.1

<img width="901" alt="1" src="https://user-images.githubusercontent.com/11925432/75945525-6abc6d00-5ed5-11ea-84c1-b25dec8c470d.png">

[2020-03-05 03:46] maleknia commented on #32443
May I ask how many times have you run this?

[2020-03-05 05:22] ishanema1 commented on #31251
take

[2020-03-05 06:03] ishanema1 commented on #32450
take

[2020-03-05 07:45] AlexanderSpirin opened #32453 "Nullable integer data type bug in read_csv"
When reading csv file column with NA fields  loose precision. I think the reason of the problem is the cast to float somewhere under hood.

`/tmp/1.csv:`
[code]

[code]

  | field1 | field2
-- | -- | --
0| <NA> | 1577134800018164904
1| **1577134800018226944** | 1577134800018267738

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : No

[2020-03-05 08:48] datapythonista commented on #32417
@TomAugspurger looks like what fails without snappy is user_guide/io in the code:
[code]

The default argument for the `compression` parameter is `snappy`, I guess if we specify the `gzip` compression there no dependency is required. Do you think we should do that?

[2020-03-05 09:22] rbolgaryn commented on #32433
Hi @jreback,

thank you for the response. For the proper understanding though, why does the garbage collector successfully remove the objects from memory in the example with a dictionary, but does not with the example with a DataFrame?

[code]

Roman

[2020-03-05 09:52] h-vishal commented on #32395
In 0.25 the `DatetimeArray` value to be assigned was coerced to an array of `Timestamp` values when it was assigned to an `object` dtype, I think that that part of the code can be reintroduced.
[code]

I can work on this.

[2020-03-05 10:05] AnnaDaglis commented on #32075
The problem in this case lies in `pandas.core.missing.py`, `mask_missing(arr, values_to_mask)`  function, the following clause:

[code]

The problem arises here `arr == x`, which fails when `arr` contains ``pd.NA``, as pointed out above.

@TomAugspurger @jorisvandenbossche Do you have any suggestions how to tackle this bug? I noticed that handling ``pd.NA`` behaviour has been discussed in other is

[2020-03-05 10:51] simonjayhawkins opened #32457 "commit history attributes commit to committer instead of author"
https://github.com/pandas-dev/pandas/commits/master since 690e382d2e93198c3629943607cef9fc3012dfd4

[2020-03-05 11:24] simonjayhawkins commented on #32457
@pandas-dev/pandas-core I think we need to not merge until this is resolved. Any ideas?

[2020-03-05 11:36] datapythonista commented on #32457
Reported it to GitHub, will update with any info from their side (their issues are paradoxically not GitHub issues, and not public).

[2020-03-05 12:13] MarcoGorelli commented on #31994
I guess this was just a temporary issue, am I OK to close?

[2020-03-05 12:13] #31994 closed

[2020-03-05 12:29] emsems opened #32461 "DataFrame output too wide / not truncated properly"
#### Problem description
It seems to me, that DataFrames are not always correctly trunctaed to fit the terminal width (using pandas 1.0.1).
My pandas config is set such, that it auto detects terminal width and the representation of the DataFrame should fit in.
<details>
  <summary>Relevant pandas config settings</summary>
  <p>

[code]
</p></details>

#### Code Sample

Please resize terminal to ha

[2020-03-05 12:33] TomAugspurger commented on #32075
I'm not sure offhand, sorry. But it seems like NA values should be considered False there, so perhaps fill it with something other than the value to mask? Some of the methods in `core.arrays.boolean` may be helpful to look through.

[2020-03-05 12:44] TomAugspurger commented on #32417
Thanks for tracking that down! Yes, I think it'd be best to specify a different (or just no) compression with `compression=None`.

[2020-03-05 13:00] datapythonista commented on #32417
Just realized that this will also affect the result in the performance comparisson: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#performance-considerations

Other than that it's 4 calls to `to_parquet` that would be updated.

[2020-03-05 13:26] shang-vikas commented on #24817
Hi, I want to help out with this issue. Can i take it up?

[2020-03-05 14:05] MathieuDutSik opened #32462 "Inconsistent result with cumsum columns"
I have problem with cumsum and multiple columns

[code]
The cumsum is computed only on the first column B and the column C is left unchanged. Worse, when recomputing then I get the result I would expect. I could accept either behavior but inconsistent result when iterating seems wrong to me.

[2020-03-05 14:13] MathieuDutSik opened #32463 "Difference between count and nunique formatting"
The count with groupby gives the number of entries while nunique gives the number of unique entries. The problem is that we get an additional column
[code]
Why is the A column being added in nunique output?

[2020-03-05 15:09] carlalvares commented on #26853
Would this be a good issue for a first-time contributor?

[2020-03-05 15:09] carlalvares commented on #17053
Would this be a good issue for first-time contributors?

[2020-03-05 15:11] yaolan4 commented on #31504
@TomAugspurger Is this good for first-time contributors?

[2020-03-05 15:27] thirug13 commented on #28613
@mroeschke I would like to work on this issue. Is this issue suitable for 1st time contributors and if so, could I get more more details on the problem and suggestions on how to fix the issue?

[2020-03-05 15:36] SeeminSyed commented on #11979
Does #30335 close this ticket and if not, would I be possible for me to work on it?

[2020-03-05 15:43] wesm commented on #32457
Wow that's seriously buggy

[2020-03-05 15:48] shwina opened #32464 "Grouping by all columns of an empty DataFrame should produce MultiIndex, but doesn't"
Greetings!

This comes up in [cuDF](https://github.com/rapidsai/cudf) in our tests that check for compatibility with Pandas:

[code]

Would it be more consistent for grouping by multiple columns to always result in a MultiIndex?

Edit: Checked with Pandas 1.0.1 as well as 0.25.3 -- same behaviour.

[2020-03-05 15:48] datapythonista commented on #32457
Just received this answer from GitHub:
[code]

[2020-03-05 15:51] harri471 commented on #29697
@jschendel If this was never completed, is it good for first time contributors? If so,  would like to work on it

[2020-03-05 15:53] wesm commented on #32457
I think this is a really bad change. In Arrow we include explicit by-lines in our commit messages to prevent this kind of shenanigans

https://github.com/apache/arrow/commit/b4acb0bc7f126817df9604a84d3109b428522f03

[2020-03-05 16:06] SeeminSyed commented on #11979
@TomAugspurger @jreback @jbrockmendel ^^^

Sorry to disturb but I'm not sure notifications are sent if people are not mentioned by name.

[2020-03-05 16:19] FCheda commented on #28968
Hi !, I wasn't able to reproduce the error in less code when i was working at the company ( have changed positions since then).

Still, I understand than linking data is not something you like so I'll try it generating data from numpy and minimicing the code.

If I'm able to reproduce the error that way I'll post again.

Also, sorry for the delay

[2020-03-05 16:31] MomIsBestFriend opened #32466 "Should Whitespaces be placed at the begging of a line"
As of our current [code style guide](https://dev.pandas.io/docs/development/code_style.html) we are placing whitespaces at the begging of the lines, [Black](https://github.com/psf/black) had a discussion at https://github.com/psf/black/issues/182 (https://github.com/psf/black/pull/1132#issuecomment-594062628 sums all of that discussion) where they decided that when "Black" wraps long strings it wi

[2020-03-05 16:48] datapythonista commented on #32457
Was in the phone with someone from GitHub, and looks like they are thinking how they can add two authors to the PR. But doesn't seem like anything is going to change soon.

I think we've got the next alternatives:
1. Just continue as normal and get the authors wrong from now on
2. Use the author headers @wesm mentions (may be can be added automatically from GitHub actions)
3. Go back to manually r

[2020-03-05 17:02] rth commented on #32457
See additional response in https://github.com/scikit-learn/scikit-learn/pull/16640#issuecomment-595306316.

Basically there is a change in behavior but that should be somewhat offset by the automatic addition of a `Co-authored-by` tag which is currently sometimes not working due to a bug.

[2020-03-05 17:05] wesm commented on #32457
@datapythonista you can also use the CLI PR merge tool (the one we have in https://github.com/apache/arrow/blob/master/dev/merge_arrow_pr.py would be easy to adapt)

[2020-03-05 17:11] ashwinpn commented on #31225
take

[2020-03-05 17:20] datapythonista commented on #32457
Looks like GitHub in reconsidering the change:

https://twitter.com/natfriedman/status/1235613840659767298

Probably worth waiting before merging PRs

[2020-03-05 17:31] jreback commented on #32462
you are grouping in a man group which is ignored by default

[2020-03-05 17:39] rlenferink commented on #32457
It seems that k8s-ci-robot is doing some nice contributions now: https://github.com/kubernetes/website/commits/066b9f3b8c4800abc35c4d08ec3b06129a9f53c7

IMO this isn’t really a wanted change since it loses contributor attribution.

[2020-03-05 17:56] mroeschke commented on #28613
We have a `good first issue` label that indicates issues that are good for first time contributors

https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2020-03-05 18:26] TomAugspurger commented on #11979
No, this isn't fixed by #30335.

[2020-03-05 18:28] TomAugspurger commented on #31504
I'm not sure. We have https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22 if you're looking for good first issues.

[2020-03-05 18:45] MarcoGorelli opened #32468 "Should Groupby.sum modify _selected_obj?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Noticed this while working on #32332

#### Expected Output

I wasn't expecting this to have side-effects

#### Output of ``pd.show_versions()``

<details>

In [7]: pd.show_versions()
/home/SERILOCAL/m.gorelli/miniconda3/envs/pandas-dev/lib/python3.7/site-packages/fastparquet/dataframe.py:5: FutureWarning: panda

[2020-03-05 18:52] jorisvandenbossche opened #32469 "DOC: fix styling (css) of getting started tutorials"
The sphinx theme got some styling updates, but this seems to have broken the custom styling of the getting started guide a bit.

See eg https://pandas.io/docs/getting_started/intro_tutorials/03_subset_data.html : the question marks are not visible.
And there is also some strange green around the code block in the box of installation at https://pandas.io/docs/getting_started/index.html

cc @stijnva

[2020-03-05 19:01] jbrockmendel commented on #32457
In the interim, can we manually fix the attribution when doing the squash+merge?

[2020-03-05 21:06] marlosb opened #32470 "Mishandling exception when trying to access inexistent files at private S3 bucket using several pandas.read_ methods"
#### Problem description

When trying to access a non-existing file on a private S3 bucket, using appropriated credentials, pandas will throw a ConnectionTimeoutError instead of a FileNotFoundError.
I tested the following read_ methods and got same behavior in all:  **read_csv, read_excel, read_fwf, read_json, read_msgpack, read_parquet,**

You got to have right credentials and try to access a pri

[2020-03-05 21:08] scottboston opened #32471 "Dataframe Groupby value_counts with bins parameter"
Found on Stack Overflow post [here](https://stackoverflow.com/q/60553500/6361531)
[code]
#### Problem description

Outputs counts at the with wrong index labels.  **_Note:_** data only occurs in 0-20 and 80-100.
[code]
#### Expected Output

`df.groupby('key')['score'].apply(pd.Series.value_counts, bins=[0,20,40,60,80,100])`
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the outpu

[2020-03-05 21:36] FrankXuuu commented on #32423
take

[2020-03-05 22:40] zbrookle opened #32473 "ENH: Feature request, date type"
There currently isn’t any native date dtype in pandas, which makes it impossible to integrate this type into file formats like parquet, where schema is defined

[2020-03-05 23:02] R4HMATT commented on #28572
take

[2020-03-05 23:26] 752525721 opened #32474 "pandas documentation error"
pandas documentation
Date: Feb 05, 2020 Version: 1.0.1

Download documentation: PDF Version

Why this PDF Version have no contents>

[2020-03-06 00:22] jbrockmendel commented on #32473
Period[D] behaves a lot like date.  Could that be adapted to solve the parquet issue?

[2020-03-06 00:44] zbrookle commented on #32473
That seems kind of like a work around, is there a real reason that pandas doesn’t have a date type? It’s a pretty essential and standard type for most data platforms and frameworks

[2020-03-06 00:55] jreback commented on #32473
@zbrookle you are welcome to spend the time to develop one

normalized Timestamps are pretty easy to understand and easily act like a date type

[2020-03-06 01:06] zbrookle commented on #32473
@jreback Okay awesome I’d definitely love to work on it

[2020-03-06 01:18] jreback commented on #32473
our current setup actually would be pretty reasonable to support a dtype and extension array of type

datetime64[D] (and maybe other freqs); may also have to be named slightly different

could be backed by a nullable integer array that represent ordinala from epoch

i don’t think it’s that hard actually

[2020-03-06 03:22] joetl opened #32480 "json_normalize errors if meta fields are integer"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
If meta fields are integer we get the below error. json_normalize works fine for string datatype
Traceback (most recent call last):
  File "C:/Users/HOME/PycharmProjects/pandas_test/pandas_test.py", line 12, in <module>
    df = pd.json_normalize(data,"access",meta=["person_id","test_field"])
  File "C:\Users\HO

[2020-03-06 06:06] Mxchaeltrxn commented on #32480
take

[2020-03-06 06:53] shaido987 commented on #32432
A regression was introduced in 0.24.0 that made `DataFrame.any` and `DataFrame.all` ignore the `bool_only` parameter, see here: https://github.com/pandas-dev/pandas/issues/25101. It would see that the fix applied did not cover all cases.

[2020-03-06 07:17] jorisvandenbossche commented on #32448
This is already fixed on master, and the fix will be included in 1.0.2:

[code]

[2020-03-06 07:17] #32448 closed

[2020-03-06 07:19] jorisvandenbossche commented on #32418
Can you give the url of the screenshot?

[2020-03-06 07:26] simonjayhawkins commented on #32418
for an example also with the space reserved and not used on rhs

https://pandas.io/docs/reference/api/pandas.DataFrame.groupby.html?highlight=groupby#pandas.DataFrame.groupby

[2020-03-06 07:35] jorisvandenbossche commented on #32418
For me, on that page, everything fits nicely. But I suppose you mean the groupby reference pages: https://pandas.io/docs/reference/groupby.html

Personally, in this specific case, I think we should rather fix this on the pandas side by making those reference items shorter (eg the `core.groupby` should ideally not be there since that is a private namespace).
But moving it to the theme issues to fur

[2020-03-06 09:08] stenpiren opened #32482 "Plot bar in Pandas 0.25.3 not changing the colors for each of the bars"
[code]
#### Problem description

When using the above code on pandas '0.25.3', all bars are plotted with the same color. I would like to have them plotted each with its own color. It used to work before but all of a sudden it doesnt. Possibly due to the pandas version.
Any clue?

[2020-03-06 09:17] stenpiren commented on #32482
Ps: It happens in other versions too.

[2020-03-06 09:42] stenpiren commented on #32482
Fixed it by adding colors parameter in plot.bar and using cm. As follows:
[code]
Just strange that it had stopped working by default, without having to add this.

[2020-03-06 09:42] #32482 closed

[2020-03-06 10:02] gpkc opened #32486 "to_csv fails silently with s3fs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

If you provide an invalid s3 path (e.g. a bucket that you don't have access to), this command fails silently.

#### Expected Output

Raise some exception at least.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------

[2020-03-06 10:53] funjo commented on #32432
@shaido987 Thanks for the link. I can confirm that this issue still exists in the latest version v1.0.1, so the fix did not cover all cases for sure.
[code]

[2020-03-06 10:56] Mxchaeltrxn opened #32488 "Problem with docker build to contribute on Mac"
Hi. I'm not sure if this is the right place to post this but I would love to contribute so I'm asking here. I apologise if this is the wrong place to post it. If it is, could someone redirect me to a better person or place to ask?

I use:
- Mac OS version 10.15.1
- I used brew cask install anaconda to install anaconda and I have `export PATH=~/opt/anaconda3/bin:$PATH` in my .zshrc file. conda --ve

[2020-03-06 11:37] smcinerney commented on #30191
Guys can we please go with just this doc change? I think it's a big enough improvement. Don't need code examples IMO. (I'm aware of multiple other cases in pandas doc where code examples are badly needed, and this one ain't it.)

[2020-03-06 12:21] MarcoGorelli commented on #32474
Are you referring to this document? https://pandas.pydata.org/docs/pandas.pdf

Seems to have content to me, can you try again?

[2020-03-06 12:29] datapythonista commented on #32457
Been contacted by github that this has already been reverted, closing.

[2020-03-06 12:29] #32457 closed

[2020-03-06 12:37] pquentin commented on #31869
Thanks! I ended up using `pd.Timestamp`, it works well 👍

[code]

[2020-03-06 12:39] smcinerney opened #32491 "DOC indexing: Google search for 'pandas greater than' returns `pandas.DataFrame.ge` as #1, and `pandas.DataFrame.gt`/`pandas.Series.gt` aren't even found"
#### Problem description

(I'm aware that Google SEO is not under pandas' control. However this one's quite important, and nowhere in the pandas doc does it actually tell us where/how to report SEO fails, if at all. So please tell us how and where to report things like this. Are all pandas doc pages automatically submitted to be crawled by Google?)

The indexing of pandas DataFrame/Series operator

[2020-03-06 12:51] ataudt opened #32492 "dataframe.groupby incorrect with multiindex and None value"
#### Minimally reproducible example

[code]

#### Problem description
Selecting a group which doesn't appear, I obtain a group which should not exist.

#### Expected Output
KeyError

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Windows

[2020-03-06 13:04] TomAugspurger commented on #32491
We don't submit anything. We don't have a robots.txt to disallow crawling.

What do you suggest we do?

[2020-03-06 13:11] smcinerney commented on #32491
Was the cause due to a) selective crawling, or b) not understanding the doc page text itself, that the wrong page gets indexed as #1, and the right pages never get indexed at all? The solution depends on which is the cause. Anyone here who knows about crawling and SEO? (I know almost nothing, I can't comment).

Also, I would have expected that as long as https://pandas.pydata.org/pandas-docs/stabl

[2020-03-06 13:21] pspeter opened #32493 "to_numeric fails with empty data and downcast="unsigned""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code currently calls `np.min()` on the data which fails when the data is empty. This does not happen for any other downcast.

[code]

#### Expected Output

array([], dtype=uint8)

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python

[2020-03-06 13:42] Patrick-DS commented on #10954
Hi everyone,

has there been any progress on this issue? I feel like it's enough of a pain for me to start reading the source code and try to find a fix, but this Issue thread is more than 4 years old now, so I don't know if this discussion moved somewhere else or if the situation is gonna remain as it is.

[2020-03-06 13:50] ghuls commented on #31051
The following does what I want:
[code]

[2020-03-06 13:52] nickeubank commented on #10954
Sadly, I failed in my effort to fix it. I just couldn't reliably track all the relevant refs when objects were passed to constructors.

My sense is this is gonna live on until the massive refactoring that's been on the board for years to move to arrow based data structures.

[2020-03-06 13:55] theholy7 commented on #8596
I definitely lose data on the int->float conversion during the merge. When i cast back from float->int my id's stop working.

Any idea how this can be avoided if at all?

[2020-03-06 14:28] tv3141 opened #32494 "Dataframe.groupby aggregations with categorical columns lead to incorrect results."
#### Code Sample

[code]
#### Problem description

`groupby` with one non-categorical column and one categorical column leads to incorrect aggregations (wrong values, or `NAN`s).

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
m

[2020-03-06 15:21] thomas-haslwanter opened #32495 "read_csv option 'skipfooter' crashes with lines starting with ""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Lines in txt-files that start with
"
can lead to crashes when these lines should be skipped with the option 'skipfooter'.
Funnily, this does NOT happen then the option
delimiter='[,]', engine='python'
is set, but DOES crash when the same option is set with
delimiter=',', engine='python'

The same data are read

[2020-03-06 15:25] #31225 closed

[2020-03-06 16:13] pgospodinov opened #32496 "dtype passed into read_csv as an arg not passed to the dataframe when being created"
https://github.com/pandas-dev/pandas/blob/015c1c154b9bc70d3b1981ba1dc31c09676065bf/pandas/io/parsers.py#L1143

Is this the desired behaviour? Maybe I am missing something but when we pass dtype to read_csv, the dtype is not used anywhere. Passing it to the dataframe when creating it seems like a good place for that.

[2020-03-06 16:15] buhrmann opened #32497 "[Regression] DataFrame.replace throws TypeError when to_replace is list and DF has categorical"
#### Code Sample

[code]
results in
[code]
#### Problem description

When a DF contains a categorical column, and when `to_replace` argument is a list, `replace()` throws `TypeError: unhashable type: 'list'`.

#### Expected Output
When the `to_replace` argument is a tuple rather than a list (which is not a documented option), all seems good:

[code]

[code]

#### Output of ``pd.show_versions()``

[2020-03-06 16:19] buhrmann commented on #32497
Forgot to mention, this is a regression and used to work in 0.25.3.

[2020-03-06 16:23] jreback commented on #32496
pls show an actual example

dtypes are handled during parsing

[2020-03-06 16:30] MarcoGorelli commented on #31954
I don't think so - I presume the core team is prioritising what'll be in the v1.0.2 release. I'm working on another issue at the moment but I plan to get back to this

[2020-03-06 16:37] pgospodinov commented on #32496
Sorry, can you elaborate on what sort of information you need? This is the input file I am using:
![Screenshot 2020-03-06 at 16 30 42](https://user-images.githubusercontent.com/30042410/76102643-337ab880-5fc8-11ea-9874-4d738250e917.png)
This is the dtype dict I have passed to read_csv:
![Screenshot 2020-03-06 at 16 34 17](https://user-images.githubusercontent.com/30042410/76102747-63c25700-5fc8-11

[2020-03-06 16:40] ShaharNaveh opened #32498 "Local test failure pandas.tests.frame.test_analytics"
Running

[code]

Yield the following error:

<details>

[code]

</details>

---

Output of ```pd.show_versions()```:

<details>

INSTALLED VERSIONS
------------------
commit           : f6b3e82b5514da97b48918c99bd28a07b754291b
python           : 3.8.1.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.23.a-1-hardened
Version          : #1 SMP PREEMPT Sun, 01 Mar 2020 18:

[2020-03-06 17:05] jreback commented on #32496
an example of code that is fully copy pastable to reproduce

[2020-03-06 17:06] datapythonista commented on #31398
I think pandas API is already too big. Did you try implementing this as an aggregate function and use `apply`? I may be wrong, but doesn't feel like  there is enough demand for this to implement it in pandas itself, and I think implementing it in a third-party library or your own code should be easy.

[2020-03-06 17:09] pgospodinov commented on #32496
in the meantime, can you tell me where in the code dtype is used/compared to the inferred by pandas data types? I tried debugging without success. Additionally, does pandas always infer dtype object because so far this is my experience with it.

[2020-03-06 17:29] buhrmann opened #32500 "[Regression] to_json doesn't export Int64 dtype correctly"
#### Code Sample

In 1.0.1:

[code]

#### Problem description

Not sure if that's the desired result, notice the object instead of null value.

#### Expected Output

0.25.3 used to produce this:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Darwin
OS-

[2020-03-06 17:51] TomAugspurger commented on #31819
We're hoping to release 1.0.2 soon. Have we reached an agreed behavior, and is anyone working on this?

[2020-03-06 17:52] TomAugspurger commented on #31710
@jbrockmendel you think this is essentially unfixable until we use cython>=0.30? If so, let's remove it from the 1.0.2 milestone.

[2020-03-06 18:06] jreback commented on #32496
this is not a bug pls read the docs

if you have a reproducible example show it

[2020-03-06 18:14] jbrockmendel commented on #32498
I can't reproduce on 3.7 on OSX, will try linux

[2020-03-06 18:33] jbrockmendel commented on #32498
cant reproduce with 3.6 on Ubuntu 18

[2020-03-06 18:51] gfyoung commented on #31819
@TomAugspurger : We haven't come upon an agreed-upon fix yet.  I was hoping to get some more community input on this, but if not, I'll see what I can change here to fix the regression.

[2020-03-06 19:05] jbrockmendel commented on #31710
It's viable, just invasive and a hassle, whereas with cython 0.30 it should be a 1-liner.  Depends on when we expect that to be available cc @scoder?

[2020-03-06 19:46] kendricng opened #32502 "DOC: `ref` issues in the contributing.rst file"
#### Problem description

Anytime I click on an internal reference link on the [Contributing.rst](https://github.com/pandas-dev/pandas/blob/master/doc/source/development/contributing.rst) file, I expect to be directed somewhere in the internal documentation that explains something about the internal link.

While it generates a `#id39` tag at the end of the link, it doesn't direct me to the page.

[2020-03-06 20:17] MomIsBestFriend commented on #32502
The ```:ref foo``` is more of a Sphinx thing (I think) that is intended to work in the website, and not in github (I think so).

here's the website where this document is being presented:

https://dev.pandas.io/docs/development/contributing.html

[2020-03-06 20:35] TomAugspurger commented on #31802
A bit simpler reproducer:

[code]

I think the issue is roughly somewhere around https://github.com/pandas-dev/pandas/blob/54c5e9e6e0819f848a10045d1cbc8ee936ffd075/pandas/_libs/reduction.pyx#L179. We update the Block._values, but don't adjust mgr_locs / placement. Anything that creates a *new* block from a function applied to those values will fail. In this case, we're making a Series on the resul

[2020-03-06 20:35] WillAyd commented on #32500
Should have already been fixed in #31748 if you want to try on master. Otherwise should be part of the 1.0.2 release

[2020-03-06 20:35] #32500 closed

[2020-03-06 20:38] kendricng commented on #32502
Ah, thanks for the reference. Thank you for that! 

[2020-03-06 20:38] #32502 closed

[2020-03-06 20:48] TomAugspurger opened #32503 "core.common.random_state is too strict for state input"
The numpy RandomState seed can be an int, array-like, or BitGenerator

[code]

Right now, we only pass through integers. Arrays (and BitGenerators if possible) should be passed through to RandomState at https://github.com/pandas-dev/pandas/blob/54c5e9e6e0819f848a10045d1cbc8ee936ffd075/pandas/core/common.py#L409-L410.

## Current Behavior

[code]

## Expected Output

[code]

[2020-03-06 21:02] pgospodinov commented on #32496
ok, you are saying that dtype shouldnt be passed to the dataframe? where is it passed then? the docs for read_csv have a one liner about dtype which states the obvious. this is why I started debugging the code in the first place? regarding an example anything works. i am talking for a very general case here, where you read the simplest csv file with a specified dtype as an argument

[2020-03-06 21:07] TomAugspurger commented on #32496
By the time you get to the line you highlighted in the original post, the values should have already been parsed with the correct dtypes.

If you have an example where that's not the case, then please provide one.

[2020-03-06 21:11] pgospodinov commented on #32496
@TomAugspurger can you show me where in the code this happens? and why not just pass them to the dataframe since the dataframe has this functionality

[2020-03-06 21:14] TomAugspurger commented on #32496
I'm not sure offhand. Do you have an example of this failing? Otherwise,
we'll likely just close the issue to avoid going around in circles.

On Fri, Mar 6, 2020 at 3:11 PM pgospodinov <notifications@github.com> wrote:

[2020-03-06 21:19] pgospodinov commented on #32496
if you don't use the dtype argument anywhere, it is failing in every case where dtype is passed as an argument to read_csv. you don't pass it to the dataframe and you can't show me where you use it in the codebase. if you dont know, can you refer me to someone who does or tag him in this post?

[2020-03-06 21:29] jreback commented on #32496
@pgospodinov you need to show an example with full version information

[2020-03-06 21:52] TomAugspurger commented on #32498
Likewise. Just to confirm, @MomIsBestFriend can you try rebuilding your C extensions if you haven't already?

[2020-03-06 21:54] TomAugspurger commented on #32497
Thanks for the report. Duplicate of https://github.com/pandas-dev/pandas/issues/31720 and fixed in https://github.com/pandas-dev/pandas/pull/31734.

[2020-03-06 21:54] #32497 closed

[2020-03-06 21:56] MomIsBestFriend commented on #32498
I ran the following before posting this issue

[code]

[2020-03-06 21:58] TomAugspurger commented on #32495
Doesn't the error message describe this exact situation? You've requested that the rows be skipped, but the parser still has to parse them so any parse errors will be rasied?

[2020-03-06 22:01] TomAugspurger commented on #32494
Thanks for the report. In a transform, the output shape will match the input shape. But Categorical are special since they expand to include unobserved categories in the output.

This may be similar to https://github.com/pandas-dev/pandas/issues/28788, but that issue is hard to follow.

[2020-03-06 22:04] TomAugspurger commented on #32494
A bit simpler reproducer:

[code]

[2020-03-06 22:09] TomAugspurger commented on #32493
Thanks for the report. I think it's safe to include an `initial=0` in that call to `np.min` in https://github.com/pandas-dev/pandas/blob/970499d9660a4f4a1df3e1f8ce3015336ffb4d41/pandas/core/tools/numeric.py#L165-L166.

[2020-03-06 22:15] TomAugspurger commented on #32488
Can you retry with a fresh environment? This sounds like https://github.com/pandas-dev/pandas/pull/32241

[2020-03-06 22:28] TomAugspurger commented on #32486
Hmm...  thanks for the report.

I think the issue is the failure to call close in https://github.com/pandas-dev/pandas/blob/970499d9660a4f4a1df3e1f8ce3015336ffb4d41/pandas/io/formats/csvs.py#L174-L204. S3FS only makes the request to validate the credentials when the file is actually closed, which we don't seem to do here.

Are you interested in debugging further?

[2020-03-06 23:03] Mxchaeltrxn commented on #32488
@TomAugspurger What do you mean by fresh environment?

[2020-03-06 23:04] antoine-gallix commented on #31793
@jbrockmendel you mean me? I fear I'd be very inefficient at touching anything in the depth of pandas. For what I understand, the error comes from a check that verifies that the two tzinfo attributes are equal, which fail in our case because of two different types of utc timezone object. What's the plan? You seem to suggest the check would fail only if one of the two tzinfo is missing. What was tz

[2020-03-06 23:09] xmnlab commented on #31398
thanks for the feedback @datapythonista !

[2020-03-06 23:09] #31398 closed

[2020-03-06 23:10] xmnlab commented on #31398
I am closing this issue, but if there is anything related to that I can help, let me know :)

[2020-03-06 23:35] TomAugspurger commented on #32488
Pull pandas and recreate the conda env (so I guess rebuild the docker image)

[2020-03-06 23:41] 752525721 commented on #32474
I try it again, but the problem is still there. The contents page just have the word "Contents"!
![pandas](https://user-images.githubusercontent.com/15361105/76130780-04eff280-6047-11ea-96df-10409d1fde8a.png)

[2020-03-06 23:44] Mxchaeltrxn commented on #32488
So I ran `git pull upstream master` and then did `Remote-Container: Reopen in Container` but I get the same result

[2020-03-07 02:09] jbrockmendel commented on #31793
@antoine-gallix yes I do.

Everybody is a beginner at first.  We're happy to help new contributors get up to speed.

Timestamp subtraction is defined in pandas._libs.tslibs.c_timestamp, L267.  There is a chceck `if not tz_compare(self.tzinfo, other.tzinfo)` that needs to be changed to something like `if (self.tzinfo is None and other.tzinfo is not None) or (self.tzinfo is not None and other.tzinfo

[2020-03-07 02:33] xcz011 commented on #32503
take

[2020-03-07 03:25] jbrockmendel commented on #31802
That can only end in tears.  I'd be inclined to failover to the non-fastpath pretty aggressively.

[2020-03-07 04:38] fpunny commented on #13054
take

[2020-03-07 04:50] jangorecki commented on #10000
Shouldn't this issue be already resolved/obsolete by recent release of pandas 1.0.0?

[2020-03-07 09:33] SaturnFromTitan opened #32514 "TST: Seemingly non-deterministic order of value_counts"
We had a flaky test for `test_value_counts` in `pandas/tests/base/test_ops.py` which was related to the sort order of entries with the same count. A hotfix was introduced in #32449 and resolves the CI issue.

The underlying issue still isn't fixed/confirmed. The test assumes that in case of same counts the order of the original index/series object is preserved. This assumption breaks on CI though.

[2020-03-07 12:07] elmonsomiat opened #32515 "df.to_dict() accepts orient which are not in the list of options"
#### Code Sample, a copy-pastable example if possible

[code]
returns:
[code]

instead of `ValueError`
#### Problem description

The current version of pandas accepts orient= any word which starts with r, l, s, sp, i and d instead of just the actual options in the documentation.

The function should be returning `ValueError` if the orient option is not any of the following: `{'dict', 'list', 'seri

[2020-03-07 12:13] MomIsBestFriend commented on #32515
take

[2020-03-07 12:21] elmonsomiat commented on #32515
@MomIsBestFriend will put a PR up now

[2020-03-07 12:31] MomIsBestFriend commented on #32515
@elmonsomiat You want to take a shot at it?

You can assign yourself by commenting the word ```take``` (and nothing else, just ```take```).

[2020-03-07 12:32] elmonsomiat commented on #32515
take

[2020-03-07 12:32] elmonsomiat commented on #32515
@MomIsBestFriend Thanks! this is my first contribution to pandas, let's try it out! :)

[2020-03-07 12:35] MomIsBestFriend commented on #32515
@elmonsomiat Good luck (and welcome to pandas)!

---

I'm here if you need a hint :)

[2020-03-07 16:18] buhrmann commented on #32500
Ok, great. Sorry I didn't see this when searching for previous issues.

[2020-03-07 16:21] buhrmann commented on #32497
Ok, thanks. Sorry for creating noise, but I didn't see the duplicate among related issues.

[2020-03-07 18:10] thomas-haslwanter commented on #32495
You are correct - Sorry I missed that!

One more question, though:
what threw me was the fact that it works with the option
`delimiter='[,]'`
but fails with
`delimiter=','`
I still don't understand that, since I thought the two should be the same. But anyway, you can go ahead and close the issue.

Thanks for the quick feedback!

[2020-03-07 19:16] mroeschke opened #32526 "API: Timestamp positional arguments not aligned with datetime.datetime"
Our `Timestamp` constructor is not positionally aligned with `datetime.datetime` since we support a `nanosecond` argument which comes in between `microsecond` and `tzinfo`.

This is the main cause for https://github.com/pandas-dev/pandas/issues/32174 as dispatching to `datetime.datetime` methods sometimes reconstructs `Timestamp` with positional arguments.

`nanosecond` should be moved to the last

[2020-03-07 19:17] #32495 closed

[2020-03-07 20:06] #26941 closed

[2020-03-07 20:10] mroeschke commented on #24373
Fixed by https://github.com/pandas-dev/pandas/pull/31563

[2020-03-07 20:10] #24373 closed

[2020-03-07 20:23] MomIsBestFriend opened #32528 "DataFrame.describe() output is not deterministic"
Running this:

[code]

Will sometimes have the output of:

[code]

And sometimes the output of:

[code]

(Changes at the row of ```top```)

[2020-03-07 20:58] datapythonista opened #32529 "DOC: Remove absolute urls from the docs"
Looks like we've got some absolute urls (including the domain) in the docs, like https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases (see here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/datetimes.py#L178 ).

Sphinx (the tool we use to build the docs) provides a way to create those automatically, with the `:ref:` directive.

See for exam

[2020-03-07 21:05] lfmaomao commented on #31357
Thanks for sharing

[2020-03-07 21:16] mroeschke commented on #32528
Could you `pd.show_versions()`? I am not getting the same behavior on

[code]

[2020-03-07 23:14] ArkadeepAdhikari commented on #32529
take

[2020-03-07 23:17] loikein commented on #25068
Any updates? It's been several updates, but the problem seems to persist.

[2020-03-07 23:27] ArkadeepAdhikari commented on #32529
Hi, this is my first issue, are there any checks/tests I should keep in mind? Thanks

[2020-03-08 00:01] SeeminSyed commented on #13094
take

[2020-03-08 00:01] harri471 commented on #14467
take

[2020-03-08 00:07] datapythonista commented on #32529
Have a look at the contributing guide if you don't know how to contribute to pandas: https://pandas.pydata.org/docs/development/contributing.html

The rest should be explained in the description. You should know how to use grep to work on this.

Assign the issue to yourself again when you're ready to start working on it.

Thanks!

[2020-03-08 00:20] datapythonista commented on #32528
Checking at the code, this code should also reproduce the problem:
[code]

(it always return `c` to me)

[2020-03-08 02:10] sathyz commented on #31251
take.

[2020-03-08 03:34] #31987 closed

[2020-03-08 03:41] jbrockmendel commented on #22954
ATM we cannot ensure that Block.fillna will _not_ get a Series.  #32420 fixes that

[2020-03-08 11:38] GrzegorzKrug commented on #32474
I see content, but pages from 2 to 6 are empty, only page 5 has text. Is this content stretched?
[code]

[2020-03-08 11:56] h-vetinari commented on #31870
You're right, after rearranging the code, it now works for both. I was thinking of something else when I wrote that and was wrong.

[2020-03-08 12:36] 752525721 commented on #32474
Yes, this is just the problem.

[2020-03-08 13:06] roberthdevries commented on #32394
take

[2020-03-08 13:11] MarianD opened #32540 "pdf documentation is not bookmarked"
The last PDF documentation 1.0.1. (Feb 05, 2020) has no table of contents, no bookmarks.

I made Contents in the form of bookmarks, meanwhile up to level 2.
The edited (bookmarked) pdf file is here: [pandas.pdf](https://github.com/pandas-dev/pandas/files/4303229/pandas.pdf).

[2020-03-08 13:14] roberthdevries commented on #32394
This seems to be a relic of really old type inference mechanics which were present in pandas/src/inference.pyx (commit 17d7ddbc30 by gfyoung).
That code used some check functions for uint64 types (now removed) that would raise exceptions with the string "uint64". As this code is now no longer present, the check for the presence of the string in the exception text can be removed as well.
I did not

[2020-03-08 15:45] #16121 closed

[2020-03-08 15:45] #26412 closed

[2020-03-08 17:14] SaturnFromTitan opened #32543 "obj.fillna(fill_value) doesn't shallow copy if obj is an empty Series"
While working on #32483 I bumped into the following issue:

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

See `test_fillna` in the mentioned PR (or master when it is merged): With any value of `obj`, even if it is an empty `Index` the shallow copy is executed. This can potentially yield bugs related to unintended mutations of obj further down the road.

##

[2020-03-08 17:20] mroeschke commented on #27954
We're happy to reopen this issue when we can validate the issue with a reproducible example

[2020-03-08 17:20] #27954 closed

[2020-03-08 17:24] mroeschke commented on #22263
We're happy to reopen this issue when we can validate the issue with a reproducible example

[2020-03-08 17:24] #22263 closed

[2020-03-08 18:02] vongohren commented on #17048
If anyone is going to implement a better version of this, its worth looking at these libraries to do a json out of memory read:
https://pypi.org/project/jsonslicer/#description
https://github.com/ICRAR/ijson

I experienced heavy memory issues just opening a JSON file, but these libraries fixed this issue, and added parsing functionality on top of it. Without beeing to expensive :D

[2020-03-08 18:13] mroeschke commented on #25307
Closing as I think this is more of an issue with bottleneck

[2020-03-08 18:13] #25307 closed

[2020-03-08 18:23] mroeschke commented on #26100
I agree with @WillAyd on the expected behavior of `is_categorical_dtype`. I think this method is behaving as expected. Closing

[2020-03-08 18:23] #26100 closed

[2020-03-08 18:24] mroeschke commented on #26118
We're happy to reopen this issue when we can validate the issue with a reproducible example

[2020-03-08 18:24] #26118 closed

[2020-03-08 18:42] roberthdevries commented on #31467
take

[2020-03-08 18:47] wlgranados commented on #26278
take

[2020-03-08 19:32] roberthdevries commented on #31467
It seems that the changes for #3441 (PR#4933) introduced this statement (in 2013). The changes have been carried forward to this day, but seem to be obsolete or already covered by other code that closes file handles.

[2020-03-08 20:06] roberthdevries commented on #29803
@DeoLeung See my PR #32544 for issue #31467

[2020-03-08 20:33] jorisvandenbossche commented on #32529
For docstrings, those absolute urls are on purpose, as sphinx references are not useful when looking at those docstrings in plain text (eg as help in ipython console / jupyter notebook). So for those, I would keep the absolute urls.

If there are absolute urls in the prose rst docs, for sure those can be changed to sphinx references.

[2020-03-08 21:44] ArkadeepAdhikari commented on #32529
Thanks for the clarification, I'm changing the absolute urls in the rst docs to sphinx references, and keeping the others as it is.

[2020-03-08 23:20] shang-vikas commented on #32441
Hi @batterseapower, I copy-pasted the same code and was able to reproduce the bug.
I did some deep dive and found out that for dataframe(ndim=2), a function diff_2d in algos.pyx is being used which is written in cython.
For series type, there is another logic which has a comment
`       # need to make sure that we account for na for datelike/timedelta
        # we don't actually want to subtract t

[2020-03-08 23:28] batterseapower commented on #32441
@shang-vikas: looks like you found the bug, nice one.

I think the code you are referring to is https://github.com/pandas-dev/pandas/blob/706e6427bd1afd05c82eae810d288bbe22ed21c8/pandas/core/algorithms.py#L1900 (Series) and https://github.com/pandas-dev/pandas/blob/9e69040f199266cd7a743dfd2f579f271337687f/pandas/_libs/algos.pyx#L1193 (DataFrame). I'm sure the pandas project would be very happy to

[2020-03-09 00:20] 752525721 commented on #32540
Thanks a lot, but still has no table of contents

[2020-03-09 02:53] tonywu1999 opened #32550 "Fix capitalization among headings in documentation files"
In #26933, we made the capitalization of titles consistent. For example, a title used to be capitalized like, "This is the Section Title", and many of the titles in the _pandas_ documentation was changed to a correct format, like "This is the section title".

In #31114, we made a script called `scripts/validate_rst_title_capitalization.py` that extracts all titles in the documentation, making sure

[2020-03-09 07:38] ArkadeepAdhikari commented on #32529
take

[2020-03-09 07:56] Arsilla commented on #30726
Hi,

Sorry to get back to this so late.
I did try to run the function with only the arguments that seemed to make it fail. However the error didn't occur then. Also, when running the script on all input files, sometimes it would fail on the first image, sometimes on the third. I couldn't figure out which specific inputs it was that created the error.

[2020-03-09 09:05] WillySong commented on #32492
take

[2020-03-09 09:38] datapythonista commented on #32550
@tonywu1999 do you mind editing the description and providing more context? Imagine a random user wanting to contribute to pandas lands here. We would like to explain what's the problem, why it's useful to fix it, and step by step information on what to do (e.g. We want to add fixes files to `ci/code_checks.sh`).

Also, if you want to get the list of files to check, and add it in the description (

[2020-03-09 10:10] MarianD commented on #32540
As I wrote, the table of contents is in my file (only) _in the form of bookmarks_.
(Current PDF file has neither Table of Contents, nor bookmarks).

[2020-03-09 10:33] scoder commented on #31710
This year. :)
I'm planning to release an "official alpha" in a couple of weeks, as soon as I catch up with the currently pending PRs, and as soon as it's in a state that allows users to prepare for it.

[2020-03-09 10:37] scoder commented on #31710
(Remember that the good thing about Cython is that you can control when and how the C code is generated, so you're rather free to use whatever released or unreleased Cython package you want, as long as you test it sufficiently on your side. That said, it's obviously easier to use a proper PyPI release, that's why I'd like to get at least _something_ out soon.)

[2020-03-09 10:49] tsoernes commented on #32075
Can we get this for 1.0.2 that would be awesome

[2020-03-09 10:57] scoder commented on #31710
(Also, the "miniscule change" for this feature is only small in Cython's master/3.0 branch. It's not quite that small in a backport.)

[2020-03-09 11:50] jreback commented on #32394
reopening as going to revert this -
needs more tests

[2020-03-09 12:19] themien commented on #32550
take

[2020-03-09 12:54] shang-vikas commented on #32441
take

[2020-03-09 12:56] shang-vikas commented on #32441
@batterseapower Should i start fixing the issue or wait for any guidelines from one of the members?

[2020-03-09 13:01] TomAugspurger commented on #32540
The pdf docs are built over in https://github.com/pandas-dev/pandas-release if you want to take a look. Not sure what's going on.

[2020-03-09 13:19] shang-vikas commented on #32526
Hi @mroeschke , i would like to take this up.

[2020-03-09 14:21] MarianD commented on #32540
@TomAugspurger

I found in https://github.com/pandas-dev/pandas-release/blob/master/Makefile this note:

[code]

Maybe something went wrong and the Table of Contents and bookmarks were not generated?

[2020-03-09 14:25] TomAugspurger commented on #32540
Perhaps, I'm not sure. That comment may have been from an old run.

On Mon, Mar 9, 2020 at 9:21 AM Marian Denes <notifications@github.com>
wrote:

[2020-03-09 14:42] MarianD commented on #32540
@TomAugspurger

Irrespective of the true reason for a such result, I think that it would be a good temporary solution to replace the current documentation in https://pandas.pydata.org/pandas-docs/stable/ with my PDF file (manually bookmarked).

[2020-03-09 15:10] TomAugspurger commented on #32540
I'd prefer to get the root problem sorted out. If you aren't able to look
at the build stuff, I can take a look later today.

On Mon, Mar 9, 2020 at 9:42 AM Marian Denes <notifications@github.com>
wrote:

[2020-03-09 15:36] elizabethswkim commented on #26333
Thanks, @koshy1123 ! Your roundtripping shapely geo via geopandas worked for me!

[2020-03-09 15:42] #32146 closed

[2020-03-09 15:51] TomAugspurger commented on #32108
Backporting https://github.com/pandas-dev/pandas/pull/31318 doesn't look straightforward, so this likely won't be fixed for 1.0.2 unless someone invests some time in the next day or so.

I'll repurpose this issue to adding a test for the behavior on master.

[2020-03-09 15:56] TomAugspurger commented on #32077
I'm reasonably sure this is the same root cause as https://github.com/pandas-dev/pandas/issues/31802. See https://github.com/pandas-dev/pandas/issues/31802#issuecomment-595954511

[2020-03-09 15:57] TomAugspurger commented on #31802
Yeah, that's my preference as well. By "weird" I should have probably put "crazy" :)

I'll see if I can get a somewhat targeted check for when we need to bail out.

[2020-03-09 16:00] TomAugspurger commented on #31966
Moving to 1.1.

@elikesprogramming have you been able to profile things?

[2020-03-09 16:46] mroeschke commented on #32526
Great @shang-vikas! This will involve a deprecation cycle as moving the position of the `nanosecond` argument would be a breaking API change.

[2020-03-09 16:51] blalterman opened #32553 "IntervalIndex raises TypeError on PrettyPrint"
#### Code Sample, a copy-pastable example if possible

Consider the following series
[code]
#### Problem description

the `IntervalIndex` raises a `TypeError` when printing
[code]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!

**N

[2020-03-09 17:23] MarianD commented on #32540
@TomAugspurger
Thank you.

[2020-03-09 17:28] TomAugspurger commented on #31883
This was effective fixed by https://github.com/pandas-dev/pandas/pull/31939 and https://github.com/pandas-dev/pandas/pull/31799. #31939 was backported, so this should be working on 1.0.2

I think we have a test for it at https://github.com/pandas-dev/pandas/blob/master/pandas/tests/indexes/multi/test_indexing.py#L412-L414, which is xfailed. Removing that test will give us the coverage we want.

[2020-03-09 17:30] TomAugspurger commented on #31819
I'm roughly targeting Wednesday for the release so if you're able to get something together quickly it'd be welcome.

[2020-03-09 17:37] jbrockmendel commented on #31710
@scoder thanks for the rundown.  Big releases aren't easy, and we appreciate all the time and effort you put in.

@TomAugspurger I'm inclined to push this off to 1.0.3 as long as we have lower-hanging-fruit regressions to handle

[2020-03-09 17:38] gfyoung commented on #31819
Sounds good.  Let me see what I can put together.  It may not be optimal, but if we can at least restore functionality, that would be good for this release.

[2020-03-09 17:55] MarcoGorelli commented on #31063
Agree that it seems strange:

[code]

[2020-03-09 18:07] teto opened #32556 "Dataframe.query uses numexpr even when 'compute.use_numexpr' is False"
#### Code Sample, a copy-pastable example if possible

[code]
throws with pandas 1.0
[code]

#### Problem description

Dataframe.query fails when using UInt* dtypes see https://github.com/pandas-dev/pandas/issues/25369#issuecomment-594905994.
My first idea to solve this was to disable numexpr but this isn't enough, one has to pass  `engine="python"` to forcefully disable numexpr when calling `quer

[2020-03-09 18:19] TomAugspurger commented on #31710
Agreed.

[2020-03-09 18:50] yohplala opened #32559 "date_range() : allowing argument closed to have value 'open'"
#### Code Sample

[code]
#### Problem description

Please, could the keyword 'closed' accept a 4th value (for instance 'open') that allows suppressing both extremities of the DateTimeIndex?

Thanks for your help and this marvelous library! Loving it!
;)

[2020-03-09 18:52] TomAugspurger commented on #31802
Right now I'm pessimistic about a "targeted check" being possible. It seems like `libreduction.SeriesGrouper` is fundamentally at odds with user-defined callables. We're creating invalid Series / DataFrame objects, so anything relying on the wrong invariant may hit arbitrary exceptions.

I think our only two choices are to

1. Change the `except ValueError` in `agg_series` back to `except Exceptio

[2020-03-09 19:00] TomAugspurger commented on #31802
I suppose the 3rd choice is to continue to play whack-a-mole on exceptions / messages in https://github.com/pandas-dev/pandas/blob/787dc8aa90813bb8509ffda84cd2f828d772c7fb/pandas/core/groupby/ops.py#L639-L647. That's probably the most conservative change...

[2020-03-09 19:19] TomAugspurger commented on #32415
I'm roughly targeting Wednesday for a release.

[2020-03-09 19:27] jorisvandenbossche commented on #32075
Note that this is working fine with string dtype:

[code]

So it is specifically for NA in object dtype (something we actually don't really test yet, I think).

This *might* be related to the comparison deprecations in numpy (there are other cases where comparisons return a scalar True/False, instead of doing it element-wise), you also see the deprecation warning.
Now in general, numpy might not b

[2020-03-09 19:30] TomAugspurger opened #32562 "CI: TravisCI Failing"
Good: https://travis-ci.org/pandas-dev/pandas/jobs/660156644#L7
Bad: https://travis-ci.org/pandas-dev/pandas/jobs/660210493#L1

https://travis-ci.org/pandas-dev/pandas/jobs/660210493#L175-L177 looks strange.

[code]

Most likely something changed on the TravisCI end. Opening this to track it.

[2020-03-09 19:35] batterseapower commented on #32441
@shang-vikas I don't see why you shouldn't just submit a pull request. The pandas devs are quite responsive to applying pull requests, but are too busy to solve every issue themselves.

[2020-03-09 19:54] jbrockmendel commented on #31802
Maintenance-wise, this is by far the most appealing option, xref #32086.  As of that PR, the performance penalty (as measured by our most-affected asv) of disabling fast_apply was 48x.  Some perf PRs since then have gotten that down to 7x.  I'm pretty sure I can shave that down to 5x without too much trouble.

Leaving aside the issue of one asv not being a representative sample, the question is ho

[2020-03-09 19:57] jorisvandenbossche commented on #32417
Personally, I would leave the docs as is.
But to smooth the development on pip, can we just remove snappy during the conversion from env -> requirements file? It's only when they would do a full doc build, contributors will locally see some errors in the parquet examples. I don't think that's too bad.

[2020-03-09 19:59] jbrockmendel commented on #31802
I'm a little confused here.  How are we getting to a point where vslider.buf has the wrong shape?

[2020-03-09 20:00] jorisvandenbossche commented on #31802
What's the difference maintenance wise between try/except the fast version (with a generic `except` in case of UDFs), and otherwise fallback to pure python version versus an if/else to only do the pure python version for UDFs?

[2020-03-09 20:03] TomAugspurger commented on #32562
Seems to already be fixed.

[2020-03-09 20:03] #32562 closed

[2020-03-09 20:12] jbrockmendel commented on #31802
1) Non-surfaced bugs
2) The cython code path is very difficult to grok, not newcomer-friendly.  Among other things it messes with ndarray internals, which is kinda sketchy.
3) We need to worry about fast/slow versions having matching behavior, similar to the failure in #32083.  (i'm pretty sure the `libreduction._extract_array` behavior/usage is subtly different from what we have in the non-cython

[2020-03-09 20:14] jbrockmendel commented on #31802
we could use something like the `raw` keyword to let users opt in to a fastpath to operate only on the underlying arrays (i think we do this for DataFrame.apply).  If we wanted to get fancy about it we could look at annotations on a UDF and see if is fastpath-friendly

[2020-03-09 20:24] jkukul commented on #27794
@MaximeWeyl, your workaround only solves the issue partially, i.e. when all timestamps (with timezone)  are present in an axis.

Consider the following example:
[code]

Expected output of `df.min(axis=1)` (without the bug) is:
[code]

Applying your workaround:
[code]
gives:
[code]

As you can see, your workaround helps for the 0th row, but returns an incorrect value for the 1st row which has an `N

[2020-03-09 20:26] jorisvandenbossche commented on #31802
But we need the cython code anyway? Or would we be able to remove quite some of it if it didn't need to support UDFs?

[2020-03-09 20:28] jkukul commented on #27794
Here's my workaround - instead of using:
[code]

I'm using:
[code]

[2020-03-09 20:29] jorisvandenbossche commented on #31710
Do we know what caused this regression? Because if this was supported before with cython < 0.30, why is it hard to support it now with that cython version?

[2020-03-09 20:40] jbrockmendel commented on #31802
If we got rid of fast_apply, we could rip out 136 lines of cython and about 60 more of non-cython, see #32086.

Also it looks like fast/slow paths give different behavior for tshift in tests.groupby.test_whitelist

[2020-03-09 20:45] datapythonista commented on #32417
My preference is to close this issue as invalid and leave everything as it is. pip not being able to easily install non pure Python dependencies is known and not pandas related. That's why conda exists, and why we recommend it. Users who still want to use pip will have to deal with these problems. Today is snappy, but tomorrow may be something else that we can't consider removing from the docs dep

[2020-03-09 21:08] jbrockmendel commented on #31802
@TomAugspurger after having looked at it more closely, updating mgr_locs is viable.  Adding `cached_type._data._block.mgr_locs = slice(len(vslider.buf)))` to _update_cached_objs in libreduction gives us back a valid Series

[2020-03-09 21:12] TomAugspurger commented on #32540
I uploaded a fixed PDF. I'm having some trouble fetching it though. I think I'm hitting the issues in https://github.com/pandas-dev/pandas-website/issues/86.

[2020-03-09 21:16] MarcoGorelli commented on #31063
Though I think here it should be `(10, )` for compatibility with when the groupby key doesn't have a unique value

[2020-03-09 21:24] TomAugspurger commented on #31802
Hmmm OK. Let's dig this hole a little deeper then...

[2020-03-09 22:04] roberthdevries commented on #28071
take

[2020-03-09 22:08] roberthdevries commented on #28071
I do not claim to understand exactly what happens here, but I created a test that reproduces the problem and, with this fix, produces the expected results.

[2020-03-09 22:24] MarianD commented on #32540
@TomAugspurger
Nice from you, thanks!

Now in this fixed PDF I see only a tiny issue — the first bookmark and the first chapter in Contents, too,  say

but *there is not such a part in the book;* the target of both links is

[2020-03-09 22:28] jbrockmendel commented on #31802
Any thoughts here?  I've got it down to 4.5x locally

[2020-03-09 23:17] SHxKM commented on #6936
Any progress with this?

[2020-03-09 23:37] gedkins opened #32569 "Arithmetic doesn't broadcast when MultiIndex has the same data, different names"
#### Code Sample

[code]
#### Problem description

The calculation of `ft1` doesn't broadcast as expected. Instead, it treats the differently-named indexed columns as identical and performs a component-wise addition.

The calculation of `ft2` is as expected.

`ft1` and `ft2` having different index columns is *definitely* not expected.

#### Output That I See
[code]

#### Expected Output
The expect

[2020-03-09 23:39] jreback commented on #6936
you are welcome to submit a PR

[2020-03-09 23:47] emilyjia commented on #32569
take

[2020-03-10 00:41] WillAyd commented on #32417
@datapythonista so I think we disagree but probably because we are coming to this from different angles. I generally am not clear on why we put optional dependencies for optional dependencies in the requirements file, so if you have insights into that maybe would be helpful.

IMO the downside of doing that is manifested in an error here, but even if conda doesn't throw an error it still adds compl

[2020-03-10 00:44] WillAyd commented on #31883
Thanks for the insights @TomAugspurger. Adding good first issue label as well to see if a new contributor wants to remove the xfail

[2020-03-10 01:05] datapythonista commented on #32417
I think we have three options in this case:
1. **Leave snappy for conda and pip** and pip will fail for snappy if the user doesn't have the right dependencies. What we have now, and my favourite option.
2. **Leave snappy for conda and remove it for pip**, which adds some complexity to the keeping the dependencies synchronized, and will cause pip users get errors when building the docs. Joris favou

[2020-03-10 03:27] R4HMATT commented on #32326
I can work on adding a warning to this for now. Not sure if the pandas team wants us to output a bytes object though.

[2020-03-10 05:19] #8386 closed

[2020-03-10 06:39] kernc opened #32572 "cannot subtract DatetimeArray from ndarray"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`pd.NaT` is NaT regardless of timezone.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

pandas 1.1.0.dev0+725.gae79bb23c

</details>

[2020-03-10 07:16] jorisvandenbossche commented on #32417
Note that you always get snappy if you install pyarrow with conda (at least for recent versions).
So another option is also to just leave it out: with conda we still get it automatically as a dependency of pyarrow, and with pip it is not installed (since it is not listed as a install requirement in setup.py). That gives no maintenance overhead in tracking it in the conversion script.

(I suppose t

[2020-03-10 07:18] #32469 closed

[2020-03-10 07:25] jorisvandenbossche commented on #32572
I suppose the title is wrong?

[2020-03-10 07:29] jorisvandenbossche commented on #32572
Ah, sorry, I see that it is the message in the error (but still, that's not the actual issue I think). Previously in 0.25.0, there was a different (but also not good) error: "TypeError: bad operand type for abs(): 'NaTType'"

[2020-03-10 07:42] jorisvandenbossche commented on #32572
It seems that somewhere in the code, the datetime index is converted to object dtype, which leads to having an object dtype array with timestamps (and this gives the error about not being able to subtract a ndarray).

This happens here:

https://github.com/pandas-dev/pandas/blob/76a1710c70e42ba03c65fbc1ffdfd718981848f3/pandas/core/indexes/base.py#L2947-L2952

and we end up there, because the dtype

[2020-03-10 08:35] #31762 closed

[2020-03-10 09:43] datapythonista commented on #32417
We've got `pyarrow>=0.13.1` in `environmrnt.yml`, and when I removed snappy in #32454, it wasn't installed and the doc build failed.

[2020-03-10 10:07] mhabets opened #32576 "Index.insert(-1, value) should add value in the last position"
#### Problem description and Expected Output

``Index.insert(-1, value)`` should add value in the last position instead of one before the last position, shouldn't it?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine

[2020-03-10 10:22] gfyoung commented on #31819
PR is up and ready for review

[2020-03-10 10:25] jorisvandenbossche commented on #32417
Ah yes, I forgot that.
So we mixed up python-snappy and snappy. `snappy` is required for pyarrow (and with conda it is installed by default), `python-snappy` is required for fastparquet to support snappy compression.
(so the comment in the environment.yml file is wrong, it's not for pyarrow but for fastparquet)

[2020-03-10 10:26] letapxad commented on #32572
take

[2020-03-10 10:27] jorisvandenbossche commented on #32417
So an option could also be to only put `compression=None` in the fastparquet examples, and keep the normal compression (eg in the benchmark in io.rst) where pyarrow is used.

[2020-03-10 10:28] letapxad commented on #32572
take

[2020-03-10 10:41] daxid commented on #32108
Thanks for feedback.
I am still committed to produce tests for this but have been more busy than expected during the last couple of days.

[2020-03-10 12:16] dvir1 commented on #32576
I don't think so.
Generally, in python, this
`a=[1,2,3,4]
a.insert(-1, 5)
`
results `a=[1,2,3,5,4]`

[2020-03-10 12:22] mhabets commented on #32576
Well noted, thank a lot @dvir1.

[2020-03-10 12:22] #32576 closed

[2020-03-10 12:43] TomAugspurger commented on #31774
What behavior do we want long-term? With #32499, I'm (re-)introducing a value-dependent behavior where the return time of `Timestamp - datetime.datetime` depends on the values,

[code]

Do we want to deprecate Out[5], so that Timestamp - datetime.datetime is always a Timedelta?

I think for 1.0.2 we're fine to return a datetime.timedelta there without a warning, but we should maybe add a deprecati

[2020-03-10 13:07] TomAugspurger commented on #31802
4.5x seems a bit rough (is that across the board, or just specific cases?)

I think I'd prefer to see something like what you proposed earlier:

It seems safeish to be doing these hacks on plain ndarrays. I think most of the fragility comes from trying to operate on more complex objects like Series & DataFrame. If we could ensure that the callable is only operating on ndarrays (via an opt-in keywo

[2020-03-10 13:31] maleknia commented on #32443
Hello again. I am trying to follow up on this. Would you please elaborate the result you are getting? I just wanted to make sure that I emphasize the result will show up after running the same script about 10 times (inconsistent results in 10 different runs).

[2020-03-10 13:39] #32540 closed

[2020-03-10 13:39] TomAugspurger commented on #32540
That may have been an issue with the source, which was fixed in
https://github.com/pandas-dev/pandas/commit/469d5d9a8bd201fd352cc009bbf35c555ca70d56
(after 1.0.1 was tagged). It'll be fixed in the next release.

On Mon, Mar 9, 2020 at 5:24 PM Marian Denes <notifications@github.com>
wrote:

[2020-03-10 13:56] TomAugspurger commented on #18588
#31757 was closed, so moving this off 1.0.2

[2020-03-10 13:56] TomAugspurger commented on #31474
Moving off 1.0.2

[2020-03-10 14:07] jorisvandenbossche commented on #32453
@AlexanderSpirin Thanks for the report!
I think this is caused by https://github.com/pandas-dev/pandas/issues/30268, and the actual CSV issue is also reported at https://github.com/pandas-dev/pandas/issues/32134

So closing as a duplicate of https://github.com/pandas-dev/pandas/issues/32134

[2020-03-10 14:07] #32453 closed

[2020-03-10 14:08] #31632 closed

[2020-03-10 14:11] jorisvandenbossche commented on #32450
@brent-field Thanks for the report!

So there are two (user facing) issues here:

- `astype("Int64")` should work
- `pd.to_numeric` should work without needing to put `errors='coerce'`
  (and actually, if the input is StringDtype, we should maybe directly return Int64Dtype as well, avoiding the need for a `convert_dtypes` call afterwards)

[2020-03-10 14:14] jorisvandenbossche commented on #32430
@0az thanks for the report!

It indeed seems that `get_dummies` does not yet support the nullable dtypes.

[2020-03-10 14:52] jbrockmendel commented on #31802
This seems like a good tradeoff.

A few weeks ago I ran the asvs with fast_apply disabled and chose the one that was most affected.  Have been using that for comparison in optimization PRs since then.  Most of the slowdown comes from slicing because we create new Series+SingleBlockManager+Index+Block objects on each of ~2k groups

[2020-03-10 14:55] TomAugspurger commented on #31971
I think so.

For now, my preference would be to just catch this case specifically, I think as explicitly as

[code]

I also think that this should warn and eventually in the future (1.1), instructing users to fill with a Timestamp.

[2020-03-10 14:58] TomAugspurger commented on #31802
Do you have a sense (without looking) for whether we're doing "pandas things" (accessing the index, blocks, etc.) in those methods? I guess that determines whether the `raw` keyword is even an option.

[2020-03-10 15:02] jbrockmendel commented on #31802
which methods are you referring to?

[2020-03-10 15:12] MarcoGorelli commented on #32380
Here's an example of where it does something

[code]

Anyway, @dechamps , are you interested in submitting a pull request to deprecate it? If so, see https://pandas.pydata.org/docs/development/contributing.html - else, I'd happily take it and see the groupby logic simplified :)

[2020-03-10 15:15] themien commented on #32550
Working on the issue I am getting some outputs that I am not sure are valid. If I run the script on `/doc/source/whatsnew/v0.25.0.rst` for example I get this a part of the output:
`/doc/source/whatsnew/v0.25.0.rst:1087:Heading capitalization formatted incorrectly. Please correctly capitalize "-" to ""`
can you confirm that this is an expected output?

[2020-03-10 15:27] jbrockmendel commented on #31971
Longer-term the solution is to patch DatetimeBlock.shift to dispatch to DTA.shift.  ATM DTA.shift accepts ints, so I think that would fix the regression for 1.0.2.  That said, it _shouldnt_ accept ints, so we'll need to deprecate that behavior on the DTA, which will in turn effectively deprecate it for Series too.

[2020-03-10 15:38] datapythonista commented on #32550
We just developed this validation script, so it's expected that we find some false positives. Can you find where this error is being generated, so we can see what's the problem?

[2020-03-10 15:40] tonywu1999 commented on #32550
It looks like those lines in the .rst files are used as bullet points rather than headings. However, those bullet points appear to be empty (i.e. inserted into the .rst file by accident).  You can refer to the following website to see what I mean by empty bullet points:

https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html

control-f for "when passing a dict of columns and types the"

[2020-03-10 15:47] datapythonista commented on #32550
There is a condition in the script where we check that a line just contains dashes (or other specific characters, and that the length of the analysed line and the previous have the same length. I guess we want to add another condition that the length should be greater than one and the previous line shouldn't have one of these specific characters.

May be that can be implemented in a separate PR, o

[2020-03-10 15:51] themien commented on #32550
@tonywu1999 @datapythonista  I believe there are also a few capitalization exceptions missing like `IntervalIndex` or `RangeIndex.`

Also in `find_titles()` this statement is selecting the empty bullet points.
[code]

[2020-03-10 15:52] shwina opened #32579 "[QST] Clarify when `agg()` will return groups as index"
[code]

The groupby [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#aggregation) notes:

However, in the snippet above, it looks like the `nunique` aggregation behaves differently in this respect from the `sum` aggregation.

Is it possible to predict when an aggregation will return groups as index columns v/s a "SQL-style output" v/s a combination of the two (a

[2020-03-10 15:54] datapythonista commented on #32550
No problem on changing whatever is needed in the script.

[2020-03-10 15:57] shwina opened #32580 "[BUG] Grouped-by column loses name when empty list of aggregations is specified."
[code]

In the above snippet, the name of the grouped by column (`'a'`) is preserved in the former case, and lost in the latter case.

[2020-03-10 16:04] matthewgilbert opened #32581 "DataFrame.astype does not handle multiple timezone aware Timestamps"
[code]
[code]
[code]

Similarly, something like `df['a'].dt.tz_convert(tz='utc')` also returns the same error

#### Problem description

Calling `pandas.DataFrame.astype` with a column of mixed timezone aware Timestamps fails to convert to `UTC`

#### Expected Output

I would expect this to return the same result as `df.applymap(lambda x: x.tz_convert(tz='utc'))`

[code]

#### Output of ``pd.show_

[2020-03-10 16:06] AlexanderNixon opened #32582 "Creating a column with a set replicates the set n times"
#### Code Sample

If we try to define a dataframe using a dictionary containing a set, we get:

[code]
#### Problem description

The set is being replicated `n` times, `n` being the length of the actual set.
While defining a column with a set directly might not make a lot of sense given that they are by definition unordered collections, the behaviour  in any case seems clearly unexpected.

#### Ex

[2020-03-10 16:09] shwina opened #32584 "Document `DataError` in the API"
Currently, some groupby operations can raise a `DataError` that does not seem to be documented:

[code]

Could this error be documented as part of the API, or alternatively, could a different exception be raised so that users can catch and handle it appropriately?

[2020-03-10 16:12] TomAugspurger commented on #31802
The callable being applied. If I'm thinking about this the right way, that callable would start receiving an ndarray rather than a Series.

[2020-03-10 16:18] TomAugspurger opened #32585 "March 2020 Dev Meeting"
The monthly dev meeting is tomorrow at 18:00 UTC. Note that your local time may be different than last month. The US had a DST transition last weekend, while Europe didn't. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar

Video Call: https://meet.google.com/hav-rmax-zjx
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/

[2020-03-10 16:21] jbrockmendel commented on #31802
Gotcha.  Yah, passing an ndarray to the UDF would allow for a lot of simplication

[2020-03-10 16:28] jbrockmendel opened #32586 "EA: revisit interface"
This is as good a time as any to revisit the "experimental" EA interface.

My read of the Issues and recollection of threads suggests there are three main groups of topics:

Clarification of the Interface
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
1) _values_for_argsort and values_for_factorize
    - Do we need both?  The docs both say they should be order-preserving.
    - Is it safe to return a view?  (Categ

[2020-03-10 16:56] TomAugspurger commented on #30218
Sorry this was ignored @amueller.

I'd be happy to have a hasattr check on the data argument in `DataFrame.__init__` (and probably Series.__init__) that simply forwards through all the relevant arguments to give control back to the library.

Our constructors are already quite complex so I might be missing something, but I'm hopeful that this is doable.

[2020-03-10 16:59] TomAugspurger commented on #32584
That would need to be moved to pandas.errors first I think, then we could document it.

[2020-03-10 17:08] 0x6d696368 commented on #18881
Yes definitively! I'm scratching my head at how I can make the following work as intended:
[code]
Any recommendation would be appreciated.

[2020-03-10 17:21] vmarkovtsev opened #32587 "Arrow discards timezones"
#### Code Sample, a copy-pastable example if possible

[code]

This code will output:

[code]
#### Problem description

The round-trip dtype changed from the correct `object` to incorrect `datetime64`. Thus the timezones were discarded in Arrow and the timestamps became invalid.

#### Expected Output

(identical)

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-03-10 17:51] jreback commented on #32587
this is entirely handeled in pyarrow

pls file a JIRA there

[2020-03-10 17:51] #32587 closed

[2020-03-10 18:00] emschorsch opened #32588 "parsing ragged csv doesn't return nan"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This returns an array of [[col1,col2,col3], [0,2,'']]. This doesn't make sense to me since the final row is malformed and doesn't have enough entries. I don't see any way to check if there are rows with too few columns. I can get rid of keep_default_na, but then Pandas won't distinguish between the above and th

[2020-03-10 18:05] vale46 opened #32589 "regex with word boundary in pandas query expression doesn't work correctly"
Minimal example to highlight the issue I'm seeing when using pandas query to filter rows:

#### Code Sample, a copy-pastable example if possible

[code]
(incorrectly) returns
[code]
whereas
#### Expected Output

[code]

#### Output of ``pd.show_versions()``
<details>
INSTALLED VERSIONS

------------------

commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS

[2020-03-10 18:12] SeeminSyed commented on #13094
@jreback I know this issue is a few years old but could I get some clarification on when the warning is supposed to trigger or what the bug in said warning refers to?

When you say levels are unequal, what do you mean, because to my understanding, the cases above should not trigger the warning at all?

[2020-03-10 18:15] JulianWgs opened #32590 "Histogram or kde from datetime column"
It always annoyed me that it was not possible to generate a histogram or kernel density estimation plot from a datetime column.

Is there interest in a solution following this approach?
[Link to SO](https://stackoverflow.com/a/60617297)

[code]

![2UUMI](https://user-images.githubusercontent.com/31596773/76345209-3563b500-6303-11ea-8f81-d6a2198e8c4f.jpg)

I didn't look into the the pandas source c

[2020-03-10 18:32] TomAugspurger commented on #31971
That sounds good to me. Did you say you're able to work on a patch to fix this regression for 1.0.2 to (temporarily) allow ints again?

[2020-03-10 18:33] TomAugspurger commented on #31774
Perhaps since we're subclassing the builtins, it's OK to return a datetime.timedelta depending on the value?

[2020-03-10 18:35] jbrockmendel commented on #31971
yah, im running the tests locally now, with luck will push in a few minutes

[2020-03-10 19:06] amueller commented on #30218
No worries. Not sure @GaelVaroquaux saw it either before opening the discussion.

There's probably subtleties in the implementation but I think the main question is whether this is something the ecosystem wants.

[2020-03-10 19:23] karthikeyann opened #32593 "[BUG] Dataframe.rank() produces wrong results for float columns"
#### Code to reproduce the issue

[code]
#### Problem description

Dataframe rank produces individual column ranks. But when float column is present, individual ranks are not equal to Dataframe rank.

#### Expected Output
`True`

#### Output of ``pd.show_versions()``

<details>

pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
pytho

[2020-03-10 19:27] vmarkovtsev commented on #32587
https://issues.apache.org/jira/browse/ARROW-8066

[2020-03-10 19:27] dechamps commented on #32380
Honestly I'd be prefer you do it - I have zero familiarity with Pandas development workflows.

[2020-03-10 19:33] jhl0204 opened #32595 "DOCS SUGGESTION for pd.MultiIndex (Output of df.index.levels)"
I've been wondering if it is possible to change the output of Example 2 to indicate that the index is a `FrozenList`. Currently it only indicates that it is an `Index` and I initially had trouble realizing that the index is also a `FrozenList` (and subsequently wondering why the frozen list index values weren't updating after modifying the original dataframe).

If possible, I believe the inclusion

[2020-03-10 19:33] GaelVaroquaux commented on #30218
Sorry, I didn't see it. However, I think that it's useful to have the discussion in a wider setting than pandas. Though I am afraid that this discussion is going off track with complexity (out-of-core computation...) rather than on the 80/20 tradeoffs.

[2020-03-10 19:43] zydariv commented on #9708
Where is the problem to just add this functionality?

`
df2.reset_index().drop_duplicates(subset='B',take_last=False).set_index('B')
`
looks not really clean to me.

`
df2.drop_duplicates(subset='index', take_last=False)
`
would look much cleaner and we could add the `reset_index()` and `set_index()` into `drop_duplicates()`

cheers

[2020-03-10 20:05] jbrockmendel commented on #31774
If we're issuing a warning i think its fine.

[2020-03-10 20:24] charlesdong1991 commented on #32480
thanks for the issue,

this is a duplicate issue #31507 and a PR #31524 is underway to fix this, so let's close it

[2020-03-10 20:24] #32480 closed

[2020-03-10 20:30] #31345 closed

[2020-03-10 20:30] charlesdong1991 commented on #32415
@TomAugspurger sorry to interrupt, maybe #31524 could also be nice to be included in 1.0.2? I've seen several people raise this issue.

If someone could take a look at PR, I would try my best to give updates on the PR ASAP.

[2020-03-10 21:27] roberthdevries commented on #31488
It appears that in the `__init__` method of `PythonParser`, the call to `_infer_columns` can raise exception `EmptyDataError`.
This is not caught there and the file resource allocated in `get_handle` is never released here.
Simple fix is to put a try/except block around the `_infer_columns` call and to call `close()` to release all allocated file handles. But that leaves the rest of the `__init__`

[2020-03-10 22:28] amineKammah opened #32599 "[BUG] Groupby with as_index=False raises error when type is Category."
#### Code to reproduce the issue

[code]
#### Problem description

With pandas 1.0.1, the code throws an error `ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>`.
With pandas 0.25.3, the code works, but `as_index` argument do not function as already mentioned in #25011.
This happened with categorical type, the output of the new version is similar to 0.25.3 with other

[2020-03-10 22:43] achapkowski opened #32600 "Pyarrow and custom dtypes"
Hello,

Are there anymore robust examples showing how to convert custom dtypes to and from Apache arrow?

Essentially my dtype is a dictionary like data structure but I want to use the arrow storage format.

[2020-03-10 23:19] SeeminSyed commented on #13094
We have assumed that the issue relates to index.nlevels and have added a check for comparisons between left and right index nlevels that trigger the warning.

[2020-03-10 23:40] slimnsour commented on #31872
take

[2020-03-10 23:44] jbrockmendel commented on #26410
I'm on board for getting rid of `Categorical.to_dense` in its current form.  If deprecation cycles weren't an issue, I would actually be inclined to alias `to_dense` to `_internal_get_values`, since to_dense is a more descriptive name, and that matches the SparseArray behavior.

FWIW in the ongoing work to get rid of _internal_get_values, it looks like Categorical is going to be the sticking point

[2020-03-10 23:55] dsaxton commented on #32593
From what I can tell the difference has to do with the handling of `np.inf`? If so this is a slightly smaller example:

[code]

Does seem odd that `np.inf` doesn't rank as the largest value in the `DataFrame` case.

[2020-03-10 23:56] pandichef commented on #27722
I loved using msgpack.  Sorry to see it go.  I did a study last year comparing all the pandas serialization options and found that msgpack had the best bang for the buck.

[2020-03-11 00:19] jreback commented on #32600
you should ask in the pyarrow tracker with an example

[2020-03-11 00:19] #32600 closed

[2020-03-11 01:45] #31774 closed

[2020-03-11 01:48] #32287 closed

[2020-03-11 01:51] #32385 closed

[2020-03-11 02:20] WillAyd opened #32608 "Deprecate fill_value argument for df.add"
This came up in the submission for #13488

This is a documented argument but strangely not universally implemented for all argument types. Both @jbrockmendel and I agreed it is probably better to deprecate and push users towards using something like what @jreback suggested in https://github.com/pandas-dev/pandas/issues/13488#issuecomment-227016181

[2020-03-11 02:22] #31819 closed

[2020-03-11 02:35] #15686 closed

[2020-03-11 02:35] #22036 closed

[2020-03-11 03:06] #28584 closed

[2020-03-11 05:41] a-y-khan commented on #8560
Started looking at this issue, and it looks like df.query()'s behavior has changed since this issue was created. Is this the intended behavior now?

[code]

[2020-03-11 06:52] Khris777 opened #32614 "Negated str.isnumeric() fails on column with None when called together with notnull() in the same boolean expression"
#### Code Sample

Create a dataframe:
[code]

Obviously this fails:
[code]

So I can do this and it works:
[code]

However when negating the `str.isnumeric()` with unary `~` it fails:
[code]
Error message:

Full error:

<details>

</details>

When doing it in two step it works:
[code]

#### Problem description

It's inconsistent for the combined expression to fail because of the unary `~`.

#### O

[2020-03-11 08:12] SubhodeepSinha opened #32615 "PARSE ERROR"
#### Code Sample, a copy-pastable example if possible

[code]

[2020-03-11 08:40] kdebrab opened #32616 "Incorrect result with DateOffset.rollback for normalize=True"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
It rollbacks to the beginning of the previous month instead of the current month. This happens only when normalize=True and the timestamp is within the first day of the month but strangely, it's correct for midnight:
[code]

#### Expected Output
[code]
In general, I would expect the following to hold for any ti

[2020-03-11 09:04] Dookie78 opened #32617 "improve read_excel performance"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a spreadsheet of 600,000 rows and the read_excel function takes around 10mins to process.

Is there any way to improve the performance?

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tr

[2020-03-11 10:23] ShayHa commented on #32238
@WillAyd
Hi,
Sorry for late respone. It does not work, I get the error:
 `ImportError: Can't determine version for pyxlsb`

[2020-03-11 10:24] #32238 closed

[2020-03-11 10:35] MarcoGorelli commented on #32615
`pd.read_csv(file1, header=None, error_bad_lines=False)` ? Hard to know what to advise without knowing anything else about your data...

[2020-03-11 10:40] SubhodeepSinha commented on #32615
My apologies. Here is the link to my data
https://drive.google.com/open?id=1e9oOoRckwTIb03lZwFeEsX29vondWi8z

[2020-03-11 10:41] leolovethewayyoulie commented on #21244
Hi I am having the same issue. When I exported stata file to csv file and added pd.read_csv("file csv", encoding = "latin-1"), it worked. But when I added that to pd.read_stata("file dta" , encoding = "latin-1), it happened "Futurewarning encoding is..."). Even when I tried your ways, it's still the same, nothing changed (even the _null_terminate....)
Can you have any suggestion for me? Thank you!

[2020-03-11 10:45] bashtage commented on #21244
What version is the DTA file you are creating?

[2020-03-11 11:36] jreback commented on #9708
something like this was already added: https://github.com/pandas-dev/pandas/pull/30405

[2020-03-11 11:41] vmarkovtsev commented on #31793
There is also `datetime.timezone.utc` that is incompatible with `pytz.UTC`. It is particularly funny to debug because both show up as `tz='UTC'` and you have to look at the actual type.

[2020-03-11 11:47] roberthdevries commented on #25509
I have traced this down to `get_c_string` (from `util.pxd`) in `hashtable_class_helper.pxi.in`.
The unicode string with the surrogate character in it is passed to `get_c_string` which passes it to `get_c_string_buf_and_size`, which passes it to `PyUnicode_AsUTF8AndSize`.
This last one will happily return a NULL pointer when it receives a surrogate character. This is passed down the line to a point

[2020-03-11 11:55] vmarkovtsev opened #32619 "Allow choosing the utc timezone class in pd.to_datetime"
#### Code Sample, a copy-pastable example if possible

[code]

outputs

[code]

#### Problem description

There is no ability to specify which "UTC" the Timestamp should be. I suggest extending the interface of `pd.to_datetime()` to specify `utc_cls=pytz.UTC`.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-03-11 12:04] jorisvandenbossche commented on #32608
Some questions / possible counter-arguments:

- It *is* implemented for DataFrames (`df1.add(df2, fill_value=..)`. So would we deprecate that as well? (I suppose so, but not fully clear from your description) Then we are deprecating something that works fine and is documented, just because it is not implemented for Series.
- The alternative that you link to is `df.fillna(0).add(s)`. But, this is a

[2020-03-11 12:18] TomAugspurger commented on #32608
+1 to all of Joris' questions.

FWIW, I've found this behavior useful in the past (if not immediately obvious).

[2020-03-11 12:31] TomAugspurger commented on #32617
I'm sure there are things that can be improved. I'd recommend profiling things with snakeviz and then opening issues or pull requests for specific optimizations that can be made.

But this issue is too vague to be useful right now. I'd recommend closing it unless it's edited to make concrete proposals.

[2020-03-11 12:54] albertotb opened #32621 "BUG: Replace in `string` series with NA"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`pandas.Series.replace` cannot be used in series of type `string` that contain `<NA>`

#### Expected Output

I would expect `C` to output the same as `B` but with `string` dtype

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.

[2020-03-11 12:58] #32303 closed

[2020-03-11 13:07] jorisvandenbossche commented on #32621
@albertotb Thanks for the report!

Slightly related to https://github.com/pandas-dev/pandas/issues/32075

It seems this works with scalars:

[code]

but not with lists/dicts

[2020-03-11 13:11] meizy opened #32622 "df.index.is_unique inflates index memory"
calling is_unique on an Int64Index seems to inflate the index memory.

[code]

output:
[code]

#### Problem description

any explanation why the index size grows after the call to index.is_unique?

#### Expected Output

no change in index size is expected

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.9.final.0
python-bits: 64
OS:

[2020-03-11 13:20] gnudiff opened #32623 "Pandas 1.0.1 unable to read excels it created itself"
After creating lots of XLSX files with pandas.Excelwriter(), the same pandas is unable to read some of them:

`writer=pd.ExcelWriter(outfile)`

Then in a different script, when processing the same files with `pd.read_excel(outfile)`

on some (but not all) files I get error:

`xlrd.biffh.XLRDError: ZIP file contents not a known type of workbook
`

#### Output of ``pd.show_versions()``

<details>

[

[2020-03-11 13:23] repalov opened #32624 "BUG in _unstack_multiple"
#### Code Sample
Next code fail to do unstack.

[code]
It rise exception IndexError with message "Too many levels: Index has only 2 levels, not 3"

#### Problem description
The reason semms to mistyping in https://github.com/pandas-dev/pandas/blob/master/pandas/core/reshape/reshape.py#L366 :
[code]
I think it must be:
[code]

[2020-03-11 13:30] jorisvandenbossche commented on #31474
Let's create a 1.0.3 milestone to move issues that might be relevant for a bugfix but don't make it to 1.0.2? (not sure it is necessarily relevant for this issue, but there might be others as well)

[2020-03-11 13:36] FrogX02 opened #32625 "All rows | html_read"
I want to get a list of a html table, but it doesn't show all the rows. Example:

4       France    1784     NaN    33.0    NaN     12.0    1739    86.0   27.3
..         ...     ...     ...     ...    ...      ...     ...     ...    ...
115   Mongolia       1     NaN     NaN    NaN      NaN       1     NaN    0.3

How do I get the all rows?

[2020-03-11 13:46] TomAugspurger commented on #32625
We recommend StackOverflow for usage questions.

[2020-03-11 13:46] #32625 closed

[2020-03-11 13:51] TomAugspurger commented on #31474
I'd prefer to have a label for that type of thing, to avoid polluting the 1.0.3 milestone with stuff that isn't high-priority / actively being worked on.

Perhaps labels for "Target: bugfix", "Target: minor", "Target: major", describing which release the PR is appropriate for?

[2020-03-11 14:00] TomAugspurger commented on #32622
Most likely the allocation of the hashtable for the indexing engine.

[2020-03-11 14:00] TomAugspurger commented on #32623
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-11 14:01] TomAugspurger commented on #32496
@pgospodinov if you can provide a minimal example we'll reopen. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-11 14:01] #32496 closed

[2020-03-11 14:01] TomAugspurger commented on #32443
When you say re-run do you mean within a single python interpreter session, or multiple `python script.py`?

[2020-03-11 14:03] TomAugspurger commented on #32619
I don't think we need a separate keyword for this. I think we could accept `utc=timezone.utc` in addition to a boolean.

[2020-03-11 14:04] TomAugspurger commented on #32409
@jeremy-rutman can you try your last example on master? I don't see any issues there.

[2020-03-11 14:05] TomAugspurger commented on #32383
@gambingo can you try on pandas master?

[2020-03-11 14:05] TomAugspurger commented on #32381
If it's fixed on the 1.0.x branch, then today or tomorrow. If it's targeted for 1.1 then there's no planned release date yet.

[2020-03-11 14:05] #32381 closed

[2020-03-11 14:06] TomAugspurger commented on #32288
@harmbuisman we'll reopen when you can provide a minimal example.

[2020-03-11 14:06] #32288 closed

[2020-03-11 14:11] TomAugspurger commented on #32056
I might naively expect the following to work

[code]

assuming that pandas was built against NumPy 1.13.3 as specified in https://github.com/pandas-dev/pandas/blob/master/pyproject.toml#L8-L9 (for Python 3.6)

@cgohlke do you know what version of NumPy pandas 1.0.1 was compiled with?

[2020-03-11 14:12] se7entyse7en commented on #32619
I think that the weird thing is that when calling [`tz_compare`](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/timezones.pyx#L298), that is called during [`Timestamp.__sub__`](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/c_timestamp.pyx#L299), this returns `false` even if they're both utc. Infact both `tzinfo` objects described in the issue pass [this

[2020-03-11 14:16] meizy commented on #32622
Do you mean that it's normal behavior? or that you suspect a bug in that area?

[2020-03-11 14:18] TomAugspurger commented on #31176
@Code4SAFrankie if you can provide a minimal example we'll reopen.

[2020-03-11 14:18] #31176 closed

[2020-03-11 14:18] TomAugspurger commented on #30953
@VelizarVESSELINOV if you can provide a minimal example we'll reopen.

[2020-03-11 14:18] #30953 closed

[2020-03-11 14:23] TomAugspurger commented on #31708
I don't think there's anything being done for 1.0.2 here. Pushing.

[2020-03-11 14:23] TomAugspurger commented on #31746
No one is currently working on this. Moving to 1.1.

[2020-03-11 14:31] TomAugspurger opened #32628 "Test warnings on 32bit build"
See https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=30468&view=logs&j=fd89438c-1fd3-5981-222e-115d06c89c2d&t=cbfaf76b-5a5a-5260-4a42-53e975ec839e&l=21

A few different classes

[code]

And a bunch from dateutil

[code]

[2020-03-11 14:33] TomAugspurger commented on #32622
Normal behavior, if that's what it is.

[2020-03-11 14:33] cgohlke commented on #32056
1.14.6

[2020-03-11 14:34] TomAugspurger commented on #32622
Yep, that looks like what it is

[code]