[2020-01-18 02:45] Ircama opened #31116 "Unclear DataFrame.info() range summary info for DatetimeIndex"
Within [DataFrame.info](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html), the description of the [DatetimeIndex](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html) of unsorted indexes might not be clear enough to users, because just showing the first and last element and not the *"min date" to "max date"* values.

Please chec

[2020-01-18 03:46] jbrockmendel opened #31117 "REF: IntervalIndex.get_value partial slicing"
In trying to refactor IntervalIndex.get_loc/get_value to more closely follow the other implementations, I stumbled on a behavior in a test case that surprised me:

[code]

All of the other FooIndex.get_value methods raise InvalidIndexError on non-scalar.

AFAICT this is behaving sort of like a slicing operation, since 4 is in the interior of both of these intervals.  @jschendel is that correct?  I

[2020-01-18 09:16] drnancy commented on #31116
`import pandas as pd
dfs = []
for day in [30, 1, 2, 5]:
    idx = pd.date_range(f'2020-01-{day} 00:00:00', periods=1000, freq='s')
    dfs.append(pd.DataFrame({'count': range(len(idx)), 'date': idx}))

df = pd.concat(dfs)
df.set_index(['date'], inplace=True)
**df= df.sort_index(axis=0)**
df
df.info()
df.index.min()
df.index.max()`
![image](https://user-images.githubusercontent.com/58162442/7266151

[2020-01-18 09:47] Ircama commented on #31116
@drnancy thanks. Should index sorting (`df= df.sort_index(axis=0)`) be required after `df.set_index` for appropriate indexing?

[2020-01-18 12:40] drnancy commented on #31116
yes df.sort_index will work only after df.set_index

because in line df.set_index(['date'], inplace=True) we are setting date columns as index
after only it is applicable to apply df.sort_index  which sort the index of the data frame

[2020-01-18 13:53] MomIsBestFriend commented on #30999
@gfyoung where do you recommend putting this helper function? (as if in what file?)

[2020-01-18 15:05] tonywu1999 commented on #26941
Hi, I recently committed and made a pull request with the new script ( #31114 ), but I encountered multiple issues.

One big issue I'm having is suppressing the output of helper functions that I imported.  In my script, I had created a context manager to suppress output, which worked when I ran the script on my local machine, but did not work on GitHub when code_checks.sh ran.  Is there any way I

[2020-01-18 15:34] #30904 closed

[2020-01-18 15:35] #30958 closed

[2020-01-18 16:07] souvik3333 commented on #30944
@jschendel Is this issue still occurring? I tried
[code]
and the result is
[code]
Seems like only ```s.searchsorted(pd.NA)`` is giving output as
[code]
Should I follow what @jorisvandenbossche said and update integer array to float array in ```searchsorted``` related methods?

[2020-01-18 16:23] #30924 closed

[2020-01-18 16:36] TomAugspurger commented on #31109
Yep, I think so.

[2020-01-18 17:11] #31087 closed

[2020-01-18 17:44] gfyoung commented on #30999
`pandas._testing`

[2020-01-18 18:16] Ircama commented on #31116
OK thanks. Should I consider an invalid range displayed with `DatetimeIndex` in `DataFrame.info()` a sort of warning that the index is not sorted? I mean, in case sorting an index has to be considered a best practice (or even a requirement) after creating it, maybe the implementation of https://github.com/pandas-dev/pandas/pull/31069 could hide such warning. Conversely, I think that impementation

[2020-01-18 19:53] MarcoGorelli opened #31127 "Docs for `DataFrame.plot.scatter` say that `c` can be of type `int`, yet it's not explained what that means and passing one raises an error"
#### Code Sample, a copy-pastable example if possible

[code]
returns
[code]
#### Problem description

The docstring reads

but it doesn't say what passing a `c` of type `int` does.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 00c9b2df2dd5680eb13605f599e38a0f5950aeef
python           : 3.7.4.final.0
python-bits      : 64
OS

[2020-01-18 21:13] zbrookle commented on #30480
So my one concern with using an external parser like zetasql is that the datatypes in pandas aren’t really the traditional datatypes in the sense that the traditional datatypes like bigint, smallint, date, varchar aren’t supported by pandas. Although these could be mapped to their corresponding datatypes on the backend, I think it would create a lot of confusion since casting as varchar for exampl

[2020-01-18 21:14] zbrookle commented on #30480
I would agree from a lot of the conversation that this may be best as an external library that works for all dataframe conforming frameworks like pandas, dask and rapids. @jreback what do you think about me making this into something like that?

[2020-01-18 23:10] jreback commented on #30480
@zbrookle so i think an external package that targets differences backends (dask / pandas) would be a good idea

certainly could incorporate it as an interface in pandas

as far as dtypes -
you will want for sure to translate dtypes as close to the native types as you can

[2020-01-19 00:11] matthieubulte commented on #30480
Hi! Interesting discussion here, and cool work @zbrookle !

I saw @zbrookle you mentioned not finding any existing work but while searching myself for a project implementing the discussed feature, I came across this (apparently unmaintained) repo which might be helpful for you in what you are trying to do: https://github.com/chmp/framequery , maybe it’s creator has some useful feedback for your ne

[2020-01-19 01:00] #30614 closed

[2020-01-19 01:14] gfyoung commented on #31041
Indeed, there would be performance implications, especially in a case where you have mixed inputs.  Not sure if that necessarily is deal breaker (it becomes linear in the number of inputs vs. constant time).  @jreback: Thoughts?

[2020-01-19 03:01] koizumihiroo opened #31131 "ENH: Implement CSV reading for BooleanArray"
#### Code Sample, a copy-pastable example if possible

In 1.0.0 rc0, `pd.read_csv` returns this error when reading NA with specifying dtype of 'boolean'

[code]

while "Int64" and "string" with NA can be correctly recognized.

[code]

#### Problem description

NA literal for boolean is not parsed by `pd.read_csv`

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INST

[2020-01-19 03:27] MomIsBestFriend commented on #27372
I dont see this error message for

https://github.com/pandas-dev/pandas/blob/493363ef60dd9045888336b5c801b2a3d00e976d/pandas/_libs/parsers.pyx

(Most recent version, at the time of writing this comment)

can we close this issue?

cc @jreback

[2020-01-19 03:30] jreback commented on #27372
iirc we just revised this code

cc @jbrockmendel

[2020-01-19 08:19] MarcoGorelli commented on #31127
Not an issue - this makes sense if one of the columns has a numeric name. Example:

[code]

[2020-01-19 08:19] #31127 closed

[2020-01-19 12:30] MarcoGorelli commented on #31111
Thanks for your report.

It gets printed 4 times when I run it on `master` - could you please include your output?

[2020-01-19 13:48] sach99in commented on #31131
@koizumihiroo  try this
`df = pd.read_csv(io.StringIO(txt), dtype={'X3': 'bool'})`

[2020-01-19 16:02] TomAugspurger commented on #31131
@koizumihiroo We need to implement `BooleanArray._from_sequence_of_strings`. Are you interested in doing that?

@sach99in bool and boolean are different dtypes.

[2020-01-19 16:30] endremborza commented on #31111
you can see my output unter the first details tab

[2020-01-19 17:02] jbrockmendel commented on #27372
I dont recall messing with this recently; I think @WillAyd did something similar w/r/t gil acquisition recently, but that was in the json code.

[2020-01-19 17:13] MarcoGorelli commented on #31111
Thanks, will look into it

[2020-01-19 17:15] dsaxton commented on #31063
It looks like there's a check for this type of case here https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/generic.py#L1268 that sends the code down separate paths depending on the number of unique values. In the case where we have one the result is explicitly unstacked here https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/generic.py#L1306.

I'm not sure if t

[2020-01-19 17:18] hermidalc commented on #14588
Still extremely slow as of pandas 0.25.3

[2020-01-19 17:30] MarcoGorelli opened #31135 "Docs mention non-existent doc/source/api.rst"
E.g. in doc/source/development/contributing.rst it says:

There's a few other mentions of it elsewhere

[2020-01-19 19:47] WillAyd commented on #27372
closed via #30369

[2020-01-19 19:47] #27372 closed

[2020-01-19 19:51] lithomas1 commented on #29489
take

[2020-01-19 21:05] StashOfCode opened #31140 "Feature Request: Add offset as head() second parameter"
It would be very cool and intuitive if we could do somethig like this:
[code]
#### Problem description
There are a lot of situations where you need to look through rows and rows of data and currently the alternatives are:

1. play with pd.options to display more rows
2. use indexing and slicing
3. output dataframe to excel

Adding `offset` would definitely save a lot of time and effort since it wo

[2020-01-19 21:43] shuai-zhou opened #31141 "show dtype when using df.head()"
I have a class that requires R, and I realized R will show the data type right below the column names when listing the first n-th rows. I was wondering if this is a feature in Pandas, like when I type `df.head()`, there will be dtype right below the column names.

[2020-01-19 21:44] jamesharrop opened #31142 "Series.combine with fill_value gives unexpected results"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
This gives the output:
0    11
a     1
b     2
c     3
e    20
f    30
dtype: int64
#### Expected Output
0    10
a     1
b     2
c     3
e    20
f    30
dtype: int64

With higher numbers in the index it gives expected output i.e.:
[code]
4    10
a     1
b     2
c     3
e    20
f    30
dtype: int64
#### Output of

[2020-01-19 21:45] dsaxton commented on #31140
It seems what you're looking for is essentially the `tail` of the `head`, so you can get the same behavior by combining these two methods. With an offset one could argue that we're not actually interested in the head anymore.

[2020-01-19 22:00] jreback commented on #31141
see https://pandas.pydata.org/pandas-docs/version/1.0.0/reference/api/pandas.DataFrame.info.html?highlight=info#pandas.DataFrame.info

[2020-01-19 22:00] #31141 closed

[2020-01-19 22:02] StashOfCode commented on #31140
@dsaxton , I like it, but i've never thought about taking the `tail` of the `head` before for some reason. Probably, because it was not so obvious at least for me.

[2020-01-20 01:20] samuelweisenthal commented on #30276
I had never worked with excel files in pandas before - I was working quickly and missed that there were other sheets, so I thought someone else might too.  Excel standard behavior for a large dataset is apparently to split it into multiple sheets, but these are all but hidden from you if you read in using pandas

[2020-01-20 07:34] mroeschke commented on #13964
Actually looks multilevel aggregations are specifically not allowed, so I think the fact that this operation doesn't work is intended.

https://github.com/pandas-dev/pandas/blob/7c94949dc89c62cae1bc647acd87266d6c3a0468/pandas/core/base.py#L351

[2020-01-20 07:34] #13964 closed

[2020-01-20 07:47] mroeschke commented on #14286
Actually I don't think this is 100% correct since `(and, more)` should have quotes.

[code]

[2020-01-20 09:24] MarcoGorelli commented on #31142
Thanks for the report!

Can confirm this reproduces on `master`, are you interesting in investigating why this might be happening / submitting a pull request?

[2020-01-20 09:33] jamesharrop commented on #31142
Thanks for your reply. Yes I'll go ahead and investigate it.

[2020-01-20 10:15] MarcoGorelli commented on #30512
Can confirm this reproduces on `master` - interested in investigating the issue / submitting a PR?

[2020-01-20 10:54] MarcoGorelli commented on #31028
Could you please let us know which release gives you your expected output?

[2020-01-20 12:44] MomIsBestFriend opened #31149 "Lint issue with new version of flake8-comprehensions plugin"
[flake8-comprehensions](https://pypi.org/project/flake8-comprehensions/) have released a new version (3.2.1), and now when running ```./ci/code_checks.sh lint``` I get this output:

[code]

(feel free to close this issue if this is happening because I have python version 3.8.1)

<details>

INSTALLED VERSIONS
------------------
commit           : 7c94949dc89c62cae1bc647acd87266d6c3a0468
python

[2020-01-20 12:51] jeandersonbc commented on #31028
From what I understood, having the following output should not be allowed
[code]

I tried the example on 0.25.3 and indeed this is the output I got.
I didn't try running with the master version, but as I understood from the example shown by @MarcoGorelli, the issue got fixed.

[2020-01-20 13:12] imntl opened #31151 "ImportError because of file named bottleneck.py"
There is a ImportError raised, if you have a file named bottleneck.py in your current working directory.

In a python 3.7.5 console you get:

[code]
 If i delete the empty bottleneck.py in the directory, everything works fine. I you want to test it, just use `touch bottleneck.py` and open a interactive python console and you will get the error.

The problem also arises in tensorflow and keras. If

[2020-01-20 13:27] TomAugspurger commented on #31151
You shouldn't have module names that overlap with modules from the standard library or 3rd party packages. The typical recommendation is to include a trailing underscore in your module, so `bottleneck_.py`.

[2020-01-20 13:27] #31151 closed

[2020-01-20 13:34] #31052 closed

[2020-01-20 13:43] imntl commented on #31151
I can understand why you shouldn't use modules named like modules from the standard library, but also for 3rd party packages? So can you provide such list at all times? I digged around for more than an hour to find out, what the problem was and didn't think that the problem arises because of a name a file has in the directory I was in.

If the file is not empty the error messages become not helpfu

[2020-01-20 13:52] MarcoGorelli commented on #30512
I think the problem here is that both `np.nan` and `1.096` are part of the same `FloatBlock` and so in
[code]
from `pandas.core.internals.blocks.py`, the entire block is getting coerced to the target dtype (object)

[2020-01-20 14:25] MarcoGorelli commented on #30192
Seems that this was closed by #30556, feel free to reopen if you disagree

[2020-01-20 14:25] #30192 closed

[2020-01-20 14:33] MarcoGorelli commented on #30191
The docs currently read

Do you have a suggestion on how to word it more clearly?

[2020-01-20 14:41] gfitas opened #31153 "Cannot iterate over result of a group by multiple columns if one contains NaN"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hi,
when trying to perform a group by over multiples columns and if a column contains a Nan, the composite key is ignored. We can still access to the lines by iterating over the groups property of the generic.DataFrameGroupBy by using iloc but it is unwieldy.
[code]
It seems unexpected that the len of the resul

[2020-01-20 14:52] TomAugspurger commented on #31151
This isn’t really something that can be solved at the library level. It would need a change to Python’s import handling.

[2020-01-20 14:55] david-cortes opened #31154 "REF: move 'describe' functions to new file"
Opening an issue about a refactor of the code for the `describe` method in Series and DataFrames as requested here: https://github.com/pandas-dev/pandas/pull/30209
Idea was to move all the helper functions (according to type) into a new file `pandas/core/algos/describe.py`

And to redo the tests on `describe` methods by dtype using parametrize.

---------
Seeing as the current organization of the

[2020-01-20 14:57] jorisvandenbossche commented on #30867
Currently, you get the following warning:

[code]

which is not very friendly. Eg when running tests you get:

[code]

which seems like that the deprecation warning is coming from code in pandas itself (which also is the case, it's just that indexing Series with 2d then also indexes into the Index). You get a message about the index, while you are using a Series.
(those warning messages come up in

[2020-01-20 14:58] jorisvandenbossche commented on #29884
@TomAugspurger @jbrockmendel thoughts on this?

[2020-01-20 15:03] TomAugspurger commented on #29884
Matching numpy seems OK

[2020-01-20 16:28] #30667 closed

[2020-01-20 16:28] dsaxton commented on #31153
I think the output is what we'd expect; the null values are excluded in the groupby by default: https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#na-values-in-groupby

[2020-01-20 17:42] vadella opened #31157 "REGR: outer merge resulting in missing datetime values converts to int"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

[code]

#### Problem description

Merging 2 DataFrames which result in missing Datetime values silently converts the column to integers with an `object` dtype, instead of keeping `datetime64[ns]` as dtype, which was the behaviour in pandas 0.25.3, and the behaviour I would expect.

#### Expected Output

[code]

    <class 'pand

[2020-01-20 18:04] #30881 closed

[2020-01-20 18:08] WillAyd commented on #31090
Locally I have sphinx 2.3.1 which matches the CI build link. I get a huge amount of warnings locally, so much so that I couldn't paste them into the Details above

Any chance you've tried locally?

[2020-01-20 18:11] #30871 closed

[2020-01-20 18:27] charlesdong1991 opened #31158 "BUG? Intended bebavior? MI levels and codes ordered in lexsorted"
I find it a bit weird when working on a PR with MI issue and I am not sure if it is intended or a bug?

If creating MI e.g.
[code]
And i think this is correct behavior

However, if creating MI using `from_*`, then:
[code]
Then checking codes and levels, they seem to be lexsorted already. I am not sure if this is intended? If so, maybe good to put some documentations describing it? since we do have

[2020-01-20 19:38] jamesharrop commented on #31142
It looks like:
def combine(self, other, func, fill_value=None) -> "Series"
checks for key values by using:
def get(self, key, default=None)
which uses self[key]
which will accept an index value instead of a key and unexpectedly return the item at that index.

I could submit a pull request changing it to self.loc[key] but I don't know if that would cause problems elsewhere?

[2020-01-20 20:08] #31016 closed

[2020-01-20 20:13] WillAyd opened #31160 "MyPy doesn't recognize scalar arithmetic for pandas classes"
Something like:

[code]

will yield `error: Unsupported operand types for + ("int" and "Series")` I assume because our arithmetic ops are added at runtime and not statically. Would be nice to support this somehow though

[2020-01-20 20:16] mroeschke commented on #31140
Thanks for the suggestion @StashOfCode. I think @dsaxton's alternative is idiomatic to pandas (chaining methods) as opposed to adding a new keyword to `head`.

[2020-01-20 20:16] #31140 closed

[2020-01-20 20:36] phdnzdeveloper commented on #30359
**storage_options** : _dict, optional_
    A dictionary of parameters to pass on as part of **filepath_or_buffer** URL including s3://, gcs://, ... which based on different file systems such as s3fs, gcsfs, ...
   example: _pd.read_csv('s3://bucket_name/key_name.csv', storage_options={'key':'abc', 'secret':'123'})_.

[2020-01-20 21:45] mroeschke commented on #31153
This is the expected behavior as @dsaxton points out.

[2020-01-20 21:45] #31153 closed

[2020-01-20 22:25] #31068 closed

[2020-01-20 22:30] MarcoGorelli commented on #31142
I haven't had a look at this yet so I don't know, but to check locally whether this'll break any existing functionality you can run
[code]

[2020-01-20 23:15] #19966 closed

[2020-01-20 23:37] #30164 closed

[2020-01-20 23:49] #8540 closed

[2020-01-21 01:06] #14600 closed

[2020-01-21 01:06] #12163 closed

[2020-01-21 01:06] #12948 closed

[2020-01-21 01:06] #14592 closed

[2020-01-21 01:06] #14849 closed

[2020-01-21 01:06] #14955 closed

[2020-01-21 01:06] #15058 closed

[2020-01-21 01:59] mroeschke commented on #16719
Actually this looks incorrect again:

[code]

[2020-01-21 02:22] hongzed opened #31170 "pandas read_csv() doesn't work with StreamingBody object where python engine is required"
#### Code Sample, a copy-pastable example if possible

[code]
if with `skipfooter` argument added

[code]
#### Problem description

I am encountering a problem while using pandas read_csv(). Data is being read in from s3 as StreamingBody object and noticed it worked only when c engine parser is used. (e.g. skipfooter only works with python engine parser).

When a S3 URL is given to read_csv(), the

[2020-01-21 04:12] mroeschke commented on #27605
@liyizhecn please post the full stack trace when you get the chance. We'll reopen this issue at that time.

[2020-01-21 04:12] #27605 closed

[2020-01-21 04:15] mroeschke commented on #27414
Please post a self-contained, copy-pastable example when you get a chance. We'll reopen this issue at that time.

[2020-01-21 04:15] #27414 closed

[2020-01-21 04:20] mroeschke commented on #22525
I agree that this looks like a duplicate to #19129. If not, we can reopen or create a new issue.

[2020-01-21 04:20] #22525 closed

[2020-01-21 04:23] mroeschke commented on #25846
When you can provide a fully reproducible example, we can reopen this issue at that time.

[2020-01-21 04:23] #25846 closed

[2020-01-21 04:27] mroeschke commented on #26687
Looks like this discussion has stalled. We're happy to reopen this issue when we have examples where rolling apply could return strings

[2020-01-21 04:27] #26687 closed

[2020-01-21 04:28] mroeschke commented on #26948
We're happy to reopen this issue when we could validate the issue with a reproducible example

[2020-01-21 04:28] #26948 closed

[2020-01-21 04:29] mroeschke commented on #27325
We're happy to reopen this issue when we can validate the issue with a reproducible example

[2020-01-21 04:29] #27325 closed

[2020-01-21 04:40] jschendel commented on #31117
This should follow the other `get_value` methods in that a non-scalar should raise an `InvalidIndexError`, or at least I don't see a reason why it shouldn't.  The original implementation accepted non-scalars though, so it's possible there's some history there from before my time that I'm unaware of (cc @jreback).

I would expect the scalar `4` to return the same result as above for `idx.get_value(

[2020-01-21 05:23] jschendel commented on #30944
Yes, this is specifically an issue with `pd.NA`. There is no issue with `np.nan`.

I'm a little hesitant to coerce integer array to float array due to the likely performance hits but could maybe be fine for a short-term fix.

The `searchsorted` call here is to `numpy` but we have our own internal `algos.searchsorted` that we could make mask-aware, and then just ensure that all of our internal `sea

[2020-01-21 05:35] jschendel commented on #31073
I could see an argument for including these methods for `IntervalIndex` since the behavior is non-standard.  Other index types require exact matches for indexing methods like `get_loc`/`get_indexer` but `IntervalIndex` has the additional flexibility for matching on points contained in the intervals:
[code]
So in the above `Out[4]` is consistent with the standard behavior associated with other inde

[2020-01-21 05:50] cris-bytes commented on #29714
Realized I wasn't running python but ipython, probably with an old version.
conda install ipython solved this problem for me.

[2020-01-21 05:51] suzutomato commented on #30359
Thank you! Then I'll release this (by removing my comment "take", hopefully this works as intended)

[2020-01-21 08:42] chiang233 opened #31173 "ValueError: can not merge DataFrame with instance of type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
 in
----> 1 df_debtor = pd.merge(debtor_marital,debtor_gender, left_on = "IDENTITY", right_on = "IDENTITY", how = "inner")

~/opt/anaconda3/lib/python3.7/site-pa

[2020-01-21 08:51] charlesdong1991 commented on #31173
thanks for posting your issue @chiang233

could you pls add minimal reproducible sample of the data in your description as well? (e.g. `debtor_marital =pd.DataFrame(something)`, the same for `debtor_marital `)

[2020-01-21 09:02] chiang233 commented on #31173
Thank for kindly reply.
I think it can't reproduce in a user-defined dataframe. I had checked my dataframe's type, both the key columns are "object" type .

I try to use pd.concat , but the two columns value does not match.

[2020-01-21 09:22] charlesdong1991 commented on #31173
emm, which version of pandas do you use? could you try it on master branch or 1.00rc?

[2020-01-21 09:23] jorisvandenbossche commented on #31073
@jschendel that sounds as a good reason to include those index methods in the API yes

[2020-01-21 09:54] chiang233 commented on #31173
'0.25.3'

thank you for yr advise and I will try other version later.

[2020-01-21 10:13] jorisvandenbossche commented on #31160
@WillAyd How can you ever know this "statically" ?
To know if two types can be added up like that, you could need to know if `Series.__add__` returns `NotImplemented` for that type or not, which always seems something run-time dependent?

[2020-01-21 10:50] drnancy commented on #31116
If you want to sort date with sorting function, then you need use specify start point and end point like      the example shown below using pd.date_range function you need to  refer any of this function to generate datetime with sorted and then set it has index to dataframe

**Example:**
import pandas as pd
date1 = '2011-05-03'
date2 = '2011-05-10'
mydates = pd.date_range(date1, date2).tolist()

[2020-01-21 10:50] #29879 closed

[2020-01-21 11:02] jamesharrop commented on #31142
Thanks, the tests produce about 20 errors, at least some of them because they expect .get(key) to accept index values. I will think about other options

[2020-01-21 12:01] marco-neumann-jdas commented on #29738
I am not working on it.
Keep in mind that this issue is not only about fixing the behavior of `IntegerArray` but also to adjust the docs of `ExtensionArray.__iter__` to state that EVERY EA should return Python-native types.

[2020-01-21 12:05] sergei3000 commented on #18199
This would be a great feature to have in Pandas. Is it still being worked on?

[2020-01-21 12:28] jreback commented on #18199
@sergei3000 you are welcome to submit a PR; pandas is all volunteer effort

[2020-01-21 12:36] baevpetr opened #31174 "Pip 20 ruins builds."
#### Problem description:

During testing, it was noticed that setting up the environment with version 20 pip fails.
New release was several hours ago.

#### Output
[code]

[2020-01-21 12:46] MarcoGorelli commented on #31157
Thanks for the report, will take a look.

Are you interested in investigating / submitting a pull request?

[2020-01-21 12:49] jreback commented on #31174
you should report to pip issue tracker

[2020-01-21 12:49] #31174 closed

[2020-01-21 13:18] Dr-Irv opened #31175 "test_timestamp:test_class_ops_pytz can fail due to bad luck of timing of calls"
#### Code Sample, a copy-pastable example if possible

I had a test fail in CI and the output looks like this:

[code]

#### Problem description

So due to "bad luck", the call to `Timestamp.today()` was just before the next second that hit when `datetime.now()` was called, making the comparison fail.  I think the comparison should be:

[code]
which would handle this round off error better.

####

[2020-01-21 14:28] Code4SAFrankie opened #31176 "Parquet file written with Dask does not load using Pandas"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above written file cannot be loaded using Pandas:

`df = pd.read_parquet(path + "yagoGeonamesOnlyData", engine='pyarrow')`

but does load with Dask:

`df = dd.read_parquet(path + "yagoGeonamesOnlyData", engine='pyarrow', index=False)`

The pandas version gives the following error:

[code]

#### Expected Outp

[2020-01-21 14:34] MarcoGorelli commented on #29901
I think the problem's in `_prev_opening_time`:
[code]
will dig further

[2020-01-21 15:12] WillAyd commented on #31160
It’s not the answer as much as the definition. So something like __add__ would have to exist statically for my py to recognize. right now we use factory methods at runtime to add that

[2020-01-21 15:22] matthewgson opened #31177 "Setting multiindex with columns that contain list as element raises TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I was trying to set index with column A and column C (multiindex) in order to explode columns B,D,E only. (Column C should be excluded for explosion for one of its elements has different size)
Below code should do the job:
[code]
But pandas refuse to set multiindex with columns that contains list as their elemen

[2020-01-21 15:39] TomAugspurger commented on #31176
@Code4SAFrankie can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

1. We can't access `Client('192.168.1.33:8786', processes=True)`. Can you use just `Client()`?
2. Do you need distributed at all? Or can you reproduce with just dask's threaded scheduler?
3. We don't have your CSV file. Can you create the dask dataframe in memory before writing?
4

[2020-01-21 15:57] Code4SAFrankie commented on #31176
Not sure if a minimal example would be possible, since I'm guessing that the issue lies with the fact that the `value` column has a lot of nulls. So for some of the parquet files the schema seems to use null as the data type and for other parquet files it uses the `category` data type. I also tested with `np.str` but it had the same effect. Not knowing what the issue is and the fact that it is a 4

[2020-01-21 16:08] TomAugspurger commented on #31176
Can you check all those and edit your original post? Otherwise this issue isn't likely to be looked at.

[2020-01-21 16:11] MarcoGorelli commented on #29901
@jbrockmendel what would be the expected output from
[code]
?

I'm tempted to say we should disallow multiplying an offset by zero, in the same way that we disallow
[code]

[2020-01-21 16:22] jbrockmendel commented on #29901
I'd be fine with that.

[2020-01-21 16:52] MarcoGorelli commented on #29901
@jbrockmendel thanks.

What about the other issue raised by @TSPereira , that is to say:
[code]
?

Is it correct that both should return `Timestamp('2019-03-07 09:00:00')`?

[2020-01-21 16:56] nhuth500 opened #31178 "ewm NaN handling is wrong : simple example"
Hello,

It seems that the handling of NaN values returns bad values on this simple case (I'm using pandas 0.25.3)

import numpy as np
import pandas as pd
x = np.array([1, np.NaN, 5])
alpha = 0.5
x_ewm = pd.Series(x).ewm(alpha=alpha, adjust=False).mean()
x_ewm_simple = alpha * x[2] + ((1 - alpha) **2) * x[0]
print(x_ewm[2])
print(x_ewm_simple)

3.6666666666666665
2.75

According to pandas documenta

[2020-01-21 17:04] vadella commented on #31157
Interested, yes, capable, I fear not.

I've started looking into the merge code, but quickly lost track of all the moving parts (block managers, concat plans, ..). If I have more time, I will try to delve deeper into this.

[2020-01-21 18:26] #16894 closed

[2020-01-21 18:26] #16916 closed

[2020-01-21 18:26] #15454 closed

[2020-01-21 18:26] #16410 closed

[2020-01-21 18:26] #16699 closed

[2020-01-21 18:26] #15150 closed

[2020-01-21 18:26] #16231 closed

[2020-01-21 19:04] dargueta commented on #31028
0.25.3 does as long as the keys aren't strings, which is kinduva stupid restriction but for CSVs with no column headers it's what I end up having to work with.

[2020-01-21 20:23] Dougz00 commented on #21112
If you are using glob and a loop to read a large number of csv files this also works:
    files = glob.glob(pattern)
    df = pd.DataFrame()
    for f in files:
        df = df.append(pd.read_csv(f),sort=True)

[2020-01-21 20:47] MarcoGorelli opened #31184 "_BaseOffset's parameter `n` should be prevented from being 0"
The docstring says
[code]
but the "nonzero" condition isn't enforced.

Enforcing it would prevent the undesired behaviour noticed in #29901 , whereby
[code]
was returning
[code]

[2020-01-21 20:54] MarcoGorelli opened #31186 "Adding and subtracting DateOffsets results in different behaviour"
[code]
Would have expected the same answer from these two commands.

Originally noticed in #29901

[2020-01-21 20:55] MarcoGorelli commented on #29901
We've deviated quite a bit from the original issue (which is solved), so I've opened up two separate issues for the new ones (#31184 and #31186).

Thanks @TSPereira for the reports!

[2020-01-21 20:55] #29901 closed

[2020-01-21 21:08] charlesdong1991 commented on #30346
take

[2020-01-21 21:11] #30334 closed

[2020-01-21 21:41] dsaxton commented on #31177
I'm not sure if it suits your needs but as a workaround you can use lists of tuples instead:

[code]

[2020-01-21 22:11] TomAugspurger commented on #29556
@jorisvandenbossche I think we can close this, unless you have additional tasks in mind.

[2020-01-21 23:43] amilbourne opened #31190 "ENH: assert_frame_equal can produce unhelpful output"
#### Code Sample, a copy-pastable example if possible

[code]
Generates the output:
[code]

#### Problem description

When running assert_frame_equal with check_like=True the error message can be unhelpful if the column or index order differs (or worse, both).

#29218 has greatly helped the issue with column reordering, although it could be insufficient if check_names is false and the column names

[2020-01-22 01:17] Liam3851 commented on #31184
Offset 0 is still officially docced as a rollforward, see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.tseries.offsets.DateOffset.html#pandas.tseries.offsets.DateOffset.

[code]

This has been in the doc as "discouraged" for a long time, but has also been docced as the behavior of offset 0 since time immemorial. Does this need a deprecation in code or has the "discouraged" bee

[2020-01-22 01:35] jreback commented on #21112
@Dougz00 that is exponential time

concatenation a list of data frames ; don’t append
see the append warnings in the docs

[2020-01-22 01:54] dsaxton commented on #31157
FWIW, I think it's related to this issue: https://github.com/pandas-dev/pandas/issues/25014.

Changing `tslibs.iNaT` to `tslibs.NaT` here seems to fix this merge, but apparently breaks a lot of other code: https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/concat.py#L353

[2020-01-22 02:30] Warix3 commented on #17275
I had this error and it was because I had a dot "." at the end of a column name, it worked after I removed it.
`podaci = pd.read_csv('data/fifa19a.csv', names=['id', 'ime', 'godine', 'ocjena', 'potencijal.', 'bodovi', 'stopalo', 'placa_tis_eur', 'cijena_mil_eur'])`
It was like this in the "potencijal" column
It could be a bug

[2020-01-22 05:23] miaoz2001 opened #31197 "dataframe memory usage increased after .loc[] or df[a:b]"
#### Code Sample

[code]
#### Problem description

The memory usage of a dataframe is increased somehow after .loc or df[a:b]

-  after using df.loc[], no matter how big/small the df is, the memory usage is
    increased, almost doubled
- after using df[], rough observation:
         - df is less than around 50mb, the memory usage is increased
         - df is greater than 50mb, the memory usage i

[2020-01-22 06:08] krishdb38 commented on #21725
me same Problem
ValueError: Only length-1 comment characters supported
df = pd.read_csv("/BiO/Preterm/raw_data/1009/1009.vcf", comment="##",low_memory = False)
i am doing reasearch in genome data
very difficult to convert medical data to pandas df

[2020-01-22 07:40] jorisvandenbossche commented on #31197
@miaoz2001 if you add a `print(df.memory_usage())` to the functions, you will see that it is the Index that increased in size.

[code]

Now, after the first time you do an indexing operation with label lookup, the Index engine's hashtable is created, and this is included in the memory usage. For this reason, the memory usage increases after indexing.
But to be honest, I was a bit surprised that th

[2020-01-22 08:43] #27748 closed

[2020-01-22 08:45] jorisvandenbossche commented on #15458
Duplicate of https://github.com/pandas-dev/pandas/issues/29489

[2020-01-22 08:46] #15458 closed

[2020-01-22 08:55] MarcoGorelli commented on #31184
That's a good point, thanks - I'd imagine the core would want a deprecation warning first

[2020-01-22 09:02] MarcoGorelli commented on #31157
That's OK, we'll take a look. If you want something simpler to get started with,  you can look for issues labelled "good first issue"

[2020-01-22 10:02] gerritholl commented on #18972
I experience this error with the attached file.

[72047299999.h5.gz](https://github.com/pandas-dev/pandas/files/4096382/72047299999.h5.gz)

MWE is rather simple:

[code]

The resulting traceback:

[code]

Software versions:

Pandas 1.0.0rc0, pytables 3.6.1, Python 3.7.3.  See below for a full output of `conda list`:

[code]

[2020-01-22 10:05] gerritholl commented on #18972
@jreback  I have attached a file with a reproduceable example.  Are you able to reproduce this?  Could this be reopened please?

[2020-01-22 10:11] jreback commented on #31197
the hash table is based on the size of the original index (as it was sliced)

using a slice can generally be done as a view; a boolean indexer generally cannot (in this case it is mono tonic and contiguous though we likely don’t actually explicitly handle this case)

this is an expected result

[2020-01-22 10:15] jreback commented on #18972
@gerritholl

you would need to show writing and reading
read_hdf is only capable of reading its own format

pls open a new issue if you have a repro example

[2020-01-22 10:33] gerritholl opened #31199 "Writing HDF5 with StringDtype columns fails with AttributeError: 'StringArray' object has no attribute 'size'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code fails to write the HDF5.  It fails with an exception `AttributeError: 'StringArray' object has no attribute 'size'`:

[code]

It does write a file `/tmp/fubar.h5`, but pandas cannot read it.  Commenting out the writing bit and leaving only the reading bit results in:

[code]

#### Expected Output

I ex

[2020-01-22 10:33] gerritholl commented on #18972
@jreback See #31199

[2020-01-22 10:39] jreback commented on #31199
there is no support for the new extension dtypes in hdf5 - we would take pull requests to add this

it’s not that hard

[2020-01-22 10:54] giuliobeseghi opened #31200 "raise more explanatory error when failing initialising pd.Timestamp"
It's not really an issue, just a suggestion. I noticed this behavior when initialising a timestamp:

[code]

I guess that the latter fails because of args/kwargs specification issues (when an integer is passed it is read as a posix timestamp in the first place), and I'm OK with it. However, the error it raises is:

[code]

This is a bit misleading for beginners - it doesn't say anything about **wh

[2020-01-22 10:58] gerritholl commented on #31199
I'm a new pandas user so I'm not sure if I'm confident tackling this right now.  It looks like serialising to and from feather format is more suitable for me.

[2020-01-22 11:00] AlexKirko opened #31201 "COMPAT: numpy object array coercion warnings"
#### Problem description

Since at least a couple hours ago, the Numpy Dev pipeline fails 39 tests:
[code]
I checked and all 39 are like this:
[code]

Full output of one of the tests below.

<details>

[code]

</details>

Thanks to @jreback for pointing out we've run into this before, but Numpy reverted the deprecation warning. The original issue was #30043

[2020-01-22 11:07] jreback commented on #31201
this is numpy redoing the object array coercion

cc @jbrockmendel
cc @mattip

https://github.com/numpy/numpy/commit/287a9d0646c9cc40385615264348a637a7c57205

[2020-01-22 11:15] AlexKirko commented on #31201
Found the previous issue, I think: #30043. Added to the issue description.

[2020-01-22 11:33] AlexKirko commented on #31201
For reference, this is [NEP 34](https://numpy.org/neps/nep-0034.html), which justified this change.

[2020-01-22 11:38] AlexKirko commented on #31201
If anyone wante a quick look, you can look at [my error log](https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=26473&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=4d05ed0e-1ed3-5bff-dd63-1e957f2766a9&l=63), while it's still alive. Seems like mostly we call `np.array` or `asarray` on mixed input, but there is also some stuff in arithmetic operations testing.

[2020-01-22 11:48] felipeportella commented on #30931
Just updating the thread, I installed with **success** today (22/01/2020) **pandas 1.0.0rc0** and **jupyter** with **python 3.8.1** with the following command:

`conda create -n pandas=1.0.0rc0 -c conda-forge/label/rc -c conda-forge pandas==1.0.0rc0 jupyter`

[2020-01-22 12:16] TomAugspurger commented on #31201
I can take a look at this now.

[2020-01-22 12:25] vadella opened #31202 "IntervalIndex.map raises "TypeError: Unexpected keyword arguments {'closed'}" in pandas 1.0.0rc0"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
When using map on an `IntervalIndex` raises a `TypeError` since testing on pandas 1.0.0rc0. In 0.25.1 it worked as expected.

As a workaround `pd.interval_range(1,3,2).astype(object).map(str)` works, but the casting to `object` should not be necessary.

#### Expected Output

#### Output of ``pd.show_versions()`

[2020-01-22 13:01] vadella opened #31204 "convert numeric column to dedicated `pd.StringDtype()`"
#### Code Sample, a copy-pastable example if possible

[code]
raises `TypeError: data type not understood`

while

[code]
raises `ValueError: StringArray requires a sequence of strings or missing values.`

If you first do `astype(str)`:
[code]
and
[code]
work as expected:

[code]

While `astype(object)` raises in both cases `ValueError: StringArray requires a sequence of strings or missing values.

[2020-01-22 13:31] jorisvandenbossche opened #31205 "BUG: plotting regular tz-aware timeseries gives UserWarning"
With this example of plotting a tz-aware, regular timeseries:

[code]
gives a warning that the user shouldn't see I think (there is nothing to do about it):

[code]

When setting a filterwarning to error, you can see the warning is coming from a `to_period()` call in the matplotlib plotting backend included in pandas:

[code]

[2020-01-22 14:16] #30962 closed

[2020-01-22 14:18] TomAugspurger commented on #30944
What needs to be done here for 1.0.0? Just fix the regression in `pd.cut(pd.array([1, 2, None]), 2)`?

[2020-01-22 14:19] TomAugspurger commented on #30892
@jbrockmendel did you have a chance to look into this?

[2020-01-22 14:21] jorisvandenbossche commented on #29884
@jbrockmendel do you have time to look at this?

[2020-01-22 14:24] TomAugspurger commented on #29884
I'm looking into it today.

[2020-01-22 14:31] TomAugspurger commented on #27492
I don't have strong thoughts on backporting the typing PRs. My initial preference is to not backport them, but it's not a strong feeling.

---

@pandas-dev/pandas-core what do people think about targeting 1.0.0 for early next week, perhaps Tuesday the 28th? Add / modify this list as you see fit.

https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0

**Blockers / Reg

[2020-01-22 14:38] jorisvandenbossche commented on #30867
I think this is a blocker as well cc @TomAugspurger @jbrockmendel

Or at least the non-test-clean-up part (so eg Series deprecation)

[2020-01-22 14:46] #31201 closed

[2020-01-22 14:56] mdoom23 opened #31208 "dtypes convert to object on merge on 1.0.0rc0"
#### dtypes convert to object on merge
Currently on 1.0.0rc0, when doing a left merge with datetime64[ns] on the right dataframe, if any rows from the left dataframe don't have a match on the right dataframe, then the result dataframe converts datetime to be object.  If all items match, then it will remain as a datetime column.  This previously maintained dtype in 0.25.3 and 0.24.2.

It seems to n

[2020-01-22 14:58] MosheVai commented on #23955
slight adjustment of @gmacario  [comment](https://github.com/pandas-dev/pandas/issues/23955#issuecomment-497388903) for the sake of uniformity with the pivot api

[code]

usage:

[code]

[2020-01-22 15:27] TomAugspurger commented on #31208
Thanks for the excellent report. This is a hacky fix

[code]

[code]

I don't recall why we're using iNaT for upcasted NA there. The git blame isn't too informative. I'll see what all fails.

[2020-01-22 15:47] AlexKirko opened #31212 "CI: Web and docs (pull_request) fails: can't rich intershipinx inventory"
#### Problem description
Seems like currently CI / Web and docs (pull_request) fails for everyone with this error message:
[code]
All my PRs had the `CI / Web and docs (pull_request)` check break without any changes to docs, and I checked PRs by other people: other people seem to have this problem.
#### Expected behaviour
Passing the test

[2020-01-22 15:52] TomAugspurger commented on #31212
cc @bashtage. Did https://github.com/statsmodels/statsmodels/pull/6452 perhaps fix this?

[2020-01-22 15:53] TomAugspurger commented on #31212
Apparently not fixed by https://github.com/statsmodels/statsmodels/pull/6452

[2020-01-22 16:13] jbrockmendel commented on #31201
@AlexKirko did there end up being a kwarg like `np.asarray(ragged, foo=np.ragged_as_object)`?

[2020-01-22 16:13] randomgambit opened #31214 "min(axis = 1) propagates NAN when encountering missing timestamps"
Hello there,
Consider this:

[code]

I am trying to get the minimum timestamp between `time1`, `time2` and `time3`. Of course, in this example `time2` and `time3` are not timestamps so (after proper conversion to NaTs) I expect the minimum to be `time1` all the time.

Surprisingly, this fails entirely.

[code]
 And now:
[code]

This looks like a bug. It seems that the errors is coming from the tim

[2020-01-22 16:20] seberg commented on #31201
We did not add the special sentinel because it seemed that all of the (larger) downstream packages are handling fine without it. If you find a place where it would help you, we would add it though.

[2020-01-22 16:27] mroeschke commented on #31214
Thanks for the report. This looks like a duplicate of https://github.com/pandas-dev/pandas/issues/27794

[2020-01-22 16:27] #31214 closed

[2020-01-22 16:45] randomgambit commented on #27794
great! My workaround: get rid of the timezones altogether. `dt.tz_localize(None).`.. But this might not be ideal in certain cases

[2020-01-22 17:02] jbrockmendel commented on #30944
possibly related: i tried adding `name=pd.NA` in `tm.makeDateIndex` and it broke the world

[2020-01-22 17:22] yuanyen commented on #29570
I got the same problem.

[2020-01-22 17:30] AngelaO commented on #23889
For anyone else who ends up here because of problems using groupby sum and min_count with decimal values this workaround also works if you are summing over a column containing decimals 🎉

For my purposes I actually wanted the groupby sum over decimal values to be NaN if any NaNs were present in the series so I used
[code]
(Using pandas 0.25.3 btw)

[2020-01-22 17:32] bashtage commented on #31212
https://www.statsmodels.org/devel/objects.inv seems to work.  It a 439kb file with the right text at the start.

[2020-01-22 17:36] TomAugspurger commented on #31212
Indeed, that does look correct now. We'll see if things are working on the CI again.

[2020-01-22 17:39] bashtage commented on #31212
The deep issue is that the doctr log is so big that it was exceeding the upper limit for travis's log file, which causes the build to silently succeeed even though it did not.

[2020-01-22 17:59] AlexKirko commented on #31212
@bashtage
When I downloaded the file directly when CI failed, the objects.inv file was completely empty. Don't know if it's relevant, but it may be useful.

[2020-01-22 18:01] bashtage commented on #31212
Yes, the upload to github silently failed and objects.inv (and probly lots of other things) didn't make it.  I'm going to try and do a fake run on travis to rebuild with a fixed script.  It is a bit tricky since everything on travis is under git and checking out a tag changes everything tracked.

[2020-01-22 18:14] AlexKirko commented on #31212
Ah, thanks for explaining, now I understand what happened.

[2020-01-22 18:18] jbrockmendel commented on #31175
good catch, PR welcome

[2020-01-22 19:36] TomAugspurger commented on #31157
Sorry, I missed this. https://github.com/pandas-dev/pandas/issues/31208 is a duplicate of it, and https://github.com/pandas-dev/pandas/pull/31211 is fixing things.

Closing in favor of #31208.

[2020-01-22 19:36] #31157 closed

[2020-01-22 19:39] #24576 closed

[2020-01-22 19:42] TomAugspurger commented on #31204
Overlaps with https://github.com/pandas-dev/pandas/issues/22384, which is trying to solve this problem in general.

In the meantime, we can add support for this in IntegerArray.astype.

[2020-01-22 19:46] jbrockmendel opened #31218 "BUG: DTA/TDA setitem breaks freq on views"
DatetimeArray/TimedeltaArray `__setitem__` resets the array's freq to None, but this doesn't propagate to views:

[code]

`view.freq` is now incorrect.

It will be a hassle, but I think the thing to do is remove `freq` from DTA/TDA altogether.  It has a different meaning from PeriodArray.freq and isn't necessary for the "vectorized Timestamp/Timedelta" abstraction.

[2020-01-22 19:55] jschendel commented on #31202
Thanks, I can confirm that this is failing on `master` and that it works on 0.25.3.

Looks like moving the `map` definition in `DatetimeIndexOpsMixin` down to `ExtensionIndex` so it's shared with `IntervalIndex` fixes this.  Will open a PR later tonight.

[2020-01-22 19:56] jbrockmendel opened #31219 "ENH: maybe_dispatch_to_dunder_op handle min/max"
I'm running up against a case where I need np.maximum.reduce(period_array) to work; itd be nice if that could be handled by maybe_dispatch to call PeriodArray.max

cc @jorisvandenbossche @TomAugspurger

[2020-01-22 19:56] TomAugspurger opened #31220 "Index.sort_values puts missing values at the start with ascending=False"
#### Code Sample, a copy-pastable example if possible

Index.sort_values places missing values at the start of the result with `ascending=False`

[code]
#### Problem description

This differs from Series.sort_values, which always leaves NA values at the end.

#### Expected Output

[code]

[2020-01-22 19:59] TomAugspurger commented on #31219
To clarify, `np.maximum(PeriodArray)` works fine, right? It's the `.reduce` part that isn't handled?

[2020-01-22 20:13] jbrockmendel commented on #31219
`np.maximum(PeriodArray)` breaks because it expects multiple arguments, `np.maximum(period_array, period_array)` works, while `np.maximum(period_index, period_index)` fails with `ValueError: ufunc 'maximum' not supported for the PeriodIndex`

But yes, it is specifically the `.reduce` that is coming up at the moment

[2020-01-22 20:15] bashtage commented on #31212
Definitely, all fixed now. Both stable and devel.

[2020-01-22 20:40] TomAugspurger commented on #31219
That would be solved with Index having an `__array_ufunc__`. I wounder if `Series.__array_ufunc__` can be moved to to IndexOpsMixin. I suppose alignment of Series but not Index makes that tricky.

Can you provide a failing example for reduce on period array?

[code]

[2020-01-22 20:49] TomAugspurger commented on #31212
Thanks.

[2020-01-22 20:49] #31212 closed

[2020-01-22 21:35] dsaxton commented on #31220
Should `Index.sort_values` also have an `na_position` argument? It looks like it just uses `Index.argsort` whereas `Series` handles the NA values separately according to `na_position`.

[2020-01-22 21:52] jbrockmendel commented on #31219
Not on master.  In the relevant branch I have implemented `DatetimeLikeArrayMixin.__array_ufunc__` (to get `np.isfinite(datetimeindex_tzaware)` to work... yak shaving)

[2020-01-22 21:57] tomasssalles opened #31222 "Empty DatetimeIndex gets converted on assignment with .loc"
#### Code Sample

[code]

#### Output

[code]

#### Problem description

The index of the dataframe gets converted from `DatetimeIndex` into `RangeIndex` even though the `Series` assigned to one of the columns has the exact same index as the dataframe.

We often want to check that the index is a `DatetimeIndex` when validating the data we receive as input. If this can change unexpectedly from a si

[2020-01-22 22:07] TomAugspurger commented on #31222
Can you try this with master (pandas 1.0.0rc0)? I think this is fixed.

[2020-01-22 22:22] mroeschke commented on #31200
Since `Timestamp` inherits from `datetime.datetime`, we should just ideally dispatch to the same error message `datetime.datetime` would raise.

[code]

[2020-01-22 22:27] miaoz2001 commented on #31197
Thanks for the quick reply

@jorisvandenbossche  yeah..I noticed that it is the index get increased, but didn't know why and how it comes so big...also why it stops increasing when the df is big enough?

@jreback  honestly i don't quite understand why it is an expected result...isn't it a bug? can we get rid of the index hashtable after the operation?

OK if it is surely expected result and unavoi

[2020-01-22 22:47] frances-h opened #31223 "GroupBy aggregation fails if DataFrame has CategoricalIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above works in v. `0.25.3` but not in `1.0.0rc0`. It fails with: `TypeError: Cannot convert Categorical to numpy.ndarray`

Full stack trace:
[code]
#### Expected Output
The correct result applying the aggregation function to the DataFrameGroupBy

#### Output of ``pd.show_versions()``

<details>

INSTALLED VE

[2020-01-22 22:55] drkarthi opened #31225 "Make the documentation for pandas.Series.str.replace() clearer"
#### Problem description

The current documentation of str.replace says ```Replace occurrences of pattern/regex in the Series/Index with some other string. Equivalent to str.replace() or re.sub().```.

For the novice user this suggests that base Python's str.replace() and re.sub() provide equivalent functionality. My suggestion is to explicitly specify that this depends on the value of regex, maki

[2020-01-22 23:52] jreback commented on #31197
you are keeping references around

df = df.loc[...]

will force garbage collection where the index will be destroyed

[2020-01-23 00:13] MomIsBestFriend commented on #31149
take

[2020-01-23 00:18] miaoz2001 commented on #31197
but that will wait for the gc to work, while it could be running out of memory while executing .loc[]...

[2020-01-23 00:19] jreback commented on #31197
if u are not operating with enough memory then you are out of luck

you should usually have 2x your dataframe size at the very least , usually more

[2020-01-23 00:43] brebulous commented on #31135
Has the auto-generated documentation been moved elsewhere? Or should all references to the auto-generated documentation just be removed completely?

[2020-01-23 00:46] miaoz2001 commented on #31197
OK,...
i did more test and found out the boolean array won't cause the memory issue
something like:
 `df.loc[df.index.isin(idx)] = 0 ` or `df.iloc[df.index.isin(idx)] = 0` or `df.iloc[100:1000]`
these will work just fine.

the array `df.index.isin(idx)`  is an extra cost but it is quite small, 8M only for a 395M df.

Anyway it's better these to be mentioned in the doc..

[2020-01-23 00:49] #31149 closed

[2020-01-23 00:56] jreback commented on #31197
it’s all depends on your usecase and how you slice

closing as expected

[2020-01-23 00:56] #31197 closed

[2020-01-23 01:32] jschendel commented on #31223
Thanks, I can confirm that this is broken on `master` and was working on 0.25.3.

[2020-01-23 01:44] jschendel commented on #31223
Looks like this is a little more generic than `Categorical` and occurs for any index that's backed by an extension array, e.g. `ids = pd.interval_range(0, 3)` causes the same error.

The following changes look to fix the issue but I haven't checked that it doesn't end up breaking something else:
[code]

[2020-01-23 02:01] jpeacock29 opened #31233 "DOC ENH: Move DataFrame.info from "Serialization / IO / conversion" to "Attributes and underlying data""
In the [API reference for DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html), why is `DataFrame.info()` in the "Serialization / IO / conversion" section? It would make more sense to me in the "Attributes and underlying data" section, which has similar methods and attributes like `DataFrame.memory_usage()`, `DataFrame.dtypes`and `DataFrame.shape`.

Glad to make a pull req

[2020-01-23 02:07] jpeacock29 opened #31234 "DOC BUG DataFrame.plot() and Series.plot() documentation missing"
In the [API reference for `DataFrame.plot()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot) and [`Series.plot()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html#pandas.Series.plot) the documentation is missing.

[2020-01-23 02:15] jpeacock29 opened #31235 "DOC BUG API Reference documentation truncated for Series.unstack(), Series."
The [API Reference documentation for `Series`](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) and [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) have truncated documentation strings for `Series.at_time()`, `Series.unstack()`, and `DataFrame.at_time()`. The bug appears to occur where the docstring contains ". " (that is, a period followed by a

[2020-01-23 02:22] lithomas1 commented on #29768
take

[2020-01-23 04:26] #31208 closed

[2020-01-23 04:29] jreback commented on #30742
is this fixed @jorisvandenbossche

[2020-01-23 06:20] fujiaxiang commented on #31200
I will take a look

[2020-01-23 08:03] jorisvandenbossche commented on #31197
@miaoz2001 if you want to avoid the Index hashtable to be generated, you indeed need to avoid any "label-based" lookup or assignment (as you did with `df.loc[..]`). So indeed, boolean indexing with a mask or positional indexing with `iloc` are ways to do that.

[2020-01-23 08:48] jorisvandenbossche commented on #31234
@jpeacock29 thanks for the report! This is a duplicate of https://github.com/pandas-dev/pandas/issues/29489, and there is an open PR to fix it (should be in 1.0.0)

[2020-01-23 08:48] #31234 closed

[2020-01-23 08:50] jorisvandenbossche commented on #31235
@jpeacock29 indeed, I think that's a correct analysis. We should reword it a bit to avoid the `. ` pattern

[2020-01-23 09:24] anjalis2112 commented on #31235
Hello!
I would be happy to work on this.

[2020-01-23 09:52] tomasssalles commented on #31222
Confirmed: Fixed in 1.0.0rc0.
Thanks for the quick response!

[2020-01-23 09:52] #31222 closed

[2020-01-23 10:52] jorisvandenbossche commented on #29752
I put up a PR implementing a `use_nullable_dtypes` option for `read_parquet` specifically: https://github.com/pandas-dev/pandas/pull/31242

[2020-01-23 11:08] peterzsohar opened #31243 "Potential bug in reading SAS files with CHAR (RLE) compression and many repeated characters"
Hi,

I think I ran into a bug in the RLE decompression implementation.

**Short description**:
String fields with more than 32 repeated consecutive characters are ~be~ cropped at 32 and next fields will spill over corrupting the whole dataframe.

**Example**:

example.csv with fields of length 50
[code]

Create a CHAR compressed sas7bdat file (system encoding is set to latin1)
[code]

[code]

This

[2020-01-23 12:19] jamesharrop commented on #31142
Could add another get function which uses .loc which is stricter about accepting keys only, this does work without errors locally but is not very elegant. I could submit as a pull request for review

[2020-01-23 12:35] #29489 closed

[2020-01-23 12:37] jorisvandenbossche commented on #30742
Not in general, only the specific case of the `_ndarray_values` attribute

[2020-01-23 13:26] MastafaF opened #31245 "Verbose parameter in pandas.Series.apply"
Hi,

I think it could be really useful to add a **Verbose** parameter in the **pandas.Series.apply** function. It can take a really long time to get an output so having some kind of verbosity with something like tqdm could be really useful.

Cheers,

[2020-01-23 13:42] seden commented on #18030
Is there any update on this? Can the cartesian product be turned into a generator so that the memory allocation won't fail?

[2020-01-23 14:16] #31202 closed

[2020-01-23 14:50] matthewgson commented on #31177
That's a good suggestion. Did not know tuples don't have issues with multiindex.
I can do df['B'].apply(tuple) and do the trick for now. Thanks.

[2020-01-23 14:53] jschendel opened #31248 "REGR: CategoricalIndex and IntervalIndex are missing _index_data attribute"
It looks like the `_index_data` attribute wasn't added to `CategoricalIndex` or `IntervalIndex`.  This leads to some regressions with `GroupBy.apply`.

Not sure what the fix should be, as there isn't a singular array that directly backs the underlying values for `CategoricalIndex` or `IntervalIndex`, so the approach used to add `_index_data` for other types doesn't look like it will work here.

Ex

[2020-01-23 15:10] Eric-Sommer commented on #31243
I always read SAS files with `encoding='iso-8859-1'` (see [here](https://stackoverflow.com/questions/38203988/encoding-in-sas7dbat)). Does that help in your case?

[2020-01-23 15:26] #31102 closed

[2020-01-23 15:46] mroeschke commented on #31245
What information would a `verbose` parameter provide that `print` statements in the apply function could not?

[2020-01-23 15:47] mroeschke commented on #31233
Make sense to me. Happy to take a PR!

[2020-01-23 16:26] matthewgson opened #31250 "pd.DataFrame.duplicated, drop_duplicates does not support column operation"
I was trying to use .duplicated to find identical columns, and possibly dropping them, but realized it doesn't do columnar operations.
It would be great if pd.DataFrame.duplicated or pd.DataFrame.drop_duplicates supports axis= argument.

Current version 0.25.3 not supporting axis=
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html

Some workaround by custom

[2020-01-23 16:35] teto commented on #30291
and if we could precise the how dtype is treated relative to converts and parse_dates, that would be cool.

[2020-01-23 16:41] teto opened #31251 "read_csv: if parse_dates dont appear in use_cols, we get a trace"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

triggers
[code]
i.e., if you use columns in parse_dates that dont appear in use_cols, then you are screwed.

Either parse_dates sould be added to use_cols or the documentation precise it. An assert could make the error more understandable too.
pandas 0.25.3

[2020-01-23 17:38] jrm5100 opened #31252 "'test_factorize_empty' test failure with custom ExtensionDtype"
One of the provided (BaseMethods) Extension tests is `test_factorize_empty`.  I don't have a way of passing this test given how `factorize` works for `ExtensionArray`.

[code]

#### Code Example

The relevant portion of my `GenotypeArray` class `__init__` method, when an empty array of values is passed.

[code]

#### Problem description

The ValueError is raised during this test.  I don't have ano

[2020-01-23 17:39] MarcoGorelli commented on #31135
@brebulous by the looks of it, it is now split between the various files in `doc/source/reference`. Interested in submitting a pull request?

[2020-01-23 19:00] #30889 closed

[2020-01-23 19:00] #30967 closed

[2020-01-23 19:22] jorisvandenbossche commented on #31235
@anjalis2112 Certainly, that's welcome!

[2020-01-23 19:25] frances-h opened #31256 "Regression bugs when applying GroupBy Aggregations to Categorical columns"
[code]
#### Problem description
There's some regression bugs in `1.0.0rc0` when applying groupby aggregations to Categorical columns. All of these examples work as expected in `0.25.3`.

Applying `pd.Series.nunique` and `pd.Series.count` both result in `NaN` for some groupings, the result has a Categorical dtype. The resulting dtype should be int64 and `NaN` should not be produced.

Applying `pd.S

[2020-01-23 20:24] jason-hernandez-73 opened #31259 "Please help me to understand TypeError: Expected tuple, got str"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

If this has been answered in an earlier issue, I couldn't translate it into anything I understand

The above code is my attempt to create a new dataframe by using a groupby object from an earlier dataframe. When I try to run the code, I get a whole lot of traceback that I do not understand, ending with the line

[2020-01-23 20:43] jorisvandenbossche commented on #29752
In the PR adding an option to `read_parquet`, we are having a discussion which is getting more general about such an option in IO, and more general about what to expect from such an option (not only the name), so moving it here.

@jreback and @WillAyd mentioned they rather prefer `use_extension_dtypes` than `use_nullable_dtypes`, to which I replied:

For me, the main reason to not use `use_extensi

[2020-01-23 20:44] jorisvandenbossche commented on #29752
*reply of @WillAyd*

Sure as some quick counter arguments:

  - The semantics are unclear to an end user; I would think most consider np.float to be nullable which this wouldn't affect
  - Some of the arguments for its clarity are specific to parquet, but I think become more ambiguous if we reuse the same keyword for other parsers (which I hope we would)
  - If we added more extension types in the

[2020-01-23 20:56] #31131 closed

[2020-01-23 21:05] Dr-Irv commented on #29752
I agree this is a compelling argument to not use `as_nullable_dtypes`.  Here are some ideas:

- `as_NA_dtypes`  (ones supporting `pd.NA`)
- `as_modern_dtypes` (since anything we'd want to support would be the most modern ones)
- `as_endorsed_dtypes` (then we can determine which are endorsed/recommended ones)

Hoping that stimulates the discussion!

[2020-01-23 21:06] jorisvandenbossche commented on #29752
Thanks @WillAyd for those arguments. From that, it seems we still need to discuss / clarify what the exact purpose is we want to achieve with such an option

Yes, that's what I mentioned about "nullable" not being ideal. But that's a general issue for speaking about those dtypes. And as mentioned above, I think we need to find *some* term for that.
If we clearly define what we mean with "nullable

[2020-01-23 21:08] jorisvandenbossche commented on #29752
To highlight a single point of my long post above that was answering on this aspect: IMO, if such a new dtype is not using pd.NA, it should not fall under this keyword. So if we do that (debatable of course), then whathever name we come up with will have the same problem.

[2020-01-23 21:11] WillAyd commented on #29752
Slightly different direction but what about something like `nan_float_cast=True` as a default? I think clearer on intention and also doesn't force to use an extension dtype unless NA values are actually detected, which could help save memory

[2020-01-23 21:18] jorisvandenbossche commented on #29752
That depends on the behaviour of the option. Right now, I think the intent was to use eg nullable integer dtype for all integer columns, not only those integer columns that have missing values and would otherwise be casted to float. (Also, for booleans, they get casted to object right now if there are floats)

It's true that not doing it for all columns can save memory, but personally I would pref

[2020-01-23 21:19] mroeschke commented on #31259
For usage questions, we recommend using StackOverflow. This board is for reporting bugs or enhancement requests.

[2020-01-23 21:19] #31259 closed

[2020-01-23 22:36] huyanh1511 opened #31264 "Cannot add pandas_profiling module into SQL Server"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I was trying to install some module (i.e. pandas_profiling) in SQL Server so I can run the script directly from there. I was utilizing a Microsoft tool called 'sqlmlutils' to achieve this, but it returned an error specifically when I tried to install pandas_profiling (in fact another library called 'text-tools'

[2020-01-23 23:08] WillAyd commented on #29752
Yea I agree - a clarification on that intent definitely drives this.

I don't think it's worth adding the mask unless needed - it can certainly have non-trivial memory impacts. If my simple math is right for a 10 million row by 10 column
block of integer values adding the mask would require at least 100 MB more in memory

[2020-01-23 23:10] #31175 closed

[2020-01-23 23:13] WillAyd commented on #31264
Thanks for reaching out but pandas-profiling and sqlmlutils are separate projects. You might need to search for help with those packages specifically

[2020-01-23 23:13] #31264 closed

[2020-01-23 23:13] miaoz2001 commented on #31197
@jorisvandenbossche Thanks!
so  you mean "any 'label-based' lookup/assignment"...is there any apis besides .loc?  I might need to check my code to avoid any surprise...

[2020-01-23 23:42] jimhavrilla commented on #26314
I got this error in ver. `0.25.3`, any news on it?

[2020-01-24 01:06] jreback commented on #31205
commented on the PR, this is post 0.25.3?

[2020-01-24 01:07] #25596 closed

[2020-01-24 01:16] brebulous commented on #31251
I think this might have been fixed. I'm not able to reproduce that error in 1.0.0rc.

[2020-01-24 01:47] TomAugspurger commented on #26314
Still open, still looking for a volunteer to fix it.

[2020-01-24 03:33] #31043 closed

[2020-01-24 03:37] #30975 closed

[2020-01-24 04:25] #30320 closed

[2020-01-24 04:38] jreback commented on #30520
this is subsumed by #30676 (though if you still think there is a perf benefit after that certainly ping)

[2020-01-24 04:38] #30520 closed

[2020-01-24 04:59] fujiaxiang opened #31269 "ENH: allow 'pad', 'backfill' and 'cumcount' in groupby.transform"
#### Summary
Currently on master, `groupby.transform` with ``func`` equals one of `('fillna', 'pad', 'backfill', 'ffill', etc.)` yields wrong results (See #30918).

With updates from PR (#31101), the incorrect outputs are fixed. However, when ``func`` is one of `('pad', 'backfill', 'cumcout')`, `groupby.transform` then raises ``AttributeError`` similar to what's reported in #27472.

#### Code Samp

[2020-01-24 05:08] fujiaxiang opened #31270 "ENH: Move "corrwith" from transformation_kernels to reduction_kernels in groupby.base"
#### Code Sample
[code]

On current master (`1.0.0rc0+183.g4da554f75`) we have "corrwith" in the list of ``transformation_kernels`` rather than ``reduction_kernels`` within `groupby.base`.

We probably have to move it and fix any impact it has.

[2020-01-24 05:08] fujiaxiang commented on #31270
take

[2020-01-24 05:46] ArunimSamudra commented on #31135
Hey! I would like to work on this issue.

[2020-01-24 06:17] Dobiasd opened #31272 "Dropped columns still available for filtering"
#### Code Sample
[code]

#### Problem description
The code sample above should result in an error like the following:

[code]

However, it does not but instead works without error, as if the column "bar" would exist.

#### Output of ``pd.show_versions()``
[code]

[2020-01-24 06:20] #31272 closed

[2020-01-24 06:21] Dobiasd commented on #31272
Sorry, my mistake. Please ignore this issue.

The right code is
[code]

And that correctly results in `KeyError: 'bar'`.

[2020-01-24 07:00] mroeschke commented on #31251
Looks fixed on master as well. Could use a regression test since it doesn't appear explicitly fixed in the whatsnew notes for 1.0.0rc

[2020-01-24 07:02] mroeschke commented on #22661
We're happy to reopen this issue when we can validate the issue with a reproducible example for your larger file with the line skipping.

[2020-01-24 07:02] #22661 closed

[2020-01-24 07:04] mroeschke commented on #23965
We're happy to reopen this issue when we could get more information about how we could improve the `iterrows` documentation.

[2020-01-24 07:04] #23965 closed

[2020-01-24 07:11] mroeschke commented on #24022
Sounds like overall this issue was a usage question discussion on object casting. Happy to reopen if there is a simple example of an underlying bug

[2020-01-24 07:11] #24022 closed

[2020-01-24 07:45] jorisvandenbossche commented on #29752
But rather than limiting the columns that would get converted to masked / nullable dtypes with the option under discussion here, I would rather try to solve this memory concern by improving the implementation. The concrete ideas we have for this: 1) make the mask optional, so it can be None of there are no missing data (this should not be too hard to do I think) 2) investigate using a bitmask inst

[2020-01-24 07:50] jorisvandenbossche opened #31273 "ENH: make the mask optional in the nullable masked ExtensionArrays"
Our nullable, mask-based ExtensionArrays (currently integer and boolean, inheriting from MaskedArray) have a `_data` and `_mask` numpy arrays stored under the hood.

A relatively straight-forward optimization is probably to allow the `_mask` to be None, for the case that there are no missing values.
(to be checked how involved the ops code would become to handle this as optional)

[2020-01-24 07:51] jorisvandenbossche commented on #31273
Whoops forgot I already had opened an issue for this: https://github.com/pandas-dev/pandas/issues/30435

[2020-01-24 07:51] #31273 closed

[2020-01-24 07:54] ArunimSamudra commented on #31135
Will submit a PR soon.

[2020-01-24 07:55] ArunimSamudra commented on #31135
Will raise a PR soon.

[2020-01-24 08:06] suokunlong commented on #19622
I still reproduce this issue with pandas version 0.25.3. It seems never fix at all, may not be a duplicate of #15217.

[2020-01-24 08:10] punndcoder28 commented on #31269
Hey! I would like to work on this. Could you guide me?

[2020-01-24 08:21] suokunlong opened #31274 "Performance issue when using pivot_table with multiple columns out of which at least one is of type 'category'"
This issue was initially reported as #19622, which was then marked as a duplicate of #15217 and closed since then. However, this issue is still reproducible with the most recent version 0.25.3

To reproduce, copy-paste the following code and run:

[code]
#### Problem description
Elapsed time Case 1: 0.03320956230163574
Elapsed time Case 2: 0.017639636993408203
Elapsed time Case 3: 0.35034942626953

[2020-01-24 08:50] jerilkuriakose opened #31276 "pandas.Series.str.replace giving irrelavent results"
The following is my code:
[code]
#### Problem description

I was trying to replace `'.0'` with `''`, and when i use **pandas.Series.str.replace** `80` and `80.0` is replaced as `''`; whereas when I replace using **pandas.Series.apply(lambda x: x.replace('.0', ''))** it is working as expected.

Looks like an issue.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
--------------

[2020-01-24 09:02] fujiaxiang commented on #31276
This is because `df.str.replace` has argument `regex` default to ``True``. If you set `regex=False` you should get what you wanted.

[2020-01-24 10:36] jorisvandenbossche commented on #31197
So it's actually also things like `is_unique`, `is_monotonic`, .. attributes that check things on the Index, because they also make use of the engine's hashtable.
Basically any index operation that uses the underlying engine will create this engine. But if you don't want those, maybe you should not have those data as the index, but just keep it as a column?

[2020-01-24 13:34] fujiaxiang commented on #31269
@punndcoder28 The relevant PR #31101 has not been merged yet. After that is merged, you can try these three functions on master, and see what you can do. You can also take a look at #27472 to see what has been discussed.

[2020-01-24 13:49] TomAugspurger commented on #31276
Thanks for the explanation @fujiaxiang.

[2020-01-24 13:49] #31276 closed

[2020-01-24 13:51] TomAugspurger commented on #31274
By default, Categorical dtypes preserve unobserved categories in the output. You'll need to convert to remove the unused categories before pivoting, or use the `observed=True` keyword.

[2020-01-24 14:00] TomAugspurger opened #31281 "CI: update azure VM image"
Email from Azure support

[2020-01-24 14:38] Dr-Irv commented on #29752
From @WillAyd

I had another thought on this.  Because of a method like `Series.shift()` that creates entries with NA in it, I think that any new extension type _always_ needs to do something about NA, and IMHO, I think we would want them to use `pd.NA` and not `np.nan` to represent a "missing value"

Which may mean that a keyword such as `use_missing_value_dtype` might make sense, although it's a

[2020-01-24 14:55] suokunlong commented on #31274
I tested and confirm that the "observed = True" keyword solves the problem. So now the problem is, why this option is not set as the default in pandas pivot_table function?

This option should be set to True by default, and Pandas should detect whether any of the groupers are Categoricals, if yes, then do as what observed = True should do; if no, then ignore the True option, provided that the Fals

[2020-01-24 15:03] TomAugspurger commented on #31274
The intent of Categorical is to represent data from a fixed set of categories, and preserving the unobserved categories through the pivot (with counts of 0) matches that intent.

We have another issue for a dictionary encoded dtype, which would give you the memory-saving aspect of categorical without the unobserved categories behavior.

[2020-01-24 15:03] #31274 closed

[2020-01-24 15:09] peterzsohar commented on #31243
Thanks, but unfortunately no.
`latin1` is the encoding that was used for the original `sas7bdat` so this is in fact the correct encoding to be used when reading the file to pandas.
(also, `latin1` is just an alias for `iso-8859-1` 😉 )

Nevertheless, before submitting the issue I ran a script to check if the issue persists if using any other enconding for reading the data. (It does.)

Not sure if i

[2020-01-24 15:27] MarcoGorelli opened #31284 "Can't replace tz-aware with None"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Throws `*** TypeError: data type not understood`. On the other hand, this works:
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 7adbc4d0516159cb21fa85c5a476fc67a28af917
python           : 3.7.6.final.0
python-bits      : 64
OS               : L

[2020-01-24 15:29] MarcoGorelli commented on #31284
Sorry, didn't realise I was on a feature branch (not on master), on master this works, will close now

[2020-01-24 15:29] #31284 closed

[2020-01-24 15:39] Eric-Sommer commented on #31243
thanks for that info :)

[2020-01-24 15:53] TomAugspurger commented on #29884
Just FYI, I started https://github.com/pandas-dev/pandas/pull/31210, but am unsure how to proceed. The fact that `DatetimeIndex.sort_values().asi8` will no longer be sorted makes this pretty complex to get right.

[2020-01-24 16:16] ukarroum commented on #30999
Hello,

I would like to work on :

pandas/tests/arrays/interval/test_ops.py
pandas/tests/arrays/test_array.py
pandas/tests/arrays/test_boolean.py

[2020-01-24 16:19] Dr-Irv commented on #31204
@TomAugspurger Was skimming issues and saw this one.

I'm wondering if `Series.astype('string')` should be treated as a special case independent of the underlying dtype of the underlying Series.  That's because the following code should always work assuming `s` is a `Series`:

[code]

So since we know that the underlying objects in the EA have to support `str()`, there is a straightforward way of

[2020-01-24 16:20] MomIsBestFriend commented on #31281
Is there anything we need to change?

In

https://github.com/pandas-dev/pandas/blob/67a8016da0e39778354b2e6d35a4b9b964cc3381/azure-pipelines.yml#L17

(The most recent version of the file at the time of writing this)

The value of ```vmImage``` is already ```'vs2017-win2016'```

[2020-01-24 16:23] TomAugspurger commented on #31204
I don't think we should preempt the array from having a chance to perform
the conversion.

And code-wise, I don't think we'd want a special case for this in
NDFrame.astype.

On Fri, Jan 24, 2020 at 10:19 AM Irv Lustig <notifications@github.com>
wrote:

[2020-01-24 16:32] trendelkampschroer opened #31286 "Unexpected behaviour of `Series.rolling.corr` when using a `Timedelta` based window."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Both functions `f` and `g` should return the same value for entries `13 - 19` in the resulting series.

Currently the result of `f` when `window = Timedelta(days=4)` is not the correlation between the values of `x` and `y` which should be equal to `1.0` for entries `13 - 19` in the result.

Computed values on a

[2020-01-24 16:38] TomAugspurger commented on #31281
I think the macOS image may be the problem, but I'm not sure.

https://github.com/pandas-dev/pandas/blob/67a8016da0e39778354b2e6d35a4b9b964cc3381/azure-pipelines.yml#L4-L7

That at least matches the 10.13 part.

[2020-01-24 16:40] Dr-Irv commented on #31204
Well, I'm suggesting that we _do_ want a special case just for `StringDtype` in `NDFrame.astype`.  It seems natural that the 2 operations below should produce the same result, modulo having an `object` vs `string` dtype, for a given Series `s` (and returning `np.nan` vs. `pd.NA` for missing values), independent of the dtype of the Series `s`:
[code]

[2020-01-24 16:42] MomIsBestFriend commented on #31281
take

[2020-01-24 17:06] richierocks opened #31287 "Allow .dt.month_name() and .dt.day_name() to return ordered categorical"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[`pandas.Series.dt.month_name()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.month_name.html) returns the month names as strings, which means that they get sorted alphabetically. In most cases, that's less useful than them begin sorted from January to December. (See the pivot ta

[2020-01-24 17:19] jason-hernandez-73 commented on #31259
Stack overflow gives such technical answers, I'm too new at this to understand them.

Sent from Yahoo Mail on Android

  On Thu, Jan 23, 2020 at 1:32 PM, Matthew Roeschke<notifications@github.com> wrote:   This message is eligible for Automatic Cleanup! (notifications@github.com) Add cleanup rule | More info

For usage questions, we recommend using StackOverflow. This board is for reporting bugs o

[2020-01-24 17:26] TomAugspurger opened #31289 "Incorrect result in GroupBy.cov when some results have 1 observation"
If a user has configured warnings from NumPy to raise, and performs a `groupby.cov` when one or more groups has a single operation, then they'll get the wrong result.

[code]

I would expect

[code]

We should probably be robust to the warning setting, or resurface the exception.

This is with pandas 0.25.3

[2020-01-24 17:27] TomAugspurger commented on #31289
Oh, my apologies, this is indeed fixed on master. Sorry for the noise.

[2020-01-24 17:27] #31289 closed

[2020-01-24 17:35] TomAugspurger commented on #31204
Right, that's definitely desirable. But I don't think NDFrame.astype is the place for the fix.

[2020-01-24 17:39] TomAugspurger commented on #31204
For example, consider SparseArray. It implements astype such that the result is also a SparseArray and preserves the sparsity. So `Series[SparseArray].astype("string")` would return a `Series[SparseArray[string]]`. But NDFrame.astype has no awareness of that.

[2020-01-24 17:49] #31235 closed

[2020-01-24 17:56] punndcoder28 commented on #31269
Ok. I will keep an eye out for PR #31101 and start as soon as it is merged.

[2020-01-24 18:03] chedatomasz commented on #6697
Has there been any progress on this? I feel like it could be a great improvement, as - to the best of my knowledge - there is currently no fast way to replace a DataFrame column based on a dict, and that is a fairly common use case

[2020-01-24 18:20] jbrockmendel opened #31291 "is_iterator doctest incorrect for list"
The docstring and doctest say that lists are considered iterators, but `isiterator([1, 2, 3])` (one of the docstring examples) returns False (which I think is a more useful behavior.

Is this doctest not run?

[2020-01-24 18:38] mroeschke commented on #31287
Thanks for the suggestion. We have a similar request in https://github.com/pandas-dev/pandas/issues/12993, so I will consolidate these issues and add these methods in that issue.

[2020-01-24 18:38] #31287 closed

[2020-01-24 18:47] Dr-Irv commented on #31204
I guess this depends on the semantics of `astype()` in the following sense.

If I have an EA  of type "current_dtype" and I write `s.astype("target_dtype")`, is it either:

1. the responsibility of the EA with type "current_dtype" to know how to convert to every possible "target_dtype", or
2. the responsibility of EA's of type "target_dtype" to know how to convert whatever types it can to "target_

[2020-01-24 19:04] #19020 closed

[2020-01-24 19:04] #19974 closed

[2020-01-24 19:04] #30986 closed

[2020-01-24 19:04] #18265 closed

[2020-01-24 19:08] MomIsBestFriend commented on #31251
take

[2020-01-24 19:09] jorisvandenbossche commented on #28928
@vanschelven very late reply, but thanks a lot for the clear report!
That's indeed a bug in indexing with the new nullable type (or maybe with extension dtypes in general)

[2020-01-24 19:16] #30918 closed

[2020-01-24 19:26] MomIsBestFriend commented on #31251
I am getting the same error as well. (Python 3.8.1)

<details>

INSTALLED VERSIONS
------------------
commit           : aad377dd7f001568955982040d8701e004869259
python           : 3.8.1.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.13.a-1-hardened
machine          : x86_64
processor        :
byteorder        : little
LC_ALL           : None
LANG             : en_US

[2020-01-24 19:31] teto commented on #31251
Thanks for looking into it.
One thing I don't get in the api is why dates are considered different than converters. Because they are multicolumn ? we could have a multicolumn converter or ignore dates altogether/have multicolumn converters (I mention this just in case 1.0 is allowed to break API).

[2020-01-24 19:35] jorisvandenbossche opened #31293 "ENH: investigate using a bitarray as the mask in the nullable/masked ExtensionArrays"
Currently, our nullable / masked extension arrays (boolean, integer, for now) are using a numpy boolean array as their `_mask` to keep track of missing values. A potential route for improving memory and performance would be using a bitarray instead of a boolean numpy array (which is a byte per value).

This should require some exploration: what are options how to implement this? (existing librarie

[2020-01-24 19:41] jorisvandenbossche commented on #29752
@WillAyd regarding the memory issues of masked arrays: there is https://github.com/pandas-dev/pandas/issues/30435 about making the mask optional and https://github.com/pandas-dev/pandas/issues/31293 about exploring bitarrays for the mask.

Since np.nan in float dtype is also used as "missing value", I am not sure this is less ambiguous than `use_nullable_dtype` (given the argument against `use_nul

[2020-01-24 19:54] Dr-Irv commented on #29752
We could combine the two ideas, i.e., `as_missing_value_NA_dtypes`, and you say "the missing value NA dtypes" in prose texts to mean the dtypes that represent missing values using `pd.NA`

As the author of the above, I would vote _against_ that in the I/O context because `convert_dtypes` also has the `inherit_objects` behavior, so now we have different meanings of `convert_dtypes` in two different

[2020-01-24 21:42] richierocks commented on #31287
Gah. I'd searched for `dt.month_name` instead of just `month_name`.

[2020-01-24 23:55] TomAugspurger commented on #31204
We have another issue for an astype dispatch mechanism.

[2020-01-25 01:10] GregKarabinos opened #31298 "Aggregate with categorical variables but without groupby"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

There is an issue with aggregating and applying a list of functions.  These functions should be able to be applied to categorical or object columns but cannot currently.

#### Expected Output

#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit           : None
python           :

[2020-01-25 01:52] jbrockmendel opened #31299 "DEPR: disallow series[[slice(...)]]"
One of the more convoluted parts of `Series.__getitem__` is for handling single-entry lists that contain a slice, where we end up just returning `self[key[0]]`.  We have two tests that hit this path, but it isn't clear to me why this should be supported.

[2020-01-25 02:13] jbrockmendel commented on #31293
xref #21839.

I asked @seberg if numpy had thought about implementing this directly and got the impression it had been discussed but never as a priority.  I'm sure we _could_ implement this here, but it definitely seems like a better fit for numpy.

Does pyarrow have an implementation?  (or will it in the not-too-distant future?)

[2020-01-25 02:31] seberg commented on #31293
The issue with it within NumPy is simple. NumPy has a strided memory layout, which implies byte sized strides to reach elements. To do this we would have to ensure that everything inside NumPy can somehow deal with these sub-byte strides (when the dtype or a flag requests it).

It could be interesting to explore, but it seems like it likely is just a can of worms, especially since strides are some

[2020-01-25 02:41] fujiaxiang opened #31302 "ENH: Change default behavior of rolling.count to be consistent with others"
Following on discussion happened in #30923, we may want to change the default behavior of `rolling.count` with regards to its parameter ``min_periods``, so it is consistent with all other similar APIs such as `rolling.mean` and `rolling.sum`.

#### Code Sample
With the updates from #30923
[code]

#### Expected Output
[code]

#### Problem description
With the updates from #30923, the ``min_periods`

[2020-01-25 02:41] amacfie opened #31303 "applymap fails in presence of nan values and function returning None"
Is this the proper behavior?

[code]
If we replace `None` with say, -1, in `convert_cell` it works as expected. If all values in the column are nan, it works. If all values are non-nan floats it works. If `convert_cell = lambda x: None`, that works.

[code]

[2020-01-25 03:16] jbrockmendel commented on #30349
@TomAugspurger I now get 157us for the `s[m1]` example you posted, which is about the same as the optimized target you suggested.  I expect this is due to the recent improvements in `FooIndex.get_value`.  Skipping the `Index.get_value` call gets this down to 148us, so there might not be much more room for optimization (notwithstanding the RangeIndex suggestion from @jorisvandenbossche )

[2020-01-25 03:17] #29768 closed

[2020-01-25 07:10] mitar opened #31306 "NaT values cannot be compared with tz-aware datetime objects"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

#### Problem description

When parsing timestamps, I return `pandas.NaT` if value is not parsed correctly. Otherwise I return timezone-aware timestamps. I also want then to compare those values with a timezone-aware timestamp. But if there is any `pandas.NaT` value present comparison fails.

#### Expected Output

[code

[2020-01-25 07:35] jorisvandenbossche commented on #31293
Also, for pandas we "just" need a 1D bitarray, which I assume will make it a lot simpler than the full multidimensional requirements for numpy.

---

In https://github.com/pandas-dev/pandas/pull/22238, @WillAyd used https://github.com/ilanschnell/bitarray

[2020-01-25 10:11] charlesdong1991 commented on #31256
take

[2020-01-25 12:17] MomIsBestFriend commented on #31135
Fixed by #31280

[2020-01-25 12:17] #31135 closed

[2020-01-25 12:50] jreback commented on #31293
and i made it work here: https://github.com/pandas-dev/pandas/pull/25415

[2020-01-25 12:51] jreback commented on #31306
try on 1.0.0rc0 or master

[2020-01-25 14:10] martinfleis opened #31308 "pd.concat inconsistent with non-unique index"
#### Code Sample, a copy-pastable example if possible

Following works:

[code]

But if the order of index values is the opposite, it raises ValueError:

[code]

#### Problem description

As shown in the example, `concat` behaves inconsistently if index has duplicated value. It depends on the order of values if it succeeds or not. It is causing issues in geopandas (https://github.com/geopandas/geo

[2020-01-25 15:27] Rik-de-Kort commented on #31298
Inserting a print statement to raise the original error that leads to this particular error. Don't have the time at the moment to look into it further right this second, but this might help.
[code]

[2020-01-25 15:37] #31281 closed

[2020-01-25 15:43] jorisvandenbossche commented on #31299
Can you give a code example? This isn't involved with MultiIndex?

[2020-01-25 15:49] jorisvandenbossche commented on #31306
This also fails on master. But I think it is correct in failing?
The dtype of the columns is tz-naive, so if you want the NaT to represent a tz-aware timestamp, you can ensure the column has a datetimtz dtype.

cc @jbrockmendel

[2020-01-25 16:01] jbrockmendel commented on #31299
[code]

[2020-01-25 16:17] jreback opened #31310 "CI: xfail sparse warning"
this is failing builds occasionally. not sure if its a deeper problem. can just xfail for now and investigate.

https://travis-ci.org/pandas-dev/pandas/jobs/641752516

[code]

[2020-01-25 16:32] jbrockmendel commented on #31306
i agree with joris

[2020-01-25 17:49] WillAyd commented on #31028
Closed by #31307

[2020-01-25 17:49] #31028 closed

[2020-01-25 22:14] dsaxton opened #31313 "Series logical operations with nullable Boolean data type"
Should the `Series` logical operations also follow three-valued logic when using the nullable boolean data type? For example I would expect the two cases below to return `pd.NA`:

[code]

[2020-01-25 22:26] dsaxton commented on #31313
Nevermind, `skipna` is `True` by default for both

[2020-01-25 22:26] #31313 closed

[2020-01-25 22:47] mitar commented on #31306
I think the problem is that I cannot create a tz-aware NaT. I think this is the main issue here. I think it makes no sense for NaT to depend on the column dtype to determine tz-awarness.

Example: I have a parsing function which returns tz-aware datetime objects, or NaT. Then I run this as a map (`apply`) over the column to get a new column. And then I can compare against a tz-aware datetime objec

[2020-01-25 23:15] TomAugspurger commented on #31306
You can create a tz aware column with all NaT, you need to specify the dtype. Pandas cannot infer a time zone from all NaT values though.

[2020-01-26 00:26] #31310 closed

[2020-01-26 00:29] #26996 closed

[2020-01-26 00:40] mitar commented on #31306
I understand what you are saying can be a workaround. What I am describing is that it is hard to envision such an edge case when you are writing the code. So one does not do it, because generally Pandas inferring just works.

Yes, so it would be great if one could have a UTC time-zone aware NaT value.

[2020-01-26 01:03] #30543 closed

[2020-01-26 01:04] #8193 closed

[2020-01-26 01:06] jreback commented on #31306
@mitar
what you are doing here

This is an edge case; you should *rarely* be 'parsing' things which return dates and *then* applying them. You *must* then handle things yourself. Pandas works because it can infer entire vectorized arrays of things. If you are operating on scalars one at a time, then you are responsinble for properly coercing. pandas can't guess what you want.

[2020-01-26 01:08] jreback commented on #31306
simply do this

[code]

[2020-01-26 01:08] #31306 closed

[2020-01-26 01:15] #31233 closed

[2020-01-26 01:38] jbrockmendel commented on #31291
closed by #31294.

[2020-01-26 01:38] #31291 closed

[2020-01-26 01:59] mitar commented on #31306
And how does Pandas know how to parse strings like "2 days ago" into a timestamp? I have to provide a parsing function and go over all scalar values, no?

[2020-01-26 02:03] mitar commented on #31306
Also, see [workarounds people have to do here](https://stackoverflow.com/questions/57484672/is-there-a-way-to-append-nat-to-a-pandas-datetime-with-timezone-without-changing).

[2020-01-26 02:10] jreback commented on #31306
you have made my point. if you need to do something custom then you are in charge of having the right dtype. pandas refuses to guess. if you are explicit then it works just fine.

[2020-01-26 02:58] mroeschke commented on #31303
This is the correct behavior. See https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#inserting-missing-data

[2020-01-26 02:58] #31303 closed

[2020-01-26 03:32] amacfie commented on #31303
It's certainly not what one would expect based on the `applymap` docs.

[2020-01-26 04:23] jbrockmendel commented on #30086
This now works on master for me, can you confirm

[2020-01-26 05:48] mroeschke commented on #14042
Looks fixed on master. Could use a test

[code]

[2020-01-26 06:16] #26899 closed

[2020-01-26 06:36] mroeschke commented on #10329
Looks like this raises a more sensible error now. Could use a test

[code]

[2020-01-26 07:21] punndcoder28 commented on #31269
Hey @fujiaxiang. I tried out the functions on master now that PR #31101 got merged. I am getting the `AttributeError` only for `cumcount`.

[2020-01-26 07:41] fujiaxiang commented on #31269
Are you sure? I just tried again on current master and I got ``AttributeError`` for all 3. Please note that I'm talking about `df.groupby("A").transform("pad")`, and not `df.groupby("A").pad()`.

[2020-01-26 07:54] charlesdong1991 commented on #31308
thanks for the issue, seems a duplicate of #20565

A PR is about to finish up to deal with it!

[2020-01-26 09:44] punndcoder28 commented on #31269
This is the code I am executing:
[code]

Am I missing something?

[2020-01-26 09:47] charlesdong1991 opened #31324 "CI: seems jedi caused ci to fail in certain versions"
[code]

[2020-01-26 10:05] jeffzi opened #31325 "BUG: MultiIndex intersection with sort=False does not preserve order"
[code]
<sup>Created on 2020-01-25 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>

#### Problem description

The intersection of 2 `MultiIndex` with `sort=False` does not preserve the order, whereas other logical operators on Index and MultiIndex preserve order when `sort=False`.

#### Expected Output

The intersection of 2 `MultiIndex` with `sort=False` should return the comm

[2020-01-26 13:39] ShamanthNyk commented on #30984
Can I work on this?

[2020-01-26 13:55] fujiaxiang commented on #31269
I think you are not on the latest master. You can see that the result you showed for both `pad` and `backfill` are not correct, and are inline with the behavior prior to PR #31101. Could you pull the latest master first?

[2020-01-26 14:38] punndcoder28 commented on #31269
Yes, my mistake. I built from the latest master and I am getting the errors.

[2020-01-26 16:09] jeffzi opened #31326 "BUG: inconsistent behaviors for Index.union() and Index.intersection() with duplicates"
While working on #31312, I noticed that the behavior of `Index.union()` and `Index.intersection()` is inconsistent when there are duplicates in one of the Index.

[code]

<sup>Created on 2020-01-26 by the [reprexpy package](https://github.com/crew102/reprexpy)</sup>
#### Problem description

1. The behavior of `intersection()` and `union()` when duplicates are present is not consistent between `In

[2020-01-26 16:23] joaoe opened #31327 "Consider moving tests/ outside the pandas module"
#### Problem description

Hi.
After a `pip install pandas` the `lib/site-packages/pands/tests/` includes a lot of testing code which is definitely not relevant for me and many other end users of pandas.
This bloats the installation and makes installation slower.
I'm working on packaging a python environment to distribute with a preinstalled set of modules and application and there are too many pop

[2020-01-26 16:57] charlesdong1991 commented on #31326
interesting, looks like a bug

[2020-01-26 17:35] YagoGG commented on #25190
I believe this issue has already been fixed in c983d52e3a3a8a191359814417f375b1dc8b04c1. Maybe it can be closed?

[2020-01-26 18:13] MarcoGorelli commented on #31327
Thanks for the suggestion - I think this is a duplicate of #30741 and so will close the issue for now, but please feel free to reopen if you disagree :)

[2020-01-26 18:13] #31327 closed

[2020-01-26 18:16] gfyoung commented on #25190
@YagoGG : Good question!  If this issue has been resolved, you can submit the code sample in the issue as a test, and that will close the issue.

[2020-01-26 18:55] gfyoung commented on #25190
Can confirm on [master](https://github.com/pandas-dev/pandas/commit/ca3bfcc54676b04ac5150c913328d26920bb2591) that the example works now.

[2020-01-26 19:03] joaoe commented on #31327
That seems like it. Thanks. I did search but could not find that issue.

[2020-01-26 19:03] nrebena opened #31330 "Rows order when using slice(None) on MultiIndex Dataframe.loc"
#### Code Sample

[code]
#### Problem description
When working on issue #22797,  I came across this situation about ordering the result of loc. Should the level not explicitely requested be used when ordering the result, and how.
This may be mostly cosmetic, are one should not rely on how the resulted row are ordered, and may be a non issue. If so, feel free to close it.

#### Expected Output
[cod

[2020-01-26 19:04] joaoe commented on #30741
Hi. i reported this elsewhere, so I'm pasting my comment here.

**My use case**
After a pip install pandas the lib/site-packages/pands/tests/ includes a lot of testing code which is definitely not relevant for me and many other end users of pandas.
This bloats the installation and makes installation slower.
I'm working on packaging a python environment to distribute with a preinstalled set of modu

[2020-01-26 23:17] dcsaba89 opened #31332 "Adding keep parameter to merge method"
Consider the following example:
import pandas as pd

x = pd.DataFrame({'A': [1, 2, 3], 'X': [11, 12, 13]})
y = pd.DataFrame({'A': [1, 1, 2, 2, 3, 3], 'Y': [111, 111, 222, 222, 333, 333]})

We want to extend x with column 'Y' from y, based on 'A'.

x1 = pd.merge(x, y, how='left', on='A')

When we check the result, we see new rows coming from y when a key in 'A' occurs multiple times in y.

It would

[2020-01-27 01:31] lithomas1 commented on #27522
take

[2020-01-27 03:19] MaxGhenis commented on #9540
#11028 became #11441, which was closed as stale. It'd be great to have.

[2020-01-27 04:34] dsaxton commented on #31298
Interesting find. If you take a look at the output of `len` by itself it works fine, but the shape changes when put into a list. `lambda x: x.isna().sum()` works also, but the error happens when you try to combine the two. I would guess it's caused by the misshapen output of `df.agg([len])`.

[code]

[2020-01-27 04:44] jphilippou27 opened #31336 "json normalize max level not working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code above is from the pandas docs. I'm running python 3.6.4 and pandas==0.22.0

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!

**Note**: M

[2020-01-27 04:45] jphilippou27 commented on #31336
See attached output

[2020-01-27 04:48] jphilippou27 commented on #31336
hmm seems like the pic isn't going through :

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-218-3f42a5e0f8ea> in <module>()
      7         {'id': 2, 'name': 'Faye Raker',
      8           'fitness': {'height': 130, 'weight': 60}}]
----> 9 json_normalize(data, max_level=0)

Typ

[2020-01-27 05:12] punndcoder28 commented on #31269
Hey @fujiaxiang . I went through the code but couldn't figure out where to make changes. Since you had worked on a similar issue could you give me some pointers?

[2020-01-27 05:23] WillAyd commented on #31336
Max_level is new in pandas 0.25.0 so you would have to upgrade to at least that for this to work

[2020-01-27 05:23] #31336 closed

[2020-01-27 06:35] jorisvandenbossche commented on #27522
@lithomas1 I think this warrants more discussion first.

Personally, I am not sure it is worth it to go through a renaming / deprecation. I think a "everything in pandas.core is private" is also a fine message.

[2020-01-27 07:22] mroeschke commented on #28672
Sounds like everything worked as expected now?

Going to close due to inactivity. However, if you are still experiencing issues with the latest version of pandas, feel free to open up a new issue with a minimal example.

[2020-01-27 07:22] #28672 closed

[2020-01-27 10:47] AlexKirko opened #31338 "BUG: Timestamp UTC offset incorrect for dateutil tz in ambiguous DST time"
#### Code Sample, a copy-pastable example if possible

If we make a Timestamp in an ambiguous DST period while specifying via the offset (or by supplying `Timestamp.value` directly) that the time is before DST switch, the representation then shows that this is after DST switch. This is backed up by calling `Timestamp.tz.utcoffset(Timestamp)`.

[code]

#### Problem description

The reason for this

[2020-01-27 10:57] jreback commented on #31338
cc @pganssle

[2020-01-27 10:59] jreback commented on #31338
other options
- dateutil expose another method
- move utcoffset computation go pandas (calling private functions if needed)

[2020-01-27 11:00] matthiasleopold opened #31339 "Sometimes one day of when reading date fields"
#### Code Sample

[code]
#### Problem description

I read two date fields from two excel sheets. First date is one day off, second date is okay. I cannot see any reason for the difference in behavior. First date ('recalculated time') should be  2015-09-18.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit           : None
python

[2020-01-27 11:10] AlexKirko commented on #31338
dateutil could also expose a setting to signal if `total_seconds` of the timedelta implementation it's working on is DST-aware or not, and we could set it on our end. A number of ways this can be done, some less bad than others.

[2020-01-27 11:28] krasnikov138 opened #31340 "Bug: loc assignment results in wrong dtype"
Let's see output of this code snippet
[code]
#### Problem description
In this code we expect columns `'a', 'b', 'c'` will have types `float32`. But in fact the result is:
[code]
Bug occurs when the value in column is close to integer. In other words, for `df = pd.DataFrame({'id': ['A'], 'a': [1.2], 'b': [1.0], 'c': [-2.5]})` behavior will be the same. However, if df has 2 rows or more the result i

[2020-01-27 11:40] MarcoGorelli commented on #31339
If you convert to a `pandas.Timestamp` first, then you'll get your desired output:
[code]

I believe the reason is that otherwise, `df[df.columns[3]][16]` is a `datetime` object which will use your local timezone. I presume you live in a place where your timezone is the same as UTC, except for between March and October when you observe Daylight Saving time.

[2020-01-27 11:51] matthiasleopold commented on #31339
Thank you it's working!

[2020-01-27 11:51] #31339 closed

[2020-01-27 11:54] AlexKirko commented on #31338
Just in case it's useful.

The reason that correction in '_resolve_ambiguous_time` is necessary is because `dateutil` replaces `tzinfo` of the datetime with `None` before calculating `total_seconds`. This makes the `datetime.timedelta` calculation ignore the `fold` parameter. So the time is assumed to be non-DST (after the shift). Maybe something could be done at that stage. I'll look into it furt

[2020-01-27 12:28] #31324 closed

[2020-01-27 12:29] #27357 closed

[2020-01-27 13:25] akukuq commented on #27407
I would like to add that even when using a normal index (i.e. not a `MultiIndex`) it is possible to assign that index a name (`df.index.name = "some_name"`). In such cases it would make sense to use the assigned name in the `namedtuples` yielded by `itertuples`.

### Expected Output
[code]

[2020-01-27 13:48] MarcoGorelli commented on #31340
Thanks for the report. I couldn't reproduce this on master:
[code]

[2020-01-27 14:09] TomAugspurger opened #31342 "CI Failing on IPython tab complete test"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=26868&view=logs&j=a3a13ea8-7cf0-5bdb-71bb-6ac8830ae35c&t=add65f64-6c25-5783-8fd6-d9aa1b63d9d4

[code]

taking a look now.

[2020-01-27 14:10] TomAugspurger commented on #31256
I don't believe this is fixed by https://github.com/pandas-dev/pandas/pull/31238.

[2020-01-27 14:14] TomAugspurger commented on #31342
Ah, fixed by https://github.com/pandas-dev/pandas/pull/31323 already.

[2020-01-27 14:14] #31342 closed

[2020-01-27 14:30] Dr-Irv commented on #22384
@jorisvandenbossche Based on something I wrote here (https://github.com/pandas-dev/pandas/issues/31204#issuecomment-578253063) with respect to `StringDtype`, I'm wondering if the rules you wrote above should be reversed.

You wrote:

if values is a numpy array, we call astype if dtype is a numpy dtype, otherwise go further with next step below
if values is an EA, we call EA.__astype(dtype) -> if t

[2020-01-27 14:40] TomAugspurger commented on #31248
@jbrockmendel do you have thoughts on how to fix this?

[2020-01-27 14:48] charlesdong1991 commented on #31256
no, it won't be fixed by 31238. i initially thought this was a duplicate, but after seeing the fix i re-assigned to myself. i already found the issue, will submit a patch later tonight to make sure this can be included before 1.0.0 releases.

[2020-01-27 14:58] TomAugspurger commented on #29884
Pushing this from 1.0 unfortunately. We'll need to re-evaluate how to proceed, but I think an option to control the `na_position` in `sort_values` makes the most sense.

[2020-01-27 14:59] TomAugspurger commented on #29556
Closing, though will address any remaining tasks in dedicated issues.

[2020-01-27 14:59] #29556 closed

[2020-01-27 15:00] TomAugspurger commented on #26706
Doesn't seem to be happening for 1.0. Pushing.

[2020-01-27 15:08] TomAugspurger commented on #30742
Any suggestions for the `.closed` regression?

IIUC, the additional overhead comes from going through `accessor.PandasDelegate`. Some options

1. Just manually write the definition of IntervalIndex.closed
2. Make `IntervalIndex.closed` cache readonly
3. Some simpler mixin, such that the definition of IntervalIndex.closed becomes just `._data.closed`, rather than the dynamic `_delegate_property_get

[2020-01-27 15:10] TomAugspurger commented on #30944
I'm going to move this off 1.0.0, I think that `.searchsorted(NA)` not working will be a known limitation.

The fix for `cut(IntegerArray)` is targeted for 1.0.0.

[2020-01-27 15:24] GYHHAHA opened #31344 "Why [] operation on float index doesn't work the same way as int index?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm a little confused with the [] operation on numerical index.
It seems that when [] applied to the int index, it is compared with the exact position, whereas the [] operation on float is compared with the index's value.
Thanks!

[2020-01-27 15:28] pganssle commented on #31338
I don't think you've quite diagnosed the problem correctly.  It is true that pandas apparently uses non-standard [datetime arithmetic semantics](https://blog.ganssle.io/articles/2018/02/aware-datetime-arithmetic.html), which could cause problems, but in this case the issue seems to be that `pandas.Timestamp` does not hold a `fold` attribute for some reason:

[code]

`pytz` doesn't have this proble

[2020-01-27 15:28] immaxchen opened #31345 "ENH: `Styler.highlight_null` to accept `subset` argument"
#### Code Sample, a copy-pastable example if possible

[code]
out:
[code]
#### Problem description

Most of the `Styler` built-in methods support `subset` argument, except `highlight_null`.
I think it would be nice if we make it consistent with `highlight_min` and `highlight_max` etc.
This also improves the api completeness for missing values styling and formatting. [(as discussed here)](https://g

[2020-01-27 15:39] jschendel commented on #31248
@TomAugspurger : This can be fixed by excluding these index types from the `libreduction` path by checking against the `_has_complex_internals` property as I've defined it in #31238.  Just a matter of merging that PR first so `_has_complex_internals` is available (or doing this fix as part of that PR).

[2020-01-27 15:42] TomAugspurger commented on #31248
Thanks. I think that PR can contain the check as well.

On Mon, Jan 27, 2020 at 9:39 AM Jeremy Schendel <notifications@github.com>
wrote:

[2020-01-27 15:51] norton120 opened #31351 "read_sql routes sql query as table name snowflake-sqlalchemy"
#### Code Sample
with [snowflake-sqlalchemy ](https://github.com/snowflakedb/snowflake-sqlalchemy) installed:

[code]
stack:
[code]
#### Problem description
`read_sql` attempts to read sql queries as tables when running against snowflake. Calling `read_sql_query` is a workaround.

looks like [this line](https://github.com/pandas-dev/pandas/blob/5c37a0b9caaed81ff3999d05b16be1303d184d77/pandas/io/sq

[2020-01-27 15:54] rouxrei commented on #12355
Here's a usecase:
You want to guarantee that your specified end_date is a value in the resulting set of values.

Say you do
[code]

You get
[code]
Which means my specified end_date is not a value in my list.
_(Note the month values)_

With this flag, or "reverse generation" I would expect to get this instead:
[code]
_(Note the month values)_

[2020-01-27 15:58] MarcoGorelli commented on #7501
Looks like it's been opened here #31344

[2020-01-27 16:01] MarcoGorelli commented on #31344
Thanks for the report, seems like it's an open issue (see #7501)

In the meantime, to avoid ambiguity, it's recommended to use either `.loc` for label-based indexing, or `.iloc` for position-based indexing

[2020-01-27 16:12] jbrockmendel commented on #30742
indexes.extension.inherit_names has a cache kwarg to turn a property into a cache_readonly.  I can update #30860 to make closed (and anything else?) cached.

[2020-01-27 16:13] TomAugspurger commented on #30742
I think just `closed` IntervalIndex.

[2020-01-27 16:19] pganssle opened #31354 "BUG: Timedelta components rounded by float imprecision"
#### Problem description

It appears that there is some premature rounding happening in the `Timedelta` constructor that makes it so the unit-adjusted sums of the `days`, `seconds`, `microseconds` and `nanoseconds` attributes do not sum to the total number of nanoseconds. A fundamental assumption of the `datetime.timedelta` type (and breaking this assumption breaks Liskov substitutability) is that

[2020-01-27 16:24] mroeschke commented on #31338
xref https://github.com/pandas-dev/pandas/issues/25057 for `Timestamp` not supporting fold

[2020-01-27 16:25] mobiusklein opened #31355 "BUG: Calling cartesian_product with large combinatorial space overflows int64 gives misleading errors"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This issue is similar to #9096, when performing a `groupby` over many columns with a large key space and invoking a reduction over one column, the solution is computed correctly but an error occurs when constructing the result's index with `MultiIndex.from_product`. The error occurs in `cartesian_product`, wher

[2020-01-27 16:26] jbrockmendel commented on #31248
I think @jschendel is on the right track with just avoiding _index_data altogether.  For CategoricalIndex we _could_ kludge it together, but I don't think its possible for IntervalIndex.

[2020-01-27 17:13] gerritholl opened #31356 "AssertionError creating array with StringDtype instead of StringDtype(), can we have a friendlier error message?"
The following fails with an `AssertionError` on pandas 1.0.0rc0:

[code]

I wrote this by mistake — this works:

[code]

When running the former, I get a traceback with an AssertionError:

[code]

Coming from numpy, I find it unconventional that the type ending in `dtype` is not itself a valid dtype, but rather a constructor for such a dtype.  Therefore, I would consider that a friendlier error me

[2020-01-27 17:28] jbrockmendel commented on #30892
Looks like catching InvalidIndexError in the spot @jorisvandenbossche pointed out in #28361 fixes one of the two problems (on master both of the examples raise, not just the second).  i expect that the other can be fixed by catching elsewhere fairly high-up.  I'll get a PR for this in hopefully today.

Longer-term, the underlying problem looks like MultiIndex.get_loc is doing something weird that

[2020-01-27 17:41] amueller opened #31357 "Using matplotlib scatter legends?"
Matplotlib now allows doing legends for categorical data in scatter:
https://matplotlib.org/gallery/lines_bars_and_markers/scatter_with_legend.html

Is that something that pandas could/should use?
I feel like there's a tricky issue in deciding whether the color variable is categorical but basically matplotlib allows us now to treat the case and I'm not sure if treating all cases as continuous make

[2020-01-27 17:54] MarcoGorelli commented on #31250
Thanks for the suggestion - seems like a duplicate of #11250, so I'll close this for now (but please let me know if you disagree).

The original issue is still open by the way, feel free to submit a pull request!

[2020-01-27 17:54] #31250 closed

[2020-01-27 19:15] tacaswell commented on #30867
Can the exception raised be `IndexError` or `TypeError` as per https://github.com/matplotlib/matplotlib/pull/15007/files#r312455732 ?  From quickly skimming  #30588 it looks like it is `ValueError`, sorry for the noise if I am confused.

[2020-01-27 19:20] jorisvandenbossche commented on #30867
For now, it should only raise a deprecation warning, and not yet an error (the error in the linked PR is if you explicitly construct an Index with eg `Index(..)` and passing it 2D data; the 2D indexing (`idx[:, None]`) is only deprecated)

[2020-01-27 19:59] jorisvandenbossche commented on #29556
Yes, sorry for the slow reply, this was fine to close. The combined docs of all PRs about this issues could maybe use a check / review, but no need to keep it open for that.

[2020-01-27 20:18] jjotterson opened #31364 "to_numeric with errors = "coerce" is adding digits at the end"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Current behavior:  pandas to_numeric, when using errors='coerce' seem to randomly add
decimals at the end of the number.

#### Expected Output

no decimals should be added at the end.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED

[2020-01-27 20:25] jorisvandenbossche commented on #30742
I don't think it's just `closed`, it's all attributes that use the same mechanism.

I think we could also have a version of PandasDelagate that is specific for the indexes that have `_data` as the underlying data as extension array. I think that way, it can be written more specific / more efficient.

[2020-01-27 20:31] jorisvandenbossche commented on #9595
@jbrockmendel can you first open (or search) an issue for this to have a discussion about it?

[2020-01-27 20:47] charlesdong1991 commented on #31256
Hi @TomAugspurger

I have a question about the current behaviour, currently, on 0.25.3,
[code]
there is an extra index after aggregation, and I am not very sure if this is desired behaviour? could you pls give some thoughts on it? it seems that this extra index comes from output of mode which is a `Series`. should this be like this? or this extra index should be removed?

[2020-01-27 20:53] jjotterson commented on #31364
being more precise, I am getting:

df2.value[[4,36,47]].to_list()

to be
[243.16400000000002, 413.07300000000004, 474.86400000000003]

instead of

[243.164, 413.073, 474.864]

[2020-01-27 21:00] TomAugspurger commented on #31256
I'm not sure what the desired behavior is there.

On Mon, Jan 27, 2020 at 2:47 PM Kaiqi Dong <notifications@github.com> wrote:

[2020-01-27 21:15] tlaytongoogle opened #31368 "Index name assignment resolution logic changes depending on whether DataFrame has any rows"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`get_name_of_assigned_index(n, m)` returns `'df_index'` *unless* `n = 0`, in which case it returns `'series_index'`.

I don't know which of these is necessarily the better behavior, but the resulting index name ought to be consistent regardless of how many - or few - rows are in the DataFrame. Subsequent operat

[2020-01-27 21:27] TomAugspurger opened #31369 "Center align the text and icons in documentation index"
At https://dev.pandas.io/docs/index.html, the alignment is slightly off. Especially notable for User Guide and API reference

![Screen Shot 2020-01-27 at 3 27 16 PM](https://user-images.githubusercontent.com/1312546/73215355-90f22e80-4119-11ea-9f6b-d9bedd1f332b.png)

cc @jorisvandenbossche

[2020-01-27 21:43] jbrockmendel opened #31370 "REF: IntervalIndex dispatch more methods to IntervalArray"
I think we can de-duplicate some more code by a) noticing that IntervalArray._check_closed_matches is performing the same task as DatetimeLikeArrayMixin._check_compatible_with and b) dispatching to IntervalArray methods more.

`_concat_same_dtype` could become (this could even go as the default in ExtensionIndex)

[code]

`insert` could look like (also could go into ExtensionIndex):

[code]

Tried

[2020-01-27 23:03] giuliobeseghi opened #31372 "Allow non-inplace option for `ndframe.update()`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Obviously the previous doesn't work. `s.update(t)` is executed inplace, and doesn't return anything. I see no reasons why one shouldn't be able to call `update` and get a new object (for example to allow method chaining).

The easiest way of implementing this is by allowing a parameter that makes the function r

[2020-01-27 23:10] giuliobeseghi commented on #10730
My use case is:
[code]

I can't use `loc` because the index of a series is not necessarily contained in another

[2020-01-27 23:11] miaoz2001 commented on #31197
@jorisvandenbossche , thanks for the advice, i will try to find out

[2020-01-27 23:37] tacaswell commented on #30867
It is clear that it is just warning for now, but on the Matplotlib side I am banking on it raising either `IndexError` or `TypeError` (as it will "just work" for us in that case).  If you want to raise something different, would it be possible to decide that now so we don't have a crisis when it does change over to raising ;)

[2020-01-28 00:38] Liam3851 commented on #10730
@giuliobeseghi If I understand correctly, it sounds like your use case would be solved by using combine_first instead of update?

[code]

[2020-01-28 01:57] #31223 closed

[2020-01-28 01:57] #31248 closed

[2020-01-28 01:59] #30892 closed

[2020-01-28 06:01] mroeschke commented on #31354
I suspect this line might be responsible for premature rounding:

https://github.com/pandas-dev/pandas/blob/0a099d8415cbc9f5701902affb31e2eb726bd859/pandas/_libs/tslibs/timedeltas.pyx#L1253

[code]

`pd.Timedelta` actually has private attributes that can compose `value` accurately, we just need to ensure that the corresponding attributes in `datetime.timedelta` are passed those

[code]

[2020-01-28 06:17] jorisvandenbossche commented on #30867
Ah, OK, I understand.
I would say either IndexError or ValueError, but I think IndexError can do (it's what you get in numpy if you index with too many dimensions, although here it's a bit different of course, as expanding dimensions is normally allowed in numy)

@jbrockmendel opinion on this?

[2020-01-28 06:50] jorisvandenbossche commented on #31369
Hmm, indeed. Looking at it with browser developer tools, for some reason there is padding on the left but no on the right in the `card-img-top` div.

Removing

[code]

from pandas.css seems to help (it makes there is a bit less whitespace above the icons, but not sure that is a problem)

cc @stijnvanhoey

[2020-01-28 07:11] devarshigoswami opened #31379 "Pandas: cannot set a Timestamp with a non-timestamp"
I have a data-frame of the following order: https://imgur.com/a/fp2hKZe on which i ran the following code
[code]
#### Problem description

When i run the same code for a much smaller data-set, it gives proper output
[code]

[code]

But when i change the  data-set, i get The **ValueError**
#### Expected Output

  | TC | lbl | date
-- | -- | -- | --
0 | 101 | f | 2017-12-28
1 | 101 | f | 607 days, 0

[2020-01-28 07:14] jorisvandenbossche commented on #29752
For me that is fine if that's a compromise that most people can live with. In that case we should update the doc sections on "Nullable integer data type" to something like "Integer data type with NA missing value" or .. (that's a bit long for a title though)

But personally, I would just propose: let's define "nullable" as "dtype that uses NA" in *context of the pandas docs / dtypes in pandas*. It

[2020-01-28 07:38] omri374 opened #31381 "loc on Series returning scalar when result size is 1"
#### Code Sample

[code]
Calling `.loc` when the result length is 2 returns a Series (as expected):
[code]
Output:
[code]

Calling `.loc` when the result length is 1 returns a `str`:
[code]
Output:
[code]
#### Problem description

The fact that the same code returns different types causes inconsistencies. If I run `len` on the result, I would get 2 for `id=3` and 5 for `id=1` or `id=2`, since the

[2020-01-28 07:47] AlexKirko commented on #31338
@pganssle
Thanks. I did some more testing and you are absolutely right:

[code]

My hypothesis that `pandas` arithmetic somehow incorporates `fold` into it was wrong, and this is good for us. In theory, once we add fold to the Timestamp constructor, this bug should be fixed. If so, we can mark this issue as a dupplicate for #25057.
I'll see if I can come up with a solution.

[2020-01-28 07:47] AlexKirko commented on #31338
take

[2020-01-28 07:55] AlexKirko commented on #31338
@pganssle
Does dateutil's handling of the problem depend on `Python >= 3.6` then?

[2020-01-28 08:32] rushabh-v commented on #29026
Is this a potential feature? @jbrockmendel . If yes, then I would like to work on this.

[2020-01-28 09:38] MarcoGorelli commented on #31368
Thanks for the report - could you please make sure your snippet is [self-contained](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#bug-reports-and-enhancement-requests)?

Currently, it's not runnable (missing brackets at the end of the DataFrame and Series constructors, undefined variables `n` and `m` in the function `get_name_of_assigned_index`)

[2020-01-28 09:40] #31372 closed

[2020-01-28 09:44] jreback commented on #29026
-1 in expanding the api in its current form of to_csv; we already have a lot of keywords

would need deprecation / refactoring to generalize the way options are specified for formats

-0 in this particular option - this i suppose makes the csv more human readable

[2020-01-28 09:45] MarcoGorelli commented on #31379
Thanks for your report - can you please try to make a [self-contained snippet which reproduces the error](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#bug-reports-and-enhancement-requests)? Currently you've provided us with data which doesn't reproduce the error, and haven't included the full error message (did you get anything else along with `ValueError`?)

[2020-01-28 09:47] giuliobeseghi commented on #24357
The same happens with unaligned series without nans:

[code]
| x | y |
|---|-----|
| 0  | 1.0 |
| 1  | 2.0 |
| 2  | 3.0 |
| 3  | 10.0 |
| 4  | 11.0 |
| 5  | 12.0 |

The series shouldn't have any floats

[sorry for i-v, I didn't know how to render a pandas Series in a markdown document]

[2020-01-28 09:48] jreback commented on #31381
this is a duplicate issue - pls do a detailed search

[2020-01-28 09:48] jorisvandenbossche commented on #15888
Given that we now have a BooleanDtype that supports missing values (although with another approach of an additional mask instead of -1 for the missing values), I don't think this is still something we want to pursue?

[2020-01-28 09:54] giuliobeseghi commented on #10730
You are right.

Thanks for that, I got confused with the example: I might have to keep the `nans` of the most recent series. I realised I can do with `reindex` + `loc`:
[code]

It would be good if `combine_first` had an option to overwrite values even if thery're `np.nan` :)

[2020-01-28 10:00] MarcoGorelli commented on #31142
Go ahead :) Please refer to the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) if you're unsure how to get started

[2020-01-28 10:01] jreback commented on #15888
yeah this is it necessary anymore, though it’s slightly more efficient in memory compared to the current (and future implementation with a bit mask)

but not worth the effort

[2020-01-28 10:01] #15888 closed

[2020-01-28 10:09] jicky94 opened #31385 "pd.read_sas with chunksize option raises IndexError"
Good morning,

Using Python 3.6.

My problem seems to be close to issue [#14734](https://github.com/pandas-dev/pandas/issues/14734) but with a different error type though. However, please forgive my lack of competence, but I am not able to understand 1. if my issue is really similar and 2. if the issue that seemed to surround some sas files has been solved or if there might still be some probleùs

[2020-01-28 10:10] MarcoGorelli commented on #31340
Will close this then, as it looks like it's been fixed already

[2020-01-28 10:18] jreback commented on #31340
@MarcoGorelli i think this is worth a validation test (unless we already have something that is pretty close in the tests)

[2020-01-28 10:52] lamourj commented on #31080
Thanks for the answer. Any ideas how you would approach this ?

[2020-01-28 10:58] jreback commented on #31080
i have no idea what np.isin actually does with non numpy types; not even sure why you would want to do this; Series.isin is well supported, tested and type aware

we do have numpy ufunc compatibility but don’t know how np.isin behaves

[2020-01-28 11:25] MarcoGorelli commented on #31340
Admittedly I hadn't checked for that, sorry - have reopened for now, will take a look later

[2020-01-28 11:47] omri374 commented on #31381
Couldn't find this issue.

[2020-01-28 11:56] jreback commented on #31381
oldie but goodie
https://github.com/pandas-dev/pandas/issues/9519

welcome to have go at impl
note this would be a breaking change so would need to simply deprecate things for now

[2020-01-28 11:56] #31381 closed

[2020-01-28 12:40] TomAugspurger opened #31389 "Handle ExtensionArrays in cut"
Followup to https://github.com/pandas-dev/pandas/pull/31290. Currently `pd.cut` doesn't play nicely with all extension arrays. To support them, I think we'll need one addition to the interface.

We need an array of integers to pass to searchsorted in https://github.com/pandas-dev/pandas/blob/4edcc5541ff3f6470f5e3c083cb83136119e6f0c/pandas/core/reshape/tile.py#L394. I think the only requirement is

[2020-01-28 13:13] juseg commented on #11574
The above code seems to work in the more recent pandas versions. On the other hand combining pandas `ts.plot()` with matplotlib `ax.plot()` methods produces wrong results as for the above referenced other issues.

[2020-01-28 13:26] MarcoGorelli commented on #31385
Thanks for the report, Axelle

There's some `.sas` files in `pandas/io/tests/sas/data` - in order to expedite resolution of this issue, could you try reproducing this with one of them?

[2020-01-28 13:31] MarcoGorelli opened #31391 "SAS class comment mentions inexistant path"
`pandas/asv_bench/benchmarks/io/sas.py` :

However, the files are in  'pandas/tests/io/sas/data'.

EDIT:
unrelated typo: there's lots of places in the codebase that use "rather then" instead of "rather than". As this is also a minor typo that doesn't affect any code, I think it'd be OK to address both in the same pull request

[2020-01-28 14:27] pganssle commented on #31338
@AlexKirko No, dateutil has a backport that returns a datetime subclass with a fold attribute if the normal datetime object doesn't have a fold attribute.

In this case it shouldn't matter much, because Timestamp is itself a datetime subclass, and so the main thing that matters is that it has a meaningful fold attribute.

[2020-01-28 14:28] jicky94 commented on #31385
Thanks, i tried with several of the datasets provided and it worked perfectly well.. Unfortunately i cannot provide the datasets i am using to check further. Do you think there still might be some issues with some sas files? Many thanks again.

[2020-01-28 15:03] TomAugspurger commented on #31369
I think it looks fine without the margin.
![Screen Shot 2020-01-28 at 9 02 54 AM](https://user-images.githubusercontent.com/1312546/73275611-00fdc480-41ad-11ea-8abf-5165cb151165.png)

[2020-01-28 15:09] rkurio commented on #29803
Running into the same issue, surprisingly, didn't face it earlier. Can someone please suggest the work around.

[2020-01-28 15:24] TomAugspurger commented on #31256
@charlesdong1991 I don't think that case is valid. `.agg(f)` is supposed to return a scalar. But `Series.mode` isn't an aggregation, it returns a Series.

[2020-01-28 15:27] TomAugspurger commented on #30742
@jbrockmendel does https://github.com/pandas-dev/pandas/pull/30860 close this, or is the caching being done in a separate PR?

Or do we want a PandasDelegate subclass that's specific to cases where `Index.attr` is just `Index._data.attr`?

[2020-01-28 15:29] TomAugspurger commented on #25495
This was fixed by https://github.com/pandas-dev/pandas/pull/29393.

[2020-01-28 15:29] #25495 closed

[2020-01-28 15:32] jorisvandenbossche commented on #30742
BTW, I don't think this should necessarily be a blocker for 1.0.
But we should keep this in mind for all index->EA delegation refactor that is happening, and look into improving this.

[2020-01-28 15:41] jorisvandenbossche commented on #27837
So in the meantime, the Index behaviour is deprecated (#30588). I tagged the issue with 1.1 to not forget that we should also deprecate the same behaviour for Series.

[2020-01-28 16:08] jmarshall9120 commented on #24357
@giuliobeseghi

Your t Series has nan's at index 1 & 2.  That's why your having the same result as me.

[2020-01-28 16:18] #31369 closed

[2020-01-28 16:20] tlaytongoogle commented on #31368
Sorry; should be correct now.

[2020-01-28 16:51] jeandersonbc commented on #31391
Hi @MarcoGorelli,
about the "rather then" typo, I found those occurrences:

[code]

Is it ok if I submitt a PR and assign you as the reviewer?

[2020-01-28 16:58] TomAugspurger commented on #31256
@jorisvandenbossche do you think this is a blocker?

[2020-01-28 17:18] cddf opened #31396 "TypeError when using 'comment=...' in read_csv from a file"
#### Code Sample

Given a data file `data.csv` with a line that is commented out:
[code]
[code]
#### Problem description

It raises a `TypeError` when using the `comment` parameter:

<details>
<summary>TypeError</summary>

[code]

</details>

Without the comment in the data file and without the parameter `comment='#'` everything works as expected.

**It seems that `sep=None` ist the problem here.*

[2020-01-28 17:31] ShamanthNyk commented on #30232
Is the issue still open?
I would like to work on this

[2020-01-28 17:52] jorisvandenbossche commented on #31256
The mode issue is fishy (I am also not sure how/if this should work, as it is not a typical aggregation), but the other ones seem more as actual regressions:

pd 0.25:
[code]

vs master
[code]

[2020-01-28 17:54] jorisvandenbossche commented on #31256
Here it is the column being aggregated that is a categorical, the other issue it was the index of the dataframe being categorical

[2020-01-28 17:56] jorisvandenbossche commented on #31256
cc @jbrockmendel

[2020-01-28 18:05] SoundBoySelecta commented on #10231
Ive had to use df.style to get scroll bars (vert/horz)

[2020-01-28 18:21] xmnlab opened #31398 "NTile function"
#### Problem description

I've investigated on pandas a `ntile` operation alternative. I just found `qcut` but it seems there is a difference between them (at least I could have the same results I expected).

for more details about `NTile`[3] :

I have locally a python version of this function, is this something I could open a PR to pandas? if yes, I would be very happy to work on this PR.

any fe

[2020-01-28 18:23] jorisvandenbossche commented on #31389
Another option is some masked version (and then the option for the EA to either return a mask, or either return an na_value that sorts correctly).

For this specific case, I think we know that `bins` will not have any NAs? And so the missing values in `x` just need to be propagated? So they don't actually need to be searchsorted correctly, we could mask them out.

This might be solved together wit

[2020-01-28 18:40] TomAugspurger commented on #31389
AFAICT, yes. We can pass nonsense values for NA values into `np.searchsorted(bins, x)` since they're masked later on. The only requirement is that it's an integer.

[2020-01-28 19:02] MarcoGorelli commented on #31398
Thanks for the suggestion

Could you please document the difference, perhaps with an example?

[2020-01-28 19:21] charlesdong1991 commented on #31256
Hi, @jorisvandenbossche  and @TomAugspurger  sorry for having it as blocker (I am trying to fix tonight) and many thanks for your answer!

While working on the PR, i found another behaviour issue: is `Int64` an extension array dtype?

[code]

IIUC, `is_extension_type` should be replaced by `is_extension_array_dtype`, and later be deprecated, so this two should return the same result. And in my opi

[2020-01-28 19:30] dauss75 opened #31400 "read_csv error for a long entry"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
After reading a csv file, all the entries after a particular column in only one row shows as 'na', not the real value.  This is due to the character length (469 including spaces) in that particular column entry as removing some characters do load the data properly. Is there any way to load the file properly? I d

[2020-01-28 19:34] jbrockmendel commented on #30742
#30860 did the caching for `closed` but there may be other properties that can be made cached

[2020-01-28 20:10] s-scherrer commented on #31396
I could reproduce your issue with the same versions of python and pandas. The problem also occurs without the comment in the file, but with `comment='#'`.

It seems like `line` in line 2429 of `pandas/io/parsers.py`, which is passed into `csv.Sniffer().sniff`` is a list of characters instead of a string.

[2020-01-28 20:31] jbrockmendel commented on #31256
is_extension_type is deprecated not because the behavior is identical to is_extension_array_dtype, but because the small difference is misleading.  The three cases it does catch are AFAICT the three EAs we had at the time it was implemented.  If you wanted to extend it to catch the newer EAs, that would probably be OK.

[2020-01-28 20:57] #31109 closed

[2020-01-28 21:10] dauss75 commented on #31400
it turned out that there was a hash symbol in that entry clearing the following entries of that row.

[2020-01-28 21:10] #31400 closed

[2020-01-28 21:19] xmnlab commented on #31398
@MarcoGorelli this is my example: https://gist.github.com/xmnlab/2c1f93df1a6c6bde4e32c8579117e9cc

if I could just use `qcut` that would be also ... let me know if I am missing some parameter there :)

thank you so much for your attention!

[2020-01-28 22:24] jbrockmendel commented on #30867
IndexError strikes me as weird here, but if numpy does it I guess we can go along.  ValueError sounds a bit better than TypeError, but I agree that choosing something and being consistent is more important than the exact choice.

Another alternative would be to raise InvalidIndexError (which we can document the meaning of more precisely), and have that subclass LookupError for matplotlib to catch.

[2020-01-28 22:38] tacaswell commented on #30867
For xref purposes https://github.com/matplotlib/matplotlib/pull/16347/files is how we are currently going to handle this.

[2020-01-28 22:49] charlesdong1991 opened #31407 "CI: revert the warning change once IPython updates"
A couple days ago, there was a CI broken caused by the latest jedi release, and back then, made a patch to catch the warning. Ideally, after ipython updates and fixes the deprecated code, then the warning should be removed, and we should be able to revert the change in #31323

FYI, I created an issue on IPython: https://github.com/ipython/ipython/issues/12102

[2020-01-28 22:52] charlesdong1991 commented on #31357
take

[2020-01-28 22:54] charlesdong1991 commented on #31357
@amueller  looks nice! would be nice to have it, I will check and see if a patch can be made to add this feature

[2020-01-29 03:20] GYHHAHA opened #31410 "Cross tabulations for categorical data doesn't work as the way expected in the guide"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the latest [user guide](https://dev.pandas.io/docs/user_guide/reshaping.html#cross-tabulations), it says "Any input passed containing Categorical data will have all of its categories included in the cross-tabulation, even if the actual data does not contain any instances of a particular category.". But why t

[2020-01-29 05:11] devarshigoswami commented on #31379
it@MarcoGorelli  I am sorry , I found out that the issue was actually due to  a grave  miscalculation in datatypes of columns

[2020-01-29 05:11] #31379 closed

[2020-01-29 06:06] hvardhan20 opened #31413 "Series.append(DataFrame) should throw TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The behavior of append is the same as it is in 0.25.3 when a DataFrame is appended to Series. But it should actually throw a TypeError when passed a DataFrame.
We clearly document that the elements passed to append should be Series or list/tuple of Series.
Also according to [this](https://github.com/pandas-dev/

[2020-01-29 06:20] vandana-iyer commented on #29547
Taking on:

[x] pandas/tests/reshape/test_reshape.py
[x] pandas/tests/scalar/period/test_period.py

[2020-01-29 08:12] AlexKirko commented on #31338
@pganssle Thanks.

Started looking into it. Caught a cold, but I still hope to have something by the end of the week.

[2020-01-29 08:15] MarcoGorelli commented on #31391
Closed by #31395

[2020-01-29 08:15] #31391 closed

[2020-01-29 08:15] EinarJohnsen commented on #28893
Fixed in https://github.com/pandas-dev/pandas/pull/28215

[2020-01-29 08:15] #28893 closed

[2020-01-29 09:11] jorisvandenbossche commented on #28924
The problem we are running into here is the general problem that comes up regularly: the dividing line between "scalar" objects and "lists/arrays of scalar objects" is not a clear line. And Pandas has especially problems with scalars that are iterable themselves (I think @jbrockmendel we also ran into this few months ago with one of your groupby refactoring PRs).

That comes up for geopandas becau

[2020-01-29 09:29] dougvj opened #31414 "Cannot replace all occurences of infs and nans to None with a single df.replace"
#### Example code

[code]
#### Problem description
When trying to replace all occurrences of `NaN`s and `Inf`s to `None`s the resulting dataframe simply contains 'NaNs' for every occurrence, retaining the dtype of `float64` rather than the expected `object`.  A work around is to simply issue the replace again with only `np.nan` to `None`.

This behavior was discovered when trying to convert the co

[2020-01-29 09:29] giuliobeseghi commented on #10730
Shall we suggest `combine_first` in the docs of `Series.update` and `DataFrame.update`?

"For non-inplace update consider `combine_first`"

[2020-01-29 10:10] MarcoGorelli commented on #31385
Don't know :) Perhaps you could try making your own sas file which mimics the format of the data you're using on your server, and then see if you can reproduce the issue there?

[2020-01-29 10:59] cddf commented on #31396
Nice! Thank you for your fast investigation :+1:

I think, in principle it's good practice to make an extra test. But I'm not active in pandas development.

[2020-01-29 12:01] dhirschfeld opened #31415 "Bug in AbstractHolidayCalendar.holidays"
...when there are no rules.

[code]
[code]

[2020-01-29 12:04] dhirschfeld commented on #31415
As can be seen below:
https://github.com/pandas-dev/pandas/blob/ec0996c6751326eed17a0bb456fe1c550689a618/pandas/tseries/holiday.py#L409-L421

when `self.rules` is empty
[code]
You drop through the loop to L421:
[code]
where `holidays` remains unchanged from being set to `None` before the loop on L409.

[2020-01-29 12:04] #30738 closed

[2020-01-29 12:09] TomAugspurger commented on #27492
@pandas-dev/pandas-core I'm hoping to do the release today. The only potential blocker is https://github.com/pandas-dev/pandas/pull/31359, but that's a bit tricky. It's not clear what the best way forward is there (chime in there if you have thoughts).

Is there any objection to also pushing the new website to `pandas.pydata.org` at the same time?

[2020-01-29 13:24] zahash opened #31417 "helper method to sanitize column names of a pandas DataFrame"
I will add a method to sanitize column names of a pandas DataFrame and make a pull request
Below is the test code

[code]
This issue is about an enhancement

[2020-01-29 13:39] MarcoGorelli commented on #31410
Seems that you're right - thanks for the report, @GYHHAHA !

Are you interested in investigating the issue / opening a pull request?

[2020-01-29 14:35] scoder commented on #30886
I agree. May suggest that the problem is somewhere else entirely. From what I gather, the creation of the `TypeError` isn't the place where things go wrong. It's only the call that happens to detect that an exception was set earlier without being reported and now reports the inconsistent system state.

It could be that the `.format()` accidentally clears the error state along the way without looki

[2020-01-29 14:54] TomAugspurger commented on #31417
I think pyjanitor has something like this. I think "sanitize" is such a fuzzy concept it may not make sense for pandas proper.

[2020-01-29 15:11] abrahamdu opened #31420 "Can't pre-define dtype when reading data"
I am reading a pipe delimited file without headings into Pandas and I am using Pandas version 0.24.2. And this is public data so no worries around confidentiality.

The data looks like:

999778247820|R|JPMORGAN CHASE BANK, NATIONAL ASSOCIATION|7.375|113000|360|02/2001|04/2001|95|95|1|52|665|Y|P|SF|1|P|IL|601|30|FRM||1|N
999783196683|R|OTHER|7.25|59000|360|01/2001|04/2001|97|97|2|43|682|Y|P|PU|1|P|

[2020-01-29 15:26] DigitalPig opened #31422 "Inconsistent behavior when groupby pandas Categorical variables"
#### Code Sample, a copy-pastable example if possible

[code]

This gives the result:

[code]

#### Problem description

Clearly there is no record for category 'd'. When you group by one column, category 'd' result in sum of 0. When you do group by two columns, those non-existed row result in NaN. Those two are inconsistent.

#### Expected Output

Both results for `d` rows should be the same. I t

[2020-01-29 15:58] TomAugspurger commented on #31422
Thanks. We use 0 has the sum of empty / all NA, so 0 is the correct result here, not NaN.

[2020-01-29 16:45] jbrockmendel commented on #30886
To get things rolling, I can reproduce without the reindex, but it does appear to require `NaT`:

(this is on 8bdd7b13cff50e47551770ed5e8f780e04b2b5ea)
[code]

The traceback for `df.sum()` includes a `result = f(values)` in DataFrame._reduce (core.frame L7871, corresponds to L7976 in master).  This is inside a "try/except TypeError" but I don't see any obvious candidates for what would have raised

[2020-01-29 16:56] dsaxton commented on #31420
Can you try to create a minimal example and see if the problem persists? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Taking a quick look at the data it seems you're trying to cast columns containing NA values to int, which pandas won't allow.

[2020-01-29 17:29] abrahamdu commented on #31420
By changing int to float, it solves my issues. Thanks for your hint.

[2020-01-29 17:29] #31420 closed

[2020-01-29 17:37] TomAugspurger commented on #30867
All the 1.0 related items have been fixed I think.

[2020-01-29 18:37] MastafaF commented on #31245
Hi @mroeschke, suppose you have N rows with N being large enough to make you wait for several hours. It would be great to know at which row in the dataframe the apply is, similarly to what tqdm offers in a range.

[2020-01-29 18:41] yuvrajsingh86 commented on #31422
I think if the category does not exist, the value should be null. There is a possibility that combination of negative and positive can sum to 0.  Keeping value as null avoids any accidental use of these variables.

[2020-01-29 18:45] sirajali commented on #31422
I understand that for the existing categories, the aggregation treats NaNs as 0s when taking the sum. But for the category that does not exist, the aggregation is taking the sum of NaNs, essentially. Does it make sense to use 0 instead of NaN here?

[code]

The above gives ```nan``` as the result, and not 0.

[2020-01-29 19:18] dsaxton commented on #31422
@sirajali Here the sum is empty, which is different from summing `NaN` values:

[code]

[2020-01-29 19:22] pfyffe commented on #29965
I'm experiencing this issue as well. Did you find a work-around?

[2020-01-29 19:37] DigitalPig commented on #31422
I have a different opinion here.

So first, I think everyone agrees that there is an inconsistent issue of groupby and sum after grouping by between one column and two columns. And those need to be aligned.

The point that we disagree is whether those should be 0 or null. I found that the default behavior of pandas regarding all null column has change since [0.22](https://pandas.pydata.org/pandas-

[2020-01-29 19:42] TomAugspurger commented on #31422
You aren't doing a sum on categoricals here. Your *grouping* by a categorical, which determines the output index. Some of the groups are unobserved (length-0) and so their sum should be 0, matching `pd.Series([], dtype=int).sum()`.

Pandas' behavior is equivalent to nansum, not sum.

[2020-01-29 19:43] TomAugspurger commented on #29965
Can anyone provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-01-29 20:00] DigitalPig commented on #31422
First, I am not arguing the alignment between `pandas.groupby.sum` and `pd.Series([], dtype=int).sum()` or `np.nansum`. My argument here is `np.sum` makes more sense instead of `np.nansum` here.

I don't think so. So suppose I am monitoring a group of patient's daily calorie intake by day. There is one day that I did not test any one of them. And if I want to find out the total daily calorie intak

[2020-01-29 20:04] DigitalPig commented on #31422
If you check R `data.table` basically gives expected result:

[code]

Result:

[code]

[2020-01-29 20:20] #31256 closed

[2020-01-29 21:56] TomAugspurger commented on #27492
OK, tagging it!

[2020-01-29 23:05] seberg commented on #29978
Just a heads up, I have rebased that change in NumPy gh-14995, and would hope that fixing up pandas for it will be simple enough. It would be nice to get it over with (supporting such weird behaviours is just a pain moving forward). If you have concerns or we end up merging it and it is hard to catch up, let me know and we can revert...

[2020-01-29 23:10] TomAugspurger opened #31434 "pandas web and docs structure"
The site served by `web` assumes that the docs are served from a `/docs/` directory relative to the root. The content of that directory should be equivalent to what we have at https://pandas.pydata.org/pandas-docs/version/1.0.0/, so `/version/1.0.0/` or `/version/stable/`.

Should I symlink `/docs/` to `/version/stable/`? Does that mess with canonical urls?

cc @datapythonista.

[2020-01-29 23:20] jbrockmendel commented on #30886
Digging in a little further, it looks like it has something to do with whether the ndarray we end up summing in nanops.nansum is F-contiguous or not.  The relevant call ends up being `values.sum(0)`

[code]

@scoder is this verging on being helpful?  Worth pinging one of our numpy friends?

[2020-01-29 23:48] jbrockmendel commented on #30790
any other regressions we should focus on in the short term?

[2020-01-29 23:48] jbrockmendel commented on #28924
Two more xrefs that come to mind as potential fixes:

#29557 was specifically intended to put all nested-listlike logic in one place
#27462 to have is_scalar recognize EA-scalars

[2020-01-29 23:57] jbrockmendel commented on #29978
Just ran the test suite on that branch and only found 2 failures, both of which look like we're doing something sketchy that can be fixed on our end without too much trouble.  Thanks for the heads up.

[2020-01-30 01:01] datapythonista commented on #31434
Symlinking was my idea, I think it makes things easy for us and the users.

[2020-01-30 01:40] discdiver commented on #30931
works fine now that the 1.0 is live

[2020-01-30 01:40] #30931 closed

[2020-01-30 01:57] GYHHAHA commented on #31410
Of course, glad to. @MarcoGorelli

[2020-01-30 02:09] matchings commented on #24036
Has pandas obtained a DOI or RRID yet? I would like to properly cite, in addition to the paper citation

[2020-01-30 02:13] TomAugspurger commented on #27492
Conda packages are up in defaults and conda-forge. Just waiting on windows wheels, then I'll send out the announcement.

[2020-01-30 02:19] matchings commented on #24036
ah, I have found the DOI here: https://zenodo.org/record/3630805#.XjI9CyOIYdU

[2020-01-30 02:58] ivalaginja commented on #24036
Cool, so the only thing they're missing are citation instructions in their repository, or anywhere really. Maybe time to make a `citation.txt` file in the repo? @TomAugspurger

[2020-01-30 02:59] GYHHAHA opened #31439 ""Tuple of Lists" method doesn't applicable for DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It seems that the "tuple of lists" method doesn't applicable for dataframe.
Originally, I thought these two operations will return the same numerical result.

[2020-01-30 03:22] TomAugspurger commented on #24036
I thought we had one somewhere on the website.

On Wed, Jan 29, 2020 at 8:58 PM Iva Laginja <notifications@github.com>
wrote:

[2020-01-30 03:37] ivalaginja commented on #24036
Here?
https://pandas.pydata.org/index.html

I browsed through all the pages but couldn't find any, maybe I was searching in the wrong place?

[2020-01-30 04:33] dsaxton commented on #31389
I also noticed that `qcut` is acting funny:

[code]

Seems the problem there is with indexing into a numpy array using a BooleanArray. I can open up a PR that I think fixes it.

[2020-01-30 05:39] scoder commented on #30886
@jbrockmendel ah, yes, that looks like a bug in NumPy then. Could just be a missing error return on their side. Worth pinging them, absolutely.

[2020-01-30 07:53] BayerSe opened #31441 "TypeError: copy() takes no keyword arguments"
#### Code Sample, a copy-pastable example if possible

[code]

[code]
#### Problem description

This snippet is working well on version 0.25.3. It breaks in version 1.0.0.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Linux
OS-re

[2020-01-30 08:19] jorisvandenbossche commented on #31422
For not showing that day, you can use `observed=True` keyword in groupby, for reporting null you can use `min_count=1` keyword in sum.
No default will be the good default in all use cases, therefore there are keywords to get the behaviour you want.

@DigitalPig you have found the relevant [release notes](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.22.0.html) on this from two years ago

[2020-01-30 09:18] mhooreman opened #31444 "Enhancement: code sugar for index.get_level_values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Filtering data frame row by one column of multi index is quite common.

Unless I've missed something, the current implementation need `get_index_value`. It would be nice to have a more direct way to select one MultiIndex column, like we can do with the data frame columns.

<details>

[code]

</details>

[2020-01-30 09:21] mhooreman opened #31445 "Feature request: code sugar for index.get_level_values"
(Sorry, I have closed issue 31444 by mistake, hence re-creating it)
#### Code Sample

[code]
#### Problem description

Filtering data frame row by one column of multi index is quite common.

Unless I've missed something, the current implementation need `get_index_value`. It would be nice to have a more direct way to select one MultiIndex column, like we can do with the data frame columns.

<detail

[2020-01-30 09:26] charlesdong1991 commented on #31445
I reopened it for you @mhooreman

[2020-01-30 09:26] #31445 closed

[2020-01-30 09:38] orena1 commented on #10019
Why not add built-in support?

[2020-01-30 10:03] mhooreman commented on #31445
Thanks @charlesdong1991 . I haven't found how :-( , may I ask you to explain?

[2020-01-30 10:10] charlesdong1991 commented on #31445
@mhooreman you are welcome. I see the box in the bottom right corner which you could click and reopen

<img width="686" alt="Screen Shot 2020-01-30 at 11 08 22 AM" src="https://user-images.githubusercontent.com/9269816/73440089-f9772080-4350-11ea-9728-44a63fd829c2.png">

[2020-01-30 10:24] jorisvandenbossche commented on #31441
@BayerSe thanks for the report!

cc @jbrockmendel

[2020-01-30 10:53] mcitoler opened #31446 "REGR: Array.__setitem__ failing with nullable boolean mask"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The code above raises

`TypeError: bad operand type for unary ~: 'BooleanArray'`

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS               : Linux
OS-release

[2020-01-30 11:19] prakhar987 commented on #31340
Reproducible on 0.25.0 (fixed on master). I will try to come up with a test if one doesn't exist.

[2020-01-30 11:20] mhooreman commented on #31445
Oups! I was blind...

Le jeu. 30 janv. 2020 à 11:10, Kaiqi Dong <notifications@github.com> a
écrit :

[2020-01-30 11:28] mdruiter opened #31447 "REGR: to_csv(na_rep) truncates values"
#### Code Sample

[code]
#### Problem description

Despite (or due to?) #29975 and #30146, using `na_rep` still makes `to_csv()` truncate values. In this case integers.

#### Expected Output

',0\r\n0,8\r\n1,9\r\n2,10\r\n3,11\r\n'

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS

[2020-01-30 11:43] rjp23 commented on #18449
This seems to still be an issue and @yz3101's response above solved it for me. Explicitly calling the column of the DataFrame allowed me to specify colours. Otherwise, it doesn't work.

[2020-01-30 11:59] MarcoGorelli commented on #31446
Thanks for the report

When I tried this on master I got
[code]

[2020-01-30 12:13] TomAugspurger commented on #31439
No, these are different. Tuples are treated as keys into the multiindex. Lists are treated like arrays slicing the level of a multiindex.

[2020-01-30 12:17] TomAugspurger commented on #27492
Binaries are up, and sent out the announcement.

Congrats everyone!

[2020-01-30 12:17] #27492 closed

[2020-01-30 12:22] getsanjeevdubey commented on #31441
@BayerSe @jorisvandenbossche I get the same error in 0.25.3
Not on this above mentioned dataframe, but on my own data.

[2020-01-30 12:31] GYHHAHA commented on #31439
[code]
Oh, I find it works for this way. Thanks !

[2020-01-30 12:31] #31439 closed

[2020-01-30 12:32] jorisvandenbossche commented on #27492
Thanks a lot, Tom !

[2020-01-30 12:34] jreback commented on #27492
thanks everyone!

[2020-01-30 12:39] StevenLi-DS opened #31448 "DOC: to_csv is not properly linked from read_csv docstring"
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv

![image](https://user-images.githubusercontent.com/33796896/73450512-8b703080-4333-11ea-8a76-b1f57a7400b0.png)

[2020-01-30 12:40] jorisvandenbossche commented on #31446
Thanks, this is a regression (due to the masked array / boolean NA changes) compared to 0.25.3, so tagged it with the 1.0.1 milestone.

We recently did some work to check and sanitize indexers in `__getitem__` (including converting BooleanArray to numpy boolean arrays (it's not having this numpy array that is causing the error here), see https://github.com/pandas-dev/pandas/pull/31150 and https://

[2020-01-30 12:42] jorisvandenbossche commented on #31446
As example, also a direct setitem on the array (and not through `Series.where`) fails as well:

[code]

[2020-01-30 12:54] tobiasraabe opened #31449 "REGR: Assignment to MultiIndex fails for pandas 1.0.0."
#### Code Sample, a copy-pastable example if possible

This problem occurred with ``pandas 1.0.0 py37he350917_0 conda-forge``, but did not before or at least not since 0.24.

[code]
#### Problem description

The error message is the following
[code]

If the MultiIndex would have been sorted, ``key`` in the last part of the traceback or ``indexer`` in the first part would have been a slice and ever

[2020-01-30 12:56] jorisvandenbossche commented on #31447
Thanks for the report!

Yes, the `itemsize = writers.word_len(na_rep)` in the PR you linked seems like a wrong fix. Further investigations always welcome! I tagged it with the 1.0.1 milestone, as this is also a regression compared to 0.25 (https://github.com/pandas-dev/pandas/issues/29975 was a new issue)

[2020-01-30 12:58] jorisvandenbossche commented on #31448
Thanks for the report!

The `to_csv` should read `DataFrame.to_csv` I suppose. PRs welcome

[2020-01-30 13:03] jorisvandenbossche commented on #31449
@tobiasraabe Thanks for the report! I can confirm this is a regression also compared to 0.25

[2020-01-30 13:05] MarekOzana opened #31450 "REGR: groupby().agg fails on categorical column in pandas 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
agg() on categorical column works without any warnings in 0.25.3 but throws exception in pandas 1.0.0:
<details>
NotImplementedError                       Traceback (most recent call last)
<ipython-input-2-663038a86e20> in <module>
----> 1 df = tbl.groupby("col_num").agg({"col_cat": "first"})

~\AppData\Local\Co

[2020-01-30 13:08] jorisvandenbossche commented on #31449
cc @jbrockmendel might be related to https://github.com/pandas-dev/pandas/pull/27883 (PR that touched the related function in the traceback)

[2020-01-30 13:08] tobiasraabe commented on #31449
Glad I did not waste your time :). I use ``df.loc[pd.IndexSlice["a", :], "e"] = np.arange(99, 101)`` as a workaround.

[2020-01-30 13:10] jorisvandenbossche commented on #31450
@MarekOzana Thanks for the report!

I can confirm this is a regression. It only seems to happen when performing the "first" reduction on a specific column, when doing it in general on the dataframe without selecting the column, it still works:

[code]

[2020-01-30 13:23] MarekOzana commented on #31450
Thanks @jorisvandenbossche for your fast response!
I really need the fix for the general case, I am trying to migrate code with large agg dictionary, where each column uses different aggregation function. I can modify test case as follows:
`df = tbl.groupby("col_num").agg({"col_cat": "first", "col_num": "count"})`
Thank you for your time.

[2020-01-30 13:25] jorisvandenbossche commented on #31450
Yeah, I certainly didn't want to imply that since the other way is working, that the regression is no problem ;) It might just help with pinning down the problem for diagnosing the issue.

[2020-01-30 14:13] buhrmann opened #31452 "Series .attrs is not correctly maintained/propagated in to_frame"
Hi, it seems that the `.attrs` dict (for storing metadata) is not always propagated correctly. E.g.

#### Code Sample

[code]
#### Problem description
As @jorisvandenbossche commented [here](https://github.com/pandas-dev/pandas/pull/29062#issuecomment-580245961), it seems that this is because there are a few places in pandas where calls to `finalize` are missing.

I ran into it mainly in the "expa

[2020-01-30 14:14] TomAugspurger commented on #31434
OK, I made the symlink. Will try deploying the new website to pandas.pydata.org now.

[2020-01-30 14:22] TomAugspurger commented on #31434
It's live at https://pandas.pydata.org/! I clicked through things and didn't find any broken links.

Will update the release scripts later today to use this.

[2020-01-30 14:22] #31434 closed

[2020-01-30 14:24] MarcoGorelli opened #31453 "pandas._testing.assert_produces_warning docstring unclear?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The docstring reads
[code]
so I was expecting that, with 'ignore', no error would be raised, regardless of whether the error was produced or not.

I'm also not convinced the description for 'always' is correct - should it be "always emit a warning", or "always emit an error"?

#### Output of ``pd.show_versions(

[2020-01-30 14:27] TomAugspurger commented on #31452
https://github.com/pandas-dev/pandas/pull/28394 is exploring this a bit (stalled for now though). Specifically https://github.com/pandas-dev/pandas/pull/28394/files#diff-03b380f521c43cf003207b0711bac67fR5275

Basically we need to call `__finalize__` in a bunch more places when we return NDFrames. In many places where the only NDFrame that's an argument is `self`, that's straightforward. Just call

[2020-01-30 14:53] srvanrell commented on #31448
Can I fix this one?

[2020-01-30 14:54] MarcoGorelli commented on #31441
When the code reaches `"pandas/_libs/reduction.pyx", line 505`:
[code]
then piece is
[code]
Is the fix here to use `copy.deepcopy` is `piece` is a list?

[2020-01-30 15:01] ramneek91 opened #31455 "jobs failling with error raise RuntimeError("Cannot cythonize without Cython installed.")\n RuntimeError: Cannot cythonize without Cython installed.\n"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-01-30 15:05] jeandersonbc commented on #30867
I noticed that I did a mistake when I was synchronizing my fork and I was added as one of the authors [in the later commit reference](https://github.com/jeandersonbc/pandas/commit/9776acac0c35b90ea2b81e78e1f7a1f115a923be) (as seen above). Please, ignore it.

[2020-01-30 15:15] giuliobeseghi opened #31457 "Timedelta multiplication crashes for large arrays"
#### Code Sample, a copy-pastable example if possible

[code]

`Traceback:`
<details>

[code]

</details>

#### Problem description
This works if the series is initialised with "large arrays" (len > 10000). It seems it crashes just with timedeltas, but not with float/int values instead of `delta_t`.

I managed to get around this error by calling:

[code]

It worked fine until pandas 0.25.3

#### E

[2020-01-30 15:36] srvanrell commented on #31448
I have created a PR. Let me know if there is anything more to do. It is my first time contributing in this project.

[2020-01-30 15:41] buhrmann commented on #31452
As a default strategy for methods with multiple NDFrames, like `concat`, `merge` etc., it would make sense to me if the metadata was simply updated from left to right (i.e. in user-specified order), such that consecutive NDFrame `.attrs` potentially overwrite earlier ones, at least as a first step.

As an alternative, perhaps one could replicate the `suffixes` strategy for column names in `pd.merg

[2020-01-30 16:01] Dr-Irv opened #31459 "ENH: pd.cut should be able to return a Series of IntervalDtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

By default, the return type of `pd.cut` is categories, but we know we are creating intervals, so shouldn't it be `IntervalDtype` ?

#### Expected Output
[code]

IMHO, I shouldn't need to do the 'astype('Interval')`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2020-01-30 16:05] srvanrell opened #31460 "DOC: Example of DataFrame.to_csv() is not showing properly"
#### Problem description

Example of DataFrame.to_csv() is not showing properly. See the screenshoot below:

![Screenshot_20200130_130131](https://user-images.githubusercontent.com/1920463/73466588-d48aa980-4360-11ea-9432-6e52155fb00d.png)

#### Expected Output

I'll propose a PR fixing the docstring

[2020-01-30 16:13] MarcoGorelli commented on #31457
Thanks for the report

Could you include the error message in the issue please?

[2020-01-30 16:14] MarcoGorelli commented on #31455
Sorry, which jobs?

[2020-01-30 16:57] toddrme2178 opened #31463 "Regression: objToJSON "nonvoid function does not return a value" error is back"
There was an issue in 2013, #5326, where `initObjToJSON` in `pandas/_libs/src/ujson/python/objToJSON.c` was causing a build error due to it lacking a return value.  Specifically, the issue was:

[code]

This was fixed at the time in #5334.  However, a recent commit, #30710, removed the return value again.  This has caused the warning/error to reappear, causing our builds of pandas 1.0.0 to fail.

[2020-01-30 16:59] stewit opened #31464 "read_json with typ="series" of json list of bools results in timestamps/Exception"
#### Code Sample, a copy-pastable example if possible

[code]
results in the following Pandas Series object in older Pandas versions:
[code]
Since 1.0.0 it raises TypeError: <class 'bool'> is not convertible to datetime

#### Problem description
The expected output would be a Pandas Series of bools. Note that
* with typ="frame" it works and the result is a dataframe with one column with bool value

[2020-01-30 17:14] sergiobaquero opened #31465 "Issue pyodbc and to_sql HIVE"
#### Code Sample, a copy-pastable example if possible

engine_clus= pyodbc.connect(connection_string, autocommit=True)

df.to_sql("table", con=engine_clus, if_exists='append', index = False, schema = 'schema')

#### Problem description
We need to load in HIVE a dataframe which contains information from a source cluster.
Using pyodbc we can create, drop and select but we can't do inserts because of

[2020-01-30 17:28] michaelsilverstein opened #31466 "pandas.apply() converts all columns to object datatype"
#### Code Sample, a copy-pastable example if possible

[code]
![image](https://user-images.githubusercontent.com/22639569/73474042-cbe3a480-435b-11ea-8f95-957f8f4dba0d.png)

#### Problem description
Column datatypes are converted to object if one columns is dtype=object

#### Expected Output
Columns should maintain datatypes when passed to apply

#### Output of ``pd.show_versions()``

<details>

I

[2020-01-30 17:40] TomAugspurger commented on #31455
@ramneek91 is this an install issue?

[2020-01-30 17:54] johny-b opened #31467 "pd.ExcelFile closes stream on destruction in pandas 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Above script behaves in different way in pandas 0.25.3 and 1.0.0:

[code]

It seems that stream is closed when ExcelFile is destroyed - and I don't see why.

#### Expected Output

I'd expect either notice in release notes, or the same output in 0.25.3 and 1.0.0.

#### Output of ``pd.show_versions()``

<details

[2020-01-30 18:13] amueller opened #31469 "REGR: __setitem__ with integer slices on Int/RangeIndex is broken (label instead of positional)"
There's an backward incompatible change in pandas 1.0 that I didn't find in the changelog. I might have just overlooked it though.

[code]
In pandas 0.25.3 or lower, this results in the last four entries of X to be 1 and all the others zero. In pandas 1.0, it results in all entries of X being 1.
I assume it's a change of indexing axis 0 or axis 1?

[2020-01-30 18:18] drewseibert commented on #30232
Hello, I would like to help out or shadow if this issue still exists. @ShamanthNyk

[2020-01-30 18:21] amueller commented on #31469
I wonder if it's related to #31449 but I'm not using a multi-index.

[2020-01-30 18:23] drewseibert commented on #30232
Any current PRs out for this?

[2020-01-30 18:38] MarcoGorelli commented on #31469
Thanks for the report.

Seems this only affects `.loc` (not `.iloc`):
[code]
will look into it

[2020-01-30 19:23] fajost opened #31471 "TypeError when calculating min/max of period column using groupby"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The last line of the example throws a _TypeError: data type not understood_.

<details>
Traceback (most recent call last):
  File "test.py", line 6, in <module>
    result = df.groupby("groups")["periods"].min()
  File "...\site-packages\pandas\core\groupby\groupby.py", line 1378, in f
    return self._cython_a

[2020-01-30 19:40] TomAugspurger commented on #30994
What are the proposed behavior here?

- @jbrockmendel: `DatetimeIndex.get_loc(key)` requires that `index.tz == key.tz`, else a `KeyError` is raised, regardless of the value of `key`?
- @jorisvandenbossche: Allow `DatetimeIndex.get_loc(key)` when `key` doesn't have a tz by localizing to the index's tz? And raise if the tz mismatch?

@jorisvandenbossche is the second part of my summary correct, that

[2020-01-30 19:57] jbrockmendel commented on #30994
`dti_tz[stamp_naive]` raises `KeyError`, like any non-matching-type would.  This makes `get_loc` behave like every other comparison-like method.

No, only tzawareness-compat, so no naive/aware mixing.  If both are tzaware but different timezones, it converts (again, like every other comparison method; setitem-like methods require matching timezones)

[2020-01-30 20:23] Quetzalcohuatl commented on #8748
There is a really fast way to do this.

`df['new_column'] = [A[B:C] for A, B, C in zip(df.A, df.start_index df.end_index)]`

This solution is the same as Psidom's solution in https://stackoverflow.com/a/45523050/6004997 however I added ability to use start and end index.

[2020-01-30 22:01] jreback commented on #31469
you are label indexing with a slice with loc
since none of the labels exist nothing is set

did this actually work previously?

this should never have worked with .loc

it might have with [] which has fallback integer indexing

[2020-01-30 22:12] jorisvandenbossche commented on #31469
I do not remember any specific discussion about this, so I think it is definitely a regression.

Slicing rows in `[]` has always worked positional if there is an integer index (surprising, yes, but longstanding behaviour, see eg my summary of this of 5 years ago https://github.com/pandas-dev/pandas/issues/9595)

[2020-01-30 22:14] MarcoGorelli commented on #31469
@jreback if I've understood correctly, the issue is that _everything_ is being set

[code]

[2020-01-30 22:15] jreback commented on #31469
maybe but indexing with an out or range label on both sides should return nothing

so the results are correct

[2020-01-30 22:17] jreback commented on #31469
ahh ok that is not correct; i would expect this indexer to return noting

[2020-01-30 22:20] jreback commented on #31469
might be https://github.com/pandas-dev/pandas/pull/31393

[2020-01-30 22:59] amueller commented on #31469
Asking for the shape, both in 0.25 and 1.0, you get
[code]
but assignment in version 1.0 assigns to everything.

[2020-01-30 23:49] kanderso-nrel commented on #26683
In 1.0.0 reindexing a tz-aware index with method='nearest' raises an error:
<details>
  <summary>Click to expand</summary>

[code]

</details>

I am happy to help with a fix but just FYI I have no experience with pandas's test suite or ASV at all.  Is @TomAugspurger's above suggestion still a good place to start?

[2020-01-31 00:06] jbrockmendel commented on #31457
Looks like this is raising inside a numexpr call, shouldn't be too hard to fix

[2020-01-31 00:19] RichardBruskiewich opened #31474 "Not supported for DataFrames Exception triggered by a simple inspect.getmembers() call on a DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A "**Not supported for DataFrames Exception**" is triggered by a simple inspect.getmembers() call on a DataFrame instance.  There are some useful libraries like the Python 'fire' library which are disabled by this bug, which was not present in Pandas Release 0.24.2 but emerged in 0.25.0

#### Expected Output

A

[2020-01-31 01:27] jbrockmendel opened #31476 "DEPR: DataFrame.__getitem__[str] sometimes slices on index"
xref #31334, #9595

- This is a tiny corner case, at least as measured by tests cases (2 tests reach this)
- With this removed, the `__getitem__` API becomes much simpler to describe: "DataFrame.__getitem__` is always column-based"

[2020-01-31 03:25] shouyu opened #31478 "round method throws error if DataFrame includes Int64Dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

round method throws above error.
Expected behavior is same to int64 dtype and ignore NaN.

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS

[2020-01-31 03:31] tacaswell opened #31479 "multi-dimensional-indexing deprecation warning has inconsistent stack level."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Running the above script gives:

[code]

I think the issue is that https://github.com/pandas-dev/pandas/blob/7d616b951c08bbd90e36bee2c184569556d57093/pandas/core/indexers.py#L263-L270 is pushing the warning up a fixed number of stack layers, but due to implementation details it maybe deeper / less deep than exp

[2020-01-31 03:37] DiogoFerrari commented on #5401
It looks like it was not implemented yet...

[2020-01-31 03:39] drewseibert commented on #29547
@MomIsBestFriend Hello! First time open-source contributor here! I am very excited for my first PR! I will try working on the following files:
versioneer.py
web/pandas_web.py
Thanks!!

[2020-01-31 04:06] #1135 closed

[2020-01-31 04:13] jbrockmendel commented on #29547
@drewseibert versioneer.py is vendored, so we dont want to edit it @MomIsBestFriend can you remove this from the list to avoid this confusion

[2020-01-31 05:37] drewseibert commented on #29547
@jbrockmendel Thanks for the heads up. Along with that, it appears the other file I mentioned "web/pandas_web.py" has been worked on already as well. Both can be removed from the work list.

[2020-01-31 05:45] drewseibert commented on #29547
Also, I am getting 403 permissions error when I try to push a commit. I added an SSH key and tried setting the remote URL. Not working for me whether I clone with SSH or HTTPS. Any help is appreciated! Thanks!

[2020-01-31 07:04] jorisvandenbossche commented on #31469
This is about positional indexing, so there is no "out of range label". The `-4` means start from the fourth last element to the end.

Again, I agree this is surprising behaviour. You would think it is label-based indexing, but it is not. I already described this 5 years in ago #9595.

Some examples to illustrate this:

[code]

This those examples are for `__getitem__`, and work clearly positional

[2020-01-31 07:07] jschendel commented on #31459
The logic behind returning a `Categorical` here is to save memory.  We're expecting there to typically be many repeat intervals, as the purpose of binning is to group like elements together, and the`cut`/`qcut` implementations do not require us to materialize all the intervals, so we can keep memory low throughout.

The memory savings apply doubly when dealing with intervals since we use two array

[2020-01-31 07:11] BevanBroun commented on #20012
I went looking to ensure I have a centered window and got the error message that led me here.
I can see a centered value is not straight forward for unevenly spaced data.

[2020-01-31 07:11] jorisvandenbossche commented on #31476
@jbrockmendel Can you be more clear or specific in the description of the issue? And give some examples of the behaviour you want to deprecate?

For example: do you want to deprecate all slicing in `__getitem__`, or only the slicing with a single string? Because in https://github.com/pandas-dev/pandas/pull/31334, you never mentioned it is only about "single string" slicing, while the title here su

[2020-01-31 07:19] #31460 closed

[2020-01-31 07:21] jorisvandenbossche commented on #31463
cc @alimcmaster1 @WillAyd

[2020-01-31 07:25] jorisvandenbossche commented on #31465
@sergiobaquero for `to_sql`, you need to pass a sqlalchemy engine or connection (if you pass a raw db driver connection, it assumes it is a sqlite connection, which obviously fails here. We should probably improve the error message)

[2020-01-31 07:32] jorisvandenbossche commented on #31467
Possibly related to https://github.com/pandas-dev/pandas/pull/30096 since that added a `__del__` (cc @jbrockmendel), although I would assume that the `ExcelFile.close()` should not necessarily close the file handle (in which case it is not related to that PR).

@johny-b if you do `x.close()` instead of `del x`, is the file stream also closed?

[2020-01-31 07:37] sergiobaquero commented on #31465
Thank you for your quick answer @jorisvandenbossche. I was confuse because I could execute selects, create and drops but no INSERTS. Is there any alternative to load a dataframe in Hive using a pyodbc connection? I am using an Anaconda env for windows 10 and I can't install the sasl library, and I am trying to find an alternartive.

Thank you.
Best regards,
Sergio Baquero

[2020-01-31 07:37] jorisvandenbossche commented on #31471
@fajost Thanks for the report!

[2020-01-31 07:42] jorisvandenbossche commented on #31465
You can still use pandas' to_sql, you only need to use a Hive driver through sqlalchemy. And it seems that there are packages available providing Hive support for sqlalchemy, eg https://github.com/dropbox/PyHive, https://github.com/AurelienGalicher/PyHiveODBC

[2020-01-31 07:59] jorisvandenbossche commented on #31479
Yes, the problem here is that the place where the warning is raised can be reached in different ways (and so potentially needing a different stacklevel).
(more specifically, I think for all types the stacklevel is fine, except for RangeIndex, because its `__getitem__` calls `super().__getiitem__(key)` leading to an extra stack)

Such a "dynamic stack-level inferring" sounds interesting. Your exper

[2020-01-31 08:06] alimcmaster1 commented on #31463
Taking a look, the reason for the change was the return value was no longer compatible with numpy master. (Our `py37_np_dev` build).

Whats your use case/why do you need this function to return a value?

Yep there are some warnings related to this:
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=27217&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=fe74a338-551b-5fbb-553d-25f48b1

[2020-01-31 08:10] alimcmaster1 commented on #31463
@toddrme2178 can you try building against https://github.com/pandas-dev/pandas/pull/31482.

Or provide a repo.

Thanks,

Ali

[2020-01-31 08:11] jorisvandenbossche commented on #31444
Yes, I think it is correct there is currently no other way. Some related isues: https://github.com/pandas-dev/pandas/issues/10816 (about easier way to select a single or multiple levels of a MultiIndex) and https://github.com/pandas-dev/pandas/issues/8162 (about selecting an index as level *as if* it would be a column, which could also solve your specific use case)

[2020-01-31 10:17] johny-b commented on #31467
`x.close()` closes stream *on both pandas versions*.

[2020-01-31 10:20] giuliobeseghi opened #31487 "Maybe wrong default axis with operators (add, sub, mul, div) between datetime-indexed df and series 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]

|  | 2020-01-01  00:00:00 | 	2020-01 02 00:00:00 |	2020-01-03 00:00:00 |	2020-01-04 00:00:00	| 2020-01-05 00:00:00	| a |	b |	c |
|---|---|---|---|---|---|---|---|---|
| 2020-01-01 |	NaN |	NaN |	NaN |	NaN |	NaN |	NaN |	NaN |	NaN |
| 2020-01-02 |	NaN |	NaN |	NaN |	NaN |	NaN |	NaN |	NaN |	NaN |
| 2020-01-03 |	NaN |	NaN |	NaN |	NaN |	NaN |

[2020-01-31 10:25] fominok opened #31488 "Unclosed file on EmptyDataError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hi, there might be an unwanted behavior on attempt to read an empty `.csv` file, providing a
filename instead of handler, so it cannot be closed anymore by user on exception.

#### Expected Output

`[]`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : N

[2020-01-31 10:39] WillAyd commented on #31463
Just out of curiosity why are you changing the setup file to error for this warning specifically? Sure can fix but note that our build isn’t warning free (if you search issue tracker will see another issue for that) so a little risky to modify the setup in until that is achieved

[2020-01-31 10:42] gerritholl opened #31489 "~ operator on Series with BooleanDtype casts to object and Series with object dtype gives TypeError comparing to Series with BooleanDtype"
#### Code Sample, a copy-pastable example if possible

Using pandas 1.0.0:

[code]

Or:

[code]

#### Problem description

Using the `pandas.BooleanDtype()` dtype, the `~` operator unexpectedly:

* results in a `Series` with dtype `object` instead of `pandas.BooleanDtype()`
* operates on the boolean values as if they were integers (resulting in `-2` for `~True` and `-1` for `~False`), rather than

[2020-01-31 10:47] jreback commented on #31459
this was done quite a while ago to make cut backwards compatible and performance

meaning you generally cut then use that during indexing (or groupby) for example; these are most useful as categorical (efficiency) both memory and time are pretty optimized

I don’t think an II is directly useful here and as @jschendel points out you can simply astype

maybe you can elaborate on why you think an II

[2020-01-31 11:42] pajachiet opened #31491 "Error in pd.to_datetime, with argument np.datetime64 array of 51 elements"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

With pandas 1.0, we get a new issue when using pd.to_datetime to convert an existing np.datetime64 array with 51 elements.

This works with 50 elements, or when converting to a Series beforehand, so I believe the problems comes from inside implicit conversion.

[2020-01-31 11:50] mojones opened #31492 "Large dataframes aren't truncated in LaTeX output"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm using Jupyter notebook to write a long document using pandas, which I eventually will nbconvert to a PDF. In the notebook with HTML output, long dataframes are truncated as expected and I can control the number of rows with `pd.set_option('max_rows', 5)`. When displaying as LaTeX, however, long dataframes a

[2020-01-31 12:05] jorisvandenbossche commented on #31469
This is caused by https://github.com/pandas-dev/pandas/pull/27383 I think (cc @jbrockmendel ), specifically:

[code]

[2020-01-31 12:08] #31448 closed

[2020-01-31 12:13] TomAugspurger commented on #31492
Generally we make a distinction between printing for display (like in the notebook) and "exporting" data. In this case `to_html()` and `to_latex()` behave the same: they don't use the max_rows setting.

[2020-01-31 12:13] jorisvandenbossche commented on #31491
@pajachiet Thanks for the report!

[2020-01-31 12:16] jorisvandenbossche commented on #31489
I thought we recently fixed this, and on master it also works correctly:

[code]

so maybe something went wrong with backporting it

[2020-01-31 12:20] jorisvandenbossche commented on #31489
Yep, https://github.com/pandas-dev/pandas/pull/31183 was never backported. It seems the bot was down for a moment ...

So we will backport the fix for 1.0.1

[2020-01-31 12:22] gerritholl commented on #31489
Is it useful to report bugs that exist in v1.0.0 but not in master, or should I always check with the latest git master before reporting?  Normally I think I should check with the latest git master but it appears that the report "backport missing" was still useful in this case?

[2020-01-31 12:32] jorisvandenbossche commented on #31489
Indeed, in this case it was certainly useful that you reported it for 1.0.0, since that led us to discover we forgot to include the existing fix 1.0.0.

In general, it's certainly welcome to test on master, but if you are not directly able to, it's no problem to report it with the released version (the majority of the bug reports is based on the latest released version)

[2020-01-31 12:36] jorisvandenbossche commented on #31487
That documentation might not have been up to date for a long time. I went back up to pandas 0.18 with your example above, and it is still giving the same result as we have now on 1.0.

Could you try to find a reproducible example and show the result you get? (if you still have an environment with an older version of pandas, or otherwise you can try to recreate that?)

[2020-01-31 12:40] vadella commented on #31466
Shouldn't the dtype of the result depend on the dtype of the returns value of the applied function? In this case `x.dtype` returns objects of type `<class 'numpy.dtype'>`, so an object dtype on the resulting Series looks logical to me.

[2020-01-31 13:03] mojones commented on #31492
Fair enough. Ugly monkey patch workaround for anyone else in this situation:

[code]

Never do this in production, etc. etc.

[2020-01-31 13:03] #31492 closed

[2020-01-31 14:01] owenlamont opened #31495 "Series shift method breaks for series of pandas Intervals in Pandas 1.0 (works in 0.25.3)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Calling the shift method on an integer indexed Pandas series of Pandas intervals throws opaque exceptions. The same code works as expected in Pandas 0.25.3. This is definitely a breaking change - I'm unsure if it is intentional. I'm assuming it should still work the same as 0.25.3 for now. I tried searching for

[2020-01-31 14:04] toddrme2178 commented on #31463
@WillAyd This isn't a specific thing for this package.  We are packing it for openSUSE Linux and changing this warning (and some others) to errors is enforced by the build system for the entire entire distribution.

[2020-01-31 14:12] TomAugspurger commented on #31495
I don't agree with the expected output. The dtype was lost (`object`), and we should be able to mostly preserve the interval dtype.

I think the bug is from the shifted interval sub-dtype not necessarily matching the original sub-dtype.

In `IntervalArray.shift`, we essentially do

[code]

@owenlamont are you interested into looking into this?

[2020-01-31 14:13] WillAyd commented on #31463
The open issue mentioned is #30609 - in the meantime if there's a way to error on the codes you need while keeping the rest as warnings I think would accept a patch for that.

[2020-01-31 14:15] jorisvandenbossche commented on #31495
The expected output is just what was in 0.25.3. I agree we can do better (preserve the dtype), but it's still a regression that it errors instead of returning the correct values (just not the correct dtype)

[2020-01-31 14:18] gerritholl opened #31497 "StringDtype not preserved when writing + reading parquet or feather"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

When writing a DataFrame to parquet or feather, then reading the same file, columns with dtype `StringDtype()` are not preserved but read as `object` dtype.

The code above gives:

[code]

I have tested with with pandas 1.0.0 and the latest pandas git master.  When using parquet or feather, the dtype is lost.

[2020-01-31 14:19] toddrme2178 commented on #31463
@alimcmaster1 It isn't really about a use case, but rather about not allowing undefined, potentially unsafe behavior at the compiler level.  See, for example, CERT C coding guidelines [MSC37-C](https://wiki.sei.cmu.edu/confluence/display/c/MSC37-C.+Ensure+that+control+never+reaches+the+end+of+a+non-void+function):

without evaluating a return statement can lead to buffer overflow vulnerabilities a

[2020-01-31 14:20] toddrme2178 commented on #31463
@WillAyd It looks like there is already a patch, #31482

[2020-01-31 14:28] TomAugspurger commented on #31497
Thanks for the report. See https://github.com/pandas-dev/pandas/issues/29752, and https://github.com/pandas-dev/pandas/pull/31242 which is working on this.

[2020-01-31 14:28] #31497 closed

[2020-01-31 14:29] TomAugspurger commented on #31495
Agreed that it's a regression, but if we were writing a test we wouldn't want to assert that the result dtype is object right?

[2020-01-31 14:31] owenlamont commented on #31495
Thanks for the quick responses. I'd love to contribute to Pandas but I'm not familiar with the code base and probably wouldn't be able to address this issue in a reasonable time. You've got me interested learning so I'll have a shot at compiling from source and see how I go from there.

[2020-01-31 14:32] gerritholl commented on #31497
Oops, I didn't find that one, sorry (it's hard with so many issues).

[2020-01-31 14:38] TomAugspurger commented on #31466
This bug report is about the dtype of the object given to the user's function, not the output.

Agreed that this looks strange @michaelsilverstein. Are you interested in debugging further?

[2020-01-31 14:49] WillAyd commented on #31463
That patch fixes the warning but doesn't include the flags you are compiling with. Probably worth proposing that in a separate PR to prevent regression

[2020-01-31 14:58] vadella commented on #31466
I misread :man_facepalming:

So output:

[code]
Expected output
[code]

I noticed this behaviour also happens when there is a float columns present:
[code]

[2020-01-31 15:16] TomAugspurger commented on #31478
Do you know if `np.round` is a ufunc? If so, we could use that, since that will call `np.round(s.array)` and wrap it correctly.

However, we have

[code]

https://github.com/numpy/numpy/issues/13877 looks somewhat relevant...

[2020-01-31 15:45] WillAyd commented on #31467
I don’t think this is a bug. del simply decrements a reference count but makes no guarantees around when the GC will actually destroy the object.

[2020-01-31 16:18] RicardoHS opened #31498 "Add method to handle mixed string and non-string types in object column."
#### Problem description

Since the version 1.0.0 and the creation of the StringDtype the use of an object column to handle string would decrease. Nevertheless, and [as in the new documentation is stated](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.0.html)
[code]
The way how I had handle this issue in the past have changed throught the time and depending on my needs. I think this is

[2020-01-31 16:18] flying-sheep opened #31499 "Pandas 1.0 no longer handles `numpy.str_`s as catgories"
#### Code Sample

[code]

[code]

#### Problem description
I know that having a list of `numpy.str_`s seems weird, but it easily happens when you use non-numpy algorithms on numpy arrays (e.g. `natsort.natsorted` in our case), or via comprehensions or so:

[code]
#### Expected Output
A normal pd.Categorical

#### Pandas version

pandas 1.0

[2020-01-31 16:19] MomIsBestFriend commented on #29547
Good luck @drewseibert

[2020-01-31 16:22] amueller commented on #31469
Thanks for investigating @jorisvandenbossche

[2020-01-31 16:23] #31489 closed

[2020-01-31 16:26] jorisvandenbossche commented on #31469
BTW, I think this is a rather serious regression, since it doesn't give an error, but rather silently modifies/corrupts your data, and thus can silently lead to wrong results. We should probably try to do a 1.0.1 quickly.

[2020-01-31 16:29] TomAugspurger commented on #31469
Agreed. I won't be able to this weekend, but perhaps Monday?

I'm hoping to fix up a bunch of the reported regressions today.

[2020-01-31 16:30] TomAugspurger commented on #31499
This changed from 0.25.3?

Are you able to pin down what change caused it?

[2020-01-31 16:31] TomAugspurger commented on #31498
I'm having trouble understanding your proposal. Can you write up a sample docstring for your proposed method with some examples?

[2020-01-31 16:34] TomAugspurger commented on #31495
Thanks! Since this is a regression I may fix it myself so that we can adrress it quickly. We have lots of "Good first issues" though :)

[2020-01-31 16:39] davidia opened #31501 "Can no longer slice DatetimeIndex with datetime.date values outside the index in 1.0.0"
#### Code Sample
[code]
#### Problem description

As of 1.0.0 you can no longer slice a DatetimeIndex with dt.date values outside the index.

#### Error

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 7
machine          : AMD6