[2020-11-29 00:12] jbrockmendel commented on #35563
The difference is that when we do `dti[some_slice]` we get a view on the underlying data, whereas `dti[listlike]` always makes a copy.  Not necessarily a major user-facing difference, but it is non-trivially more performant.

You're right it wouldn't be that hard to do a `lib.maybe_indices_to_slice` call in `DatetimeLikeArrayMixin._get_getitem_freq`, but the downside is it would hurt performance.

[2020-11-29 00:13] jbrockmendel commented on #30439
@jorisvandenbossche can you weigh on in what the intended behavior is here (no hurry)

[2020-11-29 00:19] phofl commented on #35563
Thx for the explanation. Do not feel strongly about it, just stumbled across when working on #27180 and wondered about the different behavior.

[2020-11-29 00:53] jbrockmendel commented on #27180
If we do change/fix this, i think DatetimeIndex._index_as_unique will just be always-False.

[2020-11-29 01:15] phofl commented on #30439
related to #10440

[2020-11-29 01:29] IsraaMa commented on #15988
+1 for append_skipdupes

[2020-11-29 02:03] jbrockmendel commented on #37954
Three ideas come to mind:

1) use pd.concat directly, downside being that it may complicate reasoning about the flow-control in this code
2) implement a BlockManager method for inserting a bunch of columns at the end
3) half of the time in the %prun results are being spent in `Index.insert`, and most of that in `Index.__new__`.  Maybe we can avoid doing just those calls in a loop and do Index.appe

[2020-11-29 02:54] jreback commented on #37954
you need to reindex to the new key set

[2020-11-29 03:03] rhshadrach commented on #37955
Multiprocessing has significant overhead, and multiprocessing io can harm performance when files are on hdd. It would be useful to know what size/number of files one would need to see performance benefits.

If you want better performance reading/writing, then I would work with parquet if possible. Not only is it much more performant, but works better with pandas data dtypes.

[2020-11-29 07:12] kmcentush opened #38147 "BUG: reset_index() Fails on a Series/DataFrame Object that has "False" (bool type) as the Index Name"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [] (optional) I have confirmed this bug exists on the master branch of pandas.

-----

#### Code Sample, a copy-pastable example

[code]

Stacktrace:
<details>
---------------------------------------------------------------------------
ValueError

[2020-11-29 07:51] AvivAvital2 commented on #21227
@toninlg this worked for me
[code]

[2020-11-29 09:45] BuSHari commented on #15988
Meantime you can use this https://pypi.org/project/pangres/

[2020-11-29 10:19] simonjayhawkins commented on #37784
all the nightly wheels built on azure overnight. https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=48896&view=results and https://anaconda.org/scipy-wheels-nightly/pandas/files

(no nightly wheels for arm, https://github.com/MacPython/pandas-wheels/issues/102)

so from the wheel building perspective, 1.2.0rc0 release is doable.

[2020-11-29 12:18] phofl commented on #37954
@jreback Wouldn't reindex create a copy instead of inplace modifications?

[2020-11-29 14:30] simonjayhawkins commented on #37765
I think the gist of the discussion in https://github.com/scipy/scipy/issues/13109 is that there is a preference to migrate to Azure/Github Actions where possible.

We currently have 4 build in Travis. Do all of these need to be on Travis?

[2020-11-29 14:32] simonjayhawkins commented on #37765
because of potential issues with credits, it may be worth leaving this to the last minute https://github.com/scipy/scipy/issues/13109#issuecomment-733145469

[2020-11-29 15:50] lucasrodes commented on #37875
Hi @xinrong-databricks,

I have seen that other dtype classes ([`StringDtype`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/string_.py#L32) [`CategoricalDtype`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/dtypes.py#L97), [`DatetimeTZDtype`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/dtypes.py#L601), ...) do have an Example sec

[2020-11-29 15:59] #38053 closed

[2020-11-29 15:59] #14586 closed

[2020-11-29 16:00] jreback opened #38149 "ASV: add benchmark for concat / append of casted categorical"
xref https://github.com/pandas-dev/pandas/pull/38098

[2020-11-29 16:11] jorisvandenbossche commented on #37080
The ExtensionScalarOpsMixin is not for internal use, it's for external use (so that fact that it's not used internally doesn't really matter, the question is what external users should do)

[2020-11-29 16:19] jbrockmendel commented on #37954
oh thats a good question.  might be able to avoid it by passing only_slice=True to _slice_take_blocks_ax0, but would need to add that kwarg to reindex_indexer and reindex_axis

[2020-11-29 16:27] phofl commented on #37954
Does not seem to avoid a copy, but I think performance is high enough now there, that this does not matter that much. Thanks for explaining

[2020-11-29 17:21] #36915 closed

[2020-11-29 17:45] #35269 closed

[2020-11-29 18:06] #36850 closed

[2020-11-29 18:46] cjw296 commented on #28547
A year down the line, it's time to see this change made. It's disappointing to see it dropped from milestones when it needlessly results in pain for people trying to read modern Excel files.

For `.xlsx`, `xlrd` absolutely positively should not be used, and I say that as the main maintainer of `xlrd` over the last decade plus.

What proportion of users are still reading data from .xls files (as op

[2020-11-29 19:21] jreback commented on #37784
the only remaining PRs which we should do *before* the RC are:

- xlrd deprecation: https://github.com/pandas-dev/pandas/pull/35029
- ndim deprecation: https://github.com/pandas-dev/pandas/pull/38134

others can be for during the RC period is ok

[2020-11-29 19:22] fiendish commented on #28547
Sadly some of us don't get to pick and choose what data files we work with. That's definitely not your problem to solve, but it is mine so I have to try to defend keeping xlrd here.

If you want to transfer ownership of the repository to me so that I can make a two line change via s/getiterator/iter, I'm happy to make that change and no other changes just to stop the only available option for read

[2020-11-29 19:35] phofl commented on #38147
Hi,

thanks for your report. The problem lies in insert. Your DataFrame has a column 0. Unfortunately ``False == 0`` evaluates to ``True``. I do not know if this is trivial to fix.

[2020-11-29 19:38] evanaze commented on #37574
I can confirm this bug, and it is super frustrating. I have a DataFrame with some `datetime64` objects in them. Since Pandas defaults to making the DataFrame an `object` dtype, I am seeing the same bug as described above. In my case, I would like to do `df.min(axis=1)` but it is broken in the same way. It actually returns a series with only `NaN` values of dtype `float64`, but if you dig in line b

[2020-11-29 19:40] jreback commented on #27180
it isn't obvious that this is a useful feature. we have been trying to *remove* this from ``[]`` (deprecate) so expanding this is a -1 from me (this is also generally an interactive feature so not sure list-like partial string indexing makes it any more useful).

[2020-11-29 20:01] jreback commented on #37574
@evanaze not even clear what bug you are reporting. we need a full reproducible example with the versions to even attempt a patch.

[2020-11-29 20:02] jreback commented on #37574
@BeanNan pls edit the top of this issue. I am not sure that the example reflects the text you are saying (e.g. the example uses 'hello', while the text is talking about datetimes).

[2020-11-29 20:30] jorisvandenbossche commented on #37080
So this was originally added in https://github.com/pandas-dev/pandas/issues/37080 by @Dr-Irv. As mentioned above, this class was not directly meant for internal use (we also didn't use it internally at that time), but to make it easier for external users to implement EAs.

It might be that we have thought of better ways now or that we think this is not actually needed, but in any case, the OpxMixi

[2020-11-29 20:30] evanaze commented on #37574
@jreback I apologize, I am very new to this so please bear with me.

If anybody has the same problem and sees this, I was able to solve it with `df.astype('datetime64[ns]').min(axis=1)`.

[2020-11-29 20:37] jreback commented on #37574
@evanaze this is not the issue at hand at all. please open a new issue with a *repoducible* example.

[2020-11-29 20:41] SankalpMe opened #38159 "BUG: Groupy By"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-29 20:55] phofl commented on #38159
Hi, thanks for your report. This is not a bug. The ``DataFrameGroupBy`` object has no real ``__repr__`` method. You could maybe relabel your issue to a featur request?

[2020-11-29 21:14] jbrockmendel commented on #37080
we could deprecated ExtensionOpsMixin and re-implement ScalarOpsMixin using OpsMixin instead of ExtensionOpsMixin

[2020-11-29 22:30] alex-warmath commented on #36791
Also ran into this problem and it seems like true bug. According to the documentation, your question should be answered that no nrows argument is necessary. Since version 1.1 however, you have to specify nrows or else get a Memory Error. The current workaround seems to be just putting a massive value for nrows, since anything higher than the true value doesn't matter. You don't have to know the nu

[2020-11-29 23:27] phofl commented on #10549
This is still not raising. Was this done on purpose, that ``get_locs`` is not raising when keys are partially not found?

[code]

cc @jbrockmendel

[2020-11-30 00:09] #26406 closed

[2020-11-30 00:26] BeanNan commented on #37574
It has been corrected. In fact, I want to express that a string series with a value of None will report an error during max calculation.

[2020-11-30 01:07] GYHHAHA opened #38166 "BUG: merge_ordered gets unexpected left join result"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

results

[code]
|    | G   | H   |   T |   E |
|---:|:----|:----|----:|----:|
|  0 | g   | h   |   1 | nan |
|  1 | g   | h   |   3 | nan |

expected

[code]
|

[2020-11-30 01:07] liudj2008 commented on #38138
I would like to take the followings in pandas core and io as the first step
----------------------------------------
 ./pandas/core/generic.py
 ./pandas/core/series.py
 ./pandas/core/frame.py
 ./pandas/core/strings/accessor.py
 ./pandas/core/dtypes/dtypes.py
 ./pandas/core/computation/pytables.py
 ./pandas/core/computation/expressions.py
 ./pandas/core/arrays/floating.py
 ./pandas/core/arrays/inte

[2020-11-30 01:10] GYHHAHA opened #38167 "BUG: merge_ordered should raise when elements in by not exist in df"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]
Result

[code]
|    | G   | H   |   T |   E | h   |
|---:|:----|:----|----:|----:|:----|
|  0 | G   | h   |   1 | nan | G   |
|  1 | G   | nan |   2 |   1 | G   |

[2020-11-30 03:51] jbrockmendel commented on #30188
Looks like https://github.com/numpy/numpy/pull/16161 changed their floordiv behavior, will have to see how much of this problem that solves.

[2020-11-30 05:31] arw2019 opened #38174 "REF/CLN: DataFrame.combine_first"
xref https://github.com/pandas-dev/pandas/pull/38145#issuecomment-735346546

`DataFrame.combine_first` should be refactored to use `BlockManager.where` instead of `pandas.core.computation.expressions.where`

[2020-11-30 06:19] yjheo15 commented on #37167
@Jeitan Sorry for the late reply. You were right. I confused switching around the lines as @rhshadrach suggested, with switching to the previous version of pandas. I do get the same issue with 1.1.4.

[2020-11-30 07:07] IanFLee commented on #16713
I'm also having this issue in sklearn.preprocessing with StandardScaler(). It definitely seems to be a datetime issue so I've just dropped that column for the type being, but eventually I'll need it back, so fingers crossed.

[2020-11-30 07:14] IanFLee commented on #18212
Same here, but with sklearn.preprocessing's StandardScaler(). Everything I can tell seems to point to the datetime, I think i saw @TomAugspurger on another seemingly-related issue, too. I have just dropped the datetime column for the time being but will need it back later so...

Related to the converter issue, I have seen someone on another issue relate the converter registration to schrodinger's

[2020-11-30 07:38] jorisvandenbossche commented on #37080
That could be an option yes

[2020-11-30 08:20] toobaz commented on #10549
Yes, it is intended - although other cases are still waiting for a fix: https://github.com/pandas-dev/pandas/issues/20916#issuecomment-507059562

[2020-11-30 09:52] skvrahul commented on #38138
Created a PR (#38180 )that addresses the following files:

./pandas/tests/reshape/concat/test_datetimes.py
./pandas/tests/reshape/merge/test_merge.py
./pandas/tests/reshape/merge/test_multi.py

@fangchenli Is a **whatsnew** entry necessary for such a change in the code?

[2020-11-30 09:56] jorisvandenbossche opened #38182 "BUG/DEPR: Fix unwanted warnings from the Series(Index[datetime objects]) deprecation"
See https://github.com/pandas-dev/pandas/pull/36697#discussion_r497786546 and https://github.com/pandas-dev/pandas/pull/37193#issuecomment-715228272

Due to the `Index.is_all_dates` + `Series(Index[datetime object])` deprecation warnings, there are several code examples that are not using this attribute or constructor method directly, that still cause this warning (from internal pandas code, witho

[2020-11-30 10:03] ivirshup opened #38183 "BUG: assert_frame_equal can be very slow"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-11-30 11:18] SankalpMe commented on #38159
It is fine that `__repr__` is not implemented , my issue is with the apply function, why are there two different outputs for the same lambda fn with just different syntax...

[2020-11-30 12:56] simonjayhawkins commented on #37784
I've added the blocker tag to these.

@jorisvandenbossche you can add the blocker tag to the PRs you've created today, if they need to be done before rc.

[2020-11-30 13:21] #28481 closed

[2020-11-30 13:28] jorisvandenbossche commented on #37784
I would like to get in the fixes I am doing for FloatingArray: https://github.com/pandas-dev/pandas/pull/38178 (so that PR would need to get a review).

For the rest, they are not a blocker for the RC, but still for 1.2, IMO. So if you are fine with doing some more fixes after the RC, that's fine.

BTW, it might make more sense to first do a 1.1.5 release, and afterwards cut the 1.2.0.RC. Because

[2020-11-30 13:40] #35563 closed

[2020-11-30 13:41] jreback commented on #37784
I don't think it makes a big diff whether 1.1.5 or 1.20rc comes out first.

[2020-11-30 13:49] simonjayhawkins commented on #37784
in https://github.com/pandas-dev/pandas/issues/37784#issuecomment-733715061, i suggested

It just means two backports, but since OK to do regression fixes between 1.2.0rc0 and 1.2, gives another week to look into the outstanding regressions from 1.0.5

[2020-11-30 14:00] jreback commented on #38183
interesting! thanks. can you see if you can pin this done *where* this slow.

[2020-11-30 14:01] jreback commented on #38183
cc @jbrockmendel

[2020-11-30 14:55] jorisvandenbossche commented on #37784
If we are doing more fixes after 1.2RC, then that's certainly fine for me as well (
just wanted to make sure we are on the same page, as before you noted you proposed to be more strict about what gets included after 1.2RC by directly branching. But of course, for regressions, even if not found by the RC itself but known already now, that of course makes sense to still add those to 1.2 after the RC

[2020-11-30 14:59] simonjayhawkins commented on #37784
regressions (on master and from 1.0.5) and doc cleanups ok imo

yes, we should branch (1.2.x) immediately after rc and will need to backport anything in 1.2 to 1.2.x and anything for 1.1.5 to 1.1.x and 1.2.x

[2020-11-30 15:15] simonjayhawkins commented on #37784
as we discussed (offline), since the completion of ArrowStringArray work has missed 1.2, delaying that work by a couple of more weeks is not an issue.

so my intention is after the 1.2.0rc release is to spend a week looking at the regressions from 1.0.5 (and outstanding backports, e.g. #37633). Then after 1.1.5, spend a week looking at regressions on master, e.g. #35804 before the 1.2 release.

i.

[2020-11-30 15:18] Dr-Irv commented on #37080
See the docs here:  https://pandas.pydata.org/docs/development/extending.html?highlight=extensionscalaropsmixin#extensionarray-operator-support

As long as the changes made support the second use case listed there (where the operators are already defined on the underlying individual scalar objects), I wouldn't have any major objections.

[2020-11-30 15:25] jorisvandenbossche commented on #37784
@simonjayhawkins sounds good!

[2020-11-30 15:42] Qbiwan commented on #38138
[Rewrite dict literal for files in tests/plotting/test_boxplot_method.py #38186](https://github.com/pandas-dev/pandas/pull/38186)

[2020-11-30 16:12] simonjayhawkins commented on #37784
so it would be good to get #38057 and #38099 into master (even if the backports are still in progress) before tagging 1.2.0rc0, but not necessarily blockers.

[2020-11-30 16:39] Qbiwan commented on #38138
first-time contributor here; please let me know if I'd missed anything

[2020-11-30 17:11] xinrong-databricks commented on #37875
Hi @lucasrodes, that really makes sense. Thank you for your clear explanations!

[2020-11-30 18:23] leonarduschen commented on #38183
I believe this is the issue:

https://github.com/pandas-dev/pandas/blob/450384e3e9227a12c927c40f3eb0ff58e095b9b8/pandas/core/dtypes/missing.py#L420

Prun results below. Out of 62s total runtime, 61s cumtime from  `_array_equivalent_object` at `missing.py`
[code]

<details><summary>PRUN RESULTS</summary>
<p>

[code]
</p>
</details>

[2020-11-30 18:40] OlehKSS commented on #37643
@jbrockmendel
Should the `inplace` parameter be deprecated in the `Categorical.replace` method as well? This method uses `Cateogrical.remove_categories` internally

[2020-11-30 18:49] jbrockmendel commented on #37643
Without looking at the implementation: Categorical.replace should be able to alter the _values_ (i.e. `self._codes`) inplace, but not able to alter the _dtype_ (i.e. `self._categories`)

[2020-11-30 18:55] simonjayhawkins commented on #37784
@jorisvandenbossche did do want to revert #38148 before the rc or should we just move the release note for now.

[2020-11-30 19:25] jbrockmendel commented on #38183
it is looping over columns and doing assert_series_equal for each column, which means it is re-doing assert_index_equal 1000 times, which when you've attached an object-dtype index gets expensive.

[2020-11-30 21:27] kevinetienne commented on #38093
take

[2020-11-30 21:34] suvayu commented on #31687
take

[2020-11-30 21:39] ooojpeg opened #38193 "DOC: Clarify development environment creation for documentation changes"
#### Location of the documentation

[https://pandas.pydata.org/docs/dev/development/contributing.html#creating-a-development-environment](contributing.html)

#### Documentation problem

The documentation for creating a development environment is not really clear regarding the benefits/limitations of creating a development environment when changing documentation.

#### Suggested fix for documentati

[2020-11-30 21:49] rhshadrach commented on #38193
So from

to

It seems clear to me that "but" is referring to "you can skip" in the current version.

[2020-11-30 21:54] ooojpeg commented on #38193
@rhshadrach I'm not 100% tbh. It confused me for a moment when I read for the first time so thought I'd mention and see if anyone else feels the same.

[2020-11-30 22:14] rhshadrach commented on #38159
The difference in output is a duplicate of #22546

[2020-11-30 22:14] #38159 closed

[2020-11-30 23:48] vikramaditya91 opened #38198 "DOC: Duplicate Entry of Series.replace"
#### Location of the

https://pandas.pydata.org/pandas-docs/stable/reference/series.html

#### Documentation problem

There are two entries of `Series.replace`. One in the [Missing Data Handling](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#missing-data-handling) and another one in [Combining-Comparing-Joining-Merging](https://pandas.pydata.org/pandas-docs/stable/reference/se

[2020-12-01 00:14] #35527 closed

[2020-12-01 01:04] pillemer commented on #38138
Hi, I'm new to contributing and would like to help on this issue. Do I need to request to work on specific files before I start?

[2020-12-01 01:18] fangchenli commented on #38138
No, that is not necessary.

[2020-12-01 01:31] chinmayrane commented on #34280
Upgrading the Build Tools to VS 2019 resolves all the issues.

[2020-12-01 01:43] ivirshup commented on #38183
I'm not sure it's doing `assert_index_equal` in a straightforward way, since that could be much faster:

[code]

It looks to me like there is an optimization for `lhs is rhs` in that `assert_index_equal` though, but it still doesn't make up for the discrepancy:

[code]

[2020-12-01 01:50] jbrockmendel commented on #38183
Yes there is an optimization that assert_index_equal (really, Index.equals) does when it knows it shares the same data, or just is the same object.  In the original example you created two separate Indexes that happen to share the same data, but Index.equals doesn't know that.

[2020-12-01 01:57] jreback commented on #38183
yea i think for _array_equivalent_object we should infer_dtype on each side - if we have certain things (eg mixed) then take the slow path otherwise i think we use the fast path (which is in cython)

the slow path is really slow because it's materializing everything and doing a lot of comparisons

[2020-12-01 02:02] jbrockmendel commented on #38183
could just do `assert_(ea|numpy)_array_equal` on each column's values instead of assert_series_equal, so the index equality is only checked the once directly in assert_frame_equal

[2020-12-01 03:43] allenmac347 commented on #37327
@jorisvandenbossche hey so I noticed that in the issue you fixed in issue #31896, you said that parquet does not seem to be able to store uint32. Would you happen to know more about this issue and if this is an issue with pyarrow or pandas? thanks!

[2020-12-01 03:53] jbrockmendel commented on #37784
Let's revert #38148 and get a non-copying version in place for the next release.

[2020-12-01 04:37] allenmac347 commented on #37692
@phofl Hey just a quick update. After further debugging this issue, I found that the issue occurs in the _set_value() function on line 3187 in pandas/core/frame.py. Here is the relevant piece of code for when using at to assign a string to an int64 DataFrame index:

try:
            if takeable is True:
                series = self._ixs(col, axis=1)
                series._set_value(index, value,

[2020-12-01 04:57] ivirshup commented on #38183
Sure, but this shouldn't have much to do with comparisons taking a while, since `pd.testing.assert_series_equal` still takes two orders of magnitude longer than `pd.testing.assert_index_equal` even when the indexes don't share data.

[code]

According to `prun`, most of time is taken in `assert_index_equal`, but I don't see how that's happening when running `assert_index_equals` by itself seems qu

[2020-12-01 06:36] ivanovmg commented on #38183
Looks like inside ``assert_series_equal`` the check would go back and forth between itself and ``assert_almost_equal``, while doing ``assert_index_equal`` check every time.

[2020-12-01 07:05] ivirshup commented on #38183
Ohh, I see I made a mistake in my last comment, and used the wrong argument:

[code]

Also, I think this added some confusion on my end:

[code]

[2020-12-01 07:32] jorisvandenbossche commented on #38182
cc @jbrockmendel

[2020-12-01 09:12] #38038 closed

[2020-12-01 10:56] simonjayhawkins commented on #37954
#38148 reverted by #38208

[2020-12-01 11:48] jreback commented on #26552
cc @pandas-dev/pandas-core if anyone wants to do this for 1.2

[2020-12-01 12:55] chethanreddy123 commented on #38033
I don't know  where to start contributing, can anyone guide me on how to contribute

[2020-12-01 14:49] Pyxtraker commented on #35917
In my case manual or inferred assignment did not work, however this worked :

[code]

[2020-12-01 18:12] simonjayhawkins commented on #37784
It looks like xlrd deprecation is close to being ready and is currently the only blocker.

so we'll be ready to do the rc tomorrow.

add the blocker tag to any other PRs/issues as needed.

[2020-12-01 18:18] twoertwein opened #38214 "TST: test_is_list_like_recursion segfaults sometimes?"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

[code]

That is probably not caused by something recent. I didn't run the entire test-suite in the past.

Maybe I just

[2020-12-01 18:19] ivanovmg commented on #38139
take

[2020-12-01 18:50] ivanovmg commented on #38139
I guess that there are tests for those in ``pandas/tests/tseries/holiday/test_holiday.py``.
I added several cases for ``next_workday`` and ``before_nearest_workday`` (I guess all possible cases), but there are other observance rules, which can be covered with more cases as well.

[2020-12-01 20:08] phofl commented on #20916
@toobaz Is this still up to date?

[code]

raises now while it was changed in #27154 to not raise. So I am wondering what exactly we would want to achieve here

[2020-12-01 20:11] jbrockmendel opened #38217 "API: Groupby.idxmax drops nuisance columns, DataFrame.idxmax does not"

[2020-12-01 20:53] jbrockmendel commented on #37494
TL;DR: there is one usage of `maybe_cast_to_extension_array` that is liable to produce incorrect results on UDFs, but the rest we can make reliable.

I've spent some time the last few days tracking down the EA-casting done in the groupby code.  Most of them are done within calls to `dtypes.cast.maybe_cast_result`, which unfortunately special-cases dt64tz and categorical.  In total we have:

1) a t

[2020-12-01 21:19] zwcolin opened #38218 "BUG: pd's std function inconsistency between series and values within a series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-01 21:45] jbrockmendel commented on #38182
I see #37193 has been fixed.  Are there others that we can just fix internally?  I don't see any good option other than hunting these down.

Shorthand: dti = "instance of DatetimeIndex", dti_obj = dti.astype(object)

Two cases come to mind:

1) User passes dti_obj as index to Series constructor, gets back a Series with dti.  We correctly issue a warning.

2) User does [anything else], internal cod

[2020-12-01 22:05] #26796 closed

[2020-12-01 22:08] zwcolin commented on #38218
I noticed that this function is normalized by N-1 by default. Then I think it's a consistency issue between series' std and values' std (eg. difference between temp['col'].std(), temp['col'].values.std())

[2020-12-01 22:33] mroeschke commented on #38218
`.values` returns a numpy array and therefore `.values.std()` uses numpy's `std` function which normalize by N while pandas normalizes by N-1 by default as you mentioned.

So this is the expected behavior. Closing.

[2020-12-01 22:33] #38218 closed

[2020-12-01 23:24] phofl opened #38221 "BUG: Pip 20.3 is causing Linux py38 np dev pipeline to fail"
The first pipeline to fail was 2a115d5d750c65765913c1940ac4c85f4ab51df9 which also was the first pipeline using pip 20.3

This seems to be a problem with scipy version.

@jreback @jbrockmendel @jorisvandenbossche

Last pipeline to work:
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=49130&view=logs&j=eab14f69-13b6-5db7-daeb-7b778629410b&t=71ac627c-7b38-59b1-014b-81753001ec5e

First

[2020-12-01 23:27] #28547 closed

[2020-12-01 23:28] jreback commented on #38066
@simonjayhawkins I think go for release here (if you want to merge the cython PR go for it, ok not to as well)

[2020-12-01 23:29] jreback commented on #37784
@simonjayhawkins i think go for release here. we can address the few remaining issues during the rc.

[2020-12-01 23:37] twoertwein commented on #37795
https://github.com/pandas-dev/pandas/pull/35029 was just merged: the default engine is in most cases now `openpyxl` and it is acknowledged that `xlrd` does not work with python>=3.9.

[2020-12-01 23:37] #37795 closed

[2020-12-01 23:41] jbrockmendel commented on #37784
for the rest of us, does this mean we're in a (partial?) merge moratorium for a while?

[2020-12-02 00:00] jbrockmendel opened #38222 "API: make tm.assert_foo_equal kwargs keyword-only for rarely-used keywords"
I expect this would need a deprecation cycle cc @jorisvandenbossche ?

[2020-12-02 00:23] jreback commented on #37784
no

simon is going to branch 1.2.x (i think he push the tag to the branch though maybe to master as well)

we can continue to merge for 1.2 but need to tag them as they need to be backport to the 1.2.x branch

else's they will be on 1.3

[2020-12-02 01:52] #38193 closed

[2020-12-02 02:02] #37979 closed

[2020-12-02 02:06] jreback opened #38224 "API: bool(pd.NA)"
xref https://github.com/pandas-dev/pandas/pull/38102#discussion_r532446692

for `np.nan` we define `bool(np.nan)`
[code]

however we don't do this for `pd.NA`
[code]

I think this is pretty odd and not very useful.

[2020-12-02 02:06] jreback commented on #38224
cc @pandas-dev/pandas-core if anyone has a reference to this original discussion.

[2020-12-02 02:11] shoyer commented on #38224
bool(nan) is dictated by Python, not NumPy:
[code]

I doubt it was picked very intentionally, though.

In my opinion, the current behavior for `pd.NA` is better, especially in the context of a missing value for boolean dtypes.

[2020-12-02 02:17] TomAugspurger commented on #38224
Agreed with Stephan. Even if we had a typed `pd.NA[T]`, for non-bool types I think raising would still be appropriate since most (all?) types will have a Falsey value, like `0` for integers.

Since Python requires that `bool()` return a `True` or `False`, raising is the best option.

[2020-12-02 02:31] #38166 closed

[2020-12-02 02:31] #38167 closed

[2020-12-02 03:00] #35364 closed

[2020-12-02 03:02] #38198 closed

[2020-12-02 03:04] #38033 closed

[2020-12-02 03:13] jreback commented on #38138
@fangchenli if you have a chance can you check things off from the merged PRs

[2020-12-02 04:02] randomgambit opened #38227 "BUG: values are dropped when grouping on a variables with NaNs"
Hello there,

Consider this simple example

[code]

There are a few things that are puzzling.

1. I thought `groupby` would drop the NA groups by default
2. Why is the variable `col` set to missing?

This looks like a bug to me, unless I am missing something (apologies if this is the case)
What do you think?

Thanks!

[2020-12-02 04:06] jreback commented on #38227
pls try this in master

[2020-12-02 04:07] randomgambit commented on #38227
1.1.4 ?

[2020-12-02 06:32] shanto268 commented on #34274
Ran into same problem.... any updates? 😢

[2020-12-02 07:08] SilasK commented on #34274
Sorry, I didn’t have the time to create all the tests. But check if your data has all the same type. In the object type you can store sometimes strings and numbers.

[2020-12-02 07:30] jorisvandenbossche commented on #38224
As for the history of it / original discussion: this behaviour was already included in the PR originally adding pd.NA (https://github.com/pandas-dev/pandas/pull/29597), but apart from one comment of Tom (https://github.com/pandas-dev/pandas/pull/29597#issuecomment-553609455), there was not much discussion about this specific aspect (also not in the main NA issue https://github.com/pandas-dev/panda

[2020-12-02 08:32] jorisvandenbossche commented on #38221
See https://github.com/pypa/pip/issues/9186

[2020-12-02 08:51] tdamsma opened #38229 "ENH: Apply function on a column easily, maintaining fluent interface"
I really like the pandas fluent / method chaining interface but it is not always convenient to use. I often end up writing code like so:

[code]

This is ok, but I would much rather write this in a fluent style. As far as I am aware this is only possible with `.assign` and `.pipe`, and would give something like so:

[code]

I find that syntax not so easy to read and write. And as I find myself nee

[2020-12-02 10:47] phofl commented on #38227
Persists on master

[2020-12-02 10:53] simonjayhawkins commented on #38066
see https://github.com/pandas-dev/pandas/issues/37784#issuecomment-735847709 and https://github.com/pandas-dev/pandas/issues/37784#issuecomment-733745965

so continuing to push ahead with the 1.2.0rc0 release (and then backporting any regression fixes on master) and re-scheduling the 1.1.5 release for December 07, 2020 was intended to strike a balance/find some middle ground here.

[2020-12-02 11:45] jreback commented on #38229
-1 on yet another form of apply

the .assign interface is very flexible, concise, readable and works well

[2020-12-02 12:03] jorisvandenbossche commented on #38221
So once this is fixed upstream, we should revert the pin.

[2020-12-02 12:10] #37954 closed

[2020-12-02 12:12] #17053 closed

[2020-12-02 12:12] #34621 closed

[2020-12-02 14:12] boringow commented on #38121
@jreback @arw2019 @rhshadrach

[2020-12-02 14:13] nf78 commented on #37955
From personal experience, and when there are many csv files to read, I can tell that there is definitely a speed benefit, since I have benchmarked this myself. I've done it with joblib and multiprocessing, both made significant savings in time.

Now, I am happy to generate a few stats based on file size and number of files and also number of cores available. I just need to know how many file sizes

[2020-12-02 14:25] marchinidavide opened #38233 "BUG: Behaviour of DataFrame.xs when key is not in the index"
As from title.
Currently calling df.xs(key) throws KeyError if key is not in the index. I would advocate for it returning an empty dataframe.

[2020-12-02 14:31] simonjayhawkins commented on #37784
[code]

for the 1.0.0rc0 we branched and tagged v1.1.0.dev0 straight away.

[code]

whereas for 1.1.0rc0, we didn't branch till after the actual release (and had a short rc period)
[code]

we had a discussion on branching for 1.1.0 in #34730.

although no backports were necessary, it did mean a merge moratorium, which I initially accepted https://github.com/pandas-dev/pandas/issues/34730#issuecomm

[2020-12-02 14:35] simonjayhawkins commented on #37784
tagging on the branch instead may be worth considering in the future, it may have some advantages for an automated release process. discussion in #21050

we currently tag on master so the base of the branch has the release tag.

[2020-12-02 14:41] fwt opened #38234 "BUG: Minor HTML formatting error in Styler.render(): rowspan attribute should use quotes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-02 14:51] simonjayhawkins commented on #37784
since we only have 1 blocker, we could also do this for this release.

i.e. create the 1.2.x branch anytime now and can merge stuff for 1.3 to master. once the blocker is merged to master, backport it to 1.2.x and then created the rc from there.

[2020-12-02 14:58] Dr-Irv commented on #38224
I really support this reasoning.  `pd.NA` means "missing".  You know nothing.  It ain't true.  It ain't false.  It's not an integer, a string, or a float.  It's nebulous.

[2020-12-02 15:01] jreback commented on #37784
yeah i think we should tag master with 1.2.0rc0 when you branch, IIRC this make it easy to track things, @TomAugspurger would know better.

[2020-12-02 15:11] jbrockmendel commented on #38224
I agree with everything said so far about the intended semantics.  But I'm also concerned about the raising example from the OP.  I think we're going to be chasing down corner cases for years:

[code]

Caveat: I have not had occasion to use pd.NA in my own work, so my experience with it is exclusively in debugging problems it has caused, which is bound to jaundice my view.

[2020-12-02 15:18] bashtage commented on #38224
@jbrockmendel That seems tight to me.  NaNs are not equal either.  Missing values should also be not equal. in the sense that "objects that are not equal" are False.

[2020-12-02 15:40] #33795 closed

[2020-12-02 17:05] ianozsvald commented on #35364
Thanks to @jreback for picking this up :+1:

[2020-12-02 17:44] jbrockmendel opened #38240 "BUG: find_common_type incorrect for Categorical with NAs"
[code]

xref #37930; I expect this would also be relevant for #19371

[2020-12-02 17:58] rwijtvliet opened #38243 "BUG: Freq argument lost using `pd.infer_freq`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Even though `i1` has the frequency attribute correctly set, `pd.infer_freq(i1)` returns an em

[2020-12-02 18:07] FivelMttz commented on #22035
Hey! It's my first issue. Can I work on it?

[2020-12-02 18:33] simonjayhawkins commented on #37462
@jorisvandenbossche is the milestone here correct?

[2020-12-02 18:35] FivelMttz commented on #26859
Is anybody still working on it?

[2020-12-02 18:47] phofl commented on #22035
Hey,

yes, for sure.

[2020-12-02 19:19] jreback commented on #37955
@nf78 you should use dask for this task

it's very well designed and will just work

building this into pandas introduces a lot of complexity for relatively little gain

[2020-12-02 19:20] anilkumarKanasani commented on #37956
Hello @nf78  ,

I would like to work on this issue. I will provide a POC on this issue soon.

[2020-12-02 19:20] jreback commented on #38233
this is contrary to all other indexing routines (.loc /[])
so -1 on any change here

you can use .reindex to do this

[2020-12-02 19:20] #38233 closed

[2020-12-02 19:43] TomAugspurger commented on #37956
@anilkumarKanasani there needs to be some discussion on the design first.

One problem here:

[code]

That doesn't allow any flexibility in how the parallelism is achieved.  If we add this, it'd be better to standardize around something like `concurrent.futures`'s API. There are some upstream issues with that (you can't use `concurrent.futures.gather()` on tasks that don't subclass `concurrent.fut

[2020-12-02 19:57] UrielMaD commented on #38138
**I'd like to take the following as my first contribution**

./pandas/tests/util/test_assert_series_equal.py

[2020-12-02 21:11] jorisvandenbossche commented on #38224
The specific example that sparked the discussion was `fill_value or np.nan`. But note that (for this very specific case of course) this is not a good idea anyway, because that would not work as expected for `fill_value` being 0, or False, or .. (anything considered "falsey"). So having pd.NA raise here might actually be a good thing, to not silently do the potentially wrong thing.

Note that this

[2020-12-02 21:35] fangchenli commented on #37765
GitHub Actions have SQL services. We could migrate the 3 builds that require databases to GitHub Actions.

[2020-12-02 22:15] jbrockmendel commented on #38119
There are a couple of functions in here that are basically disguised Series/DataFrame methods, in particular cast.convert_dtypes is effectively Series._convert_dtypes, cast.maybe_casted_values is only used in DataFrame.reset_index.  These aren't re-usable low-level functions (which is how i like to think of core.dtypes, but I guess it doesn't have to be that way), but I'm not eager to move code _i

[2020-12-02 22:40] phofl commented on #37692
@jbrockmendel Any suggestions how to handle this?

[code]

The ``loc`` case works while the ``at`` case raises. This seems odd to me

[2020-12-02 22:48] austiezr commented on #38138
Just submitted a [PR](https://github.com/pandas-dev/pandas/pull/38249) to fix another swath of this.

[2020-12-02 23:28] #33494 closed

[2020-12-02 23:28] #38051 closed

[2020-12-02 23:30] #37115 closed

[2020-12-02 23:31] #37609 closed

[2020-12-02 23:37] #23239 closed

[2020-12-03 00:06] rhshadrach commented on #38229
Have you considered:

[code]

[2020-12-03 00:43] rhshadrach commented on #38013
Can't reproduce on master.

[2020-12-03 00:47] raffaem commented on #38013
It seems to be platform-dependent. See [here](https://stackoverflow.com/questions/64963553/can-pandas-truncate-my-data-and-cause-irreparable-data-loss-without-any-kind-of) and the [answer provided by chandr3sh](https://stackoverflow.com/a/64964566/1719931)

[2020-12-03 01:13] jbrockmendel commented on #15882
Closed by #38195?

[2020-12-03 01:17] jbrockmendel commented on #35474
I think what you're looking for is `df.stack().idxmax()`

[code]

[2020-12-03 07:22] gerardjorgensen commented on #38138
I would like to start working on the following
 ./pandas/tests/io/json/test_ujson.py
 ./pandas/tests/io/json/test_normalize.py

[2020-12-03 08:06] tgrandje opened #38256 "BUG: pandas to_json with orient "table" returns wrong schema & data string"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-03 08:18] tdamsma commented on #38229
I meant the example as an illustration of how doing an operation on a single column of a dataframe breaks the method chaining, (unless one uses .assign and a lambda). I would like to be able to write e.g.

[code]

And not

[code]

But I guess I'll have to settle for .assign and lambda as @jreback objects, like so:

[code]

[2020-12-03 08:55] AlexKirko commented on #37955
Building in parallelization into pandas seems like the wrong way to go here, when there are specialized tools precisely for parallelizing IO.

[2020-12-03 10:32] holymonson commented on #15663
Hi there, may I draw a little bit of your attention on this one? Either `Period.__contains__` or `Period.contains` or even `Timestamp.isin` would be fine, let's make one of them work.

[2020-12-03 10:35] simonjayhawkins commented on #37784
there are issue with Travis credits on MacPython. see https://github.com/MacPython/scipy-wheels/issues/106#issuecomment-735359681

we only recently started to use Travis again on MacPython for the arm builds. https://github.com/MacPython/pandas-wheels/pull/99

The last month's usage of Travis can be seen at https://travis-ci.com/github/MacPython?tab=insights

I have disabled the cron job for the n

[2020-12-03 10:59] 2bon commented on #34663
Hi, any update?

[2020-12-03 11:39] jreback commented on #15663
@holymonson you are welcome to submit a PR; that's how things get fixed

[2020-12-03 11:45] jreback commented on #38256
show the code for reading

the pandas_version is correct ; it's the last time this format changed (this is documented)

[2020-12-03 11:49] pradyunsg commented on #38221
Noting that, from my PoV, the underlying issue here is that pip's getting wheels with versions that are not valid (see https://github.com/pypa/pip/issues/9186#issuecomment-736019031) and this is the first version of pip where it rejects such wheels by default. The fix probably needs to happen wherever the wheels are being generated.

[2020-12-03 11:57] tgrandje commented on #38256
This will work (all strings) :
` pd.read_json('{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"1","type":"integer"},{"name":"2","type":"integer"},{"name":"3","type":"integer"}],"primaryKey":["index"],"pandas_version":"0.0.20"},"data":[{"index":0,"1":1,"2":2,"3":3},{"index":1,"1":4,"2":5,"3":6}]}', orient="table")`

This won't work (all ints, I get ValueError: Mixing dicts with non-

[2020-12-03 12:03] jreback commented on #38256
pls edit the top post and show only a complete round trip - and where it fails

this is not designed to be hand edited - integer keys are also not allowed (so puzzled where that is coming from)

[2020-12-03 12:14] vmdhhh commented on #38138
Hi @jreback
First time contributing
I would like to take up ./pandas/tests/io/pytables/test_store.py
I will start working on it, please let me know otherwise

[2020-12-03 12:30] ab-10 opened #38261 "DOC: pandas.DataFrame.mask"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mask.html#pandas-dataframe-mask

#### Documentation problem

The first line of docstring states:

However, `where` replaces the values for which the `cond` is False.

e.g.
[code]

[2020-12-03 13:00] tgrandje commented on #38256
Just edited the post. Though the error here is not the exception raised when reading the json, it is the way pandas writes it (so the exception is perfectly right and not related to this problem).

The int keys (which are not usual in pandas either, I know) came from a 'melt' method ; if key integers are strictly forbidden by the json format, maybe we should insert something like this in the to_js

[2020-12-03 13:15] holymonson commented on #15663
@jreback I'd like to submit a PR, the implement is quite simple, but first someone should decide which method name to be used.

[2020-12-03 14:19] #37462 closed

[2020-12-03 14:23] #32553 closed

[2020-12-03 14:28] jreback commented on #37967
It would hence be great if pandas could manage the color Hex conversion under the hood for the user, and hence allow him to use a more large color name list (the one from matplotlib for example with matplotlib.colors.cnames), preventing the usage of unreadable color code.

and how do you figure this out?

[2020-12-03 14:31] mavismonica commented on #38138
Hi,
I would like to take up ./pandas/tests/io/parser/test_comment.py

[2020-12-03 14:58] Qbiwan commented on #38261
I think there is a difference between `mask` and `where`. You were using `where` in your example, but maybe looking at the documentation for `mask`?
It seems like one is kinda the opposite of the other in terms of what they do

## pandas.DataFrame.where
Where cond is **True**, **keep** the original value. Where False, replace with corresponding value from other.
[code]
## pandas.DataFrame.mask
Whe

[2020-12-03 15:29] ab-10 commented on #38261
My bad, I did indeed mix the documentation between the two.
Thank you for the clarification.

[2020-12-03 15:29] #38261 closed

[2020-12-03 15:32] GentilsTo commented on #37967
hum what do you mean? When I say "I understand" I should have say "I assumed". I'have no idea how it really works. I just found out that the style that was working in jupyter when using the color name give me the warning I provide above when exporting to excel, while using the associated Hex code works just fine.

[2020-12-03 15:34] mavismonica commented on #38138
Hi,
I would like start working on  ./pandas/core/indexes/numeric.py

[2020-12-03 15:35] mavismonica commented on #38138
Hi,
I would like to start working on  ./pandas/core/indexes/numeric.py

[2020-12-03 15:38] boringow commented on #38121
I tried to think in the developers and I trimmed my code all the maximum so you can understand it. Now it is easy for everyone to understand and I even the dataset to only 7 seconds

[2020-12-03 15:38] Qbiwan commented on #38261
you're welcome. tbh i could never remember which is which too :)

[2020-12-03 15:56] boringow commented on #38121
It is 16 lines of code, but the problem is super easy to solve:

The current behavior is that the indexes are partitioned, as they are strings, and the reso or Resolution class, which has nanosecond and minisecond resolution, then is passed to the datetime.py file on the pandas/core/indexes, which has the valid_resos (on line 520) wrong.

[2020-12-03 16:26] simonjayhawkins commented on #36785
on 1.0.5

[code]

on 1.1.4
[code]

so it appears that the dtype of the Series passed to the user supplied function as changed.

[2020-12-03 16:30] simonjayhawkins commented on #36785
I think the fix should ensure that what is passed to the user function is unchanged from 1.0.5 to avoid other regressions being reported.

[2020-12-03 17:16] simonjayhawkins commented on #35843
we want to avoid undoing the performance gains, so ideally we don't want to revert #33400

option 2 does not sound like the correct solution for a regression fix, as SparseDtype.kind was also 'M' on 1.0.5, and changing that may introduce other regressions, but agree that we should perhaps move in that direction on master.

on 1.0.5 both `is_datetime64_dtype` and `is_datetime64_any_dtype` were True

[2020-12-03 17:35] tongr opened #38267 "BUG: Inconsistent behavior of `.replace()` in Int64 series with `<NA>`."
### Code Sample

This code does work as expected (0 value is replaced by `<NA>` in an Int64 series).
[code]

In contrast, when having `<NA>` values in the series `.replace()` does not work as expected (0 is **not** replaced by `<NA>`).
[code]

However, the code does work if we add `.fillna()` before replacing:
[code]

### Problem description
When applying the replace on a Int64 series with or with

[2020-12-03 18:24] stuart23 opened #38269 "BUG: _metadata does not persist through groupby"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-03 18:35] jbrockmendel commented on #36785
Looks like the problem is inside FrameColumnApply.series_generator, need to check dtype match when setting blk.values

[2020-12-03 18:39] bersbersbers opened #38270 "BUG: Missing SettingwithCopyWarning with MultiIndex DataFrame"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Value `11` is not assigned. Output is
[code]

No SettingwithCopyWarning is shown.

#### Expected Output

Value `11` is assigned. Output is
[code]

Or: SettingwithCopyWarning is show

[2020-12-03 18:41] arw2019 opened #38271 "BUG: setting object dtype Series row with an Extension Array"
On 1.2 master:
[code]
I expect:
[code]

[2020-12-03 18:44] bersbersbers commented on #38270
I know that this works:

[code]

But the point of this issue is that the non-working variante should issue a warning.

[2020-12-03 19:34] simonjayhawkins commented on #35843
so we could just remove

[code]
from `is_datetime64tz_dtype` and the test suite will pass and this issue would be fixed.

since this pattern (for EA checks) is also added for `is_period_dtype`, `is_interval_dtype` and `is_categorical_dtype` then I suspect there would still be latent bugs with SparseArray with these subtypes if these are not changed also.

[2020-12-03 19:53] alexifm commented on #26859
@FivelMttz updated my old tests and got the PR going.

[2020-12-03 20:45] jorisvandenbossche commented on #38267
@tongr thanks for the report!

This seems to be working correctly on master (there have been some replace related fixes):

[code]

So this will be fixed in the upcoming 1.2 release

[2020-12-03 20:53] dannemarre opened #38274 "BUG: pandas.dataframe.drop_duplicates ignore_index parameter"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-03 21:30] zanuttin commented on #38138
Hello, I'm Joao and I would like to take

./pandas/core/arrays/floating.py

to start working as my first issue

[2020-12-03 22:14] vmdhhh commented on #38138
@zanuttin hey, `./pandas/core/arrays/interval.py` is already up for merge in #38263.
Just to avoid rework, maybe you could take something else if possible?

[2020-12-03 22:55] ppetruneac opened #38278 "BUG: DataError: No numeric types to aggregate on pandas.core.groupby.GroupBy.rank¶"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-03 22:58] zanuttin commented on #38138
I have already pushed the modifications @vmdhhh, sorry for not paying attention on your first comment.
From what I've checked we did the same modifications, not sure if this is enough to not generate a conflict though.

[2020-12-03 23:02] arw2019 commented on #33942
I'm +1 on returning `NA` with `skipna=False`

cc @pandas-dev/pandas-core @pandas-dev/pandas-triage there's a PR in the works to implement this once we decide on the behavior

[2020-12-04 01:24] UrielMaD commented on #38138
Hello, I just submitted a PR for ./pandas/core/strings/accessor.py

[2020-12-04 01:33] erfannariman opened #38281 "DOC: add to str.endswith / startswith that tuples are accepted for multiple value testing"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.endswith.html
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html

#### Documentation problem

 Right now there is no indication that these methods accept a tuple for testing on multiple character sequences.

#### Suggested fix for documentation

Add in the do

[2020-12-04 01:33] erfannariman commented on #38281
take

[2020-12-04 02:02] rhshadrach commented on #38013
Adding many more 0's gives an `OverflowError` in `pandas._libs.parsers._try_uint64` on my 64-bit machine; a few levels up in the stack is `pandas._libs.parsers.TextReader._convert_column_data`. It'd be good to know what path is taken on a 32-bit machine.

[2020-12-04 02:14] rhshadrach commented on #26552
@jreback Is this something we could potentially do during the rc phase for 1.2? I can take this up, but not for another 2 days.

[2020-12-04 02:19] jreback commented on #26552
yeah i think this would be fine during rc

[2020-12-04 02:23] rhshadrach commented on #38281
+1. Also should update type hints for the argument.

[2020-12-04 02:41] GYHHAHA commented on #38278
The cythonized `group_rank` seems only to work on numeric columns, not consistent with the `Series.rank`
https://github.com/pandas-dev/pandas/blob/8b0af583089acbdfcd0ccfdc46271715a50ad3dc/pandas/_libs/groupby.pyx#L1080

[2020-12-04 02:44] rhshadrach commented on #38278
Thanks for the report, it seems like this should be supported. PRs are most certainly welcome!

[2020-12-04 03:17] rhshadrach commented on #37941
I don't see the reason to avoid branching:

[code]

In general, I don't think one should invent no-op parameters to try to avoid branching. However, no selection does seem to be a natural result of `df.query("")` and I have built query strings like the following:

[code]

for which the no-op of the empty string would eliminate an edge case.

[2020-12-04 07:18] AMALCGCG opened #38286 "BUG: GroupBy.first does not skip missing values in string-valued columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-04 10:58] jamesmyatt opened #38287 "DOC: Out-of-date list of sort algorithms"
#### Location of the documentation

e.g. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_values.html, https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html

#### Documentation problem

List of values for `kind` should be updated to reflect changes in NumPy: https://numpy.org/doc/stable/reference/generated/numpy.sort.html

Specific

[2020-12-04 14:00] sunkusowmyasree opened #38288 "ENH: I wish I could use pandas to compare Two Excels and Create a difference Report where I can filter out differences alone"
#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]

#### Describe the solution you'd like

[this should provide a description of the feature request, e.g. "`DataFrame.foo` should get a new parameter `bar` that [...]", try to write a docstring for the desired feature]

#### API breaking implica

[2020-12-04 14:24] #38274 closed

[2020-12-04 15:58] jreback commented on #38288
see this: https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.compare.html?highlight=compare#pandas.DataFrame.compare

[2020-12-04 15:58] #38288 closed

[2020-12-04 16:10] jorisvandenbossche commented on #37494
@jbrockmendel thanks for the overview!

AFAIK this doesn't only break decimal, but any EA with a user-defined function in groupby?

Copying your comment from https://github.com/pandas-dev/pandas/pull/38164/files#r536193430:

Considering for a moment the `_from_sequence` issue is solved: are you then OK with this "try to cast back" for generic ops?

[2020-12-04 16:21] #36785 closed

[2020-12-04 17:44] jbrockmendel commented on #37494
Once _from_sequence is reliably strict, I wouldn't have a serious problem with the "try to cast back" approach.

[2020-12-04 18:23] robertwb opened #38292 "BUG: read_csv raises IndexError when index_col is passed"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This is a legal, if empty, csv. Note that variations such as

```pd.read_csv(io.StringIO('a0,

[2020-12-04 18:33] robertwb commented on #36791
This is a duplicate with https://github.com/pandas-dev/pandas/issues/34548 which was caused by a bug when implementing nrows. (The workaround is to set nrows to be a very large number.)

[2020-12-04 18:37] StevenLi-DS opened #38294 "ENH: set the first code value in Categorical"
#### Is your feature request related to a problem?

[code]
I often wish I can set the beginning underline code value in a Categorical. Right, no matter ordered or unordered, pandas will always begin the first code value as 0. Sometimes, I want it to begin with 1. like

[code]

Currently, there is no alternative I can think of other than manually storing the modified codes in a new column but this

[2020-12-04 19:05] Abhi-H commented on #38174
take

[2020-12-04 19:39] jorisvandenbossche commented on #33254
I am trying to revive my old branch for this.
Any thoughts on https://github.com/pandas-dev/pandas/issues/33254#issuecomment-608428206 ?

[2020-12-04 19:54] tilusnet opened #38296 "BUG: DataFrame.transform(dict) drops columns not mentioned in the dict"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

I may have a dataframe with 100 columns, of which I want to transform 3.
`DataFrame.transform()` accepts a dict with column -> function mappings, therefore my intuition is to

[2020-12-04 20:25] davidyakobovitch opened #38297 "DOC:"
#### Location of the documentation

Page 47

[this should provide the location of the documentation, e.g. "pandas.read_csv" or the URL of the documentation, e.g. "https://dev.pandas.io/docs/reference/api/pandas.read_csv.html"]

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

merge() link is broken and lin

[2020-12-04 21:08] jbrockmendel commented on #33254
IIUC the issue is cases where the dtype for a sequence of scalars is amibiguous (despite them being valid for a strict _from_sequence).  The options that come to mind are:

1) if no dtype is passed, make a reasonable inference
2) if no dtype is passed, resist the temptation to guess, raise
3) make dtype required in all cases

My inclination is to lean towards being as strict as possible, in part b

[2020-12-04 21:23] UrielMaD commented on #38138
Hi again @jreback, I checked the file ./pandas/core/dtypes/dtypes.py and it has no unnecessary dict calls

[2020-12-04 22:03] rhshadrach commented on #26552
Based on the decisions made in #35029, I'm not sure there is anything to do here. For reading, when a user specifies ``engine="xlrd"`` or the extension is `.xls`, the xlrd engine is used and no warning is emitted. I think we want to parallel that behavior for writing, and as far as I can tell, that is already the case.

Namely, we get the config `f"io.excel.{ext}.writer"` where `ext` is the file e

[2020-12-04 22:05] rhshadrach commented on #26552
Ahh, I see. I think we want to deprecate writing `xls` but not reading `xls`, so a DeprecationWarning should be emitted anytime `xlwt` is used regardless of how we got there.

[2020-12-04 22:23] jbrockmendel opened #38299 "BUG: find_common_type([interval[f8], interval[i8]]) returns object"
I would expect it to return interval[f8], analogous to what we'd get with find_common_type([f8, i8])

[2020-12-04 22:51] dclong opened #38300 "ENH: Make pandas API more consistent"
#### Is your feature request related to a problem?

The pandas DataFrame uses both arguments of `inplace` and `copy` (`DataFrame.astype` and `Series.astype`) in different methods to indicate change in place. It would be great if it can be unified to use `inplace` in all methods.

#### Describe the solution you'd like

Always use the argument `inplace` (instead of `copy`) to indicate change in plac

[2020-12-04 23:45] #38227 closed

[2020-12-05 01:27] rhshadrach commented on #38297
On which page does the link occur?

[2020-12-05 01:33] ma3da opened #38303 "BUG: Series.loc setitem with Series raises ValueError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
<details>

[code]
</details>

#### Expected Output
The same as with

[code]

[code]
#### Outpu

[2020-12-05 01:33] rhshadrach commented on #38296
Returning only 3 columns is the desired behavior, you can perform your operation as:

[code]

[2020-12-05 01:33] davidyakobovitch commented on #38297
Page 47 labeled, or 61 for whole document, of this document: https://pandas.pydata.org/docs/pandas.pdf
I pasted the wrong link above.

[2020-12-05 01:39] rhshadrach commented on #38297
Thanks for the link. It seems this is only the case in the pdf, and every link to a pandas function takes you back to the first page.

[2020-12-05 01:43] rhshadrach commented on #38294
How would the proposed feature be beneficial to you?

[2020-12-05 02:36] twoertwein opened #38305 "BUG: IntervalIndex cannot be saved to HDF file"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Pytables doesn't seems to know IntervalIndex. If pytables doesn't support IntervalIndex, pand

[2020-12-05 04:08] AMALCGCG commented on #38286
Not ideal, but a potential workaround is:
[code]

Is this really the simplest way to get the first non-null string in each column of a DataFrame group?

[2020-12-05 04:46] gurukiran07 opened #38311 "DOC: Wrong output in the example of Timedelta.isoformat"
#### Location of the documentation

[`pandas.Timedelta.isoformat`](https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.isoformat.html#pandas.Timedelta.isoformat)

#### Documentation problem

The output on an example in the docs has the wrong output(`Timedelta.isoformat` works fine)

![Screenshot from 2020-12-04 16-40-36](https://user-images.githubusercontent.com/47276342/101234113-ce80fa

[2020-12-05 05:22] arw2019 opened #38312 "PERF: Period constructor parses input twice"
#38175 added correct handling of nanoseconds in the Period constructor but the code path as is parses the input twice. We should integrate the nanoseconds code into `parse_time_string` so this happens only once.

xref https://github.com/pandas-dev/pandas/pull/38175/files#r536100941

It might be worth adding a nanosecond Period constructor benchmark too.

[2020-12-05 05:42] StevenLi-DS commented on #38294
Currently, you can't do anything and this like you have a datetime variable but you need to save it as a string and then format the string to want you want.

This is very useful when you try to run some satanical models in which you have to use numerical values. You don't have to save the code and then recode it, but simply do it during preprocessing. This separates your workflow and make it liner

[2020-12-05 09:22] toobaz commented on #9581
My understanding is that the way to check for dtypes (including custom ones) that works for both numpy and pandas and never raises is looking at their ``type`` attribute:

[code]

... except that:

[code]
because
[code]
and indeed:
[code]

Maybe that's something we can easily fix on the pandas side, so that the check doesn't require digging beyond the pandas API?

What I mean is:

[code]
while:
[c

[2020-12-05 09:26] toobaz commented on #9581
Related: #8814

That settled the question for ``dataframe.dtypes == 'category'``, which however behaves differently from ``dataframe.dtypes.iloc[0] == 'category'`` if the first column is for instance a bool (and we know that won't change on the numpy side), which is sad.

[2020-12-05 10:31] GuillaumeDMMarion opened #38314 "BUG: Sliced subclassed Series returns full data result when custom method is applied"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The above code returns:
0&nbsp;&nbsp;&nbsp;1
1&nbsp;&nbsp;&nbsp;2
2&nbsp;&nbsp;&nbsp;3
3&nbsp

[2020-12-05 11:07] jreback commented on #38294
use https://pandas.pydata.org/docs/reference/api/pandas.Categorical.from_codes.html?highlight=from_codes#pandas.Categorical.from_codes

i actually don't find your examples compelling @StevenLi-DS but the api exists

[2020-12-05 11:07] #38294 closed

[2020-12-05 13:13] jorisvandenbossche commented on #38312
BTW, the reason I noted this is actually already thanks to our benchmarks: https://pandas.pydata.org/speed/pandas/#period.PeriodIndexConstructor.time_from_ints?python=3.8&Cython=0.29.21&p-freq='D'&p-is_offset=False&commits=02caf7d7-daa59420

[2020-12-05 15:05] jreback commented on #38066
@simonjayhawkins i would simply release now

[2020-12-05 15:06] jreback commented on #37784
@simonjayhawkins i would simply release now

[2020-12-05 15:10] jorisvandenbossche opened #38316 "BUG: IntervalIndex.astype("category") doesn't preserve exact interval dtype in categories"
Somewhere in the conversion, before factorizing, we convert the interval array/index to a object-dtype numpy array of Interval objects, and so afterwards *infer* the IntervalDtype again when creating the categories.

Example consequence is that if you have uint64 intervals, they get inferred as int64 afterwards:

[code]

[2020-12-05 15:24] jorisvandenbossche commented on #38314
Hmm, that's strange. Thanks for the report!

What's also strange that directly doing what the custom method does, doesn't give the wrong result (using your example):

[code]

Very welcome to dig in!

[2020-12-05 15:30] jorisvandenbossche commented on #38314
Ah, it's because of putting ``'custom_method"`` in the ``_metadata``, which is only meant to be done for *attributes*, not methods. Because of that (and because we try to preserve the metadata), we will assign the parent its method to the resulting series:

[code]

So basically what we did under the hood is `s_sliced.custom_method = s.custom_method`. And that way, you get the original series its v

[2020-12-05 16:56] GuillaumeDMMarion commented on #38314
Thanks for the quick answer!

The reason I had it in ```_metadata``` was because I originally encountered it with an attribute indeed. What you state is correct and solves the code from above for sure.

I could imagine a new use case, and my apologies if it's too far from the original issue:

Imagine a subclassed ```Series``` where we have some ```metric``` of the instance stored as an attribute (

[2020-12-05 17:05] jorisvandenbossche commented on #38314
I think the answer then still is: you shouldn't add this to `_metadata`.
Not each attribute needs to be added in that list, you can also define normal attributes/properties in the subclass. Only properties you *want* to propagate, should be added there. See https://pandas.pydata.org/docs/dev/development/extending.html#define-original-properties about this

Also note that setting this attribute hap

[2020-12-05 17:14] #37748 closed

[2020-12-05 17:14] #37486 closed

[2020-12-05 17:14] #38271 closed

[2020-12-05 17:30] StevenLi-DS commented on #38294
@jreback This still needs you to have a column/list of codes right? If you have 100 rows and you need a list with 100 codes right?

[2020-12-05 17:31] simonjayhawkins commented on #38066
OK. i'll do this before 1.2.0rc0 for simplicity if they are both being released around the same time.

wheels for Windows 3.6 aren't building (maybe others, test not yet complete) https://github.com/MacPython/pandas-wheels/pull/109

but won't block on these. will open PR to set the release date to today in the 1.1.5 release notes shortly if the others are green.

It's much later in the day here th

[2020-12-05 17:33] jreback commented on #38294
yes; as i said i don't find this use case compelling

codes are internal
you can certainly make them external if u want as a mother column - that's what i would do if u need this

[2020-12-05 17:40] rhshadrach commented on #38297
@davidyakobovitch thanks for the report. Can you make the title of this issue more descriptive?

[2020-12-05 18:13] StevenLi-DS commented on #38294
@jreback If I already have a code column. I don't need to create one.

I just don't understand why I can't set up the code myself in a Categorical? If you have dataframe like this:
[code]
How would you change the code to 1, 2, 3? If my use case is not compelling. There must be a solution right?
This has been one of the biggest issue for me for years now.

[2020-12-05 18:49] tilusnet commented on #38296
Thanks, but I consider this a rather unfavourable workaround.
It doesn't even work with method chaining. Consider this common use case scenario:
[code]

Out of curiosity why did you say this is not a Bug?
It clearly doesn't work in line with the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html): "Produced DataFrame will have same axis lengt

[2020-12-05 18:54] jreback commented on #38296
@tilusnet axis is rows

this is defined behavior and not a bug

you can use .assign to achieve fluent behavior easily

[2020-12-05 18:54] #38296 closed

[2020-12-05 18:56] jreback commented on #38294
again you have haven't given an explicit example of why this is useful

[2020-12-05 19:02] hwalinga commented on #37947
There has been improvements in Jedi, but there are still cases in which Jedi is still really slow: https://github.com/davidhalter/jedi/issues/1696

And as it seems this won't improve much in the future: https://github.com/davidhalter/jedi/issues/1059#issuecomment-658166255

Seems like pandas is a bit too complex too handle, and the current implementation of Jedi isn't designed with that in mind.

[2020-12-05 19:15] simonjayhawkins commented on #38066
seems to be in the `python setup.py build` step, maybe #37732 related

[2020-12-05 19:27] tilusnet commented on #38296
Thanks @jreback , I wasn't aware of .assign's side effect achieving data transformation.

I am sorry to insist on how misleading/incomplete the .transform documentation is.
First line:
"Call func on self producing a DataFrame with transformed **values**." It says "values" only, not even mentioning structure transformation. When I read about transforming values I expect no structural change.

Is th

[2020-12-05 19:40] jreback commented on #38296
you are welcome to submit a doc update if you would like though there is extensive documentation

[2020-12-05 19:51] theoniko commented on #38046
I tried the code snippet from mhorsley30896 with latest master (1.2.0.dev0+1469.g122ae441d) and it returned True. I have not worked in python but i will try to add the test above.

[2020-12-05 19:51] theoniko commented on #38046
take

[2020-12-05 19:52] fangchenli commented on #38138
I've checked everything in #38320 (not merged yet) off. Please select from the remaining files to work on.

[2020-12-05 19:54] tilusnet commented on #38296
I'll consider helping with the docs once I truly understand it myself first.

[2020-12-05 21:57] simonjayhawkins commented on #38066
locally i'm getting a similar warning
[code]
but not picking up numpy-1.20.0rc1 so not failing to build with `RuntimeError: Python version >= 3.7 required.`

[2020-12-05 22:49] rhshadrach commented on #38297
Running ``python make.py latex_forced`` once produces a pdf with no internal links. Running the same command again (no cleaning) produced a pdf where the internal links worked. Not sure if running twice would fix it.

[2020-12-05 23:35] astrowonk commented on #37941
Exactly, I don't think we need to invent anything since the natural result of an empty string seems to be return all rows.

[2020-12-06 01:02] StevenLi-DS commented on #38294
Hi @jreback.
I really don't know how explicit it has to be and I've listed a couple of situations, but it is not compelling from your perspective. It's like you ask me why coding in stats is useful at all. Based on our conversation, I believe this is no solution for this now i.e. an limitation in pandas. Is this what feature request for? To be honest, I was surprised when I realized that pandas do

[2020-12-06 01:17] jreback commented on #38294
@StevenLi-DS you are still missing the point

why is this useful? pandas already allows comparisons and operations on categories that have semantic meaning

if you show an example of how this is actually useful would give it consideration - please read the extensive categorical docs and things would become clear

[2020-12-06 01:18] jreback commented on #38294
and to be honest anything beyond simple coding and dummies is out of scope

if u must code for downstream use then do that -

[2020-12-06 01:53] StevenLi-DS commented on #38294
I'm simply asking for a way to control the coding.
If it is by design that pandas will only allow one, then I guess I have no other choice than accepting it.
Thanks for your time @jreback.

[2020-12-06 02:10] jreback commented on #38294
you can use from_codes - it is designed for this

[2020-12-06 04:21] jbrockmendel commented on #17323
@jorisvandenbossche why is this allowed for CategoricalIndex but not others?  (im trying to standardize the methods and collect the boilerplate)

[2020-12-06 08:55] GuillaumeDMMarion commented on #38314
I've looked a bit into ```__finally__``` and am not sure it completely solves my use case.
But you are correct that adding to ```_metadata``` wasn't needed as such.

Below example makes no use of ```_metadata```, while still (per my use case) allowing me to:
- Compute ```metric``` once (at each manipulation)
- Retain identical shape between ```self``` and ```metric```

[code]
True

Another approac

[2020-12-06 08:55] #38314 closed

[2020-12-06 09:21] jorisvandenbossche commented on #38240
This is not a "bug", but rather unfortunate but intentional behaviour. We handle this specifically here:

https://github.com/pandas-dev/pandas/blob/22dbef1c7136f57160088b27a21a43690f81a1e5/pandas/core/dtypes/concat.py#L60-L75

See this comment on the original PR about exactly this case: https://github.com/pandas-dev/pandas/pull/33607#discussion_r410130585

This whole `_cast_to_common_type` functio

[2020-12-06 09:45] jorisvandenbossche commented on #38299
IntervalDtype doesn't have its own specialization of `_get_common_dtype`, so it falls back to the base class implementation, which only looks at exact dtype equality.

So this can be fixed by adding a custom `_get_common_dtype`, and getting the common type of the underlying left/right arrays (the subdtype).
Now, I am not sure if this would be "better" or expected behaviour or not (not enough actua

[2020-12-06 11:29] ankushduacodes commented on #31691
Hi @MarcoGorelli, I would love to contribute to this issue. Please let me know if I may :)

[2020-12-06 11:31] ankushduacodes commented on #29751
Hi @phofl, I would love to contribute to this issue, Please let me know if I may :)

[2020-12-06 11:34] ankushduacodes commented on #29687
Hi @simonjayhawkins, I would love to contribute to this issue, Please let me know if I may :)

[2020-12-06 11:36] MarcoGorelli commented on #31691
of course!

[2020-12-06 11:38] ankushduacodes commented on #31691
@MarcoGorelli As This will be my first contribution to pandas repo, Could you please give some pointer on this issue, I would really appreciate that.

[2020-12-06 11:44] yanaiela opened #38328 "ENH: Adding highlighting options to `to_latex` function"
Following #3196, it would be extremely useful to add the possibility of highlighting the best value in a row or column of a DataFrame object when converting into a latex table (the `to_latex` function)

A convenient api for that would be to add a parameter to the `to_latex()` function, such as `highlight_rows=TYPE`, where TYPE can be `bold|italics|...` and than each row's best value would be highl

[2020-12-06 11:50] MarcoGorelli commented on #31691
@ankushduacodes for a start, read through the contributing guide linked above.

After that, I think what needs to be done to close this issue is to reword the docstring for `DataFrame.plot.bar`. Currently, for `color`, it reads:
[code]
This can probably be clarified, maybe by noting that if you only have a single column, then only the first colour in the list will be used

[2020-12-06 11:52] simonjayhawkins commented on #38066
looks like the issue is fixed by changing NP_BUILD_DEP to 1.15.4

[2020-12-06 11:52] MarcoGorelli commented on #38022
Hi @rkc007 - I've unassigned you so others can take this up if they wish, but if you're stil interseted in working on it do let me know and I'll re-assign you

[2020-12-06 11:53] MarcoGorelli commented on #38093
Hi @kevinetienne - are you still working on this?

[2020-12-06 12:48] jorisvandenbossche commented on #17323
No idea. My above statement was only an observation from debugging those test failures, not any normative statement about what CategoricalIndex is supposed to handle.

Now, it seems that this behaviour doesn't propagate to eg `DataFrame.reindex` (that still raises about duplicate labels even with categorical index), so it might be possible to deprecate this.

[2020-12-06 14:30] rhshadrach commented on #38287
Thanks for the report! PR to update is most welcome.

[2020-12-06 15:45] rhshadrach commented on #38286
Thanks for the report! This is indeed a bug. Looking into this, I am wondering what should be done about pathological cases like:

    df = pd.DataFrame({'a': 1, 'b': [None, np.nan]})
    df.groupby('a').last()

One might expect that the result here would be `np.nan`. However, this opens up various consistency issues with `nth`. If there are `n` null-type values then it would make sense that we wo

[2020-12-06 16:14] rhshadrach commented on #38286
This is a regression from 1.0.x to 1.1.x

[2020-12-06 16:45] simonjayhawkins commented on #35843
In the formatting, rightly or wrongly, the SparseArray is converted to a DatetimeIndex and this is where the failure occurs.

so the underlying issue here is that creating an Index from a `SparseDtype("datetime64[ns]")` is broken from 1.0.5 to master.

on master
[code]

on 1.0.5
[code]

if we don't want to revert parts of #33400, we could special case for SparseArray.

I'm not a fan of special cas

[2020-12-06 17:38] nf78 commented on #37956
@TomAugspurger and @anilkumarKanasani ,

Thanks for your replies and interest on this issue.

When I suggested the argument "multiprocessing = True", I don't mean this to be a hard rule. This is meant to be done with a module like multiprocessing or joblib, just as an example, and the argument could actually be set to a **boolean True/False**, if we choose to use **only one backend** like multipro

[2020-12-06 17:41] simonjayhawkins commented on #37629
@zeeMonkeez This may have happened to work in previous versions, but as you point out in the SO conversation, how is the nested list interpreted?

If this is not a documented/expected behaviour, I'm inclined to remove the regression tag.

I think the following demonstrates that the nested list just happened to work for a specific case.

[code]

[2020-12-06 17:43] phofl commented on #29751
Yes for sure. As long as it is unassigned, everyone is free to work on

[2020-12-06 17:55] nf78 commented on #37955
The whole purpose of this issue, is to provide the pandas users with a straight solution, rather than relying on a different tool or backend.

@jreback, I appreciate your comments that dask is very well designed, but even if it is considerd to give relatively little gain, I have made my own implementation with joblib and multiprocessing, and I would like to contribute to pandas with this. For this

[2020-12-06 18:46] #38286 closed

[2020-12-06 18:55] jbrockmendel commented on #35843
[code]

instead of checking .kind, could directly check `isinstance(arr_or_dtype, Datetime64TZDtype)`?

[2020-12-06 19:00] simonjayhawkins commented on #35843
If you want to make changes to the is_foo_dtype checks, fine with me. we won't need #38332 and can maybe revert #35838 too.

rather than papering over the cracks, I would also be happy to revert #33400 for now.

[2020-12-06 19:17] jbrockmendel commented on #35843
you've given more thought than i have to what is proper solution vs what constitutes crack-papering.  If reverting #33400 is necessary, i'll choose correctness over performance every time.

[2020-12-06 19:17] phofl commented on #36111
This works now on master. Could need a test

[2020-12-06 19:28] simonjayhawkins commented on #35843
A proper solution is probably not suitable for regression fixes. IIUC the proper solution has been discussed elsewhere, https://github.com/pandas-dev/pandas/issues/35843#issuecomment-679334530

[2020-12-06 19:51] jreback commented on #35843
yeah let's just do what @simonjayhawkins proposed for expediency

we need to release

if want to fix differently for 1.2 ok with that

[2020-12-06 19:59] simonjayhawkins commented on #35843
by 'papering over the cracks', i was referring to the PRs adding the special casing for SparseArray.

is that revert #33400 (and maybe #35838 too) or merge and backport #38332 to just fix the known issue.

[2020-12-06 20:14] simonjayhawkins commented on #35843
#34986 related

[2020-12-06 21:53] fzumstein commented on #28547
@fiendish you shouldn't need to use a patched version of xlrd when working with the legacy `xls` format as the issue you fixed on your branch was only an issue when using xlrd with the new `xlsx` format.

[2020-12-06 22:10] ofajardo commented on #10517
[Pyreadstat](https://github.com/Roche/pyreadstat) is a python wrapper around Readstat to read and write SAS, Stata and SPSS. Actually pandas read_spss is already using it, therefore you could use it for SAS and Stata as well.

[2020-12-06 22:14] fiendish commented on #28547
@fzumstein In general you may be right. Our case is a little weird. Some of our files actually come into the code without any file extension at all (don't ask, lol, I'm working on addressing that), so it was nice to have one engine that did both by peeking the contents instead of going by file extension. Relying on being able to tell the difference works only until it doesn't. Maybe a pythonic sol

[2020-12-06 22:25] shrutiguptabu commented on #38138
Hello,

I would like to take

./pandas/tests/io/parser/test_parse_dates.py
./pandas/tests/io/generate_legacy_storage_files.py

as my first issue.

[2020-12-06 22:43] pillemer commented on #38138
I will do /pandas/tests/io/parser/test_index_col.py

[2020-12-06 23:48] JoseNavy commented on #30999
Hello! I'm new to Open Source and I would like to help on this issue. Is this issue still active? If it is, can someone give me some pointers on what files can I work on? Thanks!

[2020-12-07 00:52] rkc007 commented on #38022
Hi @MarcoGorelli  - Sorry I wasn't able to work on this issue as I was working on another issue #32073 and it is now approved. So, I would love to work on this issue now.

I have a quick doubt regarding this issue. I saw the documentation and your PR (https://github.com/pre-commit/pre-commit/pull/1677) on the repository. Does the change here is like this -

`types: [cython]`

will be converted to

[2020-12-07 01:19] ssche opened #38338 "BUG: `df.set_index()` doesn't maintain ExtensionArray dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

`dtype` of `ExtensionArray` is lost after `set_index()`/`reset_index()`.

Note: I'm using cyberpandas as a "minimal" implementation of an `ExtensionArray` example (I thin

[2020-12-07 01:52] jreback commented on #38338
see #22861

this is actually somewhat close but needs some effort to push it over the line

[2020-12-07 01:53] #38338 closed

[2020-12-07 07:01] MarcoGorelli commented on #30999
Hey @JoseNavy - the list of files is at the top where it says "The current list is:"

See the contribution guide for how to get started

[2020-12-07 07:21] MarcoGorelli commented on #38022
Hey - no worries, I've re-assigned you :smile:

For flake8, we run it with different options on each type of file, so I'd leave it as it is.

For isort, we could overwrite `types` and then use `types_or`:
[code]

For some of the local hooks, we can `types_or` instead of regexes like `files: \.(py|pyx|pxd|pxi)$`

----

To check what type a file is, you can use [identify](https://github.com/pre-comm

[2020-12-07 07:40] ZSSsongshu commented on #37057
Polyfit sanity test emitted a warning, most likely due to using a buggy Accelerate backend. If you compiled yourself, see site.cfg.example for information. Otherwise report this to the vendor that provided NumPy.

1.先安装 OpenBLAS
$ brew install openblas
2. 然后指定 OpenBLAS 作为 BLAS 提供方, 安装 Numpy 和 pandas
$ OPENBLAS="$(brew --prefix openblas)" pip3 install numpy pandas

[2020-12-07 08:19] jorisvandenbossche opened #38340 "ENH: implement fast isin() for nullable dtypes"
Currently, you can get quite a slowdown:

[code]

[2020-12-07 09:19] kevinetienne commented on #38093
Yes, I have work I need to push, which I'll do today. Thank you.

[2020-12-07 09:44] #35843 closed

[2020-12-07 10:33] simonjayhawkins commented on #38066
final pre-release checklist

- [ ]  MacPython.pandas-wheels https://github.com/MacPython/pandas-wheels/pull/109
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ]  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.5.html
- [ ]  ci checks https://github.com/pandas-dev/pandas/commits/1.1.x
-

[2020-12-07 10:52] jorisvandenbossche commented on #37350
General typing question: why not use `cast` instead of `assert isinstance` ?
(or stated differently: what are the differences and when should we use which of those two generally speaking?)

[2020-12-07 11:16] WillAyd commented on #37350
cast eliminates type safety. assert maintains type safety, but at the cost of potential runtime errors.

If mypy had a static_assert similar to C it would most likely be ideal for our code base, but that doesn’t yet exist. See https://github.com/python/mypy/issues/5687

Sent from my iPhone

[2020-12-07 11:17] felix-hilden opened #38343 "ENH: Functions for creating data frames and series "like" an existing one with different values"
#### Problem
Sometimes I find myself needing a copy of a `DataFrame` or a `Series` with different values to the original. That is to say, with a similar index and column structure and naming. For example, it could occur when doing some numerical transformations which return NumPy arrays. The thing can of course be done by creating new objects by hand, but it becomes quite repetitive after a few li

[2020-12-07 11:40] simonjayhawkins commented on #38066
pre-release checks passed. starting release now.

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag
- [ ] open PR to build wheels
- [ ] upload docs
- [ ] wheels in staging area
- [ ] github release
- [ ] upload wheels to PyPI
- [ ] change link for stable docs

[2020-12-07 13:06] ananis25 commented on #35176
Could I request to also consider a pandas Extension type for n-dim numpy arrays? Though it probably strays off from the pandas semantics of considering a series as an array like of scalars.

For a lot of data analysis work, the features are generally aligned along an axis like time and thus are suited to pandas. However, with >1D features, pandas coerces them to a numpy array of subarray objects,

[2020-12-07 13:38] #32073 closed

[2020-12-07 13:47] simonjayhawkins commented on #38066
I need to pop out for an hour. wheels are built. will do the github release when I get back to reduce the lag from the notification generated by creating the github release and wheels being available on PyPI

conda-forge should be automatically picked up after creating the Github release.

[2020-12-07 15:23] simonjayhawkins commented on #38066
https://github.com/conda-forge/pandas-feedstock/pull/100

[2020-12-07 15:28] dcsaba89 commented on #36508
I agree with you @denck007, this behavior is unexpected and furthermore undocumented. However, I think this behavior should be fixed to return the **biased** std_dev as this is what np.std returns by default.

[2020-12-07 17:02] simonjayhawkins commented on #37784
we still have the 1 blocker. do the release candidate tomorrow regardless of whether #38140 is resolved? This effectively means that it should be deferred to 1.3 and not included between 1.2.0rc0 and 1.2.0

[2020-12-07 17:47] jreback commented on #37784
yes we can always push that issue if needbe or just merge it - but nothing is a blocker

[2020-12-07 17:56] AMALCGCG commented on #38286
We just upgraded to 1.1.5 this morning, and it works great! Thank you for the blazing fast discussion, decision, fix, merge, and backport!

[2020-12-07 18:03] luggie commented on #32515
`df.to_dict(orient='records')`
`df.to_dict('records')`
both raise
`Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.`
with pandas 1.1.4

[2020-12-07 22:18] rhshadrach commented on #37955
@nf78 You may be concerned with only reading csvs, but we also need to consider API consistency. "Why does pandas multiprocess reading csvs but not writing?" "Why does pandas multiprocess reading csvs but not reading parquet?" "Why does pandas multiprocess io but not other ops?" See [Scope Creep](https://en.wikipedia.org/wiki/Scope_creep).

It becomes a large complexity when there are already othe

[2020-12-08 00:42] JoseNavy commented on #30999
I'll take the following files:
pandas/tests/io/pytables/test_complex.py
pandas/tests/io/test_clipboard.py
pandas/tests/plotting/frame/test_frame_subplots.py

I'll make a PR soon :]

[2020-12-08 02:44] #28486 closed

[2020-12-08 03:17] diptiw commented on #22512
Hi, I've started making tests for the aggregate first() function using DFrames with different columns types. I was wondering if addition tests need to be made for other aggregate functions with categorical columns for this issue.

[2020-12-08 06:49] ikedaosushi opened #38355 "BUG: pylint with merge of pandas==1.1.5 raises a RecursionError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-08 08:38] jorisvandenbossche commented on #38182
I don't think it is fixed? (or at least not that I am aware of, and the linked PR only suppressed the warning in the *tests*, not in the actual code). See the linked example at https://github.com/pandas-dev/pandas/pull/37193#issuecomment-715228272:

[code]

[2020-12-08 09:26] simonjayhawkins commented on #37784
rc pre-release checklist

- [ ]  MacPython.pandas nightly wheels built ok https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=49620&view=results
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions/runs/407820772
- [ ]  ci checks https://github.com/pandas-dev/pandas/commits/master
- [ ]  no open blockers https://github.com/pandas-dev/pandas/m

[2020-12-08 09:29] simonjayhawkins commented on #37784
will start the release after the ci on the latest commit to master completes.

[2020-12-08 10:09] jorisvandenbossche commented on #37784
@simonjayhawkins if that's OK for you, I would propose to merge the last two remaining PRs that are tagged for 1.2 (it's a deprecation, so would be good to include in the RC). Taking a look now, but I think both are mergeable. Will only take a bit longer to have CI completing on master.

[2020-12-08 10:11] #26552 closed

[2020-12-08 10:13] jorisvandenbossche commented on #37765
I think it would certainly be very welcome if someone can look into setting up database tests elsewhere (such as github actions)

[2020-12-08 10:17] simonjayhawkins commented on #37784
no problem.

also can you merge the conda-forge PR for 1.1.5. (sometime before 1.2.0rc0 gets an automated PR generated)

[2020-12-08 10:20] jorisvandenbossche commented on #37784
@simonjayhawkins will do (can you comment on that PR (https://github.com/conda-forge/pandas-feedstock/pull/100) whether you want to be added as recipe-maintainer or not?)

[2020-12-08 10:22] jorisvandenbossche commented on #37784
OK, last two PRs are merged here for 1.2, so again waiting on CI to complete on master

[2020-12-08 11:12] simonjayhawkins commented on #38066
available on conda-forge https://anaconda.org/conda-forge/pandas/files

[2020-12-08 11:12] #38066 closed

[2020-12-08 11:35] ClementWalter opened #38356 "ENH: Add an `assert` method to Series and DataFrame to assert on the fly in chaining"
#### Is your feature request related to a problem?

When chaining methods, one may want to make some check and raise errors accordingly. Currently it is not possible to define these checks on the fly but one rather has to define a function like :

[code]

so as to be able to do later, for example:

[code]

This lakes flexibility and readability. Eventually it refrains from writing more test for da

[2020-12-08 11:44] jreback commented on #38066
thanks @simonjayhawkins for the work in the release !

[2020-12-08 11:51] TomAugspurger commented on #38356
I'd prefer to keep this outside of pandas.

[2020-12-08 12:02] jotasi opened #38357 "DOC: Clarify stability of sorting in documentation of DataFrame.sort_values for multiple columns / labels"
#### Location of the documentation

Description of the argument `kind` in the documentation of [pandas.DataFrame.sort_values](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.sort_values.html).

#### Documentation problem

The current documentation states (emphasize mine):

To me that means, that the `kind` argument is ignored if you sort by multiple columns / labels. But I think

[2020-12-08 12:28] simonjayhawkins commented on #37784
known ci failure
[code]

starting release now.

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/releases/tag/v1.2.0rc0
- [ ] start new tag v1.3.0.dev0 https://github.com/pandas-dev/pandas/releases/tag/v1.3.0.dev0
- [ ] create 1.3 whatsnew
- [ ] create 1.2.x branch https://github.com/pandas-dev/pandas/tree/1.2.

[2020-12-08 13:40] ClementWalter commented on #38356
From a datascientist point of view I like this because it helps adding checks without breaking a chaining, which is a best practice. Furthermore it makes the check very explicit at the point where it is actually made. Currently I would not pipe but rather break the chain:

[code]

which I guess is less readable and not as concise as the proposed version

[2020-12-08 13:54] TomAugspurger opened #38358 "Performance regressions in GroupBy.fillna"
https://pandas.pydata.org/speed/pandas/#groupby.FillNA.time_df_ffill?python=3.8&Cython=0.29.21&commits=03e58585

From https://github.com/pandas-dev/pandas/commit/03e58585

cc @GYHHAHA

[2020-12-08 14:09] jreback commented on #37784
@simonjayhawkins branch already created i see, so we can resume merging for 1.3 and if anything needed for 1.2 can then backport to the branch, correct?

[2020-12-08 14:11] GYHHAHA commented on #38358
take

[2020-12-08 14:12] simonjayhawkins commented on #37784
that's correct.

[2020-12-08 14:23] tushushu commented on #38340
@jorisvandenbossche  Hi, I'm new here and would like to work on this issue.

[2020-12-08 14:41] jorisvandenbossche commented on #37784
@simonjayhawkins I don't think that the conda-forge bots work for RCs, so I think you will need to do this one manually, see eg Tom's PR for 1.1RC: https://github.com/conda-forge/pandas-feedstock/pull/84

[2020-12-08 14:43] stuart23 commented on #38269
Can close. Looks like it was fixed by #37343

[2020-12-08 14:44] simonjayhawkins commented on #37784
thanks for the heads up. conda-forge needs the sdist from the release assets, so can't do this till later in the process.

[2020-12-08 14:47] franzoni315 opened #38362 "BUG: Groupby column and min aggregation over period column yields NaT for all rows"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample:
[code]

#### Problem description

The above code returns NaT values for the `cohort` column, but it was expected to return the minimum values for `week`

[2020-12-08 15:24] tushushu commented on #38340
After testing, I found this line could be the bottleneck, for it would cost about 20ms according to the example provided.
https://github.com/pandas-dev/pandas/blob/b5958ee1999e9aead1938c0bba2b674378807b3d/pandas/core/algorithms.py#L442

[2020-12-08 15:52] rwijtvliet opened #38364 "BUG: weird tick spacing when plotting with time (instead of datetime) on x-axis"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description and expected output

I'd expect the tick marks of the second plot to be at more natural positi

[2020-12-08 15:58] #31954 closed

[2020-12-08 16:00] theholy7 commented on #38355
I just spent hours to find out that pandas was causing this.

[2020-12-08 16:08] tgaddair opened #38367 "BUG: Pandas 1.1.5 location-based indexing error with quantized pivot table"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-08 16:39] tushushu commented on #38340
@jorisvandenbossche

We can see Series's isin method is calling `algorithms.isin` function.
https://github.com/pandas-dev/pandas/blob/5cafae72a9c00da8e2f42f11c42b8fcb1639340a/pandas/core/series.py#L4633

And if we pass `s2._values._data` to `algorithms.isin` instead, the performance could be much better.
[code]

So the solution could be:
[code]

[2020-12-08 19:03] simonjayhawkins commented on #37784
@jorisvandenbossche not sure what else needs to change on the dev branch. for instance where are the 3.6 builds picked up from? The files with the configurations appear to be automatically generated files.

[2020-12-08 19:10] nf78 commented on #37955
@rhshadrach I'm not only concerned about reading csvs, I'm just raising a single issue (Rome wasn't built in a day) and if there is engagement I can happily contribute with the other multiprocessings for reading and writing csv/parquet/etc.

However, if there is no intention to implement multiprocessing in the pandas module, I fully understand.

[2020-12-08 19:16] jorisvandenbossche commented on #38066
Thanks a lot @simonjayhawkins !
Do you also sent out an announcement email?

[2020-12-08 19:55] jreback commented on #37955
@nf78 we do support a `engine=` keyword to various computation backends, e.g. rolling, groupby, and in some io backends e.g. python, pyarrow and so on.

So while I don't think pandas proper would want to maintain these backends at all (this is a great increase in complexity). We are not averse to providing hooks to enable backends. e.g. `engine='joblib|multiprocessing|dask|whatever'` could be a ta

[2020-12-08 20:08] Botanium commented on #34753
this issue still persists with python 3.8 and above. I will provide more data to reproduce it.

[2020-12-08 21:28] jreback commented on #37751
our meeting is scheduled for tomorrow Dec 10th, I cannot make it at that time, happy for folks to meet then, or reschedule

@pandas-dev/pandas-core

[2020-12-08 23:08] tsinggggg opened #38375 "DOC: infer_dtypes document is inconsistent with behaviour regarding boolean"
#### Location of the documentation

https://github.com/pandas-dev/pandas/blob/0711b7adb3150f14461c5d1a111a87a83a45bc90/pandas/_libs/lib.pyx#L1315

#### Documentation problem

In this example the return value should be 'boolean' as mentioned in this test case https://github.com/pandas-dev/pandas/blob/1db3aa2b8ae8bd3b20dea14b92e1e7355bfa266a/pandas/tests/dtypes/test_inference.py#L679

#### Suggested

[2020-12-09 00:13] impredicative commented on #25143
I'm seeing bad behavior with and without `errors='coerce'` with v1.1.4:

[code]

My conclusion is that `infer_datetime_format=True` is extremely buggy and should not be used when working with multiple formats.

[2020-12-09 00:42] annaymj opened #38378 "BUG: is_numeric_dtype return bool as TRUE"
#### Code Sample,

[code]

#### Problem description

is_numeric_dtype is returning true for boolean values

source code below
https://github.com/pandas-dev/pandas/blob/v1.1.5/pandas/core/dtypes/common.py#L1223-L1262

[code]

#### Expected Output
is_numeric_dtype(np.bool)
# False

####

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-b

[2020-12-09 00:53] rhshadrach commented on #38362
This is expected behavior. Look the values from `df.groupby('user_id')['week'].min()` by itself, they will have index given by `user_id`. Then when you make the assignment to`df['cohort']`, pandas will try to align the integer index of `df` with the index of the groupby results. When pandas finds no match, the null value is appropriately used.

This is the reason for transform.

[2020-12-09 00:58] rhshadrach commented on #38362
If I've missed something, please comment here and can reopen.

[2020-12-09 00:58] #38362 closed

[2020-12-09 01:10] tushushu commented on #38340
Here is the link of PR, please let me know if there is anything need to be modified. Thanks
https://github.com/pandas-dev/pandas/pull/38379

[2020-12-09 01:40] ikedaosushi commented on #38355
This issue is caused by `astroid` , which is a dependency of `pylint` , and the root cause has been fixed on `astroid` 's master already. However the last release of `astroid` is 2020-04-27, so we have to wait a new release of `astroid`, or specify the master of `astroid` in our requirement.txt.
https://github.com/PyCQA/astroid/pull/804

[2020-12-09 01:42] ikedaosushi commented on #38355
I found out the issue isn't related to `pandas` , I'll close it.

[2020-12-09 01:42] #38355 closed

[2020-12-09 01:43] arw2019 commented on #38378
Can you elaborate on what the bug is? Pandas (as well as, for example, NumPy) considers bool to be a numerical dtype

[2020-12-09 01:45] arw2019 commented on #38375
Am I misunderstanding or this isn't a docs problem? infer_dtypes returns `mixed` in this case

[2020-12-09 04:41] arw2019 commented on #38357
Are you interested in submitting a PR?

[2020-12-09 04:43] arw2019 commented on #38343
I'm not sold on the motivation for adding this to the codebase but I don't feel strongly

[2020-12-09 04:47] arw2019 commented on #38328
Looking through the discussion in #3196 it seems like there was interest in doing things like this but nobody found time to do the legwork.

Would you be interested in submitting a PR?

[2020-12-09 04:48] arw2019 commented on #38311
not sure what the issue is, aren't these the same

[2020-12-09 04:51] arw2019 commented on #38300
We've been discussing this in #16529

[2020-12-09 04:56] arw2019 commented on #38269
Right. Thanks for reporting and follow-up

[2020-12-09 04:56] #38269 closed

[2020-12-09 05:03] arw2019 commented on #38256
Is this the minimal reproducer that's supposed to roundtrip?
[code]
Currently it throws:
[code]

[2020-12-09 05:16] gurukiran07 commented on #38311
@arw2019
Yes, the same example is given twice in the docs.

The issue is the outptut of `pd.Timedelta(hours=1, seconds=10)` is wrong in the docs (`pd.Timedelta` works perfectly fine).
[code]

[2020-12-09 05:19] arw2019 commented on #38311
is this an issue in the docs or with Timedelta?

[2020-12-09 05:27] gurukiran07 commented on #38311
@arw2019

Only related to the docs.

[2020-12-09 05:47] alexanderwhatley commented on #24908
I'm getting this issue as well in the latest pandas version (1.1.4). Haven't been able to create a small reproducible example either. I should mention that my code worked fine on 0.25.1.

[2020-12-09 07:07] jotasi commented on #38357
Sure, I can do that. So the stability of sorting for multiple columns or labels is guaranteed?

[2020-12-09 07:27] arw2019 commented on #38357
I'm not that familiar with that part of the codebase but merge sort, as stated, is definitely stable. We also appear to have an implementation of counting sort for multi-key sorting which is stable:
https://github.com/pandas-dev/pandas/blob/32bebdbcd2c8d68ad6dc9dab7cab2149c4861883/pandas/core/sorting.py#L566-L579

If we're using quicksort I'm not sure (can be stable/unstable and I don't know which

[2020-12-09 08:13] UrielMaD commented on #38138
Hi @jreback I just updated the last 10 files remaining, this will close the issue,
there's just the setup.cfg file to be changed, I tried to do it but it throws some flake8 errors and didn't passed the checks

[2020-12-09 08:42] jotasi commented on #38357
Ok. Thanks for the help. I'll have a closer look at the code base trying to understand what is done for multiple columns / labels and then open a PR. I'll definitely not get to that before the weekend though.

[2020-12-09 08:56] annaymj commented on #38378
oh, did not know bool was intentionally added in the numerical dtype. Thanks for the quick response!

[2020-12-09 10:00] jreback commented on #38138
close the issue when the checks are updated

[2020-12-09 10:04] MarcoGorelli commented on #38138
sorry didn't realise there was the "closes" keyword in the PR, will check more carefully next time

[2020-12-09 10:54] ofajardo commented on #31243
pyreadstat is already used in pandas.read_spss so I guess it would be an easy one to also provide it as an backend option for read_sas

[2020-12-09 10:59] ofajardo commented on #37088
just in case, pyreadstat supports both reading selected columns and rows ...

[2020-12-09 11:03] ofajardo commented on #35545
just in case pyreadstat can read all of these files without issues. You could consider adding it as a backend for read_sas (it is already used for read_spss)

[2020-12-09 11:09] ofajardo commented on #22720
pyreadstat converts SAS TIME to python datetime.time objects. You could add pyreadstat as a backend for read_sas (already used for read_spss) and solve this issue as well as others (https://github.com/pandas-dev/pandas/issues/37088, https://github.com/pandas-dev/pandas/issues/35545, https://github.com/pandas-dev/pandas/issues/31243

[2020-12-09 11:15] ofajardo commented on #18198
just in case pyreadstat can read this file OK (if this is what you are expecting):

[code]

So one option could be to add pyreadstat as backend for read_sas (it is already used in read_spss). It would also help solving other issues: https://github.com/pandas-dev/pandas/issues/37088, https://github.com/pandas-dev/pandas/issues/35545, https://github.com/pandas-dev/pandas/issues/22720

[2020-12-09 13:25] anilkumarKanasani commented on #37956
@nf78 ,

Thanks for your quick response. I understand the requirement for this issue.

I will start working on this. Do we have any discussion form (or) virtual meeting rooms to discuss with community members ( for any questions or suggestions ).

Can I know, the process to contribute for pandas package ? Do we need to block this issue ?

Thanks,
Anil Kumar Kanasani

[2020-12-09 14:17] tsinggggg commented on #38375
@arw2019 i think it actually returns boolean, as shown in the test case

[2020-12-09 14:40] WillGhost commented on #37057
First run `pip uninstall numpy`
完美！

[2020-12-09 14:41] WillGhost commented on #37057
First run `pip uninstall numpy`
完美！

[2020-12-09 14:51] jorisvandenbossche opened #38386 "REGR: assigning column with name that is registered as extension dtype errors"
[code]

This is something that started to fail recently. Getting this from the geopandas CI testing with pandas master.

[2020-12-09 14:56] jorisvandenbossche commented on #38386
I suppose this is caused by #38030 (@jbrockmendel)

That PR introduced:

https://github.com/pandas-dev/pandas/blob/3aa84479e54612eb58dd12d2d1f02674acc321c4/pandas/core/indexes/numeric.py#L173-L176

but the problem here is that the validation function is not raising a TypeError, but a different error. This, in turn, seems to be caused by a bug in `is_bool_dtype`:

[code]

[2020-12-09 15:24] jorisvandenbossche commented on #37751
Unless there are items we need to discuss with a bigger group, I would propose to keep it as planned.
(and it doesn't need to take an hour if there aren't many people / if there isn't much to discuss)

[2020-12-09 16:20] #38300 closed

[2020-12-09 16:24] arw2019 commented on #38375
is the difference that one is a python list holding `[True, False, np.nan]` versus an ndarray `np.array([True, np.nan, False], dtype="O")` constructed from that list

[2020-12-09 16:47] tsinggggg commented on #38375
it seems even with a list it's returning boolean
https://colab.research.google.com/drive/1s8kRGIkeQk2TXprc_Q2iYcNAT3u1QrPa?usp=sharing

[2020-12-09 17:09] #38138 closed

[2020-12-09 17:24] galipremsagar opened #38388 "BUG: `DataFrame.__repr__` not showing correct `MultiIndex` values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-09 17:29] Dr-Irv commented on #37751
Was there an announcement of how to connect to the meeting?  November was announced here, but prior announcements went to the mailing list.  Maybe I missed it?

[2020-12-09 17:44] jorisvandenbossche commented on #37751
I *think* the zoom meeting link from above (from November) can be used for today as well.

[2020-12-09 17:55] arw2019 commented on #38378
No problem! Closing as not a bug.

[2020-12-09 17:55] #38378 closed

[2020-12-09 17:55] arw2019 commented on #38375
ok. Are you interested in submitting a PR with the correction?

(I know that in .py files we verify the docstrings but maybe in .pyx we don't...)

[2020-12-09 18:30] theoniko commented on #38046
Hello @phofl
Could you please review pr #38324?

[2020-12-09 18:30] Dr-Irv commented on #28142
Need to keep an eye on Microsoft's efforts here:  https://github.com/microsoft/python-type-stubs/tree/main/pandas

[2020-12-09 18:52] phofl commented on #37715
[code]

Would be fixed with #38334

[2020-12-09 19:16] BryanCutler opened #38390 "BUG: ExtensionArray with 2D datetime64 values errors on display formatting"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-09 20:25] tsinggggg commented on #38375
yes sure!

[2020-12-09 21:06] phofl commented on #38388
Actually I think MultiIndex was constructed wrong previously.

I am getting
[code]

on master, which is what I would expect here

[2020-12-09 22:08] Alvinwuzw commented on #38316
Hi! I can reproduce the issue, could I look into this issue?

[2020-12-09 22:50] XiaoMutt commented on #11896
I encountered the same issue using pandas 1.14.
It turns out that `%()` characters are used by SQLAlchemy as special command characters when constructing insert commands. Creating the table is fine, but to_sql fail to handle these characters while doing the insert.

[2020-12-09 23:07] jbrockmendel commented on #38386
Agreed we should fix this in is_bool_dtype

[2020-12-09 23:32] galipremsagar commented on #38388
Thanks @phofl this seems to be fixed in `master`.

[2020-12-09 23:32] #38388 closed

[2020-12-10 00:52] rhshadrach commented on #38343
Isn't the constructor for DataFrame/Series already the parallel to `np.zeros_like` that you seek?

    pd.DataFrame(0, df.index, df.columns)

I don't find specifying one argument rather than two to be a compelling reason to add a new function to the API.

[2020-12-10 02:43] plcplc opened #38397 "BUG: Correct pandas sources should be discoverable by sphinx autodoc"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-10 03:07] jbrockmendel opened #38399 "BUG: DataFrame(MaskedRecords) inconsistent with Series behavior"
Example based on tests.frame.test_constructors.TestDataFrameConstructors.test_constructor_mrecarray, which has comment "Ensure mrecarray produces frame identical to dict of masked arrays from GH3479"

[code]

I would expect these two to match.

Note that `alt["masked1_float"]._values` is a masked_array, so that is non-lossy (though `alt["masked1_float"]`'s repr does not make that obvious).  `expec

[2020-12-10 03:09] plcplc commented on #38397
This is a know problem on the Sphinx side as well:
https://github.com/sphinx-doc/sphinx/issues/7493
https://github.com/sphinx-doc/sphinx/issues/5603

It appears that the method chosen by sphinx to remedy this is to have class definitions give a `:canonical: pandas.core.frame.DataFrame` option to the `.. py:class::` directive, see:
https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains

[2020-12-10 03:19] jbrockmendel commented on #38399
xref #38398

[2020-12-10 07:59] ivanovmg commented on #38328
@yanaiela, it would be great if you would post the expected output latex code here.
It would let us better understand the amount of work required.

From my perspective highlighting the rows is quite doable thing.
However, how do we need to handle multiindex? Or multicolumn index?
In my opinion, this is the most complicated part.

You refer to the best value. But what would it be? Should there be a

[2020-12-10 08:03] ghost9023 opened #38401 "BUG: .groupby().min() .max() .agg('min') .agg('max') ERROR"
- [O] I have checked that this issue has not already been reported.
  I checked it but this bug reported that already solved. but in my pandas, still occur.
  (https://github.com/pandas-dev/pandas/issues/31522)

- [O] I have confirmed this bug exists on the latest version of pandas.
  I've checked latest version at anaconda

- [ ] (optional) I have confirmed this bug exists on the master branch of

[2020-12-10 09:52] tgrandje commented on #38256
@arw2019
Yes and no : yes this is the whole minimal example (I added the read_json as aked by @jreback).
Though as I said, the exception thrown is quite normal as the (silent) error occurs in "to_json". In fact, it casts the columns' labels to string in data, but those stay as integer in schema. So it won't be decoded after that.

[2020-12-10 10:30] felix-hilden commented on #38343
That's fair, and I agree that it is straightforward to use the constructor. Let me expand a bit though. `np.zeros_like` is a similar shorthand for just a few arguments. `b = np.zeros(a.shape)` is likely the most common use case, although I imagine `zeros_like` takes care of the datatype and memory ordering as well. An important distinction for me is communicating intent, which I now realise was no

[2020-12-10 10:42] simonjayhawkins commented on #37765
The 1.2.x branch will be active past the deadline, so any changes needed as part of the migration will need to be backported. (so keeping this issue on the 1.2 milestone is fine.)

[2020-12-10 10:52] jreback commented on #38343
-1 on adding any api here

in numpy it is pretty common to create a new single dtyped array based on an existing then do operations on it

this is not super common in pandas and not important to warrant a new method -

there has empty some discussion about this in the past if u want to search the tracker

[2020-12-10 11:35] yjheo15 commented on #37167
@rhshadrach I apologize for the long silence. I was distracted by other material but am trying to tackle this issue again. I realized that using the temporary workaround you provided, the x-axis' value rotates as below. May I know what may be causing this?
<img width="561" alt="Screen Shot 2020-12-10 at 6 29 21 AM" src="https://user-images.githubusercontent.com/25251824/101767054-b679f380-3ab1-11e

[2020-12-10 11:55] nf78 commented on #37956
Hi @anilkumarKanasani,

Thanks for your interest in contributing, but as I mentioned before on other notes and on the "Additional context", I already have a proof-of-concept that I can just work a bit further on it.

I just need to know if it is ok to go ahead @TomAugspurger ? Is it ok to actually pass to the argument a value like "None", "multiprocessing" or "joblib", to allow the user to select

[2020-12-10 12:01] nf78 commented on #37955
@jreback providing hooks to enable backends seems like a good approach to me. I will look at the implementations made on those io backends like pyarrow, and will get back to you asap.

[2020-12-10 12:57] aiwalter opened #38402 "ENH: Naming inconsistency of functions like read_csv() and to_csv()"
#### Is your feature request related to a problem?

Inconsistent naming of functions related to read and write data like `pd.read_csv()` and `to_csv()`. This is confusing for users because of the naming: **read vs. to** . For users who are new to pandas, those function names `read` and `to` are confusing and not consistent.

#### Describe the solution you'd like
Those functions should either be na

[2020-12-10 13:25] jreback commented on #38402
these are probably the mostly heavily used functions and would cause way too much unecessary churn. -1 on any change.

[2020-12-10 13:37] aiwalter commented on #38402
@jreback yes and that is why I would prefer to fix that inconsistency and just add a `write_csv()` and `write_excel()` as a wrapper. Everyone who likes the old inconsistent style could still use that. When I started with pandas, this was the first negative impression I had, because I was confused about this naming.

[2020-12-10 14:25] simonjayhawkins commented on #38367
Thanks @tgaddair for the report

first bad commit: [e99e5ab32c4e831e7bbac0346189f4d6d86a6225] BUG: Fix duplicates in intersection of multiindexes (#36927) cc @phofl

[2020-12-10 15:24] jreback commented on #38402
I am not sure why you think is inconsistent at all. `to_` is actually a much more general term, IOW it describes converting a structure to JSON or a dict or a string for example, sure this is like writing, but write_json, write_dict just don't make a lot of sense. In any event, this is highly unlikely to be deprecated as would cause enormous churn for little gain. Maintaing aliases for names is al

[2020-12-10 17:35] phofl commented on #38367
Yikes,
``unique()`` on a categorical index deletes unused categories, while intersection does not.

@jbrockmendel Is this expected? If yes, any suggestions on how to handle this case? Problem lies in
https://github.com/pandas-dev/pandas/blob/ec8240aa0988858544c366ecbbb37ed777d14eb1/pandas/core/ops/__init__.py#L310

[2020-12-10 17:36] phofl commented on #38401
Hi thanks for your report. Could you provide an example where the df is constructed in code and not from an external file?

[2020-12-10 17:52] jbrockmendel commented on #38367
Would #38140 fix this?

[2020-12-10 22:37] jbrockmendel commented on #33401
Related: different DTI vs Series constructor behavior, based on test_construction_consistency

[code]

[2020-12-11 00:07] salma71 commented on #32045
It was successfully installed; however, when importing pandas it does say
[code]
I am using pyenv python 3.9.0, pip version 20.3.1
Any help would be appreciated.

[2020-12-11 00:22] kozlov-alexey commented on #37427
@jorisvandenbossche Hi, it seems the rollback in #37502 left few lines untouched, literally these:
https://github.com/jbrockmendel/pandas/blob/6a5c2429b140d7de5e1e04f6f5ed5d9351418848/pandas/core/series.py#L1034
https://github.com/jbrockmendel/pandas/blob/6a5c2429b140d7de5e1e04f6f5ed5d9351418848/pandas/core/series.py#L1077

and because of this same issue still appears with non-integer dtype keys.

[2020-12-11 02:35] #26985 closed

[2020-12-11 03:53] jbrockmendel commented on #37427
any reason not to do `S[idx] = np.array(set_value)`?

[2020-12-11 04:45] GYHHAHA commented on #38358
Is there a faster way to get the df with dropping the NaN group?
I try to use the indice operation to replace calling `filter`, but still slow.
Any suggestion? Thanks! @TomAugspurger

[2020-12-11 06:04] stragu commented on #36688
Will PR #37966 assign a default (pandas-specific) header to `read_csv()` and `read_json()`, or will it only resolve the "set custom headers" part of this issue?

[2020-12-11 06:47] stragu commented on #36064
#10611 definitely seems to be back.

Here is a minimal example:

[code]

![image](https://user-images.githubusercontent.com/1747497/101871461-537e7e80-3bcf-11eb-9058-2c81de325fc7.png)

![image](https://user-images.githubusercontent.com/1747497/101871477-59745f80-3bcf-11eb-84a5-01b6d3b15fdc.png)

That was shown in the Spyder plot pane, but I get the same result when saving to file:

[code]

Current

[2020-12-11 10:31] cjw296 commented on #28547
@WillAyd - so, a couple of private comments and @fiendish's comment above have made me realise that xlrd still needs to stick around, BUT, only for `.xls` files:

https://groups.google.com/g/python-excel/c/IRa8IWq_4zk/m/Af8-hrRnAgAJ

What I'd suggest is making `xlrd` the default engine for `.xls` files and `openpyxl` the default for `.xlsx` files.
If it helps, I've abstracted out the code in `xlrd

[2020-12-11 10:53] jorisvandenbossche commented on #28547
@cjw296 Thanks a lot for that!

I think that's exactly what we ended up doing in https://github.com/pandas-dev/pandas/pull/35029. Explicitly specifying `engine="xlrd"` for anything else than xls files is deprecated, and when reading xlsx files we now default to openpyxl (if it is installed, at least. If only xlrd is installed, we also raise a deprecation warning that people should install openpyxl

[2020-12-11 10:54] jorisvandenbossche commented on #28547
And additional note, this change will shortly be released in pandas 1.2.0 (the RC is out since yesterday)

[2020-12-11 11:04] cjw296 commented on #28547
@jorisvandenbossche - great! Just to be super explicit: if you attempt to open anything other than a `.xls` file with xlrd 2.0.0+, you'll get an exception: https://github.com/python-excel/xlrd/blob/58ccbb12e2c0f9803905c90b29bd67adbd58a356/xlrd/__init__.py#L170

[2020-12-11 11:22] jorisvandenbossche commented on #28547
Ah, good to know. I think that's certainly fine (it's faster than doing a deprecation first .. but I think many pandas users will already upgrade pandas, without necessarily upgrading xlrd, so our deprecation will still be useful).
But maybe we should then update pandas to check for this (case of xlrd >= 2.0), to raise a more informative error message (otherwise if you have eg only xlrd installed,

[2020-12-11 12:48] TomAugspurger commented on #38358
I’m not sure. If the bug we fixed was for correctness and the performance loss is unavoidable, then we can close this issue.

[2020-12-11 12:50] kozlov-alexey commented on #37427
@jbrockmendel That's possible course, but it is still a workaround, and currently it will work with integer keys one way (i.e. old behavior of getitem) and with the rest of keys other way (new behavior of loc). Isn't it better to rollback back to old behavior for all cases?

[2020-12-11 12:53] keiv-fly opened #38410 "BUG: Cannot read XLSX files with xlrd version 2.0.0"
Code that fails with xlrd==2.0.0:

`pd.read_excel("file.xlsx")
`
raises the error: `XLRDError: Excel xlsx file; not supported`

The documentation for xlrd==2.0.0 says that it does not support any other files other than "xls"
xlrd updated their version today on 2020-12-11

[code]

[2020-12-11 15:13] cdknox commented on #36688
As it sits currently it resolves the "set custom headers" aspect.  I went that route because urllib, which does the grunt work of making the http(s) request, does have it's own User-Agent header value that it sends by default.  I don't see a ton of upside to changing the default User-Agent as it would likely still only convey to the server that it's an automated process requesting the data.  In co

[2020-12-11 15:42] ecotner opened #38413 "ENH: better error message when trying to do improper aggregation on dataframe"
#### Is your feature request related to a problem?

I have an automated pipeline at work that does some data processing, and this morning I woke up to many notifications that the pipeline had failed. I checked the logs and the stack trace, and found that the script was throwing the exception `pandas.core.base.DataError: No numeric types to aggregate` when trying to take the mean of a column over a

[2020-12-11 17:35] phofl commented on #38367
Yep, this would fix this

[2020-12-11 17:42] simonjayhawkins commented on #38367
#38140 is milestoned for 1.3

we will probably want a fix in place for 1.2 since this is a regression.

[2020-12-11 17:46] phofl commented on #38367
@simonjayhawkins

We could apply unique to the intersection if it is categorical. This is an ugly fix which could be removed when #38140 is merged

[2020-12-11 18:30] galipremsagar opened #38415 "BUG: MultiIndex.__repr__ is broken when `display.max_seq_items` = 1"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-11 21:21] Alvinwuzw commented on #37625
I would love to try adding this feature to the pandas. Could I take the issue?

[2020-12-11 21:23] fiendish commented on #28547
@cjw296 Thank you for doing this! The abstracted detector will definitely help.

[2020-12-11 21:51] JosephHogg opened #38418 "PERF/QST:"
Summary of situation:

We have some large ```DataFrame``` and a ```Series``` with some additional data corresponding to particular groups in the ```DataFrame``` (for example, from some supplementary data source, the result of a ```groupby``` or just from some other computation regarding the groups). To make a toy example, here we have 5000 different groups and 1e6 rows:

[code]
[code]
[code]

Here

[2020-12-11 22:24] NajwaLahly commented on #17786
This may help someone:
nan is sometimes casted to string, so .isnull doesn't detect it.
-> cast things into float then reuse it

[2020-12-11 23:04] #37062 closed

[2020-12-11 23:29] jreback commented on #38418
you are copying in the first (merge) - well creating a new frame

the 2nd is inplace modifying the existing

this will cost some of the time (prob not a huge amount though)

update your benchmark to copy in thr 2nd case

[2020-12-11 23:53] Rufflewind opened #38419 "BUG: set_index screws up the dtypes on empty DataFrames"
- [x] I have checked that this issue has not already been reported.

  #30517 is similar in concept but relates to non-empty DataFrames, whereas the current bug is about empty ones.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

[code

[2020-12-12 00:27] jreback commented on #38413
pls show a frame which actually generates this

the problem isn't that it is empty but it has no numeric types (probably all object)

[2020-12-12 05:31] skvrahul commented on #38415
!take

[2020-12-12 05:32] skvrahul commented on #38415
take

[2020-12-12 05:35] mitar commented on #34655
I would say this should be fixed, not documented as a limitation.

[2020-12-12 05:39] allenmac347 commented on #37327
@phofl Hi phofl. I'm currently trying to debug this issue, but it seems like this might be an external problem with pyarrow. Here's some interesting output I get:

//The datatype uint32 is preserved here
df = pd.DataFrame({'a':pd.Series([1, 2, 3], dtype="uint32")})
df.to_parquet('a', engine='fastparquet')
dataframe =  pd.read_parquet('a', engine='fastparquet')

//The datatype uint32 is preserved h

[2020-12-12 05:41] skvrahul commented on #38415
Looks to be caused by these lines in `pandas/io/formats/printing.py`
https://github.com/pandas-dev/pandas/blob/639a9c27964b09724a0ae2acdd0e6a10e49ddd88/pandas/io/formats/printing.py#L385-L392.

What is the expected behaviour when `max_seq_items` is set to **0**? Is the number of items in the summary then unbounded?

[2020-12-12 06:04] skvrahul commented on #38419
@Rufflewind I have tested this on the **master** branch and seems like it is not throwing the error.

[2020-12-12 11:27] simonjayhawkins commented on #26784
ok. closing for now. cleaning test files is a perpetual task.

[2020-12-12 11:27] #26784 closed

[2020-12-12 11:34] simonjayhawkins commented on #25497
sure

[2020-12-12 11:34] #25497 closed

[2020-12-12 13:03] simonjayhawkins commented on #33455
I would probably be in favour of adding ignores for these cases so that we can enable the disallow-untyped-decorators checks

[2020-12-12 13:57] rhshadrach commented on #38419
I get dtypes changing on 1.1.5, but expected behavior on 1.0.x, 1.2, and master. Because this is a regression in 1.1.x and I think we're okay to add tests in the rc phase, I'm going to mark this as Needs Tests and label as 1.2.

@simonjayhawkins @jreback adjust if this is not correct.

[2020-12-12 14:14] leo4183 opened #38424 "shift default excel read engine from xlrd to openpyxl"
since v2.0.0, xlrd no longer supports excel files other than ".xls".  manually specify pd.read_excel engine (to openpyxl and etc) is a bit annoying (otherwise pandas would complain about the missing xlrd module).  is it possible to shift the default engine to sth more commonly used (eg. openpyxl )

[2020-12-12 14:22] rhshadrach commented on #38415
@skvrahul Above the block you linked, there is logic for handling when n is 0 or 1. It seems these should also handle when max_seq_items is 0 or 1.

[2020-12-12 14:27] skvrahul commented on #38415
Got it. Will try making the change and put out a PR soon!

[2020-12-12 14:55] cjw296 commented on #28547
@jorisvandenbossche - I'd forgotten how [depressing](https://github.com/python-excel/xlrd/commit/58ccbb12e2c0f9803905c90b29bd67adbd58a356#commitcomment-45053861) it could be to interact with users of xlrd, so yes, please could you add super simple and explicit instructions, perhaps along the lines of my [stack overflow answer](https://stackoverflow.com/a/65266270/216229).

[2020-12-12 14:55] rhshadrach commented on #38424
Thanks for raising this, I was not aware of the recent changes to xlrd. In pandas 1.2, if you have openpyxl installed it will be used as the default for reading non-xls files. See https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html for more info.

With the change to xlrd, I think the messages in the whatsnew and potentially warning messages need to be updated. cc @jorisvandenbossche @jr

[2020-12-12 15:08] paul-lilley commented on #31243
@ofajardo I agree pyreadstat (which uses Evan Miller's library) is also significantly faster than pandas cython implementation

[2020-12-12 15:12] jorisvandenbossche commented on #38424
@rhshadrach see https://github.com/pandas-dev/pandas/issues/28547#issuecomment-743129783 and my answer below. I think we indeed should check for this version in pandas, and update the error message (and whatsnew message) to make it clearer.

[2020-12-12 15:16] cjw296 commented on #38424
I'm sorry for causing you folk extra work :-(

[2020-12-12 15:58] Illviljan opened #38425 "ENH: Allow numerical values in groupby to be within a certain tolerance"
#### Is your feature request related to a problem?
It is rather simple to group exact values together:
[code]
yields
![image](https://user-images.githubusercontent.com/14371165/101986960-7ec9a200-3c91-11eb-900f-f201defda526.png)

But once the values are a little noisy the default groupby function does not work:

[code]
yields
![image](https://user-images.githubusercontent.com/14371165/101987249-2e

[2020-12-12 16:22] jreback commented on #38425
-1 on any adding any api here

you can round or use cut for noisy data

[2020-12-12 17:06] IngErnestoAlvarez commented on #38419
Then it's fixed on code? Cause I would like to make the tests and, if necessary, change the code.

[2020-12-12 17:20] rhshadrach commented on #38419
@IngErnestoAlvarez That's correct; but tests still need to be added. A PR to do so is very much welcome!

[2020-12-12 17:21] IngErnestoAlvarez commented on #12649
I think that's not a problem, to_datetime changes the dtype of the list to datetime, and NaT is the equivalent of NaN on datetime dtype. When u convert NaN to datetime it will change to NaT and that's not an error.

[2020-12-12 17:59] simonjayhawkins commented on #32515
@luggie have you got a minimal reproducible example? If so please open a new issue.

I'm not seeing any warnings or exceptions raised.

[code]

[2020-12-12 17:59] rhshadrach commented on #37167
@yjheo15: I'm not sure if the rotation is a bug or usual behavior; in any case, one can supply `rot=0` to get a vertical orientation.

[2020-12-12 18:12] rhshadrach commented on #38425
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

[2020-12-12 19:15] jordi-crespo commented on #38419
I would like to work on this issue

[2020-12-12 20:23] fangchenli opened #38429 "CI: SQL tests on py38 slow build"
In #38344, we found that SQL tests were not run on py38 slow build. Currently, we are testing SQL on py37-locale and py37-coverage. If that is enough, we could move py38-slow to Azure. Otherwise, we could add more builds for SQL.

[2020-12-12 20:43] mroeschke commented on #38425
Thanks for the suggestion @Illviljan but agreed that this would be too niche to extend the groupby API for this.

You can achieve the desired bins with `pd.cut` as mentioned. Closing.

[2020-12-12 20:43] #38425 closed

[2020-12-12 21:09] mroeschke commented on #38343
I'd be -1 as well on extending the API with this, especially given how your shorthand functions are essentially the feature you want.

Going to close this as there isn't too much interest.

[2020-12-12 21:09] #38343 closed

[2020-12-12 21:19] #38214 closed

[2020-12-12 21:39] Mikhaylov-yv commented on #38017
take

[2020-12-12 21:45] phofl commented on #30152
Based on your example, the following

[code]

returns

[code]

which seems to do what you expected? As long as I understood the problem correct

[2020-12-12 21:54] jbrockmendel opened #38433 "BUG/API: allowing scalars in Categorical constructor"
I expected this to raise

[code]

This gets listified inside the call to `maybe_infer_to_datetimelike` in `Categorical.__init__`

[2020-12-12 22:04] arw2019 commented on #38419
@IngErnestoAlvarez @jordi-crespo if possible it's good to avoid overlapping PRs (since only one PR will be merged)

[2020-12-12 22:41] KonstantinPR commented on #29024
Thanks a lot, bro. It's so valuable information
!!!!!!!!!!

[2020-12-12 23:03] #33699 closed

[2020-12-12 23:08] topper-123 opened #38434 "REGR: DataFrame.shift(axis=1) raises TypeError when columns is CategoricalIndex"
A regression since 1.1:

[code]

[2020-12-12 23:21] #38299 closed

[2020-12-12 23:23] #38032 closed

[2020-12-12 23:28] #31771 closed

[2020-12-12 23:31] #37967 closed

[2020-12-13 01:16] phofl commented on #29042
Apart from a bad error message, I think the behavior displayed by @jorisvandenbossche  is actually a bug.

[code]
works

while leaving 'E' out does not.

[2020-12-13 01:22] mjuric opened #38437 "BUG: `to_json()/read_json()` can't correctly dump/load numbers requiring >15 digits of precision"
#### Code Sample, a copy-pastable example

Demonstration of the serialization issue:
[code]
Output:
[code]

Demonstration that deserialization silently disregards the last digit:
[code]
Output:
[code]

#### Problem description

64-bit floating point numbers require up to 17 decimal digits to be fully round-tripped to textual representation and back (e.g., see  https://stackoverflow.com/questions/6

[2020-12-13 03:03] ssche opened #38439 "BUG: Subtracting two series with unordered index and all-nan index produces unexpected result"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When combining two series with both the same index and with an all-nan index row at different

[2020-12-13 07:50] Illviljan commented on #38425
cut is not robust because I do not know where the points will be, how many bins it will be or if it the groups are evenly distributed. I suppose I should've added them more randomly for this to be more clear.

round only handles constant noise level and that's not the case in my examples. That's why there's absolute and relative tolerances. Although i did have to add another value to show that:
[c

[2020-12-13 12:55] simonjayhawkins commented on #38424
added the blocker label.

[2020-12-13 13:40] oguzhanogreden opened #38447 "ENH: regex replace capacities are missing from pd.Categorical.replace()"
#### Is your feature request related to a problem?

pd.Categorical doesn't implement `regex=`, preventing a generalisable solution at #32542.

#### Describe the solution you'd like

As far as I can tell, the best solution would be an refactor of .replace() methods and logic.

#### API breaking implications

-

#### Describe alternatives you've considered

Parts of the logic from array_algos.replac

[2020-12-13 13:56] simonjayhawkins commented on #38419
first bad commit: [4edcc5541ff3f6470f5e3c083cb83136119e6f0c] CLN: Make Series._values match Index._values (#31182)

need to also determine which commit fixed on master

[2020-12-13 14:20] magic-david opened #38449 "BUG: to_parquet() / read_parquet() cannot round-trip datetime.timezone.utc"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-13 14:22] magic-david commented on #38449
Oh man, spent forever researching this and a simple 'pip install -U pyarrow' instantly cures it. Sorry for spam

[2020-12-13 14:22] #38449 closed

[2020-12-13 14:37] simonjayhawkins commented on #38419
[462b21dda2ce5ac93eeea14c403d8285e31b9e75] Fix bug in combine first with string dtype and NA only in one level of index (#37568)

[2020-12-13 14:44] jreback commented on #38449
yeah this was fixed on pyarrow 2.x i think

[2020-12-13 14:55] memeplex opened #38450 "Inconsistent SettingWithCopyWarning behavior"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Examples 2 and 3 above show (example 1 doesn't):

[code]

I'm failing to see how 2 is differe

[2020-12-13 15:06] memeplex commented on #38450
I'm going to close this for now because I've found out that testing in a fresh kernel all examples show the warning as expected. Then I was able to reproduce it again but I'm not able to provide instructions to deterministically reproduce this yet.

[2020-12-13 15:12] memeplex commented on #38450
Ok, here it is, start a fresh kernel copy the above code and run some example twice in a row, the first time the warning is shown but not the second time:

![image](https://user-images.githubusercontent.com/2845433/102015799-737f8080-3d3c-11eb-9cc5-a37734a3abf7.png)

[2020-12-13 15:15] JosephHogg commented on #38418
Good point, benchmark updated and second run is marginally slower than it was before however main point still stands.

[2020-12-13 15:17] jreback commented on #38450
the entire point here is that you are doing something that  may work if the memory is a view

it's possible to detect these is most but not all situations

[2020-12-13 15:17] gepcel opened #38451 "DOC: name not defined in section "2.14.1 Basic plotting: plot""
In the [pdf version of document](https://pandas.pydata.org/docs/pandas.pdf), section "User Guide -> Visualization -> 2.14.1 Basic plotting: plot", page 588,  there are `name 'pd' (or 'ts') is not defined` problems.

![image](https://user-images.githubusercontent.com/4179106/102015941-57f69300-3d99-11eb-86c7-28ae8c6a8196.png)

[2020-12-13 15:19] memeplex commented on #38450
I get that, Jeff, but I see no difference between using the same boolean mask constructed from scratch or from a condition imposed on a series and I certainly see no difference between the first and the second run.

[2020-12-13 15:24] rhshadrach commented on #38424
@jorisvandenbossche My understanding is that, other than ods-streams, only xlrd can read buffer-like values (i.e. non-path) of `path_or_buffer` in `read_excel`. As such, one thought is (roughly) to define:

    is_xlrd_only = "(non-ods buffer) or (xls-type extension) or (xlrd.Book instance)"

Then:

* Emit a FutureWarning if:
  - engine was passed as None;
  - not is_xlrd_only;
  - openpyxl is not

[2020-12-13 15:46] simonjayhawkins commented on #29623
#38331 reverted https://github.com/pandas-dev/pandas/pull/38448

[2020-12-13 15:53] jorisvandenbossche commented on #38424
But only if it is a buffer of a file type it does support? Eg with xlrd >= 2.0, it won't read a buffer-like of an xlsx file?

Yes, because for those conditions, `xlrd` (>= 2.0) would error anyway (I think), and so we want to raise the error, so we can give it a pandas-specific error message.

Yeah, see @cjw296's comment here: https://github.com/pandas-dev/pandas/issues/28547#issuecomment-743113883

[2020-12-13 15:57] rhshadrach commented on #38424
Thanks @jorisvandenbossche, I had missed the inspect_format part. I think that solves the part where I had reservations.

[2020-12-13 16:08] simonjayhawkins commented on #38439
Thanks @ssche for the report. Tested with 0.25.3 and also giving same output as master.

[2020-12-13 16:41] phofl commented on #28458
Event without passing the delimiter through, we get your expected result:

[code]

[code]

Is this your expected result?

[2020-12-13 16:45] phofl commented on #27737
Closing as duplicate

[2020-12-13 16:45] #27737 closed

[2020-12-13 16:50] simonjayhawkins commented on #38433
the docs for pd.Categorical do indeed suggest `values` should be list-like. and the string is NOT being interpreted as a list.

[code]

[2020-12-13 17:08] #16469 closed

[2020-12-13 17:14] phofl opened #38453 "BUG: read_csv names argument inconsisten between c and python engine"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-13 17:19] WWakker opened #38454 "ENH: option to export df to Stata dataset with value labels"
#### Is your feature request related to a problem?

One feature of Stata (.dta) datasets is that it's possible to have categorical columns with numerical values and string value labels. At the moment, `df.to_stata` doesn't have an option to create this kind of columns.

#### Describe the solution you'd like

It would be nice if `df.to_stata` could have a `value_labels` option that accepts a dictio

[2020-12-13 17:31] simonjayhawkins commented on #38434
first bad commit: [44ce98862dafa0326370b5a8e944dfecb1c8ca8b] BUG: df.diff axis=1 mixed dtypes (#36710)  cc @jbrockmendel

[2020-12-13 17:33] cjw296 commented on #38424
@rhshadrach - I'm the maintainer of xlrd, so I wanted to be clear on the intention here: xlrd should *only* be used for `.xls` files, please can you emit a warning whenever it is used for anything else. It *absolutely should not* be used for opening `.xlsx` files, or any other form of zip/xml files: there are security vulnerabilities lurking, it will break on Python 3.9 and it will fail at parsing

[2020-12-13 17:37] #29042 closed

[2020-12-13 17:41] #38419 closed

[2020-12-13 17:53] jorisvandenbossche commented on #38424
That's already the case on master / on 1.2rc, see https://github.com/pandas-dev/pandas/pull/35029

The whatsnew notice about this (the first warning box in the 1.2 release notes) can be seen here: https://pandas.pydata.org/docs/dev/whatsnew/v1.2.0.html
Specific feedback on the messaging is certainly welcome.

[2020-12-13 17:58] jorisvandenbossche commented on #38424
Actually, re-reading that, I suppose we do *not* raise a warning when you manually specify `engine="xlrd"` but are reading a non-xls file. This is not the default (the default of `engine=None` will either use openpyxl if installed, or otherwise use xlrd *with* warning), and in the past we always used xlrd automatically in this case, so I don't expect many users to manually specify this, but that's

[2020-12-13 18:24] cjw296 commented on #38424
I've thrown in https://github.com/pandas-dev/pandas/pull/38456 for my preferred wording related to this, and also how I think pandas should behave, but to summarise here:
- if ``.xls``, then use `xlrd`.
- if `engine='xlrd'` explicitly specified, just let it through. A nice to have here would be to warn if it's being used for a non-'.xls' file.
- in other cases, use a more appropriate library or th

[2020-12-13 18:58] jorisvandenbossche commented on #38424
As far as I understand it, that's exactly how pandas now behaves (except for the potential warning if `engine="xlrd"` is specified explicitly but used for non-xls files)

[2020-12-13 19:24] cjw296 commented on #38424
I'm afraid not:

- [this](https://github.com/pandas-dev/pandas/blob/e2dec8d03020eb2b31d376a7fcd7348977c6a319/pandas/io/excel/_base.py#L1000) means that if the file has no extension, or bytes rather than a path are passed, `xlrd` will be preferred.

- [this](https://github.com/pandas-dev/pandas/blob/e2dec8d03020eb2b31d376a7fcd7348977c6a319/pandas/io/excel/_base.py#L1009-L1029) defaults to 'xlrd', w

[2020-12-13 19:49] jorisvandenbossche commented on #38424
Yes, that's the one case that @rhshadrach raised above as well (https://github.com/pandas-dev/pandas/issues/38424#issuecomment-744023294), and for which we gladly use the code in xlrd to better detect whether it is actually a xls file or not.

As I also just commented in https://github.com/pandas-dev/pandas/pull/38456 about this: in pandas we decided to do this change with a deprecation warning. S

[2020-12-13 20:01] #38292 closed

[2020-12-13 20:15] janalysis commented on #37323
Any workarounds while I wait for 1.2?

[2020-12-13 20:20] cjw296 commented on #38424
Just to echo what I said in the PR comments:

- In an ideal world, I would prevent anyone using xlrd < 2 from now onwards. It's not a good idea, even for .xls, and it's a positively dangerous idea for .xlsx.

- Moving to pandas 1.2 would require a user to upgrade pandas, at the very least. If a user is already upgrading one package, it would be a perfect time to upgrade to xlrd 2 and/or openpyxl.

[2020-12-13 20:21] arw2019 commented on #37323
in case that helps 1.2 is out within a few weeks (and actually the release candidate is out already if you feel like trying it out)

[2020-12-13 22:09] phofl commented on #21768
@gfyoung This behavior seems to have changed in the past. The c engine does not raise an error now either. Should we change this to raise errors instead of dropping the data for both engines?

[2020-12-13 22:30] Liam3851 commented on #38454
Can you check that this isn't already happening/supported? Note that the pandas has its own implementation of this feature. Pandas' implementation of numerically-encoded string values is a Categorical dtype with string categories. Thus to the extent pandas would support this it wouldn't be by having a `value_labels` kwarg in the `to_stata` method, but rather by calling `to_stata` on a Categorical-

[2020-12-13 22:42] gfyoung commented on #21768
IMO if data loss is imminent, then we should error, warn at least if we don't want to make an API change.

[2020-12-13 23:44] rhshadrach commented on #37323
For a workaround, can replace nan with a value that doesn't exist in the frame, do the groupby, and then refill will nan.

[2020-12-13 23:53] rkc007 commented on #38022
Thank you @MarcoGorelli for your guidance. I have created a PR for this issue. Can you please review it and let me know if I need to change anything in the PR.

[2020-12-14 01:07] #38125 closed

[2020-12-14 01:41] #35185 closed

[2020-12-14 08:27] MarcoGorelli commented on #38451
Thanks @gepcel for the report - are you interested in submitting a pull request to fix this?

[2020-12-14 08:50] WWakker commented on #38454
Thank you for looking into this.

I can confirm that df['a'] is indeed read in Stata as a numerical variable with value labels, with 0:'a', 1:'b'.

I think this gets Stata users most of the way in almost all cases. One remaining problem would be control over the numeric values. In Stata, it is possible to have something like 1:'a', 3:'b'. It appears that the values that the `to_stata` method expor

[2020-12-14 09:08] gepcel commented on #38451
Sure.

[2020-12-14 11:48] aflahkhan commented on #27976
@datapythonista
Hey I checked out this issue and would like to help.
So right now if I look at the list and say see the last entry which is -
pandas.tseries.offsets.CBMonthBegin.apply_index: Unknown parameters {i}
What exactly do I have to do
I went to the website and found this
https://pandas.pydata.org/pandas-docs/version/0.25.3/reference/api/pandas.tseries.offsets.CBMonthBegin.apply_index.html

[2020-12-14 13:00] simonjayhawkins commented on #38311
https://github.com/pandas-dev/pandas/blob/d85e9a23c5cb4ecd158a7759f97a0a8a58c132ef/pandas/_libs/tslibs/timedeltas.pyx#L1086-L1098

[2020-12-14 13:01] simonjayhawkins commented on #38311
@gurukiran07 Thanks for the report. Interested in submitting a PR?

[2020-12-14 13:26] simonjayhawkins commented on #38305
index case appears to work for index case, albeit with a PerformanceWarning, in 0.25.3
[code]

[2020-12-14 13:34] gurukiran07 commented on #38311
@simonjayhawkins Yes, will submit.

[2020-12-14 13:34] gurukiran07 commented on #38311
take

[2020-12-14 13:38] simonjayhawkins commented on #38311
strange. done it manually.

[2020-12-14 13:43] endremborza opened #38463 "BUG: resample apply is actually aggregate"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

this piece of code does it, I don't really understand why these things are OK to be the same function here
https://github.com/pandas-dev/pandas/blob/7ffbf1a5ab6b0126c7efa

[2020-12-14 13:50] simonjayhawkins commented on #38463
Thanks @endremborza for the report.

master gives the expected output

[code]

[2020-12-14 14:00] endremborza commented on #38463
well, I don't understand how that's possible, as this is the same in master:

[code]

anyway, my bad for not checking. this seems to handle something similar:
https://github.com/pandas-dev/pandas/commit/055651b99160191df9b3ab13f4f7a6370c32685f#diff-345e833a2b0533a66aee6d2440b4522f06f789321519218d88ff3add50894cf0

[2020-12-14 14:03] endremborza commented on #38463
However, as far as I can tell, the solution I linked in the commit does not solve this:

[code]

as this would give TypeError, not Data, Key or Attribute, which are handled.

[2020-12-14 14:11] #38386 closed

[2020-12-14 14:16] jreback opened #38465 "API: EAs should default _is_numeric / _is_boolean"
I think we should define

[code]

on the EA base class.

Just makes less fragile checks on all EAs as we can assume the attributes exist

[2020-12-14 14:16] jreback commented on #38465
cc @jorisvandenbossche @TomAugspurger @jbrockmendel

[2020-12-14 14:23] TomAugspurger commented on #38465
We define an `ExtensionDtype.kind`  right? Can we safely define these attributes based on that?

[2020-12-14 15:34] simonjayhawkins commented on #38463
hmm, I have bottleneck installed in my dev environment.

in a clean environment with 1.2.0rc0 gives the result in the op, installing bottleneck and gives expected output.

[2020-12-14 16:15] Tekaichi commented on #23568
Hello,
Is anyone working on a fix for this issue?

[2020-12-14 17:11] Pegayus commented on #11166
I am facing the same issue as @dheeman00 about the difference in size. I save a dataframe of shape(100,000,21) using
` df.to_csv("./data/test.gz",compression="gzip",sep='\\',header=0,index=False)`
and when load it using
`pd.read_csv("./data/test.gz",compression="gzip",sep='\\',engine='python')`
I get a dataframe of shape (100,034,21).
Without engine='python', I get this error while loading:
`panda

[2020-12-14 17:27] #31691 closed

[2020-12-14 17:58] #35340 closed

[2020-12-14 18:22] jbrockmendel commented on #38433
Deep inside tests.arrays.categorical.test_constructors.TestCategoricalConstructors.test_constructor is

[code]

[2020-12-14 19:35] kylekeppler opened #38469 "BUG: .loc selection using str datetime label on dataframe with MultiIndex containing datetime column returns series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I was confused that `.loc[(str, int), str]` returned a series with one value rather than a si

[2020-12-14 19:55] Pegayus commented on #11166
@dheeman00 : I am facing the same problem as you with changing sizes. I have a dataframe of shape (100K, 21) and after using engine = 'python', it gives me a dataframe of shape (100,034,21) (without enging='python', I get the same error as OP). After comparing them, I figured the problem is with one of my columns that contains text field, some with unknown chars, and some of them are broken into t

[2020-12-14 20:05] jreback commented on #38469
see the docs in partial indexing - this is as expected because a string makes this do a slice selection and not a single point

if u want a point use a Timestamp

[2020-12-14 20:08] jreback commented on #38469
e.g. https://pandas.pydata.org/docs/user_guide/timeseries.html#indexing

[2020-12-14 20:08] #38469 closed

[2020-12-14 20:10] jbrockmendel commented on #36153
@jorisvandenbossche could use your help medium-priority as this is becoming a blocker on ArrayManager work.

[code]

In [12] I think we want the first entry to be pd.NA, not "NaT".  On the flip side, we probably want the latter two entries of [13] to match the latter two entries of [12].

i.e. dta.astype("string")[~dta.isna()] == dta.astype(str)[~dta.isna()] seems desirable.

This opens a new can

[2020-12-14 20:12] simonjayhawkins commented on #38267
This was originally working in 1.0.5

fixed in [39671313af01d77aafc1df93ce6861909358c85f] BUG: df.replace with numeric values and str to_replace (#36093)

[2020-12-14 20:16] dheeman00 commented on #11166
@Pegayus: Yes you are right. Some of the "nan" value columns break down into multiple columns. I have performed the following task to resolve the issue. pd.read_csv(file_name, sep=',', usecols=columns_name, engine='python'). I have called the columns individually and it worked for me.

[2020-12-14 20:20] kylekeppler commented on #38469
Thanks for the clarification, it looks like the important part I missed in the docs is that string label indexing is treated as a slice and thus always returns a non-scalar.

[2020-12-14 21:11] jorisvandenbossche commented on #38465
We already have this (this is on the base `ExtensionDtype` class):

https://github.com/pandas-dev/pandas/blob/e91cbd774838ee0189b9b18cb8e234517921e0fe/pandas/core/dtypes/base.py#L297-L324

[2020-12-14 21:19] rkc007 commented on #38267
take

[2020-12-14 21:20] rkc007 commented on #38267
@simonjayhawkins I would love to work on this issue. Could you please give a brief description that where I should begin with?

[2020-12-14 22:03] andrewswimm3395 opened #38474 "New Pandas Assertion Error"
I am running into an assertion error when using group_by.min() which was never a problem when I was using the older version of pandas

[2020-12-14 22:04] andrewswimm3395 commented on #38474
df_min_enroll = df.groupby('F101_StudentNumber').min()['Enrollment Date minus Open Date'].reset_index()
Traceback (most recent call last):

  File "<ipython-input-11-000ba374164a>", line 1, in <module>
    df_min_enroll = df.groupby('F101_StudentNumber').min()['Enrollment Date minus Open Date'].reset_index()

  File "C:\Users\aswimm\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py", line

[2020-12-14 22:17] mroeschke commented on #38474
Could you post a minimal, reproducible example: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-12-14 23:55] #36293 closed

[2020-12-15 00:01] jreback commented on #38465
ok its possible code was accessing the *array* and not the *dtype* then. okie. closing.

[2020-12-15 00:01] #38465 closed

[2020-12-15 00:05] chrisjdixon opened #38482 "DOC: get_indexer returns non-matching with -1 positional"
[An answer on my recent SO post](https://stackoverflow.com/a/65085536/4107349) used `get_indexer`, which worked great, but I soon learned if the indexer doesn't find a match it seems to use the last entry without raising an error:

[code]

I presumed the row with "asdf" would have raised an error, not returned the value for "B". This was problematic because I unwittingly processed data incorrectly

[2020-12-15 00:09] jreback commented on #38482
-1 mark index positions that are not found. the user of this (more or less internal routine) must take care to filter these if they are not wanted.

Its in the example, but i suppose could be more prominent in the doc-string. changing this issue to a documentation one.

@chrisjdixon if you'd like to do a pull-request would be great .

[2020-12-15 00:13] jreback opened #38483 "CI: --strict option in pytest failing builds"
seems we are passing `--strict` to pytest, we must have picked up an updated version and this is now raising: https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=50126&view=logs&j=eab14f69-13b6-5db7-daeb-7b778629410b&t=ce687173-08c6-5301-838d-71b2dda24510

temporarily can just fix the pytest version or just remove this

cc @pandas-dev/pandas-core

[2020-12-15 00:13] jreback commented on #38483
and @mroeschke alredy has a PR: https://github.com/pandas-dev/pandas/pull/38478

[2020-12-15 00:14] WillAyd commented on #38483
Is this different from #38478 ?

[2020-12-15 00:14] #38483 closed

[2020-12-15 00:33] chrisjdixon commented on #38482
@jreback I'm sorry mate I'd be happy to make a pull request but I'm not very good at this and I don't know why -1 index positions would ever be desired or how they could be filtered out, so I wouldn't know what to ask for in the documentation / pull request...

Could you please elaborate or point me in the right direction?

[2020-12-15 00:35] #36688 closed

[2020-12-15 00:38] chaburkland opened #38484 "BUG: Segmentation Fault when read_table is given None"
- [x] I have checked that this issue has not already been reported.

~~- [ ] I have confirmed this bug exists on the latest version of pandas.~~ (Not applicable)

~~- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.~~ (Not applicable)

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide

[2020-12-15 00:41] #38484 closed

[2020-12-15 00:43] chaburkland commented on #38484
I apologize - I mistakenly thought I was on PyArrow's github.

[2020-12-15 00:58] jreback commented on #38483
nope i opened the issue then saw the PR (already merged it as well)

[2020-12-15 01:24] mzeitlin11 opened #38485 "DOC: Missing ipython block in user_guide/indexing.rst"
#### Location of the documentation
https://pandas.pydata.org/docs/user_guide/indexing.html

#### Documentation problem
Looks like a missing ipython block:
<img width="866" alt="Screen Shot 2020-12-14 at 8 20 33 PM" src="https://user-images.githubusercontent.com/37011898/102155736-238edf80-3e4a-11eb-8ae3-db335d755b2b.png">

[2020-12-15 01:37] #38222 closed

[2020-12-15 04:06] auderson opened #38488 "BUG: wrong result in rolling mean\sum (possibly related with cython implementation)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-15 04:20] xuhdev opened #38489 "BUG: read_csv: C and python engines have inconsistent behavior when `parse_dates=[]`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-15 04:41] AmalChandru commented on #38485
can I look into it.

[2020-12-15 05:54] stragu commented on #36688
Thank you for your work on this, and the detailed answer, @cdknox :smiley:

[2020-12-15 07:13] ghost9023 commented on #38401
# data given from https://www.kaggle.com/hesh97/titanicdataset-traincsv/data
import pandas as pd
import numpy as np

data = {
        'PassengerId': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20, 20: 21, 21: 22, 22: 23, 23: 24, 24: 25, 25: 26, 26: 27, 27: 28, 28: 29, 29: 30, 30: 31, 31: 32, 32: 33, 33: 3

[2020-12-15 08:50] jorisvandenbossche commented on #38465
Yeah, it was trying to access the attribute on the string version of the dtype, instead of the dtype object, in this case (but with array same error would have occurred)

[2020-12-15 08:57] bordingj opened #38495 "Major Performance regression of df.groupby(..).indices"
I'm experiencing major performance regressions with pandas=1.1.5 versus 1.1.3

Version 1.1.3:
[code]

Version 1.1.5:
[code]

[2020-12-15 09:02] #38485 closed

[2020-12-15 09:12] jorisvandenbossche commented on #38424
@jreback said (https://github.com/pandas-dev/pandas/pull/38456#pullrequestreview-551993473):

[2020-12-15 09:41] jorisvandenbossche commented on #38424
Indeed, as mentioned above, I think we should check for this case, so we can raise a custom, pandas specific error message that is more informative for the pandas case (pandas supports other formats like xlsx, the error message from xlrd could give the impression that we don't)

---

But so the **main question we need to answer is**: do we want to allow users to still use xlrd (< 2.0) to read non-

[2020-12-15 11:01] jorisvandenbossche commented on #36153
Yes, agreed.

First question: *why* is it different?
So it seems that Series.astype for tz-naive data (case In[12]), goes through `Block.astype`, which ends up calling `Block.to_native_types` for this case which on its turn uses `DatetimeArray._format_native_types`:

https://github.com/pandas-dev/pandas/blob/8dbb593d0c94107ec8b91a4723c40af537807ca4/pandas/core/internals/blocks.py#L2211-L2216

The

[2020-12-15 11:07] jorisvandenbossche commented on #38495
@bordingj thanks a lot for the report.
I can confirm that the above code runs slow, and this is already the case on 1.1.4 (so introduced in 1.1.4, and not in 1.1.5, I suppose). Strangely, I don't see a slowdown on master ..

[2020-12-15 11:14] jorisvandenbossche commented on #38495
I think this is caused by https://github.com/pandas-dev/pandas/pull/36911 (which changed the implementation of Grouping.indices), and the reason we don't see it on master is probably thanks to https://github.com/pandas-dev/pandas/pull/36842 (after which we no longer use Grouping.indices to calculate Grouper.indices)

cc @mroeschke  @phofl

[2020-12-15 11:19] timstaley commented on #36327
Just a :+1:  report of hitting this issue, still present on `1.2.0rc0`

[2020-12-15 11:37] phofl commented on #38495
``Grouping.indices`` could not handle nans previously so we switched to the cython implementation in #36842, which is more consistent anyway I think.

[2020-12-15 12:00] simonjayhawkins commented on #38267
This issue just needs a test added to the test suite before closing. pandas\tests\series\methods\test_replace.py could be a good place to start. other tests (in that module) will give an idea of the style.

[2020-12-15 12:02] jreback commented on #38488
try on master / 1.2.0rc0
we recently changed to use kahan summation which should fix this

[2020-12-15 12:33] DonPablo99 commented on #38375
Hello there, as I'm starting to work on some open source contributions, I'm happy to submit a PR with the correction.

[2020-12-15 13:02] dalonsoa opened #38498 "ENH: Default Excel engine only compatible with XLS files -> replace by new one"
#### Is your feature request related to a problem?

With the release of [xlrd 2.0.0 the last 11th of December](https://github.com/python-excel/xlrd/blob/master/CHANGELOG.rst#200-11-december-2020), they drop support for any file format except the (very old) XLS. As this is the default Excel engine for Pandas, it is likely there will be a cascade of complains popping up very soon.

#### Describe the

[2020-12-15 13:21] amrhs-zohrevand commented on #35701
I am also experiencing the same issue as well. There is an issue with the update

[2020-12-15 13:26] jorisvandenbossche commented on #38222
Is there a reason you closed this? (I think this is a good idea)

We should have the infrastructure to deprecate it (I think we did something similar for eg read_html), if we want that

[2020-12-15 13:34] cdknox commented on #36688
No problem, glad to help!

[2020-12-15 13:49] tsinggggg commented on #38375
take

[2020-12-15 13:55] tsinggggg commented on #38375
@DonPablo99 hey i just assigned this to myself and i started working on it

[2020-12-15 15:02] DonPablo99 commented on #38287
@jamesmyatt are you ok with me taking this ?

[2020-12-15 15:11] jdemaeyer opened #38502 "BUG: Incomplete join with categorical MultiIndex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

When we join two dataframes with similar MultiIndexes, where one level is a `CategoricalDtype`, some of the rows are not properly joined:

#### Code Sample

[code]

####

[2020-12-15 16:19] jbrockmendel commented on #38222
I tend to prune my own open issues fairly aggressively.  I may come back to it sooner or later, but there are much higher priorities.

[2020-12-15 16:36] asishm commented on #38498
duplicate of #38424

[2020-12-15 16:41] #38498 closed

[2020-12-15 16:58] simonjayhawkins commented on #38502
Thanks @jdemaeyer for the report.

appears to work back in 0.25.3 so will mark as regression pending further investigation.

[code]

[2020-12-15 17:26] datapythonista commented on #27976
The link that you're sharing is for an old version of pandas. You should check the latest version at: https://pandas.pydata.org/docs/dev/

There are two parameters for any function:
[code]

So, an unknown parameter as you can see in the example is a documented parameter that we don't know about, because it's not an actual parameter in the signature of the function.

[2020-12-15 17:52] mroeschke commented on #37793
It appears that this is more of a usage question which as mentioned is more appropriate for Stackoverflow.

If you discover that the behavior you're looking for is buggy or could be an enhancement, feel free to reopen.

[2020-12-15 17:52] #37793 closed

[2020-12-15 17:55] mroeschke commented on #37244
Sorry for not getting back to this issue sooner.

Could you ideally make a more minimal, reproducible example? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Also could you paste the output of `pd.show_versions()`? Similar issues were discovered a few months ago and should be patched now.

[2020-12-15 18:06] mroeschke commented on #38488
I'm getting similar results on master and thanks for the report.

This behavior is similar to https://github.com/pandas-dev/pandas/issues/24019 and https://github.com/pandas-dev/pandas/issues/37051 and I think our Kahan summation implementation doesn't handle large to small value transitions.

Since this is a known issue, I'm going to close as a duplicate

[2020-12-15 18:06] #38488 closed

[2020-12-15 18:19] jbrockmendel commented on #22384
@jorisvandenbossche some suggestions to add to the list of desired behavior:

- `dtype.construct_array_type()._from_sequence(ea, dtype=dtype)` should match `ea.astype(dtype)`
- `Series(ea).astype(dtype)` should match `Series(ea.astype(dtype))`
- For a masked dtype and a NA-less array, `arr.astype(dtype).to_numpy()` should match `arr.astype(dtype.numpy_dtype)`

[2020-12-15 18:40] MarcoGorelli commented on #38016
Closing for now but  if you make a reproducible example we can take a look

[2020-12-15 18:40] #38016 closed

[2020-12-15 18:41] MarcoGorelli commented on #36019
Closing as it's hard to know what to do here, but if you write a reproducible example we can take a look

[2020-12-15 18:41] #36019 closed

[2020-12-15 18:43] MarcoGorelli commented on #36543
Closing for now, but if you post a reproducible example we can take a look

[2020-12-15 18:43] #36543 closed

[2020-12-15 19:26] jbrockmendel opened #38509 "BUG: Series[td64].astype("string").astype("timedelta64[ns]") raises"
[code]

We have a round-trip test for string -> dt64 in test_astype_roundtrip, should amend that to do td64 when this is fixed

[2020-12-15 20:03] simonjayhawkins commented on #38489
Thanks @xuhdev for the report.

The code sample works on master, was recently fixed in [53bac2c7db0496d146ba58895e66320678e51e83] BUG: read_csv raising TypeError for engine=c with names and parse_dates (#38431)

[2020-12-15 20:13] phofl commented on #38489
Yep, this is a duplicate of #33699
Think we can close this

[2020-12-15 20:14] #38489 closed

[2020-12-15 20:42] simonjayhawkins commented on #38401
the data fails to parse, maybe `'O'Dwyer, Miss. Ellen "Nellie"'`

Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug and how to create **minimal** bug reports

[2020-12-15 21:42] d-kz opened #38510 "BUG: None and np.nan behave differently for .replace()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.
`pip freeze | grep pandas -> pandas==1.1.5`

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provi

[2020-12-15 21:46] phofl commented on #38439
This is a bug in MultiIndex.equals, which *may* hide a Bug in Series.align.
The following behaves differently:
[code]

returns
[code]

while
[code]

returns
[code]

e.g. not duplicating the NaN rows. I think the second one is the correct one?

[2020-12-15 23:23] bashtage commented on #31243
It sounds like a no brainer to move to pyreadstat given it is already a soft dep.  The only question is what will the path look like.  It would probably require adding optional support, deprecating pandas build-in, and then eventually removing the native reader.

[2020-12-15 23:51] jbrockmendel commented on #34456
ran into this today too.  taking a view there definitely seems weird.

[2020-12-16 00:46] #38022 closed

[2020-12-16 02:14] #38375 closed

[2020-12-16 02:16] cmcouto-silva commented on #24079
There's a recent asked question about it in [StackOverflow](https://stackoverflow.com/questions/65316023/filling-np-nan-entries-of-float-column-gives-valueerror-fill-value-must-be-in-c/65316190#65316190) with some workarounds. I, personally, would be glad with a fixing about this bug.

[2020-12-16 06:58] ghost9023 commented on #38401
Sorry for the mess reply. I'm really sorry for that.

I removed my former reply and write a new reply.

[2020-12-16 06:58] #38401 closed

[2020-12-16 07:14] ghost9023 commented on #38401
I think this error seems to be not bug.

When I call .group.agg('min')['Age'], error occurred.

But when I call  .group['Age'].agg('min'), error did not occurred.

It seems process step, such as loop, might be in the group calculating function.

.group['Age'].agg('min') means do first grouping, second get only 'Age', then calculate min value of 'Age'
.group.agg('min')['Age'] means do first groupin

[2020-12-16 08:22] jorisvandenbossche commented on #34643
This has been fixed in pyarrow 2.0, so a column with intervals should not be fully roundtrippable to/from parquet.

[2020-12-16 08:22] #34643 closed

[2020-12-16 08:27] toobaz commented on #22493
Another related thing that probably should not work emerged today [in the mailing list](https://groups.google.com/g/pydata/c/OpxfX4JO7-4/m/5Pa24ZI8AwAJ):

[code]

... while ``s.loc['a', mask.loc['a']]``, which would be more acceptable, raises an error!

[2020-12-16 09:27] aflah02 commented on #27976
ohkk understood thanks @datapythonista

[2020-12-16 09:36] aflah02 commented on #38311
Just wanted to ask can someone else also do issues which have been assigned?

[2020-12-16 09:40] aflah02 commented on #38000
Can I take up this issue and add this to the documentation? @phofl

[2020-12-16 09:43] aflah02 commented on #36858
@junjunjunk is this issue open to do?

[2020-12-16 10:03] alejsm commented on #38000
Yes, sure!

[2020-12-16 10:04] aflah02 commented on #38000
Oh thanks @alejsm

[2020-12-16 10:09] nikita-ivanov opened #38519 "BUG: Subtract AND and Add AND operators will modify original series starting version 1.1.4"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-16 11:10] simonjayhawkins commented on #38510
This look like a duplicate of #36984 and can often cause confusion. see https://github.com/pandas-dev/pandas/issues/36984#issuecomment-705790375

[code]

[2020-12-16 11:28] etiennekintzler opened #38520 "BUG: method fillna not working when supplied value is a dict"
#### Reproducible example

[code]

returns:
[code]

The error is the same when using `np.nan` instead of None.

#### Problem description

The fillna method does not work when the supplied value is a dict.

#### Expected Output

[code]

#### Problem identification

I check the internals of `NDFrame.fillna` the problem seems to be the following lines :
https://github.com/pandas-dev/pandas/blob/122d5

[2020-12-16 11:34] simonjayhawkins commented on #38519
Thanks @nikita-ivanov for the report.

This was changed in [d8c8cbb90544b77e5da1daa7274eba7bef3257b9] REGR: inplace Series op not actually operating inplace (#37508) to fix a regression for DataFrame behaviour.

It looks like is also corrected a long standing bug/inconsistency with the series behaviour.

cc @jbrockmendel

[2020-12-16 11:55] simonjayhawkins commented on #38520
Thanks @etiennekintzler for the report.

a dictionary passed to `Series.fillna` is not treated a scalar value. see https://pandas.pydata.org/docs/reference/api/pandas.Series.fillna.html

nested datastructures are not natively supported in pandas yet.

however, the following appears to work in this case.

[code]

[2020-12-16 12:24] etiennekintzler commented on #38520
Hey @simonjayhawkins !

Thank for your quick answer 👍

The usage of dict is quite clear regarding `DataFrame` ; however I don't see the value of having this feature for `Series` since it implies knowing the position of the NaN and usually just one scalar value would be used.

[2020-12-16 12:24] #38520 closed

[2020-12-16 12:28] nikita-ivanov commented on #38519
@simonjayhawkins thanks for the update. Do I see it correctly that the future behavior would the same as it is now for `-=` (and similar operations)? More precisely,
[code]

[2020-12-16 13:05] leonarduschen opened #38521 "BUG: Setting values to slice fails with duplicated column name"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Originally posted on [StackOverflow](https://stackoverflow.com/questions/65255166/interesting-results-with-duplicate-columns-in-pandas-dataframe).

Possibly related to #1

[2020-12-16 13:10] cjw296 commented on #38424
I've put https://github.com/pandas-dev/pandas/pull/38522, to let's follow up there.

[2020-12-16 13:11] junjunjunk commented on #36858
@aflah02
This issue is open.
No one is assigned, so it's okay to take this issue.

[2020-12-16 13:12] aflah02 commented on #36858
Okk I'll try it then thanks 👍

[2020-12-16 13:25] simonjayhawkins commented on #38519
for the `s1 = s1 - 4` case, the expected output remains as

[code]

in Python, the `a = a+1` is not __always__ equivalent to `a+=1`.

Under the hood, Python calls 'special methods' for the various syntactical constructs. in this case `__add__` and `__iadd__`

if the object, in this case `a`, implements `__iadd__`, that will be called. In the case of mutable sequences, `a` will change in place. How

[2020-12-16 13:31] nikita-ivanov commented on #38519
@simonjayhawkins thanks for clarifications. My concern is that prior to `1.1.4` the behavior was the same for both cases. And I did not find change of behavior information in the release notes. However, this change can cause some bugs (the case for me). I shall switch to `s1 = s1 - 4`, but it might be worthwhile to mention new behavior in the release notes.

[2020-12-16 13:36] simonjayhawkins commented on #38519
@nikita-ivanov I agree that a long standing behaviour has been changed without adequate notice.

We will await comment from @jbrockmendel for the way forward here.

I am reluctant to add a regression tag here as I think the new behaviour is more correct and we are not currently planning any more releases in the 1.1.x series.

[2020-12-16 13:44] jorisvandenbossche commented on #38424
Let's keep the actual discussion on what general behaviour we want here (it's already scattered enough), specific code review can of course happen in #38522

[2020-12-16 13:49] cjw296 commented on #38424
From #38522: I've gone ahead and implemented the content-based engine inference I suggested, and I believe the outcome is now better all round:

- `.ods and .xlsb` files will now pick the correct engine rather than falling through and returning an obscure error from `xlrd` engines will now be correctly picked, even if the file is mis-named.
- should a file be indecipherable, we'll still try based

[2020-12-16 14:01] gepcel commented on #38451
I know this should be a very easy pr that should take less than one minute for an expert, but I need some guidance for something.

From what I understand, to fix this, I need to put some imports at the beginning of file `visualization.rst`. Which should be like:

[code]

But what I don't understand is why some other files without the imports at the beginning are built without error, for example:

[2020-12-16 14:24] KelvinPiVan commented on #25650
proven works fine!:

`import msoffcrypto
import io
import pandas as pd

file = msoffcrypto.OfficeFile(open("encrypted.xlsx", "rb"))

# Use password
file.load_key(password="Passw0rd")

decrypted = io.BytesIO()
file.decrypt(decrypted)

df = pd.read_excel(decrypted)
print(df)`

[2020-12-16 14:31] Heerozh opened #38523 "BUG: MultiIndex RollingGroupby returns only one level of index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

Version 1.1.5 returned different result compared to earlier versions

#### Expected Output (0.22.0)

    0.22.0
                    Max

[2020-12-16 15:13] simonjayhawkins commented on #38451
Thanks @gepcel for looking into this. I don't think any changes are needed to the documentation as the HTML pages are generated fine. https://pandas.pydata.org/docs/user_guide/visualization.html

The problem is in the pdf generation, where the header that includes imports is incorrectly generated. will look some more

![image](https://user-images.githubusercontent.com/13159005/102366710-e09b4c00-3

[2020-12-16 15:39] jreback opened #38524 "CI: pin xlrd <2 for now"
unless we merge the support indicated in https://github.com/pandas-dev/pandas/pull/38522

I think we need to pin xlrd so we can have a green ci.

[2020-12-16 16:07] simonjayhawkins commented on #37629
@jbrockmendel thoughts on how to proceed here?

[2020-12-16 16:10] simonjayhawkins commented on #38367
@phofl if you could put together a PR (suitable for merging before 1.2 release) for review, that'll be great.

[2020-12-16 16:13] simonjayhawkins commented on #38495
@jorisvandenbossche if this is fixed on master (and 1.2.0rc0) and we are not currently planning another release in the 1.1.x series, can this issue be closed?

[2020-12-16 16:57] jbrockmendel commented on #38519
Agreed.

[2020-12-16 16:58] rafiyr commented on #35025
Any updates on this issue?

[2020-12-16 16:59] westonpace opened #38525 "BUG: pyarrow_array_to_numpy_and_mask is not taking offset into account when creating mask"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-16 17:09] jbrockmendel commented on #35025
@rafiyr you're welcome to make a PR

[2020-12-16 17:12] jreback commented on #35025
i thought we had a PR for this - but doesn't appear to be linked (or my memory is going)

[2020-12-16 17:17] jbrockmendel commented on #35025
xref https://github.com/numpy/numpy/issues/16352

[2020-12-16 18:50] mbkupfer opened #38527 "BUG: can't use to_clipboard/read_clipboard on WSL 2.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-16 19:01] mbkupfer commented on #38527
FWIW, I think the issue is here: https://github.com/pandas-dev/pandas/blob/master/pandas/io/clipboard/__init__.py#L523

Here is what I have in `/proc/version` (no mention of Microsoft), yet the init_wsl_clipboard() works and is needed :
[code]

[2020-12-16 19:16] JoseNavy commented on #38234
I was able to reproduce this bug in master, so I will try to fix it!

[2020-12-16 19:25] jorisvandenbossche commented on #38525
The issue is here:

https://github.com/pandas-dev/pandas/blob/122d50246bcffcf8c3f252146340ac02676a5bf6/pandas/core/arrays/_arrow_utils.py#L29-L35

We take the offset into account when converting the actual data, but not when converting the mask.
The `BooleanArray.from_buffers` also has an offset keyword, so that might be a solution (didn't check yet if it actually does what we need here)

[2020-12-16 19:26] jreback commented on #38524
actually let's leave this open until we revert

[2020-12-16 19:28] mbkupfer commented on #38527
Ok, I can confirm that the `if "Microsoft" in f.read():` is the offending line.

By switching to `if "microsoft" in f.read():` (note the lower 'm'), it then worked for me! Please consider a patch for this.

[2020-12-16 19:33] jorisvandenbossche commented on #38424
@cjw296 Thanks a lot for that! That's a nice clean-up / improvement in any case, regardless of whether we decide to fallback from openpyxl to xlrd or not (in case openpyxl is not installed)

I am hoping that some more people chime in here with their thoughts on this. As long as that doesn't happen, I don't want to decide changing the behaviour we added in the https://github.com/pandas-dev/pandas/p

[2020-12-16 22:35] jreback commented on #38424
about this comment

I would say absolutely yes. just because you updated pandas doesn't mean we need to break because you don't update xlrd. these are two separate things and we don't hard break like this. While I appreciate @cjw296 desire to not support xlrd anymore which is totally fine. There are a great many intallations out there and its not great to just 'break them'. We are already deprecat

[2020-12-16 22:53] phofl commented on #38495
I think we are using the function causing the performance regression in other places. Don't know how the impact is there, but not sure if we can close this.

[2020-12-16 23:45] jbrockmendel commented on #37629
1) `d.loc[d['a']==1, 'b'] = [[(0, 0, 1)]]` is sketchy, im not sure if it _should_ work.  The LHS is a Series, and the RHS is 2D-like.

If instead of a nested list we had a 2D ndarray[object], this would be pretty easy.  To fix this via that route, we need a helper function we can call at the beginning of setitem_with_indexer (or possibly before?) that does this inference/casting.

I wouldn't mark

[2020-12-17 00:06] gepcel commented on #38451
Some information somewhere gave me an impression that the header part `{{header}}` only applies to html format, not pdf.

[2020-12-17 00:38] JulioV opened #38534 "BUG: Series mode crashes when there is more than one mode"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-12-17 02:05] gepcel commented on #38451
@simonjayhawkins It is actually weird that that is an `{{ header }}` before `2.14 Visualization`, which suggested something is wrong with the header since the header do the `pandas` and `numpy` imports.

But compared with other chapters like `groupby.rst`:

The header in 'visualization.rst':
[code]

And the header in `groupby.rst`:
[code]

There seems no difference here. And can someone help me wh

[2020-12-17 02:11] mroeschke commented on #38527
Thanks for the investigation. Care to open a PR with that fix?

[2020-12-17 02:48] jbrockmendel commented on #22126
@phofl did your PR a couple weeks ago fix this?

[2020-12-17 03:30] mbkupfer commented on #38527
Sure, although this is just my 3rd day of using WSL so I'm not certain what would be a universal fix. Comparing `f.read().lower()` would clearly fix it this time,  but who knows how consistent `proc/version` is.

Perhaps a better option is to use an environment variable. It looks like the following are set for me:
[code]

Maybe we just use one of those? I'd lean towards `WSL_DISTRO_NAME`

[2020-12-17 03:42] mbkupfer commented on #38527
Upon further research, it looks like wslconfig has been there from the start. See: https://patrickwu.space/wslconf/#wsl-feature-availability

Maybe checking for that executable: `wslconfig.exe` would be the most compatible.

[2020-12-17 04:56] aflah02 commented on #36858
Hey, I've been try to look for the file where the documentation for these functions are but couldn't find them. Any idea on how to locate them?

[2020-12-17 05:25] aflah02 commented on #38000
Do I need to just add the part in the documentation or also add a error when the index is not sorted, if yes, what should be the type of the error?

[2020-12-17 06:11] ofajardo commented on #31243
Sounds like a plan!

[2020-12-17 08:56] sagar-m opened #38538 "QST: error while using pickle to load the files"
Hi, I am getting the below error while using pickle to load the files on kaggle. It has worked for everyone, but it is not working for me. The file path is correct. Thank you for your help.

[code]

[2020-12-17 11:44] rhshadrach commented on #38538
Thanks for the report. From what can be discerned, it appears your usage of pandas is correct. As for why you're getting the error, I don't believe that's relevant to pandas.

In the future, this question would be more appropriate for StackOverflow. As you were instructed when writing the issue, please ask there first and if you don't get a satisfactory answer, then okay to ask here (with a link t

[2020-12-17 11:44] #38538 closed

[2020-12-17 13:46] #38434 closed

[2020-12-17 13:50] #37863 closed

[2020-12-17 13:52] weikhor commented on #34687
@TomAugspurger @MJafarMashhadi @deusebio @phofl @jd
Hi Guy Have create test cases

[2020-12-17 14:04] weikhor commented on #29687
Hi Guys I will start doing this.

[2020-12-17 14:11] AntoineWeber commented on #21103
Getting the error on 1.1.5. For a wide dataframe (72 cols), I cannot go above a chunksize of 10.

[2020-12-17 15:02] AntoineWeber opened #38541 "ERROR : "('HY000', 'The driver did not supply an error!')" or "The incoming request has too many parameters" when trying to push a df to a MS SQL database using the to_sql() method with argument method='multi'"
- I have checked that this issue has not already been reported.
- [Yes, it was already opened [here](https://github.com/pandas-dev/pandas/issues/21103). However the issue was closed even if the problem is still here]

- I have confirmed this bug exists on the latest version of pandas.
- [Yes, currently version 1.1.5]

- (optional) I have confirmed this bug exists on the master branch of pandas.
-

[2020-12-17 15:07] weikhor commented on #29687
@TomAugspurger @simonjayhawkins @annhak @asmcat666
Guy have created test cases for this issues.

[2020-12-17 15:42] jbrockmendel commented on #37682
Not closed by #38021, will be closed by #38073.

[2020-12-17 16:17] jamesmyatt commented on #38287
@DonPablo99 Of course. Thank you.

[2020-12-17 16:26] soerenwolfers opened #38543 "`np.array([pd.Series({'a':'a'})])` works but `np.array([pd.Series({1:1})])` doesn't"
The last line here throws a `KeyError: 0`
[code]
Is that a bug?

[2020-12-17 16:54] #38000 closed

[2020-12-17 17:30] avinashpancham commented on #35076
take

[2020-12-17 19:48] MarianD opened #38547 "BUG: Direct renaming of 1 column seems to be accepted, but only old name is working"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

After direct renaming a column of a dataframe, all its properties *show* the new name.
But all attempts to *use* this new name fail with

[2020-12-17 20:03] aflah02 commented on #38547
I was wondering can you tell me where are these functions defined?
I have been unable to navigate through the database
Maybe I can try to fix this

[2020-12-17 21:26] mzeitlin11 opened #38549 "BUG/API: multiple headers and index_col != range(...) in parsers"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I was looking into #34765 which traced back to the parsers in general and isn't excel specific. For both the `c` and `python` engines, using a multiple line header and `i

[2020-12-17 21:39] phofl commented on #22126
No, don't think so. Would have to look into this more, but I think the PR was more about the case which is outperforming here not the underperforming ones

[2020-12-17 22:45] ryansrobin commented on #38401
To add for any others that trip across this like myself. Previous versions it felt like you could just use .max() on any dataframe. After upgrading to pandas 1.1.5, it seems that you should clean your dataframe further to ensure there are no null values.

Good luck!