[2017-05-02 20:58] TomAugspurger commented on #16199
@stangirala it may have to be earlier, somewhere around https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L335

The issue is we drop non-numeric columns fairly early on, and by the type you get to https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L831, the `data` passed to that method already doesn't have the categorical column.

The cleanest way mig

[2017-05-02 21:38] stangirala commented on #16199
@TomAugspurger I see. But it looks like PlanePlot has checks on x and y and not MPLPlot, https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L770. The error in the code sample above passes the check in MPLPlot at https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L335 because x is numeric. So the check would go in PlanePlot right?

[2017-05-02 21:51] jorisvandenbossche commented on #16199
@stangirala Another interesting area to contribute, however a much bigger issue, is to actually better support categorical data (as the above example *could* work)

[2017-05-02 22:29] stangirala commented on #16199
@jorisvandenbossche Maybe you can open a new issue for it? :D It seems like we would have a flag for most plots that would wholesale convert categorical data to a label-to-integer mapping?

But I don't think it would make much sense for a scatter plot that requires an inherent ordering. But having equivalent categorical plots is a good idea, for example parallel_sets, https://github.com/pandas-dev

[2017-05-02 23:18] keitakurita commented on #16063
Is
[code]
the expected output? I would expect an empty series of the same dtype, in other words
[code]

This seems to require an api change beyond the changes requested in this issue though.

[2017-05-03 00:34] chris-b1 commented on #16173
Interesting idea / package!  It seems like fairly niche functionality, so my initial reaction is that this makes more sense, at least for now, as a 3rd party library.

FYI, you may look at intercepting the output of the `ExcelFormatter` class that pandas uses, it already provides a sort of abstract mapping of the data to excel locations.
https://github.com/pandas-dev/pandas/blob/39cc1d0685481c7711

[2017-05-03 00:51] jreback commented on #15895
done

[2017-05-03 00:52] jreback commented on #16055
nope. it shows on the travis build but I cannot repro locally. will just close this.

[2017-05-03 00:52] #16055 closed

[2017-05-03 01:06] jreback commented on #13634
both of those are not great
this is purely a library exposed for other developers (dask) so it's public to them
if it's moved we can adjust dask but ituis is not public in any other way

[2017-05-03 01:22] #16203 closed

[2017-05-03 02:46] JosephWagner opened #16209 "BUG: HDFStore.select_as_multiple doesn't respect start/stop kwargs"
[code]
Currently select_as_multiple returns the entire table. I would expect, if start=0 and stop=1, for just one row to be returned

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.12.final.0
python-bits: 64
OS: Linux
OS-release: 2.6.32-642.15.1.el6.centos.plus.x86_64
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: None.None

pan

[2017-05-03 08:27] FabriceLondon commented on #16063
Yes, this is the right output:

In [15]: series.asof([date(2017,4,1)])
Out[15]:
2017-04-01    True
dtype: bool

... and that was used to be returned by pandas before version 0.19 (ex: version 0.18.0)

Why would you expect an empty series? The last good value of the original series is True (for 2017/3/1).

[2017-05-03 08:34] keitakurita commented on #16063
Sorry, it was just my misunderstanding regarding the api. I would erase my comment, but it would make your reply seem out of context.

[2017-05-03 08:37] FabriceLondon commented on #16063
Ok, I don't mind deleting my reply too

[2017-05-03 09:16] guillemborrell opened #16211 "rolling.quantile does not behave like quantile and np.percentile."
#### Code Sample

[code]
#### Problem description

Current implementation of quantile as a method of the rolling window behaves like the lower interpolation of Series.quantile and np.percentile. It would be nice if the default behavior was the same.

#### Expected Output

[code]

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 64
OS: Linux
OS-release

[2017-05-03 10:11] jreback commented on #8084
dupe of #9413

[2017-05-03 10:11] #8084 closed

[2017-05-03 10:11] jreback commented on #16211
dupe of #9413 yes this is pretty easy to fix if you'd like to submit a PR. see the duped issue.

[2017-05-03 10:11] #16211 closed

[2017-05-03 10:16] guillemborrell commented on #16211
Thanks. I'll take a look at it.

[2017-05-03 10:17] jreback commented on #16209
yep, looks like https://github.com/pandas-dev/pandas/blob/master/pandas/io/pytables.py#L829 needs to pass ``start/stop`` as well.

pull-requests welcome!

[2017-05-03 10:55] kernc commented on #8048
Does anyone object to `SparseSeries` [no longer having a `to_coo()`/`from_coo()` methods](https://github.com/pandas-dev/pandas/issues/15634) in favor of `SparseDataFrame` providing roughly the same API (accepting sparse matrices in the constructor and implementing a somewhat simpler `to_coo()`)?

Please discuss here in https://github.com/pandas-dev/pandas/issues/15634.

[2017-05-03 11:26] toobaz opened #16212 "RangeIndex.append() should return RangeIndex when possible"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It would be nice if appending consecutive ``RangeIndex`` returned a ``RangeIndex``.

This was briefly discussed [here](https://github.com/pandas-dev/pandas/pull/12289#r71085353).

#### Expected Output

Same as ``Out[3]:``

PR on its way.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
-----

[2017-05-03 11:36] jreback commented on #16212
yep, should be straightforward to do this.

[2017-05-03 11:55] dinya opened #16214 "set_levels for MultiIndex columns with blank strings"
I want to rename column in MultiIndex with

[code]

and ```reset_index()```

This code
[code]
works well

But if I use ``[("a", "a1"), ("b", ""), ("c", "c1")]`` istead of ``[("a", "a1"), ("b", "b1"), ("c", "c1")]`` fro columns names

[code]

the code returns

[code]

#### Output of ``pd.show_versions()``

<details>

[code]
</details>

[2017-05-03 11:58] seth-a opened #16215 "keepdims fails when taking mean"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The `keepdims` argument is ignored when taking the mean of pandas dataframes, resulting in an array of lower dimensionality.
Oddly, there's no documentation for pd.DataFrame.mean suggesting keepdims should even be allowed as an argument, but it accepts it with no effect.  This also modifies the behavior of np.me

[2017-05-03 12:01] guillemborrell commented on #16211
Please, see PR #16216

[2017-05-03 12:08] TomAugspurger commented on #16214
A bit simpler of an example:

[code]

Presumably because your `df.columns` has duplicates in the second level. I'll take a closer look later.

[2017-05-03 12:28] dinya commented on #16214
@TomAugspurger
Yes, it is. Is it pandas restriction? Is only way is renaming duplicates before ``reset_index()`` temporary and renaming them to "" after operation again?

[2017-05-03 12:38] dinya commented on #16214
BTW,

[code]

works well, but
[code]

returns
[code]

Is the reason is the same?

[2017-05-03 12:51] TomAugspurger commented on #16214
I don't recall if / where it's enforced. In the docstring for MI, we do say

[code]

In general, directly manipulating the labels / levels can get you into sticky situations.

And as you say, it's not *just* that there are duplicates. It seems like the empty string matters.

[2017-05-03 13:21] chris-b1 commented on #16215
In `0.19.2`+ this raises an error, as `keepdims` is not a supported parameter to mean.  The reason this 'worked` (didn't raise an error) in older versions is that we accepted a `**kwargs` parameter, but didn't validate it.

[2017-05-03 13:25] chris-b1 commented on #16214
xref #11424 - empty string MI labels sometimes get special treatment, guessing it could be related.

[2017-05-03 13:26] TomAugspurger commented on #16215
Is there any desire for a keepdims argument? I haven't seen it requested beore.

@seth-a did you have a need for it, or were you surprised by the inconsistency / non-validation?

[2017-05-03 14:49] atbd opened #16217 "Empty dataframe with groupby when nan column"
Hi,
I encountered a 'problem' when my program tried to groupby a dataframe with an empty (ie full of nan) column. Here a code sample with pandas 0.19.2 :

[code]

I think we could throw a warning (or maybe an error) when this case is encountered in addition to return an empty dataframe.

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Linux
OS

[2017-05-03 15:36] chris-b1 commented on #16217
this is a duplicate of #3729.  Some progress in #12607, but in the meantime would also probably take a PR for a better error/warning too.

[2017-05-03 15:36] #16217 closed

[2017-05-03 17:12] seth-a commented on #16215
@chris-b1 Thanks for pointing that out.
@TomAugspurger There's no need for it in `DataFrame.mean`,  I just included that for comparison with the numpy code.  The bigger issue for me is that calling np.mean with a pandas DataFrame causes different behavior than with a numpy array.

I don't know what exactly pandas is doing, but it shouldn't be modifying how numpy behavior, and that is still an issu

[2017-05-03 17:19] TomAugspurger commented on #16215
That's how `np.mean` works. It checks the object for a `mean` method (and probably some other array-like characteristics that pandas meets) and then calls that object's mean. That's why `np.mean(df)` returns a Series, not a numpy array.

[2017-05-03 17:28] ecwootten opened #16218 "Incorrect parsing of UTF-16 TSV if file includes Unicode 'FULLWIDTH COLON' (U+FF1A)"
#### Code Sample, a copy-pastable example if possible

[code]
Test files:
[testcase2-utf16.txt](https://github.com/pandas-dev/pandas/files/974155/testcase2-utf16.txt)
[testcase-utf16.txt](https://github.com/pandas-dev/pandas/files/974154/testcase-utf16.txt)

#### Problem description

If a UTF-16-encoded TSV file contains a full-width colon, read_csv causes the data to be parsed wrongly. I'm runnin

[2017-05-03 17:32] seth-a commented on #16215
Ah, that makes sense.  Nope, looking at the code it only checks that there's a `mean` property, not even if it's a method:

[code]
Well, definitely not a pandas bug.  Thanks for looking at that.

[2017-05-03 18:09] jorisvandenbossche commented on #16199
There are already some issues about it, eg #12341

Do you mean you think it won't make sense for a scatter plot to support categorical data? I think it could make sense, where you basically use the underlying codes of the categorical as the values to plot

[2017-05-03 18:51] chris-b1 commented on #16218
This seems to work correctly in python 3 on Windows as well.   This compat stuff looks suspect, we're re-encoding to utf8, may be something going wrong.  PR welcome!

https://github.com/pandas-dev/pandas/blob/67e7efccf88ca0532f219d5151156cd19e63df04/pandas/io/common.py#L480

[2017-05-03 18:53] TomAugspurger commented on #16215
Ok, let's close for now. We can close for now. We can revisit a `keepdims` keyword in the future if there's interest.

[2017-05-03 19:52] #16215 closed

[2017-05-03 20:14] TomAugspurger commented on #13634
Thoughts from anyone else? I think the proposals on the table are

Option 1 (current master);

- `pd.api.types`
- `pd.errors`
- `pd.io` (`.formats`, `.json`, etc.)
- `pd.plotting`
- `pd.testing`

Option 2 (move types up):

- `pd.types`
- `pd.errors`
- `pd.io` (`.formats`, `.json`, etc.)
- `pd.plotting`
- `pd.testing`

Option 3 (?)

- `pd.api.types`
- `pd.api.errors`
- `pd.api.io` (`.formats`, `.js

[2017-05-03 20:23] shoyer commented on #13634
I like option 2.

[2017-05-03 20:57] stangirala commented on #16199
Oh I meant would someone want a scatter plot for categorical data when most of the times the categories don't have an ordering? I mean in such case won't someone want to use a box plot for example assuming y data is numeric and x is categorical?

[2017-05-03 21:07] TomAugspurger commented on #16199
supporting categorical in `scatter` would be nice when you have a single observation per category. More like a dot plot.

[2017-05-03 22:02] stangirala commented on #16199
@TomAugspurger I see, a dot plot would make sense. I don't see an issue for this, do I open one?

[2017-05-03 22:05] TomAugspurger commented on #16199
We can use https://github.com/pandas-dev/pandas/issues/9069 I think.

On Wed, May 3, 2017 at 5:02 PM, Telt <notifications@github.com> wrote:

[2017-05-03 22:25] jreback commented on #13634
master is what it is
so -1 on any changes

[2017-05-03 23:10] jorisvandenbossche commented on #13634
@jreback Can you answer my comment above? https://github.com/pandas-dev/pandas/issues/13634#issuecomment-298700790 (if you have an idea of course)

I am ok with option 1 / master (pandas.api.types), *if* we have an idea of what else we would put in `pandas.api`

[2017-05-03 23:20] jreback commented on #13634
yes I think we should move hashing to ``pandas.api.lib`` (or something like that) and import the 2 functions (and I'll update dask as well).

[2017-05-03 23:22] jreback commented on #13634
``pandas.util`` is also a bunch of random code. these should also not really be exposed and should really go in ``pandas.core.util``

[2017-05-03 23:24] jorisvandenbossche commented on #13634
The objection I currently have against `pandas.api.lib`, is that I think that the fact that some functionality (eg in this case the hashing functions) are implemented in `_lib` is an implementation detail (if they were not in compiled code, they would not be there), and IMO this implementation detail is not need to 'leak' to the user API.

[2017-05-03 23:28] jorisvandenbossche commented on #13634
Another example is the `cache_readonly` decorator. I was thinking to use this one in geopandas, so it would be nice if there is a public exposure of it. It would also fit in `util` or `pandas.api.lib`, depending on this discussion.

Util is indeed a bunch of random things, but that is in its name, it is a bunch of various useful utility functions that don't really belong somewhere else. I think so

[2017-05-03 23:36] jreback commented on #13634
ok what i could do is make everything in until private but leave the top level namespace to export certain functions as a flat namespace

[2017-05-03 23:38] jorisvandenbossche commented on #13634
yes, that would be a nice idea to expose certain things (like eg the cache_readonly) in the util submodule

[2017-05-03 23:41] jreback commented on #13634
ok have a look for anything else
maybe Appender, Substitution

[2017-05-04 02:38] #15990 closed

[2017-05-04 05:35] keitakurita commented on #16058
Is passing the converted integer instead of the time-aware window parameters through a deliberate design choice (such as for the sake of avoiding recalculation of the indexes)?

[2017-05-04 05:57] sleepdeprivation commented on #16180
Here I am again to try contributing.

Is this done or does work need to be done here?

[2017-05-04 07:04] dingo9 opened #16226 "dataframe.query() select columns"
####
In function query@pandas/core/frame.py

I found dataframe return eval result, and use self.loc to return new dataframe, and I curious about in which situation dataframe.loc will raise ValueError.

[code]
#### Problem description

Because I use Dataframe.query() as data_model api, and I wanna select columns from this api, so I do some googling, found nothing. After read code of query, I found

[2017-05-04 08:15] jorisvandenbossche commented on #16226
@dingo9 Please provide a minimal, reproducible example (runnable code snippet) illustrating the problem you have.

[2017-05-04 09:40] Satyadev592 opened #16228 "ERR: left_index AND left_on or right_index AND right_on should raise"
There seems to be a bug in the pandas merge , particularly on the left_index.

[code]

The above two merges give me different output.

This a fork of a stack overflow post-
http://stackoverflow.com/questions/43779003/will-output-change-if-right-index-is-used-instead-of-left-index-with-both-left-o

[2017-05-04 09:45] alan-wong opened #16229 "Incorrect behaviour when merging dfs using on and left_index or right_index with outer"
# data
[code]
With `merge` using `left_index=True` with `outer`:

[code]

When we try the opposite:

[code]

I'd expect the `left_index` version to contain the index of the left df or is my understanding incorrect here and the result should be the opposite of the `right_index` version?

Version:

[code]

There seems to be an inconsistency here and bug with `left_index` version and possibly also th

[2017-05-04 09:47] alan-wong commented on #16228
I just posted the exact same question: https://github.com/pandas-dev/pandas/issues/16229 shall I delete mine

[2017-05-04 09:50] Satyadev592 commented on #16228
That's fine , some moderator will most likely merge them.

[2017-05-04 10:50] watercrossing opened #16230 "BUG: concat of tz-aware with missing"
#### Code Sample

I am not sure this is the simplest way to produce this error.

[code]
#### Problem description

the last line above throws the following stacktrace:
[code]

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 64
OS: Linux
OS-release: 2.6.32-696.el6.x86_64
machine: x86_64

[2017-05-04 10:56] jreback commented on #16229
dupe of #16228

[2017-05-04 10:56] #16229 closed

[2017-05-04 10:59] jreback commented on #16230
your example is not copy-pastable.

``ldn.localize(datetime(2017,5,4, 11, 18))`` ldn is not defined.

[2017-05-04 11:09] TomAugspurger commented on #16180
That's be great. The issue is open, and not one else has said they want to work on it, so go right ahead.

Let us know if you have any troubles.

[2017-05-04 11:21] jreback commented on #16058
no, .cov and .corr are implemented in terms of lower moments so the original park should be preserved to be passed

this is an oversight in the impl

[2017-05-04 11:36] watercrossing commented on #16230
Sorry, I forgot to paste one line. Now it should be copyable.

[2017-05-04 11:40] jreback commented on #16049
after #16223 and remaining doc fixes I think good to go. We *could* do an rc2 (maybe just conda packages). For a quick check? up to you @TomAugspurger

[2017-05-04 11:42] jreback commented on #16230
what exactly are you trying to do ?

using groupby in this way is very very odd

[2017-05-04 11:51] TomAugspurger commented on #16049
Yeah, I could go either way on an RC2... May as do one just for the conda packages, and test against dask, statsmodels, etc.

[2017-05-04 12:03] jmarrec opened #16231 "resample.apply flattens column index when more than 3 levels"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

With MultiIndexed columns that have 2 or 3 levels, the resample().apply() does return the same MultiIndexed columns. If you go to 4 levels, returned is a single-level column where only the first level is kept.
In the above code, only the case nlevels=4 raises.

#### Expected Output

The above code shouldn't rai

[2017-05-04 12:03] jreback commented on #16049
sure that works.

[2017-05-04 12:06] TomAugspurger commented on #16049
Should I even push and RC2 to PyPI? Or just tag, push to github, and then build the conda pkgs?

[2017-05-04 12:10] watercrossing commented on #16230
Well this is just a reduced minimal example.
I am analysing some web log files, with each line having a userID as one of the columns. For each user, I want to extract set of sessions, i.e. from event login to event logout. So I group by userid, and then apply to each group the method that finds starts and end times, and returns a dataframe of them.

The method works fine unless there is a user wit

[2017-05-04 12:16] jreback commented on #16230
[code]
this repros.
and some more cases:

[code]
looks like these are some untested cases.

a pull-request to fix welcome!

[2017-05-04 12:20] jreback commented on #16231
this is probably also applicable to groupby, these use the same machinery.

welcome for you to have a look. This is prob pretty deep in the code.

[2017-05-04 12:21] jreback commented on #16049
no, I would just make some conda packages.

[2017-05-04 12:24] jreback opened #16232 "DEPR: pandas.core, pandas.util.testing"
xref #16223

These are the only remaining 'public'-ish directories that are not explicitly exposed. In 0.20.0 we make these 'private' in documentation. We should actually deprecate these and move to ``_core`` and ``pandas.util.testing`` -> ``pandas.core.testing``

This will need a DeprecationWarning as likely lots of code that is out there that uses this.

[2017-05-04 12:38] jmarrec commented on #16231
I honestly have no idea where to start on this one.

(For the record, a workaround is simply to do `resampled.columns = df.columns` after the resampling is done.)

[2017-05-04 13:35] TomAugspurger commented on #1713
covered by https://github.com/pandas-dev/pandas/issues/2485

[2017-05-04 13:35] #1713 closed

[2017-05-04 13:37] TomAugspurger commented on #2286
https://github.com/pandas-dev/pandas/pull/15931

[2017-05-04 13:37] #2286 closed

[2017-05-04 13:41] TomAugspurger commented on #5697
Seems to have been fixed somewhere along the way

[code]

[2017-05-04 13:41] #5697 closed

[2017-05-04 13:42] TomAugspurger commented on #4045
Closing since we don't have a reproducible example

[2017-05-04 13:42] #4045 closed

[2017-05-04 14:28] toobaz opened #16234 "Different results with tzlib and dateutil_tz with "ambiguous" argument to tz_localize"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I guess (and the existing tests suggest) the two should produce the same results.

#### Expected Output

``l1`` and ``l2`` should be perfectly equivalent I guess.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: 1002cc339d81591b280ec3ec3c8ac58ce157e3b6
python: 3.5.

[2017-05-04 14:52] TomAugspurger commented on #16049
Going to do the RC2 now.

We have the two doc issues outstanding, but those can go in between RC2 and the release.

[2017-05-04 15:09] TomAugspurger opened #16235 "TST: Pytest warning"
xref #16225 probably

[code]

[2017-05-04 15:50] TomAugspurger commented on #16049
@jreback a couple GBQ failures on master

- https://travis-ci.org/pandas-dev/pandas/jobs/228775668
- https://travis-ci.org/pandas-dev/pandas/jobs/228775677

Could the be related to https://github.com/pydata/pandas-gbq/pull/34? (I haven't looked at that PR)

[2017-05-04 16:09] jreback commented on #16235
cc @gfyoung

[2017-05-04 16:10] jreback commented on #16049
I restarted on master. this *should* work. I released a new version of gbq because was using ``PandasError`` (which we removed)

[2017-05-04 16:11] jreback commented on #16049
these gbq sometimes fail if multiple things are running against it (e.g. 0.20rc2 tag & master both launched at the same time).

[2017-05-04 16:23] gfyoung commented on #16235
That's always been there but probably was surfaced with my PR.  Should just change that to `setup_class` (with no `*args`), and that should remove the warning.

[2017-05-04 16:28] TomAugspurger commented on #16049
Dask, statsmodels, and seaborn all looked OK on rc2. I did a windows build and test locally, and that passed as well.

[2017-05-04 16:38] jreback commented on #16049
great @TomAugspurger

yeah master is green now (and rc2 I just restarted those builds).

[2017-05-04 17:33] dorvak commented on #15133
I got this error as well, this seems to be due to some changes in version 0.19., because the code works in version 0.18.0

[2017-05-04 18:50] cottrell commented on #8048
I haven't read through the new SparseDataFrame api yet but I think the main convenience with the _coo methods was for the to_coo in the case len(row_levels)>1 or len(column_level)>1 where you need to effectively turn an index of tuples into a single index and get at the codes. There are probably better ways to do this by directly accessing the internals (index labels and hashing tricks on arrays).

[2017-05-04 19:07] TomAugspurger commented on #8186
See https://github.com/ResidentMario/missingno

[2017-05-04 19:07] #8186 closed

[2017-05-04 20:22] cgohlke commented on #16049
I get three test failures on win-amd64-py3.6.1 with numpy-1.11.3+mkl. The `test_shim` failure is fixed by #16239
[code]

[2017-05-04 20:24] TomAugspurger commented on #16049
@cgohlke thanks. Is that on 32-bit windows?

[2017-05-04 20:25] cgohlke commented on #16049
It is 64-bit Python 3.6.1 from python.org on Windows 10.

[2017-05-04 20:36] cgohlke commented on #16049
`test_overflow` and `test_sum` pass after uninstalling bottleneck-1.2.0.

[2017-05-04 20:43] TomAugspurger commented on #16049
Thanks, I'm able to reproduce on my windows VM with bottleneck installed (I didn't have it installed earlier). Taking a look at what's going on now.

[2017-05-04 20:45] jreback commented on #16049
we might not have bottleneck installed for windows test builds

just skip them for now

[2017-05-04 21:02] jreback commented on #16049
we are testing on 2.7 w/bottleneck on windows, but not 3.6....will add and skip/fix those.

[2017-05-04 21:14] TomAugspurger commented on #16049
Yep, it is definitely in bottleneck. Are you doing a PR for skipping those, or should I?

[2017-05-04 21:17] jreback commented on #16049
testing now

[2017-05-04 21:17] jreback commented on #16049
https://ci.appveyor.com/project/jreback/pandas/build/1.0.3685/job/y1rv3i97bs1ruet6

[2017-05-04 21:29] #16235 closed

[2017-05-04 21:37] #15895 closed

[2017-05-04 21:41] wmitsuda opened #16241 "read_csv(compression='gzip') fails while reading compressed file with tf.gfile.GFile in Python 2"
#### Code Sample, a copy-pastable example if possible

Sample (1)
[code]

Sample (2)
[code]

#### Problem description

I'm converting some code to run on Google Cloud, and in the process I'm changing the way my datasets are read. I started using tf.gfile.GFile implementation from Tensorflow, as it is portable and can read both local files and files from storage buckets.

Also in the process I'm ch

[2017-05-04 21:43] jreback commented on #16049
xfailed these tests: https://ci.appveyor.com/project/jreback/pandas/build/1.0.3686
merging on pass (I *think* we have an issue about this overflow in any event, here: https://github.com/pandas-dev/pandas/issues/15453)

so when I fix the bottlneck things in 0.21.0 will fix this.

[2017-05-04 21:45] TomAugspurger commented on #16049
@jreback thanks bottleneck issue is here: https://github.com/kwgoodman/bottleneck/issues/163

[2017-05-04 21:48] gfyoung opened #16242 "API: Clean up dtypes/common.py"
When I was developing #16237, I noticed that the API for checking `dtype` is quite messy.  We appear to have duplicate functionality, and the interface is not clear as to what we should accept.

I propose that for all such `dtype` checking functions, we should accept ANY array-like and ANY `dtype` OR `type` object and cast any `list`-like object to `np.array`.

Also, I added several `TODO` in that

[2017-05-04 22:01] TomAugspurger commented on #16241
Can you try with master? I think this may have been fixed by https://github.com/pandas-dev/pandas/pull/16150

[2017-05-04 22:40] 0Hughman0 commented on #16173
Cheers! Yeah I think that's a fair comment!

Thanks for the suggestion, I'll definitely look into this. It has occurred to me that the logic for where each cell goes is in the codebase somewhere. This could be a better solution, as essentially I'm repeating logic (on where to place header rows etc).

I've seen them, but I've not really thought of wrapping every one, but that is a nice idea. Might

[2017-05-04 23:30] jreback commented on #16242
this is likely not desired. These are for unknown array-like *only* (e.g. Index,ndarray,Series), which can simply be introspected with NO computation. IOW anything that needs element-by-element detection is a no-no here.

[2017-05-04 23:30] jreback commented on #16242
can you post the TODO's here.

[2017-05-04 23:32] jreback commented on #16049
@TomAugspurger ok everything lgtm. assuming master finishes and passes. cut when you are ready. (obviously if you see any doc things when you are doing, pls push fixes).

[2017-05-05 00:01] gfyoung commented on #16242
I'm confused, something like:

[code]

[2017-05-05 00:05] gfyoung commented on #16242
I edited the original issue to add them.

[2017-05-05 00:08] jreback commented on #16242
Should Period be an instance of PeriodDtype?
Should Interval be an instance of IntervalDtype?

yes but these would require quite some work
they only exists as Index currently

[2017-05-05 00:09] gfyoung commented on #16242
What do you mean?

[2017-05-05 00:12] jreback commented on #16242
welll see what happens when you store a PeriodIndex as a column

[2017-05-05 02:00] TomAugspurger commented on #16049
@jreback the whatsnew mentions a new `hash_tuples`. Do we want to expose that in `pandas.util` along with `hash_pandas_object`?

[2017-05-05 02:01] dingo9 commented on #16226
[code]

I expect it return columns 'A' in dataframe, but it raise KeyError at
[code]
In such fragment, if it raise ValueError, it will return columns 'A' as I expect.

[2017-05-05 02:05] jreback commented on #16049
that's not public it could be i guess

[2017-05-05 02:06] TomAugspurger commented on #16049
I only ask since it was in a release note item. Though, dask isn't using it, so maybe keep it private for now?

[2017-05-05 02:08] jreback commented on #16049
yeah is meant to be private

OT - date of whatsnew note needs changing

[2017-05-05 02:09] TomAugspurger commented on #16049
Got it in https://github.com/pandas-dev/pandas/pull/16245

[2017-05-05 04:09] acarrillo opened #16246 "Pandas 0.20 wheel on PyPI?"
It looks like there were PyPI wheels for 0.20.0rc1 ([cache](https://webcache.googleusercontent.com/search?q=cache:EvqvAcMG_wYJ:https://pypi.python.org/pypi/pandas/+&cd=1&hl=en&ct=clnk&gl=us)), but 0.20.0 is just a source tarball. Will there be wheels...? My CI pipeline doesn't have the tools to compile pandas itself...

[2017-05-05 06:23] jorisvandenbossche commented on #16246
There will certainly be wheels, but the release was not yet fully ready. I hided it again.

[2017-05-05 06:27] jorisvandenbossche commented on #16246
@TomAugspurger best to hide the release until everything (or most) is up

[2017-05-05 06:28] #16246 closed

[2017-05-05 06:32] mchwalisz commented on #15937
Shouldn't the issue be reopened? What are the next steps?

[2017-05-05 09:05] gbrand-salesforce opened #16248 "pandas.NaT returned when converting series to standard python datetime, but does not support datetime functionality"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Converting pandas datetime to the standard datetime is done for interoperability reasons - for example, when converting a DataFrame into a list of dictionaries to be serialized into mongo.
Having NaT returned in this case breaks the interoperability, since the receiving code handles it as if it is datetime.date

[2017-05-05 09:29] AdrianTeng opened #16249 "BUG: groupby + apply + merge drops index name in edge cases"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Doing `df.groupby('ccy').apply(foo)` should maintain its index name. Indeed, if `df`'s index contains more than 1 unique entry (i.e. `len(set(df.index)) > 1`, this always works.

[code]

However, if `df`'s `index` contains only a unique entry, *and* if the index name contains a `_` character, the output's index

[2017-05-05 10:08] jreback commented on #16211
pls don't open new pr's for the same issue, you simply push to the same PR. ok on this one.

[2017-05-05 10:38] jreback commented on #16249
what is your goal here? this is really odd to do.

any reason not just merging.
[code]

[2017-05-05 10:39] jreback commented on #16248
and what would ``.utcoffset()`` return for a null datetime?

[2017-05-05 10:49] jreback commented on #15937
u can open a new issue
pls pls show a very minimal example

[2017-05-05 11:25] TomAugspurger commented on #16246
Sorry about that; I did, but we also need to unhide the old release I guess. Thanks Joris.

[2017-05-05 11:53] AdrianTeng commented on #16249
Was trying to do some fx conversion on the column `spam`. Obvious `foo` would supply different fx dataframe for every currency, but I've simplified here.

[2017-05-05 12:01] jorisvandenbossche commented on #16232
I think this is for 0.21 ? (we shouldn't do deprecations in a bugfix release)

[2017-05-05 12:08] jreback commented on #16232
yep that was a typo

[2017-05-05 12:28] jreback commented on #16226
pls read the docs: http://pandas.pydata.org/pandas-docs/stable/indexing.html#the-query-method-experimental
[code]

[2017-05-05 12:28] #16226 closed

[2017-05-05 12:48] Bolayniuss opened #16253 "[pandas.tools.plotting._subplots] squeeze option is not respected if `ax` is provided"
`pandas.tools.plotting._subplots` returns a flatten array for the axes if `ax` parameter is provided regardless the value of the parameter `squeeze`. If `ax` is a 2d list, `ax` is not flattened but then the test `len(ax) == naxes` fails. The test should be `ax.size == naxes`.

This issue forbid the use of the `ax` parameter in plotting function like `scatter_matrix` which expect `ax` to be a NxN a

[2017-05-05 13:24] TomAugspurger opened #16255 "API: Add Styler.where"
#### Code Sample, a copy-pastable example if possible

[code]

It would be

[code]

[2017-05-05 14:10] eddy-ojb opened #16257 ".resample documentation too vague"
#### Problem description: ".resample" documentation too vague

url: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html

e.g.:

**rule:** "The offset string or object representing target conversion"

No idea what is meant by that but a more helpful description to amateurs like me seems to be e.g.:
'a frequency or valid rule for re-sampling an inputted time-series o

[2017-05-05 14:25] jreback commented on #16257
certainly would take a pull request to add a link to the main docs - these doc strings are more for reference

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#resampling

[2017-05-05 14:35] jreback commented on #16257
duplicate of #5023

[2017-05-05 14:35] #16257 closed

[2017-05-05 16:54] martindurant commented on #16010
I would probably be better off proposing a PR for discussion, but here are a few thoughts first. From the comments here, there are some various ideas of what a pandas schema is and why we need it. Let me give the case from the point of view of loading a dataframe from parquet files, which is only one possible binary format of interest.

The parquet format has its own idea of types, both at primiti

[2017-05-05 18:13] matthew-brett opened #16260 "Please release wheels with / before source"
I see that y'all have just released 0.20 to Pypi - congratulations!

But ... I see that you've released the source .tar.gz package, and the Windows wheels, but not yet the OSX and Linux wheels.

I wonder whether you would consider collecting the various wheels, and then releasing the source and wheels together, or the wheels before the source?

Otherwise, if you release the source before the wheel

[2017-05-05 18:20] jreback commented on #16260
yes we are going to release things all at once (have updated the release checklist). furthermore, we had an issue, so 0.20.1 is going to be the official (soon).

[2017-05-05 18:20] #16260 closed

[2017-05-05 18:20] TomAugspurger commented on #16260
Sorry, that's my fault. I hiding the release was only on the UI side. I'll update our release process checklist to make it clear that the source and binary should be updated together.

[2017-05-05 18:22] matthew-brett commented on #16260
Ah - yes - I made the same mistake thinking that hiding release prevented pip from seeing it.

[2017-05-05 18:32] jorisvandenbossche commented on #16260
I suppose hiding the release does ensure that people don't download it with `pip install pandas`?

[2017-05-05 18:32] TomAugspurger commented on #16260
Actually, we should verify, with @cgohlke: When building the pandas wheels, do you fetch the release's source code from our Github releases page or PyPI?

[2017-05-05 18:51] jorisvandenbossche commented on #16260
Not apparently. A bit unintuitive ..
I just assumed this was the case, and therefore always already uploaded the source packages (I think in the beginning conda-forge also downloaded the source package from pypi instead of from github)

[2017-05-05 19:05] cgohlke commented on #16260
I usually build Pandas from Github releases.

[2017-05-05 19:29] matthew-brett commented on #16260
@jorisvandenbossche - ah no, hiding the release doesn't make any difference to `pip install pandas` - they still get the latest - 'hiding' only hides the release from the web UI.

[2017-05-05 21:35] kuraga commented on #13032
Ping. Annoying bug, can I help? Though I'm not a pandas expert...

[2017-05-06 00:15] m4g005 opened #16263 "DataFrame.reset_index deletes index, does not all for ints as level arg"
#### Code Sample, a copy-pastable example if possible
[code]
  u'0.20.1'

[code]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.134549</td>
      <td>2.352525</td>
      <td>0.481132</td>
      <td>-1.91

[2017-05-06 05:59] QuLogic opened #16264 "pd.DatetimeIndex.astype(datetime.datetime) no longer working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is some code from a test in matplotlib that used to work with Pandas 0.19.0, c.f. matplotlib/matplotlib#8579. I couldn't find anything in the release notes that indicated this change should have occurred.

I think it may be related to [this change](https://github.com/pandas-dev/pandas/commit/61ca02274b898c

[2017-05-06 08:41] toobaz commented on #16263
This is related to passing the ``level=`` argument when there is a non-Multi``Index``. Before, the argument would be just discarded:

[code]

 but a7a0574a0bcb8a4c65ed7f5006972e24f90ae3df changed the behaviour so that now, vice-versa, even valid level names/indices are not considered.

I can provide a PR, the question is what we want to do with non-existent level names: raise or ignore?

[2017-05-06 08:48] toobaz commented on #16263
Sorry, the question is already answered by the behaviour when there is a ``MultiIndex``:

[code]

[2017-05-06 10:17] jorisvandenbossche commented on #16263
@m4g005 Thanks for the report! And @toobaz for the quick analysis.
This is indeed a regression (although it seems it was more working by accident before)

[2017-05-06 10:45] jorisvandenbossche commented on #16264
Simpler reproducible example:

0.19.2:
[code]

0.20.1:
[code]

Matplotlib can use `pd.DatetimeIndex(['2012-01-01']).to_pydatetime()` to fix there test in the meantime (or just leave out the `astype`, that should work as well I think).

This is clearly a regression between 0.19 and 0.20, although I am not sure it is something we *want* to fix.

[2017-05-06 10:53] jreback commented on #16264
not a regression at all
datetime.datetime is not a valid dtype
this is the correct behavior

[2017-05-06 10:53] #16264 closed

[2017-05-06 11:17] jorisvandenbossche commented on #16264
Ah, I somehow assumed it did convert it to datetime.datetime objects, but it just converted to object dtype with timestamps.
@QuLogic As you can see in the commit you linked to, the whatsnew message was "Bug in ``pandas_dtype`` where passing invalid dtype didn't raise an error." (not the most clear, as it should not mention the internal pandas_dtype) as a bug fix. The bug was that `astype(datetime

[2017-05-06 12:31] jreback commented on #12319
xref #7895

[2017-05-06 12:40] jreback opened #16267 "ENH: resample - upsampling on level"
example from #7895

[code]

This is like #7895 in that we are reindexing on a level (generated via resample). So it equivalent in this case.

This should work.

[2017-05-06 12:42] jreback commented on #15937
@mchwalisz would be helpful to have a complete (but simple) copy-pastable example, IOW generate the data, the repro the error w/o anything external. (you create the file above), but need to have as minimal example (w/o tqdm), and just a simple repro.

[2017-05-06 13:37] schwab commented on #16263
Perhaps it was working by accident before, but the new behavior of completely dropping the index column when reset index is called seems problematic.  Additionally, according to the docs for reset_index "For a standard index, the index name will be used..."  which indicates now it's even out of sync with the documented spec.  It also brings up the important question, ff we do want to keep this beh

[2017-05-06 14:15] schwab commented on #16263
@m4g005 To get this working the same in both version, you can try it without the level name.

`data.reset_index(inplace=True)
data`

|    |         A |         B |         C |         D |
|----+-----------+-----------+-----------+-----------|
|  0 |  1.11556  |  1.21351  | -0.185124 |  0.868765 |
|  1 |  1.63402  |  0.322284 |  0.299842 | -0.174827 |
|  2 | -1.21852  | -0.35271  |  0.773597 |  1.6

[2017-05-06 15:10] toobaz commented on #16263
This is going to be fixed, no doubt.

[2017-05-06 18:44] Kapeli opened #16269 "The downloadable docs haven't been updated to v0.20.1"
The downloadable docs provided at http://pandas.pydata.org/pandas-docs/stable/pandas.zip are still for v0.19.2.

[2017-05-06 20:37] topper-123 commented on #16049
Has 0.20 been released? pandas.pydata.org says 0.19.2 is the current release..

[2017-05-06 20:52] jreback commented on #16049
just refresh and you shall see.

[2017-05-06 20:52] #16049 closed

[2017-05-06 21:14] nickeubank opened #16270 "ENH: option to check merge is one-to-one, many-to-one, one-to-many, or many-to-many"
In my experience, there are few places in data work where problems with data are more evident than when merging datasets -- something that is both a problem (if you think you're doing a one-to-one merge and one of the keys isn't unique in one dataset, you can introduce huge problems) and an opportunity (checking that a merge works as expected is a great way to catch problems).

With that in mind,

[2017-05-06 21:46] jorisvandenbossche commented on #16263
Indeed, @schwab, as I confirmed above, this is a regression, it is supposed to work, and @toobaz already made a PR to fix it.

[2017-05-06 21:50] #16263 closed

[2017-05-06 22:21] jreback commented on #16270
see also #15068

[2017-05-06 22:22] jreback commented on #16270
I like the stat syntax, so maybe for readability accept both. Also call this ``check=`` I think.

[2017-05-06 22:23] nickeubank commented on #16270
Sounds good. Will pull together a PR and ping for input.

[2017-05-06 22:37] jorisvandenbossche commented on #16269
@Kapeli Thanks for noticing! This should be fixed now.

[2017-05-06 22:37] #16269 closed

[2017-05-06 22:38] JosephWagner commented on #16209
Hmm, so I'm attempting to submit a PR. I've added a new test that mirrors the example from above, but when I insert start/stop into line 829, I get the following test failure. I've spent some time digging around to see why this isn't working, but I can't quite figure out why. It looks like this exception is raised [here](https://github.com/pandas-dev/pandas/blob/master/pandas/io/pytables.py#L4653)

[2017-05-06 22:41] jreback commented on #16209
you have to step thru. This is an evaluation tree which can go pretty deep. However I think that all you need to do is make the change I suggested above.

[2017-05-06 22:43] jreback commented on #16249
it would be helpful if you can step thru and pinpoint where it disappears.

[2017-05-06 22:44] jreback commented on #16249
I'll mark this as a bug. But what you are doing is completely non-performant, simply use merge.

[2017-05-06 22:46] jreback commented on #16234
no, these are not equivalent in reality. yes in *theory* they should be but I doubt that there is actual equivalence between these different timezone databases. nor do we actually care. you can either use one or the other. anything else would be way too complicated.

if you want to offer a doc note somewhere I guess that would be ok.

[2017-05-06 22:46] #16234 closed

[2017-05-06 22:47] jreback commented on #12976
actually going to close this. NaT mimics almost all methods/attributes of datetimes ATM. Though many of them raise (on purpose). So a user has to be aware of missing values when not using pandas.

[2017-05-06 22:47] #12976 closed

[2017-05-06 22:49] jreback commented on #16248
not sure what you mean here.

``NaT`` functions perfectly well as a missing value representation for datetimelikes. Exporting to a non-missing value aware system and using datetimes requires care when operating (and of course would be completely non-performant).

[2017-05-06 22:49] #16248 closed

[2017-05-06 22:57] jreback commented on #16228
The issue here is specifying ``left_index`` AND ``left_on`` or ``right_index`` AND ``right_on`` is invalid. Both of these expression should raise a ``MergeError``.

IIRC we fixed this for ``merge_asof``, @chrisaycock ?

[2017-05-06 23:01] jreback commented on #16214
cc @toobaz

[2017-05-07 00:39] nickeubank commented on #16270
Thoughts on whether it should check that keys AREN'T unique for the many tests?

i.e. if someone runs `merge(left, right, on='a', validate="many_to_one")` and it turns out that `a` is unique in `left`, should that throw an exception? I don't think Stata does, and my inclination is to say no, but open to input

[2017-05-07 02:59] jnothman commented on #13203
Now that we have `Styler.to_excel`, I think the option of a similar `Styler.to_latex` export would be appropriate.

[2017-05-07 03:02] jnothman commented on #13203
Though note that Styler explicitly sets a style per cell. We won't be producing idiomatic TeX that way, in the sense that we won't control the formatting (justification etc) of entire columns, nor arbitrary macros to reformat a class of cells.

[2017-05-07 04:31] QuLogic commented on #16264
Ah, I did not write the test and didn't realize it was not doing what was expected there.

[2017-05-07 07:05] has2k1 opened #16276 "Imprecise intervals/labels by pd.cut"
#### Code Sample
[code]
#### Output
[code]
#### Problem description

The correct cutting behaviour but the labels are awkward (given the input), they leak the internal adjustments used to do the cutting.  The expected output has precise intervals/labels. This is a regression from the previous version `0.19.2`.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED

[2017-05-07 12:23] has2k1 commented on #16276
I have seen PR #15309, looked at the code for `pd.cut` and `IntervalIndex`, it is quiet thorny and it looks like the change in API for `pd.cut` is a by product of the difficult implementation. I have also discovered this:

[code]

So, the *expected input* posted above does not indicate an unknown issue. Also, the meaning of the `right` parameter has changed from this:

[code]

to this:

[code]

So

[2017-05-07 13:20] jreback commented on #16276
In the prior implementation it was allowed to have mixed intervals, IOW, ones that didn't conform in a uniform way. This is not allowed directly from ``.cut``, though you could construct it manually I suppose. It is completely non-performant.

[code]

This is not a regression but eliminates a non-tested / non-documented case, which IMHO is pretty useless.

It is theoretically possible to support i

[2017-05-07 13:29] jreback commented on #16276
If you really really needed to replicate this, you can do this.

[code]

This is supported as much as scalar labels are, meaning you can directly index them, but this is NOT an IntervalIndex.

[2017-05-07 14:02] jreback opened #16277 "BUG: Index.insert should coerce to the appropriate type"
xref to #14535 (PR to fix, but stale)

[code]

Expected
[code]

[2017-05-07 14:02] jreback commented on #16277
cc @gfyoung @toobaz if you have interest

[2017-05-07 14:33] chrisaycock commented on #16228
@jreback Oddly, this does *not* appear to be fixed in `merge_asof()`:

[code]

I thought I had checked for that. I will have to add a guard.

[2017-05-07 14:43] jreback commented on #16228
thanks @chrisaycock I think we should do a more general check *before* in any event, as this clearly is an error (for all merge functions). and of course the 'detection' logic (of the parameters) is quite complex atm.

[2017-05-07 15:32] p-himik commented on #15937
I've encountered a similar problem, only when using `where` similar to `'index in 200_items_list'` and not `chunksize`. As far as I can see, when `where` is not a list of row indices and its condition consists of more than 31 items (see `computation.pytables.BinOp._max_selectors`), the whole data is read into memory.

I have no idea where this limitation of 31 items comes from, but I think that it

[2017-05-07 16:07] jreback commented on #15937
the 31 limit is because of ``numexpr``. You wouldn't normally hit this if you follow: http://pandas.pydata.org/pandas-docs/stable/io.html#advanced-queries

[2017-05-07 16:26] p-himik commented on #15937
Ah, thanks for pointing me to the `select_as_coordinates` method! I couldn't find a way to extract only the index, but it does what I need.

I just tried to use it and found that if a user needs to extract rows from some window (set of indices that don't span over the whole data, just over some part of it), no matter continuous or not, using `store.select(path, ['index >= window.min()', 'index <=

[2017-05-07 17:12] gfyoung commented on #16277
How functional is the patch by @sinhrks ?

[2017-05-07 17:14] jreback commented on #16277
yes it's prob almost there

[2017-05-07 17:17] jreback commented on #15937
yes selecting a contiguous slice, then doing an in memory subselectiok is way more performant. in combination with chunking this handles most out of core cases (though does need some intelligence because you can end up selecting a huge range)

[2017-05-07 17:39] cfrancois7 opened #16278 "how to load 0.19 MultiIndex into 0.20?"
I created some index in the 0.19 pandas I would reuse in the 0.20 without to recreate them from raw data in the pandas 0.20. I imported the relative numpy array but the index cannot be imported.
How I can import them in the new pandas version?

[code]

[2017-05-07 17:43] jreback commented on #16278
you would have to show what versions you are using in both

what is in the pickle?

[2017-05-07 17:43] jreback commented on #16278
you need to use pd.read_pickle

[2017-05-07 17:43] #16278 closed

[2017-05-08 02:35] wmitsuda commented on #16241
Tested with master, it is still failing with the same error message.

pandas: 0.21.0.dev+8.gd50f981d7

[2017-05-08 04:47] has2k1 commented on #16276
Here is a minimal usecase

[code]
![pdcut-facetwrap-pandas-0 20 0](https://cloud.githubusercontent.com/assets/780341/25790542/1b2bcdfa-337f-11e7-91b6-50f422d1dd83.png)

The labels to the panels are not precise, so you would have to reexamine the data limits to be certain of what data is at the edges. Second, integers that can be otherwise cut along integer lines have floating-point artefacts. Thes

[2017-05-08 05:23] shoyer commented on #16276
Yes, I think this summarizes things correctly.

I agree that exposing a floating point lower bound is non-ideal. This was the simplest thing to do for `IntervalIndex`, but we should have discussed it more before making this change in the 0.20 release.

I think IntervalIndex could indeed be adjusted to accommodate an external interval that is closed on both sides -- and this might be the nicest sol

[2017-05-08 09:46] SimonBaron opened #16279 "Documentation for Styling has broken links"
I hope this is the right way to report this! It is an issue with the documentation rather than the code

#### Problem description

[http://pandas.pydata.org/pandas-docs/stable/style.html#Styling](http://pandas.pydata.org/pandas-docs/stable/style.html#Styling)

This is the first section, and contains a link to:
[http://nbviewer.jupyter.org/github/pandas-dev/pandas/blob/master/doc/source/html-stylin

[2017-05-08 09:54] jorisvandenbossche commented on #16279
@SimonBaron Thanks, this is certainly the correct way to report such issues!

For the first issue, the incorrect link: the file name of the notebook has changed, and we didn't update the link apparently. Want to do a PR to correct this?

Second issue (seaborn not found) is because we apparenlty built the docs in an environment where seaborn was not installed. We will have to fix this and upload th

[2017-05-08 10:28] SimonBaron commented on #16279
@jorisvandenbossche I think I've made a PR - I'm a bit of a GH noob, so thanks for your patience.

https://github.com/pandas-dev/pandas/pull/16280

[2017-05-08 10:57] jorisvandenbossche commented on #16279
Link is fixed, keeping this open for the seaborn issue

[2017-05-08 11:24] mchwalisz commented on #15937
Here is short example of the bug I'm encountering:

[code]

Traceback:

[code]

<details>
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.0-77-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_EN.utf8
LOCALE: None.None

pandas: 0.19.2
nose: None
pip: 9.0.1
setuptools: 27.2.0
Cytho

[2017-05-08 11:54] jreback commented on #15937
so you have 10B rows?

[2017-05-08 12:24] mchwalisz commented on #15937
In this example yes. I expect it will be dependent on the amount of RAM.

In this case it will fail if number of rows * 8bytes per row (`np.arange`) is greater than systems RAM.

[2017-05-08 13:14] WBare opened #16282 "df.interpolate limit_direction= does not work without limit=x setting"
the interpolate limit_direction setting should work even without a limit=x setting.

When interpolate is called without a limit=x setting, it always (apparently) uses the limit_direction setting default of 'forward' even when it is explicitly set to 'backward' or 'both'

The code below will show 3 DataFrames.

- The first shows the initial before interpolation.
- The second shows the interpolation

[2017-05-08 13:34] maxnoe opened #16283 "df.eval does not see globals"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
This raises a
[code]

According to the documentation of `pd.eval` which is used by `pd.DataFrame.eval`,
globals should be available:

A dictionary of local variables, taken from locals() by default.
global_dict : dict or None, optional
A dictionary of global variables, taken from globals() by default.

The same

[2017-05-08 13:42] gbrand-salesforce commented on #16248
it would return None, just like it does when calling tzinfo() on it...

I did not suggest such a thing, just have another NaT type, which supports the datetime interface, in addition to the current one, which supports the TimeStamp interface, and when performing to_pydatetime() return the datetime NaT instead of the TimeStamp NaT...

I don't see why it would impact performance or require specializ

[2017-05-08 13:49] TomAugspurger commented on #16241
At a glance, it looks like `gfile.GFile` doesn't follow python's IO interface for seek:

[code]

`.seek` is supposed to take an optional `whence` offset. https://docs.python.org/3/library/io.html#io.IOBase.seek
Can you take a look at what's going on in tensorflow?

[2017-05-08 13:53] chris-b1 commented on #16283
Variables outside the df context should be prefixed with `@` - see docs [here](http://pandas.pydata.org/pandas-docs/stable/enhancingperf.html#local-variables) - although it'd be good to add an example to the docstring too.

[code]

[2017-05-08 13:56] WBare opened #16284 "Enhancement Request: control extrapolation on .interpolate"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
It would be very nice to have a limit_direction='inside' that would make interpolate only fill values that are surrounded (both in front and behind) with valid values.

This would allow an interpolate to only fill missing values in a series and **not extend** the series beyond its original limits.  The key here

[2017-05-08 14:05] TomAugspurger commented on #16282
Thanks for the report, want to take a look at where it's going wrong? Maybe somewhere around https://github.com/pandas-dev/pandas/blob/9e57d915744623bef31170629bd1996eda3352cf/pandas/core/internals.py#L908

[2017-05-08 14:15] TomAugspurger commented on #16284
So, this kind of already works when you use the `scipy` methods, since that's the default for scipy when you extraploate

[code]

This is an implementation detail that the user shouldn't need to worry about... But I'm not sure that we can make this consistent across methods in a backwards-compatible way.

[2017-05-08 14:30] azag0 opened #16285 "performance of Series label-indexing with a list of labels"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I would expect the Series performance to be comparable, if not faster than the Python comprehension.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 64
OS: Darwin
OS-release: 16.6.0
machine: x86_64
processor: i386
byteorder:

[2017-05-08 14:59] chris-b1 commented on #16285
Yeah, this is slow.  Note that it is much faster if the keys are wrapped in an array.
[code]
Bottleneck seems to be in [`clean_index_list`](https://github.com/pandas-dev/pandas/blob/9e57d915744623bef31170629bd1996eda3352cf/pandas/_libs/lib.pyx#L948)

[2017-05-08 15:13] TomAugspurger commented on #16279
Thanks, rebuilding them now.

[2017-05-08 16:05] shoyer commented on #12341
Some thoughts on this issue:

1. Why does `parallel_sets` need to be separate function from `parallel_coordinates`? It seems like this is what you would always want when categorical values are given as a column. `parallel_coordinates` needs to support different axes/tick-labels for this, but this is functionality that would be a major improvement for the original visualization.
2. Why is `class_co

[2017-05-08 16:39] michalsustr opened #16286 "line number is misleading in parsing long invalid CSV"
#### Code Sample

Actual
[code]
#### Problem description

When parsing long files, the parser error says the `line` number, but in fact it is not line, but the index position of the parsed row. This message is true, if a row record doesn't contain newline characters, but becomes false in multiline row record case.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTA

[2017-05-08 17:19] WBare commented on #16284
Thank you very much, @TomAugspurger !  I did not know that, and that solves the problem for me, but I agree completely that it would be nice to somehow make this more visible to the user.

I don't know, but I'm guessing method='slinear' will not have an option to respect the limit= on number of NaNs to fill in, otherwise the code could just intercept something like limit_direction='inside' and sav

[2017-05-08 17:29] chris-b1 commented on #16286
Could you make some dummy data to make a runnable example?

[2017-05-08 18:45] azag0 commented on #16285
Ah, I see, good catch, could have tried that.

This makes it comparably faster to the comprehension. Shouldn't it be significantly faster though? I assume the comprehension is interpreted, whereas the Series lookup is one call to the C extension. Or does it boil down to efficiencies of Pandas's and C Python's hash tables?

[2017-05-08 18:52] stoneyv commented on #9532
In addition to pypy/rpython there is an implementation of a subset of pandas and a subset of numpy for the Stanford weld runtime named "Grizzly" https://github.com/weld-project/weld#grizzly

[2017-05-08 19:06] FragLegs opened #16288 "ImportError with pandas 0.20.0 and 0.20.1"
#### Code Sample, a copy-pastable example if possible

With versions 0.20.0 and 0.20.1, I get the following error:
[code]
[code]
This does not occur with 0.19.2

Here are the other packages installed in my virtualenv
[code]

#### Problem description

It would be nice if pandas was pip installable. As it stands, the new versions are not (for me).

#### Expected Output

No error when importing panda

[2017-05-08 19:10] TomAugspurger commented on #16288
@jorisvandenbossche did you see something like this earlier?

[2017-05-08 19:25] Moondra opened #16289 "AttributeError: 'PandasExprVisitor' object has no attribute 'visit_Ellipsis'"
When trying to run this code, I'm getting the above error.
I worked with Max U from StackOverflow in a private chat and he concluded it was a bug.

Here is the stackoverflow  link:
http://stackoverflow.com/questions/43838557/custom-boolean-filtering-in-pandas

Here is my gitub which contains the data if you want to reproduce the error:

https://github.com/Moondra/Logistic-Regression-

The data can

[2017-05-08 19:36] TomAugspurger commented on #16289
Can you make a reproducible example? `df` isn't defined.

[2017-05-08 19:40] maxu777 commented on #16289
Here is a way to reproduce this issue:

download [pickled DF]([](https://github.com/Moondra/Logistic-Regression-/blob/master/Small_cap_bio_DF))

[code]

the following works when a DF splitted into four parts:

[code]

if we split into two parts:

[code]
it produces:

`AttributeError: 'PandasExprVisitor' object has no attribute 'visit_Ellipsis'
`

[2017-05-08 19:49] teh commented on #14468
@brmc - I was going to start on mypy types. Would you mind sharing what you have? I can start from scratch but that seems a bit silly if you already spent time on it :)

[2017-05-08 20:17] cfrancois7 opened #16290 "pd.DataFrame.update very long in 0.20 compare to 0.19.2"
Same dataFrame, left: empty dataframe, right: full of zero (6000 x 6000 each) with a 3 level multiindex:

[code]
#### Problem description
The update function in pandas 0.20 is much more longer with the same data and same routine.

#### Output of ``pd.show_versions()``

<details>
# 0.20
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 64
OS: Darwin
OS-release: 1

[2017-05-08 20:32] teh commented on #14468
Thanks! Type checking not exactly fast, even with `--incremental` (30 seconds per run on my machine) :sweat:

Do you have a preference for inline types over pyi stub files?

[2017-05-08 20:36] TomAugspurger commented on #14468
I think part of the slowness is from mypy following imports? The commit I just pushed disabled that in `setup.cfg`. Doing the whole codebase will still take a while though.

Inline.

[2017-05-08 20:46] chris-b1 commented on #16289
Simple repo:

In [93]: s = pd.Series(['1 == 1', '2 == 1'] * 1000)

In [94]: pd.eval(s.head())
Out[94]: array([True, False, True, False, True], dtype=object)

In [95]: pd.eval(s)
AttributeError: 'PandasExprVisitor' object has no attribute 'visit_Ellipsis'
[code]

[2017-05-08 20:51] neilfrndes commented on #14553
@TomAugspurger Could we add the upsert option for supported db engines and throw an error for unsupported db engines ?

[2017-05-08 20:55] jreback commented on #9532
pandas2 will encompass much of this workflow
e.g. lazy evaluation, high perf with multi cores and out of core evaluation

coming soon

[2017-05-08 20:57] mruffalo opened #16291 "Regression in 0.20: IO functions can't handle pathlib.Path objects anymore"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In 0.19, Pandas' IO functions accepted PathLike objects as per PEP 519. This is broken in 0.20.1.

#### Expected Output

*nothing, code should run without errors or output*

#### Actual Output

[code]

#### Output of ``pd.show_versions()``

<details>

/home/mruffalo/.opt/python3.6-venv/lib/python3.6/site-packag

[2017-05-08 21:10] teh commented on #14468
I'm already running into some interesting problems. E.g.

https://github.com/python/mypy/issues/1996

means that we'd have to add a `values = None`  to the class body of `IndexOpsMixin` which is a semantic change. The mixin style also doesn't play nicely with `is_unique` in the same class. There we have:

[code]

but we don't know yet at this point that `self` is a `typing.Sized`. We could make `I

[2017-05-08 21:14] TomAugspurger commented on #14468
For those types of problems, I'm defining an ABCMixins, like `ABCIndexOpsMixin`

I think you might be right. Do you want to spend a little time exploring this?

[2017-05-08 21:19] maxu777 commented on #16289
@chris-b1,

it's a good reproducible example, thank you!

the limit seems to be 100 rows:

this works:

`pd.eval(s.head(100))`

the following produces mentioned above error:

`pd.eval(s.head(101))`

[2017-05-08 21:25] jorisvandenbossche commented on #16288
Not exactly this error, but possibly related. For me the error with clipboard was something with ``from PyQt4 import QtCore``.
For some reason, I had an empty PyQt4 package in site-packages next to PyQt5, and for some reason this started to give problems. Matplotlib also had this problem, so I am not sure it was pandas-related.

[2017-05-08 21:27] jorisvandenbossche commented on #16288
@FragLegs Is this in a clean (newly made) env? Or if not, can you see if you can reproduce it then as well?

[2017-05-08 21:29] chris-b1 commented on #16285
The bulk of the time in this operation is actually in placing the new values, not the hash table lookups.  Below I skip the hash table in both cases
[code]
You are are right that these are C operations that avoid python overhead, but they are also basic python ops on optimized data structures, so not as much pickup as you might guess.

[2017-05-08 21:35] chris-b1 commented on #16291
Thanks for the report - does still seem to work with some io functions (tried `read_csv`).

[2017-05-08 22:10] jorisvandenbossche commented on #16285
This is indeed the case:

[code]

@chris-b1 do you understand the purpose of `_ensure_index` / `clean_index_list` in this case? (or @jreback ?)
I mean, why is it for each item in the list checking whether it is a list?
This notion seems introduced in https://github.com/pandas-dev/pandas/commit/27e34a4daab82e51312714794db78d2b860327f8 (by then still in python), but this is for setting as axis, not

[2017-05-08 22:18] jreback commented on #14468
so would focus solely on the user focused API

[2017-05-08 23:21] jreback commented on #16290
pls show a specific example.

[2017-05-08 23:54] michaelaye commented on #16291
`to_csv` is broken as well, though.

[2017-05-09 01:07] jreback commented on #16288
yeah this tries to import the clipboard things at import time, not usage time. You can mitigate atm by installing xclip.

[2017-05-09 01:14] FragLegs commented on #16288
@jorisvandenbossche This was in a clean env (which starts with pip and wheel, I think, but that's it). I'll try preinstalling xclip and let you know if that helps.

[2017-05-09 02:09] #16288 closed

[2017-05-09 02:16] jreback commented on #16285
so you can look at #16295, but this is actually quite subtle. you cannot simply ``np.asarray`` things, otherwise numpy converts things oddly in *some* cases. this is why ``np.array`` works above, its exactly what we do when we *can* convert it cleanly (e.g. a list of integers).

[2017-05-09 02:19] TomAugspurger commented on #16289
We don't want to support passing pandas objects to `eval` right? It takes a string, not a Series.

[2017-05-09 04:05] anntzer commented on #16288
Note that always importing PyQt4.QtCore will also lead to a RuntimeError when PyQt5 is already imported.  See e.g. https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/backends/qt_compat.py#L37 where matplotlib first checks whether one of them has already been imported in which case it is used.

[2017-05-09 05:00] JosephWagner commented on #16209
Ahh, I think I figured it out. I also needed to pass self.start/stop to this function call here:  https://github.com/pandas-dev/pandas/blob/master/pandas/io/pytables.py#L1423

I'll submit a PR soon!

[2017-05-09 06:44] retsyo opened #16297 "sort_values bug while by both list and other values"
first, I know the strings in column `b` can be used directly for sorting. My function `aFucntion` seems to be so stupid, because it is just a simplified one to present the problem. In my real situation, it actually produces a list of some English Characters, which then be used to sort words in my native language in a customed way.

Then, I know LIST is not hashable

[code]
<pre>
df3 = df.sort_valu

[2017-05-09 07:43] agora123 opened #16298 "_csv.Error: need to escape, but no escapechar set"
#### Problem description
I have comma delimited data I need to output into .csv file.

My data looks like this:
16.0,0.118,15.0,0.5675,0.337,"LTE,eHRPD"

#### Expected Output

I need this: "LTE,eHRPD" to be output exactly as it is written here, with double quotes and a comma.

I am using QUOTE_NONE, so that I don't get the double quotes around the quoted fields and I get this error:  _csv.Error: n

[2017-05-09 07:44] jorisvandenbossche commented on #16288
@FragLegs Out of curiosity, can you check whether you have a PyQt4 directory in the site-packages of the env?

[2017-05-09 09:13] jorisvandenbossche commented on #16298
@agora123 Can you provide a reproducible (runnable) example that shows the error.

I tried with the following, and don't get such error:

[code]

So not exactly what you want (but I don't think this is possible), but also not an error.

[2017-05-09 10:10] #16285 closed

[2017-05-09 10:37] jreback commented on #15251
if anyone wants to do this :>

[2017-05-09 10:48] chris-b1 opened #16299 "ENH: Support pathlib.Path and LocalPath objects in all io functions"
xref #16292

Currently xfailing tests for (all should work)
 - [ ] SAS
 - [ ] msgpack
 - [x] stata
 - [ ] HDFStore (#14705)

[2017-05-09 11:11] jorisvandenbossche commented on #16299
Some issues that could probably folded into this one (or are in the meantime fixed by your PR):

- https://github.com/pandas-dev/pandas/issues/14705 (HDFStore)
- https://github.com/pandas-dev/pandas/issues/14932 (pickle)

[2017-05-09 12:29] TomAugspurger commented on #16297
You can see [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L3262) that `sort_values` treats the case where `length(by)` is greater than one differently than when it's equal to one. When you pass a list of columns to sort by, it has to go through our factorization routines, which requires hashable values.

[2017-05-09 12:29] #16297 closed

[2017-05-09 14:08] toobaz opened #16300 "Wrong error message in HDFStore.append when appending dataframe with None item in previously string-only column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The error message is confusing (in particular when you ignore the fact that your data contains ``None``) - it doesn't even provide the right column name.

#### Expected Output

Something analogous to

[code]

Notice that the error is even different if you try with ``chunk = pd.DataFrame({'V1':[7, 4.5], 'data':

[2017-05-09 14:09] toobaz commented on #16300
This is similar to #12242 , but the cause seems different.

[2017-05-09 14:12] cfrancois7 commented on #16290
Where I can share you my index and my sparse matrix? (around 50 Mo)

[2017-05-09 14:35] jreback commented on #16300
this is a fixed store, there is no concept of column names.

[2017-05-09 14:37] jreback commented on #16290
pls show df.info() and df.head(), or code to create (best). for both original and updated.

[2017-05-09 14:47] toobaz commented on #16300
What I mean is just that "``the column [V1]``" (see my last example) is informative, while "``in [values_block_1] column``" is not (regardless of what is in the store).

[2017-05-09 14:58] FrenchyRaoul opened #16302 "to_numeric segmentation fault with empty object series"
#### Code Sample

[code]

Further tracing seems to indicate the problem is likely here:

[code]
#### Problem description

Running to_numeric with an empty object series causes a segmentation fault on version 0.20.1. This did not occur in version 0.19.0.

#### Expected Output

An empty numeric series, or a ValueError.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------

[2017-05-09 15:14] TomAugspurger commented on #16302
Thanks, confirmed it as well.

[2017-05-09 15:17] jorisvandenbossche commented on #16302
cc @gfyoung

[2017-05-09 15:29] Midnighter opened #16304 "Index order of joined frame does not respect the order of left frame when right contains duplicates"
#### Code Sample

[code]

[code]
#### Problem description

The index order after joining a frame with duplicate index values seems arbitrary or (lexicographically) sorted rather than preserving the order of the left frame.

#### Expected Output

When joining two frames the left frame should dictate the order of the resulting data frame. This was seemingly fixed by #15582, however, with the above e

[2017-05-09 15:32] gfyoung commented on #16302
@FrenchyRaoul : Thanks for tracing this back.  Bug traces to the fact that we had assumed `len(values) != 0`...oops :smile:

[2017-05-09 15:49] FrenchyRaoul commented on #16302
My pleasure!

[2017-05-09 16:06] WBare commented on #16282
I've got a fix for this and the associated enhancement for limit_direction='inside' GH16284.

The issue was inside missing.py interpolate_1d

I have tested myself, and I'm running the test suite now, but since I'm not familiar with the code base, someone really should carefully review the code.  It is actually fairly simple, but I don't know if there are other dependencies.

[2017-05-09 16:44] dsm054 opened #16306 "some warnings not being silenced"
Some comparison operations seem to escape the silencing of numpy RuntimeWarnings.  For example:

[code]

all give

[code]

This is working with some timeseries data after some rolling operations, and so there are going to be lots of NaNs floating around.  It'd be nice if I didn't need to suppress them myself.

#### Output of ``pd.show_versions()``
<details>
[code]
</details>

[2017-05-09 16:57] agora123 commented on #16298
Hello jorisvandenbossche, thank you very much for your reply.

I have a df DataFrame fetching data from the database, the format of which I can't control.
The data has some fields with double quotes and a comma in the field: "LTE,eHRPD"
 I need to output the data to csv exactly in that format, where I have a double quotes and a comma in that field:  "LTE,eHRPD"

Here is a mock up code that I put t

[2017-05-09 18:09] WBare commented on #16284
This needs to run through the existing interpolate function so that it will respect the limit=n parameter correctly.

[2017-05-09 18:23] AbhinavanT opened #16308 "Apply method bug with NaT type and dictionaries"
#### Code Sample
I've come across a peculiar case, it has two conditions:
1. The dataframe contains NaT values (I've tried NoneType and that seems to work just fine)
2. The applied function returns a dict

[code]
#### Problem description

This is flawed since the output should be a series where each element is a dictionary, instead this outputs a dataframe of NaNs.

#### Expected Output
[code]

##

[2017-05-09 18:57] chris-b1 commented on #16306
likely a symptom of #13145, we do some `np.errstate` wrapping on ops but apparently this case isn't

[2017-05-09 19:13] TomAugspurger commented on #16308
Nothing to do with `NaT`, as this same thing happens after you fill the values

[code]

NaT and None might have behaved differently, if using `None` forced an `object` dtype.

This is more about the output shape inference that `apply` does. You'll be *much* better off avoid `.apply(..., axis=1)` and just doing things directly:

[code]

[2017-05-09 19:47] bmcfee opened #16309 "DataFrame.loc[n] = dict(..) fails with some type combinations"
#### Code Sample, a copy-pastable example if possible

This one fails:
[code]

But this one succeeds:
[code]
This one also succeeds:
[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

The current behavior is a problem because it is inconsistent, and depends on the type of data provided.  Mixing `timed

[2017-05-09 19:55] #16302 closed

[2017-05-09 20:03] wesm commented on #16010
If no one beats me to it, I can take a crack at a PR for this (into the pandas documentation) this week and we can discuss there?

[2017-05-09 20:12] FragLegs commented on #16288
@jorisvandenbossche Shoot, I totally forgot that I had added a symlink to `/usr/lib/python2.7/dist-packages/PyQt4` in my `postmkvirtualenv` script (as well as a symlink to `/usr/lib/python2.7/dist-packages/sip.so`). So yes, there is a PyQt4 directory in site-packages of the env I was testing in. Sorry about that bit of confusion.

fwiw - installing xclip does not solve the import problem for me.

[2017-05-09 20:20] Dr-Irv opened #16310 "Documentation on Performance considerations"
#### Problem description

We could use a section in the docs about performance considerations.  @TomAugspurger has a nice notebook with suggestions here:  http://nbviewer.jupyter.org/github/TomAugspurger/pandas-head-to-tail/blob/master/06-Performance.ipynb

An item to add relates to using `.assign()`, where, if you have a big DataFrame, it is more inefficient in time and memory to use `.assign()`

[2017-05-09 21:11] jorisvandenbossche commented on #16306
@dsm054 always welcome to look into it, if you are interested. `pandas/core/ops.py` is already sprinkled with `with np.errstate(all='ignore'):` 's, but apparently not for this case (I think it is https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L1253).
But not fully sure how it was decided which op calls where wrapped and which not.

[2017-05-09 21:16] jorisvandenbossche commented on #16298
Ah, sorry, I assumed it was about `read_csv` (didn't read that well).

So I think it is not possible to obtain what you want with pandas `to_csv`.
The problem is that your data contains a `,`, which also is the delimiter. That is normally not a problem, as the string gets quoted. But, you specify that you *don't* want to add quotes (with QUOTE_NONE). You do this because the data itself already has

[2017-05-09 21:59] stangirala commented on #12341
1. From what I can read about Parallel Coordinates, it assumes each sample is a point in some n-d space and not necessarily from a category and in my PR it made sense to have two different functions. But support for different axes/tick-labels might be a better idea/simpler.
2. The class_column is used given the general use-case for parallel_coordinates is visualization of multivariate data.
3. Ind

[2017-05-09 22:07] shoyer opened #16311 "Test against development version of bottleneck prior to 1.21"
See https://github.com/kwgoodman/bottleneck/issues/168#issuecomment-300290794

Anyone up for taking this on?

[2017-05-09 22:34] fastwalker2k4 commented on #16097
I'm working on a commit and I've noticed quite a few more of these; all options for which negative values would be meaningless. Since I'm just starting to contribute I don't know if it's bad form to improve validation for these without being asked, but in order to help out I'll do these too. I could always provide a more limited commit if needed.

Some options (which would also be changed) current

[2017-05-09 23:13] jreback commented on #16097
why don't you put up a prototype of what you are thinking. once one is good, can do the rest.

[2017-05-09 23:54] fastwalker2k4 commented on #16097
Just happened to PR it before I read your comment, apologies. I'll adjust as needed, let me know what you think.

[2017-05-10 01:06] has2k1 commented on #16098
Same problem (the stack traces match)

[code]

[2017-05-10 01:14] flystarhe opened #16314 "DataFrame.nlargest result error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

DataFrame的nlargest在遇到rank相同的情况时，结果错误。如下，第二行和第四行反复出现了。

#### Expected Output
[code]
#### Output of ``pd.show_versions()``
[code]

[2017-05-10 01:34] wesm commented on #16010
Let's review in https://github.com/pandas-dev/pandas/pull/16315

[2017-05-10 02:18] zfrenchee opened #16316 "Confusing (possibly buggy) IntervalIndex behavior"
<img width="939" alt="screen shot 2017-05-09 at 10 03 25 pm" src="https://cloud.githubusercontent.com/assets/2761597/25880143/a872d5e8-3503-11e7-90f0-2244a52845d4.png">

In the above, I have a region that I'm querying for with a partially overlapping interval. The query succeeds when the interval is partially overlapping until it doesn't, throwing the key error:

[code]

I think this is particular

[2017-05-10 11:04] jreback commented on #8178
dupe of #16310

[2017-05-10 11:04] #8178 closed

[2017-05-10 11:04] jreback commented on #16310
see also #3871 and #8178

[2017-05-10 11:47] jreback commented on #16316
can't u change the post to show code that constructs a minimal example
pictures are not very useful

[2017-05-10 12:59] davidswaven opened #16319 "PERF: regression in MultiIndex get_loc performance"
[code]
#### Problem description
Running this same code takes 116 ms in version 0.20.1
however it takes 3.6 ms in version 0.19.2.
This makes version 0.20.1  more than 30 times slower than 0.19.2 for this method.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.13.final.0
python-bits: 64
OS: Darwin
OS-release: 15.6.0
machine: x86_64
pro

[2017-05-10 13:12] jreback commented on #16319
you are welcome to have a look and report where exactly its spending its time.

[2017-05-10 13:14] jreback commented on #16314
what exactly is the problem? show the full ``pd.show_versions()`` as well.

[2017-05-10 13:15] jreback commented on #16314
This is exactly what should be reported.
[code]

[2017-05-10 14:27] TomAugspurger commented on #16308
This falls under https://github.com/pandas-dev/pandas/issues/15628

[2017-05-10 14:27] #16308 closed

[2017-05-10 15:43] jorisvandenbossche commented on #15251
Repeating my comment of above: is this necessary?
If there is actually almost no code clean-up that we can benefit from, but it is only about testing, I don't think it is *that* hard to keep one build on circle ci with the lowest supported versions

[2017-05-10 15:56] jorisvandenbossche commented on #16319
I think this signals a regression in a more basic functionality, namely getitem with multi-level columns:

0.20.1:

[code]

0.19.2:
[code]

[2017-05-10 16:12] jorisvandenbossche commented on #16319
To be more precise, the MultiIndex `get_loc` decreased considerably in performance (which will have impact in many different functionality I think, in the `combine_first` case I think this is main reason of the slowdown, in 0.20.1 95% of the time is spent by `get_loc`):

0.20.1:
[code]

0.19.2:
[code]

[2017-05-10 16:23] gfyoung commented on #15251
Perhaps...but mind you that we are pretty vigilant about making all builds pass, so not having to worry about making Python 3.4 builds work helps :smile:

[2017-05-10 16:52] zfrenchee commented on #16316
@jreback

[code]

[2017-05-10 17:04] STguerin opened #16321 "wierd behavior using apply() creating list based on current columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[I am confuse why this is not working properly, if I initiate the 'combined' columns first to 0 first, it works. I understand that this is a sub-optimal approach but I am just wondering why is this breaking up]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
---

[2017-05-10 18:29] TomAugspurger commented on #16321
See https://github.com/pandas-dev/pandas/issues/15628 and issues linking to / from that.

The short-version is `DataFrame.apply` tries to infer an output based on the result. The result of your output is inferred to be a DataFrame with the same columns.

You're probably better off with something like

[code]

[2017-05-10 18:29] #16321 closed

[2017-05-10 19:28] dibgerge opened #16322 "PyQt5 and pandas"
I just updated my conda installation to Pandas 0.20.1, and it does not load anymore since it depends on PyQt4 which was updated to PyQt5.

To make Pandas 0.20.1 load with PyQt5,  I have to modify a function within the ``pandas.io.clipboard.clipboards`` module as follows:

#### Modified function within ``pandas.io.clipboard.clipboards``

[code]
#### Problem description

The current behavior require

[2017-05-10 19:41] agora123 commented on #16298
Hello jorisvandenbossche, thank you for your reply.

I know I need to set quoting=csv.QUOTE_NONE, and I wish to set escapechar to an empty string (so that I don't have to remove it later), which it will not allow me.  Is there a chance the code could be changed to allow me to set escapechar to an empty string?

Also, could you please provide if you can an efficient method for removing an extra cha

[2017-05-10 21:45] jorisvandenbossche commented on #16322
@dibgerge Thanks for the report. This has (as far as we know) not actually to do with pandas, but we did already fix it by not importing the clipboard (and thus PyQt) functionality on import time (but only when you actually use the `read/to_clipboard` functionality. See https://github.com/pandas-dev/pandas/pull/16294 and https://github.com/pandas-dev/pandas/issues/16288

The reason (at least in my

[2017-05-10 23:04] dpsugasa opened #16323 "df.stack() behaving differently between 0.19.2 and 0.20.1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Since switching to 0.20.1, when using `df.stack(0)`, the output looks like this:
[code]
The columns change order and the tickers no longer correspond to the correct prices.

` Expected Output

0.19.2 maintains the correct hierarchy.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
----------

[2017-05-10 23:13] brifordwylie commented on #8918
The PyData Chicago 2016 talk given by @TomAugspurger was really well done. He did a fantastic job of illustrating all the reasons why this issue/request should not be closed. IMHO either his class DummyEncoder or some reasonable equivalent should be included in Pandas proper. Yes I can go to his github and copy/emulate his class but it would be much nicer to just have it supported within the libra

[2017-05-10 23:34] dsm054 commented on #16323
Simpler case:

[code]

passes under 0.19.2 for me and fails under 0.20.1.

[2017-05-11 01:14] dsm054 commented on #16323
In 0.19.2, with the above dataframe, we have
[code]
In 0.20.1, we have

[code]

or, to use the new syntax,

[code]

That is, in 0.20.1, the sort actually affects the frame, and `frame.columns` and `this.columns` differ in `_stack_multi_columns`.  As a result, I think this line:

[code]
is no longer justified, because the level order can have changed.  I _think_ that just using `new_levels.append(l

[2017-05-11 01:15] sinhrks commented on #16323
Thanks for the report. It looks like a regression. PR is appreciated.

[2017-05-11 01:20] sinhrks commented on #16323
Thanks for the report. It looks like a regression. I think @dsm054 's fix looks good.

[2017-05-11 01:25] sinhrks commented on #16309
Thanks for the report. Yeah it looks like #13829. I once prepared a draft fix, and hopefully work on it again.

[2017-05-11 03:27] dibgerge commented on #16322
@jorisvandenbossche Thank you for your clarification. Yes, that is what I have also. It looks like Conda deleted my PyQt4 module content but left the directory when it installed PyQt5.

[2017-05-11 08:42] jorisvandenbossche commented on #16322
Thanks for the confirmation, seems we had the same problem. Although I really don't know how conda can end up there. (tried in in a clean env to first install pyqt 4 and then update, but can't reproduce)

[2017-05-11 10:35] kalefranz commented on #16322
@jorisvandenbossche @dibgerge I know it won't be exact, but could you give me a rough idea of the conda version you were using?  Or just `conda info`.

[2017-05-11 11:18] natashawatkins opened #16327 "Plotting time series returns ImportError: cannot import name 'checked_add_with_arr'"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-91-153c4ce04750> in <module>()
      4 #data.loc[ind,"Quantity"].loc[:,"Total"].plot()
      5 #data.loc[ind,"Quantity"].dropna(how = "all").plot('variable')
----> 6 data['Price'].plot()

/Users/user/anaconda/lib/python3.5/site-packa

[2017-05-11 11:25] #16323 closed

[2017-05-11 11:39] jreback commented on #15854
closed by #16258

[2017-05-11 11:39] #15854 closed

[2017-05-11 11:41] jreback commented on #16290
this is almost certainly related to the fixes in #16234 , but would need an example to see.

[2017-05-11 11:53] TomAugspurger commented on #8918
I think there's a need for a library that goes early in the data-modeling
pipeline and works well with pandas and scikit-learn.
But pandas doesn't depend on scikit-learn and vice-versa. I think there's
room for another library built on top of both.

On Wed, May 10, 2017 at 6:13 PM, Brian Wylie <notifications@github.com>
wrote:

[2017-05-11 11:53] TomAugspurger commented on #16327
Can you post a copy-pastable example? Your code isn't runnable since `data` isn't defined.

[2017-05-11 11:54] TomAugspurger commented on #16327
Also post your version info.

[2017-05-11 12:05] natashawatkins commented on #16327
@TomAugspurger I just upgraded to pandas v0.2 - Python 3.5.3 |Anaconda custom (x86_64)

Here's an example..

[code]
throws this error...

[code]

[2017-05-11 12:06] jorisvandenbossche commented on #16322
Closing this, as further discussion can go on https://github.com/conda/conda/issues/5290 (and in 0.20.2 will already be a fix to not do the PyQt4 check on main pandas import)

[2017-05-11 12:06] #16322 closed

[2017-05-11 12:08] TomAugspurger commented on #16327
Something seems off with your installation, as https://github.com/pandas-dev/pandas/blob/master/pandas/core/algorithms.py should be there.

Can you try `conda uninstall -f pandas` and then `conda install pandas`?

[2017-05-11 12:18] natashawatkins commented on #16327
Yep that fixed my issue! Strange... thanks :)

[2017-05-11 12:18] #16327 closed

[2017-05-11 12:48] artturib opened #16328 "Bins are unexpected for qcut when the edges are duplicated"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The first bin contains both 0 and 1. Since I'm looking to put 20% in each bin I would expect to have the first bin to contain only 0's (for 30% of the data) rather than 0's and 1's (for 50% of the data).

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
#
INSTALLED VERSIONS
---------------

[2017-05-11 12:56] jreback commented on #16328
You are effectively doing this.
[code]

you have to have 1 bin that has 2 values. ``drop`` does exactly what it sounds like, it uses the unique values.

So this looks like the right answer. If you don't want this, I would specify the bins yourself.

[2017-05-11 12:56] jreback commented on #16328
@TomAugspurger

[2017-05-11 13:44] gBopHuk opened #16329 "make html docs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Trying to build html docs

#### Expected Output
???
#### Output of ``pd.show_versions()``
Trying to build 0.20.1

[2017-05-11 14:17] TomAugspurger commented on #16329
Fixed in https://github.com/pandas-dev/pandas/pull/16330

You can work around it for now by installing nbconvert.

[2017-05-11 15:48] brifordwylie commented on #8918
@TomAugspurger ah, good point, I hadn't considered the dependency issue, okay I'll retract my suggestion to put it into Pandas proper.

[2017-05-11 16:07] #3486 closed

[2017-05-11 16:55] TomAugspurger commented on #16304
cc @albertvillanova if you're interested in taking a look.

[2017-05-11 17:22] Heerpa opened #16331 "multiindexed DataFrame excel export and import doesn't yield original"
I am using a multiindexed dataframe and save and load it to and from .xlsx files. This is part of my unit testing procedure, and after upgrading to pandas 0.20.1, the multiindex is not recovered any more.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

the re-loaded dataframe has "unknown#" labels at level0 and Nan at higher levels in index as well as colum

[2017-05-11 17:54] chris-b1 commented on #16331
Currently, with a `MultiIndex`, the header and index columns must be specified when reading back in, as below.  This isn't new behavior in `0.20.1` (at least compared to `0.19.2`).

xref #11292

[code]

[2017-05-11 17:54] #16331 closed

[2017-05-11 18:27] wmitsuda commented on #16241
@TomAugspurger could you please comment on the related issue on Tensorflow? They are asking questions about pandas which I have no means to comment on.

[2017-05-11 18:54] TomAugspurger commented on #16241
Sure, before I do though can you run this code and post your trackeback?

[code]

I get

[code]

which is different than the original issue (i'm a bit ahead of 0.20.1 on my python 2 environment).

[2017-05-11 18:57] townie opened #16332 "Broken Url for Setuptools"
#### Broken Url for Setuptools in docs

[code]
#### Problem description
Currently in http://pandas-docs.github.io/pandas-docs-travis/install.html#recommended-dependencies the link to Setuptools in the dependencies section redirects to
http://pythonhosted.org/setuptools. This link is out of date, use correct url of https://setuptools.readthedocs.io/en/latest/

[2017-05-11 19:24] #16332 closed

[2017-05-11 19:34] wmitsuda commented on #16241
With pandas 0.19.2 + Tensorflow 1.0.0, I got this:
[code]

With pandas 0.19.2 + Tensorflow 1.1.0 (which was just released), I got a similar trace:

[code]

[2017-05-11 19:35] TomAugspurger commented on #16241
Ok, that's the difference, I was using tensorflow 1.1.0

[2017-05-11 22:55] #14478 closed

[2017-05-11 22:58] dsm054 commented on #16286
IIUC the OP is objecting that

[code]

and
[code]

both give the same error message, and as the OP says "line" isn't really "line".  hich makes it hard to locate the offending error in an editor.  Is that right, @michalsustr?

[2017-05-11 23:00] #16179 closed

[2017-05-11 23:14] #16319 closed

[2017-05-11 23:24] jreback commented on #16316
well docs are here: http://pandas.pydata.org/pandas-docs/stable/advanced.html#intervalindex

Well we treat indexing *with* an ``Interval`` as an exact match, if its there exactly it matches, otherwise you get a ``KeyError``. Its a a point it can be contained in an interval. Some of this is probably buggy because we didn't have any real examples

what would be helpful is using this example:

[code]

[2017-05-11 23:25] jreback commented on #16316
further I still don't understand what you need from ``find_intersection`` a complete example would be helpful. IOW, you have 2 frames as input (show the code) and what you think the output should be.

[2017-05-11 23:39] zfrenchee commented on #16316
@jreback

Sorry, let me include the output from those `.loc`s and explain why I think they're buggy to be clearer.
[code]
Intuitively, I want to say that 'a' is from 1 to 5, closed interval. All good here.
[code]
"Do I have any intervals from 1 to 5?" Yes.
[code]
Do I have any intervals from -10 to 10? Yes. Oh, okay, so it's not exact matches. Okay.
[code]
Do I have any intervals from 3 to 5? Yes.

[2017-05-12 00:10] jreback commented on #16316
was looking for more discussion of whether an Interval needs to be an exact match, or matches if other intervals are fully contained

what happens if it partially overlaps?

[2017-05-12 00:19] zfrenchee commented on #16316
@jreback  I think I might see the footprint of the bug. New dataframe: (same as before, just from 10 to 15)

[code]

[2017-05-12 00:21] zfrenchee commented on #16316
So:

|   |   |   |
|---|---|---|
| x.loc[pd.Interval(9,14)]  # fails. | x.loc[pd.Interval(10,14)]  # fails.  | x.loc[pd.Interval(11,14)]  # fails.  |
| x.loc[pd.Interval(9,15)]  # works. | x.loc[pd.Interval(10,15)]  # true interval.  | x.loc[pd.Interval(11,15)]  # works.  |
| x.loc[pd.Interval(9,16)]  # works. | x.loc[pd.Interval(10,16)]  # works.  | x.loc[pd.Interval(11,16)]  # works.  |

[2017-05-12 01:40] wesm opened #16334 "DatetimeIndex formatting spills outside 80 characters"
[code]

[2017-05-12 02:58] wmitsuda commented on #16241
Closing as it was a tensorflow bug: tensorflow/tensorflow#9806

[2017-05-12 02:58] #16241 closed

[2017-05-12 04:01] lesley2958 commented on #16314
Yeah, so it appears that it doesn't handle dtypes that are "objects".
[code]

[2017-05-12 05:58] princelai opened #16335 "Timedelta error:one month NOT exactly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
only month has problem.
day and week works  #fine.
pandas version 0.19 yield right result ,but 0.20+ goes wrong

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Windows
OS-relea

[2017-05-12 06:11] mattip opened #16336 "COMPAT: __Pyx_PyNumber_IntOrLong raises ValueError on PyPy"
the function [``__Pyx_PyNumber_IntOrLong``](https://github.com/cython/cython/blob/master/Cython/Utility/TypeConversion.c#L268) from cython raises an exception when the conversion fails. On CPython, this will always be a ``TypeError`` from line 314, but on other implementations i.e. PyPy the call to ``PyNumber_Int`` on line 298 raises a ``ValueError`` upon failure.

Pandas catches only a ``TypeErro

[2017-05-12 06:24] flystarhe commented on #16314
@jreback @lesley2958
no, gourp by key list exist duplicates:

[code]

output:
[code]

[2017-05-12 08:08] allen-q opened #16337 "Query re Deprecation of groupby.agg() with a dictionary when renaming"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I just learnt using a dictionary for renaming in agg is going to be deprecated in the latest version. My question is what's the alternative to achieve the above, i.e. using multiple lambda functions within agg?
#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>
# Paste the output her

[2017-05-12 08:19] jorisvandenbossche commented on #16335
Can you show the output that you think is correct for pandas 0.19 ?

I get a consistent (but maybe wrong, that could be discussed) output for the latest releases:

[code]

[code]

[code]

That said, I think we should actually disallow the `M` unit, as this does not make sense. `Timedelta` is made for fixed intervals (with a fixed length), not for relative / variable length periods (which a 'month'

[2017-05-12 08:35] jorisvandenbossche commented on #16314
What might be a reason for confusion here (depending on the version @flystarhe  is using) is that there is a difference between 0.19.2 and 0.20

[code]

[code]

That said, the output of 0.19.2 also seems wrong (even if object columns would be allowed).

[2017-05-12 08:46] jorisvandenbossche commented on #16314
Given that the following methods that rely on order work for object dtype:

[code]

you could also say nlargest should work for object dtype.

[2017-05-12 08:53] jorisvandenbossche commented on #16337
See the what's new docs for some pointers as alternatives using renaming afterwards: http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#deprecate-groupby-agg-with-a-dictionary-when-renaming (although it will be a bit more convoluted)

Another option is have 'named' functions instead of lambda's:

[code]

[2017-05-12 09:18] flystarhe commented on #16314
@jorisvandenbossche thx

[2017-05-12 09:19] flystarhe commented on #16314
@jorisvandenbossche But it doesn't solve the problem. Because nlargest has different efficiencies and computational idea

[2017-05-12 09:56] jreback commented on #16314
This already raised for Series in 0.19.2, but not for DataFrame. This was unified to disallow object columns generally and take on the Series behavior (and of course fix the actual duplicated issues)
xref #15299
[code]

[2017-05-12 09:59] jreback commented on #16314
@flystarhe your question is not clear

These might be what you want
[code]

[2017-05-12 10:00] pierre-haessig opened #16338 "unhelpful error message when header is a list of names in read_csv"
This is a minor issue about error reporting to the mindless user (me...) who confuses the `header` and the `name` argument of `read_csv`. Basically, when calling `read_csv` with `header=['a', 'b']` (whereas it should be `names=['a', 'b']`), the error message is crytic:

(pandas 0.20.1, see details below)

Two issues:
* **unhelpful**, quite cryptic message, doesn't point in the good direction. E.g.

[2017-05-12 10:05] jreback commented on #16337
Another way, which I personally would do (this will also be more performant)

[code]

[2017-05-12 10:05] #16337 closed

[2017-05-12 10:08] jreback commented on #16338
yeah this could be improved, always helpful to have unambiguous error messages. pull-requests welcome!

[2017-05-12 10:10] jreback commented on #16335
xref to #12691

this was for numpy compat. I agree, let's deprecate passing 'M', 'Y' on construction (see also the xref #12691 where they are passed as strings).

[2017-05-12 10:11] jreback commented on #16336
can you show an example of where this happens?

[2017-05-12 10:14] jreback commented on #16334
the issue I think is [25] doesn't take into the lenght of the dtype when wrapping (I don't think we do this anywhere).

should actually be a straightforward fix as this is pretty general code.

[2017-05-12 10:19] jreback commented on #16316
@zfrenchee I have enough examples, what I want to know is *why* you think this should work at all.

[code]

IOW, take cases and comment on if they should work
- ``df.loc[pd.Interval(10,15, closed='both')]``
- ``df.loc[pd.Interval(10, 15, closed='right')]``
- ``df.loc[pd.Interval(11, 14)]``
- ``df.loc[pd.Interval(11, 16)]``
- ``df.loc[12]``
- ``df.loc[9]``
- ``df.loc[9, 12]``

[2017-05-12 10:49] mattip commented on #16336
here is a minimal test case that raises in indexes/base.py, ``Index.__contains__()``, line 1592 or so, note ``__contains__`` only catches ``TypeError``
[code]

[here](https://github.com/mattip/pandas/commit/5638ddb28d9817e34247b07a5fb2e48132ffa37c) is the complete changeset to fix this in pandas. I filed an [issue with cython](https://github.com/cython/cython/issues/1703) as well, not sure where t

[2017-05-12 11:45] #16212 closed

[2017-05-12 11:46] jreback commented on #16336
this is fine as a PR here to get this working. But I agree the underlying is the problem.

[2017-05-12 13:08] artturib commented on #16328
@jreback
I agree with you that the function does what is advertised i.e. drops duplicated bins. I think this has a surprising result in the my example.

I think there is a slight difference between our examples. In my example I'd like the bins to be 20% and qcut makes the bin that would be 30% with only 0's 50% with {0,1} since all 0's don't completely fit in 20%.
In your example you would like th

[2017-05-12 13:30] #14932 closed

[2017-05-12 13:30] #16291 closed

[2017-05-12 13:59] TomAugspurger opened #16342 "read_stata ignores `index` parameter"
#### Code Sample, a copy-pastable example if possible

[code]

It should be like `read_stata('foo.stata').set_index('index')`

Side-note, I think elsewhere we use `index_col` instead of `index`.

#### Output of ``pd.show_versions()``

master

[2017-05-12 15:32] #16329 closed

[2017-05-12 15:52] zhangyingmath opened #16343 "pandas to_hdf increases file size when saving twice to the same path ('write' mode, with string columns)"
#### Code Sample, a copy-pastable example if possible

df = pd.DataFrame(np.random.randn(10000, 4), columns=list('ABCD'))

df.to_hdf('no.string.save.once.h5', 'w')

df.to_hdf('no.string.save.twice.h5', 'w')
df.to_hdf('no.string.save.twice.h5', 'w')

# add string columns
df2 = df.copy()
df2['E'] = 'this_is_a_string'
df2['F'] = 'this is another string'

df2.to_hdf('with.string.save.once.h5', 'w')

d

[2017-05-12 15:58] jorisvandenbossche commented on #16314
It was not meant to solve your problem (which you should try to explain better). I was just giving a *possible* reason to allow nlargest on object columns. But since we also raise for series, I don't think we are going to change this.

[2017-05-12 16:20] jorisvandenbossche opened #16344 "DEPR: Timedelta with passed unit M, Y"
[code]

The above does not make much sense, so lets deprecate this (similar for `to_timedelta`).

For the case where those unit abbreviations are used in a string, `Y` already raises, while `M` is actually interpreted as minutes:

[code]

xref https://github.com/pandas-dev/pandas/issues/16335, https://github.com/pandas-dev/pandas/issues/12691 and https://github.com/pandas-dev/pandas/issues/14024

[2017-05-12 16:24] jorisvandenbossche commented on #12691
Since we will fully deprecate/remove 'Y' and 'M' (for month) as allowed units, renamed this issue for the remaining issue with 'W' (this can be allowed).

[2017-05-12 16:25] jorisvandenbossche commented on #14024
Closing this in favor of https://github.com/pandas-dev/pandas/issues/16344

[2017-05-12 16:25] #14024 closed

[2017-05-12 16:28] jorisvandenbossche commented on #16344
One question is whether we should also deprecate 'W' for week (see https://github.com/pandas-dev/pandas/issues/14024#issuecomment-240680919).

Given that this can be easily represented as 7 days, it would be easier/clearer to just have 'D' as the highest allowed unit.
On the other hand, 'W' currently gives a sensible output (as opposed to M/Y), so less reason to remove this behaviour:

[code]

[2017-05-12 16:31] jorisvandenbossche commented on #16335
@jreback opened an new issue for the deprecation (the top post is then cleaner)

@princelai Closing this issue, as I don't see a difference between 0.19.2 and 0.20.1. But if you actually see it, please post the full output of code and result in both versions.

[2017-05-12 16:31] #16335 closed

[2017-05-12 16:37] jorisvandenbossche commented on #15251
Are there many example were this was actually a concern? (if you already have to ensure it passes on both python 2 and 3, I don't think there are many things you can do wrong for python 3.4)

python 3.4 is perfectly supported by conda, through anaconda (just not by conda-forge, but this is only part of conda users).

It would be nice to have some Anaconda download statistics on versions to have a

[2017-05-12 16:40] gfyoung commented on #15251
@jorisvandenbossche: True, but I can turn that argument around and say then why not just test on the later versions of Python?  (Works on those, should probably not break on Python 3.4)

[2017-05-12 16:47] TomAugspurger commented on #15251
[From PyPI](https://bigquery.cloud.google.com/results/api-project-942257831073:bquijob_6022217d_15bfd8cea7e)
[code]

So 3.4 is a bit more popular thatn 3.6 AMT across all versions of pandas. I might be able to get the anaconda.org download numbers.

[2017-05-12 17:27] zfrenchee commented on #16316
I think there are two behaviors for `loc` which I think would make sense: exact match, or any overlap.

So reasonable behavior one is:

[code]

As a non-pandas expert, I *believe* this is most in keeping with what loc currently does on other index types, but I think this also obliterates the reason for having intervals, since you've essentially reduced the interval down to a token which you're sel

[2017-05-12 17:40] jorisvandenbossche commented on #15251
If we can rely on those pypi download stats (and probably a lot of CI included in there as well), there is actually a quite impressive increase over the last months (daily download counts):

![pandas-daily-downloads](https://cloud.githubusercontent.com/assets/1020496/26009797/9dd8367a-374a-11e7-9fe3-af39eda75d77.png)

[2017-05-12 18:31] TomAugspurger commented on #16316
The closest analogy here is probably partial string indexing into Datetimes. We accept `.loc['2017']` rather than `.loc[pd.Timestamp(2017, ...)]`. Stretching the analogy a bit further then, `.loc` should be "exact" when passed `Intervals`, and "non-exact" when passed the elements making up the Intervals (ints, strs, whatever). So these both return the same (which is what happens currently)

[code]

[2017-05-12 18:47] shoyer commented on #16316
This sounds good to me!

I think the original intent was to match fully contained intervals only, but clearly that logic is not working right. In any case it's certainly better (simpler / more explicit) to switch to requiring specific methods for this functionality. It seems like we need may need at least three methods for handling `IntervalIndex`/`IntervalIndex` matches, e.g., `IntervalIndex.cove

[2017-05-12 19:31] joshuastorck opened #16345 "result from groupby / nlargest with data frame with one row does not include the groupby key in the resulting index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.final.0
python-bits: 64
OS: Linux
machine: x86_64
processor:
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.19.2
nose: None
pip: 9.0.1

[2017-05-12 19:34] jreback commented on #16345
this is a filtering method, like head, so this is expected.

[code]

[2017-05-12 19:35] jreback commented on #16345
though it *should* have the group-and column though.

[2017-05-12 19:38] jreback commented on #16345
actually, this appears to work.

[code]

[2017-05-12 20:27] chris-b1 commented on #16343
There is something a little strange going on here (actually the first case might be the bug), but you are not passing `mode='w'`, the second positional parameter to `to_hdf` is the key that the object will be stored under.

If you use `mode='w'` this does work (i.e. file size doesn't increase).
[code]

[2017-05-12 21:44] scarabdesign opened #16347 "Interpolate does nothing..."
#### My code

[code]
#### My output
[code]
I'm not sure what I'm doing wrong here. Perhaps I don't have a dependency installed that I need. Any ideas would be helpful.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.0-71-generic
machine: x86_64
processor: x86_64
byteorder: little
LC

[2017-05-12 22:14] MaximilianR commented on #16347
[code]

or

[code]

Generally you'll find it easier to do `s=s.func`, rather than using `inplace`

[2017-05-12 22:21] TomAugspurger commented on #16347
[code]

So your inplace `interpolate` wasn't operating on your variable called `s`. Like @MaximilianR said, you're better off avoiding inplace.

[2017-05-12 22:21] #16347 closed

[2017-05-12 23:08] jreback commented on #16343
read the big red warning here:

http://pandas.pydata.org/pandas-docs/stable/io.html#delete-from-a-table

you are using ``w`` as the key to save the frame as @chris-b1 notes. Then writing it again (default is 'a' for append). Causes the original key to be deleted and a new one written. since hdf5 does not reclaim space the file size will increase.

you can specify ``mode='w'`` to rewrite the file i

[2017-05-12 23:08] #16343 closed

[2017-05-13 14:40] zfrenchee commented on #16316
@TomAugspurger

I think your ideas represent a good compromise. A couple concerns though:

- The current behavior is definitely wrong with respect to what you suggest it should be, so this isn't quite right. Do you agree?

- I'm not sure whether we need both `covers` and `covered_by` given that they seem to be perfect opposites? `a.covers(b) == b.covered_by(a)` right? In which case you can just fl

[2017-05-13 15:13] TomAugspurger commented on #16316
I could have been wrong about the current behavior. I didn't test that much.

For the second point, we might want both methods as a convenience for if you have a list of Intervals, rather than an IntervalIndex. I think your right that they are perfect opposites (and we could implement it that way)

[2017-05-13 16:45] shoyer commented on #16316
This depends on how we represent the results of `covers`. If we represent it as a list of tuples (equivalently a MultiIndex with two levels) giving indices of "all matches" of intervals, we can return all matching intervals in a symmetric way, e.g.,
[code]
In this model, `len(a.covers(b)) == len([ai.covers(bi) for ai in a for bi in a]) <= len(a) * len(b)`.

I think the full "all matches" methods c

[2017-05-13 17:25] JoshuaC3 opened #16349 "Using .assign() with MultiIndexed Columns"
Is it possible to use the `.assign()` function/method to replace or create a column (with multiple levels) in a MultiIndexed column?

It is possible to create a column with a single level (level=0) but not with multiple levels.

For more details I have raised this [question](http://stackoverflow.com/questions/43918488/how-use-the-pandas-assign-method-chain-on-a-multiindex-column?noredirect=1#comme

[2017-05-13 18:14] zfrenchee commented on #16316
@shoyer I have a hard time seeing the utility of `covers` function in your first example -- when would someone not want the data at those indices (i.e. the overlapping data). I think users will almost invariable "dereference" those indices right away, which seems like it might be a little tricky given the return format. I can't think of a use case, but if you can, I'm open to this idea.

I'm also

[2017-05-13 19:28] shoyer commented on #16316
This needs to be an `IntervalIndex` method, so it doesn't have access to the data. That said, I agree that returning a pair of integer arrays giving indices is a better return format than a list of tuples (which is why I suggested it above for `covers_matches()` and `covers_by_matches()`).

[2017-05-13 19:51] shoyer commented on #16316
I'm also not sure if this would actually be useful to anyone -- I was merely restating  @TomAugspurger's proposal. If we can't think of a real use-case, then we certainly shouldn't bother.

It sounds like we want two methods `covers` and `overlaps`, for both `Interval` and `IntervalIndex`. We could potentially update `IntervalIndex.contains` as well, but frankly I'm not sure why that method even e

[2017-05-13 21:06] jreback commented on #16316
@shoyer

IIRC you suggested this actually. And the are *not* duplicates of each other. ``.contains()`` allows integers, which ``__contains__`` is an exact method (meant to implent ``pd.Interval(...) in interval_index``

``.contains()`` is called in ``.loc`` indexing, so it pretty convenient.

[2017-05-13 22:01] jreback opened #16350 "DOC: dev docs authentication failing"
https://travis-ci.org/pandas-dev/pandas/jobs/231962583

I regenerated the token but still not allowing the push

[2017-05-14 03:04] atheis4 commented on #16118
Ran into this error message today. Wasn't trying to create a categorical index. If any users come across this error when not trying to use a categorical index, try reseting your index with drop=True before saving to hdf.

My index became a tuple somewhere in an aggregation and concat process which is why it was throwing the error.

[2017-05-14 10:43] jorisvandenbossche commented on #16290
And confirmed this with a simple example:

[code]

[code]

[code]

(when more than 10000 columns, there is still a considerable slowdown because then the hashtable engine is used)

[2017-05-14 10:43] #16290 closed

[2017-05-14 10:50] jorisvandenbossche commented on #16298
@gfyoung An opinion on whether we could allow an empty escapechar?

(short summary of the case: you have a field that includes a comma, but also has already quotes *in* the value of that fields. Therefore you set `quoting=QUOTE_NONE` to prevent adding extra quotes, but then pandas wants to escape the comma. Which is logical, as pandas does not know there are already quotes in the data and so the f

[2017-05-14 10:51] jorisvandenbossche commented on #16304
Using the example from the whatsnew docs:

[code]

[2017-05-14 13:36] mjlove12 commented on #16338
@jreback I submitted a pull-request for this that raises an error very similar to the one @pierre-haessig suggests, but it looks like the Travis CI Build failed. Not entirely sure how to proceed. It's my first PR so apologies in advance if the process is a little painful.

[2017-05-14 16:32] gfyoung commented on #16298
@jorisvandenbossche : Haven't looked too much into this one yet.  Will do so soon. :smile:

[2017-05-14 17:02] zfrenchee commented on #16316
@shoyer sorry I might have lost track -- could you re-disambiguate what `covers` and `overlaps` each do in the proposed function signatures you posted above? `overlaps` is "all overlaps" and `covers` is "any overlaps"?

[2017-05-14 19:15] pwaller opened #16352 "0.20.0 documentation styling and javascript assets are broken"
I followed the [WhatsNew](http://pandas.pydata.org/pandas-docs/version/0.20.0/whatsnew.html) link for version 0.20.0 from the [Releases](https://github.com/pandas-dev/pandas/releases/tag/v0.20.0) page, and faced a page with no style (expand details below to see screenshot).

<details>

![image](https://cloud.githubusercontent.com/assets/438648/26036976/fd3f61d0-38d8-11e7-81db-cb72f6f87a92.png)

</

[2017-05-14 19:37] orientchen commented on #16316
mute the thread
<https://github.com/notifications/unsubscribe-auth/ALessRLrhtennxptr_To2wqj5G8_wkWZks5r5cDYgaJpZM4NWGbI>

On Sat, May 13, 2017 at 8:40 AM, Alexander Lenail <notifications@github.com>
wrote:

[2017-05-14 19:44] gfyoung commented on #16298
@jorisvandenbossche : It wouldn't be too difficult to allow, but I think the philosophy has generally been that we want to make round-trip possible (we should get the original `DataFrame` if we read it after sending it to a `str` with `to_csv`), and making corner cases like this possible is just asking for trouble in the long-run.

I'm -1 on allowing this because the specifications are conflicting

[2017-05-14 19:59] gsmafra opened #16353 "DataFrame apply results in a DataFrame when lambda returns a list of length equal to the number of DataFrame features"
Hello guys, I'm using the apply method with axis=1 argument and returning a list for each row. The weird thing is when the length of this list is equal to the number of features in the original dataframe, this apply returns another dataframe, and a series if anything else. I don't know if this is intended, but it was very unexpected.

[code]

[2017-05-14 21:31] jorisvandenbossche commented on #16352
The reason for that is because we used the wrong links in that announcement. It should be http://pandas.pydata.org/pandas-docs/version/0.20/whatsnew.html instead of http://pandas.pydata.org/pandas-docs/version/0.20.0/whatsnew.html, and that link should work fine normally.

The reason we didn't update it is because then the sha256 hash of the zip archives of the release also change, although probab

[2017-05-14 21:31] #16352 closed

[2017-05-14 23:18] allen-q commented on #16337
Thanks @jorisvandenbossche  and @jreback for your answers. It seems there is no short alternative way to do this in one line. It's sad to see such a handy feature to get removed.

[2017-05-15 00:48] shoyer commented on #16316
An interval covers another interval if all points in the second interval are found in the first interval.

An interval overlaps another interval if there exist any points found in both intervals.

[2017-05-15 02:03] amcpherson commented on #9738
Its been about 2 years since I first posted this and I am still using pandas everywhere in my projects, and still this issue is by far the biggest creator of bugs.  In my projects I use ints exclusively for ordinal data for which categoricals don't make sense (nucleotide position in the genome), indices into other arrays, and foreign keys for other tables.  In these cases I would always prefer an

[2017-05-15 06:18] jnothman opened #16354 "Handling of `end` in DatetimeIndex"
The documentation of `DatetimeIndex`'s `end` parameter says:
[code]

I interpret this to mean that either:
1. the last date in the index will be on or past the given end date, or that
2. the last period will include the given end date.

The first interpretation is clearly not true.

[code]

But it seems like the second is not certainly true either:

[code]

I am not sure if the behaviour with this

[2017-05-15 08:13] jorisvandenbossche commented on #16354
Some related issues: https://github.com/pandas-dev/pandas/issues/15886, https://github.com/pandas-dev/pandas/issues/12355

Regarding the explanation of `end` kwarg, I think the docs are clearly wrong. The docstring of `date_range` is more correct, it says: "Right bound for generating dates".

Apart from that, your question on how to easily create a DatetimeIndex that certainly includes the end dat

[2017-05-15 08:35] jorisvandenbossche commented on #16298
@gfyoung Thanks! Sounds like a good assessment, agree with that. So will close this:

@agora123 What you could also do is strip the `"` from your values, and then writing the csv should then give exactly what you want:

[code]

[2017-05-15 08:35] #16298 closed

[2017-05-15 09:58] #15886 closed

[2017-05-15 10:01] jreback commented on #16354
related to #6673 as well.

[2017-05-15 10:10] jreback commented on #16353
see https://github.com/pandas-dev/pandas/issues/15628 and linked issues.

``.apply`` infers the output type based on the input shape. Returning an arbitrary shape breaks this guarantee and the results have to be coerced to the existing structure.

[2017-05-15 10:10] #16353 closed

[2017-05-15 10:12] jreback commented on #16349
you can simply directly index

``df[('a', 1)] = ...``

``.assign`` cannot support this syntax as its a function call, where a tuple is not a valid identifier.

I suppose you could update the doc-string of ``.assign`` to mention that not-valid-identifier's are not valid.

[2017-05-15 10:12] #16349 closed

[2017-05-15 10:14] jreback commented on #9738
@amcpherson we have have 1800+ issues. Howe shall they prioritize?

you are certainly welcome to submit something if you'd like.

In any event the basic issue, of supporting NaN across all dtypes will be supported in pandas2; but not likely till next year.

[2017-05-15 10:18] pwaller commented on #5502
I just went looking for a normalize function, expecting `df.div(df.sum())` (as in @hayd's comment). The problem I have is that `df` is a chained pipe expression, so I went with (for a series) `s.pipe(lambda s: s.div(df.sum()))`. I did also try `df.div(lambda df: df.sum())`, but I don't know if that's in the right spirit or not.

[2017-05-15 10:26] jnothman commented on #16354
re jreback's comment, i don't think closed affects any of these

On 15 May 2017 8:01 pm, "Jeff Reback" <notifications@github.com> wrote:

[2017-05-15 11:36] jorisvandenbossche commented on #16354
I agree, `closed` should say something about whether the exact `end` date should be included or not, and is not about whether last interval should go up to or beyond the end date (further #6673 is specific to business day I think).

[2017-05-15 11:38] jreback commented on #16354
see #15886 which was closed as a catchall in #6673

[2017-05-15 12:13] pwaller opened #16356 "Confusing exception message when re-sampling index containing NaT"
#### Example

[code]
#### Problem description

If a DataFrame's index contains `NaT`, when you try to resample  it you get the error: `ValueError: Passed item and index have different timezone`. This is confusing, because while technically correct, it leads the user to investigate timezones, and not the presence of missing times.

The error message lead me down a rabbit hole of trying to understan

[2017-05-15 12:22] jreback commented on #16356
pls follow the issue submission format, IOW include ``pd.show_versions()``

[2017-05-15 12:31] pwaller commented on #16356
Apologies @jreback  - and thanks for your (and all others!) incredible efforts to develop maintain this library. I have updated the issue body into the standard format.

[2017-05-15 12:38] jreback opened #16357 "BUG: insert NaT into tz-aware DTI."
this should work (also should test for other index reshaping ops) & for TDI and PI
[code]

[2017-05-15 12:38] jreback commented on #16356
This is fundamentally caused by this https://github.com/pandas-dev/pandas/issues/16357, which is a bug. The error message should actually not happen at all.

[2017-05-15 13:22] TomAugspurger opened #16358 "DataFrame.to_records dtype shouldn't use unicode for every column"
#### Code Sample, a copy-pastable example if possible

As of 0.20, `DataFrame.to_records` will use the `unicode` type for the all dtype identifiers on python 2.

[code]

This caused some issues for statsmodels, since they go `to_records().dtype` -> `np.dtype`, which doesn't like unicode identifiers on python2 (https://github.com/statsmodels/statsmodels/issues/3658#issuecomment-301471472)

I think

[2017-05-15 13:42] wesm opened #16359 "ENH: Add support for "nthreads" option from Feather 0.4.0"
I'm releasing Feather 0.4.0 soon, and it has the option for multithreaded reads (one of the benefits of moving to the Arrow codebase). We should add corresponding support in the pandas interface

[2017-05-15 13:59] jorisvandenbossche commented on #16354
Yeah, I don't know the exact internals enough to assess whether it is the same issue or not .. :-)

@jnothman Regarding your second point:

I think this is correct, because 'M' is actually a shorthand for 'month end' (not month start). And so the first month end (January 31) is not included in the start/end range you specify. If you specify month start as the freq explicitly, it is not empty:

[co

[2017-05-15 14:06] jorisvandenbossche commented on #15886
@jreback I think this is actually a different issue. #6673 is about the interplay between `closed='left'` and the fact that the `and` gets rolled back to the last valid end date for the 'B' frequency.
This problem however does not occur for monthly frequency:

[code]

(both are the same)

As noted above, the tricky/surprising part in this issue is that `pd.Timestamp('2017-07') == pd.Timestamp('201

[2017-05-15 14:20] nyejon opened #16360 "Column loses category when using .loc for a one row dataframe"
If I convert a list of columns to type 'category'

[code]
#### Problem description

I am trying to convert my defined categorical columns to the category type. It works when the dataframe is longer than one row, but if it is only one row it keeps the datatype as object.

With only one row I get the following column outputs:

`df.dtypes`

[code]

#### Expected Output

I would expect the column to b

[2017-05-15 14:34] jnothman commented on #16354
I suppose I had expected something more akin to `groupby(pd.TimeGrouper('M'))` being run over the range of moments between start and end.

[2017-05-15 14:37] jorisvandenbossche commented on #16354
@jnothman You might want periods then:

[code]

[2017-05-15 15:20] brentp commented on #11235
Hi all, this appears to still be broken for some cases, e.g. here is a test-case for python3.6, pandas 0.20.1:

[code]

the tail of the output is:

[code]
In that case the `right` is `-(0.1)`

please let me know if you prefer I open a new issue.

[2017-05-15 15:39] jorisvandenbossche commented on #14565
In the meantime, I think this has been fixed in the deprecation panel PR by @jreback (see discussion here: https://github.com/pandas-dev/pandas/pull/15601#discussion_r110339791, and this commit: https://github.com/pandas-dev/pandas/pull/15601/commits/c39453adc39be90b8074ebffe9488e260896df3f)

So basically the approach of having a FrozenNDArray searchsorted method to handle this as proposed above

[2017-05-15 15:41] jorisvandenbossche commented on #14565
Would be good to still do the second point in the original issue here: add benchmarks for the affected cases.

[2017-05-15 16:49] myyc opened #16361 "Odd behaviour of resample+mean+interpolate on int64 series"
this issue is present on the latest stable release (as well as latest master at the time of this writing). for frames with only `int64` values, the following has strange behaviour

[code]

my workaround is more than enough for me but i figured i'd report it anyway...

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Darwin
OS-release: 16.5.0
ma

[2017-05-15 17:12] TomAugspurger commented on #16360
Simpler example:

[code]

[2017-05-15 18:22] chris-b1 commented on #16361
Thanks for the report!  It looks like the in the first case the internal data structures are getting into an invalid state.

[code]

[2017-05-15 18:28] RobinFiveWords opened #16362 "BUG: Transpose construction/block error with certain dtypes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Tried to provide a minimal example here. I originally encountered the error with a dataframe containing datetime, object, and int dtypes, and triggered it with this...

`df.iloc[[0, -1]].T`

...and even found things like this:

[code]

#### Expected Output
        0    1
dt1   NaT  NaT
obj1    a    b
obj2    c

[2017-05-15 19:38] chris-b1 commented on #16362
This also repros with direct construction

[code]

But doesn't if only one string column
[code]

[2017-05-15 19:43] joshuastorck commented on #16345
The problem occurs when the data frame contains only one row (see example above). In that case, the "animal" column disappears.

[2017-05-15 19:52] TomAugspurger commented on #16328
pandas has the same problem :) Doing `qcut(x, 5)` is just `qcut(x, [0, .2, .4, .6, .8, 1.])`, which can't give you your desired outcome since the 20th and 40th percentiles are the same.

I did a brief skim of other packages, and it seems like they get around this by iteratively adjusting the quantiles until things work. @artturib would you mind writing up a function that does what you want, and we

[2017-05-15 22:10] jreback commented on #16360
There is a coercion step where ``df.loc[:, column]=`` will try to do *exactly* ``df[column]=`` so I guess this should work.

[2017-05-15 22:12] jnothman commented on #16354
yes i considered them right after i wrote this issue. but i feel correct
behaviour is not clear here regardless

On 16 May 2017 12:37 am, "Joris Van den Bossche" <notifications@github.com>
wrote:

[2017-05-15 22:57] jaypeedevlin commented on #16338
@mjlove12

According to [this test failure](https://travis-ci.org/pandas-dev/pandas/jobs/232024816) `The command "ci/lint.sh" exited with 1.` If you don't know about linting, it's making sure the layout of your code is correct.  I would make sure you conform with [PEP8](https://www.python.org/dev/peps/pep-0008/) which will probably take care of this.

The second failure is more an actual test fail

[2017-05-15 22:59] jreback commented on #11235
beat 2 open a new issue

[2017-05-15 23:08] mjlove12 commented on #16338
Thanks for the help! I'll take a look at those and see what needs to be done.

[2017-05-16 00:02] #15251 closed

[2017-05-16 00:59] brentp opened #16363 "DataFrame.eval errors with AttributeError: 'UnaryOp'"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This is related to #11235.
on python 3.6, pandas 20.1, this raises an error the traceback ends with:

[code]
In that case the right is -(0.1)

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Linux
OS-release: 4.8.0-49-generic
machine: x86_64
processor: x86

[2017-05-16 01:39] jreback commented on #16358
originally we were using ``str`` in both py2 & py3. we switched to ``text_type`` which is unicode in py2 and str in py3.

where exactly did this come up?

[2017-05-16 02:41] Eastsun opened #16365 "ewm after groupby works in 0.19.2 but failed in 0.20.1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This code works in pandas 0.19.2 but failed in pandas 0.20.1

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS

------------------
commit: None

python: 2.7.13.final.0

python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 58 S

[2017-05-16 05:48] amcpherson commented on #9738
@jreback I understand, meant that comment more as a commitment to do a pull request myself.  Taking a quick look at the code, it doesnt seem trivial.  There seem to be many places where casting occurs.

[2017-05-16 07:16] gfyoung commented on #15889
I agree with @chris-b1 on that sentiment regarding Windows.  I would make sure that this is announced somewhat well in advance to make sure we don't surprise people.

[2017-05-16 07:17] gfyoung commented on #8329
@jreback : I think you can close this now that #15209 has been issued.

[2017-05-16 08:58] jorisvandenbossche commented on #16354
Can you clarify that?

[2017-05-16 09:57] jreback commented on #16365
this was an API change in 0.20.1

see the docs: http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#whatsnew-0200-api-breaking-rolling-pairwise

A MI DataFrame is returned and not a (deprecated) Panel.
[code]

[2017-05-16 09:57] #16365 closed

[2017-05-16 10:19] jreback commented on #8329
@gfyoung your reference seems to be off, and this is certainly not closed. we have warning messages in the c-code. need to set a macro.

[2017-05-16 10:22] jreback commented on #15889
@chris-b1 want to ping python and see why the downloads default like that?

[2017-05-16 10:22] jreback commented on #9738
@amcpherson np. yeah this is bit non-trivial to do, esp to get most cases.

[2017-05-16 11:02] #15400 closed

[2017-05-16 12:01] TomAugspurger commented on #16358
statsmodels was essentially doing

[code]

[here](https://github.com/statsmodels/statsmodels/blob/90e2af8be80114179deb6b0ca3ac71975c7f9064/statsmodels/tsa/tsatools.py#L121)

That's not 100% correct, since if a user actually *does* have unicode columns, pandas probably should use unicode, and statsmodels will have to work around it

[code]

It seems like this would be best solved by NumPy accepting

[2017-05-16 12:43] peisenha opened #16367 "pd.crosstab, categorical data and missing instances"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is from the documentation:

However, *f* is not included in the table while *c* is.

Please let me know if this is in fact a bug, then I will be glad to write give writing a patch a try.

Thanks a lot in advance!

#### Expected Output

col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0

####

[2017-05-16 12:52] TomAugspurger commented on #16367
The docstring even has an example further down

[code]

which is not what I get, so defiantly a bug somewhere. I suspect that https://github.com/pandas-dev/pandas/pull/15511/ may be related, since

[code]

does produce the correct output. `crosstab` is defined in `pandas/core/reshape/pivot.py`, if you want to start there.

[2017-05-16 13:00] peisenha commented on #16367
Thanks a lot for the swift response. I will give it a try.

On Tue, May 16, 2017 at 2:52 PM, Tom Augspurger <notifications@github.com>
wrote:

--
*Philipp Eisenhauer*
Economist

Mail eisenhauer@policy-lab.org
Web www.eisenhauer.io
Repository https://github.com/peisenha

[2017-05-16 13:31] gfyoung commented on #8329
@jreback : I meant to refer to the issue where we are dropping `numpy < 1.9`.  Certainly that should encapsulate this one?

[2017-05-16 13:43] AlexisMignon commented on #16358
From memory I proposed changes in pandas becaise using str in py2 was raising an error when column names were unicode strings with unicode caracter. Doing this I fell on a bug in numpy which has 2 ways to build a np.dtype:

* One is using a list of tuples (name, format), this is the most documented way shown in all examples
* the other uses a dictionnary {"name": <list of column names>, "formats":

[2017-05-16 13:55] TomAugspurger commented on #16358
Yeah, I'm trying to work around this in statsmodels and it's pretty tricky to get right that far down.

Is it fair to say that for `DataFrame.to_records().dtype`

- In python2 the names should *always* be python 2 strs (bytes)
- In python3 the names should *always* be python 3 strs (unicode)

In that case, I think the solution is to encode every column name as bytes on python2 (we can just choose

[2017-05-16 13:58] jreback commented on #8329
this refers to the c api
we are actually using the pre 1.7 one
that's the point of setting the macro

so this issue needs to be fixed before (though of course will work when compiling on later numpy anyhow as they haven't removed the old api)

[2017-05-16 14:00] peisenha commented on #16367
#15193 and #15511 are two related issues. Looking at the source code and the discussion, it seems to me that dropping empty columns is the desired behavior for dropna=True (default).

This is the relevant code in pivot_table()

[code]

If you agree, just let me know and I will be glad to adjust the documentation accordingly.

[2017-05-16 14:14] TomAugspurger commented on #16367
It seems like the resolution from https://github.com/pandas-dev/pandas/issues/12298 was that all the categories should be present in the output. https://github.com/pandas-dev/pandas/pull/15511 seems to go against that... So I think this is a regression and not just a doc issue.

I think the issue is that the meaning of `dropna` becomes ambiguous when you have a Categorical. With a categorical that

[2017-05-16 14:30] RobinFiveWords commented on #16362
I see some inconsistency in the `maybe_infer_to_datetimelike` function in pandas/core/dtypes/cast.py. `v` is first raveled but is only unraveled in the cases reaching line 830 or 838. When I added `.reshape(shape)` to end of line 840, Chris's test ran fine. What's the best approach here, to remove the reshapes in lines 830 and 838 and apply it just once, at the end of the return statement in line

[2017-05-16 14:33] peisenha commented on #16367
Alright, if you would like me to take a crack at it, let me know. I will be glad to provide a fix and a regression test ... As this would be my first contribution to the library, I will probably need some guidance in the process.

[2017-05-16 14:40] TomAugspurger commented on #16367
Yeah, it'd be great if you can take a shot.

But first, let's see if @jreback and @jorisvandenbossche agree that the documented version is correct, and that treating `dropna` differently for Categoricals is a good idea.

[2017-05-16 15:28] jorisvandenbossche commented on #16367
Focusing on `crosstab` for a moment, what is an example when you get a column with NaNs? (trying to understand the usecase of the `dropna` method)

[2017-05-16 15:35] TomAugspurger commented on #16367
In this case, crosstab is a `pivot_table` followed up by a `fillna(0)`:

[code]

so the change to `pivot_table`'s NaN handling affected this downstream.

[2017-05-16 15:36] chris-b1 commented on #16362
@RobinFiveWords - easiest to review if you would submit a PR with that change - main thing will be that existing tests still pass.

[2017-05-16 15:38] jorisvandenbossche commented on #16367
So the dropna in crosstab is actually also a bit confusing explantion, as you are not dropping all NaN columns, but all 0 columns :-)
But apart from that, I am still wondering when you get such a column. Because the columns are created from the values, so how is it possible (apart from using categoricals) that a value is not present?

[2017-05-16 15:51] TomAugspurger commented on #16367
I guess it can happen if you have multiple levels, some of which aren't observed:

[code]

[2017-05-16 16:06] #16122 closed

[2017-05-16 17:33] #16022 closed

[2017-05-16 20:08] gorakhargosh opened #16370 "Implement pd.Series.__contains__ instead of pd.Series.isin ?"
#### Current Usage

[code]
=>

#### Problem description

v 0.18 introduces the pd.Series.isin method.
Would it be more appropriate to implement this as a `__contains__` method
so boolean query filter expressions used with data frames can use the
`in` operator as well?

#### Expected Usage

[code]

#### Output of ``pd.show_versions()``
<details>
INSTALLED VERSIONS
------------------
commit: None
py

[2017-05-16 20:10] gorakhargosh commented on #16370
Never mind. The `in` operator doesn't work that way.

[2017-05-16 20:10] #16370 closed

[2017-05-16 20:11] gorakhargosh commented on #16370
Never mind. the `in` operator wouldn't work that way. Misread the order of operands.

[2017-05-16 20:23] TomAugspurger opened #16371 "TST: test_mixed_freq_regular_first failing on master"
Started with https://travis-ci.org/pandas-dev/pandas/builds/232766866, which clearly (I think?) isn't to blame.

I don't see any differences in dependencies between https://travis-ci.org/pandas-dev/pandas/jobs/232654666 and https://travis-ci.org/pandas-dev/pandas/jobs/232766873 will dig in more later.

[2017-05-16 21:18] PaluchowskiMatthew commented on #7546
R newbie here. @Make42 Could you please provide short python code snippet with all steps or at least clarify step 7 because I am not sure I get it.

[2017-05-16 22:17] jreback opened #16372 "API/BUG: hashing of datetimes is based on UTC values"
These should are 3 different 'views' of the same time. We DO disambiguate these in mains. So we should do so when hashing as well.

xref #16346

[code]

[2017-05-16 22:17] jreback commented on #16372
cc @mrocklin

@TomAugspurger @jorisvandenbossche

from a practical perspective I don't think this makes a whole lot of difference, but should fix to be correct.

[2017-05-16 22:26] #16010 closed

[2017-05-17 00:41] jreback commented on #16350
seems github/travis was compromised on may 8 and they revoked the old token for pandas-docs. I reauthenticated and trying new token. cross fingers.

[2017-05-17 01:02] jreback commented on #16371
looks like maybe mpl 2.0.2? (not sure how recent it was)

[2017-05-17 01:04] jreback commented on #16350
so my regenerating is not working. if @jorisvandenbossche or @TomAugspurger have a go

@TomAugspurger having @wesm invite you to be in ``pandas-docs`` (as its a separate org)

[2017-05-17 07:39] jorisvandenbossche commented on #16372
What alternative do you think off hash upon? Hash the timezone separately and combine the hashes?

[2017-05-17 08:26] jorisvandenbossche commented on #16371
I cannot reproduce this locally, also not with matplotlib 2.0.2 (and also the succeeding travis build before it started failing already had 2.0.2)

[2017-05-17 10:23] piperod opened #16376 "panel.to_json() Not implemented"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am trying to save a panel into a file. I have tried to_json(), to_csv(), but I always get an error. Are there others methods to save this structure into a file. Or should I be careful with the pandas version?

[2017-05-17 11:28] TomAugspurger commented on #16376
I believe it can be saved directly to HDF5: http://pandas-docs.github.io/pandas-docs-travis/io.html#hdf5-pytables

FYI, Panel is deprecated and is being removed in a future version: http://pandas.pydata.org/pandas-docs/version/0.20/whatsnew.html#whatsnew-0200-api-breaking-deprecate-panel

[2017-05-17 11:28] TomAugspurger commented on #16376
l

[2017-05-17 11:28] #16376 closed

[2017-05-17 12:08] jreback commented on #16372
I think you could do something like this.
[code]

IOW, hash the tz as an additional column and combine (which is what we do with a ``DataFrame`` with ``index=False``).

This would break backward compat for tz-aware, but (and maybe should document this more), that this is version-to-version hashing, it is not (necessarily) designed to be backward compat.

[2017-05-17 13:26] argoneus commented on #9246
@filmor I've implemented this and it appears to work well, thanks!  One issue that I've noticed is that returning the `get_file_image()` works for a single key, but you can't simply concatenate the binary file data together from multiple calls to `write_hdf_to_buffer()`.  How have you accounted for this, or are you simply writing a single key and associated data to individual files?

[2017-05-17 13:35] filmor commented on #9246
@argoneus I'm not sure I get what you mean. The particular functions given are implemented for just a single key, but nothing prevents you from getting/storing more than one key as long as the `store` object exists. What exactly are you trying to do?

[2017-05-17 13:47] MarcoMottola87 opened #16377 "pandas retraive a hdf5 dataset with more values for fields"
I'd like to retrieve a dataset from hdf5 in a pandas dataframe datastrucure. This dataset contains more values separated by coma for each columns, like as picture shows.
[https://i.stack.imgur.com/hT5f8.jpg](url)
I try with:

import pandas as pd

store=pd.HDFStore(path_file)

df=store[path_tree]
I get following error:

File "C:\Anaconda2\lib\site-packages\pandas\core\internals.py", line 86, in ini

[2017-05-17 14:03] argoneus commented on #9246
I'm writing an HDF5 file in Azure Data Lake (ADL), and am using their Python APIs to open a buffer.  I'd like to write multiple keys and associated data to the same file.  Using your `write_hdf_to_buffer()`, it appears that the binary data is being written, but the keys aren't getting updated in the file.  In my test, I have 4 pandas data frames with 4 unique keys, and want to write these to an .h

[2017-05-17 14:15] filmor commented on #9246
Just return the store directly in the `read` function and write multiple frames in the `write`:

    def write_hdf_to_buffer(frames):
        from pandas import get_store
        with get_store(
                "data.h5", mode="a", driver="H5FD_CORE",
                driver_core_backing_store=0
                ) as out:
            for key, df in frames.items():
                out[key] = df

[2017-05-17 14:58] Zhang18 opened #16378 "BUG: comparison warning with NaN when DataFrame/Series broadcasting"
#### Code Sample

[code]
#### Problem description

So the RuntimeWarning is only thrown the _first_ time the `clip` is called. But not on subsequent times. This is inconsistent.

#### Expected Output

I propose to suppress this warning altogether as the triggering use cases seem to be completely common and fully legit.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
---------

[2017-05-17 15:51] TomAugspurger commented on #16378
This repeatedly shows warnings for me. Do you perhaps set a warningfilter somewhere like

[code]

an easy way to test is to call

[code]

a couple times.

[2017-05-17 15:52] TomAugspurger commented on #16377
Can you make a copy-pastable example? Ideally some code to generate a fake dataset like yours, and then code to read it.

[2017-05-17 16:51] argoneus commented on #9246
Yes, that works -- reading the `store` file contents each time and returning to `write_hdf_to_buffer()` prior to adding the new dataframe.  However, I was trying to do this without having to read the entire contents (from ADL) each time -- this is inefficient if processing a few hundred keys.  I'm using Python's `multiprocessing` library and handling a key per process (reading data from input, pro

[2017-05-17 17:24] Zhang18 commented on #16378
Here is a continuous screen output per your suggestion. Apparently `f()` keeps raise warnings whereas `clip` doesn't.

[code]

[2017-05-17 17:26] mwiebusch78 opened #16379 "Assignment broken for sliced multi-indices"
Consider the following data frame:

[code]

Taking a slice of this and assigning it to itself should leave the data unchanged, but look what happens:

[code]

I'm on pandas version 0.20.1

[2017-05-17 17:53] marabout2015 opened #16380 "Pandas different between Python 2.7 and Python 3.5"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

On Python 2.7, the above code results in:
[code]
while on Python 3.5, the same code results in:
[code]
I see this difference between Python 2 and 3 for pandas 0.18.0, 0.19.2, and 0.20.1.

#### Expected Output
[code]
Or at least consistency.
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
---

[2017-05-17 19:28] TomAugspurger commented on #16378
Can you post the output of `warnings.filters`? It seems unlikely, but it's possible to filter warnings form specific libraries.

[2017-05-17 20:05] Zhang18 commented on #16378
Here you go:

[code]

[2017-05-17 20:06] Zhang18 commented on #16378
But inconsistency aside, do you agree this warning is unnecessary and should be removed?

[2017-05-17 21:55] TomAugspurger commented on #16378
Sorry, missed that section of your original post. I think that was fixed by https://github.com/pandas-dev/pandas/pull/16373 Can you try on master?

[2017-05-17 23:28] jreback commented on #16379
a duplicate of https://github.com/pandas-dev/pandas/issues/10440

see the examples there on how to do this. pandas doesn't know how to align your slice. it *seems* obvious, but is actually non-trivial.

[2017-05-17 23:28] #16379 closed

[2017-05-17 23:31] jreback commented on #16378
This is a different issue.
This has to do with broadcasting of a Series and a DataFrame.

[code]

[2017-05-17 23:33] jreback commented on #16378
I recall the same issue, but can't find it w/o a quick search. @TomAugspurger any idea?

[2017-05-17 23:35] denfromufa opened #16381 "pandas resample weekly and interpolate - wrong results"
https://gist.github.com/denfromufa/fd73a844f474847547eeb684572f2117

[2017-05-17 23:36] jreback commented on #16378
note that this fix is the *same* as in #16373, e.g. wrapping with ``np.errstate``

[2017-05-17 23:39] jreback commented on #16381
pls replace the gist with a copy-pastable example and ``pd.show_versions()`` as indicated in the issue request page.

[2017-05-17 23:42] jreback commented on #16380
on py3

[code]

These construct differently in py2 and py3 as range is a list in py2 (and an actual range object).

[code]

[2017-05-17 23:45] jreback commented on #16380
that said this path is only lightly tested. so prob not propagating the name properly. a pull-request to fix welcomed!

[2017-05-18 01:36] ohiobicyclist opened #16382 "wide_to_long should verify uniqueness"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Changelog lists "performance improvements" for pd.wide_to_long but this is not an improvement for me;  for these corner cases I would rather have the old behavior.  Are these not mainstream enough to support?

#### Expected Output

1)
[code]

[pd_wide_to_long_changes.zip](https://github.com/pandas-dev/pandas/f

[2017-05-18 01:53] TomAugspurger commented on #16382
@nuffe does this seem related to https://github.com/pandas-dev/pandas/pull/14779

[2017-05-18 02:36] denfromufa commented on #16381
@jreback done!

[2017-05-18 03:27] zfrenchee commented on #16316
@jreback @shoyer What would be the timeline for implementing something like this? How would this come about?

[2017-05-18 06:01] rmjarvis opened #16383 "v0.20 added dependency on being able to connect to X server"
#### Code Sample, a copy-pastable example if possible

Running on an ssh terminal that doesn't use `ssh -X`:
[code]
#### Problem description

`import pandas` should work on terminals without X11 forwarding, but starting with version 0.20 (both 0.20.0 and 0.20.1), it doesn't.

#### Expected Output

`0.20.1`

#### Output of ``pd.show_versions()``

<details>
/gpfs/mnt/gpfs01/astro/packages/anaconda/d

[2017-05-18 10:17] jreback commented on #16316
@zfrenchee the way to make this happen MUCH faster would be to write tests, that xfail. meaning that we except them to work when the feature is fixed. Many many tests would help here, covering the bases, and edge cases. This would cover the user facing results, e.g. what you expect for a certain operation. Much of the raw input is in this issue. This would also help refine the exact API.

[code]

[2017-05-18 10:20] jreback commented on #16381
can you remove the rendered frames. simply run this in ipython and paste the results.

[2017-05-18 10:21] jreback commented on #16383
this is a dupe of #16288 and fixed for 0.20.2 (not released yet) in #16294

[2017-05-18 10:21] #16383 closed

[2017-05-18 10:30] #14488 closed

[2017-05-18 11:46] alfonsomhc commented on #11166
I have also found this issue when reading a large csv file with the default egine. If I use engine='python' then it works fine.

[2017-05-18 13:00] nuffe commented on #16382
@ohiobicyclist sorry, but I do not understand what you intend to do (with either the 0.19 or 0.2 version).

From the wide_to_long docstring in `0.2`:

    `i` (can be a single column name or a list of column names)

This is not directly checked, which is why you get at `NotImplementedError` much further down the stack trace.

After you fix this and supply a unique row identifier, you forget to spe

[2017-05-18 13:32] ohiobicyclist commented on #16382
nuffe -- I'm a little less worried about the first example as yes, worst comes to worst, I can just reset_index (twice if the index isn't already unique) and use that as a unique column (it's annoying that code that works in 0.19.2 breaks in 0.20.1 because of this, but there is a work-around at least); however, I contend the following -- changing "A_Ax" "B_Bx" to "A_Ax" "B_Ax" then "A_" and "B_" *

[2017-05-18 13:44] TomAugspurger commented on #16382
@ohiobicyclist can you post the code for the example that should work here in the issue?

[2017-05-18 14:05] #16014 closed

[2017-05-18 14:17] ohiobicyclist commented on #16382
Sure, thanks.

import pandas as pd
seed = []
for i in range(15):
    seed.append([1, 2, 3, 4, 5])
test_df = pd.DataFrame(seed).T
test_df.columns = ["A_A1", "B_A1", "A_A2", "B_A2", "A_A3", "B_A3", "A_A4",
                   "B_A4", "A_A5", "B_A5", "A_A6", "B_A6", "A_A7", "B_A7", "x"]
pd.wide_to_long(test_df, ["A_", "B_"], i="x", j="colname")

[2017-05-18 14:18] denfromufa commented on #16381
@jreback what is wrong with frames? i don't work with pandas in ipython terminal.

[2017-05-18 14:22] TomAugspurger commented on #16382
That example has the same issue with the `stubnames`, right? It should be `A_A` and `B_A` I think

[code]

[2017-05-18 14:34] TomAugspurger commented on #16381
@denfromufa can you post your expected output?

I think you're getting tripped up by the endpoints. When you do `pdtest.resample('W-MON')`, the array is upsampled

[code]

Since the original left-endpoint doesn't align with a W-MON freq, you get NaN and then `.interpolate` will be NaN for everything before the first valid (upsampled) observation.

If you resample at a freq that does align with you

[2017-05-18 14:45] denfromufa commented on #16381
@TomAugspurger this is good explanation, but I expected interpolation even for mis-aligned data. I think for weekly interpolation the safest option to use is like this:

[code]

But the most and only upvoted answer on SO suggests what I did:
http://stackoverflow.com/a/14531149/2230844

Anyway I'm having even a bigger problem with original weekly interpolation method, let me open another issue for

[2017-05-18 15:44] nuffe commented on #16382
@ohiobicyclist when you specify `stubnames = [A_, B_]' wide_to_long by default expects to find numeric suffixes (as does Stata - this is in the documentation), but this is not the case in your example. You can do this with:

[code]

[2017-05-18 15:44] TomAugspurger commented on #16381
Agreed that it's a surprising output, unless your familiar with how it's implemented. I'm not sure there's much we can do though... Potentially we could fill the endpoints of the upsampled DataFrame with the original endpoints?

[code]

we would want to look at if that breaks in violations upsampling.

[2017-05-18 15:55] denfromufa commented on #16381
@TomAugspurger i think one problem here is that syntax with keyword for `fill_method='interpolate'` is deprecated. But the resampling can be dependent on the method like in this case.

[2017-05-18 17:10] zfrenchee commented on #16316
@jreback Sounds good, I'm happy to write the tests. One question though: We've discussed both enhancements on this issue, as well as ways the current implementation is "broken". I'll add xfail tests for the enhancements, but should I alter current tests to bring them into line with what we've discussed here. If so, should I also mark them as xfail?

[2017-05-18 17:12] jreback commented on #16316
yes
best to move 'wrong' test to another function and xfail them

[2017-05-18 17:22] zfrenchee commented on #16316
@jreback would you mind chatting about this over email? I have a couple more questions which don't necessarily make sense to put on this issue. If that's alright, shoot me an email at lenail@mit.edu. =)

[2017-05-18 18:19] shoyer commented on #16316
If you have developer workflow questions, GitHub is still a good place for
them -- we can answer questions or point you to existing primers. It's okay
if issues go slightly off topic.
On Thu, May 18, 2017 at 1:22 PM Alexander Lenail <notifications@github.com>
wrote:

[2017-05-18 18:34] dsmale opened #16384 "Prefer values over NaN when adding DataFrames"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Adding DFs of varying lengths and with missing data results in missing data.
1. The shorter index is used and all values beyond are simply NaN'd.
2. If one of the two series values is NaN, NaN wins.

#### Expected Output
1. The longer index DF should be used, filling the shorter DF with NaN.
2. If a value is pr

[2017-05-18 19:05] TomAugspurger commented on #16384
It's not really the lengths that matter, rather the labels are *aligned* to match. I'd recommend you read through [the docs on this](http://pandas.pydata.org/pandas-docs/stable/basics.html#reindexing-and-altering-labels). since `df_b` is a subset of `df_a` it looks like it's the lengths.

I don't understand what your second point means. An operation between two valid values will be valid. An opera

[2017-05-18 19:05] TomAugspurger commented on #16384
I'll close this, as auto-alignment is fundament to pandas, but feel free to point out places in the docs that aren't clear.

[2017-05-18 19:05] #16384 closed

[2017-05-18 19:32] lmarchesoti opened #16385 "DataFrame.plot(): changing position of legend with secondary_y removes legend entries"
#### Code Sample

[code]
#### Problem description

The code above produces a barplot with secondary y axis for 'col b'.
The last command (.legend(...)) tells it to move the legend around, which works but produces a new legend that only includes 'col a'.

#### Expected Output

I believe it should include both columns in the legend, like it does when the .legend part is omitted.
I have also tried to

[2017-05-18 19:33] lmarchesoti commented on #16385
`df = pd.DataFrame([[1, 1, 1], [2, 4, 3], [3, 7, 9]], index=[1, 2, 3],
                  columns=['col a', 'col b', 'col c'])
df.plot(kind='bar', secondary_y=['col b']).legend(bbox_to_anchor=(1.5, 1))`

it seems only the column in the secondary axis is left out

[2017-05-18 19:49] zfrenchee commented on #16316
Alright.

1. In `pandas/pandas/tests/indexing/test_interval.py` -- will we need to change `test_contains` ?

2. There are still a bunch of references to Panel in http://pandas.pydata.org/pandas-docs/stable/indexing.html. Should those be removed?

3. https://github.com/pandas-dev/pandas/pull/16386

[2017-05-18 20:19] jreback commented on #16316
I don't think so, you can certain put what you think if its different

no, things stay in the docs until things are actually removed for Panel, though would prob take a PR to remove them for 0.21.0

[2017-05-18 20:28] TomAugspurger commented on #16385
Not really sure what's going on. The `bbox_to_anchor` seems to produce a new legend.

[code]

It's possible that pandas isn't properly adding the legend labels / handles if you want to take a look in `plotting/_core.py`.

[2017-05-18 20:41] TomAugspurger commented on #16385
Actually, can you post an image of your output? Here's mine with `ax.get_legend().set_bbox_to_anchor((1.1, 1))`
![fig](https://cloud.githubusercontent.com/assets/1312546/26222610/54d0a576-3be0-11e7-80fe-7e8157c09912.png)

I think your 1.5 was plotting out of the frame for me. Does that work for you?

[2017-05-18 21:06] #13823 closed

[2017-05-18 21:32] wesm commented on #16350
i moved the repo over to pandas-dev

[2017-05-18 22:07] jreback opened #16388 "TST: re-enable gbq tests"
https://github.com/pandas-dev/pandas/commit/6dcf2ed2706b00020f6a3be5530ff8dc121ba989

causing this tests to fail;

seems some issues on the BQ side
see https://github.com/pydata/pandas-gbq/pull/40

[2017-05-18 23:10] buyology commented on #16316
chiming in on this, as we are heavy users of `postgres` [`range` types](https://www.postgresql.org/docs/9.6/static/rangetypes.html) and [`range` operators](https://www.postgresql.org/docs/9.6/static/functions-range.html) as a powerful abstraction for  time series data

as already been mentioned, the key verbs are `contains` and `overlaps` both on element and range level and in both directions:

ex

[2017-05-18 23:25] shoyer commented on #16316
Thanks @buyology, the Postgres references are very helpful. Honestly, we probably should have consulted them in the original design process.

Looking at this list, it looks like we do indeed need the contains and overlaps functionality (though I'm not sure we can call our methods contains, given that does significantly from the current method). The rest is provided by current functionality, once y

[2017-05-19 01:52] markhkim commented on #16342
Isn't this fixable by adding
[code]
right before `return data` in the definition of `read_stata`? Am I missing something?

[2017-05-19 08:22] iipr commented on #14613
As of today, does anyone have any workaround or possible solution?

I tried to create a dummy table that would contain all my categories, to later append the actual data, and finally drop the first _n_ rows that have the dummy data, but it didn't work. I get the same error:

`ValueError: cannot append a categorical with different categories to the existing`

[2017-05-19 09:27] owlas commented on #14730
A little late, just wanted to say thanks for getting this addressed so quickly!

[2017-05-19 11:29] TomAugspurger commented on #14613
@iipr issue is still open, if you're interested in submitting a fix. I don't believe anyone is working on this at the moment.

[2017-05-19 12:14] jreback commented on #14613
``union_categoricals`` does this, so its a matter of using this internally when appending. The key thing is that you cannot change existing code->label mappings as these are already written/coded.

[2017-05-19 12:15] jreback opened #16390 "DOC: union_categoricals could use some examples in the doc-string"
can prob just use these: http://pandas.pydata.org/pandas-docs/stable/categorical.html#unioning

also adding a link in the doc-string to these docs would be nice

[2017-05-19 12:33] lmarchesoti commented on #16385
Hm... it seems to keep the labels this way, although the legend locations differ a bit.

Here's with
[code]
![pandas_sec_y_bbox_output](https://cloud.githubusercontent.com/assets/1975822/26247784/d60a951c-3c75-11e7-9d18-6132a9620300.png)

Increasing it to more than 0.7 puts it out of the frame, although that is what I originally intended since I can still view it in IPython Notebook.

[2017-05-19 15:23] wesm opened #16391 "ENH: Add option for Parquet metadata to disambiguate index names that conflict with column names"
As an improvement on the Parquet metadata https://github.com/pandas-dev/pandas/blob/master/doc/source/developer.rst, we should provide an option to specify an index as:

[code]

If the metadata contains an index entry that is a string, then it is assumed that the column name in the Parquet file and the index name are the same. That way the current specification is forward compatible

[2017-05-19 16:16] chris-b1 commented on #16286
Thanks for the example - sure could give a better message here, PR welcome.  Fairly deep in the parser code, I'd start about here if you're interested.
https://github.com/pandas-dev/pandas/blob/7d04391dd3240c2d7cc80d638a39ad06b1ab679a/pandas/_libs/src/parser/tokenizer.c#L468

[2017-05-19 16:21] ajasja opened #16392 "HTML not read from dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a html file (generated by saving a word file as a html). I would like to extract the html.
I only get `ValueError: No tables found`. The test file is attached and does contain a table.

[test1.zip](https://github.com/pandas-dev/pandas/files/1014896/test1.zip)

#### Expected Output
The data from the table

[2017-05-19 16:33] #16392 closed

[2017-05-19 16:34] ajasja commented on #16392
I was calling "test1.html", but the file is "test1.htm"!

[2017-05-19 18:50] TomAugspurger commented on #16350
@jreback solved one issue, the `secure` entry in the `.travis.yml` was missing a `-`. 0f55de1b3 fixed that, but [still failed](https://travis-ci.org/pandas-dev/pandas/jobs/234111150#L5046). It was able to fetch, not push.

It looks like by default, team members don't get write access to the repository. I think you can either grant my account write access to the repository, or better yet we should

[2017-05-19 23:51] Dominik1123 opened #16393 "IndexError raised on invalid csv file"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When loading a file with the following content via `pandas.DataFrame.from_csv` an `IndexError` is raised from somewhere inside the `parsers` sub-package.

File content:

    +++123456789...
    col1,col2,col3
    1,2,3

#### Expected Output

The expected behavior would be to raise a `CParserError` instead.

###

[2017-05-20 00:18] wmp3 opened #16394 "BUG: ValueError with Series.isin and tuples"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Returns ValueError:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda/envs/pandas_dev/lib/python3.6/site-packages/pandas/core/series.py", line 2555, in isin
    result = algorithms.isin(_values_from_object(self), values)
  File "/anaconda/envs/pandas_dev/lib/python3.6/sit

[2017-05-20 08:00] toobaz opened #16396 "Incoherent behavior when ambiguously indexing MultiIndexed DataFrame with slice"
Sorry in advance if this is already discussed/reported - I searched in the archive, but didn't know exactly what to search.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

``.loc[l1, l2]`` called on a ``MultiIndex``ed ``DataFrame`` is ambiguous: ``l2`` could refer to the second level of the ``index``, or to the ``columns``. Apparently, the decision has been

[2017-05-20 09:48] toobaz opened #16398 "Error with .drop([]) on non-unique index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Notice ``pd.DataFrame([[1,2], [3,4], [5,6]], index=['a','b', 'c']).drop([])`` works just fine.

#### Expected Output

Just the original ``DataFrame``.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-release:

[2017-05-20 13:13] Make42 commented on #7546
@PaluchowskiMatthew: I did an example for you. Maybe you can give me some points on stackoverflow: http://stackoverflow.com/a/43539437/4533188

[2017-05-20 13:16] PaluchowskiMatthew commented on #7546
@Make42 Awesome thanks! +1 on stackoverflow

[2017-05-20 13:41] TomAugspurger opened #16399 "Categorical handles imaginary values incorrectly"
[code]

I think it comes down to factorize

[code]

Clearly not much demand for this, but figured I'd park an issue anyway. Discovered this in https://github.com/pandas-dev/pandas/pull/16015, which will not be fixing it.

[2017-05-20 13:45] jreback commented on #16399
we convert complex to float (always have)

[2017-05-20 13:47] TomAugspurger commented on #16399
Yeah, the float part is fine, it's the dropping the imaginary part (Out[6] should have three categories)

[2017-05-20 14:58] jreback commented on #16394
this code was refactored to be more general, so this was a missing case. easy fix I think. ``np.array`` converts nested tuples to lists, which is not nice, so do this.

if you'd like to submit a PR with this as an added tests (and make sure nothing else breaks), would be great.

[code]

[2017-05-20 15:25] jreback commented on #16393
@Dominik1123

[code]

you probably want this
[code]

``.from_csv`` defaults to ``index_col=0``, e.g. [4] (which ``pd.read_csv`` does not, see [2]).

So this *is* real error, though I agree not user friendly here (you only have 1 column is why its raising).

SO this is tricky, but you could have a more informative message.

cc @gfyoung

[2017-05-20 15:40] jreback opened #16400 "DOC: add section on Interval"
*this* could be top-level (and include indexing with IntervalIndex). Mainly showing how to work with ``Interval``.

- add ``Interval`` to API.rst

[2017-05-20 16:00] Dominik1123 commented on #16393
@jreback Well actually the first line is just example garbage. It was an example for an invalid CSV file which a user might open in my application (so skipping the first row is no solution in my case). I'm excepting `CParserError` when loading the data frame (no matter if I load it with `from_csv` or `read_csv(..., index_col=0)`. If other exceptions are raised (and this is not reported in the docs

[2017-05-20 16:15] jreback commented on #16393
@Dominik1123 hence the bug label

[2017-05-20 17:21] nuffe commented on #16382
Was this helpful @ohiobicyclist ? (I am not sure if your exact use case is better handled by another function - because I am not sure I understand, judging from your examples, what exactly you need to do).

But I agree that checking for a unique `i` should have been done (I can send a PR for this @TomAugspurger )

[2017-05-20 17:36] jreback opened #16401 "ENH: .interval accessor"
similar to how we work with ``.dt``, ``.str``, and ``.cat`` accessors, it might be nice to expose an ``.interval`` accessor; in particular this might make nice indexing expressions, xref to #16316

http://stackoverflow.com/questions/44088460/interval-datatype-in-pandas-find-midpoint-left-center-etc/44088970#44088970

[code]

[2017-05-20 17:37] jreback commented on #16401
cc @shoyer @zfrenchee  @buyology @TomAugspurger

[2017-05-20 17:38] jreback commented on #16401
e.g. this might make a reasonable syntax for indexing

``df.loc[df.my_interval_column.interval.overlaps(.....)]``
``df.loc[df.my_interval_column.interval.contains(....)]``

[2017-05-20 17:41] jreback commented on #16382
@nuffe yes pls.

[2017-05-20 17:53] jreback commented on #14968
PR for this?

[2017-05-20 18:08] jreback opened #16402 "API: inconsistent in handling fill/where/setitem of incompat type"
xref #14145  (reviving this PR and superceding)
xref #15533

So when we fill (either via fillna, where, or using setitem) we are inconsistent in handling what we do when we have a non-compat type (note have not exhaustively tested other methods, I suspect these pretty much coerce to ``object``, except for ``.where``). The classic example is trying to fill with a tz-aware in tz-naive.

For current

[2017-05-20 18:25] ohiobicyclist commented on #16382
This (suffix="") is helpful.  The thing that makes wide_to_long better than melt for my application is the dual-column (or multiple column) stacked output.  A somewhat clearer example would be column names
["key_sampleid1", "value_sampleid1", "key_sampleid2", "value_sampleid2", "key_otherid1", "value_otherid1"] because it can nicely stack the 3 id's with key and value.  Suffix="" takes care of tha

[2017-05-20 18:32] ResidentMario commented on #16402
I didn't quite finish the `fillna` error-mode patch because I got distracted elsewhere (and my GitHub activity has really dropped off the cliff). Should get back around to it relatively soon, though.

I was aware that this was the change that was planned for 2 but I'm still not sure an aggressive approach is best in 1. Interested in hearing what others have to say.

[2017-05-20 18:55] gfyoung commented on #16393
Can confirm this error on `master` (<a href="https://github.com/pandas-dev/pandas/commit/0f55de1b334131dd0577b91eb061dcb8bc65ef78">0f55de</a>) with both engines.

Here's what is going on.  When you pass in this data, there are clearly not enough columns (1 vs. 3).  As a result, `pandas` will move all extraneous column data to the `DataFrame`.  It is for this reason that you get [2] from @jreback e

[2017-05-20 21:59] #12405 closed

[2017-05-20 22:04] Stanpol opened #16404 "Index with dtype int32"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I want to make a DataFrame with Index that has size of int32. Can't do it.
A discussion here: https://stackoverflow.com/questions/44090944/how-to-change-index-dtype-of-pandas-dataframe-to-int32

#### Expected Output

Index with dtype int32. It will use 4 bytes instead of 8 bytes.

#### Output of ``pd.show_versi

[2017-05-20 22:16] jreback commented on #16404
This is possible, but would require some non-trivial work. RangeIndex obviates the need for much of this anyhow. Further most indexing requires int64 anyhow, so you end up upcasting at times. Careful performance testing would be required.

So this would require community contribution to do this.

[2017-05-21 08:10] chmp opened #16405 "BUG: DataFrame.agg({'col': 'size'}) not working"
`size` aggregation does not seem to work properly when used with ungrouped dataframes. When replacing `size` with `count` the examples run through. However, this change null semantics, counting nulls (`size`) in contrast to skipping nulls (`count`). The examples below are for Pandas version `0.20.1`.

When used with `.groupby(...)`, size aggregation works as expected:

[code]

Without `.groupby`,

[2017-05-21 08:12] minhouse commented on #12683
Hi, I'd like to have support to fix this error.
I got this error below when i load data from a Excel file that contains dates in column A and tried to use it as x axis for a graph by matplotlib. I didn't have this issue with Pandas0.16
Could anyone give me an advise how can i fix this error?

Error I got：
File "C:\Program Files\Anaconda3\lib\site-packages\pandas\io\excel.py", line 339, in _parse_e

[2017-05-21 14:30] zfrenchee commented on #16400
@jreback I could potentially take this on with some guidance from yourself and @shoyer. However, I would probably want to document the "new behavior" I'm advocating for in https://github.com/pandas-dev/pandas/issues/16316  (and defining in https://github.com/pandas-dev/pandas/pull/16386). I'm curious -- what would be the release timeline for new Interval / IntervalIndex behavior. Would that consti

[2017-05-21 16:04] jreback commented on #16405
hmm, that doesn't seem friendly. I think the issue is that ``size`` needs to be special cases in ``.agg`` because its a property on a Series/DataFarme and a function in ``.groupby``.

[2017-05-21 16:05] jreback commented on #16400
0.21.0, this is changing lots of things. minor releases are for bug fixes (and minor ones at that).

[2017-05-21 19:41] jreback opened #16406 "BUG: construction of tz-naive and tz-aware should not coerce"
[code]

should instead be

[code]

[2017-05-21 21:01] wesm opened #16409 "Tab completion in IPython 6 on Categorical shows warning"
With pandas 0.20.1, IPython 6.0.0 (stack from conda-forge) I have:

[code]

I'm not sure the origin or meaning in the output, but it's a bad smell that may confuse users

[2017-05-21 21:27] TomAugspurger commented on #16409
IPython 6 switched over to jedi for completion, which must execute at least some code? `Categorical.labels` is a property. It looks like we can get around this by specifying `__dir__`.
I think I've seen it in at least one other place.

@Carreau does this sound like an IPython bug? For a simpler example:

[code]

If so I'll file one on IPython. Either way I'll put up a PR to silence these using `__

[2017-05-21 22:02] Carreau commented on #16409
Yes it's a Jedi bug. There are 2 other issues open in IPython and spark.
Tab completion triggers jobs on spark.

I'll try to have a look this week, but we'll need a release of Jedi. You
can deactivate Jedi completion though, i'm on my phone so can't tell you
the option right now.

On May 21, 2017 14:28, "Tom Augspurger" <notifications@github.com> wrote:

[2017-05-21 23:30] wesm commented on #16409
FWIW, the Jedi completion in IPython 6 feels like a gigantic step backwards in UX in the IPython shell. I'm seeing 500ms or more tab completion lag on objects when using pandas; having used IPython since version 0.8.4 and never had this problem, a bit of a bummer =( I suspect pandas is a case of a "big" API that stretches some of the Jedi worst case scenarios. Is there a way to revert to the old c

[2017-05-21 23:33] nateyoder opened #16410 "IntervalIndex get_indexer may return -1 for values that are in the index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I expected get_indexer on IntervalIndex is expected to return the index of matching values.  However it does not always seem to do so.

#### Expected Output
In the above example I expected an output of a = np.array([1])

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
comm

[2017-05-22 01:25] Carreau commented on #16409
[code]
and
[code]

These two options can be of help, the old completer has not been deactivated and completions are merged with jedi ones.
Actually increasing the jedi timeout may make things faster as if you give enough time to jedi it will save a cache of the type-inference tree on disk and re-use that. Which should make most things ~quasi instantaneous (at least for me on matplotlib).

Dev bran

[2017-05-22 08:24] #16390 closed

[2017-05-22 08:39] #16270 closed

[2017-05-22 08:55] jorisvandenbossche commented on #12683
@minhouse you can easily fix your problem by doing the date conversion after reading in the excel

[code]

That said, this problem should also be solved in pandas 0.20 (the NotImplementedError should be removed). Can you test if this is the case?

[2017-05-22 10:52] toobaz commented on #16404
By the way: I think the following should behave as expected:

[code]

... except that, as suggested by @jreback , unexpected upcastings may happen when doing any non-trivial operation.

[2017-05-22 12:23] TomAugspurger commented on #16350
Worked on the latest build now that the permissions issues are sorted out: https://travis-ci.org/pandas-dev/pandas/jobs/234744706

[2017-05-22 12:23] #16350 closed

[2017-05-22 13:17] jreback commented on #16350
looks good. thanks @TomAugspurger

[2017-05-22 13:24] jreback commented on #16410
this should raise on this. We cannot efficiently handle non-monotonic indexes, though I think we actually try to do this.

@shoyer @buyology

[2017-05-22 13:25] jreback commented on #16410
@nateyoder welcome to have you take a look.

[2017-05-22 14:09] TomAugspurger commented on #16409
Thanks @Carreau. https://github.com/ipython/ipython/issues/9094 is the IPython issue for properties executing code.

[2017-05-22 14:50] minhouse commented on #12683
hi, @jorisvandenbossche thank you very much!  i was able to fix this problem with your solution.
may i ask you when pandas0.20 will be released?

thank you again

[2017-05-22 14:51] jorisvandenbossche commented on #12683
Pandas 0.20.1 was released about 3 weeks ago, so if you update your installation, you should already get it

[2017-05-22 15:08] AlbertDeFusco commented on #12683
Confirmed that `parse_dates=` now works with `pd.read_excel` in version 0.20.1 when datetimes are strings in the Excel file.

Thanks, @jorisvandenbossche!

[2017-05-22 15:10] jorisvandenbossche commented on #12683
Thanks for confirming! (and you have to thank Jeff for getting it in 0.20.1 :-))

[2017-05-22 15:23] TomAugspurger commented on #16284
Continuing from https://github.com/pandas-dev/pandas/pull/16307#issuecomment-303125751

Hmm I hadn't considered the interaction of `limit` and extrapolation...  I think that's covered by our current limit handling though.

My initial (very rough) thoughts are something like

[code]

The difference between pandas and scipy methods is unfortunate, but I don't think it's worth deprecating one or the

[2017-05-22 15:24] nateyoder commented on #16410
@jreback sounds like your desired behavior for now is raising? If that is the case I can try to take a look.

[2017-05-22 16:16] jorisvandenbossche commented on #16409
For me it happens on tab completing modules with deprecations as well. Eg `pd.lib.<TAB>` displays a huge list of warnings (but that might also be related to the way we implemented the shim, but in any case was not visible in IPython < 6.0)

[2017-05-22 16:22] #15405 closed

[2017-05-22 16:25] jorisvandenbossche commented on #6257
In the meantime, we have a nice docstring for DataFrameGroupby/SeriesGroupby.transform, but it would be nice to put the same docstring in the `GroupBy.transform` method as well, so this one shows up in the online docs: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.transform.html#pandas.core.groupby.GroupBy.transform

Since the docstring already exists, this shou

[2017-05-22 16:32] shoyer commented on #16410
Agreed, `get_indexer` should always do an exact lookup here.

[2017-05-22 16:38] economy commented on #12700
I'm new here, but will try to take a stab at this.

[2017-05-22 16:44] andymaheshw commented on #16310
Working on it at pycon2017 :)

[2017-05-22 16:47] jreback commented on #16410
actually ``.get_indexer()`` doesn't raise, so this is correct (meaning it was not found).

so this is correct (though certainly may not be handled correctly elsewhere), where are you seeing this (aside from the top-example)?
[code]

[2017-05-22 16:49] abarber4gh commented on #10559
current (0.20.x) branch appears to mostly use `sheet_name` so propose changing `sheetname` to `sheet_name`.

[code]

49 occurrences of sheet_name in io
[code]

25 occurrences of sheetname in io
[code]

[2017-05-22 16:51] nateyoder commented on #16410
The issue with this get_indexer call for IntervalIndex is that it returns -1 even though the interval IS in the index (as shown with the second assert in my example).  If non-monotonic IntervalIndex objects are not handled in the code it seems to me like creating one should raise?

[2017-05-22 17:02] jreback commented on #16410
@nateyoder sorry, you are right. this should return the right value, but ``get_indexer()`` never raises by definition. (the -1 indicate missing values)

[2017-05-22 17:02] DGrady opened #16415 "DOC: Additional examples for `json_normalize`"
When handling JSON data, a common use case is to start with a list of hierarchically nested records with an unknown, or possibly inconsistent, layout, and transform them into a flat tabular structure. Pandas' existing `json_normalize` function handles this use case, but the examples in the function's documentation don't make this clear. It could be useful to provide some additional explanation and

[2017-05-22 17:05] TomAugspurger commented on #12618
This was a dupe of https://github.com/pandas-dev/pandas/issues/15904 and closed by https://github.com/pandas-dev/pandas/pull/16166

[2017-05-22 17:05] #12618 closed

[2017-05-22 17:11] jorisvandenbossche commented on #16415
That seems like a good idea! (both tutorial docs and docstring can be updated)

[2017-05-22 17:17] jorisvandenbossche opened #16416 "DOC: add examples to docstrings"
This often used functions lacks some illustrating examples

- [x] ``sort_values`` (#16437)
- [ ] ``reset_values``
- [x] ``set_index`` (#16467)
- [x] ``fillna`` (#16437)
- [x] ``drop`` (#16437)
- [x] ``pop`` (#16520)

[2017-05-22 17:19] chernrick commented on #15819
Working on this at PyCon sprint

[2017-05-22 17:19] jschendel opened #16417 "BUG: IntervalIndex scalar lookup raises for included right endpoints when sorted decreasing."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The right endpoint is included in the interval `(10, 12]`, so a `KeyError` should not be raised for `s[12]`.  This occurs for all endpoints (12, 9, 6, 3) in the example above.  Using `loc` also raises.

This issue only occurs when the intervals are sorted decreasing; the lookup is successful for any other permut

[2017-05-22 17:19] jorisvandenbossche opened #16418 "DOC: add warning to append about inefficiency"
In many cases, using `append` to add rows is not the best way to go, as this is very inefficient (certainly if you do this in a for loop, each time taking a copy)

If in a situation where you have this pattern of appending in a for loop, you typically want to append to a list and then concatenate all at once using `concat`.

Would by good to add a note about this in the `append` docstring.

[2017-05-22 17:26] WBare commented on #16284
@TomAugspurger I agree in that I personally do not have a case where I would only want to extrapolate only, BUT, I'm concerned we are arbitrarily eliminating a use case that should get completed while we are in the code.

More generally, as a complete set of options, if we have the ability to interpolate only, why not the ability to extrapolate only?  I can imagine a user that would like to extend

[2017-05-22 17:27] margaret commented on #15690
I'm going to work on this (pycon sprints)

[2017-05-22 17:28] jorisvandenbossche commented on #16416
Other docstrings that are in the top most viewed and lacking examples: `reset_index`, `set_index`, `fillna`, `drop`

[2017-05-22 17:29] flipdazed commented on #9958
Should a new issue be opened for the `outer` join issue highlighted by @jiamo ?

[2017-05-22 17:30] puifais opened #16419 "DOC: Pandas Contribution Documentation: Forking Instructions"
#### Problem description

As a newbie contributing to an open source project for the first time, I find the[ instruction for forking](http://pandas.pydata.org/pandas-docs/stable/contributing.html#forking) a little difficult to follow. Specifically, on this line

[code]

#### Output of ``git clone git@github.com:your-user-name/pandas.git pandas-yourname``

<details>
Permission denied (publickey).
f

[2017-05-22 17:31] mogillies commented on #16418
I'm working on it.

[2017-05-22 17:31] lloydkirk commented on #16398
Working on this as a part of the pycon sprint

[2017-05-22 17:32] shoyer commented on #16410
Sometimes we raise a different error (e.g.,
pandas.errors.UnsortedIndexError) but in general we do try to avoid this.
On Mon, May 22, 2017 at 10:02 AM Jeff Reback <notifications@github.com>
wrote:

[2017-05-22 17:33] AndrewArcher commented on #16378
I'm going to start working on this.

[2017-05-22 17:35] VincentLa commented on #16342
What is `tm.makeDataFrame()`?

[2017-05-22 17:35] geoninja commented on #16416
@jorisvandenbossche I'd like to take this one.

[2017-05-22 17:36] TomAugspurger commented on #16342
@VincentLa Sorry, it's `import pandas.util.testing as tm` I'll fix it.

[2017-05-22 17:38] stanleyguan commented on #16342
Attempting to take a stab at this issue.

[2017-05-22 17:39] TomAugspurger commented on #16342
FYI I think @mogillies is working on this? Is that right?

[2017-05-22 17:40] bpraggastis commented on #14671
Is anyone working on this now. Just picked it up at #pandas sprint at #PyCon2017 ?

[2017-05-22 17:43] VincentLa commented on #16342
Awesome. Anyone at Pycon Sprints right now who is working on this issue?

[2017-05-22 17:45] jorisvandenbossche commented on #14671
@bpraggastis Note there is a closed PR https://github.com/pandas-dev/pandas/pull/14674 that started this work, but never was finished. You can have a look at that, and see whether it would be useful to start from that work (use the changes in that PR)

[2017-05-22 17:46] VincentLa commented on #16416
@geoninja any chance you're at Pycon doing sprints right now?

[2017-05-22 17:47] puifais commented on #16156
I'm working on this issue

[2017-05-22 17:48] VincentLa commented on #16416
I can add some examples for `fillna` and `drop`.

[2017-05-22 17:49] geoninja commented on #16416
@jorisvandenbossche Both Vincent and I are at PyCon so we will split the work on this one

[2017-05-22 17:49] #12700 closed

[2017-05-22 17:53] stanleyguan commented on #16342
Looking at Gitter discussions I think @mogillies is working on it. I will look for something else :)

[2017-05-22 17:57] VincentLa commented on #16342
@mogillies let me know if you're at Pycon right now and would be up for pairing!

[2017-05-22 18:04] TomAugspurger commented on #16284
Yeah, that makes sense. You'll just have to balance ease of implementation with not breaking existing code :)

[2017-05-22 18:10] TomAugspurger commented on #16419
I think your change makes sense (I usually use https)

Want to make a pull request updating that file?

[2017-05-22 18:12] stanleyguan commented on #15316
I'm taking a stab at this (from PyCon Sprint).

[2017-05-22 18:22] JimStearns206 commented on #15953
I'll take a stab at this (I'm at PyCon sprint).

[2017-05-22 18:25] jorisvandenbossche commented on #16342
@TomAugspurger if the `index` param is actually not working right now, shouldn't we change it to `index_col` at the same time?

[2017-05-22 18:26] AllanLRH opened #16423 "Add histtype argument to pandas.Series.plot.hist()"
Would be nice if pandas either

1. Propagated keyword arguments to Matploblib hist (I believe there's an issue about it here: #14109 )
2. Explicitly took the `histtype` argument, since `histtype='stepfilled'` can  greatly speed up the histogram plot rendering.

[2017-05-22 18:28] TomAugspurger commented on #16342
@jorisvandenbossche oh yeah, I guess we won't be breaking backwards compat :D

[2017-05-22 18:35] WBare commented on #16284
OK, cool.  Any ideas on the actual parameter?

Is everyone cool with

limit_type= ('interpolate' | 'extrapolate' | None=default to both which is current_behavior)

This seems consistent with existing parameters limit=n and limit_direction

[2017-05-22 18:48] jreback opened #16425 "ENH: add expanding window time support"
[5] should easily work. This is just disabled ATM.

[code]

[2017-05-22 18:52] bsweger commented on #16180
@TomAugspurger I'll take a stab at this one during PyCon sprints. Thanks!

[2017-05-22 19:03] steven-cutting opened #16427 "README improvements"
* README fixes
** Include reference to contribute guide in READEME. Some people have had a hard time finding their way from the repo to the contribution guide.
** In the "installation from source" section, refer to the actual section in the docs, instead of to the general website
**  Update "Discussion and Development" section: remove reference to scipy mailing list, but add one to pandas-dev mail

[2017-05-22 19:03] steven-cutting commented on #16427
I'm fixing this now.

[2017-05-22 19:10] jaredsnyder commented on #16394
I'm taking a crack at this.  Is the solution to just add lib.list_to_object_array back in along with a test for the tuple case, or should we check if comps contains tuples and use lib.list_to_object_array only if it does?

[2017-05-22 19:15] jorisvandenbossche commented on #15316
From discussion on gitter: this is caused by the fact that the TextParser by default skips empty lines. This is also the default behaviour of `read_csv`, but there this can be controlled by `skip_blank_lines`:

[code]

So possible options to go forward here:

- regard the current behaviour of read_excel (the one reported here, with the difference between parsing a single or multipe columns if you

[2017-05-22 19:19] mogillies commented on #16342
Should we change to Index_col?

[2017-05-22 19:21] mogillies commented on #16342
Sure.  I'm in the same room as you :)

[2017-05-22 19:22] TomAugspurger commented on #16342
@mogillies yeah, if you would `index_cols` (lowercase `i`)

[2017-05-22 19:23] mogillies commented on #16342
Sure.

[2017-05-22 19:24] stanleyguan commented on #15316
@jorisvandenbossche Thanks for moving the conversation over.

Some more illustration with TextParser:

[code]

[2017-05-22 19:26] DGrady commented on #11665
Is there still interest in getting this optimization working? When it was originally reported, it looks like it was giving at 5x or better speed up. I'm testing again and seeing pretty consistently a 2x, at best, speed up even for very large series. I am willing to tackle it but wanted to check on the status first, since it appears that it's going to make the `to_datetime` interface a bit more com

[2017-05-22 19:29] makmanalp commented on #13492
Hi! I'm at the sprints at pycon and am looking to pick this up!  Managed to reproduce the issue even though for the type I get:

[code]

instead of `numpy.string_` but perhaps that's a naming difference across numpy versions ('1.12.1' here).

Same issue arises when reading the table with `read_hdf` instead of `HDFStore` and doing a `reset_index()`.

In terms of expected behavior, I'm not entirely

[2017-05-22 19:33] makmanalp commented on #13492
Also can confirm that this doesn't happen with `table`.

[2017-05-22 19:33] chris-b1 commented on #15316
It seems like `read_csv` might do this in a different order - skipping lines only if the entire line is blank, then selecting columns - is that reasonable here?

[code]

[2017-05-22 19:38] mogillies commented on #16342
Just to clarify index param index not working
do you mean that first index not working or the second index not working
1.  index = index_cols
2.  index_cols = index_cols

if index is not None:
   data.set_index(index_cols)

or  (I don't think this is the case):
do you mean to use the function index_cols() in class Table?

if index is not None:
    data.index_cols()

[2017-05-22 19:45] jorisvandenbossche commented on #16394
@jaredsnyder I think you can try the exact change that @jreback showed above, when it are not tuples, both approaches should normally do the same, so I don't think it is needed to check if it contains tuples or not. And for sure adding a test!

[2017-05-22 19:47] TomAugspurger commented on #13492
@makmanalp yeah, I think the best thing to do would be to cast `np.str_` to a python string. Hopefully we don't hit any encoding issues... It's not clear to me whether `np.str_` is a python 3 str (unicode) or a python 2 str (bytes)

[2017-05-22 19:49] chernrick commented on #15819
Pull request: https://github.com/pandas-dev/pandas/pull/16431/files

[2017-05-22 19:52] chris-b1 commented on #15316
Actually, since `TextParser` now supports `usecols`, you probably could rip most of the column-specific logic out of `read_excel` and defer it to there, which would replicate read_csv.

[code]

[2017-05-22 19:55] jorisvandenbossche commented on #15316
Yes, that looks like a good way to go.
As the behaviour of `read_csv` (to only skip if the full line is missing, also when you select only some columns) certainly makes sense

[2017-05-22 20:01] jorisvandenbossche commented on #15690
@jreback Repeating my comment from on the PR: What I am wondering is what are potential consequences of such a change. As there are quite some places in the codebase where we wheck if the inferred type is 'mixed', so changing this would mean potential changes in the taken code path for Decimal objects (with potential changes in behaviour).
But don't know if those cases in the code would be relevan

[2017-05-22 20:06] jorisvandenbossche commented on #16342
Currently the keyword argument in `read_stata` to specify which colunm to set as the index is called `index`. And there are two issues:

- the fact that this parameter is not working
- the fact that it is a bit inconsistent with other read functions where we typically use `index_col`

You are trying to solve the first one. But what we suggest is to also fix the second one and rename the `index` ke

[2017-05-22 20:45] makmanalp commented on #13492
On my python3 installation, I'm finding that `np.string_` is just the same as `np.bytes_`, which is different from `np.str_`. So perhaps there is some py2/3 trickiness here. I'll give it a first stab and perhaps try it on both somehow.

[2017-05-22 20:48] TomAugspurger commented on #13492
Ugh that's unfortunate. I guess we should know the encoding inside the HDF reader.

[2017-05-22 20:50] jaredsnyder commented on #13238
I'm going to attempt fixing this one

[2017-05-22 21:13] lloydkirk commented on #16380
Going to work on this issue at the pycon sprint

[2017-05-22 21:21] makmanalp commented on #13492
Single-file example for easy reproduction:

[code]

[2017-05-22 21:23] jaredsnyder commented on #13238
Wouldn't we expect the index values to be at midnight on each day given that we're aggregating up to the day level?  If we run the code above without the timezones we get a similar output:

...               data=[1, 2, 3])

DatetimeIndex(['2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-02 06:00:00'],
              dtype='datetime64[ns]', freq=None)

2013-01-01    2
2013-01-0

[2017-05-22 21:37] james-nichols commented on #16363
I am looking at this as part of the PyCon2017 sprints

[2017-05-22 21:52] jreback commented on #11665
oh i think we should always do this
we could add an option to turn it off i suppose

basically if you have say at least 1000 elements or less you can not do it otherwise it's always worth it (yes there is a degenerate case with a really long u issue series but detecting that is often not worth it)

u can impelement then we an test a court or of cases and see

[2017-05-22 21:59] steven-cutting commented on #16338
I'm going to look into this. (pycon2017)

[2017-05-22 22:04] margaret commented on #13873
Going to take a stab at this (PyCon sprints)

[2017-05-22 22:08] higs4281 commented on #15796
Looking at this.

[2017-05-22 22:19] jreback commented on #15690
@jorisvandenbossche https://github.com/pandas-dev/pandas/pull/16426#issuecomment-303235278

after the PR is merged, should create an issue to *use* the new inference (though as I pointed, maybe not that useful ATM).

[2017-05-22 22:27] steven-cutting commented on #16334
I'm going to look into this (pycon2017).

[2017-05-22 23:09] scari commented on #12351
Working on this at PyCon.

[2017-05-22 23:17] rohanp opened #16440 "More memory efficient hash tables"
Currently hash tables are implemented with a [Cython wrapper](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/hashtable_class_helper.pxi.in) over the [klib library](https://github.com/attractivechaos/klib/blob/master/khash.h). As far as I can tell, the array in which klib uses to store the values is sparse. If large values are being stored in the hash table, this results in memory in

[2017-05-22 23:19] pvomelveny commented on #16405
Hey there, I started looking into this as part of the PyCon sprint.

Using the example:

[code]
I tracked down where the error that gets passed by is. In `pandas/core/base.py`:
[code]
The arg in this case is `'size'`, which *is* an actual attribute of the Series, just not, as expected, a callable one.  A `TypeError` then bubbles up back to the original `pandas/core/frame.py`'s [`aggregate`](https: