[2020-04-07 15:20] MomIsBestFriend commented on #33224
I have ran

[code]

---

So I'll open a new issue.

[2020-04-07 15:26] Bougeant opened #33370 "QST: Why is resample with high frequency faster than lower frequency"
When resampling a pandas DatetimeIndex, why would resampling daily (rule="D") or hourly (rule="H") between two dates be faster than resampling weekly ("W"), monthly ("M") or yearly ("Y")?

[code]

One would expect that resampling with yearly frequency would be much faster than hourly because there is only 11 rows to compute vs 87k+ rows in the case of an hourly resampling.

[2020-04-07 15:37] jbrockmendel commented on #33333
We did the renaming to make it easier to identify places where we access the BlockManager, but without a deprecation warning it will be easy for uses of `._data` to sneak back in.

w/r/t downstream projects, I think we _do_ want to wean most of them off of accessing the BlockManager.

[2020-04-07 15:47] MomIsBestFriend opened #33372 "BLD: Compatibility issues with master branch cython"
Continuation of issue #33224

---

With the latest version of cython, running ```python setup.py build_ext --inplace -j 0``` gives the following errors:

---

#### ```pandas/_libs/join.pyx```:

<details>

[code]

</details>

---

#### ```pandas/_libs/reshape.pyx```:

<details>

[code]
</details>

---

[join_zip.zip](https://github.com/pandas-dev/pandas/files/4445598/join_zip.zip)

[reshape_zip.zip

[2020-04-07 15:50] jessefarnham commented on #31464
take

[2020-04-07 16:02] TomAugspurger commented on #23359
Is the trouble PeriodArray taking a view on another array, or another array taking a view on the PeriodArray?

[2020-04-07 16:06] jbrockmendel commented on #23359
its one PeriodArray taking a view on another, so if the first does a setitem (that presumably invalidates the cache), the cache would need to be invalidated on the other

(this is also why im increasingly convinced that DTA/TDA need to have `freq` removed)

[2020-04-07 16:25] TomAugspurger commented on #23359
Gotcha. In theory, `PeriodArray.__init__` could create a weakref in both directions (view to orig and orig to view) and `__setitem__` would invalidate the caches of both. But that feels increasingly fragile.

[2020-04-07 16:38] darck-neos commented on #33330
In that case, the recommendation would be use `iloc` instead `values` and avoid it unless you want to display some values or don't use `values` for anything?

[2020-04-07 17:02] WillAyd commented on #33372
I couldn't reproduce this on master. Are you sure your environments are not getting crossed? pd.show_versions shows Python 3.7 yet the warnings are emitted from Python 3.8

[2020-04-07 18:23] Nikhilkumar8143 commented on #16322
Even I am having the same problem,I tried doing in your way but the current version already adds with try and catch block for pyqt.Please reply me I need to have a solution for this:

AttributeError: partially initialized module 'pandas' has no attribute 'plotting' (most likely due to a circular import)

[2020-04-07 18:24] Nikhilkumar8143 commented on #16536
Even I am having the same problem,I tried doing in your way but the current version already adds with try and catch block for pyqt.Please reply me I need to have a solution for this also where can find my pyqt if installed or not?

AttributeError: partially initialized module 'pandas' has no attribute 'plotting' (most likely due to a circular import)

[2020-04-07 18:26] Nikhilkumar8143 commented on #16536
Where can I find if my pyqt package is available or not? Please I need to have a solution for this

[2020-04-07 18:34] jbrockmendel commented on #33330
use .iloc for setting, yes.  .values really should only be used if you need to pass a numpy array to something outside of pandas

[2020-04-07 18:35] jbrockmendel commented on #33330
Closing since this isnt a bug, but happy to discuss this further.

[2020-04-07 18:35] #33330 closed

[2020-04-07 18:35] MomIsBestFriend commented on #33372
You are completely right! that's because I couldn't install pandas on with cython-master, so I activated my conda environment to display the ```pd.show_versions()```

[2020-04-07 18:45] MomIsBestFriend commented on #33372
@WillAyd I "force" built the extensions, and I have managed to post the output of ```pd.show_versions()```

[2020-04-07 19:00] MomIsBestFriend commented on #33198
@jbrockmendel I have tried to solve this, but I am no where near close to do this, I guess this one is non-trivial :disappointed:

But I did learn a lot about ```pdb``` while trying to solve this, so I guess that wasn't all a waste of time :)

[2020-04-07 19:05] jbrockmendel commented on #33198
how about let's walk through the process [i would use] to address this?

The line that isn't working as expected is `df.iloc[:, 1000:] = df.iloc[:, 1000:].astype(np.float32)`.  What is the actual function call that this is doing?

[2020-04-07 19:09] MomIsBestFriend commented on #33198
This takes a slice of ```df``` and cast it to be with dtype of ```float32```, and then assigning it back into ```df``` into the position of the taken slice?

[2020-04-07 19:12] jbrockmendel commented on #33198
yes.  more specifically, this is equivalent to

[code]

You can check that `value` here has the expected dtypes.  So lets look at the `__setitem__` call.  Where inside that call should we look at first?

[2020-04-07 19:14] jorisvandenbossche commented on #33368
Big +1 to deprecate passing values instead of dtypes.

I am not sure it needs to hurt performance to include the deprecation? (as long as internally we change all occurrences to call this with a dtype of course).

Right now, we eg have have this function to get the dtype:

https://github.com/pandas-dev/pandas/blob/70086c53b980e8d8db9dc931f7ea52dfd1bcb17c/pandas/core/dtypes/common.py#L1594-L1607

S

[2020-04-07 19:15] MomIsBestFriend commented on #33198
I have looked mainly at
https://github.com/pandas-dev/pandas/blob/70086c53b980e8d8db9dc931f7ea52dfd1bcb17c/pandas/core/indexing.py#L657

[2020-04-07 19:18] MomIsBestFriend commented on #33198
Tried to have things like:

[code]

[2020-04-07 19:22] jbrockmendel commented on #33198
(stop me if you dont want to engage in this exercise.  i think it may be useful)

thats the right place to look.  So setting `self = df.iloc` and walking through this, 658 is True, 659 is going to end up returning `key` unchanged, and 662 is going to end up giving `indexer = key`.  665 gives `iloc = self`, so let's look at `_setitem_with_indexer`

Looking at `_setitem_with_indexer`, where do thing

[2020-04-07 19:29] MomIsBestFriend commented on #33198
It's very useful!

I don't know, can you elaborate?

[2020-04-07 19:31] jbrockmendel commented on #33198
So looking through _setitem_with_indexer, from 1549-1574 its not doing any setting, just figuring out take_split_path.  What is take_split_path going to end up being?

[2020-04-07 19:32] MomIsBestFriend commented on #33198
False

[2020-04-07 19:40] MomIsBestFriend commented on #33198
@jbrockmendel removing the ```not``` at L1562 solves this issue!

[2020-04-07 20:18] TomAugspurger commented on #33315
Ah gotcha. So even though that's warning it's not causing the failure. My failure seems to come from the use of a deprecated macro

create environment

<details>

[code]

</details>

build

<details>

[code]

</details>

There is a warning while cythonizing

[code]

The errors

[code]

[2020-04-07 20:22] rgsl888prabhu opened #33380 "BUG: `pandas.Series.eq` doc and result mismatch for fill_value"
- [ ] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

As per the doc, if fill_value is provided and if the element at a position is missing in both series, then result will

[2020-04-07 20:26] jbrockmendel commented on #32638
Another candidate criterion that I'm finding in #33357 would be desirable: make this a class attribute instead of an instance attribute, like `Timestamp.min`, so that `DataFrame._constructor` is `DataFrame` instead of a property object.

Granted, the semantics of implementing that are pretty ugly.

[2020-04-07 20:31] TomAugspurger commented on #33358
Thanks for the report. Looks like a bug if you're interested in investigating more.

[2020-04-07 20:31] jbrockmendel commented on #33198
I think you're right on both counts.  My best guess as to the underlying issue is that the Block checks if it can hold the values being set, finds that it can, and so sets them inplace.

How should we proceed?

[2020-04-07 20:37] TomAugspurger commented on #33315
My workaround for now is to set `CFLAGS=-Wno-error=deprecated-declarations` prior to building extensions.

Is it clear to anyone else who's using `tp_print`? Us (in algos.pyx)? Cython? Python?

[2020-04-07 20:37] MomIsBestFriend commented on #33198
I think I got it

[code]

seems to not break anything (passed ```pandas/tests/frame/methods/**/*```), and still to give the expected output of

[code]

[2020-04-07 20:39] jbrockmendel commented on #33198
I'll be pretty surprised if that passes the full test suite, but give it a try

[2020-04-07 20:43] WillAyd commented on #33315
You are on a Mac right? There’s a separate issue specifically with 3.8 for tp_print.

That’s a definitely a weird one. Maybe we can change upstream in Cython. If not could add a no-error flag for deprecation warnings

Sent from my iPhone

[2020-04-07 20:46] TomAugspurger commented on #33315
Yeah, on a mac. https://github.com/pandas-dev/pandas/issues/33239 is the issue you were thinking of.

In our setup.py we currently skip `-Werror` for windows. Perhaps we add `-Wno-error=deprecated-declarations` for MacOS, while we work out issues with `-Werror`?

[2020-04-07 20:54] WillAyd commented on #33315
Seems reasonable.  I think only needed for Py38 (removed in 39)

Sent from my iPhone

[2020-04-07 21:41] WillAyd commented on #33372
Hmm somewhat confused by the responses - can you clarify that the environment you are using to cythonize the files is the same that you are using to compile things now?

[2020-04-07 21:46] MomIsBestFriend commented on #33372
@WillAyd Correct, I am cythonizing and compiling both on the same environment (python 3.8).

---

I created a separate environment for the cython-master, the cython-master environment is running on a python 3.8, while the "normal" __pandas___-dev enviroment is running on python 3.7.

[2020-04-07 22:01] da-woods commented on #33372
@WillAyd It's definitely reproducible, and the warnings are pointing towards something that'll actually crash (so it isn't just a case of silencing warnings). I've submitted a fix for Cython so hopefully should be resolved soon. It's obvious exactly where it's coming from so doesn't need further diagnostics here I think

The Cython fused dispatch code was changed to make it faster, but that's clea

[2020-04-07 22:09] WillAyd commented on #33372
Great! Thanks both of you

Sent from my iPhone

[2020-04-07 22:16] MomIsBestFriend commented on #33198
@jbrockmendel I don't know, how to proceed from here.

I am trying to learn how to fix bugs in general and what is a good way of thinking, when trying to solve bugs, how would *you* proceed from here?

[2020-04-07 22:25] jbrockmendel commented on #33198
So in _setitem_with_indexer we found that take_split_path is False, then L1575-1632 leaves our `indexer` unchanged (worth double-checking me on this)

item_labels gets defined on L1642, then since take_split_path is False all we have left to look at is L1781-L1816.  What part of that chunk of code is causing the problem?

[2020-04-07 22:28] MomIsBestFriend commented on #33198
AFAICT L1814-L1816, but I am really not sure about that.

[2020-04-07 22:32] jbrockmendel commented on #33198
Until you get an intuition for this part of the code, trial and error.

Do we go through that path?  I expected the condition on L1786-1795 wouldnt hold

[2020-04-07 22:37] MomIsBestFriend commented on #33198
Thank you for teaching me, this is really not taken for granted.

For some reason I thought we do, I just debugged it, we don't

[2020-04-07 22:56] jbrockmendel commented on #33198
OK, so we're back at L1814-1816.  Spoiler: 1815 is the relevant line.  It ends up doing `block.values[indexer] = value` on the one block in `self.obj._mgr` (and that `__setitem__` call works correctly).

From this we deduce that we'd be better off going down the `take_split_path` route.

So as you surmised early on, the _can_hold_element check is where we need to focus our attention.

In #33381 yo

[2020-04-07 23:10] #33136 closed

[2020-04-07 23:20] MomIsBestFriend commented on #33198
I want to say check for ```take_split_path``` with a different implementation? (have no clue what is the correct one)

or maybe change L1815, to something else?

---

@jbrockmendel As you can tell I am not sure about anything here.

[2020-04-07 23:35] jbrockmendel commented on #33198
No worries, we were all in this position once.

That is the right answer, but for the sake of learning the methodology id like you to think of what the 3rd possibility to consider would be.

[2020-04-08 00:12] MomIsBestFriend commented on #33198
@jbrockmendel I have looked at ```dir(blk)```, the only things that looked somewhat reasonable are: ```should_store``` and ```_can_consolidate```. am I in the right direction? doesn't seems so, I have also tried crazy things like ```isinstance(value.dtypes.iloc[0], type(blk.dtype))```.

---

Am I spouse to say what method of ```blk``` is the correct one?
or the answer is something more of the ```i

[2020-04-08 01:04] jbrockmendel commented on #33198
The third possibility I was looking for is that this may not be possible; its conceivable that the current behavior is intentional, and there is no good way to get the desired behavior without breaking an existing test.

So the next thing I would do is look at the failed tests in #33381 and ask: what is the difference between all of those cases and this case?

[2020-04-08 01:23] vasili111 opened #33386 "BUG: "nan" as a string instead of missing value."
*Sorry I cannot share the data. I tried to make test data but it does not gives same error or different missing values as described below.*

*Added more info at bottom about `pd.NA`*

I am loading data with code:

    df = pd.read_csv("C:/data.csv")

When loading data I am getting this warning:

    C:\Users\User1\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py

[2020-04-08 02:16] jbrockmendel commented on #33355
Unless im misunderstanding those two issues, this is different.  this is about the behavior of `Series.__getitem__` with a MultiIndex and integer key

[2020-04-08 02:55] jessefarnham commented on #33196
take

[2020-04-08 03:18] CerseiO commented on #33327
take

[2020-04-08 07:28] da-woods commented on #33372
This should be fixed in Cython now.

[2020-04-08 07:36] jorisvandenbossche opened #33389 "BUG: when adding multiple plots with different cmap, colorbars legends use first cmap"
For example, when doing twice a scatter plot with a different colormap, it adds a colorbar for each, but with the wrong colors:

[code]

![Figure_1_2](https://user-images.githubusercontent.com/1020496/78757174-59ef9300-797c-11ea-8d2b-a305582efb4b.png)

[2020-04-08 08:29] Arregator commented on #19254
I can't find a good solution for the problem of populating missing values of my dataset with **a most frequent** value **in a group** (NOTE: not mean, but most frequent).

I thought that would be way too often intention for those handling missing values.

I have a dataset:

[code]

and I want for my `mercedes   e-class   petrol                 NaN` to fill its `NaN` with `2000` as a most frequent

[2020-04-08 08:52] vaibhav-chopda commented on #21103
@theSuiGenerisAakash try removing "method='multi'" . This might help

[2020-04-08 09:12] MomIsBestFriend commented on #33372
I can confirmed that this is fixed!

Thank you @da-woods!

[2020-04-08 09:12] #33372 closed

[2020-04-08 09:21] loudlemon commented on #32738
Hi @tdpetrou
Apart from those, just one missing parameter
 - stacked

And as for the accessor's methods parameters, seems to be well documented. Did you mean documenting parameters like _figsize_, _title_  or _legend_ in every accessor method?

[2020-04-08 09:55] #11754 closed

[2020-04-08 10:35] tezhanduiyuan opened #33390 "QST:What's wrong with SHA256? Be hacked?"
When I pip3 install pandas using raspberrypi,it reports:

THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE. If you have updated the package versions, please update the hashes. Otherwise, examine the package contents carefully; someone may have tampered with them.
    pandas from https://www.piwheels.org/simple/pandas/pandas-1.0.3-cp37-cp37m-linux_armv7l.whl#sha256=f1b6b335a4aefff0

[2020-04-08 10:57] TomAugspurger commented on #33390
I'm not sure, but we don't maintain those packages.

[2020-04-08 10:57] #33390 closed

[2020-04-08 11:00] simonjayhawkins commented on #33194
Thanks @patrickxli for the report. closing as duplicate of #8435

[2020-04-08 11:00] #33194 closed

[2020-04-08 11:16] TomAugspurger commented on #33355
They're two different issues.

That's my intuition as well. I would call this a bug. IIRC we had a similar issue with incorrect fallback indexing and decided to deprecate the behavior (rather than just changing it). Does that sound correct?

[2020-04-08 11:20] simonjayhawkins commented on #33205
Thanks @dtrizna for the report. can you update the OP with a minimal reproducible example.

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports provides details how to provide the necessary information for us to reproduce your bug.

[2020-04-08 11:20] TomAugspurger opened #33391 "April 2020 Dev Meeting"
The monthly dev meeting is today, April 8th, at 18:00 UTC. Note that your local time may be different than last month due to daylight savings time. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar

Video Call: https://zoom.us/j/942410248
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&us

[2020-04-08 11:26] jorisvandenbossche commented on #33355
Yeah, as I said, it was only from reading the title where I saw "MultiIndex", "level", and "positional" ;-)

So `__getitem__` with integers is *positional* except for numerical indices, is that correct? (and there should normally be no fallback, I think. Eg for int or float index, it is always label based, and does not fall back to positional if the key is not present but would be within range pos

[2020-04-08 11:30] jorisvandenbossche commented on #33355
Interpreting a single label as indexing the first level sounds logical, but is also not fully explicit.

So I was wondering what it would give if you do this explicitly (index the first level with 0, index the second level with selecting all). But this actually is failing:

[code]

(or am I using IndexSlice wrongly?)

[2020-04-08 11:54] simonjayhawkins commented on #33168
At first glance, It appears this code sample gave the correct results in 0.25.3

[code]

[2020-04-08 13:05] TomAugspurger commented on #33239
After reading through the linked issues and BPOs I'm not sure that simply silencing this warning on macOS is the way to go. I'll do some more research, but for now I'm working around it with by setting `CFLAGS='-Wno-error=deprecated-declarations' ` when compiling.

[2020-04-08 14:00] TomAugspurger opened #33395 "BUG: Test failures with CPython master"
We have some failures on CPython master (commit c6e5c1123bac6cbb4c85265155af5349dcea522e to be precise):

[code]

Short tracebacks in the details

<details>

[code]

</details>

[2020-04-08 14:33] dsaxton opened #33396 "DEPR: Remove aliased Resampler methods"
It seems the forward and backward filling methods are duplicated for Resampler objects (e.g., bfill is an alias for backfill, and ffill is an alias for pad). Does it make sense to deprecate backfill and pad in favor of the bfill and ffill, as these names are more consistent with other methods in pandas (e.g., DataFrame.ffill)?

[2020-04-08 14:45] charlesdong1991 commented on #33369
thanks for posting @ftilde

I think the reason error bar is gone is the label you set is not in the `err` DataFrame, so if you use `['x']` instead, you should be able to see the error bar.

[2020-04-08 14:53] TomAugspurger opened #33397 "CI: pandas warnings in tests about keyword only arguments"
e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=32821&view=logs&j=76104ccd-8dcc-5006-a17c-28bcdd709542&t=cd420693-444f-5c55-14e0-1be238e189a1

[code]

We'll need to track down places where we're passing positional arguments like https://github.com/pandas-dev/pandas/blob/def6f6d67c18d6b76ef79defd9e3bd86385ef9de/pandas/tests/io/test_html.py#L886 and update them to use keyword arg

[2020-04-08 15:08] dsaxton commented on #33380
@rgsl888prabhu This documentation does seem confusing, but I think what it actually means is that the result of _filling_ will be null when both entries are missing rather than the result of the comparison itself (in this case the comparison has a bool dtype, so it actually cannot be null). An internal docstring is a bit more explicit:

I think this could probably be made more clear in the user-fa

[2020-04-08 15:19] jbrockmendel commented on #33355
I'm not sure I've ever seen IndexSlice used with `Series.__getitem__`; I usually think of it as being a `.loc` thing.  `Series.__getitem__`

The relevant logic for how we handle integers in `Series.__getitem__` is in `Index.get_value`:

[code]

But `MultiIndex.get_value` does not have that same `_should_fallback_to_positional` check. My thought ATM is that `MultiIndex._should_fallback_to_positiona

[2020-04-08 15:21] dtrizna commented on #33205
Try it out with following json file:
[code]
In case of using these dtypes during `read_json` - pandas just ignores this setting (note data types are "object", not "category" as specified in `dtypes` dictonary.
[code]
If we use same `dtypes` dictionary on DataFrame's `astype` method - setting is applied (note correct data types):
[code]

This raises problems with large datasets, when reading data w

[2020-04-08 15:31] Loupiol opened #33399 "DOC: DatetimeTZDtype astype behavior with Series.astype"
#### Code Sample

[code]

[code]

#### Problem description
Hello,

I noticed a strange behavior using `DatetimeTZDtype` , when specifying a timezone as argument. When the type is applied to a tz-naive datetime column using `astype`, it will first localize the timestamps to `UTC` and then convert the timezone, whereas I was expecting it would just localize my tz-naive timestamps.

My situation is I

[2020-04-08 15:41] jorisvandenbossche commented on #33355
With loc it indeed works:

[code]

But I would say that in this case getitem and loc should work similarly.

[2020-04-08 15:52] TomAugspurger commented on #33399
Thanks for the bug report. Your expected output matches the result for `DatetimeIndex.astype()` with the same values

[code]

cc @mroeschke and @jbrockmendel if you have thoughts on which of these is correct.

[2020-04-08 15:58] MomIsBestFriend commented on #33198
@jbrockmendel AFICT the difference is with the multi-index and categorical-index.

[2020-04-08 16:04] jbrockmendel commented on #33399
So first off, as a matter of heading off future headaches, you should be using "US/Eastern" instead of "EST".

I would expect the data stored in the database to be UTC times (or unix timestamps).  is that correct?  if not, how are they stored?

[2020-04-08 16:10] trungv0 commented on #33200
Hi, it seems to relate to `nan` values in grouped columns. This example might be helpful:

[code]

[2020-04-08 16:17] jbrockmendel commented on #33198
Let's look at the key/indexer being used in each case.  Recall in this issue we're looking at `[:, 1000:]` AKA `(slice(None), slice(1000, None))`

Browsing through the cases in #33381 (lets just look at setting with `.iloc`; granted most of the cases in there are with `.loc` which is a little more difficult exposiiton-wise), I see:

[code]

Since there are fewer useful examples in there than I exp

[2020-04-08 16:23] mroeschke commented on #33399
This behavior is documented in https://pandas.pydata.org/docs/user_guide/timeseries.html#time-zone-series-operations

[code]

I think the comment can be made more explicit as `# localize to UTC and convert to US/Eastern`. Think that small doc update would be worthwhile

[2020-04-08 16:24] mroeschke commented on #33399
And the `astype` documentation could be updated to reflect this behavior too. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html

[2020-04-08 16:28] MomIsBestFriend commented on #33198
Because in our example we look for a range of indexes? (RangeIndex)?

---

I feel like I am missing something __very__ basic here.

[2020-04-08 16:40] jbrockmendel commented on #33198
bingo!

In this case we are saying "set these entire columns" while in the other cases we are saying "set a subset of rows in these columns".

We're almost there.  How to we change the behavior in the new cases without breaking the old cases?

[2020-04-08 16:45] #33313 closed

[2020-04-08 16:53] Loupiol commented on #33399
If that's the expected behavior, I'll make it work with that then. A quick example in `astype` showing this would indeed avoid any future confusion (that's the first doc I checked).

However what's the rationale behind having a different behavior for `Series` and `DatetimeIndex` as @TomAugspurger showed?

[2020-04-08 17:13] #31464 closed

[2020-04-08 17:20] #33201 closed

[2020-04-08 17:21] TomAugspurger commented on #33399
I don’t think that’s deliberate.

[2020-04-08 17:24] jbrockmendel commented on #33399
That definitely seems undesirable

[2020-04-08 17:26] jbrockmendel commented on #32638
@jorisvandenbossche you mentioned geopandas returns a callable instead of a class.  How difficult would it be to change that?

Are we aware of any other downstream libraries that do that?

[2020-04-08 17:32] mroeschke opened #33401 "BUG: Index.astype does not localize to UTC first like Series.astype with datetime64[ns, tz] dtypes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`Out[5]` is the expected output as documented in https://pandas.pydata.org/docs/user_guide/ti

[2020-04-08 17:34] mroeschke commented on #33399
Created https://github.com/pandas-dev/pandas/issues/33401 for that discrepancy

[2020-04-08 17:35] MomIsBestFriend commented on #33198
@jbrockmendel I have tried in the past hour some things, this is the solution that have the less amount of errors (from what I tried)

[code]

[2020-04-08 17:39] jorisvandenbossche commented on #32638
See my explanation above https://github.com/pandas-dev/pandas/issues/32638#issuecomment-598044823, about that this is actually a feature for geopandas that we don't have to return a class.

I suppose I could make a dummy class with a `__new__` that has the same behaviour as the callable, but not sure what the value of that would be then.

So my question back is: what are the use cases for requirin

[2020-04-08 19:06] MomIsBestFriend commented on #33358
take

[2020-04-08 19:13] jorisvandenbossche commented on #33153
So on the call we discussed this more, and there was not much appetetite for restricting the behaviour for indexes with duplicates keys, so I think the conclusion is that we can fix the DataFrame cases to return a Series/DataFrame instead of raising an error for duplicate keys.

[2020-04-08 19:18] charlesdong1991 commented on #32738
thanks for taking this @loudlemon

just FYI, missing `stacked` docs is mentioned in #32759 and being taken care of by #33337

[2020-04-08 19:36] jbrockmendel commented on #33198
good!  do all the tests pass with this?

I haven't tried it yet, but my guess is going to be

[code]

So the main difference is check only for the first element of the tuple being a null slice, not any element.  Can you tell me why?

[2020-04-08 19:37] jorisvandenbossche commented on #33355
Some more related cases to consider

With the example series from above, but now a list indexer:

[code]

This is also doing positional indexing. So is this also a bug?

With a FloatIndex as first level, it seems even more broken:

[code]

(while a single-level FloatIndex is always label-based with integers)

[2020-04-08 19:47] loudlemon commented on #32738
@charlesdong1991
all right, thanks!
I suppose there is no need in closing the issue in this thread?

[2020-04-08 20:06] MomIsBestFriend commented on #33198
@jbrockmendel My guess is that the ```indexer[0]``` is our null slice, so that means the whole dataframe?

[2020-04-08 20:10] dsaxton commented on #33386
@vasili111 Can you try to break this into a smaller example that produces the issue you're seeing (i.e., try dividing your script into small steps to identify the point where the unexpected result appears, and then report only that)?

[2020-04-08 20:40] charlesdong1991 commented on #32738
yeah, still feel free to work on it! @loudlemon
I just saw you mention `stacked` is also missing, so leave this message to avoid repeated work.

[2020-04-08 21:12] jbrockmendel commented on #33355
@jorisvandenbossche heads up: i edited your last comment to define `ser2` to disambiguate from the OP example.

To make sure we're on the same page: my read of that is that `ser2[0]` should raise `KeyError` and `ser2[5]` is correct.  Does that match what you expect?  If so, this is fixed by #33404 (need to add a test for this new case)

The list-like case goes through a separate path, ill have to

[2020-04-08 21:50] jbrockmendel commented on #33355
tentative look at the list-of-ints case: in `Series._get_with` we end up doing

[code]

we should also have something equivalent to

[code]

I _think_ the is_integer and is_floating checks there should just reduce to `self.index._should_fallback_to_positional()`, which would nicely encompass the MultiIndex case (not sure about IntervalIndex ATM).  I'm starting a branch to address this glom of code

[2020-04-08 21:59] jbrockmendel commented on #33198
Important background: to a very rough approximation, we can think of a DataFrame as a dict of Series with the keys being `df.columns`.  So under the hood, the data in any given column is a single array.  But the data in a single _row_ contains elements from many columns, which may be many arrays.

So when we do `df.iloc[:, foo] = bar` we can say "cleanly swap out some new arrays for the old ones"

[2020-04-08 22:04] crash5936 commented on #32156
I also ran into this error and as mentioned, it was caused by trying to aggregate a non-existent column. Version 1.0.3

[2020-04-08 23:08] erik-hasse opened #33410 "BUG: ValueError: buffer source array is read-only during groupby"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-09 00:24] topper-123 opened #33412 "ENH: More permissable conversion to StringDtype"
Currently, converting directly to StringDtype is not really safe unless you know you've got a ``str`` type:

[code]
The net result is that we have to wrap conversions, so in general will have to do  ``x.astype(str).astype("string")``, which seems unnecessary.

This extends to other conversions to StringDtype, e.g. for ``read_excel`` we have to do:

[code]
where directly setting ``dtype={"col_x": "

[2020-04-09 02:42] jcezarms opened #33414 "ENH: Optionally pass dtypes as a dict into json_normalize"
#### Is your feature request related to a problem?

In some of my projects, the data I need to load as DataFrame comes in a json list.

We switched to `json_normalize` for its ease of use, but some memory/performance issues came as the default typing within this method outputs mostly `object`, `int64` and `float64` column dtypes for us - all of which are the most memory-demanding of their categori

[2020-04-09 05:59] tpanza opened #33417 "DOC: lreshape and wide_to_long references"
#### Location of the documentation

* [General functions](https://pandas.pydata.org/pandas-docs/version/1.0.3/reference/general_functions.html): Does not list `lreshape`
* [DataFrame reshaping, sorting, transposing](https://pandas.pydata.org/pandas-docs/version/1.0.3/reference/frame.html#reshaping-sorting-transposing): Does not list `lreshape` or `wide_to_long`
* [pd.melt](https://pandas.pydata.or

[2020-04-09 06:47] ronyarmon opened #33419 "pandas 1.0.0 conflict with Anaconda"
Trying to install or update from pandas 0.25.1 to 1.0.0 I'm getting into a long process of examining conflicts with existing packages:
[code]
Installation log:

Followed by:

And a conflict check against individual packages which takes a long time.

Working with pandas standalone or on virtual env is not an option as I need to run my function using a jupyter notebook.  Do I need to write it with v

[2020-04-09 06:49] jorisvandenbossche commented on #33412
This might be a duplicate of https://github.com/pandas-dev/pandas/issues/31204, at leas the `astype("string")` is discussed there.

And I suppose that if `astype("string")` works, doing `pd.Series(.., dtype="string")` should work similarly?

[2020-04-09 06:57] yohplala commented on #33358
Hi, thanks, I am not that at ease with development at the moment.

[2020-04-09 07:43] zxdawn opened #33420 "BUG: set_levels set wrong order levels for MutiIndex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The changed MutiIndex isn't the same order of assigned list.
[code]

#### Expected Output
[co

[2020-04-09 08:47] topper-123 commented on #33412
Yeah, it’s similar. I’ll close this.

[2020-04-09 08:47] #33412 closed

[2020-04-09 09:52] AlexKirko commented on #32865
@mroeschke
So I came across something very weird while working on fixing `std` and `var`. When calculating variance in a window, we use the unbiased sample variance formula instead of the population variance formula:

[code]

As far as I know, we use sample variance when we draw a limited number of data observations from the total population. When we slide a window across a data series, the data i

[2020-04-09 11:31] zxdawn commented on #33420
However, if I reassign the whole index instead of using `set_levels`, it works well:
[code]

Output:
[code]

[2020-04-09 13:41] TomAugspurger commented on #33419
We typically recommend working in environments: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

You can include jupyter notebook in your environment.

[2020-04-09 13:41] #33419 closed

[2020-04-09 13:46] TomAugspurger commented on #33410
Here's a reproducer without parquet.

[code]

There's a standard way to get cython to accept readonly arrays (adding `const`?) but I don't recall exactly.

[2020-04-09 14:41] jbrockmendel commented on #33410
in hashtable_func_helper.pxi.in L 209 `{{c_type}}[:] arr` needs to be changed to `const {{c_type}}[:] arr`

[2020-04-09 14:49] TomAugspurger commented on #33410
Thanks. @erik-hasse are you interested in making a PR with that change and tests?

[2020-04-09 15:04] erik-hasse commented on #33410
Sure. I haven't contributed to Pandas before, anything I should read before making the change and writing the test?

[2020-04-09 15:25] brandon-b-miller opened #33425 "BUG: str.cat produces NaNs when others is an Index"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The result should be the same as when `others` is a list or numpy array with the same values.

[2020-04-09 16:08] jbrockmendel opened #33426 "BUG: core.missing._akima_interpolate will raise AttributeError"
[code]

There is no `interpolate._isscalar` so this would raise if it were ever reached.  AFAICT we have only one test that gets to this function, must always have `der == 0`

[2020-04-09 16:27] Hackathorn opened #33428 "DOC: Data links in Pandas API Reference are broken 404"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.plotting.parallel_coordinates.html
...probably many examples in other sections

#### Documentation problem

Results in 404 not found error
df = pd.read_csv('https://raw.github.com/pandas-dev/pandas/master'
                    '/pandas/tests/data/csv/iris.csv')

#### Suggested fix for documentation

The GitHub s

[2020-04-09 16:30] TomAugspurger commented on #33428
Thanks for the report, a pull request to fix it would be welcome.

[2020-04-09 16:34] mfenner1 commented on #31691
There are similar issues with `pd.Series.plot`.  For example:

[code]

With`import matplotlib.pyplot as plt`:
[code]

[2020-04-09 16:35] TomAugspurger opened #33430 "DOC: Development guide giving 404"
https://pandas.pydata.org/docs/development/index.html is giving a 404 right now. Haven't looked into why cc @datapythonista.

[2020-04-09 16:38] TomAugspurger commented on #33410
Our contributing doc page is apparent broken right, now doc/source/development/contributing.rst should have all the information you need.

[2020-04-09 16:41] datapythonista commented on #33430
Oh, I guess the nginx redirect for the dev docs is capturing that, didn't realize. Will fix it shortly. Thanks for the heads up.

[2020-04-09 16:44] yixinxiao7 commented on #28917
Is this still being worked on? If not I'd like to take a look at this as well.

[2020-04-09 17:07] echasnovski opened #33433 "BUG: Using `kwargs` in `Rolling.apply()`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

**Expected**: using appropriate `kwargs` argument for `pandas.core.window.rolling.Rolling.app

[2020-04-09 17:15] jorisvandenbossche commented on #33430
How would the dev docs conflict? That's /docs/dev/ and not /docs/development/ ?

[2020-04-09 17:17] SurajH1 opened #33434 "tm.external_error_raised instead of tm.assertRaises in the documentation"
I tried to use tm.assertRaises but got the following error:

 with tm.assertRaises(ValueError):
AttributeError: module 'pandas.util.testing' has no attribute 'assertRaises'

After carefully assessing whether I had all the dependencies, I looked into the testing.py files and realised that there is no assertRaises function although the testing documentation advises to use the function.(https://githu

[2020-04-09 17:31] jolespin commented on #21850
If `.from_items` isn't going to be dereplicated then `Rpy2` is going to need to update their code:

[code]

I set up a GitHub issue to let them know the change breaks their code.
https://github.com/rpy2/rpy2/issues/680

[2020-04-09 17:33] datapythonista commented on #33430
Fixed.

The redirection url was `/docs/dev`, which apparently matches `/docs/development`, and I guess was redirecting to `<redirect_directory>/elopment`. Now it's `/docs/dev/` and everything seems to work as expected.

[2020-04-09 17:33] #33430 closed

[2020-04-09 17:39] jorisvandenbossche commented on #33410
The dev docs are still (or again since a few days) working fine: https://pandas.pydata.org/docs/dev/development/contributing.html

[2020-04-09 17:42] jorisvandenbossche commented on #33430
Ah :) Thanks for the quick fix!

[2020-04-09 17:48] Melikadastranj commented on #15103
No its not mandatory!

[2020-04-09 17:49] jorisvandenbossche commented on #32072
Yes, this is coming to pyarrow (it probably not get into the 0.17 release next week, but certainly the next).

So I think the way to go here is the work on enabling the pyarrow engine in read_csv, and a `filter` can be passed to pyarrow to actually filter while reading (https://github.com/pandas-dev/pandas/pull/31817).

[2020-04-09 18:18] TomAugspurger commented on #33430
Thanks!

[2020-04-09 18:19] mroeschke commented on #32865
@AlexKirko across pandas I think sample variance is what we calculate in general for `std` and `var` (we intentionally diverge from numpy) so I think this behavior is expected

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html

[2020-04-09 18:24] jbrockmendel opened #33437 "BUG: DataFrame constructor doesn't validate index/data lengths with EA data"
[code]

[2020-04-09 18:46] FSpanhel opened #33438 "BUG: Inconsistent behavior of pd.DataFrame.drop"
**Problem description**
Until an hour ago I thought that I can safely omit the use of inplace = True (which is not recommended, e.g., #30484) and instead use inplace = False and directly assign the result.
For example, I thought that
[code]
can be replaced by
[code]
where df is a pd.DataFrame.

However, this does not seem to be case when I use these operations within a function.
[code]
Compare thi

[2020-04-09 18:53] sam-cohan opened #33439 "BUG: Mysterious Series.get() with Int64Index bug"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-09 18:58] jackattackyang commented on #33428
take

[2020-04-09 19:08] sam-cohan commented on #33439
I stepped into the code, and it seems like somewhere inside the get is trying to look up the key in the values rather than the index.
[code]

[2020-04-09 19:17] sam-cohan commented on #33439
expected behavior:
[code]

[2020-04-09 19:38] sam-cohan commented on #33439
this is the full step-through of the code that gives the unexpected None:

[code]

[code]

[2020-04-09 20:18] AlexKirko commented on #32865
@mroeschke Sample variance makes total sense when we calculate variance for an entire DataFrame or Series, because it's probable that the data we have is a sample from some larger general population, and normalizing by N - 1 makes it unbiased.
However, when we slide a window across a series, this does not make sense to me. As far as I can see, the sample variance argument is illogical here, becaus

[2020-04-09 20:23] AlexKirko commented on #32865
I must add that in practice we rarely use small windows, plus data science methods that we apply to the estimation results can usually adapt to scaling.

If my argument is wrong, then I'll just add `std` and `var` to the whitelist.

[2020-04-09 20:56] rkashapov opened #33443 "BUG: Low performance of DataFrame operations"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I've faced a strange performance issue. The pandas' version works much longer than a bare-pyt

[2020-04-09 21:00] mroeschke commented on #32865
Your conclusion from a data scientist practitioner point of view makes sense, but I think the user will need to recognize that `ddof` may need to be adjusted (can't make assumptions of the users dataset or why they're calculating the statistic) in this situation.

From a software perspective, it's a nice to have consistency across the library how `std` and `var` are calculated, and having exposed

[2020-04-09 21:43] AlexKirko commented on #32865
@mroeschke
Thanks for the clarification. I'll just whitelist these two functions in a PR tomorrow then: they are working as intended.

[2020-04-10 00:53] dericke commented on #33215
`DataFrame.update()` will attempt to make a DataFrame out of the input if it isn't already a DataFrame. Why doesn't `Series.update()` do the same?

[2020-04-10 02:46] mroeschke commented on #11658
Looks like our min numpy version is 1.13.3 now and we dont support this kind of assignment anymore. Closing

[2020-04-10 02:46] #11658 closed

[2020-04-10 03:40] mroeschke commented on #13294
I think this asserts correctly as Brock mentions. Closing

[2020-04-10 03:40] #13294 closed

[2020-04-10 03:44] iancrespiok commented on #28298
You have to put as argument of the function get_group a tuple.

`grouped.get_group((name_1, name_2))`

[2020-04-10 03:58] mroeschke commented on #15631
This looks fixed in master. Could use a test

[code]

[2020-04-10 04:03] jbrockmendel commented on #33443
I expect this will be solved by #32779

[2020-04-10 04:09] mroeschke commented on #19862
The example looks to work on master. Could use a test

[code]

[2020-04-10 04:13] mroeschke commented on #20432
Looks like these raise sensible errors on master now. Could use a test

[code]

[2020-04-10 04:20] mroeschke commented on #20676
This looks to work on master. I guess it could use a test

[code]

[2020-04-10 04:22] mroeschke commented on #20734
Looks like we correctly coerce to object now. Guess this could use a test

[code]

[2020-04-10 04:26] mroeschke commented on #21636
Dont think the CI has been failing with this lately. We can reopen if it continues to be a problem

[2020-04-10 04:26] #21636 closed

[2020-04-10 04:58] mroeschke commented on #32289
Looks like this build isn't available anymore. Happy to reopen if we continue to see this issue

[2020-04-10 07:16] jorisvandenbossche commented on #33443
I don't think #32779 will help here, this is a single block (#32779 doesn't handle that case I noticed while trying out timings)

BTW, regarding the pure python one being faster. For small data, pandas (and to a lesser extent also numpy) will always have some more overhead. But if you go to a bit larger dataframe, you can already see that the pure python gets slower:

[code]

[2020-04-10 07:21] jorisvandenbossche commented on #33276
For future reference, the PR is this one: https://github.com/pandas-dev/pandas/pull/33138/files#r404458720, where we need to decide which values get passed into a cython algorithm (in this case a grouped one).

[2020-04-10 07:37] simonjayhawkins commented on #32289
I'll leave this open since #32284 didn't fix the underlying issue. tests were skipped.

[2020-04-10 07:51] jorisvandenbossche opened #33449 "BUG: Series.any/all with level keyword should preserve boolean dtype"
[code]

The dtype of the result could also be boolean instead of bool.

[2020-04-10 08:10] jorisvandenbossche commented on #33439
@sam-cohan I can't directly help based on the above, but if you could test with the latest release or pandas master, that would also be helpful (there have been some fixes related to groupby recently)

For getting a reproducible example:

I would indeed try to create a reproducibe example with the groupby operation, not the isolated .get, as it is indeed quite likely to be related to some groupby

[2020-04-10 08:37] #33253 closed

[2020-04-10 08:42] mizuy opened #33450 "BUG: maximum of pd.Series([np.nan],dtype=ordered_category) raise"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

In the older version, the same code didn't raise an error.

[code]

#### Problem description

Because of this behavior,

[2020-04-10 09:53] FSpanhel commented on #33438
**Solution**
The problem in 1) disappears if a copy of df is made before column 'a' is assigned.
[code]
This is consistent with 3) because .assign returns a copy.

The reason for the behavior in 1) is not related to pandas but how python deals with view/copies. To make it short:
-  df['a'] = 2 has the same id as df outside tfun.
-  df = df.drop(columns = ['a']) has a new id.

Therefore, the additi

[2020-04-10 10:08] FSpanhel commented on #30484
Regarding https://github.com/pandas-dev/pandas/issues/30484#issuecomment-569082159 and https://github.com/pandas-dev/pandas/issues/30484#issuecomment-569095457.

I would also not recommend the use of the inplace keyword. Note however, that you may have to adjust your code because df = df.drop("target", axis=1) returns a copy and not a view. See #33438.

[2020-04-10 10:27] FSpanhel opened #33451 "DOC: Be explicit whether a view or copy is returned"
#### Location of the documentation
For instance,
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

#### Documentation problem

Sometimes the documentation is explicit that a copy is returned, e.g., https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html -> "Returns a new object ...", sometimes it is not or not explicitly stated,

[2020-04-10 10:29] #33438 closed

[2020-04-10 10:42] jrderuiter opened #33452 "ENH: Use fsspec for reading/writing from/to S3, GCS, Azure Blob, etc."
#### Is your feature request related to a problem?

Currently pandas has some support for S3 and GCS using the pandas.io.{gcs,s3} modules, which are based on S3fs and gcsfs.

It seems like we could easily broaden the support for different filesystems by leveraging the fsspec library (https://pypi.org/project/fsspec/) and its interface implementations (see https://github.com/intake/filesystem_spec/

[2020-04-10 11:20] jrderuiter commented on #33452
Keen to hear any thoughts!

[2020-04-10 12:02] KenilMehta commented on #33438
I would like to help to solve this issue.
Upon investing a little, I found that this happens not only for the "drop" function but for the other functions like "replace".

The problem I found is that while assigning value to a data frame inside a function, another copy of the data frame is created. The following code snippet demonstrates it:

[code]
Output:

address before drop :  0x7f35cb4c33c8
ad

[2020-04-10 12:57] TomAugspurger commented on #33452
One challenge is that pandas wouldn't be able to take a hard dependency on fsspec. Whatever solution we end up with we'll need to keep that in mind.

IIRC, the s3- and gcs-specific bits of code are around URL discovery (taking a url like `s3://` and deciding to treat it specially) and the requirement that the buffer returned by `_get_filepath_or_buffer` needs to be wrapped in a TestIOWrapper, sinc

[2020-04-10 13:03] martindurant commented on #33452
Thanks for posting @jrderuiter , and for letting me know @TomAugspurger

Sorry, what does `TestIOWrapper` do?

Note the existence of `fsspec.open`, which allows you to get a file-like object from a target in a number of ways (e.g., with local caching, decompression, text decoding).

I can well understand pandas not wanting to depend upon fsspec, although it is small and has no deps of its own. It

[2020-04-10 13:04] TomAugspurger commented on #33452
Pandas parsers work on text streams I think. So when we're given a
ByteStream we wrap it in TextIOWrapper:
https://docs.python.org/3/library/io.html#io.TextIOWrapper

On Fri, Apr 10, 2020 at 8:03 AM Martin Durant <notifications@github.com>
wrote:

[2020-04-10 13:12] #33391 closed

[2020-04-10 13:30] martindurant commented on #33452
You wrote test, not text :)

So using `fsspec.open` with a text `mode` does this too.

[2020-04-10 13:36] simonjayhawkins opened #33455 "TYP: enable disallow-untyped-decorators in CI"
xref https://github.com/pandas-dev/pandas/pull/33160#issuecomment-608707397

in order to ensure adding decorators or changing existing decorators don't lose types on our typed functions, we could enable this flag, after resolving the current violations. (expand details)

<details>

$ mypy pandas --disallow-untyped-decorators
pandas\core\window\numba_.py:58: error: Untyped decorator makes function

[2020-04-10 14:18] TomAugspurger commented on #28488
@IsabellaRO that'd be great. I don't think anyone has submitted a pull request for it yet.

[2020-04-10 14:18] jorisvandenbossche opened #33457 "REGR: setting column with setitem should not modify existing array inplace"
So consider this example of a small dataframe with a nullable integer column:

[code]

Assigning a new column with `__setitem__` (`df[col] = ...`) normally does not even preserve the dtype:

[code]

When assigning a new nullable integer array, it of course keeps the dtype of the assigned values:

[code]

However, in this case you now also have the tricky side-effect of being in place:

[code]

I d

[2020-04-10 14:24] TomAugspurger commented on #33269
What would this mean for arbitrary extension dtypes?

[2020-04-10 14:28] dsaxton commented on #33215
@dericke  Hmm, that's a good point. I suppose a PR to make that change might be accepted?

[2020-04-10 14:43] simonjayhawkins commented on #32785
@jorisvandenbossche @WillAyd @jbrockmendel to avoid having similar conversations in separate PRs, we can xref back to this issue.

[2020-04-10 15:10] jbrockmendel commented on #33457
I'd be OK with this creating a new EB with a new EA, not wild about having a Block get a new array.

xref #33198, in both cases AFAICT the issue involves `_can_hold_element` being too permissive.

[2020-04-10 15:26] KenilMehta commented on #33449
Hi @jorisvandenbossche
This is my first Pandas Issue and I would like to help solve this issue.

Just for understanding the issue, the dtype of the Series object is "boolean", hence, we want the return type of Series.all() also to be "boolean" instead of "bool". Is that right?

[2020-04-10 16:00] #33355 closed

[2020-04-10 16:16] yixinxiao7 commented on #33420
take

[2020-04-10 16:26] WillAyd commented on #33434
We actually use pytest.raises now. @TomAugspurger @datapythonista are we still maintaining the wiki or should this be migrated to the docs somewhere?

[2020-04-10 16:29] TomAugspurger commented on #33434
Not using the wiki anymore. I'm guessing that has been moved to the
contributing guide.

On Fri, Apr 10, 2020 at 11:26 AM William Ayd <notifications@github.com>
wrote:

[2020-04-10 16:33] v-borges opened #33460 "BUG: When using apply on a DataFrame with SparseDtype, passing raw=True doesn't have any effect."
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
---

#### Code Sample, a copy-pastable example

[code]
Output:

 `0    <class 'pandas.core.series.Series'>`

#### Problem description

When using apply on a DataFrame with SparseDtype, passing raw=True doesn't have any effect.

#32425 is related but did not so

[2020-04-10 16:57] #33410 closed

[2020-04-10 16:59] #33173 closed

[2020-04-10 17:00] #33389 closed

[2020-04-10 17:07] jorisvandenbossche commented on #33457
I don't care about the Block (for an end user / from the EA perspective, the Block does not have any state you might want to preserve, while the actual array does), so creating a new block is certainly fine. Probably the cleanest API anyway (assigning new column = new Block, regardless of the data type)

[2020-04-10 17:22] jrderuiter commented on #33452
@TomAugspurger What do you mean exactly with your comment

Currently pandas is also relying on s3fs and gcsfs to open files on these file systems as well right? Or do you mean that pandas should be able to work normally with local files without having fsspec installed?

[2020-04-10 17:26] jrderuiter commented on #33452
In essence most of the integration would indeed involve url handling (to identify which file system should be used and then using open on the fsspec file system. We could also use fsspec.open directly, which lets fsspec figure out the file system and also lets you specify options for reading in text mode and handling things like compression.

[2020-04-10 17:29] #26109 closed

[2020-04-10 17:31] jbrockmendel commented on #27147
I originally thought #32782 would fix this, but it doesn't get all the way across the finish line.

[2020-04-10 17:38] TomAugspurger commented on #33452
Those are optional dependencies. We couldn’t call for example fsspec.open unconditionally.

[2020-04-10 17:40] #32621 closed

[2020-04-10 17:47] #33425 closed

[2020-04-10 18:05] gtg944q opened #33463 "merge_asof(left_index=True, right_on=...) overwrites left index with right index"
Building from an example in the docs...
[code]

[code]
Returned index is the index of left.

[code]
Returned index is the index of left.

[code]
Return value has index reset (I assume expected?)

[code]
Returned index is the index of _right_.

Perhaps I'm misunderstanding something about how this is supposed to work, but it seems to me that the behavior in the last example is incorrect.

[2020-04-10 18:09] gtg944q commented on #33463
NB:  proving to myself that the indexes returned in examples 2 and 4 are indeed the _indexes_, not the values:

[2020-04-10 18:18] martindurant commented on #33452
The inclusion of any protocol specifier, "://" could be taken to mean "use fsspec", although this would mean that "path" and "file://" don't use the same code.

[2020-04-10 18:20] MomIsBestFriend commented on #33463
@gtg944q Thank you for the report!

---

Do you mind paste the URL of the examples you found in the docs? we fixed a lot of documentation related problems recently, maybe this is already solved.

[2020-04-10 18:22] gtg944q commented on #33463
It's at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html, but I'm really just building on an example in there, so it's not a documentation problem.

[2020-04-10 18:44] jreback commented on #33452
I don’t think it would be hard to integrate this

could start by using instead of gcfs and s3fs and see what needs changing

[2020-04-10 18:50] mroeschke commented on #33460
#32425's fix will be applied when pandas 1.1 is released (should be in a couple of months). This fix was not backported to the 1.0.x versions of pandas

[2020-04-10 18:50] #33460 closed

[2020-04-10 19:53] nikhilpatwardhan opened #33466 "BUG: margin=True is affected by NaN in other columns in pivot_table"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-10 19:59] venkateshdatta1993 commented on #33399
Hey @mroeschke can I pick this up?

If I understand correctly, changes need to be made in two pages. 1. The astype page and 2. The timezone series operations page.

[2020-04-10 20:01] jorisvandenbossche commented on #33449
Yes, that is correct. But specifically with the `level` keyword as in the example above. Without using the `level` keyword, it already works as expected.

[2020-04-10 20:02] mroeschke commented on #33463
Since this is advertised as "left-join" like, the last 2 examples you provide are surprising, and I'd expect to propagate the values in the left index (and not reset the index or use the right index). I'll mark as a bug, but this _may_ break some existing tests.

[2020-04-10 20:04] mroeschke commented on #33399
Sure @venkateshdatta1993. Just this page needs an updated example with using a timezone data type with `astype` https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html

[2020-04-10 20:08] venkateshdatta1993 commented on #33399
take

[2020-04-10 20:09] venkateshdatta1993 commented on #33399
@mroeschke Awesome, I’ll work on it. Thanks for the clarification.

[2020-04-10 20:18] TomAugspurger commented on #33452
I'd hope that we get *back* on the same code path pretty quickly though, right? We'd take a detour through `fsspec` to get the file object, but once we have that we're back to where we would have been.

[2020-04-10 20:24] martindurant commented on #33452
Right, hope so :)

[2020-04-10 20:51] #32957 closed

[2020-04-10 21:03] jrderuiter commented on #33452
I’ll see if I can start drafting a PR :)

[2020-04-10 21:52] jackattackyang commented on #33428
The correct link is
`https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/iris.csv`

However doc string for `parallel_coordinates` actually contains the correct link. The referencing might be the problem. First time contributing and unfortunately running into problems with locally building pandas on Windows. Looking into it but have removed my assignment in the meantime.

[2020-04-10 22:21] #33196 closed

[2020-04-10 22:44] jbrockmendel opened #33469 "API: __getitem__[int] vs __setitem__[int] with Float64Index"
[code]

The `ser[5] = 5` case is an outlier because instead of having its label-vs-positional behavior determined by `ser.index._should_fallback_to_positional`, it is defermined by `if is_integer(key) and not self.index.inferred_type == "integer":`

[2020-04-10 23:48] dsaxton commented on #33450
Thanks, looks like the bug is on master as well

[2020-04-11 00:38] benji1123 opened #33472 "DOC: unwanted line of text"
#### Location of the documentation
[./doc/source/development/contributing.rst](https://github.com/pandas-dev/pandas/blob/master/doc/source/development/contributing.rst#bug-reports-and-enhancement-requests)

#### Documentation problem
There seems to be an [unwanted line of text](https://github.com/pandas-dev/pandas/blob/master/doc/source/development/contributing.rst) at the top of the document: "{{

[2020-04-11 01:32] alimcmaster1 commented on #29622
Awesome thanks vm!! @leonardr

[2020-04-11 01:32] #29622 closed

[2020-04-11 02:44] #33472 closed

[2020-04-11 04:12] fescobar96 opened #33475 "BUG: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead. import pandas.util.testing as tm"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-11 07:56] jorisvandenbossche commented on #29752
Friendly ping here. If I don't hear objections, I will take that as being OK with using the term "nullable dtypes" as for "dtype that uses NA as missing value indicator" (in documenation, docstring, potentially keywords xref #31242)

[2020-04-11 08:41] topper-123 commented on #33254
Maybe not use ``_from_scalars``, but add a ``fastpath`` parameter to ``_from_sequence``?

[2020-04-11 08:45] jorisvandenbossche commented on #33254
A keyword is certainly an option (I wouldn't call it ``fastpath``, since it is not necessarily faster, but something like ``strict``). One problem though is that adding a new keyword is not necessarily backwards compatible with already existing EAs.

[2020-04-11 08:52] anshalshukla commented on #29547
@MomIsBestFriend - All the strings except those in the core module are to be updated under this ticket. Right?

[2020-04-11 09:31] topper-123 commented on #33254
That's a good point, though a seperate method would have the same problem though (except if it routes to ``_from_sequence`` but that would break the strictness requirement...)?

[2020-04-11 10:09] kuraga opened #33476 "BUG: read_excel fails on multi-index with: empty name or equal names"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Note: `engine`s could be different.

#### Problem description

Exception on `pd.read_excel()`:
[code]

on XLSX like:
![

[2020-04-11 10:42] Nikhilkumar8143 commented on #16536
I didn't understand what you were saying.please I need to have a solution for these
AttributeError: partially initialized module 'pandas' has no attribute 'plotting' (most likely due to a circular import)

[2020-04-11 11:13] sumanau7 commented on #33360
take

[2020-04-11 11:30] jorisvandenbossche commented on #33254
Yes, that's the idea (see the point 1. in the top post).
Basically anything backwards compatible will initially "break" the strictness requirement until the EA is updated to implement the strict behaviour, I don't think there is a way around that (but in the end, it will not be worse than what we have now).

[2020-04-11 12:03] topper-123 commented on #33254
Ok, get it, treat ``_from_sequence`` as non-strict and add

[2020-04-11 12:10] jreback commented on #29752
nullable_dtypes is not great

would consider: return_dtypes=‘classic’ or ‘modern’

is the point of this keyword to default to ‘modern’ ? and it’s just for compatibility ?
otherwise we would have to deprecate this to change which seems a hassle

[2020-04-11 12:23] jorisvandenbossche commented on #29752
otherwise we would have to deprecate this to change which seems a hassle

The *initial* point is that it makes it easier for people to opt in to try out the new dtypes (similarly to the `convert_dtypes` method, but as an option in the readers, as that can avoid an extra conversion).
So no, initially this keyword will not default to use the nullable / modern dtypes (similarly as we are not planning

[2020-04-11 13:02] MarcoGorelli opened #33478 "CLN remove unreachable code in pandas/core/groupby/generic.py::DataFrameGroupBy::_wrap_applied_output"
NOTE: I'd originally [opened a PR](https://github.com/pandas-dev/pandas/pull/32583) to address this, but am now busy with other obligations + other PRs to respond to. So I'm opening it up as a good first issue for now, and will return to work on it if nobody takes it.

---------

In `pandas/core/groupby/generic.py::DataFrameGroupBy::_wrap_applied_output`, it seems this branch is never reached:

[c

[2020-04-11 14:10] mabelvj commented on #33141
Just made PR adding the ordered option to pd.cut https://github.com/pandas-dev/pandas/pull/33480.

If no labels provided and ordered is False, it will raise an error.

[2020-04-11 14:26] MomIsBestFriend opened #33481 "CI: Github actions error"
Noticed on #33479 and #33480

Seems like github actions have an internal error.

The error message:

[code]

[2020-04-11 14:34] MomIsBestFriend commented on #33481
Looks like this is fixed now

[2020-04-11 14:34] #33481 closed

[2020-04-11 15:02] santhisenan opened #33483 "BUG: Clipping a data frame after selecting only numeric columns does not work"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-11 15:07] santhisenan commented on #33483
I would also like to add that performing the operation without `.loc[]` throws SettingWithCopyWarning.

[code]

[code]

This also does not clip the dataframe.

[2020-04-11 15:09] santhisenan commented on #33483
Another observation:
[code]

This clips the values in the respective columns.

The output of the above piece of code is:
[code]

[2020-04-11 16:19] hasB4K commented on #28675
#31809 should help fix this, I have reproduced your code using the new `origin` argument:

[code]

Output:
[code]

[2020-04-11 16:40] sarwatfatimam commented on #32993
I am facing the same issue. A dataframe of 682 rows and 29 columns with data type being a string, it drops out two unique rows from the dataframe. These two rows are not completely unique, some of its columns are unique while other columns are the same but overall these rows are unique and should not be dropped. Another weird thing is that if I check these two rows separately in a dataframe, drop_

[2020-04-11 16:48] chrispe opened #33484 "BUG: pd.Series.replace(to_replace=...) does not preserve the original dtype of the series"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]
#### Problem description

The `pandas.Series.replace` does not return a series with the same `dtype` as the the original

[2020-04-11 16:57] Azharo commented on #15354
Agree, certainly need this feature added in. Trying to do running window correlations between stock prices and have to create my own function for it

[2020-04-11 17:18] dsaxton commented on #33484
I think that this is not only limited to string dtype:

[code]

[code]

Also related: https://github.com/pandas-dev/pandas/issues/32988

[2020-04-11 17:23] chrispe92 commented on #33484
Added this to the description, so it should be more clear now. Thanks for the feedback @dsaxton.

[2020-04-11 17:29] rhshadrach commented on #33153
Is the return type in various cases of a possible non-scalar result also part of this issue, or should it be separated off into another issue?

[2020-04-11 17:32] jbrockmendel commented on #29752
I agree with Joris here.  classic/modern also means that if we have an even better idea next year we have to use "post-modern"

[2020-04-11 17:42] hasB4K commented on #8521
#31809 should also help to fix this issue:

[code]

Outputs:
[code]

[2020-04-11 19:21] sarthakchaudhary13 commented on #33478
Hello @MarcoGorelli, can I work on this issue?

[2020-04-11 22:55] sam-cohan commented on #33439
Thanks for the feedback. I will try to see if I can get a subset of the data to provide a repro.

[2020-04-11 23:45] dsaxton commented on #33483
Looks like you've figured it out, but what seems to be happening is you're doing an inplace operation on a _copy_ of your data, which won't affect the original DataFrame:

[code]

[2020-04-12 00:25] santhisenan commented on #33483
@dsaxton, shouldn’t SettingWithCopyWarning be thrown then? I think it is confusing otherwise.

[2020-04-12 01:06] jreback commented on #33483
pls read the docs; https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html?highlight=settingwith#indexing-view-versus-copy

doing an inplace operation after indexing works in a copy of the data and this doesn’t do anything

this is generally but not always detectable (in this case it’s not)

[2020-04-12 01:06] #33483 closed

[2020-04-12 01:38] adamdbenson commented on #29181
I had the same message but found installing it `[conda|pip] install Bottleneck` fixed it

[2020-04-12 02:21] hasB4K opened #33489 "BUG: weird resample behavior between very similar cases of Period vs Datetimes"
- [X] I have checked that this issue has not already been reported. (as far as I know...)

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary infor

[2020-04-12 06:59] KenilMehta commented on #33449
Do we want the dtype of result Series to match with the original Series in all the cases or only in the case of boolean?

What would you expect the dtype of result Series to be in the following example?
[code]

[2020-04-12 08:36] cottrell commented on #31990
Jumping into this a bit late in the game ... but some questions about pd.NA came up on gitter and I see it is still experimental. If there is some place for discussion about pd.NA please point me there.

This use case points to allowing pd.NA to change the underlying numpy array dtypes to objects could be pretty bad.

If it was simply implemented as a mask attribute (sprase or dense optionally) ev

[2020-04-12 12:01] Aroksak opened #33492 "BUG: apply for series of numpy arrays falis with np functions"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-12 12:12] rhshadrach commented on #14107
I tested this issue and it appears that it was closed by PR #8758

[2020-04-12 12:24] alimcmaster1 commented on #33478
I think the first steps are to look at the _transform_general function and see how it could be broken down in more manageable/reusable functions. Might be quite a challenging good first issue - but feel free to give it a shot and let us know if you have any questions

[2020-04-12 12:35] MarcoGorelli commented on #33478
Yes, that's right - first step would be to break down this long function into smaller parts. After that (as a separate PR) you could simply remove the unused `else` branch.

True - but yes, do feel free to ask questions, and refer to the [contributing guide](https://pandas.pydata.org/docs/development/contributing.html) for how to get started

[2020-04-12 13:15] jorisvandenbossche commented on #31990
For integers and booleans, it is using a mask (see https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/masked.py). But for string dtype not (or not yet).

For general questions, we don't really have a good place to ask those, further discussing it on gitter is fine, or otherwise the mailing list. And if you have specific issues (bug reports, enhancement requests), new issues are fi

[2020-04-12 14:04] sarthakchaudhary13 commented on #33478
Ok @MarcoGorelli, I will try my best :smile:

[2020-04-12 14:56] mrupp-citrine opened #33494 "BUG: MultiIndex drop produces wrong output if not lexicographically sorted"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.
  Latest Pandas version my system installs (via `anaconda update pandas`), which is 0.25.3.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

A

[2020-04-12 16:05] dericke commented on #33215
As long as it wasn't a conscious design decision, I'll start working on it.

[2020-04-12 16:18] dsaxton commented on #33492
Hmm, given that this works either by wrapping the ufunc in a lambda or using map I think it likely qualifies as a bug (in the meantime you should be able to use either of these workarounds):

[code]

[2020-04-12 16:39] hasB4K commented on #30353
take

[2020-04-12 18:41] mfcabrera opened #33500 "BUG: Empty dataframe returns weird aggregation results with custom aggregation functions"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-12 21:34] #33206 closed

[2020-04-12 21:45] mroeschke opened #33503 "DEPR: weekofyear"
Now that `isocalendar` is available on `Timestamp`, `DatetimeIndex` and the `dt` accessor, `weekofyear` already exists in `isocalendar` and can be deprecated.

[2020-04-12 21:47] #33399 closed

[2020-04-12 21:48] #33397 closed

[2020-04-12 21:50] #32383 closed

[2020-04-12 22:08] jbrockmendel commented on #32586
re `concat_same_type`, there are three broad cases that `SomeEA.concat_same_type` may see:

1) matching types _and_ matching dtypes.
2) matching types but different dtypes (PA with different freqs, DTA with different tzs, Categorical with different categories, ...)
3) At least one instance of our class, but no assurance on the others (e.g. `Categorical.concat_same_type` aliases `concat_categorical

[2020-04-12 22:55] kyczawon commented on #27812
I have pandas 1.0.3 installed and still have the issue

[2020-04-12 23:00] #33358 closed

[2020-04-12 23:36] hasB4K commented on #30353
Hello @vapoto :slightly_smiling_face:,

FYI, I have tracked the error in #30353, it came from a bug of `pd.timedelta_ranges` (a bug that used to exists for `pd.date_range`, but it seems it was not implemented for timeldetas).

Your example gives the proper output on my PR.

On master without the fix:
[code]

On my PR:
[code]

Hopefully this should solve your issue!

[2020-04-12 23:57] devjeetr commented on #29697
take

[2020-04-13 00:17] alimcmaster1 opened #33507 "CI: Numpy Dev Build Failing"
Looks like our numpy dev build also uses a pre-release (alpha) of cython.

Is this the intended behaviour?

Think this is potentially what is causing the test failures:
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=33245&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=4d05ed0e-1ed3-5bff-dd63-1e957f2766a9

[code]

[2020-04-13 01:28] rmsilva1973 commented on #6893
Hey @jreback . Just received this bug for triage. It's still a reproducible issue as of '1.1.0.dev0+1247.g9c317322f'

[2020-04-13 01:38] devjeetr commented on #29102
take

[2020-04-13 01:48] jreback commented on #6893
and it’s an open issue if you want to submit a PR

[2020-04-13 01:53] sathyz commented on #33492
I wouldn't say, the failure is for all numpy functions,

[code]

I suppose, pandas is calling vectorised version of NumPy calls, which too raises the same exception.

[code]

[2020-04-13 01:56] devjeetr commented on #24817
take

[2020-04-13 04:47] retsyo opened #33515 "BUG: DataError: No numeric types to aggregate during pd.pivot_table"
I am using pandas 1.0.3 in anaconda python 3.6.6 64 bits on win7 64 bits

the following code

[code]
# says something like https://github.com/pandas-dev/pandas/issues/17382
[code]

# but if I do
[code]
then I get the pivot table as I expected

# the question
so you may find that I can't make a minimal excel file to let you reproduce the `DataError`. On the other hand, my original `df` is made by `

[2020-04-13 07:32] charlesdong1991 commented on #33515
Hi, @retsyo could you please make up a df that could reproduce the issue? (understand that it is a private excel file you cannot share, but you could read it into a df and change column names and values etc)

[2020-04-13 07:55] vapoto commented on #30353
Hi @hasB4K,

Thanks a lot for that! Seems like that would indeed solve the problem. I just added a suggestion to your PR to add tests for some of the cases that are currently working.

[2020-04-13 08:16] #33450 closed

[2020-04-13 08:17] jorisvandenbossche commented on #33450
Adding this to the 1.0.4 milestone, as this is a candidate for backporting in case we start doing that

[2020-04-13 10:10] mfcabrera opened #33517 "BUG: Fails and or weird aggregation results when using agg with custom functions"
- [x] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-13 10:42] jreback commented on #33450
let’s not add to the 1.04

there are a number of candidates but it’s going to take dedicated work to patch that branch

[2020-04-13 10:42] jreback commented on #33450
just add the regression tags

[2020-04-13 10:46] lc3t35 opened #33518 "BUG: Illegal instruction: 4 on mid2010 Mac"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

With a mid 2010 Mac, OSX 10.13.6 (High Sierra)

[code]

`import pandas as pd`, crashes with `Illegal instruction: 4`

This problem is mentionned also here :

https://github.com/conda/conda/issues/9678
https://github.com/das-developers/condaCDF/issues/1

and as it was detected when trying to run inside Anaconda/jupyter, th

[2020-04-13 10:46] jorisvandenbossche commented on #33450
Milestone is IMO much easier to keep track with. When we decide to not do a 1.0.4 release, we can simply move those to 1.1

[2020-04-13 10:54] jreback commented on #33450
that boat has sailed

and it’s plain confusing

milestone reflects what it is merged into not what you want

[2020-04-13 10:56] ikeuwanuakwa commented on #28546
I have the same problem, I removed xlrd and delete all xlrd folder in C:\Users\\anaconda3\Lib\site-packages
and reinstall with conda install -c anaconda xlrd
it worked for me.

[2020-04-13 10:58] TomAugspurger commented on #33518
Do you see the same issue with just `import numpy`?

[2020-04-13 12:00] lc3t35 commented on #33518
Yes,

[code]

I solved the problem by downgrading to numpy 1.17.4 with a specific Anaconda's environment as explained here : https://discourse.jupyter.org/t/osx-10-13-6-kernelrestarter-restarting-kernel/3965/10

[2020-04-13 12:49] TomAugspurger commented on #33518
Pandas imports numpy, so is there anything for pandas to do here?

[2020-04-13 12:58] TomAugspurger commented on #33507
I think we want Cython dev to catch regressions there.

cc @scoder if you have any ideas why this would be raising.

[code]

I'll try to recompile with Cython master to get the actual C code.

[2020-04-13 12:58] lc3t35 commented on #33518
@TomAugspurger yes pandas's users should be warned that they can't run anymore on these "old" Macs due to the default numpy version embedded in pandas by default. With this issue, they know now where the problem comes from and they are able to fix it.
Maybe the installation script of pandas can detect the hardware configuration (missing "VFX" in sysctl -a | grep machdep.cpu.features) and choose th

[2020-04-13 12:58] #33518 closed

[2020-04-13 13:00] TomAugspurger commented on #33518
We don't "embed" numpy. It sounds like this can / should be fixed upstream.

[2020-04-13 13:10] lc3t35 commented on #33518
A little warning in the dependencies of https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html :
[code]

[2020-04-13 13:12] TomAugspurger commented on #33518
I think we'll pass on that. I suspect this will be fixed in conda before
long making that unnecessary.

On Mon, Apr 13, 2020 at 8:10 AM Laurent Roger <notifications@github.com>
wrote:

[2020-04-13 13:28] TomAugspurger commented on #33507
I'm not really sure what's helpful to post here from the C file. This is a fused type so there's tons of output. Haven't been able to make a simpler reproducer yet, and I need to step away for a while.

[2020-04-13 13:43] JoElfner opened #33524 "ENH: Canonic SI frequency"
Since pandas is widely used for data science, including working with time series, a canonic representation of the frequency, as defined by SI standards, physics etc. would be a nice improvement.

To summarize differences between the general definition of frequency and the pandas definition of frequency:
- General definition: Frequency is in the unit of `1/time_period`, for SI unis more specificall

[2020-04-13 14:07] Dr-Irv commented on #29752
I agree that using "modern" creates issues in the future, even if we don't have a better idea.  Because let's say things remain the same 5 years from now.  Then "modern" is 5 years old.  Sounds odd.

There are two issues at play here:

1. What phrasing to use when writing prose to describe types that support `pd.NA`
2. What to use as an argument keyword

Proposal on the table by @jorisvandenbossch

[2020-04-13 14:11] TomAugspurger commented on #29752
+1 for defining "nullabe" as "dtypes using NA as the missing value indicator".

[2020-04-13 14:18] alpozcan commented on #19422
I can also confirm the same issue with first, last, min, max and sum aggregations in monthly resampling and day offset, on version 1.0.3.

[code]

[2020-04-13 14:28] jorisvandenbossche commented on #29752
Since we use "nullable" already in "nullable integer" or "nullable boolean" dtypes, and I suppose we want to keep using that term in that context, I would prefer "nullable" over "dtypes supporting `pd.NA`".
Those two are of course cases where it is not ambiguous, since those were not able to store NA/NaNs before, while in the future we might have more ambiguous cases like floats. But if we use "nu

[2020-04-13 16:33] yixinxiao7 commented on #33420
It seems that the problem's that the codes aren't being reset when the new level is set. Is there a method I could call to easily do this?

[2020-04-13 16:43] jbrockmendel commented on #33524
Is the DatetimeIndex attribute the main sticking point?  Or do you need something like a Hertz dtype (which would be similar to #10349)?

[2020-04-13 17:09] WillAyd commented on #29752
I still also am not a fan of `nullable_dtypes`.  Do we really need to handle StringArray and IntegerArray at the same time via the same keyword here? I wonder if separating those doesn't clear things up a bit

For the former I wonder if we should just do it i.e. a keyword doesn't toggle the behavior. What previously was an object dtype from the IO routines is replaced with the string dtype at a ce

[2020-04-13 17:52] scoder commented on #33507
@TomAugspurger No idea. The error message is plain wrong and I don't remember a specific change in that corner. A quick look in the sources also didn't reveal anything suspicious. It should accept a bool, and that's it. (And that also works in our test suite, at least according to the test we have…)

[2020-04-13 17:53] WillAyd commented on #33507
This is as minimal as a reproducer as I;ve found so far:

[code]

Not sure specifically within that what is throwing things off. Seems like changing any of the above makes it OK

[2020-04-13 18:12] TomAugspurger commented on #33507
Thanks. I'm bisecting Cython commits with that.

[2020-04-13 18:41] TomAugspurger commented on #33507
I may have messed up the bisect. It's pointing to https://github.com/cython/cython/commits/master?after=3ff468555338e203397c52b43a1f64627ad3443e+34, which doesn't really make sense...

Based on the title https://github.com/cython/cython/pull/3493 seems like a likely culprit, but checking out that commit it seems fine.

[2020-04-13 20:16] TomAugspurger commented on #33507
I won't be able to look into this more today. For now I'd recommend pinning Cython in the numpydev env.

[2020-04-13 20:16] scoder commented on #33507
Maybe you didn't clean your Cython installation before the bisect? That commit changes the version number, which could enforce a new installation and ABI module.

[2020-04-13 20:17] jorisvandenbossche commented on #29752
"string" dtype is not backwards compatible with object dtype, so that's the reason that for now (apart from it being experimental), this is not the default. We will indeed want to change this at some point, though. But I think that warrants a dedicated discussion.

It's not only IntegerArray vs StringArray. Currently, it is also already BooleanArray (so just a keyword for ints won't cover this). A

[2020-04-13 20:28] scoder commented on #33507
@WillAyd how do you reproduce the failure with that code? I'm asking because it compiles without error for me. How do you get it to fail? Is there anything else that I need?

[2020-04-13 20:34] WillAyd commented on #33507
It’s a run time error not compile time. Not at a computer but if you call that with an ndarray it will throw (can provide concrete steps in a few hours if needed)

Sent from my iPhone

[2020-04-13 22:15] rmsilva1973 commented on #31687
**print(df.where(pd.notnull(df), 'some_str'))** raises the same exception.
However **print(df.where(pd.notnull(df), 1))** works.

Debugging through the code, it seems on this line **new_result = trans(result).astype(dtype)**, the astype method is to blame. **dtype** here is **int64**

[2020-04-13 23:19] rmsilva1973 commented on #33475
@fescobar96 The code you pasted as an example doesn't trigger the warning. However, looking at the warning I think you might be trying this:

**import pandas.util.testing as tm**

And pandas returns a warning stating that this usage is deprecated. Just do this, instead:

**import pandas testing as tm**

This is not a bug in pandas...

[2020-04-13 23:32] fescobar96 commented on #33475
@rmsilva1973: Hi Renato, I am not importing pandas testing, I'm doing the following:
**import pandas as pd**
I am attaching the google colab notebook where I have been able to reproduce the error.
[](https://colab.research.google.com/drive/1pYbNqusO80gvCZ5jjNzyYOnwgjZr8azZ)
Thanks!

[2020-04-13 23:49] jreback commented on #33475
the offender is statsmodels

you are welcome to open an issue / patch there

[2020-04-13 23:49] #33475 closed

[2020-04-13 23:53] rmsilva1973 commented on #33475
@fescobar96 more specifically, the warning fires on importing seaborn. Anyway, like jreback said, it's a statsmodel issue.. :-)

[2020-04-14 00:11] WillAyd commented on #33507
If needed here's the runtime code:

[code]

setup.py

[code]

[2020-04-14 00:19] CloseChoice commented on #26209
This is not limited to DateTimeIndex. Could reproduce error with pandas 0.24.2 and the following code:

[code]

[2020-04-14 00:19] CloseChoice commented on #26209
take

[2020-04-14 00:30] zxdawn commented on #33420
@yixinxiao7 You question remind me that I can reset index after changing the multiindex:
[code]

However, I don't know how to reset codes in `set_levels`.

[2020-04-14 01:50] konstell commented on #33428
The path in the current doc is incorrect, but not because it has the incorrect domain name. The second line of the `read_csv` command should say `'/pandas/tests/data/iris.csv'` instead of `'/pandas/tests/data/csv/iris.csv'`

[2020-04-14 01:50] konstell commented on #33428
take

[2020-04-14 02:07] konstell commented on #33428
Upon further investigation, this has already been fixed in another PR 15 days ago: https://github.com/pandas-dev/pandas/pull/33099

[2020-04-14 02:45] jbrockmendel commented on #7138
we have lookup, i think this can be closed

[2020-04-14 03:28] rtlee9 commented on #33365
Looks like the regression was introduced in 2fc85593.

[code]

There are a few ways to resolve, please see #33540 for one solution

[2020-04-14 05:06] mroeschke commented on #23018
Looks like https://github.com/pandas-dev/pandas/issues/33203 is the more up to date discussion on this topic. Closing favor of that thread

[2020-04-14 05:06] #23018 closed

[2020-04-14 05:07] mroeschke commented on #33203
xref https://github.com/pandas-dev/pandas/issues/23018 as discussion points made on the same topic

[2020-04-14 05:20] mroeschke commented on #11126
Generally sounds like this issue is solved by the other commenters, but unfortunately without a reproducible example. For now we can close this issue and reopen if we encounter this again

[2020-04-14 05:20] #11126 closed

[2020-04-14 05:25] mroeschke commented on #13774
Will brings up a good point in addition to not much traction on this enhancement request, closing

[2020-04-14 05:25] #13774 closed

[2020-04-14 05:27] mroeschke commented on #16218
Since we don't support Python 2 anymore and this is working on Python 3, could use a test to ensure this always works in Python 3

[2020-04-14 05:31] scoder commented on #33507
Ok, got it. It's [this bug](https://github.com/cython/cython/blob/983192298f91352b6159dcd839c607d962bd0a4e/Cython/Compiler/FusedNode.py#L643-L645) that strikes again. The default argument of the _specialised_ fused function gets accidentally typed as dict, because the default argument of the generated _dispatch_ function is a dict. There's a spot somewhere in the pipeline where the type gets overw

[2020-04-14 05:43] scoder commented on #33507
I created a Cython ticket for this:
https://github.com/cython/cython/issues/3511

[2020-04-14 05:59] bganglia commented on #16218
@mroeschke I can work on this

[2020-04-14 07:08] Solly7 opened #33541 "DownSampling Time Series Data using pandas"
Hi all, i am still new to machine learning , I have time series data as per below and i need tips/help on how to downsample it using scikit-learn. see my dummy data below ,Payment status is my label(0=missed, 1=paid), i need to downsample using time series strategy and keeping temporal order

[code]

[2020-04-14 07:16] vishnu-dev opened #33542 "ENH: Use self values in Series groupby"
#### Is your feature request related to a problem?

I wish I could use pandas to do

[code]
rather than

[code]

#### Describe the solution you'd like

I would like pandas to interpret the series values as `grouper` when `by` or `level` is not provided.

#### API breaking implications

I can't think of any reason this will affect the API.

#### Describe alternatives you've considered

Grouping usi

[2020-04-14 07:19] vishnu-dev commented on #33541
This is is a general question as such. This should be asked in StackOverflow.

[2020-04-14 09:04] torfsen opened #33544 "BUG:Timezone lost when assigning Datetime via DataFrame.at"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-14 09:58] datapythonista commented on #33428
Fixed in #33099

[2020-04-14 09:58] #33428 closed

[2020-04-14 10:45] JoElfner commented on #33524
Good question... :)
I guess if the Hertz dtype was added automatically during DatetimeIndex creation, it would be a really nice solution. But would it be possible to directly make some calculations with the Hertz dtype without the need for any conversions? Like f.i. velocity/Hertz_dtype?
If not, imho an attribute is quite important. F.i. a period/freq of `'20s'` would yield `DatetimeIndex.freq_can

[2020-04-14 12:46] buhrmann commented on #30038
Hi, I was wondering whether it would be possible to consider the special case when an extension type doesn't _actually_ have any missing values. E.g.

[code]
returns
[code]
when it may in many cases be more convenient if the numpy dtype was integer rather than object.

[2020-04-14 12:58] TomAugspurger commented on #30038
We try to avoid value-dependent behavior where the metadata (shape, dtype, etc.) depend on the values of the array.

[2020-04-14 15:00] #31883 closed

[2020-04-14 16:22] jasonaue opened #33545 "BUG: index name is lost when doing groupby where by is a dict and at least one value in the by dict is a list of of size zero"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

To reproduce:

[code]

#### Output of ``pd.show_versions()``
[code]

[2020-04-14 16:25] mroeschke commented on #33541
Check out resample: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

Also this usage questions would be better suited for StackOverflow

[2020-04-14 16:25] #33541 closed

[2020-04-14 16:26] TomAugspurger commented on #33542
I don't think the intent of that code is especially clear.

[2020-04-14 16:40] chrispe92 commented on #32838
I think @jorisvandenbossche is right. This seems to work fine since this issue fix: https://github.com/pandas-dev/pandas/issues/32621
[code]
@tsoernes : Can you also confirm that? If that's the case, then I suggest we close this. Thanks!

[2020-04-14 16:42] mroeschke commented on #33544
Looks to be fixed on master:

[code]

I find similar but not explicit tests for this case (DataFrame assignment with `datetime.datetime` object). Could use a regression test

[2020-04-14 19:19] skregas opened #33547 "Spelling error in docs, Getting Started, section 03"
![spelling error in docs](https://user-images.githubusercontent.com/1487974/79264572-1671b900-7e95-11ea-8707-49e4c596a70b.PNG)

In the Getting Started tutorials, section 03 "How to get subsets from a DataFrame", the paragraph beginning:

should be:

[2020-04-14 19:24] pblankley opened #33548 "BUG: groupby resample different results with .agg() vs .mean()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-14 20:33] tsoernes commented on #32838
Your output is what is expected.

[2020-04-14 20:33] #32838 closed

[2020-04-14 20:51] jrderuiter commented on #33452
Just added an initial PR that changes get_filepath_or_buffer to use fsspec for non-file URLs supported by (known) fsspec implementations.

Unfortunately we couldn't use `fsspec.open` for opening files, as the method returns an OpenFile instance which is not a file-like object. We could get an underlying file-like object by calling `open` on the OpenFile, but this file handle would be closed before

[2020-04-14 21:05] martindurant commented on #33452
In our examples, you typically see

[code]
(i.e., the context makes the `OpenFile` into a concrete file-like)

How is this done now for s3fs?

[2020-04-14 21:09] jrderuiter commented on #33452
Yeah, but pandas just expects a file object to be returned, which the calling code will close for us. This means we can’t use the context manager approach.

Currently no storage options are passed to s3fs, I guess because boto3 allows you to specify things like access keys etc using env variables and aws configs.

[2020-04-14 21:15] martindurant commented on #33452
So you would need to keep hold of the OpenFile object, or have the generated file-like to keep a (circular) reference to it? That's a bit annoying.

True, the defaults for s3 will *often* work... GCS also has ways to define the default, but I'm not sure about azure. Some backends (like ssh) will always need parameters, although some of these can be encoded into the URL.

[2020-04-14 21:56] jbrockmendel commented on #33426
I'm guessing [this](https://github.com/scipy/scipy/blob/master/scipy/interpolate/polyint.py#L11) is the function that we're trying to get at:

[code]

[2020-04-14 22:05] #33547 closed

[2020-04-14 22:14] WillAyd commented on #33542
Hmm yea I am also -1 on this; there's also no equivalent on the DataFrame side of things AFAIK

[2020-04-14 22:16] alimcmaster1 commented on #28597
@mojones you still interesting in working on this?

See our contributing guide here: https://pandas.pydata.org/docs/development/contributing.html
to get started

[2020-04-14 23:21] rwijtvliet opened #33554 "BUG: merge left and merge inner produce different index-order"
According to the `df.merge` docstring and [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html), concerning the `how` parameter:

(emphasis mine.) I understand this to mean, that the order of the left index will be preserved when using `how='left'` and `how='inner'` (or omitted). Of course, some keys might not be present in the second case, but tha

[2020-04-14 23:50] w4nderlust commented on #32127
I confirm this happens also with this configuration:

<details><summary>Details</summary>
<p>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.candidate.1
python-bits      : 64
OS               : Linux
OS-release       : 5.3.0-46-generic
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en

[2020-04-15 01:20] jbrockmendel opened #33558 "BUG: pd.array([timedelta_like_strings]) should infer TimedeltaArray"
[code]

[2020-04-15 01:35] dsaxton commented on #33554
Here's a smaller example:

[code]

Does look like the documentation isn't entirely accurate here.

[2020-04-15 02:05] dsaxton commented on #33466
This looks to be the source of the bug (it's dropping rows with any missing data after calculating the pivot table but before getting the margins): https://github.com/pandas-dev/pandas/blob/d106b81ce532bc71ec6cced944ddb751a4b0e5a3/pandas/core/reshape/pivot.py#L159

which was itself added to fix a bug in crosstab: https://github.com/pandas-dev/pandas/pull/12614. So somehow this would have to be fix

[2020-04-15 02:47] jbrockmendel commented on #6744
Closeable?  It looks like this has gone as far as its gonna go

[2020-04-15 04:49] mroeschke commented on #6744
Sure. We can revisit this if it becomes active again

[2020-04-15 04:49] #6744 closed

[2020-04-15 06:00] patcharapolp commented on #12210
Hello, I have the exact same issue with this bug. Does anyone have the solution for this?

[2020-04-15 06:02] Fifthist commented on #33426
We could

1. Import `_isscalar` directly inside the definition of `_akima_interpolate`.

[code]

2. Use  [`is_scalar`](https://github.com/pandas-dev/pandas/blob/24827e5d93f55368803a8e6a599e5b0cf858ac24/pandas/core/missing.py#L17), which is already imported in the module. Looking at it's [definition](https://github.com/pandas-dev/pandas/blob/d106b81ce532bc71ec6cced944ddb751a4b0e5a3/pandas/_libs/lib

[2020-04-15 06:23] jorisvandenbossche commented on #33558
Why should it infer that? If passing strings., I think inferring a string type is best? And for conversions from string to timedelta64, we also have `pd.to_timedelta`

[2020-04-15 07:34] IDDT opened #33559 "BUG: Series.apply() throws an error on empty series when dtype = pd.StringDtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Applying a function to an empty Series with dtype `pd.StringDtype` throws `ValueError: PandasA

[2020-04-15 07:51] rwijtvliet commented on #33554
Hey, thanks for the comment! That's great, as I tried to create a smaller example myself, but in all cases `pandas` happened to give the correct answer :)

[2020-04-15 08:06] johan12345 opened #33560 "ENH: plotting function for "2D histograms"/"dynamic spectra" (similar to heatmap)"
#### Is your feature request related to a problem?

I often need to plot a heatmap of a DataFrame which uses an `IntervalIndex` as its columns (and, usually, time as its index). Such a plot could also be called a "dynamic spectrum" or "2D histogram" and is used to quickly get an idea of how a spectrum develops over time.

<img src="https://user-images.githubusercontent.com/5310424/79311884-6042b98

[2020-04-15 08:14] stefansimik commented on #12210
I wanted to check, but it is a little above my skillset to modify pandas internals.
But I still take it as challenge to check it once, because this issue is not fixed a few years already...

[2020-04-15 08:57] jrderuiter commented on #33452
Still, it would be nice to be able to explicitly pass these options somewhere. I now also have some code that interfaces with multiple Azure Blob stores or multiple S3 buckets with different credentials. Setting these things globally not really sufficient in this case.

[2020-04-15 09:27] buhrmann commented on #30038
Makes sense too. I was thinking about internal use cases we have, like aggregating a series (possibly extension type) with a function like unique, i.e. creating a list-like result for each group. It can get pretty messy at the moment massaging that into a consistent form (dtype) that can be serialized with Arrow e.g. (sometimes you'll get a numpy array and sometimes an extension array, converting

[2020-04-15 09:34] vishnu-dev commented on #33542
I'm only talking about Series here. There is no need for an equivalent representation in DataFrame as both of them are different in their roots. Also, what other ways would you think that `s.groupby()` could be interpreted other than grouping by series values itself?

[2020-04-15 09:42] jorisvandenbossche commented on #30038
For your specific use case, note that extension arrays can be converted to Arrow (eg IntegerArray cleanly converts to an arrow int array), so it might be an option to leave the list-like results from unique as they are (ndarray or pandas extension array) until converting to arrow (of course, this all depends on the specificities of your use case if this would make sense).

It's a bit a trade-off h

[2020-04-15 09:57] buhrmann commented on #30038
I agree, the current implementation returns predictable dtypes at least,
which makes it feasible on the user-side to map to specific numpy dtypes
where possible. That might get a little messy, but if the dtypes weren't as
consistent as they are, the same messiness would probably just pop-up
elsewhere.

On Wed, 15 Apr 2020 at 11:43, Joris Van den Bossche <
notifications@github.com> wrote:

[2020-04-15 10:08] dieterwang opened #33562 "BUG: df.style.apply(subset=...) argument only works for explicit slices but not ":""
Related to #25858 (if not the same?), reproduced on 0.25.3 and current version 1.0.3.

It seems that the `subset` argument for pd.DataFrame.style only works for slices with explicit labels, e.g. `['A',2]` but not for select-all labels, e.g. `[:,2]`. See MWE below

[code]

[2020-04-15 11:20] TomAugspurger commented on #33542
Dunno. I just don't find the intent of `s.groupby()` obvious.

We'll leave this open for a bit longer, but will close it unless there's more support.

[2020-04-15 11:24] TomAugspurger commented on #33559
Thanks for the report. Slightly smaller reproducer

[code]

We try to insert `np.array(<NA>)`.

In `_init_dict`

[code]

I'm not sure if that would need to change (special case length-0?) or whether `create_series_with_explicit_dtype` should change.

[2020-04-15 11:39] rwijtvliet commented on #33554
Btw - is it a problem in the documentation, or rather in the implementation?

[2020-04-15 11:49] jreback commented on #33542
-1 here as well; passing a grouper to s that is not the index of a actually is pretty common
; removing tat ability not only would be a major breaking change but remove functionality

[2020-04-15 11:53] AvverbioPronome commented on #2106
@stroobandt this is the solution I ended up using, I chose a timezone for the plot, and go with this:

[code]

[2020-04-15 12:16] Toussaic opened #33564 "DOC: rename_axis 'columns' param"
Example :
[code]

Except :
TypeError: rename_axis() got an unexpected keyword argument "columns"

Description :
The documentation shows a "columns" param which is not allowed for a Series. There should be a note to explain this parameter only apply for DataFrame.

Link :
https://github.com/pandas-dev/pandas/blob/3adf3340453d6704d4a2cb47058214cc697a7d29/pandas/core/generic.py#L1110-L1279

<details>

[2020-04-15 13:01] martindurant commented on #33452
In dask we have a single optional storage_options for the various IO functions, and fsspec itself refers to this convention in places.

[2020-04-15 13:21] routetehpacketz commented on #32857
I ran into this issue today on a Windows 2012 server after updating to Python 3.8 and installing pandas 1.0.3. I found concrt140.dll and msvcp140.dll in C:\Windows\System32 and copied them to the \pandas\_libs\window folder as specified [here](https://github.com/pandas-dev/pandas/pull/21321#issuecomment-395190010) to resolve.

[2020-04-15 13:41] KarenImmanuel commented on #14579
Is this issue fixed?

[2020-04-15 13:53] TomAugspurger commented on #33558
I think that'd be too magical. I think the result dtype of `pd.array` should only depend on the types of the values, not the values themselves.

[2020-04-15 13:55] jbrockmendel commented on #33426
we'll want to use is_scalar, will probably also need a lib.item_from_zerodim.

[2020-04-15 13:57] jbrockmendel commented on #33558
1) pd.array should mirror pd.Series and pd.Index.
2) The presence of pd.NaT should be a big hint

[2020-04-15 14:01] jorisvandenbossche commented on #33558
I don't think we necessarily need to copy "mistakes" from Series/Index constructors into `pd.array`. Whether this case is one is debatable for sure.
But personally, I don't think we should automatically convert strings to datetimelike dtypes (without `dtype` being specified).

BTW, `pd.array` already does not fully mirror Series/Index, as it has the "future" behaviour fo defaulting to eg nullable

[2020-04-15 14:10] TomAugspurger commented on #33558
Mmm I missed the NaT originally. That does change things, but I think it moves me to returning something like an object-dtype PandasArray.

What would your proposed behavior for something like

[code]

be? A case where the value isn't valid for to_timedelta.

[2020-04-15 14:11] jorisvandenbossche commented on #33558
The presence of NaT could, besides the option to coerce to datetimelike as you propose, also be a reason to not infer string dtype though, if we want to differentiate different missing value sentinels.

This is actually also what happens with ints. You get object dtype instead of float or datetimelike:

[code]

[2020-04-15 14:11] dsaxton commented on #33554
I suppose you could call it either, but personally I'd consider it more a documentation issue since it's promising behavior that's hard to define in general.  In the example above, suppose the right DataFrame was instead
[code]
so now the join is many-to-many. What does it mean to preserve order on the left? Are both [1, 1, 2, 1, 1] and [1, 1, 1, 2, 1] the "same" order as [1, 2, 1]? It's not as ob

[2020-04-15 14:14] jorisvandenbossche commented on #33558
If automatically coercing strings, the question also becomes which formats do automatically coerce and which not.

For example with datetime64:

[code]

The one coerces, the other not, while both work fine in `pd.to_datetime` and result in the same datetime

[2020-04-15 14:21] TomAugspurger commented on #33300
@simonjayhawkins I think in the call last week we decided to leave it up to you. If you have time to go through and backport the necessary PRs for a release we can go ahead and do it.

In addition to backporting, I think that

* https://github.com/MacPython/pandas-wheels/pull/82
* https://github.com/pandas-dev/pandas/issues/33210

are blockers.

[2020-04-15 14:44] jorisvandenbossche commented on #22994
Moving some discussion from #33535 here

Thinking out loud here: what if we have a `ExtensionDtype.__concat__(self, arrays, dtypes)` that either returns a concatenated array if it decides it knows how to concat those arrays, or otherwise returns NotImplemented.
So this is kind of a hybrid between `EA._concat_arrays` (from #33535) and the `ExtensionDtype.get_concat_dtype` from above.

Concatenating

[2020-04-15 14:46] jbrockmendel commented on #33558
I'm coming at this from a high-level view of "pd.array/pd.Index/pd.Series" should share code and behavior (#27460).  If there is not consensus on that, then this topic is moot.

The "01/12/2012" example is a good one.  That strikes me as surprising behavior in the Series constructor.

[2020-04-15 14:48] simonjayhawkins commented on #29752
is a global config option an alternative, and avoid adding keywords entirely.

if a user just wants to use the new types for a single IO read call, could use the `with pd.option_context(...):` syntax (or `pd.read_excel('filename.excel').as_nullable_types()`).

potential option naming could be `use_pandas_2.0_api`, `use_experimental_dtypes`, `use_StringDType` sort of hierarchy. where `use_experimen

[2020-04-15 14:48] jorisvandenbossche commented on #33558
To be clear, I am fully on board that in the long term, those should share code (and basically Index/Series should just call pd.array under the hood, or something close to that).

But we could also deprecate the behaviour of inferring strings like that in Series/Index, in the course of unifying things.

[2020-04-15 14:52] jbrockmendel commented on #33558
Conditional on the behavior+code converging, i have no real objection to that.

[2020-04-15 14:54] TomAugspurger commented on #22994
I worry a bit about `concat([a, b])` giving a different result dtype than `concat([b, a])`. I'm not sure how problematic that is in practice... (to be clear, that's also an issue with my proposed `get_concat_dtypes`).

Just stepping back a bit, it seems like we have everything we need for the actual *concatenation* part. It's just the casting / `astype` part that's causing issues. I'd love to be a

[2020-04-15 15:07] TomAugspurger commented on #33558
+1 to consistency / sharing code. I think the only intentional difference is that `array` can return the new nullable types. For `Series` we'll need to wait for a global option / flag to the Series constructor to opt into that (and Index will need to wait for EA-backed indexes).

Are we agreed that the expected dtype for these mixed cases (strings and NaT) is object?

[2020-04-15 15:11] jorisvandenbossche commented on #33558
I think that is best.

An option could also be to raise an error (I don't know how easy it is code-wise), and requiring users to specify dtype=object explicitly if they want object dtype. In the idea that, for this specific case (with people passing pd.NaT), the result wil almost never be what you want, so better to notify people of it.
Although that is also a slippery slope (in which cases to rai

[2020-04-15 15:12] jbrockmendel commented on #33558
For the example with "a" in it, yes.  For the datetime/timedelta-like strings, i'll need to give some thought to how id like Series/Index to behave longer-term.

[2020-04-15 15:25] charlesdong1991 opened #33567 "CI : jedi deprecation warnings fails CI"
[code]

[2020-04-15 16:02] abdullahodibat opened #33569 "BUG: strange behaviour in quantile with group by"
is this a bug in pandas? why null values in the grouped by field break the quantile?

[code]

produces this output:
[code]

im using pandas 1.0.3

[2020-04-15 17:32] EdAbati commented on #33544
Hi @mroeschke , can I pick this up (if it is still available)?

I could not find tests on the method `.at` but I found this: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/frame/indexing/test_iat.py

I could add the case in this issue in a test, similarly to what has been done on `.iat` in the past.
Is it what you were referring to or did you have something else in mind?

[2020-04-15 17:41] mroeschke commented on #33544
Sure @EdAbati. That location for the new test sounds good.

[2020-04-15 17:41] #33365 closed

[2020-04-15 17:46] jorisvandenbossche commented on #22994
That's a good point (it still needs the `get_concat_dtype`, right? so we don't have everything yet?)

So that brings the question: would there be cases where it would be beneficial / required to be able to only do the casting *while* concatting, instead of casting before hand. Or, would there be cases where you might cast differently knowing the arrays and not just dtypes?

I suppose we want casti

[2020-04-15 17:52] jorisvandenbossche commented on #22994
The only potential use case I could come up with right now is if you want as an EA to be able to infer object dtype while concatting.
Something we currently don't do ourselves I think (at least for the few cases I tested), but assume that you want to preserve the dtype in a case like this:

[code]

for which you need to inspect the values to know if that is possible to preserve the dtype. A potent

[2020-04-15 18:02] TomAugspurger commented on #22994
Yeah, we don't really have anything :) We don't have a function to take a `List[Dtype] -> dtype`, and we don't have the astype protocol down yet.

I'd be fine with losing the behavior you posted. I really, really like having dtype stability :) That partially comes from Dask, where we aren't able to replicate that behavior. But I also just thinks it's a generally good thing to strive for.

[2020-04-15 18:09] #33567 closed

[2020-04-15 18:24] drburrow commented on #7002
If nobody is currently working on this, I'd like to look more into it.

[2020-04-15 18:27] jorisvandenbossche commented on #22994
Yes, I agree this is a good thing to strive for (and to be clear, I also don't think we actually have a case that conflicts with it right now internally, I think we already cleaned up concat-related dtype things quite a bit the last years).

We for sure need to to fix the astype situation as well, but I think we don't need to wait on it to handle the concat situation. In many cases, the astype wil

[2020-04-15 18:33] jorisvandenbossche commented on #22994
Sorry for all the text :)

Additional question: are we happy with `ExtensionDtype.get_concat_dtype`, or:

- do we want to make this private (`_get_concat_dtype`, or in dunder form `__concat_dtype__`)
- do we want to have this concat-specific, or might there be use cases for keeping this more general? Eg a `get_result_dtype(dtypes, method="concat")`, which would allow to add other operations which

[2020-04-15 18:36] scoder commented on #33507
Could you give the latest Cython master branch a try? It has a fix.

[2020-04-15 18:58] #33041 closed

[2020-04-15 19:56] TomAugspurger commented on #22994
Agreed, doesn't matter which we use.

Agreed, let's not worry about that right now.

This feels like we're inviting order dependent behavior, but yes I think that's fine :)

Agreed, it should just be for EA authors. I'd prefer the `_get_concat_dtype` form rather than a dunder, since this isn't the protocol in the sense that there's a top-level method associated with it. It'll just be pandas callin

[2020-04-15 20:05] jorisvandenbossche commented on #22994
Can you explain this a bit more? I understand that for concat, we just need to know the dtype to pass to astype and the use `_concat_same_type`. But how would something like `get_result_dtype` be used in astype?

You mean like: when doing ``arr1.astype(dtype2)``, we can do `arr1.dtype.get_result_dtype([arr1.dtype, dtype2])` to know the resulting dtype? But we already know this, right? (it's `dtype

[2020-04-15 20:41] TomAugspurger commented on #22994
Sorry, may not have been clear. I think I was thinking of `get_result_dtype` getting `dtype2`, what the `.astype` should go to. Finding the right *implementation* is indeed another matter.

[2020-04-15 20:41] TomAugspurger commented on #22994
Yes, that seems correct.

[2020-04-15 21:31] jbrockmendel commented on #16593
Is the issue that you're not getting the same `Series` object?  Because you _are_ getting a view on the underlying data.

[2020-04-15 21:51] zifeo commented on #26647
@WillAyd The issue is [here](https://github.com/pandas-dev/pandas/blob/v1.0.3/pandas/io/json/_normalize.py#L274) (pulling at least one element out of the iterator), not sure this can be so easily refactored. Do you see any trouble `data = list(data)` could cause?

[2020-04-15 21:54] BenbrahimMouad opened #33574 "appropriate converting without '1900-01-01'"
hello everybody, i wish that you are in good healthy, so i have one little problem, i wanna to convert one column from my tabular csv (a lot of columns of time HH:MM:SS) so i see that a lot of my columns are object so i wanna to convert them to datetime64 with this method include in pandas library,

`data['DT']=data['DT].apply(pd.to_datetime)`
the problem that he showed me the actual date so i wan

[2020-04-15 22:12] jbrockmendel commented on #7501
Reading over this thread I was briefly optimistic "with ix gone this might be easier!" but nope

I agree with @jorisvandenbossche here.

I'd also be on board with a "nuke it from space" option to deprecate the ambiguous behaviors

[2020-04-15 22:13] willie3838 commented on #32316
take

[2020-04-15 22:54] rhshadrach commented on #6540
In the result of a groupby, the groups are the index, not the values. To me, this makes "g.value_counts()" a bit confusing. Since g.size() already gives the desired output, I personally think this should not be implemented/aliased.

[2020-04-15 23:18] GeyseR opened #33576 "BUG:"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Not sure is it a "real " bug or just an expected behavior of pandas. From the code fragment be

[2020-04-15 23:58] TomAugspurger commented on #31886
Bool has to return a Boolean I think. I don’t think there’s anything that can be done here right now.

[2020-04-15 23:58] #31886 closed

[2020-04-16 00:00] TomAugspurger commented on #31886
Hmm unless we implement __array_function__. That’s a ways off though I think.

[2020-04-16 00:33] neil-rubens commented on #24698
I had a similar problem.
After some debugging it seems that join was happening on NaN values:
resulting # of rows increased a lot (even though I was doing a left join with unique values in columns in both tables (with the exception for NaN).

Dropping NaN values from one of the tables fixes it.
(in my case I dropped from right one)

[2020-04-16 05:12] shirarez commented on #15354
Can't believe such a basic feature isn't there yet!
When will this issue be solved?
Thanks

[2020-04-16 05:14] gregorylivschitz commented on #33321
@TomAugspurger

This is happening because the empty dataframe returns an empty index and therefore the dtype is dtype('o'):
[code]

[code]

So there are 2 solutions I can think of.
1) We change mode when it's an empty dataframe to return a dataframe where the mode for that is actually NaN.
So go from:
[code]

To something like:
[code]

2) We change what empty dataframe returns when index is called

[2020-04-16 05:29] mroeschke commented on #33574
`datetime64` inherently always includes the date portion.

If you want the time only as a string, you can use `data['DT'].apply(pd.to_datetime).dt.strftime(..)` to only view the time portion

[2020-04-16 05:29] #33574 closed

[2020-04-16 07:53] UniqASL commented on #10349
I think the issue of dealing with units in `pandas `should really be at the top of the agenda. Most scientific calculations have to deal with units. I am currently using pint and its module [pint-pandas](https://pint.readthedocs.io/en/0.11/pint-pandas.html), which offers indeed very nice possibilities. It is very practical to have an automatized way to deal with unit conversions when making calcul

[2020-04-16 08:47] ivirshup commented on #33001
@TomAugspurger, did you have more thoughts on the feasibility/ desirability of immutability  enforcement? I wasn't sure if I should be putting more effort into this yet.

[2020-04-16 09:04] mojones commented on #28597
I'll take a stab at it today. Is there a more appropriate place than this comment thread to ask questions about contributing the test?

[2020-04-16 09:33] burk opened #33586 "API: Specify the dtype of new columns added in reindex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
[code]

#### Problem description

When re-indexing the columns of a sparse dataframe, new columns are not sparse. This i

[2020-04-16 10:03] pandichef commented on #29442
Fyi, this is still an issue on pandas 1.0.3.  @TomAugspurger I think there is a relatively quick fix that I'm using in a personal project... in DataFrameGroupBy, you have access to self.obj.  So you can write a class decorator to implement the following logic at the end of every method in DataFrameGroupBy:

if isinstance(method_result, DataFrame) and issubclass(self.obj.__class__, DataFrame):

[2020-04-16 10:11] zybex86 opened #33587 "QST: pd.pivot_table() generates wrong sums"
- [ X ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ X ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

I have stumbled upon a strange phenomenon...

The same question asked on [StackOverflow](https://stackoverflow.com/questions/60883087/pan

[2020-04-16 10:11] zybex86 commented on #33587
Probably I wont be able to give you the data to test it...

[2020-04-16 11:14] pramirpro12 commented on #28546
I am new to python. What did you install using pip3? could you please explain more thoroughly? Thanks.

[2020-04-16 11:26] PaulVoigt opened #33589 "BUG: KeyError on slicing with datetime, when datetime contains microseconds"
#### Problem description

Slicing a DataFrame with a datetime index by datetime results in a KeyError when the string contains microseconds.

 `df['2017-10-25T16:25:04.252':'2017-10-25T16:50:05.237']`

[code]

I think that the function .parse_time_string in pandas._libs.tslibs.parsing.pyx is not supporting microseconds and returns `None`

#### Output of ``pd.show_versions()``

pandas           : 1

[2020-04-16 12:37] TomAugspurger commented on #29442
The PR I linked to earlier has stalled a bit. It'd be best to address
calling groupby in a dedicated pull request if you're interested.

On Thu, Apr 16, 2020 at 5:04 AM pandichef <notifications@github.com> wrote:

[2020-04-16 12:38] martindurant commented on #33452
Well... the simplest thing you could do is
[code]
but unfortunately there are many read functions.

So I am thinking that we could change `OpenFile.open` to:
[code]
which would keep things alive. This *does* make a circular reference, but `OpenFile.close` removes the reference to `f` from the `OpenFile` instance (and callinf `OpenFile.close` again will have no effect).
This code will cause infinit

[2020-04-16 12:39] TomAugspurger commented on #33001
I think it's a good goal, but I vaguely recall issues with passing readonly
arrays to Cython. Perhaps most of those have been fixed.

To test, I'd recommend temporarily changing the Index constructors to all
mark their arrays as immutable and run the full test suite to see what
breaks.

On Thu, Apr 16, 2020 at 3:48 AM Isaac Virshup <notifications@github.com>
wrote:

[2020-04-16 12:40] TomAugspurger commented on #33321
We can construct an empty index with the right dtype (int64)

[code]

[2020-04-16 13:18] simonjayhawkins commented on #28597
c5a1f9e2c373ced9ef2f02ab64d11eaa7b4248f2 is the first new commit
commit c5a1f9e2c373ced9ef2f02ab64d11eaa7b4248f2
Author: Oliver Hofkens <oliver@novemberfive.co>
Date:   Wed Nov 20 13:46:18 2019 +0100

    BUG: Series groupby does not include nan counts for all categorical labels (#17605) (#29690)

[2020-04-16 13:21] simonjayhawkins commented on #28597
xref https://github.com/pandas-dev/pandas/issues/17605#issuecomment-333036797

[2020-04-16 13:26] BayerSe opened #33590 "BUG: replace in Series not working when pd.NA is present"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-16 13:46] ashwinij123 commented on #20935
same problem how to sol pls tell me

[2020-04-16 14:03] TomAugspurger commented on #33586
I don't agree that the column `y` should automatically be sparse. That kind of implicit dependence to the dtypes on the the other columns would lead to surprises.

What reindex lacks is a way to specify the dtype of the new columns. Something like

[code]

would be reasonable.

This is closely related to https://github.com/pandas-dev/pandas/issues/31874, where the `dtype` would be specified by the

[2020-04-16 14:41] simonjayhawkins commented on #23865
master includes the (1,2] bin
[code]

[2020-04-16 14:50] chadaeschliman commented on #26615
Looks like `_get_cythonized_result` is using `algorithms.take_nd` under the hood to do the shift after computing the index.  `algorithms.take_nd` takes a `fill_value` so this could be passed through.

[2020-04-16 14:53] simonjayhawkins commented on #23865
can confirm (using code sample in https://github.com/pandas-dev/pandas/issues/23865#issuecomment-441246392) that this issue was resolved in #29690

[2020-04-16 14:56] simonjayhawkins commented on #28597
xref #23865 (similar issue)

[2020-04-16 15:01] jdmarino opened #33591 "BUG: groupby first()/last() change datatype of all NaN columns to float; nth() preserves datatype"
- [x ] I have checked that this issue has not already been reported.
- [x ] I have confirmed this bug exists on the latest version of pandas.
Version 1.0.3 from the conda distro.

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Given a dataframe with an all-NaN column of str/objects, performing a groupby().first() will convert the all-NaN column to float.  This is true

[2020-04-16 16:04] pandichef commented on #29442
Sure.  I’d be happy to.  But I’d like to make sure that my solution is
acceptable at a high level before I start coding.  Some might consider the
decorator approach to be somewhat of a hack.  Alternatively, I could
manually change every “return DataFrame” into “return self.obj.__class__”.
  Please let me know what you think.

On Thu, Apr 16, 2020 at 8:37 AM Tom Augspurger <notifications@github.com

[2020-04-16 16:07] JamesAllingham opened #33593 "BUG: TypeError: _reconstruct: First argument must be a sub-type of ndarray"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

I am able to import the dataframe (which can be downloaded in zipped form from [here](https://javierantoran.github.io/

[2020-04-16 16:19] pcoccoli commented on #27328
Why does `pandas.DataFrame.to_json` accept `'iso'` as `date_format` but `to_csv` doesn't?  `to_string` doesn't accept a `date_format` arg at all.  It all seems so arbitrary.

[2020-04-16 16:27] TomAugspurger commented on #29442
I'm not sure offhand.

On Thu, Apr 16, 2020 at 11:04 AM pandichef <notifications@github.com> wrote:

[2020-04-16 16:34] TomAugspurger commented on #33452
cc @gfyoung if you have thoughts on the overall flow here.

[2020-04-16 17:07] simonjayhawkins commented on #33544
fixed in #31182

4edcc5541ff3f6470f5e3c083cb83136119e6f0c is the first new commit
commit 4edcc5541ff3f6470f5e3c083cb83136119e6f0c
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Jan 27 22:11:28 2020 -0800

    CLN: Make Series._values match Index._values (#31182)

[2020-04-16 17:20] gfyoung commented on #33452
Couple of points:

* Allowing `storage_options` isn't super problematic here.  We could easily add another parameter called `storage_options` to `read_csv` that accepts a `dict`.  Perhaps there's a better way so that we don't add yet another parameter to `read_csv`, but this would be the simplest of course.

* The issue of operating on an `OpenFile` object is a slightly more problematic one here f

[2020-04-16 17:46] eddy-geek commented on #4889
Here is a fancy hack if you have a good reason not to use `orient='table'` -- in my case it is 3x bigger than `orient='split'`.

Notes:
* index level names are lost by `orient='split'`, even with this
* it will probably break as soon as you use non-basic types (think: dates).

[code]

Example use
[code]
![image](https://user-images.githubusercontent.com/2772505/79488815-9c6b3c80-801a-11ea-986f-574

[2020-04-16 18:06] thebucc opened #33594 "BUG: pandas 1.0 dropna error with categorical data if pd.options.mode.use_inf_as_na = True"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-16 18:11] topper-123 commented on #33254
Sorry for closing this, I pressed the wrong button.

Are we close to a decision on this? The [docs on text data says](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html): <i>"We recommend using StringDtype to store text data."</i>, but there are problems in 1.0 and master like these below:

[code]

Those ValueErrors are IMO quite unintuitive for a user who expects StringDtype to be

[2020-04-16 18:50] eddy-geek commented on #32931
Not quite related -- I am surprised that
* mix of int and pd.NA defaults to `object` dtype
* `convert_dtypes` leaves it as `object`

Are these working as designed, already being ironed out, or should I open issues?

[code]
gives:
[code]

[2020-04-16 19:24] RylanSchaeffer commented on #8593
I know this isn't the place, but how does one use `nth()` with a groupby's `.agg()` method?

[2020-04-16 19:37] vaibhavjaitly commented on #10987
# Changing the timestamp column to datatime type to help in the day to day trend analysis

#Time = data['timestamp']
x = datetime(20160301103842, 'Y%m%d%H%M%S')
x

OverflowError: Python int too large to convert to C lon

[2020-04-16 21:06] TomAugspurger commented on #33594
Can you edit your post to include the full traceback and remove all the unnecessary examples (all the things that work). Just have the DataFrame creation and the code that fails.

[2020-04-16 21:08] TomAugspurger commented on #33593
What are the dtypes on the DataFrame?

And if you're able to, can you provide code to create the DataFrame? I'm guessing no maintainers will try to load your pickle file since it's a potential security issue.

[2020-04-16 21:09] martindurant commented on #33452
Previous experience of magically/silently passing method calls through to another object has proven error-prone for me; I would much rather put all the logic into ``OpenFile.open`, if possible.

That is exclusive to local files (makes no sense otherwise)

[2020-04-16 21:10] martindurant commented on #33452
... and all the other functions/methods that deal with file IO?

[2020-04-16 21:13] TomAugspurger commented on #33576
I think this is roughly working as expected. None is a a bit strange for a missing value, and we have some inconsistencies with object dtype.

I'd recommend using the new string dtype, which has a single missing value (pd.NA)

[code]

[2020-04-16 21:13] #33576 closed

[2020-04-16 21:14] TomAugspurger commented on #33587
Let us know if you can provide a reproducible example and we'll take a look.

[2020-04-16 21:18] JamesAllingham commented on #33593
Unfortunately I am not the person who created the DataFrame and I have no way of getting the code which created it. Here is what the head looks like:
[code]
And here are the data types (`df.dtypes`):
[code]

Thanks for the help!

[2020-04-16 21:22] #29814 closed

[2020-04-16 21:27] #30511 closed

[2020-04-16 21:28] gfyoung commented on #33452
Not sure I follow you here.  `pandas` would need to operate on a file-like (and special-casing for `fsspec` is not ideal for us).  How would putting all the logic into `open` address this?

Hence why I said "sort of"

Yes.  We would need to pass them somehow.

[2020-04-16 21:44] eddy-geek commented on #12689
This seems to have unintended side-effects -- i.e. why should this seemingly innocuous code raise ValueError?:

[code]

[2020-04-16 23:11] 3nrique0 commented on #28546
When you are in a virtual environment of python3, pip is the same as pip3.
Probably the error is how xlrd is being handled during installation:

[code]

[2020-04-16 23:37] alimcmaster1 commented on #28490
@dlindelof agree - lets continue the discussion over in https://github.com/pandas-dev/pandas/issues/26388 since that's addressing the same problem

[2020-04-16 23:37] #28490 closed

[2020-04-16 23:38] #26284 closed

[2020-04-17 00:10] alimcmaster1 commented on #26388
@jorisvandenbossche i'm happy to take a look at this.

You ideas make sense to me. Think we can get rid of our `get_filepath_or_buffer` and `pyarrow.parquet.read_table` [here](https://github.com/pandas-dev/pandas/blob/master/pandas/io/parquet.py#L114) and generalise to [ParquetDataset](https://arrow.apache.org/docs/python/generated/pyarrow.parquet.ParquetDataset.html) any thoughts/concerns?

[2020-04-17 00:17] WillAyd commented on #26647
closed by #33585

[2020-04-17 00:17] #26647 closed

[2020-04-17 00:22] h-vetinari commented on #28984
I think the correct approach would be to add a `dropna` parameter (defaulting to True) that exists for several other methods already.

[2020-04-17 00:56] h-vetinari opened #33601 "ENH: add pandas.core.groupby.DataFrameGroupBy.nlargest / nsmallest"
#### Is your feature request related to a problem?

It's common to want to select nlargest/nsmallest within a groupby based on whichever column is supposed to determine the sort order. However, the DataFrameGroupBy API has no such function, and it's very cumbersome to first select the largest records of a Series and then somehow reduce the dataframe based on that (and it's essentially impossible i

[2020-04-17 01:40] pbotros opened #33603 "BUG: TimeDeltaIndex slicing with strings incorrectly includes too much data"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-17 02:53] #32800 closed

[2020-04-17 03:20] jbrockmendel commented on #11026
AFAICT this boils down to trying to optimize `MultiIndex.get_locs`.  I haven't looked at it closely, but its plausible that there are optimizations available in lexsorted cases by caching more aggressively.

[2020-04-17 04:39] #33590 closed

[2020-04-17 06:48] burk commented on #33586
Thanks for having a look. I agree that specifying the `dtype` of the new columns would be reasonable and sufficient.

[2020-04-17 07:41] janheindejong commented on #29928
I guess I have the same problem.

Creating two DFs, one with multiindex, and one without:

[code]

Converting the 'normal' DataFrame to json and back works fine (both in split and table orientation):

[code]

But doing the same with the multiindex one doesn't.

[code]

Raises: `TypeError: <class 'tuple'> is not convertible to datetime`

[code]

Raises: `NotImplementedError: orient='table' is not s

[2020-04-17 08:23] ogrisel opened #33606 "ENH: Always display column headers in HTML output when scrolling down on long dataframes"
#### Is your feature request related to a problem?

I sometimes need to visually screen several hundreds of records. For this I do:

[code]
and then display the dataframe in the output cell of a jupyter notebook.

However if the dataframe is long enough to not fit in a single browser window, scrolling down hides the column headers and it makes it really hard to interpret the content of bottom reco

[2020-04-17 08:28] simonjayhawkins commented on #33300
potential backports (add to this list)

- [ ]  #33462 (regression in 1.0.2)

[2020-04-17 08:48] zybex86 commented on #33587
unfortunately I can't give any data as this is a job project... I'll try to fiddle with the data some more, and keep u posted

[2020-04-17 10:50] simonjayhawkins commented on #32931
since pd.NA is experimental, changing the constructor to default to the best possible dtypes using dtypes supporting pd.NA seems reasonable.

from https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.convert_dtypes.html

so again these seems to be a reasonable expectation.

however, from https://pandas.pydata.org/docs/dev/user_guide/missing_data.html?highlight=convert_dtypes#conversio

[2020-04-17 11:16] simonjayhawkins commented on #33058
#33072 added the test, xref #33300 to link/track potential backport so we can close this issue.

[2020-04-17 11:16] #33058 closed

[2020-04-17 11:27] GeyseR commented on #33576
Hi @TomAugspurger,

In our projects we use self-written utilities for converting django querysets to pandas dataframes, that look like this (simplefied version):
[code]

Some of the fields obviously could be `None`. Basically that is the reason why we have a lot of Nones in our data. Do you think it is the invalid usage/conversion? Would you recommend converting all None values to np.nan?

[2020-04-17 11:30] TomAugspurger commented on #33576
I'd recommend using the new string dtype and pd.NA for string values.

On Fri, Apr 17, 2020 at 6:27 AM Sergey Fursov <notifications@github.com>
wrote:

[2020-04-17 11:47] TomAugspurger commented on #33593
If you save that DataFrame with pandas 0.24.2 and load it with 1.0.3, do you see the exception?

[2020-04-17 12:32] JamesAllingham commented on #33593
No, it works fine in that case.

[2020-04-17 12:53] martindurant commented on #33452
I meant like this, which does seem to successfully clean up the file-like and the OpenFile, so long as the file-like has `close()` called. You would need to use a weakref (to `f.close`?) to break the reference cycle to clean up when `f` is garbage collected instead.
[code]

[2020-04-17 12:54] jreback commented on #33593
you pickle is way too old
that error was for when series inherited from ndarrays

1.x doesn’t suooort pickles that old

[2020-04-17 12:54] #33593 closed

[2020-04-17 12:57] TomAugspurger commented on #33593
Ah, I misread it as your pickle was created in 0.24.2. Yes, we definitely don't support reading pickle files from that old of a version.

[2020-04-17 13:05] JamesAllingham commented on #33593
I think it would be great to have an informative error message that explains the problem. Or better yet, backwards compatibility for these old pickles. I imagine that there are plenty of old pickles floating around that people will want to be able to import into the new versions of Pandas. Of course, I realize that this might be more effort than it is worth to implement and maintain, so the error

[2020-04-17 13:10] jorisvandenbossche commented on #33503
Is such a deprecation needed?

Yes, it gives some duplication in functionality, but:

- Those existing attributes have been around for a long time, and people have been happily using them.
- Personally, I think `weekofyear` is more accessible (more logical to think of, easier findable with tab completion) than through `isocalendar`
- `isocalendar` is also doing more work (and thus slower) if all y

[2020-04-17 13:29] mgmarino commented on #33503
I'm ok with not deprecating, but I have a few comments:

- Just because they're used a lot doesn't mean they're used correctly and I would argue that `weekofyear` leads to a lot of hidden issues.  That is, people don't realize that it's the ISO week and might not realize that `year` doesn't always match up with it.  Indeed a quick search through the issues here yields a number of reported "bugs".

[2020-04-17 14:10] DataInformer commented on #25970
take

[2020-04-17 14:11] DataInformer commented on #25970
This does seem inconsistent and still a problem in the latest version.  I plan to alter to so that bin frequencies add up to 1 (when dropna=True).

[2020-04-17 14:25] jreback commented on #33503
perf is a non issue here

the only issue is cost of deprecation va correctness

eg realize that u r using iso

+1 on actually having an informative api

[2020-04-17 14:30] jorisvandenbossche commented on #29752
A global config is certainly interesting, and something that has been suggested from time to time as a way to opt-in to new dtypes / another way to try it out.
Personally, I think it makes sense to also have it as keywords ("local" option), because a config option works globally (and eg also impacts all the libraries you are using), and depending on your situation, one or the other might work bett

[2020-04-17 14:45] Dr-Irv commented on #29752
Another reason is that getting the "nullable dtypes" to work in different readers might be implemented at different times for different readers.  E.g., maybe `read_csv()` gets done first, but then getting it to work in `read_excel()`, `read_sql()` happens later.  So the keyword argument may not exist for all readers.  If I recall when I tried to figure this out, the use of the nullable dtypes woul

[2020-04-17 16:07] gwerbin commented on #22496
@jbrockmendel did you take a look at my proposed patch? It will probably need a major rebase obviously. Just want to make sure what I did is an acceptable approach before I put more time into it.

[2020-04-17 17:02] SurajH1 commented on #24670
I narrowed down the issue to line ~675 in expr.py :

 The issue seems to be that the ast items in node.args don't have an attribute "value". Is the purpose of this line to copy over the whole tree from node.args to new_args. If so, why not use ast.copy()

[2020-04-17 17:17] dsaxton commented on #33591
I think this is fixed on master:

[code]

[2020-04-17 17:40] LTe commented on #27220
Test proposed by @yanglinlee  https://github.com/pandas-dev/pandas/pull/27667/files#diff-490b1195dddd7f1523a30f865801ed17R291-R313

[code]

After some changes to work with new panda version https://github.com/LTe/pandas/tree/json_improve

[code]

is working just fine with current master. CI run: https://dev.azure.com/piotrnielacny/piotrnielacny/_build/results?buildId=9&view=results

Even there is

[2020-04-17 17:55] DataInformer commented on #25970
Testing this also revealed that SeriesGroupBy does value_counts inconsistently with Series.  I'm not sure why these tests were passing before.  I'll attempt to modify SeriesGroupBy.value_counts as well.  Example:
`df = pd.DataFrame([[1,2,3],[4,np.nan,6]])
grouped = df.groupby(0)[1]
grouped.value_counts(dropna=False, normalize=True)
Out[12]:
0  1
1  2.0    1.0
4  NaN    1.0
Name: 1, dtype: float64

[2020-04-17 17:55] TomAugspurger commented on #22496
That looks roughly correct. You'll need to update some of the CI envs in `ci/deps` to include `regex` and skip the test if it isn't present.

[2020-04-17 18:08] #9539 closed

[2020-04-17 18:10] jbrockmendel commented on #22496
@gwerbin thanks for pinging on this.  Yah, that looks a lot less invasive than I expected, seems reasonable.

[2020-04-17 18:22] mproszewska commented on #32923
IMO `to_bool` would be more consistent with function naming in pandas

[2020-04-17 20:00] simonjayhawkins commented on #33544
xref #22740

[2020-04-17 20:10] TomAugspurger commented on #33182
At least for scikit-learn's use case, storing the sparse array is sufficient. Their workflow will be

[code]

They're immediately extracting the array (singular) from the DataFrame.

[2020-04-17 21:42] #23216 closed

[2020-04-17 22:08] #28597 closed

[2020-04-17 22:39] jbrockmendel commented on #24362
for other intersection-like operations with mixed timezones we convert to UTC (in particular im thinking of `NDFrame._align_frame`).  would that be a better behavior than returning object-dtype?

[2020-04-17 22:41] jbrockmendel commented on #24362
or even convert `other` to `self`'s tz might make more sense.  when i patch this to just return object dtype:

[code]

i.e. we get an object index of Timestamps that are all the same tz

[2020-04-17 23:40] jshridha commented on #32857
I just installed python3.8 on a completely fresh installation of Windows 10 1909 and ran into this issue. All I had to do was install the lastest x64 version of the visual c redistributable vc_redist from [here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) and my import problem went away.

[2020-04-18 02:32] pshMsGsAZL2n07ohWBCAGX9cC opened #33620 "ENH: add row and column options to margin parameter in pd.DataFrame.pivot_table"
#### Is your feature request related to a problem?

Currently, the margin parameter is a simply boolean value that controls showing totals for all rows **and** columns.  However, there are times when it is either necessary or  desirable to show grand totals for only rows or only columns.   I discovered this limitation when I had a pivot_table that was constructed using cumsum() over time.  As a re

[2020-04-18 05:58] AlexKirko commented on #32865
`median` will need fixing too. It pruduces NaNs if `min_periods` isn't supplied. Since I missed it in the first pass, I'll tackle it today.

[2020-04-18 07:45] selik opened #33623 "BUG: Create empty dataframe with string dtype fails "data type not understood""
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When trying to create an empty dataframe, one can specify some dtypes, like `'float'`, but `d

[2020-04-18 10:36] bwllc opened #33624 "ENH: Prettier printing of DataFrames with nested objects, discuss?"
I frequently place objects which are not strings or numbers in my DataFrames.  I've read many Stack Overflow comments which discourage this, and I know that it general it should be avoided, but I believe that I have a valid use case.  If the objects are iterable (like another DataFrame), I protect them from Pandas attempt to broadcast the elements by wrapping the object in a single-element list.

[2020-04-18 10:49] MarcoGorelli commented on #30092
@otaviocv I have an open PR (#30858) to fix this issue, but still need to address some things. Feel free to take over if you have a solution in mind, else I hope to be able to fix it by the 1.1 release (current target is August 2020)

[2020-04-18 13:15] magratheaner commented on #30726
I have encountered the same issue with a time series with shape (1963583, 1). I wanted to compute hour-long windows for a month of data with a resolution of 1 second. (This may sound like a bad idea, and it is, but since rolling() does not offer a stride argument (see [Issue #15354](https://github.com/pandas-dev/pandas/issues/15354)) the 'official' way is to compute 99.9% useless windows and throw

[2020-04-18 13:38] magratheaner commented on #15354
To contribute to 'further discussion':
My use case is to compute one min/max/median value per hour for a month of data with a resolution of 1 second. It's energy usage data and there are peaks for 1-2 seconds that I would lose with resampling. Other than that, resampling to e.g. 5 seconds/1 minute wouldn't change the fact that I still have to compute 4k/1k windows per day that need to be thrown aw

[2020-04-18 14:19] dsaxton commented on #33594
Smaller example:

[code]

Also interesting is that use_inf_as_na disables NA checking for string dtype:

[code]

[2020-04-18 15:58] jorisvandenbossche commented on #33623
@selik thanks for the report!

[2020-04-18 16:05] alimcmaster1 commented on #27596
Yep looks like this is exactly the problem. Should be fixed after https://github.com/pandas-dev/pandas/pull/33632 and if filesytem kwarg is passed

[2020-04-18 16:30] mfcabrera opened #33634 "BUG: If aggregation function returns NaN the order of the index on the resulting df is not maintained"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-18 17:22] DataInformer commented on #32471
I think is related to #25970.  The SeriesGroupby.value_counts has a weird section that mentions 'scalar bins cannot be done at top level in a backward compatible way' and then does more awkward manual operations that seem to have an error.  I'm looking at whether tests will pass and behavior will be correct without this special section.

[2020-04-18 17:22] DataInformer commented on #32471
take

[2020-04-18 17:47] fkromer opened #33636 "ENH: snapshot testing of dataframes"
#### Is your feature request related to a problem?

When testing dataframe manipulating functions defining explicit expected dataframes takes a lot of time.

#### Describe the solution you'd like

I've used [snapshottest](https://github.com/syrusakbary/snapshottest) to test GraphQl APIs. The same approach could be implemented in a pytest plugin for pandas as well.

#### API breaking implications

[2020-04-18 21:39] cjsrepo opened #33639 "use s3fs authentication if provided"
I have a use case where I need to download dataframes from multiple s3 buckets with different credentials.

By default, s3fs uses env variables such as `AWS_PROFILE` `AWS_ACCESS_KEY_ID` etc to determine credentials.  However, this will not work for me as I need different credentials for different buckets.

The s3fs docs show you can alternatively authenticate like so:
https://fs-s3fs.readthedocs.i

[2020-04-18 21:55] Fifthist commented on #33426
how about checking that `der` is a non-negative integer instead of a general scalar value, since n-th order derivatives of a polynomial is only defined for natural n.

https://github.com/scipy/scipy/blob/c1372d8aa90a73d8a52f135529293ff4edb98fc8/scipy/interpolate/interpolate.py#L876

[2020-04-18 23:10] alimcmaster1 commented on #33639
Thanks for the report.

Can you show the actual error you are getting?

Yep agree currently there is no way to pass kwargs through to s3fs.FileSystem. But should work fine to include credentials in the path.

Don't think the stripping logic you mentioned is problematic - it just removes "s3://"

-1 for using any regex matching to implement this though.

Related discussion on moving to fsspec - htt

[2020-04-18 23:40] alimcmaster1 commented on #27679
Likely related to https://github.com/pandas-dev/pandas/issues/32486 https://github.com/pandas-dev/pandas/issues/32470

[2020-04-18 23:51] jbrockmendel opened #33642 "API: Series[index_with_no_matches] vs Series[list_with_no_matches]"
We treat list indexers differently from array-like indexers:

[code]

Also inconsistent because `ser.loc[key]` raises for all 4 cases.

Is there a compelling reason for this?  I tried making all of these behave like the list case and only one test broke (that test being the example above).  The test was added in #5880.

[2020-04-19 00:34] mabelvj commented on #33200
I proposed a solution. It seems that it is happening  due to `np.lexsort` ordering labels assigned to Nans (`-1`) in the lower part, in `group_quantile` function in `groupby.pyx`.

[2020-04-19 01:24] alimcmaster1 commented on #29476
@larroy you still interested in working on this?

[2020-04-19 01:49] alimcmaster1 commented on #32447
This should now work after https://github.com/pandas-dev/pandas/pull/31652 has been released. Thanks!

[2020-04-19 01:49] #32447 closed

[2020-04-19 01:53] alimcmaster1 commented on #16692
Ref similar issue: https://github.com/pandas-dev/pandas/issues/33639

[2020-04-19 03:14] MaxPowerWasTaken opened #33647 "Most idiomatic way to set freq of Datetime Index in MultiIndex?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas
I posted my question with a bit more context [on Stack Overflow here](https://stackoverflow.com/q/61297399/1870832), and got an impressive ans

[2020-04-19 08:13] jorijnsmit opened #33648 "DOC: convert_dtypes method is not converted to URL"
Somehow the method `convert_dtypes` in the "See also" box is not a URL, whereas all the other ones are: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

[2020-04-19 09:50] gosuto-inzasheru opened #33649 "ENH: add a float_precision='low' option to read_csv"
#### Problem

Unless we know the column names in advance, it is impossible to prevent `read_csv` from loading all floats as `np.float64` when loading in a csv file with mixed data types. This can create a great (unnecessary) strain on memory.

#### Possible solution

If we would be able to specify a C parser which outputs `np.float16` or `np.float32` instead of `np.float64`, we could save half of

[2020-04-19 09:52] simonjayhawkins commented on #33594
working in 0.25.3. regression in #29900 (i.e. 1.0.0)

9333e3d8e360e0049f6aedca78721dda0449a871 is the first bad commit
commit 9333e3d8e360e0049f6aedca78721dda0449a871
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Sun Dec 1 10:11:52 2019 -0800

    DEPR: Categorical.ravel, get_dtype_counts, dtype_str, to_dense (#29900)

cc @jbrockmendel

[2020-04-19 09:58] Rik-de-Kort commented on #33560
I'm not sure this is a satisfactory solution, but I wanted to share it anyway since it does solve your problem in a neat way. However, it requires you to use a different library for visualization so I appreciate if that's not workable for you.
I'm using Altair but I imagine the ggplot package can do something similar. Here's a pic:
![canvas](https://user-images.githubusercontent.com/32839123/79684

[2020-04-19 10:14] proost commented on #30999
I'm working with

pandas/tests/indexes/ranges/test_constructors.py
pandas/tests/indexes/ranges/test_range.py
pandas/tests/indexing/multiindex/test_chaining_and_caching.py
pandas/tests/indexing/multiindex/test_partial.py
pandas/tests/series/indexing/test_alter_index.py
pandas/tests/arrays/boolean/test_function.py

[2020-04-19 12:15] simonjayhawkins commented on #33569
Thanks @abdullahodibat for the report. duplicate of https://github.com/pandas-dev/pandas/issues/33200#issuecomment-611049285

this is a regression between 0.24 and 0.25 (#20405)

[2020-04-19 13:43] simonjayhawkins commented on #26209
fixed in #30679

be6a3bc46382074b5e233ac8d78b7a96a0c24bf5 is the first new commit
commit be6a3bc46382074b5e233ac8d78b7a96a0c24bf5
Author: Jiaxiang <fujiaxiang1995@gmail.com>
Date:   Tue Jan 21 00:28:00 2020 +0800

    BUG: groupby apply raises ValueError when groupby axis has duplicates and applied identity function (#30679)

[2020-04-19 14:58] MarcoGorelli opened #33654 "BUG: can't concatenate DataFrame with Series with duplicate keys"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-19 15:22] fercook commented on #31949
I second this.

Also, even when it works, it doesn't. The implied meaning of "extrapolate" is that it will continue on the last available trend. However, the observed result is that the last value is repeated.

In:
[code]
Out:
[code]

[2020-04-19 15:38] simonjayhawkins commented on #33591
The code sample is different from the OP. The issue in OP does not appear to be fixed.

[code]

[2020-04-19 15:42] dsaxton opened #33655 "BUG: pandas.options.mode.use_inf_as_na disables NA checking for StringArray"
1.0.3 or master:

[code]

Setting use_inf_as_na to True breaks isna for StringArray as shown above; it seems to work fine for other ExtensionArrays I checked (IntegerArray, BooleanArray).

[2020-04-19 16:07] dsaxton commented on #33591
@simonjayhawkins Oops, yeah I think you're right

[2020-04-19 16:52] dsaxton commented on #33648
Thanks, I believe this is a duplicate of https://github.com/pandas-dev/pandas/issues/32295 and is now fixed

[2020-04-19 18:11] #33648 closed

[2020-04-19 18:15] toobaz opened #33657 "ENH: favor columns over index levels when groupby-ing over ambiguous label"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

1. The ``groupby`` docs [don't even mention](https://pandas.pydata.org/pandas-docs/stable/ref

[2020-04-19 18:15] dair-targ commented on #15829
For me the test fails for macOS Catalina 10.15.3:
[code]

The pandas is a fresh master checkout.

[2020-04-19 19:51] dequadras opened #33658 "ENH: optimized Groupby.diff()"
#### Is your feature request related to a problem?

Doing groupby().diff() with a big dataset and many groups is quite slow. In this image, it is shown how in certain cases optimizing it with numba can get 1000x speed.

![image](https://user-images.githubusercontent.com/30231949/79698140-20296100-8287-11ea-9439-4afcf6923070.png)

#### Describe the solution you'd like

Now, my question is, can this

[2020-04-19 21:14] #33642 closed

[2020-04-19 21:23] phofl commented on #33545
Will be fixed with #33086 if merged.

--> Is a duplicate of #32580

[2020-04-19 21:25] mroeschke commented on #12303
Looks like this issue is fairly old with a nonstandard build set up. Going to close for now but happy to reopen if we can get report of current behavior

[2020-04-19 21:25] #12303 closed

[2020-04-19 21:36] mroeschke commented on #21829
Let us know if you are still experiencing this issue, and happy to reopen if there are still issues.

We have bumped up our min Cython version to 0.29.16 since then https://github.com/pandas-dev/pandas/pull/33334

[2020-04-19 21:36] #21829 closed

[2020-04-19 22:09] mroeschke commented on #29349
Working fine for me on MacOS with a simiar build

[code]

Might have been fixed on master since then, but let us know if you are continuing to see issues.

[2020-04-19 22:09] #29349 closed

[2020-04-19 22:11] mroeschke commented on #29514
Don't think we've seen this in a while. Closable @alimcmaster1?

[2020-04-19 22:14] mroeschke commented on #32331
Is this still failing for you @MomIsBestFriend? Closable?

[2020-04-19 22:14] mroeschke commented on #32331
Worked for me locally on MacOS

[code]

[2020-04-19 22:21] eddy-geek opened #33662 "BUG: mix of int and pd.NA defaults to object dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

On pandas 1.0.3:

[code]

#### Problem description

Creating a DataFrame with mixed int and pd.NA defaults to `object` instead of `Int64`

According to @simonjayhawkins in #32931

#### Expected Output

[code]

[2020-04-19 22:56] dsaxton commented on #33658
Seems related to some work @mroeschke has done

[2020-04-20 00:23] mroeschke commented on #24386
This looks to be fixed on master. Could use a test

[code]

[2020-04-20 00:36] mroeschke commented on #29321
I'll link your comment https://github.com/pandas-dev/pandas/issues/29321#issuecomment-551251530 to https://github.com/pandas-dev/pandas/issues/27781, as I believe solving https://github.com/pandas-dev/pandas/issues/27781 will solve this issue as well.

Closing and continuing the discussion in https://github.com/pandas-dev/pandas/issues/27781

[2020-04-20 00:36] #29321 closed

[2020-04-20 00:37] mroeschke commented on #27781
As mentioned https://github.com/pandas-dev/pandas/issues/29321#issuecomment-551251530, it may be an issue as well when the sparse series matches the fill value

[2020-04-20 00:46] rtlee9 commented on #32976
BaseGrouper raises a `notImplemented` exception [here](https://github.com/pandas-dev/pandas/blob/1c0cc62e3/pandas/core/groupby/ops.py#L455) for categorical dtypes but not other dtypes. My understanding is this results in a slower, python based aggregation [here](https://github.com/pandas-dev/pandas/blob/1c0cc62e3/pandas/core/groupby/generic.py#L1062). Happy to open a PR but not sure of the best ap

[2020-04-20 03:07] cantudiaz opened #33666 "`read_spss` only accepts `str`, not `Path`"
`pandas` documentation states that the `read_spss` function can take either strings or `pathlih.Path` as input. It probably has something to do with `pyreadstat.read_sav`.

Example:
[code]

Libraries versions:
[code]

[2020-04-20 03:39] jkleint opened #33668 "Vectorize DataFrame `first_valid_index()` and `last_valid_index()`"
Is there a reason why `DataFrame` `first_valid_index()` and `last_valid_index()` don't return a Series with the first/last valid index for each column?  It seems a little inconsistent with the rest of the API, and working around it isn't straightfoward.

This wouldn't be so bad if `df.apply('first_valid_index')` actually applied to each column, but it does not.  And finally, `df.apply(lambda c: c.

[2020-04-20 04:17] Dergel0806 opened #33669 "BUG: Python any() on a dataframe is returning True always"
- [Yes ] I have checked that this issue has not already been reported.

- [ Yes] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to

[2020-04-20 07:21] s-scherrer commented on #30726
I can reproduce this behaviour with this code snippet:
[code]
When using `median` or `mean` as operation, memory usage stayed constant:

[code]

With `min` or `max` grows considerably:

[code]

Output of `pd.show_versions()`:
[code]

[2020-04-20 08:00] magratheaner commented on #30726
@s-scherrer Perfect, thank you. `'H'` seems to be working nicely

[2020-04-20 08:26] jorisvandenbossche commented on #33669
@Dergel0806 the problem is that `any`, a built-in python function, is not doing here what you expect it does, due to how iteration for a dataframe works.

The `any` docstring says "Return True if bool(x) is True for any x in the iterable.". But, iterating through a DataFrame does not iterate through all flat values, it iterates through the "keys", i.e. the column names, and not through the flat va

[2020-04-20 08:31] SaturnFromTitan commented on #30017
@jreback Do you think I can work on this yet? 3 minor versions passed, which should be good enough to make this a FutureWarning now.

[2020-04-20 08:50] eyjay-ok opened #33671 "BUG: Multiplication of two serieses changes the the timezone from the given serieses"
(since this is my first bug report I am happy for any feedback :) )

[code]

#### Problem description

The timezone of the series 'cet_series' changes by the multiplication. Since it is only an input series the timezone should stay the same.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python

[2020-04-20 10:41] saten25 commented on #17845
Hi Everyone,

I think i am facing a similar kind of issue.
I have created a django utility that is using pandas profiling.

The steps that i am doing is python are-
1-Uploading a file
df = pd.read_csv(path)

2- Changing the datatypes of columns from objects to category
df.select_dtypes(['object']).apply(pd.Series.astype, dtype='category')], axis=1).reindex(df.columns, axis=1)

3- Separating contin

[2020-04-20 10:45] saten25 opened #33672 "BUG: Assertion error : Gaps in blk ref_locs in pandas profiling"
Hi Everyone,

I think i am facing a similar kind of issue.
I have created a django utility that is using pandas profiling.

The steps that i am doing is python are-
1-Uploading a file
df = pd.read_csv(path)

2- Changing the datatypes of columns from objects to category
df.select_dtypes(['object']).apply(pd.Series.astype, dtype='category')], axis=1).reindex(df.columns, axis=1)

3- Separating contin

[2020-04-20 11:20] TomAugspurger commented on #32976
Ideally we would pass the categorical `codes` down to cython, group by those, and then convert back to a CategoricalIndex when we're done in Cython.

[2020-04-20 11:54] TomAugspurger commented on #33672
This looks like an issue in pandas-profiling, not pandas, right?

[2020-04-20 11:58] TomAugspurger commented on #33671
Thanks for the report. Confirmed on master.

@eyjay-ok do you know if this happened in pandas 0.25?

[2020-04-20 12:05] eyjay-ok commented on #33671
Yes, it was the same behavior in Pandas 0.25.1
I also tested it in pandas 0.24.0 and it was also the same (the output was a bit different but still the timezone was changed to UTC)

[2020-04-20 12:52] saten25 commented on #33672
Yes the issue i am facing is with pandas profiling.

Just an example below: I am uploading a file with 9000 records and 18 columns and getting error.

import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file

df = pd.read_excel('filepath')

df.columns = df.columns.str.replace(" ","_")
df = pd.concat([
    df.select_dtypes

[2020-04-20 14:35] TomAugspurger commented on #33672
I'd recommend opening an issue on the pandas profiling repo. If there's an issue here in pandas we'll reopen this.

[2020-04-20 14:35] #33672 closed

[2020-04-20 14:35] geppi opened #33675 "Inconsistent retrieval of DataFrame columns as Series."
1. Retrieve a DataFrame column by attribute as a Series.
2. Modify an element of this series.
3. As expected the modification has no effect on the original DataFrame.
4. But it changes the Series that is retrieved from a column by attribute or with the 'loc' method.
5. In contrast the Series retrieved from a column using the 'iloc' method is still the original.

This is at least inconsistent. Howe

[2020-04-20 14:57] simonjayhawkins opened #33676 "BUG: repr of Categorical does not distinguish int and str."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-20 15:52] rwijtvliet opened #33677 "BUG:"
- [x] I have checked that this issue has not already been reported.
(Might be related to [33647](https://github.com/pandas-dev/pandas/issues/33647), though there localization does not seem to play a role)

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide

[2020-04-20 16:33] mroeschke commented on #33671
Thanks for the report.

This is the expected behavior. Please see https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#working-with-time-zones

[2020-04-20 16:40] mroeschke commented on #33677
On master, it appears the second example drops frequency as well

[code]

cc @jbrockmendel as you've been looking at frequency stuff lately.

[2020-04-20 16:44] TomAugspurger commented on #33671
@mralgos I think the surprising behavior is that one of the operands (`cet_series`) is mutated so that it's index changes from CET to UTC.

[2020-04-20 16:48] mroeschke commented on #33671
Ah that is really weird behavior. Yes, that definitely looks like a bug. Sorry for reading the issue too quickly.

[2020-04-20 16:49] jbrockmendel commented on #33677
IIRC the issue here is that DatetimeIndex.factorize doesn't retain freq; it isn't obvious to me whether it should

[2020-04-20 17:07] mroeschke commented on #33603
Actually I think this is the intended behavior.

I think your example shows partial string indexing for a `TimedeltaIndex`. So since the right edge of `'720s'` is 12 minutes, the result returns all results with a minute component of 12 minutes. Likewise since `'620s'` is 10 minutes 20 seconds, the result returns all results with a minute component of 10 and seconds component of 20.

I definitely t

[2020-04-20 17:59] rwijtvliet commented on #33677
Thanks guys for looking into this so quickly.

As a workaround, is there a way to re-set it, after creation of the `MultiIndex`?

[2020-04-20 18:37] TomAugspurger commented on #33662
We'll need to be a bit careful with this. We don't infer one of the nullable dtypes anywhere other than `pd.array` yet.

Personally, I'd rather wait for the global option for `Series([1, 2])` to return a nullable integer. Then all of `Series([1, 2])`, `Series([1, np.nan])`, `Series([1, pd.NA])` would return nullable integer.

[2020-04-20 18:41] mroeschke commented on #33671
This fixes the issue locally:

[code]

Always copying seems unnecessary though. Maybe we should set `copy=True` for extentionarray indexes?

[2020-04-20 18:53] jbrockmendel commented on #33677
I _strongly_ discourage this, and make no promises that it will continue to work, but

[code]

[2020-04-20 19:02] mariusgarbowski opened #33681 "BUG: pd.Series.value_counts with pd.NA implies ValueError"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-04-20 19:36] LTe commented on #27220
cc @WillAyd @jreback

[2020-04-20 19:49] ahyerman opened #33682 "BUG: timestamp subtraction of business hour offset (BH) is incorrect"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2020-04-20 19:54] TomAugspurger commented on #33681
I believe that all these work on master.

[2020-04-20 20:15] ahyerman opened #33683 "BUG: multiplying Business Hour (BH) offset by zero results in strange behavior"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-20 22:04] phofl commented on #33671
We could set copy=True if the indices at this point:

https://github.com/pandas-dev/pandas/pandas/core/generic.py#L8486-8491

are not equal. (else block). This works locally.

[2020-04-20 22:14] json2d commented on #3729
a.fillna(-1)

a.groupby(['payment_type_key'], as_index=False).sum()
# a = foo_dff.groupby(['gross_amount'], as_index=False).sum()

a[a['payment_type_key'] == -1] = np.nan

[2020-04-20 22:27] json2d commented on #3729
seems really easy to get caught by this one

[2020-04-20 22:34] #30914 closed

[2020-04-21 01:37] alimcmaster1 commented on #32470
I can't actually reproduce this.

As per your description a non existent file on priv s3 bucket that I have appropriate credentials to:

[code]

consistently throws a `PermissionError` for me

Anything else @marlosb I can do to repo?

pandas==1.0.3
s3fs==0.4.2

[2020-04-21 02:46] Dergel0806 commented on #33669
I see! Thank you very much for the clarification. I was assuming that is happens because `any()` take into account indexes or column names, but wanted to raise this in case it may be an issue.

[2020-04-21 02:46] #33669 closed

[2020-04-21 04:44] neshitov opened #33692 "Join several dataframes with MultiIndex containing dates raises ValueError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample
When I try to join 3 dataframes with multiindices containing dates I got ValueError:
[code]
### Traceback

<details>

[code]

</details>

#### Problem de

[2020-04-21 06:43] Pawel-Kranzberg commented on #23955
Yet another slightly improved version:
[code]

[2020-04-21 06:59] larroy commented on #29476
Sorry was caught up with other things, let me have a look at this this week.

[2020-04-21 08:22] ShallanVeil commented on #33478
hey @sarthakchaudhary13 are you still working on this? if you are busy and don't have time for this issue anymore I would like to pick it up. Let me know 😄

        else:
            # Handle cases like BinGrouper
            return self._concat_objects(keys,

@MarcoGorelli  here you have mentioned this else block as a part of the `_transform_general` function but I went through the codebase and f

[2020-04-21 08:24] Sylfrena commented on #33478
hey @sarthakchaudhary13 are you still working on this? if you are busy and don't have time for this issue anymore I would like to pick it up. Let me know 😄

        else:
            # Handle cases like BinGrouper
            return self._concat_objects(keys,

@MarcoGorelli  here you have mentioned this else block as a part of the `_transform_general` function but I went through the codebase and f

[2020-04-21 08:27] MarcoGorelli commented on #33478
@Sylfrena yes, you're right, it's in `_wrap_applied_output`, not `_transform_general` - thanks!

[2020-04-21 10:04] chjinche opened #33694 "BUG: Wrong expression `np.multiply` to validate overflow exception in pandas.core.reshape.reshape.py#L118"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-21 10:13] bbkaran opened #33695 "ENH: Enable rolling.apply on custom function that requires multiple columns of data frame"
#### Is your feature request related to a problem?

Yes.

I wish I could use pandas to:

create an additional column ` 'newc' ` of my dataframe `df` as `df['newc']` through rolling.apply on `df['cond']` with a custom function. The custom function requires two columns of `df`.

#### Describe the solution you'd like

I prefer the solution to look something like:

`df['newc'] = df['cond'].rolling(4).

[2020-04-21 10:14] behrenhoff opened #33696 "DOC: pd.Categorical does not throw ValueError, converts to NaN instead"
My problem might be a bug or just a documentation issue. Consider this two-liner:

[code]
The output is:
[code]

According to the docs:

And further:

However, no ValueError is thrown, instead 'c' is converted to NaN silently.

Either this is intended - then the docu needs update.
Or it is not intended - then it is a bug - and it should throw a ValueError("c not in categories")

Tested with Pandas

[2020-04-21 10:21] behrenhoff commented on #33696
sorry, its a documentation issue. Documentation also contains " If categories are given, values not in categories will be replaced with NaN.".

[2020-04-21 10:48] jreback commented on #33694
pls show actual pandas code that an issue

[2020-04-21 10:54] jreback commented on #33695
duplicate of #15095

[2020-04-21 10:54] #33695 closed

[2020-04-21 11:05] nora-illanes commented on #29803
Same here

[2020-04-21 11:37] chjinche commented on #33694
@jreback you could refer to this code example,
[code]
If `size=56333`, `"Unstacked DataFrame is too big, " "causing int32 overflow"` will be thrown, However, if `size` increases to like `66000`, code example passed, which is really unexpected.
[code]

[2020-04-21 11:50] jreback commented on #33694
duplicate of #26314

[2020-04-21 11:50] #33694 closed

[2020-04-21 11:58] behrenhoff commented on #33696
Maybe I should reopen this - can this be It in unclear when a ValueError is thrown. Probably a documentation issue.

[2020-04-21 12:39] #27679 closed

[2020-04-21 12:39] #32486 closed

[2020-04-21 12:45] pkarol opened #33698 "BUG: Incorrect dtypes after resetting a multi-index for a data frame with no rows"
- [X] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-21 12:53] #31474 closed

[2020-04-21 13:20] quazgar opened #33699 "BUG: read_csv with both names and parse_date raises 'NoneType' TypeError"
This is probably similar to #14792, but still happens with 0.23.3 (a friend even tested it with 1.0.3).

## Testcase ##
[code]
raises:
[code]

## Notes ##
This does not happen with `engine="python"` (you only get a ParseError there).

[2020-04-21 13:25] #33544 closed

[2020-04-21 13:27] marctorsoc opened #33700 "ENH: Integrate pdpipe into pandas"
### Is your feature request related to a problem?

I wish I could create pipelines in pandas, the way I do for sklearn. This seems to be feasible using pdpipe https://pdpipe.github.io/pdpipe/, so I wonder why that is not directly available in pandas

### Describe the solution you'd like

I'd like being able to write stuff like:

[code]

and
[code]

but directly with pandas stuff

### API breaking

[2020-04-21 13:33] KenilMehta commented on #33591
If no one has taken this, I would like to help solve this issue.

[2020-04-21 14:04] maresb opened #33701 "BUG: Multiplying large Series by <NA> gives "unknown type object""
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

In short, with Pandas 1.0.3 on Python 3.7.6, when I multiply `<NA>` (the Int64 null type) by a Series with length over 10,000, I get `ValueError: unknown type object`. Th

[2020-04-21 14:08] mfuellbier commented on #14782
I found a seg fault in `read_csv`- I am not sure if it is the same error as the one discussed here, so before I open a new ticket, I wanted to check if it is necessary.

This is the MWE which creates a segmenetatiion fault.
[code]

Shall I create a new ticket for that or is this basically the problem discussed here?

[2020-04-21 15:19] telferm57 opened #33702 "ENH: Allow selection of reference value in get_dummies"
When one-hot encoding a pandas categorical column, with drop_first = True, there is no control over which value is dropped. So if I need to specify the reference value to drop, I can't use drop_first. I have to manually drop the columns that have been unnecessarily created.

I would like to enhance the get_dummies method to be able to specify for each column in 'columns'  a reference value to be u

[2020-04-21 15:49] sam-cohan commented on #33439
@jorisvandenbossche I have updated the description with min repo. Please let me know if it is not clear.

[2020-04-21 15:56] sam-cohan commented on #33439
Hmm. Strange, seems like I cannot update that. Here is minimum repro code:

[code]

[2020-04-21 15:58] sam-cohan commented on #33439
Hmm. Strange, seems like I cannot update that. Here is minimum repro code:

[code]

[2020-04-21 17:02] adbull opened #33704 "BUG: min/max of empty datetime dataframe raises"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

[code]

#### Problem description

When taking the min/max of an empty datetime dataframe, a ValueError is raised. This is su

[2020-04-21 17:19] gfyoung commented on #14782
Yikes!  That's not great to say the least.  I copied your example into the issue description here, as it is similar to the OP.

[2020-04-21 18:16] TomAugspurger commented on #33698
Is this the same as https://github.com/pandas-dev/pandas/issues/19602?

[2020-04-21 18:26] pkarol commented on #33698
@TomAugspurger, yes, it appears to be the same issue.

[2020-04-21 18:31] TomAugspurger commented on #33698
Thanks for confirming. Can you close this issue? If you're interested in
working on that issue we'd appreciate it.

On Tue, Apr 21, 2020 at 1:27 PM pkarol <notifications@github.com> wrote:

[2020-04-21 18:39] jbrockmendel commented on #33036
This is now working on master, though #33600 is breaking it for the axis=0 case.

[2020-04-21 18:47] #33698 closed

[2020-04-21 19:05] iamlemec commented on #13475
I believe I have a 2 line fix to `union_indexes` that takes care of this. Should I submit a PR or just paste the diff here?

[2020-04-21 19:32] Filip98 opened #33707 "plot.pie() autopct shows 0.00 for 0/None data"
The label correctly does not appear but the percent does,
[code]
Output:
![madzijaplot](https://user-images.githubusercontent.com/4060824/79905951-4f6ed800-8417-11ea-968a-a983b7dca717.jpg)

[2020-04-21 19:59] Filip98 opened #33708 "ENH: to_datetime missing year/other data arg"
It seems that to_datetime assumes the year is 1970 if I do
`df['date'] = pd.to_datetime(df['date'])`

To a series in a day/month (no year) format but this bothered me so I did this:
`df['date'] = df['date'].apply(lambda row: pd.to_datetime(row + '/2017', format = '%d/%m/%Y'))`

But an arg would make this neater, I suppose

[2020-04-21 20:10] narendramukherjee opened #33710 "BUG: Inconsistent behavior of `DataFrame.clip` when using with `loc`"
- [CHECKED] I have checked that this issue has not already been reported.

- [ EXISTS on v1.0.3] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
Pandas version:
[code]
`DataFrame` used through the example:
[code]
`DataFrame.clip` with `inplace=True` works fine when I run it on a single column

[2020-04-21 20:40] marlosb commented on #32470
Thanks for self-assigning and get in touch Alistair .

I couldn't reproduce the problem either.
I'm in using same versions of all libraries from the report. The only difference is that now I'm home and when I was facing the problem I was in corporate network, behind a proxy server.  Something I can't reproduce now.  Tried external proxy server without success but not sure if it is same behavior. A

[2020-04-21 20:40] #32470 closed

[2020-04-21 20:53] CloseChoice commented on #33682
take

[2020-04-21 21:12] CloseChoice commented on #33682
As far as I see it, this result from the following line:
[offsets](https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/offsets.py#L943)

[code]

This might not even be an undesired effect. Does somebody know more about whether it is desired that Business Hours are open-intervals.

Note the following example:
[code]
which results in
`Timestamp('2000-01-11 09:00:00')`

[2020-04-21 21:14] mroeschke commented on #33700
I don't think it's very likely we'll add this directly into the pandas library.

In pandas, our version of a pipeline is [method chaining](https://tomaugspurger.github.io/method-chaining.html) with utilization of our own pipe method if needed https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pipe.html

[2020-04-21 21:14] jreback commented on #33710
you should be getting a `SettingWithCopy` warning. this is a changed operation and `inplace=True` is never recommended. Read the docs here: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-view-versus-copy

[2020-04-21 21:14] #33710 closed

[2020-04-21 22:04] marctorsoc commented on #33700
yeah I know that. The problem is that you need to write wrappers for Dataframe methods. Imagine I want to do:

[code]

I don't think you can do this with pipe unless you create a bunch of wrappers, and even in such a case, the code will look like:

[code]

but it's not possible to have a **pipeline** and do it

[code]

and that nice pipeline being sklearn compatible, sliceable, and being able to c

[2020-04-21 22:42] alimcmaster1 commented on #29514
Yeah can't see this test in any recent build failures - do see a different done though...
[code]

https://travis-ci.org/github/pandas-dev/pandas/jobs/677027259

Will try take a look

[2020-04-21 23:05] dsaxton commented on #33696
I think the documentation is referring to setting the value of an existing Categorical rather than construction of a new one:
[code]

[2020-04-21 23:08] alimcmaster1 commented on #32470
No worries @marlosb - thanks for following up and feel free to re open if required

[2020-04-21 23:12] jbrockmendel commented on #32413
Looks like the issue is in Index.where, shouldnt pass `dtype` to shallow_copy_with_infer

[2020-04-21 23:52] jbrockmendel opened #33718 "DEP: bump numpy min version?"
We currently require 1.13.3 which was released 2017-09-29.  The last bump was in 0.25.0 (#25554).

I think its time for another bump.  The release dates for the 1.x.0 and 1.x.MAX versions out there:

1.14.0 -> 2018-01-06
1.14.6 -> 2018-09-23
1.15.0 -> 2018-07-23
1.15.4 -> 2018-11-04
1.16.0 -> 2019-01-13
1.16.6 -> 2019-12-29
1.17.0 -> 2019-07-06
1.17.5 -> 2020-01-01

1.15.4 looks not-unreasonable t

[2020-04-21 23:53] jbrockmendel commented on #33708
can you post an example of `df` that demonstrates the issue

[2020-04-22 00:18] jbrockmendel commented on #33675
I think the underlying issue here is that we have _getitem_cache for label-based lookups but no analogous _igetitem_cache.  So either making _igetitem_cache or getting rid of _getitem_cache should do the trick.

[2020-04-22 00:39] dsaxton commented on #33681
I'm seeing that as well:

[code]

[2020-04-22 00:39] #33681 closed

[2020-04-22 01:57] jreback commented on #33700
this library uses pandas and provides a completely different api, which is fine but not for pandas proper which already has a well defined and familiar api. we are not likely to make major changes or provide alternate apis inside pandas.

[2020-04-22 01:57] #33700 closed

[2020-04-22 02:00] jreback commented on #33718
+1 in bumping to 1.15.x

even 1.16.x is ok

[2020-04-22 02:29] TomAugspurger commented on #33718
According to https://numpy.org/neps/nep-0029-deprecation_policy.html#drop-schedule, NumPy 1.14 can / should be dropped after

[2020-04-22 03:29] tacaswell commented on #32766
@TomAugspurger This should get the py39 label as well.

[2020-04-22 06:43] geppi commented on #33675
That boils down to the question if the retrieval of a DataFrame column or row should return a copy or a reference. I'm relatively new to pandas and therefore might have a rather naive look on this but I would expect a copy and my gut feeling tells me that a copy would have less side effects.
It's a little bit strange when the retrieval of a column delivers something different from the column as sh

[2020-04-22 06:54] jorisvandenbossche commented on #33718
I would also follow NEP29, which means np 1.14 for pandas 1.1 (and then can probably go to np 1.15 after pandas 1.1 is released)

[2020-04-22 10:41] cklb opened #33719 "BUG: idxmin() fails for nullable integer data type (Int64)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

Currently, the `idxmax` call fails with
[code]
being raised. This may be a duplicate of #32749, although the focus the

[2020-04-22 10:41] garylavayou opened #33720 "ENH: Control the escape scope of read_csv's escapechar"
#### Is your feature request related to a problem?

So far, the `escapechar` (`\` by default) of `read_csv` method is used to escape the special meaning of all other characters for all columns.

#### Describe the solution you'd like

In my situation, I want the escape char to take effect only for quoted values, while it can be interpreted as normal character in some other non-quoted columns, like

[2020-04-22 11:38] TomAugspurger commented on #33718
@jorisvandenbossche doesn't NEP29 say we're already supposed to drop 1.14, since it's the next release after January 7, 2020?

[2020-04-22 11:39] jorisvandenbossche commented on #33718
Whoops, sorry, yes I should have said 1.15 and 1.16, instead of 1.14 and 1.15

[2020-04-22 11:40] TomAugspurger commented on #32766
Thanks. The necessary work here is to update pandas to not use `ast.slice`?

[2020-04-22 11:50] telferm57 commented on #33061
@narendra20  are you moving forward with this ? If not, I can ! (seems like a doc fix ifs a good first issue)

[2020-04-22 12:59] shwina opened #33721 "BUG: Exceptions not propagated from c_is_list_like in lib.pyx"
Python exceptions originating in `c_is_list_like()` are not propagated as the function doesn't declare an exception value (`except -1`).

https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx#L988

[2020-04-22 13:00] dsaxton commented on #33719
Thanks, I would say this is a distinct issue. The error on master is a little different:

[code]

[2020-04-22 13:10] jorisvandenbossche commented on #33719
This is related to https://github.com/pandas-dev/pandas/pull/27801

[2020-04-22 13:26] ftilde commented on #33369
I'm not sure I understand. Do you mean specifying `yerr=err['x']`? That works for this simple case, but not for example when plotting multiple axis at once:
[code]

Shouldn't `label` just affect what is shown in the legend?

[2020-04-22 14:00] Filip98 commented on #33708
Sorry, this was written in a hurry because there is a workaround.
The assumption of the year 1970 only happens with broken numeric data
The problem is that I have a dataset in a day.month (numeric) format without a year and a straightforward conversion results in an exception
[code]
Output:
[code]
What I'm proposing is to have a missing argument so I could do something like:
`pd.to_datetime(dates,

[2020-04-22 14:16] odidev commented on #32092
Ping @WillAyd could you please share your thoughts on this.

[2020-04-22 14:17] jbrockmendel commented on #33721
Can you give an example of where the problem shows up?

[2020-04-22 14:45] rmassa commented on #11949
Hi, there is no encoding= parameters in read_excel I believe.

[2020-04-22 15:49] shwina commented on #33721
@jbrockmendel Unfortunately I'm not able to reproduce easily at this moment. I left a comment [here](https://github.com/pandas-dev/pandas/pull/33723#discussion_r413099393) that hopefully
sheds some light on the issue.

[2020-04-22 16:33] ATanalytics commented on #31823
Hi Guys, I would like you to check this issue, since I had a hard time trying to fix it.
Here a small example, I took from stackoverflow https://stackoverflow.com/questions/32801806/pandas-concat-ignore-index-doesnt-work/32802014#32802014

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},

[2020-04-22 16:37] Rcubes commented on #31823
Hi Guys, I would like you to check this issue, since I had a hard time trying to fix it.
Here a small example, I took from stackoverflow https://stackoverflow.com/questions/32801806/pandas-concat-ignore-index-doesnt-work/32802014#32802014

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 2, 3,4])

df2 = pd.DataFrame({'A1':

[2020-04-22 16:53] geppi opened #33726 "BUG: argument 'axis=1' is silently ignored in DataFrame diff() method when dtype is nullable integer (Int64)"
[code]

    INSTALLED VERSIONS
    ------------------
    commit           : None
    python           : 3.7.4.final.0
    python-bits      : 64
    OS               : Windows
    OS-release       : 10
    machine          : AMD64
    processor        : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
    byteorder        : little
    LC_ALL           : None
    LANG             : None
    LOCAL

[2020-04-22 17:39] simonjayhawkins commented on #31823
Thanks @Rcubes for the code sample.

not sure if this code sample is representative of the OP, since get same output on 0.23.4 and master.

[code]

the ignore_index is not ignored, but applied to the columns labels.

from https://pandas.pydata.org/docs/dev/reference/api/pandas.concat.html

If True, do not use the index values along the concatenation axis. The resulting axis will be labeled 0, …, n

[2020-04-22 17:39] #31823 closed

[2020-04-22 19:37] dsaxton commented on #33726
I think this is fixed on master, apparently by https://github.com/pandas-dev/pandas/pull/32995

[code]

cc @jbrockmendel

[2020-04-22 20:15] jbrockmendel commented on #33708
that's probably your best bet.

[2020-04-22 20:45] raybellwaves opened #33730 "DOC: add hvplot as option to plotting.backend"
#### Location of the documentation

Couple of sections here
https://pandas.pydata.org/pandas-docs/stable/ecosystem.html#visualization
https://dev.pandas.io/docs/development/extending.html#plotting-backends

#### Documentation problem

Add information that [`hvplot`](https://hvplot.holoviz.org/) can be used as a backend
`pd.set_option("plotting.backend", "hvplot")`

#### Suggested fix for documenta

[2020-04-22 21:01] jbrockmendel opened #33731 "API: deprecate silently casting np.nan to NaT"
When doing a setitem into a dt64/td64 Series, we cast `np.nan` to `NaT`.  The alternative would be to cast to object dtype and set np.nan unchanged.

Similarly anything that ends up calling `is_valid_nat_for_dtype` will allow through np.nan which ends up getting cast to NaT.

We should consider deprecating this behavior and requiring users to pass NaT directly.

[2020-04-22 21:26] #11058 closed

[2020-04-22 21:51] sapientderek opened #33732 "BUG: groupby ignores sort=False when observed=True breaking transform"
- [x] I have checked that this issue has not already been reported.
Maybe related to but distinct from https://github.com/pandas-dev/pandas/issues/27369

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]
returns
[code]
whereas
[code]
returns
[code]
What is going o