[2021-05-15 07:18] jorisvandenbossche commented on #16529
Yes, deprecating positional in favor of keyword-only arguments sounds certainly good

[2021-05-15 08:48] greenary-John opened #41483 "QST:When I execute a (96554023, 16) dimension DataFrame and save it to the hard disk, On a host with 64G memory, the process is killed What should I do to make this process execute normally?"
Code:
df.shape
(96554023, 16)
df.to_pickle('data/test_sample.pkl')

Description：
df.memory_usage(deep=True)
Index                772432184
id                   772432184
request_timestamp    772432184
position             772432184
uid                  772432184
aid                  772432184
imp_ad_size          772432184
bid                  772432184
pctr                 772432184
quality_ecpm

[2021-05-15 08:54] greenary-John commented on #41483
Please help me, I have no money to expand the memory now

[2021-05-15 10:06] MarcoGorelli opened #41485 "Deprecate non-keyword arguments for methods with `inplace`"
## Background

Having many parameters with defaults makes static typing a lot harder when one of them changes the return type, as they require many* overloads.

There's still no broad agreement about whether or not to deprecate the `inplace` argument, so in the meanwhile, if we force default-arguments to be keyword-only, then we can at least set the correct return types for these methods without r

[2021-05-15 11:37] ben10he commented on #41468
Updated the original question with 3 files as output of cProfile.

[2021-05-15 14:27] jmholzer commented on #41485
I would like to work on this issue, it would be my first contribution to Pandas.

It could take me a week or two. If that is unacceptable, feel free to assign this to someone else.

[2021-05-15 14:27] jmholzer commented on #41485
take

[2021-05-15 14:29] MarcoGorelli commented on #41485
Awesome! @jmholzer please start by choosing one of the methods listed above, and comment here which one you've chosen

[2021-05-15 14:32] jmholzer commented on #41485
Sorry, didn't see the 'what to do' edit.

eval, as it's first ;)

[2021-05-15 14:50] toobaz commented on #41272
I guess we would loose in terms of simplicity of implementation and syntax... but I see the possible important gain in writing all dtype-specific attributes/methods for `Series` which work on `Index` without any further effort (and vice-versa) by just registering the accessor on both.

[2021-05-15 14:59] KenilMehta commented on #41117
I am not working on it.

[2021-05-15 16:18] mzeitlin11 commented on #35603
Fixed on master, but could probably use a test

[2021-05-15 16:27] jbrockmendel commented on #41483
can you post the results of `frame.memory_usage(deep=True)`?

[2021-05-15 17:26] Melendowski commented on #27772
This has always done it, I can remember all the way back to 0.23.4, that blank line is for the names of the multi index levels

[2021-05-15 18:45] TLouf opened #41492 "ENH: load plotting entry point only when necessary"
#### Is your feature request related to a problem?

All installed plotting backends are loaded on the first `DataFrame.plot` call of a kernel, resulting in a potentially unnecessary module loading time, although quite minor, as it's only done on the very first call. However, if the number of pluggable backends out there increases in the future, this could become a real nuisance for users who insta

[2021-05-15 21:23] tomwojcik commented on #27772
I was debugging it yesterday out of curiosity and can confirm it's due to the name of MultiIndex. I'll tackle this bug sometime in the future.

[2021-05-15 22:36] Melendowski commented on #27772
I was under the impression it was intended behavior

[2021-05-16 01:22] jmholzer commented on #41485
Adding the pandas.util._decorators.deprecate_nonkeyword_arguments decorator to eval seemed to cause it to break (could not run example in docs, tested before and after adding decorator, ensuring decorator was only change). I can open an issue if anyone else would like to confirm.

To sanity check my method, I went through the process above for drop_duplicates (in frame and series) without any prob

[2021-05-16 01:57] mzeitlin11 commented on #41492
Thanks for the investigation @TLouf! That sounds reasonable to me, I think a PR to do this would be welcome.

[2021-05-16 02:20] greenary-John commented on #41483
Thank you for your help, I have updated the details of the memory

[2021-05-16 02:28] mzeitlin11 commented on #41483
If file size is not a concern, you could try `to_csv`, which probably will be less memory-intensive than `pickle`. If you have `pyarrow` installed on the machine, `to_parquet` will usually be better than pickling since the storage format is explicitly designed for data.

[2021-05-16 02:41] greenary-John commented on #41483
Thank you very much for your reply
I don’t know if the community has plans to optimize df.to_pickle？
and I also tried to use df.to_csv with chunksize to solve this problem yesterday.
You said df.to_parquet is also an option
Thanks again for your reply

[2021-05-16 02:54] #41483 closed

[2021-05-16 03:14] mzeitlin11 commented on #41483
If you think something weird might be going on, investigation into optimizing memory usage here would certainly be welcome. If you could provide a reproducible (smaller than 64 GB) example where memory usage is much higher than you'd expect, that would be helpful for diagnosing any potential memory inefficiency.

[2021-05-16 03:25] greenary-John commented on #41483
Yesterday, I have solved this problem by using df.to_csv(path,chunksize=10000)

[2021-05-16 06:56] attack68 commented on #41395
The current proposal is to add `Styler` specific pandas options in the following way:

**General Options** - Applies to all Styler Output formats:

[code]

[will finish this later]

[2021-05-16 06:57] ZurMaD commented on #41435
Docs:
https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/core/generic.py#L6095-L6250

[2021-05-16 08:33] FergM commented on #40558
Hello, thanks! I tried rerunning but the original command now gives a different error related to the Windows system.

I don't fully understand the Windows and c compiler instructions so I might be running it differently compared to the last time.

Closing the ticket for now. I've switched to using a docker container instead.

### New Error Trace
* Command: `python -m pip install -r requirements-de

[2021-05-16 08:33] #40558 closed

[2021-05-16 09:46] MarcoGorelli commented on #41485
Thanks for looking into this - I just tried it, and confirm that it breaks for me too.

Let's skip this one for now, the others seems to be working fine

[2021-05-16 15:28] mullimanko commented on #27772
For now, here is a quick and dirty workaraound after you have done the export:

[code]

[2021-05-16 18:21] Anupam-USP commented on #41485
Is someone already in this or can I try?

[2021-05-16 18:47] MarcoGorelli commented on #41485
Hey @Anupam-USP - feel free to take any of the non-ticked methods

[2021-05-16 22:41] mdhsieh commented on #41423
I tried making changes to the [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series) main section instead.

[2021-05-16 23:31] ConorLazarou commented on #15524
Not sure if this is the right place to put this, but I'm having the same issue with `read_sql`. On occasion, my query will return no results and a dataframe with no records. In processing that data, I'll do something like
[code]
which results in
[code]

[2021-05-17 00:43] bhishanpdl opened #41515 "Pandas Timedelta gives different result than numpy timedelta64"
Is this the desired behavior of pandas vs numpy timedelta?

[code]

[2021-05-17 01:33] thewholeworld opened #41516 "QST:On the problem of reading CSV"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-05-17 03:37] thewholeworld commented on #41516
import pandas as pd

data = pd.read_csv("test.csv", nrows=100)

I just tested this method, and I found that panda only read the specified number of rows into memory, not all of them.

[2021-05-17 03:37] #41516 closed

[2021-05-17 06:58] ieaves commented on #17927
It looks like this is also affecting categorical dtypes, i.e.

[code]

Might be another useful test case for @alimcmaster1 (which, thank you for taking this up).

[2021-05-17 08:47] danymat opened #41517 "QST: How to export json as zip without directories"
Hello Everyone, I searched a possible answer for my question without success.

Suppose I start my python script in the root directory of this structure tree:

[code]

In this script I read a csv from files, with a `read_csv('files/filename.csv')`

When I try to export a modified dataframe with `to_json('files/export.zip', compression='zip')`, I get a zipped file with the correct name, but when unz

[2021-05-17 08:50] softwaredevPK opened #41518 "Docs issue for pd.concat"
Hi,

I was recently updating my pandas from 0.24.2 to 1.1.5 and future warning informed me that default value for sort has changed from None to False. It said that to present current behavior I should change it to sort=True. After i updated my package, I checked if sort=None is still accessible and it is, while docs says it accepts only bool.

May I understand that I can still use sort=None to pre

[2021-05-17 11:15] qoffee commented on #40404
I have the same error with version of pandas==1.1.4
On line:
`print(outputs.head())`
Full Traceback is:
`tip/models/base.py:57: in wrapper
    decorated(self, **kwargs)
tip/models/dl_models/gcn_ppi_model/model.py:161: in predict
    print(outputs.head())
/opt/miniconda/lib/python3.7/site-packages/pandas/core/frame.py:751: in __repr__
    show_dimensions=show_dimensions,
/opt/miniconda/lib/python3.

[2021-05-17 12:02] MarcoGorelli commented on #40404
@qoffee do you have a reproducible example?

[2021-05-17 12:52] #38278 closed

[2021-05-17 13:18] #41407 closed

[2021-05-17 13:27] AlexKirko commented on #41515
Hello, @bhishanpdl . As stated in the docs, pandas `Timedelta` is an equivalent of the python `datetime.timedelta` class and not `numpy.timedelta64`. This is reflected in the constructor, please refer to the python [docs](https://docs.python.org/3/library/datetime.html#datetime.timedelta). As a result of this decision, we do not support the month time unit, while numpy does.

[2021-05-17 13:27] AlexKirko commented on #41515
Please reopen if I have missed something.

[2021-05-17 13:27] #41515 closed

[2021-05-17 15:17] #13427 closed

[2021-05-17 15:17] #13432 closed

[2021-05-17 15:17] #13501 closed

[2021-05-17 15:17] #13569 closed

[2021-05-17 15:17] #13872 closed

[2021-05-17 15:17] #13912 closed

[2021-05-17 15:17] #13934 closed

[2021-05-17 15:17] #14018 closed

[2021-05-17 15:21] #38870 closed

[2021-05-17 15:31] ParfaitG opened #41521 "ENH: Add support to `read_json` to encode character escape hex codes to utf-8 characters"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

All UTF-8 encoding should render to their true character form and not hex code representation. Users need reliability in

[2021-05-17 16:04] meyerhj opened #41522 "ENH: When chaining multiple .merge() functions, only the second "suffixes" param produces results"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-17 17:00] pratishv commented on #41522
suffixes only works in case you have overlapping column names, in first merge you don't have "test" column in df, thus there are no overlapping column names.

You can use a df.rename" if you actually want to have a different column name, after both the merges.

[2021-05-17 17:12] bhishanpdl commented on #41515
@AlexKirko Thanks for the heads up. Then, I would suggest that when using 'M', pandas should give an error, since the same code works in NumPy and gives different.

It would be nicer if there was only 'm' and NOT 'M', then there would be no confusion.

[2021-05-17 17:20] WilliamSMendes commented on #29718
Thanks for fix this bug!! Thank God

[2021-05-17 17:57] Jiezheng2018 commented on #41485
@MarcoGorelli I am not confident that I did the pull request correctly. I only completed the first two instructions, and I didn't use the gist you created.

[2021-05-17 20:16] asishm commented on #41521
Is this a `pandas` issue? I see the same behavior with `requests.get("...").json()` as well

[code]

[2021-05-17 20:26] JoshZastrow commented on #12513
Is this issue closed? Getting a new error related to how numpy handles `datetime[ns, UTC]` types:

[code]

## Working Example:
[code]

## Not Working Example # 1
[code]

## Not Working Example # 2
[code]

[code]

[2021-05-17 21:29] ParfaitG commented on #41521
Hmmm....good point @asishm. Confirmed with standard library `urllib` which pandas uses:

[code]

Given now we know this is not a pandas bug but general json handling in Python, should we consider an enhancement in `read_json` to re-encode these hex values to corresponding UTF-8 accent characters when they appear in json content?

[2021-05-17 21:38] mzeitlin11 commented on #41515
@bhishanpdl that will be the behavior in the future! Right now on the master branch using 'M' gives a `FutureWarning`

[2021-05-17 21:46] ParfaitG commented on #41521
#### Is your feature request related to a problem?

See above. Currently, `read_json` does not translate character escapes of hex code but imports such angle bracketed values as is.

#### Describe the solution you'd like

No new extra arguments or wrapper methods but simply an additional re-encoding step in parsing to DataFrame that converts accented characters as they should appear.

#### API bre

[2021-05-17 22:14] jackzyliu commented on #41485
@MarcoGorelli I'd like to work on the two `.fillna` functions (series and frame) if they are still open.

[2021-05-17 22:19] meyerhj commented on #41522
Thanks! I guess that kinda makes sense. I'll just rename all columns in the right dataframe prior to the merge then.

I think I would still find it more intuitive if the suffixes parameter would add the suffix whether there are duplicate columns or not.

[2021-05-17 22:24] Hoeze commented on #39133
What is the current way to implement an index supporting my custom ExtensionArray?

I noticed that when calling `.set_index(my_array).reset_index()`, my ExtensionArray always gets converted to a NumPy array of lists and then cannot be converted back.
How do I solve this issue?

[2021-05-17 22:43] xielmonx commented on #29072
how about if I have multi-index?

[2021-05-17 22:50] jreback commented on #12513
you would have to try on master and if not u can open an issue

[2021-05-17 22:57] rainwoodman commented on #34213
Thanks. I have a PR along the lines of 1: The approach is more like find a supported Cython way to use the deprecated numpy API till we decide on 2 or 3.

After this PR there is a segment fault from an apparently infinite recursive looking up of a typeslot inside the tslib.
I feel this is more likely a Cython bug than a pandas bug.

@jbrockmendel: any pointers as of where to look at on the pandas

[2021-05-17 23:00] mzeitlin11 commented on #41522
Will change the label, though -1 on the enhancement proposal. I'd imagine the more common use case for `suffix` is when you might have a small number of duplicate columns, but many distinct ones, so adding a suffix to those non-duplicate columns would change meaning unnecessarily. If a schema is well designed, the meaning of a column should not change when merging two data frames (https://en.wikip

[2021-05-17 23:12] jbrockmendel commented on #39133
At the moment there isn't one.  You might be able to kludge something together by patching `Index._dtype_to_subclass`, but I wouldn't rely on it until we get real support implemented.

[2021-05-18 00:22] mzeitlin11 commented on #41518
Thanks for the report @softwaredevPK! Since the docs and all the type hints along this path specify `sort` as a bool, I don't think `sort=None` is meant as a legal input. Based on the code, I'd guess `sort=None` will happen to be equivalent to `sort=False` since that gives the same behavior for a check like `if sort:`

Seems like an easy fix would be to use  https://github.com/pandas-dev/pandas/bl

[2021-05-18 01:35] jiahe224 commented on #41467
I am very sorry, Because the data is confidential, it cannot be provided. Even if the transformed data is provided, I guess it cannot be reproduced. The link cannot be clicked directly, it needs to be copied and opened in a new tab. This may be a mistake of GitHub. @phofl

[2021-05-18 02:00] twoertwein commented on #41517
`to_csv` does the same. Changing the behavior should be fairly easy, simply adding
[code]
before
https://github.com/pandas-dev/pandas/blob/671cf86a78e931a9c98ad72571ec65cd3c35d8a7/pandas/io/common.py#L776

Do you want to create a PR? This probably needs some discussion as some people might expect the nested behavior.

[2021-05-18 02:12] jiahe224 commented on #41467
I updated the comment and added the transformed data, now I can reproduce the random warning. @phofl

[2021-05-18 03:45] Anupam-USP commented on #41485
Hey @MarcoGorelli, I have started on `.where` but as indicated in #41523, I am not able to find any usage of .where like .drop, should I continue the search or proceed to test?

[2021-05-18 06:12] da-woods commented on #34213
@rainwoodman

[2021-05-18 06:38] phofl commented on #41522
-1 too, this is really counterintuitive. Merge should not be used to rename columns.

[2021-05-18 06:41] phofl commented on #41518
@mzeitlin11 would you be ok with raising a FutureWarning in 1.3 to remove the None behavior in 2.0? The Message kinda suggests that  None may be a valid input (which doesn‘t really makes sense of course, but I don‘t know how people use this)

[2021-05-18 07:18] meyerhj commented on #41522
I guess that makes sense. What I do not quite get is why .join() has a parameter that changes all columns. That's probably where my confusion comes from.

[2021-05-18 07:20] phofl commented on #41522
Could you clarify this? In general the suffixes for join should behave the same as for merge

[2021-05-18 07:23] meyerhj commented on #41522
Sorry, just checked the docs after writing the comment. Seems that I have only ever used join for fully overlapping DatFrames.

Whelp, gonna close this. Thanks for your help.

[2021-05-18 07:23] #41522 closed

[2021-05-18 08:15] softwaredevPK commented on #41518
With colleague of mine we performed few tests to check if there is any difference between sort=None vs sort=False vs sort=True.
As You can expect sort=None vs sort=True has completely different behavior but when you compare None with False it become interesting.
Test was made on few simple DF. When we were using sort=False each result was not sorted. Fort sort=None we found that it was sorting res

[2021-05-18 08:16] MarcoGorelli commented on #41485
@Anupam-USP #41523 already addresses `where`, please choose a different method

[2021-05-18 09:55] wwwald commented on #33746
I'm running into the same problem, or at least it seems very similar.

In my case, I'm trying to write a dataframe to an existing worksheet, using `ExcelWriter`'s append mode. When opening the resulting file `excel-results.xlsx`, Excel (Office 365) warns me that it is corrupt and offers to repair. The repair _does_ work, but of course, it shouldn't be necessary.

Some code to reproduce the problem

[2021-05-18 11:23] soorejmg opened #41536 "Pandas plot giving wrong graph with date time index"
With Pandas  1.2.*  and previous version as well, when the index is a date time format, dataframe is plotting wrongly. Date time as read from csv file using csv read  function has both date and time in it. The graph plotted is appearing wrongly, unless converted to String format.
Wrong graph below
![IMG-20210518-WA0019](https://user-images.githubusercontent.com/47497915/118642790-59c3f700-b80e-11e

[2021-05-18 11:44] MarcoGorelli commented on #41536
can you post a reproducible example please

[2021-05-18 12:37] soerenwolfers opened #41537 "BUG: Joining dataframe with single-level MultiIndex fails"
- [x] I have checked that this issue has not already been reported.
There is https://github.com/pandas-dev/pandas/issues/37277 which is about the same error message but which isn't about the fact that this shows up in a common operation like joining. Maybe there is a way to make the join work without fixing the underlying issue?

- [ ] I have confirmed this bug exists on the latest version of pand

[2021-05-18 13:00] ignacioparicio commented on #9246
Update on the above: the fix was to do `conda install -c conda-forge pytables` instead of `pip install pytables`. I still don't understand the ultimate reason behind the error, though.

[2021-05-18 13:19] mzeitlin11 commented on #41518
Sounds good to me!

[2021-05-18 13:20] akasolace commented on #25449
this bug still exist on version 1.2.4 ...

[2021-05-18 13:34] phofl commented on #41537
This is a duplicate of #36909 and is fixed on master

[2021-05-18 13:34] #41537 closed

[2021-05-18 13:56] MarcoGorelli commented on #40876
Hey @joonlim9 - it doesn't look like they're working on it, feel free to take it up if you like

[2021-05-18 14:02] snowman2 commented on #20521
I have been thinking about this and am wondering what the general thoughts are to use [DataFrame.attrs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.attrs.html#pandas-dataframe-attrs) and [Series.attrs](https://pandas.pydata.org/pandas-docs/stable//reference/api/pandas.Series.attrs.html#pandas-series-attrs) for reading and writing metadata to/from parquet?

For example, here is ho

[2021-05-18 14:37] jreback commented on #25449
@akasolace and you or anyone in the community is welcome to submit a patch

[2021-05-18 14:40] soorejmg commented on #41536
It looks like it happens when there is a break in the time interval ``
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_read=pd.read_csv('trial2.csv',parse_dates=["Time"])
df_read.set_index('Time',inplace=True)

df_read.plot(y='blackmagic',rot=15)

# plot after converting to string

df_read.index=df_read.index.map(str)
df_read.plot(y='blackmagic',rot=30)

[2021-05-18 15:31] bashtage commented on #40855
I've relabeled this as an enhancement.  Stata supports nullable columns with any underlying dtype.  Fairly straightforward enhancement request, and reasonable.

[2021-05-18 15:31] TanguyLe opened #41543 "BUG: The frequency of a DatetimeIndex is lost when using to_parquet with pyarrow"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]
[code]
#### Problem description

With the following versions:
- pandas: 1.2.4
- pyarrow: 4.0.0

The bug is different with fastparquet, but there

[2021-05-18 15:33] snowman2 commented on #20521
Here is a hack to get the attrs to work with pyarrow:
[code]

Example:

Writing:
[code]
Reading:
[code]
[code]
[code]
[code]

[2021-05-18 15:59] mroeschke opened #41544 "BUG: Empty DataFrame(..., dtype='datetime64[ns]').quantile(..., axis=1) returns float64 dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

This ideally should still return `datetime64[ns]` dtype

[code]

[2021-05-18 17:36] jbrockmendel commented on #34213
Neat!  We'll be able to get rid of a few non-pythonic code paths in Timestamp, Timedelta, Period, NaT.

[2021-05-18 17:38] rainwoodman commented on #34213
Adding c_api_binop_methods=True fixed all segfaults.

[2021-05-18 17:48] snowman2 commented on #20521
I have a PR that seems to do the trick: #41545

[2021-05-18 17:49] garvit-joshi opened #41547 "BUG: openpyxl not mentioned in Dependencies"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

While using the above code snippet in Python 3.9.5
[code]
#### Note: Installing openpyxl fixe

[2021-05-18 17:56] garvit-joshi commented on #41547
Possible Fix: #41548

[2021-05-18 18:15] phofl commented on #41547
Openpyxl and xlsxwriter are listed as optional dependencies here https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#optional-dependencies

this is not a required dependency

[2021-05-18 18:19] da-woods commented on #34213
I believe it's a bug https://github.com/cython/cython/issues/4172. It sounds like you can work around it for now though

[2021-05-18 18:23] garvit-joshi commented on #41547
Ok! Thank You

[2021-05-18 18:23] #41547 closed

[2021-05-18 20:00] jmholzer commented on #41485
I will open a pull request for set_names.

[2021-05-18 20:12] gdudziuk opened #41550 "BUG: Automatic data alignment fails in the `transform` method of `GroupBy` objects"
- [x] I have checked that this issue has not already been reported. _(... or at least I couldn't find an issue like this)_

- [x] I have confirmed this bug exists on the latest version of pandas. _(which is 1.2.4 at the moment)_

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Example data and intended output

Let's create some synthetic data to illustra

[2021-05-18 20:47] jbrockmendel commented on #23212
Is there anything left to do/discuss here?

[2021-05-18 20:50] jbrockmendel opened #41552 "BUG: self.fill_value ignored in SparseArray.min/max"
https://github.com/pandas-dev/pandas/pull/41159#discussion_r621602882 the PR got merged before the problem was addressed

[2021-05-18 21:12] MarcoGorelli opened #41553 "DOC: fixup docstring of deprecate_nonkeyword_arguments"
See this comment from a previous pull request I submitted: https://github.com/pandas-dev/pandas/pull/41524#discussion_r634344743

Just need to add `, optional`, so opening as good first issue

[2021-05-18 21:37] phofl commented on #41550
Hi, thanks for your report.

I am not sure, if transform should align the output. Did you find any reference about this in the docs? For example, what would you expect if your function would change the index to a RangeIndex for example?

[2021-05-18 21:57] gdudziuk commented on #41550
Good point - I don't know what I would expect. But is that an intended use of `transform`? According to the docs, `transform` calls a function "producing a like-indexed Series on each group and return a Series **having the same indexes as the original object** filled with the transformed values". It sounds like changing the index e.g. to a `RangeIndex` shouldn't be allowed here.

True, I have foun

[2021-05-18 22:11] jbrockmendel commented on #9216
You can now pass a dict of Series and copy=False and should be OK

[2021-05-18 22:11] jreback commented on #41550
transform expects a reduction operation - when it's not i don't know if there are any expectations

[2021-05-18 22:11] jbrockmendel commented on #24567
Is this still needed/actionable?

[2021-05-18 22:21] jbrockmendel commented on #26861
This now works, could use a test

[2021-05-18 22:25] mlissner commented on #25341
For any others arriving here, in certain version so Python, you seem to need to do `from typing import Pattern`, `some_var: Pattern = xxx` instead of doing `from typing import re` and then `some_var: re.Pattern`. At least, this is what made mypy happy for me today.

[2021-05-19 00:02] soorejmg commented on #41536
# this was not a bug. It was caused by missing date time points which was being filled automatically

[2021-05-19 00:03] soorejmg commented on #41536
**This was not a bug. It was caused by missing date time points which was being filled automatically**

[2021-05-19 00:03] #41536 closed

[2021-05-19 00:48] isVoid commented on #41466
@mzeitlin11 Sorry about the late reply. Thanks for clarification. It makes sense it's about the equality of two arbitrary objects. In this case, instead of considering this as a bug, would it makes sense to provide a custom lambda to determine equality of row values?

E.g.:
[code]

[2021-05-19 00:57] mzeitlin11 commented on #41466
I think that would be out of scope for `assert_series_equal`.  Something like you describe above with applying an arbitrary function item by item sounds better suited as a custom function (that could be defined relatively cleanly with existing `apply` functionality)

[2021-05-19 00:59] isVoid opened #41556 "BUG: groupby.shift return keys filled with `fill_value` when `fill_value` is specified"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-19 02:01] mzeitlin11 commented on #41556
Thanks for the report @isVoid! Can confirm the issue persists on master, investigations to fix are welcome! At a brief look, looks to be because `fill_value` is not supported in the cython groupby shift algo, so a different path is taken.

[2021-05-19 03:10] jake9wi commented on #33205
Has there been any updates to this.  I am experiencing this issue with pandas 1.2.4.

[2021-05-19 03:23] marty-rudolf commented on #41553
take

[2021-05-19 06:53] ShreyDixit commented on #41485
Hi @MarcoGorelli, I would like to work on `mask` if its not already taken?

[2021-05-19 06:55] MarcoGorelli commented on #41485
go ahead, thanks!

[2021-05-19 07:46] jaindamini1111 opened #41561 "ENH: keep the common columns from either the left/right/both dfs in pd.merge."
#### Is your feature request related to a problem?

I wish I could use pd.merge and keep the common columns just from either the left/right df instead of getting col_x/col_y.

#### Describe the solution you'd like

pd.merge should get a new parameter like - keep_common_columns_from - which can take three arguments -

1. only_left
2. only_right
3. both

[2021-05-19 07:55] TGayathri opened #41562 "QST: Pandas Dataframe Rolling based on timeframe throwing exception “window must be an integer”"
This is the schema of the dataframe i'm using to evaluate aggregate based on rolling timeframe.

[code]
My requirement is that I want to find the min of paramName1 over the period of past 1 hour data.

I'm forming the eval expression dynamically which will be like

`streamingDf.rolling('1H').paramName1.min()`

```eval(f'streamingDf.rolling('1H').paramName1.min()') ```

then I'm evaluating the expr

[2021-05-19 08:07] zgao12 opened #41563 "BUG:"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-19 10:33] DomKennedy opened #41564 "BUG: groupby().ffill() strips level names from MultiIndex on columns"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Actual output

[code]

#### Expected output

[code]

#### Problem description

Calling `groupby().ffill()` on a Da

[2021-05-19 10:53] gdudziuk commented on #41550
Don't you mean `aggregate`? Where the docs state that `transform` carries out reduction operations?

[2021-05-19 11:17] AartGoossens opened #41565 "ENH: Better error message when interpolating dtype integer with method="linear""
#### Is your feature request related to a problem?

When trying to interpolate a column with dtype integer with `method="linear"` the error message is not very descriptive (example to reproduce at the bottom of this issue):
[code]

As "linear" is the default interpolation method I think the error message should be more descriptive, even though IntegerArray is still experimental according to the [d

[2021-05-19 12:53] #14467 closed

[2021-05-19 12:53] #14564 closed

[2021-05-19 12:53] #14773 closed

[2021-05-19 12:53] #15036 closed

[2021-05-19 12:53] #15106 closed

[2021-05-19 12:53] #15239 closed

[2021-05-19 12:53] #15273 closed

[2021-05-19 13:09] gitgithan opened #41568 "BUG:np.nan not recognized by isna() or isnull() to be NA"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-19 14:47] saintsGrad15 commented on #16118
Just to add another use case that elicited this error...

I was saving a Series to an HDFStore. The index of the Series had strings except for one `None` value. The presence of this `None` value seemed to be the cause of this error. Updating my logic to use a string in its place (a better choice for my case anyway) eliminated the error.

Hope this helps someone save some debugging time.

[2021-05-19 14:51] excalamus opened #41569 "QST: How to disable s3fs"
I installed s3fs to try it out.  I have removed it from my environment after deciding against it.  However, someone upstream uses Pandas.  Despite s3fs having been removed and no s3fs imports existing anywhere in the entire code base, Pandas wants to use s3fs.  This causes my application to fail.  Is there a way to correct this without having to recreate my entire development environment?

[code]

[2021-05-19 14:59] mzeitlin11 commented on #41565
Thanks for the clear report @AartGoossens! There are currently some issues with interpolation with the new nullable data types (#40252) - like you say implementing interpolation should likely be the end goal, but for now a more explicit error message would be an improvement.

[2021-05-19 15:10] mzeitlin11 commented on #41568
Thanks for your report @gitgithan, I think you have the right understanding here and agree with your expected output. I can't reproduce this issue - I see your expected output  on both master and 1.2.4.

[2021-05-19 15:13] mzeitlin11 commented on #41569
It's hard to figure out what might be causing the issue without an example. Can you please simplify what's going on into a minimal, reproducible example (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) and use `pd.show_versions` to output your environment?

[2021-05-19 15:44] TomAugspurger commented on #39133
Brief call today, it *feels* like (uncertain) that it'd be hard to do this at the Hashtable level. Probably handle NA values at the Index or IndexEngine level.

[2021-05-19 15:48] excalamus commented on #41569
Thank you for taking the time to read and reply.  I'm closing because I, and I suspect you, don't have time to track this down.

I had asked in hopes that there was a cache that could be deleted or something simple like that.  A minimal reproducible example would be great.  However, my company uses a massive requirements.yml for a shared library.  After reinstalling the environment, the applicatio

[2021-05-19 15:48] #41569 closed

[2021-05-19 15:51] mzeitlin11 commented on #41569
Ah ok - thanks for explaining. Please ping to reopen if you find a way to narrow down where any potential issue might be and we could look into this further!

[2021-05-19 16:37] etiennekintzler opened #41570 "BUG: Column 'Int8Dtype' casted to 'object' type when melted"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
Pandas's dtype `Int8Dtype` is converted to `object` when melted.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When melted, the Int8 colu

[2021-05-19 16:51] 01-vyom commented on #41485
Working on `set_levels`.

[2021-05-19 16:52] snowman2 commented on #34596
Related: https://github.com/pydata/xarray/issues/3497

[2021-05-19 17:01] jbeyer16 opened #41571 "ENH: Extend `UnsortedIndexError` to regular indices"
#### Is your feature request related to a problem?

When using `.loc` to index into a dataframe whose index is not sorted, a `KeyError` is raised that indicates the key does not exist. But sorting the index allows the same `.loc` command to pull a range of values from the dataframe.

#### Describe the solution you'd like

I'd like to see [this](https://github.com/pandas-dev/pandas/issues/11897) ex

[2021-05-19 17:08] snowman2 opened #41572 "BUG: when attrs lost on original dataframe, copy loses the attrs as well"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Possibly related to #28283 ?

#### Code Sample, a copy-pastable example

[code]
[code]
[code]
[code]
[code]

#### Problem description

Ideally, when making a copy, the at

[2021-05-19 17:35] ParfaitG commented on #41561
I feel the user can prepare the data prior to merge to decide which same-named columns from either side to retain and do so as part of the same chain. Adding extra args to a well-established, extensive method may cause confusion. See current signature: [`pandas.merge`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

[code]

[2021-05-19 19:49] jtbr opened #41574 "ENH: support defaultdict in read_csv dtype parameter"
I have a large csv file with 15k columns with non-obvious names, of which 14990 are floating point numbers. I'd like to load them as floats without `read_csv` having to spend the time divining their types.

`dtype` allows providing a `dict`, but making one with all the column names is tedious and not always possible. The obvious solution is to provide a `defaultdict`, with a default of `np.float32

[2021-05-19 20:08] TheNeuralBit opened #41575 "BUG: `GroupBy.describe` produces inconsistent results for empty datasets"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
[code]

#### Problem description

`SeriesGroupBy.describe` raises an error when called on an empty dataset, and `DataframeGroupBy.describe` succeeds, but returns an empty

[2021-05-19 20:45] isVoid commented on #41556
Another related corner case (slightly different behavior)
[code]
When `periods=0`, the return index includes redundant information.

Expected behavior:
[code]

[2021-05-19 21:10] phofl commented on #41561
You can simply do ``suffixes=("", "drop_later")`` if you want to keep the left column names as is. If you want to drop, you have to do this beforehand

[2021-05-19 21:55] ParfaitG commented on #41360
While not one of the authors of the datetime API in pandas but having discovered similar situation when parsing seconds from epoch and though source code is a bit involved to know for certain, my guess is `pd.to_datetime` is handling conversion differently due to the input:

- With `isoformat`  you are passing in a string representation of time without local timezone or offsets into `pd.to_datetim

[2021-05-19 22:05] jtbr commented on #41574
As a workaround I tried subclassing `defaultdict` to make `mydict.get(key)` behave like `mydict[key]` and to override the `in` operator to always return true. Unfortunately this is not work either. So it appears `read_csv` must be using the dict's `keys()` function directly. My subclass code follows:

    class MyDefaultDict(defaultdict):
        def __contains__(self, item):
            return Tr

[2021-05-20 04:05] jbrockmendel commented on #40110
Tried changing this to only disallow float-int casting that included NaNs, but it turns out we explicitly test that `Series([1, 2, 3.5], dtype=any_int_dtype)` raises.

Is there reasoning/precedent for why we would treat list[float] differently from ndarray[float]?  cc @jreback

[2021-05-20 07:31] AartGoossens commented on #41565
@mzeitlin11 Does the "Contributions Welcome" milestone mean that it's OK if I would create a PR with the suggested change?

[2021-05-20 08:46] NickVeld commented on #41574
+1

I investigated the code and found [here](https://github.com/pandas-dev/pandas/blob/a246270e55ba953276fc11fdf30ea070ba6edd82/pandas/_libs/parsers.pyx#L986) this
[code]
looking through the following stack (I have all the floats except the strings in the index column thus I need the default dict too):
[code]

Maybe it helps to make workaround

[2021-05-20 09:32] NickVeld commented on #40589
Remove spaces around "x" for the correct task list rendering.

- [x] Task

Source:
`- [x] Task`

[2021-05-20 10:48] jreback commented on #40110
only recollection is that we didn't want to silently cast floats to ints like numpy (but agreed this is a bit odd that we allow for array but not list)

[2021-05-20 11:19] jaskiratsingh2000 opened #41581 "QST: Unable to install the pandas into the linux environment (Raspberry Pi 4)"
Hey, I am using the linux environment on the raspberry pi 4 device and trying to install the pandas. I had ran almost these following commands one by one but none of them worked for me.

Command 1:
`sudo apt-get install python-pandas`

Command 2:
`python -m pip install pandas --upgrade`

Command-3:
`sudo pip3 install pandas`

It always throw the error and I am getting this following error https://

[2021-05-20 12:30] pganssle commented on #37654
FYI, I suspect that this will become more important as time goes on. I am relatively close to finishing the integration of `zoneinfo`'s logic into `dateutil.tz`, which will scramble the `dateutil` implementation details that `pandas` is relying on. There's a good chance that `pytz` will adopt `zoneinfo` under the hood as well, which again will break `pandas`.

The sooner `pandas` gets out a versio

[2021-05-20 13:07] TigerZhao007 opened #41582 "BUG: The DataFrame object's element bool check can NOT work with empty list"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-20 14:37] gitgithan commented on #41568
I compared the pd.show_versions() from another computer which worked, it was numpy 1.19.5. This one that created this issue is 1.18.x (uninstalled before i remember what is x). So i upgraded numpy to 1.19.5 and it's fine now!

I would still like to understand what could be happening in case similar issues happen in future.
How does pandas depend on numpy in NA value checking?

[2021-05-20 15:02] vrushalit commented on #32550
Hey! I'm a new contributor and this is a beginner issue that excites me can someone help me get started with resolving this issue and what should I learn?

[2021-05-20 15:04] willsthompson opened #41584 "BUG: GroupBy.transform() unexpectedly coerces columns to object dtype when there is another object dtype column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

The current `transform()` behavior is inconsistent with the behavior of other reducers and wit

[2021-05-20 15:22] mzeitlin11 commented on #41565
Yep! (though even without a milestone contributions are always welcome :)

[2021-05-20 15:56] gjeusel opened #41585 "BUG: concatenation on monthstart indexes in wrong timezone fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

<details>
<summary><i>Visualize the two dataframes</i></summary>

[code]

[code]

</details>

A workaround is to conve

[2021-05-20 16:39] Lokeshrathi commented on #41561
@phofl Can you please elaborate here, seems to be effective solution but couldn't find anything in the documentation.

[2021-05-20 17:16] jbrockmendel commented on #40110
any preference for changing/deprecating one or the other?

[2021-05-20 17:53] jreback commented on #40110
yeah i think we should raise
i find numpy a bit odd here

[2021-05-20 18:57] Jiezheng2018 opened #41587 "https://github.com/Jiezheng2018/pandas/blob/65bba0b599faac90ab063a1b93b8532cf2639893/pandas/tests/series/indexing/test_where.py#L143-L144"
https://github.com/Jiezheng2018/pandas/blob/65bba0b599faac90ab063a1b93b8532cf2639893/pandas/tests/series/indexing/test_where.py#L143-L144

[https://github.com/Jiezheng2018/pandas/blob/65bba0b599faac90ab063a1b93b8532cf2639893/pandas/tests/series/indexing/test_where.py#L143-L144](url)

`https://github.com/Jiezheng2018/pandas/blob/65bba0b599faac90ab063a1b93b8532cf2639893/pandas/tests/series/indexing/

[2021-05-20 18:57] #41587 closed

[2021-05-20 19:05] twoertwein opened #41588 "TYP: IntervalIndex.right/left might be infered as function"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

pyright
[code]

mypy
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc7

[2021-05-20 19:25] jbrockmendel commented on #40110
hmm not what i expected.  in most cases we think of `Series(foo, dtype=bar)` as behaving like `Series(foo).astype(bar)`, which wouldn't raise

[2021-05-20 19:46] phofl commented on #41584
Your specific example is not a transform bug. You are getting a DataFrame into your function ``myfirst``, where iloc casts to a Series, causing the dtype conversion. But the following causes the same behavior, which is a bug:

[code]

[2021-05-20 20:11] Grillard opened #41591 "Inconsistency in to_datetime timezone aware transformation"
Hello,

I found this weird behaviour when transforming a timezone aware datetime object into a pandas datetime using to_datetime. If I set the timezone before transforming I get an incorrect result. Here is a small code snippet on how I get this:

[code]
which gives me:
[code]

t1 is the intended output, but t2 gives an strange 4 minutes different.  I tried this with different random timezones and

[2021-05-20 20:25] mroeschke commented on #41591
Please see the warning section in https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#working-with-time-zones and http://pytz.sourceforge.net/#example-usage on how to correctly initialize a pytz timezone to a `datetime.datetime`

[code]

Closing as usage behavior question and not a bug in pandas.

[2021-05-20 20:25] #41591 closed

[2021-05-20 20:43] datapythonista commented on #32550
Feel free to help. Just run the validation script, pick a file, and open a pull request with the fixes to that file. There is documentation on how to contribute to pandas here: https://pandas.pydata.org/docs/development/index.html

[2021-05-20 21:10] phofl commented on #41561
You will have to be more specific about this. I just showed how to use the suffixes keyword to avoid renaming on one side. The suffixes keyword itself is documented

[2021-05-20 21:38] alepapadop commented on #39113
Same problem here with openSUSE Lead 15.2 by using pip for installing pandas

[2021-05-20 22:52] tritemio opened #41596 "PERF: groupby performance regression in 1.2.x"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Pandas 1.2.x is much slower (9x slower) than 1.1.5 in the groupby aggregation above when th

[2021-05-21 01:16] #33634 closed

[2021-05-21 01:44] #41225 closed

[2021-05-21 02:30] rhshadrach opened #41598 "PERF: Calling slowpath for every group in transform"
Code in `groupby.generic.DataFrameGroupBy._transform_general`:

https://github.com/pandas-dev/pandas/blob/b3e335254f46a526ee3ce9bb757eac4011d9d1fe/pandas/core/groupby/generic.py#L1299-L1309

This is calling `_choose_path` for every group, which in turn calls both the slow_path and the fast_path to determine if the fast path can be used. Indeed, running the code (from #41584):

[code]

shows `myfir

[2021-05-21 02:47] jbrockmendel commented on #41598
worth a shot.  itd be a pretty nice simplification of spaghetti code on top of the perf benefit

[2021-05-21 11:12] simonjayhawkins commented on #24804
done in #36695

[2021-05-21 12:05] simonjayhawkins opened #41602 "BUG: case argument ignored when regex is False in Series.str.replace"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-21 13:50] #41137 closed

[2021-05-21 14:37] ThomasDelorme opened #41604 "QST: | (or) behavior when working with two series that have different indexes"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

When using the | operation between two dataframes, the order of the operation can give different results if you have nan, or different index.

[2021-05-21 15:37] willsthompson commented on #41584
@phofl Thanks, I guess I don't quite understand these APIs. My understanding was that `transform()` must operate on columns, so its function always receives a Series, whereas with `agg()` it depends. For example, if this is true:

[code]

Can't I assume the function received a Series, since `iloc[0]` returned an atomic type? Or are you just saying that `agg()` in my example received a DataFrame, s

[2021-05-21 15:45] #26919 closed

[2021-05-21 15:55] NeuroBobster opened #41605 "QST: Was it intended to not sort the columns anymore when creating DataFrame from the list of dictionaries?"
When migrating from pandas 0.24 to 1.1.5 I stumbled across this:

[code]
Both ran on python 3.7. Seems like old version used to always sort columns, while the new one doesn't and uses the order of the first item in the list. I didn't find any related information in docs or SO, so my question is: was this behaviour intended? Does this have anything to do with dictionaries preserving order (since py

[2021-05-21 16:12] #41423 closed

[2021-05-21 16:20] #41142 closed

[2021-05-21 16:31] mzeitlin11 commented on #41604
Thanks for the report @ThomasDelorme! These both look suspicious - I think both are bugs. Think the root cause is along the lines of weirdness with truthy operators for object arrays - see the whole host of issues around #12863 in both `numpy` and `pandas`.

What looks to be the reason for the lack of commutativity in the first case is that the logic for computing the binary op hits `None or True`

[2021-05-21 16:46] mzeitlin11 commented on #41582
Thanks for the report @TigerZhao007. Generally `pandas` containers aren't designed for nested data like this - should be avoided if possible. Supporting this is problematic because semantics around comparison like `df == a` are

- If `a` is a scalar, then compare `a` to all elements of `df` (for example your case above with `a = ""`)

- If a is a list-like, compare element wise (for example `df ==

[2021-05-21 16:46] #38845 closed

[2021-05-21 16:50] mzeitlin11 commented on #41574
Supporting `defaultdict` sounds reasonable, I think a PR to add this would be welcome if anyone's interested in working on it!

[2021-05-21 16:51] mzeitlin11 commented on #41570
Thanks for the clear report @etiennekintzler! Issue persists on master, investigations to fix are welcome!

[2021-05-21 16:56] mzeitlin11 commented on #40719
@jbrockmendel how public are these functions (eg can we just change the default for integer data to `check_exact=True` or do we have to worry about backwards compat?) Also xref #30347

[2021-05-21 17:28] jbrockmendel commented on #40719
in the past when ive changed tm.assert_foo functions @jorisvandenbossche eventually reports that a downstream package has been affectd

[2021-05-21 17:40] etiennekintzler commented on #41570
Hi @mzeitlin11

After checking the function melt, it looks like the problem appears when the attribute `DataFrame._values` is accessed : https://github.com/pandas-dev/pandas/blob/34b0bdc5d315c5ebae582291da381c5f075de372/pandas/core/reshape/melt.py#L147

For example
[code]
**returns `dtype('O')` which doesn't seem right**.

As expected `pd.DataFrame({"a": [1, 2]})._values.dtype` returns `dtype('int

[2021-05-21 17:55] itamarst commented on #29716
This still happens in 1.2.4 and `master` as of May 2021. It should probably be reopened. I will try to implement a fix.

[2021-05-21 17:55] itamarst commented on #29691
This still happens in 1.2.4 and `master` as of May 2021. It should probably be reopened. I will try to implement a fix.

[2021-05-21 18:02] mzeitlin11 commented on #41570
Not sure about the best way to approach fixing this. The problem is that for `melt` we essentially want to take data and flatten it. We flatten it by converting to a `numpy` array and using`ravel` - the conversion to `numpy` is the problem since `ExtensionDType` data will become `object`.

There's also the further issue that for a case like
[code]
keeping extension types would require invoking som

[2021-05-21 18:15] Liam3851 commented on #41605
Added in 0.25.0, see [the release notes](https://pandas.pydata.org/pandas-docs/version/0.25.1/whatsnew/v0.25.0.html#column-order-is-preserved-when-passing-a-list-of-dicts-to-dataframe).

[2021-05-21 18:21] codebraker commented on #38844
I am currently having Pandas 1.2.4. Is this fix included here?

[2021-05-21 18:44] #41605 closed

[2021-05-21 18:44] jreback commented on #38844
1.3

[2021-05-21 19:45] mzeitlin11 commented on #41596
Thanks for looking into this @tritemio! I think the issue may that we're now taking the slow path (non-cython) because of logic here https://github.com/pandas-dev/pandas/blob/751d500e96fc80e27b5c75eaf81f2852cb58f8b8/pandas/core/groupby/ops.py#L321 raising an error such that we go to the slower fallback. Something like `last` would work for object type string data, so some dispatch logic for String

[2021-05-21 23:32] jbrockmendel commented on #40110
update: Index behaves like Series in this case

[2021-05-22 01:13] jbrockmendel commented on #40110
This actually gets worse:

[code]

The latter behavior we have a specific test for added in #21456

@pandas-dev/pandas-core thoughts on making this consistent?

[2021-05-22 01:24] #28145 closed

[2021-05-22 02:29] twoertwein opened #41610 "TYP/DOC: Use Protocols for file-like objects in read/to_*"
#### Is your feature request related to a problem?

It is often not clear which methods a "file-like object" needs to implement to be compatible with `read/to_*`.

#### Describe the solution you'd like

Define multiple `typing.Protocol`s to make clear which methods need to be implemented, similar to python/typeshed/issues/4212.

This will probably be a bit messy: 1) many  protocols and 2) most lib

[2021-05-22 05:48] attack68 opened #41613 "DOC: add to_latex to io.rst and other cross-referencing areas"
The proposed `Styler.to_latex` is marginalised in the docs. Needs greater visibility through cross referencing with `io.rst`.
Possibly also adding to the `Styler` class description.

[2021-05-22 06:27] attack68 opened #41614 "DOC: use shared docstrings for repeated args in Styler methods"
Many args repeat keyword args like `subset`, should be a consistent re useable shared docstring for these

- [x] `subset` and `props` #44454
- [x] `color` #45251
- [x] `enc` `buf` #45548
- [x] `color` in highlight null #45907

[2021-05-22 08:56] shiv-io commented on #26779
take

[2021-05-22 08:57] shiv-io commented on #26779
@phofl I'd like to work on adding a test for this. Is `pandas/tests/frame/methods/test_dtypes.py` the correct module to add the test to? Thanks!

[2021-05-22 11:08] phofl commented on #26779
This should go somewhere into frame/indexing

[2021-05-22 12:11] Pydare commented on #41485
Hi @MarcoGorelli, this would be my first Open Source Contribution. I would like to work on the `set_codes` function.

[2021-05-22 15:08] xkungfu opened #41616 "BUG: very very slow when append long dictionary into HDF5 file"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-22 15:29] yohplala opened #41617 "BUG: Date offset on numpy datetime64 does not work for week and month offsets"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]
Result
[code]

[code]
Result
[code]
[code]
Result
[code]

#### Problem description
Applying week or month offset on numpy `Datetime64` does not w

[2021-05-22 15:51] rhshadrach commented on #40110
Instead of raising, when the specified dtype could result in data loss (e.g. float -> int), does a warning make sense? That way it is visible to interactive users and effectively an error for a production job running with -Werror or in a test framework.

[2021-05-22 18:24] rsheftel commented on #12649
The PR #35741 seems to say that in the future the date_parser in read_csv will be deprecated. Does anyone know what the right way to invoke a custom date parser will be in the future?

[2021-05-22 20:29] ardamaks opened #41623 "QST: Error in Pandas to_datetime conversion?"
#### Is this an error in Pandas to_datetime conversion?

**Initial data stored in following format as dtype: object:**
17:00:00

**After using following code, data is returned with year added and desired dtype: datetime**
[code]

**If Im using now dt.time to remove date and keep only hours, I'm getting dtype: object back... Is this a bug? What should be correct logic to keep %H:%M:%S and dtype: da

[2021-05-22 21:03] msameen99 opened #41625 "QST: read_excel - "odf engine" remove "\n" when reading multi-line cell from “ods” file"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

I've a simple "ods" file (Test01.ods) with the below data in "sheet1" :-

[![enter image description here][2]][2]

also I saved it as "xlsx" (Test01.xlsx) so I've two fi

[2021-05-22 22:06] asishm commented on #41625
Can you post output of `pd.show_versions()` and a reproducible example (preferably post the file as well)

[2021-05-23 00:20] mgao6767 commented on #23572
Just want to add that there should be brackets around `finalDF.dtypes==object` since `&` has a higher priority than `==`.

[code]

[2021-05-23 00:39] msameen99 commented on #41625
Hi asishm,

Kindly find below the requested data, also I attached both the *.xlsx and *.ods Data files.

1- **The output of the pd.show_versions()**

[code]

2- **Below is a very basic JupyterLab Notebook:-**

Cell 1
[code]
Cell 2
`ods_df.loc[0,"Data"]`

Cell 3
`xlsx_df.loc[0,"Data"]`

The output of the above cells is below, where the "ods" output did not return the newline char "\n" ("xslx" is OK

[2021-05-23 02:09] jbrockmendel commented on #41623
I don't know what it means "to keep %H:%M:%S and dtype: datetime".  What is the ideal end result?

[2021-05-23 02:58] jbrockmendel opened #41626 "API: make CategoricalIndex._concat consistent with pd.concat"
`Index._concat` (used by `Index.append`) is thin wrapper around `concat_compat`.  It is overriden by CategoricalIndex so that CategoricalDtype is retained more often than it is in `concat_compat`.  We should make these match.

If we just rip `CategoricalIndex._concat`, we break 6 tests, all of which boil down to:

[code]

If we go the other way and change `concat_compat`, we break 6 different test

[2021-05-23 05:20] ZurMaD commented on #41616
I replicate the bug

![image](https://user-images.githubusercontent.com/28235457/119249243-95d3c080-bb5c-11eb-8ac4-101a7a2b6990.png)

Also is overloading one thread of the CPU

[2021-05-23 05:27] ZurMaD commented on #41581
I saw that you're running python3.9

Acording to this issue https://stackoverflow.com/questions/64038673/could-not-build-wheels-for-which-use-pep-517-and-cannot-be-installed-directly there are libraries that have problems with ARM-based architectures

[2021-05-23 05:47] ArtinSarraf commented on #41150
@jreback any thoughts given my follow up comment? I still think that a performant lazy cross join would be a real benefit to the library. It would provide a performant way to solve a very common type of problem in a simple/intuitive way, that is directly analogous to how it would be solved in sql.

All that said if this suggestion doesn’t fall inline with scope of the pandas API then I will go ahe

[2021-05-23 05:56] jreback commented on #41150
search for other issues which have a function provide for a conditional join - these are a reasonable api, which then could be solved by chunk merging

so would take a soln that does that - kind of your impl under the hood but uses the existing api (which a condition keyword)

[2021-05-23 06:09] ArtinSarraf commented on #41150
The condition keyword makes sense too, I’ll take a look soon. Btw I don’t  think that chunked merging is necessarily the best solution. Could potentially be some cython based solution too, not sure.

[2021-05-23 06:18] #41150 closed

[2021-05-23 07:18] i-aki-y commented on #41047
This problem seems to happen the following codes in `datetimes.py`:

[code]

In the above code, the `format_is_iso` seems not to recognize the format that ends with 'Z', while the `guess_datetime_format` function used to infer the format can recognize the 'Z' and return the format include 'Z'.
So the inferred format string that has 'Z' can be wrongly navigated to the non-utc parse function.

I thi

[2021-05-23 10:13] ardamaks commented on #41623
I want to have in this format 17:00:00 and dtype: datetime. So no date added. If I use to_datetime it returns desired object, but does not (it seems) respect format. If I use  dt.time, it returns desired format, but "wrong" dtype

[2021-05-23 12:10] yohplala opened #41628 "DOC: merge_asof accepts a vector for 'left_on' parameter (and this is great! :))"
#### Documentation problem

[pandas.merge_asof()](https://pandas.pydata.org/docs/reference/api/pandas.merge_asof.html) states regarding `left_on`parameter:

_left_on : label
Field name to join on in left DataFrame._

#### Suggested fix for documentation

I tried to see if like `merge_ordered` a vector the size of the left DataFrame would not be accepted, and it is. I would suggest to complete the

[2021-05-23 12:53] ivangvi opened #41629 "QST: difference using ['column'] or .column?"
Hi All,

I was wondering if you have any guidelines as to when it is possible to just go for df.column instead of df['column'], as I prefer the former for code styling, but I recall it gave me some issues before. I'm not sure I understand the specific difference between one and the other, is there any?

For now, what I do is only use ['column'] when declaring a new column and then always go for .c

[2021-05-23 14:46] ZurMaD commented on #41629
Hello there,

There is a external blog that details the differences and why or why not to use one of them

https://medium.com/dunder-data/select-a-single-column-of-a-pandas-dataframe-with-the-brackets-and-not-dot-notation-a5ec981cbae6

If you can't see the post, open the link in incognito mode

[2021-05-23 15:16] FloBay opened #41630 "BUG: pd.DataFrame.from_records raises key error 0 when multiprocessing a data frame over multiple cores"
-  I have checked that this issue has not already been reported.

-  I have confirmed this bug exists on the latest version of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I don't know why it works when I do the small workaround in function 1 (which should be roughly what from record is doing) or why from_records works with 1 core but not with multiple core

[2021-05-23 15:17] jreback commented on #41629
that's a nice post
would take a PR to link it in the docs

[2021-05-23 15:22] jreback commented on #41630
this is way to complicated to be a bug report - u need to narrow down to a minimal example

[2021-05-23 15:22] ZurMaD commented on #41623
So, do you want this?

[code]

[2021-05-23 15:33] FloBay commented on #41630
I agree, that it is quite complicated.. and I tried to cook it down as much as possible.

The question why this produces the key error 0 only in the multicored process:
[code]
vs. this always works although conceptually the same thing
[code]

[2021-05-23 15:37] yohplala opened #41631 "ENH: Allow vector in 'merge_asof' / 'right_on' parameter ('left_on' already accepts it)"
#### Is your feature request related to a problem?

`left_on` and `right_on` parameters of [`merge_ordered`](https://pandas.pydata.org/docs/reference/api/pandas.merge_ordered.html) accept vectors of the same length than the DataFrame they relate to.

Although not stated in the documentation, `left_on` parameter of [`merge_asof`](https://pandas.pydata.org/docs/reference/api/pandas.merge_asof.html)

[2021-05-23 15:38] ZurMaD commented on #41630
Debugging the code shows errors here

![image](https://user-images.githubusercontent.com/28235457/119267117-f7bf1500-bbb2-11eb-8297-0d561df63b43.png)

[2021-05-23 16:50] ZurMaD commented on #41630
Well, code fails here on the second core trying to execute

https://github.com/pandas-dev/pandas/blob/09f3bf8083d737610aa1001f2668425be518f8f0/pandas/core/indexes/range.py#L379-L389

[code]
https://github.com/pandas-dev/pandas/blob/09f3bf8083d737610aa1001f2668425be518f8f0/pandas/core/indexes/range.py#L379-L389

[2021-05-23 17:08] jbrockmendel commented on #41623
It sounds like you want to keep the datetime64 data but change how it is displayed to just display the time part of the datetime.  That is not what the "format" arg of to_datetime does; that arg is about how to parse strings into datetimes, not the other way around.

[2021-05-23 18:11] LukeTonin commented on #41629
take

[2021-05-23 18:15] ivangvi commented on #41629
Thank you @ZurMaD!
It looks like #5 was what confused me in the first place:

![image](https://user-images.githubusercontent.com/30244899/119271771-58614880-bbd9-11eb-8755-52dc3bbbae34.png)

And now I understand why I was confused. I guess my way of using [] when declaring new columns and then .column as much as possible, works just fine... all the other points mentioned I already knew about.

[2021-05-23 18:19] LukeTonin commented on #41629
Hi all,

I'm thinking of adding a line to the _Attribute access_ section of the [_Indexing and selecting data_](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) page of the documentation.

Unless I'm told otherwise, I'll probably go with:

While attribute access will work in many cases, bracket indexing is the recommended syntax for indexing a DataFrame. For 10 reasons why, p

[2021-05-23 18:23] asishm commented on #41625
This has to do with how `odfpy` is parsing it (which at this point seems to be somewhat inactive).

![image](https://user-images.githubusercontent.com/1978117/119271927-c275ef80-bbd1-11eb-94d0-ff6ea6531b1b.png)

Pandas' does try to do some formatting for string cells here instead of directly calling `str(cell)` as I showed in the screenshot, but that is only for spaces - https://github.com/pandas-

[2021-05-23 18:25] ardamaks commented on #41623
Ok guys, thanks for explanation.
Then I have related question.
So if I import csv file which contain time column and other parameter columns, when I plot the  graph based on parameter/time correlation, pandas plots time axis in wrong format. So what is the best way to import time data and work with it?

[2021-05-23 18:39] Dr-Irv opened #41632 "CI: FutureWarning from string promotion on actions-38-numpydev"
- [x] I have checked that this issue has not already been reported.

- [] I have confirmed this bug exists on the latest master of pandas

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

CI seems to be failing in some tests.  I did an update to a PR #41594 which ONLY had a doc change and merge to latest master, and now it is failing in CI.

[2021-05-23 18:49] ivangvi opened #41633 "QST: errors='coerce' causing pd.to_datetime to row-wise change format guessing arbitrarily?"
Hi!

I just stumbled across this problem, where I had a date field with some '--' values which needed to be coerced to NaT. Problem is that while using that, pd.to_datetime ended up using different date formats across the records, exchanging month with date apparently arbitrarily. I think I solved this by declaring the format explicitly, but I'm worried about any other related issues that I may ov

[2021-05-23 18:52] FloBay commented on #41630
Thanks for reproducing, checking, and tracing the issue @ZurMaD...

I made the same observation that it works for the first core that finished, but breaks for the other following cores.

[2021-05-23 18:54] ezerkar opened #41634 "ENH: Raise error on ascending='False'"
#### Is your feature request related to a problem?

when sort_values ascending parameter is set to a string (df.sort_values(col_name, ascending='False') it does not error although it's meaningless, this could be quite confusing.

#### Describe the solution you'd like

Raise an error if ascending is equal to values that are not boolean

#### API breaking implications

Error raising

#### Describe a

[2021-05-23 19:54] msameen99 commented on #41625
Thanks asishm  for your reply.
Is there a workaround here? as my data sources are ods files, and I'm afraid that conversation to xslx may affect the date

[2021-05-23 20:21] MarcoGorelli commented on #41485
Awesome, @Pydare, do ask if you want/need any help!

[2021-05-23 20:58] lithomas1 commented on #41632
Looks like something changed in numpy and scipy.
Version changes are numpy 1.21.0.dev0+1625.g4caf8e707 -> 1.22.0.dev0+4.gb283e1632
scipy 1.7.0.dev0+990.cee5290 -> 1.7.0.dev0+1036.4ec6f29
This is the diff for numpy https://github.com/numpy/numpy/compare/4caf8e707..b283e1632

[2021-05-23 21:14] pjrandewijk opened #41636 "BUG: decimal=',' does not work properly with complex values"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-05-23 22:17] datapythonista commented on #41457
Personally I think that is fine. Unless someone is an expert on front-end (I'm not), I think better to use bootstrap defaults. I assume if their new default is to make pages wider, they'll have a good reason for it.

@calvh do you want to move forward and open a PR?

[2021-05-23 22:19] calvh commented on #41457
Sure, thanks for your feedback Marc. I'm not an expert on frontend either. I'll make a PR soon and maybe we'll get more comments there.

[2021-05-24 01:42] jbrockmendel commented on #41632
opened https://github.com/numpy/numpy/issues/19078

[2021-05-24 03:25] rhshadrach commented on #41636
Thanks for the report! Could you open a new issue for the enhancement request?

Further investigations and PRs to fix are welcome!

[2021-05-24 03:42] rhshadrach commented on #41582
You can do this with applymap:

    df.applymap(lambda x: x == [])

[2021-05-24 03:44] rhshadrach commented on #41213
@electromeow - Any updates?

[2021-05-24 05:32] tritemio commented on #41596
@mzeitlin11 thanks for the answer. Yes, the regression is due to a slow python path taken for StringDType in pandas 1.2x, while a fast path was taken until 1.1.5.

I'm attaching the profiling output of the groupby on the two pandas versions. Maybe it can help track down the function at the origin of the slow down.

Note that the traces are the same until the call to `_cython_agg_blocks` then they

[2021-05-24 05:43] Anupam-USP commented on #41485
Ok, I will take `interpolate` then. The last one!

[2021-05-24 07:55] MarcoGorelli commented on #41485
@Anupam-USP Thanks!

This wasn't part of the original issue, but `read_csv` also has keyword argument which changes the return type, if you wanted to make a PR for that one too that would be welcome!

[2021-05-24 08:47] attack68 commented on #41636
If/When `Styler.to_latex` deprecates `DataFrame.to_latex` this fix is not required.
This will become available already after `Styler.to_latex`: #40422.
That PR specifically excludes formatting from the `to_latex` call for reasons stated in PR. The `.format` call is required.

[code]

[2021-05-24 09:41] Anupam-USP commented on #41485
It is in ./pandas/io/parsers/readers.py right? Or am I looking to the wrong function? Also, I wanted to know if any other technique is there to search in the codebase

[2021-05-24 10:15] vishalkumarprasad commented on #41634
Hello, I am a new to open source contribution. Can I take up this enhancement?

[2021-05-24 10:35] ezerkar commented on #41634
You can't be newer than me :)
If it's up to me, you have my blessings !

Ezer

On Mon, May 24, 2021 at 1:15 PM Vishal Kumar Prasad <
***@***.***> wrote:

[2021-05-24 12:20] simonjayhawkins commented on #40986
first bad commit: [a648fb2699ef44555b38db89c4af2e97cfcf8208] REF/BUG/TYP: read_csv shouldn't close user-provided file handles (#36997)

[2021-05-24 12:40] akald opened #41640 "BUG: Rounding not working"
The conventional system for rounding is that if the second digit is larger or equal to 5, we round up

df   Value
0    0.45
1      0.95

df.Value.round(1) doesn't give the correct answer. It should be 0.5 and 1.0

[2021-05-24 12:54] jreback commented on #41640
pls give a copy passable example that constructs the frame along with versions

[2021-05-24 12:57] Anupam-USP commented on #40876
PR is merged so is this issue closed? @MarcoGorelli

[2021-05-24 13:12] simonjayhawkins commented on #40876
#41546 is the PR to address this issue and that is not merged.

[2021-05-24 13:15] Anupam-USP commented on #40876
Can I take it?

[2021-05-24 13:18] ZurMaD commented on #41640
@jreback I think he refers to this

[code]

That gives and output of
[code]

But using
[code]

[2021-05-24 13:23] ZurMaD commented on #41640
@akald with this code you should get what you want

[code]

[2021-05-24 13:33] akald commented on #41640
Thanks @ZurMaD. But that doesn't always work. For example, 0.345 should round at 1dp to 0.4 .

[2021-05-24 13:44] #26111 closed

[2021-05-24 13:44] #26278 closed

[2021-05-24 13:44] #28291 closed

[2021-05-24 13:44] #38328 closed

[2021-05-24 13:44] #6491 closed

[2021-05-24 13:44] #13203 closed

[2021-05-24 13:44] #20008 closed

[2021-05-24 13:44] #41388 closed

[2021-05-24 13:44] #41636 closed

[2021-05-24 13:58] ZurMaD commented on #41640
As far as I know, there are, at least, four ways to round:
[code]

[code]

[2021-05-24 14:11] akald commented on #41640
The standard way for rounding is how Excel does it using the ROUND function, which is the same as https://www.calculatorsoup.com/calculators/math/roundingnumbers.php. For 1dp, for example:

0.345 should round to  0.3
0.45 should round to 0.5
0.95 should round to  1

[2021-05-24 14:42] normansimonr opened #41641 "ENH: Add a unit conversion method for Pandas Series"
I wish I could use pandas to do unit conversion between miles/kilometres, inches/centimetres, feet/metres, etc, in a single line of code. I was thinking of something that someone could use like this:

[code]

I think this feature could potentially ease the lives of people who have to do a lot of data munging with `pandas`. I don't know if this already exists (`pandas` is so vast!) but after having

[2021-05-24 14:49] slavanorm commented on #18792
hi guys, i have this issue, but only when running coverage.

i used [ python -m pytest ] which eventually reads attached file without index imported from file.

then i tried to use [ coverage -m pytest ], which does import it from file.
try:
   df.drop([0]) # index i awaited
except:
   raise Exception(df.index)
E   Exception: Index(['Sr',    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,

[2021-05-24 15:28] ParfaitG commented on #41623
For related question, we will need a reproducible example. We cannot tell what you mean by *wrong format*. Perhaps you can research similar questions on StackOverflow (which consist of many pandas posts about datetime formats for plots). If still unable to find solution, go ahead and ask specific question with sample data and code on SO.

[2021-05-24 15:34] jreback commented on #41641
see https://github.com/pandas-dev/pandas/issues/10349

this was an inspiration for extension arrays; there is some preliminary support for `pint`

[2021-05-24 15:34] #41641 closed

[2021-05-24 15:39] phofl commented on #41640
This is on the numpy side. We are dispatching to numpy here.

[code]

This yields the same

[2021-05-24 15:43] ZurMaD commented on #41640
According to build-in functions of Python https://docs.python.org/3/library/functions.html#round

for `round( )` build-in function it's part of Python limitation with how floating-point numbers are represented, read more here https://docs.python.org/3/tutorial/floatingpoint.html#floating-point-arithmetic-issues-and-limitations

So, yo need to do this to get what yo want

[code]
[code]
Check more w

[2021-05-24 15:44] phofl commented on #41640
Thx @ZurMaD

[2021-05-24 17:01] lithomas1 commented on #41634
Hi @ezerkar,
This seems reasonable to me, since we do this for ``sort_index`` as well. (see #39451)
@vishalkumarprasad Thanks for volunteering to contribute to pandas. Feel free to take up this issue. You can find our contributing guidelines here. https://pandas.pydata.org/docs/development/contributing.html and if you need help, don't hesitate to ping me :).

[2021-05-24 17:02] mwaskom commented on #41640
I don't think it has to do with floating point, it's because [numpy uses](https://numpy.org/doc/stable/reference/generated/numpy.around.html#numpy.around) a "round to even" convention.

This could probably be made more clear in the docstring (you need to click through to the numpy docs to uncover it).

[2021-05-24 17:05] MarcoGorelli commented on #40876
If the author of #41546 doesn't update in, say, another week, then yeah, sure - let's leave them a couple weeks to get back to us at least

[2021-05-24 17:07] MarcoGorelli commented on #41485
yup, that's the one

easiest way to find where things are defined is probably to find the function in the documentation, then click "source"

![Screenshot 2021-05-24 at 18 06 39](https://user-images.githubusercontent.com/33491632/119383169-eb25e400-bcba-11eb-98c2-f417aaf1f108.png)

[2021-05-24 17:07] vishalkumarprasad commented on #41634
take

[2021-05-24 17:12] ezerkar commented on #41634
Thanks to you all

בתאריך יום ב׳, 24 במאי 2021, 20:07, מאת Vishal Kumar Prasad ‏<
***@***.***>:

[2021-05-24 17:19] #41553 closed

[2021-05-24 17:39] Lokeshrathi opened #41646 "DOC: Sort list of month name strings in ascending order (No Documentation present)"
#### No Doc present

While using the datetime library, when we extract month from a given datetime datatype. There should be a way to sort those values in ascending order.
tried:
1. sorted()
2. sort_values

Neither of them throws a error nor gives the desired output.

Although found a solution on [StackOverflow](https://stackoverflow.com/questions/60624571/sort-list-of-month-name-strings-in-ascend

[2021-05-24 17:47] Lokeshrathi commented on #41634
You can use sorted() function here.
Code:
[code]
Output:
`['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']`

[2021-05-24 18:20] #30173 closed

[2021-05-24 18:55] #15452 closed

[2021-05-24 18:55] #15613 closed

[2021-05-24 18:55] #15829 closed

[2021-05-24 18:55] #15891 closed

[2021-05-24 18:55] #15898 closed

[2021-05-24 18:55] #16018 closed

[2021-05-24 18:55] #16174 closed

[2021-05-24 18:55] #16309 closed

[2021-05-24 18:59] jose-moralez opened #41647 "BUG: numba function being cached with arguments"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

[code]

#### Problem description

When using `groupby.transform` with `engine='numba'` calling the same function with different arguments gives

[2021-05-24 19:40] phofl commented on #40917
This does fix a regression yes, but it also changes the behavior in certain cases, so agree with @jreback here, to subtle to include in 1.2.5

[2021-05-24 20:26] Pydare commented on #41485
I have been able to complete tasks 1 & 2, but I'm a little confused about where the visitor.py file should be placed to fix any tests / internal code that uses default arguments positionally.

[2021-05-24 20:38] MarcoGorelli commented on #41485
@Pydare no need to use the visitor.py file, it's just to help you identify what might need changing - if you open a PR (even if it's not a finished) I can take a look

[2021-05-24 20:54] attack68 opened #41649 "DEPR: `LatexFormatter` in `DataFrame.to_latex` in favour of `Styler`"
The tracker of items needed to do before deprecating `DataFrame.to_latex()`.

- [x] acceptance of the `jinja2` requirement for LaTeX output, since `Styler` requires `jinja2`: this is blocker.
- [x] make Styler functional for all DataFrames (i.e. including non-unique columns, indexes) (#41269).
- [x] enhance for `longtable` keyword or other environments (#41866).
- [x] enhance for `caption` to allo

[2021-05-24 21:55] jbrockmendel commented on #41564
i think this will be fixed by #41497, can you confirm

[2021-05-24 21:56] jbrockmendel commented on #33090
Looks like this is fixed on master.  could use bisection/test

[2021-05-24 21:59] mzeitlin11 commented on #41630
@FloBay @ZurMaD I am not sure this is a bug. A `Series` is not a valid input to `from_records` (see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_records.html). I think this fails for the same reason that this does:

[code]

So it fails on the second core because the split array does not contain the index 0.

[2021-05-24 23:41] asishm commented on #41625
there's only 2 options
1. fix upstream (ideal) in `odfpy`, or
2. modify the `_get_cell_string_value` method linked above. This is not ideal as pandas can't and should not cover these cases.

That said this patch does seem to fix this for this file (and passes the other tests), but I don't have the knowledge to confirm whether this is generic enough

![image](https://user-images.githubusercontent.c

[2021-05-25 00:43] mdhsieh commented on #35603
I can try making one.

[2021-05-25 00:43] mdhsieh commented on #35603
take

[2021-05-25 01:56] eromoe commented on #14079
Number of row :  960,000
cost half hour , still hanging . What's wrong with groupby resampling?

[2021-05-25 08:14] #38944 closed

[2021-05-25 08:42] jpacostar commented on #15303
This worked for me :)

`hours.dt.to_period('W-SUN').dt.start_time`

[2021-05-25 09:10] zhenruiliao opened #41660 "BUG: `pd.concat` on MultiIndex joins named levels by order rather than by name"
- [ X] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repr

[2021-05-25 09:29] #20438 closed

[2021-05-25 12:05] attack68 commented on #41660
take a look at #41162

in my opinion there needs to be some clarity over how to treat different cases.

[2021-05-25 12:28] #41369 closed

[2021-05-25 12:33] TLouf commented on #41574
I see two ways to solve this, either you nest another if statement checking for a `defaultdict` instance, or you switch from `if name in self.dtype:` to a nested `try` / `except`, following a "better ask for forgiveness than permission" approach. I don't know which one would be preferred in terms of style (I think the performance change would be negligible in most use cases). Anyway I can write th

[2021-05-25 13:35] #41602 closed

[2021-05-25 13:38] simonjayhawkins commented on #41552
@jbrockmendel i've added the blocker tag since I assume we should revert #41159 if this is not addressed?

[2021-05-25 13:42] simonjayhawkins commented on #41450
removed the milestone, I assume the current pin is ok for the release?

[2021-05-25 13:45] simonjayhawkins commented on #41409
@jbrockmendel adding the blocker to this. we shouldn't release with this change?

[2021-05-25 14:05] ivanovmg commented on #41649
What about backward compatibility?
If I understand correctly we would need to delegate ``DataFrame.to_latex`` to ``Styler.to_latex()`` and issue a ``FutureWarning``.
Should this be added to a checklist as well?

[2021-05-25 14:40] attack68 commented on #41649
Don't deprecations by definition warn of failing backwards compatibility in a future version? For 1.x is it enough to just warn that `DataFrame` methods will not be developed in future and will eventually be removed (or refactored), albeit they remain in place, as is, for those versions?

I'm trying hard to try and avoid the case where the existing keyword signature of `DataFrame.to_html` and `Dat

[2021-05-25 14:44] jreback commented on #41649
we can straight depreciate DataFrame.to_latex w/o changing the implementation at all

sure if u can totally do everything in styler.to_latex that would be great but it's likely not a big deal to implement things later / drop features if needed

[2021-05-25 14:47] phofl commented on #41660
Closing as duplicate, the other issue covers this

[2021-05-25 14:47] #41660 closed

[2021-05-25 15:08] ZurMaD commented on #41213
It looks like a numpy broken version with tensorflow, try with this

https://stackoverflow.com/a/56995002/10491422

[code]

[2021-05-25 17:29] adavidzh commented on #11723
I'd like to echo @KeithWM's point about there being a "long form" for a column's contents, i.e. something that `seaborn` can use in axis labels. This would not necessarily be an alias, but rather a human-readable form with full description (e.g. involving LaTeX) and units. This sort of thing comes up over and over again in making scientific plots; I found this thread because I want a column named

[2021-05-25 17:34] NickVeld commented on #41574
Done. I used try/except approach because it is more general so it can be used latter for supporting

[2021-05-25 19:32] javierquincke commented on #18084
I think this is the same problem, https://stackoverflow.com/questions/62458837/groupby-transform-to-list-in-pandas-does-not-work

[2021-05-25 19:32] attack68 commented on #11610
since this tracker is quite old and many items on it have been addressed or evolved I will close it in favour of more recent discussion. pls re open if you consider it useful.

[2021-05-25 19:32] #11610 closed

[2021-05-25 19:43] hoangphanthai opened #41666 "QST: In what circumstances that the pandas.DataFrame.agg works on mean, median ... but not on std function?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

[https://stackoverflow.com/questions/67693185/pandas-dataframe-agg-does-not-work-with-np-std](https://stackoverflow.com/questions/67693185/pandas-dataframe-agg-does-not-work-

[2021-05-25 19:54] yohplala commented on #41212
Hi there,
I realize it is a duplicate of #37949, instead with more detail examples perhaps?
Anyway, closing, and 'thumbing up' #37949.

[2021-05-25 19:54] #41212 closed

[2021-05-25 22:49] mwaskom opened #41669 "BUG: `Series.map` to tuple values fails for category dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-25 23:08] jbrockmendel commented on #41552
It looks like #41159 will be correct in the modal case, so might be better than nothing.  @taytzehao will you have a chance to address this anytime soon?

[2021-05-25 23:11] jbrockmendel commented on #41409
i wouldn't raise a fuss if we release without fixing this.  ill take a look soonish at what it would take to revert/fix

[2021-05-26 00:11] msameen99 commented on #41625
Thanks a lot asishm for your support.

I think I'll close this issue now.

Regards

[2021-05-26 00:11] #41625 closed

[2021-05-26 00:47] github4xyz opened #41671 "QST: pandas.loc["x", :] (slicing) automatically converts int to float : is this issue addressed somewhere?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions. yes, and I can not find any resolution or explanations other then confirming the issue is there. refer to https://stackoverflow.com/questions/55455010/how-to-stop-pandas-dataframe-from-converting-int-to-float-for-no-reason

- [x] I have asked my usage related question

[2021-05-26 01:46] #41647 closed

[2021-05-26 01:52] #41108 closed

[2021-05-26 01:53] #21664 closed

[2021-05-26 02:04] #40978 closed

[2021-05-26 02:09] #13379 closed

[2021-05-26 02:18] #39823 closed

[2021-05-26 02:19] #35826 closed

[2021-05-26 03:27] #40373 closed

[2021-05-26 03:45] mroeschke commented on #41629
As mentioned in https://github.com/pandas-dev/pandas/pull/41645#issuecomment-848394071, this is already documented in https://pandas.pydata.org/pandas-docs/dev/user_guide/indexing.html#attribute-access. Closing

[2021-05-26 03:45] #41629 closed

[2021-05-26 03:54] fluggo opened #41672 "BUG: DataFrame.agg produces different types if the DataFrame is empty"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This seems very similar to the description of #16621, and may be the same bug; check there fo

[2021-05-26 04:19] mroeschke opened #41673 "ENH: Support online operations in windowing operations"
### Problem

Currently calculating the the windowing aggregation of several pandas objects requires concatenating them together and returning the entire result

[code]

By holding the latest state of a windowing aggregation, it is possible to calculate the above more efficiently (and flexibly) in an online fashion, e.g.

[code]

Aiming to eventually target:
[code]
As windowing operations are adapt

[2021-05-26 05:03] mroeschke commented on #17135
Appears this was closed by https://github.com/pandas-dev/pandas/pull/22520

[2021-05-26 05:03] #17135 closed

[2021-05-26 05:07] mroeschke commented on #17145
Unfortunately the latest versions of pandas do not support Python 2 and therefore we won't be able to test or support hdf5 generated in Python 2 compatibility, so closing this issue.

[2021-05-26 05:07] #17145 closed

[2021-05-26 05:29] yohplala commented on #37949
Hi there,
Deeply interested of the topic of applying aggregation function on onverlapping windows, with a number of windows different than the DataFrame length (hence `rolling` not applicable with `BaseIndexer`) I have also found this other one ticket that appears on the same topic / expressing the same need.
https://github.com/pandas-dev/pandas/issues/27654

[2021-05-26 05:41] EricFleishman26 commented on #41634
I would love to contribute to this issue.

[2021-05-26 05:43] EricFleishman26 commented on #41634
take

[2021-05-26 05:45] vishalkumarprasad commented on #41634
Hi Eric, I am already working on this enhancement.

[2021-05-26 05:52] EricFleishman26 commented on #41485
Hi, I would like to work on interpolate if that is not already taken.

[2021-05-26 06:03] EricFleishman26 commented on #41672
take

[2021-05-26 06:16] Abdias-Wang commented on #16452
This could be fixed by adding the line:

df = df.round(5)

before you dump the df into csv file using .to_csv

[2021-05-26 08:11] simonjayhawkins commented on #41409
Thanks. sure, not a blocker for rc since we can fix things things like this after but before actual release. At the moment, trying to establish what's outstanding before we can do the rc.

[2021-05-26 09:39] scd75 opened #41675 "ENH: when using groupby with levels of a multi-index, add option to drop levels in index of created groups"
#### Is your feature request related to a problem?

I often use Groupby combined with the "level" parameter, to create groups for particular subsets of my multi-indexed df.
Yet, Those levels are again included in the created groups. I then have to drop them "manually" at the level of each group (as I will not need those, especially since they take a unique value at the level of a particular group)

[2021-05-26 09:57] nielsbom opened #41676 "DOC: to_datetime works real differently on DataFrames vs other datatypes"
#### Location of the documentation

* https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
* https://pandas.pydata.org/docs/dev/reference/api/pandas.to_datetime.html?highlight=to_datetime

#### Documentation problem

The `to_datetime` method does something wildly different on strings or Series vs DataFrames. This caught me by surprise and I think it would help if the documentation

[2021-05-26 11:57] #41127 closed

[2021-05-26 12:40] taytzehao commented on #41552
Yeap, will be doing it this week

[2021-05-26 13:27] simonjayhawkins commented on #40169
so we should be releasing the 1.3.0rc0 shortly (late next week or week after?), with the release of 1.3.0 a couple of weeks later

if we do 1.3.0 in mid/late June then from https://numpy.org/neps/nep-0029-deprecation_policy.html

The next release can be scheduled for 6 months, and we can drop 3.7 support in the next release.

v1.2.0 was released on Dec 26, 2020, so these dates seem consistent.

wh

[2021-05-26 13:38] jreback commented on #40169
can u open an issue about dropping 3.7

[2021-05-26 13:41] simonjayhawkins commented on #40169
about doing it, or discuss whether to do it?

[2021-05-26 14:05] jreback commented on #40169
yeah to do it

[2021-05-26 14:07] simonjayhawkins opened #41678 "Drop support for Python 3.7"
from https://numpy.org/neps/nep-0029-deprecation_policy.html

The next release after 1.3 can be scheduled for 6 months, and we can drop 3.7 support in the next release.

[2021-05-26 14:09] simonjayhawkins commented on #41678
updated the 2.0 milestone date to match.

[2021-05-26 15:05] simonjayhawkins commented on #40917
tl;dr lmk if any blockers @pandas-dev/pandas-core @pandas-dev/pandas-triage

---

it's probably be easier if we release 1.2.5 (if we are going to have another patch release in 1.2.x) before 1.3.0rc0.

so should probably think about releasing early next week.

lmk if any blockers, if we do another release on 1.2.x, I expect this to be the last in the series, so unlike the other patch releases that

[2021-05-26 15:12] jreback commented on #40917
prob ok to release as we have right now

[2021-05-26 15:28] ahaffar opened #41679 "BUG: cannot install Pandas on mac Big Sur 11.1 M1 - Python 3.9"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---
#### Code Sample, a copy-pastable example
[code]

#### Problem description

running into this issue while building the docker image
OS: MAC OX X 11.4
Apple M1 [arm64]
python 3.9

[2021-05-26 15:45] szelok opened #41680 "dataframe.groupby returns wrong multi level column index"
It works as expected when the dataframe w/ multi level column index have 5 or more columns. Like below.
[code]
Returns expected results
[code]

**BUT** it does not work when the dataframe has 4 or less columns
[code]
**Returns unexpected results where multi level column index is gone and is replaced by column names**
[code]

[2021-05-26 15:54] ddelange commented on #38635
For me, restarting my python session did the trick. After that, my previously failing example started working.

fwiw:
[code]

[2021-05-26 15:56] jeliashi commented on #12997
So I made a PR to fix this #41573 that tries to mimic what the numpy library does. I've been thinking about this a lot lately and was wondering if it would make more sense to move away from the numpy library way to do it.

They use the C interface to call the pytz objects directly which is what I am doing in this PR. But I don't have to do it their way. They use their pytz objects to calculate new

[2021-05-26 16:27] hoangphanthai commented on #41666
I fixed the errors due to the data types of the columns, all columns need to be converted into float type. But it is a bit strange that it works with other functions but not the std function.

[2021-05-26 16:27] #41666 closed

[2021-05-26 17:08] ahawryluk commented on #41448
take

[2021-05-26 17:12] #16710 closed

[2021-05-26 17:12] #16719 closed

[2021-05-26 17:12] #17091 closed

[2021-05-26 17:14] Kharms opened #41681 "BUG: df.to_excel() with openpyxl engine doesn't use write-optimized mode, resulting in higher memory consumption"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

#### Problem description

openpyxl has fairly high memory consumption by default. To address this for write-only operations, they recommend two things:

1. Install the lxml package, which is more optimized than the default xml parser.
2. Use the write_o

[2021-05-26 17:19] ahawryluk commented on #41448
For consistency between readers I believe we should always ignore chartsheets. Currently, we have the following ExcelFile behaviours:

|                              | xls  | xlsx/m | xlsb |
|-|-|-|-|
| chart sheets in sheet_names   |  n   |  y   |  y   |
| chart sheets counted in index |  n   |  n   |  y   |

Changing our xlsx engine to ignore chart sheets is easy. Changing our xlsb engine will h

[2021-05-26 17:31] ahawryluk commented on #39808
@rhshadrach Did you have any other thoughts on this issue before it can be closed? https://github.com/pandas-dev/pandas/pull/40214#issuecomment-794617554

[2021-05-26 18:55] EricFleishman26 commented on #41672
I am trying to assist with this issue, however when I try to run my testcases I am getting a ModuleNotFoundError.

ModuleNotFoundError: No module named 'pandas._libs.interval'

Does anyone have an idea as to why this is?

[2021-05-26 19:01] TomGoBravo opened #41682 "BUG: DataFrame constructor with UserList dataclass broken by upgrade to 1.1.0"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I wrote code like this for pandas 1.0.5. When I upgraded to 1.2 my unittests started failing wi

[2021-05-26 19:05] fangchenli commented on #41679
Could you give us detailed instructions on how to reproduce this?

[2021-05-26 19:10] jsignell opened #41683 "BUG: Series groupby with by as Series raises `FutureWarning`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I ran into this when testing dask against pandas nightly builds. https://github.com/dask/dask/issues/7710

#### Code Sample, a copy-pastable example

[code]

#### Problem

[2021-05-26 19:17] jmholzer commented on #41544
I've taken a look at the code for quantile and think I can implement a solution, can I work on this / open a PR?

[2021-05-26 20:10] Lokeshrathi commented on #41683
Hey @jsignell I ran the above code and got the results without any future warning.
*no changes were done*

Are you saying this is a issue for the latest pandas version?

[2021-05-26 20:12] jsignell commented on #41683
This is on the latest nightly build of pandas so `pandas : 1.3.0.dev0+1738.ge7c1ef71d8`

[2021-05-26 20:16] Lokeshrathi commented on #41675
Hey @scd75 I work on multi-index too a lot, can you please using an image to show your input and expected output?

[2021-05-26 20:17] mzeitlin11 commented on #41683
Probably same issue as #41632?

[2021-05-26 20:34] mzeitlin11 commented on #41630
@FloBay going to close this then, please ping to reopen if you think there actually is a bug present here.

[2021-05-26 20:34] #41630 closed

[2021-05-26 20:35] mzeitlin11 commented on #41681
Thanks for looking into this @Kharms. This all sounds quite reasonable, would you be interested in putting up a pr?

[2021-05-26 20:58] yohplala commented on #27654
Hello all,

I am interested / in need of being able to groupby on overlapping intervals.
I hope this is something pandas lib will be able to handle in the future.
Meanwhile, to those encountering this limit in their work, I am posting here below the workaround I have coded.
Hope this can also help pandas team in some ways, although I am not sure anything of it can really be re-used.
There are some

[2021-05-26 23:16] mzeitlin11 commented on #41628
Thanks for pointing this out @yohplala! Would you be interested in making a pr? (Though I guess before documenting, we should also make sure this new behavior is also tested :)

[2021-05-27 02:16] #41093 closed

[2021-05-27 02:24] afeld opened #41686 "May 2021 Docs Meeting"
- [Thursday, May 27th 9-10am US Eastern Time](https://everytimezone.com/s/5f687654)
- [Zoom link](https://nyu.zoom.us/j/98201283174?pwd=d0VoUy9GTDRlVVZ0cCtTK0s4NnlBZz09)
- [Agenda/notes](https://docs.google.com/document/d/1JoiqTdK6gi5W1QiTWrqtTV-rNmIqU3xROgHY5iT4J5g/edit#heading=h.pd2rym64bmch)

---

For this session, thinking we try something a bit different: In [the workshop around the Diátaxis

[2021-05-27 03:58] ahaffar commented on #41679
The above log is when I am building the docker image, I tried to install `pandas` `numpy` via pip directly and its not succeeded.

- pandas
[code]

- numpy
[code]
[code]

[2021-05-27 04:26] leycec commented on #30873
I'm equally astonished, appalled, and disappointed that Pandas developers like @jreback pushed back against #40285 with [nonsensical commentary like "why is j more than like 4 actually useful?"](https://github.com/pandas-dev/pandas/pull/40285#issuecomment-792328927) I mean, *come on.* Scalability is an unconditional good. This is not up for debate. :facepalm:

The trivial resolution here is to do

[2021-05-27 05:06] krishna3008 opened #41687 "Cannot install pandas on Linux machine"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-05-27 05:10] mroeschke commented on #41544
Sure go for it @jmholzer

[2021-05-27 08:05] yohplala commented on #41628
Hi @mzeitlin11, yes let's try to break the ice.
Should have a look this week-end.
Bests

[2021-05-27 09:02] phofl commented on #41687
Could you upgrade pip and try again? 8.1.1 is pretty old.

[2021-05-27 11:33] afeld commented on #39369
Missed this. Ah well!

[2021-05-27 11:33] #39369 closed

[2021-05-27 12:53] jorisvandenbossche commented on #41686
That sounds as a nice idea! But unfortunately I won't be able to join (lack of voice after giving a long workshop while having a cold .. ;))

[2021-05-27 14:46] torfsen opened #41690 "BUG: pytz.exceptions.UnknownTimeZoneError when loading psycopg2 timezone from Parquet"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-05-27 15:07] Anupam-USP commented on #41634
Hey, is this issue still open or taken?

[2021-05-27 15:13] Anupam-USP commented on #41678
Hey, can I take this issue? I found [this](https://packaging.python.org/guides/dropping-older-python-versions/) article that I think will be useful?

[2021-05-27 16:10] sanskarbtw commented on #41669
Try this instead:
[code]
Output:
[code]

[2021-05-27 16:18] mwaskom commented on #41669
@sanskarbtw thanks but that is not helpful when operating on an input that (may be) categorical

[2021-05-27 16:30] sanskarbtw commented on #41617
A possible workaround to this can be to use the ```timedelta64``` function of numpy:
[code]
Output:
[code]

[2021-05-27 16:40] simonjayhawkins commented on #41678
We won't be starting this until 1.3.0rc0 is released at the earliest.

[2021-05-27 16:46] ezerkar commented on #41634
AFAIK it's taken

בתאריך יום ה׳, 27 במאי 2021, 18:07, מאת DaPy15 ***@***.***>:

[2021-05-27 17:20] MarcoGorelli commented on #41485
Hi @Anupam-USP - are you still working on resample.interpolate?

[2021-05-27 17:33] Anupam-USP commented on #41485
No @MarcoGorelli, you suggested me to do read_csv. So should I go for it now?

[2021-05-27 18:15] MarcoGorelli commented on #41485
I wrote

so if you wanted to do this one too, that would be welcome

[2021-05-27 18:20] vishalkumarprasad commented on #41634
Hi all, while working on this problem, i figured another issue where if you put series.sort_values ascending parameter to 1 or 0, it fails. However according to the code, it shouldn't fail.
Can someone confirm?

[2021-05-27 18:41] #35603 closed

[2021-05-27 18:41] attack68 opened #41693 "DEPR: `DataFrame.to_html` in favour of `Styler.to_html`"
The tracker of items needed to do before deprecating `DataFrame.to_latex()`.

- [x] acceptance of the `jinja2` requirement for HTML output, since `Styler` requires `jinja2`: this is blocker.
- [x] make Styler functional for all DataFrames (i.e. including non-unique columns, indexes) (#41269).
- [ ] enhance with ability to style indexes/column headers with styles (e.g bold rows).
- [ ] enhance `.hi

[2021-05-27 18:42] Anupam-USP commented on #41485
Okay! Surely I will try it

[2021-05-27 19:07] itamarst commented on #29716
Ah, no, it is fixed, just need to do `dropna=False` in the groupby().

[2021-05-27 19:07] itamarst commented on #29691
Ah, no, it is fixed, just need to do `dropna=False` in the groupby().

[2021-05-27 19:14] Lokeshrathi commented on #41693
This would come in so handy to me for reporting and sending automated mailing purposes, any heads up by when it can be released?

[2021-05-27 20:03] meettaraviya commented on #40587
Do we know which version introduced this bug? It's really annoying that we can't get around this

[2021-05-27 21:11] attack68 commented on #41693
@Lokeshrathi don't understand what you mean. This issue is about a deprecation of one function currently available by a function also already available on master?

[2021-05-28 02:14] rICHi97 opened #41696 "Series idxmin() TypeError?Need change type to 'float'"
i'm using idxmin() on a series, which is like:
[code]
However, when using:
`    ltc.idxmin()`

i got an error:
`    TypeError: argmin() takes 1 positional argument but 2 were given`

when using:
`  ltc.astype('float').idxmin()`

i got the right answer:
    'DD092104104'

But the api doesn't say that idxmin() can only use on float data.Why?

[2021-05-28 03:44] mroeschke commented on #22509
This seems to be the same issue as https://github.com/pandas-dev/pandas/issues/19354, closing

[2021-05-28 03:44] #22509 closed

[2021-05-28 03:53] mzeitlin11 commented on #32342
Closing in favor of #28385

[2021-05-28 03:53] #32342 closed

[2021-05-28 05:54] ZurMaD commented on #41696
I tried to replicate the error but can't get it.

INPUT:
[code]
OUTPUT:
[code]

INPUT:
[code]
OUTPUT:
[code]

INPUT:
[code]
OUTPUT:
[code]

INPUT:
[code]
OUTPUT:
[code]

[2021-05-28 06:04] ZurMaD commented on #41680
Well, it looks like the error only happens with (3,4)

I tried with other DataFrame sizes such as:
- 3x3 Success
- 3x4 Fails
- 3x5 Success
- 3x6 Success
- 3x7 Success

With 3x4 I got the same error
[code]
[code]

[2021-05-28 06:57] nmay231 commented on #27442
I would also like some sort of repr for `DataFrameGroupBy` and `SeriesGroupBy`.

And instead of just a list of group names and row counts, I would personally be in favor of using `df.groupby(COL).count()` as the repr. For example:

[code]

This would be valuable information to get at a glance AND it would help newcomers understand that you interact with `***GroupBy`s like you do `Series`/`DataFram

[2021-05-28 07:21] rICHi97 commented on #41696
@ZurMaD
Thanks for your reply.
There is a difference between your test data and mine:
my data contains missing value, <NA>.
Tyr this code:
IN:
`test = pd.Series([1, 2, None], dtype='Int64')`
OUT:
`
0       1
1       2
2    <NA>
dtype: Int64
`
IN:
`test.idxmin()`
OUT:
`TypeError: argmin() takes 1 positional argument but 2 were given`

Maybe integer dtypes and missing data causes this problem. But i

[2021-05-28 13:08] ninasiam commented on #41634
Hello all!  @vishalkumarprasad I have tried the test case you have described and it indeed fails. However, I have noticed that the is_bool() function - in pandas,core-, which raises the error, also fails with 0, 1 as input arguments. It seems to me that series.sort_values() works as expected.

[2021-05-28 13:13] Kreijstal commented on #37443
I would like to have this functionality, you don't necessarily need a tabular envirionment, it could be a matrix, a pmatrix, or some other environment.

[2021-05-28 14:24] gioxc88 opened #41700 "BUG: 'ExponentialMovingWindow' object has no attribute 'apply' when using 'agg'"
The following code fails:

[code]

Below the traceback

[code]

[2021-05-28 14:43] simonjayhawkins commented on #41074
AFAICT only sum and prod (on the Dataframe methods) support the min_count parameter

[2021-05-28 14:50] simonjayhawkins commented on #38946
removing milestone.

[2021-05-28 15:35] zhangyi-hu opened #41704 "core.DataFrame(or Series).combine_first better doc string"
https://github.com/pandas-dev/pandas/blob/beabf0aab2a1ff7776d1aa30b8ede9d9386f9836/pandas/core/frame.py#L7315

I'm suggesting adding this sentence after the above location to make the function name easier to understand:

The 'first' dataframe overrides the second one where both first.loc[index, col] and second.loc[index, col] are not nan, upon calling
first.combine_first(second).

[2021-05-28 16:11] PaulBremner commented on #39520
I have tried multiple different versions of pandas and numpy to no avail - I still get this bug. If I understood your post correctly Pandas 1.0.5 with numpy 1.9.5 (the earliest version of numpy I can see is 1 so assume there is a typo) should fix it and it does not. I tried 1.0.5 with the latest version of numpy and it still fails. I have tried several other combinations and still it persists. Ple

[2021-05-28 16:13] simonjayhawkins commented on #40799
more minimal example

[code]

pd.to_datetime can handle the low precision strings, but not after being converted to a numpy float array. The PR that caused the regression changed the conversion from floats.

[code]

[2021-05-28 16:25] ZurMaD commented on #41696
Duplicate of #33719

and with a fork in https://github.com/pandas-dev/pandas/pull/27801

[2021-05-28 16:47] jbrockmendel commented on #39520
@PaulBremner can you post a copy/paste-able example?  i cant reproduce the error using any of the examples in this thread

[2021-05-28 16:50] mroeschke commented on #41700
Thanks for the report. I think conceptually it's not well defined what a custom exponentially weighted udf would return. In the meanwhile, I think it would be better if `ExponentialMovingWindow.apply` would raise a `NotImplementedError`

[2021-05-28 16:58] #15122 closed

[2021-05-28 17:07] simonjayhawkins commented on #39290
removing the 1.2.5 milestone. does not need to block release. added 1.3 which gives a few extra weeks to fix..

[2021-05-28 17:10] gioxc88 commented on #41700
Thanks for looking into it.
I don't want to oversimplify but in my opinion is relatively straightforward.
If I use `.apply(fn)` on `ewm` I would expect `fn` to receive the weighted series according to the exponential weights.

[2021-05-28 17:28] mdhsieh commented on #40823
@gabrielchung Are you working on this? If yes please let me know. Otherwise I'd like to make a test.

[2021-05-28 17:28] mdhsieh commented on #40823
take

[2021-05-28 19:05] #39037 closed

[2021-05-28 19:13] #19354 closed

[2021-05-28 19:13] #19517 closed

[2021-05-28 19:13] #20414 closed

[2021-05-28 19:13] #20420 closed

[2021-05-28 19:13] #20520 closed

[2021-05-28 19:13] #20734 closed

[2021-05-28 19:13] #20951 closed

[2021-05-28 19:13] #21651 closed

[2021-05-28 19:30] PaulBremner commented on #39520
A simplified example that generates the error. I am using Python 3.9, pandas 1.2.4, numpy 1.19.5 (though any combination of numpy and pandas versions I tried has the same result).

[code]

[2021-05-28 20:17] jbrockmendel commented on #39520
You want `df.dtypes`, not `df.dtype`.  I think this is different than the issue in the OP.

[2021-05-28 22:03] mzeitlin11 commented on #41696
This was fixed by #37924 with tests. (Fix is only in master, will be in 1.3)

[2021-05-28 22:03] #41696 closed

[2021-05-28 22:29] dericke opened #41710 "BUG: Formatting issues with stderr output of read_csv() with warn_bad_lines=True"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

**badly-formatted.csv**
[code]
(note extra tab characters)

**main.py**
[code]

#### Problem description

When using `pandas.re

[2021-05-28 23:22] jbrockmendel commented on #36320
Fixed in or near #38105

[2021-05-28 23:22] #36320 closed

[2021-05-29 00:13] konnyakmannan commented on #40470
Hi, I encountered the same error and have investigated it.
I suppose the problem is a representation differences of datetime between pandas and matplotlib.

We handle the view limits as a integer representation in seconds since the epoch.

[code]

However, on second subplot, we would handle it as a microsecond accuracy float in days and convert to datetime, and then get Overflow. Specifically, on

[2021-05-29 00:28] mroeschke commented on #19187
Since it looks like `is_all_dates` will not undergo un-deprecation, I think it should be safe to close this issue.

[2021-05-29 00:28] #19187 closed

[2021-05-29 00:52] nmay231 commented on #41680
It's worth noting that passing the group level names by keyword argument (`level=`) produces the correct result:

[code]

[code]

[2021-05-29 01:20] mroeschke commented on #23988
I think this issue was sufficiently closed by #26825, closing but happy to reopen if I misunderstood

[2021-05-29 01:20] #23988 closed

[2021-05-29 01:21] nmay231 commented on #41672
@EricFleishman26 If you are using a clone of pandas in your development environment, it might be because you have not compiled the c extensions of pandas. See https://pandas.pydata.org/docs/development/contributing.html#creating-a-development-environment

[2021-05-29 01:37] mroeschke commented on #28992
Yes it appears that this issue is covered by unit tests in https://github.com/pandas-dev/pandas/pull/31991, closing.

[2021-05-29 01:37] #28992 closed

[2021-05-29 02:34] PaulBremner commented on #39520
No I definitely want dtype. When I try and run an ANOVA on my data it throws the error message mentioned by the OP (AttributeError: type object 'object' has no attribute 'dtype).

[2021-05-29 03:06] jbrockmendel commented on #39520
Thanks for clarifying.  When I copy/paste the snippet I get `AttributeError: 'DataFrame' object has no attribute 'dtype'` which is what we'd expect.

[2021-05-29 06:21] ranabanik opened #41715 "BUG: ImportError: Missing optional dependency 'openpyxl'. Use pip or conda to install openpyxl."
I am running the following code from Jupyter notebook.

[code]

which prints:
`['D:\\\\file_index_all.xlsx', 'D:\\\\file_index_all2.xlsx']`
`ok`

But I get the following error.

[code]

pandas version:
 `pd.__version__`<br> `1.0.1`
Also one other thing I noticed despite having `openpyxl 3.0.7` I can't import it in **jupyter notebook** but in **pycharm** <br>
[code]
shows `3.0.7`

[2021-05-29 11:49] tegardp commented on #41485
may I try working on the read_table?

[2021-05-29 12:25] MarcoGorelli commented on #41485
go ahead, thanks! see what's been done for `read_csv` as an example

[2021-05-29 14:59] MarcoGorelli opened #41719 "STYLE disallow assigning to single-letter variable names"
We keep leaving this comment to each other and to contributors in review, so let's add a rule for it

PR should be made to https://github.com/pandas-dev/pandas-dev-flaker if anyone wants to give this a go

[2021-05-29 15:44] vishalkumarprasad commented on #41634
Hi all, @ninasiam If you look into the function definition of series.sort_values(), its clearly written that the ascending argument takes either bool or int or a sequence of bool or int.  Hence there is mismatch somewhere, either in the function definition or is_bool() function or the implementation of is_bool() function. Please let me know your thoughts.

![Screenshot 2021-05-29 at 9 12 08 PM](ht

[2021-05-29 16:25] yohplala opened #41720 "BUG: not possible to 'cumsum' Timedelta with named aggregation"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
[code]
[code]
Error message that is returned
[code]

#### Problem description

Cumsum works with Timedelta in some workf

[2021-05-29 16:31] phofl commented on #41715
Please show Output of ``pd.show_versions()``

[2021-05-29 17:14] ranabanik commented on #41715
running from Jupyter notebook
[code]
It shows `openpyxl` as None. But when I run pip list from git bash:
[code]

It has `openpyxl` version 3.0.7 installed.

Also pycharm shows the same version too.

[2021-05-29 17:25] phofl commented on #41715
Are you using a different environment for jupyter?

[2021-05-29 17:26] ranabanik commented on #41715
Hello, just to provide you more information, I ran the .ipynb file from pycharm. I get the following while trying to run a cell.
![image](https://user-images.githubusercontent.com/47092529/120079366-13299480-c079-11eb-9322-84a986e89161.png)

[2021-05-29 17:27] phofl commented on #41715
Looks like you are using different environments

[2021-05-29 17:30] ranabanik commented on #41715
That's also what I get from my understanding. But I have only one env named `Elucid36`
[code]
I am initiating the jupyter notebook from that env. How does it change to different env.

[2021-05-29 17:31] phofl commented on #41715
You have two envs, base and the other one.

[2021-05-29 17:32] ranabanik commented on #41715
I am running the notebook as following in git bash:
[code]
Yeah base and the other. But I `conda activate Elucid36` before running notebook in that.

[2021-05-29 17:34] phofl commented on #41715
And what is active in Pycharm? can you run pd.show_versions() for both please?

[2021-05-29 17:36] ranabanik commented on #41715
This is the `pd.show_versions()` from pycharm:
[code]
It has `openpyxl` version 3.0.7 which is None in notebook(I just checked openpyxl package only)

[2021-05-29 17:41] ranabanik commented on #41715
`python` and `pandas` versions are also different. This never happened to me. Looks like both IDEs operating in different environments despite I started notebook one from the same env.

[2021-05-29 17:43] phofl commented on #41715
Can close here then?

[2021-05-29 17:47] ranabanik commented on #41715
ok. Thanks for the help but the problem persists.

[2021-05-29 17:47] #41715 closed

[2021-05-29 17:51] phofl commented on #41715
Yeah but I don't think this is on the pandas side, isn't it?

[2021-05-29 17:52] phofl commented on #41720
The error is raised, because cumsum in groupby sets numeric_only=True as default. I think the correct way to call this is:

[code]

but the error persists, because the kwargs are not passed through.

[2021-05-29 17:55] ranabanik commented on #41715
To some extent, I think pandas removal of `xlrd` engine in new versions resulting in these types of errors. I have checked a bunch of issues. I am not entirely sure it is only an 'env' issue. But anyway I will try removing all the env and run the same checks.

[2021-05-29 18:06] phofl commented on #41715
Yeah but you haven‘t installed openpyxl in the env, so nothing we can do about from our side

[2021-05-29 18:09] jbrockmendel opened #41724 "BUG: pd.array(floatdata, dtype=np.inty) should use astype_nansafe"
[code]

Our other constructors all refuse to cast nan to a nonsense int

[2021-05-29 18:27] lithomas1 commented on #41710
Thanks for the bug report @dericke. This indeed does look buggy and I can also reproduce this on master. PRs to fix are welcome.

[2021-05-29 18:51] ninasiam commented on #41634
Hello! @vishalkumarprasad I see your point, I have probably missed that :) I think the mismatch is probably due to the way is_bool() function is implemented. If I try:
[code]
The output is:

[code]
respectively. An easy fix, to avoid confusion for the time being, could be the update of the sort_values() function definition, to accept only True/False as input for the ascending parameter.

[2021-05-29 19:05] lithomas1 commented on #41679
Can you please try with a newer numpy, such as 1.20, than 1.17 (which I don't think supports arm64)?

[2021-05-29 19:27] datapythonista opened #41725 "CI: Conda connection errors"
Looks like we've got some connection errors in Conda that we haven't seen before, see:

[code]

Some examples:

- https://github.com/pandas-dev/pandas/runs/2701636721?check_suite_focus=true#step:3:433
- https://github.com/pandas-dev/pandas/runs/2699485760?check_suite_focus=true#step:3:431

@simonjayhawkins points  in [this comment](https://github.com/pandas-dev/pandas/pull/41336#issuecomment-84869

[2021-05-29 19:31] vishalkumarprasad commented on #41634
Hello @ninasiam,
So there is one more point which actually led me towards this issue. sort_values for series does not work currently for 1 and 0, but sort_values for dataframe works perfectly with 1 and 0. Shouldn't we make both of them to work in the same way?

[2021-05-29 19:35] terryluan12 commented on #41710
I can take this issue.

[2021-05-29 19:36] terryluan12 commented on #41710
take

[2021-05-30 01:19] ZurMaD commented on #41724
Hmmm I tried to replicate the error with correct `dtypes` https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#dtypes , but it gives me nan=0

[code]
[code]

[code]

[code]

### Errors happens here:

[code]

[code]

[2021-05-30 01:31] jbrockmendel commented on #41724
"i8" corresponds to "int64", not "int8", so it isnt surprising that it maps to a different nonsense value

[2021-05-30 01:33] ZurMaD commented on #41724
With

[code]
raises
[code]

[2021-05-30 02:08] jbrockmendel commented on #41719
id like this, but in fairness its mostly me leaving that comment

[2021-05-30 03:02] yehoshuadimarsky opened #41728 "ENH: Load SQL engine backends via `entrypoints`"
Follow up to #36893. Per @xhochy's suggestion we should use `entrypoints` as a mechanism for loading alternate SQL engine backends, similar to what we do with plotting backends. Creating a new issue for it per the comment [here](https://github.com/pandas-dev/pandas/pull/40556#discussion_r625243915).

[2021-05-30 03:02] jbrockmendel commented on #41724
thanks, ill clarify that the issue is about numpy integer dtypes

[2021-05-30 03:35] jbrockmendel commented on #40110
@jreback for the most part we like to have `Series(values, dtype=dtype) === Series(values).astype(dtype)`.  If you're suggesting we raise on the constructor version, would you also want to disallow the astype?  Or we could leave the astype as the "do this instead", but sacrifice the equivalency

[2021-05-30 03:42] jbrockmendel commented on #22384
@jorisvandenbossche @TomAugspurger on the last nullable call we discussed this briefly, including the need to have a mechanism analogous to ndarray.astype's `casting` kwarg (in some places we have an `errors` keyword that fills a similar role)

In #40110 im leaning towards becoming (with deprecation cycle) stricter in the constructors, disallowing certain `Series(values, dtype=foo)` usages and dir

[2021-05-30 05:21] #41465 closed

[2021-05-30 05:42] DEBADRIBASAK commented on #31308
Is this issue still there? I am looking for a first contribution, so I can take it.

[2021-05-30 05:50] DEBADRIBASAK commented on #31308
I see that this issue is still there in pandas version 1.2.3. I am looking for a contribution. Can I take this?

[2021-05-30 08:52] MarcoGorelli commented on #41719
:laughing: pretty sure I've seen it from others too

@mgmanzella tagging you in case you'd be interested in giving this a go, as you'd expressed interest in implementing more linting rules

[2021-05-30 14:39] electromeow commented on #41213
This time it didn't happen. I suppose that's about using it. When I test it on a clear venv it doesn't happen. But when I add it to the project, the problem happens regularly each few days.

[2021-05-30 15:33] MarcoGorelli commented on #41213
What do you do in those days between when you add pandas to the project and when it stops working?

[2021-05-30 18:18] yehoshuadimarsky commented on #41728
@xhochy can you please clarify for me, in this scenario that we will load SQL engine backends via entrypoints, what exactly does the SQL backend library need to provide to be compatible? I see you wrote [here](https://github.com/pandas-dev/pandas/pull/40556#discussion_r621293023) that it needs to add this to its `setup.{py|cfg}`
[code]
but what does `turbodbc.TurbodbcPandasEngine` actually need to

[2021-05-30 18:28] yehoshuadimarsky commented on #41728
Actually some good reading here:
* https://packaging.python.org/specifications/entry-points/
* https://packaging.python.org/guides/creating-and-discovering-plugins/

Appears that the `group` portion should be delimited by dots, not underscores, e.g.
[code]

[2021-05-30 19:00] yehoshuadimarsky commented on #41728
Looking around, we can potentially reuse some of the plugin approaches that other popular libraries use. Some examples that come to mind:
### Pytest
* https://docs.pytest.org/en/6.2.x/writing_plugins.html
* https://github.com/pytest-dev/pytest/search?q=pytest11
* https://pluggy.readthedocs.io/en/latest/
Looks like they use their own package `Pluggy` for this, which has a convenient built in method

[2021-05-30 19:11] yehoshuadimarsky commented on #41728
And maybe we should centralize all plugin loading into a single module with common functions, and that can be invoked from the specific places that need it like plotting, sql engine, etc. Would make adding more plugins easier

[2021-05-30 21:17] datapythonista opened #41736 "CLN: Delete pandas-docs GitHub organization"
xref #41050

Feels like https://github.com/pandas-docs/pandas-docs-travis was created to publish the development pandas docs, but that was eventually moved elsewhere, and now there is just a two year old copy published there (in their github pages).

I think we should delete the `pandas-docs` organization, to avoid confusion, or people accessing old docs from outdated links to that copy.

[2021-05-30 21:18] datapythonista commented on #41050
I did a grep, and I could only find one link to the url you mention, in the README file I'm deleting here: #41735

I guess all inks to that url in the web were already replaced, so closing this. Feel free to reopen if I'm wrong @mroeschke

@jorisvandenbossche +1 on removing that repo (I'd delete the whole `pandas-docs` organization, since there is nothing else. I don't have permission to that orga

[2021-05-30 21:29] datapythonista opened #41737 "CI: Set up CI for ARM"
xref #33971

This used to run in Travis, but seems like Travis now requires credits, and we can't get them reliably (see #38943).

[This page](https://developer.arm.com/solutions/infrastructure/developer-resources/ci-cd) contains CI systems that support ARM. Most of them require to set up our own runner, which I guess we don't want to do or maintain. So, the main options seem to be:
- drone.io
- C

[2021-05-30 21:33] jreback commented on #41737
there are multiple issue about this already

we got a renewal of travis credits but it's not enough

drone.io is not designed for a big ci like we need

circle is a possibility

cc @fangchenli

[2021-05-30 21:34] jreback commented on #41728
happy to get something to work then move to a more formal plugin structure

[2021-05-30 21:43] datapythonista commented on #41737
Thanks for the extra info. Based on the discussion in #38943 seems like Travis is not a reliable option. It took several months to get credits, and they lasted less than a week. I don't think there is any other issue about setting up an ARM build if the problem can't be solved with Travis, that's why I opened this one. Let me know if I'm missing anything.

[2021-05-30 21:48] datapythonista commented on #41737
CC: @cphang99

[2021-05-30 22:29] karan1211 commented on #26551
Thanks, it helped.

[2021-05-31 01:27] datapythonista opened #41740 "TST: Tests broken in ARM"
Working on adding ARM back to the CI in  #41739 I found that pandas tests are curently failing for this architecture:

[code]

[2021-05-31 01:34] jreback commented on #41740
ok you can just xfail these for now (ref this issue) and then can fix later

[2021-05-31 02:43] yehoshuadimarsky commented on #41728
Sounds good, working on it. @xhochy how do we enforce that the sql engine has the correct interface? Or do we not do so, we just let the user select an engine and it's up to the engine library to create a function that has the correct signature, and if it fails, it fails? Should an engine library import the base abstract SqlEngine class to subclass from, or is that too strong of a dependency?

Try

[2021-05-31 02:43] yehoshuadimarsky commented on #41728
take

[2021-05-31 04:36] fangchenli commented on #41737
Just for reference. We have tried `drone.io` in #39742.

[2021-05-31 10:57] matthewgdv commented on #25730
Just bumping this issue. The docstring does imply that python types can be used as the first argument to `Series.astype`.

And it does work with other python types like `int` and `float`. Yes, it's possible to use `pd.to_datetime`, but for simple cases of (for example, converting python dates to timestamps) it's annoying to have to break the symmetry between how you would coerce other types and ho

[2021-05-31 12:13] jreback commented on #25730
datetime.date time is not a valid numpy type as it's under specified (no units);

-1 on any expansion here

[2021-05-31 12:52] matthewgdv commented on #25730
@jreback

By that logic neither should python `int` or `float` be allowed, but they currently are (`int` seems to default to `int32`).

So I don't see why we can't put practicality over purity here and let users have their shorthand conveniences.

I'd also like to point out that the currently recommended way to perform this operation:

`df['some_col'] = pd.to_datetime(df['some_col'])`

**also** do

[2021-05-31 13:07] MarcoGorelli commented on #41422
Hi @Lokeshrathi - closing for now, will reopen if you address the comment above

[2021-05-31 13:07] #41422 closed

[2021-05-31 13:12] MarcoGorelli commented on #37558
closing as there doesn't seem to be much support for this

[2021-05-31 13:12] #37558 closed

[2021-05-31 13:23] ppletscher opened #41743 "BUG: groupby().agg( ) with min/max on Int64 leads to incorrect results"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The above code will output `1618556707013635840` as the minimum which is incorrect.

#### E

[2021-05-31 13:46] jreback commented on #41743
try this in master as pretty sure this is fixed

[2021-05-31 14:27] #18561 closed

[2021-05-31 14:27] #22060 closed

[2021-05-31 14:27] #22449 closed

[2021-05-31 14:27] #22512 closed

[2021-05-31 14:27] #22719 closed

[2021-05-31 14:27] #23542 closed

[2021-05-31 14:27] #26859 closed

[2021-05-31 14:27] #28697 closed

[2021-05-31 14:27] #28928 closed

[2021-05-31 14:27] #29687 closed

[2021-05-31 14:27] #29699 closed

[2021-05-31 14:27] #30263 closed

[2021-05-31 14:27] #31861 closed

[2021-05-31 15:14] lucifermorningstar1305 commented on #20954
Well this is happening because if you look at the formula for correlation which is as follows:

[code]
Now as per your given table when I subtract a - a_mean I get 0, now as the denominator becomes 0, hence the answer is `np.nan` for the correlation.

[2021-05-31 15:27] ppletscher commented on #41743
Thanks a lot for the quick reply.

I've just tried this inside a Docker build as described [here](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#using-a-docker-container) and unfortunately I also see the same behaviour there.

`pd.show_versions()` shows the following:

[code]

[2021-05-31 15:31] mzeitlin11 commented on #41743
This cast was avoided for `cummin/max` in #40651, still needs to be done for `min/max`, xref #37493

[2021-05-31 16:35] AlexGCas commented on #40680
maybe you want to add other functions of loc and iloc, iloc for reassignment of a row and loc  for reassingment and append new row

[2021-05-31 17:12] jordanrmerrick commented on #41681
I'm happy to take this on. The caveats of using lxml and `write_only` mode are:
1. Worksheets are not initialized automatically, we have to use `create_sheet` on the book.
2. Rows can only be appended, we can't go back to arbitrary locations to write data.
3. The book can only be saved once.
4. Everything that shows up in the file needs to be created before being added (like frozen cells).

The fi

[2021-05-31 17:41] #39771 closed

[2021-05-31 18:39] jbrockmendel commented on #41673
If at the beginning of the process you had all your frames, i'd think there is very little downside to doing one `concat` call up-front.  So I guess the use case is pretty specific to having an incoming stream of data?  (maybe also for dask?)

[2021-05-31 18:54] jreback commented on #41673
yes this the point of this api. It can be quite expensive to constantly recompute the result if you have streaming data.

[2021-05-31 19:01] jreback commented on #40110
I would still have this axiom hold. My point is that (and maybe this is a bigger change / deprecation),  casting to ints (not extension) should fail if we have NaN (i think we don this now in all cases) or if these are not exactly the same. This would be 'safe' casting.

IOW the numpy behavior i view as really bad actully (if you want to round/floor/ceil, then that should be explicit).

So I think

[2021-05-31 19:36] jbrockmendel commented on #40110
totally agreed.  the case in question here is where we have e.g. `np.array([1.5, 2.5])`, i.e. no NaNs, and not round

[2021-05-31 19:44] jreback commented on #40110
I think we should raise on this as well. This is a big departure from numpy, but IMHO totally unexpected to directly cast these to int should raise. (wether by constror dtype or via .astype)

[2021-05-31 19:51] Diegostastico commented on #19386
From version 0.24 (Jan 25, 2019) this is now required:

import pandas.io.formats.excel
pandas.io.formats.excel.ExcelFormatter.header_style = None

currently still working for pandas version 1.2.4 (Apr 12, 2021)

[2021-05-31 20:02] YarShev commented on #41074
@simonjayhawkins , probably, that is true.

[2021-05-31 20:18] jbrockmendel commented on #40110
OK, ive got a branch almost ready that changes the Series constructor (though not DataFrame, which is a separate branch to ...).  I'd be OK with deprecating instead of directly changing, too.

[2021-05-31 20:33] rhshadrach opened #41748 "DOC: whatsnew format for minor enhancements/bug-fixes"
Admittedly this is extremely minor, but it's something that has always irked me. Currently for minor (single-line, not a section) enhancements and bug-fixes, we have the format:

which on its own is perfectly fine. However when a line has multiple sentences:

the lack of a period at the end looks off to me. I'd prefer if we did full sentences for each line followed by the GH link at the end, this

[2021-05-31 20:37] jreback commented on #40110
yeah i think have to deprecate

[2021-06-01 06:36] linehammer commented on #17476
The first thing you should understand is that [SettingWithCopyWarning](http://net-informations.com/ds/err/copy.htm) is a warning, and not an error. You can safely disable this warning with the following assignment.

`pd.options.mode.chained_assignment = None`

The real problem behind the warning is that it is generally difficult to predict whether a view or a copy is returned.  When filtering Pand

[2021-06-01 07:41] MarcoGorelli opened #41753 "Use list comprehension to join strings"
In #41160 , a new pyupgrade feature did some rewrites likes

[code]

However, they then reverted this feature as it was a potential performance regression (https://github.com/asottile/pyupgrade/issues/456).

I think we should revert those changes (though arguably not the entire PR) and add a rule to pandas-dev-flaker about using list comprehensions rather than generators when joining strings

If n

[2021-06-01 08:49] simonjayhawkins commented on #41737
drone is used for the conda packages and run times seam reasonable (around half an hour) (compared to the ppc build on azure, nearer 2 hours) https://cloud.drone.io/conda-forge/pandas-feedstock/115

[2021-06-01 09:07] simonjayhawkins commented on #41740
and there's also the failing tests in https://travis-ci.com/github/MacPython/pandas-wheels/jobs/506980866

Quick glance these look like different tests failing.

Ideally we should have the same ci setup on both pandas and pandas-wheels so there are no surprises.

[2021-06-01 09:13] vietpm commented on #29024
Any fix on this issue ? I still encounter this error on pandas 1.1.3

[2021-06-01 09:18] Codeberg-AsGithubAlternative-buhtz opened #41754 "QST: Inconsistent behaviour in checking number of fields per row while read_csv()"
I post this as a "Question" because I am quite new to `pandas`. So maybe I miss some understandings and the "problem" described by me is by design and you have good reasons for that.
I use pandas 1.2.4, with Python 3.9.4 on Windows 10 64 bit.

As a user I would expect that pandas check the number of fields per row when importing via csv file. But IMHO it does not in all cases.

# Example 1

Here i

[2021-06-01 10:17] leonoverweel opened #41755 "BUG: `warn=True` parameter in `pd.infer_freq()` does not prevent raising a `ValueError` as expected"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The [documentation currently suggests](https://pandas.pydata.org/pandas-docs/stable/reference

[2021-06-01 10:20] janosh opened #41756 "BUG: inconsistent types when applying numpy operations"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

The return type when applying `numpy` ops to data frames should be consistent. In this example, `np.mean` returns a `p

[2021-06-01 10:35] adhadse opened #41757 "BUG: to_dict(orient="dict") not returning list of values when the index is non-unique"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-01 10:37] simonjayhawkins commented on #40799
@jbrockmendel thoughts on this one?

[2021-06-01 11:30] rudolfbyker commented on #39609
If we follow semantic versioning strictly, then this is a regression. A minor version increase should not break any existing API-contract.

### Example code:

[code]

### Output in version `1.1.3`:

[code]

[code]

### Output in version `1.2.4`:

[code]

[code]

[2021-06-01 11:32] testingcan commented on #41754
To me this behaviour is quite consistent with what I would expect a CSV import to do. Having a value outside of the defined columns just doesn't make any sense, so the `ParserError` is appropriate here. However, having a `NaN` or missing value is logically sound in my opinion and happens more often than not.

For example, if the contents of your CSV file were from some input, where you have to ent

[2021-06-01 11:57] ezerkar opened #41759 "ENH: allow groupby (and drop_duplicates) on columns containing unhashable types"
#### Is your feature request related to a problem?

well sort of, currently one can not groupby on a column containing unhashable types (e.g dicts)

#### Describe the solution you'd like

an easy workaround is to groupby on that column as type str and then remap the strings back to their orig type,
wondering if we can provide this process built in so one can groupby on unhashable types if she desi

[2021-06-01 12:08] JimZwartveld opened #41760 "BUG: XS for multiple keys in combination with drop_level=False"
I believe a bug was introduced in the update of `xs` in pandas 1.2.0. The problem occurs when requesting multiple keys in combination with `drop_level=False`. I use the following code to highlight the problem I face:

[code]

In pandas 1.1.5, the following output is generated (as expected):
[code]

While in pandas 1.2.4, an exception is raised:

[code]

[2021-06-01 12:36] #40371 closed

[2021-06-01 13:47] mzeitlin11 commented on #41759
Thanks for the request @ezerkar! I'd be -1 on this - I think this would add considerable complexity for uncertain payoff. This sounds like a workaround better done on the user side - implicitly hashing mutable objects sounds like something which could lead to very confusing behavior. On the user side, you can make sure mutable objects aren't being mutated and breaking hash invariants.

[2021-06-01 13:51] #38943 closed

[2021-06-01 13:52] #24435 closed

[2021-06-01 13:53] #33558 closed

[2021-06-01 14:09] testingcan commented on #41757
I don't know if I would agree with your expectations. Python dicts by nature have unique keys. Since `to_dict` on a DataFrame is taking the content, i.e. the series, of the DataFrame and calling its `to_dict` (see [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L1794)) this is comparable to something like this:

[code]
Which gives you the same dict as in your example.

[2021-06-01 14:11] ezerkar commented on #41759
lp

[2021-06-01 14:28] aj125 opened #41764 "BUG: Addition operation between NaN and list returns NaN"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
[code]

#### Problem description

In Pandas when using the "+" operator on a Series entry containing a list and a Series entry containing a NaN value, a NaN value is retur

[2021-06-01 14:54] #41074 closed

[2021-06-01 15:04] adhadse commented on #41757
Thanks for the input. I know the keys for the dictionary needs to be unique. My philosophy is **IF and ONLY IFF** the index is non-unique (like in this case) then to return a list of values per unique index seen.

Can this be a additional feature?

I tried to see if I can use hierarchical/MultiIndexing to achieve the expected result but I wasn't able to since it require indexing on two columns not

[2021-06-01 15:34] jordanrmerrick commented on #41681
I've created a pull request as shown above. The main thing I'm concerned about is how it handles lxml not being present - excepting an `ImportError` and initializing a regular workbook. Further, right now there isn't an option for the user to disable `write_only` mode except by removing lxml from their environment. Should I add an option to disable it, and if so, at what level would be appropriate

[2021-06-01 16:01] JoakimZachrisson opened #41768 "BUG:"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

#### Code Sample

[code]

#### Problem description

Passing lambda or user defined function causes `pd.DataFrame.agg` to crash.

[code]

When setting a break point in the user defined function I noticed that the input is not a pd.Series containing all values

[2021-06-01 18:20] Chretien commented on #17275
In case anybody else stumbles upon this error, and you're ABSOLUTELY CERTAIN that there is no whitespace to be found in your columns, do a double check to ensure that the column you're attempting to plot is of a numeric dtype, and not an object.

I was scratching my head with this:
`dete_resignation['cease_date'].astype("float")`

Since the dtype was an object before, I wanted it to be a float. I

[2021-06-01 18:22] ezerkar commented on #41759
Thanks for your comment,
Let me disagree here, having mutable objects in df cells is possible (and explode, for instance, is designed for that specific situation) and [[1,2,3], [1,2,3]] are duplicates by all means, so why should someone expect an error when running drop_duplicates on a df that happens to have lists in one of its columns?
I get that not being able to hash disturbs the regular imple

[2021-06-01 19:00] jbrockmendel commented on #40489
After experimenting with both possible changes (making Series behavior match Index or making Index behavior match Series), I'm now leaning towards preferring the Series behavior, i.e. inferring _less_ aggressively.

In the branch that makes Series infer more, I've still got 49 test failures.  The other branch I'm down to 3 (though with a _ton_ of warnings to catch).  In each case, some unrelated b

[2021-06-01 19:04] mzeitlin11 commented on #41759
That label just refers to the fact that this is related to `drop_duplicates` :)

I think this makes sense given that it is default python behavior, eg
[code]

I think hashing mutable objects might surprise users who have a mutable object in their frame by mistake (which a failure would make very clear). If the intent actually is to drop duplicates of something mutable, I think it makes for the use

[2021-06-01 19:09] mzeitlin11 commented on #41759
(As a sidenote, if your use case is specifically in reference to better list support, this probably falls under the category of something which would probably be supported if we ever have a specific ListDType (xref https://github.com/pandas-dev/pandas/issues/35176))

[2021-06-01 19:24] phofl commented on #41754
This is a duplicate, please search the issue tracker,

[2021-06-01 20:29] ezerkar commented on #41759
Thanks for clarifying the label LOL
while I see your point, In my opinion since the basic logic of groupby/drop_duplicates does not necessarily include hashing it should not fail. At any rate, for the very least the documents should reflect this.
But I guess, if leaving the situation as is has its pros, we should not make any changes.

[2021-06-01 22:11] ponkumarpandian commented on #40115
@MarcoGorelli Any workaround for this issue under this bug get resolved, I am getting similar issues and i got blocked.
It will be great if there is any work around on this issue

[2021-06-01 22:29] #41737 closed

[2021-06-02 03:54] jbrockmendel opened #41775 "BUG: ser.loc[-1] and ser.loc[[-1]] with UInt64Index"
[code]

[2021-06-02 06:53] SAH-UJA opened #41778 "BUG: Pandas doesn't release the lock when a corrupted file is fed in. pandas==1.2.1 worked fine but pandas==1.2.4 has this issue."
Kindly refer the following code snippet.

`import pandas as pd`
`import os`

`# Creating a corrupted file`
`with open('a.xlsx', 'w') as f:`
`    pass`

`# Reading using pd.ExcelFile`
`data = pd.ExcelFile('a.xlsx', engine='openpyxl')`

`# Deleting the file`
`os.remove('a.xlsx')`

Here, I create a .xlsx file which is not the correct way to make xlsx file but this will express my concern. Then I use

[2021-06-02 07:23] benchittle opened #41779 "BUG: DataFrame.rolling(axis=1) operations drop/ignore float16 and float32 columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
It seems that rolling operations along rows (`axis=1`) incorrectly omit columns containing `fl

[2021-06-02 10:29] PaulBremner commented on #39520
Is there a work around for this bug? As far as I can see I have tried the solutions suggested above of rolling back numpy. I have tested:

pandas==0.24.2
pandas==0.25.3
pandas==1.0.5
pandas==1.2.4
with numpy==1.19.5 and 1.20.3 (and just as a stab in the dark test numpy==1.17.5)

Nothing seems to work, I still get the attribute error.

[2021-06-02 10:42] jreback commented on #39520
.dtype is NOT a property on a DataFrame but on a Series

[2021-06-02 10:45] PaulBremner commented on #39520
I did not know that. Though I am still none the wiser about how to get my code to work.

[2021-06-02 11:11] irshad-io opened #41782 "BUG: AttributeError: 'NoneType' object has no attribute 'get' on __version__ = v.get("closest-tag", v["version"])"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest

---
###Problem
I am unable to import pandas into python. Whenever I try to import, it gives me a traceback
[code]

I tried reinstalling pandas but the error still exists. I am using Pycharm but even in cmd when I import pandas it gives me the same error.

#### Output of ``pd.s

[2021-06-02 12:45] jreback commented on #41775
can you add a whatsnew, lgtm

[2021-06-02 13:12] dz0 commented on #32077
I am still getting this in 1.2.4
[code]

Traceback for the same exampole
[code]

[2021-06-02 13:23] #41552 closed

[2021-06-02 13:24] #40823 closed

[2021-06-02 13:38] steffen746 commented on #31697
Is there any progress on this?

[2021-06-02 13:54] jbrockmendel commented on #39520
If you didn't know that, then we should revisit the idea that you should use `df.dtypes`

[2021-06-02 14:25] Codeberg-AsGithubAlternative-buhtz commented on #41754
It is impolite to assume that each user opening an issue is stupid and lazy.
Of course I search the issue tracker. I assume I used the wrong keywords.

But it is also impolite to point to other Issues without giving the links.
It is a feature of [HyperText](https://de.wikipedia.org/wiki/Hypertext) to link your words to content. ;)

If you want contributers to pandas you should work on your attitud

[2021-06-02 14:25] MarcoGorelli commented on #31697
PRs / investigations are welcome https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

[2021-06-02 15:14] #41291 closed

[2021-06-02 15:30] Codeberg-AsGithubAlternative-buhtz opened #41786 "QST: Mailinglist or Discussion Forum beside StackOverflow"
I miss a way to get intouch with the pandas community (users & devs) beside StackOverflow where I can ask strick questions.

But I want to discuss some ideas and thinks like that. I am not sure if am allowed to that in this "Question" section in the Issues?

btw: GitHub now offers a discussion forum, too.

[2021-06-02 15:32] jreback commented on #41754
@Codeberg-AsGithubAlternative-buhtz we have 3500 issue and *very* limited reviewers / volunteers. Please help us out here.

[2021-06-02 16:01] beaverden opened #41787 "QST: Apple M1, arm64"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

What is the current state of amd64 compilation? Docker pip installation takes ages and I'm having trouble installing it on my macos with apple m1 chip.

Is there anythin

[2021-06-02 16:45] jorisvandenbossche commented on #22384
In the potential future world of having an "astype mechanism", that could include some way to specify a `casting`/`errors` behaviour, and then both `astype()` as the constructor (`_from_sequence`) could still rely on the same mechanism, but with potentially a different default for this casting/error behaviour?

(all a bit hypothetical, but to say that I think we can move towards different default

[2021-06-02 17:02] MarcoGorelli commented on #41786
Hey @Codeberg-AsGithubAlternative-buhtz

What do you mean by "strict questions"?

You could try asking in https://gitter.im/pandas-dev/community , or on the mailing list - I'm not aware of any other place at the moment. Or ask here, I guess

https://pandas.discourse.group/c/general-discussion/8 also exists, but it doesn't look like it ever took off

[2021-06-02 18:53] lithomas1 commented on #41754
Hi @Codeberg-AsGithubAlternative-buhtz,
1 is a bug and being tracked in #40333 and may be fixed by #40629
3 is not a bug. It is mentioned in the user guide. https://pandas.pydata.org/docs/user_guide/io.html#handling-bad-lines.
Can you close the issue if I have answered your questions.
Thanks.

[2021-06-02 19:11] lithomas1 commented on #41787
Hi @beaverden, I believe you mean arm64 not amd64(amd64 is for Intel/AMD chips). We currently don't publish wheels on PyPI because pandas fails a couple of tests on the arm64 architecture(and we don't have free CI infrastructure for arm64 yet), but you should be able to get pandas via conda if you have it(https://anaconda.org/conda-forge/pandas).

[2021-06-02 19:15] lithomas1 commented on #41149
@Yan-Daojiang Is it OK to close this issue since it appears you resolved it? Thanks.

[2021-06-02 19:17] lithomas1 commented on #41736
cc @jorisvandenbossche

[2021-06-02 19:27] jorisvandenbossche commented on #41050
I suppose you mean URLs on our own website? Because there certainly are links to it "out there" on the web. For example checking on stackoverflow: https://stackoverflow.com/search?q=https%3A%2F%2Fpandas-docs.github.io%2Fpandas-docs-travis%2F

Now, of course, if we never remove that, it will also never get fixed, so that's not necessarily a reason to keep the docs alive.
But changing it to redirect

[2021-06-02 19:29] beaverden commented on #41787
I'm sorry. You're right about arm64. Is there a way to help on the tests?

[2021-06-02 19:38] datapythonista commented on #41050
Sorry, not sure why I thought this was about removing links in our website, not about removing the github pages themselves.

We're not talking about a single page, but about a whole mirror of our docs if I understand correctly. Replacing each page by a redirect one seems a lot of work, for in my opinion, zero benefit, if these links won't likely be fixed, and we'll eventually delete the whole site

[2021-06-02 19:39] datapythonista commented on #41736
This is actually a dupe of #41050, which has now been reopened. My mistake, closing here.

[2021-06-02 19:39] #41736 closed

[2021-06-02 19:43] jorisvandenbossche commented on #41050
Yeah, I didn't necessarily think about the practical details when mentioning the "redirect" option .. ;)

As you say, you probably need to have each page be replaced by its own redirect, and you can't have a "global" redirect at the root level? (I suppose that's not how surfing HTML webpages works ..)

[2021-06-02 19:47] phofl commented on #41787
They are listed in #41740, not sure where we are exactly there

[2021-06-02 19:48] datapythonista commented on #41050
If it was our own server we could do what you say via nginx. But that's Github pages, so html is the only option, and each page is independent, if we just redirect the root, that won't be triggered for any other path.

Otherwise a single html redirect would be trivial, and I had it ready with less time than writing this comment. ;)

[2021-06-02 19:50] phofl commented on #41760
Hi, thanks for your Report.

Looks like a bug.

Could you try to narrow your example down a bit? Removing transpose and maybe defining the index explicitly?

[2021-06-02 19:52] phofl commented on #41687
Closing for now, please ping to reopen after you have tried a newer pip

[2021-06-02 19:52] #41687 closed

[2021-06-02 20:18] TomAugspurger commented on #40110
I don't have a strong opinion here, but one question: What's the performance impact of verifying / validating that we should raise? Does this have to look at each value, or is it equivalent to `ndarray.astype(casting="safe")`?

[2021-06-02 20:21] TomAugspurger commented on #41626
I vaguely recall some discussions around changing the default behavior of `pd.concat` to union categories when provided with multiple CategoricalDtype objects, rather than casting to object. IMO, we should address that first (through a deprecation cycle). IIUC it'd then be easier to make the two consistent.

[2021-06-02 20:33] phofl commented on #41782
Could you show output of pip freeze or conda list? Also can you explain how you set your env up?

[2021-06-02 21:18] phofl commented on #41779
This sounds sensible. Would you like to open a pr?

[2021-06-02 21:49] benchittle commented on #41779
Will do!

[2021-06-02 21:49] benchittle commented on #41779
take

[2021-06-02 22:17] Codeberg-AsGithubAlternative-buhtz commented on #41754
Thanks for the Issues and PR. I will monitor them.

For 3: Yes the (IMHO inconsistent) behavior is described in docs. But it does not make it right. There should be no difference between the handling of to few and to many columns. But it is just my opinion.
But because of this situation I can never trust pandas while importing CSV files. Before using pandas I have to do some pedantic checks by my

[2021-06-02 22:17] #41754 closed

[2021-06-02 22:19] Codeberg-AsGithubAlternative-buhtz commented on #41786
Great, thanks.

But where was gitter or the mailinglist mentioned on the project website? https://pandas.pydata.org/

I do not mean the GitHub project side where it is mentioned in the README.md.

[2021-06-02 22:19] #41786 closed

[2021-06-03 00:36] HyukjinKwon opened #41792 "BUG: Broken bool supports in pandas' quantile by NumPy's percentile behaviour change"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-03 02:33] jbrockmendel commented on #40110
It is _not_ equivalent to `casting="safe"`, no.  It goes through maybe_cast_to_integer_array which when passed an ndarray[floaty] boils down to

[code]

I've opened https://github.com/numpy/numpy/issues/19146 to discuss how to implement this (well, the uint analogue of this) more efficiently.

[2021-06-03 05:45] attack68 commented on #41748
when committing for first time I looked to copy this structure and I agree with you, albeit this is tiny.

what about:

[2021-06-03 06:26] Anupam-USP commented on #41351
Hey @michaelneururer, you still working on this issue?

[2021-06-03 07:33] zxdawn opened #41796 "BUG: `round()` for 5e5 ms should be `ceil()`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

If the ms is 5e5, the method of round is floor, but it should be ceil.

#### Expected Output

[2021-06-03 07:38] MarcoGorelli commented on #41754
Given the sheer volume and quality of (voluntary!) work produced (see https://github.com/pandas-dev/pandas/commits?author=phofl for a start, and that's excluding reviews + issue triage), is demanding that they search the issue tracker for you really the best use of their resources?

Such comments are unwelcome - you've been warned

[2021-06-03 08:35] AlexKirko commented on #41796
Thanks for submitting this! This happens because we use `RoundTo.NEAREST_HALF_EVEN` for tiebreaks when calling `dt.round`. So if you run:
[code]
You end up with:
[code]
I don't believe this to be a bug, but we could instead round to `RoundTo.NEAREST_HALF_PLUS_INFTY`. Could someone else chime in on this?

[2021-06-03 09:42] simonjayhawkins commented on #41760
first bad commit: [5c111cb873625a16974f32c4532c7d8c377b543b] BUG: Bug in xs ignored droplevel (#37776)

[2021-06-03 11:36] timlod opened #41797 "BUG: undocumented astype("category").astype(str) type inconsistency between pandas 1.1 & 1.2"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Output 1.1.3:
[code]

Output 1.2.4:
[code]

#### Problem description

The above snippet run on version 1.1 (tested on 1

[2021-06-03 12:05] JimZwartveld commented on #41760
@phofl I updated the example, hope this is what you were looking for.

[2021-06-03 12:44] mksarker opened #41798 "ImportError: cannot import name 'Series' from 'pandas' (unknown location)"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'Series' from 'pandas' (unknown location)

[2021-06-03 13:34] MarcoGorelli commented on #41798
please fill in the issue template

[2021-06-03 13:39] mksarker commented on #41798
Thanks.

[2021-06-03 13:39] #41798 closed

[2021-06-03 13:40] mksarker opened #41799 "ISSUE: ImportError: cannot import name 'Series' from 'pandas' (unknown location)"
from pandas import Series, DataFrame
Traceback (most recent call last):
File "", line 1, in
ImportError: cannot import name 'Series' from 'pandas' (unknown location)

[2021-06-03 13:40] simonjayhawkins commented on #41797
first bad commit: [cc957d1b4fdc4f7107ba5eae66f606663399e410]  PERF/ENH: add fast astyping for Categorical (#37355) cc @arw2019

[2021-06-03 13:42] joelvanveluwen commented on #17041
Is someone working on this? I'm not convinced that alphabetical ordering is desirable compared to just taking the order of the values supplied.

[2021-06-03 13:52] phofl commented on #41799
Could you please describe how you setup your env? We can Not help without more information.

[2021-06-03 14:05] mksarker commented on #41799
conda version : 4.10.1
    conda-build version : 3.18.11
         python version : 3.7.6.final.0
------------------------
Name: pandas
Version: 1.2.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /anaconda3/lib/python3.7/site-packages
Requires: pytz, python-dateutil, numpy

[2021-06-03 14:14] MarcoGorelli commented on #41799
do you have a file called `pandas.py` or a folder called `pandas` locally in your path? If so, perhaps try renaming it? Also, it would be useful to see the full traceback

[2021-06-03 14:56] mksarker commented on #41799
No. I am trying from python terminal.
Python 3.7.6 (default, Jan  8 2020, 19:59:22)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'Series' from 'pandas' (unknown location)

[2021-06-03 15:06] jbrockmendel commented on #40799
The only way around this I see is reverting #35027.  maybe parts of it can be salvaged?

[2021-06-03 15:27] johnands opened #41800 "BUG: combine_first fails when one series is timezone-aware and the other is emtpy."
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] \(optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example
[code]
 **Traceback**

<details>

[code]

</details>

#### Problem description
Combine fails when one series has a timezone-aware date

[2021-06-03 15:30] jbrockmendel commented on #41409
@simonjayhawkins im catching up on an email backlog.  is this a short-term priority?

[2021-06-03 15:30] toryhaavik commented on #41241
I've run into this as well on pandas 1.2.4 and pyarrow 3.0.0. a simple repro is:
[code]

seems just the presence of the nullable dtype is enough to trigger the error

[2021-06-03 15:33] jbrockmendel commented on #41626
that looks similar but i think may be orthogonal.  in all of the affected tests cases i think we're dealing with one Categorical and one non-Categorical

[2021-06-03 16:05] mksarker commented on #41799
solved! thanks.

[2021-06-03 16:05] #41799 closed

[2021-06-03 16:10] MarcoGorelli commented on #41799
how did you solve it?

[2021-06-03 16:12] mksarker commented on #41799
install pandas-1.1.3 version

[2021-06-03 16:17] MarcoGorelli commented on #41799
🤔  thanks - can't see why that would fix it though, but I think that if you make a new conda environment and install the latest pandas in there it should work https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-with-commands

[2021-06-03 16:19] mksarker commented on #41799
Thanks, will try! anyway, it's working now, and happy about it :)

[2021-06-03 17:15] #41775 closed

[2021-06-03 17:50] jreback commented on #41241
hmm. cc @jorisvandenbossche

[2021-06-03 17:56] AnithaSyed opened #41802 "QST:Can i able to merge cells column wise using pandas to excel"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

I need to export some data to exccel sheets throush a loop
For each sheet I need to merge some cells in column wise. I searched in the Stack also but not able to find
PFA

![

[2021-06-03 18:34] MarcoGorelli commented on #41802
Hi @AnithaSyed

Can you ask on StackOverflow as well please, rather than just searching? That's where usage questions are encouraged to be posted.

If you believe there's a bug in pandas, please do let us know and we'll reopen - thanks :+1:

[2021-06-03 18:34] #41802 closed

[2021-06-03 19:25] twoertwein commented on #41778
thank you for your report! Pandas 1.2 encourages to use a context manager with `pd.ExcelFile` to handle closing resources in case of errors.

Does the following work or you:
[code]

[2021-06-03 19:37] tlaytongoogle opened #41805 "BUG: Construction of Series with NAs and interval-of-datetime dtype raises error"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Instantiating a `Series` with NA values in `data` fails if `dtype` is specified as `interval[

[2021-06-03 19:54] attack68 commented on #29072
then you need to define the sticky positions for each index level so they dont overlap e.g:

[code]

[2021-06-03 21:52] Dr-Irv opened #41807 "TYP: Numpy compatibility of definition of "array like""
In `pandas/_typing.py`, we define `ArrayLike` as:
[code]

In the numpy glossary https://numpy.org/doc/stable/glossary.html?highlight=array_like, numpy defines `array_like` as:

Are we creating confusion by using the term `ArrayLike` to only mean arrays, whereas numpy defines it to include scalars?

This came up in terms of reconciling the arguments of `np.searchsorted()` and `ExtensionArray.search

[2021-06-03 23:10] jbrockmendel commented on #41807
I haven't seen this come up elsewhere.  If anything, numpy's definition you quoted seems like it doesn't rule out much of anything.

[2021-06-03 23:29] lithomas1 commented on #41725
@datapythonista #41336 is a false positive I think. It also happens in azure. (for example see https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=60943&view=logs&jobId=404760ec-14d3-5d48-e580-13034792878f&j=404760ec-14d3-5d48-e580-13034792878f&t=6dc7af2e-4337-53c4-0aec-0825dc7b9119) I'm not sure if there's anything that can be done about it.

[2021-06-04 00:20] #41760 closed

[2021-06-04 06:25] SAH-UJA commented on #41778
@twoertwein I tried the snippet which you suggested but `file.unlink()` again gives the same exception that `PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'a.xlsx'`. According to my belief, `with` context manager tries to call `.close()` but the problem is that the object is not getting returned because of the exception so `.close()`

[2021-06-04 10:12] jreback commented on #40169
@simonjayhawkins lets do the RC soon - waiting for the remaining pr labeled for 1.3 is not worth it

[2021-06-04 10:19] mwaddoups opened #41813 "Axis behaviour not consistent for df.interpolate for pad with `limit_area` passed."
The axis along which interpolation is performed is different for different methods in interpolate.

For example
[code]

returns

[code]

Clearly with `limit_area` set the interpolation happens on the wrong axis.

Not contributed before but happy to have a go at this one?

[2021-06-04 10:28] simonjayhawkins commented on #40169
hmm, we should get #39908 in. I think definitely worth it.

v1.2.0 was released on Dec 26, 2020 and the next release would ideally be after Dec 26, 2021 so we can drop Python 3.7

so a release around Jun 26, 2020, with a rc 2 weeks before around 12th gives us at least a few days to sort out the loose ends.

anytime next week would be consistent with these dates.

(and get 1.2.5 done first)

[2021-06-04 10:45] simonjayhawkins commented on #41807
we would probably want to see if that is consistent with out Series and DataFrame constructors and use it there.

in other parts of the code, we probably pass around EAs or numpy arrays so our alias is fine in those cases.

Some public methods may allow wider types than our ArrayLike alias, for those cases we probably use AnyArrayLike, which includes Series and Index or add other allowable types.

[2021-06-04 11:09] simonjayhawkins commented on #40799
#35027 did give a very respectable perf gain, but the changes in the tests that were included with that PR indicated that there were some numerical differences.

We have not had other reports, suggesting that these numerical differences are not generally an issue. This bug report, shows that where the numerical precision is limited, these numerical differences become relevant.

So on one hand, don

[2021-06-04 11:13] simonjayhawkins commented on #40799
we should maybe change the title of this issue, as the current title is misleading.

[2021-06-04 11:17] simonjayhawkins commented on #41596
![image](https://user-images.githubusercontent.com/13159005/120793362-b6255700-c52e-11eb-8197-9258eaa930e6.png)

appears there is a further slowdown on master for the first case.

[2021-06-04 12:14] datapythonista commented on #41725
Thanks for catching that. I guess those are problems with conda servers then. Not much we can do as you say, maybe we could report them, if it's the conda-forge servers I think they are using Azure, they may not be aware of it.

[2021-06-04 12:40] laurent-mutricy commented on #40799
Tracing the calls to `to_datetime` from @simonjayhawkins  minimal example there is no many differences. The one that is most interesseting in my opinion is when datetimes.py is called

[code]
the `arg = np.array(arg, dtype="O")` is not called for `idx = pd.to_datetime(np.array([f"{x:0.3f}" for x in np.arange(0, 600.1, 0.1)], dtype="float64"), unit="s" )`

with the following dirty hack to core/tool

[2021-06-04 12:43] simonjayhawkins commented on #41485
@MarcoGorelli can you confirm just #41699 and #41718 outstanding.

[2021-06-04 12:51] #40712 closed

[2021-06-04 12:58] simonjayhawkins commented on #40799
not checked, but guessing this works since it doesn't use the faster code for floats.

interestingly, I guess if we are converting a list or tuple to an object array, we may be missing the perf gain for floats in some cases.

It maybe, that we need to patch the code in the read_csv stage, so that an object array is always passed to pd.to_datetime, to account for the lower precision from the csv st

[2021-06-04 13:12] MarcoGorelli commented on #41485
@simonjayhawkins that's right (and the clean of up these whatsnew entries, but I can do that later today)

[2021-06-04 14:05] Dr-Irv commented on #41807
That's my point.  I was confused because when you see `numpy` use the `array_like`, I thought it really meant an array, but it doesn't.

So we have methods like `searchsorted()` and `repeat()` in `ExtensionArray`, where we say they are "similar" to `numpy`, which is requiring a `numpy` definition of "array_like", and should we support what numpy calls "array_like", or do we say "In pandas, `ArrayL

[2021-06-04 14:12] Dr-Irv commented on #41807
For `Series`, we document it as "array-like, Iterable, dict, or scalar value".  `pd.Series(2)` works.  But we are explicit about that.

My question is whether we continue in this direction, i.e.,

- numpy "array-like" means an array, Iterable, or scalar
- pandas "array-like" means an array (includes `ExtensionArray`) or `np.ndarray`', but does NOT include other Iterable types

Are we confusing use

[2021-06-04 14:40] #41492 closed

[2021-06-04 15:41] smithto1 commented on #28122
This issue is fixed in the latest release.

@WillAyd @jbrockmendel should we add an ASV check to monitor this?

0.24.2
806 ms ± 160 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

1.2.4
727 ms ± 12.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Using minimal example below:
[code]

[2021-06-04 16:31] simonjayhawkins commented on #41807
I think we use array-like in the public docstrings in many places. those should be in places where the accepted types are the same as numpy array-like. (with the possible exception of Scalar)

I don't think that's true. array-like in docstrings probably means that other iterable types are allowed. Do not confuse the doc-string types with the annotation aliases.

from https://pandas.pydata.org/pand

[2021-06-04 16:41] fangchenli opened #41815 "DEPS: clarifying setuptools's status as a dependency"
In `install.rst`, we list `setuptools` as a runtime dependency. If that is the case, we don't need to vendor `packaging` #41199 since it's vendored by `pkg_resources`, which is part of `setuptools`. And we need to update `setup.cfg` and `README.md` to reflect this.

If `setuptools` is not a runtime dependency, vendoring `packaging` is necessary. And, we need to list it as a test and optional depen

[2021-06-04 17:06] jreback commented on #41815
setuptools is needed and we should list it

[2021-06-04 18:34] simonjayhawkins commented on #40917
we have a few outstanding issues but no PRs to fix. https://github.com/pandas-dev/pandas/milestone/85 except #41806

so could maybe do release after that one.

I've not yet got round to look at #41797 in detail, but looking at the diff of the PR that caused the regression https://github.com/pandas-dev/pandas/pull/37355/files, any fix is probably backportable.

also not sure if all the regressions

[2021-06-04 18:41] Dr-Irv commented on #41807
I made that statement by inference.  The docstring for `pd.Series` documents the parameter data as "array-like, Iterable, dict, or scalar value".  So that implies to me that the pandas definition of "array-like" _doesn't_ include iterable types.

And I'm questioning whether we are consistent through the docs, and when we say "array-like" in the docs, do we mean "numpy array-like" or "something lik

[2021-06-04 19:14] jbrockmendel commented on #28122
go for it

[2021-06-04 19:42] TheNeuralBit opened #41817 "BUG: pd.util.hash_array fails on DatetimeIndex with tz specified"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Output:
[code]

Apparently `datetime64[ns, Europe/Berlin]` is an extension array dtype but has no `_values_for_factoriz

[2021-06-04 19:53] lithomas1 commented on #41640
Hi @akald, can this issue be closed now since it is not a bug in pandas? Thanks.

[2021-06-04 20:11] topper-123 commented on #41272
Having thought about this a bit, I think having the base Index hold numeric dtypes is not possible short-term, as the return value of pd.Index(arr, dtype=“int32”) is a Int64Index. That can’t be changed without breaking the API or adding a key word, which is ugly IMO (requires the keyword peppered around the pandas code base).

I suggest we short term (pandas 1.x) go with NumericIndex and for panda

[2021-06-04 21:14] laurent-mutricy commented on #40799
`f"{x:0.14f}"` is still failing but `f"{x:0.15f}"` will not reproduce the bug.
I am not sure to understand where the speed up of #35027 rely on?  is it the `.astype("M8[ns]", copy=False)` instead of `.astype(object) ` ?? if so shouldn't we pass over the bug to the numpy peoples ?

[2021-06-04 21:42] jreback commented on #40917
the 1.2.x should be orthogonal to the 1.3.x i think

but yeah let's just release 1.2.5 when ready

[2021-06-04 21:54] simonjayhawkins commented on #40917
if we do it after, we need to backport anything from master to both 1.2.x and 1.3.x. nbd.

[2021-06-04 22:04] jreback commented on #40917
well only if we are actually patching 1.2,x (which at this point should be very very minimal)

[2021-06-04 22:23] architsingh15 opened #41819 "BUG: read_csv does not read double double quotes in pipe delimited txt file"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprod

[2021-06-04 23:03] #41778 closed

[2021-06-05 00:04] tommyjcarpenter commented on #27328
Totally agree with @pcoccoli ; `to_any_media_type()` should have the same args - I see no semantic difference in timestamps that `to_json` would support `iso` but `to_csv` would not - just doesn't make much sense.

[2021-06-05 00:16] phofl commented on #41819
Did you try csv.QUOTE_NONE?

[code]

Please provide reproducible examples in the future, which do not rely on external variables or files (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2021-06-05 05:13] jbrockmendel opened #41823 "BUG: MultiIndex.unique incorrect when NA value is present"
drop_duplicates looks right, while unique (and _get_unique_index) keep a duplicate entry containing an NA value.  Example based on test_intersection_with_missing_values_on_both_sides.  The analogous problem crops up for every entry in nulls_fixture

[code]

[2021-06-05 05:50] wakandan commented on #32077
I tried downgrading pandas to version 1.2.3 but it doesn't work.

[2021-06-05 08:12] simonjayhawkins commented on #40917
sure. and autobackporting to 1.3.x from master after the fork at 1.3.0.rc0 should just work in more cases until the branches are significantly diverged.

if we can do 1.2.5 before 1.3.0.rc0 great, but we don't need to block 1.3.0.rc0 on 1.2.5

[2021-06-05 15:01] Anupam-USP commented on #41485
Only eval is left. Should I take it?

[2021-06-05 15:26] WardBrian opened #41826 "ENH: Allow different senses of "distance" for method=nearest indexing"
#### Is your feature request related to a problem?

`Index.get_loc` with the method keyword has been quite useful for me, but I often find myself using data (e.g. atmospheric pressure levels) where the truest sense of the word 'nearest' is actually the closest value in log(p), not the normal number line.

#### Describe the solution you'd like

My first thought was to simply request a "log_nearest"

[2021-06-05 16:44] SamuelTrew opened #41827 "BUG: DataFrame `isin` function randomly selects values (instead of using them all) when on Intel CPU and input is a torch Tensor"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

So for some reason, the labels that are passed into the `isin` function, aren't the same as the unique values.
E.g. I'll put 0-9 in and get back a random amount each time eve

[2021-06-05 16:59] xiki-tempula opened #41828 "ENH: retain attrs when concat dataframes"
#### Is your feature request related to a problem?

I wish the attrs could be retained when concat data frames.

[code]

#### Describe the solution you'd like

[code]

#### API breaking implications

N/A

#### Describe alternatives you've considered

N/A

[2021-06-05 17:16] jreback commented on #41826
you can already do this with reindex (method='nearest' and just make your index the computation

-1 on adding api

[2021-06-05 17:37] WardBrian commented on #41826
Forgive me if this is obvious, but could you elaborate on how to achieve the desired effect using reindex?

[2021-06-05 17:38] lithomas1 opened #41829 "CI: Re-enable Circle CI"
I contacted CircleCI to check if they could be interested in sponsoring our ARM builds. Will update if I hear from them. For now looks like we're getting the 2,500 credits that @lithomas1 mentioned (not the 400,000 for open source projects for Linux builds). So, not much we can do with those.

I updated this PR so we don't add the CircleCI build, but still, it has everything else so the build pass

[2021-06-05 19:24] jbrockmendel opened #41831 "BUG: IntervalIndex([np.nan, np.nan]).is_monotonic returns True"
I'm pretty sure this is related to other questionable behavior:

[code]

[2021-06-05 22:45] architsingh15 commented on #41819
oh, then it messes it up entirely.
`"xxx"|"xxx"|"-xxxxxxx"|"xxxxx"|"x"|"xx"|""xxxxxx""|"x"|"xx"|"xxxxxxx"|""|"x"|"xxxxxx"|"X"|"xxxx"|"xxxxx"|""`
If suppose this had to be a row in the df, pandas puts first three elements in the first column itself.
`"xxx" "xxx" "-xxxxxxx"`
like this

[2021-06-05 22:46] phofl commented on #41819
Please post something reproducible and your expected output. Also please narrow your example down to the minimum necessary to reproduce

[2021-06-05 23:02] rok opened #41834 "BUG: Odd timezone offset change with old datetimes with tz_convert"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-05 23:25] architsingh15 commented on #41819
This is exactly what I want. pandas cannot figure out the double quotes when it comes in between in the item.
https://stackoverflow.com/questions/58325337/reading-csv-file-in-pandas-with-double-double-quotes-and-embedded-commas

[2021-06-05 23:35] phofl commented on #41819
I don't think this is intended to work. It is either a quote char or not, but not both.

[2021-06-06 04:02] jbrockmendel opened #41836 "_libs.hashtable.ismember incorrect with tuples containing nan"
It looks like the equality check being done on tuples is checking NA values for identity, so separately instantiated `float("nan")` objects aren't considered matching.

[code]

cc @realead

[2021-06-06 04:08] lithomas1 commented on #41828
Hi @xiki-tempula, thanks for the report.
This is indeed currently not implemented(xref #28283), and I guess the correct way to propogate metadata in this case would be to drop them when they don't match as in your example. PRs to fix this are welcome.
cc @TomAugspurger

[2021-06-06 04:48] kerrickstaley opened #41837 "ENH: DataFrame.to_expr() method"
#### Is your feature request related to a problem?

I would like to write some unit tests for my Pandas code. I want to test that some `DataFrame` is equal to an expected value. The expected value is complicated and I would like an easy way to get the Python code to construct it. My program already computes the expected `DataFrame` value but I need a way to serialize/deserialize it for use in my t

[2021-06-06 07:54] jorisvandenbossche commented on #20521
Ideally, I think this would actually be done in pyarrow/fastparquet, as it is in those libraries that the "pandas" metadata item gets constructed currently

[2021-06-06 08:41] michaelshekasta opened #41838 "ENH: Using transparentpath in read_csv"
Hi Guys,

First of all, Thanks for your work!  I wish I could use pandas with transparentpath in read_csv function.
In short, transparentpath can contain gscfs paths and local paths.
for more information see [this example](https://towardsdatascience.com/transparentpath-a-python-package-to-manage-paths-on-google-cloud-storage-ae25a15a44d5)

Thanks,
Michael

[2021-06-06 09:12] #41640 closed

[2021-06-06 10:29] xiki-tempula commented on #41828
@lithomas1 Thanks for the comment.

I'm thinking that the logic of the concat should be

[code]

I wonder what is your thought?

[2021-06-06 11:26] MarcoGorelli commented on #41485
if you can figure out how to do it, then sure - it's a bit tricker though, I'm not sure myself why it was failing when I tried it earlier

[2021-06-06 11:28] TomAugspurger commented on #41828
No, I don't think we should raise if the attrs don't match. They aren't supposed to affect the result of the computation.

For now, let's just support the case where attrs match, dropping them in other cases. We can add a keyword to concat later to control that behavior.

[2021-06-06 11:29] jreback commented on #41838
you should contribute to https://pypi.org/project/fsspec/#data as this is the canonical interface and will just work with pandas

we do not implement specific interfaces any more

[2021-06-06 13:01] h-vetinari commented on #22812
It's really a pity that the `.update` story in pandas is still a wasteland over two years later (e.g. `Series.update` has no kwargs, and cannot be pipelined due to forcefully being in-place), much less providing something for coalesce or equivalent.

PS. I was prepared to implement all that along the lines of the docstring above (and do it right, going deep into the bowels of the type promotion to

[2021-06-06 14:04] realead commented on #41836
That is true. The reason is that

`float("nan") == float("nan")`

is `False` in Python.

We overwrite default `__eq__` for floats: https://github.com/pandas-dev/pandas/blob/059c8bac51e47d6eaaa3e36d6a293a22312925e6/pandas/_libs/src/klib/khash_python.h#L172-L177, but not other types.

To be consistent,  we should do the same for other built-in types (complex, tuple, frozenset.... are there more?). I

[2021-06-06 16:36] attack68 opened #41839 "DOC: Input/Output page contains only input functions"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/dev/reference/io.html#html

#### Documentation problem

The title is Input/Output but all linked methods are `read_xyz()`, and there is little if any reference to any `write_xyz()` or `to_xyzz methods.

#### Suggested fix for documentation

Perform a review and enure all input/output methods are referenced on the page.

[2021-06-06 16:56] jbrockmendel commented on #40397
Is this closable?

[2021-06-06 16:58] jbrockmendel commented on #41704
PR would be welcome

[2021-06-06 17:05] jbrockmendel commented on #41617
This should be fixed by defining `__array_priority` on `BaseOffset`.  PR would be welcome.

[2021-06-06 17:13] jbrockmendel commented on #41588
@simonjayhawkins spitballing here could this be related to cache_readonly not being understood as property-like?

[2021-06-06 17:21] jbrockmendel commented on #40721
can you profile it to see where the hotspot is?

[2021-06-06 17:34] jbrockmendel commented on #40322
@mwaskom thanks for taking the time.  A couple of questions to make sure i understand correctly

1) The title says "and maybe DataFrame", but the discussion looks to be all about GroupBy.  Is the DataFrame bit a "and in principle this could also apply to" thing, or is there part of the discussion I missed?

2) The basic version of this is basically just asking for an aesthetically nice alias to `_

[2021-06-06 17:37] jbrockmendel commented on #39921
I'm not 100% clear on the desired end-result.  Is this similar to #11723?

[2021-06-06 17:38] jbrockmendel commented on #39746
cc @TomAugspurger i think the OP meant to tag you

[2021-06-06 17:42] jbrockmendel commented on #39499
@martindurant not sure if this is a pandas issue or fastparquet or something else?

[2021-06-06 17:45] jbrockmendel commented on #38918
@meizy the trouble with this approach is that Categoricals encode missing values with `-1`.  There has been some discussion of changing that, but implementation is not at all trivial.

[2021-06-06 17:46] jbrockmendel commented on #38229
similar to #40322

[2021-06-06 17:48] jbrockmendel commented on #37939
you shouldn't need to pass the whole path, e.g. just `pandas/tests/...` instead of `/Users/esc/...`

[2021-06-06 18:16] martindurant commented on #39499
OK, there are a few things here.

- the default compression in fastparquet is in fact none. When called from pandas, though, it's snappy (because they wanted to choose one of the two defaults to go with), causing the problem. I don't believe arrow uses python-snappy, so that can compress without it. Note that the newest fastparquet now has a hard dependency on cramjam, which includes snappy, so it

[2021-06-06 18:31] mdhsieh commented on #38627
I can make suggested changes from the closed pull request.

[2021-06-06 18:31] mdhsieh commented on #38627
take

[2021-06-06 19:47] jbrockmendel commented on #41468
It is much easier to help you troubleshoot if you provide a copy-pasteable example (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

When posting cProfile output please sort by cumulative-time.

[2021-06-06 19:51] jbrockmendel commented on #39967
PR would be welcome.

[2021-06-06 19:53] jbrockmendel commented on #37484
Looks like a fairly simple fix to call index.strftime at [the appropriate place tbd] within to_csv

[2021-06-06 22:58] avibrazil opened #41843 "BUG: `tseries.offsets.MonthEnd` is leaving out full 24h of period"
#### Code Sample, a copy-pastable example

[code]

`MonthEnd` gets me the first second of the last day, while I was expecting the last second of the last day of month (`Timestamp('2021-05-31 23:59:59')`). This yields strange consequences as showed below.

#### A consequence of unexpected behavior

When using `resample('M').ffil()l` to get the last known value for a month, data for the last 24h of

[2021-06-06 23:04] gansel51 commented on #41839
See linked PR.

[2021-06-07 00:40] mwaskom commented on #40322
No we haven't really discussed whether it should be a `DataFrame` method too, but in principle the same arguments for (and against) would apply, and IMO things are more predictable if `DataFrame` and `DataFrameGroupBy` have the same methods in situations where they make sense on both classes.

Yes, others are excited about using a method (v.s. index operator) to allow more elaborate (overlapping a

[2021-06-07 00:41] trevor-pope commented on #19254
"What happens if multimodal?"

Why not all of them? It could just be an argument to the function.

`keep='raise'` could raise a warning, `keep='smallest'` or `keep='largest'` returns the smallest/largest, etc.

Something like `df.groupby('col').mode(keep='all')` will give all modes as a list (if a category is multimodal, thus making the resulting dtype `object`). This might run into efficiency con

[2021-06-07 03:50] rhshadrach commented on #40322
One might also consider how black treats method chaining. Running with black version 21.5b2 on

[code]

results in

[code]

In my opinion this is an undesirable result - the subsetting of columns should be on its own line, otherwise it is easy to miss when glancing at the code. However perhaps this is an upstream (black) issue.

[2021-06-07 04:57] meizy commented on #38918
@jbrockmendel thanks. While maybe not elegant, -1 can continue to be a special value even if moving to uint. Sort of pre-existing category representing missing values. I admit I'm not familiar with this code. What do you think?

[2021-06-07 05:38] davidwales opened #41847 "BUG: Unable to create DateOffset from two dates"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

I'm trying to replicate the behaviour of `dateutil.relativedelta.relativedelta` using pandas `DateOffset`.
With regular Python

[2021-06-07 06:18] mocquin opened #41848 "ENH: Specify how pandas infers dtype on objects"
Hello there
#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]
Context : I am creating a package to handle physical units (yes, another one), and I started working on the pandas interface implementation. I looked into pandas extension page, as well as what `pint` did with `pint-pandas`. I am p

[2021-06-07 08:32] michaelneururer commented on #41351
Hi, yes sorry. I wrote the code but I haven't built pandas from source yet to run the tests... will get to it this week.

[2021-06-07 10:20] jorisvandenbossche commented on #41815
Setuptools (`pkg_resources`) is not a required dependency, only an optional one when using plotting backends (it's not even needed when using the default matplotlib backend).
So I don't think we should list it as required dependency.

Somewhat a separate issue from listing setuptools as dependency or not, but I think we should indeed look into replacing `pkg_resources` (probably easier to do once

[2021-06-07 12:23] jorisvandenbossche commented on #35169
One aspect that @simonjayhawkins raised while finalizing the implementation in https://github.com/pandas-dev/pandas/pull/39908 (https://github.com/pandas-dev/pandas/pull/39908#issuecomment-855220886) is the use of a parametrized dtype (`StringDtype(storage="python"|"pyarrow")`, with each parametrization using its own specialized array class) versus having a single dtype / array class (with having