[2020-05-24 17:16] hwalinga commented on #21651
This runs fine on the current master. So I think this can be closed.

[2020-05-24 17:52] Denisolt commented on #34298
Oh I see, this is awesome!
Thank you for the insights, I will close the issue!

[2020-05-24 17:52] #34298 closed

[2020-05-24 18:06] jreback commented on #21651
if you would like to see if we have a test for this or can add one would be great

[2020-05-24 21:51] bergkvist opened #34356 "BUG: int64 and uint64 values converted to float64 when concatenated"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

The output datatype becomes float when the input datatypes are different integer types.

Since there are no NaN-values

[2020-05-24 21:57] bergkvist commented on #34356
For reference, with int8 and uint8:
[code]
Output:
[code]

[2020-05-24 22:06] phofl opened #34357 "BUG:"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-24 22:20] phofl commented on #22818
What should we do here? I think raising an error is not a good option here, because the suffixes are generated on the fly and should work independent from existing column names. Should we add an additional suffix to the new column or should we use another letter (like `z`) if there is already a column name which would equal a auto generated column name?

[2020-05-24 22:23] bergkvist opened #34358 "BUG: reset_index() and set_index() expands uint32 to uint64"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
When using reset_index() or set_index(), the datatype of the affected array is expanded from u

[2020-05-24 22:29] bergkvist commented on #34358
Related issues:
 - https://github.com/pandas-dev/pandas/issues/30517
 - https://github.com/pandas-dev/pandas/issues/34304

Related PRs:
 - https://github.com/pandas-dev/pandas/pull/27370

[2020-05-24 22:35] jreback commented on #34358
as you have noted this is a duplicate

we do not have a Uint32 index and this is the best that can be done now

[2020-05-24 22:36] #34358 closed

[2020-05-25 02:21] dgun-y opened #34359 "BUG: inplace parameter will not perform the operation in place on multi column-sliced DataFrame"
Environment: Python 3.7.7 / NumPy 1.18.4 / Pandas 1.0.3

I have been testing the `inplace=True` parameters for a couple of functions, including `DataFrame.fillna()` and `DataFrame.clip()`.
When I use the inplace parameter on a multi-column slicing of a DataFrame, it will not alter the original DataFrame.

For instance, using the simple DataFrame below,
[code]
the code
[code]
will produce
[code]
as

[2020-05-25 02:31] jdossgollin opened #34360 "ENH: Correct use of `longtable`, `label`, and `caption` with LaTeX"
#### Is your feature request related to a problem?

Currently `DataFrame.to_latex()` has a `longtable` argument, which writes the DataFrame to latex using the syntax of the longtable package. When used with the `label` and `caption` arguments, it writes a latex table with all of these features.

However, the caption and label are both placed between a `\begin{longtable}` line and `\endhead`. As a

[2020-05-25 02:47] vampypandya commented on #34356
I am a newbie here. Can I take up this issue? @bergkvist

[2020-05-25 02:56] 2bon commented on #33888
@gauravchandok ya, thx

[2020-05-25 04:12] vampypandya commented on #34356
@bergkvist This is not a bug. Try doing this.
[code]
I checked the documentation and code. The attribute **dtype** is case-sensitive.

Let me know if I have cleared the issue.

Thanks.

[2020-05-25 04:27] bergkvist commented on #34356
@vampypandya Yes, dtype is case-sensitive (all lower-case). dtype=object is used for mixed data-types that pandas does not understand internally.
[code]

[2020-05-25 05:05] elnikkis opened #34361 "BUG: Series.value_counts(normalize=True) fails with Int64Dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Traceback:
[code]

#### Problem description

An error occurd when I called `Series.value_counts(normalize = True)` with

[2020-05-25 05:55] vampypandya commented on #34356
@bergkvist
I checked the code. Here is an explanation for all cases. I am new to all this, so please let me know if I am making a mistake anywhere.

Lets see for the input:
[code]
The code snippet which handles the final dtype is the following:
[code]

Let's check for various cases.

- **Case 1:**
When dtype for both the inputs is the same (same case and same value), the final dtype is the same as

[2020-05-25 06:10] jorisvandenbossche commented on #34361
@elnikkis This has recently been fixed on master already:

[code]

But thanks for the report anyway!

[2020-05-25 06:10] #34361 closed

[2020-05-25 06:13] vampypandya commented on #34359
Please let us know all the version details as mentioned in the Github Bug documentation.

[2020-05-25 06:19] jorisvandenbossche commented on #34356
@bergkvist this is the expected behavour, according to numpy casting rules:

[code]

This is because you cannot represent all integers from int64 or uint64 as either one of those dtypes (uint64 cannot hold the negative values from int64, and int64 cannot hold the largest integers from uint64). So the only dtype that can stores all the possible values *approximately* is a float (since there is no l

[2020-05-25 06:22] vampypandya commented on #34356
@jorisvandenbossche
Could you please explain the extended dtypes or direct me to some documentation? I tried understanding the code but did not get it.

[2020-05-25 06:24] jorisvandenbossche commented on #34356
See https://pandas.pydata.org/docs/dev/development/extending.html#extension-types and https://pandas.pydata.org/docs/dev/user_guide/integer_na.html

[2020-05-25 06:25] jorisvandenbossche commented on #34356
And https://pandas.pydata.org/community/blog/extension-arrays.html

[2020-05-25 06:30] bergkvist commented on #34356
@jorisvandenbossche - If you are using integers between 2^63 and 2^64 as well as negative integers, it would probably be better to throw an error (or a warning) than to convert to float64 implicitly.

A reason for using integers is for the precision it gives, and the ability to set it as an index.

Imagine if your computer started compressing your images (lossy) when running out of space instead o

[2020-05-25 06:32] jorisvandenbossche commented on #34359
@dgun-y Currently, selecting multiple columns of a dataframe returns a copy, and not a view (and hence, the inplace is working on a copy, and not filling the original dataframe)

The basic reason is that selecting multiple columns with a list is "fancy" or "advanced" indexing in numpy's terms, which makes a copy (on the other hand, "slicing" gives a view). Now, pandas has some additional complexit

[2020-05-25 06:45] jorisvandenbossche commented on #34356
In general, both numpy and pandas tries to avoid "value-based" casting rules, meaning: depending on the actual values in the array, and not just the dtype. So in general, the casting gets decided on the dtypes: what should the combination of "int64" and "uint64" give? (regardless of whether negative or big integers are present).

There are certainly arguments for having it raise (or return object

[2020-05-25 07:11] vampypandya commented on #34357
@phofl
I am not sure of the merging method is right.
Lets see,
[code]
Try using this.
I hope so this clears the issue.

[2020-05-25 07:29] phofl commented on #34357
You are right, the merge method should be left, but the issue also occurs with `right`.

Your example is uncorrelated with mine. If you perform your merge over the index, the inconsistent behavior occurs. I know that you could your transform your data in a way that it works, but the inconsistent behavior is still there.

[2020-05-25 07:37] dgun-y commented on #34359
I suspected as much, thank you for the response.

By this, should I assume for the worst in the future, that even slices of single columns may exhibit similar behavior?

[2020-05-25 07:38] vampypandya commented on #34256
@MarcoGorelli We can create Pytest test cases, right?

[2020-05-25 07:40] jorisvandenbossche commented on #34359
No, slicing a single column will always be a view, AFAIK

[2020-05-25 07:43] dgun-y commented on #34359
Got it, thanks!

[2020-05-25 07:43] #34359 closed

[2020-05-25 07:47] MarcoGorelli commented on #34256
Yes, that's the framework pandas uses. If you'd like to work on this, please comment 'take' so the issue is assigned to you

[2020-05-25 07:48] vampypandya commented on #34256
Take

[2020-05-25 08:35] figuetbe commented on #34270
Thank you for your input. It's more clear now.

I wanted to work on views of a big DataFrame to optimize my memory ([CF my SO post](https://stackoverflow.com/questions/61916923/how-to-optimize-pandas-dataframes-slices-copies)), but I guess I will have to stick to copies instead.

[2020-05-25 09:36] simonjayhawkins commented on #31612
closing as duplicate

[2020-05-25 09:46] vampypandya commented on #34256
I have committed the changes. What are the next steps? I am new to Open Source Contribution. Please let me know.
@MarcoGorelli

[2020-05-25 10:46] simonjayhawkins commented on #22818
The suffixes are the defaults for the suffixes parameter for pd.merge,

https://github.com/pandas-dev/pandas/blob/08a0cb000472d1c32e4572baf894477f1f557d6b/pandas/core/reshape/merge.py#L59-L73

raising on duplicates probably makes more sense and alerts the user to pass appropriate suffixes for the problem in hand, instead of relying on the defaults.

maybe, to avoid breaking changes, we _could_ add

[2020-05-25 11:58] rangeonnicolas opened #34364 "BUG: wrong behaviour / segfaults when data from Index have been unintentionally modified"
Hello !
I discovered an unexpected behaviour while using pandas

## Code Sample
[code]
## Problem description
The 2 output that `process(df)` produces are different if `df` have been previously exported to a csv file or not.

## Expected output
[code]
## Actual output
[code]
## Mea culpa
I guess that writing `df.index = df["A"]` is a bad practice because comumn `A` is still linked to the index. So

[2020-05-25 12:40] simonjayhawkins commented on #30668
It may be worth bisecting to find which commit fixed this and what tests were added at the time.

[2020-05-25 12:41] #30668 closed

[2020-05-25 12:53] simonjayhawkins commented on #30964
That's where I think we should now be adding new content.

see also #33851 for current discussion/investigation about improving the code style docs. @Stockfoot @moaraccounts

[2020-05-25 14:09] topper-123 opened #34365 "ENH: Make DataFrame.insert more flexible"
``DataFrame.insert`` is very inflexible today and can not really be used in pipes. I'd like it to several changes to the method:

* Add a inplace parameter, so the result from the op can be returned.
* allow a callable for ``value``, so the new values can be computed from existing column values.
* allow a dict for ``value``, so the several columns can be inserted simultaneously,
* add ``insert_aft

[2020-05-25 14:45] BlueskyFR commented on #34157
@MarcoGorelli

[2020-05-25 14:54] entron commented on #33051
@jbrockmendel thanks for the comment. What would be the correct way to find the next business day which also work for days such as 1982-12-30?

[2020-05-25 16:09] jreback commented on #33300
@simonjayhawkins I would be in favor of releasing this asap. no need to wait for any other patches. the timing is orthogonal to 1.1. If really really needed / wanted could always do a 1.0.5.

The only real requirements are passing CI & ability to build wheels (which i think are satisfied).

[2020-05-25 16:10] charlesdong1991 commented on #34353
IMO, I think this is a bit out of scope for pandas, otherwise pandas is gonna have so many more kwargs so as to match with matplotlib. Right now it is using those constants which is not optimal i agree, but is enough for a lot of people to quickly get their plots. If users really want to have nice and beautiful plots, they could just use matplotlib to refine the plot.

And regarding this issue, i

[2020-05-25 16:33] manasjoshi14 commented on #34271
Along with "first()", this seems to be an issue with the remaining functions in the following class method:
https://github.com/pandas-dev/pandas/blob/3adf3340453d6704d4a2cb47058214cc697a7d29/pandas/core/groupby/groupby.py#L1335-L1339

[2020-05-25 16:47] Code4SAFrankie commented on #31957
Been too long since I been working on this so can't really verify, but closing anyway.

[2020-05-25 16:47] #31957 closed

[2020-05-25 16:51] jreback commented on #34309
I think this usecase is ok, at the very least this could unconver some lighter tested codepaths in EA subclassing (we likeley have very limited coverage of Dtype subclassing aside from our internal usage).

[2020-05-25 17:07] vijaysaimutyala commented on #30964
Thanks @simonjayhawkins. I was reading your comments on keeping the first PR's as minimal as possible and submitted my first PR that covers just urlopen and ZipFile in the style guide with https://github.com/pandas-dev/pandas/pull/34366. Hope it looks ok.

I've a question on this. I was using VS Code for editing the rst file. I noticed VS Code has the reStructuredText extension that enables to liv

[2020-05-25 17:10] simonjayhawkins commented on #33300
I think both #32479 and #33644 are ready to be merged. These can then be backported. I think backporting #33644 is important as incorrect results are being produced.

[2020-05-25 17:16] joooeey commented on #34280
I just noticed that of the two Tracebacks given in the problem description (and copied straight above), the lower one has illogical grammar. So the suggestion to rebuild the C extensions in the exception text may be intended for a different `ImportError`. In any case, rebuilding the C extensions doesn't help.

For context the relevant snippet from `pandas\__init__.py` which shows how that illogica

[2020-05-25 17:27] joooeey commented on #34280
I just tried running `python setup.py build_ext --inplace --force` which resulted in an **error**:
<details>

[code]
</details>

[2020-05-25 17:31] joooeey commented on #34280
`python setup.py build_ext --inplace -j 4` (run right after) gives more verbose output with the same error:
<details>

[code]
</details>

[2020-05-25 17:37] manasjoshi14 commented on #34271
The error occurs in the reset_cache call at :
https://github.com/pandas-dev/pandas/blob/a087f3e5858eb7213d27da30f3d832298a42eb2f/pandas/core/groupby/groupby.py#L675

which is a call to:
https://github.com/pandas-dev/pandas/blob/a087f3e5858eb7213d27da30f3d832298a42eb2f/pandas/core/base.py#L67

This seems to be too advanced for me to work on.

[2020-05-25 17:39] #32395 closed

[2020-05-25 17:59] jorisvandenbossche commented on #34311
Closed by https://github.com/pandas-dev/pandas/pull/34277

[2020-05-25 17:59] #34311 closed

[2020-05-25 18:06] jorisvandenbossche opened #34367 "REGR: frame/frame op with unaligned blocks + non-slice-like placement failing with assertion error"
[code]

cc @jbrockmendel I suppose caused by the frame-frame blockwise PR (https://github.com/pandas-dev/pandas/pull/32779), but didn't yet look into detail

Just removing the assertion seems to still work (for this case), but I don't know if that `_get_same_shape_values` functino relies on the `is_slice_like` characteristic for its implementation to be correct

[2020-05-25 18:25] jorisvandenbossche commented on #34367
And another assertion error with a slightly different case (left and right not exactly the same):

[code]

[2020-05-25 18:41] jreback commented on #33300
we can finish the second (first is already merged) but generally tiny edge cases even if a regression are not worth holding things up

[2020-05-25 18:57] jbrockmendel commented on #34367
im having hardware issues, wont be able to troubleshoot this for a few days

[2020-05-25 19:06] cyberguilletell commented on #10534
I agree with @tuhinsharma121   in my case I tried  to get  column as str that has values  like
-12 X 8

but  remove the X and get 128 and that s big issue for me
![image](https://user-images.githubusercontent.com/53447520/82837987-b6f5c880-9e98-11ea-84ef-68445038ed84.png)

**Referece**
- page : https://rensselaer.sdgnys.com/report.aspx?file=&swiscode=384000&printkey=14900000010070110000&sitetype=r

[2020-05-25 19:50] joooeey commented on #34280
I solved this by updating the Visual Studio Build Tools 2019 from 15.4.0 to 16.6.0 and running `python setup.py build_ext --inplace --force`

[2020-05-25 19:50] #34280 closed

[2020-05-25 20:06] MarcoGorelli commented on #34364
If you do
[code]
, if you do that then it should work the same in both cases. Not sure why it's different in your second case, but will look into it. When I tried running it in a Jupyter notebook book, the first example gave your same output, while the line `df.index = df["A"]` from the second one causes the notebook to restart

You too!

[2020-05-25 20:10] jorisvandenbossche commented on #10556
I have updated the branch adding a consolidation policy once again (starting from @TomAugspurger's recent rebase, see the linked commit by github above).

And with that, I experimented a bit comparing a few operations with a consolidated DataFrame vs non-consolidated DataFrame: see notebook at https://gist.github.com/jorisvandenbossche/b8ae071ab7823f7547567b1ab9d4c20c

Of course, for several opera

[2020-05-25 20:12] dhuettenmoser commented on #4607
I'd like to work on this!

[2020-05-25 20:35] OlivierLuG commented on #29547
The two files were modified:
pandas/_libs/tslibs/timedeltas.pyx
pandas/_libs/tslibs/timestamps.pyx

Note that there was no issues in the following ones. You can mark as done too:
 pandas/_libs/tslibs/c_timestamp.pyx
pandas/_libs/tslibs/frequencies.pyx
pandas/_libs/tslibs/parsing.pyx
pandas/_libs/tslibs/period.pyx
pandas/_libs/tslibs/strptime.pyx

[2020-05-25 20:50] jreback commented on #10556
@jorisvandenbossche you are missing a big issue here

just operating column wise is not a good test

you need to actually copy the original frame into single columns where the memory gets realigned; taking a view does nothing here which is effectively what you are doing

you will see massive speed ups if you get proper cache access for some times of operations

please see me original PR in non con

[2020-05-25 20:59] jorisvandenbossche commented on #10556
@jreback I am not really sure what you mean. Can you clarify a bit?

Why not? That's what we would do if we didn't have consolidation?
Of course, it's still using 2D blocks to store a 1D array, which is not ideal (so we should be able to optimize this if we actually have 1D blocks), but already doing this should give an idea about overhad of doing things column-wise.

Can you explain what you mean

[2020-05-25 21:08] rangeonnicolas commented on #34364
Very good, thanks for the reply and good luck ;)

[2020-05-25 21:13] jreback commented on #10556
see above : https://github.com/pandas-dev/pandas/issues/10556#issuecomment-143594292

you need to make really sure that ops are actually working with cache aligned data and not with just a view from a 2D array which is not aligned at all, otherwise your timings are not real

[2020-05-25 21:21] Gabriel-ROBIN commented on #34365
If I understand, this new insert would be exactly like assign ( in assign, you can pass a callable or dict of callables), the only this that assign miss is the location of the columns ( and the inplace option but not sure it is a good idea)
It would make more sense, imo, to add the location argument in assign no ?

[2020-05-25 21:21] jorisvandenbossche commented on #10556
I am still not fully clear what you are pointing to. The linked comment explains the added features in your branch (the different `policy` options, mentioning that `policy="split"` results in "proper memory layout"), but it is this branch (well, your old branch but rebased on current master) that I have been using for running the notebook.

Yes, but as far as I can see, this is the case (the Block

[2020-05-25 21:46] jbrockmendel commented on #10556
FWIW, i think the lowest-hanging fruit is to not call consolidate_inplace
in create_block_manager_from_arrays and create_block_manager_from_blocks.
Also some avoidable places like BlockManager.is_numeric_mixed_type

On Mon, May 25, 2020 at 2:21 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2020-05-25 21:47] #20927 closed

[2020-05-25 21:58] #33200 closed

[2020-05-25 21:58] #33569 closed

[2020-05-25 21:58] jreback commented on #33300
@simonjayhawkins remaining issues are merged.

[2020-05-25 22:07] #26989 closed

[2020-05-25 22:17] jbrockmendel commented on #34348
I've seen these same 3 failures for a while on a headless ubuntu machine, had assumed it was because of the "headless" part, but hooked up a monitor today and find they're still failing.

@datapythonista IIRC there was some env variable in the test config that requires special treatment?

[2020-05-25 22:21] jreback commented on #34365
yes this *could* have an `inplace` parameter as its like `update`, but we haven't changed that either so changing both would be ok for consistency (though we should simply deprecate `inplace` anyhow), so -0 on making this change

+0

-1, not sure more methods make sense

-0 not sure this adds much value

-100, we already have a method to do this, don't think adding `.insert` here is appropriate, r

[2020-05-25 22:24] jorisvandenbossche commented on #34365
@topper-123 I think some of the functionalities you mention would be interesting, but I also wondering why we would make `insert` the "go-to" method for adding columns, rather than using `asign` for this?
Apart from the insertion location, what is it that `assign` is missing? (we could also try to improve `assign` then)

[2020-05-25 22:30] jorisvandenbossche commented on #34309
For your use case, is it only the "name" of the dtype you want to change (not any of its functionality?)

[2020-05-25 22:35] jbrockmendel opened #34373 "BUG: test_finalize.py tests failing on master with pytest-randomly"
On Ubuntu18 im seeing a variable number of tests in test_binops failing with empty `.attrs`

cc @TomAugspurger

[2020-05-25 22:43] jreback commented on #33420
closing as this is the expected behavior, the levels ordering is an internal impl detail.

[2020-05-25 22:43] #33420 closed

[2020-05-25 22:56] jreback commented on #24798
@simonjayhawkins see if the refs on the checkboxes above make sense.

[2020-05-25 23:34] topper-123 commented on #34365
@jreback , yeah I don't like the inplace param in general either, though in cases where it makes sense to keep I'm positive to keep it (e.g. for performance reasons).

I do think piping is a great concept when transforming data and should be encouraged. I would like insert to have ``inplace=False`` as default, but that would break backwards compat, so not possible in ``insert``, sadly.

The point

[2020-05-26 00:22] bergkvist commented on #34356
An alternative to converting to float could be to drop support for the uint64-type (who needs integer numbers between 2**63 and 2**64 anyways?)

Allowing only: uint8, int8, uint16, int16, uint32, int32, int64 would allow for well-behaved dtype-merging for all integer-types.

The reason I personally ended up with a uint64, is that pandas does not support uint32-indices (nor int32-indices for that m

[2020-05-26 00:26] bergkvist commented on #34358
What about expanding `uint32` to `int64` instead of `uint64`? That would solve my problem here: https://github.com/pandas-dev/pandas/issues/34356

[2020-05-26 01:31] aschonfeld opened #34376 "DOC: Add D-Tale to Visualizations section of Pandas Ecosystem"
#### Location of the documentation

[Pandas Ecosystem - Visualization](https://pandas.pydata.org/docs/ecosystem.html#visualization)

#### Documentation problem

This isn't a problem, just a suggestion for improving the current ecosystem listing.

#### Suggested fix for documentation

[D-Tale](https://github.com/man-group/dtale) is a open-source tool for visualizing pandas data structures and it ha

[2020-05-26 02:59] raphacosta27 commented on #34327
Hi there, is this issue still open? If so, I`d like to take it.

[2020-05-26 03:05] raphacosta27 commented on #34188
Hi there, is this issue still open? If so, I`d like to try to solve it.

[2020-05-26 03:22] #33503 closed

[2020-05-26 04:24] pedrooa commented on #34318
Can i work on this?

[2020-05-26 05:19] xuancong84 commented on #28302
WORKAROUND: use base= instead of loffset= in pd.Grouper, developer's implementation and documentation are still pending.

Ideally, there needs to be 3 parameters, loffset (label_offset, default=0, the starting boundary offset of every group label), gstart (group_start, default=loffset, the starting offset of every group's data) and gspan (group_span, default=1, the span of every group's data).

Fo

[2020-05-26 06:13] jorisvandenbossche commented on #34318
@pedrooa Sure, that would be very welcome!

[2020-05-26 06:14] jesrael opened #34380 "BUG:"
From [SO](https://stackoverflow.com/q/62015410/2901002):
---

After specified column after groupby outpu tis incorrect.

    df = pd.DataFrame({'token': [12345.0, 12345.0, 12345.0, 12345.0, 12345.0, 12345.0, 6789.0, 6789.0, 6789.0, 6789.0, 6789.0, 6789.0], 'name': ['abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz'], 'ltp': [2.0, 5.0, 3.0, 9.0, 5.0, 16.0, 1.0, 5.0,

[2020-05-26 06:25] jorisvandenbossche commented on #34356
I think we should then rather try to allow for lower-bit dtypes as indices, than prohibit uint64 because of that. Feel free to open an issue specifically about that (if there is not yet one).

I suppose because it preserves the "unsigned" aspect of it?

[2020-05-26 06:27] jorisvandenbossche commented on #34356
@bergkvist I am going to close this because the original issue (concatenating int64 and uint64 giving float64) is not something we are going to change (that discussion needs to happen in numpy, which there also already has been some).

But we can certainly further discuss the usability problems regarding unsigned integers in pandas, like the indexing you mentioned.

[2020-05-26 06:27] #34356 closed

[2020-05-26 06:49] gurukiran07 commented on #34380
Yes, agreed. Instead of producing wrong results, it should raise a **`ValueError`** or **`TypeError`**.  The values of the previous aggregation are overwritten by the latest aggregated values.

Minimum reproducible example.

[code]

This should raise an error or should be specified in the documentation explicitly about this behaviour, this can be a common pitfall for beginners.

[2020-05-26 07:10] jorisvandenbossche commented on #10534
@tuhinsharma121 That seems like a bug (the returned values are strings, but indeed should not remove the ","). Could you open a new issue for that?

[2020-05-26 07:38] datapythonista commented on #34348
Those tests need a clipboard mechanism to run. We used to skip them if the clipboard was failing, but this caused the tests often being skipped unintentionally when things were failing.

I don't think this is a bug. In the same way that it shouldn't be a bug if you run the tests for a database, but you don't have the database installed.

The way to make them work is to have a clipboard in the syst

[2020-05-26 07:50] meteoDaniel opened #34381 "BUG: pd.tseries.frequencies.to_offset() does not really provide a DateOffset object"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprod

[2020-05-26 08:20] gurukiran07 commented on #34380
#### `More weird result:`
Using the same dataframe from the above-mentioned comment. **`pd.NamedAgg`** over Series produces some weird results.
[code]
`2.2` is the max value of `'change'` column(group key is `'abc'`)
`4.0` is the max value of `'change'` column(group key is `'xyz'`)
I would expect it to raise an error saying **`KeyError: "Column 'ltp' does not exist!"`**. Instead it produces result

[2020-05-26 08:22] joooeey commented on #32882
In #34280 I solved a similar error by re-installing the C-compiler and then running

`python setup.py build_ext --inplace --force`

Maybe that works here too?

[2020-05-26 08:51] gurukiran07 commented on #34380
I guess the problem is when using with **`pd.Series`**

Minimum reproducible example:

[code]
I expected it to raise `KeyError` or `ValueError` here.

The values of previous column are over-written when same column same is specified in `pd.NamedAgg`

[code]
When different column names are provided it doesn't over-write.
[code]
When previous aggregation values are overwritten when the same column n

[2020-05-26 09:18] psteinb opened #34383 "DOC: Indexing and selecting data and the use of mask/where"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#evaluation-order-matters

#### Documentation problem

The documentation talks about how **not** to use `dfb['c'][dfb['a'].str.startswith('o')] = 42` for assignment of multiple values to a `pandas.Series` or `pandas.DataFrame` column. it does however fail to make a concrete suggestion how to do

[2020-05-26 09:56] simonjayhawkins commented on #33300
backported.

TestToGBQIntegrationWithServiceAccountKeyPath failures on 1.0.x ci, otherwise green.

I noticed an extant lint error while backporting and included in #34369. github actions is not run on the 1.0.x branch. is this a blocker?

[2020-05-26 10:30] clbarnes commented on #8745
Think I'm taking this on, should be able to have a go tomorrow. For the sake of symmetry, I'd also like to give Categorical a `to_dummies`. If we go down that route, it might be nice to eventually deprecate the `get_dummies` free function so as to keep categorical-related functionality on the Categorical class and not duplicate API surface.

Also just to check - strictly, dummy variables are of fl

[2020-05-26 11:23] TomAugspurger commented on #34373
This is on CI or just locally? Any tracebacks you can share?

[2020-05-26 11:29] TomAugspurger commented on #8745
Why do you say they're float dtype?

[code]

[2020-05-26 11:44] clbarnes commented on #8745
I just had a look through some docs and it looked like the term "dummy variable" is used mainly in regression, in cases where you have a categorical variable but need to encode it as continuous (i.e. floating) for the purposes of that regression. The term "one-hot encoding" seems more commonly used in applications which deals in actual booleans. For both of them, the information itself is binary,

[2020-05-26 12:22] adbull commented on #32976
Also seeing this bug. A faster work-around seems to be to use merge/drop_duplicates:

[code]

[2020-05-26 12:22] matteosantama commented on #34348
My understanding of the problem is that pyperclip tries to determine which machine you are running, so it can access the proper clipboard mechanism. The code does not recognize my Docker container as a Mac, so it falls back on assuming its Linux. But there is no DISPLAY environment variable set, which reports an error somewhere in the copy/paste process. So even if I install xclip, it doesn't run

[2020-05-26 12:45] TomAugspurger commented on #8745
In my experience "one-hot encoding" and "dummy variables" are synonymous.

[2020-05-26 12:51] MarcoGorelli commented on #8745
Seems the [scikit-learn](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) docs would agree

[2020-05-26 12:52] TomAugspurger commented on #34383
We do have suggestions starting with "This is the correct access method:" though. Does that suffice?

If you're looking to provide a recommendation for this specific example then I'd recommend

[code]

I think that using `.loc` is more common than `.mask.` We'd welcome a PR with that.

[2020-05-26 12:57] MarcoGorelli commented on #34380
Many thanks for the report

I'll test this out this evening, but I'd like to think it'd be solved by this PR: #30858 - will update later when I've tried

[2020-05-26 12:59] franasa commented on #32667
thumbs up for this enhancement to the docs. l landed here looking exactly for that https://github.com/pandas-dev/pandas/blob/3adf3340453d6704d4a2cb47058214cc697a7d29/pandas/core/frame.py#L1996-L2024

[2020-05-26 13:00] najann commented on #34305
If you don't mind I'll give it a try :)

[2020-05-26 13:00] najann commented on #34305
take

[2020-05-26 13:01] psteinb commented on #34383
Indeed, I see "This is the correct access method:", but the example that follows does a single-item assignment that the previous example doesn't exhibit. This leaves learners out in the open and wandering off to stackoverflow. My suggestion is to fix that.

I'm happy to contribute the `df.loc[mask, 'c'] = 42` inspired example as you recommend. I don't endorse this API too much, but that is more a

[2020-05-26 13:04] jreback opened #34384 "TST: use ensure_clean rather than explicit os.remove"
[code]

we should also create a rule in code_checks.sh to avoid doing this in the future

[2020-05-26 13:07] #4607 closed

[2020-05-26 13:25] jnecus commented on #34384
take

[2020-05-26 13:34] RauliRuohonen commented on #34186
Ach, it does work on [current master](https://github.com/pandas-dev/pandas/commit/75c0e246b74fe17161fe089c6a64df41076f2a75). Bisecting, it works on [dafec63](https://github.com/pandas-dev/pandas/commit/dafec63f2e138d0451dae5b37edea2e83f9adc8a) but not on [9e69040](https://github.com/pandas-dev/pandas/commit/9e69040f199266cd7a743dfd2f579f271337687f), so it was fixed by the [dafec63](https://github.

[2020-05-26 13:44] TomAugspurger commented on #34186
Thanks for confirming where it was fixed.

I think the whatsnew is related. datetime.datetime objects can hold larger values than Timestamp. @RauliRuohonen if you're interested you could amend the release note saying that this fix may avoid OUtOfBoundsDatetime exceptions.

[2020-05-26 13:44] #34186 closed

[2020-05-26 14:10] TomAugspurger commented on #34177
In general I'd recommend moving away from `_metadata` and instead using `.attrs`.

By differeing attrs I mean  different keys, or perhaps the same keys but different values. I think eventually we'll want a system to decide how to propagate the attrs in that case, but I'm not sure yet what that should look like.

[2020-05-26 14:19] jbrockmendel commented on #34373
Just locally

[code]

[2020-05-26 14:21] jbrockmendel commented on #34373
It looks like i have (had) pytest-randomly installed on this machine.  Removing it fixes these failures.  So it looks like there's some global state somewhere

[2020-05-26 14:24] jbrockmendel commented on #34381
Why would you expect this?  the `DateOffset` class is _way_ less efficient than the `Minute` or `Second` class.

[2020-05-26 14:58] datapythonista commented on #34348
You can try `DISPLAY=:0`. But `DISPLAY` is automatically set by the X server when it's working. I have no idea about Mac, but in Linux, if it's not set, it likely means that you don't have an X server available.

[2020-05-26 15:01] iyer opened #34388 "BUG: pd.DataFrame.add() does not broadcast across levels, when level is None"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-26 15:10] LucasG0 commented on #29928
I submitted a PR for the author issue.

About janheindejong issues,

This may be a dupe of #4889, MultiIndex Dataframes and Series do not seem to be handled by `read_json(orient='split')`.

`orient='table'` does not support MultiIndex columns on Dataframes.

[2020-05-26 15:27] jbrockmendel commented on #34348
[code]

This is on Ubuntu desktop

[2020-05-26 15:32] matteosantama commented on #34348
Thanks guys, unfortunately that doesn't work for me. I went back to the Contributing to Pandas documentation and I don't see the section on setting up a development environment in Docker anymore. This is probably more trouble than it's worth, so I'm OK closing this ticket.

[2020-05-26 16:12] OlivierLuG commented on #29547
I've went through the topic to update the list + check some files.

Files marked as done without any commit
---
(no need to change anything):
* [x] pandas/_config/config.py
* [x] pandas/_version.py
* [x] pandas/compat/pickle_compat.py
* [x] pandas/core/computation/pytables.py
* [x] pandas/core/indexes/base.py
* [x] pandas/core/indexes/multi.py
* [x] pandas/core/indexes/range.py
* [x] pandas/core/o

[2020-05-26 16:31] cpaulik opened #34390 "BUG: Result of rolling mean depends on more observations than are in window"
#### Code Sample, a copy-pastable example

[code]

##### Output

[code]

#### Problem description

The rolling mean in the example should only take the last 20 values into account. The output for the last day `2020-05-02` does however depend on the inclusion of a value on `2020-03-24`.

This is especially visible if we round the output to the 4 digit precision that the input data has.

#### Expect

[2020-05-26 16:44] TomAugspurger commented on #34114
FWIW this is reproducible in the manylinux1_x86_64 docker file.

[code]

I don't really see any differences in the generated C code.

[2020-05-26 17:28] sbrugman commented on #34309
For this use case it is simply aliasing indeed. The changed dtype is used to indicate more expensive prework (such as validating all items are urls). The most natural extension to this is adding accessors to the alias (`series.url.query`, `series.url.domain`, etc.).

[2020-05-26 17:56] jorisvandenbossche commented on #34309
But so that is not a simple alias. As the string dtype subclass will not further keep this guarantee once you do something with the dataframe / dtype.

[2020-05-26 18:20] TomAugspurger commented on #34376
@aschonfeld that sounds fine, can you submit a PR with this?

[2020-05-26 19:06] sbrugman commented on #34309
Please correct me if I have any of this wrong but it seems to me like I want a simple mechanism to label dtypes as whatever I want, without changing the underlying storage type. From your perspective, you are looking at it instead as creating new pandas sequence types.

A good resource to provide background on the distinction are the [design documents for pandas 2.0 (2015-2016)](https://dev.pandas

[2020-05-26 19:13] jorisvandenbossche commented on #34309
I suppose we are somewhat talking past each other, as I am well aware of those design documents and logical vs storage types.

[2020-05-26 19:19] jorisvandenbossche commented on #34309
(I updated the previous comment, pressed enter too early)

[2020-05-26 19:26] TomAugspurger commented on #34309
And just to make it clear, I don't think that a subclass overriding `StringArray._validate` to do the URL validation would be appropriate. That's an internal method that we can't guarantee the stability of across releases.

[2020-05-26 19:37] TomAugspurger commented on #34114
Pretty obvious in retrospect: aee8e112c9faed31fd112072f497593b5e0fc010 is the first "bad" commit, which elevated warnings to errors. That doesn't help us identify why it's only failing with this version of gcc / whatever else matters.

[2020-05-26 19:51] jorisvandenbossche commented on #33182
Related to the mailing list discussion going on about a simplified BlockManager, where I proposed to have a "lazy" constructor (opt-in) that delays creating a BlockManager until it is actually accessed.
*If* we add some functionality like that, that could also support sparse arrays in addition to numpy arrays.

https://mail.python.org/pipermail/pandas-dev/2020-May/001228.html

[2020-05-26 20:38] moaraccounts commented on #33851
Awesome. I like the .pdf you have going. And I think you're fine using markdown (see [this](https://pandas.pydata.org/docs/development/contributing.html?highlight=sphinx#about-the-pandas-documentation)), but good to take a look at [this link](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html) which points to the reStructuredText Primer just in case. Is there anything I can he

[2020-05-26 21:03] TomAugspurger commented on #34114
There are some other warnings

[code]

[2020-05-26 21:22] TomAugspurger commented on #34390
Thanks for the report @cpaulik. Can you debug a little further by investigating the windows generated by the `Rolling`  object? You might look at `_get_window_indexer`, though I'm not too familiar with this code.

[2020-05-26 21:36] kinghuang opened #34395 "BUG: OverflowError on to_json with numbers larger than sys.maxsize"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reprodu

[2020-05-26 22:03] aschonfeld commented on #34376
@TomAugspurger here ya go #34396

[2020-05-26 22:11] matteosantama commented on #29547
I took care of `pandas/util/_validators.py`. Many of these other files already seem ok to me too.

- [x] pandas/util/_test_decorators.py
- [x] pandas/tseries/frequencies.py
- [x] pandas/tests/util/test_assert_frame_equal.py
- [x] pandas/tests/tslibs/test_parsing.py
- [x] pandas/tests/tseries/holiday/test_holiday.py
- [x] pandas/tests/tseries/holiday/test_calendar.py
- [x] pandas/tests/tools/test_t

[2020-05-26 22:15] warden706 commented on #29547
Hi Matteo,
I'm interested in helping with this effort, but am new to git and
contributing to pandas. Would you possibly be able to walk me through the
steps ? Perhaps I can setup a screen share this week?

Thanks,
Andrew

On Tue, May 26, 2020, 3:12 PM Matteo Santamaria <notifications@github.com>
wrote:

[2020-05-26 22:20] #31204 closed

[2020-05-26 22:20] matteosantama commented on #29547
Hey @warden706, I'm actually pretty new here too, so I wouldn't have much to show you. I've found [this](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) resource very helpful as I've stumbled around, you should check it out.

[2020-05-26 22:21] #34331 closed

[2020-05-26 22:52] #34297 closed

[2020-05-26 23:17] #34129 closed

[2020-05-27 01:34] daniel-raimi-zlatic commented on #32740
I also want to know if this is closed... using pandas version 1.03 I get the same error. I also cannot switch to 0.25.3 or lower (the last version in which this code worked) because I need some newer features in 1.0.1.

[2020-05-27 01:56] TomAugspurger commented on #32740
Check the milestone on the linked PR that fixed this.

[2020-05-27 03:03] arw2019 commented on #34395
I checked that this bug exists in the master version.

<details><summary><b>Output of pd.show_versions()</b></summary>
<p>

INSTALLED VERSIONS
------------------
commit           : 62c7dd3e771d5dc2921212cb363239b8f1447058
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-101-generic
Version          : #102-Ubuntu SMP Mon May 11 10:07:26 UTC 2

[2020-05-27 03:32] WillAyd commented on #34114
Do you know what Cython version that is using? What's strange to me is that taking say `(__pyx_v_k != __pyx_v_table->n_buckets)` as an example I'm fairly certain these map back to a comparison of `if k != table.n_buckets:` in the hash table file

`k` is typed to `khiter_t` which is typedef'ed from `khint_t` which is typedef'ed from `uint32_t`. `table.n_buckets` I believe is of type `khint_t`, so n

[2020-05-27 04:13] arw2019 commented on #34395
I dug a little and tracked the problem down to the version of dumps specified in `pandas._libs`. The following reproduces the same bug as above:

[code]

I'm stuck on finding the actual code for `dumps` inside `_libs`. I'm happy to keep going with this, though, if somebody can give me a prod in the right direction!

[2020-05-27 04:19] WillAyd commented on #34114
@TomAugspurger do you know how to get the generated hashtable.c file out of the container? Would be helpful to review that alone

[2020-05-27 04:24] kinghuang commented on #34395
I think the implementation comes from the embedded version of ultrajson in [pandas/_libs/src/ujson](https://github.com/pandas-dev/pandas/tree/master/pandas/_libs/src/ujson). I'm not sure how it's vendored or gets linked up, though.

[2020-05-27 04:57] arw2019 commented on #34395
Thanks!

It looks to me like the code which does the encoding is in  `pandas/_libs/src/ujson/lib/ultrajsonenc.c` and it gets linked up in `pandas/_libs/src/ujson/python/objToJSON.c`.

[2020-05-27 05:19] arw2019 commented on #34395
I guess that there is no way to fix the problem without messing with the ultrajson source code?

In `pandas/io/json/_json.py`  `dumps` is defined via a direct call to ultrajson's `dumps` method, so I think to resolve the current bug one has to make changes to ultrajson.

[code]

[2020-05-27 06:31] gurukiran07 commented on #34380
@MarcoGorelli Thank you for the reply. If the test results indicate there's a bug, I'll be more than glad to work on a PR.

[2020-05-27 06:37] MatteoFelici commented on #29547
Hi,
pretty new to contributing also here. Can I take

- [ ]  pandas/tests/io/parser/test_compression.py
- [ ]  pandas/tests/io/parser/test_encoding.py
- [ ]  pandas/tests/io/parser/test_header.py
- [ ]  pandas/tests/io/parser/test_parse_dates.py
- [ ]  pandas/tests/io/parser/test_usecols.py

?

[2020-05-27 07:59] MarcoGorelli commented on #34380
@gurukiran07 I just checkout at that PR, tried your minimal reproducible exaple above, and got
[code]
so it seems it's fixed.

I'll add a test case to explicitly use `pd.NamedAgg`

[2020-05-27 08:07] WillAyd commented on #34395
Related to #20599 this isn’t really feasible to do in the ujson source so would probably have to catch and coerce to a serializable type

[2020-05-27 08:30] cpaulik commented on #34390
I looked at the following part of pandas now https://github.com/pandas-dev/pandas/blob/master/pandas/core/window/rolling.py#L571-L577

[code]

### full_mean

[code]

### shorter mean

[code]

`func` is `<built-in function roll_mean_variable>` https://github.com/pandas-dev/pandas/blob/df5eee60d60a604969bdc3e36a0da20ea36af3f6/pandas/_libs/window/aggregations.pyx#L327

Looking at that it seems that i

[2020-05-27 08:35] gurukiran07 commented on #34380
@MarcoGorelli Good to know it's fixed. One more thing I would like to suggest.

Minimum reproducible example:
[code]

Expected Output:

[code]
Or

[code]
It works with any name given to `column`  parameter in `pd.NamedAgg` I would expect it raise **`KeyError`** or **`TypeError`**.

[2020-05-27 08:37] ishgupta opened #34403 "pandas.core.base.DataError: No numeric types to aggregate"
aggregating a boolean fields doesn't allow averaging the data column in the latest version. Is there a new alternative of doing this for boolean attributes, or it should only be handled by transforming it to a int/float only?

data[ group_fields + [ bool_field ]].groupby( group_fields ).mean() produces the error mentioned in subject.

[2020-05-27 09:17] MarcoGorelli commented on #34380
@gurukiran07  TBH it's not clear to me what the user _should_ pass as `column` in `NamedAgg` when using `SeriesGroupBy`, as there wouldn't be any columns there anyway (though if I've misunderstood, please do let me know). Are you suggesting to disallow using `NamedAgg` with `SeriesGroupBy`?

[2020-05-27 09:20] MarcoGorelli commented on #34403
Thanks for the report - to expedite resolution, could you include a reproducible example https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports ?

[2020-05-27 09:51] BlueskyFR commented on #34157
I cannot reopen this issue sadly, as I do think that this is a missing feature. I will probably make a pull request one day for this.

[2020-05-27 10:11] MarcoGorelli commented on #34157
Sorry, I thought you could - in that case, could you please a reproducible example (i.e. instead of `pd.DataFrame(some data here)`, construct the DataFrame with some data)?

Sure, go ahead, that would make it very clear what exactly you're suggesting

[2020-05-27 10:21] gurukiran07 commented on #34380
@MarcoGorelli I was trying to convey the same you understood correctly. Disallowing `NamedAgg` or raise an error when a user passes `column` parameter while using with `SeriesGroupBy`.

Something like this
[code]
Currently it raises `TypeError: __new__() missing 1 required positional argument: 'column'`

[2020-05-27 10:52] frd-glovo opened #34404 "BUG: Memory leak when calling an apply with datetime.fromtimestamp"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-27 11:49] TomAugspurger commented on #34404
@frd-glovo what output do you see? Here's mine

[code]

[2020-05-27 11:55] frd-glovo commented on #34404
There is a sustained increase in memory that does not plateau.

This is how it begins:

[code]

This is how it ends:

[code]

[2020-05-27 11:56] frd-glovo commented on #34404
What versions are you using?

[2020-05-27 11:59] TomAugspurger commented on #34404
Master, but I also checked 1.0.3 and things look fine.

Both are with numpy 1.18.4. Can you try that?

[2020-05-27 12:02] TomAugspurger commented on #34380
We document the behavior for Series in https://pandas.pydata.org/docs/user_guide/groupby.html#named-aggregation

So for SeriesGroupBy.agg, if there are any tuples or `NamedAgg` present in kwargs then I think we should raise.

[2020-05-27 12:06] frd-glovo commented on #34404
Yes, it's numpy's version. With numpy==1.18.4 this is the output (and stays the same)
[code]

[2020-05-27 12:43] #21090 closed

[2020-05-27 12:43] #32579 closed

[2020-05-27 12:46] gurukiran07 commented on #34380
@TomAugspurger Thank you for the reply. Yes, raising an error would much better and consistent for `SeriesGroupBy.agg`. When there's no column for `SeriesGroupBy` but still `NamedAgg` accepting `column` as a parameter is looks glitchy and it works with whatever argument given.

I totally agree with this.

 Changing how agg of [SeriesGroupBy](https://github.com/pandas-dev/pandas/blob/master/pandas/

[2020-05-27 12:55] jreback opened #34405 "DOC: add link to benchmarks page in Development docs"
link is: https://pandas.pydata.org/speed/pandas/#/
also could add somewhere: https://github.com/pandas-dev/pandas/blob/master/README.md

[2020-05-27 12:56] TomAugspurger commented on #34380
NamedAgg is just a namedtuple. There’s nothing to be done there. The problem is solely in SerisGroupBy

[2020-05-27 13:09] TomAugspurger commented on #34404
Thanks for following up.

[2020-05-27 13:09] #34404 closed

[2020-05-27 13:11] philippegr commented on #34297
Thank you very much, looking forward to 1.1!

[2020-05-27 13:29] clbarnes commented on #8745
take

[2020-05-27 13:58] avirlrma commented on #34131
take

[2020-05-27 14:03] jreback opened #34406 "PERF: asv runner is down"
see https://github.com/pandas-dev/pandas/pull/34389#issuecomment-634641337

@TomAugspurger said the asv runner has segfaulted, this is a tracking issue.

[2020-05-27 14:12] TomAugspurger commented on #33315
FWIW, I think my struggles in https://github.com/MacPython/pandas-wheels/pull/85 are a preview of what downstream packagers will face with this. Presumably those packagers are more familiar with building C/C++ code than I am, but I suspect it will still cause issues.

[2020-05-27 14:25] danhamill commented on #32740
@TomAugspurger When will these changes be released. I have never used the development version.

[2020-05-27 14:27] TomAugspurger commented on #32740
The milestone should have a targeted release date. I think it's something
like mid-June / early July.

On Wed, May 27, 2020 at 9:26 AM Daniel Hamill <notifications@github.com>
wrote:

[2020-05-27 14:33] daniel-raimi-zlatic commented on #32740
OK, thanks Tom, I am new to the formality of pull requests and milestones - but I found the PR that said the changes were slated for milestone 1.1.

[2020-05-27 14:55] eavidan commented on #20608
I have just encountered this issue as well. Indeed it seems that the following line is always reached
https://github.com/pandas-dev/pandas/blob/6d610a4d9393c0d0335267dc3252ccabb9e51e43/pandas/io/json/json.py#L644
which leads to `_try_convert_data()` as @WillAyd mentioned.

looking at `_try_convert_data()`, a work around would be to supply `read_json` with an empty dtype dictionary. this way the da

[2020-05-27 15:04] WillAyd commented on #20608
Thanks for taking a look. `convert_axes` should be unrelated. The problem should be in `_try_convert_data` which instantly converts to float and from there to integer. I'm not sure why this does it, so if you want to try your hand at a PR you might have some luck refactoring that method

[2020-05-27 16:12] noelslice commented on #29481
Same thing here with 1.0.3 but I think the skipna argument has been removed from the underlying groupby median/sum etc and missing values are just always excluded:

[code]

[2020-05-27 16:25] batterseapower commented on #28704
The other surprising consequence of this bug is that things like `df.isnull().values` give you a `float64` array instead of a `bool` array specifically when df has 0 columns (the 0 rows case works fine).

[2020-05-27 16:29] TomAugspurger opened #34410 "32-bit compat issues in MacPython/pandas-wheels"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=36222&view=logs&j=c0130b29-789d-5a3c-6978-10796a508a7f&t=e120bc6c-1f5e-5a41-8f0a-1d992cd2fbfb&l=1400

A couple classes of failures

[code]

[2020-05-27 16:30] mroeschke commented on #34390
If this is a numerical precision issue, this may be related to https://github.com/pandas-dev/pandas/issues/13254

[2020-05-27 17:02] JohanKahrstrom opened #34411 "BUG: pd.read_sql returns empty list if query has no results and chunksize is set"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [x ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to re

[2020-05-27 17:10] moaraccounts commented on #4599
I'm having trouble understanding how giving the merge copy parameter better documentation resolves this. In the [original SO question](https://stackoverflow.com/questions/18295630/how-do-i-concatenate-pandas-dataframes-without-copying-the-data), OP is using concat, not merge.

It seems like the concat copy parameter needs adjustment, as running through the example from [this](https://stackoverflow

[2020-05-27 17:14] jangorecki commented on #4599
@moaraccounts Maybe simply this issue is asking for a different thing than linked SO is about. I subscribed to this issue seeking better "merge" "copy" documentation, not a "concat" copy.

[2020-05-27 17:38] phofl opened #34412 "DOC:/USAGE: Resulting Index when merging over indices"
#### Location of the documentation

https://dev.pandas.io/docs/reference/api/pandas.DataFrame.merge.html

#### Documentation problem

There is no documentation on this case

#### Suggested fix for documentation

I'm a bit confused about the behavior here, because I don't know what to expect. When I perform the merge as shown below, I would expect that both operations return the same output.

[code

[2020-05-27 17:40] jbrockmendel opened #34413 "TST: slow test_nearest_upsample_with_limit with tzlocal"
Doing `pytest pandas/tests --skip-slow --durations=10` the top two entries are

[code]

Because this uses the tz_aware_fixture, there isn't a trivial way to add a pytest.mark.slow to this, but figuring something out may be worthwhile.

[2020-05-27 17:50] vampypandya commented on #34256
I have committed. Please check.

[2020-05-27 17:58] MarcoGorelli commented on #34380
@gurukiran07 as this would be separate, if you're interested in working on it, could you open an new issue for it?

[2020-05-27 18:16] gurukiran07 commented on #34380
@TomAugspurger and @MarcoGorelli  Yes I would be more than glad to work on it, I identified where the changes can be made so that an Error can be raised when `kwargs` are `NamedAgg` or `tuples`.

Adding some additional constraints in can here solve the issue [groupby/generic.py](https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/generic.py#L237).

I'll open a new issue and will s

[2020-05-27 18:21] arw2019 commented on #34395
@WillAyd  Thanks for this!

Reading through that thread it seems like a solution to this issue would be to wrap ultrajson's `dumps` and catch the `OverflowError` inside `pandas/io/json/_json.py`.

So, instead of:
[code]
we would do something like this:
[code]
This fixes the original error. I checked that with this change the code still passes the unit test in  `pandas/tests/io/json/test_ujson.py`

[2020-05-27 18:23] TomAugspurger commented on #34114
Repurposing this issue for the 32-bit specific build issues now. I've updated the original post.

@WillAyd I think you're correct in https://github.com/pandas-dev/pandas/issues/34114#issuecomment-634407198. I've uploaded the generated hashtable.c file to https://gist.github.com/TomAugspurger/1f60b2059a103e6d36c02a0d07200e59

[2020-05-27 18:28] #34376 closed

[2020-05-27 18:35] TomAugspurger commented on #34114
In `_libs/src/khash/khash.h` we have

[code]

So `n_buckets` is `khint_t`, which is

[code]

In `hashtable_func_helper.pxi.in`, we have

[code]

So is `khint_t` unisgned and `Py_ssize_t` is signed?

[2020-05-27 18:53] TomAugspurger commented on #34114
May have fixed the hashtable issues by defining `k` as `khiter_t`. Some more failures after that.

[code]

[2020-05-27 19:03] jbrockmendel commented on #34348
I solved this locally with `sudo apt-get install xsel`. @matteosantama is this viable for your use case?

[2020-05-27 19:06] brandon-b-miller opened #34415 "BUG: String series cat produces NaNs when left operand has a custom index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Possibly related to https://github.com/pandas-dev/pandas/issues/33425. The trigger for this bu

[2020-05-27 19:08] WillAyd commented on #34114
Nice! I think that change is consistent with other areas in hashing as well.

For the parsing issue *might* be easiest to just make that signed

Sent from my iPhone

[2020-05-27 19:12] TomAugspurger commented on #34114
Another one :)

[code]

[2020-05-27 19:12] phofl commented on #31007
@simonjayhawkins That has actually a different origin. The `rolling` function transforms the `DataFrameGroupBy` into a `RollingGroupBy` object, which has a completly different aggregate function. The  `RollingGroupBy` object stores the `as_index` flag under `obj._groupby.as_index`. The flag is never accessed. So the code execution is independent of this flag when using rolling with aggregate.

[2020-05-27 19:16] WillAyd commented on #34114
Guessing from phone but if those are compared to unsigned integers than probably want to add a U or UL Suffix to the constants

Sent from my iPhone

[2020-05-27 19:21] TomAugspurger commented on #34415
I think that's deliberate. `.str.cat` aligns before catting.

[2020-05-27 19:24] brandon-b-miller commented on #34415
Thanks for the clarification @TomAugspurger it indeed works if both operands have the same index. This looks to be an issue on our side!

[2020-05-27 19:24] #34415 closed

[2020-05-27 19:26] matteosantama commented on #34348
@jbrockmendel sadly no, but thanks. I think my particular set-up falls right in the weak spot of pyperclip. It's not quite a Linux and its not quite a Mac. I'm probably gonna move on from Docker, its a bit of a pain.

[2020-05-27 19:26] #34348 closed

[2020-05-27 20:02] dsaxton commented on #34413
This test came up here https://github.com/pandas-dev/pandas/issues/34131 and @jreback pointed out that it's resampling at probably too fine a frequency

[2020-05-27 20:24] jbrockmendel commented on #34413
That and tzlocal is just slower than everything else in general.  (ive got a branch implementing a cython equivalent i need to circle back to)

Could do something like:

[code]

[2020-05-27 20:24] dsaxton commented on #34403
I think this should be fixed after https://github.com/pandas-dev/pandas/pull/34056

[2020-05-27 20:31] jreback commented on #34413
no easiest way is simple to split it into 2 tests and not try to upsample 1ms to 1y

[2020-05-27 21:17] phofl commented on #34388
The line catching the None case was introduced by #31676

cc @jbrockmendel

[2020-05-27 23:11] gabrielvf1 commented on #34037
I was looking for a fix on this issue and i realize that doesnt matter if you put arguments that are invalid inside the rolling() that wont be checked, is that normal? or should this be checked? Like:
The output of this code:
rolling(window=2,teste="teste",min_periods=1)
Is the same as this:
rolling(window=2,min_periods=1).
I think that the best way is to check if all arguments are valid, no? Is t

[2020-05-27 23:12] #34405 closed

[2020-05-27 23:18] VincentWang25 commented on #34037
This should be checked because people will input 'min_period'  intended to achieve the functionality of 'min_periods', but it cannot be achieved. If we don't have 'groupby()' method before the rolling, then it will output "TypeError: rolling() got an unexpected keyword argument 'min_period'". I think this should apply to the case here as well. In short, we need a TypeError if we input `min_period`

[2020-05-27 23:45] gabrielvf1 commented on #34037
I agree with you but lets see what @charlesdong1991 thinks just to check

[2020-05-28 02:09] WillAyd commented on #34395
Yea if you want to add a test case and submit a pull request we can go from there. Will also want to check the performance benchmarks for JSON which you’ll find more info on here

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#running-the-performance-test-suite

[2020-05-28 04:09] gurukiran07 opened #34422 "BUG: SeriesGroupBy works with any column name specified in NamedAgg"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

For `SeriesGroupBy.agg` named aggregation, it accepts any column name as mentioned in the abo

[2020-05-28 04:10] jeremyakers commented on #26551
Do you happen to know what version of Pandas will support this? I just tried this on pyarrow 0.17.1 and pandas 1.0.3 and receive the exact same error as cclienti above:

[code]

[2020-05-28 04:28] pedrooa commented on #34318
I've managed to get it to work by changing the deafult return of _handle_lowerdim_multi_index_axis0(tup) to False instead of None, and then i check it as such:
[code]

Is this a valid solution?

[2020-05-28 06:05] jorisvandenbossche commented on #34318
The problem, I think, is that `False` in principle can also be a valid result (so similar problem as with `None`).

So I think we need another way: either by raising an error and catching that in the layer above, or either with a custom object like `no_result = object()` and then `if result != no_result: return result`

[2020-05-28 06:39] jorisvandenbossche commented on #26551
@jeremyakers because the additional keywords are passed through, it should actually already work with released pandas 1.0.3.
But, for activating the row group filtering, you will need to manually activate the "new" pyarrow reader (it will become the default in the future, but for now still opt in). As a small example, with a dummy dataframe:

[code]

So the trick here is to specify `use_legacy_dat

[2020-05-28 08:29] simonjayhawkins commented on #33300
@TomAugspurger

I'm using a Windows laptop and so cannot run the scripts out-of-the-box.

Have been making progress over the last couple of days and can probably start the release process.

I'm not in a position to improve the release scripts to work with Windows at this time since I'm on a slow metered mobile connection and this makes doing things from scratch to test things impracticable. i.e. b

[2020-05-28 09:02] MarcoGorelli commented on #34422
Thanks - if you like to work on this, please comment 'take' so the issue is assigned to you

[2020-05-28 09:09] gurukiran07 commented on #34422
take

[2020-05-28 09:25] mojones commented on #25412
For reference, we get the same effect if the column is present in both dataframes, but the categories themselves are different:

[code]

[2020-05-28 11:07] MarcoGorelli opened #34427 "CLN: is pandas/tests/data used?"
In `pandas/tests/data` there are two files:
[code]
Both of these files are also in `pandas/tests/io/data/csv`.

Do they need to be in both places? If not, can they be removed from one of them?

[2020-05-28 11:13] TomAugspurger commented on #33300
Mmm OK.

[2020-05-28 11:27] avirlrma commented on #34326
Hey,
Can I take this up?

[2020-05-28 11:53] JohanKahrstrom commented on #34411
PR raised which addresses this bug.

[2020-05-28 12:32] simonjayhawkins commented on #33300
ac44c5de19c018a06d5345e800235bcb645cc842 hopefully should be the last commit before tag.

[2020-05-28 12:35] simonjayhawkins commented on #33300
@TomAugspurger

from the release docs

for previous releases there are three assets. are the other two created automatically?

[2020-05-28 12:45] TomAugspurger commented on #33300
Yeah, github makes those.

[2020-05-28 13:07] PiotrBenedysiuk opened #34431 "BUG: pandas.to_sql raises unexpected column error if data contains -numpy.inf"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

I'd expect consistent behaviour between `numpy.inf` and `-numpy.inf`. Raising ProgrammingError

[2020-05-28 14:31] DanBasson commented on #29547
i'm also new here.
i'll take
- [ ] pandas/tests/series/indexing/test_numeric.py
- [ ] pandas/tests/series/indexing/test_take.py
- [ ] pandas/tests/series/indexing/test_where.py

i have a question regarding the code change.
for instance, in pandas/tests/series/indexing/test_take.py, snippet of the code:

[code]

so my suggestion is to replace it to:

[code]

is that good enough?

[2020-05-28 14:33] jeremyakers commented on #26551
Thank you for the detailed response.

I had actually tried adding `use_legacy_dataset=False` but I received the below exception. I'm also using awswrangler (Which is built on top of Pandas) so perhaps it's not passing through the option?

[code]

[2020-05-28 14:43] najann commented on #34427
<img width="1440" alt="output_duplicate_files" src="https://user-images.githubusercontent.com/47032941/83154865-ec045400-a100-11ea-9617-a7622baa5e70.png">

Apparently, `iris.csv` is only needed in `pandas/tests/data`.
However, I'm not sure about `tips.csv`: It is definitely accessed in `pandas/tests/data`, too. There is no direct reference to the file in `pandas/tests/io/data/csv` but to the one i

[2020-05-28 15:38] MarcoGorelli commented on #34353
True - OK, let's just go with making the figure in that issue larger

[2020-05-28 15:38] #34353 closed

[2020-05-28 15:39] MarcoGorelli commented on #33114
duplicate of #33654

[2020-05-28 15:39] #33114 closed

[2020-05-28 15:40] cpaulik commented on #34390
Yes the improved algorithm in #13254 might solve this problem.

[2020-05-28 15:44] jorisvandenbossche commented on #26551
Probably, I am not familiar with awswrangler. But from looking into their code quickly (https://github.com/awslabs/aws-data-wrangler/blob/57b613346f2aaecd1e05ae39647fa1dc69b0711b/awswrangler/s3.py#L1684), it doesn't seem compatible with using `use_legacy_dataset` unfortunately.

[2020-05-28 16:39] mroeschke commented on #34390
Thanks for the report. We can continue the discussion at #13254, and I'll close this issue out.

[2020-05-28 16:39] #34390 closed

[2020-05-28 16:40] TomAugspurger commented on #34403
Sounds like it. Let us know if it's not fixed by #34056 @ishgupta.

[2020-05-28 16:40] #34403 closed

[2020-05-28 17:08] #30429 closed

[2020-05-28 17:17] #28980 closed

[2020-05-28 17:19] #34367 closed

[2020-05-28 18:09] jakirkham commented on #34244
One other observation is if a column is represented with many small NumPy arrays, this will be true of the pickled form as well. During unpickling would Pandas keep the small NumPy arrays or would it consolidate them into a single one?

[2020-05-28 18:49] simonjayhawkins commented on #33300
@TomAugspurger

scripts\conda-forge.sh is failing with

[code]

i've had a few git related issues so far.

I think it's because it's in the conda environment

if I remove it, conda-forge.sh reinstalls it.

will try the wheels next and i'll come back to this. either maybe you can do the conda stuff or I could try building a docker container to do this step.

[2020-05-28 18:55] simonjayhawkins commented on #33300
maybe worked on re-run https://github.com/conda-forge/pandas-feedstock/pull/81

[2020-05-28 19:02] matteosantama opened #34436 "ENH: Implement min_max() function that returns both"
#### Describe the solution you'd like

It might be a common enough situation for someone to want to know the min AND max of an index or series. I assume the min and max are not stored as attributes so the function has to scan all the data. It would be an improvement to scan once, and return both values as a tuple.

#### API breaking implications

None

[code]

[2020-05-28 19:27] dcsaba89 opened #34437 "BUG: pivot_table calculates incorrect standard deviation when np.std passed to aggfunc"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

`
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': ['a', 'a'], 'X': [2.8597, 2.8503]})
pivot = pd.pivot_table(df, index='A', values='X', aggfunc=(np.mean,

[2020-05-28 19:37] r-ook opened #34438 "BUG: Styler.set_table_styles does not apply to Styler.to_excel"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-28 19:41] TomAugspurger commented on #33300
Thanks. I think I've also had issues with git in the conda env.

I'll start on the doc build now.

[2020-05-28 19:45] simonjayhawkins commented on #33300
cool. just got rsync installed for git bash. would have needed ssh access to continue but calling it a day. will carry-on tomorrow with what's left to do.

[2020-05-28 19:58] TomAugspurger commented on #34436
I think we're using NumPy for most ops, so for an actual performance improvement this would need to go there.

[2020-05-28 19:59] TomAugspurger commented on #34436
Looks like there's an issue for this at https://github.com/numpy/numpy/issues/9836. Seems like there are some complexities, but we'll track that.

[2020-05-28 19:59] #34436 closed

[2020-05-28 20:22] WillAyd commented on #34427
Yea I think should clean these up. @najann interested in a PR?

[2020-05-28 20:32] d-01 commented on #32696
### Quick workaround

One possible alternative to `df.groupby('elements').mean(skipna = False)`:

[code]

*Warning*: Preexisted `np.inf` elements will be lost.

More solutions here: <https://stackoverflow.com/q/54106112/>

### More examples related to this problem

#### `groupby()` + `max()` + `skipna=False`

`skipna=False` – no errors, just ignored:

[code]
Expected output:

[code]

#### `groupby

[2020-05-28 20:36] phofl commented on #33232
@simonjayhawkins The desired behavior ist not completly clear to me. The documentation says, that indexes are passed along, if join is done on index. That is the case here.

Based on this I would either expecet a MultiIndex in the result which has the index of the left `DataFrame` as first component and the index of the right `DataFrame` as second component or the result we are seeing here.

The `

[2020-05-28 20:45] phofl commented on #17257
@TomAugspurger I would expect the output

[code]

for the operation

[code]

Could you give me a hint, why you would expect a 2 in the `key` **column** (not index) and not `NaN`?

[2020-05-28 20:49] TomAugspurger commented on #17257
Is that from the index in `right` being 2 there?

[2020-05-28 20:51] PablocFonseca opened #34440 "BUG: exponential moving window covariance fails for multiIndexed DataFrame"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-28 20:52] phofl commented on #17257
I would have expected, that the key column is the original key column, not influenced by the index. But I am not sure if this is the desired behavior.

I would expected index = index of right df, a and key cols with values from left df and b with values from right df.

I am currently working on the index issue, which is unrelated with the key column problem. But I would try to work on this after f

[2020-05-28 20:58] TomAugspurger commented on #17257
I thought `right_index=True` means that the index would be involved, but I might be mistaken.

[2020-05-28 21:00] willpeppo commented on #28792
is there still work to be done on this issue ?   I'm new and would like to help if there is.

[2020-05-28 21:02] willpeppo commented on #27977
is there still work to be done on this issue?    can i take it if there is ?

[2020-05-28 21:02] phofl commented on #17257
Yes you join the column `key` onto the index of the right `DataFrame`. The index has values `[0, 1, 2]` while the key column has `[0, 1, 1]`. I would expected the result `[(0, 0), (1, 1), (1, 1), (2, NaN)]` with the index as first component of the tuples and the key column as the second. The index value `2` has no match in the key column, so I would expect that the key column is `NaN` in this row.

[2020-05-28 21:06] TomAugspurger commented on #17257
Ah right. Mine is probably mistaken.

[2020-05-28 21:11] phofl commented on #17257
Ok thanks.

I have a small follow up question about the initial example. I would expect that the index there is the index of the right `DataFrame` (year_df) because we have a right join. It seems wrong that we get the left index after a right join.

[2020-05-28 21:17] phofl commented on #32067
@MarcoGorelli  Is this the desired behavior? I would have expected the same as @arobrien

[2020-05-28 21:46] MatteoFelici commented on #29547
Hi,
I'd like to make a PR, so I'm running the test, but I'm having a couple of fails. So I tried to run tests also on master.
Is it normal that running `pytest pandas` on unedited forked master returns a couple of fails?

[2020-05-28 21:56] matteosantama commented on #29547
Master should generally pass the tests. Make sure you've pulled the latest commits. Which tests are failing?

[2020-05-28 23:00] huonw opened #34445 "BUG: to_numpy on empty dataframe allocates O(len(df)) array"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Output:

[code]

#### Problem description

If a DataFrame `df` has no columns, the result of `df.to_numpy(...)` is an a

[2020-05-28 23:06] lucasthim commented on #20824
I might try a Pull Request to solve this.
But for now, I was able to by pass the NaN as 0 problem.

I assign numpy.inf to NaN values in my columns and then execute whatever function (prod,mean,sum) with groupby.

Then, I assign numpy.nan to everything that resulted in numpy.inf.

There's an example I posted in this stackoverflow discussion:

https://stackoverflow.com/questions/62069979/pandas-merg

[2020-05-28 23:44] pedrooa commented on #34318
Ah yes, of course, I should have seen it coming ahaha.

I think that the cleanest solution would be raising an exception. If it catches something it simply doesn't return anything. As such:
[code]

It seems to solve this problem.

[2020-05-29 00:53] dsaxton commented on #34437
pivot_table is using the unbiased estimate of variance where we divide by n - 1 instead of n:
[code]

[2020-05-29 01:47] ryuncha commented on #11503
I'm from 2020. Thank you man.

[2020-05-29 03:53] arw2019 commented on #34440
Confirming that this bug exists in the master version of pandas.

<details>
  <summary><b>Output of pd.show_versions() </b></summary>

  INSTALLED VERSIONS
------------------
commit           : 62c7dd3e771d5dc2921212cb363239b8f1447058
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-101-generic
Version          : #102-Ubuntu SMP Mon May 11 1

[2020-05-29 04:21] sin-en-2009 opened #34451 "BUG:pandas use all() or any() get wrong result"
- [ ] I have checked that this issue has not already been reported.
yes
- [ ] I have confirmed this bug exists on the latest version of pandas.
yes
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.
yes
---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us

[2020-05-29 05:50] sin-en-2009 commented on #34451
现在我创建一个新的dataframe
temp = pd.DataFrame({'shift1':[-3680.0,-3680.0]},)
print(temp['shift1'].values, temp['shift1'].values.any()>0, temp['shift1'].values[0]>0)

result:
[-3680. -3680.] True False

[2020-05-29 06:10] srihari15 commented on #13439
Is this being worked on still? Would be very useful if someone could provide a closure. Thanks :)

[2020-05-29 06:18] jorisvandenbossche commented on #34451
@sin-en-2009 the github issues are meant for reporting potential bugs / enhancement requests, and not for general questions for help (but of course, the line between both is not always clear). For general usage questions, a Q&A forum like [StackOverflow](https://stackoverflow.com/questions/tagged/pandas) or the [pydata mailing list](https://groups.google.com/forum/#!forum/pydata) is a better place

[2020-05-29 06:18] #34451 closed

[2020-05-29 06:20] connesy commented on #34451
@jorisvandenbossche

I think you mean True here, not False.

[2020-05-29 06:24] jorisvandenbossche commented on #34451
Whoops, yes ;) Updated in the post above!

[2020-05-29 06:28] arw2019 commented on #34440
For the purposes of debugging I tweaked @PablocFonseca's snippet to make the DataFrames are smaller and that way easier to inspect. I believe the snippet below throws the same error as the original report.

[code]

[2020-05-29 06:29] arw2019 commented on #34440
I tracked down the origin of the bug to the `_flex_binary_moment` method in `pandas/core/window/common.py`.

I haven't figured out the full details but I think that by the time of line 182:
[code]
the DataFrame `result` has been incorrectly indexed. For my example the levels of `result`'s MultiIndex are:
[code]
and then obviously `reorder_levels` fails in line 182 because that assumes that result

[2020-05-29 06:30] jorisvandenbossche commented on #34440
@PablocFonseca thanks for the report, and @arw2019 thanks for the confirmation and simple reproducer!

It's also failing on 0.25

[2020-05-29 06:49] mroeschke commented on #34437
Going to close as a usage question.

[2020-05-29 06:49] #34437 closed

[2020-05-29 07:00] najann commented on #34427
Yes, I can do that @WillAyd :)

[2020-05-29 07:02] najann commented on #34427
take

[2020-05-29 07:09] arw2019 commented on #34431
This runs fine on the 1.0. master.

The complete snippet  I ran is:
[code]
<details>
  <summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : 62c7dd3e771d5dc2921212cb363239b8f1447058
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-101-generic
Version          : #102-Ubuntu SMP Mon Ma

[2020-05-29 07:12] sidhant007 commented on #9712
Proposal to fix this issue:

We introduce a new parameter passed to `.to_csv` namely `bytes_encoding` which decides the encoding scheme used to decode the bytes (This gives the user the flexibility to write to a file opened with one encoding but the bytes to be decoded are of a different encoding)

If `path_or_buf` is a path, we use `bytes_encoding` to decode the bytes. However if it is set to Non

[2020-05-29 08:50] datapythonista commented on #28975
Thanks @xmnlab.

Can you clarify what is the goal of this issue? It's unclear to me what do you expect.

Also, can you provide links to the functions you're talking about, in pandas, Ibis and SQL. Can't find them.

[2020-05-29 09:13] Bellobn666 commented on #32936
thanks man. works like a charm

[2020-05-29 09:31] MatteoFelici commented on #29547
@matteosantama I pulled last commits, re-installed the environment an re-run the tests with `pytest pandas`. These are the results

[code]

I noticed that if I run tests only on the single directory (for example with `pytest pandas/tests/io`), there are no fails:
[code]

[2020-05-29 10:10] fujiaxiang opened #34452 "BUG: groupby.tshift inconsistent behavior with other groupby transformations"
I discovered this while trying to tackle issue #32344, where @ryankarlos mentioned `groupby.transform('tshift', ...)` seems to behave incorrectly.

However, before we can address #32344, we probably need to address this.
[code]

We can see that `groupby.tshift` is inconsistent with other groupby transformations. It retains the groupby column, and more importantly reordered the data.

Since 0.25 we

[2020-05-29 11:54] fjetter opened #34455 "BUG: Groupby.apply raises KeyError for Float64Index depending on order of index and column"
When performing a groupby.apply on a dataframe with a float index, I receive a `KeyError`, depending on whether or not the index has the same ordering as the column I am grouping on.

---

#### Code Sample

broken
[code]

working (mind the sorting of col vs index)
[code]

[code]

#### Example traceback

<details>

[code]

</details>

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERS

[2020-05-29 11:55] TomAugspurger commented on #33300
Website and docs are uploaded. Let me know if you see any strange formatting issues. The layout was messed up the first time I visited a docs page, but seems to be OK now.

Wheels are on PyPI and conda-forge packages are building.

@simonjayhawkins do you want to send an email to the mailing lists with the announcement?

[2020-05-29 11:57] TomAugspurger commented on #34445
Do you have a proposed workaround in mind?

[2020-05-29 12:01] jorisvandenbossche commented on #33300
I still see the messed up layout for the symlinked ones, like https://pandas.pydata.org/docs/ (https://pandas.pydata.org/pandas-docs/version/1.0.4/ is fine).

[2020-05-29 12:05] TomAugspurger commented on #33300
Hmm, I have to run for a bit so I'll revert the symlink for now.

[2020-05-29 12:11] simonjayhawkins commented on #33300
happy to do this when we're happy all is OK

What's new in 1.0.4 on https://pandas.pydata.org/ points to https://pandas.pydata.org/docs/whatsnew/v1.0.0.html

Is this something that I need to change?

[2020-05-29 12:16] jorisvandenbossche opened #34456 "BUG: behaviour of astype_nansafe(.., copy=False) / SparseArray.astype bug"
So our internal `astype_nansafe` has the following behaviour:

[code]

where it seems it assumes it can take a view if `copy=False`, which of course depends on the dtype it is casting to:

https://github.com/pandas-dev/pandas/blob/043b60920ede5a2589ed29685ba7247fbbc4ea5f/pandas/core/dtypes/cast.py#L990

I am not fully sure about the intent of `astype_nansafe` or whether this was intentional (I wou

[2020-05-29 12:21] TomAugspurger commented on #33300
No, it’s been fixed on master so I’m not worried about that.

[2020-05-29 12:26] jorisvandenbossche opened #34457 "API: SparseArray.astype behaviour to always preserve sparseness"
Currently, the `SparseArray.astype` function will always convert the specified target dtype to a sparse dtype, if it is not one. For example, this gives:

[code]

This ensures that a simple `astype` doesn't densify the sparse array (and you don't need to do `astype(pd.SparseDtype(float, fill_value))`).
And note this also gives this behaviour to `Series.astype(..)`

But, this also gives the inconsi

[2020-05-29 12:34] jorisvandenbossche opened #34459 "API: expected result of concat of SparseArray with Categorical?"
xref https://github.com/pandas-dev/pandas/pull/34338

The current behaviour when Sparse and Categorical are concatenated, is that for both the "dense" values are used (for sparse the densified values, for categorical the non-categorical version of the values).

For example, Sparse[int] with Categorical[int] results in a plain `int` series:

[code]

An alternative could also be to preserve the spar

[2020-05-29 12:46] dcsaba89 commented on #34437
This difference is unexcepted:

df = pd.DataFrame({'A': ['a', 'a'], 'X': [2.8597, 2.8503]})
pivot = pd.pivot_table(df, index='A', values='X', aggfunc=(np.std, lambda x: np.std(x)))
lambda_std = pivot.loc['a', '<lambda_0>']  # 0.0047000000000001485
std = pivot.loc['a', 'std']  # 0.006646803743153757

In the above example,  standard deviation is calculated twice, in the first case, np.std function d

[2020-05-29 12:57] JoElfner commented on #10956
Will #33616 enable ellipsis indexing also for `.loc`?
My current workaround is:
[code]
The `- 1` is not needed, but imho represents the "real" amount of levels to index.
I know that this is a really cumbersome workaround, but perhaps it will help someone until the current v1.1 ETA. :)

Where I need it: Inplace operations such as `*=` or overwriting specific values with nan, when applying these ope

[2020-05-29 13:09] TomAugspurger commented on #34457
Do you think this is worth deprecating? It seems that this would require a keyword to control the behavior, like

[code]

which would cast non-sparse dtypes to SparseDtypes. So we can introduce that keyword with a default of None and warn that in the future it will change from True to False?

[2020-05-29 13:25] jorisvandenbossche commented on #34457
I *think* that it is too much exposed (also in Series.astype) to just change (and it was also a deliberate behaviour, so it's not that we can see it as a bug fix).
So in that case a keyword like that might be a good solution. We will only need to expose it in Series.astype as well and pass it through to SparseArray.astype.

[2020-05-29 13:51] TomAugspurger commented on #34457
Hmmm having to expose it through Series.astype (and DataFrame as well?) is unfortunate.

[2020-05-29 13:54] jorisvandenbossche commented on #29752
Another friendly ping ..

@WillAyd How strong is your preference? Maybe a bit difficult to exactly answer, but meaning: I also still have a preference for `use_nullable_dtypes`, and since there is a majority of participating voices OK with that, I would still like to go with `use_nullable_dtypes` if your preference is not too strong.
(and since I am the one pushing for it, it's a bit hard for me t

[2020-05-29 15:38] WillAyd commented on #29752
I continue to think that `use_NA_dtypes` is better particular once we add the floatNA types. I won't belabor the point though

@jreback was also dissenting on this so should see where he stands and go from there

[2020-05-29 15:57] WillAyd opened #34460 "Mixed object array with astype to Extension Array throws TypeError"
This works

[code]

This doesn't

[code]

[2020-05-29 16:03] WillAyd commented on #34452
Unless there's a usability gap between shift / tshift I think OK to deprecate the latter

[2020-05-29 16:03] #34336 closed

[2020-05-29 16:06] jorisvandenbossche commented on #29752
@WillAyd in that case, could you then answer to my question about what you would do with the docs?

[2020-05-29 16:15] jreback commented on #29752
have come around here, ok with `use_nullable_dtypes` this matches our current doc descriptions.

[2020-05-29 16:30] ryq99 commented on #25571
Even though the issue has been closed, just want to point out that if tz-aware format bothers you so much and gives you the above error, simply convert it to naive format by using `pd.Series.tz_localize(None)`, which removes the tail part, and keeps the datetime part same. Then everything is good to go.

[2020-05-29 16:55] zbrookle commented on #32473
@jorisvandenbossche I think the compatibility with NumPy is probably the most important since that's what the backend of pandas is. It wouldn't be too hard to have logic that converts to the appropriate pyarrow format when a dataframe writes to parquet. I think there would just have to be an error that would be raised if they tried to write out to a date that is beyond 32 bits, which I don't think

[2020-05-29 17:01] zbrookle commented on #30480
@wesm I've actually been thinking about it a lot and I think that it could pair well with Ibis. I would need to do a lot of refactoring, but I'll let you know when it's ready.

[2020-05-29 17:46] eubene opened #34463 "ENH: Support logical and/or (bitwise ops) for nullable IntegerArray"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas: [cc6348](https://github.com/pandas-dev/pandas/commit/cc634842a1d73e77145d62c4390dfa10f282e06b)

---

Logical and/or (``&``, ``|``) on integer Series returns an integer Series:

[2020-05-29 17:48] jorisvandenbossche commented on #32473
Compatibility with numpy is important, but I am not fully sure the numpy being the backend is important in this case. I think many of the datetime-specific functionalities are implemented in pandas, and are not coming from numpy (although I am not very much up to date with the exact details here)

[2020-05-29 19:05] #34410 closed

[2020-05-29 19:05] #34114 closed

[2020-05-29 19:09] TomAugspurger commented on #34406
I think we're good. It should fill in the gap over the next couple week.

[2020-05-29 19:09] #34406 closed

[2020-05-29 19:24] TomAugspurger commented on #33300
FYI, I'm debugging this at https://pandas.pydata.org/pandas-docs/debug/. It seems to only occur when the server has served a 1.0.3 request at that URL. So almost surely a CSS asset is being cached somewhere.

[2020-05-29 19:25] ericmariasis commented on #27977
Sure take it!

On Thu, May 28, 2020 at 5:02 PM willpeppo <notifications@github.com> wrote:

[2020-05-29 19:35] dsaxton commented on #34463
Maybe I'm missing something, but even the output for int64 seems buggy / strange (mostly the third element for each):
[code]

[2020-05-29 20:16] MatthewMoye commented on #34460
Correct me if I am wrong (or not understanding the question), but shouldn't the Int64 just have a lower case I?
``
pd.Series([1, "1"]).astype("int64")
``
The code above ran for me

[2020-05-29 21:07] eubene commented on #34463
Looks like the strangeness comes from numpy. In any case a separate issue from the error with Int64 arrays I think.
[code]

[2020-05-29 21:12] phofl commented on #28243
@dsaxton I would expect the same output as you described. But the function `_maybe_add_join_keys` adds the values again after the join worked as intended. The column x had the values [a, nan] before this function and [a, b] afterwards.

I found a few tests covering exactly this behavior.
For example the test https://github.com/pandas-dev/pandas/blob/master/pandas/tests/reshape/merge/test_merge.py#

[2020-05-29 21:23] evan-anderson-ts opened #34465 "BUG: unexpected behavior of json_normalize meta arg"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-29 21:40] dsaxton commented on #28243
@phofl Yeah I think I recall the _maybe_add_join_keys function and not really understanding why it was needed

[2020-05-29 21:45] phofl commented on #28243
@dsaxton Thanks very much. I will push a PR shortly, but I think we have to talk about the expected behavior, because that is not 100 percent clear to me.

I will look into `_maybe_add_join_keys` after this

[2020-05-29 21:48] WillAyd commented on #34465
Definitely looks buggy. The code for json_normalize is here if something you are interested in debugging:

https://github.com/pandas-dev/pandas/blob/1cad9e52ee1028db3bb4b9e86998104eb4d6b0ee/pandas/io/json/_normalize.py#L112

[2020-05-29 21:49] brandon-b-miller opened #34466 "BUG: Rolling count aggregation produces unexpected results"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

Apologies if this is expected behavior and not a bug. I noticed that prior to version 1.0, `rolling.count` ignored the `min_periods` par

[2020-05-29 21:56] claytonlemons opened #34467 "BUG: read_parquet no longer supports file-like objects"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

The current behavior of `read_parquet(buffer)` is that it raises the following exception:
[code]

#### Expected Output

Instead, `read_parquet(buffer)` should return a new DataFrame with the same contents as the serialized DataFrame stored in `buffer`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
-

[2020-05-29 21:58] OlivierLuG commented on #24444
Hello,

I've went through examples and review my tests. I think indeed it is not solved.
I think there are issues with `microsecond` == 10^-6s and `nanosecond` == 10^-9s.

[code]
expected was `999999`
[code]
expected was `123456`
[code]
This last example is working, if I do not give the `freq` argument.

Perhaps another bug, the `nanosecond` is not throwing any warning, but always return `0`:
[cod

[2020-05-29 22:13] willpeppo commented on #27977
take

[2020-05-29 22:35] jreback commented on #10956
@JoElfner this is an open issue; if you want it fixed then a PR would do it

[2020-05-29 22:42] jreback commented on #34467
this is almost certainly a regression pyarrow itself

pls report there

[2020-05-29 22:59] amueller opened #34470 "ENH: Handing missing data in scatter_matrix when using hue/color"
#### Is your feature request related to a problem?

I would like to use scatter_matrix on a dataframe with missing entries when using the c parameter.

This works:
[code]
this works:
[code]
This breaks:
[code]
[code]
(using pandas 1.0.3)

#### Describe the solution you'd like
scatter_matrix should make sure the shapes are consistent. I haven't looked into the internals. Calling ``plt.scatter`` wit

[2020-05-29 23:32] claytonlemons commented on #34467
pls report there

I mean no offense, but this sounds like the responsibility of pandas maintainers, since pandas directly consumes pyarrow.

[2020-05-29 23:34] jreback commented on #34467
@claytonlemons you are missing the point

it’s calling pyarrow code - see the traceback

[2020-05-29 23:45] jreback opened #34472 "DEPS: drop 3.6"
according to schedule we should 3.6 in june 2020

https://numpy.org/neps/nep-0029-deprecation_policy.html

prob ok to keep for the 1.1 release then should drop for 1.2. we will likely be adding. 3.9 support so this makes sense.

[2020-05-30 00:06] austospumanto commented on #34467
If I downgrade from 1.0.4 --> 1.0.3 (while keeping the pyarrow version the same), I can again read from BytesIO buffers without issue. Since upgrading the pandas version from 1.0.3 --> 1.0.4 seems both necessary and sufficient to cause the file-like object reading issues, it seems like it may indeed be correct to consider this as an issue with pandas, not pyarrow.

@jreback Would you consider reop

[2020-05-30 00:11] jreback commented on #34467
ok sure something must have gone wrong in the backport.

would be helpful to know exactly where

[2020-05-30 00:20] austospumanto commented on #34467
Thanks, @jreback.

For starters, it looks like the implementation changed significantly between 1.0.3 --> 1.0.4 for `io/parquet.py#PyArrowImpl.read`.

### 1.0.3
[code]

### 1.0.4
[code]

[2020-05-30 00:22] claytonlemons commented on #34467
@jreback I understood your point, but I was referring to reporting the issue to pyarrow, not the fact the pyarrow is causing the traceback.

That said, it's still an assumption that pyarrow caused the regression. That's why I'm reluctant to report anything to pyarrow in the first place.

Let's dig into the issue some more:

1. As shown by the stack trace, the first entry point into pyarrow 17.1 is

[2020-05-30 00:22] claytonlemons commented on #34467
Please see the referenced merge request above.

[2020-05-30 02:23] fujiaxiang commented on #32293
Turns out `Series.corr` behaves similarly to `DataFrame.corrwith`, and because `SeriesGroupBy.corr`, and `DataFrameGroupBy.corrwith` reuses base counterparts, they behave similarly too.

So this behavior can be achieved by:
[code]

A few thoughts:
1. Why does `Series.corr` behaves like `DataFrame.corrwith`, while `DataFrame.corr` behaves differently?
The first two compute correlation with another

[2020-05-30 04:39] gurukiran07 opened #34478 "BUG: groupby apply inconsistent output"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
groupby apply on `df1` gives multi-index output

[code]
groupby apply on `df2` gives a single level index output:

[code

[2020-05-30 06:58] jorisvandenbossche opened #34479 "API: any/all logical operation for datetime-like dtypes"
In my attempt to enable DataFrame reductions for ExtensionArrays (and at the same time cleaning up `DataFrame._reduce` a bit) at https://github.com/pandas-dev/pandas/pull/32867, I am running into the following inconsistency.

Consider a Timedelta array, and how it behaves for the `any` and `all` logical functions (on current master, bit similar for released pandas):

[code]
(and exactly the same p

[2020-05-30 07:56] jorisvandenbossche commented on #33300
https://pandas.pydata.org/pandas-docs/debug/ now looks fine for me. Was that url supposed to be a "broken" one? (in which case it might be solved now)

[2020-05-30 09:37] CloseChoice commented on #34455
take

[2020-05-30 09:43] ianozsvald opened #34480 "DOC: `merge` doc for `indicator` parameter can be improved"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html#pandas.DataFrame.merge

#### Documentation problem

The documentation is correct but hard to read, currently:

```... If string, column with information on source of each row will be added to output DataFrame, and column will be named value of string. Information column is Cat

[2020-05-30 09:46] AaryamanCodes commented on #32936
My Pleasure.

[2020-05-30 10:19] fujiaxiang commented on #34466
@brandon-b-miller Thanks for reporting this issue.

When your window size is an even number, with `center=True` you actually include 1 more element above the anchor than below the anchor. In this case, when window size is 2, setting `center=True` does not change anything because the window will still be the element above the anchor and the anchor itself. This is consistent across other functions t

[2020-05-30 10:31] MarcoGorelli commented on #32067
@phofl I don't think it's expected, IIRC I'd left my comment above because I thought it might be useful to anyone interested in debugging this

[2020-05-30 11:10] fujiaxiang commented on #34466
Sorry I think I misunderstood you earlier. I thought you were referring to the behavior of `center=True`.

Just so we are on the same page, and correct me if I'm wrong, you are concerned why the below `.sum()` and `.count()` yields different results (which has nothing to do with `center=True` or not):
[code]

I think we actually discussed about this in #30923. When dealing with `rolling.count()`,

[2020-05-30 13:00] jorisvandenbossche commented on #34467
@claytonlemons Thanks for the report!
It could have helped if you mentioned that it is https://github.com/pandas-dev/pandas/pull/33632 that broke this, to make it clear it's a pandas issue and not pyarrow (since you actually first commented on that PR. Github shows that it is linked here, but that's easy to miss).

cc @simonjayhawkins @alimcmaster1

So after the fact, we apparently should not have

[2020-05-30 13:05] jorisvandenbossche commented on #34467
On the actual issue, as far as I know, `pyarrow.parquet.ParquetDataset` never supported file like objects (while `pyarrow.parquet.read_table` does). So we clearly didn't have test coverage for this for the parquet format, unfortunately.

I think using the ParquetDataset was needed to get

@alimcmaster1 do you remember why you switched to ParquetDataset? I think that `read_table` should also suppor

[2020-05-30 13:15] jorisvandenbossche commented on #34463
And not even numpy, as python does the same (example for the third elements):

[code]

Note that this are bitwise operators.
Refreshing my knowledge on bits, gives (showing up to 4 bits, to interpret from right to left):

[code]

So given that this is a quite specific operation, I think it was simply not a priority to implement and test for the new nullable integer dtype.

[2020-05-30 13:50] brandon-b-miller commented on #34466
@fujiaxiang thank you so much for responding. I'm still not sure I understand the output from the example I gave. To be clear, I'm only talking about `count`, the other aggregation seem ok.

[code]

As you say, since this is an even number each window considers the element immediately before the anchor and the anchor itself. So these are the pairs of elements:

`[NaN, 1]` -> `NaN` (this is the fir

[2020-05-30 13:55] simonjayhawkins commented on #34467
This also fails on master, so we can either

1. fix on master and backport
2. revert #34173 on 1.0.x

From previous discussion https://github.com/pandas-dev/pandas/pull/33970#issuecomment-624029963, probably best to create a 1.0.5 tag and setup the whatsnew.. I'll open a PR for that.

[2020-05-30 14:02] brandon-b-miller commented on #34466
Apologies - I just read your response a bit more carefully. My understanding of that PR was that the change was to *allow* `min_periods` to consider `NaN`. Here it seems as though `min_periods` is being respected in one place (the first NaN) but not in another place (the 1.0 at the end.)

[2020-05-30 14:19] JunioCalu opened #34482 "QST: Integrate a function with pandas and scipy.integrate.quad"
I'm trying to integrate a function with pandas and scipy in the most elegant way possible, but I'm getting the following error when executing:

TypeError: 'float' object is not subscriptable

This is a preview of the data set:

[code]
I know there are other ways to solve the problem, but I would like to keep the lambda function, because it makes things simpler.

Code:

[code]
CSV file:

[data.txt]

[2020-05-30 14:21] simonjayhawkins commented on #34467
#34481

[2020-05-30 15:11] dsaxton commented on #34463
Ah that makes sense, I was comparing to the built-in "or"

[2020-05-30 15:46] dsaxton opened #34483 "REF: Move sampling logic into algorithms.py"
https://github.com/pandas-dev/pandas/pull/34069 is implementing a sampling procedure for groupby which then uses the same from core/generic.py, however it may be preferable to implement lower-level code in core/algorithms.py which then both can share.

[2020-05-30 16:06] alimcmaster1 commented on #34467
Yes agree this is related to #33632. There is actually also an open PR to properly document the reading/writing file like obj behaviour #33709 .

@jorisvandenbossche we switched to ParquetDataset as it allows a directory path and hence we can read a partitioned dataset. I can submit a PR to fix and properly test the file like behaviour that’s broken here.

[2020-05-30 16:32] #29476 closed

[2020-05-30 16:43] nnick14 commented on #34480
take

[2020-05-30 18:20] jorisvandenbossche commented on #34467
`read_table` should also allow that (basically, `read_table` under the hood checks whether the pat argument is a string path, in which case it dispatches to `ParquetDataset` under the hood, and otherwise uses an implementation that can read from a file-like object)

[2020-05-30 23:13] zlood commented on #32550
Hi, I tried working on this one, and found some thing I would like to confirm. When running:
`./scripts/validate_rst_title_capitalization.py doc/source/getting_started/comparison/comparison_with_r.rst`
it produced:
`doc/source/getting_started/comparison/comparison_with_r.rst:205:Heading capitalization formatted incorrectly. Please correctly capitalize "|Tapply|" to "Tapply|" `
`doc/source/getting_

[2020-05-31 00:27] xmnlab commented on #28975
@datapythonista thanks for checking this issue

Some SQL databases, that have windows function support, implement `percent_rank` and `cume_dist` functions.

As you can check at https://www.postgresql.org/docs/10/functions-window.html :

Function | Return Type | Description
-- | -- | --
percent_rank() | double precision | relative rank of the current row: (rank - 1) / (total partition rows - 1)
cum

[2020-05-31 07:32] jorisvandenbossche commented on #34431
This might depend on the database you are using (and the database driver).

For example, the example using sqlite *also* works with pandas 0.23.

(now, it's still good to actually test this for sqlite)

[2020-05-31 08:18] MarcoGorelli commented on #26921
Full traceback:
[code]

Is this just the case of modifying `_use_dynamic_x` so that it would return `False` here, as it would in the case
[code]
?

[2020-05-31 14:40] elinor-lev opened #34497 "BUG: Cannot index into DataFrame with Nullable Integer as index"
#### Code Sample
[code]

#### Problem description
When there is more than one missing value in the dataframe index, indexing into the dataframe results in
[code]

If only one NaN index exists, this works:
[code]
[code]

#### Expected Output
I Expect `df2.loc[1]` to return

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python

[2020-05-31 15:06] jorisvandenbossche opened #34498 "DOC: improve the .equals() docstring"
The current docstring for Series/DataFrame `equals` method can use some improvement (https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.equals.html):

- " The column headers do not need to have the same type" is not very clear, and also doesn't apply to Series.equals. Something like "The row/column index do not need to have the same type (as long as the values are still considered e

[2020-05-31 16:32] dsaxton commented on #34497
Note that it's actually the presence of _duplicates_ rather than more than one NA value that causes this to fail (it's the uniqueness in the second case that makes it work). This for example also raises:
[code]
It seems the two cases follow separate code paths in pandas/_libs/index.pyx.

[2020-05-31 16:54] eavidan commented on #20608
This is a strange behavior. I believe there should be a way to disable this conversion, and it should be documented.
Now, it is not obvious you can disable it simply by passing `dtype={} `or anything else that is equivalent to false.
I can try to fix _try_convert_data, but there are many cases that will be hard to catch. for instance, currently, the string `"00010" `results in the int `10` which i

[2020-05-31 17:09] alimcmaster1 commented on #34467
Understood thanks @jorisvandenbossche ! I think I missed the fact `read_table` supports a `filesystem` kwarg - ill fix in arrow as there is no description: https://arrow.apache.org/docs/python/generated/pyarrow.parquet.read_table.html.

Fix for this here https://github.com/pandas-dev/pandas/pull/34500

[2020-05-31 17:40] link2xt opened #34501 "ENH: add logfmt support"
[logfmt](https://www.brandur.org/logfmt) is a structured log format similar to JSON lines, but much simpler. Each line has a format `column1=value1 column2=value2 ...`. Pandas already has support for JSON lines, which can be read with `pd.read_json(path, lines=True)`, but to read logfmt logs a conversion is needed.

I have been using [agrind](https://github.com/rcoh/angle-grinder) to convert logs

[2020-05-31 17:41] link2xt commented on #34501
take

[2020-05-31 17:46] jreback commented on #34501
can u provide justification on how this is a popular format?

why would we not just document using this? why bake this into pandas itself?

[2020-05-31 18:04] elinor-lev commented on #34497
That's actually not accurate; in the current version of pandas, there is no issue with duplicate entries in the index list. Without the presence of pd.NA, this actually works:
[code]

producing:
[code]

I believe it has to do with the non-equality nature of different NaNs, and how masking with NA is handled, which is discussed in #31503.

[2020-05-31 18:22] link2xt commented on #34501
[Official nodejs package](https://www.npmjs.com/package/logfmt) has 28k weekly downloads now. This is an official log format of Heroku and it is supported in [Elastic stack](https://www.elastic.co/), [Splunk](https://www.splunk.com/), [InfluxDB](https://docs.influxdata.com/telegraf/v1.14/data_formats/input/logfmt/), [Fluentd (with plugin)](https://www.fluentd.org/plugins/all).

I don't get what do

[2020-05-31 18:23] jorisvandenbossche commented on #34497
@elinor-lev what Daniel meant is that it is the fact that there is a duplicate (whether the NA or another number) is what is triggering it, as without duplicates but with pd.NA, it works (but it is of course still the presence of pd.NA that triggers the bug):

[code]

As indeed, whether there is any duplicate or not triggers a different code path.

There are still several problems with having `pd.

[2020-05-31 18:29] jorisvandenbossche commented on #34497
Yes, I think that is correct. The error happens in this function:

https://github.com/pandas-dev/pandas/blob/48c00eab0140df90c9bba69ae6cf48e6d8cbde77/pandas/_libs/index.pyx#L124-L129

Where `indexer` is expected to be a boolean ndarray. However, due to a numpy bug (there are fixing it, but for now it only gives a deprecation warning), we get a single False:

[code]

[2020-05-31 18:39] jorisvandenbossche commented on #34501
Have you proposed in that package to add pandas support?

In general we are rather converative in adding new formats in IO support in pandas, as there are *many* formats people would like to see added, and it is not scalable to add support for all possible formats directly into pandas.
So therefore, I think we would rather encourage making external packages that give a nice pandas-like interface f

[2020-05-31 18:41] jreback commented on #34501
@link2xt using the conversion as code

if a user wanted to write this it’s just several lines of code right?

can i show an example here

[2020-05-31 18:49] link2xt commented on #34501
The problem is that there is no type inference, which is needed for pandas.

[code]

This code outputs `<class 'str'>`.

[2020-05-31 19:00] jreback commented on #34501
it would be better to make a package that has a to_pandas method

-1 on adding this directly to pandas at this time

[2020-05-31 19:46] alonme opened #34506 "BUG: DataFrame.apply(raw=True) applies function twice on first row/column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Because of an implementation detail, the applied function is applied twice on the first row/c

[2020-05-31 19:59] link2xt commented on #34501
If I move this into a separate package, how do I use compression support from `get_filepath_or_buffer`? Is there any API exposed for that? PR #34494 tests for `.gz` support.

[2020-05-31 20:17] MohakGangwani commented on #12991
Wouldn't it be better if pandas didn't allow us to have duplicate column names ? Having columns with same name would rather create confusion for us.

[2020-05-31 20:56] phofl commented on #34438
Hey,

thanks for your report. I checked that this still exists on master.

[2020-05-31 21:01] jreback commented on #34501
nope but it’s pretty easy to implement

[2020-05-31 21:08] toobaz commented on #12991
Indeed, not having duplicate column names is a good idea.

Enforcing this in pandas (and doing it consistently - that is, also on rows) would break a lot of code.

[2020-05-31 21:39] link2xt commented on #34501
I have moved the code to https://gitlab.com/link2xt/logfmt-pandas

[2020-05-31 21:39] #34501 closed

[2020-05-31 21:45] arw2019 commented on #34506
The reason why you see the side effect twice is because in `pandas/core/apply.py`'s `apply_raw` function
https://github.com/pandas-dev/pandas/blob/48c00eab0140df90c9bba69ae6cf48e6d8cbde77/pandas/core/apply.py#L221
`mul2` gets called twice, first inside the `try` statement with `pandas._libs`'s `compute_reduction`, and then after an error is thrown, in the `except` block.

I haven't understood the

[2020-05-31 22:09] mitar commented on #12991
But breaking it loudly and consistently is maybe better than breaking some of it silently.

[2020-05-31 22:27] xmnlab commented on #28975
@datapythonista about the goal of this issue, it was to check if there was any discussion about this topic before.

I created this gist to show the difference between sql databases percent_rank and cume_dist: https://gist.github.com/xmnlab/d676ff1b0ff474c634d62010ebca8b07

note: related to Ibis, I will propose to change the current percent_rank to use SQL Database percent_rank approach and I will

[2020-05-31 22:43] toobaz commented on #12991
Indeed, the safest way to break buggy code loudly and consistently is, always, to just break all code.

[2020-05-31 22:50] mitar commented on #12991
Not having duplicate column names would also help with sklearn, which is planing to introduce features operating on pandas and column names, but require column names to be unique to work. So having such limit in pandas dataframes would not make you be surprised when you pass it to sklearn and it complains.

[2020-05-31 23:19] toobaz commented on #12991
For sklearn devs, checking if an index is unique is as simple as checking ``.is_unique``.

For sklearn users, without context I don't know if what you describe is a legitimate need or just an implementation limit, but in any case, it will just have to be documented in sklearn and shouldn't affect the many non-sklearn users.

In any case, I think this is vastly off topic here, as this is a very spe

[2020-05-31 23:44] huonw commented on #34445
I don't know enough about the internals of Pandas to know if this would be easy to apply, but https://github.com/numpy/numpy/issues/16410 demonstrates that using `broadcast_to` can avoid the allocation. For example, `np.broadcast_to(np.uint8(0), (123456789, 0))` for the example in the PR description.

[2020-05-31 23:46] dsaxton commented on #34482
@JunioCalu can you create a copy / pastable example that demonstrates the error? Some
tips on creating bug reports: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-01 00:28] #33741 closed

[2020-06-01 00:30] freakypandit commented on #34498
take

[2020-06-01 01:41] #34237 closed

[2020-06-01 01:42] #33924 closed

[2020-06-01 01:46] #29563 closed

[2020-06-01 01:51] sergiykhan commented on #29036
Still an issue in Pandas 1.0.4 and Python 3.8.2. Updated the output of pd.show_versions().

[2020-06-01 02:06] jreback commented on #29036
@sergiykhan best way to have something fixed is a PR

[2020-06-01 02:10] zbrookle commented on #32473
@jorisvandenbossche I'm actually very confident that the backend for at least the datetime64 object in pandas is NumPy (because a lot of my implementation of the date was based off the datetime type) and so I think the biggest priority in terms of conversion is that these two types at the very least work well and efficiently together

[2020-06-01 02:20] WillAyd commented on #33300
Not sure if anyone has noticed but to @simonjayhawkins point clicking on the 1.0.4 whatsnew from the home page takes me to 1.0.0 with no option to see 1.0.4. It also mentions 1.0.1 in the top menu:

<img width="1195" alt="image" src="https://user-images.githubusercontent.com/609873/83370218-8ff53600-a373-11ea-9b93-14a5e27b4b5d.png">

[2020-06-01 03:09] FluorineDog commented on #9595
Hey, I'm working on a join-like API `ClosestItem(left: Series, right: Series, max_distance: float)` which returns `[index_of_right(v) for v in left]` now. I would love to return `Series`, please give me some suggestions on:

1. how to deal with labels of `left` and `right`, if they are available.
2. when nothing within `max_distance`, what should I return? Currently just -1. Should I use `None` or

[2020-06-01 03:31] mroeschke commented on #33966
Just to be clear about the behavior for this feature:

1) `groupby.transform(..., engine='cython')` & `compute.use_numba = True` would use the numba engine
2) Internally we won't "fall back" to the cython behavior, mainly to reduce code complexity (and `groupby.transform(..., engine='numba')` already doesn't fall back as well)

[2020-06-01 06:19] alonme commented on #34506
Hey @arw2019, I am familiar,
I solved this issue except for `raw=True` in https://github.com/pandas-dev/pandas/pull/34183
Hope it will be merged soon, and then not much would be left to be done in `apply_raw`

[2020-06-01 06:22] jorisvandenbossche commented on #32473
Yes, we *use* the numpy datime64 dtype, but that doesn't mean we use much of numpy to do datetime-related things with it (in the end, it's just an int64 array with an annotation).

[2020-06-01 06:52] jorisvandenbossche commented on #33300
That's because the link seems to be hardcoded in the home page (while the text is automatically updated):

https://github.com/pandas-dev/pandas/blob/6eb34f1badff4117a440f05ebcbb4292b91a1f23/web/pandas/index.html#L64-L67

So that needs a fix there.

(I also seem to remember some discussion about whether we found linking to 1.0.0 instead of 1.0.x more relevant, but in any case now the text and the l

[2020-06-01 07:03] jorisvandenbossche commented on #33966
If the user explicitly specifies `engine="cython"`, can't it then override the global config? Or why would that be complex (it's not a fallback or so)

[2020-06-01 10:32] #28909 closed

[2020-06-01 10:55] datapythonista commented on #28975
`percent_rank` seems to be a postgres function. I guess you're talking about [Series.rank](https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.rank.html).

I don't see pandas implementing window functions for `percent_rank` or `cume_dist`.

I'm still unsure what outcome do you expect from this issue. Not sure if pandas `Series.rank` inspired anything in Ibis. Can you please do some more

[2020-06-01 11:08] TomAugspurger commented on #33300
It's fixed on master: https://pandas.pydata.org/pandas-docs/dev/

[2020-06-01 11:10] TomAugspurger commented on #33300
I don't know what to do about the CSS issue. I set up https://pandas.pydata.org/pandas-docs/debug/ on Friday to replicate `/docs` and it did: I saw the messed up formatting for a while. Visiting now shows that it looks fine, so whatever was caching the CSS has since expired.

[2020-06-01 11:10] jorisvandenbossche commented on #33300
@TomAugspurger that's the docs (where we indeed removed the "Whatsnew" link in the top bar), but AFAIU it is about the home page (`/web/`)

[2020-06-01 11:32] TomAugspurger commented on #33300
Ah, thanks. Should that just link to the whatsnew index?

On Mon, Jun 1, 2020 at 6:10 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2020-06-01 11:51] jorisvandenbossche opened #34510 "Performance regression in TimedeltaIndexing.time_get_loc"
Setup:

[code]

[code]

See https://pandas.pydata.org/speed/pandas/#timedelta.TimedeltaIndexing.time_get_loc?commits=9929fca8-62c7dd3e

Happened somewhere between May 11 and May 27 (the gap in the benchmarks)

[2020-06-01 12:17] jjbarton opened #34511 "BUG: DateOffset pickle bug when months=12"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-06-01 12:55] TomAugspurger commented on #34445
I don't think the array resulting `brodcast_to` has equivalent semantics though. For one thing, it's not writable. I don't know if that would qualify as an API breaking change so I'm hesitant to change it.

[2020-06-01 14:04] impredicative opened #34513 "Release notes still missing for 1.0.4"
What's up with the release notes still missing for 1.0.4? It has been four days since the release. This is unprofessional.

https://github.com/pandas-dev/pandas/releases/tag/v1.0.4 links to https://pandas.pydata.org/docs/whatsnew/v1.0.4.html but the whatsnew page has been missing. Shouldn't it be made available no later than two hours after a release? People look for it and can't find it. A releas

[2020-06-01 14:07] TomAugspurger commented on #34513
@impredicative check your tone please: things like "unrpofessional" and "you seem responsible" are not kind.

See https://github.com/pandas-dev/pandas/issues/33300#issuecomment-635932128.

[2020-06-01 14:07] #34513 closed

[2020-06-01 14:10] simonjayhawkins commented on #34513
try https://pandas.pydata.org/pandas-docs/version/1.0.4/whatsnew/v1.0.4.html in the meantime.

[2020-06-01 14:26] mar-muel commented on #28501
Hi all - Just curious whether stringifying `None` in the following example is expected behaviour?
[code]
If yes, how can I avoid this while at the same time specifying the the column to be of `str` type?
Thanks for your help!

[2020-06-01 14:40] fujiaxiang commented on #34511
@jjbarton Would you be interested to have a look and PR?

[2020-06-01 15:11] xmnlab commented on #28975
you're right, when I said pandas `percent_rank` I meant `Series.rank(method='min', pct=True)`

for sql users it is confusing because `Series.rank(method='min', pct=True)` is not the same of SQL `percent_rank` function .. indeed, it is the same of SQL `cume_dist` function.

this [gist](https://gist.github.com/xmnlab/d676ff1b0ff474c634d62010ebca8b07) shows some examples about that.

It seems the cur

[2020-06-01 15:18] impredicative commented on #34513
@TomAugspurger Do you know what else is not kind? People wasting their time clicking on a link that doesn't work, waiting days, and it still doesn't work. A waste of time. Also, why did you close this issue when it's not resolved yet?

[2020-06-01 15:23] jreback commented on #34513
@impredicative

pandas is an open source project, which is ALL VOLUNTEER. If you want to help great. Otherwise, please stop comments that are not helpful at all.

[2020-06-01 15:49] TomAugspurger commented on #33300
@aterrel I think this may be cached at the cloudflare CDN sitting between pandas' webserver and the internet.

[code]

Is giving me access to cloudflare so that I can purge some caches an option? https://support.cloudflare.com/hc/en-us/articles/200169246-Purging-cached-resources-from-Cloudflare.

[2020-06-01 15:54] TomAugspurger commented on #33300
Actually, hold on that. I might be able to instruct nginx to not use CF's cache. Won't have time to look into that until later though.

[2020-06-01 16:41] mroeschke commented on #33966
`engine='cython'` is already the default keyword argument for the operations that have a numba option available.

[2020-06-01 16:47] jbrockmendel commented on #32473
This is correct, largely because the relevant C functions in numpy are not exposed.  If they become exposed (xref https://github.com/numpy/numpy/pull/16364) i expect we'll start using them (once our minimum np version catches up) instead of having our own mostly-copy/pasted versions.

[2020-06-01 16:48] jbrockmendel commented on #32473
Those functions all assume the int64s being passed represent nanosecond unit timestamps, which wouldn't apply here.  What _would_ apply is wrapping Period[D]

[2020-06-01 17:58] zbrookle commented on #32473
I"m aware that the actual date functions and abstractions are not through NumPy, but the backing array containing the data is, and that's what will impact conversion between the different data types within pandas using the .astype method. I think the only real decision here is whether to have the DateDtype backed by an int32 array or an int64 array.
- If it's an int32 array, then when converting t

[2020-06-01 19:25] jbrockmendel commented on #33051
as @neilkg commented, the current behavior appears correct since USFederalHolidayCalendar uses the nearest_weekday for NewYearsDay, which in this case is Friday Dec 30.  You would need to define a custom calendar that passes `observance=None` instead of nearest_workday

[2020-06-01 20:36] hellocoldworld opened #34519 "BUG: read_csv stopped working with s3 file system"
- [yes ] I have checked that this issue has not already been reported.

- [ yes ] I have confirmed this bug exists on the latest version of pandas.

- [ yes] (optional) I have confirmed this bug exists on the master branch of pandas.
Checked against pandas 1.1.0.dev0+1732.g2428cdda3

#### Problem description

read_csv in pandas1.0.4 has stopped working with s3fs.

On pandas1.0.3

[code]
prints the

[2020-06-01 21:49] tr4umatic4i commented on #33950
take

[2020-06-01 21:50] jendrikjoe commented on #34478
Not sure, if it is the exact same issue, but we see a similar inconsistency when doing conditional filtering. A minimal reproducible example:

[code]

Doing an apply with a value that actually triggers filtering (`<3`):

[code]

Doing an apply with a value that does not trigger filtering (`<5`):

[code]

Expected output:

I would expect the latter to output:
[code]

<details>
<summary>Output of pd

[2020-06-01 21:51] WillAyd opened #34520 "BUG: Mixed DataFrame with Extension Array incorrect aggregation"
Surprised to not get an aggregation for "b" with the Int64 dtype

[code]

[2020-06-01 21:51] tr4umatic4i commented on #33950
fairly new to this. It looks like in io/formats/style.py  `if self.na_rep is not None and pd.isna(x)` should read `if self.na_rep is not None and pd.isna(x) or x is pd.NA:`

Looking for feedback from others before I make a PR

[2020-06-01 21:57] WillAyd opened #34521 "ENH: Set numeric_only=True in aggregations"
I've noticed that I make this mistake quite often:

[code]

Getting `111` as a result in column a is harmless in this example, but actually quite annoying in most real life use cases where it can produce exceedingly large strings that exhaust memory or tie up the interpreter.

The `numeric_only` argument gets around this issue:

[code]

Though I'm curious if this should really be the default

[2020-06-01 22:01] Puumanamana commented on #33090
Not sure if I should create a new issue or not, but I also wanted to point out some inconsistencies regarding this bug. When using `agg()`, the output dtype changes depending on whether we use a dictionary notation or not (see below):

[code]

gives

[code]

[2020-06-01 22:22] huonw commented on #34445
That's a fair concern, however, I believe it is equivalent for this case, because the 0 columns means there's no data and no way to access any memory (in particular, any `x[..., i]` will fail with an `IndexError`).

[2020-06-02 05:33] charron opened #34525 "BUG: Replacing rows with iloc changes dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-02 05:49] meteoDaniel commented on #34381
@jbrockmendel if it is less efficient why it was not depricate? I was very confused by the different behaviour of DateOffset objects. I think there should not be several DateOffset objects available.

[2020-06-02 06:20] liebergk commented on #34460
Hi there, I'm new here looking for a first issue and wondering if this might be a good one.

Is the desired behavior that the second example converting explicitly to Int64 should succeed like the first one does?

Curiously (to me, a python non-expert) the following with lowercase "int64" does work in the console:

pd.Series([1, "1"]).astype("int64")

[2020-06-02 06:54] Zirochkaa commented on #29570
@SebastianB12 I also have the same problem in 1.0.3 version :(

[2020-06-02 07:56] gurukiran07 commented on #34478
@jendrikjoe Might be related. Not sure.

Example:
[code]

[code]

[2020-06-02 08:03] HYChou0515 opened #34526 "BUG: Select an all-zero sparse series by indexer results in NaN"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-02 09:45] jorisvandenbossche commented on #34520
This is actually a regression on master, as this "worked" until recently:

[code]

There are still many things not correctly working for DataFrame reductions with EA columns, which I am trying to fix in https://github.com/pandas-dev/pandas/pull/32867

Now, the specific regression here is related to `nansum` / maybe to the fact that we now added an `IntegerArray.sum` method:

[code]

This works in

[2020-06-02 09:47] jorisvandenbossche commented on #34521
There should already be some issues about this, eg I remember @jbrockmendel recently raising this as well, and I suspect some older issues as well

[2020-06-02 09:47] jorisvandenbossche commented on #34521
The one I remembered is https://github.com/pandas-dev/pandas/issues/28900, I think this can be closed as a duplicate?

[2020-06-02 11:33] TomAugspurger commented on #29570
Anyone interested in working on this?

[2020-06-02 11:49] akhmerov commented on #29570
By the way, to those interested in a workaround in the meantime: you can use this

[code]

[2020-06-02 12:18] datascientistpur opened #34527 "Getting Attribute error while merging framed"
When merging frames,I am getting AttributeError:Dataframe object has no attribute _cols.
It shows the error in 5067 line of generic.py

Current pandas version:0.24.2

[2020-06-02 12:27] idankash opened #34528 "ENH: Implement categorical correlation"
#### Is your feature request related to a problem?

Currently, whenever I want to visualize features correlation I'm using df.corr(), but when I have a dataset with categorical features I have to encode them before using df.corr() if I want to include the categorical features.

#### Describe the solution you'd like

I came across this article
[https://towardsdatascience.com/the-search-for-categori

[2020-06-02 12:41] jreback commented on #34527
please show a reproducible example: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-02 12:51] simondsmart opened #34529 "BUG: apply() fails on some value types"
We have some existing code that manipulates data that is decoded into numpy arrays (by a C powered backend). This code has stopped working.

I've tried to strip it down to a reduced case

[code]
This fails with an error inside an internal function of apply:
[code]
If we use a different dtype, then it works.
[code]
which gives the expected result
[code]

[2020-06-02 13:22] MarcusJellinghaus opened #34530 "BUG: series with dtype "Int64" don't work correctly with replace() method"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas. ( Version 1.0.4)

---

I get an AssertionError from the following code:

#### Code Sample

[code]

[code]

#### Problem description

The code does not work on Pandas Version 1.0.4. It throws an exception. However, it works on Pandas Version 1.0.1, and also wi

[2020-06-02 13:29] MoMoussabbih commented on #28291
As a temporal solution, you can use "replace" function for strings in Python, to change those '\\'  at the end of your table rows by "\\ \hline" to have the horizontal lines.

You need before save your lateX code in a variable as below :

`df.to_latex(index=False)`

and then you perform the replace  :

`latex_code = latex_code.replace("\\\n", "\\ \hline\n")
print(latex_code)`

Best.

[2020-06-02 13:36] simonjayhawkins commented on #32293
see also #11260 cc @pandas-dev/pandas-core

[2020-06-02 14:09] TomAugspurger commented on #34530
Added the traceback to the original post.

The line it raises on is https://github.com/pandas-dev/pandas/pull/27768 (cc @jbrockmendel).

Not sure what to do here. I think the choices are

1. remove the assert
2. only assert for non extension blocks
3. push the `_can_hold_element` into the EA interface

[2020-06-02 14:13] bashtage commented on #34528
The "ideal" place for Cramer's V and Theil's U would be scipy.stats.  If these were available, then it would be easy to have

[code]

[2020-06-02 14:24] derHeinzer opened #34531 "Extreme performance issue in pandas 1.0.3 when setting a new column with DatetimeIndex"
When adding a column to a DataFrame with one level having a DateTime-like dtype, the dtype of the values to be added is explicitly casted to object type in multi.py if the indexes of the values to be setted and the frames index are not identical in pandas version 1.0.3. Those object typed values are beiing transformed to Timestamps later on. This consumes a lot of time for big dataframes.

Compari

[2020-06-02 14:35] Xachriel opened #34532 "BUG: Groupby sum, different result between 0.25.3 and 1.0.4"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
This is most likely a known problem, but I did not find an exact issue where to copy this behavior.
I ran into a problem between functionalities between 0.25.3 and 1.0.4.

[2020-06-02 14:40] jorisvandenbossche commented on #34532
@Xachriel Thanks for the report!

It seems the underlying change is actually the dataframe creating / setting, not the groupby:

[code]

gives

[code]

And I suppose because it is now an object dtype column, it is automatically left out in the groupby operation.

[2020-06-02 14:54] jbrockmendel commented on #34381
I'd be fine with this if you'd like to make a PR.

[2020-06-02 14:58] WillAyd commented on #34521
It's a little bit different. That PR is about removing the kwarg whereas this is about changing the default value

The former would encapsulate the latter but we *may* want to do in steps instead of outright removal

[2020-06-02 15:03] jorisvandenbossche commented on #34521
OK, that's right, but I would still propose to use the other issue for that discussion? As in the end it is a single discussion about what to do with this keyword: keep as is, change default, or fully remove. It are not really separate discussion?
So I would put your proposal to change the default (instead of removing the kwarg) in #28900

[2020-06-02 15:05] idankash commented on #34528
Hey,
I'll open an issue on scipy's GitHub page for these two(cramers_v, theils_u).
One more question, let's say we already have these methods and I call corr like so
df.corr(method=theils_u) or df.corr(method=cramers_v),
both of them will give me the correlation of the categorical features.
If I have a mixed dataset according to the article I can use the correlation ratio, so the same goes here, t

[2020-06-02 15:09] bashtage commented on #34528
It is tricky with a mixed dataset. Since you might want person for continuous, cramer/theil for 2 cats and (??) missing value for cross. While they appear to be missing from scipy (they are generally useful, not just in pandas), they would need some adapting for pandas.

[2020-06-02 15:10] WillAyd commented on #34521
Sure that works just as well

[2020-06-02 15:10] #34521 closed

[2020-06-02 15:10] simonjayhawkins commented on #28792
`./scripts/validate_docstrings.py --errors=SA04` should give you a list of what's still outstanding

[2020-06-02 15:25] harry-b-harish opened #34534 "BUG: pd.Series produces NaN for valid input as per documentation"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-02 16:01] phofl commented on #34534
Hi, thanks for your report.

Could you please assign a title for this issue?

What would you like to achieve with this statement? Your index ist `["A", "B", "C"]`. You can assign values for these values, but not for the keys defined in your dictionary.
You can use either this

[code]

to get your output or

[code]

if your Index should be A,B,C

[2020-06-02 16:08] phofl commented on #34525
Hey, thanks for your report.

This works for me on master:

[code]

Maybe add a test to avoid this behavior in the future, if this wasn't already done?

[2020-06-02 16:14] phofl commented on #34531
Hey, thanks for your report.

Seems to persist on master. Took me 27 seconds to run this.

[code]

[2020-06-02 16:16] harry-b-harish commented on #34534
Below is the part of doucmentation.

indexarray-like or Index (1d)
Values must be hashable and have the same length as data. Non-unique index values are allowed. Will default to RangeIndex (0, 1, 2, …, n) if not provided. **If both a dict and index sequence are used, the index will override the keys found in the dict.**

Source: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Ser

[2020-06-02 16:20] phofl commented on #34534
The index does override the keys found in the dict. It is not clear to me, whether the data should persist or not.

[2020-06-02 16:38] meteoDaniel commented on #34381
Next week I can have a closer look to pandas source code to prepare a PR. I have learned that it is a huge effort to make it accurate for such a big project. I hope some other guys will join
the conversation.
Actually my idea is to return e.g. a minute object if `DateOffset(hours=1,Minutes=20)` is parsed like that because minute is the smallest given level.

[2020-06-02 16:59] idankash commented on #34528
Got you.
Can you pls explain what kind of adapting, so I know what to do when I'll implement it?

[2020-06-02 17:09] bashtage commented on #34528
If you had scipy functions (or similar "basic" functions that only understands numeric values), then you will need to get the underlying int64 values that are used in the categorical.  This is it I think, so something like

[code]

rather than

[code]

[2020-06-02 20:44] Meta95 opened #34535 "Pickle incompatibility between 0.25 and 1.0 when saving a MultiIndex dataframe"
This seems to have caused the problem described here:

https://stackoverflow.com/questions/61641738/pandas-1-0-cannot-pickle-load-dict-containing-dataframe-with-multiindex

which I'm now also experiencing. I dumped a MultiIndex dataframe containing ndarrays to a pickle on disk under pandas 0.25.x in Python 3.6, and now I'm getting:

`AttributeError: Can't get attribute 'FrozenNDArray' on <module '

[2020-06-02 20:46] michellejzh opened #34536 "BUG: where(...) unexpectedly casts None to np.NA for series with pd.Int64Dtype"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Problem description
When trying to replace all `pd.NA` values with `None` using `where(...)` on a `pd.Series` with dtype `pd.Int64Dtype`, `None` values are automaticall

[2020-06-02 20:47] Meta95 commented on #34535
@WillAyd https://github.com/pandas-dev/pandas/pull/29335#issuecomment-628190545 suggested @mspacek open a new issue but I did not see it. I have ran into the same problem.

[2020-06-02 21:04] #33879 closed

[2020-06-02 21:04] #30815 closed

[2020-06-02 21:04] #31620 closed

[2020-06-02 22:21] #22663 closed

[2020-06-02 22:38] jbrockmendel commented on #34530
IIUC the call to `self.putmask` (L810 in the linked PR) raises and then the `assert not self._can_hold_element(value)` (L823) fails?

I think _can_hold_element or something like it will need to be in the EA interface eventually.  The same method would also be used for validating a fill_value for e.g. take or fillna or...

[2020-06-02 22:42] #12918 closed

[2020-06-02 22:42] #33956 closed

[2020-06-02 22:42] #29146 closed

[2020-06-02 22:57] #34383 closed

[2020-06-02 23:06] Stockfoot commented on #33851
@moaraccounts
Thanks for the links! I will work on this some more this week and try submitting a pull request. If it gets accepted then it opens the door for everyone else to easily contribute to the document!

[2020-06-02 23:20] jreback commented on #34531
there looks to be some unwanted conversions going on here. welcome for folks to have a look.

[2020-06-02 23:22] jreback commented on #34531
you can work around this for now by:

[code]

[2020-06-03 00:50] dsaxton commented on #34534
I suppose instead of "override" the documentation could maybe be reworded to say that the Series will be _reindexed_ based on the index argument. I'm not sure though why we would want to specify an index implicitly with dictionary input and then immediately provide a different index in the same call.

[2020-06-03 01:13] jreback commented on #34534
@TomAugspurger has an old PR about clarifying this behavior if you want see if can find the reference

there are also several issues about this (likely references from that PR)

[2020-06-03 02:51] HYChou0515 opened #34540 "BUG: Index slice an all-zero float sparse series by indexer does not preserve dtypes"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Index slice an all-zero sparse series by indexer (whether by bool array or index array) results in type int64. It should preserve type.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-06-03 02:53] HYChou0515 commented on #34526
This issue is fixed in the master branch of pandas. But it indexing sparse series still has some issue ( #34540  )

[2020-06-03 03:49] jbrockmendel commented on #24662
leaning towards "dont bother"

[2020-06-03 05:04] alonme commented on #34506
@arw2019 My PR was merged https://github.com/pandas-dev/pandas/pull/34183
You can look at how i solved the `non-raw` path, `raw` can work in a very similar fashion.

[2020-06-03 05:29] Xachriel commented on #34532
yes, that is true. Is this kind of dtype behavior now the current normal, or is this considered a bug? This is really an edge case, but kind of annoying as you cannot even force it with:
[code]
But this works correctly:
[code]

[2020-06-03 05:29] rushabh-newzera commented on #34540
I had a similar bug, when indexing only for single rows using loc / iloc, int64 was converted to float instead of primitive int. Created a lot of problems please resolve this

[2020-06-03 06:03] CloseChoice opened #34541 "DOC: documentation link to whatsnew v1.0.4 not working"
#### Location of the documentation

full whatsnew link on
https://github.com/pandas-dev/pandas/releases/tag/v1.0.4

#### Documentation problem

The link to https://pandas.pydata.org/docs/whatsnew/v1.0.4.html is not working though https://pandas.pydata.org/docs/whatsnew/v1.0.3.html works

[2020-06-03 06:26] HYChou0515 commented on #34540
@rushabh-newzera

IMO, indexing by an index list should return a series though.

[2020-06-03 06:43] rushabh-newzera commented on #34540
Thank you

[2020-06-03 07:04] vfilimonov commented on #30741
A small remark: as a part of recent [commit to pyarrow](https://github.com/apache/arrow/pull/7334#issuecomment-637846927) @wesm removed `pyarrow.tests` from the wheel which to my understanding contributed **2.3 MB** of **~60 MB** installed size.

In case of pandas tests folder contributed (as of version 1.0.3) tests folder contributed **17.9 MB** out of **49 MB** installed size.

So I'd like to br

[2020-06-03 07:13] ttsstack opened #34542 "> I propose to create a single document that contains all the coding guidelines."
perhaps the google style could be a good template or basis for outline http://google.github.io/styleguide/pyguide.html

personally i prefer a well structured reference style document to a informal prose on the subject.

I think that the reason we have the two documents is that the contributing guidelines contains the descriptive introduction for first time contributors and the code style document

[2020-06-03 07:14] #34542 closed

[2020-06-03 07:40] RadMagnus commented on #20012
Any updates on this?
I'm also having an engineering use case: Timeseries analysis of sensordata. Sensors yield a datapoint per second but a few datapoints will be missing (due to various reasons like bad values or transmission errors).

[2020-06-03 08:14] elnikkis commented on #34361
Thank you for reply. I'm looking forward to it being released.

[2020-06-03 08:53] jreback commented on #20012
@RadMagnus pandas is all volunteer
if you want something then likely a PR is the best bet

note this is pretty straightforward nowadays by defining a custom indexer

[2020-06-03 08:58] jreback commented on #34532
this is not a bug rather pandas tries to preserve dtypes

using None in construction creates an object column
if you want numeric then create as numeric, use Int64 or coerce

[2020-06-03 09:04] #33917 closed

[2020-06-03 09:06] jreback commented on #34526
@HYChou0515 can u check if we have all of the cases in tests? if not would love to have a PR to add missing ones

[2020-06-03 09:29] gimseng commented on #34478
I played around with a little bit more with df1 and df2. If I changed the index list in the reindex argument, I get (the right multilevel answer):

[code]

As another example, I shortened the data and try with different index list. Here are the few outputs:

[code]

and

[code]

I suspect there is something about (re)-indexing and missing value. I would love to work on this, but I am new to this r

[2020-06-03 09:34] wpdonders opened #34543 "ENH: Allow join based on conditional statement"
In pandas, it is only possible to perform joins based on conditional statements that consider whether they provided keys are *equal*. It would be great if pandas provided a way in which joins can be performed based on some other logical condition. This is possible in many SQL engines and allows for elegant solution of specific use cases.

# Examples
## Setup
[code]
[code]
[code]
[code]
## Current

[2020-06-03 09:41] jreback commented on #34543
this a duplicate of https://github.com/pandas-dev/pandas/issues/7480

though i like your examples more

PRs to implement features are always welcome

[2020-06-03 09:46] VictorGerritsen opened #34544 "DOC: DatetimeIndex day says the same as month"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.day.html#pandas.DatetimeIndex.day

#### Documentation problem

Right now it says the same as month, `The month as of January=1, December=12`

#### Suggested fix for documentation

Something along the lines of `Day of the month, from 1 through 31`

[2020-06-03 09:47] RadMagnus commented on #20012
@jreback that is very flattering, however i am by no means qualified (yet?). I'll come back here, when i have the necessary skillset.

[2020-06-03 09:49] MarcoGorelli commented on #34544
Sounds good - are you interested in submitting a pull request?

[2020-06-03 10:10] jorisvandenbossche commented on #34541
The whatsnew is already available at https://pandas.pydata.org/pandas-docs/version/1.0.4/whatsnew/v1.0.4.html

There is a problem with updating the "stable" docs at  https://pandas.pydata.org/docs/, so that is still showing the docs from 1.0.3 (see https://github.com/pandas-dev/pandas/issues/33300#issuecomment-636933791)

[2020-06-03 10:11] jorisvandenbossche commented on #34541
I am going to keep this issue open, and I "pinned" it, in the hope it is more visible (and people don't keep opening new issues for this)

[2020-06-03 10:54] lviani opened #34546 "BUG: to_datetime do not keep the date format throughout the column when using inferred format"
- [ X] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-06-03 10:54] actual-panda opened #34547 "reindex_like(s, method='ffill') is different than reindex_like(s).fillna(method='ffill')"
I don't know whether this a bug or a feature, but the behavior is not clear to me after reading the `reindex_like` docs.

There is a note "Please note: this is only applicable to DataFrames/Series with a monotonically increasing/decreasing index." - but what it actually does is to fill "as if" the index after reindexing was sorted.

#### Sample code

    0      [0, 1)
    1      [1, 3)
    3

[2020-06-03 11:05] jorisvandenbossche commented on #34532
Yes, I would say that in general it is an improvement that we try to preserve the original dtype, because it was inconsistent before. On 0.25.3:

[code]

So direct getitem preserved object dtype, but `.loc` not.
Now on pandas 1.0, both preserve object dtype.

In any case, it is better to ensure you have "proper" dtypes (so not object for numerical columns) before calling groupby (not only for the

[2020-06-03 11:21] jorisvandenbossche commented on #34536
If you convert it to `object` dtype first, then it actually replaces NA with None:

[code]

Personally, I might find it good behaviour that it actually by default tries to preserve the dtype. But it's certainly inconsistent with how it works for other dtypes.

[2020-06-03 11:27] jorisvandenbossche commented on #34536
The question is a bit: what values are considered "valid" for the current dtype, and what not?

Because for example for the numpy integer dtype, we also coerce the `other` if possible *to some extent*.
Here I provide a float, but it still results in an int series:

[code]

And only when the value cannot be interpreted as an int, it gets upcasted to float or object dtype.

Now, for the nullable int

[2020-06-03 11:32] jorisvandenbossche commented on #34536
Related `where` issue: https://github.com/pandas-dev/pandas/issues/24144

[2020-06-03 11:40] jreback commented on #34532
@jorisvandenbossche this is clearly documented and expected behavior

why did you reopen this?

[2020-06-03 11:47] hasnain2808 opened #34548 "Chunksize from json memory consumption as high as without chunksize"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

While working on the PR (#33962) for adding nrows to read_json it was seen that maybe the chunksize parameter for read_json is not doing its task. ASV benchmarks were car

[2020-06-03 11:48] hasnain2808 commented on #34548
Someone please add the 'Needs Discussion' label

[2020-06-03 11:59] andre487 commented on #26171
Have the same error in Pandas 1.0.4

[2020-06-03 12:15] wesm commented on #30741
I think it would be a good idea to not ship the tests in wheels. If you want users to be able to run the tests against their production installs perhaps the tests can be packaged as a separate source wheel

[2020-06-03 13:46] ianozsvald commented on #22435
I'd like to add another example to reinforce the above message. I came across this when using Pandas on a remote machine _with_ `numexpr` whilst using Pandas locally _without_ `numexpr` - the remote version failed, the local version ran.

Using the `df` in the parent comment both of the following will work if `numexpr` is not installed, they'll both fail the same way if it is installed:
[code]
Bot

[2020-06-03 14:38] willpeppo commented on #28253
take

[2020-06-03 14:41] marco-neumann-jdas opened #34550 "BUG: Series.unique segfaults on invalid unicode"
**Not present anymore, might be fixed by accident, but no could not find a PR that did that.**

#### Code Sample, a copy-pastable example

[code]

#### Problem description
[code]

#### Expected Output
Not crashing.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.6.final.0
python-bits      : 64
OS

[2020-06-03 14:43] willpeppo commented on #28253
The output of python `scripts/validate_docstrings.py --errors=PR06` returns  12 instances of 'Parameter "{param_name}" type should use "{right_type}" instead of "{wrong_type}' (4 in pandas.Timestamp and 8 in pandas.Timedelta.

[2020-06-03 14:46] marco-neumann-jdas opened #34551 "BUG: DataFrame.drop_duplicates confuses NULL bytes"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-03 14:51] charron commented on #34525
Thank you for checking on master, I investigated further and found that this issue was fixed by #32940, closing it.

[2020-06-03 14:51] #34525 closed

[2020-06-03 15:20] OlivierLuG commented on #34131
I've made a PR to remove the fixtures `@pytest.mark.slow` when the tests were fast.

On the other hand, I have gathered these data for tests that take a lot of time to finish. It may be the functions to look to ?

| pandas/tests/filename(::class)::function (first lines only)                              | Nb. of call | Avg. Time | Total time |
| ----------------------------------------------------

[2020-06-03 16:20] willpeppo commented on #28792
Thank you.  This is my first contribution so I'm working through it piece by piece.  I just pushed my very first commit on PR06 documentation errors and it failed in the "web and docs" build.  Do you happen to know why?   I'm assuming that's an issue I need to resolve ?  Thanks...

[2020-06-03 18:02] #34318 closed

[2020-06-03 18:02] daskol opened #34556 "ENH: Rolling Calculations Ignore Extended Window Specification"
#### Is your feature request related to a problem?

Rolling windows API is not coherent to `scipy.signal` API.

#### Describe the solution you'd like

Support for weighted rolling window functions in `pandas` is based on `scipy.signal`. Precisely, `pandas` uses `scipy.signal.get_window` in order to get weights for a specific window specification. The issue is that `scipy` allows more accurate wind

[2020-06-03 18:04] #28981 closed

[2020-06-03 18:05] #34224 closed

[2020-06-03 18:07] TomAugspurger commented on #34541
I'll hopefully have time to debug this on Friday.

[2020-06-03 18:22] FHTMitchell opened #34557 "BUG: DataFrame size overflows on Windows"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

On windows, dataframes with more than 2^31 elements (max 32 bit int) result in negative sizes

[2020-06-03 18:59] phofl commented on #34550
Hey,

thanks for your report. This works for me on master. Output:

[code]

Which commit did you test on? I pulled before executing this.

[2020-06-03 19:15] phofl commented on #34546
Hey,

thanks for your report. Could you please alter your example in a way, that it is copy-pastable? You could define your DataFrame with code for example.

[2020-06-03 20:31] TomAugspurger commented on #33300
My idea was to add a `cache-control` to nginx to tell cloudflare to not cache anything, but I don't want to accidentally take down our webserver if the load is too high. I don't have a good idea.

@aterrel I think getting access to Cloudflare to manually purge the cache is best. Can you grant me access or can we sync up sometime for you to do it?

[2020-06-03 20:33] Veronur commented on #34529
hello i would like to look into this issue!

[2020-06-03 20:49] jorisvandenbossche commented on #34529
@simondsmart thanks for the report. That's indeed an error that should not be seen by the user (and in 0.25 it was working)

Now, although it should not raise an error, it's also not fully clear to me what you are trying to achieve. The column in the dataframe already has a `object` dtype, so doing `apply(lambda x: x.astype('object'))` should basically be a no-op.

@Veronur always welcome to take

[2020-06-03 20:54] jorisvandenbossche commented on #34526
Also on master, the dtypes are still wrong:

[code]

The Sparse[float] column gets turned into a Sparse[int] during the indexing operation.

[2020-06-03 20:56] jorisvandenbossche commented on #34526
@HYChou0515 ah, the dtype issue is what you reported in #34540

[2020-06-03 20:56] jorisvandenbossche commented on #34532
Because I was having a conversation with @Xachriel

The groupby behaviour is certainly documented (it's here btw: https://pandas.pydata.org/docs/dev/user_guide/groupby.html#automatic-exclusion-of-nuisance-columns, which also mentions the case of selecting nuisance columns), but the dtype change between 0.25 and 1.0 is certainly not that obvious.

[2020-06-03 20:59] jorisvandenbossche commented on #33300
@TomAugspurger you didn't find out how to change the `/doc` symlink? (to link directly to the correct version, instead of through stable. Not sure if this would fix it of course)

[2020-06-03 21:29] raphacosta27 commented on #34544
Hi guys, if there's a chance, I can submit the PR.

[2020-06-03 21:41] deepanshusadh commented on #34534
@harry-b-harish, if you pass the index argument, it will surely take the indexes as passed in the argument.
The Series in pandas is defined for a one-dimensional labeled array capable of holding data and indexes.
Series in pandas is similar to a column in excel including indexes.
If you run the below code:

[code]
The Output will be:

CS     Engineering
ENG           Arts
PHY        Science
dtype:

[2020-06-03 22:15] aterrel commented on #33300
@TomAugspurger yes, create a cloudflare account and send me the email address you used.

[2020-06-03 22:26] #34422 closed

[2020-06-03 23:28] #31269 closed

[2020-06-03 23:43] jerryzhujian9 opened #34562 "ENH: more functions like between_time()"
I have a time index for data frame in full date time format: eg,

Currently it is easy to slice with `between_time("08:00","09:00")` to get rows from 8am-9am across all the days I have in the data frame.

However, if I want to get all data in April across years, I wish I could do` between_month(4,4)`. Similarly, `between_day(1,15)`, or `between_year(2019,2020)`

[2020-06-03 23:59] jreback commented on #34562
see https://pandas.pydata.org/docs/user_guide/timeseries.html Indexing section

this is already very easy to do and would be -1 on adding more specific api

[2020-06-04 01:32] jerryzhujian9 commented on #34562
I did read the link you posted. However, I think it would require something a bit award like to select month which is lower time frame than year.

` df[(df.index.month>=3) & (df.index.month<=9)]`

[2020-06-04 01:39] jreback commented on #34562
and this is the idiomatic way of selecting / indexing

having named in every object for each is just boating the api

in reality between_time should be depreciated as well

[2020-06-04 01:56] jerryzhujian9 commented on #34562
oh no, please do not depreciate between_time. It is very useful to get specific time window across days/months/years.

[2020-06-04 02:24] iyer opened #34564 "BUG: pd.Series/DataFrame.truncate() drops multiindex names"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The current version seems to drop index level names. This was not the case in pandas version

[2020-06-04 06:02] ishgupta commented on #34403
Hi @TomAugspurger, thanks for sharing that..
I refer to the similar issue mentioned in [#34056](https://github.com/pandas-dev/pandas/pull/34056), but with another extension..

with the below code, sum works fine on a boolean column, but mean() leads to error.
[ @MarcoGorelli ]
df = pd.DataFrame({"a": [1] * 50_000 + [2] * 50_000, "b": pd.array([True] * 100_000)})
df.groupby("a").sum()    # works fi

[2020-06-04 06:14] jorisvandenbossche commented on #34551
@marco-neumann-jdas Thanks for the report! That's indeed clearly a bug

The difference can also be seen in `duplicated`:

[code]

Now, under the hood, it seems that for DataFrame, this is based on `factorize` algo, and for series a custom `duplicated` algo:

[code]

And here you can see that `factorize` only sees a single unique value. So I think the bug is inside the `factorize` code.

And then,

[2020-06-04 06:16] jorisvandenbossche commented on #34551
Ah, https://github.com/pandas-dev/pandas/issues/32993 seems a similar report

[2020-06-04 06:26] arw2019 commented on #34564
take

[2020-06-04 06:49] jorisvandenbossche commented on #34550
This is indeed fixed on master. I suppose by https://github.com/pandas-dev/pandas/pull/32701 and https://github.com/pandas-dev/pandas/pull/33235/

[2020-06-04 07:01] qitianliang opened #34567 "ENH: pipe function enhancement"
feature request about `.pipe`
many data science need know the details of processing...
so if we define lots of functions to processing the raw data, and we need the details of each processing, I'm not familiar to the pipe function, but this way may be elegant way to summary this processing...

df.pipe(func0).pipe(func1).pipe(func2).summary()
which summary can summary all your functions in pipe lin

[2020-06-04 07:03] MarcoGorelli commented on #34544
Hey @raphacosta27 - sure, PRs are welcome! Just for reference, if you comment 'take', the issue will be assigned to you

Minor note, but in general we encourage inclusive behavior - for example, please don’t say “hey guys!” but “hey everyone!” (see https://github.com/pandas-dev/pandas/blob/master/web/pandas/community/coc.md)

[2020-06-04 07:09] marco-neumann-jdas commented on #34550
Oh sorry, it seems I wasn't clear enough ("Not present anymore, might be fixed by accident, but no could not find a PR that did that."). I've meant that it currently is fixed on master, but I wasn't sure if it was fixed by some PR just "by accident" (i.e. some refactoring / bugfix that was meant to address something else) or if it is even present on master (SEGFAULTs can be somewhat tricky due to

[2020-06-04 07:15] jorisvandenbossche commented on #34550
Ah, I read over your note (BTW, feel free to edit the top of the issue template, as I did now, it's mostly to remind people to do that when they are writing the issue, but you don't necessarily need to keep it once written. That can make your issue easier to read)

But indeed, I suppose it was kind of by accident (it was the same unicode string, but causing an error in another context, not a segfa

[2020-06-04 08:23] nuka137 opened #34568 "DOC: The argument of pandas.DataFrame.to_markdown is unfriendly"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.to_markdown.html

#### Documentation problem

The document of `pandas.DataFrame.to_markdown` is unfriendly because many options are shown as `**kwargs`.
I think these arguments should be documented explicitly like a `to_csv`.

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.to_cs

[2020-06-04 08:50] JohannesBuchner commented on #33035
f-strings are still used here https://github.com/pandas-dev/pandas/blob/master/setup.py#L751
and seem to cause an issue in Python3.5 in travis https://travis-ci.org/github/JohannesBuchner/stan_utility/jobs/694561908
Does pandas require Python>3.5?

[2020-06-04 08:51] JohannesBuchner commented on #33035
Oh, I see it now, it says python_requires=">=3.6.1". OK.

[2020-06-04 08:53] kartikdutt18 commented on #33035
Hey @JohannesBuchner, there is pandas 0.24 (I think) that supports python 3.5 other than that you need to python 3.6.

[2020-06-04 09:01] MarcoGorelli commented on #34568
Thanks @nuka137 - there's [a PR](#33091) open to document 'index', if you'd like to document other options I think that would be welcome

[2020-06-04 09:54] bestrandomnameever opened #34569 "DOC: Wrong description of behaviour Series.pop()"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.pop.html

#### Documentation problem

Documentation describes that the operation would not return the popped column and would instead return the modified version of the Series (making it appear as a non-inplace function). Actual behavior however returns the value of the popped column and ex

[2020-06-04 10:49] rjafarau commented on #19729
The same problem (pandas 1.0.4)

[2020-06-04 11:38] #31544 closed

[2020-06-04 11:42] TomAugspurger commented on #34568
I'd caution against adding too many keyword arguments. The function could be expanded in the future to accept an `engine` function to determine which package we use to format things.

So we should only add explicit keywords for names that are standard across the rest of pandas IO methods.

[2020-06-04 11:48] KD-dev-lab commented on #21275
take

[2020-06-04 12:32] zsinnema opened #34571 "BUG: problem with index set_names when names is a list"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

I have a question:

why raise a ValueError here https://github.com/pandas-dev/pandas/blob/1ce1c3c1ef9894bf1ba79805f37514291f52a9da/pandas/core/i

[2020-06-04 12:48] nuka137 commented on #34568
@MarcoGorelli @TomAugspurger

I agree not to introduce many keywords. But I didn't intend to add more keyword arguments in this issue.
This issue mentions the unclear documentation of `**kwargs`.

I think adding a link of [tabulate package](https://pypi.org/project/tabulate/) to this document is enough for the user.
Or, it may be good to add an example which uses tabulate argument.
The users can c

[2020-06-04 12:53] TomAugspurger commented on #34568
Thanks, both of those sound like great ideas.

On Thu, Jun 4, 2020 at 7:49 AM Atsushi Nukariya <notifications@github.com>
wrote:

[2020-06-04 12:55] dcdenu4 commented on #22693
Any updates on this? I'm still seeing this behavior in `pandas 1.0.3`
[code]

[2020-06-04 13:16] TomAugspurger commented on #34571
Can you provide a reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-04 13:30] volsend opened #34573 "BUG: Pandas changes dtypes of columns when no float (or other) assignments are done to this column"
[code]
#### Problem description

In the above example, pandas changes the dtype of the column `a` of dataframe `df` from _int64_ to _float64_, while there is no operation, that assigns non-integer value to this column.

#### Expected Output

Currently, the output of this code is:
[code]

while the expected one is:
[code]

<details>
  <summary>pd.show_versions() output</summary>

[code]
</details>

[2020-06-04 13:31] zsinnema commented on #34571
Ah o wait, sorry I think I need to look at MultiIndex

[2020-06-04 13:31] #34571 closed

[2020-06-04 13:40] jorisvandenbossche commented on #34573
My guess is that we might convert the dictionary into a Series first (which would turn it into a float series). Just a guess though, didn't actually check.

[2020-06-04 13:44] dsaxton commented on #34403
@ishgupta I just checked to confirm and this does indeed work on master:

[code]

[2020-06-04 14:19] TomAugspurger commented on #34567
That's not possible given pandas' eager execution.

I'd recommend placing the logging / annotations on the functions themselves, possible as a decorator. https://tomaugspurger.github.io/method-chaining.html has an example.

[2020-06-04 14:19] #34567 closed

[2020-06-04 14:37] jreback commented on #22693
@dcdenu4 or anyone can submit a PR
pandas is all volunteer and we have 3000+ open issues

[2020-06-04 14:59] aterrel commented on #33300
For those watching along, invite has been sent. Let me know if I can be of any other service.

[2020-06-04 15:31] hasnain2808 opened #34575 "CI is failing due to benchmark failing at arithmetic.ApplyIndex.time_apply_index (0.65%)"
ASV benchmarks are failing on the benchmarks for arithmetic.ApplyIndex.time_apply_index
I believe the benchmarks are failing after #34499  was merged.

The latest benchmark failed [link](https://github.com/pandas-dev/pandas/pull/33962/checks?check_run_id=738856351)

Related errors

[code]

I am not sure what was the right way to report this thus created this issue. Do tell me if this is an incorre

[2020-06-04 15:32] JavierLTPromofarma opened #34576 "index=False by default when exporting dataframes"
#### Is your feature request related to a problem?

Every single time I have exported a dataframe (usually with .to_csv), I have not needed the index.

#### Describe the solution you'd like

Change the default from True to False.

#### API breaking implications

All code that has not explicitely set index=True should make it.

#### Describe alternatives you've considered

Leave things as they are

[2020-06-04 15:53] pavany666666 commented on #26314
Any update on this?
Does downgrading the Pandas help??

[2020-06-04 15:54] lviani commented on #34546
Ok....I hope it is better.

[2020-06-04 15:59] jorisvandenbossche commented on #34575
cc @jbrockmendel

[2020-06-04 16:00] jorisvandenbossche commented on #34575
@hasnain2808 do you also see this locally? (you can run only this specific benchmark with `asv dev -b arithmetic.ApplyIndex.time_apply_index`)

[2020-06-04 16:07] TomAugspurger commented on #33300
Thanks Andy.

Possibly fixed with this purge list through the cloudflare console.

[code]

@jorisvandenbossche anything else you can think of that should be purged?

[2020-06-04 16:10] jorisvandenbossche commented on #33300
That should be all pandas doc specific js/css files, I think

[2020-06-04 16:14] hasnain2808 commented on #34575
yes @jorisvandenbossche

Attaching the output for reference

[code]

[2020-06-04 16:22] jorisvandenbossche commented on #34575
Thanks, and I just updated to latest master and see the same error as well.

[2020-06-04 16:30] hasnain2808 commented on #34575
Okay.
Anything else expected from my side?

[2020-06-04 16:45] emptyVoid opened #34577 "BUG: read_table cannot handle multi-character separators in memory_map mode"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Data Sample
[code]

#### Problem description

I'm getting an exception:

   cannot use a bytes pattern on a string-like

from this line:
ht

[2020-06-04 16:52] jbrockmendel commented on #34575
It's not #34499, its #34555.  The solution is to change time_apply_index to just `self.rng + offset` and not call apply_index directly

[2020-06-04 17:41] #33360 closed

[2020-06-04 18:08] jreback commented on #26314
pandas is an all volunteer project; PRs would be accepted from the community for this or any other issues

[2020-06-04 18:10] TomAugspurger commented on #34576
We can leave this open for a bit, but I don't think changing this is feasible. In my experience, `index=True` is the appropriate default, and not using a meaningful index is a bit of an anti-pattern.

This overlaps with an ongoing about an "optional index". I wasn't able to turn up the issue in a quick search.

[2020-06-04 18:46] jreback commented on #34576
agree with @TomAugspurger here
even if i agreed (i don’t) this is impossible to change because of compatibility

note this is why we had a Dataframe.from_csv method with different reading defaults, but that was just confusing and has since been removed

[2020-06-04 18:57] simonjayhawkins commented on #8875
see https://github.com/pandas-dev/pandas/issues/8875#issuecomment-64796203

Index.duplicated() has been changed to return an array, but the other part of the issue is to add \_inverse_ to Index. This has not yet been done.

[code]

[2020-06-04 19:04] #34575 closed

[2020-06-04 19:06] jreback opened #34580 "DEPR: DateOffset.apply and DateOffset.apply_index"
[code]

vs

[code]

---

see https://github.com/pandas-dev/pandas/pull/34579#discussion_r435465450

errors are here: https://github.com/pandas-dev/pandas/pull/33962#issuecomment-638834572

these don't need to be exposed to users and we should deprecate; it seems that in the offsets reorg some of the offsets Month? are no longer exposing these methods as well (so need to test).

[code]

[2020-06-04 19:06] jreback commented on #34580
cc @jbrockmendel

[2020-06-04 19:09] #21275 closed

[2020-06-04 19:33] jorisvandenbossche commented on #34580
Do we also not have to fix the failure? (in addition to deprecating)

[2020-06-04 19:42] KD-dev-lab commented on #19211
take

[2020-06-04 19:46] hasnain2808 commented on #34580
@jorisvandenbossche
#34579 fixed that ci failure

[2020-06-04 19:46] jreback commented on #34580
yes that’s i the comments too

[2020-06-04 19:58] MarcoGorelli commented on #34569
Thanks @bestrandomnameever for the report

To be fair it's kind of hard to understand what Series.pop does from the docs, so if you want to submit a pull request to improve them I'm sure that would be welcome!

[2020-06-04 20:10] scimecac opened #34581 "BUG: read_csv with quoting=csv.QUOTE_NONNUMERIC error trying to convert header row"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-04 20:37] jorisvandenbossche commented on #34580
That fixed CI by removing the usage, it didn't fix the actual use case

[2020-06-04 20:39] jreback commented on #34580
correct that’s what this issue is about

[2020-06-04 20:44] #33916 closed

[2020-06-04 20:55] TomAugspurger commented on #34541
Fixed now.

[2020-06-04 20:55] #34541 closed

[2020-06-04 20:55] TomAugspurger commented on #33300
Thanks.

[2020-06-04 20:55] #33300 closed

[2020-06-04 21:07] KD-dev-lab commented on #19211
I started writing the test. In my opinion this bug is not resolved yet. It seems to work for the first entry, but not for e.g. the second one. The second entry stays unchanged. The second entry remains unchanged after `+` operation.

[code]

[2020-06-04 21:56] #33476 closed

[2020-06-04 22:19] soerendip opened #34583 "ENH: Add number of missing values and cardinality to df.describe()"
It would be really handy to have the number of missing values as well as the cardinality, i.e. the lenght of df.x.value_counts() for each column x in the describe table.

Count is indirectly reflecting this value, but ultimatily you have to think about the corner and first calculate the length of the dataframe before it leads to the numbe of missing values.

The cardinality is important for catego

[2020-06-04 23:30] simondsmart commented on #34529
@jorisvandenbossche the code came from a rather different context. We have a library that does decoding of a rather esoteric data type (ODB2, the pyodc library). It has an optional ability to offload to a (separate) C++ library that does the decoding much faster - but requires that we set up arrays with rather strict memory layout requirements to decode into.

We then have to do a bit of ... coerc

[2020-06-04 23:36] jbrockmendel opened #34586 "ENH: to_offset "year"/"quarter"/"month"/"day"/...?"
In the process of untangling Resolution/FreqGroup/PeriodDtype/Offsets im finding it would be helpful if `to_offset("year")` behaved like `to_offset("Y")` etc.  But apparently these are specifically [deprecated](https://github.com/pandas-dev/pandas/blob/master/pandas/tests/scalar/period/test_period.py#L724).

This test was introduced [here](https://github.com/pandas-dev/pandas/commit/4da9b15f58cfcd

[2020-06-05 03:04] smartswdeveloper commented on #28823
It seems that most of the work has already been done here:
https://github.com/pandas-dev/pandas/pull/16227
but it got stalled.
Is it possible to make it re-use the good work that has already been done?

[2020-06-05 04:24] fujiaxiang commented on #34581
@scimecac  thanks for reporting this issue.
Can you add a code example to your Code Sample section that shows us the error?
Also if possible, can you share what your CSV file look like?

[2020-06-05 04:31] arw2019 commented on #34550
@jorisvandenbossche @marco-neumann-jdas I'm happy to do a PR with these tests if nobody is working on this already!

[2020-06-05 05:08] jluttine opened #34592 "BUG: Series.where doesn't work with empty lists"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas. (Checked 1.0.3)

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information

[2020-06-05 05:13] jreback commented on #28823
you can certainly make a new PR with the original code changes, updated and tested as indicated

[2020-06-05 05:56] ishgupta commented on #34403
@dsaxton Thank you for taking time out to respond my query.
Actually, I am using the latest version of pandas available, which is 1.0.4, and yes, it is older than the development version you're using. :)

Is it possible for you to guide me, if a stable release of v1.1.0 available on PyPI ?

[2020-06-05 06:21] jorisvandenbossche commented on #34576
I personally agree with @JavierLTPromofarma that the default of `index=True` is not always ideal, but it's also something that is not really easy / realistic to change.

I think a non-meaningful index is not an anti-pattern. Basically whenever you don't explicitly set one of your columns as the index, you often have a meaningless index. And unless you want to take advantage of easier indexing by s

[2020-06-05 07:02] tavurth opened #34593 "DOC: Can't figure out how to get exponential working"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-05 07:06] tavurth commented on #34593
I finally fixed this by changing the code as follows:

[code]

I was hoping this could be documented somewhere, and hence this issue. I can't find any other reference online about this.

[2020-06-05 08:31] 2796gaurav commented on #34569
take

[2020-06-05 09:19] MarcoGorelli commented on #34593
Thanks @tavurth for the report

Here it is https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Series.rolling.html

Though to be fair, perhaps `exponential (needs tau)` doesn't make it too clear where the `tau` needs to go, so if you have an idea on how to clarify this, I think a PR would be welcome

[2020-06-05 10:19] simonjayhawkins commented on #34592
Thanks @jluttine for the report.

It appears that #21947 fixed this issue for the DataFrame case.

numpy returns the same array in this case.

[code]

have opened a PR with similar behaviour for Series.

[code]

[2020-06-05 11:32] ulijh opened #34596 "BUG: DataFrame.attrs are lost when writing to HDF5"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas. Version 1.0.3

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
The metadata stored in attributes is gone after the DataFrame was read back from

[2020-06-05 11:43] jreback commented on #34596
pull requests would move this issue forward

[2020-06-05 12:12] gurukiran07 opened #34597 "BUG: Reindex doesn't add NaN when using level=1"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
When I reindex by level 1.
Current output:
[code]
#### Expected Output
This output can reproduced by doing `s.unstack().

[2020-06-05 12:38] ulijh commented on #34596
If i find the time, I'll try to come up with sth.

[2020-06-05 12:59] Mueller2-Patrick opened #34598 "BUG: Groupby: Int-Datatype (of group-by-columns) always casted to int64"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.
---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

**Before the groupby:** The dtype of col1 is np.int8:
Output of
[code]

**After the groupby** th

[2020-06-05 13:39] TomAugspurger commented on #34596
It might be worth looking at how xarray handles these. Ideally we would be compatible with how / where they store metadata.

[2020-06-05 14:07] 2796gaurav commented on #34569
@MarcoGorelli Hi, can I add inplace -True parameter to this function. What do you say?

[2020-06-05 14:13] jbsilva commented on #10534
Same problem here. Looks like it tries to parse the numbers before converting them to strings.
A workaround is to pass `thousands="ª", decimal="ª"` (or any other character not in text).

[2020-06-05 14:18] MarcoGorelli commented on #34569
@2796gaurav isn't it already inplace?

[code]

I think the issue is more that's it's no so clear from the docs what it does. The docs talk about columns (which a Series doesn't have), when they should talk about the index.

Also, the return type is not a Series (as `FrameOrSeries` would suggest)

[2020-06-05 14:30] 2796gaurav commented on #34569
@MarcoGorelli can I make the changes?

[2020-06-05 14:40] 2796gaurav commented on #34569
take

[2020-06-05 14:54] emeti commented on #16452
I vote to keep the issue open and find a way to change the current default behaviour to better handle a very simple use case - this is definitely an issue for a simple use of the library - it is an unexpected surprise.
Here is a use case : a simple workflow
1. read data from a csv file
2. filter some rows (numerical values not touched!) or apply some data transformations
3. write the data frame ba

[2020-06-05 15:09] jluttine opened #34601 "BUG: Interpolating over DatetimeIndex is inconsistent (and wrong in some cases)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas. (1.0.3)

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected

[2020-06-05 15:13] matanmazor opened #34602 "DOC/BUG: correlation between series of different lengths"
Hi,
Is it intentional that pandas does not through an error message when computing a correlation between two series of different lengths?
e.g. pd.Series([1,2,3]).corr(pd.Series([3,2]))
Thanks,
-Matan

[2020-06-05 15:36] jluttine commented on #34601
The weird part is that if I calculate it as follows, it works correctly:

[code]

[2020-06-05 16:02] simonjayhawkins commented on #34597
Thanks @gurukiran07 for the report. This appears to be a duplicate of #25460

[2020-06-05 16:02] #34597 closed

[2020-06-05 16:06] sbitzer opened #34603 "BUG: dangerous inconsistency when setting values on slice of multi-index"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2020-06-05 16:53] daskol opened #34605 "BUG: Positional Arguments Passed as a Keyword Argument in Custom Rolling Aggregation"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

According to [docstring][1] of `Rolling.apply` arguments `args` and `kwargs` allow to pass to a custom function positional and keyword arguments

[2020-06-05 17:03] daskol commented on #34602
It seems like proper behaviour. Internally, `pandas` aligns serieses with [.align()][1] method and then uses `numpy` or `scipystats` in order to estimate correlation coefficients. Such behaviour is convinient if serieses have indexes.

I think that docs should be updated with note about series alignment.

[1]: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.align.html#pand

[2020-06-05 17:16] daskol commented on #34562
Aggreed with @jerryzhujian9. Do not deprecate, please. I think that it would be more idiomatic way of selecting time ranges with `datetime.time` or internal `pandas` type.
[code]

[2020-06-05 17:26] simonjayhawkins commented on #28188
closing as duplicate of #25887

[2020-06-05 17:26] #28188 closed

[2020-06-05 17:28] simonjayhawkins commented on #25887
can also use examples from OP of #28188 as additional benchmarks.

[2020-06-05 18:07] jbrockmendel commented on #34104
i think the relevant Timestamp/NaT methods have been updated so they will return NotImplemented when operating against pd.NA, so it would now be easy to change the behavior if desired

[2020-06-05 18:49] TomAugspurger commented on #34403
Not on PyPI. Nightly wheels are available at
https://anaconda.org/scipy-wheels-nightly/pandas.

It'll be a few weeks before 1.1

On Fri, Jun 5, 2020 at 12:57 AM Ish Gupta <notifications@github.com> wrote:

[2020-06-05 19:14] wchen928 commented on #34593
How about `exponential (needs tau in operation argument)`?

[2020-06-05 19:47] MarcoGorelli commented on #34593
Yes, I think that would be clearer - would you like to submit a pull request, @wchen928 ? If so, perhaps reword the others where this happens too (e.g. `gaussian (needs std)`)

[2020-06-05 19:51] mroeschke commented on #34605
Could you give an example of the buggy behavior? It looks like the args are being passed to the function:

[2020-06-05 19:58] #33368 closed

[2020-06-05 20:47] CarlosAV91 opened #34609 "I can't get this to work"
https://github.com/pandas-dev/pandas/blob/1ce1c3c1ef9894bf1ba79805f37514291f52a9da/pandas/core/frame.py#L6253-L6323

if I run the lines I get a syntax error with the ":" after column. If I try to import and test on a dataframe i get an error that .explode is not an attribute. :'(

[2020-06-05 21:02] dsaxton commented on #34609
Can you provide some sample code that can be copy / pasted to reproduce your problem? BTW you shouldn't need to actually define this function anywhere, it should just be a method you can use on a DataFrame.

[2020-06-05 21:11] CarlosAV91 commented on #34609
Thank you for such a quick reply! The first time I tried to define the function as it is written in the lines above, to no avail. the second time i tried

`import numpy as np
import pandas as pd

df = pd.DataFrame ({'P': [[2,3,4], 'fff', [], [4,5]], 'Q': 2})
df

df = pd.DataFrame({'P': [[2, 3, 4], 'fff', [], [4, 5]], 'Q': 2})
df.explode('P')`

and I got the AttributeError, saying explode is not an

[2020-06-05 21:17] erfannariman commented on #34544
@raphacosta27 are you still working on this? Else I would like too.

[2020-06-05 21:28] rhshadrach commented on #34609
The explode function was added in version 0.25.0 of pandas. Can you check to see what version you have? Try running the following code:

    import pandas as pd
    pd.show_versions()

[2020-06-05 21:43] CarlosAV91 commented on #34609
I am in version 1.0.3

[2020-06-05 21:44] CarlosAV91 commented on #34609
I am in version 1.0.3

[2020-06-05 21:45] rhshadrach commented on #34603
Replacing the last line with:

    df.loc[('a', [1, 0]), :] = df2.loc[[0, 1], :].values

gives the expected output, whereas

    df.loc[('a', [1, 0]), :] = df2.loc[:, :].values

or

    df.loc[('a', [1, 0]), :] = df2.values

does not.

[2020-06-05 21:46] dsaxton commented on #34609
This seems to work on 1.0.3:

[code]

[2020-06-05 21:56] CarlosAV91 commented on #34609
Ok, thank you, @dsaxton . It's at least helpful to see it does work for others. I will keep digging; it could be a different issue why it didn't work for me.

[2020-06-05 22:00] dsaxton commented on #34609
@CarlosAV91 No problem. I'm going to close this for now but feel free to reopen if you feel there's still an issue that needs addressing.

[2020-06-05 22:00] #34609 closed

[2020-06-05 23:03] raphacosta27 commented on #34544
Hi there! I'm out of time, please, go ahead and take it.

[2020-06-05 23:04] #34427 closed

[2020-06-05 23:05] erfannariman commented on #34544
take

[2020-06-06 00:15] wchen928 commented on #34593
Sounds good. I will do that.

[2020-06-06 00:16] ntjess commented on #23750
I am still seeing this error with pandas 1.0.4:

import pandas as pd

[code]
in command line: `pytest ./myFile.py`

[2020-06-06 01:02] wchen928 commented on #34593
I hope I did it right. I am not sure what the 5 tasks are. Do I need to check them off? or the reviewer will check them off? Sorry about the entry-level question... this is my first commit.

[2020-06-06 01:48] dsaxton commented on #34593
You did, for documentation fixes like this most of those boxes don't really apply (and actually checking them off isn't a big deal, more important is the content of the changes)

[2020-06-06 02:34] #22218 closed

[2020-06-06 02:49] wchen928 commented on #34593
Thank you so much for the explanation!

[2020-06-06 05:40] nuka137 commented on #34568
I noticed `pandas.Series.to_markdown` has same argument.
So, I also created PR for it (#34616 ).

[2020-06-06 09:56] simonjayhawkins commented on #34603
Thanks @sbitzer for the report. I _think_ this could be a duplicate of #31330.

[2020-06-06 11:28] kuraga commented on #21353
`glibc.malloc.mxfast` tunable has been introduced in Glibc (https://www.gnu.org/software/libc/manual/html_node/Memory-Allocation-Tunables.html).

[2020-06-06 11:30] frd-glovo opened #34617 "BUG: rolling aggregations not checking monotonic index when grouping by"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-06 12:30] frd-glovo commented on #34617
Btw, before posting I check for similar issues and found this old thread https://github.com/pandas-dev/pandas/issues/15130

I'm not sure why there is no need to validate monotonicity when groupby-rolling?

[2020-06-06 13:20] sbitzer commented on #34603
I'd say #31330 is the underlying problem and the use case presented here gives an example where the consequences are not purely cosmetic, but could lead to wrong results without the user noticing.

[2020-06-06 13:36] simonjayhawkins commented on #34601
@jluttine thanks for the report.

NumPy is used for the interpolation under the hood.

[code]

[2020-06-06 13:44] ketanhdoshi opened #34618 "BUG: Float values get corrupted with df.astype(), for values with no overflow error"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Converting a 'float64' to 'float16' should return the original values, as long as they don't

[2020-06-06 13:54] amir-rafieian commented on #12155
This bug is still exists in 0.25.3 and also 1.0.3

[2020-06-06 15:45] Veronur commented on #34529
so, i did some checking and this is what i found out so far: the problem as shown above happens inside of the libreduction.compute_reduction function. So i checked its arguments and found out the following: the dtypes for the dummy variables just like for nomal strings(object). But the problem seems to be that for the arr variable the dtype is |S# (# being the number of chars on the byte string).

[2020-06-06 16:08] #25200 closed

[2020-06-06 16:10] #23929 closed

[2020-06-06 16:42] twoertwein opened #34620 "BUG: blosc:snappy doesn't seem to be supported with blosc=1.19.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
The following example works with blosc=1.18.1 but fails with the latest blosc (1.19.0)

conda install pandas pytables blosc=1.18

[2020-06-06 16:48] OlivierLuG opened #34621 "BUG: Period constructor does not take into account nanonseconds"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.
---

#### Code Sample, a copy-pastable example:
[code]
output:
[code]

#### Problem description

Nanoseconds are set to `0` when using `to_timestamp`  function.

#### Expected Ou

[2020-06-06 17:45] twoertwein commented on #34620
@akvail found that pytables prefers an external installation of blosc (https://github.com/conda-forge/pytables-feedstock/pull/30) but the conda-forge build of blosc seems to be built with the default configuration that does not provide support for snappy. The anaconda package of blosc supports snappy :)

`conda config --env --add pinned_packages anaconda::blosc`

If blosc is already installed:
`co

[2020-06-06 17:45] #34620 closed

[2020-06-06 18:42] jbrockmendel commented on #33981
can you do this without the try/except?  if some of the files are raising, that would explain why you're getting fewer rows than expected

[2020-06-06 19:18] jorisvandenbossche commented on #23750
@ntjess that warning is not coming from pandas, but from a different package `s3fs`

[2020-06-06 19:28] arw2019 commented on #34506
@alonme Cool! I'll work on a pull request and loop you in!