[2019-03-28 14:13] boardtc opened #25911 "Inner dictionaries are not displaying in insertion order"
#### Code Sample
[code]
#### Problem description

I am using a recent download of Anaconda with Python 3.7.1 & pandas 0.23.4
The [pandas doc](https://pandas-docs.github.io/pandas-docs-travis/getting_started/dsintro.html) says:

I instantiate a pandas DataFrame from a dict with no index passed, and print outputs:

#### Expected Output

[code]

#### Output of `0.23.4``

[code]

[2019-03-28 14:14] vaibhavhrt commented on #25899
The problem with these three are that they already have a comment describing what these variables do. If I add type comment too the line becomes too long:

    _deprecated_options = {}  # type: Dict[str, str]  # holds deprecated option metdata

How should I split it to multiple lines

[2019-03-28 14:22] WillAyd commented on #25899
This comment doesn’t really add much over code so I’d just delete. In other cases could move to a different line.

Sent from my iPhone

[2019-03-28 14:29] jreback commented on #25910
what does the recipe have to do with this? we are installing the released package

[2019-03-28 14:56] h-vetinari commented on #25910
The error is caused by a missing dependency (cf. `ImportError`) - exactly the one that was missing in the recipe. This dependency can be satisfied with conda, so that's IMO a better work-around than removing `pandas-gbq` from testing - this is what I've done in #25912.

[2019-03-28 15:11] Vetrintsev commented on #21080
Another example of the error:
[code]
Traceback:

[2019-03-28 15:39] datapythonista commented on #15556
Btw, you can see the work done with the bootstrap theme here: https://pandas-dev.github.io/pandas-sphinx-theme/pr-datapythonista_base/index.html

In this last version I removed the navigation in the top bar (to test how it looks), but the idea is to have the main sections there.

[2019-03-28 16:19] tswast commented on #25910
The condo package for pandas-gbq 0.8.0 is busted. Sorry about that. I fixed this issue in the second build of 0.9.0 in https://github.com/conda-forge/pandas-gbq-feedstock/commit/4c9a9873e2bc0650784bc0ff0f71b95570a71b8a

[2019-03-28 16:22] tswast commented on #25910
Oh, except I see now that the build failed on that commit. I'll get a new build out soon.

[2019-03-28 16:51] tswast commented on #25910
Reran the [conda-forge build for pandas-gbq-feedstock](https://circleci.com/workflow-run/94daa284-b7f6-4104-bb9f-eb275e07755c) and now the fixed build 1 should actually be published now. https://anaconda.org/conda-forge/pandas-gbq/files?version=0.9.0 Sorry about that!

[2019-03-28 16:54] #25910 closed

[2019-03-28 19:04] mroeschke commented on #25911
Could you test this on the latest version of pandas (0.24.2) and master?

I suspect this check is too strict and should be checking for >PY36

https://github.com/pandas-dev/pandas/blob/31b4019ef290bc55855e079b2b7dddcc39a16fc4/pandas/core/common.py#L230

[2019-03-28 19:09] alexander-ponomaroff commented on #25911
@mroeschke I tested and this also exists on master. I believe that PY36 check also checks for anything above Python 3.6 from what I remember.

I found what causes this issue and will be making a PR later tonight with a fix for this. One of the functions that gets called has a parameter to sort the Index, this is what is causing the order to be sorted here.

[2019-03-28 19:34] WillAyd commented on #15556
What I mean by this is the difference between this screenshot:

<img width="1097" alt="image" src="https://user-images.githubusercontent.com/609873/55186962-076a7c80-5155-11e9-93c6-cf4adafa4d34.png">

And this screenshot:

<img width="1109" alt="image" src="https://user-images.githubusercontent.com/609873/55186976-15b89880-5155-11e9-96e4-aa558c2a547e.png">

Note that in the first screenshot I can

[2019-03-28 20:05] jorisvandenbossche commented on #15556
Take a look at the online version: https://pandas-dev.github.io/pandas-sphinx-theme/pr-readthedocs-theme/user_guide/io.html (that was also the goal of the pandas-sphinx-theme repo, it is set up to build the docs for different themes to easily compare them)

[2019-03-28 20:20] jorisvandenbossche commented on #15556
OK, I see now what you mean (I added it to the online version, should be updated in a few minutes).
If that is something we want, that should not be hard to add to any other theme as well I think. At least for the sidebar, not for the top bar, if those are splitted as in my demo. So you could explore the navigation to the different pages within the user guide without actually going to that page, b

[2019-03-28 20:45] #22501 closed

[2019-03-28 22:38] mroeschke commented on #11428
This looks fixed on master, but as the warning notes this will deprecated in the future.

[code]

[2019-03-29 01:20] simonjayhawkins opened #25917 "display.precision not honored for float valued index names"
see also #17280

#### Code Sample, a copy-pastable example if possible

[code]
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>0.55555555</th>
      <th>0.556</th>
    </tr>
    <tr>
      <th></th>
      <th>0.55555555</th>
      <th>0.556</th>
    </tr>
    <tr>
      <th>0.55555555</th>
      <th>0.55555555</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

[2019-03-29 02:05] ArtificialQualia commented on #25893
After some testing, it doesn't seem to have anything to do with the GIL or using the C-API vs direct malloc/free calls.

It looks like this bug was introduced when separating variable/fixed into separate functions.  For some reason, passing some of the cdef variables to separate functions (likely `starti` and `endi` in this case) are what cause the memory leak.

A simple fix is to just combine the

[2019-03-29 02:32] iamabigstone commented on #25787
Ok, got it solved by adding
[code]
to each subclass of the base class

[2019-03-29 02:32] #25787 closed

[2019-03-29 02:39] WillAyd commented on #25893
Sounds good thanks for investigating @ArtificialQualia !

[2019-03-29 12:11] simonjayhawkins opened #25919 "display.precision not honored for float values in an object index"
see also #17280, #25917

#### Code Sample, a copy-pastable example if possible

[code]

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0.55555555</th>
      <td>0.556</td>
    </tr>
    <tr>
      <th>foo</th>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

#### Problem d

[2019-03-29 12:37] simonjayhawkins opened #25920 "display.precision not honored for float-like values in notebook"
see also #17280, #25917 and #25919

Note: complex numbers are covered by #25514 and #25745 for `to_string()`

#### Code Sample, a copy-pastable example if possible

[code]

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.556</td>
    </tr>
    <tr>
      <th>1</t

[2019-03-29 15:34] pgeez opened #25921 "to_parquet using PyArrow fails silently on S3 errors"
`pandas==0.24.2`

#### Code

[code]

#### Output
[code]

#### Problem description

The PyArrowImpl Parquet writer fails silently when it encounters errors while writing to S3. In the above example, I try writing a parquet file using `engine='pyarrow'` to a phony bucket `some-bogus-bucket` which is causing `boto3` is raising a `NoSuchBucket` exception "under-the-hood." While the write clearly does

[2019-03-29 16:54] WillAyd opened #25923 "Remove Internal Imports from Top Level Pandas Module"
Mostly driven by MyPy (which has it's own import mechanism) we get 67 failures as of now on master for imports coming from the top level pandas namespace:

<details>

[code]

</details>

Specifically with MyPy doing explicit imports of these versus current wildcard helps, as does importing directly from the modules where these are defined.

With MyPy if we wanted to we could always ignore these im

[2019-03-29 17:10] WillAyd commented on #25921
Based off of your second example have you raised this with the pyarrow library?

[2019-03-29 17:12] pgeez commented on #25921
I have not...I will, though.

[2019-03-29 17:27] pgeez commented on #25921
see: https://github.com/apache/arrow/issues/4078

[2019-03-29 22:38] dragoljub commented on #25839
@jreback any chance you can reproduce this slowness? It seems to happen with wide frames.

[2019-03-29 23:25] stuz5000 opened #25927 "pd.Series.loc.__getitem__ promotes to float64 instead of raising KeyError"
#### Code Sample, a copy-pastable example if possible

For:
[code]
If a2b is a series that maps `{int64:int64}` and vals is an `int64` array, the result should be a series that maps  `{int64:int64}`, or a KeyError should be thrown

Pasteable repo:
[code]

What happens:
[code]

#### Problem description

I don't like this behavior because:
 - I have quietly lost all my data due to cast to float64
 -

[2019-03-29 23:38] stuz5000 commented on #25927
Same in 0.23.4

[2019-03-30 01:10] jreback commented on #25927
use .iloc as that is what is designed for selecting by position as the docs indicate: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-position

getitem it falling back here as described http://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#miscellaneous-indexing-faq

this is as expected behavior and is not likely to change

[2019-03-30 03:05] stuz5000 commented on #25927
My series has integer labels, not billions of items.
.loc would be correct and it fails for this also.

This is bug. Please reopen.

[2019-03-30 03:07] stuz5000 commented on #25927
Have update the title and sample to make it clear.

.loc is the correct indexer (integer label, and integer index).

Please reopen.

[2019-03-30 04:48] stuz5000 commented on #18773
FYI: It looks like Cython closed the source issue with const arrays in February.
   https://github.com/cython/cython/issues/1605

[2019-03-30 08:58] rutujar opened #25929 "import pickle"
How to install pickle  in Python3 for ubuntu 16. 04?

[2019-03-30 10:37] jorisvandenbossche commented on #25821
@sparo-jack that's an interesting observation. Normally there should be almost no slowdown when using sqlalchemy.

But I see that you are using a session object. Do you also see this slowdown in you directly pass the sqlalchemy `engine` ?
So something like this:

[code]

[2019-03-30 10:52] itssimon commented on #19917
I'm experiencing the same issue and did some profiling.

I have a very small DataFrame:

[code]

Just adding a `text-align: left` property takes almost 1 second:

[code]

I ran the line profiler and pasted the output [here](https://pastebin.com/raw/ShfAcVGx). As suspected most time is spent in `_update_ctx()`.

@TomAugspurger Could you please reopen the issue? I'm happy to provide more info, just

[2019-03-30 11:06] jreback commented on #25929
closing as not a pandas question

pickle is a built in module for python

[2019-03-30 11:06] #25929 closed

[2019-03-30 11:34] TomAugspurger commented on #19917
Profiling would be helpful.

On Sat, Mar 30, 2019 at 5:52 AM Simon Gurcke <notifications@github.com>
wrote:

[2019-03-30 11:40] TomAugspurger commented on #19917
Ah, I missed that you linked to some. Does set_properties update every cell
in the table? It'd be nice to avoid the
calls to get_indexer in those cases.

[code]

On Sat, Mar 30, 2019 at 6:33 AM Tom Augspurger <tom.augspurger88@gmail.com>
wrote:

[2019-03-30 11:53] itssimon commented on #19917
Yes, it seems that way. Unless you specify the `subset` parameter.

[2019-03-30 12:40] alexcwatt commented on #23986
I believe this can be closed; @TomAugspurger's example does raise an exception now. The dtype is validated with `_validate_dt64_dtype` to ensure it is either `datetime64[ns]` or `DatetimeTZDtype`.

[2019-03-30 16:37] mroeschke commented on #23986
Probably worthwhile to add a regression test.

[2019-03-30 17:12] jreback commented on #25927
this is on master

[code]

prob a bug somewhere, would need investigation by the community

[2019-03-30 17:16] jreback commented on #25923
we *should* always be using the ``pandas.core.frame`` import, but this was never enforced. We have a number of places, to avoid circular imports, where we need to import ``Dataframe`` and/or ``Series`` *inside* functions; these are generally ``from pandas import DataFrame``, but could also be fully specified imports.

Note we *generally* also should/mostly are using ``ABCDataFrame`` et all when me

[2019-03-30 17:26] WillAyd commented on #25923
Great thanks for the direction Jeff.

Yea this issue was mostly spurred by existing places in the code base where we are already importing DataFrame. Good to have this as a standard when we need to add typing to modules where that isn't already explicitly imported though

[2019-03-30 18:53] #24070 closed

[2019-03-30 19:08] #25790 closed

[2019-03-30 19:13] WillAyd opened #25930 "Add Test to Explicitly Check Private Modules Exposed via API"
This is a follow up to this conversation:

https://github.com/pandas-dev/pandas/pull/25884#discussion_r270638199

Want to update test_api to explicitly check private modules that may also be in the namespace

[2019-03-30 19:17] #15306 closed

[2019-03-30 19:17] #25444 closed

[2019-03-30 19:49] TomAugspurger commented on #19917
I could imagine an alternative updater for special cases like updating every value.

Alternatively we could change the per cell dict to a chain map and apply the table properties to a dict shared by each cell, if that is indeed the issue.

[2019-03-30 23:45] #25704 closed

[2019-03-30 23:51] ryankarlos commented on #25930
@WillAyd Can I have a go at this ?  If I understand correctly, the current test checks exclude private modules in the namespace - does the additional test need to go in pandas/tests/api/test_api.py or a separate file with a new Base class which only checks for private modules in the namespace ?  Alternatively i'm guessing a new method check_private could be included with the existing Base class an

[2019-03-30 23:53] WillAyd commented on #25930
@ryankarlos for sure! I think you can just remove the exclusion of private modules and list them out explicitly as part of the existing test

[2019-03-30 23:55] ryankarlos commented on #25930
@WillAyd Thanks, will work on it !

[2019-03-31 00:04] WillAyd opened #25932 "Remove pandas.io.stata from Typing Blacklist"
Here's the list of current errors:

[code]

For the former we should just use absolute imports instead of pulling from top level pandas object (per discussion in #25923). The last issue I think is just a method shadowing a instance variable which I think can safely be removed

[2019-03-31 00:07] WillAyd opened #25933 "Assorted Typing Fixups in pandas.io"
The parquet, packers, html, feather_format, json.table_schema, json.normalize, and json.json could all be removed from the mypy.ini blacklist if we switch them over to absolute imports per the discussion in #25923

Here's the complete list of errors:

[code]

[2019-03-31 00:11] BrittonWinterrose commented on #15556
@jorisvandenbossche The "material" template is beautiful with clean fonts, no crowding, and great readability.  I would pick that one over any of the others in this thread.

I would appeal to avoid updating the documentation to an "RTD" module, as a less-beautiful but familiar "status quo" is still quicker to navigate for most users than a new design.

As someone "new" to data science and programm

[2019-03-31 00:11] WillAyd opened #25934 "Assorted Typing Fixups in pandas.core.reshape"
The tile, merge and concat modules could all be removed from the mypy.ini blacklist if we switch them over to absolute imports per the discussion in #25923

Here's the complete list of errors:

[code]

I'm not 100% sure about the import from pandas._libs so that may be an exception here, but would certainly take a PR for the other two modules at the very least

[2019-03-31 02:49] ryankarlos commented on #25934
I'll work on this

[2019-03-31 02:50] ryankarlos commented on #25933
Ill work on this

[2019-03-31 05:28] ryankarlos commented on #25932
Ill make a PR for this as well since I've already done similar for #25934 and  #25933

[2019-03-31 12:05] pedrovgp commented on #15276
I tried it running sqlalchemy: 1.2.4-py35h14c3975_0 and 1.2.11-py35h7b6447c_0

but I am getting

[2019-03-31 13:38] simonjayhawkins commented on #25919
see also #13021

[2019-03-31 14:22] simonjayhawkins opened #25941 "to_html(col_space=<int>) does not set min-width style correctly."
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description

The `col_space` parameter expects an int..

https://github.com/pandas-dev/pandas/blob/cb89bc0c012a3154fae394a7299e72ec75956c9b/pandas/io/formats/format.py#L47-L48

it should be either px of % for HTML but this raises an error if you try.
[code]
gives `TypeError: '>' not supported between instances of '

[2019-03-31 15:23] gwrome opened #25942 "Add ArrayLike an Dtype definitions to pandas._typing"
The existing type hints in the codebase suggest a couple of easy additions to the pandas._typing module, including

- [ ] ArrayLike = `Union[ABCExtensionArray, np.ndarray]` and
- [ ] Dtype = `Union[str, np.dtype, ExtensionDtype, Type]`.

These should be added to the typing module and the matching types replaced with the newly defined ones where they occur.

Crossreferences: #25829 and #25791.

[2019-03-31 15:35] #25766 closed

[2019-03-31 17:54] dsaxton opened #25944 "Feature suggestion: nullif method"
I know that the `pandas` API is already fairly saturated with methods, but I think one that many users might like would be `nullif` (analogous to the Postgres `nullif` function) as a sort of inverse to `fillna`.  Idea being that if you have a `DataFrame` or `Series` and there are certain values that should be treated as `np.nan` that aren't (e.g., sentinel values, impossible values, etc.), you cou

[2019-03-31 18:00] #23986 closed

[2019-03-31 18:03] jreback commented on #25944
http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.where.html?highlight=where#pandas.Series.where

i suppose we could have a reference to a sql method in the doc string if u were so inclined

[2019-03-31 18:03] #25944 closed

[2019-03-31 19:38] TomAugspurger commented on #25782
I apparently broke something in a refactoring. The benchmarks are being run, but are now served from a different root, `http://pandas.pydata.org/speed/pandas/html/` (append the `/html`). Will figure that out later, unless someone wants to look at https://github.com/TomAugspurger/asv-collection or https://github.com/TomAugspurger/asv-runner before I get to it.

[2019-04-01 02:35] nospoon81 commented on #25048
I am experiencing similar issue when using to_csv to writing dat file to a linux server from my local windows machine. line_terminator does not seem to help.

[2019-04-01 10:24] simonjayhawkins commented on #9784
see also #24841 for fix in to_html

[2019-04-01 11:39] #25930 closed

[2019-04-01 11:51] #25899 closed

[2019-04-01 14:49] swt2c opened #25945 "Unable to open an S3 object with # in the URL"
[code]
#### Problem description

Pandas can't open an object from S3 if it has a # sign in the URL, both in the case where the URL path is percent encoded and not.  The reason is that urllib.parse.urlparse(), which is used in io/s3.py to parse the URL, treats the # sign as the beginning of the URL fragment, and thus it is lost (in the case of not percent encoded).

I see two possible solutions to

[2019-04-01 16:39] WillAyd commented on #25945
Not certain myself - @TomAugspurger may have thoughts but otherwise if you have a proposal in mind feel free to submit a PR

[2019-04-01 16:52] prakhar987 commented on #24975
is there something that can be done to close this issue...I would love to workout a PR if requirements aren't too complicated.

[2019-04-01 17:49] vaibhavhrt opened #25948 "Fix Type Annotations in pandas/_version.py"
Part of #25882

Current errors are as follows:

    pandas\_version.py:51: error: Need type annotation for 'LONG_VERSION_PY'
    pandas\_version.py:52: error: Need type annotation for 'HANDLERS'

[2019-04-01 17:50] vaibhavhrt commented on #25948
@WillAyd I have decided to start from top in mypy.ini so here is the first one.

[2019-04-01 18:36] vaibhavhrt opened #25950 "Fix Type Annotations in pandas/compat/numpy/function.py"
Part of #25882

Current errors are as follows:

    pandas\compat\numpy\function.py:104: error: Need type annotation for 'ARGSORT_DEFAULTS'
    pandas\compat\numpy\function.py:105: error: Cannot determine type of 'ARGSORT_DEFAULTS'
    pandas\compat\numpy\function.py:106: error: Cannot determine type of 'ARGSORT_DEFAULTS'
    pandas\compat\numpy\function.py:107: error: Cannot determine type of 'AR

[2019-04-01 18:36] vaibhavhrt commented on #25950
PR Coming Soon.

[2019-04-01 18:44] WillAyd commented on #25905
Closed via #25888

[2019-04-01 18:44] #25905 closed

[2019-04-01 22:27] #25893 closed

[2019-04-01 23:39] rhstanton opened #25951 "Wrong output from isinstance on dataframes > 10000 lines"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The last print statement displays "False, " but it should be "True." You get the correct output as long as n in the first line is set to a number <= 10000, but the wrong output if n > 10000

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before

[2019-04-02 01:00] WillAyd commented on #25951
I wasn't able to reproduce this. What type is it?

[2019-04-02 01:05] rhstanton commented on #25951
It sets everything to np.int64.

Sent from my mobile device

[2019-04-02 01:09] WillAyd commented on #25951
Your code suggests that isn't happening though?

[2019-04-02 01:12] ArtificialQualia opened #25952 "Fix performance regression with Series operations"
#25743 caused a performance regression with Series operations (mean, sum, etc).  This can be avoided by moving some of the `if`s around so that the additional check is not performed for those operations.

[2019-04-02 01:47] simonjayhawkins opened #25955 "bug in to_html() with formatters=<list> and max_cols"
#### Code Sample, a copy-pastable example if possible

[code]

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>auVRHDVXKo</th>
      <td>0.8480611318869997_mod</td>
      <td>2.4785562034246165_mod</td>
      <td>-1.258639</td>

[2019-04-02 02:49] hudcap commented on #21244
Can this bug please be reopened?

[2019-04-02 03:00] rhstanton commented on #25951
Worse. The first three lines of output show that the type of each column is np.int64. And when I ask the first two columns whether their first element is of this type, they say yes. But when I ask whether the first element of column 3 (‘c’) is of this type, it answers yes if the number of rows is up to 10000, and no if there are more than 10000 rows. This is rather odd…

[2019-04-02 03:02] WillAyd commented on #25951
Hmm well I wasn't able to reproduce given the code sample you provided, which I assume should be failing. Can you try on master to see if it works there?

[2019-04-02 04:30] jreback commented on #21244
if u have a self contained example reproducing with master pls open a new issue

[2019-04-02 05:02] rhstanton commented on #25951
I just installed master, and it shows the same problem.

I also tried downloading and reinstalling the latest Anaconda from scratch (Python 3.7, https://repo.anaconda.com/archive/Anaconda3-2018.12-MacOSX-x86_64.pkg <https://repo.anaconda.com/archive/Anaconda3-2018.12-MacOSX-x86_64.pkg>), and still get the same result. Hopefully that will at least help you recreate the problem.

[2019-04-02 05:03] WillAyd commented on #25951
So what type are you getting if not np.int64?

[2019-04-02 05:09] rhstanton commented on #25951
I have no idea. It tells me it’s np.int64, but when I run isinstance against that type, it returns False.

[2019-04-02 06:44] goriccardo opened #25959 "Series.apply fails when the series is a timezone aware datetime"
To reproduce the problem:
[code]
It works fine if the function to apply returns a scalar instead of a Series:

[code]
or it there is no timezone information in the series.
[code]
The issue is present with pandas 0.24.2, it used to work fine with 0.23.4.

[2019-04-02 06:50] ThomasKluiters commented on #25959
I'd like to pick this up as my first issue to contribute to this repo :)

[2019-04-02 12:36] ThibTrip commented on #11896
This issue seems to still be there with PostgreSQL. Here is a code sample to test this (you'll need to provide your engine and create a schema "python_tests" or set the schema to "public" if you don't mind adding a table there).

As a workaround I will obviously change "%" to "percent". It is actually probably a bad idea to have "%" in a column name anyways so I'd be fine if an error was thrown im

[2019-04-02 13:51] hudcap opened #25960 "UnicodeDecodeError for Stata file"
#### Code Sample, a copy-pastable example if possible

[code]

`mwe.dta` available here: [mwe.zip](https://github.com/pandas-dev/pandas/files/3034141/mwe.zip)
This file is a derivative of [The Supreme Court Database](http://scdb.wustl.edu/_brickFiles/2018_02/SCDB_2018_02_caseCentered_Citation.dta.zip)

#### Problem description
The command raises

[code]

I traced the error to a value label contain

[2019-04-02 14:20] WillAyd commented on #25960
You could probably also leverage `self._encoding` in the class since I see that used elsewhere. PRs welcome

[2019-04-02 14:30] vaibhavhrt commented on #25950
@WillAyd you might wanna add label to this issue too.

[2019-04-02 14:44] hudcap commented on #25960
[code]
@WillAyd from the above method, it seems that `self._encoding` is `'utf-8'` for version 118 files (like mine), so I don't think that will help.
There seems to be some conflict about which encoding these files use (see #21246), and I don't really understand what's going on...

[2019-04-02 14:58] WillAyd commented on #25960
Not familiar enough with stata to guess, but from reading through linked PR it looks like this was intentional to make the encoding strict based off version

@bashtage might have thoughts

[2019-04-02 15:27] bashtage commented on #25960
According to Stata these should be UTF-8.

[code]

[2019-04-02 15:29] bashtage commented on #25960
This file is a [118 format file](https://www.stata.com/help.cgi?dta#labelnames).

[2019-04-02 15:37] hudcap commented on #25960
This character is actually in the `value_label_table` as described [here](https://www.stata.com/help.cgi?dta#value_labels)
The byte in question maps to `'CURRENCY SIGN' (U+00A4)` (according to [fileformat.info](https://www.fileformat.info/info/unicode/char/00a4/index.htm)). I'm not sure why it's not considered valid Unicode. I've been trying to educate myself over the past hour, but this is a real

[2019-04-02 15:41] bashtage commented on #25960
It is a 2-byte encoding in utf-8.

The correctly formatted string should be

`R.C.R.A. (42 U.S.C. \xc2\xa4 1978)`

or just

[code]

[2019-04-02 15:46] hudcap commented on #25960
Thank you.
So does this mean that Stata messed it up?

[2019-04-02 15:51] bashtage commented on #25960
It is not obvious to me. Stata does some undocumented things w.r.t. latin-1 encodings.

This block would make it work.
[code]

[2019-04-02 15:56] bashtage commented on #25960
Further looking says yes, this is invalid unicode.  In particular, 0xA4 is an invalud Unicode encoding, so this qualifies as an undocumented Stata "feature"

[2019-04-02 15:58] rhstanton commented on #25951
More information: If I uninstall numexpr, the problem goes away. Reinstall and it comes back.

Also, I notice that in my original code, even though type() returns np.int64 for all three columns, they produce slightly different results when displayed:

array([0, 0, 0, ..., 0, 0, 0])

array([1, 1, 1, ..., 1, 1, 1])

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

Note the dtype at the end of the last o

[2019-04-02 15:59] hudcap commented on #25960
I can confirm that this works on my end too.
Thank you.

I think I'm starting to get a little more understanding of this.
In UTF-8, anything over 127 should  jump to 2+ bytes, because the one-byte UTF-8 characters can't start with a binary 1. Did I get that right?

[2019-04-02 16:00] bashtage commented on #25960
I fully thing happens for these values:

Correct unicode
`11000010 10100100`

This is read as `000010100100` (since the leading 11 is discarded to incidate a multibyte encoding, and the leading 10 in the second byte is dropped) which is `10100100`.   `0xA4` is also `10100100`.

[2019-04-02 16:02] bashtage commented on #25960
@hudcap That is correct.  When a byte leads with 1 the first buyte must be `11xxxxxx` followed by a sequence of `10yyyyyy` bytes. The next byte that has the form `0zzzzzzz` (ascii point) or `11xxxxxx` (new unicode point) ends the varible encoding.

[2019-04-02 16:25] jreback commented on #25951
the default for array creation on some platforms is int32

pandas is subject to this

[2019-04-02 16:25] jreback commented on #25951
closing as wont fix / not a bug

[2019-04-02 16:25] #25951 closed

[2019-04-02 16:52] bashtage commented on #25960
I would suppose a patch used a try/except as above since this seems like a real Stata issue. I resaved the file using Stata 14.2 and got the same incorrect format.

[2019-04-02 17:07] WillAyd commented on #25911
Discussed this in associated PR but this isn't something we want to make guarantees about. Closing as won't fix / no change

[2019-04-02 17:07] #25911 closed

[2019-04-02 17:25] rhstanton commented on #25951
That may be true, but I don’t think it’s the issue here. When I use type(), it tells me I’m looking at an int64, but then isinstance reports false when I ask if I’m looking at an int64:

<class 'numpy.int64'>

False

In the second statement, what should I replace numpy.int64 with so I get a response of True?

[2019-04-02 17:48] hudcap commented on #25960
What if a string has these invalid Unicode encodings as well as valid UTF-8?
Is there any way to handle that?

[2019-04-02 18:28] shouldsee commented on #12799
It seems "from" is a keyword that triggers renameing

[code]

[2019-04-02 18:40] tzuni commented on #25220
In bioinformatics I have to deal with a LOT of tab-delimited data formats and almost never encounter comma-delimited data so this change has made a very prominent impact in my daily use. I too would like to see `read_table` stick around.

In my view implementing a general case `read_delim` function would make sense with `read_csv` and `read_table` becoming convenience functions to it. This would s

[2019-04-02 19:02] bashtage commented on #25960
If they are not latin1 or ubicode then it will error, which is the right
decision since we don't know what the right value is.

On Tue, Apr 2, 2019, 18:48 Yehuda Davis <notifications@github.com> wrote:

[2019-04-02 19:39] Violet-XiaoWeiHuang commented on #9606
Hello @jreback ,
I'm a new comer to Pandas, I notice there're other timeseries accessors like 'weekofyear'. Do you want me to work on it?
Thank you.

[2019-04-02 20:06] hudcap commented on #25960
Should I make a PR?
I'm fine with that, but it's your fix, and I don't want to step on your toes :)

[2019-04-02 20:20] mschatzow opened #25963 "pytables tslib change in 0.24.2"
I have a  HDFStore that is being generated by pandas0.16.3 and  is attempting to be read by current pandas.  it works in 0.23.4 but in 0.24. it says no module named tslib.  what causes this?

for 0.24.2,
I get this error:

/anaconda/4.5.12/lib/python2.7/site-packages/tables/vlarray.pyc in read(self, start, stop, step)
    823         atom = self.atom
    824         if not hasattr(atom, 'size'):

[2019-04-02 20:56] garmilla opened #25965 "drop_duplicates throws error when series stores numpy array"
#### Code Sample

[code]
#### Problem description

If I add another row with the same value drop_duplicates doesn't throw an exception but fails to remove the duplicate. If I add a third row with the same value it removes only one of the three duplicates.
[code]

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.fina

[2019-04-02 21:15] bashtage commented on #25960
When you open this file in Stata, the bad character shows up as � (U+FFFD), so Stata also doesn't correctly read it (although it does read it).  I also cannot create a file that uses Latin-1 -- Stata correctly always writes unicode C2 A4 for the offending character, and pandas reads it correctly.  I wonder if this dataset was dumped using some other program.

It seems that this file is not a valid

[2019-04-02 21:35] rhstanton commented on #25951
After further investigation, this is an issue with numexpr, so I'll move the discussion over there.

[2019-04-02 21:42] hudcap commented on #25960
Good point -- I completely agree. Given that the file is offered in many different formats, it's reasonable to assume that some other program created it.
In fact, I think that the character is supposed to be C2 A7 (section sign).

I'll correct the file before importing it.
Is there an intelligent way to do this?
I can't simply replace all A4 with C2 A7, because there is at least one other instance

[2019-04-02 22:24] beimingliu opened #25966 "str.contain does not parse "?""
[code]
#### Problem description
The function should return a pandas.DataFrame which has `?` in the column `name`.

This function works well with other punctuations such as `!`, `&` etc.

#### Expected Output

name | input_domain
-- | --
somethingwith? | something.com/
?Iamhere | https://www.url.com

[2019-04-02 22:51] bashtage commented on #25960
Stata can produce these files, even though it is probably a big.  You can reproduce by opening a 117 file with latin-1 characters (ord>127), and then save as 118.  This is how the file above was produced.  The original large dataset is 117 and can be read file.  I made an example file in Stata and have added a fix in #25967

[2019-04-03 00:29] jschendel commented on #25966
`str.contains` uses regex by default, and `'?'` has a special meaning in regex, so you'll need to either use the `regex=False` keyword, or escape the question mark.
[code]
See the documentation for [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html) for additional details.

[2019-04-03 00:29] #25966 closed

[2019-04-03 01:13] jbrockmendel commented on #25959
One more reason EAs should have “tolist” cc @jreback @jorisvandenbossche

[2019-04-03 01:15] cbertinato commented on #25927
This doesn't really look like a bug.  Once a `KeyError` is thrown, you'll never get this far anyway.  Suppose you do and the expected behavior is a `NaN for the extra index.  The Series is dtype `int64` and  NaN is compatible with that dtype so values get cast to float64.  If you want to avoid the cast then use `Int64` instead.

[2019-04-03 01:22] jreback commented on #25927
no this is an issue i think; see how the value is i. the index; but there is a disconnect somewhere after the get_indexer call (way before the erroneous KeyError)

[2019-04-03 01:41] cbertinato commented on #25927
Was there an erroneous KeyError?  The key `10047311000001102` isn't in `a2b`, so the warning given for `a2b.loc[key]` seems appropriate.

[2019-04-03 01:41] yackoa commented on #25945
Based on the analysis by @swt2c , I think the option#1 is the way to go (feel free to correct me if I am wrong).
I can start working on this issue & submit a PR with the changed code soon if that's ok.

[2019-04-03 01:57] stuz5000 commented on #25927
There was no KeyError.
For other examples of missing input a KeyError is thrown.

On Tue, Apr 2, 2019 at 6:41 PM Chris Bertinato <notifications@github.com>
wrote:

[2019-04-03 02:44] boydgreenfield opened #25969 "Series iteration and to_dict methods *sometimes* return underlying storage type vs. Python object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`pd.Series.to_dict` can return different types for objects depending on the composition of the series. This also affects iteration, e.g., `for k, v in series: ...`. This is inconsistent and, critically, leads to really weird and hard to debug issues downstream with types, especially around JSON conversion (the b

[2019-04-03 03:06] sparo-jack commented on #25821
@jorisvandenbossche I test different ways and got following results:
pd.read_sql(sql, engine) > pd.read_sql(sql, session.bind)  > pd.read_sql(sql, con=engine.connect()) >

[2019-04-03 05:05] ThomasKluiters commented on #25959
Then would the better fix be to just implement tolist for extension arrays?

[2019-04-03 07:44] wangweichao0403 commented on #15354
agree and support this feature too

[2019-04-03 08:44] krolikowskib opened #25970 "value_counts unexpected behaviour - bins and dropna"
#### Code Sample, a copy-pastable example if possible

#### 1st example:

Input:
[code]

Output:
[code]

Expected output:
[code]

#### 2nd example:

Input:
[code]

Output:
[code]

Expected Output:
[code]

#### Problem description
dropna argument in value_counts() seems to have no effect when bins is not None. Expected behaviour is better, because it sums up shares up to 1 when dropna=True and show

[2019-04-03 09:12] KeithWM opened #25971 "Groupby on single key should be accessible by tuple of length 1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I would like to use a dictionary of arbitrary length to select certain groups from a DataFrame, but if I group by a single key, it won't accept a tuple of length 1 as the key value.

#### Expected Output

I expect the second call to the function to return a DataFrame containing those values for which col1 == 1.

[2019-04-03 10:07] simonjayhawkins commented on #12799
@shouldsee : that's right. `from` is a Python keyword. fieldnames of a namedtuple cannot be a Python keyword. https://docs.python.org/3/library/collections.html?highlight=namedtuple#collections.namedtuple.

[code]

perhaps the pandas documentation could be changed from

[code]

to

[code]

[2019-04-03 10:17] trendelkampschroer opened #25972 "Unexpected behaviour of numpy.ufuncs for all NaN DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The AttributeError raised by calling a numpy.ufunc on a DataFrame with object columns containing NaN values is completely uninformative about the problem.

The error suggest that the namespace `np` is assigned to a float during execution of that numpy.ufunc. This shouldn't happen in any case.

The error can be o

[2019-04-03 10:46] shouldsee commented on #12799
Dear @Simon

Many thanks for the note! I did not realise that Pandas is using collections.namedtuple() for df.itertuples() -- I have used found itertuples() very useful in creating iterator of dictionaries with

[code]

Can we possibly add a itertuples(as_dict=True) subroutine?

Kind regards
Feng

[2019-04-03 11:48] kimsey0 commented on #11823
I've just been hit by this bug as well. I expected `pd.read_csv('pandas.csv', header=0, usecols=['A', 'B'])` to give the same result as `pd.read_csv('pandas.csv', header=0)` for a CSV file:

[code]

I understand why this can't be changed now due to backwards compatibility, but it would at least be nice to document for parameter `usecols`.

[2019-04-03 11:55] simonjayhawkins commented on #12799
i'm assuming you have a large DataFrame and that `.to_dict(orient='records')` doesn't serve your purpose. If so can you open a new issue for this.

[2019-04-03 12:08] markroxor commented on #20639
So effectively `inplace` reduces the extra step and that's the only difference? No gain in terms of resources used? @jreback

[2019-04-03 12:21] GreybeardCG commented on #25882
@WillAyd I've been studying a few of these files and related contributions today and was wondering if there are any catches I need to know about when fixing these mypy violations.
As an example: in array_.py:231 adding dtype = cast(ExtensionDtype, dtype)" seems the least intrusive. However, I saw that typing was [added to this file partially already](https://github.com/pandas-dev/pandas/pull/25829

[2019-04-03 12:22] simonjayhawkins commented on #12799
you'll probably get a better solution if you ask on SO, but for single-level indexes something like...
[code]

[2019-04-03 12:23] shouldsee opened #25973 "[featureRequest]"
### Code

Can we have a method that returns an iterator of dictionary instead of tuples? Something like

[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.12.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.0-143-generic
machine: x86_64
processor: x86_64
byteord

[2019-04-03 12:29] shouldsee commented on #12799
It was mainly for syntax reason that I wanted iterdicts(), so not particularly fussed with its performance yet. See #25973

[2019-04-03 12:31] WillAyd commented on #25882
Have you merged master?

[2019-04-03 12:33] WillAyd commented on #25971
I think this is a duplicate we already closed. Can you check

Sent from my iPhone

[2019-04-03 12:52] simonjayhawkins commented on #25973
DataFrame.to_dict(orient='records') currently returns a list. An alternative maybe to return an iterator. Or, to avoid a breaking api change, an additional orient method that maybe also includes the index.

[2019-04-03 12:57] vaibhavhrt opened #25974 "Add dependency typing_extensions for type hints"
[Typing Extensions](https://pypi.org/project/typing-extensions/) – Backported and Experimental Type Hints for Python.

To make use of Type Hints only available in python 3.7 and some other Experimental Type Hints (like `Final`) this package is required. Discussion in #25961

[2019-04-03 12:58] vaibhavhrt commented on #25974
Related to #25601 .
PR Coming Soon.

[2019-04-03 13:01] GreybeardCG commented on #25882
@WillAyd Yes, I'm on the latest upstream/master.

[2019-04-03 13:06] WillAyd commented on #25882
Sorry misread comment. We’ve had a few things on one of which was simply to compat syntax to Py3 annotation

For the module you mentioned we did that but haven’t focused on actually fixing the errors. If you still see some and want to submit a PR would certainly be welcome

[2019-04-03 13:18] GreybeardCG commented on #25882
@WillAyd All clear then! I'll keep working on it.

[2019-04-03 15:37] simonjayhawkins commented on #12222
this is fixed in master. now only needs a test to close issue.

[code]

[2019-04-03 17:38] cbertinato commented on #25927
I see the `KeyError` with `__getitem__`, but the message given when trying `a2b.loc[key]` indicates that, while no error is thrown now, it will be in the future.  It seems to me that, while the current behavior is not ideal, it is expected.

But I'm still trying to sleuth out whether there's another issue here.   @jreback do you mean that because one of the labels in `key` is not in `a2b`, then th

[2019-04-03 17:46] brendanq3 commented on #11508
Following up on this though, this presents an annoying issue if you do want to exclude rows based on what the index would look like when run through read_csv (so that the first non-header row is indexed 0).

We had a process in which we had to upload a few columns from a CSV to THEN determine which rows from the same CSV we wanted all columns for.

The solution we had to use was:

[code]

Is there

[2019-04-03 19:17] jbrockmendel commented on #25959
Implementing tolist can wait for now.

[2019-04-03 19:20] dougthor42 opened #25978 "The error when as_datetime acts on multiple timezones is not useful"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Throwing `RuntimeError` does not give the user any feedback on how to fix things. The correct way to fix this is to add `utc=True`:

[code]

#### Expected Output

The error message should be more descriptive, perhaps something like:

[code]

The above is the same error provided by `pandas._libs.tslibs.conversio

[2019-04-03 19:26] stuz5000 commented on #25927
@cbertinato  My apologies - I missed that a warning was being printed, and I had to do some digging to find the case where KeyError *was* thrown:

[code]

So it seems the behavior is: if ALL of the query labels are not in series's index, only then is a KeyError thrown. Otherwise, its promotion to float. Is expected? Not sure. But it sure is strange behavior:

1) It leaves the caller unsure whether

[2019-04-03 19:34] cbertinato commented on #25927
For the cases where the `result.values` is promoted to float, then I think the answer is "yes", eventually a KeyError will be thrown.  It's just not implemented, but as the warning states, it will be in the future.

[2019-04-03 19:36] tzuni commented on #25892
Modifying the contents of a groupby object is akin to modifying the contents of a collection you are iterating over. It's in general unpredictable and considered bad practice.

In general, `apply` functions are not intended to modify in place the thing on which they are applied. The established pattern is:

`newthing = thing.apply(func)`

if you want to sort a column you assign the sorted version

[2019-04-03 20:06] TomAugspurger commented on #25972
Check your dtypes: you're basically doing

[code]

which isn't valid.

[2019-04-03 20:18] jimmyswimmy opened #25979 "pip install error on arm7l (beaglebone)"
Hi,

Pandas install fails on a beaglebone (I know, I know, use miniconda, but I would like to not do that). It dies with some kind of utter gcc failure building pandas/_libs/join.c which... does not exist.

$ sudo pip install pandas
[see pastebin for full log](https://pastebin.com/PqEdW0Hs)
    building 'pandas._libs.join' extension
    arm-linux-gnueabihf-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wal

[2019-04-03 20:21] jreback commented on #25979
we have 0 support for arm, that said would take patches if they are compabitle.

[2019-04-03 20:21] #25979 closed

[2019-04-03 20:28] #19361 closed

[2019-04-03 20:31] #25902 closed

[2019-04-03 20:34] geoffrey-eisenbarth commented on #22773
Has there been any progress on this? I ended up just changing the new ``header_style`` property to return ``None`` in the source so I can to have full control of formatting with XlsxWriter. Not ideal, but gives me what I need for now.

Is there a more appropriate way to do this?

[2019-04-03 20:49] stuz5000 commented on #25927
Tracked down an open: duplicate:
https://github.com/pandas-dev/pandas/issues/22252

[2019-04-03 20:52] stuz5000 commented on #25927
Related? (seems similar but different  https://github.com/pandas-dev/pandas/issues/22252 )

[2019-04-03 21:00] tswast commented on #25843
Interesting that `tz_localize` is more idiomatic. It seemed much more natural to me to set the `dtype` once at construction time. I had a bear of a time in https://github.com/pydata/pandas-gbq/pull/263 trying to get pandas versions before 0.24 to act the same as 0.24 regarding `datetime64[ns]`, but it seems earlier versions don't like getting `DatetimeTZDtype` as a `dtype`.

[2019-04-03 21:18] WillAyd commented on #22773
No community PRs against it to date - would certainly welcome a contribution from you if you’d like to try

Sent from my iPhone

[2019-04-03 21:35] mroeschke commented on #25843
Exactly, the reason I'd say more idiomatic is because the timezone conversion process is a lot more robust and explicit with the `tz_localize/tz_convert` methods.

I don't think as much care has been given to ensure that correct timezone conversion process occurs when using `dtype`s

[2019-04-03 22:10] mroeschke commented on #25978
So the presence of `pd.Timestamp("1990-01-01")` causes this error to raise.

[code]

This parsing goes down the `array_to_datetime_object` path where it assume all incoming objects are string-like or null-like. In this case, datetime-like objects should be let through since that the expected return type, so I'd call this a bug.

[2019-04-03 22:46] jimmyswimmy commented on #25979
OK, I thought I read an issue where you decided to maintain 32 bit compatibility because of a perceived importance of the rpi/beagle/other communities. In any event the installation failure derives from the compiler losing its mind when it runs out of memory, and giving a useless error. Adding some temporary swap lets pandas 0.24.2 install fine. Thanks for the support.

[2019-04-03 22:52] mroeschke commented on #25978
Actually I agree with your assessment @dougthor42, this should raise the `ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True` error.

[2019-04-04 00:11] simonjayhawkins commented on #23820
i'll aim to put a draft PR together for the deprecation shortly.

I'd like to have a base class for to_html that is shared with NotebookFormatter rather than the current situation where HTMLFormatter is the base class of NotebookFormatter.

Having notebook parameter in to_html() method effectively means that all the functionality of to_html has to be available with notebook=True option and limits

[2019-04-04 00:43] geoffrey-eisenbarth commented on #22773
I would love to contribute, I'll look more into the relevant code tonight and tomorrow.

[2019-04-04 01:13] mroeschke commented on #25973
In addition to @simonjayhawkins suggestion:

You can using the `_asdict()` method on the namedtuples returned by `itertuples`

Or just create a dict from the other iterator methods:

[code]

Personally -1 on adding another iterator method.

[2019-04-04 01:21] simonjayhawkins commented on #25973
@mroeschke : I think the issue is that this case is a corner case that sits between the current options, named tuples do not handle Python keywords, underscores etc, itterrows does not preserver dtypes and to_dict(orient=records) does the dataFrame at once and doesn't give the index values. also .to_records is not an generator.

[2019-04-04 01:24] WillAyd commented on #25973
Having a dict iterator is going to have corner cases as well, like the fact that we allow duplicate column names and don't require labels to be hashable

Iteration isn't something I think we really need to build a huge API out for with DataFrames, so I'd also be -1 here

[2019-04-04 01:34] simonjayhawkins commented on #25973
I agree that more methods is undesirable, but it may be worth keeping this issue open to discuss improvements to the current available methods to reduce the gaps.

for instance, the itertuples maybe should not rename by default and have a rename parameter, so that in the event of an invalid field name a friendly Exception is raised, if no exception safe to continue with creating dict, if exception

[2019-04-04 01:41] mroeschke commented on #25970
Here's the relevant section of code:

https://github.com/pandas-dev/pandas/blob/caad3b5e566d74d5cf0a018378d71625c30bf145/pandas/core/algorithms.py#L685-L696

So it appears that the normalization scheme and the exclusion of nan in the index were intentional design decisions. Not sure of the original premise @jreback

[2019-04-04 01:59] mroeschke commented on #25969
This probably occurs because `s2` is object dtype and it's trying to preserve the dtype of each input argument while the arguments in `s1` can both be coerced to `int64`.

Investigation and PR's welcome~

[2019-04-04 02:02] WillAyd commented on #25892
Right the first group appearing more than once should have been resolved in #24748 and comments above provide good comment with respect to modifications made during iteration.

[2019-04-04 02:02] WillAyd commented on #25892
Closing as no action

[2019-04-04 02:02] #25892 closed

[2019-04-04 02:03] mroeschke commented on #25965
pandas doesn't have first class support for storing & operating on non-scalar data. This would be appropriate for an ExtensionArray that knows how to operate on 1D data structures.

[2019-04-04 03:43] jschendel opened #25984 "BUG: Series/DataFrame with IntervalIndex doesn't display NaN in index"
#### Code Sample, a copy-pastable example if possible
The index in `Out[3]` is does not display `NaN`:
[code]
Note that this isn't an issue when the `Series` has `Interval` values, or when printing the index itself:
[code]
This does not appear to be an issue with other types of index and was working in 0.23.4.

#### Problem description
The output index in `Out[3]` is missing `NaN` for the second e

[2019-04-04 03:56] jschendel commented on #25970
**1st example**
The comment on line 695 seems to indicate that this is the expected behavior, but this is actually inconsistent with the behavior when `bins` is not specified:

[code]
It seems like this should be consistent across the board regardless of `bins`.

**2nd example**
Removing line 687 seems to make things work as expected, as removing nan is already handled by the `dropna` parameter on

[2019-04-04 05:38] vino1493 commented on #22334
This issue still persists! In my case, I'm seeing some `xticks` but not all of them for `line` and `area` plots. In case of `bar` and `barh`, things work correctly.

[2019-04-04 08:02] WillAyd commented on #25791
Closed via #25884

[2019-04-04 08:02] #25791 closed

[2019-04-04 08:48] lanchc opened #25985 "/usr/local/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison result = method(y)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-04-04 10:41] DanMargetts opened #25986 "Cannot tell usecols to ignore missing columns"
#### Code Sample

[code]
#### Problem description
When specifying usecols to reduce the amount of data loaded, read_csv fails if the columns do not exist.  This is not always desired, especially when reading a large number of files that may have varying columns.

There should be an option to suppress this and allow usecols to cut-down columns without enforcing their presence.

#### Current Output

[2019-04-04 10:54] jreback commented on #25986
update the issue with a show_versions() and an actual example

[2019-04-04 10:56] jreback commented on #25985
update with show_versions() and an actual example

[2019-04-04 11:31] AshWan13 opened #25987 "[ERROR] [1554376470.080690740]: Timeout or error while sending command"
Hi, I have been trying to set-up terabee multiflex sensors and had encountered this error.
Hope to get some help in solving this. Thank you!

** Just some background information, I have been trying to modify from the kobuki_bringup launch file and adapting the use of the multiflex to the application of my robot.

![problem ask](https://user-images.githubusercontent.com/49274559/55552542-357d2d00-5

[2019-04-04 11:55] DanMargetts commented on #25986
Done

[2019-04-04 12:49] jreback commented on #25986
see the docs: http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#csv-text-files

you can pass a callable to ``usecols``, IIRC @gfyoung we have an example of this somewhere?

[2019-04-04 12:49] jreback commented on #25987
nothing to do with pandas

[2019-04-04 12:49] #25987 closed

[2019-04-04 12:51] #25960 closed

[2019-04-04 12:56] #25948 closed

[2019-04-04 13:19] AshWan13 commented on #25987
Sorry, I'm new here. Didn't realized the mistake. Thanks!

[2019-04-04 13:27] chris-b1 commented on #25986
See the example here
http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#column-and-index-locations-and-names

I do think a callable to usecols is the right way to handle this - `read_csv` already has a ton of params and this is relatively simple to customize exactly how you want.

[code]

[2019-04-04 13:27] #25986 closed

[2019-04-04 13:30] vaibhavhrt opened #25988 "Fix Type Annotation in pandas.compat.pickle_compat"
Part of #25882

Current errors are as follows:

    pandas\compat\pickle_compat.py:141: error: Name 'pkl._Unpickler' is not defined

[2019-04-04 13:31] vaibhavhrt commented on #25988
PR coming as soon as figure out how to fix this.

[2019-04-04 14:08] vaibhavhrt commented on #25988
Looks like a bug with mypy because `_Unpickler`is certainly a class in module `pickle`.
Similar to https://github.com/python/mypy/issues/6383
Only solution I can find is:

    class Unpickler(pkl._Unpickler):  # type: ignore

@WillAyd what should I do?

[2019-04-04 14:45] dougthor42 commented on #25978
Good catch! Though I could have sworn my testing didn't include that... ah well!

Glad to hear that it's an actionable item.

[2019-04-04 17:50] WillAyd commented on #25988
I don't think it's a bug - the stdlib just doesn't have annotations for pickle yet and that private class is not exposed in Typeshed. I think ignore is the only option for now

[2019-04-04 18:20] vaibhavhrt commented on #25988
Ok, I will open a PR

[2019-04-04 19:45] gfyoung commented on #25986
A little late to the party here, but I agree with @chris-b1 on this.  We have an example here:

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#filtering-columns-usecols

[2019-04-04 20:12] #25988 closed

[2019-04-04 20:13] DanMargetts commented on #25986
Ah validate_usecols is only applied when usecols_dtype == 'string'.  Now I think about it that makes sense. Thank you.

It would have been helpful to read this somewhere - hopefully this now provides a reference.

[2019-04-04 20:13] #25978 closed

[2019-04-04 20:18] #17280 closed

[2019-04-04 20:26] KeithWM commented on #25971
I did do a search for similar issues, naturally, but did not find anything. I will have a more thorough search and let you know whether I find anything.

[2019-04-04 23:19] cbertinato commented on #25927
It is similar.  In both cases, the promotion to float is expected, but the message in 1 of that issue does seem misplaced.

[2019-04-05 00:04] #25772 closed

[2019-04-05 00:27] jreback commented on #25167
closed by #25908

[2019-04-05 00:27] #25167 closed

[2019-04-05 00:40] #24011 closed

[2019-04-05 00:42] #23923 closed

[2019-04-05 00:42] #24498 closed

[2019-04-05 00:45] #25691 closed

[2019-04-05 02:25] #25984 closed

[2019-04-05 02:32] jreback opened #25995 "BLD: build warnings"
some warnings I am seeing; I think these are somewhat recently introduced.

[code]

[code]

[2019-04-05 02:44] aaalex5 commented on #25955
Would this be an issue that I could attempt to work on? I would be a first time contributor, but none of the good-first-issue posts are available at the moment.

[2019-04-05 02:55] naught101 opened #25996 "KeyErrors are inconsistent and too verbose"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The last example is kind of irrelevant, but the 2nd and 5th example are annoying, because it is often useful to catch KeyErrors, and use their values to return nice error messages. That's difficult with this output.

Also they are slightly misleading, as I didn't pass and index as the indexer, so it is potenti

[2019-04-05 06:54] jorisvandenbossche commented on #10470
The compat version has been removed (https://github.com/pandas-dev/pandas/pull/25954), so this can be closed.

[2019-04-05 06:54] #10470 closed

[2019-04-05 08:48] jorisvandenbossche commented on #12694
Going through some argsort/sorting issues, and I also stumbled on this. I agree with @seth-p that the current implementation of `Series.argsort` is very strange and basically useless.
(and yes, even if Series.argsort behaved normally, you should almost never have to use it as you can use `sort_values`, `nsmallest`, etc directly. But the method does exist, so then at least it should make sense)

It

[2019-04-05 09:03] jorisvandenbossche commented on #21801
Some examples on this

Numpy sorts NaNs last:

[code]

Categorical already existed for a long time, and has this "NaN first" behaviour

[code]

Inconsistent here is that Categorical also has a `sort_values` method (which other EAs don't have) which puts NaNs last by default:

[code]

The new IntegerArray (and also the datetimelike arrays) copied this behaviour from Categorical:

[code]

On the oth

[2019-04-05 09:19] jorisvandenbossche commented on #21801
I would say ideally, we would follow the "NaN last" behaviour (consistent with numpy's argsort + consistent with the default of `sort_values` in pandas).

The main question would be how to get there: can we just change this? (that would be a hard breaking change, but maybe we can do it for the recent EAs?) How could we deprecate it? When deprecating, we want a way for users to already get the futu

[2019-04-05 09:25] jorisvandenbossche commented on #25996
@naught101 thanks for the report! I agree that it would be nice to make those messages a bit more consistent and easier to read.

Can you make the code snippet reproducible? (eg you can just add a first line creating a dummy DataFrame `df`, you can also use easier column names like 'a', 'b', ..)
Further, it seems that case 4 and 5 have the same code but a different output? Is there a typo somewher

[2019-04-05 09:32] jorisvandenbossche commented on #25972
This is the behaviour of numpy with object dtype. A pure numpy example:

[code]

This can certainly be more confusing from the pandas side (eg if you are not aware that you have object dtype data), but as @TomAugspurger says, in the end this is a numpy issue.

Although, I suppose if we implement `__array_ufunc__`, we could in principle raise another error for object dtypes (simply saying that it i

[2019-04-05 10:36] simonjayhawkins opened #25998 "CI Failue"
i'll come back and edit the tittle and add a code sample

due to interaction of #25993 and #25983

[2019-04-05 10:53] jreback commented on #25998
I reverted the commit for: https://github.com/pandas-dev/pandas/pull/25983, pls resubmit when you have a chance.

[2019-04-05 10:53] #25998 closed

[2019-04-05 11:19] stepfencurryxiao opened #25999 "A problem"
Hello
I use Python 3.7 to report errors when running this module:
[code]
Operation error reporting
[code]
How to solve it? Help me. Thank you.

[2019-04-05 12:01] Lay4U opened #26001 "Question. how to reshape in pandas dataframe?"
Dataframe looks like below

![image](https://user-images.githubusercontent.com/31833270/55626163-bb1edc80-57e5-11e9-9807-ebc69ff5915a.png)

I have dataframe like above.  which I want to a~t reshape `(a~t, 1)`

I want to reshape dataframe like below ( b~t column is go to under the a column)

[code]

like `df = df.reshape(len(data2)*a~t, 1)`

i tried pd.melt but It does not work well.

[code]
is rem

[2019-04-05 12:13] simonjayhawkins commented on #25984
@jschendel : in 0.23.4 the missing values were displayed as `nan` in an `IntervalIndex` and the repr of the index itself and only print as `NaN` in a column of values with dtype `object`

[code]

[2019-04-05 12:37] cmorph1 commented on #25733
Hi, Is this still open?

[2019-04-05 13:09] simonjayhawkins opened #26002 "additional leading space when using formatters on object column"
#### Code Sample, a copy-pastable example if possible

code sample adapted from `test_to_string_with_formatters` in `pandas\tests\io\formats\test_format.py`

[code]

[code]
#### Problem description

2 spaces between float and object columns, only 1 between int and float

#### Expected Output

even spacing

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
comm

[2019-04-05 13:23] aldanor commented on #21970
Yes, this messes thing up quite often and columns where strings get longer towards the end of the data may get messed up and truncated.

[2019-04-05 13:53] jorisvandenbossche commented on #26001
@Lay4U the github issues are meant for reporting potential bugs / enhancement requests, and not for general questions for help (but of course, the line between both is not always clear). For general usage questions, a Q&A forum like [StackOverflow](https://stackoverflow.com/questions/tagged/pandas) or the [pydata mailing list](https://groups.google.com/forum/#!forum/pydata) is a better place to as

[2019-04-05 13:54] jorisvandenbossche commented on #25999
@stepfencurryxiao the github issues are meant for reporting potential bugs / enhancement requests, and not for general questions for help (but of course, the line between both is not always clear). For general usage questions, a Q&A forum like [StackOverflow](https://stackoverflow.com/questions/tagged/pandas) or the [pydata mailing list](https://groups.google.com/forum/#!forum/pydata) is a better

[2019-04-05 14:17] harmbuisman commented on #21244
Thanks, this fixed my issue. Not sure why this issue is closed while the problem is still around, even though the issue doesn't contain the dataset to reproduce this. Problem description seems quite clear to me.

[2019-04-05 14:36] jorisvandenbossche commented on #25821
Can you give the exact timings as you did above? Do you also see such a large difference between using the raw mysql connection object and the sqlalchemy engine?

I don't have mysql, but with a test for sqlite and postgresql, I only see a limited slowdown when going from raw connection to sqlalchemy engine (27 to 30 ms for sqlite, 58 to 64 ms for postgres, using a database of 6 columns and 10000 r

[2019-04-05 14:47] jorisvandenbossche commented on #21244
To all: this has been fixed by @bashtage with a fallback + warning in https://github.com/pandas-dev/pandas/pull/25967

[2019-04-05 14:51] jorisvandenbossche commented on #25048
@nospoon81 can you give a bit more details? The new explanation added in https://github.com/pandas-dev/pandas/pull/25624 does not help?

[2019-04-05 14:52] palnabarun commented on #6508
Hi everyone,

Is there a timeline when will this feature be released?

[2019-04-05 14:55] beojan commented on #6508
I think it's done in master, given the commit mentioned above.

[2019-04-05 15:00] #26001 closed

[2019-04-05 15:09] bashtage commented on #21244
@harmbuisman I was hard to produce a dataset that has this characteristic since it can only be produced due to a bug in Stata. Stata incorrectly writes latin-1 encoded 117 format files with latin-1 encoding when saving as 118.  This doesn't happen if a new file is created and then saved to 118 format.

[2019-04-05 15:10] bashtage commented on #21244
If this bug can be reproduced using master, please make sure you share a datafile (it could be a small extraction from a larger file, as long as the small extraction reproduced the issue), so that the structure of the file can be inspected.

[2019-04-05 16:10] jreback commented on #6508
this will be in 0.25 - prob in a month or 2

[2019-04-05 16:54] #25851 closed

[2019-04-05 17:11] mroeschke commented on #25999
As your error states, double check that `File` is specified correctly. And as @jorisvandenbossche mentioned, please directly further usage questions to the suggested fora.

[2019-04-05 17:11] #25999 closed

[2019-04-05 17:32] ArtificialQualia commented on #25734
#25853 closes this @mroeschke

[2019-04-05 17:52] #25734 closed

[2019-04-05 18:38] BryanCutler opened #26003 "DOC: Fix docstring for assert_frame_equal examples"
#### Problem description

The docstring for assert_frame_equals examples is not formatted correctly.

The example section of the docstring for `pandas.util.testing.assert_frame_equal` is not formatted correctly and causes them to be displayed wrong. There needs to be some added newlines to separate the code blocks.

[code]
see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testi

[2019-04-05 19:40] hwalinga commented on #6508
Don't want to ruin the fun, but to prevent any disappointments: Pandas 0.25 will only be available for Python3. Also see https://pandas-docs.github.io/pandas-docs-travis/install.html#install-dropping-27

[2019-04-05 22:01] pshargo opened #26005 "offset-based rolling window, multiple issues with closed='left'"
#### Code Sample

[code]
#### Problem description

Obviously, the exception cases are a big problem and should be addressed. The other cases laid out here seem to give unexpected results that are inconsistent with other aggregations (such as mean and sum) that do seem to be operating correctly. Note that using closed='right' or closed='both' does seem to give results consistent with my expectation

[2019-04-05 22:25] williamsmj opened #26006 "Set pandas options without importing pandas or editing library code"
Does pandas provide a way to set its options without importing the module?

I've seen the advice to add something like this to the iPython startup:
[code]
this works in iPython and notebooks, but has a couple of problems for my use case:

1. It doesn't help for scripts run with `$ python my_pandas_script.py` because `python` obviously doesn't run the iPython startup stuff.
2. It leaves `pandas` in

[2019-04-05 22:47] gwrome commented on #25882
@WillAyd I've run into a few cases where we should use an old style type hint for a global variable to maintain pre-3.6 compatibility, but the appropriate hint is just too long for the line. I haven't been able to find any documented way to break a variable's type hint across lines or put it on another line.

Any ideas?

For example in pandas/compat/numpy/function.py:105 we want something like
[co

[2019-04-05 23:16] stepfencurryxiao commented on #25999
My address is copied on the computer. It should be correct.

[2019-04-05 23:21] simonjayhawkins commented on #25999
the `CNY0704/05/19.csv` bit looks iffy as does `.strftime("Y%M%D")`

[2019-04-05 23:38] stepfencurryxiao commented on #25999
Yeah, I don't know why.

[2019-04-05 23:42] mj1856 opened #26007 "Leap year bug in tseries/holiday.py"
Hello.  I found a leap year bug for you.  Hopefully you can fix before Feb 29th 2020 comes around.

https://github.com/pandas-dev/pandas/blob/181f972d2f4e6bd5c8c33721175f68188cfa1a0d/pandas/tseries/holiday.py#L251-L255

The problem here is that if either `start_date.year - 1` or `end_date.year + 1` give a *common* year, and `self.month` is `2` and `self.day` is `29`, then the `datetime` constructo

[2019-04-05 23:47] jreback commented on #26007
pls show a reproducible example
and show_versions()

[2019-04-05 23:49] anordin95 commented on #11428
Does this still need unit testing? I'm new to working on pandas and I'm not sure if I'd be doing redundant work here.

[2019-04-05 23:50] anordin95 commented on #22334
I'm going to take a crack at this. If anyone else is trying as well let me know!

[2019-04-05 23:53] mroeschke commented on #11428
Sure. Feel free to add a unit test for this.

[2019-04-06 00:02] Naddiseo commented on #25882
@gwrome https://github.com/python/mypy/issues/4511 might be of use

tldr: type alias, or backslash at end of line

[2019-04-06 02:19] mj1856 commented on #26007
Will provide a failure case example soon.  Just wanted to log it with you in the meantime before I forgot.  Thanks.

[2019-04-06 04:42] palnabarun commented on #6508
@jreback Thanks for the information. I saw that the 0.25.0 milestone is due for May 1.

@hwalinga No worries. This will be used in Python3 only codebase.

[2019-04-06 04:58] #26003 closed

[2019-04-06 05:05] WillAyd commented on #26006
I think you are looking for the feature requested in #4907 so feel free to contribute to that conversation. Closing this as a duplicate

[2019-04-06 05:05] #26006 closed

[2019-04-06 05:13] WillAyd commented on #25733
@cmorph1 it is still open. There was a PR against it which may have been stalled (no updates in over 2 weeks) so feel free to pick up where that left off

[2019-04-06 06:47] radulylaszlo1 opened #26009 "Pandas drop_duplicates -> Fatal Python error: deallocating None"
I have a code that checks an Excel sheet, and if it finds some changes, then takes a snapshot (Pandas Dataframe) of the whole sheet and saves it to a csv with a timestamp. It has been running all day doing it's job correctly, but usually once or twice a day I got the error message below:

[code]

This is the code which causes the freeze:

[code]
Here is the full code if it helps: https://www.codep

[2019-04-06 08:15] harshit-ag commented on #19827
can i work on this issue ?

[2019-04-06 08:55] Tarun-abesit commented on #22334
Hey everyone I want to contribute my solution to this issue. Can I??

[2019-04-06 08:56] joseortiz3 opened #26011 "Groupby('colname').nth(0) results in index with duplicate entries if 'colname' has a np.NaN value"
#### Code Sample

[code]
#### Problem description

A `df.groupby('colname').nth(0)` operation should return a new data-frame with an index that contains no duplicates; each unique `colname` will become a single value in the resulting index.

However if the column labeled `colname` contains a `np.NaN` value, instead of this `np.NaN` value becoming its own unique value in the index or simply ignored

[2019-04-06 08:58] codehard123 commented on #25723
Can I work on this?

[2019-04-06 08:59] ajsharma22 commented on #22334
Sure, post how are you going to solve this issue.

[2019-04-06 09:16] sanchiprakash commented on #16870
is this still open? i would like to proceed with it.

[2019-04-06 09:25] stepfencurryxiao commented on #25999
@simonjayhawkins Thank you！
I changed my code according to what you said.
[code]
result:
[code]
The problem has been solved.Thank you very much. @jorisvandenbossche @mroeschke @simonjayhawkins @myles

[2019-04-06 09:45] cmorph1 commented on #25733
@WillAyd excellent, I'll get to work on this today.

[2019-04-06 10:04] codehard123 commented on #25723
In master branch there is no excel.py so where to make changes?

[2019-04-06 10:23] codehard123 commented on #25723
Everything's Normal! Earlier (before pandas version 0.24) you could pass any number of parameters into the ExcelFile() function without any error as its function signature is (io,**kwds), which allows any number of parameters to be passed. However, with the new release of pandas they have changed the function signature to (io,engine=None), which allows only two arguments passed, which justifies th

[2019-04-06 13:15] simonjayhawkins commented on #25955
go for it!

i would recommend #23922

[2019-04-06 14:17] simonjayhawkins commented on #4668
perhaps reopen #16840 in preference to this, purely for consistency with to_string etc.

[2019-04-06 15:18] simonjayhawkins commented on #6502
or any type? display options would get a bit cluttered.

compare with `np.set_printoptions(formatter={'int': formatter, 'float': formatter})`

maybe we should alias `pd.options.display.float_format = formatter` to something like

`pd.options.display.format.float = formatter`
`pd.options.display.format.int = formatter`
etc.

or

`pd.options.display.formatter= {'int': formatter, 'float': formatter}`

[2019-04-06 15:54] aditya1702 commented on #26011
If this is indeed potential bug then I would like to work on it

[2019-04-06 16:02] gwrome opened #26013 "Fix type annotations in pandas.tseries.*"
Part of #25882

pandas.tseries files currently have these errors:
[code]
I have added annotations to address these issues and removed the modules from mypy.ini. PR to follow presently.

[2019-04-06 16:35] rtlee9 commented on #23785
Good guess @gfyoung. It looks like `x.map(mapper)` ignores the categorical nature and reindexes all values as opposed to just mapping the categories (see #26015 )

[2019-04-06 17:10] mroeschke commented on #26009
We would need a more minimal example to help reproduce the behavior.
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-04-06 20:52] yhaque1213 commented on #13503
I'm interested in helping out with this! Can I work on it?

[2019-04-06 21:47] joseortiz3 commented on #25397
I think there is an issue with `nth`

[2019-04-07 06:48] harshit-ag commented on #13572
can i work on this issue?

[2019-04-07 08:09] harshit-ag commented on #19827
`import io
import pandas as pd
towrite = io.BytesIO()
df = pd.read_csv("example.csv")

df.to_excel(towrite)
towrite.seek(0)

with open("someother.csv", "wb") as f:

    f.write(towrite.getvalue())
    f.close()
`
This can be a probable solution by checking the mode and  converting it to a byte-like object. I have tried to make changes  but  could not figure out  the flow of code.  @TomAugspurger

[2019-04-07 09:09] makbigc commented on #16410
The bug is still here for non-monotonic index.

[code]

[2019-04-07 10:18] drew-heenan commented on #25969
I'm having a go at this issue - quick note @boydgreenfield, it looks like iterating over a `Series` object as in the last two loops in your example results in an iteration over the `int` values in the `Series`. Did you mean to iterate over `s1.items()` or similar?

[2019-04-07 11:15] naught101 commented on #25996
Here is a better example:

[code]

[2019-04-07 12:40] simonjayhawkins commented on #25996
are these not nice messages already? 😃

they probably make more sense when more than one value is passed..

[code]

So the messages are consistent with this scenario, which probably makes handling the errors and raising custom messages easier.

I'm not disagreeing that the messages could be improved, just not sure what would be better, while maintaining (some sort of) consistency. To improve the m

[2019-04-07 13:50] simonjayhawkins commented on #25996
A simple solution would be to not include any brackets or messages in `KeyError` and use `IndexingError` instead if this was necessary to be more explicit about the error.

`KeyError` would only be used for an issue with a single key.

That would make it feasible for a list indexer to raise a more friendly and less verbose message for problems with a single key and allow better exception handling.

[2019-04-07 15:17] gwrome opened #26020 "Fix type annotations in pandas.plotting._core"
Part of #25882

pandas.plotting._core currently has these errors:
[code]

[2019-04-07 19:10] TomAugspurger commented on #18587
Was this fixed by https://github.com/pandas-dev/pandas/pull/20834? Tab completion on the following seems quick

[code]

[2019-04-07 21:19] stevesimmons opened #26023 "pd.DataFrame.to_csv('filename.zip') doesn't extract with a '.csv' extension"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When `pd.DataFrame.to_csv` creates compressed zip files, the name of the csv file inside the archive is always the same as the name of the zip archive file itself. This is obviously problematic because the archive has a `.zip` extension but we want the csv file to have a `.csv` extension when it is extracted.

[2019-04-07 22:01] drew-heenan commented on #26023
I'll take a look at this!

[2019-04-07 23:19] #26013 closed

[2019-04-08 01:26] peekmeister commented on #26007
I was looking at the code with the problem you asserted in mind and I wonder if it would be bad practice/feasible to wrap that code in a try/except block. If a ValueError is raised, the date can be checked and possibly change the day to 28 if it is in fact a common year.

[2019-04-08 01:45] schimizzimj commented on #24071
This hasn't been active for a couple of months, so what's the status with this issue? Is there still work to be done?

[2019-04-08 03:45] aditya1702 commented on #26011
@gfyoung Is this a bug or something done intentionally?

[2019-04-08 04:22] mitar commented on #8918
So I think this thread is a bit messy, so I will try to summarize a simple solution here and how this is already possible. I will demonstrate on one column, but you can generalize it to many.

So in "fit" call you just do:

[code]

You store `categories` into the state you are learning during fitting.

And then in "transform" you do:

[code]

And it will do one-hot encoding always in the same mapp

[2019-04-08 05:24] gfyoung commented on #26011
cc @jreback

[2019-04-08 05:27] tadejsv opened #26025 "DataFrame.eval column creation slow due to overhead"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description

Column creation with DataFrame.eval seems to be slower (in this dummy example only somewhat slower, but in my "real-world" case it was slower by a factor of 4), because it is making a lot of calls to copy for numpy.ndarray. Also see [here](https://stackoverflow.com/questions/38725355/when-to-use-datafram

[2019-04-08 05:54] Divyamurali1996 opened #26026 "Problem with reading .dat file with missing data"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a .dat file with three columns with some columns having missing values(empty) and delimiter is a whitespace.When I am printing dataframe data is getting shifted to empty spaces and NaN is displayed at last column.I don't know what is mistake in code.

#### Expected Output
24   3869089  64529089  1296.0
25

[2019-04-08 07:25] arobrien commented on #15058
The sorting for DataFrame appears to be solved in version 0.24.2:

[code]

I can also get similar results when changing an existing index level to categorical (is there a simpler way to do this?)
[code]

[2019-04-08 07:30] arobrien commented on #15058
@TomAugspurger your DataFrame example now works:
[code]

[2019-04-08 07:42] Froskekongen commented on #25087
I just wanted to check the status on this issue. Will there be a 0.24.3 release addressing this? Personally, I think it's an important issue to deal with for using machine learning with pandas. Are there other PRs that may fix the failing builds on windows/macOS that can be merged into https://github.com/pandas-dev/pandas/pull/25090?

[2019-04-08 08:29] adrienrenaud commented on #15354
This would be very helpful to reduce computing time still keeping a good window resolution.

[2019-04-08 10:12] jreback commented on #26026
if you have a usage question then try stack overflow with a reproducible example

[2019-04-08 10:12] #26026 closed

[2019-04-08 10:14] jreback commented on #26025
the answer on SO is correct; if you want to investigate and see if you can improve performance great

closing as this is documented

[2019-04-08 10:14] #26025 closed

[2019-04-08 12:06] AlFontal commented on #23955
Any updates on this? As I understand, currently the `pivot()` method just does not work with multiple indexers, the `index` argument does not accept a list, and when `None` it indeed fails since it attempts to use the existing MultiIndex.

As of now, I solve this in a hacky way by generating a single index as a concatenation of the multiple levels of the original indices, pivot and then reconstruc

[2019-04-08 14:01] Archer6621 commented on #18969
@jreback I've made an attempt at categorizing the tests for the sparse series only so far:

[code]

With this I've introduced two new categories as I felt these were necessary, given that some of the tests were very specific. These two are `sparse` and `coo`, where `sparse` is for new properties/features that the sparse series introduce and `coo` is for SciPy's coordinate format matrices (there ar

[2019-04-08 14:16] mbirdi commented on #23417
@sinhrks  I'd like to take a shot at this one.  I'm not a developer, but I have been using pandas for a few years now, and would like to understand the tests more.  Before I start, two quick questions.  Would this be a good first issue?  Is merging better than splitting?

[2019-04-08 15:57] gfyoung commented on #11823
@kimsey : You're more than welcome to submit a PR for this!  A test for this might also be useful as well.  Duplicate columns in a CSV are quite buggy, so we mangle the second "A".

[2019-04-08 16:04] kimsey0 commented on #11823
@gfyoung: I'd be happy to send a PR, but what for? Just a documentation change and a test?

[2019-04-08 16:44] gfyoung commented on #11823
Yep, that’s exactly right.

[2019-04-08 17:12] boydgreenfield commented on #25969
@drew-heenan Yes you're right I meant `.items()`. Have updated the above code snippet. Thanks for taking a look at the issue!

[2019-04-08 17:14] mukundm19 commented on #25815
I would like to take a shot at this.

[2019-04-08 17:20] mukundm19 commented on #24845
Is someone working on this issue? If not I would like to look into this.

[2019-04-08 17:25] mukundm19 commented on #23067
I would like to try and take this on if no one is currently working on this.

[2019-04-08 17:32] gwrome opened #26028 "Fix Type Annotations in pandas.core.dtypes"
Part of #25882

pandas.core.dtypes.dtypes and .missing have the following errors:
[code]
Working on a PR to fix these.

[2019-04-08 17:33] #26020 closed

[2019-04-08 17:40] mukundm19 commented on #25596
I am going to try and look into this is this is still unresolved

[2019-04-08 17:42] mukundm19 commented on #25596
I would like to look into this is if this is still unresolved

[2019-04-08 17:51] mukundm19 commented on #20824
Does this issue still need to be resolved. If so I'd like to look into this.

[2019-04-08 17:56] mukundm19 commented on #25611
Does this issue still need work? I would be happy to look into this further and work on the error message as previously mentioned.

[2019-04-08 17:57] amanhanda commented on #20824
Yes please.

From: mukundm19 <notifications@github.com>
Sent: Monday, April 8, 2019 12:52 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Handa, Aman <Aman.Handa@citadel.com>; Author <author@noreply.github.com>
Subject: [EXT] Re: [pandas-dev/pandas] DataFrame.groupby().sum() treating Nan as 0.0 (#20824)

Does this issue still need to be resolved. If so I'd like to look into this.

—
You a

[2019-04-08 18:03] mukundm19 commented on #17304
Does this issue still need to be resolved? I would be happy to tackle this otherwise.

[2019-04-08 18:59] chrish42 commented on #8918
That's very nice. I just wish everyone you wants to do this didn't have to discover it anew. ;-)

[2019-04-08 21:49] mbirdi commented on #23417
|	line_num	|	test_file	|	line	|
| 	------------- 	|	:-------------------:	|	:---------------------------:	|
|	209	|	test_operators.py	|	def _check_bin_op(op):	|
|	569	|	test_operators.py	|	def _check_unaligned_frame(meth, op, df, other):	|
|	216	|	test_operators.py	|	def _check_unary_op(op):	|
|	552	|	test_operators.py	|	def _test_op(df, op):	|
|	595	|	test_operators.py	|	def _test_seq(df, idx_ser

[2019-04-08 21:57] mbirdi commented on #23417
I think I answered my own question.  I don't think this is a good one for a beginner.  I did make a table for whoever picks this one up next.

[2019-04-08 21:57] brifordwylie commented on #8918
The approach suggested by @mitar is a nice, short example. For a longer exploration of this issue here's a notebook that might be useful/helpful: https://nbviewer.jupyter.org/github/SuperCowPowers/scp-labs/blob/master/notebooks/Categorical_Encoding_Dangers.ipynb

[2019-04-09 03:15] joseortiz3 commented on #21705
Still annoying in April 2019. Bump.

[2019-04-09 04:02] max-sixty commented on #19932
FYI at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_axis.html there's:

[2019-04-09 05:38] peterpanmj commented on #25857
Changed to the following lines, it willl break pandas\tests\test_window.py. The test is expecting to have none NaN values as if min_window is always set to 0

            result = self._constructor(result, window=window,
                                       min_periods=self.min_periods
[code]

[2019-04-09 06:14] WillAyd commented on #26009
Closing as this isn't minimal / reproducible

[2019-04-09 06:14] #26009 closed

[2019-04-09 07:47] dbrakman opened #26030 "to_sql with postgres fails silently when given uppercase/capitalized table names"
I attempted to use `to_sql` to insert into a Postgres table with a non-lowercase identifier. No error was raised in python, but the insert did not succeed:

[code]

When I check the psql console, the 'tmp2' table is populated, but there is no 'tmp1' or 'TMP3' table:

[code]

</details>

#### Problem description

This MWE was tested with Postgres 11.2 on OSX 10.14.4 and with Postgres 9.5.15 on Red

[2019-04-09 08:59] jhylands commented on #23230
Stack overflow solution:

https://stackoverflow.com/questions/55574348/dataframe-apply-unintuitively-changes-int-to-float-breaking-an-index-loopup

[2019-04-09 10:05] ianzhy opened #26031 "Series: inconsistent behavior of setting value with timestamp dtype for existed index and newly-added"
[code]
#### output:
[code]

#### Problem description
With existed index `a`, the dtype will be Timestamp, as expected. Howerver, when setting a new index like `c`, the dtype will be int.
Is this a bug?

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-b

[2019-04-09 10:13] jreback commented on #21705
@joseortiz3 so would you do a PR to fix? which volunteer should we assign this too?

[2019-04-09 10:17] jreback commented on #26031
try on 0.24.2 - irrc this is fixed

[2019-04-09 10:41] lawriewelsby commented on #14503
Hi, I have tried to follow the chain of issues that branches off from this but can't seem to find out if this change has been implemented (appears not though the work to make it possible has been done?) and if so what the syntax would be. Any update would be much appreciated. Many thanks.

[2019-04-09 15:22] ericstarr opened #26032 "Series.all much slower than Series.values.all"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Calling Series.any is much slower than calling Series.values.any on a series of bools
Interestingly, calling Series.any on a series of ints is quite a bit faster than on a series of bools, though even if it is a series of ints, Series.values.any is still faster.

I ran with both skipna=True and skipna=False in

[2019-04-09 16:07] prakhar987 opened #26033 "Reverse Arithmetic operations between pandas series and custom objects"
#### Code Sample, a copy-pastable example if possible

[code]
#### Current Output
[code]
#### Problem description
The returned object is inserted into a series which has same index as original series.
Is there a better way to make pandas objects interact with custom objects.

Currently a np.ndarray is passed to __radd__. I know there is a way to make pass the series itself (using extension type??)

[2019-04-09 16:36] jreback commented on #26033
this is out of scope for standard pandas; you could create an ExtensionArray for this this but would be some work

why would you actually do this? what is the use case

[2019-04-09 16:36] danieljy commented on #7632
@jreback, while the join is happening, the resultant index is misleading.

As @shadiakiki1986 says, for the rows in left (df1) whose index doesn't correspond to any C in right (df2), the resultant index is being set simply to the last element in right (df2) which **looks like a bug**.

Seems like given that this is a left join, the original index should be maintained (equal to what C looks like in

[2019-04-09 17:28] #25945 closed

[2019-04-09 18:11] prakhar987 commented on #26033
A use case could be creating a wrapper on top of pandas objects like pd.Series. So my object built on top of pandas series, should also be able to interact with pandas series directly like i mentioned in the example.

Just the way pandas builds around numpy..i want to build something around pandas.

[2019-04-09 18:18] prakhar987 commented on #26033
For example if pandas is a wrapper on top of numpy...it can support something like addition of a numpy array with a pandas series directly.

Inappropriate for pandas and numpy (indexes and all) but if the wrapper on top of pandas is very minimal then probably i should be able to directly interact it with pandas objects.

[2019-04-09 18:31] jreback commented on #26033
you would almost certainly need to subclass, not a great idea. This is out of scope for pandas. However if you have patches that make it work then happy to take them.

[2019-04-09 18:31] #26033 closed

[2019-04-09 19:06] Nuoezguen commented on #22669
Moving test below to follow the line  "bins = algos.quantile(x, quantiles)" fixed the problem for me.

        #else:
        #    if len(labels) != len(bins) - 1:
        #        raise ValueError('Bin labels must be one fewer than '
        #                         'the number of bin edges')

[2019-04-09 19:38] WillAyd commented on #25723
@codehard123 the purpose of this issue is to add documentation around how to pass keyword arguments to a particular engine. If interested you could use the information above and add to the section linked by @TomAugspurger

[2019-04-09 19:54] WillAyd commented on #26030
Does this work just using SQLAlchemy?

[2019-04-09 20:01] WillAyd commented on #26005
Thanks for the report. Might be an off by one error with closed='left' for these. Investigation and PRs would certainly be welcome

[2019-04-09 20:01] chris-b1 commented on #26032
You're welcome to have a look here - ultimately it will be due to overhead of unpacking the array to deal with missing values, but might be something that can be elided

https://github.com/pandas-dev/pandas/blob/2f6b90aaaab6814c102eb160c5a9c11bc04a092e/pandas/core/nanops.py#L204

[2019-04-09 20:03] WillAyd commented on #26031
Looks like it's an issue on master. Investigation and PRs would certainly be welcome

[2019-04-09 20:08] WillAyd commented on #25965
This is essentially a duplicate of #12693

[2019-04-09 20:08] #25965 closed

[2019-04-09 20:15] MattConflitti opened #26034 "Merge two time series and apply a function to overlapping dates"
#### Problem description

Is there a standard way to take two dataframes that have a DateTimeIndex and do a time series join where same dates will be together on the same day and allow me to apply a function to it in order to choose which value to take if more than one fall on the same day?

#### Expected Output

Time Series 1:
[code]
Time Series 2:
[code]
Then,

[code]
or
[code]
which would retur

[2019-04-09 20:25] TrigonaMinima commented on #3729
Working on this. Since this requires writing a lot of tests, it's taking time to finish the pull.

@jreback I am creating a copy of all the tests under pandas/tests/groupby to test the `dropna=False`. Is that the right way? I am 25-30% done writing tests that way.

[2019-04-09 20:35] mroeschke commented on #26034
Usage questions should be directed to StackOverflow. Github issues is reserved for bugs and enhancement requests.

[2019-04-09 20:35] #26034 closed

[2019-04-09 20:45] jreback commented on #3729
please no. simply parameterize tests as needed, we already have a dropna fixture to do this

[2019-04-09 20:52] MattConflitti commented on #26034
If this feature doesn't exist, I was hoping the next logical step would be for it to become an enhancement request.

[2019-04-09 20:59] pauljohn32 commented on #10772
Do I have just another example of same problem? Pandas 0.24

I converted some elements in `x` to  missings as `y``,

[code]

I expect to see a column labeled "NaN" with values

[code]

[2019-04-09 21:06] MattConflitti opened #26035 "Enhancement: Merge two time series and apply a function to overlapping dates"
Enhancement description
A standard way to take two dataframes that have a DateTimeIndex and do a time series join where same dates will be together on the same day and allow me to apply a function to it in order to choose which value to take if more than one fall on the same day.

If this functionality doesn't exist, can we open an enhancement request?

Expected Behavior
Time Series 1:
[code]
Time

[2019-04-09 22:09] dbrakman commented on #26030
What direction would be most useful in SQLAlchemy? Do you recommend I have the engine execute a "plain" SQL statement, or should I create objects in a session?

[2019-04-09 23:03] dbrakman commented on #26030
But from what I can tell, SQLAlchemy behaves the same way. The following code completes successfully, but using the psql commands from the first post reveals that only a "tmp2" table was created.
[code]
I'm closing this issue and creating a new one with SQLAlchemy at https://github.com/sqlalchemy/sqlalchemy/issues/4605

[2019-04-09 23:03] #26030 closed

[2019-04-10 00:44] #13442 closed

[2019-04-10 01:40] WillAyd commented on #25923
Alternately solved by #26019

[2019-04-10 01:40] #25923 closed

[2019-04-10 02:09] ianzhy commented on #26031
@jreback  Just tried on 0.24.2, and it's not fixed.
By the way, what does _irrc_ mean?

[2019-04-10 02:30] WillAyd commented on #24425
Closing due to lack of info. If you can provide above feel free to reopen

[2019-04-10 02:30] #24425 closed

[2019-04-10 02:30] jreback commented on #26031
pls try on master then

[2019-04-10 03:55] alexcwatt commented on #24071
@schimizzimj I think a couple docstrings were overlooked but I've just opened a PR which should close this out.

[2019-04-10 04:05] WillAyd commented on #26035
Not sure this is worth the extra API bloat. You could do this pretty easily with a left join:

[code]

[2019-04-10 05:56] jorisvandenbossche commented on #25923
Ah, that seems as the better solution in the end!

[2019-04-10 12:40] frexvahi opened #26039 "Comparing Timedelta and NaT gives inconsistent results depending on order"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I would expect the result of `a < b` to be the same as that of `b > a` but in this case one returns `False` and the other raises `TypeError`.

Related issue: #24983 "Separate NaT values for Timedelta and Period" - if `pd.Timedelta(None)` gave a value of type `Timedelta` then maybe this error would not have occu

[2019-04-10 12:42] frexvahi commented on #26039
N.B. `Timedelta == NaT` and `NaT == Timedelta` both return `False`

[2019-04-10 12:54] jreback commented on #26039
pls check this on master, this has been sustantially reworked

[2019-04-10 13:00] #25942 closed

[2019-04-10 13:07] eai-eo opened #26040 "date_range() option for closed='both' documented but not implemented"
#### Problem description

The docstring for `pandas.date_range()`'s `closed` argument says:
[code]
Basically, this argument sets whether the date range includes or excludes the start and end dates. But I think 'both' is not possible.

Either the docstring needs changing or (preferably) a 'both' option should be added.

#### Links to the relevant code

Here's the `date_range()` function (whose docs

[2019-04-10 13:37] Liam3851 commented on #26040
Both sides closed is the default, as noted in your document snip above:
[code]

So to get a closed interval on both sides you either don't specify the closed parameter at all, or you specify `closed=None`.

You cannot specify 'both' as a string, that's true, but I don't know why you would want to since it's the default behavior.

Alternatively, are you trying to create an open interval rather than

[2019-04-10 13:59] ericstarr commented on #26032
I spent a little time looking into this and don't see an obvious way to make it faster. Potentially in the case where the dtype of the Series is bool and skipna is True you could bypass the _get_values call and go straight to df.values.any, but that seems like a messy way of dealing with this.

[2019-04-10 14:02] eai-eo commented on #26040
I see, thank you. I did mean that I wanted an open interval. My confusion came from imagining that `closed=None` means not closed, ie open.

Currently I do have something like `date_range(...)[1:-1]`, but it seemed odd that only three of the four combinations are supported. I'm happy for the issue to be closed if this is not a priority though.

[2019-04-10 14:09] frexvahi commented on #26039
On master 6d9b702a661891724e6c10dd96eb149404205c67 I get the same problem.
[code]

Also `pd.show_versions()` raises an error:
[code]

[2019-04-10 14:18] jreback commented on #26032
this is already being address in #25070

cc @qwhelan

[2019-04-10 15:49] mroeschke commented on #26040
As @Liam3851 mentions, `None` means closed on both sides. I don't think it's worth adding a `'both'` alias for that.

Likewise, having an `'open'` alias for `date_range(...)[1:-1]` doesn't seem that compelling either since the post-indexing operation is fairly clear and straightforward as well.

[2019-04-10 15:49] #26040 closed

[2019-04-10 15:50] qwhelan commented on #26032
I fixed the root cause in numpy with numpy/numpy#12988 so 1.17 should be about 250x faster in this regard.

[2019-04-10 16:05] NikolaTT opened #26041 "_setitem_with_indexer changes type from datetime to object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hello all!

I am facing a particularly weird issue, which I have pinpointed to be caused by the [_setitem_with_indexer method](https://github.com/pandas-dev/pandas/blob/6d9b702a661891724e6c10dd96eb149404205c67/pandas/core/indexing.py#L298)

From the code above, you can see that when `loc` is used inside `perfor

[2019-04-10 16:17] mroeschke commented on #26041
Do you mind simplifying your example to a minimal set of operations?

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-04-10 16:51] NikolaTT commented on #26041
I have almost halved the lines of code. I hope it is not too much now, since I am not sure what more to delete and still express the problem sufficiently. Would you consider the asserts too much? I put them there because I think they showcase pretty clearly what the issue I have found is.

[2019-04-10 16:52] dbrakman commented on #26030
To summarize the other ticket:

[2019-04-10 16:53] RubenAstudillo commented on #20419
I am hitting the deprecation warning on using the `.data` parameter which doesn't tell me the right path on where to look at for operating on the array (I needed to do boxcox on it, but the index were of no use). Maybe adding a hint towards `Series.values.data`? maybe a link on why shouldn't I use `.data`?

[2019-04-10 16:55] jgerity commented on #20419
It also looks like this planned deprecation is not mentioned in the docs, and definitely should be if it's raising `FutureWarning`

[2019-04-10 16:58] jreback commented on #20419
this was deprecated several versions ago

[2019-04-10 16:58] jorisvandenbossche commented on #20419
`Series.values` is also not guaranteed to return a numpy array (eg for categoricals), so `np.asarray(Series).data` might be more reliable (although for the cases `Series.values` is not a numpy array, that method will also point to the `data` of a copy ..).

May I ask why you need `.data` to do boxcox on it? I would think you just need the numpy array to ignore the index?

That's a good point! PR t

[2019-04-10 17:42] iamdeepti opened #26042 "Setting index = false in function to_csv is not working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Actually I don't want index in my csv file so I set index = false but It's not resolving the issue, my CSV file still has index values.

#### Expected Output
3,6,0,6,3,0,6,6,6,6,6,0,2,6,6,6,0,0,2,0,0,0,6,0,2,6,6,6,6,6,3,6,3,6,2,0,6,0,6,6,3,2,6,6,6,6

#### Output of ``pd.show_versions()``

<details>

0,1,2,3,4,5

[2019-04-10 18:22] garmilla commented on #25965
@mroeschke thanks for the suggestion, I didn't know about ExtensionArrays, will definitely try to use them for this task.

@WillAyd sorry, didn't see that before posting.

[2019-04-10 19:17] pauljohn32 opened #26044 "drop_duplicates: is return value a full new DataFrame object?"
#### Code Sample

I want to sort a data frame by a series that has both string and numeric values.  Today I have a sequence of commands that seems to 'work', except when the .drop_duplicates method is used. Along the way I had some trouble because a series that has both letters and numbers cannot be used to sort, and I thought that was causing my problem. However, I realized later that drop_duplic

[2019-04-10 19:23] mroeschke commented on #26041
Here's a more minimal example:

[code]

So it appears the criteria for the bug is
* At least 2 columns
* Using `loc[:, col]` to set a new timezone aware Series (`__setitem__` as you mention works as intended)

Thanks for taking the time to investigate the method that is causing this behavior. PR's always welcome!

[2019-04-10 19:25] mroeschke commented on #26042
We would need a more reproducible example. `predicted_labels` is not defined in your example.

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-04-10 19:53] mroeschke commented on #26044
A few things.

1) The `SettingWithCopyWarning` is just a warning about this possibility. https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-view-versus-copy

2) `df2.sort_values(by = ["oldsort"], axis = 0)` does not operate inplace by default (i.e. doesn't modify `df2`). Either specify `inplace=True` or `df3 = df2.sort_values(..)`

[2019-04-10 19:53] #26044 closed

[2019-04-10 20:44] jschendel opened #26045 "BUG: pandas.cut incorrectly raises a ValueError due to an overflow"
#### Code Sample, a copy-pastable example if possible

[code]

The issue appears to be due to an overflow in `np.diff`, which in turn makes it appear that the `bins` are not monotonically increasing.  Essentially the following:
[code]
#### Problem description
The `bins` are monotonically increasing but a `ValueError` is raised indicating that they aren't.

#### Expected Output
I'd expect `[4]` to

[2019-04-10 20:52] jschendel commented on #26045
It looks like a potential fix is to cast the `bins` to a float dtype during the `np.diff`:
[code]
This looks to provide the expected output for the example data.  Not sure if this is the best solution and haven't run the tests to see if this causes any unintended issues.

[2019-04-11 00:06] mroeschke commented on #26041
Actually this is the same as https://github.com/pandas-dev/pandas/issues/24020. Closing but will reference this example in that issue.

[2019-04-11 00:06] #26041 closed

[2019-04-11 00:16] mroeschke commented on #24020
Similar issue encountered in https://github.com/pandas-dev/pandas/issues/26041#issuecomment-481828102 with `loc[:, col]` instead of `__setitem__` (probably hits the same path)

I'm +0.25 to coercing to object. It'd be great if the assignment "just works", but the object dtype tends to surprise people it seems.

[2019-04-11 00:47] #25933 closed

[2019-04-11 01:56] alexcwatt commented on #24970
This looks to be intentional; the `validate_pep8` function includes this:

[code]

[2019-04-11 06:34] NikolaTT commented on #26041
Great! Thank you! Will keep an eye on #24020

[2019-04-11 08:01] jp68138743541 opened #26049 "Column dtype change on write of improper value"
#### Code Sample

[code]

output:
[code]

#### Problem description

When writing, e.g., a too big integer to an 8-bit unsigned integer column, the value of the written integer is casted to uint8 and the data type of the column is changed to int64.

#### Expected Output
I would expect that **either** the value is casted and the data type is retained **or** the data type gets changed and the value i

[2019-04-11 08:35] Batalex commented on #26045
I see that you welcome contributions on this issue, I would like to give it a try.

[2019-04-11 09:25] josegcpa opened #26050 "Problem with DataFrame.replace using None"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Every time I run something similar to this (replacing, in a string DataFrame/DataFrame column, a specific string with `None`), the columns get filled with the element directly above it in the column; this creates a lot of confusion since None is, pretty much, THE "pythonic" way of signalling the absence of a va

[2019-04-11 11:17] Pzoom522 opened #26051 "to_excel cannot handle large sheet"
#### Problem description

For **extremely** large sheets (row_num > 1048576, col_num > 16384), see [the code of XlsxWriter Engine](https://github.com/jmcnamara/XlsxWriter/blob/master/xlsxwriter/worksheet.py#L183), area which exceeds the limit won't be printed.
**_However, no error or warning is raised._**

#### Expected Output
```This sheet is too large! Area off (1048576, 1638) will not be printe

[2019-04-11 11:17] mfittere opened #26052 "pd.to_hdf throws AttributeError: module 'tables' has no attribute '__version__'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[The standard example (see above) throws the following error:
[code]
I did a fresh install of anaconda version 4.6.11 and the output of
[code]
is
[code]
=> pytables version should be bigger than 3.0.0
]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been

[2019-04-11 13:18] chris-b1 commented on #26051
A little strange that nothing happens on the xlsxwriter side, but yes would definitely take a PR that guards and raises on our end

[2019-04-11 13:34] chris-b1 commented on #26052
This should be working - do you maybe have another module `tables` in your environment/script? Try this:
[code]

[2019-04-11 14:13] soerenwolfers opened #26053 "sort_index throws IndexError for some permutations"
#### Code Sample

[code]
#### Problem description

This throws an `IndexEror: pop index out of range`.
If I change the order to `[2,0,1]`, it doesn't.

python: 3.6.6.final.0
pandas: 0.24.2
numpy: 1.15.4

[2019-04-11 14:35] alvarocapelo commented on #17676
Thakns for the post.
Tried passing a list of lists to `id_vars` but got Type error:
[code]

Any workarounds?

[2019-04-11 14:43] jschendel commented on #26045
@Batalex : sure, go for it!

[2019-04-11 15:13] WillAyd commented on #26053
Please provide fully reproducible code - it's not clear what `a` here is

[2019-04-11 15:15] WillAyd commented on #26051
I think this makes more sense as an enhancement request for xlsxwriter that would just pass through here rather than doing it on our end

[2019-04-11 15:17] WillAyd commented on #26049
That is strange. Option 2 is what we would want here - investigation and PRs to fix would certainly be welcome

[2019-04-11 15:19] WillAyd commented on #26050
Please provide a code sample that can reproduce the issue clearly

[2019-04-11 15:19] jayanthkaturi commented on #26053
[code]

[2019-04-11 15:24] josegcpa commented on #26050
The code sample _can_ reproduce the issue clearly. But to make an even more obvious issue:

[code]

#### Expected output

[code]

#### Actual output

[code]

[2019-04-11 15:26] WillAyd commented on #26053
OK thanks for clarifying. The both seem to fail:

[code]

`sort_remaining` doesn't appear to have an impact. One pattern that may be apparent there is that both failures use all of the level and have the initial level as the last of the sort.

May or may not be related to issue - in any case investigation and PRs are always welcome!

[2019-04-11 15:31] WillAyd commented on #26050
OK thanks - the second example is much clearer.

It is interesting that this way of calling replace will get you what you want:

[code]

So something might be off with inference. In any case investigation and PRs are always welcome

[2019-04-11 17:03] gjimzhou commented on #15747
Is there a quick convenient way to achieve option 3a in the future? Maybe modify to the `pd.Series.get` function to support a list of keys?

[2019-04-11 18:16] addahlin commented on #9784
This was incredibly frustrating to debug. I was executing the code below and getting "..." in my output. I assumed it was just printing the "..." to the console, not _in_ the dataframe! While I'm sure this isn't a
 "good" approach to wrapping text in a tag, it's the most obvious way when starting out. I'm sure _many_ people will do this and no one would expect this behavior.

`
df["ValueType"] = "

[2019-04-11 18:19] jschendel commented on #26050
The issue here is that the `value` parameter of [`replace`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html) defaults to `None`, so as written the code can't distinguish between when a user explicitly passes `None` and when the user doesn't provide anything and the default value `None` what's being provided.

The workaround here is to use `object` as the se

[2019-04-11 20:05] TomAugspurger commented on #25364
Possible NumPy issue https://github.com/numpy/numpy/issues/13308, but I wouldn't be surprised if "won't fix" is the answer. This is a strange case for NumPy.

Note that if the object doesn't define `__len__`, we don't go down NumPy's slow route. Perhaps someone can come up with a clever way to use that to our advantage.

[2019-04-12 01:55] RubenAstudillo commented on #20419
Yeah, it was not the most straight forward way to do boxcox. It was still confusing.

[2019-04-12 03:05] gwy1995 opened #26056 "can we execute sql on dataframe like spark?"
Like spark-sql,can we execute sql on dataframe to transform data ?
for example:
[code]

[2019-04-12 05:21] Detzi88 opened #26057 "Pandas to_csv not writing correctly to nas but working on lokal folders"
I wrote a function which should remove duplicate lines from all .csv files in a certain path. When i run the skript on lokal ressources it works fine but when i enter a target in my nas the skript finds and states to process all files but does not drop any duplicate lines. Instead it messes up some lines and occasionally a reprocessing throws: "CRITICAL:root:'utf-8' codec can't decode byte 0xa0 in

[2019-04-12 06:07] gfyoung commented on #26057
@Detzi88 : Let me try to understand what's happening here:

* Which operation is raising the error?  `read_csv` or `to_csv`?
* When `read_csv` works, what does `df` look before you call `df.to_csv` ?

[2019-04-12 06:27] Detzi88 commented on #26057
- to_csv is misbehaving but does not throw an error.

when reading the data with read_csv() logging.warning(df) returns:
 a  b  c  d  e\r
0  1  1  1  1    1
1  1  1  1  1    1
2  1  1  1  1    1
3  1  1  1  1    1
4  1  1  1  1    1

after dropping logging.warning(df) returns:
a  b  c  d  e\r
0  1  1  1  1    1

up until this point it makes no difference between HDD an NAS but when wrote to the na

[2019-04-12 06:37] gfyoung commented on #26057
Ah, okay, so the NAS issue lies with `to_csv`.  Alright: so what happens if you try writing to a different file instead of `file` ?  Do you get the output that you expect?  Trying to widdle down the issue here.

[2019-04-12 06:47] jorisvandenbossche commented on #26056
This is not available in pandas (and also out of scope at the moment, I would say).
But there are some external packages that do this, like https://github.com/yhat/pandasql

[2019-04-12 06:47] #26056 closed

[2019-04-12 06:55] jschendel commented on #25725
After #26047 is merged the `pandas.compat` related code removals should be complete, but there are still a few odds and ends left:
- `pandas.compat` can still be cleaned up a bit, and some items can be moved elsewhere
- There are a few explicit TODO(PY2) or TODO(py27) comments that should be addressed, e.g.
  https://github.com/pandas-dev/pandas/blob/19626d2567487f8e698174de835c28c900784ed3/pandas

[2019-04-12 07:18] Detzi88 commented on #26057
Yes, creating a new files gives me a a .csv with the correct contents:
;a;b;c;d;e
0;1;1;1;1;1

[2019-04-12 07:30] Detzi88 commented on #26057
Ok, when i open say "in.csv" the file with Notepad++ and insert:
;a;b;c;d;e
0;1;1;1;1;1
1;1;1;1;1;1
2;1;1;1;1;1
3;1;1;1;1;1
4;1;1;1;1;1

save, close and reopen it has suddenly become:
;a;b;c;d;e
0;1;1;1;1;1
1;1;1;1;1;1
2;1;1;1;1;1
3;1;1;1;1;1
4;1;1;1;1;1
;1.12;1.13;1.14;1.15;1
4;1.16;1.17;1.18;1.19;11;1.20;1

Oo wtf? Maybe it isn't pandas after all? Now i am really confused!

[2019-04-12 08:23] jorisvandenbossche opened #26058 "DOC: test new sphinx 2 release"
The docs are currently being built with sphinx 1.8.5 (see eg https://travis-ci.org/pandas-dev/pandas/jobs/518832177 for a recent build on master).

Sphinx has released 2.0.0 (http://www.sphinx-doc.org/en/master/changes.html#release-2-0-0-released-mar-29-2019), and it would be good to test our docs with this new release, and see if we need to make changes / report regressions to sphinx.

For somebo

[2019-04-12 08:23] gfyoung commented on #26057
That's really weird indeed!  The code example you gave...did you run that with `file` already existing?  Can you try deleting the file located at wherever `file` is and run the code again?

[2019-04-12 10:19] trendelkampschroer commented on #25972
Thanks for your quick reply. You are completely right this is coming form the numpy side. Also my interpretation of the `np` namespace getting overwritten was completely wrong. It seems that numpy dispatches all ufunc calls to the array element if `dtype=object`. This is why this raises `AttributeError`.

[2019-04-12 10:19] #25972 closed

[2019-04-12 10:39] RunningToTheEdgeOfTheWorld opened #26061 "dispatch_to_series is very slow"
Since pandas 0.24.0   I found there is a function in ops.py named dispatch_to_series.
But dispatch_to_series is very slow,  that makes my code slower.
when I use pandas==0.23.0, it cost about 100 seconds,  but  when I use pandas==0.24.*  It cost 583 seconds.

This is my profile result.
![factor_test_1555059433](https://user-images.githubusercontent.com/22519984/56031324-b6ac7380-5d51-11e9-853d-8dc

[2019-04-12 10:57] jreback commented on #26061
show a minimal example with code

[2019-04-12 11:52] #16363 closed

[2019-04-12 11:54] #24867 closed

[2019-04-12 13:12] #25484 closed

[2019-04-12 14:03] mfenner1 commented on #24271
It seems like this might be the same issue.  I have this MWE with pandas-0.23.4

[code]

Output:
[code]

With or without the `sort_index` call, the inner level (`dose`) of the `MultiIndex` for the value counts appears to be sorting in lexicographic order, not in the defined `pd.Categorical` order.  Somewhere along the way, either the values lose their `Categorical`-ness or it isn't interpreted wit

[2019-04-12 14:46] #26028 closed

[2019-04-12 14:54] anordin95 commented on #26051
I'm new to pandas-dev. Does the closed tag on the feature request I see above indicate the work is already done and this entire issue should be closed?

[2019-04-12 15:24] quantuminternet opened #26064 "Non-unique integer index performance depending on index creation method"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The issue seems to occur when using a non-unique, but sorted column as an index which is the result of a previous calculation. Access to rows with .loc is much slower than it could be. When all index values are copied into a python list and then reinerted into the index, performance increases by a large factor,

[2019-04-12 15:43] jbrockmendel commented on #26061
Duplicate of #25883, #24990.

@RunningToTheEdgeOfTheWorld `dispatch_to_series` was implemented because of a correctness/performance tradeoff, and correctness wins every time.  There has been some discussion about how to ameliorate the performance hit, but I'm not aware of any concrete steps.  If you have any ideas, PRs are welcome.

[2019-04-12 17:04] chris-b1 commented on #26051
I think we could handled on the pandas side - Xlsxwriter's interface is essentially cell-based - there isn't a way to know in advance if those limits are going to be broken.  Because pandas know the total table size in advance, I think it makes sense to check and raise.

[2019-04-12 17:08] #25514 closed

[2019-04-12 17:11] anordin95 commented on #26051
I agree @chris-b1. I assume this hasn't been addressed, but I'm uncertain due to the red "Closed" indicator I see beside the feature request above my original comment.

[2019-04-12 17:19] gwrome opened #26065 "Fix Type Annotations in pandas.core.arrays"
Part of #25882

# Errors in pandas.core.arrays
Type annotations for the following files need to be added or corrected to remove those files from the mypy blacklist:

- pandas.core.arrays.array_.py
- pandas.core.arrays.datetimelike.py
- pandas.core.arrays.integer.py
- pandas.core.arrays.interval.py
- pandas.core.arrays.period.py
- pandas.core.arrays.timedeltas.py

I have started working on these an

[2019-04-12 17:34] chris-b1 commented on #26051
That's closed is from the linked issue in the xlsxwriter repo

[2019-04-12 18:17] anordin95 commented on #26051
Ah, makes sense. Thank you!

[2019-04-12 19:05] jmh045000 opened #26068 "read_json: ValueError: Value is too big"
Reopening issue #14530.  The close description is incorrect.  The JSON specification explicitly states that limits are not in the specification.

From https://tools.ietf.org/html/rfc7159#section-6

The standard `json` library in python supports large numbers, meaning the language supports JSON with these values.

[code]

[2019-04-12 21:09] jschendel opened #26069 "CI: test_drop_duplicates_categorical_non_bool is flaky"
I've noticed recently that the xfailed part of the following test is occasionally xpassing, which is causing the test suite to fail due to being strict with xpass:

https://github.com/pandas-dev/pandas/blob/90a85e0b154833577a4023f643d8aace0c0ae7f5/pandas/tests/series/test_analytics.py#L1405-L1412

The quick fix is to update the `xfail` with `strict=False` but additional investigation into why this

[2019-04-12 21:29] soerendip opened #26070 "Pandas style.bar(align='mid') does not make sense."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

With align='mid' I would expect the middle to be the mean. Essentially, as a tool to visualize the variance.

The dataframe above contains 10 columns with random numbers. To the n's column n*100 is added. So, column-wise, I would expect pretty similar output cause the mid should be the mean of each column.

But

[2019-04-12 21:51] anordin95 commented on #26051
Going to raise a ValueError unless anyone has a better suggestion.

[2019-04-12 22:00] #22159 closed

[2019-04-13 02:00] bchu opened #26072 "Creating DataFrame from dict with columns orientation does not preserve order of index"
[code]

results in:

[code]

instead of what we expect:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Darwin
OS-release: 18.2.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.24.2
pytest: 4.4.0
pip: 19.0.3
setuptools: 39.0.1
Cyth

[2019-04-13 02:04] jreback commented on #26072
dict ordering is not guaranteed before 3.6; so this is as expected; you didn’t show which version you are using

[2019-04-13 02:05] bchu commented on #26072
Sorry, just added.

[2019-04-13 02:17] jreback commented on #26072
this a duplicate of #24859 with a slight variation. you are welcome to have a look.

[2019-04-13 02:17] #26072 closed

[2019-04-13 05:31] hishamsajid opened #26073 "Reading pdf tables directly using Pandas"
Would be pretty neat if you could read tables directly from pdf into a pandas dataframe

[2019-04-13 08:47] jreback commented on #26073
see https://github.com/euske/pdfminer

out of scope for pandas

[2019-04-13 08:47] #26073 closed

[2019-04-13 09:08] Detzi88 commented on #26057
For the test i made above, i created a seperate path in the NAS. The files used were created right before running the skript.

[2019-04-13 09:45] gfyoung commented on #26057
@Detzi88 : So if I'm understanding you correctly, the files already existed prior to running the script?  What happens if they don't exist before you run the script?

[2019-04-13 10:42] Detzi88 commented on #26057
@gfyoung : No the files i created to test the script were new ones in a freshly creatd path . I had just made them, pasting in the same data i posted here.

[2019-04-13 11:24] QGB opened #26074 "pandas._libs.parsers.TextReader('中文文件名-chinese-in-filename.csv') OSError: Initializing from file failed"
kwargs={'delimiter': ',', 'doublequote': True, 'escapechar': None, 'quotechar': '"', 'quoting': 0, 'skipinitialspace': False, 'lineterminator': None, 'header': 0, 'index_col': None, 'names': None, 'skiprows': None, 'na_values': {'nan', '', 'NaN', 'N/A', '-NaN', 'null', '#N/A N/A', 'n/a', '-nan', '-1.#QNAN', 'NA', '1.#IND', '-1.#IND', '1.#QNAN', 'NULL', '#NA', '#N/A'}, 'true_values': None, 'false_v

[2019-04-13 12:46] jorisvandenbossche opened #26075 "DOC: clipboard library missing in doc env on travis"
The doc builds sees the following failure:

[code]

which is happening since the refactor of the CI envs in https://github.com/pandas-dev/pandas/pull/24632. In unifying things we might have by accident removed some clipboard related things for the doc build.

cc @saurav2608 if you want to take a look at this, always welcome

[2019-04-13 13:00] jorisvandenbossche commented on #26075
Going through the diff of that PR, I actually don't notice anything related to clipboard (no occurrence of xclip or xsel, ..)

But according to the travis logs, it is still that commits that started to fail (of course can also be something unrelated to the diff, but I don't directly see any change in library versions), https://travis-ci.org/pandas-dev/pandas/jobs/515983449 vs https://travis-ci.org

[2019-04-13 16:22] fdroessler opened #26077 "TST: consolidate set_op tests across indexes"
#### Problem description

Following up from a discussion in: https://github.com/pandas-dev/pandas/pull/25913#discussion_r272157952

Currently `set_ops` are not tested across all indexes and should probably be consolidated in a new file maybe `pandas/tests/indexes/test_setops.py` pulling tests from subdirectories and relevant tests from `pandas/tests/indexes/test_base.py` and potentially other file

[2019-04-13 17:40] gfyoung commented on #26057
To confirm: does `out.csv` have the correct result if you do that?

[2019-04-13 17:50] Detzi88 commented on #26057
Yes as i already said, if i let the skript create a new file, the output is correct.

[2019-04-13 18:04] gfyoung commented on #26057
Alright, so it looks like something is weird with trying to overwrite an existing file...unclear whether it's a NAS issue or a `pandas` issue though.

[2019-04-13 19:29] rbenes commented on #14600
I tried to investigate this issue. I agree with previous findings, that problem is in union. But what is expected behavior of union in general. I tried to analyze it on normal Index, not Categorical. And I see, that results are different based on `sort` parameter. See bellow:

[code]
What is correct?

[2019-04-13 20:07] anordin95 commented on #26051
I believe xlsx writer hangs when passed a sheet that is too large. I test whether calling df.to_excel raises a ValueError when given a sheet that is too large. In that case, the test passes. However, if too large of a sheet is passed, and the code to check input size is not there, the to_excel call will hang resulting in the test stalling. Any ideas on how to best proceed? I believe the best cours

[2019-04-13 20:57] anordin95 commented on #26051
Solved.

[2019-04-14 05:19] joseortiz3 commented on #26011
I think the `bug` label needs to be added. Users assume groupby operations will result in new series or dataframes that have unique indices, and non-unique indices break many pandas functions.

[2019-04-14 15:04] shouldsee commented on #25973
I did a bit of benchmarking. The result is in favour for an extension of iterrows()

[code]

[2019-04-14 15:34] TomAugspurger commented on #25782
Should be fixed in https://github.com/asv-runner/asv-runner/commit/4396f99bd569194005a3b2ed56d8935a4a9e94a6. Turns out `rsync foo` is different from `rsync foo/` :/

As an aside, if anyone is interested in helping maintain the benchmark infrastructure, let me know. I've moved everything out of my personal account and into the asv-runner GitHub org.

Finally, I'm putting together a GitHub bot at ht

[2019-04-14 15:34] #25782 closed

[2019-04-14 21:06] qwhelan commented on #25782
@TomAugspurger I've been working on some tooling to help identify which benchmarks should be run for a given PR, which would allow `@bot run benchmarks` to be done in a more lightweight manner.

[2019-04-14 22:38] asv-bot opened #26086 "Performance regression in a1fee9199eba7ebf423880243936b9f1501d3d3a"
Possible performance regression in commit a1fee9

[2019-04-14 22:38] TomAugspurger commented on #26086
I'm testing this out right now. LMK if it gets annoying.

[2019-04-14 23:06] #26086 closed

[2019-04-14 23:07] asv-bot opened #26087 "Possible performance regression in a1fee9"
Possible performance regression in https://github.com/pandas-dev/pandas/commit/a1fee9199eba7ebf423880243936b9f1501d3d3a.

    Regression: http://pandas.pydata.org/speed/pandas/index.html#rolling.Quantile.time_quantile?commits=a1fee9199eba7ebf423880243936b9f1501d3d3a&p-window=1000&p-param5=%27lower%27&p-percentile=0.5&p-dtype=%27float%27&p-constructor=%27DataFrame%27
    Benchmark: 15.23% rolling.Q

[2019-04-14 23:08] #26087 closed

[2019-04-14 23:09] asv-bot opened #26088 "Possible performance regression in a1fee9"
Possible performance regression in https://github.com/pandas-dev/pandas/commit/a1fee9199eba7ebf423880243936b9f1501d3d3a.

Regression: http://pandas.pydata.org/speed/pandas/index.html#rolling.Quantile.time_quantile?commits=a1fee9199eba7ebf423880243936b9f1501d3d3a&p-window=1000&p-param5=%27lower%27&p-percentile=0.5&p-dtype=%27float%27&p-constructor=%27DataFrame%27
Benchmark: 15.23% rolling.Quantile.

[2019-04-14 23:10] TomAugspurger commented on #26088
Sorry about the ping @BryanCutler (this one was a false positive).

[2019-04-14 23:10] #26088 closed

[2019-04-14 23:13] TomAugspurger commented on #26088
Some questions for the @pandas-dev/pandas-core

1. Do we want this at all?
2. Do we want the bot to create new issues, post a commit message (e.g. at https://github.com/pandas-dev/pandas/commit/a1fee9199eba7ebf423880243936b9f1501d3d3a), or post on the PR? Getting the PR from a commit requires a bit of work, using a preview feature of the GH API...
3. Does anyone want permissions to help maintain t

[2019-04-14 23:19] WillAyd commented on #26088
I think it worth trying out. A new issue seems fine and sure I can help maintain bot

Sent from my iPhone

[2019-04-15 00:38] randomgambit opened #26092 "export a R-compatible msgpack file?"
Hello the dream team

Please have a look here https://stackoverflow.com/questions/55578378/how-to-exchange-msgpack-files-between-python-and-r

Would it be possible/doable to have `pandas` export a `msgpack` file that can be read in `R`?

What do you think?
Thanks!

[2019-04-15 01:21] jreback commented on #26092
magpack has very little support; this is also a custom protocol

much better to use arrow

[2019-04-15 01:21] #26092 closed

[2019-04-15 01:35] randomgambit commented on #26092
fair enough @jreback , fair enough. Only issue we still dont have an R `read_parquet()` function... :(

[2019-04-15 06:15] jorisvandenbossche commented on #26073
Another one is https://github.com/socialcopsdev/camelot

An addition to the ecosystem.rst page in the documentation to mention some of those libraries is certainly welcome.

[2019-04-15 09:12] jorisvandenbossche opened #26096 "Dtype attributes (eg PeriodDtype.freq) should not be settable"
You can currently do this:

[code]

I think in general it would be good to make those dtype specific attributes not settable (this is already the case for DatetimeTZDtype.unit/tz, but not yet for the above case of PeriodDtype, and also not eg for IntervalDtype.subtype).

[2019-04-15 09:53] geminizb commented on #10523
I'm afraid ExcelFile.parse is not changed yet

[2019-04-15 11:38] srossi93 commented on #21673
Any updates?

[2019-04-15 13:21] rsaim opened #26100 "is_categorical_dtype depends on boolness of the object passed."
[code]
#### Problem description
is_categorical breaks if \_\_boo\_\_ of an object returns another (or same) object for which \_\_bool\_\_ raises an exception. We return the an object of **Foo** itself in the reproducer above to demonstrate this behavior. This affects `pandas.to_datetime` and probably other functionalities as well.

I guess converting an object to datetime should not depend on it's

[2019-04-15 13:52] qris opened #26101 "Improve documentation for assert_frame|series_equal"
#21528 improved the documentation for assert_almost_equal, but this is actually an undocumented function (not listed in the Pandas docs) and the same issue seems to apply to both `assert_series_equal` and `assert_frame_equal`, which are documented.

Could we apply the same change as #21580 to those methods too, i.e. add the following text:

[2019-04-15 16:19] WillAyd commented on #26101
Makes sense - a PR from you would certainly be welcome

[2019-04-15 16:21] WillAyd commented on #26100
Not sure I follow the reasoning. If an object doesn't support truthiness why wouldn't you expect is_categorical (or any is_ method) not to raise?

[2019-04-15 16:23] WillAyd commented on #26074
This isn't part of the API - what error are you getting from user-facing methods?

[2019-04-15 16:30] WillAyd commented on #22817
Closing as this was a Python bug which has since been resolved

[2019-04-15 16:30] #22817 closed

[2019-04-15 16:50] saurav2608 commented on #26075
Definitely introduced post #24632 . I will investigate and confirm.

[2019-04-15 17:32] kuraga commented on #15106
Any news? I have @valentas-kurauskas 's [issue](https://github.com/pandas-dev/pandas/issues/15106#issuecomment-423930419)

[2019-04-15 18:53] saurav2608 commented on #26058
I think the anaconda version is still 1.8.5.
https://anaconda.org/anaconda/sphinx

[2019-04-15 19:01] jorisvandenbossche commented on #26058
Yes, but we are also listing conda-forge as a second channel, and there it is already updated, so I would expected the environment solver to get the newest version from there. Anyway, it is installing 1.8.5 on travis, that's the relevant part here ;)

[2019-04-15 19:07] saurav2608 commented on #26058
Yes. I agree. I manually installed version 2.0.1 on local and creating a doc build now.

[2019-04-15 19:08] jorisvandenbossche commented on #26075
Thanks for taking a look!

[2019-04-15 19:57] jbrockmendel commented on #26096
Only/mainly for internal dtypes or also for downstream EA dtypes?

Defining them in cython is the strongest way to make these immutable, but can introduce circular dependencies which are the worst.

Patching setattr like we do for DateOffset is another option

[2019-04-15 20:00] jorisvandenbossche commented on #26096
We only control our own dtypes, so I was talking about that (in principle a downstream EA dtype author can do what he/she wants?)

Just making them a property instead of attribute in Python should also suffice? That's what I am doing in #26067, and is also already done in CategoricalDtype / DatetimeTZDtype.

[2019-04-15 20:45] #25934 closed

[2019-04-15 23:13] brian-c-ogorman opened #26105 "Inconsistent behavior of index when grouping a multiindex series of length two"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When doing a `groupby` and aggregation on a multi-index Series, if the length of the series is two, the index of the output is incorrect.

The behavior is unexpected and inconsistent with other operations that would be expected to produce the same output:

- for a multi-index DataFrame of two rows and a single

[2019-04-16 00:55] ArtificialQualia commented on #26105
Duplicate of #25704, this has been fixed on master and will be released with 0.25

[2019-04-16 03:06] #26105 closed

[2019-04-16 06:15] joseortiz3 commented on #24206
I got around this issue by repeatedly calling `reset_index(0)`, once for each level in the index.

[2019-04-16 08:09] NumesSanguis commented on #25472
Sorry that I have no time to properly debug this, but I hope I can attribute a little bit of knowledge.

I'm running into the same problem as OP when I read 1 of the sheets of a .xlsl file (`pandas 0.24.2`).
There are NaN values, but from pandas 0.24 that should work when doing `.astype(pd.Int16Dtype())` right?

This gave the same problem as OP:

[code]

However, ugly, but this seemed to have work

[2019-04-16 08:19] sandepp123 commented on #26101
I want to work on this, as it looks like it is good for first timer.

[2019-04-16 08:41] Eoksni commented on #18124
@yudai-nkt I don't think you are doing something wrong, your exact code piece worked flawlessly for me back in the days. I haven't been using pandas for a while and not exactly sure how it can be fixed for newer version.

As a suggestion, you can put a breakpoint before `kargs[0].__dict__` line and see what is inside and change the code accordingly. And yeah, all of this is fiddling with internal

[2019-04-16 10:28] rsaim commented on #26100
`is_categorical` should return `True` if the object is actually `CategoricalDtype` and return `False `for rest of the cases. The code flow breaks because it assumes that the object returned from \_\_eq\_\_ of the object passed to `is_categorical` will **ALWAYS** support truthiness here:
[code]
Maybe we can have a stricter check here like the following to avoid this corner case.:
[code]

[2019-04-16 10:39] mfittere commented on #26052
This was the issue! I had a module called tables in another python packages. I had added the path recently to my python path.

I apologize for reporting it as a bug and wasting your time. Thanks a lot for your help! I am closing the issue also.

[2019-04-16 10:39] #26052 closed

[2019-04-16 11:03] keijak commented on #12056
Making DataFrame a subclass of Mapping would be problematic due to the semantics of DataFrame__len__.
len(df) returns the number of rows (=len(df.index)). It needs to be the number of columns to match the dict behavior.

[2019-04-16 11:59] #17347 closed

[2019-04-16 12:17] #25901 closed

[2019-04-16 13:03] valewyss commented on #15988
A workaround would be to remove the unique index in the database:

`sqlquery="ALTER 'TABLE DATABASE'.'TABLE' DROP INDEX 'idx_name'"
`
afterwards
`df.to_sql('TableNameHere', engine, if_exists='append', chunksize=900, index=False)
`
can be executed.

Just let your MySQL Server add the index again and drop the duplicates.
`sqlquery="ALTER IGNORE TABLE 'DATABASE'.'TABLE' ADD UNIQUE INDEX 'idx_name' ('

[2019-04-16 13:17] rsaim opened #26107 "TypeError on while retrieving values from a Series"
[code]
#### Problem description

This breaks with **0.24.2** but not with **0.23.4**.

#### Expected Output
masked_array(data=['2011-01-01T00:00:00.000000000'],
             mask=False,
       fill_value=numpy.datetime64('NaT'),
            dtype='datetime64[ns]')

OR

['2011-01-01T00:00:00.000000000']

#### Output of ``pd.show_versions()``
<details>
In [38]: pd.show_versions()

INSTALLED VERSIONS

[2019-04-16 13:27] Ahrimanox opened #26108 "PERF: Performance regression (memory and time) on set_index method between 0.20.3 and 0.24.2"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
For a bit of context : I'm working on a mid-range ETL software based on pandas and recently, we decided to upgrade our pandas version to the latest one : 0.24.2.

We're working with 0.20.3 version and since we've passed to the latest, set_index method seems to be responsible of big performance losses on our soft

[2019-04-16 14:24] mfaafm opened #26109 "Constructing PeriodIndex with string data"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Creating a PeriodIndex with string data fails when using a pandas.Series but works if using the underlying np.array.

Is this expected behavior?
#### Output of stack trace
<details>

[code]
</details>

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.

[2019-04-16 14:32] jreback commented on #26107
try upgrading numpy

[2019-04-16 15:07] jorisvandenbossche commented on #26109
@mfaafm Thanks for the report!

That's certainly not expected behaviour, and it is actually also a regression compared to 0.23.4.

[2019-04-16 17:29] javidcf opened #26111 "to_latex adds extra empty header row when index has a name even if index=False"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

As shown above, producing LaTeX tables with indices that have a name produces an extra row in the header even when `index=False`. As I see it, this is not correct, since you just get an empty extra header line, and the behavior should be the same as if the data frame did not have an index with a name.

#### Ex

[2019-04-16 18:32] jorisvandenbossche commented on #26088
This seems interesting! Both a comment on the PR or a new issue would be fine for me

[2019-04-16 20:28] adamhooper commented on #23050
[code]

(The "correct" result, according to pandas docs, is an empty DataFrame.)

[2019-04-16 21:56] adamhooper commented on #23050
A workaround, in the meantime, which I _think_ is equivalent:

[code]

[2019-04-17 08:16] rsaim commented on #26107
The issue actually is the incompatible code in **pandas 0.24.2** with **numpy 1.14.3**. [This commit](https://github.com/numpy/numpy/commit/22404c9ddd505015fd019773619a755fd2e61959#diff-e85f023d9c07df014a190b485db72c3d) added the `copy` argument to `MaskedArray.astype` which **pandas 0.24.2** (wrongly?) assumes exists in all **numpy** versions.

FTR, this works fine with **numpy 1.15.0**. Thanks t

[2019-04-17 09:08] Detzi88 commented on #26057
So i have to diffrent types of "NAS" one are hooked up USB drives to my Netgear router is a "Readyshare" thing. This is the one that makes the trouble. I luckily have also a "WD Mycloud" which is also a samba share but if i copy the data to this drive and run the skript everything seems to work.

Im now at loss with my "readyshare" if i open say a logs deleting its content and reopening, the conte

[2019-04-17 09:08] #26057 closed

[2019-04-17 11:07] lovemeblender opened #26118 "Should assert_frame_equal allow for a 'None' diff when there is actually a difference?"
#### Code Sample, a copy-pastable example if possible

From this module used in dataframes' comparison [here](https://github.com/pandas-dev/pandas/blob/master/pandas/util/testing.py#L829).

#### Problem description

First of all, great job, I am excited to be using Pandas and thanks for everything! :)

While asserting for dataframe equality in PyTest using PyCharm I get a message that some values

[2019-04-17 11:38] dave-cz opened #26119 "Modify index of Series derived from Dataframe affects index of it's column."
[code]

#### Workaround

[code]

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None
pandas: 0.24.2
pytest: None
pip: 19.0.3
setuptools: 40.8.0
Cython: 0.29.5
numpy: 1.14.6
scipy: 1.2.1

[2019-04-17 12:48] #22305 closed

[2019-04-17 12:49] Caballero93 opened #26120 "pandas.Series.shift 1 sample error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When signal is shifted for 1000 samples, what is expected is that samples from 0 to 999 have nan value, while sample 1000 should have value form index 0 on non-shifted signal. For 10 microsecond step it works like expected, but with 1 microsecond step index 1000 still has nan value, as can be seen on the output:

[2019-04-17 12:51] #23050 closed

[2019-04-17 13:38] dave-kirby opened #26121 "to_parquet and read_parquet are not symmetric if a column contains python lists"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
If a pandas DataFrame has one or more columns where the cells are python objects containing a list of strings, then converting the DataFrame to parquet and back using pyarrow as the back end will result in the columns being converted to numpy arrays of strings.  This can cause unexpected problems later in the co

[2019-04-17 16:53] andreaaraldo commented on #8745
I would raise en exception in the [function](https://github.com/pandas-dev/pandas/issues/8745#issuecomment-313850073) of @kevin-winter in case data[cols] is empty, explaining that one of the provided cols is incorrect

[2019-04-17 17:16] anmyachev opened #26122 "Unexpected 'to_datetime' behaviour for datetime strings with different offset in 'arg', when errors='coerce'"
#### Code Sample, a copy-pastable example if possible

[code]
`>>> result`:
`Index(['March 1, 2018 12:00:00+0400', 'March 1, 2018 12:00:00+0500', '20100240'], dtype='object')`
#### Problem description
In `to_datetime` docstring:
`- If 'coerce', then invalid parsing will be set as NaT`

So.. it seems to me, that this is unexpected behaviour

#### Expected Output
`>>> result`:
`Index([2018-03-01 12:

[2019-04-17 18:04] javidcf commented on #26111
I don't have the tooling here for a proper PR (plus test?), but I think all this should take is changing this line in [`pandas/io/formats/format.py`](https://github.com/pandas-dev/pandas/blob/v0.25.0.dev0/pandas/io/formats/format.py#L392):

[code]

To something like:

[code]

[2019-04-17 18:21] hdinh opened #26123 "Reindexing a sparse data structure with a different index results in losing the dtype"
#### Code Sample, a copy-pastable example if possible

[code]

**Output**
[code]

#### Problem description

The output sparse series is always of type ```Sparse[float64]``` instead of the dtype passed in.

This looks to be a regression from v0.23.4. Perhaps it has to do with the new SparseArray rework in v0.24.x.

#### Expected Output

Ideally the dtype would not be lost. Although that wasn't exac

[2019-04-17 18:29] vackosar opened #26124 "to_csv to Google Cloud Storage ignores encoding"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Instead of expected UTF-8 file is stored in latin-1 on Windows. I can also see that current implementation of method ```pandas.io.gcs.get_filepath_or_buffer``` ignores encoding argument.

I can submit PR if are open to it.

#### Expected Output

Uploaded file encoded in UTF8 even on Windows.

#### Output of ``p

[2019-04-17 19:09] jschendel opened #26125 "BUG: np.min(pd.Index) and np.max(pd.Index) raise a TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
Note that other numpy functions work fine:
[code]
And `np.min` and `np.max` work on other pandas data structures:
[code]

#### Problem description
Both `np.min` and `np.max` raise a `TypeError` when applied to a `pd.Index`.  Using `pd.Index.min` and `pd.Index.max` is more idiomatic for pandas, but using the numpy equivalent functions sh

[2019-04-17 19:28] wkitlasten commented on #10444
I am struggling with a similar issue. I am building data frames from various sources, each with 2690 rows; from one source I can get the histogram to work, from the other I get the error reported above (and below). My plan was to convert both data frames to a dict using df.to_dict() and back to a data frame using pd.DataFrame.from_dict(), to explore more and reproduce the issue here in case someon

[2019-04-17 19:54] WillAyd commented on #26118
Please provide a code sample to reproduce what you are talking about

[2019-04-17 19:59] WillAyd commented on #26119
Hmm that is rather interesting. It's also worth noting that selecting a single label versus a list of labels yields different behavior:

[code]

Investigation and PRs are always welcome

[2019-04-17 20:00] WillAyd commented on #26119
@jreback

[2019-04-17 20:03] #26120 closed

[2019-04-17 20:04] WillAyd commented on #26120
The problem here is with how you are indexing the resulting data frame. To get the element at position 1000 use `sig_shifted_2.iloc[1000]`

[2019-04-17 20:06] WillAyd commented on #26122
Makes sense. Investigation and PRs are always welcome

[2019-04-17 20:12] WillAyd commented on #26124
Not sure this is even supported by gcsfs - I don't see `encoding` as an available option there:

https://github.com/dask/gcsfs/blob/523eb65b3e7feb05f9c10ce84523d1058716fecf/gcsfs/core.py#L1133

Might need to start upstream if wanted to make this possible

[2019-04-17 20:13] WillAyd commented on #26123
Makes sense - investigation and PRs are certainly welcome

[2019-04-17 20:18] WillAyd commented on #26108
If you could provide a *minimal* code sample would be easier to take a look:

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-04-17 20:43] #10094 closed

[2019-04-17 22:30] benpap24 opened #26126 "to_html(index = False) not dropping df.columns.name in the html output"
[code]
#### Problem description

I recently updated one of my projects from 0.23.4 to 0.24.1 and the html output  of ```df.to_html(index = False)``` changed when there is a column name (ie. one generated from when you create a pivot table).

Previously, ```df.to_html(index = False)```  would drop the column name, however now it creates an empty column with the column name.

I've also confirmed rev

[2019-04-17 22:32] yhaque1213 commented on #13503
@jorisvandenbossche

I think that this issue is not an issue with the axis, it is an issue with the way that the blocks are being created in the call to `_to_dict_of_blocks()` in `generic.py`, blocks are created by homogeneous data types. This splits the original DataFrame by type, causing the `sum()` problem later on.

If the DataFrame is of a uniform type, then it will create one block that incl

[2019-04-17 22:42] jreback commented on #13503
axis=1 generally is not implemented at all as unless you have a single dtype you have mixed types across columns

[2019-04-17 23:27] jakebailey opened #26127 "Inspection of some cython produced functions causes segfault"
#### Code Sample, a copy-pastable example if possible

[code]

Run with `-X faulthandler` to get more info.

#### Problem description

Trying to access `__kwdefaults__`, either by `getattr` or `hasattr`, segfaults the Python process. This occurs at least on macOS when pandas is installed from PyPI using `pip install pandas`. If it is instead installed via `pip install pandas --no-binary :all:`, th

[2019-04-17 23:27] jakebailey commented on #26127
See also: scikit-learn/scikit-learn#13667

[2019-04-18 00:55] achapkowski opened #26130 "register_index_accessor Question"
When implementing a index accessor, does it overwrite the default ‘index’ property, or is there a way to create a custom index class to pass into index?  How could I make it iloc or loc compatible?

Additionally, the register_index_accessor, besides the init, what else is needed to properly work?

My goal is to use an rtree index to find my content.

[2019-04-18 04:31] WillAyd commented on #26126
This is intentional. See #23788

[2019-04-18 04:31] #26126 closed

[2019-04-18 06:34] saurav2608 commented on #26058
BTW, Sphinx 2.0.1 is part of conda now. And our doc build are using v 2.0.1 to build docs. I do not think there are any issues with the upgrade.

[2019-04-18 06:42] jorisvandenbossche commented on #26058
Ah, thanks for noticing! I see one "RemovedInSphinx30Warning" in the logs, but that is probably coming from nbsphinx. For the rest everything indeed seems fine.

[2019-04-18 07:17] jorisvandenbossche commented on #26058
One thing I am noticing is that the API pages lost a bit of their styling. Compare http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html#pandas-melt with http://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.melt.html#pandas-melt

It seems sphinx changes how field lists are converted to html, so our custom css (in doc/source/themes/nature_with_gtoc/static/nature

[2019-04-18 07:43] QGB commented on #26074
In [70]: pd.read_csv(f, delimiter=',',encoding='gb2312')
---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input-70-4d1e02136d2f> in <module>()
----> 1 pd.read_csv(f, delimiter=',',encoding='gb2312')

E:\QGB\Anaconda3\lib\site-packages\pandas\io\parsers.py in parser_f(filepath_or_buffer,

[2019-04-18 07:56] MaximeWeyl opened #26131 "pd.Timestamp.isoformat does not implement keyword timespec"
## Code Sample

**[IN]**
[code]
**[OUT]**
    Help on method isoformat in module pandas._libs.tslibs.timestamps:

    isoformat(sep='T') method of pandas._libs.tslibs.timestamps.Timestamp instance
        [sep] -> string in ISO 8601 format, YYYY-MM-DDT[HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
        sep is used to separate the year from the time, and defaults to 'T'.
        timespec specifies what comp

[2019-04-18 08:26] saurav2608 commented on #26058
Also whole bunch of warnings `RuntimeWarning: You are using an unsupported version of pandoc (2.2.3.2).`

[2019-04-18 08:34] aperiodicchain opened #26133 "Unclear error message when dealing with IntegerArrays"
Since the recent addition of [Integer NA Support](http://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.24.0.html#optional-integer-na-support) writing IntegerArrays to disk is a common scenario. Below are two examples of `to_hdf` method, the first returns a confusing error message while the second is very clear. Could we raise a `TypeError` in the first case too?

#### reproduce:

[code]

[c

[2019-04-18 08:35] jorisvandenbossche commented on #26058
Yes, but those are not new. They will go away once a new nbconvert release is out

[2019-04-18 10:29] jreback commented on #26133
there is no support for this; a pull request to add support would be ok

[2019-04-18 12:01] Ahrimanox commented on #26108
Sure !
Here you can find a minimal example for tracking memory usage diff.
[code]

[2019-04-18 12:02] Ahrimanox commented on #26108
And here for tracking spent time on indexing :
[code]

[2019-04-18 12:34] adbull commented on #16771
The issue is caused by various cython helper functions incorrectly allocating temporary arrays with shape `(rows, columns)`, when they should have shape `(groups, columns)`. This fails when `groups > rows`, which is possible for categorical groupers with unused categories.

The bug can also cause corrupted data rather than segfaulting, e.g. as below:
[code]
This should print 1, but instead it prin

[2019-04-18 15:56] WillAyd commented on #26074
Hmm still not able to reproduce. Can you post the output of pd.show_versions? Have you tried on master?

[2019-04-18 15:59] FarzanT commented on #23064
Any news? This is an essential function, I wish it could get fixed soon.
Does anyone know of any alternatives?

[2019-04-18 16:03] WillAyd commented on #26131
@mroeschke @jbrockmendel

[2019-04-18 16:05] TomAugspurger commented on #23064
Still open. Are you interested in working on it?

Keep in mind that the original post involved a quite specific column-naming scheme where the alphabetically sorted names grouped the dtypes together. This suggests a potential way to improve performance, but this issue is for that specific issue.

[2019-04-18 16:58] mroeschke commented on #26131
`isoformat` is one function that `Timestamp` doesn't just directly inherit. I don't see why the `timespec` keyword argument can't be incorporated in as well.

One thing to note is that if we mirror  `timespec` from `datetime.datetime`, our implementation also should handle `'nanoseconds'` as an argument

[2019-04-18 17:23] WillAyd commented on #26130
The accessor should just wrap the existing index so it wouldn't overwrite anything about it.

As far as a custom index class goes you probably want to use an ExtensionArray as the Index, which is discussed in #22861 but not yet implemented. Would certainly take contributions and PRs if it's something you are interested in.

@TomAugspurger

[2019-04-18 18:04] jbrockmendel commented on #26127
Yikes.  To clarify, the working hypothesis is that this is a problem in cython that can be fixed by bumping the dependency version?  If so, should be an easy PR.

[2019-04-18 18:06] jbrockmendel commented on #26131
Might be helpful to have a test checking compatibility of all the signatures between datetime vs timestamp.

[2019-04-18 18:14] chrish42 opened #26136 "Confusing "MergeError: incompatible merge keys [1] category and category, must be the same type""
I'm using `pd.merges_asof()` to merge two dataframes together. The `by` keys are categoricals, but not equal, apparently (one has a few values more than the other). It took me a little bit to figure that out, however, because the error message for this was a bit confusing: "incompatible merge keys [1] category and category, must be the same type". It'd be nice if it was clearer. I can do the pull

[2019-04-18 18:16] TomAugspurger commented on #26130
Agreed with @WillAyd

[2019-04-18 18:16] #26130 closed

[2019-04-18 18:25] jakebailey commented on #26127
I think so, yes, though I'm not familiar enough with what goes on during `--no-binary` to see if I'm getting a newer version that what's building and pushing to PyPI. When I do the `--no-binary`, I don't end up with `cython` in my environment, so I'm not sure if I'm effectively just building from the already generated C files downloaded, or a completely new set of generated files from a different

[2019-04-18 18:26] alexdevmotion commented on #25087
I'm running into the same error for this sequence:
[code]

'0.24.2'

[2019-04-18 18:29] WillAyd commented on #26136
This is pretty tricky. Considering both option 1 and 2 to be a form of special casing I wouldn't be in favor of either of them. Not sure how option 3 would end up looking or if it even makes sense.

What would even be the requirements here? That the categoricals being merged would have to be ordered, monotonic, and that the right categorical would have to be a subset of the left?

[2019-04-18 19:21] jbrockmendel commented on #26127
I just tried this with cython 0.29.6 and got the segfault on ubuntu but not on OSX (py36 on ubuntu, py37 on OSX).

cc: @scoder is this a known issue?

[2019-04-18 19:26] jakebailey commented on #26127
Another possible indication that this is a Cython thing:

If I do `pip download pandas`, extract the pandas wheel with unzip, then do `strings pandas/_libs/algos.cpython-37m-darwin.so | grep cython`, I see a string that says "_cython_0_28_2".

If I instead do `pip download pandas --no-binary :all:`, then go look at the generated source for `_libs/algos.c`, I can see that the Cython version there i

[2019-04-18 19:31] scoder commented on #26127
Yes, Cython 0.29.6 prevents this crash.

[2019-04-18 19:32] jbrockmendel commented on #26127
Update: when _actually_ using 0.29.7, there is no segfault on ubuntu.

@jakebailey if you want to make a PR with tests to ensure this doesn't show up elsewhere, it would be welcome.  Possibly looping over many/all cython functions/attributes

[2019-04-18 19:32] lovemeblender commented on #26118
Thanks for the answer @WillAyd.

I am afraid I can't share the data I tested this against. However, it can already be seen in the [code](https://github.com/pandas-dev/pandas/blob/master/pandas/util/testing.py#L829) that `msg` is being populated unconditionally, which means that there is a possibility of failing the equal frames tests but `diff` can be `None`.

[2019-04-18 19:33] scoder commented on #26127
(Ah, yes, use 0.29.7, definitely. It fixes another crash bug.)

[2019-04-18 19:34] jakebailey commented on #26127
Sure, I'll take a look. Thanks for confirming this!

[2019-04-18 19:53] MaximeWeyl commented on #26131
I have another remark : the help message is very different when looking at the Timestamp class or at the instance :

[code]

[code]

    Help on cython_function_or_method in module pandas._libs.tslibs.timestamps:

    isoformat(self, sep='T')

[code]

    Help on method isoformat in module pandas._libs.tslibs.timestamps:

    isoformat(sep='T') method of pandas._libs.tslibs.timestamps.Timestamp in

[2019-04-18 21:05] chrish42 commented on #26136
This is about categoricals on both sides of the `by` key of `pd.merge_asof()`. My superficial understanding is that they need to be equal, because there's the equivalent of a groupby on those happening somewhere under the hood. But I'll let someone who knows more chime in.

[2019-04-18 21:12] jorisvandenbossche commented on #26121
@dave-kirby Thanks for the report!
The array vs list might be difficult to solve (in arrow, both lists and arrays as elements of a column will end up in the same data type, i.e. list type), but the discrepancies between arrow and fastparquet (and when cross-reading their files) should certainly be investigated.

The pyarrow file loaded with fastparquet error looks like a fastparquet issue to me, a

[2019-04-18 21:16] chrish42 opened #26139 "Doc for HDFStore compression unclear on what the default value of None does"
The doc for the `HDFStore` class mentions:

[code]

That doesn't actually answer the question of what compression level is used when the default (None) is used, though. Is None translated further down to 0? it turns out yes, but you have to dig in the code to actually figure that out. And it could as well have been translated eventually to any other value.

Two options:
1. Actually change the defa

[2019-04-18 22:22] WillAyd commented on #26139
I think either option would be fine

[2019-04-19 01:03] #26045 closed

[2019-04-19 01:06] #25708 closed

[2019-04-19 01:21] GGsamiku commented on #16693
@mkhoshle Have you encountered this bug later since you use the code ?
[code]
I got the same bug and my code is just like
[code]
the process get MemoryError (Hard disk memory is really exhausted), but after I quit the process, I can not open this HDF file again

[2019-04-19 01:54] ExSidius opened #26142 "dev-requirements missing 'gitpython'"
`python make html` fails without gitpython, which currently doesn't install from dev-requirements.

[2019-04-19 01:59] jreback commented on #26142
huh? this is not needed

[2019-04-19 02:30] #26142 closed

[2019-04-19 02:50] NumesSanguis opened #26144 "to_hdf5 with pd.Int32Dtype gives ValueError: cannot convert float NaN to integer"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Starting from version 0.24.0, pandas supports [`pandas.arrays.IntegerArray`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.arrays.IntegerArray.html) to help deal with missing values (I'm aware it is still experimental).

However, when trying to store this dataframe in a HDF5 file, errors are

[2019-04-19 03:34] DataShare-duo opened #26145 "to_excel column name can't output to excel"
# DataFrame
![2](https://user-images.githubusercontent.com/48944742/56403879-03ce9f00-6296-11e9-94f4-22364c4baf16.png)

# DataFrame.to_excel
![111](https://user-images.githubusercontent.com/48944742/56403893-12b55180-6296-11e9-8432-d77dfe207859.png)

# Output Excel File
![3](https://user-images.githubusercontent.com/48944742/56404009-d6362580-6296-11e9-9f45-d4b7e54d562f.png)

### how output '大区'？

[2019-04-19 03:48] jreback commented on #26144
duplicates #26133 though these examples are more complete

[2019-04-19 03:49] jreback commented on #26144
there is no support for storage of extension types; support would need a community pull request

[2019-04-19 03:49] jreback commented on #26133
closing as a duplicate

[2019-04-19 03:49] #26133 closed

[2019-04-19 04:52] NumesSanguis commented on #26144
A temporary workaround inspired by:

[code]

**Questions**:

1. How to prevent changing of `dtype` when multiplying with the mask?
2. How to do the example by using `with` to open the HDF5 file AND specify `format='table'`?

Question 2 info:
Using the `with` statement is a more secure way to open HDF5, as you know it will be closed after your code ends.

with pd.HDFStore("foo.h5", 'a') as h5_pd:

[2019-04-19 05:06] Akmazad commented on #22999
Hi,
Any update on this? I'm also using 64-bit and having similar error. Here's my try to provide the reproducible:
===
import sys
import pandas as pd

if __name__ == '__main__':
    df = pd.read_csv("myData.dat")

    print("load complete")
    bpLength = len(df["dna.seq"][0])
    train_df = df[df['chr'] != 'chr1']
    rows = df.shape[0]

    endIndex = 1000
    values = df["dna.seq"][0:endIndex].

[2019-04-19 07:00] jreback commented on #22999
reproducible example means you can just copy paste code; a file that i cannot see is useless

[2019-04-19 07:00] #22999 closed

[2019-04-19 07:38] vaibhavhrt opened #26146 "Fix Type Annotation in pandas/core/accessor.py"
Part of #25882

Current errors are:

    pandas\core\accessor.py:14: error: Need type annotation for '_accessors'

PR coming soon

[2019-04-19 08:10] vaibhavhrt commented on #26146
@WillAyd `pandas.core.apply` is in mypy.ini but mypy shows no errors in that file. Should I just remove it from mypy.ini in same PR for this issue or should I open a new issue and PR

[2019-04-19 08:27] vaibhavhrt opened #26148 "Fix Type Annotation in pandas/core/api.py"
Part of #25882

Current errors are:

    pandas\core\api.py:5: error: Module 'pandas.core.arrays.integer' has no attribute 'Int8Dtype'
    pandas\core\api.py:5: error: Module 'pandas.core.arrays.integer' has no attribute 'Int16Dtype'
    pandas\core\api.py:5: error: Module 'pandas.core.arrays.integer' has no attribute 'Int32Dtype'
    pandas\core\api.py:5: error: Module 'pandas.core.arrays.integer

[2019-04-19 08:28] Batalex commented on #26125
Related issue: https://github.com/numpy/numpy/issues/13285

[2019-04-19 08:37] vaibhavhrt commented on #26148
@WillAyd I am little confused here, these attributes does not exists in `pandas.core.arrays.integer` but they are being used everywhere. Can you explain a bit what's happening here.

[2019-04-19 08:50] Stercator commented on #20944
I would intuitively use @Ashishjshetty's solution, but suggest a new keyword `drop=True` (with "False" as default). Otherwise it is not a solution.

[2019-04-19 09:20] achapkowski commented on #26130
@WillAyd and @TomAugspurger Thank you for the suggestion, let me review the ExtensionArray as an Index and get back.
If I read #22861, all I need to do is ensure groupby work against my custom logic for an Index?

[2019-04-19 10:07] prateek2408 opened #26149 "Option to give service account in case of Google buckets"
#### Code Sample, a copy-pastable example if possible

Parameters like project, token should be taken and added if provided in case of GCP buckets.

[code]

#### Problem description

Currently if you do a read_csv in pandas with a google bucket URL like  'pd.read_csv('gs://abc/def.csv')', there is no way you can provide service account or token details for authorization.

The library that supports

[2019-04-19 10:24] TomAugspurger commented on #26130
I don't think that's correct. I think pandas would need to implement
support for ExtensionIndexes first. There's a stalled PR if you want to
pick it up.

On Fri, Apr 19, 2019 at 4:20 AM Andrew <notifications@github.com> wrote:

[2019-04-19 10:56] achapkowski commented on #26130
Which PR?

[2019-04-19 10:56] TomAugspurger commented on #26130
I think it's referenced in the ExtensionIndex issue.

On Fri, Apr 19, 2019 at 5:56 AM Andrew <notifications@github.com> wrote:

[2019-04-19 12:03] WillAyd commented on #26146
Just remove is fine

Sent from my iPhone

[2019-04-19 12:51] ghost opened #26150 "Weird performance characteristics of resampled quantile() function (100 times slower)"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description

I have noticed that `quantile()` is sometimes extremely slow even though `median()` (which should have a similar run time) is not. While debugging the behaviour, I have found the following two problems:

1) apply + numpy is significantly faster than the corresponding pandas functions. This is s

[2019-04-19 12:54] Zhavi221 opened #26151 "pandas.read_csv index=Flase not working"
Trying to erase the first collum in my table, the index collum.
[code]
DBPath is predefiend so there is no need to worry about that.

![image](https://user-images.githubusercontent.com/45975685/56425060-65edcb00-62bb-11e9-8383-fbf319fe59e0.png)
see the first collum, how do I get rid of that?
Thanks in advance.

[2019-04-19 12:57] jreback commented on #26150
try on master as a patch was recently merge for this

[2019-04-19 12:57] jreback commented on #26151
usage questions are better asked in stack overflow with a reproducible example

[2019-04-19 12:57] #26151 closed

[2019-04-19 13:31] joelrich commented on #26150
The performance has improved a bit, but it is still 50 times slower. Moreover, the performance for the whole dataframe got much worse.

[code]

[2019-04-19 14:30] jreback commented on #26144
1) what you are doing is maybe ok in user code but would need substantial work to make it to the library code here - the fact that we are storing 2 arrays is an implementation detail / see how categorical is done
2) yes

[2019-04-19 14:50] WillAyd commented on #26149
There are already a large amount of keyword arguments in read_csv so we are typically hesitant to add more, especially when they are specialized to niche data sources.

Have you tried calling open on the GCSFileSystem directly with the arguments you need and passing that to read_csv instead? Should work just as well

[2019-04-19 14:54] WillAyd commented on #26145
We've had some changes in how the IO formats have been handling the column names recently. I think this is inconsistent with some of the other ones so is worth a closer look if you'd like to investigate.

@simonjayhawkins

[2019-04-19 15:12] WillAyd commented on #26148
Those objects are created dynamically at the end of that module (specifically inserted into `sys.modules`. I'm not sure if it's a limitation of the mypy import machinery in recognizing that or if there is an alternate way we should be approaching (ex: inserting into globals). If you can investigate would be great

[2019-04-19 15:44] prateek2408 commented on #26149
Yes as a workaround I can import gcsfs directly and after reading the file provide it to read_csv , it works in this case.

however this way we are not using the inbuilt functionality of supporting gcsfs in pandas

[2019-04-19 15:52] WillAyd commented on #26149
Right but this is a niche application for an optional third party dependency, and with our general direction to try and fine tune the API adding another keyword would be moving us in the opposite direction.

Closing for now as no action; can reopen in the future if ever revisited

[2019-04-19 15:53] #26149 closed

[2019-04-19 17:23] Wirg opened #26154 "Nlargest on boolean return False first"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

If you cast this to any other type, you will have the opposite and expected order.
More generally in python `True > False`. You still have the same order everywhere in pandas.

[code]

The result is misleading and can easily lead to a debugging process.

- [X] Check for duplicate
- [X] Pandas 0.24.2

#### Expe

[2019-04-19 18:09] WillAyd commented on #26154
Makes sense. Investigation and PRs are always welcome

[2019-04-19 20:12] WillAyd commented on #26118
Would still just need some kind of code sample to confirm what you are looking for. It doesn't necessarily need to be the data you have if it's confidential, just something else to reproduce.

This guide might be helpful:

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-04-19 23:43] mjh7 commented on #19917
Hi there,

I am still relatively new to this toolset (I'm loving pandas overall!), but I seem to be having the same issue with slow Stylers as other users in this thread... Just checking if there are any new developments?

In my medium-small df (6K rows by 10 cols), it takes almost 4 minutes to process a function that assigns css font-size using df.style.applymap(my_css_function), while df.applyma

[2019-04-20 00:11] TomAugspurger commented on #19917
This issue is still open.

It sounds like using a custom CSS file may better suite your needs. Styler is primarily for css rules where the value depends on the data.

[2019-04-20 01:33] swyoon commented on #26154
This is interesting. Let me take a look.

[2019-04-20 02:05] swanderz opened #26156 "GroupbyRolling aggregate error introduced by bottleneck"
#### Code Sample, a copy-pastable example if possible

[code]
this works without bottleneck installed but throws this error: `# AttributeError: 'float' object has no attribute 'round'`
[code]

#### Problem description

my intention is to compute rolling a rolling mean and sum on multiple columns at once (see below). I was using agg because it allows for multiple functions at once.
[code]
#### Expe

[2019-04-20 02:22] jreback commented on #26156
MeanRound is not defined

[2019-04-20 02:28] bpieper26 commented on #26154
Looks similar to closed issue #21426. Had a quick today but didn't have time to fix.

[2019-04-20 02:42] swyoon commented on #26154
@bpieper26  Thanks for pointing out. The problem is that a boolean array is converted to a uint array. I will fix it.

[2019-04-20 04:32] swyoon commented on #26139
It seems like `complevel=None` is translated into `0`. I will add this to the docstring.
https://github.com/pandas-dev/pandas/blob/cb00deb94500205fcb27a33cc1d0df79a9727f8b/pandas/io/pytables.py#L484

[2019-04-20 05:51] Regexp96 commented on #25187
can I work on this issue?

[2019-04-20 06:04] swanderz commented on #26156
edited just now

[2019-04-20 06:36] joseortiz3 commented on #10186
You guys probably already know this, but in case not, FYI: This is the current behavior for union of categorical indices, which makes it difficult to do anything involving two slightly different categorical indices:
[code]

[2019-04-20 07:07] vaibhavhrt commented on #26148
I will try to figure out possible solutions.

[2019-04-20 07:16] gmohandas opened #26160 "list of day-light savings days"
Would it be useful to add a feature that returns a list of days within a given time interval where the clock changes due to daylight savings? Personally, I've had occasion to find such days/dates as part of my work. I do not know of a one-shot way with which to do so in pandas at the moment. I'd be happy to contribute this functionality as an enhancement if there is some interest.

[2019-04-20 10:13] gfyoung commented on #26160
cc @mroeschke

Not aware of a one-shot way either.  As for your proposal, I'm uncertain of the degree of use that such functionality would get vs. the maintenance efforts involved.

If you do have an implementation, feel free to share it here though.

[2019-04-20 11:59] gmohandas commented on #26160
@gfyoung I was wondering of possibly including a function like the one given below in pandas.core.indexes.datetimes. Not including all the necessary tests and accompaniments of course.

[code]

To be honest, this was also my idea of making a first contribution to the pandas codebase (or to any major project for that matter). If it isn't worth the effort, never mind, but if it might be a nice extra

[2019-04-20 14:21] jreback commented on #26160
see #22560; this method was rejected as not generally that useful for user facing operations as tz's are complicated. In any event it is pretty easy to generically do this (you method about is not very generic).

[code]

[2019-04-20 14:21] #26160 closed

[2019-04-20 14:48] jreback commented on #26156
this is user error; you  are performing a mean on a series, yielding a scalar (a float), so you need to use ``np.round`` like this (not that what you are doing is quite inefficient any any event by using a function ,rather than builtins).

[code]

[2019-04-20 14:48] #26156 closed

[2019-04-20 16:45] #16771 closed

[2019-04-20 18:51] #24949 closed

[2019-04-20 18:59] Wirg commented on #26154
Thanks for your help :)

[2019-04-20 20:36] HarzeetSingh commented on #19340
UNINSTALL PANDAS
UNINSTALL MATPLOTLIB
INSTALL  PANDAS
INSTALL MATPLOTLIB
RESTART JUPYTER

[2019-04-20 20:58] swanderz commented on #26156
@jreback, can you help me understand why `lambda x: x.mean().round()` gave me my expected output, but only threw an error after I installed bottleneck?

I totally understand the "user error" aspect, but perhaps my code should have thrown the same error even if bottleneck is not installed, instead of giving me what I want?

[2019-04-20 21:21] jreback commented on #26156
you would have to debug inside the function
likely it’s a float and not a np.float64

[2019-04-20 21:55] swanderz commented on #26156
you're right -- I could have isolated the issue more efficiently.
my ask is: can you help a newb like me understand why my code example provides my desired output without bottleneck but doesn't if bottleneck is installed? Was `x.round()` not a treated as a scalar until after the install?

My thought was that the traceback would have something related to numpy or bottleneck...?

[code]

[2019-04-20 22:09] jreback commented on #26156
as i said your code is incorrect; it happens to work because a np.float64 has a round method; if there is a float returned it will fail

[2019-04-20 22:56] swanderz commented on #26156
thanks for staying with me here.
I just checked and you are right, `x.mean()` returns the following:
- without `bottleneck`: numpy.float64
- with `bottleneck`: float

am i correct in that my general takeaway should be to:
- continue to use built in functions like `Series.mean()` when convenient but,
- when Type errors are encountered, be more explicit with types by using numpy functions, e.g.

[2019-04-20 23:15] jreback commented on #26156
you shouldn’t use custom functions as all
generally this is much slower and not necessary

[2019-04-20 23:48] swyoon commented on #26154
My pleasure!

[2019-04-20 23:57] swanderz commented on #26156
the real source of this "user error" is that [`pandas`'s `Series.mean()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.round.html) function can return either a `float` or a `numpy.float64` type.
I still don't know why this is, but like I said above, I now have an intuition about how to start solving problems when I am using any of the `Series` methods and get `TypeError

[2019-04-21 00:06] swanderz commented on #26156
**_Sidebar_**
I agree that custom functions should be avoided where possible. I've changed my original example to exclude custom function as it has nothing to do with my question.

the real reason I'm using a custom function is because of this deprecated functionality (see #18366). The workaround is to use custom function simply so that I can flatten resulting hierarchical column index into meanin

[2019-04-21 05:57] justinvzyl commented on #26068
Can I work on this?

[2019-04-21 07:11] ShahWaseem opened #26171 "TypeError: __init__() got an unexpected keyword argument 'max_rows'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have installed the latest Pystan and fbprophet versions:
pystan                    2.17.1.0
fbprophet              0.4.post2

Currently, I'm using conda 4.6.14 with Python 3.6.7 version as suggested after uninstalling 3.7 in other threads!

#### Expected Output

#### Output of ``pd.show_versions()``

<details

[2019-04-21 08:09] mukundm19 commented on #23067
Implemented a possible solution to this in this PR, feedback would be appreciated. Added a new flag "skipdatarows" which would skip the first n rows excluding comments.
https://github.com/pandas-dev/pandas/pull/26172/

[2019-04-21 08:39] andrewgsavage opened #26173 "Plotting ExtensionArrays"
I'd like to plot data from an ExtensionArray. This currently results in an error `TypeError: Empty 'DataFrame': no numeric data to plot`

This is because the EA data is filtered out. Adding the ExtensionDtype to the filter criteria makes the plot work.
https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L367

[code]

Could we get a property of the ExtensionDtype that flags th

[2019-04-21 08:40] andrewgsavage commented on #26173
related issue https://github.com/hgrecco/pint-pandas/issues/9

[2019-04-21 10:52] #26139 closed

[2019-04-21 11:31] jreback commented on #26171
not clear this is a pandas issue
too many other packages are used

[2019-04-21 11:31] #26171 closed

[2019-04-21 13:44] ShahWaseem opened #26174 "Exception: Prophet object can only be fit once. Instantiate a new object."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have installed the latest Pystan and fbprophet versions:
pystan 2.17.1.0
fbprophet 0.4.post2

Currently, I'm using conda 4.6.14 with Python 3.6.7 version as suggested after uninstalling 3.7 in other threads!

#### Expected Output

#### Output of ``my_model.fit(df) ``

-----------------------------------------

[2019-04-21 14:05] jreback commented on #26174
this is the pandas tracker and not related to Prophet in any way

[2019-04-21 14:05] #26174 closed

[2019-04-21 14:12] ShahWaseem commented on #26174
Okay cool thanks

[2019-04-21 16:04] #26146 closed

[2019-04-21 16:21] #22252 closed

[2019-04-21 16:37] #25843 closed

[2019-04-21 16:45] vaibhavhrt commented on #26148
@WillAyd mypy doesn't runs the code, https://github.com/python/mypy/issues/5719#issuecomment-426427083. Therefore `setattr(module, classname, dtype_type)` is not working. `globals()[classname] = dtype_type` will not work either. In my opinion the best thing to do is to just ignore that line that's importing these attributes.

Another possible solution(not sure it will work) I can think of is to de

[2019-04-21 16:55] #25974 closed

[2019-04-21 17:12] jreback commented on #26136
@chrish42 this is correct, categorical must be exactly equal. I suppose the error message could be enhanced if you wanted to do a pull request.

[2019-04-21 17:42] vaibhavhrt opened #26175 "Add Type and Final pandas._typing"
Since we are not merging #25975 `Type` and `Final` needs to be added to `pandas._typing` module.

`Final` is required for PR #25961
`Type` is required to stay compatible with python 3.5.1 as `Type` was added in 3.5.2 [python docs](https://docs.python.org/3/library/typing.html#typing.Type)

[2019-04-21 17:46] vaibhavhrt commented on #26175
PR on the way...

[2019-04-21 17:57] vaibhavhrt commented on #26175
On second thought it looks too complicated and time consuming for me. Someone else please pick it up. @TomAugspurger maybe you would be interested in it.

[2019-04-21 18:15] jreback commented on #26175
you can pretty much just directly vendor  typing_extensions

[2019-04-21 18:36] gfyoung commented on #23067
Carrying over from the first attempt (#26172):

* No extra `kwargs` in the signature.  The signature is large enough as it is.  One option would be to use a `dict` on `skiprows` to satisfy this constraint.

* We need to actually skip the row when parsing.  Truncating the data after it has been read in and parsed is not a sufficient solution because it means that `read_csv` could crash if one of th

[2019-04-21 18:53] vaibhavhrt commented on #26175
@jreback I think you mean copy paste the relevant parts from the source code of typing_extensions. I took a look at their source code but it's a bit complicated for me. I will take a look at it again after a few days when I get some time and see what I can do.

[2019-04-21 20:53] AHG123 opened #26181 "pandas.rolling.apply skips calling function if window contains any NaN"
This issue has been raised several times, but I do not think has been adequately addressed.

The solution given is always min_periods, but that only includes the obvious issue where the NaN is at the beginning of the series. If there is any NaN then .apply will not call the function.

There should be a skipna=True option that works. Despite this question being asked in a dozen places, it has not b

[2019-04-21 21:05] mukundm19 commented on #20824
As was mentioned, fallback was occuring when df.Groupby().sum() was called with the skipna flag. This was occurring because the _cython_agg_general function was not accepting the argument, which has now been fixed by the PR #26179 . The fallback still occurs with strings in the df, however this seems to be a deeper issue stemming from the _aggregate() call in groupby/ops.py (line 572) which is wha

[2019-04-21 21:21] jreback commented on #26181
@AHG123 if you have a solution the please make a pull request
further a reproducible example is a must

[2019-04-21 23:16] AHG123 commented on #26181
I don't have a solution, but here's the issue in code:

``import pandas as pd
import numpy as np

def movsum(data):
    print('called')
    return data.sum()

df1 = pd.DataFrame([1,2,3,4,5])
df1.rolling(2).apply(movsum, raw=True)

[2019-04-21 23:23] AHG123 commented on #26181
Apologies, but I'm not sure exactly how to format code here. Here's a snippet you can run that will reproduce the error:

import pandas as pd
import numpy as np

def movsum(data):
    print('called')
    return data.sum()

print("With no NaNs:\n")
df1 = pd.DataFrame([1,2,3,4,5])
df2 = df1.rolling(2).apply(movsum, raw=True)
print("\nWith a NaN. Note that the function is NOT called if there is any N

[2019-04-21 23:30] jreback commented on #26181
@AHG123 you are welcome to do a pull request here

but it’s not about adding an option; rather min_periods needs to be respected

[2019-04-21 23:37] AHG123 commented on #26181
I'm sorry but I don't understand how min_periods is relevant here. Imagine I have a df with 5000 rows and an NaN in 4999. That's very different than the function returning NaNs because the minimum window wasn't passed at the beginning of the df.

Is there something I'm not understanding and why we keep going back to min_periods?

I don't have the skills to modify the code myself. Where would this

[2019-04-21 23:39] AHG123 commented on #26181
Make the window length=1 and you will still have the same issue. rolling does not call apply if there is a NaN in the window. That is unrelated to min_periods unless I am misunderstanding something.

[2019-04-21 23:56] jreback commented on #26181
@AHG123 only a community pull request here would help
pandas is open source and completely volunteer

[2019-04-22 02:25] mukundm19 commented on #20824
<img width="767" alt="Screen Shot 2019-04-21 at 2 14 51 PM" src="https://user-images.githubusercontent.com/26772174/56479604-40f88400-6484-11e9-84d6-84b1aa0e93f6.png">

Showing some of my debugging to help anyone who might be able to take this on. Was able to find that the issue coming from the _aggregate() function.

[2019-04-22 03:34] AHG123 commented on #26181
I don't know how to submit the pull request... and fixing the code (I'm assuming this is written in C?) is beyond my capabilities. This issue has been raised numerous times and has been dismissed with the (faulty) min_periods reference. (Which you did again above. Unless I'm missing something min_periods is completely irrelevant with a window length=1 and/or with NaNs occurring in the middle of a

[2019-04-22 03:37] duo66 commented on #26145
Thank you very much for answering the issue

[2019-04-22 06:40] goldenbull opened #26182 "groupby apply failed on dataframe with DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
here is the input data file:
[2019.dbar_ftridx.csv.gz](https://github.com/pandas-dev/pandas/files/3102450/2019.dbar_ftridx.csv.gz)

this piece of code runs well with pandas 0.23, when upgraded to 0.24.2, it reports error:
[code]

If I do not call set_index() on the dataframe, it works fine. Seems there is someth

[2019-04-22 15:26] WillAyd commented on #26181
I am not clear on what error is here. The behavior here is pretty well documented and as mentioned specifying `min_periods` gets the result it sounds like you are after:

[code]

[2019-04-22 15:31] #26101 closed

[2019-04-22 15:42] Iwontbecreative opened #26184 "Creating an empty dataframe with columns names fails in python 3.7, works in python 3.6"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The expected behaviour should be the 3.6 one on both cases. Failing that, it should be consistent for 3.6 and 3.7.

np version 1.15.2 ; pandas version 0.23.4

#### Expected Output

Expected: Empty dataframe with one col named 'col' in both cases.
Python 3.6: above
Python 3.7: `TypeError: int() argument must be

[2019-04-22 15:48] WillAyd commented on #26184
Can you try on master? Just worked fine for me with the below:

<details>

INSTALLED VERSIONS
------------------
commit: 947bd7662afa8b6dc4406ec52cefc39d76d2d6cd
python: 3.7.2.final.0
python-bits: 64
OS: Darwin
OS-release: 18.5.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.25.0.dev0+448.g947bd7662
pytest: 4.3.0
pip: 19.0.3
setupto

[2019-04-22 15:49] WillAyd commented on #26182
Can you provide a code sample that is self-contained, i.e. doesn't require the external file to reproduce the issue?

[2019-04-22 15:56] Iwontbecreative commented on #26184
On a fresh environment on master, it does not seem to crash. I think it might have been an interaction with `autoreload` in notebooks. Can be closed for now and if I can find a good way to reproduce I'll re-open.

Thanks for the quick answer

[2019-04-22 16:00] #26184 closed

[2019-04-22 18:34] MaheshBhosale commented on #9542
Have we resolved multiple label issue? I want to add multiple labels for each column of my df.

[2019-04-22 19:10] nrebena commented on #7612
So I think i found the place where to put the change suggested by @tacaswell, and it fix #7612, #15912, #22334.
Regarding  issues #2980 and #11465, I do not think they are related to this issue.

[2019-04-22 19:40] TomAugspurger commented on #26175
What benefit do we get from adding Final to these annotations?

[2019-04-22 19:42] TomAugspurger commented on #26173
What version of pandas?

https://github.com/pandas-dev/pandas/pull/25590 coerces EAs to ndarray before plotting. If `np.asarray(your_array)` returns a numeric type then it should be passed through to matplotlib, though it'll be a regular NumPy dtype, not your extension dtype. Does that suffice?

[2019-04-22 19:49] TomAugspurger commented on #8640
I'm interested in implementing this sometime this year.

Using Arrow as the memory layout seems like the right choice. So I think the main question is how to implement the string algorithms (startswith, extract, etc.).

In fletcher @xhochy is using numba to quickly re-implement these algorithms.

@wesm opened https://issues.apache.org/jira/browse/ARROW-555 for adding these kinds of algorithms to A

[2019-04-22 20:13] zachlipp commented on #25068
I just hit this problem. Unsure if this is still on anyone's radar, but it was pretty surprising for me. I also used numpy functions (`np.isclose` instead of `np.testing.assert_array_almost_equal`, which I'll move to in the future) to get around it.

If there is interest in updating this parameter, it seems to me like @kinow's suggestion of using these numpy functions is a good path forward, thoug

[2019-04-22 20:40] WillAyd commented on #26175
Final would just indicate that a variable is not supposed to be subsequently modified.

FWIW I consider it to be a nice to have but not a blocker in the PR where it is mentioned. If we consider bumping min Python version to 3.5.2 then alternately we don’t need to vendor anything

[2019-04-22 21:05] andrewgsavage commented on #26173
'0.25.0.dev0+430.gc79b7bb' - from a few days ago with that merge included.

`np.asarray(your_array) ` return an object dtype, so is filtered out by select_dtypes, eg:
`np.array(df.length)`
`array([<Quantity(1, 'meter')>, <Quantity(2, 'meter')>], dtype=object)`

so no it doesn't suffice.

Passing quantity objects as opposed to floats to matploblib will allow the units converting part of matplotlib

[2019-04-22 21:07] Jeanselme opened #26186 "Inconsitent index for plot"
#### Code Sample
[code]
#### Problem description
The second plot overwrites the first index even if it is not in the same order, producing incoherent figure where the ylabel does not match with the data displayed.
The current output (pandas 0.24.1) creates
![current](https://user-images.githubusercontent.com/16624195/56530672-c762a380-6520-11e9-9330-07beba1aaea1.png)
instead of
![correct](https://

[2019-04-22 21:25] Alexis-Rivera commented on #26109
Newbie question. Seems your values are duplicated in your quarters assignment. 2018Q1 is listed twice. Not sure if this impacts it or not, I’m still learning myself.

[2019-04-22 22:29] WillAyd opened #26187 "Doc Check Failures"
This just started showing up in the CI failures today:

[code]

I think it's an issue with upgrading to numpydoc 0.9 but will look in more detail and confirm

[2019-04-22 22:34] WillAyd commented on #26187
Here's the relevant issue on the numpydoc side released in v0.9:

https://github.com/numpy/numpydoc/pull/172

[2019-04-22 22:56] WillAyd commented on #26148
I suppose it makes sense that the static type checker wouldn't be able to detect these objects created at runtime. Though more verbose I think explicitly listing out these types as part of the module would be preferable

[2019-04-22 23:53] jreback opened #26189 "BUG: incorrect usage of pchip for timedelta"
This just started breaking on scipy master:
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=10858

xfailing in #26190

[code]

I think we are passing invalid inputs

[code]

[2019-04-22 23:53] jreback commented on #26189
cc @rgommers

[2019-04-23 03:04] lobpcg opened #26191 "dropping non-existing entries - handling improvement"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Dropping non-existing entries results in error, like
```KeyError: '[4] not found in axis'```

#### Expected Output
An empty output or no action if inplace. Possibly a warning, but surely not an error.

What is wrong with trying to drop the entries that are already not present? Ghost-busting should be legal.

###

[2019-04-23 03:15] goldenbull commented on #26182
I picked up several rows from the csv file, here is the self-contained version:
[code]

[2019-04-23 04:52] WillAyd commented on #26191
You can use the errors argument to get the behavior you want. This is documented in the API entry page for drop

[2019-04-23 04:52] #26191 closed

[2019-04-23 06:06] vaibhavhrt commented on #26148
So get rid of the loop which is dynamically creating these integer type and create all integer types one by one?
Creating attributes inside the loop with `setattr` is a bit cryptic and hard to find just by taking a glance at the code, so I think it's a good idea of get rid of it.

[2019-04-23 06:12] gfyoung commented on #26186
cc @TomAugspurger

[2019-04-23 06:16] gfyoung commented on #26175
My preference is to vendor for now.  Bumping min Python version, not matter how small, is still a relative big change to codebase.

[2019-04-23 06:30] gfyoung commented on #25451
Sorry for taking so long to reply, but I can't replicate this issue with the file you provided on `master`.

[2019-04-23 07:53] tianruoliang opened #26192 "wrong data after calling func pd.to_numeric"
`Python3.7.2` | `Pandas == 0.24.1`

[code]

### I got a dataset from csv file
### code:
[code]
### df before:

|...|x|...|
|-|-|-|
|...|354000000000000.00000|...|
|...|354000000000000.00000|...|
|...|...|...|

### df after:

|...|x|...|
|-|-|-|
|...|353999995797504.00000|...|
|...|353999995797504.00000|...|
|...|...|...|

### debug:
...\venv\Lib\site-packages\pandas\core\tools\numeric.py
line 171

[2019-04-23 08:43] rgommers commented on #26189
thanks @jreback looking into it now

[2019-04-23 08:50] rgommers commented on #26189
I'll add the full failure from the log here to save some clicking:

<details>
[code]
</details>

The key part is
[code]

It's one of those things - we never test with `timedelta` or `datetime` anywhere in scipy and in principle we'd indeed consider it invalid input, however it is a numpy builtin dtype and it mostly just works. This failure can perhaps be easily worked around.

[2019-04-23 09:20] xhochy commented on #8640
The choice for `numba` in `fletcher` was for quick prototyping and for me to understand what needs to be done to make `pyarrow` better accessible without the need to resort to C++ in Python packages. For the final implementation, we should add the string algorithms to the C++ Arrow library to make them also accessible for R, Ruby and friends.

Meanwhile, I think that using `numba` in `fletcher` wi

[2019-04-23 09:54] lovemeblender commented on #26118
Cool, I'll try to do my best given that I can't provide the actual data.

I am unit testing a python function using pytest: essentially running the actual method and storing the result in a variable called `actual_df` and testing this against an expected result from fixtures and storing it as `expected_df`. As suspected these are both Pandas dataframes.

Finally I am testing equality as:
`pd.testi

[2019-04-23 10:30] deltaoui commented on #12822
@kdebrab have figured any workaround to this issue ?

[2019-04-23 11:21] jorisvandenbossche commented on #25043
Since there was no follow-up, going to close this issue.
@Shaunakde if you can answer @TomAugspurger's questions, feel free to still do, then happy to reopen the issue!

[2019-04-23 11:21] #25043 closed

[2019-04-23 11:23] jorisvandenbossche commented on #25921
This has been reported to the arrow project, so closing here.

[2019-04-23 11:23] #25921 closed

[2019-04-23 12:04] jorisvandenbossche commented on #25423
Update on this, running the example with both latest fastparquet and pyarrow (with pandas master):

Writing with pyarrow fails:
[code]

Writing with fastparquet succeeds, but reading with pandas then fails (the same as what @joeax reported initially):

[code]

In case of writing / reading the file with fastparquet, the error boils down to fastparquet doing:

[code]

which then fails in pandas (so

[2019-04-23 12:10] #26187 closed

[2019-04-23 12:12] #26154 closed

[2019-04-23 12:16] #18628 closed

[2019-04-23 12:18] TomAugspurger commented on #26175
My preference is to just not add these annotations.

[2019-04-23 12:35] jorisvandenbossche commented on #25423
This is related to a change in pandas. Previously, we would parse input with `dateutil.tz.tz.tzutc()` timezone to pytz.UTC timezone:

[code]

but from pandas 0.24, we started to preserve the dateutil object:

[code]

And it is this object that fastparquet and pyarrow cannot handle.
(I suppose they might not be able to handle dateutil timezones in general)

@joeax in any case: workaround that you c

[2019-04-23 14:10] jakobkogler opened #26195 "AWS_S3_HOST environment variable no longer available"
In the [What's New - Other enhancements](https://pandas.pydata.org/pandas-docs/version/0.21/whatsnew.html#whatsnew-0180-enhancements-other) section from the 18.0 release it says that you can define the environment variable `AWS_S3_HOST`.

Therefore, when setting this environment variable, together with `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` I expected the following code to work.

[code]

[2019-04-23 14:45] TomAugspurger commented on #8640
Thanks for the context. For now, I think development can proceed along a
few lines simultaneously

1. Add infrastructure to pandas for making Arrow-backed memory the default
memory type for textual data (a pd.options setting). I think
    for now we can depend on fletcher (and numba)
2. For the short to medium-term, continue implementing additional string
algorithms in fletcher using numba
3. Begi

[2019-04-23 15:08] pglopezamaya commented on #24600
Any news on the SparseArray' object has no attribute 'reshape' patch?

[2019-04-23 15:37] wesm commented on #8640
Our general development mantra is optimizing for code reuse. We have a pretty healthy collaboration going with the R and Ruby communities so to implement once and use in 3 different binding layers is pretty powerful