[2020-12-17 23:19] cheitzig opened #38551 "BUG:DataFrame.to_csv not using correct line terminator on Windows within open block"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-17 23:30] ruijpbastos commented on #30045
Seems like a relatively niche need, and no activity on this in the past year. Maybe we can close this until further notice?

[2020-12-17 23:40] #28690 closed

[2020-12-18 00:19] twoertwein commented on #38551
Does it work when creating the file handle with  `newline=''`. The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) mentions that this might help.

[2020-12-18 00:33] gepcel commented on #38451
Did some more research, I think the part doing the pre-imports for latex format is [`ipython_exec_lines`](https://github.com/pandas-dev/pandas/blob/54682234e3a3e89e246313bf8f9a53f98b199e7b/doc/source/conf.py#L430), but not the `{{ header }}`. What I don't understand is:

1. Why the `ipython_exec_lines` works fine for most chapters but not this one?
2. Why does the `{{ header }}` line appear before

[2020-12-18 00:52] cheitzig commented on #38551
Yes it does. That resolves it.

I literally read that section of the documentation page a bunch of times because I was mis-spelling path_or_bufstr... but I missed that comment somehow.

Generally, shouldn't it work without having to do that? I read through many of the previous comments, but believe I missed comments about newline=''.

[2020-12-18 00:57] mzeitlin11 commented on #37937
Tried making a change like this, looks to be blocked by #36289 because this change causes `pandas/tests/reshape/concat/test_dataframe.py::TestDataFrameConcat::test_concat_duplicate_indexes` to fail. Once the PR associated with that is merged, this could probably be fixed (though there were some other test failures because of changed index order)

[2020-12-18 04:54] aflah02 commented on #36858
@junjunjunk I have been trying to look at how redirects are made but couldn't find anything. Like in the browser page there is a source link which upon clicking redirects you however in the documentation at the current linked code there is nothing to indicate that it has been linked (https://github.com/pandas-dev/pandas/blob/54682234e3a3e89e246313bf8f9a53f98b199e7b/pandas/core/accessor.py#L91-L92)

[2020-12-18 06:47] ghisvail commented on #30045
I don't see the point of closing issues whereby your users have expressed a
legitimate and verified shortcoming of the software, albeit judged a
"niche" one.

Closing reduces visibility and therefore potential for a contributor to
confirm this is needed and start working on it.

If the problem you are trying to solve is  issue backlog management, then
an appropriate tagging strategy would help (if

[2020-12-18 08:37] jorisvandenbossche commented on #38543
Can you show the output of `pd.show_versions()` ?

[2020-12-18 09:18] ruijpbastos commented on #30045
Sorry if my comment was rude in any way. Still learning the ropes of contributing and was just trying to be helpful. I can't add tags, but I see how that would be more helpful than simply closing the issue.

In the interest of continued discussion, could you maybe expand how this feature would be useful?

[2020-12-18 09:37] batterseapower opened #38556 "BUG: CategoricalIndex.get_indexer does not detect duplicates"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas (checked on 1.1.5, the latest Anaconda version)
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

`CategoricalIndex.get_indexer` should fail if the index contains duplicates, just like the

[2020-12-18 09:54] jreback commented on #38556
try on 1.2.0rc0 / master

lots of things have been fixed

[2020-12-18 10:23] batterseapower commented on #38556
After some searching I found the instructions for installing a pre-release version on https://github.com/pandas-dev/pandas/releases.

The problem still exists in `1.2.0rc0`.

[2020-12-18 11:31] FRidh commented on #34019
Proposed fix in https://github.com/pandas-dev/pandas/pull/38558.

[2020-12-18 14:56] simonjayhawkins commented on #38556
but is fixed on master

[2020-12-18 15:09] MarcoGorelli commented on #38543
I can't reproduce this on v1.1.5

[2020-12-18 15:12] soerenwolfers commented on #38543
Sorry,

pandas           : 1.1.4
numpy            : 1.17.4

[2020-12-18 15:24] MarcoGorelli commented on #38121
Thanks for the report @boringow , but this kind of comment isn't very helpful as the content of files changes all the time. Please post what you think the error is (looking at the current content of those lines:
[code]
it's not at all obvious to me)

[2020-12-18 15:24] simonjayhawkins commented on #38556
fixed in [5a7514ccb18a3a506d453dd048c665c33835ee56] REF: de-duplicate get_indexer methods (#38372)

and tests in pandas/tests/indexes/categorical/test_indexing.py updated.

[2020-12-18 15:29] MarcoGorelli commented on #38543
Thanks, can confirm this reproduces.

If you upgrade pandas to 1.1.5 you'll find it fixed - it would be good to do a git bisect to figure out when this was fixed, and (if it was fixed accidentally) to add a test

[2020-12-18 15:51] simonjayhawkins commented on #38543
can't reproduce with 0.25.3, 1.0.5, 1.1.3, 1.1.4, 1.1.5, master (all envs using numpy 1.19+)

[2020-12-18 15:56] MarcoGorelli commented on #38543
Same, just tried in 1.1.4 with numpy 1.19.4 and it works fine.

Conversely, on `master` and with numpy 1.17.4, it still fails. I think we can close this as an upstream bug anyway

[2020-12-18 16:04] jorisvandenbossche commented on #38543
But is it an identified / reported upstream issue?
It think it's still good to add a test (it's not given that this was an intentional/tested fix on numpy's side)

[2020-12-18 16:13] MarcoGorelli commented on #38543
Sure - @soerenwolfers do you feel like contributing a test for this issue? If so, please check the [contributing guide](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html)

[2020-12-18 16:27] moink commented on #30999
I will take
pandas/tests/scalar/test_nat.py

[2020-12-18 16:29] cheitzig commented on #38551
I think I'd argue we should close given that the documentation shows a way to address this. It feels like it should "work" normally correctly without the newline='' on the open file handler, but if that's complicated or impossible, we should close maybe?

[2020-12-18 16:44] #35804 closed

[2020-12-18 16:44] #35805 closed

[2020-12-18 17:00] seberg commented on #38543
Wow, there was an additional layer of confusion to unravel here :) (for myself). If there is only a single item in the dataframe, NumPy used to do use `series[0]` to get that item. But if there were more items it effectively used `list(series)`.  Since `list()` probably uses `__iter__` internally – and that goes by position and not index – the only thing that gives different results on new NumPy s

[2020-12-18 17:02] jbrockmendel commented on #34373
@TomAugspurger i thought i pinged on this last week but can't find it.  I think there may be a simple solution here, need you to confirm if it is correct.

Am I right in thinking the following should always hold:

[code]

[2020-12-18 17:17] FRidh commented on #36509
One of the symptoms of this issue is https://github.com/pandas-dev/pandas/issues/34019, which could be fixed with https://github.com/pandas-dev/pandas/issues/34019, however, that leads to

[code]
<details>
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-40-c260b3720036> in <module

[2020-12-18 17:25] twoertwein commented on #38551
one option would be to make a PR that tests whether the handle has the `newline` attribute and whether the platform is windows to then create a warning to re-emphasize that `newline=''` is suggested (it works without it but it adds a couple of empty lines).

[2020-12-18 18:13] mzeitlin11 commented on #38549
This issue looks to be caused by `index_col` being handled differently for multiline headers because of code in https://github.com/pandas-dev/pandas/blob/21b57fa1ba7b169a953ea9724eb3b0298ea0b26e/pandas/io/parsers.py#L1445-L1447

Modifying this function to follow how `index_col` is treated in the non-multiline header case fixes these issues, but changes the following behavior:

[code]
gives
[code]

[2020-12-18 18:25] cheitzig commented on #38551
I like that idea. I can commit to trying to figure out how to do that, but what happens next? A PR is a pull request, right? Meaning someone has already written the code? But how do we turn this reported bug into a request for a feature /change? (I'm sorry I'm not more familiar with how this all works).

[2020-12-18 19:01] vedantneekhra commented on #29751
Hi @pepicello , just change panda's version to 1.0.3. It works for me.

[2020-12-18 19:01] twoertwein commented on #38551
No one has written code for that yet - you are very welcome to fork pandas, make the necessary changes, and then create a pull request. I assume this also affects `to_json`.

I assume that a good place for this feature would be at the top of `get_handle` in `pandas/io/common.py`. Only throw a warning when all of the following conditions are met (there might be more, these are the once that come to

[2020-12-18 19:07] ketozhang opened #38566 "BUG: Reindexing two tz-aware indices drops tz on the target index when tolerance and method is specified for only "ffill" and "bfill""
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample
[code]

#### Problem description
The following exception is raised when `method` is `"ffill"` and `"bfill"` but not `"nearest"` (see #32740) **AND** `tol

[2020-12-18 19:16] ketozhang commented on #38566
Furthermore unusual behavior is found

**FAILS**
[code]

**SUCCESS**
[code]
[code]

[2020-12-18 19:31] cheitzig commented on #38551
I realize I miscommunicated-- I know no one has written this code. I thought a PR (pull request, right?) meant that someone has already written the code. Which I know is not the case. My question is what do we do with this open bug while I get around to writing some warning code? If anything-- do we just leave it open?

Thanks, btw, for your notes on where to make code changes-- I'm (perhaps obvio

[2020-12-18 19:40] simonjayhawkins commented on #38566
Thanks @ketozhang for the report.

pandas-0.25.3 was giving the expected output, so will label as regression pending further investigation.

[2020-12-18 21:07] TomAugspurger commented on #34373
It seems a bit strange to make an assertion about the *inputs* to the test, no? But I guess the issue is that they're being unexpectedly mutated somehow?

[2020-12-18 21:16] mzeitlin11 commented on #38534
Problem seems to arise here: https://github.com/pandas-dev/pandas/blob/ca3e35111deb7f392dfb84ce3c24b1f0d1940d24/pandas/core/groupby/generic.py#L480-L485

`pd.Series.mode` always returns a `Series`, then if the length is > 1 it gets converted to an `ndarray` which raises a `ValueError` in `check_result_array`. Interestingly, this check only happens on the first group, so
[code]
raises, but ensuring

[2020-12-18 21:20] jbrockmendel commented on #34373
exactly.  the same Series/DataFrame objects are being re-used across the parametrized tests, so when the attrs are set in the lines below, this assumption is invalidated in the following tests.

so if its correct that these assertions _should_ hold, then we can just clear the attrs at the beginning of each test and be fine

[2020-12-18 21:21] jbrockmendel commented on #34373
related, i think a possible typo?

[code]

[2020-12-18 21:59] asishm commented on #38551
FWIW, `newline=""` is what the python stdlib `csv` module also recommends.
See: https://docs.python.org/3/library/csv.html#csv.writer

and the linked footnote: https://docs.python.org/3/library/csv.html#id3

This is probably why pandas also has this behavior.

[2020-12-18 22:50] phofl commented on #38549
I would say the output on master for MultiIndex is correct, while

[code]

seems fishy. Would expect a here.

[2020-12-18 23:05] #38046 closed

[2020-12-18 23:24] ktsimpinos commented on #901
esdfsdfdfssdfsdf

[2020-12-19 00:19] twoertwein commented on #38551
I would just leave it open so that you can then reference this issue in your pull request. I think it is worth to add a warning, as multiple people have had this issue before you.

Yes, testing if 'r' is not in mode is probably better.

You are probably right that `read_json`, doesn't care about empty lines. If you change `get_handle`, it will affect most of Pandas's IO (I think the notable `to_*`

[2020-12-19 02:14] #29623 closed

[2020-12-19 02:19] #33748 closed

[2020-12-19 02:34] #35612 closed

[2020-12-19 02:52] MJafarMashhadi commented on #30999
Taking these two for now:
[code]

[2020-12-19 04:56] moink commented on #30999
pandas/tests/scalar/test_nat.py is done

[2020-12-19 07:42] cjw296 commented on #38424
Just to echo my comment on #38571: I find the desire to support xlrd 1.2 at a time when pandas users are already upgrading a package to be both surprising and disappointing, given the potential security issues and poor parsing experience associated with sticking with xlrd 1.2.

[2020-12-19 09:41] MarcoGorelli commented on #38311
In the future could you please paste the code instead of a screenshot? Else searching through old issues becomes near impossible

[2020-12-19 09:44] aflah02 commented on #38311
Hey @MarcoGorelli
I received a notification for your comment
Just wanted to ask since I'm new here can anyone take up assigned issues as well or is it reserved to the assigned person for some duration?

[2020-12-19 09:46] MarcoGorelli commented on #38311
Looks like there's already a PR to close it https://github.com/pandas-dev/pandas/pull/38579

@gurukiran07 I hadn't noticed you'd already assigned yourself here - unless you already have a PR ready, shall we leave it to them, as they're a first-time contributor?

[2020-12-19 09:54] sagar-m commented on #38538
Hi, I had posted this issue on [stackoverflow](https://stackoverflow.com/questions/65353252/qst-error-while-using-pickle-to-load-the-files), but it remains unsolved. Thank you.

[2020-12-19 10:23] #38311 closed

[2020-12-19 11:06] gurukiran07 commented on #38311
@MarcoGorelli Yes sure fine. I haven't really had the time to time make a PR. Glad some else did.

[2020-12-19 11:59] gurukiran07 opened #38580 "BUG: In Multilevel.dtypes when level name is not specified it gives wrong output"
- [X] I have checked that this issue has not already been reported.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

There was a recent PR to add `MultiIndex.dtypes` #37073  but this only works when each level is named.
https://github.com/pandas-dev/pandas/blob/03e1c899077d335a057a3f36c09645499638d417/pandas/core/indexes/multi.py#L703-L710

If `level` has no

[2020-12-19 12:31] simonjayhawkins commented on #38523
Thanks @Heerozh for the report

first bad commit: [87e554d8bad760b46103b07430b1be0dffec7ffc] BUG: RollingGroupby when groupby key is in the index (#37661)  cc @mroeschke

[2020-12-19 12:42] simonjayhawkins commented on #38580
Thanks @gurukiran07 for the report. PR to fix welcome.

[2020-12-19 13:43] jreback commented on #38523
pls check master - i believe this is already patched
it was not simple to backport and so only fixed in 1.2

[2020-12-19 13:48] jreback commented on #38538
@sagar-m this is not a pandas issue - your file is not found

try using an absolute path

[2020-12-19 13:52] erfannariman opened #38581 "ENH: add ignore_index to DataFrame / Series.sample"
#### Is your feature request related to a problem?

When sampling a dataframe / series we get the original index back by default, which is good, but we should add an option to ignore the index to keep it consistent with other methods like `drop_duplicates` and `explode` for example.
#### Describe the solution you'd like

Add `ignore_index` argument to Series/DataFrame.sample.
#### API breaking imp

[2020-12-19 13:57] simonjayhawkins commented on #38523
not fixed in master

[code]

[2020-12-19 14:01] gurukiran07 commented on #38580
@simonjayhawkins Made a PR #38582

[2020-12-19 14:02] simonjayhawkins commented on #38523
The odd thing is that the result has a MultiIndex with just one level..

[code]

[2020-12-19 14:14] MarianD commented on #38547
@aflah02

I don't know.

[2020-12-19 14:27] aflah02 commented on #38547
Oh okay thanks for replying

[2020-12-19 16:06] MarcoGorelli commented on #38121
OK, I see what you're referring to now:
[code]
from your PR #38118

[2020-12-19 17:53] moink commented on #30999
The description says:

but that doesn't work for me. I made a few modifications in a local branch of mine so that does work.

I just saw a comment above:

python scripts/validate_unwanted_patterns.py -vt="bare_pytest_raises" pandas/tests/**/*.py instead

which is probably what I should have done. But it might be a good idea to either 1) update the instructions in this issue or 2) make a bug report

[2020-12-19 17:56] MarcoGorelli commented on #30999
Thanks, I've updated the instructions, no need to change the script

[2020-12-19 18:13] moink commented on #30999
I will take:
pandas/tests/io/pytables/test_store.py

[2020-12-19 19:15] phofl commented on #37327
Unfortunately I am not that familiar here. Do you know or could find out who implemented the pyarrow engine?

[2020-12-19 19:37] phofl commented on #21768
Hm looked into this a bit, We have a few cases covering exactly this behavior (#26218 for example). So warning would be appropriate here before raising probably?

[2020-12-19 20:23] gfyoung commented on #21768
Let's go with warning for now.

[2020-12-19 20:23] phofl commented on #38495
Have to correct myself here. Looks like we are only using the method in https://github.com/pandas-dev/pandas/blob/03e1c899077d335a057a3f36c09645499638d417/pandas/tests/groupby/test_grouping.py#L855
which seems to be more or less a dummy test. Ran related tests locally.

Not quite sure what to do with this method? Is the code snipped from the test intended to be public available?

[2020-12-20 09:17] skvrahul commented on #38534
Is the validation on only the first group a time-saving optimization or intended behaviour for any reason?

[2020-12-20 09:18] skvrahul commented on #38534
@mzeitlin11 I would like to take this up if you haven't already started work on this.

[2020-12-20 11:09] #35683 closed

[2020-12-20 13:05] simonjayhawkins commented on #35518
just to be clear, in the `DataFrame.apply` docstring https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html, the description for the `result_type` parameter is...

The return type for user function in the OP is a tuple (considered list-like) so we expect a Series of those.

This issue also occurs with a very list-like list where we also expect the default result_type behaviour to

[2020-12-20 14:21] simonjayhawkins commented on #35518
can confirm, first bad commit: [91802a9ae400830f9eaadd395f6a9b40cdd92ee5] PERF: avoid creating many Series in apply_standard (#34909)

[2020-12-20 14:27] skvrahul commented on #38581
take

[2020-12-20 14:50] simonjayhawkins commented on #35466
should this behaviour be deprecated first?

and for the indexing case, https://github.com/pandas-dev/pandas/issues/35466#issuecomment-678407125 (maybe need to create separate issue), is KeyError appropriate or would TypeError now be more appropriate.

to be consistent with Python list indexing...
[code]
perhaps something like `TypeError: DatetimeIndex indices must be a time-like string, pd.Timesta

[2020-12-20 15:26] mzeitlin11 commented on #38534
I haven't, go ahead!

[2020-12-20 16:29] ghisvail commented on #30045
When manipulating CSV files containing very large numbers (money, quantity, counts), using a thousand separator, usually `_`, can increase readability.

[2020-12-20 16:39] jorisvandenbossche opened #38591 "PERF: performance regressions in 1.2.0rc"
I did a full benchmark run on a dedicated machine comparing v1.2.0rc0 with v1.1.5.

The top results:

[code]

The first, biggest regression in the `IndexEquals` benchmark is probably already fixed in https://github.com/pandas-dev/pandas/pull/38560

<details>
<summary>Full results:</summary>

[code]

</details>

[2020-12-20 16:49] jorisvandenbossche commented on #38591
@mroeschke possibly relevant to look into:

[code]

(the benchmarks were only added or were changed after 1.1 release (https://github.com/pandas-dev/pandas/pull/36240), so the online benchmarks at https://pandas.pydata.org/speed/pandas/ don't show a regression)

[2020-12-20 17:00] jorisvandenbossche opened #38592 "Performance regression in DataFrame reduction ops"
The `stat_ops.FrameOps` are generally showing a slowdown since a few days, see eg https://pandas.pydata.org/speed/pandas/#stat_ops.FrameOps.time_op?python=3.8&Cython=0.29.21&p-op='mean'&p-dtype='int'&p-axis=0&commits=8dbb593d-7043f8fa

The indicated range is https://github.com/pandas-dev/pandas/compare/8dbb593d...7043f8fa, but don't directly see which commit might be the cause cc @jbrockmendel

[2020-12-20 17:10] avinashpancham commented on #35923
@WillAyd did some debugging and found out the issue is caused by this line https://github.com/pandas-dev/pandas/blob/master/pandas/io/json/_normalize.py#L270

The for loop with `any` is run once on `data`. After the first iteration the condition is satisfied and the for loop stops and that causes the disappearance of the first element of`data`. I can solve this issue but I am doubting between 2 ap

[2020-12-20 17:12] avinashpancham commented on #35923
take

[2020-12-20 18:16] skvrahul commented on #38534
take

[2020-12-20 18:22] skvrahul commented on #38581
@erfannariman Doesn't `df.reset_index` serve the same purpose in this case?

[2020-12-20 18:47] erfannariman commented on #38581
I actually wanted to work on this, was waiting till one of the devs approved the enhancement. But no worries, I guess you can take it.

[2020-12-20 18:48] erfannariman commented on #38581
I actually wanted to work on this if you don't mind. I was waiting till one of the core devs approved the change.

[2020-12-20 19:09] jreback commented on #38581
yep this is ok to do

[2020-12-20 20:16] erfannariman commented on #38581
Thanks @jreback , @skvrahul you mind if I pick this one up? My bad I didn't "take" before.

[2020-12-21 00:04] IngErnestoAlvarez commented on #38592
I think it's in this commit: 7043f8fa9d4d97782ec0d0d1a4c3b57573a7fc21.
Where `astype` function was deleted and replaced with `astype_nansafe` on "pandas/core/indexes/base.py::Index::astype" method.
Before, it only calls `astype_nansafe` if this condition was true `is_integer_dtype(dtype) and not is_extension_array_dtype(dtype)`.
Now it calls it every time.
That can be the issue. "pandas/core/index

[2020-12-21 00:47] tlplayer opened #38599 "BUG:Issue Concerning Ambiguous Numpy Array Shape in Column"
I spent multiple hours wondering why my dataframe was not fitting well into my tf model but it was the fact that the shape of the numpy array was not inferred and thus left ambiguous. I suggest, having a warning or a strict option for what shape is allowed within the column.

https://stackoverflow.com/questions/65383794/tensorflow-fails-to-interpret-what-is-stored-in-numpy-ndarray/65384804?noredir

[2020-12-21 01:37] twoertwein commented on #35820
@sarthakpan have you tried opening the CSV file with `quoting=csv.QUOTE_NONE`. The following works for me:

[code]

[2020-12-21 01:38] jreback commented on #38599
pls post a reproducible example

[2020-12-21 01:43] jreback opened #38600 "DEPS: unpin sphinx from doc build"
once warnings are fixed in updated sphinx can unpin #38598

[2020-12-21 02:03] mosalx opened #38601 "BUG: loc assignment with a numpy array fails when MultiIndex columns are not sorted"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-12-21 02:44] tlplayer commented on #38599
[code]

(2,)
[array([1, 1])]
(1, 2)

[2020-12-21 02:46] tlplayer commented on #38599
The numpy shape was not infered for whatever reason. So when you deal with image data as is typical with pandas, TF can't convert because it doesn't know the shape of the numpy array.

[2020-12-21 02:46] mosalx opened #38602 "BUG: Selection with Multiindex columns may not honor requested column order"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description
Advanced indexing with hierarchical index [guide](https://pandas.pydata.org/pandas-docs/stabl

[2020-12-21 03:07] iamlemec opened #38604 "BUG: surprising non-error when assigning a multi-column DataFrame to a single column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Assigning a multi-column DataFrame to a single column does not raise an error and simply assigns the first column of the DataFrame to the column. Below is an example:

[c

[2020-12-21 07:43] skvrahul commented on #38581
Sure. No worries! :)
I've unassigned myself

[2020-12-21 08:54] erfannariman commented on #38581
take

[2020-12-21 08:55] jorisvandenbossche opened #38607 "REGR: astype(str) of object array with byte objects"
On released version, we see this behaviour:

[code]

So where the `bytes` object `b"a"` gets converted to the string `"a"`.

On master (since a few days), however, we now get:

[code]

so where the `bytes` object gets converted to the string `"b'a'"`

Possibly due to https://github.com/pandas-dev/pandas/pull/38518 cc @jbrockmendel

[2020-12-21 10:08] batterseapower commented on #29791
If I might ask, what was the reasoning behind using the extension dtypes even if the input does not contain nulls? e.g. in 1.1.3 now `str(pd.array([True, False]).dtype) == 'boolean'`, which means `.values` can't necessarily be used with numpy/numba since it's an extension array which those packages will not understand. Sorry if this has been discussed elsewhere but I couldn't find it: the changelo

[2020-12-21 11:36] littlegreenbean33 opened #38608 "BUG: Pandas plot ignores timezone information"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-12-21 12:22] theoniko commented on #34821
take

[2020-12-21 13:24] simonjayhawkins commented on #38602
@mosalx Thanks for the report. this appears fixed in master. PR adding tests welcome (if the commit that fixed did not add tests)

[code]

[2020-12-21 13:31] simonjayhawkins commented on #38607
can confirm, first bad commit: [7043f8fa9d4d97782ec0d0d1a4c3b57573a7fc21] REF: use astype_nansafe in Index.astype (#38518)

[2020-12-21 13:34] simonjayhawkins commented on #38607
hit the revert button b4 becomes more difficult to revert.. https://github.com/pandas-dev/pandas/pull/38610

[2020-12-21 13:54] #38525 closed

[2020-12-21 13:55] #38367 closed

[2020-12-21 13:59] Liam3851 commented on #38541
If you want fast uploading to SQL Server, you need to use a more modern ODBC driver, like ODBC Driver 17 for SQL Server, rather than "SQL Server" which I see in your connection string (which was the driver for SQL Server 2008R2 and earlier). You will also want to set fast_executemany=True in your connection string. See https://docs.sqlalchemy.org/en/13/dialects/mssql.html#fast-executemany-mode.

[2020-12-21 14:04] jreback commented on #37784
we need to release 1.2, so except for merging https://github.com/pandas-dev/pandas/pull/38571 (which is passing and lgtm). pls have a look @jorisvandenbossche @simonjayhawkins

[2020-12-21 14:07] simonjayhawkins commented on #37784
not had a response from @mroeschke on #38523. which should maybe be fixed for 1.2

[2020-12-21 14:11] simonjayhawkins commented on #37784
wheels are building on nightly. will open PR to test 1.2.x shortly after recent backports merged to 12.x

[2020-12-21 14:14] simonjayhawkins commented on #37784
have spent some time on https://github.com/pandas-dev/pandas/issues/38451, unsucessfully, but I see that has been moved off 1.2 (not a blokcer, will publish pdf docs with known issues)

[2020-12-21 14:16] jorisvandenbossche commented on #37784
It has been only a good week. If we want that people test the RC, we need to give a bit more time IMO

[2020-12-21 14:20] jorisvandenbossche commented on #37784
BTW, I checked some upstream projects: statsmodels has one failure (https://github.com/statsmodels/statsmodels/pull/7215), but didn't check in detail if its caused by a regression or was a bug in statsmodels. Seaborn is passing (https://github.com/mwaskom/seaborn/pull/2392). For dask, I opened a PR to test the RC (https://github.com/dask/dask/pull/6996) which has a bunch of failures, but didn't in

[2020-12-21 14:21] simonjayhawkins commented on #37784
The most import outstanding regressions, all seem to be problematic to resolve

1. indexing DatetimeIndex with date object #35830 and #35466 (old behaviour should probably be restored and deprecated)
2. behavior change on DataFrame.apply() #35518 and #35517 (old behaviour should probably be restored)
3. different behaviour of df.isin() when df contains None (we are inconsistent in many places e.g.

[2020-12-21 14:22] simonjayhawkins commented on #37784
it's 2 weeks tomorrow, (or the next day for conda-forge wheels). The conda-forge wheel download numbers are disappointing... https://anaconda.org/conda-forge/pandas/files

[2020-12-21 14:49] #38580 closed

[2020-12-21 14:55] jreback commented on #37784
sure we are going to have a 1.2.1 - let's not hold up anything (except for xlrd patch)

[2020-12-21 15:34] jbrockmendel commented on #38607
reverting makes sense short term.

longer-term, does this affect other places where astype_nansafe is called?

[2020-12-21 15:39] AntoineWeber commented on #38541
Hey, thanks for your answer. I actually proceed to install exactly this new driver this morning (ODBC Driver 17 for SQL Server) to enable easier dockerized use.
Now to make it faster, I also indeed added the `fast_executemany=True` which at first did not accelerate anything. To end-up with a substantial speed boost, I also had to **remove the method='multi'** from the `to_sql()` method. Now I can

[2020-12-21 15:39] #38541 closed

[2020-12-21 15:47] jreback commented on #37784
let's just release, we are planning a 1.2.1. people really do not test the rc0s so if we release we will have actual reports. waiting only begets waiting.

[2020-12-21 16:02] simonjayhawkins commented on #37784
final pre-release checklist

- [ ]  https://github.com/MacPython/pandas-wheels/pull/119
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ]  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html
- [ ]  ci checks https://github.com/pandas-dev/pandas/commits/1.2.x
- [ ]  no open issues/PRs

[2020-12-21 16:04] jorisvandenbossche opened #38616 "REGR: pandas 1.2rc fails merge with AttributeError: 'bool' object has no attribute 'all'"
From the dask test suite:

[code]

This fails on master / 1.2.0rc:

[code]

[2020-12-21 16:06] jorisvandenbossche commented on #37784
Let's give it at least a few more days. As mentioned above, I started running the dask test suite, but the failures still need to be checked. I already identified one regression.

[2020-12-21 16:12] jbrockmendel commented on #35518
Aside from reverting #34909, the solution that comes to mind is calling the function on the first row in wrap_results_for_axis and seeing if we get a tuple.  That runs into other problems with non-univalent or mutating functions.

[2020-12-21 16:13] jreback commented on #37784
sure, but let's set a release date. how about wed/thurs (@simonjayhawkins according to your schedule). anything else can certainly wait till 1.2.1

[2020-12-21 16:19] simonjayhawkins commented on #37784
The date for me is not critical, since Christmas is cancelled. so anytime.

[2020-12-21 16:46] jreback commented on #38600
xref https://github.com/dask/dask/issues/7001

seems 3.4.1 should fix.

[2020-12-21 16:59] fangchenli opened #38617 "CI: move arm64 build off travis"

[2020-12-21 17:22] ClementWalter commented on #38356
For the record, I have created a pubic repo called "pandas-addons" where I have added this feature and plan to add some more, see https://github.com/ClementWalter/pandas-addons

[2020-12-21 17:27] #38607 closed

[2020-12-21 18:29] mzeitlin11 opened #38620 "BUG: tm.assert_produces_warning() doesn't work with expected_warning=None or False"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Docs for this function say "To check that no warning is returned, specify ``False`` or ``None

[2020-12-21 18:31] mzeitlin11 commented on #38620
take

[2020-12-21 18:50] jbrockmendel commented on #33401
A point in favor of the Series behavior is that it round-trips correctly `ser.astype("M8[ns]").astype(ser.dtype).equals(ser)` while it does not for DTI.  (unless we dont like the `astype("M8[ns]")` behavior)

[2020-12-21 19:47] jbrockmendel opened #38622 "BUG: dt64 <-> dt64tz roundup"
xref #33401 which discusses astype, #24559 which discusses constructors.  I think these need to be considered jointly.

Two big-picture questions.

1) when we pass `constructor(dt64values, tz=tz)`, do we interpret dt64values as UTC or wall-times?
2) when we pass constructor(dt64values).astype("M8[ns, tz]")`, do we interpret dt64values as UTC or wall-times?

Let's check the current behavior on mast

[2020-12-21 19:56] phofl opened #38623 "BUG: Index and MultiIndex ops treating nan differently"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-21 20:23] jreback opened #38627 "DOC: example for doing a reversed rolling window"
https://github.com/pandas-dev/pandas/issues/34226#issuecomment-690887774 is the example, should just add to window.rst

also would be good to show using https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.api.indexers.FixedForwardWindowIndexer.html?highlight=forward#pandas.api.indexers.FixedForwardWindowIndexer

[2020-12-21 21:35] jbrockmendel commented on #38623
agreed

[2020-12-22 00:05] jreback commented on #37157
this was deliberately changed in https://github.com/pandas-dev/pandas/pull/34212 so not sure why you think this is a regression.

[2020-12-22 02:23] mzeitlin11 opened #38630 "TST/BUG: Unexpected warnings causing failures on master with fixed `assert_produces_warnings(None)` behavior"
xref https://github.com/pandas-dev/pandas/pull/38626#issuecomment-749295555

Making sure `assert_produces_warning(None)` raises if a warning is emitted gives the following failures in master due to unexpected warnings:
[code]

Tests which have been xfailed in #38626 are:

- [x] pandas/tests/arithmetic/test_timedelta64.py::TestTimedelta64ArithmeticUnsorted::test_tda_add_dt64_object_array
- [ ] pand

[2020-12-22 03:43] ivirshup commented on #6963
I have a few more cases of the error messages being much less helpful than they could be:

[code]
[code]

[code]
[code]

<details>
<summary> Full tracebacks</summary>

[code]

</details>

I think it's a little strange that the following works, but the previous example don't:

[code]

Could there be a check for this in concatenation which throws a better error?

If non-unique column names are to be

[2020-12-22 03:48] jreback commented on #6963
@ivirshup hapoy to take a PR to have better error message

yeha duplicates along the same axis of concatenation are almost always an error

[2020-12-22 03:51] mzeitlin11 commented on #38630
Also seeing occasional `ResourceWarning` from `pandas/tests/io/parser/test_common.py::test_chunks_have_consistent_numerical_type[python]`

[2020-12-22 03:53] ivirshup commented on #6963
I'd be happy to make a PR. I feel like there might be code in pandas that does checks like these already. Any chance you could point me to places these might be?

Also, I'm assuming you want to keep the existing behaviour of the following working for now?

[code]

[2020-12-22 05:03] mroeschke commented on #38622
Agreed

Is there any possibility of just deprecating any naive -> tz aware (and vice versa) converstion with astype?

[2020-12-22 05:34] arw2019 commented on #36602
Is it workable to do this? We'd want something like what python does when somebody modifies keys in a dict during iteration:
[code]

I have no idea how easy this is to do

[2020-12-22 07:18] ivirshup commented on #6963
@jreback, I think this conflicts pretty directly with #36290, which allows duplicate items.

Also, I think there are some bugs in that implementation. Using the current release candidate:

[code]

This works (the purpose of the PR, and the example in it's linked issue):

[code]

[code]

This does not work, though I believe it's pretty equivalent to the previous example:

[code]

[code]

----------

[2020-12-22 11:35] simonjayhawkins commented on #38616
first bad commit: [1c2de613d6527013f32f3159e3e36173388462c1] regression fix for merging DF with datetime index with empty DF (#36897)

[2020-12-22 11:41] simonjayhawkins commented on #38620
first bad commit: [77811c78e2b3356a43174675ae066091aad92785] ENH: implement matching warning message (#37263)

[2020-12-22 11:44] jorijnsmit commented on #12859
Really good workaround is found here: https://stackoverflow.com/a/31375241/1838257

[code]
[code]
Using the workaround:
[code]
[code]

Could this be implemented in a flag of `.to_dict` maybe?

[2020-12-22 12:41] Neoakay005 commented on #11503
Additionally I found an another easy way to open an excel file.  Save your file as .xls (if your file is in .xlsx format).

[code]

As alternative; if your excel file is in the same folder with your script file:
[code]

Have fun by coding ;)

[2020-12-22 13:40] #38620 closed

[2020-12-22 13:42] jreback commented on #6963
@ivirshup ahh i remember now. yeah handling duplicates is hard. so we can handle some of them. i am actually ok with raising on duplicates in either axis, but would have to see how much would break.

[2020-12-22 13:57] #37157 closed

[2020-12-22 14:02] #37804 closed

[2020-12-22 14:07] #33548 closed

[2020-12-22 14:10] #18414 closed

[2020-12-22 15:38] jbrockmendel commented on #38622
I agree that would be nice.  The question is if we are OK with breaking `frame.astype({col: tz_dtype})` without having a "do X instead" available.

[2020-12-22 16:27] SaraJ52 opened #38635 "ValueError: Only callable can be used as callback"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-12-22 16:28] SaraJ52 commented on #38635
I have selected the correct directory of my file .

[2020-12-22 16:47] mrocklin commented on #37784
Hi folks!  We were just discussing this on the Dask weekly call.  We're scrambling to address the breakages that this introduces in Dask, but are somewhat short-staffed this week due to the holidays.  If it's possible to delay releasing a bit while we get this sorted that would be welcome.

More broadly, this may be the first joint pandas+dask release since Tom left Anaconda and moved to Microsoft

[2020-12-22 17:03] jreback commented on #37784
@mrocklin what exactly is failing in dask? I think @jorisvandenbossche pointed to a pandas regression, but AFAIK dask is not failing on anything? (or better to cross link.

happy to try to accomodate, but we are already way behind on this release. the .0 are typically not heavily tested anyhow. so delaying them doesn't actually do anything.

[2020-12-22 17:40] BrianKissell commented on #36111
take

[2020-12-22 17:43] mroeschke commented on #38622
I'd be okay with that with just specifying "any tz_dtype conversion should use `tz_localize/convert`", but should probably hear from others

[2020-12-22 17:49] yehoshuadimarsky commented on #36893
On second thought, not sure I'm equipped to tackle this. Have never used any of the engines proposed other than `bcpandas` and that's not even its own engine

[2020-12-22 17:52] Mikhaylov-yv commented on #38017
I apologize, I cannot deal with this problem now.

[2020-12-22 18:02] mrocklin commented on #37784
It looks like @jorisvandenbossche and @jsignell are working on it here: https://github.com/dask/dask/pull/6996

[2020-12-22 18:21] simonjayhawkins commented on #38602
fixed in commit: [15b8898356c0ac213feaa99a734e865eb1fcf300] Bug in DataFrame.loc returning elements in wrong order when indexer is differently ordered than object (#37992)

closing as tests were added.

[2020-12-22 18:21] #38602 closed

[2020-12-22 19:22] #38616 closed

[2020-12-22 19:26] simonjayhawkins commented on #38599
@tlplayer `df['Nums'].values` is a 1-d object array of 1-d numpy arrays so the pandas behaviour looks correct to me, but I maybe missing something. can you be explicit about where the pandas behaviour is incorrect and what the expected behaviour is.

[code]

[2020-12-22 19:35] simonjayhawkins commented on #38601
Thanks @mosalx for the report

first bad commit: [33f67d98aa74bdfdc4237930229b3dbe06d4fca7] BUG: iloc.__setitem__ with duplicate columns (#32477) cc @jbrockmendel

[2020-12-22 20:32] #38357 closed

[2020-12-22 21:23] jbrockmendel commented on #38622
agreed.  if @jorisvandenbossche and @jreback are on board ill make a deprecation PR

[2020-12-22 21:32] jorisvandenbossche opened #38642 "REGR: GroupBy.indices no longer includes unobserved categories"
Does anybody know if this was an intentional change? (I don't directly find something about it in the whatsnew)

[code]

vs

[code]

This already changed in pandas 1.1, so not a recent change.

The consequence of this is that iterating over `gb` vs iterating over `gb.indices` is not consistent anymore.

cc @mroeschke @rhshadrach

[2020-12-22 21:40] jorisvandenbossche commented on #38642
So for example, those two APIs still return all values (both for pandas 1.0 and master):

[code]

So it seems `.indices` should be consistent with it?

[2020-12-22 22:16] rhshadrach opened #38644 "BUG: Roundtrip with openpyxl and datetime precision"
The test `tests.io.excel.test_writers.test_datetimes` fails with openpyxl (now the default, xref #35029):

[code]

The highlighted lines give

     2013-01-13 04:29:48.999999
     2013-01-13 07:57:35.000001

With these two lines removed, the results are of the form e.g. `2013-01-13 11:25:21` and the test passes.

[2020-12-22 22:40] mroeschke commented on #38642
This may have been unintentionally changed by me in https://github.com/pandas-dev/pandas/pull/36911/files

[2020-12-22 22:40] phofl commented on #38642
I looked into this, I think the new case is more consistent maybe?
on 1.0.5 and master we get:

[code]

returned
[code]

While a one dimensional group key returned what you showed above. The missing categories case would be tricky to handle with multidimensional keys. Maybe it would be better to remove unused categories from groups too? Or should the one-dimensional case be special here?

[2020-12-22 22:40] keewis opened #38645 "REGR: passing dask arrays to Series or DataFrame"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

This has been detected by `xarray`'s upstream-dev CI ([environment](https://github.com/pydata/xarray/runs/1592176067?check_suite_focus=true#step:5:1177)): with `1.1.3`, the `dtype` is `float64` while on `master` (installed from `scipy-wheels-nightly`) this became `object` (and the series / dataframe contains `dask` scalar

[2020-12-22 22:41] gfyoung commented on #38424
This is a tough call, but strictly from a package maintenance perspective, I'm inclined to take the more conservative approach that @jreback is advocating.  Although it is extremely belated, an API change like this still risks downstream breakage, which is likely to cause more chaos and headache.

Perhaps, but moments like those also present themselves as opportunities to get people to move over t

[2020-12-22 22:44] phofl commented on #38642
@mroeschke no that was not the reason. I think this was caused by c4226d4b7dc458ab69e7d1616b99261e633e1391

[2020-12-22 22:45] mroeschke commented on #38642
Thanks for confirming @phofl

[2020-12-22 22:45] phofl commented on #38642
Addition: We are no longer running through there since #36842

[2020-12-22 22:50] jorisvandenbossche commented on #38642
@phofl thanks for looking at it!

Indeed for multiple keys, we seem to not include unobserved categories. But, here both `.indices` as `.groups` (and `GroupBy.__iter__` do that), so they are also consistent with each other.
While for a single key, while maybe inconsistent or not with the multiple key case, it is now inconsistent between `.indices` and `.groups`.

So to fully make it consistent, th

[2020-12-22 22:57] jsignell commented on #38642
Passing `observed` has no impact on  `.indices`, but maybe it should? I think this behavior would not be surprising:

[code]

[2020-12-22 22:57] phofl commented on #38642
Have to correct myself, this was changed by #36842

@jorisvandenbossche When testing this on 1.1.0 and 1.1.5 I get
[code]

both times.

[2020-12-22 23:13] acturner opened #38647 "BUG: `DataFrame.corrwith` seems to be broken"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-22 23:45] #14093 closed

[2020-12-22 23:45] #21311 closed

[2020-12-22 23:45] #22315 closed

[2020-12-22 23:45] #26974 closed

[2020-12-23 00:02] mzeitlin11 commented on #38647
I think this is expected behavior, the docs say "DataFrames are first aligned along both axes before computing the correlations." `corrwith` always returns a `Series` because it only compares each column/row to a single corresponding column/row.

Adapting your example with using matching column names:
[code]

For correlations between `x` and `y`,
[code]
gives your expected output.

[2020-12-23 00:37] mzeitlin11 commented on #16423
Similar issue looks to have been closed in #23992 with #37063 testing usage of `histtype`.

[2020-12-23 01:03] DiegoAlbertoTorres opened #38650 "ENH: improve partial key indexing performance"
Indexing for entries in a series or dataframe with a multi-index has dramatically worse performance when using partial keys.

For example, for a series with a 3-level multi-index, `series[x]` is dramatically slower than `series[(x,y,z)]`. Please see the session below for a minimal reproduction:

[code]

From looking at the code, it seems that `BaseMultiIndexCodesEngine` (pandas/_libs/index.pyx) es

[2020-12-23 01:16] jreback commented on #38650
xref https://github.com/pandas-dev/pandas/issues/20803
possible implementation via KDTrees: https://github.com/pandas-dev/pandas/issues/9365

[2020-12-23 01:19] cjlynch278 commented on #37957
Hello, I'm going to try to fix this issue. I'll submit a pull request linking the issue if I'm able to complete it within the next week, otherwise I'll post an update here

[2020-12-23 01:20] #16423 closed

[2020-12-23 02:44] marianayap commented on #38601
@simonjayhawkins Hello! I'll like to give this issue a try

[2020-12-23 02:51] marianayap commented on #38601
take

[2020-12-23 03:43] notwopr commented on #33036
Hi.  I've used Pandas 1.1.3 thru 1.1.5 and have had a problem with pandas.DataFrame.mad(axis=1) producing NaNs on perfectly fine data.  The dataframe I have has several columns of floats. When I run my script to create a new column using any other command like .std(axis=1), .max(axis=1), .min(axis=1), .mean(axis=1), and .median(axis=1), they all produce correct numbers.
But when it calculates for

[2020-12-23 04:02] bergkvist commented on #38075
I guess a nice way of conceptualizing what pd.link tries to be:

A pd.Series is a mapping between an index (input) and a values (output). You can think of this as a mathematical function that has been converted to a lookup table. The only difference from a mathematical function is that you can have multiple entries for the same index (which makes pd.Series a bit more general).

pd.link is basicall

[2020-12-23 04:37] willb0246 commented on #38627
Just submitted a PR for this

[2020-12-23 06:43] mzeitlin11 commented on #37333
Please take a look at the `Why does assignment fail when using chained indexing?`  section of https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-view-versus-copy for an in-depth explanation of what's going on here.

Since there are no guarantees about when a view or copy is returned from the step which sets the value, inconsistent behavior like this is expected. In this case, likely

[2020-12-23 07:43] foolcage opened #38655 "BUG: multiple index dataframe with index names groupy rolling computing reture wrong index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]
the result:
[code]

[code]
the result:
[code]

#### Problem description

multiple index dataframe with index names groupy rolling computing retur

[2020-12-23 07:49] foolcage commented on #38655
the result of pandas<1.1.5
[code]

[code]

[2020-12-23 08:35] svjack opened #38656 "why not check the column order and type consistent before use ‘appand’ mode in to_csv or equivalent ops such as to_sql?"
as the title say, when i append a column permutation of a exists dataframe to a exists(saved)
csv file, the column permutation df not reordered by the exist header in csv file.
one reason i can understand is that not all csv file have header in the first row, so
this design seems reasonable, but for many cases, if the source code reordered for
our append op which have header or table column, this

[2020-12-23 08:46] moink commented on #30999
pandas/tests/io/pytables/test_store.py is done

[2020-12-23 09:02] jorisvandenbossche commented on #38645
@keewis thanks for the report! Can confirm the change in behaviour.

cc @jbrockmendel

[2020-12-23 09:08] jreback commented on #38655
pls check in 1.2.0rc0
cc @mroeschke

[2020-12-23 11:50] jorisvandenbossche commented on #38600
It's probably not caused by that issue linked there, since the warnings we get is not for methods/attributes that are slots.
Looking a bit into it, and I think it's caused by https://github.com/sphinx-doc/sphinx/pull/8533. We will have to see if this was intentional change or not on the sphinx side, but for the short term I put up a workaround: https://github.com/pandas-dev/pandas/pull/38657

[2020-12-23 11:58] jorisvandenbossche commented on #37239
The sphinx bug has been fixed in sphinx 3.3, so the latest docs also show this correctly now, see eg https://pandas.pydata.org/pandas-docs/version/1.2.0/reference/api/pandas.concat.html vs https://pandas.pydata.org/pandas-docs/version/1.1.0/reference/api/pandas.concat.html

So I think we can close it here.

[2020-12-23 11:58] #37239 closed

[2020-12-23 12:09] jorisvandenbossche commented on #38642
I think the pointer of @mroeschke to #36911 might be more correct, since that was a PR for 1.1.4, while #36842 only for 1.2.0.

And unlike what I said earlier (I thought it was only working on 1.0, and not in 1.1.x), this actually only changed from 1.1.3 to 1.1.4.

[2020-12-23 13:22] simonjayhawkins commented on #38642
can confirm, first bad commit: [345efdd2d18c9705ac2e9a4ee6dbe18615068829] BUG: RollingGroupby not respecting sort=False (#36911)

[2020-12-23 13:43] simonjayhawkins commented on #38645
can confirm, first bad commit: [cec2f5fa639f707b9e8a1ad47b0e0f276c0a3679] REF: handle non-list_like cases upfront in sanitize_array (#38563)

[2020-12-23 13:50] #38647 closed

[2020-12-23 14:02] simonjayhawkins commented on #38655
duplicate of #38523?

[2020-12-23 14:06] #38655 closed

[2020-12-23 14:08] #38527 closed

[2020-12-23 14:24] phofl commented on #38642
Hm just looked at the pr numbers, not when they were comiited.

Nevertheless, we have to change both commits to get the original result, because the code path from #36911 is currently not used on master.

[2020-12-23 14:27] #15969 closed

[2020-12-23 14:38] simonjayhawkins commented on #38234
closed in #38533

[2020-12-23 14:38] #38234 closed

[2020-12-23 16:32] #34548 closed

[2020-12-23 16:32] #36791 closed

[2020-12-23 17:02] tlplayer commented on #38599
Hello @simonjayhawkins,

The problem comes from the .apply function where the shape of the DF is not inferred. Look below for an example. What should happen is the user can maintain the shape or mandate the shape of the column. The apply function creates a different df than the pd.DataFrame function applied to the numpy array. Because convert_to_tensor can't decipher what the shape of an image num

[2020-12-23 17:09] jbrockmendel commented on #38645
the low-level place to fix this would be in `is_list_like`, question is if we can do that without a big performance hit

[2020-12-23 18:03] simonjayhawkins commented on #38599
a pandas column is one dimensional. you probably want to create a DataFrame instead?

[2020-12-23 18:30] simonjayhawkins commented on #37784
@jorisvandenbossche is it just #38649 that would need to be included in 1.2 to cover the dask failures?

[2020-12-23 18:44] #38433 closed

[2020-12-23 18:50] #18306 closed

[2020-12-23 19:24] #24381 closed

[2020-12-23 19:37] simonjayhawkins commented on #38182
@jorisvandenbossche @jbrockmendel what's the status here? As this has not been fixed and the release is imminent are we reverting #36697 for 1.2 and deferring to 1.3?

[2020-12-23 20:29] rhshadrach opened #38667 "BUG: read_excel does not use pyxlsb for xlsb files when engine is None"
From `pandas.tests.io.excel.test_excel_read_binary_via_read_excel` (currently only in #38571):

[code]

This should instead determine that pyxlsb should be used when installed and no error should be raised.

[2020-12-23 21:35] mzeitlin11 commented on #33707
Thanks for the report @Filip98!  This does not look like an upstream issue - labels with 0 are explicitly blanked out on the `pandas` end before `matplotlib` plotting functions are called:
https://github.com/pandas-dev/pandas/blob/3f3c852deebc90a62ddfabc16977e84f3e067d80/pandas/plotting/_matplotlib/core.py#L1582-L1592

The reason for this looks to be to avoid label overlap as happens with `matplot

[2020-12-23 22:04] tlplayer commented on #38599
This is just an example. Look at the stackoverflow link for a more practical example.

[2020-12-23 22:37] #38600 closed

[2020-12-23 23:01] #38424 closed

[2020-12-23 23:21] mzeitlin11 commented on #38547
Hi @aflah02! Navigating around a large codebase like this is difficult - I'd recommend learning how to use a debugger (like https://docs.python.org/3/library/pdb.html or something more convenient like the built-in debugger provided by PyCharm). This allows you to step through what happens when code is run step by step, which will show where the relevant code lives.

[2020-12-23 23:28] #10285 closed

[2020-12-23 23:29] #16253 closed

[2020-12-23 23:39] jreback commented on #38547
I am not sure why you think this would work. Indexes are immutable objects. Sure you *can* do things like this and they *may* work, but no-where in the documentation would you in any way expect this to work.

[2020-12-24 01:18] mzeitlin11 commented on #38437
Thanks @mjuric for the detailed report!

Not sure this is an easy fix ... a naive (and probably not smart even if it worked) hope of just changing the header definition of `JSON_DOUBLE_MAX_DECIMALS` to 17 does not fix this issue. Pulling over an updated version of `ujson` seems reasonable, but would require reintegration of `pandas`-specific changes to the code. Plus any API change required by the

[2020-12-24 01:31] mzeitlin11 commented on #38437
Looks like this update from `ujson` comes from doing conversion with https://github.com/google/double-conversion, so I think using updated `ujson` code would also require another dependency.

[2020-12-24 02:20] jbrockmendel commented on #35466
In 1.1.0 we made it so that failed label-based lookups always raise KeyError (see _whatsnew_110.notable_bug_fixes.indexing_raises_key_errors)

[2020-12-24 02:27] venaturum opened #38672 "BUG: SeriesGroupBy.value_counts is inconsistent with Series.value_counts when the Series is categorical"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-24 03:09] jiahe224 opened #38675 "BUG: dataframe.pivot()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-24 03:52] jreback commented on #38675
stable is 1.1.5 are you sure you are running on the right version?

[2020-12-24 07:13] jiahe224 commented on #38675
I'm sorry, I updated pandas with conda command before, but when I checked it, I found that it didn't update successfully, but it ran successfully after updating @jreback

[2020-12-24 07:13] #38675 closed

[2020-12-24 10:41] MarcoGorelli commented on #38599
Hi @tlplayer

There's lots of open issues, and we're all time-constrained - to expedite resolution, could you please post:
- a simple reproducible example
- the actual output
- what you would expect the output to be

From the above, this isn't that clear - people will be much more likely to help resolve an issue if it's really easy to reproduce and really easy to see what might be wrong

[2020-12-24 10:41] Filip98 commented on #33707
Hey mzeitlin11,

I would expect matplotlib to not show that as well tbh.

[2020-12-24 11:28] MaruthiKo commented on #38627
Dear Developer,
I am new to open source contributions and I would like to contribute. Can someone pls help me up with how and where do I start?

[2020-12-24 11:44] simonjayhawkins commented on #38182
@jorisvandenbossche @jbrockmendel @jreback  can't be reverted automatically. will start the manual revert shortly. may not be difficult, but please lmk if this is not what we want to do.

[2020-12-24 12:11] jorisvandenbossche commented on #38182
It should certainly not be reverted fully. I think the `is_all_dates` deprecation is not causing any problems, but on the Series(..) construction

[2020-12-24 12:16] simonjayhawkins commented on #38182
Thanks @jorisvandenbossche i'll update #38679

[2020-12-24 13:01] moink commented on #30999
It looks like @DylanBrdt took many of the plotting test modules in January and submitted a [PR](https://github.com/pandas-dev/pandas/issues/30999) in February, but that it was not accepted and it has not been picked up again. So I will take:

pandas/tests/plotting/frame/test_frame_color.py
pandas/tests/plotting/frame/test_frame.py
pandas/tests/plotting/test_backend.py
pandas/tests/plotting/test_bo

[2020-12-24 15:08] #6963 closed

[2020-12-24 15:09] jreback commented on #36263
this should now raise (need tests)

cc @ivirshup @phofl

[2020-12-24 15:16] jbrockmendel commented on #38182
@jorisvandenbossche can you respond to https://github.com/pandas-dev/pandas/issues/38182#issuecomment-736840436

[2020-12-24 15:36] jorisvandenbossche commented on #37784
Yes, there are some more failures as well, but from a quick look those are either things that are known and need to updated in dask or are already fixed in pandas. So #38649 is the main one that would be good to have

[2020-12-24 16:01] simonjayhawkins commented on #38547
yeah, so the issue is that `df.columns.values` should be a copy and not a view so that the parent DataFrame/immutable Index is not updated?

[2020-12-24 18:51] #35076 closed

[2020-12-24 18:54] MarianD commented on #38547
@simonjayhawkins, I think it would be a nice solution supposing it would be documented and not breaking the frequently used paradigm `df.columns = iterable_of_ALL_column_names`.

[2020-12-24 18:58] jreback commented on #38547
we should simply return a read-only numpy array here to follow semantics. -1 on actually allowing a view on an immutable object that you can change.

[2020-12-24 19:11] moink commented on #30999
The following test modules are done:
pandas/tests/plotting/frame/test_frame_color.py
pandas/tests/plotting/frame/test_frame.py
pandas/tests/plotting/test_backend.py
pandas/tests/plotting/test_boxplot_method.py
pandas/tests/plotting/test_hist_method.py
pandas/tests/plotting/test_series.py

[2020-12-24 19:20] moink opened #38687 "Split up pandas/tests/io/pytables/test_store.py into smaller modules"
pandas/tests/io/pytables/test_store.py is more than 5000 lines long, which is pretty long for a test module. It would be good to break it up into smaller, logical pieces, each in its own test module.

Came out of PR 38609.

OT: @moink love to split this file up: pandas/tests/io/pytables/test_store.py in a separate PR :->

_Originally posted by @jreback in https://github.com/pandas-dev/pandas/issue

[2020-12-24 19:47] mzeitlin11 commented on #38687
xref #26807

[2020-12-24 19:59] mzeitlin11 commented on #25068
Looks fixed by #30562. Example from OP now does not raise (and also `check_less_precise` deprecated in favor of `rtol` and `atol` anyway).

[2020-12-24 20:08] stas00 commented on #25068
Thank you for tracking that, @mzeitlin11!

I verified that with the current ver==1.1.5 if I replace check_less_precise with rtol=3 it works as expected.

Awesome!

[2020-12-24 20:08] #25068 closed

[2020-12-24 20:22] jreback commented on #27180
closing as wont' fix

[2020-12-24 20:22] #27180 closed

[2020-12-24 20:40] #38183 closed

[2020-12-24 21:02] mzeitlin11 commented on #17754
Timings on master look better now, with sorted about 3x faster than not:
[code]

The behavior from the 1st 2 examples is deprecated now, though while
[code]
gives a `FutureError`

[code]
raises:
[code]

[2020-12-24 21:53] jreback commented on #17754
@mzeitlin11 do we have asvs for this?

[2020-12-24 21:56] jbrockmendel commented on #38608
Possibly related to #26676?

[2020-12-24 23:53] mzeitlin11 commented on #17754
I don't see one, will open an issue for it

[2020-12-25 00:05] mzeitlin11 opened #38690 "ASV: Add benchmark for indexing with .loc for sorted/unsorted DatetimeIndex"
xref #17754, a benchmark should be added for indexing with .loc for sorted/unsorted `DatetimeIndex`. With a constructed `DatetimeIndex`, for example

[code]

the behavior of interest to benchmark is
[code]
and
[code]

[2020-12-25 01:27] asishm commented on #18776
@phofl Can this be fixed with similar changes as PR #37406 ?

[2020-12-25 01:37] mzeitlin11 commented on #38627
Hi @MaruthiKo, welcome to pandas! I'd recommend reading https://pandas.pydata.org/docs/development/contributing.html for guidance on contribution to pandas. If you'd like to work on this issue, the `Contributing to the documentation` section should be particularly useful.

[2020-12-25 02:34] kailichou commented on #27575
I already `brew install xz` but the `ModuleNotFoundError: No module named '_bz2'` still shows up

[2020-12-25 03:15] mzeitlin11 commented on #38667
Related to #35416

[2020-12-25 03:30] davidmakovoz opened #38691 "BUG:"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-12-25 04:06] jbrockmendel opened #38692 "API: setting np.nan into Series[bool]"
[code]

It would be more consistent (and would simplify the code) if this cast to object and did not convert True/False to 1.0/0.0.  ATM we have 2 tests that such a change would break.

[2020-12-25 04:09] mzeitlin11 commented on #38691
Thanks @davidmakovoz for the report! Would you mind adding an informative title? Also the traceback will be more readable if formatted as
(tb)python-traceback
traceback content...
(tb)
where (tb) is a triple set of backticks (```)

[2020-12-25 04:56] moink commented on #38687
Ah, sorry, looks like it's a duplicate with #26807. Feel free to remove this issue.

[2020-12-25 04:56] #38687 closed

[2020-12-25 05:45] jreback commented on #38691
i believe this might work on 1.1.5 or 1.2.0.rc0

[2020-12-25 10:00] simonjayhawkins commented on #38691
still raises KeyError on 1.1.5, 1.2.0rc0 and master (and 0.25.3)

[2020-12-25 10:48] theoniko commented on #28556
As far as i understood mainting string index means expected output Index(['1', '2', '3'], dtype='object').
What about adding

after line 852 since we only need to preserve the index type? Does you agree with this solution?

https://github.com/pandas-dev/pandas/blob/e744559585d689bd3c60cfe57c7c97609412f516/pandas/io/json/_json.py#L852-L855

[2020-12-25 11:13] MarcoGorelli opened #38694 "DOC add command to run pre-commit checks to pull request template"
I think we could add
[code]
to the pull request template (maybe it could even replace the current `black` and `flake8` ones).

The file to change would be
[code]

Some of the contributing guide may also need updating if it mentions the `flake8 --diff` command.

[2020-12-25 11:20] moink commented on #30999
I will take:

pandas/tests/generic/methods/test_sample.py

[2020-12-25 11:54] BobinMathew commented on #38694
Hi @MarcoGorelli
Do you want this on the file?
- [ ] closes #xxxx
- [ ] tests added / passed
- [ ] pre-commit run --from-ref=upstream/master --to-ref=HEAD
- [ ] whatsnew entry

[2020-12-25 12:25] moink commented on #30999
I will take:

pandas/tests/indexes/interval/test_astype.py
pandas/tests/indexes/multi/test_indexing.py
pandas/tests/indexes/multi/test_setops.py
pandas/tests/indexes/period/test_indexing.py
pandas/tests/indexes/test_common.py
pandas/tests/indexes/test_numpy_compat.py

[2020-12-25 13:06] moink commented on #15832
I know this is a super old issue but I ran into it when trying to address #30999  on pandas/tests/indexes/interval/test_as_type.py

There's a test, `test_subtype_integer_errors`, marked as failing, with three `pytest.raises`, listing this issue as the reason for the `xfail`. Since this issue is resolved, I think it's not a good reason for an `xfail`, right?

If we want to remove the `xfail`: One o

[2020-12-25 13:51] MarcoGorelli commented on #38694
@BobinMathew yes, but will need "passes" in there too, and `--all-files` (have updated the issue text)

[2020-12-25 14:09] BobinMathew commented on #38694
I gave a PR.
Checking's still continuing.

[2020-12-25 14:40] jreback commented on #15832
sure removing xfail is good
@jbrockmendel has done a lot of work on these conversions and they r likely much more sane

[2020-12-25 18:15] MarcoGorelli commented on #38694
Great! Can you put the issue number (#38694) in the pull request body (where it says `closes #xxxxx`) so it gets linked to this issue?

Travis CI error's likely unrelated

[2020-12-25 23:16] #38182 closed

[2020-12-26 04:23] BobinMathew commented on #38694
Ok @MarcoGorelli , I added the issue number

[2020-12-26 08:14] MarcoGorelli commented on #38694
You need to put it in the pull request body - look at other pull requests for an example, e.g. https://github.com/pandas-dev/pandas/pull/38668

[2020-12-26 10:58] simonjayhawkins commented on #37784
once #38678 is backported, will be ready for final pre-release checks

[2020-12-26 11:07] moink commented on #30999
I will take:

pandas/tests/io/json/test_json_table_schema.py
pandas/tests/io/json/test_pandas.py
pandas/tests/io/json/test_ujson.py

[2020-12-26 12:32] simonjayhawkins commented on #37784
final pre-release checklist

- [ ]  https://github.com/MacPython/pandas-wheels/pull/119
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ]  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html
- [ ]  ci checks https://github.com/pandas-dev/pandas/commits/1.2.x
- [ ]  no open issues/PRs

[2020-12-26 13:17] simonjayhawkins commented on #37784
release notes checked - formatting issue in https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.0.html#consistency-of-dataframe-reductions

```In [26]: In [5]: df.all(bool_only=True)```

not a blocker

[2020-12-26 13:30] simonjayhawkins commented on #37784
ci checks

known failure
[code]

not affecting wheel builds
[code]

[2020-12-26 13:32] moink opened #38703 "CI: jedi v0.18.0 breaks a number of ipython test_tab_complete_warning tests"
It looks like jedi version 0.18.0 was released yesterday and broke the following tests:

FAILED pandas/tests/arrays/categorical/test_warnings.py::TestCategoricalWarnings::test_tab_complete_warning
FAILED pandas/tests/frame/test_api.py::TestDataFrameMisc::test_tab_complete_warning[DataFrame]
FAILED pandas/tests/frame/test_api.py::TestDataFrameMisc::test_tab_complete_warning[Series]
FAILED pandas/te

[2020-12-26 13:35] simonjayhawkins commented on #37784
starting release now.

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag
- [ ] open PR to build wheels
- [ ] upload docs https://pandas.pydata.org/pandas-docs/version/1.2.0/
- [ ] wheels in staging area https://anaconda.org/multibuild-wheels-staging/pandas/files
- [ ] github release
- [ ] upload wheels to PyPI
- [ ] change link for stable docs
- [

[2020-12-26 15:22] lithomas1 commented on #34252
take

[2020-12-26 15:22] lithomas1 commented on #38667
take

[2020-12-26 15:22] lithomas1 commented on #35416
take

[2020-12-26 16:00] jreback commented on #38703
ok let's just pin for now (and leave this issue open to revert when it's fixed)

love for a PR

[2020-12-26 16:01] BobinMathew commented on #38694
Hi @MarcoGorelli , I saw some errors.
Is every this alright?

[2020-12-26 16:34] simonjayhawkins commented on #37784
3.7 arm build failed. moving forward with release without it.

[2020-12-26 21:24] topper-123 opened #38708 "REGR: repr of stringified floats (e.g. "3.50") drop ending "0""
Example:

[code]

[2020-12-26 22:51] topper-123 commented on #38708
This is a regression since 1.1. The first bad PR was #36800.

cc @dsaxton

[2020-12-26 23:20] rhshadrach commented on #38656
The use case makes sense, but I don't think it needs to be baked into the API. When columns match and there aren't duplicate labels, this is easy to accomplish (see below). If the labels are duplicated or not the same set, I'd imagine the only safe thing to do would be to raise.

[code]

gives

[code]

[2020-12-26 23:27] rhshadrach commented on #38635
Can you produce the error with a small example file (e.g. 10 records)? If so, it would be helpful to post the data as well.

[2020-12-27 00:41] kasim95 commented on #36936
take

[2020-12-27 03:17] brendanahart opened #38712 "BUG: Pandas 1.2.0 not importing numpy"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-27 03:23] jreback commented on #38712
3.6 is not supported by either latest numpy or 1.2 in pandas

[2020-12-27 03:23] #38712 closed

[2020-12-27 03:30] brendanahart commented on #38712
Sweet, thanks I've updated to 3.8 in my docker image and things are building now.

Cheers,
Brendan

[2020-12-27 06:53] chmielcode opened #38714 "REGR: to_csv problems with zip compression and large dataframes"
#### Code Sample, a copy-pastable example

[code]

#### Problem description
Writing large (over 1163 rows) dataframes to csv with zip compression (inferred or explicit; to file or io.BytesIO) creates a corrupted zip file.
ValueError: Multiple files found in ZIP file. Only one file per ZIP: ['zip', 'zip', 'zip', 'zip', 'zip']

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
---

[2020-12-27 07:17] kasim95 commented on #32346
take

[2020-12-27 09:57] kasim95 commented on #32346
@phofl I found the same issue still occurring for other datatypes apart from Int64.
I used the following code:
[code]
My observations for some of the inconsistent dtype conversions are as follows:

Before Assignment | After Assignment
--- | ---
Int32 | Int64
Int16 | Int64
Int8 | Int64
UInt64 | Float64
UInt32 | Int64
UInt16 | Int64
UInt8 | Int64
Float64 | object
Float32 | object
Float16 (float16) |

[2020-12-27 10:08] hungyiwu commented on #20975
Hi, has the test been added? If not, I'd like to try adding this test.

Is `pandas/tests/indexing/test_indexing.py` a good place to add test for this?

[2020-12-27 10:50] hungyiwu commented on #20975
I tried adding a test under `class TestLabelSlicing` as below:
[code]

and got this error:
[code]

I understand pandas creates different indices when there's mixed dtype. The question is should I change from `tm.assert_equal` to other assertion methods, like `assert df1.loc[:, 1:].equals(df2)`? Or should I stay with `tm.assert_equal` and try to work around the dtype difference?

[2020-12-27 10:55] phofl commented on #20975
The assert_frame_equal is correct. You could create your df2 (please call it expected)differently. For example: columns=Index([1,2], dtype=object)

[2020-12-27 11:14] hungyiwu commented on #20975
Thank you for the help! I've opened a pull request.

[2020-12-27 11:17] simonjayhawkins commented on #38714
Thanks @chmielcode for the report.

The code sample failed on previous versions with `TypeError: a bytes-like object is required, not 'str'`

is there a combination of inferred/explicit compression and buffer type that worked previously and now fails?

[2020-12-27 11:22] gepcel commented on #38451
@jreback Before I understand the mechanism here, the only solution I know is to put the imports at the head of the chapter, like:

[code]

I don't think this is the *right* solution because of the puzzles I mentioned before. I'll continue to dig and search around and test my ideas. Any help is appreciated. It's also fine by me for someone to take this over.

[2020-12-27 11:29] simonjayhawkins commented on #38451
The lastest uploaded PDF also has the problems in the visualization section.

for the release we do

[code]

I did manage to get the viz section to work but IIRC other sections were corrupted.

I can't remember the order, maybe a clean and build the pdf before the html pages or maybe just run the `./make.py latex_forced` once

so I don't think the docs need to change, but not sure why when we run

[2020-12-27 11:34] chmielcode commented on #38714
@simonjayhawkins Thank you for quick response. I only noticed this problem after upgrading to 1.2.0 when my data caching system started failing. No issues with 1.1.5.

The same happens with string path as first argument:
[code]
Output: Multiple files found in ZIP file. Only one file per ZIP: ['T:/test.csv.zip', 'T:/test.csv.zip']

Error message informs about 2 files for 1164-2188 rows, 3 files for

[2020-12-27 12:19] #37957 closed

[2020-12-27 13:23] moink opened #38718 "Change tests of casting an interval range index from float to int to reflect current behaviour"
This is to address an issue I came across in PR #38697 where there is a test, `test_subtype_integer_errors`, in pandas/tests/indexes/interval/test_astype.py marked as failing because it is not raising `ValueErrors` when casting an interval range index from float to int. My reading of #15832 is that it is unnecessary to raise a `ValueError` in this case.

As I wrote in the comments to #38697:

The

[2020-12-27 13:29] moink commented on #38718
take

[2020-12-27 13:46] simonjayhawkins commented on #38714
first bad commit: [3b88446457b17feaa73ab1e6433d0e1e7a4fd9bd] support binary file handles in to_csv (#35129) cc @twoertwein

[2020-12-27 13:57] moink commented on #30999
I will take:
pandas/tests/reductions/test_reductions.py

[2020-12-27 14:42] moink commented on #30999
I will take:

pandas/tests/io/excel/test_xlrd.py
pandas/tests/io/parser/test_network.py
pandas/tests/io/parser/test_python_parser_only.py
pandas/tests/io/sas/test_sas7bdat.py
pandas/tests/io/test_common.py
pandas/tests/io/test_feather.py
pandas/tests/io/test_fsspec.py
pandas/tests/io/test_gbq.py
pandas/tests/io/test_gcs.py
pandas/tests/io/test_html.py
pandas/tests/io/test_parquet.py
pandas/tests/i

[2020-12-27 14:50] simonjayhawkins opened #38721 "RLS: 1.2.1"
Tracking issue for the 1.2.1 release.

https://github.com/pandas-dev/pandas/milestone/81

Currently scheduled for January 18, 2021 (date flexible on severity of regressions)

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression

[2020-12-27 15:54] fangchenli commented on #38617
In #38619, I found that running arm64 build in docker with qemu emulator is extremely slow. So the only option currently available is to do this on travis.com.

[2020-12-27 15:54] #38617 closed

[2020-12-27 15:58] twoertwein commented on #38714
sorry about that, I will look into it! I assume that `write()` is called multiple times for large files. `ZipFile` creates a new file (with the same name) within the zipfile for each write call.

[2020-12-27 16:09] fangchenli commented on #37765
After #38344, the only build left on Travis is arm64.

[2020-12-27 16:17] JSunRae opened #38722 "FutureWarning: _AXIS_NAMES has been deprecated."
At random intervals I keep getting the following error.

This seems to be refering to how I am using a dataframe in pandas. Though, due to the delays, I am not sure what specifically. I have found only one other refernce to this issue on the internet [https://intellij-support.jetbrains.com/hc/en-us/community/posts/360009512560-PyDev-FutureWarning-Django-console](url)
Saying they believe it occurs

[2020-12-27 18:03] dave-espinosa opened #38725 "pandas.DataFrame.plot arguments 'xlabel' & 'ylabel' not working."
Hello everyone.

I was rehearsing some exercises with pandas.DataFrame.plot. I stumbled upon one (apparent) issue regarding '_xlabel_' and '_ylabel_' arguments. I followed instructions provided at [https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html](this site), as that is my current working Pandas version. If my understanding is correct, those arguments are to di

[2020-12-27 18:06] MarcoGorelli opened #38726 "DOC: chat-ops"
xref https://github.com/pandas-dev/pandas/pull/38444#issuecomment-749711369

There are some GitHub Actions workflows which can be triggered via comments:

1. If you comment `@github-actions pre-commit` on a pull request, it will trigger a workflow which will autofix formatting errors (e.g. from `black` or `isort`)
2. `@meeseeksdev backport ` will trigger a workflow which will backport a given chan

[2020-12-27 18:26] #38725 closed

[2020-12-27 18:29] dave-espinosa commented on #38725
Hello everyone,

I think I have figured out myself, looks like even though I was working with pandas version 1.2.0 on my system, it has not been installed on Anaconda's current environment (which BTW it was version 1.0.1... marvels of laptop upgrades (XD) ).

Now the code works properly, thank you everyone.

[2020-12-27 19:07] twoertwein commented on #38714
I made a PR.

@chmielcode  your initial example needs a call to `seek`.

[code]

[2020-12-27 19:17] jbrockmendel opened #38729 "BUG: DataFrame.where with EA other"
[code]

we can kludge around this by using `np.reshape(arr, shape)` instead of `arr.reshape(shape)`, but that'll cast to object, which is not great.

Non-kludge solution: 2D EAs

[2020-12-27 19:24] mroeschke commented on #38722
We would need a minimal example of the code you are running and the output of `pd.show_versions()` to help further diagnose.

[2020-12-27 19:44] tlatorre-uchicago opened #38730 "BUG: casting column in place doesn't change data type"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-27 19:50] tlatorre-uchicago commented on #38730
Closing because I just checked on latest version and it seems to be working.

[2020-12-27 19:50] #38730 closed

[2020-12-27 20:07] ParfaitG commented on #27554
Has there been any progress on this ENH? While there is no standard XML, many public and private data dumps, repositories, and APIs that `pandas `users will interact with are shallower types that can migrate to two-dimensional (row by column) data frames. These flatter, one-level nested XML files should be able to migrate to data frames like HTML tables similar to the i/o solution: `read_html`. Ad

[2020-12-27 20:08] jorisvandenbossche commented on #38694
Should we actually recommend that? It's a quite complex line of cli code, and if you are using pre-commit, I suppose you will typically use it as a git commit hook?

[2020-12-27 20:46] MarcoGorelli commented on #38694
Is it more complicated than the current `flake8` line
[code]
?

The command I posted gives you a cross-platform way of running all the CI code quality checks, with all the right package versions, only on the files which you've changed. You can run it even if you don't use pre-commit as a git commit hook

[2020-12-27 20:46] chmielcode commented on #38714
@twoertwein Thank you very much. I've updated the example. It works without seek(0), but now it's clear that missing seek it's not the cause.

[2020-12-27 21:10] jorisvandenbossche commented on #38694
No, but if someone proposed to *add* that line to the template (if it wasn't there yet), I would probably raise the same concern ;-)
And I personally also never ever used that flake8 line in practice ..

I am basically wondering how many of our core / regular contributors are using that. And if almost no one does (*if*! I don't know that, to be clear), not sure it should be the first thing to have

[2020-12-27 21:17] twoertwein commented on #38714
I was testing whether setting `chunksize` to a large value could be a temporary workaround before 1.2.1 releases `d.to_csv(f, compression='zip', chunksize=1000000000000000000000)`. Unfortunately, It seems that https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/writers.pyx#L14 calls `writerows()` for each chunk potentially multiple times :( So that doesn't help

[2020-12-27 21:22] twoertwein commented on #38714
@chmielcode yes you are right, for zip compression you don't need a seek (it seems that `ZipFile` seeks internally). But if you use gzip/bz2/xz/no compression, then you need a `seek(0)`.

[2020-12-27 21:31] jreback commented on #27554
@ParfaitG you are welcome to submit a PR - enhancements happen by volunteers

[2020-12-27 21:43] jreback commented on #38429
this is closed by https://github.com/pandas-dev/pandas/pull/38613 right?

[2020-12-27 21:55] rhshadrach commented on #38521
Thanks for the report. Further investigations and PRs to fix are most welcome.

[2020-12-27 22:21] jreback commented on #38718
this is what numpy does when casting floats -> ints, so its correct, though agreed not as useful as one would like.

[2020-12-27 22:23] pcolazurdo opened #38736 "BUG: Change of behavior between 1.1.5 and 1.2.0 in plot functions"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-27 22:55] #20975 closed

[2020-12-27 23:02] #15095 closed

[2020-12-27 23:50] rhshadrach commented on #38667
Thanks @mzeitlin11, this is a duplicate.

[2020-12-27 23:50] #38667 closed

[2020-12-27 23:54] mroeschke commented on #37244
Going to close this issue for now, but happy to reopen if you are still getting the same errors on the latest version of pandas.

I suspect a similar issue was reported and solved by the latest version.

[2020-12-27 23:54] #37244 closed

[2020-12-28 00:03] mroeschke commented on #31286
I think the leftover numerical precision issue with corr overlaps with https://github.com/pandas-dev/pandas/issues/24019, so going to close in favor of that issue.

[2020-12-28 00:03] #31286 closed

[2020-12-28 00:07] mroeschke commented on #2953
It's not entirely clear what's left to do with this issue. We can reopen if there's a focused example of the remaining buggy behavior

[2020-12-28 00:07] #2953 closed

[2020-12-28 00:09] mroeschke commented on #19165
These are fairly old benchmarks. Going to close in favor of regressions caught by our ASV box

[2020-12-28 00:09] #19165 closed

[2020-12-28 00:30] svjack commented on #38656
i know it is simple, but many incremental data merge framework have done it.
particularly with to_sql in mode a , i think it is necessary.

[2020-12-28 00:39] jreback commented on #35484
might be closed by https://github.com/pandas-dev/pandas/pull/37534 (e.g. working on master).

[2020-12-28 00:52] jreback commented on #38656
this is combining 2 different functions in pandas which each are pretty complicated

this is much better done in an external framework / library

i suppose we could optionally support this in pandas then (my point is that we don't want to maintain this possibly messy inference code)

[2020-12-28 01:59] chen244 commented on #38703
Yes ,I also find this problem

[2020-12-28 02:03] chen244 commented on #38703
After remove the jedi, and it become normal...haha,

no, when use V0.17,I can also cannot use autocomplete

[2020-12-28 03:20] 7astro7 commented on #36745
take

[2020-12-28 04:27] svjack commented on #38656
Dose pandas have contrib library as tensorflow have?

[2020-12-28 04:42] jreback commented on #38656
no

[2020-12-28 05:26] ivirshup opened #38743 "BUG: IntervalIndex intersections are not intersections in many cases"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

All of these should probably fail

#### Problem description

Intersections on `IntervalIndexes` should not repeat dupli

[2020-12-28 08:40] luijkr commented on #30263
Hi all, first time contributor here, and I'd like to pick this issue up.
I've read the [contributing docs](https://pandas.pydata.org/docs/dev/development/contributing.html), but just to be sure: the issue concerns writing a test / tests to guard against the above behavior, i.e. where iloc truncates along the wrong axis in case of a timestamp column with timezone?

[2020-12-28 08:48] jorisvandenbossche commented on #38722
Linters checking all attributes might run into deprecated ones, so we typically hide those deprecated attributes from the ``dir`` (which we didn't do for those attributes). @topper-123 has a fix -> https://github.com/pandas-dev/pandas/pull/38740

[2020-12-28 08:54] jorisvandenbossche commented on #38692
Isn't this actually consistent with how other numpy dtypes work? We generally upcast on setitem-like operations, and for boolean this means upcasting to float (like integers also get upcasted to float)?

[2020-12-28 09:20] jorisvandenbossche commented on #38592
That commit has been reverted, but that didn't seem to have solved the performance regression.

@jbrockmendel can you look into this?

[2020-12-28 10:19] jorisvandenbossche commented on #32259
Where has this been discussed?

[2020-12-28 10:27] MarcoGorelli commented on #32259
Hey @jorisvandenbossche - it was in call when we had the sprint on the 31st of August

[2020-12-28 10:33] MarcoGorelli commented on #38694
OK, thanks for explaning :smile:

Sure, sounds good - I think there could be a link to https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards , and there this command could be put in place of `./ci/code_checks.sh` (which won't work on Windows and doesn't include all checks), with a short explanation of what it does (i.e. it runs all the code quality checks on all fi

[2020-12-28 10:36] moink commented on #30999
Finished:
pandas/tests/generic/methods/test_sample.py
pandas/tests/io/json/test_json_table_schema.py
pandas/tests/io/json/test_pandas.py
pandas/tests/io/json/test_ujson.py

[2020-12-28 10:43] 1nF0rmed commented on #38726
Hey, I would like to work on this

[2020-12-28 11:28] hbaniecki opened #38749 "BUG: TypeError: bad operand type for unary -: 'FloatingArray'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-28 11:39] simonjayhawkins commented on #38749
cc @jorisvandenbossche

[2020-12-28 11:46] hbaniecki commented on #38749
Also: I use ctrl+f in [patch notes](https://pandas.pydata.org/docs/dev/whatsnew/v1.2.0.html) and search for `convert_dtypes` - there is nothing new. Yet, [in API docs we see](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.convert_dtypes.html?highlight=convert_dtypes): *Changed in version 1.2: Starting with pandas 1.2, this method also converts float columns to the nullable float

[2020-12-28 12:10] MarcoGorelli commented on #38726
sure, if you comment `take` it'll be assigned to you

[2020-12-28 12:56] jorisvandenbossche commented on #38749
@hbaniecki thanks for the report. This was fixed for Integer dtype (https://github.com/pandas-dev/pandas/pull/36303), but should clearly also fix it for Float dtype

[2020-12-28 13:39] jorisvandenbossche commented on #38694
Yep, that sounds good to me

[2020-12-28 14:55] #38267 closed

[2020-12-28 14:59] rhshadrach commented on #38656
@svjack Using to_sql already produces the desired behavior:

[code]

produces

[code]

[2020-12-28 15:55] jbrockmendel commented on #38692
I think it is consistent with how numpy works, but bool-casting is one of the cases where we often behave differently from numpy.  Ideally we would consistently use find_common_type:

[code]

[2020-12-28 16:00] rhshadrach commented on #38736
Thanks for reporting this! Further investigations and PRs to fix are most welcome.

[2020-12-28 16:01] jbrockmendel commented on #38592
does this mean we can un-revert?  its a nice little cleanup

cant make any promises at the moment, but ill keep a tab open for this so it doesnt fall off the radar screen entirely.

[2020-12-28 16:25] jreback commented on #38692
i agree with @jbrockmendel here

this is something we should do correctly

numpy does this because it for backwards compatibility not because it's the right thing to do

we want to preserve dtypes whenever possible

bools are a wart when converted to float (ideally we would actually just convert to Boolean though)

[2020-12-28 16:27] jorisvandenbossche commented on #38692
Where is this `find_common_type` used? Since it are not extension dtypes, for example `concat` also doesn't follow that:

[code]

[2020-12-28 16:28] jorisvandenbossche commented on #38692
Bools are just as much a wart when converted to object dtype, though.
There is no such thing as "correct" IMO, just choices with trade-offs (and for sure, we should discuss those trade-offs and make a choice, but converting to object dtype being "correct" is not an argument IMO)

[2020-12-28 16:41] #36936 closed

[2020-12-28 17:09] jbrockmendel commented on #38692
If we were to change this behavior, the change would look like #38709, which uses coerce_to_target_dtype in place of the custom logic currently in Block.setitem.  coerce_to_target_dtype now uses find_common_type.

I haven't looked at concat all that closely, but based on the example you gave id like that to be object too.

[2020-12-28 17:13] arw2019 opened #38751 "BUG: pd.to_numeric with exclusively missing value input: np.nan vs. pd.NA"
Not sure this is really an issue but maybe(or not?) a slight inconsistency.

The following throws:
[code]

but with `np.nan` it runs fine:
[code]

[2020-12-28 17:38] AkariGale opened #38752 "BUG:Wrong sum in groupby rolling due to precision issues"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In the code above i show that last values in rollings are not equal:
- if i count a sum of `v

[2020-12-28 17:52] fangchenli commented on #38429
If we've decided to not test SQL on py38 slow, this can be closed.

[2020-12-28 17:57] jreback commented on #38429
can u see how much slow sql tests we have - meaning are we testing slow sql in at least 1 build?

[2020-12-28 18:04] MarcoGorelli commented on #38752
Hi @AkariGale ,

closing as you haven't written anything, but if you fill out the report and ping us we'll reopen

[2020-12-28 18:17] jorisvandenbossche commented on #38592
No, it was reverted because of a behaviour regression -> https://github.com/pandas-dev/pandas/issues/38607

If you can't look at it on the short term, I would propose to revert the change for now, until you have time (otherwise later it might become much more difficult to do that, if it turns out to be needed).
From quickly testing the different potential commits in the range, it seems https://git

[2020-12-28 18:37] snowman2 opened #38753 "REGR: pd.read_csv segfaults with 1.2 (has worked since before pandas 1.0)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Wish I could give more information, but this is all I have (not sure I can share the input data):
[code]
Once I added the pin `

[2020-12-28 18:38] AkariGale commented on #38752
Hi @MarcoGorelli !

Sorry, I accidentally posted an empty report. Сorrected

[2020-12-28 18:38] #38415 closed

[2020-12-28 18:42] jorisvandenbossche commented on #38592
Ah, I think the reason is that it is now doing a non-copy ravel, while before the copying ravel ensured we would have good layout for a performant reduction (while this is not the case when the DataFrame is created from a 2D numpy array).

[2020-12-28 18:55] mzeitlin11 commented on #38753
Hi @snowman2, thanks for the report! Unfortunately, without more information it will be difficult to figure out this issue. Is there any way you can mimic the characteristics of the failing example to come up with a reproducible example you can share? Or if you have any experience with it, showing output from running through with a C debugger could also help isolate the issue (https://pandas.pydat

[2020-12-28 18:58] mzeitlin11 commented on #38753
Maybe #14782 is related?

[2020-12-28 19:08] jbrockmendel commented on #38592
Huh, and to think I made a non-copying ravel specifically with perf in mind.  you learn something every day

[2020-12-28 19:25] snowman2 commented on #38753
Definitely understand. I will try to get some time to get better information to you later.

[2020-12-28 19:51] #38722 closed

[2020-12-28 20:40] asishm commented on #38691
as mentioned in https://stackoverflow.com/questions/65441897/pandas-pivot-table-fails-with-columns-and-margin#comment115699377_65441897: **workaround** is to perform a `reset_index` before calling `.pivot_table`

Looking at the relevant code- I don't think this has ever worked (with margins).

The issue is with this line: `margin = data[rows + values].groupby(rows, observed=observed).agg(aggfunc)`

[2020-12-28 20:53] twoertwein commented on #38753
Can you please test it one time with `engine="c"` and another time with `engine="python"`?

[2020-12-28 21:21] dactrungnguyen opened #38760 "pandas.Series.to_json() incorrectly localizes tz-naive datetimes to UTC"
Seemingly related but not identical to #12997
## How to reproduce the bug
Checked with pandas 0.24.2, 1.1.5 and 1.2.0.
[code]
## Output
[code]
(Notice the "Z" indicating UTC)
## Expected output
[code]
(without "Z")

[2020-12-28 22:04] dactrungnguyen commented on #38760
Solving #12997 should close this issue as well.

[2020-12-28 22:11] jreback commented on #38760
how so?

[2020-12-28 22:24] TomAugspurger opened #38762 "Sample ExtensionArray.take implementation doesn't correctly handle scalars"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

The sample at https://github.com/pandas-dev/pandas/blob/6210077d32a9e9675526ea896e6d1f9189629d4a/pandas/core/arrays/base.py#L10

[2020-12-28 22:27] pcolazurdo commented on #38736
I'm working on bisecting it - I'll try to get more details later today

[2020-12-28 22:31] TomAugspurger commented on #38762
Hmm I may have been mistaken. I confused myself since my extension array isn't naturally a "scalar", and is (somewhere) being converted back to a length-2 ndarray.

[2020-12-28 23:05] pcolazurdo commented on #38736
The problematic commit is

[code]

<details>
    Inconsistent indexes for tick label plotting (#28733)

    * TST: Test for issues #26186 and #11465

    * BUG: Generate the tick position in BarPlot using convert tools from matlab.

    Generate the tick position in BarPlot using convert tools from matlab.

    * TST: Modify tests/plotting/test_frame.test_bar_categorical

    Ticklocs are now floa

[2020-12-28 23:06] dactrungnguyen commented on #38760
Related: #12997 _may_ be at the root of the present issue because `pandas.Series.to_json()` calls `pandas.io.json.to_json()`, which is the object of #12997.
Not identical:
- #12997 does not mention `pandas.Series.to_json()` explicitely
- #12997 mentions timezone conversion on a tz-aware timestamp, while the present issue mentions localization of tz-naive timestamps.

[2020-12-29 00:05] #38714 closed

[2020-12-29 00:19] svjack commented on #38656
have you try hive engine created by sqlalchemy?

[2020-12-29 00:29] snowman2 commented on #38753
I don't think it is related.

[code]
I think I am going to see if I can reproduce it with master and get better debug output.

I tested this in a local environment with wheels:
[code]
[code]

[2020-12-29 00:48] snowman2 commented on #38753
From master branch:
[code]

Can reproduce with this as the contents of the CSV file:
[code]

[2020-12-29 00:59] asishm commented on #38753
on WSL the behavior that csv file returns

[code]

with both c and python engines

[2020-12-29 01:44] mzeitlin11 commented on #38753
On OS X
[code]
segfaults about 1/2 the time,
other half gives
[code]
With python engine still segfaults (but less often?)

[2020-12-29 01:56] mzeitlin11 commented on #38736
Thanks for bisecting this @pcolazurdo! From that, looks like the regression can be isolated to the added unit update lines like: https://github.com/pandas-dev/pandas/blob/fb353446651067fafec03301256e93d59065c520/pandas/plotting/_matplotlib/core.py#L1433

That call leads to an attempt to convert the string x-axis from the second plot call to datetime (from 1st plotting call). Calling `plt.show()` o

[2020-12-29 02:59] jbrockmendel commented on #34373
@TomAugspurger gentle ping.  if im right about the expected behavior, ive got a branch ready to push

[2020-12-29 03:04] kasim95 commented on #29751
@ankushduacodes seems like you are not working on this issue as it is unassigned

[2020-12-29 03:04] kasim95 commented on #29751
take

[2020-12-29 03:18] #38708 closed

[2020-12-29 03:56] cheitzig commented on #38551
Finally got a working pandas development environment-- once I figured out the Dockerfile stuff, it's pretty cool with VS Code!

Question for @twoertwein: what were you thinking getattr(path_or_buf, '') should do? I get an error: object has no attribute ''

I'm sure I'm missing something?

[2020-12-29 04:01] ankushduacodes commented on #29751
@kasim95 hi... I didn't know contributors could assign themselves as i am new to the repo. But fair enough, I will work on some other issue.

[2020-12-29 04:05] kasim95 commented on #29751
Oh, i assumed that the issue is stale since there was no comment/update in the past 21 days. Are you still working on this issue? Let me know if you want to work on it so that I'll unassign myself.

[2020-12-29 04:08] ankushduacodes commented on #29751
I was just busy working on some other stuff. I have not started working on it. So its all you. Thank your for confirmation.😀

[2020-12-29 05:38] twoertwein commented on #38551
oh, I'm sorry, I meant: `getattr(filepath_or_buffer, "newline", "")`

[2020-12-29 06:46] ivirshup opened #38773 "BUG: idx.get_indexer(keys) fails if idx is non-unique, even if keys in idx are unique"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is

[2020-12-29 07:53] jorisvandenbossche commented on #38753
On linux I can also confirm that it segfaults with that example.

As a temporary workaround, you can use `pd.read_csv(data, float_precision="legacy")`, which doesn't segfault for me.

The fact that it fails in `precise_xstrtod` (and that `float_precision="legacy"`) seems to indicate this is caused by https://github.com/pandas-dev/pandas/pull/36228 (that PR itself did not change implementation, onl

[2020-12-29 07:59] jorisvandenbossche commented on #38751
Note that this is not directly related to `to_numeric`, as it is the `pd.array()` construction that fails:

[code]

And this is because with `dtype="float"` it actually tries to make a numpy-based float array, not a nullable pandas FloatingArray. And therefore it tries to convert pd.NA to a float, under the hood the error comes from:

[code]

[2020-12-29 08:08] jorisvandenbossche commented on #38762
My expectation was that `take` requires always a list-like of indices, and shouldn't work for scalar indices (so that the return value is always a new EA of the same type).
That seems to be confirmed by the docstring, but then the example implementation should maybe check for that?

[2020-12-29 08:09] jorisvandenbossche commented on #38762
On the other hand, numpy's `take` also works with scalar indices (although also documented to accept a array like of indices)

And for example IntegerArray also doesn't give a proper error message for it:

[code]

[2020-12-29 08:36] theoniko commented on #28556
Hello @WillAyd,
Would it be possible to review my pr and give feedback?
Thanks in advace.

[2020-12-29 09:06] wjsi opened #38774 "BUG: sem() with level raised ValueError in pandas 1.2"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-12-29 10:02] boazdori opened #38775 "Jinja2 error when trying to render a Pandas DataFrame to html from within a PyInstaller distribution"
- [x] I have checked that this issue has not already been reported.
Yes
- [x] I have confirmed this bug exists on the latest version of pandas.
Yes
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.
Yes
---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us

[2020-12-29 10:43] karuppiah7890 commented on #20432
Since I'm not working on this anymore, I'll leave it for others to pick it up. 🙈

[2020-12-29 12:06] jreback commented on #38775
this is the pandas repo
not pyinstaller

[2020-12-29 12:07] #38775 closed

[2020-12-29 12:41] TomAugspurger commented on #38775
@boazdori I believe we include those templates at https://github.com/pandas-dev/pandas/blob/7f912a4009da963b5eacdcebb638c38eec06e7a7/setup.py#L730. Hopefully pyinstaller can include the package data, but it's possible there's something wrong with our setup.py.

[2020-12-29 12:44] TomAugspurger commented on #34373
Ah I see, you're using the asserts to show the expected behavior. The diff would be to set the attrs (and maybe make a copy too?).

If so, yes I agree, and that does seem like a typo on the second `if annotate in ...`.

[2020-12-29 12:46] boazdori commented on #38775
I know but the code in the pandas-io-formats style.py needs changing

On Tue, Dec 29, 2020 at 2:07 PM Jeff Reback <notifications@github.com>
wrote:

[2020-12-29 12:48] TomAugspurger commented on #38775
No I don't think that's the problem. The template should be bundled with the pandas package. It seems like pyinstaller isn't included it for some reason (possible because we aren't including it correctly).

[2020-12-29 13:32] jorisvandenbossche commented on #38774
@wjsi Thanks a lot for the clear report. I can confirm it is a regression.

[2020-12-29 14:01] TomAugspurger commented on #38762
NumPy accepting scalars is somewhat new:

[code]

I don't have a strong preference, but it's probably best match NumPy if it doesn't introduce any issues.

[2020-12-29 14:30] #38729 closed

[2020-12-29 14:35] cheitzig commented on #38551
Got it. I figured out last night that that's probably what you meant. I need to determine first if path_or_buf / filepath_or_buffer is a string (in which case it's not a previously opened file handle) and if it's not a string, use getattr(path_or_buf,"newline") to check if they're already passed '' or None as the newline value, in which case the warning isn't required. Also, I was thinking of addi

[2020-12-29 14:41] cipriantrofin opened #38778 "BUG: sum vs groupby.sum errors"
[data_source.zip](https://github.com/pandas-dev/pandas/files/5750979/data_source.zip)

The attached data source is a subset of a larger set. I included just enough rows to show the error (when the datasource is larger, the difference of sums grows larger too).

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I know about floating point math and small associated "errors

[2020-12-29 14:41] hongyi-zhao opened #38779 "QST: Can I use pandas to do all jobs done by MS Office word/excel in work?"
Hi,

I use Linux as my working environment exclusively. So, I can't access the native MS Office supplied for macOS/Windows. But I sometimes really need to manipulate and process MS Office documents, especially DOCX and XLSX files. Though there are some free and open source office suites, e.g. LibreOffice, but none of them can completely compatible with the MS Office.

So, I want to know whether I

[2020-12-29 14:58] tlplayer commented on #38599
I don't know how to further explain this. The best I can do is to tell anyone who runs across the same error to be careful with the apply function.

[2020-12-29 15:40] StefanBRas opened #38781 "DOC: Undocumented change in .isin behavior from 1.1.5 to 1.2.0"
#### Location of the documentation
https://pandas.pydata.org/docs/whatsnew/v1.2.0.html

#### Documentation problem
There seems to be an undocumented change with how `isin` works.
pandas 1.1.5:
[code]
But in pandas 1.2.0 (and 1.2.0rc):
[code]

But the release notes mentions nothing about it.
I have not posted this issue as an bug,  because I think the newer implementation is the better implementati

[2020-12-29 15:51] jreback commented on #38781
hmm we did a lot of fixing on isin. likley: https://github.com/pandas-dev/pandas/pull/37528

we would need validation tests for this as it works on master. happy to take a PR. your examples in the doc-string would be great as well.

[2020-12-29 15:59] StefanBRas commented on #38781
So adding tests for it here: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/test_algos.py#L812?
I'm not sure which doc-string you're refering to here.

[2020-12-29 16:24] jreback commented on #38781
yep

https://github.com/pandas-dev/pandas/blob/master/pandas/core/series.py#L4584

[2020-12-29 16:26] simonjayhawkins commented on #38774
first bad commit: [5c73d996a88e36ad61d50e994b4b724f14810b93] CLN: Remove .values from groupby.sem (#38044) cc @rhshadrach

[2020-12-29 16:34] jbrockmendel commented on #34373
Well I take back the part about the branch being ready... a few weeks ago I thought I had this working, but now clearing out the attrs at the start of the test breaks 42 tests (regardless of whether I change the "left" -> "right")

[2020-12-29 16:42] mzeitlin11 commented on #38778
Thanks for the report @cipriantrofin! The current implementation being used for groupby sums is here: https://github.com/pandas-dev/pandas/blob/e752928a17055f82ef3464c35b24ae68031b60aa/pandas/_libs/groupby.pyx#L476
which does not include considerations for floating point error. Looking in the notes here (https://numpy.org/doc/stable/reference/generated/numpy.sum.html), `numpy` may be doing a parti

[2020-12-29 16:48] StefanBRas commented on #38781
It looks like there already are tests for this:
https://github.com/pandas-dev/pandas/blob/master/pandas/tests/test_algos.py#L1047
And it looks like there has been some discussion about it in https://github.com/pandas-dev/pandas/pull/38346
Which means that https://github.com/pandas-dev/pandas/issues/34125 and https://github.com/pandas-dev/pandas/issues/19356 can probably be closed.

[2020-12-29 16:56] cipriantrofin commented on #38778
Thank you @mzeitlin11
I don't know if it's relevant, but using np.sum:
`df.groupby("cont")["rul_c"].agg(np.sum))`
has the same output as
`df.groupby("cont")["rul_c"].sum()`

[2020-12-29 17:03] simonjayhawkins commented on #38781
fixed in [4699c2b0994c131733c1028fc05fe6b7c41f76a8] BUG: isin numeric vs string (#38279), no release note added.

[2020-12-29 17:11] mzeitlin11 commented on #38778
Interesting! Would have to look into more to confirm, but would guess `np.sum` is not using partial pairwise summation in this case - the doc notes say "Technically, to provide the best speed possible, the improved precision is only used when the summation is along the fast axis in memory."

[2020-12-29 17:11] simonjayhawkins commented on #38752
first bad commit: [bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6] PERF: Use Indexers to implement groupby rolling (#34052) cc @mroeschke

[2020-12-29 17:35] jreback commented on #38779
pls ask a specific question on Stack Overflow. This is out of scope for pandas itself. Though you likley can do most excel things in pandas.

[2020-12-29 17:35] #38779 closed

[2020-12-29 18:09] #37682 closed

[2020-12-29 18:37] cipriantrofin commented on #38778
I found that using math.fsum as an aggregate function gives better (best?) results.
Of course, it is slower.

[2020-12-29 18:45] jreback commented on #38778
the issue is that we need to use kahan summation in both of these (actually the 1d does if dispatched thru bottleneck) so groupby needs it

we recently implemented this for rolling

[2020-12-29 19:03] mikeronayne opened #38785 "BUG: Series.apply with DatetimeTZDtype passes DatetimeIndex to UDF"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

Calling `.apply` on a `Series` of `DatetimeTZDtype` passes the data as a `DatetimeIndex` to the user-supplied function, instead of each value of

[2020-12-29 19:19] mroeschke commented on #38752
Thanks for the report. You are correct in that there is influence from the first summation as `groupby().rolling()` now calculates the result "all at once" as opposed to independent groups for a performance reason.

Since the summation of values is carried across the groups, it appears this example hits numerical precision limits of our summation algorithm as replacing the values in your example w

[2020-12-29 19:51] #33321 closed

[2020-12-29 20:00] fangchenli opened #38786 "COMPAT: a xfailed test in `tests/scalar/timedelta/test_arithmetic.py` has passed on Apple M1 machine"
xref #31992

The exact test is `pandas/tests/scalar/timedelta/test_arithmetic.py::TestTimedeltaMultiplicationDivision::test_td_div_nan[nan1]`

This test should only pass on py39.

I built numpy from source since `pip install numpy` doesn't work on Apple M1 machine yet. It might be specific for numpy dev build for arm64.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
--------

[2020-12-29 20:08] mroeschke opened #38787 "API: Preferred MultiIndex result for groupby().rolling() for an object with a MultiIndex"
`groupby().rolling()` in master currently constructs the resulting `MultiIndex` manually by inserting `groupby` keys as the first level(s) and then the original object's `Index` as the second level(s).

However, `groupby().rolling()` behaves similarly to `groupby().transform()` (i.e. maintains the original shape), so should the resulting index align with results of `groupby().transform()`?

[code]

[2020-12-29 20:53] likealostcause opened #38788 "BUG: read_excel throws FileNotFoundError with s3fs objects"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample
I get a FileNotFoundError when running the following code:
[code]
[code]

#### Problem description
I should be able to read in the File-like object from

[2020-12-29 21:33] phofl commented on #18776
@asishm No, the Cython function perfoming the actual inner join does not support sort. In #37406 the sort keyword was not passed through so this was an easy fix. Not quitte sure why this was not implemented.

[2020-12-29 21:37] phofl commented on #32346
This seems odd, but not sure if this is deliberate. This happens in https://github.com/pandas-dev/pandas/blob/9415d10f2e876c4bb2d3feb89ee6e1ef43c003cd/pandas/core/indexing.py#L1890

Maybe we should try to preserve the dtype? @jbrockmendel  thoughts?

[2020-12-29 21:45] jorisvandenbossche commented on #38787
I made a notebook exploring a few different cases (both numeric as non-numeric groupby key, as column or as index), looking at the rolling results across recent versions, and comparing to apply/transform: https://nbviewer.jupyter.org/gist/jorisvandenbossche/38bf6bb776092bc6fda2b2967b85b43d

(still need to make a summary of it / distill my thoughts for the actual API question, but that will be for

[2020-12-29 22:59] #38119 closed

[2020-12-29 23:07] jbrockmendel commented on #32346
Agreed.

[2020-12-29 23:16] twoertwein commented on #38788
thank you for your report! Is there a public excel file on s3 so that I can test it quickly?

`get_handle` is supposed to work with strings/file objects/buffers. Your handle seems to be converted to a string at some point (probably something wrong in `stringify_path`?)

[2020-12-29 23:16] #38642 closed

[2020-12-29 23:44] #19356 closed

[2020-12-29 23:44] #21804 closed

[2020-12-29 23:58] jbrockmendel commented on #38622
gentle ping @jorisvandenbossche @jreback

[2020-12-30 00:14] venaturum commented on #38672
I'll have a go at a fix.

Can someone tell advise me where the corresponding test  would live?
pandas\tests\extension\base\groupby.py ?

[2020-12-30 00:43] 7astro7 commented on #36745
Hi, does solution to #37559 resolve this? I'm unsure despite the open tag and would appreciate other people's opinions on if this still needs addressing. If unresolved, is ~/pandas/_libs/tslibs/timestamps.pyx the correct file to change the documentation in?

[2020-12-30 01:31] venaturum commented on #38672
take

[2020-12-30 02:41] mzeitlin11 opened #38794 "BUG: read_csv (c engine, round_trip precision) platform inconsistency with large exponents"
On OS X

[code]
gives
[code]
But on Linux this gives
[code]
Is this expected for any reason?

[2020-12-30 02:59] TomAugspurger commented on #36745
I think this is being resolved in https://github.com/python/cpython/pull/20677. Nothing to do in pandas.

@7astro7 let us know if you need help finding another issue.

[2020-12-30 02:59] #36745 closed

[2020-12-30 03:04] ivirshup opened #38795 "BUG: pd.testing.makeMultiIndex ignores k parameter"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

https://github.com/pandas-dev/pandas/blob/0976c4ca0276a333346619c5a9e3c92631ec7006/pandas/_testing/__init__.py#L491-L49

[2020-12-30 03:27] #38718 closed

[2020-12-30 03:53] gepcel commented on #38451
I've set up developing environments with both windows 10 and ubuntu. `Clean` and `build` pdf before HTML pages with `make.py latex_forced` doesn't work.

The problem is the `imports` (both pd and np) didn't get imported at the beginning of the doc building. I have a guess:

During the HTML building, `{{ header }}` was put at every section with the jinja template mechanism, maybe generated some tem

[2020-12-30 05:27] ivirshup opened #38797 "API/ ENH: Unambiguous indexing should be allowed, even if duplicates are present"
### Is your feature request related to a problem?

While working on #38745, I was expecting this to be allowed:

[code]

Because the intersection of those indices is well defined. However, it turns out this does not work – `pd.concat` errors – and has not worked recently (v1.1.5). This is related to allowing `.get_indexer` when result is uniquely specified (#38773),  but I'll go into that more bel

[2020-12-30 06:22] arw2019 opened #38798 "BUG: Series constructor with nullable unsigned integer dtype fails with large number"
xref #38746

The following runs fine:
[code]
but with the equivalent extension dtype the constructor throws:
[code]

[2020-12-30 06:38] arw2019 commented on #38751
Updated the title to reflect the actual issue.

Are we ok with this behavior or is it something we want to "fix"?

[2020-12-30 07:25] jorisvandenbossche commented on #38798
This is related to https://github.com/pandas-dev/pandas/issues/30268, in the sense that it has the same cause: we let numpy do the inference on the list of values first, and in this case of large integers, numpy apparently converts it to a float array (loosing precision) instead of a uint64 array.
So I think the solution will probably be similar. There was a PR https://github.com/pandas-dev/pandas

[2020-12-30 07:35] arw2019 commented on #38798
Thanks for linking these! I'll look into resuscitating 30282, probably by resolving the blocker first

[2020-12-30 07:38] jorisvandenbossche commented on #38798
I need to look back at the original PR, but I think the blocker is at the moment mainly https://github.com/pandas-dev/pandas/pull/38315

[2020-12-30 07:40] jorisvandenbossche commented on #38751
I don't think it's something we plan to fix on the short term.
At some point in the future, we might want that those lower-case names like "float" will mean the nullable dtypes instead of the plain numpy ones within a pandas context. But then this issue will be resolved automatically (since converting all NA list to nullable float is already working).

[2020-12-30 07:44] arw2019 commented on #38798
I think that's right

[2020-12-30 07:59] jorisvandenbossche commented on #38788
@twoertwein you can also test it with the mocked s3 filesystem used in the tests. I can reproduce the error with:

[code]

`test_read_from_s3_url` passes for me locally, but the new `test_read_from_s3fs_object` fails

[2020-12-30 08:09] jorisvandenbossche commented on #36745
It was actually resolved by https://github.com/pandas-dev/pandas/pull/37559 on the pandas side. That PR added a `Timestamp.strftime` method overriding the parent `datetime.datetime` method, to add a docstring.
(and it's probably good to do this anyway, as the upstream python one uses different non-numpydoc docstring formatting)

[2020-12-30 10:04] moink commented on #30999
I will take:

pandas/tests/reshape/test_get_dummies.py
pandas/tests/reshape/test_union_categoricals.py

[2020-12-30 10:10] venaturum commented on #38785
@mikeronayne

The output which you're not expecting comes down to the implementation of

pandas.core.indexes.extension.ExtensionIndex.map

as this is ultimately where we end up when using the apply function on a series whose dtype satisfies pandas.core.dtypes.common.is_extension_array_dtype

So in this map function, the array is converted to an index and then it first tries to apply the function t

[2020-12-30 10:32] ADraginda opened #38801 "BUG: pandas 1.2.0 and Pyarrow [0.16.0, 1.0.0) are incompatible for some column types"
#35259 added optional importing from pyarrow. The currently listed minimum version of pyarrow is 0.15.1, and the logic of said PR guards against importing attributes from `pyarrow.compute` because it is not available in 0.15.1

Problem: pyarrow added the compute module in [0.16.0](https://github.com/apache/arrow/commit/27dded680e84f1a628de1bddff1f4eb62fbc5887#diff-3d08757408024228c4443730cc3536ab3

[2020-12-30 10:45] MarcoGorelli opened #38802 "CI/STYLE extend codespell beyond pandas/core"
There is task left here:

1. apply the following diff
[code]
, run `pre-commit run codespell --all-files`, and fixup the mistakes

You _may_ need you to add new words to ignore in `setup.cfg`.

[2020-12-30 11:10] moink commented on #30999
I will take:
pandas/tests/window/moments/test_moments_ewm.py
pandas/tests/window/test_apply.py

[2020-12-30 11:35] moink commented on #30999
I will take:

pandas/tests/dtypes/test_inference.py
pandas/tests/libs/test_hashtable.py
pandas/tests/resample/test_resampler_grouper.py

[2020-12-30 11:57] yanaiela commented on #38328
Hey @arw2019, @ivanovmg, sorry for the late reply.

I'd be happy to get this functionality first even without handling multiindex or multicolumn. Different people may have different functionalities in mind, but for me I'd say the multiindex should be highlighted based on the best value in each of these indices.

For the best value, as I mentioned, I think it can be passed as an argument, since it

[2020-12-30 13:02] chinggg commented on #38802
Hi! I am new to opensource and I want to take task 4.Do I just need to fork the repo and make a PR?

[2020-12-30 13:04] chinggg commented on #38802
take

[2020-12-30 13:06] jreback commented on #38797
thanks for the examples @ivirshup

currently we allow concat et all when either:
- all indexes are unique
- all indices are exactly equal (duplicates or not)

adding unambiguous duplicates, while a good idea in theory I am afraid makes this value dependent, e.g. you could happen to change the columns slightly and it works, while a different change makes it fail.

[2020-12-30 13:12] MarcoGorelli commented on #38802
hey @chinggg - yup, the contributing guide explains everything https://pandas.pydata.org/pandas-docs/dev/development/contributing.html

[2020-12-30 13:28] jreback commented on #38801
see my comments on the PR. what causes this error exactly?

e.g. what is

[2020-12-30 13:28] avinashpancham opened #38808 "CLN: Add typing for dtype argument in codebase"
Follow up from #37546 and #38680

Add typing for the `dtype` argument throughout the pandas codebase. Part of the code might need an update after adding the type since the mypy type checks can fail.

 In #38680 it is already done for `io/sql.py`, from a directory search I found that the list of files below still have untyped dtype arguments.

Would be great if people can work on a few files at a t

[2020-12-30 13:44] moink commented on #30999
Done:
pandas/tests/reshape/test_get_dummies.py
pandas/tests/reshape/test_union_categoricals.py
pandas/tests/dtypes/test_inference.py
pandas/tests/libs/test_hashtable.py
pandas/tests/resample/test_resampler_grouper.py

[2020-12-30 13:47] jreback opened #38809 "ERR: better error message with .rolling().apply(func using non-numpy things, raw=True)"
we could use a better error message rather than `AttributeError` e.g. https://github.com/pandas-dev/pandas/pull/38804#discussion_r550196167

when using

`df.rolling(...).apply(f, raw=True)`

when `f` is using non-numpy functions e.g. `.iloc`

[2020-12-30 13:49] #38287 closed

[2020-12-30 13:50] #10521 closed

[2020-12-30 13:50] jorisvandenbossche commented on #38809
Why would we want another error message? The user is passing a User Defined Function, and an error happens inside that function. In which case we should show that error to the user?

[2020-12-30 13:59] #33013 closed

[2020-12-30 14:08] #35923 closed

[2020-12-30 14:12] moink commented on #30999
Done:
pandas/tests/window/moments/test_moments_ewm.py
pandas/tests/window/test_apply.py

[2020-12-30 14:21] moink opened #38810 "Improve error message in Series.any and Series.all, when bool_only is passed and not level"
When working on xref #30999 I came across TestSeriesReductions.test_all_any_params in pandas/tests/reductions/test_reductions.py

It showed that calling the following code:
[code]
would raise a `NotImplementedError` with the error message "Series.any does not implement numeric_only", and equivalent for calling `s.all` the same way. This error message is confusing because the user didn't pass `nume

[2020-12-30 14:33] vnmabus opened #38812 "BUG: test_contains checks wrong non-missing element"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

The `test_contains` test for `ExtensionArray` objects has the following lines:

[code]

However the first element in `data_missing` IS missing,

[2020-12-30 14:40] jreback opened #38813 "STYLE: use option_context almost always"
we *should* very rarely be setting / getting options (except to test that functionaily explicity), and instead use `pd.option_context`, e.g. this should be changed:

https://github.com/pandas-dev/pandas/pull/31569/files#diff-5974844fa02c9b81f3477198023bd02503bf82da1e3d15df6dfd62cdca48666bR242

pandas/tests/io/formats/test_format.py is a hotbed for incorrect usages like this.

it *may* be possible

[2020-12-30 14:55] jreback commented on #38809
not saying we would want a different error message rather have more context / helpful pointer about this

[2020-12-30 15:07] #38726 closed

[2020-12-30 15:10] rhshadrach commented on #38656
No, I have not. Please feel free to post the code/results here.

[2020-12-30 15:38] twoertwein commented on #38788
the issue is:
https://github.com/pandas-dev/pandas/blob/e85d0782d3f74093b5a639427753dab0f2464c80/pandas/io/excel/_base.py#L1063

this issue should be limited to excel

[2020-12-30 15:39] rhshadrach opened #38815 "TST: dropping of nuisance columns for groupby ops"
xref #38774

As far as I can tell, for groupby we only have two tests for dropping nuisance columns and these only involve sum/mean. A more robust and parameterized test over all the groupby ops that drop nuisance columns should be added.

[2020-12-30 16:51] avinashpancham commented on #13049
@jorisvandenbossche based on the above discussion I would propose to add a dtype arg for `read_sql `and `read_sql_table`. In #37546 I already added it for the `read_sql_query` function. Agree?

[2020-12-30 17:27] yohplala opened #38821 "ENH: concat & merge: return True if left DataFrame is modified"
Hi,
This ticket is to propose 2 changes:

1st change: make available `concat` as method of DataFrame (similar to `merge`)
Concat could accept a list of DataFrame, similar to `pd.concat`.

2nd change: whichever `pandas.DataFrame.merge` or (newly implemented) `pandas.DataFrame.concat`
- modify left DataFrame in place
- return a boolean:
   - `True`if left DataFrame has actually been modified
   - `F

[2020-12-30 17:33] moink commented on #30999
I will take

pandas/tests/indexing/multiindex/test_partial.py
pandas/tests/indexing/test_coercion.py

[2020-12-30 18:01] rhshadrach opened #38822 "CLN: Simplify inspect_excel_format"
The function `io.excel._base.inspect_excel_format` does not need to take two parameters `path` and `content` since either is passed to get_handle. It should instead take a single parameter, `path_or_buf`.

[2020-12-30 18:02] rhshadrach opened #38823 "CLN: Simplify inspect_excel_format"
ref: #38819

The function `io.excel._base.inspect_excel_format` does not need to take two parameters `path` and `content` since either is passed to get_handle. It should instead take a single parameter, `path_or_buf`.

[2020-12-30 18:09] mzeitlin11 commented on #38821
What you want to do here sounds like inspecting the results of a merge - I'd look into the `indicator` argument (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) which tells you about what actually happened in the merge. Inplace operations can be problematic in general, but this in particular would be a massive API change for little benefit - consider the ver

[2020-12-30 18:23] agarwalutkarsh554 commented on #30232
Hello! can I help?

[2020-12-30 18:28] mroeschke commented on #38809
So when raw is specifically `True`, we would want to raise something like

[code]
?

[2020-12-30 18:29] jreback commented on #38821
yeah not really sure what you hope to accomplish here. Adding *anything* inplace is -100. Adding api is -1 for me.

[2020-12-30 18:30] avinashpancham commented on #38808
Add typing for  io/parsers.py, io/excel/_base.py, io/json/_json.py and io/pytables.py in 38814

Add typing for  core/arrays/datetimelike.py, core/arrays/base.py, core/arrays/boolean.py, core/arrays/categorical.py and core/arrays/integer.py in 38826

[2020-12-30 18:31] samzhang111 opened #38827 "ENH: Expanded display of dataframe, akin to postgres \x"
#### Is your feature request related to a problem?

When viewing large dataframes in a terminal, it is often preferable to display the data in "expanded format" or "long format" (as opposed to "wide"), essentially the result of melting every column. This makes the entire dataframe less sensitive to the width of the terminal.

#### Describe the solution you'd like

Postgres handles this nicely with

[2020-12-30 18:34] mroeschke commented on #38809
I may be leaning more just clarifying this in the documentation as the error message from the linked reference is fairly clear.

[2020-12-30 18:41] #38753 closed

[2020-12-30 18:52] jreback commented on #38809
idk, the error message you add above is pretty indicative and useful.

[2020-12-30 19:21] simonjayhawkins commented on #38822
duplicate of #38823

[2020-12-30 19:21] #38822 closed

[2020-12-30 19:36] yohplala commented on #38821
Hi, thanks for the tip @mzeitlin11 . I did not know about indicator.
I could also see an informative [related SO](https://stackoverflow.com/questions/49583500/how-to-add-an-indicator-column-for-concat-in-pandas) question for `concat` case.
Ok closing, I think that dealing with indicator is the best way to go.
Thanks again!

[2020-12-30 19:36] #38821 closed

[2020-12-30 19:57] inducer opened #38830 "BUG: Misaligned columns from read_csv on Ecobee CVS"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]
with `pdbug.csv` being this:
[code]
(a slight edit of a CSV file of HVAC system performance data downloaded from https://ecobee.com)
gives
[code]

#### Problem description

Observe that the "Date" column

[2020-12-30 20:08] asishm commented on #38830
there's an extra trailing comma in those rows

[code]

[2020-12-30 20:15] jbrockmendel opened #38831 "BUG: frame_length_0[key] = nonempty_frame raises ValueError"
[code]

[2020-12-30 20:42] jameslamb commented on #30741
It sounds like maintainers here are generally supportive of cutting tests and docs out of the package. I recently went through this exercise in LightGBM (https://github.com/microsoft/LightGBM/pull/3639, https://github.com/microsoft/LightGBM/pull/3685), and I'd be happy to do the work here to reduce the package size. Would the maintainers here be open to a PRs if I started working on this?

### Det

[2020-12-30 21:08] inducer commented on #38830
Thanks for that observation! I agree that the file is invalid. Adding `usecols=list(range(22))` works around the problem. I'm not sure I know what I would have expected Pandas to do with this file. Perhaps raise an exception?

[2020-12-30 21:11] #32593 closed

[2020-12-30 21:12] #38788 closed

[2020-12-30 21:23] asishm commented on #38830
The docs for [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) state
![image](https://user-images.githubusercontent.com/1978117/103381881-17965500-4abb-11eb-9a89-4002b0cb8eb1.png)

So a better workaround is to specify `index_col=False`

Pandas' behavior in this scenario is documented in the user guide (https://pandas.pydata.org/pandas-docs/stable/user_gu

[2020-12-30 21:52] jreback commented on #30741
yup would take PRs here

[2020-12-30 22:20] omarafifii commented on #38781
Hi,
I am willing to work on this issue.
I understand I should add the missing part in the release notes, but I am not sure if I should do something with the testing.

[2020-12-30 22:47] jreback commented on #38827
isn't it just this
[code]

[2020-12-30 22:48] jreback commented on #38827
output formatting is already quite complex. so we would need a *really* good reason.

[2020-12-30 23:08] phofl commented on #38830
Yep, bad wording here. But the behavior is deliberate.

Maybe clarifying the docs?

[2020-12-30 23:38] #38774 closed

[2020-12-31 01:10] erfannariman commented on #38781
The tests seem to be there as mentioned by @StefanBRas , seems like only release notes are added.

[2020-12-31 01:13] omarafifii commented on #38781
Ok, I can do it.

[2020-12-31 01:32] ssooffiiaannee commented on #38813
I would like to work on this issue, would it be possible?

[2020-12-31 01:42] lithomas1 commented on #38823
take

[2020-12-31 01:44] ssooffiiaannee commented on #38808
I would like to work on a few files, would it be possible?

[2020-12-31 01:49] #34456 closed

[2020-12-31 01:50] #38743 closed

[2020-12-31 02:49] cheitzig commented on #38551
I've run into a bit of a problem, and would ask for help if anyone has thoughts. I'll keep digging. It doesn't seem, per this [Stackexchange](https://stackoverflow.com/questions/54319105/detect-file-newline-mode-reopen-a-file-object) conversation, that the newline parameter when a file is opened is actually available as an attribute anywhere. I thought it was-- I thought the file objects newlines

[2020-12-31 02:57] jbrockmendel opened #38842 "API/BUG: silently-ignored dtype in DataFrame constructor"
I would expect this to raise rather than silently ignore:
[code]

[2020-12-31 03:06] cheitzig commented on #38551
Update. I've run into a bit of a problem, and would ask for help if anyone has thoughts. I'll keep digging. It doesn't seem, per this [Stackexchange](https://stackoverflow.com/questions/54319105/detect-file-newline-mode-reopen-a-file-object) conversation, that the newline parameter when a file is opened is actually available as an attribute anywhere. I thought it was-- I thought the file objects n

[2020-12-31 03:39] klanderson opened #38844 "BUG: pandas.Series.round not yet implemented for FloatingArray"
- [X ] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-12-31 03:44] jreback commented on #38844
PRs are welcome to implement as these are new arrays

[2020-12-31 03:47] jbrockmendel opened #38845 "BUG: DataFrame([listlikes]) different shape if first listlike is Categorical"
[code]

It's specific to Categorical, as we check `isinstance(data[0], Categorical)` in nested_data_to_arrays

[2020-12-31 04:24] jameslamb commented on #30741
Thanks! I've opened #38846 with a proposal to remove docs. It reduces the size of the sdist package by about 1MB.

I think that removing tests needs to be done by maintainers, though, if it will involve distributing a new `pandas-tests`  package (https://github.com/pandas-dev/pandas/issues/30741#issuecomment-719609290).

I really hope that is picked up, as it would have a significant impact on the

[2020-12-31 06:30] avinashpancham commented on #38808
Sure, go ahead! Would propose to take a number of files (max 5 or less) and start with them. Please first mention the files here such that other people will not work on those files.

[2020-12-31 06:57] twoertwein commented on #38551
sorry, I didn't know that. I assume the only option would be to warn the user when using `read_csv`?

[2020-12-31 08:12] venaturum commented on #38845
Looks like the root cause is _to_arrays_, which is called by _nested_data_to_arrays_

 (pandas/core/internals/construction.py)
[code]

[2020-12-31 09:03] ADraginda commented on #38801
@jreback I replied in the PR as well but here is a reproduction:

You can reproduce with pyarrow 0.17.1 (that's what I'm on, but breaks for other versions too) with the following example. Seems to be related to merging tow tables, one on a column of type `string` and the other of type `object`.

[code]

[2020-12-31 10:30] minesh1291 commented on #15354
Here is how I tried:
First I grouped dataframe by window size then use offset to roll those groups and calculate aggregation.
It works well for window_size/stride is int. Not optimized but I hope a good start.
welcome to tryout in [notebook](https://www.kaggle.com/mineshjethva/pandas-apply-over-rolling-window-with-strides/).

[code]
Example:
``` res = rolling_apply_with_strides(df, window_size=4,

[2020-12-31 11:53] moink commented on #30999
I will take
pandas/tests/arrays/boolean/test_arithmetic.py

[2020-12-31 11:55] simonjayhawkins commented on #38787
I've labelled as blocker and milestoned as 1.2.1 as the backport #38784 is currently blocked by this discussion.

[2020-12-31 13:34] akrherz opened #38851 "REGR: fillna on datetime64[ns, UTC] column hits RecursionError"
#### Code Sample

[code]

#### Problem description

pandas 1.2.0 is throwing a RecursionError while attempting to `fillna` on a `datetime64[ns, UTC]` column.  Same code worked in prior releases.

[code]

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

pd.show_versions()
/opt/miniconda3/envs/prod/lib/python3.8/site-packages/_distutils_hack/__init__.py:30: UserWarning: Setupt

[2020-12-31 13:38] akrherz commented on #38851
Note that dropping the `tzinfo` on the fillna datetime object does not reproduce this issue.

[code]

[2020-12-31 14:05] venaturum commented on #38599
@tlplayer

Stepping through your examples, the output you have supplied is exactly what I'd expect it to be.

I'm wondering, if you replace np.array with pd.Series in your foo function, do you get the result you are wanting?

Hard to be much more help without having you do those steps as outlined by @MarcoGorelli.

[2020-12-31 14:42] simonjayhawkins commented on #38787
#38784 merged. blocker tag remains as 1st patch release on 1.2.x could be anytime dependant on severity of regressions.

[2020-12-31 15:08] moink commented on #30999
I will make an attempt at:

pandas/tests/series/apply/test_series_apply.py
pandas/tests/series/test_ufunc.py

and see what people think

[2020-12-31 15:36] simonjayhawkins commented on #38842
duplicate of #24435?

[2020-12-31 15:36] #38842 closed

[2020-12-31 16:39] randomgambit opened #38856 "BUG: Groupby + Fillna loses the group"
Hello there and happy new year!

Perhaps one of the last bugs of 2020... Please consider this example where I fill forward missing values by groups.
[code]

The folllowing used to work but now it loses the `group` var entirely!

[code]

[code]

Is this the expected behavior? I can still use `apply` as a workaround

[code]

Thanks!

[2020-12-31 16:41] #38672 closed

[2020-12-31 16:42] jreback commented on #12679
pretty sure this is ok now that we have consistent hashing cc @realead  if you want to have a look

[2020-12-31 16:43] jreback commented on #11227
this might be fixed by consistent hashing cc @realead

[2020-12-31 17:05] simonjayhawkins commented on #38851
Thanks @akrherz for the report

first bad commit: [58f7468626f27b0140834bf09cf743f2fb90d467] CLN: remove unnecessary DatetimeTZBlock.fillna (#37040) cc @jbrockmendel

[2020-12-31 17:06] jreback commented on #38856
post version info

and see release notes
this is deliberate

[2020-12-31 17:11] hansgilead commented on #38410
jreback unfortunately didn't really address the issue here, which is that pd.read_excel("file.xlsx") is supposed to use openpyxl for files that are identified as .xlsx but in this instance it is incorrectly trying to use xlrd.  this looks like it really is a bug in pd.read_excel for which a workaround is to specify engine="openpyxl" in the call.   adding that parameter solved this issue for me.

t

[2020-12-31 17:15] simonjayhawkins commented on #38856
same result on 0.25.3. Which version retained the `group` var?

[2020-12-31 17:21] jreback commented on #38410
@keiv-fly you would have to open with a reproducible example and version info

[2020-12-31 17:21] jreback commented on #38410
sorry @hansgilead

[2020-12-31 17:30] randomgambit commented on #38856
Hi! I am pretty sure this used to work with version `1.x`. If I understand @jreback well, this is deliberate and new, correct?

[2020-12-31 17:35] ChrisFetterly commented on #37057
This worked for me! MacBook Air on new apple silicon

[2020-12-31 17:37] yohplala opened #38859 "ENH: Implement '_period_dtype_code' attribute to 'pandas._libs.tslibs.offsets.MonthBegin'"
Code...
[code]
... raises following error message:
[code]

Please, could an appropriate '_period_dtype_code' attribute be provided to 'pandas._libs.tslibs.offsets.MonthBegin' object to solve this error?
Thanks for your amazing lib!

[code]

Not building from sources (using anaconda)

[2020-12-31 17:38] randomgambit commented on #38856
I would be really interested to find out when this behavior changed. How should I proceed? Looking for `fillna` in https://pandas.pydata.org/docs/whatsnew/v1.1.1.html ?

[2020-12-31 17:42] randomgambit commented on #38856
found it https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#dataframe-groupby-ffill-bfill-no-longer-return-group-labels

sorry for the inconvenience guys. Happy new year!!

[2020-12-31 17:47] erfannariman opened #38860 "TYP: add RandomState alias"
This is a follow up of #38594. When adding type hints to the `sample` method, I ran into some problems for `random_state`. The reason is that `numpy < 1.17.0` does not have the `random.Generator` class implemented. I tried to solve this with checking the numpy version with:

[code]
But this resulted in:

[code]

To solve this issue we have to add typing for `random_state`.

[2020-12-31 18:10] jotasi commented on #37715
`pandas/io/parsers.py` was already adapted in #37639. That fixed / removed the following:

- pandas/io/parsers.py:1044: "c": CParserWrapper, # type: ignore[dict-item]
- pandas/io/parsers.py:1048: "python": PythonParser, # type: ignore[dict-item]
- pandas/io/parsers.py:1052: "python-fwf": FixedWidthFieldParser, # type: ignore[dict-item]
- pandas/io/parsers.py:1411: self.handles.close() # type: igno

[2020-12-31 18:11] keiv-fly commented on #38410
A reproducible example with the latest stable pandas and xlrd:

[code]

file.xlsx is a new completely empty excel sheet.

Error:
[code]

pip freeze:

The most important:
[code]
All output:
[code]

Output of the `python `command:

[code]

[2020-12-31 18:19] 1nF0rmed commented on #38813
You can use the `take` chat command to self-assign an issue

[2020-12-31 18:45] MarcoGorelli opened #38862 "CI speed-up @github-actions pre-commit by only running it on changed files"
From #38858 it seems the actions works fine, though is perhaps a bit slow as it has to run on all files

If we apply the diff
[code]

then it should run much faster

[2020-12-31 19:11] #37510 closed

[2020-12-31 19:15] samzhang111 commented on #38827
Thanks, stack is definitely a better description of what I want than melt.

The output of running `stack` is just a Series, so it has the same limitations as printing any Series directly to the console, which is that we may not even see an entire record before it is truncated, that the truncation can occur in the middle of a record, and that by default the individual entries are themselves given a

[2020-12-31 19:31] ssooffiiaannee commented on #38813
`take`

[2020-12-31 19:39] arw2019 opened #38863 "DOC: refactor CSV parser section in user guide"
xref https://github.com/pandas-dev/pandas/pull/31817#discussion_r509808971

We want to refactor that entire section of the user guide to provide a table-like comparison of all of the parsers.

This should wait until #38370 is merged and the `pyarrow` engine is available.

[2020-12-31 19:49] moink commented on #30999
Done:
pandas/tests/series/apply/test_series_apply.py
pandas/tests/series/test_ufunc.py
pandas/tests/indexing/multiindex/test_partial.py
pandas/tests/indexing/test_coercion.py
pandas/tests/indexes/multi/test_indexing.py
pandas/tests/indexes/multi/test_setops.py
pandas/tests/indexes/period/test_indexing.py
pandas/tests/indexes/test_common.py
pandas/tests/indexes/test_numpy_compat.py

[2020-12-31 19:50] ssooffiiaannee commented on #38813
I'm sorry, I accidentally unassigned myself, could you assign me again?, I don't understand what you mean by the take chat command, I don't have the permission to assign myself an issue, do I?

[2020-12-31 19:53] moink commented on #30999
I will take
pandas/tests/io/json/test_normalize.py

[2020-12-31 19:54] 1nF0rmed commented on #38813
@ssooffiiaannee You can comment `take` it'll be assigned to you. I'm not a maintainer so I won't be able to assign you.

[2020-12-31 20:08] jreback commented on #38859
you need to show versions and if you are building from source

[2020-12-31 20:23] cheitzig commented on #38551
A bit more information. As @asishm said above, csv.writer recommends the same thing (newline=''), which is maybe not surprising since pandas uses csv.writer under the covers (see line 238 in io/formats/csvs.py).

Agree, @twoertwein we could warn the user whenever a person on Windows calls to_csv() with a file object not opened in binary mode, but that seems like it sort of punishes everyone using

[2020-12-31 20:28] moink commented on #30999
I think I have handled all the easy-enough-to-handle instances of bare `pytest.raise`. There are still 15 left. Let me explain for each of them why I am not fixing them myself right now:

- in pandas/tests/extension there are 12 spread across 6 files. If I understand the proposed linting rule, we will exclude these from the linting. It's a pretty complex inheritance hierarchy in there, and hard to

[2020-12-31 20:36] simonjayhawkins commented on #30999
@moink you could submit a draft PR and use `match="^$"` or `match="kjkkakkdkskdkd"` and get the current message from the ci logs

[2020-12-31 20:39] yohplala commented on #38859
Hi Jeff, sorry, information added.

[2020-12-31 20:40] moink commented on #30999
Ok thanks I will do that. I thought about abusing the CI for this - if it's ok to do that then I will. I also didn't know that CI ran on draft PRs.

[2020-12-31 20:47] emc5ud commented on #21651
take

[2020-12-31 21:09] GajjarMihir opened #38865 "REGR: Sorted pandas series is not plotted in the expected order in pandas 1.2.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample
Note: The code was executed in Jupyter notebook.

[code]

#### Problem description

In Pandas 1.2.0, the sorted values are not plotted in the correct ord

[2020-12-31 21:11] jreback commented on #38865
pls edit the title to reflect the issue

[2020-12-31 21:17] GajjarMihir commented on #38865
Just fixed this. Thanks :)

[2020-12-31 21:33] mzeitlin11 commented on #38865
Thanks for the report @GajjarMihir! This is a regression caused by #28733.

[2020-12-31 22:12] alindman opened #38868 "DOC:"
#### Location of the documentation
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#setting
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#selection
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html
https://pandas.pydata.org/pandas-docs/s

[2020-12-31 23:07] jreback commented on #38868
i am really not even sure what you are asking

can u edit and boil this down

[2020-12-31 23:41] rhshadrach commented on #38868
@alindman I think you're referring to https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#boolean-indexing

[2020-12-31 23:58] jreback opened #38870 "DEPS: bump pyarrow min to 0.17.0"
this would remove some complexity around parquet, csv engine & string array. this is an optional dep and so i don't think this a big deal.

keep in mind that we likley won't release 1.3 until june time frame anyhow

[2021-01-01 00:00] #38856 closed

[2021-01-01 02:35] venaturum commented on #38845
There's a few functions in construction.py which seem to base behaviour around the first element's type in a nested list.

eg
[code]

works but:

[code]

results in an exception.

This begs the question, "what is the desired result when every nested array is a Categorical:

`pd.DataFrame([pd.Categorical(arrs[i]) for i in range(3)])`

Is it (by design):

[code]

If it is, then this what is the desi

[2021-01-01 02:46] jbrockmendel commented on #38859
There is no Period corresponding to MonthBegin.  Monthly Periods use offsets.MonthEnd

[2021-01-01 03:12] venaturum commented on #38845
Is the solution as simple as replacing code in construction.py of the form:

`isinstance(data[0], type_to_check)`

with

`all(map(lambda x: isinstance(x, type_to_check), data))`

?

[2021-01-01 03:14] lithomas1 opened #38872 "Pyarrow CSV Reader Integration Tracker"
Issue tracking Pyarrow engine integration in read_csv (for after #38370 is merged)
Current unsupported options
- [ ] skipfooter
- [ ] float_precision
- [ ] chunksize
- [ ] comment
- [ ] nrows
- [ ] thousands
- [ ] memory map
- [ ] dialect
- [ ] warn_bad_lines
- [ ] error_bad_lines
- [ ] delim_whitespace
- [ ] quoting
- [ ] lineterminator (this is c-only)
- [ ] converters
- [ ] decimal
- [ ] iterat

[2021-01-01 03:26] jbrockmendel commented on #38851
Working on a fix for this.

The tricky part is what to do when we have two different UTC dtypes.

`df["dt"] = pd.date_range("2020/12/01", "2020/12/31", tz="UTC")` uses `pytz.utc` and then the fill value uses `timezone.utc`.

[code]

Because the tzs dont match (#23959) and we dont allow setting mismatched tzs into DatetimeArray (#37605), we cast to a common dtype before trying again.  But since the

[2021-01-01 09:03] simonjayhawkins commented on #38851
Thanks @jbrockmendel for investigating this. We will want to backport a fix, so won't want any changes of behaviour.

The commit that broke the old behaviour was a clean-up, so option 4 is we could revert and thereafter, reapply to master with any fix that changes behaviour deferred to 1.3.

[2021-01-01 09:08] cragod opened #38874 "REGR: incorrect results with std on rolling window since 1.2.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

when i ran above code in 1.2.0, the output is:

[code]

#### Expected Output

ran in 1.1.5:

[code]

#### Output of ``

[2021-01-01 09:09] ZhangLockerberg opened #38875 "QST: function similarity"
Does Pandas also support a function like what np.vstack or np.hstack does?

[2021-01-01 09:13] MarcoGorelli commented on #38875
Hi @ZhangLockerberg - this kind of question would be more well-suited to [StackOverflow](https://stackoverflow.com/). Post a reproducible example with clearly defined input and expected output and you'll likely get a helpful response

[2021-01-01 09:14] #38875 closed

[2021-01-01 09:15] ZhangLockerberg commented on #38875
Thanks.

[2021-01-01 09:50] metazoic opened #38877 "BUG: rolling does not accept MultiIndex name"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

If
[code]
then
[code]
breaks with
[code]

#### Problem description

The [documentation](https://pandas.pydata.org/docs/referenc

[2021-01-01 10:17] yohplala commented on #38859
Hi, I have tried to check in the source, and I am not finding any `MonthBegin` in `pandas/_libs/tslibs/period.pyx`as stated by the error message, so my answer is maybe not appropriate.

Your answer seems to relate to the 2nd part of the error message:
` File "pandas/_libs/tslibs/period.pyx", line 2438, in pandas._libs.tslibs.period.freq_to_dtype_code`

But what happens is the direct root cause is

[2021-01-01 10:52] venaturum commented on #38877
I don't think the groupby is needed to illustrate the bug here

`df.rolling('D', on='date')`

fails with the same error

[2021-01-01 12:15] moink commented on #30999
I opened #38876 with the `pytest.raises` context manager commented out for three tests (in pandas/tests/io/test_sql.py and pandas/tests/computation/test_compat.py) and there weren't any errors in the CI. Is it possible that the conditions for running that code is also not satisfied in the CI? In which case what's the strategy - simply delete that part of the tests?

[2021-01-01 12:18] venaturum commented on #38877
If we add

[code]

to BaseWindow.__init__ on line 127 in pandas/core/window/rolling.py  then the following works

[code]

Continuing the method chain with something like .sum gives us:

[code]

I thought the repeated category in the index might have been buggy but from discussions in #38737 maybe it is by design.

Happy to take this one, make changes and write tests, if I'm on the right track, but

[2021-01-01 12:18] simonjayhawkins commented on #38865
cc @nrebena

[2021-01-01 12:27] ktrxcmsn opened #38878 "BUG: Unexpected typecast on datetime.date in groupby.key()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-01 13:15] simonjayhawkins commented on #38878
Thanks @ktrxcmsn for the report

master gives the expected output
[code]

not yet checked which commit changed this or checked the release notes whether it was an intentional change

further investigation welcome.

[2021-01-01 13:39] simonjayhawkins commented on #38874
Thanks @cragod for the report.

first bad commit: [846cff9983541e7f34e6704b0b4b02d45c1b487b] REF: Remove rolling window fixed algorithms (#36567)  cc @mroeschke

[2021-01-01 13:47] rhshadrach commented on #38874
I can't reproduce on master or 1.2.x.

[2021-01-01 13:58] simonjayhawkins commented on #38878
fixed in [545a942424a26c4163e1f959ac6130984fc3fb41] BUG: Index([date]).astype("category").astype(object) roundtrip (#38552)

tests were changed in that PR, so I don't think we need any further tests.

However, the release note may need to be changed to better clarify the changes @jbrockmendel wdyt?

[2021-01-01 19:05] jbrockmendel commented on #38859
There is not a one-to-one mapping between DateOffset subclasses and Periods.  There are many DateOffsets for which there is no corresponding Period.  MonthBegin is one of them.

[2021-01-01 19:32] yohplala commented on #38859
Yes I understand that, and I can understand that a Period can only point toward single DateOffset.
But my question is
 'What is the a trouble if several DateOffset points toward the same Period?'

[2021-01-01 19:45] #34673 closed

[2021-01-01 19:48] arw2019 commented on #38872
FTR not all of these options are being targeted on the Arrow side (at least for the time being)

xref discussion in https://github.com/pandas-dev/pandas/issues/23697

[2021-01-01 20:41] #9304 closed

[2021-01-01 21:21] jreback commented on #35516
this is more complicated as its currently wrong, we should be outputing <NA> and ignoring in the calculation.

[code]

[2021-01-01 21:38] #32749 closed

[2021-01-01 21:38] #33719 closed

[2021-01-01 21:38] #36566 closed

[2021-01-01 21:43] jreback commented on #38692
what if we convert directly to Boolean here? that is the long term type we want anyhow.

[2021-01-01 21:43] phofl commented on #38874
Isn't the output in 1.1.5 wrong too?

[2021-01-01 21:46] avinashpancham commented on #38808
I will work on the remainder of files in core/arrays

[2021-01-01 21:46] #34754 closed

[2021-01-01 21:51] phofl commented on #38495
I think this can be closed now that #38649 is merged?

[2021-01-01 21:52] rhshadrach opened #38884 "DEPR: Remove xlrd as being the default reader for xlsx"
Currently the default reader for xlsx is openpyxl if installed, otherwise it is xlrd. While xlrd == 1.2.0 will work with xlsx files, xlrd >= 2.0 will not. In pandas 1.2, a FutureWarning is raised if xlrd is used on non-xls files. We should remove xlrd as being the default for xlsx files in pandas 2.0, but perhaps even 1.3 (if 1.3 != 2.0).

cc @jorisvandenbossche

[2021-01-01 21:53] jreback commented on #33037
duplicate of https://github.com/pandas-dev/pandas/issues/21768

[2021-01-01 21:53] #33037 closed

[2021-01-01 21:54] jbrockmendel commented on #38692
long-term that'll be nice, but its still opt-in.  Plus that comes with surprising behavior changes (copy/view semantics, 1D/2D shenanigans)

[2021-01-01 21:54] phofl commented on #38488
I am getting

[code]
on master. Kahan summation can handle the transition, floating point precision for something like 2/3 is a problem.

[2021-01-01 21:57] phofl commented on #38874
This has the same underlying cause as mentioned in #37051

[2021-01-01 22:12] aiwalter opened #38885 "BUG: DatetimeIndex.to_period().to_timestamp() forgets freq value"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-01 22:16] jbrockmendel commented on #38885
long story short: no.  what you can do is something like

[code]

[2021-01-01 22:18] realead commented on #12679
@jreback

IIUC, in order to preserve the original order, hashmap needs to be insertion-ordered (like CPython's dicts for Py3.6+), but khash-maps aren't. Changes to hash-functions will not fix it.

It looks like there are at least two approaches at hand:

  -  Postprocessing step involving `pd.unique` as proposed [here](https://github.com/pandas-dev/pandas/issues/12679#issuecomment-199251661) or in

[2021-01-01 22:25] aiwalter commented on #38885
@jbrockmendel there is also an issue with `freq="MS"` here, when converting `Timestamp`:

[code]

This works for some  `freq` values without error. I mean this should at least be possible, no? Because I can convert the whole index without error. I did a workaround to solve this issue, however I think this is really a bug.

Workaround:
[code]
Results in: `Period('2018-01', 'M')`

[2021-01-01 22:26] jreback commented on #38495
yea i think so
do we have sufficient asvs?

[2021-01-01 22:31] aiwalter commented on #38885
@jbrockmendel Your solution is still resulting in `freq=None`, but I would expect `freq="MS`. So this is only working with index length >= 3, right?
[code]
`DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq='MS')
`

[2021-01-01 22:38] arw2019 opened #38888 "BUG: import_optional_dependency doesn't check version for submodules"
xref https://github.com/pandas-dev/pandas/pull/38370#discussion_r550723991

We'd like `import_optional_dependency` to correctly handle submodule imports AND to be able to import a specified minimum version of the dependency (for when a particular feature requires higher than global minimum version).

cc @lithomas1

#### Expected Output
[code]

[code]

[2021-01-01 22:43] arw2019 opened #38889 "CLN/TST: Pyarrow CSV engine"
This is a master tracker for the more cosmetic follow-ups to #38370: styling, testing, etc.

- [ ] #38888 correctly check version for optional dependency submodule imports (to handle `import pyarrow.csv`)

[2021-01-01 22:47] arw2019 commented on #38860
I'd change the title to `TYP: add RandomState alias`

(AFAIK enhancements are new feature implementations)

[2021-01-01 22:53] jreback commented on #37765
ok i did this migration. let's see what happens.

[2021-01-01 22:53] #37765 closed

[2021-01-01 23:03] realead commented on #11227
@jreback I think in general, we cannot guarantee the same hash for different platforms, e.g. for Python-objects:

[code]

the above holds for 64bits. For 32bits the hash will be something different (as the above 64bit-result cannot be stored in 32bit).

Because the order of key-count-pairs provided by `value_count_{{dtype}}` (https://github.com/pandas-dev/pandas/blob/1fc5efd76ea1f85979fa2364a292d8

[2021-01-01 23:16] avinashpancham commented on #38808
I will work on all the files in the directory `core/indexes`

[2021-01-01 23:41] lithomas1 commented on #38888
take

[2021-01-02 01:31] mzeitlin11 commented on #36375
Inconsistency also shows up just in construction:
[code]
gives
[code]

[code]
and
[code]
give
[code]

[2021-01-02 01:43] mroeschke commented on #38874
Thanks for the report @cragod.

As @phofl mentioned, the cause of this is #37051. Let's track this issue in that thread, so going to close this as a duplicate. Happy to have eyes on that issue!

[2021-01-02 02:09] jbrockmendel opened #38896 "API: setitem copy/view behavior ndarray vs Categorical vs other EA"
xref #33457 which is about similar issue but goes through different code paths.

In `Block.setitem` in cases where we are setting all the values for this block we have:

[code]

So we overwrite the existing values for categorical `value` or non-EA `value`.  Example:

[code]

The categorical behavior we implemented in #23393 and AFAICT the over-writing behavior was not discussed/intentional.  Simil

[2021-01-02 02:21] mroeschke commented on #38877
Thanks for the report @metazoic. We have a similar request in https://github.com/pandas-dev/pandas/issues/34642, so I'm going to consolidate the discussion to that issue and close this one. Happy to have a pull request implementing this feature.

[2021-01-02 02:21] #38877 closed

[2021-01-02 04:32] gunjan-solanki commented on #38862
take

[2021-01-02 04:38] jreback commented on #30041
canceling in favor of #36719

[2021-01-02 04:38] #30041 closed

[2021-01-02 04:41] jreback commented on #36719
cc @fangchenli

i moved us to travis-ci.com for this one remaining build

i think if we run it with for test with a number of cores it would be reasonable

[2021-01-02 08:42] Heerozh opened #38898 "BUG: Categorical RollingGroupby will raise IndexError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

When the index contains only part of the Categorical, RollingGroupby will raise an error:

[code]

This problem has appeared since 1.1.0

[2021-01-02 08:51] #38898 closed

[2021-01-02 08:52] Heerozh commented on #38898
My mistake, using version 1.1.3,  1.1.5 confirmed that there is no problem

[2021-01-02 10:30] simonjayhawkins commented on #38874
"non trivial" sounds to me alot like not suitable for backport.

re-opening this issue for now for discussion on how to resolve the issue on the 1.2.x branch.

[2021-01-02 10:59] teyden commented on #21673
+1

[2021-01-02 13:10] rhshadrach commented on #30999
@moink This should probably be handled on a case-by-case basis. I'd recommend searching for issues on these tests and creating them if none exist, then post references here.

[2021-01-02 14:42] forgetso opened #38900 "REGR: Buffer dtype mismatch, expected 'Python object' but got a string"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-02 15:03] jreback commented on #38900
pls show a complete example
eg how the original frame is constructed

[2021-01-02 15:11] phofl commented on #38778
The regular sum is wrong too. Neither of the values within the dataset has more than two decimals. I checked this with

[code]

returns the same result, which is obviously wrong

[2021-01-02 15:37] phofl commented on #38778
@cipriantrofin Could you adjust your expected output? ``30880496049.43``

[2021-01-02 15:37] cipriantrofin commented on #38778
You are right, of course, but we are dealing with floating point operations and some "errors" are expected. However, rounding the regular sum to twp digits returns the right answer, and it is ok with me.
On the other hand, group by sum is significantly away from the expected answer.

[2021-01-02 15:40] rhshadrach opened #38902 "TST: Disallow pytest.xfail"
pytest.xfail will immediately stop a test, not checking if it would have otherwise succeeded. The request fixture can used to run a test and only pass if the test does indeed fail:

    request.node.add_marker(pytest.mark.xfail(reason="..."))

 - [x] Remove all occurrences of `pytest.xfail`
 - [ ] Update docs
 - [ ] Add pre-commit hook

PR #38901 handles many of the current occurrences. The remain

[2021-01-02 15:40] cipriantrofin commented on #38778
I would like to, but I am quite aware that using the regular sum function will not help me in that regard.

[2021-01-02 15:43] phofl commented on #38778
I am currently fixing the groupby bug, this will return .43 in the future.

[2021-01-02 16:22] twoertwein commented on #38551
@cheitzig Feel free to close it. One option might be to have a warning in `read_csv` after reading for the first time.

[2021-01-02 17:03] rhshadrach opened #38904 "TST: skips in extension.test_categorical"
ref: https://github.com/pandas-dev/pandas/pull/38901#discussion_r550899659

At least some of the tests that are skipped here should instead be xfailed.

[2021-01-02 17:14] #38551 closed

[2021-01-02 17:36] jbrockmendel commented on #38845
The first step is to get consensus that we _want_ to change the behavior in the Categorical case.  It may end up needing a deprecation cycle.

[2021-01-02 17:48] forgetso commented on #38900
I've added an example df showing how to replicate the bug.

[2021-01-02 17:54] jbrockmendel commented on #33287
@realead is this closeable?

[2021-01-02 19:13] realead commented on #33287
@jbrockmendel  it depends on how serious you are about `float128`. I have no experience with `float128` - so it will take some time for me to understand its behavior on Linux/Windows and to come up with a solution.

Other types are done.

[2021-01-02 19:16] batterseapower opened #38906 "BUG: reindexing empty CategoricalIndex fails if target contains duplicates"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas. (Tested version 1.2.0)
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

This fails:

[code]

But these succeed:

[code]

The error is:

[code]

#### Problem description

It is unexpected that `CategoricalIndex` behaves di

[2021-01-02 19:31] jreback commented on #33287
float128 is barely supported so let's close this

[2021-01-02 19:31] #33287 closed

[2021-01-02 19:50] mzeitlin11 commented on #38900
Also raises with same example for a simpler frame like
`df = pd.DataFrame(['o'])`

First bad commit https://github.com/pandas-dev/pandas/commit/3f51060093d2341f7fdb4d1855a686a6ccb0f1bd, PR (#38151)

[2021-01-02 20:22] qinxuye opened #38908 "BUG: pandas 1.2.0 df.rolling().aggregate('skew') modified original data"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-02 20:25] mzeitlin11 commented on #35685
Thanks for writing these examples up so clearly here @simonjayhawkins, made it very easy to get started! A potentially useful addition is prepending `CFLAGS="-O0"` to the run command, which made bisection much faster for me because of greatly decreased build time.

[2021-01-02 20:57] mzeitlin11 commented on #38908
Thanks for the report @qinxuye!

First bad commit https://github.com/pandas-dev/pandas/commit/8dd2d95fe020887b65b4f79893f78479a436a19a, PR (#37557)

[2021-01-02 21:05] mzeitlin11 commented on #38908
Looks like just a copy needs to happen since input now gets modified:

https://github.com/pandas-dev/pandas/blob/d642b67569fdd1f3f3784d3ea79708211dd6a70c/pandas/_libs/window/aggregations.pyx#L516-L519

[2021-01-02 22:34] nhoover commented on #34251
This is annoying although it's nice that specifying engine='python' works around the problem. I don't really understand why this is now a problem - this seems like a very natural use case. Please fix! Thanks.

[2021-01-02 22:59] phofl commented on #38908
kurt has the same problem

[2021-01-02 23:13] jbrockmendel commented on #38885
Yes.  I think with length<3 you'll need to specify `freq="MS"` (or `freq=dti.freq`) to get it back

That should be caught and re-raised with a more helpful exception+message.  PR would be wlecome.

[2021-01-02 23:25] phofl commented on #38752
Could you provide a smaller example reproducing this? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-01-02 23:41] mzeitlin11 commented on #28869
Works now on master

[2021-01-02 23:50] mzeitlin11 commented on #28363
Probably related to #16632

[2021-01-02 23:57] bashtage commented on #37693
Can you share the dta?

[2021-01-03 00:05] bashtage commented on #38454
General support could be added to non-categoricals in `StataWriter`, `StataWriter117` and `StataWriterUTF8`. The natural syntax would probably be a dictionary of dictionaries where the keys in the other dictionary are column names and the inner dictionary contains the value labels.

[2021-01-03 01:19] jbrockmendel commented on #38851
works for me

[2021-01-03 01:23] jbrockmendel commented on #38878
could use an additional whatsnew, yah

[2021-01-03 03:13] v1gnesh opened #38913 "ENH: melt into categorical column"
Reference: https://stackoverflow.com/questions/64900604/categorical-column-after-melt-in-pandas

When the `value_vars` are being melted into `var_name`, can `var_name` be setup as a categorical dtype, either during or before the `melt`?

I'm hoping this would save a load of memory by having just a single copy of repetitive values...

[2021-01-03 03:20] jreback commented on #38913
show the example here and a proposed syntax for what you are requesting

[2021-01-03 04:17] aiwalter opened #38914 "BUG: Timestamp.to_period() fails for freq="MS""
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-03 04:23] aiwalter commented on #38885
@jbrockmendel I raised a separate issue #38914

[2021-01-03 06:45] rmwenzel opened #38917 "Passing DataFrame of values to fillna()"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

I'm not sure if this is a bug, a documentation issue, or just user error.
I found related issues #9750 #29048 that help me get the desired output but still don't explain why behavior doesn't match expectation based on my reading of the docs.

#### Code Sampl

[2021-01-03 08:19] MarcoGorelli commented on #38917
Hi @rmwenzel

This works if you name the columns in `df2` the same way as your columns in `df`, e.g.
[code]

I think an extra example on the `fillna` page in the docs would be helpful, do you want to contribute one? If so, see [contributing to pandas](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html)

[2021-01-03 08:34] MarcoGorelli commented on #38885
Thanks @aiwalter for the report

So if #38914 is open for the error reporting from
[code]
is there anything else that needs to be done in this issue?

[2021-01-03 08:36] MarcoGorelli commented on #38914
xref https://github.com/pandas-dev/pandas/issues/38885#issuecomment-753541865

[2021-01-03 08:56] MarcoGorelli commented on #28869
Can confirm it's fixed now

[2021-01-03 09:01] MarcoGorelli commented on #34251
Please refer to the [contributing guide](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html) if you're interested in submitting a fix, else I'm afraid you'll after to wait for someone else to submit one

[2021-01-03 09:08] MarcoGorelli commented on #38906
Thanks @batterseapower , can confirm this reproduces

[2021-01-03 09:32] MarcoGorelli commented on #21673
Please, this isn't helpful - see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html) for how to contribute, else wait for someone else to do it, but carrying on commenting `+1` is disruptive

[2021-01-03 10:14] toobaz commented on #21673
(and no more effective than adding a simple "thumbs up" on the first comment)

[2021-01-03 11:40] meizy opened #38918 "ENH: change the category type to use unsigned int for the internal pointers"
#### Is your feature request related to a problem?

It seems that the current implementation of the category type is using signed int for the pointers per item.
Thus, it will take 2 bytes (int16) per item as long as the number of unique items is less then 32K, then it goes up to 4 bytes per item.
Since there is no need for the sign here, we could use unsigned int (uint16) and have the pointers at

[2021-01-03 11:41] simonjayhawkins commented on #38900
cc @jbrockmendel

[2021-01-03 13:06] sukriti1 commented on #38917
take

[2021-01-03 13:14] MennovDijk commented on #31063
Is there any workaround for this issue currently in place without me having to modify the internals of Pandas? I personally never want my output to be formatted as `(1,10)`, but always as `(10,1)`. I could just modify the code below to force `all_indexed_same` to be False always, but this seems rather obtrusive. Thanks!

https://github.com/pandas-dev/pandas/blob/46841f8b91cae4c30f3e770774b8ec2dfe0

[2021-01-03 15:02] jreback commented on #38918
we actually use int8 thru int64 for the codes depending on the size

pls show a real example where this actually matters

[2021-01-03 15:13] moink commented on #26807
I will take
pandas/tests/tseries/offsets/test_offsets.py

[2021-01-03 16:07] BobinMathew commented on #38694
take

[2021-01-03 16:17] fangchenli opened #38921 "COMPAT: rolling failed on arm64"
The test `pandas/tests/window/test_rolling.py::test_rolling_var_numerical_issues` has failed on arm64 build.

[code]

[2021-01-03 16:18] DDZ12 opened #38922 "BUG: KeyError on Column Name - Column Name Is 100% There"
- [x] I have checked that this issue has not already been reported.
Yes
- [x] I have confirmed this bug exists on the latest version of pandas.
Yes 1.2.0
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.
No
---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information f

[2021-01-03 16:20] jreback commented on #12679
thanks for the analysis @realead . i don't think performance is a big deal here. I would opt for insertion order (via option 2) if its not too complicated (it sounds like we already have some of this so maybe would be fine). if that is not feasible then a fix, ala `.unique` would be fine too.

[2021-01-03 16:22] jreback commented on #11227
ok i agree. hashtables are reproducible but on that platform only. would you be able to add that test above for 32-bit (in the different ordering) so we can close this issue

[2021-01-03 16:23] jreback commented on #38845
in an ideal world i think we would want to change this (though needing a deprecation cycle). @venaturum can you make the change locally and run asvs and see if performance is an issue (it might be)?

[2021-01-03 16:32] fangchenli opened #38923 "COMPAT: test in `tests/indexes/interval/test_astype.py` failed on arm64"
[code]

[2021-01-03 16:36] #31920 closed

[2021-01-03 16:38] fangchenli commented on #38798
This test has passed on arm64 #38905

[2021-01-03 16:48] lowercase00 commented on #37084
Same here while using boto3 to access s3 files and pandas to read parquet.
`pd.show_versions()` also leads to this error. Before that I was getting `module 'snappy' has no attribute 'compress'`
It seems that it's something related to the compression engine while using `read_parquet` maybe?

[2021-01-03 16:48] #34252 closed

[2021-01-03 16:48] #35416 closed

[2021-01-03 17:10] #25744 closed

[2021-01-03 17:10] #27338 closed

[2021-01-03 17:26] GabrielSimonetto commented on #35516
@jreback What would be the desired behaviour? Is the problem only in the std function? Sorry if the question is a bit dumb, but I don't understand what your example is showing

[2021-01-03 17:40] jreback commented on #35516
we need to actually handle pd.NA correctly and return it as appropriate

here the results should all contain of pd.NA

this is pretty new and that's why it has not been built out yet

groupby supports EA for mean sum min max but not yet std / var for EAs generally

and that's the issue

[2021-01-03 18:22] aiwalter commented on #38885
Well I think no, unless we make an enhancement request out of it so that it should be possible to do conversion between `DatetimeIndex` and `PeriodIndex` without any information loss. This would require a new `freq` value in `PeriodIndex` similar to the `freq="MS"` from `DatetimeIndex`. I dont know if this is possible or appreciated? There might be also other `freq` values with the same problem.

[2021-01-03 18:42] phofl opened #38926 "CLN: Unify number recognition tests in read_csv for all parsers"
Follow up for #38420
We should parametrize over all parsers for the test sets to ensure a consistent behavior

[2021-01-03 18:44] #38495 closed

[2021-01-03 18:44] phofl commented on #38922
Hey, thanks for your report. Could you please provide a minimal reproducible example including the stacktrace of your error? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-01-03 19:08] nabelekt opened #38928 "BUG: UnknownTimezoneWarning from df.to_datetime()"
I have `test.csv`:
[code]

and `test.py`:
[code]

Running `python test.py` results in:
[code]

The `UnknownTimezoneWarning` from `dateutil` is what I am concerned about. I don't believe there is currently a way to pass an argument to `panda`'s `to_datetime()` to avoid this. Am I missing something or does this need to be addressed?

Running with `pandas` v1.2.0, `python` v3.7.3.

[2021-01-03 21:29] arw2019 opened #38930 "TST/REF: splitting pandas/io/parsers.py into multiple files"
`pandas/io/parsers.py` is close to 4k LOC (3986 on 1.3 master). Would it be reasonable to split it into multiple files (located, say, in a `pandas/io/parsers` directory)?

AFAICT the file contains 4 logical pieces:
- `read_...` methods (~700 LOC)
-  `ParserBase` and related module-level methods ( ~1100 LOC)
- `CParser` and related module-level methods (~400LOC)
- `PythonParser`, its derived classe

[2021-01-03 21:33] venaturum commented on #38845
Sure thing.

[2021-01-03 22:19] jreback commented on #38930
sure seems reasonable

[2021-01-03 22:22] #36909 closed

[2021-01-03 23:21] #33814 closed

[2021-01-03 23:25] #38778 closed

[2021-01-03 23:26] #35873 closed

[2021-01-03 23:31] phofl commented on #37715
https://github.com/pandas-dev/pandas/issues/37715#issuecomment-741977012 is now fixed

[2021-01-03 23:38] jreback commented on #37715
updated checkboxes for https://github.com/pandas-dev/pandas/issues/37715#issuecomment-753692315, https://github.com/pandas-dev/pandas/issues/37715#issuecomment-741977012, https://github.com/pandas-dev/pandas/issues/37715#issuecomment-753019117

[2021-01-04 00:14] #38888 closed

[2021-01-04 00:15] #32259 closed

[2021-01-04 01:16] mroeschke commented on #38928
You can filter the warning in your code, but it is still relevant for pandas to raise this warning as we are using `dateutil` for the datetime parsing. The parsing behavior depends on the the version of `dateutil` you have installed.

If you know the timezone ahead of time, you can also preprocess your dates to strip these unsupported timezone convensions and use the `tz_localize` method.

The rel

[2021-01-04 01:16] #38928 closed

[2021-01-04 01:22] nabelekt commented on #38928
Glad to see that there is already another issue open. Thanks.

[2021-01-04 02:39] ivirshup commented on #38797
I guess I see the presence of duplicates as a value dependency already. Though I'm thinking of things as value dependent vs. type dependent, were you thinking of a different kind of value dependency?

I'd also say my main point is more that:

[code]

And the implications of this extend to a number of functions which deal with intersections and unions of indexes.

I also think it is ultimately less

[2021-01-04 03:30] phofl commented on #37051
To summarize the current situation:

Theoretically our implementation is stable for small numbers.

Our implementation is not stable for cases like:
[code]

The following explains why:

We are using Welfords Method (https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance) with Kahan summation. In the third add pass through we have the following values: The current ssqdm is ``2.0``
[code]

[2021-01-04 03:50] lithomas1 opened #38936 "CLN: Consolidate raise_on_missing and on_version into a single errors parameter in import_optional_dependency"
xref [#38925 comment](https://github.com/pandas-dev/pandas/pull/38925#discussion_r551048418)
The new parameter should errors should have options of either "raise", "warn", or "ignore".

[2021-01-04 04:22] samukweku opened #38937 "ENH: pd.read_excel with table parameter"
#### Is your feature request related to a problem?
Excel has [tables ](https://support.microsoft.com/en-us/office/overview-of-excel-tables-7ab0bb7d-3a9e-4b56-a3c9-6c94334e492c#:~:text=To%20quickly%20create%20a%20table,row%2C%20and%20then%20click%20OK.), that makes data managing within Excel easier and offers some other features.

At the moment, pandas cannot access those tables, it simply reads in

[2021-01-04 04:42] BobinMathew opened #38938 "DOC: Update contributing.rst"
#### Location of the documentation

doc/source/development/contributing.rst

#### Documentation problem

Need additional information about the command that verifies the linting of code files.

#### Suggested fix for documentation

`pre-commit run --from-ref=upstream/master --to-ref=HEAD --all-files`

The command verifies the linting of code files, it looks for common mistake patterns
*NOTE: An add

[2021-01-04 07:10] ivirshup commented on #37643
It would be nice to be able to control this behaviour, maybe with `copy`. Right now, I'm not sure it's intuitive that `inplace=False` would return a view on the original data. Also methods like, `remove_unused_categories` modify the codes, so presumably this couldn't return a view unless the operation was mutating.

As a side note, I like the ability to modify these inplace – though I see that mut

[2021-01-04 12:02] simonjayhawkins opened #38943 "CI: Travis not running (no credits)"
https://travis-ci.com/github/pandas-dev/pandas/requests

[2021-01-04 12:18] simonjayhawkins commented on #38721
current status: 8 open regressions milestoned 1.2.1, 2 with open PRs

https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression+milestone%3A1.2.1

(#38752 is a actually a regression in 1.1 but is milestoned 1.2.1)

[2021-01-04 12:25] jreback commented on #38943
i know
i have an email out to travis about this

[2021-01-04 13:29] jorisvandenbossche opened #38944 "REGR: empty CatgoricalIndex constructor by passing no data (but passing categories) no longer working"
See https://github.com/pandas-dev/pandas/pull/38614/files#r551313565

https://github.com/pandas-dev/pandas/pull/38614/ changed the CategoricalIndex constructor to disallow scalar values, but at the same time it also disallowed passing *no* values to create an empty index (which in practice means passing the default of `None`):

[code]

If we make this change, this is at least something that should

[2021-01-04 13:33] jorisvandenbossche commented on #38944
So while Series indeed allows this (and `pd.DataFrame()` as well):

[code]

it seems that other Index constructors actually consistently disallow this:

[code]

so indeed good to be consistent about it between Index constructors. But I think we should still do it with a deprecation.

[2021-01-04 13:37] #38908 closed

[2021-01-04 14:29] jorisvandenbossche opened #38946 "REGR: comparison op with dask data structure fails"
Using pandas 1.0.5 and latest dask 2020.12.0:

[code]

But with master (using same dask version), this gives:

[code]

[2021-01-04 14:34] jorisvandenbossche commented on #38946
Checked and this was still working in 1.1.x, and started to fail for pandas 1.2.0

[2021-01-04 15:30] jorisvandenbossche commented on #38946
Bisecting gives

40daf00721f358105f744e8aad7b0c524d1c417b is the first bad commit
commit 40daf00721f358105f744e8aad7b0c524d1c417b
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Fri Oct 2 15:43:23 2020 -0700

    BUG: Categorical setitem, comparison with tuple category (#36623)

cc @jbrockmendel

[2021-01-04 15:34] jorisvandenbossche commented on #38946
Hmm, it seems that this before only worked for categorical (at least testing the above example but using int64 or object dtype, I get all False or an error, respectively, also on previous released versions of pandas). So probably not a priority for 1.2.x

[2021-01-04 16:15] douglas-raillard-arm opened #38947 "REGR: Barplot broken on Index(dtype='object')"
**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

On pandas 1.2.0, this raises:
[code]

#### Expected Output

On pandas 1.1.5, it works without issues and produces a plot with 2 bars, one

[2021-01-04 17:24] mroeschke commented on #37051
Thanks for the clear explanation @phofl.

Since these floating point artifacts are unavoidable, we can either:

1. Just document that we round values less than `1e-15` to `0` due to floating point artifacts in our `user_guide/window.rst`
2. Actually remove our artificial `if result < 1e-15:` and let floating point artifacts be apart of our implementation and document that.

[2021-01-04 17:39] rbpatt2019 opened #38948 "ENH: Return type of pandas.DataFrame.dropna is incorrectly None"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Currently, the return type of `pandas.DataFrame.dropna` is missing. The documentation correct

[2021-01-04 17:41] mzeitlin11 commented on #38947
Thanks for the report @douglas-raillard-arm!

First bad commit https://github.com/pandas-dev/pandas/commit/fb379d8266492f917ed880f7619f3d0d9bc7c8db, (#28733)

xref #38736, #38865

[2021-01-04 17:51] minesh1291 opened #38949 "ENH: Explode like feature for spliting column containing iterable values into multiple columns"
#### Describe the solution you'd like

[code]
I think the code is not robust and optimized, but it will give an idea of the desired feature.
<table>
<tr>
<td>
Input:
<img src="https://user-images.githubusercontent.com/6646693/103563159-45780100-4ee2-11eb-976b-fbeea5a3922f.png" height="200">
<td>Output:
<img src="https://user-images.githubusercontent.com/6646693/103563202-5cb6ee80-4ee2-11eb-9df9-4c

[2021-01-04 18:15] jbrockmendel commented on #38946
Looks like `ddf` is hashable so we treat it as scalar-like.  I think deep down the thing to do is return `NotImplemented` and let dask handle alignment

[2021-01-04 18:26] phofl commented on #37051
First one? Don't know. Both have their disadvantages unfortunately...

[2021-01-04 18:40] phofl commented on #38949
Hi, thanks for your report. This can be done relatively easy

[code]

[2021-01-04 18:43] jbrockmendel commented on #38896
cc @jorisvandenbossche I noticed a funky behavior with IntegerArray/FloatingArray that I'd like to get your thoughts on.

[code]

in this case the _can_hold_element is pretty clearly wrong.  It ends up not breaking anything because, as in the OP, the call to `.setitem` swaps in `arr` without ever trying to set the values in-place.

My question for you is: what about when we have a IntegerArray/Flo

[2021-01-04 18:45] jbrockmendel opened #38952 "BUG: DataFrame.iloc.setitem with IntegerArray values"
[code]

This bug would not occur with 2D EAs.

[2021-01-04 18:46] mzeitlin11 commented on #38948
Hi @rbpatt2019, thanks for the report! Typing PR's are certainly welcome - it's not that `dropna` is missing typing accidentally, it just hasn't been typed yet (same for many places in the codebase).

[2021-01-04 18:50] kylekeppler opened #38953 "DOC: MultiIndex.is_lexsorted not linked"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.MultiIndex.html?highlight=is_lexsorted

#### Documentation problem

On the API page for `MultiIndex`, `is_lexsorted` does not link to an API page for that method. That method has been deprecated and does not contain a docstring, perhaps that is why there is no link?

#### Suggested fix for documentation

Si

[2021-01-04 18:55] jorisvandenbossche commented on #37784
@simonjayhawkins thanks for the release!

You didn't yet send an announcement email?

(also, if you do, could you use the "1.2" link instead of "1.2.0"? Eg https://pandas.pydata.org/pandas-docs/version/1.2/whatsnew/v1.2.0.html instead of https://pandas.pydata.org/pandas-docs/version/1.2.0/whatsnew/v1.2.0.html)

[2021-01-04 18:55] #20421 closed

[2021-01-04 19:03] jreback commented on #38953
we *just* merged a PR which deprecated is_lexsorted, which removed it from the api docs. https://github.com/pandas-dev/pandas/pull/38701

[2021-01-04 19:13] jbrockmendel commented on #38900
It isn't clear to me how #38151 broke this, but the/a fix is in ObjectBlock._maybe_coerce_values, where we need to check for `issubclass(values.dtype.type, (str, bytes))` instead of `issubclass(values.dtype.type, str)`

[2021-01-04 19:41] kylekeppler commented on #38953
Good timing then! Looks like the `is_lexsorted` entry in the `MultiIndex` docstring should be removed?

[2021-01-04 19:46] mroeschke commented on #37051
Yeah I can see that.

I am also entertaining the second option as well and pushing the responsibility of handing floating point artifacts to the user (in the final result but unfortunately not during the rolling calculation)

[2021-01-04 20:00] kcharlie2 opened #38955 "BUG: read_excel() fails when checking __version__ of older xlrd versions"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### When xlrd is installed but is an "older" version (e.g. 1.1.0):

[code]

raises

[code]

This specifically occurs in ``pandas/io/excel/_base.py:336``

#### Problem de

[2021-01-04 20:01] phofl commented on #37051
It is pick your poison. In case of the second alternative, we have to adjust the docstring in
https://github.com/pandas-dev/pandas/blob/7f2a76884554aad79515138fcc524dd63f4f7f70/pandas/core/window/rolling.py#L641
and
https://github.com/pandas-dev/pandas/blob/7f2a76884554aad79515138fcc524dd63f4f7f70/pandas/core/window/rolling.py#L701

My example was based on that. This would cause doctests to fail o

[2021-01-04 20:11] kcharlie2 commented on #38955
I should add that this is related to the changes in #35029.

[2021-01-04 20:35] JuliaWilkinsSonos opened #38956 "BUG: read_excel() using openpyxl engine header argument not working as expected"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
I am happy to provide the file I am using privately, offline if necessary. This would be necessary to directly reproduce this er

[2021-01-04 20:53] JuliaWilkinsSonos commented on #38956
Screenshot of example file I am trying to read:
<img width="387" alt="Screen Shot 2021-01-04 at 3 52 04 PM" src="https://user-images.githubusercontent.com/42557206/103578652-f3fd5100-4ea4-11eb-8cb1-b00690f4c77d.png">

[2021-01-04 20:53] phofl commented on #38956
Hi,

thanks for your report. Could you please provide a minimal example of your excel file? Can be filled with dummy data, if you can not share the real data. Without a file we won't be able to reproduce this.

[2021-01-04 20:58] phofl commented on #38955
Can reproduce this with a random excel file

[2021-01-04 21:05] JuliaWilkinsSonos commented on #38956
@phofl Here is a sample file, a truncated version with dummy data of my original. For some reason now this file is no longer throwing the error above, **but** the headers are not being read as specified.

Here's what I'm running:
[code]
TLDR: not throwing an error, but not reading headers properly either.

Thank you!
[sample.xlsx](https://github.com/pandas-dev/pandas/files/5766778/sample.xlsx)