[2018-10-03 12:43] jorisvandenbossche commented on #22974
and also the interaction with non-pandas objects (lists, arrays)

[2018-10-03 12:44] jorisvandenbossche commented on #22962
I think that would be fine for now (although it is different from numpy), certainly given that a list has not really dtype information.

Alternatively, we could error on `integer_array([1.0, 2.0])`, but that would also be very annoying, because `integer_array` is currently useful for converting our current "integer with nan = foat" to IntegerArray

[2018-10-03 12:55] TomAugspurger commented on #22900
As long as we're running the examples, option 3 should be fine, right?  The example `df + 1` will fall the doctest.

So my vote is for option 3.

[2018-10-03 13:19] TomAugspurger commented on #22960
I can reproduce locally now. Not sure what was going on earlier.

https://github.com/pandas-dev/pandas/pull/22901 was the commit that introduced the failure, but we didn't catch it there since numpydev is in the "allowed failure" section. I think we should move it up to the non-allowed section.

I think the root cause is calling `CategoricalDtype.construct_from_string(dtype)` on a DataFrame. We us

[2018-10-03 13:21] Dr-Irv commented on #22944
Just to add to the discussion @TomAugspurger, I did it this way because I have ops that take two EA's of the same type and produce an EA of a different type.  In some sense, `divmod` is like that.

[2018-10-03 13:53] TomAugspurger commented on #22934
Updated the original post with some details now that we've pinned moto.

Again, if anyone is able to reproduce the pandas failure locally with newer motos, let me know.

[2018-10-03 14:18] drcrook1 opened #22976 "Sliding Window w/ Step Size & Get Back Windows"
#### Code Sample, a copy-pastable example if possible

Below is likely a very poor implementation of this.  Basically, I want to define a window size and a step size and get back a list of dataframes in order of appearance.

I need to use this because I will effectively be doing this twice.  First I need to get my major windows and then in each window, I need to generate more, smaller windows as w

[2018-10-03 14:38] WillAyd commented on #22976
Ah OK fair enough though still keeping this closed as a duplicate of #15354 then. LMK if I am overlooking something

[2018-10-03 15:36] vss888 opened #22977 "Reading pandas DataFrame with categorical columns from an HDF file with 'where'"
How should I read correctly a pandas DataFrame with categorical columns from an HDF file with a 'where' argument?

Here is what I see:

[code]
#### Problem description

I requested only ["LN","GY","FP"] values of 'ex' but got values with d['ex']=='ID'.

#### Expected Output
[code]

[2018-10-03 17:54] drcrook1 commented on #22976
Ah; yeah; I saw that one.  So it is like that one, except **I also need to be able to actually access the windows from it as well.**

Ideally it would also deal with multi-index and you specify which level it is that you care about for the window size and steps.

windows_list = df.rolling(100,step_size=10,level=0).get_windows()

[2018-10-03 18:34] TomAugspurger commented on #22974
Tangentially related, I noticed today that `divmod(ndarray, Series)` raises.

[code]

Given that both division on mod work, divmod probably should as well.

[2018-10-03 19:00] svenharris opened #22981 "merge_asof doesn't allow float tolerance for float merges"
The merge_asof function allows you to merge on float values but doesn't allow tolerance value when performing this merge, unlike for integer and datetime merges. I'm currently working on a pull request to fix this by removing the error being thrown for non-integer numerical tolerances.

[code]

Expected output:

[code]

[2018-10-03 20:40] jorisvandenbossche opened #22984 "BUG: wrong detection if truncated repr is needed"
There seems to be a bug in the detection of when a DataFrame repr will not fit the console width.

Small example, the repr of a 7 column float dataframe is 72 characters wide:

[code]

However, in my default terminal of 80 characters wide, it is truncated:

[code]

("funny" thing is that this truncated repr is actually exactly as wide as the non-truncated one ...)

[2018-10-03 21:28] Haigutus commented on #22815
Maybe this could be reused - https://bitbucket.org/nielsenb/aniso8601

[2018-10-03 22:28] david-r-wasserman opened #22985 "TypeError: Cannot interpolate with all NaNs."
#### Problem description

I got an error: "TypeError: Cannot interpolate with all NaNs." This error was raised on line 6011 of pandas\core\generic.py. Sorry, I'm not able to provide a simple code sample to reproduce the problem.

I can't see why this error should ever be raised. If the input is all NaNs, interpolate() should output all NaNs. Users of interpolate() don't necessarily know what data

[2018-10-03 23:03] h-vetinari commented on #22763
Aaaand we're back on the fifth page... https://circleci.com/gh/pandas-dev/pandas?page=4

[2018-10-04 01:33] TomAugspurger commented on #22985
Let us know if you can provide a minimal example: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-10-04 01:41] TomAugspurger commented on #22763
What are people's thoughts on dropping circle? The main gaps that would
leave in our coverage would be

- Just travis for SQL tests (OK, I think)
- Fewer tests in other locale's (we have a travis job that uses
`zh_CN.UTF-8`.
- A linux-based python 3.5 job (OK, to lose, still have 3.5 on our Mac
build)

On Wed, Oct 3, 2018 at 6:03 PM h-vetinari <notifications@github.com> wrote:

[2018-10-04 02:56] jreback commented on #22763
we will inevitable have hard to debug regressions if we lose the locale job - maybe can set this on another job though

the 3.5 is prob somewhat duplicative

[2018-10-04 05:05] jbrockmendel commented on #22929
Might make sense to let DatetimeIndex.shift take a DateOffset, shifting the first date by the given DateOffset and then retaining the original freq.

[2018-10-04 10:04] xoelop commented on #13741
I think this is still not working.

In this case, selecting top-level columns from a multiindex of a df:

`data = sales.set_index(keys=[sales.index,  'descr',  'PERIODO']) `
`
data = data.unstack(['descr', 'PERIODO'])[cols]`

and then making
`res.columns.levels[0]`

the result is bigger than `cols`. It's the same columns that the original DataFrame (sales) had

[2018-10-04 11:19] TomAugspurger commented on #22763
Right. I forgot to finish my comment.

Of those, the hardest to replicate on azure is the SQL tests. The best way to do that would be a docker-based setup where we have Postgres and mysql services that the test container talks to. Azure-CI supports that, but based on 5 minutes of reading there docs, would require a fair amount of effort to setup.

The other (3.5 and locale) can be ported directly

[2018-10-04 11:27] #22850 closed

[2018-10-04 11:30] #22960 closed

[2018-10-04 12:33] WillAyd commented on #22763
Interested in learning more about this so if there’s anything I can do to help lmk

Sent from my iPhone

[2018-10-04 12:36] mirkoha opened #22989 "Assigning a value to a series with a tz-aware timestamp during DST switch raises AmbiguousTimeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

AmbiguousTimeError is raised when assigning a value to a new entry in a series although the timestamp is unique. This bug may be linked to #21761.

#### Expected Output
No error.
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits

[2018-10-04 12:53] TomAugspurger commented on #22989
Can you try on master/ That works for me.

[code]

[2018-10-04 13:06] TomAugspurger opened #22990 "Doc build failing with IPython 7.0"
Looks like a regression upstream in IPython:
https://github.com/ipython/ipython/issues/11362

We've temporarily pinned the doc build to 6.5. Will need to remove that pin when a fixed IPython is released.

[code]

[2018-10-04 13:31] Dr-Irv commented on #22930
In terms of `divmod` between two decimals working fine, I think the issue is how the "infinite" precision of `Decimal` should handle it.  Here's an example:
[code]

And then there is this example:
[code]

I think the result of that should be `(Decimal('3'), Decimal('0.0'))`

So it is not clear what the expected result should be when the input values are "infinite" decimal numbers.  But maybe the t

[2018-10-04 13:38] TomAugspurger commented on #22930
You think that's a bug in Python?

Regardless, the array version should be matching what the scalar version does.

I don't see that. On master, we return a list if the `self._from_sequence` fails, not a different extension array.

[2018-10-04 13:57] TomAugspurger commented on #22990
https://github.com/ipython/ipython/issues/11362

[2018-10-04 14:17] DavidEscott commented on #4588
I have to bitch about how this patch is rolled out. You have simultaneously changed the function signature of `concat` AND introduced a warning about the usage. All within the same commit.

The problem with that is that we use pandas on multiple servers and cannot guarantee that all servers have the exact same version of pandas at all times. So now we have less technical users seeing warnings from

[2018-10-04 14:35] Dr-Irv commented on #22930
I'm not sure if it is a bug in Python, but it makes writing a test for `divmod` in `DecimalArray` a challenge, so I punted.

I agree that the array version should do what the scalar version does.

Yes, and that was intentional.

I was responding to your comment here:
https://github.com/pandas-dev/pandas/issues/22930#issuecomment-426071046
where you wrote:

So I think we're all good in terms of und

[2018-10-04 15:06] DavidEscott commented on #4588
@TomAugspurger There are a multitude of ways that we on our side can deal with this. Certainly filtering warnings is one. Its not great because the mechanics of warnings filters are a bit ugly...

1. I would have to add the filter to multiple programs
2. Not a great way to specify a specific warning to filter:
 * I can filter by module and lineno, but that isn't a stable reference,
 * I can filter

[2018-10-04 15:57] qris commented on #22669
Here is an even simpler example. It works with duplicates='drop' alone:

    ValueError: Bin edges must be unique: array([ 97.,  97.,  97.,  99.]).
    You can drop duplicate edges by setting the 'duplicates' kwarg

    ([(96.999, 99.0], (96.999, 99.0], (96.999, 99.0], (96.999, 99.0], (96.999, 99.0], (96.999, 99.0], (96.999, 99.0], (96.999, 99.0]]
    Categories (1, interval[float64]): [(96.999, 9

[2018-10-04 16:17] mirkoha commented on #22989
Thanks for the quick reply. Using the current master solves this problem. Thank you.

[2018-10-04 16:17] #22989 closed

[2018-10-04 16:20] ghost opened #22993 "Equivalent to the Excel fill handle"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
It would be nice if there were an analog for the excel fill handle.  I am not an experienced programmer and I don't want to imply that I think the functionality should be implemented the way I suggest above, but it would be nice to have for those coming from excel to pandas.  If the val were a list, maybe it cou

[2018-10-04 17:05] Liam3851 commented on #22985
@david-r-wasserman I think the problem is you have dtype=object:

[code]

@TomAugspurger I think the `TypeError` here is confusing. The code check is that all columns of the DataFrame have dtype object, but the message says there's a problem with NaNs, even if the dataset has no NaNs.

[2018-10-04 17:10] TomAugspurger commented on #22985
Agreed, that's a confusing error message... It's also not really clear to me why we're doing that in the first place (and I think I wrote that code 😄). Any investigation here would be welcome.

[2018-10-04 17:28] olveirap commented on #22669
Sorry, I found your example a bit convoluted, so this:
`[ord(x) for x in list('aaaaaabc')`
Returns this:
`[97, 97, 97, 97, 97, 97, 98, 99]`
What the code should try to do with q=3 is separate the numbers between the 0-percentile and 33-percentile in a bin, the same for 33-percentile and 66-percentile and lastly 66-percentile and 100-percenile. In the array above the value 97 is inside every bin, s

[2018-10-04 18:05] Liam3851 commented on #22985
Yup, it's your commit (from 2013!), revision aff7346f3be41d1b190f311f862653b6088e2ad7 added

[code]

That one commit added basically all the type checking currently in the function.. Only thought is that right below in the same commit is another check:

[code]

At this point I assume you meant to write TypeError("Cannot interpolate with all objects"), had the second check on the brain and typoed?

[2018-10-04 18:51] svenharris commented on #22993
I think that's a really interesting analogy, but I think you can get that functionality in a straightforward fashion using .iloc

[2018-10-04 19:01] TomAugspurger opened #22994 "Incorrect behavior when concatenating multiple ExtensionBlocks with different dtypes"
In https://github.com/pandas-dev/pandas/blob/d430195ffaa37df2d8fc3ecf26306bb5e06b4ad0/pandas/core/internals/managers.py#L1638

we check that we have one type of block.

For ExtensionBlocks, that's insufficient. If you try to concatenate two series with different EA dtypes, it'll calling the first EA's `_concat_same_type` with incorrect types.

[code]

[code]

For EA blocks, we need to ensure that

[2018-10-04 19:16] TomAugspurger commented on #22993
Agreed with @svenharris.

If anyone is interested, this would make for a nice cookbook entry: http://pandas.pydata.org/pandas-docs/stable/cookbook.html

We could perhaps expand those into a "Comparison with Excel" page, or "pandas for excel users".

[2018-10-04 19:16] mroeschke commented on #22993
Agreed with @svenharris

[2018-10-04 19:18] hweersot commented on #22892
I'm sorry to say that I gave up this issue.
Not because of modifing docs, but I have no idea with error  ocurred in my OS during validation.
I tried a lot, but maybe someone else could make a PR much better,
Sorry for waiting so long time.

[2018-10-04 19:35] TomAugspurger commented on #22476
So, a safe and low-tech option is to have EA authors declare the meaningful attributes of their ExtensionDtype. For PeriodDtype, this is freq. For CategorcialDtype its the categories and order.

[code]

(in reality, `__hash__` and `__eq__` would go on the base ExtensionDtype class, not PeriodDtype.

That requires a couple things from all the `_attributes`.

1. Their `__eq__` returns a boolean
2. T

[2018-10-04 21:22] jbrockmendel opened #22998 "BUG: PeriodIndex + offset incorrect"
Troubleshooting based on `tests.indexes.period.test_tools.TestPeriodIndexConversion.test_to_timestamp_pi_combined`

[code]

`idx + idx.freq` should match `idx + 1`.

[2018-10-04 22:18] bashtage commented on #22924
Need to pin wheel to 0.31.1

[2018-10-04 22:18] mtaboga opened #22999 "iloc bug / memory error"
I am using Pandas version '0.23.4' with IPython 6.5.0 and Python 3.6 on a Windows 7 pc.
I have a very large dataframe df, but plenty of free ram.
When i do
`c=df.iloc[1:10,:]`
everything works fine, but when I do
`c=df.iloc[1,:]`
I get a memory error. See below:

Traceback (most recent call last):

  File "<ipython-input-28-4f47c9ad2dd2>", line 1, in <module>
    c=df_train.iloc[1,:]

  File "C:\A

[2018-10-04 23:13] #22858 closed

[2018-10-04 23:29] #22981 closed

[2018-10-05 02:27] randomgambit opened #23002 "rolling with string variables"
Hi the `Pandas` dream team.

I think it would be nice if `rolling` could accept `strings` as well (see https://stackoverflow.com/questions/52657429/rolling-with-string-variables)

With the abundance of textual data nowadays, we want `Pandas` to stay at the top of the curve!

[code]

Here I want to concatenate the strings in mychart using the values in the last 2 seconds (not the last two observati

[2018-10-05 02:49] WillAyd commented on #19689
Closing as stale. Can revisit in future

[2018-10-05 02:49] #19689 closed

[2018-10-05 03:03] WillAyd commented on #23002
Related to #18129 and #20244 may be of note. Rolling with object types is not supported in a lot of cases (most ops require or cast to float). IMO can be theoretically supported though may cause conflicts with other issues like #12537

[2018-10-05 03:06] WillAyd commented on #22976
Any reason you can't just pass your function to `.apply`? Would be the idiomatic approach here IIUC

[2018-10-05 11:08] jorisvandenbossche commented on #22994
Do we need more fine grained control?

Because I could assume that in some cases an ExtensionArray (eg with a parametrized dtype) would like to have a smarter way to concat arrays with different dtype than just converting to object?

Also eg IntegerArray with int64 and int32 would not need to be converted to object ?

[2018-10-05 11:56] TomAugspurger commented on #22994
Absolutely. We're even getting there with Sparse, since it would like to take non-sparse arrays and make them sparse, rather than going to object. Right now I think we just special case sparse before getting to concat.

I think we're coming up on the need for a general `concat_array` mechanism. We scan the list of types, and try those. I wonder how much we should piggy back on https://www.numpy.or

[2018-10-05 14:41] cychu5 opened #23006 "openpyxl depreciation warning"
With python 2.7.14, the following code

```df.to_excel('output.xlsx')```

produces the following warning:

`/Users/cychu/Library/Python/2.7/lib/python/site-packages/pandas/io/excel.py:784: DeprecationWarning: Call to deprecated function remove_sheet (Use wb.remove(worksheet) or del wb[sheetname]).
  self.book.remove_sheet(self.book.worksheets[0])`

[2018-10-05 15:48] h-vetinari commented on #22721
@jreback
I haven't edited the OP of #22725 yet, but I'll open another issue to supersede this based on your review that the `.str` accessor should *not* work for bytes.

In other words, this does not need the 0.24 milestone, IMO

[2018-10-05 15:51] h-vetinari commented on #22722
@jreback

I'll open another PR for this, but this will not be closed by #22725 (was split off due to review)

[2018-10-05 16:03] sawoha opened #23007 "pandas boxplot shows a strange output if by=df['datetime_column'].dt.functions"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The results shown here explains a lot so I am not going to elaborate much.
As far as I tested, this only happens if datetime function is used for grouping values to draw multiple boxplots in one plot.
![untitled](https://user-images.githubusercontent.com/43888085/46546309-42ed6200-c8fb-11e8-9602-84e195818635.png

[2018-10-05 16:48] h-vetinari commented on #22763
@TomAugspurger

Why not leave one build in CircleCI? With 4 workers, that will almost be 4x as fast as currently, which should be enough to keep pace with travis/azure. Maybe that job could even combine 3.5/linux/local/SQL tests.

[2018-10-05 18:43] tunnij opened #23008 "API: Expose groupby API for fast custom calculations"
Currently code such as:
`df.groupby(['col1', 'col2']).mean()`

Is heavily optimized as it has access to the internal blocks and can use a cython based function to execute. If a custom calculation is required (for example root-mean-squared-error) then the only current option is to use:
`df.groupby(['col1', 'col2']).apply(my_func)`

It would be good to be able to supply a cythonized or numba jit com

[2018-10-05 20:37] mroeschke commented on #23007
So you're passing an array-like value to `by`, and it seems like the title is using the `by` value as part of the title and xlabel hence why you are seeing the array repr cloud the plot.

I think it's reasonable to suppress array inputs from being included in the supporting plot text, but what would be a suitable alternative label (maybe we just don't include a label)?

cc @TomAugspurger

FYI, to

[2018-10-05 21:05] h-vetinari opened #23009 "sets in str.cat?!"
In #20347, I was asked to allow list-like inputs for the `.str.cat` methods for Series. However, I didn't know that `is_listlike({'a', 'b', 'c'})` is True (for sets) until I stumbled over it in #22486.

These objects should imo clearly be disallowed, lest users shoot themselves in the foot massively:
[code]

I'm not even sure this should go through a deprecation cycle - IMO it's just a plain ol' b

[2018-10-05 21:29] h-vetinari opened #23011 "Disable .str-accessor for byte data"
This supersedes #22721.

Pandas is trying to straddle many different chasms, which leads to undesirable behaviour on the fringes. For the purpose of this issue, I'm talking mainly about
1. supporting python 2/3 (will be over soon...)
1. being largely based on numpy's type system

From the first point, we have the inconsistent handling of str vs. bytes, so having the Series-concatenator work with b

[2018-10-05 21:42] h-vetinari commented on #22721
Superseded by #23011

[2018-10-05 21:42] #22721 closed

[2018-10-05 21:54] vss888 opened #23012 "Bug in tseries.offsets.BDay"
#### Code Sample, a copy-pastable example if possible

[code]

gives

#### Problem description

Adding zero number of business days to a date should not change the date.

#### Expected Output

`(date+pd.tseries.offsets.BDay(0))==date` for any input date

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Li

[2018-10-05 23:48] JustinZhengBC commented on #23012
Those two days are weekends, so it's understandable why this would occur. If a task "can be completed on the same business day" but is requested on a weekend, it won't be completed until Monday. This behaviour appears to be intended, according to [this test](https://github.com/pandas-dev/pandas/blob/8af8cdbc251c6268fc02a5af9b18e9196a9b6067/pandas/tests/tseries/offsets/test_offsets.py#L689).

[2018-10-06 01:18] sawoha commented on #23007
Yes, I am currently circumventing this issue by creating a new column dedicated to month/year/day/etc.

However, I am still confused about why dataframe.hist() and dataframe.plot.hist() show different behaviors.

For example, the following code works fine without any issue.

df.hist(column='value',by=df['date'].dt.month)
![untitled](https://user-images.githubusercontent.com/43888085/46565768-f0856

[2018-10-06 02:56] jschendel opened #23013 "BUG: Interval should disallow Interval/Period objects as left/right endpoints"
#### Code Sample, a copy-pastable example if possible
`Interval` with `Interval`/`Period` endpoints is allowed:
[code]
I don't think we should currently support this behavior.  I can't think of much use for it, and it breaks some existing methods in certain cases:
[code]
Note that similar behavior has been disallowed for `IntervalIndex`:
[code]

I wouldn't necessarily be against allowing this beha

[2018-10-06 03:08] jschendel commented on #23012
Yes, I believe this is the intended behavior. In addition to the test, this behavior is consistent with the [Anchored Offset Semantics](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#anchored-offset-semantics) section of the docs.  Specifically, the last paragraph states:

[2018-10-06 03:08] #23012 closed

[2018-10-06 06:19] mroeschke commented on #23007
The docstring for `DataFrame.hist` states:

So in that case you'll get one plot per column _per group_

As opposed to `df['value']` which is a series, so it will just produce one plot since the base data is 1D

[2018-10-06 10:01] sawoha commented on #23007
@mroeschke , thanks again for the clarification.

 I am still wondering about why the result of `df['value'].hist(by=df['date'].dt.month)` is different from `df['value'].plot.hist(by=df['date'].dt.month)`, but this is not relevant to the topic anymore.

[2018-10-06 14:23] MatanCohe opened #23015 "Cannot create python environment due to broken dependency"
#### Problem description
Following the  [documentation](https://pandas.pydata.org/pandas-docs/stable/contributing.html#contributing-to-pandas) I've tried to [create a python environment](https://pandas.pydata.org/pandas-docs/stable/contributing.html#creating-a-python-environment-pip)  and encountered this error message:

[code]

Looking it up online I've found that the project [pyenchant](https://

[2018-10-06 15:05] jreback commented on #23011
we already have the capability to infer what object types are, and use this in many places in the codebase, so this is pretty easy to do. all byte operations should be disabled explicity.

[code]

[2018-10-06 16:45] jbrockmendel opened #23017 "Make DataFrame.dtypes return Categorical"
I found myself wanting to check if `df.dtypes` contained any integer dtypes.  The intuitive usage would be:

[code]

There are easy workarounds for this, but it would be convenient if `df.dtypes` returned a Categorical so this could be made to work.

[2018-10-06 16:47] h-vetinari opened #23018 "CLN: Use consistent imports in tests"
A while ago, I got the review from @jreback that:
* Replace instances of pd. with direct imports (from review https://github.com/pandas-dev/pandas/pull/21899#discussion_r202524353):

* Replace direct use of `assert_..._equal` with the `tm.assert_..._equal`
    (from review https://github.com/pandas-dev/pandas/pull/21899#discussion_r202524374):

I kept applying these rules until #22730, where @jreb

[2018-10-06 17:00] mattboggess commented on #21489
Is this issue currently being worked on? If not, I'd like to take it up.

[2018-10-06 18:28] jschendel commented on #21489
@mattboggess : Go for it!  Doesn't look like anyone is currently working on it.

[2018-10-06 20:03] troels commented on #22999
Hmm... Are you running 64-bit or 32-bit python? (you can tell, by e.g.:)
[code]

If it's 32-bit you might get around the error by using 64-bit version instead.

Still it's rather strange that Pandas wants to do a large allocation in the second case, but not the first. There is probably something there that could be improved.

[2018-10-06 20:44] jreback opened #23020 "BUG: merging on an Integer EA raises"
[code]

Merging with an EA included is ok
[code]

On the EA column is not Ok
[code]

[2018-10-06 20:45] mtaboga commented on #22999
Hi! It's 64-bit.

On Sat, Oct 6, 2018 at 10:04 PM Troels Nielsen <notifications@github.com>
wrote:

[2018-10-06 20:46] jreback commented on #23020
this doesn't look that hard to fix actually, need an

``if is_extension_array_dtype`` clause here, then maybe some logic to defer to the interface to prepare for the factorizing

[2018-10-06 20:47] jreback commented on #23017
doesnt' ``.select_dtypes(incude=['integer'])`` work? and is more idiomatic? we are trying not to use the numpy idioms here (becuase they actually break), e.g. try doing ``df.dtypes=='int'`` with non-numpy dtypes

[2018-10-06 20:48] jreback commented on #23008
``.apply`` already accepts a ufunc and defers to it, have you tried? can you show a complete usecase

[2018-10-06 21:15] tunnij commented on #23008
I'll come up with some runnable code but will take a look at ufunc and what I can do with the group indexers.

The original situation I had was that I had a large dataframe (approx. 40 million rows) and was trying to perform an idxmin() on the groups. The performance of idxmin() vs just a regular min() was quite quite large and so I wanted to see what I could do to speed it up.

The original code

[2018-10-07 01:25] jbrockmendel opened #23023 "Block.shape inconsistencies?"
Trying to simplify some things in internals.  I expected that it would always be the case that `len(block) == block.shape[0]`, but `shape` is flipped in a few cases.

[code]

So for Block `len(b) == b.shape[0]`, 1-dim NonConsolidatable (and ScalarBlock) behave as expected, but 2-dim have `len(b) == b.shape[1]`.  Ditto `SparseBlock` (a try/except notwithstanding).

What's the internal logic here?

[2018-10-07 15:35] SamWheating commented on #22448
Hi, I've started investigating this and noticed that the same can be seen on [the docs for DataFrame.to_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html).

I'll start looking into the document generation process as suggested.

[2018-10-07 16:50] jbrockmendel opened #23026 "Block.copy `deep` kwarg consistency"
`Block.copy` is _almost_ identical to `DatetimeTZBlock.copy`.  I'm wondering if the difference is intentional.

Block
[code]

DatetimeTZBlock
[code]

If we can pass `deep=True` to `values.copy` in `Block.copy`, we can get rid of `DatetimeTZBlock.copy`.

[2018-10-07 16:51] Arumugapandian opened #23027 "Grouping Issue and gspread U"
Hello Everyone,

Kindly find the image below represents the required input data and output requirement of my study.
![capture](https://user-images.githubusercontent.com/43292227/46584127-13fef980-ca7d-11e8-95b2-25ffc30e42ac.PNG)

I am using Pandas data frame to achieve my output requirement. Facing two major issues to find the solutions for my output sheet.
1. Grouping data-frame is working proper

[2018-10-07 16:54] jbrockmendel opened #23028 "__finalize__ consistency DataFrame vs SparseDataFrame"
SparseDataFrame arithmetic (and some comparison) ops call `.__finalize__(self)` before returning.  `DataFrame` ops do not.  Is this intentional?

[2018-10-07 19:33] asishm commented on #17406
@jreback Just my view, but there are methods in pandas that return mutable objects, a notable one being `.str.split`. I would say that while having mutable objects at the start/end of a pipeline may be an antipattern, but it definitely shows up in intermediate steps. I can't think of any other use-cases right now, but a lot of NLP tools (word embeddings, tokenizers) etc. do return mutable objects

[2018-10-07 19:34] philiphoyos opened #23030 "mssql pandas.DataFrame.to_sql AttributeError: 'Engine' object has no attribute 'cursor'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above code should result in a new table in my mssql server, however, I keep getting the following error:

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-650-91f5074a4d45> in <module>()

[2018-10-07 21:46] #21489 closed

[2018-10-07 22:35] #20636 closed

[2018-10-07 22:38] #22686 closed

[2018-10-08 00:44] KristianHolsheimer opened #23033 "Problem with nlargest / nsmallest on dataframes with MultiIndex columns"
#### The Problem
The `nlargest` / `nsmallest` functionality is broken when applied to dataframes with `MultiIndex` columns. For example:

[code]

This raises an error because the multi-level lookup `('x', 'a')` is interpreted as a list of column names `['x', 'a']`.

This is a problem, because this behavior is inconsistent with the usual multi-level lookup behavior.

#### Output of ``pd.show_versio

[2018-10-08 00:45] KristianHolsheimer commented on #23033
This is solved in PR #23034

[2018-10-08 01:15] vograno opened #23035 "memory leak in MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

this program leaks at a rate of 191 MB / cycle; it eventually runs out of memory if the loop goes on indefinitely.
In the program we use a bool vector to subset a dataset. If the dataset index is MultiIndex we observe a memory leak (as reported by the print statement). If the index is a regular mono-index no su

[2018-10-08 03:48] #23027 closed

[2018-10-08 03:49] WillAyd commented on #23027
This board is used for bug reports and enhancement requests. For usage questions you are better off asking on SO or Gitter

[2018-10-08 04:17] Arumugapandian commented on #23027
Thanks for your response

[2018-10-08 06:23] tonytao2012 opened #23037 "BUG: Concatenating DataFrames with NaT TZ Timestamps results in incorrect dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Concatenating a DataFrame containing NaT with a tz specified with another DataFrame containing an actual date with tz specified results in an object dtype instead of the expected datetime64[ns, UTC] dtype.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
pyth

[2018-10-08 08:01] joh opened #23040 "ValueError: module functions cannot set METH_CLASS or METH_STATIC"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

If I import pyplot before pandas, I get the following error:

[code]

If I re-order the imports so that pandas is imported first, the error disappears. Not sure if this is an issue with pyplot or pandas, but the exception seems to come from within pandas.

#### Expected Output

#### Output of ``pd.show_versions

[2018-10-08 08:01] gwerbin commented on #9435
Still open?

On 0.23.4:

[code]

[2018-10-08 09:14] rotuna commented on #22993
Hi,

I would like to do this.

[2018-10-08 09:34] aliobeid commented on #22840
correlation a commutative operation i.e. corr(a,b)=corr(b,a). Calculating anything other that a triangle does not make any sense

[2018-10-08 09:51] aliobeid commented on #22840
Pearson correlation is commutative i.e. corr(X,Y) = corr(Y,X). It makes no sense to calculate anything other than one of the triangles

[2018-10-08 11:15] adamshamsudeen commented on #21685
Is this issue still open?

[2018-10-08 11:28] adamshamsudeen commented on #21685
@TomAugspurger I couldn't replicate this issue as df.duplicated does not support retrun_inverse now?

[2018-10-08 11:31] TomAugspurger commented on #21685
@h-vetinari do you know if the original issue has been addressed, and if so which issue fixed it?

[2018-10-08 12:32] TomAugspurger commented on #22224
We also set `subdtype` on the base `PandasExtensionDtype`, but don't use it anywhere. That seems to be mirroring https://docs.scipy.org/doc/numpy/reference/generated/numpy.dtype.subdtype.html, which I don't really understand.

We should first agree on what exactly this thing (call it `subtype` for now) is supposed to mean.

- `IntervalDtype`: the dtype used for the `left` and `right` arrays
- `Spa

[2018-10-08 12:52] jorisvandenbossche commented on #21720
As also commented on the PR, there is a similar difference between `unique` and `factorize`:

[code]

Factorize treats them all as identical (since it needs to substitute all missing values with -1), while unique treats them as separate values.

`unique` still takes a different code path than `Series.duplicated` from the original post (`Series.duplicated` is implemented through `pd.core.algoritms.

[2018-10-08 13:09] gfyoung commented on #9435
@gwerbin : Indeed, this is an open issue.

[2018-10-08 13:10] jorisvandenbossche commented on #22224
But this is not what you listed for all dtypes, so maybe we should not have a *single* name. Eg for intervals, even if numpy supported interval dtype, this would not be the same dtype as the interval bounds itself (the same for period).
And for categorical, you have the dtype of the codes, and the dtype of the categories.

So maybe we shouldn't standardize too much. `numpy_dtype` could also be kep

[2018-10-08 13:31] TomAugspurger commented on #23037
I think the issue is in the DataFrame constructor?

[code]

That said, there's no way for the constructor to infer `datetime64[ns, UTC]` as the correct dtype. You would need `df1 = pd.DataFrame([[ts1]], dtype='datetime64[ns, UTC]')`

[2018-10-08 13:53] #22930 closed

[2018-10-08 13:59] TomAugspurger commented on #22224
Yes, you're correct... So if we can't pin down the concept we're expressing
here, standardizing won't be that useful.

On Mon, Oct 8, 2018 at 8:10 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-10-08 14:08] neelpuniwala opened #23043 "DataFrame.rename() function not throwing Error when non existing column pass in dict"
#### Code

[code]
#### Problem description

the current behaviour of code is accepting any rename column dictionary. If rename column found in DataFrame, code renamed it but if rename column not found,Ideally, it should throw **KeyError**. Function will become more robust .

#### Expected Output

KeyError: 'C'

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------

[2018-10-08 14:56] TomAugspurger commented on #23043
Duplicate of https://github.com/pandas-dev/pandas/issues/13473

The current behavior is sometimes useful. We'd be happy to have an `errors` keyword to control how missing keys should be handled.

[2018-10-08 14:56] #23043 closed

[2018-10-08 15:06] zhezherun commented on #21353
I also noticed a memory leak in `read_csv` and ran it through valgrind, which said that the result of the `kset_from_list` function was never freed. I was able to fix this leak locally by patching parsers.pyx and rebuilding pandas.

@gfyoung, could you please review the patch below? It might also help with the leak discussed here, although I am not sure if it is the same leak or not. The patch
- M

[2018-10-08 15:06] vss888 commented on #23012
This logic does not make any sense to me for n=0. It makes sense to skip weekend if n=1, but not not if n=0. Zero means zero, i.e. adding it should not change the input: a+0==a.

In your logic, zero is zero on weekdays, but it is one on weekends.

[2018-10-08 15:09] krivonogov opened #23045 "to_datetime can unexpectedly return numpy array instead of DatetimeIndex"
In pandas>=0.23.0
[code]
returns
[code]
while when using pandas==0.22.0 everything is fine and returns
[code]

More precisely, the behaviour of `pandas._libs.array_to_datetime` have been changed between 0.22.0 and 0.23.0:
[code]
gives
[code]

#### Expected Output
the same as it was in pandas==0.22.0
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
com

[2018-10-08 15:50] gfyoung commented on #21353
@zhezherun : That's a good catch!  Create a PR, and we can review.

[2018-10-08 16:13] vkk800 opened #23046 "Some [source] links in the documentation point to _decorators.py"
In the Pandas documentation pages, some [source] links of the functions don't point to the actual implementation of the function, but to `pandas/util/_decorators.py`, presumably because some of the decorators there have been used on the function in question and this messes up the doc generation somehow.

For an example, see the documentation of [DataFrame.astype](https://pandas.pydata.org/pandas-d

[2018-10-08 16:29] h-vetinari commented on #23018
@pambot Great!

[2018-10-08 16:36] h-vetinari commented on #21685
@TomAugspurger @adamshamsudeen

The issue is neither outdated nor closed, though I guess I should really separate the proposal that:
1. `.reindex` should raise when contradicting `labels`/`index` are passed
1. the idea (inspired by the reconstruction problem in #21645) to allow passing *separate* values `labels`/`index` to `.reindex`

The first one is the one that @adamshamsudeen can easily tackle

[2018-10-08 16:43] h-vetinari commented on #23009
@pambot
There was time pressure for #20347 before `v0.23.0rc` and a few things did not get fully discussed. Had I known that `is_listlike(<set>) = True`, I would have excluded it specifically.

In fact, I'm struggling to think of a use-case in pandas where the order is irrelevant - it's a different (and larger) discussion whether that aspect of `is_listlike` should maybe be changed, but it should

[2018-10-08 17:02] asishm commented on #10018
the `csv` library defaults do quote the carriage returns with `quoting=0` (or `csv.QUOTE_MINIMAL`

The issue (as pointed above) is because the `to_csv` method sets the `line_terminator` to `\n` by default [[1]](https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py#L9513). Instead can it not be set as `None` in both the `to_csv` method and the underlying `CSVFormatter` object [[2]

[2018-10-08 17:12] h-vetinari commented on #22763
Speed has increased again recently. Down from ~30min average to ~20min.

[2018-10-08 17:29] jolespin commented on #22832
I ended up doing this a quick fix for version stability.  I wasn't sure what the problem was at first from the error message.  I ended up doing this which is compatible with both versions:

## pandas v0.23.4
[code]
## pandas v0.22.0
[code]

[2018-10-08 17:42] h-vetinari commented on #22824
@jorisvandenbossche @TomAugspurger @jreback @WillAyd

I wanna pick this up again, please, and need your feedback. In addition to the points mentioned directly above, there's another important point:
* the utility of / need for `return_inverse` is not in question AFAICT
* we already had some discussion about the return type of `return_inverse` in #21645, and I'll make the case again that:
  * the i

[2018-10-08 17:47] h-vetinari commented on #23018
@pambot
It was not my idea but @jreback's. I opened this issue to record that review feedback for someone else, because I don't know how to tackle setting up custom linting rules...

Any tips for @pambot, @TomAugspurger @datapythonista, maybe?

[2018-10-08 17:52] h-vetinari commented on #22676
@ArtyomKaltovich

Sorry for the late reply, no reason you shouldn't tackle it!

[2018-10-08 17:59] h-vetinari commented on #21720
@jorisvandenbossche

The difference between `unique` and `factorize` is documented, at least, although I don't know what exactly `factorize` is used for, and whether those two functions should maybe be married like I'm suggesting in #22986 with `ignore_na`.

(The discrepancy for `unique` has at least no direct bugs like here for `.duplicated` - `df.unique` does not exist and `pd.unique` doesn't ha

[2018-10-08 18:01] TomAugspurger commented on #23018
You may want to wait till https://github.com/pandas-dev/pandas/pull/22854 and https://github.com/pandas-dev/pandas/pull/22863 are in before working on this too much, since those are changing up the linters. I would also wait for some consensus on what we want these import rules to look like.

Finally, I think @alimcmaster1 has some plans for a larger import *order* refactor using isort. That will

[2018-10-08 18:02] TomAugspurger commented on #23018
On this issue in particular, I don't have strong preferences.

* I prefer `tm.assert*` over `assert*`
* I slightly prefer `pd.` rather than directly importing top-level things in the test files

[2018-10-08 18:05] TomAugspurger commented on #23040
I'm also not able to reproduce.

@joh how did you install pandas and matpltolib?

[2018-10-08 18:15] WillAyd commented on #23030
Hmm any chance this is of use?

https://stackoverflow.com/questions/38332787/pandas-to-sql-to-sqlite-returns-engine-object-has-no-attribute-cursor

[2018-10-08 18:20] h-vetinari commented on #23018
@TomAugspurger

Thanks for the infos/feedback.

Re:

there might be good reasons for having different rules between `pandas/core` and `pandas/tests`, but in the former, it's almost exclusively(?) direct imports.

[2018-10-08 18:23] WillAyd commented on #23015
Good to know about pyenchant and the long term maintenance of it, but does installing the enchant C library as noted in the `ImportError` resolve the issue for you?

[2018-10-08 18:23] TomAugspurger commented on #23030
[code]

I don't think you should be reaching that line of code. That's only meant for a sqlite database, not mssql. I'd recommend digging around in that call stack to see where things go wrong.

[2018-10-08 18:25] TomAugspurger commented on #23018
Correct. Inside pandas (not tests) we'll often use direct imports if only
to avoid circular imports.

On Mon, Oct 8, 2018 at 1:20 PM h-vetinari <notifications@github.com> wrote:

[2018-10-08 18:28] WillAyd commented on #23006
Please refer to the contributing guide on effective bug reports:

https://pandas.pydata.org/pandas-docs/stable/contributing.html#bug-reports-and-enhancement-requests

There isn't enough info here to debug (mainly missing `pd.show_version()` but my assumption is that you are using openpyxl <= 2.4 which will hit the branch in code with the call to `remove_sheet`.

If that's not the case please reope

[2018-10-08 18:28] #23006 closed

[2018-10-08 18:29] vkk800 commented on #23046
Now that I understand the problem, using `functools.wraps` definitely seems like a way to go. I'm not familiar with pandas codebase, but I will still try to take a look in the next few days.

[2018-10-08 18:32] MatanCohe commented on #23015
No, as I've come to understand pyenchant require an older version of the package (1.6 I think).

[2018-10-08 18:32] WillAyd commented on #23046
This may have some other benefits as well like improved tracebacks. Not sure if we've ever done an audit of decorators in the code base to see what is using wraps or not but would be interesting

[2018-10-08 18:39] WillAyd commented on #23015
Hmm OK it appears that Windows / OSX users get a pre-built version of the library to go with the binaries:

https://github.com/rfk/pyenchant#how-do-i-use-it

Not sure specifically how Arch manages the packages here but this thread might provide you some insight:

https://github.com/rfk/pyenchant/issues/125

[2018-10-08 18:42] dhimmel opened #23047 "Possible memory leak in MultiIndex equals function"
l am running a large computation, which is experiencing a memory leak that appears to be occurring in Pandas version 0.23.4. In total, the computation performs a large number of inner loops (it had performed ~85,000 when I stopped it due to ~50GB memory usage). At each inner loop, pandas reads a pickled dataframe labeled `running_df`, add-assigns the newly-computed `multiindex_df`, and saves the u

[2018-10-08 18:44] TomAugspurger commented on #23046
I vaguely recalled a discussion about functools.wraps breaking something.
Perhaps I'm thinking of https://github.com/pandas-dev/pandas/issues/13875
(something doesn't work properly on Python 2, which we don't care about
much these days).

On Mon, Oct 8, 2018 at 1:32 PM William Ayd <notifications@github.com> wrote:

[2018-10-08 19:13] #22458 closed

[2018-10-08 19:37] alimcmaster1 opened #23048 "Use isort for standardizing import formatting"
@TomAugspurger kindly pointed out on this [PR](https://github.com/pandas-dev/pandas/pull/22913) that we could be using [isort](https://pypi.org/project/isort/) for formatting imports and have a standardized approach across the codebase.

I will draft up an initial config based on the rules used in [dask-ml](https://github.com/dask/dask-ml/blob/master/setup.cfg) and the comments from @jbrockmendel

[2018-10-08 19:45] TomAugspurger commented on #23048
+1 on the general idea of standardizing.

I don't have any preferences on the style of the imports, beyond separating

* stdlib
* 3rd party
* pandas

into three sections.

In the past we've always used absolute imports. I find relative imports slightly nicer to work with. If we want to change to relative, now is the time to do it.

On the process, I think the first step (after agreeing on a config

[2018-10-08 19:50] jbrockmendel commented on #23048
@alimcmaster1 if its convenient to configure isort to order pandas-internal imports by dependency structure that'd be great, but don't go too far out of your way.  I think I'm the only one who makes a point of it.

[2018-10-08 20:17] TomAugspurger commented on #23007
I think `by=array` should essentially behave the same as assigning that array to a column and taking passing the column name to `by`.

[2018-10-08 20:22] TomAugspurger commented on #22957
FYI, I suspect that all the PeriodIndex ones will be solved by #22862 (which will be in 0.24)

[2018-10-08 20:26] TomAugspurger commented on #22911
Ah, in that case I think that https://github.com/pandas-dev/pandas/issues/17211 may cover everything you're asking for here. Can you confirm?

[2018-10-08 20:34] gwerbin commented on #9435
I see.

That bites. Is test coverage good enough in this area that this can be fixed without a big refactor?

[2018-10-08 20:42] filpia opened #23049 "Fatal Stack Overflow Stemming From Misuse of astype('category')"
#### Code Sample

[code]
#### Problem description

As evidenced above, I hit a stack overflow from an error on my end when attempting to cast a column that appears twice in a DataFrame from a careless `pd.concat(, axis=1)`. This error led to a fatal stack overflow error that kills the Python session with the following error...

[code]

#### Expected Output

Informative error, not a fatal.

<detail

[2018-10-08 20:45] kbhutani0001 commented on #22911
Not really, I am proposing a parameter to string methods so that they can
be applied to data frames directly too. It has nothing to do with .astype()
.astype() is a part of it since the whole data would be converted to str
before applying string operation and back to orignal data type again.

On Tue, 9 Oct 2018, 1:57 am Tom Augspurger, <notifications@github.com>
wrote:

[2018-10-08 20:48] kbhutani0001 commented on #22911
Many methods, for example zfill()
Doesn't have a practical use on a string series. Why'd someone put some
zeroes to a string. In 90% of cases, it is a numeric series which they
convert to string and then apply the method and convert to int back again.
Similarly many methods like this are restricted to string use only and
doesn't have much of a practical use.

Knowing that, if there is an option to

[2018-10-08 20:50] TomAugspurger commented on #22911
That discussion moved on from `.astype` to a more dedicated `.format` method

On Mon, Oct 8, 2018 at 3:48 PM Kartikay Bhutani <notifications@github.com>
wrote:

[2018-10-08 20:54] dpalamuri opened #23050 "Pandas DataFrame groupby().Size() giving 'Value Error : Length of passed values is 65, index implies 0'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The Above code is giving 'Value Error : Length of passed values is 65, index implies 0'
I'm trying to identify unique/duplicate rows by grouping by all of the columns in Data Frame.

(Attached the text file here).
[Process Log 2 Week_2.txt](https://github.com/pandas-dev/pandas/files/2457757/Process.Log.2.Week_2.

[2018-10-08 21:05] gfyoung commented on #9435
It should be.  The problem is that there are a bunch of failures once that happens.

[2018-10-08 21:07] jreback commented on #23018
just to be clea
this is really aimed at the test files
we may extend this to the code itself at a later point

[2018-10-08 21:21] #22476 closed

[2018-10-08 22:44] math-and-data commented on #23050
The problem are the NA entries in your dataset. Each row in your dataset has at least one NA somewhere. When you apply .groupby to NA entries, it wouldn't know how to group NAs.

[2018-10-08 23:12] WillAyd commented on #23050
Something does appear off here. If you can make your example self-contained (i.e. replicates the issue without an external file) would be much easier for someone to take a look at.

[2018-10-08 23:13] WillAyd commented on #23049
Interesting but I got a recursion error here instead; can you confirm you get this behavior on master?

[2018-10-08 23:43] araraonline commented on #22957
Thanks, will take that into account (:

[2018-10-09 00:02] jschendel commented on #23013
Yes, modifying the `IntervalArray` checks as needed should work.  It might be more straightforward to put in checks that verify that the endpoints are valid types (numeric, timestamp, timedelta) than to have a series of checks that try catching invalid types.  Either way should work though.

[2018-10-09 01:01] jbrockmendel commented on #23028
Related: it looks like a lot of these are written under the assumption that columns are unique.  Is that a convention for SparseDataFrame?

[2018-10-09 02:52] bvanderhaar opened #23053 "pandas/io/feather_format.py should call use_threads instead of nthreads to prevent breakage in pyarrow 0.11.0"
#### Code Sample

[code]
#### Problem description
Pandas introduced nthreads for reading feather files in issue [16359](https://github.com/pandas-dev/pandas/issues/16359)

With PyArrow 0.10.0 a deprecation warning is shown from [this source](https://github.com/apache/arrow/blob/master/python/pyarrow/util.py): "`nthreads` argument is deprecated, pass `use_threads` instead"

When PyArrow version 0.1

[2018-10-09 03:00] TomAugspurger commented on #23053
AFAICT, pyarrow doesn't have nightly builds we can test against, so I'm not sure what the best way to test this is. Will probably just have to be manual until 0.11 is released.

[2018-10-09 03:16] bvanderhaar commented on #23053
Hmmm, well it's in [PyPi](https://pypi.org/project/pyarrow/) but the mailing list only indicates [its an RC](http://mail-archives.apache.org/mod_mbox/arrow-dev/201810.mbox/%3CCAJPUwMDC-hxg5FPLs_Cnq6KaxiATsFci%3D90bEjeN%2B0nhaSmg-A%40mail.gmail.com%3E).

I've been waiting on a fix for another issue to be fixed with 3.7, so I may be one of the first to the punch on trying it out.

[2018-10-09 05:50] ctivanovich opened #23054 "to_datetime followed by update on column ruins data type and formatting"
Before transformation of birthday entries stupidly recorded as floating-point values by company partner:
[code]
After I apply the following code to non-null values:
[code]

Great, exactly what I want. But, when I go to update the dataframe with these lovely date values:
`df_backup.birthday.update(pd.to_datetime(df.birthday[~df.birthday.isnull()].astype(int).astype(str), format="%Y%m%d"))`, the bir

[2018-10-09 06:19] jorisvandenbossche commented on #23054
Can you provide a small reproducible example?

[2018-10-09 06:30] jorisvandenbossche commented on #23045
I also don't see it for 0.23.4 on my laptop, so it might also be related to other factors (eg numpy version, python version. I was using python 3.5 with numpy 1.13 for both master and 0.23.4)

[2018-10-09 09:09] krivonogov commented on #23045
Sorry, I didn't specify it in the first place, but I was using python 2.7.12. I tested it on other machine (always with python 2.7.12) and had the same result. However, I haven't tested on master yet.
<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.12.final.0
python-bits: 64
OS: Darwin
OS-release: 17.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG:

[2018-10-09 10:48] jreback commented on #22957
so this is tested independently (though i suspect it’s not fully tested for a cartesian product of Indexes)

look at Index.append (and subclasses of Index)

[2018-10-09 12:15] dinya opened #23055 "Converting None values with pandas.to_datetime is unpredictable"
Why does ``pandas`` convert ``None`` values in the different ways for ``to_datetime`` (unpredictable) and ``to_numeric`` (predictable)?

[code]

returns

[code]

due to https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/core/tools/datetimes.py#L382

Why not ``pd.to_datetime(None) is pd.NaT`` by design?

See also [original post at stackoverflow](https://stackoverflow.com/questions/52720322/co

[2018-10-09 12:30] k-aziz opened #23056 "Inconsistent behaviour of read_csv() between python and c engine with null values."
#### Code Sample

Using pandas v0.23.4

test.csv file

[code]

[code]

The c engine is used here.
[code]
#### Problem description

When using dtype to convert a column to string, the empty values are not shown to be null when running df.isnull() if the python engine is used with read_csv().

This is inconsistent with the c engine which I believe has the correct behaviour of identifying these value

[2018-10-09 12:54] #20699 closed

[2018-10-09 12:59] TomAugspurger opened #23057 "Make default xfail strict"
Pytest let's you configure the default xfail strictness in the `setup.cfg`

[code]

This issue is to

1. Make that change
2. Update tests that are currently XPASSing
    - If always passing then remove the xfail entirely
    - If only sometimes passing (flaky test, dependency, configuration, etc.) then mark that specific test as `strict=False`.

cc @jbrockmendel @jreback

[2018-10-09 13:11] kaushik94 commented on #23057
Hi, I am a beginner looking to contribute to pandas. Would like to learn a bit from this issue, can I take this up?

[2018-10-09 13:17] TomAugspurger commented on #23057
Sure.

I would run something like `pytest pandas -ra` which should print out all the tests that xfail and xpass. From there, you can go to the individual tests that are xpass and figure out what needs to be done.

Also, there look to be ~100 xfail tests (not sure how many are not strict). If there are too many then feel free to do fixes in batches and just fix a subset of the files.

[2018-10-09 13:19] kaushik94 commented on #23057
Ok, sounds good. Will check it out and get back to you soon.

[2018-10-09 13:45] frexvahi opened #23058 "np.random.permutation(DatetimeIndex) modifies argument in numpy 1.15"
I'm not sure whether this counts as a numpy bug or a pandas bug

#### Code Sample

[code]
#### Problem description

The behaviour with numpy 1.14 is correct - the original index is not modified. In numpy 1.15 the original index is modified and the `assert_index_equal` will fail.

When passing numpy arrays to `np.random.permutation` the input is not modified in either numpy version, this means that

[2018-10-09 14:00] cbertinato opened #23059 "misrepresented fractional seconds in timestamps and timedeltas"
#### Code Sample

[code]

However, this works:
[code]
#### Problem description

Depending upon the value of the float to be converted to a timestamp or timedelta and on the unit, the resulting timestamp and timedelta will occasionally misrepresent the fractional part of the input float.

#### Expected Output
`Timedelta('17247 days 14:40:30.8')`
#### Output of ``pd.show_versions()``

<details>

[pa

[2018-10-09 14:10] xhochy commented on #23053
`pyarrow` has nightly conda packages on the twosigma channel.

`pyarrow==0.11` is released so you can use it to test against it. We're missing Python 3.7 wheels at the moment but at least for Linux, these will appear in the next days.

[2018-10-09 14:16] TomAugspurger commented on #23053
From https://anaconda.org/twosigma/pyarrow/files?sort=time&sort_order=desc,
it looks like nightlies stopped being uploaded a few months ago.

Is @cpcloud the right person to ping here?

On Tue, Oct 9, 2018 at 9:11 AM Uwe L. Korn <notifications@github.com> wrote:

[2018-10-09 14:28] cbertinato commented on #23059
The root of the issue goes back to `cast_from_unit` in https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/timedeltas.pyx#L275, so it could very well affect other types.  This is a classical case of representation error, but I think that we should represent the fractional second that was intended.

One thought is to use the decimal module here:
[code]
It does the job, but there is

[2018-10-09 16:39] h-vetinari opened #23061 "API: set should not be considered list_like"
The name of the function `is_list_like` from `pandas.core.dtypes.common` suggests that whatever gets `True` returned will be "like a list". As such, it's used in a handful of places - e.g. I got asked to use it in #20347, and now again in #22486. What I found out in the latter one is that it's true for sets:

[code]

This has some uncomfortable consequences - for `str.cat` it's a bug (#23009), and

[2018-10-09 17:18] GuiMarthe commented on #16337
How is the deprecation status of the tuple naming method that @bridwell mentions?
Will it continue to be supported?

[2018-10-09 17:49] TomAugspurger commented on #23061
FWIW, changing these `is_*` in the past have led to us breaking user-code. I don't think it's possible to have a high-level `is_list_like` that does the right thing in for every use case.

[2018-10-09 18:41] #22796 closed

[2018-10-09 19:03] jbrockmendel opened #23063 "BUG: TimedeltaIndex == integer raises TypeError"
[code]

[2018-10-09 20:06] mroeschke commented on #23063
Is the expected behavior to coerce the numeric to seconds/nanoseconds and compare?

[2018-10-09 20:16] mroeschke commented on #23059
Maybe an artifact of https://github.com/pandas-dev/pandas/pull/19732 that was chalked up to floating point precision errors. We have a related warning here: https://pandas.pydata.org/pandas-docs/stable/timeseries.html#epoch-timestamps

It would be great to have a more precise calculation here, but the performance impact of using `Decimal` is not too attractive.

[2018-10-09 20:47] jschendel commented on #23061
I imagine this issue extends beyond just `set`, e.g. `dict` is considered list-like too:
[code]
Quickly reading over the associated issues, it looks like what you want is to basically place an additional restriction on `is_list_like` so unordered objects return `False`?  Given that `is_list_like` relies on [`collections.abc.Iterable`](https://docs.python.org/3/library/collections.abc.html#collecti

[2018-10-09 20:58] mpeleshenko opened #23064 "DataFrame merge significantly slower in Python 3.6 and 3.7"
#### Code Sample, a copy-pastable example if possible

<details>

[code]

</details>

#### Problem description

Pandas DataFrame merge is much slower on Python 3.6 and 3.7 as compared to Python 3.5 for some merges. I tried drilling through the merge method to find the lines where line_profiler was showing a lot of time being spent and I got to `pd.core.algorithms.take_nd`. I tried running some of

[2018-10-09 21:08] jbrockmendel commented on #23063
For equality checks it should come back as not-equal.  Inequality checks should raise TypeError.

[2018-10-09 21:40] h-vetinari commented on #23061
Added a first draft of a PR in #23065. Happy to add `dict` (with `PY35`) to the list of excluded types for `strict=True`.

[2018-10-09 21:41] TomAugspurger commented on #23061
I don't think that's a good idea. In the past changing these have led to surprising breaks in user code. These checks are used all over pandas, so it's hard to predict the ramifications of changing one.

If a user has a set-like object, then what would they do when they see that warning cropping up from their object?

I think if the caller needs to know that the collection is ordered, then they sh

[2018-10-09 22:12] h-vetinari commented on #23061
@TomAugspurger
* It's not a breaking change
* I've hunted down all the places where it's used internally
* No tests break

They're not gonna see it from pandas, unless they `from pandas.core.dtypes.common import is_list_like`. And then, the warning tells them that sets will not be considered list-like in the future unless `strict=False` is specified. Can't see how this is ambiguous...?

[2018-10-09 22:16] TomAugspurger opened #23066 "hash_pandas_object on ExtensionArray-backed Series fails with TypeError"
[code]

[code]

Options

1. convert to object before hashing
2. add some kind of `_hash_values` to the interface. But, how do we prevent hash collisions between similar, but different EAs? For example, the fastest hash for a `PeriodArray` would be to just hash the ordinals. But we wouldn't want the following two to hash identically (using my PeriodArray branch)

[code]

So we need to mix the dtype

[2018-10-09 22:20] WillAyd commented on #23056
Closing as a duplicate of #21131

[2018-10-09 22:20] #23056 closed

[2018-10-09 22:21] WillAyd commented on #23055
Personally not sure if there's a history to this but maybe @jbrockmendel knows

[2018-10-09 22:28] TomAugspurger commented on #23066
Hmm, maybe we just don't care about different dtypes having the same hashed values (which is perfectly fair)

[code]

[2018-10-09 22:49] jreback commented on #23066
iirc ther is an issue about the datetime hashing from a while ago

[2018-10-09 23:50] jbrockmendel commented on #23055
I'm not aware of any reason for this.  Its also inconsistent with a couple of other construction methods:

[code]

@dinya a PR to fix this would be welcome.

[2018-10-10 00:07] araraonline commented on #22957
Will take a look. Also believe that some of the errors are raised from functions like Index.union and Index.difference.

[2018-10-10 01:11] mroeschke commented on #23055
`to_timedelta` could use this change as well:

[code]

[2018-10-10 01:58] Code-ReaQtor opened #23067 ""skiprows" should ignore "comment""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`ParserError` when reading CSV files with comments at the beginning of the file. Line count of comments varies.

Objective:
- Ignore comments
- Ignore the first 4 lines that are not comments

This happens when reading a CSV file similar to the following
[code]

#### Expected Output

The comment lines should not

[2018-10-10 04:19] JustinZhengBC commented on #23067
This appears to be intended behaviour, as the description for skiprows at the [read_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) documentation says assigning a number to skiprows causes it to skip that many lines "at the start of the file." There is also at least one test that demonstrates this:

https://github.com/pandas-dev/pandas/blob/7829ad3290dc6894d24c1c8

[2018-10-10 04:30] Code-ReaQtor commented on #23067
@JustinZhengBC Thanks for referencing the test.

Will there be an option to ignore the **comment** lines from the **skiprows**? The use case is to work with files with arbitrary count of comments and to ignore the first **X** non-comment lines.

Thanks!

[2018-10-10 05:14] rneubig opened #23069 "pandas.Series.multiply documentation examples correction"
#### Code Sample, a copy-pastable example if possible

 Series.multiply(other, level=None, fill_value=None, axis=0)

    Multiplication of series and other, element-wise (binary operator mul).

...

Examples:

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64

a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

[code]
#### Problem descr

[2018-10-10 05:27] JustinZhengBC commented on #23067
If the data is clean, then you could always do ```df = pd.read_csv(URL, comment='#')[n:]``` to skip the first n rows. That doesn't necessarily work in this case due to the rows having an uneven number of elements, but that's a whole other issue.

[2018-10-10 05:44] maanukuttan opened #23070 "Pandas any() returning false with true values present"
#### Code Sample

[code]
#### Problem description

`df.any(axis=0)` behaves as expected. It returns True for both the columns, but `df.any(axis=1)` returns False for all the rows.
**Note**: A question with similar issue can be found [here](https://stackoverflow.com/questions/52732364/pandas-any-returning-false-with-true-values-present)

**Note**:  If you use `notnull` then we are getting the requi

[2018-10-10 07:33] #22875 closed

[2018-10-10 07:37] maajdl opened #23071 "operator overloading when a Pandas series contains objects (Pyomo Var or Expressions)"
### This inequality expression on a series triggers an exception:

[code]
##### When the types of the objects are as follows:
[code]
#### By contrast, this sum expression works perfectly:

[code]
since it returns a series of  Pyomo   _SumExpression
[code]
#### Note also that the following expression doesn't return an exception, but the result is unexpected:

[code]
as it returns a series of  False

[2018-10-10 07:39] Code-ReaQtor commented on #23067
@JustinZhengBC is it possible to move this to feature requests?

[2018-10-10 07:48] joh commented on #23040
I upgraded matplotlib to 3.0.0 via pip:

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.18.8-041808-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: en_US.UTF-8
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.4
pytest: 3.8.0
pip: 9.0.1
setuptools: 40.4.3
Cython: None
numpy: 1.15.2
scipy: 0.19.1
pyarr

[2018-10-10 11:09] TomAugspurger commented on #23040
@joh do you have the install log? Or can you reinstall pandas and matplotlib in a virtualenv and post the output? Something is going wrong with that C file.

[2018-10-10 11:43] #22578 closed

[2018-10-10 11:55] TomAugspurger commented on #23066
Looks like https://github.com/pandas-dev/pandas/issues/16372

So we have two issues

1. An extension point for EAs to determine how they're hashed.
2. How to avoid "collisions" between different dtypes (#16372)

Let's focus on the first issue here. I think EAs need some kind of way to say what values are hashed. Performance seems too critical to just `.astype(object)` here. So two options

1. A ne

[2018-10-10 12:03] TomAugspurger commented on #16372
I suppose it depends on what people are using the hashing for. Suppose I have hashed values `a` and a pandas object `x`.

1. `hash_pandas_object(x) == a`, then `x` *may* be the same as the object that originally hashed to `a`
2. `hash_pandas_ojbect(x) != a`, then `x` *is not* the same as the object that originally hashed to `a`.

To me, the most common use case is likely storing hashed values some

[2018-10-10 12:04] #22985 closed

[2018-10-10 13:05] TomAugspurger commented on #23071
I'm not familiar with pyomo, but they should probably implement an ExtensionDtype and ExtensionArray: http://pandas-docs.github.io/pandas-docs-travis/extending.html#extension-types

Binary ops between data frames / series with ExtensionArrays should be supported correctly on master.

[2018-10-10 13:06] TomAugspurger commented on #23071
I'm going to close this, since I don't think there's anything specific for pandas to do. If you or someone else implements an extension array for pyomo, we can add it to http://pandas-docs.github.io/pandas-docs-travis/ecosystem.html#extension-data-types

[2018-10-10 13:06] #23071 closed

[2018-10-10 13:10] TomAugspurger commented on #23070
Simpler repro:

[code]

[2018-10-10 13:14] TomAugspurger commented on #23070
Hmm, this seems wrong. We have mixed dtypes in https://github.com/pandas-dev/pandas/blob/362f2e2d8ca42418e65b9c4d20de2ff1bacdabb8/pandas/core/frame.py#L7142-L7143

so we set `numeric_only=True`.

Then we go down to https://github.com/pandas-dev/pandas/blob/362f2e2d8ca42418e65b9c4d20de2ff1bacdabb8/pandas/core/frame.py#L7196-L7199 and our `filter_type` is bool, so we select boolean data only.

[code

[2018-10-10 13:30] joh commented on #23040
@TomAugspurger I installed pandas and matplotlib in a virtualenv and discovered that I only get the error if  matplotlib is configured to use the GTK3Agg or GTK3Cairo backend.

[2018-10-10 13:35] TomAugspurger commented on #23040
Ah, hmm. This is beginning to sound like https://github.com/pandas-dev/pandas/issues/19706 but with a different error message.

None of the pandas or matplotlib devs are able to reproduce it :/

[2018-10-10 14:02] mpeleshenko commented on #23064
Interesting point. The order of columns in the left DataFrame changes on each run of Python >3.5. If I order the columns in the same alphabetical order before the merge, the timings between the different Python versions are roughly the same. In all of the cases the merged DataFrame has the same number of nulls for the one extra column added, int64_5, from the right DataFrame, so results seem to be

[2018-10-10 14:04] TomAugspurger commented on #23064
More likely there's a bug in pandas where out-of-order things take an (unnecessarily inefficient) path. But I'm not sure.

[2018-10-10 14:17] ceciliassis commented on #17132
Sorry for the late reply.  but i seam to have the same problem with INT indexes.
The code:
[code]

Whenever I use the *numpy* permutation the result goes wrong. I've tried shell, jupyter notebook and script.

Here's the output
![screenshot from 2018-10-10 11-15-59](https://user-images.githubusercontent.com/9968803/46742697-f8167600-cc7d-11e8-9b52-31c6dbda412b.png)

[2018-10-10 14:41] TomAugspurger commented on #18147
Things here seem to be mostly fixed. The only remaining one is things like Index.name

[2018-10-10 14:41] #18147 closed

[2018-10-10 15:58] TomAugspurger opened #23074 "Add base test for Series[ExtensionArray].sort_values with sort=False"
I had a bug in my `PeriodArray.sort_values` implementation w.r.t sorting.

Here's a generic test that would have caught it.

[code]

We could add that to `base/methods.py`. It may have to be skipped for some like Categorical, since they return a CategoricalIndex, and this would build an object index.

[2018-10-10 16:33] carlosdeoncedos commented on #19993
I have a similar issue, using Jupyter Notebook.

[code]

The output:

[code]

Expected output:

[code]

[2018-10-10 17:00] #22885 closed

[2018-10-10 17:12] datapythonista commented on #22896
@leeyspaul are you working on this? I don't think anyone else is finally working on it.

[2018-10-10 17:22] datapythonista opened #23075 "Remove unused asv directives and verify in the CI that we are not using them"
Some of the directives being used in our benchmarks (`asv_bench/benchmarks/`) are deprecated in asv. e.g. in `algorithms.py` each of the benchmark classes defines `goal_time` (e.g. https://github.com/pandas-dev/pandas/blob/master/asv_bench/benchmarks/algorithms.py#L18), but it looks like asv just ignores that: https://asv.readthedocs.io/en/stable/benchmarks.html#benchmark-attributes

We should upd

[2018-10-10 18:08] antomaly opened #23076 "Unclear documentation of inplace parameter for pandas.DataFrame.rename."
#### Problem description

The documentation for pandas.DataFrame.rename currently reads

The sentence "Whether to return a new DataFrame" suggests that setting this parameter to True means a new DataFrame will be returned. The parameter name "inplace" suggests that setting this parameter to True means a new DataFrame will **not** be returned, which is actually the case.

The only thing in the docu

[2018-10-10 18:36] TomAugspurger commented on #23064
Thanks for digging further on this! That's quite interesting that there'd be that large a performance difference between grouping dtypes (cc @jreback).

In theory yes, but I suspect that at the moment there will be copies (maybe always, maybe depending on the dtype).

[2018-10-10 18:44] jbrockmendel commented on #23075
Looks right to me.  @pv any thoughts on how best to handle this?  Would it make sense to implement these checks within asv?

[2018-10-10 20:56] TomAugspurger opened #23077 "Handle ExtensionArrays in Series.unstack / DataFrame.stack"
Here's a test for `Series.unstack`

[code]

We don't do so well right now. Just categorical passes.
[code]

No test for DataFrame.stack. In https://github.com/pandas-dev/pandas/pull/22862/files there's a WIP for stack that's based around `ExtensionArray._concat_same_type` instead of `.reshape`

[2018-10-10 21:07] TomAugspurger opened #23078 "comparison between two PeriodIndexes doesn't validate length"
[code]

This should raise.

Both `DatetimeIndex` and `TimedeltaIndex` do raise

[code]

[code]

[2018-10-10 21:08] TomAugspurger commented on #23078
cc @jbrockmendel

[2018-10-10 21:31] TomAugspurger opened #23079 "Refactor DataFrame.combine for datetimelike"
In DataFrame.combine, we handle datetimelike data special. https://github.com/pandas-dev/pandas/blob/296c251d0e2bd112d26b980f1798db14f264b664/pandas/core/frame.py#L5116

We attempt to pass a third argument to the combining `func`. This breaks things like

[code]

We could document that, but it still feels hacky. I'd rather that the `combiner` func infer whether an i8 conversion is needed.

xref ht

[2018-10-10 22:08] jorisvandenbossche commented on #23078
I think we had this before on other data structures (Index, Series ?) as well, at least I seem to remember something about it (long time ago, PeriodIndex might be an oversight). Only thing I can quickly find is https://github.com/pandas-dev/pandas/issues/12346

[2018-10-10 22:12] jorisvandenbossche commented on #23066
Also, `astype(object)` does not necessarily give you hashable values (eg won't be the case for geometries)

What would be the reason not to use `_values_for_factorize`? They already need to be hashable, and should be unique to the original data they represent (since they are round-trippable)

[2018-10-10 22:15] jbrockmendel commented on #23078
Should be fixed in the same pass as #21793.  Possibly also #19804, #19088, #23063.

[2018-10-10 22:40] ryankarlos commented on #22896
@datapythonista is this issue still open ? I would like to work on it if it is - otherwise, any other ones still open (most DOC issues seem taken) ?

[2018-10-11 00:47] jbrockmendel opened #23080 "DatetimeIndex._use_cached_range, _cached_range not reachable"
Because `freq._should_cache()` is always False.

My inclination would be to get rid of use_cached_range and cached_range (as opposed to enabling it)

[2018-10-11 01:02] jbrockmendel opened #23081 "Datetime/Timedelta/Period Index min, argmin, max, argmax have `axis` kwarg"
Presumably shouldn't, or at least should raise if non-None.

[2018-10-11 01:40] TomAugspurger commented on #23066
re-using _values_for_factorize should be fine.

[2018-10-11 01:45] jreback commented on #23064
so if you ``.sort_index(axis=1)`` on the left before you merge then the perf diff goes away.

the reason is

[code]

IOW the 2d takes are vastly more efficient because they can be done by consecutive copy rather than column by column. object columns in particular are inefficient because taking like this forces copies (to avoid aliasing the underyling data); numeric can just take view OTOH.

so thi

[2018-10-11 04:31] WillAyd commented on #23069
Makes sense - PRs are always welcome

[2018-10-11 04:32] WillAyd commented on #23076
Makes sense - PRs to improve documentation are always welcome

[2018-10-11 04:35] anjalibhavan commented on #23081
Hi, which script is this in? Which folder?

[2018-10-11 04:36] WillAyd opened #23084 "Improve doc/README.rst"
The README within the doc directory still makes a reference to rebasing, though current preferred method is to merge in updates from master. Additionally there is a reference to `python make.py build` which doesn't do anything by default.

Items here can certainly be improved for clarification to new contributors

[2018-10-11 04:42] anjalibhavan commented on #23081
Hi,
In which folder/file are these defined? And could you please provide some more detail?

[2018-10-11 06:58] datapythonista commented on #22873
@pambot did #22901 close this issue, or are there still more excepts to fix?

[2018-10-11 06:59] datapythonista commented on #22877
@NeuralFlux did #22907 close this issue, or is still work to do?

[2018-10-11 07:26] FukoH opened #23086 "It is not clear whether database connection need to be closed manually after calling pd.read_sql()"
The document does not mention it.

[2018-10-11 11:21] jreback commented on #22924
build works now, only 32-bit failing: https://travis-ci.org/MacPython/pandas-wheels/builds/439958108

[2018-10-11 11:21] #22924 closed

[2018-10-11 11:21] #22813 closed

[2018-10-11 11:31] jorisvandenbossche opened #23087 "Implement/dispatch unary operations for ExtensionArrays"
xref https://github.com/pandas-dev/pandas/pull/22325/files#r220580694

unary ops are not implemented by EAs and also not dispatched to EAs:

[code]

[2018-10-11 11:33] rickhg12hs opened #23088 "Pandas Fails Test"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Test fails promptly.

#### Expected Output

All Tests passing

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
In [3]: pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Linux
OS-rel

[2018-10-11 11:41] #23066 closed

[2018-10-11 11:54] johnolos commented on #23053
We are seeing the same issue as tests were broken since pyarrow 0.11.0. Using `use_threads=True` seem to fix this issue for us.

[2018-10-11 12:04] TomAugspurger commented on #23053
@johnolos thanks. AFAIK, no one has submitted a PR updating pandas. If you could do so we'll include it in the next pandas release.

[2018-10-11 12:08] datapythonista commented on #22877
Thanks!

[2018-10-11 12:08] #22877 closed

[2018-10-11 12:09] TomAugspurger opened #23089 "DEPR: index argument to SparseArray"
It's out of place with the other array types, and not used in many places

[code]

[2018-10-11 12:18] krivonogov commented on #23045
I tried on master and I get yet another output (which however still doesn't match previous behaviour). BTW, everything works as expected on python 3.

[code]

<details>

INSTALLED VERSIONS
------------------
commit: ca7d518cba8e1c6ed96328fed8968afb23588077
python: 2.7.15.final.0
python-bits: 64
OS: Darwin
OS-release: 17.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: fr_FR

[2018-10-11 12:29] TomAugspurger commented on #23088
How'd you install pandas? It looks like you may have multiple versions installed in that environment.

[2018-10-11 12:46] jorisvandenbossche commented on #23078
So we indeed fixed this at a certain point of indexes in general: pandas.pydata.org/pandas-docs/stable/whatsnew.html#changes-to-index-comparisons

[2018-10-11 12:53] jorisvandenbossche commented on #16372
Yes, I agree with that (that is eg what joblib uses hashing for)

I am not familiar with how hash values are calculated. But would it be possible to somehow combine the hash of the dtype with the hash of the values?

[2018-10-11 12:59] jorisvandenbossche commented on #17132
@ceciliassis It's not directly clear what is wrong in your output, or how it is related to this issue. If you think there is a bug, please open a new issue.

[2018-10-11 13:04] randomgambit commented on #20492
Hello guys, as the original OP I would be happy to contribute here!

From what I see above, you want to get rid of the pd.Timedelta shift? But that is the essence of the question! and the solution proposed by @mroeschke in #20492 works like a charm!

Here is a variant

df = pd.DataFrame({'mytime' : [pd.to_datetime('2018-01-01 14:34:12'),
                             pd.to_datetime('2018-01-01 14:3

[2018-10-11 13:09] #22801 closed

[2018-10-11 13:18] jorisvandenbossche commented on #22824
I still don't see the point of unifying those two functions. For me, they have a clear different behaviour (and use case). `unique` gives you an array-like of the unique values in order of occurence, `drop_duplicates` is the more advanced method where you keep the index / can specify which duplicates to drop.

(personal use case: If I quickly want to check the unique values, I use `unique` (typica

[2018-10-11 13:56] jorisvandenbossche commented on #21720
Yes, it is true that for `unique` and `factorize` this is more or less expected/documented, while the `duplicated` is clearly a bug (it's just that is is coming from a same underlying difference in handling of NaN values)

[2018-10-11 14:09] Michael-E-Rose commented on #22648
Have upgraded to git 2.19 but the issue is still there.  This time I used GitHub for Windows:
[code]

[2018-10-11 14:14] jorisvandenbossche commented on #23045
What's the difference? That it is unicode?

---

Thanks for checking on the different python versions. So it is a python2.7 issue then.

[2018-10-11 14:14] jorisvandenbossche commented on #23045
Ah, sorry, that is is an Index instead of array, I see.

[2018-10-11 14:28] TomAugspurger opened #23092 "astype_nansafe int to float with copy=False produces incorrect result"
I haven't investigated this at all. Maybe it's expected

[code]

To whoever maybe fixes this in the future, `_sparse_array_ops` in `sparse/array.py` would like to use `copy=False` somewhere around

[code]

[2018-10-11 14:35] shuiyuejihua commented on #14858
not only multiple columns, but also one column.
`df.loc[df.id==123, 'num'].fillna(0, inplace=True)
`
don't work ,
but
`df.loc[df.id==123, 'num'] = 123
`
it works

why not edit the **fillna** function to adapt it  in the future.
It seems like a bug.

[2018-10-11 15:18] jbrockmendel commented on #23081
These methods are defined in pandas/core/indexes/datetimelike.py

DatetimeIndex/TimedeltaIndex/PeriodIndex are each 1-dimensional, so an `axis` argument doesn't really make sense.  Also it is ignored if the user passes it, which is pretty much never good.

It's conceivable that the argument is there in order to keep the method's signature consistent with some other class's methods, but someone mor

[2018-10-11 16:06] Carla08 commented on #23076
Is anyone working on this already? I'd like to take this as my first issue.

[2018-10-11 16:51] bnaul opened #23094 "Allow writing to GCS paths"
This is quite a bit simpler than #8508 since `gcsfs` allows for writing text-type blobs so I think it makes sense to track separately.

[2018-10-11 16:51] mroeschke commented on #23080
I am partial to removing it as well (and possible some related cruft in `tseries/offsets.py`. But there's also an issue about re-enabling caching: https://github.com/pandas-dev/pandas/issues/17914

[2018-10-11 18:00] rickhg12hs commented on #23088
[code]

[2018-10-11 18:04] TomAugspurger commented on #23088
output of pip list?

On Thu, Oct 11, 2018 at 1:00 PM rickhg12hs <notifications@github.com> wrote:

[2018-10-11 18:06] rickhg12hs commented on #23088
[code]

[2018-10-11 18:07] TomAugspurger commented on #23088
Strange. Are you able to reproduce in a new virtual environment?

On Thu, Oct 11, 2018 at 1:06 PM rickhg12hs <notifications@github.com> wrote:

[2018-10-11 18:38] rickhg12hs commented on #23088
Well, I've never created a virtual environment before and my first attempt failed.

[code]
There is no error with:

[code]

But I don't know how to install any packages without `pip`.

Can you help me with this?

[2018-10-11 18:52] rickhg12hs commented on #23088
... OK, I just copied the `pip` directory to the virtual environments `'lib/...` dir and installed all the test dependencies.  The tests are running now.  An improvement!

[2018-10-11 18:59] rickhg12hs commented on #23088
In the virtual environment, the tests completed with:
[code]

[2018-10-11 19:11] TomAugspurger commented on #23088
Since this works in a new env, I'm guessing it was an issue with the upgrade. Most likely pip or setuptools failed to remove or update a file from the old install. Not sure if it's a pandas or pip issue, but I'm inclined to just ignore it.

[2018-10-11 22:58] alexander-l-stone commented on #23084
Hey, I put in a PR with the git process updated. I am not sure it needs the command for setting the upstream, but I included it anyway.

[2018-10-11 23:32] ChrisSeattle commented on #23084
I tried to install based on the instructions in the doc/README.rst. Following the instructions from @alexander-l-stone helps move forward, but there seem to be additional errors in the "Building the documentation" section at this command:
```python make.py html ```
After installing dependencies I eventually got an error that Pandoc was not installed after it was just installed.

[2018-10-11 23:34] WillAyd commented on #23084
@ChrisSeattle tough to say from that alone. Could you post the traceback?

[2018-10-11 23:38] ChrisSeattle commented on #23084
I am in a pipenv.
[code]

[2018-10-11 23:41] WillAyd commented on #23084
We don't have instructions posted for pipenv. Should be possible though still tough to say without knowing more about your environment. I believe `sphinxcontrib.spelling` is a warning whereas the error at the end suggests you don't have Matplotlib installed in your virtual environment.

Have you tried the instructions on the more general contributing guide to set up your environment?

https://pand

[2018-10-12 00:34] jbrockmendel opened #23098 "CLN: commented-out code in TimedeltaIndex._partial_td_slice"
AFAIK this is the only dead code in the code-base

[2018-10-12 00:45] ryankarlos commented on #22896
@datapythonista Thanks. Just to clarify, I don't see a returns sections currently included in the to_stata docstring - did you want that added in presumably rather than modified ?

[2018-10-12 04:12] verascity commented on #23086
I think this is a good point. Maintainers, correct me if I'm wrong (I'm a new contributor), but I believe it does have to be manually closed. I had to search for a bit to verify that, though.

If confirmed, could I take on clarifying in the docs?

[2018-10-12 07:11] CalmDownKarm commented on #23086
If I understand correctly, you shouldn't need to manually close connections, sqlalchemy's create_engine() essentially handles connections through a connection pool automatically. calling dispose() on a create_engine()'d object will just replace it with an empty connection pool. [sqlalchemy docs](https://docs.sqlalchemy.org/en/latest/core/connections.html)

[2018-10-12 08:38] ryankarlos commented on #22896
Thanks, will do !

[2018-10-12 10:51] shuiyuejihua opened #23102 "pandas.pydata.org Display >pandas.DataFrame.sample"
####  pandas.pydata.org Display error
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

![image](https://user-images.githubusercontent.com/31531236/46865226-4af35780-ce4f-11e8-9a1e-e266829b5cc8.png)

the columns donnot match ,  should move to right

in Google Chrome, win 7 , laptop

[2018-10-12 11:07] jorisvandenbossche commented on #23102
@shuiyuejihua Thanks for the report!
The docstring seems to be rewritten in the meantime in the development version (see http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.DataFrame.sample.html), and it seems to be no longer an issue there, so closing this issue.

[2018-10-12 11:07] #23102 closed

[2018-10-12 11:32] 1kastner opened #23103 "Pandas PDF documentation: Last page has missing reference question marks"
#### Problem description

The last page of the pandas documentation (as a PDF) contains a broken reference in the `Python Module Index`, namely `pandas, ??`. Those two question marks don't belong there I guess.

See https://pandas.pydata.org/pandas-docs/stable/pandas.pdf

[2018-10-12 12:13] boldt opened #23104 "Reindex broken"
# MWE

[code]

# Run on colab

I created a colab for the MWE, which is based on pandas 0.22.0:

https://colab.research.google.com/drive/19uDE_H4AtpLaEL6INrRrDMXkdANsNr69#scrollTo=CzxuGppV26Rt

If you run it, you see at the output (if non is doubled randomly):

* 10x `left_only`
* 10x `right_only`

# Run with docker containers

Now, run the same MWE (located under `/tmp/tf/Bug.py`) in a two differe

[2018-10-12 12:18] jorisvandenbossche opened #23106 "API: IntegerArray reductions: data type of the scalar result?"
Follow-up on https://github.com/pandas-dev/pandas/pull/22762 which added `_reduce` to the ExtensionArray interface and added an implementation for IntegerArray.

Currently, for that IntegerArray we special case 'sum', 'min', 'max' to make sure they return ints (because the underlying implementation can be based on a float array, depending whether there are missing values).

https://github.com/pand

[2018-10-12 12:19] #21789 closed

[2018-10-12 12:19] #22346 closed

[2018-10-12 13:19] jorisvandenbossche commented on #23104
Can you indicate the version for which this is not working for you? (or for which it is working, and for which not) Use, `pd.show_versions()` (as was mentioned in the template)

I cannot reproduce it locally with pandas master

[2018-10-12 13:20] jorisvandenbossche commented on #23104
Can you also include the small code snippet to reproduce in the top post here? That is much easier for us, than to click to the other issue / to colab.

[2018-10-12 13:35] HHammond commented on #21221
Is this issue still alive?

[2018-10-12 13:51] TomAugspurger commented on #21221
Still open.

[2018-10-12 13:53] TomAugspurger commented on #23103
Any interest in investigating why that's showing up there? Do you think it's a pandas or sphinx issue?

[2018-10-12 14:22] ggrrll opened #23108 "pandas saving with index=False as default"
Hi,

I was wondering if it would be better to have `index=False` by default for instance in to_csv, to avoid having to eliminate the extra column every time you reload the same df.

Thanks for the feedbacks.

[2018-10-12 14:28] kbhutani0001 opened #23109 "BUG: skipna parameter in series.any() returns wrong result"
[code]

Expected output:
0     True
1     True
2     True
3     True
4    False
5    True
6     True
dtype: bool

Returned output:

0     True
1     True
2     True
3     True
4    False
5    False
6     True
dtype: bool

As written in documentation,  If an entire row/column is NA, the result will be NA
But NA isn't returned in any of the cases (Keeping skipna True or False)

[2018-10-12 14:30] 1kastner commented on #23103
I guess it is because latex is not run three times (the `force` option).
See https://github.com/pandas-dev/pandas/blob/master/doc/make.py
I do not really know how the PDF arrives at the website which is part of https://github.com/pandas-dev/pandas-website -- I guess the one who solves this should know about the pipeline how things get to the website.

[2018-10-12 14:35] TomAugspurger commented on #23103
That's all at https://github.com/pandas-dev/pandas-release.

https://github.com/pandas-dev/pandas-release/blob/master/scripts/build-docs.sh
should be doing forced, but I think there was an issue with the docs last
time I built them. Will check next time around.

On Fri, Oct 12, 2018 at 9:31 AM 1kastner <notifications@github.com> wrote:

[2018-10-12 14:46] ggrrll commented on #23108
ok, I see that maybe is not a great idea if you have info associated on it...

[2018-10-12 14:46] #23108 closed

[2018-10-12 15:28] TomAugspurger commented on #23109
I think the docs at https://github.com/pandas-dev/pandas/blob/12a0dc49ac63b63bcc5f93bccf71bce51c60bdad/pandas/core/generic.py#L9728-L9730 are incorrect. Skipna should be the same as the operation on the values with NAs removed (is that right @jorisvandenbossche?).

[2018-10-12 15:53] boldt commented on #23104
I hope, my updated bug report helps?

[2018-10-12 16:00] jorisvandenbossche commented on #23104
Can you add the result of `pd.show_versions()` ?

[2018-10-12 16:05] jreback commented on #23104
likely this is the result if inplace modification by permutation. I think we have a bug about this already

[2018-10-12 16:08] boldt commented on #23104
I reproduced the same issue in the default python 3.6.6 docker container.

[2018-10-12 16:09] boldt commented on #23104
I missed `pd.show_versions()`. I'll do....

[2018-10-12 16:13] boldt commented on #23104
# Colab

[code]
# Tensorflow docker container

[code]

# Python docker container

**TODO**

[2018-10-12 16:19] boldt commented on #23104
@jreback Because of this, all examples on the [Machine Learning Crash Course](https://developers.google.com/machine-learning/crash-course/ml-intro) are broken

(if not executed on colab)

[2018-10-12 16:24] jbrockmendel commented on #18435
I think this has been resolved.  Closing.

[2018-10-12 16:24] #18435 closed

[2018-10-12 16:29] boldt commented on #23104
@jreback Probably this issue? https://github.com/pandas-dev/pandas/issues/17132
The comment from @ceciliassis seems to be exactly my issue.

[2018-10-12 16:31] TomAugspurger commented on #23109
min_count I thikn

On Fri, Oct 12, 2018 at 11:25 AM Kartikay Bhutani <notifications@github.com>
wrote:

[2018-10-12 16:43] jorisvandenbossche commented on #23104
@jreback `np.random.permutation` should not do any inplace modification. Do you remember numpy bugs about that?

Regarding #17132, that comment of @ceciliassis is indeed about the same, but the issue itself is completely unrelated (that's why I asked to open a new issue)

@boldt so I cannot reproduce this (also on linux, python 3.5, pandas 0.23.0, numpy 1.14.3 / or pandas 0.23.4 + numpy 1.13).
Cou

[2018-10-12 16:46] jbrockmendel commented on #22614
Closed by #22696.

[2018-10-12 16:46] #22614 closed

[2018-10-12 17:30] boldt commented on #23104
@jorisvandenbossche Thanks for your reponse.

Have you tried is with the docker containers? With them, it should be easy to reproduce.
I was able to reproduce it with the docker containers on an Ubuntu 14.04 and on a WIndows 10.

Can you recommend another permutation package to replace the numpy permutation?

[2018-10-12 17:36] jorisvandenbossche commented on #23104
Sorry, I currently cannot try with docker containers.

Can you try the following small example:

[code]

[2018-10-12 17:57] boldt commented on #23104
I just changed this line

[code]

to this one

[code]

And it works...

[2018-10-12 18:00] boldt commented on #23104
My code:

[code]

and the result:

[code]

[2018-10-12 19:00] jschendel commented on #23104
I suspect this is the root cause of the issue: https://github.com/numpy/numpy/issues/11975

[2018-10-12 19:06] jonathanc42 commented on #18152
I have the same issue so I have to load the data into MongoDB instead

[2018-10-12 19:14] jschendel commented on #23104
Closing as this has been resolved on the numpy side; feel free to reopen if you feel there's some modification we should make internally though.

[2018-10-12 19:14] #23104 closed

[2018-10-12 19:16] jschendel commented on #23058
Looks to be fixed on the numpy side, and should be included in the 1.15.3 release: https://github.com/numpy/numpy/issues/11975

Closing as this has been resolved on the numpy side; feel free to reopen if you feel there's some modification we should make internally though.

[2018-10-12 19:16] #23058 closed

[2018-10-12 19:58] h-vetinari commented on #22763
Runtime has stayed much better (still ~20min), but builds are not cancelled (even if still in the queue) if newer commits are pushed. Having lots of that in #23062 ATM

[2018-10-12 20:12] JacobHayes commented on #21734
@mroeschke I know pandas uses datetimes in all cases and I'm _not_ trying to determine if the data is a date or datetime based on the repr. Instead, I'm loading data from CSV into more strictly typed columns (BigQuery in this case). The problem is that BigQuery (and I'd guess many other systems) validates the data matches the column type and errors (instead of truncating the datetime to date).

As

[2018-10-12 20:42] minggli commented on #17067
Hello, is this issue still open for a fix? IMHO, reset_index without an index name is not necessarily a bad thing. Do we actually want to keep index name during reset_index()?

[2018-10-12 20:51] datapythonista opened #23115 "Simplifying dependencies"
I guess this has been previously discussed, but I'd personally appreciate understanding better the dependencies, and see if they can be simplified. As I think they often generate confusion (e.g. not installing the optional ones), and some errors (e.g. editing files that are automatically generated, or forgetting to run the script).

For what I know, pandas has 3 dependencies, `numpy`, `dateutil` a

[2018-10-12 21:59] TomAugspurger commented on #22022
Closely related, object gets this wrong too.

[code]

[2018-10-12 22:22] WillAyd commented on #23115
Not sure of the history but do wonder if it wouldn't make sense to combine `dev` and `optional` into just `optional`. To answer your second question about pip, we maybe should start taking pipenv into consideration as well which AFAICT only allows for `required` and `dev` dependencies (not an expert there so could be wrong).

[2018-10-13 01:30] jbrockmendel commented on #22122
I'm noticing in test_offsets `assert not MonthEnd() in _daterange_cache` which I would expect flake8 to complain should be `assert MonthEnd() not in _daterange_cache`.  Any idea why this isn't being chcked?

[2018-10-13 06:08] brainrichtech commented on #11201
Hi
i got this error please any one solve this

reviews_users_df = pd.merge(reviews_df, users_df, on='user_id') # merging 2 dataset on user_id
users_df = []
reviews_df = []

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
C:\Users\brain\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\inde

[2018-10-13 06:43] silverdrake11 commented on #22555
For the 'gzip' compression, `_get_handle()` is not being called when `BytesIO()` is passed. This causes it to fail at `csv.writer(gzip.GzipFile(fileobj=BytesIO()))` in csvs.py

If `_get_handle()` is called on `BytesIO()` then what happens is `csv.writer(TextIOWrapper(gzip.GzipFile(fileobj=BytesIO())))` which fails b/c GzipFile opens it as read only. Setting the mode will work `csv.writer(TextIOWra

[2018-10-13 07:08] #20090 closed

[2018-10-13 07:12] gfyoung commented on #18152
Hello everyone, thanks for all of the follow-up comments!  Seems like there is some uncertainty as to whether there's a bug or not.

It seems that you all are running into issues reading large JSON files.  Thus, I would ask that you all do the following if you can:

[2018-10-13 07:14] GMarzinotto commented on #23092
The docs for this function say

def astype_nansafe(arr, dtype, copy=True):
    """ return a view if copy is False, but
        need to be very careful as the result shape could change!
    Parameters
    ----------
    arr : ndarray
    dtype : np.dtype
    copy : bool, default True
        If False, a view will be attempted but may fail, if
        e.g. the itemsizes don't align.
    """

If nobo

[2018-10-13 07:32] xag opened #23119 "msgpack for sparse dataframes"
#### Code Sample

[code]

#### Problem description

msgpack is much faster than pickle, which makes it highly relevant for sparse dataframes. Even "experimental" code is relevant. Speed in Python is often more relevant in experiments than in production, because code is run more frequently in a trial and errors process.

There is commented code in packers to encode / decode sparse dataframes.  What

[2018-10-13 09:01] jorisvandenbossche opened #23121 "CI/TST: hypothesis tests regularly fail due time-out"
I have seen the following a few times:

[code]

[2018-10-13 11:37] #19506 closed

[2018-10-13 11:37] #21978 closed

[2018-10-13 11:37] #22835 closed

[2018-10-13 11:38] #22367 closed

[2018-10-13 11:38] #22389 closed

[2018-10-13 11:42] TomAugspurger opened #23122 "Efficiency of SparseArray.__getitem__(SparseArray[bool])"
This currently densifies:

https://github.com/pandas-dev/pandas/blob/56d8e789155231b04131c6bf4674971ec3f38f95/pandas/core/sparse/array.py#L651-L659

I haven't investigated it, but we should be able to do a boolean mask as an
intersection sp_values on `self` and `key`. If `key` is `SparseDtype[bool, False]`
(i.e. False is the fill_value) this should be a lot faster.

[2018-10-13 11:57] TomAugspurger commented on #22860
@pandas-dev/pandas-core here's a proposal: Everything goes at the top level.

1. That's one extra `*_array` per array.
2. One extra Dtype per array (more for IntegerArray)
3. (Maybe) add the actual Array itself to the top-level.

---

This is consistent with Categorical and SparseArray, meaning we wouldn't have to deprecate those if we want all the arrays in one place.

I'm concerned about nesting

[2018-10-13 11:58] TomAugspurger opened #23123 "Move SparseArray implementation to pandas/core/arrays"
Just for organization / consistency, we should develop it next to our other arrays.

[2018-10-13 12:03] TomAugspurger opened #23124 "Require the dtype of SparseArray.fill_value and sp_values.dtype to match"
This has confused me for a while, but we apparently (sometimes?) allow a `fill_value` whose dtype is not the same as `sp_values.dtype`

[code]

This can lead to confusing behavior when doing operations.

I suspect a primary motivation was supporting sparse integer values with `NaN` for a fill value. We should investigate what's tested, part of the API, and useful to users.

[2018-10-13 12:07] TomAugspurger opened #23125 "Should SparseArray.astype be dense or Sparse"
Right now `SparseArray.astype(numpy_dtype)` is sparse:

[code]

This is potentially confusing. I did it to match the behavior of SparseSeries, but we may not want that.

[2018-10-13 12:08] TomAugspurger commented on #23125
This also leads to confusing behavior like

[code]

since `.astype(bool)` is interpreted as `.astype(SparseDtype(bool, fill_value=0))`

[2018-10-13 13:05] Zac-HD commented on #23121
Right, time to just disable the deadline!  (all the timing warnings are tuned for scalar values, so arrays tend to trigger them a bit too easily...)

I'll open a PR shortly :smile:

[2018-10-13 13:13] mbain108 commented on #22836
Is this issue still open? If not, I would like to take a look at it.

[2018-10-13 13:42] dsaxton opened #23128 "DOC: possible cookbook rendering issue with PR #22761"
When building the cookbook documentation locally I noticed that the function `distcorr` under the Computation header is getting cut off at the first empty line (PR #22761 and commit `904af03c36b63d8df911b5cdba1e29e66c6df4b4`).  I tried adding white space indentation but that doesn't seem to have helped.  Anyone have ideas as to what the issue might be?

[2018-10-13 14:09] #23121 closed

[2018-10-13 14:53] michaela12 commented on #22836
@mbain108  Hi, It's still open! So feel free to take a look at it!

[2018-10-13 15:35] kbhutani0001 opened #23130 "BUG: Series.ne() returns False for both NaN value even if something is passed to fill_value"
[code]
Series.ne() returns False if value at the index in both series is NaN even if some value is passed to fill_value parameter.
As in above example, after replacement, condition should be 5 != 5 which should return False. But output was True.

Expected Output:

0     True
1    False
2     True
3     True
4    False
5     True
6     False
7     True
8     True
dtype: bool

Returned Output:
0

[2018-10-13 16:13] datapythonista commented on #22836
yes, let us know if you need help @mbain108

[2018-10-13 16:15] ozak commented on #18152
I have tried the solution above on multiple files and it works ok. I think the problem arises when the file is about 2GB. Haven't tried with other solutions like ``dask``  to see whether that solves the issue. And this has only happened on ``OSX``, on ``Linux`` it loads directly without any issues.

[2018-10-13 16:52] jbrockmendel commented on #22860
I would be ecstatic if we got to a place where a) `.values` always points to an EA, or at least a lossless non-costly array and b) `._values` were rendered unnecessary.  Even better if `.get_values()` also become a synonym.

A lot of the pandas-internal EA code could be simplified if there were something analogous to `Index.__new__` that returned the appropriately-typed array

[2018-10-13 17:48] brianhuey commented on #17309
@jreback @TomAugspurger
I'm interested in tackling this, my understanding is that `NDFrameGroupBy.transform()` and `SeriesGroupBy.transform()` would need to be rewritten to accept a dict with column names as keys and functions as values, similar to `NDFrameGroupBy.aggregate(). It seems like using `SeriesGroupBy._aggregate_multiple_funcs()` as a guideline for writing a multiple func transform metho

[2018-10-13 18:31] datapythonista opened #23133 "DOC: Validate the order of the sections in the docstrings"
`scripts/validate_docstrings.py` validates that the content of a docstring follows our standards. There are still some of those standards that the script does not validate, and this gives the users the wrong impression that the docstring is all right, when it's not really the case. All the missing validations are listed in #20298.

In the docstrings, the order of the sections should be:
- Short su

[2018-10-13 18:36] datapythonista opened #23134 "DOC: Validate that the docstrings do not import pandas or numpy"
`scripts/validate_docstrings.py` validates that the content of a docstring follows our standards. There are still some of those standards that the script does not validate, and this gives the users the wrong impression that the docstring is all right, when it's not really the case. All the missing validations are listed in #20298.

One of those standards is that we do not show the `import numpy as

[2018-10-13 18:39] datapythonista opened #23135 "DOC: Validate description of See Also section in docstrings"
`scripts/validate_docstrings.py` validates that the content of a docstring follows our standards. There are still some of those standards that the script does not validate, and this gives the users the wrong impression that the docstring is all right, when it's not really the case. All the missing validations are listed in #20298.

One of the standards is that the descriptions in the `See Also` se

[2018-10-13 18:44] datapythonista opened #23136 "DOC: Validate that items in See Also section do not start by pandas."
`scripts/validate_docstrings.py` validates that the content of a docstring follows our standards. There are still some of those standards that the script does not validate, and this gives the users the wrong impression that the docstring is all right, when it's not really the case. All the missing validations are listed in #20298.

One of the standards is that the items in the `See Also` section s

[2018-10-13 18:58] mrocklin opened #23137 "Safely sort by columns when index overlaps"
Lets say that I have a Pandas dataframe with an index name that overlaps with a column name:

    import pandas as pd
    df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]}, index=[4, 5 ,6])
    df.index.name = 'a'
    df

       a  b
    a
    4  1  4
    5  2  5
    6  3  6

And I sort by the column name `'a'`

    FutureWarning: 'a' is both an index level and a column label.
    Defaulting to c

[2018-10-13 19:04] datapythonista opened #23138 "DOC: Validate the Returns section in the docstrings"
`scripts/validate_docstrings.py` validates that the content of a docstring follows our standards. There are still some of those standards that the script does not validate, and this gives the users the wrong impression that the docstring is all right, when it's not really the case. All the missing validations are listed in #20298.

The format of the `Returns` section consists of a first line with

[2018-10-13 19:08] mrocklin commented on #23137
I've worked around this on my end so there is no urgency from me.

[2018-10-13 19:13] datapythonista commented on #23128
Yes, that seems to be the case in the documentation generated on the server: https://pandas-docs.github.io/pandas-docs-travis/cookbook.html#correlation

I'm not sure why the `ipython` directive doesn't like blank lines in functions. Seems like a bug/limitation in the directive. @jorisvandenbossche may be you know?

[code]

[2018-10-13 19:15] thoo commented on #23134
@datapythonista I am a first time contributor. Can I work on this issue? Thanks.

[2018-10-13 19:18] TomAugspurger commented on #17309
Yeah, that sounds about right. @WillAyd may have better thoughts on how to start.

Keep in mind, doing this for `.apply` may be difficult / impossible because it doesn't place any restrictions on the output shape.

With `.agg` and `.transform` we at least know what the return shape should be, so we can know ahead of time what the output shape of a dict of functions will be.

[2018-10-13 20:56] stuarteberg opened #23139 "DOC: Implicit parallelism and how to disable it"
**Questions:**

Apparently OpenMP (or BLAS?) is used in pandas internals (or one of its dependencies), at least in some cases.  For example, `value_counts()` uses all CPU cores on my machine (but does not benefit from it).

1. Is this expected behavior?
2. Is there any documentation on which functions are parallelized, and how to disable it if desired?

---

**Details:**

Here's a test program tha

[2018-10-13 22:28] WillAyd commented on #17309
Reading through the comments here I think there have been quite a few things talked about, but just so we are on the same page I assume we are explicitly talking about changing `transform` to allow a dict where the key is the column name and the value(s) are the functions to be applied.

Not objected to it though I think it makes more sense if we updated `transform` to accept a sequence first, as

[2018-10-14 00:15] 5hirish commented on #23081
@datapythonista there is also `take` function at https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/datetimelike.py#L375 where axis argument has no usage. Let me know if that too has to be removed.

[2018-10-14 01:14] CalmDownKarm commented on #23086
@verascity are you planning on submitting a PR for this?

[2018-10-14 01:35] dsaxton commented on #23130
Based on the documentation it appears the null filling only applies to one of the Series, so the actual operation being performed would be np.nan != 5 and not 5 != 5.

[2018-10-14 02:05] verascity commented on #23086
I'd like to, yes! Just wanted to get it pinned down before I do it.

[2018-10-14 03:43] randomgambit commented on #17309
guys, as the original OP and lifelong `pandas` supporter, let me reiterate that it would be very useful to have `apply`, `transform`, and `agg` be able to work like this:

[code]
This used to work back in the days with the good old `agg`. It does not anymore.

This is very unfortunate because in one go I was able to use multiple functions on a single column (here `mean` and `max` on `value1`) as w

[2018-10-14 04:58] dsaxton commented on #23109
My opinion: I think the problem is the documentation; the result is actually correct.  If you ask if any of an empty set of statements is True, the answer is no.  This is consistent with `numpy`:

[code]

[2018-10-14 06:13] kbhutani0001 commented on #23130
Okay maybe that's right but in the other similar methods like .le() .ge()
and .lt the null filling is applicable to both of the series.

On Sun, 14 Oct 2018, 7:06 am Daniel Saxton, <notifications@github.com>
wrote:

[2018-10-14 07:00] datapythonista commented on #23081
thanks @5hirish, looks like it's the same case. @jbrockmendel I'll leave it to you whether to add it to the issue description or not, may be I'm missing something.

@gfyoung I didn't see that. Then it probably makes sense to deprecate first. But I don't think if there will be any code out there using a parameter that has no effect.

[2018-10-14 07:06] JustinZhengBC commented on #23123
I'll try to do this one

[2018-10-14 07:11] gfyoung commented on #23081
@datapythonista : Well, better safe than sorry 🙂.  That's all I'll say, since we seem to be in agreement that we should go with deprecation instead of removal.

[2018-10-14 08:12] thoo commented on #23136
I found 425 lines which starts with prefix `pandas.`. I will submit my PR now but please let me know if you want me to fix with this PR.

[2018-10-14 08:41] 5hirish commented on #23081
@datapythonista Let me know I can revert the removals and add deprecation warnings if I understand correctly. I can see an example here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/datetimelike.py#L399

[2018-10-14 09:15] Code-ReaQtor opened #23146 "Pandas not available for Python 3.4"
Hi just wanna asked why pandas 0.23.4 is not available for Python 3.4.
End of life is still months away (https://devguide.python.org/#status-of-python-branches)

#### Code Sample, a copy-pastable example if possible

None - This is a build issue from Travis CI

#### Problem description

It seems that pandas 0.23.4 is not available for Python 3.4

[code]

[2018-10-14 10:50] vkk800 commented on #23046
Just a comment on this and my PR: the case was that the decorator used in this case was already using `@functools.wraps()`, but since the filename that `getsourcefile()` finds comes from `fun.__code__.co_filename` which does not get transferred from the decorated function by `wraps()`, the filename returned was also the filename of the wrapper function. This is probably something that should be ke

[2018-10-14 12:09] TomAugspurger commented on #23146
We dropped support for 3.4 in pandas 0.21.0. The usage numbers didn't seem to warrant the maintenance burden.

[2018-10-14 12:09] #23146 closed

[2018-10-14 12:11] TomAugspurger commented on #23139
I would think mkl would be more likely to blame / thank here, rather than bias. Can you try in an environment with `nomkl`?

[2018-10-14 12:13] TomAugspurger opened #23148 "ENH: Add sparse Accessor for SparseDtype data"
This is a blocker for removing SparseDataFrame and SparseSeries.

We'd register it for Series and DataFrame I think.

[code]

[code]

[2018-10-14 12:39] jreback opened #23149 "TST: warnings on the doc-tests"
update at
https://github.com/pandas-dev/pandas/issues/23149#issuecomment-436377687

---

In the examples sections in the docstrings in `pandas/core/generic.py` we have two lines that when executed raise future warnings and should be changed to the latest syntax. The doctest validation does not report the exact lines (it reports line 1, which is wrong), but should be easy to find them by the error

[2018-10-14 12:40] jreback commented on #23149
couple of instances of warnings from the doc-tests themselves.

cc @datapythonista @jorisvandenbossche @TomAugspurger

[2018-10-14 12:42] TomAugspurger commented on #17309
We have a separate issue for an alternative to the deprecated dict of dicts in agg. Hoping to have that for 0.24.

________________________________
From: Olaf <notifications@github.com>
Sent: Saturday, October 13, 2018 10:43:47 PM
To: pandas-dev/pandas
Cc: Tom Augspurger; Mention
Subject: Re: [pandas-dev/pandas] TypeError: unhashable type: 'dict' when using apply/transform? (#17309)

guys, as the

[2018-10-14 12:43] jreback commented on #23139
pandas doesn't explicity call any BLAS routines at all, or any offer an parallelism, except for dispatch to ``numexpr``, which doesn't apply here. Likely some numpy routines are actually dispatching to multiple threads.

[2018-10-14 13:46] jreback commented on #22860
I think we should leave the dtypes themselves in pandas.api.types

no objection to the *_array in the pandas namespace

[2018-10-14 14:43] dsaxton commented on #23137
As you already alluded, it might be argued that the error is a way to discourage having an index with the same name as a column.  I suppose an inline workaround could be `df.reset_index(drop=True).sort_values(by="a")`.

[2018-10-14 15:07] datapythonista commented on #23136
I think it's better to keep them in a separate PR. Once this is fixed we can create few issues to fix them based on their files, so people can work on them in parallel, as it's quite a lot of them.

[2018-10-14 15:37] hongshaoyang commented on #23138
would like to try taking this on!

few questions:

1. how can i use `test_validate_docstrings.py` to create bad docstrings and use it in the `validate_docstrings` script?
2. how can i know the structure of `doc.returns` or `doc.yields`?

[2018-10-14 15:37] datapythonista commented on #23149
Didn't see those. Updated the description to make it easier for first time contributors to pick.

[2018-10-14 15:42] datapythonista commented on #23138
To run the tests you should simply call (in a pandas dev environment, and in the project root): `python -m pytest scripts` if I'm not wrong.

If you want to know the value of variables in the `validate_docstrings.py` script, you can run it, and add `print(whatever)` in a line where it contains the value. You can run the script like `./scripts/validate_docstrings.py pandas.DataFrame.head` to run ju

[2018-10-14 15:58] hongshaoyang commented on #23138
thanks for the quick response! so technically, the docstring for pandas.DataFrame.head should fail? here's the `Returns` section:
[code]
And according to https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html#section-4-returns-or-yields

So the `Returns` section should not provide a name for its return value?

[2018-10-14 16:05] datapythonista commented on #23138
In this case it should fail because there is a single value being returned, and it contains the name `obj_head`.

The correct cases are:
[code]

[code]

[2018-10-14 16:10] #20695 closed

[2018-10-14 16:26] jreback opened #23151 "BLD: wheel building"
https://github.com/explosion/wheelwright

maybe we should investigate this for building multi platform wheels

though i think conda forge is also starting an effort to do this

[2018-10-14 16:48] #22537 closed

[2018-10-14 18:18] ryankarlos commented on #22896
@datapythonista Just submitted a PR, let me know if there are any modifications required.

[2018-10-14 18:27] datapythonista opened #23154 "Validate PEP-8 in docstring examples"
At the moment we are automatically validating PEP-8 in our code (using `flake8 .` in the CI), and we also have the script `scripts/validate_docstrings.py` that reports errors for different formatting errors in our docstrings, and it also runs the tests to see if they work and generate the expected input. But we are not validating whether the examples follow PEP-8.

In the next example:
[code]

Eve

[2018-10-14 18:28] jschendel commented on #22860
+1 on making these public in general.

This does not currently exist and I'm a little confused as to what it would look like if implemented.  I understand how this makes sense for the non-interval EA's, as they are usually constructed in a fairly direct manner.  With intervals, my impression is that users have generally been using the `IntervalIndex.from_*` methods as opposed to the constructor it

[2018-10-14 18:37] randomgambit commented on #17309
@TomAugspurger thanks but we re talking about extending that to `apply`, `transform` and `agg` right?

[2018-10-14 18:39] TomAugspurger commented on #22860
I agree with @jschendel that CategoricalDtype is especially useful on its own and should be in the top-level namespace.

[2018-10-14 18:41] TomAugspurger commented on #22860
Also agreed that IntervalArray's alternative constructors are especially useful, and conflating them in a single `interval_array` method isn't a great idea.

[2018-10-14 18:47] TomAugspurger commented on #22922
Corner case in pandas master with object-dtype

[code]

That's supposed to be `1`, since `1 ** anything` is `1`

[code]

[2018-10-14 18:53] jbrockmendel opened #23156 "BLD: update to cython 0.29"
cython 0.29 was just released, includes support for a `@cython.nogil` decorator, which would allow a bunch of `_libs` code to be made valid python.  The last version bump was in July I think, so it might be too soon to bump again.

[2018-10-14 18:54] TomAugspurger commented on #23086
I think we're OK for this specific issue: pandas doesn't do anything to open or close your database connections. That's left up to the user / underlying object. A link to the sqlalchemy docs on this subject should be included.

[2018-10-14 19:02] Dominnio commented on #23040
I get the same error :
[code]

But when I change import order then the error doesn't occur.

[2018-10-14 19:04] TomAugspurger commented on #23040
Any debugging you can do would be appreciated.

On Sun, Oct 14, 2018 at 2:02 PM Dominik Orliński <notifications@github.com>
wrote:

[2018-10-14 19:36] #23080 closed

[2018-10-14 19:53] TomAugspurger commented on #23148
I've started on this.

[2018-10-14 20:53] minggli commented on #17067
it appears this issue has already been fixed. perhaps can be closed?

[2018-10-14 21:52] citynorman commented on #15276
ODO wouldn't work for me, it generates errors I wasn't able to fix, but d6tstack worked fine https://github.com/d6t/d6tstack/blob/master/examples-sql.ipynb

[2018-10-14 22:04] minggli commented on #21996
happy to work on this.

[2018-10-14 22:05] citynorman commented on #8953
I found `d6tstack` much simpler to use, it's a one-liner `d6tstack.utils.pd_to_psql(df, cfg_uri_psql, 'benchmark', if_exists='replace')`, see https://github.com/d6t/d6tstack/blob/master/examples-sql.ipynb

[2018-10-14 22:31] brianhuey commented on #17309
@WillAyd
Just so I'm clear, you're suggesting something like:
`test.groupby('groups').transform({'value1': [np.mean, max], 'value2': max})` which should return something like:

[code]

[2018-10-14 23:47] Moisan commented on #22459
Note that since f6da1f1ec, `ci/doctests.sh` content (for skipping or adding a doctests to the CI) has been moved to `ci/code_checks.sh`.

[2018-10-15 00:01] ryankarlos commented on #23133
@datapythonista Assuming this is not taken - ill work on this

[2018-10-15 00:49] #22998 closed

[2018-10-15 00:49] WillAyd commented on #17309
My point is that it would make more sense to make sure this works:

[code]

Before attempting:
[code]

Because the mechanisms to ensure that the list of functions are acceptable will probably be "reused" when it comes time to accepting a value from a dictionary which is a list

Somewhat of a side note but the hierarchical column structure of the result is going to be entangled somewhat in the http

[2018-10-15 01:49] datapythonista commented on #23133
Shouldn't be taken, thanks. Everything is in the issue tracker.

[2018-10-15 02:55] zhouyan commented on #23053
Now this is an hard error when used against pyarrow 1.11.0

[2018-10-15 04:31] thoo commented on #23134
@datapythonista  I don't find any import with `numpy` or `pandas`.

[2018-10-15 05:47] h-vetinari commented on #22722
@WillAyd The code for this was splitt off of #22725 to focus that PR (I had edited the OP to reflect that) - this issue is still open.

[2018-10-15 06:13] h-vetinari opened #23163 ".str._validate should infer for Series, not raise for all-na Index"
While working on #22725, a couple of work-arounds were necessary to correctly raise on wrong data types hiding as objects, e.g.
[code]

However, already the `.str` accessor itself should raise on `__init__` resp. the internal `_validate` method (this is closely related to #23011), i.e. instead of
[code]
it should be
[code]

Interestingly, `Index` does correctly infer already in `.str._validate`:
[

[2018-10-15 06:40] jorisvandenbossche commented on #22459
@Moisan Thanks for noticing, updated the text

[2018-10-15 06:45] datapythonista commented on #23134
that makes sense, besides the unit tests you can add an import locally and see if your changes capture it

[2018-10-15 08:13] jorisvandenbossche commented on #17067
It would be good to still add a test to assert this keeps working

[2018-10-15 08:31] jorisvandenbossche commented on #23149
I am not fully sure what we can do about this in general.
Of course the ones that are using deprecated keywords can be updated (like the `astype` one). But the other is simply a deprecated attribute. So the only way to get rid of the warnings, would be to remove the documentation altogether, something we don't want to do I think.

Still, it would be nice to better catch this. One option might be t

[2018-10-15 08:39] jorisvandenbossche commented on #23109
I suppose this as well. `any`/`all` can be seen as reductions like `sum` or `prod`, so we should probably follow their design.

So I think @dsaxton is right that it is only the documentation that is incorrect.

[2018-10-15 08:42] jorisvandenbossche commented on #11201
@brainrichtech this is not a user forum where you can ask for help, but a place to discuss bugs and features of pandas. Please use a forum like StackOverlfow instead.

[2018-10-15 09:00] jorisvandenbossche commented on #23106
@jreback that changes the output of accessing a single item to python int instead of numpy int. I was actually thinking we should ensure the reductions return a numpy scalar instead of python int to be consistent with accessing items.
But of course, the other way around as in your patch is also a possibility. Although then the `IntegerDtype.type` would not be correct any more.

And you would still

[2018-10-15 09:15] jorisvandenbossche commented on #21996
I think we should decide on deprecating `delimeter` or not together we the other discussion on aliases with `_`, as one of the arguments there to keep old names is the consistency with `csv` module. If we do that there, I think it also applies on the `delimiter` keyword.

We can also simply add to the docstring that `delimiter` does not support the "sniffing feature".

(which is a bit an esoteric

[2018-10-15 09:17] jorisvandenbossche commented on #21996
The other issue I mean is: https://github.com/pandas-dev/pandas/issues/22639

[2018-10-15 09:50] jorisvandenbossche commented on #22922
@TomAugspurger is that related to the listifying?

[2018-10-15 09:58] jorisvandenbossche commented on #22994
Looking at the array function protocol as inspiration for the design looks a good idea to me

[2018-10-15 10:47] TomAugspurger commented on #22922
Whoops, got my issues mixed up. That was for https://github.com/pandas-dev/pandas/issues/22022

[2018-10-15 11:13] TomAugspurger commented on #19239
I've updated the title to consider deprecating both SparseDataFrame and SparseSeries now that https://github.com/pandas-dev/pandas/pull/22325 is in master (FYI, it'd be helpful to have people testing that on real workloads)

FWIW, when I was doing that refactor, I discovered several subtle difference between methods implemented on both Series and SparseSeries. The Series implementation was updated

[2018-10-15 11:45] evarga opened #23164 "pandas.cut: the 'include_lowest' argument isn't behaving as documented"
#### Code Sample

[code]

#### Problem description

Just by setting the `include_lowest` to `True` the data type of the interval changes from `int64` to `float64` and the first interval isn't left-inclusive. Here is the wrong output that you'll get:

[code]
#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.

[2018-10-15 11:47] jorisvandenbossche commented on #23125
I think this is a regression compared to released version. Compare the last example:

[code]

When `astype`-ing with a numpy dtype, I think we should simply "astype" the scalar fill_value as well.

[2018-10-15 11:47] jorisvandenbossche commented on #23124
It was indeed allowed in some places, but in previous releases, I think it was mostly explicitly not allowed:

(examples are using 0.23.4)

[code]

[code]

One place where we did not check it, was the constructor. However, I think it is only possible to that way create an array with an incompatible fill_value if it is fully dense?

[code]

Because if there is already a `np.nan` in the list, the dt

[2018-10-15 11:53] jorisvandenbossche commented on #23124
Do you have an example of how to create such an integer sparse array?

Even with constructing it explicitly with passing integer `sp_values` and `sp_index`, the result has float dtype:

[code]

So my suspicion is that it was actually not meant to be supported (but of course, only guessing here, as I never used it

---

So for me the main questions is; what is the use case of allowing this? Why all

[2018-10-15 12:10] TomAugspurger commented on #23124
Hmm thanks for testing that out... I thought that additional tests broke, but I could be misremembering.

I do agree that we shouldn't be adding new functionality. If the only thing that breaks is the constructor, i.e.

[code]

then I'm OK with not allowing that, because it isn't actually saving any memory in that case.

[2018-10-15 12:19] jorisvandenbossche commented on #23124
I might be wrong of course, I only tried out some obvious things. Might be good to assure that with the tests.

[2018-10-15 12:56] gfyoung commented on #17067
@jorisvandenbossche : I think that's indeed what @minggli is trying to do in the now-reopened #23116.

[2018-10-15 13:05] xag commented on #23119
Yes on python 3.5.1. Then I tested on 3.6.6 and apparently the problems disappeared.

[2018-10-15 13:11] xag commented on #23119
Naive question: how do I do this? Thanks

[2018-10-15 14:15] dsaxton commented on #23128
@jorisvandenbossche Not too familiar with how this stuff works, but would this be a `sphinx` issue or perhaps one with the documentation build itself?

[2018-10-15 15:31] datapythonista commented on #23128
We are using this sphinx plugin for this part: https://jupyter.readthedocs.io/en/latest/development_guide/sphinx_directive.html

And it's this plugin that is likely to have a bug affecting us. Ideally we should do a bit more research about the bug, see if it's happening in the latest version of the plugin, write a minimal example to reproduce the problem, open an issue in the plugin project, and a

[2018-10-15 16:00] dhimmel commented on #22555
I agree. Especially since there is no docstring to define what the function intends to support.

I agree it may be helpful to split read/write and 2/3. However, with 2019 only a couple months away, the purging of 2 from pandas is just around the corner. It seems like any major changes should plan for a 3-only codebase (and hence benefit from the great simplification)?

[2018-10-15 16:05] dsaxton commented on #23128
@datapythonista Yes, that makes sense.  Thanks

[2018-10-15 16:07] dhimmel commented on #23035
@vograno looks like the same memory leak issue I reported in https://github.com/pandas-dev/pandas/issues/23047? You posted this issue one day before mine, but I didn't see it until now!

This is consistent with our `tracemalloc` analysis that pinpointed the memory allocation to the following [lines](https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/core/indexes/multi.py#L2681-L2691) in the

[2018-10-15 16:08] dhimmel commented on #23047
I believe this issue is a duplicate of https://github.com/pandas-dev/pandas/issues/23035 reported by @vograno.

[2018-10-15 16:13] stuarteberg commented on #23139
Minor clarification: The pandas/numpy versions I mentioned in the OP are somewhat out-of-date, but this issue is easy to reproduce (on linux) using the most up-to-date packages from both `conda-forge` and also conda's `defaults` channel (since `mkl` is installed either way.)

Simply try `conda create -n test pandas` and then run the test program above to see the behavior.  I guess this means anyon

[2018-10-15 16:17] TomAugspurger commented on #23139
Do you actually observe lower performance when using one of those libraries in an environment with mkl? I may be wrong, but I thought that mkl handled oversubscription.

[2018-10-15 16:29] gfyoung commented on #22555
@dhimmel : I agree that the implementation should be 3-oriented.  If it's 2-oriented as well, great!  If not, I would still write it out but just hold off on the PR until the turn of the calendar year.

[2018-10-15 17:03] billtubbs commented on #15133
I have this error too.  Here is a demonstration of the error with a simple spreadsheet.  The error only occurs when there is an empty column to the left of the first index col.

**Test 1** (fails):

File 'excel_test1.xlsx' looks like [this](https://ibb.co/izSr0f).

[code]

Traceback:
[code]

**Test 2** (works):

File 'excel_test2.xlsx' looks like [this](https://ibb.co/dhK4Lf).

[code]
Output of te

[2018-10-15 17:07] #21242 closed

[2018-10-15 17:30] jeybrahms commented on #23035
The only workaround I could think of is to use reset_index before and after subsetting.
Another option is to ditch multi-index altogether: keep the most important level in a mono-index and move the rest into the dataframe itself.
I'm waiting for pandas-dev to assign a milestone to see if I can wait the issue out.

[2018-10-15 17:36] vograno commented on #23035
@dhimmel The only workaround I could think of is to use reset_index before and after subsetting.
Another option is to ditch multi-index altogether: keep the most important level in a mono-index and move the rest into the dataframe itself.
I'm waiting for pandas-dev to assign a milestone to see if I can wait the issue out.

[2018-10-15 18:05] dhimmel commented on #23035
# Introduced in 0.24.4

Looks to me like the leak was introduced in Pandas 0.24.4. When I run @vograno's example code above (for 20 iterations) in pandas 0.23.3 + python 3.6.6, I get:

[code]

Each line here shows the difference in memory allocation in MB from the previous iteration. In other words, allocation stabilizes after a few iterations. However, with pandas 0.23.4 + python 3.6.6, I get the

[2018-10-15 18:18] jreback commented on #23035
@vograno well this would take a community contribution
no milestones are assigned until then have an actual mergable pull request

[2018-10-15 19:28] TomAugspurger opened #23168 "Flaky SparseArray tests"
[code]

Tat fails when the first value is sparse, the fill_value is int, but the `.dtype.type` is `np.int64`.

[code]

That fails with the array is all sparse. Fixed by

[code]

[2018-10-15 19:43] TomAugspurger commented on #23156
Bumping the min cython requirement doesn't place any burden on users, right? I don't have any objection to requiring the latest.

[2018-10-15 20:20] SoumanPaul opened #23169 "Getting error when i import pandas"
### when i import pandas it shows me this error
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-6-7dd3504c366f> in <module>
----> 1 import pandas as pd

~/anaconda3/lib/python3.6/site-packages/pandas/__init__.py in <module>
     21
     22 # numpy compat
---> 23 from pandas.compat

[2018-10-15 21:05] Dr-Irv opened #23170 "Series.dt.total_seconds() has incorrect docs for args"
#### Problem description

If you look at the docs for `Series.dt.total_seconds()` at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.total_seconds.html#pandas.Series.dt.total_seconds, it documents the method as having `args` and `kwargs`, i.e., `Series.dt.total_seconds(*args, **kwargs)`.

But `total_seconds()` does not have any arguments in the implementation.

This is some

[2018-10-15 22:41] Remnan13 commented on #22088
Directed here by Triage, but should I focus on jumping to #22105 instead? The self-join bug seems to have been resolved (at least addressed directly) in other issue threads!

[2018-10-15 23:03] jreback commented on #23119
no objection to this though we are likely to deprecate some of these structures eg SparseDataFrame soon

[2018-10-15 23:33] TomAugspurger opened #23172 "CI: Test failures on numpydev"
e.g. https://travis-ci.org/pandas-dev/pandas/jobs/441869826

I can reproduce these locally.

I just restarted the latest build on master to ensure that they're present there.

[2018-10-16 00:16] dubielt1 commented on #23154
I'll make an attempt at this

[2018-10-16 01:09] TomAugspurger commented on #23172
https://travis-ci.org/pandas-dev/pandas/jobs/441766904

[2018-10-16 02:43] TomAugspurger commented on #23172
git bisect points to https://github.com/numpy/numpy/commit/607842ab59b0479c485eb6fa30778f47dccc224a (cc @shoyer)

I'm just running `pytest pandas/pandas/tests/test_multilevel.py::TestMultiLevel::test_frame_group_ops[True-True-1-0-skew]
`

[2018-10-16 02:44] TomAugspurger commented on #23172
Looking at the diff, nothing really jumps out. If it helps debug at all, that test is parametrized across a bunch of things. Just `skew` and `mad` fail.

[2018-10-16 02:48] TomAugspurger commented on #23172
A not really minimal example of what changed is

[code]

Previously that was

[code]

[2018-10-16 04:10] vograno commented on #23035
@dhimmel a downgrade to 0.23.3 (using pip) did NOT fix the problem for me, the program output remains the same. Could it be a C library that pip didn't downgrade (I treat pip as black magic)?
INSTALLED VERSIONS
------------------
python: 3.6.6.final.0
pandas: 0.23.3
numpy: 1.15.1

[2018-10-16 07:06] xag commented on #23119
@jreback Does it mean a sparse DataFrame is treated as efficiently as a SparseDataFrame with the same data? Starting when? Thank you

[2018-10-16 08:00] Adirio opened #23176 "DatetimeIndex construction with periods and closed"
#### Code Sample, a copy-pastable example if possible

[code]
Outputs:
[code]
#### Problem description

When explicitly asking for a number of periods, an index of that size is expected. By using `closed` with the matching boundary specified (`start` for `closed="right"` and `end` for `closed="left"`) we get one less than the requested periods.

Probably this also happens with other functions/meth

[2018-10-16 08:31] pietz commented on #18755
What I did when I tried to plot a `Date` feature over multiple years on the x-axis was to convert it to a year-float representation like so:

`df['DateNum'] = df.Date.dt.year + df.Date.dt.month / 12. + df.Date.dt.day / 30.`

This isn't super accurate, nor is it pretty but it got the job done for me.

[2018-10-16 09:35] Alxe1 opened #23177 "pandas multi-conditions inquiry"
I want to use pandas to retrieve data with multi-conditions, but now I only use:
[code]
My question is: I can only use `df[(df.a>s[0]) & (df.a<s[1])]` to retrieve data, but I can't use `df[df.a>s[0] and df.a<s[1]]` to retrieve data. When I use `df[df.a>a[0] and df.a<a[1]]`, it shows: `ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().`.

[2018-10-16 11:01] TomAugspurger commented on #23169
Looks like you don't have numpy installed correctly.

I'd try creating a new environment and seeing if that works.

[2018-10-16 11:01] #23169 closed

[2018-10-16 11:02] TomAugspurger commented on #23169
Feel free to keep posting, but I've closed this since it doesn't appear to be a pandas bug.

[2018-10-16 11:21] TomAugspurger opened #23179 "ExtensionArray.map"
Both Categorical and SparseArray found implementing a `.map` method useful. This allows them to efficiently apply a function / mapping to the categories / sp_values, rather than every element of an array. We dispatch to it internally in https://github.com/pandas-dev/pandas/blob/master/pandas/core/series.py#L3379-L3380

So, we need to either

1. Add it to the interface
2. hard-code checks for categ

[2018-10-16 11:44] bartolsthoorn commented on #23053
Work-around to read a feather file with the current version (landed here through Google):
[code]

[2018-10-16 11:53] TomAugspurger opened #23180 "CI: PyArrow import failing on windows with DLL error"
From https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=1251&view=logs

[code]

[2018-10-16 12:01] TomAugspurger commented on #23180
I can't reproduce locally on a Mac.

Looking at the diff in environments, there's a few suspects

- arrow is 0.9 on both, but the build changed from `py36_vc14_7  [vc14]  conda-forge` to `py36h12fa3ca_7    conda-forge`
- boost-cpp from 1.66.0 -> 1.67.0
- New `libboost                  1.67.0 `, which (maybe troublingly) came from `main`, not conda-forge.

[2018-10-16 12:01] jondo opened #23181 "DataFrame.sort_values should have an algorithm with 'best' complexity for nearly sorted data"
#### Problem description

I have got a large amount of data that is nearly sorted.
According to [these nice animations](https://www.toptal.com/developers/sorting-algorithms/nearly-sorted-initial-order), a simple insertion sort could be the fastest in this case.

So I suggest offering this as an additional algorithm for the 'kind' argument.

[2018-10-16 12:04] TomAugspurger commented on #23180
I'm not really sure what's going on here. Anyone able to reproduce locally (cc @chris-b1?)

[2018-10-16 12:05] TomAugspurger commented on #23181
I think that'd be better suited for NumPy.

[2018-10-16 12:12] TomAugspurger commented on #23170
I assume this is from `wrap_array_method` in indexes/datetimelike.py. The `index_methods` wrapper there has `*args, **kwargs`).

cc @jbrockmendel

[2018-10-16 12:13] jreback commented on #23179
-1 on hard coding things

expanding the interface is the way forward here

[2018-10-16 12:34] jkfm commented on #22551
I have the same problem, and would also prefer not to use the .name-property to ensure specificity of the key.

[2018-10-16 12:36] dhimmel commented on #23035
Interesting. Not sure if a pip downgrade would also downgrade the underlying C libs, but I'd think so.

This makes me think that the problem may be based on the versions of one of pandas dependencies... perhaps numpy. The two environments I compared were not well controlled: they had other differences than just pandas. I will play around with some more controlled conda environments and try to pinp

[2018-10-16 13:37] #23123 closed

[2018-10-16 13:51] dhimmel commented on #23035
Okay, I created the following four conda environments (my configuration defaults to using the conda-forge channel). All four environments use pandas 0.23.4 and python 3.6.6 but vary the numpy version.

[code]

I ran @vograno's script and evaluated whether there was a leak. The results are:

`pandas-gh23035-env1`: no leak
`pandas-gh23035-env2`: LEAK
`pandas-gh23035-env3`: LEAK
`pandas-gh23035-env4`

[2018-10-16 14:18] jbrockmendel commented on #23170
I think you're right.  I'm not aware of any way around this (that doesn't use `exec`)

[2018-10-16 14:37] vograno commented on #23035
I can confirm a downgrade to numpy=1.14.6 fixes the problem. Thank you very much @dhimmel !

[2018-10-16 14:41] JackCaster opened #23184 "BUG: pivot_table margins fails with ordered categorical variables"
#### Code Sample

[code]
#### Problem description
When using `pivot_table` with `margins=True` the `aggfunc` shuffles the order of the columns. For example:
[code]
returns
[code]
and you can see that the sum across rows are wrong.

#### Expected Output
If we set the categorical variable as unordered
[code]
then the sum for each column is correct:
[code]

#### Output of ``pd.show_versions()``
<deta

[2018-10-16 15:06] TomAugspurger commented on #23170
Something similar to
https://github.com/pandas-dev/pandas/blob/913f71f74709e4d4814e50f21768b97ce2c6ef8d/pandas/util/_decorators.py#L182
should be feasible for Py3,
and slightly less evil than exec.

On Tue, Oct 16, 2018 at 9:18 AM jbrockmendel <notifications@github.com>
wrote:

[2018-10-16 15:30] TomAugspurger opened #23185 "Datetimelike Array Refactor"
A master issue, to help keep track of things.

High-level, I think we have two things to sort out

1. Design our datetimelike Arrays (DatetimeArray, TimedeltaArray, PeriodArray)
2. A plan for getting from master to an implementation of that design.

## 1. Design

We have a few things to sort out

a. Composition vs. inheritance of Index / Series and array classes
b. ...

## 2. Implementation Plan

[2018-10-16 15:31] TomAugspurger commented on #23185
cc @jreback @jorisvandenbossche @jbrockmendel

OK I wanted to open this issue because I've had trouble keeping up with all the
goings-on around this (and I was getting tired of rebasing the WIP PeriodArray
PR). So I'm hoping we can come to a rough consensus on these outstanding
discussion, and a concrete plan of how to get from master to there.

If necessary, we can move to a google doc or somethi

[2018-10-16 16:38] dhimmel commented on #23035
In https://github.com/numpy/numpy/issues/12122#issuecomment-430293579, @charris commented that this leak could be https://github.com/numpy/numpy/issues/12037 titled "Memory leak when slicing derived classes from Numpy", which was fixed in https://github.com/numpy/numpy/pull/12127 and will be in the numpy 0.15.3 release.

Seems like this could be the issue here as we've traced the issue to slicing

[2018-10-16 16:49] jbrockmendel commented on #23185
You're right (and Joris has expressed this elsewhere) that this conversation has splintered across a lot of places and centralization will help.

I'm a big fan of breaking up big problems into smaller more manageable problems (as evidenced by #23159, small-step tslibs refactor, doomed improvement efforts in statsmodels, ...).  Are there any logically independent parts of the problem that can be sp

[2018-10-16 16:54] jorisvandenbossche commented on #23185
I mentioned it on one of the PRs, but is it OK for you guys to agree on not merging any of the open PRs, before we have some agreement on the way forward?

@jbrockmendel I understand you want to keep working on those PRs you opened (and it's also great that you do so much for pandas!), but let's maybe take a short pause doing new PRs until we agree on how we want to get to the finish-line here (in

[2018-10-16 17:02] jbrockmendel commented on #22974
I think this is #19252.

[2018-10-16 17:32] jbrockmendel commented on #23185
Sounds good.

[2018-10-16 18:59] heydenberk commented on #17898
Is this the same core issue as #13022—and hence, addressed by #22488 and due to land with 0.24?

[2018-10-16 19:18] jondo commented on #23181
OK. Then I'd have to sort my index in NumPy, then reindex.

I have filed https://github.com/numpy/numpy/issues/12186.

[2018-10-16 19:53] svenharris opened #23189 "BUG: Merge_asof error message unclear when attempting to join on missing values"
The merge_asof function gives confusing error message when trying to join on columns which contain null values based on it failing the is_monotonic check

#### See example:

[code]
[code]

This can lead to scratching of heads, because hey, the DataFrame was just sorted, and it kind of looks sorted, (also doesn't appear in docs that this isn't allowed).

The proposed change will raise a more meanin

[2018-10-16 19:55] TomAugspurger commented on #23185
Composition vs. inheritance.

The case for composition:

1. I see EAs as being at the same level as ndararys. Series & Index box an array
   (ndarray or EA). I think it'd be strange for some indexes be instances
   of an EA, depending on the dtype.
2. I think that the calls have only been for specific Index classes to inherit
   from EA. We'll limit the rest of this discussion to just Index, but I

[2018-10-16 20:16] jbrockmendel commented on #23185
If there is a nice solution to the immutability/caching issue, then I can get on board with just-composition.  Until then, I think _both_ is the way to go for now.  i.e. PeriodIndex subclasses PeriodArray and PeriodIndex.values returns a PeriodArray.

Your point 1) is the one I find most compelling.  It would be really nice if `.values` had a consistent definition as always-lossless.

[2018-10-16 20:29] TomAugspurger commented on #23185
On the caching point, this seems to work

[code]

There may be edge cases, or cases were we could skip invalidating the cache, but it's at least feasible.

[2018-10-16 20:40] mroeschke commented on #23176
I'd argue that this is the correct behavior, albeit not documented clearly:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

The order of operations is essentially: Create the dates from `start`, `end`, `periods`, and/or `freq` _and then_ use the `closed` argument to truncate the created dates if `None` isn't specified.

[code]

[2018-10-16 20:41] jorisvandenbossche commented on #23185
It overlaps with the first point of Tom, but an additional case for composition / disadvantage of inheritance:

* A clear data model that you can explain and reason about (Series and Index are containers of array-likes), while the current inheritance is overly complicated and very opaque IMO.

I personally also don't see any compelling case for inheritance (also the dispatching is not a reason IMO

[2018-10-16 20:43] jorisvandenbossche commented on #23185
For the inheritance vs composition, we actually have examples to look at in practice: interval and categorical already do composition, while the datetimelikes are currently a kind of inheritance. I think the current datetimelike implementation shows the complexity of this.

[2018-10-16 20:54] jorisvandenbossche commented on #23185
Related to the caching issue, I think there are several options:

1. Assess if it is actually significant (eg to decide if it is a blocker on the PeriodArray PR). From a quick timing, calculating the `_isnan` property the first time takes about 5% of the time to do `DatetimeIndex() + Timedelta()` arithmetic operation (whether it has a similar impact when we actually would no longer cache is not ne

[2018-10-16 21:42] jorisvandenbossche commented on #23185
Warning, long post coming.

My proposal for a possible way forward, let's call it **the "minimally big" PR with follow-up PRs** proposal:

* For each Array class, we do a "minimally big-split" PR:
  * a PR that does the actual split of the current inheritance structure into separate Index and Array objects
  * but as minimal as possible:
    * as a minimum get the tests passing
    * and with agre

[2018-10-16 22:38] cyrusmaher opened #23191 "Bitwise operations have inconsistent behavior, different from numpy"
#### Code Sample

[code]
#### Problem description
Bitwise operations between floats and bools error out in numpy. They error out in pandas too if the first argument is a `float`, but not if the first argument is a `bool`.

#### Expected Output
ufunc 'bitwise_and' not supported for the input types

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None

[2018-10-16 22:56] jmrr commented on #22894
Hey @datapythonista as the last person who volunteered didn't eventually open a PR I took a stab at this and made good progress during the London Python Sprints Hacktoberfest meetup, hope I didn't break any `pandas` etiquette here.

I have a question. The `validate_docstrings` script produces errors with deprecated parameters, e.g. `Parameters {fill_method, limit, how} not documented`. What is the

[2018-10-16 23:05] btel commented on #14833
Since there was no activity since March, I would be interested in working on this issue. It might be nice to implement searchsorted as suggested by @jreback, but the issue I see is that numpy's searchsorted can give the location of an element in a sorted array that would keep the sort order even if the element does not exist. Here is an example:

[code]
From what I understand `.get_indexer` will s

[2018-10-16 23:19] jreback commented on #14833
so this might be easier now as the implementation of MI was recently refactored to directly keep the underlying codes in the cython table

[2018-10-16 23:48] jbrockmendel commented on #23185
If patching `__setitem__` works robustly I think that would be a great solution.  It would probably be useful elsewhere, too.  The fact that it would be _so_ useful makes me think it must be harder than it looks, otherwise it would have been done long ago.  But I'd be happy to be proven wrong.

If we were to go whole-hog on inheritance, the data model would be "An Index is an Array with some addit

[2018-10-17 00:31] jreback commented on #23185
Some general comments / points.

- I am all for the composition pattern; we are already using this and it makes ``Index`` just a light wrapping of EA
- It would be nice to share between EA implementations for DateArray / PeriodArray (which I think is accomplished by the DatetimelikeMixin), the concern is that this is *also* a mixin with ``Index``? I don't have a problem with mixin's being shared b

[2018-10-17 00:49] Remnan13 commented on #21632
Did the dunder fix work, @gautham949 ?

[2018-10-17 00:51] dsaxton commented on #23109
@jorisvandenbossche What would you say is the appropriate fix for this?  If the documentation is a general statement about the `skipna` parameter, maybe it makes sense to just remove the claim that the result will be NA (since it's not true for `any`, but presumably would be true in other contexts)?

[2018-10-17 01:15] #23189 closed

[2018-10-17 05:34] mroeschke commented on #21734
Okay I better understand your point now, thanks! It makes sense that `DataFrame.to_csv`  and `Series.to_csv` should write datetime columns consistently and in a similar way.

As a side note: You can export pandas objects directly to BigQuery instead of going to CSV and then BigQuery

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_gbq.html

[2018-10-17 06:46] datapythonista commented on #22894
In some cases it may make sense to ping the last person who said would be working on it. But an issue to fix a docstring with no activity for two weeks seems like available to me too.

Deprecated parameters should be deprecated and have the sphinx directive for deprecations.

[2018-10-17 06:50] martharobinson commented on #22894
Yes, sorry life intervened and prevented me from finishing this! Sorry for not making that clear.

[2018-10-17 09:38] xingyuezhiji opened #23196 "Issues about the time index(which will chage the type)"
I found that if the time order is assending, the dataframe will change from pd.DataFrame to pd.Series automatically and vise versa.
 For example, df is the data i download from tushare and i set `df.set_index(['date'],inplace=True)`.
If the time index is assending, i cannot get `df['%Y-%m-%d']` like `df['2018-09-25']` because `type(df.loc['2018-09-25'])` is pd.Series.
And if i change df into df[::

[2018-10-17 09:50] Adirio commented on #23176
I do not agree. If you specify `periods` instead of `end` is because you want that size. The same should apply if you specify `end` and `periods`.

How I see it:

Provided | Missing | Closed | Order
-------- | ------- | ------ | -----
`start`, `periods`, `freq` | `end` | `"right"` | `start`, `freq`, `closed` -> `periods`
`end`, `periods`, `freq` | `start` | `"left"` | `end`, `freq`, `closed` -> `p

[2018-10-17 10:47] Adirio commented on #23176
I found [a check in the code](https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/core/indexes/datetimes.py#L484-L487) that is suposed to prevent using `closed` with one of the boundaries not defined:

```raise ValueError("Closed has to be None if not both of start and end are defined")```

The problem with this error is that it never gets raised because the check is bugged, it checks for bot

[2018-10-17 12:09] xingyuezhiji commented on #23196
@TomAugspurger
Here is the example：
`import tushare as ts
import pandas as pd
data=ts.get_k_data('sh',start='2017-01-03',end='2018-10-16')
print(data.date[::-1])
df = pd.DataFrame()
df['date'] = data.date
df['close'] = data.close
df.set_index(['date'],inplace=True)
print(df)
# df = df[::-1]
print((type(df.loc['2018-09-25'])))
`

[2018-10-17 12:16] TomAugspurger commented on #23196
You might want to read through http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-10-17 12:30] xingyuezhiji commented on #23196
I’ve re-editted my post

[2018-10-17 12:58] Adirio opened #23198 "Check boundary undefined with non-default close parameter for DatetimeIndex"
#### Code Sample
[code]

1:
[code]

2:
[code]

3:
[code]

4:
[code]

#### Problem description

There is a check in the code that should not allow this cases. It raises a `ValueError`. The `if`condition is bugged and thus this check is not being processed. This was found while investigating #23176.

Note: this issue is not debating wether allowing or disallowing `closed` differents to `None` for on

[2018-10-17 13:02] #23176 closed

[2018-10-17 13:14] jreback commented on #23198
these already fail on master (for other reasons), e.g. your period is not an integer

[2018-10-17 13:19] Adirio commented on #23198
Sorry. Fixed. It was a typo.

[2018-10-17 13:28] Adirio opened #23200 "[Proposal] Allow open boundaries when some of them are undefined for DatetimeIndex"
#### Problem description
When creating a `DatetimeIndex` partially-bounded, i.e., only specifying either `start` or `end` the use of a `closed` parameter different from `None` was intended to be disallowed. This behaviour is bugged as shown in #23198. #23199 solves this bug.

Before #23199, the DatetimeIndex was successfully created. The result contained one less than the requested `periods` in so

[2018-10-17 13:49] TomAugspurger commented on #13665
This should be fixed on master.

[code]

A confirmatory test would be appreciated, if anyone wants to do that.

[2018-10-17 13:50] TomAugspurger commented on #14167
This was closed by https://github.com/pandas-dev/pandas/pull/22325

[2018-10-17 13:50] #14167 closed

[2018-10-17 13:55] TomAugspurger commented on #23106
I'm facing a similar issue with `SparseArray.fill_value`. With something like

[code]

is false, since it's a python int, and the scalar `.dtype.type` is `np.int64` (so that `arr[1]` is correctly an np.int64).

Having these scalar types be numpy integers is more consistent with the way things are currently, but do we want to be bound to that going forward?

[2018-10-17 13:58] jreback opened #23201 "DOC/TST: doctests leaving extraneous files"
after running

``LINT=1 ci/code_check.sh``

we get some garbage left around

[code]

[2018-10-17 13:59] jreback commented on #23201
cc @datapythonista

prob from some of the doc-tests

[2018-10-17 13:59] #23048 closed

[2018-10-17 14:31] TomAugspurger commented on #23185
I suspect this is because it's not on ndarrays, and we didn't have an intermediate array-like that could track these. ndarrays can be manipulated inplace in so many ways that a cache sounds infeasible.

[2018-10-17 14:38] jreback opened #23203 "BLD: wheel building on 2.7 broke"
https://travis-ci.org/MacPython/pandas-wheels/builds/442490830

I pinned pytest=3.8.2 and I think this resolves, but

[code]

not sure why this doesn't break are regular builds.

[2018-10-17 14:46] TomAugspurger commented on #23185
I feel like I still lack the information to make a judgement call on how to proceed here. So, how about I spend a chunk of time getting #22862 in to a reasonable state. I'll try to make it as minimal as possible while still passing, and in the process I'll identify pieces that can be reasonably split off.

I think the biggest outstanding discussion / PR is around constructors and whether https://g

[2018-10-17 15:16] jorisvandenbossche commented on #23185
Thanks for the answers!

(and sorry again for my long answers :))

Because this is an important point, I had a paragraph above trying to explain why I think this does not need to be the case, as I can also argue for the opposite:

* The small PRs touching periods you were doing now made that Tom had a hard time continuing on the PeriodArray PR. In this sense, it also made it difficult to work in p

[2018-10-17 15:20] jorisvandenbossche commented on #23185
\+1

If we focus first on the PeriodArray PR, I don't think that PR should be merged. But, it is the discussion that we had on one of the review comments (https://github.com/pandas-dev/pandas/pull/23140#discussion_r225003108) about the constructors that ideally indeed should be resolved.
I will try to look at that now as well, and open a separate issue about it (unless you beat me to it).

[2018-10-17 15:22] Ignalion opened #23204 "Misleading "not" typo in assertion in pandas.concat in join_axes check"
There is an assertion message in [concat.py](https://github.com/pandas-dev/pandas/blob/master/pandas/core/reshape/concat.py#L448):
[code]

From code (and from it's usage) it's obvious that word "**not**" is incorrect here and should be deleted.

[2018-10-17 15:31] jorisvandenbossche commented on #23185
Since he mentioned both in the same sentence as two different things, I assumed this was not the case. So hence the question for clarification :-)

[2018-10-17 15:35] jorisvandenbossche commented on #23106
So that indeed gives this inconsistency:

[code]

which is bad, I would say.
We could enforce that the fill_value should be of the scalar type of the array? (or convert in the above case: convert the `0` to `np.int64(0)`) Or would this have many consequences in other places where the `fill_value` is used?

[2018-10-17 15:46] TomAugspurger commented on #23106
I have a WIP doing that (well, making sure that the dtype matches), and this came up.

There's some issues with string dtypes, but overall I think it'll be fine to require that the scalar matches.

[2018-10-17 15:56] jbrockmendel commented on #23185
The plan as I understand it is that DatetimeLikeArrayMixin will be mixed into the EA subclasses but will cease to be mixed in to DatetimeLikeIndexMixin.

I meant extending the tests in tests/arithmetic to include the EA subclasses.  Since this was just a hypothetical example of "two things going wrong at the same time", let's not spend too much time on it.

Sounds good.

In the interim, I'd like t

[2018-10-17 18:47] TomAugspurger commented on #23185
I pushed an update to https://github.com/pandas-dev/pandas/pull/22862/files that reduced the scope somewhat. Outside of indexes/period.py and ararys/period.py, there shouldn't be any extraneous changes.

I can work to reduce the changes to indexes/period.py and ararys/period.py a bit, but I'd like to get the constructors nailed down first.

[2018-10-17 18:55] TomAugspurger commented on #23185
Do you have a plan / WIP for this? My WIP PeriodArray PR doesn't do too much there I think.

[2018-10-17 18:57] chris-b1 opened #23209 "PERF: replace use of `isnan` once MSVC bug is fixed"
ref #23182, #21813

MSVC bug tracker  - https://developercommunity.visualstudio.com/content/problem/294290/incorrect-codegen-for-double-equality.html

Once that bug is fixed in a widely available MSVC for python 3 builds we should redefine `isnan` / `notnan` to be based on an equality check here.
https://github.com/pandas-dev/pandas/pull/23182/files#diff-467e9a847ab859a085518bc17711fe57R20

Curren

[2018-10-17 19:13] sorenwacker opened #23211 "Expand .str to DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I always run into this. DataFrame has no method str. Though I should be easy to map this method to the Series.str  and call it for each Series. Is there any reason why this is not implemented, other than no one did it yet?

[2018-10-17 19:15] jorisvandenbossche opened #23212 "API: Index and Array constructors design"
To split off the discussion on the constructors from https://github.com/pandas-dev/pandas/issues/23185, to have a more focussed discussion about that here. Also going further on the discussion we were having in https://github.com/pandas-dev/pandas/pull/23140/files#r225218594

So topic of this issue: how should the different constructors look like for the internal EAs and the Index classes based on

[2018-10-17 19:19] jorisvandenbossche commented on #23212
cc @TomAugspurger @jreback @jbrockmendel

[2018-10-17 19:46] jorisvandenbossche commented on #23212
More concrete, on the PeriodArray PR, there is currently:

* `__init__`: can take one of:
  * PeriodArray (instance of itself, or a container from which that can be extracted)
  * ordinals + freq
* `_complex_new`: the hodge podge that PeriodIndex can do
* `_simple_new`: same as `__init__` ? (not fully sure) -> so can remove?
* `_from_periods`: from object ndarray (or list) of Periods
* `_from_ordi

[2018-10-17 19:49] jreback commented on #23211
we don’t have any accessors for DataFrame

you could make this syntactic sugar for an .apply
no objection generally though this would have to be a general method that can work on all accessors

[2018-10-17 19:53] TomAugspurger commented on #23212
Just did this locally. Will push once tests all finish. Right now I have

- `_from_sequence(cls, scalars: Sequence[Period], dtype: PeriodDtype, copy=False)`
- `_from_factorized(cls, values: Sequence[Period], PeriodArray)`
- `_from_datetime64(cls, values: ndarray[datetime64[ns]], freq: Freq, tz: Optional[tzinfo])`

The PeriodArray takes

- ndarary[int], the physical storage values, and a freq. For

[2018-10-17 19:57] jorisvandenbossche commented on #23212
That sounds good. Only, is the `_from_factorized` a typo? As I thought the factorization values were the ordinals, not Period objects.

[2018-10-17 20:01] jbrockmendel commented on #23185
I do have a branch about ready for the arithmetic fixes, will open a PR later today.

[2018-10-17 20:01] TomAugspurger commented on #23212
Yes, a typo, fixed. I wish we could really run MyPy on these types :)

[2018-10-17 20:36] jreback commented on #23212
private _from_ methods for construction seem fine as long as they are well defined and limited

i DOnt want to see public from_ methods

[2018-10-17 20:46] jorisvandenbossche commented on #23212
And do you see any in the discussion above? (I don't think the discussion is about this)
That said, `IntervalAray` has `from_breaks`, `from_array` and `from_tuples`, is that a problem? Or how would you like to see this differently?

[2018-10-17 20:57] jreback commented on #23212
no that’s the point - I thought u were adding public methods

[2018-10-17 21:03] jorisvandenbossche commented on #23212
This discussion is about the different internal constructors (and also `__init__`, since that overlaps with that)

[2018-10-17 22:34] jreback commented on #23212
@jorisvandenbossche I understand. However things get conflated and we end up talking about everything.

For PeriodArray itself I think you can just adopt the current structure, meaning ``__init__`` is relatively lmited function (IOW it can only accept a PeriodArray itself), and we have a ``period_array`` function that can do inference (e.g. accept a list-like of ndarrays). I think this would satis

[2018-10-17 22:38] TomAugspurger commented on #23212
I'm finding it somewhat convenient, and not costly, to also accept `Series[period]` and `PeriodIndex` as well.

Aside from that, it seems like we're in agreement.

[2018-10-17 22:46] jreback commented on #23212
yep that seems ok to me.

just want these to be consistent as possible across the EA, the model we have now is integer_array (though period_array is doing more)

[2018-10-17 23:24] jbrockmendel opened #23216 "API: Which DatetimeIndex/TimedeltaIndex ops should infer frequency?"
In DatetimeIndex/TimedeltaIndex arithmetic operations sometimes we return `type(self)(values, freq="infer")` and other times we return `self._shallow_copy(values, freq=None)`.  I don't see any clear logic guiding when to do which.  Anyone else know?

[2018-10-18 02:09] TomAugspurger commented on #23185
I replaced the list of issues with a simple board at https://github.com/pandas-dev/pandas/projects/4

I think everyone has permission to add / move things around there.

[2018-10-18 02:16] TomAugspurger commented on #23077
I'm working on this now.

[2018-10-18 05:32] sayankolay opened #23219 "Unable to merge pandas dataframe with categorical values."
master_frame = pd.merge(rounds2, companies, how='inner', on='permalink')

#### Problem description

Unable to merge pandas dataframe with categorical values. Only the dataframe headers get merged. the dataframe remains empty.

File 1 details (rounds2)
rounds2.dtypes
company_permalink           object
funding_round_permalink     object
funding_round_type          object
funding_round_code

[2018-10-18 06:40] teto opened #23220 "Option to change pandas.Timestamp format when printing dataframe"
#### Problem description
To use pandas.rolling, I had to convert my float64 nanoseconds timestamps to pandas.Timestamp.
Timestamps now appear nicer on matplotlib plots but when debugging and plotting `df.head()`, i would like to see the timestamp in nanosecond format rather than `Timestamp.__repr()__` that prints the day/month/year (in my case the same for every row).

Every (stackoverflow) I coul

[2018-10-18 09:16] ctivanovich commented on #23054
So weird, I can't reproduce it with a toy example, but it definitely happens on my full data set. The data set I have to work with also had a few hand-entered "No data" values that I dropped by string type and replaced with np.nan before doing the datetime conversion, maybe that is related? I also included this aspect in my recreation attempt, but, it's not causing problems. Maybe there is some ot

[2018-10-18 09:20] #23054 closed

[2018-10-18 10:01] vuminhle commented on #21608
Agree with you guys.

[2018-10-18 10:01] #21608 closed

[2018-10-18 10:05] FHaase commented on #23154
As flake8 is already being used, wouldn't it make sense to use flake8 plugins to check for those things?

- [flake8-rst](https://github.com/kataev/flake8-rst) For code in docstrings and *.rst files
  Pull request created on [conda-forge](https://github.com/conda-forge/staged-recipes/pull/6853)
- [flake8-docstrings](https://github.com/PyCQA/flake8-docstrings) A plugin to flake8 to include checks pr

[2018-10-18 11:35] TomAugspurger commented on #23204
Thanks for the report. Interested in submitting a PR fixing it?

[2018-10-18 14:06] TomAugspurger commented on #23185
Last biggish design discussion: what is `.values` for the index and series? Do we want to have that discussion here, or split it off?

I think @jbrockmendel's preference is for `.values` to be lossless. I think this is a good principle to shoot for. We can't say that it's always an ndarray, (categorical), so lossless / no-copy is a good alternative.

We have some intermingling factors here:

1. `d

[2018-10-18 14:26] taljaards opened #23222 "Resampling using `nunique` causes multi-level columns to lose their level names"
#### Problem description

Resampling using `nunique` causes multi-level columns to lose their level names.
https://nbviewer.jupyter.org/gist/taljaards/20e945b7572aea1f4eb4aa4c6e823037

I only ran into this issue with `nunique`; I do not know if this is also the case for some other functions.

#### Expected Output
To not drop the level names, as in the first resample example.

#### Output of ``pd.s

[2018-10-18 15:17] philippchistyakov commented on #4094
upd

[2018-10-18 15:36] jmrr commented on #22894
Raised #23197. Some of the CI tests were failing, particularly re: py27, should I also fix these before the review?

[2018-10-18 15:58] #20377 closed

[2018-10-18 16:07] #22556 closed

[2018-10-18 16:07] sayankolay commented on #23219
import pandas as pd
import numpy as np
companies = pd.read_csv("https://cdn.upgrad.com/UpGrad/temp/d934844e-5182-4b58-b896-4ba2a499aa57/companies.txt", sep='\t', encoding = "ISO-8859-1")
rounds2 = pd.read_csv("https://cdn.upgrad.com/UpGrad/temp/4c3b5ed0-e5dc-4838-89a2-173d8707d857/rounds2.csv", encoding = "ISO-8859-1")
rounds2['permalink'] = rounds2['company_permalink']
master_frame = pd.merge(rou

[2018-10-18 16:13] TomAugspurger commented on #23219
Can you make a short example that doesn't rely on external data? E.g. if
that link goes away, we'd still want to reproduce the issue.

Could you post the traceback, expected output, and `show_versions` like
requested?

Also, it looks like you don't have any categorical columns.

On Thu, Oct 18, 2018 at 11:07 AM sayankolay <notifications@github.com>
wrote:

[2018-10-18 16:33] sayankolay commented on #23219
Hi Tom,

Thanks for your prompt response.

I am facing this issue only on those 2 files, otherwise i can use the merge function well.

This is the actual screenshot.. https://ibb.co/b2eubL

As you can see if i show head of the two dataframes i can see rows, but its once merged the new daraframe only has headers.

[2018-10-18 16:41] TomAugspurger opened #23224 "Support None in integer_array"
It mostly works

[code]

aside from

[code]

[2018-10-18 17:12] skatenerd opened #23225 "Pandas 0.23.4 reindexing `ffill` failure"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This issue is very similar to #5569, except in the context of a `MultiIndex`.  The behavior in question appears to have _changed_ between `0.22.0` and 0.23.4`.

The [explanation](https://github.com/pandas-dev/pandas/issues/5669#issuecomment-30170618) given in #5569 makes sense for regular indexes, but I'm havin

[2018-10-18 17:34] Sobes76rus opened #23226 "Reindex error after df.loc + pd.pivot_table"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`df3` is `Empty DataFrame`
[code]

`pd.DataFrame().reindex(columns=['a', 'b', 'c'])` executed correctly.
So `df3.reindex(columns=['a', 'b', 'c'])` should be too, but instead raise exception

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

commit: None
python: 3.6.2.final.0
python-

[2018-10-18 17:36] jreback opened #23227 "BUG/EA: groupby on an EA should return the EA type"
[code]

[2] should be of type Int64; IOW this aggregation needs to be passed thru to the EA _from_sequence

[2018-10-18 17:40] jreback opened #23228 "ENH: support EA types in read_csv"
[code]

we already support Categorical, would be nice to have a general interface to this

Parsing with the actual dtype is also broken (as it parses to object)
[code]

[2018-10-18 17:42] nmusolino opened #23229 "Styler class should have a `pipe()` method, akin to DataFrame.pipe()"
#### Problem description

Users may want to create functions that apply customized styling to a dataframe or styler object.

In order to make these functions composable, a convenient signature is `f(styler) -> Styler`, so that a user can chain multiple such functions together, in a "mix-and-match" fashion.  (N.B. Such functions can obtain the underlying dataframe using the `styler.data` attribute.

[2018-10-18 17:44] kevswanberg commented on #23015
I was able to get enchant to install by linking libenchant-2.so to libenchant.so

    cd /usr/lib && sudo ln libenchant-2.so libenchant.so

It looks like it is working and I'll report back if anything fails.

I think we could get the package to work if we added libenchant-2 to one of the valid library versions that it looks for.

[2018-10-18 18:32] sergeny opened #23230 "DataFrame.apply unintuitively changes int to float because of another column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The column 'a' above has type integer, not float. The `apply` function should not change the type just because the dataframe has another, unrelated float column.

I understand, why it happens: it detects the most suitable type for a Series. I still consider it unintuitive that I select a group of columns to app

[2018-10-18 19:57] TomAugspurger commented on #23172
@shoyer do you have any guesses about why this would have been broken by
https://github.com/numpy/numpy/commit/607842ab59b0479c485eb6fa30778f47dccc224a?

If not, I'll revisit this tomorrow.

[2018-10-18 20:38] shoyer commented on #23172
The main thing that commit changes is that NumPy functions like `np.sum()` are now defined with decorators, so they point to wrappers generated with `functools.wraps`.

Since pandas isn't using `__array_function__` yet, I have two guesses about what could be going wrong here (but neither feel especially likely):
1. pandas does some sort of deep-introspection on NumPy function objects that apparent

[2018-10-18 21:03] stuarteberg commented on #23139
I did a little more digging, to see if functions besides`Series.value_counts()` also exhibit multi-core behavior.  Here are my results.  Maybe a core developer can take a look and discern a pattern.

(In the statements below, `s` is a large `pd.Series` with random data.)

<hr>

On my test machine, the following functions use every CPU core available, (consuming 80-100% of cycles per core).

<detai

[2018-10-18 21:57] TomAugspurger commented on #23230
As the docstring says,

either the DataFrame's index (``axis=0``) or the DataFrame's columns
(``axis=1``).

so your lambda is getting a row like

[code]

which has float dtype (float is the common dtype of int and float).

[2018-10-18 21:57] #23230 closed

[2018-10-18 22:03] TomAugspurger commented on #23226
Look at `df3.columns`, it's a MultiIndex. You need to reindex it with another MultiIndex or list of tuples, or pass `level`

[code]

[2018-10-19 00:11] AbdouSeck opened #23234 "Strange implicit string to datetime coercion during pd.Series comparisons"
I can see this being a feature for people that trust that their string formatted dates are easily parsable. But when this implicit coercion of string formatted dates to datetime objects is neither documented nor fully guaranteed to yield the right thing (because `2/1/2018` can be either `%d/%m/%Y` or `%m/%d/%Y` formatted), it's hard for many to realize what's going on here. This is evidenced by [t

[2018-10-19 00:55] Sobes76rus commented on #23226
You are right. Thank you. Sorry for bothering

[2018-10-19 01:10] Sobes76rus commented on #23226
But why `df3.columns` is MultiIndex?

[code]

In above example i change condition `df1['a'] == 123` to `df1['a'] == 0`.
Now `df2` is not `Empty DataFrame`
So df3 now
[code]

And df3.reindex(columns=['a', 'b', 'c']) works correctly

[2018-10-19 01:32] Sobes76rus commented on #23226
[code]

If instead `df2` we take `Empty DataFrame` as `pd.DataFrame(columns=['a', 'b', 'c'])`
then `df3.columns` will be `Index`

[2018-10-19 01:38] jreback commented on #23139
any kind of parallism is likely from numexpr
which we use in expressions and comparisons
eg df + 1 or df == 1

[2018-10-19 02:28] stuarteberg commented on #23139
OK, that explains why `(s == s)` uses all cores.

Even so, it seems strange that `s.copy()` uses all cores.  Does `Series.copy()` use `numexpr`?

Also, does the `numexpr` theory explain the difference between the following two lines?

[code]

(Sorry if that's a dumb question; I don't know much about the pandas internals.)

[2018-10-19 04:05] sayankolay commented on #23219
It was fixed by converting the column to lower case. merge function is case sensitive. 👍

This is the code
companies['permalink_final'] = companies['permalink'].str.lower()

[2018-10-19 04:05] #23219 closed

[2018-10-19 04:54] jimmywan commented on #20643
Note that this also affects what happens when you try to set a value to `None`:
[code]

Setting a value to `None` via `.iat` fails because `None` is not a valid value for an `int64` and it won't upcast.
[code]

Setitng a value to `None` via `.iloc` succeeds because it will upcast to `float64`.
[code]

[2018-10-19 05:11] jimmywan opened #23236 "DataFrame.iat will create new column if .iat is used to set None on int Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is problematic for multiple reasons.
 - inconsistency between iloc and iat.
 - creation of a brand new column is almost surely not the intended/expected behavior
 - At the very least, I would expect it to simply bail on the operation with a warning about incompatible types.

This is likely related to the n

[2018-10-19 05:15] jimmywan commented on #23236
I tried it with 0.23.4 and had the same output.
<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 3.13.0-24-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.utf8
LOCALE: en_US.UTF-8

pandas: 0.23.4
pytest: None
pip: 9.0.3
setuptools: 39.0.1
Cython: 0.27.3
numpy: 1.14.0
scipy: 1.0.0
pyarrow: N

[2018-10-19 10:45] jreback commented on #23139
.copy() is ultimately just np.copy at lowest level
ok multiple arrays (index and values)

all operations call .copy (except inplace)

[2018-10-19 12:00] TomAugspurger commented on #22414
This was fixed by https://github.com/pandas-dev/pandas/pull/22479 (and perf will be improved by https://github.com/pandas-dev/pandas/pull/23155)

[2018-10-19 12:00] #22414 closed

[2018-10-19 12:08] #22022 closed

[2018-10-19 12:08] #22922 closed

[2018-10-19 12:30] jorisvandenbossche commented on #22414
@xhochy BTW, in the meantime, there is a non-ndarray backed example ExtensionArray (based on a pyarrow array) that is used for testing (since this was a problem for you to write a test).

[2018-10-19 12:55] #20353 closed

[2018-10-19 13:02] #23098 closed

[2018-10-19 13:13] #22484 closed

[2018-10-19 13:48] PowerToThePeople111 commented on #18152
Got the same problem here. Dask gives the same error message by the way. Cause it calls pandas in the end...

[code]

[2018-10-19 14:29] stuarteberg commented on #23139
Nice tip, thanks.  OK, I verified that, yes, `np.copy(a)` does indeed use all cores.  So that explains many of the above results.

However, some are still mysterious, e.g. `Series.any()` is multicore.  I thought the `numexpr` theory might explain it, but then I tried ` export NUMEXPR_NUM_THREADS=1` before running my test.  It seems to make no difference -- `s.any()` still uses all cores, while `np

[2018-10-19 14:32] stuarteberg commented on #23139
I'll write something up.  Which section(s) of the docs should I edit?  I think the following sections are candidates:

- [Install](https://pandas.pydata.org/pandas-docs/stable/install.html)
- [Enhancing Performance](https://pandas.pydata.org/pandas-docs/stable/enhancingperf.html)
- [FAQ](https://pandas.pydata.org/pandas-docs/stable/gotchas.html)

[2018-10-19 15:53] wmatern opened #23239 "Duplicated column name causes inconsistent ValueError during assignment to a unique column"
#### Code Sample, a copy-pastable example if possible

[code]
However, the following works without an error message:
[code]
#### Problem description
I believe ValueError should not be thrown in the first example. The issue appears to only occur when there is a duplicated column. Interestingly, there appears to be some link to the alphabetical order of the column names.

This appears similar to the

[2018-10-19 17:17] TomAugspurger opened #23241 "Gaps in ExtensionArray test coverage"
We need tests that assert

1. `fillna` raises when passed an array of the wrong length
2. `fillna` returns a copy when there are no missing value
3. `take` raises when passed an invalid object for `fill_value` (may be somewhat tricky to do in a base test).

These tests would go in https://github.com/pandas-dev/pandas/blob/master/pandas/tests/extension/base/methods.py and https://github.com/pandas-

[2018-10-19 17:22] randomgambit commented on #23189
ha funny I got this same error this morning and was scratching my head the same. glad to know this is due to nulls

[2018-10-19 17:33] jreback commented on #23139
a section in FAQ i think would be good

[2018-10-19 17:46] louispotok commented on #17898
@heydenberk just retried my sample on master and the output is the same, so looks like it hasn't been fixed.

[2018-10-19 18:04] thoo commented on #23241
@TomAugspurger  I am going to work on this.

[2018-10-19 18:16] TomAugspurger commented on #23241
OK thanks. If writing a test for take seems difficult, feel free to just
fix the fillna ones.

On Fri, Oct 19, 2018 at 1:13 PM Thein Oo <notifications@github.com> wrote:

[2018-10-19 18:18] thoo commented on #23241
@TomAugspurger  Thanks.

[2018-10-19 21:45] Dr-Irv opened #23242 "Missing Values and Categoricals - inconsistent dtypes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the above, if you convert a `Series` using `astype('category')`, and the `Series` has all `NaN` values, the underlying dtype is `float`, while if you pass `CategoricalDtype([])`, the underlying dtype is `object`.

There are a couple of issues that I don't know how to deal with:

1. If you have categories of

[2018-10-19 21:57] kokes commented on #2657
Isn't this a duplicate of #6966? I've just tested the second example and it does work.

[2018-10-19 22:01] jreback commented on #2657
yep

[2018-10-19 22:01] #2657 closed

[2018-10-19 22:14] mroeschke commented on #23234
Your examples do not raise any errors on master; was this fixed recently @jbrockmendel?
[code]

[2018-10-19 22:21] mroeschke commented on #23239
Thanks for the report. Investigations and PR's welcome!

[2018-10-19 22:22] andrfgs opened #23243 "Exception: 'Series' objects are mutable, thus they cannot be hashed"
#### Problem

I am trying to explore the **[GDELT](https://blog.gdeltproject.org/gdelt-2-0-our-global-world-in-realtime/)** dataset. I read the file as a csv, having downloaded it from the website. Their initial csv file does not contain the header, but I *added them from the Google Big Query col names*. The header is correct, that I have confirmed multiple times, well, at least it containts the e

[2018-10-19 22:30] mroeschke commented on #23243
`.loc` should be called with square brackets.

[code]

[2018-10-19 22:30] #23243 closed

[2018-10-19 22:36] andrfgs commented on #23243
*facepalm*

Sorry then. I must have misread somewhere. I am very sorry for not carefully read the documentation.

Just one more thing, is the following valid syntax:
`gdelt_data = gdelt_data[["actor1_country_code"] == "USA"]`

I know this can be used with integers but not with strings?

[2018-10-19 22:43] jbrockmendel commented on #23234
I'm not aware of any recent changes that would be relevant.

[2018-10-19 22:44] mroeschke commented on #23243
Technically yes, but it will not give you the result you want.

You can read more about boolean indexing here: https://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing

[2018-10-19 22:46] andrfgs commented on #23243
Thank you very much for the answer.

[2018-10-20 01:13] eromoe opened #23244 "Groupby apply lost data"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have a df
[code]

result = df.groupby(['store_id', 'product_id']).apply(func, *args, **kwargs)
result(3 index):
[code]

select by sid and pid( after apply)

[code]

Out
[code]

#### Expected Output

select by sid and pid(without apply)
[code]

out
[code]

[code]

#### Output of ``pd.show_versions()``

<detail

[2018-10-20 01:41] eromoe commented on #23244
@jreback

[2018-10-20 02:35] ryankarlos commented on #7211
I would like to take this but is there a link to a script where the original error message is being generated from ?

[2018-10-20 04:18] shoyer commented on #23172
I think the most likely culprit for this is that these changes to NumPy break `inspect.getargspec` and `inspect.getfullargspec`. This gets called internally in pandas [here](https://github.com/pandas-dev/pandas/blob/145c2275e3560edc30ff418a57df67ba3c4c30d6/pandas/core/apply.py#L127), which I'm pretty sure is in the code path for these method calls.

[2018-10-20 04:40] jreback commented on #7211
see https://github.com/pandas-dev/pandas/issues/7209#issuecomment-43936867 and comment above

[2018-10-20 05:45] cgangwar11 commented on #23057
If this issue is not yet resolved can I work on this

[2018-10-20 06:09] shoyer commented on #23172
Nevermind that -- my proposed NumPy patch didn't fix this failure in pandas, so probably something else is going on.

[2018-10-20 09:24] sanjok-bless opened #23246 "What if I need to get columns with mixed types?"
#### Problem description
According to the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.errors.DtypeWarning.html), we get DtypeWarning: Columns (0) have mixed types if the data contains integers and strings and it is suggested to set low_memory = False, and this removes the warning. But my task is the opposite: to define columns with mixed types!

At first, I though

[2018-10-20 11:39] jreback commented on #23246
this is a usage question, try StackOverflow

you should use .select_dtypes to do this

[2018-10-20 11:39] #23246 closed

[2018-10-20 11:43] jreback commented on #23244
again this example is way to complicated
you must demonstrate what the issue is
using an external file is not germane here - this must be a self contained copy pastable example

[2018-10-20 13:53] brandon-rhodes commented on #2657
I was commenting on Pandas issues back in 2013 — five years ago? Wow, I've used Pandas for a long time!

I'm happy to hear that clipping against series is now possible!

[2018-10-20 14:15] MaricheloGv commented on #23225
I am interested in helping with this problem. Let me please

[2018-10-20 14:36] jreback commented on #23225
all issues r fair game

[2018-10-20 15:50] skatenerd commented on #23225
@MaricheloGv Just a heads up, this may actually be Intended Behavior

[2018-10-20 15:56] zfrenchee opened #23250 "Why does df.merge(x) not work when x is a pd.Series?"
#### Code Sample, a copy-pastable example if possible

[code]

We can all keep using .to_frame(), but I feel like the desired behavior of merging a dataframe with a series is well defined.

Food for thought...

[2018-10-20 16:44] svenharris opened #23251 "ENH: Allow use of keep="all" in duplicated"
#### keep="all" as parameter option in `duplicated`

My view is that a more intuitive parametrization of the `duplicated` function would be that `keep='all'` should allow you to keep all, since `keep=False` kind of doesn't make any sense.

I have started on a pull request but had not realised how tightly coupled the `drop_duplicates` and `duplicated` functions are (but it makes sense of course) -

[2018-10-20 17:08] bmoscon opened #23253 "datetimeindex.to_period not behaving as expected."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

By changing the period to 5 minutes, I expected the output to be:

[code]

but it is

[code]

Which makes it look like the actual period is one minute ('T') since thats what the output corresponds to, but the freq shows correctly as 5T.

Have I misunderstood what `to_period` should return? or is this a bug?

I

[2018-10-20 17:15] juergenDo opened #23254 "read_fwf: encoding is ignored when memory_map is True"
[code]

#### Problem description

I need to read a file that contains German Umlaute (äüö).
pd.read_fwf() works great as long as memory_map is not True.
When enabling memory_map (as in the example above), a Unicode exception is thrown at the first position of a German Umlaut. I can toggle the exception by enabling/disabling memory_map.

#### Expected Output

option 1) Preferably encoding is suppor

[2018-10-20 19:10] kprestel commented on #23228
I think I have a fix for the fix part of this issue.

I will create a PR and continue working on the second part of the issue.

[2018-10-20 19:36] 1kastner opened #23257 "Struggle to build docs"
#### Command

[code]
#### Problem description

I thought that way I could build the docs with just the steps described at https://pandas.pydata.org/pandas-docs/stable/contributing.html#requirements. I use Linux-as-a-Subsystem on a Windows machine. The C code I successfully installed.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6

[2018-10-20 19:38] TomAugspurger commented on #23257
That's an issue with IPython 7.0, which was recently fixed on master https://github.com/ipython/ipython/pull/11402

For now, you can run IPyhton master or downgrade to 6.x

[2018-10-20 19:40] TomAugspurger commented on #23254
Thanks for the report.

Any interest in working on a fix? If not, it'd be valuable if you could write a test case (write some iso8859_1-encoded data to a BytesIO buffer, and read the back in with `read_fwf`).

[2018-10-20 19:55] TomAugspurger commented on #23253
cc @jbrockmendel. Not sure if this is expected, but it does look strange.

[2018-10-20 20:35] jbrockmendel commented on #23253
That is weird.  Possibly related to #17666?

[2018-10-20 20:42] mroeschke commented on #23251
So `keep='all'` would be the same as `keep=False`?

The `keep='all'` ("keep all the duplicates") sounds likes it's giving the opposite message as `keep=False` ("keep none of the duplicates"). I think its also important for `duplicated` to have the same argument options as `drop_duplicates`.

[2018-10-21 00:05] thoo commented on #23241
@TomAugspurger  It is not done yet. I just want to make sure I am on the right track. Could you please take a look? Thanks.

[2018-10-21 00:46] mroeschke commented on #23250
This feature will be available in the next release (v0.24.0) or currently on master. xref https://github.com/pandas-dev/pandas/pull/21223

[code]

[2018-10-21 00:46] #23250 closed

[2018-10-21 00:50] zfrenchee commented on #23250
@mroeschke incredible!

[2018-10-21 00:57] mroeschke commented on #9750
Closing as it looks like the proper documentation was added.

[2018-10-21 00:57] #9750 closed

[2018-10-21 01:04] mroeschke commented on #9420
This may have been fixed by https://github.com/pandas-dev/pandas/pull/18481, but we would need a reproducible example otherwise.

[2018-10-21 01:04] #9420 closed

[2018-10-21 01:31] mroeschke commented on #10948
Closing as an old issue, but feel free to reopen if could show an small example of the behavior you'd like to see.

[2018-10-21 01:31] #10948 closed

[2018-10-21 01:40] mroeschke commented on #11936
The default behavior of `limit=None` and a `limit_direction` is now to go to the end of the sequence:

[code]

[2018-10-21 01:40] #11936 closed

[2018-10-21 03:53] #23156 closed

[2018-10-21 06:31] svenharris commented on #23251
Yeah I agree with the point that keep=all and keep=False sound opposite, that's the grounding of me raising this issue because I don't think keep=False sounds meaningful for the duplicated function (when you actually want to keep all). It only makes sense in the drop_duplicates function when you don't want to keep any

[2018-10-21 08:02] juergenDo commented on #23254
Test case:

[code]

[2018-10-21 17:13] eriknil commented on #23075
I'll take a look at this

[2018-10-21 17:17] mroeschke commented on #23251
I am guessing the `keep` arguments are the same between both to keep synergy between `duplicated` and `drop_duplicates`.

`duplicated` is usually used as a mask, so I think the train of thought is "I don't want to keep duplicates, so mark all of them as True"

Overall though I am -1 of having two keyword arguments have the same effect, but I am open to opinions of other users and core devs.

[2018-10-21 17:39] 1kastner commented on #23257
I downgraded to 6.x and now the latex source was successfully created.

[2018-10-21 17:39] #23257 closed

[2018-10-21 18:54] 1kastner commented on #23103
After #23257 was resolved I had a brand new documentation with `latex_forced` in my hands.
On the last page there is the _PYTHON MODULE INDEX_ with one entry which is _pandas_ and a working reference.

[2018-10-21 19:57] cpcloud commented on #23075
Working with @eriknil at PyData NYC 2018 mini-sprints.

I don't think that it's possible to determine whether unused directives are being used. The set of unused asv directives is infinite and includes any attribute on the object that isn't one that is recognized by asv.

Are you proposing limiting the class variables that can be defined?

For example, how is it possible to know that `goal_time` w

[2018-10-21 21:59] dsm2173 commented on #7211
Hey Jeff, @jmp392 and I are taking a stab at this. We traced the error to a .pxi file and were able to edit what the raised exception stated to be more informative but .pxi files are listed in gitignore, this is our first PR, we assume these filetypes are in the gitignore for a reason, should we remove the .pxi from the gitignore and submit a PR? we do not see any other way to bypass this issue

[2018-10-21 22:15] jreback commented on #7211
edit the .pxi.in as the .pxi are generated from these

[2018-10-21 23:03] mroeschke opened #23267 "BUG: date_range with negative, non-Tick frequencies returns an empty DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

[code]

[2018-10-21 23:05] mroeschke opened #23268 "BUG: date_range with negative, non-Tick frequencies returns an empty DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

[code]

[2018-10-21 23:10] mroeschke opened #23269 "BUG: date_range with negative, non-Tick frequencies returns an empty DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

[code]

[2018-10-21 23:28] mroeschke opened #23270 "BUG: date_range with negative, non-Tick frequencies returns empty DatetimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

[code]

[2018-10-22 02:03] eromoe commented on #23244
It is the minimum example, I had trimed a lot of code.
I don't know how to demonstrate this correctly(non-English speaker) , it just lost data for me.

It also may by the data style in that excel , so I uploaded .

I had said  wrong data with groupby apply (you see, each date just have one record) ：
[code]
                                   store_id                            product_id         da

[2018-10-22 02:03] eromoe commented on #23244
1

[2018-10-22 05:19] eromoe commented on #23244
It is the minimum example, I had trimed a lot of code.
I don't know how to demonstrate this correctly(non-English speaker)

I had said  wrong data with groupby (every date just have one record) ：
[code]
                                   store_id                            product_id         datetime_create  stockout_min
46520  81bc85dc-bf4b-44ef-98fa-fa13a1f54142  96ed6132-fb17-4511-b31c-5bbea2f5

[2018-10-22 10:35] LorenzoBottaccioli opened #23272 "Can not install pandas"
Hi I'm tring to intsall pandas but I get this error:

[code]

How to solve it?