[2021-06-07 12:38] Aporbel commented on #29130
merge_asof still doesnot work

[2021-06-07 13:09] MarcoGorelli commented on #29130
@Aporbel please open a new issue with a reproducible example

[2021-06-07 13:16] TomAugspurger commented on #35169
Agreed with this.

[2021-06-07 13:16] Dr-Irv commented on #41848
The supported way to do this is to place your objects in your `ExtensionArray` class and pass that to `Series`.  So if you create an `ExtensionArray` subclass called `QuantityArray`, then you would do:
[code]
pandas will then set the dtype of your series to `QuantityDtype`, since that is the dtype of `QuantityArray`.

Will this work for you?

[2021-06-07 13:34] simonjayhawkins commented on #40169
I am planning to continue with some PyArrow string array changes after the rc (add arithimetic ops, min and max, more documentation and carry on with some perf improvements of the str accessor methods)

this list of open PRs milestone 1.3 https://github.com/pandas-dev/pandas/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.3 contains some doc changes, which can also be done during the rc period.

#41718 is

[2021-06-07 14:25] gsheni commented on #20521
What if we added an argument `custom_metadata` to the `to_parquet` function? end-users could add any key value pair they wanted, so long as there wasn't a `pandas` key.

[2021-06-07 14:33] simonjayhawkins commented on #41434
@TLouf can you open a PR with the proposed changes

[2021-06-07 15:32] mocquin commented on #41848
This does work, but I find it heavier than what I hoped for : semanticaly, my quantity object `[1, 2, 3]*m` is basically a 1D array of values with metadata, so the need for `QuantityArray` feels questionnable for the user point of view. I understand the purpose of the `QuantityArray` class is to wrap an object to exibit proper behavior with pandas interface. But I was hoping for a ligther way to c

[2021-06-07 15:46] mzeitlin11 commented on #41805
Thanks for reporting this @tlaytongoogle! Could you please add an informative title to the issue?

[2021-06-07 15:49] tlaytongoogle commented on #41805
Title added.

[2021-06-07 16:03] simonjayhawkins commented on #41241
fixed in commit: [1fb626d0252e8c68e2ad9f7b863c709c67498b1d] BUG: Handle zero-chunked pyarrow.ChunkedArray in StringArray (#41052)

@bob-zhao-work can you try on master

[2021-06-07 16:28] jenkc opened #41855 "pandas.notnull documentation showing code examples from pandas.notna"
The code examples are from the previous page in the documentation. Need examples for using notnull please.
Thanks!

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.notnull.html

[2021-06-07 16:38] jbrockmendel commented on #41848
xref #27462 for the analogous issue for `isna`.

The solution here is going to involve having a check in infer_dtype along the lines of

[code]

[2021-06-07 16:47] mzeitlin11 commented on #41855
Thanks for pointing this out @jenkc! This happens because `notnull` is purely just an alias for `notna` (the same problem exists for `isnull`, and the associated `Series`/`DataFrame` methods). To avoid duplicating examples, I'd guess some of the shared doc machinery could be used to generalize over `isna/isnull` and `notna/notnull`

[2021-06-07 16:47] #15146 closed

[2021-06-07 16:52] jenkc commented on #41855
Thanks for the clarification! Was trying to use these for the first time and did not know that notnull and isnull are aliases.

[2021-06-07 17:37] mzeitlin11 commented on #41837
Thanks for the request @kerrickstaley!  For an existing round-tripping option, does `to_pickle` work for your purposes? (or functions like `to_csv` if you want something more readable)

[2021-06-07 17:38] simonjayhawkins commented on #40946
first bad commit: [3b2c8f62cbe4d48f8affada223c838418e0daeaf] BUG: nonexistent Timestamp pre-summer/winter DST w/dateutil timezone (#31155)

looks like this was an intentional code change, however, the release note did not mention this.

[2021-06-07 17:54] simonjayhawkins opened #41856 "API: astype("string") behavior"
in https://github.com/pandas-dev/pandas/pull/39908#issuecomment-855889758 @jorisvandenbossche wrote

---

Bringing the "deferred" storage mode lookup for `StringDtype` discussion (originally here: https://github.com/pandas-dev/pandas/pull/39908#discussion_r585573328) in the main thread, and trying to recap.

Currently, doing `pd.StringDtype()` (without specifying the storage), will already look up

[2021-06-07 18:55] jorisvandenbossche commented on #24860
And I suppose changing the implementation from NotImplementedError to AbstractMethodError ?

[2021-06-07 19:54] jbrockmendel commented on #38918
So you'd be relying on overflow so effectively using e.g. 255 as the sentinel.  I'm not sure off the top of my head how that will interact with the usage of `get_indexer`, so it may be tricky.  I'd focus my efforts on #37930

[2021-06-07 21:30] jbrockmendel commented on #24144
Index.where now dispatches to Index.putmask, which has a non-object-casting implementation on ExtensionIndex.  closing.

[2021-06-07 21:30] #24144 closed

[2021-06-07 21:30] jbrockmendel commented on #20617
There is now an ExtensionArray.isin; closing.

[2021-06-07 21:30] #20617 closed

[2021-06-07 21:45] smithto1 commented on #41556
take

[2021-06-07 21:56] jbrockmendel commented on #41831
@jschendel I've got a branch trying to fix this and could use your input as ive broken a bunch of test_is_overlapping cases.

The main thing ive done is in `IntervalTree.__init__` defined `self._na_count = len(mask) - mask.sum()`, then 1) edited is_monotonic to return False if `self._na_count > 0` and 2) edited is_overlapping to return `True` if `self._na_count > 1`

Finally I've edited IntervalIn

[2021-06-07 22:44] kerrickstaley commented on #41837
`to_pickle` works, but its downside is that it doesn't produce a human-readable test.
`to_csv` mostly works, but it doesn't work in the case where you're testing an empty dataframe, and maybe there are other cases where round-tripping through CSV doesn't preserve column types; I'm not sure.

So I think there is still a use-case for a `to_expr` method.

[2021-06-08 01:47] jbrockmendel commented on #41847
This is the mode that DateOffset uses.  A PR to clarify the docs on this point would be welcome.

[2021-06-08 01:49] jbrockmendel commented on #41843
Seems reasonable.  PR would be welcome.

[2021-06-08 01:53] jbrockmendel commented on #41764
This is a consequence of the method falling back to using _masked_arith_op, which in this case is working as intended.  I for one would be OK with deprecating that behavior, but we are talking about an API change, not a bug.

[2021-06-08 02:46] davidwales commented on #41847
Is there anything in pandas that will allow you to construct a `DateOffset` from two dates, similar to the first mode of `relativedelta`?

[2021-06-08 02:49] jbrockmendel commented on #41847
No, the closest thing would be `pd.tseries.frequencies.to_offset(end-start)`, but that will give you a Tick offset, which behaves like a timedelta

[2021-06-08 02:52] davidwales commented on #41847
I know there is hesitance to add to the pandas API. Is it likely that a PR adding functionality to create a `DateOffset` from two dates would be accepted into pandas?

[2021-06-08 03:22] huonw opened #41865 "Timezone specification like +HHMM without colon gives incorrect minutes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-08 04:43] rhshadrach commented on #41826
`np.log(idx).get_loc(2.0, method='nearest')`

[2021-06-08 06:07] chaostheory commented on #32993
Thank you to everyone working on Pandas. It's a great library and tool.

Now that's out of the way, I just wanted to confirm that this method still drops rows that are NOT duplicates.

It was one of the hardest bugs to pinpoint. Even after looking at my data, I still don't understand why this method would think that the rows it dropped were dupes. If any project member is interested in looking at

[2021-06-08 09:31] smithto1 commented on #28122
take

[2021-06-08 11:06] TLouf commented on #41434
Done

[2021-06-08 11:08] simonjayhawkins commented on #41434
Thanks @TLouf

[2021-06-08 11:43] simonjayhawkins commented on #41855
or maybe add a basic docstring to the alias to let users know it's an alias and link to the other.

[2021-06-08 12:52] Tasty213 opened #41871 "ENH: Add option to surpress timezone warning"
I have a column of DateTime objects that includes their timezone information. However, I know that all the timezones will always be the same. When I call `df.dt.to_period('M')` I get the following error:
[code]

Should be able to pass a variable to suppress the warning

[2021-06-08 13:32] simonjayhawkins commented on #41815
maybe open a new issue and we can close this one now that #41818 is merged.

[2021-06-08 13:36] darkdragon-001 opened #41872 "BUG: Pie chart with categorical values fails"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

It should be possible to plot a pie chart with categorical values.

Traceback:
<details><pre>
T

[2021-06-08 13:50] darkdragon-001 commented on #41872
I was using it wrongly. Correct way:
[code]

[2021-06-08 14:06] simonjayhawkins commented on #41096
removing the milestone

[2021-06-08 14:07] simonjayhawkins commented on #40839
removing milestone for now, can add back later

[2021-06-08 14:23] jreback commented on #41871
no you should fix your code, this is the point

[2021-06-08 14:23] #41871 closed

[2021-06-08 14:39] jorisvandenbossche opened #41873 "PERF: performance regression in indexing UInt64Index with an array-like"
See eg https://pandas.pydata.org/speed/pandas/#indexing.NumericSeriesIndexing.time_loc_list_like?python=3.8&Cython=0.29.21&p-index_dtype=%3Cclass%20'pandas.core.indexes.numeric.UInt64Index'%3E&p-index_structure='unique_monotonic_inc'

Up to 180x slowdown in the `indexing.NumericSeriesIndexing.time_loc_array/time_loc_list_like` benchmarks with UInt64Index.

Indicated range of responsible commits is

[2021-06-08 14:47] jorisvandenbossche commented on #40917
Note that https://github.com/pandas-dev/pandas/pull/41711 might have given a performance regression, which might be best to check first since that's backported to the 1.2.x branch.

[2021-06-08 14:52] simonjayhawkins commented on #40917
Thanks @jorisvandenbossche I think we were ready to go with 1.2.5 last week and then #41797 (and #41778 but that is now fixed) was reported and i've not got round to look at it and no PRs have been open for this, so 1.2.5 has been delayed anyway.

[2021-06-08 14:59] WardBrian commented on #41826
I believe that does work, though it is a bit verbose. It is good enough that it probably does not justify an api change, so I'll close this

[2021-06-08 14:59] #41826 closed

[2021-06-08 15:03] jbrockmendel commented on #41873
#41777 is more plausible than #41804

[2021-06-08 15:06] jbrockmendel commented on #41847
There would be pushback on a top-level function, but a method like `DateOffset.from_relativedelta` would be reasonable.

[2021-06-08 15:37] simonjayhawkins commented on #41485
@MarcoGorelli Thanks for coordinating this effort. i'll close this, maybe open an issue for pandas/core/computation/eval.py

[2021-06-08 15:37] #41485 closed

[2021-06-08 15:42] simonjayhawkins commented on #40397
did #40684 address the issue?

I'll close this since it's on the 1.3 milestone.

any subsequent changes should be a new issue

[2021-06-08 15:42] #40397 closed

[2021-06-08 16:48] jbrockmendel commented on #31634
This now issues a FutureWarning instead of raising.  Closing.

[2021-06-08 16:48] #31634 closed

[2021-06-08 17:01] ignaciohermosillacornejo commented on #16772
Having the same issue, I know this is a niche case but it would be great to have a param to make pandas pandas skip removing leading and trailing white spaces

[2021-06-08 17:11] neelmraman opened #41876 "BUG: seemingly unexpected behavior with errrors='ignore' in json_normalize()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-08 17:29] jbrockmendel commented on #34928
in astype_nansafe inside the `elif is_object_dtype(arr)` check we have cases for `is_datetime64_dtype(dtype)` and `is_timedelta64_dtype(dtype)`.  These need to call ensure_nanosecond_dtype(dtype) i think

[2021-06-08 17:48] simonjayhawkins commented on #39956
removing 1.3 milestone.

[2021-06-08 18:01] thomassajot opened #41877 "QST: ExtensionDtype made available with arguments to `astype` method"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas
Hello,

I have been attempting to create a new ExtensionDtype and ExtensionArray.  The Dtype can take in arguments. I was looking into how to

[2021-06-08 18:06] thomassajot commented on #41877
I was expected to get more functionality when extending from `ExtensionArray` and `ExtensionDtype`, but it seems there are a lot of additional custom code necessary to make the `Categorical` array available easily. Especially, I was wondering if the `ExtensionBlock` would be helping to obtain the functionality I am looking for.

[2021-06-08 18:12] simonjayhawkins commented on #39108
removed the milestone

[2021-06-08 18:28] jbrockmendel commented on #41877
Define `DiscreteNumericalDtype.construct_from_string`.  Then when you do `obj.astype('discrete[foo, bar]')`, internally we will use the appropriate DiscreteNumericalDtype object in place fo the string.

[2021-06-08 18:34] jbrockmendel commented on #41877
In principle, no, you shouldn't need to ever think about ExtensionBlock.  In practice, there are still some places where pandas-internal ExtensionArrays get special-cased, and we're trying to track those down and generalize them.  If you find any, please let us know.

[2021-06-08 18:36] jbrockmendel commented on #41877
In your _from_sequence you call `__init__` but you don't pass dtype, so you get the default parameters.

[2021-06-08 20:37] jorisvandenbossche commented on #41877
For your example code, it's specifically the last comment of @jbrockmendel that needs to be fixed: the `_from_sequence` methods get the actual dtype instance (that is passed to `astype(..)`), so you can ensure there that you honor the parameters of the dtype.

[2021-06-08 20:39] jorisvandenbossche commented on #39956
It's important to fix this, as our docs are simply pointing to a (soon) no-longer existing alternative. Since this is arrow-related, will look into it one of the next days (not crucial for the RC of course)

[2021-06-08 20:49] #28122 closed

[2021-06-08 21:40] jbrockmendel opened #41882 "BUG: Index.get_indexer_for with mixed tuples"
[code]

[2021-06-08 22:05] #24860 closed

[2021-06-09 03:06] rhshadrach commented on #41826
Agreed that is it verbose, but also seems like a feature that wouldn't get wide use. You can always make your own function:

[code]

so that the code becomes

    get_log_loc(idx, 2.0)

or even make your own accessor:

https://pandas.pydata.org/pandas-docs/stable/development/extending.html#registering-custom-accessors

[2021-06-09 03:32] ahawryluk commented on #19842
I'd be interested in tackling the original issue by adding a new argument to ExcelFile and read_excel: `ignore_hidden=False`. I sometimes have to work with a large collection of spreadsheets with hidden sheets, so it's a feature I would absolutely use. (I'm already checking for hidden xlrd/openpyxl sheets to save time in my particular use case.)

Do you think this would be worth adding yet another

[2021-06-09 03:53] rhshadrach commented on #41748
Thanks @attack68 - if two issues have different references to a GH issue/PR, then I think they should be separate line items, even if related.

[2021-06-09 03:57] rhshadrach commented on #39808
Thanks for the ping @ahawryluk - with 1.3 around the corner I agree this can be closed.

[2021-06-09 03:57] #39808 closed

[2021-06-09 04:38] adrotog opened #41887 "BUG: Incorrect read_csv values for NaN when using regex sep argument"
#### Code Sample

[code]

**Output**
[code]

#### Problem description

- When I provide any regex value for `sep` in `read_csv`, I get `""` instead of `NaN` for blank cells
- This only happens if the CSV only has a single column

#### Expected Output

`df1_regex` should have `NaN` in the first column like `df2_regex` does, not `""`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSI

[2021-06-09 05:31] nurglexxx commented on #40721
Unfortunately not as I have no direct access to the DB's (only via the linux server, so no management studio), tried it also without fast_executemany parameter and using multi/chunksize, but this runs even worse.

[2021-06-09 06:56] jorisvandenbossche commented on #39577
@MarcoGorelli would you be interested to follow-up on this topic? (although the actual renaming might need to be done by an owner of the repo, I see the setting to rename the master branch)

Apart from the actual renaming and fixes in CI, we will probably need a small set of guidelines on how you can update your local development environment we can post here and on the mailing list.

[2021-06-09 08:39] klieret opened #41891 "BUG: Setting column on empty DataFrame with loc / avoiding SettingWithCopyWarning for potentially empty DataFrames/copies/views"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Let's consider a function `add_column` that adds a column.

* If we use `df[column] = value` (Opti

[2021-06-09 09:45] realead commented on #41836
@jbrockmendel I'have looked into this problem. The fix is relatively simple for complex and tuple (here is an prototype: https://github.com/realead/pandas/tree/fix_deep_nans).

However, the situation is quite different for `frozenset`, we need to replace the [following comparison](https://github.com/python/cpython/blob/main/Objects/setobject.c#L83) in the implementation of the setobject:

[code]

[2021-06-09 11:08] phofl commented on #41891
What do you want to achieve with ``df["a"] = 1``?

[2021-06-09 12:17] #41434 closed

[2021-06-09 14:16] klieret commented on #41891
In practice this will be some more interesting assignment in the end (e.g. from another series) :wink: In the end this is about the general question of how to assign values to a new column such that

1. If the dataframe is empty, the column is still added (to avoid `KeyError`s later on, if we e.g. do `df["b"] = df["a"]+1` afterwards). This is very important if the code contains many queries/select

[2021-06-09 14:58] jorisvandenbossche commented on #39956
Opened a PR for this at https://github.com/pandas-dev/pandas/pull/41899

[2021-06-09 16:07] MarcoGorelli opened #41901 "STYLE add check for future annotations"
xref https://github.com/pandas-dev/pandas/pull/41892#issuecomment-857834651

[2021-06-09 17:36] jbrockmendel commented on #41836
Thanks for looking into this.  The only case that is a showstopper for me ATM is the tuple, so i think punting on frozenset is totally reasonable.

[2021-06-09 17:43] jbrockmendel commented on #41090
Discussed in April dev meeting, decided this was probably too-breaking

[2021-06-09 17:57] simonm3 opened #41905 "BUG: read_json chunksize parameter does not work"
If I set chunksize=100 without nrows then it crashes with a memory error. If I set chunksize and nrows then it returns the maximum rows of the two. The workaround of setting nrows to a high number does not work as it just crashes with a memory error even with low chunksize.

I am using ubuntu20 wsl2/windows10, python=3.8, pandas=1.2.4

This has been reported in other closed issues but does not see

[2021-06-09 18:06] thomassajot commented on #41877
Thank you @jbrockmendel  and @jorisvandenbossche, propagating the dtype in `_from_sequence` is working properly.

I also did not know that you could transfer the arguments to a dtype through the string representation.

It would be great to enhance the documentation as to the impact of the different to implement.

[2021-06-09 18:06] #41877 closed

[2021-06-09 18:25] jackzyliu opened #41906 "BUG: pytz.AmbiguousTimeError not caught in hypothesis `test_on_offset_implementations`"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-09 18:27] lithomas1 commented on #19574
Closing as we don't use Travis CI anymore and these failures don't appear anymore.

[2021-06-09 18:27] #19574 closed

[2021-06-09 18:55] Dr-Irv commented on #41807
Based on dev discussion on 6/9/2021, pandas will define "array-like" to mean "something like an array", which does _not_ include scalars.  Need to check the docs that we are consistent between examples and documented API to see if we are consistent.

[2021-06-09 19:07] jbrockmendel commented on #41807
Maybe "sequence with dtype attribute"?  i think that excludes 0-dim ndarrays (which i view as desirable)

[2021-06-09 19:20] Dr-Irv commented on #41807
No, because in many cases, we don't require the dtype.  E.g. `pd.Series([1,2,3])`, and we are calling a list `[1,2,3]` "array-like"

[2021-06-09 20:20] eikevons opened #41909 "ENH: Add subset to fillna"
#### Is your feature request related to a problem?

When filling NAs, I need to use different methods for different columns or ignore some columns. Filling with different values per column works by passing a dict to `values` but it's not possible to do something similar for `method`-based filling, e.g. bfill `x` and ffill `y` of
[code]

#### Describe the solution you'd like

I see 3 options to imp

[2021-06-09 20:21] eikevons commented on #41909
Depending on the chance of acceptance, I'm happy to work on this.

[2021-06-09 20:53] BenjMaq commented on #37083
Hey @raginjason, I’m facing the same issue. Using StringDtype it writes correctly as BINARY, however my NULLs are being written as `‘None’` (i.e. the string representation), not a real NULL value. Did you face this as well? Wondering how you dealt with that. Thanks a lot!

[2021-06-09 22:44] JBGreisman commented on #22224
To follow up on this old thread, is there a currently supported way to get numpy-compatible dtype inference for an `ExtensionDtype`?

It seems that one should be able to define a custom `ExtensionDtype._get_common_dtype()` method. This ends up working in some cases where a DataFrame is populated with a non-unique set of custom ExtensionDtypes. Unfortunately, if one has a DataFrame with homogeneous

[2021-06-09 23:26] lithomas1 commented on #40169
@simonjayhawkins Will there be a 1.4 release? Looks like there is a milestone created on Github for it.

[2021-06-09 23:37] jbrockmendel commented on #33469
Options that come to mind for fixing this:

1) Deprecate casting ints to floats in Float64Index.get_loc, so that `ser[4]` is _always_ positional when we have a Float64Index.

2) Change Float64Index._should_fallback_to_positional to `return not (self == self.astype(int)).any()
` (ATM it always returns False).
    - Upsides: Fixes the OP issue without breaking any tests, fixes the inconsistency of h

[2021-06-09 23:44] jreback commented on #40169
i created 1.4; it's possible we make this 2.0 at some point - not determined yet

[2021-06-10 00:13] #41450 closed

[2021-06-10 01:37] jbrockmendel commented on #27181
A lot of the action also goes on in MultiIndex._convert_listlike_indexer, which handles (some) cases where we are indexing only along the first level of the MultiIndex.  In those cases, get_indexer would raise.  i.e. for MultiIndex get_indexer does not behave like a vectorized get_loc

[code]

If we edit MultiIndex.get_indexer to behave like vectorized get_loc, that breaks `MultiIndex.reindex` and

[2021-06-10 05:29] aacosta13 commented on #41905
Is there any way you could post the code and/or dataset that you attempted to run with? Just tested it myself using the same Yelp dataset as one of the comments from the issue ([#36791](https://github.com/pandas-dev/pandas/issues/36791)) you linked and it seems that chunksize worked with both a value of 100 and 1000.

[2021-06-10 05:42] aacosta13 commented on #41901
Hey all, this is my first time helping contribute to an open-source project so forgive any of my ignorance here. I'd be willing to work on this issue, just a couple of questions if that's fine. Based on the referenced comment, should I just add that `import` command to every file (except the ones mentioned)? And I'll be sure to look at the contributions guide before doing so, of course. Thanks.

[2021-06-10 06:14] shraddha-sujosu commented on #11493
error_bad_lines : boolean, default True

    Lines with too many fields (e.g. a csv line with too many commas) will by default cause an exception to be raised, and no DataFrame will be returned. If False, then these “bad lines” will dropped from the DataFrame that is returned. (Only valid with C parser)

adding error_bad_lines parameter solved my problem for tab separated file

`temp = pd.read_csv

[2021-06-10 06:57] realead commented on #41836
Because of https://github.com/python/cpython/commit/a07da09ad5bd7d234ccd084a3a0933c290d1b592 we need to change the hash-function as well, otherwise different nans will have different hashes for Py3.10 and later.

[2021-06-10 07:20] jorisvandenbossche commented on #40917
I have a small PR for fixing the performance regression: https://github.com/pandas-dev/pandas/pull/41920, so that should address this issue for 1.2.5.

[2021-06-10 08:02] klieret commented on #41891
Note: I've updated my last comment a bit. Indeed the problem doesn't occur when assigning series, arrays, because they'd have to be empty themselves.

The `ValueError` is raised here:

https://github.com/pandas-dev/pandas/blob/499ef8c0294fb7fb65d0ceb35097eac31be6d743/pandas/core/indexing.py#L1648-L1659

I will see if I can come up with a possible solution myself, but do let me know if there are re

[2021-06-10 08:37] klieret commented on #41891
The check was added in 7bbeb79297532d209d67f7bdc61394ddee3acbb1 in PR https://github.com/pandas-dev/pandas/pull/5227 addressing issue https://github.com/pandas-dev/pandas/issues/5226 ("New appending behavior doesn't work on an empty DataFrame")

[2021-06-10 08:47] MarcoGorelli commented on #41901
Hey - the issue is to add a pre-commit check to make sure that `from __future__ import annotations` is always used, see https://github.com/pymc-devs/pymc-examples/blob/01233b6b32f731c83a11689e14a662dfc574b760/.pre-commit-config.yaml#L22-L30 for an example of how to write a pre-commit check which ensures that a pattern is always present. also see the pre-commit docs

[2021-06-10 09:36] NuQuantro commented on #11493
I am trying to follow this however, no luck. My issue is also to read all the columns and not to skip any. I want pd.read_csv to infer the max column and fill NAN in the empty spaces. Any help would be appreciated.

[2021-06-10 09:52] klieret commented on #41891
Let me add @jreback to the conversation who added the initial check :)

[2021-06-10 10:16] yash112-lang commented on #39290
Hello @simonjayhawkins, is this issue is still open. I am new to open source, I want to contribute.

[2021-06-10 10:20] BvB93 commented on #41807
Another option would to explicitly include the dimensionality of the array-like object, _e.g._ >=1D array-like, 2D array-like, _etc_.
If so desired, then this would allow you to remain compatibility with numpy's definition,
as scalars and 0D arrays specifically fall under the category of 0D array-likes.

[2021-06-10 11:00] simonm3 commented on #41905
This is the link:
http://download.companieshouse.gov.uk/en_pscdata.html

Below is trying to read chunksize=10 with the full 6GB file. Tried this in
windows and in wsl/ubuntu.

For testing try one of the smaller files from the link. This fits in memory
but takes a very long time. It is clearly not just reading 10 rows.

[image: image.png]

On Thu, 10 Jun 2021 at 06:29, Armando Acosta ***@***.***>
w

[2021-06-10 11:06] simonm3 commented on #41905
Oh. I thought you called read to read a chunk but actually it is an iterator. Sorry my mistake!

[2021-06-10 11:06] #41905 closed

[2021-06-10 12:51] DDEle commented on #34109
I think we need another argument for the inner constructor. In the case where the document states, someone may use the default value defined with `defaultdict` for the outer dictionary while a different default value could be needed for fileds of records.

My own case is similar to the original post. I want to serialize a data frame as a Lua table used in my fandom wiki. I use [luadata](https://py

[2021-06-10 14:36] willsthompson opened #41927 "BUG: Timezones are not preserved in Series.mode() output"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The Timestamps are normalized to (I think) UTC time, and the original timezone and offset are

[2021-06-10 14:36] mchappychen commented on #24306
Is possible to make folder drive from colab:
https://stackoverflow.com/questions/60706752/how-to-make-directory-on-the-google-colab
so you is can do it

[2021-06-10 15:04] MarcoGorelli commented on #24306
A note in the docs might be useful, pull requests welcome

[2021-06-10 15:14] simonjayhawkins commented on #40917
pre-release checklist

- ✅  wheels building https://github.com/MacPython/pandas-wheels/pull/133
- ✅  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- ❌   release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.5.html
- ✅  ci checks https://github.com/pandas-dev/pandas/commits/1.2.x
- ✅  no manual backport

[2021-06-10 15:34] simonjayhawkins commented on #40169
rc pre-release checklist

- ✅  wheels building - https://dev.azure.com/pandas-dev/pandas-wheels/_build?definitionId=3&_a=summary
- ⬜  wheels building - final check
- ⬜  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- ✅  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.html
- ✅  ci checks https:/

[2021-06-10 15:52] #41831 closed

[2021-06-10 18:06] mimakaev opened #41930 "BUG: pd.Grouper cannot be reused in some cases"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In some cases it seems that pd.Grouper cannot be reused. I was not able to figure out exactly

[2021-06-10 18:12] corbinday commented on #27575
I was getting this warning:
`/Users/usr/.pyenv/versions/3.9.5/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.`

 I was finally able to get rid of it with this command:
`CPPFLAGS="-I$(brew --prefix xz)/include" pyenv install [your version]`

[2021-06-10 18:19] corbinday commented on #28219
I was getting this warning:
`/Users/usr/.pyenv/versions/3.9.5/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.`

I was finally able to get rid of it with this command:
`CPPFLAGS="-I$(brew --prefix xz)/include" pyenv install [your version]`

[2021-06-10 19:47] jorisvandenbossche commented on #33469
Currently I think `ser[4]` is always strictly label-based *for getitem*? Since that part is actually consistent / unambiguous (if you know the semantics ..) at this moment, I would maybe leave it as is. Or if we deprecate it, have it raise an error in the future instead of being positional.

For that last reason (value-dependent behavior), I wouldn't go for this. `ser[2]` meaning something differe

[2021-06-10 22:46] miraculixx commented on #26253
Found an easy workaround thanks to https://stackoverflow.com/a/57129081/890242. It runs out it is also documented in the [Pandas Visualization guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html?highlight=x_compat#suppressing-tick-resolution-adjustment)

[code]

Then the plot shows as it is supposed to.

![image](https://user-images.githubusercontent.com/859611/121606

[2021-06-10 23:12] jbrockmendel commented on #33469
Note: in all the options described above, we are changing in `Series.__setitem__`

[code]

If we do that, and add in `__getitem__` a clause so that we try label-based before falling back, then we break 5 tests e.g.

[code]

(without the extra clause in `__getitem__` we break 9 tests, including a few that aren't `with pytest.raises(...)`)

That is the status quo for _should_fallback_to_positional.

[2021-06-10 23:17] jbrockmendel opened #41935 "CI: py 3.10 build failing"
@seberg this build is using numpy 1.22dev, looks like a bunch of the failures are raising in `np.iinfo(np.int64).max`

[code]

[2021-06-10 23:37] jbrockmendel commented on #20643
This looks like it is working now, could use test

[2021-06-10 23:40] yasuomaidana commented on #41927
Could you assign it to me?

[2021-06-11 00:11] seberg commented on #41935
Confusing, nothing feels like it quite adds up?  The first branch should not fail, then the second branch fails but works with a *DType* (before the dtype object is created?).  And then mentions a boolean DType...

The only way I can make sense of the error (and reproduce it), is by "monkeypatching" `numeric.dtype` first:
[code]

Is there anything else to this?  I just tried on a fresh compile of

[2021-06-11 01:02] mzeitlin11 opened #41937 "CI: intermittent segfaults on `macOS py37_macos` run"
See https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=61339&view=logs&j=b516280a-8c75-541b-8ba0-ae13561718a7&t=a9217cb1-24f6-5625-717d-72085a70e1d3

and https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=61324&view=logs&j=b516280a-8c75-541b-8ba0-ae13561718a7&t=a9217cb1-24f6-5625-717d-72085a70e1d3

for some examples on 2 different runs. I've only noticed it on this run, wil

[2021-06-11 02:41] lithomas1 opened #41940 "TST: Xfails in Python 3.10 CI"
A list of failures for pandas on Python 3.10.
Note: Some of these are flaky.

- [x] ``TestUnique.test_first_nan_kept``

<Details>
________________________ TestUnique.test_first_nan_kept ________________________

self = <pandas.tests.test_algos.TestUnique object at 0x7fe611cc19c0>

    def test_first_nan_kept(self):
        # GH 22295
        # create different nans from bit-patterns:
        bits_

[2021-06-11 02:44] lithomas1 commented on #41937
@mzeitlin11
Maybe we need to bump pyarrow to 0.17.1 on MacOS? xref https://issues.apache.org/jira/browse/ARROW-8684

[2021-06-11 02:56] ForestMars commented on #41901
Since this is needed for 1.3 and is a quick fix: [PR #41941 ]

[2021-06-11 02:57] ForestMars commented on #41901
@aacosta13 Just noticed your earlier comment you were working on this? Sorry I didn't realize, this was just a super quick one

[2021-06-11 03:02] #38627 closed

[2021-06-11 03:03] jreback commented on #41937
sure that would be fine

[2021-06-11 04:05] aacosta13 commented on #41901
@ForestMars no worries, was going to work on it and upload my PR tonight once I got home but it’s cool! And like you said it was an easy fix haha

[2021-06-11 04:50] huonw opened #41942 "BUG: initial prompt for reading .xlsx files misleadingly refers to xlrd, not openpyxl"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Example (empty) excel file: https://github.com/pandas-dev/pandas/files/6635871/foo.xlsx

#### Problem description

Runn

[2021-06-11 05:43] mroeschke opened #41943 "API: Make 'D' & offsets.Day always operate as calendar day instead of 24 Hour"
From 2021-06-09 dev call, new discussion of https://github.com/pandas-dev/pandas/issues/22864

**Problem**:  Frequency string `'D'` and `pd.offsets.Day` can mean 24 hours or calendar day (23/24/25H) depending on the operation

**Original Settled Solution**: Deprecate all behavior where Frequency string `'D'` and `pd.offsets.Day` is a fixed 24 hours in favor of `"24H"`. A private `_Day` offset woul

[2021-06-11 05:43] mroeschke commented on #22864
Closing in favor of https://github.com/pandas-dev/pandas/issues/41943

[2021-06-11 05:43] #22864 closed

[2021-06-11 05:52] mroeschke commented on #18255
Looking back on this issue, I am not convinced this feature is a good idea. I think pandas should aim to be "less smart" in general and developing constant heuristics on when to use the cache may not be realistic given changes in performance in other operations.

Going to close this issue out, but happy to reopen if there is a resurgence of interest

[2021-06-11 05:52] #18255 closed

[2021-06-11 05:55] mroeschke commented on #18111
Yeah given 0 and False are equivalent in Python, agreed that the current behavior is probably okay. Closing

[2021-06-11 05:55] #18111 closed

[2021-06-11 06:01] mroeschke commented on #33401
This was deprecated in https://github.com/pandas-dev/pandas/pull/39258 which makes this bug a nonissue. Closing

[2021-06-11 06:01] #33401 closed

[2021-06-11 08:07] simonjayhawkins commented on #41807
see https://github.com/scikit-learn/scikit-learn/issues/16705#issuecomment-859360461

we could maybe just have the alias for numpy.typing in our pandas._typing, `import numpy.typing as npt` and then when we use the numpy types (aliases) they are prefixed with `npt.` in the function signature to improve clarity (i.e. `npt.ArrayLike`). (The aliases get expanded for messages etc, so the alias is less

[2021-06-11 10:04] simonjayhawkins commented on #41807
opened #41945

[2021-06-11 10:45] simonjayhawkins commented on #41901
The reason we did the changes for 1.3 is we are going to branch soon and wanted to make sure the new style is on the backport branch to reduce the chances of autobackports failing.

I think that task is done and adding it to the other files is just to avoid new future code additions/modifications using Optional, Union, Type, Tuple, List etc in type annotations.

So just adding `from __future__ imp

[2021-06-11 10:45] gcaria opened #41947 "ENH: Give name to index column as argument when using `df.reset_index`"
#### Is your feature request related to a problem?

When resetting the index of a `DataFrame`, and when needing to rename the "index" column to something more useful, it would be nice to do it directly with the call to`reset_index` (and not afterwards with `df.rename`).
#### Describe the solution you'd like

`DataFrame.reset_index` should get a new parameter `name` that renames the "index" column

[2021-06-11 11:18] #39956 closed

[2021-06-11 11:25] jorisvandenbossche commented on #41937
It _seems_ this started in https://github.com/pandas-dev/pandas/pull/41903 (see https://github.com/pandas-dev/pandas/pull/41903)

[2021-06-11 11:29] jorisvandenbossche commented on #41937
The linked Arrow bug was fixed in 0.17.1, and the build is using 0.17.0, so that should be an easy version bump

[2021-06-11 11:30] jorisvandenbossche commented on #41937
Attempt at https://github.com/pandas-dev/pandas/pull/41948

[2021-06-11 11:34] jorisvandenbossche commented on #41947
I think that would be a good idea, see https://github.com/pandas-dev/pandas/issues/6878 (I think we can close this as a duplicate).

The main problem is that `Series.reset_index` already has a `name` keyword but that is used for the values column name, not index column name (so we will probably need another keyword name for this, unfortunately)

[2021-06-11 11:40] PriyankuRahang commented on #15893
worked!

[2021-06-11 11:46] evgeniikozlov commented on #25143
Still reproduced in 1.24.0

[code]

The output is dependent on combination of _infer_datetime_format_ and _errors_ arguments.

#### Output of ``pd.show_versions()``

<details>

pandas.show_versions()
INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.7.10.final.0
python-bits      : 64
OS               : Windows
OS-release       :

[2021-06-11 11:48] jreback commented on #25143
@evgeniikozlov hence the open issue label

PRs from the community are how these things get fixed

[2021-06-11 11:48] jorisvandenbossche opened #41949 "BUG: unpickle of Timestamp should not generate deprecation warning"
Currently we give a deprecation warning when unpickling:

[code]

We should ensure that unpickling a Timestamp does not generate a warning, only if the user afterwards accesses the freq as normal it should warn.

[2021-06-11 11:51] simonjayhawkins commented on #40169
will combine these three into checking for "Blocker for rc" label, so use that label for anything that should be done for the rc otherwise will release.

[2021-06-11 11:57] simonjayhawkins commented on #40169
rc pre-release checklist

- ⬜  MacPython.pandas nightly wheels built ok - https://dev.azure.com/pandas-dev/pandas-wheels/_build?definitionId=3&_a=summary
- ⬜  wheels building - final check
- ⬜  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- ⬜  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.ht

[2021-06-11 12:09] simonjayhawkins commented on #38896
@jorisvandenbossche we've got the 1.3 milestone on this one (added for the merged PR). do we need a new issue/remove the milestone?

[2021-06-11 12:13] MarcoGorelli commented on #15893
Glad this is working for everyone - no need to keep commenting "worked" though, if you run into any issues please open a new one

[2021-06-11 12:17] marlenezw commented on #37937
Looks like [#36289 ](https://github.com/pandas-dev/pandas/issues/36289) was solved by [#36299](https://github.com/pandas-dev/pandas/pull/36299). I'll try give this a shot incase the changes help here too 😄

[2021-06-11 12:17] simonjayhawkins commented on #39566
removing the milestone

[2021-06-11 12:20] simonjayhawkins commented on #38630
@jbrockmendel did #39964 close this?

[2021-06-11 12:30] simonjayhawkins commented on #36465
@fangchenli #40696 didn't close this because of the xfail added? removing milestone.

[2021-06-11 12:32] simonjayhawkins commented on #36126
removing milestone

[2021-06-11 12:33] swenlaur opened #41951 "DataFrame.melt fails if there are duplicate value_vars"
DataFrame.columns.get_indexer fails if there are duplicate column names.

https://github.com/pandas-dev/pandas/blob/05552d354a430f17a45b5fda8a1fd417f4c60c2e/pandas/core/reshape/melt.py#L109

This is really unfortunate -- melting should handle such cases

id   value value
id1  2       3

should go to

id1 2
id1 3

[2021-06-11 12:41] jreback commented on #40169
let's move all issues off of 1.3 except for the specifically mentioned ones. If there are no PRs then we are not waiting.

[2021-06-11 12:50] simonjayhawkins commented on #40169
I'm going though now, removing some. We need visibility of the regressions (mainly performance) for 1.3. (the regression label alone is not enough since we have unresolved regressions from earlier releases)

[2021-06-11 12:58] gcaria commented on #41947
Totally a duplicate, my bad for not checking properly! I'll have a look at #6878 and see if I can submit a PR.

[2021-06-11 12:59] simonjayhawkins commented on #35661
removing milestone

[2021-06-11 13:00] simonjayhawkins commented on #35518
removing milestone

[2021-06-11 13:02] simonjayhawkins commented on #38592
@jbrockmendel @jorisvandenbossche Any idea what the status is here?

[2021-06-11 13:05] simonjayhawkins commented on #34881
removing milestone

[2021-06-11 13:06] simonjayhawkins commented on #34809
removing the milestone and blocker label

[2021-06-11 13:10] simonjayhawkins commented on #21768
removing milestone. but it looks like the PR is almost ready

[2021-06-11 13:13] simonjayhawkins commented on #22993
closed in #38554

[2021-06-11 13:13] #22993 closed

[2021-06-11 13:23] simonjayhawkins commented on #25831
The PR for this issue was closed as stale. comments there could be helpful. contributions welcome.

[2021-06-11 13:26] simonjayhawkins commented on #25969
from https://github.com/pandas-dev/pandas/pull/37648#issue-516125361

[2021-06-11 13:31] simonjayhawkins commented on #26131
The PR for issue #38550 was closed as stale. review comments there could be useful. contributions welcome

[2021-06-11 13:35] simonjayhawkins commented on #27522
removing milestone

[2021-06-11 13:39] simonjayhawkins commented on #41409
removing the blocker tag as if not done before 1.3 release, milestone will be updated to 1.3.1 to keep track of this regression. Ideally since we are aware of this regression, we would not release without fixing, but we have other regressions also on master without the blocker label so don't need to make this a special case.

[2021-06-11 13:42] simonjayhawkins commented on #30552
removing milestone

[2021-06-11 13:44] simonjayhawkins commented on #33457
removing milestone and blocker label

[2021-06-11 13:51] simonjayhawkins commented on #34479
@jbrockmendel did #38723 close this?

[2021-06-11 13:58] simonjayhawkins commented on #40169
reduced to 12 open issues. https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.3

includes some regressions (behavior and performance) on master and a new bug on master.

There are a few that can maybe be closed (awaiting responses or will look in more detail if no response).

If regressions are not fixed during rc they get milestoned 1.3.1.

There are no blockers for

[2021-06-11 14:12] lithomas1 commented on #41935
Maybe  ``np.uint64(np.iinfo(np.int64).max)``?

[code]
idk too much about numpy stuff.

[2021-06-11 14:28] ilivans commented on #26388
I'm getting the same exception here
Although if I specify one partition it works 🤔 :
[code]
With the source directory it doesn't:
[code]
In both cases: `import s3fs; s3 = s3fs.core.S3FileSystem()`
Environment:
[code]

[2021-06-11 14:28] simonjayhawkins commented on #41951
Thanks @swenlaur for the report.

Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

and can you use the bug template that is available when you open an issue from the GitHub web interface.

[2021-06-11 14:46] simonjayhawkins commented on #41940
@lithomas1 when we added support for 3.9, we did it in a patch release. So if we need to make changes, we'll probably backport them, so we probably want ci changes on 1.3.x also.

[2021-06-11 14:56] simonjayhawkins commented on #41927
from https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#where-to-start

issues with "needs triage" labels should have some discussion before opening a PR.

[2021-06-11 14:58] seberg commented on #41935
Not sure how to get a py3.10 running with pandas (I got numpy).  If you got that running, I would suggest running pytest with `--pdb` and looking into what `np.core.numeric.dtype` (or even `np.core.getlimits.numeric.dtype`) actually is (it should just point to `np.dtype`, which itself is just `np.core._multiarray_umath.dtype`)

Something is weird, but if `np.dtype` itself was the culprit, I would

[2021-06-11 15:29] hans2520 commented on #28283
I would argue that `.update()` should be used vs other alternatives like dropping, with the order of ops determining which is being updated (e.g. `A + B + C` means `A.update(B); A.update(C)`)

[2021-06-11 16:23] lithomas1 commented on #41940
@simonjayhawkins Sure, moved right now. I'm just milestoning so we don't forget.

[2021-06-11 16:24] realead opened #41953 "BUG: nan-objects lookup fails in Python3.10"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Due to this change in CPython: https://github.com/python/cpython/commit/a07da09ad5bd7d234ccd084a3a0933c290d1b592

the following assumption is no longer true:

https://git

[2021-06-11 16:42] mzeitlin11 commented on #30435
@jorisvandenbossche @jbrockmendel @jreback planning to start looking into this, but want to check first that there's not a newly discussed preferred solution first.

[2021-06-11 16:55] jbrockmendel commented on #30435
not that im aware of

[2021-06-11 16:56] jbrockmendel commented on #34479
no, that ensured consistency between dt64 vs dt64tz, but didn't pin down the desired behavior

[2021-06-11 17:09] jbrockmendel commented on #38592
Fixed by #41911/#41924

[2021-06-11 17:15] jbrockmendel commented on #38630
i dont think so

[2021-06-11 17:16] ForestMars commented on #41901
@simonjayhawkins - There are no behavioral changes, however it does seem that we also need to add that import to 120 files that do no have it (excluding tests, etc.), waiting on Marco to confirm that.

[2021-06-11 17:39] aacosta13 commented on #41901
If the import is needed on all files I’ve actually typed up a script that adds the line to all files from when I originally thought that was the scope of this issue, would just need to verify the files that should be excluded. I could submit the PR if needed.

[2021-06-11 18:21] simonjayhawkins commented on #34479
Thanks @jbrockmendel for confirming. I didn't check in detail. Will remove the milestone.

[2021-06-11 18:29] simonjayhawkins commented on #38630
OK not sure where the milestone came from. will remove.

[2021-06-11 18:30] simonjayhawkins commented on #38896
i'll remove the milestone for now.

[2021-06-11 18:34] simonjayhawkins commented on #38592
These are for the recent perf regression? This issue is quite old.

[2021-06-11 18:35] jbrockmendel commented on #38592
my mistake, i thought this was the one discussed on the call on wednesday.  no idea off the top of my head what the status is here.

[2021-06-11 18:37] ForestMars commented on #41901
@aacosta13 that's a +1 for me. Can you share the script in a gist?

I was actually going to suggest doing that in a separate PR from the pre-commit hook.

[2021-06-11 18:43] swenlaur commented on #41951
Minimal code to trigger the bug (regression from earlier versions)

`from pandas import DataFrame
(DataFrame([['id', 2, 3]])
 .set_axis(['id_var', 'value_var', 'value_var'], axis=1)
 .melt(id_vars=['id_var'], value_vars=['value_var']))`

The resulting data frame contains columns with the same name. This is not illegal as sometimes uncleaned data in this form and the most sane way to clean int is u

[2021-06-11 18:52] simonjayhawkins commented on #41951
will add the regression tag for now pending investigation. posting more info on versions could help

[2021-06-11 19:59] simonjayhawkins opened #41957 "RLS: 1.4"
Tracking issue for the 1.4 release. (it's possible we make this 2.0 at some point - not determined yet)

https://github.com/pandas-dev/pandas/milestone/86

Currently scheduled for December 31, 2021 (with a release candidate around 2 weeks before)

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression

[2021-06-11 21:10] lithomas1 commented on #41942
Hi @huonw, This is actually a duplicate of #28546, but this issue is cleaner so we should probably track it in this one.
The reason the message is incorrect is because not so long ago, xlrd was the only engine for processing excel files.
The patch seems to be pretty simple on this one so I'll take a look myself, but this might not get in in time for the upcoming 1.2.5 release.

[2021-06-11 21:19] jbrockmendel commented on #31479
We now have pandas.util._exceptions.find_stack_level doing pretty much exactly what matplotlib's _warn_external does.  I've been trying to use the "cheat" sparingly, but if its needed, this is now an easy fix.

[2021-06-11 21:30] lithomas1 commented on #41942
This is actually fixed on master where it will only say ``ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.``

[2021-06-11 22:11] swenlaur commented on #41951
I do not know the highest package number but repro works with pandas=1.0.0. I guess it stoped working after the multi-level colums patch was added to the code.

[2021-06-11 23:20] tacaswell commented on #31479
answering 17month later, we have not had any reported issues with it!

[2021-06-11 23:56] #41937 closed

[2021-06-12 00:33] jbrockmendel commented on #39548
This works on master, could use a test

[2021-06-12 00:35] jbrockmendel commented on #39607
This is correct as-is, closing.

[2021-06-12 00:35] #39607 closed

[2021-06-12 00:46] jbrockmendel commented on #21705
These cases now both correctly raise `KeyError: "['e'] not in index"`, so i think we can close this.  @phofl can you double-check me on this?

[2021-06-12 02:29] mroeschke commented on #16380
This looks to work on master. Could use a test

[code]

[2021-06-12 03:12] mroeschke commented on #16577
Could use a unit test.

[2021-06-12 03:23] mroeschke commented on #16724
This looks to work on master. Could use a test

[code]

[2021-06-12 03:29] mroeschke commented on #16768
Sounds like there isn't much appetite for this feature since proposed. Going to close, but happy to reopen if there is revived interest

[2021-06-12 03:29] #16768 closed

[2021-06-12 03:41] mroeschke commented on #16925
Looks to work on master now. Could use a test

[code]

[2021-06-12 03:57] mroeschke commented on #17093
This looks to work on master now. Could use a test

[code]

[2021-06-12 04:12] mroeschke commented on #17190
As explained, appears we're hesitant to change any behavior here, therefore closing

[2021-06-12 04:12] #17190 closed

[2021-06-12 04:24] mroeschke commented on #17334
Looks like MutiIndex.rename no longer exists, so closing this issue

[2021-06-12 04:24] #17334 closed

[2021-06-12 04:29] mroeschke commented on #17382
This look to work on master now. Could use a test

[code]

[2021-06-12 04:32] aacosta13 commented on #41901
@ForestMars Sorry for the delayed response, hadn't had time to get to my desk till now. But sure, [here](https://gist.github.com/aacosta13/eb1cb4b22ece354c60f0e7aab90137b0) is the link to the gist of the script.

A few things to note: the script is a bit scrappy, I just typed up something quick as I'm sure it's to be discarded after use. It also ignores any styling placements of the import line, a

[2021-06-12 04:41] mroeschke commented on #17629
This looks to work on master now. Could use a test.

[code]

[2021-06-12 05:03] mroeschke commented on #17918
I think Python raises the correct error now.

[code]

I don't think this needs a test, but if it does happy to reopen

[2021-06-12 05:03] #17918 closed

[2021-06-12 07:53] simonjayhawkins commented on #40169
the overnight macOS py_3.7_64 failed on `test_rename_inplace`. restarted.

[2021-06-12 08:10] simonjayhawkins commented on #40169
actually, I don't think this is needed in general for a rc. If the wheels fail to build and we need to make changes, we then retag, for example v1.2.1rc1.

only #41888 merged since nightly build

[2021-06-12 08:29] simonjayhawkins commented on #40169
passed on restart. assume flakey.

[2021-06-12 09:01] simonjayhawkins commented on #40169
The release readiness scripts are failing on the conda test. would need to replicate locally as ci logs no help. Have not done a dummy run for this release so I will start the release (locally) and see if fixable along the way.

[2021-06-12 09:23] simonjayhawkins commented on #40169
- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] create 1.3.x branch https://github.com/pandas-dev/pandas/tree/1.3.x
- [ ] start new tag v1.4.0.dev0 https://github.com/pandas-dev/pandas/releases/tag/v1.4.0.dev0
- [ ] activate ci on 1.3.x
- [ ] open PR to build wheels https://github.com/MacPython/pand

[2021-06-12 09:43] #41101 closed

[2021-06-12 10:16] ant1j commented on #37937
same situation here, with object/categorical MultiIndex and pandas.concat.
Cannot manage to reproduce yet with a trimmed down example.

It looks like the `sort` parameter is not propagated on this line, and this is where indexes return sorted although they should not (in my case, `sort=False` from `pandas.concat`).
https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/api.py#L221

[2021-06-12 10:21] #40560 closed

[2021-06-12 10:53] phofl commented on #21705
Yes agreed, this works as expected. But not sure if we have tests for this?

[2021-06-12 11:00] simonjayhawkins commented on #40169
xref https://github.com/pandas-dev/pandas/pull/41295#issuecomment-860037205. I'm going to do a few manual tags instead of using the scripts.

[2021-06-12 11:12] spencerkclark commented on #36615
I think this was resolved by #40008 -- thanks @jbrockmendel!  One minor side-effect of the changes there is that the following now raises an error:

[code]

In the past it would automatically cast the `"NaT"` value to nanosecond precision.  We were unintentionally relying on this behavior in [one of the xarray tests](https://github.com/pydata/xarray/blob/4434f034a36886609ac0492d3307954163ecbea6/xa

[2021-06-12 11:17] simonjayhawkins commented on #41957
@pandas-dev/pandas-core @pandas-dev/pandas-triage

[2021-06-12 11:25] jreback commented on #36615
units are explicit in M8 types so this is correct

[2021-06-12 11:32] simonjayhawkins commented on #40169
I'm not sure how clean my enviroment is. so will start again

[2021-06-12 11:33] simonjayhawkins commented on #40169
@pandas-dev/pandas-core starting release now. please do not merge anything to master

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] create 1.3.x branch https://github.com/pandas-dev/pandas/tree/1.3.x
- [ ] start new tag v1.4.0.dev0 https://github.com/pandas-dev/pandas/releases/tag/v1.4.0.dev0
- [

[2021-06-12 11:37] spencerkclark commented on #36615
Sounds good -- we'll fix this in xarray then -- thanks @jreback.

[2021-06-12 11:40] jreback commented on #36615
actually a test for this would be great

[2021-06-12 12:22] meizy opened #41965 "BUG: dropna('rows') changes index type even when no row was dropped"
after dropna('rows'), the dataframe index changes from RangeIndex to Int64Index even when nothing changed in the dataframe.
reset_index after dropna will fix it, but it should be avoided in the first place.

#### Code Sample, a copy-pastable example

[code]

output:
[code]

#### Problem description

changing from RangeIndex to Int64Index increases the dataframe size, for no good reason.

#### Outp

[2021-06-12 12:26] simonjayhawkins commented on #40169
can now resume merges to master for 1.4. do not merge anything with addition to 1.3 release notes unless being backported. (i.e regressions, bugs, doc etc)

[2021-06-12 14:20] rapatel0 opened #41967 "ENH: Modify .any() to return Null if all values are null"
#### Is your feature request related to a problem?

For sparce data it is particuarly helpful to preserve null values when doing reduction operations. I end up using this (see below) wrapper function to achieve the intended result.

[code]

#### Describe the solution you'd like

The ask is to add a configuration parameter to. `.any()` and `.all()` that optionally preserves null values when returni

[2021-06-12 14:28] simonjayhawkins commented on #41942
which PR fixed this?

[2021-06-12 14:59] ForestMars commented on #41901
@aacosta13 Hmm, this is going to put the import statement in the first empty line (which may be part of the docstring for the file.) I don't think that's what you intended...?

[2021-06-12 15:21] MarcoGorelli commented on #41901
you can use isort to add imports https://pycqa.github.io/isort/docs/configuration/add_or_remove_imports/

[2021-06-12 15:29] aacosta13 commented on #41901
Nice, that makes things a whole lot easier haha. Then I suppose we just do an `isort` on the list of files that don’t have the import line already which should be fairly easy. Were there any other specific files to look out for to exclude from having the line added?

[2021-06-12 15:42] lithomas1 commented on #41942
I think I fixed this in #38710. Its a tricky backport to do though.(The changes to support .xlsb file inference are considered as an enhancement and can't be backported)

[2021-06-12 15:44] simonjayhawkins commented on #40169
I like to have the wheels downloaded before doing the github release to reduce the lag between the any notifications from Github and the wheels being available.

![image](https://user-images.githubusercontent.com/13159005/121781448-ab0c9f80-cb9c-11eb-9ba3-bb1ab1a3e51a.png)

i'm struggling with internet connectivity at the moment on 2 different networks. There's the G7 down the road so that could p

[2021-06-12 16:01] MarcoGorelli commented on #40169
I have until about 5:30 BST to do this if you want, do you have instructions?

[2021-06-12 16:07] simonjayhawkins commented on #40169
I would need to get the dist uploaded somewhere and we need do the Github release before uploading to PyPI

on O2 i'm getting 2Mbps which is not great, but better than BT and Three. My release machine is headless. Will see if I can tether it and still access to O2 phone.

[2021-06-12 16:30] phofl commented on #40169
I could help as well if needed. If you need help during the evening, you can ping me

[2021-06-12 16:47] mzeitlin11 commented on #41967
Thanks for the request @rapatel0! Does https://pandas.pydata.org/pandas-docs/stable/user_guide/boolean.html satisfy what you are looking for? For the new `pandas` nullable data types, the behavior will be as you ask, eg
[code]
I think there are still some inconsistencies with this behavior, though, for example
[code]
should be `pd.NA` I think.

[2021-06-12 16:57] simonjayhawkins commented on #40169
Thanks @phofl I now got the wheels downloaded using a different network.

The question is now should we release with the wheel size issue? @jreback

[2021-06-12 17:20] jreback commented on #40169
can u show size vs 1.2?

yes we should release it's the rc

[2021-06-12 17:22] ForestMars commented on #41901
yes, you can see the list of exclusions in the code on my PR, which is:

- __init__.py
- api.py
- setup.py
- asv_bench/
- tests/
- web/

[2021-06-12 17:23] simonjayhawkins commented on #40169
see https://github.com/pandas-dev/pandas/pull/38852#issuecomment-860067753

sure. we can always follow up with a rc1

[2021-06-12 17:39] simonjayhawkins commented on #40169
you can see the difference from 1.2.4 here https://anaconda.org/multibuild-wheels-staging/pandas/files?page=1

[2021-06-12 17:44] jreback commented on #40169
hmm are we stripping the docs?

also i am pretty sure we are generating more dtypes for some of the hashing routines so maybe unavoidable

[2021-06-12 17:51] simonjayhawkins commented on #40169
I think not all #38846 but we have another PR, will keep looking.

[2021-06-12 18:08] simonjayhawkins commented on #40169
https://github.com/pandas-dev/pandas-release/pull/35 was the one I was thinking of. but we ended up not removing the docs in #38846

[2021-06-12 18:17] fangchenli commented on #40169
5239a4bfa402b1dee7f1ba17abad43383320c492's wheel is below 10MB, but 8967241bc9807d7db980642716a21255102abccd's is about 20MB.

[2021-06-12 18:22] jreback commented on #40169
prob could compare the wheels and see what files are extra and then add back to gitignore

[2021-06-12 18:24] jbrockmendel commented on #41940
@lithomas1 are you able to reproduce the numpy failures locally xref #41935?

[2021-06-12 18:31] mroeschke commented on #18024
This looks to work on master. I suppose we could use a test for this

[code]

[2021-06-12 18:37] mroeschke commented on #18050
Looks to work on master now. Could use a test

[code]

[2021-06-12 18:43] mroeschke commented on #18166
Looks to work on master now. Could use a test

[code]

[2021-06-12 18:47] simonjayhawkins commented on #41942
fair enough. so probably can close.

[2021-06-12 18:56] mroeschke commented on #18250
This looks to work on master. Could use a test

[code]

[2021-06-12 19:24] bashtage commented on #40169
It looks like the problem is that the .c source files are bring included in the wheel in 1.3.0rc0 while these are not present in the 1.2.4

From 1.3.0rc0 wheel

![image](https://user-images.githubusercontent.com/5585221/121787113-35b0c700-cbbc-11eb-834b-454d2d2fe2de.png)

[2021-06-12 19:26] bashtage commented on #40169
Size size on disk is even worse - 120MB for 1.3.0 vs about 35 for 1.2.4

[2021-06-12 19:32] mroeschke commented on #18579
These looks reasonable on master. Could use a test

[code]

[2021-06-12 19:39] mroeschke commented on #18734
This looks to work on master. Could use a test

[code]

[2021-06-12 19:44] fangchenli commented on #40169
Difference between 5239a4b and 8967241:
[code]

[2021-06-12 19:47] jreback commented on #40169
ok so adding .c and .cpp and .h in the ignore section are needed

[2021-06-12 19:49] bashtage commented on #40169
What about PYX files? Not needed in the wheel either I would think.

On Sat, Jun 12, 2021, 20:48 Jeff Reback ***@***.***> wrote:

[2021-06-12 19:50] simonjayhawkins commented on #40169
If we know what the issue is. I'll hold off releasing the current rc and do a 1.3.0rc1 tomorrow instead.

[2021-06-12 19:57] mroeschke commented on #19088
I think these all look correct now that we store Timestamp objects in numpy arrays. Could use tests

[code]

[2021-06-12 20:04] mroeschke commented on #19136
This looks fixed on master now. Could use a test

[code]

[2021-06-12 20:37] mroeschke commented on #19225
Yes I think we want to support this as an EA instead of simply no-oping. Closing but happy to reopen if I misunderstood

[2021-06-12 20:37] #19225 closed

[2021-06-12 20:42] mroeschke commented on #19299
Performance looks better now. Could use an asv

[code]

[2021-06-12 20:48] jreback commented on #19299
that's a cached result though but looks fine

[2021-06-12 20:54] attack68 opened #41973 "BUG: numpy.char funcs error with string array citing non-string array."
- [x] I have checked that this issue has not already been reported - **_briefly_**

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

This fails even though `s` is composed of strings and even things like `s.str` `s.astype(str)`, `dtype=str` make no diffe

[2021-06-12 21:35] jbrockmendel opened #41975 "API: loc indexing with nested sequence raise on missing"
I think the current behavior is left over from the long long ago.

[code]

I think we should deprecate this and eventually raise like we would with any other missing label.

[2021-06-12 21:56] aacosta13 commented on #41901
Alright, here's the updated [gist](https://gist.github.com/aacosta13/eb1cb4b22ece354c60f0e7aab90137b0). Excluded the file types listed and used `isort` to add the import to the rest which does a much cleaner job than my previous script. Let me know if there are any other issues, though.

[2021-06-13 03:52] ra1nty opened #41978 "BUG: PeriodIndex inconsistent deserialization with HDF5 - PyTables"
- [x] I have checked that this issue has not already been reported.
There was a issue 5 years ago mentioned that `.to_hdf()` acts inconsistently across Python2 & 3 on `PeriodIndex` for fixed format
https://github.com/pandas-dev/pandas/issues/16781

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pand

[2021-06-13 04:11] CamiloMartinezM commented on #20513
.

[2021-06-13 06:28] ra1nty commented on #41978
So I have figured out the issue:
The `_get_data_and_dtype_name`  in
https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/io/pytables.py#L5070
used `Index.asi8` to store the int64 values of the PeriodIndex,

but the case was unhandled in ```DataCol.convert``` and ```Table.read_axes```
https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/io/pytables.py#L2400
https://github.com/pandas-dev/panda

[2021-06-13 06:41] attack68 commented on #41975
@pholf and I have an on going discussion re: this [here](https://github.com/pandas-dev/pandas/issues/39424#issuecomment-837863439). For what its worth I typed up how I believe many of the different cases should intersect, and pholf is rightfully challenging a few of those ideas.

Pertinent to your example, I propose:

`ser.loc[1, ["A", "B", "not a key"]]`  would raise since `"not a key"` is not pa

[2021-06-13 10:25] higoramf commented on #14403
Hello, I'm from Brazil and we've had the same problem, I noticed that pandas removed the argument DECIMAL for pd.read_excel(), befeore it was possible but now again come up this issues. I found the follow solution

file = ['coloumn'] = file['coloumn'].str.replace(',', '.').astype('float')

[2021-06-13 12:48] simonjayhawkins commented on #40169
I think once #41981 is merged and backported should be good for rc1

[2021-06-13 15:56] jbrockmendel commented on #41975
@attack68 thanks for the link, ill work my way through the thread today.  I take it this issue is redundant and can be closed?

[2021-06-13 16:15] jbrockmendel commented on #39424
The workarounds discussed focus on reindex, but I think `isin` is a natural candidate given how `get_locs` actually works.
 `ser.loc[single_key, slice, listlike]` is equivalent to

[code]

Granted that's more verbose than a single loc call.  Also it's not quite right if ser.index.levels[2] is an IntervalIndex, which is a whole other can of worms.  I'd be open to having a method to make this more c

[2021-06-13 17:08] simonjayhawkins commented on #40169
@pandas-dev/pandas-core starting rc1 now. please do not merge anything to 1.3.x until tagged

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] open PR to build wheels https://github.com/MacPython/pandas-wheels/pull/xxx
- [ ] upload docs https://pandas.pydata.org/pandas-docs/version/1.3.0rc1/
- [ ] wh

[2021-06-13 18:19] simonjayhawkins commented on #40169
now tagged.

[2021-06-13 18:50] MarcoGorelli opened #41986 "STYLE Investigate restructuredtext_lint as pre-commit hook"
pytest have such a hook to check rst files https://github.com/pytest-dev/pytest/blob/main/.pre-commit-config.yaml :

[code]

Would this be worth including in pandas? Investigations would be welcome

[2021-06-13 19:35] ra1nty commented on #41978
E.g. A simple but not clean fix will be to add a corner case in `IndexCol.convert` when constructing the index factory
https://github.com/pandas-dev/pandas/blob/master/pandas/io/pytables.py#L2077
[code]
From my understanding, the `TimedeltaIndex` and `DatetimeIndex` will be covered by the first `if` case as the correct dtype is implemented. If the 'freq' still in kwargs then it's for `PeriodIndex`

[2021-06-13 19:57] ra1nty commented on #41978
I also noticed that both fixed and table format can not handle the store of  values where the underlying array is ```PeriodArray```: while fixed format raised a readable ```TypeError```, the table format result in a ```TypeError``` without clear information. I do think this should be fixed as well.
Code to reproduce:
[code]
Output (`master` & `v1.2.4`):
Fixed
[code]
PyTables
[code]

[2021-06-13 20:03] simonjayhawkins commented on #40169
will do the conda PR tomorrow.

[2021-06-13 20:31] ra1nty commented on #41843
To add more, this created huge inconsistency in the resampler:
[code]

[2021-06-13 20:55] attack68 commented on #41975
yes I believe it to be a duplicate, with this and other cases under consideration elsewhere,

[2021-06-13 21:41] attack68 commented on #39424
For big data with multiindexes with a lot of levels the `isin` solution is impractical and probably ambiguous as to what order you mask your level selections by. It also doesn't help to yield an empty series, over a KeyError if that is the objective (which is solved for a single Index by using reindex). The `reindex` solution is also impractical because you have to specify a list of tuple indexes,

[2021-06-13 22:37] #41975 closed

[2021-06-13 22:39] philippefutureboy commented on #39921
Well long story short I wanted to skip the call to \_\_contains\_\_ and use .get directly instead.

[2021-06-14 06:07] attack68 commented on #41613
#41658 closes this

[2021-06-14 06:07] #41613 closed

[2021-06-14 07:42] attack68 opened #41994 "BUG: apply_index styles not universally applied across LaTeX multirows"
PR #41993 makes `Styler.applymap_index` and `Styler.apply_index` compatible with `to_latex`. But, with MultiIndexes this introduces a bug: cell coloring is not universal for multirow, albeit multicols are OK.

[code]

[code]
![Screen Shot 2021-06-14 at 09 37 21](https://user-images.githubusercontent.com/24256554/121855896-259c0300-ccf4-11eb-8c8b-7fa463429273.png)

Even if the code is amended to pr

[2021-06-14 09:22] NickVeld opened #41996 "ENH: Gather `dtype` and `convertors` processing in one place"
#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]

There are many places where `dtype` and `converters` can be modified

#### Describe the solution you'd like

[this should provide a description of the feature request, e.g. "`DataFrame.foo` should get a new parameter `bar` that [...]", try to

[2021-06-14 10:26] aberres opened #41997 "1.3: (intended?) Behavior change with empty apply"
#### Code Sample, a copy-pastable example

#### Problem description

The following (toy) snippet worked with 1.2:

[code]

With 1.3 it fails with `ValueError: Columns must be same length as key`

Technically this is correct - the apply on an empty frame returns the empty frame so things do not really match.

#### Expected Output

It still works? Just reporting it here if this is an unintended chan

[2021-06-14 10:39] aberres opened #41998 "REGR: 1.3 behavior change with groupby and asindex=False"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

With 1.3rc1 this fails with `ValueError: Length of values (0) does not match length of index (1)` while 1.2 returns and empty frame.

#### Expected Output

If this is the expected behavior fine. Just wanted to ensure that it is not an accidental regression.

[2021-06-14 11:21] aberres opened #41999 "REGR: 1.3 behavior change with groupby, apply and side effect"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Deleting the row passed to `apply_func` in combination with the call to `head` causes an exception in 1.3rc1.

When `apply_func` is called the second time the `MEMBER_ID` column does not exist anymore.

Doing a `df = df.copy()` in `apply_func` fixes the problem.

#### Expected Output

While one could argue that the code i

[2021-06-14 11:36] simonjayhawkins commented on #40169
https://github.com/conda-forge/pandas-feedstock/pull/111 failing
[code]
cc @fangchenli

[2021-06-14 11:48] jreback commented on #41999
mutating groupby is clearly called out in the docs -

[2021-06-14 11:56] simonjayhawkins commented on #41997
Thanks @aberres for the report

first bad commit: [caf81fac62071e9582379ea8c8a9cf40396f2fe7] BUG: DataFrame.__setitem__ not raising ValueError when rhs is df and has wrong number of columns (#39341)

cc @phofl

[2021-06-14 12:00] bashtage commented on #40169
Is setuptools now a runtime dependency?

[2021-06-14 12:03] phofl commented on #41997
@simonjayhawkins I've relabeled, since this is an indexing issue, not related to apply.

The RHS is
[code]
This is basically the case we have changed the behavior for.

[code]

I think this behaves now as expected.

@aberres The note you are looking for is the one for #38604 in the whatsnew

[2021-06-14 12:10] aberres commented on #41997
Thanks, makes sense.

Not sure if this happens a lot out in the wild - but maybe this case should be allowed for empty columns? I addd `if not df.empty` in my code which worked fine - as expected.

[2021-06-14 12:24] marlenezw commented on #37937
Thanks for pointing that out! Working on seeing if we can fix this in `cudf`.

[2021-06-14 12:32] simonjayhawkins commented on #41999
if you add `print(df)` to the user func, you get an interesting traceback

<details>

[code]

</details>

[2021-06-14 12:49] simonjayhawkins commented on #41998
Thanks @aberres for the report

first bad commit: [48a5853594f95b651e2490e456e5792a1cc1d56a] REF: preserve Index dtype in BlockManager._combine (#41354)

before this commit the result was

[code]
which is consistent with the result from a non-empty DataFrame, unlike the result on 1.2.4 which was an empty DataFrame with no columns

cc @jbrockmendel

[2021-06-14 12:55] simonjayhawkins commented on #40169
see #41815

[2021-06-14 12:56] aberres opened #42000 "ENH: Clarify error message when reindexing on an axis containing duplicates"
#### Is your feature request related to a problem?

Let's consider the following snippet:

[code]

This will raise an exception as the to be resampled dataframe has an axis with duplicates. The problem: I stumpbled at least twice on this problem and never understood what the error message wanted to tell me on first sight.

When seeing just the message (wihtout looking at the backtrace) I always th

[2021-06-14 13:01] phofl commented on #41997
Don't think behavior based on data is desirable. I am not sure what you want to achieve here if this works for empty dfs. When you know, that your DataFrame is empty why bothering with the setitem call? If it is not empty, this will raise even if we would allow empty frames

@jbrockmendel  thoughts?

[2021-06-14 13:08] phofl commented on #41997
Hm maybe I was wrong above and this is an apply issue.

[code]

Looks inconsistent, but I am not familiar enough with apply to asses this.

Nevertheless I am against catching the incosistency here in setitem. You can get into all sorts of trouble, if you expect a Series but receive a DataFrame.

[2021-06-14 13:11] fangchenli commented on #40169
#41818 only moved `setuptools` in the doc. Nothing was done to the code.

It is used in setup.py. Wasn't the package built and imported in the same virtual environment? To be more rigorous, we should check if `pkg_resources` exists in the plotting module. But it was always installed in most cases, this' why we never see this error in the CI.

@simonjayhawkins

[2021-06-14 13:14] simonjayhawkins commented on #41999
for info

first bad commit: [9ee8674a9fb593f138e66d7b108a097beaaab7f2] REF: avoid catching all exceptions in libreduction (#38285)

cc @jbrockmendel

[2021-06-14 13:20] aberres commented on #41997
Yeah, as you noticed in the "not empty case" only a single column is returned and the assignment works fine.

Technically it is not wrong to raise in the empty case. It is just a change in behavior which might or might not cause problems.

[2021-06-14 13:33] simonjayhawkins commented on #40169
our conda-test passed on pandas-release, but we have `setuptools                51.0.0           py38h06a4308_2` installed in the test container.

I have a github action that doesn't use docker that started failing sometime in the last week. this is also failing for 1.2.5 release readiness so one would think unreleated. but the logs are no help. will know more once replicated that issue locally.

[2021-06-14 13:38] bashtage commented on #40169
@simonjayhawkins You could try add setuptools to the recipe to see if it works.

[2021-06-14 13:58] attack68 opened #42001 "BUG: `DataFrame.apply` forces consistent dtypes with `result_type="broadcast"`"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

The documentation on `result_type` for `DataFrame.apply` states

It doesn't mention enforcing dtypes, yet:

[code]

[2021-06-14 14:02] simonjayhawkins commented on #40169
on pandas-feedstock the builds look successful

The traceback is
[code]

maybe could add the test section. but the problem seems to be related to the imports on the plotting side. IIUC this should use the vendored code as setuptools is no longer a required dependency @fangchenli ?

[2021-06-14 14:11] simonjayhawkins commented on #40169
ahh. I think I did misunderstand. we vendor packaging not pkg_resources? so pkg_resources IS a required dependency?

[2021-06-14 14:15] bashtage commented on #40169
Should this be fixed before rc2 or should setuptools be made into a runtime dependency?  Virtually everyone has setuptools installed, but there may be some edge cases (e.g., amazon lambda) where minimal packaging is desirable.

[2021-06-14 14:17] bashtage commented on #40169
If I install pandas master in conda, and then run `conda remove setuptools --force` which skips removing packages that depend on setuptools, I see the same error.

[2021-06-14 14:21] fangchenli commented on #40169
`pkg_resources` was introduced in #41503. We could revert it for the release.

[2021-06-14 14:30] fangchenli commented on #40169
After #41678, we could redo #41503 using `importlib.metadata`. Then the dependency issue is avoided completely.

[2021-06-14 14:58] jreback commented on #40169
for 1.3 this is not possible (but yes in the future you can do it).

`setuptools` is a de-facto dependendy if using matplotlib (so let's just add it as an official one). i don't think its burdensome at all.

[2021-06-14 15:21] simonjayhawkins commented on #40169
To get the packages built, I could maybe add setuptools to the test section of the pandas-feedstock recipe for now.

the issue is I can't test any changes locally with `python build-locally.py`

[code]

I'm on wsl2. maybe that's the issue. trying to debug but getting nowhere fast.

so I could push changes to the pandas-feedstock PR on a trial and error basis.

[2021-06-14 15:23] twoertwein opened #42002 "BUG/TYP: 1.3.0 index.values returns ExtensionArray | ndarray instead of ndarray"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Probably an intended change, but I didn't find anything related to it in the whatsnew.

[code]
pyright with 1.2.4
[code]

pyright with 1.3.0.rc1
[code]

[2021-06-14 15:39] TheNeuralBit opened #42003 "BUG: 1.3.0rc1 pd.util.hash_array on Index fails to access _values_for_factorize"
- [X] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas. (does not exist in 1.2.4, only seen in 1.3.0rc1 and master)

- [X] (optional) I have confirmed this bug exists on the master branch of pandas. (confirmed on 0b68d87a443)

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This i

[2021-06-14 16:04] attack68 commented on #13657
the heart of this issue is the following code lines:

[code]

The `DataFrame.apply` method is asymmetric in how it deals with broadcasting labels to the index or the columns:

[code]

Along axis=0, the native index is maintained unless overwritten by the function result object.

[code]
Along axis=1 (with result_type=expand), the native index is overwritten by RangeIndex unless overwritten by the f

[2021-06-14 16:29] simonjayhawkins commented on #40169
looks like a centOS thing which conda-forge uses. https://github.com/microsoft/WSL/issues/4694#issuecomment-556095344 fixes

[2021-06-14 16:48] jbrockmendel commented on #41997
Agreed

Yah seems like we should get back and empty Series right?

[2021-06-14 16:49] phofl commented on #41997
yes would have expected that as well

[2021-06-14 16:55] jbrockmendel commented on #41999
Yah im pretty sure this is due to the block.values pinning we do in libreduction, which in this case leads to the size of the data in the DataFrame to not match the length of the columns.

If there's an outcry, reverting #38285 wouldn't be the end of the world.  But mutating within groupby apply is a constant headache and the only real solution is to not allow it.

[2021-06-14 17:09] jbrockmendel commented on #42003
hash_array is only supposed to get ndarray or ExtensionArray (see the annotation)

[2021-06-14 17:11] simonjayhawkins commented on #40169
adding to the build, host and run sections and testing locally with python build-locally.py looks OK

will try and establish min additions (probably just run) before pushing but we will be removing this once the root issue is fixed in pandas.

[2021-06-14 17:13] attack68 opened #42005 "BUG: `DataFrame.apply` labelling index and columns asymmetrically if axis=0/1."
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Currently `DataFrame.apply` works asymmetrically.

[code]

Along axis=0, the native index is maintained, if the shapes match and it is not overwritten by the function res

[2021-06-14 17:42] The-Foible commented on #18450
+1 still present in 1.2.4

[2021-06-14 17:52] simonjayhawkins commented on #40169
some green appearing on https://github.com/conda-forge/pandas-feedstock/pull/111. @jreback OK to merge that one once fully green?

[2021-06-14 18:17] TheNeuralBit commented on #42003
I'm sorry I'm not sure what annotation you're referring to?

It does look this is WAI though, and I should prefer [`pd.util.hash_pandas_object`](https://pandas.pydata.org/docs/reference/api/pandas.util.hash_pandas_object.html) for my application.

Would a cleaner error message be a welcome change here?

[2021-06-14 18:24] TheNeuralBit commented on #41817
Closing this as it duplicates #42003. In both cases I should be using pd.util.hash_pandas_object instead.

[2021-06-14 18:24] #41817 closed

[2021-06-14 18:30] jorisvandenbossche commented on #40169
I don't think it needs to be reverted. Can't we just move back the import inside the function?

[2021-06-14 19:04] jreback commented on #40169
ok by me, I think we should declare this dependency and NOT do #42006 . The reason is that we need this for *any* entrypoint things; sure in 3.8 can drop it i suppose (as there is a new mechanism), but up till now we have had an undeclared, but needed dependency (which just happens to be installed by matplotlib i think).

[2021-06-14 20:08] lucashadin commented on #26314
Did this ever get patched? :)

[2021-06-14 20:09] jbrockmendel commented on #42003
The annotation for `values` on hash_array is `ArrayLike`, which is an alias for `np.ndarray | ExtensionArray`.

Yes, that should accept Indexes just fine.

[2021-06-14 20:10] jbrockmendel commented on #42003
sure

[2021-06-14 20:29] amaru-g commented on #40680
Hi, This is the very first time I am contributing. according to wiki. I should figure it out if this is is taken or not. @AlexGCas . What is the status of this?
Regards,

[2021-06-14 20:57] jorisvandenbossche commented on #40169
I am -1 on adding setuptools as a dependency (no problem for the RC, but IMO we should fix it for 1.3). @jreback if you want to further discuss that, please reopen #41815 (we shouldn't discuss that on this issue)

[2021-06-14 21:40] jreback commented on #41815
setup tools is an undeclared dependency now

it should be an official runtime one

[2021-06-14 22:09] pavany666666 commented on #26314
nope. I don't think so.I moved to alternate ways of doing it.
    On Monday, 14 June, 2021, 04:08:57 pm GMT-4, lucashadin ***@***.***> wrote:

Did this ever get patched? :)

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-14 22:48] huonw commented on #41942
Great, thanks! No need to backport from my perspective.

[2021-06-14 22:48] #41942 closed

[2021-06-15 01:07] stefmolin opened #42009 "DOC: Add New Community Tutorial"
#### Location of the documentation

I'm proposing the addition of another community tutorial to the [Community tutorials](https://pandas.pydata.org/docs/getting_started/tutorials.html) page.

#### Documentation problem

Not a problem, but an opportunity for improvement.

#### Suggested fix for documentation

I recently built a [pandas workshop](https://github.com/stefmolin/pandas-workshop) for the

[2021-06-15 06:26] jorisvandenbossche commented on #42002
That seems a correct change indeed

I don't think we generally list typing changes/fixes in the whatsnew

[2021-06-15 07:24] felixdivo opened #42015 "DOC: pandas.Series.str.isspace has wrong documentation"
#### Location of the documentation

[pandas.Series.str.isspace](https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.str.isspace.html)

#### Documentation problem

That does not seem to match the function.

#### Suggested fix for documentation

Not copy the doc of `pandas.Series.str.isalnum` but rather provide a specific one.

[2021-06-15 08:36] jorisvandenbossche commented on #41815
There is a difference between "optional" and "required" dependencies. We have lots of optional dependencies that are not declared in `install_requires`. And in practice, setuptools always has been an optional dependency (not required for importing pandas / normal usage, only required when actually using one of the non-default plotting backends).

It's true that we don't provide a proper error mess

[2021-06-15 08:40] phofl commented on #41998
Yep my ci picked that up as well. Should we label this as a regression @simonjayhawkins ?

[2021-06-15 08:46] simonjayhawkins commented on #40169
indeed.

As we can get the conda packages uploaded with a tweak to the dev branch of pandas-feedstock and since the solution in rare cases where the user does not have setuptools is to just install setuptools, I think the issue does not warrant an rc2 but should be fixed before release.

Does not appear to pose an problem with clean install as setuptools gets installed.

[code]

[2021-06-15 09:17] simonjayhawkins commented on #41998
sure. I left it in the needs triage for another set of eyes as I only bisected the change of behavior. If we use a populated DataFrame in the code sample instead of an empty one. the result does not make much sense to me.

[2021-06-15 09:34] lucashadin commented on #26314
How did you solve it? Did you use the chunking method that kamal1262 mentioned? Or another package? Any advice would be great :)

[2021-06-15 09:51] simonjayhawkins commented on #40169
all wheels (including aarch 😄) and conda packages for rc1 are now available.

I will announce on `pydata@googlegroups.com` and `pandas-dev@python.org` in a few hours if no objections.

cc @jorisvandenbossche if you want to tweet.

[2021-06-15 10:33] simonjayhawkins commented on #42015
Thanks @felixdivo for the report.

The code is here...

https://github.com/pandas-dev/pandas/blob/2c1e656ccae21dde88eda157b0ed0d0506265ce3/pandas/core/strings/accessor.py#L3007-L3009

contributions welcome

[2021-06-15 10:56] simonjayhawkins commented on #42002
agreed.

https://github.com/pandas-dev/pandas/blob/a1412a0440f96cc04288f4672d9473ae481a802b/pandas/core/indexes/base.py#L4273-L4293

agreed. the type of the property is unchanged. only the type annotation has been changed (in #38531)

[2021-06-15 11:02] simonjayhawkins commented on #41999
I'll label as regression and milestone as 1.3 and assume we will revert #38285 for 1.3 and disallow mutation in a future version.

[2021-06-15 11:06] mhabets opened #42016 "BUG: groupby with dropna=False and 'unique' aggregate creates duplicated index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When using 'unique' and another aggregate function in case of a groupby on key containing NA

[2021-06-15 11:08] jreback commented on #41999
-1 on reverting - this is not supported in any way and noted in the docs

we could have a better error message though

[2021-06-15 11:20] simonjayhawkins commented on #41999
sure. if we can do for 1.3 and add something to the api breaking changes of the release notes, otherwise I see no harm in reverting #38285 to keep the api stable for users.

[2021-06-15 11:28] simonjayhawkins commented on #42003
the code sample in the OP includes a tz. so that is not a change in 1.3.0rc1

[2021-06-15 11:45] jorisvandenbossche commented on #39416
What's exactly the action item in this issue?

[2021-06-15 11:46] simonjayhawkins commented on #42003
The public api for `hash_array` is at https://pandas.pydata.org/docs/reference/api/pandas.util.hash_array.html

The docstring has been updated in #39949 and the api widened to accept any EA and numpy array. https://pandas.pydata.org/pandas-docs/version/1.3/reference/api/pandas.util.hash_array.html

so Index is not an accepted input. but maybe we should also add something to the 1.3 release notes.

[2021-06-15 11:52] jorisvandenbossche commented on #39417
Given the recent problems we had with #41977, #41981 (originally from changes in #38852), it might be good to actually add this as a workflow in our CI.

@simonjayhawkins if I understand correctly, you have a workflow for this in your fork that you use for testing the release branch (or RC) regularly? If that's the case, it might not be a lot of work for you to move that to the main repo's CI?
(ot

[2021-06-15 11:52] jorisvandenbossche commented on #39417
Whoops, I only notice now that @fangchenli already opened a PR for it: https://github.com/pandas-dev/pandas/pull/41685

[2021-06-15 12:30] simonjayhawkins commented on #39416
from https://github.com/pandas-dev/pandas/pull/38852#discussion_r552479485

`python setup.py clean --quiet` without numpy installed.

extracting source from tarball

<details>

[code]

</details>

whereas if we do a basic install from the tarball (again no numpy), the requirements are automatically satisfied.

<details>

[code]

</details>

we have numpy as a top level import in setup.py. but not

[2021-06-15 12:34] lu-liu-rft commented on #26388
Hi I'm seeing the same issue, just wondering if you have a way to resolve it?

[2021-06-15 12:47] simonjayhawkins commented on #39417
yes it picked up the problems in #41977, but missed the setuptools issue (ignore that the conda-test has been failing for the last week) as setuptools was in the test container and also missed the wheel size issue.

[2021-06-15 12:55] simonjayhawkins commented on #39417
The wheels still built on pandas-wheels after #41977, an alternative to a ci workflow in pandas, is to build the wheels from the sdist on pandas-wheels instead of the github source, problems would be picked up on the nightly builds, or if a last minute change, before release.

[2021-06-15 13:18] simonjayhawkins commented on #42003
first bad commit: [9664284eb0a065edc5c94dcc5e62ba50dfa886e3] TYP: fix ignores (#40452)

[2021-06-15 13:32] jorisvandenbossche commented on #41834
I think this is due to a shortcoming / bug in pytz. For example for the first case of "Australia/Broken_Hill":

[code]
So for the older date, it is falling back to the LMT ("Local Mean Time").

While comparing that to the `zoneinfo` package in Python 3.9:

[code]

this gives the correct offset for the older datetime.

[2021-06-15 13:39] rok commented on #41834
Huh, interesting!
I did notice this problem only appeared somewhere in the early 1900s.

[2021-06-15 13:53] jorisvandenbossche commented on #41834
I don't know exactly from which point in time there are clear timezone rules, and what the different libraries return for a datetime before the start of those rules (probably the "local mean time").

For example, for an even older date, both `zoneinfo` and `pytz` return the LMT (I assume):

[code]

(pytz just rounds to the minute)

[2021-06-15 14:01] rok commented on #41834
Yeah it gets really fuzzy really fast.
To be fair precise sub day timestamps pre-1900 would be rare. However it would be IMO important to be able to express them.

[2021-06-15 14:25] phofl commented on #42016
Hi, thanks for your report. Could you please show your result and what you would expect?

[2021-06-15 14:33] ForestMars commented on #41901
@aacosta13 - please see the updated list of file exclusions in my PR #41941. The number of files needing the import statement is reduced from ~120 to 55.

[2021-06-15 14:44] MarcoGorelli commented on #41901
@aacosta13 could you send a PR to @ForestMars 's branch, so this is all done in the same PR to pandas?

[2021-06-15 15:15] mhabets commented on #42016
Hi @phofl - I have updated the issue description as requested.

[2021-06-15 15:49] #42002 closed

[2021-06-15 16:11] qwertystop commented on #19543
I naturally encountered this error on 1.2.4 having produced such an empty-multiindexed DataFrame via `DataFrame.compare` of two dataframes having no differences, where the index on each DataFrame happened to be a MultiIndex; the end result is an empty DataFrame with an empty and unlabeled MultiIndex for columns, and an empty-but-labeled MultiIndex for rows. Without an existing MultiIndex, this cou

[2021-06-15 18:00] jbrockmendel commented on #42003
makes sense

[2021-06-15 18:22] fiendish opened #42022 "BUG: read_csv now errors with non-dict dtype and same-name columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-15 20:29] mzeitlin11 opened #42026 "CI: fsspec 2021.6.0 failures"
`pandas/tests/io/test_fsspec.py::test_read_csv` and `pandas/tests/io/test_fsspec.py::test_markdown_options` fails with fsspec version 2021.6.0.

Based on the changelog, the culprit might be

but more investigation needed to see if this is a new bug or something we should fix in the failing tests

Temporary fix in #42023

[2021-06-15 20:59] jreback commented on #41940
@lithomas1 can you update this after merging the patch.

[2021-06-15 21:04] #41409 closed

[2021-06-15 21:05] #41873 closed

[2021-06-15 21:18] jreback commented on #42000
I *think* there maybe an issue about this that duplicates this one if you can have a search.

[2021-06-15 22:16] phofl commented on #41998
This one fails too:

[code]

The initial code snippet seems a bit artificial to me, mostly because I don't know what to actuall expect. But this one returned
[code]

on 1.2.4 which looks sensible to me.
Labelling as a regression

[2021-06-15 22:40] #42015 closed

[2021-06-15 23:34] #41951 closed

[2021-06-15 23:48] #31479 closed

[2021-06-16 00:17] #41906 closed

[2021-06-16 01:46] #42022 closed

[2021-06-16 02:14] #21768 closed

[2021-06-16 09:34] #42000 closed

[2021-06-16 10:17] jorisvandenbossche commented on #42026
For reference, the failures (indeed related to MemoryFileSystem):

[code]

[2021-06-16 10:34] zerothi commented on #15663
This would be ideal to have. While I see `__contains__` doesn't fit the iterable, it surely makes sense reading the code `t1 in period` makes perfect linguistic sense. However, it goes against the `__contains__` philosophy.

One could argue that iterating a period with any sub-frequency is allowed.

But it really needs to be in, one way or another! :)

Bump on this :)

[2021-06-16 11:15] simonjayhawkins commented on #15663
see https://github.com/pandas-dev/pandas/issues/15663#issuecomment-737888657

@zerothi  you are welcome to submit a PR; that's how things get fixed

[2021-06-16 11:18] Princeakwok1 commented on #41986
-   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]

[2021-06-16 11:19] zerothi commented on #15663
Yes, but please recognize https://github.com/pandas-dev/pandas/issues/15663#issuecomment-737982702 which asks for the convention? So which would be accepted?

[2021-06-16 11:27] simonjayhawkins commented on #15663
my read of the issue is that `.__contains__` would be rejected during review. so maybe `.contains`?

The implementation of those 2 would be moreless the same. so could easily change during review.

The issue title is about a method on Period. The other option of `Timestamp.isin` would probably have a significantly different implementation.

I think a PR for a `Period.contains` would be a good star

[2021-06-16 11:32] zerothi commented on #15663
Why not decide prior to doing stuff? Discussing and settling that here seems appropriate.

[2021-06-16 11:36] simonjayhawkins commented on #15663
That would be ideal, but PRs tend to get more review/discussion/scrutiny than issues, so opening a PR has more chance of getting things moving than bumping an issue.

[2021-06-16 13:33] attack68 opened #42053 "BUG: `Styler` subclassing and `from_custom_template` no longer working"
PR #40312 introduced jinja2 template inheritance for the styler HTML parsing.

Essentially we went from a structure like:

[code]
to

[code]

The problem with that is that Styler offers (and documents) the ability to subclass it and extend the main template so that defined blocks can be overwritten.

In jinja2 the `included` blocks of an extended template cannot be overwritten.

Hence a patch is t

[2021-06-16 13:43] owenlamont opened #42054 "ENH: Implement striptrailingspace parameter for the read_table function"
#### Is your feature request related to a problem?

I had to do several additional manual data cleaning steps to parse certain markdown tables using the read_table function. The most cumbersome was not having an option to strip trailing spaces between values and separators. See mock code example at the end of this description.

#### Describe the solution you'd like

I would like the read_table fun

[2021-06-16 13:47] owenlamont commented on #42054
If this change is approved I'd be happy to work on the implementation.

[2021-06-16 14:22] sziem opened #42055 "BUG: IndexError when slicing a series, if a level of MultiIndex contains only NaN values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

##### Traceback

[code]

#### Problem description

The example runs as expected, when the index contains a non-NaN valu

[2021-06-16 14:46] simonjayhawkins commented on #40799
@pandas-dev/pandas-core not sure what to do here. I'm removing from 1.2.5 milestone so that can proceed with the 1.2.5 release.

[2021-06-16 14:49] simonjayhawkins commented on #41596
@pandas-dev/pandas-core moving this to 1.3 (which will probably get moved to 1.3.1) as no PRs to fix and also an additional performance regression identified for 1.3

[2021-06-16 14:51] simonjayhawkins commented on #41797
@pandas-dev/pandas-core if any one gets a chance to look. This is now the only open issue on 1.2.5 milestone.

[2021-06-16 14:56] simonjayhawkins commented on #40917
@pandas-dev/pandas-core I'm going to try and replicate the issue with the release readiness scripts locally https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22 and then look at #41797 after if no-one else gets a chance before. So could maybe release 1.2.5 in the next couple of days?

[2021-06-16 15:07] jbrockmendel commented on #41998
ive got it on my todo list (i.e. an open browser tab) to look at this, but nothing obvious off the top of my head

[2021-06-16 16:28] jreback commented on #42055
try on 1.3.0rc1

[2021-06-16 16:57] lithomas1 commented on #41996
Seems reasonable to me. I guess the solution would be to deprecate convertors and allow callables in dtype.

[2021-06-16 18:58] sziem commented on #42055
I get the same error on 1.3.0rc1

[2021-06-16 19:00] cericson opened #42056 "BUG: pd.Series.argsort misaligned index"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Code:
[code]
Output:
[code]

#### Problem description

It appears that the argsort output str index order (c, a, b) remains the same as the input data, while the numeric

[2021-06-16 19:08] rapatel0 commented on #41967
Awesome. this is exactly what need. Sorry I may be dealing with legacy `np.nan` in my dataframes

[2021-06-16 19:13] hudson-ai commented on #41700
@gioxc88 what is a weighted series though? It seems that `fn` would have to take both the series and the weights as arguments. Think about how you would have to implement the standard deviation, for example. You cannot simply multiply the values times the weights.

[2021-06-16 20:06] rapatel0 commented on #41967
The functionality works in your test case but I'm not seeing it when wrapped in a groupby to operate on a dataframe. Am I doing something wrong?

![image](https://user-images.githubusercontent.com/18704704/122285450-5a56b880-ceb4-11eb-8e97-bf1982fb3151.png)

[2021-06-16 20:12] rapatel0 commented on #41967
Running a simple groupby in front of the series code implies that some masking logic is failing.

![image](https://user-images.githubusercontent.com/18704704/122286208-3ba4f180-ceb5-11eb-90e8-6ddd677b19c1.png)

[2021-06-16 22:15] #41836 closed

[2021-06-16 23:07] #41839 closed

[2021-06-16 23:56] mzeitlin11 commented on #41967
When you ran `df.a.fillna(pd.NA)`, the dtype of `a` becomes object. Rather than doing that, you can convert (or start with) one of the new masked types using `astype`. That failure is a known bug (#37501), but works fine for masked types

[2021-06-17 03:06] #25273 closed

[2021-06-17 03:49] pablodz commented on #42054
What about this method

[code]
Output:
![image](https://user-images.githubusercontent.com/28235457/122328300-061ff880-cef5-11eb-9645-5031cf8fd913.png)

More info [here](https://stackoverflow.com/a/60156036/10491422)

[2021-06-17 04:03] pablodz commented on #42054
Another method could be

[code]

Output:
![image](https://user-images.githubusercontent.com/28235457/122329410-ff928080-cef6-11eb-9f14-b890b983eb2f.png)

[2021-06-17 06:00] rafis commented on #32092
ARM is not big endian, 99.9% of current ARMs are little endian.

[2021-06-17 06:12] auderson opened #42064 "BUG: rolling std can't handle mixture of (relatively) big and small numbers"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

If we have a relatively big number at the top, and the remaining is zeros, then the rolling result is not zero

#### Expected Output
[co

[2021-06-17 06:57] attack68 commented on #21642
For what its worth this is the solution:

[code]

for LaTeX replace `&nbsp;` with `\\;`

[2021-06-17 07:54] zerothi commented on #41768
To add to this:
[code]
also does not work. This is, to me, confusing since it works with `groupby` statements:
[code]

[2021-06-17 08:24] attack68 commented on #42056
With a Series you are, mathematically, associating an `index label` with a `value` in a pair, such as in:

[code]
If you were to sort this series naturally you use the `value` key and maintain the `index` as part of a pair:
[code]
When you perform `argsort` on a series you return a different object, a list of integer indexes that would sort those associations by their `value`. I.e. you input a lis

[2021-06-17 08:56] simonjayhawkins commented on #40917
couldn't isolate which dependency change actually broke the github workflow but changing from "conda build" to "conda-build" fixed.

"conda build" gives a "[y/N]" prompt and does nothing.

[2021-06-17 09:26] gioxc88 commented on #41700
@hudson-ai  thanks for the answer. You are indeed correct. The function passed to apply should receive both the series and the weights.

[2021-06-17 09:29] attack68 commented on #42064
confirmed...
[code]

This is actually a result of the `rolling.std` method using the `roll_var` method which returns:

```[nan nan 3.333e+05 5.821e-11 5.821e-11]```
and the numpy square root
```[nan nan 5.774e=02 7.629e-06 7.692e-06]``` which we see in the result.

This is to do with computer precision and the implementation of `roll_var` which apparently uses:
""" Numerically stable implementatio

[2021-06-17 09:46] KayvanShah1 opened #42066 "DOC: How to use storage_option param here to integrate with GCP bucket?"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html

#### Documentation problem

How to use storage_option param here to integrate with GCP bucket?

#### Suggested fix for documentation

Please add some examples to pandas.DataFrame.to_{any_file_format}.html

[2021-06-17 10:53] jreback commented on #42064
this was fixed for 1.3

[2021-06-17 12:00] raphaelquast opened #42070 "BUG: error writing sparse DataFrame to HDF"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]
[code]

#### Problem description

the code-example tells it all... saving a sparse-DataFrame to HDF raises an error

####

[2021-06-17 12:12] liaoyusaki opened #42071 "BUG: read_excel cannot open .xls file, ValueError: File is not a recognized excel file"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I got an error when I tried to open a product.xls with pd.read_excel ("NDC database file - Ex

[2021-06-17 12:27] simonjayhawkins commented on #42071
I don't think this is a pandas issue.

![image](https://user-images.githubusercontent.com/13159005/122396317-c77b5400-cf6f-11eb-99d5-8be904204d78.png)

[2021-06-17 12:31] liaoyusaki commented on #42071
you are right, I downloaded it from the website and it ends with `.xls`, but it is actually an csv file with suffix `.xls`, I managed to read it after I force the name into `.csv`

[2021-06-17 12:31] #42071 closed

[2021-06-17 12:36] attack68 commented on #42064
@jreback I got my results, and the same problem, on: `1.4.0.dev0+41.gd67f6a678c.dirty`

[2021-06-17 13:49] fangchenli opened #42076 "CI: disable auto-cancel for master branch"
#41962 enabled auto-cancel for GitHub Actions on both master and PRs. Ideally, we should only have this feature turned on for PRs.

Auto-cancel is achieved with the `concurrency` feature. It looks like this:
[code]
The group attribute specifies a group name. So only one job can run for each group.

To disable it for master, we need to select the appropriate workflow/job variables from https://docs

[2021-06-17 15:54] ForestMars commented on #41901
@aacosta13 - LMK if you'd like me to send the PR adding import to those files, to my branch with the pre-commit hook.  Happy to do that if you've don't have time.

[2021-06-17 16:10] Rubtsowa opened #42078 "When change default dtype for empty Series?"
Hello!
I see ``<stdin>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.``. When you planed change default dtype for empty Series?
Thank you in advanced!

[2021-06-17 16:27] MarcoGorelli commented on #42078
Hey - I thought it would've been 2.0, but I don't see #29405 in #30228 - @jorisvandenbossche should it be added?

[2021-06-17 17:02] mroeschke commented on #42064
Note: this is called out in the user guide in the warning block https://pandas.pydata.org/docs/user_guide/window.html#overview

and even thought 1.3 does have a change in `rolling.std/var`, we note that there will be numerical imprecision as well: https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.html#removed-artificial-truncation-in-rolling-variance-and-standard-deviation

There will be l

[2021-06-17 17:53] #41564 closed

[2021-06-17 19:05] #41953 closed

[2021-06-17 19:19] lithomas1 commented on #30017
@TomAugspurger Did this actually get changed? On my branch off master this still raises DeprecationWarning.

[2021-06-17 19:28] TomAugspurger commented on #30017
Not sure.

[2021-06-17 19:50] mzeitlin11 opened #42088 "CI: categorical failures"
Seeing
[code]
along with a bunch of other categorical related failures. Guessing cause may be #41934, cc @jbrockmendel

[2021-06-17 19:51] jbrockmendel commented on #41823
@realead i think one of your recent PRs closes this, not sure which one

[2021-06-17 19:52] jbrockmendel commented on #42088
is there a particular test i should run to reproduce locally?

[2021-06-17 19:53] jbrockmendel commented on #42088
never mind, found a bunch

[2021-06-17 19:59] jbrockmendel commented on #42088
Tentatively Looks like changing `self.get_indexer(target.categories)` to `self._get_indexer(target.categories)` in indexes.base L3413 does the trick, I'll make a PR shortly.

[2021-06-17 21:28] tamargrey opened #42092 "REGR: 1.3.0rc behavior change with concatenating boolean and numeric columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Previously, the `concat` call would produce a series with dtype `int64`, converting the bools

[2021-06-17 21:34] jreback commented on #42092
the result is correct; you should be doing an `.astype(int)` on the bools

[2021-06-17 21:34] #42088 closed

[2021-06-17 23:59] #29072 closed

[2021-06-18 02:44] JBGreisman opened #42099 "BUG: Adding Series to empty DataFrame can reset dtype to float64"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas (1.3.0rc1).

- [x] (optional) I have confirmed this bug exists on the master branch of pandas

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In my mind, this behavior seems unexpected because the provided `dtype` should be p

[2021-06-18 04:24] realead commented on #41823
It was closed with #41952

[2021-06-18 04:39] #41823 closed

[2021-06-18 05:00] mroeschke commented on #19513
The comparison in the first comment all raise the same error now. Could use a test if there are none.

[code]

[2021-06-18 05:16] mroeschke commented on #19599
Looks like this has been implemented: https://github.com/pandas-dev/pandas/blob/648eb40abc53bcbdb2a6a1e68fd309c3d8021f8a/pandas/core/internals/blocks.py#L1451

So going to close, but happy to reopen if I misunderstood

[2021-06-18 05:16] #19599 closed

[2021-06-18 05:25] mroeschke commented on #19630
Looks like this issue is still seeking an example where the memory usage grows over time. Since we still don't have this going to close, but happy to reopen once we get that example

[2021-06-18 05:25] #19630 closed

[2021-06-18 05:30] mroeschke commented on #19658
Agreed, the use of `_mgr` should make this more consistent now. Closing but happy to reopen if that's not the case

[2021-06-18 05:30] #19658 closed

[2021-06-18 06:54] realead commented on #41823
The difference is , that `mi1.unique` operates on `self.values`  (https://github.com/pandas-dev/pandas/blob/648eb40abc53bcbdb2a6a1e68fd309c3d8021f8a/pandas/core/base.py#L969)

(i.e.  `[(3.0, 1) (nan, 2) (4.0, 4) (nan, 2)]`) , while `drop_duplicates` operates on `self.codes` https://github.com/pandas-dev/pandas/blob/648eb40abc53bcbdb2a6a1e68fd309c3d8021f8a/pandas/core/indexes/multi.py#L1592

where

[2021-06-18 08:06] attack68 opened #42101 "BUG: `Styler.hide_columns()` does not hide index name row"
Whilst `Styler.hide_index()` hides column header name (along with the index), the index name row persists when `Styler.hide_columns()` is used to hide column headers.

The index names rows should also be hidden.

What to do:

1) Find `pandas/io/formats/style_render.py`
2) Find the method for the `StyleRenderer` called `_translate_header` and read the documentation what it is trying to structure.
3

[2021-06-18 09:36] LucasG0 opened #42102 "Indexing MultiIndex with duplicates return Series instead of raw value"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
[code]

#### Problem description

When indexing a unique index value with `.loc` on a `MultiIndex` containing duplicated values,

[2021-06-18 10:00] realead commented on #41367
I think it was fixed with #41988.

[2021-06-18 11:18] flutterq commented on #11493
All Possible Working Solution Added [[Solved] pandas.parser.CParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 12](https://flutterq.com/solved-pandas-parser-cparsererror-error-tokenizing-data-c-error-expected-2-fields-in-line-3-saw-12/)

[2021-06-18 11:32] MarcoGorelli commented on #11493
Locking as resolved for now, thanks for sharing solutions - if anyone experiences any issues, please open a new issue with a reproducible example - thanks 👍

[2021-06-18 11:36] fangchenli commented on #41367
Thanks!

[2021-06-18 11:36] #41367 closed

[2021-06-18 11:43] attack68 commented on #42102
slightly subjective what should happen here.

see #39775 for many similar cases, this is possibly a duplicate.

[2021-06-18 11:46] simonjayhawkins commented on #42099
Thanks @JBGreisman for the report.

That was indeed the output in pandas 1.2.4 and earlier.

first bad commit: [527c7893b8f56f5efe7c182ede5b7a26af4ce702] API/BUG: always try to operate inplace when setting with loc/iloc[foo, bar] (#39163) cc @jbrockmendel

[2021-06-18 11:48] MarcoGorelli opened #42103 "TST Improve error message of assert_produces_warning"
Currently, when using `assert_produces_warning` with `match=`, the error message is not helpful. e.g.:
[code]

I think it should show the diff of the message, like pytest does

[2021-06-18 13:15] grotmol opened #42104 "BUG: DatetimeIndex.intersection gives incorrect result"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-18 13:39] simonjayhawkins commented on #42092
Indeed, there was no release note with the PR that introduced this change. @jbrockmendel

first bad commit: [4554635fd3ceed17a48a97263ca2074ee003df0d] REF: remove DatetimeBlock, TimeDeltaBlock (#40614)

will reopen for now.

This change looks unintentional, we should add something to the release notes in the API breaking section and probably needs some additional tests for this new behavior (or re

[2021-06-18 14:02] cjfarnold opened #42105 "BUG: error 'PandasArray' object has no attribute '_str_replace'"
Got the above error when executing the following line in my code
df["CleanedCol"] = df[colname].str.replace(r'[^A-Za-z0-9]+', ' ')

details of the error is
accessor.py", line 1312, in replace
    result = self._array._str_replace(

AttributeError: 'PandasArray' object has no attribute '_str_replace'

output of pd.show_version()
INSTALLED VERSIONS
------------------
commit           : b5958ee1999e9

[2021-06-18 14:08] simonjayhawkins commented on #42105
Thanks @cjfarnold for the report.

Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

Do you still get the same error with a more recent version of pandas?

[2021-06-18 14:13] owenlamont commented on #42054
Thanks @pablodz - your first method didn't strip off the trailing spaces - your second way does but you did all the heavy lifting in plain Python (which I acknowledge might be the most appropriate implementation).

When I Googled "Pandas read markdown" not much came up other than this [StackOverflow answer](https://stackoverflow.com/questions/60154404/is-there-the-equivalent-of-to-markdown-to-read

[2021-06-18 14:53] simonjayhawkins commented on #42104
This was the output in pandas 1.0.5

first bad commit: [29c820fad0c200a61c8462ba88afe3b3ab1878b2] BUG: DTI/TDI intersection result names (#33904)

cc @jbrockmendel

[2021-06-18 14:59] MarcoGorelli opened #42106 "Use better example in pd.lookup replacement"
https://github.com/pandas-dev/pandas/issues/39171#issuecomment-773477244

In the user guide, let's use
[code]
instead of the current workaround

https://pandas.pydata.org/pandas-docs/dev/user_guide/indexing.html#looking-up-values-by-index-column-labels

cc @erfannariman
also cc @quanghm in case you have further comments on this

[2021-06-18 15:01] calvinsomething commented on #42103
take

[2021-06-18 15:19] tamargrey opened #42107 "BUG: 1.3.0rc Series.mode errors with BooleanDtype series containing nans"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

The above `mode` call produces the following error: `TypeError: int() argument must be a strin

[2021-06-18 15:43] #41404 closed

[2021-06-18 16:00] raghuabhishek commented on #42106
Hi MacroGorelli, Can I take this issue and work on it.

[2021-06-18 16:33] MarcoGorelli commented on #42106
sure, PRs welcome

[2021-06-18 18:17] worthy7 commented on #16898
![image](https://user-images.githubusercontent.com/4762399/122601797-d0be0b00-d0ac-11eb-85c6-f1231f22d311.png)
 Doesn't seem to care at all about UTC, it's always tz-aware.

[2021-06-18 19:34] raffienficiaud commented on #32619
There is something that is not right also wrt. `astype("datetime64[ns, UTC]")`, consider this:

[code]

The code on column `event_time` does an explicit
[code]
while `prediction_time` is constructed as is from `datetime.datetime` with a time zone set to `datetime.timezone.utc`. However it is printed as the type information as for the explicit case to `datetime64[ns, UTC]`.
The workaround is to exp

[2021-06-18 20:41] KutuDev opened #42112 "ENH:"
#### Is your feature request related to a problem?
I wish the CSV files exported from Pandas have cell sizes automatically fitted to the data. Using Microsoft Excel to open a CSV file exported from Pandas results in a cluttered spreadsheet. Some data in a cell are hidden until I manually increase the cell size.

#### Describe the solution you'd like
df.to_csv() should have a new parameter called a

[2021-06-18 21:03] realead commented on #41940
I cannot test it easily, but my guess is that #41988 had fixed the following examples:

TestUnique.test_first_nan_kept,  TestIsin.test_different_nans, TestIsin.test_different_nan_objects, TestDataFrameSelectReindex.test_reindex_nan, TestIndex.test_isin_nan_common_object, TestGetDummies.test_get_dummies_basic_drop_first_NA, test_map_missing_mixed, test_reindex_nan

`test_hash_equal` isn't fixed but

[2021-06-18 21:12] jreback commented on #42112
and why aren't you just using to_excel()

[2021-06-18 21:40] jbrockmendel commented on #42104
changing _can_fast_intersect to `return self.freq.n == 1` on the last line appears to solve this.  still need to run the full test suite

[2021-06-18 22:10] KutuDev commented on #42112
Well, I use to_excel() if I need a workbook containing many sheets and use to_csv() for just a single sheet.

[2021-06-18 22:15] jreback commented on #42112
can simply does not have meta data

use excel

[2021-06-18 22:17] #42112 closed

[2021-06-18 23:05] sarathprath commented on #16531
import pandas as pd
p=os.getcwd()
print(p)
df = pd.read_csv (r'C:\Users\vasud\PycharmProjects\pythonProject\Exam.csv')
print(df)

I have given the code as above and getting the below errors. Can someone help with this please? Am struck for quite a lot of time on this

Errors:
Traceback (most recent call last):
  File "C:\Users\vasud\PycharmProjects\pythonProject\Assign.py", line 11, in <module>

[2021-06-18 23:13] datapythonista commented on #22459
Looks like there are still some docstrings with errors:
[code]
Not many, I'll see if I can create specific issues for some of them.

[2021-06-18 23:47] lithomas1 commented on #41940
I'll test w/ CI in #41595, but having some difficulties due to #41935.

[2021-06-19 00:07] jbrockmendel commented on #42099
Based on a quick look:

In Loc._setitem_with_indexer L1664 we add a new column with `self.obj[key] = infer_fill_value(value)`.  Here `value` is `df["data"]` from the OP.  `infer_fill_value(value)` gives np.nan, so the inserted column is float64.  Then later we come back and set the values into the new column.  Because `df["data"]` can be written into a float64 column losslessly, it is done inplace

[2021-06-19 01:44] neelmraman commented on #41876
take

[2021-06-19 03:37] jbrockmendel commented on #27927
closed by #41846

[2021-06-19 03:37] #27927 closed

[2021-06-19 03:40] #35197 closed

[2021-06-19 03:42] dalejung opened #42116 "BUG: source .c files under _lib/src being gitignored."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

Straight forward issue. Not all `.c` files are generated and shouldn't be ignored. Problematic for code searching tools that are set to respect `.gitignore` files. Ran into th

[2021-06-19 03:46] jbrockmendel commented on #34019
This works in master, could use a test

[2021-06-19 03:54] jbrockmendel commented on #19295
possibly closed by #38597

[2021-06-19 03:57] jbrockmendel commented on #37947
Is this actionable on our end?

[2021-06-19 04:41] mroeschke commented on #19721
Looks to now indeed return a Categorical. I guess this behavior seems right and could use a test if it doesn't exist

[code]

[2021-06-19 05:05] mroeschke commented on #19774
This version of pandas is pretty old and python 2.7 isnt supported anymore. If anyone could reproduce with a more modern version of pandas and python 3 that would be helpful, otherwise closing this issue for now.

[2021-06-19 05:05] #19774 closed

[2021-06-19 05:20] mroeschke commented on #19791
This looks much faster now. Could use an asv benchmark.

[code]

[2021-06-19 05:53] mroeschke commented on #19867
Looks like this test has changed on master. Appears that this is also testing on a really old version on pandas on Python 2.7.

Would be great if someone could confirm on a more recent version of pandas on Python 3, but going to close in the meantime. Happy to reopen if this resurfaces in this case.

[2021-06-19 05:53] #19867 closed

[2021-06-19 05:54] raghuabhishek commented on #42106
Thanks MarcoGorelli, I have raised a PR https://github.com/pandas-dev/pandas/pull/42110. Can you pls review it and let me know if there are changes required.

[2021-06-19 06:02] mroeschke commented on #19969
Looks like this issue needs more information to clarify the specific ask. Since this issue has gone stale without a response, going to close for now, but happy to reopen once we get more info

[2021-06-19 06:02] #19969 closed

[2021-06-19 06:04] mroeschke commented on #19993
This looks to work on master now. Could use a test

[code]

[2021-06-19 06:16] yohplala opened #42118 "BUG: Creating DataFrame frome Series with DatetimeIndex results in NaN-filled df"
- [x] I have checked that this issue has not already been reported (but not 100% sure either - search returns many tickets).

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
In my real case problem, I am generat

[2021-06-19 09:49] simonjayhawkins commented on #42107
Thanks @tamargrey for the report

first bad commit: [b4375a40dee6295718f535cbd3e91b83e976035c] REF: avoid unnecessary casting in algorithms (#41256) cc @jbrockmendel

The expected output is a Series, see https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Series.mode.html

[code]

[2021-06-19 09:50] simonjayhawkins commented on #42107
and thanks for testing the rc!

[2021-06-19 10:02] simonjayhawkins commented on #42116
Thanks @dalejung for the report. see also #41981 as somewhat related. Is there a way to keep parts of .gitignore and MANIFEST.in in sync

[2021-06-19 10:32] Rockrs commented on #42105
@cjfarnold
Please try with the latest version.

I was not a able to reproduce your issue

Here is what I am getting as output:

Code:
`import pandas as pd

testdataframe = pd.DataFrame({'a':['Foo','Foh',np.nan],'b':['Foo','Foh',np.nan]})
testdataframe['c'] = testdataframe['a'].str.replace('Fo', 'BA')
print (testdataframe)`

Output :
  a    b    c
0  Foo  Foo  BAo
1  Foh  Foh  BAh
2  NaN  NaN  NaN

[2021-06-19 10:47] baloe opened #42119 "DOC: read_excel skiprows does not work as documented"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

#### Documentation problem

Both, stable and dev documentations read

but the phrase "number of lines to skip (int) at the start of the file" does not resemble the behavior that I observe.

Consider the demo [data.xlsx](https://github.com/pandas-dev/pandas/files/6680539/data.xlsx)

[2021-06-19 11:09] baloe commented on #42119
Mh it's weird, in another, more complex file of mine skiprows does seem to work as documented, but not in the minimal file above.

varying `skiprows` more systematically makes me think that there is a bug:
[code]

Is it? should I post a bug report?

[2021-06-19 11:45] #42119 closed

[2021-06-19 12:41] jreback commented on #42118
when u create a frame from a series it is reindexed

this is a feature

[2021-06-19 12:46] samukweku commented on #42106
@MarcoGorelli @raghuabhishek I think it would be nice if this is abstracted into the deprecated `lookup` (I think it would be easier to understand, and just use). Although, I can understand if there is a reluctance to increase the number of APIs

[2021-06-19 13:20] MarcoGorelli opened #42120 "DOC share docs between Series.swaplevel and DataFrame.swaplevel"
Lots of duplication here, these docs could be somewhat shared

[2021-06-19 13:24] MarcoGorelli opened #42121 "STYLE move spacing conventions in cython casting to pre-commit"
here's the check which needs moving, it's in `ci/code_checks.sh`
[code]

It could be a `pygrep` check

[2021-06-19 13:26] MarcoGorelli commented on #42121
This can be added to the `unwanted-patterns` hook

[2021-06-19 13:30] MarcoGorelli opened #42122 "STYLE move blocklisted imports check to pre-commit"
here's the check from `ci/code_checks.sh` which needs moving;
[code]

it could be made to be its own Python hook, with no additional dependencies (so an existing environment will be reused)

[2021-06-19 13:33] phofl commented on #42118
Yes, this is the same as
[code]

[2021-06-19 13:34] MarcoGorelli opened #42123 "STYLE move patterns checks to pre-commit"
These checks from `ci/code_checks.sh` should be moved to pre-commit:
[code]

some might fit in the `unwanted patterns` hook, others might need their own pygrep hook (no additional dependencies are necessary here though so the same existing virtualenvs will be reused)

- [ ] check for invalid EA testing
- [ ] deprecated messages without sphinx directive
- [ ] backticks incorrectly rendering because

[2021-06-19 13:36] MarcoGorelli opened #42124 "DOC add example to reorder levels"
https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.reorder_levels.html?highlight=reorder_levels#pandas.DataFrame.reorder_levels

No examples! Can we add at least one?

[2021-06-19 13:37] MarcoGorelli opened #42125 "DOC add example to align"
https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.align.html?highlight=align#pandas.DataFrame.align

Align has no examples - can one be added?

[2021-06-19 15:26] Yama-aa commented on #42125
take

[2021-06-19 15:34] MarcoGorelli commented on #42122
nvm, not the best issue for pre-commit due to `import pandas`

[2021-06-19 15:34] #42122 closed

[2021-06-19 16:14] nooraLeila commented on #42123
take

[2021-06-19 16:33] neinkeinkaffee commented on #42120
I'll add an example for Series.swaplevel first, then remove duplication

[2021-06-19 16:37] neinkeinkaffee commented on #42120
take

[2021-06-19 16:38] MarcoGorelli opened #42126 "DOC DataFrame.to_markdown `examples` don't get substituted"
The examples show the series ones: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_markdown.html

[2021-06-19 16:38] neinkeinkaffee commented on #42126
take

[2021-06-19 16:40] Juliewhitaker842 commented on #42066
take

[2021-06-19 17:02] howardpen9 opened #42127 "BUG: M1 pipenv install failed"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-19 17:14] fangchenli opened #42130 "BUG: segfault from json.dumps in Python 3.10"
The segfault is from `pandas/tests/io/json/test_pandas::TestPandasContainer::test_tz_is_utc` and  `pandas/tests/io/json/test_pandas::TestPandasContainer::test_tz_range_is_utc`

[2021-06-19 17:20] mjb-v9-5-2 opened #42133 "DOC: .style.set_table_styles example produces error"
#### Location of the documentation

https://pandas.pydata.org/docs/user_guide/style.html

#### Documentation problem

The docs include sample code to demonstrate how a .style.set_table_styles method can be chained using the overwrite=False arg.

[code]

Copying and pasting the sample produces an error:

[code]

[2021-06-19 17:31] mroeschke commented on #20511
This looks okay on master. Could use a test

[code]

[2021-06-19 17:53] mroeschke commented on #20589
Looks like this never gained much traction. Going to close due to the staleness but happy to revive if there's continued interest

[2021-06-19 17:53] #20589 closed

[2021-06-19 17:59] mroeschke commented on #20654
Looks to work on master. Could use a test

[code]

[2021-06-19 18:02] mroeschke commented on #20660
The performance looks comparable now. Could use some ASVs

[code]

[2021-06-19 18:22] mroeschke commented on #20883
The original issue looks to work on master. Could use a test

[code]

[2021-06-19 18:39] mroeschke commented on #21073
Looks correct on master now. Could use a test

[code]

[2021-06-19 19:41] yohplala commented on #42118
Hi @jreback @phofl !
Thanks a lot for your reactivity. I feel this line makes it completely crystal clear
[code]
Sorry for the ticket then and thanks again!
Bests

[2021-06-19 19:41] #42118 closed

[2021-06-20 02:01] mzeitlin11 opened #42137 "BUG/API: constructing nullable integer and floating arrays from boolean data"
From https://github.com/pandas-dev/pandas/pull/41970#discussion_r654770580, right now constructing nullable integer (and floating) arrays from boolean data has the following behavior:

[code]

This seems inconsistent, if so, which behavior is correct?

[2021-06-20 04:11] byunwj opened #42139 "BUG: Pandas does not recognize NaN values on M1 macbook pro"
- [Y] I have checked that this issue has not already been reported.

- [Y] I have confirmed this bug exists on the latest version of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem des

[2021-06-20 04:20] mroeschke commented on #21247
This looks to raise as expected on master now. Could use a test

[code]

[2021-06-20 05:02] mroeschke commented on #21653
Sounds like there's overall not much support to go down this route, so going to close. But happy to revive if things are reconsidered

[2021-06-20 05:02] #21653 closed

[2021-06-20 05:04] mroeschke commented on #21658
This looks to work on master now. Could use a test

[code]

[2021-06-20 05:13] mroeschke commented on #21758
Looks like this is no longer an issue on master. Suppose could use a test

[code]

[2021-06-20 05:19] mroeschke commented on #21796
Looks like this correctly raises a TypeError now. Could use a test

[code]

[2021-06-20 05:28] mroeschke commented on #21932
Looks to work on master now. Could use a test

[code]

[2021-06-20 06:03] attack68 commented on #42133
The docs is written in a jupyter notebook which is executed by the docs builder. The fact that it works on the web means that it works for the version of the docs its describes which is 1.2.4.

The `overwrite` argument existed at earliest 1.2.0. I would suggest your pandas version is  earlier than that.

Please close this issue if so.

[2021-06-20 07:21] MarcoGorelli opened #42141 "STYLE don't use in-line comments for configuring flake8"
Check this note from the flake8 docs:

However, that's exactly what we do:

https://github.com/pandas-dev/pandas/blob/98e22297bb66f81ff4c1d4f1c3277cfe8c6b9ce7/setup.cfg#L71-L104

In each case, the comment should be moved to be on its own line, on the line before the code

Else, we risk accidentally putting something in the comments that'll mess with how flake8 works

[2021-06-20 09:23] Ashis26 commented on #42125
May I contribute to this issue?

[2021-06-20 09:25] Ashis26 commented on #42124
May I contribute to this?

[2021-06-20 13:03] MarcoGorelli commented on #42124
sure, at the end of this docstring https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L6825-L6853

[2021-06-20 13:42] jbiz25 opened #42145 "BUG:"
- [X ] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-06-20 14:12] RhnSharma commented on #42141
I would like to take this one.

[2021-06-20 14:16] MarcoGorelli commented on #42141
awesome, PRs welcome

[2021-06-20 14:54] fangchenli commented on #42139
This is fixed on master. But I'm not sure which PR actually fixed this.

[code]

[2021-06-20 16:10] lithomas1 commented on #42139
@byunwj This looks like a duplicate of issue #41149. It looks like you might need a numpy version upgrade to 1.20 too.

[2021-06-20 16:13] lithomas1 opened #42147 "PERF/QST: Why isn't fillna cythonized?"
Looking at the fillna code, it looks like a mask is generated and then the fill value is then put in using putmask. Wouldn't it be faster if we skipped the mask generation and just put in nan values directly by looping over in Cython.
https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/blocks.py#L430-L470

I can take this issue up if this is the correct approach

[2021-06-20 17:40] mzeitlin11 commented on #42147
Would you still need to check in `Cython` whether a value is missing before filling? So maybe a slight performance increase for avoiding 2 passes, but not necessarily.

Also, you might want to pass a mask anyway to this algo like is done in the groupby fillna algo so that filling indices can be computed rather than values (to avoid needing fused types that support all possible input data). Seems l

[2021-06-20 17:43] mzeitlin11 commented on #42137
I think having the second case not raise makes sense from a consistency perspective given that you can do something like
[code]

[2021-06-20 19:07] jbrockmendel commented on #42147
i tried to do this a few months ago and got distracted before getting it working.  The motivation i had in mind was that with a cython version fillna could _actually_ be inplace.

[2021-06-20 19:55] MarcoGorelli commented on #41719
done in pandas-dev-flaker

next step will be to gradually introduce it to the pandas codebase

[2021-06-20 20:03] raghuabhishek commented on #42101
take

[2021-06-21 01:10] mroeschke commented on #22051
I think we consistently coerce `None` to `NaN` here now with inplace True/False (which I think is the expected behavior). Could use a test

[2021-06-21 01:19] mroeschke commented on #22065
This could be documented better, but for certain numpy function pandas dispatches to its own implementation.

https://github.com/pandas-dev/pandas/blob/017ff7cf43946d0dc60c685d6c715fed9e204a7a/pandas/core/common.py#L537

Therefore `np.mean` -> pandas mean implementation that handles nan.

[2021-06-21 01:21] mroeschke commented on #22073
This looks correct on master. I suppose it could use a test

[code]

[2021-06-21 01:24] mroeschke commented on #22077
The latest result on master looks okay to me (coercing to a MutiIndex instead of having a flat Index). Could use a test

[code]

[2021-06-21 01:28] mroeschke commented on #22079
This looks to work on master now. Could use a test

[code]

[2021-06-21 01:35] mroeschke commented on #22171
This looks fixed on master. Could use a test

[code]

[2021-06-21 01:39] mroeschke commented on #22189
`engine_kwargs` is getting added in 1.3 to read_excel which I think fits the spirit of this issue.

https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.html#other-api-changes

Closing, but happy to reopen if there is more to this issue

[2021-06-21 01:39] #22189 closed

[2021-06-21 04:52] skvrahul commented on #42101
Can a user not call `Styler.hide_index().hide_columns()` to achieve this?
As they both are separate configurations?

[2021-06-21 05:29] mroeschke commented on #22208
Would agree that caching for `read_sql` would be out of scope, so since there's not much interest in this feature for a few years going to close. Happy to reopen if there is more interest

[2021-06-21 05:29] #22208 closed

[2021-06-21 05:47] attack68 commented on #42101
if `hide_index` is called the index name row is hidden, but that is not the point. The user should be able to call `hide_columns` and the index name row should be hidden without the necessity of also having to hide the index-labels.

Note the difference between the name of the index, and the actual index-label values.

[2021-06-21 05:54] mroeschke commented on #22243
Looks like we get the expected dtypes on master. Could use a test

[code]

[2021-06-21 05:56] mroeschke commented on #22247
The asserts look to work on master. The example could use a distillation to see what could be used as a unit test

[code]

[2021-06-21 06:06] mroeschke commented on #22265
Looks like `pd.read_csv` can be pickled now on master. Could use a test

[code]

[2021-06-21 07:46] grotmol commented on #42104
@simonjayhawkins @jbrockmendel: Thanks for fixing this so swiftly!

[2021-06-21 10:13] rikardn opened #42152 "BUG: Index lost when serializing to json"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

When serializing a pandas `DataFrame` to json the index is usally serialized by use of the `primary_key` in the json. In some cases this does not work. For example:

[cod

[2021-06-21 11:09] TomAugspurger commented on #42152
The JSON table schema spec requires that the set of fields forming the primary key is unique: https://specs.frictionlessdata.io/table-schema/#missing-values

I am surprised that we don't raise a `ValueError` here though. Perhaps we issue a `FutureWarning` saying that this will raise in the future.

[2021-06-21 11:29] rikardn commented on #42152
Thanks @TomAugspurger for the explanation. It makes sense to have a well designed primary key in a table. I can solve my problem by redesigning the index.

However this means that not all valid pandas `DataFrames` can be serialized to json. Is there another serialization to json available that can convert any `DataFrame` to json and back again? If not I would consider this to be a very useful feat

[2021-06-21 11:37] vrserpa commented on #41753
take

[2021-06-21 11:41] simonjayhawkins commented on #42152
Thanks @rikardn for the report. looks like a duplicate of #37600 so closing and can continue discussion there.

[2021-06-21 11:41] #42152 closed

[2021-06-21 11:42] TomAugspurger commented on #42152
I'm not sure.

From: Rikard Nordgren ***@***.***>
Sent: Monday, June 21, 2021 6:29 AM
To: pandas-dev/pandas ***@***.***>
Cc: Tom Augspurger ***@***.***>; Mention ***@***.***>
Subject: Re: [pandas-dev/pandas] BUG: Index lost when serializing to json (#42152)

Thanks @TomAugspurger<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FTomAugspurger&data=04%7C01%7Ctom.augspur

[2021-06-21 11:47] raghuabhishek commented on #42101
Hi @attack68, Can you please give an example for better understanding of this issue.

[2021-06-21 12:27] skvrahul commented on #42101
@attack68 this already seems to be the case for me on the **master** branch
[code]

am I missing something?

[2021-06-21 13:03] #39417 closed

[2021-06-21 13:03] #42104 closed

[2021-06-21 13:06] #39240 closed

[2021-06-21 13:08] #41797 closed

[2021-06-21 13:18] #41949 closed

[2021-06-21 13:19] #42107 closed

[2021-06-21 13:21] jreback commented on #41673
closed via #41888

[2021-06-21 13:39] yarimiz commented on #18930
Hey, are there any news regarding this issue? Currently, I'm facing is with this code
```df.groupby('type')[['c1', 'c2']].apply(lambda x: ((x.c1.shift(1) - x.c2) / x.c1))```

that is raising
```TypeError: Series.name must be a hashable type```

I haven't found a solution for that.

@jreback

[2021-06-21 13:51] raghuabhishek commented on #42101
Hi @skvrahul how did you get the dataframe as an output after executing this line "df.style.hide_columns()" . For me its returning a styler object. Did u typecast? If yes, how?

[2021-06-21 13:55] skvrahul commented on #42101
Running it in a Jupyter Notebook should output a table by rendering the underlying HTML.

[2021-06-21 14:20] #42141 closed

[2021-06-21 14:31] #42106 closed

[2021-06-21 15:07] Yama-aa commented on #42125
Hi Ashis, we have a PR open on this issue -
https://github.com/pandas-dev/pandas/pull/42129 Meiruv is still working on
it.

‫בתאריך יום א׳, 20 ביוני 2021 ב-12:23 מאת ‪Ashis26‬‏ <‪
***@***.***‬‏>:‬

[2021-06-21 15:36] 01-vyom commented on #42121
take

[2021-06-21 16:10] mroeschke commented on #41673
Yes, closed by #41888

[2021-06-21 16:59] #37501 closed

[2021-06-21 17:07] mjb-v9-5-2 commented on #42133
I see. Yes, the pip repository gives me 1.1.5. (Upgrading that seems easier said than done). That's identified the source of the problem, thank you.

[2021-06-21 17:17] nathancarter opened #42167 "BUG: "None" not recognized with vectorized equality"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-21 18:28] #42099 closed

[2021-06-21 19:22] mzeitlin11 opened #42175 "REF: consolidate object dtype handling for any/all"
From https://github.com/pandas-dev/pandas/pull/42085#discussion_r655520599, for groupby any/all we have bool coercing logic in https://github.com/pandas-dev/pandas/blob/6ca875787b60b5d45ad0136ff501f5d523719a3a/pandas/core/groupby/groupby.py#L1521-L1526

Would be nice to share this with handling in https://github.com/pandas-dev/pandas/blob/6ca875787b60b5d45ad0136ff501f5d523719a3a/pandas/core/nanops

[2021-06-21 19:33] attack68 commented on #42133
`pip install --upgrade pandas`

[2021-06-21 19:33] #42133 closed

[2021-06-21 19:36] tlplayer opened #42177 "ENH:Create Set Operations"
#### Is your feature request related to a problem?

I wish to take the AND, OR, XOR, and NOT of dataframes. Of course I could do this manually but an inbuilt way would be far cleaner and elegant.

#### Possible Solution

Example 1:

A = {'a': 1 2 3}
B = {'a': 1 3 4}

pandas.xor(A,B, on = "a")

{'a': 2 4}

Example 2:

A.or( B, on= "a")

{'a': 1 2 3 4}

Example 3:

A.and(B,on='a')

{'a': 1 3}

####

[2021-06-21 22:08] mjb-v9-5-2 commented on #42133
I would have thought so. But upon receiving the upgrade command, pip reports "Requirement already satisfied .... ... =2.7.3->pandas) (1.15.0) ".

Uninstalling and installing again makes no difference. Neither does pip install pandas==1.2.4

If there was a missing dependency that precented a 1.2.4 install, it would say, would it not?

[2021-06-21 23:42] byunwj commented on #42139
Thanks a lot for your answer.
Do you mind telling me how I can install pandas version of 1.4.0.dev0+58.g98e22297bb?
And do you happen to know if it's compatible with tensorflow 2.4.0-rc0?
Thank you in advance.

[2021-06-22 00:34] #38860 closed

[2021-06-22 02:29] fangchenli commented on #42139
You can install pandas master with `pip install git+https://github.com/pandas-dev/pandas.git`

I'm not sure if it's compatible with any specific version of TensorFlow.

[2021-06-22 04:27] mroeschke commented on #22400
This looks to not raise an AssertionError on master. Could use a test to confirm on our side

[code]

[2021-06-22 04:47] mroeschke commented on #22551
Looks to work on master. Could use a test

[code]

[2021-06-22 04:48] mroeschke commented on #22558
These look correct on master now. Could use a test

[code]

[2021-06-22 04:50] mroeschke commented on #22586
It appears that this may be more of a matplotlib issue than a pandas issue unless we can get a simpler example. Closing as it's not clear that this is a pandas issue but happy to reopen if it is.

[2021-06-22 04:50] #22586 closed

[2021-06-22 04:53] mroeschke commented on #22612
Thanks for confirming that a new version of xpress fixes this. Closing

[2021-06-22 04:53] #22612 closed

[2021-06-22 05:01] mroeschke commented on #22693
This looks to work on master now. Could use a test

[code]

[2021-06-22 05:06] mroeschke commented on #22713
Yes it appears that this no longer leaks memory on master now. Closing

[2021-06-22 05:06] #22713 closed

[2021-06-22 05:11] mroeschke commented on #22741
It does appears that this occurs anymore on the most recent version of pandas and supported numpy. Going to close but happy to reopen if it still appears

[2021-06-22 05:11] #22741 closed

[2021-06-22 05:26] mroeschke commented on #22856
Now this intentionally raises and I believe we have tests for this behavior

[code]

therefore, closing

[2021-06-22 05:26] #22856 closed

[2021-06-22 05:28] attack68 commented on #42101
@skvrahul @raghuabhishek you both seem to be confused by the name of an index and the values of an index, be it, a row-index or a column-index. The mentioned documentation in the OP should clarify this also, but here is a screenshot of the issue on master:

![Screen Shot 2021-06-22 at 07 25 34](https://user-images.githubusercontent.com/24256554/122868545-5e0e9300-d32b-11eb-9673-23aab2db9fab.png)

[2021-06-22 05:28] AlexKirko commented on #41796
Closing for now, since there are no more comments.

[2021-06-22 05:36] skvrahul commented on #42101
Yeah this clears things up. Thanks!

Looks like I missed naming the index in my example, which threw me off.

[2021-06-22 05:44] AlexKirko commented on #42177
I believe this is mostly a duplicate of #4480, which is the same thing but for `Series`, and there was plenty of discussion and attempts to contribute something that would be better than just accessing `Series.values` and then using numpy-level set operations. Considering that there was nothing implemented for that issue in the end, I do not believe we'll get anywhere here, since performing set op

[2021-06-22 07:16] mlondschien opened #42185 "BUG: pd.cut raises with duplicated index and `include_lowest=True`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

`pandas.cut` fails for a `pandas.Series` with non-unique index as input.

[code]

<details>

[code]

</details>

<details>

[code]

</details>

[2021-06-22 08:48] simonjayhawkins commented on #40917
pre-release checklist

⬜  wheels building https://github.com/MacPython/pandas-wheels/pull/133
⬜  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
⬜   release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.5.html
⬜  ci checks https://github.com/pandas-dev/pandas/commits/1.2.x
⬜  no manual backports outstand

[2021-06-22 09:35] simonjayhawkins commented on #40917
all pre-release checks passed. closing down milestone and starting release shortly.

[2021-06-22 09:37] PengSY opened #42188 "BUG: DataFrame index name is missing after call ".loc[]" in some cases."
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

These two dataframes are almost the same, except the last index value. However, after we sele

[2021-06-22 09:41] simonjayhawkins commented on #40917
- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] open PR to build wheels https://github.com/MacPython/pandas-wheels/pull/xxx
- [ ] upload docs https://pandas.pydata.org/pandas-docs/version/1.2.5/
- [ ] wheels in staging area https://anaconda.org/multibuild-wheels-staging/pandas/files
- [ ] github rel

[2021-06-22 10:59] akhorshidi commented on #29856
I've faced the same issue and my workaround was to change the value of `tzinfo` argument in the `datatime` objcets from `timezone.utc`  to `pyzt.utc` !

HTH

[2021-06-22 11:08] akhorshidi commented on #29856
I've faced the same issue but with the DateTime objects:
[code]
 and my workaround was to change the value of `tzinfo` argument inside the first `datetime` object from `timezone.utc`  to `pyzt.utc` !

[2021-06-22 13:01] raghuabhishek commented on #42188
I reproduced your code and I got this output

           col1  col2
col_index
a             1     2
b             2     3
b             3     4

           col1  col2
col_index
a             1     2
b             2     3
c             3     4

           col1  col2
col_index
a             1     2

           col1  col2
col_index
a             1     2

I didnt get this issue which you are facing. I

[2021-06-22 13:16] exeptionerror commented on #12387
All Possible working solution [[Solved] ValueError: If using all scalar values, you must pass an index](https://flutterq.com/valueerror-if-using-all-scalar-values-you-must-pass-an-index/)

[2021-06-22 17:00] Ashis26 commented on #42124
Hi, I have added an example at the end of the doc. However, several tests were failed on the pull request. I don't know how can I do corrections. May you help me?

[2021-06-22 18:41] attack68 commented on #42188
latest version is 1.2.4 or 1.3.0 pre-release. Your post suggests you are using 1.1.5

[2021-06-22 19:30] scnerd commented on #37344
Might I suggest using Pandas' custom, nullable integer types when doing this conversion? ``"Int64"``/``pd.Int64DType`` (and corresponding dtypes for other bit sizes)? Despite SQL generally allows any column to be nullable (table constraints aside), including integer columns, Pandas implicitly converts integer columns to float if there are any missing values. Defaulting to the custom nullable integ

[2021-06-22 19:32] tamargrey opened #42189 "BUG?: 1.2.5 `astype('bool')` converts NaNs in categorical columns to `True`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

In 1.2.5 produces:
[code]

In 1.2.4 produces:
[code]

#### Problem description
At first, I thought this was a bug, but

[2021-06-22 21:55] lithomas1 opened #42191 "CLN: Combine checknull/checknull_old"
Is there a reason that both checknull and checknull_old are separate functions? It seems like they could be combined into one function with a parameter inf_as_na. This duplication also seems to be present with the  isnaobj/isnaobj_old functions.

I'm asking since having this be unified would greatly simplify my work in #42147

[2021-06-22 22:55] mzeitlin11 commented on #42191
+1 on this definitely, only concern would be if the additional conditional has a perf penalty (since in a bunch of algos `checknull` is called on every step of loops). Hopefully wouldn't make a difference though since `inf_as_na` could effectively be known at compile time so the check might be optimized out.

[2021-06-23 00:40] mroeschke commented on #22957
The example with index and PeriodIndex looks to work on master. Could use a test

[code]

[2021-06-23 00:46] mroeschke commented on #23035
Numpy's minimum version will be 1.17.3 in the next release (1.3) which shouldnt have this bug. Going to close but happy to reopen if this resurfaces

[2021-06-23 00:46] #23035 closed

[2021-06-23 01:30] Svtter commented on #37795
It might be a wrong answer. Python==3.9.5 and xlrd==1.2.0 works well on my PC.

[2021-06-23 03:11] mroeschke commented on #23087
Looks like this got implemented at some point. Probably good to see if there are tests

[code]

[2021-06-23 03:35] mroeschke commented on #23326
This looks correct on master. Could use a test

[code]

[2021-06-23 03:44] mroeschke commented on #23379
Yes, appears to be a duplicate of https://github.com/pandas-dev/pandas/issues/21932 which just needs a test. Closing

[2021-06-23 03:44] #23379 closed

[2021-06-23 03:50] jbrockmendel commented on #42191
If perf is OK then id be fine with this.

[2021-06-23 04:18] mroeschke commented on #23783
Looks like this function doesn't exist anymore. Closing

[2021-06-23 04:18] #23783 closed

[2021-06-23 04:23] mroeschke commented on #23822
It appears this is more-or-less the expected behavior here since it would require changing the functionality of other methods. Going to close due to staleness, but happy to reopen if there are further opinions on this being the incorrect behavior

[2021-06-23 04:23] #23822 closed

[2021-06-23 04:24] mzeitlin11 opened #42198 "API: combine casting behavior with extension types"
In `combine`, current behavior tries to maintain extension types by casting back if possible through `maybe_cast_pointwise_result`. This can give some value dependent behavior with a (contrived) example like the following:

[code]

Not sure if that is desired behavior on its own, but it presents an issue for fixing #42137. On current master object boolean data raises in `IntegerArray._from_sequenc

[2021-06-23 04:44] mroeschke commented on #23848
This example looks fixed on master. Could use a test

[code]

[2021-06-23 04:49] mroeschke commented on #23884
Appears that might have been closed by #21681. Closing.

[2021-06-23 04:49] #23884 closed

[2021-06-23 05:03] mroeschke commented on #24033
Sounds like it's unlikely that this will be implemented. Closing, but happy to reopen if there's further interest

[2021-06-23 05:03] #24033 closed

[2021-06-23 05:05] mroeschke commented on #24036
Given that we have https://pandas.pydata.org/about/citing.html, I think that's sufficient for now. Going to close, but if we want to reference this in other ways we can open a new issue for it

[2021-06-23 05:05] #24036 closed

[2021-06-23 05:09] mroeschke commented on #24091
This looks to work on master now. Could use a test

[code]

[2021-06-23 06:45] fpavogt commented on #39548
With pandas v1.2.5, it still does not work on my side as long as numpy>v.1.20.x. The following MWE:
[code]
still fails with the following `TypeError`:
[code]

[2021-06-23 07:20] soxofaan opened #42199 "BUG: wrong dateutil dependency link in dependency graph"
- [x] I have checked that this issue has not already been reported.

Probably not a bug in pandas per se, but it might be useful to be aware of this:
I noticed that the `python-dateutil` dependency on this github dependency graph page https://github.com/pandas-dev/pandas/network/dependencies points to https://github.com/clones/python-dateutil which is a strange 1-commit mirror repo from 2008, inst

[2021-06-23 08:13] #40917 closed

[2021-06-23 09:41] janosh commented on #21538
@WillAyd [From the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html), it seems like `to_dict(orient='table')` is no longer supported?

[code]

What's the recommended way of retaining index names with `to_dict` now? My reason for asking is explained in this issue hackingmaterials/matminer#648

[2021-06-23 10:59] rishitbhojak commented on #40680
@Dr-Irv Can you let me know how can I get started with contributing to this cheatsheet. Like, how do I make changes to this cheatsheet ? I have learnt Data Analysis recently and Pandas was of great help.  I can add more plotting functions from a pandas dataframe.

[2021-06-23 11:15] jreback commented on #39548
@fpavogt see @jbrockmendel comment; try on 1.3.0rc1

[2021-06-23 11:38] fpavogt commented on #39548
@jreback and @jbrockmendel: that's my bad ... I meant to have tried with "the content of master", but my brain short-circuited when I saw that v1.2.5 got released only a few hours ago and tried that one instead without even thinking about it. I confirm it all works fine on my end with v1.3.0rc1. Sorry for the confusion !

[2021-06-23 11:57] execptionerror commented on #29399
All Possible solution added [[Solved] ImportError: No module named pandas](https://flutterq.com/importerror-no-module-named-pandas/)

[2021-06-23 12:10] OliEfr commented on #40680
@rishitbhojak
Well, I can help you with that. Go to this folder: https://github.com/OliEfr/pandas/tree/master/doc/cheatsheet
Here you will find the powerpoint, which are used to create the pdf files. Its also useful to read the README.txt.
Besides that of course, it is usefull to know how git and github works.

[2021-06-23 12:15] MarcoGorelli commented on #29399
@execptionerror could you please stop making new sock puppet account in order to spam your website (some of whose "solutions" aren't even correct) on closed issues every day?

Thanks 🙏

[2021-06-23 12:46] rishitbhojak commented on #40680
@Dr-Irv @OliEfr Can I start with pie chart plots and subplots . It seems to be a good idea because we'll add more visualization examples. What's your opinion? Can I add the third page and move forward with it?

[2021-06-23 13:14] AndrewEckart commented on #40754
Temporary workaround is to map the categories to strings using `.strftime` and then map back after `.to_csv`:
[code]

[2021-06-23 13:24] Dr-Irv commented on #40680
@rishitbhojak Add a third page with respect to plotting.  Move the examples at the bottom of page 2 to page 3, but find something to fill the empty space on page 2 that will be created by the move of those 2 examples.  Probably a list of the frequently used options would fit nicely there.

Follow the instructions for contributing to pandas here;  https://pandas.pydata.org/docs/development/contribu

[2021-06-23 13:27] Dr-Irv commented on #40949
@Hallicopter any update on doing a PR for this?

[2021-06-23 13:39] rishitbhojak commented on #40680
Alright sir. Can you let me know whether I have done it correctly or not? I am attaching a sample screenshot
![sample](https://user-images.githubusercontent.com/51954932/123106688-7929f180-d456-11eb-959f-07e8f2b3031e.PNG)

[2021-06-23 13:42] Dr-Irv commented on #40680
@rishitbhojak that's fine.  Try to keep the graphics smaller.  For the `subplots` example, ideally there would be titles on each subplot, so you should show how to do that.

[2021-06-23 13:53] jiyunam commented on #13471
With the use of the `min_periods` parameter, there is a difference in how the starting edge and ending edge is handled with this shift application. The window will roll into the start, but stop abruptly at the end, without the additional `min_periods-1`  extra rows to roll at the end. This can be seen with the following two cases (using shift vs. reversing and rolling):
`df.rolling(window=3, min_p

[2021-06-23 14:42] brunodoamaral commented on #34328
The issue seems to be in this code:
https://github.com/pandas-dev/pandas/blob/7c48ff4409c622c582c56a5702373f726de08e96/pandas/plotting/_matplotlib/hist.py#L420-L423
Where it only keep numerical and datetime columns. Should be include category as well?

[2021-06-23 15:41] jiyunam commented on #13471
When using the `min_periods` parameter of the rolling function, there is a difference in how the starting edge and the ending edge is handled with this shift approach. While the window rolls into the start, it does not do the same for the ending edge, resulting in NaNs at the `min_periods-1` rows of the results. This can be seen with the following two code snippets (shift vs. reverse):
[code]

vs.

[2021-06-23 16:47] hkennyv commented on #40611
Just chiming in to note that I was able to install pandas in a clean virtualenv today on an M1 Macbook Air running Big Sur (11.4). Similar to @TheCaffeineDev, it took a while to build the wheel, but it succeeded without any errors and I'm able to successfully import it.

[code]

[2021-06-23 16:47] thomassajot commented on #41877
Hi @jbrockmendel,
While Implementing the testing scenarios provided by pandas, I came across an `if` statement that maybe too generic.

Failing Test class:
[code]

In `BaseOpsUtil._check_op`
[code]

If we have a look in `Series.combine` implementation
[code]

because of the casting, the expected value in `BaseOpsUtil._check_op` is of the wrong type.

It seems that there is a comment about restrain

[2021-06-23 17:00] fangchenli commented on #42199
Thanks for reporting this. We probably need to report this issue to GitHub.

[2021-06-23 17:56] jbrockmendel commented on #41877
what is the desired type/dtype?

[2021-06-23 21:39] thomassajot commented on #41877
this current test is triggered on comparison operation. the expected dtype should be boolean.

[2021-06-24 01:48] jbrockmendel commented on #41796
I think I agree with the OP that this is surprising, would need to go back through the PRs that implemented the current behavior to see whether the current behavior is intentional.

[2021-06-24 02:10] jbrockmendel commented on #42078
yes

[2021-06-24 02:12] jbrockmendel commented on #41183
@trimbilrepo any progress on getting a copy/pasteable example?

[2021-06-24 02:13] jbrockmendel commented on #41467
@jiahe224 can you post a copy/pasteable example?  see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-06-24 02:16] jbrockmendel commented on #41568
in pandas._libs.missing.pyx we use either isnaobj or isnaobj_old depending on the use_inf_as_na option.  They should both recognize np.nan as an NA value.

Closing as not reproducible, can re-open if the problem pops back up.

[2021-06-24 02:16] #41568 closed

[2021-06-24 04:40] #41686 closed

[2021-06-24 04:42] afeld opened #42202 "June 2021 Docs Meeting - CANCELLED"
Sorry folks, have a conflict and I didn't reach out about finding someone else to host early enough. See you in a month!

- [ ] Remove from calendar

[2021-06-24 04:43] jbrockmendel commented on #4666
i lean towards "no", closing since there hasn't been much interest in years, can reopen if that changes.

[2021-06-24 04:43] #4666 closed

[2021-06-24 06:19] aliceliu9988 opened #42203 "BUG: DataFrame.agg - why numpy.size doesn't work?"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-06-24 06:32] MarcoGorelli commented on #42078
OK, done - closing for now then as I think this answers the question, thanks @Rubtsowa for bringing this to our attention!

[2021-06-24 06:32] #42078 closed

[2021-06-24 06:38] jorisvandenbossche commented on #42078
Indeed, thanks for keeping track of it!

[2021-06-24 07:06] attack68 commented on #42203
Actually this works:
[code]

The only thing relevant to your issue is:
[code]

[2021-06-24 07:18] attack68 commented on #42203
@aliceliu9988 can yo please add a descriptive title for the issue.

[2021-06-24 08:40] aliceliu9988 commented on #42203
Hi @attack68,

Thanks for helping pinpoint the problem and reminding me to update the question title.

I tried this:  **print("df.agg({'A': [np.size]}) is :",df.agg({'A':[np.size]}))**

It did go through, but the output is not the count of column A (4), but this:

df.agg({'A': [np.size]}) is :      A
  size
0    1
1    1
2    1
3    1

I hope someone knows why.

[2021-06-24 09:46] olbermann opened #42204 "Absolute value or minus sign missing in docstrings for head and tail"
In the docstrings for the head and tail functions (in pandas/core/generic.py) there is an absolute value or minus sign missing:
e.g. in tail docstring
[code]

should read something like
[code]

or

[code]
Similarly for head.

[2021-06-24 10:05] jorisvandenbossche commented on #42202
I *think* I deleted it from the calendar, and that seems to have worked according to https://pandas.pydata.org/docs/development/meeting.html

[2021-06-24 10:58] timothek commented on #36271
The issue is still persistant in Pandas 1.2.5. Downgrading to 1.0.5 fixes the issue, because there is no fssspec_url like in the newer versions.

[2021-06-24 13:03] #42202 closed

[2021-06-24 13:07] jsignell commented on #41949
Thank you all for working on this!

[2021-06-24 13:15] jreback commented on #41626
IIUC we should strive to improve `concat_compat` to make this do better inference, e.g.

is what would do. I think is a strict improvement.

[2021-06-24 13:45] jreback commented on #33469
IIUC I think integers should *always* be label based for FloatIndex. so this means deprecating (and then changing) the setitem behavior.
getitem would be unchanged i think.

[2021-06-24 14:03] jsignell commented on #26927
It seems to me that a good behavior would be to just include a bit more information on the error. Maybe something like:

[code]

[2021-06-24 14:08] anderl80 commented on #20089
@yohplala we're struggling with the same issue here, is this still open/resolved?

[2021-06-24 14:31] yohplala commented on #20089
Hi @anderl80 , I have swtiched to directly used fastparquet instead of pandas to write down parquet files (fastparquet offers additional options in terms of appending modes).

following your question, I had a look at pyarrow doc, and they state that now [here](https://arrow.apache.org/docs/python/parquet.html#storing-timestamps):
_Timestamps with nanoseconds can be stored without casting when usin

[2021-06-24 15:07] parkdj1 commented on #42177
You can do most of these with a single line already (perhaps not as intuitive but possible)!

Using your example of
A = {'a': 1 2 3}
B = {'a': 1 3 4}

The 'OR' function to get {'a': 1 2 3 4} can be accomplished with
`A.merge(B,how='outer',on='a')`

The 'AND' function to get {'a': 1 3} can be accomplished with
`A.merge(B,how='outer',on='a')`

The 'XOR' function to get {'a': 2 4} would require a bit

[2021-06-24 15:12] parkdj1 commented on #42204
I think the original should be correct since it says 'for negative values of' n, implying we are thinking of n as some positive integer and considering the cases in which the input is the negative value of such n

[2021-06-24 15:46] Prussian1870 commented on #35347
I have had similar issues with this too. My issue is that Pandas converts the int data type to real in SQLite.

[2021-06-24 17:26] olbermann commented on #42204
No, the original is wrong. It says 'for negative values of n', this means the same as  'in the case that n is negative'.

You are right that it would be easier to think of variables with positive values: Maybe one should say
``For a positive integer `k`, the function `df.tail(-k)` returns all rows except the first `k` rows, equivalent to `df[k:]`.
``

[2021-06-24 18:54] mzeitlin11 commented on #42204
+1 on that being clearer wording. Would you be interested in making a pr?

[2021-06-24 20:17] parkdj1 commented on #42204
Agreed it never hurts to make documentation clearer. I can take if @olbermann doesn’t want to

[2021-06-24 20:46] jotasi opened #42212 "ENH: Add option to make final interval closed for right-open intervals in pd.cut"
#### Is your feature request related to a problem?

I would like to use `pd.cut` to sort values into bins that are half-open with the lower boundary being the closed end of the interval (i.e. [0, 5), so setting `right=False`) but still be able to include the upper bound of the last interval (i.e. have the last interval be closed, something like `include_highest=True` analogous to `include_lowest=T

[2021-06-24 21:11] ankurtri commented on #42188
I am not able to recreate this issue on pd.__version__ == '1.2.4'.

[2021-06-25 03:10] rhshadrach commented on #42203
Internally, np.size is evaluated on a Series. For a UDF, `.agg` uses `.apply` which then operates row-by-row. This makes the result a transform, and the others being aggregations caused the error mentioned in the OP.

`.agg` using `.apply` being undesirable is mentioned as part of #41112, but I think this issue should stay open.

[2021-06-25 04:32] mroeschke commented on #24440
Sounds like generally this feature would add a lot of complexity into an already complex `read_csv` function and doesn't have much support from other core devs. Thanks for the suggestion though, closing.

[2021-06-25 04:32] #24440 closed

[2021-06-25 04:40] mroeschke commented on #24499
It appears our current https://pandas.pydata.org/pandas-docs/stable/index.html page more-or-less fits the hierarchy initially proposed. I think from that this issue can be closed, but if certain sections still should be moved we can open new issues for them individually.

[2021-06-25 04:40] #24499 closed

[2021-06-25 04:44] mroeschke commented on #24537
This looks okay on master now. Could use a test

[code]

[2021-06-25 04:53] mroeschke commented on #24567
Seems like discussion never took off here and DatetimeArray has changed in the meantime. If actionable, probably best if this is revived in a new issue with smaller discussion points. Going to close for now.

[2021-06-25 04:53] #24567 closed

[2021-06-25 05:08] mroeschke commented on #24673
Not sure what warnings ended up being issued in 0.24.0, but if we need to add more warnings to other features for EA related in a future release we can do so. Closing

[2021-06-25 05:08] #24673 closed

[2021-06-25 05:09] #24683 closed

[2021-06-25 05:10] mroeschke commented on #24685
Since a test exists that the name is dropped, looks like we can close this issue

[2021-06-25 05:10] #24685 closed

[2021-06-25 05:29] mroeschke commented on #24858
I don't see `_formatting_values` defined anywhere in the code base so I'm assuming it got removed or refactored and this is no longer an issue. Closing, but if its relevant in another method can reopen

[2021-06-25 05:29] #24858 closed

[2021-06-25 05:33] mroeschke commented on #24903
The original example looks to work on master. Could use a test

[code]

[2021-06-25 09:52] simonjayhawkins commented on #40169
I expect we will be releasing 1.3 sometime next week.

current status

https://github.com/pandas-dev/pandas/milestone/80

1 open PR #42068

4 open regressions #41997, #41999, #41998 and #42092 reported since rc

other open issues are mainly performance regressions.

[2021-06-25 10:18] MarcoGorelli commented on #40169
@simonjayhawkins you'd suggest on https://github.com/pandas-dev/pandas/pull/41283 to include that in 1.3 - is that still the case?

[2021-06-25 10:25] simonjayhawkins commented on #40169
yep. i'll add the milestone.

[2021-06-25 12:46] Joeperdefloep opened #42221 "ENH: #40231 does not allow writing multiple dataframes to a single sheet"
#### The problem

The following code works well, both in 1.4.0 and 1.2.5:

[code]

however, the following code raises an error in 1.4.0, but works in 1.2.5 (it creates a new sheet and writes both dataframes to it):

[code]

Also other options cannot replicate the old behaviour.

#### Describe the solution you'd like

An added option to `if_sheet_exists="write_to"` that justs selects the sheet and

[2021-06-25 13:17] simonjayhawkins commented on #42185
Thanks @mlondschien for the report

just to confirm, expected output?
[code]

[2021-06-25 13:24] simonjayhawkins commented on #42188
fixed in commit: [7e2aa42c93852bf505c2e34c41ddc8874f04decd] BUG: name retention in Index.intersection (#38111) which was released in pandas 1.2

[2021-06-25 13:24] #42188 closed

[2021-06-25 13:29] simonjayhawkins commented on #42212
Thanks @jotasi for the report. This looks similar to the discussion in #23164?

[2021-06-25 13:32] fangchenli commented on #42199
I've contacted GitHub Support. And they've fixed the link.

[2021-06-25 13:32] #42199 closed

[2021-06-25 13:35] mlondschien commented on #42185
Yes, this looks reasonable. Thanks!

[2021-06-25 14:43] jorisvandenbossche commented on #38592
This is still causing a regression in the reductions (for integer dtypes) compared to 1.2.x.
Just re-ran some benchmarks, and it's giving a 2.5 to 3.5 slowdown for sum and mean.

[2021-06-25 14:48] jorisvandenbossche commented on #38592
Now, based on my comment above (https://github.com/pandas-dev/pandas/issues/38592#issuecomment-751824815), this might depend on the memory layout of the DataFrame, and thus on how the DataFrame was created.

But so we maybe should remove some of the extra code added in https://github.com/pandas-dev/pandas/pull/38507 to ensure the memory layout is preserved in the `ravel()` call, since that doesn't

[2021-06-25 15:53] felixDulys commented on #22079
take

[2021-06-25 15:56] mohansaimandalapu commented on #41986
Hi MarcoGorelli

Can I take up this issue, this is my first open-source issue, I couldn't completely comprehend the issue, can you please elucidate it a bit more. Thank you

[2021-06-25 15:59] mohansaimandalapu commented on #42009
Hi Stefmolin

Can I take up this issue, this is my first open-source issue, I couldn't completely comprehend the issue, can you please elucidate it a bit more. Thank you

[2021-06-25 16:12] stefmolin commented on #42009
Hi @mohansaimandalapu,

No need - I hoping to make the contribution myself once this is triaged. This would be my first pandas contribution 😄

[2021-06-25 16:26] tlplayer commented on #42177
I was thinking more A.not(B) would be like A[~A.isin(B)]. I just think it would be more intuitive that way.

[2021-06-25 16:52] Jacob-Stevens-Haas commented on #447
Hey, since this thread is linked across a few places on SO and GH, wondering whether there are issues with name metadata beyond serialization?  I use the name attribute frequently in data cleaning since it's assigned by `DataFrameGroubpy.apply()`.  Useful in cases like:
[code]

So currently in tests, we have to assign `df.name = '1234'`, which is fine even if it feels a bit ad hoc.  Wondering thou

[2021-06-25 16:59] vlsd opened #42229 "BUG: to_datetime() returns object instead of datetime type or raising exception"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-25 17:00] xushanthu-2014 commented on #27812
same issue for y axis...

[2021-06-25 17:19] mroeschke commented on #42229
Thanks for the report. We have been testing this behavior for a while so it's unlikely to change. Documentation was recently added for this behavior (which will be in the 1.3 docs)

https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.to_datetime.html

[2021-06-25 17:36] #19560 closed

[2021-06-25 17:38] #38581 closed

[2021-06-25 18:08] vlsd commented on #42229
Would it be possible to move the notice about the return type sometimes being `object` (and when that's expected behavior) into the "Returns:" section of the documentation? It's very easy to miss it at the bottom of the page

[2021-06-25 18:09] mroeschke commented on #42229
Good point. The return type section should specifically call out and `Index` with `object` type with `Timestamp` objects with mixed timezones

[2021-06-25 19:40] mzeitlin11 opened #42236 "CI: azure windows timeouts"
Seeing lots of timeouts on `Windows py38_np18` builds, for example https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=62155&view=logs&j=404760ec-14d3-5d48-e580-13034792878f&t=f81e4cc8-d61a-5fb8-36be-36768e5c561a

The main tests showing up in the slowest durations are the groupby `numba` tests. Would it make sense to do something similar to #42024 in the groupby conftest to reduce the n

[2021-06-25 20:40] jorisvandenbossche opened #42239 "PERF: regression in datetimelike symmetric_difference set op"
This seems to have caused several performance regressions, see https://pandas.pydata.org/speed/pandas/#regressions?sort=1&dir=desc (the ones for commit "bf72b70b")

_Originally posted by @jorisvandenbossche in https://github.com/pandas-dev/pandas/issues/41833#issuecomment-858560156_

[2021-06-25 20:40] rhshadrach commented on #42221
Tagging for 1.3 pending further discussion.

[2021-06-25 20:41] jreback commented on #447
these are support via the `.attrs` accessor: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.attrs.html?highlight=attrs (not a whole lot of docs though :-<)

[2021-06-25 20:46] jorisvandenbossche opened #42240 "PERF: regression in IntervalIndex intersection"
There were several regressions related to the set op methods of IntervalIndex. For example https://github.com/pandas-dev/pandas/pull/41929#issuecomment-860514675 which was fixed (and backported) in https://github.com/pandas-dev/pandas/pull/42197.

But as far as I can see, that didn't fix the regression in https://pandas.pydata.org/speed/pandas/#index_object.IntervalIndexMethod.time_intersection?py

[2021-06-25 20:49] rhshadrach commented on #42221
Summary: #40230 did not include the `overwrite` option to modify an already existing excel sheet, I've confirmed this was the default behavior of `mode="a"` on 1.2.x when using `ExcelWriter`. As such, the default behavior of 1.2.x is no longer possible to achieve.

cc @WillAyd @jreback

[2021-06-25 20:58] jbrockmendel commented on #42240
#42197 fixed (in local measurements at least) about half of the perf hit mentioned in #41929.  Still looking at ways to get the rest back.

[2021-06-25 20:59] rhshadrach commented on #41997
I don't know how we can determine what we should get back when we have nothing to go on. Consider:

[code]

How can we tell the difference between these internally?

[2021-06-25 21:03] jorisvandenbossche commented on #42240
(as I mentioned, this is a different issue as the one in #41929)

[2021-06-25 21:06] rhshadrach commented on #41999
Agreed mutating should not be supported after 1.3, but it is not in the public docs until 1.3 is released. With this in mind, we could revert #38285 for 1.3 and reinstating it for the next release.

That said, I'm +1 on leaving as-is.

[2021-06-25 21:19] jbrockmendel commented on #38645
One way to fix on dask's end would to be to implement `Array.__iter__`.  Is that a viable option?

[2021-06-25 21:21] jbrockmendel commented on #41682
This is the UserList from the stdlib collections?

[2021-06-25 21:36] jbrockmendel commented on #42240
Thank you for clarifying.

[2021-06-25 23:11] TomGoBravo commented on #41682
Ooops, yes. I updated the example above.

[2021-06-26 00:40] mzeitlin11 commented on #41683
Closing as this is being tracked in #41632

[2021-06-26 00:40] #41683 closed

[2021-06-26 00:52] mzeitlin11 commented on #39555
Closing for now since nothing actionable here, but please ping to reopen if you can respond to the question (and maybe post an example of your code `ExtensionArray` definition).

[2021-06-26 00:52] #39555 closed

[2021-06-26 01:48] mzeitlin11 commented on #35218
@joooeey would you mind checking to see if you still have this issue (or if any other windows users can reproduce?)

[2021-06-26 02:07] mzeitlin11 commented on #31154
Think the refactor portion was taken care of by a string of PR's like #39102, but don't think the testing parameterization looked at

[2021-06-26 02:11] mzeitlin11 commented on #29734
Sorry for late response here @dumbledad, thanks for the report! Contributions to investigate this would be very welcome (a copy-pastable reproducer would help, but that might be tricky if it needs to be so large :)

(Also the missing-data tag just refers to the fact that this issue is somewhat about NaNs)

[2021-06-26 02:25] mzeitlin11 commented on #26827
Closing since I think that code is gone, but please ping to reopen if I've misunderstood

[2021-06-26 02:25] #26827 closed

[2021-06-26 02:46] jbrockmendel commented on #41626
@jorisvandenbossche want to weigh in here (before i get started on a PR)?  one of the options here is value-dependent behavior

[2021-06-26 02:54] mzeitlin11 commented on #16788
No longer see memory > 7 GB on master and the copy is avoided here: https://github.com/pandas-dev/pandas/blob/50a59bac1f2bcbf9ac87c7a4160d4355be512294/pandas/core/nanops.py#L326-L332

[2021-06-26 02:54] #16788 closed

[2021-06-26 04:27] mroeschke commented on #25049
Let us know if you are able to produce the entire traceback at some point. Would greatly help debug this issue further. Going to close for now until we can get more information.

[2021-06-26 04:27] #25049 closed

[2021-06-26 04:42] mroeschke commented on #25158
Thanks for the suggestion, but it doesn't seem there's much interest from the core team or the community for this feature. Closing.

[2021-06-26 04:42] #25158 closed

[2021-06-26 04:50] mroeschke commented on #25169
Looks to work on master. Could use a test

[code]

[2021-06-26 05:01] mroeschke commented on #25239
`freq` will be deprecated in 1.3 so I don't think there's a need to document this further. Closing

[2021-06-26 05:01] #25239 closed

[2021-06-26 05:16] mroeschke commented on #25251
Thanks for the suggestion but it doesn't seem like there's much interest from the core team to integrate this library, and generally pandas is trying to reduce its API surface area. Closing.

[2021-06-26 05:16] #25251 closed

[2021-06-26 05:23] byunwj commented on #42139
Updating numpy to the lastest version solved the issue.
Thanks everyone for your help!

[2021-06-26 05:23] #42139 closed

[2021-06-26 05:23] mroeschke commented on #25270
This looks to work on master. Could use a test

[code]

[2021-06-26 05:29] mroeschke commented on #25286
Thanks for the suggestion, but it doesn't appears that there much enthusiasm for this feature from the core devs and the community. Closing but happy to reopen if there revived interest

[2021-06-26 05:29] #25286 closed

[2021-06-26 05:38] mroeschke commented on #25290
Appears that it's unclear which version this behavior was buggy. Additionally these are relatively older version of pandas. Closing for now but feel free to open a new issue if this still persists.

[2021-06-26 05:38] #25290 closed

[2021-06-26 05:43] mroeschke commented on #25322
Sorry that this never got addressed, but pandas will be on 1.3.0 soon which is Python 3 only and a minimum version of numpy that is 1.17. Going to close since we don't support this version anymore but if you could run these again with the latest version of pandas and open an issue it would be appreciated.

[2021-06-26 05:43] #25322 closed

[2021-06-26 07:28] aliceliu9988 commented on #42203
Hi Richard @rhshadrach,

Thanks for your explanation. I am a beginner of Python and do appreciate your hints and will look more into the difference between 'transform' and 'aggregation.  Ah... I have to say as a beginner I didn't expect the syntax to behave inconsistently like this.

[2021-06-26 07:39] jorisvandenbossche commented on #42240
The equivalent code from the benchmark mentioned above:

[code]

[2021-06-26 07:42] jorisvandenbossche opened #42246 "PERF: regression in DataFrame.shift method performance"
Performance regression in `shift` caused by #40536

I don't know if it's a particularly useful benchmark, but there is a big slowdown potentially related to this PR: https://pandas.pydata.org/speed/pandas/#frame_methods.Shift.time_shift?python=3.8&Cython=0.29.21&p-axis=1&commits=05a0e98a-bc62e768

_Originally posted by @jorisvandenbossche in https://github.com/pandas-dev/pandas/issues/40536#issuec

[2021-06-26 07:46] jorisvandenbossche opened #42247 "PERF: regression in PeriodIndex getitem / get_loc"
#41670 seems to have caused slowdowns in several of the Period indexing benchmarks: see https://pandas.pydata.org/speed/pandas/#regressions?sort=1&dir=desc, scrolldown to "2021-05-28 17:58"

One example: https://pandas.pydata.org/speed/pandas/#period.Indexing.time_get_loc?python=3.8&Cython=0.29.21&commits=ddc28a42

_Originally posted by @jorisvandenbossche in https://github.com/pandas-dev/pandas/i

[2021-06-26 07:50] jorisvandenbossche opened #42248 "PERF: regression in DataFrame construction from nested dict"
#41785 removed some cython code to handle this case (because it could also be handled by existing python code, AFAIU), but this de-duplication caused a big slowdown in one of the benchmarks: https://pandas.pydata.org/speed/pandas/#frame_ctor.FromDicts.time_nested_dict_int64?python=3.8&Cython=0.29.21

It's of course a trade-off between the maintenance cost of having the cython version versus the pe

[2021-06-26 08:46] jorisvandenbossche opened #42249 "PERF: regression in CategoricalIndex.get_indexer"
The fix in #42089 (or caused by the PR that this one was fixing) seems to have caused a large slowdown on the `get_indexer` benchmarks: https://pandas.pydata.org/speed/pandas/#indexing.CategoricalIndexIndexing.time_get_indexer_list?python=3.8&Cython=0.29.21&p-index='monotonic_incr'&commits=cf5852bf-fce7f9eb

The regression overview (https://pandas.pydata.org/speed/pandas/#regressions?sort=1&dir=de

[2021-06-26 09:37] jotasi commented on #42212
I think it is somewhat related but the discussion seems to be about an issue for the case of `right=True` (default). I'm arguing for a similar option to `include_lowest` for `right=False`, which (AFAICS) doesn't exist. So basically, for left-open intervals, you can (with the caveats discussed in #23164) make the outer-most open end closed(-ish) by specifying `include_lowest=True` and I propose to

[2021-06-26 10:04] simonjayhawkins commented on #42236
doesn't look like #42237 fixed this https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=62162&view=logs&j=404760ec-14d3-5d48-e580-13034792878f&t=f81e4cc8-d61a-5fb8-36be-36768e5c561a

[2021-06-26 11:02] rishitbhojak commented on #40680
![image](https://user-images.githubusercontent.com/51954932/123510943-f4301980-d69b-11eb-9ca2-3fb529cfcb1f.png)
Took the visualization portion on the third page and will put some function which we use regularly in place of it. Also, I added titles to both the subplots of the pie chart

[2021-06-26 11:05] rhshadrach commented on #42203
@aliceliu9988

I realize now I wasn't very clear, but I was trying to say the same thing! Thanks for raising this issue.

[2021-06-26 12:14] Joeperdefloep commented on #42221
I've made a PR that solves this issue.

Also, naming is inconsistent between `to_sql(if_exists={"fail","replace","append"})` and `to_excel(if_sheet_exists={"error","replace","new",<"write_to>})` in #40230
should this be solved?

[2021-06-26 14:58] mzeitlin11 commented on #42236
On attempt #2 of that run it succeeded in just 36 min, used 2 workers. The attempt #1 that timed out spun up 4 workers, as did the failing run posted in the issue body.  Maybe enforcing <= 2 workers would help (could it be some kind of memory issue?)

[2021-06-26 15:28] rhshadrach commented on #41998
The method `_wrap_agged_manager` uses `mgr.shape[1]` for the length of the index, it seems to me it should be using

    mgr.shape[1] if not mgr.shape[0] == 0 else 0

This fixes the issue in the OP and gives the output

[code]

which seems to me in-line with the result of

[code]

which gives

[code]

However, for the issue in https://github.com/pandas-dev/pandas/issues/41998#issuecomment-86187217

[2021-06-26 15:40] rhshadrach commented on #41998
Ah - this path is dropping column 'b' because it is object dtype. Doing

    print(pd.DataFrame(columns=["a", "b"], dtype=int).groupby(["a"], as_index=False).sum())

gives

[code]

which is better. Running tests now, PR to follow.

[2021-06-26 16:52] mzeitlin11 commented on #39622
Agreed that pairwise would be best of both worlds, but don't think that could be implemented efficiently because of the issues you mention above. I'd guess that pandas users care more about 50% performance in a common method like `.GroupBy.sum` than floating point error - maybe we can make Kahan summation opt-in?

Would be pretty straightforward with existing groupby machinery to pass some new arg

[2021-06-26 17:04] jbrockmendel commented on #42249
Before #42042, get_indexer ended up using get_indexer_non_unique, so I don't find the perf improvement there surprising.

This seems like the likely culprit.  I'll see what I can do.

[2021-06-26 17:13] jbrockmendel commented on #42246
2 possible improvements come to mind:

1) Change `concat` to allow disabling consolidation

2) the axis=1 path added in #40536 may be unnecessary (there's a comment that suggests otherwise; would need to look more closely) when `isinstance(self._mgr, BlockManager) and self._mgr.nblocks == 1`, in which case we could do `self.T.shift(n).T`

[2021-06-26 17:25] jbrockmendel commented on #42248
This appears correct.  For context, this change was made as a follow-up to a bugfix where this de-duplication would have prevented the bug.  I agree 5-6x is a bigger slowdown than I expected.

[2021-06-26 17:36] jbrockmendel commented on #42240
Profiling, looks like most of the time is taken up by a call to _get_join_target, which boils down to casting to object dtype.  If I go into Index._intersection and change

[code]

then I see a runtime of 6.61ms, vs 163ms on master, so ever-so-slightly faster than 1.2.5. (this change passes the tests/indexes tests, havent run the full test suite)

Will look into a less-kludgy solution.

[2021-06-26 17:41] jbrockmendel commented on #41877
OK.  This is less of a "bug" than it is a "difficult situation where we make an educated guess".  I'm open to suggestions on better ways to do this.  If you'd like to discuss, let's either re-open this issue or open a dedicated new one.

[2021-06-26 18:32] #42120 closed

[2021-06-26 18:57] #40066 closed

[2021-06-26 19:16] zyc09 opened #42259 "BUG: With cache, to_datetime() returns pd.NaT for inputs that produce duplicated values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-06-26 19:20] zyc09 commented on #42259
take

[2021-06-26 20:11] rhshadrach commented on #41957
Is this a good place to discuss whether it should be 1.4/2.0? Or should a new issue be opened?