[2021-01-04 21:12] phofl commented on #38956
Weird, seems like the empty row is ommitted.  Firs three rows are
[code]
with header=1.

Without header we get
[code]

I am not familiar enough with the implementation to asses if this is a bug or not.

We would need a file reproducing the error to debug this further.

[2021-01-04 21:15] JuliaWilkinsSonos commented on #38956
Ok thank you for looking into it. Trying to investigate why my original files are throwing that error but not the truncated dummy files. Will post back with a file that can reproduce the error soon if possible.

[2021-01-04 21:16] #38785 closed

[2021-01-04 22:39] jreback commented on #38953
it is in the PR
you have to look at the dev docs build

[2021-01-04 22:43] jreback commented on #38953
ahh I know we need to remove that reference (that you pointed above). if you would do a PR would be great!

[2021-01-04 22:55] lithomas1 commented on #38936
take

[2021-01-04 22:56] mjuric commented on #38437
Thanks @mzeitlin11 for looking into this!

I see your point about the update being non-trivial (and requiring deprecations) :(.

Could a temporary workaround may be to document the current behavior? It took me awhile to track down that the loss of precision _on read_ from JSON is coming from pandas -- that isn't documented right now. Setting `double_precision` too high at least throws an exception

[2021-01-04 23:15] #38926 closed

[2021-01-04 23:29] #28556 closed

[2021-01-04 23:41] asishm commented on #38956
For the sample file -
the difference is how `xlrd` and `openpyxl` return the parsed data

tested with

[code]

[code]

the major difference comes from the fact that with `xlrd` it returned the second row as `['', '', '', '', '', '']` but with `openpyxl`, the second row is an empty list `[]` which probably gets filtered out internally in pandas. which causes the issue with the `header` parameter.

[2021-01-04 23:44] JuliaWilkinsSonos commented on #38956
@asishm Thanks for investigating. Sounds like maybe not necessarily a bug, but something that could be added to the documentation so that users would expect this behavior in a case like this?

[2021-01-05 00:16] asishm commented on #38956
something else to note here as well is that with `xlrd` it returned 10 rows prior to pandas manipulation (which looks right) but `openpyxl` returns 40 rows.

I imagine there will be a fair amount of bug reports with the switch to `openpyxl` about changed behavior

Another instance of differing behavior between the two engines - see my [comment](https://github.com/pandas-dev/pandas/issues/34747#iss

[2021-01-05 02:22] #34274 closed

[2021-01-05 02:27] #33146 closed

[2021-01-05 02:44] rmwenzel commented on #38917
Thanks for the catch @MarcoGorelli.

Does 'take' mean you're taking the issue from here @sukriti? If not, I'd be happy to, haven't contributed to any open source and this would be a good chance.

I haven't seen this bot assignment of issues before, if you have time can you explain a bit how to get added to pool of assignees? Or point me towards resources.

[2021-01-05 03:33] rmwenzel opened #38962 "BUG: DataFrame.any() with not returning Boolean series with skipna=False across columns with numeric and string types"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

If the dataframe has columns have different numeric types
[code]
the behavior is as expected

[code]

But if the columns have numeric and string types

[code]
it looks like the first column is returned

[code]

The mixed types across rows doesn't seem to be

[2021-01-05 04:29] kylekeppler commented on #38953
Will do tomorrow.

On Mon, Jan 4, 2021, 5:43 PM Jeff Reback <notifications@github.com> wrote:

[2021-01-05 04:47] mzeitlin11 commented on #38962
Thanks for the report @rmwenzel! This looks to be caused because by the following `numpy` behavior:
[code]
gives
[code]

In your second example which works as you expected (assuming you meant `axis=0`, instead of `axis=1`?), the `numpy` `.any()` step still does not give a boolean result, it just ends up being coerced to a boolean result on the `pandas` end.

[2021-01-05 04:54] mzeitlin11 commented on #38962
In the 1d case too:
[code]
gives `s`, which goes against `numpy` docs that say `.any()` should return a boolean if axis is None. Seems like an upstream issue then?

[2021-01-05 04:56] venaturum commented on #38845
@jreback

I've ran the asv.  Do I zip and upload pandas/asv_bench/results?

What about the output in the terminal?

[2021-01-05 04:57] #37482 closed

[2021-01-05 05:05] jreback commented on #38845
just post if anything is significantly different

[2021-01-05 05:12] venaturum commented on #38845
This is the last section of the terminal output

[GH38845 asv summary.txt](https://github.com/pandas-dev/pandas/files/5768223/GH38845.asv.summary.txt)

[2021-01-05 05:19] jreback commented on #38845
looks very odd

pick out a relevant benchmark or 2 and repeat

[2021-01-05 05:38] jbrockmendel opened #38964 "BUG: Timedelta.min.ceil("us") returns NaT"
[code]

[2021-01-05 05:49] rmwenzel commented on #38962
@mzeitlin11 thanks for the speedy response! I did mean `axis=0` in the second example I edited to reflect.

By upstream I take it you mean a `numpy` issue? If so I can close this this and go file a report there.

[2021-01-05 06:38] PranayAnchuri opened #38966 "BUG: Fillna doesn't work on large dataframes"
- [X ] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I'm using the fillna function as follows

[code]
Here data.xtrain is pandas dataframe
[code]

I noticed that the fillna method doesn't on my dataframe. It works okay on

[2021-01-05 07:49] venaturum commented on #38845
I ran the three worst reported benchmarks, 5 times each, to see what sort of consistency I get.  I tried to leave the machine otherwise idle.
There are a few outliers in the ratios which are a bit bizarre (namely 0 and 180).

I'm not sure if much trust can be placed in the original benchmarks I uploaded - the machine certainly wasn't idle at the time.

[code]

[code]

[code]

Currently rerunning p

[2021-01-05 09:09] lgelmi commented on #36395
Seems like version 1.2 solves the issue as promised.
Thanks! :+1:

[2021-01-05 09:09] #36395 closed

[2021-01-05 09:26] MarcoGorelli commented on #38938
Thanks @BobinMathew

Yes, it would be good to mention the command
[code]
somewhere there, doesn't need to me a large addition

[2021-01-05 09:29] MarcoGorelli commented on #38917
you can just comment `take` on an issue you'd like to work on - there's lot's of other open issues if you want to contribute, [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html)'s the contributing guide

[2021-01-05 09:40] jreback commented on #38966
pls show a copy paste able  example that reproduces

show pandas versions

[2021-01-05 11:11] venaturum commented on #38845
I ran the ctors benchmarks 13 times.  The table below shows the median ratio reported.

Interestingly it looks like those benchmarks which have worsened were generally highlighted as having changed, much less thatn the benchmarks that have improved.

Sample size is still not great though.

[code]

[2021-01-05 11:14] venaturum commented on #38845
I'm also curious as to how asv decides whether to declare performance is increased or decreased.

In the example below all but one of the benchmarks reported were faster, yet it is summarised as "PERFORMANCE DECREASED", which seems unexpected.

[code]

[2021-01-05 11:41] venaturum opened #38969 "REGR: Bar plot from Series with IntervalIndex fails in pandas 1.2.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-05 12:01] MarcoGorelli commented on #38969
Thanks @venaturum for the report - could you put a descriptive title too please?

[2021-01-05 12:07] jorisvandenbossche commented on #38969
Didn't check, but given the other reports, I suppose this is similarly as https://github.com/pandas-dev/pandas/issues/38947, https://github.com/pandas-dev/pandas/issues/38865, https://github.com/pandas-dev/pandas/issues/38736 caused by https://github.com/pandas-dev/pandas/pull/28733

[2021-01-05 12:23] #38801 closed

[2021-01-05 12:28] venaturum commented on #38969
@MarcoGorelli , done now, sorry about that!

@jorisvandenbossche, I think you're right, looks especially similar to 38947.

[2021-01-05 12:57] #38451 closed

[2021-01-05 14:00] UlionTse opened #38972 "pandas.core.groupby.DataFrameGroupBy.rank() dense_rank does not work"
![dense_rank dose not work](https://user-images.githubusercontent.com/14334826/103654692-2ab89180-4fa1-11eb-9ca3-9305eac25981.png)

[2021-01-05 15:52] ParfaitG commented on #27554
Understood @jreback . I can get started with 4 PRs (via 4 different branches) following the style and signature of `html` handling and follow [contribution guidelines](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html):

1. new `xml.py` script under 'pandas/io' for `read_xml()`
2. new `xml.py` script under 'pandas/io/formats' for `to_xml()`
3. new `test_xml.py` script unde

[2021-01-05 15:53] mzeitlin11 commented on #38972
Hi @UlionTse, thanks for your report. Can you please provide a minimal reproducible example (copy-pastable!). See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports. Especially useful for diagnosing your issue would be the expected output.

[2021-01-05 16:00] mzeitlin11 commented on #38962
That would be great! I think we should still leave this open, though, pending resolution of the `numpy` issue (and testing should be added for these cases (even if it has to be xfailed until the issue is fixed)).

[2021-01-05 16:14] jreback commented on #27554
tests should be in the same PR as the code change

[2021-01-05 16:36] ParfaitG commented on #27554
Got it. Will plan for 2 PRs (1 and 3) for `read_xml()` and (2 and 4) for `to_xml()`.

[2021-01-05 16:46] vangorade commented on #38938
hi, can i work on this issue please?

[2021-01-05 17:05] moink commented on #26807
Also @jreback requested pandas/tests/io/pytables/test_store.py in a comment on #38609

[2021-01-05 17:06] moink commented on #26807
pandas/tests/tseries/offsets/test_offsets.py is done

[2021-01-05 17:15] arw2019 opened #38974 "BUG: pd.to_numeric does not copy _mask for ExtensionArrays"
In #38746 while implementing `to_numeric` for ExtensionArrays I do not copy the mask of the original input. This means that the (potentially) cast array shares a mask with the input. We should copy the mask.

[code]

Thanks @jorisvandenbossche for pointing this out!

[2021-01-05 17:18] moink commented on #26807
The list in the issue text seems to be outdated. Here are the lengths and names of all test modules with more than 1000 lines:

5030   pandas/tests/io/pytables/test_store.py
3672   pandas/tests/test_strings.py
3316   pandas/tests/io/formats/test_format.py
3047   pandas/tests/io/test_sql.py
2522   pandas/tests/arithmetic/test_datetime64.py
2476   pandas/tests/tools/test_to_datetime.py
2414   pandas

[2021-01-05 18:18] lucas-hattori-costa opened #38976 "DOC: Scatter and Hexbin from Series plot documentation"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.html

#### Documentation problem

As the scatter and hexbin kinds are not supported for Series, it shouldn't appear in the docs for Series, just for DataFrames.

#### Suggested fix for documentation

Simply removing them.

[2021-01-05 18:47] #30999 closed

[2021-01-05 19:19] avinashpancham commented on #38808
Good to hear! Once you've started, it would be great if you could reference this issue in the PR that will update core/frame.py

[2021-01-05 19:34] PranayAnchuri commented on #38966
@jreback Here is a reproducible example :
[code]

The result on my machine is
[code]
I realized that the error occurs when the dataframe has duplicate column names. In the above example, the first fillna doesn't replace the values neither in df2 nor the original df even though inplace is set to True. I also didn't get `SettingWithCopyWarning`. In the current implementation of `fillna`, the line ht

[2021-01-05 19:53] gramster commented on #28142
Regarding our (Microsoft) stubs:

- our own tools such as Visual Studio Code work best in the presence of explicit types, as type inference in Python is very hard, so we would like as many packages as possible to have types (while recognizing that "end user code" in Python is generally still going to not use explicit typing much)
- we strongly favor package authors using inlined typing, with stub

[2021-01-05 20:40] pLeBlanc93 opened #38979 "BUG: Different results from DataFrame.apply and str accessor"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-05 22:04] jorisvandenbossche commented on #38896
When is `can_hold_element` exactly used? (i.e. which user example covers your question? A .loc setitem as in the OP `df.loc[range(3), "A"] = arr` where the original column is int64 and the RHS arr an Int64 without NAs?)

[code]

So currently we indeed change the dtype, but so you are saying that in case there are no nulls, the result could preserve the "int64" dtype? Since the rule for `loc[:, "co

[2021-01-05 22:11] Dr-Irv commented on #30741
@jameslamb Can you check your calcs on the difference if tests are removed?  I think you included the folder `tests/io/sas/data` which takes up 12MB, but it is not in the distribution - just in the source repo.

[2021-01-05 22:33] jameslamb commented on #30741
I just tried removing that directory completely before running the size checks. The results are the same

[code]

I also tried this with `prune pandas/tests` added to `MANIFEST.in` (which is how I originally calculated the "without tests" numbers).

with `pandas/tests/io/sas/data` in the repo

* #38846: 3.6M (compressed)
* adding `prune pandas/tests` to `MANIFEST.in`: 1.6M

with `pandas/tests/io/s

[2021-01-05 22:51] BryanCutler opened #38980 "REGR: ExtensionArray aggregation on non-numeric types fails"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Expected:
[code]

Actual fails with error:
[code]

#### Problem description

Calling groupby on an ExtensionArray and a

[2021-01-05 22:51] BryanCutler commented on #38980
I can work on a patch to fix this

[2021-01-05 22:53] dornech opened #38981 "to_csv - parameter decimal"
I think that pandas.to_csv does not properly process the decimal parameter. It seems it is ignored whenever the dataframe to be exported contains a NaN value. This means it is not possible to export pandas in European CSV format.

I am aware that problems with to_csv have been discussed earlier and from these discussions I found the hint to check for NaN values. I am afraid I do not understand the

[2021-01-05 22:57] shawnbissell commented on #34862
@TomAugspurger @jreback was this level dropping deprecated/prohibited in the 1.2.0 release? After upgrading I'm seeing "ValueError: Length of names must match number of levels in MultiIndex." where as with 1.1.5 I previously saw the UserWarning.

[2021-01-05 23:44] jbrockmendel commented on #38622
@jreback gentle ping

[2021-01-06 00:01] jbrockmendel opened #38983 "BUG: IntegerDtype.__eq__(np.dtype(object)) returns True"
Also looks like `IntegerArray.astype(other_nullable_integer_dtype)` is returning an ndarray

[2021-01-06 00:16] #29130 closed

[2021-01-06 00:35] #38831 closed

[2021-01-06 01:38] Seanspt commented on #36271
Any progress?

[2021-01-06 02:03] jreback commented on #34862
@shawnbissell you would have to show a reproducible example

[2021-01-06 02:07] jreback commented on #38981
pls show a reproducible example and links to prior issues

[2021-01-06 02:10] phofl opened #38988 "BUG: Banklist.html was removed, failure on master"
**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

The banklist.html file was removed from "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/
#38987 marked the tests as xfail and removed the usergu

[2021-01-06 02:24] phofl opened #38989 "BUG: read_csv raising when null bytes are in skipped rows"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-06 02:44] mzeitlin11 commented on #38976
Thanks for catching this @lucas-hattori-costa! A PR to fix is welcome!

[2021-01-06 02:45] twoertwein commented on #38989
Thank you @phofl  for already narrowing it down :) That wasn't an intentional change.

I'm happy to make a PR to restore the old behavior. Which behavior is preferred?

[2021-01-06 02:46] phofl commented on #38989
I would say errors=replace when encoding is set to utf-8? Would be inline with the previous behavior

[2021-01-06 02:49] afeld opened #38990 "DOC: add comparison to spreadsheets"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/getting_started/comparison/comparison_with_spreadsheets.html

#### Documentation problem

From https://github.com/pandas-dev/pandas/pull/38554:

There are [a number of unofficial resources](https://www.google.com/search?q=excel+vs+pandas), but no official, living documentation to point them to.

#### Suggested fix for documenta

[2021-01-06 03:44] xiechen0620 commented on #38979
I noticed the same issue which @pLeBlanc93 post.

When using str accessor mothed with df.apply on dtype of series is object in version 1.2 ,
I could get excepted result when using axis=0,
and all result will be same as the first rows when using axis=1.

On dtype is 'string', everything is OK

here is my test code

[code]

as type of **'str'**
[code]
result:
[code]

[code]
result:
[code]

as type o

[2021-01-06 04:26] #38953 closed

[2021-01-06 04:27] kylekeppler commented on #38953
Closed by #38975

[2021-01-06 04:43] rmwenzel commented on #38962
Done! See https://github.com/numpy/numpy/issues/18129

[2021-01-06 04:47] gfyoung commented on #38989
Agreed this is a regression if that's the case, and restoring behavior is the right call.

[2021-01-06 04:47] rmwenzel commented on #38917
take

[2021-01-06 04:57] rmwenzel commented on #38917
I see, then the bot assigns. Thanks @MarcoGorelli.

[2021-01-06 05:14] xiechen0620 commented on #38979
Beside that, I noticed when using old dtype, id of all slices would be same if axis=1, but unique when using new dtype.
I have no idea if there is any connection.

old dtype
[code]
result
[code]

new dtype
[code]
result
[code]

[2021-01-06 05:18] minesh1291 commented on #38949
@phofl
It's one of the cases. I am looking forward to have pandas way (inbuilt) functionality like `explode_horizontal` . Where we can simply give name of the columns as argument, etc. I don't want to deal with bits and pieces. If I individually do it won't be robust and computationally optimized. I need it for large scale dataset.

[2021-01-06 05:47] afeld opened #38996 "ENH: branch deployments of documentation"
#### Is your feature request related to a problem?

When submitting large/complex pull requests around documentation, I've been (reasonably) asked to submit a screenshot of the change. These are tedious to capture, the links in screenshots aren't clickable, the text isn't searchable, etc.

#### Describe the solution you'd like

When changes to a branch are pushed up, the documentation is built and

[2021-01-06 06:26] kashumi-m commented on #19254
+1 for this

[2021-01-06 07:17] UlionTse commented on #38972
@mzeitlin11
Input:
[code]

Output:
[code]
Expected:
[code]

[2021-01-06 07:37] jreback commented on #38949
you can use .str.split(expand=True) or generally .explode

-1 on adding any additional api

[2021-01-06 07:45] erictraut commented on #28142
@gramster, you're correct that stub files that are packaged alongside the Python source files will take precedence when used by a type checker like pyright or mypy. This is the behavior dictated by PEP 561.

Until recently, library authors had no way to verify the completeness of their type information within a "py.typed" package. We recently added a mode to pyright that analyzes a package and rep

[2021-01-06 07:52] 1nF0rmed commented on #38976
take

[2021-01-06 08:11] 1nF0rmed commented on #38976
Would I only have to update the doc string here:
https://github.com/pandas-dev/pandas/blob/v1.2.0/pandas/plotting/_core.py#L603-L1708

[2021-01-06 09:18] ronald8192 commented on #10523
Using pandas-1.2.0, got an error: `ValueError: Setting mangle_dupe_cols=False is not supported yet`

[code]

[2021-01-06 10:58] bharat-ics opened #38999 "BUG:"
- [Checked ] I have checked that this issue has not already been reported.

- [ Checked] I have confirmed this bug exists on the latest version of pandas.

- [Not Checked ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary in

[2021-01-06 11:05] krlng commented on #31063
My bad workaround right now is a simple loop - but I really don't like it, its less pythonic and much slower in case of many groups. How ever, modifying the internals of pandas is not an option to me. In my point of view, this makes apply simply not usable for productive data-pipelines.

[2021-01-06 11:17] vangorade commented on #38999
please add  reproducible example and version of pandas you are using

[2021-01-06 11:21] dornech commented on #38981
Thanks for the answer and requesting more info. Prior Issues are pretty
old (0.x releases), so I do not thinkt they are of help.
Here are short examples to demonstrate my issue:

df = pd.DataFrame({'a': [0, 1.1], 'b': [2.2, 3.3]})
df.to_csv("h:\\test1a.csv")
df.to_csv("h:\\test1b.csv", sep=";", decimal=",")

test1a.csv:
,a,b
0,0.0,2.2
1,1.1,3.3
-> OK

test1b.csv:
;a;b
0;0,0;2,2
1;1,1;3,3
-> OK

No

[2021-01-06 12:34] jorisvandenbossche commented on #38980
Thanks for the report!
Yes, this is caused by the refactoring in groupby, it was working before correctly, so labeling as regression (and targeting 1.2.1)

[2021-01-06 12:37] jreback commented on #38980
pls edit the top include the full example and not just the link

[2021-01-06 12:41] jorisvandenbossche commented on #38980
There is a reproducible example now at https://github.com/pandas-dev/pandas/pull/38982#issuecomment-755277194

[2021-01-06 12:47] jorisvandenbossche commented on #38983
I don't think that's the case (you actually recently refactored that to have all astype(extension_dtype) be handled by the base MaskedArray class):

[code]

I also don't see the issue from the title? Do you have a code example?

[code]

[2021-01-06 13:37] venaturum commented on #38988
Looks like it moved
https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/

That url seems to work with the code in the io guide.

[2021-01-06 13:38] v1gnesh commented on #38913
Hi, sure.

`df.dtypes` before `melt`:
[code]

[code]

After `melt`, I get:
[code]

I want to be able to populate the category (& category codes from a list) for the `var_name` output column.

Perhaps something like:
[code]

Thinking this will be a good way to set the dtype for generated content, rather than let it generate, and then update to a category (to save memory & such).
That is, to avoid d

[2021-01-06 13:52] luciodaou opened #39001 "BUG: read_excel with openpyxl results in empty data frame"
- [ X ] I have checked that this issue has not already been reported.

- [ X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

-----

#### Old behavior with xlrd 1.2.0 (last version with XLSX support)

[code]

File is read perfectly and dataframe is ok, with all 11 columns.

#### Problem descripti

[2021-01-06 13:55] venaturum commented on #38976
https://github.com/1nF0rmed/pandas/commit/5bc961f47d0e16be0d87fceeb961afd5e0534e9e#commitcomment-45696570

[2021-01-06 13:56] phofl commented on #39001
Hi, thanks for your report. Could you provide your file?

[2021-01-06 14:05] simonjayhawkins commented on #38969
both these fail from `self.tick_pos = ax.convert_xunits(self.ax_index).astype(np.int)` in `_make_plot` in `pandas\plotting\_matplotlib\core.py`

could close as duplicate or leave open to ensure additional test coverage

[2021-01-06 15:02] #38938 closed

[2021-01-06 15:17] simonjayhawkins commented on #38980
first bad commit: [40ca2b9c7ebac8821acafd5385313f47b0e1ae3c] REF: implement _ea_wrap_cython_operation (#38162) cc @jbrockmendel

[2021-01-06 15:27] zhuoqiang opened #39002 "BUG:to_pickle() raises TypeError when compressing large dataframe"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

the above code raises `TypeError`

[code]

Note that in order to reproduce the bug, it have to:

* the data frame is l

[2021-01-06 15:38] jreback commented on #39002
this is failing in lzma.py which is part of python itself search for an issue there.

[2021-01-06 15:49] gooney47 opened #39004 "BUG: IndexError: positional indexers are out-of-bounds iloc boolean indexing"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Documentation of Pandas says I can use boolean array with iloc. The iloc call with the assign

[2021-01-06 16:21] jreback commented on #38988
apparently this was just moved to a new URI.

[2021-01-06 16:21] jbrockmendel commented on #38983
Looks like I was using the dtype classes instead of instances, thanks

[2021-01-06 16:21] #38983 closed

[2021-01-06 16:24] Dr-Irv commented on #30741
@jameslamb I was surprised that in your original numbers, with the uncompressed version, the result lowered from 19M to 7.7M, so that's why I thought the SAS data was the culprit.

If I look at my installation of pandas 1.1.3, the uncompressed installed tests directory contains just over 9MB.  Still justifies figuring out if we can leave it out of the dist.

[2021-01-06 16:24] phofl commented on #38988
The URL I posted above is the new one, but the html file is no longer there. It is now stored as a csv file

[2021-01-06 16:30] jorisvandenbossche commented on #38983
Ah, yes, that seems to be the case for any class object ...

[code]

[2021-01-06 17:33] mahatma1 opened #39005 "BUG: thousands separator in read_html alters data even though converter is set for a specific column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
I've set `thousands` and `decimal` separator parameters to fit the general number format that

[2021-01-06 18:16] vangorade commented on #38917
take

[2021-01-06 18:20] vangorade commented on #38878
take

[2021-01-06 18:36] #38976 closed

[2021-01-06 19:14] phofl commented on #39004
Hi, thanks for your report.

Why are you using a DataFrame as mask? I am not sure if this is intended to work

[2021-01-06 19:40] lithomas1 commented on #38955
take

[2021-01-06 19:57] phofl commented on #35820
Yes, ``csv.QUOTE_NONE`` is for these cases.

[2021-01-06 19:57] mzeitlin11 commented on #38972
Thanks for the response @UlionTse. I believe this is expected behavior - rank always increasing by 1 between groups is referring to the following difference between 'dense' and 'min' (using an example with `Series`, but is same for `GroupBy`)

[code]
[code]
'dense' ranking increases from 1 to 2 on values change (increase by 1 between "groups"), rather than 'min' which increases from 1 to 4 since t

[2021-01-06 20:36] gooney47 commented on #39004
I'm using a dataframe mask because I have a 2D boolean mask that marks all the places I want to change in my 2D float value dataframe. I was hoping there would be a function for this that prevents me from writing a loop (not for performance, just for convenience). In the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#different-choices-for-indexing) it is says

[2021-01-06 20:41] phofl commented on #39004
Our fallback for assignments is to operate on arrays. Hence it works.

iloc is two dimensional, but I am not quite sure what you want to achieve. Something like
[code]
should not be possible. You have to specify rows to select and columns to select.

@jbrockmendel thoughts here? I understood array as numpy array or pandas array not DataFrame.

[2021-01-06 20:46] phofl commented on #35520
I think this would break a lot of code, if we make this strict. Especially because currently it is clearly documented, that the column won't be altered if it can not get converted to datetime-format. Addind another parameter to read_csv isn't desirable either.

[2021-01-06 20:54] realead opened #39007 "BUG: Inconsistent results of value_counts and mode for different nan-values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

[code]

#### Problem description

For `s.value_counts(...)` the result is

[code]

but for `s.mode(...)` the output is:

[code]

#### Expected Output

for the sake of consista

[2021-01-06 21:01] realead commented on #39007
The underlying issue is, that for `value_counts` with `np.object`, nas are always dropped: https://github.com/pandas-dev/pandas/blob/f1d4026973bfb650be63cbe87443570aa01935dd/pandas/_libs/hashtable_func_helper.pxi.in#L97-L101

and are taken care in a post processing step: https://github.com/pandas-dev/pandas/blob/f9ce9d6dcc28cc408bcffab8cb4fdc865e51c02a/pandas/core/algorithms.py#L877-L881

This is

[2021-01-06 21:32] realead commented on #11227
Once #39009 is merged, this issue would no longer exist, because the order would depend on the original ordering and not hash-function.

[2021-01-06 21:51] Malachov opened #39010 "BUG: 1.2. version fails in adding column if number on column name beginning."
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Code that raise traceback

[code]
Result:

ValueError: format number 1 of "0 - Name" is not recognized

If other name witho no mumber on column name, it will pass.
In older

[2021-01-06 22:56] #38830 closed

[2021-01-06 23:15] DylanDmitri opened #39011 "ENH: enhance query syntax"
#### Is your feature request related to a problem?

No, it's additional behavior.

#### Describe the solution you'd like

```df.query(key=value)```

Add new query behavior for simple key lookup. Helps improve readability.

#### API breaking implications

Will not break API. Make the query expression optional, new calls hit this feature if and only if the query expression is not provided.

#### Des

[2021-01-06 23:25] jreback commented on #39011
-1 on adding *anything* to `.query`; in particular this is *already* available thru standard pythonic apis, this is additional cause for guess 'what does this do'? or 'why do we have multiple ways to do things'?

[2021-01-06 23:59] gooney47 commented on #39004
@phofl It does work though, check out this:
[code]
I specify rows and columns at the same time.

[2021-01-07 00:06] twoertwein commented on #38989
@phofl Could you please read the beginning of the CSV in binary mode, that would be helpful to make a testcase out of it. The following does (unfortunately) not trigger this bug:

[code]

[2021-01-07 00:16] phofl commented on #38989
[code]

raises

[2021-01-07 00:18] twoertwein commented on #38989
perfect, thank you :)

[2021-01-07 00:22] phofl commented on #39010
Hi, thanks for your report. This is an interesting edge case. With your raising example we have a RangeIndex, so we dispatch to numy to check for bool dtype
[code]
raises
[code]

In your second example we have an Index with dtype object, where we do things a litte bit different,

[2021-01-07 00:27] phofl commented on #39010
Marking as a Regression since this worked on 1.1.5.

[2021-01-07 00:29] phofl commented on #39004
Sorry, was not clear enough. I did not expect
[code]
to work. I don't even know what this should return in your case.

[2021-01-07 00:46] gooney47 commented on #39004
I think what numpy does is pretty good, so returning the masked elements in a Series sounds appropriate to me. That would solve two things at once, my concern about it being stupid that something is only working if you do an assignment on top of it, plus you provide more functionality.

[2021-01-07 01:46] jreback commented on #39004
this is not intended to work at all

iloc does not align and esp does not on a Dataframe

instead this gets turned into a ndarray and can easily be the wrong shape

[2021-01-07 01:48] phofl commented on #39004
Maybe we should raise when a DataFrame is given as indexer?

[2021-01-07 02:03] asishm commented on #39010
#38030
cc @jbrockmendel

[2021-01-07 02:05] jbrockmendel commented on #39004
I think this makes sense.  Definitely shouldnt be working for iloc.setitem but not iloc.getitem

[2021-01-07 02:17] jreback commented on #39004
yep agreed

[2021-01-07 04:03] asishm commented on #38979
behavior changed in fbd13a95c65571677632d177a35577baacd5d2ba

REF: Dispatch string methods to ExtensionArray #36357

cc @TomAugspurger

[2021-01-07 05:45] nabelekt opened #39013 "ENH/SQL: Allow 'dtype' argument in to_sql() to take dictionary including a default datatype"
Related to #11886

Could we modify the dictionary interpretation in `to_sql()` so that the datatype specified by a key like `'default'` would apply to all other columns not already specified in the dictionary? Or, alternatively, we could break this out to two different arguments: a dictionary for specific columns and a datatype for all the rest?

Instead of choosing between specifying every column

[2021-01-07 07:30] 1nF0rmed commented on #38863
Is this still open?

[2021-01-07 09:00] auderson opened #39015 "BUG: DataFrame.rank() wrong result for inf"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-07 09:45] vangorade commented on #39015
Thanks @auderson  for reporting issue.

master gives the expected output

[code]

[2021-01-07 09:48] mattiasthalen opened #39016 "BUG: pd.DataFrame.pivot() alters external list (v 1.1.5)"
I just discovered a strange behavior, pd.DataFrame.pivot() changes an external list by adding an element:
[code]
[code]

However, this doesn't happen if I change `group_fields = ['a', 'b', 'c']` to a set `group_fields = ('a', 'b', 'c')`

[2021-01-07 10:30] jreback commented on #39016
try in 1.2 this was fixed

[2021-01-07 10:32] jreback commented on #39015
was fixed by #38681

[2021-01-07 10:32] #39015 closed

[2021-01-07 10:39] jreback commented on #39013
-1 we don't do this anywhere else

just construct a dtype dict yourself

[2021-01-07 11:13] phofl commented on #39016
Yep, works on master.

[2021-01-07 11:15] phofl commented on #39016
We have a test for this ``test_pivot_index_list_values_none_immutable_args``, so closing

[2021-01-07 11:15] #39016 closed

[2021-01-07 12:01] davidleejy opened #39017 "ENH: Add encoding errors option in pandas.read_csv"
#### Related to problem:

[code]

#### Describe the solution you'd like

Recently, we added `errors` as a function parameter to `to_csv` in this [merged PR](https://github.com/pandas-dev/pandas/pull/27899). Can we do the same for `read_csv`? This solution would make Attempt 2 work.

(Not sure why Attempt 3 doesn't work since `read_csv` accepts a file handler object.)

#### API breaking implication

[2021-01-07 12:08] tushushu commented on #38808
Hi, I would like to work on `core/common.py`. It seems that no one is working on that yet.

[2021-01-07 12:12] minesh1291 commented on #38949
@jreback
I did't understand that how can I use ".str.split(expand=True) or .explode" in this situation.
Instead of adding additional api, .explode api can be enhanced with accepting additional boolean argument to direct the functionality to explode vertically vs horizontally.  Thanks for your input.

[2021-01-07 12:16] MarkiesFredje commented on #37892
Retested in `pandas 1.2.0` and its working now.

[2021-01-07 12:16] #37892 closed

[2021-01-07 13:31] gooney47 commented on #39004
I want to further clarify that I had a misunderstanding, which also was the main thing I originally objected in this issue. I assumed that if a code snippet B contains a code snippet A that B would depend on A working independently. This is however not true if there are operators in the expression since they can change the meaning. So in this example
[code]
The snippet B does not depend on the fir

[2021-01-07 13:55] gooney47 commented on #39004
I got another question. If I wanted to use a boolean array with pandas for indexing I can use
`df[mask]` instead of `df.iloc[mask]`, right? Because if I do something like `df[df == 2]`, it's basically using a boolean dataframe as an index and this is intended to be working.

[2021-01-07 13:58] #29751 closed

[2021-01-07 15:13] ParfaitG commented on #27554
take

[2021-01-07 18:48] #38989 closed

[2021-01-07 19:40] davemfish opened #39024 "BUG: read_csv - file left open after UnicodeDecodeError when sep=None"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-07 19:51] jorisvandenbossche commented on #39004
Indexing with a boolean DataFrame is definitely supported with `__getitem__`, like the example @gooney47 gives (`df[df == 2]` or `df[df == 2] = 3`).
I think this is intentionally supported and documented?

But *if* that's indeed the case: if it works for `__getitem__`, is there a specific reason to not allow it for loc/iloc? (I think typically we want getitem to be a subset of loc/iloc?)

[2021-01-07 19:58] phofl commented on #39004
The problem is the missing alignment in iloc. See the following:

[code]
returns
[code]

What to do in case of iloc?
Same for setitem

[code]
   a  b
0  1  5
1  2  4
[code]
   a  b
0  5  3
1  2  5
[code]

[2021-01-07 20:07] twoertwein commented on #39024
thank you for the example!

When I run your code on linux, it doesn't even end up in the except branch. I only get a warning that, the python engine should be used:

Running the code with `-W default` doesn't mention any resource warnings. Do you get warnings when you run the example with `-W default`. That might help us to narrow down where the file isn't closed.

[2021-01-07 20:22] twoertwein commented on #39024
I found a different example which fails for a different reason (`Error("Could not determine delimiter")`) but in the end `read_csv` doesn't close its file handle.

[code]
sys:1: ResourceWarning: unclosed file <_io.TextIOWrapper name='non-utf8.csv' mode='r' encoding='utf-8'>

[2021-01-07 20:30] simonjayhawkins opened #39025 "BUG: Missing keys using aggregation dictionary that are unsortable raise TypeError instead of SpecificationError"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-07 20:37] davemfish commented on #39024
Yes,
[code]

Yes, `pandas.read_csv(csv_file, engine="c")` fails as expected with `UnicodeDecodeError`

`pandas.read_csv(csv_file, engine="python")` gives same result as above with `engine="c"`

[2021-01-07 20:45] Safrone commented on #15303
I'm interested in this still, I can't find a reasonable way to snap a datetime to a week beginning

[2021-01-07 20:52] rmwenzel commented on #38962
After some discussion, it looks like `np.any()` is behaving as expected. See the above referenced issue for details.

[2021-01-07 21:09] adamjstewart commented on #30873
Was this fixed by #30862? Can this be closed now?

[2021-01-07 21:29] Dr-Irv commented on #30873
@adamjstewart Don't think so.  I opened this one while #30862 was being developed.

[2021-01-07 21:39] bsun94 commented on #32550
Hi everyone, can I join in and help out on this issue in any way?

[2021-01-07 21:46] phofl commented on #39025
This seems to be a regression from 1.0.5

[code]

[2021-01-07 21:49] sunt05 commented on #16363
This issues seems to persist when `.between` is used inside `query`.
Also, the example of OP also fails:
[code]

tested with pandas v1.2.

<details>
 <summary>version info</summary>
INSTALLED VERSIONS
------------------
commit           : 3e89b4c4b1580aa890023fc550774e63d499da25
python           : 3.8.6.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 20.2.0
Version

[2021-01-07 22:12] avinashpancham commented on #38808
Thanks @tushushu, will mark that file as done

[2021-01-07 22:58] avinashpancham commented on #38808
Will work on the dir  `core/internals/*` and ` core/reshape/*` and the file `core/base.py`

[2021-01-07 23:46] minchulkim87 commented on #27554
@ParfaitG you sir are a legend! So many people want/need a pandas way of reading XML.

For whatever it is worth (completely understand if none of this is useful), I have been using xmltodict as an intermediary from making XML a pandas dataframe. You know, leveraging existing tools.
I thought I had tried to make it intuitive enough, but perhaps not. Here the root_key_list is the sequence of names o

[2021-01-07 23:57] scottmsul opened #39031 "pd.read_parquet causing Python to crash"
These are the commands I ran in IPython:
[code]
At which point it exits IPython without displaying an error or stacktrace. Maybe this is some kind of segfault? It also fails when running from a script, and also when reading from a BytesIO instead of a file.

This is using pandas==1.2.0, pyarrow==2.0.0, and Python 3.7.3. Also this was run in Windows from Powershell.

If it helps, this is the output

[2021-01-08 00:08] scottmsul commented on #39031
I did some more experimenting, downgrading pyarrow to 0.15.1 makes it work, but 0.16.0 fails.

[2021-01-08 00:19] #39010 closed

[2021-01-08 01:48] bsun94 commented on #38990
Hi there, I was wondering if you needed any help with this ticket? I'm new to open source, and am looking to get my feet in the water :)

[2021-01-08 03:16] jbrockmendel opened #39033 "BUG: tm.assert_produces_warnings(None) failing to raise"
in tests.indexes.interval.test_constructors test_constructor_dtype if we disable the tm.assert_produces_warning and instead run pytest with `-W error`:

[code]

we're passing kwargs to `pd.Index.__new__` which is deprecated.

[2021-01-08 04:04] UlionTse commented on #38972
@mzeitlin11 Thanks. However, the dense rank after grouping is not often used. In most cases, sql: `row_num() over(partition by ... order by ...)` is used. (pandas: `df['rank'] = df.sort_values(by=[...]).groupby(by=[...]).cumcount()+1`)

[2021-01-08 04:27] hollypeter commented on #38999
Meet same issue.
have you try restart Kernel? mine works after restart

[2021-01-08 05:56] afeld commented on #38990
Sure! [Adding an example showing the round trip to/from Excel](https://github.com/pandas-dev/pandas/pull/38554#discussion_r549409566) would be a great first contribution. I started writing out how to go about doing so, and [it accidentally turned into a blog post](https://aidanfeldman.medium.com/1a68692c4d47?source=friends_link&sk=a8dbcae9e46155cf75d6bd9b10b9dfc8) 😆 Since you're my audience of one

[2021-01-08 06:00] afeld commented on #38996
[Wrote something up about some other challenges to contributing to the pandas docs.](https://aidanfeldman.medium.com/contributing-to-pandas-1a68692c4d47?source=friends_link&sk=a8dbcae9e46155cf75d6bd9b10b9dfc8) Doing some brainstorming about how to make that workflow better overall.

[2021-01-08 08:11] vangorade commented on #38627
looks like issue is still not resolved let me fix it real quick.

[2021-01-08 08:11] vangorade commented on #38627
take

[2021-01-08 10:09] jorisvandenbossche commented on #39031
@scottmsul thanks for the report!

Some questions:

Does it also error when not passing a file object? So doing `pd.read_parquet("test.parquet")` ?

To be sure it's not an issue with pandas calling pyarrow, but in pyarrow itself (which does the reading and writing of parquet files), can you try:

[code]

Also, how did you install pyarrow? Using pip / wheels? Or using conda?

[2021-01-08 10:12] simonjayhawkins commented on #37104
[code]

These are not false positives...

[code]

opened #39025 for one of the cases

[2021-01-08 10:16] simonjayhawkins commented on #37104
due to recent changes we have an additional mypy error

[code]

may need to revert #38018. further investigation (and code sample) on whether there was a regression

[2021-01-08 10:26] gooney47 commented on #39004
Why would I pass indices that are not considered in the indexing process? Wouldn't it make sense to check if passed indexer is already aligned in the first place?

[2021-01-08 10:41] phofl commented on #39004
Ok another example to clarify the point I am trying to make concerning iloc and []

df = pd.DataFrame({"a": [1, 2], "b": [3, 4], "c": [5, 6]})

indexer = pd.DataFrame({"b": [True, False]})
df[indexer]

    a    b   c
0 NaN  3.0 NaN
1 NaN  NaN NaN

df[indexer] = 10
df

   a   b  c
0  1  10  5
1  2   4  6

df = pd.DataFrame({"a": [1, 2], "b": [3, 4], "c": [5, 6]})
df.iloc[indexer] = 10
[code]
Traceb

[2021-01-08 10:52] gooney47 commented on #39004
I get what you mean. What bugs me though is the fact that you can pass indices that will not be considered in the indexing process. Let's say we have this:
[code]
This will still work even though the last row won't be considered in the indexing process at all. I'm addressing this because I ran into this in my code. I had a boolean mask of same shape as my df, but the indices of the mask where diff

[2021-01-08 10:54] phofl commented on #39004
This is what loc and [] do, they align the objects. This is documented in the docstrings and in the user guide (here for example https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-label)

[2021-01-08 11:03] gooney47 commented on #39004
Yeah it makes sense to have partial selection, but does it make sense to accept indexers that can't **fully** be aligned?

[2021-01-08 11:12] gooney47 commented on #39004
Wouldn't it be proper to throw an out of bounds?

[2021-01-08 12:01] simonjayhawkins commented on #39025
first bad commit: [8f90046c59ad4b8ca125bc6120731c7334e6e5f3] ERR: Better error message for missing columns in aggregate (#32836)

[2021-01-08 12:55] jorisvandenbossche opened #39037 "REGR: concat of unaligned empty DataFrames failing"
While trying to get dask's CI passing (https://github.com/dask/dask/pull/6996/), I noticed another error related to concat. Dask concatenates the empty "meta" dataframe to know the shape/dtypes of the resulting dataframe, and something is failing in there now.

Small reproducer without dask:

[code]

It occurs when reindexing happens (not fully aligned dataframes), and apparently at least 3 datafr

[2021-01-08 13:10] jorisvandenbossche commented on #39037
Another failing case from the dask tests:

[code]

This now gives "float64" dtype for the result, while the original "b" column was an object dtype with strings.

[2021-01-08 13:11] jorisvandenbossche commented on #39037
Yes, can confirm that on my branch reverting those changes I opened earlier today (https://github.com/pandas-dev/pandas/pull/39035), this is fixed again.

[2021-01-08 13:53] jorisvandenbossche commented on #39004
@gooney47 it's certainly a tricky issue if you run into it and don't expect the behaviour. But as @phofl, this is certainly not accidental, but intentional behaviour and documented. Which of course doesn't mean we cannot re-consider it if it turns out to be confusing / non-ideal.
(personally, I don't think I ever made use of this feature)

@phofl thanks for those examples. Also Series.iloc already

[2021-01-08 14:01] phofl commented on #39004
I tend to agree that should ``df.iloc[df['a'] > 2, 0]`` be allowed, but this raises
[code]
So looks like this is intentionally disallowed because it is not implemented, not because it should not work.

For cases like ``df.iloc[df == 2]``: I don't thinkt this is a case which has to work for iloc, you can simply use loc here, should give the same result, shouldn't it? Using iloc without positions is

[2021-01-08 14:10] #30699 closed

[2021-01-08 14:14] gooney47 commented on #39004
@jorisvandenbossche I don't believe this is intended behavior, because there is inconsistent raising behaviour when you pass 1D indexer compared to passing 2D indexer:
[code]
Why should something suddenly be allowed, just because indexer has more dimensions? The reason why you raise non-existing indices is because you want people to notice that their passed indices do not apply to the data and I'm

[2021-01-08 14:17] #38878 closed

[2021-01-08 14:20] phofl commented on #39004
The 1d case should raise, this is not a boolean array. If you pass in a list or array like of labels this raises as soon as one label is not found

[2021-01-08 14:23] Safeturn opened #39038 "BUG: Setting closed='neither' for rolling function of Series leads to mean() producing nan values"
- [x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

In the current version of pandas, the call to mean() produces a series of nan-values. For pan

[2021-01-08 14:30] gooney47 commented on #39004
I guess my general question is: Why it would make sense to let someone pass indices that are not present in the data? Why not help the people and say that they aren't present, how we already do it in case of lists/arrays. I would say that this should hold as a general principle independent of what type of data you pass. Maybe it's just me though.

[2021-01-08 15:48] danielhrisca commented on #7509
I think think this is a serious issue. If I had the knowledge to fix it myself I would. Maybe someone from the core developers can have a look

[2021-01-08 16:53] scottmsul commented on #39031
Hi @jorisvandenbossche,

Yes, this also crashes.

Yes, this is crashing as well.

All packages were installed from pip in a virtual environment.

[2021-01-08 17:02] mzeitlin11 commented on #38962
Thanks @rmwenzel! I guess the question becomes whether pandas should match that behavior or always ensure returning something boolean. Your examples above show an inconsistency for how this is handled when reducing on different axes.

[2021-01-08 17:28] jreback commented on #7509
@danielhrisca there are many 'serious issues' again pandas is all volunteer and there are quite a number of open issues
i cannot instruct anyone to look at anything in particular

[2021-01-08 17:59] danielhrisca commented on #7509
There is a dtype promotion going on in [take_nd](https://github.com/pandas-dev/pandas/blob/master/pandas/core/algorithms.py#L1674)

Does it make sense to try there to apply the older dtype or just before returning from ``combine_first``?

[2021-01-08 18:06] mzeitlin11 commented on #38972
Does `rank` with `method='first'` handle what you're requesting here?

[2021-01-08 18:35] jbrockmendel opened #39039 "API/BUG: pd.array(float_ndarray_with_nans) casts np.nan to pd.NA"
I was under the impression we meant to keep these as distinct concepts

[2021-01-08 18:36] jbrockmendel commented on #39039
setting `data[-3] = np.nan` also gets cast to pd.NA

[2021-01-08 19:02] danielhrisca commented on #7509
On a second look the root cause seems to be that the alignment is done with ``fill_value=None`` (here https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L6368) which promotes all numeric columns to ``f8``.

I think that if we check that the two dataframe have identical columns, then we can provide a better ``fill_value`` (here https://github.com/pandas-dev/pandas/blob/master/pan

[2021-01-08 19:45] gmanlan opened #39041 "BUG: pandas v1.2 read_csv crashes when reading a large CSV"
#### Environment

OS: Windows 10
Python version: 3.7.8 (64 bit)

#### Problem description

Pandas 1.2 fails to read a large CSV (1.6GB), crashing the python process with exit code 0xC0000005. This issue is IDE agnostic, as it happens when running python from the console as well (no IDE).
- The CSV is quite simple, 100 columns with all integer values (1 or 0).
- Adding/changing/removing encoding do

[2021-01-08 20:53] jreback commented on #7509
sure can check if they have identical columns then no action, also `find_common_dtype` (the pandas one would be useful here).

[2021-01-08 20:54] ParfaitG commented on #27554
@minchulkim87 - thanks! Your work is interesting and a convenience handler for those unfamiliar with the XML document model. I aim to focus on the XML standard with DOM support of elements, attributes, namespaces, even XPath and XSLT using XML handlers in Python's standard library and few core external libraries that `pandas` supports such as `numpy` and `lxml`.  I believe `pandas` intends for les

[2021-01-08 21:01] attack68 commented on #38981
The issue here might be the column dtypes. Try

    print(df.dtypes)

And you will find something like:

    a    float64
    b     object
    dtype: object

The key item for column 'b' being 'object' or essentially string, meaning it interprets the 2.2 as "2.2"

[2021-01-08 21:12] twoertwein commented on #39041
thank you for your report!

It would be helpful to know how many rows/columns your CSV has to reproduce this issue.

 Does it work with `engine='python'`?

[2021-01-08 21:37] ma-ji commented on #24918
This is a consistency issue, and `pandas` should have a consistent strategy. On my end the problem is:

`int isin str` - this works; but `str isin int`, this does not work.

[2021-01-08 21:39] #38823 closed

[2021-01-08 21:44] n-mathis commented on #38813
take

[2021-01-08 22:20] phofl commented on #39041
Can not reproduce this with an 1.8gb file. Could you try narrowing it down where the break point is and share this file somehow?

[2021-01-08 22:27] phofl commented on #39041
Please add pd.show_versions

[2021-01-08 22:46] gmanlan commented on #39041
Added the details in the bug description itself...
- CSV: 7M rows x 100 columns
- engine='python' works fine, the default one exhibits the bug
- attached pd.show_versions

[2021-01-08 23:17] #39025 closed

[2021-01-08 23:21] phofl commented on #39041
Unfortunately can not reproduce, maybe someone else has more luck.

[2021-01-08 23:43] phofl commented on #39038
Hi, thanks for your report. In 1.1.4 the closed parameter was ignored for fixed windows and it defaulted to right. The behavior you are showing is for closed=right. I thinkt your result is correct, since left and right both are not in the window, the min-periods parameter needs to be 4 I think.

At least this behaves like that for time aware windows in 1.1.5

@mroeschke Please correct me, if I am

[2021-01-09 00:22] zbremmer commented on #38808
Anyone working on ```
core/generic.py
[code]

[2021-01-09 00:35] cemanughian commented on #15105
Is anyone going to fix this?

[2021-01-09 01:00] jreback commented on #15105
@cemanughian pandas is all volunteer and there are quite a number of open issues

you are welcome to do a pill request - core devs can provide review

[2021-01-09 01:18] yadalik commented on #13439
Quick monkey patching, without converters or anything like this, if you would like to treat ALL cells with hyperlinks as hyperlinks, more sophisticated way, I suppose, at least be able to choose, what columns treat as hyperlinked or gather data, or save somehow both data and hyperlink in same cell at dataframe. And using converters, dunno. (BTW I played also with `data_only`, `keep_links`, did not

[2021-01-09 02:56] twoertwein commented on #39041
I cannot reproduce it. At least not with the following code:

[code]

[2021-01-09 03:57] rmwenzel commented on #38962
@mzeitlin11 I was wondering the same thing. Consistency with behavior for rows (`axis=0`) seems important, to me it seems (e.g. from the documentation) that this was the original in intent, and it could be pretty confusing to have the inconsistency. Maybe more important, it seems more useful to have the boolean. In my (somewhat limited) experience, one is using `any()` like a logical or. To me it

[2021-01-09 04:02] Samuel-Muldoon opened #39048 "DOCUMENTATION BUG: DOC FOR `pandas.Index.resize` TALKS ABOUT `numpy`"
I was reading the [documentation](https://pandas.pydata.org/pandas-docs/version/0.14/generated/pandas.Index.resize.html) for `pandas.Index.resize`

The doc for `pandas.index.resize` talks about `numpy`

All of the examples use the `numpy` library.

`pandas` and `numpy` are not the same library.

shouldn't the examples looks more like `pandas`?

[2021-01-09 08:27] nrcjea001 opened #39050 "BUG: .diff() not working on int8 and int16 dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

I try to take the difference of dataframe on columns with dtype int8 and int16 but this yields an error. This was working in previous ve

[2021-01-09 08:36] danielhrisca commented on #7509
@jreback
#39051 is my first stab at trying to preserved dtypes for DataFrame with the same columns. I'll add some test today

[2021-01-09 12:08] ronaldoussoren opened #39053 "ENH: Please provide "universal2" wheels for macOS"
#### Is your feature request related to a problem?

There is a, currently formally experimental, "universal2" installer for Python on www.python.org. This natively supports both x86_64 (macOS 10.9 or later) and arm64 (macOS 11.0 or later).   Using pandas with this installer currently requires building pandas from source, not from a binary wheel.

#### Describe the solution you'd like

A binary whe

[2021-01-09 13:46] debasisc-opa opened #39055 "QST: How to print specific element from dataframe?"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-01-09 13:51] avinashpancham commented on #38808
Sorry @zbremmer, all the files that need to be modified according to this issue are already taken or finished. But please have a look at other issues, since there are still plenty of open issues!

[2021-01-09 13:53] jreback commented on #39048
this method doesn't exist in Index any longer
would take a PR to remove the doc entry

[2021-01-09 13:58] jreback commented on #39048
actually you've pointed to a really old version of pandas docs

unless this persists on 1.2 pls close

[2021-01-09 14:00] jreback commented on #39055
pls read the guide on. indexing https://pandas.pydata.org/docs/user_guide/indexing.html and the getting started tutorials

hint use .iloc

[2021-01-09 14:00] #39055 closed

[2021-01-09 14:07] moink commented on #26807
I will take
pandas/tests/io/pytables/test_store.py

[2021-01-09 14:34] phofl commented on #39048
This does not exist in the 1.2 docs, so closing.

[2021-01-09 14:34] #39048 closed

[2021-01-09 16:48] McToel opened #39063 "ENH: rolling for periodic data"
#### Is your feature request related to a problem?

I have a periodic DataFrame and I would like to compute a rolling mean. However, I struggled to do this with pandas nicely. What I ended up dooing was to copy the tail of the DataFrame to the top and the head to the bottom, and than used DataFrame.rolling().

#### Describe the solution you'd like

It would be nice to have somthing like `DataFrame

[2021-01-09 17:16] jreback commented on #39063
pls shows a more complete example - eg a representative frame and with the results

- i have no idea what periodic means in this context

[2021-01-09 17:48] rhshadrach commented on #39063
I think wrap-around would be a better description here; this operation makes sense for non-periodic data too.

[2021-01-09 18:11] McToel commented on #39063
Yeah, wrap-around fits well.

Here is a code example for calculating a rolling mean for a sin():
[code]
Which produces the following results:
#### sin()
![Figure_1](https://user-images.githubusercontent.com/36071676/104105377-ea615800-52ad-11eb-9ce1-5913c8e6d500.png)

#### Current rolling mean of sin()
![Figure_2](https://user-images.githubusercontent.com/36071676/104105383-f64d1a00-52ad-11eb-87a3

[2021-01-09 18:17] dornech commented on #38981
Well, if you download data from a source like Yahoo you will find that - while data is numerical - data my contain null row null symbolized by string "null" or a NULL Value. While this would lead to "wrong" column type, all entries in the row except the "null" entry would be numbers.

In general I would not expect the decimal-parameter to depend on the column type.
Maybe a "forcedecimal" option is

[2021-01-09 18:37] jreback commented on #39063
i am not sure why this would make sense to build into the window functions when you can simply extend the frame and then do rolling or whatever

[2021-01-09 18:40] phofl commented on #39041
@gmalan since we are not able to reproduce this, could you try narrowing it down? Ideally would be if you could create a code example forcing the error without an external file.

If this is not possible could you try narrowing it down at which size this fails?

[2021-01-09 18:51] phofl commented on #38781
#34125 still persists

[2021-01-09 18:53] phofl commented on #34125
This is fixed and covered by https://github.com/pandas-dev/pandas/blob/master/pandas/tests/test_algos.py#L1047

[2021-01-09 18:53] #34125 closed

[2021-01-09 18:55] twoertwein commented on #39041
If it is a specific row that might contain something 'weird', you might be able to narrow it down with `skiprows` and `nrows`.

[2021-01-09 18:59] phofl commented on #39041
Might be possible, but would be weird that it works on 1.1.4 then?

[2021-01-09 19:29] mhoene commented on #39002
Can confirm this bug here with pandas 1.2.0, but works with 1.1.5.
@jreback , I'm not sure this is an issue in python itself, both for this reason and for the fact it fails while applying a function to a pickle object.

[2021-01-09 20:17] mzeitlin11 commented on #39050
Thanks for the report @nrcjea001!

First bad commit https://github.com/pandas-dev/pandas/commit/0013472d9d970c6e205d18c1767e27badd7a45c3, PR (#37140)

[2021-01-09 20:35] joshburt commented on #39053
+1 for this request.  I've been able to get many of the libraries needed for machine learning up and working natively.  Would really like to have pandas too.

Thanks everyone!

[2021-01-09 21:22] #38974 closed

[2021-01-09 21:37] mzeitlin11 commented on #39033
@jbrockmendel can take a look at this but can't isolate a failing example. All the above failures hit this branch https://github.com/pandas-dev/pandas/blob/feb16399da2b56bdf549b676384bfab6b7fd671e/pandas/tests/indexes/interval/test_constructors.py#L76-L78
so the call is `tm.assert_produces_warnings(FutureWarning)` so it doesn't raise

[2021-01-09 21:54] seanlaw opened #39073 "DOC: Add STUMPY to pandas ecosystem"
#### Location of the documentation

[Pandas Ecosystem - Stats & ML](https://pandas.pydata.org/docs/ecosystem.html#statistics-and-machine-learning)

#### Documentation problem

This isn't a problem, just an addition to the current ecosystem listing.

#### Suggested fix for documentation

This is a simple addition to the `ecosystem.rst` file for adding [STUMPY](https://github.com/TDAmeritrade/stumpy

[2021-01-09 22:05] #38900 closed

[2021-01-09 22:16] phofl opened #39076 "CI: Benchmarks in CI are failing because xlrd was updated to 2.0.1"
Raises in Benchmark run (for example https://github.com/pandas-dev/pandas/runs/1674714425) because it seems xlrd was updated on conda-forge
https://anaconda.org/conda-forge/xlrd

[2021-01-09 22:16] mzeitlin11 commented on #38962
https://github.com/pandas-dev/pandas/blob/eead40e32d012dc9ad9894091803890dbd9dd882/pandas/core/nanops.py#L440-L446

Probably just want to ensure this returns only bools (typing here is also suspect because it can return an array of bools in addition to just a single boolean value).

[2021-01-09 22:18] #34655 closed

[2021-01-09 22:26] #38952 closed

[2021-01-09 22:58] debasisc-opa commented on #39055
@jreback - Thank you very much indeed. Very useful link. Also "iloc" does the trick.

[2021-01-09 23:29] lithomas1 commented on #28329
take

[2021-01-10 00:10] jbrockmendel commented on #39033
Try pandas/tests/groupby/transform/test_transform.py test_transform_axis_1 case with "tshift".  Set `warn = FutureWarning` for "tshift" and None otherwise.  do `with tm.assert_produces_warning(warn):` around the two .transform calls.  For this passes locally.  Then if I change `warn` to be `None` unconditionally, it still passes.

[2021-01-10 00:38] #19371 closed

[2021-01-10 00:41] #39076 closed

[2021-01-10 00:42] #39050 closed

[2021-01-10 00:52] mzeitlin11 commented on #39033
Thanks, can reproduce that locally. But I think it only works in both cases because the "tshift" case is xfailed. The line https://github.com/pandas-dev/pandas/blob/efbd098880a274ac19e9bc44d2dd82bac0b324c3/pandas/tests/groupby/transform/test_transform.py#L173 raises regardless, so the `xfail` is satisfied.  If the `xfail` is removed and the line that raises moved out of the `tm.assert...` block, i

[2021-01-10 01:09] gfyoung commented on #39041
Until we know more, this is a regression that needs a `git bisect` to figure out.

@gmanlan would you be able to do that?

[2021-01-10 01:14] jreback commented on #38996
thanks for the mention!

[2021-01-10 01:17] jreback commented on #38622
I am +1 on this, even though generally pandas makes life easy by just doing the right thing. when there is a choice where its not completely obvious as is the case for localize/convert we should raise.

I think this ok for a 1.3 release.

[2021-01-10 02:00] jbrockmendel commented on #39033
i think if you add `raises=ValueError` to the pytest.mark.xfail that'll take care of this issue

[2021-01-10 02:39] #39073 closed

[2021-01-10 02:39] #38906 closed

[2021-01-10 03:59] #38601 closed

[2021-01-10 04:02] mzeitlin11 commented on #38962
Closing as a duplicate in favor of #12863, feel free to chime in there if interested in working on this. Also looks like an issue on the `numpy` side was previously raised that gives a different answer than you got @rmwenzel (https://github.com/numpy/numpy/issues/4352)

[2021-01-10 04:02] #38962 closed

[2021-01-10 04:42] rmwenzel commented on #38962
@mzeitlin11 Thanks for catching that other issue. Apologies for not digging deep enough to find it!

[2021-01-10 05:56] McToel commented on #39063
Well, extending the frame is just not that easy with real world data. Just did not feel like putting the 1440 row DataFrame I use in a minimalistic code example.

As I described, it is possible to work around this issue by duplicating head and tail, but this is especially annoying for a variable rolling window.

[2021-01-10 09:42] quanbingDG opened #39087 "BUG:"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-10 09:52] quanbingDG opened #39088 "BUG:Dataframe assignment failure"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-10 09:53] quanbingDG commented on #39088
it works on version 1.1.0

[2021-01-10 10:43] MarcoGorelli commented on #39087
Hi @quanbingDG - you opened a blank issue, could you please fill it in and put a descriptive title?

[2021-01-10 11:03] MarcoGorelli commented on #39088
thanks for the report @quanbingDG - this is fixed on `master`

[2021-01-10 11:09] ronaldoussoren commented on #39053
FWIW, the hard part of installing pandas was installing numpy (see <https://github.com/numpy/numpy/issues/18143> for a similar issue in the numpy repository), compiling pandas itself from source is not that hard.

And a show stopper for providing "universal2" or even "arm64" wheels is the availability of relevant hardware in the various cloud CI systems. That will improve over time, but AFAIK none

[2021-01-10 11:17] MarcoGorelli commented on #39088
[code]

looks like this was fixed intentionally in #39023, and there's already a test, so I think we're good to close

[2021-01-10 11:17] #39088 closed

[2021-01-10 12:37] phofl opened #39089 "CI: Numpy changed dtype inference"
Numpy changed the dtype inference (https://github.com/numpy/numpy/pull/17863), which causes tests to fail. Problem description as follows:

[code]

On a regular Numpy version the numpy array has dtype object and this returns
[code]

while on numpy dev the numpy array has dtype ``<U64`` and this returns
[code]
This leads to a different evaluation of ``is_object_dtype(other_dtype)``

[2021-01-10 12:45] jreback commented on #39063
and how exactly would pandas do it then?

[2021-01-10 14:15] rhshadrach commented on #2112
The SO posts are adding columns to the DataFrame in `groupby(...).apply` and `groupby(...).transform`. In general, mutating a container while iterating over it invalidates the iterators, this shouldn't be allowed, similar to #12653.

[2021-01-10 14:15] #2112 closed

[2021-01-10 14:50] rhshadrach commented on #8955
Now all four ops do not raise, but give inconsistent results. Using `np.mean` and `np.sum` you get four rows with NaNs filled in for the missing keys. Using `pd...mean` and `pd...sum` there are two rows. From #35751 (cc @arw2019 ), I think the output here (where dropna=True) should have two rows.

The result when dropna=False is consistent and correct.

[2021-01-10 15:56] McToel commented on #39063
I have not yet looked into the rolling function as I have to meet some deadlines, but I can think of two ways right now:

1. Internally doing a head/tail duplication, which would be kind of hacky.
2. Actually doing some wrap around, but I have no idea on how to implement it.

[2021-01-10 17:25] jbrockmendel commented on #39089
is it just me or does this look like really weird behavior on numpy's part?

[2021-01-10 17:30] jreback commented on #39089
yea this should be reverted by numpy it is a huge breaking change

[2021-01-10 17:30] phofl commented on #39089
Seems like a bug.
[code]

returns
[code]

[2021-01-10 17:34] MarcoGorelli commented on #39041
Alternatively, are you able to share a dataset on which the problem reproduces somewhere? We'd normally advise against sharing data files in bug reports, but here it seems justified

[2021-01-10 17:36] jbrockmendel commented on #39089
cc @seberg

[2021-01-10 17:53] seberg commented on #39089
Thanks, the problematic PR is gh-18115, I managed to write `&&` instead of `||` (at least I guess).  The more annoying thing is that the NumPy tests apparently only test the first case of your examples @jbrockmendel ...

[2021-01-10 18:00] jreback commented on #39089
thanks @seberg

[2021-01-10 18:30] MarcoGorelli commented on #38694
closed in #38696

[2021-01-10 18:30] #38694 closed

[2021-01-10 21:00] asishm commented on #39002
Bisecting gives

first bad commit: [0fa47b67d66af7a08c8db4279cf215c3957bda7e] Write pickle to file-like without intermediate in-memory buffer (#37056)

although looking at the PR - I can't see why that would introduce the regression

[2021-01-10 22:28] fangchenli opened #39096 "TST/COMPAT: test memory usage failed on macOS after change pytest-xdist -dist to `no`"
In #38905, I changed the distribution algorithm of pytest-xdist to `no` from `loadfile`.  And the test `pandas/tests/base/test_misc.py:test_memory_usage` failed on macOS.

[code]

[2021-01-10 23:40] mzeitlin11 commented on #37866
Closing in favor of #30451

[2021-01-10 23:40] #37866 closed

[2021-01-11 00:01] bexer opened #39097 "BUG: DateOffset applied to DatetimeIndex losing freq starting in v1.1.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I expected **i1** to have the frequency "AS-JAN" instead of None. This behavior existed prior

[2021-01-11 02:57] UlionTse commented on #38972
@mzeitlin11 OK. Thanks.

[2021-01-11 04:13] v1gnesh commented on #36123
Yes! It's unbearably slow. Please help!
All memory-saving gains from using sparse is being wiped out by extremely long CPU time.

In my case, a sparse `df` (shape of `(100317, 24)`) takes just 636.9 KB in memory.
Dense `df` (same shape) takes 4.6 MB in memory.

Sparse `groupby` took `527.5207s`, whereas dense `groupby` finished in `0.2229s`

[2021-01-11 05:30] BryanCutler opened #39098 "BUG: Groupby agg on decimal,json extension arrays changes dtype to object"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When performing a `groupby().agg()` on extension arrays `DecimalArray` or `JsonArray`, if a N

[2021-01-11 05:31] BryanCutler commented on #39098
I was debugging this while working on https://github.com/pandas-dev/pandas/pull/38982, so I'll give it a shot to fix

[2021-01-11 07:31] mroeschke commented on #39038
@phofl is correct,  xref https://github.com/pandas-dev/pandas/issues/34315,

In this case when using `neither` and a fixed window length, you would need to adjust the `min_periods` parameter as mentioned.

[2021-01-11 07:31] #39038 closed

[2021-01-11 07:55] jorisvandenbossche commented on #39053
Indeed, we use more or less the same CI infrastructure as numpy (https://github.com/MacPython/pandas-wheels), so will also be dependent on cloud support for being to build wheels.

[2021-01-11 08:46] jor- opened #39099 "BUG: DataFrame.to_csv with compression method xz does not consider compresslevel"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Output of checking file size
[code]

#### Problem description

The `compresslevel` is not considered during the co

[2021-01-11 12:20] pgagarinov opened #39100 "BUG: merge by multiindex doesn't work correctly"
**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]
Same example on calab
https://colab.research.google.com/drive/1kz2ddulSuC4o3w580wk1iiiU8KJPll1U#scrollTo=2ZCn944CXDRG

#### Problem description
bad_merge_df contain

[2021-01-11 12:59] twoertwein commented on #39099
Pandas uses [lzma.LZMAFile](https://docs.python.org/3/library/lzma.html#lzma.LZMAFile) for xz compression. This function doesn't have a `compressionlevel` keyword argument.

[2021-01-11 13:03] jor- commented on #39099
@twoertwein : Thank you very much for clarification.

[2021-01-11 13:03] #39099 closed

[2021-01-11 13:06] dchigarev opened #39103 "BUG: GroupBy dictionary aggregation raises ValueError when 'as_index=False'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

<details><summary>Traceback</summary>

[code]

</details>

#### Problem description

When we specify an aggregation fun

[2021-01-11 13:21] bast0006 commented on #35768
I've managed to reproduce this. This is related to pull request #37023, and issues #36953 and #35509. The issue was fixed in release 1.1.2, and is present in 1.1.1.

[code]

This code reproduces the above exception. If the groupby() call is commented out, another exception is raised in .info():
`AttributeError: 'Series' object has no attribute 'reshape'`

[2021-01-11 13:59] #38936 closed

[2021-01-11 14:00] #38566 closed

[2021-01-11 14:11] xmatthias commented on #39001
I do have the same exact thing with one file, while another file works just fine.

Unfortunately, in my case, i'm unable to share the broken file as it's a file containing proprietary information.

The file was generated by an automated export system - Excel (and pandas with xlrd==1.2.0) open the file without error - however resaving the file via excel slightly reduces the filesize - and fixes the

[2021-01-11 14:11] ketozhang commented on #38566
Great work, thanks @phofl

[2021-01-11 14:25] jreback opened #39108 "TYP: clean notations in the wrong place"
https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/groupby.py#L1294

[code]

at the very least this should be in `pandas._typing`. puzzled why we need this at *all*, as this is the same as `FrameOrSeries`

[2021-01-11 14:25] jreback commented on #39108
cc @simonjayhawkins @rhshadrach

[2021-01-11 14:27] simonjayhawkins commented on #39108
IIRC FrameOrSeries is already in use there, so another typevar is needed

[2021-01-11 14:49] BeanNan commented on #38917
take

[2021-01-11 15:57] SKrPl commented on #38979
Going through the code I found the following:
Due to the optimizations done in [34909](https://github.com/pandas-dev/pandas/pull/34909), for `FrameColumnApply` the `Series` object is created only once in the `series_genarator` method and the value of the series is changed. As the series object is created only once, `pandas.core.strings.accessor.StringMethods` is also instantiated only once. Due to

[2021-01-11 16:10] simonjayhawkins commented on #38721
status update...

a week away from scheduled release. 9 open regressions milestoned 1.2.1, 1 with open PR #38980

https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression+milestone%3A1.2.1

#38969 is effectively a duplicate of #38947

#38851 maybe tricky to fix so maybe best to revert cleanup for 1.2.1. https://github.com/pandas-dev/pandas/issues/38851#issuecomment-753

[2021-01-11 16:26] jreback commented on #38721
ok, can certainly try on these. but let's just do a time release. whatever we have is fine.

[2021-01-11 16:30] asishm commented on #39001
this has to do with how `openpyxl`  implements their parser

pandas uses `openpyxl.load_workbook` with `read_only=True`. Per https://stackoverflow.com/questions/38285364/python-openpyxl-read-only-mode-returns-a-different-row-count

Changing to `read_only=False` probably would fix this but would likely be a perf hit

[2021-01-11 16:38] simonjayhawkins commented on #38721
yep, certainly on the patch releases (except the final in the series) a calendar based release schedule is fine.

[2021-01-11 16:50] wcneill opened #39110 "BUG: `get_dummies` works on a single integer value column, but fails silently when applied to multiple columns."
- [x] I could not find this issue under open issues when searching: "bug get_dummies"

- [X] I have confirmed this bug exists on the latest version of pandas (1.2.0)

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Pandas `get_dummies` will one-hot encode a single integer valued categorical column. **However, it silently ignores any further columns containing numer

[2021-01-11 16:58] skarchmit opened #39111 "BUG: pd.apply returns a dataframe when empty dataframe instead of a series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-11 17:07] #37134 closed

[2021-01-11 17:47] jreback commented on #39111
pls check in 1.2.0 and master, I believe this is fixed

[2021-01-11 18:00] skarchmit commented on #39111
I'm getting the same results in the pandas 1.2.0

<details>

INSTALLED VERSIONS
------------------
commit           : 3e89b4c4b1580aa890023fc550774e63d499da25
python           : 3.8.5.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 20.2.0
Version          : Darwin Kernel Version 20.2.0: Wed Dec  2 20:39:59 PST 2020; root:xnu-7195.60.75~1/RELEASE_X86_64
machine          :

[2021-01-11 18:07] MarcoGorelli commented on #39111
can confirm this reproduces on master, thanks for the report!

[2021-01-11 18:45] lukaszpiwowarek opened #39113 "BUILD: openSUSE: Can't import IncompatibleFrequency in Pandas"
Hi, I am trying to install Pandas for a project for our Devs. After installing Pandas with pip3 and trying to run the project, we get this stack trace:

[code]
Does Pandas require something else to be installed? The project uses Pandas 0.23.4. I get the same error if I install latest version.

Pandas was installed with pip3 like this:

`sudo -H pip3 install pandas==0.23.4`

The host is Ubuntu 18.0

[2021-01-11 19:15] simonjayhawkins commented on #38721
we've got the blocker label on #38787, should maybe discuss this on this week's dev call. cc @jorisvandenbossche @mroeschke

[2021-01-11 19:17] simonjayhawkins commented on #38721
although need not block, can revert backport, tag release, and re-apply backport

[2021-01-11 19:29] jorisvandenbossche commented on #38721
Yes, that would be a good topic to discuss (although don't know if Matt will be there). But I will try to look again at the issue and post my thoughts there.

[2021-01-11 20:03] MicaelJarniac opened #39115 "Documentation showing placeholders instead of text"
#### Location of the documentation

[pandas.DataFrame.mad](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.mad.html)

#### Documentation problem

The documentation is showing placeholders instead of the actual text.
![Screenshot](https://i.imgur.com/inPHZSf.png)
`{desc}`, `{axis_descr}`, `{name1}`, `{name2}`, `{see_also}`, `{examples}`

https://github.com/pandas-dev/pandas/blob/3

[2021-01-11 20:16] simonjayhawkins commented on #39115
Thanks @MicaelJarniac for the report. docs rendered correctly in 1.1.5

[2021-01-11 20:19] phofl commented on #39113
Please show a reproducible example and show versions

[2021-01-11 20:38] jorisvandenbossche commented on #39031
I don't have windows, so difficult to help debug this.

Could you try to reinstall pyarrow and see if that helps? Or could you try using conda and check if you have the same issue there?

A potentially related report is at https://issues.apache.org/jira/browse/ARROW-9745 (it's a parquet failure with a simple file on windows).

[2021-01-11 20:51] gmanlan commented on #39041
I have tried your suggestions but I don't have a clue on why this happens. I narrowed it down using nrows and I can tell you (deterministically) that v1.2 always fails exactly at row 1753089 out of 7M rows. I have inspected the row and it is fine. I have then extracted that data section (1753000~1754000) and loaded it just fine. So the issue only materializes when reading the whole CSV (7M rows) a

[2021-01-11 20:59] mroeschke commented on #38721
I believe I can make the dev call this Wednesday to discuss #38787

[2021-01-11 21:04] jorisvandenbossche commented on #38851
@jbrockmendel could you do the revert as a short-term fix?

For the long term:

Looking at the discussion in https://github.com/pandas-dev/pandas/issues/37605, it seems we might want to change the setitem behaviour, so that could be a reason to go for 2) ?

Now, fixing `tz_compare` for this case might be a worthwhile fix on it own as well? In which case 1) might be the easier option, as a fix does

[2021-01-11 21:10] twoertwein commented on #39041
thank you @gmanlan! Some more ideas that might lead to a re-producible example:
- can you load a new CSV file that has only the first 1753089 rows of the original file
- what happens when you change the content of row 1753089 (fill with ones)
- what happens when you change the content until row 1753089 (fill with ones)
- is the data stored as float (1.0)  or as int (1)

[2021-01-11 21:11] gfyoung commented on #39041
@gmanlan : Are you sure you tried the `git bisect` option?  Your answer does not suggest that you did.

[2021-01-11 21:18] phofl commented on #39097
Hi,

thanks for your report. This seems to be deliberate (#33487)

cc @jbrockmendel

[2021-01-11 21:33] rhshadrach commented on #39108
The issue is that FrameOrSeries is bound to the Groupby class. So any method of a subclass cannot use FrameOrSeries freely. For example, a helper method that takes in the result and reindexes it. We'd like the typing to reflect that the argument type to this method is the same as the return type.

Personally, I think the code would be more clear if we added a TypeVar to bind to the GroupBy class a

[2021-01-11 22:01] jbrockmendel commented on #39097
Correct.  Your best bet is to do something like `i1 = pd.DatetimeIndex(i1, freq="infer")`

[2021-01-11 22:01] gmanlan commented on #39041
Tried one last experiment: removing the offending row #1753089 solves the problem. Adding it back breaks the py process. Isolating the row in a separate CSV works fine, so this is an issue that manifests when building on top of previous observations probably. The offending row has all "1" values, except for one column with a "0" value. The entire CSV is integer dtypes (int64).

@gfyoung: didn't tr

[2021-01-11 22:02] phofl commented on #39097
Closing this then

[2021-01-11 22:02] #39097 closed

[2021-01-11 22:28] pilyavetsb commented on #38990
Hello! Just wanted to point out that I've noticed a small mistake on that page. In the very beginning, when describing what dataframe is, you write:

I think that you meant "workbook" instead of a bolded worksheet. Since it is a minor issue I figured creating a new pull request would be an overkill, hence writing about it here. However, I am very new to all of this, so, please let me know, if I am

[2021-01-11 22:30] rhshadrach opened #39116 "DataFrame.apply doesn't handle numpy ops or DataFrame properties"
[code]

In each of the two blocks, first three lines all give the expected output and the last raises.

[2021-01-11 22:55] jbrockmendel commented on #32934
@jorisvandenbossche is this fixed by one of your recent or upcoming PRs?

[2021-01-11 22:57] jbrockmendel opened #39117 "API: pd.array(index_or_series[object]) should infer like Series and Index constructors"

[2021-01-11 23:00] twoertwein commented on #39041
Reporting the issue is definitely the right thing to do, otherwise it is unlikely to get fixed :)

Can you reproduce the issue with some code similar to https://github.com/pandas-dev/pandas/issues/39041#issuecomment-757083995: 1753088 rows filled with ones and then the last 'special' row?

Just in case there is some formatting issue: can you re-export the CSV with 1.1.x and then try loading it wit

[2021-01-11 23:18] fangchenli commented on #37276
I think the license still applies. We at least use code from scipy in https://github.com/pandas-dev/pandas/blob/master/doc/sphinxext/announce.py, and we kind of sync `pyproject.toml` with scipy. There are maybe more that I'm not aware of.

[2021-01-12 00:16] blwells opened #39119 "Pandas strftime function prints unix epoch time in local TZ instead of UTC"
I'm trying to convert a given date and time to unix epoch time using Pandas. This is normally a very straightforward thing to do, merely converting the string of date and time to a datetime object, and then printing the object as a unix epoch timestamp using strftime, for example:

`pd.to_datetime('2021-01-01 00:00:00').strftime('%s')`

Running the above example on a remote linux machine I have se

[2021-01-12 00:24] jreback commented on #38990
@pilyavetsb a PR to fix would be great

[2021-01-12 01:15] #39116 closed

[2021-01-12 01:17] #38904 closed

[2021-01-12 03:15] TomAugspurger commented on #39117
What's the motivation here? The docs in https://pandas.pydata.org/docs/reference/api/pandas.array.html state that dtype is optional, and

[code]

I'd prefer to avoid special casing object-dtype here, unless we have a compelling reason to (especially since object-dtype should become less common now that we have more extension types).

[2021-01-12 03:42] jbrockmendel commented on #39117
To get pd.array behavior to match Index and Series xref #27460

I'm on board with the sentiment, but point 1. you quotes means we're special-casing ndarray vs EA/Index/Series.  Among other things, this means that `pd.array(obj)` and `pd.array(extract_array(obj, extract_numpy=True))` behave differently.

[2021-01-12 05:18] rhshadrach commented on #39100
This is due to tuples in the index; replacing the tuples with strings gives the same output in both cases.

[code]

[2021-01-12 05:48] Nok021 commented on #14553
Is it be implemented? I am really looking forward to it.

[2021-01-12 07:10] jorisvandenbossche commented on #39117
It's not possible for `pd.array` to match Index/Series inference behaviour, for now, because it's explicitly meant to default to infer the nullable dtypes.
Rather, the goal is that eventually Index/Series behaviour will match `pd.array`

[2021-01-12 07:14] jorisvandenbossche commented on #39117
Although unfortunate, I think that's inevitable because ndarray cannot hold all the data types that the others can hold. Currently eg nullable integer, or tz-aware datetime64, or period, etc, become an ndarray without proper dtype. So for those I think it makes sense to do more inference on ndarrays.

[2021-01-12 07:38] tengels commented on #39002
I confirm having the same issue (Python 3.8.5), after upgrading to pandas 1.2.0.

[2021-01-12 08:36] jorisvandenbossche opened #39122 "API: concatting of Series/DataFrame - handling (not skipping) of empty objects"
Follow-up on https://github.com/pandas-dev/pandas/pull/38843 and https://github.com/pandas-dev/pandas/pull/39035.

Currently, we generally (some exceptions can be considered bugs, I think) do not drop empty objects when concatting DataFrames, but we do explicitly drop empties when concatting Series (in `dtypes/concat.py::concat_compat`, for `axis==0`).

We should make this consistent throughout pa

[2021-01-12 08:40] jorisvandenbossche commented on #32934
This is not fixed on master.

While certainly a bug, I think it is not directly related to the recent "skipping empties or not" discussion. It seems that this empty float array already gets casted to datetime64 in JoinUnit.get_reindexed_values, so before those values are passed as `to_concat` arrays to the contact machinery.

I opened a general issue at https://github.com/pandas-dev/pandas/issues/

[2021-01-12 09:39] simonjayhawkins commented on #39108
sgtm

[2021-01-12 09:56] malinkallen opened #39123 "Raise an error in read_csv when names and prefix both are not None"
#### Problem description
As a result of the discussion in issue #27394, `read_csv` is changed such that it raises an error when both `header` and `prefix` are different from `None`. A user had misunderstood how to (not) use `header` and `prefix` together. I think that the usage of `names`and `prefix` can be misunderstood in a similar way.

It could also be that a user accidentally provides both ar

[2021-01-12 10:48] jorisvandenbossche opened #39125 "January 2021 Developer Meeting"
The monthly dev meeting is Wednesday January 13th, at 18:00 UTC (12 am Central). Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar to check your local time.

Video Call:  https://zoom.us/j/942410248?pwd=T2l2Qi9vaC82Z294ZEtFczYxMVM2dz09
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&usp=d

[2021-01-12 11:42] pgagarinov commented on #39100
Got it.

Do you agree that this is a bug though? Tuples are hashable and pandas doesn't refuse to take them in as index values (as opposed to lists, for instance). I would say the current behavior is dangerous as it silently leads to an incorrect results.

[2021-01-12 14:02] LarsWigger opened #39126 "BUG: df.plot.barh() broken from 1.1.5 to 1.2 under specific circumstances"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

(executed as part of a notebook, but this should not matter)

#### Problem description

The code works in Pandas 1.1.5,

[2021-01-12 14:47] phofl commented on #39126
Hi, thanks for your report. This is a duplicate of #38947

[2021-01-12 14:50] Dr-Irv commented on #39125
@jorisvandenbossche Since we'll have special guests (including the inventor of Python....) with respect to the type stubs issue, can we move that item to first in the agenda?

[2021-01-12 14:59] cfernhout commented on #27976
@datapythonista Hi, I've checked out `pandas.DataFrame.sparse.from_spmatrix: Unknown parameters {index, columns}`. I had a look at the code I found this:
[code]
Should I assume this is wrong and change it to a separate row for index and columns? Or is this correct and `./scripts/validate_docstrings.py --errors=PR02` should have passed this docstring?

[2021-01-12 15:06] MicaelJarniac commented on #39115
https://github.com/pandas-dev/pandas/blob/2aadaa875944301fb15eadf51726c0ea23973579/pandas/core/generic.py#L10491-L10510

I believe this _could_ be related. I'm just poking inside to see if I can find something, but I have ~absolutely~ no idea what's going on.

[2021-01-12 15:08] jorisvandenbossche commented on #39125
Certainly!

[2021-01-12 15:10] MicaelJarniac commented on #39115
While poking inside, I think I found some other places where this is happening:

[pandas.DataFrame.tz_convert](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.tz_convert.html)

https://github.com/pandas-dev/pandas/blob/2aadaa875944301fb15eadf51726c0ea23973579/pandas/core/generic.py#L9529-L9555

[2021-01-12 15:13] MicaelJarniac commented on #39115
The documentation for [pandas.DataFrame.shift](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.tz_convert.html) also seems to use the same kind of placeholders, but it renders correctly.

https://github.com/pandas-dev/pandas/blob/2aadaa875944301fb15eadf51726c0ea23973579/pandas/core/generic.py#L9133-L9236

It has a decorator, and I believe that might be what's missing on the other

[2021-01-12 15:19] gooney47 commented on #39004
Do I have to open up a new issue to ask my question, because this one is being seen as closed? I'm sorry, but I thought I had a point here that I like to be addressed.

[2021-01-12 15:20] toobaz commented on #39110
This not what the docs promise:

[code]

Indeed, conversion does not happen _at all_ (as long as ``columns=None``) for integer columns in a ``DataFrame``:
[code]

(although it is unexpected that this column passes through... and I think _that's_ a bug).

When you do

you are passing a ``Series`` (not a 1-column ``DataFrame``), and hence everything is different.

By the way, you can get what you pr

[2021-01-12 15:38] jbrockmendel commented on #39117
There's a step in the logic here I don't understand.  EA can hold dtypes that ndarray cannot, but this is about dtypes that both can hold.

[2021-01-12 15:47] jorisvandenbossche commented on #39117
@jbrockmendel can you give some practical code examples? I think that would help a lot to clear up the misunderstanding/confusion (eg I don't know which dtypes you are speaking about)

[2021-01-12 15:55] jbrockmendel commented on #39117
The motivation comes from DatetimeLikeArrayMixin._validate_listlike, which uses pd.array for inference and is under the hood of a bunch of methods.

[code]

Of course, "dont use pd.array for this" is also a viable approach.

[2021-01-12 15:56] jbrockmendel commented on #39117
I am only talking about object dtype, for which we do lib.infer_dtype with ndarray but not Index/Series/PandasArray

[2021-01-12 16:03] wcneill commented on #39110
I see. I think that many (I won't presume to say most, but maybe?) users would read this:

[code]

and expect that they are getting dummy variables from everything they passed. Perhaps the solution is to move the phrase

[code]

into the description of the `data` argument. That way it's a bit more up front.

[2021-01-12 17:32] Vijaya-Sankar-Challa opened #39128 "QST:"
Hi,
I am new to pandas. I was facing issue with openpyxl in append mode

[code]

It runs successfully but when I open excel file it says
**We found a problem with some content. Do you want us to try to recover?**
I have searched for solution in internet. But nothing was working. Could you please help me?

- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) o

[2021-01-12 17:53] simonjayhawkins commented on #29064
@WillAyd With numpy types imminent, I think we can now close this issue. feel free to reopen if disagree.

[2021-01-12 17:53] #29064 closed

[2021-01-12 17:54] simonjayhawkins commented on #27589
@WillAyd With numpy types imminent, I think we can now close this issue. feel free to reopen if disagree.

[2021-01-12 17:54] #27589 closed

[2021-01-12 17:54] WillAyd commented on #29064
Makes sense - good things coming

Sent from my iPhone

[2021-01-12 17:58] simonjayhawkins commented on #28142
also need to keep an eye on https://github.com/cython/cython/pull/3818

[2021-01-12 18:59] mattwelke opened #39129 "DOC: getting started under coming from sql"
#### Location of the documentation

[this should provide the location of the documentation, e.g. "pandas.read_csv" or the URL of the documentation, e.g. "https://dev.pandas.io/docs/reference/api/pandas.read_csv.html"]

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

[this should provide a description of w

[2021-01-12 19:03] mattwelke opened #39130 "DOC: "getting started" under "coming from SQL" assumes you're using a notebook"
#### Location of the documentation

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

#### Documentation problem

I'm getting started with Pandas. I went to the docs site and found a section called "getting started" which sounded good to me. It then had a few boxes for where you're coming from and one of them was "coming from SQL" which also sounded good for me. I

[2021-01-12 19:06] MarcoGorelli commented on #39129
thanks for the report - duplicate of #39130 I guess?

[2021-01-12 19:06] #39129 closed

[2021-01-12 19:08] mattwelke commented on #39129
Oh that's weird. Must have been an extra browser tab or early refresh or something. This can stay closed.

[2021-01-12 20:01] JMBurley opened #39131 "BUG: pd.Series([1]).isin(pd.Series(['1'])) != pd.Series(['1']).isin(pd.Series([1]))"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-12 20:08] JMBurley commented on #39131
Correction: I think one of the datetime fixes for `isin()` between 1.1.5 and 1.2.0 may have altered this issue by forcing `False` if you attempt to compare different dtypes in an `isin()`?

If that is deliberate behaviour that is an okay resolution, although it would be better to raise a warning when an attempt is made to compare incomparable dtypes that will always return false?

[2021-01-12 20:42] MarcoGorelli commented on #39128
Hi @Vijaya-Sankar-Challa - have you tried asking on stackoverflow?

[2021-01-12 20:47] attack68 commented on #38981
I think pandas ideology is to be data agnostic. Citing a source like yahoo and expecting pandas to automatically parse its "null"s ignores many other data sources and _their_ specific idiosyncrasies.

Pandas provides the tools deal with these by casting datatypes, and to identify and process values in columns, to allow the `decimal` parameter to work correctly.

For example the following works fin

[2021-01-12 20:59] jorisvandenbossche commented on #38870
As I mentioned before, the default conda channel doesn't have pyarrow 1.0 yet. So I think that is a good reason to not yet require that version for pandas.
In addition, pyarrow 1.0 is only just half a year old.

(so @alimcmaster1, I would personally wait a bit with working on this, at least until it has been discussed more)

[2021-01-12 21:00] jorisvandenbossche opened #39133 "ENH: Support ExtensionArray (and masked EAs speficially) in indexing"
One area where the general ExtensionArray support is lacking is to store them in the index (right now they get converted to ndarray when storing in an `Index`), and have efficient indexing operations (hashtable, index engines).

Several of our long-time extension dtypes have their own subclass (Categorical, Period, Datetime, IntervalIndex), but we need to solve this *generally* for ExtensionArrays

[2021-01-12 21:26] justinkraus commented on #37783
did you find a workaround to this? Getting a similar error

[2021-01-12 22:02] theodorju commented on #25154
Hi, I'd like to try and work on adding some tests for this one.

[2021-01-12 22:08] phofl commented on #25154
As long as no one is asigned you are free to go :)

[2021-01-12 22:08] phofl commented on #39004
This issue is still open?

[2021-01-12 22:14] galipremsagar opened #39135 "ENH: Add support for `date_unit` to be specified per column"
#### Is your feature request related to a problem?

I would want to encode my dataframe consisting of `datetime64` & `timedelta64` columns with different units of precision per column.

#### Describe the solution you'd like

Currently `date_unit` achieves this for entire dataframe, but I would like to encode each column with different precision. Hence a `dict-like` support for `date_unit` would be

[2021-01-12 22:15] twoertwein commented on #39128
I don't have MS Excel but gnumeric is able to open an xlsx file that was created with:

[code]

[2021-01-12 22:32] jbrockmendel commented on #39133
FWIW the blocker on moving forward on #37869 is #37367, which I'm hopeful will get through before too long.

[2021-01-12 23:44] theodorju commented on #25154
take

[2021-01-13 00:06] galipremsagar opened #39138 "BUG: Unable to write to hdf when format='table' and list-like values are present in a column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

My dataframe has list-like values and when we pass `format=table`, I'm not able to write the

[2021-01-13 00:42] jreback commented on #39138
there is no support for nested data types with table format
you can try fixed format, serialize the data (say to bytes), or look for a community contribution for this enhancement, or use parquet which supports this

[2021-01-13 01:41] MicaelJarniac commented on #39115
take

[2021-01-13 01:49] MicaelJarniac commented on #39115
I've managed to find the source of this issue and am now testing my fix.
Basically, when the `mad` method is created without the `@doc(...)` decorator, it doesn't get a `_docstring_components` attribute added to it.

Because of it not having a `_docstring_components`, when the next `mad` function is created (the one under the `_add_numeric_operations` method), it treats the docstring of the previo

[2021-01-13 02:03] MicaelJarniac commented on #39115
![Screenshot](https://i.imgur.com/hBorCaQ.png)

Well, it works! Took ages to build the documentation...

[2021-01-13 03:02] venaturum commented on #26181
@AHG123

Came across this open issue though triage email.

To me it looks like the solution provided by @WillAyd is exactly what you need.

If you still wanted the *nan*s at the beginning of the array then your movsum method could check the length of the parameter "data" and if it is less than window length, return np.nan

Can you confirm this solves your problem?

[2021-01-13 03:05] bsun94 commented on #38990
Thanks Aidan, apologies I've been offline for a couple of days - had a couple days of overtime at work. Would you mind adding me as an assignee on this ticket? Would help me better keep track of it :)

[2021-01-13 03:24] lan2720 commented on #14553
+1

[2021-01-13 03:32] rhshadrach opened #39140 "ENH: Allow apply/agg to accept list-like and dict-like"
[code]

All lines that don't raise give the expected output.

[2021-01-13 04:08] rhshadrach commented on #39140
For DataFrame.apply, dict-likes that aren't dictionaries work; only using a Series as a dict-like does not because the code uses `arg.values()` and `values` is a property of Series.

[2021-01-13 04:55] trenton3983 opened #39142 "BUG: .dt.isocalendar().week results in the last day of the year as week 1"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-13 05:02] jiahe224 opened #39143 "QST:Why DataFrame.pivot() will change the order of the rows of DataFrame?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-01-13 05:14] jreback commented on #39142
see #35480 this is matching the definition in the standard library

[2021-01-13 05:44] Vijaya-Sankar-Challa commented on #39128
Hi @MarcoGorelli @twoertwein , Yes I have tried to search for solution in stack overflow. But the solution didn't work.
How ever I solved the issue by adding 2 lines of code.

[code]
But the other problem is modifying data of one sheet in the execl file

[code]

When I run the code multiple times it is generating new sheet with the same sheet name followed by a number.
I want to add all the column

[2021-01-13 05:58] stokhos opened #39144 "BUG: dataframe concatenation segementation fault (core dump)"
- [ X ] I have checked that this issue has not already been reported.

- [ X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2021-01-13 11:07] gooney47 commented on #39004
@phofl So what do you think about

I don't understand why boolean array indices & labels should be treated differently than list indices & labels.

[2021-01-13 11:19] gooney47 commented on #39004
Here is it in code:
[code]

[2021-01-13 12:35] sann05 commented on #37783
I copied `json_normalize` function and reworked it as I found 1 more issue #37784

[code]

[2021-01-13 13:18] #38980 closed

[2021-01-13 13:25] #38502 closed

[2021-01-13 13:28] phofl commented on #39144
Please provide a reproducible example https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-01-13 14:10] jorisvandenbossche opened #39146 "Refactor - ArrayManager overview issue"
Related to the discussion in https://github.com/pandas-dev/pandas/issues/10556, and following up on the mailing list discussion *"A case for a simplified (non-consolidating) BlockManager with 1D blocks"* ([archive](https://mail.python.org/pipermail/pandas-dev/2020-May/001219.html)).

Initial proof of concept for a non-consolidating "ArrayManager" (storing the columns of a DataFrame as a list of 1D

[2021-01-13 14:33] datapythonista commented on #27976
Ideally we would like to allow document two columns at a time. So, updating the script so `index, columns` is accepted and doesn't raise an error would be the preferred option. I'm not sure how often we are using that format of two columns at once. If it's very rarely, unpacking them and documenting them separately would also be fine.

[2021-01-13 14:39] jorisvandenbossche commented on #28142
@gramster or @erictraut could you give some background on the "content" of the Microsoft stubs? (since we also already have type annotations in pandas as well)
Are they much more elaborate than the type annotations we have in pandas? Or did you copy the type annotations for functions in pandas that are already typed, and added stubs for things that were not yet typed in pandas?
(to have a bit an i

[2021-01-13 14:46] stokhos commented on #39144
@phofl  Is there a way for me to pin down the bug on my side? It only happens to to files in two folder. I can't do the minimal bug report, because it has more than 1000 files.

[2021-01-13 14:52] gdiepen opened #39147 "REGR: Assigning multiple new columns with loc fails when index is a MultiIndex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-13 15:12] phofl commented on #39144
You could do a git bisect to narrow down when this was introduced

IAlternatively it should be sufficientto use only these files? Maybe you could create the DataFrames casing the segfaults in code?

[2021-01-13 15:16] jorisvandenbossche commented on #39144
@stokhos a good start would probably to check whether the segfault happens in the concat function or actually in the `read_csv` (my guess would be the second). If you rewrite your code a little bit in multiple lines, you should be able to see on which line it fails.

In case it's caused by `read_csv`, you could then try to find out which of the 1000 files is failing to read (eg read them in a for

[2021-01-13 15:40] michamich opened #39148 "BUG: Cells containing "NA" (string) in excel is imported as NaN"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-13 16:16] jorisvandenbossche commented on #39117
Can you make the example even more concrete?

In the title you mention Index or Series of object dtype, if I understand correctly. With a quick test, I don't see different type inference between Series and array constructor for such input:

[code]

Both preserve the object dtype when passed a Series?

It's actually when passed an ndarray that both infer differently:

[code]

[2021-01-13 16:25] jorisvandenbossche commented on #39117
Your example was using datetimes, and also for that I don't see a difference in behaviour for Series vs array:

[code]

but there is actually one for Index (both for Index constructor as when passing index object to the Series constructor):

[code]

[2021-01-13 16:29] jorisvandenbossche commented on #39117
Additional example: Series constructor does *not* infer the type when the object-dtype Index holds integers (so in contrast with the example above of an object-dtype Index with timestamps), but the Index constructor does also infer in that case:

[code]

[2021-01-13 16:38] lukaszpiwowarek commented on #39113
Hi there,

I attempted to use the original deployment method which is Anaconda3. I performed the following steps:

- Install latest Anaconda3 for the user running project
- Created new environment with python3.6 called test36
- Installed required version of Pandas (0.23.4) using Anaconda3 into test36 environment
- Activated test36 environment and launched python3 within it
- Attempted to import pa

[2021-01-13 17:21] arc12 opened #39151 "BUG: comparison of pandas NaT with datetime.date evaluating to True"
#### Code Sample, a copy-pastable example
[code]

#### Problem description
I understood the convention is for NA-types to evaluate to False in all inequalities. The above code evaluates to True.

These DO evaluate to False, as expected.
`pandas.NaT < datetime.datetime.now()`
`pandas.NaT > datetime.datetime.now().date()`

This seems to have been introduced with 1.2.0, and to not have been the behav

[2021-01-13 17:26] tlplayer commented on #38599
I'm just going to close this as it's more of a "You should know" kind of thing for the user.

[2021-01-13 17:26] #38599 closed

[2021-01-13 17:45] luciodaou commented on #39001
I'll try to generate a file without sensitive information, but I'm not sure it's gonna work.

@xmatthias the opposite happens to me, the file increases on opening and saving with excel. My file is generated by a closed source system using some sort of database, as it allows exporting to lots of file formats (csv, table in word, table in pdf, xlsx, png, among others).

To devs: pythonexcel.org list

[2021-01-13 18:00] phofl commented on #39148
Hi, thanks for your report. You have to overwrite the ``na_values`` argument, see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

[2021-01-13 18:03] #39024 closed

[2021-01-13 18:23] mroeschke commented on #39142
Additionally you can reference the definition of the isoweek here, specially the definition of the first week: https://en.wikipedia.org/wiki/ISO_week_date#First_week

Going to close as the expected behavior.

[2021-01-13 18:23] #39142 closed

[2021-01-13 18:24] xmatthias commented on #39001
@luciodaou It seems to depend on the original size, with the sample file above you're right, filesize increases also for me.

initially, i hit this problem with another, bigger file, which reduced it's size when resaving with excel.

As @asishm pointed out, maybe there's a way to fix this within openpyxl ... as this would look like a bug from there to me, but with the deprecation / removal of xlrd

[2021-01-13 19:05] mroeschke commented on #39119
I suspect that this is an OS system implementation difference (https://stackoverflow.com/questions/62445620/python-list-date-supported-format-codes-for-your-platform).

`pd.Timestamp.strftime` just dispatches to `datetime.datetime.strftime` https://github.com/pandas-dev/pandas/blob/a6bc6ecc97d6d5520c609f4a8cbf3d51d2c0746d/pandas/_libs/tslibs/timestamps.pyx#L948

[code]

So I'm fairly sure that the

[2021-01-13 19:05] #39119 closed

[2021-01-13 19:06] jorisvandenbossche commented on #38787
[code]

[2021-01-13 19:15] TomAugspurger commented on #38787
The blocker here is deciding if the backport currently on 1.2.x is going to stay.

[2021-01-13 19:15] jorisvandenbossche commented on #38787
[code]

[2021-01-13 19:28] TomAugspurger commented on #38996
xref https://github.com/pandas-dev/pandas/issues/17921

We own the webserver, if we wanted to use that. We could push the built docs to the webserver on each PR, but would need a cron job to clean them up.

Or we can see if the built docs can be uploaded as an artifact to Azure Pipelines. Then post that URL somewhere.

[2021-01-13 19:34] mroeschke commented on #26181
So I think this issue would essentially be an enhancement request to run the passed `func` _even if_ the `min_periods` condition is satisfied.

The current implementation is probably there is for performance reasons i.e. why call the function when we will override with `nan`.

Can be open for discussion but I'd be -1 to allow this. The pass `func` should only impact the data and not have any "side

[2021-01-13 19:39] gramster commented on #28142
We added a lot more annotations.

[2021-01-13 20:09] TomAugspurger commented on #17921
cc @afeld for awareness.

IMO the lowest-effort path forward is to

1. Always `rsync` the built docs to the webserver, not just for pushes to master. We'd put it in something like `/pr/<PR>/`. Probably don't need to do specific commits. I think rsync will just overwrite.
2. Set up a cron job on the webserver to clear everything in `pr/` nightly.

[2021-01-13 20:20] asishm commented on #39001
@luciodaou could you try the snippet I posted above and see if you see a difference for your file?

To clarify - I don't necessarily think what `openpyxl` is doing is wrong. Openpyxl's read_only mode relies on whatever is generating the files to provide correct sheet info. The dimension being returned for the file that @xmatthias shared is `A1` (if you unzip the excel file and parse the XML for th

[2021-01-13 21:31] erfannariman opened #39154 "ENH: Dedicated method for creating conditional columns"
Creating conditional columns is an operation you perform a lot when wrangling data. Still right now there is no dedicated and explicit way of creating conditional columns in pandas. This can be seen on [StackOverflow](https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column) which is my top hit when I google "pandas conditional column" (this will obviou

[2021-01-13 21:31] erfannariman commented on #39154
cc @jorisvandenbossche @WillAyd

[2021-01-13 21:55] alimcmaster1 opened #39155 "CI: Unreliable Tests write to S3"
Seen this in a few PRs:

https://github.com/pandas-dev/pandas/pull/39153/checks?check_run_id=1697646268

[code]

[2021-01-13 22:32] venaturum commented on #26181
Isn't it currently the case that the passed func is run if, and only if, min_periods condition is satisfied?

[2021-01-13 22:39] phofl commented on #39155
The test is failing since s3fs got upgraded to 0.5.2 in our pipelines. On master this was first the case for 396131a1d8bf6072e0d3c9c415928ede38882509. The commits before that had 0.4.2. I don't know why this happend yesterday since the packages seems to be up on conda forge for a month (https://anaconda.org/conda-forge/s3fs/files) but installing a new environment and downgrading s3fs to 0.4.2 loca

[2021-01-13 22:49] alimcmaster1 commented on #38996
+1 for this.

Think Scikit-learn have a Github App that posts the artifact link directly in the PR. (This setup uses CircleCI)
https://github.com/scikit-learn/scikit-learn/pull/14731

Azure approach would also work and we could host directly on azure? If we wanted to avoid upload to our webserver.
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deploy-pull-request-builds?view=azure

[2021-01-13 22:58] phofl commented on #39148
``pd.read_excel(file_path, dtype="object", keep_default_na=False)`` does what you want

[2021-01-13 23:40] phofl commented on #39143
Hi, thanks for your question. Could you provide something reproducible?

[2021-01-13 23:43] phofl commented on #39155
I am removing unreliable test, since this is a dependency issue

[2021-01-13 23:50] MicaelJarniac opened #39158 "Minor typo on warnings"
https://github.com/pandas-dev/pandas/blob/25110a92b291de6688c3accad4c34d84837445e8/pandas/_libs/parsers.pyx#L1993-L1996
`"Columns ({warning_names}) have mixed types.Specify dtype option on import or set low_memory=False."`
Note the lack of a space after the period on `types.Specify`. That's because there's no comma separating the strings inside the list, so they get appended while still inside the

[2021-01-13 23:50] MicaelJarniac commented on #39158
take

[2021-01-14 00:16] vdonato opened #39162 "BUG: Calling tz_localize suppresses ValueError when converting from NaT to np.int64"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
The code snippet above prints `-9223372036854775808` (-2<sup>63</sup>) instead of raising a `V

[2021-01-14 00:28] jreback commented on #39162
hmm the error is not that a `datetime64[ns, UTC}` is raise, rather its the reverse, we are raising on a all-NaT `datetime64[ns]` when converting to `np.int64` which is unlike numpy

[code]

while we raise

note that there is a warning on this in current master for using `.astype` though `.view` has the same behavior

[2021-01-14 00:28] jreback commented on #39162
cc @jbrockmendel

[2021-01-14 00:48] luciodaou commented on #39001
I tried to open the file with pylightxl and still got some error, here's the output:
[code]
@asishm I'll test the snippet on a test script.

[2021-01-14 01:22] luciodaou commented on #39001
@asishm you're right, that's the exact issue. See output below.

Stackoverflow test:
[code]

Snippet Results:
[code]

My considerations about this:

- **Is there a way to pass the openpyxl read_only parameter to pd.read_excel arguments? If not, could this be implemented on Pandas as an additional parameter to pd.read_excel, something like _openpyxl_readonly = boolean_ ?**
- This would be the easie

[2021-01-14 01:34] rhshadrach commented on #39100
@pgagarinov Yes, I agree. In general, support for tuples in the index in pandas is fairly limited, but I'm +1 on improving that support. Thanks for reporting! Further investigations and PRs to fix are most welcome.

[2021-01-14 04:45] mroeschke commented on #26181
Sorry my phrasing was a bit confusing but you're correct (and is what I mean originally):

https://github.com/pandas-dev/pandas/blob/25110a92b291de6688c3accad4c34d84837445e8/pandas/_libs/window/aggregations.pyx#L1155

[2021-01-14 05:05] person142 opened #39164 "ENH: add additional extras_require sections for optional dependencies"
#### Is your feature request related to a problem?

It would be nice to have more `extras_require` sections in the `setup.py` for optional dependencies.

#### Describe the solution you'd like

I'd like to see more sections added here:

https://github.com/pandas-dev/pandas/blob/master/setup.py#L743

for optional dependencies; e.g. `pandas[s3]` for Pandas + everything you need to write to S3 (just f

[2021-01-14 05:29] xmatthias commented on #39001
@luciodaou
the problem with your script is the first line, which assigns `max_row` to ws.
Maybe try to remove the `.max_row` before running this?

[2021-01-14 07:17] jiahe224 commented on #39143
test = pd.DataFrame({'indus':['12.文教、工美、体育','其中：氯碱','3.黑色金属矿采选业'],'地区':['a','b','c'],'num':[23,21,34],
                     'year':['2018','2018','2019']})
test_pivot = test.pivot_table(index=['indus','地区'],columns='year',values='num',aggfunc='sum').reset_index()
# pivot is like to pivot_table
# You will find that the order of the rows of test and test_pivot is not the same. @phofl thanks

[2021-01-14 07:21] venaturum commented on #26181
Yeh I'm still confused 😂

If the min_periods condition is satisfied then the passed func is executed.

If min_periods == 0, as per WillAyd's example, then the passed func is always executed.

AHG123's claim that

is simply not true.

[2021-01-14 07:29] jorisvandenbossche commented on #39151
@arc12 Thanks for the report! I can confirm the regression.

cc @jbrockmendel

[2021-01-14 07:48] svjack opened #39166 "Pandas DataFrame with python own collection apply function seems has some bug."
consider following example:
pd.DataFrame([[0, 1, 2], [3, 4, 5]]).apply(lambda x: [x] * 2, axis = 1)
yield following conclusion:
[[3, 4, 5], [3, 4, 5]]
[[3, 4, 5], [3, 4, 5]]

but if use numpy array to replace list, i.e.
pd.DataFrame([[0, 1, 2], [3, 4, 5]]).apply(lambda x: np.asarray([x]) * 2, axis = 1)
have following :
[[0, 2, 4]]
[[6, 4, 8]]

I can not understand the conclusion use list (first ex

[2021-01-14 07:56] YarShev opened #39167 "QST: Why is `storage_options` parameter missed in `read_table` method?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-01-14 08:48] khaeru opened #39168 "BUG: assert_frame_equal() with check_like=True errors with non-comparable types"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code sample

[code]

#### Problem description

This code raises:
[code]

The cause is PR #37479, which added the following to `assert_index_equal()`:
[code]
This is co

[2021-01-14 10:34] arc12 commented on #38947
I suppose this identified bug also causes the following to fail with a TypeError: 'value' must be an instance of str or bytes, not a float

`pd.Series(data=range(6), index=["A"] * 4 + [np.nan] * 2).plot(kind='bar')`

This is fairly common kind of index arising from `value_counts(dropna=False)` in numerous places (for me)

[2021-01-14 10:51] gunjan-solanki commented on #38862
Apologies for inaction. I got caught up in some work. I will raise a PR this weekend.

[2021-01-14 11:41] douglas-raillard-arm commented on #35366
+1 for that feature, it currently makes using pandas as a backend of another library difficult.

I'm currently writing functions that expose an optional `group_on` parameter to the user, which obviously defaults to `None`. In order to support that, I'm forced to have a separate path in my code, with different data types (`GroupBy` object on one side, `DataFrame` on the other). Given the subtle dif

[2021-01-14 12:23] jreback commented on #39168
try on master

i think we patched this

[2021-01-14 12:28] MarcoGorelli commented on #38862
no hurry, ping when it's ready :)

[2021-01-14 13:30] khaeru commented on #39168
The code is still there:
https://github.com/pandas-dev/pandas/blob/25110a92b291de6688c3accad4c34d84837445e8/pandas/_testing/asserters.py#L345-L348

but I'll see if I can manage to install from master.

[2021-01-14 14:22] #39125 closed

[2021-01-14 14:54] nonZero commented on #38865
Another simple reproduction of this undocumented change in behavior:

[code]

![image](https://user-images.githubusercontent.com/66484/104606762-c4aac900-5688-11eb-91b2-decf7f2f6206.png)

![image](https://user-images.githubusercontent.com/66484/104606811-d3917b80-5688-11eb-8adc-23cc66abda50.png)

[2021-01-14 15:28] pjireland opened #39169 "BUG: `df.agg` call passes different things to a custom function depending on whether a unused kwarg is supplied or not"
- [x] I have checked that this issue has not already been reported
   * The issue could potentially be similar to that reported in https://github.com/pandas-dev/pandas/issues/33517, but I'm not sure.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable exam

[2021-01-14 15:41] simonjayhawkins commented on #39147
#37787

(just adding the reference to the PR since sometimes easier to detect duplicate issues from the links from the PR)

[2021-01-14 15:59] impredicative opened #39171 "ENH: Undeprecate and reimplement DataFrame.lookup"
#### Is your feature request related to a problem?

I seriously get the impression that Pandas is actively being sabotaged. As a case in point, `DataFrame.lookup` was deprecated in v1.2. The problems with this are:

1. The [doc for `DataFrame.lookup`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.lookup.html) says to see itself for an example. Well, there is no exampl

[2021-01-14 16:00] FilippoBovo opened #39172 "BUG: SeriesGroupBy.value_counts() raises on an empty Series"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

Using the `value_counts` method after grouping an empty DataFrame and selecting a column raises an error.

Example:

[code]

Error:

[code]

[2021-01-14 16:00] impredicative opened #39173 "ENH: Undeprecate and reimplement DataFrame.lookup"
#### Is your feature request related to a problem?

I seriously get the impression that Pandas is actively being sabotaged. As a case in point, `DataFrame.lookup` was deprecated in v1.2.0. The problems with this are:

1. The [doc for `DataFrame.lookup`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.lookup.html) says to see itself for an example. Well, there is no exam

[2021-01-14 16:04] impredicative commented on #39173
Accidental duplicate of #39171

[2021-01-14 16:04] #39173 closed

[2021-01-14 16:21] jreback commented on #39171
this is not a friendly way to ask for things.

`DataFrame.lookup` has seen NO love at all since its initial implemention. It is a duplicative and unmaintained function. This is also polluting the namespace and is not in any way integrated to all of the other indexers. We do not need N ways to do the same thing.

[2021-01-14 16:21] #39171 closed

[2021-01-14 16:22] #7138 closed

[2021-01-14 16:23] jreback commented on #39171
https://github.com/pandas-dev/pandas/pull/35224 is the PR and https://github.com/pandas-dev/pandas/issues/18262 is the issue

[2021-01-14 16:24] jreback commented on #39171
@impredicative you are welcome to contribute patches, e.g. doc fixes or other things.

[2021-01-14 17:17] fangchenli opened #39175 "CI: use conda incubator in doc build"
#39043 enabled conda incubator for the benchmark build. But I didn't get the doc build to work. I had something like this

[code]

There are no errors in the output of `doc/make.py --warnings-are-errors`, but it exits with code 1. Also, using multiple workers to build the doc doesn't improve the performance.

[2021-01-14 17:27] simonjayhawkins commented on #39151
first bad commit: [d82e5403625c863327f6b89d3137eb6164f00e1a] BUG: NaT.__cmp__(invalid) should raise TypeError (#35585)

[2021-01-14 18:15] mroeschke commented on #26181
Ah good point. Yeah min_periods == 0 guarantees that the passed func is always executed.

So yes I believe this behavior is already possible so I'll close this issue.

[2021-01-14 18:15] #26181 closed

[2021-01-14 18:52] #34411 closed

[2021-01-14 19:39] avinashpancham commented on #38808
@rbpatt2019 any updates on `core/frame.py`, else I will work on it this weekend

[2021-01-14 20:48] jreback opened #39176 "CI: docs build failing?"
several recent PRs are showing a web / docs build failure: https://github.com/pandas-dev/pandas/pull/39136/checks?check_run_id=1704155153

though not sure we are actually seeing this on master.

cc @pandas-dev/pandas-core

[2021-01-14 20:48] #39140 closed

[2021-01-14 20:55] simonjayhawkins commented on #38979
@jbrockmendel any thoughts here.

Although the regression is in #36357, imo the problem is due to #34909

#34909 has caused several regressions. do we want to keep that performance gain and try to patch this further.

I assume that, we have no control over other 3rd party registered accessors, so would want a fix here that works with any accessor and not just a fix for the str accessor.

@jorisvan

[2021-01-14 21:27] phofl commented on #39176
The first failed build on master had two version changes:

nbformat  5.0.8 -> 5.1.0
gstreamer 1.18.2 -> 1.18.3

Probably nbformat broke something with the ipython notebooks?
We are getting a lot of warnings starting in line 2400 here
https://github.com/pandas-dev/pandas/runs/1704034071#step:6:2393

[2021-01-14 21:27] jorisvandenbossche commented on #39176
Yes, the current last commit on master also has the failure: https://github.com/pandas-dev/pandas/runs/1704622280

There are many warnings like

[code]

[2021-01-14 21:39] jreback commented on #39176
ok let's just fix those deps for now. if someone can do a PR :->

[2021-01-14 21:44] natanvotre opened #39178 "BUG: MultiIndexes are disappearing using an empty dataframe, Groupby and aggregate using 'list' method"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

This bug is happening just in the pandas' version 1.2.0. The indexes are disappearing in the following condition:
- Using MultiIndex;
- Using an empty dataframe;
- GroupB

[2021-01-14 22:13] alimcmaster1 commented on #39167
Think this was likely just missed as part of https://github.com/pandas-dev/pandas/pull/35381 - can take a look

[2021-01-14 23:49] TomAugspurger commented on #28142
Thanks to all the folks who joined the dev call on Wednesday. Here's a recap of (my understanding of) the current status, and a tentative proposal for how to proceed. More notes at https://docs.google.com/document/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?usp=sharing.

https://github.com/microsoft/python-type-stubs/tree/main/pandas contains type stub (`.pyi`) files for pandas. Microsoft

[2021-01-14 23:49] Eric106 opened #39181 "BUG: ExcelWriter.book --> no member ->Slow Execution Time<-"
- [*] I have checked that this issue has not already been reported.

- [*] I have confirmed this bug exists on the latest version of pandas.

- [*] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-15 01:51] jbrockmendel commented on #38979
Yah, best guess is we need to clear the cache between steps of the iteration

[2021-01-15 02:13] jbrockmendel commented on #39151
Yah something similar came up for Timestamp.  The solution is going to be to add in `NaT.__richcmp__` something to the effect of

[code]

[2021-01-15 03:17] rhshadrach commented on #39172
Thanks for the report. This looks like a bug to me. Further investigations and PRs to fix are welcome!

[2021-01-15 03:26] rhshadrach commented on #39169
Thanks for the report, can you simplify the example to only include necessary details?

[2021-01-15 04:14] rhshadrach commented on #39166
Thanks for the report! Agree this is unexpected, likely due to some optimizations `apply` uses under the hood. Further investigations and PRs to fix are welcome. As a temporary workaround, you can copy `x` to achieve the desired result:

[code]

gives

[code]

[2021-01-15 04:31] rhshadrach commented on #39154
One to add to the list is `Series.mask`, e.g.

[code]

[2021-01-15 04:40] rhshadrach commented on #39135
Is this for `read_json`?

[2021-01-15 04:47] rhshadrach commented on #39108
@jreback: Does my suggestion above satisfy this issue? If so, maybe we could align on a name/location for the TypeVar. Using `GroupByFrameOrSeries` seems a bit verbose to me; I'd suggest `GBFrameOrSeries` or `GroupByObj` or `GroupByData`. From comments above, it seems like it'd be appropriate to add to `_typing` with a comment to the effect that it is to only be used to bind to GroupBy.

[2021-01-15 05:02] afeld opened #39183 "January 2021 Docs Meeting"
- [Thursday, January 21st at 9am EST - 14:00 UTC](https://everytimezone.com/?t=6008c400,348)
- [Zoom link](https://nyu.zoom.us/j/97315680910?pwd=NEJ3ZityVUM3VkltOGdVS01JbzZOQT09)
- [Notes](https://docs.google.com/document/d/1JoiqTdK6gi5W1QiTWrqtTV-rNmIqU3xROgHY5iT4J5g/edit#)

---

It was mentioned at the Developer Meeting (https://github.com/pandas-dev/pandas/issues/39125) that there would be inte

[2021-01-15 05:41] WhistleWhileYouWork opened #39184 "BUG: Numpy ufuncs e.g. np.[op](df1, df2) aligns columns in pandas 1.2.0 where it did not before"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

This is a regression from pandas 1.1.5 (both versions are using numpy 1.19.5).

Normally if we want to add, subtract,

[2021-01-15 05:48] YarShev commented on #39167
@alimcmaster1 , thanks! It would be great.

[2021-01-15 05:50] davidwales commented on #36944
@erfannariman, your updated version won't work if the prefix is not separated by a delimiter.

e.g. for prefix `str`: `strFollowedByOtherThings`, `strWithDifferentOtherThingsFollowing`.

The most robust method is the one documented in [PEP 616](https://www.python.org/dev/peps/pep-0616/).

e.g.

[code]

I think this makes a pretty good case that it would be nice to add the new string methods!

[2021-01-15 07:17] svjack commented on #39166
Does this related with:
Fixed regression in DataFrame.apply() where functions that altered the input in-place only operated on a single row (GH35462)
this may be a problem about BlockManager
In the series_generator in FrameColumnApply, the yield series if use its copy,
will not have this problem.
But this edit may sacrifice performance.
All about
“blk.values = arr”
in the series_generator.
use thi

[2021-01-15 07:39] afeld commented on #39130
Mmm, good point. This isn't specific to the SQL page, so maybe we write up a "how to read these docs" section before the Getting Started Tutorials (hierarchically), since those and the Comparison documentation all use iPython output? Not sure that would warrant its own page, but not seeing another obvious place to put it.

[2021-01-15 07:47] afeld commented on #32307
I suggest merging https://pandas.pydata.org/getting_started.html into [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html), since the latter doesn't actually say how to _get_ pandas.

[2021-01-15 10:27] simonjayhawkins commented on #39108
from https://github.com/microsoft/pyright/blob/master/docs/typed-libraries.md#best-practices-for-inlined-types

[2021-01-15 11:43] jorisvandenbossche commented on #39183
@afeld thanks a lot for getting this started!
I am very interested in having more focused doc meeting(s) and helping out with this.

One note about the doodle: since the pandas contributors are spread across timezones, it's probably best to try to include hours that can work for several timezones. I know it's impossible to have something that works for everybody (and eg the time of our dev meeting

[2021-01-15 14:08] jorisvandenbossche commented on #38969
(let's keep open until we actually fix + add a test for this specific case)

[2021-01-15 14:14] #39147 closed

[2021-01-15 14:14] topper-123 commented on #28142
One small point is that `read_csv ` is no longur dynamically created. `read_table ` is also anormal function.

I don't know if that changes the position of the pyright maintainers, or if this a more general problem...

[2021-01-15 14:27] venaturum commented on #38969
No problem, I thought the closing candidate tag might have been a subtle hint 😂

[2021-01-15 14:28] jorisvandenbossche commented on #39184
@WhistleWhileYouWork thanks for the report.

We "knowingly" changed this behaviour. At least, I commented about this consequence at https://github.com/pandas-dev/pandas/pull/36955#issuecomment-735684445, but I didn't follow-up myself to ensure we did it with a deprecation warning instead of breaking change.

We could still do that in 1.2.1, I suppose.

cc @TomAugspurger

Note that there was a rele

[2021-01-15 14:32] TomAugspurger commented on #39184
There won't be any penalty over the old behavior. pandas would have done the conversion anyway.

It is unfortunate that that slipped through. We're all too busy :/

If we're able to restore the old behavior and get the warning in *soon*, that'd be OK. But the longer we have the new / future behavior on 1.2.x, the more I think we should just keep it, since people will start relying on the new behav

[2021-01-15 14:37] gcmaciel commented on #32307
It would be nice if [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html) had installation instructions. But after that, which `Getting started` link should be updated then?

Another idea would be renaming one of those `Getting started` links to something else, it could be renamed to `10 Minutes to Pandas`, for example, so that would be no problem if they point to different

[2021-01-15 14:54] afeld commented on #39183
Added some more options in there. @jorisvandenbossche @simonjayhawkins Mind editing your responses (you should have gotten an email, I think?) or submitting new ones?

[2021-01-15 15:03] gramster commented on #28142
I think for us, we will either come up with an alternate solution to the
docstring problem or regenerate full stubs from the pandas source and ship
those with docstrings added. We’d obviously prefer that docstrings not be
dynamically created but we have workarounds if they are.

On Fri, Jan 15, 2021 at 6:15 AM Terji Petersen <notifications@github.com>
wrote:

[2021-01-15 15:55] galipremsagar commented on #39135
@rhshadrach This is in `to_json`, but yes change in `to_json` would also need changes in reader too.

[2021-01-15 15:57] travispavletich opened #39189 "BUG: queries on categorical string columns in read_hdf return unexpected results"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

[code]

#### Problem description
Using the where clause for on disk hdf queries appears to give incorrect results somet

[2021-01-15 16:01] WhistleWhileYouWork commented on #39184
Understood, what is the standard accepted practice for accomplishing the previous behavior? Is it:

[code]
I see the previous comment states:

So that's good news since my main reason for using np ufunc syntax was to avoid any possible penalties.

It would be nice to have the recommended replacement syntax along with a note in the `Release Notes` about the change in addition to being included with

[2021-01-15 16:20] pjireland commented on #39169
No problem. The example was the simplest one I was able to find that still showed the behavior described, but feel free to let me know if anything is confusing about it, or you see anything that seems like it could be simplified.

[2021-01-15 16:25] Dr-Irv commented on #28142
Let's make sure that we track the two use cases of typing:

1. Typing for pandas _developers_ - making sure that our typing of internals (and maybe externals) of pandas code works with `mypy` as is tested in the CI today
2. Typing for pandas _users_ - providing type hints for pandas users

For (2) we need to figure out a way to test that we have properly typed the public API.  The work that @grams

[2021-01-15 16:30] #7509 closed

[2021-01-15 16:44] TomAugspurger commented on #28142
I'm not sure I understand the need for this distinction. From the point-of-view of mypy, why would anything in the public API be different? I think that either way we get a set of internally consistent types.

We do still have the problem of *declaring* an incorrect type (which IIUC are the types of bugs you reported to that repo). For that, I think we just have to rely on

1. As we approach unive

[2021-01-15 16:52] erictraut commented on #28142
I'm one of the primary authors and maintainers of pyright, and I work with Graham. Sorry I couldn't attend the recent meeting. I'm really excited about the discussion and the progress!

@TomAugspurger, to answer your question about what happens once pandas has completely inlined all of the type information from the stubs. I'm not worried about parsing speeds. Pyright can parse a file very quickly

[2021-01-15 16:54] tomstesco opened #39190 "BUG: pd.to_csv(..., compression="zip") creates multiple files in zip archive that cannot be read by pd.read_csv()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

How pandas was installed:

[code]

#### Problem description

Introduced in 1.2.0, `to_csv` with compression="zip" has a

[2021-01-15 17:14] TomAugspurger commented on #39184
Right. The warning and the release notes was recommend `.to_numpy()` on one of the inputs if you want to avoid alignment (the old / deprecated behavior).

The warning should only occur when they aren't already aligned.

[2021-01-15 17:17] Dr-Irv commented on #28142
Let's take a method (property) like `DataFrame.axes`.  Right now, we have a type declaration for that in the source.  But if there is no internal pandas code that calls `DataFrame.axes`, then `mypy` wouldn't pick up if we had the declaration wrong.  Now, if we ran `mypy` on our testing directory, then we might pick it up, but I think we avoid doing that now in the CI (please correct me if I'm wron

[2021-01-15 17:22] erictraut commented on #28142
I'll also point out that `mypy` will not analyze any code that is not annotated. That means it's blind to a lot of errors in unannotated code or code that calls unannotated code. Pyright has a bunch of sophisticated type inference logic, so you may get better results using it over mypy (or in addition to mypy) for your internal verification.

[2021-01-15 17:54] twoertwein commented on #39190
This should be fixed in 1.2.1 #38728. Do you have the same behavior on master?

[2021-01-15 17:54] rhshadrach commented on #39108
@simonjayhawkins Isn't that redundant if the entire file is considered private?

[2021-01-15 18:09] Eric106 commented on #39181
# We use this to save some Reports//data frames with a pretty format, usually the execution of this function was like 30 seconds, now with the newest version of pandas it takes 3 minutes, same code same machine.

[code]

[2021-01-15 18:33] mattwelke commented on #39130
It makes sense to me. I felt kind of silly as I wrote this ticket, because I was able to sort out my issue myself. It was an obvious solution (go check out notebooks, or figure out what notebook specific code is here to remove). But I've worked as a dev professionally for a few years. I was just thinking from the perspective of someone a lot newer who might encounter this as one of their earliest

[2021-01-15 18:45] simonjayhawkins commented on #39108
IIRC that's the argument why we don't currently add a preceding underscore.

We don't currently have a comprehensive style guide for type annotations, so I would prefer to use something like https://github.com/microsoft/pyright/blob/master/docs/typed-libraries.md#best-practices-for-inlined-types where we don't document our style

(I also like the layout of the google Python style https://google.gi

[2021-01-15 18:49] tomstesco commented on #39190
Thanks for linking the PR, this does resolve the issue in current master.

[code]

#### Output of ``pd.show_versions()``

<details>
/Users/tom.s/projects/testing/test_venv/lib/python3.8/site-packages/setuptools/distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects direc

[2021-01-15 19:10] simonjayhawkins commented on #39190
thanks for confirming

[2021-01-15 19:10] #39190 closed

[2021-01-15 19:13] phofl commented on #39148
Closing since there is no bug

[2021-01-15 19:13] #39148 closed

[2021-01-15 19:15] simonjayhawkins commented on #39190
duplicate of #38714

[2021-01-15 19:30] xinrong-databricks opened #39192 "QST: DataFrame.join on key columns"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas
pandas DataFrame.join on key columns doesn't seem to follow the rules of SQL right join and outer join.

In the example below, column `B` in t

[2021-01-15 19:36] jreback commented on #39192
pls show the versions

this should be good in 1.2

[2021-01-15 20:27] simonjayhawkins commented on #39151
@jbrockmendel do you have time to fix this before Monday? otherwise I can look into it.

[2021-01-15 20:35] phofl commented on #39192
Persist on master

[2021-01-15 20:41] davidism commented on #31819
I'm not sure why @Colin-b didn't follow up here, but I think this indicates an issue with Pandas as well. Pandas should accept `w+` as readable.

[2021-01-15 21:00] simonjayhawkins commented on #39184
in the release notes we did have

so have advertised the change

[2021-01-15 22:09] jbrockmendel commented on #39151
Yes, I'll do this right now

[2021-01-15 23:26] xinrong-databricks commented on #39192
@jreback Thanks for your response! I added pandas version to the issue description.

The issue remains in pandas 1.2, and the latest master branch.

[2021-01-15 23:27] xinrong-databricks commented on #39192
@phofl Exactly, thanks for the verification.

[2021-01-15 23:39] alimcmaster1 opened #39197 "TST: Pytables Test Failures"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=52416&view=logs&j=404760ec-14d3-5d48-e580-13034792878f&t=f81e4cc8-d61a-5fb8-36be-36768e5c561a

[code]

[2021-01-15 23:45] jreback commented on #39197
we used to have these tests in a single file
this is now happening after the split

possible we have a collision across files because of the random seed - so the temp files are identical

maybe let's embed the file names in the temp file paths could solve this

[2021-01-16 01:09] #38851 closed

[2021-01-16 01:12] #38979 closed

[2021-01-16 01:18] #39151 closed

[2021-01-16 01:23] jreback commented on #38874
we cannot handle this as a backport and its non-trivial to fix this. that said this is an edge case so won't fix for 1.2.x

[2021-01-16 01:23] #38874 closed

[2021-01-16 01:28] jreback opened #39203 "STYLE: dont' use pd.api.types anywhere in tests"
example here: https://github.com/pandas-dev/pandas/pull/37367/files#diff-69c698518ca64a05f8b137ff9bb5445ce9fd21139b396e9b0d4ce7338b2a3984R132

we should just ban this with a precommit style rule (and import things directly). the doc-strings also should be updated to do the import once.

[code]

[2021-01-16 01:56] WhistleWhileYouWork commented on #39184
Thanks, I did see the note, I was merely suggesting guidance on the recommended approach to avoiding alignment for those of us who were using numpy ufuncs specifically to avoid alignment. Something like this:

Calling a binary-input NumPy ufunc on multiple `DataFrame` objects now aligns, matching the behavior of binary operations and ufuncs on `Series` (:issue:`23743`). _To avoid alignment, conver

[2021-01-16 02:39] rhshadrach commented on #39166
While somewhat related to #35462, I think this issue is different in at least one important aspect: the code the leads to this behavior does _not_ mutate the input `x`.

[2021-01-16 02:48] jreback opened #39205 "CI: failing numpy_dev build on 1.2.x"
this is passing on master, but not on 1.2.1

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=52437&view=logs&j=eab14f69-13b6-5db7-daeb-7b778629410b&t=ce687173-08c6-5301-838d-71b2dda24510

[code]

[2021-01-16 02:48] jreback commented on #39205
cc @simonjayhawkins

[2021-01-16 03:11] phofl commented on #39205
This is fixed by #39090 on master, but since numpy fixed that bug and the new wheels come on sunday I don't think we need to backport?

[2021-01-16 03:26] jreback commented on #39089
@seberg so this is fixed in numpy master?

[2021-01-16 03:33] afeld commented on #39183
Ok, scheduled for [**Thursday, January 21st at 9am EST**](https://everytimezone.com/?t=6008c400,348). [Zoom meeting.](https://nyu.zoom.us/j/97315680910?pwd=NEJ3ZityVUM3VkltOGdVS01JbzZOQT09) Would someone mind adding to [the calendar](https://pandas.pydata.org/docs/development/meeting.html)?

[2021-01-16 03:50] afeld commented on #26574
👋 Relatively new docs contributor here. I think it's very reasonable to have an opinionated development setup, e.g. "Want to contribute? Use the [Docker setup](https://pandas.pydata.org/docs/development/contributing.html#creating-a-development-environment)." Folks that want something different can set that up, since they will probably want something customized anyway.

[2021-01-16 04:08] seberg commented on #39089
Yes, was a simple bug and should be fixed (and I guess by now the new, corrected, weekly build is up.

[2021-01-16 09:57] simonjayhawkins commented on #38523
re-opening as #38737 reverted.

[2021-01-16 10:04] simonjayhawkins commented on #39151
Thanks @jbrockmendel

[2021-01-16 10:11] simonjayhawkins commented on #39205
that's also my understanding, changed on master to get ci green while waiting for numpy to fix.

the np-dev failures do not affect wheel building/release so #39090 not backported.

[2021-01-16 10:27] simonjayhawkins commented on #39184
we do allow breaking changes under certain circumstances. If we ascertain that the change meets those requirements we could maybe move the release note in 1.2.0 from the other enhancements section with a small section in the breaking API section (with requested guidance). We would then have a brief note in 1.2.1 release notes (other section) that the 1.2.0 release notes have been updated.

I think

[2021-01-16 12:13] jle3 commented on #27976
I am trying to fix some of these docstrings and I have noticed that a function does not have required parameters in the function signature. For example in `pandas.DataFrame.plot.pie`

Calling the function without one or the other results in `ValueError: pie requires either y column or 'subplots=True'` but including the parameter in the docstring will give us the `pandas.DataFrame.plot.pie:Unknown

[2021-01-16 12:23] simonjayhawkins commented on #38721
in the dev meeting notes for the release we have

@jorisvandenbossche I believe you suggested this.

I think that we should not yet revert until have investigated the issues further. 1.2.2 is scheduled for February 07, 2021 (3 weeks)

current status:

https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression+milestone%3A1.2.1

9 open regressions milestoned 1.2.1

5 link

[2021-01-16 13:24] moink commented on #26807
Done:
pandas/tests/io/pytables/test_store.py
I will take:
 pandas/tests/test_strings.py

[2021-01-16 13:31] rhuille commented on #39130
No worries, I think your question was logical, lots of people may have the same issue ! What do you think :top:  ? :)

[2021-01-16 14:21] #39168 closed

[2021-01-16 14:23] erfannariman commented on #36944
Yes, I agree.

[2021-01-16 14:27] jreback commented on #36944
+1 in adding this

[2021-01-16 14:53] rhshadrach opened #39209 "API: Should apply be smart?"
From https://github.com/pandas-dev/pandas/pull/34998#issuecomment-759416692

   So depending on the path taken, and exactly what you are grouping. Thus the grouped column(s) may be included in
   the output as well as set the indices.

IMO, `groupby.apply` should not be a one-stop-shop for all your UDF needs. If users want to use a reducer, use `agg`; if they want to use a transformer, use `transf

[2021-01-16 14:57] bollwyvl commented on #39183
Just saw this... I'll try to make that time! Is there an agenda someplace?

While I'm sure the goal is not just triage, I'd selfishly toss out:

- accessibility roadmap
https://github.com/pandas-dev/pydata-sphinx-theme/pull/294

- theme toggles (night/day, hi-viz)
https://github.com/pandas-dev/pydata-sphinx-theme/pull/273

[2021-01-16 15:12] nofarm3 commented on #39203
Hi, can I take this one?

To make sure I get this right:
1. Fix this among the whole project, for example, convert this to:
`from pd.api.types import is_number`
and then just use it in the test.
2. add a precommit rule

[2021-01-16 15:24] nofarm3 commented on #39203
take

[2021-01-16 15:27] rhshadrach commented on #39169
It appears to me the entire class is unnecessary.

[2021-01-16 15:42] MarcoGorelli commented on #39203
Hi @nofarm3 - I haven't tried this yet but I think you'll need `from pandas.api.types import ...` (rather than `from pd.api.types import ...`) - feel free to reach out if you want/need help with anything!

[2021-01-16 15:43] nofarm3 commented on #39203
Thanks @MarcoGorelli  !

[2021-01-16 16:43] oren0e commented on #27532
Actually for Ubuntu 18.04 installing `liblzma-dev` is not enough. You should also install:
`sudo apt-get install lzma`

[2021-01-16 17:29] jorisvandenbossche commented on #39203
How do you want the docstrings changed?
Note that those are public functions, and thus need to be documented using their public import (which is pd.api.types)

In addition, IMO we should keep all occurrences in `tests/extension` as is (or at least the ones in the array classes). Those tests are meant for external projects to use and adapt, and thus should use public APIs to the extent possible.

[2021-01-16 17:38] jreback commented on #39203
the request is to simply import infer_dtype rather than use the long form

[2021-01-16 17:39] jreback commented on #39203
having a one off is -1

[2021-01-16 17:55] nofarm3 commented on #39203
@jreback
I want to make sure I fix it the way you expect (this is my first time):

For example:
`if pd.api.types.is_integer_dtype(other.dtype):`

I'll change it to be:
[code]

Or
[code]

[2021-01-16 18:02] MarcoGorelli commented on #39203
@nofarm3 the fastest way to get feedback is usually to just open a pull request, even if you're not sure it's correct, reviewers can make suggestions there

[2021-01-16 18:03] jreback commented on #39203
pls use the public api (2nd way)

[2021-01-16 18:30] jle3 commented on #27976
`pandas.DataFrame.plot.pie` requires one of either a column reference `y`, or `subplots=True`, calling it without returns a ValueError. However, neither appears in the parameters of its function signature `def pie(self, **kwargs):`.

This requirement is mentioned in the extended summary but from the pandas docstring guide,

How should the docstring be modified in this case?

[2021-01-16 18:46] Dr-Irv commented on #28142
@erictraut wrote:

Just to see what happened, I took the released version of pandas 1.2, and just put a `py.typed` file in the pandas distribution and tried this out.  Lots of things are reported, but there is a bug:
[code]
followed by a call stack.  I tried starting `node` with `--stack-size=16000` and then obtained no output and this message:
[code]
Having said that, the report that was printed

[2021-01-16 18:51] erictraut commented on #28142
We've established deterministic rules for distinguishing public from private symbols. These have already been discussed in the typing-sig, and we have general agreement on them, although they haven't yet been included in a ratified PEP. They are all included in [the document I linked to above](https://github.com/microsoft/pyright/blob/master/docs/typed-libraries.md). As I said, these rules should

[2021-01-16 19:09] erictraut commented on #28142
I just tried to repro the problem you're seeing with an internal error. I installed the release version of pandas 1.2 and added a `py.typed` file, like you did. I'm not able to repro the internal error you're seeing. It completed fine for me. Here are the results:

[code]

Any thoughts on what I might be doing different from you?

[2021-01-16 19:23] Dr-Irv commented on #28142
Maybe our versions of node, python and pyright are different?  I'm also doing this on Windows

Here's my version list:

- python 3.8.5
- pyright 1.1.101
- node 15.3.0

Also to run it, I had to do a `cd  c:\Anaconda3\envs\base38\Lib\site-packages` so it would find pandas.

[2021-01-16 19:35] jbrockmendel commented on #38896
Gentle ping @jreback @TomAugspurger I think Joris and I are in agreement, is there concensus on the propositions that

a) `frame[key] = value` should _not_ be operating inplace

b) `frame.loc[:, key]` and `frame.iloc[:, num]` _should_ try to operate inplace before falling back to casting

[2021-01-16 19:41] erictraut commented on #28142
Your configuration looks similar to mine. The only difference is that I'm running on MacOS, using a virtual environment, and using Python 3.9. I doubt if any of those would make a difference though.

It looks like a big portion of the untyped symbols are in the "pandas.tests" module and its submodules. Is it intended that the pandas tests are distributed with the released package? Do you intend fo

[2021-01-16 19:48] jakebailey commented on #28142
@Dr-Irv I think we've seen issues in Pylance (your pytest one) where we couldn't reproduce something that you could; maybe there's some problem with using conda (where we were just using pip). I thought that `--verifytypes` would work regardless of the directory you're in, as it accepts a module path and is supposed to go through search paths to resolve the import (as it would do in user code).

[2021-01-16 19:49] Dr-Irv commented on #28142
No, and we have an issue about that:  https://github.com/pandas-dev/pandas/issues/30741

So, I just did `mv tests _tests` and then it ran fine, but my statistics are different:
[code]

Any idea as to why I would only pick up 317 public symbols and you picked up 4996?

[2021-01-16 19:51] TomAugspurger commented on #38896
I think those rules are sensible.

[2021-01-16 19:54] erictraut commented on #28142
As @jakebailey said, you shouldn't need to switch to the pandas directory to run the analysis. If you find that's required, that points to something wrong with your configuration. You should set up your Python environment (e.g. using a virtual environment) such that if you run "python3", you'll get the correct environment where pandas is installed. Pyright will use the current Python environment w

[2021-01-16 19:58] jakebailey commented on #28142
In VSC, the Python extension chooses the interpreter, so we don't have to pick a binary (versus the CLI), but I think both hint at some weird path oddities. Maybe some more verbose logs could list out the search paths being used. (I'd test conda, but arguably I shouldn't be "working" on a weekend... 🙂)

[2021-01-16 20:09] rhshadrach opened #39211 "BUG: DataFrame.apply axis=1 for str ops with no axis argument"
E.g.

[code]

both give the output

[code]

This should instead raise rather than silently give incorrect results.

[2021-01-16 20:21] Dr-Irv commented on #28142
OK, I figured it out.  When I first ran it, I ran from the folder that contains the pandas source I use for development.  When I ran from a different directory, everything was fine and picked up 4996 public symbols.

[2021-01-16 21:08] fooms2512 opened #39214 "QST:compute score across columns meeting a specific conditions"
I have the following dataframe
   Q11_1  Q11_2  Q11_3  Q11_4  Q11_5  Q11_6
      2      2      2      1      1      5
      2      2      2      3      3      3
      2      2      2      2      3      3
      2      2      2      2      4      3
      4      4      2      4      5      2

How could I compute the score according to the following rule
if Q11_1 >=3:
score =1 else score =0
then if Q1

[2021-01-16 21:22] jreback commented on #39214
pls ask usage questions on stack overflow

[2021-01-16 21:22] #39214 closed

[2021-01-16 22:56] mattwelke commented on #39130
@rhuille Looks great! In fact I didn't even realize til reading that now that only the last line in a block run in a notebook has output. So it would help readers like me. :)

[2021-01-16 23:21] mroeschke commented on #39209
Just for reference, `rolling.apply` and `groupby.rolling.apply` only accepts reducers (but in general the `rolling` operation acts as `transform`)

+1 in general for making `groupby.apply` be "less smart". Maybe to aid the discussion, might be good to list the behaviors of `groupby.apply` that should be deprecated because its redundant with other methods.

[2021-01-17 01:53] TomAugspurger commented on #39209
And it's worth discussing if we should provide alternative APIs for one of `.apply`'s strength: that it operates on DataFrames rather than columns. Would we be interested in something like `DataFrameGroupBy.agg_table`, where the callable takes a DataFrame an aggregated result? And a `.transform_table`?

[2021-01-17 02:19] phofl commented on #39004
Since getitem dispatches to where in case of df, this is expected. Don't know what I would expected, but based on what we are doing with loc and alignment of DataFrames on the rhs this is somewhat consistent.

Don't know how we should define alignable in case of DataFrames

[2021-01-17 03:01] jreback commented on #39209
-1 on any additional api
we already have too much
+1 on stricter apply

[2021-01-17 04:43] mzeitlin11 commented on #38437
Definitely! A PR to add to document this limitation would be welcome - we should warn about using double_precision > 15 as well so this precision loss doesn't happen silently.

[2021-01-17 11:03] helloworldnoob opened #39222 "Dataframe: Get n rows before and after condition met"
I am working with a time series dataframe, and I would like to know how to get a number of rows before, and after the condition is met.

I have a datetime index but also trying a numbered index for ease of use, however, i am not sure how to do either...

The output I want is as follows:
7 rows(or days/hours/minutes) before, then the condition row, and 7 rows(or days,etc...) after.

Any help is mas

[2021-01-17 11:18] attack68 commented on #39143
with a westernised version of your test I detected no change in rows for the following:

[code]

and a re-order of rows for:

[code]

I will guess that `pivot_table` does some lexicographical sort on the `index`?

[2021-01-17 11:24] khaeru commented on #39168
Thanks all!

[2021-01-17 11:33] MarcoGorelli commented on #39222
Hi @helloworldnoob

It's not clear to me what you're asking, but this seems like the kind of question you should ask on StackOverflow

Closing for now then, but please do let us know if you believe there is a bug in pandas

[2021-01-17 11:33] #39222 closed

[2021-01-17 11:47] dhalpern opened #39223 "Setting diagonal to 1 in corr function"
I often want to use the corr function to also compute distances between columns (e.g. df.corr(method = spicy.spatial.distance.euclidean). However, I noticed that the .corr function always sets the i=j case to 1 (which is incorrect for the distance case) (see [here](https://github.com/pandas-dev/pandas/blob/3e89b4c4b1580aa890023fc550774e63d499da25/pandas/core/frame.py#L8394-L8395)).

I realize usin

[2021-01-17 11:49] simonjayhawkins commented on #39178
Thanks @natanvotre for the report

for me, it wasn't retaining the MultiIndex on earlier versions either...

[code]

[2021-01-17 11:49] #39223 closed

[2021-01-17 11:50] dhalpern opened #39224 "ENH: Setting diagonal to 1 in corr function"
#### Is your feature request related to a problem?

I often want to use the corr function to also compute distances between columns (e.g. df.corr(method = spicy.spatial.distance.euclidean). However, I noticed that the .corr function always sets the i=j case to 1 (which is incorrect for the distance case) (see here).

#### Describe the solution you'd like

I realize using this function to compute d

[2021-01-17 11:58] phofl commented on #39143
This is quite easy to fix, we are currently not passing anything to a groupby which is called unter the hood, which defaults to sort=True then. But we have a lot of tests depending on this behavior, so since this is covered not sure if we can simply change this

[2021-01-17 12:01] simonjayhawkins commented on #39224
Thanks @dhalpern for the report

see also #25732, #25781

closing as duplicate

[2021-01-17 12:01] #39224 closed

[2021-01-17 13:12] simonjayhawkins commented on #39169
[code]

[2021-01-17 13:23] simonjayhawkins commented on #39205
https://github.com/pandas-dev/pandas/pull/39225#issuecomment-761807278

[2021-01-17 13:23] #39205 closed

[2021-01-17 13:41] simonjayhawkins commented on #33517
@mfcabrera i'm closing this, but feel free to open a new issue with a "Minimal Complete Verifiable Example" https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-01-17 13:41] #33517 closed

[2021-01-17 13:51] rhshadrach opened #39227 "BUG: Series.resample fails on NaT PeriodIndex"
Failure is only on Series and only when the index is entirely `NaT`.

[code]

Second raises, first returns the expected

[code]

[2021-01-17 14:17] #39089 closed

[2021-01-17 15:36] #38781 closed

[2021-01-17 15:46] #21266 closed

[2021-01-17 15:59] #39115 closed

[2021-01-17 16:33] simonjayhawkins commented on #38721
from my limited understanding of the changes in that PR, I'm leaning towards the revert option.

If we do revert (for 1.2.1), should also have tests to prevent future regression. I'll open a PR for the revert, just in case, but won't be adding regression tests, so would need to leave the issues open with a 'needs tests' label.

[2021-01-17 18:08] Dr-Irv commented on #28142
@erictraut I had an idea to use info from the way we generate docs to determine the public API that is missing typing info by matching the pyright report to a list we have for doc generation, but found that `pyright --verifytypes` is reporting errors on things that I don't think it should.  Here's one example:
[code]

And here's the declaration for `Series.axes` :
[code]
(Note - if you think we sh

[2021-01-17 18:18] erictraut commented on #28142
This does look like a potential bug in pyright's type verification logic. I'd appreciate it if you'd open an issue in the pyright repo. I'll take a look at it.

All types are reported using their fully-qualified names and not aliases re-exported from higher-level submodules. I could look at emitting all aliases in addition to the fully-qualified name. That could be tricky, but I'm willing to inves

[2021-01-17 18:51] jorisvandenbossche commented on #38721
I think that would be OK to just do the revert now, and add tests in follow-up PRs.

[2021-01-17 18:53] jorisvandenbossche commented on #39184
I will check how easy it is to put a deprecation in place.

[2021-01-17 19:15] simonjayhawkins commented on #38946
moved to 1.2.2

[2021-01-17 20:02] rhshadrach commented on #39169
Thanks @simonjayhawkins. In `pandas.core.groupby.generic.aggregate`, we're taking two different paths depending on whether args/kwargs are being used. The path through `_aggregate_frame` computes the result on each group as a whole, then uses `_wrap_frame_output` which in turn uses the original objects columns. On the other hand, the path through `agg_list_like` aggregates column-by-column.

Furth

[2021-01-17 20:21] jorisvandenbossche commented on #39184
I made a PR -> https://github.com/pandas-dev/pandas/pull/39239
What are people's thoughts on this?

I personally think we *should* have done it for 1.2.0 Of course now it is already out, one can question the need to still do it in retrospect. But it seems a possibly somewhat usecase to use numpy's method to avoid alignment in pandas, and then reverting to <1.2.0 behaviour + warning can still avoid

[2021-01-17 21:30] lschwetlick opened #39240 "ENH: Multi-Column explode"
#### Is your feature request related to a problem?

I have often looked for the option to use the `explode` function on multiple columns at the same time.

Example:
[code]
===>
[code]
For obvious reasons exploding first one and then the other column will not yield the result we want here, because we will end up duplicating the values in the first explode during the second explode.

#### Describe t

[2021-01-17 21:43] bsun94 commented on #38990
Thank you for your suggestion before, Aidan, I've managed to locate and make edits to the Comparison to Excel .rst and made PR #39241 above. Essentially I just swapped the order of the "Excel" and "CSV" paragraphs in the data importing section, so that the examples given for to_excel and read_excel (as suggested by @jreback) would flow from the CSV example without needing repeated code/codeblocks.

[2021-01-17 22:25] emilianosantin opened #39243 "QST: import pandas AttributeError: module 'numpy' has no attribute 'ndarray'"
Hi
I am not sure what caused the problem, but when I try to import pandas I get a numpy attribute error. I tried pip install although I use anaconda and did not work
[code]
so when I try to import pandas this is the error I get

[code]

below are my python and jupyter versions
[code]

[2021-01-17 22:42] lschwetlick commented on #39240
It could be done something like [this](https://gist.github.com/lschwetlick/76d256e8f8e9c6fa499fd6cdfbe8954c)

[2021-01-17 22:46] phofl commented on #39243
Please provide pd.show_versions()

[2021-01-17 23:34] bsun94 commented on #38990
Thank you for your suggestion before, Aidan, I've managed to locate and make edits to the Comparison to Excel .rst and made PR #39242 above, following the suggestion by @jreback in ticket #38554. Please ignore the #39241 above.

[2021-01-17 23:43] emilianosantin commented on #39243
thanks for getting back to me. I cannot actually import pandas. I can do pip list will but will that give me the same versions that I use in Jupyter? Sorry I am relatively new. I got the following from the anaconda interface
numpy 1.19.5
pandas 1.2.0
geopandas 0.63
python 3.7.9
anaconda client 1.7.2
anaconda 0.0.1.1

thanks

[2021-01-17 23:44] emilianosantin commented on #39243
I forgot
setuptools 49.6.0

[2021-01-18 00:29] WhistleWhileYouWork commented on #39184
Yes. Consider how many people have yet to upgrade to 1.2.0 or greater (given that most users skip many releases before upgrading). I myself went from 1.0.3 to 1.2.0. Now consider the few that have already had to adapt to the change (like me). We are not impacted by a reversion to 1.1.5 behavior.

[2021-01-18 04:59] NickFabry commented on #38956
I'd say this should be considered a bug, as it breaks lots previously working parsing code and is inconsistent and unpredictable in how it operates. I've been parsing an Excel file that is the output from an ancient DB reliably in the past using an argument of header=3 to read_excel, but now that fails because of the two blank lines in rows 0 and 2; using header=1 worked. However, when I deleted d

[2021-01-18 08:05] YarShev commented on #39167
@alimcmaster1 , when are you planning to add this parameter to the function?

[2021-01-18 09:37] simonjayhawkins commented on #38721
4 open PRs milestoned 1.2.1. These need to be merged or moved off milestone before we start the release process

https://github.com/pandas-dev/pandas/pulls?q=is%3Apr+is%3Aopen+milestone%3A1.2.1

[2021-01-18 09:43] Kazzz-S opened #39247 "BUG: V1.2 DataFrame.to_csv() fails to write a file with codecs"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-18 09:54] jorisvandenbossche commented on #38721
https://github.com/pandas-dev/pandas/pull/39239 is obviously a last minute change, but if people agree on the deprecation, I think we should try to include it. I *think* my patch is relatively safe, since converting the input to numpy arrays (what I am doing now manually as fallback) is what happened before adding `DataFrame.__array_ufunc__` as well.

If I can get some review on the PR, we should

[2021-01-18 11:39] davidia commented on #35830
Hello, Indexing by DateTime index by date as above has worked forever and we have hundreds of loc that depend on this behaviour. Would you be open to a PR that promotes date to datetime in get_loc?

[code]

[2021-01-18 12:01] YarShev opened #39249 "BUG: read_excel fails with `IndexError: list index out of range`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-18 12:14] YarShev opened #39250 "BUG: read_excel fails with IndexError: list index out of range"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-18 12:14] #39249 closed

[2021-01-18 12:26] jreback commented on #38721
let's move them all off 1.2.1

last minute changes are always a bad idea

[2021-01-18 12:40] simonjayhawkins commented on #38721
final pre-release checklist

- [ ]  https://github.com/MacPython/pandas-wheels/pull/122
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ]  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.1.html
- [ ]  ci checks https://github.com/pandas-dev/pandas/commits/1.2.x
- [ ]  no open issues/PRs

[2021-01-18 12:43] asishm commented on #39250
full traceback please.

I can't open this file with Excel (It tries to recover then fails)

[2021-01-18 12:46] jorisvandenbossche commented on #38721
@simonjayhawkins do you have time to give https://github.com/pandas-dev/pandas/pull/39239 a review? (Tom mentioned before he was OK with the change if we would be able to do it soon: https://github.com/pandas-dev/pandas/issues/39184#issuecomment-760975753)

[2021-01-18 12:50] simonjayhawkins commented on #38721
I've given it a quick once over, I'll look again in more detail.

[2021-01-18 13:33] YarShev commented on #39250
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "miniconda3\envs\pandas\lib\site-packages\pandas\util\_decorators.py", line 299, in wrapper
    return func(*args, **kwargs)
  File "miniconda3\envs\pandas\lib\site-packages\pandas\io\excel\_base.py", line 344, in read_excel
    data = io.parse(
  File "miniconda3\envs\pandas\lib\site-packages\pandas\io\excel\_base.py"

[2021-01-18 13:35] YarShev commented on #39250
[code]
Yes, I have the same issue. However, my excel recovered the file and I can open it.

[2021-01-18 14:13] #39243 closed

[2021-01-18 14:14] emilianosantin opened #39251 "BUG:import pandas AttributeError: module 'numpy' has no attribute 'ndarray'"
---

Hi
I am not sure what caused the problem, but when I try to import pandas I get a numpy attribute error. I am Mac user on Jupyter when I try to import pandas this is the error I get. I previously posted this as a question but I did not provide all the necessary info so I closed the QST#39243
[code]
Here are some relevant packages versions:

numpy     :1.19.5
pandas.   : 1.2.0
geopandas :0.63

[2021-01-18 14:17] MarcoGorelli commented on #39251
do you have a folder called `numpy` in your working directory?

[2021-01-18 14:41] emilianosantin commented on #39251
Hi thanks for getting back to me. I have several of them with different versions.

/Users/_________________/opt/anaconda3/pkgs/numpy-1.19.5-py37hec87de9_1

/Users/_________________/opt/anaconda3/pkgs/numpy-1.19.5-py37hec87de9_1/lib/python3.7/site-packages

/Users/_________________/opt/anaconda3/pkgs/numpy-base-1.18.5-py37hc72aeb7_0

/Users/_________________/opt/anaconda3/pkgs/numpy-1.19.5-py37hec8

[2021-01-18 14:43] MarcoGorelli commented on #39251
What about in your current directory (the one in which you're running Python)

[2021-01-18 14:44] MarcoGorelli commented on #39251
What didn't work? Can you show what you did and your output?

[2021-01-18 14:54] YarShev commented on #39250
I have figured out why the exception is arisen. The file, which I provided, can be read via xlrd <= 1.2.0 (maybe via even other xlrd versions, but not >= 2.0). However, pandas 1.2.0 uses openpyxl to read the file, if it is installed, that leads to the exception.

[2021-01-18 15:02] twoertwein commented on #39247
thank you for the report and your minimal examples! Yes, that is a regression.

Unfortunately it seems that `codecs.open( ..., mode="w", encoding="utf-8" ).mode` is `"wb"`. So pandas 1.2 tries to write bytes to it. Interestingly `codecs.open( ..., mode="w" ).mode` is `"w"` and should therefore work with pandas 1.2.

[2021-01-18 15:04] emilianosantin commented on #39251
here is what I get, but pandas does not import

[code]
[code]

[2021-01-18 15:05] MarcoGorelli commented on #39251
Please show the output of `pip install pandas` too

[2021-01-18 15:12] jreback commented on #39004
for `.loc` we do align labels on the values & the masks / indexers. I think we could do this for a DataFrame as well. For getitem though, we do much less and i think an argument could be made to raise on an alignable for 2D (eg DataFrame)

[2021-01-18 15:13] emilianosantin commented on #39251
thanks it worked!!! Now geopandas does not work but that is no here. I appreciate your help

[2021-01-18 15:14] MarcoGorelli commented on #39251
no worries!

[2021-01-18 15:14] #39251 closed

[2021-01-18 15:14] jreback commented on #38896
yep i agree here, these are the de-facto rules that we have had for quite a long time (at least implicitly). can we also write these down explicity in the docs.

[2021-01-18 15:22] simonjayhawkins commented on #38969
#28733 has been reverted. needs test to prevent regression.

[2021-01-18 15:25] simonjayhawkins commented on #38736
#28733 has been reverted. needs tests to prevent regression

[2021-01-18 15:29] simonjayhawkins commented on #38865
#28733 has been reverted. needs tests to prevent regressions.

[2021-01-18 15:31] simonjayhawkins commented on #38947
#28733 has been reverted. needs tests to prevent regressions.

[2021-01-18 15:32] simonjayhawkins commented on #39126
The commit that caused the regression has been reverted. needs tests to prevent regressions

[2021-01-18 15:33] simonjayhawkins commented on #26186
The PR that fixed this issue has been reverted.

[2021-01-18 15:35] simonjayhawkins commented on #11465
PR that fixed this, #28733 has been reverted

[2021-01-18 15:51] asishm commented on #39250
yes, this is an `openpyxl` bug then.

[code]

`wb.worksheets` is an empty list and pandas does `sheet = wb.worksheets[0]` which is what fails with the IndexError

[2021-01-18 16:22] jmakovicka commented on #29482
This seems fixed in Pandas 1.0

[2021-01-18 16:43] soumya17052002 commented on #4591
Hey since the Issue is still open. I am currently looking into it.

[2021-01-18 16:52] soumya17052002 commented on #4591
From your reference, I guess you want to keep some examples of how to construct a Period, here-
<img width="494" alt="Screenshot 2021-01-18 at 10 22 02 PM" src="https://user-images.githubusercontent.com/56285471/104943329-99531180-59db-11eb-9d09-ca0e3c2949a1.png">

[2021-01-18 16:53] matthewmturner commented on #20883
I think im having a similar issue.  I have the following filter `filter  = {'ListingType': ['coachListing']}` to apply on a df with this structure:

[code]

But when using `df.isin(filter)` i get the following:

[code]

Using `isin` on the series directly works without issue, but that doesnt really fit my use case where different data sources will be filtering on different columns/values so i want

[2021-01-18 17:06] coells commented on #29482
Agreed, closing as the bug seems to be fixed in 1.0

[2021-01-18 17:06] #29482 closed

[2021-01-18 17:20] asishm commented on #39250
did some digging - again - this is if anything an upstream issue.

openpyxl has this block of code:
[code]

the if statement becomes True for all the sheets.
`self.valid_files` is this list
[code]

but the relationships file (`rel.target`) has the filenames of the sheets as lowercase

[code]

This probably indicates this is a malformed excel file (given that Excel also tries to "fix" the errors) -

[2021-01-18 17:34] YarShev commented on #39250
Yes, more accurate error message would be better.

[2021-01-18 17:38] asishm commented on #38956
@NickFabry

Can you try running this snippet (linked) with your file? once with having `read_only=True` and `read_only=False` ?
https://github.com/pandas-dev/pandas/issues/39001#issuecomment-758069158

pasting below as well
[code]

[2021-01-18 18:11] NickFabry commented on #38956
I did as you requested on one of the spreadsheets displaying the problem. Interestingly, there were different results, as posted below:

[code]

[2021-01-18 20:20] AbhayGoyal commented on #36893
Hey, I have also never used the engines but would be happy to startup. Would really need your help here.

[2021-01-18 20:46] jorisvandenbossche commented on #39183
@afeld I added it to the calender at https://pandas.pydata.org/docs/development/meeting.html Can you check the time to be sure I picked the correct one?

[2021-01-18 20:50] simonjayhawkins commented on #39247
d75eb5ba1be16b6cd74fd44a68ce124be6575e4f...ff1cd78535f1badc74061c36700ea005193a8461

https://github.com/simonjayhawkins/pandas/runs/1723695416?check_suite_focus=true

perhaps #36997

[2021-01-18 20:51] quant-dc opened #39259 "BUG: Numpy ufunc accumulate doesn't run correctly on Pandas 1.2.0"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

Numpy maximum accumulate does nothing to the data compared with the same function applied to the numpy array (confirme

[2021-01-18 21:09] SouravPal1995 commented on #38808
take

[2021-01-18 21:16] jorisvandenbossche commented on #39259
@quant-dc thanks a lot for the report. That's caused by https://github.com/pandas-dev/pandas/pull/36955, will quickly look into a fix

[2021-01-18 21:17] SouravPal1995 commented on #32307
take

[2021-01-18 21:36] jorisvandenbossche commented on #39259
-> https://github.com/pandas-dev/pandas/pull/39260

[2021-01-18 21:55] simonjayhawkins commented on #39250
Thanks @YarShev for the report

since this worked in 1.1.5, i'll label as regression.

further investigations/PRs welcome

[2021-01-18 22:03] quant-dc opened #39261 "BUG: iloc assignment in Pandas 1.2.0"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

My apologies if this is two reports in one.

Previously (pandas 1.1.5), assignment of partial

[2021-01-18 22:09] jreback commented on #39261
i am not sure why you would expect any alignment at all here

these are positional indexers

the prior behavior is simply wrong

[2021-01-18 22:11] quant-dc commented on #39261
@jreback, thanks for the quick response. From reading the other issue I thought that may be the case. Thank you for the resolution.

[2021-01-18 22:11] #39261 closed

[2021-01-18 22:48] asishm commented on #39250
@simonjayhawkins The regression is because of the default engine being changed to openpyxl

in 1.1.5, specifying `engine='openpyxl'` leads to the same error.

There are many such issues where changing the engine has caused issues. #38956 #39001 and (https://github.com/pandas-dev/pandas/issues/34747#issuecomment-691546453 on #34747)

[2021-01-18 22:57] JuliaWilkinsSonos commented on #38956
@NickFabry I wanted to add that I had the same thing happen to me (thought it was just me at first). I had a previously working Excel file (output from a survey DB), that now fails when downloaded directly from the DB, but reads successfully if I change the read code to `header=1` (previously had 2 blank lines before header, used `header=3`) _and_ re-download the file. For example, if I upload the

[2021-01-18 23:31] afeld commented on #39183
@bollwyvl Added to [the list of potential topics](https://docs.google.com/document/d/1JoiqTdK6gi5W1QiTWrqtTV-rNmIqU3xROgHY5iT4J5g/edit#heading=h.c3mxsnpagwrm).

@jorisvandenbossche See [the time conversion](https://everytimezone.com/?t=6008c400,348) — it's an hour later than what I'm seeing on the calendar.

[2021-01-19 00:35] irgolic opened #39263 "BUG: 2D ndarray of dtype 'object' is always copied upon construction"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-01-19 00:45] zitorelova commented on #38808
I'd like to do updates for `core/frame.py` if no one else has done it yet.

[2021-01-19 00:59] yehoshuadimarsky commented on #36893
Open to working together on this if you want

[2021-01-19 01:27] zitorelova commented on #38802
Hello, I would like to take on the 1st task.

[2021-01-19 01:28] zitorelova commented on #38802
take

[2021-01-19 02:52] rchurt opened #39265 "ENH: pivot and pivot_table: option to name levels of new column multiindex"
#### Is your feature request related to a problem?
When I use `pivot` or `pivot_table` and pass a list of `values`, I get a multiindex on the columns, as the docs say. However, there is no kwarg in the `pivot` or `pivot_table` functions to name the levels of this multiindex.

#### Describe the solution you'd like

It would be nice to have a `level_names` kwarg in `pivot` and `pivot_table` so I cou

[2021-01-19 03:01] rchurt commented on #35313
@TomAugspurger sorry for the delay, but I just updated the issue to include more info

[2021-01-19 06:04] AbhayGoyal commented on #36893
I guess we should start with SQLAlchemy right?

[2021-01-19 09:32] WolfgangFellger commented on #39001
Turning read-only mode off has other implications though, in particular higher memory consumption.

According to openpyxl's docs, the recommended solution is to call [sheet.reset_dimensions()](https://openpyxl.readthedocs.io/en/stable/optimized.html#worksheet-dimensions). I. e. at the beginning of `OpenpyxlReader.get_sheet_data()`:

[code]
I monkeypatched this for our application and it seems to w

[2021-01-19 09:48] kxbin commented on #15988
+1 for append_skipdupes

[2021-01-19 10:09] amerry commented on #33971
Pandas 1.1.5 provided manylinux_aarch64 wheels for Pythons 3.6 through 3.8, which was great, thank you for that! The 1.2 release, however, doesn't include a manylinux_aarch64 wheel for Python 3.7, though - only for 3.8. Was this deliberate?

There is also no manylinux_aarch64 wheel for Python 3.9 (neither in 1.1.5 nor 1.2) - not sure whether this is deliberate either.

[2021-01-19 10:20] simonjayhawkins commented on #33971
Thanks to @janaknat for the aarch support for 1.1.4 and 1.1.5

see https://github.com/MacPython/pandas-wheels/issues/102 and https://github.com/MacPython/pandas-wheels/issues/121

contributions and PRs most welcome.

[2021-01-19 10:25] simonjayhawkins commented on #33971
see #38943 and https://github.com/MacPython/scipy-wheels/issues/106#issuecomment-737542345

[2021-01-19 10:28] simonjayhawkins commented on #37784
closing as discussion on official aarch support till open #33971

[2021-01-19 10:28] #37784 closed

[2021-01-19 10:44] bashtage commented on #38943
Could consider drone.io for ARM CI. It is not too burdensome, aside from the risk of CI-provider disruptions with a new CI.

[2021-01-19 10:45] datapythonista commented on #27976
Since the signature contains only `**kwargs`, so this is the only parameter that can be documented. In the description of the parameter you can explain about those accepted `kwargs`.

I think in this case it could make sense to change the signature of the function to something like `pie(self, y=None, subplots=True, **kwargs)`. Maybe there is a reason why it's not like this, but I think that should

[2021-01-19 11:07] simonjayhawkins commented on #39131
Thanks @JMBurley for the report.

closing this as the code sample does give the expected output on 1.2.0 see also #38781

feel free to open a new issue to highlight any of the other points raised here.

[2021-01-19 11:07] #39131 closed

[2021-01-19 11:09] erfannariman commented on #36893
Happy to help as well if you guys need more hands.

[2021-01-19 11:15] rgommers commented on #33971
Also note that conda-forge has 1.2.0 packages for `aarch64` as well as `osx-arm64` packages. They have structurally better support; if you're on ARM64 right now you should strongly consider using conda-forge.

[2021-01-19 11:20] simonjayhawkins commented on #39250
just to be clear

and this is unlikely to be changed. so any code that worked in 1.1.5 and does not in 1.2 should be considered a regression in the first instance (even if an upstream issue)

and the converse is also true, specifying `engine='xlrd'` in 1.2 and the code should work fine.

these should probably be labelled as regressions also (will look at these shortly)

[2021-01-19 12:01] jreback commented on #38943
sure - i think we need try something else - travis is completely unresponsive

[2021-01-19 13:56] simonjayhawkins commented on #38956
agreed

[2021-01-19 13:58] #39247 closed

[2021-01-19 14:07] simonjayhawkins commented on #39001
cc @WillAyd

[2021-01-19 14:07] kidpixo commented on #14773
Just found this bug in my code.

This happens for `np.int8`, `np.int16` but not for `np.uint8`,`np.uint16` and `np.int32`.
[code]

[2021-01-19 14:51] simonjayhawkins commented on #39250
labelled #38956 and #39001 as regressions. For #34747, or indeed any issue with the openpyxl  engine, since the default has changed could result in a regression from a user POV, we should consider backporting any fixes.

[2021-01-19 15:32] oguzhanogreden commented on #28572
take

[2021-01-19 16:19] #39259 closed

[2021-01-19 16:25] mroeschke commented on #39265
Though convenient, I'd be -1 on adding a new keyword just to add index level names.

Since there is already a method in renaming with `set_names`, I don't think it's worth expanding the API of `pivot_table`.

[2021-01-19 16:34] jbrockmendel commented on #38896
Great.  #39044, #39163, #39266 all push in this direction.  After those (and possibly #38709) we can consolidate a bunch of `Series.__setitem__/iloc.__setitem__` code and de-special case 1-block vs multiple-block paths.