[2019-12-17 02:28] jbrockmendel commented on #25509
Tracking this down, it looks like we get to tslibs.util.get_c_string_buf_and_size and within that we call `PyUnicode_AsUTF8AndSize` and fail there

[2019-12-17 02:39] WillAyd commented on #25509
So with regards to the OP I don't *think* this is a bug with pandas - an exception gets thrown when passing it as an argument to `print` in python though strangely enough the object seems OK held in a string

[code]

w.r.t. Cython I see the following warnings before segfault, so maybe something of interest there:

[code]

[2019-12-17 02:40] WillAyd commented on #30290
@uriielfl as mentioned should consult StackOverflow for usage questions - we typically just have bug reports and enhancement requests here

[2019-12-17 02:40] #30290 closed

[2019-12-17 02:42] WillAyd commented on #30276
This is by design and not likely to change; the advice from @lukzmu is good and matches the documentation for the function

[2019-12-17 02:42] #30276 closed

[2019-12-17 02:45] WillAyd commented on #30272
`number_format` is a property of certain openpyxl objects. DataFrames store the values of those cells and do not recreate the openpyxl object itself by design

[2019-12-17 02:45] #30272 closed

[2019-12-17 02:47] WillAyd commented on #30275
I think this would be a logical enhancement - interesting in submitting a pull request @stevecj ?

[2019-12-17 02:50] WillAyd commented on #30253
I think an issue with `axis=1` - this would work if transposing:

[code]

Interested in trying to debug @nlepleux ?

[2019-12-17 03:39] WillAyd commented on #16286
Hmm can someone confirm the issue here? Those error messages look OK to me

Maybe the default quoting is the confusing part? If you take what @dsm054 has and set the quoting to none I think would get what you are looking for:

[code]

[2019-12-17 04:13] CortlandMorse commented on #29547
I'll take:

- [ ] pandas/io/sql.py

- [ ] pandas/io/stata.py

Thanks!

[2019-12-17 04:21] AncientRickles commented on #29886
I'll do:

* [ ] pandas/core/indexes/numeric.py
* [ ] pandas/core/indexes/interval.py
* [ ] pandas/core/computation/eval.py
* [ ] pandas/core/reshape/tile.py
* [ ] pandas/core/indexes/base.py

[2019-12-17 05:02] datapythonista opened #30296 "DEPR: Remove pandas.np"
Not sure if it was added intentionally, but it's possible to call numpy with the `np` attribute of the pandas module:
[code]
While this is not documented, I've seen couple of places suggesting this as a "trick" to avoid importing numpy directly.

I personally find this hacky, and I think should be removed.

[2019-12-17 05:55] stevecj commented on #30275
I haven't worked on Pandas source before, but I'll certainly give it a shot.

[2019-12-17 06:13] datapythonista opened #30298 "CI: Checks job aborted if a step fails"
In our job that checks that the code is ok (flake8, mypy...) [1], we want to run all the steps whether any of them fail or not.

This is implemented by using `if: true` in each step. While this should work, it doesn't. A better way to implement this that probably fixes the issue is to use `if: always()` instead.

What we should do is:
- Replace all instances of `if: true` by `if: always` in the ya

[2019-12-17 06:15] #28193 closed

[2019-12-17 06:31] bnaul opened #30300 "Ability to Unnest Series of Dicts"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Maybe I'm missing some nuance of nesting or something that would potentially result in a different number of rows...? But it seems like if the rows of the output correspond to those of the input then the index should match as well.

#### Output of ``pd.show_versions()``

`pandas==0.25.3`

[2019-12-17 06:52] datapythonista commented on #29671
Thanks for the effort @lambertsbennett.

I think we're missing something here. My expectation was that the times would improve by just splitting couple of files in two. So if after what you did there is not a clear gain, I think there is something that we're not understanding.

I think what would be useful is first to gather all the information about what is going on. How long is every file taking

[2019-12-17 07:04] AlexKirko commented on #30296
There is a chance removing this will break something, in case adding it wasn't random, but I believe it should still be removed. It's ugly and the issues that might arise are easily fixable.

[2019-12-17 07:11] jorisvandenbossche commented on #21824
On latest master, it now even directly segfaults for me (not only on exit):

[code]

[2019-12-17 07:25] datapythonista commented on #30296
We remove everything gradually, by first raising warnings.

I think there are other things we may also want to check if we should remove, I saw a `pandas.array` that I guess is an alias for `numpy.array`.

[2019-12-17 07:26] mroeschke commented on #30296
Similar but more minor, looks like users will also import `datetime.datetime` with `import pandas` which I find odd.

[code]

[2019-12-17 07:30] AlexKirko commented on #30296
Fair point about the deprecation warning.

`pd.array`, however, isn't just an alias.

This works:
[code]
This doesn't:
[code]

[2019-12-17 07:39] suzutomato commented on #30298
I'd like to take this.

[2019-12-17 07:57] xhochy commented on #30296
The numpy import is actually explicit: https://github.com/pandas-dev/pandas/blob/37dfcc1acf3b37a1ff5251fee3380a179da1f2ed/pandas/__init__.py#L108 but is simply a redirect to normal `numpy`: https://github.com/pandas-dev/pandas/blob/37dfcc1acf3b37a1ff5251fee3380a179da1f2ed/pandas/core/api.py#L3 Still, I have often met users that swear that `pandas.np` is different from `np` as it provides a compata

[2019-12-17 08:01] datapythonista commented on #30298
Thanks @suzutomato

You can assign the issue to yourself by writing `take` in a comment.

[2019-12-17 08:04] jorisvandenbossche commented on #30296
We should do the same with `pd.datetime` I think (from `from datetime import datetime`)?

For python 3.7+, we can actually deprecate this with the module getattr trick (the same we use for Panel dummy class right now). So I think we can go through a deprecation cycle instead of directly removing.

[2019-12-17 08:05] datapythonista commented on #30296
Yep, I got confused, it's obviously our own array.

[2019-12-17 08:08] suzutomato commented on #30298
Sorry, I misunderstood the instruction in the contributing guide.
It had to be exactly "take", not including the exact word "take" in my comment.

[2019-12-17 08:08] suzutomato commented on #30298
take

[2019-12-17 09:00] Saurabhtiwari2890 commented on #11503
import pandas as pd
from xml.sax import ContentHandler, parse

# Reference https://goo.gl/KaOBG3
class ExcelHandler(ContentHandler):
    def __init__(self):
        self.chars = [  ]
        self.cells = [  ]
        self.rows = [  ]
        self.tables = [  ]
    def characters(self, content):
        self.chars.append(content)
    def startElement(self, name, atts):
        if name=="Cell":

[2019-12-17 09:06] nlepleux commented on #30253
I can surely try

[2019-12-17 13:25] #30280 closed

[2019-12-17 16:21] Jcole429 commented on #29547
523 `f"Length of 'value' does not match. Got ({len(value)}) "`
524 `f"expected {len(self)}"`
1044 `raise TypeError(f"cannot perform {name} with type {self.dtype}")`

It looks like this file has already been converted to f-strings

[2019-12-17 16:45] WillAyd commented on #30300
IIUC you want the resulting index to be 1 and 3 as well? `json_normalize` works on generic sequences (actually only documented for list) so doesn't attempt to preserve any index information

[2019-12-17 17:26] WillAyd commented on #17681
covered in #29124

[2019-12-17 17:26] #17681 closed

[2019-12-17 17:28] bnaul commented on #30300
Ah I see, I guess that makes sense. What I really had in mind was something like `Series.explode` but for (potentially nested) dicts instead of lists, and `json_normalize` seemed to be pretty close to that already. Applying `pd.Series` does this sort of "box"ing but only for one level:
[code]
I guess if `json_normalize` wasn't intended for this then what I'm really asking is whether there's anothe

[2019-12-17 17:29] WillAyd commented on #30300
Perhaps a DictArray like #29557 with an `unnest` method would work here but let's see what others think

[2019-12-17 17:34] jfmolano opened #30307 "Loading practice datasets without internet connection"
Should Pandas has a feature that allows to load practice datasets (i.e. Iris) without internet connection such as R feature?

The solutions I have found need external libraries.

[2019-12-17 17:37] TomAugspurger commented on #30307
I don't think we would want to include datasets in the package installed by pip / conda.

I'd be happy to see a `pandas.datasets` package that loads datasets and caches them to disk, or generates random datasets, similar to `sklearn.datasets`.

[2019-12-17 17:40] jfmolano commented on #30307
Ok! It seems nice! What do you think that would be the path to implement that from Github? I am a newbie at contributing with open source projects but I would like to implement that feature.

[2019-12-17 17:44] TomAugspurger commented on #30307
Will need some discussion and agreement from other maintainers first.

[2019-12-17 17:45] jfmolano commented on #30307
Ok! Thanks for your reply!

[2019-12-17 17:45] #30307 closed

[2019-12-17 17:47] TomAugspurger commented on #30262
That's what concerns me. Pandas would have no idea that `readme.txt` would need to be skipped, but some other file (or files) would need to be read.

@abmyii I'd recommend using `zipfile.ZipFile` to open your archive and get the filehandle for just the file / files you need, and pass that to pandas.

[2019-12-17 17:54] WillAyd commented on #21791
See discussion in #29669 I don't think we actually want this

[2019-12-17 17:54] #21791 closed

[2019-12-17 18:02] TomAugspurger commented on #29556
I think we have open PRs for everything except

1. Documentation
2. Refactoring to a base class between IntegerArray and BooleanArray

which are blocked by the outstanding PRs

- https://github.com/pandas-dev/pandas/pull/29964
- https://github.com/pandas-dev/pandas/pull/30231
- https://github.com/pandas-dev/pandas/pull/30239
- https://github.com/pandas-dev/pandas/pull/30245
- https://github.com/pa

[2019-12-17 18:09] abmyii commented on #30262
@TomAugspurger My suggestion implementation would require the specification of the file(s) to load from the zip - not an automatic indexer/loader.

This is a temporary solution I have implemented and everything else works fine, but I would like to see `pandas` abstract this step in the future.

[2019-12-17 18:14] #8508 closed

[2019-12-17 18:18] vigkrish92 commented on #23040
import pandas as pd
import matplotlib.pyplot as plt

I have faced the same error, I re-arranged the import order. It was working fine for me. Thanks

[2019-12-17 18:18] TomAugspurger opened #30309 "CI: travis-36-cov failing"
I'm seeing

[code]

in e.g. https://travis-ci.org/pandas-dev/pandas/jobs/626304911#L648

Still debugging. scikit-learn 0.22 was just released to defaults. Some of our deps look fishy there (mixing defaults and conda-forge a bunch).

[2019-12-17 21:51] jbrockmendel commented on #30300
Is the request for a change in how the `Series` constructor behaves, or something else?

[2019-12-17 22:39] abmyii commented on #30262
I decided to make a *very basic* POC where the file is specified after the `@` symbol (i.e. `data.zip@data.txt`).
https://github.com/abmyii/pandas/tree/multifile_zip

[2019-12-18 01:40] lambertsbennett commented on #29671
OK, I will get into rounding up this info!

[2019-12-18 02:46] jbrockmendel commented on #28924
cc @jorisvandenbossche might be geopandas related

[2019-12-18 03:10] jayenashar opened #30315 "join doesn't add rsuffix to all columns - multiindex - intermittent"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The last line of code sometimes works and sometimes doesn't add a suffix to all columns.  You can see in this screenshot that `_prev5` has not been added to the last `('ratio', '1200')` column.
![image](https://user-images.githubusercontent.com/1137152/71052341-273c4780-219f-11ea-9f2e-804cc475996d.png)

Please

[2019-12-18 03:13] jbrockmendel commented on #22496
Tom didn't have time, but PRs are welcome.

[2019-12-18 03:15] jayenashar commented on #30315
the same example with fewer columns, also showing the same issue.  if i remove `('collection_end_time', 'is_public_holiday_flag')` there is no issue.

[code]

![image](https://user-images.githubusercontent.com/1137152/71052800-99f9f280-21a0-11ea-8a04-57871b9badd1.png)

[2019-12-18 06:04] MezentsevIlya opened #30316 "Not possible to concatenate DataFrames with sparse data without copying"
#### Code Sample

[code]
#### Problem description
Hello! Since `SparseArray` is no longer a subclass of `numpy.ndarray` (pandas>=0.24.0) it is not possible to concatenate dataframes with `SparseArray` dtype using `pandas.concat`.
The problem is `SparseArray` has not attribute `view` which is used in `pandas.core.internals.managers.py` at function `concatenate_block_managers` when parameter `copy`

[2019-12-18 07:46] jorisvandenbossche commented on #30316
This seems to be fixed on master (to be released as 1.0 shortly):

[code]

(and I also see that error on 0.25.3)

I am not fully sure if this was fixed purposefully, as if not, it would be good to still add a test for this.

[2019-12-18 07:49] jorisvandenbossche commented on #23557
This seems to work now:

[code]

would still be good to add tests for this.

[2019-12-18 07:51] jorisvandenbossche commented on #20756
This is working now on master. It would still be good to add a test for this.

[2019-12-18 07:52] jorisvandenbossche commented on #30316
Going to close this as a duplicate of https://github.com/pandas-dev/pandas/issues/20756, which described the same issue but in general for extension arrays.

PRs to add tests is still welcome!

[2019-12-18 07:52] #30316 closed

[2019-12-18 08:01] rootcss opened #30317 ".to_parquet() to a StringIO() causes python to crash"
[code]

Error:
[code]

Edit:
The cause for the error is that instead of a String buffer, we should use Bytes buffer (io.BytesIO). But anyhow, the exception should be handled and shouldn't cause the interpreter itself to die.

[2019-12-18 08:11] #29250 closed

[2019-12-18 10:00] martinfleis commented on #28924
@jbrockmendel it was reported to geopandas but we found out that the issue is in pandas as seen above. So even though we might be able to do some kind of patch in geopandas, it does not resolve the issue.

[2019-12-18 10:39] #30189 closed

[2019-12-18 10:43] simonjayhawkins commented on #30317
Thanks @rootcss for the report. I guess we should check the fname parameter and raise an appropriate user-facing message.

something like `TypeError: fname should be str or BytesIO, got {type(fname)}`

[2019-12-18 10:57] simonjayhawkins commented on #30315
@jayenashar can you try on master

[code]

[2019-12-18 11:15] jayenashar commented on #30315
sure, i will use master from now on and report back if it pops up.

[2019-12-18 12:03] boing102 opened #30320 "Read_json overflow error when json contains big number strings"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The current behaviour doesn't return a dateframe for a valid JSON. Note when the number is smaller, it works fine. It also works when only big numbers are present. It would be cool to have it work with big numbers as it works for small numbers.

#### Expected Output
A dataframe with a number and string
[code]

[2019-12-18 12:06] vignesh-md commented on #30317
I'd like to contribute and I'm a newbie here.

[2019-12-18 12:12] baevpetr commented on #30317
Me as well.

[2019-12-18 12:20] jorisvandenbossche commented on #30317
@rootcss what version of pyarrow are you using? (can you show the result of `pd.show_versions()`)
I think this is already fixed in pyarrow. With pyarrow master I get:

[code]

[2019-12-18 12:32] #30309 closed

[2019-12-18 12:38] baevpetr commented on #30232
Hi, I would also like to take part.

[2019-12-18 13:59] baevpetr commented on #29886
I'll do:
- [  ]  pandas/core/arrays/categorical.py
- [  ]  pandas/core/arrays/datetimelike.py
- [  ]  pandas/core/computation/align.py
- [  ]  pandas/core/computation/expressions.py

[2019-12-18 14:02] baevpetr commented on #29547
I'll do:
- [ ]  pandas/core/arrays/datetimelike.py
- [ ]  pandas/core/computation/align.py

[2019-12-18 14:36] languitar opened #30323 "json_normalize skips an entry in a pymongo cursor"
I am sorry for not being able to provide a reproducible example, but any attempt to reduce the problem to something limited makes the problem disappear.

[code]
#### Problem description

I have a pretty large collection of documents in MongoDB, which I am querying using pymongo. The resulting cursor is passed to `pd.io.json.json_normalize` to convert the resulting data into a data frame. In one ex

[2019-12-18 16:27] climatebrad opened #30324 "errors='ignore' does not work on df.replace({col : type}) if col not found"
This may be considered a feature request

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A KeyError is still raised if the column name is not found. I'd think errors='ignore' should suppress this error.

#### Expected Output

Unchanged dataframe.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this l

[2019-12-18 16:56] #29976 closed

[2019-12-18 17:09] rohitkg98 commented on #30320
take

[2019-12-18 17:16] thegrapesofwrath opened #30325 "Inconsistent Data Types and Failure to Recognize Type Annotations"
[examples.zip](https://github.com/pandas-dev/pandas/files/3979600/examples.zip)

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The current behavior is an issue because the pandas library ignores any type annotations when using the apply method. When using the apply method the type annotation should take precedence before pandas attempts to guess at the dat

[2019-12-18 17:27] jbrockmendel commented on #29976
nice, thanks for tracking this down @jorisvandenbossche

[2019-12-18 17:51] rohitkg98 commented on #30320
I'm new to Open Source contributions so please bear with me. It seems that we are coercing ints wherever possible while parsing JSON. The code b/w line 943 to line 950 in file [pandas/io/json/_json.py](https://github.com/pandas-dev/pandas/blob/4e807a2923804eb231eb9b7c991273e860c25726/pandas/io/json/_json.py#L943) is what is causing the problem. The int coerce is being checked using a try except wh

[2019-12-18 17:59] jbrockmendel commented on #25509
Doing some googling, is there a specific range of unicode characters that are surrogates that we might be able to screen for?  Are there non-surrogate "pathological" cases we need to worry about?

[2019-12-18 18:04] jbrockmendel commented on #19419
Closing based on the argument above.  Feel free to re-open for further discussion.

[2019-12-18 18:04] #19419 closed

[2019-12-18 18:17] #30253 closed

[2019-12-18 18:21] rugg2 commented on #14553
@brylie we could add a new parameter that's true, but as you know each new parameter makes an API more clunky. There is a tradeoff.

If we have to chose among the current parameters, as you said we initially thought of using the **method** argument, but after more thoughts we realised that both (1) the usage and (2) the logic better fits the **if_exists** argument.

**1) from a usage point of view

[2019-12-18 18:46] PhanatosZou commented on #30317
I'm new here and I'd like to work on this issue:)

[2019-12-18 19:16] jbrockmendel commented on #21936
Does this affect DataFrame.summary?  The Index method itself has been removed.

[2019-12-18 19:16] bnaul commented on #30300
@jbrockmendel it was originally a request for a change to `json_normalize`, but it sounds like that function wasn't intended to handle inputs that are already in `Series` form.

I think it probably makes sense to close this as a standalone issue for now because I don't think changing the `Series` constructor makes sense; @WillAyd's proposal for a `DictArray` would definitely be a great place for t

[2019-12-18 19:16] #30300 closed

[2019-12-18 19:19] jbrockmendel commented on #12816
@mroeschke have any of the recent deprecations/removals dealt with this?

[2019-12-18 19:24] TomAugspurger commented on #30236
I think everything has been addressed here.

[2019-12-18 19:24] #30236 closed

[2019-12-18 19:28] mroeschke commented on #12816
Don't think so. `dayofweek` and `weekday` are still supported methods/attributes

[2019-12-18 19:36] jorisvandenbossche commented on #30317
I am not sure there is something to fix. I think it is fine to rely on pyarrow for catching this, and it already works fine on the latest version.

[2019-12-18 19:53] #27586 closed

[2019-12-18 20:51] TomAugspurger opened #30332 ""Next" link from user_guide/io.rst goes to read_sql_table API page"
I think that's because we include a `:toctree:` on line 4,832

[code]

We likely don't need that `toctree`. Deleting it may fix the issue.

To check, we probably need to do a full doc build.

[2019-12-18 20:53] TomAugspurger commented on #30332
Ideally the "Next" button would go to the next page in the User Guide toctree, "Indexing and selecting data".

[2019-12-18 21:23] baevpetr commented on #23557
Hi, can I work on it ?

[2019-12-18 21:30] jayenashar opened #30333 "TypeError: '<' not supported between instances of 'str' and 'int'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

installed master with `pip install https://github.com/pandas-dev/pandas/archive/master.zip`

things that use the version don't work

<details>
<summary>show_versions()</summary>
---------------------------------------------------------------------------

TypeError                                 Traceback (most

[2019-12-18 21:33] jbrockmendel commented on #8055
@rockg is this something you're still interested in getting fixed?  I'm hopeful we can at least get to a non-segfault failure mode and a useful error message

[2019-12-18 21:37] baevpetr commented on #20756
Hi, can I take this one ?

[2019-12-18 21:40] nschloe opened #30334 "COMPAT: numpy test warning"
I'm currently testing a numpy deprecation to assess its impact on the ecosystem (https://github.com/numpy/numpy/pull/10615). To this end, I'd like to run pandas tests with `-Werror`. Doing that, I see that pandas throws a bunch of warnings at other places. Are those intentional? Perhaps pandas should test warning-free out of the box.

[2019-12-18 21:50] jbrockmendel commented on #20926
is this about linting we do at PR-time or at release-time or [...]?

[2019-12-18 21:56] baevpetr commented on #5586
So are tests required here now? if so, could I try to implement them?

[2019-12-18 21:59] rockg commented on #8055
@jbrockmendel Sure, it would be good to get fixed but I'm not sure that it
is even a pandas problem. Also, reproducing this might be difficult as I no
longer have access that that specific network setup and it may very well
have been a result of that setup. If others have had this problem, then I
think it's worth effort but that is probably difficult to determine. Having
a suggested workaround may

[2019-12-18 22:13] TomAugspurger commented on #20926
PR time I think.

[2019-12-18 22:17] baevpetr commented on #10720
Hello, can I participate here ?

[2019-12-18 22:20] #11363 closed

[2019-12-18 22:26] TomAugspurger commented on #30334
We raise on warnings from NumPy in our numpydev build, which uses the environment from ci/deps/azure-37-numpydev.yaml.

I'm not sure how feasible it would be to fail on warnings for all our builds, given the number of optional dependencies we have.

[2019-12-18 22:27] TomAugspurger commented on #30334
That's set in configured at https://github.com/pandas-dev/pandas/blob/master/ci/azure/posix.yml#L47-L53.

[2019-12-18 22:37] baevpetr commented on #6783
Hi, can I take it ?

[2019-12-18 22:39] wesm commented on #10556
I've run up against this issue myself (like fighting with my own ghost) in the context of ARROW-3789 as there are use cases where users are converting very large (tens of gigabytes) Arrow tables and wish to avoid excess allocations / memory copying. In certain narrow use cases (i.e. no strings, no nulls), it is actually possible to do fully zero-copy construction of `DataFrame` from Arrow memory.

[2019-12-18 22:48] nschloe commented on #29622
Bumped into this as well, downgrading to beautifulsoup4 4.7.1 fixed it for me.

[2019-12-18 23:00] jbrockmendel commented on #8055
Can you try to reproduce it with whatever network setup you do have access to?  Without being able to reproduce, there's not much we can do

[2019-12-18 23:23] jbrockmendel commented on #8976
We now raise `IndexError: Item wrong length 3 instead of 4.` on this which looks about right

[2019-12-18 23:26] jbrockmendel commented on #8004
Closed by #23392

[2019-12-18 23:26] #8004 closed

[2019-12-18 23:34] jbrockmendel commented on #10720
@baevpetr go for it

[2019-12-18 23:36] jbrockmendel commented on #30334
This would fail in a bunch of places we don't have control over.  The biggest one is imports from `collections` that need to be updated to import from `collections.abc`.  We could try silencing those in the pytest config and see if whats left is manageable.

[2019-12-18 23:37] jbrockmendel commented on #5586
@baevpetr yes, that applied to any issue with the "Needs Tests" label

[2019-12-18 23:38] nschloe commented on #30334
I'm playing around with it atm and will submit a PR shortly. We can look at the diff then.

[2019-12-19 00:04] jbrockmendel commented on #18198
@AbdealiJK this shouldn't be too hard to fix, but in order to test will need a zero-observation sas7bdat file.  can you provide one?

[2019-12-19 00:31] jbrockmendel commented on #9145
Is this fixed by #30096?

[2019-12-19 01:01] alimcmaster1 commented on #30232
Write which section you would like to work on here - to avoid any conflicts

[2019-12-19 01:55] jschendel opened #30337 "BUG: infer_dtype_from_scalar with pandas_dtype=True doesn't infer IntervalDtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`infer_dtype_from_scalar` with `pandas_dtype=True` infers the dtype for `Interval` objects as `np.object_` instead of as an `IntervalDtype`.

#### Expected Output
I'd expect `Out[4]` to have the dtype as `IntervalDtype(subtype=np.int64)`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----

[2019-12-19 02:25] jbrockmendel commented on #29803
Is this fixed by #30096?

[2019-12-19 03:12] jayenashar commented on #30315
hi there!  i'm pretty sure this is fixed in master.  I ran it in a loop and was able to reproduce it almost instantly with 0.25.3 but with master it's not having any issues.

[code]

[2019-12-19 05:23] rootcss commented on #30317
Upgrading pyarrow to latest resolves it. Thanks @jorisvandenbossche

[2019-12-19 05:23] #30317 closed

[2019-12-19 07:51] souvik3333 commented on #30232
I have started working on "Code Style and Conventions". I will comment on others if I started working on them.

[2019-12-19 08:01] souvik3333 commented on #30332
Hi, Can I do it?

[2019-12-19 08:37] brylie commented on #14553
Yep, you understand my point. The current implementation is a net positive but slightly diminished by ambiguous semantics.

I still maintain that the `if_exists` should continue to refer to only one thing, table existence. Having ambiguity in the parameters negatively impacts readability, and might lead to convoluted internal logic. Whereas, adding a new parameter, like `upsert=True` is clear and

[2019-12-19 09:46] simonjayhawkins commented on #30315
Thanks @jayenashar for that. I'll close for now. feel free to reopen if you have any more issues.

[2019-12-19 09:46] #30315 closed

[2019-12-19 09:48] dumbledad commented on #16550
I have the same issue ("taking a subset of the columns and then further working with it") but in my case the further working was in the suggested form which made the error message doubly confusing, i.e. this line of code

`d_and_a.loc[:,'next_tool_id'] = d_and_a['tool_id'].shift(-1)`

gave this error

[2019-12-19 09:54] simonjayhawkins commented on #30232
In some places the wiki is quite outdated, so may be best to open a PR before you do too much work for feedback. You can mark it as WIP or Draft.

[2019-12-19 10:08] baevpetr commented on #10720
take

[2019-12-19 10:09] tniharika commented on #30332
Hi,

I would like to work on this

[2019-12-19 10:20] gVallverdu opened #30346 "color attribute of medianprops is not correctly understand in a boxplot"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The problem comes from the boxplot function in a dataframe. This function is linked to the matplotlib function. I got an issue when I try to change the color of the medians using the `medianprops` argument of the function (which is a matplotlib argument). If I use the same instruction directly with the boxplot

[2019-12-19 10:38] simonjayhawkins opened #30347 "tm.assert_series_equal checking on Integer EA should be exact by default?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

does not raise

#### Expected Output

`AssertionError: ExtensionArray are different`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 03dffb1eb312d1bc535e26f43e32c11e0584c8c5
python           : 3.7.3.final.0
python-bits      : 64
OS               : Wind

[2019-12-19 12:11] TomAugspurger commented on #30347
What do we do for a NumPy int64-dtype array?

[2019-12-19 12:16] simonjayhawkins commented on #30347
That behaves the same, perhaps less restrictive issue title. I see some previous discussion on this (e.g. #26272) and concerns of it being a breaking API change.

For Integer EA, maybe this won't apply?

IMO integers should be exact, could be identifiers, i.e. invoice number. If our tests are checking for exactness by default then we could have latent bugs.

with check_exact works fine.

[2019-12-19 13:28] DavidMStraub commented on #28665
I'm also running into this warning. It's actually even simpler to reproduce:

[code]
This will raise the warning. The reason, I think, is ironic: `pandas` warns against using the Series' method inspite of the function, but `numpy`, when using the function, tries if there is a method and uses that preferably:
https://github.com/numpy/numpy/blob/master/numpy/core/fromnumeric.py#L2541-L2548

[2019-12-19 13:34] TomAugspurger commented on #30347
Agreed. +1 for sure on IntegerArray, and probably on int64, though I don't recall the details on why it's not exact right now.

[2019-12-19 13:35] simonjayhawkins commented on #30320
if test_json is `[{"col": "31900441201190696999"}, {"col": "Text"}]`, would we not expect the result to be a string and  `OverflowError: int too big to convert` should not be raised. (eg. a number as a string could be a barcode)

If test_json is `[{"col": 31900441201190696999}, {"col": "Text"}]`, then expecting a DataFrame with a number and a string would be reasonable. This currently raises `Valu

[2019-12-19 13:37] #27568 closed

[2019-12-19 13:38] TomAugspurger commented on #30332
That'd be great if either of you could take this. Let's give preference to @souvik3333 since they commented first, though please comment if you can't work on it anymore. I believe you can self-assign an issue by posting "take".

[2019-12-19 13:42] TomAugspurger commented on #30346
Can you step the code to see where the keyword isn't passed through?

[2019-12-19 13:57] TomAugspurger commented on #28665
We faced a similar issue with argmin / argmax: https://github.com/pandas-dev/pandas/pull/16955/files

The recommendation is to have people do `np.ptp(pd.Series([1, 2, 3]).to_numpy())` in the meantime. Does anyone want to update the deprecation message?

[2019-12-19 14:08] #30337 closed

[2019-12-19 14:47] baevpetr commented on #10720
I want to clarify: after calling `pd.to_datetime('some_nonsense', errors='raise')` we get:
[code]
`ValueError` raised in `dateutil/parser/_parser.py` (line 649):
[code]
and we catch it in `pandas/core/arrays/datetimes.py` (line 1968):
[code]
For now I see variants:
1) Append '_you can coerce to NaT by passing errors='coerce'_' for both of `ValueError`s.
2) Distinguish them based on the message.
3)

[2019-12-19 15:10] souvik3333 commented on #30332
take

[2019-12-19 15:41] TomAugspurger commented on #30333
@jayenashar do you see the same if you clone the repository and pip install from that? Does versioneer work with zip installs?

[2019-12-19 15:43] TomAugspurger commented on #30333
IIUC, this looks like https://github.com/warner/python-versioneer/issues/140. Apparently versioneer can't get the necessary information from the zip archive. You'll need to clone it with git manually, or have pip do it with `pip install git+https://github.com/pandas-dev/pandas`.

LMK if that doesn't work and I'll reopen.

[2019-12-19 15:43] #30333 closed

[2019-12-19 15:54] arunhpatil commented on #25316
Thank you @helco88.
This solution works, however, if there are multiple versions of python3 installed i.e., python3.6 and python3.8 or similar then this will not work no matter how many times we try this. It is better to install these packages for the specific or the current python version in use.

[code]

[2019-12-19 16:28] TomAugspurger opened #30349 "PERF: Speed up boolean masking on Series / index"
On master, this takes a boolean mask on a 10,000 element series take me ~300us

[code]

Much of that time is spent in a `try / except` inside `Index.get_value`

[code]

That can never succeed for a boolean mask. By skipping that path entirely, we improve perf on this example by ~2x

[code]

We might be able to restructure `Index.get_value` or `Series.__getitem__` a bit to not go down this path whe

[2019-12-19 16:31] souvik3333 commented on #30332
@TomAugspurger I have updated this issue on document Version 0.26.0.dev0+1351.g70a083f04.dirty but in pydata.org version 0.25.3 is available. Should I do anything about it?

[2019-12-19 16:33] jbrockmendel commented on #10720
@baevpetr without looking at it _too_ closely, I'm tentatively ruling out variant 3.

As the person volunteering to put in the time to improve this, you get to choose your preferred approach.

[2019-12-19 16:35] TomAugspurger commented on #30332
No, we won't update the old docs. When your PR is merged, it'll automatically be deployed to dev.pandas.io shortly after.

[2019-12-19 16:43] MarcoGorelli commented on #11052
Sure, I've submitted a simple PR.

What should this method return if there's a wide DataFrame? (or is this an enhancement that would get taken care of at a later stage?)

[2019-12-19 17:26] pshMsGsAZL2n07ohWBCAGX9cC opened #30351 "Pivot Table Margins aren't correctly showing NaN values despite dummy variables"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Pivot Table Margins ("Total") isn't showing 0 values for rows, yet will do so for columns (e.g., Product C).  As a result, the heatmap is empty for the "Total" column related to the rows ('Manf' and 'Retail') in my example.  It is treating those rows as NaN for Margin, and setting fill_value at 0 doesn't fix i

[2019-12-19 17:40] #23574 closed

[2019-12-19 18:02] thomasaarholt opened #30352 "Too long error when accessing invalid DataFrame column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This error is extremely long and makes it hard to debug a very simple error when the code is part of a larger block of code.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits

[2019-12-19 18:10] vapoto opened #30353 "Resampler sometimes adds extra bin with NaN"
#### Code Sample

[code]
#### Observed Output
[code]
#### Expected Output
[code]
#### Problem description
Downsampling and then applying (any) function to the Resampler object seems to add an extra bin in some cases. It is unclear when this exactly occurs, but these two conditions seem necessary (but not sufficient) to reproduce the bug:
- the resampling period does not exactly fit in the original

[2019-12-19 18:14] simonjayhawkins commented on #30352
Thanks @thomasaarholt for the report. I _think_ this is covered by #25996 so closing and marking as duplicate.

[2019-12-19 18:14] #30352 closed

[2019-12-19 18:17] rohitkg98 commented on #30320
The ValueError is raised inside _ultrajsondec.c_ . Should I try to solve this in '.c' or add an exception handler in __json.py_?

[2019-12-19 18:18] thomasaarholt commented on #30352
Gotcha. I tried searching first, but I missed the "verbose" keyword and didn't find it at first. Might be worth labelling #25996 as a good first issue?

[2019-12-19 18:20] simonjayhawkins commented on #30352
probably needs more discussion/agreement before a PR is raised. I'll mark it as needs discussion though.

[2019-12-19 18:56] topper-123 opened #30356 "#30214 (Parallelized Build / CI) caused a build failure for me"
Currently I can't get pandas build.

I get the message when running ``python setup.py build_ext --inplace -j 4``:

[code]

I can't really parse what's going on, but the build seems to go back to the same RuntimeError repeatedly.

I've triaged the issue to stem from #30214. Any idea what's happening, @WillAyd ?

## Workaround

I can work around the issue by building with parallelization, i.e. run `

[2019-12-19 19:15] JayMan91 opened #30357 "Pandas assign malfunctions with if/else conditional check"
#### Problem description
I need to create a new column within a pandas daframe from the values of another column. For instance, provided the city column in the following dataframe , the new column will duplicate the value from the city column only if it is within a list , otherwise the correspnding netries woill be populated as "other". The following code snippet works like a charm.
[code]
####  O

[2019-12-19 19:26] WillAyd commented on #30356
Not sure about Windows so if you have time / interest in taking a look that would be great. The PR reference actually *allows* parallel builds; before `-j0` and `-j4` were doing the same thing, so you can of course not specify it and be in the same place

[2019-12-19 19:27] hasnain2808 commented on #29547
i would like to take
i just now did a pull request on it
[x] pandas/core/indexers.pyz
a

[2019-12-19 19:33] simonjayhawkins commented on #30356
Yeah, I have the same problem in Windows and am now using just `python setup.py build_ext --inplace`.  maybe should have a doc update in the meantime.

[2019-12-19 20:06] gVallverdu commented on #30346
Can you said to me how do you want I do it ? You mean with `pdb` ?

[2019-12-19 20:06] topper-123 commented on #30356
I'm not too familiar with building Cython and that traceback doesn't give many clues AFAICT.

If this is a Windows problem, maybe then only pass the parallel arguments to build cython if we're not on windows?

[2019-12-19 20:14] jbrockmendel commented on #30356
@scoder does the traceback here mean anything to you?

[2019-12-19 20:39] jbrockmendel commented on #28924
Looks like in pandas.core.internals.blocks.setitem on L841 we effectively do `arr_value = np.array(line_2)`, which gives a 2D array because of (I guess) `__array_interface__`.  To fix this in pandas, we'd need to make the check for "should we call np.array here" a few lines up smarter.  PR would be welcome.

Don't these objects live inside of a geopandas ExtensionArray?  I would expect that skirt

[2019-12-19 20:39] phdnzdeveloper opened #30359 "read_csv Pass File System (AWS, GCP) as Option."
#### Code Sample

[code]
Or
[code]
#### Problem description

Hi Team, I am currently using pandas for query a lot of CSV data from different file system such as AWS, GCP. However, with a current option, it just allows default key/secret credential from configuration file **[default]**. So I would like to ask for an option to pass a pre-created file system to read CSV files from different clouds wi

[2019-12-19 20:53] jbrockmendel opened #30360 "DISC/REF: split frame.py and generic.py into smaller files"
These files are big enough that GH has trouble displaying a blame.  I think we should consider splitting pieces of these off into other files.  Brainstorming:

- `_make_logical_function`, `_make_cum_function`, `_make_stat_function_ddof`, `_make_stat_function`, `_make_min_count_stat_function` at the bottom of generic could have their own file, maybe `ops.unary`
- shared_docs could go in a dedicated

[2019-12-19 20:59] phdnzdeveloper opened #30361 "Pandas Read and Write Many Files."
#### Code Sample
prefix_of_filename_1.csv
prefix_of_filename_2.csv

[code]
#### Problem description

Hi Team,

I would like to request a feature to read and write multiple files at a same time. It would be nice to have features like that for preparing data for concurrent data reading system.

Kind Regards
Giang

[2019-12-19 21:07] martinfleis commented on #28924
@jbrockmendel If it is in GeometryArray (ExtensionArray), then the issue is not present.

As you say, the check needs to be smarter, because if you try to pass `shapely.MultiLineString` instead of `shapely.LineString` as above, it fails as well, but at different point. That fails even for GeometryArray and standard loc (without condition as above), although at different points. I assume it is rela

[2019-12-19 21:07] scoder commented on #30356
@jbrockmendel no, never seen this before. Probably specific to MS-Windows. The error message seems misleading – unless there is really a kind of "freezing" (py2exe etc.) going on on the user side, which I very much doubt. But it's some kind of multiprocessing hickup.

[2019-12-19 21:10] WillAyd commented on #30356
if someone wanted to try adding the freeze_support call to setup.py might help

Sent from my iPhone

[2019-12-19 21:30] TomAugspurger commented on #30361
How exactly would that work? I suspect that the right answer is to use some thread or process pool managing mean read_csv / to_csv calls. Pandas probably isn't the right layer to think about this.

[2019-12-19 21:34] topper-123 commented on #30356
I tried adding in various locations in setup.py (top level and inside maybe_cythonize). Neither worked.

[2019-12-19 21:36] phdnzdeveloper commented on #30361
Hi Tom,

I mean we can do it in sequence.

[2019-12-19 22:04] levmorgan opened #30364 "rank() throws TypeError: 'NoneType' object is not callable"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Running the rank method on the grouped table throws `TypeError: 'NoneType' object is not callable`

#### Expected Output

It should return ranked data for each year, or a descriptive error message.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
p

[2019-12-19 22:07] WillAyd opened #30365 "IntervalIndex Comparisons of Signed / Unsigned"
Compiling intervaltree.pxi.in yields 128 warnings in the build, most of which deal with the comparison of signed and unsigned data.

These warnings add to the compile time, but also for sure highlight bugs like this:

[code]

I think should probably separate unsigned vs signed parametrization

[2019-12-19 22:11] WillAyd commented on #30365
ref #27169

[2019-12-19 22:14] TomAugspurger commented on #30361
Gotcha. So on the read side of things, you'd like to pass a list / globstring of files? I think that'd have a poor interaction with many of pandas' other keyword arguments. Things like the header, skipping rows, chunking, become more complicated if `read_csv` means more that multiple files.

I'd recommend reading the files in separately and concatenating them, or using dask.dataframe.

[2019-12-19 22:15] jjarthur commented on #29946
Hi @TomAugspurger, I'm still interested in this if it could get reopened. Thanks!

[2019-12-19 22:17] #30361 closed

[2019-12-19 22:24] tigerhawkvok opened #30367 "to_parquet mishandles dates"
#### Code Sample

This generates a series of ints for dates, which when trying to be imported elsewhere fails

[code]

Instead, [consider something like this](https://medium.com/@andyreagan/tricks-for-coercing-pandas-into-parquet-d1137421db88) to run as a preprocessor for dates before saving as parquet as the default (or at least a flag):

[code]

#### Problem description

The whole purpose of exp

[2019-12-19 22:29] TomAugspurger commented on #29946
Thanks for the ping and update. The tracback points to a method in multiprocessing.

[code]

Which can be recreated with

[code]

It's not clear to me that BaseManager was defined with managing arbitrary objects in mind. The docs list a few types that are supported, and mentions `register` for custom types https://docs.python.org/3/library/multiprocessing.html#multiprocessing.managers.BaseManager.

[2019-12-19 23:31] jreback commented on #30360
sure this sounds reasonable

shared docs and/or io would be a good place to start

[2019-12-19 23:40] lithomas1 commented on #30296
take

[2019-12-20 02:27] jnothman commented on #14260
I think this remains an issue. nan should not be included in colour normalisation for background_gradient .

[2019-12-20 02:40] WillAyd commented on #30332
closed via #30348

[2019-12-20 02:40] #30332 closed

[2019-12-20 02:53] jbrockmendel commented on #28851
I'm inclined to avoid adding this complexity to the pandas html table reader, but if you have a robust solution, we could definitely add a link to it in the docs.

BTW for non-pandas work I've tried to implement a more general html parser and usually regretted it.  I'd be interested in seeing a parser that can elegantly handle these:

- Nested table, but the outer table is pretty much just a title

[2019-12-20 03:42] jbrockmendel commented on #11999
@jreback think this is relevant for non-panel?

[2019-12-20 04:07] jbrockmendel commented on #25509
In `pd._libs.tslibs.util.get_c_string_buf_and_size` if we change:

[code]

to

[code]

then a) the `dir(df)` call doesn't raise/segfault, b) `dir(df)` does _not_ contain the column name like we would expect, c) `df.columns.unique()` doesn't raise/segfault, d) `df.columns.unique()` _does_ contain the 1 entry we expect.

Not sure what to do with this information, but its out there.

[2019-12-20 08:27] asishm commented on #30357
The callable you pass to `df.assign` takes as input the entire dataframe, but with `df.apply(callable, axis=1)` you are passing each row to the callable.

in the case of

`df.assign(MajorCity = lambda x:x.city if x.city in ['Kolkata','Delhi','Mumbai'] else 'other')`

the `x` in the lambda function is `df` and `x.city` is a Series equivalent to `df.city` which is where `x.city in ['a', 'b', 'c']` l

[2019-12-20 10:08] MarcoGorelli opened #30375 "Is `@td.skip_if_no("pathlib")` necessary?"
Admittely this is very minor, but
there's a few parts in the codebase (e.g. `pandas/tests/io/test_common.py`) where there is
[code]
As of `v1.0`, the minimum Python version supported will be 3.6.1, so `pathlib` will always be present as part of the standard library.

[2019-12-20 10:39] ARF1 commented on #10556
@wesm I had a similar problem with performant `boclz` integration a few years back. Would [this approach](https://github.com/pandas-dev/pandas/issues/9216#issuecomment-96010858) help in the meantime? While this is not zero-copy, in my case the memory copy had a negligible performance impact compared to the pandas blocks construction.

This worked for my fairly limited use case then. No thorough te

[2019-12-20 11:56] #12724 closed

[2019-12-20 12:18] TomAugspurger commented on #30375
No necessary anymore, it can be removed.

[2019-12-20 12:18] TomAugspurger commented on #30367
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports.

[2019-12-20 12:25] TomAugspurger commented on #30364
Thanks for the excellent report. This appears to be "fixed" on master, as no error is raised.

[code]

We still have https://github.com/pandas-dev/pandas/issues/19560 for discussing what to do with non-numeric data.

[2019-12-20 12:25] #30364 closed

[2019-12-20 12:30] TomAugspurger commented on #30357
Thanks for the explanation @asishm!

[2019-12-20 12:30] #30357 closed

[2019-12-20 12:31] TomAugspurger commented on #30346
Yep, that's how I would do it. We eventually call `Axes.boxplot` and should pass through all the extra `**kwargs`, but apparently some are being dropped somewhere (or perhaps overridden later on?)

[2019-12-20 12:43] JayMan91 commented on #30357
Thanks for the explanation. Is there any way to create the new column by pands.assign command in this case?

[2019-12-20 14:02] jreback commented on #11999
no i don’t think so

[2019-12-20 14:02] #11999 closed

[2019-12-20 14:24] dfonnegra opened #30378 "Pandas date_range error when the date falls in a DST starting day."
#### Code Sample

[code]
#### Problem description

[When I try to generate a range of daily data with America/Sao_Paulo timezone, it breaks with NonExistentTimeError: 2016-10-16 00:00:00. My pandas version is 0.25.3]

[2019-12-20 15:18] hasnain2808 commented on #28665
I would like to take up this issue but as I am new would need some support

[2019-12-20 15:27] dfonnegra commented on #30378
I iterated through all timezones and got that this list of timezones fail too:

America/Asuncion
America/Campo_Grande
America/Cuiaba
America/Havana
America/Punta_Arenas
America/Santiago
America/Sao_Paulo
America/Scoresbysund
Antarctica/Casey
Antarctica/Palmer
Asia/Amman
Asia/Beirut
Asia/Damascus
Asia/Gaza
Asia/Hebron
Asia/Tehran
Atlantic/Azores
Brazil/East
Chile/Continental
Cuba
Iran

[2019-12-20 16:02] jreback commented on #30375
closed by #30376

[2019-12-20 16:02] #30375 closed

[2019-12-20 16:39] giuliobeseghi commented on #25744
This fails with dataframes too:

[code]

A	B	C
0	a	1	a
1	b	2	b
2	c	3	c
3	a	1	a
4	b	2	b

Now imagine I want to have just column 'C' as categorical:

`print(dfs.C.astype("category").dtypes)` -> category

[code]
[object, int64, object]

[2019-12-20 16:54] TomAugspurger commented on #30351
I'm not sure how the plotting stuff is related, but based on the title this sounds like https://github.com/pandas-dev/pandas/issues/3729. Let me know if not.

[2019-12-20 16:57] TomAugspurger commented on #30359
Seems reasonable. Are you interested in working on this?

The first step would be to write a detailed docstring so that we can understand how things work and interact with the other parameters in read_csv.

Would this also apply to to_csv? What about other readers?

[2019-12-20 17:29] TomAugspurger commented on #30378
What's the expected behavior here? If the user is trying to create an invalid  datetime, shouldn't we raise?

[2019-12-20 17:43] jreback commented on #30359
note that was a prior PR that was stalled to pass credential in (closed now) might be a good starting point -

[2019-12-20 18:06] TomAugspurger commented on #30296
Are we wanting to do this for 1.0, or should it wait, or does it not matter?

[2019-12-20 18:09] TomAugspurger commented on #29752
@jorisvandenbossche is this likely for 1.0? My initial preference is to add this in the future (as an option in 1.1 say)

[2019-12-20 18:12] datapythonista commented on #30296
Would be nice, but I don't think it's important, since it won't be removed until 2.0 I guess.

[2019-12-20 18:55] jbrockmendel commented on #24518
Is any of this user-facing (i.e.need deprecation cycle) or can we just rip it out?

[2019-12-20 18:59] giuliobeseghi commented on #16529
In addition to what @h-vetinari said: `.pop` is another method that is `inplace` without needing any argument.

About the topic, the question we really need to ask ourselves is: is the inplace behavior worth the complexity/different logic/additional lines of code it involves?

Inplace operations have few drawbacks:

1. People can't use method chaining (@TomAugspurger).
2. Debugging is more complic

[2019-12-20 19:01] giuliobeseghi commented on #16529
And you probably get a real advantage with `df.fillna(inplace=False)` just in a few cases, as the following example shows:

[code]

[code]

2.73 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

[code]

9.89 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

[2019-12-20 19:13] mroeschke commented on #24518
The conservative thing to do is go through a deprecation cycle, but since this is not advertised anywhere ripping it out _might_ be okay.

[2019-12-20 19:16] jpivarski commented on #29774
(As an extension_dtype author, this is a feature I'd very much like to see! So now I'm watching this thread.)

[2019-12-20 19:57] jbrockmendel commented on #26784
one request that i think is related to this: in tests.io.excel.test_readers there are two fixtures called `cd_and_set_engine` that end up doing pytest.skip for some parameter pairs.  When I see the logs for this I think "oh there must be some missing dependency so we're not getting coverage on these many many skipped tests".  can we filter these cases at an earlier stage somehow?

[2019-12-20 20:55] TomAugspurger commented on #30288
https://github.com/pandas-dev/pandas/blob/0cd388fdc30f526f2f9729ee09c7d16513a1442d/pandas/plotting/_matplotlib/hist.py#L253

should probably be

[code]

since 0 evaluates to False. A PR fixing that + adding a test would be welcome.

[2019-12-20 21:24] dfonnegra commented on #30378
The same behaviour used when this exact same bug happened with the resample method in the 0.23.x version.
Check this in the 0.24.0 changelong

- Bug in DataFrame.resample() and Series.resample() where an AmbiguousTimeError or NonExistentTimeError would raise if a timezone aware timeseries ended on a DST transition (GH19375, GH10117)

[2019-12-20 21:27] TomAugspurger commented on #30378
What was the resolution there? Can you post the actual expected output in the original post?

[2019-12-20 21:30] TomAugspurger commented on #28851
I'm also against adding too much complexity.

[2019-12-20 21:38] souvik3333 commented on #30288
Hi, Can I do it?

[2019-12-20 22:46] jbrockmendel opened #30383 "DEPS: possibly unnecessary scipy function checks"
I'm seeing in test some things like

[code]

AFAICT pchip_interpolate goes back to at least scipy 0.13.0, and we require 0.19.0, so this check should be unnecessary (or more accurately, replaced with a skip_if_no_scipy).  Not sure about akima, but we should track these down and put them all into test_decorators or compat or something

[2019-12-20 23:00] mroeschke commented on #30378
In the resample case, an assumption was made on the behavior of ambiguous and nonexistent timezones since the resulting index is a transformation from the original index (i.e the binning).

In the `date_range` case, I agree with Tom's assessment https://github.com/pandas-dev/pandas/issues/30378#issuecomment-568010280 in which the idiomatic alternative is:

`pd.date_range(start=pd.Timestamp('2016-1

[2019-12-20 23:28] lithomas1 commented on #30296
Hi, I was able to deprecate the pandas.np module for python 3.7+ but I'm not sure how to do it for python 3.6

[2019-12-20 23:57] tigerhawkvok commented on #30367
I felt like I did above (and even provided a link to another person with a similar issue) but here's another example

[code]

![image](https://user-images.githubusercontent.com/165937/71299175-e54b0700-2340-11ea-8a5b-81837a901810.png)

Viewing the parquet directly:

![image](https://user-images.githubusercontent.com/165937/71299185-f136c900-2340-11ea-95f1-d5acd1dd2e92.png)

Loading it in Spark:

!

[2019-12-21 00:40] TomAugspurger commented on #30367
You might want to try some of the options listed in https://arrow.apache.org/docs/python/parquet.html

[2019-12-21 01:39] jbrockmendel commented on #24990
Benchmarking #29853 against master with the examples from the OP:

[code]

Speedups of 6197x and 6410x.

[2019-12-21 01:50] jbrockmendel commented on #26639
I think this is likely correct.  Plus IIRC there was a recent perf improvement in infer_type

[2019-12-21 01:51] jbrockmendel commented on #26639
I think this is likely correct.  Not to mention #30202 should improve the perf on infer_dtype

[2019-12-21 02:07] jbrockmendel commented on #30296
`datetime` was also suggested for this treatment.  what else doesn't belong in the top-level namespace?  Some candidates:

- `__docformat__`  (is this a legacy thing or is it actually used by sphinx or something?)
- `_hashtable`, `_lib`, `_tslib`
- `datetime`
- `isnull`, `notnull` (weren't these deprecated a while back?)
- `_np_version_under1p*`
- `_version`

[2019-12-21 02:12] jreback commented on #30296
the private modules don’t show up anyhow so reallly nbd in those

we didn’t actually depreciate isnull/notnull

[2019-12-21 02:17] jbrockmendel commented on #27602
re-closed by #30380, codecov appears back up

[2019-12-21 02:17] #27602 closed

[2019-12-21 04:52] vule24 commented on #27634
If you feel that it's really annoying, add ` # pylint: disable=abstract-class-instantiated` right after `with` line:

`with pd.ExcelWriter("demo.xlsx") as writer:  # pylint: disable=abstract-class-instantiated `

Pylint will temporarily ignore that line.

[2019-12-21 05:52] #30106 closed

[2019-12-21 07:31] mhooreman commented on #27634
I know vule24, but it’s a workaround, and I don’t consider a good practice to disable tests which are enabled in the project.

Those disabling are even part of the metrics I have defined.

[2019-12-21 09:07] jorisvandenbossche commented on #30367
And specifically look at https://arrow.apache.org/docs/python/parquet.html#storing-timestamps. There are options to control how datetimes are written, as not all parquet readers support all parquet data types.

[2019-12-21 09:34] jorisvandenbossche commented on #24518
This is documented (https://dev.pandas.io/docs/user_guide/io.html#date-parsing-functions), so certainly needs to be deprecated first I think

[2019-12-21 09:36] jorisvandenbossche commented on #29752
It's certainly not release critical, so let's remove from the milestone.

[2019-12-21 09:37] jorisvandenbossche commented on #29752
So do have an idea how we would like to tackle this? I think also the constructors (eg `DataFrame(..)`) could use a similar option.

[2019-12-21 09:40] pingithefrosty commented on #27722
I would also like to keep the to and read msgpack functions. As others have pointed out there is no real replacement if you consider reading and writing speed as well as filesize.

[2019-12-21 10:47] jorisvandenbossche commented on #29439
Closed by #29513

[2019-12-21 10:47] #29439 closed

[2019-12-21 11:22] jayenashar commented on #30333
yup that works.  can you add that to the README or let people know when you ask them to use master?

[2019-12-21 11:56] rohitkg98 commented on #30320
@simonjayhawkins any updates on how should I approach this?

[2019-12-21 18:19] Sbrowneo opened #30391 "df.plot() with kind='scatter' and datetime on x axis bug"
I noticed while helping a student that there's a bug when calling a scatter plot as a method on a DataFrame. Regardless of what the index is or what the x argument is, it appears that pandas makes the x argument into the index, and then searches for the x in the columns, where it no longer exists. When calling the same directly through matplotlib as plt.scatter, it worked properly.

<img width="10

[2019-12-21 18:35] jbrockmendel commented on #28177
@datapythonista would it make sense to make checkboxes in the top post to clarify what the status of this issue is?

[2019-12-21 18:37] jbrockmendel commented on #19372
@datapythonista same suggestion w/r/t checkboxes

[2019-12-21 18:40] datapythonista commented on #28177
I opened this to have a discussion and see if people was happy with my proposed changes. But I don't think there has been any discussion or any progress on this. So probably not worth having the checkboxes for now.

[2019-12-21 18:44] datapythonista commented on #19372
Yep, I think it can make sense here. Not sure what's the status of this, but the scripts are now in the linting, so they are probably better than when the issue was created.

Will have a look at the state of this next week, and I'll add the checkboxes or I'll create new issues for the pending tasks, so we can move forward with this.

[2019-12-21 19:01] jbrockmendel commented on #18967
Closeable?

[2019-12-21 19:12] jreback commented on #18967
yep

[2019-12-21 19:13] #18967 closed

[2019-12-21 19:48] MomIsBestFriend commented on #28115
take

[2019-12-21 19:58] ryankarlos commented on #30296
Can i have a go at datetime or  isnull/notnull ?

[2019-12-21 20:07] jorisvandenbossche commented on #30296
I think it is better to first finalize the open PR: https://github.com/pandas-dev/pandas/pull/30386.

Also, if we want to deprecate isnull/notnull, let's first discuss that in a separate issue, as this is a quite different thing. Here we are discussing shortcuts for external packages.

[2019-12-21 20:44] JMBurley commented on #29547
Great, always wanted to chip in on Pandas. Will update when I know what I can fulfill in the next few weeks...

[2019-12-22 04:16] AncientRickles commented on #29886
Jumping on:
* [ ] pandas/core/arrays/datetimelike.py
* [ ] pandas/core/arrays/period.py
* [ ] pandas/io/formats/printing.py
* [ ] pandas/tests/extension/list/array.py
* [ ] pandas/tests/indexes/datetimes/test_ops.py

[2019-12-22 09:55] jorisvandenbossche commented on #30349
Another 30% of the time is spent in applying the boolean mask on the RangeIndex (for the case above). This also seems a non-optimized case: it's not directly handled in the `RangeIndex.__getitem__`, and therefore it is handled in the base Index class with inferring of the result class. While I think we can know that a boolean filter on a RangeIndex should *always* give an Int64Index as result. Usi

[2019-12-22 11:15] jorisvandenbossche opened #30399 "BUG/ERR: wrong error in DataFrame.drop with non-unique datetime index + invalid keys"
Consider this example, where there is a DataFrame with a non-unique DatetimeIndex:

[code]

If you then use `drop` to drop some columns, but forget to specify `columns=` or `axis=1` (so you are actually dropping rows), you get a wrong error and very confusing error message:

[code]

Tested with pandas 0.25 and pandas master.

[2019-12-22 13:49] anisotropi4 commented on #29556
My question is prosaic and based on `str` `dtype` conversion:
How would I now distinguish between a missing str value and the two-character string `'NA'`?

I ask as NA is a common abbreviation for 'Not Applicable', 'North America' et al, in a way that in my experience that `'NaN'` or 'Not a Number' isn't

Given this, if `'NA'` were generated as the default missing str value, especially if introduc

[2019-12-22 14:07] jorisvandenbossche commented on #29556
@anisotropi4 Thanks for joining in! Would you like to move that comment to a new issue? I think the several interactions of NA with string representation and conversion warrants a dedicated issue to discuss.

[2019-12-22 16:55] jbrockmendel opened #30407 "ENH: Requested IO readers/writers"
This is roundup issue to keep track of requested IO reader/writer formats.  If/when someone wants to implement a particular reader/writer, comment on the appropriate issue and we can re-open the discussion there.

- [ ] #7030 read fixed-width ASCII data using a data description file or dictionary file
- [ ] #9166 *SON RFC
- [ ] #9378 ROOT files
- [ ] #10517 ReadStat for binary format read/write
-

[2019-12-22 16:55] jbrockmendel commented on #7030
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:55] #7030 closed

[2019-12-22 16:55] jbrockmendel commented on #23315
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:55] #23315 closed

[2019-12-22 16:55] jbrockmendel commented on #22518
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:55] #22518 closed

[2019-12-22 16:55] jbrockmendel commented on #16846
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:55] #16846 closed

[2019-12-22 16:56] jbrockmendel commented on #11752
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:56] #11752 closed

[2019-12-22 16:56] jbrockmendel commented on #10517
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:56] #10517 closed

[2019-12-22 16:56] jbrockmendel commented on #9378
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:56] #9378 closed

[2019-12-22 16:56] jbrockmendel commented on #9166
Closing and adding to a tracker issue #30407 for IO format requests, can re-open if interest is expressed.

[2019-12-22 16:56] #9166 closed

[2019-12-22 17:39] DorAmram commented on #29547
I can take
pandas/_version.py

[2019-12-22 20:01] datapythonista opened #30410 "DOC: Remove and disable wiki"
I've been having a look at the pages on the GitHub wiki, and I think the content is mostly outdated, not very useful, and in some cases opinionated and not specific to pandas.

Not sure if there is anything worth keeping. But if there is, its not much, and I think it should be moved to the docs, so it's more visible, and we can open PRs on it, to update or delete the content.

Once the content we

[2019-12-22 20:14] karley2 commented on #15298
Oh, these small mistakes make me lost so much time and interest! >//<

[2019-12-22 22:55] anisotropi4 opened #30415 "DISCUSS: disambiguation of NA and "NA" in reprs"
## Change to `str` `dtype` behaviour for missing elements

Following comments the discussion about how to handle missing `NA` scalar values in https://github.com/pandas-dev/pandas/issues/28778 I was asked to raise my question as this seperate issue.

My rather prosaic question is how if missing `str` elements are given the value `NA`, how would I distinguish between a missing `str` value and the t

[2019-12-22 22:59] anisotropi4 commented on #29556
As requested @jorisvandenbossche I have raised this as https://github.com/pandas-dev/pandas/issues/30415 with some more detail about current behaviour. I hope that is what you had in mind.

[2019-12-22 23:02] MomIsBestFriend commented on #12863
take

[2019-12-22 23:45] jjarthur commented on #29946
That did the trick! You were right, adding the `exposed` parameter is what was needed. Thanks for pointing that out.

The working solution for reference:
**df_manager.py**
[code]

**data_handler.py**
[code]

[2019-12-22 23:45] #29946 closed

[2019-12-22 23:53] timh52280 commented on #19729
Having same problems here too

[2019-12-23 01:33] AncientRickles commented on #29547
Jumping on:
* [ ] pandas/core/arrays/datetimelike.py
* [ ] pandas/io/formats/printing.py
* [ ] pandas/tests/extension/list/array.py
* [ ] pandas/tests/indexes/datetimes/test_ops.py
* [x] pandas/tests/indexes/multi/test_analytics.py

[2019-12-23 02:16] lithomas1 commented on #27554
I can look into this.

[2019-12-23 03:28] alimcmaster1 commented on #30410
FYI there is an effort to move some of the content across:
https://github.com/pandas-dev/pandas/issues/30232

[2019-12-23 03:58] alimcmaster1 commented on #27534
take

[2019-12-23 04:21] mroeschke commented on #5027
I think this is relatively handled by the new policies doc.

https://github.com/pandas-dev/pandas/blob/master/doc/source/development/policies.rst

If there is anything not sufficiently described in that document, a new issue can be open clarifying points.

[2019-12-23 04:21] #5027 closed

[2019-12-23 06:05] aakhmetz commented on #24734
Hello all,

I have had a quite similar issue recently, but my excel is very short and pandas skip all rows with NAs. I tried to write some parameters, but it did not work.

The excel file is here: [incdat.xlsx](https://github.com/pandas-dev/pandas/files/3993819/incdat.xlsx)

Specifically, the following code:
[code]
gave only 25 rows:
![Screenshot from 2019-12-23 14-59-29](https://user-images.githu

[2019-12-23 06:49] sardonick commented on #29547
I'll take pandas/io/formats/csvs.py

[2019-12-23 06:58] LakshyAAAgrawal commented on #27222
Hey..
I would like to contribute to this issue, if somebody could guide me on the steps to be undertaken.

[2019-12-23 08:14] MomIsBestFriend commented on #29886
@WillAyd Can you please reopen this issue?

In [this PR](https://github.com/pandas-dev/pandas/pull/30420) he uses the word ```fix``` and after that this PR number, so it closed it.

[2019-12-23 08:21] WillAyd commented on #29886
done - thanks!

[2019-12-23 08:39] jorisvandenbossche commented on #30410
I think the only part that has been used / updated the last years are the "maintainers" pages. Although some of them are now also outdated with the https://github.com/pandas-dev/pandas-release repo.

Some of the maintainers info like the "Benchmark machine" page might be fine to keep in the wiki?

[2019-12-23 09:13] jorisvandenbossche commented on #29774
For Arrow, I am not sure it is possible to *not* do this on import time (so lazily), as there are several places where types could be created (and also if some C++ is called, they should already be registered). Would need to think a bit more about this.
Also, I think the slowness of entrypoints is a problem for pyarrow (certainly if it is on import).

[2019-12-23 09:45] abmyii commented on #30262
Ping.

[2019-12-23 11:10] MarcoGorelli opened #30428 "Error initialising DataFrame with array of shape (1, 1) and extensiondtype"
Here's something I noticed while working on  #30277

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The example that fails throws the error:
[code]
If I pass an index:
[code]
then it fails with
[code]
although this doesn't:
[code]
#### Expected Output
I wouldn't expect this behaviour to change based on the `dtype` passed.

#### Output of ``pd.show_versions(

[2019-12-23 13:31] souvik3333 commented on #30410
I was working on #30232 but stopped working after knowing some content of wiki is not valid anymore. Please let me know or update the #30232 and I can move them from wiki to contributing.

[2019-12-23 13:34] souvik3333 commented on #30288
I am taking this as no one seems to be working on this.

[2019-12-23 13:35] souvik3333 commented on #30288
take

[2019-12-23 13:42] jorisvandenbossche commented on #28796
This is solved with the latest IPython release.

[2019-12-23 13:42] #28796 closed

[2019-12-23 14:27] Dr-Irv commented on #29752
I'd like to argue that if you want to get people to use the new dtypes, and especially `pd.NA`, then this becomes pretty important, because IMHO, most missing values are introduced when people read in data.  So if you don't change the I/O routines, `pd.NA` is unlikely to get used.

As for names, maybe `use_extension_dtypes` ??

[2019-12-23 14:45] MarcoGorelli commented on #30391
Any chance you could post a copy-and-pasteable code example so we more easily reproduce the issue?

[2019-12-23 14:55] pganssle commented on #18141
@jbrockmendel I think this happened some time ago already (the `parser` reorg), plus pandas tests against dateutil master now, so as long as pandas has done everything it needs to do to adapt to the new code organization, feel free to close this.

[2019-12-23 15:07] Sbrowneo commented on #30391
Sorry, I was helping a student whose code wasn't working, I don't have the original code myself. However I tried to recreate the error myself and I'm now getting something different:
[code]
This gives me a different error:

![image](https://user-images.githubusercontent.com/35703276/71364654-dd6eab00-256a-11ea-84a3-5ae9d9d6e947.png)

However,
[code]
does work, so I'm not sure if this is a bug or i

[2019-12-23 15:28] #18141 closed

[2019-12-23 15:38] MarcoGorelli commented on #30391
OK, thanks! I don't know about your student's error, but your one was already opened in #18755

[2019-12-23 16:08] jorisvandenbossche commented on #29752
What I dislike about `use_extension_dtypes` it that it sounds as extension to pandas, which is here not the case. The hope is that at some point those are the default dtypes.
(I know, the whole thing is called Extension.., but still).

[2019-12-23 16:22] Dr-Irv commented on #29752
How about `use_distinct_dtypes` ?

[2019-12-23 16:23] groutr commented on #26639
@jbrockmendel #30202 fixes improves performance for only numpy dtypes when `skipna=True`.

[2019-12-23 17:01] christina-zhou-96 opened #30429 "Suggestion: add feature to show in detail changes in 1 df over time"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Often I need to do a quick analysis of the same dataframe over some time. I need to look at the specific cells that changed, and how. Frequently, it's at a volume where it's impossible to just eyeball this. I'm surprised that under pandas' testing suite there's not currently an in-built method to do this.

I en

[2019-12-23 17:02] #28814 closed

[2019-12-23 17:05] souvik3333 commented on #30288
Looks like https://github.com/pandas-dev/pandas/blob/f505b74874b998cf929d82ea4d5c5fa16763819c/pandas/plotting/_matplotlib/core.py#L1208 is causing the error. Assigning ```self.rot=0``` solves the problem. I will add a PR on this. Also @TomAugspurger the solution you said fixes another issue. Should I add that in the same PR or create another issue on this?

[2019-12-23 18:09] #27534 closed

[2019-12-23 18:10] charlesdong1991 commented on #18755
take

[2019-12-23 18:11] charlesdong1991 commented on #30391
take

[2019-12-23 18:14] alimcmaster1 opened #30433 "Pytest warnings JUnit XML Format"
See the following in CI:

[code]

Unsure if the xunit2.0 format will affect any of our coverage etc..

https://docs.pytest.org/en/latest/reference.html#confval-junit_family

[2019-12-23 18:22] ThibTrip commented on #30207
I have found the culprit and there was a similar problem in the PR [#11216](https://github.com/pandas-dev/pandas/pull/11216#issuecomment-145132291).

So in the end the issue is not directly related to SQL and I think the example below pinpoints the problem. I don't see a solution other than discarding offsets.

[code]
<details>
 <summary>Traceback</summary>

[code]
</details>

# Solution with cave

[2019-12-23 18:32] #22234 closed

[2019-12-23 18:33] jorisvandenbossche opened #30435 "ENH/PERF: allow mask to be None in our masked ExtensionArrays"
Our masked arrays (IntegerArray, BooleanArray) use a numpy boolean array as mask, also when there are no missing values.

One, relatively easy, memory + performance improvement could be achieved by allowing the mask to be None when there are no missing data. Since the mask data is completely internal to the Array implementations, this should be possible to do.

[2019-12-23 18:52] jorisvandenbossche opened #30436 "PERF: avoid casting to float in IntegerArray reducing ops"
Currently, we cast to float in the IntegerArray reducing ops:

https://github.com/pandas-dev/pandas/blob/db620397328567ff8153ae6031685b88c84dc8f8/pandas/core/arrays/integer.py#L673-L678

However, the `nanops` functions can already handle a mask. So with the appropriate fill_value, there should be no need to cast the integers to float (and check for missing values). At least this is the case for `s

[2019-12-23 19:03] JMBurley commented on #29547
I'm taking:
- [ ] pandas/core/series.py

[2019-12-23 19:22] JMBurley commented on #29547
Question: Is there an answer on whether old-school string formatting should remain in the API reference?

For example, in `series.map()`:
`It also accepts a function:

        0       I am a cat
        1       I am a dog
        2       I am a nan
        3    I am a rabbit
        dtype: object`

Replacing this with an f-string example forces something like:
`      >>> s.map(lambda x: f'I am a {

[2019-12-23 20:59] jorisvandenbossche commented on #30415
Thanks for opening the issue!

It is indeed true that currently, there is no distinction in the repr:

[code]

Up to now, we had the same problem with strings like "None" or "NaN", but I agree that "NA" might be more common to have as a string.

For me, it is not so much a question of `None` vs `pd.NA` as missing value indicator (None also has several disadvantages, which is one of the reasons to

[2019-12-23 21:11] vikalpjain91 commented on #29714
Any update on this? I am still facing the same issue.

[2019-12-23 21:32] charlesdong1991 commented on #30288
@souvik3333 i think the error is not caused by `self.rot=30`, this is only used for plotting ts data

and i do think if you follow @TomAugspurger 's suggestion, should be able to fix the error.

[2019-12-23 22:56] anisotropi4 commented on #30415
In your edit I fear you have misrepresented my position with regards missing `str` `dtype` information inasmuch as I see two points that need to be agreed here:

1. How do you *represent* a missing scalar `str` `dtype`?
2. How do you *display* a missing `str` `dtype`?

In your note above you do not address the first point other than to say: "For me, it is not so much a question of None vs pd.NA as

[2019-12-24 01:29] fansichao opened #30439 "DataFrame.loc multiple columns replace"
Python 3.6.8
pandas==0.25.3

[code]

[2019-12-24 02:00] pshMsGsAZL2n07ohWBCAGX9cC commented on #30351
No, this issue is different from #3729.  This issue isn’t dropping entire NaN rows like #3729, and my issue already uses the dummy variables suggested in that post as a workaround.  My issue is dropping a NaN total in the margin row (but not column), while the dummy variables appear fine. I would suggest that you re-open it. Thanks again, and happy holidays.

[2019-12-24 03:14] JMBurley commented on #29547
Already done:
pandas/tests/arrays/interval/test_ops.py

I'll also take
 - [x] pandas/tests/scalar/interval/test_ops.py

[2019-12-24 04:15] mroeschke commented on #30207
It's pandas' policy to convert `TIMESTAMP WITH TIME ZONE` database types to UTC in pandas, so converting the incoming data to UTC is an acceptable solution. Happy to have a PR with the change!

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#datetime-data-types

[2019-12-24 04:22] pshMsGsAZL2n07ohWBCAGX9cC commented on #30351
Forgot to add in first clarification. This issue occurs without doing a heatmap plot. That is, the row margin total shows NaN, despite zeros for the row elements. Column margin total doesn’t have this issue.

[2019-12-24 04:45] majiang commented on #15106
The problem @valentas-kurauskas and @kuraga reported seems to be that, since the dataframe is empty, the function passed to [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html) is *never* called.
`apply` can't know the function's return type (which can be either of scaler, Series or DataFrame) so it can only drop the structure.

[2019-12-24 09:19] joybhallaa commented on #29310
@yp1996 ,are you still working on this? If not I'll like to work on it!

[2019-12-24 10:28] MarcoGorelli opened #30445 "Check that dtype is preserved when appending categorical, nullable integer and other extension types"
Similar to #30238

This issue may already be fixed by  #30277. Opening this as requested in https://github.com/pandas-dev/pandas/pull/30277#pullrequestreview-335987704 .

[2019-12-24 11:13] fujiaxiang commented on #30399
Hi, I'm taking a look at this

[2019-12-24 11:21] baevpetr commented on #10720
31ead07b49466f5c02dc2849274f405c86f31319

[2019-12-24 11:34] AncientRickles commented on #29886
Sorry about that. Still kinda new to this...

[2019-12-24 12:40] MomIsBestFriend commented on #29886
It's perfectly fine :)

[2019-12-24 14:24] #6051 closed

[2019-12-24 14:24] #9232 closed

[2019-12-24 14:24] #12689 closed

[2019-12-24 14:56] #26344 closed

[2019-12-24 14:58] #30238 closed

[2019-12-24 15:04] #30013 closed

[2019-12-24 15:05] zoekdestep commented on #24876
I get this error although pandas, pickle, python are all the same version (as all are in the same environment). Code as follows:

`
import glob
import pandas as pd
import pickle
import os

all_files = glob.glob("./path/*.csv")

for file in all_files:
    original_file = pd.read_csv(file)
    original_name = list(os.path.splitext(os.path.basename(file))).pop(0)
    output_path = "./newpath/" + orig

[2019-12-24 15:24] MomIsBestFriend commented on #29547
cc @WillAyd @jreback

[2019-12-24 15:42] souvik3333 commented on #30288
I tried that but it's not working. Looks like https://github.com/pandas-dev/pandas/blob/0cd388fdc30f526f2f9729ee09c7d16513a1442d/pandas/plotting/_matplotlib/hist.py#L250 function is not even getting called during the execution of the example given above.

[2019-12-24 15:43] JMBurley commented on #27483
+1 for avoid iterations, boolean masks.  From interviews, I can confirm a majority of newbies are bad at both.

On a broader point, I think "how you should write pandas code" falls into two buckets:

- Syntactic sugar: What style do we suggest is the most readable
- Efficiency: What methods optimise runtime/memory

I think both are valuable, and a good best-practices document would be helpful for

[2019-12-24 16:09] ThibTrip commented on #30207
Hi @mroeschke, thanks for your answer :). I was able to patch to_sql function.
I was also able to patch the read_sql function but perhaps this is not a desired behavior. I will explain everything in a PR soon (after Christmas time).

[2019-12-24 16:09] ThibTrip commented on #30207
take

[2019-12-24 16:46] MomIsBestFriend opened #30449 "Type annotatins for 'columns'"
ref https://github.com/pandas-dev/pandas/pull/30398#discussion_r361198265

[2019-12-24 16:48] WillAyd commented on #29547
I don't know what you consider the "old-school string format" to be but `.format` will have some use cases that f-strings don't cover (namely delayed parametrization) so sure that will still be around. I don't think we should have Py27 string format syntax anywhere though

[2019-12-24 17:23] souvik3333 commented on #30288
I have my doubt but I think the following is the problem.
In ```dataframe.plot``` if we have either of ```subplots=True``` or ```sharex=True``` then it's treated as irregular TS object because of this condition:
 https://github.com/pandas-dev/pandas/blob/f505b74874b998cf929d82ea4d5c5fa16763819c/pandas/plotting/_matplotlib/core.py#L1199
So, when ```rot``` argument is not present in ```dataframe.plo

[2019-12-24 17:30] #29598 closed

[2019-12-24 19:46] charlesdong1991 opened #30451 "TYPING: keywords in df.sort_values and sr.sort_values cannot be annotated"
Observed in the PR #30402  and PR #27237

Annotation seems not to be able to added for `sort_values`. If added, error message will pop up in CI:
[code]

[2019-12-24 20:07] jbrockmendel opened #30454 "CI: code check for " " introduced by black"
Sometimes when we run `black` on something like

[code]

we end up with `foo = "bar " "baz"` when we would want `foo = "bar baz"`.

This is [not](https://github.com/psf/black/issues/1051) considered a bug in `black`, so is something we're currently checking for manually.  We should add it to code_checks.

[2019-12-24 20:08] jbrockmendel commented on #30449
incontinence -> inconsistent?

[2019-12-24 20:24] MomIsBestFriend commented on #30449
Yes! ```incontinence``` sounded wrong, but I couldn't figure out why, but now I know why.

[2019-12-24 20:34] jbrockmendel commented on #30449
ok good, otherwise that would have been an exceptionally high-priority issue to address

[2019-12-24 21:15] #30383 closed

[2019-12-24 21:23] wesm commented on #10556
I've seen use cases where the memory doubling will cause OOM, so zero-copy / no consolidation is essential

[2019-12-24 22:17] mroeschke commented on #6485
Noted https://github.com/pandas-dev/pandas/pull/30444#discussion_r361225916: The first example should maintain the `int32` typing so this is not completely fixed.

[2019-12-25 00:47] jbrockmendel commented on #18007
is this still applicable without appveyor?

[2019-12-25 01:46] yehoshuadimarsky commented on #23566
Can I take a crack at this or has it already been fixed?

[2019-12-25 02:01] WillAyd commented on #23566
Go for it!

Sent from my iPhone

[2019-12-25 02:23] yehoshuadimarsky commented on #23566
Thanks will do.

[2019-12-25 03:31] fujiaxiang commented on #30289
Hi, can I look into this? I will add the "positional" parameter and probably refactor MultiIndex._get_level_number a bit

[2019-12-25 04:32] yehoshuadimarsky commented on #23566
take

[2019-12-25 04:35] jbrockmendel commented on #30451
To make the signatures match, `by` would need to be added to Series.sort_values

[2019-12-25 04:48] jbrockmendel commented on #26367
This is not present in master.  I guess we could make a test for it with a specific error message asking users to let us know if it fails?

[2019-12-25 04:49] jbrockmendel commented on #25174
I don't see a warning in master, so closing as closed by #29786.  Feel free to ping if the issue reappears and we can re-open.

[2019-12-25 04:49] #25174 closed

[2019-12-25 04:52] jbrockmendel commented on #4916
Is this still something people are interested in?  from_dict had a kwarg added in 0.23.0 which is much more recent than the OP here

[2019-12-25 06:00] hasnain2808 commented on #28665
take

[2019-12-25 06:23] fujiaxiang commented on #30289
Sent the PR request which includes the new parameter positional in MultiIndex.reorder_levels, just like what you have above.
However, I feel it may be worth considering to add that same parameter to DataFrame.reorder_levels too for backward compatibility. However it is indeed somewhat counter-intuitive to include labels (not just positions) in DataFrame.reorder_levels.
Let me know what you think a

[2019-12-25 07:03] fujiaxiang commented on #30289
I added the `positional` parameter in both `DataFrame.reorder_levels` and `MultiIndex.reorder_levels` methods. In `GroupBy.quantile` this `positional` argument is set to True. In all other existing codes `positional` is defaulted to None.

[2019-12-25 08:06] MomIsBestFriend commented on #30454
take

[2019-12-25 09:13] cgohlke commented on #18007
Pillow has [enabled page heap verification](https://github.com/python-pillow/Pillow/pull/4186/files) in AppVeyor and GitHub Actions.

[2019-12-25 09:40] ForrestLin0805 opened #30463 "pct_change can't work well with groupby, when fill_method =None"
#### Code Sample, a copy-pastable example if possible

[code]
for pct_change function, when the fill_method = None, it works

[code]
but when use it with gourpby , it raise a error

[code]
else, `limit = 0` worked with gourpby, but can't run in pct_change

[code]
[code]

pandas version is 0.25.1

[2019-12-25 09:58] charlesdong1991 commented on #30288
emm, okay, it seems indeed if both `subplots` and `sharex` are True, then will rot to 30. And this should be designed on purpose.

Regarding your question: I didnt look at the codebase, but my assumption is when using `hist` and use `by`, then `subplots` and `sharex` are automatically set to True.

Just follow your investigation, and you could either submit a PR or open a new issue if you think th

[2019-12-25 10:44] smcinerney commented on #30192
I was mainly interested in documenting (both in docstring and pandas-docs) that this works on DataFrame, Series; I'm happy to do that if you can tell me how. Don't care much about implementing it on groupby.

[2019-12-25 10:59] souvik3333 commented on #30288
Oh, actually this bug will be fixed as @TomAugspurger said. I misplaced it with another bug I found. My apologies. I will add a new issue on that bug and add a PR on this shortly.

[2019-12-25 13:05] jreback commented on #30463
pls try on master

[2019-12-25 16:48] yehoshuadimarsky commented on #23566
So this is my first time working on pandas code, and I'm a little confused here, so please bear with me. I'm also new to linking to code on GitHub.

As I understand, when an object calls `__getitem__` by using brackets, if you pass in several keys, they are implicitly converted to a tuple of one key. So `df['a','b']` is really `df[('a','b')]` under the hood.

I'm having trouble in tracing the code

[2019-12-25 18:07] naomi172839 commented on #29886
pandas/tests/test_strings.py was checked and already uses f-strings.
pandas/core/dtypes/common.py was checked and already uses f-strings.
pandas/tests/indexes/test_common.py was checked and already uses f-strings.
pandas/core/window/rolling.py was checked and already uses f-strings.
pandas/core/computation/pytables.py was checked and already uses f-strings.
pandas/tests/indexes/datetimes/test_date

[2019-12-25 18:11] MomIsBestFriend commented on #29886
TY, really appreciate it

[2019-12-25 20:13] alimcmaster1 opened #30469 "CLN: OrderedDict -> Dict"
- Follow up from #29212

Continue work done in https://github.com/pandas-dev/pandas/pull/29923

As of CPython 3.6 the implementation of dict maintains insertion order.

This became a language feature in python 3.7.

Note in python 3.8 support for reversed(dict) was added - but we don't seem to use that in the use cases i've eliminated. ( OrderedDict support this)

Add code check as per comment her

[2019-12-25 20:13] alimcmaster1 commented on #30469
take

[2019-12-25 20:28] ryankarlos commented on #30296
ok will wait for this PR to be merged - if datetime still requires treatment in this issue then happy to work on that.

[2019-12-25 20:37] baevpetr commented on #10720
Just ping @jbrockmendel or @jreback or @jorisvandenbossche.

[2019-12-25 20:40] datapythonista commented on #30296
I think we want to get rid of `pandas.datetime`, and I don't think there shouldn't be important conflicts with #30386 if you open the PR in parallel.

[2019-12-25 20:57] datapythonista opened #30470 "CI: Travis failure in master because of GBQ table"
Looks like there is a problem with GBQ. A test is finding that a table already exists. It's making Travis fail `master`. Didn't check in detail, the log is here: https://travis-ci.org/pandas-dev/pandas/jobs/629453901#L2297

@tswast mind having a look?

CC: @jreback

[2019-12-25 21:54] ryankarlos commented on #30296
ok will do, thanks @datapythonista

[2019-12-25 22:32] MomIsBestFriend commented on #29886
@jreback Can you please reopen this issue?

The PR was suppose to contain two test cases, but it only contained one.

This should be reopen.

[2019-12-25 22:57] MomIsBestFriend commented on #29886
Thanks @jreback

[2019-12-25 22:59] jreback commented on #30470
https://github.com/pandas-dev/pandas/pull/30447 could have broken this

@datapythonista if you want to xfail this for now would be great.

[2019-12-25 23:01] jbrockmendel commented on #19041
closed by #29457

[2019-12-25 23:01] #19041 closed

[2019-12-25 23:20] jbrockmendel commented on #14562
Closed by #24597

[2019-12-25 23:20] #14562 closed

[2019-12-25 23:27] #15553 closed

[2019-12-25 23:27] #29058 closed

[2019-12-25 23:55] alimcmaster1 commented on #30470
Yep looks like the table added isn't removed in the teardown_class

In `test_gbq.py` :
`destination_table = DESTINATION_TABLE + "2"`

I can potentially take a look

[2019-12-26 00:08] jbrockmendel commented on #28665
closed by #30458.

[2019-12-26 00:08] #28665 closed

[2019-12-26 00:12] naomi172839 commented on #29886
pandas/core/arrays/datetimelike.py
pandas/core/arrays/period.py

Both of the above are free of the old style strings.
I am working on:
pandas/__init__.py

[2019-12-26 00:12] jreback commented on #30470
ideally should fixtureze these tables to avoid this

[2019-12-26 00:25] #5586 closed

[2019-12-26 00:25] #5647 closed

[2019-12-26 00:25] #5286 closed

[2019-12-26 00:32] #30399 closed

[2019-12-26 01:05] jreback commented on #30470
hmm this is still running this test (maybe there were 2) https://travis-ci.org/pandas-dev/pandas/jobs/629507853

[2019-12-26 02:07] jbrockmendel commented on #26784
#30456 affected the parametrization, not sure how this issue is affected.  is the checklist up-to-date?

[2019-12-26 02:10] jbrockmendel commented on #29884
xref #30460.

[2019-12-26 02:15] jbrockmendel commented on #15703
closeable?  i dont see any interest

[2019-12-26 02:21] jbrockmendel commented on #21713
CaategoricalDtype, IntervalDtype, DatetimeTZDtype, and PeriodDtype are all now exposed.  closeable?

[2019-12-26 02:55] jbrockmendel commented on #15745
mode is defined in hashtable_func_helper, so presumably deriving it from value_counts will entail a perf hit.  no strong opinion.

[2019-12-26 03:56] #21713 closed

[2019-12-26 03:57] #15703 closed

[2019-12-26 04:17] zbrookle opened #30480 "Adding sql functionality to pandas similar to spark sql"
I would like to add functionality to pandas so that data frames can be queried like database tables, similar to the way that they can be in spark-sql.

I think it should work in a similar fashion.

A table can be registered using register_temp_table(dataframe, table_name).

Then using ```pandas.query("select * from table_name")``` you can query the data frame or any other ones registered using sta

[2019-12-26 04:22] jreback commented on #30480
why do you think this would be good to include main pandas itself? this would then present an sql interface to the user. i am not sure this actually adds any value. this might be ok as an external package.

[2019-12-26 04:26] zbrookle commented on #30480
You could say the same thing about spark, and yet it does include it, because sql is such a common language and tool for people to use when working with data

[2019-12-26 07:11] charlesdong1991 commented on #30470
ahh, sorry about CI failure! I just take a look, and the test failed when `if_exists=='fail'`. And i just took a look at `pandas-gbq` and found out the problem.

From `pandas.to_gbq` documentation (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_gbq.html), when `if_exists=='fail'`, it says `If table exists, do nothing.`, so in the test, i leave the table size as is.

[2019-12-26 10:03] janpipek opened #30483 "Add option `encoding` to `to_html`?"
Many thanks for the vast range of I/O possibilities that pandas allows! I just met one edge (or maybe not so edge) case where an extra parameter could save some work, especially for newbie users.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

With the current signature of `DataFrame.to_html`, it is not possible to easily write non-ascii / non-latin1 charac

[2019-12-26 10:38] DenisVorotyntsev opened #30484 "Strange behaviour of pd.DataFrame.drop() with inplace argument"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Pandas return DataFrame with removed column after doing in-place operation with a column. Is it a bug or intentional behavior?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None

pandas           : 0.25.1
numpy            : 1.16.2
pytz             :

[2019-12-26 12:42] datapythonista commented on #30470
Can you open a PR with this @charlesdong1991 ? Thanks!

[2019-12-26 12:46] charlesdong1991 commented on #30470
yeah, of course, but i saw a PR related to it was already opened by @alimcmaster1

Or do you mean that you want a PR for doc change? @datapythonista

[2019-12-26 13:04] jreback commented on #30480
This needs some discussion from the core team. Please address the following points, by updating the top and/or in-line responses

1) What is the motivation for this? Provide links / documentation & examples of usage. What can this api handle? What can it not handle. What datatypes are supported / not supported? As a user using this, what kind of coverage do I get of the pandas api. What are the er

[2019-12-26 13:08] datapythonista commented on #30480
+1 on this, seems like an interesting feature, but as said in the PR, I think this should be implemented outside pandas, at least for now.

Worth noting that Modin is also experimenting on this: https://modin.readthedocs.io/en/latest/UsingSQLonRay/index.html

@devin-petersohn thoughts on this based in your experience?

[2019-12-26 13:09] datapythonista commented on #30470
Sorry, didn't see the PR. But yes, creating one for the doc changes you propose sounds good.

[2019-12-26 13:22] jreback opened #30486 "REF: window/test_moments.py"
https://github.com/pandas-dev/pandas/blob/master/pandas/tests/window/test_moments.py

this includes testing for ewm/rolling and others. let's put into separate files to make this simpler.

[2019-12-26 13:35] #8594 closed

[2019-12-26 15:01] jreback commented on #30429
@christina-zhou-96 I think adding  ``DataFrame.differences(self, other: pd.DataFrame, verbose: bool=False)`` would make sense (pretty much your _diff_table)

Would need a full doc-string w/o examples, as well as a section in the main docs.

cc @pandas-dev/pandas-core

[2019-12-26 15:40] charlesdong1991 commented on #30486
take

[2019-12-26 15:40] charlesdong1991 commented on #30470
sure!

[2019-12-26 16:08] WillAyd commented on #30484
The use of the `inplace` keyword is strongly discouraged. If you replace that with the more idiomatic `df = df.drop("target", axis=1)` then things look OK

If you'd like to take a look internally would welcome a patch

[2019-12-26 16:38] topper-123 commented on #30429
I'm +1 on something like ``DataFrame.differences``, though it should work for Series also.

Would unstacked output be more readable (i.e. keeping the index as-is and add the New/Old level to the columns)?:

[code]

This would also make some further ops on the data a bit more natural, e.g. ``diff_df["A"].pipe(lambda x: x.new - x.old)``.

[2019-12-26 16:38] zbrookle commented on #30480
@jreback I updated my description at the top to answer most of your questions and I'm also in the process of writing some more comprehensive documentation

[2019-12-26 16:50] alimcmaster1 commented on #30470
Our docs are a copy of the [gbq ones](https://github.com/pydata/pandas-gbq/blob/master/pandas_gbq/gbq.py#L1090), i've updated the pandas side [here](https://github.com/pandas-dev/pandas/pull/30478/files). Would be good to do the same in pandas_gbq.

Thinking we should maybe restore a [little documentation](https://github.com/pandas-dev/pandas/pull/15879/files#diff-7808955c52ebab35aaece971aa42025aL

[2019-12-26 16:51] jbrockmendel commented on #28143
go for it

[2019-12-26 16:57] fujiaxiang commented on #30463
Tried on master. It does seem we have an issue here.

[code]

This gives us all null values
[code]

GroupBy.pct_change with default parameters seems ok
[code]

However, this raises an error
[code]

This is even more weird. Somehow only index=b has values and they are all the same values.
[code]

[2019-12-26 17:06] mrocklin commented on #30480
Hi All,

A few comments from the Dask side

1.  Processing SQL queries is one of our more common feature requests.  I agree with @zbrookle
 that there are a ton of people who would use this.
2.  Has this been done before?  Are there other projects that have tried this in the past?  If so, what happened to them?
3.  It might make sense to release this outside of Pandas first, but to have strong con

[2019-12-26 17:19] DenisVorotyntsev commented on #30484
```df = df.drop("target", axis=1)```
Does it require more memory than `inplace`?

[2019-12-26 17:26] zbrookle commented on #30480
@mrocklin I'm almost positive this hasn't been done before, and definitely the need is there. From a quick google search of "pandas sql" I think the need is very apparent, since there are hundreds of guides explaining how to use pandas if you only know sql and when/how to use pandas vs. sql (although I think they mean databases)

[2019-12-26 17:42] devin-petersohn commented on #30480
Thanks for the ping @datapythonista I will give some thoughts here.

Dataframes are not relational tables, which means that the SQL equivalents of pandas API calls will be slightly different semantically. Spark does not have a "true" dataframe in the pure sense like pandas or R, but that is a different discussion. It is worth mentioning here because there was a comparison to Spark in the thread.

[2019-12-26 18:08] mroeschke commented on #30486
@charlesdong1991 if you could find a way to reduce the runtime of some of the tests in this file while maintaining the spirit of the tests, that'd be much appreciated as well! Some of the tests in this file take a while to run.

[2019-12-26 19:22] jbrockmendel commented on #21373
closeable?

[2019-12-26 19:44] #21373 closed

[2019-12-26 20:28] wesm commented on #30480
Ideally I would like to see a pandas-independent SQL parser that can generate a reasonable logical query plan (similar to stuff we've done in https://github.com/ibis-project/ibis -- we never have tried parsing SQL, instead the inverse: opting to model SQL semantics with a pandas-like DSL) that can be mapped to data frame operations. To save you some time, you could consider creating a Cython bindi

[2019-12-26 21:19] #13296 closed

[2019-12-26 22:33] zbrookle commented on #30480
@devin-petersohn I’m aware that DataFrames aren’t really relational tables, it’s just that for sql to work normally they need to be treated logically that way in the sql but not in the actual execution. That’s one issue I had to solve when making the SQL api. What I found though was that as long as you collect the correct metadata when you register a table, you have all the logical parts needed fo

[2019-12-26 22:34] zbrookle commented on #30480
@wesm I agree, and that’s really the intention with this. My goal is really the inverse of what ibis does, but specifically for pandas.

Also to clarify for everyone, I already implemented this with lark parser and my own execution plan.

[2019-12-27 00:45] jbrockmendel commented on #21829
The first line in a the .c file generaetd by cython tells us `/* Generated by Cython 0.29.14 */`, so in principle it wouldn't be hard to check if it was created by an old cython.  This does sound like something that should be checked within cythonize though.  cc @scoder.

[2019-12-27 00:52] jbrockmendel commented on #23920
I don't think we should spend a lot of effort in figuring out of a user (dev) is using pip vs conda.  If someone is using make, they should have a fairly good idea what they're doing.  @srinivasreddy did you have a particular change in mind you'd like to add to the makefile?

[2019-12-27 00:55] jbrockmendel commented on #23015
requirements-dev.txt doesn't list sphinxcontrib-spelling.  Does that render this moot?

[2019-12-27 01:02] jbrockmendel commented on #18294
I guess these would now go in environment.yml.  If this is in the form of a comment for the pandoc entry, it would be lost when requirements-dev.txt is auto-generated, but we could add a comment at the top of requirements-dev.txt suggesting the user look at environment.yml for the comments

[2019-12-27 01:04] jreback commented on #23015
iirc we removed this

[2019-12-27 01:20] alimcmaster1 commented on #22719
I get the same on same on Linux:

[code]

Backtrace
[code]

[2019-12-27 01:25] jbrockmendel opened #30500 "DEPR: Tick comparison with str"
ATM Tick offset comparisons try casting strings to offsets with to_offset before doing == or !=, but not for inequalities:

[code]

In order to make this behavior more consistent, we should deprecate allowing str casting for == and !=.  This would allow us to dispatch to the Timedelta inequalities, which have better handling for corner cases anyway (e.g. `m < np.ndarray([m, m]` which Timedelta get

[2019-12-27 01:37] jbrockmendel commented on #23684
Not relevant since py2 has been dropped, closing.

[2019-12-27 01:37] #23684 closed

[2019-12-27 02:28] alimcmaster1 commented on #30356
@topper-123

I can _maybe_ help debug..
Weirdly on Win10 running `python setup.py build_ext --inplace -j 4` worked fine for me.
(Tried several times to check if it was random issue - but I can't seem to reproduce.)

I might try on a PR with the change to see if we can repro on our Azure windows jobs?

[code]

[2019-12-27 02:39] fujiaxiang commented on #30463
I will take a look at this

[2019-12-27 02:40] fujiaxiang commented on #30463
take

[2019-12-27 03:03] WillAyd commented on #30356
@alimcmaster1 can you try upgrading Cython? I think this is a noop until 0.29.14 so you might not run into it on previous versions

[2019-12-27 05:44] naomi172839 commented on #29886
I tackled the remaining files.  Did not implement a test though.

[2019-12-27 05:51] xuancong84 commented on #18166
I agree with OP, there is some design flaw and bug in the low-level DataFrame construction code that needs to be fixed. My examples below illustrates the problem:

1. The following code shows the normal behaviour for using dict to construct row data, the result is correct and as expected:
`pd.DataFrame.from_dict(OrderedDict([(d, {0:0} if ii in [2,3,6] else {i:np.random.random() for i in range(5)})

[2019-12-27 08:49] itsmrpk opened #30510 "test"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-12-27 08:49] #30510 closed

[2019-12-27 09:06] #29843 closed

[2019-12-27 09:36] yasersakkaf commented on #11704
@antoinecomp Did you solve the error. I am getting the same.

[2019-12-27 11:29] giuliobeseghi opened #30511 "tz_localize creates freq inconsistency on time offset change"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`tz_localize(None)` doesn't check if the frequency is still consistent with the new localized index. In the case of Daylight Saving Time switch, the frequency of the index should become None (since duplicated/missing timestamps are created).

#### Expected Output

Achievable with:

[code]

#### Output of ``pd.s

[2019-12-27 11:53] jreback commented on #30511
pls verify this on master

[2019-12-27 11:55] baevpetr commented on #10720
Ping you guys one more time)
@jbrockmendel or @jreback or @jorisvandenbossche.

[2019-12-27 11:58] jreback commented on #10720
@baevpetr if you want to put up a PR much easier to see and commenf

[2019-12-27 12:56] ckoopmann opened #30512 "DataFrame.replace changes dtype of columns not containing any value to be replaced."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Checking data.dtypes before and after the call to replace shows that the datatype of column B changed from float to object whereas that of C stayed at int. If I remove column A from the original data that does not happen.

When using replace I expected columns without any matching not to be touched / changed.

[2019-12-27 13:47] fuglede commented on #23305
When something happens here, you may want to add the details to [this related StackOverflow question](https://stackoverflow.com/q/59500812/5085211).

[2019-12-27 14:09] #24115 closed

[2019-12-27 14:41] #28836 closed

[2019-12-27 14:51] WillAyd commented on #30356
If it is helpful I believe in theory there is a way for the Windows compiler to perform parallel builds:

https://docs.microsoft.com/en-us/cpp/build/reference/mp-build-with-multiple-processes?view=vs-2019

How distutils maps the `-j` argument back to that I'm not sure, but potentially worth investigating for anyone with interest

Also note that in our own setup file we reuse the `-j` argument to t

[2019-12-27 16:00] #29069 closed

[2019-12-27 16:16] #30289 closed

[2019-12-27 16:21] #30470 closed

[2019-12-27 16:22] TomAugspurger commented on #30415
You can use isna to distinguish pd.NA from the string NA.

We’d prefer to us NA rather than None for consistent behavior across dtypes. We have more control over NA.

[2019-12-27 16:29] #30288 closed

[2019-12-27 16:52] #30296 closed

[2019-12-27 16:58] #11052 closed

[2019-12-27 16:58] giuliobeseghi commented on #21684
It seems that `set_axis` is a bit of a mess:

1. DataFrame and Series:
    a. The default for `inplace` is `True`, should be `False`
    b. It should probably follow the convention of other methods (e.g. `rename_axis`) with the         `index/columns` argument

2. Series:
    a. The docs suggest that the value of `axis` can be passed, and can be different from zero. It shouldn't make sense - serie

[2019-12-27 16:59] jreback commented on #30043
@jbrockmendel @TomAugspurger looks closeable yes?

[2019-12-27 16:59] jreback commented on #29676
@alimcmaster1 can you confirm everything working and if so close

[2019-12-27 17:00] jreback commented on #29622
would really really like to fix / xfail this test. ! cc @alimcmaster1

[2019-12-27 17:10] jbrockmendel commented on #30043
Yes, numpy has reverted the warning and in this particular case weve updated our usage to avoid the warning.  closing.

[2019-12-27 17:10] #30043 closed

[2019-12-27 17:11] timhunderwood opened #30513 "Performance of merge for categorical index vs category column"
#### Code Sample

[code]
#### Problem description

I noticed that when I perform a merge on a unique category dtype column, the merge gets significantly (x4) slower if I set this column as the index. This was unexpected for me as for all other dtypes I have tried (str, int, datetime etc.) the merge is significantly faster when using the indexed column.

I investigated this a bit further. Even thou

[2019-12-27 17:33] mroeschke commented on #30511
Thanks for the report. Verified on master. PR's welcome!

[2019-12-27 17:36] jreback commented on #30513
pls check this on master

PR to patch welcome

[2019-12-27 18:30] alimcmaster1 commented on #29622
take

[2019-12-27 19:27] #28987 closed

[2019-12-27 20:27] Dr-Irv opened #30517 "DataFrame.set_index() may not preserve dtype"
xref #19602

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the above, I start with a `DataFrame` with a column `mixed` that has both integer and string values.

In statement [6],  I do a query on a different column and then set the index to be the column `mixed`.  The resulting index now has an `int64` dtype as opposed to having the dtype preserved from

[2019-12-27 20:34] jbrockmendel commented on #24990
Closed by #29853

[2019-12-27 20:34] #24990 closed

[2019-12-27 20:53] #4205 closed

[2019-12-27 21:25] gokceneraslan commented on #28007
Same happens with the feather and parquet formats too, right?

[2019-12-27 21:31] yohplala opened #30518 "UTC offset defined through to_datetime function appears reversed"
Hello,
Sorry to intrude, I think there might be a trouble with parsing strings containing timezone data as 'GMT+1'.

Basically, I have a list of timestamps stored as strings:

'''
0     Sat Mar 30 2019 21:00:00 GMT+0100
1     Sat Mar 30 2019 22:00:00 GMT+0100
2     Sat Mar 30 2019 23:00:00 GMT+0100
3     Sun Mar 31 2019 00:00:00 GMT+0100
'''

I add them in a dataframe as datetime object.

'''
GC['

[2019-12-27 21:44] WillAyd commented on #30356
So from testing I do think it's the `nthread` argument that isn't working on Windows:

https://github.com/pandas-dev/pandas/blob/1d36851ffdc8391b8b60a7628ce5a536180ef13b/setup.py#L523

If this gets ignored for Windows I think the parallel build works, so could temporarily patch for now or see if there's an upstream fix for Cython

@alimcmaster1 and/or @topper-123  are you seeing the same?

[2019-12-27 21:54] jayenashar commented on #14260
is it possible to pass a boolean DataFrame as the `subset` parameter of `background_gradient`?  then we could use:

    return (df
             .style
             .background_gradient(
                subset=~pd.isnull(df), # only apply gradient to the non-nan data
                cmap=sns.palettes.diverging_palette(
                     h_neg=h_neg, h_pos=h_pos, s=s, l=l, as_cmap=True)

[2019-12-27 22:44] jayenashar commented on #14260
i got this to style nan as 0 in the worst way possible.  this is for pandas 0.25.3 and may not work for other versions.  breaks `highlight_null` as well.

[code]

[2019-12-27 23:03] jbrockmendel commented on #25018
On further reflection, I would rather nanops retain the tighter typing.  Closing.

[2019-12-27 23:03] #25018 closed

[2019-12-27 23:04] jlamborn324 commented on #29547
I'lll take:

- [ ] pandas/tests/io/formats/test_css.py
- [ ] pandas/tests/io/formats/test_format.py
- [ ] pandas/tests/io/formats/test_printing.py
- [ ] pandas/tests/io/formats/test_style.py
- [ ] pandas/tests/io/formats/test_to_csv.py
- [ ] pandas/tests/io/formats/test_to_excel.py

[2019-12-27 23:24] ivan-vasilev opened #30520 "Performance issue with pandas/core/common.py -> maybe_box_datetimelike"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This function determines whether `value` is of type `(np.datetime64, datetime)` and if so, converts it into `tslibs.Timestamp`. However, the class `tslibs.Timestamp` is already a subclass of `datetime`. Therefore, even if the object `value` is already of type `tslibs.Timestamp`, it will be needlessly converted

[2019-12-28 00:19] jbrockmendel opened #30522 "EA: np.array(integer_array) with no NAs"
ATM we coerce to object, but it would be more performant (and to me at least, more intuitive) to return the underlying ndarray without the mask.  I guess this sacrifices consistency.

[2019-12-28 00:20] jbrockmendel commented on #30520
Can you post some profiling results for this?

[2019-12-28 01:16] TomAugspurger commented on #30522
I think dtype consistency is more important.

[2019-12-28 01:21] jreback commented on #30522
agree with @TomAugspurger

users won’t do this very often as we r handling the dispatch of functions anyhow

we might want to make the data & mask publicly accessible though thru attributes in case you really do want to drop to numpy (eg we have this exact case in another PR where we want to pass the data and mask to cython for conversion to date times and having to peer inside the container is no

[2019-12-28 01:42] #30522 closed

[2019-12-28 04:39] mroeschke commented on #30518
Thanks for the report. This parsing hits our dateutil parser which exhibits the same behavior. You might want to raise an issue about parsing these dates on their issue tracker:

[code]

[2019-12-28 04:39] #30518 closed

[2019-12-28 05:11] mroeschke commented on #6772
Yup looks like #28297 addresses this

[2019-12-28 05:11] #6772 closed

[2019-12-28 05:36] mroeschke commented on #14720
This use case seem pretty domain specific. If `cut` could operate on a "Polar coordinate data type", that might be more appropriate, but until then closing for now.

[2019-12-28 05:36] #14720 closed

[2019-12-28 05:46] mroeschke commented on #14584
For numeric data, where this matters, I also think a wrapper function can be written around `to_numeric(..., downcast=...)` where needed, but I think a `compress_dtypes` function might be out of scope.

Thanks for the suggestion. Going to close for lack of discussion.

[2019-12-28 05:46] #14584 closed

[2019-12-28 05:57] mroeschke commented on #21620
I agree with @WillAyd that using a lambda function is succinct in this case.

Thanks for the suggestion. Closing since there hasn't been much traction on this feature request

[2019-12-28 05:57] #21620 closed

[2019-12-28 06:02] mroeschke commented on #24399
Thanks for the suggestion. As mentioned before, I think this use case is a little niche to warrant a new keyword on `merge_asof`

Closing as there hasn't been much traction on this feature request.

[2019-12-28 06:02] #24399 closed

[2019-12-28 06:41] fujiaxiang commented on #30463
There are two separate issues:
1. `Series / DataFrame.pct_change` incorrectly reindex(es) results when `freq is None`
1. `SeriesGroupBY / DataFrameGroupBY` did not handle the case when `fill_method is None`

Will create separate PRs to address them

[2019-12-28 06:51] yohplala commented on #30518
Hello Matthew,
Thanks for the reply.
I added a comment in an existing issue. I see I havee not been the 1st to spot this trouble, and it would appear that there is no 'convention' on how interpreting the offset... Damned... I proposed to leave the choice to the coder.

https://github.com/dateutil/dateutil/issues/968

Bests,
Pierre

[2019-12-28 07:36] charlesdong1991 commented on #30486
will try @mroeschke

[2019-12-28 09:13] jorisvandenbossche commented on #30415
@anisotropi4 I'm sorry if I changed the intent of your issue without explicitly saying or asking that. You're correct there can be two questions, but I understood your comment on twitter to be your second item ("how to *display*).
There are good reasons IMO to not use `None` as the missing value indicator: 1) as Tom said, we want to use something consistently across data types, 2) `None` does have

[2019-12-28 12:48] simonjayhawkins commented on #30483
@janpipek Thanks for the report. This has been implemented on master. see #28692

[2019-12-28 12:49] simonjayhawkins commented on #30483
duplicate of #28663

[2019-12-28 12:49] #30483 closed

[2019-12-28 13:12] timhunderwood commented on #30513
Thanks, I have just checked on master and the issue still exists:

 0.68 seconds to merge on a categorical column vs 3.1 seconds to merge when that column is set as an index.

[2019-12-28 13:12] TomAugspurger commented on #30415
Right you covered the display stuff :) I think we should explore the color stuff at least within IPython and jupyter.

[2019-12-28 13:59] simonjayhawkins opened #30527 "CI failing: Web_and_Docs (ipython 7.10.1 -> 7.11.0)"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=24101&view=logs&j=5291ec4e-9543-503b-43ce-895cf0e06ba3&t=ba0a2b35-e1f8-54df-fd66-2b9fde6f4b1f

[2019-12-28 16:59] #27831 closed

[2019-12-28 17:43] jbrockmendel commented on #20304
nbsphinx is now in environment.yml (and so also requirements-dev.txt).  closeable?

[2019-12-28 19:46] TomAugspurger commented on #30415
Just for fun, wrote this up

[code]

This worked for the array repr, but not for Series or DataFrame

<img width="318" alt="Screen Shot 2019-12-28 at 1 45 05 PM" src="https://user-images.githubusercontent.com/1312546/71548752-6ecd8b00-2978-11ea-88b6-4d00be1b716a.png">

[2019-12-28 20:08] jreback commented on #30415
right we likely need to ask the column for its repr of nulls (rather than hard code based on dtype)

[2019-12-28 21:51] ivan-vasilev commented on #30520
The following is the profiler output of the execution of my program with the current (non-optimized) version of the `maybe_box_datetimelike` function. This code is doing some data processing over a large dataframe with timestamps (I cannot include the full code). As you can see, `maybe_box_datetimelike` takes the majority of the time:

[code]

Next is the profiler output of **exactly the same code

[2019-12-28 21:54] jbrockmendel commented on #30520
That's a pretty compelling performance difference, thanks.  PR would be welcome.

[2019-12-28 22:04] jreback commented on #30520
pls show a specific reproducible example that exhibits the perf issue - it will be needed for asvs in any event

[2019-12-29 00:57] jbrockmendel commented on #30527
is the hypothesis that pinning ipython will fix this?

[2019-12-29 00:59] yehoshuadimarsky commented on #23566
@WillAyd @jorisvandenbossche are you able to help point me in the right direction? ☝️

[2019-12-29 02:29] thepaullee commented on #29547
I'll take

- [ ]  pandas/compat/pickle_compat.py
- [ ]  pandas/_config/config.py
- [ ]  pandas/core/arrays/boolean.py

[2019-12-29 02:34] jbrockmendel commented on #1094
-1 on this.  We're actively trying to get complexity _out_ of the arithmetic code, and I'm finding the flex ops have very little testing.

[2019-12-29 03:03] jreback commented on #1094
how is this different than alignment which we already do

[2019-12-29 07:15] fujiaxiang opened #30533 "Inconsistent index in result of groupby apply"
### I'm not really sure if this is an "issue" or the intended behavior, but it just seems unnatural to me to get this result.

[code]
[code]
[code]
Notice that the two produces different results.
A simple code trace tells me this difference comes from `BaseGrouper.apply` which return `mutated=False` for `.apply(lambda x: x)` and `mutate=True` for `.apply(lambda x: x.copy())`

This could cause unwa

[2019-12-29 08:26] fujiaxiang commented on #30187
@FlorianDietz
I tried your suggestion on version 0.25.3, isn't this feature already there? Correct me if I misunderstood you.

[code]

In your case, if you wish to catch the datetime groups with multiple different dates, you can then filter on that `nunique` column. Something like the below.
[code]

[2019-12-29 09:52] FlorianDietz commented on #30187
No, that's not what I mean. Although I should have picked a different name than 'unique', since that already exists.

This is what I mean:

[code]

In your example, the function would raise an error. This is useful for performing sanity checks during aggregations. It's very useful to do this when you received your data from external sources who you can't fully trust to have done a good job. It's a

[2019-12-29 10:29] charlesdong1991 commented on #30527
i think they are fixing it in this PR to avoid this error for now:

https://github.com/ipython/ipython/pull/12069

[2019-12-29 10:37] fujiaxiang commented on #30187
That already exists. Just remove the quotes, like this:
[code]
You can use any custom function like this, as long as they have an output that can be properly concatenated in pandas' context.
However, unless you are sure you can't use the built-in functions, I would suggest you use the built-in functionalities which usually are much faster than custom defined python functions (often they pass the h

[2019-12-29 13:40] alapini opened #30536 "Named Aggregation : Can't use multiple lambda on the same column"
Note : I read #28467 before posting this
#### Code Sample, a copy-pastable example if possible
Reproduction :
[code]
#### Problem description

Applying multiple unnamed aggregation functions to the same column throws the exception below, but may not, I think.
`
"None of [MultiIndex([('height', '<lambda>'),\n            ('height', '<lambda>')],\n           )] are in the [columns]"
`

#### Expected

[2019-12-29 13:44] fujiaxiang commented on #30429
I will take on this. Will make a draft full doc-string first. We can then discuss the design there.

[2019-12-29 13:44] fujiaxiang commented on #30429
take

[2019-12-29 14:17] #30527 closed

[2019-12-29 14:18] jreback commented on #30527
@simonjayhawkins can i make an issue to unpin this at some point

[2019-12-29 14:20] #30536 closed

[2019-12-29 14:22] simonjayhawkins opened #30537 "Unpin ipython 7.10.1 once ipython 7.11.1 released"
xref https://github.com/cython/cython/pull/3291#issuecomment-569403562

[2019-12-29 14:29] simonjayhawkins commented on #30527
xref #30537

[2019-12-29 14:51] jreback opened #30538 "CI: switch travis default python to 3.7"
we are using 3.5 on all travis co for the base environment: https://github.com/pandas-dev/pandas/blob/master/.travis.yml

this doesn’t ultimately matter as we create appropriate conda environments, but should move this forward

[2019-12-29 15:08] simonjayhawkins opened #30539 "DISC: enable disallow_any_generics for mypy in setup.cfg?"
This flag disallows usage of generic types that do not specify explicit type parameters. Moreover, built-in collections (such as list and dict) become disallowed as you should use their aliases from the typing module (such as List[int] and Dict[str, str]).

Enabling this would address common pull request review comments. @WillAyd

[2019-12-29 15:10] simonjayhawkins commented on #30539
expand to see current list
<details>

[code]

</details>

[2019-12-29 16:19] leonardr commented on #29622
This was brought to my attention through [Beautiful Soup bug 1857765](https://bugs.launchpad.net/beautifulsoup/+bug/1857767). I've fixed the problem on the Beautiful Soup side in revision 533. However, in normal usage Tag.attrs should never be None. Looking at the test that's failing I think there's a problem in pandas code, though the fix isn't obvious to me.

[This code](https://github.com/panda

[2019-12-29 16:32] jschendel commented on #30520
Is the performance issue here really with `maybe_box_datetimelike`?  Or is the performance of `maybe_box_datetimelike` just a symptom of the `Timestamp` constructor being slow when passed a `Timestamp`?

From some quick adhoc timings it looks like >70% of the time spent in `maybe_box_datetimelike` is on `Timestamp(Timestamp('2020'))`:
[code]
Which looks like can be improved by a simple `isinstance

[2019-12-29 17:57] jbrockmendel commented on #30520
This seems reasonable.  We would have to check that there aren't any other arguments passed, not sure what kind of hit that would entail.  Might pick up some ground by not needing to create a new object.

[2019-12-29 18:21] jbrockmendel commented on #19778
Looking at this, this seems to boil down to determining whether the `if kind == "aggregate" and self._filter_empty_groups and not counts.all():` condition is ever satisfied.  it isn't in the tests that make it to codecov: https://codecov.io/gh/pandas-dev/pandas/src/master/pandas/core/groupby/ops.py#L547, but maybe in e.g. slow tests?

[2019-12-29 18:31] jschendel commented on #30520
Ah, yeah, that makes it a little more convoluted. I'm fine with making both suggested changes, to the constructor and `maybe_box_datetimelike`, since we probably won't be able to get all the perf improvements of the `isinstance` check in `maybe_box_datetimelike` pushed back to the constructor.  I'll create a separate issue for the constructor.

[2019-12-29 18:45] jschendel opened #30543 "PERF: Timestamp/Timedelta constructors when passed a Timestamp/Timedelta"
The `Timestamp` constructor's performance could be improved when an existing `Timestamp` object is passed to it via an `isinstance`-like check:
[code]
Some care is needed in the constructor to check if other arguments have been passed, e.g. `tz`, where we wouldn't be able to directly return the `Timestamp` object.

Similar story for the `Timedelta` constructor (should be done in a separate PR):
[c

[2019-12-29 19:00] FlorianDietz commented on #30187
I am aware that this already exists. As I stated, this doesn't do anything that is not already possible. However, it makes it possible to perform these kinds of error checks in one line, for multiple columns, without having to manually add an assertion for each of them. It's purely a convenience function that makes it easier to check for errors, and therefore makes developers more likely to perfor

[2019-12-29 19:01] alimcmaster1 commented on #29622
Thanks very much @leonardr for taking a look into this. I agree with you we should look into this on the pandas side. Ill take a look and reply back on here

I can confirm your change in revision 553 fix our test on master. https://bazaar.launchpad.net/~leonardr/beautifuI lsoup/bs4/revision/553

@jreback I have xfailed our tests for now and then will remove when beautifulsoup changes are released:

[2019-12-29 20:08] leonardr commented on #29622
I can do a release once we figure out how to deal with the underlying situation -- a Tag might have been decomposed and there's no way to tell.

[2019-12-29 20:33] emkornfield commented on #30480
Regarding zetasql, I haven't looked closely but since it follows Google style guide it probably wouldn't be too hard to make cython bindings for it (based on our the experience Arrow has had with similar code guidelines).

A few other points that might or might not make it a good choice:
1. zetasql isn't just the underlying SQL syntax for Bigquery, but also Cloud Spanner and I believe there is als

[2019-12-29 20:42] pshMsGsAZL2n07ohWBCAGX9cC commented on #30351
Tom, I added a clarification about a week ago, saying that I didn't think it was a duplicate.  Can you please take a look?  Apologies in advance, as I'm relatively new to github and don't understand exactly how issues are "re-opened".  Thanks.

[2019-12-29 21:00] pshMsGsAZL2n07ohWBCAGX9cC opened #30549 "Re-Opening: Pivot Table Margins aren't correctly showing NaN values despite dummy variables"
I'm re-opening the issue[ #30351](https://github.com/pandas-dev/pandas/issues/30351), as I don't believe it's a duplicate and it occurs regardless of graphing.  Please see this prior issue for all the background.  [Tom, I posted some clarifying comments about a week ago on the original issue, but perhaps they got lost in the holiday rush.]  I'm relatively new to github, so apologies if I didn't fo

[2019-12-29 22:12] charlesdong1991 commented on #3729
take

[2019-12-29 22:59] jbrockmendel opened #30552 "PERF: groupby with many empty groups memory blowup"
Suppose we have a Categorical with many unused categories:

[code]

There are only 24 rows in this DataFrame, so we shouldn't be creating millions of groups.

Without the Categorical, but just a large cross-product that implies many empty groups, this works fine:

[code]

[2019-12-29 23:02] ivan-vasilev commented on #30520
I'm currently trying to write the ASV performance test for this pull request. If I understand correctly, the test should be located under `pandas/asv_bench/benchmarks/`. Are there any other requirements about this benchmark. E.g. should I place it an existing benchmark, or alternatively, should I create a new file? Thanks in advance.

[2019-12-29 23:23] jreback commented on #30552
this is the point of the observed keyword

[2019-12-29 23:27] yehoshuadimarsky commented on #23566
Just to close the loop on my earlier question, I never fully figured out how the slicing happens, but it seems it happens at some Cython layer via the `self._selected_obj` attribute and its `@cache_readonly` decorator. Happily, it didn't end up mattering, as all I needed to do was intercept the call on the `DataFrameGroupBy` to the `__getitem__` method of the `SelectionMixin` by adding its own `__

[2019-12-29 23:29] yehoshuadimarsky commented on #23566
Although I will confess to being a bit surprised (disappointed?) in the total lack of response from the pandas developers to my question above. Pandas has a reputation as being a welcoming OSS community, and the question was well-researched and clearly stated, so I thought I'd get a bit more feedback than that. Guess I'll attribute it to the holiday season.

[2019-12-29 23:40] jreback commented on #23566
@yehoshuadimarsky we have 3000+ issues and constant comments - to be honest we barely have time to triage  on the PRs

even really important things are not necessarily  discussed at length

just like everyone else has limited time - the best way to prompt a discussion is to push a change

[2019-12-29 23:43] yehoshuadimarsky commented on #23566
Totally understand. Thanks for acknowledging, and more importantly, thanks for the incredibly important work you do in maintaining pandas.

[2019-12-30 01:31] jbrockmendel commented on #30520
Depends a little bit on what you're profiling.  If youre profiling _only_ the Timestamp constructor, then it goes in benchmarks/tslibs/timestamp.py::TimestampConstruction.  If you're profiling maybe_box_datetimelike, maybe inference.py?  You've got some discretion in this case.

[2019-12-30 06:57] souvik3333 commented on #30543
Hi, Can I do it?

[2019-12-30 08:18] autocyz opened #30555 "read_csv s3 file parameter memory_map default is True?"
#### Code Sample

[code]
#### Problem description
when I use `code1`, if s3 file changed, `info` not change.
`code2` can find the change.
The difference between these two code is parameter `memory_map`, actually, default `memory_map`  is False,  so I was confused.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7

[2019-12-30 09:32] janpipek commented on #30483
Oops, sorry, thank you. I should have looked closer. Nice job :-)

[2019-12-30 11:49] MarcoGorelli opened #30557 "Should I be able to initialise a Series with dtype PeriodDtype?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The second command fails with
[code]

This confused me, as I am able to initialise Series with other dtypes:
[code]

#### Expected Output

Probably something like this
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 2ec41bdc9b6dd59f48249262aa46e

[2019-12-30 11:51] TomAugspurger commented on #30415
Just FYI, this will take a bit more work to get working inside Series / DataFrame. Things like truncating / aligning columns gets broken because the length of the "value" `"\033[91m + NA + \033[0m" doesn't match its display length of 2. I don't think this should necessarily be a blocker for 1.0.

[2019-12-30 11:55] TomAugspurger commented on #30557
Raising looks correct, though the error message could perhaps be improved. You're passing a list of Indexes to the Series constructor, but asking for a Period dtype.

I think you want

[code]

[2019-12-30 11:57] TomAugspurger commented on #30549
We'll just reuse https://github.com/pandas-dev/pandas/issues/30351

[2019-12-30 11:57] #30549 closed

[2019-12-30 12:00] TomAugspurger commented on #30351
@pshMsGsAZL2n07ohWBCAGX9cC can you make a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports Is seaborn / matplotlib necessary, or does just

[code]

display the issue? Is it that the total for Manf and Retail are NaN, rather than 0?

[2019-12-30 12:04] MarcoGorelli commented on #30557
What if someone wants a series of Periods, in the same way that with
[code]
you get a series of intervals?

[2019-12-30 12:12] MarcoGorelli commented on #30557
Sorry, my mistake, the correct way to do this would be with
[code]
I presume

[2019-12-30 12:12] #30557 closed

[2019-12-30 12:19] jreback commented on #30415
for sure not a blocker

[2019-12-30 12:41] ja3067 commented on #30451
`by` would need to be added to `Series.sort_values` (as the first argument, so API breaking) _and_ we would need to remove the default `by=None` argument in `NDFrame.sort_values` in `generic.py`.

[2019-12-30 12:47] TomAugspurger commented on #27492
cc @pandas-dev/pandas-core it's about time to cut a release candidate. I'd like to do one on Friday / this weekend if possible, and let it sit for a week or two. Does that sound reasonable to people? I'll go through the backlog of issues / PRs tagged for 1.0, but let me know if you have an issue you consider a blocker and I'll add it to the list.

[2019-12-30 13:09] #30538 closed

[2019-12-30 13:30] #19296 closed

[2019-12-30 14:00] TomAugspurger commented on #6783
@baevpetr I think this is already being fixed in #30554.

[2019-12-30 14:01] TomAugspurger commented on #7501
Pushing this off 1.0.

[2019-12-30 14:07] TomAugspurger commented on #10000
@jorisvandenbossche is there anything concrete in this issue that isn't recorded elsewhere? We'll need to re-title it soon :)

Is there anything here that's a blocker / nice-to-have for 1.0?

[2019-12-30 14:09] TomAugspurger commented on #10254
Well, this is kinda "fixed" since we drop non-numeric data before plotting, and AFAICT, categorical is always considered non-numeric, regardless of the underlying type. This can be improved, but isn't a blocker.

[2019-12-30 14:11] michal-at-travisci commented on #30041
Hi @ossdev07
I left you a direct message on Travis CI community forum. Long story short - you should be able to build now pandas repository with longer timeouts, which should enable your arm builds with Travis CI. Please take it for a spin and see if it works for you. Also the hints provided in Travis CI community forum may help speeding up the builds.

As a side note, I'd like to point you to a c

[2019-12-30 14:12] TomAugspurger commented on #10734
I don't think a decision was made about what to do. I don't have a strong opinion, but I'm removing it from the 1.0 milestone.

[2019-12-30 14:15] TomAugspurger commented on #11704
There's a stalled branch at https://github.com/pandas-dev/pandas/pull/27399 if anyone wants to pick this up.

[2019-12-30 14:16] TomAugspurger commented on #12857
This was fixed by https://github.com/pandas-dev/pandas/pull/30327 (https://github.com/pandas-dev/pandas/commit/ccbe7be367e970dcbcd526f6b883b9db20979638 specifically I think).

[2019-12-30 14:16] #12857 closed

[2019-12-30 14:18] TomAugspurger commented on #13027
This could use a decision one way or another. I don't have a strong opinion.

[2019-12-30 14:19] TomAugspurger commented on #13468
@jorisvandenbossche is the only remaining issue here documenting the behavior?

[2019-12-30 14:20] Liam3851 commented on #30555
@autocyz How quickly did you read the file after you changed it? S3 does not guarantee read-after-update consistency (see https://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html#ConsistencyModel). If you let less than 2-3 minutes go by between your update and running get_pid() you might have gotten a stale copy.

[2019-12-30 14:25] jreback commented on #27492
sgtm. i don't think we have anything actually blocking, just a couple of PRs (NA stuff) that should merge before, but seems doable.

[2019-12-30 14:53] Connossor opened #30559 "BUG: Rolling aggregations on grouped data ignore win_type parameter"
It appears that rolling aggregations on groupby objects do not behave as expected. It looks like the `win_type` parameter is ignored. Here's a minimal example:

#### Code Sample

In this example, a rolling mean is calculated with "uniform" weights and also with "blackman" weights. In each case, the mean is calculated on the ungrouped data and the grouped data, which _should_ give the same result a

[2019-12-30 15:11] TomAugspurger commented on #15375
FWIW, I think this will be effectively closed by #29964. That changes IntegerArray to use `pd.NA`, which has `NA` as its repr.

[code]

I don't think we'll want to move away from `np.nan` for ndarrays, and I don't think we want to display `nan` as NA, since they have different behaviors.

[2019-12-30 15:14] TomAugspurger commented on #15657
FWIW, I *might* consider this out of scope. This kind of downcasting may be best handled by the user.

[2019-12-30 15:15] TomAugspurger commented on #15862
@jreback do you think there's anything here that's a blocker for 1.0?

[2019-12-30 15:18] TomAugspurger commented on #16529
I assume this isn't happening for 1.0, so pushing off this milestone.

[2019-12-30 15:18] TomAugspurger commented on #17287
I think this issue can be closed. https://github.com/pandas-dev/pandas/issues/14829 is the only one on this list not already solved.

[2019-12-30 15:18] #17287 closed

[2019-12-30 15:21] TomAugspurger commented on #20684
This was fixed by https://github.com/pandas-dev/pandas/pull/28628

[2019-12-30 15:21] #20684 closed

[2019-12-30 15:22] TomAugspurger commented on #20899
Not happening for 1.0

[2019-12-30 15:23] TomAugspurger commented on #20909
I think we've enforced this deprecation, so considering this closed.

[2019-12-30 15:23] #20909 closed

[2019-12-30 15:49] TomAugspurger commented on #21801
I *think* that everything here has been resolved by https://github.com/pandas-dev/pandas/pull/27137

[2019-12-30 15:49] #21801 closed

[2019-12-30 16:01] TomAugspurger commented on #27892
Pushing.

[2019-12-30 16:05] TomAugspurger commented on #28150
I don't think this is a blocker for 1.0.

[2019-12-30 16:16] oguzhanogreden commented on #19950
[The answer to the the popular question](https://stackoverflow.com/a/55757002) hints that it's okay to overwrite columns with the result of this method.

That quickly got me here, which doesn't work as I expected with version 0.25.1:

[code]

Do you consider this expected behavior? I'm not very familiar with selector implementations, but my user intuition tells me this should work.

[2019-12-30 16:26] jbrockmendel commented on #28150
closed by #30523.

[2019-12-30 16:26] #28150 closed

[2019-12-30 17:33] TomAugspurger commented on #29886
So the only remaining item is a code check test for `!r` rather than repr?

[2019-12-30 17:33] TomAugspurger commented on #29886
Actually, it looks like we have a check for that. @MomIsBestFriend is there anything else to do here?

[2019-12-30 17:37] TomAugspurger commented on #29884
So the remaining item here is sorting NaT at the end for DatetimeIndex and TimedeltaIndex? So this would change from

[code]

to

[code]

Is this a blocker for 1.0? If so, do we need a deprecation cycle?

[2019-12-30 17:40] TomAugspurger commented on #27338
FWIW, on master, this does succeed

[code]

[2019-12-30 17:45] TomAugspurger commented on #26639
I think we'll close this, since StringDtype avoids it.

[2019-12-30 17:45] #26639 closed

[2019-12-30 17:47] jbrockmendel commented on #9087
@datapythonista i know you've been looking at the dependencies in the CI.  is this feasible?

[2019-12-30 17:49] #30445 closed

[2019-12-30 17:52] TomAugspurger commented on #26206
I believe this was closed by https://github.com/pandas-dev/pandas/pull/26848. NOt sure why it didn't autoclose.

[2019-12-30 17:52] #26206 closed

[2019-12-30 17:55] #15375 closed

[2019-12-30 17:58] TomAugspurger commented on #24817
Moving this off 1.0, but I've updated the original post with a simplified description. This should be a good first isssue.

[2019-12-30 18:01] TomAugspurger commented on #25151
Pushing off 1.0.

[2019-12-30 18:09] jbrockmendel commented on #27901
Is this literally just creating a repo and moving the files, or is there something more to it?

[2019-12-30 18:39] TomAugspurger commented on #27357
There's a stalled PR at https://github.com/pandas-dev/pandas/pull/28751 that provides a nice starting point.

[2019-12-30 18:51] datapythonista commented on #9087
I'll make a proposal soon for #29685, which should fix this sort of problems.

But this issue is 5 years old, I assume this is not a problem anymore. Closing.

[2019-12-30 18:51] #9087 closed

[2019-12-30 18:51] TomAugspurger commented on #22154
I don't see these warnings on a recent build on travis or azure. I think all of these have been addressed.

[2019-12-30 18:51] #22154 closed

[2019-12-30 18:56] TomAugspurger commented on #22707
It's possible that the recenlty updated pyperclip we vendor has fixed some issues.

Not really, aside from manually setting `pandas.io.clipboard.copy` and `pandas.io.clipboard.paste`.

Going to close this since this is isn't easily reproducible so it's not clear what needs to be done.

[2019-12-30 18:56] #22707 closed

[2019-12-30 19:06] TomAugspurger commented on #22434
I believe this are all fixed on master, perhaps by https://github.com/pandas-dev/pandas/pull/22646.

[2019-12-30 19:06] #22434 closed

[2019-12-30 19:10] joaoleveiga commented on #13357
take

[2019-12-30 19:11] TomAugspurger commented on #23563
Not sure why this is showing up now, but there seems to be an issue with `IntervalDtype.kind`. According to the base class, that's supposed to be a `str`, but IntervalDtype declares it to be `kind: Optional[str_type] = None`.

I think it should just be "O" for object dtype. @jschendel do you have thoughts?

[2019-12-30 19:59] MomIsBestFriend commented on #29886
@TomAugspurger I think not :smiley:

Thank you all for helping :heart:

[2019-12-30 19:59] #29886 closed

[2019-12-30 20:19] rhshadrach commented on #26989
I stumbled upon the same issue and did a little digging into the code. Please forgive any errors that are to follow - I am quite new to looking at the Pandas internals.

It seems like the issue is line 2087 of this block of code within _ScalarAccessIndexer (similar issues for the getter methods):

https://github.com/pandas-dev/pandas/blob/844dc4a4fb8d213303085709aa4a3649400ed51a/pandas/core/indexi

[2019-12-30 20:40] jschendel commented on #23563
Agreed.  Made the change locally but it still doesn't quite fix the failing test, as the it now fails due to #24112, since the `Series` in the test now has `interval` dtype instead of `object` dtype.

[2019-12-30 20:42] TomAugspurger opened #30564 "PERF: regression in Series constructor"
This is captured in the `SeriesConstructor.time_constructor` asv.

[code]

On master

[code]

On 0.25.x

[code]

Looking into a bit now. We're spending a lot more time in `ensure_index` -> `is_period_dtype` / `is_dtype` / `construct_from_string`.

[2019-12-30 20:53] #30298 closed

[2019-12-30 20:56] TomAugspurger commented on #30564
Hmm, so in `Series._init_dict` we go convert the DatetimeIndex to a tuple

[code]

and then go back through `Series.__init__` with `index=keys`, the tuple of Timestamps, which is slow.

[2019-12-30 21:02] IvanUkhov opened #30567 "Boolean indexing into a series with assignment"
I am curious if the following is the intended behavior:

[code]

The expectation was that it would work as with `x.loc[y] = range(5)`:

[code]

If so, where can one read about the logic behind?

<details>
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 0.25.3
numpy            : 1.17.4
pytz             : 2018.4
dateutil         : 2.5.0
pip              : 19.2.3
set

[2019-12-30 21:02] jschendel opened #30568 "BUG: IntervalDtype.kind should be "O" instead of None"
xref https://github.com/pandas-dev/pandas/issues/23563#issuecomment-569767644

This is causing some tests to fail in #28399 and is something that should fixed regardless.  Some care is needed in order to ensure that `is_string_dtype` doesn't return `True` once this update has been made.

[2019-12-30 21:18] TomAugspurger commented on #30564
Oh fun.

In `Index.__init__` we check `is_period_dtype(data)` (the list of tuples), which eventually calls `PeriodDtype.construct_from_string` with the data, to support `is_period_dtype("Period[D]")`. But of course a tuple of timestamps isn't PeriodDtype, so we raise a TypeError.

In #3047, we include the `string` in the error message, which takes a long time to format for the long tuples. A solut

[2019-12-30 22:12] moinluk commented on #22707
It seems to be fixed in pd.__version__ = '0.26.0.dev0+1487.g733eb77f7' Thanks.

[2019-12-30 23:28] alimcmaster1 commented on #29622
Agree thanks for the detailed explanation above. Defer to you really on how you want to handle this and we can update the pandas code accordingly.

Could bs4 provide functionality to safely iterate over a list? Might be easier than callers handling a flag?

Otherwise the flag approach to identify if `.decompose()` has been called on the `Tag` sounds good or calling `.decompose()` a second time a n

[2019-12-31 02:19] fujiaxiang commented on #30567
I believe this is a bug.

A quick investigation shows this is caused by the use of `np.putmask` to set the values. This is an issue when the values provided (i.e `range(5)`) has different shape with the entire series (array of 10 elements), and numpy extend and repeats the values, the we are actually using `[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]` to replace the original series and hence caused this issue.

[2019-12-31 02:19] fujiaxiang commented on #30567
take

[2019-12-31 02:42] autocyz commented on #30555
@Liam3851  If I use code1, it never find the s3 change, but code2 can. I think it's not about s3 update consistency, it's about s3fs memory cache.

[2019-12-31 02:54] pshMsGsAZL2n07ohWBCAGX9cC commented on #30351
@TomAugspurger Seaborn and mathplotlib aren't necessary, although that's how I first saw the problem.  The dataframe (table_byindustry) shows the issue, which you correctly summarized.  Total for the Manf and Retail rows are NaN, rather than 0.  Thanks for re-opening it and sharing how I can better report future bugs with minimal information.

[2019-12-31 03:08] jreback commented on #15862
nothing immediately obvious

likely need to audit all of the IO methods for conformity and show a matrix of what apis we have for each

[2019-12-31 03:57] peter-wang-wsl commented on #11493
try add `quoting=3` when read

[2019-12-31 04:30] jreback opened #30576 "ADMIN: display issue metrics"
came across this blog / repo which shows nice issue metrics for matplotlib - should be very easy to create one for pandas

https://github.com/LaurenceMolloy/RepoDash

cc @pandas-dev/pandas-core
@tacaswell

[2019-12-31 08:36] giuliobeseghi commented on #16529
Shall we still set `inplace=True` as a default for `set_axis` in pandas 1.0? We probably need a major release to implement this relatively disruptive change, and the future warning has been around for a while.

[2019-12-31 10:54] simonjayhawkins commented on #16529
this was done in #27600

[2019-12-31 12:26] #30568 closed

[2019-12-31 12:34] TomAugspurger commented on #27483
Probably not happening for 1.0.

[2019-12-31 12:56] robrechtdr commented on #3269
Just want to give an incredible thumbs up for a grep-like functionality.

For me the most useful part of a grep-like functionality would be for a dataframe search across all columns (stringified values). This is THE most useful functionality missing from pandas that I can think off of the top of my head.

It's an unbelievable time saver to not always have to first inspect the columns and/or values

[2019-12-31 13:02] #28969 closed

[2019-12-31 13:15] josephnowak opened #30581 "performance of loc and iloc"
[code]
#### Problem description
Hi, happy new year xD. I have a problem with the performance using the loc and iloc when it has the comma, for instance the df.iloc [1000, 1000] takes more time in the code of example that df.iloc [1000] .iloc [1000] and I don't understand why this is happen, and Why the access of df.loc [1000, 1000] is so slow, the code take a lot of time when use this part.
Note:

[2019-12-31 13:22] alimcmaster1 commented on #30581
Hi - please could you include pd.show_versions() as per above? You can also remove the template boilerplate.

[2019-12-31 13:48] datapythonista commented on #29685
This is what we've got now:

| Name                         | CI     | OS      | Python | NumPy    | regular/slow | locale | services |
|------------------------------|--------|---------|--------|----------|--------------|--------|----------|
| azure\-36\-32bits            | Azure  | Linux   | 3\.6   | 1\.14    | regular      | en     |
| azure\-36\-locale            | Azure  | Linux   | 3\.6   |

[2019-12-31 14:20] alimcmaster1 commented on #29685
As an example `test_read_from_http_url` marked as `network` runs in the `py36_locale_slow_old_np` build. Just wanted to clarify that we are running the network tests in 1 build :)

[2019-12-31 15:04] #5764 closed

[2019-12-31 15:04] #7883 closed

[2019-12-31 15:04] #6783 closed

[2019-12-31 15:04] #7072 closed

[2019-12-31 15:04] #7820 closed

[2019-12-31 15:04] #8720 closed

[2019-12-31 15:51] leonardr commented on #29622
Iterating over a list isn't dangerous per se; the problem happens when you try to take an action on a decomposed PageElement. That can happen any time you decompose a tag you've assigned to a variable.

While working out a solution I noticed that ``Tag.name` will be `None` for a decomposed tag. If you want to get everything working again without waiting for a new Beautiful Soup release or updating

[2019-12-31 16:06] Dr-Irv commented on #30356
Might be related to this issue on cython:  https://github.com/cython/cython/issues/3262

[2019-12-31 16:12] #30564 closed

[2019-12-31 16:18] Liam3851 commented on #30439
You're using label-based indexing using .loc. Pandas therefore does not infer that you want to replace column b with column d and column c with column e-- that would be positional logic.

Either you can use .iloc for this use case, or else rename the columns before setting:
[code]

[2019-12-31 16:30] WillAyd commented on #30356
Thanks for confirming. Interested in a patch to not use the CLI argument as nthread  for the Cython step on Windows? The parallel compilation thereafter could still help a lot

Sent from my iPhone

[2019-12-31 16:49] jbrockmendel commented on #30581
There's a problem in the posted code in that you are redefining `start` inside the loops so the `print(time.time() - start)` is not going to mean what it is supposed to mean.  Once that is fixed, the timings are about what we'd expect.

Regardless, PRs to make this more performant are welcome.

[2019-12-31 16:53] Dr-Irv commented on #30356
Here's more.  The way multiprocessing works in python you have to use `if __name__ == '__main__':`, which would be a big change for us.  See https://docs.python.org/3.7/library/multiprocessing.html?highlight=multiprocessing#multiprocessing-programming where if you scroll down it says "Make sure that the main module can be safely imported by a new Python interpreter without causing unintended side

[2019-12-31 17:09] josephnowak commented on #30581
Hi, I update the code, sorry for the error with the name of start, but the error with the time still there.

[2019-12-31 17:13] jbrockmendel commented on #30581
Can you post the times that get printed for comparison?

[2019-12-31 17:16] josephnowak commented on #30581
This is with a 500 * 500, I can't use the 3400 * 5000 posted in my code because I spent like 10 minuts to see the results. The first two are using loc[].loc[] and iloc[].iloc[] and the next two are the loc[ , ] and i loc[ , ] and the last one is with numpy
0.2538430690765381
0.2658350467681885
4.962921380996704
4.995898008346558
0.0009996891021728516

[2019-12-31 17:45] jschendel commented on #30581
It looks like this has been fixed on `master`; using the full 3400 * 5000 input I get:
[code]
And for the 500 * 500 input on `master` I get:
[code]

Using 0.25.3 I can't get 3400 * 5000 to run in a reasonable time, and for the 500 * 500 input I get:
[code]

Not sure which commit fixes the performance issue; nothing stands out after looking at the merged PRs with the "Performance" label and 1.0 mil

[2019-12-31 18:40] josephnowak commented on #30581
Thanks for all, I'll wait for the new release.

[2019-12-31 20:49] Zhenye-Na opened #30589 "How can I force Pandas `read_html` function to read digit field as string not integer"
Is there a possible way to convert the field from `int` to `str`?

Here is the entire stacktrace when I used the function

[code]

The core usage of `read_html` function code is as follows:

[code]

I would love to use the `read_html` function to extract the table in the response returned from the REST API. I have test the function in a small scale table, which contains only digits and it works. B

[2019-12-31 21:05] #23573 closed

[2019-12-31 22:44] Dr-Irv opened #30590 "DOC: Add info on dtype strings"
#### Problem description

I've been studying the new `string`, `boolean` and `Intxx` dtypes and think it would be worthwhile to add something about the strings that you are allowed to use with extension arrays in specifying the dtypes.  It could be an additional column in the dtypes table here:
https://dev.pandas.io/docs/getting_started/basics.html#dtypes

I think the following table is correct:

[2019-12-31 23:13] TomAugspurger commented on #30590
3rd party libraries can register dtype alises as well, so we can’t provide a comprehensive list. Though we can document the ones we provide.

Wrt adding Boolean, I’d maybe prefer going the other way. Adding integer, integer32, etc. that makes us consistently the lowercase spelled out form.

[2019-12-31 23:15] TomAugspurger commented on #30590
Does Sparse[int, 1] actually work? I thought we didn’t parse the fill value.

[2020-01-01 01:34] #30356 closed

[2020-01-01 02:01] tqdo opened #30593 "Pandas date_range does not work when using periods and adding holiday"
This code works fine

[code]

but if I add holidays then it produces more than 14 periods

[code]

Output:

[code]

If I replace `periods` with the corresponding `end` then everything works fine.

[code]

I am not sure why date_range has this weird behavior. Appreciate any help.

[2020-01-01 02:45] #27169 closed

[2020-01-01 02:45] #30365 closed

[2020-01-01 03:39] #18755 closed

[2020-01-01 03:39] #30391 closed

[2020-01-01 03:40] ashishmeta opened #30597 "calculate business hours between two time stamp"
<img width="488" alt="df" src="https://user-images.githubusercontent.com/55054825/71637854-1991c200-2c75-11ea-8090-b21ccb13ba93.PNG">

I have to calculate business hours between two time stamp.
Challenge is Monday and Saturday have different business hours than rest of the weekdays.

Monday starts at 2:30 AM and ends at 11:59 PM. Saturday starts at 00:00 AM and ends at 6:30 AM.
Rest of the weekday

[2020-01-01 05:29] #30148 closed

[2020-01-01 11:00] K-tang-mkv commented on #15893
But why can 'from pandas.plotting import autocorrelation_plot' work?

[2020-01-01 11:38] souvik3333 commented on #30500
Hi, Can I do it?

[2020-01-01 11:49] MarcoGorelli commented on #30597
Seems like a question more appropriate for [StackOverflow](https://stackoverflow.com/questions/tagged/pandas)

[2020-01-01 11:54] ashishmeta commented on #30597
Hi,

I have posted this comment. But received any response till date.

Regards,
Ashish

On Wed, 1 Jan 2020, 5:19 pm Marco Gorelli, <notifications@github.com> wrote:

[2020-01-01 12:15] tqdo commented on #30593
This does not explain the behavior but just subseting the output gets the job done.

[code]

[2020-01-01 12:47] charlesdong1991 commented on #8113
I think this issue can be closed now. @TomAugspurger @jreback

Regarding:

Since Tom might test it long ago (PR was made 5 years ago), and matplotlib changed the behaviour, now the situation is opposite: matplotlib is ok with `datetime` values but chokes on `datetime.time` values

And if `datetime` values, i tried on master, and seems look okay to me:
![Screen Shot 2020-01-01 at 1 45 08 PM](https:

[2020-01-01 13:11] jorisvandenbossche commented on #27492
Would targetting the end of next week instead of this week also be OK? (or a few days earlier, if ready)

I would personally prefer that. There have been merged quite some substantial changes the last days / still need to be merged today/tomorrow, and I think it would be good to have those at least a few days in master (and in a week that more people are active. I am myself still mostly offline un

[2020-01-01 13:41] TomAugspurger commented on #27492
That’s reasonable. I won’t have much time today either.

[2020-01-01 13:42] TomAugspurger commented on #27492
We also have our dev meeting on Wednesday. I think we may want to discuss branching things and what we’ll consider merging to master during the RC period. So let’s plan for Wednesday afternoon.

[2020-01-01 14:43] jreback commented on #8113
@charlesdong1991 can u add a test for the above

[2020-01-01 14:44] jreback commented on #30597
currently this is out of scope for pandas

what you are asking is actually somewhat non trivial - if an implementation was contributed we likely would accept, but many other higher priorities

[2020-01-01 14:44] #30597 closed

[2020-01-01 14:48] Bharat123rox commented on #29547
In #30601, I've taken on
- [ ] pandas/io/excel/_base.py
- [ ] pandas/io/excel/_odfreader.py
- [ ] pandas/io/excel/_openpyxl.py
- [ ] pandas/io/excel/_util.py
- [ ] pandas/io/excel/_xlwt.py
- [ ] pandas/tests/generic/test_frame.py
- [ ] pandas/tests/generic/test_generic.py
- [ ] pandas/tests/generic/test_series.py

[2020-01-01 15:22] charlesdong1991 commented on #8113
@jreback I think the test I used in #30434 is almost identical to this one except for the `freq`, see below which is in test case of 30434:
[code]

The reason I initially xref (other than closes) this issue was the values of example above was `datetime.time`, and I just tested and found out `datetime.time` was no longer supported by matplotlib, but `datetime` is supported. Therefore, I think this

[2020-01-01 15:42] jreback commented on #8113
can u add the test and assert that error; that would be enough to close this i think

[2020-01-01 15:48] jreback commented on #16425
cc @mroeschke

[2020-01-01 15:52] jreback commented on #4787
yep we can just deprecate this i think; do we have an issue for that?

[2020-01-01 15:52] #4787 closed

[2020-01-01 15:53] charlesdong1991 commented on #8113
ok @jreback  see #30602

[2020-01-01 15:53] jreback commented on #13111
closing this for now. if a specific soln is wanted by the community could open an issue that.

[2020-01-01 15:53] #13111 closed

[2020-01-01 15:54] jreback commented on #11970
a lot of this is already happening in various forms, closing.

[2020-01-01 15:54] #11970 closed

[2020-01-01 15:54] jreback commented on #9162
we need to refactor block manager first, closing.

[2020-01-01 15:54] #9162 closed

[2020-01-01 15:55] jreback commented on #6382
these are mostly done / shared already. @jbrockmendel if anything looks interesting can open a specific issue.

[2020-01-01 15:55] #6382 closed

[2020-01-01 15:55] jreback commented on #11084
closing as stale

[2020-01-01 15:55] #11084 closed

[2020-01-01 15:56] jreback commented on #24711
the c impl has recently been much refactored, closing this as no-action.

[2020-01-01 15:56] #24711 closed

[2020-01-01 15:56] jreback commented on #15986
closing as stale. would take a PR from the community though.

[2020-01-01 15:56] #15986 closed

[2020-01-01 15:57] jreback commented on #10459
closing as stale, but pls open a new issue if recurring on modern pandas.

[2020-01-01 15:57] #10459 closed

[2020-01-01 15:58] jreback commented on #30224
closing. as @TomAugspurger says we *already* have an api for this.

[2020-01-01 15:58] #30224 closed

[2020-01-01 15:58] jreback commented on #27059
closing. this is a feature of pandas and not likely to change. if more documentation is desired would be ok, but this would be a major disruption with relatively little upside.

[2020-01-01 15:58] #27059 closed

[2020-01-01 15:59] jreback commented on #28851
closing. i suppose we'd take a PR if it was straightforward, but not a priority.

[2020-01-01 15:59] #28851 closed

[2020-01-01 16:01] jreback commented on #12056
I don't think this is actually possible as we have some named properties e.g. index which have confliciing meaning with .index() iterables.

[2020-01-01 16:01] #12056 closed

[2020-01-01 16:21] #28652 closed

[2020-01-01 16:26] #8113 closed

[2020-01-01 16:28] #12513 closed

[2020-01-01 17:10] jbrockmendel commented on #30500
First needs consensus that this is worthwhile

[2020-01-01 17:17] Dr-Irv commented on #30590
Yes, that is my proposal.

Only issue there is that `int`, `int32`, etc., are the numpy dtypes, so that could create confusion.  That's why I suggested using the upper case ones.

[2020-01-01 17:27] #29967 closed

[2020-01-01 17:42] TomAugspurger commented on #30590
There is also bool -> boolean, str -> string.

We can consistently use the spelled out version, or the capitalized
version. My preference is for spelled out.

On Wed, Jan 1, 2020 at 11:17 AM Irv Lustig <notifications@github.com> wrote:

[2020-01-01 17:52] jreback commented on #30500
would be ok with this

[2020-01-01 17:53] Carreau commented on #30537
New version on PyPI (soon on conda) you should be able to un-pin;  or at least instead of pinning `<=7.10.1`, pin `!=7.11.0`.

`<=7.10.1` seem regardless wrong also as there is also a `7.10.2`

[2020-01-01 18:18] #29975 closed

[2020-01-01 18:35] jreback commented on #21094
is this only for PY2?

[2020-01-01 19:15] rbharadwaj9 commented on #29547
I can take the two files below to start off with if that's fine!
- [ ] pandas/tests/base/test_conversion.py
- [ ] pandas/tests/base/test_ops.py

[2020-01-01 20:46] #25760 closed

[2020-01-02 00:16] WillAyd opened #30609 "Error on Warnings From C Extensions"
May differ on other platforms, but currently I see about 19 warnings from C extensions still left. I think we should aim to clean these up and set the `Werror` flag in CI as can help be proactive in identifying bugs from extensions

Here is the list of remaining warnings from a parallel build, so order may not be relevant

[code]

[2020-01-02 00:36] ryankarlos opened #30610 "DEPR: Remove pandas.datetime"
A follow up issue from #30296 , where it was discussed that pd.datetime should also be deprecated to only allow imports directly from datetime

[code]

[2020-01-02 00:40] #12213 closed

[2020-01-02 00:41] ryankarlos commented on #30610
take

[2020-01-02 00:41] mroeschke commented on #21094
Looks like it as described in the issues. Closing

[2020-01-02 00:41] #21094 closed

[2020-01-02 00:42] pilkibun commented on #27059
It's not a feature, it's an arbitrary choice with no rationale behind it, which you made unilaterally years ago, and since then you've fought any attempt to remedy your mistake.

Now, you restate your own position as if it were the consensus reached and close the issue. That's your MO. In reality, there's been zero discussion of this by any active maintainer.

I've stopped contributing to pandas b

[2020-01-02 00:58] #28282 closed

[2020-01-02 01:10] pilkibun commented on #27059
it's a blemish, not a feature. An arbitrary decision you made unilaterally years ago, based on a false rationale.

I resent the fact that you refused to discuss possible solutions and ignored this for months, only to then close by saying it's not worth it. on the other hand I'd seen enough of how pandas development works to realize that's typical behavior for you, so I've come to expect as much.

[2020-01-02 01:10] #30454 closed

[2020-01-02 01:16] jreback commented on #30581
closing as no action.

@josephnowak doing a loop over .loc/.iloc is very inefficient; you can do better with single element assignment using .at/.iat, or drop down to numpy.

these functions are designed for vectorized setting / getting with proper dtype conversions and robust checking; performance of calling the many times very hard to optimize for in light of the other goals.

[2020-01-02 01:16] #30581 closed

[2020-01-02 01:20] jreback commented on #30609
+1 in this in at least linux to start

[2020-01-02 01:35] #29733 closed

[2020-01-02 02:22] jbrockmendel commented on #30609
the algos.c ones are a result of needing to filter out invalid pairs of dtypes from fused types.

The aggregations.pyx one should be straightforward.

[2020-01-02 02:47] WillAyd commented on #30609
PRs welcome to address any part of these @jbrockmendel

Sent from my iPhone

[2020-01-02 03:56] yehoshuadimarsky opened #30614 "ENH: Create a devcontainer.json env to work with VS Code in Containers"
VS Code has a great feature where you can work on a repo fully within a Docker container, either on your computer (called Remote - Containers) or remotely on Azure hosted by them (called VS Code Online). This could be particularly useful for setting up a quick dev environment to work on the pandas codebase, and not have to manually go through the setup steps in the [docs](https://pandas.pydata.org

[2020-01-02 04:01] #30610 closed

[2020-01-02 04:16] yehoshuadimarsky commented on #30614
Maybe use this as a starting point: https://github.com/microsoft/vscode-dev-containers/tree/master/containers/python-3-miniconda

[2020-01-02 05:26] shanxuanchen opened #30616 "encode"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-01-02 05:45] ryankarlos commented on #27357
take

[2020-01-02 07:43] charlesdong1991 commented on #30616
thanks for posting issue @shanxuanchen
However, seemingly something was wrong, and the issue description and code example are remained blank. Could you pls try to fill it in?

[2020-01-02 11:10] MaxNoe commented on #12213
Finally! Thanks to anyone involved in making this possible.

[2020-01-02 12:15] ranedk opened #30617 "merge errors with pandas 0.25.3"
I am using using pandas version 0.25.3 and Python 3.7.4

[code]
#### Problem description
When I used pandas 0.25.1, `students.merge` worked but `pd.merge` did not work.
Now both aren't working.

#### Output of ``pd.show_versions()``

<details>
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.0.0-36-generic
machine

[2020-01-02 12:20] charlesdong1991 commented on #30617
seems `roll` and `sr` are set to index, not in columns anymore, i think `merge` behaves correctly in this case?

[2020-01-02 12:42] ranedk commented on #30617
Yes, you are right.
Apologies, I should have checked the documentation.

[2020-01-02 12:42] #30617 closed

[2020-01-02 13:27] rhshadrach commented on #26989
If self.ndim is the same as [pd.Series.ndim](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.ndim.html), then self.ndim must be 1 and I believe this check can be removed.

[2020-01-02 13:49] TomAugspurger commented on #27522
Just FYI, we do have public things currently exposed from `pandas.core`, things like Resampler, GroupBy, etc. If we're deprecating all of `pandas.core` then we'll need to add those elsewhere and update the API references.

[2020-01-02 13:59] #30567 closed

[2020-01-02 14:23] TomAugspurger commented on #23563
@jschendel are you able to updat this today now that #24112 is fixed?

[2020-01-02 15:08] TomAugspurger commented on #23087
Probably not a blocker for 1.0 right?

[2020-01-02 15:10] TomAugspurger commented on #22798
This was fixed at the pandas level in #23293. 3rd party arrays just need to implement `__array_ufunc__` and pandas will pass the array through correctly.

[2020-01-02 15:10] #22798 closed

[2020-01-02 15:10] david-cortes opened #30618 "'Categorical' from output of 'factorize' has different encoding"
If I call `pd.Categorical` using the results of `pd.factorize`, sometimes the encodings produced by them will be different:
[code]
I would expect in this case  that all three objects (`encoded`, `recoded`, and the original) will have the same encoding, but these are the results:
[code]
[code]
[code]
[code]
[code]
[code]

The issue can be solved by using `pd.Categorical` with `factors.to_numpy()` i

[2020-01-02 15:14] TomAugspurger commented on #22384
Sorry I missed your comment earlier Joris. Your list of ideal requirements sounds correct. Haven't thought much about the implementation yet.

Regardless, not something we can solve for 1.0 so pushing.

[2020-01-02 15:16] Dr-Irv commented on #30590
`Sparse[int, 1]` doesn't work, but I didn't put it in the list.  However, that list is incomplete, as you can specify `Sparse[<dtype>, <fillvalue>]` for valid combinations of `<dtype>` and `<fillvalue>`.  E.g., `Sparse[bool, False]` works.  So the docstring inside the code at `pd.core.arrays.sparse.dtype.SparseDtype.construct_from_string` is incorrect.

Seems like @jorisvandenbossche wrote that do

[2020-01-02 15:16] TomAugspurger commented on #22216
Note that the specific Categorical issue has been fixed, so I think this can be closed.

[2020-01-02 15:16] #22216 closed

[2020-01-02 15:18] Dr-Irv commented on #30590
So does that mean we change from `Int64`, `Int32`, etc. to `integer64` and `integer32` in the code? Not sure that is a good idea.

Or allow both but only document the spelled out lowercase versions?

[2020-01-02 15:40] TomAugspurger commented on #27218
Pushing off 1.0, though this issue is a bit unclear to me now.

[2020-01-02 16:01] jschendel commented on #23563
The `IntervalDtype.kind` issue is fixed but #24112 is a different issue that pops up after applying the `IntervalDtype.kind` fix.  Due to the updated inference, the failing test now does equality comparisons against `Series[Interval]` instead of `Series[object]`, which is broken as described in #24112.

I have a POC fix for #24112 and applying it here fixes the broken test and should clear the way

[2020-01-02 16:12] TomAugspurger commented on #30618
I think things look correct here. You have an unordered categorical, so I wouldn't rely the relationship between the values and the codes.

[2020-01-02 16:13] TomAugspurger commented on #30590
Both I would think. The ones I'm not sure about is UInt. Is `uinteger64` weird, since it's a mix of abbreviations and spelled out?

[2020-01-02 16:17] TomAugspurger commented on #30590
Back to the original issue, adding an alias column to that table is a great idea. We also have https://dev.pandas.io/docs/reference/arrays.html.

We don't allow specifying the fill value for SparseDtype, just the dytpe

[code]

[2020-01-02 16:25] Dr-Irv commented on #30590
So I will add the docs using the current implementation and postpone making changes with respect to the names.

Yes, but `Sparse[int32, 0]` and `Sparse[int64, 0]` do work:
[code]

[2020-01-02 16:31] TomAugspurger commented on #23563
(Sorry that I commented on the issue instead of the PR.)

Probably want to wait for the equality thing to be fixed first. I'll prioritize reviewing that so we can get both in 1.0.

[2020-01-02 16:38] TomAugspurger commented on #13637
@jbrockmendel can you confirm that all the cases are fixed / tested? I think things are good, but would be nice to have your input.

[2020-01-02 16:40] TomAugspurger commented on #16232
Is this any different from https://github.com/pandas-dev/pandas/issues/27522? I guess just `pandas.util.testing`, and leave https://github.com/pandas-dev/pandas/issues/27522 for `pandas.core`?

[2020-01-02 16:46] david-cortes commented on #30618
@TomAugspurger but wouldn't it make more sense for `Categorical` and `factorize` to play along? e.g. `pd.Categorical.from_codes(encoded, factors)` (does not give the original input) instead of `factors[encoded]` (gives the original input).

Otherwise, what would be the recommended route when you want to encode a column and save the factors for reproducing the encoding later if not `factorize`?

[2020-01-02 17:53] jbrockmendel commented on #13637
I think these are in good enough shape not to be a blocker, but not in good enough shape to close.  Ideally I'd like to work this into something like unpack_zerodim_and_defer to make sure we have a consistent implementation

[2020-01-02 17:57] Zhenye-Na commented on #30589
very interesting, I run the script today and install `html5lib` which is required for today's trial, not for last time. the result is correct, no error.

[code]

I am gonna close this issue since it is not related to Pandas implementation, but welcome for an explanation.

Thanks.

[2020-01-02 17:57] #30589 closed

[2020-01-02 18:09] #30463 closed

[2020-01-02 18:10] TomAugspurger commented on #30590
Hmm I wouldn't document that. I don't know if it's delibarate.

[2020-01-02 18:42] mslapek opened #30621 "DataFrameGroupBy object cannot be passed to dict ctor"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Instance of `DataFrameGroupBy` is an iterable yielding pairs (*key*, *frame*),
hence it ought to work with buildin `dict`.

However, it raises error:

[code]

#### Expected Output

`d` should be a dict with groups:

[code]

Notice, it is possible to *workaround* this by use of intermediate
iterable:

[code]

#

[2020-01-02 19:43] TomAugspurger commented on #30621
Does it currently not work because the `.keys` attribute of GroupBy?

[2020-01-02 20:38] #30050 closed

[2020-01-02 20:57] thepaullee commented on #29547
Taking on:

- [ ] pandas/core/ops/array_ops.py
- [ ] pandas/core/ops/dispatch.py
- [ ] pandas/core/ops/docstrings.py
- [ ] pandas/core/ops/invalid.py
- [ ] pandas/core/ops/methods.py
- [ ] pandas/core/ops/roperator.py

[2020-01-02 21:08] Dr-Irv commented on #29752
@jorisvandenbossche I started to look at this, and if we did it for each reader, it might end up being a lot of work because of all of the different reader implementations.  Here's another proposal.  What if we created a method `DataFrame.as_nullable_types()` that would take a `DataFrame` and convert any column it could to a nullable type.  Then if you used any reader, which didn't use the new typ

[2020-01-02 21:13] #30616 closed

[2020-01-02 21:14] WillAyd commented on #30614
sounds Interesting - would be curious to see how it works if you push a PR

[2020-01-02 21:14] alimcmaster1 commented on #29514
https://travis-ci.org/pandas-dev/pandas/jobs/631970657?utm_medium=notification&utm_source=github_status Looks like this test is still an issue

[2020-01-02 21:16] alimcmaster1 commented on #29514
Also see `test_legacy_sparse_warning` causing issues [here](https://travis-ci.org/pandas-dev/pandas/jobs/632023359?utm_medium=notification&utm_source=github_status)

[2020-01-02 21:16] WillAyd commented on #30552
So yea to second Jeff’s comment above is this a problem with observed=True?

[2020-01-02 21:18] TomAugspurger commented on #30618
I'm not sure if the guarantees we make on the codes in factorize and
categorical are compatible with eachother.

You might look at Categorical._from_factorized for inspiration.

On Thu, Jan 2, 2020 at 10:46 AM david-cortes <notifications@github.com>
wrote:

[2020-01-02 21:20] jbrockmendel commented on #30552
passing observed=True solves the problem.  id like to add a warning or something for users who find themselves about to hit a MemoryError

[2020-01-02 21:29] WillAyd commented on #30552
Did we ever discussion changed the default observed keyword? @TomAugspurger

Sent from my iPhone

[2020-01-02 21:33] TomAugspurger commented on #30552
I don't recall a discussion about that.

I vaguely recall that this will be somewhat solved by having a DictEncodedArray that has a similar data model to Categorical, without the unobserved / fixed categories semantics.

[2020-01-02 21:33] dwhu commented on #17376
I believe this test already exists: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/indexes/test_base.py#L1866

[code]

[2020-01-02 22:32] TomAugspurger commented on #30555
Do you think it's an s3fs issue then? It does cache file listings, and the instances of S3FileSystem are cached. You could try `S3FS.clear_instance_cache`.

[2020-01-02 22:46] thepaullee commented on #29547
Is there a preferred way to note old intended uses of `.format` that are left as is, in PRs? In the case of  (incorrectly) assuming something is a good use case and it's overlooked in the PR

[2020-01-02 22:48] jbrockmendel commented on #29884
Need to double check if this affects searchsorted.  IIRC we use m8 values
in some places and i8 in others.

On Mon, Dec 30, 2019 at 9:37 AM Tom Augspurger <notifications@github.com>
wrote:

[2020-01-02 23:38] WillAyd commented on #30552
Hmm I think that is orthogonal. IIUC the memory blowup is because by default we are generating Cartesian products. Would rather just deprecate that and switch the default value for observed

[2020-01-02 23:40] TomAugspurger commented on #30552
I think it’s a good default for the original design semantics of Categorical. It’s a bad default for the memory-saving aspect of categorical.

[2020-01-03 00:53] jbrockmendel commented on #30552
Sounds like we can close this as no-action?

On Thu, Jan 2, 2020 at 3:40 PM Tom Augspurger <notifications@github.com>
wrote:

[2020-01-03 00:56] jreback commented on #30552
i suppose we would show a PerformanceWarning if we detect this would happen which is pretty cheap to do

might be worthwhile

[2020-01-03 01:13] LiuHang9527 opened #30634 "pandas.DataFrame.rolling.apply Can't deal with np.nan"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[pd.DataFrame.rolling.apply    Can't deal with np.nan]

[2020-01-03 01:15] WillAyd commented on #30634
What do you mean by can't deal with `np.nan`?

[2020-01-03 01:17] #24716 closed

[2020-01-03 01:18] #17304 closed

[2020-01-03 01:31] LiuHang9527 commented on #30634
- [ ]

![1-3](https://user-images.githubusercontent.com/50090308/71702447-8b4f4480-2e0a-11ea-8aec-583d9e898282.png)

I am not sure how to show my dataframe at this moment, but if you look at 4d, 2d, 3d which are all np.nan not ignored by pandas.rolling

[2020-01-03 01:33] WillAyd commented on #30634
The screenshot looks OK. IIUC correctly you might just want to look at specifying `min_periods`

[2020-01-03 01:33] #30634 closed

[2020-01-03 01:42] LiuHang9527 commented on #30634
The problem is not re
![111](https://user-images.githubusercontent.com/50090308/71702998-63151500-2e0d-11ea-814e-9449d1e2ebef.png)
solved

[2020-01-03 01:43] LiuHang9527 commented on #30634
![111](https://user-images.githubusercontent.com/50090308/71703015-76c07b80-2e0d-11ea-8b5b-1eb5681ede3d.png)
The problem is not resolved

[2020-01-03 01:55] jreback commented on #30634
@LiuHang9527 please read the documentation, its not even clear what you are asking. if you think there is a bug, then you need to be very clear about what the expected result is.

note that using .apply in this way is very inefficient.

[code]

the difference is how numpy and pandas deal with nans. ```data.sum()``` is a *numpy* array and thus sum *always* includes nans, if you *really* really want

[2020-01-03 02:00] alimcmaster1 commented on #28512
@WillAyd

According to user_guide/io.rst there are also some performance considerations.

Are we still good to deprecate do you think?

[code]
[code]

[2020-01-03 02:03] LiuHang9527 commented on #30634
Thank you very much, I understand, this is just an example that comes to my mind

[2020-01-03 02:09] WillAyd commented on #28512
Yea should still deprecate

[2020-01-03 02:12] WillAyd commented on #30533
This is a duplicate of #14927 - would welcome any patches you can offer to clean up

[2020-01-03 02:12] #30533 closed

[2020-01-03 02:13] #23566 closed

[2020-01-03 02:16] #29032 closed

[2020-01-03 02:34] jbrockmendel commented on #14093
looks like we have 21 tests that pass tz kwarg to Index

[2020-01-03 02:56] trevorbye commented on #30517
To me this seems to be working as intended. When you call `query()` you're returning a new df that's been modified, in this example it no longer has string types in the "mixed" field since they have been filtered out.

It's possible that this could just be fixed by adding something to the docs for `set_index()` to explain that it's doing a dynamic type check.

Would be curious to see what others t

[2020-01-03 03:01] trevorbye commented on #30517
take

[2020-01-03 04:03] yehoshuadimarsky commented on #30614
@WillAyd just pushed a PR, check it out.

[2020-01-03 06:42] mroeschke commented on #17376
Thanks @dwhu. Yes looks like this case is covered.

[2020-01-03 06:42] #17376 closed

[2020-01-03 10:05] AlexKirko commented on #30543
take

[2020-01-03 10:08] AlexKirko commented on #30543
Seems straightforward: just add a shortcut to the constructor, make sure it doesn't fire when unnecessary, and add a test that checks that if we pass a Timestamp / Timedelta object, then we get the same, unmutated object. I'll create the PRs tomorrow.

[2020-01-03 11:55] #15914 closed

[2020-01-03 12:11] Dr-Irv opened #30642 "SparseArray not in arrays module - inconsistent with IntegerArray, StringArray, etc."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I discovered this while working on #30628 .  The docs for `SparseArray` are at the top level (https://dev.pandas.io/docs/reference/api/pandas.SparseArray.html), while the docs for `IntegerArray` (https://dev.pandas.io/docs/reference/api/pandas.arrays.IntegerArray.html), `StringArray`(https://dev.pandas.io/docs/

[2020-01-03 12:18] jreback commented on #30642
Sparse is incorrect and somewhat legacy

all things should be at pandas.array level to avoid polluting the main namespace

so need to deprecate from the main namespace
i thought we had an issue about this

[2020-01-03 12:27] pepicello opened #30643 "Plotting error with datetime indices and horizontal line"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Last line results in error:

[code]

This does not happen if ```axhline``` is run last. Feel free to close if this is a matplotlib issue and I will open this issue in that repo.

#### Expected Output

No error.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2020-01-03 12:37] charlesdong1991 commented on #30643
thanks for the issue report!

can you try to run it on master? looks okay to me

[2020-01-03 12:51] Dr-Irv commented on #30642
@jreback I searched for an issue and couldn't find it.  So if we deprecate now, does that mean we

A. keep `pandas.SparseArray`, and just fix the docs to point to `pandas.arrays.SparseArray`,
B. remove `pandas.SparseArray` now (i.e., option 3 above)

I'm willing to do this once #30628 is merged to master (should be green pretty soon)

[2020-01-03 13:07] jreback commented on #30642
deprecate pd.SparseArray, fix all docs to point to pandas.array.SparseArray

[2020-01-03 13:10] #30114 closed

[2020-01-03 13:12] #28294 closed

[2020-01-03 13:18] #30590 closed

[2020-01-03 13:21] MarcoGorelli commented on #30643
I could reproduce this on v0.25.3, but not on master

[2020-01-03 13:22] charlesdong1991 commented on #30643
thanks @MarcoGorelli  yeah, i think this fix is not released yet

[2020-01-03 13:53] TomAugspurger commented on #30643
I also can't see this on master. Let us know if it's not fixed already @pepicello

[2020-01-03 13:53] #30643 closed

[2020-01-03 13:56] TomAugspurger commented on #30621
Deleting `.keys` does seem to fix this.

[code]

We could deprecate `keys` and use a different name, but IMO it's not worth the churn given the workaround.

[2020-01-03 14:13] TomAugspurger commented on #6581
All the listed deprecations have been cleaned up. Thanks all!

[2020-01-03 14:13] #6581 closed

[2020-01-03 14:51] timhoffm commented on #28952
Looking at https://dev.pandas.io/docs/reference/series.html

- The <h2> headings feel too large. With 2.5rem they are almost not distinguishable from <h1> (3rem). And too big compared with the text. I recommend going with 2.25rem for <h2>, see also https://typecast.com/blog/a-more-modern-scale-for-web-typography.

- The padding of the table cells is too large. You can now only see less than half t

[2020-01-03 14:56] TomAugspurger commented on #28952
On point 1, in https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/pull/63#issuecomment-567203505 we deliberately increased the isze of h1 and h2 to distinguish them from h3 headers. Not saying the the values I picked are best, but I want to keep that h2 vs. h3 distinction clear.

[2020-01-03 15:28] kitchoi commented on #28905
I can reproduce on OSX with 0.25.3 as well.
Turning the UserWarning to an error allows me to pinpoint where the warning was triggered from:
https://github.com/pandas-dev/pandas/blob/62a87bf4a2af02a8d3bc271ad26e5994292b8e6a/pandas/plotting/_matplotlib/core.py#L1085

I believe this is fixed on master. In my local copy of pandas 0.25.3, if I replicate the change in the master, i.e.

https://github.co

[2020-01-03 15:53] Dr-Irv commented on #30517
I don't think you are right.  If you do
[code]
you see that the type of `mixed` has remained `object`, but then if you do
[code]
then the dtype of `mixed` has changed.

I don't think the dtype should change as a result of the `set_index()` operation.  If you do the following:
[code]
the two DataFrames look the same, but the dtype of `mixed` is different. (see above).

[2020-01-03 16:51] mslapek commented on #30621
Decision to support compatibility with [collections.abc](https://docs.python.org/3/library/collections.abc.html) in various Pandas parts is nontrivial.<sup>1</sup>

---

`help(dict)` mentions ctor overload for `mapping`.
Therefore my first idea was to "convince" Python, that `DataFrameGroupBy`
is not a mapping.

However, it turned out that `dict` does not use *ABCs*:

[code]

It uses some logic in

[2020-01-03 17:02] McToel opened #30649 "dtype does not get set to object when adding column with df.at[...] = ['some list']"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

df.at[0, 'b'] should be ['a'] instead of 'a'.
I understand that it does not work when while adding the column but it feels inconsistent anyways.
When adding line 2 and 3 it works as expected.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
com

[2020-01-03 17:43] TomAugspurger commented on #30621
We've had discussions about that (at least Series being a mapping and a Sequence) elsewhere. No progress on them though.

[2020-01-03 18:32] gfyoung commented on #13777
@pandas-dev/pandas-core : Can this be closed?  It looks like all boxes are checked.

[2020-01-03 19:34] #16232 closed

[2020-01-03 19:46] giuliobeseghi opened #30657 "Index comparison doesn't return index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Comparing two indices returns an `np.ndarray`, and not another index. The behavior is different from series and dataframes. Is it a bug?

#### Expected Output
The output I expect should be achievable with
[code]

Possibly, the type of the index should be 'bool' (compare it with series, e.g. `s == t`).
It seems t

[2020-01-03 19:50] TomAugspurger commented on #30657
We don't have a boolean index dtype. And even if we did, I think changing this now is out of scope for pandas.

[2020-01-03 20:41] ellequelle commented on #30649
DataFrame.at isn't intended for creating new columns. From the [docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html#pandas-dataframe-at):
[code]

It should work if you uncomment your second line:
[code]

[2020-01-03 21:44] TomAugspurger commented on #30649
That line of docs was added in https://github.com/pandas-dev/pandas/pull/20290, and doesn't appear to be tested. It's not clear that that's the intentional behavior.

[2020-01-03 21:46] TomAugspurger commented on #30618
@david-cortes anything else to do here? I think that the two requirements that

1. The order of the codes in factorize matches the order of the *values*
2. The order of the codes in Categorical matches the order of the *categories*

are fundamentally at odds with eachother.

[2020-01-03 21:48] TomAugspurger commented on #30559
Thanks for the report. This does look buggy. Further investigation into why this is happening / a PR to fix it would be most welcome!

[2020-01-03 22:08] #16454 closed

[2020-01-03 22:19] harishmk opened #30667 "groupby.apply fails with ValueError: cannot reindex from a duplicate axis"
#### Code Sample

[code]
#### Problem description

On dataframe:
[code]
`groupby.apply` on column `Y` works.
but throws duplicate axis exception with:
[code]
the exception does not happen if the dataframe was sorted on `Y`

[code]

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.3.fin

[2020-01-03 23:23] #8870 closed

[2020-01-03 23:23] #9687 closed

[2020-01-03 23:23] #10078 closed

[2020-01-03 23:23] #10863 closed

[2020-01-03 23:23] #9149 closed

[2020-01-03 23:23] #9186 closed

[2020-01-03 23:23] #9790 closed

[2020-01-03 23:23] #9892 closed

[2020-01-03 23:23] #10586 closed

[2020-01-03 23:23] #10984 closed

[2020-01-03 23:23] #10326 closed

[2020-01-03 23:49] henighan opened #30668 "Concatenating Single-element dense series with SparseArray Series Raises Error"
#### Code Sample, a copy-pastable example if possible

[code]

With interpreter output

[code]
#### Problem description

When concatenating a series of a sparse type (eg `Sparse[float64, nan]` above) with a serires of a dense type (eg `float64` above) that has only a single element, the above exception is raised.

I believe this may be the result of the `squeeze` happening here:
https://github.com

[2020-01-04 00:20] naomi172839 commented on #30324
I believe that I fixed this issue, and agree that it does not appear to be intended behavior.

[2020-01-04 01:31] Connossor commented on #30559
Hi @TomAugspurger ,

Thanks for the response! I've tried to find out what's happening with some debugging, and I think I've found the cause. I haven't been able to make a fix myself yet as it requires some refactoring of classes that requires some discussion, but perhaps I'll be able to with some pointers from yourself or others more experiences with the code base.

It looks like there are three c

[2020-01-04 01:39] Connossor commented on #30559
It looks like @mroeschke and @jbrockmendel are the authors of the WindowGroupbyMixin class, perhaps they could advise on how we can fix this issue? Any tips greatly appreciated, eager to help if I can.

[2020-01-04 03:30] mroeschke commented on #30559
Thanks for investigating @Connossor. `win_type` is essentially not supported with groupby rolling right now.

As you noticed the `Window` class essentially exclusively contains the weighted aggregation code while the `Rolling` class contains the non weighted aggregation code (and the mixin only using the `Rolling` class).

Soon I'm going to be experimenting on unifying these two (which would fix t

[2020-01-04 03:43] jreback commented on #30657
agreed a boolean indexer is almost always what you want

[2020-01-04 03:43] #30657 closed

[2020-01-04 03:50] jreback commented on #30517
there is another issue like this i and a closed PR that wasn’t finished to address

[2020-01-04 03:51] trevorbye commented on #30517
@jreback can you link the PR? I'm curious to see what change they made. Thanks

[2020-01-04 04:15] jreback commented on #30517
https://github.com/pandas-dev/pandas/pull/27370 with 2 linked issues

[2020-01-04 04:52] mroeschke commented on #11479
Actually the last cases are not fixed yet as the `NaT` gets transformed to `nan`

[code]

[2020-01-04 05:13] fujiaxiang commented on #30593
This is a bug in applying a custom-business-hour offset onto a datetime.

Will get this fixed.

[2020-01-04 06:03] mlline00 commented on #29214
I hooked up Azure Pipelines to my pandas repo and verified everything was working correctly. Then, I modified azure-pipelines.yml to just run the windows tests and committed the change. The windows CI tests ran. Next, I committed an update which set pytest-azurepipelines=v1.0.0rc1 in azure-windows-36.yaml and azure-windows-37.yaml.  The windows CI tests ran a second time.

Information displayed on

[2020-01-04 08:14] proost opened #30677 "BUG: Index.isin inconsistency with missing value"
DataFrame case,
[code]
But Index case,

[code]
#### Problem description

'.isin' handle NA values differently depending on object types. 'np.nan' and 'None' both are NA value. so, 'Index.isin' do not distinguish 'np.nan' and 'None' like 'DataFrame' case.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
py

[2020-01-04 09:22] scoder commented on #21829
`--force` should rebuild everything. If it keeps old files, that is a bug.

Without `--force`, I think rebuilding something existing just because it was created by a different Cython version seems questionable, or at least not like an obvious decision, to me. CPython's distutils won't do this either when you update your Python patchlevel version, or switch between differently old virtualenvs.

[2020-01-04 09:53] fujiaxiang commented on #30667
Series groupby has the same problem, caused by reindex inside _wrap_applied_output not handling duplicated indices.

Will take a look at this

[2020-01-04 12:30] anisotropi4 commented on #30415
@jorisvandenbossche thank you for your clarification. I get now that I was rather woolly in the way that I framed the question and should've been clearer about which of the two issues this looking at.

Then, for those of us that are still working in black-and-white, I would ask that another representation of NA rather than simply the text `NA` is used...

[2020-01-04 14:06] TomAugspurger commented on #30415
I have a branch started, but it’s quite a bit of work. Probably not happening for 1.0.

[2020-01-04 15:06] Dr-Irv commented on #30415
Don't use color, because that will have an effect on the color blind (not a problem for me, but we've had other comments from the color blind in the past)  But here's  a suggestion that I think will look nice and easily handles the issue of length of the representation.
[code]

[2020-01-04 16:40] david-cortes commented on #30618
But why does `Categorical` need to take the order given by the categories rather than the index of the categories? I mean, the docs say this:
[code]
(Particularly the part about `index-like`)

But if I pass the following:
[code]
Then the result from `Categorical(data, categ_index)` will differ from `Categorical(data, index)` despite the entries matching, and will not match with the order given by

[2020-01-04 16:51] hwalinga opened #30681 "CLN: de-privatize _parsers and _engines in pandas/core/computation and rename to something more descriptive"
As a followup from #28215

_parsers and _engines as used in the code for the `.query` and `.eval` methods should be de-privatized and named to something more informative.

[code]

[code]

@jreback

[2020-01-04 16:54] hwalinga opened #30683 "CLN: Move axis resolvers from core/generic.py to core/computation"
As a followup from #28215

Moving the axis resolvers to core/computation

@jreback

[2020-01-04 17:08] charlesdong1991 commented on #14958
i think this has been fixed, and i cannot reproduce it on master, seems to be fixed by #27808

![Screen Shot 2020-01-04 at 6 03 19 PM](https://user-images.githubusercontent.com/9269816/71769059-837fc500-2f1c-11ea-9ca1-f57dc208c171.png)

so i think this can be closed @TomAugspurger @jreback

[2020-01-04 17:09] jbrockmendel opened #30685 "BooleanArray, StringArray value_counts na_value"
[code]

Instead of two False entries, one of them should be pd.NA right?  cc @TomAugspurger

[code]

The NaN should be pd.NA right?

Side-note: the defaults for dropna are not consistent across our EAs

[2020-01-04 17:10] charlesdong1991 commented on #14563
I cannot reproduce this on master anymore, seems to be fixed by #27808

![Screen Shot 2020-01-04 at 6 09 44 PM](https://user-images.githubusercontent.com/9269816/71769143-76afa100-2f1d-11ea-9136-db6a894e6390.png)

so i suggest to close this @TomAugspurger @jreback

[2020-01-04 17:17] jreback commented on #14958
do we have sufficient tests for this already; if not can u add one

[2020-01-04 17:22] jinlow commented on #27519
I am also still seeing this issue in 0.25.3.
[code]

Still results in:
[code]

[2020-01-04 17:24] charlesdong1991 commented on #14958
well, i have one in previous PR which fixed it,

@jreback how about I making tests for this issue and #14563 separately in one PR? and then close these two issues? they are very similar, def same type of issue.

[2020-01-04 17:25] #11020 closed

[2020-01-04 17:25] #11244 closed

[2020-01-04 17:25] #12261 closed

[2020-01-04 17:25] #12754 closed

[2020-01-04 17:27] charlesdong1991 commented on #27519
Hi, @jinlow @akdor1154

This issue was fixed by #27921 but hasn't been released yet, and will be released in 1.0 version. So feel free to test this feature once 1.0 is released.

Best

[2020-01-04 17:37] #30537 closed

[2020-01-04 17:48] charlesdong1991 commented on #14563
![Screen Shot 2020-01-04 at 6 47 41 PM](https://user-images.githubusercontent.com/9269816/71769511-b6c55280-2f22-11ea-9a8b-d3cc6ba881c7.png)

work on master, previously uploaded wrong pic, sorry