[2019-11-25 22:41] Tirore96 commented on #29671
Thanks, I'll remember that ;)

[2019-11-25 22:50] Rik-de-Kort commented on #29803
The class`_OpenpyxlReader` leaves the file handling of the file to openpyxl, it simply imports `load_workbook` and calls it.
Sounds like a thing to implement in Openpyxl.

[2019-11-25 22:50] #21096 closed

[2019-11-25 23:00] #29432 closed

[2019-11-25 23:08] #19475 closed

[2019-11-25 23:18] jbrockmendel opened #29843 "REF: internal method to set DatetimeIndex freq"
xref #29801 we currently have a number of places where we do something like `dti._data._freq = new_freq` (where we have already validated `new_freq`), we should have some private method to do this.

[2019-11-25 23:45] #29189 closed

[2019-11-26 00:59] alex-s-codes commented on #29833
Confirmed, it's working on master:
[code]

Thank you!

[2019-11-26 00:59] #29833 closed

[2019-11-26 01:07] jbrockmendel commented on #6581
@mroeschke heads up this and 13777 have been behaving poorly w/r/t getting multiple edits in a short period of time.  in this case, I think it silently reverted the rolling.apply edit you made

[2019-11-26 01:44] ma7555 opened #29849 "add to_cyclical function for cyclical data #enhancement"
1- Short summary of the changes:

create a to_cyclical function that transforms ordinal or continous cyclical features to sine transform and cosine transform representing  the reality of the feature.

example if hours is to be taken as a feature, 23 and 01 is 22 units apart but in reality they are only two units apart.

![image](https://user-images.githubusercontent.com/7144929/69592267-19f7c700-0

[2019-11-26 03:11] leonicus commented on #29838
take

[2019-11-26 04:43] mroeschke commented on #6581
Thanks for the headsup @jbrockmendel. Let's see if 2nd's time a charm.

[2019-11-26 07:19] thy09 commented on #29478
In `_isna_new`, I see 3 more types `ABCExtensionArray, ABCDatetimeArray, ABCTimedeltaArray,`,
should we follow the same logic and add these three types to `isna_old`?

[2019-11-26 07:23] jorisvandenbossche commented on #29478
Normally, if something is a DatetimeArray or TimedeltaArray, it is also an ExtensionArray (it are subclasses), so I would think that only adding `ABCExtensionArray` would be enough. But you might need to test that.

[2019-11-26 08:16] jorisvandenbossche opened #29854 "CI: styled excel failure in the doc build"
CI is failing in the doc build (eg https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=21689&view=logs), with the following error related to excel:

[code]

Comparing the last working build (https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=21675) with the first failing (https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=21689) on master, there is a change in op

[2019-11-26 10:14] pepicello opened #29855 "ValueError when slicing dataframe with duplicates datetime index"
#### Code Sample, a copy-pastable example if possible

[code]

With error:
[code]

#### Problem description

The error message is not helpful, as the index and slicing is done on datetime only. The error disappear if the duplicates are removed.

#### Expected Output

[code]

Or better error message if this is an unwanted behaviour on duplicates.

#### Output of ``pd.show_versions()``

<details>

I

[2019-11-26 10:28] JrtPec opened #29856 "df.Truncate now fails when arguments have different tzinfo"
#### Code Sample

[code]
[code]

#### Problem description

In #25263, these lines were added (line 4881):
[code]

1. The timestamps in the example do have the same UTC offset. The difference is that one has an actual timezone, while the other has a fixed offset. So a simple comparison of `tzinfo` is insufficient here.
2. It is unclear to my *why* you shouldn't be able to truncate with timestamps w

[2019-11-26 11:45] cvonsteg commented on #14553
@pmgh2345 - yep, as you said, "down to reviews now" means a pull request has been raised and is under review from the core devs.  You can see the PR mentioned above (#29636).  Once it is approved, you could technically fork the branch with the updated code and compile your own local version of pandas with the functionality built in.  However, I would personally recommend waiting until it's been me

[2019-11-26 12:02] jreback commented on #29556
Terji

can’t find this comment on github but
i would say that if we had a DictionaryEncoded type (that backs Categorical and maybe StringArray) then you could certainly use it in the implementation  here

[2019-11-26 12:29] jorisvandenbossche commented on #29556
I think a big advantage of the mask approach is the consistent data model with other arrays such as IntegerArray now (and possibly others in the future).

Also, in operations you often need or produce a mask (eg in a IntegerArray comparison producing a boolean array, or in `isna` of an IntegerArray), which now is always available or can be set without further computation, while in the encoded type

[2019-11-26 13:28] charlesdong1991 opened #29857 "ENH: Add progress_bar_type argument for read_gbq"
`pandas_gbq` just released new version, and add a `progress_bar_type` argument when loading data and also add `tdqm` dependency.

Right now using `pd.read_gbq` will raise a warning.

I think `pandas.read_gbq` should align with it.

[2019-11-26 13:28] charlesdong1991 commented on #29857
take

[2019-11-26 14:30] topper-123 commented on #25881
This is a duplicate of #20629 and has been fixed in #26298. Closing.

[2019-11-26 14:30] #25881 closed

[2019-11-26 15:36] oguzhanogreden commented on #8508
take

[2019-11-26 16:50] ruskimarcin opened #29864 "pd.merge_asof not working when merging TZ-aware index+series"
Hi!

I don't know how to solve following issue, can you please take a look? What am I doing wrong?
#### Problem description
[code]

#### Output
[code]
#### Expected Output
merged dataframes

[2019-11-26 17:26] TomAugspurger opened #29868 "Use an enum for infer_dtype return values?"
While working in https://github.com/pandas-dev/pandas/pull/29799, it was quite hard to add a new return value from `lib.infer_dtype`.  There are many places where we do something like

[code]

It was hard to grep for these. Could we instead define an enum

[code]

And then return `InferredType.INTEGER`, and update all our checks for

[code]

I think this should be entirely backwards compatible, si

[2019-11-26 18:04] jreback commented on #29868
yep this is generally a good idea

[2019-11-26 19:41] Enteee commented on #29806
Interesting, I can for sure reproduce this issue with 0.25.2.
So how do we go forward with this issue? Do you want me to close this?

[2019-11-26 19:55] mroeschke commented on #29864
Thanks for the report! Confirmed on master. Investigation and PRs welcome!

[2019-11-26 20:04] ohad83 commented on #29806
It does reproduce in 0.25.2 and also 0.25.3.
I believe this is a duplicate of #20500 and closed by #27618, so yeah, it can be closed.

[2019-11-26 20:20] MomIsBestFriend commented on #29547
Taking next:
- [ ] pandas/io/msgpack/_packer.pyx
- [ ] pandas/io/msgpack/_unpacker.pyx
- [ ] pandas/io/sas/sas.pyx

[2019-11-26 20:50] jbrockmendel commented on #27602
re-opened, since codecov looks like it hasnt updated in 9 days

[2019-11-26 21:18] rsdpyenugula commented on #29418
bump

[2019-11-26 22:55] #29854 closed

[2019-11-27 04:39] mwtoews opened #29879 "pd.concat with copy=True doesn't copy columns index"
#### Code Sample

[code]

#### Problem description

It is expected that `copy=True` should make a copy of the `columns` index. However, the demonstration shows it's the same object. Modifications, such as the `name` property, are made to the source frame and the output frame created by `pd.concat`.

#### Expected Output

It is expected that `df2.columns` is a copy of the original `df.columns`. Thi

[2019-11-27 08:55] Enteee commented on #29806
k, thx.

[2019-11-27 08:55] #29806 closed

[2019-11-27 14:28] TomAugspurger opened #29884 "NumPy 1.18 behavior for sorting NaT"
Followup to https://github.com/pandas-dev/pandas/pull/29877. cc @jbrockmendel if you could fill out the details.

* Adopt NaT at the end for Index? (we already do for Series)
* Report timedelta NaT-sorting issue to NumPy?

[2019-11-27 15:39] int8 opened #29885 "Cannot install pandas on alpine"
####
Dockerfile
[code]

#### Problem description

I get the following error when I try build the image

[code]

#### Expected Output

no errors :)

#### Output of ``pd.show_versions()``
not applicable

[2019-11-27 15:52] MomIsBestFriend opened #29886 "Replace "foo!r" to "repr(foo)" syntax"
Since we are moving to f-strings and dropping old strings formats (```%``` and ```.format()```), we no longer need to have the redundant ```%r``` and ```!r``` specifiers, instead we use the ```repr()``` format.

#### Notes:
* Don't forget to link this issue in your PR, paste this ```https://github.com/pandas-dev/pandas/issues/29886``` in your PR.

* If any of your changed files are related to #295

[2019-11-27 18:28] ForTimeBeing commented on #29547
Sorry I just noticed that you have asked to specify which files to work on. I just have been using

grep -n -R -e '%s' -e '%d' -e '\.format(' --include=*.{py,pyx} pandas/

To find any old formatting. I apologize

[2019-11-27 18:31] MomIsBestFriend commented on #29547
That's why I edited the post, glad you noticed:)

can you post what you worked on? just in case someone searches the comments.

[2019-11-27 18:39] #29772 closed

[2019-11-27 18:43] ForTimeBeing commented on #29547
Sure, I took;
[x]pandas/tests/resample/test_datetime_index.py
[x]pandas/tests/resample/test_time_grouper.py
[x]pandas/tests/tseries/offsets/common.py
[x]pandas/errors/__init__.py
[x]pandas/tests/arrays/interval/test_ops.py
[x]pandas/tests/arrays/sparse/test_array.py
[x]pandas/tests/arrays/sparse/test_libsparse.py
[x]pandas/tests/extension/arrow/arrays.py
[x]pandas/tests/extension/base/printing.py

[2019-11-27 19:11] jschendel commented on #29879
Another example of this that hits a slightly different code path:
[code]

[2019-11-27 19:25] ChrisRobo opened #29896 "BUG: incorrect fills when reindexing multi-indexed DataFrames"
[code]

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As far as I understand, the ordering logic for reindexing here should be tuple ordering with the constituent tuples of the MultiIndex -- i.e. `df`'s index has tuples:
[code]
and `mi_2`'s tuples are:
[code]
where tuple ordering properties are, for tuples `x = (x_1, ..., x_n)`, `y = (y_1, ..., y_n)` that

[2019-11-27 19:47] jreback commented on #29879
this analysis is not correct. Indexes are immutable, thus they are shared, concat ``copy=True`` does not guarantee a copy of an Index as its not necessary.

I would expect this
``
In [6]: df.columns is df3.columns  # shouldn't be the same but are
Out[6]: True
[code]

[2019-11-27 19:50] mwtoews commented on #29879
Further testing shows that this issue is more generic, not just `columns`. For instance with the other axis:
[code]

[2019-11-27 20:42] jbrockmendel commented on #29885
can you try running `pip3 install wheel` first

[2019-11-27 20:43] maxQC opened #29901 "Strange behaviour of pd.offsets.CustomBusinessHour when using holidays"
#### Code Sample, a copy-pastable example if possible

[code]

2014-01-17 14:00:00
2014-01-17 15:00:00
2014-01-17 16:00:00
2014-01-21 09:00:00
2014-01-21 10:00:00
2014-01-21 11:00:00
2014-01-21 12:00:00
**_2014-01-20 13:00:00
2014-01-31 14:00:00
2014-01-31 15:00:00
2014-01-31 16:00:00
2014-02-03 09:00:00
2014-02-03 10:00:00
2014-02-03 11:00:00
2014-02-03 12:00:00_**
2014-01-21 13:00:00
2014-01-21

[2019-11-27 20:47] #28023 closed

[2019-11-27 20:47] #28279 closed

[2019-11-27 20:55] MomIsBestFriend commented on #29547
No problems:)
thank you for the PR:)

[2019-11-27 20:58] oguzhanogreden commented on #8508
Using version 0.25.1, I can do the following:

[code]

So only the documentation is missing.

[2019-11-27 22:01] jbrockmendel commented on #6581
@TomAugspurger do you have comparative advantage in #23767?

@mroeschke IIRC #22644 was yours, want to finish it off?

@WillAyd didn't you already take care of #18731?  if so pls update the checkbox lists

@pandas-dev/pandas-core  A few of these that are ambiguous and may need discussion/clarification:
- [ ] #18347 .add_suffix/.add_prefix - the discussion there makes it look like this may not be d

[2019-11-27 23:01] jreback commented on #6581
- +1 on re-enabling ``.item()``
- +0 on deprecating .add_suffix/.add_prefix, IIRC don't believe was actually deprecated
- ok with removing ``.compress()`` its not very useful anyhow even in numpy, esp for 1-D where its just indexing.

[2019-11-27 23:21] SaturnFromTitan commented on #28277
take

[2019-11-27 23:21] SaturnFromTitan commented on #28277
Like suggested in the PR discussion, I will implement a DeprecationWarning for `Series.str.__iter__`

[2019-11-27 23:23] jbrockmendel commented on #29886
Another option that we use in quite a few places is single quotes `"foo '{bar}' baz"`

[2019-11-27 23:40] MomIsBestFriend commented on #29886
@jbrockmendel I'm kinda obligated about how to find them systemically, meaning what if there's is a change to the ```repr()``` function, and the single quotas are there to differ from the ```repr()``` (If they're any). plus I'm not sure how to grep for this pattern.

[2019-11-28 05:58] #29634 closed

[2019-11-28 07:25] jorisvandenbossche commented on #6581
`add_prefix`/`add_suffix` were never deprecated, so there is no discussion about removing them. Someone can open a new issue (or find an existing one) to further discuss deprecating it, but since it is here about removal of actually deprecated things, removed this from the list above.

I think I am fine with `np.compress()` breaking.

Let's have the discussion about `item` in https://github.com/pa

[2019-11-28 09:14] jorisvandenbossche commented on #29849
@ma7555 to me, this seems a very specific feature for a machine learning setting / feature engineering, so therefore think this is better suitable for a library focusing on that, and seems out of scope for pandas as a general dataframe library.

[2019-11-28 09:38] mojones commented on #27075
I think this is the same issue as https://github.com/pandas-dev/pandas/issues/23865

[2019-11-28 09:51] TSPereira commented on #29901
So, by great coincidence I also got this problem yesterday.
I have defined a CustomBusinessHour with working hours from 07:00 to 01:00 and when I perform calculations between a timestamp and some amounts of these business hours, I don't get the expected results.

As you can see below, the behaviour is as expected except for some specific hours, which can be identified as a pattern

`import pandas

[2019-11-28 10:10] int8 commented on #29885
Hi It did help,

but the core of the issue was setuptools version. in my original Dockerfile (a bit larger than the one provided here), I also use `pip3 install setuptools` without version specified - apparently it changed recently from `41.2.0 ` to `42.*` and that caused my problems

fixing pip / setuptools version helped
[code]

[2019-11-28 10:14] #29885 closed

[2019-11-28 14:09] st-bender opened #29916 "HDF5: empty groups and keys"
Hi,

With some of the hdf5 files I have, `pandas.HDFStore.groups()` returns an empty list. (as does `.keys()` which iterates over the groups). However, the data are accessible via `.get()` or `.get_node()`.

This is related to #21543 and #21372 where the `.groups()` logic was changed, in particular using `self._handle.walk_groups()` instead of `self._handle.walk_nodes()`, now to be found here:
htt

[2019-11-28 14:17] t6s4 opened #29917 "Modifying DataFrame first row produces wrong result"
[code]
#### Problem description

Updating first row duplicates column labels.

[2019-11-28 14:23] anvesha1 commented on #3441
By using openpyxl as engine in ExcelWriter
writer = pd.ExcelWriter(filename, engine='openpyxl')
df.to_excel(writer, sheet_name)
at writer.save() i am getting this error
TypeError: got invalid input value of type <class 'xml.etree.ElementTree.Element'>, expected string or Element

[2019-11-28 15:24] maxQC commented on #29901
I went through a couple of hoops to get what I needed.
I currently use the following function I made:

[code]

[2019-11-28 16:23] maxQC commented on #29901
Modified it to account for shifts crossing midnight, works with negative increments too.

[code]

[2019-11-28 16:25] TSPereira commented on #29901
Thanks, your implementation is really neat. I think I'll try to adapt it to also include partial hours (such as 1,5).
I have made something about this in my code and I think it might be useful.
I'll post it in the end (not sure when though)

[2019-11-28 16:59] TSPereira commented on #29901
I think this works. Removed the import outside and the final if you had since the calculation can be made even with cbh = 0. Also added the weekmask as this is relevant for my problem.

[code]

[2019-11-28 16:59] maxQC commented on #29901
That would be very nice!
Thank you and I wish you a nice day

[2019-11-28 17:09] TSPereira commented on #29901
Updated my comment with the code to exit right at beginning if hours==0 and also so that variables comply with PEP8 standards

[2019-11-28 17:15] srinivas-chatnalli commented on #29835
df_new.to_excel('Misclassification.xlsx',index_label=None, header=False)

[2019-11-28 17:39] TSPereira commented on #29901
New update. complete_shifts calculation with "//" for negative values was not working correctly.
For example:

`-4 // 18`

evaluates to -1 when it should be 0.

[2019-11-28 18:01] TSPereira commented on #29901
I was double checking the function and this still have some issues.

This still produces wrong output
[code]

**output**
`Timestamp('2019-03-13 11:00:00')`

**expected output**
`Timestamp('2019-03-13 17:00:00')'

[2019-11-28 18:23] maxQC commented on #29901
Cleaned a bit.
(hour precision)

Works with
[code]

[code]
#### Output
[code]
#### Expected Output
[code]

[2019-11-28 18:30] maxQC commented on #29901
Edited Code in previous post (I had copied the wrong version...)

[2019-11-28 19:05] jorisvandenbossche commented on #29917
Thanks for the report!

According to our docs this should indeed work (https://dev.pandas.io/docs/user_guide/indexing.html#attribute-access, see the "You can also assign a dict to a row of a DataFrame:" a bit below the linked title). The example from there:

[code]

Now, in practice, this only seems to work like that if your dataframe has uniform types. Eg if I change the second column to float in

[2019-11-28 19:07] jorisvandenbossche commented on #29917
See https://github.com/pandas-dev/pandas/issues/16724 for a similar issue (and we came to the same conclusion about the dtypes then :)).
Closing this as a duplicate.

[2019-11-28 19:07] jorisvandenbossche commented on #29917
Duplicate of https://github.com/pandas-dev/pandas/issues/16724

[2019-11-28 19:07] #29917 closed

[2019-11-28 19:08] sque opened #29919 "Dataframe.aggregate does not work with MultiIndex columns"
#### Code Sample, a copy-pastable example if possible

[code]
The output of the above code chunk:
[code]

#### Problem description

When doing `aggregate` on `axis=0` I expect to perform aggregation per column and this is true if simple indexing is used. In case of multi index columns though it *returns the same dataframe unchanged* which is unexpected.

Not doing anything and returning the same D

[2019-11-28 19:09] jorisvandenbossche commented on #16724
Duplicate report: https://github.com/pandas-dev/pandas/issues/29917

[2019-11-28 19:11] jorisvandenbossche commented on #29879
We should share the underlying data, but not the actual Index object? (so make a new Index object from the same data)
As it's only the data that is considered immutable, not the full object (eg the name can change).

[2019-11-28 21:52] alimcmaster1 commented on #29868
Sounds good this would be neat.

I guess the check would be
[code]
I can potentially take a look at this is we feel its worth doing.

[2019-11-28 22:11] jconstanzo opened #29921 "Bug when using multi-row inserts with SQLite database"
#### Code Sample

[code]
#### Problem description

The piece of code described above tries to insert simulated financial data in a SQLite database, using method `to_sql` from pandas.DataFrame. It tries to make these insertions in three different ways:

1. Inserting all data one row at a time. The insertion performs successfully.
2. Inserting all data using attribute `method="multi"` to performs a

[2019-11-28 22:14] jconstanzo commented on #8953
I'm sorry for the delay. I just opened an issue for this problem: https://github.com/pandas-dev/pandas/issues/29921

[2019-11-29 06:02] akdor1154 commented on #27519
I think I am still seeing this in 0.25.3, the fix should be in that right?

[2019-11-29 07:08] Entheos1994 commented on #25043
You can try to force the type of column to be string. It works for me.
df.columns = df.columns.astype(str)
https://github.com/dask/fastparquet/issues/41

[2019-11-29 07:14] jorisvandenbossche commented on #29921
@jconstanzo thanks for the report!

It seems that the "multi" insert method is not yet implemented for the sqlite fallback (without sqlalchemy). The "SQLiteTable" object has no `_execute_insert_multi` defined, and therefore it uses the sqlalchemy implementation, which doesn't work for sqlite.

Now, could you try with sqlalchemy? So instead of passing the sqlite `conn` object to `to_sql`, create a

[2019-11-29 08:14] TSPereira commented on #29901
Still doesn't work, at least with shifts that go over midnight (most likely my issue here)

[code]

0 : 2019-03-13 22:00:00
**1 : 2019-03-13 15:00:00
2 : 2019-03-13 14:00:00
3 : 2019-03-13 13:00:00
4 : 2019-03-13 12:00:00
5 : 2019-03-13 11:00:00
6 : 2019-03-13 10:00:00
7 : 2019-03-13 09:00:00
8 : 2019-03-13 08:00:00
9 : 2019-03-13 07:00:00**
10 : 2019-03-13 12:00:00
11 : 2019-03-13 11:00:00
12 : 2

[2019-11-29 10:26] TSPereira commented on #29901
I have remade the function to don't use business hours as I think the problem is in the implementation of those. From the tests I made so far it seems to be working fine for any shift hours.

[code]

[2019-11-29 12:45] TSPereira commented on #29901
In more extensive test still found a new issue. If start_date outside of working hours, the calculations is still wrong. Will have to write something to roll the date to the limit of the business hours first and then apply the function.

[2019-11-29 17:36] larrymouse opened #29928 "Using to_json/read_json with orient='table' on a DataFrame with a single level MultiIndex does not work"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have a DataFrame that has a MultiIndex, even though that index only has one level and could easily be a normal index, I am receiving this table from ipyaggrid, so am not in control of that.

Saving this table to json with df.to_json(orient='table) and then loading from pandas.read_json(js, orient='table) lead

[2019-11-29 17:51] #29478 closed

[2019-11-29 22:39] #27745 closed

[2019-11-30 00:01] jbrockmendel commented on #28446
Closed by #29812.

[2019-11-30 00:01] #28446 closed

[2019-11-30 01:20] dsm054 commented on #28629
I just hit a variant of the same something's-weird-with-the-cache logic bug.  The real-world case was a lot less obviously silly than this, but:

[code]

 where a total length of 50 works fine.  As expected, setting cache=False makes things work again.

[2019-11-30 01:31] Linus-MK opened #29934 "typo in docs "Essential basic functionality""
Sorry to bother with a mere typo, but the sentence has no closing parentheses.

Thank you in advance.

[2019-11-30 12:51] MomIsBestFriend commented on #29886
I'll take:
- [ ] pandas/tests/tseries/offsets/test_fiscal.py
- [ ] pandas/tests/tseries/offsets/test_offsets.py
- [ ] pandas/tseries/offsets.py
- [ ] pandas/util/_decorators.py
- [ ] pandas/util/testing.py

[2019-11-30 13:52] alimcmaster1 commented on #29934
Would you like to submit a PR?

[2019-11-30 21:44] guyer commented on #15249
I know this is long closed, but if all of your Timestamps are in the same timezone, why are you squandering cycles on time zones at all? They're *only* relevant if you have different events in different time zones.

[2019-12-01 02:49] tab1tha commented on #29934
Greetings. I am a new contributor and I just made a pull request for this. I hope it helps.

[2019-12-01 02:55] tab1tha commented on #29934
take

[2019-12-01 03:20] tab1tha commented on #28546
take

[2019-12-01 05:04] BaruchYoussin commented on #27800
Here is another bug which is probably another face of this bug:

Aggregating a categorical column in a groupby yields a Categorical object rather than a Series.

Here is the code:

[code]

`df.groupby('cat_ord')['cat'].first()`

`type(df.groupby('cat_ord')['cat'].first())`

[2019-12-01 05:43] MaxGhenis commented on #26599
This distinction also seems strange to me; Stata files are commonly zipped (e.g. the Federal Reserve's Survey of Consumer Finances, where zipping reduces filesize by 90%), and since it's possible, it seems more convenient to offer the same interface provided to `read_csv`.

I asked how to do this and got a couple answers using `zipfile.ZipFile`: https://stackoverflow.com/questions/59122596/read-a-

[2019-12-01 07:53] BaruchYoussin commented on #27800
I suspect that this bug was introduced by the following change in 0.25.

Aggregation in groupby in Pandas 0.24 dropped the categorical dtype, replacing it by object which was a string.

Version 0.25 introduced additional code to restore the original dtype.  It seems to me that it is this code which is to blame for this bug.

I also forgot to mention that the aggregation of categorical columns take

[2019-12-01 13:26] alimcmaster1 commented on #29934
Thanks @tab1tha if you link the issue in the PR it will close this issue when merged

[2019-12-01 13:26] #29934 closed

[2019-12-01 14:36] Linus-MK commented on #29934
Thank you @tab1tha !
I'll try submitting PR next time.

[2019-12-01 14:42] ma7555 commented on #29849
@jorisvandenbossche Thanks for taking time to looking into it, I will propose the same directly into sk-learn maybe.
Cheers

[2019-12-01 14:42] #29849 closed

[2019-12-01 17:09] jbrockmendel commented on #26288
@TomAugspurger does the removal of SparseDataFrame make this closeable?

[2019-12-01 17:15] jbrockmendel commented on #22864
@mroeschke ive totally lost track, where did we land on this?

[2019-12-01 17:39] jbrockmendel commented on #22545
@h-vetinari a lot of cleanup in/around groupby.apply has occurred recently.  can you see if any of the bugs/inconsistencies here have been addressed?

[2019-12-01 17:43] jbrockmendel commented on #12653
agreed this is a footgun.  brainstorming how to implement:

- document that it isnt supported and be done with it
- maybe a contextmanager to make the relevant objects immutable within the relevant calls

[2019-12-01 18:21] mroeschke commented on #22864
I think we wanted `offsets.Day` to mean calendar day instead of 24 hours. I just lost steam in addressing all the deprecations mentioned in the top post.

@jbrockmendel  you mentioned:

which would make this transition a bit easier I think.

[2019-12-01 21:19] jbrockmendel commented on #9097
Closing since we no longer use appveyor.  Feel free to re-open (and re-title) if you think it applies to Travis or Azure

[2019-12-01 21:19] #9097 closed

[2019-12-01 21:32] #29864 closed

[2019-12-01 21:35] jjarthur opened #29946 "Flask + multiprocessing: "NotImplementedError: Not supported for DataFrames!""
**df_manager.py**
[code]

**data_handler.py**
[code]

I'm trying to use multiprocessing to create a service that handles my pandas dataframe to give to Flask requests. Unfortunately, this throws an exception when attempting to call `manager.get_df()` in `data_handler.py`. This seems to be caused by DataFrames specifically, as returning `df.to_json()` instead of just `df` in `df_manager.py` seems t

[2019-12-01 22:06] MinKimIP commented on #28104
Hi guys, just to add:
when reading SQL results from cx_oracle to pandas, rather than throwing an out of range error, the returned pandas dataframe converts datetimes from
9999-12-31 to a particular timestamp in the year 1822, and
2999-12-31 to a particular timestamp in the year 1830.
Basically restarting from 1677 for dates beyond 2262.
Shouldn't pandas ideally throw an out of bounds error or retu

[2019-12-01 22:20] jbrockmendel commented on #29759
Can you post an example that we can copy/paste to reproduce https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-12-01 22:21] jbrockmendel commented on #29638
Can you post an example that we can copy/paste to reproduce https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-12-01 22:23] jbrockmendel commented on #14852
@yarikoptic can you see if this is fixed in a more recent version

[2019-12-01 22:41] jbrockmendel commented on #6581
@jorisvandenbossche there are a couple of these I tried and couldn't figure out.  Can I get you to take a look or suggest someone I should bug?  First is the `how` `fill_method` in `resample` (needs GH ref).  Second is the one for #26403.

[2019-12-02 01:28] ganevgv commented on #29547
I took

- [x] pandas/core/window/common.py
- [x] pandas/core/window/ewm.py
- [x] pandas/core/window/expanding.py
- [x] pandas/core/window/rolling.py

ref #29952

[2019-12-02 02:13] jschendel commented on #6581
Just opened a PR for that one, see #29955

[2019-12-02 02:40] mr-fluffy-pancake commented on #29919
@sque I tried using `sum` and various other functions and it worked as you'd expect, so I would also expect a similar result for `tuple`, `list`, etc. After some digging, it appears there was a workaround for this already when passing `axis=1`, but not for `axis=0` with a multi-index.

That said, I tried transposing `df.T` before aggregating and adjusted `axis=0` to `axis=1`.

[code]
And it yielde

[2019-12-02 06:38] jzwinck commented on #26599
I agree, it's not nice that `read_csv` and `read_json` and `read_pickle` all understand compression but `read_stata` does not.  Zipped Stata files are popular, and there's a `zipsave` package to create and load them in their native habitat: https://ideas.repec.org/c/boc/bocode/s446702.html

Pandas should support this.  @WillAyd would you consider re-opening this?

[2019-12-02 07:14] jorisvandenbossche commented on #9097
I assume that testing on Windows with SQL Server on Azure or Github actions could still be useful, but also not something that is highly needed (nor something I would plan to work on myself)

[2019-12-02 08:54] wj-c commented on #29832
Sorry for the late reply. Sure I can provide an example.

-----------------------------------------

Here is the code:

import pandas as pd
store = pd.HDFStore('测试.h5')
pd.DataFrame().to_hdf(store, '/test')

------------------------------------------

Here is the results of running the above code:

Traceback (most recent call last):
  File "C:\Users\cwj\Desktop\Untitled-1.py", line 3, in <module>

[2019-12-02 09:03] wj-c commented on #29832
By the way, changing the system encoding to utf-8 is of course a solution to this issue. However, it affects using some other legacy software in, for example, Chinese, which does not support utf-8 encoding. So I hope this issue could be investigated. Thanks!

[2019-12-02 09:07] SaturnFromTitan opened #29960 "DOC: Remove :okwarning: from scale guide when used dask version is not raising FutureWarning anymore"
can you also create an issue on the pandas side so we know what we need to update once dask is at a certain version (you can just point to this line here)

_Originally posted by @jreback in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDM1MjM4MzI0NA==/comments/review_comment_

**Note:** This will be on hold for quite a while (first merging my PR, then waiting until dask has

[2019-12-02 09:29] TSPereira commented on #29901
I guess the problem starts with the "onOffset" method. Simple example with working hours over midnight. As you can see, it is only working in the period up to '00:00:00'. From '00:00:00' to '02:00:00' should still be considered on the offset, but is not.

[code]

06:00:00: True
12:00:00: True
23:00:00: True
00:00:00: False
01:00:00: False
02:00:00: False
03:00:00: False
04:00:00: False

[2019-12-02 10:11] Arjun-Arvindakshan commented on #26761
hi..
I seem to get this error while running my code.

Error while fetching data from PostgreSQL Out of bounds nanosecond timestamp: 1-03-22 00:00:00
Anyone have any idea on what might be the possible reason behind this?

[2019-12-02 10:37] #25303 closed

[2019-12-02 10:46] jorisvandenbossche opened #29962 "API: return "correct" missing value scalar from Categorical?"
From https://github.com/pandas-dev/pandas/pull/27929#discussion_r350469472. In `__getitem__` or  `Categorical.min(..)`, we always return `np.nan` as scalar missing value, regardless of the dtype:

[code]

In the above, this could also be `pd.NaT` instead?
(similar issue will come up once we can use the EAs that use the new NA scalar in categoricals)

However, `CategoricalDtype.na_value` now also r

[2019-12-02 11:52] jorisvandenbossche commented on #6581
That deprecation was introduced in https://github.com/pandas-dev/pandas/pull/11841. This might be left-overs that were not removed in https://github.com/pandas-dev/pandas/pull/20782

[2019-12-02 12:03] TomAugspurger commented on #29962
I think returning the NA value for the dtype (NaT in that case) makes the most sense.

Maybe a meaningless question, but: does this count as values-dependent, or dtype-dependnat?

[2019-12-02 12:04] TomAugspurger commented on #29946
We'll just keep the question on stackoverflow open. If this turns out to be a bug could you post an update here?

[2019-12-02 12:05] TomAugspurger commented on #29946
Though looking at your error message, the line

[code]

indicates that you're possibly calling a Series method on a DataFrame, or vice-versa?

[2019-12-02 12:06] jorisvandenbossche commented on #29962
To be fully correct, I think it is "dtype-instance-dependent" behaviour (so in the sense that it depends on one of the properties of the dtype instance, not on the dtype class)

[2019-12-02 12:29] jorisvandenbossche commented on #29556
@TomAugspurger are you planning to do a PR for using it in IntegerArray? (or at least you had a beginning branch for this, I think?)

[2019-12-02 12:32] TomAugspurger commented on #29556
@jorisvandenbossche I'm not finding a brach for IntegerArray using pd.NA right now. Do you have time to work on it this week?

[2019-12-02 12:34] jorisvandenbossche commented on #29556
I think it is here: https://github.com/TomAugspurger/pandas/compare/NA-scalar...TomAugspurger:NA-scalar+IntegerArray. Feel free to just open it as a PR, and then can see who has time first

[2019-12-02 12:40] jreback commented on #29962
I agree with @TomAugspurger here, this is strictly dtype dependent of the values. We have an almost identical pattern with Interval, where we have a sub-dtype. Maybe we could formalize this a bit, e.g. making a more explicit ContainerDtype. Not sure its worth the effort, but IIRC we discussed this before about working with sub-dtypes.

[2019-12-02 12:45] TomAugspurger commented on #29556
Thanks, missed that somehow. Opened a draft in https://github.com/pandas-dev/pandas/pull/29964

[2019-12-02 12:48] TomAugspurger commented on #6528
I don't expect the behavior of `np.nan` in boolean operations to change, but https://github.com/pandas-dev/pandas/pull/29842 is implementing a new BooleanArray extension type that I think addressees most things. Let us know if there are additional problems in new issues.

[2019-12-02 12:48] #6528 closed

[2019-12-02 12:51] TomAugspurger commented on #29556
@jorisvandenbossche should the subitem ` Use BooleanArray in comparison ops of StringArray` be expanded to ` Use BooleanArray in comparison ops of StringArray, IntegerArray, and BooleanArray`? The plan is for those to propagate NA, right?

[2019-12-02 12:54] jreback commented on #29832
@wj-c happy to take the same patch as for #15086

[2019-12-02 12:55] jorisvandenbossche commented on #29556
Yes. I am already handling the BooleanArray case in #29961. If the IntegerArray case is not handled in #29964, then yes we can have a subitem / PR for doing that in IntegerArray / StringArray together.

[2019-12-02 13:11] Intheelement opened #29965 "shifted column names by reading bigger csv-files"
Using pandas version of newest anaconda windows setup-installer:
pd.__version__
Out[11]: '0.25.1'

While importing larger csv-files there occures a shift in column names.
Simple version works:
[code]
while normal mode leads to shift (see Timestamp has PMaxEVU-values)

[code]
this occures even with direct importing with parse_dates=True,
[code]
Useing string name leads to KeyError - this may be an

[2019-12-02 13:51] mbataillou commented on #27672
Hi everyone,

The concerns raised by @andreapiso are important but don't relate to the issue pointed by @remidomingues.

This issue is related to the fact that the dataframe with missing values **needs to have an increasing index if it contains repeated values**. See the following example:
[code]
Raising
[code]

So a quick fix is to sort the index before .fillna but might be nice to receive a more

[2019-12-02 14:14] TomAugspurger commented on #26288
No. I updated the original example to use DataFrame[sparse]. Different error message, but I think the same underlying issue.

[2019-12-02 14:17] MomIsBestFriend commented on #29547
I'll take:
- [ ] ci/print_skipped.py
- [ ] doc/make.py
- [ ] doc/source/conf.py
- [ ] doc/sphinxext/announce.py
- [ ] doc/sphinxext/contributors.py

[2019-12-02 15:08] stevesmit opened #29966 "Type conversion to boolean for integers after concat"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When concatenating on Multi-index, 1 and 0 are automatically converted to Booleans if there are other Booleans. In my view the type should remain the same after concatenating.

For documentation-related issues, you can check the latest versions of the docs on `master` here:

#### Expected Output
[code]

#### Ou

[2019-12-02 15:15] proost opened #29967 "DOC: .get_slice_bound in MultiIndex needs documentation."
[code]

But, If `MultiIndex` is sorted,

[code]

If only sorted 'MultiIndex' can work is not bug  but intended it. then I think need documentation for 'MultiIndex'.  Because just  documentation on 'Index.get_slice_bound' is not enough to recognize '.get_slice_bound' only works with sorted 'MultiIndex'

<details>
INSTALLED VERSIONS

------------------
commit           : None
python           : 3.7.

[2019-12-02 15:38] OmerJog commented on #10278
This is still an issue on master

[2019-12-02 16:41] TomAugspurger opened #29973 "REF: Deduplicate array, infer_dtype, and maybe_convert_objects"
There's some duplicate / slightly diverging functionality between `pd.array`, `infer_dtype` and `convert_objects`. Both `pd.array` and `convert_objects` are roughly "convert this list-like thing to this better array". See the conversation in  https://github.com/pandas-dev/pandas/pull/29799#discussion_r352255141 for more.

Hopefully this can be deduplicated.

cc @jreback.

Followup to https://githu

[2019-12-02 16:57] djrscally opened #29974 "pandas.read_sql() fails when the select is not the sole part of the query"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The problem is that SQLAlchemy throws an exception when running the snippet of code above:

[code]
 The exception implies that the problem is caused by the fact that the `DROP` and `SELECT...INTO` statements are both causing the server to return messages along the lines of `(5 rows affected)`, and Pandas is pic

[2019-12-02 16:58] djrscally commented on #29974
If ever I knew how to add labels, I have forgotten. This is an enhancement rather than a bug in my opinion.

[2019-12-02 16:59] WillAyd opened #29975 "pd.NA `na_rep` truncated in to_csv"
Just found this while messing around with how the new pd.NA sentinel would work with extension modules

[code]

Note the latter is truncated to two letters

@jorisvandenbossche

[2019-12-02 17:09] jbrockmendel opened #29976 "test_additional_extension_arrays fails with pd.NA"
cc @jorisvandenbossche

im using pyarrow 0.15.1 locally

[code]

[2019-12-02 17:38] #29791 closed

[2019-12-02 17:51] AskariyanKarine commented on #29837
How much do you need this data type at the time of using groupby()? Have you considered this solution?
`
df = pd.DataFrame({'A' : [ 1 , 1 , 1 , 1],
 'B' : [ 1 , 2 , 1 , 2],
 'numerical_col' : [ .1, .2, np.nan, .3],
 'object_col' : ['foo', 'bar', 'foo', ' fee'],
 'categorical_col': ['foo','bar','foo','fee']
 })
df_double = df
df = df.astype({'categorical_col': 'category'})
df_double.groupby([df['A'

[2019-12-02 18:03] seberg opened #29978 "Pandas Tests rely on inconsistent array coercion"
In https://github.com/numpy/numpy/pull/14995 I have tried to make numpy consistent with respect to coercing dataframes (and other array-likes which also implement the sequence protocol) to numpy arrays.

With the new PR/behaviour, the `__array__` interface would be fully preferred, and no mixed/inconsistent behaviour with respect to also being a sequence-like (with different behaviour) would occur

[2019-12-02 18:14] TSPereira commented on #29901
I think I finally nailed it. Brief description of what I do here.

First I check if the passed start_date is within the working period or not. If it is not I roll_forward it. In here I added an additional argument so one can choose whether you want a correct time or not. This correction means if you want to add the hours that were over the end_time (e.g. if end is 17:00 and start_date time is 19:0

[2019-12-02 18:15] eric-wieser commented on #29978
Can you show the path taken through `convert` too?

[2019-12-02 18:44] minggli commented on #29710
also to add to the discussion. at the moment, `.str` accessor silently casts non-string objects to NaN, when it perhaps raises an error of some sort.

[code]

[2019-12-02 19:00] jreback commented on #10278
@OmerJog hence the open tag

you are welcome to submit a patch

[2019-12-02 21:38] devin-petersohn opened #29980 "pandas.core.dtypes.cast.find_common_type upcasts CategoricalDtype list to object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `find_common_types` is upcasting a list of `CategoricalDtype` to `object`. Ideally, it would create a `CategoricalDtype` that included the union of all of the values in the `categories` field of the `types` parameter.

The fix for this is relatively easy, I will propose a fix in a comment reply to this issu

[2019-12-02 21:43] devin-petersohn commented on #29980
This was encountered in modin-project/modin#874 and is fixed in modin-project/modin#889.

Relevant fix code here: https://github.com/modin-project/modin/pull/889/files#diff-13bf1e075a6c1b195f6eaf2c8544c255R29-R36

If the maintainers agree this functionality can be added, I will happily open a PR.

[2019-12-02 22:29] jbrockmendel commented on #29978
In this case you have df1 twice, but what if you had two dataframes of different shapes in there?

I guess we could coerce to an xarray object

Nested listlikes are a PITA, but it isn't clear that there's a better alternative.  Is there something specific we need to fix here?  Or is this a "be aware of" kind of thing?

[2019-12-02 22:29] jreback commented on #29980
we have union_categoricals for this purpose

find_common_dtype is not exposed for external use - that said i suppose it could be smarter

[2019-12-02 22:33] seberg commented on #29978
If they have different shapes, things become interesting. Since numpy will automatically give it less dimensions (we are changing that).

Pandas has 3 tests (I think) which would fail if I just do this. The question is if you think that there is any issue with breaking this behaviour. It does seem fairly useless to me, but we cannot deprecate it really. So if pandas users rely on it, it would sudd

[2019-12-02 22:39] mr-fluffy-pancake commented on #29967
@proost I agree there should probably be some documentation on `MultiIndex.get_slice_bound()`. I did some research on the matter in addition to your issue and found the following.

It appears that the lexicographical (alphabetical) order does play a significance role in the output and was possibly intentional, but I'm not entirely sure. Using the method `is_lexsorted()` and attribute `lexsort_dept

[2019-12-02 23:04] jjarthur commented on #29946
I think it might be a bug, unless this doesn't work for a purpose. The above code is exactly what I'm using -- I don't believe I'm calling methods incorrectly. I have created a repo with this simple test case [here](https://github.com/jjarthur/pandas-multiprocessing).

[2019-12-02 23:13] jreback commented on #29978
I would expect

```DataFrame([df1, df]2)``` no matter the shape of df1 and df2 (same or different) to raise a TypeError; the *only* way we would support this is if ``dtype=object`` is specified.

similar to how this is handled

[code]

this is just too magical
[code]

[2019-12-03 01:15] jbrockmendel commented on #6581
@mroeschke any others you want to call dibs on before i go to town?

[2019-12-03 01:17] mroeschke commented on #6581
@jbrockmendel I'll probably be slow on deprecations this week. Go for it.

[2019-12-03 02:01] kinow commented on #25068
Hi @stas00

+1

I'm also starting to think that that function may not be the best for what is documented in `assert_frame_equal`. Here's other ways to trigger the error.

[code]

Or

[code]

The function I mentioned before, is not actually called with these values.

![image](https://user-images.githubusercontent.com/304786/70007550-89a91b80-15d5-11ea-92a4-f0f7c9f55ab0.png)

https://github.com/pand

[2019-12-03 02:59] devin-petersohn commented on #29980
Thanks @jreback, `union_categoricals` does not union `CategoricalDtype` objects, so a workaround like the following is needed if we must use that:

[code]

This would put the constraint on the `types` that if `ordered=True`, they must all contain identical `categories` fields.

[2019-12-03 03:09] hkn0509 opened #29987 "".fillna(method='bfill', limit=7) hangs with "specifying a limit for fillna has not been implemented yet""
Hi! Please help me with this problem. Thank you in advance for your help.

Source code and data are attached.

Executing this statement:
	  **labeled_features = labeled_features.fillna(method='bfill', limit=7)  ## where "labeled_features" is a dataframe**
it hangs with this error:
          **"NotImplementedError: specifying a limit for fillna has not been implemented yet"**

The code belongs to "

[2019-12-03 04:24] kinow commented on #25068
Hmm, maybe I spoke too fast.

This commit has a unit test with the examples discussed here: https://github.com/kinow/pandas/commit/f45be0e87743a35b3c0e7ca4323e8f7e11149ec7

The test passes, but several other tests fail. For example,

[code]

Fails with

[code]

The values that fail are `0.19999999999999996` and `0.2` (and `check_less_precise=False`, so  `decimal=5`). Not sure if it is following wh

[2019-12-03 04:31] jbrockmendel commented on #29973
xref #27460

[2019-12-03 06:08] vishavgupta97 opened #29990 "Pandas is not able to append dataframe to an existing excel sheet.Although openpyxl can be used for it but openpyxl is also destroying pivot table and all other realted information.So we do not have another way available except openpyxl"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-12-03 07:19] xujiboy commented on #29837
@AskariyanKarine Thanks for the suggestion. It is not that I need a workaround, but that a consistent and expected behavior is needed.

[2019-12-03 09:23] brezniczky commented on #25730
Thank you in retrospect!

[2019-12-03 09:25] djrscally commented on #29974
take

[2019-12-03 09:30] gfyoung commented on #29990
Lack of example notwithstanding, have a look at this link here:

https://stackoverflow.com/questions/47737220/append-dataframe-to-excel-with-pandas/47738103

If you could post example code, that would be great so that everyone can reference this.

[2019-12-03 09:34] gfyoung commented on #29987
cc @jreback

[2019-12-03 09:46] djrscally commented on #29974
This could possibly be extended to allow the use of several result-sets within a single `.read_sql()` call. Perhaps with an additional parameter to that function, `unpack=False`; which in that default state would simply fix the issue I've been experiencing by returning the first result set where `cursor.returns_rows` evaluates to `True`. If the user sets `unpack=True` in `.read_sql()`, that could

[2019-12-03 09:57] vishavgupta97 commented on #29990
Hello

Greetings of the day

Although this can be achieved through openpyxl.This is working fine but it
is also destroying pivot table and all the related information.Hence this
code is useless.Because I am achieving one thing but on the other hand
destroying another thing.
Is there any other way available so that my pivot table will not destroy

Thanks & Regards
Vishav Gupta

On Tue, Dec 3, 2019

[2019-12-03 10:00] hkn0509 commented on #29987
Hi @gfyoung! As I am new to GitHub, I don't understand to what "missing-data" you refer, as I attached a zip file with all the code and input data. I searched for the specific meaning of the label "missing-data" and I didn't found it. Thank you in advance for your answer.

[2019-12-03 10:01] vishavgupta97 commented on #29990
By this way pivot table and all the related information is getting destroyed.So using openpyxl is not an efficient way to achieve it. How it can achieve by xlwings or win32com because by using helper function of openpyxl ,we are unable to achieve it

[2019-12-03 10:02] gfyoung commented on #29990
@vishavgupta97 : Please share example code.  It is otherwise difficult to provide guidance.

[2019-12-03 10:03] gfyoung commented on #29987
@hkn0509: `missing-data` is a topic of issues related to missing values in a `DataFrame` or `Series`.  It does not have anything to deal with the fact that your issue report is missing something.  If that was the case, we would add the label `Needs Info`.

[2019-12-03 10:04] vishavgupta97 commented on #29990
https://stackoverflow.com/questions/59151055/how-to-write-dataframe-below-an-existing-excel-sheet-without-losing-value-of-piv

[2019-12-03 10:04] vishavgupta97 commented on #29990
https://stackoverflow.com/questions/59134136/pivot-table-get-destroyed-while-appending-dataframe-below-excel-using-openpyxl

On Tue, Dec 3, 2019 at 3:32 PM gfyoung <notifications@github.com> wrote:

[2019-12-03 10:05] vishavgupta97 commented on #29990
Check here

[2019-12-03 10:07] gfyoung commented on #29990
@vishavgupta97 : Can you share the input data as well?  We are looking for a complete example of code (and data) that we can run exactly that reproduces the issue you're describing.

[2019-12-03 10:11] jorisvandenbossche commented on #29976
Hmm, thanks for catching that! We should really be testing this on CI ..
Will look into it.

[2019-12-03 10:19] vishavgupta97 commented on #29990
I am getting this warning message C:\Users\abcd\PycharmProjects\Abacus_Report\venv\lib\site-packages\openpyxl\worksheet\_reader.py:292: UserWarning: Slicer List extension is not supported and will be removed
  warn(msg)

[2019-12-03 10:26] jorisvandenbossche commented on #29980
I think the `find_common_type` behaviour is actually correct. Or at least it is consistent with how we treat such two different categorical dtypes when they are combined (the discussion could be about that, though).

Eg, for a `concat` or `append` with data of such two categorical dtypes with different categories, it will not result in a categorical dtype in pandas.

[2019-12-03 10:45] hkn0509 commented on #29987
@Thank you @gfyoung for your clear and fast answer.

[2019-12-03 11:09] vishavgupta97 commented on #29990
https://stackoverflow.com/questions/59134136/pivot-table-get-destroyed-while-appending-dataframe-below-excel-using-openpyxl

https://stackoverflow.com/questions/59151055/how-to-write-dataframe-below-an-existing-excel-sheet-without-losing-value-of-piv

Here are above two links for the description of problem. I am really sorry I can't share the data because it is very crucial data for our business o

[2019-12-03 11:10] vishavgupta97 commented on #29990
Please help to find solution of this particular problem

[2019-12-03 12:01] okomarov opened #29992 "df.to_clipboard() creates wrong output for Excel"
Copy pasting clipboard values to excel arbitrarily (?) fills nans with 0s.

### Steps
[code]
which creates the following dataset:

<img width="345" alt="Screenshot 2019-12-03 at 11 57 09" src="https://user-images.githubusercontent.com/3731173/70049203-0f23d000-15c4-11ea-9156-7474784a2f1d.png">

Copy pasting clipboard values to excel:

[code]

arbitrarily (?) fills nans with 0s:

<img width="415" a

[2019-12-03 13:39] #25778 closed

[2019-12-03 13:43] TomAugspurger commented on #29556
I've added an item for returning BooleanArray from boolean `.str` methods.

[2019-12-03 13:52] TomAugspurger opened #29997 "pow(1, pd.NA) maybe gives the wrong result"
Should `pow(1, pd.NA)` be `1` or `NA`?

[code]

cc @jorisvandenbossche

[2019-12-03 13:52] TomAugspurger commented on #29997
R gives `1`

[code]

[2019-12-03 14:10] jorisvandenbossche commented on #29997
Julia seems to do missing:

[code]

But I think the rationale of returning 1 (i.e. "whathever number is used, 1 to the power something will always be 1") also makes sense.

[2019-12-03 14:28] souravs17031999 commented on #29886
working on :
pandas/core/sorting.py
currently if no one has taken it yet.
will add more as i go further.

[2019-12-03 15:03] bergkvist commented on #12663
@agartland For me the original is affected in both cases.
Code:
[code]

Output:
[code]

Versions:
 - pandas: 0.25.0
 - Python: 3.7.3

[2019-12-03 15:43] jfogelberg opened #30001 "Nullable Int64 datatype is not preserved when used as index"
#### Code Sample, a copy-pastable example if possible

[code]
a    float64
b      Int64
dtype: object

#### Problem description

Nullable Int64 datatype is lost if the column is used as index.
This means that it is lost whenever we do a groupby followed by a reset_index and if we try to merge it with the original dataframe we get errors (at least if we try to merge int64 with Int64).

If the colum

[2019-12-03 16:22] jreback commented on #30001
yes, see https://github.com/pandas-dev/pandas/issues/22861

[2019-12-03 16:22] #30001 closed

[2019-12-03 16:23] jreback commented on #30001
there is a PR, but needs work: https://github.com/pandas-dev/pandas/pull/23223

[2019-12-03 16:31] gfyoung commented on #29990
Please try to post example data so that we can help you

[2019-12-03 17:12] hwalinga opened #30005 "Falling back silently to engine='python' whenever numexpr is not installed causes a query call to break more easy"
`query` provides an interesting interface to query data from a pandas dataframe. It also opens up possibilities to have these queries be processed by different kind of engines. Today these options are 'python' and 'numexpr', where 'numexpr' is the default here.

The problematic part here is, is that numexpr is often not installed. As a fallback pandas will use the 'python' engine. This wouldn't be

[2019-12-03 18:18] jreback commented on #30005
the last is what we already do by raising a SyntaxError whenever he query cannot be parsed

it rather simple to actually fallback from this automatically

[2019-12-03 18:42] devin-petersohn commented on #29980
If it is consistent, it may be best to not touch it then.

For my purposes, I can work around it. I am primarily using it to combine the `dtypes` from all partitions (which may not all contain identical `categories` fields), which is probably a separate use case than the `find_common_type` functionality was intended for.

If we were to change the way pandas handles `concat` or `append` on categori

[2019-12-03 19:00] vkchan opened #30008 "Potential issue in Styler.to_excel() with Styler.set_properties()"
#### Code Sample, a copy-pastable example if possible

    df = pd.DataFrame((np.random.rand(5, 4)*100), columns=list('ABCD'))
    df_style = df.style.set_properties(**{'background-color': 'black',
                                           'color': 'lawngreen',
                                           'border-color': 'white'})
    display(df_style)
    df_style.to_excel('test.xlsx')

#### Probl

[2019-12-03 19:34] jschendel commented on #29997
Likewise there's an inconsistency with `np.nan` for `pow(pd.NA, 0)`:
[code]

[2019-12-03 19:37] mroeschke commented on #29987
It would also help us and others diagnose your issue if you could provide a minimal, reproducible example: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-12-03 20:42] Kodiologist opened #30011 "Crash when `pd.to_datetime` gets a None for certain values of `format`"
#### Code Sample

[code]

#### Problem description

When `format` is `'%Y%m%d'`, `pd.to_datetime` chokes on the `None`, rather than passing it through as `NaT` as I would expect and as occurred in a previous version of pandas (I'm not sure which). The error is raised even if `pd.to_datetime`'s `errors` argument is set to `'ignore'` or `'raise'`. The `cache` argument doesn't make a difference, eith

[2019-12-03 21:24] jschendel opened #30013 "BUG: set/dict operations fail when hash collisions with pd.NA occur"
[code]

The above behavior is due to Python using equality as a fallback when hash collisions occur and our defined behavior of `bool(pd.NA)` raising.  This might be something we have to live with if we want to maintain the current behavior of `bool(pd.NA)`, or at least an immediate workaround doesn't come to mind.

The examples above are admittedly a bit contrived, so I think it'd be fairly rare

[2019-12-03 21:32] eeshugerman opened #30015 "Series.str.replace does not support $ and ^ regex charecters"
#### Code Sample
[code]

#### Problem description
When `regex=True`, `^` should match the beginning of the string, and `$` should match the end of the string, but this is not the case.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

[code]
</details>

[2019-12-03 21:41] kvn219 commented on #29886
Working on: `pandas/core/groupby/grouper.py`

[2019-12-03 21:43] ZGrinacoff commented on #29886
Working on:  pandas/tests/groupby/test_whitelist.py

[2019-12-03 21:45] TomAugspurger commented on #30013
Hmmm, that is unfortunate. I also can't think of a workaround right now.

[2019-12-03 21:47] SaturnFromTitan opened #30017 "Default dtype of empty Series: DeprecationWarning -> FutureWarning in 1.1"
I guess we could have ``DeprecationWarning`` for a single version, then change to ``FutureWarning`` to give libraries a chance to change. I feel these are ignored as well by the downstream as they don't see them by-default (we in fact tend to ignore numpy ones :->)

@SaturnFromTitan let's change this and open an issue for the 1.1 milestone (let me create it) to change to a FutureWarning

_Original

[2019-12-03 22:19] ZGrinacoff commented on #29547
Working on: 'pandas/core/dtypes/dtypes.py'

[2019-12-03 22:34] hwalinga commented on #30005
You mean like. Whenever the parser is called with invalid syntax while using the numexpr engine (implicitly), automatically fall back to see if the python engine does work.

That could be a solution. I would still add a warning to it when it autofallbacks. It's still somewhat awkward as it will autofallback even if the syntax is really wrong, and cannot work on both engines.

[2019-12-03 22:36] #21037 closed

[2019-12-03 23:09] Liam3851 commented on #30015
I think this is a duplicate of #24804 but it's good to see a case of an attempted meaningful single-character regex in use in the wild (while `s + 'bar'` is probably more common, in theory this should work).

This is a good reminder that #24804 is still there and this anomaly needs deprecation. Unless, of course, consensus now (given another year has passed and reliance interests on the pre-0.23 b

[2019-12-03 23:22] jreback commented on #30015
yep this looks like a duplicate thanks @Liam3851

as always PRs are welcome to patch

[2019-12-03 23:22] #30015 closed

[2019-12-04 01:10] TomAugspurger commented on #27718
I think we'll pass on this, thanks.

[2019-12-04 01:10] #27718 closed

[2019-12-04 02:46] jbrockmendel opened #30030 "CI: numpy 1.18 deprecating automatic object dtype"
The npdev build is failing again, the warnings produced are of the form:

[code]

[2019-12-04 02:53] alimcmaster1 opened #30031 "CI: Flakey Test"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=22330

Below test fails when ResourceWarnings are raised

[code]

[2019-12-04 03:44] jjarthur commented on #29946
@TomAugspurger Any chance of getting this one reopened?

[2019-12-04 04:04] jreback commented on #29946
@jjarthur you have to show a self contained copy pastable example that can be run

attaching a link to repo doesn’t a any value here

[2019-12-04 04:08] jjarthur commented on #29946
@jreback Why is that? It involves running separate processes, so separate files make sense here.

[2019-12-04 04:38] souravs17031999 commented on #29886
hi @kvn219 , actually i am already working on three files one of which is what you have also mentioned , can you please work on some other file.

[2019-12-04 06:57] jorisvandenbossche commented on #29997
R also gives 1 then:

[code]

[2019-12-04 06:57] jorisvandenbossche commented on #29997
I am +1 changing those two cases

[2019-12-04 07:11] eeshugerman commented on #30015
Ah I see: when the pattern is a single character it's always treated as a literal, regardless of the `regex` parameter.

Are there plans to make to make `regex=False` the default? If so, perhaps this could be rolled into the same deprecation warning and API change documentation.

FWIW, my use case: we've built what's basically a lightweight report cleaning app, and the pattern to replace is user i

[2019-12-04 08:11] jorisvandenbossche opened #30037 "ENH: add mask-aware implementation of factorize algos"
Now we start to have mask-based dtypes/arrays (integer, boolean), we should also look into making our algos work with such masked arrays. An example for which we could explore this is `factorize` / `unique`.

Currently, BooleanArray and IntegerArray need to convert their masked array into a single numpy array using a certain "NA sentinel" that is specified so the algo can recognize this sentinel.

[2019-12-04 08:31] jorisvandenbossche opened #30038 "API: how to handle NA in conversion to numpy arrays"
In https://github.com/pandas-dev/pandas/pull/29964 and https://github.com/pandas-dev/pandas/pull/29961(using NA in IntegerArray and BooleanArray), the question comes up how to handle `pd.NA`'s in conversion to numpy arrays.

Such conversion occurs mainly in `__array__` (for `np.(as)array(..)`) and `.astype()`. For example:

[code]

Questions that come up here:

- By default, when converting to obj

[2019-12-04 08:46] jklatt commented on #26333
Hi! Any solution in sight? Also encountering the issue when wanting to assign MultiPolygons and the list work-around as well as ".values" work-around do not seem to help... Thankful for any hint!

[2019-12-04 09:00] jorisvandenbossche commented on #26716
It's still commented out, so we should either clean it up or check if it is working again (looking into that now)

[2019-12-04 09:04] jorisvandenbossche commented on #29223
@alimcmaster1 sorry, forgot to answer here. I don't have a particular one in mind (but probably we need conda-forge for a recent version, which might complicate things). Looking into this now.

[2019-12-04 09:05] hkn0509 commented on #29987
Dear @mroeschke: thank you for your interest. In my question I've included the complete code and data.

[2019-12-04 09:11] hkn0509 commented on #29987
Thank's to all, but I've found the cause of the failure: The column "failure" of the input file "failures" is categorical, and there is where "fillna(method=bfill, limit=7)" fails, due to the restriction of "limit" that can't handle categorical data.
So I close this question.

[2019-12-04 09:17] jorisvandenbossche opened #30040 "CI: the printing of skipped tests is broken"
I see this in the output on Azure:

[code]

while there definitely should be some skipped tests.
Also on Travis it is not working.

[2019-12-04 09:18] #29987 closed

[2019-12-04 09:23] jorisvandenbossche commented on #30040
@datapythonista not sure it is related, but the script was last touched in https://github.com/pandas-dev/pandas/pull/28531

[2019-12-04 09:26] hkn0509 commented on #29987
Dear Matthew:

Thank you for your clever advices. I will use them.

Fortunately, yesterday I found the cause of the problem, so I’ve closed the issue.

Yours,

Juan Carlos Neufeld

De: Matthew Roeschke<mailto:notifications@github.com>
Enviado: martes, 3 de diciembre de 2019 16:37
Para: pandas-dev/pandas<mailto:pandas@noreply.github.com>
CC: hkn0509<mailto:juan_neufeld@hotmail.com>; Mention<mailto:

[2019-12-04 09:36] jorisvandenbossche commented on #30040
Hmm, seems to have been failing before already as well. After a previous refactor of the CI scripts (https://github.com/pandas-dev/pandas/pull/28482), it was still working.

[2019-12-04 09:59] maheshbapatu commented on #30011
Output from my machine:

DatetimeIndex(['1985-02-12', '1989-06-11', 'NaT'], dtype='datetime64[ns]', freq=None)
In my case i could see **NaT** in output

[2019-12-04 11:03] ossdev07 opened #30041 "arm64 CI takes too much time to complete ."
Hi, I am trying to add support for arm64 in travis CI for Pandas. but unfortunately, all tests are taking more than 50min to complete and hence, travis shows up :
`The job exceeded the maximum time limit for jobs, and has been terminated.`

I have attached the logs here:
[travis-ci-test.txt](https://github.com/pandas-dev/pandas/files/3921219/travis-ci-test.txt)

Can anyone help me to identify the

[2019-12-04 11:31] varunpatro opened #30042 "Possible bug in indexing"
#### Code Sample

[code]

This raises the following error:

[code]
#### Problem description

The expected output should be 2 in this case. I think this has to do with the way index values are calculated. But I'm not sure.

For example:

[code]
raises the following error:

[code]

This should also be returning 2 instead of raising an error.

I understand that the preferred way of indexing in pandas

[2019-12-04 11:40] jreback commented on #30041
what is the setup time (image + conda install)
what is build time for pandas

i would start with less deps, eg look at the numpy-dev build that only installs minimal

and then go from there

[2019-12-04 11:44] TomAugspurger commented on #30038
+1 for a standard `array.to_numpy(dtype=None, na_value=None)` method. Perhaps we'll want to align this with Series.to_numpy, and make the signature `.to_numpy(dtype=None, copy=False, na_value=None)`.

I'm really uncertain about `np.asarray(arr, dtype=float)` / `array.astype(float)`. On the one hand, how annoying will it be to have `np.asarray(arr)` be essentially useless for some timespan, as proj

[2019-12-04 11:46] TomAugspurger commented on #30042
We interpret the `1` as a label for integer indexes, rather than a position. As you say, `.iloc` is an option if you need positional indexing.

If you're trying to integrate with C code, you might just convert the Series to an ndarray first. That may be easier to handle, if you aren't using the index anyway.

[2019-12-04 11:46] #30042 closed

[2019-12-04 11:50] TomAugspurger opened #30043 "CI: numpydev is failing"
[code]

from https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=22360.

So numpy has deprecated object-dtype inference. I'm not sure if something like `np.array([object(), object()])` warns now, or if it's just when the elements are sequences of difference lengths.

Anyway, this is a nice change, but will be a bit of work to get fixed.

[2019-12-04 12:00] TomAugspurger commented on #29946
Can you remove the need for flask in your reproducer? If there is a bug here, we'll need something that we can convert to a unit test, and that can't depend on flask.

See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-12-04 12:06] jreback commented on #30043
@jbrockmendel ideally could just xfail the test for now to get CI green (i saw your patch for some of these); i mean the rest

[2019-12-04 12:26] TomAugspurger commented on #30037
On master, IntegerArray uses an object-dtype ndarray, with NA as NaN. We probably need object to avoid floating-point imprecision for large integers.

[code]

I suppose we could avoid that object-dtype when there are no missing values, but that's straying from the original issue.

[2019-12-04 12:43] Terseus commented on #29740
@TomAugspurger After diving more into Pandas I now understand why the column doesn't change (TBH when I opened this issue I didn't even understood what a "dtype" is :sweat_smile: ).

I'll close this issue for now.

[2019-12-04 12:43] #29740 closed

[2019-12-04 12:47] ossdev07 commented on #30041
@jreback
setup_env.sh takes a total of 855 seconds .
Also, i can't find a minimal distribution for numpy . Can you point me to it?
Do note that miniconda3 does not currently support arm64, so i am using archiconda (which supports arm64) .

[2019-12-04 12:51] jorisvandenbossche commented on #30013
It doesn't sound like there is a workaround possible .. Hmm, I think I would classify this under "unfortunate side-effect", but we can certainly discuss the bool value to be False as well.

[2019-12-04 13:10] #26716 closed

[2019-12-04 13:10] #29223 closed

[2019-12-04 13:20] ghisvail opened #30045 "Thousands separator for to_csv"
Pandas exposes a `thousands` optional parameter to `read_csv` used to specify a custom thousands separator, so that `1,000` or `1_000` can be successfully parsed to a numeral in the resulting DataFrame.

Unfortunately, Pandas is missing the very same parameter for `to_csv`, so that a DataFrame containing `1000` ends up serialized to csv as `1,000` or `1_000`.

I understand the general issue of cus

[2019-12-04 13:21] #30040 closed

[2019-12-04 13:23] YashKarthik opened #30046 "NO TABLES FOUND IN domain searchers"
`import` `webbrowser`
`import` `urllib3`
`import` `urllib.parse`
`import` `lxml.html` `as` `lh`
`from` `bs4` `import` `BeautifulSoup`
`import` `requests`
`import` `pandas` `as pd`
`with requests.Session() as c:`
    `url=("https://viewdns.info/reversewhois/?")`
  `  reg_name = input("enter registrant name")`
    `data = urllib.parse.urlencode({'q': reg_name})`
  `  url_n = url + data`
    `html =

[2019-12-04 13:37] DrDaDe opened #30047 "Indexing fully 0-filled SparseArrays produces Nan-filled SparseArrays"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]
#### Problem description

I'd not expect the value of the Csp column to change if I take a subset of rows.  Note that it doesn't seem to matter how I choose my subset of rows. As soon as I use .loc or [(condition)], my full-zero-column turns into a full-NaN-column.

Note that the above example looks artificial, but I end

[2019-12-04 13:45] TomAugspurger commented on #30047
At a glance, this looks like https://github.com/pandas-dev/pandas/issues/27781. Closing as a duplicate, but let me know if you think it's different.

[2019-12-04 13:45] #30047 closed

[2019-12-04 13:47] TomAugspurger commented on #30046
@YashKarthik do you think this is a bug in pandas? If so, can you make a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports and fill out the issue template?

[2019-12-04 13:48] TomAugspurger commented on #30043
In theory, we can just pass `dtype=object` everywhere. Will try that quick.

[2019-12-04 13:59] gokhangerdan commented on #29824
You can use this function if you really need that:

[code]

You can use it like this:

[code]

This will result as you want it:
[code]

[2019-12-04 14:01] TomAugspurger commented on #30043
Ahh, nevermind, this is going to be somewhat tricky to get right... I think we'll need to disable the numpydev build for now.

[2019-12-04 14:10] sanderland opened #30050 "TypeError in to_datetime when passing Int64 column"
#### Code Sample

[code]
#### Problem description
When a nullable int type is used, to_datetime gives the error:

`TypeError: Argument 'values' has incorrect type (expected numpy.ndarray, got IntegerArray)`

The error is unexpected and hard to track down (reliant on pandas internal storage formats).

#### Expected Output
Converted date times or NaT when input is NaN

#### Output of ``pd.show_versi

[2019-12-04 14:15] #29708 closed

[2019-12-04 14:52] Dr-Irv commented on #30038
Great question @jorisvandenbossche .  This all relates to the semantics of `pd.NA` vs. `np.nan`, and the legacy issue of pandas using `np.nan` to mean "missing value" independent of type.

I think there are a few cases to consider:

1. Currently (pandas 0.25.x) `pd.Series.values` returns a numpy array, so that has to change, right?  That then has two suboptions:
   a. It still returns a numpy arra

[2019-12-04 15:11] blumdrew opened #30051 "read_sas floating point error (SAS version 6)"
I've found a bug in read_sas, where on certain fields, 0.0 (floats) are read in as 5.397605e-79 (lowest IBM float value).

0         5.397605e-79
1         5.397605e-79
2         5.397605e-79
3         5.397605e-79
4         5.397605e-79
              ...
423663    8.000000e+01
423664    8.000000e+01
423665    8.000000e+01
423666    8.000000e+01
423667    8.000000e+01
Name: column_1, Length: 42366

[2019-12-04 16:14] cottrell commented on #17605
A severe warning should be issued when this gets pushed in the what's new as it will cause memory blow-ups if anyone is not using the observed=True non-default on sparsely observed high-arity categoricals.

[2019-12-04 16:15] p-himik opened #30053 "`MultiIndex.get_loc` throws `KeyError` under specific circumstances"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Executing the above code results in
[code]
Note that the exception disappears if you do any of the following:
- change `sortorder` to `None`
- change the codes of level 1 to `[0, 1]`
- change the values of level 1 to `[0, 7]`
- completely remove level 2

#### Expected Output

I don't think there should be any e

[2019-12-04 16:20] ezebunandu commented on #29547
I am assuming those tasks for which PR's have been accepted are marked accordingly at the task list.

I'd like to take three of these:

- [ ] pandas/tests/arithmetic/test_datetime64.py

- [ ] pandas/tests/arrays/categorical/test_analytics.py

- [ ] pandas/tests/arrays/categorical/test_dtypes.py

[2019-12-04 17:33] jreback commented on #17605
@cottrell would welcome a memory benchmark in asv to see for sure

[2019-12-04 17:35] Dr-Irv opened #30056 "DOC: Documentation for MultiIndex.get_locs() is missing in v0.25 docs"
#### Problem description

The documentation for `MultiIndex.get_locs()` is missing in v0.25 docs (at least since v0.23?)

It is referred to here:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.get_loc.html

And it existed in v0.22:
https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.MultiIndex.get_locs.html

Mentioned in #29967

[2019-12-04 17:58] danguetta opened #30057 "Resampling on index and column after groupby give different results"
#### Code Sample, a copy-pastable example if possible

This should be copy-pastable and self-contained:
[code]
#### Problem description

Lines A and B are identical except that one does a resample on an index, and one does it on an identical column.

Lines C and D are identical except that one does a resample on an index, and one does it on an identical column.

Yet, they behave differently!

####

[2019-12-04 18:07] ethanywang commented on #29838
take

[2019-12-04 19:29] TomAugspurger commented on #30038
Series.values can return an ndarray or an extension array (e.g. Categorical). I don't think we'll want to change the behavior of that anywhere. We have `.array` and `.to_numpy()` as alternatives, and `.to_numpy()` will grow an option to control the NA value.

At the moment, aliases like `float`, or `'float'` fall back to `np.dtype(thing)` when there's no extension type for them. So `IntegerArray.a

[2019-12-04 19:31] tilign opened #30059 "setting value via iloc on a nd.datetime64[ns] column changes values on unrelated rows"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a dataframe with two rows and a datetime64[ns] column.  When I set the value for the second row using iloc (to now in the example but any datetime64 also has the same issue), the value from the first row gets changes.   This issue is affecting all versions of pandas > 0.25.0.  I confirmed that it works fi

[2019-12-04 19:58] tdpetrou opened #30063 "round method fails when columns are CategoricalIndex of IntervalIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `round` method fails whenever the columns are CategoricalIndex made from an IntervalIndex. The `pd.cut` function creates these types of value and they can appear in columns when using `pivot_table`.

#### Expected Output

Should round as normal.

#### Output of ``pd.show_versions()``

<details>

INSTALLED V

[2019-12-04 20:49] jbrockmendel commented on #30041
I'm pretty sure hes referring to this build https://github.com/pandas-dev/pandas/blob/master/ci/deps/azure-37-numpydev.yaml

[2019-12-04 21:09] TomAugspurger commented on #30056
I think adding get_locs to the list of methods in https://github.com/pandas-dev/pandas/blob/04c0870f3abb72e4d68e5e712e5eb4445eff4161/pandas/core/indexes/multi.py#L183 may fix this.

[2019-12-04 21:12] TomAugspurger commented on #30059
Is this fixed on master?

[code]

[2019-12-04 21:17] Dr-Irv commented on #30038
So, IMHO, if someone uses `Series.values` and the result is a numpy array (`ndarray`), and the series has `pd.NA` in it, I think we should raise an exception, because we shouldn't make any assumptions about how `pd.NA` is stored in a numpy array.

So if I understand you right, if you have `[WhateverType]Array.astype(float)`, we return a numpy array, then I would suggest doing the same behavior as

[2019-12-04 21:22] JvPy commented on #29886
I`ll take

pandas/core/accessor.py

pandas/core/algorithms.py

[2019-12-04 21:28] koshy1123 commented on #26333
@jklatt I was able to resolve by roundtripping a shapely geo through geopandas:
[code]
This seems to avoid the `ValueError`

[2019-12-04 21:30] jorisvandenbossche commented on #30038
All the cases we are talking about are new ExtensionArrays, and for those `Series.values` will actually always be the ExtensionArray itself. For conversion to numpy you need something as `np.(as)array(..)` or `astype`. So I don't think we need to discuss `.values`.

Yes, that is correct. But, as Tom said above, we don't have a "float newtype", so all discussions about converting to float is at thi

[2019-12-04 21:43] AlpAribal commented on #29547
I'll take:
- [ ] pandas/core/arrays/base.py
- [ ] pandas/core/arrays/datetimelike.py
- [ ] pandas/core/arrays/datetimes.py

[2019-12-04 21:50] jjarthur commented on #29946
Thanks for the link Tom. I have updated the [repo](https://github.com/jjarthur/pandas-multiprocessing) and the code snippets above to remove the Flask dependency.

[2019-12-04 22:38] tilign commented on #30059
Yeah it works fine on master.

[2019-12-04 23:02] jbrockmendel commented on #20903
Closed by #29957.

[2019-12-04 23:02] #20903 closed

[2019-12-04 23:08] jbrockmendel commented on #29326
The end of this traceback makes it look like its coming from within pytables.  I cant think of anything in the pandas hdf5 code that would behave differently based on internal vs external driv

[2019-12-04 23:31] jbrockmendel commented on #30063
Looks like `IntervalIndex.get_indexer` will need to check for EAs before calling `self._engine.get_indexer`.  It wouldn't surprise me if other EAs cause similar problems.

PR to fix would be welcome.

[2019-12-05 01:14] jschendel commented on #30013
We could maybe adjust the `__hash__` definition to work around this, or at least minimize the potential issue.

It looks like the hashes for integers are no longer idempotent starting at `2**61 - 1`:
[code]

So if we modify `__hash__` to be at least `2**61 - 1` we should have a workaround for the integer case at least.

For example, I made the following change:
[code]

Which fixes the examples iss

[2019-12-05 02:20] yanxueotft commented on #27892
looks like  0.25.3 still has the non-numeric issue...

[2019-12-05 07:00] rahlouni commented on #11493
Tried it and worked for a similar error thank you!

[2019-12-05 07:20] vishavgupta97 opened #30076 "issue is described in this link of stack overflow https://stackoverflow.com/questions/59189610/converting-a-pandas-datframe-column-to-date-type-with-a-particular-format-of-dat"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-12-05 07:21] AskariyanKarine commented on #29835
Try updating pandas or installing a different code editor. I use Visual Studio Code and this code works correctly.
[code]

[2019-12-05 08:11] jorisvandenbossche commented on #30076
If you have a specific issue or bug report, please open an issues with a proper description. But I think your question already got good answers on StackOverflow (which is the better places to ask such questions).

[2019-12-05 08:11] #30076 closed

[2019-12-05 08:14] vishavgupta97 commented on #30076
But my issue is not resolved. Developer has mentioned that there is no way to do this in python

[2019-12-05 08:14] jklatt commented on #26333
Works like a charm! Thank you Thomas :)

[2019-12-05 08:39] rusiano opened #30078 "EWM functions fail with superclasses of pd.DataFrame"
I've built a class that is a superclass of pd.DataFrame and I am trying to apply an exponential weighted mean along the columns, but I get a TypeError saying: ```TypeError: __init__() got an unexpected keyword argument 'index'```

Here is a minimal reproducible example.
[code]

The full exception goes like this:
[code]

#### Output of ``pd.show_versions()``
<details>
INSTALLED VERSIONS
-----------

[2019-12-05 09:23] AskariyanKarine commented on #30050
[code]

[2019-12-05 09:40] franz101 commented on #3729
Any update?
Getting this error especially with using groupie and transform

[2019-12-05 09:40] franz101 commented on #3729
Any update?
Getting this error especially with using groupie and transform

[2019-12-05 09:53] sanderland commented on #30050
We're aware of the workaround when there are no NaNs in the dataframe. Actually casting to float64 handles NaN->NaT as well. It just seems like an oversight that having a pandas supported Int64 datatype causes an error, particularly one exposing details of implementation.

[2019-12-05 10:33] Athul8raj commented on #30011
This error seems to be in newer versions of pandas . NaT is present in pandas version < 0.24 whereas the TypeError/ValueError comes in versions > 0.24.

[2019-12-05 11:25] jreback commented on #3729
@franz101 happy to have a PR for this
there are several attempts so lots of source material

[2019-12-05 11:26] jreback commented on #30050
@sanderland a PR to patch would be welcome

[2019-12-05 11:45] brylie commented on #14553
It might be worth adding a new parameter to the `to_sql` method, rather than using `if_exists`. The reason is `if_exists` is checking for table, not row, existence. @cvonsteg [originally proposed using `method=`](https://github.com/pandas-dev/pandas/issues/14553#issuecomment-536743090), which would reduce the ambiguity of having two meanings for `if_exists`.

[code]

[2019-12-05 11:56] brylie commented on #14553
It might be worth adding a new parameter to the `to_sql` method, rather than using `if_exists`. The reason being, `if_exists` is checking for table, not row, existence.

@cvonsteg [originally proposed using `method=`](https://github.com/pandas-dev/pandas/issues/14553#issuecomment-536743090), which would avoid the ambiguity of having two meanings for `if_exists`.

[code]

[2019-12-05 13:44] questglobal-bom commented on #25941
Any update on how to increase col_space for specific columns only?

[2019-12-05 14:21] TomAugspurger commented on #30078
You mean subclass, right? Not superclass?

Generally speaking, the methods of a subclasses should be compatible with the base class: https://en.wikipedia.org/wiki/Liskov_substitution_principle.

[2019-12-05 14:55] Behemkot commented on #29547
I'll take:

- [ ] pandas/_libs/tslibs/frequencies.pyx
- [ ] pandas/_libs/tslibs/period.pyx
- [ ] pandas/_libs/tslibs/strptime.pyx
- [ ] pandas/_libs/tslibs/timedeltas.pyx

I have problem with predefined strings. I found the solution but I'm not sure if it's the right one.
Imagine the situation where you have predefined string like:
THE_MESSAGE = "Message with arguments. Arg1: {arg1}, Arg2: {arg2}.

[2019-12-05 15:08] MomIsBestFriend commented on #29547
I completely understand, As [pep 498](https://www.python.org/dev/peps/pep-0498/#id31) explains:

We need to think of a way to remove the use of ```.format()``` and use something else a string template.

The only thing I can think of at the moment is ```string.Template``` from stdlib, but I really don't know.

@jbrockmendel Can you help us out?

[2019-12-05 15:18] YashKarthik commented on #30046
I'm pretty sure that it's not a bug in pandas cuz it worked with other websites

[2019-12-05 15:23] Behemkot commented on #29547
@MomIsBestFriend do you thing that lambda function is an overkill for this?

[2019-12-05 15:35] malthe opened #30081 "Interface mismatch between fastparquet and pyarrow for reading and writing Parquet"
#### Problem description

The `pandas.read_parquet` and `pandas.to_parquet` methods defer operation to either `pyarrow` (first priority) or `fastparquet`. The issue is that these libraries have a slightly different interface:

For reading:

- `pyarrow` accepts `IOBase` and not `bytes`
- `fastparquet` accepts `bytes` and not `IOBase`

Pandas should support one or both and do the conversion automati

[2019-12-05 15:39] YashKarthik commented on #30046
It's like pandas is not able to scan the page-"https://viewdns.info/reversewhois/?q=wikipedia"

[2019-12-05 16:35] #29270 closed

[2019-12-05 17:21] jbrockmendel commented on #29547
@MomIsBestFriend i think this may be a case where living with a few `.format`s is the way to go

[2019-12-05 18:40] kenahoo opened #30086 "Series.searchsorted with different timezones"
#### Code Sample, a copy-pastable example if possible

`DatetimeIndex.searchsorted` works fine with mixed timezones:

[code]

However, `Series.searchsorted` does not:

[code]

Ostensibly, the underlying data vector is the same in both cases:

[code]

#### Problem description

I believe the `DatetimeIndex` is correct (or at least more useful), because even if timezones don't agree, the underlying i

[2019-12-05 19:00] #17261 closed

[2019-12-05 19:17] Magicbeanbuyer opened #30087 "pandas.read_sql_table switches double quotation wrapping keys and values to single quotation in JSON columns"
#### Code Sample

[code]
#### Problem description

I used `pandas.read_sql_table()` to fetch a table, in which there is a JSON column.  In the returned dataframe, the double quotations wrapping the keys and values are all changed to single quotations.

Example of returned datafram:

|id|name|
|-|-|
|1| {'first': 'Anna', 'last': 'Smith'}|

However, JSON standards requires double quotation, on top o

[2019-12-05 20:29] ethanywang commented on #29838
take

[2019-12-05 20:37] MomIsBestFriend commented on #29547
I'm no way near an expert, please ask one of the developers.

[2019-12-05 20:53] alexjacobson95 opened #30092 "Can't use named aggregation with resample."
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
Resample, unlike groupby, has no ability to do named aggregation. This means if you use a function twice on the same column you get an error saying:

``pandas.core.base.SpecificationError: Function names must be unique, found multiple named quantile``.

It would be very useful to make the resample agg interface s

[2019-12-05 21:34] TomAugspurger commented on #30059
Thanks for confirming!

[2019-12-05 21:34] #30059 closed

[2019-12-05 22:25] EydenVillanueva commented on #29886
Hi to everyone, I will take:

- `pandas/_config/config.py`
- `pandas/conftest.py`
- `pandas/core/accessor.py`
- `pandas/core/algorithms.py`

[2019-12-05 22:26] gonghwa commented on #26761
I am not sure whether it is fixed in new release or not because I haven't use same data in pandas for long time. Try to downgrade pandas to 0.23.4. If the error persists you have to find the root cause by yourself.

[2019-12-06 00:42] leonicus commented on #29838
@ethanywang hi, you can't take the issue because it's assigned (to me :)). I had some technical difficulties last week, which stopped me from working on it, but I should submit a PR shortly. If you have a specific reason to want to take it or want to discuss, feel free to comment

[2019-12-06 01:10] #27179 closed

[2019-12-06 03:11] #30031 closed

[2019-12-06 03:11] JvPy commented on #29886
Ill take
core/indexes/numeric.py
core/frame.py

if possible.

Ill do them on saturday

[2019-12-06 03:47] ethanywang commented on #29919
take

[2019-12-06 04:18] ethanywang commented on #29838
@leonicus Hi Leonicus, sorry about taking this issue without asking you first, but we have submitted the PR and get a response from the maintainer... We saw you claimed it a week ago without doing anything, so we thought you were facing some difficulties to work on it. Actually, for now, we are doing this issue as a course project, and it is quite difficult for us to change the chosen issue as we

[2019-12-06 05:45] dov opened #30105 "Add optional column separator character to DataFrame.to_string()"
I'd like more flexibility in the stringification of a pandas dataframe. Consider a trivial dataframe:

[code]
This outputs:
[code]

My desired output is:

[code]

I suggest adding the following options to `to_string()` to support the above output:

- `output_column_separator` -- The vertical bar in the above example
- `output_row_separator` -- The hyphen in the above example
- `output_cross_separa

[2019-12-06 08:19] jreback commented on #30105
why?

[2019-12-06 08:26] dov commented on #30105
Because I often find myself copying a pandas dataframe output into an org-mode document, and there is no simple way of 1) using the float formatting preference of `DataFrame.to_string()` and 2) inserting the table delimiters. But more generally, I think that the stringified DataFrame is a matter of preference, just as a html'ified dataframe is styled according to preference.

[2019-12-06 08:49] jreback commented on #30105
see discussion and links here: https://github.com/pandas-dev/pandas/issues/11052

[2019-12-06 08:49] #30105 closed

[2019-12-06 10:31] chhanganivarun opened #30106 "df.to_excel gives TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
where output of ``df`` is:
[code]
and file ***example*** is:
[code]
#### Problem description

The to_excel function of class dataframe must write the dataframe in the specified excel file instead it returns error:
[code]

trying to open written file using ``df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')``
returns error:
[co

[2019-12-06 10:47] HansHirse opened #30107 "When applied as style in to_excel(), 'vertical-align: middle' works for OpenPyXL, but not for XlsxWriter engine"
#### Code sample, a copy-pastable example if possible

[code]
#### Problem description

When using the XlsxWriter engine, the vertical alignment is ignored, the text is aligned to the bottom. The horizontal alignment as well as the whitespace/wrapping are correctly applied.

![xlsxwriter](https://i.stack.imgur.com/IyT99.png)

#### Expected output

This doesn't occur, when the OpenPyXL is chosen, i

[2019-12-06 11:05] Mxchaeltrxn commented on #30106
Hi could I take this up as a first issue? I'm not quite sure how to assign it to myself. I didn't understand "For this reason, we implemented a workaround consisting of adding a comment with the exact text take. When you do it, a GitHub action will automatically assign you the issue" when reading the contributions page.

[2019-12-06 13:44] jayvoy commented on #25391
Nick - did you ever find a fix to write your data faster to your Azure DB?

[2019-12-06 14:12] leonicus commented on #29838
@ethanywang that's OK, just please notice that the "take" keyword doesn't really work on assigned issues (as you can see, it is still assigned to me as well). So next time just write to the issue assignee to check

[2019-12-06 15:04] claria commented on #21186
This bug still exists in v0.25.3
It must be somehow connected to the precision when the string is converted:
[code]

The first .loc gives the wrong result, while the second call returns the correct selection

[2019-12-06 15:06] jreback commented on #21186
@claria this is marked as an open issue, PRs are welcome

[2019-12-06 15:56] SaturnFromTitan commented on #23877
take

[2019-12-06 17:09] lambertsbennett commented on #29671
I'd love to take a stab at this. I'll take this issue and try to get it sorted.

[2019-12-06 17:13] datapythonista commented on #29671
Thanks @lambertsbennett. I assigned you the issue, you can do it yourself next time by writing a comment with just the word `take`. If you can't finally finish this would be great if you unassign yourself from the issue, so someone else can give a try. Thanks!

[2019-12-06 20:26] jreback opened #30114 "API: add ignore_index keyword to .sort_* & .drop_duplicates"
I see lots of code that goes like this

[code]

might be nice from an API / consistency perspective to add a ``ignore_index=False|True`` keyword to ``.sort_values()``, and ``.drop_duplicates()`` that does the reset in-line; this would give consistency similar to a ``pd.concat([......], ignore_index=True)`` operation which users are very familiar

[2019-12-06 20:35] jbrockmendel commented on #30106
This is a problem in openpyxl 3.0.2, you should be OK if you downgrade to 3.0.1

[2019-12-06 21:48] TomAugspurger commented on #29556
@jorisvandenbossche I added a TODO for implementing `NA.__array_ufunc__`. That'll fix things like `np.bool_(True) | NA`

[code]

I just hardcoded that to return NA as a test, but we'll want to do broadcasting, etc. We have to define some behavior.

Logical operations use Kleene logic. Returns `True / False / NA` for scalars, or a BooleanArray for arrays.

[code]

Arithmetic operations treat `pd.NA

[2019-12-06 22:46] TomAugspurger commented on #30092
xref https://github.com/pandas-dev/pandas/issues/28380

[2019-12-06 22:46] TomAugspurger commented on #30081
Is this something to be done in pandas? Or should the backends standardize?

[2019-12-06 22:49] TomAugspurger commented on #30045
It's formatted as `1000` right, not `1,000` or `1_000`?

This seems a bit complex, since you would end up needing to quote the number, right?

[2019-12-06 23:44] ganevgv commented on #29547
took

[x] pandas/core/accessor.py
[x] pandas/core/algorithms.py

ref #30120

[2019-12-07 00:15] ganevgv commented on #29547
took

- [x] pandas/core/arrays/sparse/accessor.py
- [x] pandas/core/arrays/sparse/array.py
- [x] pandas/core/arrays/sparse/dtype.py
- [x] pandas/core/arrays/sparse/scipy_sparse.py

ref #30121

[2019-12-07 00:27] k1monfared opened #30122 "setting precision for display sometimes shows wrong output"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The output is expected to be 10, but it shows 1.

#### Expected Output
    	0
    0	10
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine

[2019-12-07 00:38] rebeccachinn opened #30123 "SettingWithCopyWarning raised unnecessarily with .fillna() on df with multiple indices"
I'm creating a table with two levels of indices.

[code]

When I try to fill in one column's na values with values from another column, like this, a SettingWithCopyWarning is triggered.
[code]
[code]
Though the warning is triggered, the original dataframe is still being updated.

[code]

If there was indeed a value being set on a copy, then the original data should not be updated. Because the data

[2019-12-07 01:27] ganevgv commented on #29547
took

- [x] pandas/core/arrays/_ranges.py
- [x] pandas/core/arrays/integer.py
- [x] pandas/core/arrays/interval.py
- [x] pandas/core/arrays/numpy_.py
- [x] pandas/core/arrays/period.py

ref #30124

[2019-12-07 02:02] anose001 opened #30126 "df.hist(sharex=True) does not perform as expected"
#### df.hist(sharex=True) does not perform as expected

[code]
#### Problem description

```df.hist('Degree', by='Gender')```  and ```python df.hist('Degree', by='Gender', sharex=True)```  do not show the same information on their histograms. The x-axis is now shared, after performing sharex=True, but the bars in the histogram do not change, leading to erroneous data interpretation.

#### Expected

[2019-12-07 05:44] climatebrad commented on #25412
This can have severe memory consequences.

[2019-12-07 07:08] zachmoshe commented on #25412
That was exactly how I found that out...

[2019-12-07 07:28] climatebrad commented on #25412
This appears to be related to https://github.com/pandas-dev/pandas/issues/10409.

pd.concat does not have the same behavior as DataFrame.merge, which can now handle combining categorical columns with different values in two dataframes.

[2019-12-07 09:19] dmitriyshashkin commented on #29042
I've encountered a similar issue:

[code]

Expected behavior: pandas uses the first column as index and returns data frame with one column "a" and values "2, b"

Actual behavior: `ValueError: Passed header names mismatches usecols`

pandas 0.25.3
python 3.8

The error is quite confusing, especially that in the actual situation I had a long list of columns and most of them were also mentioned in us

[2019-12-07 09:33] dmitriyshashkin commented on #29042
The same problem discussed on SO: https://stackoverflow.com/questions/31017823/pandas-returns-passed-header-names-mismatches-usecols-error

[2019-12-07 11:21] maheshbapatu commented on #30011
Can someone help in the above commit. My checks are failing and i couldn't figure what are the valid errors. Its failing in linting stage and I couldn't see any stack trace

[2019-12-07 11:41] AlexKirko commented on #30050
@jreback We could just check if we are passing an **ndarray** to `tslib.array_with_unit_to_datetime` and cast `arg` to **ndarray** if so. Would that be acceptable? I don't think we can get out of introducing a type check and a possible cast unless we wish to change that `tslib` function.

`arg._values` should return an `<IntegerArray>` in this case and the variable should just fall through until i

[2019-12-07 13:49] nigeltart commented on #29886
I'm working on pandas/core/arrays/numpy_.py

[2019-12-07 14:03] chrisateen commented on #29489
I noticed that in pandas.core.series.py and pandas.core.frame.py that both the DataFrame.plot method and the Series.plot method is create dynamically. See line 8146 for the Dataframe.plot and line 4393 for the Series.plot. For example on line 8146 in the pandas.core.frame.py file we have the code

`plot = CachedAccessor("plot", pandas.plotting.PlotAccessor)`

The documentation that is needed for b

[2019-12-07 14:40] chrisateen commented on #29886
I am going to do pandas/utils/_test_decorators.py which is not on the original list but seems not to be updated

[2019-12-07 15:22] MomIsBestFriend commented on #29886
Thanks @chrisateen

[2019-12-07 15:39] ghisvail commented on #30045
Assuming a given df contains 1000, passing `thousands="_"` should serialize it to `1_000` in the output CSV file.

If the column separator is set to `;` or tabs and the thousands separator to `,` I see no needs for quoting. Imo, quoting should be required if both column and thousands separators are set to the same character.

[2019-12-07 17:14] Johndg1974 commented on #13371
can someone help me with python homework?

[2019-12-07 17:38] nigeltart commented on #29886
Sorry, it was literally my first attempt at a pull request. I'll come back when I know enough to help. Cheers

[2019-12-07 18:00] cancan101 opened #30134 "DataFrameGroupBy.shift Loses TimeZone in datetime64 columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Causes loss of timezeone meaning that you cannot subtract, etc.

Type turns to `datetime64[ns]`

This does not happen with `df.shift()`

#### Expected Output
`datetime64[ns, UTC]`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           :

[2019-12-07 18:33] alimcmaster1 commented on #30041
Before you spend too much time on this - are we still wanting to move away travis? To GitHub Actions @datapythonista

[2019-12-07 18:53] cottrell commented on #17605
@jreback is there a way of doing that though without killing the test framework? I don't think it is a test-worthy case really ... I mean simply that if you have 20k rows indexed by three cols with arity 10k x 10k x 10k, you will get a cube ravelled to 1e12 rows with the default settings. Setting observed=True gives < 20k rows.

The new default is fine, probably best folks learn to turn off the ca

[2019-12-07 19:48] datapythonista commented on #30041
I don't think github actions supports arm64. If we have arm64 users and we want to have it in the CI I guess it makes sense. Does numpy have arm64? I don't think we should have it if it doesn't, the CI of pandas is already huge and slow, and I guess we don't want to overtest with platforms not explicitly supported by the rest of the ecosystem.

[2019-12-07 19:58] jreback commented on #30041
since conda has builds for arm64 having a CI build makes sense -
we don’t have explicit support at all but would take patches

[2019-12-07 20:23] robbuckley commented on #26031
this is fixed on master, and on releases from 0.25.0.
Output:

[code]

so this can be closed @jreback @WillAyd

[2019-12-07 20:26] datapythonista commented on #30041
does it make sense to replace the architecture of one of our current builds, instead of adding a new one?

[2019-12-07 20:33] jreback commented on #30041
not until we have a working build

[2019-12-07 23:24] lambertsbennett commented on #29671
Hi, sorry to ask, but it's my first time trying something like this. I carried out the following steps:
1) Forked and cloned pandas.
2)Navigated to ci/deps/ and created an environment with Anaconda using the file travis-36-cov.yaml.
3) Activated the environment.
4) Ran python setup.py build_ext --inplace -j 4
5) Ran pip install -e .
6) Navigated to ci/
7) Set variable PATTERN="((not slow and not n

[2019-12-08 00:27] mroeschke commented on #30134
Looks like this is fixed in master. Could use a test.

[code]

[2019-12-08 03:24] Honda-a commented on #29135
@TomAugspurger Hello,
 if possible, I would like to contribute to this issue.
from what I understood in the above example and your comment, this should output normally
[code]
but this should raise value error
[code]
if you could guid me a little bit i'd appreciate.

[2019-12-08 03:32] Franklinluo17 commented on #29528
This could potentially be an issue with BeautifulSoup, as it appears that a lot of the HTML parsing is deferred to this external library.

[2019-12-08 03:45] sameshl commented on #30063
take

[2019-12-08 06:05] leonicus commented on #30126
take

[2019-12-08 08:51] abitrolly commented on #29528
@Franklinluo17 is it possible to draft a minimal call that does the conversion to ensure that this is indeed an external problem?

[2019-12-08 09:14] Athul8raj commented on #30011
Can you please give more details regarding the checks and what linter you are using.

[2019-12-08 09:25] Athul8raj commented on #30011
Have you taken a look into these
https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#python-pep8-black
This should solve your linting problem
And benchmark.log should be added using asv module
https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#running-the-performance-test-suite
Please check if these are added to your commit path

[2019-12-08 10:31] tranctan commented on #30134
Okay i am working on adding this as a test case.

[2019-12-08 12:17] robbuckley commented on #26031
i'll take a look at adding a test for this @mroeschke

[2019-12-08 15:29] jreback commented on #30123
pls re-read the documentation, by-definition you are chain indexing here when you specify ``inplace=True``.

idiomatically you should do this

``df['column_a')] = df['column_a)].fillna(df2['column_b'])``

[2019-12-08 15:29] #30123 closed

[2019-12-08 15:32] jreback commented on #17605
@cottrell you can show a simliar effect in a *much* smaller df, e.g i don't see why 10 x 10 x 10 wouldn't work

[2019-12-08 16:41] maheshbapatu commented on #30011
Thanks @Athul8raj. The links you have shared helped me in solving the linting issues.

[2019-12-08 17:32] diego898 commented on #23572
I was trying to save the results of querying datasets across several years, where column names change, etc. I ended up adding the following "hack" to get it to automatically set `convert_strl` to any column that is empty, for it to go through:

```finalDF.to_stata('myfile.dta', version=117, convert_strl = finalDF.columns[finalDF.isnull().all()].tolist())```

I'm sure this isn't "safe", but it migh

[2019-12-08 17:35] #29997 closed

[2019-12-08 17:39] #27820 closed

[2019-12-08 17:58] #29857 closed

[2019-12-08 18:00] SaturnFromTitan commented on #28277
Fyi: A FutureWarning was added and `Series.str.__iter__` will be removed in a few versions. Until then, the issue remains open though, so we don't close it.

[2019-12-08 18:01] #28426 closed

[2019-12-08 18:21] jreback commented on #28277
@SaturnFromTitan this can still be addressed independently right?

[2019-12-08 18:49] jxmorris12 commented on #16695
This is closed, but still an issue for me in pandas `0.22.0`.

[2019-12-08 18:54] datapythonista commented on #29671
The first thing I'd recommend is to make sure you use Miniconda (not Anaconda) and that you never install any dependency in the base environment, that's the cause of many errors, and if misleading error messages. And often errors related to pytest.

But I think in this particular case not sure if the problem may be the path where you're calling the script from. I think it should be from the root o

[2019-12-08 19:04] jreback commented on #16695
@kjford you would have to open a new issue with a reproducible example on latest version

[2019-12-08 20:00] bashtage commented on #23572
Safer would be

[code]
so that you don't try to write all missing value numeric columns.

[2019-12-08 20:37] diego898 commented on #23572
Great point thanks @bashtage! Do you think it might be worth adding an option to `to_stata` so that something like this happens automatically?

[2019-12-08 21:04] jbman223 commented on #29975
take

[2019-12-08 22:08] bolkedebruin opened #30148 "NoneType error during json_normalize due to schema change"
#### Code sample
[code]
#### Problem description

Normalizing a json with an absent field at a certain point in time due to a schema change(s) results in a NoneType error

#### Expected Output

Continue normalization

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 37b4b33075ed66721147027028d41b8faacd68a2
python           : 3.7.5.final.0
p

[2019-12-08 23:21] anose001 commented on #30126
Leoncius, how can I get involved in fixing this issue in the codebase?

[2019-12-09 01:22] Ricyteach commented on #23230
I agree this is very unintuitive behavior and it caused me some difficulty this weekend. Here is my SO question to give context:

https://stackoverflow.com/questions/59240658/integer-format-specification-d-produces-valueerror-when-applied-row-by-row-to/59240771

I suggest it would be helpful to add some specific discussion about this behavior to the `DataFrame.apply()` docs page, since that is the

[2019-12-09 03:09] victorlin commented on #10100
The introduction of [named aggregation](https://pandas-docs.github.io/pandas-docs-travis/user_guide/groupby.html#named-aggregation) in 0.25.0 seems to solve this issue.

[2019-12-09 03:32] lambertsbennett commented on #29671
Ok thanks for the pointers, I'll keep on it!

[2019-12-09 03:53] leonicus commented on #30126
@anose001 I'm not sure I get your question....I'm working on it, you can feel free to ask questions/suggestions, etc...

[2019-12-09 04:11] kjford commented on #16695
(@jreback I think you meant that comment for @jxmorris12)

Like @jreback mentioned, @jxmorris12 can you provide a reproducible example in a new ticket?  The example provided in the issue body is fixed in the latest release and I just checked `0.22.0` as well.  On #16701 I commented that there are other API consistency issues that were not addressed by the fix and would require quite a bit more add

[2019-12-09 04:28] anose001 commented on #30126
No that is fine. I looked through the code base but wasn't sure where the bug was lying at so I got curious if you knew where to look at in particular.

[2019-12-09 05:28] kjford commented on #27684
I'm guessing you're using `snowflake-sqlalchemy`.  It looks like this method is being called when doing the metadata reflection that runs when you check the existence of a table.
 See https://github.com/snowflakedb/snowflake-sqlalchemy/blob/master/snowdialect.py#L320 that is called by https://github.com/snowflakedb/snowflake-sqlalchemy/blob/master/snowdialect.py#L401.  You may want to read into th

[2019-12-09 05:59] kjford commented on #15988
I believe this is being addressed in #29636 with the `upsert_ignore` argument, which addresses #14553.

[2019-12-09 06:11] mroeschke commented on #23722
Since `box` was deprecated and removed. This is no longer an issue. Closing

[2019-12-09 06:11] #23722 closed

[2019-12-09 06:20] jeremy-rutman opened #30152 "No mechanism for indicating missing value in na_values param of read_csv"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
The na_values parameter of read_csv doesn't have a way for users to indicate a missing field.
Thus if one wants to keep reading missing fields (ie two delimiters in a row) as NaN but use na_values for the rest, there doesn't seem to be any way to do this.

#### Expected Output
Some mechanism for indicating a miss

[2019-12-09 06:45] kjford commented on #29138
Possible solution:
[code]
I disagree with changing the default behavior of creating a table since calling `to_sql` is (most?) commonly called with the intent of creating a table.

The current logic handles the various options for `if_exists` or creates the table if none exists, then inserts data.  Currently, the only option that doesn't (attempt to) insert data is `fail` which raises a `ValueError

[2019-12-09 07:36] jschendel commented on #30152
Does including the empty string `''` in `na_values` achieve what you want?

[2019-12-09 07:40] leonicus commented on #30126
@anose001 oh, sorry for misunderstanding...I'll update when I'm sure where's the issue :)

[2019-12-09 09:10] #27203 closed

[2019-12-09 09:14] charlesdong1991 commented on #30092
take

[2019-12-09 09:20] charlesdong1991 commented on #30114
take

[2019-12-09 09:41] #29838 closed

[2019-12-09 10:11] cottrell commented on #17605
I don't think we are talking about the same thing.

A reasonable test to block this default change would have been any test that fails due to explosion of dimensions when observed=False.

The test would need to run and try to produce an array too large to compute. If the test was runnable with observed=False, then it would have been an invalid test.

As the new default is in, there is nothing to b

[2019-12-09 10:59] jitendrs opened #30154 "Issue on Pandas installation on Alpine:3.10 docker container"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Version specification in use.
Pandas:- 0.25.3
Numpy :- 1.17.4
matplotlib:- 3.1.2
Cython:- 0.29.14
Docker Alpine:- 3.10
OS:- MacOs catalina 10.15.1

Hey Folks,
I am having problem with installation of pandas library on alpine docker container.
As error provided in code section, during docker build it  failing ove

[2019-12-09 11:28] azelk commented on #22100
The bug is still there. Please fix.

[2019-12-09 11:58] jeremy-rutman commented on #30152
No (I could just use the default values in that case) - an example would be data like:
[code]
where the  'missing value' (line 3 1st column) is treated the same as the empty string (line 4 first column)

[2019-12-09 12:01] jreback commented on #22100
hence the open status of this issue

@azelk you are welcome to volunteer a patch

[2019-12-09 12:48] TomAugspurger commented on #29135
Your examples look correct to me.

[2019-12-09 13:12] ossdev07 commented on #30041
@jreback are you reffering to archiconda (arm64 alternative for miniconda)?
https://github.com/Archiconda/build-tools/releases

[2019-12-09 13:47] sanderland commented on #30050
@jreback I looked into it and got to similar questions as @AlexKirko : not sure what is proper here, casting to float64 ndarray definitely loses precision if ns are to be supported, casting to ndarray int64 breaks on null values, and going into tslib is hard and potentially inconsistent.

[2019-12-09 14:17] TomAugspurger commented on #30154
Do you have the necessary compilers? PyPI doesn't have a manylinux tag for alpine, so we can't upload wheels for it.

[2019-12-09 14:29] darbelley opened #30159 "Json Normalize failed"
#### Code Sample, a copy-pastable example if possible

{
		"data": [
			{
				"attributes": {
					....
					}
				}
		],
		"included": [
			{
				"attributes": {
			}
		]
	},
	{
		"data": [
			{
				"attributes": {
					....
					}
				}
		],
		"included": [
			{
				"attributes": {
			}
		]
	},
	....
	.......
	..........
	{
		"data": [
			{
				"attributes": {
					....
					}
				}
		]
	}

Orde

[2019-12-09 14:36] darbelley commented on #30159
I add that I tried also with another approach -->

Trying another way i created this(I am a newbeb also about python...):

1.Open file

with open("C:/Users/cdarbelley/Desktop/Jupyter_Phyton/my_list.json") as f:
    contents = f.read()
    count = contents.count("included")

2. For loop - extract only included section and append them within a list

my_list_only_include=[]
array=[0]
for d in array:

[2019-12-09 14:42] bgehman commented on #30154
Seeing a similar problem installing pandas on alpine 10, here's a reproducing one-liner:
[code]
Results in: `ModuleNotFoundError: No module named 'Cython'`

Seems that pandas dependencies are broken.

If you install Cython first:
[code]

It errors out that Numpy isn't around... `ModuleNotFoundError: No module named 'numpy'`...

[2019-12-09 14:50] TomAugspurger commented on #30154
What version of `pip`, can can you try installing from GitHub?

On master, we have a pyproject.toml, which will get the build-dependencies (NumPy, Cython) before building pandas.

[2019-12-09 14:52] bgehman commented on #30154
[code]

FWIW: this all used to work a few days ago.

[2019-12-09 15:50] matejpavlovic-maistra opened #30160 "ffill with groupby removes index on version >= 0.25.0"
[code]
#### Problem description
Forward fill with groupby doesn't leave keys in the index (or at all).

mock data:

  A | B | C
 -- | -- | --
1 | 2 | 2.0
1 | 2 | NaN
1 | 2 | NaN
3 | 4 | 4.0
3 | 4 | NaN
3 | 0 | NaN

#### Output
index | C
 -- | --
0 | 2.0
1 | 2.0
2 | 2.0
3 | 4.0
4 | 4.0
5 | NaN

#### Expected Output (for pandas version 0.24.2)

index | A | B | C
-- | -- | -- | --
0 | 1 | 2 | 2.0
1 |

[2019-12-09 16:06] TomAugspurger commented on #30154
Perhaps something changed on the NumPy side of things then? Pandas hasn't had a release recently, and the traceback indicates the exception is in getting NumPy's resources.

[code]

[2019-12-09 16:50] jitendrs commented on #30154
@TomAugspurger Pip version 19.3.1

[2019-12-09 17:10] WillAyd commented on #30160
Thanks for the report but this is by design. See https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#dataframe-groupby-ffill-bfill-no-longer-return-group-labels for more info

[2019-12-09 17:10] #30160 closed

[2019-12-09 18:09] mroeschke commented on #30159
Could you post a self-contained, copy-pastable example that we could use as a regression test? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-12-09 18:59] anatoly-khomenko opened #30163 "pandas.read_pickle can take buffer object as well, not only str"
https://github.com/pandas-dev/pandas/blob/62a87bf4a2af02a8d3bc271ad26e5994292b8e6a/pandas/io/pickle.py#L95

read_pickle does not accept google storage URL (in form "gs://bucket-name/path/file.pkl") as input

While this code works fine:
`
with tf.io.gfile.GFile("gs://bucket-name/path/file.pkl", "rb") as infile:
      df = pd.read_pickle(infile, compression=None)
`

Might be reasonable to amend the

[2019-12-09 19:21] david-cortes opened #30164 "Request: show datetime percentiles in 'describe' method"
Would be nice if `pandas.Series.describe` would show percentiles of `datetime` dtypes in the same way it does for other numeric types:
[code]
[code]
[code]

Compare to R:
[code]
[code]

[2019-12-09 19:31] matejpavlovic-maistra commented on #30160
What is alternative for ffill inside groupby that returns group labels.

[2019-12-09 20:45] therblack opened #30167 "Resampled.ffill leaves NA"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Resample.ffill leaves an NA.

The output of the above has an NA on 2003-04-16 whereas I'd expect it all to be 1.0

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-12-09 20:51] JvPy opened #30168 "pytest on test_html.py failing"
When running pytest -v pandas/tests/io/test_html.py the following test fails:

pandas/tests/io/test_html.py::TestReadHtml::test_thousands_macau_index_col[bs4] FAILED [ 26%]

When I push the file, it passes all verifications on the pipeline.

[2019-12-09 21:00] TomAugspurger commented on #30167
That's intended and documented in https://dev.pandas.io/docs/reference/api/pandas.core.resample.Resampler.fillna.html#pandas.core.resample.Resampler.fillna. Only values introduced by upsampling are filled. To fill missing values in the original, call fillna before or after resampling.

[2019-12-09 21:00] #30167 closed

[2019-12-09 21:02] TomAugspurger commented on #30168
What does it fail with? An ImportError?

Most likely needs an importorskip on html5lib and / or beautiful soup.

[2019-12-09 21:11] JvPy commented on #30168
Ill check for that! Thanks!

[2019-12-09 21:29] TomAugspurger opened #30170 "Dev meeting Wednesday, December 11th"
* Hangout:  https://meet.google.com/hav-rmax-zjx
* Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&usp=docs_home&ths=true

Feel free to add agenda items.

[2019-12-09 22:15] jbrockmendel commented on #29058
@MomIsBestFriend the cleanup PRs you're making are great, but I'd encourage you to look at more issues as you get more experienced.  A few issues that you might think about working on are this #29058, #28507, #27829, #23929, #24115, #22218, #27613.

[2019-12-09 22:53] WillAyd commented on #30163
Makes sense - should be in line with other IO functions I think

[2019-12-09 23:15] jbrockmendel commented on #30148
Can you post of a small example json_struct that reproduces the problem

[2019-12-09 23:15] jreback commented on #30163
this is very easy to patch to actually read from uri

[2019-12-10 00:04] RS574 opened #30172 "groupby .sum() includes non-pertinent combinations of grouping criteria in result with a 'NaN' value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When using pandas version 0.25.3, **_grouped['col5'].sum()_**  in the code above generates a result that has every possible combination of the grouping criteria, and shows 'NaN' for non-significant combinations (see screenshot of the results below). This behavior was not observed when **_.count()_** was used in

[2019-12-10 00:05] JvPy commented on #30168
The test fails here:

pandas/tests/io/test_html.py:389: dfs = self.read_html(macau_data, index_col=0, header=0)

 AttributeError: 'NoneType' object has no attribute 'items' on formatter.py, line62.

Can you help me fix this issue?

[2019-12-10 00:40] jschendel opened #30173 "BUG: Series(range(...)) fails when range contains values not supported by int64"
#### Code Sample, a copy-pastable example if possible

The following fails on `master`:

[code]

But is successful when doing an intermediate conversion to `list`:
[code]
#### Problem description

`Series(range(...))` fails when values in the `range` are not supported by `int64`, but construction is successful for an equivalent `list`.

#### Expected Output

I'd expect `In [2]`/`In [3]` to be succ

[2019-12-10 02:24] #30046 closed

[2019-12-10 02:24] YashKarthik commented on #30046
I figured this out, it was cuz of my location
.

[2019-12-10 04:29] voycey commented on #25229
@mrocklin ORC has different use cases than Parquet, especially with its powerful predicate push down, block level indexes and bloom filters.
Many people are using it with Presto due to the huge amount of work they invested in streamlining ORC.
Also in our tests ORC massively outperformed parquet for our use case (20%+ speed increases).

We are absolutely committed to ORC as a format simply due to

[2019-12-10 04:50] lithomas1 commented on #29547
I'll take
- [ ] pandas/io/formats/css.py
- [ ] pandas/io/formats/excel.py

[2019-12-10 05:00] jschendel commented on #30063
A more direct example of this is failing due to `IntervalIndex.get_indexer` not supporting categoricals:
[code]
Need some special handling in `get_indexer` for this since categoricals can contain valid values of varying types, i.e. only intervals, only points, mixed intervals and points.

Yes, `get_indexer` fails similarly for homogeneous `Period` targets but should be fine for other EAs: there's

[2019-12-10 05:04] jschendel opened #30178 "BUG: IntervalIndex.get_indexer fails for homogeneous Period targets"
#### Code Sample, a copy-pastable example if possible
[code]

Note that heterogeneous targets containing `Period` objects are okay, as they get coerced to `object` dtype:
[code]
xref https://github.com/pandas-dev/pandas/issues/30063#issuecomment-563808294
#### Problem description
Homogeneous `Period` targets incorrectly raise a `TypeError` for `IntervalIndex.get_indexer`.

#### Expected Output
I'd

[2019-12-10 05:26] burkbre commented on #29711
I looked into this as well. I agree with @prakhar987. It seems to be stemming from the fact that BlockManager is grouping together the 2 datetime values in the DataFrame thus making it so the second datetime value is formatted like the first(leading to the trailing zeroes). If you want to format all datetimes the same in the csv you can simply make use of the date_format attribute which the CsvFor

[2019-12-10 05:41] leonicus commented on #30126
@anose001 It seems this isn't an issue with Pandas, it's a known issue with the underlying matplotlib for categorical data. See for example https://github.com/mwaskom/seaborn/issues/1306. However, I'm keeping it to see if I can implement a warning or workaround that is acceptable

[2019-12-10 07:19] AlexKirko commented on #30050
@sanderland @jreback  Yes, it seems like a simple problem, but the solutions I've been able to come up with all have their drawbacks. I'm leaning toward casting to float64, but, as @sanderland points out, that breaks when an argument is sufficiently large:
[code]
This can potentially come up, because `to_datetime` supports nanoseconds, and 2^44 in nanoseconds is less than 5 hours. The chances of g

[2019-12-10 08:09] MomIsBestFriend commented on #29058
Thank you so much! @jbrockmendel

[2019-12-10 09:11] topper-123 commented on #30173
This is indeed a bit of an edge case.

Could #30171 be accepted and this issue be expanded to cover dataframes also? This issue and the problem after #30171 is merged are exactly the same, as in both cases pandas does a simple ``np.arange(..., dtype="int64")`` in order to convert a range to an array, where (to match the list behaviour), it needs to be a bit more sofisticated.

Probably there shoul

[2019-12-10 09:17] bolkedebruin commented on #30148
Imagine if I have 3 records:

[code]

I cannot use json_normalize now with record_path=['info'] as the field for the second record is None. That's perfectly valid for this field, but not acceptable to pandas. Its a real world case btw.

if the key is not there it should raise a KeyError not a TypeError I think (I can change the test to verify for that).

[2019-12-10 09:47] jorisvandenbossche commented on #29884
I reported the timedelta sorting to numpy, see https://github.com/numpy/numpy/issues/15063, I think the plan is to fix this as well for numpy 1.8

I would propose we follow this change for Index.

[2019-12-10 11:01] jitendrs commented on #30154
Closing since issue is with alpine libraries.  @TomAugspurger @bgehman  Thanks mate, Appreciate your help.

[2019-12-10 11:01] #30154 closed

[2019-12-10 11:04] MomIsBestFriend commented on #30168
Same here, But the failing tests passed once I installed an older version of ```beautifulsoup4```, for example ```4.7.1```.

[2019-12-10 11:46] darbelley commented on #30159
`[
	{
		"data": [
			{
				"id": "37640"
			}
		],
		"included": [
			{
				"id": "37641"
				},
			{
				"id": "37642"
			}
		]
	},
	{
		"data": [
			{
				"id": "37401"
			}
		]
	}
]`

[2019-12-10 12:00] darbelley commented on #30159
Do you know how can I extract the "included" part ?
I dont have any problem with the "data" part that is always within the json but sometime the data has no relation with include...

[2019-12-10 13:05] bgehman commented on #30154
@jitendrs Is it working for you?  I'm still seeing the broken dependencies when installing pandas as mentioned at https://github.com/pandas-dev/pandas/issues/30154#issuecomment-563269458 .  If you have a solution, mind sharing it?

[2019-12-10 13:27] #28930 closed

[2019-12-10 13:51] jitendrs commented on #30154
@bgehman Try to install below library manually,

RUN apk add
               lapack-dev \
               libgcc \
               libquadmath \
               musl \
               libgfortran

[2019-12-10 14:30] bgehman commented on #30154
@jitendrs My one-liner, after adding your list of libraries:
[code]

Still results in `ModuleNotFoundError: No module named 'Cython'`.

@TomAugspurger let me know if you want me to create a new issue.  The dependency problem still remains.

[2019-12-10 14:33] jitendrs commented on #30154
Oops, sorry forgot to give you add on,
 python3 -m pip install cython numpy scipy
make sure you follow the sequence.

[2019-12-10 14:37] TomAugspurger commented on #30154
Try installing pandas master `pip3 install git+
https://github.com/pandas-dev/pandas`. If there are still issues on master,
we can reopen.

For 0.25 and earlier you have to have your build env sorted out before
installing pandas if you're building from source.

On Tue, Dec 10, 2019 at 8:33 AM jitendrs <notifications@github.com> wrote:

[2019-12-10 14:43] bgehman commented on #30154
@jitendrs I see that you have:
[code]
if the dependencies were working, you should only have to install `pandas` (and not explicitly install pandas dependencies: `cython`, `numpy`, etc).

[2019-12-10 15:52] claria commented on #21186
The issue seems to be that at [1], the string is parsed to a Timedelta and the resolution is 'wrongly' assumed to be hourly. And that resolution is then used in the further indexing:
[code]

´return lbound + to_offset(parsed.resolution_string) - Timedelta(1, "ns")´

Should a Timedelta parsed from a string always have the in the string specified precision ('01:00:00' --> second instead of hour) or

[2019-12-10 16:20] Guptacos commented on #29919
After doing some digging, it seems the problem lies in the fact that when aggregating along axis=0, the result is returned as DataFrame._constructor(data=results). This introduces a bug when the function is "list" or "tuple", because the aggregated results get unpacked by the dataframe constructor. This is why it appears to return the same dataframe as the input. (See pandas/core/apply.py: FrameRo

[2019-12-10 16:39] bgehman commented on #30154
@TomAugspurger installing from master works:
[code]

What I can gleam that does not work:
* installing `pandas` from pypi by itself.  It seems that `pip` does figure out that `numpy` is a dependency, but the **numpy** install fails on: `ModuleNotFoundError: No module named 'Cython'`
* install `cython` first, and then try to install `pandas`:  cython installs fine, and then the **pandas** install f

[2019-12-10 16:48] TomAugspurger commented on #30154
Just to clarify, this is fixed on pandas master because we use a pyproject.toml. Pandas 1.0 (should be released in January) will have this, and you'll be able to `pip install pandas` from PyPI and it'll handle the build dependency stuff.

[2019-12-10 16:52] EydenVillanueva commented on #29886
These files were already finished with the replacement (it would be good if they appear checked in the list).

So I will take the following files to work with:

- `pandas/tests/indexes/datetimes/test_partial_slicing.py` (not on the list, but not updated)
- `pandas/core/nanops.py`
- `pandas/core/missing.py`
- `pandas/core/indexes/period.py` (not on the list, but not updated)

[2019-12-10 17:03] rdmtinez commented on #28620
After I opened this issue, I had to go back and reinstall my environment to include updates. I'm fairly certain there were some dependency issues, but I just didn't have the time to hunt the bug. I'm closing this issue as I don't think its due to pandas.

[2019-12-10 17:03] #28620 closed

[2019-12-10 18:06] chhanganivarun commented on #30106
Hey @jbrockmendel sorry for delayed reply
My take on this is that shouldn't numpy be compatible with the newer library versions instead of asking users to use older version of a library?

[2019-12-10 19:05] Liam3851 commented on #23854
It looks like this is the same issue as #9712 and #13068, though I think the treatment here is simpler. Our firm just stumbled on this due to the python 2 EOL. Should note that the behavior with buffers worked as expected under Python 2 so I don't believe "buffers are not an accepted use case" is really correct.

[2019-12-10 19:09] jbrockmendel commented on #30106
As a general rule, yes, but in this case there is a bug specific to openpyxl 3.0.2, see https://github.com/pandas-dev/pandas/pull/29862

[2019-12-10 19:19] gfyoung commented on #23854
If it's not documented, then we are not necessarily holden to support it.

Technicality aside, that does not mean I don't believe we should support it.  This would be a good thing to support, and it is still open to contributions!

[2019-12-10 19:32] mrameen opened #30185 "mongo db query interval error timegrouper"
df1 = pd.DataFrame(list(collection.find()))
print(df1)
df = df1.set_index('datetime').groupby([pd.TimeGrouper('6M'),'actual'])

----------------------------------------------------------------------------------------------------
                          _id junc_id        topic group_traffic  group_traffic_value  ...  actual         route car_count      timestamp            datetime
0    5def4bb5

[2019-12-10 19:32] mrameen commented on #30185
Traceback (most recent call last):
  File "mongo_dash.py", line 38, in <module>
    df = df1.set_index('datetime').groupby([pd.TimeGrouper('6M'),'actual'])
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/__init__.py", line 214, in __getattr__
    raise AttributeError("module 'pandas' has no attribute '{}'".format(name))
AttributeError: module 'pandas' h

[2019-12-10 20:09] jbrockmendel commented on #24957
@shoyer we're about to remove the `box=False` option for `to_timedelta` in #30177, will this break things for xarray?

[2019-12-10 20:21] TomAugspurger commented on #30185
TimeGrouper was removed in 0.25: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html?highlight=timegrouper#removal-of-prior-version-deprecations-changes. `pd.Grouper` should work.

[2019-12-10 20:21] #30185 closed

[2019-12-10 21:03] FlorianDietz opened #30187 "Feature request: a simple aggregator function for error checking"
I wrote a simple custom aggregator function that I have found repeatedly useful for error checking in data analysis.

This function does nothing you can't already do without it, but it's a simple way to add a sanity check to a common usecase.

The function is an aggregator function that raises an Exception if its input Series contains more than one unique value, and otherwise returns that value.

[2019-12-10 21:13] TomAugspurger opened #30188 "Maybe buggy IntegerArray floordivision by 0"
From @jschendel in https://github.com/pandas-dev/pandas/pull/30183#issuecomment-564255221

[code]

Those should probably all be NA, to match the ndarray behavior.

[2019-12-10 21:20] ieaves opened #30189 "No mechanism to enforce schema in to_parquet"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When writing parquet files using pandas there is no mechanism to enforce schema on the output file for the pyarrow engine; without this ability users are forced to fall back on pyarrows inferred schema which isn't always correct. This poses particular challenges when writing multiple files in sequence where par

[2019-12-10 21:56] jbrockmendel commented on #30188
This is a case where the Series behavior is different from the ndarray behavior.  Unless there's a compelling reason to match ndarray, I'd prefer to match Series (and DataFrame and Int64Index)

[2019-12-10 22:18] robbuckley commented on #26031
this was fixed by PR https://github.com/pandas-dev/pandas/pull/27303. This issue is really a duplicate of https://github.com/pandas-dev/pandas/issues/22717

testing added there seems enough https://github.com/pandas-dev/pandas/blob/76b8ecda9efa6b003750df19eb9d2e5b5731de55/pandas/tests/series/indexing/test_indexing.py#L734

[2019-12-10 22:20] mroeschke commented on #26031
Thanks for digging in @robbuckley! Will close.

[2019-12-10 22:20] #26031 closed

[2019-12-10 23:01] smcinerney commented on #29203
1. Conceptually it prevents confusion to think in terms of **'by-row'**/`axis=0` or **'by-column'**/`axis=1`

- e.g. to get column sums, we actually need to sum by-row
- cf. the R functions [`colSums`/`rowSums`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/colSums.html), which uses 'by-row'/'by-column' terminology more consistently

1. Further confusing is that the doc for `DataFrame.su

[2019-12-10 23:25] devin-petersohn commented on #29980
Closing as no action to be taken.

[2019-12-10 23:25] #29980 closed

[2019-12-10 23:29] smcinerney opened #30191 "DOC: when accessed from inside a column-wise `df.apply(..., axis=1)`, row.index refers to df.columns, and row.name refers to df.index value"
DOC BUG: clarification for the function/lambda called inside [apply()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html?highlight=apply#pandas.DataFrame.apply)
When accessed from inside a column-wise `df.apply(lambda row:..., axis=1)`, things get counterintuitive:

- **row** is now a (horizontal) Series...
- **row.index** is now the column names from df.column

[2019-12-10 23:56] smcinerney opened #30192 "DOC: undocumented head(n), tail(n) accept negative values. But not on GroupBy"
DOC: undocumented behavior that works: **`head(n)`, `tail(n)`accept negative values** both for DataFrame, Series. But not for [`GroupBy.head(n)`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.head.html#pandas.core.groupby.GroupBy.head) ; doesn't correctly handle negative values.

This is quite useful and could be documented.
- `head(-n)` returns all rows(/e

[2019-12-10 23:59] jbrockmendel commented on #24518
definitely go for it.

[2019-12-11 00:06] jbrockmendel commented on #16830
@TomAugspurger is this closed by #30113 and #16955?

[2019-12-11 00:07] jbrockmendel commented on #16516
is_string_like has been removed, since it is now just an alias for `isinstance(obj, str)`.  closing.  if there is something else to address here ping and we can re-open.

[2019-12-11 00:07] #16516 closed

[2019-12-11 00:09] jbrockmendel commented on #14555
Is this actionable?  Closeable?

[2019-12-11 00:10] jbrockmendel commented on #15331
Any clarity on this?

[2019-12-11 00:13] smcinerney commented on #30192
Subsequently found out this might be a duplicate of [#9214](https://github.com/pandas-dev/pandas/issues/9214), except its title and body don't make clear that it's suggesting the  undocumented behavior is useful and should be documented.

[2019-12-11 00:15] smcinerney commented on #9214
Unaware that this one from 2015 existed, I independently just filed [#30192](https://github.com/pandas-dev/pandas/issues/30192). Its title and body make clear that it's suggesting the undocumented behavior is useful and should be documented.

[2019-12-11 00:46] tumzera opened #30198 "Pandas Doesn't work"
Installed pandas to pyton3.8 and i get this:

**>>> import pandas
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/toxess/.local/lib/python3.8/site-packages/pandas/__init__.py", line 55, in <module>
    from pandas.core.api import (
  File "/home/toxess/.local/lib/python3.8/site-packages/pandas/core/api.py", line 24, in <module>
    from pandas.core.groupby im

[2019-12-11 01:41] 0xF4D3C0D3 commented on #30198
did you try [this](https://stackoverflow.com/a/12806325/7899226) or `sudo apt-get install liblzma-dev`?

and yes it seems to be needed to recompile your python after this. I think this is not a problem of
pandas itself, rather it's a general problem with python dependencies.

[2019-12-11 05:59] groutr commented on #28814
The block of code that seems to be responsible is: https://github.com/pandas-dev/pandas/blob/ad0539ba39ff24b301b817bad7ab0a6c0f40f651/pandas/_libs/lib.pyx#L1262-L1263

That code was introduced in this PR: https://github.com/pandas-dev/pandas/pull/23422

A profiling of master with test case above:
[code]
The call to `isnaobj` to mask out the nan values turns out to be expensive.

[2019-12-11 06:34] mroeschke commented on #30198
@0xF4D3C0D3 has the right idea. See https://stackoverflow.com/a/22346519/12145780

[2019-12-11 06:34] #30198 closed

[2019-12-11 06:36] mroeschke commented on #30164
Sure that sounds reasonable. PR's welcome!

[2019-12-11 07:55] jorisvandenbossche commented on #14555
The `core.common` deprecations have already been removed before. And there has been no further discussion (or requests) to make `array_equivalent` public, so closing.

[2019-12-11 07:55] #14555 closed

[2019-12-11 08:00] jorisvandenbossche commented on #15331
Since it's only about a possible future deprecation (not a deprecation that can be enforced in 1.0), there is not need to have this in 1.0 (we can deprecate things in any 1.x afterwards) and so I moved this off the 1.0 milestone.

[2019-12-11 08:04] AlexKirko commented on #30188
@jbrockmendel  Wouldn't matching it to Series be less intuitive for the users? They'd have a numpy array of integers and a pandas array of integers, and those would behave differently. In my opinion, that is less expected than IntegerArray and Series behaving differently (these are very different classes).
On the other hand, matching to Series promotes consistent processing of array-like objects i

[2019-12-11 08:09] jorisvandenbossche commented on #16830
Yes, the `argmax` method and `np.argmax` now work positionally.

[2019-12-11 08:09] #16830 closed

[2019-12-11 08:11] #25229 closed

[2019-12-11 08:51] ieipi commented on #25821
@sparo-jack , is there any conclusion here?

[2019-12-11 08:54] jorisvandenbossche commented on #30189
@ieaves Thanks for the clear report!

That seems a good idea to me. The changes in pyarrow 0.15 to more correctly follow the specified `schema` were exactly for the purpose to have better control over the final schema, so we should try to expose this in pandas' `to_parquet` as well.
Dask did something similar, they also pass through the `schema` argument now (https://github.com/dask/dask/pull/5150

[2019-12-11 09:22] jorisvandenbossche commented on #30188
The numpy behaviour is actually different *for integers*:

[code]

Not fully sure what the rationale of that difference is, though

[2019-12-11 09:26] Raalsky commented on #28311
Is there anyone in active development or could I try?

[2019-12-11 09:44] mhooreman opened #30203 "dataframe to_excel issue with openpyxl > 3.0.1"
Hello,

When exporting a data frame to excel on a python setup using openpyxl 3.0.2, we have the error `TypeError: got invalid input value of type <class 'xml.etree.ElementTree.Element'>, expected string or Element`.

Rolling back to 3.0.1 solves the issue.

Thanks

#### Code Sample

With openpyxl 3.0.2

[code]
With openpyxl 3.0.1

[code]
#### Output of ``pd.show_versions()``

<details>

[code]

<

[2019-12-11 10:24] AlexKirko commented on #30188
@jorisvandenbossche, thanks. The behavior of IntegerArray turns out to be the same as np.array:
[code]
To me, this looks like a numpy bug.

[2019-12-11 10:30] jorisvandenbossche commented on #30188
The reasoning might be: floor division of an integer array returns a new integer array. So for that reason, the result cannot hold NaN, and 0 was taken instead.

[2019-12-11 10:59] mrameen commented on #30185
Ok thanks

[2019-12-11 11:13] mrameen opened #30204 "A"

[2019-12-11 11:21] #30134 closed

[2019-12-11 11:28] mrameen opened #30205 "HOW TO SET PIVOT TABLE VALUE ACCORDING TO DATA BEFORE OR AFTER"
Help me please gaisss...
i have data every minute..

[code]

[2019-12-11 11:29] #30204 closed

[2019-12-11 11:43] batterseapower opened #30206 "BUG: Series.astype does not change categorical dtype if categories match up to permutation"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This should return `Index(['B', 'A'])` but actually it returns `Index(['A', 'B'])`. This is bad because if I use `astype` to give a Series a particular dtype I expect the result to have the dtype I asked for!

Both of these examples work as expected, so this bug only seems to happen if the new dtype has catego

[2019-12-11 11:51] jitendrs commented on #30154
@TomAugspurger Cheers..!!

[2019-12-11 11:57] batterseapower commented on #30206
This bug might have something to do with this:

`pd.CategoricalDtype(categories=['A', 'B']) == pd.CategoricalDtype(categories=['B', 'A']) `

This behavior doesn't seem very sensible to me?

[2019-12-11 12:01] jreback commented on #30206
categorical are unordered by default
you can specify ordered=True if you want to have specific otherwise categories are lexsortes

[2019-12-11 12:01] #30206 closed

[2019-12-11 12:08] ThibTrip opened #30207 "pd.read_sql timestamptz converted to object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Output

[code]

#### Problem description

There are 2 problems here:

1. pandas reads 2 columns of the test DataFrame I save in posgres as "object" and not "datetime64[ns, UTC]" although in postgres the data types are all "timestamp with time zone"

2. when I attempt to append the postgres table to itself via pandas (pd.DataFrame.r

[2019-12-11 12:16] nlepleux opened #30208 "Groupby crash on a single level"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

Not crashing I think?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Linux
OS-release: 2.6.32-642.6.2.el6.x86_64
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

p

[2019-12-11 12:59] #30063 closed

[2019-12-11 13:18] #17569 closed

[2019-12-11 13:28] simonjayhawkins commented on #28944
msgpack is deprecated #30112

[2019-12-11 13:28] #28944 closed

[2019-12-11 13:28] simonjayhawkins commented on #25837
msgpack is deprecated #30112

[2019-12-11 13:28] #25837 closed

[2019-12-11 13:28] simonjayhawkins commented on #25148
msgpack is deprecated #30112

[2019-12-11 13:28] #25148 closed

[2019-12-11 13:29] simonjayhawkins commented on #16647
msgpack is deprecated #30112

[2019-12-11 13:29] #16647 closed

[2019-12-11 13:29] simonjayhawkins commented on #15841
msgpack is deprecated #30112

[2019-12-11 13:29] #15841 closed

[2019-12-11 13:29] simonjayhawkins commented on #12905
msgpack is deprecated #30112

[2019-12-11 13:29] #12905 closed

[2019-12-11 13:30] simonjayhawkins commented on #12500
msgpack is deprecated #30112

[2019-12-11 13:30] #12500 closed

[2019-12-11 13:31] simonjayhawkins commented on #9103
msgpack is deprecated #30112

[2019-12-11 13:31] #9103 closed

[2019-12-11 13:45] batterseapower commented on #30206
Thanks for the fast response & the information.

I find this behavior extremely surprising, but OK. I do think the [docs](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.api.types.CategoricalDtype.html) could be improved: that page doesn't really explain in any great depth what `ordered` is meant to do.

If anyone else finds this issue, the workaround is to replace your uses of

[2019-12-11 14:13] simonjayhawkins commented on #26549
yes. seeing this error on Python 3 on master.

[2019-12-11 14:52] TomAugspurger commented on #30188
Hmm so do we have a decision on the expected value? It's not clear to me what's best here.

[2019-12-11 15:08] ieaves commented on #30189
@jorisvandenbossche of course! I'll get a PR out in the next few days.

[2019-12-11 16:16] TomAugspurger commented on #30208
In

[code]

we should likely be checking the axis requested by the user, not just `obj.index`. It'd be `obj.columns` in this case.

Not sure if that will fix it entirely, but that's a start. @nlepleux are you interested in looking into this?

[2019-12-11 16:18] TomAugspurger commented on #30205
Hi @mrameen. We recommend stackoverflow for usage questions. This is for bug reports.

[2019-12-11 16:18] #30205 closed

[2019-12-11 16:18] TomAugspurger commented on #30203
Is this likely an issue pandas or with openpyxl?

[2019-12-11 16:20] TomAugspurger commented on #9214
Closing in favor of #30192

[2019-12-11 16:20] #9214 closed

[2019-12-11 16:21] TomAugspurger commented on #30192
Happy to have this documented. Are you interested in working on it?

[2019-12-11 16:36] nlepleux commented on #30208
Sure, I'd be happy to help

[2019-12-11 16:37] Hvass-Labs opened #30211 "Renaming DataFrame and Series is inconsistent when inplace=True"
#### Problem description

There is an inconsistency between **inplace** renaming of DataFrame and Series. `DataFrame.rename()` returns `None` when `inplace=True`, while `Series.rename()` returns the same object when `inplace=True`. I think they should both return the `self` object.

#### Code Sample

    d = {'col1': [1, 2], 'col2': [3, 4]}
    df = pd.DataFrame(data=d)

    d = [123, 456, 789]

[2019-12-11 16:47] rushabh-v commented on #29771
Should I go with changing the parameter "names" to "columns" in pandas.read_csv?

[2019-12-11 16:48] mhooreman commented on #30203
Thanks @TomAugspurger
It’s a very good question, which I was not able to reply to. Sorry

[2019-12-11 16:56] mrameen opened #30212 "Mongo error sort"
using this
https://www.quackit.com/mongodb/tutorial/mongodb_sort_query_results.cfm
But got error. column phase is exist

[code]
Traceback (most recent call last):
  File "table2.py", line 37, in <module>
    collection.find( ).sort( { phase: 1 } )
NameError: name 'phase' is not defined

[2019-12-11 17:06] jbrockmendel commented on #30188
It's also different yet again if the zero you're dividing by is float instead of integer.

A lot of effort went in to making the Series implementation of truediv/floordiv by zero not have these surprises, and the tests (tests.arithmetic.test_numeric) are fairly thorough.

Could we do something like wrap the ops.array_ops function and then re-mask?  Maybe even add IntegerArray to the parametrizatio

[2019-12-11 17:09] #27398 closed

[2019-12-11 17:09] #27829 closed

[2019-12-11 17:13] jbrockmendel commented on #29771
@WillAyd any ides on this?

[2019-12-11 17:15] jbrockmendel commented on #30188
also seems like the options.treat_inf_as_na would be relevant

[2019-12-11 17:21] jbrockmendel commented on #30148
@bolkedebruin thank you for providing an example, but i need you to go a little bit further and make it into something i can copy/paste to reproduce the problem (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

cc @WillAyd

[2019-12-11 17:22] WillAyd commented on #29771
Hmm I think reasonable. @datapythonista maybe has thoughts

[2019-12-11 17:38] jreback commented on #30211
there there is an issue about this already - pls
have a look

- inplace opperations should return None
- we are planning on depreciating inplace operations at some point

[2019-12-11 17:38] jbrockmendel commented on #30212
Is this a pandas issue or a mongodb issue?

[2019-12-11 17:40] jbrockmendel commented on #30203
This is an openpyxl issue, xref https://github.com/pandas-dev/pandas/pull/29862

[2019-12-11 17:41] jreback commented on #30206
if u r interested in improving the docs would take a PR

your workaround is very odd

[2019-12-11 18:01] bolkedebruin commented on #30148
@jbrockmendel please see the PR. I've written a test for it.

[2019-12-11 18:03] TomAugspurger commented on #30170
@pandas-dev/pandas-core 1 sec. Having hangout issues

[2019-12-11 18:04] TomAugspurger commented on #30170
@pandas-dev/pandas-core try this https://zoom.us/j/329983864

[2019-12-11 18:37] TomAugspurger commented on #24468
Agreed with https://github.com/pandas-dev/pandas/issues/24468#issuecomment-450406181 that this is too large of a change for us at this point. What do you think @itko?

[2019-12-11 18:47] anose001 commented on #30126
@leonicus Ah, I see, thank you very much for the update! I appreciate it.

[2019-12-11 18:56] jbrockmendel commented on #30148
excellent, thank you

[2019-12-11 18:56] WillAyd commented on #30203
Looks like that was fixed on openpyxl master yesterday - @mhooreman any chance you can install that version of openpyxl and see if it fixes the issue?

[2019-12-11 18:59] jbrockmendel commented on #23573
@bashtage is this actionable?

[2019-12-11 19:03] jbrockmendel commented on #27285
we now no longer allow passing `unit="M"` but we do allow `pd.Timedelta("6M")` to mean 6 minutes.  Do we want to disallow it there too?

[2019-12-11 19:14] #30170 closed

[2019-12-11 19:18] jorisvandenbossche commented on #30188
Yes, but then you are again doing a float floor division, not an integer one.
I suppose that numpy is going for type stability here, and decided on those return types:

[code]

And if the result is int, then you are limited in what the value can be.

I never use this, but I *think* this is about interpretation of inf as NA in functions that detect NA (isna, fillna, etc), not about creation of inf

[2019-12-11 19:44] katieyounglove commented on #29547
I'll take:

- [  ] pandas/core/config_init.py
- [  ] pandas/core/construction.py
- [  ] pandas/core/dtypes/base.py

thanks!

[2019-12-11 19:50] bashtage commented on #23573
Yes. Someone could write a format 118 or 119 writer that supports unicode.

[2019-12-11 19:51] bashtage commented on #23573
The spec is available. Non-trivial since need utf8 encode but we use numpy arrays internally which have utf32 blobs

[2019-12-11 19:55] Travis-Barton commented on #12265
I know I'm pretty late to the party, but I use the OFFSET module in my SQL quarries wrapped inside of a for loop to gather the data in chunks.

[2019-12-11 20:11] jbrockmendel commented on #30188
I think you're right about how we use that option.  What im thinking of is:

[code]

Suppose we agree that IntegerArray should behave like Series.  Then the IntegerArray op gets back `np.array([-inf, NaN, inf])` and has to decide how to case the result.  If we decide (possibly via an option) to treat inf as NA, then we could return an all-NA IntegerArray result instead of a float array.

[2019-12-11 20:31] jorisvandenbossche commented on #30188
So what is the rationale of the current Series behaviour for floor division by 0? When returning a float result, why not follow numpy's behaviour for floats of returning all NaN ?

[2019-12-11 20:35] jbrockmendel commented on #30188
My recollection of the reasoning is that the semantic meaning of division/floordiv isn't impacted by the dtypes of numerator or denominator, so the results shouldn't be either.

[2019-12-11 20:37] jorisvandenbossche commented on #30188
That explains why we have the same behaviour for ints and floats in Series, but no necessarily why we chose a different behaviour for floats compared to numpy?

[code]

[2019-12-11 20:38] jbrockmendel commented on #26552
Is there any value in getting this (and the other excel-related deprecations) done for 1.0?  If we're not enforcing the deprecations until 2.0, im tempted to just ignore all DEPR issues until [2 releases before 2.0]

[2019-12-11 20:41] WillAyd commented on #26552
Probably worth getting #29375 in before 1.0

[2019-12-11 20:47] WillAyd opened #30217 "CI Error AttributeError: 'ExcelFile' object has no attribute 'engine'"
Showing up in

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=22986&view=logs

[code]

Looks to be caused by changes in #30096 - I think need to make it `self.reader.engine`. But definitely shows this code getting hit

@jbrockmendel

[2019-12-11 20:48] jbrockmendel commented on #30188
I think it was about saying that floordiv should be "close" to truediv.  I like to think of it as limiting behavior, but not sure if that was part of the discussion at the time.

[2019-12-11 20:51] jbrockmendel commented on #30217
yah, ive been seeing that locally ocassionally.  last time i looked at it i concluded that `self.engine` is correct, and best guess is that since this is happening inside `__del__`, something weird is going on with `__dict__` getting cleared out.  Hopefully I'm wrong on this and changing `self.engine` -> `self.reader.engine` fixes it.

[2019-12-11 20:53] jorisvandenbossche commented on #30188
Here is some relevant discussion about returning NaN vs Inf from float floordiv: https://github.com/numpy/numpy/issues/7709. So it seems most people involved in that issue agree Inf would be more logical, but nobody got ever to actually making the change.

[2019-12-11 20:53] jbrockmendel commented on #18141
@pganssle is there still upcominig reorganization we need to watch out for here, or can this be closed?

[2019-12-11 20:54] WillAyd commented on #30217
Hmm actually that's a good point. I misread that `engine` was never an attribute of the ExcelFile but that's not true

[2019-12-11 21:03] #28392 closed

[2019-12-11 21:05] amueller opened #30218 "Feature request: Protocol for converting something to a pandas DataFrame"
This is inspired by the discussion in https://github.com/scikit-learn/enhancement_proposals/pull/25.

NumPy defines an ``__array__`` protocol that allows developers to implement classes that can be converted to an array by calling ``np.asarray()`` . That makes it easy to have a common interface between libraries and it's heavily used by pandas and sklearn.

It would be great to have a similar prot

[2019-12-11 21:07] #22137 closed

[2019-12-11 21:25] quantophred commented on #28937
This is happening for me now with the main PDF doc links at https://pandas.pydata.org/, e.g. https://pandas.pydata.org/pandas-docs/version/0.25/pandas.pdf

Output from `wget https://pandas.pydata.org/pandas-docs/version/0.25/pandas.pdf`:
[code]

[2019-12-11 21:31] katieyounglove commented on #29547
I'll take

- [ ] pandas/core/config_init.py
- [ ] pandas/core/construction.py
- [ ] pandas/core/dtypes/base.py
- [ ] pandas/core/dtypes/cast.py

thanks!

[2019-12-11 21:34] quantophred commented on #28937
Here's output from `curl -v https://pandas.pydata.org/pandas-docs/version/0.25/pandas.pdf` in case it helps. (I think this is an nginx configuration issue, but I do not know how computers work.)

[code]

[2019-12-11 21:53] WillAyd commented on #30212
Right these aren't pandas modules - I assume a mongo issue

[2019-12-11 21:53] #26823 closed

[2019-12-11 21:53] #30212 closed

[2019-12-11 22:27] jbrockmendel commented on #27025
This no longer produces a warning since the default is now keep_tz=True

[2019-12-11 23:12] itko commented on #24468
I tend to agree with @JeroenDelcour. Not only have I seen multiple users get confused by the appearance of unnamed columns, I myself often forget to set the index arguments.

It seems to me we should be prioritizing usability and intuitiveness. Can't we schedule this for release and add a FutureWarning?

[2019-12-11 23:13] jbrockmendel commented on #23672
getOffset is gone, closing

[2019-12-11 23:13] #23672 closed

[2019-12-11 23:16] davidweisscode commented on #28219
When you're getting above warning and building Python from source, make sure to
- Include required packages. Here, install the lzma module `sudo apt-get install liblzma-dev`
- Rebuild from source directory `configure && make` and `sudo make install`

These steps removed the warning for my Python 3.7.3.
See also [this Stack Overflow question](https://stackoverflow.com/questions/57743230/userwarning

[2019-12-11 23:17] jbrockmendel commented on #4205
This isn't exposed in tseries.api or anywhere, does it actually need to be deprecated?  could privatize?

[2019-12-11 23:17] alimcmaster1 commented on #28937
@quantophred - thanks for this info! super helpful!

[2019-12-12 00:23] jbrockmendel commented on #5586
@mroeschke what would we be testing?  the `df.resample("M", np.product)` usage from the OP is no longer supported

[2019-12-12 00:30] jbrockmendel commented on #5764
@jorisvandenbossche the behavior on master for the `get_group` looks right to me now, but the cumsum looks sketchy.  can you confirm?

[2019-12-12 00:36] lithomas1 commented on #29886
I'm taking
- [ ] pandas/io/formats/excel.py
- [ ] pandas/io/formats/css.py
- [ ] pandas/io/formats/style.py

[2019-12-12 00:46] mroeschke commented on #5586
`df.resample('M').apply(np.product)` produces the correct result IIRC.

[2019-12-12 00:52] stevenanton-bc commented on #16048
For posterity, I ended up doing something like `json.loads(df.to_json())` to coerce the numpy data types to internal types (e.g. `np.int64` to `int`).

[2019-12-12 01:36] jbrockmendel commented on #29233
@gfyoung to get the non-prefixed filename, would we need to reverse the encoding done in #24758?  that is now done in a .c file that i dont want to futz with

[2019-12-12 01:58] jbrockmendel commented on #28293
@jumpingfella we'd like to help, but need you to provide some more information.  can you take a look at the link Tom posted

[2019-12-12 02:09] jbrockmendel commented on #9045
@aullrich2013 Closing this as stale, but if you can post an example we can copy/paste (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) we can reopen and take a look at it.

[2019-12-12 02:09] #9045 closed

[2019-12-12 04:30] gfyoung commented on #29233
That would a be logical first step to investigate.

[2019-12-12 04:30] gfyoung commented on #29233
Fat fingers, my bad.

[2019-12-12 05:44] datapythonista commented on #29771
I'm always confused myself about those parameters, so this sounds good in general. But this will break a lot of code, even more if the one we change is the `read_csv` one.

I don't have a strong opinion, but I probably wouldn't make this change at this point, and wait until some bigger refactoring happens. Or after 1.0, so there is time for users to address the deprecation warning somehow knowing

[2019-12-12 06:19] regstrtn commented on #29771
Agree with the code breaking part. This will break a lot of code.
I am not familiar with the design guidelines in pandas, but could we support both parameters - `name ` and `columns` in `pd.read_csv`?

[2019-12-12 07:15] AlexKirko commented on #30050
@sanderland @jreback Came up with a way to fix the issue with slightly more overhead but without loss of precision. We'll have to remove the NaNs, cast to int32/int64, and then add NaT back in. I'll make the PR today.
This will happen only when the Series is an IntegerArray, so the overhead for other dtypes will be only one additional type check. For IntegerArrays some additional work will be done

[2019-12-12 07:25] AlexKirko commented on #30188
@jorisvandenbossche @jbrockmendel After reading everything, I think we should mimic Series. It shouldn't matter whether a user does `1 // 0`, `1 / 0`, `1. // 0`, or `1. / 0`, because mathematically it's all the same thing. If this introduces inconsistencies with numpy, that's not good, but it's better than inconsistencies with math and logic.

[2019-12-12 07:26] jlamborn324 commented on #29547
I'll take:

pandas/tests/plotting/test_converter.py

 pandas/tests/plotting/test_datetimelike.py

 pandas/tests/plotting/test_series.py

[2019-12-12 07:57] datapythonista commented on #29771
It makes sense to me to rename the `names` in `read_csv` to `columns`, keep `names` as an alias, and may be in the future start to raise a deprecation warning.

@pandas-dev/pandas-core what do you think?

[2019-12-12 08:06] gfyoung commented on #29771
If we're planning to do this later down the road, IMO the better question is: can we improve upon these names?  `columns` and `names` both don't fully convey the semantic of "column names".

I would actually propose that we rename across the board to something like `colnames`.

[2019-12-12 08:28] jorisvandenbossche commented on #29771
There are some semantic differences between `names` in read_csv and `columns` in DataFrame / to_csv, though.

The `names` keyword in `read_csv` is only about giving names to the columns you read. While in DataFrame, it is also used to select columns (if your data already has names), and in `to_csv` it is only used to select columns, not to specify the names to use in the csv file. While in `read_c

[2019-12-12 08:31] datapythonista commented on #29771
+1. `col_names` or `column_names` would probably be my first preference, but in any case, sounds good.

[2019-12-12 08:33] batterseapower commented on #30206
I'm not sure why you say my workaround is odd. Let me try to explain a bit more clearly why I was expecting this behaviour. Basically, what I expect is that this property will be true for any `Series`, `s` and `Index`, `cats`:

`s.astype(pd.CategoricalDtype(categories=cats)).cat.categories.equals(cats)`

In Pandas as it stands today, this invariant does hold almost all the time, except in the spec

[2019-12-12 08:34] jorisvandenbossche commented on #29771
When starting fresh, I would also vote for `column_names` I think. But for me the question is then: if it doesn't make it consistent with the other keyword names in DataFrame and to_csv (which was the original reason to start this discussion), is it worth renaming `names` to `column_names` ?

(in itself I find `column_names` certainly clearer than `names`)

[2019-12-12 08:40] gfyoung commented on #29771
@jorisvandenbossche : You bring up a good point regarding the difference in how this column (names) parameter is used across those three functions.  It does seem that part of the confusion stemmed from having the same variable name used for two of the functions.

I would also be open then to renaming all of the parameters so that we convey they're about column names, but how they're used is slight

[2019-12-12 08:41] Hvass-Labs commented on #30211
Thanks for the quick reply! I did actually search for open/closed GitHub issues on this topic but couldn't find any. If I search for the text you suggest: inplace opperations should return None, I only get this GitHub issue here.

I don't understand why you want to deprecate inplace operations? Could you redirect to a GitHub issue where you are discussing the pro's and con's of this? It seems incr

[2019-12-12 08:42] jorisvandenbossche commented on #27025
But the other example (querying on the index) now started to raise:

[code]

passing an aware string works:

[code]

But for normal index comparison, a naive string is interpreted in the local timezone of the index:

[2019-12-12 09:10] Khris777 opened #30224 "Feature Request: Convenience method to rename a column"
Usually when renaming a column you have to write:

[code]

It would be nice to have a convenience method to rename one column like this:

[code]

[2019-12-12 09:15] tsungruihon commented on #23424
Hey, I got the same errors but could not find `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` on `macOS Catalina Version 10.15.2 with Xcode 11.2.1`

[2019-12-12 09:36] mhooreman commented on #30203
@WillAyd, installed pip's pandas and openpyxl from https://bitbucket.org/openpyxl/openpyxl/branch/3.0 on a dedicated venv.
Openpyxl was indeed in version 3.0.2.
**It works.** Thanks a lot.

[2019-12-12 09:36] #30203 closed

[2019-12-12 11:41] MarcoGorelli commented on #11052
Is this all the method would have to do? If so, I'd be happy to work on a PR

[2019-12-12 11:47] jreback commented on #11052
i think we would likely accept a PR for something like the above

[2019-12-12 11:55] #30056 closed

[2019-12-12 11:56] maratbakiev2 commented on #10001
Hi guys, I've also run into this issue. One workaround for this (given that the name of columns that you don't want to convert or their column positions are fixed) is that you can provide dictionary of names/column numbers as keys and desired type as value. So, if you set "str" as a value, columns in dataframe will have "object" type and won't get parsed.
`pd.read_excel(**you_kwargs, dtype={"col_n

[2019-12-12 11:58] maratbakiev2 commented on #10001
@a59 @ffranchina

[2019-12-12 11:59] TomAugspurger commented on #30224
Thanks for the feature request. IMO this isn't useful enough to warrant its own method.

[2019-12-12 12:25] jorisvandenbossche opened #30228 "DEPR: log of deprecations in 1.x (to be removed in 2.0)"
Similar issue as https://github.com/pandas-dev/pandas/issues/6581, but starting a fresh one for keeping a log of the deprecations we do in the 1.x releases.

## 1.0.0

- [x] #27929 numeric_only to Categorical.min/max
- [x] #29457 is_extension_type
- [x] #29731 remove `keep_tz` kwarg from `DatetimeIndex.to_series`
- [x] #28621 Index.set_value (presumably also IndexEngine.set_value)
- [x] #29812 Rem

[2019-12-12 12:27] jorisvandenbossche commented on #6581
I moved the deprecations we are doing in 1.0 to a new issue: https://github.com/pandas-dev/pandas/issues/30228 (so a similar issue as this to keep a log of deprecations, but starting a fresh one for 1.x)

[2019-12-12 13:00] simonjayhawkins commented on #8856
changed title to reflect this and that .ix is deprecated.

[2019-12-12 13:01] simonjayhawkins commented on #8856
could add a test to confirm the .iloc behavior.

[2019-12-12 13:10] #29742 closed

[2019-12-12 13:24] #29686 closed

[2019-12-12 13:51] yandreiy commented on #19422
see reproducible example below:

[code]

Adding the `loffset` changed the timestamp but the A B columns values were left unchanged.

[2019-12-12 14:14] simonjayhawkins commented on #5672
@jorisvandenbossche could this be closed?

Is this discussion superseded by the new BooleanArray and it's default behaviors or is this orthogonal and we could still consider changing the existing behavior of the str methods so that they always return a boolean array and not object when np.NaN is present?

[2019-12-12 14:40] simonjayhawkins commented on #1192
closing due to inactivity.

[2019-12-12 14:40] #1192 closed

[2019-12-12 14:47] simonjayhawkins commented on #11955
Some code standards and style guidlines are included in the contributing guide, https://dev.pandas.io/docs/development/contributing.html. Please feel free to open a new issue with any suggestions for improvement.

[2019-12-12 14:47] #11955 closed

[2019-12-12 14:53] #30011 closed

[2019-12-12 15:30] simonjayhawkins opened #30232 "Move 'For Developers' content from wiki to contributing docs."
Content from the 'For Developers' content section of the wiki should be included in the pandas documentation where relevant.

- [ ] Code Style and Conventions
- [ ] Testing #20501
- [ ] Documenting new features and bug fixes
- [ ] Using Git
- [ ] Choosing Exceptions to Raise
- [ ] Tips & Tricks for pandas dev
- [ ] A quick overview of pandas.util
- [ ] Git Workflows
- [ ] Pandas Development FAQ
-

[2019-12-12 15:33] oldrichsmejkal commented on #6772
Should be resolved by: https://github.com/pandas-dev/pandas/pull/28297

[2019-12-12 15:43] torfsen commented on #29135
This might be obvious, but hasn't been explicitly mentioned: right now the error also occurs if there are duplicate columns in `self`.

[2019-12-12 16:13] TomAugspurger opened #30235 "CI: Doc build failing"
[code]

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=23019

[2019-12-12 16:16] TomAugspurger commented on #30235
Ah, https://github.com/pandas-dev/pandas/pull/30234 is fixing this.

[2019-12-12 16:23] TomAugspurger opened #30236 "CI: 32-bit build failing."
We're failing to compile the C extension on linux 32. See e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=23011

[2019-12-12 16:30] MarcoGorelli opened #30238 "Appending to DataFrame removes the timezone-awareness"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This returns:
[code]
However, I was expecting
[code]
which indeed is what happens if I instead write
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               : Linux
OS-release

[2019-12-12 16:32] jadecacho commented on #15893
Use this in importing scatter_matrix

    from pandas.plotting import scatter_matrix

[2019-12-12 16:38] TomAugspurger commented on #30236
#30214 is the first one I see with this failure (though it may be unrelated?) cc @WillAyd.

[2019-12-12 16:42] TomAugspurger commented on #30236
The actual error is further up

[code]

[2019-12-12 16:42] WillAyd commented on #30236
Ah thanks for finding that - never saw that in the logs. Good to know

[2019-12-12 16:47] JvPy commented on #30168
downgrading `beautifulsoup4 ` worked for me as well

[2019-12-12 17:06] TomAugspurger commented on #29556
@jorisvandenbossche one of the items is

That's not quite right for StringArray right? Those won't implement logical ops? I think I may have added StringArray, when I meant to edit the list for comparison ops.

[2019-12-12 17:06] WillAyd commented on #30236
I *think* this might be a race condition since any of the libraries that require the C sources end up recompiling the C sources each time. Probably need a few more edits to setup.py to compile the C sources once then simply link as required, but will investigate more

[2019-12-12 17:39] #30235 closed

[2019-12-12 18:03] mroeschke commented on #30238
Thanks for the report. Can reproduce on master. Investigations and PRs welcome!

[2019-12-12 18:34] jbrockmendel commented on #30236
is the docbuild failure just a coincidence?

[2019-12-12 18:38] jbrockmendel commented on #21718
Closing since py2 is no longer supported.  Feel free to ping if the issue recurs in py3.

[2019-12-12 18:38] #21718 closed

[2019-12-12 18:56] MarcoGorelli commented on #30238
OK, I'll have a go at this on Saturday!

[2019-12-12 19:16] simonjayhawkins commented on #30168
duplicate of #29622 and #28125

[2019-12-12 19:16] #30168 closed

[2019-12-12 21:05] #5798 closed

[2019-12-12 21:05] #6795 closed

[2019-12-12 21:05] #9752 closed

[2019-12-12 21:05] #11220 closed

[2019-12-12 21:05] #13000 closed

[2019-12-12 21:05] #15286 closed

[2019-12-12 21:05] #17198 closed

[2019-12-12 21:12] jbrockmendel commented on #22208
did this ever make it into the cookbook?  closeable?

[2019-12-12 21:18] jbrockmendel commented on #25174
Is this closed by #29786?

[2019-12-12 21:20] jbrockmendel commented on #27570
I'm not seeing warnings produced for the first call but now the second.  Is the behavior you expect?

[2019-12-12 22:46] jbrockmendel commented on #30228
For this one, let's use the checkboxes instead of cut/pasting to a separate issue when they are removed.

[2019-12-12 23:11] jbrockmendel commented on #26446
@WillAyd im not clear on what the issue is here:

[code]

Is the issue that you shouldn't have to pass the encoding on the read_csv?

[2019-12-12 23:13] kishore0401 commented on #9157
Is there a way to return an empty dataframe with by-passing the error message

[2019-12-12 23:19] WillAyd commented on #26446
The issue is that a comma is placed after the BOM

[2019-12-12 23:35] jbrockmendel commented on #26446
I'm not understanding why that's a problem.  If you do `to_csv` without an encoding you end up writing `b',0\n0,foo\n'`, which has a leading comma too

[2019-12-13 01:10] akdor1154 commented on #27781
Pretty sure my dataset is showing this. Seems to apply to some columns but not all.
[strange_test.pickle.gz](https://github.com/pandas-dev/pandas/files/3958496/strange_test.pickle.gz)

If anyone wants a large real-world set to test this on:
[code]

[2019-12-13 05:37] Honda-a commented on #29135
Yes you have a point. I'm new to this whole process so I wanted to be sure. Also I was expecting a little more guidance so I asked explicitly after all  "Explicit is better than implicit"

[2019-12-13 06:25] jorisvandenbossche commented on #29556
Yes, but I think it is also not correct for Integer, as integer logical ops return integers (which is also the case for Series):

[code]

(logical ops are not yet implemented for IntegerArray, but that's a separate issue)

Maybe we were confused with *comparison* ops for a moment, but I think the full line can be removed.

No, not yet

[2019-12-13 06:31] scottgigante commented on #27781
@akdor1154 can you try this monkey patch and see if it solves your issue?

[code]

[2019-12-13 07:18] jorisvandenbossche commented on #30228
Yes, +1, that's also what I wanted to propose

[2019-12-13 07:45] jorisvandenbossche commented on #30217
I think the code in the `__del__` function can be wrapped in a try / except to hide those errors. When python is cleaning up, you are not exactly sure about the order, so certain variables that are accessed in the `__del__` method can already be deleted before the parent object is (see warning box at https://docs.python.org/3/reference/datamodel.html#object.__del__)

[2019-12-13 09:14] jbrockmendel commented on #25379
how common is this format in the wild?

[2019-12-13 09:43] nlepleux opened #30253 "Groupby agg works with pd.Series.nunique, but groupby nunique fails with axis=1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The groupby nunique crashes with error "ValueError: all keys need to be the same shape", whereas the groupby agg with pd.Series.nunique does not crash

#### Expected Output

pd.DataFrame({
    'A': [1, 2],
    'D': [1, 1]
}, index=pd.bdate_range('20191212', '20191213'))

#### Output of ``pd.show_versions()``

<

[2019-12-13 10:07] Ilin85 opened #30254 "How to import data from web with no tables with python"
Hi
I want to import and save data from the following page into a list variable in python.

"http://www.fipiran.com/Symbol/HistoryPrice?symbolpara=%D8%A8%D8%AA%D8%B1%D8%A7%D9%86%D8%B3"

Unfortunately, data did not store into a table in this page. Please note that table data in middle of page is required.
Can any one help me to save this data?
Regards

[2019-12-13 10:23] jreback commented on #30254
this list is for bug reports
try on Stack Overflow

[2019-12-13 10:23] #30254 closed

[2019-12-13 10:24] jreback commented on #30253
this is. very old version of pandas pls try on latest and on master

[2019-12-13 10:39] nlepleux commented on #30253
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/nlepleux/git/pandas-nlepleux/pandas/core/groupby/generic.py", line 942, in aggregate
    result = self._aggregate_frame(func)
  File "/home/nlepleux/git/pandas-nlepleux/pandas/core/groupby/generic.py", line 1123, in _aggregate_frame
    fres = func(data, *args, **kwargs)
  File "/home/nlepleux/git/pandas-nlepleu

[2019-12-13 11:04] danielshaps opened #30256 "Copying values by columns from Series to DataFrame results in NaNs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The result of the second-last line in the code above (`df1` filled with `NaN`s) is surprising.

#### Expected Output

The last line works as I would have expected, i.e. it copies `[2.0, 2.0, 2.0]` into `df1`. If the first line is somehow under-specified perhaps an exception is preferable to `NaN` values in `df1

[2019-12-13 11:07] jreback commented on #30256
.loc works by alignment (the indexes of hr dataframe and the target, eg what you are assigning) and your data frames are not aligned at all, hence the nans

assigning just values (last example); does not align

you are also using a pretty old version (not relevant for this question)

[2019-12-13 11:07] #30256 closed

[2019-12-13 14:21] #29233 closed

[2019-12-13 17:06] #30208 closed

[2019-12-13 17:31] #30217 closed

[2019-12-13 17:46] TomAugspurger commented on #28778
On indexing, propagating NAs presents some challenging dtype casting issues. For example, what is the dtype on the output of

[code]

Would that be an Int64 dtype, with the last value being NA? Would we cast to float64 and use `np.nan`? object-dtype?

And what if the original series was float dtype? A float-dtype with NaN is about the only option we have right now, since we lack a float64 array th

[2019-12-13 18:03] StevenLi-DS opened #30261 "loop over dataframes to select rows didn't work"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I tried to loop over two dataframes but the selecting operation didn't work and I checked `df_1` and `df_2`, and rows with 'Sun' are still in the dataframe. I also check the iteration variable `each_df`, the rows with `Sun` were indeed dropped.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIO

[2019-12-13 19:18] jason-r-becker commented on #30261
You're creating a new view of each DataFrame in the loop. Instead you need to modify the DataFrames inplace, change the loop to the following:

[code]

[2019-12-13 19:29] mroeschke commented on #30261
This board is for package issues and enhancement requests. For usage questions, we recommend StackOverflow.

[2019-12-13 19:29] #30261 closed

[2019-12-13 19:43] StevenLi-DS commented on #30261
@jason-r-becker thanks for the clarification.

@mroeschke I thought it's a bug. Sorry about that.

[2019-12-13 20:20] abmyii opened #30262 "Builtin loading of files from multi-file zip archives"
Could a solution be implemented to simplify loading a dataset from a multi-file zip archive? I know it is a bit insignificant compared to most other issues (especially since there are workarounds), but I'd be happy to implement it myself if I'm given the go-ahead so as to not waste your time.
Thanks for this amazing library!

[2019-12-13 20:22] jakevdp opened #30263 "iloc erroneously truncates underlying data for timestamps with timezone"
This is a strange one... Here's a short repro of the error, which I can reproduce in pandas 0.21-0.25 and numpy 0.15-0.17 (I didn't try further back than that):
[code]
It seems that somehow, the second argument of iloc is truncating the underlying data along the wrong axis:
[code]
This only appears to happen if the data contains timestamps with a timezone specified. If I remove ``tz='UTC'`` above,

[2019-12-13 20:38] #9753 closed

[2019-12-13 20:48] TomAugspurger commented on #28778
Pushed a prototype up for discussion at https://github.com/pandas-dev/pandas/pull/30265. Let's move the indexing discussion over there.

[2019-12-13 21:06] TomAugspurger commented on #30262
My initial reaction is that this is out of scope for pandas. It seems hard to make a clean API to handle all the variety of what could be contained in an archive.

[2019-12-13 21:07] TomAugspurger commented on #30263
Hmm, thanks for the report. Reproduced on master.

[2019-12-13 21:15] TomAugspurger commented on #30263
This probably happens for all extension arrays, and only when there's a single column

[code]

[2019-12-13 21:29] abmyii commented on #30262
Sorry I meant that you'd still have to specify a file, not automatic loading.

[2019-12-13 21:40] MaxGhenis commented on #9542
Similar to https://github.com/pandas-dev/pandas/issues/9542#issuecomment-438580042, `label` is ignored when plotting a one-column DataFrame:
[code]
![image](https://user-images.githubusercontent.com/6076111/70834011-10b47b80-1dae-11ea-827a-00e5e216c4f4.png)

`df.plot(label=['b'])` also doesn't work.

[2019-12-13 22:22] vfilimonov opened #30267 "PERF: slow multiplication of DataFrame and a scalar"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Multiplication by a scalar takes enormously large time (e.g. in comparison with an element-wise multiplication of two dataframes or `numpy.multiply`).

Same problem holds for division.

Pandas version: 0.25.3

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2019-12-13 22:23] vfilimonov commented on #30267
Some profiling snapshot:

![image](https://user-images.githubusercontent.com/1324881/70836083-65ccad80-1dff-11ea-9625-cc8eb159c71a.png)

[2019-12-13 22:36] WillAyd commented on #26446
Hmm OK maybe not an issue then. Closing for now can always come back

[2019-12-13 22:36] #26446 closed

[2019-12-13 22:40] craigdsthompson opened #30268 "Int64 with null value mangles large-ish integers"
#### Code Sample, a copy-pastable example if possible

[code]

With interpreter output:
[code]
#### Problem description

It seams that the presence of `np.nan` values in a column being typed as `Int64` causes some non-null values to be mangled. This seems to happen with large-ish values (but still below the max int limit).

Given that Int64 is the "Nullable integer" data type, null values should b

[2019-12-13 23:29] jreback commented on #30267
tho sis a duplicate and well known (and soon to be solved issue)

cc @jbrockmendel

[2019-12-13 23:32] vfilimonov commented on #30267
Thanks for the response, @jreback !

Apologies for the duplicate - I did not find its mentions via search.

[2019-12-13 23:52] lithomas1 commented on #29768
Is anyone still working on this? If not, I can take it.

[2019-12-14 00:41] lambertsbennett commented on #29671
Hi again,

So I've worked at splitting test files to decrease the build time of the coverage build. To do so, I did the following:
1) Ran pytest and analysed which test files take the longest to run.
2) Split the the files with the longest run times (about 10 of the original test files) into as many smaller units as possible while maintaining some sort of logical system. (Often placing test classe

[2019-12-14 02:44] jbrockmendel commented on #30267
Closing as duplicate of #24813, but rest assured this is a high priority.

[2019-12-14 02:44] #30267 closed

[2019-12-14 03:42] WillAyd commented on #30268
Thanks for the report. Must be an unwanted float cast in the mix as precision looks to get lost around the same range:

[code]

Investigation and PRs certainly welcome

[2019-12-14 04:23] scari commented on #30122
will take a look at it at SprintSeoul year-end sprint.

[2019-12-14 05:33] mithunmo opened #30272 "Unable to read number_format with pandas / openpyxl (engine)"
#### Code Sample

[code]

#### Problem description

Unable to access number_format in pandas dataframe using engine openpyxl.
But i am able to acccess the number_format in plain openoyxl via above code.

#### Expected Output
"$"#,##0
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit

[2019-12-14 06:22] souvik3333 commented on #30232
Hi, I would like to work on this.

[2019-12-14 06:57] makeajourney commented on #29547
I'll take
- [ ] pandas/core/indexes/accessors.py
- [ ] pandas/core/indexes/category.py
- [ ] pandas/core/indexes/datetimelike.py
- [ ] pandas/core/indexes/datetimes.py
- [ ] pandas/core/indexes/frozen.py
- [ ] pandas/core/indexes/interval.py
- [ ] pandas/core/indexes/multi.py
- [ ] pandas/core/indexes/numeric.py
- [ ] pandas/core/indexes/period.py
- [ ] pandas/core/indexes/range.py
- [ ] pandas/co

[2019-12-14 07:59] #27117 closed

[2019-12-14 08:02] #19711 closed

[2019-12-14 10:22] #23820 closed

[2019-12-14 10:25] stevecj opened #30275 "Very frustrating not to be able to apply per-column date formats exporting to Excel"
When exporting to Excel, it is possible to add multiple number formats and then use `set_column` to apply any desired numeric format to any column. Attempting to do the same for date or date-time columns has no effect however.

It is possible to set a format for all date columns or all date-time columns using the `date_format` and `datetime_format` arguments to `ExcelWriter()`, but that applies a

[2019-12-14 11:25] abmyii commented on #30262
I was thinking that the file could be specified like so: `pd.read_csv('data.zip/data.csv')`

[2019-12-14 18:37] samuelweisenthal opened #30276 "Only reading first sheet without warning"
#29491 ## Problem description

When there are multiple sheets in an excel file, read_excel only returns the first.  This is fine, but I think it should also warn that there are multiple sheets

[2019-12-14 22:16] sendww commented on #30172
Is this fix in a newer version?

[2019-12-14 22:45] lukzmu commented on #30276
@samuelweisenthal If you are unsure, whether your excel file has more than one sheet, you could always use `sheet_name=None` to read all sheets.

[2019-12-14 23:06] jlamborn324 commented on #29547
Hello,  @MomIsBestFriend

pandas/tests/plotting/test_converter.py

pandas/tests/plotting/test_datetimelike.py

pandas/tests/plotting/test_series.py

Have been completed. Thank you.

[2019-12-15 01:00] stevecj commented on #30275
Suggested pattern:

Pass `False` as the value to `date_format` and/or `datetime_format` to indicate that the formats for columns of those types should not be set automatically.

[2019-12-15 07:36] suzutomato commented on #30163
take

[2019-12-15 08:39] MarcoGorelli opened #30280 "Can't initialise DataFrame with ExtensionDtype, but can do so for Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I get the following error:
[code]

#### Expected Output

I would have expected the same output as I got in the first two examples above labelled `#works`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits

[2019-12-15 08:47] jorisvandenbossche commented on #30268
This is caused by a converting the list to a numpy array, and letting numpy do type inference. Because there is a `np.nan`, numpy will create a float array. And this then indeed causes this precision loss.

With a quick hack like:

[code]

I get the correct behaviour (by ensuring we convert the list to an object array, so we don't loose precision due to the intermediate float array, and we can do

[2019-12-15 12:55] attack68 opened #30281 "read_html docs inconsistent with behaviour if lxml not installed"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The documentation explictly states, in the HTML-parsing-gotchas page and the argument docstring that the fall back is to 'bs4+html5lib' if 'lxml' fails.
For me there is no fallback, just an ImportError since I do not have lxml installed.

#### Expected Output

Docs should be changed to require explicit `flavor`

[2019-12-15 13:43] rushabh-v commented on #30268
take

[2019-12-15 17:25] DorAmram commented on #29547
Hello
I can take
pandas/core/dtypes/dtypes.py
pandas/core/dtypes/common.py

[2019-12-15 22:11] #29403 closed

[2019-12-15 23:39] naught101 commented on #25379
Probably not very at all, but it's a recommended spec, CSV metadata management is a real PITA, and this seems to solve it. Getting it added to the most popular CSV manipulation library around would really help make it more common, I reckon.

There are also potential side-benefits, for example the `#datatype` declaration would allow immediate inference of datatypes without having to scan the first

[2019-12-16 02:35] jschendel commented on #30013
It looks like the idempotent behavior for integer hashes described above resets at `2**31 - 1` for 32-bit platforms instead of at `2**61 - 1` for 64-bit.

[2019-12-16 05:25] kpmccahill commented on #29547
Hello, I'll take
* [ ] setup.py
* [ ] pandas/_config/config.py
* [ ] pandas/_config/localization.py

Thanks!

[2019-12-16 06:38] sha-ali opened #30286 "AttributeError: module 'pandas' has no attribute 'ewm'"
#### Code Sample, a copy-pastable example if possible
def get_technical_indicators(dataset):
       dataset['26ema'] = pd.ewm(dataset['Close'], span=26)
       dataset['12ema'] = pd.ewm(dataset['Close'], span=12)
       dataset['MACD'] = (dataset['12ema']-dataset['26ema'])

def get_technical_indicators(dataset):
[code]
#### Problem description

[this should explain **why** the current behaviour is

[2019-12-16 07:26] AlexKirko commented on #30262
On one hand, we allow reading csvs that have been zipped. The user might expect to be able to read a csv from a zip. And they might expect pandas to treat a zip transparently as a folder.
On the other hand, I beleive that the intention of `read_csv` is to read a file. zip in this case is just another format for a csv file added for convenience, since we can compress data files to save on space.
Th

[2019-12-16 08:35] jocelynjyl commented on #22545
Similar to #20420, I see inconsistent output with groupby+apply+diff. If the groupby results in exactly 2 records, the output from applying diff is a transposed DataFrame. Otherwise, if there are more than 2 records in the groupby, the output is a Series.

I can make a separate issue with code snippet if needed but I think my issue might be fixed if #20420 is fixed.

[2019-12-16 10:02] PavloFesenko opened #30288 "The setting xrot=0 in DataFrame.hist() doesn't work with by and subplots"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The setting `xrot=0` doesn't work when I use the option `by` in DataFrame.hist() (see the screenshot below). The temporary workaround is to set it to a very small value like `xrot=0.001`.

![image](https://user-images.githubusercontent.com/16855796/70897591-38e0ec00-1ff3-11ea-9f35-c924727fad39.png)

#### Expect

[2019-12-16 10:41] abmyii commented on #30262
The dataset I am using, geonames, provides zips with a `readme.txt` and then one (or in some cases) two or three data files. Currently I have to delete the extraneous files manually before being able to load it into pandas. If the proposed method was implemented then I would be able to load a file without having to worry about modifying the zips beforehand, nor having to extract them, which is unw

[2019-12-16 11:10] jreback commented on #30286
pls read the docs: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html?highlight=ewm#pandas.DataFrame.ewm

ewm is a DataFrame method

[2019-12-16 11:10] #30286 closed

[2019-12-16 12:56] ossdev07 commented on #30041
Looks like, for pandas, 50 minutes is not enough for even to start the tests sometimes . For reference, here is the link for build in travis-ci:
[https://travis-ci.org/ossdev07/pandas/jobs/625636386](url)

I am estimating it would take approx 30 minutes more to complete i.e. 1 hour 20 minutes .
The issue might be due to absence of wheels for numpy on arm64 as it is not cached .
[https://travis-ci.

[2019-12-16 13:06] jreback commented on #30041
you might want to try this on azure instead
iirc we have build timeouts there and likely could get that if needed

[2019-12-16 16:07] TomAugspurger commented on #30281
Looks like in https://github.com/pandas-dev/pandas/blob/37dfcc1acf3b37a1ff5251fee3380a179da1f2ed/pandas/io/html.py#L885-L886 we unconditionally raise an exception, even if the flavor was implicit from None. Will need some logic to handle that case.

[2019-12-16 16:08] ketzu opened #30289 "groupby.quantile(<arraylike>) fails with AssertionError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above is a constructed minimal example.
I am not sure how much I should elaborate on the "why this is a problem".

groupby.quantile() fails with an assertion error for "larger" dataframes, smaller dataframes seem to work fine.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLE

[2019-12-16 16:40] theNicelander commented on #27285
If I'm reading this correctly, the plan is to drop support for Monthly Timedeltas in the future. There are many cases where monthly Timedeltas are very useful, even if they don't represent a fixed amount of time as @jreback mentioned. Most businesses rely on monthly reporting, so having the option to do monthly Timedeltas is crucial.

[2019-12-16 17:57] jreback commented on #27285
@theNicelander you can already do monthly timeseltas with offsets which handle this type of. variable movement

Timedelta is a fixed unit and so doesn’t support non fixed values

[2019-12-16 19:45] TomAugspurger commented on #30289
The problem is in the call to `reorder_levels`

[code]

We're expecting to use level positions there, but one of the index levels is named `0`, the value `0` is interpreted as the label rather than the position.

[2019-12-16 19:51] TomAugspurger commented on #30289
I don't see a clean way to say that we really mean index levels when the index level names are integers.

[code]

Should we add a keyword to `reorder_levels` to control how that's interpreted?

[code]

[2019-12-16 19:57] uriielfl opened #30290 "pandas/excel/tkinter"
Hi, there! How are? I'm trying to import the values from excel with pandas to a tkinter treeview, but i'm having some issues.
Here's the code:
![image](https://user-images.githubusercontent.com/49736581/70938361-c7219600-2024-11ea-81b2-f317424acf0f.png)

Here's the result:
![image](https://user-images.githubusercontent.com/49736581/70938333-b83ae380-2024-11ea-816f-c87caf0ac413.png)

Here's the val

[2019-12-16 20:09] TomAugspurger commented on #30290
@uriielfl we recommend [StackOverflow with the pandas tag](https://stackoverflow.com/questions/tagged/pandas) for usage questions.

[2019-12-16 20:11] uriielfl commented on #30290
@TomAugspurger Do you know a way to import line per line instead cells? Or a way to search for it, i'm trying to search and i can't even find something about it hahaha

[2019-12-16 20:15] TomAugspurger commented on #30290
Nope. I'd recommend asking on StackOverflow.

On Mon, Dec 16, 2019 at 2:11 PM Uriel Francisco Libano <
notifications@github.com> wrote:

[2019-12-16 20:19] nrebena commented on #22797
So, working on this issues I was confronted to the following problems: if we want to maintains the order given for each level, how should we treat slice(None)? Example follow:
[code]

Ideas are welcome.

[2019-12-16 21:11] jorisvandenbossche commented on #28778
Without complexities of implementation in mind, I am not sure that we actually would want such propagation of missing values?
My plan was to post here a summary of our discussion in the chat about this, but never got to it... sorry about that. But I seem to remember that propagation was actually the least favoured option of the three? (our notes also don't say much ..)

I think the main take-away

[2019-12-16 21:17] TomAugspurger commented on #28778
That's my conclusion in https://github.com/pandas-dev/pandas/pull/30265#issuecomment-566123074 as well.

[2019-12-16 21:58] EydenVillanueva commented on #29547
I took:
- ` pandas/core/missing.py`
- `pandas/core/nanops.py`
- `pandas/tests/indexes/datetimes/test_partial_slicing.py`

Link to my pr: https://github.com/pandas-dev/pandas/pull/30278

[2019-12-16 22:04] christina-zhou-96 opened #30291 "Docs request: Specifying behavior of `dtype` parameter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`dtype` does not explicitly say that it ignores NaN in the documentation of

-  `pd.DataFrame`
-  `read_excel`
-  `read_csv`

For instance, in `read_csv` docs [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html), this is the description of the `dtype` param:

For the longest ti

[2019-12-16 22:12] halolord01 opened #30292 "[Feature Request] Plot T/F mask directly as ones and zeros"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It would be nice to be able to directly use .plot() on true / false masks. Matplotlib currently supports plotting true / false masks with the below code (using the same x variable as above):

plt.plot(x.index, x.values)

#### Expected Output

Would be great if the code in the "code sample" section outputted the

[2019-12-16 22:59] Jcole429 commented on #29547
I'll work on:

- [ ] pandas/core/arrays/base.py

Here because of the tag "good first issue"

[2019-12-17 00:15] jschendel commented on #30292
This is a dupe of #23719 and has been fixed/enabled by #27665 where the `include_bool` kwarg was added. This will be part of the upcoming 1.0 release.

[code]

[2019-12-17 00:15] #30292 closed

[2019-12-17 02:19] WillAyd commented on #25332
Doesn't appear to be an issue on master so I think OK to close this one

[2019-12-17 02:19] #25332 closed

[2019-12-17 02:23] WillAyd commented on #21824
I couldn't get a segfault on any of these on master during execution or while exiting - still an issue?