[2018-11-21 10:29] jorisvandenbossche commented on #23763
I would be *very* hesitant to start on such an endeavour.

But I have to admit, I don't really know how many of the features we use are actually already supported by docutils, and how much are add-ons by sphinx.
Eg what about autodoc/autosummary, the ipython directive, math support, special directives (warning, note, versionadded, deprecated, ..), ... ?

There is not only the cross-referencing amo

[2018-11-21 10:33] #23780 closed

[2018-11-21 10:38] #23716 closed

[2018-11-21 10:39] jorisvandenbossche commented on #16791
Closing this as a duplicate of https://github.com/pandas-dev/pandas/issues/12136

[2018-11-21 10:39] #16791 closed

[2018-11-21 10:43] jorisvandenbossche commented on #12136
Copying here the examples of the duplicate issues I closed:

From https://github.com/pandas-dev/pandas/issues/23716 (@jzwinck):

[code]

If a string is passed that is a proper integer, it is interpreted as nanoseconds regardless the `unit` kwarg.

From https://github.com/pandas-dev/pandas/issues/16791 (@jtf621):

[code]

[2018-11-21 10:54] jorisvandenbossche commented on #12136
So the fact that the keyword is ignored is for sure a bug we should fix.

The question for me is then: should we actually allow strings to be interpreted as integers? The docs clearly say that `unit` is only for integer input (and in practice also for floats), and we could simply follow that (if you want a string to be interpreted as a number, the user can always convert it to a number themselves)

[2018-11-21 11:20] jreback commented on #23800
there are some issues about allowing a date format argument in .to_string()

but not sure what you are proposing is actually that useful in practice to warrant a new method

[2018-11-21 11:44] samronsin opened #23838 "Empty series with index and "str" dtype is initialized with values "n" instead of NaN"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The code above yields
[code]
in pandas 0.23 (values are the string 'n') but
[code]
in pandas 0.22 as I would have expected.

#### Output of ``pd.show_versions()``
<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Darwin
OS-release: 18.2.0
machine: x86_64
pr

[2018-11-21 11:50] jreback commented on #23838
this was just closed by #22564 and is a duplicate of the issue

[2018-11-21 11:50] #23838 closed

[2018-11-21 11:52] TomAugspurger commented on #23763
Agreed with Joris. Maintaining something like that doesn't sound fun.

Sphinx's internals are extremely complicated, but we've found their
maintainers to be responsive when we report issues.

On Wed, Nov 21, 2018 at 4:29 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-11-21 11:53] samronsin commented on #23838
OK thanks, I guess that's why did not find the issue !

[2018-11-21 12:03] datapythonista commented on #23763
I also agree with @jorisvandenbossche, and that's why I spent SO many hours trying to make sphinx do what we need. But after around one week wasted only in trying to understand how the sidebar toc tree is built, and still not much idea what is going on... I'm quite convinced that even if there will be challenges in building a sphinx replacement, I'll be saving a lot of time. There are so many thin

[2018-11-21 12:06] TomAugspurger commented on #23809
crashes.

Strange.

Does pd.read_excel with `engine='xldd'` work?

On Tue, Nov 20, 2018 at 8:04 PM Dobatymo <notifications@github.com> wrote:

[2018-11-21 12:12] TomAugspurger commented on #23798
[code]

gets you the correct wheel.

Does anything in there stand out to you?

On Tue, Nov 20, 2018 at 7:54 PM Alexander Shukaev <notifications@github.com>
wrote:

[2018-11-21 12:18] jorisvandenbossche commented on #23763
Can you give a bit more details on the other things you want to customize that might be difficult with sphinx? (the navigation structure is indeed an important and complicated one)

[2018-11-21 12:35] scootty1 commented on #20012
@jreback I can also state that having a centered representation is really useful and important for time series analysis. I can only say that for the field of engineering it is frequently used (and you usually think in terms of a centered rolling window when using rolling windows...), resulting in two cases:
- Case 1: most people don't really know what they are *really* doing with their data, thus

[2018-11-21 12:40] #22896 closed

[2018-11-21 12:48] #22953 closed

[2018-11-21 12:51] charlesdong1991 commented on #23793
i will take a try....

[2018-11-21 12:53] datapythonista commented on #23793
thanks @charlesdong1991

[2018-11-21 12:53] #23496 closed

[2018-11-21 12:56] #23641 closed

[2018-11-21 13:14] KimiJL commented on #23828
Hi, I would like to claim this issue if possible, thanks!

[2018-11-21 13:15] datapythonista commented on #23828
Sure, thanks @KimiJL, let us know if you need help.

[2018-11-21 13:17] TomAugspurger commented on #23185
Still just grinding away at the inheritance -> composition move. Mostly
just moving around methods / adding wrappers in small places.

I haven't really touched internals yet. I'm not sure when the best time to
do that would be. For DatetimeArrray, we can actually push that discussion
off till after we switch things, since we already have two blocks. I'll
post again when I have a better-formed opin

[2018-11-21 13:34] datapythonista commented on #23763
@jorisvandenbossche I think there will be plenty of small things we'd like to change in the docs. For example I'd like to add breadcrumbs, or avoid that numpydoc parameters are rendered inside a `<blockquote>` tag, breaking the formatting.

Will take a look at the dask sidebar, but I think for pandas will render too much information, as it happens now.

[2018-11-21 13:46] WillAyd commented on #23834
Is there a practical reason for coding the UDF in this fashion? Agree it looks buggy but it's also a rather convoluted example which could be expressed without the addition and dropping of columns.

In any case investigation and PRs are always welcome

[2018-11-21 13:54] charlesdong1991 commented on #23791
i can also take this one if don't mind...

[2018-11-21 14:15] WillAyd commented on #23809
Not an expert in this domain but what encoding is supposed to be represented here? I believe modern Excel files use utf-16 encoding internally but doesn't that surrogate fall outside of the high surrogate range for that encoding?

[2018-11-21 14:31] TomAugspurger commented on #23798
In that log you run `python setup.py test`.  Does just "import pandas" work?

Why does `ImportError while importing test module
'/home/user/XXX/test/xxx/test_utils.py'.`? Is that in your venv directory
or outside it?

On Wed, Nov 21, 2018 at 8:23 AM Alexander Shukaev <notifications@github.com>
wrote:

[2018-11-21 14:32] Alexander-Shukaev commented on #23798
Outside, it's source code.  It says that because this module imports `pandas` and that actually throws, see that stack.

[2018-11-21 14:33] Alexander-Shukaev commented on #23798
As soon as I comment out `import pandas`, everything is good.

[2018-11-21 14:55] #23792 closed

[2018-11-21 15:37] #23746 closed

[2018-11-21 15:49] haroldfox opened #23842 "Empty dataframe with a multi-index loses the type information about the index types"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The columns of test2 all have the type float64
[('time', dtype('float64')), ('id', dtype('float64')), ('val', dtype('int64'))]

I am on pandas 0.23.0

The index should keep its types of [(Timestamp, object)]. When there's a single index, the types are preserved. Seems like a MultiIndex problem.

#### Expected Ou

[2018-11-21 16:14] YunhaoHe commented on #20008
I got the same problem. I got around it by specifying a "placeholder name" and replace this placeholder with empty string later. But still, it would be great to address this problem directly...

[2018-11-21 16:29] FHaase commented on #23508
I'm currently waiting for 2 PRs to be merged into flake8-rst.
After they are merged we can upgrade the flake8-version. Then it's possible to check for F821 as all code-blocks are merged into one big one and therefore names defined in previous blocks remain known.

This however raises another issue as imports may occur in the middle of a block, although they are at the top of an subblock:

[code]

[2018-11-21 16:35] datapythonista commented on #23508
I'm happy to ignore `E402` in `flake8-rst`. In code it makes sense, but in the docs I don't expect to see many imports in the middle of the block, and I don't think it's a big issue anyway.

What we've been doing with `pd` and `np` is to "inject" the imports at the beginning (this is done for example in `validate_docstrings.py` or in `conftest.py` for the doctests). I think in the `.rst` files we

[2018-11-21 17:00] mroeschke commented on #11387
Feel free to reopen if you can post a copy pastable example.

[2018-11-21 17:00] #11387 closed

[2018-11-21 17:09] mroeschke commented on #16314
Closing as the current behavior is intended and correct.

[2018-11-21 17:09] #16314 closed

[2018-11-21 17:16] #23570 closed

[2018-11-21 17:36] jschendel commented on #23605
It looks like #23808 fixed this issue, as the latest pandas-wheels build appears to include that PR and was successful: https://travis-ci.org/MacPython/pandas-wheels/builds/457775113

[2018-11-21 17:36] #23605 closed

[2018-11-21 17:39] bhavaniravi opened #23843 "Configurable json_normalize with respect to number of levels and Keys to be flattened"
#### Code Sample, a copy-pastable example if possible

[code]
#### Current Output
[code]
#### Problem description

I want to flatten only specific keys and up to a specific a specific level.
For eg., I want to flatten until level 1 and skip key image.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit: None
pandas: 0.23.4
pytest: None

[2018-11-21 18:06] MLopez-Ibanez opened #23844 "poor melt example in documentation"
#### Problem description

The example chosen to illustrate `melt` is not ideal. Normally, melt would be used to convert from wide to long data. However, the data on the left hand side of the example is already in long format (each variable corresponds to a different column) and the melt command is just creating a strange "thing" where the column value contains two different variables. I'm using th

[2018-11-21 18:14] gfyoung commented on #2586
What do you guys think about expanding `date_parser` to be the following:

* callable: custom date parser
* kwargs: parameters to pass to default date converter

This would address the need for greater customized keyword arguments without bloating or requiring wonky lambda arguments.  Also, if we allow `date_parser` to be `kwargs`, we could then deprecate / remove `dayfirst` and `infer_datetime_fo

[2018-11-21 18:17] gfyoung opened #23845 "API: Inconsistent handling of columns aggregated to create date columns"
Issue is described at https://github.com/pandas-dev/pandas/pull/23832#pullrequestreview-177106215

Should we parse columns that are used to construct date columns or not?

[2018-11-21 18:23] AVI18794 commented on #23836
There was a problem related to the database which says unable to find the field, I renamed the data frame column name to match the name of the columns in the table. It worked for me.

[2018-11-21 18:23] #23836 closed

[2018-11-21 18:30] gfyoung commented on #23844
cc @jreback

[2018-11-21 18:41] gfyoung commented on #23843
I thought for a moment that the `meta` parameter might help, but that was not to be...

Interesting proposal.  My only concern is use case for partial flattening.

cc @WillAyd @jreback

[2018-11-21 18:48] gfyoung commented on #23842
Unusual use case, but given that it already works for a single `Index`, I don't see why it shouldn't work with a `MultiIndex`.

cc @toobaz

[2018-11-21 19:00] jorisvandenbossche commented on #12136
Ah, there is the PR https://github.com/pandas-dev/pandas/pull/23025 working on this that is actually doing this `unit=None` to require a unit when a string is passed, forgot about that :)

[2018-11-21 19:22] bhavaniravi commented on #23843
I have rewritten the `nested_to_records` method for my use.

Would love to contribute it back and extend it to `json_normalize` as well.

My use case is for exporting data for report generation.

[2018-11-21 19:29] bhavaniravi commented on #23843
Definitely. Will do that.

[2018-11-21 19:46] affanv14 commented on #23830
Can I take this up?

[2018-11-21 19:47] gfyoung commented on #23830
@affanv14 : Go for it!  FYI, unless someone has a PR open or has explicitly stated that they want to tackle it, the issue is fair game for anyone.

[2018-11-21 19:59] dsaxton opened #23846 "Feature suggestion: allow sort_values to take a callable"
I occasionally find myself wanting to sort not by the values of a `Series` but instead by some function of those values, so it could be quite handy to have a way of passing a callable to `sort_values` (perhaps just a `by` argument as in `DataFrame.sort_values`) with the idea being to sort by the return values.  The same would likely be useful for `DataFrame.sort_values`.

A simple situation where

[2018-11-21 20:18] TomAugspurger commented on #23846
https://github.com/pandas-dev/pandas/issues/3942 I believe.

[2018-11-21 20:18] #23846 closed

[2018-11-21 20:20] TomAugspurger commented on #23842
Duplicate of https://github.com/pandas-dev/pandas/issues/19602 I think.

[2018-11-21 20:20] #23842 closed

[2018-11-21 20:51] WillAyd commented on #2586
Is the only downside to having a dedicated `format` argument that we already have enough keywords? I still think that as a dedicated keyword is best here, especially given we already have that in `to_datetime`

[2018-11-21 21:45] gfyoung commented on #2586
API bloat isn't the only reason.  Another benefit of this consolidation is that the `read_csv` API becomes agnostic to the signature of `to_datetime`.  We could have 20 keyword arguments for `to_datetime`, but we wouldn't have to change the signature of `read_csv` to accommodate.  That's what we're running into now.

[2018-11-21 21:58] mmagnuski commented on #15086
Just pinging this - I have the same issue, I'm using a workaround but it would be great if that was not required.

[2018-11-21 22:06] jreback commented on #15086
this needs a community patch

[2018-11-21 22:45] gitstb opened #23848 "column names with leading underscores with df.itertuples cause AttributeError when accessed"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
DataFrame columns named with a leading underscore are not accessible. While it is possible to rename the column to access the data, Pandas users unfamiliar with this issue might spend a bit of time developing their own workaround. The perplexing thing about this is when the column names are output for inspection

[2018-11-21 23:01] simonjayhawkins commented on #23820
i'm not au fait with the deprecation process, hence opened an issue to start a discussion.

i assume that if deprecation is agreed then a deprecation warning is issued in the next release and the change is not made for a couple of releases. I hadn't thought about just removing it from the documentation... that could be a good start.

personally, I don't think it's necessary from a user perspective

[2018-11-21 23:11] mroeschke commented on #23848
`itertuples()` returns `namedtuple`s, so row is no longer a pandas object.

[code]

These are created with `rename=True`, and `_name` is an invalid fieldname for namedtuples so:

So this is the expected behavior. This could be better documented in `itertuples()`noting this behavior and a link to the documentation.

[2018-11-22 00:36] datapythonista opened #23851 "CLN: Fixes to conda environment names"
We have some inconsistency regarding the names of the conda environment. At the moment, all environments for the CI are named `pandas`, and the environment created locally following the set up instructions (and using `environment.yml`) is named `pandas-dev`.

Then, inside several scripts (e.g. `ci/code_checks.sh`) we do a `source activate pandas`. Which means that the script works well in CI jobs,

[2018-11-22 00:51] jreback commented on #23851
this is ok

[2018-11-22 01:30] Dobatymo commented on #23809
The string is a single surrogate, which is not valid Unicode. However xlrd behaves correctly and passes the string through to python unmodified. I encountered this type of problem when exporting `.xlsx` files from SQL Server. It's possible they contain invalid Unicode strings.
[code]
fails as well.

I can verify that the source of the crash is from Pandas. Debugging with Visual Studio yields:
[cod

[2018-11-22 01:38] gfyoung commented on #16469
Marking this as a bug because:

* It works on the C engine (but not the Python engine)
* This ambiguity doesn't exist when there is no existing header.  It works both ways for both engines.

[2018-11-22 01:58] thesby commented on #23691
CentOS  64bit

[2018-11-22 02:01] thesby opened #23852 ""map" and "apply" is very slow for millions rows. Any native support with parallel computation?"
"map" and  "apply" is very slow for millions rows. Any native support with parallel computation?

[2018-11-22 02:31] jbrockmendel opened #23853 "REF/CLN: ops boilerplate"
A _ton_ of comparison and arithmetic operations do something combination of:

- `other = lib.item_from_zerodim(other)`
- listlike but not arraylike --> wrap in ndarray
- return `NotImplemented` if operating against a senior class
- raise `ValueError` if there is a length mismatch

But we don't _always_ do all of these, and we definitely don't use+test error messages as consistent as @gfyoung would

[2018-11-22 02:32] jbrockmendel commented on #23852
Can you comment on the use case?  What kind of function are you trying to map/apply?  What data dtype(s)?

[2018-11-22 02:44] gfyoung commented on #23853
+1 for consistency.  A decorator would be great, though that would be a little trickier to execute.

Also, for future reference, the reason for checking error messages in our tests is because those are important for end users when debugging code.  Making sure that they're accurate is important, just as the type of error that is raised.

[2018-11-22 02:44] eode opened #23854 "df.to_csv() ignores encoding when given a file object or any other filelike object."
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
Currently, the 'encoding' parameter is accepted *and* doesn't do anything when dealing with an in-memory object.  This is deceptive, and can introduce encoding flaws.

I *presume* that pandas just sets the encoding on the file it opens.  In the case of receiving an already-open filelike object, pandas should enco

[2018-11-22 02:53] TomAugspurger commented on #23852
Dupe of https://github.com/pandas-dev/pandas/issues/13111.

Parallelism is mostly out of scope right now, but that could change in the future.

[2018-11-22 02:53] #23852 closed

[2018-11-22 03:47] WillAyd commented on #23843
Yea I think it would be possible to add a `level` parameter here. There's a recursive function nested within which uses that as well, so may be able to wire those all together to control how deep the un-nesting of records goes.

Investigation and PRs certainly welcome

[2018-11-22 04:39] gfyoung commented on #23854
The [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html) is very clear on this:

"A string representing the encoding to use in the **OUTPUT FILE**, defaults to ‘ascii’ on Python 2 and ‘utf-8’ on Python 3."

We never mention support for buffers in general, so I disagree that is deceptive.  That being said, an attempt to enhance support of `encoding` f

[2018-11-22 06:51] #23373 closed

[2018-11-22 09:04] iago-lito commented on #23750
Awesome. Cheers, and keep up with the good work :)

[2018-11-22 09:19] NoamGit opened #23857 "apply doesn't work when returning 2D vector (shape=(N,1)) instead of 1D (shape=(N,))"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Code is self explainable

#### Expected Output

#### Output of ``df.apply(f))``

<details>

[code]

</details>

[2018-11-22 11:33] RomainSa commented on #23791
Hi @datapythonista, I'm new to this and would like to start by working on this issue!

[2018-11-22 11:34] tlentali commented on #23794
Hello @datapythonista, as a beginner I would like to help on this one !

[2018-11-22 11:39] datapythonista commented on #23791
Thanks @RomainSa. But can you take a look at the two pull requests linked in this issue? I think they may be already fixing it.

CC @FHaase

[2018-11-22 11:41] datapythonista commented on #23791
@RomainSa may be you can work in #23201. It's similar to this one, would be really nice to get it fixed, and nobody is working on that.

[2018-11-22 11:44] datapythonista commented on #23794
I think this one is already fixed in #23837, which will be merged soon.

Do you want to work on this one instead, which is also good for beginners, and nobody is working on it: #22892

[2018-11-22 11:46] RomainSa commented on #23791
Thanks @datapythonista, I will work on #23201 then.

[2018-11-22 11:48] datapythonista commented on #23791
Add a comment to it please, so nobody else start working on it too.

[2018-11-22 11:49] tlentali commented on #23794
Perfect, I will work on #22892 !

[2018-11-22 11:52] RomainSa commented on #23201
Working on it!

[2018-11-22 11:52] RomainSa commented on #23791
Done!

[2018-11-22 11:55] datapythonista commented on #23794
Add a comment to it, so nobody else starts work on it too, and we don't duplicate work. Thanks @tlentali

[2018-11-22 12:01] haroldfox commented on #23842
yep, it's a dupe. thanks for looking into it

[2018-11-22 12:09] FHaase commented on #23791
#23847 doesn't conflict with this issue

[2018-11-22 13:00] tlentali commented on #22892
Hi ! I will help on this one

[2018-11-22 14:10] charlesdong1991 commented on #23851
i will take a look!

[2018-11-22 14:44] TomAugspurger commented on #23857
Looks like there's some issues with your example.

[2018-11-22 14:57] TomAugspurger commented on #23814
I'd say go ahead and work on this.

You'd need to add an ASV in asv_bench/benchmarks/categoricals.py for timing
Categorical(categorical).

On Tue, Nov 20, 2018 at 5:09 PM Erik <notifications@github.com> wrote:

[2018-11-22 15:04] dave-kirby opened #23859 "DataFrame rename fails with TypeError when give a ChainMap instead of a dict"
Example code:
[code]
I am trying to rename columns in a DataFrame using mappings from two or more dicts combined using the collections.ChainMap class, but it fails with a TypeError.

The docs for `DataFrame.rename` says

the ChainMap class should definitely qualify as "dict-like" since it implements the Mapping protocol:

[code]

I am using Python 3.6.6 with Pandas 0.23.4.

[2018-11-22 15:19] bhavaniravi commented on #23843
I have a query. If the `values` of the keys in record path are nested dictionaries itself, is it supposed . to get flattened? I am going through the code and got stuck here

[2018-11-22 15:43] charlesdong1991 commented on #23851
Hi, @datapythonista , sorry, i think i do need your help, following your explanation above, i did a small modification to change pandas to pandas-dev, not sure if it's the right place to do... and appreciate a lot if you could give more clarifications

[2018-11-22 15:59] jreback commented on #23859
we have an is_dict_like function for this
welcome a PR to fix here (we use this almost everywhere)

[2018-11-22 16:40] TomAugspurger commented on #23851
You should be able to fix that with a jupyter kernelspec command. Kernel names don’t have to be tied to environment names, and I think python3 is the default.

________________________________
From: h-vetinari <notifications@github.com>
Sent: Thursday, November 22, 2018 10:28
To: pandas-dev/pandas
Cc: Tom Augspurger; Mention
Subject: Re: [pandas-dev/pandas] CLN: Fixes to conda environment names (#

[2018-11-22 16:44] h-vetinari commented on #23851
@TomAugspurger Yes, of course, but I don't want my `python3` kernel spec to point to the dev environment. If we're already talking environment names (and the default from `environment.yml`), I think this is a reasonable adaptation.

[2018-11-22 17:11] adamkpickering commented on #23521
I think that the problems here are deeper, and cannot be solved by tacking on the `ambiguous` keyword argument to `floor` and others.

[code]

The thing is: `2018-11-04 01:31:33-0700` and `2018-11-04 01:31:33-0600` **are not ambiguous times**, so it makes no sense to require the programmer to use the `ambiguous` keyword to specify whether they are in standard or daylight savings time. If you look

[2018-11-22 17:28] Peque opened #23862 "How to set series frequency?"
Having two time series like:

[code]

One of them is 1-minute based, the other is 5-minutes based. They both have the same values (excluding nan) at the same timestamps.

I do not want to keep `nan` values, so I drop them. However, dropping them also drops the frequency information from the DatetimeIndex:

[code]

Now, I would really like to be able to differenciate two series like these: same tim

[2018-11-22 19:41] ArtinSarraf commented on #23800
Understood. I don't think there's really much use for it outside of formatting datetimes in the style above

[2018-11-22 19:41] #23800 closed

[2018-11-22 22:19] Koustav-Samaddar commented on #23666
I think this is caused due to groups of size 1. By removing (A, B) = (2, 1) group, the error goes away.

@WillAyd Do you mind if I tackle this? It's my first time but I think I have a rough idea on how to fix the problem.

[2018-11-22 22:33] gfyoung commented on #23862
cc @jreback @mroeschke

[2018-11-22 23:36] Koustav-Samaddar commented on #23666
@WillAyd Sorry for bothering you, but I had a quick question related to bug fix contributions.

In my rough testing of my fix I found another bug in groupby rank (checked to make sure that the bug also existed without my fix). Should I fix the bug in another commit in the same PR or should I create a new bug tracker and go from there?

The new bug isn't directly related to the current bug but aris

[2018-11-23 00:49] NoamGit commented on #23857
Sorry, I think I've fixed it..

[2018-11-23 00:55] WillAyd commented on #23666
Typically best to create a separate issue and PR for tracking and review purposes

[2018-11-23 02:38] #6173 closed

[2018-11-23 02:40] #23201 closed

[2018-11-23 03:07] #23782 closed

[2018-11-23 07:35] mojones opened #23865 "Inconsistant behaviour of empty groups when grouping with one vs. many"
Not sure if this is a bug or expected behaviour, but it's something that catches me out constantly.

[code]
#### Problem description

I want to look at the distribution of my `percentage` columns, so I do `groupby` so that I can use sensible bins. This is my first `gropuby` in the code example. The output is as expected:

[code]
Including the bins for which there were zero observations (50-60% and

[2018-11-23 10:57] dave-kirby commented on #23859
OK, I will create PR when I have some free time.

[2018-11-23 11:36] Alpna1 opened #23867 "how can I extract .tar.gz file in pandas?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-11-23 11:45] WillAyd commented on #23867
Please post usage questions on Stack Overflow

[2018-11-23 11:45] #23867 closed

[2018-11-23 11:48] haphaeu opened #23868 "Shouldn't the try: __import__ in __init__ re-raise original exception?"
#### Problem description

It is confusing when `import pandas` raises a message like:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/raf/anaconda3/lib/python3.7/site-packages/pandas/__init__.py", line 19, in <module>
        "Missing required dependencies {0}".format(missing_dependencies))
    ImportError: Missing required dependencies ['pytz']

[2018-11-23 12:01] simonjayhawkins commented on #17806
Any objections to opening a new PR for this?

[2018-11-23 12:33] jreback commented on #17806
go for it

[2018-11-23 12:56] WillAyd commented on #23868
I'm -1 here as I think this is somewhat nuanced. At the end of the day pytz wasn't fully installed, hence the original error so it's not as if pandas is misleading in that regards.

[2018-11-23 12:57] WillAyd commented on #23865
Can you produce a more minimal example to reproduce the error? I'm assuming `pd.cut` isn't related to the issue at all here but tough to tell from example(s) provided

[2018-11-23 13:19] TomAugspurger opened #23869 "DatetimeIndex.__getitem__ returns ndarray for nd indexer"
I didn't know this was possible, but apparently it is (and tested).

For ndim > 1, `DatetimeIndex.__getitem__` returns an array

[code]

while Index returns an Index:

[code]

FWIW, Categorical raises with an unfriendly error.

[code]

[code]

and unsurprisingly, lots of stuff seems to be broken even if the original `__getitem__` worked.

[code]

[2018-11-23 13:52] mojones commented on #23865
Here's the most minimal example I think I can come up with:

[code]

does this make sense? I can't think of a meaningful example that doesn't use  `pd.cut`, because that's the only way that we get index labels that aren't directly derived from the data. I.e. if we just group on two columns, then every label is in the data at least once by definition, so will appear at least once in the index.

[2018-11-23 14:38] WillAyd commented on #22836
Go for it!

[2018-11-23 14:54] jreback commented on #23857
not sure why you are actually expecting this to do. you are trying to shove a 2-d ndarray into a column. this is not supported in any way.

[2018-11-23 15:03] jreback commented on #23865
i think this is specific to logic in .size(). welcome investigation.

[code]

[2018-11-23 15:20] NoamGit commented on #23857
In my point of view, `pd.DataFrame.apply` should handle functions that return 2-d **vectors**.  You shouldn't bother to squeeze the array, as those data structures hold the same information.

[2018-11-23 15:30] alexander-ponomaroff commented on #23821
I would like to work on this.

[2018-11-23 15:33] datapythonista commented on #23821
That would be great, thanks!

[2018-11-23 15:38] alexander-ponomaroff opened #23870 "DOC: Use only one blank line to separate sections or paragraphs"
When checking for errors with  `./scripts/validate_docstrings.py`, There is an error that comes up:

**GL03**
**Use only one blank line to separate sections or paragraphs**

I started working on this and will create a pull request for this issue shortly to go into more detail on what I fixed.

@datapythonista

[2018-11-23 15:50] Themanwithoutaplan commented on #11499
FWIW I've now released an alpha of 2.6 and backported the `values_only` parameter. Some performance [numbers using an existing file are available](https://openpyxl.readthedocs.io/en/2.6/performance.html). In particular for anything containing datetimes openpyxl is easier to work with as well as being faster.

I'm not sure whether being able to run in parallel is useful for Pandas, nor whether this

[2018-11-23 16:05] jreback commented on #23857
and what would the returned DataFrame look like?

[2018-11-23 17:58] bhavaniravi commented on #23843
@WillAyd I am a bit confused with the behavior of`json_normalize` method with `records_path`. While just passing a list of records flattens the dictionary, it doesn't flattens the same on sending `records_path` param. Is it the excepted behavior?

[code]
**Current Output**

[code]

**Expected Output**

   TextField                 UserField.Id       Name
0  Some text                ID001

[2018-11-23 18:30] jdavidagudelo opened #23873 "NonExistentTimeError Trying to resample series."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I execute the previous python code it raises an exception saying NonExistentTimeError: 1992-05-03 00:00:00.

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and c

[2018-11-23 18:41] mroeschke commented on #23862
Well `freq` is not a label but rather describes the spacing between the timeseries. So once `series1` drops the `nan`s the timeseries no longer conforms to `'T'` frequency:

[code]

So I'd argue the behavior before was a bug. If you want to preserve original frequency as a label, just use the `name` attribute on the series.

[code]

[2018-11-23 18:41] #23862 closed

[2018-11-23 18:52] jschendel commented on #23862
xref #20678 (specifically item 2)

[2018-11-23 19:01] mroeschke commented on #23873
This looks like a duplicate of #23742, and this will be fixed in the next release.

[2018-11-23 19:01] #23873 closed

[2018-11-23 19:08] affanv14 commented on #23830
https://github.com/pandas-dev/pandas/blob/e5c90e5e355077c4ee5245a4a72833f4e8af72b9/pandas/_libs/tslib.pyx#L684-L697

So this is happening because a ValueError is raised in the 'elif require_iso6801' statement, I'm a little confused as to why this was there. would it be appropriate to just remove the these lines raising the ValueError?

[2018-11-23 19:16] JackCaster opened #23875 "DataFrame.apply() does not retain category dtype if applied along axis 1"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
`apply()` does not retain the categorical dtype if applied on columns, but it does retain the dtype if applied on rows (set `axis=0` in the snippet above).

#### Expected Output
The method should return a categorical dtype.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versio

[2018-11-23 19:30] ma3axaka commented on #23859
@dave-kirby I could fix the issue. I have some free time tomorrow.

[2018-11-23 19:50] MLopez-Ibanez opened #23876 "Initializing one row dataframe with a dictionary of scalars"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Perhaps there is a deep reason why the first code fails, but the meaning seems clear (the index should be 0) and the error seems arbitrary.

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-33-generic
machine: x86_64
processor: x86_6

[2018-11-23 19:52] jreback commented on #23876
why should the first succeed? you are passing all scalars as the message indicates

this raises because it’s almost always a user error
if you mean a 0 index then pass one explicitly or use a list like construction

[2018-11-23 19:52] #23876 closed

[2018-11-23 20:09] MLopez-Ibanez commented on #23876
With a list I cannot specify column names.

I'm not sure what a user may be expecting from the above code except a 1-row dataframe.

[2018-11-23 20:10] MLopez-Ibanez commented on #23844
Are the sources of the figures already available somewhere? If not, would it be worth to store the SVG sources in git so that they can be easily edited in the future?

[2018-11-23 20:12] mroeschke commented on #19399
This looks fixed on master. Do we have tests for this @gfyoung?

[code]

[2018-11-23 20:20] alexander-ponomaroff commented on #23821
Hey @datapythonista , I’ve been doing some research needed for this issue and I would like to ask for some tips. From what I understand in .circleci, PostgreSQL and MySQL databases are configured through docker. When I was looking into doing this in Azure Pipelines, I found documentation on how to set up MySQL and PostgreSQL natively on linux/windows/mac Azure virtual machine. Also I found a way t

[2018-11-23 20:39] jreback opened #23877 "CLN: fixturize & split test_base"
it would be nice to use our ``indices`` fixture rather than the self.indices in ``pandas/tests/test_base.py`` as this is a bit cleaner and more flexible esp with subclasses. We also might consider splitting up test_base.py to some extent by function maybe splitting up to

test_construction
test_set_ops
test_reshaping
test_indexing

would accept multiple PR's to close this.

[2018-11-23 20:57] mroeschke commented on #17173
This now raises:

[code]

[2018-11-23 21:05] gfyoung commented on #19399
@mroeschke : Similar, but not exactly like this.  Would be good to just add this.

[2018-11-23 21:53] ArtinSarraf opened #23878 "BUG: non-standard frequency Period arithmetic"
#### Code Sample

[code]
#### Problem description
In short: (A - B) + B != A

The result of diffing two periods of a scaled frequency is represented in the number of periods of the base frequency, not the scaled frequency. Thus when adding back to the scaled frequency the resulting Period will be N (where N is the scaling factor) times more periods than should be added.

The 2 options that don't i

[2018-11-23 21:58] Alexander-Shukaev commented on #23798
Digging through <cython/cython#1720> and e.g. a corresponding fix <IntelPython/mkl_random/pull/1>, given my traceback:

[code]

I believe we should add

[code]

at the top of <[pandas/_libs/tslibs/nattype.pyx](http://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/nattype.pyx)> and most likely <[pandas/_libs/tslibs/conversion.pyx](http://github.com/pandas-dev/pandas/blob/master/pandas

[2018-11-23 22:07] Alexander-Shukaev commented on #23798
By the way, a workaround from #22788 also works of course, but why not simply fix it?

[2018-11-23 22:09] jreback commented on #23878
we already rejected PeriodDelta as pretty niche and not worth the supports costs

that said some of the above might be bugs

[2018-11-23 23:44] WillAyd commented on #23843
@bhavaniravi that seems like a bug to me. I'd suggest opening that as a separate issue and working that as a pre-cursor to this. Would serve the purpose of not only fixing the bug but helping grow familiarity with the various parameters so we can see how this should fit into the context of them

[2018-11-23 23:59] datapythonista commented on #23870
Reopening. Most of the issues have been fixed, but still some left, see: https://github.com/pandas-dev/pandas/pull/23871#issuecomment-441274426

[2018-11-24 00:04] datapythonista commented on #23821
Unfortunately I'm not an expert myself in Azure Pipelines or docker. Setting  the db servers natively sounds good unless it's slow. If you want to explore that option, that would be great. I'd check the docker option if that one is too complex or too slow. But if you want to check it, we can see that login you need.

[2018-11-24 00:27] datapythonista opened #23881 "DOC: Capitalize docstring summaries"
Our standard is to start the docstrings with a capital letter (and finish them with a period).

We'll shortly add a check to make sure that new contributions follow this standard. But before we can do that, we need to fix the many cases that are already wrong.

In this issue we should fix all the remaining cases where the docstring summary starts with a lower case letter. This is the command to ge

[2018-11-24 01:03] ArtinSarraf commented on #23878
I think that ints are fine to represent period differences except it needs some modifications/restrictions (of course, I'm not aware of any of the original decisions on how this should work, so please let me know if there is any reason these wouldn't work):
1) The int should represent the number of scaled periods (since this is how addition works), not base periods
2) Periods must be in phase - re

[2018-11-24 01:14] gfyoung commented on #23868
I actually wouldn't be too opposed to clarifying this.  Would be it so bad to print out all relevant error messages related to each dependency that failed?

[2018-11-24 01:34] jbrockmendel commented on #23878
Is this in master?  We fixed a very similar bug recently (though that may have been for PeriodIndex and not Period)

[2018-11-24 01:40] KPGunner commented on #23881
I'd like to contribute to this issue but want to ensure I understand the issue. They should all read "Pandas.io.json.json_normalize: " correct?

[2018-11-24 02:06] WillAyd commented on #23843
Actually there's already an issue open about this #22706

[2018-11-24 02:34] ArtinSarraf commented on #23878
@jbrockmendel - I was on 23.4, just checked on Master. The difference seems to provide an offset object now, but still behaves the same way for scaled frequencies, except it's capped at the Timeseries max date now.

[2018-11-24 03:03] ArtinSarraf commented on #23878
@jbrockmendel - I was on 23.4, but looks like Master is still wrong.

So from what I can tell the `pandas.tseries.offsets.Hour` object when added to a Period object, ignores the only factors in the base frequency. So you'll get this:

This would not be a problem, however, it seems when diffing scaled freqs the scaling factor is multiplied by the base hours, this is unnecessary (and wrong) because

[2018-11-24 03:04] eoveson commented on #23814
One option I saw may be to short-circuit within _recode_for_categories() (not sure if this would help in any other scenarios also).  It may be safer, since all of the other logic for the other parameters runs as it did before?  In _recode_for_categories(), I tried adding the following code:
[code]
Which yielded:
[code]

If I instead add the following code basically at the beginning of __init()__ (

[2018-11-24 03:58] adamrossnelson commented on #23573
I think I can add to this issue with the following ... The current scheme seems to be that pd.to_stata knows it does not support writing unicode, so if it finds unicode it'll helpfully throw an error.

However, I believe I've found some characters that `pd.to_stata` will write to a Stata data file without throwing an error, but that will cause trouble for Stata.

#### Code Sample, a copy-pastable

[2018-11-24 04:23] ArtinSarraf opened #23882 "BUG: base argument ignored in PeriodIndex resample"
#### Code Sample

[code]
#### Problem description
The base argument is ignored when resampling with PeriodIndex. It seems that the problem lies in `pandas.core.resample.TimeGrouper._get_period_bins`, where the base option should be applied (as it is in `_get_time_bins`) to get the start and end of the grouped interval.

At the very least providing the base argument to PeriodIndex resample should r

[2018-11-24 08:10] bhavaniravi commented on #23843
@WillAyd I think someone already gave a PR for the same. Should I be working on it too?

[2018-11-24 09:51] developing-coder opened #23883 "requirements-optional-conda.txt missing"
[Creating a Python Environment](https://pandas.pydata.org/pandas-docs/stable/contributing.html#creating-a-python-environment) gives the following instructions.
[code]
However, there is no `requirements-optional-conda.txt` in `ci/`. Build and install commands ran successfully and I can import pandas and print its' version number from `pandas-dev` Python environment.

[2018-11-24 12:02] jreback commented on #23883
this is revamped in master and new instructions are in the dev docs : http://pandas-docs.github.io/pandas-docs-travis/contributing.html#creating-a-python-environment

[2018-11-24 12:02] #23883 closed

[2018-11-24 15:43] WillAyd commented on #23843
I just pinged the PR author on that one to see if they can make some updates. Let's give it a few days to see if they are interested in doing that first

[2018-11-24 15:43] #23794 closed

[2018-11-24 18:31] alexander-ponomaroff commented on #23821
@datapythonista I will try to explore both options and update you on what I decided to use. If you know somebody that may be able to give some tips on this. Please tag them if possible.

[2018-11-24 19:31] TomAugspurger commented on #14553
Probably. if someone makes a PR. On further consideration, I don't think I'm opposed to this on the principle that some databases don't support it. However, I'm not too familiar with the sql code, so I'm not sure what the best approach is.

[2018-11-24 19:36] TomAugspurger commented on #23814
I think the change to `Categorical.__init__` is clearly good.

The downside to adding a `.equals` check to `_recode_for_categories` is that you always have to pay the cost to check `.equals`, even if they aren't actually equal. I *suspect* that in many cases where you'd end up taking the shortcut in `_recode_for_categories`, you'll *already* know whether on not the categories are equal or not. Sti

[2018-11-24 19:37] TomAugspurger commented on #23798
<https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/nattype.pyx>>
and most likely <pandas/_libs/tslibs/conversion.pyx
<https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/conversion.pyx>>
and <pandas/_libs/tslibs/conversion.pxd
<https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/conversion.pxd>>
as well. Could somebody do the changes, please?

F

[2018-11-24 19:51] TomAugspurger commented on #23875
When you `apply` a function to the rows, pandas passes each row as a Series.

So `transform` gets series like

[code]

As you can se, that's object dtype, so the type information isn't available any more, regardless of what `transform` does.

[2018-11-24 19:51] #23875 closed

[2018-11-24 20:07] mattwigway opened #23884 "When merging on boolean index in right dataframe, merge key becomes an object"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

#### Problem description

I have a dataframe with which has a column of type `bool`, and another dataframe where the index is of type `bool`. When I merge the first dataframe with the second, the column is promoted to an object, rather than maintaining its boolean type. This causes issues because the ~ operator then no

[2018-11-24 22:07] topper-123 opened #23887 "LEt MultiIndex ax"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-11-24 22:41] eoveson commented on #23814
Sounds good, I will go with the __init__ change.

[2018-11-24 23:03] ginward opened #23889 "pandas groupby sum min_count misbehaves"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

My hope is that, by using min_count=1, pandas will return NaN when all columns being summed up are NaN. However, now it is returning 0 instead of NaN. Any idea why?

Actual output:

[code]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before.

[2018-11-25 02:17] #19399 closed

[2018-11-25 02:52] #23851 closed

[2018-11-25 02:56] #23286 closed

[2018-11-25 02:57] #23203 closed

[2018-11-25 05:42] subhsaha opened #23892 "Output a pandas dataframe to .XLSB (Excel Binary Workbook) format"
Output a pandas dataframe to .XLSB (Excel Binary Workbook) format.

[2018-11-25 05:56] WillAyd commented on #23892
Same concept as #8540

[2018-11-25 05:56] #23892 closed

[2018-11-25 08:52] subhsaha commented on #23892
cool , is anyone working on it ? any idea

[2018-11-25 14:39] WillAyd commented on #23892
Doesn’t look like it. Would certainly take a PR if you are up for it

[2018-11-25 17:50] ma3axaka commented on #23753
@jreback I am working on the issue. The source of it is usage of `DataFrame.values` property in the most of `to_dict` orientations.

[2018-11-25 20:00] TomAugspurger opened #23911 "ExtensionArray.shift incorrect for periods larger than length of array"
[code]

The expected output is

[code]

similar to categorical

[code]

This will need a new base test in `tests/extension/base/methods.py` and a fix in https://github.com/pandas-dev/pandas/blob/a7b187ab42c48342478ed8664145f21578f50622/pandas/core/arrays/base.py#L430

[2018-11-25 20:40] eode commented on #23854
From the documentation you linked:

Thus, a file object should suffice.  This issue is an issue with handling of filelike objects, not an issue specifically with `BytesIO`.   The same behavior occurs when using (for example) a file object.  The bug is that Pandas expects the file object itself to handle the encoding, and no encoding is actually used by Pandas, even though the documentation indicat

[2018-11-25 20:46] eode commented on #23854
There.  It now reflects the fact that this occurs with any filelike object that handles bytes.

[2018-11-25 21:06] gfyoung commented on #23854
@eode : That's fair.  I think as a start, we can clarify the documentation regarding this detail.

[2018-11-25 21:43] WillAyd commented on #23889
Thanks for the report. Investigation and PRs always welcome

[2018-11-25 22:08] VincentLa14 commented on #8953
I've been using the Monkey Patch Solution for some time now, but now I'm getting an error:

[code]

Is anyone else getting this?

[2018-11-25 22:18] ArtinSarraf commented on #23887
The arrays/dictionary initialization would be covered in the from_data proposal from this PR: #23141. Although pd.MultiIndex.from_arrays/from_tuples would already cover list-like input.

@jreback / @toobaz / @TomAugspurger - does this add any merit to from_data over the dedicated from_frame?

[2018-11-25 23:49] jbrockmendel commented on #23878
Great, a PR would be welcome.

[2018-11-25 23:56] jbrockmendel opened #23914 "is_datetimelike treatment of PeriodDtype inconsistent"
xref #22137

[code]

`is_datetimetz` is AFAICT redundant with `is_datetime64tz_dtype`, so ignore that part for now.  Shouldn't the `ABCPeriodIndex` check be the more general `is_period_dtype`?  Or for that matter, `is_period_arraylike`?

cc: @TomAugspurger

[2018-11-26 00:35] #15138 closed

[2018-11-26 01:38] ArtinSarraf commented on #23878
@jbrockmendel - PR created https://github.com/pandas-dev/pandas/pull/23915

[2018-11-26 03:14] WillAyd opened #23918 "Shifting GroupBy Object with ``freq`` inserts unwanted index level"
IMO somewhat unexpected behavior depending on the arguments provided to shift after a groupby:

[code]

This is arguably in contrast to #22053 which is asking for the behavior of the last item consistently, but I think that is the one that is actually incorrect out of all examples and causes misalignment with the index of the original caller.

cc @SimonAlecks who originally found this in #21235

#

[2018-11-26 03:19] WillAyd commented on #22053
See comment in #23918 . The inconsistencies a problem though I think the intended behavior here is the opposite of what is requested, as the request would break alignment with the original caller.

Closing this in favor of the other change

[2018-11-26 03:19] #22053 closed

[2018-11-26 03:52] WillAyd commented on #21298
closed via #22072 and #15457

[2018-11-26 03:52] #21298 closed

[2018-11-26 04:30] gfyoung commented on #23887
I'm confused here...don't we already have `MultiIndex.from_tuples` ?

[2018-11-26 04:31] gfyoung commented on #22137
xref #16242

[2018-11-26 07:57] srinivasreddy opened #23920 "Install numpy and cython when you run make if they were not present"
I created a new virtual env  and run `make`, the installation exited with saying
[code]
then installed `numpy`, then ran make again,

[code]

Why not install numpy and cython if they were not present ?

I think we should fix the Makefile .

[2018-11-26 08:08] NoamGit commented on #23857
In this case the DF looks the same. However, In case of a different function (such as `lambda x: np.reshape(x**2,(-1,1))`) I would expect it to have a power-2 output.

[2018-11-26 08:14] srinivasreddy commented on #23778
latest pandas give me this error, not a crash; Ofcourse error could be improved though

[code]
In [1]: import pandas as pd

In [2]: pd.show_versions()

INSTALLED VERSIONS
------------------
commit: 20ae4543c1d8838f52229830bfae0cc8626801bb
python: 3.6.5.final.0
python-bits: 64
OS: Linux
OS-release: 3.10.0-862.14.4.el7.x86_64
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_

[2018-11-26 09:36] gfyoung commented on #23920
That seems reasonable.  Or at the very least, do some dependency checking and provide nicer error messages than the ones you're showing here.

[2018-11-26 09:50] gfyoung opened #23922 "TST: Disallow bare pytest.raises"
End users rely on error messages for their debugging purposes.  Thus, it is important that we make sure that the correct error messages are surfaced depending on the error triggered.

<strike>I would like to propose that we disallow the following:</strike>
I think we should convert the following:

[code]

And in the spirit of [tm.assert_raises_regex](https://github.com/pandas-dev/pandas/blob/1f02b

[2018-11-26 10:00] datapythonista commented on #23922
Just to provide some additional info, I did couple of greps, and I see that:
- We have 3882
- 1376 already have a `match` (in the same line as `pytest,raises`)
- In 301 cases te arguments of `pytest.raises` are in multiple lines, and that could make the linting tricky

[2018-11-26 10:03] gfyoung commented on #23922
That's good to know.  We can probably test for the existence of a closing parenthesis (in some way shape or form) is my first thought.

[2018-11-26 11:15] Devilmoon commented on #23911
Hi,

I would like to try and tackle this issue to bite my teeth into the pandas codebase, however I'm not entirely sure about the expected behaviour of the shift method.

From what I understand, when shift is called, the first _period_ elements (up to the array's len) become NaN, and if period is smaller than the len of the array the original _len-period_ elements become the last _len-period_ elem

[2018-11-26 11:19] datapythonista opened #23923 "TST: Review if we are really testing with different locales"
In the scripts for the CI, we set the locale with:
[code]
and immediately later we display the locale detected by pandas:
[code]
(see https://github.com/pandas-dev/pandas/blob/master/ci/script_single.sh#L5)

Checking the logs, I can see how in the two builds where we specify locales, the output is:
[code]
and
[code]

And also in Travis:
[code]

I checked the logs for the PR https://github.com/pand

[2018-11-26 11:22] dave-kirby commented on #23859
@ma3axaka sorry I am using my work GitHub account so did not see your message over the weekend.  If you still have some free time then go ahead.

[2018-11-26 11:42] jreback commented on #23923
https://travis-ci.org/pandas-dev/pandas/jobs/459490848

looks ok to me

[2018-11-26 11:42] jreback commented on #23887
the proposal to make the default constructor to this

[2018-11-26 11:46] TomAugspurger commented on #23911
@Devilmoon thanks. I think your summary is correct.

The implementation is correct when `abs(period) < len(self)`. The only bug is when `periods` is larger (in absolute terms).

The issue is on https://github.com/pandas-dev/pandas/blob/a7b187ab42c48342478ed8664145f21578f50622/pandas/core/arrays/base.py#L454

That should be

[code]

[2018-11-26 11:47] TomAugspurger commented on #23914
Yeah, we shouldn't be special casing PeriodIndex there.

[2018-11-26 11:49] TomAugspurger commented on #23920
The question is how should you install them? pip, conda, other?

I think we can provide targets for building a dev environment via conda or the requirements-dev.txt.

[2018-11-26 11:50] datapythonista commented on #23923
not sure I understand. Isn't `pandas.get_option("display.encoding")` expected to output `zh_CN.UTF-8` in that travis job? In line 1805 of the link you provided is returning `UTF-8` instead.

[2018-11-26 12:01] varadgunjal commented on #23911
@TomAugspurger I had added a similar fix for this yesterday. Except, I also added in code to handle the case where `self` is itself empty (and periods is non-zero).

[2018-11-26 12:21] WillAyd opened #23925 "DataFrame Quantile Broken with Datetime Data"
This works fine:
[code]

But the equivalent method with a DataFrame raises:

[code]

#### Expected Output

The DataFrame should return just as Series does

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: 07b0c003db22daf79f87f5d095a4edc2659e1bac
python: 3.6.7.final.0
python-bits: 64
OS: Darwin
OS-release: 18.2.0
machine: x86_64
processor: i386
byteord

[2018-11-26 12:44] WillAyd opened #23927 "Cython language_level Warning - switch to Python3?"
When compiling with Cython the following warning gets issued:

[code]

Haven't looked into the implications as of yet but probably worth switching to Python3, especially given the upcoming drop of Python2 support

[2018-11-26 13:59] #21625 closed

[2018-11-26 13:59] #22270 closed

[2018-11-26 14:14] jorisvandenbossche commented on #23922
Personally, I am not sure enforcing it here is needed. This will be a huge amount of work, which IMO would be better spent actually improving error messages.
And which does not mean that we could pay more attention to it for new code, that we try to more consistently check the message.

[2018-11-26 15:18] TomAugspurger commented on #23857
DataFrame.apply does a lot of inference on the output shape to guess at the "correct" return type.  When it guess wrong, you're better off doing things manually.

[code]

[2018-11-26 15:36] TomAugspurger commented on #23821
The tests are skipped when we can't connect to the database `pandas_nosetest`. I'm not sure exactly where in the class hierarchy that's done though. So I don't think  all the sql tests are running on azure.

[2018-11-26 15:39] TomAugspurger commented on #23821
If you go to https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=4052&view=ms.vss-test-web.test-result-details and filter the files for e.g. TestPostgreSQLAlchemy, you'll see skips like

[code]

[2018-11-26 15:46] datapythonista commented on #23821
That's good to know, I didn't see it when checking the code.

What I'd do for now is to move the CircleCI build to Travis, where the db is already set up. And in a separate PR may be move something that doesn't use the db from travis to azure, so travis builds finish faster.

How does this sound?

[2018-11-26 15:51] TomAugspurger commented on #23821
I don't really have a preference.

On Mon, Nov 26, 2018 at 9:46 AM Marc Garcia <notifications@github.com>
wrote:

[2018-11-26 15:51] jreback commented on #23853
@jbrockmendel can you convert these to check boxes in the top (e.g. 4 would be checked by #23896 )

[2018-11-26 16:05] kjford commented on #14553
One possibility is to provide some examples for upserts using the `method` callable if this PR is introduced: https://github.com/pandas-dev/pandas/pull/21401

For [postgres](https://docs.sqlalchemy.org/en/latest/dialects/postgresql.html#insert-on-conflict-upsert) that would look something like (untested):

[code]

Something similar could be done for [mysql](https://docs.sqlalchemy.org/en/latest/di

[2018-11-26 16:11] datapythonista opened #23928 "TST: Run tests using a database explicitly"
At the moment, our tests accessing a database (in `pandas/tests/io/test_sql.py`) are being skipped if the module to connect to the database are not installed (e.g. `pymysql` or `psycopg2`), or if the connection to the database doesn't succeed.

This has two implications:
- It's not easy in the CI to know which builds are running the db tests (we need to check for the dependencies, and also check i

[2018-11-26 16:14] datapythonista commented on #23821
@alexander-ponomaroff if what I said makes sense to you, can you give it a try? I think it'll make things simpler to have 2 CI systems instead of 3, both for the set up, and when checking the results in a PR.

Related to this PR, I created this issue: #23928

[2018-11-26 16:33] varadgunjal commented on #23911
@TomAugspurger I'm trying to grok the correct way to put in a test for this.

I want to understand why a new base test is required under `tests/extension/base/methods.py` - wouldn't `test_container_shift` also cover testing the DecimalArray (generated by `to_decimal`) by casting it to a `Series`? Couldn't we just add the relevant test cases under `@pytest.mark.parametrize` and be done? Or am I thi

[2018-11-26 16:40] TomAugspurger commented on #23911
We write base tests for things that should be true of all extension array implementations http://pandas-docs.github.io/pandas-docs-travis/extending.html#testing-extension-arrays

I think something like

[code]

should work, but I haven't tested it. Maybe also test for `periods=-10`.

[2018-11-26 16:55] jbrockmendel opened #23929 "Dtype checking in reshape.merge"
There is a check (equivalent to)

[code]

which I'm told is incorrect:

https://github.com/pandas-dev/pandas/pull/23917#discussion_r236262558

[2018-11-26 17:31] h-vetinari commented on #23928
IMO, this applies verbatim to the tests for boto as well - it's hard to see where it's tested (actually only one build is testing them), and in case of errors, these get silently skipped in the `s3_resource` (except two tests that aren't using the fixture yet, which will be done as a side benefit of #23731).

This is especially critical since the boto tests will *all* be skipped once the environme

[2018-11-26 17:42] varadgunjal commented on #23911
Understood. Different question, why then should it be in that particular file which contains tests under the `BaseMethodsTest` class that are meant for Series and DataFrame methods?

[2018-11-26 17:48] TomAugspurger commented on #23911
It could also go under the interface tests.

On Mon, Nov 26, 2018 at 11:42 AM Varad Gunjal <notifications@github.com>
wrote:

[2018-11-26 18:36] varadgunjal commented on #23928
I'd like to take this up if the approach is confirmed.

[2018-11-26 18:47] subhsaha commented on #23892
I believe i am not skilled enough , but am ready to take it up .  Might take longer duration if that is fine.

Thanks

[2018-11-26 20:11] charlesdong1991 commented on #23877
I would like to give a try if it hasn't been picked.
And I will appreciate a lot if you could explain a bit clearer about the issue, i haven't found self.indices in `pandas/tests/test_base.py`.

[2018-11-26 20:55] TomAugspurger opened #23930 "check_comprehensiveness breaks running a subset of tests"
https://github.com/pandas-dev/pandas/blob/b7294dd3ec47dffa50f3c8bdf89aa8a01f4494f2/pandas/tests/indexing/test_coercion.py#L19

so I can't run, e.g. `pytest pandas/tests/indexing/test_coercion.py::TestFillnaSeriesCoercion::test_fillna_datetime64tz`, which is a tad annoying. Can we rewrite the check to be aware of what was requested?

[2018-11-26 20:59] louispotok opened #23931 "`join` on tz-aware column and tz-aware index wrongly fails (regression from 0.22)"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

In 0.23.4, this raises:
```ValueError: You are trying to merge on datetime64[ns, America/Chicago] and datetime64[ns] columns. If you wish to proceed you should use pd.concat```

This is incorrect - the two columns are both tz-aware and indeed `df2.set_index('date').index.dtype == df1.date.dtype` returns True.

[2018-11-26 21:00] gfyoung commented on #23922
I'm okay with putting aside enforcement, but I think converting these bare `pytest.raises` would still be a good thing for us (and by us, I mean contributors) to do here.

[2018-11-26 21:08] gfyoung commented on #23922
@datapythonista : I'm not sure what `grep's` you ran, but I ran one that finds 179 files that contain bare `pytest.raises` as follows:

[code]

pandas/tests/arithmetic/test_datetime64.py
pandas/tests/arithmetic/test_numeric.py
pandas/tests/arithmetic/test_object.py
pandas/tests/arithmetic/test_period.py
pandas/tests/arithmetic/test_timedelta64.py
pandas/tests/arrays/categorical/test_algos.py
panda

[2018-11-26 21:09] gfyoung commented on #23922
For anyone who is interested in contributing, working on any one of the files listed above would be great!

[2018-11-26 21:19] TomAugspurger opened #23932 "Series[datetime64[ns, tz]].__setitem__ fails to coerce for ndarray value"
What's the expected output for

[code]

On master, we coerce `self` to `object` and then set.

[code]

Should we instead coerce `value`, rather than self?

[2018-11-26 21:36] TomAugspurger commented on #9188
Just a note that this is handled correctly for Series:

[code]

So Out[20] is correct, but the DataFrame version is not.

[2018-11-26 21:41] TomAugspurger commented on #23931
Somewhere in `self._get_merge_keys` we coerce `right`'s index to a ndarray

[code]

I'd recommend going through `core/reshape/merge.py::_MergeOperation._get_merge_keys` to see where things go wrong.

[2018-11-26 22:09] mroeschke commented on #23931
I think https://github.com/pandas-dev/pandas/issues/21184 may be affected by the same root cause as this issue.

[2018-11-26 22:11] max-sixty opened #23933 "Potential regression in master re empty Extension Indexes"
Setting an additional index on a DataFrame with an empty PeriodIndex raises a couple of exceptions:

[code]

#### Expected Output

#### Problem description

This works fine on 0.23.4:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: b7294dd3ec47dffa50f3c8bdf89aa8a01f4494f2
python: 3.7.1.final.0
python-bits: 64
OS: Darwin
OS-release: 18.0.0
ma

[2018-11-26 22:15] max-sixty opened #23934 "show_versions fails on master with latest lxml"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

This seems to work OK on 0.23.4 (output below).

Let me know if there are other potential factors you'd like me to check

#### Output of ``pd.show_versions()``

<details>

[ins] In [5]: pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.1.final.0
python-bits: 64
OS: Darwin
OS-releas

[2018-11-26 22:33] TomAugspurger commented on #23933
Simpler example:

[code]

Root cause is that we don't factorize empty period arrays correctly

[code]

[2018-11-26 22:36] TomAugspurger commented on #23933
PeriodArray._from_sequence should probably check `if isinstance(scalars, cls): return cls`. Will want to check that `dtype` is None / matches `scalars.dtype` and handle copying correctly.

It'd be good to add a base extension test for factorizing an empty array.

[2018-11-26 22:38] max-sixty commented on #23934
Apologies - it works now. No idea how what could have caused this.

[code]

[2018-11-26 22:39] max-sixty commented on #23934
Actually - if I don't import `lmxl` initially, then it fails:

[code]

[2018-11-26 22:41] max-sixty commented on #23934
Is this because `etree` isn't imported into `lxml`'s root?

[code]

[2018-11-26 22:56] gfyoung commented on #23934
I can't replicate this on `master` and latest `lxml`.

[2018-11-26 23:08] WillAyd commented on #23922
I agree with @jorisvandenbossche here as I'm not sure how much we stand to gain out of this. There will be a lot of instances where incremental value add is nil or questionable.

We already have a decent amount of PRs concerning code style and docstrings atm and the PR queue is larger than it's even been. Is this something we feel needs to be addressed now or can we come back to it once some of th

[2018-11-26 23:22] gfyoung commented on #23922
I won't rule out corner cases, but I'm pretty certain there are more instances where there will be value added.  We don't have to push enforcing, but let's at least take a look and convert these.

Hardly.  Otherwise, I would have tagged this for a release version.  This is just another way for people to contribute to `pandas` if they so choose.

[2018-11-26 23:38] mattwigway commented on #23884
A possible solution would be to always preserve the dtype of the column in the left dataframe during a merge (and, in the case of a right or outer merge, if there are values in the right dataframe that cannot be coerced to the dtype of the column on the left, an error could be raised).

[2018-11-26 23:49] max-sixty commented on #23934
I installed in an empty docker container to check:

[code]

[2018-11-27 00:03] jreback commented on #23884
this is the same issue as addressed in this PR
https://github.com/pandas-dev/pandas/pull/21681

also believe this test car already exists there

[2018-11-27 00:06] gfyoung commented on #23934
That suggests a broken wheel perhaps on `lxml` ?

[2018-11-27 00:32] TomAugspurger commented on #23934
I’d suggest waking through what pandas is doing in show_versions. I suspect that we’re relying on someone else importing lxml.etree and you don’t have that other optional dependency.

Regardless, we should probably just check lxml.etree

________________________________
From: Maximilian Roos <notifications@github.com>
Sent: Monday, November 26, 2018 18:23
To: pandas-dev/pandas
Cc: Tom Augspurger;

[2018-11-27 00:40] jbrockmendel commented on #23927
Have you tried this locally?  For me it causes `python setup.py build_ext --inplace` to fail

[2018-11-27 00:40] jbrockmendel commented on #23932
We should certainly at least try

[2018-11-27 00:47] WillAyd commented on #23927
Yea it failed pretty miserably. Just for the sake of explicitness I updated the setup.py to have the following line:

[code]

Haven't looked in detail but assume it's an issue with how we are doing imports

[2018-11-27 00:57] jbrockmendel commented on #23922
I agree with everyone.  This is a worthwhile goal, not an urgent goal, and a good way for newcomers to make a real contribution while learning the code.

The linting part might be easier if we required the contextmanager usage for `pytest.raises`.  Then we should be able to identify the close-paren by the colon and newline.

To find non-context usages: `re.search("(?<!with )pytest.raises", code)`

[2018-11-27 02:55] TomAugspurger commented on #23932
FYI, I have this working on my all-in-one branch.

[2018-11-27 03:08] TomAugspurger commented on #23934
Reproduced. It seems like openpyxl imports `lxml.etree`, so it's already in `sys.modules`.

[code]

To fix this, we should just change https://github.com/pandas-dev/pandas/blob/90961f2acad5c2db6aa957e2a79df8668f5b02d1/pandas/util/_print_versions.py#L88 to `lxml.etree`.

[2018-11-27 03:17] jreback commented on #23934
so we call .show_versions() in any tests?

maybe should do this in a subprocess call to make sure it works

[2018-11-27 03:45] JustinZhengBC commented on #20592
Solved in #23495

[2018-11-27 03:52] #20592 closed

[2018-11-27 05:29] nursnaaz opened #23942 "dropna() function has no subset in python 3.7"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-11-27 05:31] #23942 closed

[2018-11-27 05:42] nursnaaz commented on #23942
It is working in 3.6

[2018-11-27 07:05] nixphix commented on #23877
@charlesdong1991 I figured that we need to add fixture for [indexes](https://github.com/pandas-dev/pandas/blob/master/pandas/tests/test_base.py#L170-L194). @jreback I made some changes to test_base could you pls let me know if thats what you wanted to do?

[2018-11-27 07:32] ron819 opened #23944 "to_json() to_csv() don't act the same for dates in iso format"
I posted it on stackoverflow but this seems more like a bug / missing feature?
https://stackoverflow.com/questions/53494416/pandas-data-frame-to-json-to-csv-dont-act-the-same-for-dates-in-iso-forma

In Json the dates appear as:  `"lastDeliveryDate":1543258826689`

In CSV the dates appear as:
[code]

Why the Json show it as unreadable number?

I should note this doesn't happen for "regular" formats

[2018-11-27 07:39] rgeens commented on #23778
Can confirm the latest master gives a TypeError exception instead of a crash. Good enough for me.

[2018-11-27 07:39] #23778 closed

[2018-11-27 08:37] varadgunjal commented on #23911
I followed a slightly different approach for the tests in the PR. Please let me know if it is incorrect.

[2018-11-27 09:06] #23944 closed

[2018-11-27 09:27] ZHANGGU opened #23946 "DataFrame:iterrows() damages data integrity during interations"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
For a DataFrame, there is one column that contains complex numbers

Once interating rows, all the values in each row become complex, where the real part is the original and the imagine part is given by 0*j

This is annoying, because one has to take care about this auto-conversion.

I would expect resolution on t

[2018-11-27 09:37] jreback commented on #23946
pls edit your post to remove the images and instead show code that demonstrates the issue

[2018-11-27 09:39] ZHANGGU commented on #23946
code only one line is given. images help understanding the issue. sorry!

[2018-11-27 10:04] ron819 commented on #13649
any plans to fix this?

[2018-11-27 10:15] datapythonista commented on #23922
@gfyoung the numbers I shared weren't number of files, but the times that `pytest.raises` happen.

What I'd do is create an issue to add the `match` to one of the files, label it as "good first issue", see how it goes (how many cases are not obvious, or it doesn't make sense to add the match, how time consuming is to make the changes and to review...). And afterwards we can continue the discussion

[2018-11-27 10:16] #23881 closed

[2018-11-27 10:51] eugene-kulak commented on #23925
@WillAyd have you tried number_only=False?:

`pd.DataFrame(pd.date_range('1/1/18', periods=5)).quantile(numeric_only=False)`

[2018-11-27 12:19] TomAugspurger commented on #23946
@ZHANGGU see http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for how to write a bug report.

[2018-11-27 12:20] MichaelYin1994 commented on #20642
I met the same problem when I try to reduce the memory-usage of DataFrame according to the data types.
The mean value of the np.float16 is NaN. After I switched the data type to the np.float32, problem solved.

[2018-11-27 12:29] TomAugspurger commented on #23946
OK, closing. We won't delete it, in case someone is is able to provide a reproducible example.

FYI, we ask for reproducible examples precisely because it saves time.

[2018-11-27 12:29] #23946 closed

[2018-11-27 12:31] ZHANGGU commented on #23946
It is a pity that you would not look at this issue. BYE PANDAS

[2018-11-27 12:35] TomAugspurger commented on #23946
FWIW, I tried this simple example, with complex data and iterrows, and everything is fine:

[code]

Perhaps there's an issue with your code?

[2018-11-27 12:46] TomAugspurger commented on #23798
@Alexander-Shukaev @WillAyd and you check if https://github.com/pandas-dev/pandas/pull/23940 will fix this?

[2018-11-27 12:46] TomAugspurger commented on #23786
Closing in favor of #5541. The fix there would be to make DataFrame.replace aware of extension arrays.

[2018-11-27 12:46] #23786 closed

[2018-11-27 12:47] TomAugspurger commented on #23638
@bodgerer were you able to find out anything further/

[2018-11-27 13:41] ron819 commented on #7707
Any chance this will be fixed for the next release?

[2018-11-27 16:17] #20498 closed

[2018-11-27 17:05] genchik1 commented on #23758
@mroeschke let me fix it

[2018-11-27 17:31] dragoljub commented on #23516
@jreback @TomAugspurger  Do you think a simple shim of the isdigit function in the C parser code would be a fix we could entertain?

It would assume 'ASCII' compatible encoding for numeric columns which I think should cover all/most csv file encodings for digits.

[code]

[2018-11-27 17:42] ldacey commented on #14553
For postgres I am using execute_values. In my case, my query is a jinja2 template to flag whether I should **do update set** or **do nothing**. This has been quite quick and flexible. Not as fast as using COPY or copy_expert but it works well.

`from psycopg2.extras import execute_values`

`                    df = df.where((pd.notnull(df)), None)
                    tuples = [tuple(x) for x in df

[2018-11-27 18:12] swilson314 opened #23950 "pandas to_feather “Unsupported numpy type 5” and force df.eval() to explicit dtype"
I've got a 500GB datafile that I'm modifying with df.eval() and then saving in feather format. Here is an example program showing the feather error:

import pandas as pd

[code]

With the following result:

[code]

This table has 2500 columns, so it took me a while to find the offending column, especially because int32 is listed as a valid feather type: https://github.com/wesm/feather

The followi

[2018-11-27 18:31] raybellwaves opened #23951 "Feature Request: add a startday argument to pandas.DatetimeIndex.dayofweek?"
Not sure if this is feasible or if there is support for it.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.dayofweek.html
gives the day of the week with Monday=0, Sunday=6.

For my application I would like Sunday=0 and Saturday=6.

I wonder if there could be a startday argument to `dayofweek`? e.g. `dayoftheweek(startday='Sunday')` with `dayoftheweek(startday='Monday'

[2018-11-27 18:40] mroeschke commented on #23758
Looks like @srinivasreddy is already working on a PR for this issue. Feel free to coordinate with him on this issue.

[2018-11-27 18:44] jreback commented on #23950
so ussage questions should be on StackOverflow.

this is a feather issue, not a pandas issue

to answer your questions

``df.eval`` will not help here at all as this will hit the python engine rather than numexpr (as you are using text processing); inplace is generally not a very useful argument, not does it do anything for memory.
use ``.astype(..., copy=False)`` might work for you.

[2018-11-27 18:44] #23950 closed

[2018-11-27 18:44] datapythonista opened #23952 "DOC: Use a standard header for all rst files"
When we build the documentation from the `.rst` files in `doc/source/`, we use a variable `common_imports` that is added as context for sphinx, and that is used in the `whatsnew` files.

But more or less the same imports and options that are used in the `whatsnew` files, are used in most `.rst` files.

What would be useful is:
- Rename `common_imports` to `header`, as this will be used for other t

[2018-11-27 19:48] MLopez-Ibanez commented on #23844
Those do not seem to be source files (I would expect either a script to recreate the files or svg or some other source format)

[2018-11-27 20:58] drewejohnson commented on #19706
I wanted to chime in, that this is still an issue. I have installed pandas both using `pip` and `pacman` and both had the same error. When I remove the auto-import of matplotlib in ipython, below in my `ipython_config.py` script, the issue is resolve and I am able to use pandas inside ipython.

[code]

[2018-11-27 21:14] chris-b1 commented on #23951
I think it's a reasonable idea, but would be a breaking API change to turn the property into callable, so a bit painful.

You could shift the days yourself more directly with addition/modulo

[code]

[2018-11-27 21:16] TomAugspurger commented on #19706
I don’t think any of the maintainers have been able to reproduce this. Any debugging you can do would be appreciated.

[2018-11-27 21:20] jorisvandenbossche opened #23954 "DOC: failing example in the read_csv docs"
On the travis build on master, we have the following traceback:

[code]

It's failing on this example:

[code]

Failing in the dev docs (second example in the warning box): http://pandas-docs.github.io/pandas-docs-travis/io.html#ignoring-line-comments-and-empty-lines
Working find in stable docs: http://pandas.pydata.org/pandas-docs/stable/io.html#ignoring-line-comments-and-empty-lines

Not directl

[2018-11-27 21:20] srajanpaliwal opened #23955 "Bug: Pivot fails for MultiIndex If existing index is used."
#### Code Sample, a copy-pastable example

[code]
#### Problem description
Pivot function give an error `NotImplementedError: isna is not defined for MultiIndex`. When index is set to `None`.
[code]
#### Expected Output

index_1 | index_2 | label1  | label2  
-- | -- | -- | --
A|A1|1.0 | NaN
||A2|NaN | 2.0
B|A1|3.0 | NaN
||A2|NaN | 4.0

#### Output of ``pd.show_versions()``

<details>
INSTALLED VE

[2018-11-27 21:21] jorisvandenbossche commented on #23954
Ah, looking better at the rendered version of the dev docs, it indeed seems to be IPython directive related. The multi-line `data` definition is split somehow.

[2018-11-27 21:21] jorisvandenbossche commented on #23954
@TomAugspurger this might be related to an earlier bug you reported to IPython?

[2018-11-27 21:31] gfyoung commented on #23844
Ah, sorry, I don't believe we have said files unfortunately...

[2018-11-27 22:32] romquentin opened #23958 "pd.read_hdf bug"
Seems related to #18252
Link to the hdf5 file to reproduce: https://www.dropbox.com/s/kwwv6hqtdpswkf9/behavior.hdf5?dl=0

#### Code Sample
These 2 codes:
[code]
[code]
give me this similar error:
#### Error
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.fina

[2018-11-27 22:33] TomAugspurger opened #23959 "tz_compare fails to consider string "UTC" and pytz UTC object equal"
Nothing user-facing here, but this surprised me.

[code]

Other timezones behave as expected

[code]

Is this user error, or a bug?

[2018-11-27 22:36] TomAugspurger commented on #23958
Is it possible to provide code that generates a small DataFrame that creates the error when round-tripped through HDF5? We prefer that to dropbox links with files, since it'll be easier to convert to a unit test, and the dropbox link may go away before the issue is fixed.

[2018-11-27 23:09] romquentin commented on #23958
I am not able to reproduce the error by writing a new hdf5 file from a pandaFrame. The hdf5 file that I am using has been saved several months ago under python2 and earlier version of pandas, maybe this is the reason. I can rewrite it. Thanks :-)

[2018-11-27 23:09] #23958 closed

[2018-11-27 23:31] jtkiley commented on #22491
I ran into this today with a dataset. In my case, I wanted a merge with an outer join, but I saw the same `NaN`-matching behavior.

My workaround was merging data frames like this (adapted to match the example above):

[code]

I didn't know that merge would match `NaN`s, and I expected to get the output from merge with `how='outer'` that I got with this code. Fortunately, it was easy to spot (tons

[2018-11-27 23:46] mroeschke commented on #23959
This slipped through the cracks when I did some UTC refactoring. We don't rely on `"UTC"` as a string internally anymore but this may as well work since `"US/Eastern"`. I think this is not getting cast by pytz. I'll put up a PR tonight.

[2018-11-28 00:14] dargueta opened #23960 "Wrong argument documentation for reindex_axis"
#### Problem description

The documentation for ``DataFrame.reindex_axis()`` has incorrect documentation for the arguments. The function signature is correct, but the description of ``fill_value`` is missing and  there's a description of a ``tolerance`` argument that isn't accepted by the actual method. This can cause crashes or bad data due to incorrect use of the method.

#### Expected Output

D

[2018-11-28 00:46] robbuckley commented on #23424
hi @WillAyd the behaviour seems to depend if clang is able to find stdlibc++ headers/libs. This depends on the xcode install history, hence the difficulty in reproducing this.

i suppose there are 2 options: (1) require the user to workaround this by installing stdlibc++ or (2) change mac os targets to build + link libc++.

So far i am unable to get (1) working again on my system. I've tried:
- `x

[2018-11-28 00:58] gfyoung commented on #23887
@topper-123 : Yep, that makes sense.  +1 from me.

[2018-11-28 01:01] WillAyd commented on #23424
Hmm is our only requirement for the C++ headers/libs stemming from this?

https://github.com/pandas-dev/pandas/pull/19549#issuecomment-364257051

Not saying it's worth changing here but curious if we previously looked at the performance difference in linking against the c++ implementation vs using `collections.deque` in Cython and if the latter wouldn't simplify linkage

@chris-b1 @jreback

[2018-11-28 01:23] chrisroat opened #23962 "Feature Request: Bootstrap sample from DataFrame with MultiIndex"
The `sample` method for DataFrames samples at the row level (by default).  Often, one may want to sample at a coarser level, say when the top level of a MultiIndex corresponds to the sampling unit.  It's likely that there are a variable number of rows per sampling unit in this case.

There were two promising stackoverflow answers that came close to my use case, but didn't quite fit:

The following

[2018-11-28 01:51] chris-b1 commented on #23516
Yeah, if you want to submit PR, ping me, or if not, I'll try to get to it soon

[2018-11-28 02:06] ArtinSarraf commented on #23882
@gfyoung - added a PR -  #23941 to resolve this issue.

[2018-11-28 03:19] zhaohongqiangsoliva opened #23964 "merge left_on enter multiple columns of content"
#### Code Sample, a copy-pastable example if possible

k=pd.DataFrame({
    "a":"222222",
    "b":"33333",
             },index=[[0]])
m=pd.DataFrame({
    "c":"222222",
    "n":"6554413"
},index=[[0]])
pd.merge(k,m,left_on=("a","b"),right_on=("c","n"))
[code]

[2018-11-28 05:09] mroeschke commented on #23959
QQ: Would we expect `tz_compare("UTC", dateutil.tz.UTC)` to return `True`? How about `tz_compare(pytz.timezone("UTC"), dateutil.tz.UTC)`?

[2018-11-28 06:27] ZHANGGU opened #23965 "DataFrame: damage data integrity in conversion and iterations"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

dftemp['col2'] shows all vaues as below are complex, but there was only one complex value originally

0    (4+0j)
1    (5+1j)
2    (6+0j)

dstemp shows consitent values as those in origin as below:

col2    [4, (5+1j), 6]

NB. once iterating the rows, the values in 'col1' is also converted to complex!

#### Exp

[2018-11-28 06:44] AVI18794 opened #23967 "Unable to read large json file of 218MB"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
While I am trying to load the json file which is of 218 mb  using the syntax
df = pd.read_json('Studies\\01-10Aug.json',chunksize=4000) it says:- [chunksize can only be passed if lines=True] and while pass the argument line=True and then try to create the dataframe  its not working. Is there any way to load the

[2018-11-28 07:10] h-vetinari commented on #23965
When I run your code, I already get a `col2` that is *all* complex:
[code]
That said, the problem you describe is that the complex values of `'col2'` make `'col1'` complex as well, which is true:
[code]

The reason for this is that `iterrows` takes a single row of a DataFrame, which has to fit all its data into a single `dtype`. The highest common datatype in this case is complex.

This is expecte

[2018-11-28 07:13] ZHANGGU commented on #23965
Thanks. Please add this behavior to your documentation, as integrity expectation is always there.

[2018-11-28 07:47] jorisvandenbossche commented on #23965
@ZHANGGU Thank you for the reproducible example.

Can you check the docstring of `iterrows` (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iterrows.html), and potentially give ideas how to improve it? It is already clearly mentioned that it does *not* preserve dtypes (so data integrity should not be fully expected), and the example of int and float is given (although I ag

[2018-11-28 07:50] qwhelan commented on #23925
It appears that `DataFrame.quantile()` has a default of `numeric_only=True`, which `Series.quantile()` does not have:
[code]
Looks like this is a duplicate of #18608 - I'd be in favor of resolving by deprecating this flag.

[2018-11-28 09:51] OmerJog commented on #5078
Are there any planes to fix this any time soon?

[2018-11-28 10:01] OmerJog commented on #2118
This can be nice to have!

[2018-11-28 10:21] genchik1 commented on #23683
@mroeschke Hi, please allow me to take a crack at this, thank you!

[2018-11-28 10:30] jreback commented on #8402
this code has been removed as we now require mpl > 2

@TomAugspurger anything left in this issue?

[2018-11-28 11:30] TomAugspurger commented on #8402
Should be good.

[2018-11-28 11:30] #8402 closed

[2018-11-28 12:42] Gerenuk opened #23970 "groupby observed=True not working for aggregating a column"
In the following the parameter `observed=True` will be ineffective (in pandas 0.23.4)
[code]
It will only work as expected if I aggregate over all DataFrame columns, i.e. leaving out `["x"]`.

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byte

[2018-11-28 14:48] #23229 closed

[2018-11-28 16:05] varadgunjal commented on #23830
@gfyoung I'm having some trouble with a PR I made for this. May I request you for some help?

[2018-11-28 16:21] #18792 closed

[2018-11-28 17:48] nicoabie commented on #14468
Is there any way people can contribute to move this forward? I'm planning on start type checking a project and I'd definitely like having support for pandas types as well.
Currently considering mypy and pyre-check

[2018-11-28 17:51] TomAugspurger commented on #14468
At this point I suspect we'll wait until we drop Python 2 (end of year) so
that we can use python3-style type annotations.

On Wed, Nov 28, 2018 at 11:48 AM Nicolás Andrés Gallinal <
notifications@github.com> wrote:

[2018-11-28 17:56] nicoabie commented on #14468
Thanks @TomAugspurger, I'd do the same. If help can be provided for the migration I'm sure the community will be there me included.

[2018-11-28 18:15] mroeschke commented on #23683
Sure, feel free @genchik1!

[2018-11-28 18:19] mroeschke commented on #23967
For usage questions please refer to StackOverflow.

The docs state that `chunksize` is used to read in the data via iteration.

You should be able to read in that json file without using `chuncksize` if your system has enough memory.

[2018-11-28 18:19] #23967 closed

[2018-11-28 19:09] MrArca9 opened #23977 "(Suggestion) Alert user when passing %p and %H in same format"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Short and sweet, when passing data into a formater 12 hour date time formats will pass when using a 24 hour parser. I don't think there is a way to catch this in code. Considering it will still pass, albeit incorrectly, my suggestion is to notify the user in the output window that they have passed %p (normally

[2018-11-28 19:32] FHaase commented on #23952
If the contents are the same throughout each file, they can be supplied via `bootstrap` option.

[2018-11-28 19:43] TomAugspurger commented on #23185
Alrighty, we're close now
https://github.com/TomAugspurger/pandas/tree/disown-tz-only

Right now this diff is at

[code]

and I have 100 xfails / skips. I'm going to spend the rest of today
splitting of independent pieces,
cleaning things up, and organizing the history a bit, before making a PR
tonight or tomorrow.

On Tue, Nov 27, 2018 at 9:46 AM Tom Augspurger <tom.augspurger88@gmail.com>
wrote:

[2018-11-28 19:59] jbrockmendel commented on #23185
Excellent, looking forward to taking a look.  Are the skips segfault-free?

With a little luck many of the xfails will be fixed by implementing the remaining methods on DTA/TDA, most of which are (hopefully) near merging.

[2018-11-28 20:12] TomAugspurger commented on #23185
They are indeed segfault free. There's still a subtle failure involving a
groupby resample coming from us doing bad stuff in Cython.
We somehow manage to create a DatetimeIndex where DatetimeIndex._values is
an ndarray, rather than a DatetimeArray. This
causes an exception, but not a segfault.

On Wed, Nov 28, 2018 at 1:59 PM jbrockmendel <notifications@github.com>
wrote:

[2018-11-28 20:59] TomAugspurger opened #23978 "BUG/TST: PeriodArray.__setitem__ with slice and list-like value fails"
[code]

---

We should be checking that the if `key` is a slice

[code]

Then, if they slice length doesn't match with value, NumPy will complain at the end when we do `self._data[key] = value`.

I've fixed this on my all-in-one branch. To close this issue, we should also add a base extension tests to BaseSetitemTests like

[code]

and a successful one like

[code]

(those are untested)

[2018-11-28 21:03] yzard commented on #10491
[code]

[2018-11-28 21:41] TomAugspurger opened #23979 "CLN: Refactor PeriodArray._format_native_types to use DatetimeArray"
Once we have a DatetimeArray, we'll almost be able to share the implementation of `_format_native_types`. The main sticking point is that Period has a different default date format. It only prints the resolution necessary for the frequency.

[code]

We could refactor `period_format` in `_libs/tslibs/period.pyx` into two functions

1. `get_period_format_string(freq)`. Get the format string like `%Y

[2018-11-28 21:42] jschendel opened #23980 "BUG: pandas.cut should disallow overlapping IntervalIndex bins"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When an overlapping `IntervalIndex` is provided for `bins`, all intervals overlapping a given point will be returned for that point.  I don't think this behavior makes sense.

#### Expected Output
I'd expect a `ValueError` to be raised, or at the very least for this behavior to be documented if it's intended.

I

[2018-11-28 22:22] h-vetinari commented on #23833
An extract of the bugs found by #23982. They are not closed by that PR, but should be solved in a follow-up.
[code]

[2018-11-28 23:30] jbrockmendel opened #23985 "BUG: Incorrect Type Inference with NaT"
[code]

The second column should also be `timedelta64[ns]` dtype.

[2018-11-28 23:35] jorisvandenbossche commented on #20535
We still need to do the same for PeriodIndex.

[2018-11-28 23:39] TomAugspurger commented on #14468
Yep (and I have been in places, probably incorrectly). We'd just need to
convert those to annotations, though mypy is probably capable of using a
mixture?

I think the main benefit is that the `typing` module will be available.

On Wed, Nov 28, 2018 at 5:29 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-11-28 23:42] TomAugspurger opened #23986 "DatetimeIndex doesn't validate `dtype` argument"
[code]

this should probably raise.

[2018-11-29 00:09] jbrockmendel opened #23988 "BUG: maybe_infer_to_datetimelike incorrect on 2D inputs"
Moved from discussion in #23730

[code]

This is because `maybe_infer_to_datetimelike` returns a DatetimeIndex (and not something 2D)

[code]

cc @h-vetinari since you're already on a roll in this neighborhood

[2018-11-29 00:32] mroeschke commented on #23988
I'm guessing this is specific to the timezone aware case and perpetuated by the fact that the DatetimeTZ block only stores 1D arrays.

[2018-11-29 01:19] shippy commented on #20511
@TomAugspurger This really looks like a bug. Let's see if I can explain it more clearly.

The bug presents in two ways:

1. `.apply(pd.to_datetime)` called on a multi-column slice converts the columns to `datetime64` after the call, but _not during the assignment to the same multi-column slice_.
2.  Further, assignment of the result of multi-column `.apply(pd.to_datetime)` transforms the datetime

[2018-11-29 02:19] TomAugspurger commented on #20511
@jesrael sorry I missed the fact that *assignment* was the buggy part.

[code]

A few observations:

This doesn't occur when all of the columns are being updated:

[code]

The internal blocks are unsurprisingly incorrect

[code]

we'd like to split that object block so that the newly assigned column becomes a DatetimeBlock.

[2018-11-29 02:29] jbrockmendel commented on #23985
Something related to that related:

[code]

[2018-11-29 02:51] ArtinSarraf commented on #23964
This works ok for me on master. You just don't have any matches in your key columns.

Try this example:
[code]
returns:
[code]

[2018-11-29 04:34] jbrockmendel commented on #23986
I’ll work this in to the next PR ( after the current DTA constructor PR goes through).  There is a dtype validation step, but it is only checking that conflicting time zones aren’t being passed

[2018-11-29 04:36] jbrockmendel commented on #21529
Close as not actionable?

[2018-11-29 09:05] charlesdong1991 commented on #23980
i would like to pick this up!

[2018-11-29 11:40] orena1 opened #23992 "step option does not work for hist"
#### Code Sample, a copy-pastable example if possible

[code]

This is what I get:
![image](https://user-images.githubusercontent.com/8983713/49219292-7d471d00-f3db-11e8-9b7a-a9d6c67c2dcf.png)

#### Problem description

This function should create a step hist which is unfilled

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.final

[2018-11-29 11:59] TomAugspurger commented on #23978
No, it's not quite ready for a PR yet.

[2018-11-29 12:48] #22631 closed

[2018-11-29 14:07] mcarbajo opened #23993 "ENH: Create a nlargest and nsmallest methods for pandas.core.groupby.DataFrameGroupBy objects"
#### Code Sample, a copy-pastable example if possible
Current method
[code]
Desired method
[code]
#### Problem description

I want to select the first 2 entries of each group ordered by a specific column. I can easily get these values if I only want to keep the column used for the ordering (see code below) but it gets way less efficient and not as clear when I want to keep all the columns of the D

[2018-11-29 14:56] OmerJog commented on #15413
are there any plans to fix this?

[2018-11-29 14:58] OmerJog commented on #15889
There is no more default for windows.
When you choose a version you get all options (32, 64) and you choose from it.

[2018-11-29 15:20] TomAugspurger commented on #23959
I'm not sure, but it probably depends on exactly how we're using `tz_compare`. I was thinking of it as "are these two timezones the same?" which is a fuzzy concept, but in this case I would say that they're the same.

The docs say we compare "string representations", and they're clearly different

[code]

cc @pganssle if you have thoughts.

[2018-11-29 15:30] TomAugspurger commented on #23954
similar, but different https://github.com/ipython/ipython/issues/11517

[2018-11-29 15:40] orena1 commented on #23992
[____ ~]$ conda install pandas
Solving environment: done
# All requested packages already installed.

[____ ~]$ conda install matplotlib
Solving environment: done
# All requested packages already installed.

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.14.final.0
python-bits: 64
OS: Linux
OS-release: 3.10.0-514.26.2.el7.x86_64
machine: x86_64
processor: x86_64
byteorder: little
L

[2018-11-29 15:43] TomAugspurger commented on #23992
Ah, you're using python 2. Matplotlib 3 doesn't support python 2 (if that is indeed the problem).

[2018-11-29 15:48] orena1 commented on #23992
Ok, but pandas should support python 2, right?

[2018-11-29 15:53] #19954 closed

[2018-11-29 15:53] #23964 closed

[2018-11-29 16:07] TomAugspurger opened #23995 "Public Data Followups"
leftover from https://github.com/pandas-dev/pandas/pull/23623

1. Signature for `.to_numpy()`: @jorisvandenbossche proposed `copy=True`, which I think is good. Beyond that, we may want to control the "fidelity" of the conversion. Should `Series[datetime64[ns, tz]].to_numpy()` be an ndarray of Timestamp objets or an ndarray of dateimte64[ns] normalized to UTC (by default, and should we allow that t

[2018-11-29 16:32] #23954 closed

[2018-11-29 16:34] TomAugspurger commented on #23992
Yeah, for now. But we likely won't work around bugs in older versions if
matplotlib (if this is indeed the bug).

I'd recommend creating

1. a python 3 environment with pandas 0.23.4 and your old version of
matplotlib
2. a python 3 environment with pandas 0.23.4 and the latest matplotlib

then we can isolate the problem to py2 vs. py3 or pandas master vs 0.23.4
or old matplotlib vs new matplotlib.

[2018-11-29 16:44] DeltaSigma130 opened #23996 "Dictionary of callables to df.style.format not behaving properly"
#### Code Sample, a copy-pastable example if possible

[code]
That produces in Jupyter:
[code]
Followed by an alternative representation
[code]
Produces:
[code]

#### Problem description

The styler is not properly rendering based on column assignments as I would assume a similar table to the first using pipe.

Versions:
python   3.6.5
numpy   1.14.3
pandas   0.23.0

[2018-11-29 17:02] eode commented on #23854
Great!  While I think a code change that can handle buffers/file objects that are open in 'bytes' or 'binary' mode would be ideal, writing into them using the given or default encoding, even a documentation change that indicates that buffers in 'bytes' mode aren't accepted would at least be clear.

I checked out your code internally -- I think the simplest thing would be to do something like this:

[2018-11-29 17:13] pen4ever opened #23997 "read_csv 'NoneType' object has no attribute"
Hi, so I created a csv file with the following code:
df = pd.DataFrame(Listing_Data1, columns = Field1)
df.to_csv('Listing_my.csv',  sep=",", index = False)

Everything looks right in the csv file. However, when I read the csv file using the following code:
with open('Listing_my.csv',, 'r') as f: #, encoding="utf8"
        reader = csv.reader(f, delimiter=',')
        Field = next(reader)

[2018-11-29 17:22] #23309 closed

[2018-11-29 17:25] pmkroeker opened #23998 "to_sql return inserted row count or list"
Potential feature, could `df.to_sql()` return the indexes of the inserted rows? Something like [knex.js Query Builder](https://knexjs.org/#Builder-insert)

[code]
#### Problem description
This would allow for more quickly knowing how many rows have been entered from your dataframe

#### Expected Output
Something like `inserted = 2` if 2 rows have been added. Even better would be `inserted = [24, 2

[2018-11-29 18:17] alexander-ponomaroff commented on #23821
@datapythonista I will be looking into this today and tomorrow. Thanks.

[2018-11-29 18:43] shoyer commented on #23995
This covers the use-cases that come to mind for me.

For the `copy` argument: presumably `copy=True` means always copy, `copy=False` means raise an error instead of copying (so you can modify the NumPy array in place and also modify the pandas object) and `copy=None` (the default) means copy only if necessary?

For the `dtype` argument: we would need to have extension array specific casting rules,

[2018-11-29 18:52] TomAugspurger commented on #23995
I was thinking `copy=False` means copy only if needed, similar to NumPy. But raising when no-copy isn't possible is also presumably useful, and supporting that via `copy=False` and leaving `copy=None` for "infer" seems fine.

[2018-11-29 19:13] gfyoung commented on #23854
Fixing in code is generally the way we do things. 😉

You are more than welcome to submit a PR with your changes!

[2018-11-29 19:49] chris-b1 commented on #23996
This isn't due to pandas - I had to try this out, but apparently the f string in the closure in the lambda (!) binds late enough so the last value in the dictionary is being used for everything.  e.g.

[code]

May be a cleaner way, but something like this works, the double `'}}'` is to escape

[code]

[2018-11-29 19:49] #23996 closed

[2018-11-29 20:59] h-vetinari commented on #22824
@jorisvandenbossche
Now that #23400 is in, could I please ask you for another comment? I'd like to proceed with:
1. Changing the return type of `Series.unique` to `Series`
1. Adding `return_inverse` to `Series.unique` / `Index.unique` (this needs the first step to be coherent, see any of my posts in this thread)
1. ...

[2018-11-29 21:10] TomAugspurger opened #24001 "DataFrame constructor with ndarray of Timestamp objects fails with AssertionError"
What're the expected dtypes here? object or datetimetz?

[code]

Note that for a 1-D array, we handle things fine, and return a DataFrame with a datetimetz column.

[code]

[2018-11-29 21:39] mroeschke commented on #24001
I would expect the dtypes for that example to be `datetime64[ns, UTC]`. If each column had mixed timezones or tz-aware + tz-naive, I would expect the dtypes to be `object`.

Seems like the similar DatetimeTZ block painpoint as #23988

[2018-11-29 21:50] TomAugspurger commented on #24001
Ah, yeah this is a duplicate of https://github.com/pandas-dev/pandas/issues/23988

[2018-11-29 21:50] #24001 closed

[2018-11-29 22:44] jbrockmendel commented on #23722
I just made a GH Project for to_datetime to collect all of these issues/discussions

[2018-11-29 23:01] h-vetinari commented on #23988
Sorry I can't be of help here, haven't made it to `maybe_infer_to_datetimelike` yet (and I feel I have only the most rudimentary overview of the datetime/timedelta code)...

[2018-11-29 23:35] dean12 commented on #15276
Thanks @llautert!
That helped a lot!

[code]

[2018-11-30 00:27] eahogue commented on #23960
Hi, I can take care of this if no one else is working on it.

[2018-11-30 01:03] adace123 opened #24007 "str.split expand by row"
#### Problem description
Currently, setting expand=True in str.split just creates new columns.
While there is a solution [here](https://stackoverflow.com/questions/47571618/how-to-split-expand-a-string-value-into-several-pandas-dataframe-rows) to expand row-wise, it would be much more convenient if we could specify either 'rows' or 'columns' to the expand kwarg.

[2018-11-30 02:09] evangelineliu commented on #23816
Quick requirements question. When you say the output should have the following format:

[code]
What does "00:00:00-0800" mean? I understand that it would be hours:mins:secs but what is the dash 0800 for?

[2018-11-30 02:36] jbrockmendel commented on #15146
Now that we have deprecated Timestamp +/- integer  ops, this might be worth revisiting.

[2018-11-30 02:38] jbrockmendel commented on #18880
Shouldnt `Series[timedelta].var()` raise?  `std()` makes sense.

[2018-11-30 05:44] zhaohongqiangsoliva commented on #23964
thank you

[2018-11-30 10:50] AlexandreDecan opened #24011 "Rich comparisons of Timestamps raise TypeError instead of returning NotImplemented"
Hello,

#### Problem description

The problem is that pandas' ``Timestamp`` raises ``TypeError`` when compared with unsupported types (from pandas' point of view), where I think it should return ``NotImplemented`` so that comparisons are delegated to the other object (if supported). See https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/timestamps.pyx#L247

The current behaviour

[2018-11-30 10:51] AlexandreDecan commented on #24011
Related issue in my library: AlexandreDecan/python-intervals/issues/5

[2018-11-30 12:31] datapythonista opened #24012 "Development conda environment taking >45 minutes to solve"
When creating a new environment from our `environment.yml`, it takes more than 45 minutes to solve (one of the steps of the environment creation). This happens both locally, and in the CI of #22854, which uses that file for one of the builds.

[code]

The number of dependencies in this environment is slightly higher than in the travis jobs (it has the packages for linting and building the docs), b

[2018-11-30 12:43] TomAugspurger commented on #24012
I know that @msarahan has been doing a lot of work to speed up parts of conda, which will be available in the next conda release.

@msarahan does anything in https://github.com/pandas-dev/pandas/blob/master/environment.yml stand out to you? It's a mix of defaults and conda-forge. I'm timing it now locally.

[2018-11-30 12:46] TomAugspurger commented on #24012
Though I can already say that solving didn't take long locally, less than a minute or two (on my Mac).

[2018-11-30 12:48] datapythonista commented on #24012
May be it's Linux specific then, both locally and on the azure job takes a lot of time.

[2018-11-30 12:52] seboktamas opened #24014 "Unnecessary bare except at class Block, function interpolate hides actual error"
#### Code Sample, a copy-pastable example if possible

[code]
##### Expected output
[code]

#### Problem description

If interpolation parameter not specified, it raises an error, which states invalid method
internals.py:1152:1155
        try:
            m = missing.clean_interp_method(method, **kwargs)
        except:
            m = None

If there is no such try/except block around the missing.

[2018-11-30 12:57] msarahan commented on #24012
Timestamp maximization is an accurate identification of the issue. PR to disable it at https://github.com/conda/conda/pull/7895/files

That maximization is important at build time, especially locally as you iterate on recipes, but probably not for you here.

The problem as I understand is that conda is not eliminating package choices prior to the timestamp optimization time. Basically, all the sol

[2018-11-30 13:09] datapythonista commented on #24012
Thanks for the detailed info @msarahan. Applying the PR could be an option for the CI, but new contributors to pandas also create a conda environment with that file to set up the environment, and making them apply the PR doesn't sound reasonable.

If I understand correctly, the problem is that conda can choose among more than one version of a given package. That makes sense to me, as my guess was

[2018-11-30 13:59] msarahan commented on #24012
Unfortunately, because of the way things work in conda, I don't think that will be a fix.  I'm not really suggesting that you incorporate the application of that PR to conda as a standard thing for all pandas devs.  I agree that's silly, and we need a fix on the conda side soon.  If we merge that PR, there will probably be warnings and/or errors about multiple solutions from conda.  That's why we

[2018-11-30 14:31] datapythonista commented on #24012
I checked, and the number of candidates the the optimization receives for some packages is huge, like numpy:
[code]

I pinned the ones with more candidates, so only the last versions are considered, removed couple of packages that I don't think we need, and the number of packages that the optimization receives decreased from around 2,500 to 800. And the process is not super fast, but I think the s

[2018-11-30 14:44] jbrockmendel commented on #24011
This came up recently for `Timedelta` too, so there is precedent for changing to return `NotImplemented`

The flip side is that doing this causes inconsistencies in the py2 vs py3 behavior for non-custom types (#23684).

[2018-11-30 14:59] digital-thinking opened #24016 "GroupBy aggregate: Must produce aggregated value"
I want to aggregate my dataframe by id and this is not the first time I came across this error, which is basically happening because it seems not to be allowed to return a numpy array in the aggregation function.
There are dozens of use cases, where rows are aggregated to numpy arrays and wrapping it with a list does lead to several other problems, like the datatype of the hole dataframe is of typ

[2018-11-30 15:03] TomAugspurger commented on #24016
Can you provide a minimal reproducible example and the output of `show_versions`?

[2018-11-30 15:03] TomAugspurger commented on #24014
Do you have a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-11-30 15:06] WillAyd commented on #24016
I would say generally we don't really have first class support for doing this, as outside the confines of apply it would be ambiguous as to the desired shape of the returned function.

What type would you be expecting besides object here?

[2018-11-30 15:07] AlexandreDecan commented on #24011
@jbrockmendel Support for Python 2 will be dropped at the end of the year if I'm right. It's not a big deal (at least to me) to wait until 2019 to see this behaviour "fixed" ;-)

@TomAugspurger I can give it a try, but I'm not used to Cython nor to deploy/test libraries with C-extensions. I'll keep you informed of my progress on this.

[2018-11-30 15:08] WillAyd commented on #24007
I'm -1 here; I don't think this belong as a keyword as it can be accomplished generally with reshaping

[2018-11-30 15:09] digital-thinking commented on #24016
Example:
[code]

[2018-11-30 15:57] gprichter opened #24017 "DataFrame or Series.replace(dict) for same type to type replacement produces undesired results"
#### Code Sample

[code]
#### Problem description

when a dictionary is used for the replacement ruleset, to replace values in a Series or DataFrame,
the rules of each dictionary entry are applied iteratively on the preceeding entries' outcome.
if the dictionary contains target values that are contained within the following rules, unpredictable behavior is the result.

**Note**: Tried to find issu

[2018-11-30 16:12] AlexandreDecan commented on #24011
With a clean installation of current master branch, two tests errored:

I made the change to return ``NotImplemented`` instead of rising a ``TypeError`` exception, and got:

However, I don't know if I have to do something specific after having changed the code (e.g. building pandas again or something else) ?

[2018-11-30 16:14] TomAugspurger commented on #24011
Did you recompile the C extension after making the change? `python setup.py build_ext -i`?

[2018-11-30 16:15] evangelineliu commented on #23816
Okay I'll take a look at the suggested change. Thanks!

[2018-11-30 16:25] liborw opened #24018 "df.style.render() not producing valid html"
#### Code Sample, a copy-pastable example if possible

Code is copied from [Styling](https://pandas.pydata.org/pandas-docs/stable/style.html).

[code]
#### Problem description

The problem is that the produced string is not even valid html, closing tags are missing, there are blank lines etc...

[code]

#### Expected Output

Something like this:

[code]

#### Output of ``pd.show_versions()``

[cod

[2018-11-30 16:34] #24018 closed

[2018-11-30 16:38] TomAugspurger commented on #24017
That's what I get on master.

[code]

I don't think there was anything in 0.23.4: http://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.23.4.html

Can you verify that things are fixed on master?

[2018-11-30 16:50] DeltaSigma130 commented on #23996
Thanks for the explanation, and it did turn out to be a Python closure issue.  The issue has nothing to do with the f-strings but with lambdas in a for loop.  The short answer is that the for loop does not create a new scope at every iteration, so the lambda functions all bind to the same `v` variable.

[https://docs.python.org/3/faq/programming.html#why-do-lambdas-defined-in-a-loop-with-different

[2018-11-30 16:54] WillAyd commented on #24016
Closing as I don't think this is something we really do or want to support. You'd be better off leveraging a MultiIndex to store your data rather than trying to place a NumPy array in a particular location of the frame

[2018-11-30 16:54] #24016 closed

[2018-11-30 17:30] AlexandreDecan commented on #24011
No, I didn't. I'm not used to "compile" Python code ;-)

Here are the results of ``./test_fast.sh`` after having recompiled the extension:

The one that failed is `` TestDatetimeIndexTimezones.test_dti_tz_localize_roundtrip[tz_aware_fixture6-idx3] ``. According to the output, it's a difference of around one second that lead the test to fail, so it's seems to be unrelated to the change I made.

Not

[2018-11-30 17:31] xiaochuanzhao opened #24019 "Numerical issue with rolling cov and corr"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I came across a strange behavior of Pandas rolling correlation. In the code snippet below, I'd assume v1 == v2 is true but it turns out not. This causes inf in rolling correlation (c1 vs. c2, where c2 is fine but c1 is "wrong" in my opinion). Since the standard deviation of a constant sequence is 0, the correla

[2018-11-30 17:42] TomAugspurger opened #24020 "Allow dtype promotion in Series[ExtensionArray].__setitem__?"
Pandas typically allows for `__setitem__` to change an object's dtype.

[code]

This typically won't work for ExtensionArrays:

[code]

So, two questions:

1. Do we *want* to allow this kind of type promotion for EA-backed series?
2. If so, how do we design it? Presumably something like `ExtensionArray._can_hold_item(item: Type[scalar, Sequence[scalar]]) -> bool`. Or maybe the return could be `Tru

[2018-11-30 18:00] MGDMedia opened #24022 "type integrity failure astype vs read_csv"
I'm having a problem with pandas where dataframes loaded from csv seem to revert to their origional dtypes when I set their indexes after processing. Look at this:

[code]

#### Problem description

You can see from the above, that after the I reset the
index my index columns go back to their original
data type instead of the data type I set them to.
Obviously the inability to depend on type consi

[2018-11-30 18:49] MLopez-Ibanez commented on #23844
Somebody created the images. Perhaps they have the source files? It would be useful to know at least the fonts and font sizes used, to be consistent.

[2018-11-30 21:02] alexander-ponomaroff commented on #23821
@datapythonista Do I need to move the whole build from CircleCI that happens in install_circle.sh into Travis? Or do I need to move specific tests that happen in CircleCI that don't happen in Travis already? Meaning that I will need to go through all TravisCI files and compare to what's going on in CircleCI.

[2018-11-30 21:37] #23814 closed

[2018-11-30 22:15] Darkonaut opened #24025 "Add columns-parameter like in feather.read_dataframe"
Wes suggested to raise this feature request here again, after I wondered why `pandas.read_feather` is lacking a `columns`-parameter like the [`feather-format`](https://github.com/wesm/feather) package has it.

You can read in only a subset of columns from a feather-file with e.g.:
`df = feather.read_dataframe('df_test.feather', columns='b')`

It would be really nice if `pandas.read_feather` also h

[2018-11-30 22:31] chris-b1 commented on #24025
Sure, would be a good addition, PR welcome!

[2018-11-30 22:32] chris-b1 commented on #24022
Can you reduce this to a minimal, runnable example?

[2018-11-30 22:40] datapythonista commented on #23821
I don't think there would be significant differences. I'm working in other PRs on standardizing the scripts used by the CI, so we can always use the same, but with different parameters. Didn't check the CircleCI ones in detail, but the `install_travis`  is not very different from the `setup_conda_environment` used in Azure. And the installation for circle looks very similar to `install_travis`.

S

[2018-11-30 22:43] datapythonista commented on #23821
Just seen that #23924 has been merged, which may slightly affect you, as it standardize the two testing scripts used in the CI into one.

[2018-11-30 22:49] jmarshall9120 commented on #24022
@chris-b1: I am the OP, this is my personal account, I didn't realize that other account was logged on when I posted.

Here's a minimal I just tested:

Paste the below in a csv:

[code]

run this:

[code]

actual output:
`>False`

expected output:
`>True`

[2018-11-30 23:47] gprichter commented on #24017
verified problem on another ubuntu machine with
``pd.__version__ == '0.22.0'``

see edited section above on _Resulting 1st output (replace)_

got a git clone from https://github.com/pandas-dev/pandas.git

can't verify for master, since
**install instructions for local development install** (non-conda http://pandas.pydata.org/pandas-docs/stable/contributing.html#creating-a-python-environment-pip *A

[2018-11-30 23:59] eahogue commented on #23960
Hm, just a clarification. I don't see a `fill_na` argument, but there is `fill_value` which doesn't have a description. Is that the argument you meant?

I'm looking [here](https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/core/frame.py#L3568-L3574).

[2018-12-01 00:17] #23980 closed

[2018-12-01 00:34] datapythonista opened #24028 "CI: Use all available cores in the CI"
If I'm not wrong, both Travis and Azure provide two cores for the execution of jobs (I think in both cases the number does not necessarily need to be 2, and could be higher, or I guess lower, depending on their load).

So far we are just parallelizing the execution of tests, where we are using 2 processes in most cases (except for the tests marked as `single`).

We should be able to speed up the C

[2018-12-01 00:44] TomAugspurger commented on #24017
http://pandas-docs.github.io/pandas-docs-travis/contributing.html

________________________________
From: Gerald Richter <notifications@github.com>
Sent: Friday, November 30, 2018 5:47:09 PM
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] DataFrame or Series.replace(dict) for same type to type replacement produces undesired results (#24017)

verified problem on a

[2018-12-01 00:45] TomAugspurger commented on #24017
That has the up to date instructions.

________________________________
From: Tom Augspurger <tom.augspurger88@gmail.com>
Sent: Friday, November 30, 2018 18:44
To: pandas-dev/pandas; pandas-dev/pandas
Cc: Comment
Subject: Re: [pandas-dev/pandas] DataFrame or Series.replace(dict) for same type to type replacement produces undesired results (#24017)

http://pandas-docs.github.io/pandas-docs-travis/c

[2018-12-01 03:37] nixphix commented on #24025
I'm working on this patch

[2018-12-01 07:46] jorisvandenbossche opened #24033 "Should our custom DTypes have a __len__ ?"
This came up in https://github.com/scikit-learn/scikit-learn/issues/12699.

Numpy dtypes have a lenght defined. For normal dtypes, this is 0:

[code]

but for structured dtypes this is the number of fields.

For our custom dtypes, you get a TypeError:

[code]

In hindsight, using the len of the dtypes in sklearn was maybe not the most robust idea, but that said: should we follow numpy here and als

[2018-12-01 08:55] AlexandreDecan commented on #24011
I created a PR to get test results from CI. Some of the failing tests are (depending on the chosen build process):

 - tests.arithmetic.test_datetime64.TestDatetimeIndexComparisons: test_dti_cmp_object_dtype
 - tests.arithmetic.test_numeric.TestNumericComparisons: test_df_numeric_cmp_dt64_raises
 - tests.frame.test_arithmetic.TestFrameComparisons: test_timestamp_compare
 - tests.indexes.test_base.

[2018-12-01 11:09] himanshu720 opened #24035 "Python3: Adding multicolumn rows in empty dataframe"
#### My Code
import pandas as pd
data = pd.read_csv('input_file', header = None, delimiter="\t", names = ['chr', 'sTSS', 'eTSS', 'gene', 'clust1', 'clust2'])

row_filter_column_clust2_1 = pd.DataFrame(columns = data.columns, index=data.index)
row_filter_column_clust2_1.append(data.loc[0]) #Row is not appended
print(row_filter_column_clust2_1) #Nothing is printed

#### Problem description
I want to

[2018-12-01 12:09] #24012 closed

[2018-12-01 12:54] TomAugspurger commented on #24035
IIUC, you're expecting `DataFrame.append` to be inplcae. It's not: http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.DataFrame.append.html

You probably don't want to use append anyway.

[2018-12-01 12:54] #24035 closed

[2018-12-01 12:58] TomAugspurger commented on #24033
Is scikit-learn likely to change its check? If so, I'd rather not define `__len__`.

[2018-12-01 13:14] jorisvandenbossche commented on #24033
Yes, in any case we will fix this in sklearn, since we want it to work with released versions of pandas (PR https://github.com/scikit-learn/scikit-learn/pull/12706).

Given that, I also don't see strong reasons to define it for pandas. The question is a bit how far we want to have them be compatible with numpy dtypes.

[2018-12-01 14:07] JoKeyser opened #24036 "Clarify how to cite pandas in scientific papers"
Dear developers,
first thank you for your great work.

I'd like to reference my use of pandas in my scientific work, but have been unable to find a recommendation how to cite this.
I'm aware of https://pandas.pydata.org/talks.html, but the "papers" seem to refer to conference proceedings (slides) that lack a publisher, and seem out-dated?

Maybe something similar to [SciPy's recommendations](https

[2018-12-01 15:57] gprichter commented on #24017
I can verify that **things are fixed on master**

as for the reason of the present BUG verified in '0.22.0' and '0.23.3'
- not worth the effort ?

[2018-12-01 16:09] TomAugspurger commented on #24017
IIUC you’re asking if the fix will be backported to those versions? In that case, no. 0.24.0 will be our next release, hopefully in a couple weeks.

[2018-12-01 16:09] #24017 closed

[2018-12-01 16:19] TomAugspurger commented on #24036
The paper linked from
https://www.scipy.org/citing.html is the correct one. We could update the link from talks. That’ll be in the pandas-website repository.

[2018-12-01 16:38] JoKeyser commented on #24036
@TomAugspurger thanks for the fast response.

So the correct bibtex entry is:
[code]

I guess the only issue then is/was the dead link on https://pandas.pydata.org/talks.html to http://jarrodmillman.com/scipy2010/pdfs/mckinney.pdf when it should link to http://conference.scipy.org/proceedings/scipy2010/pdfs/mckinney.pdf

An editor asked for a publisher, but then I'll just reply that there is no on

[2018-12-01 16:39] nmusolino commented on #23445
This parameter is [now documented](https://github.com/pandas-dev/pandas/blob/5b0610b875476a6f3727d7e9bedb90d370c669b5/pandas/core/frame.py#L1468-L1594) in the master branch (for the forthcoming 0.24 release), and this issue can be closed.

Link to master branch documentation:  http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.DataFrame.from_records.html?highlight=from_records#pandas

[2018-12-01 17:10] evangelineliu commented on #23816
This should be closed

[2018-12-01 17:12] himanshu720 commented on #24035
@TomAugspurger
Thank you for your reply. I tried as per the tutorial. I think I am using in the way given in the link you shared (please see below). But it is not working. I am biologist just started with Python. Your help is appreciated if you correct the code.

row_filter_column_clust2_1.append(data.loc[0])

[2018-12-01 17:42] nmusolino commented on #23076
I very much agree with the original description that the "sense" of the parameter's documentation is wrong.  I created a PR (#24037) with an attempt at fixing this, while being somewhat consistent with other "inplace" documentation.

[2018-12-01 18:09] TomAugspurger commented on #24035
I think you need to assign the output of that line to something, either a new variable or the same one.

[2018-12-01 18:16] jreback commented on #23816
@evangelineliu things are closed with a merged pull request

[2018-12-01 19:49] MrArca9 commented on #17275
This is for those who landed here from searching Google to see what's wrong.

If you are working out of a CSV, or XLSX make 100% sure none of your columns names have a space at the front or end of it.

When importing a CSV i noticed there was an issue getting a column. When exporting the df to a csv and opening it in excel, it's impossible to see the trailing or leading white spaces. You have to o

[2018-12-01 23:43] wesm commented on #13563
@joseortiz3 the problem has less to do whether there are users of the code and more about whether there is sufficient bandwidth to maintain the code. If there isn't a motivated developer base to support a component of an open source software project, it doesn't seem reasonable that maintainers of the rest of the project should be burdened by it.

The general thinking (and @jreback and others can c

[2018-12-02 02:08] #23445 closed

[2018-12-02 11:06] cozgenc opened #24043 "ENH: Support datetime.time objects with tzinfo in between_time and at_time"
The functions for DataFrame, "between_time" and "at_time" are unfortunately not time zone aware.

I suggest adding a timezone parameter to these functions to clearly specify which time zone the requested time belongs to. The sampler should take into account the time zone of data frame, and the supplied time zone.

It will also be interesting to be able to sample at a specific time both daylight sa

[2018-12-02 11:18] h-vetinari commented on #24020
This seems like it might fit the method `pandas.core.dtypes.cast.maybe_promote`, which does effectively that. It's quite broken and needs a major overhaul anyway - I've started by writing a docstring and tests for it in #23982

[2018-12-02 11:35] h-vetinari opened #24044 "BUG: .str.cat for all-na corner case"
A corner case that wrongly casts to FloatIndex if the result is all-na (e.g. due to alignment)
[code]

[2018-12-02 12:59] saurav2608 commented on #23952
I am claiming this.

[2018-12-02 13:11] h-vetinari opened #24046 "API: capabilities of df.set_index"
This is coming out of a discussion that has stalled #22225 (which is about adding `.set_index` to Series, see #21684). The discussion has shifted away from what capabilities a putative `Series.set_index` should have, but what capabilities `df.set_index` has *currently*.

The main issue (for @jreback) is that `df.set_index` takes arrays:

[code]

Further on:

I don't think I am confusing them. If I

[2018-12-02 14:11] h-vetinari commented on #23554
Discovered a relevant usage of the `timedelta/timedelta64` case:
`pandas.core.dtypes.cast.maybe_downcast_to_dtype` explicitly tests the inferred dtype for equality to `'timedelta64'`, but not `'timedelta'`.

[2018-12-02 16:17] jreback commented on #13563
This is exactly right. Furthermore, pandas has quite a number of pull requests coming daily and many open issues (2600+). We have a limited amount of core devs (12), so there is a natural limitation to how much the (already huge) scope of pandas can be. Panel is not nearly as mature as other aspects of pandas and would be better served by separate motivated maintainers. Note that there is already

[2018-12-02 17:05] jreback commented on #21824
is this example fixed? is this just a tracking issue for finding the cause?

@pandas-dev/pandas-core

[2018-12-02 17:09] #18714 closed

[2018-12-02 17:10] jreback commented on #18720
@TomAugspurger is this doable with the latest mpl release?

[2018-12-02 17:39] jbrockmendel commented on #24046
@h-vetinari should `list('ABC')` in the first example be `list(ABCD')`?  If not then I am confused in several directions.

[2018-12-02 17:42] datapythonista commented on #23952
Feel free to do it in more than one PR, that's all right. But I wouldn't worry much about conflicts, they are not so likely to happen, as the changes to the files will be very small. And if in some case someone is cleaning that rst file and reorder the imports (that's the main thing that could generate a conflict), it should be quite easy to fix. Besides that, I'll try to merge it asap.

Just to b

[2018-12-02 17:42] h-vetinari commented on #24046
@jbrockmendel
That was indeed an artefact from merging together several things from the other thread to make this issue...

[2018-12-02 18:06] #22892 closed

[2018-12-02 18:09] #23508 closed

[2018-12-02 18:18] #23791 closed

[2018-12-02 19:15] gfyoung commented on #21824
@jreback : Not really sure?  The examples don't seem to segfault for me...

cc @jorisvandenbossche

[2018-12-02 19:15] gfyoung commented on #21824
Actually, I take that back.  They do.  Just as I exited the Python console.

[2018-12-02 19:37] topper-123 commented on #22156
This has been fixed in #22157.

[2018-12-02 19:37] #22156 closed

[2018-12-02 20:58] #24044 closed

[2018-12-02 22:45] joseortiz3 commented on #13563
Totally reasonable, of course. Would it be so difficult to write a "panel wrapper" that has a panel-like interface to what is actually a multi-index dataframe? It wouldn't need to implement _all_ of the methods of panel, it would just allow the for 90% of legacy code to be rewritten via a simple `from pandas import PanelMultiIndex as Panel`. If I had time and/or money! Some day.

[2018-12-02 23:06] #23555 closed

[2018-12-02 23:06] #23556 closed

[2018-12-02 23:10] #21809 closed

[2018-12-02 23:14] himanshu720 commented on #24035
Thank you for help. It is working fine now.

[2018-12-02 23:19] #23978 closed

[2018-12-02 23:25] himanshu720 opened #24055 "Python3: How to split the tuple generated by the .groupby function in pandas"
####My Code
data = pd.read_csv('input_file', header = None, delimiter="\t", names = ['chr', 'sTSS', 'eTSS', 'gene', 'clust1', 'clust2'])

dup_clust2 = data.groupby('clust2').filter(lambda x: len(x) > 1)

for element in dup_clust2.groupby('clust2'):
    print(element)

####Required Output:
split tuple in two lines**
(0    chr2    166760255    166760255    Cse1l_tss10    52.0    5426)
(1    chr2

[2018-12-03 00:04] tdpetrou opened #24057 "DataFrame.rolling.size not implemented and errors in aggregation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`size` should be implemented and return the size of the window. This is useful when downsampling over a larger frequency than the current. For instance, downsampling with weeks for daily data.

`'size'` yields a nonsense result when used as a string inside of `agg`.  `'count'` works but does not get the desired

[2018-12-03 00:05] #22844 closed

[2018-12-03 00:11] gfyoung commented on #22844
FYI @pandas-dev/pandas-core : the reason why we can't view the pipeline dashboard for Travis is because we don't have the Travis GitHub app enabled on this repository.

Unfortunately, there is no way to migrate from `travis-ci.org` to `travis-ci.com` at the moment.

[2018-12-03 00:16] datapythonista commented on #16529
@pandas-dev/pandas-core I think this was agreed during the sprint at Scipy, but I'm not sure if it was discussed when to deprecate the inplace parameters. Is it something we want to do before 1.0?

Personally I think the sooner, the better, since the decision is made.

[2018-12-03 00:35] jreback commented on #16529
this is going to cause major downstream complaints, but I agree this should be sooner rather than later.

Would accept a FutureWarning for this for 0.24.0

[2018-12-03 01:19] datapythonista opened #24058 "DOC: Fix order of sections in Series docstrings"
For consistency and to make our users life easier, we try to keep the same order of the sections in docstrings.

The right order of the sections is the defined by the numpydoc standard: https://numpydoc.readthedocs.io/en/latest/format.html#sections

Checking for errors in pandas `Series` attributes, we find many cases where the order is wrong:
[code]

We should change the order of the sections in

[2018-12-03 01:30] datapythonista opened #24059 "DOC: Fix quotes position in Series docstrings"
To keep out docstrings consistent, and make them easier to read, we try to keep always the same exact format. In the case of the opening and closing quotes, the right format is:
[code]

But for historical reasons, we have many docstrings with different format, for example:
[code]

Besides being inconsistent, having docstrings with the wrong format doesn't let us start validating and enforcing auto

[2018-12-03 01:47] mroeschke commented on #24055
For usage questions, please use StackOverflow. The issues tracker is for software bugs or enhancement requests.

[2018-12-03 01:47] #24055 closed

[2018-12-03 01:57] mroeschke commented on #24043
`between_time` and `at_time` already function when the index is tz-aware (the specified times are local to that timezone). I'm also not clear of the primary concern.

[code]

[2018-12-03 02:14] jreback opened #24060 "RLS: 0.24.0"
Tracking issue

[Open PRs](https://github.com/pandas-dev/pandas/pulls?q=is%3Aopen+is%3Apr+milestone%3A0.24.0)
[Open Issues](https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.24.0)

Let's whittle down. I just looked the lastest whatsnew and its huge. Let's get this out sooner rather than later. I know there are some blocking issues: DatetimeArray & What do do with Cal

[2018-12-03 05:34] #23666 closed

[2018-12-03 06:53] h-vetinari commented on #22812
Re-pinging @jreback @jorisvandenbossche @TomAugspurger @cpcloud @gfyoung @toobaz

[2018-12-03 08:37] charlesdong1991 commented on #24059
will work on it.

[2018-12-03 09:13] gfyoung commented on #22812
@h-vetinari : Yikes!  Sorry that we all went dark on this...

Given that you already had some backing already on this proposal from @jreback , I would suggest that you try implementing this and open a PR.  In terms of implementation, I'm inclined to agree that naming / behavior should be consistent with SQL.

If we're afraid that "coalesce" is unfriendly to end-users, I don't see why we couldn't a

[2018-12-03 09:17] gfyoung commented on #22812
@pandas-dev/pandas-core @h-vetinari : As a side note, I noticed that you have a handful of substantive PR's open that touch upon some pretty big functionality questions but seemed to have reached impasse's either as a result of core-dev's not answering or @h-vetinari your not updating them for awhile...

Perhaps we / you might want to clean those up first for merging before opening yet another PR?

[2018-12-03 09:59] JoKeyser commented on #24036
@mroeschke yes, I think it's helpful to include it anywhere an author would look after it. Over in the `R` world, most packages come with their `citation` command, which makes it very convenient (and thus likely) to be cited correctly.

Not sure whether such a discussion belongs here, but it seems to me that also the work since 2010 could be included into an "official" reference recommendation?

[2018-12-03 10:56] datapythonista opened #24061 "CI: Log of the benchmarks doesn't keep the line breaks"
The log displayed in azure-pipelines for the benchmarks, doesn't keep the line breaks, making it very difficult to read. See: https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=4580

[2018-12-03 10:59] sgsaenger commented on #16718
@toobaz correctly explained the third case.

The 4th case is indeed a bug, and stems from the usage of `DataFrameFormatter._to_str_columns` as the source of the initial string representation. Compare the `.to_string` method which shows similar behavior:

[code]
[code]

[2018-12-03 12:16] seboktamas commented on #24014
Minimal example:
import pandas as pd
df = pd.Series([0,1,pd.np.nan,3,4])
df.interpolate(method='spline')

[2018-12-03 12:23] TomAugspurger commented on #24014
For clarity, the expected output is

[code]

@seboktamas can you edit your original post to include the minimal example and the expected output?

[2018-12-03 12:31] TomAugspurger opened #24064 "TST: Implement tests for Date/TimelikeOps directly on array"
followup to https://github.com/pandas-dev/pandas/pull/24038, blocked by #24024.

Once #24024 we should move the majority of the tests hitting Date/TimelikeOps over to using the array class, and then have a few tests ensuring that the index index wrapping still works.

[2018-12-03 12:52] sgsaenger commented on #20008
You will get the expected output if you call `df.to_latex(multicolumn=False)`.

The cause is that the latex formatting depends on the output of `DataFrameFormatter._to_str_columns`, which uses empty labels to remove repeated labels, therefore  `LatexFormatter._format_multicolumn` cannot distinguish between empty labels that should stay and empty labels that should be converted to multicolumn.

I a

[2018-12-03 12:53] TomAugspurger commented on #16529
A few questions:

1. There are some places (`.where` comes to mind, `fillna`? Maybe others?) where the operation can truly be done inplace. I don't think those should be deprecated.
2. Following 1. is it possible to *detect* when we're doing an "inplace" operation on a copy? Could we only warn in those cases?

[2018-12-03 13:02] jreback commented on #16529
this is a very limited number, and though possible to detect (e.g. a Series of a single dtype, or a DataFrame of a single dtype), IMHO is not worth leaving this option. just adding code complexity w/o any real perf benefit. So -1 on doing this.

[2018-12-03 13:06] datapythonista commented on #16529
In my opinion, ideally we should always do the operation in place if possible, but still return a new object.

So, `df = df.fillna(0)` wouldn't copy memory (assuming no type change), and if the user does want to modify a copy, they should do `df2 = df.copy().fillna(0)`.

Not sure if in practice can be complex to implement in some cases. But if that makes sense, we should deprecate all `inplace` ar

[2018-12-03 13:13] jreback commented on #16529
this is too complex. You either do it inplace or you don't. The keyword controls it. If we remove the keyword then it should *never* modify the original.

[2018-12-03 13:31] TomAugspurger opened #24066 "DOC: Added array section for DatetimeArray"
Followup to https://github.com/pandas-dev/pandas/pull/23581, blocked by #24024.

Need to add a section to api.rst about DatetimeArray, TimedeltaArray, and DatetimeTZDtype.

[2018-12-03 13:31] sgsaenger commented on #16719
Does this problem persist in any way?
v0.23.4 seems to correctly yield:
[code]
![latex_bug](https://user-images.githubusercontent.com/8004308/49376642-278ab180-f708-11e8-8f3b-353c00481713.png)

[2018-12-03 13:32] #23057 closed

[2018-12-03 13:38] TomAugspurger opened #24067 "Explicitly include "private" ExtensionArray methods in API docs"
Seems like the developer methods like `_values_for_facotrize` are excluded from autodoc.

http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.api.extensions.ExtensionArray.html#pandas.api.extensions.ExtensionArray

We should be able to explicitly list out the methods / attributes that are public.

May have to change the template to `autosummary/class_without_autosummary.rst` like Cate

[2018-12-03 14:42] datapythonista opened #24068 "DOC: Make _field_accessor manage the docstring format"
We started to validate the formats of docstrings. For example, we expect that the summary of the docstring starts in the next line of the opening `"""` (see #24059).

In some cases the docstrings are generated dynamically, and in the case of `_field_accessor`, we have to write some line breaks to avoid the validation to fail, for example:
[code]

In this issue we should update the code of `_field_

[2018-12-03 15:08] charlesdong1991 commented on #24068
would like to fix this \n mistake i made beforehand if you don't mind...

[2018-12-03 15:12] datapythonista commented on #24068
Not sure I understand. Your previous PR was good, it's better to fix this separate from all the other changes. And as it has already been merged, it can't be changed (if you push to your branch, nothing will be updated or happen)

[2018-12-03 15:18] datapythonista commented on #24059
Closed in #24065

[2018-12-03 15:18] #24059 closed

[2018-12-03 15:19] datapythonista opened #24070 "DOC: Fix quotes position in Timestamp and Timedelta"
To keep out docstrings consistent, and make them easier to read, we try to keep always the same exact format. In the case of the opening and closing quotes, the right format is:
[code]

But for historical reasons, we have many docstrings with different format, for example:
[code]

Besides being inconsistent, having docstrings with the wrong format doesn't let us start validating and enforcing auto

[2018-12-03 15:22] datapythonista opened #24071 "DOC: Fix quotes position in pandas.core"
To keep out docstrings consistent, and make them easier to read, we try to keep always the same exact format. In the case of the opening and closing quotes, the right format is:
[code]

But for historical reasons, we have many docstrings with different format, for example:
[code]

Besides being inconsistent, having docstrings with the wrong format doesn't let us start validating and enforcing auto

[2018-12-03 15:59] #24061 closed

[2018-12-03 16:02] TomAugspurger commented on #16529
It depends on the application, but not having to copy can be a pretty big win, right? :)

Still, I agree that this is tough (impossible) to detect ahead of time. Is it feasible to detect it after the fact, and raise a `PerformanceWarning` in those cases (possibly elevating the an error later, if that makes sense)? In a simplified BlockManager world (one block per column) we could maybe keep a weak

[2018-12-03 16:04] jreback commented on #16529
I am really -1 on this in any users code. So while this may have to be an extended deprecation cycle I think its worth it.

[2018-12-03 16:37] pganssle commented on #23959
Sorry, I have somewhat let this fall by the wayside.

Unfortunately, I don't know of any reasonably generic way to compare time zones, and the semantics of timezone aware datetime comparison [unfortunately use `is` rather than `__eq__`](https://blog.ganssle.io/articles/2018/02/a-curious-case-datetimes.html).

The reason for `tz_compare` is because `pandas` is working around `pytz`'s workaround for

[2018-12-03 16:41] pganssle commented on #23959
By the way, my solution to this that should unravel most of the complicated stuff you are doing around time zones is to create your own IANA time zone implementation. The two representations you are relying on are not designed for your use case, and as a result you make ample use of private methods, which is a much higher maintenance burden than just creating your own time zone implementation.

I

[2018-12-03 16:55] datapythonista commented on #16529
This is the list of methods functions in the public API with a parameter named `inplace`.

Those are not really in place, and should be deprecated:
- pandas.eval
- pandas.Series.clip
- pandas.Series.clip_lower
- pandas.Series.clip_upper
- pandas.Series.drop
- pandas.Series.drop_duplicates
- pandas.Series.rename_axis
- pandas.Series.reset_index
- pandas.Series.set_axis
- pandas.Series.mask
- pandas

[2018-12-03 16:57] giantpanpan commented on #24071
Hi @datapythonista Can I work on this issue?

[2018-12-03 16:58] datapythonista commented on #24071
Absolutely, let me know if you need help. Thanks @giantpanpan

[2018-12-03 17:00] giantpanpan commented on #24071
@datapythonista  Thank you!

[2018-12-03 17:37] TomAugspurger commented on #16529
@datapythonista how'd you define that list of methods that are not really inplace? I haven't looked closely, but things like `Series.rename_axis` should be doable without copying data. I believe `clip` / `clip_lower` as well.

---

So that argument is independent of whether or not any operation *can* be inplace, and we should discuss that. i.e. that it's the "opinion of pandas" that inplace is an

[2018-12-03 17:42] jreback commented on #16529
my point is this adds a lot of complexity
sure it’s opionated but so what

complexity is killing the ability of most folks to make modifications

this simplifies the model a great deal

[2018-12-03 17:42] datapythonista commented on #16529
I just started the list of the actual inplace methods with the ones you said. There are some I can guess they should be able to be in place, like `replace`, but thought you or Jeff would know from the top of your head, so didn't want to guess.

Will move the lists to the description, and try to get it closer to reality, feel free to edit afterwards.

[2018-12-03 17:46] h-vetinari commented on #22812
@gfyoung

My preference would be `.fuse`, as outlined in https://github.com/pandas-dev/pandas/issues/22812#issuecomment-425079186

Perhaps we / you might want to clean those up first for merging before opening yet another PR?

I try to keep all my PRs current and have responded quickly to any and all feedback, but since that is such a scarce resource (and in my case, >95% of it is done by @jreback

[2018-12-03 17:54] datapythonista commented on #24070
Yes please, let me know if you need help.

[2018-12-03 18:02] jreback commented on #23959
@pganssle

what would this look like?

[2018-12-03 18:22] cozgenc commented on #24043
Please tell me how you will be able to get the rows for US/Eastern 09:00am, if the dataframe time zone is set to Europe/Berlin for example?

You are simply creating dependency between the code that prepared the dataframe, the code that consumes the dataframe. If you add timezone parameter to these functions you may explicitly specify which time you are talking about. Time without a timezone doesn'

[2018-12-03 18:43] diogo-bastos commented on #24070
Thanks @datapythonista, I will!

[2018-12-03 18:43] YuechengWu commented on #24058
Hi, I would like to work on this if it's ok, thanks.

[2018-12-03 18:49] datapythonista commented on #24058
Thank you @YuechengWu, that's great. Let me know if you need help.

And feel free to do it in more than one PR if you think it's too much for a single one (I think many of the items in the list reuse the same docstring, so the changes shouldn't be as long as they may look).

[2018-12-03 18:50] YuechengWu commented on #24058
@datapythonista Thanks.

[2018-12-03 19:10] YuechengWu commented on #24058
@datapythonista Hi Marc, do I use the command line to test for the errors? or can I still use Anaconda to test it?

[2018-12-03 19:16] datapythonista commented on #24058
You should have a development environment. Instructions to set it up are here: https://python-sprints.github.io/pandas/guide/pandas_setup.html#instructions

Then, in the command line (or Anaconda prompt) with the pandas-dev environment active, you should be able to run the command in the description from the root of the project.

[2018-12-03 19:18] mroeschke commented on #24043
When using `at_time` and `between_time`, specified arguments are assumed to be in the local time relative to the timezone of the DatetimeIndex. Therefore, you can use `tz_convert` to switch between timezones when indexing with these methods.

However, it appears that currently passing `datetime.time` objects with `tzinfo` are not supported yet, which would address your primary concern I believe:

[2018-12-03 19:46] ismell opened #24076 "Slicing DatetimeIndex should be timezone aware"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

When slicing a DatetimeIndex using a timestamp that has a timezone, the timezone is not used as part o the comparison.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Linux
OS-release: 4

[2018-12-03 20:29] TomAugspurger opened #24077 "Support ExtensionArray types in where"
This is blocking DatetimeArray. It's also a slight regression from 0.24, since things like `.where` on a DataFrame with period objects would work (via object dtype).

I think the easiest place for this is by defining `ExtensionBlock.where`, and restricting it to cases where the dtype of `self` and `other` match (so that the result dtype is the same).

We can do this pretty easily for our EAs by pe

[2018-12-03 21:59] pganssle commented on #23959
Taking some time to sketch out some sort of prototype is on my list, but unfortunately it's not *high* on my list, but I think the high level overview is:

1. I resolve dateutil/dateutil#701, so that the `dateutil` zoneinfo file can be a separate dependency of `pandas` (I think `pendulum` has a package that's just the tz data, too, but I don't know if it's suitable for general use).
2. `pandas` ad

[2018-12-03 22:05] chris-b1 commented on #24022
So I think here is a simpler repro of the fundamental problem
[code]

In read_csv `dtype=object` always means strings (pass through the data unparsed).  In astype, as it works in numpy, `dtype=object` boxes the individual values into the appropriate python type.  e.g.
[code]

I think your best bet here, is to use `str` in place of `dtype('O')` - in both cases will then cast to strings.

[2018-12-03 22:49] dragoljub opened #24079 "DataFrame.fillna() fails with categorical columns present when trying to fill missing values in numeric columns with NaNs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
fillna() fails on a data frame that has categorical columns without any missing values and numeric columns that have some missing values. It appears that fillna is attempting to fill categorical columns even though they have no missing values.

#### Expected Output
I expected the missing value in the numeric col

[2018-12-03 22:53] TomAugspurger commented on #24079
I think we would like to have the invariant that

[code]

is equivalent to `df.fillna({col: scalar for co in df.columns})`.

[2018-12-03 22:53] jmarshall9120 commented on #24022
Thanks, for the reply.

That's kind of a problematic solution.  In the case I've presented I know the data came from a .csv and is thus can cast to string.  But what if i didn't know where the data was coming from?

I think my real problem here is type consistency when setting indexes.  As it it the DataFrame tells me the data its dtype('O') and it becomes dtype('int64') just by calling `.set_inde

[2018-12-03 23:09] dragoljub commented on #24079
OK. So then the question becomes should  ``pd.Categorical([1,2,3]).fillna(0)`` rais a ValueError even if there are no missing values, regardless if we are trying to fill a non-existing category?

[2018-12-03 23:16] datapythonista opened #24081 "TST: Implement lock decorator for single tests"
At the moment in the CI, for every build, we run our tests twice, one with a filter to run the tests marked as `single` (`@pytest.mark.single`) and the second one the ones NOT marked as `single` (we call them `multi`).

The reason for this, is that we usually run the tests in parallel (we can use 2 processes in the CI servers), but the tests marked as `single` can't run in parallel, as they need t

[2018-12-03 23:22] jreback commented on #24081
sure it might make it slightly simpler for the test code but this is not about file contention per say but singular reaources - a database or an Xbuffer

the reason we have marks is to do exactly this kind of splitting

you could maybe run the single in other builds than the multiple but then u lose coverage of running in different kinds of builds
so -1 on this

[2018-12-03 23:33] datapythonista commented on #24081
Thanks for the feedback, I guess I'm missing something... what's the advantage (or how is it different) of what we've got now?

Now we always run both single and not single, and the single run in a sequential way without being concurrent with any other test.

If we use a lock (a file lock is probably the only reasonable option), we'd always run both single and not single too, and the single won't

[2018-12-03 23:50] jreback commented on #24081
@datapythonista you are welcome to try. My point is that when we had these tests running in anything but single threaded / single process mode, we would get occasional failures. This is not great and a source of confusion. Its pretty simple now, and we are using built in features of pytest. Using something else, where its not necessarily designed may or may not work and is sure to add complexity.

[2018-12-03 23:50] TomAugspurger commented on #24079
I think it should raise since we don’t want that do depend on the values, just the type.

________________________________
From: Gagi <notifications@github.com>
Sent: Monday, December 3, 2018 17:09
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] DataFrame.fillna() fails with categorical columns present when trying to fill missing values in numeric columns with Na

[2018-12-03 23:58] h-vetinari commented on #22812
@wesm
Thanks for taking the time to answer.

The pre-existing name is a strong argument for sure. While I care much more about the functionality than what name it resides under, I also see the appeal of not having the baggage of preconceptions that come with the name (e.g. `coalesce` does not have a notion of a join/overwrite in SQL land, or `update` being inplace, etc.)

This could look as follow

[2018-12-03 23:58] datapythonista commented on #24081
Fair enough, just wanted to make sure I understood your point.

[2018-12-03 23:58] #24081 closed

[2018-12-04 00:02] wesm commented on #22812
The name "fuse" doesn't really connote the "overlay" aspect of combine_first to me, but I don't have super strong feelings about it

[2018-12-04 00:04] dragoljub commented on #24079
I agree it should not depend on values, but if the sate of the categorical columns is ``col.isnull().all() == False`` should we just pass back the untouched categorical series? Maybe I'm missing how the underlying ``fillna()`` is implemented in Categorical, but I would assume if there is nothing to fill it should return the existing/untouched Catagorical series. That should play nice with the high

[2018-12-04 00:09] TomAugspurger commented on #24079
You need to look at the values to see if there are any missing though.  I’d recommend adding the fill value as a valid category early on in your pipeline.

________________________________
From: Gagi <notifications@github.com>
Sent: Monday, December 3, 2018 18:04
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] DataFrame.fillna() fails with categorical columns pre

[2018-12-04 01:12] eahogue commented on #23960
Please take a look. I am not very savvy with github so pls let me know if I should do anything differently.

[2018-12-04 01:31] datapythonista commented on #24081
@jreback have you seen that `pytest-xdist` has an argument `--dist` that can be used to group tests (for example all the ones in the same file), and it would be guaranteed that they run in the same process.

Do you think using that option will be enough to solve the concurrency problems of the `single` tests? (btw, seems like in `pytest` they use the `serial` marker for what we call `single`)

Doc

[2018-12-04 01:38] jreback commented on #24081
those options look pretty new to me ; give it a shot!

[2018-12-04 03:02] saurav2608 commented on #23952
This change introduces additional bunch of erros on `LINT=1 ./ci/code_checks.sh` of the type `F821 undefined name 'pd'`

[2018-12-04 04:16] coady opened #24085 "DataFrames don't handle input arrays of dtype str/bytes consistently."
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
DataFrames appear to automatically convert numpy arrays of dtype `U` to `O`.  But whether they allow columns of dtype `S` is inconsistent.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
-----------------

[2018-12-04 07:02] mnjenga2 commented on #21422
Hi there.
I need your help guys, I have a series of dates in '%Y-%m-%d' and I need them in '%Y%m'.
like 2018-12-04 to 201804.
I will appreciate any assistance.
Thanks

[2018-12-04 09:19] glyg commented on #22126
Thinking about this (yes 4 months latter :sweat_smile:) , I realized that my reservations were pointless, as if one of the columns have mixed data types, then the only way all the columns have the same type is if it's `object`, thus making the patch useless. So the test is good. Should I open a PR?

[2018-12-04 10:51] set92 opened #24087 "Comparisons between datetime64[ns]"
#### Code Sample, a copy-pastable example if possible
**content of dataframe j**
_REFERENCIA FECHAPROGRAMA FECHAENVIO  NECESIDAD_
0       81007104    2015-04-04 2016-01-04     1038.0
1       81007104    2015-04-11 2016-01-04     1281.0
4       81007104    2015-04-18 2016-01-04     1172.0
...
1228    81007104    2015-12-05 2016-01-28      180.0
...
1541    81007104    2016-01-02 2016-01-29      180

[2018-12-04 12:52] datapythonista commented on #23952
I think you need to update the version of `flake8-rst`.

[2018-12-04 12:52] ryanjdillon commented on #16898
In what `pandas` version should `to_datetime(ts, utc=True)` give you a tz aware `Timestamp`. I'm on `0.20.0` and it still gives me a tz naive time.

[2018-12-04 12:55] jreback opened #24088 "CI: mpl test failures"
https://travis-ci.org/pandas-dev/pandas/jobs/463295292; keep failing even with a restart.

[code]

[2018-12-04 12:55] jreback commented on #24088
cc @TomAugspurger

[2018-12-04 12:58] ryanjdillon commented on #16898
I have found that the following gives me naive timestamps:
[code]
Whereas the following gives me tz aware timestamps:
[code]

What might be going on here?

[2018-12-04 13:02] TomAugspurger commented on #23569
Sorry I missed this earlier. I'm concerned about the default behavior on `DatetimeIndex.__array__` and `Series[datetime64[ns, tz]]` with tz-aware data. Both of these convert to UTC, drop the tz, and return an `M8[ns]`-dtype array

[code]

This unfortunately conflicts with `__iter__`.

[code]

Do we care about that (I do)? Should we deprecate the current behavior?

[code]

usage:

[code]

[2018-12-04 13:05] TomAugspurger commented on #23569
As an example of the kind of strange knock-on effects this has, see https://github.com/pandas-dev/pandas/pull/23601/files#diff-425b4da47d01dc33d86c5c697e196b70R1128.

Ideally we'd just write `array = np.asarray(values)` there, but we had to special case categorical there, since it dispatches to `.categories.__array__`, which did the "wrong" thing for datetime data.

[2018-12-04 13:09] #22846 closed

[2018-12-04 13:09] #23590 closed

[2018-12-04 13:11] #20452 closed

[2018-12-04 13:18] TomAugspurger commented on #24088
Thanks... taking a look now.

[2018-12-04 13:19] lumbric commented on #21286
I stumbled upon code where `rolling()` is called with `window=0` but the code runs fine without error. No segfault occurred. I haven't figured out why it doesn't crash in my case. Just as warning to future users of older pandas versions: passing window=0 might silently produce wrong results without crash.

[2018-12-04 13:19] jreback commented on #23569
I agree here. ``np.asarray()`` should preserve dtype if possible. so ok with making this consistent.

[2018-12-04 13:23] TomAugspurger commented on #24088
@tacaswell what kinds of guarantees does matplotlib make for pickling figures?

[2018-12-04 14:11] h-vetinari commented on #24088
It's a statsmodel bug: statsmodels/statsmodels#4772

[2018-12-04 14:14] h-vetinari commented on #24088
It might be related to this statsmodel bug: statsmodels/statsmodels#4772
Unfortunately, it doesn't look like a statsmodel 0.10 is on the horizon: https://github.com/statsmodels/statsmodels/milestone/11

The last comment in that thread seems to provide a workaround.

[2018-12-04 14:22] TomAugspurger commented on #24088
Weird... thanks @h-vetinari. I'd rather have to carry that patch around. How about skipping in that case?

[code]

[2018-12-04 14:35] chris-b1 commented on #24022
Casting (`astype`) to `dtype('O')` is almost always a bad idea (at least off the top of my head) - the issue isn't really `set_index` - it's that cast that put your data in an odd state - integer values boxed in a object dtype.

And it of course depends, but in the general use of pandas, there shouldn't be a lot of casting/dtype specifying required.  e.g., typically in read_csv you'd only specify

[2018-12-04 14:41] PAeberhard opened #24091 "BUG: loc behaves incorrectly on PeriodIndex within MultiIndex with 3 levels"
#### Code Sample

[code]
#### Problem description

For a Series with a MultiIndex that 1) has exactly 3 levels, and 2) the first level is a PeriodIndex (see examples above), indexing by a triple (`series.loc[(first, second, third)]`) behaves the same as `series.loc[first]`, i.e. the return value is another series with a 2-level MultiIndex, whereas I expect a scalar value from the series.

If the f

[2018-12-04 14:47] chris-b1 commented on #24085
Rolling this under #5261 - in general we don't support numpy string dtypes, but in some construction paths where we try to be zero-copy, they can make it into a DataFrame.

[2018-12-04 14:47] #24085 closed

[2018-12-04 14:48] chris-b1 commented on #24085
(feel free to comment there if you have more specific suggestions)

[2018-12-04 15:19] #24088 closed

[2018-12-04 15:36] Gerenuk opened #24093 "Automatically keep categorical type on merge"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It would be nice if when merging on categorical columns, their categorical nature would remain by an automatic union_categoricals. Currently only categoricals with identical values remain categorical and merge on non-identical categoricals becomes object type.

[2018-12-04 16:00] ismell opened #24094 "`pd.Timestamp() + pd.TimedeltaIndex()` drops timezone"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The values are converted to UTC, but the UTC timezone isn't set in the new index. If a timezone conversion is going to occur, it should set the new timezone if one was provided.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

pd.DatetimeIndex([start_time + td[0], start_time + td[

[2018-12-04 16:35] dragoljub commented on #24079
Does select_drypes create a copy?

Any way, there are several workarounds. If collectively we don’t think it’s a bug I’m fine with closing this. Thanks.

[2018-12-04 17:07] datapythonista commented on #23952
We have it in the header, and the header is used in all the files, I don't think that should be necessary, right? Doesn't `flake8-rst 0.7` merges all the blocks, including the first one with the header?

[2018-12-04 17:09] jbrockmendel commented on #24094
This is fixed in master.  Closing.

[2018-12-04 17:09] #24094 closed

[2018-12-04 17:12] datapythonista commented on #23952
Oh, sorry, just realized that `flake8-rst` is not rendering the header with its content, I forgot about it.

@FHaase can the bootstrap argument be added to `setup.cfg`, or should it be in the call?

@saurav2608 for the other imports failing, there are not many, and I think if you import `StringIO`... in the first block where there are used, just with few imports they should all be fixed. Do you mi

[2018-12-04 17:15] jbrockmendel commented on #24060
The idea is for 0.24.0 to be the last py2-supporting release, right?

#24021 fixes a corner case behavior in Timestamp comparisons, but also introduces an inconsistency between py2/py3 behavior.  #21394 made the analogous change to Timedelta comparisons.

The _least_ consistent thing we could do is to keep the status quo, changing Timedelta behavior but not Timestamp behavior.  The question is whe

[2018-12-04 17:59] saurav2608 commented on #23952
I think the bootstrap argument is to be added to ./ci/code_checks.sh as
`MSG='Linting code-blocks in .rst documentation' ; echo $MSG
flake8-rst doc/source --filename=*.rst --format="$FLAKE8_FORMAT" --bootstrap 'import numpy as np; import pandas as pd'`

If I add bootstrap to the file, then I am left with about 25 linting error most of them from cookbook.rst. And almost all of them can be taken car

[2018-12-04 18:04] YuechengWu commented on #24058
@datapythonista Hi Marc, when I run the command, it tells me '.' is not recognized as an internal or external command. I believe my environment is setup correctly.

[2018-12-04 18:04] jbrockmendel commented on #24087
The `j['FECHAENVIO'][-1:]` gets you a Series, where I think what you want is just the scalar `j['FECHAENVIO'][-1]`

[2018-12-04 18:07] jbrockmendel commented on #24076
@jorisvandenbossche a while back there was a couple of threads about slicing conventions with strings and tz-awareness.  I _think_ this is orthogonal, but this merits another pair of eyes.

[2018-12-04 18:19] FHaase commented on #23952
`flake8-rst` works with the raw files. So no 'preprocessing' is done.

However I think I correct my comment from above. As we basically assume numpy and pandas are imported in both, the documentation and the docstrings i think it's better to add it in the setup.cfg.

[code]

Haven't they been added previously in the first `.. ipython::` directive?
I'd leave a `.. ipython::` directive with just tho

[2018-12-04 18:20] andersrmr commented on #23053
#23112 So the fix will show up in the next release of pandas/pyarrow?

[2018-12-04 18:21] joshuamhtsang commented on #23638
@bodgerer This might not be what you're looking for, but you can just ignore testing certain vendor directories:

$ pytest --ignore=../build/lib

At least now you can perform testing on the code you write yourself.

[2018-12-04 18:45] TomAugspurger commented on #23053
Next version of pandas. Aiming to have it out by the end of the year.

On Tue, Dec 4, 2018 at 12:21 PM Richard Anderson <notifications@github.com>
wrote:

[2018-12-04 18:55] FelixAntonSchneider commented on #17309
Hi everyone,
I just stumbled upon the same issue. It would be very important imo to cover this in the documentation. At least I have been very confused by it, since the only entry in the docs regarding transform clearly says that lists and dicts of functions can be passed as an argument. It was not clear to me that the same syntax does not apply to grouped objects.

[2018-12-04 19:49] charlesdong1991 commented on #24064
has it been picked up? would like to work on it once the PR 24024 is finished

[2018-12-04 19:56] TomAugspurger commented on #24064
No ones working on it yet. It'll be 1-2 weeks before #24024 is done.

On Tue, Dec 4, 2018 at 1:49 PM Kaiqi Dong <notifications@github.com> wrote:

[2018-12-04 19:58] datapythonista commented on #24058
Can you copy here what you are running and what you are getting. Not sure if you have a space after the period, or something like that. But can't really tell without a screenshot or a copy of what you are running.

[2018-12-04 20:02] YuechengWu commented on #24058
![image](https://user-images.githubusercontent.com/25010571/49469473-a0a40a80-f7d5-11e8-8dd9-7ccdaef3f3fe.png)

@datapythonista This is what I am getting

[2018-12-04 20:02] charlesdong1991 commented on #24064
thank you very much for your quick response @TomAugspurger , I will keep an eye on 24024, and then take a shot!

[2018-12-04 21:23] alex-fe opened #24101 "Pickling on Windows raises EOFError"
I am using Mac OS 10.13.6, and everything runs smoothly for me. However, I was sent a screenshot from a client running the code on Windows, and he is hitting an `EOFError` .

![program py-error](https://user-images.githubusercontent.com/32043053/49473534-2d939780-f7c7-11e8-9c2a-ab1559433ea4.jpg)

This is the code in question.

[code]

[2018-12-04 21:58] TomAugspurger commented on #24060
Basically, though I assume we'll do some backporting and do a 0.24.1 or 2 that supports py2 as well.

[2018-12-04 22:07] TomAugspurger commented on #24101
Can you provide a minimal example?  http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-12-04 22:12] TomAugspurger commented on #24093
We have a similar open issue for `pd.concat` to union the categoricals. No one has implemented it yet.

[2018-12-04 22:26] PAeberhard opened #24103 "BUG: resample ignores 'kind' argument, always behaves like kind='datetime'"
#### Code Sample

[code]
#### Problem description

The 'kind' argument to groupby-resample in the example above is ignored and the result is always as if the argument passed is kind="datetime".

#### Expected Output

The 'datetime' level in the MultiIndex in the example above should be of type PeriodIndex if kind="period", but instead we get DatetimeIndex.

#### Output of ``pd.show_versions()``

<

[2018-12-04 23:07] louispotok commented on #23931
Thanks @TomAugspurger ! I think this patch should fix the issue (and added tests), if that looks about right I'll submit a PR.

https://github.com/louispotok/pandas/commit/b29c6bc79c36ba311cdb450e3a5d1eabdf7d1d74

@mroeschke haven't checked if this also fixed #21184 but will take a look.

[2018-12-05 00:02] #22355 closed

[2018-12-05 00:41] memeplex commented on #19706
@TomAugspurger  this is the next to minimal scenario in which I was able to reproduce the issue (the minimal one is listed below):

[code]

First of all, 0x89 in position 2 seems to be png files, but I'm not sure what position 2 refers to: from the beginning of a file, of a chunk, whatever. Also it's hard to see why the importer is using utf8 anyway.  I checked `sys.meta_path` after the pyplot imp

[2018-12-05 00:57] eode commented on #23854
Well, another way is to say "foo is just not an accepted use case", which is.. ..y'know.  ..kinda a fix.  :-)

[2018-12-05 01:02] gfyoung commented on #23854
Agreed.  That could be a first step by updating the docs to reflect that.

That being said, a fix to actual enhance `to_csv` with the functionality would be a good long-term fix.

[2018-12-05 01:05] memeplex commented on #19706
I commented out the offending import in `packers.py` and was able to import pandas, then explicitly importing `pandas.util._move` triggers the error:

[code]

Also, importing `_move`  relatively to the `util` directory fails:

[code]

Directly reading the `.so` file in text mode complaints about another byte in another position, so it doesn't seem to be the same operation than the importer is doin

[2018-12-05 01:07] memeplex commented on #19706
Btw, position 2 of the `.so` file is not 0x89:

[code]

[2018-12-05 02:16] memeplex commented on #19706
Importing Glib instead is ok:

[code]

Also Gdk works. The problem triggers as soon as `class Widget(Gtk.Widget):` is left in `gi/overrides/Gtk.py`. Here `Gtk = get_introspection_module('Gtk')` where

[code]

I can leave only

[code]

in the entire `Gtk.py` module and the problem still happens. I've instrumented every method of IntrospectionModule and none of them is called just before the error o

[2018-12-05 02:42] datapythonista commented on #24058
Sorry, couldn't see the image in my mobile. I guess this is windows, I don't know much about it, can you try  without the `./` (so, `scripts/validate_docstrings.py --prefix=pandas.Series --errors=GL07`).

Or try to `cd scripts` and then just `validate_docstrings.py --prefix=pandas.Series --errors=GL07`

[2018-12-05 02:46] memeplex commented on #19706
I've reported this to https://gitlab.gnome.org/GNOME/pygobject/issues/285 also, maybe they could help us.

[2018-12-05 06:39] h-vetinari commented on #23995
Reading through https://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.24.0.html#accessing-the-values-in-a-series-or-index, I really think the `.values` -> `.array` shift should be done for `DataFrame` as well, even if there is no semantic collision like for the EAs.

Basically, `Series` and `DataFrame` should have the same fundamental API about interacting with index/data, so one might also

[2018-12-05 06:57] #22248 closed

[2018-12-05 06:58] #18364 closed

[2018-12-05 09:16] set92 commented on #24087
I just tried it but no, if I use only j['FECHAENVIO'][-1] gives an error of KeyError: -1, I also tried to use j['FECHAENVIO'].tail(1) but it gives the same error as with j['FECHAENVIO'][-1:], but I think it is because they are equivalent.

[2018-12-05 09:19] YanxuanLI opened #24109 "Error when max with a datetime.date Series"
[code]
#### Problem description

It's a little tricky for this bug.
I received an error when I tried to maximize a series type of **date** with None value, but it failed throwing an error.
Then using to_datetime().dt.date, it converts to date. Still not work for s1.max(), but this time, works fine for max(s1), Too noisy.
While for the **datetime**, it works fine for everything.

#### Expected Outp

[2018-12-05 10:43] ma3axaka commented on #24057
There's an existing function on rolling and expanding windows called `count`. I propose that we would add a `size` alias for it.

[2018-12-05 10:43] gabrielreid opened #24110 "date_range() with closed=left and sub-second granularity returns wrong number of elements"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As far as I understand it, calling `date_range` with two absolute endpoints, a number of periods, and closed='left' should return a DatetimeIndex with `periods - 1` entries. This appears to work as expected in most cases, but supplying more recent dates with sub-second granularity (e.g. `2018-01-01T00:00:00.010

[2018-12-05 11:21] set92 commented on #24087
Neverming, doing other things I discovered that this was my error, the thing is a = j['FECHAENVIO'][-1:] and tail do the same, they don't return the value itself, but doing a = j['FECHAENVIO'].iloc[-1] gives you the value.

So I close this, since it wasn't a bug, sorry for the inconvenience.

[2018-12-05 11:21] #24087 closed

[2018-12-05 11:41] TomAugspurger commented on #24057
The behavior of `count` and `size` differ when there are NA values. Count
excludes them, while `size` includes them.

On Wed, Dec 5, 2018 at 4:43 AM Artem Bogachev <notifications@github.com>
wrote:

[2018-12-05 11:44] TomAugspurger commented on #23995
It's not in the release notes, but we did implement `DataFrame.to_numpy()`
that's an alias for `.values`. (I'll update, when I fix a few broken links).

I don't know what would be returned for `DataFrame.array`. There (often)
isn't a single array that could be returned, and the point of `.array` is to
*always* be a view back on the original data.

On Wed, Dec 5, 2018 at 12:39 AM h-vetinari <notifi

[2018-12-05 12:22] ma3axaka commented on #24057
but the example above assumes that behavior of `count`?

[2018-12-05 12:34] TomAugspurger commented on #24057
Ah I see. The expected output is incorrect (it's using `.count` semantics). The days 2012-01-06 through 2012-01-10 would continue to be 5.

[2018-12-05 12:47] #23063 closed

[2018-12-05 15:32] datapythonista commented on #24071
We updated that document, but you're checking the documentation of the last stable release (which makes sense, but in this case is outdated).

Once you have conda set up, from the pandas project root, you need to simply run `conda env create`. And after it's created activate the environment with `source activate pandas-dev` (not sure if in windows is `conda activate pandas-dev`).

[2018-12-05 15:33] giantpanpan commented on #24071
@datapythonista I see! Thanks!

[2018-12-05 15:35] datapythonista commented on #24071
this is the latest version of the contributing page: https://pandas-docs.github.io/pandas-docs-travis/contributing.html

[2018-12-05 15:37] lazka commented on #23040
I've reduced this down to:

[code]

[2018-12-05 15:45] memeplex commented on #19706
Christoph Reiter from pyobject team was able to track the issue down to:

[code]

We're getting closer.

[2018-12-05 15:50] TomAugspurger commented on #19706
cc @llllllllll if you have any thoughts on why that would be failing.

[2018-12-05 16:20] tmiasko commented on #23040
This loads `libatk-bridge-2.0.so`, containing:

[code]

which conflicts with https://github.com/pandas-dev/pandas/blob/9f2c7164ec581a484ee167c04478bf9e4f81426b/pandas/util/move.c#L188

Presumably internal linkage should be used in both cases.

[2018-12-05 16:20] TomAugspurger opened #24112 "IntervalArray equality operators"
It seems like IntervalArray doesn't implement equality operations correctly

[code]

I would expect Out[33] to be

[code]

This bubbles up to Series[interval]

cc @jschendel

[2018-12-05 16:32] llllllllll commented on #19706
Thanks @memeplex for narrowing it down to just those three lines. I am able to reproduce this on head of master, looking into the problem now. My initial guess is that something is messing up the static data, corrupting the statically allocated c-strings for the module or method names. Python tries to create a PyUnicodeObjectt out of these c-strings to generate the `__name__` and `__qualname__` fi

[2018-12-05 16:40] tmiasko commented on #19706
See https://github.com/pandas-dev/pandas/issues/23040#issuecomment-444545774.

[2018-12-05 16:40] TomAugspurger commented on #24077
This will also avoid converting to objects for categories.

[2018-12-05 16:45] llllllllll commented on #19706
I see, method is conflicting so you get the wrong array. I will open a PR to make this static.

[2018-12-05 18:01] jbrockmendel opened #24115 "DTA/TDA/PA inplace methods should actually be inplace"
At the moment we are using the implementations designed for Index subclasses, which return new objects.

[2018-12-05 19:08] h-vetinari commented on #22824
Copying from #24108:

This is what #24108 is about, since the issue had stalled for >1 months despite several pings.

I disagree with this quite strongly:
* Changing `Index.unique` from `Index`->`ndarray` is *as much* of a breaking change as changing `Series.unique` from `ndarray`->`Series` (but has no benefits for reconstruction)
* `Series.unique` already special-cases `Categorical` and `EA`. An

[2018-12-05 20:19] #21907 closed

[2018-12-05 20:21] #23516 closed

[2018-12-05 20:33] mroeschke commented on #24109
`datetime.date` is not a first class data type in Pandas; many operations will probably not be supported when manipulating `datetime.date`s. It's preferable to convert them to `datetime.datetime` (centered at midnight) and export as `datetime.date`s

[2018-12-05 20:43] dragoljub commented on #23516
@chris-b1 @jreback  Thanks for getting this done! Really appreciate it! 👍  😄

[2018-12-05 21:37] h-vetinari commented on #22824
It's just inconsistencies over inconsistencies (discovered while writing tests for a precursor PR of #24108):
[code]
So `pd.unique(Index)` yields an array, except if the `Index` is categorical...?
[code]

[2018-12-05 21:40] mroeschke commented on #24110
Thanks for the report! Your second example is indeed bizarre behavior. Investigations and PR's always welcome.

[2018-12-05 23:21] #23816 closed

[2018-12-06 00:52] gfyoung commented on #24115
@jbrockmendel : Mind sharing an example of what you mean?

[2018-12-06 00:55] gfyoung commented on #24103
cc @jreback

[2018-12-06 00:58] gfyoung commented on #24091
Weird!  Investigation and PR are welcome!

cc @toobaz

[2018-12-06 00:58] gfyoung commented on #24091
cc @jreback

[2018-12-06 02:08] aa1371 opened #24121 "BUG - PeriodIndex.freq.normalize option gets cached per process"
It seems that whatever normalize option is first called for a PeriodIndex freq it is used for the rest of the process (on a per offset type basis). No matter whether the freq is explicitly overwritten with a freq using a different normalize option. This is NOT the case for the offset kwds.

    True

    True

Restart the process

    False

    False

[2018-12-06 02:49] fcfangcc opened #24122 "BigInt save by to_excel ,the value has changed."
BigInt save by to_excel ,the value has changed, sometimes the value is -8.

[code]
#### Problem description

947871269024436488 is change to 947871269024436480

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Darwin
OS-release: 17.3.0
machine: x86_64
processor: i386
byteorder: litt

[2018-12-06 03:12] gagejustins commented on #8826
Hey would y'all be cool if I work on this? Would be my first contribution

[2018-12-06 03:12] jbrockmendel opened #24123 "BUG: un-caught date_range overflows"
<s>TL;DR: can we assume that np.float128 exists (and is actually 128 bits)? If so then this has an easy solution.  Otherwise, it's easy-but-tedious.</s> <b>update</b> Turns out the np.float128 solution doesn't as easily as I expected.

[code]

It's actually worse than that, because it is raising the _wrong_ OutOfBoundsDatetime.  What is happening here is that in arrays.datetimes._generate_range_ov

[2018-12-06 03:14] jbrockmendel opened #24124 "DatetimeIndex and Timestamp have different implementation limits"
`Timestamp`'s minimum value is bounded away from `np.iinfo(np.int64).min` "to allow overflow free conversion with a microsecond resolution", but `DatetimeIndex` is not:

[code]

[2018-12-06 07:36] alexander-ponomaroff opened #24125 "DOC: Fix docstrings error GL07 - Sections are in the wrong order"
When checking for errors with ./scripts/validate_docstrings.py, There is an error that comes up:

GL07
'Sections are in the wrong order. Correct order is: ' '{correct_sections}'

I worked on this and will create a pull request for this issue shortly to go into more detail on what I fixed.

@datapythonista

[2018-12-06 07:38] h-vetinari commented on #24060
This release is indeed big, but v.0.24 is also quite special because it will effectively define the 1.0 API, and also because of the magnitude of the whole EA effort obviously.

But - despite a lot of hard work - the current state still feels a bit half-baked:
* The Datetime refactor: https://github.com/pandas-dev/pandas/projects/4#card-15359769
* ExtensionArray: https://github.com/pandas-dev/pand

[2018-12-06 08:34] datapythonista commented on #24058
Sorry @YuechengWu, seems like this issue has been addressed in #24126. Not sure if you could make any progress, but not worth working on it anymore.

Closing as duplicate, as another issue has been created for all the errors, not only the ones in Series.

[2018-12-06 09:26] lucky06688 opened #24127 "pandas.DataFrame.resample behaves inconsistently when the rule is set to 24H/1D and 48H/2D"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As you can see, when I set rule to '24H' or '1D', the behavior of resample is consistent (in both cases it starts at 0 o'clock on the first day), but for '48H' and '2D' it's obviously not.

#### Expected Output
If the behavior consistency of ‘24H’ and ‘1D’ is correct, then the behaviors of '48H' and '2D' should

[2018-12-06 10:09] hodossy commented on #21256
I have a temporary solution until is is fixed:
[code]

This also replaces `NaN` and `NaT` objects with native python `None`. Please note that it only intended use is to convert into, I have not tested elsewhere. It can be used like so:

[code]

[2018-12-06 11:55] lucky06688 commented on #2704
any updates?

[2018-12-06 12:03] YuechengWu commented on #24058
@datapythonista ok, thanks for letting me know

[2018-12-06 12:03] TomAugspurger commented on #13480
I didn't realize that @topper-123's proposed repr would truncate past
certain levels, but that is of course unavoidable. Does #22511
<https://github.com/pandas-dev/pandas/pull/22511>
include a system like DataFrame, where large reprs are automatically
truncated?

IMO, the most important part of a MutlIndex repr is seeing the name and
type of each level, and a few values
if possible. If you need to

[2018-12-06 12:07] jreback commented on #24060
@h-vetinari pandas is a volunteer project almost completely. Thus project priorities are set by community consensus and worked towards. We have regular releases in time; 0.24.0 is actually overdue by a few months. Trying to add *additional* things which themselves need discussion is not going to happen.

Whatever exists in he 0.24.x series is the last release for Python 2, this has long been annou

[2018-12-06 12:10] jreback commented on #13480
@jorisvandenbossche I actually like the bottom repr (xarray like), but I agree that is maybe more food for a ``.info()`` method; also it gives the impression to me that MI is *accessed* via columns, rather than a row-accessed based tuple.

I would go with @topper-123 repr, with 1 change. Let's drop ``dtype``, and replace with ``dtypes=list_of_dtypes 1 for each level``, similar to how names is 1 fo

[2018-12-06 12:11] TomAugspurger commented on #24060
I don't follow the point of
https://github.com/pandas-dev/pandas/issues/24060#issuecomment-444777018. Could you try restating / summarizing it?

I think Py2 vs. Py3 is irrelevant for 0.24.0.

The EA-releated issues you linked are I think all going in 0.24 (I didn't check them all). That's basically the blocker at this point, but I haven't reviewed the backlog recently.

I haven't had time to look

[2018-12-06 12:44] jorisvandenbossche commented on #22824
Some of those inconsistencies (certainly not all :-)) have historical reasons / justifications.
I think in the past, we wanted the return value to be something array-like (and Index here is much more array-like than a Series), but to also not loose to much information.
That's eg the reason that we decided to make the exception for a categorical Series to not return a plain ndarray, but to return `

[2018-12-06 12:55] jorisvandenbossche commented on #13480
@TomAugspurger What do you mean exactly?
It has two ways of truncation (see also the bullet points in https://github.com/pandas-dev/pandas/issues/13480#issuecomment-415977096): 1) it only shows up to `pd.options.display.max_seq_items` number of items of the index (here the number of tuples), and otherwise the first 10 / last 10, similar to all the other Index reprs (the main difference here is tha

[2018-12-06 13:02] TomAugspurger commented on #13480
Oh, I was thinking in the past, when we had `pd.options.display.large_repr = 'info'`, and we would automatically switch over to the info repr for large dataframes. I'd forgotten we no longer do that now that (by default) now that we truncate.

I think I agree with this... Personally, when I need to see the values of a MultiIndex I stick it in a Series `pd.Series(1, index=mi)`, and you get the nice

[2018-12-06 15:03] gabrielreid commented on #24110
This appears to be due to limitations of the integer resolution of doubles in python, brought on by the use of numpy.linspace.

I've added a PR with a fix which will largely reduce (but not completely resolve) the occurrence of this issue in #24129

[2018-12-06 15:12] FHaase commented on #21520
I think sublists require 2 instead of 4 spaces to indent:
From [Sphinx Documentation](http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html)

[code]

From [A ReStructuredText Primer](http://docutils.sourceforge.net/docs/user/rst/quickstart.html)

[code]

![with-blockquote](https://user-images.githubusercontent.com/41163037/49591605-2d360080-f96f-11e8-9c79-297902507580.png)

[code]

[2018-12-06 16:23] pasinu29 commented on #22590
Tried this yet again and it broke (kerned died) when using pandas 0.23.4 on conda.

[2018-12-06 16:48] alexander-ponomaroff commented on #24125
Sorry about that, I didn't notice issue #24058 when I was fixing all the GL07 errors. @YuechengWu I will try to find you another similar error to work on today.

[2018-12-06 17:25] jbrockmendel commented on #18435
I thought that #17920 had been merged, apparently was wrong about that.

[2018-12-06 17:50] WillAyd opened #24130 "read_csv can't roundtrip with UTF16/32 encodings"
This works fine:

[code]

Not quite so lucky on these:

[code]

I believe this is strictly a problem with the C parser.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: b78aa8d8506ac119124619a9e03ff1482262e0cc
python: 3.6.7.final.0
python-bits: 64
OS: Darwin
OS-release: 18.2.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US

[2018-12-06 18:42] YuechengWu commented on #24125
@alexander-ponomaroff no worries, I wasn't making much progress, what other similar errors there are? Let me know if you find anything. Thank you.

[2018-12-06 19:33] alexander-ponomaroff commented on #24125
Once #24126 gets merged. I will make a pull request that fixes an additional 10 out of 24 remaining errors. The remaining 14 errors are a bit problematic and need to be addressed. I will post the remaining 14 errors below and the problems with them.

**These 4 errors have similar problems - appending a template to its own docs**

[code]

**EXAMPLE**

[code]

**These 9 errors have similar problems

[2018-12-06 19:51] tarrade opened #24131 "Question : df.groupby('col_a')['time_stamp'].idxmin() is not working if time_stamp is of type object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

 df.groupby('col_a')['time_stamp'].idxmin() is not working if time_stamp is of type object while it is not problem to get the min(): df.groupby('col_a')['time_stamp'].min()

casting 'time_stamp' a

[2018-12-06 20:16] WillAyd commented on #24131
Pretty tough to read from code supplied but IIUC you are just having issues with aggregation against an object dtype but works fine when correctly typed. The latter approach is idiomatic here

[2018-12-06 20:22] WillAyd commented on #24122
Sounds like overflow. Do you know the size limits for numeric types in Excel?

[2018-12-06 20:35] banagawa opened #24133 ".sort_values() is not indexing zeros at the begining"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
the indexes of 'index_1' represent a timestamp (e.g. 2018-09-26 05:30:00)and the indexes of 'index_2' are a range from 0-8 representing an interval of time (e.g. 1minute, 5 minutes, 10 minutes, etc.).  At this point .sort_values() is setting all zeros at the end of the dataframe, which is not representative of t

[2018-12-06 20:43] jpedrick commented on #22590
I'm running into this issue as well. Does anyone know a workaround?

[2018-12-06 21:11] #19706 closed

[2018-12-06 21:12] TomAugspurger commented on #23040
Hopefully fixed by #24113.

[2018-12-06 21:12] #23040 closed

[2018-12-06 21:13] TomAugspurger commented on #19706
Thanks everyone for the help in tracking this down.

[2018-12-06 21:19] jorisvandenbossche commented on #24133
@banagawa Thanks for the report. Can you please provide a reproducible example? (some code that constructs a dataframe that reproduces the issue)

[2018-12-06 21:22] 1kastner commented on #24076
See #16785 and related: The timezone information is just dropped during the parsing process, see the related pull request.

[2018-12-06 21:54] aqurilla commented on #24071
Hi @datapythonista , I am a first-time contributor and was wondering if I could also work on this issue?
I see that someone else is already working on this - what would be a good way to ensure no overlap?
Thanks!

[2018-12-06 22:20] jorisvandenbossche opened #24135 "BUG: repr of Series with regular (freq) datetime index after reading with msgpack"
From the io docs:

[code]

[2018-12-06 22:21] jorisvandenbossche commented on #24135
@jbrockmendel @TomAugspurger possibly related to all the refactoring, not sure

[2018-12-06 22:32] banagawa commented on #24133
Sorry for the post.  Upon recreation of the problem through a random gen DF I found that i had not set some dependencies correctly earlier in my code which lead to the problem I was encountering at this point.
Thanks and sorry for the time lost.

[2018-12-06 22:32] #24133 closed

[2018-12-07 00:10] mroeschke commented on #24131
More generically, the issue is that `groupby.idxmin/max` does not work on object (str) data types.  This also doesn't work for `Series.idxmin`, but `np.argmin` supports this for string arrays. I suppose this should be supported, except it's very nebulous to compare min/max of an array of strings.

[code]

[2018-12-07 00:40] apnewberry opened #24136 "Rename silently ignores missing key"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

If I try to rename a column but it doesn't exist, I want to be alerted about this. From the Zen of Python, "Errors should not pass silently."

Currently, there is no indication of a failure, I just silently get a different result than expected.

#### Expected Output
`KeyError('XXX')`
#### Output of ``pd.show_ve

[2018-12-07 00:45] WillAyd commented on #24136
Duplicate of #13473 if you'd like to take a look PR would be welcome

[2018-12-07 00:45] #24136 closed

[2018-12-07 01:00] apnewberry commented on #13473
Is there a particular reason why the default value would be "ignore" for `rename`? If I'm renaming keys in a mapping but one isn't there, I normally anticipate a `KeyError`. A deprecation period would be necessary, of course -- I think a similar change has occurred recently with missing columns for `loc`.

[2018-12-07 01:05] WillAyd commented on #13473
Historical reasons. I think raising would be preferable though correct would require deprecation cycle

[2018-12-07 02:50] nathanielatom opened #24137 "Incorrect Timestamp Parsing for ISO8601-like Format"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The minute is parsed incorrectly. I know this isn't exactly an ISO8601 formatted timestamp, but it comes from a filename which doesn't support the use of colons. I was caught a bit off-guard by the silently incorrect value, I think raising a ValueError would be preferable. But the resulting timestamp is _pretty

[2018-12-07 03:03] TomAugspurger commented on #24135
Looks like `io/packers` uses `DatetimeIndex._simple_new` directly, and nothing in that path calls `to_offset` on the freq.

[2018-12-07 05:35] ArtinSarraf commented on #24093
I believe this would be relevant to [this PR](
https://github.com/pandas-dev/pandas/pull/23538/files/6e5a52b3cd91b5e12a2cb69c32707e89d08dac00#r233667653) also. The feedback I got seemed to suggest that categorical with different dtypes should not be considered compatible for set operations.

[2018-12-07 06:52] mroeschke commented on #24137
This datetime string is most likely hitting our dateutil parser which gives the same result:

[code]

You may want to raise this example with dateutil since pandas is just passing through at this point. pandas will only raise if the datetime string is totally unparseable.

For your use case, you should specify the `format` directly with `to_datetime`

[code]

[2018-12-07 06:52] #24137 closed

[2018-12-07 06:54] alexander-ponomaroff commented on #24125
@YuechengWu I found something that you can explore and work on if you'd like. Sorry again for accidentally taking some of the errors that you started exploring.

If you run the following command:
`./scripts/validate_docstrings.py --errors=SS03 --format=azure | grep 'pandas/core/generic.py'`

You will get all SS03 errors in the pandas/core/generic.py file. There are many of these errors in that fil

[2018-12-07 07:54] euri10 opened #24139 "df.eval: "log10" is not a supported function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As expected,
[code]
I know we can substitute the log10(a) behaviour with log(a)/log(10) but the pull request fix I'll post is a one word addition and makes things way more readable when you have long expressions

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
[paste the output of ``pd.sh

[2018-12-07 11:14] VolkerH commented on #12452
I was looking for this functionality and a google  search has brought me to an open  issue rather than to a solution on stackoverflow :-)
Is there a solution that I'm missing?

[2018-12-07 12:28] TomAugspurger opened #24142 "Categorical.__setitem__ should allow setting a Categorical with same unordered categories"
We'd need to recode the source categorical's codes to the target's.

[code]

[code]

[2018-12-07 12:49] #23648 closed

[2018-12-07 12:52] jorisvandenbossche commented on #24142
And does the `where` operation need to work with unequal categorical dtypes?

[2018-12-07 12:57] datapythonista opened #24143 "DOC: Deprecation directive in docstrings should be placed before the extended summary"
Based on https://numpydoc.readthedocs.io/en/latest/format.html#sections

This is correct:
[code]

This is NOT correct:
[code]
But seems like we've been doing it wrong in many cases (see #24105#discussion_r239646516)

What we need to do is:
- Add a validation in `scripts/validate_docstrings.py` to check that the order is correct (there is a validation for the order of the sections, it may or may no