[2018-09-13 07:35] xhochy commented on #22680
In Arrow we also use this parameter to determine different code execution paths. When there are no nulls, you can often switch to a lot more efficient version of an algorithm. Thus this property is a small maintenance burden for a big performance win.

[2018-09-13 07:46] ArtyomKaltovich commented on #22676
It is standard method https://docs.python.org/3/library/stdtypes.html#str.partition
The parameter is named `sep` there, but in Pandas implementation it is `pat`
https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/core/strings.py#L2382-L2391

I agree that parameter should be renamed, can I take this one?

[2018-09-13 08:45] jorisvandenbossche commented on #22680
Yes, +1 to add such a property / method. BTW, we already have actually that on `Series` as well: `Series.hasnans`, and there are quite some places in the datetime-related index/array code where this property is used (even if it would not be more efficient for arrays, I think it makes the code cleaner)

[2018-09-13 09:14] somiandras opened #22685 "DataFrame.agg() raises TypeError when passing list of functions and setting axis=1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When passing a list of functions into `DataFrame.agg()` and setting `axis=1` I get `TypeError: ("'list' object is not callable", 'occurred at index row1')`.

The aggregations are valid on their own and can be done in single steps, like `df.agg('mean', axis=1)`. According the documentation it is valid to pass th

[2018-09-13 09:37] jorisvandenbossche commented on #22274
Timedelta's have by definition no timezone, and for tz-naive data 'D' effectively means calendar day.
But of course when combining tz-aware timestamps with timedelta's, you indeed get 24H behaviour, and not calendar day. I agree that is not ideal.

I might not be the majority of our users, but certainly a significant subset. But for me the question is rather: of those users (the ones that use time

[2018-09-13 09:42] timlod opened #22686 "Pandas vs Numpy broadcasting discrepancy"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have a dataframe with shape (m,n), each column filled with bools.
Now I have a numpy (column) vector of length n filled with bools and I would like to apply the logical AND (&) such that the operation is broadcast from the vector onto each column.
This works only when using df.values, not when applying & on t

[2018-09-13 09:57] jorisvandenbossche commented on #22274
cc @pandas-dev/pandas-core I think this is worth a broader discussion than only Matt and me :)

Very short (probably too short and possibly biased) summary:

**Problem:**

The string 'D' means different things in different places:

* `to_offset('D') == Day()` is a 24H tick offset, `pd.to_timedelta(1, 'D')` is a 24H timedelta. So both are strict 24H when using them in arithmetic, also when dealing

[2018-09-13 10:51] TomAugspurger commented on #22683
Can you also post how you're running pytest, the top of `pytest --collect-only`, and a snippet of some of the failing tests?

`datapath` skips the test when the `--strict-data-files` option is unset (the default).

[2018-09-13 11:27] #22664 closed

[2018-09-13 11:30] TomAugspurger opened #22688 "Meaning of BaseDtypeTests.test_array_type_with_arg"
https://github.com/pandas-dev/pandas/pull/22666 removed that test as (I think) it wasn't functioning properly. The method doesn't take any parameters, so running it would always raise a `TypeError`. Subclasses had to override it, which ends up just duplicating `test_array_type`.

cc @jreback, if you recall the motivation for it.

[2018-09-13 11:45] rontho1992 commented on #21554
Just to add to this, I also am getting the same error as @xinai57 and @hz336  using `pd.Timestamp`, previously worked in 0.20.

[2018-09-13 11:45] TomAugspurger opened #22689 "scripts/convert_deps.py doesn't handle exact pins correctly"
This should be a double equals: https://github.com/pandas-dev/pandas/blob/857515f60ef39d13d943969f6958e922f1e9b430/ci/requirements-optional-pip.txt#L17

conda uses a single, while pip requirements files use double.

[2018-09-13 12:57] rontho1992 commented on #21554
Out of curiosity what's the reasoning behind removing the ability for lexicographic ranking?

[2018-09-13 13:29] jreback opened #22690 "CI: add use Azure"
numba project added support for Azure CI pipelines: https://github.com/numba/numba/pull/3303

https://azure.microsoft.com/en-us/services/devops/pipelines/

looks like 10 parallel pipelines for open-source projects on mac, linux, windows OS.

we could replace appveyor with this I think.

cc @pandas-dev/pandas-core

[2018-09-13 13:45] norok2 opened #22692 "`pandas.DataFrame.to_html()` without `table border` and `tr style`"
The following code produces HTML code for the corresponding table:

[code]

Specifically, you get:

[code]

However, both `border` and `style` tags are actually visualization details that should be left for the CSS. The expected behavior should be that the produced HTML should be:

[code]

Besides the problem that there is no way of getting to a clean HTML, this is contradicting the Zen of Python

[2018-09-13 13:50] ivanradicek opened #22693 "read_fwf: skip_blank_lines does nothing"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Output:
[code]

The (second) blank line is not skipped, but instead there is a row with two `NaN` values. It seems that `skip_blank_lines` has no effect on `read_fwf`. On the other hand, `read_csv(f, sep=' ', header=None)`, produces the expected output below.

#### Expected Output

[code]

#### Output of ``pd.

[2018-09-13 14:26] merraksh commented on #22612
@gfyoung @jreback said substitution makes sense for performance, although the new vector comparison replaces the object-based __eq__ with that of the ndarray's __eq__, which my module overrides, hence the error.

[2018-09-13 14:45] jorisvandenbossche commented on #22688
Yep, agree this was duplicating `test_array_type` now. I think in an original implementation `construct_array_type` actually had an argument, so this is probably a left over.

[2018-09-13 14:46] jorisvandenbossche commented on #22688
(@jreback closing as I think it is rather clear now I look at it, but of course feel free to re-open if you disagree)

[2018-09-13 14:46] #22688 closed

[2018-09-13 16:31] WillAyd commented on #22693
Thanks for the report - investigation and PRs are certainly welcome

[2018-09-13 16:35] norok2 commented on #22692
Perhaps, you saw this: https://stackoverflow.com/questions/51460112/pandas-dataframe-to-html-without-table-border-and-tr-style

Anyway, I could probably work out on a patch. Should not be terribly difficult. Just let me know what is supposed to be there. I see that right now, the default behavior of `pandas` for quite a few things is to have the value to default to `None` and then guess some sensi

[2018-09-13 16:42] TomAugspurger commented on #22692
Contributing docs are at http://pandas-docs.github.io/pandas-docs-travis/contributing.html

For the auto-dataframe class, we'll need a new keyword like `dataframe_class=True` by default, which can be set to False to not include `dataframe` in the classes list (and maybe we'll want False to be the future default)

For the `text-align` issue, not sure... Maybe `tr_style="text-align: right;"` as the

[2018-09-13 16:54] norok2 commented on #22692
I don't think a new keyword is really needed, as long as the old one defaults to something transparent. And then the user may decided what to have with it. As far as the `text-align` issue, I would see some value in having a `tr_style=...` keyword.

The problem is definitely how to make sure not to break current code. In other projects I saw that issuing a warning in-between version was their way

[2018-09-13 16:58] TomAugspurger commented on #22692
By old one, you mean `classes`? I'm just not sure how we would preserve `classes=['my_class']` returning the current default of `classes=['dataframe', 'my_class']` without a second keyword. I may be missing something though.

to be clear: there are two discussions to be had.

1. How to produce a clean HTML table without all the junk pandas adds :)
2. Changing the defaults to be clean

For now, I'd

[2018-09-13 17:15] mroeschke commented on #22274
Not that bias at all @jorisvandenbossche :) thanks for the summary!

[2018-09-13 18:59] danpere commented on #22693
The bug appears to be in [`pandas/io/parsers.py`](https://github.com/pandas-dev/pandas/blob/master/pandas/io/parsers.py) in the way [`_remove_empty_lines()`](https://github.com/pandas-dev/pandas/blob/0473aab048e43c5bbecd58b1a42b61460ca03518/pandas/io/parsers.py#L2763) is used with fixed-width files (or probably files with whitespace delimiters for that matter). It sees that the line is `['', '']`

[2018-09-13 19:01] jreback commented on #22685
cc @topper-123 i believe you recently fixed this
can u check master and see if we have tests to cover

[2018-09-13 19:01] TomAugspurger opened #22698 "Handle FutureWarning from NumPy in Series Construction"
This is with NumPy dev.

[code]

https://travis-ci.org/pandas-dev/pandas/jobs/427640030#L5344

this goes from `core.series._sanitize_array` -> `_try_cast` -> `maybe_cast_to_integer_array`.

[2018-09-13 19:02] gnfrazier commented on #21103
Had the initial issue using 23.0 updating to 23.4 corrected the problem. Thanks for the fix.

[2018-09-13 20:34] topper-123 commented on #22685
Yeah, this is fixed and the example works as expected in master. The tests for list inputs to ``df.agg`` are in ``tests/frame/test_apply.py::TestDataFrameAggregate::test_agg_reduce``.

@somiandras , until 0.24 is released, a workaround is to do ``df.T.agg(['sum', 'sem']).T``.

[2018-09-13 20:36] TomAugspurger commented on #22675
This is seemingly not fixed by #22679.

https://circleci.com/gh/pandas-dev/pandas/20081?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-09-13 20:37] #22685 closed

[2018-09-13 20:41] FlingeR commented on #22683
@TomAugspurger
Removing setup.cfg from distributions seems wrong, given that is used by versioneer.py.
Is not logical to force "--strict-data-files" when the data files aren't there...
Maybe there is a way to distribute a setup.cfg without the pytest hook ?

[2018-09-13 20:51] pganssle commented on #22665
Is this another manifestation of this bug, or a separate bug?

[code]

Full traceback under details tag:

<details>

[code]

</details>

I'll note that my version of it is a regression that occurred between 0.18.0 and 0.23.0.

[2018-09-13 20:51] TomAugspurger commented on #22683
I don't think messing with setup.cfg just for the distribution is a good
idea.

It's probably best to flip the logic on `--strict-data-path` to be
`--no-strict-data-path`.
Then in the toplevel `pandas.test` we can add the `--no-strict-data-path`
to the options.

On Thu, Sep 13, 2018 at 3:41 PM Elias M. Mariani <notifications@github.com>
wrote:

[2018-09-13 20:55] TomAugspurger opened #22702 "ValueError in Categorical Constructor with empty data and boolean categories"
This works,

[code]

This doesn't

[code]

the `values` there is `array([], dtype=object)`. It should be int dtype by this point.

[2018-09-13 20:55] TomAugspurger commented on #22665
Hmm that looks different.

Two things

1. Index constructors require a `data` argument, so the proper error is like `TypeError: Index(...) must be called with a collection of some kind, None was passed`
2. something is up with booleans. https://github.com/pandas-dev/pandas/issues/22702 for that.

[2018-09-13 21:03] FlingeR commented on #22683
@TomAugspurger
That is a project decision.
Even so there are 358 Failures because of "File Not Found" from several files, again, stripping the files like a butcher was gonna lead to something like this...

I leave you the test log without the --strict-data-files option.
[test.log](https://github.com/pandas-dev/pandas/files/2380963/test.log)

[2018-09-13 21:04] pganssle commented on #22702
I haven't bisected on this to check when it first started manifesting, but this issue is not present in version `0.20.3`.

[2018-09-13 21:15] mroeschke commented on #22675
Interesting, this error appears on a different test.

Does `zip_file` here need to be closed as well?
https://github.com/pandas-dev/pandas/blob/71852da03994c7c79a4ba3a0f91c6d723be6a299/pandas/util/testing.py#L195-L209

[2018-09-13 21:18] TomAugspurger commented on #22675
Hmm, that may be it. Let me play with that.

[2018-09-13 21:33] TomAugspurger commented on #22675
No luck on that I think. Closing the archive doesn't seem to have any effect if the file is closed.

[code]

[code]

[2018-09-13 22:06] TomAugspurger commented on #22683
? I spent a lot of time implementing datapath so that this would continue to work when we removed data files from the distributions.

I'll note that the documented way for users to run the tests is through `pd.test()`, which works correctly,

[code]

if you want to use `pytest` from the pandas site-packages folder, then we can try to support that as well.

[2018-09-13 23:34] bnaul commented on #8508
@TomAugspurger I would like to sort this out as well as writing to GCS as a follow-up to #20729. Is there a reason that reading/writing generally seem to use two different methods (`get_filepath_or_buffer` vs `_get_handle`)? If that logic was unified then there'd be no extra work needed.

For S3 specifically there is another issue (sort of captured by #9712) which is that writing CSVs in `mode='wb

[2018-09-14 00:57] FlingeR commented on #22683
@TomAugspurger
Sorry for the passive-aggressive comment, wasn't my intention to demerit your work.
Running pytest from the folder where the port is "built" is the standard on OpenBSD, and it would be more convenient if test could be performed that way, for now I can patch the port so it ignores the  "--strict-data-files" option, but still gives lots of Errors of "file not found" if you could revie

[2018-09-14 01:15] PatrickDRusk commented on #21850
I haven't seen any mention that the `from_dict(OrderedDict(items)...` doesn't work in cases where there would be duplicates in the index. Here is a test that would fail:
[code]

[2018-09-14 01:41] TomAugspurger commented on #8508
Great! I'm not sure about get_file_path_or_buffer vs. get_handle.  I'm not that familiar with the parser code.

[2018-09-14 01:45] PatrickDRusk opened #22705 "DataFrame.from_dict(OrderedDict(items),...) not a proper replacement for from_items(items,...)"
#### Code Sample
[code]
#### Problem description

The deprecation warning in 0.23.4 indicates that `from_items(items,...)` should be changed to  `from_dict(OrderedDict(items)...`. But that doesn't work in cases where there would be duplicates in the index. The above is a test that would fail.

This would make it burdensome for developers to test all the scenarios in which they have used `from_item

[2018-09-14 01:54] #22338 closed

[2018-09-14 02:07] TomAugspurger commented on #22274
Does that go for `.resample` as well? Or do you think people would typically prefer the absolute version for that?

[2018-09-14 02:45] mroeschke commented on #22274
`resample` does not have a default rule code; a user would need to specify `'D'` or `'CD'`

[2018-09-14 03:42] vuminhle opened #22706 "json_normalize raises TypeError exception"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code throws `TypeError` exception:
[code]

#### Expected Output
| |area|number|
|-|-|-|
|0|111|2222|
|1|333|4444|
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processo

[2018-09-14 04:00] sergodeeva commented on #17107
Thank you! Upgrading to 0.23.4 helped.

[2018-09-14 07:46] seanv507 opened #22707 "to_clipboard has no effect in ipython (works in python) (linux)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Hi
since several months I am no longer able to use the to_clipboard function in ipython - nothing pasted to clipboard.  I notice it works in python!!.  I have tried using latest version of ipython/pandas on anaconda but no improvement

#### Expected Output
I expect to paste dataframe into text file etc.
#### Out

[2018-09-14 08:01] apnewberry commented on #22642
@WillAyd Which operations do you have in mind, where automatic conversion is desired?

[2018-09-14 09:52] llawall opened #22708 "from_records should order dict columns similar to constructor and from_dict like pandas < 0.23"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

pandas 0.22 gave consistent output when creating a DataFrame passing a dictionary using any of `DataFrame` constructor, `DataFrame.from_dict` and `DataFrame.from_records`. pandas 0.23 changed the behaviour of creating from dictionaries to respect key ordering in Python version 3.6+ for both the `DataFrame` cons

[2018-09-14 09:56] KeithWM commented on #11723
I'd also like to see such a feature. For me the favourite use case would be to have nice, legible axes labels (with units) in seaborn plots. I know one can manually set the axis labels, but I find this error prone, too verbose and it leads to code duplication.

If you ask me, the easier way would be to keep the _current_ name in the role of an alias as @bbirand proposes, and to add some other fiel

[2018-09-14 09:58] norok2 commented on #22692
I am realizing that `None` is used very often as a proxy for *internal* `get_option()`, and this somehow interferes with

Then perhaps a good path towards

could be:

[code]

There are a few *BUT* though:
- the keyword `classes` is currently not managed by a `get_option()` call and the `dataframe` class is hardcoded (should this be a separate PR?)
- the solution is not too consistent, but apparent

[2018-09-14 11:11] TomAugspurger commented on #22708
For example, what's the order of

[code]

[2018-09-14 11:13] #22465 closed

[2018-09-14 11:14] TomAugspurger commented on #22707
http://pandas-docs.github.io/pandas-docs-travis/io.html#clipboard

Do you have those installed/

[2018-09-14 11:52] jorisvandenbossche opened #22709 "API: reconsider or warn on the non-sorting of DataFrame(dict) on Python >= 3.6 ?"
I recently had a colleague that ran into a nasty bug, due to the fact that on Python >= 3.6 we no longer sort the columns when creating a DataFrame from a dict.

Eg on Python 3.5:

[code]

On Python 3.6/3.7 this would keep the column order as `['B', 'A']`.

If you write code that depends on the ordering of columns, like `df.columns = ['other', 'name']` (not the most robust way, but people do that)

[2018-09-14 12:06] seanv507 commented on #22707
well I installed xsel, and it still didn't work. [and note it works in normal python just not ipython?].  (and it used to work on my linux machine??)

[2018-09-14 12:40] TomAugspurger commented on #22709
Hmm... I hadn't considered that case.

We could have an option instead, and just never deprecate the option. And people have the usual warnings controls.

I would also suggest that we only emit the warning once, if we decide to have one.

[2018-09-14 12:43] TomAugspurger commented on #22707
Is your ipython the same environment as your python? (output of `which
ipython` and `which python`).

On Fri, Sep 14, 2018 at 7:06 AM seanv507 <notifications@github.com> wrote:

[2018-09-14 12:47] TomAugspurger commented on #22690
@jreback did you (or someone else) grab the "pandas" organization name on azure devops? If not, I can grab pandas-dev before someone else does and add people to it.

[2018-09-14 12:48] seanv507 commented on #22707
thanks - yes it is just root anaconda folder

[2018-09-14 12:51] llawall commented on #22708
@TomAugspurger My change does not change the current behaviour in that example. The code path in that case is [pandas.core.frame#1315](https://github.com/llawall/pandas/blob/master/pandas/core/frame.py#L1315) which ultimately calls through to _list_of_dict_to_arrays.

[2018-09-14 12:54] pganssle commented on #22702
Turns out the first bad commit is [7818486859d1aba53ce359b93cfc772e688958e5](https://github.com/pandas-dev/pandas/commit/7818486859d1aba53ce359b93cfc772e688958e5).

[2018-09-14 12:58] jreback commented on #22690
nope feel free to grab

[2018-09-14 13:45] jorisvandenbossche commented on #22274
Apart from that there is no default we can change for resample, I personally can't think of a use case where you would ever want the absolute version (and even if you want that, I think '24H' would be much more explicit)

[2018-09-14 13:48] pganssle commented on #22702
Ok, so the problem is that in [this function](https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/categorical.py#L2444), you have:

[code]

For boolean categories, the category's dtype is already `object` I guess, so the `if not is_dtype_equal(values.dtype, categories.dtype)` check is `True` and the no coercion to object takes place, but inside `_get_data_algo`, there is a call to

[2018-09-14 14:08] TomAugspurger commented on #22702
Sorry about that :/ Thanks for debugging.

On Fri, Sep 14, 2018 at 8:48 AM Paul Ganssle <notifications@github.com>
wrote:

[2018-09-14 14:09] TomAugspurger commented on #22274
Ah, of course.

One (probably bad option) is to special case the string "D" just for resample, and warn that it's treated as `"CD"`. If people really want an absolute 24H, then they can use either `"24H"` or `pd.tseries.offsets.Day()`. Does that make any sense?

[2018-09-14 15:11] jorisvandenbossche commented on #22709
Yes, that would at least make it less annoying if you decide not to silence it.

I don't think that matters much in this case. Because even if you are already using Python 3.6, you then run into this when upgrading pandas 0.22 -> 0.23.

You mean a `sort` keyword, that can be specified to silence the warning, and since it is somewhat useful anyhow, we can keep it afterwards?

If we were still in th

[2018-09-14 15:14] TomAugspurger commented on #22709
and since it is somewhat useful anyhow, we can keep it afterwards?

Sorry I meant an option to silence the warning. It'd basically be an alias
for adding the right filter to the warnings list.

[code]

On Fri, Sep 14, 2018 at 10:11 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-09-14 15:33] jorisvandenbossche commented on #22709
Well, but I tried to explain that I think this point is not necessarily relevant, as even pandas only supports 3.6+, people can still upgrade from pandas 0.22 to 0.24 (both on python 3.6), and then a warning would still be relevant.

[2018-09-14 15:43] jeremyepling commented on #22690
I'm a product manager on Azure Pipelines. Let me know if you run into any issues.

[2018-09-14 15:58] charlesoblack opened #22711 "pd.Timestamp.today() / pd.to_datetime('today') returns date with time information"
Calling **pd.Timestamp.today()** or **pd.to_datetime('today')** returns both the date and time information. This is unexpected behavior since the time information should be returned with **.now()** or **'now'**, respectively, while the **.today()** and **'today'** should trim to simply the date information.

Example code:

[code]

#### Expected Output

pd.Timestamp('2018-09-14 00:00:00')

#### Out

[2018-09-14 16:05] WillAyd commented on #22642
@apnewberry when working with an object type holds numeric data. Taking the example above:

[code]

[2018-09-14 16:13] jorisvandenbossche commented on #22274
That is basically the current situation, no?
(not to say that it is not an option, it could turn out to be the least worst of the possible solutions)

[2018-09-14 16:38] glyg commented on #22126
So here is my attempt at solving this issue, by applying the patch iff the value to be set is of mixed datatypes.

[code]

I test type uniqueness with  `len({type(v) for v in value[0]}) > 1` which will produce a false negative if one of the columns in value has mixed datatypes, but I don't see an efficient way to test that, given that value can be any list-like object. Should I still open a PR wit

[2018-09-14 16:54] mroeschke commented on #22711
`Timestamp` (and `pd.to_datetime` since it will return a `Timestamp` with a scalar) follows `datetime.datetime` which returns the time component.

[code]

So this is the intended behavior and [documented](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Timestamp.today.html) as such. In general `Timestamp`s follow `datetime.datetime` as closely as possible, so it's not ideal to change

[2018-09-14 16:54] #22711 closed

[2018-09-14 17:55] mroeschke commented on #22274
Hmm that would be interesting depreciation cycle of `df.resample('D')`. Just so I understand, `df.resample('D')` would still act like `df.resample('CD')` but give a depreciation warning that `'D'` will change behavior for `resample` in a later release? (if we detect tz-aware data of course)

[2018-09-14 18:05] TomAugspurger commented on #22274
Right, so it would still be a breaking change for people doing `df.resample(pd.tseries.offsets.Day())`, but I don't know how common that is. I suspect it's less common than `.resample("D")` though.

The benefit of treating "D" as "CD", but immediately changing `.offsets.Day()` is that we don't have to introduce a keyword just for the deprecation.

[2018-09-14 18:06] jorisvandenbossche commented on #22274
I am not sure Tom's latest suggestion was to deprecate ("warn" can of course point to that), or actually keep it as an alias.

If we keep the idea of the merged PR, that's the minimum we should do: deprecate first before actually changing behaviour. I don't think that would be hard: simply keep `date_range` and `resample` as they are, but raise a deprecation warning for 'D'.

But for me, the quest

[2018-09-14 18:12] gfyoung commented on #22690
@TomAugspurger : I have an account on Azure Devops.  Same email as the one you see on my commits.

[2018-09-14 18:38] apnewberry commented on #22642
On pandas 0.23.4 I'm seeing a different behavior: the resulting dtype is int64, rather than float64. Given the `astype(int)` my expectation would be that the resulting dtype is an int rather than a float. Is there automatic conversion going on here that I'm missing?

[code]

[2018-09-14 18:54] tocunha commented on #18842
I avoided this error passing dtype=False

[2018-09-14 18:57] mroeschke commented on #22274
FWIW @jorisvandenbossche I was in favor of `'D'` meaning "calendar day" for all operations https://github.com/pandas-dev/pandas/issues/20633. As I started refactoring, my biggest hurdle was `'D'` is also heavily used within our Timedelta ops, and having `Day` act like a `DateOffset`(relativetimedelta) instead of a `Tick` (timedelta) broke a lot of tests and would take a lot of monkeypatching for `

[2018-09-14 19:16] TomAugspurger opened #22712 "Unhandled warning from NumPy dev in median"
[code]

Do we want to silence these?

Working around this in https://github.com/pandas-dev/pandas/pull/22699

[2018-09-14 19:20] chrisrpatterson commented on #22690
I am a PM on Azure Pipelines as well please feel free to ping me if you need any assistance.

[2018-09-14 19:46] topper-123 commented on #22709
Ok I see that isn't solved just by using Python3.6... I didn't foresee this when I made the PR, sorry.

So a warning could to be added in 23.5 independently of python version and and removed in a later version when support for Python 3.5 is dropped, right?

[2018-09-14 19:59] AnthonyGaruccio opened #22713 "BUG: astype("category") creates unreachable objects and memory leak"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It seems like the process of converting object columns to category columns leaks some memory.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: FreeBSD
OS-release: 10.4-RELEASE-p10
machine: amd64
processor: amd64
byteo

[2018-09-14 19:59] tirkarthi opened #22714 "Segfaults on Python 3.8 (CPython master)"
Segfaults:

- [ ] indexing/test_indexing.py::TestFancy::test_setitem_list (see #22718)
- [ ] `ujson.encode(np.array(1))` (see #22718)
- [ ] Issue detailed as follows:

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code works fine on Python 3.7 producing the below output

[code]

The same code when it runs on CPython master causes segfault. I have

[2018-09-14 20:09] jorisvandenbossche commented on #22274
Can you clarify what exactly broke for Timedelta usage? You have the creation where you can use such a string like `pd.to_timedelta(.., unit='D')` or `pd.timedelta_range(..., freq='D')`. Those we could still special case to keep them working (what of course would introduce a new inconsistency), or deprecate if we want.
But what were the other things that broke? I don't directly see how for a timed

[2018-09-14 20:27] jbrockmendel commented on #22274
Sorry for being AWOL.

If we were to start from scratch, this is definitely the path I would want to go with.

There is a set of users/use cases that have tz-aware data, want CD-like behavior, and currently don't have it.  For that subset, adding the "CD" option is a strict improvement, and nobody else has to be affected.  This strikes me as a reasonable second-best.

[2018-09-14 20:46] jorisvandenbossche commented on #22274
@jbrockmendel Can you clarify what you mean with adding the CD option? Because you say "nobody else has to be affected" on adding 'CD' offset. Do you mean with that the merged PR (I don't see how that would not affect a lot of users, see my summary above), or adding 'CD' without changing meaning of 'D' (but then I don't see the need for 'CD') ?

[2018-09-14 20:52] jbrockmendel commented on #22274
It's possible I failed to follow the conversation closely enough.  With that in mind:

For users with tz-naive data, D and CD are equivalent, so these users should be unaffected.

For users with tz-aware data who _want_ the <=0.23.0 behavior, keeping "D" equivalent to "24H" should leave them unaffected (or has the meaning of "D" changed?)

It is the remaining subset of users/cases for whom "CD" is

[2018-09-14 20:58] jorisvandenbossche commented on #22274
So that is the whole point of the discussion: *changing* "D" to be equivalent to "24H" (in date_range, resample) *breaks* code, so this will not leave users unaffected. See my summary comment here: https://github.com/pandas-dev/pandas/issues/22274#issuecomment-420951827

[2018-09-14 21:35] WillAyd commented on #22642
Hmm OK that's what I have on master. Somewhat orthogonal to the original post but if you want to submit a PR with a test case for that would certainly take it (if there's not one already).

Regardless going back to the OP going from object to a numeric type where applicable is certainly desired as it can yield memory and will definitely yield performance improvements. I don't see a way to reasonab

[2018-09-14 22:16] mroeschke commented on #22274
Unfortunately I don't have the branch anymore, but the gist of the change involved `Day` subclassing `DateOffset` instead of `Tick` (because `DateOffset` have relative arithmetic ops paths and `Tick`s have absolute arithmetic ops paths with Series, Indexes, Scalars, etc.), so I'd get errors similar to the following:

[code]
So two popular timedelta operations with `'D'`, `timedelta_range` and resa

[2018-09-14 23:01] kernc opened #22717 "Timedelta interpreted as int upon first insertion into Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Timedeltas should remain Timedeltas when inserted into object Series, particularly because they are nice to work with. :sweat_smile:

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

pandas 0.23.3

</details>

[2018-09-14 23:28] mroeschke commented on #22717
xref #13829

[2018-09-14 23:54] jschendel commented on #22274
I don't have any issues with the functionality being discussed, but just have a slight quibble with the usage of `'CD'` as the string alias.

Prior to the introduction of `'CD'`, my understanding was that a prefix of `'C'` was reserved for custom frequencies, much like how a prefix of `'B'` basically means the "business" equivalent frequency.  Perhaps that's just an unintended pattern that I happe

[2018-09-15 00:17] charlesoblack commented on #22711
Then why is there both .today() and .now()? I fail to see the difference
here.

On Fri, Sep 14, 2018, 11:55 AM Matthew Roeschke <notifications@github.com>
wrote:

[2018-09-15 02:27] jbrockmendel commented on #22714
If you leave out column D, do you still get the segfault?  Do you get it with just column D?

[2018-09-15 02:52] apnewberry commented on #22642
Could you help me understand what you mean about performance improvements from casting `object` columns to numeric?

Here are a few timings in case it's helpful.

[code]

[2018-09-15 03:00] WillAyd commented on #22642
@apnewberry if you have usage questions you should ask on SO or Gitter - please don't continue the conversation here as it hijacks the thread.

With that said, take the axis argument out of your first three calls and you'll see.

[2018-09-15 03:15] mroeschke commented on #22711
This is from the [`datetime.now`](https://docs.python.org/2/library/datetime.html#datetime.datetime.today) docs which `Timestamp` follows:

[2018-09-15 03:17] charlesoblack commented on #22711
Ah, gotcha. Thank you! Is there an alternative then for getting today's
date?

On Fri, Sep 14, 2018, 10:15 PM Matthew Roeschke <notifications@github.com>
wrote:

[2018-09-15 03:35] mroeschke commented on #22711
If you want an actual `date` object there's a `.date()` method.

Otherwise there's also a [normalize](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Timestamp.normalize.html#pandas.Timestamp.normalize) method for `Timestamp` that will truncate the time to midnight leaving the year/month/date

[2018-09-15 03:36] charlesoblack commented on #22711
Perfect. Thank you!

On Fri, Sep 14, 2018, 10:35 PM Matthew Roeschke <notifications@github.com>
wrote:

[2018-09-15 03:41] tirkarthi commented on #22714
If I have only D or no D then there is no segfault. It occurs when I have either A, D or B, D, or C, D.

**Leaving out column D**

[code]

**output**

[code]

**Only with Column D**

[code]

**output**

[code]

[2018-09-15 05:08] tirkarthi opened #22718 "Collection of segfaults in CPython master"
I have reported #22714 but as I ran the test suite I can still see more segfaults. I am opening this to collect all of them since I don't know how to name the issue for every segfault since I don't know the proper reason. Kindly let me know if I need to use separate issues. I am using master branch of Pandas for testing against CPython master branch which will be released as Python 3.8

[code]

**

[2018-09-15 12:12] #21616 closed

[2018-09-15 12:37] #13719 closed

[2018-09-15 15:04] labodyn opened #22719 "BUG: Python crashes with bad function arguments"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Python crashes instead of raising an Exception

#### Expected Output
raising an Exception

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-33-generic
machine: x86_64
processor: x86_64
byteorder

[2018-09-15 15:14] h-vetinari commented on #22675
Logging another case of this:

https://travis-ci.org/pandas-dev/pandas/jobs/428987214

[code]

[2018-09-15 16:06] sasutils opened #22720 "Reading SAS time variables"
#### Code Sample, a copy-pastable example if possible
#### Problem description
I tried to search to see if this issue was raised before, but could not find anything.

I notice that read_sas can convert SAS numbers formatted as DATE values (number of days since 1960) or DATETIME values (number of seconds since 1960) to datetime values supported by the datetime class in Python.

But it does not incl

[2018-09-15 16:10] h-vetinari opened #22721 "str.cat not working with binary data on Python3"
In Python 2, the following works:
[code]

whereas in Python 3, `s.str.cat(t)` yields:
[code]

Clearly, Python 3 fundamentally changed the separation between bytes and strings, but in principle, there is no reason (other than implementation) why this should not have the same result in Python 3 as in Python 2.

[2018-09-15 16:16] h-vetinari opened #22722 "Improve TypeError message for str.cat"
Currently,

[code]
yields
[code]

IMO, this should be improved to have a better error message, and shallower stack trace.

[2018-09-15 16:17] sasutils commented on #21616
Thanks.

[2018-09-15 18:19] jbrockmendel opened #22724 "Mismatch in Series/DataFrame boolean ops behavior"
Based on `test_bool_ops_df_compat` from `tests.series.test_operators`:

[code]

The DataFrame behavior strikes me as More Correct.  Is the mismatch intentional?

[2018-09-15 18:51] WillAyd commented on #22722
What are you suggesting exactly? Error message reflects what you would get from a standard Python operation:

[code]

[2018-09-15 18:52] WillAyd commented on #22721
Not sure I agree here at the `.str` accessor is for handling strings not bytes. Let's see what others think though

[2018-09-15 18:54] WillAyd commented on #22719
Can you try on master? I got the following on macOS:

[code]

[2018-09-15 18:58] WillAyd commented on #22718
Let's just keep in one issue and use checkboxes to take not of what problems exist / problems are being made. I've edited your other post to get that started - closing this one for now

[2018-09-15 18:58] #22718 closed

[2018-09-15 19:06] jreback commented on #22721
yeah this is correct
.str is strictly for strings and not bytes

[2018-09-15 19:11] WillAyd commented on #22706
Thanks for the report - investigation and PRs are always welcome!

[2018-09-15 20:34] sasutils commented on #22720
Yes TIME is the number of seconds in 24 hours, ie the number of seconds since midnight.

Looks like the definition for datetime.time.   https://docs.python.org/3/library/datetime.html

Perhaps I am misunderstanding the Python documentation?

[2018-09-16 00:26] h-vetinari commented on #22722
@WillAyd

That's of course correct, but users are not dealing with str/int instances, but usually with Series/ndarray, etc., and so the mentioned warning gives the right hint, but is not necessarily the best we can do. I opened this issue as it was a side product of cleaning up some internals/tests for #22725.

[2018-09-16 00:32] h-vetinari commented on #22721
@WillAyd @jreback

The example is out of `pandas/tests/test_strings.test_method_on_bytes` - it works on Python 2. I see the point that Python 2 didn't have the right separation between bytes/str and I'm fine with not having this functionality. I was just working on this functionality by refactoring the `str.cat` internals (#22725), and found that this now works in Python 3 as well (so I opened thi

[2018-09-16 04:39] dclong opened #22727 "Feature request: add an optional values parameter to Styler.background_gradient"
Sometimes we want to apply background_gradient to some columns according to values in another column. There's no easy way to do this currently. It can be made possible by adding an optional values parameter. And when the values parameter is specified, it is used to generate background colors.

[2018-09-16 05:03] vuminhle commented on #22706
If `record_path` points to a nested dict of dicts, after one `_recursive_extract`, `data` is the inner dict (`{'phones': ...}` in the example)

When `data` is a dict, the for loop [here](https://github.com/pandas-dev/pandas/blob/1c500fb7b3fa08c163e13375d01b9607fcdac0d6/pandas/io/json/normalize.py#L237
) only iterates over the keys.

Do we assume that `data` is a list? If that is the case, there ar

[2018-09-16 05:13] JayDSingh commented on #22590
I'm not sure I'm doing this exactly right but I tried it on both 0.23.4 and built from source on master and it worked on both runs. These are my versions:

For 0.23.4

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Darwin
OS-release: 16.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.2

[2018-09-16 05:34] mullenkamp commented on #18774
I'd like to move forward on this as this is fairly fundamental for a lot time series resampling and there is likely a lot of people applying this incorrectly on their data...
I'm happy to do the coding into the resample method (and the necessary documentation), I'd just like some feedback (and blessing) on how the devs would prefer that I implement it.

For example, I can add another parameter to

[2018-09-16 08:47] MaxBenChrist opened #22729 "Groupby Get Groups fails with "OverflowError: value too large to convert to int""
Hi, I am the maintainer of tsfresh, we calculate features from time series and rely on pandas internally.

Since we open sourced tsfresh, we had numerous reports of tsfresh crashing on big datasets but were never able to pin it down. The errors seem to occur for big datasets (100 GB+). I also tried to reproduce it but do not have access to a machine that has enough memory at the moment.

Recently,

[2018-09-16 09:00] h-vetinari commented on #22471
@gfyoung
I think this issue and #22550 should have a "good first issue" and potentially "difficulty: novice" tag. What do you think?

[2018-09-16 10:47] troels commented on #22720
It could be converted to an ndarray of dtype object with time objects. It wouldn't be efficiently stored like datetime dtype=datetime, but it would be correct.

[2018-09-16 14:33] TomAugspurger commented on #22720
@sasutils yes, I was asking whether SAS's TIME matches Python's datetime.time (no leap seconds) or whether it was more of a datetime.timedelta (with leap seconds).

Loading it as a ndarray of `time` objects would be unusual for pandas. AFAIK, we only do this type of conversion for dtypes that are actually supported.

I'd recommend users do this themselves by converting the loaded data into an obje

[2018-09-16 14:34] TomAugspurger commented on #22727
Can you provide an example?

[2018-09-16 15:27] troels commented on #22720
Both e.g. the excel parser and the SQL module handle and do the conversion to and from time just fine, and as far as I know that is true for all other file formats supporting time as a type.
Why should sas-files be treated differently?

Doing the conversion themselves force the users to manually keep track of the types of the respective columns in a way that is unnecessary, as all the information

[2018-09-16 15:30] TomAugspurger commented on #22720
I didn’t realize we did that for excel and sql.

[2018-09-16 20:37] gfyoung commented on #22471
@h-vetinari : Seems reasonable to me.  Done.

[2018-09-17 01:03] AnnaSou opened #22732 "read_html substitutions"
Hello All,

I have a link from which I need to get the data (basically the whole table)

https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html

But there is no < table > tag, so read_html does not work.

![screen shot 2018-09-15 at 9 55 10 pm](https://user-images.githubusercontent.com/43326583/45602876-c9490f00-b9f3-11e8-9092-17c1959afdc1.png)

Are there any substitutions for read_html?

INST

[2018-09-17 01:38] dclong commented on #22727
![image](https://user-images.githubusercontent.com/824507/45603288-7015c580-ba5d-11e8-8160-38af1c8ed142.png)

[2018-09-17 03:52] WillAyd commented on #22732
For usage questions like this you'd be much better off asking on Gitter or SO, especially since the latter is oriented towards the Q&A format. There's more than likely quite a few approaches here which can be discussed better on that site.

This board is typically reserved for bug reports and enhancements which this doesn't really fall under; closing as a result

[2018-09-17 03:52] #22732 closed

[2018-09-17 03:53] WillAyd commented on #22724
I wouldn't think so and agree with your evaluation

[2018-09-17 10:59] TomAugspurger commented on #22724
Agreed.

(totally different code-path, but the index version seems buggy as well)

[code]

I believe we already have an issue for multiset ops being incorrect.

[2018-09-17 13:48] h-vetinari commented on #22724
Not sure I understand the multiset aspect, but the code above with the non-commutativity of boolean operations is the subject of #6528 and #13806.

[2018-09-17 15:13] TomAugspurger commented on #22698
Also want to look at `cmp_method` in `pandas/core/arrays/datetimelike.py`

[2018-09-17 17:14] mroeschke commented on #22729
Looked at the related thread briefly; how many unique groups are created when `df.groupby([column_id, column_kind])` is called?

My guess from the returned stack trace is that `pd.factorize` is trying to create integer labels for each group, and the total number of groups is more that what int64 can represent?

[2018-09-17 18:56] yuval-nardi commented on #22729
@MaxBenChrist @mroeschke
It fails on `table = hash_klass(size_hint or len(values))`.
When I do `hash_klass(363951638*3)` it succeeds. When I do  `hash_klass(363951638*7)` it fails. The 3 and 7 here relate to the 3 and 7 columns mentioned in the above tsfresh thread. 363951638 is the number of rows in my `df_rolled` (also mentioned in the thread).

Anyhow, it seems that `len(values)` is not the num

[2018-09-17 21:34] palewire commented on #22639
@jorisvandenbossche, I am also sensitive to the need for backwards compatibility. That's why my exploratory patch in the pull request included an effort to continue to support the old keyword namespace and interject a warning of potential future deprecation for the user.

Taking that step and standardizing the names here would follow clearly in the footsteps of what's been done for other methods,

[2018-09-18 01:28] elmq0022 commented on #22512
I'll take a look at this one.  Thanks!

[2018-09-18 02:37] Alxe1 commented on #17309
In pandas version 0.23.4, after group by a dataframe, it can not pass transform method a list of functions and can not rename the field name of a transformed dataframe using a nested dictionary, but it is very useful !!

[2018-09-18 08:56] MaxBenChrist commented on #22729
@yuval-nardi

We internally stack the columns. E.g.

| id  | x   | y   |
| --- | --- | --- |
| a   | 3   | 10  |
| a   | 4   | 11  |

becomes

| id  | kind | value |
| --- | ---- | ----- |
| a   | x    | 3     |
| a   | x    | 4     |
| a   | y    | 10    |
| a   | y    | 11    |

in our internal representation.

Hence, we hit `hash_klass(363951638*7)` so we hit the maximal number of `pd.factorize

[2018-09-18 09:31] sainathadapa commented on #17309
Can this then be taken as a feature request, so that the same kind of `apply/transform` usage be used on both `DataFrame` and `GroupBy` objects?

[2018-09-18 09:34] Alxe1 commented on #17309
Vote it! It is very useful

[2018-09-18 10:18] derekwong9 opened #22740 ".at/.iat do not change the values to a Decimal object .loc/.iloc does"
[code]
array([[2, 4, 2, 1],
       [3, 2, 3, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 3],
       [4, 0, 0, 4]])
[code]
array([[2, 4, 2, 1],
       [3, 2, 3, 1],
       [1, 0, 1, 1],
       [0, 0, 1, 3],
       [4, 0, 0, 4]])
[code]
array([[Decimal('2'), Decimal('4'), Decimal('2'), Decimal('1')],
       [Decimal('3'), Decimal('2'), Decimal('3'), Decimal('1')],
       [Decimal('1'), Decimal('0'), D

[2018-09-18 11:15] #19944 closed

[2018-09-18 11:37] TomAugspurger commented on #22740
I don't think we're likely to try to support this directly.

I'd recommend making an [extension type](http://pandas-docs.github.io/pandas-docs-travis/extending.html#extensiondtype) for Decimal data. The prototype in our test suite at https://github.com/pandas-dev/pandas/blob/master/pandas/tests/extension/decimal/array.py may be a good starting point (or not).

[2018-09-18 12:28] #22150 closed

[2018-09-18 12:51] #22295 closed

[2018-09-18 12:51] #22332 closed

[2018-09-18 12:54] #21835 closed

[2018-09-18 12:56] fjetter opened #22741 "BUG: Numpy deprecation warning when constructing Series from numpy.datetime64 value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code triggers a `numpy` DeprecationWarning when using a numpy scalar value as input to the series.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.13.final.0
python-bits: 64
OS: Linux
OS-release: 4.9.60-linuxkit-au

[2018-09-18 13:38] zhangzhengxin commented on #15901
Was it fixed?

[2018-09-18 13:54] #22092 closed

[2018-09-18 14:06] TomAugspurger commented on #22402
https://github.com/pandas-dev/pandas/pull/22684 is allowing `method` to be a callable with a correct signature. I think we would happily accept a PR for a cookbook recipe with a distance correlation that uses #22684.

[2018-09-18 14:12] TomAugspurger commented on #22727
It's not clear to me what the API would look like. IIRC, there's nothing else in Styler where a property for a column is computed by the values in another array.

It is unfortunate that you needed to duplicate the code in `Styler._background_gradient` with you `bg_grad` function.

[2018-09-18 14:18] derekwong9 commented on #22740
No need to support directly, I am just wondering why .at/.iat does not
alter the value, but loc/iloc does. since I am only doing single value
get/set it should be faster with at/iat.

On Tue, Sep 18, 2018, 19:38 Tom Augspurger <notifications@github.com> wrote:

[2018-09-18 14:39] dsaxton commented on #22402
@TomAugspurger Sounds good, #22684 looks like a nice change.  Can you point me to any documentation on how to create cookbook recipes?

[2018-09-18 14:44] MarvinT commented on #22512
another similar example:

[code]
yields
[code]

[2018-09-18 14:47] #22487 closed

[2018-09-18 14:54] TomAugspurger commented on #22740
I'm not sure; you're welcome to take a look.

On Tue, Sep 18, 2018 at 9:21 AM Derek Wong <notifications@github.com> wrote:

[2018-09-18 14:55] TomAugspurger commented on #22402
It's nothing fancy, just a bunch of code snippets in https://github.com/pandas-dev/pandas/blob/master/doc/source/cookbook.rst

(it would be nice to enforce some consistency, and pick a better presentation format; but that's another issue).

[2018-09-18 15:06] TomAugspurger commented on #22707
Any luck debugging this @seanv507?

[2018-09-18 15:34] ian-contiamo commented on #11733
@rileymcdowell I would agree with @WillAyd that the former of the two behaviors you describe is the most intuitive way to interpret an Excel file. If you can I would encourage you to submit a PR with this behavior.

[2018-09-18 15:35] chris-b1 commented on #22713
Thanks for the report.  Certainly welcome to investigation / fixes, but doesn't look like a significantly block of memory is leaking, just a few references, so not sure it makes a big difference in practice?

[code]

[2018-09-18 15:45] jorisvandenbossche commented on #22698
The occurrences of that last one:

https://github.com/pandas-dev/pandas/blob/d765dfbd53a70b94bc8e22b664d9235959832fd6/pandas/core/arrays/datetimelike.py#L59-L63

https://github.com/pandas-dev/pandas/blob/857515f60ef39d13d943969f6958e922f1e9b430/pandas/core/arrays/integer.py#L508-L512

https://github.com/pandas-dev/pandas/blob/d39249ad8ffc201dc7e92b063e2c8c2823b1cdc7/pandas/core/indexes/base.py#L98

[2018-09-18 15:56] seanv507 commented on #22707
not so far.  I don' know where to look [ I know it must be something to do
with my config].  my workaround currently is pyperclip.copy(df.to_csv())

On Tue, Sep 18, 2018 at 5:09 PM Tom Augspurger <notifications@github.com>
wrote:

[2018-09-18 16:46] mroeschke commented on #22729
Why does the data need to be pivoted to a long format?

The size of the data seem to already be pushing the limits of pandas already unfortunately; I would imagine processing this data need something like dask: http://dask.pydata.org/en/latest/

cc @jreback

[2018-09-18 16:52] #16481 closed

[2018-09-18 16:52] #13962 closed

[2018-09-18 16:52] #19677 closed

[2018-09-18 16:52] #22020 closed

[2018-09-18 17:34] danielwlogan opened #22744 "Interpolate(method='nearest') Can't Handle Only One Value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A `ValueError` exists when I run `.interpolate(method='nearest')` on a column with only one non-`NaN` value. The full error is: `ValueError: x and y arrays must have at least 2 entries`

#### Expected Output

When `method='nearest'` is passed to the interpolate method for a column with only one non-`NaN` value,

[2018-09-18 17:50] TomAugspurger commented on #22744
This is just using `scipy.interpolate.interpolate_1d`, which seems to require at least 2 non-null values. I'm not sure if that requirement can be relaxed on SciPy's end.

[2018-09-18 17:50] #22744 closed

[2018-09-18 18:53] dsaxton commented on #22402
I could add this within the "Computation" section if that makes sense.

[2018-09-18 19:34] chris-b1 commented on #22729
khash, our hash table implementation, uses an 32 bit integer throughout for its sizes.  maybe could change that, but would be quite invasive.

But as as long as your number of distinct values fits into 32 bit space, the current implementation should work.  So as a fix, want to try capping the size hint (to something like `INT32_MAX - 1`) and see if that fixes?

https://github.com/pandas-dev/pandas

[2018-09-18 19:38] labodyn commented on #22719
Python crashes on master.

[2018-09-18 19:42] labodyn commented on #22719
I have the bug both locally and on AWS.

[2018-09-18 19:45] simonjayhawkins opened #22747 "Columns Index Name with to_html(index_names=False) is displayed."
#### Code Sample

[code]

#### Output

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>columns.name</th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

#### Problem description

[2018-09-18 19:47] simonjayhawkins commented on #22747
currently fixed in #22655, but separate PR to follow.

[2018-09-18 19:50] Kojoley opened #22748 "BUG: read_table crashes Python on surrogates"
#### Code Sample

[code]
#### Problem description

The `pd.read_table(t)` call crashes the interpreter.

#### Expected Output

At least it should throw an exception but not to crash the interpreter.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 F

[2018-09-18 20:00] chris-b1 commented on #22748
ref #22610 on the writing side.  No idea what's actually going wrong here, but would welcome investigation/PR - probably start by looking at the backtrace on the crash.  Thanks for the simple reproducing case.

[2018-09-18 20:56] rileymcdowell opened #22752 "Unexpected output for `nlargest` function with multiple columns"
#### Code Sample

[code]

#### Actual Output

[code]
_Text within square brackets added to call attention to rows with unexpected output._

#### Problem description

According to [the documentation for nlargest](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.nlargest.html#pandas-dataframe-nlargest), the `nlargest` function should function identically to `df.sort_values(col

[2018-09-18 21:45] bear24rw opened #22753 "Mean of dataframe with object column returns dataframe of complex128 dtype"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description

Computing the mean of a dataframe that has an object dtype column converts the whole dataframe to a complex type. This is unexpected and different from previous behavior (used to just drop the object columns)

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit:

[2018-09-18 21:56] bear24rw commented on #22506
@hhuuggoo did you file this with numpy?

[2018-09-18 21:58] hhuuggoo commented on #22506
no cause its not a numpy issue (the non-anaconda builds are fine)  I'm not sure where to file an issue about anaconda packages anymore

[2018-09-18 21:59] hhuuggoo commented on #22506
I'll try this https://github.com/ContinuumIO/anaconda-issues

[2018-09-18 22:01] zeromh commented on #17309
@colin1alexander
Ah, my bad. Thanks for the clarification.

[2018-09-18 22:02] caniko2 commented on #13262
What is the ETA on this issue?

[2018-09-18 22:06] jtweeder commented on #18394
@TomAugspurger , This may be old and left open, but you had previously asked for more tests that this is fixed.  It appears that @pcluo is correct about the matplotlib issue.

I tested with matplotlib 2.1.0 and pandas 0.22.0 and reproduced a similar issue
![oldversuion](https://user-images.githubusercontent.com/31365056/45718897-45fafb00-bb64-11e8-8ab5-a532a317ddf5.PNG)

Then I tested matplotlib 2

[2018-09-18 22:18] bear24rw commented on #22506
I have the same issue with a non-anoconda build (just normal pip install on macos with homebrew python3)

[2018-09-18 23:02] jreback commented on #13262
when / if a community pull request happens

[2018-09-18 23:49] UnitedMarsupials opened #22757 "pandas fails to install if Cython is not installed"
#### Problem description
Trying to install pandas using pip3 (and Python-3.6.6), I get:
[code]
Note, that Cython is available -- the version installed with Python itself, not as a pip. The work-around is to `pip3 install Cython` first:
[code]
but it should not be necessary, should it be? And if for some reason it _is_ necessary, pandas needs to explicitly require it...

[2018-09-19 01:06] chris-b1 commented on #22757
You're right that Cython isn't required for install, only dev.

That check is guarded in a try block after a Cython import - possible you had an old or otherwise incomplete install?  Standard python installations shouldn't ship with Cython
https://github.com/pandas-dev/pandas/blob/0409521665bd436a10aea7e06336066bf07ff057/setup.py#L38

[2018-09-19 01:13] alimcmaster1 commented on #22757
Yes I would try in a fresh virtual env here.

[2018-09-19 01:41] WillAyd commented on #22753
Thanks for the report. I was only able to reproduce this on Python 3.7 as earlier versions looked fine. Investigation and PRs would certainly be welcome

[2018-09-19 01:46] vuminhle commented on #22706
@WillAyd : What do you think of the proposed fix? I'll create a PR if you think it's the right thing to do.

[2018-09-19 01:59] UnitedMarsupials commented on #22757
But it is only guarded against `ImportError`, not `AttributeError`...

It may be possible, I guess...

Ok, am I _gaining_ anything -- such as speedier pandas -- from having it?

There is no virtual environment in use.

[2018-09-19 02:41] WillAyd opened #22758 "Make header_style a Property of ExcelFormatter"
Right now the header style of excel exports is defined as global to the `pandas/io/formats/excel.py` module:

https://github.com/pandas-dev/pandas/blob/1a12c41d201f56439510e683fadfed1218ea9067/pandas/io/formats/excel.py#L37

Because this exists outside of the `ExcelFormatter` class where it is used it is way more difficult to override the default than it needs to be. If this was moved from global

[2018-09-19 04:06] UnitedMarsupials commented on #22757
RedHat-6 -- with a cutstom-built Python-3.6.6

Yes, it worked:
[code]

[2018-09-19 04:15] gfyoung commented on #13262
@caniko2 : This is quite a tricky one given that duplicate column names have unusual behavior in `pandas`.  You are more than welcome to submit a PR to implement it if you like.

[2018-09-19 08:41] MaxBenChrist commented on #22729
I am pretty sure that this is the reason for the bug. However, we can deal with that. We can split the stacked dataframe into pieces and then calculate the chunk list.

Thanks for the help.

Do you see this happening in the near future?

I will check the performance of dask for this dask, we already use it in tsfresh anyway

[2018-09-19 11:03] TomAugspurger commented on #22757
OK, then things seem to be fine from pandas' end. There must be something in your other environment that's messing things up. Let us know if you find a solution.

[2018-09-19 11:03] #22757 closed

[2018-09-19 13:32] h-vetinari opened #22763 "CI: Improve CircleCI"
Not sure how much of that needs to be done upstream, but right now, CircleCI is performing very poorly.

We're on the sixth page of jobs (so about 24h waiting time for commits coming in now), and CircleCI is stalling intermittently, e.g. right now, since about half an hour (not sure if those workers may be changing to some private pipelines that are not visible to me):

![4e](https://user-images.g

[2018-09-19 13:39] chris-b1 commented on #22729
Cool, in case it's not clear, we'd probably take a PR into pandas that caps the `size_hint`.  As the name implies, it's only a hint to khash to pre-allocate a bunch of memory, ultimately khash will reallocate as necessary based on the actual data.

[2018-09-19 14:16] #21552 closed

[2018-09-19 14:45] jreback opened #22764 "ENH: allow passing a mask to nanops to facilitate EA reduction ops"
https://github.com/pandas-dev/pandas/pull/22762#discussion_r218832793

currently we call nanops like

``nansum(values, skipna=boolean)``

this doesn't allow us to take advantage of knowing the nan mask a-priori (e.g. in an IntegerArray), and instead re-computes it based on the values (only).

We could allow ``skipna=`` to take a mask as well here (or add a ``mask=`` keyword) to facilitate this.

[2018-09-19 15:28] TomAugspurger commented on #22719
Did you install from our wheel on PyPI, or conda, or source?

[2018-09-19 15:31] jreback commented on #22275
I think this will just work after #22762 (if constructed as a ``DecimalArray``)

[2018-09-19 15:34] TomAugspurger commented on #22706
The docstring claims that either a dict or list of dicts is allowed. The only example with a dict doesn't really do any normalization though:

[code]

I'm inclined to do whatever is easiest to maintain in the long-run, though it's not clear what that is in this case.

[2018-09-19 15:42] #22690 closed

[2018-09-19 15:52] TomAugspurger opened #22766 "Azure CI followup"
1. Move doc build, as it occasionally times out on travis. This may be tricky as I think we have an encrypted key on Travis to push the docs to http://pandas-docs.github.io/pandas-docs-travis/ (cc @jorisvandenbossche)
2. Setup https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=vsts&tabs=yaml

[2018-09-19 16:10] labodyn commented on #22719
installed from source, followed the install from github

[2018-09-19 16:13] TomAugspurger commented on #22719
What's `ldd --version` and what version of gcc?

[2018-09-19 16:15] labodyn commented on #22719
ldd (Ubuntu GLIBC 2.23-0ubuntu10) 2.23
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.

gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is fre

[2018-09-19 18:32] bear24rw commented on #22753
I can repo on Ubuntu 18.04

[code]
[code]

[2018-09-19 19:27] WillAyd commented on #22706
I don't think we should assume that it is always a list. In my mind the behavior for `record_path` should mirror whatever happens at the top level but just resolving that at the specified `record_path`. These calls have an equivalent return:

[code]

So I would assume the following to also be equivalent (though currently failing)

[code]

[2018-09-19 19:31] WillAyd opened #22773 "Expose Formatters via API and Improve Documentation"
See the discussion in https://github.com/pandas-dev/pandas/pull/22759#discussion_r218821031 - we could potentially expose the formatters via the public API and allow users to subclass them or even assign properties to them which give finer control over what gets exported.

I've had an actual use case for this for at least the `ExcelFormatter` to change the exported header formatting. Haven't had a

[2018-09-19 21:05] TomAugspurger commented on #22692
I would favor `df.to_html(classes=False, border=False)` rather than empty strings, as in many places pandas allows `keyword=string` as a shorthand for `keyword=[string]` when a list of strings is really expected. But I like your general idea.

Yes probably.

I'm not really familiar with the justification code.

[2018-09-19 21:17] #22085 closed

[2018-09-19 22:39] bear24rw commented on #22506
I opened numpy/numpy#11993

[2018-09-19 22:40] bear24rw commented on #22753
I opened numpy/numpy#11993 which I believe might be the root of this issue.

[2018-09-20 00:14] jreback commented on #22763
I we somehow got bumped to 1 container, rather than the 4 that we had before. So this is why things are taking forever. I emailed them, let's see.

cc @TomAugspurger

[2018-09-20 03:52] vuminhle commented on #22706
To be clear, I asked about `data` in [`_recursive_extract`](https://github.com/pandas-dev/pandas/blob/1c500fb7b3fa08c163e13375d01b9607fcdac0d6/pandas/io/json/normalize.py#L227) (not the parameter `data` in `json_normalize`).

I agree with @WillAyd that the list assumption inside `_recursive_extract` is wrong. Inside this function `data` can be anything (list, dict, value). That's why my proposed f

[2018-09-20 06:13] DataMonk2017 opened #22777 "Something wroing in rpy2 / R interface in Official Guide"
In Latest Version of Pandas, the code explanation is kind of misleading due to the lack of rpy2 dependency. Please see png below:
![error](https://user-images.githubusercontent.com/16098658/45799203-44097700-bcdf-11e8-9ab6-09428b1ba8d3.JPG)

Here is the link:
https://pandas.pydata.org/pandas-docs/stable/r_interface.html

[2018-09-20 07:13] h-vetinari commented on #22763
I think you might have looked at the queue when just one of them was running, but it fluctuates from 0-4 (see OP). It's almost as if the workers are shared with another queue that's not visible (and so, on finishing one PR, the 4 workers move somewhere else, and after finishing there, come back one by one).

[2018-09-20 09:13] jorisvandenbossche commented on #22274
@mroeschke that there were some breakages was to be expected I think? In the merged PR, there were also breakages, as you needed to change existing tests to get them passing.

Yes, and in master two popular tz-aware operations with 'D' (the same ones) broke. I don't know which one of the two is more popular :-)
Anyhow, what I try to say is: both approaches have similar breaking consequences. So IM

[2018-09-20 09:16] eXcuvator opened #22778 "Feature request: DataFrame.pop with argument axis"
#### Comment

Pop works as in python lists: It returns an element by index and removes it from the original object.
Unlike lists however, `Dataframe` objects are two-dimensional. It should be possible to `pop()` by either axis, with the current behavior set up as default.

#### Code Sample, a copy-pastable example if possible

[code]

[2018-09-20 09:54] dumbledad opened #22779 "Memory error on large machine"
I run the following on two of my machines:

[code]

On my laptop (with 8GB of RAM) this runs without issue (although the call out to `filter_anevexp` takes a few minutes). On my desktop (with 128GB of RAM) it fails in pandas with a memory error:

Is there anything special I need to do to prevent errors (e.g. addressing errors) on machines with lots of memory?

[2018-09-20 10:07] dumbledad commented on #22779
I've submitted this as a StackOverflow question too: [pandas memory error on large RAM machine but not on smaller RAM machine: same code, same data](https://stackoverflow.com/q/52422544/575530)

[2018-09-20 10:11] jreback commented on #22779
the answer on SO is right
32 python on windows allows very little memory to the process (about 1GB max); try using 64 bit

[2018-09-20 10:11] #22779 closed

[2018-09-20 10:51] TomAugspurger commented on #22763
They sent out an email yesterday explaining some things. They ran into rate
limits with their cloud providers.

On Thu, Sep 20, 2018 at 2:13 AM h-vetinari <notifications@github.com> wrote:

[2018-09-20 10:58] TomAugspurger commented on #22778
Duplicate of https://github.com/pandas-dev/pandas/issues/19501, if you want to chime in over there.

[2018-09-20 10:58] #22778 closed

[2018-09-20 11:03] TomAugspurger commented on #22777
Moving to https://github.com/pandas-dev/pandas-release/issues/5

[2018-09-20 11:03] #22777 closed

[2018-09-20 11:35] jorisvandenbossche commented on #22777
Related to https://github.com/pandas-dev/pandas/pull/22424

[2018-09-20 11:57] TomAugspurger commented on #22777
Oh cool, so I should just need to rebuild and reupload? I'll try to get to that today.

[2018-09-20 12:57] jorisvandenbossche opened #22782 "CI: doc build on travis is failing on installation (r channel)"
Since yesterday or so (eg https://travis-ci.org/pandas-dev/pandas/jobs/430680571), the doc build fails on installation:

[code]

[2018-09-20 13:02] ron819 commented on #11238
Any chance this will be implemented soon?

[2018-09-20 13:03] ron819 commented on #9790
Any chance this will be fixed soon?

[2018-09-20 13:05] simonjayhawkins commented on #15019
Reproducible code sample to use as test case:

#### Code Sample

[code]

#### Output

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.764052</td>
      <td>0.400157</td>
    </tr>
    <tr>
      <td>0.978738</td>
      <td>2.240893</td>
    </tr>
    <tr>
      <td>0.950088</td>

[2018-09-20 13:16] jreback commented on #11238
a community pull request would make this happen

[2018-09-20 13:16] jreback commented on #9790
a community pull request would make this happen

[2018-09-20 13:27] simonjayhawkins opened #22783 "BUG: to_html misses truncation indicators (...) when index=False and max_cols < len(columns)"
#### Code Sample

[code]

#### Problem description

similar to #15019 with `max_cols` instead of `max_rows`

#### Output

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>0</th>
      <th>1</th>
      <th>3</th>
      <th>...</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.764052</td>
      <td>0.400157</td>
      <td>2.240893</

[2018-09-20 13:40] #22702 closed

[2018-09-20 13:46] TomAugspurger opened #22784 "Indexing a row of a DataFrame with multiple ExtensionArrays coerces to object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The dtype is object. It should be `category`

#### Expected Output

[code]

(for the release notes)

[2018-09-20 14:01] #22326 closed

[2018-09-20 14:01] #22665 closed

[2018-09-20 14:08] h-vetinari commented on #22763
It seems that also the "cancel-on-newer-commit" thing is not working. Right now, I see the jobs for an old commit of #22736 starting (https://circleci.com/gh/pandas-dev/pandas?page=3), even though newer commits exist (https://circleci.com/gh/pandas-dev/pandas?page=1).

[2018-09-20 14:32] TomAugspurger commented on #22782
Some temporary downtime on the r channel. This is working again.

https://travis-ci.org/pandas-dev/pandas/jobs/431033833

[2018-09-20 14:32] #22782 closed

[2018-09-20 14:51] jebob opened #22788 "BUG: Importing pandas with warnings("error") fails"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Enabling `warnings.simplefilter("error")` causes pandas to raise an error

[code]
Running python with the command line option `Werror` results in the same behaviour.

#### Expected Output

Pandas should not crash when being imported. This is relevant for my use case where I am doing unit testing with `-Werror`

[2018-09-20 14:57] TomAugspurger commented on #22788
Blocked by https://github.com/cython/cython/issues/1720 I think.

[code]

If this is important to you, you could add a small script to our CI to ensure that pandas can be imported without warnings.

[2018-09-20 15:21] sinanonur opened #22789 "Misleading read_csv() error message. It says lines but refers to rows."
This is not an error per se but might misdirect others as it did to me.

[code]
#### Problem description

This code results in the following message

`ParserError: Error tokenizing data. C error: EOF inside string starting at line 4`
which seems correct at first sight. But actually the problematic string does not start at line 4 it starts at **row 4**. I  was working with a very large file and did

[2018-09-20 15:42] jebob commented on #22788
This solves my issue, thanks for the quick response.

[2018-09-20 15:59] TomAugspurger opened #22790 "Matplotlib 3.0 compatibility"
I have some local failures with matplotlib 3.x only

[code]

Our CI will start failing once these hit defaults.

[2018-09-20 16:13] TomAugspurger opened #22791 "ExtensionDtype API for preferred type when converting to NumPy array"
This is coming out of SparseArray. Right now if you have a homogeneous DataFrame of EAs, then doing something like `np.asarray(df)` will always convert to object. https://github.com/pandas-dev/pandas/blob/32a74f19b655f4b0ef198d5ff4e15d409c3670d2/pandas/core/internals/managers.py#L787-L794.

Should we give ExtensionDtype some input on the dtype used here? This would allow for some consistency betwe

[2018-09-20 16:16] #22788 closed

[2018-09-20 16:17] TomAugspurger commented on #22788
Closing, but if someone wants to add a test for this that's probably OK.

[2018-09-20 17:40] achapkowski opened #22792 "Custom Dtypes and `T`"
I created a custom Array called ```GeoArray(NumPyBackedExtensionArrayMixin)```.

When I try to dump out my custom array, I get the following error:

[code]

What does `T` have to be?  How do I define it?

[2018-09-20 17:42] TomAugspurger commented on #22792
What do you mean dump out?

`.T` is an alias of `.transpose()`.

[2018-09-20 17:50] mroeschke commented on #22274
I agree that either change will incur breaking changes and that we'll need to adapt some depreciation behavior.

Besides the potential mixed relative/absolute semantics that 'D'  could represent (that I am not a fan of), I am also concerned about the potential bugs and gotchas that it might introduce as there might be other places where datatime and timedelta transformations are tightly coupled.

[2018-09-20 17:59] achapkowski commented on #22792
I mean save the dataframe to an HDF5 table.

[2018-09-20 18:01] achapkowski commented on #22792
Where should I define transpose on the on my ```NumPyBackedExtensionArrayMixin(ExtensionArray):``` or on my `GeoArray` class?

[2018-09-20 18:17] TomAugspurger commented on #22792
Serializing extensions arrays is basically unsupported right now (though pickle usually works). See https://github.com/pandas-dev/pandas/issues/20612, and if you're interested in working on it let us know. It can be done for specific readers / writers in separate PRs.

`.T` / transpose isn't part of the EA interface and I don't think we'll include it, since it doesn't make sense for EAs.

[2018-09-20 18:17] #22792 closed

[2018-09-20 19:39] alimcmaster1 commented on #22764
Ill take a look at adding this :)

[2018-09-20 19:54] hhuuggoo opened #22793 "divide by 0 for Int64 is inconsistent with int64"
[code]

Where as

[code]

It's because of this line:

https://github.com/pandas-dev/pandas/blob/0480f4c183a95712cb8ceaf5682c5b8dd02e0f21/pandas/core/arrays/integer.py#L545

Is it intentional for the new extension integer type to have different behavior here?

[2018-09-20 20:02] hhuuggoo commented on #22023
So the error has changed into

[code]
But that is because of what happens in _maybe_mask_result.

https://github.com/pandas-dev/pandas/blob/0480f4c183a95712cb8ceaf5682c5b8dd02e0f21/pandas/core/arrays/integer.py#L532

That code has some logic for detecting when it should be outputting floats.  Does anyone know why we do that instead of just checking the dtype of result?

If we don't want to rely on

[2018-09-20 20:25] rndeon opened #22794 "merge_asof can't handle floats in by column?"
#### Code Sample, a copy-pastable example if possible

[code]
errors with

while
[code]
works fine
#### Problem description

`_asof_by_function(self.direction, on_type, by_type)` returns `None` when `on_type="double"` and `by_type="double"`.
returns sensibly with `on_type="double"` and `by_type="int64_t"`.

#### Expected Output

Since regular pd.merge works on float types, I'd expect this one to a

[2018-09-20 20:46] WillAyd commented on #22793
These should align though I think the extension type actually handles this more correctly

[2018-09-20 20:48] WillAyd commented on #22789
I'm not clear on the distinction you are trying to make - can you provide a more illustrative example?

[2018-09-20 21:04] WillAyd commented on #22794
Hmm seems kind of strange. If I had to guess the `float` type may just need to be sized like the `int` types in the `join_func_helper.pxi.in` template:

https://github.com/pandas-dev/pandas/blob/0480f4c183a95712cb8ceaf5682c5b8dd02e0f21/pandas/_libs/join_func_helper.pxi.in#L23

Welcome to take a look and submit a PR if you can get it to work

[2018-09-20 21:15] chrisrpatterson commented on #22766
@TomAugspurger the equivalent feature in Azure Pipelines to encrypted variables in Travis is secret variables. https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=vsts&tabs=yaml%2Cbatch#set-an-output-multi-job-variable

[2018-09-20 22:17] #22758 closed

[2018-09-20 22:57] bchu opened #22796 "Concat of dataframe with tz-aware datetime column against dataframe without, fails"
[code]

Fails:
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-32-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.4
pytest: 3.0.6

[2018-09-20 23:44] mroeschke commented on #22796
Thanks for the report, this seems to only be an issue with `axis=0` and merging multicolumn `DataFrames` with tz-aware data

I suspect it has something to do with the fact that the DatetimeTZBlock only stores data in a 1D array. Investigations welcome!
[code]

[2018-09-21 02:56] dhimmel commented on #22639
I agree that underscore spacing for multi-word arguments is most pythonic and readable. Hopefully, this issue will help ensure new keyword arguments use underscore spacing.

Upgrading existing arguments will be painful, both in terms of developer time and the deprecation / backwards incompatibility issues that will arise. On the other hand, if these changes are going to be made, then sooner is bet

[2018-09-21 03:05] dhimmel commented on #22555
I agree that the compression argument should take effect when a file-like object is passed. This enhancement would likely include implementing zip writing support in _get_handle, which would address the frustration I had in https://github.com/pandas-dev/pandas/pull/22011#issuecomment-406831478.

[2018-09-21 03:13] mroeschke commented on #22675
Closed by #22699 I believe.

[2018-09-21 03:13] #22675 closed

[2018-09-21 08:18] #20768 closed

[2018-09-21 08:18] miccoli commented on #22591
I have miccoli/pandas@0416b0675d65d75fd8894c42bc58c08f7385d3ac almost ready for PR, implementing a rounding mode compatible with the current flawed implementation which is based on floating point rounding semantics and [`numpy.around`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.around.html).

I have just a point I'm unable to resolve: I'm using [`numpy.divmod`](https://docs.scipy.o

[2018-09-21 09:44] jorisvandenbossche commented on #22023
I can't directly think of cases where numpy will return float, but where we want to convert again to an integer dtype. But since it is written that way, there might be cases (@jreback do you remember?)
You can maybe do the change and see if there are tests failing then

[2018-09-21 09:52] jorisvandenbossche commented on #22793
I am not sure we should change the behaviour of Series with default numpy types, as we then would deviate from numpy behaviour.

Of course for the extension Int type, we have better handling of NA compared to numpy int, so which could be a reason to actually use that here. But, since division will always result in a floating dtype (and never integer), that's not a direct benefit in this case.

We

[2018-09-21 09:54] jorisvandenbossche commented on #22791
Not sure if that was from the same discussion, but I recall a discussion where we said that we basically wanted to know the "numpy dtype if I would be converted to a numpy array" of an ExtensionArray, without actually converting it.
That seems something useful in general I think, and could then be used to determine the best interleaved dtype in the use case above?

[2018-09-21 12:15] jungwu opened #22797 "loc() does not swap two rows in multi-index pandas dataframe"
[code]
#### Problem description

df.loc[['b','a'],:] does not swap the rows 'a' and 'b', nor does for a Series.

#### Expected Output
The output should be the same as the one obtained via df.reindex(index=['b', 'a'], level=0)
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine:

[2018-09-21 12:20] jorisvandenbossche opened #22798 "Support numpy ufuncs for ExtensionArrays"
Currently calling numpy ufuncs such as `np.exp` on a Series[EA] or EA does not work yet:

[code]

I think it would be nice to have this working, and without looking in detail into it, I would assume the best way to go is to actually support the `__array_ufunc__` protocol on ExtensionArrays itself and to ensure Series then properly uses that?

[2018-09-21 13:33] jorisvandenbossche opened #22799 "BUG: boxplot does not work when there is a datetime64 column"
Making a boxplot of a DataFrame does not seem to skip datetime64 columns, as you get the following error (it tries to calculate the mean of the datetime64 values):

[code]

While when this would be a string column, it would be correctly skipped.

This seems to be a regression, as at least in pandas 0.20.3 this worked.

[2018-09-21 14:26] MaxBenChrist commented on #22729
So, to sum up, the current maximal number of groups in an pandas groupby object is

`2^31-1 = 2,147,483,647`.

If one creates an groupby object with more groups, it will fail with "OverflowError: value too large to convert to int".

Regarding a PR: I am not really versatile in C, so I have no idea where I would start. I am not even sure I understand what would have to be changed inside pandas, you

[2018-09-21 14:31] WillAyd commented on #22797
I don't think we make guarantees about the order of returned values from a `.loc` operation so I am inclined to say this is not a bug but let's see what others say

[2018-09-21 15:46] Twizzledrizzle opened #22800 "pd.read_clipboard() from excel now gives warning"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
[this recent commit](https://github.com/pandas-dev/pandas/commit/dc45fbafef172e357cb5decdeab22de67160f5b7#diff-3f25860d9237143c1952a1f93c3aae18L102) makes `read_table` think the separator is more than 1 characters long. `parser.py` in function `_clean_options`

When changing back to

`sep = '\t'`

it works witho

[2018-09-21 15:50] Twizzledrizzle commented on #22800
Fixed in the version I referred to, not broken. Anaconda has not upgraded to the new pandas yet :(

[2018-09-21 15:50] #22800 closed

[2018-09-21 16:47] TychonautVII opened #22801 "DataFrame.to_dict can result in data loss when indexes are not unique"
#### Code Sample,

[code]
---1  2
0
A  B  C
A  D  E
F  G  K
[code]
{'A': {1: 'D', 2: 'E'}, 'F': {1: 'G', 2: 'K'}}

#### Problem description

The to_dict method silently tosses away data when indexes are not unique. At least in my impression the rest of the API doesn’t mind non-unique index’s much, so I don’t like this behavior. I think that it should either preserve the data, or raise an an error

[2018-09-21 18:59] chris-b1 commented on #22801
Yeah, I think we should raise here, ala #4376 for JSON.  Thanks for the report!

[code]

[2018-09-21 18:59] WillAyd commented on #22801
dicts in Python do not support duplicate indices so I think we should raise. You can use JSON as an alternate if you need

[2018-09-21 19:01] WillAyd commented on #22801
Looks like @chris-b1 beat me to this, but to clarify my seemingly contradictory point about JSON you can do the following:

[code]

[2018-09-21 19:03] WillAyd commented on #22706
@vuminhle feel free to submit a PR for code review

[2018-09-21 20:06] PatrickDRusk commented on #22801
This issue ties in with an issue I reported a week back: https://github.com/pandas-dev/pandas/issues/22705

[2018-09-21 20:22] PatrickDRusk opened #22803 "Indexing into a series with multi-index containing periods raises an exception"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Running the code above causes an exception with a long traceback:
[code]
This appears to happen only if the series has a multi-index that contains periods as one of its levels. Datetimes won't cause it, for instance.

The `s[~s.isnull()]` is equivalent to `s.dropna()`, which does work.

Neither `~s.isnull()` nor

[2018-09-21 21:30] hhuuggoo commented on #22023
if I just change it to return the float array (apply nan mask) whenever the result dtype is a float, all tests pass.

https://github.com/hhuuggoo/pandas/tree/remove_float_logic

https://github.com/hhuuggoo/pandas/blob/remove_float_logic/pandas/core/arrays/integer.py#L532

seems ok - but I don't completely understand what was there to begin with

[2018-09-21 23:49] #15938 closed

[2018-09-22 02:14] jungwu commented on #22797
For a single-indexed table, we can reindex it using .loc() instead of .reindex()

[code]
In his book, "Python for Data Analysis 2ed" Wes McKinney says "you can reindex more succinctly by label-indexing with loc, and many users prefer to use it", although he used only a single-index table
for illustration.

This may be not a bug. however it is natural for one to expect the same effect for the multi

[2018-09-22 03:02] vuminhle commented on #22706
Btw I think #21605 has the same root cause.
PR #22804 should also fix this bug.

[2018-09-22 10:05] abrakababra commented on #22613
finally done a little research, it's taking the "except-route" [here](https://github.com/pandas-dev/pandas/blob/55d176d1cd624f8921379c0ceed06fb8e00625b9/pandas/core/strings.py#L154):

[code]
the first except is triggered by `lib.map_infer_mask`which in my installation is this file
\python3\lib\site-packages\pandas\_libs\lib.cp37-win_amd64.pyd

[2018-09-22 13:47] chris-b1 commented on #22729
@MaxBenChrist, could you or a user try the PR #22805?  I think it should fix, but I don't have a machine with enough memory to do a full reproducing case.

To expand a bit, the underlying limitation is that the number of buckets (~distinct values + some empty space) in the hash table is limited to UINT32_MAX (2^32).  But your code wasn't making it that far, it was overflowing on the `size_hint` pa

[2018-09-22 18:53] karthikkumar-infa opened #22806 "Sorts data frame by date column with different format"
#### Code Sample, a copy-pastable example if possible

![image](https://user-images.githubusercontent.com/43502888/45920742-87720a00-bec6-11e8-99e3-58e410366acd.png)

[code]
#### Problem description
I have data frame with date column and the column is in different format like dd-mm-yyyy, mm/dd/yyyy etc. I want to sort the date frame with that date column

By default the column is an object type an

[2018-09-22 18:55] spulec commented on #20720
@csolamx feel free to follow along at https://github.com/spulec/moto/issues/1567

[2018-09-22 21:03] mroeschke commented on #22806
You'll need to use `to_datetime` on the dateSold column first before sorting.

For usage question, we recommend going to stack overflow.

[2018-09-22 21:03] #22806 closed

[2018-09-22 21:17] pauloneves opened #22807 "When exported to CSV file, category data should be considered non numeric"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Although the 'c' column data are made just of numeric values, it is categorical data. These kind of data shouldn't be considered numeric, so it must be quoted when I generate the csv file with the option: `quoting=csv.QUOTE_NONNUMERIC`

CSV isn't a very sophisticate format to export data, but the ability to alr

[2018-09-22 22:14] sebach1 opened #22808 "Can't select medium values of df category"
[code]
Almost tried:
[code]

#### Problem description

I need to select the elements with prices under 7.

#### Expected Output

DF showing the elements with prices between 2.5 and 7.

#### Output of ``pd.show_versions()``

<details>

TypeError: unsupported operand type(s) for |: 'float' and 'bool'
---------------------------------------------------------------------------
TypeError

[2018-09-23 12:11] #10117 closed

[2018-09-23 12:11] #19375 closed

[2018-09-23 14:02] chris-b1 commented on #22807
I'm not sure about the API here, note you always can control this yourself by casting your categories to a non-numeric type
[code]

[2018-09-23 14:07] h-vetinari opened #22812 "ENH: coalesce-method (upgrade for update/combine_first)"
The state `update/combine_first` in `v0.23`:
* `.update` signature does not match between DataFrame/Series (#22358)
* `df.update` has a `join`-kwarg that only supports `left`, although the source code itself notes:
  ```# TODO: Support other joins``` (#21855)
* `.update` is one of the (very) few pandas-methods that's inplace by default, but does not have an `inplace`-kwarg (#22286)
* `.combine_fir

[2018-09-23 20:11] #22468 closed

[2018-09-23 21:54] gfyoung commented on #22789
This proposal seems fine to me.

@miccoli : Would you like to submit a PR for this?

[2018-09-23 22:05] gfyoung commented on #22803
@PatrickDRusk : That does look a little odd indeed!

cc @toobaz @jreback

[2018-09-23 22:08] gfyoung commented on #22807
@pauloneves : That makes sense semantically.  It would be a nice improvement.  Investigation and PR are welcome!

[2018-09-23 22:08] miccoli commented on #22789
@gfyoung  : I know, when you suggest an improvement you are morally obliged to implement it! 😃 Unfortunately I have to decline, since I have no spare time at this moment to dedicate for a new PR.

[2018-09-23 22:09] gfyoung commented on #22789
@miccoli : No worries!  Time is a limited resource, no need to remind me 😉

[2018-09-23 23:50] topper-123 opened #22813 "TST: the pandas test suite fails on 32bit systems"
I've been trying tonight to get the test suite to pass and keep getting some failures:

[code]

The issue is related to integer dtypes:

[code]

Can anyone confirm if this is a failure on pandas on windows?

[2018-09-24 00:27] gfyoung commented on #22813
@topper-123 : We test Windows on the Azure pipelines are the source of truth regarding the

[2018-09-24 01:04] jbrockmendel commented on #22813
Any chance you’re running 32 bit python?

[2018-09-24 02:56] gfyoung commented on #22813
64-bit actually.

[2018-09-24 03:33] jschendel commented on #22766
Thoughts on adding some 32-bit builds to our azure builds?  It looks like there's an [architecture argument](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version?view=vsts#yaml-snippet) that can be specified as x86.  Not entirely sure if I'm interpreting that correctly, but if so it would close #13715 and allow us to catch things like #22813 sooner.

[2018-09-24 03:52] gfyoung commented on #22813
Makes sense.  Looks like we should patch if we can ASAP.

[2018-09-24 03:53] #22748 closed

[2018-09-24 06:36] Haigutus opened #22815 "Implement ISO8601 durations as addition for Offset Aliases"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

https://en.wikipedia.org/wiki/ISO_8601#Durations

Current behavior uses non standardized markup for time duration, wich can cause errors and confusion. Implementing ISO8601 duration grantees standardized solution for time duration in PANDAS. It does not have to replace the current system rather extend it.

[2018-09-24 07:11] topper-123 commented on #22813
Yes, I run 32bit python, 64bit Windows.

I use miniconda as my python package mansager, so didn't choose 32bit myself. So likely this issue would affect all conda users on Windows?

[2018-09-24 10:18] valentas-kurauskas commented on #15106
It is not consistent more generally with `apply` (my pandas version 0.23.4):
[code]

[2018-09-24 10:22] hmgaudecker opened #22817 "read_json segfaults with Python 3.7"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output
Same thing, without the segfault. Everything works fine in a Python 3.6 conda environment.

Also noted by @bsolomon1124 in #11344

#### Output of ``pd.show_versions()``

commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.13.0-46-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_

[2018-09-24 11:10] a-safonau commented on #20986
Similar issue

`from pandas.api.types import is_string_dtype
df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : [np.NaN, False, False]})
for n,c in df.items():
        if is_string_dtype(c): df[n] = c.astype('category').cat.as_ordered()
df2['col2'] = pd.Categorical(df2['col2'],categories=df['col2'].cat.categories)`

[2018-09-24 12:36] andyloop opened #22818 "DataFrame.merge() doesn't check if new suffixed column names clash with existing column names"
#### Code Sample

[code]
#### Problem description

Merging 4 DataFrames with same column names; using default suffix settings and no drops / renames in between merges (e.g. doing all 3 merges on one line).

The third merge creates duplicate column names because suffixes are appended which have already been used.

#### Expected Output

When adding suffixes, the method should check whether the new c

[2018-09-24 12:57] gfyoung commented on #22813
IMO That's a little bit of an exaggeration.  I have 64-bit Python 😉

[2018-09-24 13:30] PatrickDRusk commented on #22705
If this deprecation is going to happen, the warning message should probably change its recommendation to something more reliable. I believe this would work:
[code]

[2018-09-24 13:56] wraitii opened #22820 "Join on multi-index drops the index names when specifying "on" and "how=outer""
#### Code Sample

[code]
#### Problem description

When using pandas' DataFrame join function, specifying "on" with a multiple index and an outer join drops the index names. This seems buggy, as it doesn't do it on single-index or when not specifying "on" or "outer". I am not sure it's _actually_ buggy, as in it could be by design, but it's not documented either way.

#### Output of ``pd.show_vers

[2018-09-24 14:02] simonjayhawkins commented on #22818
confirmation that I can duplicate the issue on master.

[2018-09-24 16:22] Lolhypocrisy opened #22821 "Table name case-sensitivity in to_sql"
[code]

I would think that table names should be case-insensitive. Even if they're not, the error that it's throwing does not describe the actual problem.

#### Output of ``pd.show_versions()``

[code]

[2018-09-24 19:08] denfromufa commented on #10444
@TomAugspurger i get a nonsense error here from a dataframe with 2 columns, but not when histogramming them one at a time as a series:

`ValueError: num must be 1 <= num <= 0, not 1`

traceback:
[code]

colab notebook:

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Linux
OS-release: 4.14.33+
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL:

[2018-09-24 20:07] chris-b1 commented on #22821
SQLite - is case-insensitive, not really anything that can be done here - Might be possible for python upstream to raise a more helpful error message.

https://www.sqlite.org/lang_naming.html

[code]

[2018-09-24 20:07] #22821 closed

[2018-09-24 20:34] poplarShift opened #22822 "to_geodataframe method for DataFrames"
I often find myself converting from pandas `DataFrame`s to geopandas `GeoDataFrame`s, where I convert some position (from longitude/latitude, x/y, etc. columns) into a `Point` geometry column. It's easy and takes only a few lines, but why not summarize it along the lines of
[code]
(possibly extendable to other kinds of geometries as well)?

I'm happy to send a PR but I've never contributed before,

[2018-09-24 20:55] kbhutani0001 opened #22823 "str.isalpha() returning NaN instead of bool values"
# importing pandas module
import pandas as pd

#creating list
data=["gfg",2,"geeks","pandas",4,"python",5.6,"data analysis"]

#making series from data
series=pd.DataFrame(data)

series["g"]=series[0].str.isalpha()
series

isalpha returning NaN values when its supposed to return Bool series

[2018-09-24 20:58] kbhutani0001 commented on #22823
Please tell if this is supposed to be like this. Then the documentation should be changed, since theres no use of bool series with null values

[2018-09-24 21:31] kbhutani0001 commented on #22823
Yes, a na handling parameter should be added. But in that case both numeric values and strings with white space would return False which could be kind of contradicting.

[2018-09-24 22:44] h-vetinari opened #22824 "API/ENH: overhaul/unify/improve .unique"
The state of the various flavours of `.unique` as of `v0.23`:
- `[pd/Series/Index].unique` does not have `keep`-kwarg
- `Series.unique` returns array, `Series.drop_duplicates` returns `Series`. Returning a plain `np.ndarray` is quite unusual for a `Series` method, and furthermore the differences between these closely-related methods are confusing from a user perspective, IMO
- same point for `Inde

[2018-09-24 22:48] jreback commented on #22824
there are multiple issues about changing .unique (for quite some time)

pls show the references

[2018-09-24 22:48] jreback commented on #22824
-1 in pd.unique being 2-d as this will make an already complicated function much more so

[2018-09-24 22:54] h-vetinari commented on #22824
@jreback

pls show the references

I tried best I could. Searching open issues with "unique" yields 185 results which are at first glance completely unrelated - so I'll admit I didn't comb through all of those. (https://github.com/pandas-dev/pandas/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+unique)

Searching for "df.unique" or "dataframe.unique" yielded only #21357, and now also this issue.

[2018-09-24 22:59] h-vetinari commented on #22824
if `df.unique` wraps `df.drop_duplicates` as suggested, then it would be very easy to dispatch to the different types. Also, the implementation of `pd.unique` is not very complicated at all - just dispatching to hashtables (https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/core/algorithms.py#L358-L378).

[2018-09-24 23:33] jreback commented on #22824
there was tremendous discussion on this - what should Series.unique return - rather than rehash much better to search for it - follow the links in the first issue

[2018-09-25 06:04] mitchnegus commented on #20752
For what it's worth, I was calculating percent differences in a class today and had a student use this function. They neglected to multiply by 100 because they didn't check the docs. I used it as a good teachable moment for why you should _always_ check the docs, but I don't think that's a particularly good reason for keeping it that way. I volunteer to make the change if you're open to it, but I

[2018-09-25 09:48] datapythonista commented on #10444
@denfromufa do you want to fix it?

Here you have the general documentation on how to do it: https://pandas.pydata.org/pandas-docs/stable/contributing.html

The fix should be easy, just checking the type and raising an exception with a useful message.

[2018-09-25 11:51] loneosama commented on #22796
@mroeschke @bchu   i think that  it is logical that they didn't allow the option of axis = 0 for this case.
Let say instead of date time we had numeric data like
[code]

[2018-09-25 12:27] MaxBenChrist commented on #22729
@chris-b1 Thanks for the pr! I am also lacking a big memory machine, maybe @yuval-nardi can try it?

Otherwise I have to setup a vm this weekend.

[2018-09-25 12:33] jorisvandenbossche commented on #22824
@h-vetinari Thanks for all the discussion

I think the main previous discussions on the return value of `unique` have been about having an index vs array vs categorical as output (so all non-indexed objects). So that is a bit different than the issue raised here.

But thanks for looking through the older issues! That is indeed not always easy (even for a core dev that might have participated in th

[2018-09-25 12:33] Jywscher commented on #22613
Hello,
is there any update on the issue?
Since i ran into the same problem it would be great if someone could help to solve it..

[2018-09-25 12:41] jorisvandenbossche commented on #22824
So maybe the main question for me is this (limiting it to `Series` methods here): `Series.unique` and `Series.drop_duplicates` are now two distinct functions, doing slightly different things. Is this good or not?

@h-vetinari's proposal is to unify them, but now they serve an overlapping but still different purpose, and it can also be fine to have two different methods for that (eg `unique` does n

[2018-09-25 12:55] #13032 closed

[2018-09-25 12:55] #16839 closed

[2018-09-25 12:58] #22752 closed

[2018-09-25 13:05] stevencollinscn opened #22830 "dt.month_name doesn't return the name of the month"
I'm trying to get the name of the month of the year based on my datatime variable `created_data` in my dataframe `df_noise`, and tried:

`df_noise['month'] = df_noise.created_date.dt.month_name`

and pandas returns the following in every row of the column

`<bound method PandasDelegate._add_delegate_accessors.<locals>._create_delegator_method.<locals>.f of <pandas.core.indexes.accessors.DatetimePr

[2018-09-25 13:10] jorisvandenbossche commented on #22830
This is because `month_name` is a method that needs to be called, and not an attribute (I have to say this is a bit confusing, as many of the other "datetime" related properties are actually attributes and not a method):

[code]

Always welcome to add an example to that docstring!

[2018-09-25 13:11] jorisvandenbossche commented on #22830
In general, we prefer that you ask such usage questions rather on StackOverflow or on the pydata mailing list (I recommend StackOverflow, you will get a quicker answer there).

The issue tracker here is more meant for bugs or enhancement requests.

[2018-09-25 13:11] #22830 closed

[2018-09-25 13:15] stevencollinscn commented on #22830
@jorisvandenbossche my bad and I googled it and no answer on StackOverflow came up. Thanks for your clarification.

[2018-09-25 13:27] jreback opened #22831 "BLD: parsers.pyx seems to be re-running on each commit"
for some reason parsers.pyx (and the generated parsers.c) seems to be rebuilding on each commit (whether anything changed or not).

cc @gfyoung @jbrockmendel

maybe something odd in setup.py

[2018-09-25 13:36] andyloop commented on #22823
No, that's expected behaviour - that's why the default `str` functions currently return `NaN` for missing or non-string values. The `na` parameter allows to choose a mapping (usually it makes sense to set it as `False`, but you can pick any other convenient value to avoid the contradiction, if necessary).

Bear in mind that you always have `isnull()` and `notnull()` for filtering, so it's straight

[2018-09-25 13:37] jorisvandenbossche commented on #20986
@a-safonau please provide a reproducible example (eg  `df2` is not defined)

[2018-09-25 15:15] mroeschke commented on #22796
The missing value should be filled with ``NaT``

[2018-09-25 15:58] poplarShift commented on #22822
Thanks for the feedback, I'll try my luck there!

[2018-09-25 16:06] hmgaudecker commented on #22817
Great, thanks. So the problem is that read_json attempts a type conversion internally and only continues with the object dtype upon failure?

[2018-09-25 16:38] #22789 closed

[2018-09-25 16:45] h-vetinari commented on #22824
@jorisvandenbossche
Thanks for the detailed response!

I would argue that they do *exactly* the same thing (up to and including `keep`; more on that below), and having them do it in slightly different ways is **inconsistent, confusing and error-prone from a user-perspective**.

No, it *IS* relevant even now. Pandas strongly advertises that `[pd/Series/Index].unique` does not sort, and then `keep='

[2018-09-25 17:18] kbhutani0001 commented on #22823
What about entering na handling option in str methods like isalpha and
isalnum.

On Tue, Sep 25, 2018 at 7:08 PM andyloop <notifications@github.com> wrote:

--
Regards,
Kartikay Bhutani
+91 8802 999 631

[2018-09-25 17:27] denfromufa commented on #10444
@datapythonista i don't agree on this solution - it should just work. why raise an exception when histogram works for each series? however i did not have a chance to debug this yet.

[2018-09-25 18:12] jolespin opened #22832 "[Bug] v0.23.4 is not able to handle tuples as keys of pd.Series like v0.22.0 | TypeError: 'values' is not ordered..."
#### Code Sample, a copy-pastable example if possible
I've posted this bug on [issue 15457](https://github.com/pandas-dev/pandas/issues/15457) and the issue was closed but it still occurs in the current version (0.23.4)

[code]

#### Problem description

I'm unable to use tuples as index keys in the newest version `0.23.4` like I was able to in `0.22.0`.  I have some software that is dependent on

[2018-09-25 18:50] mroeschke commented on #22815
I think this is a reasonable suggestion.

IIRC @WillAyd allowed `to_timedelta` to parse these durations. Some careful consideration will need to be address regarding how they are mapped to our `Tick/DateOffset` classes and existing offset aliases.

[2018-09-25 18:50] mezitax commented on #21106
when uninstalling 0.23 and reinstalling 0.22 the problem was solved, thanks!

[2018-09-25 19:02] WillAyd commented on #22815
Agreed this makes sense. Support for `to_timedelta` was added in #21933 so can certainly leverage that as a reference for potential implementation. PRs welcome

[2018-09-25 19:08] datapythonista commented on #10444
if you make it work even better, feel free to send a PR for it.

[2018-09-25 19:35] troels commented on #22817
Well, the problem is that somewhere on the way to detecting what type actually is in the columns, pandas or numpy fails in their memory handling. Either by writing outside an area of memory they have  allocated or by e.g. freeing some memory that is still is being used. The bug is in C or Cython-code but not in the json-module.

My example code is just supposed to throw an exception, not dump core

[2018-09-25 21:11] kbhutani0001 opened #22833 "str.isdecimal() returning same output as str.isdigit() | Returning False for Decimal"
[code]

The .isdecimal() method is giving same output as isdigit and returning false for decimals.
#### Output
``
0     True
1     True
2    False
3    False
4    False
5     True
6     True
dtype: bool
``

#### Expected Output
``
False
False
True
True
False
False
False
``

#### Output of ``
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Linux
OS-relea

[2018-09-25 21:37] user3483203 opened #22834 "pandas.DataFrame.replace appears to replace multiple times"
#### Here's an easy to produce example:

[code]
#### Problem description

When I use `df.A.replace(dct)`, it seems as though the replacement is being applied recursively, and updating until no matches can be found.  Here is the output I am currently getting:

[code]

As you can see it seems like `a` is replaced by `b` is replaced by `hello`, instead of the single replacement I would expect.  I loo

[2018-09-25 23:14] mullenkamp commented on #18774
I've even offered to do the work and I still can't get any response...The dev team must be really up to their eyes in work...

[2018-09-26 02:27] WillAyd commented on #22834
Hmm can you try this on master? I am not able to reproduce there and got your expected output

[2018-09-26 04:04] user3483203 commented on #22834
Can confirm it works as expected on master.  I believe it may be the same issue as https://github.com/pandas-dev/pandas/issues/20656, which I didn't notice before.  If so, this issue should be closed.

[2018-09-26 08:03] mullenkamp commented on #18774
Thanks for the reply. Could you please run through my example in my original post?

The resample method in Pandas inherently assumes that the input data is an aggregate value from the last timestamp to the current timestamp as resample is a simple grouping of timestamp indexes. When data represents instantaneous/discrete values at a particular time, this simple grouping of time indexes for resampl

[2018-09-26 10:35] #15072 closed

[2018-09-26 11:08] lukasz0004 opened #22835 "Negate pandas SparseSeries - AssertionError"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

When I want to do loc selection pandas dataframe with negated pandas SparseSeries it just doesn't work. I know how to solve this problem in another way, but I think there might be something wrong in the code.
This is an error message:

AssertionError                            Traceback (most recent call last)

[2018-09-26 11:26] datapythonista opened #22836 "DOC: Generating docs doesn't work if path has whitespaces"
Related to #20862

If there are spaces in the path where pandas is installed (e.g. `/home/my user/my code/pandas`), when building the documentation (i.e. `./doc/make.py html`) seems to generate a long list of usage errors like those:

[code]

[2018-09-26 11:41] TomAugspurger commented on #22766
32-bit would be great to have tested regularly. I don't have plans to do that short-term though.

[2018-09-26 13:31] lldean18 opened #22837 "pip install pandas fails on TypeError: find_packages() got an unexpected keyword argument 'include'"
#### Code Sample, a copy-pastable example if possible

(virtualenv) USERNAME:~$ pip install pandas
Collecting pandas
  Using cached https://files.pythonhosted.org/packages/e9/ad/5e92ba493eff96055a23b0a1323a9a803af71ec859ae3243ced86fcbd0a4/pandas-0.23.4.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>

[2018-09-26 14:03] jorisvandenbossche commented on #22614
@jbrockmendel the other option is to do it block wise? (which basically means column-wise for EAs, without the performance hit for consolidated numpy dtypes)

[2018-09-26 14:13] TomAugspurger commented on #22835
Fixing this in https://github.com/pandas-dev/pandas/issues/22835

That branch will be merged into master in the next week or two, if you're interested in trying it out.

[2018-09-26 14:18] chris-b1 commented on #22833
We're following python's lead and using its implementation - `Series.str.is[]` will always do the same as `str.is[]`.  Apparently the difference between `isdecimal` and `isdigit` is that that the latter is more expansive with respect to non ASCII digits, so this is working as expected.

https://stackoverflow.com/questions/22789392/str-isdecimal-and-str-isdigit-difference-example
[code]

[2018-09-26 14:18] #22833 closed

[2018-09-26 14:27] #22784 closed

[2018-09-26 14:32] TomAugspurger commented on #22837
This doesn't really make sense. The error message kind of hints at an outdated setuptools, but you seem to have a recent version of that (and pip and wheel).

Did you re-run `pip install pandas` after updating those?

[2018-09-26 16:28] jorisvandenbossche commented on #22791
It was indeed from the sparse discussion, my comment there: https://github.com/pandas-dev/pandas/pull/22325#discussion_r209979714

Basically, we want to know `np.array(EA).dtype` without doing the conversion to array.

We could add a `numpy_dtype` attribute to the Dtype object?

This might also overlap with https://github.com/pandas-dev/pandas/issues/22224

[2018-09-26 16:34] mroeschke opened #22839 "BUG: DatetimeIndex.where with timezone aware and timezone naive data not returning mixed result"
[code]

The result should be coerced to `object` in order to preserve the tz-aware and tz-naive data.

[code]

[2018-09-26 16:34] TomAugspurger commented on #22791
There's some overlap with #22224, but I don't know if we can re-use the same attribute for both unfortunately. IntegerArray.numpy_type can't hold values with NaNs.

[2018-09-26 16:39] jorisvandenbossche commented on #22791
Yes, I don't think we can re-use it, but the `numpy_dtype` attribute of IntegerArray can still be changed of course.

The other issue is more about if you have a composite array, what is the dtype of the underlying array (which of course can also be multiple arrays .., so then this might also be multiple dtypes), while here it is the dtype when converted to a numpy array.

But I would use a `numpy

[2018-09-26 16:41] jorisvandenbossche commented on #22791
Although the question is, what if this dtype depends on the data?
For example, for IntegerArray, we now decided to return an object array. But, you could also opt for actually returning the integer array if there are no NAs, and float otherwise.

[2018-09-26 16:44] jorisvandenbossche commented on #22824
BTW, @h-vetinari in case you would be interested, we are having a dev hangout tomorrow: https://mail.python.org/pipermail/pandas-dev/2018-September/000830.html

[2018-09-26 17:36] dsaxton opened #22840 "ENH: Allow option to return lower triangular correlation matrix in DataFrame.corr"
In a lot of situations it's useful to remove the redundant or trivial (diagonal) entries from a correlation matrix.  For example, if you want to query a correlation matrix to find highly or perfectly correlated columns you have to find some way of manually ignoring the diagonal, or if you want to remove only one of two highly correlated columns, it's useful to be working only with the lower triang

[2018-09-26 18:58] jsleroux opened #22841 "Overflow when running reductions on float16 columns in pandas Series"
When running reductions on dataframe columns of dtype float16, we ran into a surprising behaviour:

[code]

After investigation, we found that the accumulator used in (for example) mean() and sum() is not big enough and it eventually overflows. In both nansum() and nanmean() functions (to which sum() and mean() delegate their work), when the data type is 'float', the accumulator is downcasted to t

[2018-09-26 19:25] TomAugspurger opened #22843 "ExtensionArray.value_counts"
Is this required? Right now https://github.com/pandas-dev/pandas/blob/a03d9535b16a6d5441334ef2e698d72778cf8115/pandas/core/algorithms.py#L708-L711 assumes that it's implemented, but we don't document / implement it by default, so we end up with an AttributeError at runtime.

[2018-09-26 19:31] datapythonista opened #22844 "BLD: Use Azure pipelines for linting"
At the moment we have the script `ci/lint.sh` for validating PEP-8 and other linting. The script has several validations in the form of:
[code]

If I'm not wrong, moving all those to the azure-pipelines configuration would have two advantages.

First, the code would be simpler, as all the bash stuff would be automatically managed, and we'ld simply have:
[code]

Second is that when one of those fai

[2018-09-26 19:42] jorisvandenbossche commented on #20862
Closed by https://github.com/pandas-dev/pandas/pull/20880

[2018-09-26 19:42] #20862 closed

[2018-09-26 19:42] TomAugspurger commented on #22844
I think we'll still need something similar to what's currently in `lint.sh`, since we have custom checks that aren't part of flake8.

I agree we should do something to make seeing lint failures easier for users. I'm not sure whether this needs to be done on azure or not. I haven't played with more complex pipelines or reporting, beyond the basic "here's a file of junit XML results".

[2018-09-26 19:54] mroeschke commented on #22840
Copying from the https://github.com/pandas-dev/pandas/pull/22842#issuecomment-424844444

1. If we were to include a tri argument, I would prefer a tri=None(default)/'upper'/'lower' instead of tri=True/False for just the lower triangular so users can have the option of the upper triangular.

2. In your implementation, it appears fill value would be NaN as opposed to numpy (triu/trul) which the fill

[2018-09-26 19:55] jbrockmendel commented on #22614
That is similar to what I had in mind with option 2 above.  Just instead of dispatching to the consolidated numpy array ops, it would be dispatching to the consolidated EA ops.

There are a bunch of differences between pandas and numpy arith/comparison ops, most of which are handled in `core.ops`.  In the status quo we still don't have full internal-consistency for how these operations behave.  I

[2018-09-26 20:01] datapythonista commented on #22844
I was having a look, and I think for the ones that are a single command (`flake8`, `cpplint`, `grep`...) should be just as the example in the description.

If I'm not wrong, the only other case that we've got are loops. I guess it's possible to have the whole loop as the script, but that wouldn't show directly which file failed (it'd probably be an improvement, even if to know the exact file we ne

[2018-09-26 20:05] TomAugspurger opened #22845 "Datetime ExtensionArray"
Collecting some design thoughts here. I've spent ~4 hours today building a DatetimeTZArray. That's mostly working on its own, but now all of pandas needs to be updated to use it.

I think the most sensible way forward is to implement two new EAs

- DatetimeArray
- DatetimeTZArray

Initially I tried just DatetimeTZArray, since numpy natively supports datetimes without timezones. But that will requi

[2018-09-26 20:12] jorisvandenbossche commented on #22614
Yes, but implementation wise that is still a big difference no?

[2018-09-26 20:15] TomAugspurger commented on #22845
cc @jbrockmendel

Do you have plans to work on this? If so I can push my branch and focus on PeriodArray for now.

[2018-09-26 20:17] jbrockmendel commented on #22614
On the EA side, yes, since it would mean implementing a bunch of new EA subclasses (and moving a bunch of logic from `core.ops`).  On the DataFrame/BlockManager/Block side, not so much.

[2018-09-26 20:32] jbrockmendel commented on #22845
I've got a gameplan for getting the tests ready before actually subclassing EA, but no specific timeline.  Hoping to make a big push after the meeting.

[2018-09-26 20:39] TomAugspurger commented on #22845
Sounds good. I'll switch over to period for the moment then and check back
in later.

On Wed, Sep 26, 2018 at 3:32 PM jbrockmendel <notifications@github.com>
wrote:

[2018-09-26 20:39] jbrockmendel commented on #22845
Any particular reason for two instead of one (like DatetimeIndex)?

This (and an efficient `transpose`) are big parts of why I think we should reconsider allowing 2D EAs.

One of my favorite design choices recently was adopting `_ndarray_values` with a very specific, very clear "this is guaranteed to always be an np.ndarray (but may be lossy)".  Making `.values` "this is guaranteed to never be los

[2018-09-26 21:05] TomAugspurger commented on #22845
Do we like the design of `DatetimeIndex.tz` being None? If so, then one EA should suffice, though I haven't looked closely enough at ops, etc. to know whether that's doable.

Noted :) Transpose is an extreme case where a 2D array can be done with zero copy, while an array split will need lots of data copying. That said, I don't view transpose as a really "core" dataframe operation, since it doesn'

[2018-09-26 21:14] jorisvandenbossche commented on #22845
I personally see `tz` as metadata (parametrized dtype), so if that works fine, I think going with a single EA is OK

To that end, I would personally be fine with having datetime64[ns] columns no longer being able to be consolidated (I think the cases where people rely on this or its performance will be even more rare with datetime data).

@TomAugspurger in your example, you are using `tz`, so you

[2018-09-26 21:27] TomAugspurger commented on #22845
err, yes obviously. My bad.

https://github.com/pandas-dev/pandas/compare/master...TomAugspurger:datetimetz-ea

[2018-09-26 21:41] jorisvandenbossche opened #22846 "General repr format for our internal ExtensionArrays"
Triggered by the discussion I am having in https://github.com/pandas-dev/pandas/pull/22511/, I was also thinking we should look at our EAs reprs.

Currently we have for IntegerArray:

[code]

which *looks* like code, but actually is not valid code (because the constructor needs an array, has no dtype argument, and nan is actually no defined).

So also here (since here we still have the freedom to

[2018-09-26 21:44] jorisvandenbossche commented on #22846
So a similar random thought as I mentioned in https://github.com/pandas-dev/pandas/pull/22511/, one possible alternative:

[code]

[2018-09-26 22:49] h-vetinari commented on #22824
@jorisvandenbossche
Thanks for the invitation! I've got a deadline on Friday, so I'm skeptical whether I'll make it. Hoping I could get a go-ahead on #22812 though. ;-)

[2018-09-26 23:03] mwtoews opened #22847 "Task: update GitHub website to use HTTPS"
The website for this GitHub project should be updated to https://pandas.pydata.org since it supports HTTPS. This can be done by an admin, using the GitHub web interface.

[2018-09-26 23:49] jbrockmendel commented on #22845
Yes, fits with the "DatetimeArray is just a vectorized Timestamp" paradigm.

Definitely no need to go further off on this tangent.  I'll try to consolidate my thoughts on the matter in the agenda doc.

[2018-09-26 23:52] eisthfroyalblue opened #22848 "Group keys are not added to DataFrame's groupby result"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Because df is already sorted for all columns, the groupby result should be same.
However they are different: only for the case of df.sort_result() correctly adds group keys to the groupby result.

PS: I have one observation.
if g(df) returned df[::] instead of df, then groupkeys were added.

#### Expected Outpu

[2018-09-27 00:16] jreback commented on #22845
i agree here

tz=None is fine, no need to have more than one DatetimeArray

also ok with ‘breaking’ this meaning we change .values to return a EA for a naive datetime dtype

[2018-09-27 00:59] jreback commented on #22841
float16 has no support whatsoever

that said would take a patch that upcasts accumulators to a bigger dtype / uses float64 for float type ops if < float64

[2018-09-27 02:02] TomAugspurger commented on #22847
Done, thanks.

[2018-09-27 02:02] #22847 closed

[2018-09-27 02:33] TomAugspurger opened #22850 "Series.combine and ExtensionArrays"
Working on a PeriodArray. For the first thing I tried, `Series.combine` doesn't work.

In https://github.com/pandas-dev/pandas/blob/7343fd37f809feeb98844a34dc5854a08df2aa94/pandas/core/series.py#L2324-L2330 we catch a TypeError. Why is that just a TypeError, when in principal the EA constructor could throw any kind of exception? In my case a ValueError is `ValueError` since the freq can't be infer

[2018-09-27 03:11] TomAugspurger commented on #22458
@arminv do you have any interest in doing the same for `PeriodIndex`? I think we should be consistent everywhere if possible. https://github.com/pandas-dev/pandas/blob/7343fd37f809feeb98844a34dc5854a08df2aa94/pandas/core/arrays/period.py#L322

[2018-09-27 03:11] aaronbarzilai opened #22851 "Export styler doesn't seem to include hide_index()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm trying to reuse a style for a second table, following the model in the docs at https://pandas.pydata.org/pandas-docs/stable/style.html#Sharing-Styles

I find that when I use my "option 1" above with red and hide index, the output for df styles as I would hope.

![image](https://user-images.githubusercontent

[2018-09-27 03:46] arminv commented on #22458
@TomAugspurger yeah sure! I’ll start working on it

[2018-09-27 09:01] sinhrks commented on #22533
This also affects to other dtypes. Will send a fix.

[code]

[2018-09-27 09:35] jorisvandenbossche commented on #22850
Yes, I think that can be broadened to general exception.

[2018-09-27 09:40] jorisvandenbossche commented on #22843
Personally I would remove it from the EA interface. `value_counts` is a very useful method, but IMO does not really fit on an array (returns a Series, while I think the arrays should be somewhat independent from pandas Series concepts), and is also rather easily to do based on `_factorize`/`_values_for_factorize` for EAs as a default implementation?

[2018-09-27 10:56] TomAugspurger commented on #22843
Yes, the main sticking point though is the index. Once we have official support for extension indexes, we should be able to update `algorithms.value_counts` to do the right thing.

[2018-09-27 11:28] jorisvandenbossche commented on #22824
@h-vetinari ah, that wasn't on the agenda yet, will add it to the list of potential topics to discuss, but can't promise we will get to it

[2018-09-27 11:55] jreback commented on #22843
nog against removing ``value_counts`` for the time being either until we have ``ExtensionIndex`` , which really comes up a lot when you groupby things :.

[2018-09-27 11:59] jorisvandenbossche commented on #21859
While looking through https://github.com/pandas-dev/pandas/issues/22812, I was also thinking about how `combine_first` is basically `fillna`, but without the outer alignment. So basically what @shoyer said :)

Adding a join or align keyword to `fillna` might also be an option.

[2018-09-27 12:03] jorisvandenbossche commented on #21859
And for historical fun, `combineFirst` was already present in the first commit of the git history: https://github.com/pandas-dev/pandas/commit/c6b236db73ff81007909be6406f0e484edc4a9eb, so at least a couple of years before the SO question :-)

[2018-09-27 12:11] jorisvandenbossche commented on #22812
Just about the name:

One disadvantage of this name: not being native speaking, and not coming from a database background, I would not even have the slightest idea what even the word itself would mean, let alone what it would do.

I know it is a term used in SQL (and which is a big plus for using such a name), and in the meantime I know it from there, but IMO it is a rather newcomer unfriendly nam

[2018-09-27 12:41] TomAugspurger commented on #22846
That seems fine.

Would we update Categorical to include `<pandas.Catgegorical>`, or are we happy with its current repo?

[2018-09-27 12:41] TomAugspurger commented on #22837
Any update @lldean18?

[2018-09-27 12:41] julienfr112 opened #22853 "Add chunksize support to to_json"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

to_json  does not support chunk write, also from_json support chunk read.

As json is mostly for web dev, and network are good with chunk, it would be great to write by chunk of lines to the Stream.

There could be more work that initially thought, because I think to_json with lines=True is first serializing th

[2018-09-27 12:53] h-vetinari commented on #22812
@jorisvandenbossche

I don't feel strongly about the name. I'd be fine with having it under `update` (which some people strongly oppose to being not inplace; hence this issue), and I'd be fine with having it as `coalesce` (which has the SQL background; though you're right that the default for `overwrite` should then be False).

I'd also be fine with naming it something shorter (and less specific t

[2018-09-27 13:27] lldean18 commented on #22837
So I managed to get the script to run by downloading python for Windows and
installing all the packages on a Windows machine but never fixed the
problem on our Unix server!

Thanks for getting back to me though!

Laura

On Thu, 27 Sep 2018, 13:42 Tom Augspurger, <notifications@github.com> wrote:

[2018-09-27 13:35] arisliang commented on #10530
This is marked as closed. But I still encounter the same thing that base doesn't do anything with version 0.23.4

[2018-09-27 13:46] arisliang commented on #10530
`
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.normal(size=(3,4)))
df.index = [pd.Timestamp('2018-02-07'), pd.Timestamp('2018-06-22'), pd.Timestamp('2018-09-17')]
df.resample('6M',base=6)
`

[2018-09-27 13:50] arisliang opened #22855 "'base' argument when resampling has no effect"
I seem to encounter the similar issue with #10530 which is marked closed.

`
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.normal(size=(3,4)))
df.index = [pd.Timestamp('2018-02-07'), pd.Timestamp('2018-06-22'), pd.Timestamp('2018-09-17')]
df.resample('6M',base=6)
`

the `base` parameter can be anything that doesn't affect the result or generate error.

[2018-09-27 14:34] TomAugspurger commented on #22837
OK, let us know if you think there's an issue with pandas.

[2018-09-27 14:34] #22837 closed

[2018-09-27 14:41] TomAugspurger commented on #22851
Styler.export / Styler.use don't take into account attributes like `self.hidden_index` , precision, etc. Basically anything that can be set in the constructor or one of the `set_*` (or I guess `hide_*`) methods. Some of these probably should be exported, others (like uuid?) maybe shouldn't.

So going forward, I would say

1. figure out which attributes make sense to export
2. Add a parameter to `S

[2018-09-27 15:21] TomAugspurger commented on #22855
x`base` only applies to frequencies smaller than a day.

[code]

What's your expected output?

[2018-09-27 15:29] aaronbarzilai commented on #22851
Thanks Tom.  I wasn't sure, is there a simple workaround I should use in
the interim with hide_index? I wasn't sure if it can be done via one of the
set_* now as a kwarg.  Not crucial but would be great to know and have
posted here when other people google for it.

Appreciate it,
Aaron

On Thu, Sep 27, 2018 at 10:42 AM Tom Augspurger <notifications@github.com>
wrote:

[2018-09-27 15:31] TomAugspurger commented on #22851
The workaround for  now is

[code]

[2018-09-27 15:40] arisliang commented on #22855
Oh, I missed that. I expected to get '2018-06-30' and '2018-12-31' for base 6.

[2018-09-27 15:40] Demetrio92 opened #22856 "Initializing a column with a **set** builds a cartesian product"
#### Problem description

Initializing a dataset using a `set` type of object results in pandas building a cartesian product. Which isn't great b/c:

- It's totally unexpected
- it's extremely inefficient and at first will just block the console until you figure out why
- it's not mentioned in the docs, it's not part of the pandas cheatsheet, most of the SO answers, etc. E.g. it's **astounishing**

[2018-09-27 16:03] TomAugspurger commented on #22824
What do you mean by this? I don't see how the output would differ if just an array is being returned.

[2018-09-27 16:07] jbrockmendel commented on #22845
I'll take a look at the branch.

I haven't given much thought to the `.values` bit.  The vague thought I've had is that when the tests are ready the FooArrayMixin classes could just become FooArray, with the inheritance structure unchanged.  The less-vague thought is that I know @jorisvandenbossche would rather use composition than inheritance for these, so that is an unlikely outcome.

[2018-09-27 16:10] TomAugspurger commented on #22845
I essentially changed PeriodArrayMixin to be PeriodArray. I'm turning to ops right now, so I'll see what I can get done in the next 30 minutes, but initially everything broke.

[2018-09-27 16:14] TomAugspurger opened #22857 "Add a docs section on .values"
- Explain that Series / Index are containers for ndarrays and ExtensionArrays
- Recommend np.asarray for ensuring you get an ndarray
- Explain that DataFrame.values may not be what you want

This may go in dsintro, maybe a new page if we think it's too advanced.

[2018-09-27 16:41] edrossy commented on #5500
I processed the same exact CSV file twice.  One time it failed and the next time it did not.  There must be some sort of race / memory condition causing this?  Fun ; -)

[2018-09-27 16:43] jorisvandenbossche commented on #22845
Yes, IMO the Index classes should no longer inherit from the current DatetimeArrayMixins (that was also the reason I was not really fond of merging those things already).
That would be a similar pattern as you did for IntervalArray I think, @TomAugspurger ?

---

It might be good if one of you could list some of those discussion points for the call, if there are others of course. This is maybe the

[2018-09-27 16:49] WillAyd commented on #22848
Most likely related if not duplicative of #22546

[2018-09-27 17:00] h-vetinari commented on #22824
@TomAugspurger

Since pandas advertises not sorting `This does NOT sort` (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.unique.html), it makes a difference:
[code]

Imagine you want to find out which unique errors occurred in whatever system generated the output, and when the last (or first occurred) - presumably the order of events will have some relevant information. Since `.uniq

[2018-09-27 17:16] Dr-Irv commented on #22850
IMHO, I would just add the errors that you know that could occur. So if `ValueError` can be raised by `._from_sequence()`, then I think you should do `except TypeError, ValueError`.  If some other error is raised, then it might catch another issue in someone's code.

[2018-09-27 17:44] araraonline opened #22858 "BUG/ENH: Bad columns dtype when creating empty DataFrame"
#### Code Sample

[code]
#### Problem description

When creating a DataFrame with no rows, the presence of a `dtype` argument may convert the columns into `float64`. The problem does not happen if the DataFrame has one or more rows:

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.18.

[2018-09-27 18:48] enritoomey opened #22859 "timezone aware datetime64 object converter fails when plot"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Pandas converter, use to extract date `str` for axis labels, fails when index is timezone aware. This happends only if matplotlib>=3.0.0 version is installed. I reported the bug first to matplotlib (https://github.com/matplotlib/matplotlib/issues/12310), but the close it as they believe that the bug is in panda

[2018-09-27 18:49] TomAugspurger commented on #22850
_from_sequence is completely up to the EA author and could raise anything.

On Thu, Sep 27, 2018 at 12:16 PM Dr. Irv <notifications@github.com> wrote:

[2018-09-27 18:54] TomAugspurger commented on #22639
@palewire would you have time to update your list to indicate whether a kwarg is mimicking a keyword from another library (e.g. dayfirst python-dateutil, quotechar char from the stdlib) and whether the keyword is maybe used in other places in pandas (e.g. chunksize)

[2018-09-27 19:16] jbrockmendel commented on #22845
@TomAugspurger can you open a PR with the WIP branch?  That would make it easier to comment inline.

I'm writing up notes from the chat, will review Sparse Extension shortly.

[2018-09-27 19:18] TomAugspurger commented on #22274
Quick summary from the meeting:

1. We want consistency in the meaning of the string `'D'` between contexts (resample / date_range & timedelta / offsets)
2. We suspect that `resample('D')` / `date_range(freq='D')` are more commonly used, and so don't want to change that behavior
3. @mroeschke has heroically volunteered to see if `Timedelta("<n>D")`  (anywhere else in offsets?) can be deprecated in

[2018-09-27 19:36] TomAugspurger opened #22860 "Decide whether (new) ExtensionArrays and Dtypes are public"
This mostly affects

1. IntervalArray
2. PeriodArray
3. DatetimeArray (and maybe TimedeltaArray if we do that)
4. SparseArray
5. IntegerArray

Categorical is already public, so let's leave that out.

---

A few questions

1. do we allow users to construct these directly (via a set of `to_*_array` methods, or a top-ish-level `pd.array([...], dtype)` method)?
2. Do users see these when they do `.val

[2018-09-27 19:39] TomAugspurger opened #22861 "Add interface for defining an ExtensionIndex"
These occur naturally with `.groupby(extensionarray)` and `Seres[extensionarray].value_counts`. We should define a public API so that we don't have to convert to object in these cases.

You'd likely end up with an `Index` with a non-object dtype.

---

*more radically* this kind of removes the *need* for all our Index subclasses, aside from MultiIndex. But we can think about that separately from t

[2018-09-27 19:43] TomAugspurger commented on #22845
https://github.com/pandas-dev/pandas/pull/22862

[2018-09-27 20:05] troels commented on #22817
This is in fact a cpython 3.7.0 bug in float() and will be fixed in python 3.7.1, which will be released in a week or two:

https://bugs.python.org/issue34087

[2018-09-27 20:08] TomAugspurger commented on #22859
xref https://github.com/pandas-dev/pandas/issues/22790

doesn't seem to be in that output, so likely untested. Any help debugging / writing a failing unittest would be appreciated.

[2018-09-27 20:27] topper-123 commented on #22709
A question: What does “issue a non-visible warning when we detect that we changed from 0.22 (dict is not sorted)” mean? How would we know from within pandas if we changed from 0.22?

[2018-09-27 20:29] mroeschke commented on #22859
Pandas also does not support `datetime.timezones` yet https://github.com/pandas-dev/pandas/issues/17173

[2018-09-27 20:45] TomAugspurger commented on #22709
When we're in dict-mode, the warning would be issued when `sorted(dict) != list(dict)` (i.e. the inserted order of the keys is not the same as the sorted order).

[2018-09-27 21:13] mroeschke opened #22864 "API: Make 'D' & offsets.Day always operate as calendar day instead of 24 Hour"
From the dev-chat https://github.com/pandas-dev/pandas/issues/22274#issuecomment-425211774 and a rehash of https://github.com/pandas-dev/pandas/issues/20633

Conclusion:

- Make the offset alias `'D'` and `offsets.Day` always operate as a calendar day.

Technical implication:
* `Day` will need to subclass `DateOffset` instead of `Tick`

Operations that will change behavior (may be missing some):
1

[2018-09-27 21:14] mroeschke commented on #22274
Closing in favor of further discussion in #22864 (especially about deprecation procedure)

[2018-09-27 21:14] #22274 closed

[2018-09-27 21:42] jbrockmendel commented on #22846
This and some other common-but-not-necessary methods could go in a mixin in something like `core.arrays.common` and get mixed in to all of the pandas-internal EA subclasses.

[2018-09-27 22:29] topper-123 commented on #22709
Ok, a heuristic on the sortedness of the dict. I think this is a reasonable response. +1.

[2018-09-28 04:53] WillAyd opened #22868 "Matplotlib Test Causing Failures"
ref #22039 where it started there appear to be a lot of failures for Travis / Azure with the below test:

[code]

I wasn't able to reproduce locally so may be an issue with matplotlib versioning, though it's questionable if the intention of the test above really is to ensure the first date on the X axis or if that was just an arbitrary check

[2018-09-28 08:41] jorisvandenbossche commented on #22864
Didn't look yet into the WIP PR, but some thoughts:

- Since we need to deprecate the current Day behaviour (for certain things like passing it to Timedelta, or arithmetic in case of DST), it *may* be easier to still keep the current implementation (but need to think a bit more in detail how it would go in practice)
- We need an "update" path for users that want the new behaviour. Maybe a temporar

[2018-09-28 08:44] jorisvandenbossche commented on #22864
So to actually better answer to your top post ..

Regarding deprecation: I think we need a deprecation for each of the 4 points you mention.

Eg case 1 (Day arithmetic with Timestamp) will break people's code if we simply change it. Of course, it will only change the result in a few cases (only when you have tz-ware data, and when there is a DST), so we might think about only raising a warning the

[2018-09-28 11:20] TomAugspurger commented on #22868
https://github.com/pandas-dev/pandas/issues/22790 I think.

I'll get to this in a few hours unless someone beats me to it.

[2018-09-28 11:20] #22868 closed

[2018-09-28 11:30] TomAugspurger commented on #22790
Got lucky and found it quickly:

[code]

[2018-09-28 13:00] TomAugspurger commented on #22790
The `test_if_scatterplot_colorbar_affects_xaxis_visibility` and hexbin tests are failing because we implemented a hack to workaround an issue in matplotlib. That hack is no longer necessary with mil >= 3 (yay) and is actually breaking stuff, so we just need to not do it anymore.

[2018-09-28 13:14] jorisvandenbossche commented on #22861
Given that we already have / will have several example (CategoricalIndex, IntervalIndex, DatetimeIndex, ...) that actually do this, I think it shouldn't be too hard to distil some common things out of those to have an ExtensionIndex?

(maybe could even give some base class for them)

It's true that our "index as container" model indeed doesn't necessarily need the specific classes (similar as Seri

[2018-09-28 13:50] TomAugspurger opened #22871 "CI: TestSeriesMisc.test_ndarray_compat"
https://travis-ci.org/pandas-dev/pandas/jobs/434611709#L2762

Failure on our no-warnings build

[code]

[2018-09-28 14:15] datapythonista opened #22872 "Replace bare excepts by explicit excepts in pandas/tests/"
In several parts of the code, we have bare excepts in the form of:
[code]

This is a bad practice, and we want to avoid having this in the code. What we want instead is:
[code]
Of course in every case, the exception can be different (not always `KeyError`), and some research is needed to see which is the right exception (or exceptions, it can be a tuple) that needs to be captured. In some cases, e

[2018-09-28 14:19] datapythonista opened #22873 "Replace bare excepts by explicit excepts in pandas/core/"
(superseeds #18419, same task for different files: #22872, #22874, #22875, #22877)

In several parts of the code, we have bare excepts in the form of:
[code]

This is a bad practice, and we want to avoid having this in the code. What we want instead is:
[code]
Of course in every case, the exception can be different (not always `KeyError`), and some research is needed to see which is the right exce

[2018-09-28 14:21] datapythonista opened #22874 "Replace bare excepts by explicit excepts in pandas/io/pytables"
(superseeds #18419, same task for different files: #22872, #22873, #22875, #22877)

In several parts of the code, we have bare excepts in the form of:
[code]

This is a bad practice, and we want to avoid having this in the code. What we want instead is:
[code]
Of course in every case, the exception can be different (not always `KeyError`), and some research is needed to see which is the right exce

[2018-09-28 14:27] datapythonista opened #22875 "Replace bare excepts by explicit excepts in pandas/io/"
(superseeds #18419, same task for different files: #22872, #22873, #22874, #22877)

In several parts of the code, we have bare excepts in the form of:
[code]

This is a bad practice, and we want to avoid having this in the code. What we want instead is:
[code]
Of course in every case, the exception can be different (not always `KeyError`), and some research is needed to see which is the right exce

[2018-09-28 14:28] jreback commented on #22874
can u reference the other issue

[2018-09-28 14:31] datapythonista commented on #22874
yes, I'm creating various issues, when I finish I'll cross-reference all them

[2018-09-28 14:33] szemel opened #22876 "date_range method doesn't work when start and end params are string and crossing month. Works fine when start and end are datetime objects"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
date_range method doesn't work when start and end params are string and crossing month. Works fine when start and end are datetime objects.
z variable value is 0. Should be 480.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this li

[2018-09-28 14:36] datapythonista opened #22877 "Replace bare excepts by explicit excepts in pandas"
(superseeds #18419, same task for different files: #22872, #22873, #22874, #22875)

In several parts of the code, we have bare excepts in the form of:
[code]

This is a bad practice, and we want to avoid having this in the code. What we want instead is:
[code]
Of course in every case, the exception can be different (not always `KeyError`), and some research is needed to see which is the right exce

[2018-09-28 14:36] fangaofeng opened #22878 "The problem of merging multiple files with contact"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
original input is:73332200430110023232323
After contact multiple files,
excel is :
73332200430110023232323
7.3332200430110e+18
7.3332200430110e+18
7.3332200430110e+18

some is 73332200430110023232323,other is 7.3332200430110e+18

#### Expected Output
73332200430110023232323

whent i test sigle file, is correct .

[2018-09-28 14:46] datapythonista commented on #18419
Superseeded by #22872, #22873, #22874, #22875 and #22877

flake8 > 3.4.1 supported since #22863 (E722 added to ignored error codes, while previous issues are not addressed)

[2018-09-28 14:46] #18419 closed

[2018-09-28 15:06] #22790 closed

[2018-09-28 15:36] WillAyd commented on #22878
Unfortunately this issue is not reproducible in its current state so its not something we can really help with. If you can provide something reproducible and *minimal* then someone on the team could review in more detail; please see the contributing guide on how to do that:

https://pandas.pydata.org/pandas-docs/stable/contributing.html#bug-reports-and-enhancement-requests

I'll take a stab in the

[2018-09-28 15:36] #22878 closed

[2018-09-28 16:10] WillAyd commented on #22824
After speaking about this in the dev chat yesterday I'm wondering if it wouldn't make the most sense for `unique` to return an ndarray and `drop_duplicates` to return the same type as caller. Doing so delineates the two functions, and if that's the case then `return_inverse` I think could just be added to `drop_duplicates`.

Because Index, Series and DataFrame already have drop_duplicates it's an

[2018-09-28 17:04] HaraldNordgren commented on #22872
On it!

[2018-09-28 17:36] h-vetinari commented on #22824
Sorry I couldn't take part in the dev chat yesterday.

I understand that the hurdle is larger to change the output from `Series.unique` to a `Series`, but it's the only consistent choice and 1.0 is the perfect time for this because people will be very motivated/tolerant for changes in 1.0.

The distinction between `unique` and `drop_duplicates` is purely semantic, and it's confusing that things be

[2018-09-28 17:47] gfyoung commented on #22877
@datapythonista : I think we can just create a checklist for the different locations instead of having individual issues.

[2018-09-28 19:05] jorisvandenbossche commented on #22876
@TomAugspurger I think it are rather european dates than a negative freq :-)

@szemel if you specify the dates in an ISO format, it works with strings:

[code]

pandas parses both dates separately, so the second was interpreted as the first of january (and hence back in time), using the American style of "month first" as the first thing to try.

[2018-09-28 19:42] TomAugspurger commented on #22876
Ah, I misread the dates, yes.

[2018-09-28 19:50] cancan101 opened #22881 "DOC: Fix and extend ParserError docstring"
[`ParserError` says](https://github.com/pandas-dev/pandas/blob/8e51fd38607e94524b66ba15002e2502240baa32/pandas/errors/__init__.py#L35):

however, it seems to be raised at least by html parsing, and perhaps other parsers as well: https://github.com/pandas-dev/pandas/blob/486e626bd3e7282b3da9993807f6246ef3ddda76/pandas/tests/io/test_html.py#L820-L829

As higher level point, it would be great if the

[2018-09-28 20:31] WillAyd commented on #22881
Thanks for this - PRs to update documentation are certainly welcome!

[2018-09-28 23:45] datapythonista commented on #22877
I thought creating few tickets with a subset of the `try/except` to change was a good way to make it easier to first time contributed to work on them. I feel a checklist would be simpler if regular contributors take care of them, but could make it more complex for first timers.

Anyway, let's see how it goes, it shouldn't make a big difference, and hopefully we'll have all them fixed soon anyway.

[2018-09-29 00:18] gfyoung commented on #22877
Gotcha.  Well, we can agree to disagree on this one then. 🙂

Yep, hopefully.  They shouldn't be too bad.

[2018-09-29 00:36] xpl commented on #11217
You can also try this:

[code]

Examples:

[code]
[code]

[2018-09-29 01:36] mroeschke commented on #22864
Just so I understand @jorisvandenbossche:

- in v0.24.0: Everything works identically, but issue DeprecationWarnings for all operations that will change.
- in some later version: Switch over to the new `Day` offset.

So in my PR, I can just prep the new `Day` offset class that is slated to replace the old one.

[2018-09-29 06:44] gfyoung commented on #5500
Of the two, probably memory condition.  We don't have any concurrency for CSV parsing.  Fun, indeed 😉

[2018-09-29 08:41] datapythonista commented on #22873
Looking great, let us know if you need any help.

And feel free to open a PR for part of them only, if there are too many in this issue. We can create a separate ticket for the remaining.

[2018-09-29 12:33] datapythonista opened #22884 "STYLE: Fix linting of benchmarks"
We are currently not linting (validating PEP-8) of the benchmarks in `asv_bench/benchmarks`. But it'd be good to start doing it as with the rest of the code.

Before starting the automatic validation, we need to fix all the style problems. Those can be obtained by executing `flake8 --config=none asv_bench/benchmarks --ignore=F811,E731`

This is currently returning:
[code]

All them should be fixed

[2018-09-29 14:46] TomAugspurger commented on #22884
Using `except Exception` seems fine in the benchmarks, since it isn't library code.

That said, it looks like most are just import errors.

[2018-09-29 15:07] MatanCohe commented on #22884
@TomAugspurger Is it the case with :
`asv_bench/benchmarks/join_merge.py:32:9: E722 do not use bare except'` ?

[2018-09-29 15:11] datapythonista commented on #22884
@MatanCohe that's right, and also all the rest in the list that has the error `E722 do not use bare except`.

But still, it'd be nice to have the right exception if it's easy, we may unintentionally silent bugs with `Exception`. But if it's tricky to see which exception we're trying to capture, using `Except` is not as important as in the code. We'll just get the benchmarks wrong, but the pandas c

[2018-09-29 15:34] datapythonista commented on #22884
I'm not quite sure what `df.consolidate(inplace=True)` can raise tbh, but I don't think it should be `ImportError`.

I think the best is to replace the `pass` in the `except` by a `raise`, so you can see what is the exception that this is causing (I guess under some condition it should raise one, otherwise I'm not sure why do we need that `try/except`)

[2018-09-29 16:18] datapythonista opened #22885 "STYLE: Fix lint error "F811 redefinition of unused 'setup'" in benchmarks"
(related to #22884)

There is an issue in the linting of the benchmarks, caused by how `asv` manages reusing a `setup` function. See:
[code]

The problem is that to make `asv` reuse a common `setup` function for all the benchmarks in a file, it is expected to have it defined in the top-level namespace. Then every benchmark class in the file can specify a `setup` method that will be executed after

[2018-09-29 16:33] jbrockmendel commented on #22884
lint-adjacent for the benchmarks: I think some of the directives being used are deprecated in asv.  e.g. in `algorithms` each of the benchmark classes defines `goal_time`, but it looks like asv just ignores that: https://asv.readthedocs.io/en/stable/benchmarks.html#benchmark-attributes

So the pertinent suggestion: linting for valid asv directives

[2018-09-29 16:54] datapythonista commented on #22884
That's good to know @jbrockmendel. I think there are some benchmarks that are failing too. I'll see if I can create an issue for them later. Do you want to create an issue for the linting of directives? It'd be nice to get #22863 merged first, as it refactors the whole linting, but I'll fix the conflicts if someone is so fast to implement the linting before. :)

[2018-09-29 16:58] simonjayhawkins opened #22887 "TypeError with to_html(sparsify=False) and max_cols < len(columns)"
#### Code Sample

[code]

[code]

#### Problem description

Code sample adapted from a test that is currently being skipped.

changing:

https://github.com/pandas-dev/pandas/blob/e45a6c14fc969c31c46ae890e72883ffe6658b4e/pandas/io/formats/html.py#L235

to:

[code]

produces the following output which is equivalent to the expected result of the skipped test.

#### Expected Output

<table border="1"

[2018-09-29 17:28] Vozf commented on #11166
had the same issue trying to read a folder not a csv file

[2018-09-29 18:44] datapythonista commented on #22844
Thanks for the info @chrisrpatterson. That would be really nice to have. But I don't see how can I get this with flake8, which is generating the messages. The output we've got from the command is something like this:
[code]
Is there a "standards" way in Azure to change the format? We could do a script that changes from one format to another, and call `flake8 . | azure_log_flake8_formatter`, but se

[2018-09-29 19:14] josmcg opened #22891 "df.groupby(x).size() has behavior is different on MacOSX and Linux"
#### Code Sample

[code]
#### Problem description
On MacOSX, this returns an empty series. On Linux, an exception is thrown.

#### Expected Output

Both Operating Systems should return an empty series.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-23-generic
machine: x86_64
p

[2018-09-29 19:27] #22891 closed

[2018-09-29 19:28] josmcg commented on #22891
This was actually a change from 0.20.3 --> 0.23.4

[2018-09-29 19:55] #22831 closed

[2018-09-29 22:00] datapythonista opened #22892 "DOC: Fix the docstring of xs in pandas/core/generic.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:01] datapythonista opened #22893 "DOC: Fix the docstring of groupby in pandas/core/generic.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:02] datapythonista opened #22894 "DOC: Fix the docstring of resample in pandas/core/generic.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:02] datapythonista opened #22895 "DOC: Fix the docstring of _set_axis_name in pandas/core/generic.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:10] datapythonista opened #22896 "DOC: Fix the docstring of to_stata in pandas/core/frame.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:11] datapythonista opened #22897 "DOC: Fix the docstring of join in pandas/core/frame.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:13] datapythonista opened #22898 "DOC: Fix the docstring of quantile in pandas/core/frame.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:14] datapythonista opened #22899 "DOC: Fix the docstring of itertuples in pandas/core/frame.py"
pandas docstring are expected to follow the format defined in https://pandas.pydata.org/pandas-docs/stable/contributing_docstring.html

This includes among other things:
- There is a short description fitting in one line (there can be a longer one after that).
- The description of the parameters, the returns section, and the see also items, starts with a capital letter and ends with a period.
- In

[2018-09-29 22:34] datapythonista opened #22900 "DOC/STYLE: Fix "F821 undefined name 'pd'" errors"
It'd be great to start linting the doctests (validate the docstring examples for pep8 issues).

To start with `core/generic.py`, `core/series.py` and `core/frame.py`, I created the next issues to address the current errors: #22892, #22893, #22894, #22895, #22896, #22897 and #22898.

After those are fixed, the only error that will remain in these files is `F821 undefined name 'pd'`. I checked for s

[2018-09-30 00:35] leeyspaul commented on #22899
Hi! I'd like to take this up if it's still open.

[2018-09-30 00:36] datapythonista commented on #22899
Sure, all yours! Let us know if you need help. Looking forward to your pull request.

[2018-09-30 03:13] jbrockmendel opened #22903 "lib.is_scalar misses PEP 3141 numbers"
Looking at `np.isscalar`'s docstring I see:

[code]

pandas `lib.is_scalar` doesn't recognize Number or Fraction.

[2018-09-30 06:05] brute4s99 commented on #22898
I would like to grab this issue !

[2018-09-30 06:36] JustinZhengBC commented on #22897
Has anyone else claimed this issue? If not, I'd like to try it.

[2018-09-30 06:48] #22884 closed

[2018-09-30 07:18] brute4s99 commented on #22900
4. seems better. People use `import pandas as pd` usually in codes, so this would cause ease and more code readibilty

[2018-09-30 07:40] miccoli opened #22905 "BUG: to_period behaves different between Timestamp and DatetimeIndex with timezones"
After 935c5d145 `pandas/tests/indexes/datetimes/test_astype.py` fails depending on the timezone:
in fact
[code]
is OK while
[code]
fails.

This can be nailed down to the following code sample.

#### Code Sample

[code]
#### Problem description

It seems that `ts.to_period()[0] == ts[0].to_period()` depends on tzinfo, true if west of GMT, false if east of GMT. Before 935c5d145 `ts.to_period()[0] ==

[2018-09-30 08:42] brute4s99 commented on #22905
looking into this

[2018-09-30 08:58] brute4s99 commented on #22905
@miccoli , please read more about pandas.date_range() [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html)
As you can see,
since you did not specify any 'clock time' , the default value will be taken as 00:00.
From [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html) ,

putting `tz=GMT-1` will cause outputs to shift clock b

[2018-09-30 13:09] miccoli commented on #22905
@brute4s99
<https://github.com/pandas-dev/pandas/blob/14598c6f82973b33d8b55e1e493f6103f9e16a62/pandas/tests/indexes/datetimes/test_astype.py#L266-L285>
I just reproduced the situation in the test above, which fails east of greenwich.

Let me explain this better:
[code]

- `ts[0].to_period()` is a `Timestamp` and its `to_period` method drops tzinfo without taking into account tzinfo.

- `ts[:1]` is

[2018-09-30 13:44] jbrockmendel commented on #22903
Same function, yes

[2018-09-30 15:16] topper-123 commented on #22813
I've looked more into this and have found the culprit to be #22296.

https://github.com/realead/pandas/blob/356b8aab754c32e469508e23c447d8c650938843/pandas/tests/indexes/test_base.py#L1380

I.e. in line 1380 (``expected = np.array([0, 1, -1], dtype=np.int64)``), the dtype should be ``np.intp`` rather than ``np.int64``.

Do people agree?

Returning platform dtype is the current behaviour, e.g. (on

[2018-09-30 17:29] leeyspaul commented on #22896
Working on this issue, referenced from #228999.

[2018-09-30 17:56] Pastafarianist opened #22909 "pd.read_json produces a dataframe that causes segfaults"
#### Code Sample, a copy-pastable example if possible

Download [this dataset](https://www.dropbox.com/s/99az9n1b57qkd9j/arxivData.json.tar.gz?dl=1) ([alternative link](https://yadi.sk/d/_nGyU2IajjR9-w)). Unpack it. Then

[code]

This causes a segfault on my machine. More generally, segfaults are triggered whenever I attempt to perform any operation on this dataframe.

#### Output of ``pd.show_ver

[2018-09-30 18:07] datapythonista commented on #22844
ok, in a first check to flake8 parameters I didn't see the format could be specified, but I double checked, and everything makes sense now: `flake8 --format="##vso[task.logissue type=error;sourcepath=%(path)s;linenumber=%(row)s;columnnumber=%(col)s;code=%(code)s;]%(text)s"

Will give it a try.
`

[2018-09-30 18:36] JustinZhengBC commented on #22875
I'll try to fix this one.

[2018-09-30 18:51] kbhutani0001 opened #22911 "Feature - Adding Dataframe applicability to some Series string methods"
Hello,
Initially the string methods, like replace, lower, zfill, strip etc etc.. are restricted to Series use only.
It would be good if a parameter is put to use it on data frames too. Methods like strip won't affect numeric columns since they wount be having spaces already. But if there is a method which can affect a numeric column, it can be excluded using exclude parameter (which should be adde

[2018-09-30 19:28] datapythonista commented on #22844
Made some progress on this, and managed to make flake8 generate the correct output:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=437&view=logs

It really improves the clarity of the errors (and even much more compared to our current solution, in the travis log). But still some issues:
- cpplint doesn't seem to allow custom output (it has a `--output` parameter that can be `emacs

[2018-09-30 19:51] TomAugspurger commented on #22911
It's not clear what should happen when you have a mix of numeric and string dtypes.

We typically recommend something like

[code]

for applying the same column-wise transformation to a subset of the columns.

[2018-09-30 20:06] kbhutani0001 commented on #22911
It's not clear that what anyone would do with zfill on a series of strings
too. Practically it's more of a numeric series method but still applicable
on just string series. My point is to make those methods available for
either numeric series too or whole data frame which would be better.

On Mon, 1 Oct 2018, 1:21 am Tom Augspurger, <notifications@github.com>
wrote:

[2018-09-30 21:44] mroeschke commented on #22905
Nice catch @miccoli! Agreed `to_period` should behave similarly between `Timestamp` and `DatetimeIndex`.

I don't work with `Period`s much so I welcome others' opinions, but it would think the `DatetimeIndex.to_period` behavior is incorrect; I don't think I would want the `1999` result.

The UTC conversion happens here in `self.values`:
https://github.com/pandas-dev/pandas/blob/2f1b842119bc4d5242b

[2018-09-30 23:20] dsaxton opened #22914 "Series.sort_values issue when values are data types"
[code]

It looks like the `Series` method `sort_values` might have an issue when the `Series` values are data types that contain datetimes.  The expected output would be to have the two `datetime64[ns]` values grouped together.

[2018-10-01 01:08] sinhrks commented on #22914
It is because `dtypes` aren't comparable.

[code]

You can convert them to str to compare.

[code]

[2018-10-01 01:29] #22914 closed

[2018-10-01 02:12] tonytao2012 commented on #22893
Would it be okay if I took this one?

[2018-10-01 02:41] Creotor commented on #22856
Sets are unordered.

[2018-10-01 06:04] bkjchoi72 commented on #22895
I'll give this one a try

[2018-10-01 06:41] brute4s99 commented on #22905
Can I work this bug, please ?

[2018-10-01 07:28] tonytao2012 commented on #22894
I can work on this!

[2018-10-01 08:19] Pastafarianist commented on #22909
I cannot easily test on other versions of Python as there is no easy mechanism on Arch to use multiple versions of Python simultaneously (similar to Gentoo's `eselect`), or I am not aware of such mechanisms.

[2018-10-01 08:35] datapythonista commented on #22893
Feel free to pick any that nobody is working on it @tonytao2012, but please just pick one at a time, I see you also said you'd work on resample. And those may be not as fast as you may thing. Let's leave it available for someone else for now if that's all right, and when you finish with resample, surely feel free to continue with this one if nobody is working on it.

Does this make sense?

[2018-10-01 09:04] tonytao2012 commented on #22893
Whoops, sorry! Sounds good, but I can continue working on groupby instead of resample, as I'm farther ahead in this one.

[2018-10-01 09:10] datapythonista commented on #22893
No worries, not a problem at all, I was just explainng.

And absolutely, just have updated comments in both, so everybody knows which one are you working on, and which is free :)

[2018-10-01 09:35] carlfischerjba opened #22921 "Merged index is different if left-hand dataframe is empty"
#### Code Sample

[code]
#### Problem description

When merging an empty dataframe with another dataframe on column and index respectively, the output contains both the index and the column. If the left dataframe is non-empty, then only the column from the left dataframe is carried through while the index from the right dataframe disappears.

#### Expected Output

Consistency between the case wher

[2018-10-01 09:51] jorisvandenbossche opened #22922 "Avoid listifying left/right operand in ExtensionArray ops dispatching"
We now have the follow code in the ExtensionArray ops dispatching:

https://github.com/pandas-dev/pandas/blob/2f1b842119bc4d5242b587b62bde71d8f7ef19f8/pandas/core/ops.py#L1169-L1192

There are a few places where we convert the values to a list, which should be avoided.

[2018-10-01 10:39] hweersot commented on #22892
I want to start contributing with this issue
If you don't mind I'd like to get this one.
And would you give me some advices with process?

[2018-10-01 10:42] datapythonista commented on #22892
Sure, go for it.

You can follow these instructions: https://python-sprints.github.io/pandas/dashboard.html

Couple of things are specific to sprints, but almost everything applies. Also remember the `flake8 --doctests pandas/core/generic.py` validation in the issue description, which is not in the checklist.

[2018-10-01 10:51] jreback opened #22923 "RLS/DOC: move 0.23.5 back to 0.24.0"
since I think we are going to release within this month, let's nix 0.23.5. so this issue is to move the doc notes back to master and remove the 0.23.5 template.

[2018-10-01 10:51] jreback commented on #22923
cc @jorisvandenbossche @TomAugspurger

[2018-10-01 10:58] TomAugspurger commented on #22922
This specific case of `Series[EA] + EA`  (where the EAs are the same type) seems very easy to handle.

[2018-10-01 11:28] jorisvandenbossche commented on #22922
Looking at the code, it seems that that case is already working OK, *if* the `type(EA)` is equal.

[2018-10-01 11:30] TomAugspurger commented on #22922
Hmm is it? I thought that's what cased the NameError. I think we need something like `type(new_left) is type(right)`, where new_left has unboxed the EA from the Series. Haven't looked closely though.

[2018-10-01 11:32] jorisvandenbossche commented on #22922
Yes, it's what caused the NameError, but this is about the conversion to list?

[2018-10-01 11:42] TomAugspurger commented on #22922
Correct. I'm saying we shouldn't even reach that `elif` in the case of Series[EA] + EA.

[code]

[2018-10-01 11:48] michaela12 commented on #22836
Hi, I'd like to take this issue if it's still open!

[2018-10-01 11:50] jreback opened #22924 "BLD: wheel building failing"
https://travis-ci.org/MacPython/pandas-wheels/jobs/435426572

cc @TomAugspurger

[2018-10-01 11:51] jreback commented on #22923
that's fine too.

[2018-10-01 11:52] TomAugspurger commented on #22923
Agreed.

On Mon, Oct 1, 2018 at 6:26 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-10-01 11:56] datapythonista commented on #22836
Sure, thanks for the help @michaela12

[2018-10-01 12:08] #9466 closed

[2018-10-01 12:10] #22591 closed

[2018-10-01 12:12] #18885 closed

[2018-10-01 13:29] Zac-HD commented on #22841
Tag as `good first issue`?

[2018-10-01 14:16] chrish42 commented on #22841
@Zac-HD Agree, but it would already be @jsleroux's first issue, and I've been coaching him a bit for this. We're discussed creating the pull request at the office last Friday. Can we hold off that tag for a little bit, while he works on this? :-)

[2018-10-01 14:27] Zac-HD commented on #22841
Oh, that's fantastic!  I was just thinking of how to help someone find this, but for @jsleroux to fix it too would be great :tada:

[2018-10-01 15:00] gfyoung commented on #22471
@akulagrawal : Go for it!

[2018-10-01 15:42] jorisvandenbossche commented on #22864
Yes, that is how I would do it (but we can still discuss of course).
Only, ideally, users will have a way to already get the future behaviour without warning, so that might be the tricky issue

[2018-10-01 15:46] jorisvandenbossche commented on #22924
Issue is discussed here: https://github.com/matthew-brett/multibuild/issues/202

[2018-10-01 16:41] mroeschke commented on #22905
Go for it @brute4s99. Open up the pull request when you are ready for a review.

[2018-10-01 17:19] jerodestapa commented on #22885
Thanks, Marc. I'll give this one a go.

[2018-10-01 17:31] martharobinson commented on #22894
I would like to work on this

[2018-10-01 17:47] bear24rw commented on #22753
Fixed via numpy/numpy#11993

[2018-10-01 17:47] #22753 closed

[2018-10-01 17:48] bear24rw commented on #22506
Should be fixed now via numpy/numpy#11993

[2018-10-01 18:18] datapythonista commented on #22894
Great, let us know if you need help @martharobinson

Now we've got few PRs from others that can help you, as they are quite similar: #22902, #22890, #22904 and #22906

[2018-10-01 18:31] datapythonista commented on #22885
I thought the same, but unfortunately that's not what flake8 things... :\

And even if the methods had other names, the error would be that `setup` is imported but not used. In that case it'd be as easy as adding a `noqa`. But with the methods with the same name, the error is not in the import, but in every method definition.

[2018-10-01 19:14] pjarnhus opened #22929 "DateOffset around end of February does not reproduce consecutive dates"
#### Code Sample, a copy-pastable example if possible

[code]
returns
`DatetimeIndex(['2018-02-27', '2018-02-28', '2018-03-01'], dtype='datetime64[ns]', freq='D')`

Performing the following offset
[code]
returns
`DatetimeIndex(['2018-06-29', '2018-06-30', '2018-07-03'], dtype='datetime64[ns]', freq=None)`
#### Problem description
My apologies if this has already been posted, I was not able to find

[2018-10-01 20:03] TomAugspurger commented on #22798
I'm bumping into this for PeriodArray. Previously `np.add(Series[period], 2)` worked since the values were an ndarray of period objects. Now that the values are a real PeriodArray, we raise an exception before trying the op.

I'll do this as a separate PR from PeriodArray.

[2018-10-01 20:52] TomAugspurger commented on #22798
This seems difficult for older numpys without `__array_ufunc__`. There are a few issues:

1. `Series.__array__` is called before we have a chance to do anything. This must return an ndarray, which means we have to convert the Series[EA] to an ndarray, which may be wasteful / expensive.
2. `__array_prepare__` has to return an ndarray. Ideally we would kind of "break out of" the ufunc on the series,

[2018-10-01 21:14] mroeschke commented on #22929
This looks like the expected behavior.

DatetimeIndexes are not assumed to always be monotonic, so offsetting relative to the first entry would produce odd results. Also your last, expected date would only be shifted by 4 months ignoring the 2 days.

[2018-10-01 21:27] TomAugspurger opened #22930 "Default ExtensionScalarOpsMixin for divmod is incorrect"
#### Code Sample, a copy-pastable example if possible

[code]

#### Expected Output

[code]

Any others?

[2018-10-01 21:32] etcarson opened #22931 "Rolling max and min on datetime column incorrect when NaN in window"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When running a rolling max or min window on a datetime column, a NaN value seems to prevent the max or min function from considering values that follow it, even if those values are within the window.
##### dataframe
[code]
#### max() Output (column B)
[code]
#### Expected max() Output (column B)
[code]

#### mi

[2018-10-01 21:34] TomAugspurger commented on #22930
So in https://github.com/pandas-dev/pandas/blob/5ce06b5bdb8c44043c6463bf8ce3da758800a189/pandas/core/arrays/base.py#L777-L782 we catch a TypeError. I suppose that's necessary, because the ops we're implementing may not be an algebra (the array may not be able to hold the return type).

@Dr-Irv unreatalted to this issue, we allocate an `len(self)` list in https://github.com/pandas-dev/pandas/blob/5

[2018-10-01 21:35] TomAugspurger commented on #22930
Are there any other operators that return a tuple? `rdivmod` I suppose.

[2018-10-01 22:11] jorisvandenbossche commented on #22798
BTW, I also have some branch adding the basics of this to ExtensionArrary / IntegerArray. And also stumbled on the current implementation with `__array__` / `__array_prepare__`.

So I would maybe also start with only supporting it for newer numpy.

Question: is `np.add(Series[period], 2)` used somewhere in our code, or in a test?

[2018-10-01 22:32] TomAugspurger commented on #22798
I think just a test asserting that it worked.

________________________________
From: Joris Van den Bossche <notifications@github.com>
Sent: Monday, October 1, 2018 5:11:48 PM
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] Support numpy ufuncs for ExtensionArrays (#22798)

BTW, I also have some branch adding the basics of this to ExtensionArrary / IntegerArray.

[2018-10-01 23:24] topper-123 opened #22933 "API: add a setattr method to NDFrame to assist with piping"
I frequently come into situations where I have to break up piping, because piping doesn't work on attributes:

[code]

I think it would be cleaner if NDFrame had a ``setattr`` method that returns ``self``. Then the above would become:

[code]

The first argument to ``.setattr`` is a string and can be dot-seperated, and the second parameter is called with ``self`` as its first argument if a callabl

[2018-10-01 23:52] mroeschke commented on #22933
There's already `rename_axis` and `set_axis` for your index naming and setting of columns examples respectively that can be chained.

Are there any other attributes that don't have a corresponding method? I can't think of one off the top of my head.

[2018-10-02 00:05] topper-123 commented on #22933
``set_axis`` can not take a function with ``self`` as its argument, so various operations are not possible without breaking the pipe. Though a callable could of course be allowed in ``set_axis`` and that would work also.

So for example, I don't think (having a DateTimeIndex) ``new_df = df.pipe(...).setattr('index', lambda x: x.index.year)`` is possible currently without breaking the pipe?

[2018-10-02 00:29] jschendel commented on #22933
Can you do `set_axis` inside a `pipe` to achieve that?

[code]

[2018-10-02 00:45] WillAyd commented on #22931
Hmm I tried both Python2 and Python3 on macOS and was not able to reproduce this - @chris-b1 any chance this is a Windows-specific issue?

[2018-10-02 01:34] mroeschke commented on #22933
Overall I feel -1 on the idea of a generic `setattr` method. I would rather have `set_axis` (or any analogous method) to operate on `self` then have a `setattr` method able to modify _anything_ on the frame.

[2018-10-02 01:36] mroeschke commented on #22931
This _may_ have been solved by https://github.com/pandas-dev/pandas/pull/21853?

[2018-10-02 01:37] TomAugspurger opened #22934 "S3 parquet failures on Travis"
edit: We've pinned to moto 1.3.4 for now. That seems to avoid the issues. *Assuming* that it's an issue with moto (which hasn't been verified), the remaining TODOs here are

- [ ] Reproduce locally with moto 1.3.6 or higher
- [ ] construct a minimal test case not using pandas, and ideally not using s3fs
- [ ] report upstream to moto
- [ ] unpin moto when it's fixed

---

https://travis-ci.org/pand

[2018-10-02 01:50] TomAugspurger commented on #22909
You can use conda to manage multiple versions of python in userland: https://conda.io/miniconda.html

Let's assume it's the same as #22817, and we'll reopen if you can reproduce with other versions.

[2018-10-02 01:50] #22909 closed

[2018-10-02 02:44] TomAugspurger commented on #22934
Anyone able to reproduce this locally? This has failed twice on https://github.com/pandas-dev/pandas/pull/22932, but I can't get a failure locally with what should be the same environment.

[2018-10-02 05:09] pjarnhus commented on #22929
Fair enough. It could be nice to have a comment in the documentation regarding this assumption then.

Thank you for the swift reply.

[2018-10-02 06:03] mroeschke commented on #22929
Documentation regarding DateOffset and months would be very welcome.

[2018-10-02 08:45] stoff3l commented on #22876
If no one else is working on this I'd like to give it a shot? This would be my first issue so I'd appreciate a pointer as to where to focus my attention?

[2018-10-02 09:09] jorisvandenbossche commented on #22876
Sorry, I should have removed the tag, as I don't think there is anything to fix.

Closing, @szemel please complain if you don't agree!

[2018-10-02 09:09] #22876 closed

[2018-10-02 11:00] TomAugspurger commented on #22934
Right, there's some randomness to the failures.

We shouldn't be making a real HTTP request though. moto should be mocking HTTP requests at this point.

[2018-10-02 11:08] TomAugspurger opened #22942 "Document module privacy"
We should better document what in pandas is considered private.

http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#reorganization-of-the-library-privacy-changes should be captured somewhere more permanent than in a whatsnew release. source is at https://github.com/pandas-dev/pandas/blob/master/doc/source/whatsnew/v0.20.0.txt#L1194

I think a new section in http://pandas-docs.github.io/pand

[2018-10-02 12:00] TomAugspurger opened #22944 "Handling underlying exceptions in ExtensionArrayOpsMixin"
I'm growing to dislike the try / except to wrap the results of a binop. That's what hid #22930.

I wonder, is it possible for EA authors to annotate which ops form an algebra for their Extension type, so that we can know ahead of time whether the result should be wrappe? Something like

[code]

and if the op name is in those, then we attempt to wrap the result, but don't catch any errors? If the o

[2018-10-02 12:06] hweersot commented on #22892
I have some question.

                            A  B  C  D
        first second third
        bar   one    1      4  1  8  9
              two    1      7  5  5  0
        baz   one    1      6  6  8  0
              three  2      5  3  5  3

I have deal with other examples, but I have no idea with how to declare dataframe in this case.

Which statement is expected when I validate pandas.Series

[2018-10-02 13:12] datapythonista commented on #22892
`pandas.MultiIndex` has some methods like `from_product` or `from_tuples` that can be used. Or an easier way may be to create regular columns and then set them as the index `.set_index(['level1', 'level2'])`. I'd use that in the examples, to not make them too complicated.

[2018-10-02 13:43] etcarson commented on #22931
In response to this I created a fresh virtualenv with just the latest version of pandas and it's requirements and I was still having this issue.

[2018-10-02 13:51] TomAugspurger commented on #22931
What do you mean by latest version? Master or 0.23.4? That fix is in 0.24, which isn't released yet.

[2018-10-02 14:55] datapythonista opened #22946 "CI: Azure broken because of unexpected vmImage"
azure-pipelines is failing at the moment with the next error: `Unexpected vmImage 'vs2017-win2017'
`.

Seems like this image is the one we've been using successfully until now, so I guess the problem is in Azure side. But not sure if they've changed the name or deprecated the image we are using, so we may need to change it?

[2018-10-02 15:15] kokes commented on #5020
Given the imminent Python 2 support deprecation, can we drop this issue? Or at least give it a "2/3 compat" label, so that we have it categorised?

[2018-10-02 15:16] christopherkang commented on #16300
Were you able to make any progress with this?

[2018-10-02 15:33] kokes commented on #7072
I can't reproduce this anymore, using pandas 0.23.4

[code]

[2018-10-02 15:33] jorisvandenbossche commented on #22944
It is only done like that for the ScalarOpsMixin, correct?
So I understand your point, it's certainly brittle, but it is also maybe not that worth adding too much complexity for it. If you want to be sure what is returned, you can always add the operations yourself.

[2018-10-02 15:44] TomAugspurger commented on #22944
Right, this is just for ScalarOpsMixin. Let's ignore it for now.

[2018-10-02 15:44] #22944 closed

[2018-10-02 16:02] etcarson commented on #22931
Should've mentioned I updated the Output of pd.show_versions() in the original post. I mean version 0.23.4.

If you're referencing #21853 I'm unable to verify if this fixes the issue.

[2018-10-02 16:13] TomAugspurger commented on #22639
Yes. I think the value of matching the stdlib in cases like `quotechar` outweighs the value of having all our keywords be consistent.

Things like `dayfirst` are less clear since the fact that we're using python-dateutil in that case is mostly a (documented) implementation detail.

[2018-10-02 16:16] palewire commented on #22639
I'm happy to do the research, though I'm not sure I fully agree. Some kind of scope should be set on that rule, though, shouldn't it? Keywords used in the standard Python library?

[2018-10-02 16:37] TomAugspurger commented on #22639
I don't think there's a clear dividing line here. It's just a values
judgement.

On Tue, Oct 2, 2018 at 11:16 AM Ben Welsh <notifications@github.com> wrote:

[2018-10-02 16:58] pecey commented on #22942
Hi. I can pick this up!

If I understand correctly, we want the "Modules Privacy Has Changed" section to go into a new section on the Overview page. Is my understanding correct?

[2018-10-02 17:43] h-vetinari commented on #22813
I use miniconda as my python package manager, so didn't choose 32bit myself. So likely this issue would affect all conda users on Windows?

Same here - it seems to be the miniconda default (or at least it must have used to be), and as such will surely affect many (64bit-)Windows users.

After running the whole test suite, I have found two further persistent failures on current master (https://gith

[2018-10-02 17:47] TomAugspurger commented on #22942
That's correct. Some of the phrasing may need to be updated, and you don't have to say anything about "new location", since this is going in the stable docs.

[2018-10-02 18:19] mroeschke commented on #22813
The period error you found @h-vetinari was noted here: https://github.com/pandas-dev/pandas/issues/22905

[2018-10-02 19:35] brute4s99 commented on #22903
@jbrockmendel ok, the problem is something like this :-

The function is currently limited to the dtypes specified [here](PyObject_TypeCheck).
This is backed by my findings upon close looks to the [is_scalar definition for pandas](https://github.com/pandas-dev/pandas/blob/9caf04836ad34ca17da7b86ba7120cca58ce142a/pandas/_libs/lib.pyx#L107),
So I need to simply add entries for some more dtypes.

As

[2018-10-02 19:39] kbhutani0001 opened #22951 "Documentation improvement"
Mathematical series operations are having .add() in example in every method.

https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Series.pow.html#pandas.Series.pow

https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Series.radd.html#pandas.Series.radd

[2018-10-02 19:39] #22951 closed

[2018-10-02 19:51] brute4s99 commented on #22903
I'll just call np.isscalar() ! :smile:

[2018-10-02 19:58] kbhutani0001 opened #22953 "DOC: fill_value argument in Series.combine()"
Series.combine() method is not handling NaN values correctly.
On running this code, NaN is still returned and isnt replaced by 5.

[code]

The NULL values in Caller series are replaced but the Null values in the passed series remain there. Unlike other similar methods like .add(), .sub() etc. this one isn't handling Null values of passed series correctly.

If this issue is approved, i would like t

[2018-10-02 20:01] brute4s99 commented on #22953
I would like to work this bug !

[2018-10-02 20:04] brute4s99 commented on #22953
`>>> result
0      5.0
1      3.0
2      2.0
3      NaN
4      6.0
5      3.0
6      9.0
7     21.0
8     11.0
9      NaN
10     4.0
11     NaN
dtype: float64

<class 'numpy.float64'>

1.0

False

[2018-10-02 20:07] brute4s99 commented on #22953
honestly, @kbhutan0001 , I don't know if we should even compare a `Not A Number` and a `float`

[2018-10-02 20:10] kbhutani0001 commented on #22953
@brute4s99 We are not comparing, we are combining them. This bug is because the function is probably executed before na replacement and hence null is compared with numeric values

[2018-10-02 20:19] brute4s99 commented on #22953
okay, @kbhutani0001 . I'll look more into this tomorrow !

[2018-10-02 20:27] mroeschke commented on #22953
This is the correct behavior as the document states:

so `fill_value` represents the placeholder of the value that doesn't exist in the index not the `fill_value` of NaN values.

[code]

Would welcome an example in the docstring showing this behavior.

[2018-10-02 20:28] TomAugspurger opened #22954 "Should ExtensionBlock.fillna unbox Series / Index?"
https://github.com/pandas-dev/pandas/blob/9caf04836ad34ca17da7b86ba7120cca58ce142a/pandas/core/internals/blocks.py#L2056

Should we get the ExtensionArray / ndarray backing the Series / Index at that point? As an EA author, I'd rather not have to worry about extracting the extension array from a Series in my fillna.

In the ExtensionArray.fillna docstring, we say the type can be 'arraylike'.

[2018-10-02 20:38] kbhutani0001 commented on #22953
In other mathematical operation, fill_na fills NULL values in both series
so i don't think this one should be like this. Moreover what's the point of
null handling when you get NaN in output series anyway. Either don't do it
or do it for both😅

On Wed, 3 Oct 2018, 1:58 am Matthew Roeschke, <notifications@github.com>
wrote:

[2018-10-02 20:51] knil-sama commented on #22801
I stumble upon this bug myself and would like to take this issue :)

[2018-10-02 21:03] mroeschke commented on #22953
The names of the arguments are slightly different `fill_na` vs `fill_value` (though `fill_value` isn't a great name for what it does).

Plus all comparisons with `np.nan` are False, so the given function `lambda x1, x2: x1 if x1 > x2 else x2`, `np.nan` comparisons will always fill with the 2nd value.

[2018-10-02 21:05] brute4s99 commented on #22953
on it !

[2018-10-02 21:14] #22874 closed

[2018-10-02 21:14] javedshaikm opened #22955 "How to ignore the second white space in a row when the delimiter is set to whitespace"
[code]
#### Problem description
I am trying to read the below data frame in a text file, using whitespace as a delimiter in columns, but there is a extra white space in the rows due to which I am getting errors:

Interface              IP-Address      OK? Method          Status                          Protocol
GigabitEthernet1       10.10.20.48     YES NVRAM     up

[2018-10-02 21:18] pasinu29 commented on #22590
Was there any consensus on this?  I'm not sure how to run it on master (not fully knowledgeable on git yet).  I've only run it from conda.

[2018-10-02 21:31] jtweeder commented on #22334
I think I have found the place this is happening, or not happening.   Bar and barh both work with the labels as above, but lineplot and areaplot (subclass of lineplot), both do not.  For bar and barh the xtick labeling happens in `_post_plot_logic` which has the following (this is not in lineplot _post_plot_logic).

[code]
I have it changed and working locally in the lineplot class when using the

[2018-10-02 21:31] brute4s99 commented on #22953
how about `fallback_value` , @mroeschke ?

[2018-10-02 21:40] mroeschke commented on #22953
That'd be a better name, but I don't think changing this keyword is worth the API churn.

If it's properly documented with an example, the meaning would be entirely clear.

[2018-10-02 22:12] Dr-Irv commented on #22930
@TomAugspurger Been on vacation, so just seeing this.

In the first one, the idea is that we are allowing the result to be a *different* EA type, which may not be the EA type of the caller.

With respect to using `itertools.cycle`, I think that would work.  I was unaware that existed.

[2018-10-02 22:20] Dr-Irv commented on #22930
Also, with respect to the `divmod` issue reported here, in `pandas/tests/extension/decimal/test_decimal.py`, I explicitly skipped the test for divmod because things like `divmod(Decimal(5.2), Decimal(3.3))` are not necessarily well defined. (or at least that is what I remember concluding way back when)

[2018-10-02 22:34] JustinZhengBC commented on #22858
This seems to be intended behaviour, as demonstrated by the following test in pandas/tests/frame/test_constructor.py::TestDataFramConstructors::test_constructor_corner
[code]

The code responsible for this behaviour is found in pandas/core/dtypes/cast.py, on line 1223. Commenting out these two lines causes the above test, and no others, to fail in the pytest suite.
[code]

[2018-10-02 22:54] alimcmaster1 commented on #22934
Seems like quite a few PRs right now are experiencing this issue:
https://travis-ci.org/pandas-dev/pandas/jobs/436364580
https://travis-ci.org/pandas-dev/pandas/jobs/436358399

[2018-10-02 23:10] jschendel commented on #22955
Please use StackOverflow for all usage questions.  The GitHub issue tracker should be used for reporting bugs or requesting enhancements.

[2018-10-02 23:10] #22955 closed

[2018-10-02 23:12] etcarson commented on #22931
I've replicated this issue on lubuntu. Here's the file and show_versions. It has the same output as OP:
#### rolling_test.py
[code]
#### pd.show_versions()
<details>

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.15.candidate.1
python-bits: 64
OS: Linux
OS-release: 4.15.0-20-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: None.Non

[2018-10-02 23:19] WillAyd commented on #22931
Can you try on master? Comments above suggest this may have already been solved so would be good to confirm whether or not that is the case

[2018-10-03 00:01] #22893 closed

[2018-10-03 00:17] araraonline commented on #22858
I don't feel this is intended behavior, but it may be a rough corner produced by the code you mentioned.

In the issue sample, the columns are empty:

[code]

In the two lines above, though, the dframe must be filled with nans (float dtype is necessary):

[code]

[2018-10-03 00:40] etcarson commented on #22931
Issue is resolved on master (pandas: 0.24.0.dev0+671.g08ecba8da)

[2018-10-03 00:40] #22931 closed

[2018-10-03 00:53] JustinZhengBC commented on #22858
Good point. Theoretically it could be fixed by making the int cast to float only if an lrange is specified. I can try it out later and submit a PR if the tests pass.

[2018-10-03 01:27] lowerthansound opened #22957 "How should `DataFrame.append` behave related to indexes types?"
I'm currently working on a refactoring the code `DataFrame.append` (#22915). One question that came up was, what should be the behavior when appending DataFrames with different index types.

To simplify this, let's put the focus on the index itself, and assume that it is valid for both rows and columns (IMHO consistency between the two might be good).

### Code Sample

[code]

### Current Behavior

[2018-10-03 02:42] TomAugspurger opened #22960 "CI: numpydev failure"
https://travis-ci.org/pandas-dev/pandas/jobs/436434493#L2766

[code]

I haven't been able to reproduce locally yet.

[2018-10-03 02:50] TomAugspurger commented on #22957
I think the rule is that appending any two different types of indexes ends up with `object` dtype.

The specific example you showed, Index and PeriodIndex is a definite bug.

[2018-10-03 03:00] TomAugspurger opened #22962 "IntegerArray + List returns ndarray"
Right now, `IntegerArary.__add__` calls `np.asarray(other)` for list-like other. When `other` is an actual list with missing values, we end up with a float ndarray.

[code]

Compare with Non-NA values:

[code]

In general, an IntegerArray + ndarray[float] *should* be a floating point ndarray,

[code]

Do we special case missing values here?

[2018-10-03 05:05] hweersot commented on #22892
Ok. Sorry for taking too long time.
I'll do it ASAP

[2018-10-03 05:34] WillAyd commented on #22900
I think option 1 would just be a lot of churn and add a lot of repetition to the code samples, so I'm -1 with that. Option 4 seems like the most logical on initial glance - do you see a downside to that outside of the added `grep` call?

[2018-10-03 06:39] kokes commented on #3485
Just tested it and it no longer returns False, it gives you NaN instead. I suppose that OP suggested that either this works or there is a TypeError triggered?

[code]

[2018-10-03 07:04] ron819 commented on #21037
@jreback

[2018-10-03 07:08] jorisvandenbossche commented on #22962
A possible solution would be to first try to convert the list to an IntegerArray, and only if that fails to an np.ndarray. So that would ensure that the list with integers / NaNs becomes IntegerArray, and thus the result will also be one.

But a disadvantage of that is that then something like `arr + [1.0, 2.0, 3.0]` will also give IntegerArray as result instead of float array (which is what numpy

[2018-10-03 07:27] kokes commented on #3485
I suppose something like this would work? I'm not sure about conventions regarding string type testing (`compat.string_types` or `is_string_like`?) and perhaps the tests are written in a non-standard way.

[code]

[2018-10-03 07:28] #22478 closed

[2018-10-03 07:52] lafrech commented on #12236
:warning: Warning :warning:

I've been trying this and had issues. It looks like the whole hdf5 lib is not thread-safe and it fails even when accessing two different files concurrently. I didn't take the time to check that, so I may be totally wrong, but beware if you try that.

I reverted my change, and I keep a single lock in the application rather than a lock per hdf5 file.

Since hdf5 is hiera

[2018-10-03 08:53] jorisvandenbossche commented on #22885
Yeah, an issue about it is here: https://github.com/PyCQA/pyflakes/issues/268

[2018-10-03 09:02] brute4s99 commented on #22953
I'll push a PR shortly, @mroeschke , reviewing for typos.

[2018-10-03 09:53] jreback commented on #22900
we always ‘import pandas as pd’

option 1 seems pretty verbose as well

[2018-10-03 10:06] kokes commented on #2628
Truncation on the per-group basis already works now, because indices in pandas have their own `__repr__`.

```pd.DataFrame({'a': [random.randint(0, 100) for j in range(10000)]}).groupby('a').groups```

As for the group-level truncation, that's a bit tricky, because the `.groups` property is a plain dictionary. What could be done is that we could create a class that inherits from `dict` and adds a

[2018-10-03 11:30] TomAugspurger commented on #22962
Yeah, the round float case is unfortunate. What's the least surprising behavior here? I think that since lists are un-typed, we having different return types for

[code]

is the most surprising. I'd be willing to have the round float case be swallowed up by integer array if necessary. So maybe the rule is "can we safely cast the right-hand side to an IntegerArray? If so, the return type is an Inte

[2018-10-03 11:49] TomAugspurger opened #22974 "TST: Add ExtensionArray base tests for ops between pandas objects and EAs"
We should document the expected behavior for binary operations between ExtensionArrays and pandas' own objects (Series, DataFrame, Index). We should update our own EAs to match the docs.

[code]

`Out[4]` should be a Series with "Int64" dtype, to match the behavior of ndarray + series.

We've documented this, but need to test between series, index, dataframe, and the array class

https://github.co