[2020-06-06 19:38] zbrookle commented on #30480
@wesm @jreback Hey I just wanted to mention that I've made a new package, sql_to_ibis, that does target ibis. You can find it here https://github.com/zbrookle/sql_to_ibis

[2020-06-06 19:58] wesm commented on #30480
Cool, you might let the Ibis developers know in case there is interest in merging the work into the project

[2020-06-06 20:10] jreback commented on #30480
yeah why don’t u open an issue in the ibis tracker

[2020-06-06 21:55] ntjess commented on #23750
I see. I created a new environment with just `pytest` and `pandas` and indeed the error does not show.

[2020-06-06 22:48] jamesbloom100 commented on #31682
I was having the same issue, and agree it is not a pandas issue. I was able to resolve this issue by making sure pandas was version 1.0.4, seaborn was 0.10.1, and statsmodels was 0.11.1.

[2020-06-06 23:31] alimcmaster1 commented on #34519
Hi, does this work with an AWS Credentials File? We made this throw an error when no credentials are defined as per #32486

[2020-06-07 00:17] bsipocz commented on #15580
@jorisvandenbossche - you mention that while all docstring examples are expected to be runable the pandas imports are not required. Could I suggest to still include it? (I've run into it when copy pasting an example from the API docs today. While it was trivial to see that why I got the error, it would have been more convenient if the import was included).

[2020-06-07 07:17] josh-friedlander-kando commented on #33746
Not an answer so much as an empirical observation: using a context manager for file handling (which I think is generally recommended style) seems to solve this problem:

[code]

[2020-06-07 07:20] lordgrenville commented on #33746
Not an answer so much as an empirical observation: using a context manager for file handling (which I think is generally recommended style) seems to solve this problem:

[code]

[2020-06-07 07:22] ayushdg opened #34626 "BUG: s3 reads from public buckets not working"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample

[code]
<details>
<summary> Error stack trace </summary>
<pre>
Traceback (most recent call last):
  File "/home/conda/envs/pandas-test/lib/python3.7/site-

[2020-06-07 08:22] kuraga commented on #33746
@lordgrenville , thanks! It even works in my case (it's complicated than this issue's code).

Then, I'll add your example, too and 'll mark this as a bug. If it's not, people'll say :)

[2020-06-07 09:25] ghuname commented on #29481
I can confirm that I got the same error when I tried to groupby dataframe by columns (one of them contains nan values), and than to find maximum of series "Lp".

df.groupby([columns_but_one_of_them_contains_nans]).Lp.max(skipna=False)

returned

TypeError: _cython_agg_general() got an unexpected keyword argument 'skipna'

[2020-06-07 09:34] jorisvandenbossche commented on #9595
@FluorineDog that's doesn't really seem related to this issue. Can you please open a new issue about it?

[2020-06-07 10:13] MarcoGorelli commented on #15111
OK, I'll assume `.zscore` wouldn't be welcome then, and that anything else discussed would belong in statsmodels :) Closing to (slightly) declutter the issue tracker

[2020-06-07 10:13] #15111 closed

[2020-06-07 10:18] kumudraj commented on #16048
use:
from pandas.io.json import dumps
import json
data_dictionary = df.iloc[0].to_dict()
data_dictionary=json.loads(dumps(data_dictionary,double_precision=0))

[2020-06-07 11:50] futurehome opened #34629 "QST: How to plot hist not in stacked style for different columns by df.plot.hist()?"
-  I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

When using pd.plot.hist(), how to plot different columns in the parallel style(1st pic below), rather than in the stacked style(2nd pic below)?

Thanks,
Alex

![image](https://user-

[2020-06-07 13:22] jorisvandenbossche commented on #34626
@ayushdg thanks for the report!

cc @simonjayhawkins @alimcmaster1 for 1.0.5, it might be safer to revert https://github.com/pandas-dev/pandas/pull/33632, and then target the fixes (like https://github.com/pandas-dev/pandas/pull/34500) to master

[2020-06-07 13:27] Korfballer commented on #28546
I'm still getting the same issue as above. Running an anaconda environment with pandas=1.3.0 and xlrd=1.2.0

Using pd.read_excel returns "ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd."

[2020-06-07 13:33] ketanhdoshi commented on #34618
#### Here is a similar but slightly different example

[code]

#### Problem description

In this case, data doesn't get corrupted in the .astype('float16') call, but the arithmetic operations after that produce different results for the 'float16' column 'c' versus the 'float64' column 'b'. Since all the numbers fit comfortably into the 'float16' numeric range, they should produce identical results

[2020-06-07 13:53] rhshadrach commented on #34629
You can do this by calling matplotlib and passing in the values of a DataFrame:

[code]

produces

![image](https://user-images.githubusercontent.com/45562402/83970623-ae43c000-a8a4-11ea-9bae-a0ce2b6a1211.png)

[2020-06-07 13:59] jreback commented on #34618
pandas has almost 0 support for float16

you are welcome to contribute patches

[2020-06-07 14:15] alimcmaster1 commented on #34626
Agree @jorisvandenbossche - do you want me to open a PR to revert #33632 on 1.0.x branch? Apologies for this change it didn’t go as planned. I’ll check why our test cases didn’t catch the above!

[2020-06-07 14:18] jorisvandenbossche commented on #34626
Yes, that sounds good

No, no, nobody of us had foreseen the breakages ;)

[2020-06-07 17:19] #24444 closed

[2020-06-07 17:24] deepster5150 opened #34633 "BUG: to_timedelta() works differently depending on type of arg for the same unit"
- [X ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repr

[2020-06-07 17:40] OlivierLuG commented on #34621
I wen't through this bug. I believe it is related to `dateutil`:
[code]
out: `_result(year=2000, month=12, day=31, hour=23, minute=59, second=59, microsecond=123456)`

Problem description:
---
The function `DEFAULTPARSER._parse` does not return a `nanosecond` attribute.

I try to make a PR at the dateutil repo.

[2020-06-07 18:15] hellojinwoo commented on #17791
I am using pandas version 1.0.1 and `rain_random.resample('A').nlargest(3) is still not working. Hope this function is added in the following updates
`

[2020-06-07 19:36] jreback commented on #17791
pull requests are accepted;
this is how issues get addressed in open source

[2020-06-07 20:11] #23475 closed

[2020-06-07 20:26] #34480 closed

[2020-06-07 20:35] miccoli commented on #34633
By inspecting the [source code](http://github.com/pandas-dev/pandas/blob/v1.0.4/pandas/core/tools/timedeltas.py#L16-L109), it appears that this is intended behaviour: the `unit` argument is used only for numeric input  and ignored for strings. String parsing is very complex (impossible to summarise here) but for numeric literals like `'1'` or `'16'` a default unit of `'ns'` is assumed.

Simple exa

[2020-06-07 20:59] #34568 closed

[2020-06-07 21:23] #34305 closed

[2020-06-07 21:55] miccoli commented on #34618
This is *definitely* not a bug.

[Half-precision floating-point format](https://en.wikipedia.org/wiki/Half-precision_floating-point_format) has only 11 bits of significant precision. This means that integers between 8192 and 16384 round to a multiple of 8: 14128 and 14130 round to the same number in half precision.

And of course, regarding the second example, it is expected that arithmetic with h

[2020-06-07 22:01] alimcmaster1 commented on #34626
Can't seem to reproduce this using moto... Potentially related: https://github.com/dask/s3fs/blob/master/s3fs/tests/test_s3fs.py#L1089

(I can locally using the s3 URL above - if I remove AWS Creds from my environment)

[2020-06-08 00:09] jreback commented on #34618
duplicates of #9220 and #22841

[2020-06-08 00:09] jreback commented on #34618
closing as a duplicate

[2020-06-08 00:09] #34618 closed

[2020-06-08 00:57] futurehome commented on #34629
Yes, it's what I want. But can it be done by plotly backend in Pandas pd.plot?

[2020-06-08 01:36] #33740 closed

[2020-06-08 01:41] jbrockmendel opened #34635 "BUG: test_eval.TestMathNumExprPandas.test_result_complex128 failing on OSX"
intermittently

OSX 10.15.5
python 3.7.6
numpy 1.18.5
numexpr 2.7.1

[code]

[2020-06-08 02:01] #34413 closed

[2020-06-08 02:03] jreback commented on #34131
most of the above list are now fixed by #34413; the csv multithread test could use some work on reducing the time

[2020-06-08 02:15] #34592 closed

[2020-06-08 04:26] the-moose-machine commented on #29481
I confirm the same. All _NaN_ values are picked up as 0. This is useless when manipulating data for academic research. For instance,

[code]
This results in _0_
`a.sum(skipna=False)`
This results in _NaN_ which is the desired output when calculating means. However when attempting the same within the groupby function, the sum always returns 0 and there is no option of skipping _NaN_ values.

These

[2020-06-08 05:56] VirosaLi commented on #7002
I guess this could be closed.

[code]

[2020-06-08 07:13] JakobHenning opened #34637 "ENH: specify function to determine NaN when using fillna()"
#### Is your feature request related to a problem?

When using `pd.fillna(df)` it does not fill all of the values that `pd.isna(df)` returns as `True`. Furthermore you might have some `NaN` values you want to fill, and some you don't

#### Describe the solution you'd like
include a `nan_function` to be parsed to `fillna()`. The `nan_function` should take a value (or row, or Series) as input and re

[2020-06-08 09:03] charlesdong1991 opened #34639 "ENH: Add max_results to `read_gbq`"
For queries for which the purpose is to create/replace tables: `CREATE OR REPLACE TABLE`, if the table is huge, it will eat up a lot of memory currently using `read_gbq`.

And it turns out that since `pandas-gbq==0.12.0`, a new argument `max_results` was implemented to limit the number of rows in result dataframe for e.g. setting it to `0` for DDL queries, which will help save memory.

So it will

[2020-06-08 09:23] charlesdong1991 opened #34640 "CLN: remove `private_key` and `verbose` from gbq"
Since `verbose` and `private_key` have been deprecated since https://github.com/pandas-dev/pandas/pull/30200, we should also remove both from function since they are not used at all? see them in `read_gbq` and `to_gbq`, e.g.

https://github.com/pandas-dev/pandas/blob/24857a2844be9ee6f604d93ea18301f587751f0a/pandas/io/gbq.py#L33

https://github.com/pandas-dev/pandas/blob/24857a2844be9ee6f604d93ea18

[2020-06-08 09:33] DuncanCasteleyn commented on #34467
I also have a simular issues since version 1.0.4 and had to downgrade to 1.0.3. I was able to read files from an azure blob storage if I provided the https url and as param sas token directly. since 1.0.4 this is completely broken.

Example on 1.0.4

`pd.read_parquet("https://*REDACTED*.blob.core.windows.net/raw/*REDACTED*/12.parquet?sv=*REDACTED*&ss=*REDACTED*&srt=*REDACTED*&sp=*REDACTED*&se=*RED

[2020-06-08 10:25] JohnPaton commented on #34639
I can take a swing at this!

[2020-06-08 10:55] jorisvandenbossche commented on #34467
We are reverting the original change for 1.0.5 (https://github.com/pandas-dev/pandas/pull/34632), and then will need to ensure to fix this for 1.1.0 in master.

[2020-06-08 10:56] frd-glovo commented on #34617
Update. It seems that the NAs are the issues. When grouping by the groups seem to be resorted according to the index to yield the right aggregation.

[code]

Maybe there should be a check on the index to make sure there are no NAs? Or let the user know in the documentation?

[2020-06-08 10:59] jorisvandenbossche commented on #34637
If you want a customized selection, you could also work with boolean indexing directly? LIke

[code]

That seems more generic than trying to add functionality to `fillna` that allows to fill other things than NA/NaN.

This aspect sounds as a potential bug. Do you have a reproducible example?

[2020-06-08 11:04] jreback commented on #7002
this was recently patched and we should have a test for it

if you like to check (otherwise a PR with this test case would be ok)

[2020-06-08 11:19] JakobHenning commented on #34637
[code]

the `NaT` is not `np.nan` but `pd.NaT` (calling `np.isnan(df.iloc[0,0])` throws `TypeError`)

[2020-06-08 11:28] hellojinwoo commented on #17791
May I ask what you mean by "this is how...source?"

[2020-06-08 11:55] jreback commented on #17791
pandas and virtually all open source project are all volunteer

the core team will review pull requests

since there are 3000+ open issue most patches must come from the community

issues get fixed when folks like you open pull requests

[2020-06-08 12:05] hellojinwoo commented on #17791
Yeah I know that Pandas is an open-source project. But regarding this issue `resample('D').nlargest(3)`, I cannot see neither the assignees nor linked pull requests, which can be found on the right side of this webpage. So I was curious to know what you meant by "pull requests are accepted".

[2020-06-08 12:10] jorisvandenbossche commented on #34637
If you fill with another value than `np.nan`, you will see it is actually filling all spots that `isnull()` gives True for:

[code]

But, when filling with `np.nan`, this value gets coerced to pd.NaT for the timestamp column, since that is the missing value being used for this dtype.

[2020-06-08 12:23] miccoli opened #34642 "DOC: Is it possible to apply 'rolling' to a level in a multindex?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

I had a hard time understanding how [`df.rolling`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html) works when `df` is indexed b

[2020-06-08 12:44] Jakobhenningjensen commented on #34637
Since no error/warning is cast when you specify `value=np.nan` you would assume that all NaNs are `np.nan` (also on Timestamp). If you try `np.isnan(pd.NaT)` then you get a `TypeError`, which is not expected, since you assume that all nans are `np.nan`

[2020-06-08 13:12] TomAugspurger commented on #34637
I wouldn't recommend filling NaT values with `np.nan`. NaN is a float, while NaT is a datetime.

If you really need to do this you should cast the datetime columns to object or float dtype before filling with nan.

I don't think there's anything for pandas to do here.

[2020-06-08 13:57] Hoeze opened #34643 "BUG: Writing Interval columns to Parquet fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Saving fails with:
[code]

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-06-08 14:07] Hoeze opened #34644 "ENH: Support for list of intervals / IntervalArray in to_parquet"
#### Is your feature request related to a problem?

I would like to be able to save the following dataframes:
- list of intervals:
[code]
- IntervalArray
[code]
However, currently both cases fail with:
[code]

#### Describe the solution you'd like

[this should provide a description of the feature request, e.g. "`DataFrame.foo` should get a new parameter `bar` that [...]", try to write a docstring

[2020-06-08 14:08] jreback commented on #17791
there are no assignees (who would we assign?)

and PRs would be linked to the issue

that’s the point here - no one has submitted anything

you or anyone else are welcome to do so

in this or any other issue

noting that something is not done is not that helpful - the issue is marked open

what IS helpful is submitting changes / examples /
tests

[2020-06-08 15:08] daskol commented on #34605
Sorry, I was mistaken in the previous investigation. The issue is more intricate than it seems at a glance.

[code]

The second `.apply()` is applied to an instance of `pandas.core.window.rolling.RollingGroupby`  but `pandas.core.window.rolling.Rolling`. The major difference of these `rolling`-objects is that `pandas.core.window.rolling.RollingGroupby` has another method resolution order due to `p

[2020-06-08 15:17] Honzys opened #34645 "BUG: TypeError: object of type 'int' has no len() when saving DataFrame with object dtype column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-08 15:29] daskol commented on #34642
Probably, there is a related issue #34617. By the ways, if data frame is indexed with integer index then one can use `level` keyword of `.rolling()`. This example is not consistent and just shows API features.
[code]

[2020-06-08 15:37] jorisvandenbossche commented on #34643
@Hoeze thanks for the report!

So pandas already supports converting Intervals to Arrow back and forth, but the problem is that Arrow does yet support writing the nested struct type that is used to represent Intervals to parquet.

So eg converting to arrow and back actually works:

[code]

Now, normally there has been improvements in pyarrow 0.17 to support writing nested structs (the message for

[2020-06-08 16:01] jbrockmendel commented on #32619
The bug here is in tz_compare not considering the two different UTCs as equivalent.  I agree with @mroeschke that we shouldnt change the to_datetime API.

I would be +1 on changing our defaults from pytz to the stdlib tzinfo (and zoneinfo going forward)

[2020-06-08 16:17] Hoeze commented on #34643
Thanks a lot for the explanation @jorisvandenbossche!

[2020-06-08 16:25] TomAugspurger opened #34650 "June 2020 Meeting"
The monthly dev meeting is Wednesday June 10th, at 18:00 UTC. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar to check your local time.

Video Call: https://zoom.us/j/942410248
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&usp=docs_home&ths=true

Please add items you'd like to see dis

[2020-06-08 16:41] Stockfoot commented on #33851
@simonjayhawkins @moaraccounts
I tried submitting a pull request for the .rst document but it failed. It is saying there is trailing white spaces after every single line on the CI/Check but when I pull it up in my editing program there are no trailing white spaces. I'm sure it is something simple but perhaps you can shed some light on what is happening. Thanks!

[2020-06-08 16:50] hellojinwoo commented on #17791
Now I can see why your replies have been sour. I am new to this pandas-dev zone, so if it is rude to report an old issue once again, I would like to apologize. Chill.

[2020-06-08 16:59] orenmn opened #34651 "BUG: df.groupby().apply() returns an empty df instead of a None-only Series"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

The first and last calls to apply in the above code each return an empty DataFrame.

Instead, they should behave like the other two calls to apply, i.e., return a Series that contains the values returned by the call to the lambda function on each group.

It seems to me that the trigger to the bug is that the applied funct

[2020-06-08 18:08] kepler commented on #34467
Another consequence of using `ParquetDataset` instead of `read_table` is that additional keyword arguments are passed both to the constructor and the read method:
[code]
But since `ParquetDataset.read` doesn't support all arguments supported in `ParquetDataset.__init__`, this leads to TypeErrors:
[code]

[2020-06-08 19:00] jreback commented on #17791
@hellojinwoo thanks for the apology

we have been getting the: why has this x year old issue not been resolved

many times

and to be honest it’s very rude of folks to do this but i guess new folks just don’t realize this so ok

people work extremely hard in open source and volunteer much time - yet continued comments like this (and to be clear i am not calling you out at all) cause burnout for th

[2020-06-08 19:19] wfvining commented on #25411
I am having this same problem in 1.0.1. If I do the following
[code]

I expect to see the following output

[code]

But instead I get

[code]

If you examine the value of `xs` for each application you find that the one 'group' that is not tz-naive has no data in it.

[2020-06-08 19:38] austospumanto commented on #34467
@kepler I wonder if explicitly separating the kwargs into two parameters might be a solution. Something like
[code]

Though I imagine it would be more "pandas-like" to just implicitly construct `init_kw` and `read_kw` according to what we know the allowed init/read parameters to be.

[2020-06-08 19:49] VirosaLi commented on #7002
Sorry for this many commits... It was my first PR.

[2020-06-08 20:00] JonnyWaffles opened #34655 "read_csv cannot use dtype and true_values/false_values"
Hi friends,

Not sure if this is working as intended, but it appears you cannot use both dtype and true_values or false_values kwargs when reading csv.

[code]
Using converters kwarg to get the data how I like will fix my problem, but we may want to update the docs to let users know true/false user defined values will not work in conjugation with providing the boolean type.

[2020-06-08 20:09] miccoli commented on #34642
In @daskol example the `level` keyword seems a noop, as any other arg passed to `rolling`.
[code]

I'm still very confused.

[2020-06-08 21:00] kepler commented on #34467
Yes, I'd agree it's better to keep consistency with <=1.0.3 and do the magic inside the `read_parquet` method. Not sure this will be easy to clearly document, though, and so it might actually make things more confusing to the user. But then I'm not familiar with FastParquet, so maybe separating kwargs will not be consistent with it.

So you see I don't have a strong opinion about how's designed. :

[2020-06-08 21:16] Veronur commented on #34529
Ok so what i found out is this: the example you give is instead of using df.apply(lambda x: x.astype('object')) you do df.apply(lambda x: x.astype('|S')) it the command will run beacuse currently pandas is intepreting strings as an object itself but fo byteStrings it gets an __array_interface__ https://numpy.org/devdocs/reference/arrays.interface.html#arrays-interface so thats why the dtypes were

[2020-06-08 21:19] rhshadrach commented on #34629
Currently, I don't believe so. Right now the plots are constructed for each column and then combined together. In order to have them side-by-side as you desire, the internal code would need to be refactored so that all of the data is passed to matplotlib in a single call.

@TomAugspurger: Any thoughts here? Would having the option to have the histogram bars be side-by-side be a welcomed enhancemen

[2020-06-08 21:24] TomAugspurger commented on #34629
I haven't looked in a while, but it sounds like that wouldn't be easily doable with the current implementation. I'd be hesitant to add anything too complex.

[2020-06-08 22:10] #12136 closed

[2020-06-08 22:10] rhshadrach commented on #34598
I think this is expected, datatypes may need to change to hold the correct result. For example, taking the mean of a Boolean/integer should result in float. Taking the count of a column with say 10k rows with dtype int8, changing the datatype to int64 so that the correct result can be stored seems preferable.

[2020-06-08 22:18] gshimansky opened #34656 "BUG: groupby.min has a side effect on groupby.apply"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-08 22:20] rhshadrach commented on #34598
Ahh, I missed that it was the grouping column that is changing. That changes things.

[2020-06-08 22:34] jbrockmendel opened #34657 "PERF: don't consolidate at __init__"
xref mailing list [discussion](https://mail.python.org/pipermail/pandas-dev/2020-June/001246.html)

ATM most calls to `DataFrame(foo)` will end up going through either `core.internals.managers.create_manager_from_blocks` or `core.internals.managers.create_block_manager_from_arrays`, both of which call `mgr._consolidate_inplace()` before returning a `BlockManager` object.  I think we should conside

[2020-06-08 22:41] remram44 commented on #19827
I'm very confused about this, because passing a `io.BytesIO` to pandas will not work (so whatever detection you do isn't very good) but passing a simple file-like object with a `write()` method will make `to_csv()` write bytes to it for some reason. Why `to_csv()` puts bytes into anything is beyond me.

How can I make a file-like object that pandas will accept to write strings to?

[2020-06-08 22:46] jbrockmendel commented on #34089
Not really.  I think you'd need to go into core.indexing and tinker around with Loc/iLoc

[2020-06-08 22:46] alimcmaster1 commented on #34467
@DuncanCasteleyn

Thanks for highlighting, as Joris mentioned we are reverting for 1.0.5. Could you confirm if this fix targeting master fixes your issue https://github.com/pandas-dev/pandas/pull/34500

[2020-06-08 23:08] alimcmaster1 commented on #34467
@austospumanto

The fix for master pandas 1.1 is https://github.com/pandas-dev/pandas/pull/34500/files#diff-cbd427661c53f1dcde6ec5fb9ab0effaR134

We can potentially add tests that’s cover a few more of the kwargs since we clearly currently don’t have coverage here.

[2020-06-08 23:26] dsaxton commented on #34656
Thanks, looks like the side effect happens here:

https://github.com/pandas-dev/pandas/blob/fc37087a840ee9864e7817a391d7353abfbcc560/pandas/core/groupby/groupby.py#L990

Not sure if there would be an easy fix for this, other than the obvious workaround of not persisting the groupby object.

[2020-06-08 23:36] #22610 closed

[2020-06-09 00:53] mroeschke commented on #34605
It appears this is fixed on master now, and will be fixed in the pandas 1.1 release. I think https://github.com/pandas-dev/pandas/pull/34052 inadvertently fixed this. It'd be good to add a test to confirm.

[code]

[2020-06-09 01:00] dsaxton commented on #34651
It looks like this was a deliberate implementation decision that was patching an old bug: https://github.com/pandas-dev/pandas/issues/9684.

[2020-06-09 02:50] matteosantama commented on #34621
Do we have to use the dateutil parser? Or can we can directly parse into a pandas Timestamp?

[2020-06-09 03:11] futurehome commented on #34629
Got it.

Thanks.

[2020-06-09 03:22] WillAyd commented on #34656
There is a context manager `_group_selection_context` we should use here

[2020-06-09 03:23] WillAyd commented on #34656
@gshimansky interested in submitting a PR to fix?

[2020-06-09 03:35] gshimansky commented on #34656
@WillAyd I can only workaround this problem by recreating groupby object

[2020-06-09 08:19] jorisvandenbossche commented on #34643
I opened as issue for this on the Arrow side: https://issues.apache.org/jira/browse/ARROW-9078

Let's leave the issue open here as well, as once it is fixed in Arrow, we should enable the parquet tests for Interval.

[2020-06-09 09:20] xhochy opened #34660 "BUG: ExtensionArray.equals expects ExtensionArray.all to return a numpy.bool_"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

The current implementation of `ExtensionArray.equals` expects that the implementation of `ExtensionArray.all` always returns a numpy scalar, see

[2020-06-09 10:27] joha1 opened #34662 "BUG: read_excel with dtype=np.int32 can't handle empty or nan cells"
- [x] I have checked that this issue has not already been reported.
Though there's some similar issues, like https://github.com/pandas-dev/pandas/issues/20377

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02

[2020-06-09 10:42] fujiaxiang opened #34663 "DEPR: behavior of `copy` argument in `df.reindex` is confusing and doesn't achieve anything"
This was inspired by #33888 and #34584

#### Problem description
The behavior of `copy` argument in `df.reindex` is confusing. Current docstring does it explain it sufficiently clear. It also seems to me `copy` is unnecessary.

Currently the docstring says
[code]

It is hard to clarify what is considered an "equivalent" index. See below for more details.

Further, I believe users rarely purposeful

[2020-06-09 11:14] jorisvandenbossche commented on #34663
Even though the "equivalent" criterion is maybe too strict or not very clear (two things that might be worth solving for sure), there is still value in having this keyword for the case you really have an identical index.
For example, the `copy=False` argument is used quite a lot internally to avoid copies. In some operations, input needs be reindexed (although this is often done through `align`, b

[2020-06-09 12:32] simonjayhawkins commented on #34546
@lviani Thanks for the report. This looks like a duplicate of #12585 so closing. ping if i'm missing something.

[2020-06-09 12:32] #34546 closed

[2020-06-09 13:14] TomAugspurger commented on #34657
Most likely this should live behind a `pd.options` config, and possibly a parameter to `DataFrame.__init__` first. That will let people try things out easily and report back performance on real-world workloads.

[2020-06-09 13:58] dmlogv opened #34665 "BUG: DataFrame.to_dict() converts Nullable Int types to numpy.int"
#### Problem description

`DataFrame.to_dict()` method do not cast Nullable Int types (`Int*Dtype`) into Python `int` type. Instead, it unwrapping into `numpy.int*` types.

Possibly related to: #27616, #25969, #21256

#### Expected Output

Native Python `int` type.

#### Reproduction

Make some data:

[code]

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">

[2020-06-09 14:28] TomAugspurger opened #34666 "BUG: Source build issue with with py38"
We don't have a py38 entry in our `pyproject.toml`, so when building from source for 3.8 we fetch NumPy 1.15.4, which isn't compatible with py38. Fix incoming.

[2020-06-09 14:35] ericman93 commented on #25143
same issue in 1.0.4
[code]

[code]

[code]

[2020-06-09 14:47] jorisvandenbossche commented on #34665
@dm-logv thanks for the report. This is probably related to https://github.com/pandas-dev/pandas/issues/29738

[2020-06-09 14:51] jorisvandenbossche commented on #34657
Personally I am not sure whether it is worth pursuing this for the current BlockManager. It has impact on performance and on copy/view semantics, so we should be careful about changing it, which will take some effort.
Related to the mailing list discussion, I think we should we rather put this effort in a non-consolidating block manager (and eg put that behind a config)

[2020-06-09 15:22] kuraga commented on #33746
[code]
Remove one line. It will start to work!

[2020-06-09 15:31] jamesbooker commented on #29916
Please could a moderator review what's happening with this? If @roberthdevries solution is to be merged I can still use pandas for my project (which is processing data from a non-pandas system)

[2020-06-09 15:36] jorisvandenbossche opened #34669 "Practical steps towards a simplified BlockManager"
In the mailing list discussion on a simplified (non-consolidating) BlockManager, @jbrockmendel brought up the relevant question of how we could get there (incrementally?): https://mail.python.org/pipermail/pandas-dev/2020-May/001223.html

Since that is a more practical discussion, moving that to an issue here.

**Longer term**, there are multiple options of how such a blockmanager could be enabled

[2020-06-09 15:37] #34660 closed

[2020-06-09 15:45] yannikschaelte opened #34670 "BUG: DataFrame.to_feather() does not work"
The function `DataFrame.to_feather()` creates a file that cannot be read in in R.

- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When expor

[2020-06-09 15:56] jbrockmendel commented on #34669
This is now easy to grep for because it is `._mgr` instead of .`_data`.  The places where I'd really like to avoid this are, in roughly the order in which they are code-smelly:

- `io.formats.csv` L337
- `io.pytables` L3877
- `core.groupby.generic._cython_agg_blocks`
- `_libs.reduction` (a whole other can of worms)
- `core.resample._take_new_index` (just calls `obj._mgr.reindex_indexer`, so not th

[2020-06-09 16:07] jbrockmendel commented on #34657
This seems reasonable.  ATM the branch I've got going adds a `consolidate` parameter to `create_block_manager_from_arrays` that defaults to False, but it would be easy to have it default to True and be override-able from the DataFrame constructor.

That said, global options always make me wary of test coverage.  e.g. the branch I'm working on looks like it has uncovered some weird behavior of `Blo

[2020-06-09 16:17] TomAugspurger opened #34671 "BUG: Series / DataFrame reductions convert string data to numeric"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`median` should not convert the input types. We seem to explicitly convert all non-float dtyp

[2020-06-09 16:39] mroeschke commented on #34669
rolling operations also operate block-wise, but removal would be fairly straightforward

[2020-06-09 17:14] st-bender commented on #29916
Hi, this issue has been fixed downstream in dask.

As long as the files contain hdf5 "tables" they should work by accessing the hdf5 path directly, at least this worked and still works for me. The problem in the current issue is **not** that pandas could not import the files, but that the previous change in the API lead to downstream problems, i.e., they could no longer be imported with dask.
If y

[2020-06-09 17:19] matteosantama commented on #34670
Does the accompanying pandas `read_feather()` function work on your `out.feather` file?

[2020-06-09 17:25] yannikschaelte commented on #34670
yes it does
[code]

[2020-06-09 17:33] st-bender commented on #29916
Btw, re-reading your comment @roberthdevries, I noticed that 1 is not quite true, `read_hdf()` reads anything (actually using pytables' `.get_node()` under the hood), it does not (yet) care about pandas-only files. Which would somehow defeat the purpose of having a general import function.

I can only assume that it was a design decision to list only pandas-native dataframes, and to mitigate the p

[2020-06-09 17:38] TomAugspurger commented on #34670
This is almost surely on the Arrow side (R or python), rather than pandas. I'd recommend ensuring that your verisons of Arrow are compatible.

[2020-06-09 18:11] kuraga opened #34673 "BUG: read_excel: incorrect multi-index values - 2"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
(`engine` could be `xlrd` or `openpyxl`, doesn't matter.)

[test.xlsx](https://github.com/pandas-dev/pandas/files/475395

[2020-06-09 18:14] yannikschaelte commented on #34670
@TomAugspurger Do you mean the pyarrow python package and arrow R package? Do you happen to know where compatibility can be checked?

[2020-06-09 18:16] banderlog commented on #11704
In which pandas version it will appear?

The `pandas-1.04` still shows `NotImplementedError`

[2020-06-09 18:35] TomAugspurger commented on #34670
Yes, pyarrow for the Python side. I'm not sure how the R side is packaged,
or what versions are compatible with the other. (cc @jorisvandenbossche).

On Tue, Jun 9, 2020 at 1:15 PM Yannik Schälte <notifications@github.com>
wrote:

[2020-06-09 18:56] r-luo opened #34675 "BUG: pandas.groupby.apply does not work with floating point indexed dataframe since 1.0.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-09 19:03] kuraga opened #34676 "BUG: read_excel: incorrect multi-index values - 3"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
(`engine` could be `xlrd` or `openpyxl`, doesn't matter.)

[test.xlsx](https://github.com/pandas-dev/pandas/files/475414

[2020-06-09 19:09] TomAugspurger commented on #11704
1.1 (See the "milestone" on this issue).

[2020-06-09 19:13] matteosantama opened #34677 "BUG: ASV Benchmarks failing to build"
ASV benchmarks fail to build on master. Could this be related to #34666?

`error: command 'gcc' failed with exit status 1`

Anyone else having this issue?

[2020-06-09 19:45] TomAugspurger commented on #34677
What command are you running to build them?

[2020-06-09 20:29] #34629 closed

[2020-06-09 20:44] jbrockmendel commented on #29512
closeable?

[2020-06-09 20:46] jbrockmendel commented on #31903
Closing as I'm pretty sure this no longer does type inference.  Feel free to reopen if ive got this wrong.

[2020-06-09 20:46] #31903 closed

[2020-06-09 20:49] jbrockmendel commented on #23359
Closing as not worth the trouble

[2020-06-09 20:49] #23359 closed

[2020-06-09 20:54] jbrockmendel commented on #17914
Closing as no-action since these are now all in cython, so should not be expensive.  Can re-open if you want to revist.

[2020-06-09 20:54] #17914 closed

[2020-06-09 20:58] jbrockmendel commented on #3539
I could imagine this being implemented on a bespoke EA, but implementing on say Block sounds like a giant PITA at this point

[2020-06-09 20:59] jbrockmendel commented on #34479
xref #19759

[2020-06-09 21:20] tom-weiss opened #34681 "BUG: groupby.sum() is inconsistent with df.sum() for large integers"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2020-06-09 21:26] OlivierLuG commented on #34621
I've managed to obtain the Timestamp, and it's ordinal value, but the frequency is fixed to `ns`. Is there an easy way to deduce the `frequency` knowking a timestamp ?

[2020-06-09 21:55] matteosantama commented on #34677
[code]

And then I get a bunch of errors like
[code]

My conda environment uses Python 3.8, which is why I thought maybe its connected to #34666

[2020-06-09 22:17] #34639 closed

[2020-06-09 22:31] #34573 closed

[2020-06-09 23:05] alimcmaster1 commented on #34626
The fix for this to target 1.1 is to set ‘anon=True’ in S3FileSystem https://github.com/pandas-dev/pandas/pull/33632/files#diff-a37b395bed03f0404dec864a4529c97dR41

I’ll wait as we are moving to fsspec which gets rid of this logic https://github.com/pandas-dev/pandas/pull/34266 - but we should definitely trying using moto to test this.

[2020-06-10 00:50] mario-bermonti opened #34682 "ENH: Make metadata from read_spss available"
#### Is your feature request related to a problem?
I would like to have the [metadata that pyreadstats provides](https://ofajardo.github.io/pyreadstat_documentation/_build/html/index.html) available when reading files from SPSS.

This would be really helpful because it would provide an easy way to have variable labels (descriptions), value labels, and other important metadata available to format r

[2020-06-10 01:43] TomAugspurger commented on #29512
Yeah, we're just following NEP-29 now.

[2020-06-10 01:43] #29512 closed

[2020-06-10 01:44] TomAugspurger commented on #34682
`NDFrame._metadata` is primarily for subclasses. We would want to use `.attrs` instead.

[2020-06-10 06:50] jorisvandenbossche commented on #34670
@yannikschaelte you have the latest version of pyarrow installed (0.17.1), which will write Feather Version 2 files by default. Those files can only be read by the latest R arrow package (and I don't think the R `feather` package is already updated, but the R `arrow` package should include feather reading functionality that recognizes those files).

To write files that are readable by the older `f

[2020-06-10 06:51] pushkarnimkar commented on #34455
I'm facing the same issue. This seems to be introduced in version 1.0.0 I've checked that this doesn't break with pandas 0.25.3.

[2020-06-10 06:53] jorisvandenbossche commented on #34670
See the note at https://github.com/wesm/feather#feather-development-is-in-apache-arrow-now (we should maybe clarify that to also include a note about the format version).
And see https://arrow.apache.org/docs/r/reference/read_feather.html for the R `arrow` docs on this.

[2020-06-10 06:57] jorisvandenbossche commented on #31903
Yep, that's correct

[2020-06-10 07:22] jorisvandenbossche commented on #34677
@matteosantama can you build pandas itself in your development environment (outside of the asv env)?

[2020-06-10 07:28] jorisvandenbossche commented on #34671
I think we clearly don't want to do this, for the above case.
But I suppose this way it enables numeric values in object dtype in general? And there might be use cases for that which would be broken if we remove this conversion to float .. (eg decimals, etc)

[2020-06-10 08:05] gglanzani commented on #34605
take

[2020-06-10 08:08] gglanzani commented on #34605
Hi, I'm preparing a tutorial on pytest for PyData Amsterdam 2020.

The tutorial — which is part of a longer serie — should prepare them to start contributing on pandas.

I thought this would be a good issue to illustrate how people can get started with pytest. I plan to work these days until the 17/06 (day of the tutorial).

I should be able to create a pull request for this, so I'm not taking it

[2020-06-10 08:20] simonjayhawkins opened #34684 "RLS: 1.0.5"
xref https://github.com/pandas-dev/pandas/pull/34664#issuecomment-641355926

cc @pandas-dev/pandas-core

[2020-06-10 08:23] jorisvandenbossche commented on #34684
(note it's not only S3, but also from file-like objects -> #34626, #34467)

[2020-06-10 08:38] benjamin-ny commented on #32262
Not sure if it's the same issue, but I see a similar thing with `groupby` + `expanding`:

[code]

<img width="83" alt="Bildschirmfoto 2020-06-10 um 10 35 36" src="https://user-images.githubusercontent.com/47246546/84245984-3379df80-ab06-11ea-8281-75c6aad02d33.png">

The same does not happen when using, for instance, `.transform(max)`.

(pandas version 1.0.1)

[2020-06-10 08:41] ddofer opened #34685 "ENH: NamedAgg support for time windows/Expanding"
#### Is your feature request related to a problem?
I am using aggregations over data with groups over time, to create features. I had hoped to use the "new" namedAgg functionality to efficiently calculate and rename the many feature columns.
I find that named Aggregations only works with the "default"groupby.agg, when used with a rolling window or expanding, it's not supported.
(I note that the fu

[2020-06-10 08:58] jorisvandenbossche opened #34686 "API/BUG: Behaviour of NA in BooleanArray pow operation"
For IntegerArray, we have some special-case behaviour for NAs in `pow` operation. For example, `1 ** NA == 1` and not NA as normal NA-propagation would be.

For BooleanArray, we don't have that, but maybe we should do the same? So that the boolean power of boolean-cast-to-int8 power operations for the same?

Right now this is different:

[code]

[2020-06-10 09:02] MarcoGorelli commented on #34685
Thanks @ddofer

Is this the same as #34064?

[2020-06-10 09:23] daskol commented on #34605
@gglanzani This is great! Thanks for helping and good luck with your talk.

[2020-06-10 09:54] DuncanCasteleyn commented on #34467
Hi, I build the branch from the issue you mentioned and ran the code that uses azure data lake/blob storage and it my data is being loaded again using direct urls in the format that i mentioned before.

[code]

[2020-06-10 10:06] ddofer commented on #34685
It definetely overlaps. Not sure if it's a duplicate, since that is refering a different specific usage

[2020-06-10 10:51] TomAugspurger commented on #34671
Agreed. At the very least, we'll want to ensure we have a test that something like `pd.Series([1, 2], dtype=object).median()` continues to work.

[2020-06-10 10:54] jreback commented on #34671
isn’t this the same treatment for min/max

median is an ordering lookup not dependent on the type (except for ties)

[2020-06-10 10:58] TomAugspurger commented on #34671
min / max doesn't first convert to float

[code]

`mean` does convert to float.

[code]

(how does it get 6.0 there though? 😄)

[2020-06-10 11:01] jorisvandenbossche commented on #34671
Ah boy .. But so it's not only median.

BTW, just checked, the reason for 6 is actually because "1" + "2" is "12", and then we convert to numeric 12, and divide by the count ... :)

[2020-06-10 11:33] jreback commented on #34671
i believe we handle object dtype like this to make like numpy

we should infer in object dtype for a more specific numeric type before performing these ops

[2020-06-10 12:11] deusebio opened #34687 "BUG: multiple application of .loc on sparse DataFrame results in NaN and filling the DataFrame"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

It seems that sparse DataFrame extracted using loc does not behave as the original ones. This

[2020-06-10 14:44] ELToulemonde opened #34696 "ENH: DataFrame or Series to code"
**Request**

Have a method to transform a pandas object to code.

**Example**

The given situation

`given_df = pd.DataFrame({"a": [1, 2],
                                 "b": pd.to_datetime(["2019-01-01", "2019-12-31"]),
                                 "c": ["a", "b"]})`

Call to the method :

`code_string = given_df.to_code()`

Expected output :
`pd.DataFrame({'a': [1, 2], 'b': pd.to_datetime(

[2020-06-10 17:58] martindurant opened #34704 "BUG: CI builds failing at compilation of _sas"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-10 21:17] dev-pawel opened #34706 "ENH: implement pd.Series.corr(method="polychoric")"
I wish I could use pandas to calculate the polychoric correlation for ordinal variables. According to the literature, the polychronic correlation presents really good results. Compare to Spearman correlation it performs better on n > 1000 number of samples.

I couldn't find an easy way to use it in python.
In R there are at least two implementations of this correlation e.g.
https://r-forge.r-proje

[2020-06-10 22:15] jbrockmendel opened #34708 "BUG: DataFrame.unstack on non-consolidated frame"
[code]

[2020-06-11 00:29] dsaxton commented on #34706
I think scipy would probably be the place for this to be implemented. In any case if there is a formula for this that could be coded by hand you could pass that as a callable to the method argument to get this behavior using existing functionality.

[2020-06-11 01:14] jbrockmendel commented on #34510
Looking at %prun results, about 40% of the change is accounted for by _validate_scalar

[2020-06-11 02:30] samukweku commented on #34684
Hi Team, great work. Pandas version on pip and condas show version 1.0.4, although details of Pandas 1.1.0 can be found on the website. Any date when Pandas 1.1.0 will be available for download?

[2020-06-11 06:25] jorisvandenbossche commented on #34684
Then you are looking at the dev docs, the stable docs show 1.0.4: https://pandas.pydata.org/pandas-docs/stable/

For 1.1, we're targetting end of June for a release candidate

[2020-06-11 08:27] faraz16iqbal commented on #34640
Is this issue still up for grabs?

[2020-06-11 08:35] jorisvandenbossche commented on #34708
BTW this is a regression compared to 1.0, so the PR certainly needs to be merged for 1.1

[2020-06-11 08:52] alex005005 commented on #30323
Hi,
I can reproduce using this code and data. Transforming to list() before json_normalize fixes the issue for me - so I don't know if I'm just using it incorrectly.

`#%%
import json
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['bikedata']
testcollection = db['test']

with open('/home/alex/Desktop/db_berlin_neu_aggregate_sort_.json.txt') as f:
    file_dat

[2020-06-11 09:05] alex005005 commented on #30323
Hi,
I can reproduce with following code and data.

Problem doesn't occur if I transform to list before json_normalize - maybe I'm using it incorrectly and that is how it's supposed to work.

`#%%

import json
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['bikedata']
testcollection = db['test1']

with open('/home/alex/Desktop/db_berlin_neu_aggregate_sort_.jso

[2020-06-11 09:07] rchauhan1 commented on #10017
I want to add N/A value in empty columns, please help

[2020-06-11 09:10] And0k commented on #26929
string dtype dataframe does not respond to axis
[code]

[2020-06-11 09:54] idantene opened #34710 "ENH: Writing a DataFrame to Excel with `XlsxWriter` in constant_memory mode requires row-by-row writes"
#### Is your feature request related to a problem?

When writing large DataFrames to an Excel file using `XlsxWriter`, one can use the `options={'constant_memory': True}` keyword arguments.
However, [per the documentation](https://xlsxwriter.readthedocs.io/workbook.html#constructor): **once this mode is active, data should be written in sequential row order.**

The way pandas works at the moment,

[2020-06-11 12:13] simonjayhawkins commented on #34684
no problem. #34667 is tagged 1.0.5 so hopefully that'll auto backport.

[2020-06-11 13:46] TomAugspurger commented on #34704
Maybe related to the Cython version? Locally, with Cython 29.20 I see

[code]

With 29.19, I don't see that error. Let me try pining cython for that build.

[2020-06-11 14:32] pavany666666 commented on #26314
@KaonToPion Please let us know once you checkin... I would like to have this fix ASAP... Thanks a lot!

[2020-06-11 15:29] #34666 closed

[2020-06-11 15:34] Ddedalus commented on #16529
I'm surprised this has not been brought up in this thread yet: the inplace kwarg makes it much more difficult to do any static type-checking. Every method with this kwarg ends up with return type of `Union[DataFrame, NoneType]` or `Union[Series, NoneType]`, so the type checker has no way of knowing whether anything was returned at all!

Moreover, the existence of `inplace` causes problems with aut

[2020-06-11 15:45] TomAugspurger commented on #34704
CI should be passing again if people merge master in their PRs.

We'll leave this issue open to determine why this is generating unused functions with Cython 0.29.20.

[2020-06-11 17:43] jbrockmendel opened #34714 "REF: BlockManager.apply_allow_failures"
cc @mroeschke w/r/t rolling `._apply`, @WillAyd w/r/t `_cython_agg_blocks`, and anyone else w/r/t `DataFrame._reduce`with `numeric_only=None`,  `apply.FrameApply` with `ignore_failures=True`.

All of these do something along the lines of:

[code]

Two things should be done with this pattern:
1) Deprecate it, since it is a disproportionate maintainence burden
2) implement something like `BlockManag

[2020-06-11 18:08] WillAyd commented on #34714
I don’t know about deprecating. I think I tried to remove this pattern from GroupBy in the past and it killed performance. Would be on board with consolidating for sure though

Sent from my iPhone

[2020-06-11 18:34] mroeschke commented on #34714
FWIW, if we're open to allowing numba in the internals (with some opt-in, global execution engine setting), this is a great candidate for numba parallelism and can ameliorate the performance hit if we decide to deprecate this behavior.

[2020-06-11 20:14] charlesdong1991 opened #34717 "PERF: pd.Series.map too slow for huge dictionary"
Just found out a performance issue with `pd.Series.map`, seems it is very slow when the input is a huge dictionary.

I noticed a similar issue reported before: #21278 and indeed for `Series` input, the first run might be slow and then for the later runs, they are very fast because hashable indexing is built. However, it doesn't seem to apply to `dict` input.

I slightly changed the example in #212

[2020-06-11 20:24] WillAyd commented on #34704
Woud have to check Cython changelog but I guess would also just remove the `__div__` method - isn't that a Py2 compat leftover?

[2020-06-11 20:25] goerlitz commented on #20007
Same issue here. Like @GSanchis I want to left-join (merge) two DataFrames where, in my case, the second one has a single column of ints or Strings where the missing values need to filled with 0 or empty String, respectively.
This is very common use case in many data science/data mining task. But that automatic conversion to float type for capturing nan with no means to fill the nan values without

[2020-06-11 21:15] TomAugspurger opened #34719 "CI: Failing TestDtype.test_check_dtype on master"
https://travis-ci.org/github/pandas-dev/pandas/jobs/697381484#L3750

[code]

There's a note there about not ignoring the warning. I wonder if that's been changed.

[2020-06-11 21:17] TomAugspurger commented on #34719
This job is building numpy from source, so this might be reproducible with numpy master (though I'm not sure why this isn't failing our numpydev build)

[2020-06-11 21:20] goerlitz commented on #21329
I often have to deal with data where a table column contains a string with comma-separated values or NAs. So having a fix for this issue would be highly appreciated!

I painfully realized that

`pd.Series(['a,b,b,c', None]).str.split(',').fillna([])`

throws an error and

`pd.Series(['a,b,b,c', None]).fillna('').str.split(',')`

returns a list with an empty string but not an empty list. :(

So I e

[2020-06-11 21:51] rhshadrach commented on #34598
Even when using as_index=False, internally the unique values for the groupby are stored as an Index. I think that makes this a duplicate of #16404.

[2020-06-11 22:26] lathamri commented on #34640
take

[2020-06-11 22:33] lathamri commented on #34640
take

[2020-06-11 23:01] amansani opened #34723 "QST:Need to stop converting my regular values to date formats"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-06-11 23:07] maulberto3 commented on #31336
Hi @jphilippou27 @WillAyd, using pandas 1.0.1.  from anaconda, max_level does not go as deep as it states:
[code]

[2020-06-11 23:14] mroeschke commented on #34621
I don't think this is a bug. In `to_timestamp` you can specify `how` to indicate whether you want to return the start or end timestamp

[code]

[2020-06-11 23:15] gauravchandok commented on #34663
The `copy` parameter directly contradicts that a new object is created when the `copy=false` argument meets a rare "equivalent" index. Although perhaps stating it as a special note might bring some attention to the how unique this is might help. It seems to be the only exception to the `reindex` summary which is why I tried to keep it in.

[2020-06-11 23:30] amansani commented on #34723
The Hyphen issue got solved. Added encoding='utf-8-sig' in to_csv method.

Need help in fixing the values to date formats.

[2020-06-11 23:58] jreback opened #34724 "CI: window 37_141 jobs needs to update numpy version"
https://github.com/pandas-dev/pandas/blob/master/ci/deps/azure-windows-37.yaml

we no longer support this, I guess it *still* works ok. But we should advance this job to be numpy 1.15* at least, i would say we should actually test numpy 1.18* here.

might also need to actually rename the job to reflect the update.

[2020-06-12 00:45] mroeschke commented on #34723
Could you provide a minimal example of the conversion behavior you're seeing? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-12 01:16] mroeschke commented on #34696
Thanks for the suggestion, but given the wide scope of this feature I don't think we're interested in supporting this feature. Going to close for now.

[2020-06-12 01:16] #34696 closed

[2020-06-12 01:17] anjanibhat opened #34725 "BUG: fillna(method="ffill") and ffill() on DataFrameGroupBy gives different results"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-12 04:50] Akshatt commented on #34724
Hey @jreback, Can I work on this issue?

[2020-06-12 06:25] OlivierLuG commented on #34621
Yes, I this bug is not linked with `to_timestamp` function. The Period constructor loses nanoseconds

[code]

The reason is the constructor calls the `dateutil.DEFAULTPARSER._parse` which does not support nanoseconds.

expected output are:
[code]

[2020-06-12 12:25] TomAugspurger opened #34730 "RLS: 1.1"
Tracking issue for the 1.1 release. I've set the target for July 15th. https://github.com/pandas-dev/pandas/milestone/68

Planning a release candidate for sometime in early July, 1-2 weeks before the final release.

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression
List of open blockers: https://github.com/pandas-dev/pandas/issues?q=is%

[2020-06-12 12:34] TomAugspurger commented on #32289
Here's the root cause

[code]

I think we should consider deprecating passing a list of DataFrame to the DataFrame constructor. We don't allow passing a list of 2D ndarrays, so we likely shouldn't allow passing a list of 2d DataFrames?

[2020-06-12 13:08] erfannariman opened #34731 "BUG: DataFrame.melt gives unexpected result when column "value" already exists"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When the column `value` already exists,  and we set it as index with `id_vars` it copies the

[2020-06-12 13:43] amansani commented on #34723
Sure, here is the code snippet and the input and output files. I couldn't able to upload the output file, so added image instead. The length, width and height are converted to dates, which i don't want to do. The output in the excel files are good, this problem exists only in csv files. Please let me know if you need any more information. Thank you.

tables = camelot.read_pdf(pdfFile, pages ="1-en

[2020-06-12 14:24] TomAugspurger commented on #34723
@amansani see http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reportsfor writing bug reports. For excel IO you should explicitly distinguish between what pandas is doing and what the underyling engine (e.g. xlrd) is doing.

[2020-06-12 14:25] faraz16iqbal commented on #34640
taking up this task

[2020-06-12 14:27] charlesdong1991 commented on #34640
Hey, @faraz16iqbal thanks for your interest in helping out, there is an open PR already to fix this issue.

Feel free to look for other issues!

[2020-06-12 15:46] RobertMouncer opened #34732 "BUG: Skiprows with seperator within rows being skipped"
- [x] I have checked that this issue has not already been reported.
**This may be linked to issue #23067**
- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
The seperator `sep` is causing issues when skiprows is r

[2020-06-12 16:18] TomAugspurger commented on #34626
Can anyone summarize the status here?

1.0.3: worked
1.0.4: broken
master: broken?
master+https://github.com/pandas-dev/pandas/pull/34266: broken?

Do we have a plan in place to restore this? IIUC the old way was to

1. try with the default (which I think looks up keys based on env vars)
2. If we get an error, retry with `anon=True`

[2020-06-12 16:34] TomAugspurger commented on #34529
Thanks for looking into this @Veronur. I'm also not sure the best way to handle it, but it'd be nice to fix the regression for the 1.1 release (in a few weeks) as long as we don't give up on other behaviors..

[2020-06-12 16:51] TomAugspurger commented on #34510
Yeah that's the place we should focus.

[code]

Two proposals:

1. Avoid casting the timedelta to a str until after we've caught the exception. For the happy path of valid data, this cuts out the 40% of time spent on `str(Timedelta)`
2. Optimize `TimedeltaArray._validate_scalar`.

[code]

maybe `is_valid_nat_for_dtype` can be faster.

[2020-06-12 16:56] rpeys commented on #24079
Hi, I'm having this same issue. I want to color-annotate the rows in my clustermap using a column of categorical data, which has no missing values, but I get "ValueError: fill value must be in categories." Is there a recommended workaround?

[2020-06-12 17:03] jorisvandenbossche commented on #34626
Yep, it broken in 1.0.4, and will be fixed in 1.0.5 by reverting the patch that broke it.
That means that master is still broken, and thus we first need to write a test for it, and check whether #34266 actually fixes it already, or otherwise still fix it differently.

The old way was indeed to try with `anon=True` if it first failed. I suppose we can "simply" restore that logic? (in case it's not

[2020-06-12 17:06] jreback commented on #32289
+1 on deprecating passing list of 2D things to the constructor.

[2020-06-12 17:23] mroeschke commented on #34621
Ah I see. Thanks for clarifying.

[2020-06-12 17:35] TomAugspurger commented on #34626
Thanks

It's not. So we'll need to do that explicitly. Long-term we might want to get away from this logic by asking users to do `read_csv(..., storage_options={"requester_pays": False})`. But for 1.1 we'll want to restore the old implicit retry behavior if possible.

[2020-06-12 17:52] TomAugspurger commented on #33964
@jbrockmendel do you have time to look into this in the next week or two? If not I can take a look next week.

[2020-06-12 18:45] jbrockmendel commented on #33964
I'm taking a break for a little while, can look at this when i get back

[2020-06-12 19:05] TomAugspurger commented on #33964
No worries. Enjoy the break.

[2020-06-12 19:22] TomAugspurger opened #34735 "API: Remove PeriodDtype.dtype_code from public API"
On master PeriodDtype has a `.dtype_code` attribute.

[code]

That wasn't there in 1.0.x. I think we want it to be private.

[2020-06-12 20:18] #34650 closed

[2020-06-12 20:31] jbrockmendel commented on #34735
sure

[2020-06-12 21:22] TomAugspurger commented on #34725
Thanks for the report. These should match but this looks pretty tricky to fix.

[2020-06-12 21:26] TomAugspurger commented on #34731
Hmm I don't agree with your expected output. We wouldn't want to change the name of the old one.

I'd prefer that we raise if we detect that we're going to overwrite a value / introduce duplicate labels, unless we document the current behavior.

[2020-06-12 21:32] TomAugspurger commented on #34710
Do we have any other engine-specific formatters that affects how we write cells? Or is ExcelFormatter supposed to be agnostic to the engine?

[2020-06-12 21:57] eloyfelix commented on #31687
also affected by this bug

[2020-06-12 23:56] Veronur commented on #34529
Alright i have done some more digging and i ma getting close to to source of the problem, so bar i found out that the dtype is changed from |S# to object on the Series generation for the dummy array on the " generic.NDFrame.__init__(self, data) " fuction call. There the values array is generated with object dtype instead of |S# as expected.

[2020-06-13 00:48] erfannariman commented on #34731
Yes, I agree, it should at the minimum give a warning.

[2020-06-13 04:57] ObliviousParadigm commented on #34724
Hey @jreback, can I work on this issue?

[2020-06-13 09:34] jorisvandenbossche opened #34741 "REGR: merge no longer accepts a list for suffixes keyword"
see https://github.com/pandas-dev/pandas/pull/34208#issuecomment-643598091

The linked PR changed the `merge` routines to now only accept tuples for the `suffixes` keyword, and no longer general sequence.

This is a breaking change (eg it breaks some GeoPandas functions), but actually also changing documented behaviour: the `merge` docstring indeed says "tuple", but eg `merge_asof` still says "tup

[2020-06-13 11:03] jreback commented on #34741
why are you opening this issue? and how is this a regression?

[2020-06-13 11:05] jorisvandenbossche commented on #34741
Maybe read my linked comment?

[2020-06-13 11:22] tom-weiss commented on #34681
So it's quite easy to fix this to work with Integers but the required pandas functionality with max_count in the groupby() method is to return NaN for values that don't reach min_count():
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html

Does anyone know how I can return the NAN in the case where I want to do integer arithmetic?

[2020-06-13 12:03] jreback commented on #34741
i read your comment

the code was wrong and it’s now fixed
if it happened to work that’s not a reason for a deprecation warning; this is why we have release notes

[2020-06-13 12:05] jreback commented on #34681
we always cast to float64 because sum can overflow int64 with large inputs ; we do try to cast back if possible i think

[2020-06-13 12:06] jorisvandenbossche commented on #34741
It was *documented* to work with a list of strings.

[2020-06-13 12:27] jreback commented on #34741
nope: https://pandas.pydata.org/docs/reference/api/pandas.merge.html?highlight=merge#pandas.merge

[2020-06-13 12:36] jorisvandenbossche commented on #34741
Jeff, please read my original comment: I clearly said that the `merge` user guide indeed indicates that it should be a tuple (the one you linked to), but the `merge_asof` docstring actually mentions list as well (https://pandas.pydata.org/docs/reference/api/pandas.merge_asof.html), and the same for the user guide (https://pandas.pydata.org/pandas-docs/version/1.0/user_guide/merging.html#overlappin

[2020-06-13 12:47] jreback commented on #34741
and your point? deprecating for merge_asof is fine but no action for merge is warranted

just because we can deprecate doesn’t mean we should - this just leaves code around for way too long

so happy to have a patch to deprecate / fix merge_asof as an addendum (which was a doc error initially iirc)

[2020-06-13 12:55] jorisvandenbossche commented on #34741
It's documented for `merge` as well, in the *user guide*.

I quote our versioning policy (https://pandas.pydata.org/docs/dev/development/policies.html):

And doing it with a deprecation would be _easily_ possible here.

[2020-06-13 13:03] jreback commented on #34741
it doesn’t matter if it’s easy
and since when does the user guide trump the doc string itself?

as i said i am sympathetic for merge_asof but merge is a good change

if nothing broke in our test suite then there is no reason to revert / change this

geopandas needs a patch here -

[2020-06-13 13:47] kuraga opened #34747 "BUG: read_excel issue - 1"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

See Problem description.

#### Problem description

[code]
produces
[code]

[code]
produces
[code]

![image](https://user-image

[2020-06-13 13:51] tom-weiss commented on #34681
@jreback yes I can see the results cast back to int64 but we're getting rounding errors that are throwing the results out. These are not present in the standard df.sum() path.

[2020-06-13 13:56] jreback commented on #34681
the soln of course is to add a groupby int64 sum kernel

[2020-06-13 13:59] kuraga opened #34748 "BUG: read_excel issue - 2 (when "column name" is a date/time)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
(`engine` could be `xlrd` or `openpyxl`, doesn't matter.)

[test.xlsx](https://github.com/pandas-dev/pandas/files/477472

[2020-06-13 17:09] Bharat123rox commented on #34724
take

[2020-06-13 17:54] simonjayhawkins opened #34751 "BUG: Hypothesis test failure - test_on_offset_implementations"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=37199&view=logs&j=76104ccd-8dcc-5006-a17c-28bcdd709542&t=cd420693-444f-5c55-14e0-1be238e189a1

[code]

[2020-06-13 18:27] MarcoGorelli commented on #33981
Closing as it's been > 1 month since we heard from the OP, and it's hard to know what to do with the question as it stands

[2020-06-13 18:27] #33981 closed

[2020-06-13 18:49] VirosaLi opened #34753 "BUG: build from source failed on Ubuntu 20.04"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Output of the build script

[code]

#### Problem description

Recently I decide to try out Ubuntu 20.04. The build process failed. See the output in the section abov

[2020-06-13 18:55] jorisvandenbossche opened #34754 "ENH: add masked algorithm for mean()"
Similarly as we now have masked implementations for sum, prod, min and max for the nullable integer array (first PR https://github.com/pandas-dev/pandas/pull/30982, now lives at https://github.com/pandas-dev/pandas/blob/master/pandas/core/array_algos/masked_reductions.py), we can add one for the `mean` reduction as well.

Very rough check gives a nice speed-up:

[code]

The `nanmean` version lives

[2020-06-13 19:58] #20627 closed

[2020-06-14 00:48] SultanOrazbayev opened #34759 "BUG: problem converting between new dtypes ('string' and 'Int8' / 'Int64')"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
---

Attempts to convert between the new nullable integer and string dtypes result in an error. This might be a different manifestation of the same underlying problem as in:  https://github.com/pandas-dev/pandas/issues/32073 and https://github.com/pandas-dev/p

[2020-06-14 00:59] jreback commented on #34759
pls try on master ; these are fixed

[2020-06-14 01:35] SultanOrazbayev commented on #34759
Thanks, looking forward to the new release!

[2020-06-14 01:35] #34759 closed

[2020-06-14 09:46] Akshatt commented on #34754
Hey @jorisvandenbossche, Can I work on this issue? I'm new to open sourcing

[2020-06-14 10:54] kuraga opened #34765 "BUG: read_excel issue - 3 (header is a list, index_col is not range(N))"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
(`engine` could be `xlrd` or `openpyxl`, doesn't matter.)

[test.xlsx](https://github.com/pandas-dev/pandas/files/477627

[2020-06-14 11:05] kuraga opened #34766 "API: read_excel's header and index_col handling rules"
Good day!

`read_excel`'s `header` and `index_col` handling rules I see (a little chaotic [demo_suite.zip](https://github.com/pandas-dev/pandas/files/4776287/demo_suite.zip)):

- in all cases of `header`:
  - cells `(header, outside of index_col)` are used as `df.columns`.
- if `header` is a integer/one-item list:
  - `df.columns.name` is untouched,
  - cells `(greater than max(header), index_col)

[2020-06-14 11:15] MarcoGorelli commented on #34753
Thanks @VirosaLi for the report

I've build it from source on Ubuntu 20.04 and it works fine, did you follow the exact steps from here https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#creating-a-development-environment ?

[2020-06-14 11:54] TomAugspurger commented on #34753
There were some issues with the latest version of cython.

[2020-06-14 12:44] MarcoGorelli commented on #34753
For what it's worth, I have
[code]

[2020-06-14 13:58] VirosaLi commented on #34753
It's a cython issue, version 0.29.20 has this problem. The cython version was pinned 3 days ago. And my forked repo is not up to date with the master branch. I should double check next time.

[2020-06-14 13:58] #34753 closed

[2020-06-14 14:13] #34708 closed

[2020-06-14 14:28] rhshadrach commented on #34675
Thanks for reporting this. I think this may be a duplicate of #34455.

[2020-06-14 14:29] #34724 closed

[2020-06-14 14:34] #34136 closed

[2020-06-14 14:46] #34316 closed

[2020-06-14 14:54] jreback opened #34769 "TST: split up tests/plotting/test_frame.py into subdir & modules"
we should split up this test file into a separate subdir and multiple test modules for better groking. first PR should be a straight move, then can split (or all in one is ok)

[2020-06-14 15:02] #32494 closed

[2020-06-14 15:22] #31775 closed

[2020-06-14 15:34] idantene commented on #34710
I believe ExcelFormatter is intended to be agnostic to the engine.

[2020-06-14 15:45] jreback commented on #33132
its possible this is resolved on master and resample has been updated a bit (which is what this ultimately calls). please re-test on master.

[2020-06-14 15:57] #34704 closed

[2020-06-14 16:39] #33964 closed

[2020-06-14 16:40] tom-weiss commented on #34681
Is there any easy way to make int64 nullable in cython?

The _groupby_add function in pandas/_libs/groupby.pyx uses numpy types which are not-nullable for integers.

I'm not clear how I could implement the new nullable integer type into this:
https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html.

My curent code is here:

[code]

[2020-06-14 16:59] jreback commented on #34681
nullables are not supported directly in cython, this can be worked around by actually passing the mask to the cython functions, this is will require some reworking of the code and calling conventions.

[2020-06-14 17:18] rhshadrach opened #34771 "PERF: DataFrameGroupBy var and std"
Performance on wide and short frames decreased due to #34372, timings are in the OP there. std is computed by calling var.

[2020-06-14 17:49] ianozsvald opened #34773 "PERF: Significant speed difference between `arr.mean()` and `arr.values.mean()` for common `dtype` columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I'm seeing a significant variance in timings for common math operations (e.g. `mean`, `std`, `max`) on a large Pandas `Series` vs the underlying NumPy `array`. An code ex

[2020-06-14 17:59] jreback commented on #34773
on your methodology, be sure to time with and w/o bottlenck

[code]

[code]

i think it should be clear that pandas mean is doing a lot more work than numpy by
- checking & dispatching on appropriate dtypes (e.g. we do means of datetimes for example)
- checking for infinity (the slowdown here)

I suppose we don't care about inf checking in this case. I think this was here historically because we *

[2020-06-14 18:03] jreback commented on #34773
naive checking (we are doing [7])
[code]

[2020-06-14 18:04] #32580 closed

[2020-06-14 18:04] #33545 closed

[2020-06-14 19:38] jorisvandenbossche commented on #34773
@ianozsvald when comparing to numpy for floats, you should actually compare with `nanmean` instead of `mean` (as we are skipping NaNs by default):

[code]

You can see in the above that compared to `nanmean`, numpy and pandas are more or less at the same speed (at least on my laptop), and when using bottleneck pandas is faster as numpy.

[2020-06-14 20:52] jreback opened #34776 "CI: move 3.6,slow or 3.6 locale builds from travis to azure"
we have capacity on azure (we are using 8/10) and slightly overloaded on travis.

[2020-06-14 21:05] amansani commented on #34723
Hello Tom, the excel format is .xlsx.  I am just exporting the table from given input page to csv using Camelot and pandad df. Seems like the problem is not with pandas, because I can able to see the right values when I open csv using text editor and the values are in date formats when I open the csv file using excel (Microsoft Excel Comma Separated Values File (.csv)).

I am looking for some opti

[2020-06-14 21:19] yohplala opened #34777 "ENH: Support Multi-Index for columns in parquet format"
#### Is your feature request related to a problem?

I would like to save DataFrame with Multi-Index used for columns into parquet format.
This is currently not possible.

[code]

#### Describe alternatives you've considered

To do so with actual state of library, a [piece of code has been shared on SO](https://stackoverflow.com/questions/54861430/how-do-i-save-multi-indexed-pandas-dataframes-to-pa

[2020-06-14 21:20] lmmentel commented on #34467
I'm in the same situation as @DuncanCasteleyn using parquet files stored in an azure data lake (blob). When I upgraded to pandas 1.0.4 without changing any code I'm getting
[code]
Everything works as expected with version 1.0.3.

[2020-06-14 21:38] erfannariman commented on #34731
@TomAugspurger as someone having hard time to get started with contributing, would this be a good one to try?

[2020-06-14 22:20] #29916 closed

[2020-06-14 22:20] #7002 closed

[2020-06-14 22:41] jreback commented on #34097
this is an internal impl detail. happy to take doc updates if that would help.

[2020-06-14 22:41] #34097 closed

[2020-06-15 00:02] jreback opened #34779 "CI: gbq tests failing"
https://travis-ci.org/github/pandas-dev/pandas/builds/698328374
and specificallly these 2 builds: https://travis-ci.org/github/pandas-dev/pandas/jobs/698328378

cc @alimcmaster1 @tswast

if you have any insights

[2020-06-15 00:45] TomAugspurger commented on #34731
Not sure. This will be an API change so I think we'll need to warn first, and then in 2.x we can raise.

[2020-06-15 03:27] Fbrufino commented on #26551
Weirdly, I'm having the same problems while using pandas 1.0.4 and pyarrow 0.17.1. At first, it seems like it's the same case of @jorisvandenbossche 's last post.

[code]

But then:
[code]
It seems it's not calling read_table but another method. When I directly use pyarrow.parquet.read_table(), it works, but then I lose the metadata about IntDType columns.

[2020-06-15 05:00] xuancong84 commented on #26959
Yup, I also encounter the same missing functionality. My solution in #28302 also addresses this issue.

Currently, pd.Grouper ignores _loffset_, it uses _base_ for split boundary offset.

Ideally, there needs to be 3 parameters, loffset (label_offset, default=0, the starting boundary offset of every group label), gstart (group_start, default=loffset, the starting offset of every group's data) and

[2020-06-15 06:21] haje01 commented on #28906
I am having similar issue. When I read large JSON file from S3 with `lines=True, chunkize=10000`, it complains with "TypeError: sequence item 0: expected str instance, bytes found"

[2020-06-15 06:50] nthiagar commented on #34769
Hello @jreback,
I am a new contributor and I would like to tackle this as my first issue. I have familiarized myself with Python and Github. Would you be willing to guide me through the process?
Thank you

[2020-06-15 06:56] jorisvandenbossche commented on #34754
Sure!

[2020-06-15 07:09] jorisvandenbossche commented on #34684
@simonjayhawkins when would you have time to do the release?

IMO there is no point in waiting any longer. The release is already out for more than 2 weeks, and no other reports came in, while it's breaking a lot of people's parquet usage.

[2020-06-15 07:20] ianozsvald commented on #34773
Many thanks for the comprehensive replies, I'll digest these and get back to you. I hadn't realised that `nanmean` was used in the background in Pandas nor that `bottleneck` is now used in more places. Cheers!

[2020-06-15 07:43] jorisvandenbossche commented on #34773
We're not actually using `np.nanmean`, but our own implementation but which is (I suppose) doing something very similar as numpy's.

So the main reason pandas is slower compared to numpy is because we have "skipping missing values" by default, which numpy doesn't do.

BTW, there is coming a "nullable float" dtype (https://github.com/pandas-dev/pandas/pull/34307), similarly as the nullable integer

[2020-06-15 07:53] PeterLuenenschloss opened #34784 "BUG: pd.Series.rolling - center=True doesnt work when using numba engine"
**Rolling over a Series with center=True gives different results depending on the engine used:**

[code]

#### Problem description

wheras the result for rolling without the engine is as expected:

[code]
rolling with the numba engine gives:

[code]
The behavior is problematic at least because its not documented and causes frustrating bug tracing sessions. That the use of numba engine may change t

[2020-06-15 08:00] simonjayhawkins commented on #34684
should we at least backport tests for #34626, #34467 to be sure? do we have a test for #34626? #34500 has been merged so can break off the tests for #34467

[2020-06-15 08:01] jorisvandenbossche commented on #34684
Adding those tests to 1.0.x sounds good, yes

[2020-06-15 08:11] simonjayhawkins commented on #34684
OK. will get on and backport #34667 and the test from #34500 now so we can check ci on 1.0.x is green

also need to update the whatsnew, https://github.com/pandas-dev/pandas/pull/34500#issuecomment-643508772

[2020-06-15 08:11] Akshatt commented on #34754
take

[2020-06-15 08:20] jorisvandenbossche commented on #34684
I already did that: https://github.com/pandas-dev/pandas/pull/34785

[2020-06-15 08:48] simonjayhawkins commented on #34684
Thanks Joris

[2020-06-15 09:16] simonjayhawkins commented on #34719
xref #34721

[2020-06-15 09:47] phofl opened #34789 "BUG: Replace raises TypeError if to_replace is Dict with numeric DataFrame and key of Dict is String"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-15 10:35] athrpf opened #34790 "BUG: `DataFrame.to_parquet` does not correctly write index information if `partition_cols` are provided"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]
results in an `AssertionError`:
[code]
Because of an extra column `__index_level_0__` containing the index values
[code]
On the other hand, without partitions works as expected:
[code]

#### Problem desc

[2020-06-15 10:39] ChrisStuff opened #34791 "ENH: Inconsistency when string refers both to index level and column label"
While [groupby](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups) throws a ValueError when the string parameter refers both to an index level and column name, [query](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html?highlight=query%20method#the-query-method) gives the column precedence in such a case:

[code]

I am sure there

[2020-06-15 10:40] phofl opened #34792 "CI: test failure, raises unexpected warning"
I merged master into #33247 . This results in a failing test:
`pandas/tests/plotting/test_converter.py::TestRegistration::test_pandas_plots_register`

in Windows py37_np_18

[code]

Was this already detected?

[test results](https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=37342&view=logs&j=ea1e4a48-f1c1-5933-c4f7-7e56de389fce&t=967459d8-2b8b-5603-ef1c-c585363eb056&l=92)

[2020-06-15 11:15] jreback commented on #34791
please an example

[2020-06-15 11:21] TomAugspurger commented on #34792
Will need a similar fix as https://github.com/pandas-dev/pandas/pull/34721/files#diff-fb957a9fbb8d57904092e2bbe06b1b2bR99-R109.

[2020-06-15 11:22] jorisvandenbossche commented on #34467
Closing this, as it has reverted in 1.0.5 (https://github.com/pandas-dev/pandas/pull/34632, https://github.com/pandas-dev/pandas/pull/34787), and fixed in master (https://github.com/pandas-dev/pandas/pull/34500)

[2020-06-15 11:22] #34467 closed

[2020-06-15 11:22] yannikschaelte commented on #34670
Thanks all for your fast replies! Using the latest versions of arrow resolved this problem.

[2020-06-15 11:22] #34670 closed

[2020-06-15 11:44] simonjayhawkins commented on #34020
moving this off the 1.0.x milestone, see https://github.com/pandas-dev/pandas/pull/33984#issuecomment-636354235. fixed in master so closing

[2020-06-15 11:44] #34020 closed

[2020-06-15 12:28] TomAugspurger commented on #34681
For this specific case (int64), we might not need to worry about `min_count` in the cython level. That can be done outside of it, since we know that the number of valid values equals the length of the array.

However a masked groupby sum would be helpful for the nullable integer dtype.

[2020-06-15 12:29] #32599 closed

[2020-06-15 12:32] TomAugspurger commented on #34790
Is this just an issue in the parquet reader, rather than pandas?

[code]

[2020-06-15 12:53] #34605 closed

[2020-06-15 12:53] athrpf commented on #34790
Yes as far as I can tell the issue is in the pandas integration of `pyarrow.parquet`, in particular that the `subtable.schema.metadata[b'pandas']` of the `subtable` generated in `pyarrow/parquet.py:1725` no longer contains the index column info passed in via `subschema.metadata[b'pandas']`. This overwriting happens in `pyarrow/pandas_compat.py:595`.

[2020-06-15 13:01] TomAugspurger commented on #34790
So should this be an Apache Arrow JIRA instead of an issue here? Or will something need to change on the pandas side?

[2020-06-15 13:06] TomAugspurger commented on #34741
https://github.com/pandas-dev/pandas/pull/34208 looks like an API breaking change. We'll need to adjust for it here in pandas. Warning that we'll restrict the types in the future seems easiest (and personally I'd be fine with just checking for sets and accepting anything else, but don't have a strong opinion).

[2020-06-15 13:20] #11631 closed

[2020-06-15 13:23] jorisvandenbossche commented on #34741
+1, I think certainly lists would be perfectly fine to keep supporting

[2020-06-15 13:23] jreback commented on #34452
@fujiaxiang we should just deprecate tshift on .groupby and call it a day.

[2020-06-15 13:44] KaonToPion commented on #26314
I am sorry, I am having issues with installing the pandas development enviroment that's why it's taking long

[2020-06-15 13:50] TomAugspurger commented on #26314
https://pandas.pydata.org/docs/development/contributing.html, in case it helps.

[2020-06-15 14:06] TomAugspurger opened #34799 "ENH: At top-level dataframe function for single-dispatched construction of a DataFrame"
#### Is your feature request related to a problem?

This might help with two things

1. A coordination point for 3rd-party libraries creating objects they'd like to turn into DataFrames, and users of those libraries
2. Possibly, simplification of `DataFrame.__init__`

#### Describe the solution you'd like

A new top-level `pd.dataframe` function.

[code]

#### API breaking implications

None

####

[2020-06-15 14:11] TomAugspurger commented on #34723
We unfortunately have too many open issues to be able to help in detail. You might try asking on stackoverflow with the pandas tag.

[2020-06-15 14:24] #34735 closed

[2020-06-15 14:25] tswast commented on #34779
`Invalid grant: account not found` looks to me like the error that happens when a service account has been deleted. I recall that this repo is using a different project for CI tests than we're using for pandas-gbq, so I'm not sure how to investigate further.

[2020-06-15 14:38] #34510 closed

[2020-06-15 14:39] TomAugspurger opened #34801 "Check API changes in whatsnew"
Our whatsnew has several sections detailing API changes:

- https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.0.html#other-api-changes
- https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.0.html#backwards-incompatible-api-changes. According to our version policy we shouldn't have any API-breaking changes until 2.0

Many of these, like adding `DataFrame.value_counts` are fine and should

[2020-06-15 14:45] TomAugspurger commented on #34801
I think a section like "Bug Fixes with potential API implications" might make sense. e.g. https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.0.html#consistency-across-groupby-reductions might fit there.

[2020-06-15 14:46] athrpf commented on #34790
I am not sure but looking at the code, my best guess would be that this should be fixed in the pyarrow module. Since this bug is pandas specific (and there is overlap in the developers) I thought it might fit here better. I will try opening a bug report on the Arrow JIRA.

[2020-06-15 15:02] dlainfiesta commented on #18755
I encounter the same bug. I have two columns, both Timestamp, and I get this reply when I try to plot scatter:

[code]

[2020-06-15 15:05] jorisvandenbossche commented on #26551
@Fbrufino would you be able to check with pandas 1.0.3? We had some parquet-related regressions in 1.0.4, which will be fixed shortly in 1.0.5.

[2020-06-15 15:23] dmitry-kabanov opened #34803 "BUG: `read_parquet` gives "Passed non-file path" in v1.0.4 but works in v1.0.3"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-15 15:27] jorisvandenbossche commented on #26551
I opened a PR to add a test for this: https://github.com/pandas-dev/pandas/pull/34804
So we can ensure we don't break it anymore in the future (and we can also backport that test to the 1.0.x branch, so to ensure it is fixed for the upcoming 1.0.5 release)

[2020-06-15 15:31] athrpf commented on #34790
Created https://issues.apache.org/jira/browse/ARROW-9136

[2020-06-15 15:32] TomAugspurger commented on #34803
This is a duplicate of a couple other issues. We're prepping a 1.0.5 release to fix this. Should be out today or tomorrow.

[2020-06-15 15:32] #34803 closed

[2020-06-15 15:57] Mega-Tom commented on #16621
I think the correct resolution is to use a series with data types from the data frame, instead of `_EMPTY_SERIES`.

[2020-06-15 16:06] TomAugspurger commented on #34156
Sorry, but we aren't supporting 2.7 anymore, closing.

[2020-06-15 16:06] #34156 closed

[2020-06-15 16:32] dmarx opened #34805 "BUG: Inconsistent behavior for isin() over columns with different datatypes"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

It is not uncommon for numeric fields to be read into a dataframe column as text. The behavior of the `isin` function

[2020-06-15 16:34] dmarx commented on #34805
Probably related to #32443, #34256, and #34125

[2020-06-15 17:16] TomAugspurger commented on #34741
FWIW, this also broke Dask.

[2020-06-15 17:23] simonjayhawkins commented on #34519
@alimcmaster1 @jorisvandenbossche is this a regression in 1.0.4?

[2020-06-15 17:27] Akshatt commented on #34754
Hey @jorisvandenbossche, Please correct me if i'm wrong anywhere!

I've gone through the numpy version of masked mean and implemented a mean function in the `masked_reductions.py` file.

How do I test the time of this function relative to the older one?

[2020-06-15 18:08] simonjayhawkins commented on #34684
just #34800 outstanding ( some doctest errors)

we didn't have the github actions running on previous release so this is probably not a blocker but some added confidence that the docs are building. so probably won't continue with the PR.

calling it a day. will pick up tomorrow (set date in whatsnew and tag)

lmk if anything else crops up. (set milestone or label as needs manual backport)

[2020-06-15 18:09] TomAugspurger commented on #34519
https://github.com/pandas-dev/pandas/issues/34626 and this are duplicates. There's discussion over there, so closing this.

@simonjayhawkins it is a regression in 1.0.4, but I don't think a fix has been implemented yet. I'm not sure that we should delay the 1.0.5 release for this.

[2020-06-15 18:09] #34519 closed

[2020-06-15 18:38] simonjayhawkins commented on #34799
xref #32908 for alternative

[2020-06-15 18:44] TomAugspurger opened #34809 "Inconsistent output in GroupBy.apply returning a DataFrame"
This is a continuation of https://github.com/pandas-dev/pandas/issues/13056, https://github.com/pandas-dev/pandas/issues/14927, and https://github.com/pandas-dev/pandas/issues/13056, which were closed by https://github.com/pandas-dev/pandas/pull/31613.  I think that PR ensured that we consistently take one of two code paths. This issue is to verify that we actually want the behavior on master.

Fo

[2020-06-15 18:53] TomAugspurger commented on #34784
cc @mroeschke.

I'm guessing this is a bug, not intentional. So we'll want to fix it rather than changing the docs. Are you interested in working on a fix?

[2020-06-15 19:13] mroeschke commented on #34784
Yes this is a bug and was an oversight when implemented for numba.

The offset parameter needs to be applied in this function: https://github.com/pandas-dev/pandas/blob/6d2505b212a47988669a2f339f29f1bc8b0c4931/pandas/core/window/numba_.py#L59

Similarly how it's used here: https://github.com/pandas-dev/pandas/blob/6d2505b212a47988669a2f339f29f1bc8b0c4931/pandas/_libs/window/aggregations.pyx#L1331

[2020-06-15 19:21] #34530 closed

[2020-06-15 19:34] jreback commented on #34741
if u want to change to a deprecation warning ok i guess

but this should be a tuple never a list or anything else iterable

[2020-06-15 19:50] jorisvandenbossche commented on #34741
Why not? What is inherently wrong about using a list for this?

[2020-06-15 20:10] jorisvandenbossche commented on #34754
@Akshatt the easiest is if you already open a PR with what you've got (you can indicate the PR as "draft" and eg put WIP in the title), that makes it easier to give feedback

You can do it similarly as what I showed in the top post in this issue. I am using the `%timeit` magic in IPython

[2020-06-15 20:12] tom-weiss commented on #34681
If someone can point me in the right direction I am happy to try and fix or help validate a fix.

[2020-06-15 20:57] TomAugspurger commented on #34741
I think we generally duck-type user arguments like this where there's no ambiguity (i.e. not indexing).

[2020-06-15 21:47] erekevan commented on #34732
take

[2020-06-15 22:53] #28641 closed

[2020-06-15 23:52] Veronur commented on #34529
Alright i found the problem and made a fix for it. The problem with on the pandas/core/dtypes/cast.py file. It was made on issue https://github.com/pandas-dev/pandas/issues/21083 but since python3 "U" types and "S" types became different things

[2020-06-16 00:49] Veronur commented on #34529
The pull request is having some issues now with some tests that use the None type because thats what
issue #21083 fixed. I will need some ideas on how to manage those.

[2020-06-16 01:46] WillAyd commented on #34809
I don't know that I have a strong enough preference to change anything with where things are now. Inconsistency is annoying, but I don't know that the old behavior is necessarily correct enough to revert back to, and that itself is inconsistent when you consider that the method being applied here is shape-preserving (e.g. a typical groupby.transform wouldn't prepend the groupings)

[2020-06-16 02:12] Fbrufino commented on #26551
Yes, I assume you might already know by now, but it works on 1.0.3.

There's another issue in reading parquets where large datasets saved along with their indexes are failing to load with both use_legacy_dataset=False and a non-empty columns argument, but afaik it's the case for a new issue report, which I'll do later in more detail.

[2020-06-16 03:21] Akshatt commented on #34754
@jorisvandenbossche Okay, got it! I've created a draft pull request #34814.
 and also specifically, I don't get how to access the mean function that I've created.
Could you shed some light on how to do that.

[2020-06-16 06:55] nthiagar commented on #31111
Hello,
I've tested the code out on version 1.0.1 and the DEDUCING TREE WITH INDEX printed out 4 times. Since I am a new contributor to Pandas I am still unsure what the masters version is. Can someone let me know what it is?
Thank you

[2020-06-16 06:57] MarcoGorelli commented on #31111
Hi @nthiagar

It's the `master` branch of the git repo. It's what you'll get if you build the project from source, rather than, say, with `pip install pandas`.

[2020-06-16 07:16] jorisvandenbossche commented on #34801
There are indeed a lot of items in there that are not actually API changes. For the ones in the bullet points, made an overview here with a first judgment on what I think they are.

In addition to a potential section "Bug Fixes with potential API implications", it might also make sense to have a section with "changed errors" for all cases where we made raised errors more consistent (there are quit

[2020-06-16 07:31] jorisvandenbossche commented on #34801
About this one:

People are certainly passing `encoding` (incorrectly or not) to `read_excel` (see eg https://stackoverflow.com/q/60157255/653364, https://stackoverflow.com/a/60753334/653364). So we might want to raise a warning that `encoding` is ignored and will raise in the future instead.

[2020-06-16 07:36] MarcoGorelli commented on #31111
If I've done git bisect correctly, it was fixed in fa48f5f098b5ed49a08b9d19f072559f74e1ccc2 (#32611)

[2020-06-16 07:54] jorisvandenbossche commented on #19759
An option is also to simply raise an error stating that logical ops are not supported for timedelta/datetime dtypes ?

[2020-06-16 08:45] suvayu commented on #34550
I would like to work on this issue as part of the PyData Amsterdam coding sprint.

So far I have confirmed that the released version of Pandas has the bug, and master is fixed.  AFAIU, it needs a regression test.  The issue was, for the specific payload of invalid unicode data calling `pandas.Series.unique(..)` was triggering a segfault.  To cover similar issues in the future, I would imagine the

[2020-06-16 09:46] erezinman opened #34820 "BUG: Slicing on non-monotonic DatetimeIndex inconsistencies"
Looked for this bug in the opened issues, but couldn't find it. I work with v.0.25.3, but checked that this also occurs in v.1.0.4.

[code]

#### Problem description

As you can see in the above examples, there are multiple inconsistencies and errors here:
1. The inconsistency in output between cases 2 & 3 (that's perhaps the worst).
2. The irrelevant (and so-very frustrating) error-message in cas

[2020-06-16 10:21] kuraga opened #34821 "BUG: read_excel(engine='openpyxl') with "unsized" XLSX issue"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

Consider code:
[code]
with some special `test.xlsx` (see below).

According to [openpyxl issue #1483](https://bitbucket.org/openpyxl/openpyxl/is

[2020-06-16 12:23] lfdversluis opened #34822 "BUG: setting raw=True in the Dataframe.apply apply function causes a ValueError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I am working on a dataset where values are bitmaskes, each 64bit integer is actually 4x16 (on

[2020-06-16 12:47] #34784 closed

[2020-06-16 13:07] xhochy opened #34823 "ENH: Pass arguments to `to_pandas` in `read_csv(engine="pyarrow")"
As a follow-up for #31817, we should enable the user to pass arguments to the `to_pandas` call when converting the result from `pyarrow.Table` to `pandas.DataFrame`. This would enable e.g. the user to directly construct `ExtensionArray` instances using the `types_mapper` argument.

[2020-06-16 13:12] TomAugspurger commented on #34801
Do we have a stance on whether changing the exception raised counts as an API breaking change?

[2020-06-16 13:30] gordthompson opened #34824 "DOC: to_sql accepting Engine vs. Connectable"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

#### Documentation problem

[Documentation](https://github.com/pandas-dev/pandas/blob/1ce1c3c1ef9894bf1ba79805f37514291f52a9da/pandas/core/generic.py#L2530) says that `con` is to be a "sqlalchemy.engine.Engine or ..." while [source](https://github.com/pandas-dev/pandas/blob/

[2020-06-16 13:40] TomAugspurger commented on #34822
Can you try with pandas master? I get

[code]

[2020-06-16 14:54] DamianBarabonkovQC opened #34825 "BUG: pd.concat(..., copy=False) still causes copy on block consolidation."
#### Problem description

When concatenating columns of the same dtype, even with `copy=False` option, the columns are consolidated together which involves a copy and a costly `vstack`. The performance is actually worse for `copy=False` than the default `copy=True` which is misleading.

#### Sample Program

[code]

#### Execution Time

[code]

Execution time is in seconds.

#### Problem Trace

The

[2020-06-16 15:12] jreback commented on #34801
I think changed errors is enough, these are api breaking, but not worth deprecating

[2020-06-16 15:29] uchoa91 commented on #31687
Same here. However got it using df.replace({pd.NaT: None}) instead of df.where(pd.notnull(df), None)

[2020-06-16 15:36] simonjayhawkins commented on #31687
@TomAugspurger adding the blocker tag as several users affected by this regression.

[2020-06-16 16:09] bala-analytics commented on #13473
This issue is closed but the problem still persists.

[2020-06-16 16:47] DavidFarago opened #34826 "BUG: pandas.read_parquet no longer accepting a file-like object"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

The documentation of `pandas.read_parquet()` (see [1]) says

It is quite handy to be able to use a stream as parameter. It used to work with pandas version 1.0.3, but causes the error below for pandas version 1.0.4.

#### Expected Output

I expect the test to pass silently, which it does when using `pandas == 1.0.3`.

###

[2020-06-16 16:50] jreback commented on #31687
@simonjayhawkins i suppose this is ok for 1.1 as a blocker, though generally we should not simply block on things, this would delay releases indefinitly which is a much worse problem.

[2020-06-16 18:34] TomAugspurger commented on #34826
Duplicate of https://github.com/pandas-dev/pandas/issues/34467. Should have 1.0.5 out with a fix later today or tomorrow.

[2020-06-16 18:34] #34826 closed

[2020-06-16 18:45] simonjayhawkins commented on #34684
have made progress on release scripts https://github.com/pandas-dev/pandas-release/pull/32 today.

currently on doc build.

previous release was a mash-up of git bash, docker and Anaconda prompt.

with line endings, problems with sharing volumes in git bash, and having git in conda in git bash adding to the grief.

hopefully it'll be smoother this time, but using Windows on a low powered/low ram l

[2020-06-16 19:19] TomAugspurger commented on #34684
LMK if there's anything I can help with. I can handle the doc build if it's going too slowly.

[2020-06-16 19:29] jorisvandenbossche commented on #34684
BTW, not for today of course, but longer term, shouldn't we be able to use the docs built on CI? Like we already upload it for the dev docs, couldn't we upload it if it is on an exact tag?
In such a case, if the /version/1.0.5/ would be uploaded, the only manual thing that is needed is update the stable symlinks.

[2020-06-16 19:47] simonjayhawkins commented on #34684
Thanks. doing the doc build to manually inspect, as Joris says and https://github.com/pandas-dev/pandas/pull/34800#issuecomment-644172981, maybe a better way.

I think that if you can upload the docs like last time, then i've done enough on the scripts to start the release process first thing tomorrow

yeah, we have #21050 for better automation. I'm in a better position to help with this now!

[2020-06-16 20:05] TomAugspurger commented on #32960
That table isn't quite right. The behavior change isn't in `__init__`, it's that we no longer (accidentally) *copy on write* when modifying the array.

[code]

One more note in favor of calling this a bugfix, with pandas 1.0.3 we *didn't* copy on write for homogenous dataframes with a single block.

[code]

Given the inconsistent behavior, I might be comfortable calling this a "bugfix with possibl

[2020-06-16 20:25] jorisvandenbossche commented on #34809
The difference becomes a bit more apparent with a slightly larger dataframe (repeating the "a" key):

[code]

[code]

Personally I agree with the retoric question "Do we want that kind of value-dependent behavior?". Such a drastic different output (also the row order differs, not just the index) based on a subtle difference in the function / output isn't that user friendly IMO.
Quoting myself from

[2020-06-16 20:27] TomAugspurger commented on #13473
@bala-analytics the original example correctly raises with `df.rename(columns={'d': 'c'}, errors="raise")`.

[2020-06-16 20:33] TomAugspurger commented on #34809
In my specific case `.transform` isn't an option because the function being applied needs to be applied to the table (it's doing things with multiple columns).

[2020-06-16 21:05] alimcmaster1 commented on #34519
https://github.com/pandas-dev/pandas/pull/34632 - will have fixed this for 1.0.5 @TomAugspurger

[2020-06-16 21:14] justinessert opened #34832 "BUG: DataFrame.__setitem__ creates object-dtype array for extension type scalars"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Not sure if this is best classified as a bug, but wasn't sure how to classify it since it cer

[2020-06-16 21:16] TomAugspurger commented on #34519
OK thanks.

On Tue, Jun 16, 2020 at 4:05 PM alimcmaster1 <notifications@github.com>
wrote:

[2020-06-16 21:32] TomAugspurger commented on #34832
Slightly related to https://github.com/pandas-dev/pandas/issues/31763.

Bug is somewhere in https://github.com/pandas-dev/pandas/blob/5fdd6f50ac5ac2de939ef5b849e4c41e27e623a3/pandas/core/frame.py#L3731-L3734 / `cast_scalar_to_array` https://github.com/pandas-dev/pandas/blob/5fdd6f50ac5ac2de939ef5b849e4c41e27e623a3/pandas/core/dtypes/cast.py#L1491.

[code]

Ideally we would recognize that as an ext

[2020-06-16 21:36] TomAugspurger commented on #34825
xref https://github.com/pandas-dev/pandas/pull/34683 (and cc @jbrockmendel).

These kinds of changes can have non-obvious behavior changes to downstream operations so we need to be careful. But given that this is with `copy=False` I think changing this is relatively safe.

[2020-06-16 21:42] jreback commented on #34832
pls try on master

[2020-06-16 22:47] liverpool1026 opened #34833 "BUG: resample seems to convert hours to 00:00"
- [x] I have checked that this issue has not already been reported. (As far as I can see by using the search)

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide

[2020-06-16 23:12] jreback commented on #34833
you need to try in a much newer version
1.04 and also on master where resample has changed a bit

[2020-06-16 23:18] mayou36 opened #34834 "ENH: remove restrictions to numexpr to allow `where` etc."
#### Is your feature request related to a problem?

the evaluation of a query is currently limited to the list `_mathops` while numexpr would support more, most notably a where (that would also solve [other issues simple](https://github.com/pandas-dev/pandas/issues/12945)).

I do not see any reason for this restriction. In fact, simply adding the `where` runs (at least for my use case). Why is thi

[2020-06-16 23:36] liverpool1026 commented on #34833
Can confirm the same behavior on 1.04 and master

1.04
-----------------

['2018-06-07T00:00:00.000000000' '2018-06-09T00:00:00.000000000'
 '2018-06-11T00:00:00.000000000' '2018-06-13T00:00:00.000000000'
 '2018-06-15T00:00:00.000000000' '2018-06-17T00:00:00.000000000'
 '2018-06-19T00:00:00.000000000' '2018-06-21T00:00:00.000000000'
 '2018-06-23T00:00:00.000000000' '2018-06-25T00:00:00.000000000'

[2020-06-17 00:26] ChuliangXiao commented on #11258
I had the same issue. Now solved. Try table name in lower case. [Thanks to Basel Issmail from SO.](https://stackoverflow.com/a/60906045/9421451)

[2020-06-17 00:53] JackNelson opened #34836 "ENH: Splitting datetime events in a df based on a datetime interval"
#### Is your feature request related to a problem?
I have transaction data, where events start at a given point in time and then end at a given point in time.  In order to see what events are ongoing over the course of time as well as allocate time to a specified time interval, multiple rows need to be made indicating that an event is still ongoing if it spans greater than the time interval specif

[2020-06-17 01:29] bala-analytics commented on #13473
Thanks. Sorry missed that errors = ‘raise’ option

From: Tom Augspurger <notifications@github.com>
Sent: 16 June 2020 21:27
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Bhaskaran, Balakrishnan GSUK-PTX/D/S <B.Bhaskaran@shell.com>; Mention <mention@noreply.github.com>
Subject: Re: [pandas-dev/pandas] ENH: add errors='raise' option to rename (#13473)

@bala-analytics<https://eur02.safelinks

[2020-06-17 02:38] lkrylov2006 opened #34838 "BUG: cut() ignores labels, include_lowest and other parameters when bins are given by IntervalIndex"
#### Code Sample, a copy-pastable example

[code]

actual output
[code]
#### Problem description

The cut() implementation redirects to `Categorical.from_codes` when the bins are given by an IntervalIndex ignoring labels and producing results inconsistent with an equivalent call to cut with bins given by a sequence.

#### Expected Output

One would expect `A_s` anb `A_i` to be identical given the

[2020-06-17 03:38] #34838 closed

[2020-06-17 03:53] auchtopus commented on #22613
I'm running into a similar error, but with a twist.
I have a dataframe with a column that is somehow strings of the form b'{filepath}' and is encoded as float64 according to `pd.dtypes()`. I generated this list by doing `list(dataset.as_numpy_iterator`) where dataset is a tf.Data.dataset.

I tried @joaoe's solution, as
[code]

It throws the following error trace:
[code]

Any idea on what to do? Sp

[2020-06-17 04:43] iahsanujunda commented on #34769
I would also like to help if needed

[2020-06-17 04:46] iahsanujunda commented on #34769
take

[2020-06-17 05:41] yohplala opened #34840 "ENH: Use of NamedTuple instead of Tuple for MultiIndex"
#### Is your feature request related to a problem?

Simply from an ergonomic point of view, when using MultiIndex, it would be worth using a list of NamedTuple instead of Tuple, so that level name can be directly used to call index values.

#### Describe the solution you'd like

Currently,

[code]
returns:
[code]

Would this be a NamedTuple, this would return the correct result: 'value1'
Bests,

P

[2020-06-17 06:06] jeffencillo commented on #30849
any solution with this issue? Im facing the same problem

[2020-06-17 06:49] kylase opened #34841 "BUG: to_parquet write partitioned DataFrame to local filesystem for other filesystems (e.g. S3)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-17 07:26] stayfools commented on #34044
I have the same problem with pandas==1.0.4, and it's about string object:
[code]
But it works well with pandas==1.0.1.

[2020-06-17 08:13] jorisvandenbossche opened #34843 "BUG: Series(..) coerces datetime64[non-ns] array differently depending on writable flag"
Normally, if we create a Series or DataFrame from a numpy array of non-ns datetime64, and the values are within the ns-range, we convert to datetime64[ns] (in `sanitize_array`).

However, this does not seem to happen if the array is not writeable:

[code]

I *suppose* this is a bug? (@jbrockmendel ?)

It seems this is due to `tslibs.conversion.ensure_datetime64ns` failing on a read-only buffer, an

[2020-06-17 09:19] jorisvandenbossche commented on #34843
Fix: https://github.com/pandas-dev/pandas/pull/34844. This was caused by https://github.com/pandas-dev/pandas/pull/22147 (we really should be more careful with memoryviews, although I suppose we nowadays are).
I quickly skimmed that PR, and most changes there have been fixed in the mean-time (either converted back to use ndarray or added `const`), a few are remaining, like:

`array_strptime` (and

[2020-06-17 09:26] lfdversluis commented on #34822
I think you ran it without `raw=True`. Here is the output:
<details>
INSTALLED VERSIONS
------------------
commit           : 5fdd6f50ac5ac2de939ef5b849e4c41e27e623a3
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
by

[2020-06-17 09:28] lfdversluis commented on #34822
Now run it with the line `ndf = df.apply(parse_node_row, axis="columns", result_type="expand", args=(midx,))` and you will see it works fine.

[2020-06-17 09:39] mayou36 commented on #12945
While a ternary operator itself is pure Python and can be replaced by the `where`, it is unfortunately currently not possible to use a `where` inside the eval string as mentioned in #34834. However, resolving #34834 would also resolve the issue here I assume?

[2020-06-17 09:52] egenc commented on #11166
`pd.read_csv(open('test.csv','rU'), encoding='utf-8', engine='python')`

Solved my problem.

[2020-06-17 10:03] jreback commented on #34840
see https://pandas.pydata.org/docs/reference/api/pandas.MultiIndex.get_level_values.html?highlight=get_level_values#pandas.MultiIndex.get_level_values

[2020-06-17 10:24] mbrb commented on #26959
Thanks for sharing your insights. Any idea to get the workaround working for the following scenario: https://stackoverflow.com/questions/62351499/how-to-group-pandas-dataframe-by-date-with-overlapping-sliding-window

[2020-06-17 11:24] TomAugspurger commented on #34832
Confirmed that's the same behavior on master.

[2020-06-17 11:36] TomAugspurger opened #34848 "CI: Failing np.bool on numpy master"
[code]

https://travis-ci.org/github/pandas-dev/pandas/jobs/699262221

[2020-06-17 11:41] Helgeb commented on #4889
There seems to be a mixup in handling the multiindex columns of read_json and to_json. As a solution you can manually rearrange the multiindex column order in the json data:

[code]

[2020-06-17 11:46] simonjayhawkins commented on #34684
tagging locally now. will be pushing in a few hours.

[2020-06-17 11:55] jorisvandenbossche commented on #34848
I think @WillAyd is already handling that in https://github.com/pandas-dev/pandas/pull/34835

[2020-06-17 12:34] iahsanujunda commented on #34769
@jreback I have created PR for putting `tests/plotting/test_frame.py` into `tests/plotting/frame/test_frame.py` first. How should we proceed on splitting this into sub-modules?

[2020-06-17 12:41] TomAugspurger commented on #34836
This feels a bit domain-specific for inclusion in pandas itself, but might make for a good entry in cookbook.rst if you're interested in working on it.

[2020-06-17 12:47] dstansby opened #34850 "BUG: epoch2num matplotlib deprecation warning"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description
Using the current matplotlib master branch, pandas raises the following deprecation warning:
[code]
It looks like this line is present on pandas

[2020-06-17 13:14] TomAugspurger commented on #34834
Can you add a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-06-17 13:15] yohplala commented on #34840
Hi Jeff, yes I know this command.
It is just when looping over columns

[code]

[2020-06-17 15:20] simonjayhawkins commented on #34684
@TomAugspurger The order of events is different in the README an the Makefile. Should the doc upload be done first this time before creating the release.

[2020-06-17 15:21] simonjayhawkins commented on #34684
P.S. Tag has been pushed.

[2020-06-17 15:31] jbrockmendel commented on #34843
I think this is right.  Best guess is this can be fixed by changing the line `int64_t[:] ivalues, iresult` to two lines `const int64_t[:] ivalues`, `int64_t[:] iresult`

[2020-06-17 15:36] TomAugspurger commented on #34684
You can upload the docs at any time. We just wait to switch the symlinks of
`/stable` until the binaries are available.

On Wed, Jun 17, 2020 at 10:21 AM Simon Hawkins <notifications@github.com>
wrote:

[2020-06-17 15:50] TomAugspurger commented on #34773
Moving off the 1.1 milestone.

Is there anything concrete to do here?

[2020-06-17 17:26] #34848 closed

[2020-06-17 17:54] mayou36 commented on #34834
Well, yeah. I've updated it. But it does not make so much sense I think to provide an example for `eval`/`query`? Or what exactly do you think is unclear?

Again, in short: `eval`/`query` use `numexpr` to forward a string for evaluation but (to my view) unnecessarily limit the allowed expressions to a subset of what `numexpr` supports.

Let me know if things are confusing and thanks a lot for taki

[2020-06-17 18:06] TomAugspurger commented on #34580
Added an example to the original post. Will take a look sometime in the next couple days.

[2020-06-17 18:09] TomAugspurger commented on #34645
I think this is the same as #34274.

[2020-06-17 18:09] #34645 closed

[2020-06-17 18:13] TomAugspurger commented on #34805
Looks to be a duplicate of https://github.com/pandas-dev/pandas/issues/34125. Closing in favor of that.

[2020-06-17 18:13] #34805 closed

[2020-06-17 18:16] TomAugspurger commented on #34131
Cleared the milestone. When will we be able to close this?

[2020-06-17 18:22] TomAugspurger commented on #34014
What's the status here? We have a few places to update (can we compile a list in the original post? I'll start it) that we need to update before we can build pandas with Cython 3.x?

Is there anything that has to be done here for pandas 1.1.0, other than perhaps setting an upper bound for Cython in our pyproject.toml?

[2020-06-17 18:42] TomAugspurger commented on #33923
We've restored the majority of the performance here. On master I have ~25% slowdown compared to 1.0.4

[code]

Leaving this open for now, but it may be hard to identify the remaining slowdown.

[2020-06-17 18:54] TomAugspurger commented on #33591
https://github.com/pandas-dev/pandas/pull/33627 added a test for series, but the issue remains for dataframe.

This is related to groupby calling `maybe_cast_result` on the output. I thought we had a better issue for it, but https://github.com/pandas-dev/pandas/issues/17035 at least describes the issue. Going to close as a duplicate of that.

[2020-06-17 18:54] #33591 closed

[2020-06-17 18:57] TomAugspurger commented on #33153
@jorisvandenbossche I think all the raising cases have been fixed. Can you double check?

[2020-06-17 19:02] TomAugspurger commented on #33132
Moving off 1.1, but there's an open PR, so we can add it back if that PR progresses.

[2020-06-17 19:17] jbrockmendel commented on #33923
I'm seeing 132µs on 1.0.2, 136µs on 1.0.4, and 144µs on master, so still a slowdown, but not nearly as much as you're seeing.

[2020-06-17 19:20] jbrockmendel commented on #33923
Looks like more time spent inside _can_fast_union

[2020-06-17 20:02] TomAugspurger commented on #34834
Thanks. And can you add the expected output?

Do you know if we have other expressions that would be supported by only one engine (numexpr in this case)?

[2020-06-17 20:04] ianozsvald commented on #34773
Hi @TomAugspurger . I'm not sure there's anything to be done here - dropping to NumPy and calling `mean` if you don't have any NaNs is fastest if you know your data and installing `bottleneck` offers a good improvement, but I don't think that Pandas is at fault here. I've learned a couple of things, notably that `pd.mean != np.mean` for the same `dtype`.

[2020-06-17 20:10] dsandeep0138 commented on #34833
This is because the default value of "origin" in resample is "start_day". Please see below:
https://github.com/pandas-dev/pandas/blob/4a267c693ae6609664f117058d33e19df35878d5/pandas/core/generic.py#L7754-L7768

The following are the definitions for the 'start' and 'start_day'. Since the default is 'start_day', the first day at midnight is considered. Hence hours you have mentioned is disregarded.

[2020-06-17 20:11] TomAugspurger commented on #29752
Do we consider this a blocker for 1.1? If so, anyone want to work on it?

[2020-06-17 20:30] TomAugspurger commented on #29514
Here's the smallest reproducer I could get for the unhanlded ResourceWarning

[code]

[2020-06-17 20:35] TomAugspurger commented on #28928
Seems to be working on master. A test in `pandas/tests/frame/indexing/test_mask.py` would be welcome.

[2020-06-17 20:43] jreback commented on #29752
i think we merge the current proposal

[2020-06-17 20:48] jreback commented on #34833
@dsandeep0138 pls have a read on the issue and the number of issues this patches

this change is much more consistent with respect to the frequency rather than just happens to work

[2020-06-17 20:50] jreback commented on #34773
i’ll retract my claim that checking for inf matters in the pandas side (it doesn’t matter much)

though we should remove that extra code that we have in cython i think

[2020-06-17 20:56] TomAugspurger commented on #27147
This from the explicit copies at https://github.com/pandas-dev/pandas/blob/72aed3e3052ef92005408a40c34425cd1f09fadd/pandas/core/arrays/interval.py#L556-L564

To check that, this diff gets the original example working.

[code]

However, as the comment indicates I don't think we can just do that. Perhaps the flow should be

[code]

(the fact that we're manipulating `Index._values` makes me a bit wor

[2020-06-17 21:09] dsandeep0138 commented on #34833
@jreback Thanks for the comment. Yes, I understand the change is awesome, and deals with the inconsistencies in frequencies and fixes so many issues :)

Can you please comment on this particular bug if it is expected then? Should we document it, if it is so to avoid confusion? Thanks.

[2020-06-17 21:12] hasB4K commented on #34833
@dsandeep0138 I'll reply a bit later to explain everything, no worries :wink:

[2020-06-17 21:34] WillAyd commented on #34014
I think we need to invest some time to get things to work with Cython 3. Specifically this comment https://github.com/pandas-dev/pandas/issues/34014#issuecomment-624401636 I started down that path in #34080 just never saw through

[2020-06-17 21:41] WillAyd commented on #30849
This is more of a usage question than a bug. These numbers exceed the storage limit of a 64 bit integer, so coercing to Python objects (which have no limit) is the correct behavior

[2020-06-17 21:42] #30849 closed

[2020-06-17 21:42] sgt101 opened #34854 "QST: Events generated when dataframes are changed"
- [x ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

here is a link to this question (similar)
https://stackoverflow.com/questions/48209811/how-to-notify-pandas-dataframe-modification

---

#### Question about pandas

What ev

[2020-06-17 22:01] MJafarMashhadi commented on #34687
I was looking into this issue and must add it happens when the second `.loc` lookup is an iterable, but it's fine with slices. I mean:
[code]

[2020-06-17 22:08] jbrockmendel commented on #27147
That looks right to me.  Ideally we could do this without making copies, but this is a strict improvement over the status quo.

[2020-06-17 22:18] jbrockmendel commented on #34014
Re-upping this.  Just ripping out `Reducer` entirely and running asvs with `-b frame_apply` im getting

[code]

[2020-06-17 22:24] bashtage commented on #34014
Can't you use `PyArray_New` to create a zero-copy array from an existing array without reassigning the data pointer?

[2020-06-17 23:07] liverpool1026 commented on #34833
@deepandas11 That makes sense on master, by setting origin="start" fixes the issue.

However, it will still be an issue in 0.24 and 1.04 given that the origin kwarg was not introduced then.

If I am using 0.24, what's the way to preserve the hours?

[2020-06-18 00:11] #34593 closed

[2020-06-18 00:14] hasB4K commented on #34833
@liverpool1026 The behavior has been to follow `start_day` since 2012 as you can see in this commit: https://github.com/pandas-dev/pandas/commit/31ca168faba43d761f5b53326b18250804ccd6ef. The behavior you are facing is a bug that has been fixed in v0.2.4 by #24159. Basically your current code is relying on a bug :confused: ...

The behavior of `start_day` of `origin` has been preserved as the defau

[2020-06-18 00:49] hasB4K commented on #34833
@liverpool1026 The behavior has been to follow `start_day` since 2012 as you can see in this commit: https://github.com/pandas-dev/pandas/commit/31ca168faba43d761f5b53326b18250804ccd6ef. The behavior you are facing is a bug that has been fixed in v0.2.4 by #24159. Basically your current code is relying on a bug :confused: ...

The behavior of `start_day` of `origin` has been preserved as the defau

[2020-06-18 00:49] #34833 closed

[2020-06-18 01:05] NikkiShah93 commented on #32156
I only get this error when I'm running my code with command or git bash, when I'm running my code in jupyter it works fine, what's the best way to solve it by still using the agg()?

[2020-06-18 02:33] rhshadrach commented on #34854
[Copying possible solution from SO]

Could you poll the dataframe?

    _old_df = None
    def poll_func(df):
        if df is not None and (_old_df is None or not df.equals(_old_df)):
            _old_df = df.copy()
            update_other_components()

and then poll this function every X seconds?

[2020-06-18 04:18] JiaxiangBU opened #34855 "DOC: Page Invalid 404 Pandas 1.0.5 full whatsnew"
#### Location of the documentation

[this should provide the location of the documentation, e.g. "pandas.read_csv" or the URL of the documentation, e.g. "https://dev.pandas.io/docs/reference/api/pandas.read_csv.html"]

Here is the page location https://github.com/pandas-dev/pandas/releases/tag/v1.0.5

[code]

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas

[2020-06-18 04:48] rhshadrach commented on #34840
How could this work when columns is an Index instead of a MultiIndex?

[2020-06-18 06:41] jorisvandenbossche commented on #34773
Yeah, I don't think there is anything actionable right now (the inf checking is only done on the result, I think).
The speed difference is simply due to the fact that we do more, i.e. handling missing values (although some things in nanops.py could maybe be optimized), and the future nullable float dtypes close this gap in performance partly.

[2020-06-18 06:46] jorisvandenbossche commented on #34843
Indeed, already did that ;) -> https://github.com/pandas-dev/pandas/pull/34844

[2020-06-18 06:47] #34843 closed

[2020-06-18 06:49] jorisvandenbossche opened #34857 "BUG: read-only buffer failures in datetime parsing"
PR https://github.com/pandas-dev/pandas/pull/22147 caused several "read-only buffer" errors (latest: https://github.com/pandas-dev/pandas/issues/34843). I quickly skimmed that PR, and most changes there have been fixed in the mean-time (either converted back to use ndarray or added `const`), a few are remaining, like:

`array_strptime` (and also `array_to_timedelta64` -> `to_timedelta`)
[code]

an

[2020-06-18 07:18] jorisvandenbossche commented on #34855
The documentation for 1.0.5 is not yet uploaded. The link will be working shortly (when the release is officially announced; the github release always happens a bit earlier, since it is required for other release tasks)

[2020-06-18 07:18] #34855 closed

[2020-06-18 07:25] jorisvandenbossche commented on #32960
Ah, that's a good point .. Thanks for finding that nuance!

Now, to make it more complicated: that behaviour of the "no copy on write for a homogeneous dataframe" is only something new in pandas 1.0. Before that, we (consistently?) copied:

[code]

and it seems here it is actually not even a "copy-on-write", but a copy on initialization.

Do we know if this was a deliberate change between 0.25 ->

[2020-06-18 07:28] dinya commented on #26699
Add check for columns names overlapping and optional renaming (something like [``pd.merge(df1, df2, suffixes=...)``](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html))

See example https://gist.github.com/dinya/06e374721993fd387db19ee7f83065a5

[2020-06-18 07:43] aauss opened #34858 "1.0 as boolean dtype cause ValueError in pd.read_csv()"
When I read the following "example_csv" using pd.read_csv() without assigning dtypes, no error is raised:

[code]

However, I want "boolean_column" to have a nullable boolean dtype instead of float64. Therefore, I assign a dtype when reading the data which casues an error.

[code]
Is this intended?

I am using Windows 10, Python 3.7.6 and pandas 1.0.4

[2020-06-18 08:03] aauss opened #34859 "BUG: ValueError: 1.0 and 0.0 cannot be cast to bool when using pd.read_csv()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]
[code]

#### Problem description

I would expect that 1.0, 0.0 and None can be cast to a nullable boolean. Using ``pd.read_csv()``  without dtype

[2020-06-18 08:35] aauss commented on #34858
@jorisvandenbossche  I already made a proper issue for this in the pandas repo. Sorry, for opening it in pandas2 and thanks for moving it.

[2020-06-18 08:35] #34858 closed

[2020-06-18 08:50] simonjayhawkins commented on #34684
doc upload in progress

[2020-06-18 08:52] hasB4K commented on #34833
FYI, I changed the last example outputs, I made a mistake when copy-pasting it :sweat_smile:

[2020-06-18 09:08] simonjayhawkins commented on #34855
The docs are now uploaded to https://pandas.pydata.org/pandas-docs/version/1.0.5/

@jorisvandenbossche I could change the link in the edit the github release link temporarily and change back once the stable docs point there. wdyt?

( I now have access to the web server so can do this b4 the github release next time)

I do not have access to PyPI so IIUC we don't switch the docs to stable till the

[2020-06-18 09:11] jorisvandenbossche commented on #34855
That's fine for me, but I also woudn't bother too much about it

[2020-06-18 09:13] jorisvandenbossche commented on #34855
Actually, in older releases we sometimes always used that /version/x.x.x/ link, so it's also fine to change it and leave it like that, I think

[2020-06-18 09:16] simonjayhawkins commented on #34855
done. issue unpinned.

[2020-06-18 09:18] jorisvandenbossche commented on #34684
From https://github.com/pandas-dev/pandas/issues/34855#issuecomment-645888487

Yes, I think ideally we wait with changing the symlinks until it is on PyPI (but the /version/x.x.x/ docs of course can be uploaded already)

For PyPI, can I help with uploading wheels?
(or we could give you upload rights (but I can't change that), don't know if we want to generally limit the number of accounts with acc

[2020-06-18 09:19] simonjayhawkins commented on #34684
the wheels are in the staging area so are ready for upload

[2020-06-18 09:34] MPvHarmelen commented on #24036
The link is dead. This is the up-to-date url: https://pandas.pydata.org/about/citing.html

[2020-06-18 09:44] yohplala commented on #34840
Hello @rhshadrach,

Hmmm, does this need to work actually?
With simple index, df.columns[0] does not return a tuple but directly the column identifier as an object of its own type.
I propose to keep the same behavior as now.

[code]
[code]
Whereas
[code]
[code]

The proposal here is to change the type of returned object from Tuple to NamedTuple, using name of the level.
But I definitely understand

[2020-06-18 10:40] JiaxiangBU commented on #34855
Thanks, it is valid for me now.

[2020-06-18 10:50] 0x0L opened #34860 "BUG: indexing regression with datetime index"
Sample code:
[code]

in 0.25.3 we get
[code]

in >= 1.0.0 (up to 1.0.4 at least) we get
[code]

The index has dtype obj

Variantations like
[code]
look unaffected

[2020-06-18 10:50] jorloplaz opened #34861 "BUG: read_parquet doesn't accept anymore a file route starting with 'file://'"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

When passed a path with the file protocol (e.g., `file:///home/Desktop/my_parquet.pq`) it throws the following error:

OSError: Passed n

[2020-06-18 11:20] jreback commented on #34861
try on 1.0.5 which was just released to patch this

[2020-06-18 11:23] TomAugspurger commented on #34860
Working as expected on master

[code]

I don't recall which commit fixed it, but it'd be good to ensure that we have test coverage for this in `pandas/tests/series/indexing/test_datetime.py`.

[2020-06-18 11:28] TomAugspurger commented on #34684
I can upload the wheels now.

[2020-06-18 11:30] simonjayhawkins commented on #34684
Thanks Tom

[2020-06-18 11:35] jorloplaz commented on #34861
It does indeed work. Sorry I didn't see issue [#GH34467](https://github.com/pandas-dev/pandas/issues/34467) as it was already closed.

Didn't even know there was already a 1.0.5 release, just got an e-mail announcing 1.0.4. You're too fast, guys! Keep on with the good work!

[2020-06-18 11:35] TomAugspurger commented on #34684
The wheels are up. @simonjayhawkins do you want to adjust the symlinks for stable?

[2020-06-18 11:35] #34861 closed

[2020-06-18 11:40] simonjayhawkins commented on #34684
The wheels are up. @simonjayhawkins do you want to adjust the symlinks for stable?

i've run link-stable. does link-version still apply with the new website?

[2020-06-18 11:45] simonjayhawkins commented on #34684
ahh this is to link v1.0 to v1.0.5? so this is needed.

[2020-06-18 11:51] simonjayhawkins commented on #34684
done. I think ready for announce. I can do mailing list. Can you do Twitter?

[2020-06-18 12:13] 0x0L commented on #34860
@TomAugspurger
Thanks. I'll check to find the exact commit: it is fixed in master but not in 1.0.5
I'll add my example as a test case if you think that's a good idea

[2020-06-18 12:21] dinya opened #34862 "DEPR: Merging on different number of levels"
Two dataframes with MultiIndex in columns (shapes are different).

[code]

**Case 1**

[code]

returns

[code]

It's ok. Columns saved its structure from the both dataframes. They are tuples, but it can be fixed (for example with something like [this](https://gist.github.com/dinya/06e374721993fd387db19ee7f83065a5)).

**Case 2**

[code]

returns

[code]

When the left DataFrame is a DataFrame with

[2020-06-18 12:22] jorisvandenbossche commented on #34684
Stable docs look good.

Thanks a lot Simon and Tom!

[2020-06-18 13:09] TomAugspurger commented on #34684
Thanks Simon!

[2020-06-18 13:09] #34684 closed

[2020-06-18 13:14] TomAugspurger commented on #34859
I think this just hasn't been implemented yet. Converting floats came up when BooleanArray was added, but IIRC we kept things simple at first.

To fix, we'll want to update `BooleanArray._from_sequence_of_string`.

cc @jorisvandenbossche.

[2020-06-18 13:31] TomAugspurger commented on #34854
No events, and supporting something like this is probably out of scope for pandas.

[2020-06-18 13:36] sgt101 commented on #34854
Thank you - that's what I thought, but I didn't want to go ahead and do something different without double checking. I am very grateful for the response.

[2020-06-18 13:37] sgt101 commented on #34854
@rhshadrach  thanks for the response. I think that the df.equals could be problematic for large dataframes! I'll investigate though.

[2020-06-18 14:15] aauss commented on #34859
Is this intended/desired to accept ``1``/``1.0``, ``0``/``0.0`` as an boolean? If so, I could update ``BooleanArray._from_sequence_of_string``.

[2020-06-18 14:33] TomAugspurger commented on #27522
This could probably use a decision. I think it'll require a DeprecationWarning -> FutureWarning path like we do for other large changes. And we'll want to leave projects plenty of time to update to this large of a change.

Regardless, we should be changing where we publicly expose things from `pandas.core`, e.g. `DataFrameGroupby`, `Rolling`, etc. Those should be exposed in a public namespace as a

[2020-06-18 14:39] sgt101 commented on #34854
@rhshadrach  thanks for the response. I think that the df.equals could be problematic for large dataframes! I'll investigate though.

[2020-06-18 14:39] #34854 closed

[2020-06-18 14:46] suvayu commented on #34840
@yohplala `namedtuple` doesn't allows you to pass the field name to `__getitem__`.  Having pandas return a `namedtuple` still does not make your example work

    df.columns[0]['level1']  # will fail with TypeError
    df.columns[0].level1     # this will work, but probably not what you want

[2020-06-18 15:10] raybellwaves commented on #33730
Happy to work on this is if it is recommended where to put it.

[2020-06-18 15:21] #28917 closed

[2020-06-18 17:06] faraz16iqbal commented on #34860
Interested in working on this issue!

[2020-06-18 17:40] jihwans commented on #19917
Here's a temporary solution until it gets fixed:
[code]

[2020-06-18 18:58] 0x0L commented on #34860
Hi @faraz16iqbal !
Feel free to submit a pull request. [The contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) is a good starting point.

[2020-06-18 19:14] yohplala commented on #34840
Ok, if this is inconsistent, I close the ticket. Thanks for the time you took to answer. Have a good day, bests,

[2020-06-18 19:14] #34840 closed

[2020-06-18 20:20] dsaxton opened #34864 "Series and Index have inconsistent repr"
Series and Index format differently when printed to the console (e.g., `dtype: object` vs. `dtype='object'`), but likely they should look the same (Index seems better IMO since it matches the constructor and agrees with numpy).

[code]

[2020-06-18 20:37] jorisvandenbossche commented on #34864
Note this is only for empty Series. It seems that for Series, it reuses the "Name:.., dtype: .. " part of the repr of a non-empty series.

[2020-06-18 20:39] jbrockmendel commented on #24662
On further consideration, I think this might be useful for code de-duplication.  In particular a bunch of methods that are currently implemented on both Timestamp and DatetimeArray could instead be implemented on `DatetimeDtype` with a signature that takes `int64_t*`, which _think_ could then be shared by Timestamp/DTA.  Similar with Timedelta/TDA.

[2020-06-18 20:42] jbrockmendel commented on #32638
Just grepping for `\._constructor(_sliced|_expanddim)?\.` shows that in core.groupby.generic we use `self._obj._constructor._from_arrays`

[2020-06-18 21:26] TomAugspurger commented on #32960
I don't see anything in the 1.0 changelog discussing that change.

[2020-06-18 21:46] db-baron opened #34867 "DOC: pandas/pandas/core/window/ewm.py"
#### Location of the documentation
Docstring for `class EWM(_Rolling)` in ewm.py.

#### Documentation problem
The purposes of the `EWM` class is unclear because there's no documentation on what 'ewm' is abbreviating. One reason this is confusing is that `ewm` can easily be interpreted as either "exponentially weighted mean" or "exponentially weighted moving". The `EWM` class docstring actually mud

[2020-06-18 21:49] Newton-33 commented on #17275
I found a  solution to the problem, works perfectly for me.

Check if your csv file is separated by ' , ' or ' ; ' . In my case, my data was separated by ' , ' but I was using ' ; '.

So  simply added

Df= pd.read_csv('C:\\Users\\user\\Desktop\\data.csv', sep=" , ")

[2020-06-18 22:05] dsaxton commented on #34864
You're right, can close this if it's too much on the nitty side

[2020-06-18 23:08] #34550 closed

[2020-06-19 01:41] jreback commented on #27522
i think we should do it and show a DeprecationWarning

[2020-06-19 01:48] WillAyd opened #34869 "ENH: Vendor typing_extensions"
I’ve discussed this with @simonjayhawkins here and there but never had a formal issue opened, hence this :-)

I think we need to vendor typing_extensions to realistically be able to unpin mypy from where it is now.  The main thing I think we need is to unlock Protocols; these aren’t added until Python 3.8 but as of mypy 0.75 seem to be the documented solution to a lot of the Mixin problems that we

[2020-06-19 02:30] jbrockmendel commented on #34869
is there an important distinction between vendoring vs making it a dependency?

[2020-06-19 02:43] WillAyd commented on #34869
We can also do a dependency. It’s a small library

Sent from my iPhone

[2020-06-19 07:16] cleconte987 commented on #32882
I used the turn-around proposed by @MomIsBestFriend  to build pandas.

[2020-06-19 07:22] jorisvandenbossche commented on #32638
That was recently added: https://github.com/pandas-dev/pandas/pull/33884

[2020-06-19 07:28] jorisvandenbossche commented on #24662
What methods are you thinking about?

[2020-06-19 08:25] #34864 closed

[2020-06-19 08:27] jorisvandenbossche commented on #34864
Yeah, I would personally not bother about it, but if someone wants to fix it and it doesn't give much complication, I suppose that would still be welcome (but maybe not worth cluttering the issue list with it)

[2020-06-19 09:37] simonjayhawkins commented on #34869
cc @TomAugspurger for added input here.

from https://github.com/pandas-dev/pandas/pull/27646#issuecomment-518292531.

high hurdle. For what's essentially a dev-only dependency, we could vendor
a version of that package.

For me, the conversation that followed that comment is my understanding of the basis of our current (collective) position.

It is good to revisit this discussion, as with time ou

[2020-06-19 10:12] epizzigoni opened #34870 "BUG: AssertionError when slicing MultiIndex and setting value of pandas.Series"
#### Code Sample

[code]

#### Problem description

I'm trying to slice and set values of a pandas Series but using the loc function does not work. I can do it by simply using [] and using loc if the Series is first converted into a DataFrame.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.7.final.0
python-bit

[2020-06-19 11:14] MarcoGorelli commented on #34867
Thanks @db-baron for the report - are you interested in [submitting a pull request](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html)?

[2020-06-19 11:27] TomAugspurger commented on #34869
I would be fine with vendoring if it's valuable for typing. I don't think it's appropriate to add it as a required dependency.

[2020-06-19 12:55] dennisbakhuis commented on #33166
take

[2020-06-19 13:03] tgy commented on #33166
thanks @dennisbakhuis! let us know if you need help

[2020-06-19 13:33] justinessert opened #34871 "BUG: Inconsistent behavior for df.replace over pd.Period columns"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`df.replace(1.0, 0.0)` fails if any columns of `df` are Period types. The error is saying tha

[2020-06-19 14:04] justinessert commented on #34832
Thank you @TomAugspurger for the lead!

Looking into this issue a little further I found two notable issues that cause this (not sure how much I'm just repeating @TomAugspurger):

**Issue 1:** `cast_scalar_to_array(len(self.index), value)` determines the data type of a variable calls `infer_dtype_from_scalar(value)`. But the latter function will not check for a pandas DType unless it is called lik

[2020-06-19 14:16] kuraga commented on #34766
@TomAugspurger , @jreback , look at this, please!

[2020-06-19 14:25] dsaxton commented on #34871
This looks to be fixed on master (but could warrant a test if there isn't one already). Interesting though that the 1 in the first column appears not to be replaced.

[code]

[2020-06-19 14:37] TomAugspurger commented on #34766
We have many open issues. Will take a look when we have a chance.

In the meantime, ensuring that you have well-specified, minimum
reproducible example that follows the issue template helps:
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

On Fri, Jun 19, 2020 at 9:17 AM Alexander Kurakin <notifications@github.com>
wrote:

[2020-06-19 14:38] TomAugspurger commented on #34832
Yeah. So `cast_scalar_to_array(10, pd.Period("2000"))` should return a length-10 PeriodArray.

[2020-06-19 14:50] r-luo commented on #34675
@rhshadrach Yeah it seems to be the same underlying problem.

[2020-06-19 15:03] TomAugspurger commented on #32960
IMO the best path forward is to make `DataFrame({"A": a, "B": b}, copy=True)` copy all the values in the dictionary. I don't see a straightforward way to restore the 1.0.4 behavior, and it's not compelling enough to jump through hoops to restore it.

[2020-06-19 15:06] rhshadrach commented on #34675
Closing as duplicate of #34455

[2020-06-19 15:06] #34675 closed

[2020-06-19 15:07] kuraga commented on #34766
This issue has not only reproducible examples but total analysis. Thanks!

[2020-06-19 15:15] vedazeren commented on #34602
take

[2020-06-19 15:45] hardikpnsp commented on #34776
I would like to contribute but I am new to CI. From what I have read about CI and explored in the codebase it seems to me like all I have to do is remove a job ("3.6, slow") from .travis.yml and add it to posix.yml and windows.yml but I would appreciate guidance.

[2020-06-19 16:33] jbrockmendel commented on #34869
@simonjayhawkins thanks for explaining.  im fine with vendoring.

[2020-06-19 16:49] jbrockmendel commented on #24662
The clearest example is `.normalize`.  Pretty much anything that goes through tslibs.fields.

[2020-06-19 16:55] jorisvandenbossche commented on #24662
We're speaking about a *dtype*, right?
Since both Timestamp or DatetimeArray don't inherit from a dtype (for DatetimeArray it's an attribute), how does implementing methods on the dtype help sharing?

[2020-06-19 17:01] jbrockmendel commented on #24662
The method on the dtype would take `int64_t*`, and so would be called from DTA/Timestamp with (ex-cython pointer semantics) `self.asi8` and `self.value`, respectively.

[2020-06-19 17:06] jorisvandenbossche commented on #24662
But if it is just a shared implementation that both Timestamp and DatetimeArray call, this shared implementation can also just be a function that takes `int64_t*` living somewhere in tslibs?

To be clear: if there are more algos that can be shared between both, that sounds good, I am just trying to understand what the dtype (this issue) has to do with it.

[2020-06-19 17:10] justinessert commented on #34871
I just realized that Pandas 1.0.5 was released, I was running this on version 1.0.4. I believe everything is fixed now!

[2020-06-19 17:17] JackNelson commented on #34836
I can begin to look into where exactly this would fit into the cookbook.rst.

Not sure how domain specific this is.  Anyone trying to allocate time spans into specific time frequency buckets will have to undergo this method of splitting events.  It is a very common issue I have encountered in any utilization calculation.  I cleaned up the up the functions that would be required...

[code]

[2020-06-19 17:44] jbrockmendel commented on #24662
Both options work.  ATM I'm leaning towards an class-based (i.e. dtype-based) approach being cleaner.

[2020-06-19 18:08] xhochy opened #34873 "Should IntegerArray provide data / mask through an API?"
I'm currently implementing some algorithms on top of the `IntegerArray` class with `numba`. Therefore I would need to pass in the two separate backing NumPy arrays instead of the `pandas` class. Using `series.to_numpy()` isn't helpful in this case as this returns a `object`-typed array. For now, I'll keep using `series.values._data` and `series.values._mask` but I'm aware that using private variab

[2020-06-19 19:17] TomAugspurger commented on #34873
Yeah, but we have two optimizations planned that makes this a bit tricky:

1. Make `._mask` optional. If there are no missing values then we can avoid allocating the array to store it.
2. Make `_mask` a bitmask rather than a bytemask.

Just an FYI, `series.array.isna()` will give you `_mask` through a public API. Doesn't help you with `._data` though :)

Actually... can you use a combination of

[

[2020-06-19 19:34] valinolucas407 commented on #5686
+1

[2020-06-19 21:24] KardoPaska commented on #33113
My motivation is to make one line of code robust to "blank" inputs.  And I encountered the same kind of error for slightly different input...

[code]

This is all good (aside from "missing" bool being True)...
[code]

... but...
[code]

[2020-06-19 22:33] #34529 closed

[2020-06-19 22:48] sabarirama commented on #34411
Hi Johan,

Is this fixed ?

I am using the following code to read a large table into a DataFrame but I am getting "Assertion Error" 20 columns passed, passed data had 0 columns" after a few iterations.

Here is the code

#Create the connection
with pymssql.connect(server="server",
                 user="u_id",
                 password="pwd",
                 port="port",
                 database

[2020-06-20 03:46] jbrockmendel commented on #34014
@mroeschke any idea for ways to avoid the problem-causing pattern in aggregations.pyx?

[2020-06-20 06:46] arw2019 commented on #20445
I notice that this has been open for a while - I'm keen to work on this if there's interest!

[2020-06-20 08:08] MBrouns commented on #28287
take

[2020-06-20 08:09] alimcmaster1 commented on #34841
Thanks @kylase - current implementation is that you have to pass a filesystem. Test for this here: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/io/test_parquet.py#L546

Agree we should attempt to infer - might be best to wait until https://github.com/pandas-dev/pandas/pull/34266 is in?

[2020-06-20 08:25] nwweber commented on #34871
taken

[2020-06-20 08:33] Rohith295 commented on #31111
take

[2020-06-20 08:35] nwweber commented on #34871
take

[2020-06-20 08:38] alimcmaster1 commented on #34779
@twast our project id is "pandas-travis" - is there any info that would help further?

 @jreback - who on the pandas side has access to the GCP console? "https://console.cloud.google.com/iam-admin/serviceaccounts?project=pandas-travis" -> should help confirm if it is our service account that's gone missing

[2020-06-20 08:40] ondrejzacha commented on #30699
take

[2020-06-20 08:40] suvayu commented on #34540
take

[2020-06-20 08:44] MBrouns commented on #28397
take

[2020-06-20 08:49] ondrejzacha commented on #30699
take

[2020-06-20 09:00] jorisvandenbossche opened #34881 "CI/COMPAT: PyUnicode_FromUnicode is deprecated failure on 3.9 CI"
The 3.9-dev build started failing (eg https://travis-ci.org/github/pandas-dev/pandas/jobs/700233890):

[code]

See https://docs.python.org/3.9/c-api/unicode.html#c.PyUnicode_FromUnicode

[2020-06-20 09:03] MatteoFelici commented on #29547
Since the @OlivierLuG comment, it seems like almost all of the files have been corrected or were already ok without any modification. I'll try to update the list about the "still open" files.

### Corrected
- [X] pandas/util/_validators.py
- [X] pandas/tests/io/parser/test_header.py
- [X] pandas/tests/io/test_sql.py
- [X] pandas/tests/reductions/test_reductions.py

### No need to modification
- [X

[2020-06-20 09:03] jorisvandenbossche commented on #34881
It doesn't seem we are using this method directly ourselves. Might be coming from cython: https://github.com/cython/cython/issues/3678

[2020-06-20 09:34] alimcmaster1 commented on #34881
I also get this on 3.8 locally when building C extentions. (Also see the same on a few [jobs](https://travis-ci.org/github/pandas-dev/pandas/jobs/700310700))
[code]

[2020-06-20 09:56] Marvzinc commented on #24171
Take

[2020-06-20 09:59] avinashpancham commented on #24386
take

[2020-06-20 10:01] vpozdnyakov commented on #26253
The same problem. Topic was opened at 1 May 2019 (not 1 May 0007, lol)

[2020-06-20 10:09] cvanweelden commented on #32073
/take

[2020-06-20 10:10] cvanweelden commented on #32073
take

[2020-06-20 10:32] MBrouns commented on #20647
It seems like `center` is indeed a weird option for an `expanding` window. I just ran the test suite and there are no tests breaking when I remove the `center` option from expanding. Also, a code search on GitHub doesn't reveal any instances where `center` is used in conjuction with `expanding`.

Combined with the current output simply being wrong, I think that means we can move forward with depre

[2020-06-20 10:32] MBrouns commented on #20647
take

[2020-06-20 10:33] dennisbakhuis commented on #33166
Do you want the ``driver`` parameter to be explicitly mentioned? As it is catched by the **kwargs and passed on to tables.open_file method, it is not really a Pandas parameter.

I currently have added to the docstring that **kwargs passes its parameters to PyTables. Maybe this is too much but I also added an example using **kwargs, passing the driver paramter to create an in-memory HDFStore.

Furt

[2020-06-20 10:51] vivikelapoutre commented on #26321
take

[2020-06-20 11:11] DanBasson commented on #29547
i keep getting errors which i don't know what they mean.
any help will be appreciated

[2020-06-20 11:15] boweyism commented on #29547
Hi I'm also here from the PyData event will work on the remaining:
pandas/tests/series/indexing/test_numeric.py
pandas/tests/series/indexing/test_take.py
pandas/tests/series/indexing/test_where.py

[2020-06-20 11:47] MatteoFelici commented on #29547
Have you tried to fetch the latest modifications on master? Maybe it will fix some of the failed tests.

[2020-06-20 11:55] boweyism commented on #30999
I'll take:
pandas/tests/window/moments/test_moments_ewm.py
pandas/tests/window/moments/test_moments_rolling.py
pandas/tests/window/test_dtypes.py
pandas/tests/window/test_ewm.py
pandas/tests/window/test_expanding.py
pandas/tests/window/test_timeseries_window.py

[2020-06-20 12:03] Marvzinc commented on #28928
take

[2020-06-20 12:16] jreback commented on #34779
hmm i don't have access here either. So let's in the meantime just disable these tests on master. We can also setup a new GCP account for this and re-enable at some point.

[2020-06-20 12:21] DanBasson commented on #29547
it didn't help.
if someone else wants to take it, you can

[2020-06-20 12:22] jorisvandenbossche opened #34893 "CI/TST: html tests are failing with 404 for fdic.gov url"
See eg https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=37674&view=logs&jobId=a67b4c4c-cd2e-5e3c-a361-de73ac9c05f9&j=a67b4c4c-cd2e-5e3c-a361-de73ac9c05f9&t=33d2fdd0-c376-5f94-e6d3-957bdd23a3b8

[2020-06-20 12:30] alimcmaster1 commented on #34779
Sure @jreback ill do this this eve! @tswast maybe we could use the same setup as pandas-gbq ?

[2020-06-20 12:48] jreback commented on #34881
moving the 3.9 build for now to allowed failures in https://github.com/pandas-dev/pandas/pull/34894 (actually was in there but incorrectly so didn't work)

[2020-06-20 13:02] avinashpancham commented on #24386
take

[2020-06-20 13:11] KrishnaSai2020 commented on #34867
take

[2020-06-20 13:14] oguzhanogreden opened #34898 "Refactor pandas.core.to_replace() to appease static type analysis"
Current implementation of `pandas.core.to_replace()` method won't allow type hints, as noted in #32542 . Contributor guidelines [suggest](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#style-guidelines) a refactor in this case.

[2020-06-20 13:24] cvanweelden commented on #32331
I ran into this issue on my local pandas-dev env.

It passes if I run only this test file:
[code]

But it fails if I run all plotting tests:
[code]
With the following error:
[code]

This is reproducible for me and was on latest master (b57e5ccf6)

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : b57e5ccf62611786c82d1d61bd538e7ecf2d16c6
pyth

[2020-06-20 13:35] #28287 closed

[2020-06-20 13:36] oguzhanogreden opened #34902 "DOC: Contributor guideline should guide contributors for expected local mypy failures"
#### Location of the documentation

[Location](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#style-guidelines).

#### Documentation problem

See conversation [here](https://gitter.im/pydata/pandas?at=5eee0e2ba813c72dcffccbb5).

#### Suggested fix for documentation

This 'failing' of mypy should be noted so that inexperienced contributors don't have to Google around and

[2020-06-20 13:46] jorisvandenbossche commented on #33878
Closed by #34883

[2020-06-20 13:46] #33878 closed

[2020-06-20 13:49] jreback commented on #34893
looks ok now

[2020-06-20 13:49] #34893 closed

[2020-06-20 13:53] jreback commented on #31111
this is already fixed on master

[2020-06-20 14:03] aidanmontare-edu commented on #29203
Taking a look at the code, the functions like `.sum()` `.min()` are defined in the https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py, but they aren't defined separately--there's one function that defines a whole bunch of these. I suppose that's the work of the inherit templates @simonjayhawkins was talking about (these things are new to me).

I guess the way forward is to def

[2020-06-20 14:29] ondrejzacha commented on #30699
@jbrockmendel  What exact behaviour did you mean to check here? I believe other inequalities from the snippet of @mroeschke are already covered by #34055

[2020-06-20 14:36] iveteran commented on #15988
append_skipdupes +1

[2020-06-20 14:54] nwweber commented on #34871
Hi all,

I can confirm that this failed in 1.0.4 and indeed does not raise an exception anymore in 1.10.

However, the new behavior in 1.10 is still not what I would expect it to be. Concretely, calling df.replace(1.0, 0.0) on a dataframe with a Period column now has the following effects:

* the values in a Period column are now left unchanged
* but the dtype of that same column is changed from P

[2020-06-20 15:18] oguzhanogreden commented on #34902
`SKIP=mypy` may be the 'clean' suggestion, [thanks](https://gitter.im/pydata/pandas?at=5eee2234a813c72dcffcfa1a) @MarcoGorelli.

[2020-06-20 16:43] avinashpancham commented on #21142
take

[2020-06-20 16:50] timhunderwood commented on #34272
I also think this feature would be helpful and a useful enhancement for debugging missing or misspelled columns.

I would be happy to try and make the PR.

[2020-06-20 16:50] #24171 closed

[2020-06-20 16:56] MatteoFelici commented on #29547
I have a doubt: when we have a situation like in `pandas/tests/reshape/test_melt.py`:

[code]

and so on, should we transform `msg` to a function and call it with different values of "Col"? Or is it better to leave it as it is?

[2020-06-20 16:58] arw2019 commented on #34440
take

[2020-06-20 17:03] jreback commented on #34272
yep PRs welcome here

[2020-06-20 17:25] avinashpancham commented on #21142
Added test to verify the functionality for Datetime subclasses, but it still does not work for Date subclasses on master (see below). I don't have enough experience to figure out what needs to be changed to make this work. Can someone maybe point me in the right direction, then I can determine whether is it possible for me to do this.

[code]

[2020-06-20 17:38] jreback commented on #34867
closing in favor of #34910

[2020-06-20 17:39] charlesdong1991 commented on #34867
ehh? this is the issue, not PR? @jreback

[2020-06-20 18:04] MarcoGorelli commented on #34867
Reopening as I'm pretty sure Jeff meant to close #34901 instead :)

[2020-06-20 19:18] mroeschke commented on #34014
Not immediately. It looks to affect `rolling.apply` but I can try to play around with it

[2020-06-20 20:04] #34564 closed

[2020-06-20 20:08] #33166 closed

[2020-06-20 22:17] #21142 closed

[2020-06-20 22:20] #34867 closed

[2020-06-20 22:24] #31111 closed

[2020-06-20 22:24] impredicative opened #34915 "BUG: Cannot create empty dataframe having columns with dtype string"
- [x] I have checked that this issue has not already been reported.

I have checked, but this requirement is grossly unreasonable since there are currently 3,426 other open issues. It's impossible for anyone to be sure. This requirement should be reworded.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branc

[2020-06-20 22:25] #24386 closed

[2020-06-20 23:12] dsaxton commented on #34915
Appears fixed on master though would welcome a test.
[code]

[2020-06-21 00:54] jbrockmendel opened #34916 "API: Default to stdlib timezone objects instead of pytz"
i.e. when we get `pd.Timestamp.now("UTC")` we should return a Timestamp with `datetime.timezone.utc` rather than `pytz.UTC`.  Similarly when we parse an ISO8601 datetime we should use tzinfo of `timezone(timedelta(seconds=val*60))` instead of `pytz.FixedOffset(val)`

This isn't _that_ hard to implement, but doing it breaks a couple dozen tests where we are currently checking for pytz objects.  Thi

[2020-06-21 00:58] jreback commented on #34916
i don’t think we easily change this as it’s a failrly large api change

we would need to have an option for this instead

[2020-06-21 01:41] mroeschke commented on #34916
Might be a reasonable version 2.0 break. But +1 to moving the default timezone to the stdlib version

[2020-06-21 05:52] quangngd commented on #24271
[code]

Setting type **then** setting index gives expected output:
[code]
[code]

Conversely, setting index **then** setting dtype gives the described "bug":
[code]
[code]

[2020-06-21 07:37] MarcoGorelli commented on #34902
Thanks @oguzhanogreden , might be good to add a line mentioning this to the "pre-commit" section of the contributing guide https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#pre-commit

[2020-06-21 08:49] avinashpancham commented on #29214
Do we still need some work on this? I worked with `pytest-azurepipelines` on Azure DevOps before, but I do not know how to access the Pandas CI/CD pipeline. Can someone maybe point me in the right direction?

[2020-06-21 08:53] avinashpancham commented on #21049
take

[2020-06-21 09:44] chrispe92 commented on #34583
Does that imply that you would like to compute the cardinality for columns with a specific dtype? Because that computation should probably not take place for columns containing continuous values.

[2020-06-21 09:54] avinashpancham commented on #23992
Would like to help on this, but haven't written test for plots yet. First guess would be to use [pytest-mpl](https://github.com/matplotlib/pytest-mpl) or do you have any other ideas?

[2020-06-21 09:59] prakhar987 commented on #34915
will add tests

[2020-06-21 12:34] Rohith295 commented on #34717
take

[2020-06-21 12:57] boweyism commented on #30999
Ill also take:
- pandas/tests/frame/methods/test_assign.py
- pandas/tests/frame/methods/test_at_time.py
- pandas/tests/frame/methods/test_between_time.py
- pandas/tests/frame/methods/test_first_and_last.py
- pandas/tests/frame/methods/test_interpolate.py
- pandas/tests/frame/methods/test_replace.py
- pandas/tests/frame/test_query_eval.py

[2020-06-21 13:32] s16417 commented on #32156
Instead of using `.agg({'B': 'sum', 'G': 'min'})`, try passing it as a list of tuples like `.agg([('B', 'sum'), ('G', 'min')])`.

[2020-06-21 14:53] subhrm opened #34921 "BUG:"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-21 15:46] tgy commented on #33113
@KardoPaska My small change on #33118 seems to fix your issue as well:
[code]
Waiting for @jreback to approve the change on the PR

[2020-06-21 16:05] kishvanchee commented on #34544
@erfannariman are you still working on this? Else I am interested in taking this

[2020-06-21 17:28] rebecca-palmer commented on #32289
Nested DataFrames in general do still work, just not this method of creating them:
[code]
As noted above, it seems to happen because numpy.array now returns a 3D array that stacks the DataFrames, instead of a 1D array of objects.

The two failing tests were introduced in #3243 and #5324.  We don't document anywhere obvious that nested DataFrames are supposed to work, but #5324 was reported by [an

[2020-06-21 18:40] hiqbal2 opened #34923 "Infer dtype when using `df.explode()`ENH:"
#### Is your feature request related to a problem?

Yes. Currently, the `df.explode` method always returns an object for the column being exploded. This leads to loss of information about the `dtype` of the exploded column.

 E.g.
[code]
|    | 0      |
|:---|:-------|
| A  | object |
| B  | int64  |

It would be great if pandas could return the underlying dtype if it was consistent across all row

[2020-06-21 20:21] tgy commented on #33113
Shouldn't the code be `pd.DataFrame([dict(), dict()]).astype(dtype=dict)` instead? (`dict` instead of `dict()` in the dtype)? That works on `master`.

[2020-06-21 21:22] mario-bermonti commented on #34682
So in theory this shouldn’t cause too much trouble? I’m going to give it a try and get back with the results

[2020-06-21 23:06] parkershamblin commented on #31682
Same issue just reverted back to pandas version 1.0.4

[2020-06-21 23:24] erfannariman commented on #34544
Yes, I will take some time to submit a MR this week, if I didn't have time, you can take over after that. @kishvanchee

[2020-06-21 23:44] JulianWgs opened #34925 "ENH: Use binary right shift as pipe operator"
#### Is your feature request related to a problem?

In R there is the pipe operator "%>%" which applies the function after the operator on the data before the operator. Pandas also follows this philosophy of method chaining. There is also a [pipe function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pipe.html). Here is a good comparison of R vs pandas: https://stmor

[2020-06-21 23:46] JulianWgs commented on #32590
An answer would be appreciated :)

[2020-06-21 23:46] znicholls commented on #33825
should this be

[code]

?

[2020-06-22 00:12] jreback commented on #34925
This was already debated and was passed

-1 on this non python syntax.

I think there is a package that actually implements this on top of pandas if you want, but not for core pandas.

[2020-06-22 00:37] JulianWgs commented on #34925
Hey, thanks for the fast answer. Could you link that discussion? I would then gladly close the issue :)

[2020-06-22 00:52] #34925 closed

[2020-06-22 01:14] jreback commented on #34925
there are many just search for pipe
#27400 #26809

[2020-06-22 06:29] tqa236 commented on #16867
I can help to add the tests. Can you tell me which file I should add them to?

[2020-06-22 06:44] yohplala opened #34928 "BUG: dtype not working with datetime64"
- [x] I have checked that this issue has not already been reported.
Root cause of issue #32802 might be the trouble I report here.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
[code]
[code]
[code]
[code]
[code]
But then:
[code]
[code

[2020-06-22 06:58] jorisvandenbossche commented on #34916
Since there is also the discussion of using `zoneinfo` (in Python 3.9 stdblib, backport https://github.com/pganssle/zoneinfo), which is also a breaking change, those should potentially be considered together?

(`zoneinfo` actually also has a UTC timezone)

[2020-06-22 07:21] arw2019 commented on #32802
A slightly tweaked version of the original report:
[code]
Also - I still get this on the master version of pandas.

<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : 9e1b95f721de87d83a2644f49a39528b4b81f536
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-106-generic
Ver

[2020-06-22 07:23] MarcoGorelli commented on #34544
Looks like this was already fixed in #31490. Indeed, the development version of the docs looks correct - https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DatetimeIndex.day.html?highlight=datetimeindex%20day#pandas.DatetimeIndex.day

Sorry @erfannariman for not having picked up on this sooner

[2020-06-22 07:23] #34544 closed

[2020-06-22 07:28] arw2019 commented on #34928
Actually the workaround does apply for Series too if you put string quotes around `datetime64[ns]`. If I do:
[code]
I get
[code]

[2020-06-22 08:29] erfannariman commented on #34902
take

[2020-06-22 09:15] xhochy commented on #34873
Thank you for the detailed answer!

I think `array.isna()` is a pretty decent interface for me as it will be stable regarding the future performance optimization `2.`. When `2.` is implemented, having a public interface to retrieve the bitmask would also be nice but at least this way, my code won't break on implementation changes (it will just get a bit slower).

[2020-06-22 09:57] JohanKahrstrom commented on #34411
The reported bug only happens if the query results has zero rows, in which case the generator is empty (and in your code example since the generator is empty the loop never executes). For that case the workaround is:

[code]

My PR for a fix has been accepted, but I don't know when it will be merged I'm afraid.

[2020-06-22 10:29] erfannariman opened #34932 "ENH: add ignore_index argument to DataFrame.explode / Series.explode"
When we use `DataFrame.explode`  right now, it will repeat the index for each element in the iterator. To keep it consistent with the methods like `DataFrame.sort_values`, `DataFrame.append` and `pd.concat`, we can add an argument `ignore_index`, which will reset the index.

[code]
Expected behaviour with addition of the argument:
[code]

[2020-06-22 11:04] swarits commented on #17094
@EugeneKovalev It was removed because the excel files would read up into memory as a whole during parsing because of the nature of XLSX file format. Hence, it'd cause 'MemoryError' if the file was large. And chunksize wouldn't change this behavior in case of excel files, but it works perfect in CSVs coz they could be loaded into memory in parts.

[2020-06-22 11:10] jreback commented on #34928
np.datetime64 with no unit should always raise

i guess we missed a case - would take a PR to raise correctly in your first example

[2020-06-22 11:26] erfannariman commented on #34932
If this change looks oké by one of the devs, I can submit a PR for this.

[2020-06-22 11:26] erfannariman commented on #34932
take

[2020-06-22 11:45] TomAugspurger commented on #34932
I think something like this was discussed when `explode` was originally implemented. @erfannariman can you go through the original pull request implementing `explode` and summarize the discussion on this point?

[2020-06-22 12:03] erfannariman commented on #34932
I looked at the following discussions and couldn't find anything about resetting the index:

1. https://github.com/pandas-dev/pandas/issues/16538
2. https://github.com/pandas-dev/pandas/issues/10511
3. https://github.com/pandas-dev/pandas/pull/27267

Not sure if I missed anything. @TomAugspurger

[2020-06-22 12:58] TomAugspurger commented on #34932
Thanks for checking.

On Mon, Jun 22, 2020 at 7:03 AM Erfan Nariman <notifications@github.com>
wrote:

[2020-06-22 13:02] jreback commented on #34932
it’s ok to add this argument (was added elsewhere after explode existed)

[2020-06-22 13:14] TomAugspurger commented on #34873
One more question @xhochy: do you want zero-copy access to the NumPy arrays, or would a pyarrow Array suffice? IntegerArray & BooleanArray do implement `__arrow_array__`, so you can get zero-copy access to it in a way that won't change if / when we update our implementation.

cc @jorisvandenbossche if you have thoughts.

[2020-06-22 13:23] jorisvandenbossche commented on #34873
Note that `array.isna()` also gives a copy of the mask, so not necessarily optimal.
The `__arrow_array__` is indeed zero-copy for the data, but not for the mask since that gets converted into a bitmask. If you need it as a bitmask, that might be fine, but if you actually need a numpy boolean mask for numba, that would give a double conversion bytemask-bitmask->bytemask.

But, long term it would in

[2020-06-22 13:26] jorisvandenbossche commented on #34873
Actually, we don't:

https://github.com/pandas-dev/pandas/blob/8ba9c627e2ad630d977ae504a3bf0e2ec5a9885a/pandas/core/arrays/masked.py#L225-L226

but that seems a bug to me. As a user afterwards mutating that BooleanArray should never update the original array ..

[2020-06-22 13:27] TomAugspurger commented on #34682
Yeah, won't cause any trouble. There will be some operations that fail to propagate the metadata, and we still need to determine how metadata propagates when multiple dataframes (possibly with different metadata) are involved. But won't cause any issues.

Thanks for working on this.

[2020-06-22 14:02] xhochy commented on #34873
As a bit context here: Contrary to most things I post here on the issue tracker, Arrow isn't involved in this, only `pandas + numba`. Using the `__arrow_array__` interface for this would be for me on the same level as just accessing the private members of the array. I'm interesting in converting some existing computations that were yet implemented with numba on numpy float+int arrays to also suppo

[2020-06-22 14:58] erfannariman commented on #34902
Need some input for this, based on the discussion in gitter (see link in message by OP), we should use

[code]
But this does not work for me, I had to use

[code]
Which one are we going for and should I add to the docs?

[2020-06-22 15:05] WillAyd commented on #34932
What's the upside of adding this as an argument instead of just calling reset_index?

[2020-06-22 15:07] WillAyd commented on #34902
Why not just remove mypy from the pre-commit check? I think this has been an ongoing issue with the interaction of those tools @TomAugspurger I think brought up originally

[2020-06-22 15:09] WillAyd commented on #34923
I think this is reasonable. Can probably add a `maybe_infer_objects` call on the result of the exploded column (you'll find this in pandas._libs.lib)

[2020-06-22 15:11] erfannariman commented on #34932
Not sure if im in the position to comment on your question, but in terms of API design, isn't that in the line of other methods like `DataFrame.append`, `DataFrame.sort_values`, `pd.concat`? Or do you mean internally wise? @WillAyd

[2020-06-22 15:12] WillAyd commented on #34921
I *think* this is done this way because merged cells in column B (which a lot of people would arguably dictate a MultiIndex) appear the same as the way you have it in the screenshot.

Welcome to take a look to see if you can patch. Might need a deprecation cycle first

[2020-06-22 15:13] WillAyd commented on #34932
Ah OK makes sense since we do elsewhere

[2020-06-22 15:15] erfannariman commented on #34902
If it (mypy check) is not needed, @WillAyd 's suggestions makes more sense to me.

[2020-06-22 15:19] jorisvandenbossche commented on #34932
For the `ignore_index`, another example where this was added recently is `drop_duplicates` (https://github.com/pandas-dev/pandas/pull/30405) and `sort_values` (https://github.com/pandas-dev/pandas/pull/30402).
And another reason to add it is that it can be a bit more performant (avoid an additional copy as you would have with `reset_index(drop=True)`).

---

One aspect related to the index of the

[2020-06-22 15:30] #6279 closed

[2020-06-22 15:33] WillAyd commented on #34898
Can you share the errors you were seeing?

[2020-06-22 16:31] mroeschke commented on #34916
+1 on incorporating `zoneinfo` as well. `timezone` object from the current `stdlib` otherwise are pretty bare.

[2020-06-22 17:59] TomAugspurger commented on #33921
Looked at this a bit today. Most (all?) of the slowdown is in the `Categorical` constructor. Mostly in https://github.com/pandas-dev/pandas/blob/506eb54712e003e591fb04fc0cbf433fdbb018fb/pandas/core/arrays/categorical.py#L2594-L2618.

I was surprised to see that for the following, we actually convert the IntervalIndex to an ndarray of objects

[code]

I would think that when categories is an Index

[2020-06-22 19:03] erfannariman commented on #34928
Would something like this be sufficient in the `DataFrame` constructor? If so then I can create a PR:

[code]

[2020-06-22 19:22] erfannariman opened #34934 "BUG: unnecessary repetition of variable in explode test"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

In the test `test_typical_usecase` in `series/methods/test_explode.py` there's

[code]

#### Problem description

The variable `exploded` is called unnecessary.

[2020-06-22 19:22] erfannariman commented on #34934
take

[2020-06-22 19:57] Dr-Irv commented on #34748
take

[2020-06-22 20:00] monstrorivas opened #34936 "BUG: pandas.DataFrame.interpolate fails with high value of `limit` argument"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
An error is produced when specifying a large limit in pandas.DataFrame.Interpolate
The error i

[2020-06-22 20:03] WillAyd commented on #34902
Another option would be to only run mypy before a push instead of on every commit. This might be achievable with specifying the stage in the config

https://pre-commit.com/

[2020-06-22 22:39] luranhe commented on #28372
@sathyz Thank you for your response. When I add `.iloc[:2]` I expect it to not make any difference, as you say. Instead I lose the `2` column. Losing the column is my true concern; I am not so worried about seeing NaN values instead of 0's.

[2020-06-22 22:44] monstrorivas commented on #34936
Upon further testing, it seems that the issue doesn't come from the pandas versions but from the python version

It looks like it works just fine with python 3.6 but gets the error with 3.7

[2020-06-23 00:21] jreback commented on #34928
we already have this check for a dtype it’s just not checked when it’s a dict

you will have to trace where this should go

[2020-06-23 01:59] arw2019 commented on #34824
take

[2020-06-23 03:37] arw2019 commented on #34824
@gordthompson Would love your thoughts on the rewritten docstring in PR #34944

[2020-06-23 04:09] marinomaria commented on #33451
take

[2020-06-23 04:11] arshadparvez opened #34946 "BUG: Inconsistent behavior: Occasional crash on same code and data"
[x] I have checked that this issue has not already been reported.
[x]  I have confirmed this bug exists on the latest version of pandas.

**Description**
When reading csv with pd.read_csv, giving both names= and dtypes= arguments, the program occasionally crashes. Surprisingly, sometimes the application completes its execution cycle normally - without any change in code or data.

I had initially u

[2020-06-23 06:39] MJafarMashhadi commented on #34946
I could reproduce this on the latest commit on master (506eb5471) and also observed the mentioned non-deterministic behavior.

[2020-06-23 07:02] apremgeorge commented on #32857
i'm getting for pandas
[code]
may I know the fix?

[2020-06-23 07:38] BetterChenMing commented on #32156
thanks a lot ，upstairs

[2020-06-23 07:38] BetterChenMing commented on #32156
thanks a lot, upstairs

[2020-06-23 11:13] MarcoGorelli commented on #34946
Thanks @arshadparvez for the report

For a copy-and-pasteable version:
[code]

[2020-06-23 11:19] erfannariman commented on #34934
take

[2020-06-23 12:29] simonjayhawkins commented on #34936
Thanks @monstrorivas for the report. not able to reproduce on Python 3.7.7 on Linux or Python 3.8.3 on Windows.

can you post the full traceback?

[2020-06-23 13:09] simonjayhawkins commented on #32108
This is also fixed on 1.0.x branch from backporting #34049 (i.e. 1.0.4)

b3ebcb03287ed5c0082850b2bde8c7888ce6ac9b is the first new commit
commit b3ebcb03287ed5c0082850b2bde8c7888ce6ac9b
Author: Simon Hawkins <simonjayhawkins@gmail.com>
Date:   Tue May 19 12:39:11 2020 +0100

    Backport PR #34049 on branch 1.0.x (Bug in Series.groupby would raise ValueError when grouping by PeriodIndex level) (#3

[2020-06-23 13:16] erfannariman commented on #34923
Can you elaborate @WillAyd , I looked in `lib` but there was nothing even starting with `maybe_infer`, also in the whole project I could only find:

- maybe_infer_freq
- maybe_infer_tz
- maybe_infer_dtype_type

[2020-06-23 13:43] #33452 closed

[2020-06-23 14:00] #34934 closed

[2020-06-23 14:01] jorisvandenbossche commented on #34946
One should not specify the names as a python `set`, as those are not ordered. I suppose that it the reason of the occasional failure, if it tries to convert the first column (instead of second) to a bool dtype.

We should probably disallow sets for the `names` argument

[2020-06-23 14:21] LukasGelbmann opened #34951 "BUG: ValueError on groupby with categoricals"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

In specific situations involving categorical columns, a groupby() on two or more columns runs into an error:

#### Code Sample

[code]

#### Expected Output

Expected out

[2020-06-23 14:56] erfannariman opened #34953 "ENH: more distinguish name for widths arugment in read_fwf"
#### Is your feature request related to a problem?
We ran into the problem that `read_fwf` uses `widths` as an argument to define contigious intervals. But because of `**kwargs`, it will also accept `width` and not throw a warning or error. In this case it will product the wrong output, but without seeing the typo, it;s hard to find out what went wrong.
#### Describe the solution you'd like

Inste

[2020-06-23 14:57] TomAugspurger commented on #32857
@apremgeorge as far as I know this was fixed in 1.0.4, and it shouldb e fixed in 1.0.5 as well.

Can you post the outputs of

1. creating a clean virtualven
2. pip install pandas==1.0.4
3. python -c "import pandas"

and repeat that for 1.0.5?

[2020-06-23 15:09] monstrorivas commented on #34936
Here's the traceback of the error.

[code]

[2020-06-23 15:15] simonjayhawkins commented on #34936
Thanks @monstrorivas for the detail. There's an open PR, #34727, that doesn't use the function where the error is originating, pandas\core\missing.py in _rolling_window(a, window)

[2020-06-23 16:04] ldacey commented on #34467
Ahh - I was was bit by this but ended up using pq.read_table() with pyarrow and removed the pandas.read_parquet() portions of the code. Upgrading to 1.0.5 now.

[2020-06-23 16:15] WillAyd commented on #34923
My mistake - I meant to say `maybe_convert_objects` which is in pandas._libs.lib

[2020-06-23 16:27] MJafarMashhadi commented on #34946
/take

[2020-06-23 16:34] monstrorivas commented on #34936
Thanks @simonjayhawkins for the information on that PR.

After your comment, I did for testing on different systems. I can confirm that I can't reproduce it either on Linux with Python 3.7.3

Also, I just tried on another Windows system with Python 3.7.4 and could NOT reproduce it. I'm a bit confused on what may be triggering this issue

[2020-06-23 17:35] #34569 closed

[2020-06-23 17:35] #21049 closed

[2020-06-23 17:37] #28823 closed

[2020-06-23 17:45] #34915 closed

[2020-06-23 17:53] simonjayhawkins commented on #34936
The error is originating from NumPy. so could be down the Numpy version being used.

[2020-06-23 18:21] shwina opened #34957 "QST: Behaviour of `mean()` for a Series of strings."
Greetings, Pandas devs! My question is about the behaviour of `mean()` for a Series of strings:

[code]

From https://github.com/pandas-dev/pandas/issues/34671#issuecomment-641927667, the result is `6` because:

This feels like somewhat implicit behaviour that makes assumptions about how the mean is computed.

Would it be more desirable to throw here? Or perhaps return `1.5` instead?

[2020-06-23 18:28] chrisjcameron opened #34958 "ENH: DataFrame.query() should prioritize column names over types defined in local scope."
#### Is your feature request related to a problem?

If a column name matches a defined type it does not seem to be possible to include the column in a .query() string. For instance, `df.query("Timestamp < 10")` throws a `TypeError: '<' not supported between instances of 'type' and 'int'` for a dataframe where `df[df.Timestamp < 10]` yields the expected result.

#### Describe the solution you'd lik

[2020-06-23 18:29] justinessert opened #34959 "BUG: DataFrame.__setitem__ creates object-dtype array for 3rd Party extension type scalars"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Both columns 'a' and 'b' are created as object columns in the above DataFrame, instead of the

[2020-06-23 18:31] galipremsagar commented on #34957
commenting to follow thread.

[2020-06-23 18:45] TomAugspurger commented on #24357
I think this is the same root issue as https://github.com/pandas-dev/pandas/issues/7509, so closing in favor of that.

[2020-06-23 18:45] #24357 closed

[2020-06-23 19:44] #33451 closed

[2020-06-23 20:13] #21675 closed

[2020-06-23 21:25] rhshadrach commented on #5755
As far as I can tell, all issues with consistencies for reduction kernels with `as_index=False` have been solved. I think this issue can be closed.

[2020-06-23 21:25] monstrorivas commented on #34936
ok... I think I figured out what's causing it
It looks like the error is produced only on the 32-bit version of Python

I was able to reproduce it on different Windows machines with Python 3.7.4 (32-bit). When I switch to the 64-bit version there is no issue. Now that I think about it, the ValueError starts to make sense.

What doesn't makes sense from a user perspective is that with `limit=None`

[2020-06-23 21:31] jbrockmendel opened #34961 "REF/INT: never set `df._mgr` after `__init__`, never hold a Block in more than 1 BlockManager"
ATM there are a few places where we will do `self._mgr = mgr.reindex_or_whatever(...)`.  I think the code would be easier to reason about if we avoided this pattern.  To do that, we will need the relevant `mgr.reindex_or_whatever` methods to be in-place at the `BlockManager` level.

Similarly I don't think we have strictly-enforced policies describing the relationship between Block objects and Blo

[2020-06-23 21:40] rhshadrach commented on #34957
Thanks for the question - as the discussion in the issue you mentioned indicates, `6.0` is not the desired output. If you have any feedback/suggestions, please feel welcome to mention them in the original issue rather than have discussions going on in two separate issues.

Closing as a duplicate of #34671

[2020-06-23 21:40] #34957 closed

[2020-06-23 21:53] rhshadrach commented on #34951
Thanks for reporting this - I get the same exception on master. Computing this as a Series via `df.groupby(['A', 'B']).C.first()` works and gives the correct result.

[2020-06-23 22:07] #19602 closed

[2020-06-24 01:00] apremgeorge commented on #32857
@TomAugspurger Thanks for the reply
Here is the screenshots
![image](https://user-images.githubusercontent.com/30790120/85484254-cbe58900-b609-11ea-9648-f8eb09714dfe.png)

![image](https://user-images.githubusercontent.com/30790120/85484274-d869e180-b609-11ea-80cb-7aa6619938d6.png)

[2020-06-24 02:21] apremgeorge commented on #32857
pandas 1.0.1 worked for me
Thanks

[2020-06-24 02:24] jshridha commented on #32857
@apremgeorge Try out my suggestion above. It has worked for me on several fresh windows/python installs lately where I was seeing the same issue. https://github.com/pandas-dev/pandas/issues/32857#issuecomment-615510956

[2020-06-24 02:26] cgohlke commented on #32857
The VC++ runtime DLLs did not make it into the wheels on PyPI. It looks like the DLLs are copied to the pandas source directory after (not before) building the wheels. https://github.com/MacPython/pandas-wheels/blob/master/azure/windows.yml#L71-L74

[2020-06-24 06:19] hamzajamil12 opened #34964 "I had this error please tell me the solution"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-14-71bf30a97169> in <module>
----> 1 df=pd.read("datasets_33180_43520_heart_csv.py")

~\miniconda3\lib\site-packages\pandas\__init__.py in __getattr__(name)
    261             return _SparseArray
    262
--> 263         raise Attrib

[2020-06-24 07:19] charlesdong1991 commented on #34964
there is no `read` method in pandas, pls find suitable method to call:

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

[2020-06-24 07:19] #34964 closed

[2020-06-24 08:16] oXwvdrbbj8S4wo9k8lSN opened #34965 "BUG: Unexpected behaviour of rolling with apply on DataFrame"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
When executed on a DataFrame, _rolling_ seems to select only certain columns for processing. For demonstration, I created a DataFrame that has three columns (A, B, and C),

[2020-06-24 08:41] eric-brunner opened #34966 "DOC: Confusing 'resolvers' kwarg documentation for DataFrame.query()"
#### Location of the documentation
According to DataFrame.query() documentation
([https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.query.html#pandas.DataFrame.query](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.query.html#pandas.DataFrame.query))
the 'resolvers' keyword is allowed and its function documented by DataFrame.eval() ([https://pandas.pydata.org/docs

[2020-06-24 08:58] simonjayhawkins commented on #34936
Thanks for investigating further

[2020-06-24 09:09] RobertRol opened #34967 "QST: pandas get_loc with 'ffill' gives unexpected results within group"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---
I have asked this question on SO but did not get any answers there. Below I give a simplified version of my SO question.
I am not sure whether this is a bug or whether I

[2020-06-24 09:14] kusaasira commented on #23566
@yehoshuadimarsky , this was closed, right?

[2020-06-24 10:09] IcToxi opened #34968 "BUG: the pd.to_timedelta() incorrectly parses the 'M' as minutes."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-06-24 11:34] TomAugspurger commented on #32857
Thanks for the pointer. Will see if https://github.com/MacPython/pandas-wheels/pull/90 fixes it.

[2020-06-24 12:12] pkaleta opened #34969 "BUG: NUMPY_IMPORT_ARRAY_RETVAL undeclared when installing pandas 0.18.1"
I've suddenly started getting the following error when installing pandas 0.18.1 via pip on Python3.6:

[code]

This has been working fine for quite some time already and I suspect this is related to the recent release of numpy-1.19.0.

I've seen there was a similar issue here: https://github.com/pandas-dev/pandas/issues/5326, but there was no mention of undeclared variable`NUMPY_IMPORT_ARRAY_RETVA

[2020-06-24 12:44] pizzathief opened #34970 "BUG: fixtures are not to be called directly"
- [ X] I have checked that this issue has not already been reported.

- [X ] I have confirmed this bug exists on the latest version of pandas.

- [X ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to re

[2020-06-24 12:47] TomAugspurger opened #34972 "CI: test_constructor_list_frames failures on MacPython"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=38048&view=logs&j=79f3a53a-4a6d-509c-98b5-ff6e9111f67c&t=25a63239-9c30-5cf0-cb4c-3d01da7b47c5&l=1049

[code]

[2020-06-24 12:48] pizzathief commented on #34970
#34971

[2020-06-24 12:51] TomAugspurger commented on #34969
You need to have NumPy installed in your environment before building pandas from source for all versions of pandas that didn't include a pyproject.toml.