[2019-11-04 12:32] mar-ses commented on #28599
I'm looking into it, wouldn't minded doing this then. So looking at `to_numeric` I believe the change would be in `__lib.lib` in the function `maybe_convert_numeric` here:

https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx

As far as I can figure out, if it can't immediately convert to the normal `int`, it will then try to figure out what it can convert to on a value-by-value b

[2019-11-04 12:39] jreback commented on #28599
once this is merged (soon); https://github.com/pandas-dev/pandas/pull/27335

this will relatively straightforward to patch

[2019-11-04 13:42] #28633 closed

[2019-11-04 13:49] andrey999333 commented on #24908
i'm still having this issue in version 0.25.1

[2019-11-04 13:50] #29328 closed

[2019-11-04 13:54] charlesdong1991 commented on #28021
emm, unfortunately i have to take back my previous comment.

Just found out that this works as expected in my development setup, but if I import pandas in other environments/places, then I could reproduce this issue. Looks weird.

[2019-11-04 14:03] jreback commented on #24908
@andrey999333 pls open a new issue with a reproducible example

[2019-11-04 14:53] #24617 closed

[2019-11-04 15:47] jo47011 commented on #12649
We ran into the same problem.  I already raised a question at stackoverflow:
[Pandas to_datetime not setting NaT on wrong format](https://stackoverflow.com/questions/58694383/pandas-to-datetime-not-setting-nat-on-wrong-format)
Is there a decision yet on how to proceed with this issue?

[2019-11-04 15:53] TColl commented on #22449
I think we're not quite on the same page here.

`on` allows us to specify the merge columns to use in both dataframes via one argument, in this application we're using `on` instead of `left_on` and/or `right_on`.

In this situation, if `left_index` or `right_index` are included (but `left_on` and `right_on` are excluded), the behaviour mentioned in this issue occurs.

here's an example:

[code]

H

[2019-11-04 16:54] #16051 closed

[2019-11-04 17:08] Tiarles opened #29397 "Style problem using Styler.set_table_styles"
I am using the pd.Styler to style tables and render a HTML/CSS code from him.

But this python code has some problems:

[code]

I am trying to put border around the table. But this python code generates this HTML/CSS code:

[code]

But this does not work:

![image](https://user-images.githubusercontent.com/13910905/68141076-a2a5aa80-ff0b-11e9-93bf-7126f5c2914f.png)

This HTML/CSS snippet work only

[2019-11-04 18:21] simonjayhawkins opened #29398 "stable docs show dirty version number"
![image](https://user-images.githubusercontent.com/13159005/68146383-c7ac1480-ff2f-11e9-9154-c0a98b13520a.png)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html

[2019-11-04 18:22] jbrockmendel commented on #22843
I tried this the other day and found I had to do a lot of special-casing for Categorical and SparseArray.  Has anyone else tried this?

[2019-11-04 18:55] WillAyd commented on #29398
Yea this is related to https://github.com/pandas-dev/pandas/pull/29374#issuecomment-549080876 made a minor mistake during last release

[2019-11-04 18:56] datapythonista opened #29399 "DOC: ImportError: No module named pandas"
Looks like #11604 is our most visited page on GitHub after the home (it's got half of the visits of the home, see "Popular content" in https://github.com/pandas-dev/pandas/graphs/traffic).

Someone recommended `sudo pip3 install pandas`, and I guess a person having that error will google it, read that issue and end up running that, which is not great.

I think we should have somewhere on the docum

[2019-11-04 19:16] datapythonista commented on #29399
I added a comment in the description of the issue for now. But I guess we still want to have this in the documentation.

[2019-11-04 19:35] TomAugspurger commented on #29399
I edited all the posts saying to use "sudo pip install" :)

On Mon, Nov 4, 2019 at 2:16 PM Marc Garcia <notifications@github.com> wrote:

[2019-11-04 20:59] datapythonista commented on #29315
When changing `.pyx` files, you need to recompile pandas with `python setup.py build_ext --inplace -j 0` for the script to see the changes. If that's not the problem, please send me a link to of the docstring you're changing, and the output of the script, and I'll have a look.

[2019-11-04 21:00] #29325 closed

[2019-11-04 22:10] #22590 closed

[2019-11-04 22:36] SaturnFromTitan commented on #17261
I'm looking into this

[2019-11-04 22:38] dxe4 opened #29403 "pd.to_datetime should_cache errors with deque"
[code]

core.tools.datetimes.should_cache gives `sequence index must be integer, not 'slice` at  `unique(arg[:check_count])`

if deque is not expected it would make more sense to give a better message, otherwise support?

looks like a "good first issue" ?

version 0.25+ (i think it works on 0.24 but i only tested 0.25)

[2019-11-04 23:16] JCourt1 commented on #29323
Yeah looks like it is that. From a quick blame check in tig, it seems to have been introduced in `b7a6d1b` on the grounds that it fixed a test, and before that in `ddbfb3c` it just returned `Series()`, which is more arbitrary as it will always be of `dtype` float as you say.

Quick fix would ofc be to allow the user to input a kwarg to `apply()` and use it to enforce the `dtype` of return value -

[2019-11-05 04:17] santhisenan commented on #29399
The link [https://github.com/pandas-dev/pandas/graphs/traffic](https://github.com/pandas-dev/pandas/graphs/traffic) in the issue description takes me to my GitHub dashboard.

[2019-11-05 05:08] mroeschke commented on #29403
I supposed this should work as a `deque` is list-like.

[2019-11-05 05:31] XtremePro opened #29407 "Error - PyCharm. Please help!"
![image](https://user-images.githubusercontent.com/30014625/68180931-6ba2b980-ff4a-11e9-9495-2f9aa3652a4b.png)
Help please. I am having trouble downloading scikit-learn and scipy.
The thing is: I installed pandas without trouble..

Thank you!

[2019-11-05 06:05] mroeschke commented on #29407
This board is for pandas specific issues with the library. Please consult Stack Overflow for sckit-learn

[2019-11-05 06:05] #29407 closed

[2019-11-05 07:53] simonjayhawkins opened #29408 "DataFrame.equals incorrect `See Also` section of docstring for assert_*_equal"
xref #22539

`assert_series_equal` and `assert_frame_equal` do not return `True` or` False`.

[code]

also the entries in `See Also` for `assert_series_equal` and `assert_frame_equal` don't link to anything.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.equals.html#pandas-dataframe-equals

[2019-11-05 08:03] simonjayhawkins opened #29409 "Formatting issues with column width truncation for numerical columns"
placeholder.

will update with reproducible example in a couple of days

![image](https://user-images.githubusercontent.com/13159005/68189048-7b4dec80-ffa2-11e9-997c-047c8dfef4ce.png)

[2019-11-05 09:08] Batalex commented on #29241
In addition, is there a rationale for the parameters order being different?

`DataFrame.merge(self, right, how='inner', on=None, ...)`
`DataFrame.join(self, other, on=None, how='left',...)`

We should change `join`'s signature to match `merge`. I would glady submit a PR.

[2019-11-05 09:52] hyfjjjj opened #29411 "Memory leak in Dataframe.memory_usage"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Dataframe's memory_usage function has memory leak. Memory usage after executing 'memory_usage' function  should be the same as before.

<img width="399" alt="截屏2019-11-05下午5 44 25" src="https://user-images.githubusercontent.com/7194638/68196715-f390ce00-fff3-11e9-939a-e84d850673e8.png">

#### Expected Output

N

[2019-11-05 09:58] nasirudeenraheem commented on #16314
better still since it does deals string format.
so the df[''].value_counts().nlargest

[2019-11-05 11:28] stefansimik commented on #29241
I think consistent order of params would be more clear for everybody.
Incosistent order just adds confusion and complexity.

[2019-11-05 14:33] kalikgod commented on #20596
Related to this issue, I have found doing a pandas.date_range over the repeated hour at the end of DST produces duplicate hours.

start = pd.Timestamp('2019-11-03 00:00:00', tz='US/Central')

end = pd.Timestamp('2019-11-04 00:00:00', tz='US/Central')

pd.date_range(start=start, end=end, freq='H')

DatetimeIndex(['2019-11-03 00:00:00-05:00', **'2019-11-03 01:00:00-06:00',**
               **'2019-1

[2019-11-05 14:51] TomAugspurger opened #29412 "Remove all preprocessing from PlotAccessor.__call__"
In https://github.com/pandas-dev/pandas/pull/28647, we discovered that `PlotAccessor.__call___` does quite a bit of preprocessing of the data before handing it off to the backend.

https://github.com/pandas-dev/pandas/blob/399212673ea8101a65d95830604edb633da0860d/pandas/plotting/_core.py#L728-L794

Depending on the plot kind and backend, *some* of this preprocesing may not be appropriate. The back

[2019-11-05 16:00] TomAugspurger commented on #29412
cc @jsignell

[2019-11-05 16:01] MomIsBestFriend opened #29413 "botocore requirement error"
When running the command:
[code]

I got an error massage that says:
[code]

But the followed commands haven't raised an error:
1. ```python setup.py build_ext --inplace -j 0```
2. ```python -m pip install -e . --no-build-isolation --no-use-pep517```

P.S
Everything seems normal ATM, just never saw that error message before.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----

[2019-11-05 16:49] bizzfitch opened #29414 "ENH: Allow sorting of a dataframe on a boolean/function?"
From searching variants of the phrase "sort pandas on boolean," I don't think the feature I am describing is doable in an easy way at this point, so I think it's a good candidate for a feature. It might not be possible in the way I'm envisioning, but I'm interested in whether or not the base feature can be done.

Forgive me if there is a way to do what I'm getting at, and I just haven't found it-

[2019-11-05 16:52] fkromer opened #29415 "Add GroupBy.gmean() and GroupBy.gstd()"
#### Code Sample, a copy-pastable example if possible

Calculating the arithmetic mean and arithmetic standard deviation using `GroupBy` objects can e.g. be done like

[code]

which gives

[code]
.

#### Problem description

Using `GroupBy` objects is a common option during data binning operations. It's particularly important if dataframes to be processed are big which can be handled with parallel

[2019-11-05 17:07] #28619 closed

[2019-11-05 17:18] #22620 closed

[2019-11-05 17:19] #14422 closed

[2019-11-05 17:23] kalikgod commented on #20596
After making a manual work around, I found that pd.Dataframe.index resets the time offset back to the incorrect value.

df
Out[26]:
Empty DataFrame
Columns: []
Index: [2019-11-03 00:00:00-05:00, **2019-11-03 01:00:00-05:00**, **2019-11-03 01:00:00-06:00**, 2019-11-03 02:00:00-06:00, 2019-11-03 03:00:00-06:00, 2019-11-03 04:00:00-06:00, 2019-11-03 05:00:00-06:00, 2019-11-03 06:00:00-06:00, 2019-11-

[2019-11-05 17:38] WillAyd commented on #29414
I imagine the big bottleneck in your operation is the lambda function. If you change `df.DESCR.apply(lambda s: "GIZMO" if s.startswith('GIZMO') else 'GADGET')` to `df["DESCR"].str.startswith("GIZMO")` it should be order of magnitudes faster.

I suppose somewhat limiting that `sort_values` requires you to sort by a label and not an arbitrary array, but we typically don't mix both as it leads to amb

[2019-11-05 18:07] pirsquared opened #29417 "DataFrame shift along columns not respecting position when dtypes are mixed"
#### Setup

[code]

Outputs

[code]
#### Problem description
[See Associated Stackoverflow question](https://stackoverflow.com/q/58715801/2336654)

The shift places a column's values into the next column that shares the same dtype.  The expectation is that the column's values are placed into the adjacent column.

#### Expected Output

[code]
#### Output of ``pd.show_versions()``

<details>

INSTAL

[2019-11-05 19:00] rsdpyenugula opened #29418 "ENH: Group By Grouping set /Cube/ Rollup"
#### Problem description
Basically these are performance tools in SQL to get analysis in multiple dimensions and they are missing in Pandas out of the box. Some of these can be achieved by a pivot table and melt/stack functions but being tools for analysis these functions should be a must and it also decreases the number of lines of code.

Group by Grouping set will help to rewrite the query with

[2019-11-05 19:50] jbrockmendel commented on #29413
dateutil recently released 2.8.1, and it looks like botocore has specifically pinned to <2.8.1.  This probably needs to be fixed on their end.  In the meantime, you might be able to fix this by specifically installing `pip install python-dateutil<2.8.1` before doing the pip command in the OP

[2019-11-05 20:10] bizzfitch commented on #29414
Definitely true, my particular example has more than 2 categories so I didn't think about the boolean option for the example, but it's a good point.

[2019-11-05 20:56] SaturnFromTitan commented on #22154
@jreback I think this issue can be closed. I can't spot this warning in the CI outputs anymore. Also, we're on `numpy` 1.17 already, so this shouldn't already be deprecated.

[2019-11-05 20:57] #25858 closed

[2019-11-05 21:30] jreback commented on #22154
@SaturnFromTitan we have backward compatibility thru 1.13

are these on the 3.5 compact build?

[2019-11-05 21:32] oguzhanogreden commented on #16724
FYI, I'm planning to give this a go soon.

[2019-11-05 21:37] SaturnFromTitan commented on #22154
Where/How can I see the backward compatibility specs? The `environment.yml` states `numpy>=1.15`

[Here's](https://github.com/pandas-dev/pandas/pull/29419/checks?check_run_id=289766537) the compat build of a very recent PR. I don't see any warnings there.

[2019-11-05 21:53] erikr commented on #23803
Agreed. This functionality would be very helpful.

Also, @gwerbin, thanks for your code snippet. Separate beginner question, but does using a lambda function confer speed benefits over a normally defined function?

[2019-11-05 22:02] #28846 closed

[2019-11-05 22:07] TomAugspurger commented on #29418
Can you provide a minimal example, with data, and a proposed API so that we can evaluate the proposal?

[2019-11-05 22:08] jreback commented on #29414
kind of -0 on allowing a callable here ; would accept a PR for it though

[2019-11-05 22:10] #28911 closed

[2019-11-05 22:10] jreback commented on #22154
look at the ci/deps

[2019-11-05 22:10] #27487 closed

[2019-11-05 22:11] #27014 closed

[2019-11-05 22:11] #27012 closed

[2019-11-05 22:18] #23028 closed

[2019-11-05 22:29] charlesdong1991 opened #29422 "DIfferent result between master and from latest pandas version"
related #28201

I find out the result gotten from pandas master is different from using a specific version recently

Also, minimum reproducible example:

[code]

if running the code below on pandas master:
[code]
![Screen Shot 2019-11-05 at 11 25 45 PM](https://user-images.githubusercontent.com/9269816/68251520-9f054700-0023-11ea-8a0f-c19fb332790e.png)

But if running the same code in `pandas==0.2

[2019-11-05 22:32] jreback commented on #29323
@pambot you can just run the function for the empty case and return the result

might just work

[2019-11-05 22:35] jreback commented on #29413
we should pin this for now in the CI
and open an issue for boto-core

@MomIsBestFriend if you would be able to do this would be great

[2019-11-05 22:39] MomIsBestFriend commented on #29413
@jbrockmendel From what I understood (my  English is not so good), this root cause of the problem haven't anything to do with the panda's repository.

So this one is a "Will not fix"?

[2019-11-05 22:44] jreback commented on #29413
yes this is not a pandas issue,  it would appreciate opening an issue on boto-core
though it’s possible they may have one already

[2019-11-05 22:50] MomIsBestFriend commented on #29413
@jreback I'm really new to development, what is the "CI" (google didn't help at all).

[2019-11-05 22:59] MomIsBestFriend commented on #29413
@jreback Anyway, I just saw this [issue](https://github.com/boto/botocore/issues/1872)  on botocore.

[2019-11-05 23:28] chriswickham100 commented on #29321
Hey @mjobin, I'm going to take a look at this. I'm working through your example and I'll have some thoughts by tomorrow at some point.

[2019-11-06 02:00] Detry322 opened #29426 "Converting ExtensionArrays to indices causes coersion to object"
#### Code Sample (from pandas source)

[code]
#### Problem description

Right now, when you create an index from an ExtensionArray, it causes a coercion to a numpy array of Python objects. See above. For many use cases, this is an expensive operation - many people switch to ExtensionArrays to avoid having numpy lists of objects to begin with! Ideally, it would be possible to store ExtensionArrays

[2019-11-06 02:02] jbrockmendel commented on #29422
Can you post the full traceback

[2019-11-06 04:57] mroeschke commented on #29415
Given the response in https://github.com/pandas-dev/pandas/issues/5576, it's unlikely that we'll add the same methods for `groupby` if it's not on any other pandas objects.

As mentioned https://github.com/pandas-dev/pandas/issues/5576#issuecomment-29328709, you can use `groupby.apply` to apply `gmean` and `gstd` to the groups. In terms of parallelism, as you mentioned, Dask has been making stride

[2019-11-06 04:57] #29415 closed

[2019-11-06 06:55] SebStrug commented on #29315
I'll take the remaining 12.

- [ ]  pandas.tseries.frequencies.to_offset: Summary does not end with a period
- [ ]  pandas.Int64Index: Summary does not end with a period
- [ ]  pandas.UInt64Index: Summary does not end with a period
- [ ]  pandas.Float64Index: Summary does not end with a period
- [ ]  pandas.IntervalIndex.left: Summary does not end with a period
- [ ]  pandas.IntervalIndex.right: S

[2019-11-06 07:27] fkromer commented on #29415
Too bad.

That's true. Numba can be used for parallelization. However as far as I know it does not support distributed parallelization as Dask does.

[2019-11-06 07:48] Clementstore commented on #17495
Thanks guys for all the input which I do really learn a lot.. I found another suggestion which i see maybe one good and fast solution for the captioned topic. Using MultiIndex.from_product without numpy and no merge or lamda etc....

a = [1, 2, 3]
b = ["a", "b", "c"]

index = pd.MultiIndex.from_product([a, b], names = ["a", "b"])
pd.DataFrame(index = index).reset_index()

I read it from here: http

[2019-11-06 07:50] charlesdong1991 commented on #29422
[code]

@jbrockmendel

<img width="809" alt="Screen Shot 2019-11-06 at 8 49 36 AM" src="https://user-images.githubusercontent.com/9269816/68278792-66408e80-0072-11ea-9d7a-b4eb665f5916.png">

[2019-11-06 08:58] gustavz commented on #9220
any news on this? I still see errors when using float16.
In my case I get `TypeError: No matching signature found` on running apply and fillna methods on float16

[2019-11-06 11:04] jreback commented on #29413
closing as not a pandas issue

[2019-11-06 11:04] #29413 closed

[2019-11-06 11:07] jreback commented on #9220
happy to take pull requests but we have very little float16 support / and very little testing

[2019-11-06 11:09] jreback commented on #29422
@charlesdong1991 there are quite a number of changes in 1.0 vs 0.25.x

so likely this is just fixed in master

if we don’t have a test for it would accept a PR to add one

[2019-11-06 11:10] jreback commented on #17495
closing as there are good solutions already or this using a MI and we are -1 on expanding the DataFrame api at all

[2019-11-06 11:10] #17495 closed

[2019-11-06 11:15] jreback commented on #29426
duplicate of https://github.com/pandas-dev/pandas/issues/22861

there is a start of a PR linked there as well

this is non trivial to do; would happily take a PR for steps in this direction

[2019-11-06 11:15] #29426 closed

[2019-11-06 12:19] gustavz commented on #19205
So this issue won't be addressed in future updates?

[2019-11-06 12:32] charlesdong1991 commented on #29422
@jreback  thanks for your reply, will check and add tests for these cases later!

[2019-11-06 12:35] jreback commented on #19205
see #9220

it would take pull requests from the community
pandas is all volunteer and there are 3000 issues open

[2019-11-06 14:26] mjobin commented on #29321
Wonderful, thank you! In the meantime, I put together a workaround that seems to further  highlight the problem. If I add a few rows of random data to the end of a DataFrame, thus making sure no column can entirely match the fill value, the NaN-creating problem disappears.

[2019-11-06 15:25] chriswickham100 commented on #29321
Huh-- so I'm definitely getting the same results! I'm going to keep fooling around with it and the source code, and see if this warrants a documentation addition or a pull request. I'm relatively new to pandas, so if you or someone else comes up with something before I do, feel free to go ahead-- going to take my time.

[2019-11-06 16:23] TomAugspurger opened #29432 "CI: Numpydev failing"
I can reproduce with numpy master

[code]

[code]

Previously, that was bool dtype

[code]

[2019-11-06 16:41] TomAugspurger commented on #29432
See https://github.com/numpy/numpy/pull/14800#issuecomment-550394399 for whats going on. Not sure if it's a regression or deliberate. Will work around it for now in #29433

[2019-11-06 17:11] ganevgv commented on #20757
Finally managed to reproduce the inconsistent behaviour on the specific pandas version ( `pandas: 0.23.0.dev0+38.g6552718d2` on commit: `6552718d2a908a57b88354fe916609631793131e`) using smaller input.

[code]

`Output of pd.show_versions()`
<details>
INSTALLED VERSIONS
------------------
commit: 6552718d2a908a57b88354fe916609631793131e
python: 3.6.5.final.0
python-bits: 64
OS: Darwin
OS-release: 1

[2019-11-06 17:31] mirco69 opened #29435 "df.assign in for loop"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

df.assign creates a new column called "column" and then overwrites it with another new column called "column" instead of adding the collumns "name" and "weight". i think its because of the use of an equal sign instead of colon or comma.

i would like to have an "assign" function, that i can use in a for loop.

[2019-11-06 17:51] #27054 closed

[2019-11-06 18:12] #29330 closed

[2019-11-06 18:17] jbrockmendel commented on #22934
It looks like `moto` is no longer pinned in any of the ci/deps/ files.  Is this closeable?

[2019-11-06 18:20] jbrockmendel commented on #22871
closable?

[2019-11-06 18:48] eriknil-onehot commented on #28926
Looking into  `pandas\tests\indexes\test_base.py`

[2019-11-06 19:03] mroeschke commented on #29435
The Github Issues board is for bugs and enhancement requests for the library. For usage questions, we recommend using Stack Overflow.

[2019-11-06 19:03] #29435 closed

[2019-11-06 19:10] #21411 closed

[2019-11-06 19:11] #28938 closed

[2019-11-06 19:27] #26877 closed

[2019-11-06 19:33] acarl005 commented on #19351
Unit tests for this issue in PR #29438

[2019-11-06 19:54] zbrookle commented on #29138
I think that rather than having options for behaviors when a table doesn't exist, maybe a table just shouldn't be created by default when it doesn't exist and a user tries to insert records. I'd be happy to work on finding and taking out/changing the piece of code that's creating a table when it doesn't exist for inserts.

[2019-11-06 20:00] gfyoung commented on #29321
cc @TomAugspurger @jorisvandenbossche

[2019-11-06 20:01] gfyoung commented on #29397
cc @TomAugspurger

[2019-11-06 20:17] jreback opened #29439 "TST: make subdirs in pandas/tests/io/data"
we should group the test files in pandas/tests/io/data into sub directories, e.g. for stata, excel, html, csv etc.

[2019-11-06 20:19] jreback opened #29440 "TST: group unstack / stack tests into new hierarchy"
we have a mix of stack / unstack based tests in various places: pandas/tests/frame/test_reshape.py and pandas/tests/test_multilevel.py

would be nice to consolidate these into pandas/tests/reshape

[2019-11-06 20:35] gfyoung commented on #29411
I can confirm that there is indeed an increased memory use after running this script.  Does this happen for you if you pass in different values to `memory_usage` ?

[2019-11-06 20:36] pandichef opened #29442 "DataFrame.groupby doesn't preserve _metadata"
I'm following the 0.25.3 [documentation](https://pandas.pydata.org/pandas-docs/stable/development/extending.html#subclassing-pandas-data-structures) on using _metadata.

[code]
The above output produces the result:
AttributeError: 'DataFrame' object has no attribute 'added_property'

**added_property** is _not_ being "passed to manipulation results" as described in the documentation.

[2019-11-06 20:36] MomIsBestFriend opened #29443 "BLD: Error while installing requirements-dev.txt"
While running the command on a fresh virtual env (using pip), I got the error messages:

[code]

I can't run ```pd.show_versions()```.
So here's what I've got:

 - pip -19.3.1
 - setuptools - 41.6.0

SS of the error:
![no_python_3_7](https://user-images.githubusercontent.com/50263213/68335787-ce7c8800-00e5-11ea-9c13-65ab9a2f82d9.png)

Full text:
[code]

[2019-11-06 20:39] gfyoung commented on #29417
Nice catch!  Investigation and PR are welcome!

[2019-11-06 20:40] gfyoung commented on #29443
cc @TomAugspurger

[2019-11-06 21:08] TomAugspurger commented on #29442
FYI, this is likely fixed as part of https://github.com/pandas-dev/pandas/pull/28394, where I'm calling `__finalize__` in more places.

[2019-11-06 21:11] #21131 closed

[2019-11-06 21:20] TomAugspurger commented on #29397
What's the issue? You can't use an id selector and the `table` selector?

[2019-11-06 21:20] ramantehlan commented on #26917
Hey @dansondergaard,

I tried reproducing the issue, but I wasn't able to, here are the results I got.

1. Notebook

![notebook](https://user-images.githubusercontent.com/29037312/68338534-ba964d80-0108-11ea-8786-4d5217148080.png)

2. Lab

![lab](https://user-images.githubusercontent.com/29037312/68338637-f29d9080-0108-11ea-9c2d-a609d3372fdf.png)

3. Browser, using the `.to_html` output.

![browse

[2019-11-06 21:23] #19351 closed

[2019-11-06 21:31] Tiarles commented on #29397
Hi,

If you want to modify attributes of the table, the parameter “table” in the ‘selector=’ argument does not render properly the table like I shown in the snippet code.

Warm regards,

Tiarles da Rocha Moralles Guterres

Computer Engineering
Academic of Electrical Engineering Master (UFSM)
RAS IEEE Member
Federal University of Santa Maria

________________________________
De: Tom Augspurger <not

[2019-11-06 21:48] pandichef commented on #29442
Ok.  I'll check it out.  Are you saying that
SubclassedDataFrame.groupby.sum would now return a  SubclassedDataFrame
instead of a regular DataFrame?  That's the only way I could the metadata
being preserved.

ᐧ

On Wed, Nov 6, 2019 at 4:09 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-11-06 21:56] TomAugspurger commented on #29323
Probably.

For DataFrame.apply on an empty df, we should be able to pass the empty cols to the user's function.

For `Series.apply`, we can't do anything. There's no row to call the function on.

@jreback I think this issue is specifically about Series.apply.

[2019-11-06 22:36] JCourt1 commented on #29323
That's right, it's about `Series.apply`. In a statically typed language, you would generally have the following situation:

[code]

where you can know what type result is (even if the input were empty). Obviously python isn't like that, but at least having some way of forcing `apply` to produce the right type would be helpful, as effectively we get the expected behaviour **except** in the edge cas

[2019-11-06 22:52] simonjayhawkins commented on #29394
Thanks @pambot. as well as `'int64'`, the string `'integer'` also works. The code sample is the last example in the docstring. https://dev.pandas.io/docs/reference/api/pandas.DataFrame.select_dtypes.html

[2019-11-06 23:14] jreback commented on #29323
ok closing

yeah this is basically impossible to infer for a Series because we can’t call the function

[2019-11-06 23:14] #29323 closed

[2019-11-06 23:44] #22871 closed

[2019-11-06 23:45] #22934 closed

[2019-11-07 00:00] alimcmaster1 commented on #29439
+1 - would you prefer 1 large PR or separate PRs per group?

[2019-11-07 00:14] jreback commented on #29439
a single PR would be ok here

[2019-11-07 00:21] nick-schultz opened #29451 "Add ability to plot area kind with "steps" drawstyle"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It would be nice to be able to create a "stepped" area plot.  Similar to a line(drawstyle="steps"),  but with the area under the line filled in:

 **df.plot.line(drawstyle="steps")**
![image](https://user-images.githubusercontent.com/1243301/68348895-2f896900-00b0-11ea-99d6-81da5d240442.png)

As a work around,

[2019-11-07 00:23] alimcmaster1 commented on #29439
Sure - happy to do this.

[2019-11-07 00:31] jbrockmendel commented on #23179
Trying to de-duplicate is_extension_array_dtype and is_extension_type, I'm finding that the lack of EA.map is a blocker for using is_extension_array_dtype in all cases.

[2019-11-07 00:33] hwalinga commented on #29435
Assign uses keyword arguments. Keywords arguments are basically just dictionaries being passed. Using dictionaries and using *argument unpacking*, you can use the value of the string instead. Like this:

    df.assign(**{column: other_df[column]})

You can even go more advanced in with this by instead of using for loops, using a dictionary comprehension.

    df.assign(**{column: other_df[column]

[2019-11-07 01:27] TomAugspurger commented on #23179
FWIW, I don't think deduplicating is_extension_array_dtype
and is_extension_dtype important enough to warrant adding a new method to
the API.

On Wed, Nov 6, 2019 at 7:31 PM jbrockmendel <notifications@github.com>
wrote:

[2019-11-07 01:39] 1643925 opened #29453 "Can't read excell file .xlsx (TypeError: read_excel() got an unexpected keyword argument `parse_cols`)"
#### Code Sample, a copy-pastable example if possible

[code]

[2019-11-07 01:41] WillAyd commented on #29453
As the traceback suggests there is no `parse_cols` argument for read_excel

[2019-11-07 01:41] #29453 closed

[2019-11-07 01:46] 1643925 commented on #29453
What do you suggest to get rid of this error, the code works on my colleague his pc but doesn't on my laptop and pc at home ?

[2019-11-07 04:20] gfyoung commented on #16979
The `.astype` also seem to be resolved as well on `master`.

[2019-11-07 06:41] artdgn commented on #26068
### Workaround:
A workaround that worked for me is to patch the `loads` function that's used in `read_json`.
You can patch it using the default python `json` module or using [simplejson](https://github.com/simplejson/simplejson) instead of the standard python json module.
E.g. if you monkeypatch pandas like this:
[code]
After this patch `read_json()` should work on the example above (`pandas.read_

[2019-11-07 06:46] hyfjjjj commented on #29411
Yes. I've tested several cases and all have a significant increase of memory use.

[2019-11-07 10:01] thehalftruth opened #29459 "Title overlaps subplot"
#### Code Sample
[code]
#### Problem description
The title overlaps the subplot:
![grafik](https://user-images.githubusercontent.com/9128021/68378413-5c8b5980-014c-11ea-9d5e-6226ff4cc10f.png)
Also the xticks should not be rotated, but I will create a new issue for that.

#### Expected Output
The title shouldn't overlap the subplot.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIO

[2019-11-07 10:04] thehalftruth opened #29460 "xticks unnecessarily rotated"
#### Code Sample
[code]
#### Problem description
The xticks are unnecessarily rotated:
![grafik](https://user-images.githubusercontent.com/9128021/68378413-5c8b5980-014c-11ea-9d5e-6226ff4cc10f.png)
Also the title overlaps the subplot, but I will create a new issue for that.

#### Expected Output
The xticks shouldn't be rotated.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
-

[2019-11-07 11:09] Sup3rGeo commented on #29397
@TomAugspurger the css generated by pandas has the selector like `#T_60255858_ff24_11e9_9c6a_988389d0b304 table`, which fails to apply the style to the table with that id.

It seems to be that the right way of selecting using the *tag* and *id* is, instead, `table#T_60255858_ff24_11e9_9c6a_988389d0b304`, which works.

We could be missing something here as we are not experts in CSS/HTML

[2019-11-07 14:04] jgehrcke opened #29461 "Timestamp.strftime(): missing support for nanoseconds"
When parsing text into a `Timestamp` object we can specify a format string. Currently `%f` is documented with

See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html, in particular the description of the `format` parameter. The note about `%f` was added in this patch: https://github.com/pandas-dev/pandas/pull/8904

The fact that we can parse text using nanosecond pr

[2019-11-07 14:06] TomAugspurger commented on #29397
Yeah, that was my question.

So set_table_styles only works with *class* and not *object* selectors, is
that correct? And `table` is an object selector?

On Thu, Nov 7, 2019 at 5:09 AM Victor Maryama <notifications@github.com>
wrote:

[2019-11-07 14:10] jgehrcke commented on #29461
Note to self: interestingly, I just saw that Ruby's strftime has a `%N - Fractional seconds digits, default is 9 digits (nanosecond)`: https://ruby-doc.org/core-2.6.4/Time.html

[2019-11-07 14:28] #29443 closed

[2019-11-07 14:44] chris-b1 commented on #23209
That bug has been fixed in the most recent version of MSVC  - I'm a little disconnected form our build process to know if that's what were using.

[2019-11-07 14:52] isaacgg opened #29462 "Possible bug in df.update"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When using update function with datetime data, it is automatically converted to timestamp, which for me it seems like an abnormal behaviour. Code from above would output

  _id                       date
0   a 2019-11-07 15:50:06.072158
1   b 2019-11-07 15:50:06.072158
  _id                 date
0   a  15731418

[2019-11-07 14:54] hjfreyer opened #29463 ""Cannot compare tz-naive and tz-aware datetime-like objects" when querying DatetimeIndex"
## Code Sample, a copy-pastable example if possible

[code]
#### Problem description

query shouldn't behave differently when the thing being queried is an index vs a column. Also, the error just seems objectively incorrect, as both values are tz-aware to start with (perhaps it's getting lost along the way).

May be related to #26236 , but the repro is different.

#### Expected Output
Not an excep

[2019-11-07 15:03] jsignell commented on #29412
Thanks for writing this up Tom. I think in particular the issue for hvplot was that the preprocessing step was assuming that the the columns of interest can be known on the pandas side. This doesn't hold true for hvplot because there are additional kwargs (groupby, by, row, ...) that accept column names.

[2019-11-07 15:32] mzjp2 opened #29465 "Pandas dev requirements broken"
#### Problem description

Trying to install `requirements-dev.txt` fails with

[code]

because of https://github.com/boto/botocore/commit/e87e7a745fd972815b235a9ee685232745aa94f9

I suspect CI/CD pipelines are still okay because it caches dependencies.

#### Expected Output

Installation successful

[2019-11-07 15:45] WillAyd commented on #29465
Thanks for the report. This is a duplicate of https://github.com/pandas-dev/pandas/issues/29413

[2019-11-07 15:45] #29465 closed

[2019-11-07 16:13] TomAugspurger commented on #29321
Is this a fully minimal example? I'm having trouble following it.

Which part of the example shows this? Is this it?

[code]

[2019-11-07 16:14] TomAugspurger commented on #29321
This sounds similar to https://github.com/pandas-dev/pandas/issues/27781. Is this a duplicate?

[2019-11-07 18:24] MomIsBestFriend opened #29468 "DOC/ENH: Consider adding optional "Raises" section to the docstring style guide"
In the panda's [docstring style guide](https://dev.pandas.io/docs/development/contributing_docstring.html#docstring), there's no reference about the "Raises" section.
I do see the "Raises" section appear hear and there in the codebase, and wondered if it appeared in the right order(i.g "Returns" before "Parameters"), when came to realize that there's no explanation about it.

Just want to hear fee

[2019-11-07 18:25] jbrockmendel commented on #26629
Whats the win condition here?  i.e. how can i check whether this is fixed?

[2019-11-07 18:33] Tiarles commented on #29397
With my poor knowledge in HTML/CSS  I think that in this case the table is a kind of selector, a general one. You must to be able to edit properties in the headers ('th' and 'tr'), in the data ('td') and in the general part of the table, using 'table{ ... }', "#*id* { ... }" or still 'table#*id*{ ... }'.

I don't know if I answered properly your question.

[2019-11-07 20:32] mjobin commented on #29321
I tried to make the example as minimal as possible while showing when this does and does not occur. From the code I put in above, sparse columns where all values match the fill value turn into NaN's when the DF is manipulated — but this does not affect dense columns nor sparse columns where there is some variation in the values. Here's a smaller example that only compares a sparse and dense column

[2019-11-07 20:33] datapythonista opened #29472 "CI: Move documentation build to GitHub actions"
GitHub actions is out of beta, and should have much better integration with GitHub than pipelines.

I'm thinking on giving it a try for the documentation build, and see if we can get an improvement on current CI problems:
- Too many steps from the PR page to the logs (#26895)
- Notify with a comment on the PR when there are problems (#26930)
- Publish the documentation for a PR so it can be seen

[2019-11-07 21:19] #28479 closed

[2019-11-07 21:20] #29311 closed

[2019-11-07 21:21] #28898 closed

[2019-11-07 21:23] #23914 closed

[2019-11-07 22:12] petiop commented on #8284
I am having the same issue where the use-case is storing multidimensional and variable-shape np arrays (unflattened images). I store in 'table' format and I tried adding the column to `data_columns`. Still getting the same error:
[code]
Are there other workarounds that I can try? Also, is this issue still open to contributions (beefing up the object-block handling to work with types other than str

[2019-11-07 22:13] #14525 closed

[2019-11-07 23:28] nick-schultz commented on #29451
I think I figured out what needs to be done.

I noticed that matplotlib has different ways of drawing a step function

for plotting lines, it uses `drawstyle`,  for the filling( `fill_between`) , it uses `step`.

so I passed both of those arguments separately and I noticed two different exceptions:

**df.plot.area(drawstyle="steps-mid")**
[code]

**df.plot.area(step="mid")**
[code]

so in **pandas

[2019-11-08 00:00] jreback commented on #8284
there is no support for non scalar types at all

[2019-11-08 00:24] WillAyd commented on #26869
closed in #27050

[2019-11-08 00:24] #26869 closed

[2019-11-08 00:24] WillAyd commented on #26629
Closing this in favor of #27404 - there is more details therein

[2019-11-08 00:24] #26629 closed

[2019-11-08 00:25] WillAyd commented on #26629
Though should have been solved by #28128

[2019-11-08 00:34] WillAyd commented on #26494
See discussion in #29191 I think this is rather ambiguous, so not something that really can / should be supported

[2019-11-08 00:34] #26494 closed

[2019-11-08 00:41] nick-schultz commented on #29451
As a short-term workaround in my local project,  monkey patching `MPLPlot._plot`  to perform the conversion gives me the desired behavior:

[code]

and use the `plot.area()`  like so:
[code]

[2019-11-08 00:48] bnaul commented on #28866
This seems like a bug to me, not an unclear warning message; maybe the issue title can be updated to reflect the actual behavior (fillna not working w/ duplicate column names)?

[2019-11-08 01:01] petiop commented on #8284
I don’t mind converting them to bytes and saving that, but that too is not supported atm

[2019-11-08 01:03] #27451 closed

[2019-11-08 01:06] jreback commented on #8284
@petiop you are welcome to submit a PR for this but it’s non-trivial

i would use parquet for this

[2019-11-08 03:10] larroy opened #29476 "Improve fname documentation for to_parquet"
#### Code Sample, a copy-pastable example if possible

Should to_parquet without file behave the same way than to_json in which if no file is specified we return the buffer?

[2019-11-08 04:17] #20888 closed

[2019-11-08 06:53] thy09 opened #29478 "BUG: Series.count() raises exception after upgrading from v0.24.1 to v0.25.3 if use_inf_as_na is enabled for a DateTime series."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Previously with pandas v0.24.1, the above code works well,
however, after I upgrade the version to v0.25.3,
the above code raises an exception:
`AttributeError: 'DatetimeArray' object has no attribute '_constructor'`

It seems that something goes wrong when passing a `DatetimeArray` to `_isna_old`.
I think it i

[2019-11-08 08:19] vaaaaanquish opened #29479 "df.explode is required for reset_index"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
[code]

#### Problem description

The ideal of `A.explode('x')` output is following.
[code]

But, The actual output is enlarged because the index of `DataFrame A`.
This will cause mistakes for users of explode method.

#### Expected Output

The solution is to do a `reset_index` before the `explode`.
[code]

#### Output of ``pd.sh

[2019-11-08 09:12] vaaaaanquish commented on #29479
Sorry. Seems to have solved here.
https://github.com/pandas-dev/pandas/pull/28010

[2019-11-08 09:17] vaaaaanquish commented on #29479
Close and wait for release. Thanks :)

[2019-11-08 09:17] #29479 closed

[2019-11-08 09:58] madeleinemf commented on #3729
I would also really like an option that allows dropna=False to allow a group keyed by Nan values.

[2019-11-08 12:13] sbitzer opened #29481 "TypeError: sum() got an unexpected keyword argument 'skipna'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above call to `agg` gives

[code]

This is, because here:
https://github.com/pandas-dev/pandas/blob/67ee16a283b826b4adb07e5ca64a5206d242acaf/pandas/core/groupby/groupby.py#L1376
we are trying to access a new column name (`'a'`) in the original DataFrame.

It only occurs, when no `_cython_agg_general` is poss

[2019-11-08 13:02] coells opened #29482 "Dataframe assignment breaks Timestamp series (possibly due to rounding)"
#### Code Sample

[code]

#### Problem description

Upgrade from Pandas 0.24.1 to 0.25.3 causes a bug in how a Timestamp series/ndarray is handled. The bug seems to be present at least since 0.25.1.

The code above takes a subset of dataframe column and stores it as separate series or ndarray. After the assignment back to the dataframe, nanosecond precision is broken as shows the script output.

[

[2019-11-08 13:54] georgelil opened #29484 "DataFrame histogram plot error with bins='auto'"
Hi,

Im having a problem using pandas.plot.hist with the bins argument set to 'auto'.
I'm on os x, with the following package versions installed:

pandas: '0.25.3'
numpy: '1.17.2'
matplotlib: '3.1.1'

This error happens if I'm in jupyterlab, notebook, python or ipython.

#### Here's what produces the error:

[code]

#### Output of the above code:

<details>

ValueError

[2019-11-08 14:29] jmakovicka commented on #29482
AFAICS the problem goes as follows:

- In Block.setitem, the datetime64[ns] value arg is first coerced into int64
- then, in block.py:855 self._can_hold_element(value) returns false
- int64 is promoted to float64, which corrupts the nanoseconds

The promotion in block.py:855 should be probably avoided if self.is_datetime == True.

[2019-11-08 14:33] dokteurwho opened #29485 "groupby.quantile() fails on Timedelta columns"
#### Code Sample, groupby quantile example

[code]
#### Problem description

The code example used to work in 0.21.1.
In 0.25 I obtain a "TypeError: No matching signature found"

#### Expected Output
Pandas 0.21.1

               delta
idx
1   28 days 21:36:00
2   10 days 00:00:00

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
pytho

[2019-11-08 14:45] #26597 closed

[2019-11-08 14:48] #29034 closed

[2019-11-08 14:56] TomAugspurger commented on #29476
Probably not, since parquet isn't a plaintext format.

[2019-11-08 16:13] WillAyd commented on #29485
The method was overhauled in 0.25 to push it down from the Python space to C. If you want to poke around the implementation is in pandas.core.groupby.groupby

[2019-11-08 16:15] WillAyd commented on #29476
Think I am agreed with Tom. Having all to_* functions return the same thing is also a non-goal, as it just doesn't make sense in all cases (to_sql comes to mind)

[2019-11-08 16:17] WillAyd opened #29486 "Bump NumPy to 1.15"
Follow up to #29212 we should bump Numpy to 1.15

**Optional**: we hit CI failures in the PR above on Python 3.6.0 related to Numpy. We bumped Python to 3.6.1 but if we bump numpy instead 3.6.0 might work, if we even care

[2019-11-08 16:30] PatelAshish1 commented on #11493
It might be an issue with

the delimiters in your data
the first row, as @TomAugspurger noted
To solve it, try specifying the sep and/or header arguments when calling read_csv. For instance,

df = pandas.read_csv(fileName, sep='delimiter', header=None)
In the code above, sep defines your delimiter and header=None tells pandas that your source data has no row for headers / column titles. Thus saith

[2019-11-08 16:43] deronnek opened #29487 "BUG in handling of mixed type series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The only thing different between the two cases above is the order of the arguments, which should not affect the result.

.mean() is also affected, and the same result occurs when using the series as a column in a dataframe.

#### Expected Output
I would expect both of the above to return 2, as there are two True

[2019-11-08 16:45] WillAyd commented on #29487
Hmm that does look strange. Investigation and PRs would certainly be welcome

[2019-11-08 16:47] #28166 closed

[2019-11-08 16:49] maresb opened #29488 "Cannot convert string to Int64"
[code]
#### Problem description

Unlike with the other numeric data types, It doesn't seem to be possible to parse a string as `Int64`.  A decent workaround seems to be converting first to float, but that's rather awkward.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS

[2019-11-08 17:01] WillAyd opened #29489 "DataFrame.plot docs broken"
Not showing anything useful  currently. I think the regression came between 0.24 and 0.25

0.25.0 docs:

https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.plot.html

0.24.2 docs:
https://pandas.pydata.org/pandas-docs/version/0.24.2/reference/api/pandas.DataFrame.plot.html

[2019-11-08 17:20] koushikgk commented on #28565
Hey @rp-alevato Is anyone working on this? If not I would  like to. Thanks!

[2019-11-08 17:36] deronnek commented on #29487
An (even more) succinct example--the issue seems to have something to do with the np.bool_ type:

[code]

[2019-11-08 17:38] ryanrolds commented on #27686
The fix to this causes broader limits set were prior to calls to pandas.DataFrame.plot.(line|area) to narrow the plot. The fix is to manually set the desired axis after the calls, but it was still a bit of a surprise to have it narrow the x-axis after the was specifically set larger so that projection lines (pyplot.axvline) would be visible.

[2019-11-08 17:40] luohaoasu commented on #26985
got almost same error. MemoryError

[2019-11-08 18:12] mroeschke commented on #29488
See https://github.com/pandas-dev/pandas/issues/28599.

We recommend using `to_numeric` on object data first before astyping to `Int64`.

[2019-11-08 18:12] #29488 closed

[2019-11-08 19:05] jbrockmendel commented on #23209
Do you know what that version is?  In _libs/src/cmath there is a comment "Place upper bound on this check once a fixed MSVC is released"

[2019-11-08 19:57] TomAugspurger commented on #23209
VS2019. It's mentioned in
https://developercommunity.visualstudio.com/solutions/477668/view.html.

On Fri, Nov 8, 2019 at 1:05 PM jbrockmendel <notifications@github.com>
wrote:

[2019-11-08 20:09] ganevgv commented on #16979
Thanks for the guidance, @gfyoung!

While trying to add a test for the `.astype` error, I encountered another issue:

[code]

After running the code above, on some operating systems (`linux -- Python 3.6.7`, `win32 -- Python 3.6.7`, `win32 -- Python 3.7.5`) applying the boolean mask changes the dtype of the last column `[2, 5]` from `int64` to `int32`. That's the message from the logs:

[code]

I

[2019-11-08 20:29] gfyoung commented on #16979
@ganevgv : I would try opening a PR with this test, but add print statements to confirm whether the dtype is actually changing.  It might actually be a platform thing where the dtype is already `int32`.

[2019-11-08 21:22] wesbarnett commented on #29459
When I plot with your example the Title is above the plot (but numbers still rotated). The Title actually looks a little too far up in my case.

![Figure_1](https://user-images.githubusercontent.com/5508833/68511308-a9059080-0243-11ea-9f84-f2851242cdd4.png)

<details>
<summary>pd.show_versions()</summary>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.

[2019-11-08 21:55] thehalftruth commented on #29459
Interesting. I tried it at my machine at home and I get the same result (title above to subplot). At work I use the scientific view of pycharm pro but this shouldn't change the output. I will try on monday if I get a different output when I turn off the scientific view.

[2019-11-08 22:41] larroy commented on #29476
Thanks for your answers.

[2019-11-09 01:12] alimcmaster1 commented on #29472
+1 to publishing the docs for a PR!

[2019-11-09 01:20] WillAyd commented on #29476
The documentation can be improved but you can pass an io.BytesIO object if you don't want to write to disk. I think path-like objects work as well - any interest in updating the docs?

[2019-11-09 01:43] rsdpyenugula commented on #29418
@TomAugspurger , Let me know if you are not clear with the below example.

Database: Snowflake
The below scripts should work with `MySQL`(ignore schema) or `PostgreSQL`

*Sample Dataframe*
[code]

**After  Transformation**
[code]

**Group by Cube**

This will group by **all the combinations** of the dimensions mentioned in the  `cube` clause.

As its combinations of different dimensions, the ignor

[2019-11-09 01:48] larroy commented on #29476
Sure, I would be happy to update them. I will link the PRs here. Thank you.

[2019-11-09 02:17] Jackblackpearl opened #29501 "to_clipboard"
#### Code Sample, a copy-pastable example if possible

 df[df['Delivery'].notnull()]['Delivery'].astype(int).to_clipboard(excel=True, sep=',',index=False)

[code]

[2019-11-09 02:18] jreback commented on #29418
rollup looks like a resample

cube is way too terse and completely non pythonic; i think you can replace this with a group by and concat (you indicated above). this operation is just doing to much.

i am not sure you get a whole lot by adding these kinds of operation except some api bloat. pandas is all about simple, practical, and composable operations.

i would fear an implementation of these wo

[2019-11-09 02:20] jreback commented on #29501
you should address with pyinstaller

[2019-11-09 02:20] #29501 closed

[2019-11-09 02:24] Jackblackpearl commented on #29501
Thanks for the update. Will raise the same question over there.
But I do like to know that to_clipboard is worked well after taking the build(.exe)

[2019-11-09 06:38] rajibmitra commented on #29487
Lets add one test case for this and let the test fail first.
Does that sound good ?

[2019-11-09 09:27] #29468 closed

[2019-11-09 12:40] alimcmaster1 commented on #29341
I've take a look at this here: https://github.com/pandas-dev/pandas/pull/29508

[2019-11-09 15:43] datapythonista opened #29512 "DEPS: Minimum numpy version for pandas 1.0"
There has been some discussion about dropping numpy 1.13, and require 1.15 for pandas 1.0. See https://github.com/pandas-dev/pandas/pull/29212#issuecomment-551856248

I think that'd be nice to reduce our matrix of builds for the CI, other than that I'm not sure what advantages this will have in our code base.

Any opinions @pandas-dev/pandas-core ?

[2019-11-09 15:46] datapythonista commented on #29489
This is a duplicate of #27748. I'm going to close that one, as contributors usually don't check old issues.

[2019-11-09 15:46] datapythonista commented on #27748
Superseded by #29489

[2019-11-09 15:56] alimcmaster1 commented on #29512
Related: https://github.com/pandas-dev/pandas/issues/29486

[2019-11-09 16:19] haichuan0424 commented on #29417
Can I give this issue a try?

[2019-11-09 16:42] KrinalPatel11 commented on #11493
df = pandas.read_csv(fileName, sep='delimiter', header=None)

Full Code With Example at [Here](https://icetutor.com/question/python-pandas-error-tokenizing-data/)

[2019-11-09 18:03] alimcmaster1 opened #29514 "Flakey Test in CI - Unclosed File Handle"
Seen this in a few pipelines today:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=20521
https://github.com/pandas-dev/pandas/runs/295247988

[code]

[2019-11-09 18:25] ganevgv commented on #16979
@gfyoung : After further investigation, I identified where the problem is coming from.

When initialising df with int data w/o nans, the default dtype for all columns on some platforms (`linux -- Python 3.6.7`, `win32 -- Python 3.6.7` and `win32 -- Python 3.7.5`) is `int32`:
[code]

However, if you initialise df with int data w/ nans the dtype for columns w/o nans (same platforms) is `int64`:
[cod

[2019-11-09 19:18] #29408 closed

[2019-11-09 19:43] #15853 closed

[2019-11-09 20:26] WillAyd commented on #29398
Should be fixed now, but lmk if you see anything suspicious

[2019-11-09 20:26] #29398 closed

[2019-11-09 20:31] rsdpyenugula commented on #29418
@jreback , I not sure why it's complicated. It's already been implemented in different open sources DB like MySQL and PostgreSQL So it would be a similar approach so no need to reinvent the wheel. As I said above these function are implemented such way it helps the performance rather than the concat way.

             pandas was known as an `Analytics tool` so I strongly say these analytics should

[2019-11-09 21:09] #16769 closed

[2019-11-09 21:57] Raalsky commented on #27085
Is anyone in active development about these issue? Could I spend awhile upon it? @Hiyorimi

[2019-11-09 22:48] gfyoung commented on #29417
@haichuan0424 : Yes!  You are more than welcome to!

[2019-11-09 22:52] gfyoung commented on #29486
Just from an operational perspective, I agree with the comments in #29212 that we should follow the NEP and bump to 1.15.  I don't know what functional benefits `pandas` gains from this, but as long as there are not any negative side effects, I think I'm okay with this.

[2019-11-09 22:52] gfyoung commented on #29512
Just from an operational perspective, I agree with the comments in #29212 that we should follow the NEP and bump to 1.15. I don't know what functional benefits pandas gains from this, but as long as there are not any negative side effects, I think I'm okay with this.

[2019-11-09 23:00] JacksonDagger commented on #29489
I'm gonna take a crack at this if no one else is working on it!

[2019-11-10 00:09] ryankarlos commented on #13655
Ill have a go at this.

[2019-11-10 00:24] WillAyd commented on #29514
Pretty interesting the warnings are only for .xlsx and .xlsm files, so maybe something with the openpyxl reader; would think .xls would show as well if it were xlrd

[2019-11-10 00:44] WillAyd commented on #29486
Closing in favor of #29512

[2019-11-10 00:44] #29486 closed

[2019-11-10 00:48] WillAyd commented on #29481
Somewhat interesting but this gives a different error on master:

[code]

@jbrockmendel

[2019-11-10 00:50] WillAyd commented on #29481
Though this might be correct now; `sum` doesn't accept keyword arguments when supplied a DataFrame or as an argument to DataFrame.apply (note requirements for agg in docs)

[2019-11-10 02:43] ryankarlos commented on #14011
@mroeschke had a go at this

[2019-11-10 03:47] rishabh7m commented on #29487
Hi, I don't think this is because of `np.bool_`. In [nanops.py](https://github.com/pandas-dev/pandas/blob/9c2505582259727b770a77139a8ac935d1d9325d/pandas/core/nanops.py#L290) `dtype` is assigned as `object` which makes sense as it has mixed data types. When `dtype` is changed to `np.int64` it returns 2. I also tried to create same case by using numpy arrays

[code]
I will look into numpy code. But

[2019-11-10 04:57] rishabh7m commented on #29487
It might not be treating `np.bool` and `np.bool_` as same
[code]

[2019-11-10 08:01] 0xF4D3C0D3 commented on #29514
I'm suffering from the same issue too. fwiw, below is my test order in which PythonParser is used:

<details>

pandas/tests/io/parser/test_common.py::test_url[python]
pandas/tests/io/parser/test_common.py::test_local_file[python]
pandas/tests/io/parser/test_common.py::test_path_path_lib[python]
pandas/tests/io/parser/test_common.py::test_path_local_path[python]
pandas/tests/io/parser/test_common.p

[2019-11-10 09:14] oguzhanogreden opened #29526 "Non-unique integers coerced to float during UInt64Index creation with explicit"
Noticed this thanks to @jschendel 's comment over [here](https://github.com/pandas-dev/pandas/pull/29420#discussion_r344376557). I'll use this to learn more about data types and try to suggest a reasonable solution.

Somewhat relevant: #15832, #18400

#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The numpy array creation [here](https://github.com/pandas-d

[2019-11-10 09:53] abitrolly opened #29528 "pd.read_html() convert <br> to space"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
In original web page the first cell of table contains three separate words.

![image](https://user-images.githubusercontent.com/8781107/68541843-809da380-03b5-11ea-8bdd-c64162ff04b6.png)

In `pandas` table the first cell contains only two words, with first word being the join of the former two first.

![image](h

[2019-11-10 13:07] simonjayhawkins commented on #29398
Thanks @WillAyd

incorrect whatsnew

![image](https://user-images.githubusercontent.com/13159005/68544395-a24d5980-03ba-11ea-8975-ee7a22b895d9.png)

and google still shows version hash on search but links to correct docs

![image](https://user-images.githubusercontent.com/13159005/68544416-db85c980-03ba-11ea-98dd-531447ab8a69.png)

[2019-11-10 15:22] #29204 closed

[2019-11-10 16:10] simonjayhawkins opened #29532 "Update DataFrame.to_feather() docstring/api documentation and deprecate fname argument."
#### Code Sample, a copy-pastable example if possible

This code works.

[code]
#### Problem description

Documentation doesn't mention accepting a buffer.

[code]
#### Expected Output

change argument name to better reflect types accepted and be consistent with other io methods.

would need to deprecate `fname` argument.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd

[2019-11-10 16:38] kokes commented on #28952
Great stuff! I checked the API reference and for longer methods, like `read_csv`, it's sort of a wall of black text (apart from the odd `code` block there) - have you thought about differentiating the sections in some way?

I did something extremely basic to illustrate my idea:

[code]
<img width="616" alt="Screen Shot 2019-11-10 at 5 36 27 PM" src="https://user-images.githubusercontent.com/845175

[2019-11-10 17:00] jcolot commented on #29487
The issue seems to be related to numpy sum(), not pandas:

`>>> import numpy as np

2

1
`

[2019-11-10 17:09] jcolot commented on #29487
The issue seems to be related to numpy sum(), not pandas:

[code]

Or even simpler:

[code]

[2019-11-10 19:11] #14011 closed

[2019-11-11 05:51] jschendel commented on #29526
Yeah, the root cause of this looks to be numpy's inference rules.

From what I can tell numpy looks to be inferring `float64` instead of `uint64` when both of the following conditions are met:
- input data contains a number supported by both `int64` and `uint64` (0 to 2**63 - 1)
- input data contains a number supported by only `uint64` (2**63 and above)
[code]
This works fine if `uint64` is explic

[2019-11-11 06:51] jschendel opened #29539 "Numeric Index constructors should validate `dtype` parameter"
The `Int64Index`, `UInt64Index`, and `Float64Index` constructors do not validate the `dtype` parameter and instead ignore it when it conflicts with the default dtype:
[code]

Other index types do not allow non-standard dtypes:
[code]
#### Expected Output
I'd expect `In [2]`/`In [3]`/`In [4]` to raise a `ValueError`.

[2019-11-11 09:38] 0xF4D3C0D3 commented on #29514
I'm suffering from this too #28681 . what can I do to help? I want to help... but I don't know where to start. It would be nice if I can help something.

[2019-11-11 11:49] Azuremis commented on #4607
I'm not able to pursue this at this time. Anyone else interested, please feel free to go ahead

[2019-11-11 11:54] MarcoGorelli commented on #29539
Sure, I could work on this if you like (though if any new contributors following along would like to take it, please do go ahead)

[2019-11-11 12:01] rubenvereecken opened #29541 "pd.Dataframe.from_dict does not create MultiIndex from tuple keys"
#### Code Sample, a copy-pastable example if possible
I've got two samples. The first one is *successful*, ie it creates a MultiIndex as expected. The
second one I would expect to work, but it doesn't.

##### Working example
[code]
Results in:
[code]

##### Unexpected behaviour example
[code]
Results in:

[code]
The first example creates a MultiIndex with two levels, the second one creates a singl

[2019-11-11 12:15] dumbledad commented on #26314
Any news on this, I'm failing to roll back to 0.21. My next course of action is to rewrite vectorised function as a loop but I'd rather not.

[2019-11-11 12:31] gggsanna opened #29542 "DataFrame memory_usage inflates when unpickling a MultiIndex, deflates after copy"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When a dataframe with a multiindex is pickled and then reloaded, its "memory_usage" increases by many times (in the example, approximately x4). If the dataframe is copied after reading, the memory_usage goes back to its original value. This does not happen with columns or with simple indices (non-multiple ones)

[2019-11-11 14:01] jreback opened #29544 "TST: split pandas/tests/frame/test_indexing.py"
this file is holding lots of different types of tests, should split up into a sub-dir like we have pandas/tests/indexing

[2019-11-11 14:07] ksurta commented on #29544
May I work on this task?

[2019-11-11 14:15] deronnek commented on #29487
Weirdly, even though ``np.bool_(0.2) is True`` evaluates to False:

``python

True
[code]

[2019-11-11 14:24] alimcmaster1 commented on #29544
@ksurta - go for it!

[2019-11-11 17:42] Raalsky commented on #27085
Does anyone was thinking about the way we can split `fixtures` for `test_offsets`? -> https://github.com/pandas-dev/pandas/blob/07efdd4448c9a1b83e5260ff764f24b93e0c803d/pandas/tests/tseries/offsets/conftest.py#L7
I mean it's necessary in case we iterate over the list of classes from `tseries.offsets.__all__`. Is it ok if we have logic about filtering Business/Non-Business classes within two differ

[2019-11-11 18:06] natkhatcoders commented on #19993
example_multilevel_dict = {
  (0, str(datetime.date(2018, 3, 3))): {'A': 5, 'B': 1344, 'C': 0, 'D': 48, 'E': 20},
  (0, str(datetime.date(2018, 3, 4))): {'A': 5, 'B': 1344, 'C': 0, 'D': 48, 'E': 20},
  (1, str(datetime.date(2018, 3, 3))): {'A': 5, 'B': 1344, 'C': 0, 'D': 48, 'E': 20},
  (1, str(datetime.date(2018, 3, 4))): {'A': 5, 'B': 1344, 'C': 0, 'D': 48, 'E': 20}
}

pd.DataFrame.from_dict(exa

[2019-11-11 18:14] natkhatcoders commented on #19993
![Screenshot 2019-11-11 at 11 35 29 PM](https://user-images.githubusercontent.com/33603893/68610152-2697fd80-04dd-11ea-8f65-f29560a85fb8.png)

[2019-11-11 18:20] MomIsBestFriend opened #29547 "Replace old string formatting syntax with f-strings"
Since we no longer support python 3.5, we can now use the new f-strings instead of the old ```.format()``` ( and obviously the ```%``` formatting).

#### Notes:
* Don't forget to link this issue in your pull request's body message , simply paste this ```https://github.com/pandas-dev/pandas/issues/29547``` in your pull request's body message.

* If any of your changed files are related to #29886 ,

[2019-11-11 18:36] jreback commented on #27085
there are already some fixtures defined look in pandas/contest.py and see how they r used

[2019-11-11 19:20] WillAyd commented on #8640
closed via #27949

[2019-11-11 19:21] mroeschke commented on #16130
Closing in favor of https://github.com/pandas-dev/pandas/issues/29547

[2019-11-11 19:21] #16130 closed

[2019-11-11 19:27] jorisvandenbossche commented on #8640
There is still relevant discussion here on the second part of this enhancement: a native storage (Tom also updated the top comment to reflect this)

[2019-11-11 20:15] machow commented on #28770
Hey, coming to this discussion from the numpy issues, and thinking about how numpy arrays and pandas Series fit in terms of `collections.abc`.

Wanted to leave a few thoughts in case it's helpful--it seems like a kind of tricky issue, since a Series sits sort of between a couple `collections.abc` types.

## What is an `abc.Sequence`?

It seems like the core issue here is that in python, `abc.Seque

[2019-11-11 20:48] simonjayhawkins commented on #28997
This failure disappeared shortly after but has started failing again locally. currently on 0.26.0.dev0+851.g07efdd444

on latest  2.22.0

[2019-11-11 22:14] jorisvandenbossche opened #29556 "Missing values proposal: concrete steps for 1.0"
Updated with to do list:

* [x] Implement `pd.NA` scalar -> https://github.com/pandas-dev/pandas/pull/29597
* [x] Basic BooleanArray -> https://github.com/pandas-dev/pandas/pull/29555
* [x] Use `pd.NA` in BooleanArray -> https://github.com/pandas-dev/pandas/pull/29961
    * [x] Implement kleene-logic in logical ops on BooleanArray -> https://github.com/pandas-dev/pandas/pull/29842
    * [x] Update

[2019-11-11 22:36] TomAugspurger commented on #29556
My initial reaction is +1 on having StringArray and IntegerArray start using this new `pd.NA` value. Of all the "experimental" things in StringArray, the NA scalar is the one I *know* we'll want to break, since using `np.nan` really doesn't make sense.

If we're able to get BooleanArray done for 1.0, then that'd be great. I think time-wise, it's OK to settle for a simple ndarray + a private mask a

[2019-11-11 23:07] MomIsBestFriend commented on #29547
Im taking:
- [ ] pandas/_libs/parsers.pyx
- [ ]  pandas/_libs/tslib.pyx

[2019-11-12 00:20] jreback commented on #29556
well we would need a hard dependency on pyarrow to allow BoolenArray

since we haven’t had this discussion then -0 on it

pd.NA is fine but i see this as too aggressive to use in IntegerArray for 1.0

this should be in master for a while and get usage

[2019-11-12 01:27] TomAugspurger commented on #29556
It seems to me like we could do integer array using a Boolean ndarray as a mask, and use pyarrow / a bitmask as an optimization later. It’s 2x the memory for now, but that’s maybe Ok.

And I think we’ll eventually want IntegerArray ops to return nullable booleans, so better to do before 1.0?

[2019-11-12 01:50] jreback commented on #29556
it’s not 2x it’s like 10x compared to a native impl

[2019-11-12 02:03] WillAyd commented on #29556
I can't find one issue for it but I still think we should just take pyarrow on as a hard dependency if it simplifies our development. If import time is the big blocker IMO that's not really that big of a deal and would make it easier to manage / communicate BoolArray and similar developments

+0 on pd.NA. Not sure I see understand the entire scope of it from what is described but maybe something t

[2019-11-12 05:06] Afrozodiacc opened #29562 "combine_first not unionising the columns of empty dataframes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The current behaviour is a problem in that the resulting dataframe's columns are not a combination/union of the columns of each of the two dataframes. The expected output is that df.columns would return Index(['a', 'b'], dtype='object'). This expected output is desirable as it is a possible that the dataframes

[2019-11-12 06:45] yashukla commented on #29547
I'll take:

- [ ] pandas/tests/indexes/test_base.py
- [ ] pandas/tests/indexes/test_category.py
- [ ] pandas/tests/indexes/test_common.py
- [ ] pandas/tests/indexes/test_numeric.py

to start, if that's alright!

[2019-11-12 06:58] memeplex opened #29563 "Sparse DataFrame with all-zeros column returns NA for fancy index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Executing the above code results in:

[code]

Instead of

[code]

This could be related to https://github.com/pandas-dev/pandas/issues/27781, although the interpretation of the bug is different.

#### Expected Output

Mentioned above.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
-------

[2019-11-12 07:05] memeplex opened #29564 "Error getting COO of sparse matrix built from concatenation of series with same name"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code throws `IndexError: 0`.

This is a problem either because it is an unsupported case but the error message is *cryptic* or because it is a supported case.

#### Expected Output

No error is thrown or an exception explaining that columns with identical names are not supported is thrown.

#### Outpu

[2019-11-12 07:11] ryanking13 opened #29565 "pd.read_json() doesn't use utf-8 for a default encoding"
#### Code Sample, a copy-pastable example if possible

[code]

[code]
#### Problem description

According to the [docs](https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.read_json.html#pandas.read_json), when `encoding` parameter is not given, **read_json()** uses `utf-8` for a default encoding.

However, when read_json() is called without encoding parameter, it [calls built-in

[2019-11-12 07:24] memeplex commented on #29563
Here is an even more minimalistic example:

[code]

[2019-11-12 07:29] jorisvandenbossche commented on #29556
Sorry, I should have been clearer about this: all what I said above is meant to be pure numpy-based masked arrays, without any dependency on pyarrow, for now. This at least enables us to experiment with the API *design* without needing a heavy dependency such as pyarrow for the storage. Although I am clearly biased towards pyarrow, I don't think any of this needs pyarrow on the short term, we can

[2019-11-12 07:52] maartenbreddels commented on #8640
After learning more about the goal of Apache Arrow, vaex will happily depend on it in the (near?) future.

I want to ignore the discussion on where the c++ string library code should live (in or outside arrow), not to get sidetracked.

I'm happy to spend a bit of my time to see if I can move algorithms and unit tests to Apache Arrow, but it would be good if some pandas/arrow devs could assist me a

[2019-11-12 09:04] CrystalWindSnake opened #29568 "DataFrame rename_axis ，how can Set the name of the axis for the index or columns by level position"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I hope “rename” can complete the changes by level's location.
how can I do this?
thank you

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Window

[2019-11-12 09:57] jorisvandenbossche opened #29569 "BUG: concat of ExtensionBlock with different dtypes"
Consider concatting two dataframes with both a column with an extension dtype, but with a different one (here string and nullable int):

[code]

This errors because in the concatenation, we have the following code:

https://github.com/pandas-dev/pandas/blob/5c36aa1305b07b1d6da4c2a63b6d5b9887503699/pandas/core/internals/managers.py#L2021-L2024

and the `is_uniform_join_units` only checks for Extens

[2019-11-12 09:57] SaturnFromTitan commented on #29547
Hi @MomIsBestFriend Can you recommend any tools for this conversion? A quick look gave me these:
1. [pyupgrade](https://github.com/asottile/pyupgrade)
2. [fstringify](https://github.com/jacktasia/fstringify)
3. [flynt](https://github.com/ikamensh/flynt)

[2019-11-12 10:05] HawkinsBA commented on #27820
Hi, could I pick this issue up if it isn't still being worked on?

[2019-11-12 10:06] reidhin opened #29570 "In-memory to_pickle leads to I/O error"
#### Code Sample
[code]

#### Problem description

Occasionally I would like to save Pandas dataframes in the cloud. This can be done through api-calls in which the dataframe is uploaded as binary content. The binary content can be created through providing a io.BytesIO stream to the pandas.to_pickle method. Subsequently the binary content can be obtained by the method getvalue from io.BytesIO. Th

[2019-11-12 10:31] MomIsBestFriend commented on #29547
Hello @SaturnFromTitan , I personally sometimes use [pyupgrade](https://github.com/asottile/pyupgrade) but only when the files contain only a few outdated string formats in them. Then I look at the changes and fix if [pyupgrade](https://github.com/asottile/pyupgrade) got something wrong.

When they're files with alot of occurrences I go for the "complex" ones manually (e.g ```'%.2f' % my_float```)

[2019-11-12 11:58] TomAugspurger commented on #29569
Maybe a duplicate of https://github.com/pandas-dev/pandas/issues/22994?

[2019-11-12 12:08] TomAugspurger commented on #8640
Thanks for the update @maartenbreddels.

Speaking for myself (not pandas-dev) I don't have a strong opinion on where these algorithms should live. I think pandas will find a way to use them regardless. Putting them in Arrow is probably convenient since we're dancing around a hard dependency on pyarrow in a few places.

I may be wrong, but I don't think any of the core pandas maintainers has C++ ex

[2019-11-12 12:32] vishwasshrikhande commented on #29217
I want to help, how do i start by adding this info to the doc? Any help

[2019-11-12 12:37] rishabh7m commented on #29487
Stumbled upon [this](https://github.com/numpy/numpy/issues/5942) issue on numpy.

[2019-11-12 12:48] hwalinga commented on #29217
https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

[2019-11-12 14:02] jorisvandenbossche commented on #29569
Ah, yes, I searched for it but didn't find it ..

Closing as a duplicate

[2019-11-12 14:02] #29569 closed

[2019-11-12 14:06] jorisvandenbossche commented on #22994
Example from duplicate issue:

Consider concatting two dataframes with both a column with an extension dtype, but with a different one (here string and nullable int):

[code]

This errors because in the concatenation, we have the following code:

https://github.com/pandas-dev/pandas/blob/5c36aa1305b07b1d6da4c2a63b6d5b9887503699/pandas/core/internals/managers.py#L2021-L2024

and the `is_uniform_joi

[2019-11-12 14:08] aflugge commented on #7001
This is really very confusing as it means some code might work well as expected on some data while running into an error on other data. I would much appreciate if this could be fixed.

[2019-11-12 14:40] TomAugspurger commented on #29250
I'm fine with un-deprecating this. Is it a blocker for 1.0?

Would we add it to DataFrame, with a similar behavior to a 2D ndarray?

[2019-11-12 15:10] TomAugspurger commented on #29032
Pushed https://github.com/pandas-dev/pandas/pull/29572 for the 1.0 docs.

I don't think warning for setting `.names[i]` is straightforward, and probably isn't a blocker for 1.0

[2019-11-12 15:12] TomAugspurger commented on #28987
@mroeschke are you hoping to do this for 1.0? Roughly, how much effort is left on https://github.com/pandas-dev/pandas/pull/29428, and how much additional effort to close this? Trying to get a sense for where we're at.

[2019-11-12 15:15] TomAugspurger commented on #28839
Pushing off the 1.0 milestone. Would certainly take a PR for 1.0 if anyone is able to get to it in time.

[2019-11-12 15:15] jorisvandenbossche commented on #28095
With some delay, trying to summarize the above discussion

I think in general there seems to be approval for the idea of a dedicated `NA` indicator specifically for this purpose.

The main discussion item here can be reduced to: a single, dtype-agnostic `NA` versus multiple dtype-specialized `NA` realizations. And this difference impact several other aspects of the discussion (behaviour in operati

[2019-11-12 16:08] stippingerm commented on #29135
Yes, it seems reasonable to allow duplicate columns in self. Other having duplicate columns is not well defined (unless clarified in the docs too).

[2019-11-12 16:27] mroeschke commented on #28987
@TomAugspurger yes still aiming for this for 1.0.

Hoping to finish #29428 by end of week. After there should be ~2/3 followup PRs (1 more cleanup for the "window indexers", 1 for  Numba + rolling apply). These PR's should be a little more straightforward and hoping to finish those in December/end of year.

[2019-11-12 17:14] TomAugspurger commented on #28283
Not a blocker for 1.0.

[2019-11-12 17:16] TomAugspurger commented on #28150
The main way would be via `Series[...].array` for an ndarray-backed Series. I think we can afford to change this without a warning.

---

Are we likely to do this for 1.0?

[2019-11-12 17:17] TomAugspurger commented on #27905
Looks like https://github.com/pandas-dev/pandas/pull/27974 was closed as stale. Marking as a good first issue, if anyone wants to pick it up based on that PR.

[2019-11-12 17:20] TomAugspurger commented on #27892
@WillAyd do you think this is doable for 1.0? You had a recent refactor for quantile right?

[2019-11-12 17:22] TomAugspurger commented on #27522
Is deprecating this a priority for 1.0? According to https://dev.pandas.io/docs/development/policies.html, we're allowed to add depredations in x.y releases, so we can do this after 1.0 if no one has time for it.

[2019-11-12 17:23] TomAugspurger commented on #27472
Stalled PR at https://github.com/pandas-dev/pandas/pull/27858, if anyone wants to update.

Removing from the 1.0 milestone, but if a PR comes in we would certainly take it for 1.0.

[2019-11-12 17:27] TomAugspurger commented on #27338
Anything to do here for 1.0, or OK to push

[2019-11-12 17:30] TomAugspurger commented on #27218
Is this still relevant now that NumPy has the `array_function` protocol? If an array implements that get to use their own sorting algo.

[2019-11-12 17:35] WillAyd commented on #27892
Haven’t looked at this. I don’t object to pushing unless a community PR picks it up

Sent from my iPhone

[2019-11-12 17:46] TomAugspurger commented on #29556
Agreed (can add StringArray here too). I want to have 1.0 be as object-dtype free as possible :)

[2019-11-12 17:51] TomAugspurger commented on #29556
For BooleanArrays with no missing values, isn't it exactly 2x more memory (assuming we store the mask when there are no missing values)? Then it's just the boolean ndarry of values + a boolean mask, so 2x. And we can, like pyarrow, skip allocating the mask if there are no NAs (though that's an optimization, not a requirement).

For one with missing values, isn't it *less* memory than our current i

[2019-11-12 18:46] deronnek commented on #29487
It can't be *just* the `dtype`, though, as both of the series have type object in my original example:
[code]

[2019-11-12 18:56] miaojingang opened #29575 "Support of command line tools in IO"
#### Code Sample, a copy-pastable example if possible

[code]

[2019-11-12 19:20] aulemahal opened #29576 "startingMonth ignored on non-unitary Quarter periods"
#### Code Sample

[code]
returns:
[code]
But as I explicitly asked for 2 Quarters starting in March, I expected:
[code]

So, when specifying a multiple, the first time still goes to the closest single quarter before.

Not really a duplicate, but closely related to #22362.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python

[2019-11-12 19:33] rsdpyenugula commented on #29418
bump

[2019-11-12 19:36] jorisvandenbossche commented on #29556
It's indeed already an optimization compared to object dtype array of True/False/None. But I think Jeff meant the potential optimization of using pyarrow's boolean array storage, which can give a lot of additional memory improvement (8x compared to the double numpy array):

[code]

But anyway, as I argued above, let's leave this for the future, and focus now on the API using numpy arrays under the

[2019-11-12 20:34] TomAugspurger commented on #27203
@jschendel are you likely to have time for this for 1.0?

[2019-11-12 20:35] TomAugspurger commented on #27234
Closing in favor of https://github.com/pandas-dev/pandas/issues/27185

[2019-11-12 20:35] #27234 closed

[2019-11-12 20:35] TomAugspurger commented on #27185
@jreback OK to move off 1.0? You added it back in July.

[2019-11-12 20:44] TomAugspurger commented on #26716
It's not clear if there's anything left to do here.

[2019-11-12 20:48] TomAugspurger commented on #26639
Maybe not worth worrying about at this point? For `StringDtype` we skip this validation since it isn't necessary.

[2019-11-12 20:51] TomAugspurger commented on #26096
This was fixed by https://github.com/pandas-dev/pandas/pull/26067

[2019-11-12 20:51] #26096 closed

[2019-11-12 20:55] TomAugspurger commented on #25151
@jorisvandenbossche OK with moving off the 1.0 milestone?

[2019-11-12 21:00] jschendel commented on #27203
Yes, I can do this for 1.0

[2019-11-12 21:02] jschendel opened #29578 "BUG: DatetimeIndex.strftime converts NaT to string 'NaT'"
#### Code Sample, a copy-pastable example if possible

[code]
This behavior carries over to `Series.dt.strftime` as well:
[code]
#### Problem description
`DatetimeIndex.strftime` and `Series.dt.strftime` do not maintain missing values and instead coerce them to strings.

#### Expected Output
I'd expect `NaT` to get converted to `np.nan`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED

[2019-11-12 21:25] #26843 closed

[2019-11-12 22:05] nathanchiu34 commented on #27722
Can anyone leave an example of how they've used `pyarrow` to replace `read_msgpack`?

Example:
[code]

[2019-11-12 22:05] haichuan0424 commented on #29417
@gfyoung
I've tried to add the following statement inside the shift function in frame.py file:
self = self.astype(object)

The result becomes:
     A       B    C    D    E    F
0  NaN   1    3     X    5   7
1  NaN   2    4     Y    6   8

It seems to downcast the float point number to integer if the decimal is zero.
However, if the float point number does have non-zero decimals, it works perfect

[2019-11-12 22:13] gfyoung commented on #29417
Try making the change and see if tests pass for you.  If they do, submit the PR.

[2019-11-12 22:25] rgommers commented on #28987
Just an observation: there's a lot of concerns and potential issues in this issue, with essentially no response, except for "let's make it optional then". If you had discussions in a dev call or something, it would be nice to summarize, because the decision making looks a little odd here.

[2019-11-12 22:37] TomAugspurger commented on #28987
No dev call (though this will likely come up during tomorrow's).

My (possibly wrong) understanding of the situation is that

* We're not ready for a hard dependency on numba
* Being able to do a `.rolling(...).apply(numba_jitted_user_function)` all in Numba is compelling enough to warrant some duplicate code (though I haven't followed the discussion on how much)

Though that doesn't quite square

[2019-11-12 22:54] mroeschke commented on #28987
The revised proposal https://github.com/pandas-dev/pandas/issues/28987#issuecomment-543853896 was in response to the various concerns around Numba and making its use essential fully optional.

Reiterating the proposal points:

1. Introduce Numba as an **optional** dependency
2. Have `rolling.apply` dispatch to Numba as **opt-in** behavior (e.g. `rolling(...).apply(user_python_func, engine='Numba')

[2019-11-12 23:07] #12007 closed

[2019-11-12 23:17] #29565 closed

[2019-11-12 23:29] #11565 closed

[2019-11-12 23:32] #13896 closed

[2019-11-12 23:39] #16979 closed

[2019-11-13 00:11] dhirschfeld commented on #28095
My preferred api would be dtype-specialized NAs along with a generic `pd.NA` which would always be cast to the appropriate specialized type or raise if it was ambiguous.
e.g.
[code]
IMHO this gives the user the simplicity of a single `pd.NA` type whilst removing ambiguity about mixed NA types.

I guess ideally `isinstance(pd.NA['int64'](1), pd.NA)` and `isinstance(pd.NA['int64'](1), np.int64)` wou

[2019-11-13 00:49] jreback commented on #27722
https://dev.pandas.io/docs/reference/api/pandas.DataFrame.to_msgpack.html?highlight=to_msgpack

[2019-11-13 01:12] datapythonista commented on #29575
I think that makes more sense in R than in Python, since Python let you implement this easily (I guess R doesn't).

For example, You can open a file with `open`, use the `csv` module to get a generator over it, create a `filter`, and then use the generator to read the data. I think the needed resources should be similar to bash, and this would be more readable than using bash commands as a paramet

[2019-11-13 01:27] #13655 closed

[2019-11-13 01:48] #15166 closed

[2019-11-13 01:57] #9614 closed

[2019-11-13 02:04] miaojingang commented on #29575
Hi Marc, agreed that iterator solves the big file problem. In fact, that's
what I have been using.

The command line toolbox is just so rich and powerful, and I doubt python
has convenient & efficient ways of doing all.

Just one example: I once got a huge csv file, where one string variable had
carriage return characters. This messed up both pandas.read_csv and
data.table::fread. The sed command

[2019-11-13 02:13] #29422 closed

[2019-11-13 02:18] datapythonista commented on #29575
Thanks for the feedback. Do you want to give a try to implement this as a third-package? I don't think it needs to live in pandas, at least initially. Something like next should be quite ok I think:
[code]

`read_csv` accepts a file descriptor, so you can just return one that runs the command in a lazy way and returns it.

We've got a Ecosystem page where we can list your projects, so others can u

[2019-11-13 02:30] jreback commented on #29575
https://medium.com/@zwinny/writing-shell-scripts-in-python-with-a-funny-lib-plumbum-777dddc82bfa

there are lots of ways to do this

[2019-11-13 03:58] allenyllee commented on #27722
@nathanchiu34

Try this:

[code]

[2019-11-13 04:30] cafeal opened #29588 "BUG: Nullable integer type cols become 'object' dtype by concatenation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As shown in the code above, `pd.concat(foo, bar)` adds column 'b' to `foo` by filling it NaN and stacks them.
In this time, I expect the column 'b' still hold `Int64` because it accepts NaN but current behavior is not.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
In [2]: pd.sho

[2019-11-13 04:57] CharMingF opened #29590 "About `pandas.to_datetime`'s origin parameter"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
I set the origin to hour format ,but the result is not correct.:

DatetimeIndex(['2016-01-01 12:00:00', '2016-01-02 12:00:00'], dtype='datetime64[ns]', freq=None)

#### Expected Output

DatetimeIndex(['2016-01-02 00:00:00', '2016-01-03 00:00:00'], dtype='datetime64[ns]', freq=None)
#### Output of ``pd.show_vers

[2019-11-13 08:38] thehalftruth commented on #29459
I tried it with again with pycharm pro and it's a problem with the scientific view. If it's on then the title is over the line, when it's off then the title is too high.

[2019-11-13 09:13] AiAlex commented on #18972
Got this error
`AttributeError: Attribute 'block1_items_variety' does not exist in node: '/dataset'`

on
Pandas  0.25.3
Python 3.6.3 :: Anaconda, Inc.

[2019-11-13 12:08] filipthor opened #29594 "Creating new DataFrame from dict automatically orders columns"
#### Code Sample, a copy-pastable example if possible
data = {'C':[1], 'B':[2],'A':[3]}
df = pd.DataFrame(data)

Out[4]:
   A  B  C
0  3  2  1
[code]

[2019-11-13 12:14] jreback commented on #29594
you are reporting on an older version pls show on 0.25.3 as this should be fixed

[2019-11-13 12:29] iamrajhans commented on #29562
@mroeschke would like to work on this.

[2019-11-13 12:36] filipthor commented on #29594
Only got access to a 0.24- version and there it seems to be working as I want. Thanks :)

[2019-11-13 12:40] jorisvandenbossche commented on #29594
Yes, this is working now. Closing then

[2019-11-13 12:40] #29594 closed

[2019-11-13 13:08] dcostelloe2019 opened #29596 "Lambda: Unable to allocate array with shape (133271, 319) and data type object: MemoryError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Excel read file crashes when reading. Specific excel sheet has 300 columns and 130,000 records, reduced columns to  40 by defining filter.

Error Reported:
Unable to allocate array with shape (133271, 319) and data type object: MemoryError
Traceback (most recent call last):
  File "/var/task/lambda_function.py"

[2019-11-13 13:57] TomAugspurger commented on #28095
Thanks for the summary Joris.

I agree that there's probably consensus for moving forward with some kind of `pd.NA`, that's distinct from `np.nan`. There's not yet consensus on a single `pd.NA` vs. dtype-specialized `pd.NA[T]`, and how to integrate `pd.NA` with `np.nan` for floating-point data.

I'm having a hard time judging which of a single `pd.NA` or a dtype-specialized `pd.NA[T]` is better ah

[2019-11-13 14:13] jorisvandenbossche commented on #28095
I just opened https://github.com/pandas-dev/pandas/pull/29597 for a quick (pure python) experiment for a single NA scalar.

[2019-11-13 14:24] OmerJog commented on #9767
This is still an issue in master

[2019-11-13 14:29] miaojingang commented on #29575
Thanks Jeff.

It seems we can leave it for the user to do outside of pandas. subprocess seems like a good option.

Closing this for now. Thank you both again!

[2019-11-13 14:29] #29575 closed

[2019-11-13 14:30] OmerJog opened #29598 "pandas.DataFrame.to_gbq missing method of writting"
BigQuery support 3 different types of load methods:
WRITE_EMPTY, WRITE_TRUNCATE, WRITE_APPEND
https://cloud.google.com/bigquery/docs/reference/auditlogs/rest/Shared.Types/WriteDisposition

this parameter needs to be controlled by loading job.

[2019-11-13 14:52] jreback commented on #28095
would prefer that we actually merge something and let it sit in master for a while, so -1 on doing this for 1.0 unless it’s either not used anywhere or we significantly delay 1.0

[2019-11-13 14:54] jorisvandenbossche commented on #28095
@jreback let's keep that discussion in https://github.com/pandas-dev/pandas/issues/29556

[2019-11-13 14:54] toniprada opened #29599 "Nullable integer documentation examples are incorrect"
#### Code Sample

[code]
#### Problem description

Examples in the documentation of Nullable integers don't work as expected https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html

The integers are converted to float before casting to the new Nullable integer, so they lose precision anyway (which is the the most usual reason for using them, as stated in the docs). Using the native

[2019-11-13 15:26] alvarouc commented on #17092
Is there any update on this issue? SO far two contradicting solutions have been proposed.

and

What is the best way to delete a column without running out of memory?

[2019-11-13 16:42] dstreppa commented on #23040
I've experienced today a similar problem, below the traceback:
<pre>
Traceback (most recent call last):
  File "/home/bombolo/PycharmProjects/mulder-algo/mulder_algo/run_mulder.py", line 6, in <module>
    from mulder_algo.agent_aggregator import AgentAggregator
  File "/home/bombolo/PycharmProjects/mulder-algo/mulder_algo/agent_aggregator.py", line 7, in <module>
    from optisim.utils import Inp

[2019-11-13 16:46] #29578 closed

[2019-11-13 17:02] susan-shu-c commented on #29590
Hi, I am able to reproduce the behavior. However, I think this is the intended behavior, as there is no "rounding up" of the day. If it has not reached the next day, it is the current day. As an example:

Days don't round up - for example, the results for incrementing 1.3 days and 1.7 days are the same.
[code]

Only when 2 full days have been incremented does it count as Jan 02.

[code]

[2019-11-13 17:56] mroeschke commented on #28565
Go for it @koushikgk!

[2019-11-13 17:58] mroeschke commented on #29590
Thanks for the explanation @susan-shu-c! Correct, "half days" are supported as units so this is the intended behavior.

[2019-11-13 17:58] #29590 closed

[2019-11-13 18:56] jorisvandenbossche commented on #27522
It's not fully clear to me what is actually being proposed here (a lot of the above discussion was about other top-level modules that are actually public). Is it about moving `pandas.core` to eg `pandas._core` and raise warnings for `pandas.core` ?

[2019-11-13 19:06] jreback commented on #27522
yes that’s what we did quite a while ago for the other codebases

[2019-11-13 19:50] jbrockmendel commented on #29596
Does decreasing the number of rows/columns read solve the problem?  If so, what is the minimal size at which the problem occurs?

[2019-11-13 20:40] Detry322 commented on #22861
@jreback if I took a stab at this in the near future (a week or so) is there any hope of it being included in 1.0?

[2019-11-13 21:19] jreback commented on #22861
yes it’s possible

[2019-11-13 21:33] kmacdough opened #29602 "Series.rmod called with scalar returns inconsistent results based on size of series"
#### Code Sample, a copy-pastable example if possible

In
[code]
Out
[code]
#### Problem description

`Series.rmod` called on a scalar behaves differently depending on the size of the series.
On my machine:
* length <= 10,000 sign matches divisor (matches pythons `%` operator)
* length > 10,000 sign matches dividend

Appears to behave properly when called on other Series.
`Series.mod` does not app

[2019-11-13 21:45] susan-shu-c commented on #29462
Hi, I was able to reproduce this result. This is due to `pandas.DataFrame.update` calling `expressions.where`. [source link](https://github.com/pandas-dev/pandas/blob/v0.25.3/pandas/core/frame.py#L5819).

From then it eventually calls `numpy.where` [documentation](https://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.where.html) which then eventually uses the Numpy `MaskedArray` type.

[2019-11-13 21:48] Martynas-P commented on #28045
Any objections if I take a stab at this?

[2019-11-13 22:32] igiloh commented on #17155
Are there any updates on the issue?

This bug still seems to exist in version `0.25.2`.
When I `read_csv()` with a specific number of `nrows` - the returned DF is indeed `nrows` long, but the file pointer overshoots by a few thousands of lines - making it impossible to keep on reading the file from the desired point.

If there is no fix yet for this problem, maybe there is at least some kind of wo

[2019-11-14 01:29] wesbarnett commented on #29484
I think this is the problem:
https://github.com/pandas-dev/pandas/blob/4046336c8406dc70c4ad3db6af9970e76eb85e48/pandas/plotting/_matplotlib/hist.py#L55

When `len(bins)` is evaluated with `bins` as a string it will just be the length of the string, which is incorrect.

[2019-11-14 01:37] wesbarnett commented on #29484
A solution might be to call `np.histogram` if `bins` is a string and then get the actual number of bins from that calculation. The downside is that we would be calling it twice.

[2019-11-14 02:27] TomAugspurger commented on #29602
Seems to be fixed on master.

[code]

@kmacdough can you try with master?

[2019-11-14 02:32] TomAugspurger commented on #29599
The `np.nan` is causing in intermediate floating-point ndarray to be created. And that value is to large to be represented exactly as a float.

Perhaps we should update the docs to use `None` instead of `np.nan` there. That works correctly

[code]

OTOH, that's going to create an intermediate object-dtype ndarray, which will be slow for large arrays.

[2019-11-14 02:34] TomAugspurger commented on #29598
Does pandas-gbq support this?

[2019-11-14 02:54] rishabh7m commented on #29487
True, that can't be just `dtype` issue. Sorry, I still haven't looked at `numpy.sum` implementation. Will get back to you asap.

[2019-11-14 03:13] TomAugspurger commented on #29564
We should pass a list to `find_common_type` in

[code]

rather than the Series. So `dtype = find_common_type(list(self._parent.dtypes))` may fix it.

[2019-11-14 05:10] Ashutosh341 opened #29612 "Line plot is not displaying correctly using pandas"
I have installed latest pandas version

Now I am trying to plot a bar plot by using pandas but it is giving me this Figure

![Capture line plot](https://user-images.githubusercontent.com/54778459/68828240-07f75980-06cb-11ea-8c50-5c2ffd53cb9b.PNG)
.png)

I am learning pandas from Udemy and when trainer was plotting bar plot , it was plotting correctly
![Capture112](https://user-images.githubusercon

[2019-11-14 06:51] juler69 opened #29614 "Cannot load CSV file into SQL using to_sql where data contains literal "NA""
Error
[code]

Code Snippet
[code]
I can import this csv file to sqlite using the .import command and .mode csv without either error occurring and the data is intact so it appears that sqlite is not the issue per se.

[code]

#### Expected Output

As above for the sqlite import.

If I run the same code but don't drop/create the table beforehand it loads without error.

[code]
BUT! The NA is missing

[2019-11-14 07:40] OmerJog commented on #29598
@TomAugspurger yes
https://pandas-gbq.readthedocs.io/en/latest/writing.html#writing-to-an-existing-table
"Use the if_exists argument to dictate whether to 'fail', 'replace' or 'append' if the destination table already exists. The default value is 'fail'."

[2019-11-14 09:04] hwalinga commented on #29612
Can you maybe share the full code (not a screenshot of your code please) and input data?

[2019-11-14 12:23] jorisvandenbossche commented on #29588
Thanks for the report!

This is related to https://github.com/pandas-dev/pandas/issues/22994, although that issue is about multiple extension dtype blocks with different dtypes. While here it is concatting with a non-existent block in the other frame.

[2019-11-14 12:42] charlesdong1991 opened #29615 "ENH: Add suffixes for pd.concat when axis=1"
When I was trying to horizontally concatenate several DataFrames which contain some overlapping column names, and those overlapping columns would remain unchanged. However, it might be quite useful to have a `suffixes` argument as e.g `DataFrame.merge` has in practice, so that could easily add meaningful suffix to distinguish those overlapped columns. And this argument will be used only when `axis

[2019-11-14 13:47] TomAugspurger commented on #29598
So we just need to add a keyword and pass it through? We'll need to take
some care to
give a nice error message if the user has too old a version.

Are you interested in working on this?

On Thu, Nov 14, 2019 at 1:40 AM OmerJog <notifications@github.com> wrote:

[2019-11-14 14:47] #15442 closed

[2019-11-14 15:01] endremborza opened #29617 "BUG: groupby apply with head(1) raises keyerror with datetime grouper"
This is a very strange error with a long traceback. I found #15680 and #11324 mentioning similar things, but neither seem to cover the behavior here

#### Code Sample, a copy-pastable example:

[code]

on 0.25.3 this raises this convoluted KeyError:

<details>

[code]

</details>

oddly, both of these work

[code]

also, the behavior is the same if I modify recs so that only 1 distinct date is pre

[2019-11-14 15:31] dcostelloe2019 commented on #29596
No change in decreased column, not sure how would I get the number of processed rows?

[2019-11-14 15:51] antonov-andrey opened #29618 "Int64 can't be used in pandas.eval()"
This code works fine
[code]

### This code fails with the following stacktrace below
[code]

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.0.0-35-generic
machine          : x86_64
processor        : x86_64
byteorder        : l

[2019-11-14 15:54] jreback commented on #29618
numexpr has 0 support for extension types and will likely never have. should just shift this to using the ```engine='python'`` for extension dtypes. a community PR would be needed here.

[2019-11-14 16:02] lucassa3 commented on #29599
@TomAugspurger would this simple edit be enough to make the docs coherent with expected functionality?

[2019-11-14 16:03] antonov-andrey commented on #29618
Thank you for the fast reply! But when I try to use it with engine='python':
`d.eval('c = b - a', inplace=True, engine='python')`
it do not work exactly the same way as I described.

[2019-11-14 16:35] #29615 closed

[2019-11-14 16:35] charlesdong1991 commented on #29615
Duplicate

[2019-11-14 18:06] #29227 closed

[2019-11-14 18:07] #29599 closed

[2019-11-14 19:23] Liam3851 commented on #29596
@dcostelloe2019 If you're running on AWS Lambda are you allocating enough memory to the process? The default memory allocation on Lambda is just 128 MB, and an array that size would be about 340 MB (133271 * 319 * 8 / 1e6). My guess is you probably need to configure your lambda function with more RAM (try running it locally to make sure).

[2019-11-14 19:39] jorisvandenbossche commented on #28778
Is there more feedback on this?
For the three items, I think:

- For the comparison ops, we can go with "propagating NAs"
- For the logical ops, we can go with the Kleene (three-valued) logic
- For the indexing I am less sure:
  - Raising an error might be the most conservative. Users can always first explicitly do `fillna(True/False)` on their mask. But at the same time, this also might become te

[2019-11-14 19:46] jbrockmendel commented on #28778
My understanding is that in (nearly?) every other situation, pd.NA _refuses_ to cast to bool?

[2019-11-14 19:56] MomIsBestFriend opened #29621 "BLD:can't install dev requirements after upgrading to python 3.8.0"
After upgrading to python 3.8.0. I purged my entire venv (pip).
So I decided to reinstall all of the packages.
And while running the command ```python -m pip install -r requirements-dev.txt``` I got this output:
[code]

[2019-11-14 20:02] jorisvandenbossche commented on #28778
`bool(pd.NA)` raises an error in the current PR, yes (which means it raises in eg `if expr` if expr evaluates to pd.NA). But that can also be discussed.

[2019-11-14 20:20] alimcmaster1 commented on #29621
I think this is expected yet - many of our dev dependencies don't have 3.8 wheels yet?

[2019-11-14 20:58] alimcmaster1 opened #29622 "Travis 3.6 Slow Build Test Failures - BS4 Issue"
`test_thousands_macau_index_col` in `test_html` fails using beautifulsoup4 version 4.8.1 and passes using version 4.7.1.

Example failures:
https://travis-ci.org/pandas-dev/pandas/jobs/611742966

As pointed out by @jreback in this PR - https://github.com/pandas-dev/pandas/pull/29603

Example failing build pre my changes in #29513
https://travis-ci.org/pandas-dev/pandas/jobs/611347428

Attempting t

[2019-11-14 21:19] MomIsBestFriend commented on #29547
Will take next:
- [ ] pandas/compat/\_\_init__.py
- [ ] pandas/compat/numpy/function.py
- [ ] pandas/compat/numpy/\_\_init__.py
- [ ] pandas/compat/_optional.py
- [ ] pandas/compat/pickle_compat.py

[2019-11-14 21:33] jorisvandenbossche commented on #29250
It's certainly not a blocker, but since it's deprecated, and if we want to do this, better sooner than later (and it should be a quick PR).

That could be done yes, although I personally find that less needed (boolean indexing on the columns is much less common I think)

I don't think `.at` could ever do this in the past. It requires a single label.
But thinking about it, that might actually be a

[2019-11-14 21:37] haichuan0424 commented on #29417
After some investigation, I found that when mixed type DataFrame is used, it is broken down into several blocks with different type. Below is an example:
[code]
The system break this DataFrame into three blocks by indexing and shift each separately.
[code]
After shift each block, it assembles back based on original index slice. This is why the result is:
[code]
This is more complicated than I orig

[2019-11-14 22:17] vfilimonov opened #29623 "BUG: incorrect output of first('1M') in case if first index is the last day of the month"
#### Code Sample

[code]
#### Problem description

In case if the first index of the series falls on the last day of the month, `Series.first('1M')` returns two first months (this one day + the next month).

If the first value is not on the last day of the month - result is correct:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           :

[2019-11-14 22:19] vfilimonov commented on #29105
@jreback Jeff, what do you think?

[2019-11-14 22:38] TomAugspurger opened #29624 "Boolean string methods on empty Series return object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

On empty series, we return an object-dtype result, rather than bool. I might expect
this to be a boolean dtype to match the non-empty case.

#### Expected Output

[code]

[2019-11-14 22:41] jreback commented on #29621
correct 3.8 is not yet usable for dev (well you can build a minimal env), but can’t run the full test suite so we haven’t updated yet the environment.yml and pin it to 3.7

[2019-11-14 22:41] TomAugspurger commented on #29624
Given that other boolean-returning methods do return a bool dtype for empty Series, I'm comfortable calling this a bug:

[code]

[2019-11-14 23:33] shoyer commented on #29250
The other use case for NumPy's `.item()` is to pull out a built-in Python scalar (e.g., `float`), rather than a NumPy scalar (e.g., `float64`). I think this could still make sense for pandas.

[2019-11-15 00:14] wesbarnett commented on #29484
Can confirm same error on Linux.

[2019-11-15 01:04] WillAyd commented on #29189
@jbrockmendel do you mind taking a look at this one? I think would be good to fix before releasing 1.0

[2019-11-15 01:54] yashukla commented on #29547
I'll take:

- [ ] pandas/core/reshape/concat.py
- [ ] pandas/core/reshape/melt.py
- [ ] pandas/core/reshape/merge.py
- [ ] pandas/core/reshape/pivot.py
- [ ] pandas/core/reshape/reshape.py
- [ ] pandas/core/reshape/tile.py

What are everyone's thoughts on tagging this as a `good first issue`? It should apply to most of the files here. The changes that need to be made are usually only a few lines o

[2019-11-15 02:26] chrisjcameron commented on #27688
@jreback: Is the note at the end of the transformation section no longer valid?

https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#transformation

Is there a chained/functional syntax to fill missing values? Is
`df.update(df.sort_values(['key1', 'time']).groupby('key1').ffill()` the only option to get a dataframe with the na's filled in?

[2019-11-15 02:27] jbrockmendel commented on #29189
Sure, probably next week.

[2019-11-15 02:45] WillAyd commented on #29189
Awesome thanks!

Sent from my iPhone

[2019-11-15 03:37] pmdaly commented on #15354
It would be very helpful in what I do as well.  I have TBs of data where I need various statistics of non-overlapping windows to understand local conditions.  My current "fix" is to just create a generator that slices the data frames and yield's statistics.  Would be very helpful to have this feature.

[2019-11-15 07:45] jorisvandenbossche commented on #29621
Note: for basic development, you don't need *all* optional dependencies, but only numpy, pytz and dateutil. Those all already have wheels compatible with python 3.8 (and probably some other basic dependencies as well). And also many of those packages are also already available on conda-forge

[2019-11-15 09:11] jorisvandenbossche commented on #29250
For that use case, I suppose you would want to keep the "full" behaviour of numpy? (so also `s.item(i)` , while for the above discussed use case (getting rid of the Series container for len-1 Series), `s.item()` without argument is enough).

[2019-11-15 09:12] qytz commented on #9960
status of this issue ?

[2019-11-15 09:18] MomIsBestFriend commented on #29621
Thanks for the tip @jorisvandenbossche

[2019-11-15 09:19] MomIsBestFriend commented on #29621
So close this issue, because it's not a pandas issue?

[2019-11-15 09:22] jorisvandenbossche commented on #29621
Yes, I think it can be closed

[2019-11-15 11:36] jamespreed opened #29633 "Series.str.rsplit not working with regex patterns (v 0.24.2 and 0.25.2)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The `str.rsplit` method is not recognizing regex patterns.  This example above is from the documentation.

#### Expected Output
S.str.rsplit(r'\+|=')
0    [1, 2, 3]

S.str.rsplit(r'\+|=', expand=True)
     0    1    2
0    1    1    2

#### Output of ``pd.show_versions()``

Version 0.24.2:
<details>
INSTALLED VE

[2019-11-15 12:22] HenryPaik1 opened #29634 "apply function have some problem"
[code]
#### Problem description
Why does pandas `apply` do function on the first row one more time?

[2019-11-15 12:25] princekf opened #29635 "Gropuby using pd.Series.mode throws error when `by` column contains values with same starting value"
#### Groupby with pd.Series.mode throws error, if `by` values starts with a value from previous row.

[code]
#### Problem description
When I execute the above code I got error
[code]
If I change the third name to John instead of Thomas John, it works as expected. ie The following code works.
[code]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue

[2019-11-15 12:28] wesbarnett commented on #29484
I've verified that the argument bins here needs to be changed to an int but is still a string when `auto` is passed:

https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_matplotlib/hist.py#L42-L63

`_args_adjust` can take care of that when called:

https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_matplotlib/hist.py#L25-L40

Working on a PR.

[2019-11-15 13:28] Hvass-Labs commented on #28313
The solution I am using for now, and which might be of use to others, is to have my own helper-function:

    def apply(df, func, group_index=TICKER):
        """
        Apply a function to a Pandas DataFrame or Series with either a
        DatetimeIndex or MultiIndex. This is useful when you don't know
        whether a DataFrame contains data for a single or multiple stocks.

        You write

[2019-11-15 14:04] rhshadrach commented on #17035
I ran into a similar issue with .transform('nunique'):

    df = pd.DataFrame([[1, 1.1], [1, 3.1], [2, 1.1]], columns=['a', 'b'])
    df.groupby('a').b.transform('nunique')

The resulting series I get are floats using 0.25.3. They become integers if column b values are integers, or if I replace .transform('nunique') with merely .nunique().

[2019-11-15 14:14] wesbarnett commented on #29635
This bug also occurs even in this situation where the names have no overlap:

[code]
<details>
<summary>Installed versions</summary>
[code]
</details>

[2019-11-15 14:19] shoyer commented on #29250
I don't think it's really needed to support the full form of .item(i) with
an argument. That version is definitely redundant with indexing.

On Fri, Nov 15, 2019 at 4:11 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-11-15 14:55] #28664 closed

[2019-11-15 14:57] #29621 closed

[2019-11-15 15:10] simonjayhawkins commented on #29622
duplicate of #28125

[2019-11-15 15:11] simonjayhawkins commented on #28125
closing in favor of #29622

[2019-11-15 15:11] #28125 closed

[2019-11-15 15:21] Reksbril commented on #28839
I will look into it

[2019-11-15 15:25] #28616 closed

[2019-11-15 16:21] GitDoctor1996 opened #29638 "Type Error Bug Despite Using Multiple Versions of Pandas"
I have a data set of multiple work lists for my job and I am trying to sort values before dropping duplicates, but the code below give me this error:

import pandas as pd
Disputes = Disputes.sort_values(axis=1, by=['Invoice Number', 'Report Date'], inplace = True).drop_duplicates(subset=['Invoice Number', 'Report Date'], keep=['last'])

TypeError: sort_values() got an unexpected keyword argument '

[2019-11-15 18:56] TomAugspurger opened #29643 "CI: postgresql job failing"
e.g. https://travis-ci.org/pandas-dev/pandas/jobs/612501204

[code]

[2019-11-15 18:57] TomAugspurger opened #29644 "CI: lint checks failing"
e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=20961

[code]

most likely a new flake8 version. Can pin for now and fix later, or just update them now.

[2019-11-15 19:24] jschendel commented on #29644
Specifically looks like [`flake8-comprehensions`](https://pypi.org/project/flake8-comprehensions/#history) just had a new release today.

[2019-11-15 20:17] kchodorow opened #29645 "Inconsistent behavior with None between "normal" pandas functions and groupby's last/first/nth"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The rest of pandas seems to treat None as the same as np.nan, so it is inconsistent and head-scratching why groupby's functions wouldn't.  The expected behavior would be for first/last/nth to treat None & `np.nan` like every other pandas function does.

#### Expected Output

[code]

#### Output of ``pd.show_ver

[2019-11-15 20:26] swt2c opened #29647 "Using .iloc on a sparse DataFrame results in a copy"
[code]
#### Problem description

When calling `.iloc` on a sparse DataFrame, it seems to return a copy rather than a view.  Is this expected behavior?

#### Expected Output

Getting a view back would be preferred.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               :

[2019-11-15 21:42] jbrockmendel commented on #29634
Because it is checking to see if it can use a fast-path on the remaining entries

[2019-11-15 21:58] robertdavidwest opened #29649 "Feature Request: pandas merge - validation of expected sets"
#### Validate the relationship of two DataFrames being joined in terms of set theory

Take this example:
[code]
I want to validate that resulting set `set(test['_merge']` will equal `{'left_only', 'right_only', 'both'}`. In other words validate that the two datasets have the expected relationship in terms of set theory when they are joined.

When the validate parameter was added to pandas I found

[2019-11-15 22:02] fsouza opened #29650 "read_fwf raises BytesWarning when running with -bb"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

If you run the above code with ``-bb``, it crashes with ``BytesWarning``:

[code]

It doesn't crash without that flag, but we do end-up with the incorrect regexp:

[code]

Notice how you end-up with an unexpected regexp.

#### Expected Output

No crash.

#### Output of ``pd.show_versions()``

<details>

[code]

[2019-11-15 23:09] TomAugspurger commented on #29647
I think that's impossible given the current design. Each column is stored independently.

[2019-11-16 01:24] #29644 closed

[2019-11-16 01:31] jbrockmendel commented on #29643
is "hope it goes away on its own" a viable option?

[2019-11-16 02:50] datapythonista commented on #29643
I had a look, but I don't see where the database is set up. Do we install it somewhere, or does travis provide a database automatically for the builds?

I see this setting: https://docs.travis-ci.com/user/database-setup/#mysql

May be until now this was coming by default, and now we need to specify it?

[2019-11-16 03:07] alimcmaster1 commented on #29643
Error report on the below looks the exact same - might be helpful

https://github.com/travis-ci/travis-ci/issues/5491

[2019-11-16 04:36] #28806 closed

[2019-11-16 09:27] jorisvandenbossche commented on #29647
BTW, you will see exactly the same behaviour for a non-sparse dataframe if not all columns have the same dtype or do not use a plain numpy dtype.

[2019-11-16 10:48] lwgray commented on #29650
Maybe I’m missing something but shouldn’t you receive a warning or error when using -bb option (see below from [DOCS](https://docs.python.org/3/using/cmdline.html) )

``
1.1.3. Miscellaneous options
-b
Issue a warning when comparing bytes or bytearray with str or bytes with int. Issue an error when the option is given twice (-bb).

Changed in version 3.5: Affects comparisons of bytes with int.
``

[2019-11-16 12:29] goldenbull opened #29660 "can nod concatenate character 'm' and a series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
[code]
#### Expected Output
m1
m2
m3
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6

[2019-11-16 12:52] fsouza commented on #29650
@lwgray -b is warning, -bb is error. But the reason it warms/errors is because the code doesn't do what's intended when running on python 3. I can send a PR that coalesces decimal to str before using it in format, if that's ok.

[2019-11-16 13:04] hwalinga commented on #29660
This seems to be fixed in the master.

[2019-11-16 13:34] hwalinga commented on #29617
You seem to be looking for `.first()`, instead of `.apply(lambda df: df.head(1))`. `.first()` will work as intended.

The problem you are facing is that groupby with two columns result in multiindex. `df.head(1)` will not return this multiindex.

[2019-11-16 14:50] lwgray commented on #29650
@fsouza I'm not a maintainer.

[2019-11-16 15:15] OmerJog commented on #29598
@TomAugspurger yes. It's just exposing this parameter in the to_gbq function.

I currently don't have the time to do work on this. Maybe i'll be able to in a few months so if someone want to pick it up - be my guest.

[2019-11-16 16:47] #29643 closed

[2019-11-16 16:56] dcostelloe2019 commented on #29596
Thanks @Liam3851:  I gave it the max memory available 3008 MB
I split the workbook into two separate Excel workbooks:
1.  60711 Rows
2. 72567 Rows
Both processed successfully

Still same error with full sized workbook :-(

[2019-11-16 18:02] jschendel commented on #29660
Yes, this is a dupe of  #28658, which has been fixed on `master` and will be part of the 1.0 release.

[code]

[2019-11-16 18:02] #29660 closed

[2019-11-16 20:26] TomAugspurger commented on #29647
Thanks for the report, not something we can support right now.

[2019-11-16 20:26] #29647 closed

[2019-11-16 21:35] #28769 closed

[2019-11-16 21:54] #26988 closed

[2019-11-16 22:00] #9374 closed

[2019-11-16 22:04] #11354 closed

[2019-11-16 22:06] #20757 closed

[2019-11-17 01:08] asishm commented on #29633
Had a look at it,

the `rsplit` method (https://github.com/pandas-dev/pandas/blob/master/pandas/core/strings.py#L2535-L2539) calls `str_rsplit` (https://github.com/pandas-dev/pandas/blob/94412eebd218b346ec4db0453f4cc8c31f10233d/pandas/core/strings.py#L1407-L1413) which just seems to be applying `str.rsplit` which of course doesn't use regex.

[2019-11-17 01:21] asishm commented on #29614
The issue is unrelated to SQL inserts, but rather at reading the CSV.

The doc for `read_csv` states:

and if you look at the `na_values` it includes the string `"NA"` which is why it is marked as N/A when reading it in

You can follow the recommendation in the documentation to

`In data without any NAs, passing na_filter=False can improve the performance of reading a large file.`

[2019-11-17 03:04] datapythonista opened #29664 "CI: Unify pytest versions across builds"
May be I'm missing something, but is there a reason to use different pytest versions in our CI builds? I see we're using those in the dependencies files:
- pytest
- pytest>=4.0.2
- pytest>=4.0.2,<5.0
- pytest=4.5.0
- pytest>=5.0.0
- pytest>=5.0.1

Since pytest is not a pandas dependency, but just a tool we use, feels like we should just use always the same version (the latest). All those (all vers

[2019-11-17 03:13] jreback commented on #29664
you can try but we had a number of issues and that is why they r pinned

[2019-11-17 03:14] jreback commented on #29664
-1 on splitting the build files

[2019-11-17 08:58] scienceunivers opened #29668 "parameter "na_values" in read_excel() not effective when reading #DIV/0!"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I set the na_values param to None, and make keep_default_na=False, according to the doc, after execution cells of the “数据” column should be #DIV/0!, but in fact they are all NaN.

 index   |机构	|全称	|社会信用代码	|账号|	数据
-----|-----|---------|----------------|--------|------
0	|机构1|	机构1的全称|	9.144030e+17	|alading	|NaN
1

[2019-11-17 10:40] charlesdong1991 commented on #29598
emm, but seems pandas already supports `if_exists`? or do you mean this argument is not functioning correctly?

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_gbq.html

@OmerJog

[2019-11-17 15:02] datapythonista opened #29671 "CI: Speed up coverage tests by splitting files"
In #28531 we started to parallelize tests in the CI by file. Meaning that each file in `pandas/tests/` will be assigned to a core, and will run fully there. Before, each individual test was assigned to a core. This makes things much simpler, since tests that cannot run in parallel just need to live in the same file. But it implies, that if a test file is big and contains many tests, it will slow d

[2019-11-17 15:42] #29341 closed

[2019-11-17 17:47] datapythonista commented on #29664
take

[2019-11-17 17:52] jreback commented on #29664
lol
it worked!

[2019-11-17 17:53] jreback commented on #29664
we need an auto unassigner maybe 2 weeks after no action

[2019-11-17 17:55] datapythonista commented on #29664
I agree, I'll probably wait until we have unassigned issues with no activity. Having examples will probably help make better decisions, on timing, what actions we consider...

[2019-11-17 18:12] alimcmaster1 opened #29676 "CI: Clipboard Test Failures on Travis"
[code]
Examples:

https://travis-ci.org/pandas-dev/pandas/jobs/613141276?utm_medium=notification&utm_source=github_status

https://travis-ci.org/pandas-dev/pandas/builds/613153224?utm_source=github_status&utm_medium=notification

Potentially related change:
https://github.com/pandas-dev/pandas/pull/28531

[2019-11-17 19:19] andrewchouman commented on #28926
Can I work on test_operators.py errors?

[2019-11-17 19:49] mroeschke commented on #29614
Thanks for the explanation @asishm! As noted, You can modify `na_values` to exclude `NA` or pass  `na_filter=False`

[2019-11-17 19:49] #29614 closed

[2019-11-17 20:22] oguzhanogreden commented on #16724
This fails since dict is [considered a list-like](https://github.com/pandas-dev/pandas/blob/master/pandas/tests/dtypes/test_inference.py#L70) and the reported cases is handled under the assumption that it's a list, [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexing.py#L495).

[2019-11-17 20:38] ellequelle commented on #29624
It looks to me like this can be solved by adding `dtype=bool` as an argument to `_noarg_wrapper` for the "ismethods" the StringMethods class:

[code]

[2019-11-17 21:14] oguzhanogreden commented on #10219
This issue is still present:

[code]

I'll try to tackle this soon. A reasonable solution seems like the following:

- if the indexer points to one cell, store `dict`,
- otherwise follow dictionary assignment behavior defined [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#attribute-access).

[2019-11-17 22:53] #29526 closed

[2019-11-17 23:06] Martynas-P commented on #28045
This behaviour comes from numpy. Since pandas first casts to `datetime64[ns]` before casting to `datetime64[D]`, the calls to numpy's API look something like this:

[code]

One way to fix this would be to raise the minimum datetime value from `1677-09-21 00:12:43.145225` to `1677-09-22 00:12:43.145225` (add one day)

[code]

I have been working on a PR to do this, I just need to fix the tests.

[2019-11-17 23:06] #29624 closed

[2019-11-18 00:33] #28779 closed

[2019-11-18 01:52] kailichou commented on #21828
Same issue happened to me while trying to read csv file at Spyder. However, it worked perfectly fine when I tried at Terminal.

`Python 3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.

                                           item_name  item_id  item_category_id
0

[2019-11-18 02:15] anordin95 commented on #21425
Will I be duplicating someone else's efforts if I begin work on this issue?

[2019-11-18 02:34] rachel-frenkel commented on #29623
take

[2019-11-18 02:44] Franklinluo17 commented on #29528
take

[2019-11-18 02:44] Franklinluo17 commented on #29528
take

[2019-11-18 08:55] jorisvandenbossche commented on #21425
Since it is already some weeks that @srcole commented about this (btw, sorry for not answering to your comment back then!), I think you are welcome to do a PR.

[2019-11-18 09:57] rugg2 commented on #14553
PR we wrote with cvonsteg should give the functionality

[2019-11-18 12:44] lr4d opened #29684 "OutOfBoundsDatetime for big-endian np.datetime64 arrays"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Seems like something weird is going on when converting the big-endian timestamp, which does not happen for the little-endian one.

#### Expected Output
The same as for the little-endian data type.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line

[2019-11-18 12:56] lr4d commented on #29684
This doesn't affect pandas `0.24.2`. With that version, it works as expected

[2019-11-18 13:04] datapythonista opened #29685 "CI: Inconsistencies in the CI tests"
Not sure if anyone know exactly what we are testing, but after removing Python 3.5 and some other old stuff, I think we've got lots of builds testing almost the same things, and the lack of a clear structure is preventing us from finding inconsistencies easily.

Some things that seem wrong:
- I don't think we're running tests with `network` marker in any build (we run `not slow and not network` an

[2019-11-18 13:25] maresb commented on #28599
Bumping this issue now since https://github.com/pandas-dev/pandas/pull/27335 has been merged.  I'd really like to see this, but I personally don't have time at the moment.  @mar-ses, are you still up for looking into this?

[2019-11-18 13:27] jreback commented on #28599
i never understood what good bumping an issue in an open source all volunteer project actually means

[2019-11-18 13:29] jreback commented on #29685
how about slow incremental changes
rather than sweeping proposals which tend to break things in the CI

[2019-11-18 13:44] #29539 closed

[2019-11-18 13:54] datapythonista commented on #29685
Absolutely, that makes a lot of sense.

Are you ok with the general idea of the proposal, to move incrementally in that direction?

[2019-11-18 14:23] jorisvandenbossche opened #29686 "API: any/all in context of boolean dtype with missing values"
In the new missing values support, and especially while implementing the BooleanArray (https://github.com/pandas-dev/pandas/pull/29555/), the question comes up: what should `any` and `all` do in presence of missing values?

*edit from Tom: Here's a proposed table of behavior*

| case  | input                            | output |
| ----- | -------------------------------- | -------|
| 1.    | `all

[2019-11-18 14:41] TomAugspurger commented on #29686
Agreed that the `skipna=True` case looks fine as is.

For `skipna=False`, I think that the presence of any NA would make the result NA, though it'd be good to survey what other systems do here.

[2019-11-18 14:46] asmcat666 opened #29687 "'sort_index"does not work with 'pd.set_option('mode.use_inf_as_na',True)'"
[code]

[2019-11-18 14:47] NicolasHug opened #29688 "ENH: Group some columns in subplots with DataFrame.plot"
`df.plot(subplots=True)`  will create one subplot per column. Is there a way to group multiple columns on the same subplot (and leave the rest of the column separated)?

I'd be happy to submit a PR if that's something you'd consider? In terms of API  `subplot` could accept a list of tuples where each tuple indicates which columns should be grouped together.

[2019-11-18 14:54] jorisvandenbossche commented on #29686
So if we follow the NA behaviour for logical operations as discussed in https://github.com/pandas-dev/pandas/issues/28778 (and implemented for pd.NA in https://github.com/pandas-dev/pandas/pull/29597), this will mostly result in NA, but sometimes can also result in True, eg for:

[code]

since there is already one `True`, the result can always be `True` regardless of whether the NA is actually Tru

[2019-11-18 14:58] TomAugspurger commented on #29686
Should that example have a `skipna=False`?

I guess for `any` that makes sense. For `.all` Series([True, pd.NA], dtype="boolean").all(skipna=False)` would be NA?

[2019-11-18 14:58] jorisvandenbossche commented on #29686
Yes, updated

[2019-11-18 15:16] maresb commented on #28599
I hope I didn't commit a faux pas.  Since the anticipated merge recently took place, patching this issue is no longer blocked.  I was trying to be helpful by drawing attention to this fact as a "bump".  Sorry if that came across as pushy/annoying.  I'm newly active on GitHub and still figuring out the social norms.

[2019-11-18 15:43] TomAugspurger commented on #29686
Thanks. So, just to make sure, can you verify this table, and add it to the original post if it's correct (and eventually the docs)?

case | input                          | output |
-----| ------------------------------ | -------|
1.   | all([True, NA], skipna=False)  | NA     |
2.   | all([False, NA], skipna=False) | False  |
3.   | all([NA], skipna=False)        | NA     |
4.   | all([], skipna

[2019-11-18 15:46] mar-ses commented on #28599
I'm also newby here. So I looked at this other issue a bit (the thing that's getting merged), and won't the update to `maybe_convert_numeric` fix the issue here too? I need to have a deep look, sorry been very busy.

[2019-11-18 15:48] Tigraan commented on #20436
Another aspect of the same problem: reading a csv where some columns are text and others are numbers. If you let pandas run free it will guess entry by entry and in particular convert certain strings to NaN, most notably empty strings. The usual (?) way to avoid this is to explicitly tell it to converters, i.e. `pd.read_csv(..., converters={'column_that_must_be_text': str})` but it breaks with Mul

[2019-11-18 16:01] VasilijKolomiets opened #29689 "Some marker in DOC for functions need in previous installed modules or drivers"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Sorry I am newbie in pandas, and before today newer knows about  *parquet*.
I was just reading an article about *plotly* and try to execute some code (look above).
I’ve received the error message. But when I’ve read the [DOCs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_parquet.html?hi

[2019-11-18 16:04] TomAugspurger commented on #29688
Just to make sure I understand, `df.plot(subplots=[('a', 'b'), ('d', 'e', 'f')])` would have two axes?

I'm not sure, but I'm guessing it'd be somewhat complicated to work that into our current `subplots` logic. At glance, it looks like we assume `subplots=True` -> one axes per column in several places.

[2019-11-18 16:05] TomAugspurger commented on #29687
Can you provide a reproducible example, including the code to create the dataframe?: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-11-18 16:11] soerenwolfers opened #29691 "Groupby excludes groups with nan entry in group-defining columns"
#### Code Sample, a copy-pastable example if possible

[code]

results in
[code]
#### Problem description

Groupby ignores groups that contain a np.nan in any group-defining column.

I'd understand (well, not really, but it would be slightly more sane) if groups were ignored that had np.nans in grouped columns, but it doesn't make any sense to me to ignore groups that have np.nans in group-definin

[2019-11-18 16:20] NicolasHug commented on #29688
Yes that's the idea. My motivation is that sometimes some columns are comparable, in which case it would make sense to plot them together.

[2019-11-18 16:25] jorisvandenbossche commented on #29686
Thanks for that overview! And yes, that is seems correct based on my understanding.

This also seems to be what R is doing: https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/any (except that their default "skipna" is the opposite: `na.rm=FALSE` is the default)

[2019-11-18 16:31] TomAugspurger commented on #29686
OK. I'm happy to deviate from R in the default skipna.

[2019-11-18 16:32] jorisvandenbossche commented on #29686
That's the case for all our reductions anyway

[2019-11-18 17:06] #20990 closed

[2019-11-18 17:08] TomAugspurger commented on #29691
Duplicate of https://github.com/pandas-dev/pandas/issues/3729 I believe.

[2019-11-18 17:08] #29691 closed

[2019-11-18 17:09] WillAyd commented on #443
I think can close in favor of #3729

[2019-11-18 17:09] #443 closed

[2019-11-18 18:05] TomAugspurger commented on #29689
In https://github.com/pandas-dev/pandas/pull/29597, we say

Is that clear enough?

[2019-11-18 18:53] TomAugspurger commented on #29676
I'll try to look into this now.

[2019-11-18 20:01] VasilijKolomiets commented on #29689
look, the question is:
how i know that this library is not installed when I install conda?
or when i did
pip install pandas?
have i to install SQLAlchemy or no ?
You show me - that somethings is BY DEFAULT i.e. engine='auto'
.
Sorry if i only waste  your time, but i lost more than hour with plotly ver 4 and so on. And one episode was - WHY DOES NOT IT WORKS LIKE read from csv/xls/and so on.
Look D

[2019-11-18 21:55] jschendel opened #29697 "BUG: merge raises for how='outer'/'right' when duplicate suffixes are specified"
#### Code Sample, a copy-pastable example if possible
On `master` the following raises for `how='outer'` and `how='right'` with duplicate `suffixes`:
[code]

Note that above works with `how='inner'` and `how='left'`:
[code]

Likewise, if unique `suffixes` are specified then `how='outer'` and `how='right'` work fine:
[code]

#### Problem description

`pandas.merge` raises for `how='outer'` and `how

[2019-11-18 23:14] jreback commented on #28599
@maresb there are 3000 issues and all volunteer
so issues get solved when folks contribute PRs

[2019-11-18 23:30] Alrik-star opened #29699 "MultiIndex-Columns Integer and String: Column level 1 not accessable after a using append multiple times"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Raises an exception "KeyError: 'multi' ", although this should perfectly work, as the key "Multi" exists, e.g when printing df.columns.

The most strange thing is:
- The step in which this exception is raised depends on the Name of the key "Multi".. Sometimes 2nd loop, sometimes 6th,...
- During the first loop

[2019-11-19 00:06] jbrockmendel commented on #29481
I guess you could reasonably expect it to work like `df.sum`, which uses nansum rules?

[2019-11-19 00:30] maresb commented on #28599
@jreback yes, that is so obvious that I'm surprised that you feel the need to point it out to me.  I'd love to contribute, but it'll be several weeks before that's even possible.

In case you have a problem with my previous comment, I would appreciate some constructive feedback.  I thought that I was being helpful and polite by alerting @mar-ses, since he previously expressed interest in contribut

[2019-11-19 00:30] datapythonista commented on #29623
@jbrockmendel mind taking a look? That looks like a bug to me too, but may be we're missing something.

@rachel-frenkel let us know if you need help.

[2019-11-19 01:01] jbrockmendel commented on #29623
It looks like in `first` before setting `end_date = end = self.index[0] + offset` there needs to be a check for `offset.onOffset(index[0])`, in which case we should return `self.loc[:index[0]]`

[2019-11-19 01:22] lucassa3 commented on #29547
f-string replacement placed on:
- [x] pandas/core/groupby/generic.py
- [x] pandas/core/groupby/groupby.py
- [x] pandas/core/groupby/grouper.py
- [x] pandas/core/groupby/ops.py

[2019-11-19 04:23] #29128 closed

[2019-11-19 04:28] donglai96 commented on #12187
Is someone still working on this problem?

[2019-11-19 05:07] JacksonDagger commented on #29489
I'm still looking into this. I've discovered that this issue also affects [Series.plot.](https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.Series.plot.html) Both plot classes use the PandasAutosummary class in conf.py and [PlotAccessor](https://github.com/pandas-dev/pandas/blob/v0.25.0/pandas/plotting/_core.py#L504-L1533)

[2019-11-19 05:12] rock321987 commented on #24880
This issue still persists in **pandas 0.25.3**. I had asked about this on [Stackoverflow](https://stackoverflow.com/questions/58919569/pandas-groupby-and-transform-to-median-gives-nan) and got here, but found this is closed.

[2019-11-19 05:17] WillAyd commented on #29686
Sorry trying to read through all of the related items but not seeing it - what did we ultimately decide for comparison operators? IMO `any` should match whatever `or` does and `all` should match whatever `and` does

[2019-11-19 06:55] iamrajhans commented on #29697
@jschendel would like to work on this

[2019-11-19 07:39] rhkarls opened #29705 "Misaligned X axis plotting datetime indexed series with and without frequency"
#### Code Sample, a copy-pastable example if possible

[code]

![image](https://user-images.githubusercontent.com/2330659/69126046-87a86e00-0aa7-11ea-928a-d95e52ce633c.png)

#### Problem description
Data on the second axis is not plotted correctly on the X axis. The irregular point data is shifted relative to the other data. It seems this is caused by the uncommon timestamp between the first entry

[2019-11-19 08:57] zogzog opened #29706 "series.to_json + isoformat: bad serialization of naive dates (as utc stamps)"
#### Exhibited there

[code]
#### Problem description

In pandas 0.25, " Bug in read_json() where date strings with Z were not converted to a UTC timezone (GH26168) " made me realize an issue with series timestamp iso serialization.

Naive dates should not be converted within an UTC referential.

[2019-11-19 09:27] jondo opened #29707 ".loc assignment with empty label list should not convert dtypes"
#### Code Sample

[code]
#### Problem description
The `.loc`-Assignment with empty label list does not change any dataframe row, so it should not convert the column datatype from integer to float.

Seen with the current pandas version 0.25.3.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits

[2019-11-19 09:34] jorisvandenbossche commented on #29686
The logical operations (and, or) are being discussed in https://github.com/pandas-dev/pandas/issues/28778 (and implemented for pd.NA in https://github.com/pandas-dev/pandas/pull/29597).
The table that Tom made with the behaviour for all possible cases for any/all match with what the current conclusion / implementation is in those issues regarding logical operations ("Kleene logic" or "three value

[2019-11-19 10:04] jondo commented on #29707
A counter argument would be that the length of the label list should not influence whether the conversion should happen or not. So the behavior might be by design.

[2019-11-19 11:53] datapythonista commented on #29489
I don't think the docstring was removed, so it should be only a question of setting it to the right object (which was probably unset during a big refactoring we did).

[2019-11-19 12:37] jorisvandenbossche opened #29708 "Indexing (__getitem__) of DataFrame/Series with ExtensionArray densifies the array"
I noticed in GeoPandas that filtering a series with a mask "densifies" the ExtensionArray (= converting the ExtesionArray to a materialized numpy array), which can potentially be very expensive (if the ExtensionArray doesn't store a numpy array of scalars under the hood).

This is quite problematic for such a basic operation (and problematic for the next version of GeoPandas, we will probably have

[2019-11-19 12:54] Jokab opened #29709 "DataFrame.at indexing with date string promotes column type, while indexing with datetime casts value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
This issue arises when dealing with a Dataframe with a datetime index. When using `DataFrame.at[]` and indexing using a date string, the column dtype is promoted to the type of the provided value. However when using `DataFrame.at[]` and indexing using a datetime, the provided value is instead cast to the column'

[2019-11-19 13:01] jorisvandenbossche commented on #29684
@lr4d Thanks for the report, I can confirm this is a regression compared to pandas 0.24.

@jbrockmendel do you know if we have / had special handling for this in the tslib code?

[2019-11-19 13:19] #29001 closed

[2019-11-19 13:31] #28839 closed

[2019-11-19 13:42] #28427 closed

[2019-11-19 14:31] MomIsBestFriend commented on #29547
Will take next:
- [ ] pandas/_libs/tslibs/conversion.pyx
- [ ] pandas/_libs/tslibs/c_timestamp.pyx
- [ ] pandas/_libs/tslibs/fields.pyx
- [ ] pandas/_libs/tslibs/frequencies.pyx
- [ ] pandas/_libs/tslibs/nattype.pyx
- [ ] pandas/_libs/tslibs/np_datetime.pyx
- [ ] pandas/_libs/tslibs/offsets.pyx
- [ ] pandas/_libs/tslibs/parsing.pyx
- [ ] pandas/_libs/tslibs/period.pyx
- [ ] pandas/_libs/tslibs/str

[2019-11-19 14:48] TomAugspurger opened #29710 "DEPR: Deprecate `.str` accessor on object-dtype."
This issue discusses a future deprecation of the `.str` accessor on StringArray.
It's probably blocked by making `Series(['a', 'b', 'c'])` infer StringDtype, rather
than object dtype.

In https://github.com/pandas-dev/pandas/pull/29640, we split the implementation
of `.str` methods into two: one for the old `object`-dtype arrays and one for StringArray.
The StringArray implementation is much nicer

[2019-11-19 15:07] #29544 closed

[2019-11-19 15:10] biddwan09 commented on #29217
Hi @hwalinga can I work on this issue ?

[2019-11-19 15:20] biddwan09 commented on #29417
Hi can I work on this issue ?

[2019-11-19 15:49] gleblanc1783 opened #29711 "Dropna Subnet changes timestamp format in to_csv()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When using pd.dropna, it changes the format of a datetime column to a different format when calling to_csv()

[code]

As you can see after calling dropna the format of the baz column is now 2019-11-18 09:04:05.000000

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERS

[2019-11-19 15:51] WillAyd commented on #29686
Gotcha thanks! So yea I think I agree with Tom's table then - any / all should follow the logic rules of OR / AND respectively across all elements

[2019-11-19 16:42] jbrockmendel commented on #29684
I'm not aware of anything endian-specific in the tslibs code.  I'll try to take a look at this

[2019-11-19 16:52] boardtc commented on #29181
I did a conda update pandas at the anaconda prompt today to update from 0.23.x to 0.25.3 and now I get this error in Spyder importing pandas

[2019-11-19 17:10] boardtc opened #29714 "After Anaconda upgrade to 0.25.3 can't import pandas"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I did a conda update pandas at the anaconda prompt today to update from 0.23.x to 0.25.3 and now I get this error in Spyder simply importing pandas.

[code]
[29181](https://github.com/pandas-dev/pandas/issues/29181) is similar but the iPython was already installed as part of Anaconda,

#### Expected Output

None

[2019-11-19 17:28] boardtc commented on #29714
Fixed by a conda update --all,
I will open an issues against Anaconda

[2019-11-19 17:28] #29714 closed

[2019-11-19 18:07] WillAyd commented on #29706
This looks like an issue with `to_json` adding the UTC specifier. Can you try on master? I think this may already be fixed

[2019-11-19 18:14] WillAyd commented on #29710
Makes sense to me. As far as the complications I don't know that `str.decode` is used all that often to worry about; `str.get` is a pretty weird method to use on containers

`str.join` is also kind of a misnomer and we don't have first class support for lists stored in Series anyway, so again I don't think should jump through hopes for that

[2019-11-19 18:20] anandijain commented on #8745
I would also like the ability to provide my own codes (similar to invert_dummies) to get_dummies.
For example:

Say I have a directory of csvs that each contain a specific category of data, if I one hot each file individually, basically nothing happens, as the column only has one unique value.
However, I know all the possible values for the column (file regardless), so it would make sense for get_

[2019-11-19 18:56] jschendel commented on #29710
Not disagreeing, but note that the documentation for [`str.get`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.get.html) explicitly states that containers are valid and gives example usage with `list`/`tuple`/`dict`.  There's also an example of this in the [Working with text data](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#splitting-and-replaci

[2019-11-19 19:10] soerenwolfers opened #29716 "sum excludes rows where multi-index has nan"
#### Code Sample

[code]

results in
[code]
#### Problem description

df.sum ignores rows where any index column contains a np.nan.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor:
byteorder: little
LC_ALL: None
LANG: en_GB.UTF-

[2019-11-19 19:43] TomAugspurger commented on #29716
`sum(level=...)` uses groupby internally, so this is most likely the same as https://github.com/pandas-dev/pandas/issues/3729. I'll add your note as a comment over there.

[2019-11-19 19:43] #29716 closed

[2019-11-19 19:44] TomAugspurger commented on #3729
In https://github.com/pandas-dev/pandas/issues/29716, @sorenwolfers noted that this affects `.sum(level=...)` as well

[code]

[2019-11-19 20:13] nils-braun opened #29718 "melt does not recognize numeric column names"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The shown example fails with
[code]
and I guess the reason is that the call of
[code]
in `pd.melt` somehow casts the numerical column name `1` to the string `"1"`.

I am not sure if this is intended behavior or if the case of numerical column names is just not supported, but at least in older pandas versions (e

[2019-11-19 20:30] HenrikSpa opened #29719 "Misaligned X axis when plotting datetime with same frequency but different step base"
#### Code Sample, a copy-pastable example if possible

[code]

![image](https://user-images.githubusercontent.com/17615137/69183611-8f9df780-0b13-11ea-9dac-8ab14d31b63c.png)

#### Problem description

The x-axes are misaligned when plotting two or more subplots and have different timestep base (in the example above, x1 starts with hour:minute:second 00:00:00 while x2 starts with 06:00:01.

If plt.

[2019-11-19 21:40] Liam3851 commented on #29710
In our firm `.str.split(sep).str[n]` is a common idiom to quickly parse the nth substring of a delimited string (e.g. to parse paths stored in a Series). As @jschendel noted it has been officially supported in the docs for years (since at least 0.19 if not earlier).

`str.len` is also currently supported in the [docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.len

[2019-11-19 22:06] jorisvandenbossche commented on #25229
To play the devil's advocate for a moment: do we think this is actually worth including in pandas as a top-level function?

I haven't seen much usage of ORC personally (but my view is also limited; and it's of course also a chicken and egg problem, having it in pandas would give it more exposure).

[2019-11-19 22:10] WillAyd commented on #29710
Thanks for the feedback @Liam3851 that is great.

So sounds like we would want to deprecate this. Just as a thought though instead of using accessors at all I wonder if a Series should just dispatch to the underlying array. We could take something like the DictArray in #29557 but make it even more generic (say a ContainerArray) and define a `.get` method directly against that.

So instead of today

[2019-11-19 22:54] alimcmaster1 commented on #29685
Are you sure? I'm certain we run them in the `py36_locale_slow_old_np` build? ( I remember as them failing in this [PR](https://github.com/pandas-dev/pandas/pull/29513) I worked on)

[2019-11-19 23:00] datapythonista commented on #29685
the pattern for that build is `slow`, if the test is also marked as slow, then we don't need to have `not slow and not network` everywhere

[2019-11-19 23:42] jbrockmendel commented on #28549
Not sure how much this overlaps, but I'm noticing in `_aggregate_frame` the `for name, data in self:` is yielding `data` `DataFrame`s with more columns than I expect.  I think this is explained by  `_GroupBy.__iter__` using `self.obj` instead of `self._obj_with_exclusions`.  If we change this, a handful of tests are broken, but most of thsoe are for merge ops

[2019-11-20 00:46] tnwei commented on #29638
@GitDoctor1996 can you check if `Disputes` is a pandas Series instead of a DataFrame?

[code]

[2019-11-20 00:57] tnwei opened #29727 "Add `Series.todict()` for consistency?"
#### Problem description

Hello all! Hope this is the right avenue to post this.

So Series has functions `to_list()` and `to_dict()`,  with the underscore in the middle. There's also `tolist()` w/o the underscore, but not `todict()`. Don't suppose there's any harm in extending the API to allow the latter?

#### Code Sample

[code]

[2019-11-20 01:02] jreback commented on #29727
the to_list accessor was added for consistency with all of the to_* methods

we would like to depreciate / remove tolist but this is compat with numpy

-1 on adding api here

[2019-11-20 01:06] mroeschke commented on #29718
This looks like a bug to me. Thanks for the report! Investigations and PR's welcome.

[2019-11-20 01:13] mroeschke commented on #29711
Getting a similar result on master. I supposed these results should align. Investigation and PRs welcome!

[2019-11-20 01:16] mrocklin commented on #25229
In my experience ORC is less commonly used than Parquet, but is still fairly common, at least among enterprise hadoop shops.  I think that everyone who bought a hadoop/spark cluster from Cloudera ended up using Parquet while everyone who bought a hadoop/spark cluster from HortonWorks ended up using ORC (that's a generalization though).  I commonly find ORC in companies who historically used Horton

[2019-11-20 01:36] mroeschke commented on #29707
Thanks for the report! At minimum this doesn't look like friendly behavior and should probably change. I would argue that `df.loc[[]]` should possibly even raise in this case.

[2019-11-20 02:00] albertonecosta commented on #10526
https://zencash.miningpoolhub.com/index.php?page=api&action=getuserworkers&api_key=??????

[2019-11-20 05:13] #26632 closed

[2019-11-20 05:46] ivirshup opened #29733 "Series.map(m: Mapping) can fail with "object is not callable""
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

`Series.map` can sometimes take Mapping subclasses other than `dict`, but not always. I think it would make sense if any object that satisfied `isinstance(x, collections.abc.Mapping)` could be used as a mapping. I came across this while trying to use map where I only wanted values present as keys in the mappin

[2019-11-20 07:47] dumbledad opened #29734 "Pandas dropna throwing ValueError: "Cannot convert non-finite values (NA or inf) to integer""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

that simple line throws an exception:

I cannot see how calling dropna would lead to this exception. Why would dropna try to convert any values to an integer? Is this a bug or am I misunderstanding dropna?

#### Actual output

[code]

#### Expected Output

I expect columns containing only NaNs to be dropped, wi

[2019-11-20 09:08] jorisvandenbossche commented on #25229
@mrocklin thanks for that context! Sounds good to me then

[2019-11-20 09:52] oulenz commented on #4311
@WillAyd `cumcount` isn't a proper substitute, since it doesn't take a `method` parameter. Also, it feels wrong that it requires sorting the whole dataframe when all you want is sorting within groups (even if in practice it doesn't make much difference in terms of performance).

[2019-11-20 12:24] MisterKeefe opened #29735 "sort_index on a multiindexed DataFrame with sparse columns fills with NaNs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I create a MultiIndexed DataFrame with sparse columns, then call `sort_index()`, in the result `0.0` (the sparse fill value) has been replaced with `NaN` -- but it seems like only for columns which are all the fill value.

It seems like this might also be an issue with `RangeIndex` as well, since if I make

[2019-11-20 12:44] jamespreed commented on #29633
Yeah, I saw that as well.  Need to either update the function or update the docs.

[2019-11-20 12:46] #17605 closed

[2019-11-20 12:51] TomAugspurger commented on #29727
Agreed with Jeff.

[2019-11-20 13:00] #21668 closed

[2019-11-20 13:43] jamespreed commented on #29633
This is not the most efficient method, but it does accomplish the regex rsplit by regex splitting the string, grabbing the `n` last results, then finding the index in the string of the last character of the last non-included results and slicing the string to that location.

[code]

[2019-11-20 13:54] jorisvandenbossche opened #29738 "API: ExtensionArrays and conversion to "native" types (eg in tolist, to_dict, iteration, ..)"
We try to consistently return python objects (instead of numpy scalars) in certain functions like `tolist`, `to_dict`, `itertuples/items`, .. (we have had quite some issues fixing this in several cases).

However, currently we don't do that for extension dtypes (and don't have any mechanism to ask for this):

[code]

[code]

Should we add some API to ExtensionArray to provide this? Eg a method to

[2019-11-20 13:56] jorisvandenbossche commented on #29738
Actually, for Series, the `__iter__` also returns native types, so maybe fixing that is enough: ensure that `__iter__` on IntegerArray etc do return the python objects (so by not plainly using `__getitem__`, which correctly returns numpy scalars):

[code]

[2019-11-20 14:03] cchwala commented on #26796
One note on `pad` and `limit_direction`:

Since `pad`, `ffill`, `backfill` and `bfill` are, according to their name, meant to only work in one direction it does not makes sense to provided a `limit_direction` when using them in `.interpolate()`.

https://github.com/pandas-dev/pandas/pull/25141 will handle that and throw an error in these cases.

[2019-11-20 14:20] MisterKeefe commented on #29735
I am not a pandas expert, but it seems the issue might be with the `fill_value` of the underlying `Block` object for sparse columns. I would expect the `fill_value` of the block to be the same as the `fill_value` of the column wrapping the block in a `SingleBlockManager`.

[2019-11-20 14:29] prakhar987 commented on #29711
woking on this

[2019-11-20 14:54] MisterKeefe commented on #29735
https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/blocks.py#L1723

This seems to be the offending line -- for an `ExtensionBlock`, the `na_value` from the dtype is used for the `fill_value`. Perhaps it should read `return self.values.dtype.fill_value`? This would fix my immediate problem but probably break something else

[2019-11-20 15:06] tnwei commented on #29727
Ahh I see ... thanks for the context

[2019-11-20 15:06] #29727 closed

[2019-11-20 15:10] jorisvandenbossche commented on #29738
Let's consider this a bug in `__iter__` then, because I think all mentioned cases can be solved with (for IntegerArray):

[code]

[2019-11-20 15:17] jorisvandenbossche commented on #29710
I don't think we can deprecate this on a reasonably short term.

First, as Tom says himself, we first still need to switch to "string" dtype by default for strings (in pandas 2.0?). And as long as that is not done, I don't think we should deprecate `.str` on object.
But even then, using `object` dtype for strings is so ingrained that I am not sure we should deprecate it quickly (although it would

[2019-11-20 15:31] Terseus opened #29740 "Different index when creating a DataFrame than when changing a column in the DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]

The result of running this code is:
[code]

#### Problem description

Pandas assigns a different index when creating a dataframe with a given column than when adding that same column to an existing dataframe.

Please refer to the code example to see the behavior I'm trying to describe.

#### Expected Output

I expected that assert to *

[2019-11-20 15:35] jbrockmendel opened #29742 "DEPR: deprecate `label` kwarg from `lreshape`"
The argument is not used in the function.

xref #29627

[2019-11-20 16:47] TomAugspurger commented on #29740
I don't think DataFrame.drop should implicitly convert an Index to a RangeIndex.

You can avoid the assertion error with `assert_frame_equal(df_left, df_right, check_column_type=False)`.

[2019-11-20 16:49] soerenwolfers opened #29745 "Feature request: plot(subplots=levels)"
At the moment, the `subplots` parameter in `df.plot()` only supports boolean values: Generate either as many plots as there are columns or generate a single plot with all columns.

It would be nice if `subplots` understood level specifications and generate one plot for each unique value in the corresponding level(s) of a multi-index type `columns` index.

#### Code Sample
Let
[code]
[code]

The pr

[2019-11-20 16:53] Terseus commented on #29740
@TomAugspurger But then the assert isn't checking the columns types, which would make the test incomplete IMHO.

I'm new to Pandas so I don't understand its internals but this behavior looks quite counterintuitive to me; I mean, after all the DataFrames have the same columns with the same type and the same value, why whould they differ?

[2019-11-20 16:56] WillAyd opened #29746 "GroupBy Regression with Categorical On Master"
Seems to be an issue on master as this works on 0.25.3:

[code]

But fails on master:

[code]

@jbrockmendel for visibility. Looking at this on my end

[2019-11-20 16:56] TomAugspurger commented on #29740
The values are the same, but they’re in a different type of Index class.  By default we want to be strict.

It may also work if you pass =True for that parameter, not sure.

[2019-11-20 16:57] WillAyd commented on #29746
Note that this works with a frame on master:

[code]

So I think just related to some of the exception handling in cython_agg_general and a lack of test coverage

[2019-11-20 17:01] marco-neumann-jdas commented on #29738
So `ExtensionArray.__iter__` should return native types then? Is this also true for `ExtensionArray.__getitem__` with some integer? I think it should at least be documented then so that other (external) implementations can get this right.

[2019-11-20 17:05] jorisvandenbossche commented on #29738
If we mimic what Series with plain numpy dtype does, then getitem should keep returning the numpy scalar.

[2019-11-20 17:14] #20991 closed

[2019-11-20 17:37] jbrockmendel commented on #29746
might be related to #28949

[2019-11-20 18:10] darindillon opened #29749 "Multiindex with single level no longer allows selecting columns"
This works fine in pandas 0.22.0 but fails in 0.25.3 It appears a bug may have been introduced.

I have some old code that accidentally created a MultiIndex with a single level instead of a regular index, but everything worked fine with pandas 0.22.0. However, in new versions of pandas, that MultiIndex breaks pandas ability to select columns and gives an extremely misleading error message. In this

[2019-11-20 18:31] pepicello opened #29751 "Inconsistent .loc slicing behaviour with NaNs in MultiIndex dataframe"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description

As above, slicing on MultiIndex has different behaviours with nans: it excludes the current index of selection from the slice. This is possibly because - rightly so - there is no match on NaNs when comparing the indices, but if that is the case, this should also not work:

[code]

Note: might be a dupl

[2019-11-20 18:44] Dr-Irv opened #29752 "ENH: Allow opting in to new dtypes on I/O routines via keyword to I/O routines"
With the new dtypes (`IntegerArray`, `StringArray`, etc.), if you want to use them when reading in data, you have to specify the types for all of the columns.  It would be nice to have the option to use the new dtypes for all columns as a keyword to `read_csv()`, `read_excel()`, etc.

(ref. discussion in pandas dev meeting on 11/20/19)

[2019-11-20 19:53] nils-braun commented on #29718
So concerning investigation: the root cause is that
[code]
will give an `np.array` just of strings.

Concerning PRs: the check for having the columns could also be implemented via some `set` operations, but I do not know if this breaks in some other cases...

[2019-11-20 20:16] Saynah commented on #13489
@TomAugspurger

Yes! :)
If `subplots=False`, then yes, it's convenient to share the exact same bins.
But if `subplots=True` the user clearly has the intention to have separate plots and thus `sharex=True` should be honored.

I think many would love to see this issue finally resolved.

[2019-11-20 22:39] TomAugspurger commented on #29556
From the call today, there were no objections to changing IntegerArray to start using NA instead of `np.nan`.

@jorisvandenbossche do you intend to work on that? Otherwise, I can push up a WIP tomorrow (which will depend on https://github.com/pandas-dev/pandas/pull/29597).

[2019-11-20 22:45] jorisvandenbossche commented on #29556
Feel free to already do a WIP on that, there is plenty to do ;)
I would first like to get those 2 open PRs merged

[2019-11-21 00:19] tusharsp60 opened #29759 "TypeError: data type not understood"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
unable to convert datatype of column Value to float. I have tried several possible ways of doing it(commented in above code) but I am getting below error. Can you please let me know what is the problem here.
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/dtypes/common.py", line 2050, in pandas_dtype

[2019-11-21 03:59] WillAyd opened #29764 "GroupBy Doesn't Always Maintain Column Index Name"
Just as a follow up to #29124 discovered during #29753 - looks like the column name is dropped for any/all and transformation functions in groupby

[code]

[2019-11-21 05:41] ivirshup commented on #14177
I have related use cases for this, or a broader "the return type should still be categorical". First I'll layout the use case, then give the specific pandas functions where this could be used.

*The analysis problem:* During data analysis (of single cell RNA-seq data), I generate multiple unsupervised clusterings for my dataset. I use these as a starting point for figuring out what categories of s

[2019-11-21 06:12] ivirshup opened #29768 "CI: Action to assign issues fails when quotes are present"
So, this is a little weird. Apparently I left such a bad comment on an issue, it failed CI 😄.

I'm not sure how it got triggered, but looks like it's from a recently added workflow. The CI error has the contents of my comment, and I got an email that looks like this:

<details>
<summary> Notification email </summary>

------------

Run failed for master (6d11aa8)

Repository: pandas-dev/pandas
Wor

[2019-11-21 06:39] ohad83 commented on #29547
I'll take

- [ ] pandas/plotting/_core.py
- [ ] pandas/plotting/_matplotlib/boxplot.py
- [ ] pandas/plotting/_matplotlib/converter.py
- [ ] pandas/plotting/_matplotlib/core.py
- [ ] pandas/plotting/_matplotlib/misc.py
- [ ] pandas/plotting/_matplotlib/style.py
- [ ] pandas/plotting/_matplotlib/timeseries.py
- [ ] pandas/plotting/_matplotlib/tools.py
- [ ] pandas/plotting/_misc.py

[2019-11-21 10:27] dzanaga opened #29769 "sort_values order ignored when sorting multiple columns"
I am having issues sorting multiple columns in reverse order:

[code]
returns `True True True`, e. g. I cannot manage to sort by `'y'` in reverse order. I would expect the comparisons to return `False False False`. The columns dataframes are always sorted in ascending order.

If I do `df.sort_values('y', ascending=False)` then it works as expected and the y values are sorted in descending order.

[2019-11-21 10:46] jebob opened #29770 "DataFrame.to_csv(quoting=csv.QUOTE_NONNUMERIC) quotes numeric values for dot separators"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Using a "." as a separator causes QUOTE_NONNUMERIC to quote floats, even if there is only one column.

Explicitly stating other separators (I tried a couple) is fine.

#### Expected Output

The test above should pass.

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-11-21 10:54] jebob commented on #29770
Actually, I think this is a feature of the `csv` module, floats get quoted but ints do not.

[code]

[2019-11-21 10:54] #29770 closed

[2019-11-21 12:21] marco-neumann-jdas commented on #29764
Reading through the code example, I think this should be "GroupBy Doesn't Always Maintain **Index** Name".

[2019-11-21 12:29] regstrtn opened #29771 "Same parameter name for specifying column names in pd.read_csv and pd.DataFrame"
The two most common ways of creating a new dataframe use different parameters for taking a list of column names as input.
In pd.read_csv, the syntax is:
`pandas.read_csv(filepath, sep=',', delimiter=None, header='infer', names=None)`

In pd.DataFrame, the syntax is:
`pandas.DataFrame(data=None, index=None, columns=None)`

And then again, in df.to_csv, we use the name `columns`.
`df.to_csv(self, pa

[2019-11-21 12:49] normanius opened #29772 "Aggregation (sum) fails for a grouping along a multi-level column in pandas >=0.25.x"
#### Code Sample
Find the dataset [`bug.csv` here](https://github.com/pandas-dev/pandas/files/3874729/bug.csv.zip)

[code]

The bug possibly applies to multi-level _indices_ as well (not just headers) - haven't checked it though.

#### Problem description

A groupby object `g` fails at aggregating the sum if `g` was created on a df with a multi-level header, with grouping along one of the column l

[2019-11-21 13:06] #29664 closed

[2019-11-21 13:47] alice17 commented on #18972
I experienced the same error:

`AttributeError: Attribute 'block0_items_variety' does not exist in node: '/train'` when calling the function `pd.read_hdf(fileInPath, key="train")`.

pandas 0.24.2
tables 3.5.2
python 3.6

[2019-11-21 14:59] datajanko opened #29773 "Timedelta not parsing ISO-8601 strings properly"
#### Code Sample, a copy-pastable example if possible

[code]

and

[code]
#### Problem description

The ISO strings should be parsed correctly and provide valid output
as described [here](https://github.com/pandas-dev/pandas/pull/15136) and shown [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/timedeltas.html)

#### Expected Output

First example and second example should have outp

[2019-11-21 15:02] usmcamp0811 commented on #25068
I just ran into this error with some code I am writing.. I have the `check_less` and `check_exact` arguments set but still get an assertion error. The message it prints the same numbers out to the maximum print distance of 15 decimal places.

[2019-11-21 15:22] TomAugspurger opened #29774 "Use entrypoints as an alternative to register_extension_dtype?"
Right now, pandas let's you register your extension dtype. This does a few things, but the primary one is letting find your dtype given a string alias provided by the user.

An unfortunate consequence is that

[code]

may fail, while

[code]

succeeds. We might consider adding an entrypoint.

[code]

and 3rd parties register to it with

[code]

This avoids any awkard import-time side effects.

[2019-11-21 15:23] TomAugspurger commented on #29774
@jorisvandenbossche would the same be appropriate for pyarrow?

[2019-11-21 15:25] jorisvandenbossche commented on #29774
Need to think that a bit through.

For pandas, we would then check the entrypoints on *pandas import* (and not lazily, as for the plotting backend)? Do you know the performance of this? (I seem to recall that can be problematic for certain usecases)

[2019-11-21 15:34] WillAyd commented on #29764
Thanks! Updated to clarify

[2019-11-21 15:52] mroeschke commented on #29773
Thanks for the suggestion. Duplicate of https://github.com/pandas-dev/pandas/issues/22815

[2019-11-21 15:58] datajanko commented on #29773
Is this really a duplicate? Things are implemented but do not work as intended!

[2019-11-21 15:59] datajanko commented on #29773
This is the duplicate: https://github.com/pandas-dev/pandas/issues/25422

[2019-11-21 16:02] datajanko commented on #29773
Additionally, the first example shows that a syntactically valid duration is not handled correctly

[2019-11-21 16:04] TomAugspurger commented on #29774
Would it need to be at pandas import time? I would think we could do it on demand, e.g. `pd.array()` (or perhaps in `pandas_dtype`).

Testing with our plotting entrypoint and the holoviews backend we have the following. Note that I already imported hvplot, as that takes ~2s on its own

[code]

For reference, `import pkg_resources` takes ~138ms on my machine (outside of line-profiling, which slows

[2019-11-21 16:15] Terseus commented on #29740
@TomAugspurger After reading the docs of [assert_frame_equal](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testing.assert_frame_equal.html) I found that there's a parameter that looks made just for this case, `check_index_type`:
[code]

However even with `check_index_type=False` the same error happens.

I don't think anymore that I understand what's the desired behavior of ass

[2019-11-21 16:16] TomAugspurger commented on #29740
IIUC, the issue is with the columns, not the index.

On Thu, Nov 21, 2019 at 10:15 AM David Caro <notifications@github.com>
wrote:

[2019-11-21 17:51] WillAyd commented on #29768
This isn't coming from pandas but your local branch right? We did add GH actions recently so it might fail on your branch if not set up

[2019-11-21 17:53] TomAugspurger commented on #13489
If you have a reasonably simple solution, then I think a PR would be
welcome.

On Wed, Nov 20, 2019 at 2:16 PM Mark Sena <notifications@github.com> wrote:

[2019-11-21 18:08] mroeschke commented on #29773
Ah my mistake. I had though we didn't support ISO 8601 durations yet.

Right, this definitely looks like a parsing error then. Thanks for the report!

[2019-11-21 18:32] Reksbril commented on #28773
@crew102 Are you still working on this, or could I take over the task?

[2019-11-21 18:35] crew102 commented on #28773
Sorry, haven't had time to look into this. Yes, please take it over.

[2019-11-21 19:41] arsturges opened #29779 "pd.Timestamp.timestamp() doesn't match stdlib"
edit: See https://github.com/pandas-dev/pandas/issues/29779#issuecomment-557747641

I searched for this among open issues but couldn't find it. Apologies in advance if I overlooked an existing issue, resolved or otherwise.

[code]

[Python3 docs explain](https://docs.python.org/3/library/datetime.html#datetime.datetime.timestamp) that datetime.datetime.timestamp() assume local time if no tzinfo is

[2019-11-21 20:22] seanngpack opened #29780 "df.to_hdf(), HDF5 files containing strings generated by pandas are not usable by other software"
#### Code Sample
[code]
#### Problem description
**HDF5 files containing strings generated by pandas are not usable by software other than pandas**
When writing a csv file containing strings to a hdf5 file, the output is unreadable by other software because it outputs python code representation of the strings.

#### Step to reproduce
* Make a .csv file with the table I provided
* run the code I ha

[2019-11-21 20:42] datapythonista commented on #29768
Thanks for reporting this @ivirshup. We have an action that assigns issues if a comment with the exact text `take` is written. Looks like it fails when comments that are evaluated are compared, since quotes are not escaped.

[2019-11-21 20:55] jakebailey commented on #26127
My PR for this (#26140) was never merged, but the cython version was eventually updated past the broken version. I'll close this since I believe it's fixed at this point.

[2019-11-21 20:55] #26127 closed

[2019-11-21 21:28] krunal-shah commented on #29769
True and False are keywords, use them without the quotations and it will work. So you want to write

[code]
Additionally, if you want to use ```df0 == df1```, you will have to use ```df0 = df0.reset_index(drop = True)``` for all the data frames to make the sorted indices match, play around and you'll know what I mean.

[2019-11-21 21:47] jschendel commented on #29718
Maybe use `pandas.core.common.flatten` instead?

[code]

Which seems to make things work:
[code]

[2019-11-21 22:35] WillAyd commented on #29779
We diverge from the stdlib timestamp in quite a few ways so hard to judge if that is really problematic or not. What is the larger problem you are trying to solve?

[2019-11-22 01:11] jreback commented on #29780
see the section on external compatibility in https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-hdf5

this format is designed internal compatibility and may or may not work externally

[2019-11-22 01:11] #29780 closed

[2019-11-22 01:13] jreback commented on #29780
storing in a fixed format is pickling things which likely doesn’t work externally

try using .appemd

[2019-11-22 02:22] tigerey3 commented on #29768
I would like to work on this issue given that it's still unassigned!

[2019-11-22 02:28] jbrockmendel commented on #6581
@mroeschke would it be convenient for you to take point on removing #20584?

[2019-11-22 02:29] datapythonista commented on #29768
Sure, thanks for the help! It's assigned to you, you can assign issues to yourself by writing a comment with just `take`

[2019-11-22 03:23] mroeschke commented on #6581
Most definitely @jbrockmendel. Can do.

[2019-11-22 07:59] ohad83 commented on #29733
Hey @ivirshup,

`UserDict` is pretty much deprecated by the ability to subclass `dict` since python 2.2.
The reason `Counter` and `defaultdict` work fine is exactly for this reason - they are `dict` subclasses.

Funnily enough, while `UserDict` is a subclass of `collections.abc.Mapping`, it is not enough for your example. `UserDict`'s implementation contains the special case of `__missing__` which

[2019-11-22 08:51] gfyoung commented on #29733
Can someone explain the benefit of allowing `UserDict` directly when you can just pass in `UserDict.data`, which is a `dict` object?

[2019-11-22 09:52] Bauxitedev commented on #8953
@jconstanzo  Having the same issue here. Using `method='multi'` (in my case, in combination with `chunksize`) seems to trigger this error when you try to insert into a SQLite database.

Unfortunately I can't really provide an example dataframe because my dataset is huge, that's the reason I'm using `method` and `chunksize` in the first place.

[2019-11-22 10:22] discover59 commented on #24962
@jacky82226 's approach worked for me with minor adjustment.

[2019-11-22 10:43] nathalier commented on #29403
Hi,
deque slice can be taken through itertools.islice() .

Which would be better - to implement slicing for deque as well or return False from core.tools.datetimes.should_cache whenever a sequence is not slicable with [:] ?

[2019-11-22 10:46] hamdotpy opened #29789 "performance issue with aggregation last/first of resampler when df contains categoricals"
#### Code Sample, a copy-pastable example if possible

[code]
resampling the df containing integers took 0.007719516754150391 seconds
resampling the df containing categoricals took 38.36969518661499 seconds

#### Problem description

As code above shows resampling df containing categoricals is super slow for aggregation .last(). Same behaviour occurs for .first(), whereas .mean() is performing fin

[2019-11-22 11:01] dzanaga commented on #29769
@krunal-shah thanks for spotting it. I am gonna close this and go jump from a bridge :)

[2019-11-22 11:01] #29769 closed

[2019-11-22 11:41] jluttine opened #29790 "to_pickle doesn't support file handles"
`to_pickle` supports only file names, not file handles. See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html

Is there some particular reason for this? `to_csv` does support file handles so I would have expected `to_pickle` to support too.

To reproduce:

[code]

[2019-11-22 11:43] jluttine commented on #29790
The reason I'd like to have support for file handles is that then I can explicitly flush.

[2019-11-22 12:03] jreback commented on #29790
duplicate of https://github.com/pandas-dev/pandas/issues/26237

nothing stopping this, submit a PR today!

[2019-11-22 12:03] #29790 closed

[2019-11-22 12:23] ohad83 commented on #29733
As I said I don't believe `UserDict` should have a specific case. On the other hand, `collections.abc.Mapping` does seem suitable for this case.

[2019-11-22 14:40] TomAugspurger opened #29791 "Have `pd.array` infer new extension types"
Currently `pd.array` sometimes requires an explicit `dtype=...` to get one of our extension arrays (we'll infer for Period, Datetime, and Interval).

This proposal is to have it infer the extension type for

* strings -> StringArray
* boolean -> BooleanArray
* integer -> IntegerArray

All of these currently return PandasArray.

Concretely, we'll need to teach `infer_dtype` how not to infer `mixed`

[2019-11-22 15:35] #29650 closed

[2019-11-22 16:19] #23086 closed

[2019-11-22 16:44] dumbledad commented on #29734
@alimcmaster1 added a 'missing data' tag. The redacted CSV is available on Dropbox [here](https://www.dropbox.com/s/rm2w4oqsnrb6yqd/dropna.csv?dl=0).

    df = pd.read_csv('E:\\Temp\\dropna.csv')
    df.dropna(axis='columns', how='all')

But be warned, the CSV is 3.3 GB and the resulting data frame has over 60 million rows. It tried cutting out rows, but it seems to need to be this long to trigger

[2019-11-22 17:02] #20410 closed

[2019-11-22 17:56] mroeschke commented on #29403
I think slicing the deque is preferable to not caching when the user passes a deque. Caching should be available for all inputs ideally.

[2019-11-22 19:38] selik commented on #11499
@TomAugspurger Looks like someone took care of it, but it's not reflected in v0.25.3

[2019-11-22 19:52] jbrockmendel commented on #29779
Yah, for tz-naive we implement `timestamp` as if it were UTC.  Among other things, this ensures that we get the same behavior regardless of where the code is running.

[2019-11-22 20:43] alichaudry commented on #26564
1. I just opened a PR to attempt to resolve this. Does #29800 seem too naive of a fix for this bug?
2. Does this fix need a test?
3. I'm not really sure which `whatsnew` to add to.

[2019-11-22 21:09] konst-ivanov opened #29803 "read_excel with openpyxl engine doesn't close file after reading"
[code]
#### Problem description:
After running the above code in console, I switch to Excel and try to save 'excel_file.xlsx'. Excel raises access error.

I tried to figure out if the file remains open using file descriptor. As output shows, it does:
[code]

##### Output:
[code]

The problem may arise from the openpyxl's class `ExcelReader`. Its' `read()` method closes the archive if read-only att

[2019-11-22 23:06] alichaudry commented on #26564
I see now that the updates needed for this are a little bit more complex than I thought. To ensure nothing else breaks more thought will have to go into this.

[2019-11-22 23:20] ivirshup commented on #29733
@gfyoung, the use case above was for when I wanted something like: `series.map(lambda x: {"a": "b"}.get(x, x))` without the lambda. More broadly, there are many objects that inherit from `Mapping` or `MutableMapping` which I'd expected to work. I only used `UserDict` here since it seemed more concise than the typical subclass of `MutableMapping`.

[2019-11-22 23:20] Enteee opened #29806 "Series.to_json - invalid handling of quotes"
#### Code Sample, a copy-pastable example if possible

[code]
produces an invalid JSON string:

[code]

#### Problem description

For the given transformation, the output of `to_json` of a `pandas.core.series.Series` is not a valid JSON object.

Would be nice if it was.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2019-11-23 00:30] arsturges commented on #29779
The pandas behavior is what I was expecting from `datetime.datetime().timestamp()`. I was surprised to find that `datetime.datetime.timestamp()` assumes local time, so it changes depending on what timezone it's run in. I like the `pd.Timestamp.timestamp()` implementation better, but I got burned when it didn't match the stdlib implementation.

One issue is that in an app where datetimes are coming

[2019-11-23 00:58] jbrockmendel commented on #29779
At the moment we have a comment in the Timestamp.timestamp method noting that it will behave differently from stdlib; putting that in the docstring would be worthwhile.

[2019-11-23 07:51] bluenote10 opened #29813 "Series.replace not working on slices of heterogenoues types"
#### Code Sample

[code]
#### Problem description

`Series.replace` does not work in the second case. In both cases one would expect that the `np.nan` gets replaced by `None`. However, the replace fails in the second case.

The actual output is:
[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-11-23 08:10] m7142yosuke opened #29814 "Pandas wrongly read Scipy sparse matrix"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

`sparse_data.todense()` and the other matrixes should be same, but not.
 (i.e. the [2, 0] value in bottom 2 matrixes should be 1.)

#### Expected Output

When converting sparse matrix to Pandas DataFrame values of the sparse array should stay the same.

#### Output of ``pd.show_versions()``

<details>

python

[2019-11-23 08:28] jorisvandenbossche commented on #29814
Thanks for the report! I can confirm this bug on latest master.

Under the hood, the first column of the dataframe is created as:

[code]

So you see that also here the result is wrong. But, the actual indices are correct (indicating [2, 3] for elements 3 and 4 not being sparse), but it's the value of the third element that is wrong (0 instead of 1). If you change the "fill_value", this becomes cl

[2019-11-23 08:31] jorisvandenbossche commented on #29791
Shouldn't we infer with `skipna=True` ? (since all those new dtypes can hold missing values, we should ignore missing values when inferring?)

Another thought: should we add a keyword for this? (something like `use_new_dtypes=True` but with a potentially better name?) So if we would like to start using `pd.array(..)` more internally for array creation, we can still turn it off if needed.

[2019-11-23 09:55] ohad83 commented on #29806
Seems to work fine in master, output:
`'{"(\'a\', \'b\')":[{"A":"a","B":"b"}]}'`

[2019-11-23 12:03] victorbr92 commented on #29738
Hi, @marco-neumann-jdas and @jorisvandenbossche, are you guys working on this issue ? Could I help somehow and make a PR for it (it was marked as a good first issue).
I tested the changes proposed by @jorisvandenbossche locally and it fixes the reported issue indeed.

[2019-11-23 17:03] Tirore96 commented on #29671
Hi I'd like to work on this issue

[2019-11-23 20:06] Tirore96 commented on #29671
In regards to running run_test.sh I got two questions.
1. The parameter values specified in [build](https://github.com/pandas-dev/pandas/blob/master/.travis.yml#L49) don't adress $TEST_ARGS and $COVERAGE. What values should these have?
2. When running pytest  it reports an "unrecognized arguments: --strict-data-files" error. -strict-data-files is specified as an addopt in the [config file](https:/

[2019-11-23 21:03] datavizard commented on #29768
take

[2019-11-23 21:31] JohnMount opened #29819 "0.25.1 pandas.core.frame.DataFrame.eval() erroring-out on Python 3.7 (but not on Python 3.6)"
#### Code Sample

[code]
#### Problem description

For Python 3.6 the above code runs.  For Python 3.7 it errors-out with "`TypeError: unhashable type: 'numpy.ndarray'`".  If I am returning the wrong type (an array instead of a named series or dataframe) I apologize.

#### Expected Output

For Python 3.6 we get what I expected:

`array([1, 4])`

For Python 3.7 0.25.1 pandas we get the following:

[2019-11-23 22:43] #24893 closed

[2019-11-23 23:02] #29217 closed

[2019-11-23 23:04] #19437 closed

[2019-11-23 23:10] #29718 closed

[2019-11-23 23:34] m7142yosuke commented on #29814
Maybe, I found the cause. This problem occurred due to unexpected sparse matrix.

Sparse matrix should be specified as non-zero value.
(i.e. data matrix in `coo_matrix((data, (i, j))` should be specified as non-zero value, because the matrix specified as zero is meaningless.) See the following example.

[code]

So why do problem occur? I think because data matrix in `coo_matrix((data, (i, j))` is

[2019-11-24 00:44] datapythonista commented on #29671
1. `$COVERAGE` is usually empty, except for the job that computed and uploads the coverage, then it's `true`: https://github.com/pandas-dev/pandas/blob/master/.travis.yml#L47 Similar for `$TEST_ARGS`, not sure which job uses it, but it's usually empty, and some build will use it to provide extra args to pytest (if I'm not wrong).
2. It looks like you don't have the right dependencies or the right

[2019-11-24 00:45] datapythonista commented on #29671
To work in an issue, you can write `take` in a comment and it'll be assigned to you. Please unassign it if you stop working on it. Thanks!

[2019-11-24 10:58] datapythonista opened #29823 "Update logo in GitHub organization"
Just realized that we still have the old logo in the GitHub organization: https://github.com/pandas-dev/

We probably want to have the [new one](https://dev.pandas.io/static/img/pandas_mark.svg), but I don't have permissions to do that.

May be an admin of the organization can make the change?

[2019-11-24 14:54] jorisvandenbossche commented on #29478
@thy09 late reply, but thanks for the report! I can confirm this is a regression compared to 0.24

I think the fix should be to add `ExtensionArray` to this isinstance check here:

https://github.com/pandas-dev/pandas/blob/35029d20d53a1af57823759039f57d8ff09736c3/pandas/core/dtypes/missing.py#L178

You're certainly welcome to look into it and do a PR!

[2019-11-24 16:31] jorisvandenbossche commented on #29772
@normanius thanks for the report! This seems to work again on the latest master. I am not sure if there was a specific fix for this, but so it might be good to still add your example as a test case, to ensure it keeps working.

[2019-11-24 16:55] MosheVai opened #29824 "using to_dict with the 'records' orient produces different results from the default one"
consider the following `df`

[code]

using the normal `to_dict` returns the wanted results with the native python types

[code]

however doing it with a different orient, produces different results
[code]
---

as a side note, it would be nice to have the ability to convert a dataframe or a series into a native types structure (no unlike `to_json`)

[2019-11-24 17:43] dmitrypol commented on #10526
would be great if `read_json` supported passing headers.  Super useful to reading data from APs w/o having to leverage `requests`

[2019-11-24 19:32] haichuan0424 commented on #29588
I'll give this one a try.

[2019-11-24 21:27] alimcmaster1 commented on #29547
Sure ive labelled accordingly. thanks

[2019-11-24 22:31] cibic89 opened #29827 "YearOffset issue"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
It's because the YearOffset month is Jan and so is the given month
[code]

#### Expected Output

Timestamp('2012-01-01 00:00:00')

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS

[2019-11-25 02:17] mroeschke commented on #29827
As the error states, this offset is not implemented.

Additionally in https://github.com/pandas-dev/pandas/issues/7706, looks like we intend to eventually make this offset private, so I don't believe this offset is intended to work.

In the meantime, you can try to use `DateOffset` instead: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.tseries.offsets.DateOffset.html

[2019-11-25 02:17] #29827 closed

[2019-11-25 06:16] wj-c opened #29832 "read_hdf() file name encoding with with accented or special characters on Windows"
#### Problem description

pd.read_hdf() has the same issue as #15086. If the file path contains special characters (like Chinese) on Windows, it fails to read the file.

#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64

[2019-11-25 07:02] alex-s-codes opened #29833 "Aggregation fails when grouping on more than one key and the column to aggregate is a tz-aware timestamp series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Potentially relates to #23683.

When upgrading from Pandas version 0.24.2 to 0.25.3 I noticed some of my old code failed of a sudden.

The above code isolates the issue: when grouping on more than one key and aggregating a Timestamp column, the `_try_cast()` method is called twice from inside `_python_agg_genera

[2019-11-25 11:20] jreback commented on #29833
please try on master

[2019-11-25 12:12] TomAugspurger commented on #29832
Can you provide a reproducible example, with a stacktrace?

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-11-25 12:14] TomAugspurger commented on #29823
I think that's just @jreback or @wesm.

[2019-11-25 13:19] jorisvandenbossche commented on #29823
I seemed to have permissions for it, so updated it

[2019-11-25 13:36] #29823 closed

[2019-11-25 13:36] datapythonista commented on #29823
Thanks!

[2019-11-25 13:54] #21527 closed

[2019-11-25 14:38] kurtforrester opened #29834 "pivot_table with MultiIndex and margin=True fails with ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A ValueError is unexpected. There seems to be an underlying issue with a number of pivot-like functions (pivot, pivot_table, crosstable) when processing MultiIndex and/or Categorical features. I am unsure as to the source of the issue and if this is indeed expected behaviour. The error suggests using a level nu

[2019-11-25 14:56] kurzacz commented on #29813
I'm having the same problem. I try to clean Kaggle dataset from missing values represented by question mark `?`. This happens When I try to do this across all dataset.
Steps to reproduce:
1. Find and download Kaggle dataset geoplaces2.csv:
https://www.kaggle.com/uciml/restaurant-data-with-consumer-ratings#geoplaces2.csv
2. Code step by step:
[code]
_Output:_ `?`

[2019-11-25 14:57] TomAugspurger commented on #29779
@arsturges does your thumbs-up indicate that you're interested in working on this?

[2019-11-25 15:16] prakhar987 commented on #29711
I think the issue occurs after call to BlockManager's ```consolidate()```, though i am unable to pinpoint the exact cause. Would appreciate any leads.

[2019-11-25 15:17] kdrifi commented on #25815
Thanks for the fix :)

[2019-11-25 15:22] prakhar987 commented on #29772
Working on this

[2019-11-25 15:43] aggraced opened #29835 "deleting index column but index=False not working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I tried to export the dataframe into excel, and wanted to avoid the index column. However even I use index=false, it still failed. Would you able to help with it? Thanks. I'm using python 3.6 on Jupyter notebook

[2019-11-25 15:49] #21778 closed

[2019-11-25 17:00] TomAugspurger commented on #29556
BooleanArray is in master. Getting https://github.com/pandas-dev/pandas/pull/29597 in will open up more followups. I think the order is roughly

1. Use `pd.NA` in BooleanArray
  1.a Implement kleene-logic in logical ops on BooleanArray
3. Use BooleanArray as the return value for logical ops in StringArray & IntegerArray

@jorisvandenbossche feel free to update this list (or maybe the original post

[2019-11-25 17:27] jorisvandenbossche commented on #29556
Thanks Tom, the follow-ups I had listed in https://github.com/pandas-dev/pandas/pull/29555#issuecomment-556070477 are more or less the same (added boolean indexing + any/all)

[2019-11-25 17:32] jorisvandenbossche commented on #29556
And updated the top post with a to-do list

[2019-11-25 17:37] xujiboy opened #29837 "groupby() drops categorical columns when aggregating with isna()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The categorical column "categorical_col" is expected to survive the aggregation, however, it gets dropped.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3

[2019-11-25 17:41] jorisvandenbossche opened #29838 "PERF: improve conversion to BooleanArray from int/float array"
Currently, the creation of a BooleanArray from an int/float array goes through a conversion to object dtype (to do it together with the generic conversion from any list-like):

https://github.com/pandas-dev/pandas/blob/7d7f885856b0c3d51eaf15beaac9d4f30c23797d/pandas/core/arrays/boolean.py#L133-L145

For the specific case of int/float ndarray, this could be optimized with a specific path for those

[2019-11-25 17:45] jorisvandenbossche opened #29839 "PERF: improve Integer/BooleanArray astype to numeric dtypes"
Currently, in the IntegerArray or BooleanArray `astype`, we first convert to object dtype, and then convert to the requested dtype.
For example, in `IntegerArray.astype`:

https://github.com/pandas-dev/pandas/blob/7d7f885856b0c3d51eaf15beaac9d4f30c23797d/pandas/core/arrays/integer.py#L551-L553

where `self._coerce_to_ndarray()` creates an object ndarray.
In case of converting to integer (and if th

[2019-11-25 17:50] jreback commented on #29837
you need to try with a much newer version and/or master

[2019-11-25 17:57] mroeschke commented on #29833
Looks to work on master. Possibly fixed by https://github.com/pandas-dev/pandas/pull/27921, but suppose could use a regression test.

[code]

[2019-11-25 18:01] TomAugspurger commented on #29839
Note that we need to have a discussion on the behavior of converting to float once we start using `pd.NA`. Do we want to implicitly convert NA to `np.nan` when the user does `boolarray.astype('float')` Is requesting a float a large enough hint to imply they want NA converted to NaN?

[2019-11-25 18:16] xujiboy commented on #29837
Thanks for the suggestion @jreback. However, I observed the same behavior with `pandas==0.25.1`

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.9.184-linuxkit
machine

[2019-11-25 20:34] pmgh2345 commented on #14553
This functionality would be absolutely glorious!  I'm not too versed in the vocabulary of github; does the comment by @rugg2  that the functionality is "down to reviews now" mean that it's down to the pandas team to review it?  And if it's approved, does that mean it will become available via a new version of pandas that we can install, or would we be required to apply the commit manually ourselve

[2019-11-25 21:44] topper-123 commented on #29556
I'm obviously late to this party, but to me it seems like a BooleanArray could be implemented more efficient in a Categorical-like structure, where the "categories" would be enforced to ``[False, True]`` and the "codes" would be a ndarray with possible values of -1, 0 and 1.

If we'd do that, we'd avoid the mask and the ops would be faster and the memory usage lower?