[2021-08-06 14:02] rj-global opened #42916 "ENH: Add anti-joins to pandas.merge"
#### Is your feature request related to a problem?

Pandas does not allow anti-joins. It would be helpful to have these added
Pyspark has implemented this on its 'join' command.
https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-join.html

#### Describe the solution you'd like

Add anti-left and anti-right joins to 'how'
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas

[2021-08-06 15:02] bghill commented on #15825
@hmeine I just downloaded sas7bdat and confirmed it cannot parse CPORT files.  It fails with:

[code]

Like several others, I have just lost a day digging into this same situation. I was not able to find any code out there that reads CPORT files (I went through the source code of them all including that of Pandas). Further digging shows that while SAS publishes the details needed to parse XPORT fi

[2021-08-06 15:22] GaneshSingaravelu opened #42917 "BUG: Can't get the index location of values in df.loc"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-06 16:03] omgMath opened #42918 "BUG: "ValueError: Must provide strings." when using "string" as dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-06 17:45] attack68 commented on #42917
You need to provide a minimal reproducible example (see here for a description of what that is: https://stackoverflow.com/help/minimal-reproducible-example).

You have misspelled "Business" in your indexer.

[2021-08-06 17:53] lithomas1 commented on #42918
They are not. str is object dtype and string is our new StringDtype. Sorry for the confusion.

I think the error you are getting is because StringArrays cannot be created from a numpy array with nans. Haven't looked in depth closely though.

[2021-08-06 18:08] attack68 commented on #42916
You (or an implementer) might be interested in this pattern also:

[code]

[2021-08-06 19:09] debnathshoham commented on #42123
hi, is anyone working on this?

[2021-08-06 19:09] rj-global commented on #42916
Very elegant. 👍

[2021-08-06 19:37] jeremyswerdlow commented on #42664
Hi there, long time user, first time contributor. Is it alright for me to pick up this issue and expand the Docs?

[2021-08-06 19:51] mirekphd commented on #42506
This import error in the line `from pandas.io.excel._base import ExcelFile, ExcelWriter, read_excel` in `/pandas/io/api.py` is a real issue, affecting not only Linux, but also Windows users (as reported [here](https://stackoverflow.com/questions/68463220/pandas-importing-error-importerror-cannot-import-name-dtypearg-from-pandas) on Stack Overflow).

The issue apparently emerged in `pandas==1.3.1`,

[2021-08-06 19:53] MarcoGorelli commented on #42123
Hey @debnathshoham - the checks are still there, so if you want to submit a PR, go ahead!

[2021-08-06 20:07] MarcoGorelli commented on #42506
Hi @mirekphd - is there a way to reproduce this without downloading GB-worth of Docker layers? Can you try making a new virtual environment with nothing else in it and installing pandas in there?

[2021-08-06 20:19] mirekphd commented on #42506
Hi, I'd say very unlikely, given that these other containers that differ mainly with respect to `cuPy` do not have this issue (i.e. are built every 2 hours as usual, which involves importing `pandas` by way of tests):
[code]

[2021-08-06 20:23] MarcoGorelli commented on #42506
Just to make sure I've understood - you have different containers, and in one of them, you can't import pandas, but in the others, you can?

Might the issue not be with something else which you have installed in that container?

[2021-08-06 21:26] mirekphd commented on #42506
Yes, I've clarified this above for these unaffected containers.

It is probably an interaction with other packages, most likely `cuPy`. If you are arguing that Pandas should not be held responsible for such interactions with other packages that apparently can break it, then I admit I'm a bit surprised. What if the other party is non-cooperating or fails to maintain their package for a few years (a

[2021-08-06 21:59] krachyon commented on #42878
Just to add my two cents here as I've hit the issue from astropy: I really feel that to opportunistically choose an implementation with different behavior based on which library I happen to have installed is a pretty unpleasant trap. Especially when the bottleneck can even fall back to numpy under certain conditions (see https://github.com/astropy/astropy/issues/11492 for details).
The choice is t

[2021-08-06 22:11] ChiQiao opened #42921 "BUG: Reindex null timedelta series with `pd.Timedelta` fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-07 00:02] rhshadrach commented on #42423
@dylancaponi - By migration guide, do you mean the whatsnew (release notes)?

[2021-08-07 00:21] rhshadrach commented on #42902
Thanks for the report - agreed and confirmed on master. Further investigations and a PR to fix is most welcome.

[2021-08-07 05:51] mroeschke commented on #34029
I suspect https://github.com/pandas-dev/pandas/pull/32055 probably addressed the issue. Otherwise we would need a reproducible example so we can add a test if this issue still persists. Closing but happy to reopen if still an issue

[2021-08-07 05:51] #34029 closed

[2021-08-07 05:53] mroeschke commented on #34037
This looks to raise an error correctly on master now. Could use a test

[code]

[2021-08-07 06:11] mroeschke commented on #34233
We can consider this as a subpoint to https://github.com/pandas-dev/pandas/issues/27911, so closing in favor of consolidating there

[2021-08-07 06:11] #34233 closed

[2021-08-07 06:31] mroeschke commented on #34270
Thanks for the question. It appears that this was a usage question and the behavior is more-or-less expected. Closing and tagging as such

[2021-08-07 06:31] #34270 closed

[2021-08-07 06:33] mroeschke commented on #34273
Appears that this usage question has been sufficiently answered. Closing.

[2021-08-07 06:33] #34273 closed

[2021-08-07 06:35] mroeschke commented on #34283
Agreed from the traceback it looks like it doesn't appear like an issue in pandas. Closing, but If you could provide more information that shows its a pandas issue, we would be happy to reopen.

[2021-08-07 06:35] #34283 closed

[2021-08-07 07:23] MarcoGorelli commented on #42506
pandas does test downstream dependencies:

https://github.com/pandas-dev/pandas/blob/eaee348792cf45b0f8ca52944f066b7f27503066/pandas/tests/test_downstream.py

Could you please make a new virtual environment, install pandas, verify that it imports fine, and then, one-by-one, install the other extra dependencies you have until you find which one breaks pandas?

[2021-08-07 11:04] mirekphd commented on #42506
Great, I'm glad to hear that! Could you possibly add at least `cudf` (and ideally also `deeptables`) to your list of tested reverse dependencies? They can be installed like this:
[code]

Once you add it to your unit tests (I hope you can do it, despite its enormous size and hardware requirements), you won't release any new `pandas` version that is incompatible with either 'cudf` or `deeptables`, l

[2021-08-07 11:19] MarcoGorelli commented on #42506
Are cudf and deeptables the packages which cause issues then? Do you not have them in the other containers where pandas imports fine?

Yeah they're too large to be included here really. I'd suggest reporting the issue to them

[2021-08-07 12:07] mirekphd commented on #42506
Uninstalling `deeptables` did not help, so it leaves `cudf` as culprit (more precisely: its latest binary version available in Anaconda: `cudf==21.06.01`) as the dependency that clashes with `pandas==1.3.1` causing its import failure.

As per your suggestion, I'm moving the issue over to [rapidsai/cudf](https://github.com/rapidsai/cudf). For now, a workaround is to downgrade to `pandas==1.2.5`:
[c

[2021-08-07 12:40] MarcoGorelli commented on #42506
cool, thanks - closing for now then

[2021-08-07 15:51] omgMath commented on #42918
Oh, sorry then.
Is this something you want to look at anyways or should I close it?

[2021-08-07 16:30] debnathshoham commented on #38813
take

[2021-08-07 17:12] lithomas1 commented on #42918
I'll take a closer look soon. Will keep you updated.

[2021-08-07 17:37] MarcoGorelli commented on #42506
Actually, reopening for now as a few people have independently run into this

[2021-08-07 17:39] jorisvandenbossche commented on #42506
@mirekphd how do you install cudf / pandas in the docker? If you install cudf with conda, it should normally prevent you from getting pandas 1.3.1.

I did a quick test locally creating an environment with cudf, and then installing latest pandas with pip, but that didn't reproduce the import issue.

[2021-08-07 18:44] twoertwein opened #42926 "TYP: overriding of final methods"
pyright says that a few methods that are marked with `typing.Final` are overridden:

[code]

[2021-08-07 18:53] mirekphd commented on #42506
We moved away from `conda` for as many packages as possibile, as `pip` is
much more performant (I even got some upvotes on stack overflow for this
tip). So `pandas` is installed with `pip`, but we have to install `cudf`
with `conda`, which tries to install its own older version of `pandas`, as
per `cudf` requirements. I suppose this may break things...

On Sat, 7 Aug 2021, 19:39 Joris Van den Boss

[2021-08-07 19:50] Hoeze opened #42927 "ENH: Sliding window by value interval on non-time index?"
#### Is your feature request related to a problem?

I would like to compute the number of values in a sliding window like this:
[code]
[code]
[code]
[code]

#### Describe the solution you'd like

There should be some sliding window function that slices by value instead of rows:
[code]
#### API breaking implications

No idea, maybe integrate to `rolling`?

#### Describe alternatives you've consider

[2021-08-07 21:58] #42123 closed

[2021-08-07 22:14] mroeschke commented on #34303
Since the original issue seems resolved, I think this issue can be closed.

The example above does seem to have a difference result, but I think that's because of a `ffill`? If there is a hidden bug somewhere, probably best to open a new issue for it.

[code]

[2021-08-07 22:14] #34303 closed

[2021-08-07 22:25] mroeschke commented on #34452
Looks like tshift has been deprecated so closing as a won't fix:

[code]

[2021-08-07 22:25] #34452 closed

[2021-08-07 22:38] mroeschke commented on #32993
Seems like a duplicate issue of https://github.com/pandas-dev/pandas/issues/34551, and that thread is closer to pinpointing a potential fix so closing in favor of that issue.

[2021-08-07 22:38] #32993 closed

[2021-08-07 22:40] mroeschke commented on #34562
Thanks for the suggestion but agreed that creating boolean indexing masks is pandas' preferred method that overlaps with this enhancement request.

Since there hasn't been much enthusiasm for this feature from the core devs, closing.

[2021-08-07 22:40] #34562 closed

[2021-08-07 22:43] mroeschke commented on #34576
Thanks for the suggestion, but it appears unlikely that `index=False` would be an easy change for pandas to make due to compatibility. Since having an optional index is covered in another issue, closing.

[2021-08-07 22:43] #34576 closed

[2021-08-07 22:49] mroeschke commented on #34601
Sounds like this may be an inherited bug (feature?) from numpy. If pandas is inheriting behaviors from numpy, the report and fix should happen on the numpy side. Closing for now, but happy to reopen if I misunderstood.

[2021-08-07 22:51] mroeschke commented on #34651
Yes appears that is intentional behavior with tests added in https://github.com/pandas-dev/pandas/pull/9685. Thanks for the report but closing as the intended behavior

[2021-08-07 22:51] #34651 closed

[2021-08-07 23:14] #42537 closed

[2021-08-07 23:15] #42753 closed

[2021-08-07 23:27] horaceklai commented on #38543
take

[2021-08-07 23:38] horaceklai commented on #34037
take

[2021-08-08 00:31] mroeschke commented on #34706
Agreed it's better that this is implemented in scipy so pandas can dispatch to its implementation.

Thanks for the suggestion, but we recommend upstreaming this feature request to scipy. Closing

[2021-08-08 00:31] #34706 closed

[2021-08-08 00:43] mroeschke commented on #34766
Agreed that it would be easier for discussion here if:

1) Each point above is a separate issue to discuss
2) Each issue has an isolated, ideally copy-pastable example demoing the observation
3) Proposed behavior change or expected result

Otherwise since this issue hasn't gotten much traction and is fairly difficult for the team to take action on, closing for now.

[2021-08-08 00:43] #34766 closed

[2021-08-08 00:46] mroeschke commented on #34773
Thanks for the issue, but as mentioned it appears this difference in performance is expected and there is no action to be taken as of now. Closing

[2021-08-08 00:46] #34773 closed

[2021-08-08 00:49] mroeschke commented on #34792
Looks like we're not testing py37_np_18 anymore, and an analgous py37_np_18 build doesn't seem to have this warning anymore so I think we can close. Can open a new issue if this reappears.

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=64034&view=logs&jobId=404760ec-14d3-5d48-e580-13034792878f&j=404760ec-14d3-5d48-e580-13034792878f&t=f81e4cc8-d61a-5fb8-36be-36768e5c561a

[2021-08-08 00:49] #34792 closed

[2021-08-08 12:01] #42869 closed

[2021-08-08 12:34] attack68 opened #42933 "CLN: replace styler code for refactor `level` arg with codebase generic"
after #42914 styler has private code to refactor a `level` arg to a consistent format, either:

 - name of an index level: `my_level`
 - a specific integer index level: `1`
 - or a list of such: `['my_lev', 'other_lev']`

produces a consistent list of integer levels: `[1,2]`.

This code should be replaced by more generic code which does the same thing in the rest of the codebase.

(if anyone has t

[2021-08-08 14:09] jorisvandenbossche opened #42934 "BUG: should constructing Index from a Series make a copy?"
From a comment of @jbrockmendel at https://github.com/pandas-dev/pandas/pull/41878#issuecomment-881557871:

[code]

In the above, we create an Index from a Series, then mutate the Series, which also updated the Index, while an Index is assumed to be immutable.

Changing the example a bit, you can obtain wrong values with indexing this way:

[code]

So `ser[0]` is still giving a result, while that

[2021-08-08 14:10] jorisvandenbossche commented on #42934
A similar example but with a DataFrame and `set_index` (so even without explicitly doing `Index(ser)`) that has the same problem, as a good illustration that IMO this is not a "user error" but something we should fix on pandas' side:

[code]

[2021-08-08 16:27] attack68 commented on #42934
This probably doesn't fit in this thread but just for consideration alongside this issue is that while `index` is not mutable `index.names` is. Recently this threw me in the following case:

[code]

I wasn't expecting the columns' names to be changed, I intuitively expected a new index object was created by the constructor.

I agree your examples should be corrected.

[2021-08-08 16:47] mroeschke commented on #35043
Thanks for the suggestion, but it appears there's not much enthusiasm for this feature request and the `read_csv` work around is a suitable pandas way of handling this. Closing but happy to reopen if there is further support from the core team and community.

[2021-08-08 16:47] #35043 closed

[2021-08-08 17:07] mroeschke commented on #35309
Looks like we've dropped 3.7 in our CI and the other builds haven't segfaulted in a while so I think we can close this issue for now. We can open a new issue if this occurs with another build

[2021-08-08 17:07] #35309 closed

[2021-08-08 18:51] mroeschke commented on #35370
This potentially looks like it got fixed by upgrading matplotlib, so closing.

[2021-08-08 18:51] #35370 closed

[2021-08-08 18:55] mroeschke commented on #35394
Appears fixed on master. Could use a test

[code]

[2021-08-08 19:08] mroeschke commented on #9613
Thanks for the suggestion, but it looks like this format hasn't taken off and probably not suitable for pandas proper. Ideally, an external library can parse the YAML format into python objects from which `pd.DataFrame` can ingest. Closing.

[2021-08-08 19:08] #9613 closed

[2021-08-08 19:10] mroeschke commented on #35421
Thanks for the suggestion, but agreed I think yaml has been good for configurations formats but not necessarily storing tabular datasets. Since there hasn't been much support from the core devs for this enhancement going to close, but happy to reopen if there is a revived interest from the core team and community.

[2021-08-08 19:10] #35421 closed

[2021-08-08 19:27] mroeschke commented on #35449
Yeah it appears that this is the intended behavior and not a bug as storing `Timestamp` objects in an `ndarray` would be a large change and inefficient (especially for a tz-naive datetime). Thanks for the report but closing as the expected behavior

[2021-08-08 19:27] #35449 closed

[2021-08-08 19:34] mroeschke commented on #35481
Since the xfails have been removed in https://github.com/pandas-dev/pandas/pull/37082, I think this issue can be closed. If there are follow ups needed from the behavior discussion, we can open a new issue

[2021-08-08 19:34] #35481 closed

[2021-08-08 19:43] mroeschke commented on #35517
Sounds like this behavior is the intended (better) behavior. I supposed we could use a test for this.

[2021-08-08 19:48] mroeschke commented on #35520
Thanks for the suggestion. Agreed that this has been the behavior for a while, documented, and I think `read_csv`'s goal is just to be flexible in getting data into a `DataFrame`; later validation can be done once the `DataFrame` object has been created.

Since there hasnt been much support for this change from the community and other core devs, going to close, but happy to reopen if theres renewe

[2021-08-08 19:48] #35520 closed

[2021-08-08 19:52] mroeschke commented on #35525
Agreed, I think generally composing various existing pandas functionality is preferable over expanding the API surface area with convenience arguments.

Thanks for the suggestion, but since there hasn't been much support for this feature from the core team, closing.

[2021-08-08 19:52] #35525 closed

[2021-08-08 19:59] mroeschke commented on #35665
Looks like this doesn't raise an OverflowError on master anymore. Supposed this could use a test

[code]

[2021-08-08 23:09] #42588 closed

[2021-08-08 23:15] enthusiastics opened #42941 "BUG: how do we perform pandas series comparison based on level?"
I have a multi-index dataframe `y_test`:

    blockNumber_base10@coarsegrained#1024  address_idx
    9441280                                2             -0.012421
                                           3              0.001400
                                           6             -0.012696
                                           7              0.003558

[2021-08-08 23:30] #27591 closed

[2021-08-08 23:34] #40489 closed

[2021-08-09 01:48] Zeroto521 commented on #12520
Hi, all.

In my work, I also need to handle `inf` and `NaN` separately.
I'm glad to implement `Series.dropinf` and `DataFrame.dropinf` methods.

Does these APIs still need?

[2021-08-09 01:59] jreback commented on #12520
a common idiom is

s.replace([-np.ing, np.inf], np.nan)

which is then daily dropped

would be -1 on adding api

however happy to have additions to the doc-string of these idioms

[2021-08-09 02:11] Zeroto521 commented on #12520
In some number type data.
`NaN` means missing value, I would like to use 0 to replace `NaN`.
`inf` means useless value because it is hard to reach such a big value in a specific condition. So I would like to remove `inf`.

So I thought there better to handle `inf` and `NaN` separately.

[2021-08-09 02:51] Zeroto521 opened #42943 "ENH: add new method `DataFrame.repeat`"
#### Is your feature request related to a problem?

I sometimes would generate some faker but having rule data.
Just like in a (2d) data, repeat some rows or columns serial times.

The steps I do:

1. This is a DataFrame called `df`.
2. `value = df.values  # change DataFrame to ndarray`
3. use `np.repeat` or `np.tile` method to repeat.

#### Describe the solution you'd like

I thought why not add

[2021-08-09 04:59] samukweku commented on #42943
Why not repeat the index and reindex the data frame with that

[2021-08-09 05:22] linehammer commented on #10334
Iterating through pandas dataFrame objects is generally slow. Pandas Iteration beats the whole purpose of using DataFrame. It is an anti-pattern and is something you should only do when you have exhausted every other option. It is better look for a List Comprehensions , vectorized solution or DataFrame.apply() method for [iterating through DataFrame](http://net-informations.com/ds/pd/iterate.htm).

[2021-08-09 06:24] Zeroto521 commented on #42943
To more think about repeat to index and repeat.
'reindex' doesn't only reset index, but also reset column.
To number type, could be reset from 0 to n.
To other types (ex. string)  could be reset to what type?

[code]

`Series.repeat`'s examples are the following.

[code]

[2021-08-09 06:29] jorisvandenbossche commented on #42588
Since this `use_nullable_dtypes` keyword is a pandas keyword (and not of fastparquet or pyarrow), I think *we* should ensure that there is consistent behaviour for the different engines.

I had indeed reservations about doing this conditionally. IMO the keyword should give consistent behaviour, and is also meant to opt-in to *all* nullable dtypes, so that's how I originally implemented it. I would

[2021-08-09 06:41] salomondush commented on #39845
Hello, I would like to work on this issue if it's not entirely finished! I noticed that it's still open.

[2021-08-09 06:51] fdzuJ commented on #42559
Yes, it's a duplicate. Closing.

[2021-08-09 06:51] #42559 closed

[2021-08-09 07:05] salomondush commented on #24245
take

[2021-08-09 07:06] salomondush commented on #24245
Hello, is it ok to contribute to this issue. It looks fairly old, so I wanted to know if it's still valid!

[2021-08-09 07:32] arromabofreu commented on #23848
take

[2021-08-09 07:44] jorisvandenbossche commented on #42934
Hmm, since you are explicitly passing the same Index object as columns and rows index, this can maybe be considered as expected behaviour. Not really sure .. (but indeed a different issue).

[2021-08-09 08:00] samukweku commented on #42943
I'm not sure if it makes sense to have duplicate columns, but this is how you can `repeat` a dataframe with the index(or columns, which is an index too):

[code]

[2021-08-09 08:24] hrnciar opened #42946 "Python 3.10 manylinux wheels"
Hello.

Could you please release CPython 3.10 manylinux wheels on PyPI?

Python 3.10.0 release candidate 1 was released this week: https://www.python.org/downloads/release/python-3100rc1/

It should be quite safe to release wheels for release candidate. ABI for Python 3.10 should be frozen from now on, even for bugfixes. From release notes:

Thank You.

[2021-08-09 09:34] MarcoGorelli commented on #10334
@linehammer no need to keep posting links on closed issues to what I presume is your website

[2021-08-09 10:54] jreback commented on #42943
-1 on adding even more api to a huge api

happy to take an example though for the doc string

[2021-08-09 11:04] attack68 commented on #42941
This kind of usage question is better asked on stack overflow.

Additionally you should really try to express your issue as a reproducible minimal example. No one has access to your data so they cannot reproduce your code. Speaking as someone who often comments on Stackoverflow, if your question is not well posed and time has not been spent designing a question that someone can easily answer, I si

[2021-08-09 11:32] simonjayhawkins commented on #34601
IIRC I think the issue is that pandas is using NumPy for interpolation of integer arrays.

NumPy interpolation only supports floats. https://numpy.org/doc/stable/reference/generated/numpy.interp.html

So I think the issue is on pandas side. We probably need to add our own interpolation implementation for this case.

[2021-08-09 11:44] simonjayhawkins commented on #35665
fixed in [8cf377199b1c94493666055c21012fd2f5fa86de] BUG: Timedelta(td64_out_of_bounds) silently overflowing (#38965)

[2021-08-09 12:43] rinshankolayil opened #42948 "BUG: Limitation of adding years in dateoffset pandas"
This is reference to other question i found on Stackoverflow, but i am not intersted add the reference here without their permission. My question is what will be the reason for i cannot add more than 240 years to pandas dataframe with pd.offsets.DateOffset?.

Here is my code

[code]
Output is
[code]
The output of above code is
[code]

If i change start and end date to 2021, I am able to add only 2

[2021-08-09 13:22] joelgibson commented on #42305
This is a bug in CPython I think (or at least, the CPython .py implementation of `datetime.datetime.replace` disagrees with the .c implementation).

Firstly, the segfault is occurring whenever the `_freq` property of the `_Timestamp` object is being accessed. (The `repr` method indirectly accesses `_freq`, which is causing the segfault in interactive mode, but this can be replaced by a direct acce

[2021-08-09 13:30] simonjayhawkins commented on #42221
An open PR, #42222 is an enhancement so not milestoned 1.3x.

[2021-08-09 13:39] dicristina commented on #42808
The C parser has the same behavior when `dtype` is `int`.  This should raise `ValueError`:

[code]

Instead we get:

[code]

[2021-08-09 13:54] Liam3851 commented on #42948
This is covered in the [documention](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timestamp-limitations) along with [alternatives for long periods](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-oob).

[2021-08-09 13:56] #42948 closed

[2021-08-09 16:07] mzeitlin11 opened #42951 "Use new GitHub issue forms?"
Github recently released a beta for issue forms (https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/). Scipy already has an open pr to use these to replace existing issue templates (https://github.com/scipy/scipy/pull/14493)

Seems like a good way to improve issue quality, while also making writing issues easier for users (through improvements like built-in code for

[2021-08-09 20:01] jorisvandenbossche commented on #42951
Sounds as a good idea! At a minimum, it would already be much nicer to put the information (eg the link to best practice to report bugs) in text in the form without it ending up in the actual issue report.

[2021-08-09 20:04] grisaitis commented on #13262
is this issue still difficult to resolve?

[2021-08-09 20:30] rhshadrach commented on #42221
@simonjayhawkins - #42222 is adding back in the feature that was (unknowingly, I think) removed. If that's regarded as an enhancement, how can this regression get fixed for e.g. 1.3.2?

That said, there was opposition to implementing the option in question back in the PR causing this regression. If there is still sufficient opposition to this, then it seems to me the regression should be closed as

[2021-08-09 20:41] #42941 closed

[2021-08-09 20:48] mzeitlin11 commented on #42951
Made a test to see what it might be like for our documentation issue template. Feel free to open any issues at https://github.com/mzeitlin11/issue-forms to play around with it / make any suggestions.

Will add more of these when I have time (especially the bug report one should be interesting!)

[2021-08-09 21:51] levkovalenko opened #42957 "BUG: pd.to_datetime with format doesn't work with pd.NA"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-09 22:29] tiago-nogueira commented on #34388
I just made a quick test and it's working.
I downloaded the master branch and ran this script:
[code]
This is the result:
![image](https://user-images.githubusercontent.com/17753908/128781816-8f70e5b4-5162-4bdb-8d65-b8c813fbfab2.png)
So, it seems to be working.
Is this enough testing ou more should be made?

[2021-08-09 23:17] joelgibson commented on #42768
@aberres The PR linked above partly solves this issue, but fields prefixed by an underscore will still get "swallowed". Is that acceptable?

[2021-08-09 23:21] lithomas1 commented on #42946
I think we are currently waiting on numpy to provide its Python 3.10 wheels before we do.

[2021-08-09 23:57] lithomas1 opened #42961 "CI: Dateutil broke CI"
Failing CI is actions 3.9 numpy dev.

It fails with a FileNotFound error I think and I believe that its probably an upstream issue.

Any reason why we're installing dateutil from source here on the CI? I know that its a dependency but we aren't installing pytz from source on the same env.

[2021-08-10 01:02] hroncok commented on #42946
https://github.com/numpy/numpy/issues/19630

[2021-08-10 04:53] mroeschke commented on #35863
Thanks for the report. Its not entirely obvious what the bug is here in this code since there is not a minimal (without importing other external libraries), copy-pastable example, and if this is a usage question we suggest using Stack Overflow instead. Closing but happy to reopen if there is a minimal, copy-pastable example that illustrates the bug

[2021-08-10 04:53] #35863 closed

[2021-08-10 04:55] mroeschke commented on #35888
It appears this works on master now. Could use a test

[code]

[2021-08-10 05:26] joelgibson commented on #42808
Thanks for pointing this out @dicristina, I've added it to my fix linked in the PR above. This problem comes up in an older issue #34120.

The issue is caused by some funky handling of bools-with-nans in the C parser. I've added tests for converting to bool, int, and float. Can you think of any other dtypes that could behave poorly here?

[2021-08-10 07:48] MarcoGorelli commented on #42506
with `conda`, which tries to install its own older version of `pandas`, as
per `cudf` requirements. I suppose this may break things...

Yeah, mixing pip and conda can potentially break things. I should've asked how you installed pandas straight away

IMO this could be closed now

[2021-08-10 07:52] MarcoGorelli commented on #42851
Thanks for the report, can confirm this reproduces on `master`

[2021-08-10 08:42] johnzangwill commented on #42864
I have implemented https://github.com/pandas-dev/pandas/pull/42947 and submitted a pull request. I'm not sure what happens next (this is my first contribution...)

[2021-08-10 09:12] zysNLP opened #42965 "How to add coroutines in apply lambda function"
#### Question about pandas

I write a function use apply and lambda for one column in a DataFrame. But because every time excute once fucntion use lot of time, so I turn the column into a list and use coroutines and for loop. I create a new list then insert into my DataFrame. I want to know if I can use both apply funtion and coroutines at the same time? But I think apply has been a parallel opera

[2021-08-10 09:13] soilstack opened #42966 "BUG:Tuple Series name causes InvalidIndexError in Pandas 1.2.4 but not in 0.25.3"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-10 09:23] soilstack opened #42967 "BUG: Index.droplevel() used in an .apply() function affects subsequent rows in an accumulating fashion"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-08-10 09:57] root-11 commented on #42479
Minor update: 2+ weeks into the work, I have a model that passes most tests for single table csv. multi-table csv is not solved.

A major issue is that a csv with no header cannot be determined using frequency analysis. For example:

| new price | old price |
|---|---|
| 1,300.00 | 2,100.00 |

stored as `new price;old price\n1,300.00;2,100.00\n` will be identifiable in conjunction with the header

[2021-08-10 10:54] jorisvandenbossche opened #42968 "Update Parquet pandas metadata description on how to handle nullable / extension dtypes"
From https://github.com/dask/fastparquet/pull/623#discussion_r685904630

The guidelines on how to store column metadata in the pandas metadata in Parquet (https://pandas.pydata.org/docs/development/developer.html#column-metadata) was written before nullable dtypes existed, so based on that it's not unambiguous how those should be handled.
(and in general, it's also not clear how to handle general

[2021-08-10 11:02] #42121 closed

[2021-08-10 13:10] arid-mangoss commented on #7986
take

[2021-08-10 13:38] mirekphd commented on #42506
I'm not the only one reporting it though... we should probably ask others
reporting this issue here and on Stack Overflow if they mixed installers
too.

On Tue, 10 Aug 2021, 09:48 Marco Edward Gorelli, ***@***.***>
wrote:

[2021-08-10 14:09] MarcoGorelli commented on #42967
Hi @soilstack - you shouldn't mutate inside a user-defined-function to apply, see https://pandas.pydata.org/docs/user_guide/gotchas.html#mutating-with-user-defined-function-udf-methods

[2021-08-10 14:21] soilstack commented on #42967
@MarcoGorelli  Oh, thanks for that.  So this isn't really a bug, then, as it's explicitly advised against doing this? Guess I was just lucky that it worked in old 0.25.3.

[2021-08-10 14:31] #42967 closed

[2021-08-10 16:29] phofl commented on #42917
Agreed with @attack68

Please ping to reopen if we understood you wrong

[2021-08-10 16:29] #42917 closed

[2021-08-10 16:42] jbrockmendel commented on #42926
why isn't mypy catching these?

[2021-08-10 16:48] sergiykhan opened #42970 "pandas.DataFrame.filter does not work with regex on a multi-index dataframe"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description
The regex expression does not work if the dataframe is multi-index.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
----------------

[2021-08-10 16:56] ConorLazarou opened #42971 "BUG: groupby and sum drops columns and has undefined behaviour"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`groupby`-ing and `sum`ming an empty dataframe led to dropped columns (`df1` above); this doe

[2021-08-10 18:42] mzeitlin11 commented on #42664
Yep, that would be great @jeremyswerdlow!

[2021-08-10 18:57] phofl commented on #42971
Hi, thanks for your report.

This is actuall quite straighforward and has nothing to do with groupby itself. ``df1`` has dtype object while ``df2`` has dtype float. If you set ``numeric_only=False`` you will have your columns as expected

[2021-08-10 18:57] sergiykhan commented on #42971
The inconsistency appears to be related to the 'float' data type that you have in `df2`. Here is different example

[code]

[2021-08-10 18:59] #42738 closed

[2021-08-10 19:04] phofl commented on #42971
The dtype inference might be wrong here, but I don't know the history here and if this is intended

[2021-08-10 19:29] phofl commented on #42899
Hi, thanks for your report. As you mentioned this related repsectively a duplicate of #18930

[2021-08-10 19:29] #42899 closed

[2021-08-10 19:30] ConorLazarou commented on #42971
@phofl thanks for the quick reply! I had no idea that these two methods of instantiating empty dataframes led to different dtypes
[code]

[2021-08-10 19:31] phofl commented on #42971
Reopening since the different dtype look strange

[2021-08-10 19:40] lithomas1 opened #42973 "DIS: Should the keyword use_nullable_dtypes use nullable dtypes in the absence of nulls"
Currently the keyword ``use_nullable_dtypes``(only implemented for read_parquet now) will use nullable dtypes for columns even when that column does not have nulls.

Should this behavior change?

xref discussion https://github.com/pandas-dev/pandas/pull/40687#issuecomment-833447019 https://github.com/pandas-dev/pandas/issues/42588#issuecomment-894981214
https://github.com/pandas-dev/pandas/issues/

[2021-08-10 20:03] #42626 closed

[2021-08-10 20:06] #42881 closed

[2021-08-10 20:40] MarcoGorelli commented on #42966
Thanks @soilstack for the report

I'm getting the following from git bisect:
[code]

cc @rhshadrach

[2021-08-10 20:52] Codeberg-AsGithubAlternative-buhtz commented on #2728
Why is threading usefull with Pandas?
Threading helps when you have to much IO things.

But with Pandas you do a lot of CPU stuff. In that case multiprocessing would be much better - if you have enough RAM.

[2021-08-10 21:07] jorisvandenbossche commented on #22384
Warning, long wall of text coming .. This is a first attempt to write down some thoughts and considerations related to casting in pandas (not yet a concrete proposal).

**Different casting "kinds"**

Numpy's astype has a `casting` keyword to specify what kind of casting can be allowed. Numpy distinguishes: "equivalent" (only byte-order changes, not relevant for pandas I think), "safe" (preserving

[2021-08-10 21:38] stuz5000 commented on #2728
There are lots of reasons to want threading that are unrelated to IO. In
fact, in most languages *except* Python threading is the first choice for
parallelism.
In my use case, I was hoping to use Pandas to hold a large static datatable
(~8Gb) to answer optimized web requests (where a database would have been
excessively slow).
Python's forking/spawning of separate processes can carry excessive
ove

[2021-08-10 21:45] #42816 closed

[2021-08-10 22:41] horaceklai commented on #38543
Hi I'm not sure what to do now. I made a PR and did the changes requested, but when running the tests, it throws the Key error: 0 as stated in the beginning of this issue.

https://github.com/pandas-dev/pandas/pull/42939

[2021-08-11 00:17] Anton-Velikodnyy commented on #22757
When I encountered this error with a docker install I did `pip3 install pandas==1.0.5` and it worked

[2021-08-11 03:30] dicristina commented on #42808
@joelgibson I could not find any more examples where the NA values were misrepresented in the result but I found that for `dtype="Int64"` we get `ValueError` regardless of the parser.

Now I have some doubts as to whether this is something that should work at all.  At first glance the answer seems to be affirmative because we think of boolean values as a subset of the integers so it is reasonable

[2021-08-11 04:51] joelgibson commented on #42808
@dicristina I don't know what the right answer is - this change brings the C parser in-line with what the Python parser is already doing, which. As to whether the actual behaviour is sensible, I find it hard to tell because I have no real mental model of the casting rules when reading from a CSV. For example I find the following behaviour bizarre:

[code]

Which prints out

[code]

I would expect

[2021-08-11 06:16] Jarvx opened #42977 "Undefined variable"
https://github.com/pandas-dev/pandas/blob/99cf794ae2f63f3137290e7df59b1d31b22ae3d3/pandas/tests/test_common.py#L28

[code]

It looks like the statement inside  __call__ function does not have x defined first.

[2021-08-11 06:42] salomondush commented on #21749
Take

[2021-08-11 06:56] Jarvx opened #42978 "Possible undefined variable"
https://github.com/pandas-dev/pandas/blob/99cf794ae2f63f3137290e7df59b1d31b22ae3d3/pandas/core/reshape/pivot.py#L243

I found the variable values_multi is not defined when  values_passed is False, but the variable is used in line 243

[code]
``` if values_passed and not values_multi and table.columns.nlevels > 1:```

[2021-08-11 07:09] salomondush commented on #21749
Hello, I was wondering if it's okay to take on this issue because I noticed that some statements still use the old form

[2021-08-11 07:12] Codeberg-AsGithubAlternative-buhtz commented on #2728
Thanks for your thoughts which help to dive more into Panda-thinking. ;)

I am aware of Pythons "GIL-problem". But in some cases it can be used as an advantage. E.g. in the context of non-thread-safe Pandas I have to multiply the data between the processes and do not have to think about race conditions anymore.

But am I right to say that threads are running always on the same CPU core, no matter

[2021-08-11 07:28] phofl commented on #42978
``values_multi`` is only reached if ``values_passed`` is True, so everything ok

[2021-08-11 07:28] #42978 closed

[2021-08-11 07:33] phofl commented on #42977
Does not really matter since this is never called. We extract only the name. You could also return 1 or something like that

[2021-08-11 07:43] Jarvx commented on #42978
Thanks, due to the execution strategy, values_multi is only access when values_passed is true.

[2021-08-11 07:57] truhanen opened #42980 "BUG: GroupBy.__iter__ doesn't work for dict initialization"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version 1.3.1 of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
Raised error:
[code]

#### Problem description

Based on the documentation of [Python `dict`](https://docs.python.or

[2021-08-11 08:01] MarcoGorelli commented on #42977
Agree with the above, no need to open an issue about this (unless the test is actually broken)

[2021-08-11 08:01] #42977 closed

[2021-08-11 09:03] debnathshoham commented on #42957
take

[2021-08-11 09:41] levkovalenko commented on #42957
@debnathshoham

Hi, i see your PR

It doesn't fix BUG. I'm sorry for bad desription, but i have bug with this code:

[code]

So datetime formatter can't work with `pd.NA` values but for `np.nan` everything is good.

[2021-08-11 10:25] stuz5000 commented on #2728
That is true for the Python interpreter only. Generally, threads of a
single process can use multiple cores, and vectorized code (called from
Python) can make use of multiple cores.

In my use case, I was hoping to use Pandas to hold a large static datatable

In my case, Python was the database. I had static data and the need to
aggregate and process some 100’s of thousands of records for each req

[2021-08-11 12:18] gurukiran07 commented on #42980
You would have to explicitly use `iter` with `GroupBy` object.

[code]

[2021-08-11 12:55] #42501 closed

[2021-08-11 13:26] #42768 closed

[2021-08-11 15:08] truhanen commented on #42980
With `iter` you create an *iterator* from an *iterable*. `GroupBy` is an *iterable* because it implements the `__iter__` method, and should therefore be directly compatible for `dict` initialization, as stated in the documentation I linked.

Of course there's a possibility that I have understood the documentation incorrectly.

[2021-08-11 16:36] ehsantn commented on #42916
Similarly, Pandas should ideally provide semi join as well.

[2021-08-11 16:49] jreback commented on #42916
anyone in the community can contribute here, this is howbdeatures are added

- core can provide review

[2021-08-11 18:13] simonjayhawkins commented on #42733
@lithomas1 https://github.com/MacPython/pandas-wheels/pull/148 has been merged. can we close this issue?

[2021-08-11 20:24] staadecker commented on #39063
+1 for this issue. I currently have the following data where the black line is the rolling mean of the gray data. Right now as the rolling mean approaches the edges the number of data points contributing to that mean decreases to 1. Based on the data properties it would make sense to instead wrap around to always have the same amount of data being used to calculate the rolling mean.

![image](http

[2021-08-11 20:41] lithomas1 commented on #42733
Sure I guess. I think that we probably want to open a new issue about automatically catching the missing DLL issue, as this is the second time its happened(and we don't want it to happen every time we upgrade Visual Studio).

[2021-08-12 00:31] hl1 opened #42993 "BUG: df.merge not working after converting datetime64 object back to object when all fields are None"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-12 01:02] yufeiluo opened #42994 "Why can't write the dataframe into excel with sheetname?"
I have created a new workbook and a worksheet named `raw`:

    from openpyxl import Workbook
    wb = Workbook()
    ws = wb.active
    dest_fn = '/tmp/mytest.xlsx'
    ws.title = "raw"

Then to create a dataframe :

    import pandas as pd
    data = [{"code":"dow","value":35100}]
    df = pd.DataFrame.from_dict(data)

To write and save it:

    df.to_excel (dest_fn, index = False, header=False,

[2021-08-12 01:16] rhshadrach commented on #42966
Thanks @soilstack for the report! This is a duplicate of #42731, which already has a PR that is just about ready to fix. I applied the patch from there and got the result

[code]

here, which agrees with the expected output. With any luck, we'll be able to get this in for 1.3.2.

Closing as a duplicate.

[2021-08-12 01:16] #42966 closed

[2021-08-12 01:57] rhshadrach commented on #42506
Would be great to follow up with others. If there are similar issues, we can reopen or open a new ones if they are of a different nature. But currently it seems to me the cause of this issue is understood and there is no action that we should take within pandas. I think that means it is okay to close.

[2021-08-12 03:07] Pysion-lin commented on #15613
pandas==1.0.3
In [16]: df.where(df.notnull(), None)
Out[16]:
           A     B
0 2013-01-01     1
1        NaT     2
2 2013-01-03  None

but pandas==1.3.1
In [16]: df.where(df.notnull(), None)
Out[16]:
           A     B
0 2013-01-01     1
1        NaT     2
2 2013-01-03  NaN

why?

[2021-08-12 04:47] sivaji1233 opened #42995 "ENH: .to_csv open a pop-up window option"
Can we get a pop-up window option to save csv files from the dataframe, instead of saving directly to a path?

[2021-08-12 06:55] phofl commented on #42994
Why not simply

[code]
?

In general please ask usage questions on stackoverflow

[2021-08-12 08:22] simonjayhawkins commented on #42993
Thanks @hl1 for the report.

What version of pandas is the above output from?

On pandas 1.3.1 the output is

[code]

[2021-08-12 08:32] Codeberg-AsGithubAlternative-buhtz commented on #25448
I am not sure if I fully understand this issue here. Is it the same problem described here?
https://stackoverflow.com/q/68591255/4865723

Do you want to specify a columns dtype as an **ordered** Categorial while doing `read_csv()`?

[2021-08-12 09:06] simonjayhawkins commented on #42970
looks like a duplicate of #23541

from https://github.com/pandas-dev/pandas/issues/23541#issuecomment-437164914

[2021-08-12 09:08] simonjayhawkins commented on #42970
The docs could maybe be updated in the interim to clarify that filter does not work on a MultiIndex.

[2021-08-12 09:56] simonjayhawkins commented on #42943
agreed.

The numpy array protocol allows the use of the numpy api directly, so no need for pandas to add.

so `np.repeat(df, 2, axis=1)` should work. doesn't currently. raises `ValueError: Shape of passed values is (2, 4), indices imply (2, 2)`

[2021-08-12 10:32] bashtage commented on #42973
I would vote that it should change to only use when necessary, and to use standard dtypes when there are no nulls. Users can always upcast to nullable should they want to use nulls.

[2021-08-12 10:33] simonjayhawkins commented on #42733
issue should be in https://github.com/MacPython/pandas-wheels

[2021-08-12 10:33] #42733 closed

[2021-08-12 11:41] simonjayhawkins commented on #42921
Thanks @ChiQiao for the report

`pd.Timedelta(None)` and `pd.Timestamp(None)` are both `pd.NaT`, instances of `pandas._libs.tslibs.nattype.NaTType`. There is no dtype associated with scalar `pd.NaT`.

The dtype for a Series constructed from a `pd.NaT` scalar being `datetime64[ns]` is expected behavior.

This now raises `TypeError: value should be a 'Timestamp' or 'NaT'. Got 'Timedelta' instead.` w

[2021-08-12 12:40] ChiQiao commented on #42921
Thanks @simonjayhawkins for triaging. If I understand your comment correctly:

1. `pd.NaT` can result from both `pd.Timedelta` and `pd.Timestamp`.
2. `pd.Series` constructed from `pd.NaT` has the type `datetime64[ns]`.
3. We cannot fill a `Series` of the type `datetime64[ns]` with values of the type `timedelta64[ns]`.

Individually they all make sense to me, but collectively they lead to a weird b

[2021-08-12 12:41] #42506 closed

[2021-08-12 12:53] sergiykhan commented on #42970
`filter` does seem to work on a multi-index frame provided there are no special regex characters in the `regex` parameter

[code]

If the idea is to deprecate `filter` altogether, it is fine.

I ended up using `.loc` on a specific level, but it feels somewhat cumbersome to do something like this
[code]

[2021-08-12 14:24] jeffpollock9 opened #42997 "BUG:nlargest/nsmallest does not act according to documentation with nan values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The [docs](https://pandas.pydata.org/docs/reference/api/pandas.Series.nlargest.html) state:

[2021-08-12 14:25] MarcoGorelli commented on #15613
@Pysion-lin please open a new issue with a reproducible example

[2021-08-12 15:24] hl1 commented on #42993
```pip3 install --upgrade pandas``` solved the issue.

[2021-08-12 15:24] #42993 closed

[2021-08-12 16:12] jorisvandenbossche commented on #42506
@mirekphd I started downloaded the docker image this morning to reproduce your case (`docker run mirekphd/ml-gpu-py38-cuda112-cust:20210806 python -c "import pandas as pd"`), and now looking into it. I think the issue stems from a mixture of conda and pip that went wrong (which in principle still shouldn't happen, but still).

Looking into your conda environment site-packages directory, I see:

[c

[2021-08-12 16:20] jorisvandenbossche commented on #42506
Usage of `--ignore-installed` could cause this (https://github.com/pypa/pip/issues/5020), don't directly find the actual docker files for the image to see if that's the case.

[2021-08-12 16:21] #40446 closed

[2021-08-12 16:58] mirekphd commented on #42506
"it "seems" that the pip install added some files, but didn't overwrite
(all) existing files."

The sequence was the other way round: first newer pandas with pip, then
older with conda (pinned by cudf). Maybe that sequence might explain why
the older version could not overwrite all files (unknown at its release
time)? I never ignore installed versions, in fact with pip I use
'--force-reinstall' fl

[2021-08-12 17:40] jorisvandenbossche commented on #42506
Ah, yes, I was confused by the timestamp of the different (old and new) files in the pandas directory in site-packages, but I suppose those don't necessarily reflect installation time.

It seems this is a known issue with conda/pip compatibility (and the specific example here is easily reproduced locally: create new conda env, install pandas with pip, install pandas=1.2.5 with conda, and you get t

[2021-08-12 18:35] debnathshoham commented on #42971
take

[2021-08-12 18:39] NickFillot opened #43000 "ENH: SQL apply"
Hello,

Is it possible to add natively this method to pandas.DataFrame ?

[code]

Could be cool feature
Br
Nicolas

[2021-08-12 18:51] adrienpacifico opened #43001 "DOC: update Ecosystem page, and define governance"
#### Location of the documentation
 [Ecosystem](https://pandas.pydata.org/community/ecosystem.html)  (wepage), [ecosystem.rst](https://github.com/pandas-dev/pandas/blob/318bed9f7c16c3352178cbf68e8dddfaba32ed6d/doc/source/ecosystem.rst) (file)

#### Documentation problem
- There is some deprecated library:
[qgrid](https://github.com/quantopian/qgrid) is [one of them](https://github.com/quantopian/q

[2021-08-12 19:02] PhilippeFerreiraDeSousa commented on #35520
The issue is that the program is either going to crash in the next few lines or return the wrong answer. People are going to sort by date and it will sort with the order on strings or something like that. It will make people waste their time debugging the program instead of telling people where the bug comes from.

In my case I am trying to understand why dates are parsed correctly up to "2262-04-

[2021-08-12 19:06] phofl commented on #35520
Nobody wrote anything in there. This is a numpy dtype. You can read about the Limits at https://numpy.org/doc/stable/reference/arrays.datetime.html#datetime-units

[2021-08-12 19:36] debnathshoham commented on #42971
On further investigation, there is a mismatch in the .index as well
[code]

[2021-08-12 19:51] jbrockmendel opened #43002 "DISC: remove Index and EA subclasses"
There has been discussion in eg #39133 about having EA-backed Indexes held in base-class Index objects, similar discussion regarding the new NumericIndex.

I do not like the idea of having _some_ non-object dtypes return the base class Index, but would be on board for making _all_ dtypes use the base class.  i.e. only have Index and deprecate/remove all the subclasses.  I'm envisioning roughly

1)

[2021-08-12 21:40] jxb4892 commented on #29635
take
+) Does this issue only need more tests?

[2021-08-12 21:53] jbrockmendel commented on #39133
I've been looking at this and am currently thinking of 4 areas that need attention

1) Index.putmask implicitly assumes it is backed by an ndarray, will need to be updated
2) Not-yet-identified places in the codebase where we _implicitly_ assume that the base Index class is ndarray[object]
3) Methods which use _get_join_target or _get_engine_target on an `other` or `target` arg, i.e. cases where w

[2021-08-12 21:57] marty-rudolf commented on #29709
Hi, can I take on this issue?

[2021-08-12 23:10] ryangilmour commented on #35888
My first time contributing - but the PR above should hopefully be a sufficient test. Not sure these tests require an addition to whatsnew?

[2021-08-12 23:15] ryangilmour commented on #35888
take

[2021-08-12 23:25] jbrockmendel commented on #42921
Looks like in array_algos.take.take_nd the EA cases don't go through maybe_promote.  Will also need to change ExtensionBlock.take_nd which doesn't go through array_algos.take.take_nd at all

[2021-08-13 00:34] ChiQiao opened #43008 "BUG: `equals` method failed for nested `Series`/`DataFrame`"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-13 02:11] mroeschke commented on #42995
I would be -1 for this feature in pandas as it's more suitable for an external library to implement. pandas does not have a precedent for dealing with external GUI for file navigation.

[2021-08-13 02:45] mroeschke commented on #36281
Sorry that this issue hasn't gotten a response.

As you mentioned, pandas encourages the use of `pd.concat` over `append` https://github.com/pandas-dev/pandas/issues/35407. Generally, compiling all frame in a list and using `pd.concat` will be the most performant, even if written within a wrapper function. Going to close this issue, in terms of advertising the package or asking for further advice,

[2021-08-13 02:45] #36281 closed

[2021-08-13 02:58] AdeBC opened #43011 "ENH: add efficient `groupby` for sorted dataframe"
#### Feature description

I wish I could use pandas to efficiently group a large data frame by a sorted column. Since many sorting algorithms have time complexities of `O(nlog(n))` and split values according to its consecutive same value requires time complexity of just `O(n)`, given that the current `groupby` of Pandas has the time complexity of O(n^2), it would be better if we can perform `dataf

[2021-08-13 03:00] #36470 closed

[2021-08-13 03:02] mroeschke commented on #36499
Thanks for the report. Agreed, this issue seems overlap/be address from the linked issues so closing.

[2021-08-13 03:02] #36499 closed

[2021-08-13 03:03] Pysion-lin opened #43012 "pandas version"
pandas==1.0.3
In [16]: df.where(df.notnull(), None)
Out[16]:
            A               B
0   2013-01-01      1
1          NaT           2
2  2013-01-03    None

but pandas==1.3.1
In [16]: df.where(df.notnull(), None)
Out[16]:
           A             B
0 2013-01-01     1
1        NaT          2
2 2013-01-03  NaN

why?

@MarcoGorelli

[2021-08-13 03:03] mroeschke commented on #36500
Thanks for the report. Agreed that this seem to overlap/be related to linked issues so going to close in favor of those issues.

[2021-08-13 03:03] #36500 closed

[2021-08-13 03:12] mroeschke commented on #36586
Thanks for the report. As explained due to the outcome of https://github.com/pandas-dev/pandas/issues/35162, this seems like the expected behavior so closing.

[2021-08-13 03:12] #36586 closed

[2021-08-13 03:32] mroeschke commented on #36602
We have this already documented here: https://pandas.pydata.org/docs/user_guide/gotchas.html?highlight=mutate#mutating-with-user-defined-function-udf-methods

I suppose we could also document these directly in the apply methods

[2021-08-13 03:43] mroeschke commented on #36782
This looks to work on master. Could use a test

[code]

[2021-08-13 03:56] mroeschke commented on #36828
Thanks for the report. Since `read_csv` dispatches to s3fs or fsspec for the IO operation, I don't think there much anything `read_csv` itself can do about networking issues and guarantees. There may be additional parameters that `storage_options` could help with if using `fsspec`. Since this appears like more like a usage question, I recommend consulting stack overflow for additional information.

[2021-08-13 03:56] #36828 closed

[2021-08-13 04:01] mroeschke commented on #36890
Thanks for the report, but agreed it appears that ibis already has this functionality so it would be redundant to replace in pandas. Closing

[2021-08-13 04:01] #36890 closed

[2021-08-13 04:07] mroeschke commented on #36912
Thanks for the report. I'd be -1 on this enhancement as well as preprocessing can be done on the DataFrame first before saving to `to_json`, so a `discard_null` keyword would be fairly niche.

[2021-08-13 04:19] mroeschke commented on #36973
This looks to work on master now. Could use a test

[code]

[2021-08-13 04:20] dicristina commented on #42763
Upsampling with `PeriodIndex` is treated as an `asfreq` for aggregating methods, except for `ohlc`.  Maybe `size` and `count` should be handled as `ohlc`.

https://github.com/pandas-dev/pandas/blob/860ff03ee1e4de8a1af1cf55e844f38d7876253a/pandas/core/resample.py#L1288-L1301

---

The all `NaN` case is due to a reindexing operation in which there are no values in common.

https://github.com/pandas-

[2021-08-13 04:33] mroeschke commented on #37098
Thanks for the suggestion. While this problem does sound annoying, pandas to make assumption of incoming data contents related to platform (as this would be specific to mac OS). Additionally from https://github.com/pandas-dev/pandas/pull/37101 there doesn't seem much appetite from the reviewers for this feature and is probably best suited as a pre-processing step. Closing.

[2021-08-13 04:33] #37098 closed

[2021-08-13 04:36] #42995 closed

[2021-08-13 04:44] mroeschke commented on #37100
Agreed, it appears that this is returning the intended behavior. Possible could use a doc example

[2021-08-13 04:47] mroeschke commented on #37127
Agreed, I think your original point of computing individual results first and then adding the results is idiomatic as pandas aims to build composable results. Thanks for the suggestion but closing

[2021-08-13 04:47] #37127 closed

[2021-08-13 05:03] mroeschke commented on #37260
This looks okay on master. Could use a test

[code]

[2021-08-13 05:08] mroeschke commented on #37273
Yes it appears that this behavior is documented, additionally here as well https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.tseries.frequencies.to_offset.html. Closing as the expected behavior

[2021-08-13 05:09] #37273 closed

[2021-08-13 05:10] mroeschke commented on #37275
It appears that this works on master now. Could use a test

[code]

[2021-08-13 05:16] attack68 commented on #43000
Can you describe what it is, and why it should be added, and how it would be useful to regular pandas users?

[2021-08-13 05:27] mroeschke commented on #37429
Agreed, that the current error `TypeError: cannot safely cast non-equivalent float64 to int64` is the expected behavior. The workaround you have is the suitable "workaround" for what you exactly want. Closing

[2021-08-13 05:27] #37429 closed

[2021-08-13 05:54] NickFillot commented on #43000
It let user apply sql directly on pandas.DataFrame, as an instance method, brodcasting the df to relationnal db, by default an sqlite in memory, but can be one supported by sqlalchemy (postgresql, oracle, etc)

[code]

[2021-08-13 06:29] usersblock commented on #42997
take

[2021-08-13 06:29] usersblock commented on #42997
On a quick debug, it seems that the latter example uses nargsort(...) in pandas\core\sorting.py and the former uses compute(...) in pandas\core\algorithms.py.  Nargsort(...) splits the array into Nan and NonNan before concatenating after NonNan is sorted. On the other hand, compute(...) drops all Nan values before sorting, leading to a series with no Nan. I'll work on seeing whether modifying comp

[2021-08-13 07:23] jorisvandenbossche commented on #37260
I think we have a test for it here:

https://github.com/pandas-dev/pandas/blob/6fd01648b6d14b24690b85f993b193699df12439/pandas/tests/arrays/string_/test_string.py#L327-L332

[2021-08-13 07:23] #37260 closed

[2021-08-13 08:06] erdoukki commented on #40997
https://forum.openwrt.org/t/python3-pip3-aarch64-help/74685

[2021-08-13 09:08] MarcoGorelli commented on #43012
Hi @Pysion-lin - duplicate of #42423?

[2021-08-13 09:20] Pysion-lin commented on #43012
Thankyou very much

[2021-08-13 09:21] MarcoGorelli commented on #43012
no worries 😄

[2021-08-13 09:21] #43012 closed

[2021-08-13 10:36] VikingPathak commented on #34665
I am using `pd.read_sql()` which returned a dataframe and then applying `.to_dict()` gave me a dictionary with value `True` having type `numpy.bool_`.

Could not find a better approach so I used `to_json()` instead of `to_dict()` and enclosed it in `json.loads()`. **All the numpy types were converted to python object.**

[code]

[2021-08-13 11:09] tbrodbeck opened #43014 "BUG: Series: in operator uses index and list function uses values - which is unexpected"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-13 11:53] timebis opened #43015 "QST:"
---

I would like to concatenate two incomplete data frame with the same data (in theory) regarding a similar index. I tried with pd.concat but I don't managed to get what I need.

Here is a simple example of what I would like to do :

[code]

Does someone have an idea ?

Thanks !

[2021-08-13 12:12] MarcoGorelli commented on #43015
Hi @timebis - please ask on StackOverflow, thanks 👍

[2021-08-13 12:12] #43015 closed

[2021-08-13 12:44] ChiQiao opened #43016 "BUG: `rolling` fails when `Series` contains `pd.NA`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-13 13:18] ChiQiao opened #43017 "BUG: Default value for `Series(dtype=int)` is not `pd.NA`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-13 13:37] Codeberg-AsGithubAlternative-buhtz commented on #36698
I ran into the `groupby()`-with-`Categorial`-groupers problem and read a bit about it here on GitHub.
But I am a bit confused about the many Issues and PR's here.

What is the current state of this situation? What is the plan for the future?

In pandas 1.3.1 (installed on Debian10.10 via pip)
`observed` is by default `False` and causes (for newbies) "strange" behaviour.

[2021-08-13 13:55] ryancasburn-KAI commented on #17725
This is still an issue.

This is due to https://github.com/pandas-dev/pandas/blob/6fd01648b6d14b24690b85f993b193699df12439/pandas/plotting/_matplotlib/core.py#L574

Pandas adds a grid to an axes using https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.grid.html

This function takes two optional parameters, one to set which axis to apply the grid to and one to set which ticks (major or

[2021-08-13 14:05] ChiQiao opened #43018 "BUG: Inconsistent behavior of setting default value for type `bool`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-13 14:41] efagerberg commented on #37429
The problem is there is a NaN equivalent for Int64 as well and in some cases like when no other data has a decimal place in the data, it is inappropriate to assume float.

[2021-08-13 15:17] samgd opened #43020 "Performance of ExtensionArray display in DataFrame/Series"
When printing a DataFrame/Series that is backed by an ExtensionArray the values are first converted to a numpy array:

https://github.com/pandas-dev/pandas/blob/c03ee857f880f94461d3344c11bfb703885fde00/pandas/io/formats/format.py#L1561-L1574

This is problematic for ExtensionArrays that are very expensive to convert to numpy arrays. i.e. converting an extremely large ExtensionArray to a numpy arra

[2021-08-13 15:19] samgd commented on #43020
Tagging @jreback as you may be able to help given the git blame?

[2021-08-13 15:35] trevorkask commented on #33759
take

[2021-08-13 16:32] nownc commented on #33746
Adding some flavour to the issue:

The behaviour is identical with what was already reported, but with the difference that Excel recovery cannot restore the records. This leaves a discrepancy of ~2K records between the dataframe and the Excel file created.

DF: [7271 rows x 20 columns]
Excel: 5152 rows

There is no filtering, straight
with pd.ExcelWriter(temp_name, engine='xlsxwriter') as writer:

[2021-08-13 17:05] ChiQiao opened #43022 "BUG: `pd.testing.assert_frame_equal` fails if nested `DataFrame` contains `np.nan`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-13 17:06] debnathshoham opened #43023 "DOC: rolling return type inconsistent with doc"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.core.window.rolling.Rolling.min.html

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

the return type of rolling methods (rolling.min / rolling.max) is mentioned to be same as the original object. But the default retur

[2021-08-13 19:59] phofl commented on #43023
This is mentioned in https://pandas.pydata.org/pandas-docs/stable/user_guide/window.html#overview

[2021-08-13 20:24] rhshadrach commented on #36602
Thanks @mroeschke - I did add a note for other UDF methods (e.g. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html), but missed Groupby.apply. Agreed it should be added here as well.

[2021-08-13 20:46] dhimmel commented on #28103
Noting the method enabled by https://github.com/pandas-dev/pandas/pull/35645:

[code]

[2021-08-13 21:25] trevorkask commented on #26889
take

[2021-08-13 22:54] #42781 closed

[2021-08-13 23:36] Hoeze commented on #39133
Is there any chance to get this feature into v1.4?

[2021-08-13 23:38] jreback commented on #39133
@Hoeze PRs are welcome. core can provide review but features are generally done by interested parties

[2021-08-14 00:12] mroeschke commented on #43023
The first mention of type relates to the type of object, but I guess could also add a note specifically about the dtype to avoid confusion.

[2021-08-14 01:43] sterlinm opened #43031 "ENH: IntervalArray/IntervalIndex Range Joins"
#### Is your feature request related to a problem?

I'm interested in adding additional options that would modify the behavior of merge, join, and concatenate operations when performed between IntervalArrays or IntervalIndexes.

There has been a fair amount of related discussion in a number of somewhat stale issues. I'd be happy to continue the discussion on one of those if it makes more sense.
*

[2021-08-14 03:29] garylavayou commented on #42763
@dicristina
Why not adopt the same procedure as down-sampling for aggregation functions like `'max'`, `'min'`, `'count'`, `'mean'`, etc.
[code]
So, the behavior is consistent for down/up-sampling.

Intuitively, the up-sampling operation results in some empty groups, and the aggregate functions applied to empty groups might return `NaN` or `0` (like `count` and `size`).

[2021-08-14 04:08] mroeschke commented on #37483
Thanks for the report. Please let us know if you could give a simplified bug report that demonstrates the wrong behavior. Closing but happy to reopen one there's is a minimal reproducible example

[2021-08-14 04:08] #37483 closed

[2021-08-14 04:34] mroeschke commented on #37553
This looks to work on master now (without the error which makes sense to me). Could use a test

[code]

[2021-08-14 04:43] mroeschke commented on #37574
Thanks for the report, but this is the expected behavior. `series = pd.Series(['2018-01-01', None])` is an `object` series and not a `string` series. As mentioned, `dtype` should be explicitly set in this case if you want the series to be set with a `string` dtype. Closing as the expected behavior.

[2021-08-14 04:43] #37574 closed

[2021-08-14 04:49] mroeschke commented on #37620
Sounds like this may have been fixed in a version > 1.2.0. Closing since this is working, but happy to reopen if this issue persists on a more recent version.

[2021-08-14 04:49] #37620 closed

[2021-08-14 05:06] mroeschke commented on #37779
Since this was implemented, I think this issue should be good to close.

[2021-08-14 05:06] #37779 closed

[2021-08-14 05:20] mroeschke commented on #37939
Looks like you found a working solution, so closing this issue.

[2021-08-14 05:20] #37939 closed

[2021-08-14 05:25] mroeschke commented on #37947
Sounds like the most recent versions of jedi has somewhat ameliorated this issue, and it's not to evident what pandas could do since auto-completion is handled by jedi. Closing, but happy to reopen if someone could identify what in pandas would need fixing to enhance the performance.

[2021-08-14 05:25] #37947 closed

[2021-08-14 05:33] mroeschke commented on #37955
I think once a library that provides a "multiprocessing" IO reading has been identified, we can open a new issue to specifically discuss how to implement it in pandas. Otherwise as mentioned, it doesn't seem like implementing native multiprocessing is not ideal. Closing for now.

[2021-08-14 05:33] #37955 closed

[2021-08-14 05:43] mroeschke commented on #38015
It appears this work on master now, I think. Could use a test

[code]

[2021-08-14 05:49] mroeschke commented on #38031
Thanks for the request. Agreed that converting the data types beforehand would be preferable than adding extra logic to `corr/cov`

Since this enhancement request hasn't gotten much traction from the community or the other core devs, going to close, but happy to reopen if there is revived interest.

[2021-08-14 05:49] #38031 closed

[2021-08-14 05:59] mroeschke commented on #38075
Thanks for the suggestion, but it appears that this enhancement generally hasn't garnered much interest from the core team. Going to close, but if you would like to contribute to our recipe documentation on how to compose this functionality from existing pandas functions that would be welcome.

[2021-08-14 05:59] #38075 closed

[2021-08-14 15:39] rhshadrach commented on #16529
Is changing the behavior for all methods with an inplace argument so that they return their instance non-controversial, or are there any downsides to doing that? I think it can be done independent of any future removals. The benefits are

 - Ability to use in inplace with method-chaining
 - No need for type-hinting overloads (at least, for the return type)

Looking through the discussion above, I

[2021-08-14 15:50] ChiQiao opened #43038 "BUG: Compare type `int64` with `Int64` fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-14 16:07] jreback commented on #16529
-1 on returning the instance for inplace

method chaining with in place is a non pattern and should be always avoided as silently can fail

+1 in simply depreciating inplace entirely

[2021-08-14 16:40] arcAman07 commented on #40328
Hey Can I take this issue up?

[2021-08-14 16:54] mroeschke commented on #38104
Thanks for the report. Since this behavior is due to pyarrow, doesn't seem that there's anything to address in pandas. Closing.

[2021-08-14 16:54] #38104 closed

[2021-08-14 17:07] mroeschke commented on #38229
Thanks for the suggestion, but it appears that there isn't much appetite for supporting this feature in pandas. Closing but happy to reopen if there is a changed view for this feature.

[2021-08-14 17:07] #38229 closed

[2021-08-14 17:10] mroeschke commented on #38243
Closing as fixed and working on master.

[2021-08-14 17:10] #38243 closed

[2021-08-14 17:29] bkurtz commented on #42585
Ran into this separately today with `method="time"` as well.  Think I've found approximately the root cause and opened a PR, though looking through this I'm realizing that it's not clear my fix will address the issue when the index is in decreasing order.

[2021-08-14 17:46] bkurtz commented on #42585
If I'm correct about the root cause, it would've been introduced by #29943

[2021-08-14 18:31] jbrockmendel commented on #43038
This is an issue with `np.dtpye.__eq__`, should be fixed by https://github.com/numpy/numpy/pull/19228

[2021-08-14 18:50] phofl commented on #42994
Closing, please ping to reopen if you think this is a pandas bug

[2021-08-14 18:50] #42994 closed

[2021-08-14 18:55] phofl commented on #42851
related to #33066 and #32931

This would vanish with an extension dtype

[2021-08-14 20:03] kr11 opened #43042 "BUG: byteorder (endian) error for int64 and int32"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-14 20:13] jreback commented on #43042
you can look for some other issues about this but iirc this is not supported at all and likely as very little interest

if u want to submit a patch which works and doesn't affect little endian perf you are more than welcome

[2021-08-14 21:54] #43023 closed

[2021-08-14 22:04] mroeschke commented on #38356
Thanks for the suggestion, but agreed that this feature sounds best belonging in an external repo like you have in https://github.com/ClementWalter/pandas-addons. The only assertions pandas maintains in the library are dedicating for unit testing.

Since this feature hasn't gotten much favor from other core developers, going to close this issue.

[2021-08-14 22:04] #38356 closed

[2021-08-14 22:09] mroeschke commented on #38402
Thanks for the suggestion, but agreed that the churn on these functions would probably be to heavy handed for the community. Closing.

[2021-08-14 22:09] #38402 closed

[2021-08-14 22:12] mroeschke commented on #38413
Thanks for the suggestion, but as mentioned we would need more context from which this error message was generated. The message as is may be valid depending on the original frame. Additionally for a wide frame, listing all the columns, for example, would be very verbose.

Closing as needed more context, but if you could provide an example the team could consider re-evaluating.

[2021-08-14 22:12] #38413 closed

[2021-08-14 22:18] mroeschke commented on #38439
Seems like the above example is consistent now? Could use a test possibly

[code]

[2021-08-14 22:25] mroeschke commented on #38510
Agreed this looks related to https://github.com/pandas-dev/pandas/issues/36984 and could be better documented

[2021-08-14 22:25] #38510 closed

[2021-08-14 22:30] mroeschke commented on #38644
Agreed looks like an upstream issue and appears to have a related bug report. Closing

[2021-08-14 22:30] #38644 closed

[2021-08-14 22:38] mroeschke commented on #38752
Thanks for the report, but as mentioned I suspect that is is an implementation artifact (numeric precision on the algorithm) that may be impossible to address. Closing, but if you could provide a more minimal example to pinpoint the issue, it would be helpful for the team to see if it could be addressed.

[2021-08-14 22:38] #38752 closed

[2021-08-14 22:57] mroeschke commented on #38827
Thanks for the report, but agreed since `stack` outputs a very similar result, I think this feature would be best suited for an external library to implement as pandas aims to have a limited amount of direct display APIs.

Closing, but happy to reopen if there is renewed interest from the other core devs and community.

[2021-08-14 22:57] #38827 closed

[2021-08-14 23:01] mroeschke commented on #38885
Since it seems like there isn't any much more movement on this issue to create a new `freq` value, going to close.

[2021-08-14 23:18] mroeschke commented on #38949
Thanks for the suggestion, but agreed that since this functionality can be composed relatively succinctly with existing APIs, it is probably not worthwhile to add an additional method for this.

Since there is also lack of enthusiasm from other core devs going to close.

[2021-08-14 23:18] #38949 closed

[2021-08-14 23:24] mroeschke commented on #39011
Thanks for the suggestion, but agreed that having more than one method of performing the same action (and having to maintain those methods in sync) is not ideal. Since there hasn't been much support for this functionality from the other core devs, closing but happy to reopen if there is revived interest from the team.

[2021-08-14 23:24] #39011 closed

[2021-08-14 23:28] mroeschke commented on #39013
Thanks for the suggestion, but agreed that pandas tries to promote explicitness, so having a `default` dtype setting would detract from that goal (add maybe overlap with a column with whatever key we would standardize around). Since there hasn't been much support for this functionality from other core developers, closing, but happy to reopen if there's revived interest from the team

[2021-08-14 23:28] #39013 closed

[2021-08-15 02:43] mroeschke commented on #39039
Does look similar to #32265, continued discussion can happen on that issue

[2021-08-15 02:43] #39039 closed

[2021-08-15 03:09] mroeschke commented on #39162
Agreed. Since this behavior was deprecated, closing

[2021-08-15 03:09] #39162 closed

[2021-08-15 03:12] willie3838 commented on #42907
take

[2021-08-15 03:23] mroeschke commented on #39178
This looks to be okay on master. Could use a test

[code]

[2021-08-15 03:31] mroeschke commented on #39265
Thanks for the suggestion, but since no other core devs have weighed in to support this enhancement going to close. But happy to reopen if it gains renewed support.

[2021-08-15 03:31] #39265 closed

[2021-08-15 03:34] mroeschke commented on #39297
Since this is an upstream issue with openpyxl, closing.

[2021-08-15 03:34] #39297 closed

[2021-08-15 03:40] mroeschke commented on #39325
Sounds like this isn't a direct issue in pandas; therefore, closing. If there ends up being an issue with IAM roles with `store_options` happy to reopen.

[2021-08-15 03:40] #39325 closed

[2021-08-15 03:52] mroeschke commented on #39346
Thanks for the suggestion. Given that we provide hashing functionality and there's already an active library with this functionality https://github.com/InvestmentSystems/static-frame, I would also be -1 for adding this directly to pandas.

Closing, but happy to reopen if the team reconsiders this enhancement.

[2021-08-15 03:52] #39346 closed

[2021-08-15 04:00] mroeschke commented on #39397
Since this usage question seem to have been sufficient answered. Closing

[2021-08-15 04:00] #39397 closed

[2021-08-15 04:07] mroeschke commented on #39430
Yes this is documented and the expected behavior from the `keep_default_dates` keyword

it ends with '_at',
it ends with '_time',

Closing as expected.

[2021-08-15 04:07] #39430 closed

[2021-08-15 04:15] mroeschke commented on #39489
Closing at this appears identical to https://github.com/pandas-dev/pandas/issues/39169

[2021-08-15 04:15] #39489 closed

[2021-08-15 04:25] mroeschke commented on #39531
Thanks for the suggestion. Appears this particular enhancement request hasn't gotten much support from the core team, so closing. Happy to continue discussion on the issue that discusses `coalesce`

[2021-08-15 04:25] #39531 closed

[2021-08-15 04:31] mroeschke commented on #39565
Agreed, I believe this does not warrant another API method (which pandas is trying to avoid increasing as pandas contains a large API surface area). Thanks for the suggestion, but since this feature hasn't gotten much further support from the team, going to close.

[2021-08-15 04:31] #39565 closed

[2021-08-15 04:35] mroeschke commented on #39599
Closing as this appears to be an upstream issue that has been fixed

[2021-08-15 04:35] #39599 closed

[2021-08-15 07:17] aiwalter commented on #38885
But the issue is not solved, so maybe better to keep it open?

[2021-08-15 08:11] simonjayhawkins commented on #42708
Have created 1.3.3 milestone https://github.com/pandas-dev/pandas/milestone/89 and will be moving open issues/PRs on 1.3.2 https://github.com/pandas-dev/pandas/milestone/88 across shortly following some preliminary checks.

[2021-08-15 09:06] simonjayhawkins commented on #42708
pre-release checklist

- [ ] wheels building https://github.com/MacPython/pandas-wheels/pull/135
- [ ] release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ] release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.2.html
- [ ] ci checks https://github.com/pandas-dev/pandas/commits/1.3.x
- [ ] no manual back

[2021-08-15 09:18] simonjayhawkins commented on #42390
@jbrockmendel i've closed #42391 as stale.

[2021-08-15 10:12] pratyushsharan commented on #38017
@jreback @jbrockmendel Since this issue was most probably lying dormant, I took some liberty and made some changes. Can you review the PR?

[2021-08-15 10:23] attack68 opened #43048 "REF: use `_get_axis_number` instead of `if axis in [...]`:"
This PR regards searching the **non-test codebase** (i.e. don't find code examples in pandas/tests) for examples like the following:

Try to find and replace logic like:

[code]

with the standard codebase method `get_axis_number(axis)`. This is a DataFrame method so often you need use local DataFrame objects to call this method.

It may also be necessary to change `axis` args in internal methods

[2021-08-15 11:27] cckang commented on #38947
Test below code using pandas version ==> 1.4.0.dev0+424.gab5322ccd6

`df = pd.DataFrame(
    {
        'a': [1, 2],
    },
    index=pd.Index([0, 'Total'])
)
df.plot.bar()
`
did not encounter any error.  However,  it does not produce any plot.

[2021-08-15 12:34] simonjayhawkins commented on #42708
pre-release checks passed. starting release now. 1.3.2 milestone closed off.

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] open PR to build wheels https://github.com/MacPython/pandas-wheels/pull/xxx
- [ ] upload docs https://pandas.pydata.org/pandas-docs/version/1.3.2/
- [ ] wheels in staging are

[2021-08-15 13:26] simonjayhawkins opened #43050 "RLS: 1.3.3"
Tracking issue for the 1.3.3 release. Currently scheduled for September 05, 2021.

https://github.com/pandas-dev/pandas/milestone/89

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression

performance regressions between 1.2.5 and 1.3.x https://simonjayhawkins.github.io/fantastic-dollop/#regressions?sort=3&dir=desc&branch=1.3.x

cc @pandas-

[2021-08-15 14:59] driscoll42 opened #43053 "ENH: Allow for passing in engine_kwargs to read_excel"
#### Is your feature request related to a problem?

In experimenting with openpyxl, I have found that I can load my files in faster when read_only=True, and I would like to pass in that argument to read_excel

#### Describe the solution you'd like

Similar to ExcelWriter, I would like to have engine_kwargs added to read_excel to pass in engine specific kwargs.

#### API breaking implications

This

[2021-08-15 17:44] willie3838 commented on #42907
Sorry I'm new to this, but where can I edit the docs within the repository?

[2021-08-15 17:45] debnathshoham commented on #42916
take

[2021-08-15 17:51] mroeschke commented on #39773
Agreed, that the regex argument provides the most flexible and generic version of `not_like` in this case, so I would be -1 on adding a new parameter to this function. Ideally, pandas should avoid having multiple ways of performing similar operations as possible.

Since there hasn't been much support for this feature from the core team or community, going to close, but happy to reopen if there is

[2021-08-15 17:51] willie3838 commented on #42907
Nevermind figured it out :)

[2021-08-15 18:18] mroeschke commented on #39838
This is seems like an issue with pyarrow, not sure if there's any further action on the pandas side so closing. Happy to reopen if I misunderstood

[2021-08-15 18:18] #39838 closed

[2021-08-15 18:20] mroeschke commented on #39839
Closing as it seem that is an upstream issue.

[2021-08-15 18:20] #39839 closed

[2021-08-15 18:24] mroeschke commented on #39853
Sorry for the delay. Would you be able to reproduce this with a more minimal example without the gsw library? If there is a bug, we would need to be able to add a regression test without this dependency

[2021-08-15 18:29] mroeschke commented on #39881
Though this was fixed with https://github.com/pandas-dev/pandas/pull/38977, could use an extra regression test

[2021-08-15 18:31] mroeschke commented on #39898
Since this behavior is as designed, appears that there's nothing to address in pandas so closing as a usage question

[2021-08-15 18:31] #39898 closed

[2021-08-15 18:42] mroeschke commented on #39914
Thanks for the suggestion, but from the discussion it appears that there's not much support from the team to support this functionality. Closing, but happy to reopen if there is revived interest

[2021-08-15 18:42] #39914 closed

[2021-08-15 18:46] mroeschke commented on #39921
Since https://github.com/pandas-dev/pandas/issues/11723 seems like the aligned feature request, going to close this issue and encourage further discussion and support to happen in that issue

[2021-08-15 18:46] #39921 closed

[2021-08-15 21:07] MarcoGorelli commented on #41753
the PR for this was made to pandas-dev-flaker so we can close here

[2021-08-15 21:07] #41753 closed

[2021-08-15 21:08] MarcoGorelli commented on #41719
closing for now as the PR's already been made to pandas-dev-flaker, enabling it will be another issue

[2021-08-15 21:08] #41719 closed

[2021-08-15 21:08] MarcoGorelli commented on #40531
Hi @franslarsson - still working on this?

[2021-08-15 21:46] andrewwoood commented on #38015
I was looking to take this on as my first open source contribution, but when I ran the code locally I'm running into the error mentioned initially:
[code]

In the case that I'm doing this incorrectly, could I take this issue on? @mroeschke, when you mention that it needs tests, does that mean running it locally with different values and verifying correctness? Or are there unit tests that I need to

[2021-08-16 00:37] mroeschke commented on #38015
@andrewwoood I was running this on the master branch, and it appeared to have worked. This code snippet would need to be added as a unit test in the pandas testing suite.

[2021-08-16 03:33] pratyushsharan commented on #43022
take

[2021-08-16 04:23] pratyushsharan commented on #43022
I've checked and this bug does exist on the master branch. The issue is with `pandas.core.dtypes.missing._array_equivalent_object()` where the code checkes whether the inner dataframe inside foo, bar are equal:
`np.any(np.asarray(left_value != right_value))`, where left_value is `foo.iloc[:,0]._values[0]`
This returns false because of presence of `np.nan` in inner and then the code in pandas._libs

[2021-08-16 06:10] ytchanglp commented on #42624
the doc is clearly said.

[2021-08-16 08:28] simonjayhawkins commented on #42997
Thanks @jeffpollock9 for the report.

from https://github.com/pandas-dev/pandas/issues/28984#issue-506957405

I'll close this as a duplicate to keep related discussion in the same place.

[2021-08-16 08:28] #42997 closed

[2021-08-16 09:21] jeffpollock9 commented on #42997
@simonjayhawkins apologies, I saw that issue but didn't realise it was the same. Thanks for fixing.

[2021-08-16 10:48] simonjayhawkins commented on #43038
can't reproduce on pandas 1.2.5 onwards.

[code]

numpy int dtypes can't hold missing values, so `False` seem more appropriate.

[2021-08-16 15:04] linar-jether opened #43067 "BUG: pd.concat produces an invalid index in case of duplicates"
#### Problem description
When using `pd.concat` with the `keys` parameter,  on a Series/Dataframe who's index contains duplicate entries, concat ignores these duplicate value and generates an **invalid MultiIndex**, with different "codes" for the same label.

further down the line, this breaks `df.groupby(level=[0,1]).sum()` because apparently groupby relies on the "codes" rather than the values (

[2021-08-16 15:13] phofl commented on #43067
Duplicate of #42651

[2021-08-16 15:13] #43067 closed

[2021-08-16 15:23] jaidisido commented on #41432
Any update on this please?

For now the only workaround is to import these types client-side through a cheap call. Example:
[code]
which is not ideal

[2021-08-16 15:24] hwalinga commented on #34251
I already noticed this instability in the past: #30005

[2021-08-16 15:45] ChiQiao commented on #43038
Thanks @jbrockmendel and @simonjayhawkins for the input

Since it may be a bug from numpy, I wonder which numpy version you were using?
Also, I wonder if you were able to reproduce the bug given the environment I posted (pandas 1.3.1, numpy 1.20.3)?

Yes, that was a typo on my side. I've updated the description.

[2021-08-16 17:24] KuhakuPixel opened #43068 "BUG : pandas.DataFrame.to_excel function not working in pandas 1.3.1"
- [✅ ] I have checked that this issue has not already been reported.

- [ ✅] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-08-16 17:52] simonjayhawkins commented on #42708
linux_aarch64_numpy1.19python3.7.____73_pypy is timing out. also happened on previous release and took several restarts to build successfully.

will announce release shortly as all other conda binaries built

[2021-08-16 20:26] #42333 closed

[2021-08-16 22:06] rhshadrach commented on #43068
The documentation you quoted does not have an option to append to an existing sheet; is there a part of the documentation that indicates to you that you can? Related: #42221

[2021-08-16 22:09] rhshadrach commented on #43053
Is there is a case where we shouldn't be passing `read_only=True`?

[2021-08-16 22:10] rhshadrach commented on #43053
But makes sense to allow passing kwargs through to the engine regardless.

[2021-08-16 22:11] rhshadrach commented on #43048
I think this applies to all code, not just the style, is that right? Or would you like to keep this issue focused on just the styler?

[2021-08-16 22:51] driscoll42 commented on #43053
I don't believe so. When I looked at the source code further after opening this ticket I realized that it was already being passed along with a few variables with data_only and keep_links which probably give all the speedup possible. I was looking if the convert_cell loop could be sped up at all as that, at least in my test cases, was 93% of the load time and couldn't see anything.

[2021-08-17 00:03] dicristina commented on #42763
That is the way to go but there are some tests that must be dealt with.  As a workaround you can use `Resampler.agg` with a dict.  For instance your first example could be:

[code]

This gives the expected result because `_groupby_and_aggregate` gets called.

[2021-08-17 00:20] #34037 closed

[2021-08-17 02:15] KuhakuPixel commented on #43068
Yes there is

I am able to append to existing sheet on older pandas like 1.2.3

[2021-08-17 03:17] andrewwoood commented on #38015
take

[2021-08-17 03:34] rhshadrach commented on #43068
I see - there is a difference between an excel _file_ and an excel _sheet_. With the option, you can append to the existing file, meaning to add or entirely replace a sheet in it, but there is currently no option to append to an already existing sheet. Perhaps the wording could be made more clear?

Can you post a reproducible example?

[2021-08-17 04:59] trevorkask commented on #26889
I have tried to use different methods of replacing the string column but astype has consistently given me the fastest wall times. Or maybe I'm missing the whole point

[2021-08-17 05:24] attack68 commented on #43048
@rhshadrach I don't know. I know that it applies to much of the stuff I wrote in `Styler` that @jreback pointed out to me. If it applies more broadly can convert this issue into a master tracker and try to locate more examples..

[2021-08-17 05:36] attack68 commented on #42965
I'm not sure the reason for you wanting to use these coroutines but they look like they would be so much slower to me.

[code]

Using vectorised string functions is fastest. Using `apply`, which is a vectorised op is close, and using `applymap` which is essentially a loop is more than 10x worse.

[2021-08-17 05:44] TRANTANKHOA opened #43074 "BUG: pandas.read_csv with no schema gives corrupted data"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

![image](https://user-images.githubusercontent.com/6995213/129669430-27507e05-b8a6-4c24-934e-7945889b41be.png)

[code]

#### Pr

[2021-08-17 06:01] TRANTANKHOA commented on #43074
I'm guessing it's the case where through sampling, the parser set Id as Integer and then encounter a string, update the schema and continue without reparsing the previous records.

[2021-08-17 06:11] mmac-m3a opened #43075 "BUG: pandas 1.3.2 incompatible with fastparquet 0.7.0"
- [x] I have checked that this issue has not already been reported.
I've searched listing of open issues for "parquet" and found no matching entry describing this problem

- [x] I have confirmed this bug exists on the latest version of pandas.
Exists in 1.3.2

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.
Exists also in the master branch.
---

**Note**: Please r

[2021-08-17 06:26] #42810 closed

[2021-08-17 07:43] KuhakuPixel commented on #43068
[code]

when using an older version of pandas this will be able to append properly to an existing sheet like this
![compare0](https://user-images.githubusercontent.com/66545911/129684841-6531bc77-e9f3-456c-ada7-e9646dd31483.png)

 but when using pandas 1.3.0 or newer it will throw

shouldn't `if_sheet_exists` have another mode like "append" ?

[2021-08-17 07:58] farhoud commented on #35785
Can i take it?

[2021-08-17 09:04] topper-123 commented on #43002
I think having index methods in the array and treating the Index class as a container seems logical and has potential to simplify things and use extensionArrays as index (or input to a generic index class) which would be a win.

Having immutable arrays could be even more powerful. In that case the index would just be a container that requires an immutable array as its input. Having arrays being im

[2021-08-17 09:48] simonjayhawkins commented on #43075
Thanks @mmac-m3a for the report. xref #42919, #42987 cc @lithomas1

[2021-08-17 10:08] simonjayhawkins commented on #41351
from https://github.com/pandas-dev/pandas/pull/41932#issuecomment-860040209

[2021-08-17 12:19] mfsi-shubhankar commented on #26051
is there a way to auto add new sheet in pandas.ExcelWriter if a sheet reaches maximum limit?

[2021-08-17 12:21] YarShev opened #43079 "BUG: Incorrect assigning Series to DF"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description & Expected Output

Shouldn't the column "a" contain `Series([5, 5, 5, 5])`?

#### Output of ``

[2021-08-17 12:24] phofl commented on #43079
No, the rhs is aligned to the rhs. The index does not match, hence the nans

[2021-08-17 12:26] YarShev commented on #43079
Thanks! Closing the issue.

[2021-08-17 12:26] #43079 closed

[2021-08-17 13:08] jreback commented on #43048
yeah this was mainly for Styler, but its possible we do this elsewhere in the codebase so should clean those up (and ideally have a pre-commit rule but might be non-trivial)

[2021-08-17 13:13] #39881 closed

[2021-08-17 14:24] lithomas1 commented on #43075
Please upgrade to fastparquet 0.7.1

[2021-08-17 14:26] lithomas1 commented on #43075
Shoot messed it up. That kwarg is only in 0.7.1 not 0.7.0. Will patch soon. In the meantime, do you mind upgrading to 0.7.1? 0.7.0 has incorrect behavior

[2021-08-17 14:30] dicristina commented on #43074
This behavior is documented and produces a warning.  Please see the `low_memory` parameter of `read_csv` and [this answer](https://stackoverflow.com/a/40585000/16342964) on StackOverflow for more information.

[2021-08-17 15:55] trevorkask commented on #26889
%%time
df['I'] = arr
# Wall time: 837 ms

%%time
df['L'] = df.infer_objects()
# Wall time: 5.17 s

%%time
df['J'] = arr.astype(object)
# Wall time: 171 ms

%%time
df['K'] = pd.to_numeric(arr)
# Wall time: 1.59 s

%%time
pd.to_numeric(df['M'],errors='coerce')
df['M']=arr
# Wall time: 1.49 s

[2021-08-17 16:00] trevorkask commented on #38439
take

[2021-08-17 16:00] tscheburaschka opened #43080 "BUG: dt.tz_convert() on categorical[datetime] resets index"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

### Code Sample

[code]

#### Problem description

When working on categorical columns, I would expect all methods, that can be called without error or warning, to yield

[2021-08-17 16:04] #42390 closed

[2021-08-17 16:12] sinking8 commented on #42875
@jorisvandenbossche  Sir can I take up this issue?

[2021-08-17 16:15] MarcoGorelli commented on #21749
reopening as I don't think the linked PR closes all the items

[2021-08-17 16:15] #32803 closed

[2021-08-17 16:27] a-n-622 commented on #42875
Sir, in the documentation of df.take, I noticed that the input indices need to be in the form of an array. Here, in our issue, it has been passed as an integer.
When I tried to replicate the issue, and passed 1 as [1] instead, there was no issue. I feel it was an error while passing the variable.
Regards.

[2021-08-17 16:30] a-n-622 commented on #42875
Sir, instead of scalar indexer, we should ideally pass a scalar array of indices. This is what I gathered from the documentation, and the error message hints towards the same thing, that it is expecting an array (I had similar issue in some other project I was doing). I hope this is resolved.

[2021-08-17 16:49] dhivyadharshin commented on #43048
Can I work on this issues?

[2021-08-17 16:52] sberglin opened #43082 "BUG: exponential moving window covariance fails for a non-from_product MultiIndexed DataFrame"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`cov` works fine when the `MultiIndex` is created with `from_product`, but fails here since t

[2021-08-17 17:21] dhivyadharshin commented on #42818
Can I fix the issues?

[2021-08-17 17:41] hoffm386 opened #43084 "ENH: clearer error messages for `xlrd` and `openpyxl` issues"
#### Is your feature request related to a problem?

While using the `scipy-notebook` image from Jupyter, which installs `pandas` and `xlrd` but not `openpyxl` (full dependency list [here](https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile#L19)), I attempted to open a `.xlsx` file using `pd.read_excel`. Code example:

[code]

The error message I got was:

[code]

This wa

[2021-08-17 17:43] twoertwein commented on #43068
@KuhakuPixel The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.ExcelWriter.html) of `ExcelWriter` says: "None of the methods and properties are considered public.". You are overwriting `book` and `sheet` in your example. Overwriting `book` will cause issues as described here https://github.com/pandas-dev/pandas/issues/39576#issuecomment-882918931

[2021-08-17 17:55] mmac-m3a commented on #43075
I'd love to use `fastparquet` 0.7.1, but it fails to install on my M1 Macbook :-(. 0.7.0 installs fine. I'm back at 0.6.3 at the moment.

[2021-08-17 17:55] Ramaseshanr opened #43085 "BUG: pandas.DataFrame.reindex - sample code to expand the dataframe as given in the API reference is not working"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
date_index = pd.date_range('1/1/2010', periods=6, freq='D')
df2 = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]},

[2021-08-17 18:11] attack68 commented on #43085
Can confirm this fails.
Should probably add this to the doctest list as well since it is an api example.

[2021-08-17 19:28] DocOtak commented on #39853
Hi @mroeschke no worries about the delay. Here is a reproducible example using only numpy and pandas. I do need to make a toy ufunc to demonstrate this:

Setup:
[code]
Demonstration that it works as expected:
[code]

And the failing case:
[code]

[2021-08-17 20:04] fangchenli commented on #42076
Builds on master are been canceled recently. Not sure why.

[2021-08-17 20:08] WWFelina commented on #39158
take

[2021-08-17 20:09] mmac-m3a commented on #43075
FYI, I've figured out why fastparquet 0.7.1 fails to install on M1 Mac. See: https://github.com/dask/fastparquet/issues/661 and https://github.com/scipy/oldest-supported-numpy/issues/23 and https://github.com/scipy/oldest-supported-numpy/pull/24

It would still be helpful if pandas worked with an installable version of fastparquet on "every" platform.

[2021-08-17 20:23] fjossandon opened #43087 "BUG: Inconsistent column order result using Left Merge depending if left dataframe is empty or not"
- [X] I have checked that this issue has not already been reported.
There is a similar report but using "outer join" instead of "left join": https://github.com/pandas-dev/pandas/issues/9937

- [X] I have confirmed this bug exists on the latest version of pandas.
Is present at least in the last version I can install with pip3 "1.1.5".

- [X] (optional) I have confirmed this bug exists on the master

[2021-08-17 20:34] rhshadrach commented on #42934
Since properties of the index are assumed immutable, they are cached, and this can lead to invalid states:

[code]

gives

[code]

[2021-08-17 20:40] rhshadrach opened #43088 "ENH: Rename ExcelWriter to make clear attributes are not public"
Ref: https://github.com/pandas-dev/pandas/issues/43068#issuecomment-900504112

Copying from the comment above:

It seems this line the documentation would be easy to miss, and it'd be better to make this more clear via the standard naming convention of a single leading underscore.

[2021-08-17 20:46] rhshadrach commented on #43068
Thanks for supplying an example @KuhakuPixel - as I had suspected it is very similar in nature to #42221. As such, I would request that any further discussion on whether or not pandas should support appending to an excel sheet be in #42221.

Pending the outcome of that discussion, if it is not to be supported, then it seems to me we could perhaps make the documentation here a bit more clear. In pa

[2021-08-17 20:46] sterlinm commented on #40932
Hi @jbrockmendel, this is so closely aligned with one of the projects I'm working on at work that there's some interest in seeing if it would make sense to work on this in Pandas and contribute it rather than build our own custom solution.

Is cython 3 a requirement for updating pd.Timestamp? We're just interested in getting some sense of the timeline so we can figure out what would make sense for

[2021-08-17 21:26] rhshadrach commented on #43048
I noticed it in the tests recently, doing some quick searches I'm seeing a few instances in core as well.

[2021-08-17 21:48] Liam3851 commented on #43088
Given xlsxwriter [documents](https://xlsxwriter.readthedocs.io/working_with_pandas.html) the use of the `book` attribute when using that engine to add more granular functionality (see "Accessing xlsxwriter from pandas"), should probably at least check upstream or see if there's some other way to support the interface? Our firm at least definitely uses writer.book per their examples (e.g. to add ch

[2021-08-17 22:06] franslarsson commented on #40531
Hi @MarcoGorelli
Sorry for the delay, I'll open a PR for it tomorrow, Wednesday.

[2021-08-18 01:32] Dinkarkumar commented on #43087
Issue is resolved is quite well, i have also tested it and it worked completely fine on my system too. Great work.

[2021-08-18 01:45] Dinkarkumar commented on #43082
I would like to work on this issue.

[2021-08-18 02:22] jgmarcel opened #43091 "BUG: Change of behavior in casting of datetime-like types in MultiIndex"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[Edited to inform a much simpler example.]

[code]

#### Output

The output below has been generated with pandas 1.3.0 or highe

[2021-08-18 02:33] TRANTANKHOA commented on #43074
Thanks @dicristina , I understand the design decision now. However in practice
1. I think it should be an error, not a warning
2. Setting `low_memory=False` doesn't work when ingesting a sequence of files so data corruption is still possible
3. There are many files to ingest in many tables, coders don't know the schema in advance, printing out a warning doesn't help when it get mixed in a sea of l

[2021-08-18 03:03] ShashankR87 commented on #38795
Hey, I would like to contribute to solving this issue. This would be my first contribution.
Could you please provide some more info about the issue and what is supposed to happen?

[2021-08-18 03:18] mroeschke commented on #39853
Great thanks for the minimal example!

[2021-08-18 03:57] hl6 commented on #10018
`quoting=csv.QUOTE_MINIMAL` doesn't work.

`pd.to_csv` (v1.2.1) failed to put quotes around string values ending with a `\r`.

It had to be `csv.QUOTE_ALL`.

[2021-08-18 04:03] radioactive11 commented on #42875
@a-n-622 We should pass an array-like indexer in .take(). The goal of this issue is to improve the error message when a scalar indexer is passed.

[2021-08-18 04:36] a-n-622 commented on #42875
@radioactive11 got it. I am viewing the discussion on #42886 now. thanks.

[2021-08-18 04:40] xuancong84 opened #43093 "BUG: inconsistent behaviour when grouping DataFrame by week and month, as compared to minutes, hours and days??"
In computer science, we always try to design algorithms and procedures in a logically consistent manner so that other people can follow easily without making wrong assumptions. For example, when we group dates into intervals, for every group we can choose to use either the left or the right boundary to label that group. So if you decide to choose the left timestamp to label every interval, then yo

[2021-08-18 05:25] attack68 commented on #43085
of course, as pointed out by @pragatimehra21 the DataFrame object returned by `reindex` should overwrite, i.e.

use: `df2 = df2.reindex(date_index2)`.

Should correct the docs

[2021-08-18 06:02] HemanjaliAdini commented on #43048
hey, can i have this issue?
I'm quite new to this so I might need some guidance

[2021-08-18 06:11] hrnciar commented on #42946
@lithomas1 numpy's wheels are now available. https://pypi.org/project/numpy/1.21.2/#files

[2021-08-18 06:14] Nishita5421 commented on #40328
Hay Can I take this ?

[2021-08-18 06:16] Nishita5421 commented on #4591
Is this still open? Can I take this?

[2021-08-18 06:20] Nishita5421 commented on #42125
is this close ? Can I take this?

[2021-08-18 06:22] Nishita5421 commented on #42124
Is this close ? or Can I take this?

[2021-08-18 06:24] Nishita5421 commented on #40680
Is this close ? or Can I contribute in this.?

[2021-08-18 07:03] AhmedIbrahim336 opened #43094 "ENH:why we don't have an axis called column"
### The Problem
Currently, we can select the `axis` by typing `0` `1` `index`.
But why we can't select the axis also by typing `column`.
Personally, I prefer to use `index` as an axis as this makes my code clean.

#### The solution
Check for the key world `column` as an axis if so this means it is the same as  `1`
After doing this it will be like this
[code]

#### API breaking implications
This co

[2021-08-18 07:07] dhivyadharshin commented on #43048
Yes you can!

On Wed, 18 Aug 2021, 11:32 am Adini Hemanjali, ***@***.***>
wrote:

[2021-08-18 08:28] MarcoGorelli commented on #43094
you can pass `"columns"` already, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

closing for now, but let me know if this doesn't work and I'll reopen

[2021-08-18 08:28] #43094 closed

[2021-08-18 08:59] ValBerthe commented on #42506
I ran into that issue with pip and `--ignore-installed` flag. I did not mix pip and conda.
Re-installing the package with `pip install pandas==1.3.2` did solve the issue.

[2021-08-18 11:10] Yama-aa commented on #42125
Yes, you can

On Wed, 18 Aug 2021 at 9:20 Nishita Patnaik ***@***.***>
wrote:

[2021-08-18 11:11] Dinkarkumar commented on #34440
I want to work on this issue.

[2021-08-18 12:07] MarcoGorelli commented on #42125
Thanks for letting us know - @Nishita5421 feel free to take a look at https://github.com/pandas-dev/pandas/pull/42129 for a good start on this

[2021-08-18 13:09] hamishdarbyshire opened #43096 "BUG: `pd.merge` mixes up the left/right index/on keys in result"
- [ ] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

I was reviewing the recent PR for anti-joins and was attempting to come up with a standard test structure, and came across this:

[code]

### Expected

[code]

[2021-08-18 13:26] alexlenail commented on #16846
@timothymillar's code above solved my issue, and at first I agreed it may be out of scope to be included in pandas, but having used it with for a variety of different CLIs dozens of times over the past few weeks, I'd vote to add it to pandas.

[2021-08-18 13:55] trevorkask commented on #38439
I have tried to test the code and the assertion has no errors

[code]

[2021-08-18 13:57] trevorkask commented on #33759
Just to clarify, does this issue need a code change?

[2021-08-18 14:04] Bhavay192 commented on #18250
hey @mroeschke , I want to work on this issue. Could you please assign this to me?

[2021-08-18 14:07] TomAugspurger commented on #33759
I don't think so. IIUC, the only issue is that object-dtype indexes / columns take more space.

There might be something pytables could do, but I suspect there isn't much. I don't think there's anything pandas can do.

[2021-08-18 14:07] #33759 closed

[2021-08-18 16:27] debnathshoham commented on #43085
Hi @attack68 , actually [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html). I can see this works exactly in master. In the doc `df2.reindex(date_index2)` returns the above and not `df2`.

[code]

![Screenshot 2021-08-18 at 9 52 19 PM](https://user-images.githubusercontent.com/6472290/129935694-7876f24b-102c-47b2-9678-0eef1c023826.png)

[2021-08-18 16:32] Dinkarkumar commented on #43082
![MultiIndex_from_arrays](https://user-images.githubusercontent.com/42384805/129930798-c67ea346-8446-4d75-87c8-9feced07429d.png)

I am also getting the same error in the case of MultiIndex.from_arrays as seen in the above snippet but unexpectedly I am getting a similar error for MultiIndex.from_product as could be seen in the below snippets.

![MultiIndex_from_product](https://user-images.githubus

[2021-08-18 16:34] mwouts commented on #33759
Hi @trevorkask , @TomAugspurger , thanks for having a look at this.

Well I understand that the issue is with pytables (and personally I am not affected any more as I serialize to other file types now), but still, I'd be curious to know why empty pandas indices have an object dtype?

[2021-08-18 16:35] TomAugspurger commented on #33759
I'm not sure if there's a particular reason, it's just the default we use for everything (including columns) when we don't have any additional information. It's not likely to change.

[2021-08-18 16:39] mwouts commented on #33759
I see! Thanks

[2021-08-18 16:54] Kavya9986 commented on #39158
Hi !
I am new to the open source contribution community .
Can I take this issue ?

[2021-08-18 17:00] MarcoGorelli commented on #39158
go ahead

[2021-08-18 17:04] phofl commented on #43096
Hi, thanks for the report.

This is a duplicate of #28243

[2021-08-18 17:04] #43096 closed

[2021-08-18 17:19] jbrockmendel commented on #43020
PR to address this would be welcome

[2021-08-18 17:22] #38017 closed

[2021-08-18 17:29] Dinkarkumar commented on #42624
Can I work on this issue ?

[2021-08-18 17:44] stephan-hesselmann-by commented on #42624
The numeric values would be parsed as number of units (defined by unit) since this reference date.

At least to me this does not clarify if the reference date itself should be parsed as number of units as well. Especially with Unix time this would not really make sense, because Unix time is per definition always in seconds.

[2021-08-18 17:53] Kavya9986 commented on #39158
Just wanted to know if this issue still persists ? Because I think it is already fixed in #39159 .
Am I supposed to find such warning messages in the source code and fix them?

[2021-08-18 18:04] MarcoGorelli commented on #39158
https://github.com/pandas-dev/pandas/pull/39159 wasn't merged, so it looks like this is still open

[2021-08-18 18:12] Kavya9986 commented on #39158
Okay ! Will try fixing this

[2021-08-18 18:17] attack68 commented on #43085
Yes looks correct. Thanks @debnathshoham

[2021-08-18 18:17] #43085 closed

[2021-08-18 18:23] attack68 commented on #43048
As has been commented here there are likely many places this pattern is present in the code and needs addressing.
The best PRs will be to work on a single file and correct all the offending occurrences within that file. There may be only one item to address or several.
After the PR is approved and merged, we will note it down here as having been addressed.
My example above shows how to do this for

[2021-08-18 18:30] dhivyadharshin commented on #43048
Will do, thanks!

On Wed, 18 Aug 2021, 11:53 pm attack68, ***@***.***> wrote:

[2021-08-18 19:47] twoertwein commented on #43088
As far as I understand, it is possible for users to interact with `.book` in any way they like to (even overwriting it) unless the file is opened in append mode. If the Excel file is opened in append mode, users should not overwrite `.book` https://github.com/pandas-dev/pandas/issues/39576#issuecomment-882918931 but I think it would still be fine to call all/most(?) methods on `.book`.

[2021-08-18 20:00] deepanshu-Raj commented on #43080
@tscheburaschka Something that i observed is :

`
pd.Series(df['pure_datetime'],dtype=pd.CategoricalDtype())
`
**Used here :**
`df['categorical_datetime'] = df['pure_datetime'].astype(pd.CategoricalDtype())`
yields output column (**categorical_datetime**) with original indexing i.e. [2, 4, 5, 6, 7, 8, 11, 14, 15],
hence, the mapping obtained fits in the DataFrame.

while,
`
pd.Series(df['pure_date

[2021-08-18 21:53] MrCreosote opened #43102 "BUG: IndexError when header rows have unequal column counts"
- [x] I have checked that this issue has not already been reported.

I couldn't find it with a search on `indexerror read_csv` anyway

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2021-08-18 21:59] MrCreosote commented on #43102
Here's the entire stacktrace:

<details>

[code]

</details>

[2021-08-18 23:02] trevorkask commented on #37441
take

[2021-08-18 23:46] lithomas1 commented on #43084
Contributions very welcome for this.

[2021-08-19 00:03] lithomas1 commented on #42076
Yep, this didn't work. Looking into it rn.

[2021-08-19 00:09] dicristina commented on #40145
This still occurs in master.  Using `datetime` or a subclass will work as expected but using a string which corresponds to an equal or higher resolution than the index will take us here:

https://github.com/pandas-dev/pandas/blob/98c0c63fb9ebe2e71ad517dcd5c90acc677890a9/pandas/core/indexes/period.py#L429-L439

The case in which the resolutions are equal is handled by recursing but when the string

[2021-08-19 00:51] mroeschke commented on #43093
Since the `Grouper` call is equivalent to a `resample`, it's documented behavior in that docstring https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

As for why, it's probably because these frequencies are anchored at the end of the interval by default https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects and this behavio

[2021-08-19 00:51] #43093 closed

[2021-08-19 01:15] mroeschke commented on #40038
This proposal would sound like an API change, and one that would break a lot of people's code since this has been the behavior for a while. The current behavior, as documented, is more forgiving IMO since it warns and assumes the most forgiving data type `object`. There is also a `dtype` keyword to perform the converting as well.

Thanks for the suggestion, but closing as this behavior is document

[2021-08-19 01:15] #40038 closed

[2021-08-19 01:28] mroeschke commented on #40093
Looks like on master this doesn't run twice now

[code]

I believed this was fixed recently as apply use to have a fall back path which would make this run twice. This should either be fixed in 1.3 or the next release of pandas. Closing.

[2021-08-19 01:28] #40093 closed

[2021-08-19 01:29] mroeschke commented on #40099
Going to close as I believe this is the expected behavior, but happy to reopen if I am missing something.

[2021-08-19 01:29] #40099 closed

[2021-08-19 01:36] mroeschke commented on #40146
Since this issue doesn't seem to be actionable, closing but can reopen if I misunderstood

[2021-08-19 01:36] #40146 closed

[2021-08-19 01:37] xuancong84 commented on #43093
Well, my justification is still valid, just that the convention has been adopted long time ago and many software have already been developed based on this wrong convention. Thus, it is too late to change now, or will break too many things. It can only be changed when the current Pandas library gets abandoned and a new replacement library has been developed.

[2021-08-19 01:45] mroeschke commented on #40263
@jbrockmendel did https://github.com/pandas-dev/pandas/pull/42992 close this?

[2021-08-19 01:53] mroeschke commented on #40315
I think this is the expected behavior as bankers rounding was implemented for rounding timestamp:

https://github.com/pandas-dev/pandas/blob/25488377fcd77fbd489602d0a905d856aa6cec53/pandas/_libs/tslibs/fields.pyx#L654-L685

[2021-08-19 02:01] #43017 closed

[2021-08-19 02:02] mroeschke commented on #40415
Thanks for the report. Unfortunately we make no guarantees with supporting `pydoc` as pandas uses sphinx and the numpy doc standard, and from your investigation it may be a CPython limitation. Since I don't think there is much to do on the pandas side, closing

[2021-08-19 02:02] #40415 closed

[2021-08-19 02:32] mroeschke commented on #40435
Thanks for the report. As you mentioned "the timezone was essentially the same", but  there is a risk that different timezone objects have different definitions which is mentioned in the docs https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#working-with-time-zones

Because of this, pandas airs on the side of caution and doesn't not assume these timezones are equivalent (exce

[2021-08-19 02:32] #40435 closed

[2021-08-19 02:36] mroeschke commented on #40469
Closing as it appears that this is a openpyxl issue

[2021-08-19 02:36] #40469 closed

[2021-08-19 02:47] mroeschke commented on #40522
Thanks for the report, but overall, in addition to what other's have mentioned, you have the liberty to modify syntax and roll functionality as far as the Python language will allow you. It may be better to also get advice from Stack Overflow as well with API design. Closing, and I don't see this being actionable toward the pandas library end.

[2021-08-19 02:47] #40522 closed

[2021-08-19 02:56] mroeschke commented on #40611
Sounds like this issues is relatively resolved in 1.3 at least so closing. Happy to reopen if that didn't fix things.

[2021-08-19 02:56] #40611 closed

[2021-08-19 03:02] mroeschke commented on #40661
This doesn't seem to raise on master. Maybe could use a test

[code]

[2021-08-19 03:35] mroeschke commented on #40692
Thanks for the suggestion, but as others have mentioned, it appears a function like this is best suited for the user to implement and for pandas not to have an opinion on what `optimal` is. Closing.

[2021-08-19 03:35] #40692 closed

[2021-08-19 03:46] mroeschke commented on #40721
Thanks for the report, but as presented it's very difficult to diagnose whether this is a pandas issue or not as the db flavor or underlying ORM (sqlalchemy, etc.) could also be at play here. Since it would be difficult for other maintainers to diagnose this performance issue, closing, but happy to reopen if you can pinpoint the issue to pandas specifically.

[2021-08-19 03:46] #40721 closed

[2021-08-19 03:55] mroeschke commented on #40751
Thanks for the suggestion, but agreed that `dropna` and `keepna` doesn't seem great at simultaneous arguments. Also for other `dropna` arguments, pandas doesn't have a precedent for really dropping rows and pandas is columnar. Since there hasn't been much support from other core devs, closing, but happy to reopen if there's renewed support from the team

[2021-08-19 03:55] #40751 closed

[2021-08-19 04:04] mroeschke commented on #40820
Thanks for the suggestion, but also from the review on a proposal PR https://github.com/pandas-dev/pandas/pull/41355#pullrequestreview-654681587, I think this behavior is best left for the user to decide manually what the result of empty concatenation should be. Closing.

[2021-08-19 04:04] #40820 closed

[2021-08-19 04:06] jbrockmendel commented on #40263
Only half of it

[2021-08-19 04:36] mroeschke commented on #40891
Thanks for the report, but as explained this is the expected behavior. Closing.

[2021-08-19 04:36] #40891 closed

[2021-08-19 05:42] Bhavay192 commented on #25399
hey @mroeschke, I would like to work on this issue please can u help me with that. Thanks

[2021-08-19 10:22] aricooperdavis commented on #29382
Just an observation: your solution using `.apply()` takes far longer than the built in `.sum()` 🤷‍♂️

[2021-08-19 11:42] #40531 closed

[2021-08-19 12:09] RohanTrix commented on #43048
take

[2021-08-19 12:10] RohanTrix commented on #43048
@attack68 I have assigned myself to work on this issue, should I move forward with it?

[2021-08-19 12:20] simonjayhawkins commented on #43091
Thanks @jgmarcel for the report.

first bad commit: [545a942424a26c4163e1f959ac6130984fc3fb41] BUG: Index([date]).astype("category").astype(object) roundtrip (#38552)

I'll mark as a regression for now pending further investigation.

Note that the `set_index` followed by a `reset_index` still creates a `datetime64[ns]` column from the original `object` column of date objects.

cc @jbrockmendel

[2021-08-19 12:48] dhivyadharshin commented on #43048
Yes, go ahead.

On Thu, 19 Aug 2021, 5:41 pm Rohan Sirohia, ***@***.***>
wrote:

[2021-08-19 13:37] debnathshoham commented on #42971
this has too many moving parts, and seems like a lot of dependent tests.
I will unassign myself.

[2021-08-19 14:43] attack68 commented on #43048
Anyone is welcome to work on this issue. This will not be solved by just one PR, there are likely many places and many files where the same work needs to be done. Therefore many people can work on this, simultaneously.

[2021-08-19 14:48] Bhavay192 commented on #32414
hey @mroeschke , Could you please tell on which cases should we really test it on?

[2021-08-19 15:16] Dr-Irv opened #43108 "BUG: Regression from 1.2.5 to 1.3.x: groupby using sum on DataFrame containing lists fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Version 1.3.2:

[code]

Version 1.2.5:
[code]
#### Problem description

With 1.2.5 and earlier, if the elements of one of the c

[2021-08-19 15:28] simonjayhawkins commented on #43108
looks similar to #42395. change in behavior reported for non-numeric column

[2021-08-19 15:41] kuspia commented on #38690
I would like to do this can you please guide me how can I and what are files that are supposed to be changed and added

[2021-08-19 15:52] mroeschke commented on #25399
@Bhavay192 you can view our contributing guide here https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#contributing-your-changes-to-pandas

[2021-08-19 15:53] mroeschke commented on #32414
@Bhavay192 This entire code snippet should be tested

[2021-08-19 15:55] Bhavay192 commented on #25399
Hey @mroeschke, thanks for replying could you please tell me what tests needs to be performed??

[2021-08-19 15:57] Bhavay192 commented on #32414
Hey @mroeschke , thanks for replying. Soo according to you I should take different values of numpy arrays and test it on that??

[2021-08-19 15:58] batterseapower opened #43109 "BUG: cannot unstack MultiIndex that contains duplicates"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas. (1.3.1)
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

This succeeds:
[code]

But this fails ("cannot reindex from a duplicate axis"):
[code]

If you remove the duplicate entry

[2021-08-19 16:03] xuancong84 commented on #15303
It is so surprising that this ticket has been opened in 2017 and has not been fixed in 4 years. It is very obvious that this is due to incompetent programming nature when it comes to grouping dates into different buckets. As I mentioned in #43093, the internal logic inconsistency of Pandas will only make these kinds of defects harder to rectify.

If grouping by years or months cannot be done easil

[2021-08-19 16:10] mroeschke commented on #25399
A unit test needs to be written for the code above following this guide: https://pandas.pydata.org/pandas-docs/stable/development/contributing_codebase.html#writing-tests

[2021-08-19 16:10] mroeschke commented on #32414
The exact code snippet above should be written as a unit test and added to the testing suite: https://pandas.pydata.org/pandas-docs/stable/development/contributing_codebase.html#writing-tests

[2021-08-19 16:17] jreback commented on #15303
@xuancong84

statements like this

constructive criticisim and patches are welcome.

[2021-08-19 16:40] matthew-brett commented on #36195
Please forgive my lack of understanding, but how does the Error-on-Write proposal here differ from the current behavior after:

[code]
?  I mean, apart from the proposal to add the extra `copy_if_needed` and `as_mutable_view` methods?

[2021-08-19 17:13] matthew-brett commented on #36195
And - rreflecting on my fairly heavy use of Numpy for about 15 years - I rarely depend on having a view onto the array, outside the direct indexing caes like `a[:10] = 1`.   I'm sure I would be happy to have the option to do that in Pandas, and sometimes using `as_mutable_view`, but, speaking as a heavy Numpy user, Copy-on-Write in Pandas would make my teaching and working life a lot easier.

[2021-08-19 17:31] MarcoGorelli commented on #15303
@xuancong84 it's not the first time you make such comments:

https://github.com/pandas-dev/pandas/issues/32263#issue-571183062

https://github.com/pandas-dev/pandas/issues/33202

So, please take the above as a final warning - thanks

[2021-08-19 17:51] jbrockmendel commented on #40932
Not a hard requirement, no.

Is your use case about the nullability or the non-nano part of the proposal here?  Do you need timezone-awareness?  If not, PeriodDtype should do what you need.

[2021-08-19 17:59] quantumalaviya commented on #43102
So, just to confirm: an exception needs to be thrown if the length of the row (`r`) is not equal to the value of `field_count` inside the `extract` function, like so:

[code]

This makes changes the stack trace to:
[code]

If someone can guide me as to which exception I should raise and if there's anything else that needs to be added, I would love to work on this issue.

[2021-08-19 18:24] jbrockmendel opened #43113 "TYP: annotate matching dtypes"
e.g. in `Index._get_fill_indexer` we can work out that `target.dtype` should match `self.dtype`.  It would be nice if we could get that into the annotation.  cc @simonjayhawkins

[code]

[2021-08-19 18:57] kurchi1205 commented on #39443
Hi ,
I want to contribute first time to an Open Source Project . I want to contribute in this issue . I think the test cases are not yet ready for this . Can I start working on it ?

[2021-08-19 19:03] MrCreosote commented on #43102
It'd be good if the exception could provide information regarding the header row on which the error occured

[2021-08-19 20:03] phofl commented on #43102
@quantumalaviya
You could do this before the extract, simply validating if all lists in header have the same length.

``ParserError`` would be good here.

[2021-08-19 20:03] simonjayhawkins commented on #42915
Thanks @Xnot  for the report

1.2.5 gives the same result as 1.0.5

first bad commit: [b2671ccf4e5f21c48ffae4a17340692d4db53149] PERF: Rolling/Expanding.cov/corr (#39591)

cc @mroeschke

[2021-08-19 20:16] phofl commented on #43018
Not sure, but the reindex case looks fishy. But this sits really deep, since maybe_promote between float (nan) and bool casts to object

[2021-08-19 20:50] quantumalaviya commented on #43102
@phofl Something like this?

[code]

[2021-08-19 20:50] quantumalaviya commented on #43102
@MrCreosote How would you suggest dealing with it in cases where there is more than one discrepancy? For example, if 3 rows are chosen to be headers and all have different values?

[2021-08-19 20:57] MrCreosote commented on #43102
Personally I'd probably just throw an error for the first discrepancy found, top to bottom, and ignore the others, but I'm a brand new Pandas user and not a dev, so the weight of my opinion is pretty low.

[2021-08-19 20:59] MrCreosote commented on #43102
Although I would definitely want the row index of the first offending row

[2021-08-19 21:00] jbrockmendel commented on #43022
could we check for `is_list_like` more generally?  a check for DataFrame would entail a pretty big performance hit

[2021-08-19 21:05] jbrockmendel commented on #41112
Thanks for finding the example.  So if you made the changes discussed on the call, which of the behaviors in that example would change?

[2021-08-19 21:16] jbrockmendel commented on #42549
When I change the check from `hasattr(obj, "__iter__")` to `PySequence_Check(obj)` we fail to identify `zip` objects as listlike.  We could make the check `hasattr(obj, "__iter__") or PySequence_Check(obj)`.  I don't know enough about PySequence_Check to be confident it won't produce false-positives.  @erik-hasse any idea?

[2021-08-19 21:41] #13657 closed

[2021-08-19 21:53] Dr-Irv commented on #40680
There is a PR #43036 that was just submitted that I need to review.  Once that is done, I will update the list above with the open items.

[2021-08-19 22:54] jorisvandenbossche commented on #36195
@matthew-brett thanks for the feedback!

For writing to subsets, it might not differ that much in general (there are some cases where we currently don't warn when writing to a view or copy, but that could be changed). But for the current mode to raise on chained assignment, it doesn't work the other way around. Say you have a DataFrame `df` and create a subset of it `subset = df[:5]`. Modifying `s

[2021-08-20 01:11] xuancong84 commented on #15303
I do apologize that maybe my comments are a bit harsh for you guys. But why do I only make these kind of comments in your repo, not everyone else's repo? I hope you can focus more of your energy in solving the bug rather than solving the people who complain about your bug.

I will make no further harsh comments on Pandas repo in the future but on this issue, may I know which part of the source cod

[2021-08-20 01:42] rhshadrach commented on #41112
This got a bit long, so I'll just say first that the short version is that I think the desired behavior of agg is pretty clear, but apply isn't. I'm working on a PoC but it probably won't be ready for some time. The long version is...

I don't think any of these should change. The problem is mostly with list-likes.

[code]

gives

[code]

which is inconsistent with the example above. This is becau

[2021-08-20 02:09] mroeschke commented on #40997
Thanks for the report. As mentioned, this appears to be a gcc issue and not a pandas issue so closing. Happy to reopen if this circles back to a pandas issue

[2021-08-20 02:09] #40997 closed

[2021-08-20 02:14] mroeschke commented on #41038
Thanks for the suggestion, but it appears this enhancement request hasn't gotten support from the core team so it's unlikely that pandas will proceed with this feature so closing. Happy to reopen if there is revived support from other core team members

[2021-08-20 02:14] #41038 closed

[2021-08-20 02:24] mroeschke commented on #41080
Agreed, I have personally never heard of this file format, but I believe with a variable format specification is best for a specialized library to handle parsing such that pandas can import a structured result. Closing since this enhancement request hasn't gotten much support from the core team and community .

[2021-08-20 02:24] #41080 closed

[2021-08-20 02:28] mroeschke commented on #41094
Agreed that I don't think this warrants a whole API functionality since the workaround is idiomatic. Thanks for the suggestion but closing since this hasn't gotten much support from the team, but happy to reopen if there is revived interest

[2021-08-20 02:28] #41094 closed

[2021-08-20 02:33] mroeschke commented on #41134
Yes this is expected as explained above and I don't think `tolist` is in scope for `PandasArray` therefore closing

[2021-08-20 02:33] #41134 closed

[2021-08-20 02:36] mroeschke commented on #41174
I'm getting a more useful result on master now that could use tests to nail this behavior down

[code]

[2021-08-20 02:39] mroeschke commented on #41183
Looks like the team need more information from this report to proceed, so closing in the meantime. Happy to reopen if we can get a more copy/pasteable example

[2021-08-20 02:39] #41183 closed

[2021-08-20 02:40] mroeschke commented on #41206
Thanks for the report, but it doesn't appear this is a pandas issue from the report so closing.

[2021-08-20 02:40] #41206 closed

[2021-08-20 02:42] mroeschke commented on #41213
Thanks for the report, but from the sporadic success of installation it doesn't appear that this is a pandas specific issue so closing. Happy to reopen if you could pinpoint this problem to pandas.

[2021-08-20 02:42] #41213 closed

[2021-08-20 02:50] mroeschke commented on #41290
Thanks for the suggestion but it appears this enhancement request hasn't gotten much support from the team and the proposed workaround seems reasonable for this use case so closing. Happy to reopen if there is renewed interest from the team.

[2021-08-20 02:50] #41290 closed

[2021-08-20 02:54] mroeschke commented on #41350
Thanks for the suggestion but this enhancement request need a little more scoping to be actionable for feedback from the team so closing. Happy to reopen when we have an API proposal and background regarding performance.

[2021-08-20 02:54] #41350 closed

[2021-08-20 03:00] mroeschke commented on #41415
Closing since the expected behavior has been explained.

[2021-08-20 03:00] #41415 closed

[2021-08-20 03:02] mroeschke commented on #41416
Thanks for the report. While this does point to suspicious behavior, it would be great to have a small reproducible example of the discrepancy so we could ultimately see the difference and have a unit test as well. Closing, but happy to reopen once we can get that information.

[2021-08-20 03:02] #41416 closed

[2021-08-20 05:04] pratyushsharan commented on #43022
Indeed that's a better solution, adding this solves the issue:
[code]
Should this require any tests?

[2021-08-20 05:08] mroeschke commented on #41459
Thanks for the report, but as mentioned this behavior was specifically deprecated as pandas is aligning with standard library behavior. Closing as the expected behavior.

[2021-08-20 05:08] #41459 closed

[2021-08-20 05:10] mroeschke commented on #41466
Thanks for the report, but agreed for arbitrary comparisons I think this would be no different that writing a custom function to determine equality. Closing since this enhancement request hasn't gotten support from the core team but happy to reopen if there's revived interest.

[2021-08-20 05:10] #41466 closed

[2021-08-20 05:19] mroeschke commented on #41467
Thanks for the report, but as mentioned we would need a minimal example without reading csv so we can have the simplest example to unit test against if there is a bug here. Closing, but happy to reopen if we receive a minimal example

[2021-08-20 05:19] #41467 closed

[2021-08-20 05:26] mroeschke commented on #41468
Thanks for the report. Since pandas no longer supports Python 2 and if there is truly a difference due to the Python versions, there would be no fix due to lack of Python 2 support. We recommend using the latest version on Python 3 if possible.

If you are able to spot a difference between more recent pandas version on Python 3, that would be a more valid investigation case since it would be a reg

[2021-08-20 05:26] #41468 closed

[2021-08-20 05:37] mroeschke commented on #41561
Thanks for the suggestion, but the provided work arounds are idiomatic in pandas, and I don't believe as well this necessitates an API expansion for convenience. Closing since this has not gotten much support from the team but happy to reopen if there is revived interest

[2021-08-20 05:37] #41561 closed

[2021-08-20 05:39] mroeschke commented on #41562
Thanks for the report, but as mentioned we would either need a minimal reproducible example if you are reporting a bug or for usage questions please consult stack overflow first. Closing.

[2021-08-20 05:39] #41562 closed

[2021-08-20 06:10] huonw opened #43119 "BUG: 'assign' on empty DataFrame with dtype=string column gives "ValueError: StringArray requires a sequence of strings or pandas.NA""
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-20 06:55] sriakshata commented on #38947
With Pandas 1.3.1, it works fine. I think the problem is only with the 1.2.0 version of pandas.  Apart from that is there any other problem? I might not have understood correctly, so please tell me if I am wrong. I am new to open source projects.
![Screenshot (316)](https://user-images.githubusercontent.com/48357078/130192777-5a706dcc-4484-40e1-a7d9-81ba6c05f9f1.png)

[2021-08-20 07:39] Bhavay192 commented on #32414
Hey @mroeschke, Since I'm quite new to open source and unit testing. Could you please help with in finding out what all test should I Perform on it??
I can take test of input values and what should be the expected output. Any other test that I can perform??

[2021-08-20 08:27] eemilhaa commented on #43119
Was able to reproduce this with the code snippets.

Here is my output of **pd.show_versions()**:

<details>

[code]

</details>

[2021-08-20 09:17] Bhavay192 commented on #32414
Hey @mroeschke, I have written a small unit test for the above script. Now how will you review it please tell. Shall I send a PR?? Also please tell in which package shall I add my test into??

[2021-08-20 09:36] quantumalaviya commented on #43102
Have a look at the PR and let me know if it's satisfactory.

The traceback now looks like this:
[code]

[2021-08-20 09:52] matthew-brett commented on #36195
@jorisvandenbossche - thanks for the clarification.  I was asking because I have used and taught `pd.set_option('mode.chained_assignment', 'raise')` - but I found that it was not uncommon for my students to run into errors that took some significant investigation to fix.   I bet you would get a fairly constant level of question and complaint with that option.

[2021-08-20 09:56] matthew-brett commented on #36195
I guess one major worry here would be that, with Copy-on-Write, Pandas 2.0 will silently return different answers from Pandas < 2.0.

Is there some way to harvest notebooks from Github, to see how often that would happen, in practice?  And in what proportion of cases the use of the < 2.0  behavior was actually a bug, where the user had not realized that:

* The assignment was going to a copy, and

[2021-08-20 10:05] liyuan1062 opened #43126 "QST: How to add option "-fstack-protector-all" when build lib_lightgbm.so?"
###

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

NA

### Question about pandas

linux env, how to build lib_lightgbm.so with "-fstack-protector-all" option?

[2021-08-20 10:17] MarcoGorelli commented on #43126
closing as this doesn't seem related to pandas

[2021-08-20 10:17] #43126 closed

[2021-08-20 10:34] ianozsvald opened #43128 "DOC: Inconsistent use of "column-wise" and "row-wise""
5 Pandas docstrings discuss the `axis` argument with one use of `row/column-wise`, 2 docstrings use an opposite meaning (and possibly more examples exist, I picked these up using Google & DuckDuckGo).

I believe the first 5 usages are in agreement with the Numpy usage.

Examples of `axis: Equals 0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise` (i.e. 0 is row-wise):
* https://pandas.pydat

[2021-08-20 12:38] alli1999 commented on #43048
Hello, could I help with this issue?
This would be my first ever contribution so I could use some guidance

[2021-08-20 13:26] behrenhoff opened #43132 "BUG: timeseries.groupby(...).transform('mean') wrong when aggregating over pd.NaT"
#### Code Sample, a copy-pastable example

The problem is best shown in the following example:

[code]

#### Problem description

When passing a function name by string to `transform`, pd.NaT is not handled correctly. This not only happens for 'mean' but also for other functions like 'sum'.

I don't know how transform is looking up the function if a string is passed (and it's not really documented

[2021-08-20 13:31] suyashgupta01 commented on #27772
Hello! Can I choose to work on this issue as my first open-source contribution?

[2021-08-20 13:50] #40989 closed

[2021-08-20 14:10] ryangilmour commented on #35888
Looks like this is actually the same issue as #39882 - which was subsequently fixed by #41006.

There are some tests in the fix in #41006, but my PR #43006 adds some more explicit tests for this issue. Hopefully they can now be merged.

[2021-08-20 14:17] sourabh112 commented on #43119
Can I try solving this issue( If it is not assigned to someone else )?
But as I'm quite new to this so I will need some guidance about where should I start.

[2021-08-20 15:47] mroeschke commented on #32414
You can follow this guide to submit a PR and maintainers can help provide further guidance: https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#contributing-your-changes-to-pandas

[2021-08-20 16:41] lithomas1 opened #43135 "REF: Unify creation of dataframe for C and Python parser engines"
We should unify the process of creating the dataframe from index,names,data for the C and Python engines. This should be done after the pyarrow engine is merged, and will help get rid of some code nested within an if statement. Ideally, we make a method on ParserBase, and call that in the C and Python engine read code so that read always returns a DataFrame now.

[2021-08-20 16:59] MrCreosote commented on #43102
Shouldn't the minimum mismatch number be 2, assuming I'm understanding this correctly? You need at least 2 rows to have  a mismatch

[2021-08-20 17:14] quantumalaviya commented on #43102
I made it 0-indexed.

[2021-08-20 17:22] MrCreosote commented on #43102
Hmm, that's not what I would expect for rows in a file, but *shrug*

[2021-08-20 17:28] phofl commented on #43135
We should unify the code base in general. A lot of code is duplicated in there

[2021-08-20 17:36] jreback commented on #43135
+1 all around here. good news is we have a gazillion tests so refactoring PRs should be straightforwrrd to review / merge.

[2021-08-20 17:51] debnathshoham opened #43139 "BUG: Exactly same if check multiple times"
Hi, I came across the below while working on another bug.

https://github.com/pandas-dev/pandas/blob/e8f359348a601f303e19dc33fc66f0b602efce50/pandas/core/groupby/groupby.py#L2445-L2450

[2021-08-20 18:03] phofl commented on #43139
This is not the same or am I missing something?

[2021-08-20 18:16] debnathshoham commented on #43139
My bad. Misread it.

[2021-08-20 18:16] #43139 closed

[2021-08-20 18:42] hepcat72 commented on #13262
Since I cannot set it to `False` and I cannot otherwise check for duplicated using `df.columns.duplicated()` on the dataframe returned by `read_excel`, how do I raise an exception when a duplicate is found - because it definitely causes a problem with other code - and the user needs to rectify it.

[2021-08-20 18:51] sterlinm commented on #40932
We are interested in both the nullability and the non-nano part of the proposal. We don't need timezone-awareness and will probably explicitly avoid any timezone-aware Timestamps.

Performance is another big motivator. Comparisons of scalar timestamps outperform pretty much all of the alternatives I've looked at with the exception of `datetime.datetime`.

[code]

[2021-08-20 20:06] mattharrison opened #43140 "pd.to_datetime returning string result (even with errors='raise')"
Hello,
I've got a dataset and I can convert to naive time just fine, but I would like to include timezone information.

INSTALLED VERSIONS
------------------
commit           : 5f648bf1706dd75a9ca0d29f26eadfbb595fe52b
python           : 3.8.5.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.19.128-microsoft-standard
Version          : #1 SMP Tue Jun 23 12:58:10 UTC 2020

[2021-08-20 20:20] Joeperdefloep commented on #43088
Yes, in fact I quite like working with `.book` It is like working with Openpyxl with some power functions written by Pandas. Fumbling around with the code I did not see a clear reason why "none of the methods are considered public" It seems that the code is quite mature already and the structure is there. As @Liam3851 says, there is already even documentation on how to (mis)use that.
The main prob

[2021-08-20 20:27] mattharrison commented on #43128
On a semi-related note (since this isn't the `axis` parameter), the behavior of the `normalize` parameter for `pd.crosstab` also accepts `'columns'` or `'index'`. When you pass `'columns'`, it doesn't normalize across the columns, but down each one. I understand the behavior, but it seems inconsistent. 🤷‍♀️😢

[2021-08-20 21:08] henryiii opened #43141 "ENH: use oldest-supported-numpy in pyproject.toml"
#### Is your feature request related to a problem?

Currently using Pandas on Python 3.10 RC 1 gets the wrong version of numpy (1.19) and builds the wheel manually, instead of getting the first wheel for NumPy + Python 3.10 (1.21).

#### Describe the solution you'd like

This problem has already been solved by https://github.com/scipy/oldest-supported-numpy/blob/master/setup.cfg - by using SciPy (

[2021-08-20 21:43] jreback commented on #43141
we already do this - i suppose it needs updating for 3.10

[2021-08-20 21:57] Lokeshrathi commented on #43140
Can you elaborate on the result that you want?
Also, after pd.to_datetime() try using df['datetime'].dt.date

[2021-08-20 22:05] mattharrison commented on #43140
@Lokeshrathi, the result I want is a timezone aware series that completes in a reasonable amount of time.

Option 1 takes way too long (while naive parsing takes a few seconds).
Option 2 fails.
Option 3 returns a series with a object type, there is no `.dt` attribute.

[2021-08-20 22:54] MrCreosote opened #43143 "BUG: read_excel throws generic IndexError if header argument specifies non-existent rows"
- [x] I have checked that this issue has not already been reported.

It doesn't seem to be based on a search for read_excel and indexerror

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-repo

[2021-08-20 22:57] MrCreosote commented on #43143
Full stacktrace:

<details>

[code]

</details>

[2021-08-20 23:04] jreback commented on #43140
am -1 on adding this type of compound parsing (as this deals with timezones, we already have quite complicated parsing logic just for fixed timeszones). its not worth it adding huge complexity for this. Instead simply do this: https://stackoverflow.com/questions/47822265/efficiently-convert-timezones-in-pandas-dataframe

which is quite efficient (you parse the naive timezones) and convert based on

[2021-08-20 23:12] TomAugspurger commented on #43141
I think the proposal is to replace https://github.com/pandas-dev/pandas/blob/5410fb79946c11c0754e8f5679e61b41066a15f7/pyproject.toml#L8-L19 with just `"oldest-supported-numpy"`, which will keep things up to date for us. That sounds great to me.

[2021-08-21 00:11] lithomas1 commented on #43141
Duplicate of #40307.

[2021-08-21 00:11] #43141 closed

[2021-08-21 01:36] mroeschke commented on #41633
Thanks for the report. For questions like this we recommend using stack overflow first. If you suspect this is a bug, we recommend filling out the bug report template. Closing

[2021-08-21 01:36] #41633 closed

[2021-08-21 01:38] mroeschke commented on #41646
Thanks for the report, this overlaps with the enhancement request in https://github.com/pandas-dev/pandas/issues/12993 so closing in favor of that issue

[2021-08-21 01:38] #41646 closed

[2021-08-21 01:42] mroeschke commented on #41671
Thanks for the report, but if you are proposing this is a bug we please ask you to provide need a minimal reproducible example by filling in the bug report issue template. Closing, but the team would be happy to follow up in a bug report.

[2021-08-21 01:42] #41671 closed

[2021-08-21 01:46] mroeschke commented on #41679
Thanks for the report, but please let us know if you get the same issue with numpy version 1.2 or 1.17 so we can determine if this is a pandas or numpy issue. Closing but happy to reopen when we get that comparison

[2021-08-21 01:46] #41679 closed

[2021-08-21 01:54] mroeschke commented on #41725
I don't think we've seen these conda connection errors in a while, but as mentioned it may just be an issue on the conda side we have to wait out. Closing since it doesn't seem actionable but happy to reopen if I misunderstood.

[2021-08-21 01:54] #41725 closed

[2021-08-21 02:01] mroeschke commented on #41759
Thanks for the report, but agreed I would be -1 due the unexpected behavior as well and best if an external extension array could contain the logic to support this case. Closing since this enhancement request hasn't gotten support from the core team, but happy to reopen if there is revived interest

[2021-08-21 02:01] #41759 closed

[2021-08-21 02:03] mroeschke commented on #41782
Please let us know if you are able to give more detail regarding your env set up, otherwise this issue isn't very actionable to the team. Closing in the meantime.

[2021-08-21 02:03] #41782 closed

[2021-08-21 02:11] mroeschke commented on #41819
Thanks for the report, but it appears that the behavior is expected. Closing.

[2021-08-21 02:11] #41819 closed

[2021-08-21 02:13] henryiii commented on #43141
I searched for the string `oldest-supported-numpy` before opening and didn't see anything, guess because it was in a link?

Yes, it was.

That was the point (and this is something in this issue not in the issue from 6 months ago), the current list needs updating, but instead of continually updating it, it's better to just take `oldest-supported-numpy`.

[2021-08-21 02:15] mroeschke commented on #41834
Thanks for the report, but as mentioned I think this is ultimately a pytz issue (we also have a note in our timezone docs that tz libraries may have different timezone definitions). Since this an upstream issue, I'm unsure if there's a pandas specific fix here, but happy to reopen if there is.

[2021-08-21 02:15] #41834 closed

[2021-08-21 02:19] mroeschke commented on #41838
Thanks for the suggestion but as mentioned the team would prefer to have fsspec handle this instead of IO specific code to be handled in pandas. Closing.

[2021-08-21 02:19] #41838 closed

[2021-08-21 02:26] #41947 closed

[2021-08-21 02:35] mroeschke commented on #42064
Thanks for the report, but since this is an implementation detail related to our algorithm (and it's been documented). I think this issue can be closed.

[2021-08-21 02:35] #42064 closed

[2021-08-21 02:40] mroeschke commented on #42127
Thanks for the report. Please let us know if you are still experience issues with 1.3 and we can reopen

[2021-08-21 02:40] #42127 closed

[2021-08-21 02:47] mroeschke commented on #42212
I think we can loop in the `right=True|False` for `include_lowest` in the same issue #23164 so closing if favor of continuing discussion there

[2021-08-21 02:47] #42212 closed

[2021-08-21 04:02] mroeschke commented on #42295
This looks consistent on master now. Could use a test

[code]

[2021-08-21 04:16] mroeschke commented on #42450
Since this seems covered by the docs, I don't think there's anything left for this issue so closing

[2021-08-21 04:16] #42450 closed

[2021-08-21 04:21] maximilianaccardo commented on #42295
take

[2021-08-21 06:03] kurchi1205 commented on #43143
I am new to OpenSource Projects . Can I work on this bug ?

[2021-08-21 06:39] cckang commented on #38947
i am new to open source also. Learning how to controubute :)

[2021-08-21 06:44] kurchi1205 commented on #43108
I am new to OpenSource Projects . Can I work on this issue?

[2021-08-21 10:39] realGhostFoxx commented on #25011
hero! hero! hero!

[2021-08-21 11:07] HardevKhandhar commented on #43048
Hi @jreback & @attack68
I have linked a PR relating to changes done in one of the files. Thank you.

[2021-08-21 11:16] attack68 commented on #43143
@kurchi1205 this hasn't been triaged. You are better looking at any existing issues marked "good first issue" and "contributions welcome"

[2021-08-21 11:45] Varun270 commented on #28724
Hey, Is this issue still open? I am a newbie to Open Source and want to contribute.

[2021-08-21 12:53] rickspark4 commented on #43008
what do you mean by nested series?

[2021-08-21 12:54] rickspark4 commented on #43008
btw I am new to open source😅😅

[2021-08-21 12:54] rickspark4 commented on #43008
btw I am new to open source😅😅

[2021-08-21 13:38] Varun270 commented on #28724
take

[2021-08-21 14:20] debnathshoham commented on #42784
Hi @aneesh98, just wanted to check if you are working on this?
Otherwise I would like to pick this up.

[2021-08-21 14:48] Komal7209 commented on #39859
@afeld  As its still mentioned that this issue is still opened, so I want to take up this issue and do as per you could suggest more. I want to contribute for this, do let me know where exact I could find the code base folder where I could add this

[2021-08-21 14:57] aneesh98 commented on #42784
Hi @debnathshoham, I am actually still working on it.

[2021-08-21 15:09] mrocklin opened #43155 "Dask shuffle performance help"
Hi Folks,

I'm experimenting with a new shuffle algorithm for Dask dataframe.  This is what backs distributed versions of join, set_index, groupby-apply, or anything that requires the large movement of rows around a distributed dataframe.

Things are coming along well, but I'm running into a performance challenge with pandas and I would like to solicit feedback here before diving more deeply.  If

[2021-08-21 15:13] debnathshoham commented on #42784
Great!
To answer the questions above:
1. Correct
2. Merge can happen using `on`, `left_on` & `right_on`, `right_index` & `left_index`, `left_index` & `right_on` and `right_index` & `left_on`. If none of these are provided, it tries `on` the common columns.
3. AFAIU semi join should only returns rows from `left` that has matching rows in `right`. It won't add columns from `right`.

Hope that helps.

[2021-08-21 15:20] mrocklin opened #43156 "Memory stays around after pickle cycle"
Hi Folks,

Related to #43155 I'm running into memory issues when pickling many small pandas dataframes.  The following script creates a pandas dataframe, splits it up, and then pickles each little split and brings them back again.  It then deletes all objects from memory but something is still sticking around.  Here is the script, followed by the outputs of using `memory_profiler`

[code]

[code]

[2021-08-21 17:42] ChiQiao commented on #43008
For the example above, `inner_foo` is a `Series` nested in `foo` (which is also a `Series`).

[2021-08-21 18:02] aneesh98 commented on #42784
Hi @debnathshoham. Thank you so much for reply.
Can you please confirm if this approach is correct then?
1) If 'on' is None and join is to be done on index-to-index, then find out the rows present in the left dataframe which have matching index values in the right dataframe
2) If 'on' is provided, then perform an inner join based on the values provided in 'on', discard the columns from right dataf

[2021-08-21 18:20] debnathshoham commented on #42784
Yes, actually you have just considered 2 cases from  the 5 I mentioned (you will get a clear picture, if you play around with all these existing merging procedures).

The idea is really simple, in `leftsemi`, check for the keys in `left` (can be either index(s) or column(s)) `isin` the keys in the `right` (again, could be either index(s) or column(s)). And return those keys from `left`.

You can c

[2021-08-21 18:23] Varun270 commented on #28724
@LauraCollard I am unable to locate the folders in order to fix this issue, Can you please tell me how many of them are fixed and which ones require fixing. Maybe using checkboxes will be more efficient and easy to understand.

[2021-08-21 19:13] mroeschke commented on #42629
Thanks for the report so far, but as mentioned we would need a more minimal example (without a file input ideally since the claimed bug is in `pivot_table`) in order for the team to create a simple unit test based on the bug if there is one https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Since this report needs more paring down before action can be taken closing for now, but h

[2021-08-21 19:13] #42629 closed

[2021-08-21 20:16] mroeschke commented on #42779
Could you post a more minimal example? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-08-21 20:22] mroeschke commented on #42805
Agreed, I think the error message is fairly clear about the out of bounds timedelta. Closing.

[2021-08-21 20:22] #42805 closed

[2021-08-21 20:26] jbrockmendel commented on #43108
The default for DataFrameGroupBy.sum's numeric_only is True according to the docstring (in the code it is lib.no_default for code-sharing).  Failing to exclude non-numeric columns was a bug pre-1.3

[2021-08-21 20:35] mroeschke commented on #42891
Closing as a duplicate of #4094

[2021-08-21 20:35] #42891 closed

[2021-08-21 20:47] mroeschke commented on #42965
Generally pandas objects are not threadsafe: https://pandas.pydata.org/docs/user_guide/gotchas.html#thread-safety

If you are able to utilize and of the ops with the numba engine you can access parallelism that way as well: https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#pandas-numba-engine

But it is not likely that native parallelism will be added to pandas, possible o

[2021-08-21 20:47] #42965 closed

[2021-08-21 20:51] mroeschke commented on #43000
I would be -1 on this feature pandas as this already parallels `query/eval` and there are already a lot of methods to select and manipulate data.

[2021-08-21 20:58] mroeschke commented on #43014
Thanks for the report. This behavior has been the behavior and documented for quite some time, so changing this behavior would be a huge breaking change to the library. https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#series-is-dict-like

Closing as this has been the documented behavior for a while.

[2021-08-21 21:44] calvh commented on #42332
take

[2021-08-21 22:41] mattharrison commented on #43140
Thanks @jreback for your reply!
Sadly, that fails for me as well! (Although it runs much quicker):

[code]

Any comment why option 2 fails? Why doesn't `%Z` work? Also, is option 3 a bug? Should it raise an exception?

Thanks again for your link to SO! 👍🙏

[2021-08-21 23:26] mattharrison commented on #43140
Odd, if I just use the timezone name `'US/Mountain'` (with the `ambiguous` setting), it appears to work. And is quick (147ms).

[code]

Not sure why the different timezone strings work/fail. 😣🤯

[2021-08-22 03:19] tbrodbeck commented on #43014
I think you understood me wrong: Try this code, for a dictionary the operators are consistent:
[code]
The problem is a series is also like a list in some cases. For example when it is type casted into a list.

Better change it now then later ;) Maybe you could put this to the next major update?

[2021-08-22 04:11] mroeschke commented on #43014
A `Series` doesn't subclass `dict`, so it doesn't necessarily implement all the behaviors of a `dict` ("dict-like")

I'll re-open this issue up as an API change which would require deprecating this existing behavior. It would need buy in from the other core team member before moving forward with the deprecation.

[2021-08-22 04:14] jreback commented on #43014
single element membership is an antipattern
-1 on changing this which may we'll be impossible - what would u deprecate

[2021-08-22 04:33] mroeschke commented on #43074
As mentioned, without specifying `dtypes`, `low_memory` is the way to go here as `read_csv` was designed to be as lenient as possible to ingest csv data. This has been a longstanding behavior of `read_csv` that is unlikely to change. Thanks for the report, but since this behavior is documented closing as a usage question

[2021-08-22 04:33] #43074 closed

[2021-08-22 04:45] mroeschke commented on #43140
Thanks for the suggestion, but I would also be -1 on the compound parsing as well, and it appear the work around solution is idiomatic in pandas. Since it's unclear whether this is issue is actionable on the pandas library, closing. Feel free to open a separate issue (with a minimal reproducible example) if you suspect there is a bug somewhere.

[2021-08-22 04:54] Sheogorath27 commented on #42424
take

[2021-08-22 04:57] jbrockmendel commented on #40932
side-note: a PR that changed `Period.__richcmp__` checking for freq equality from `self.freq != other.freq` to `self.freq._period_dtype_code != other.freq._period_dtype_code` would likely improve the performance there quite a bit

[2021-08-22 05:27] kurchi1205 commented on #43108
Yeah I got that , I am working on the case when the dataframe has no numeric feature , but by default ` numeric_only` is set to True  like in the above one .

[2021-08-22 07:54] das-anubhav commented on #33830
Hi!

I would like to solve this issue.

[2021-08-22 08:00] AlexeyGy commented on #43132
Can I work on this issue?

[2021-08-22 09:33] KiranHipparagi commented on #42872
@ChrisJar @mroeschke I want to work on this feature .
Can I contribute to this issue ?

[2021-08-22 12:14] KiranHipparagi opened #43162 "ENH: Add 'ascending' parameter to series/searchsorted() method."
Hello,

i tried using [pandas.Series.searchsorted](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.searchsorted.html) method in series.

**Example-1**
[code]

**Example-2**
[code]
So  above two example clearly shows that [pandas.Series.searchsorted](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.searchsorted.html) will work only for ordered array.

[2021-08-22 12:45] NickFillot commented on #43000
Indeed, didn't explore deeper this feature, I will do it

Thank you 😊

PS: To give some context, I am trying to expose DataFrame as a service through flask to use remote compute ressources; Querying it with sql like other relational sql db; I thought then it would be more easy to use than specific pandas language

[2021-08-22 13:55] phofl commented on #43162
This is documented and follows the numpy behavior, -1 on this

[2021-08-22 14:57] KiranHipparagi commented on #43162
@phofl yes,Thanks for your response. Even in numpy also the same situation.so what i was thinking we can add parameter called **ascending** to sort array and fix this issue.what you think?please comment.

[2021-08-22 15:02] phofl commented on #43162
This is not an issue. The function is called searchsorted, which already implies that the underlying object is sorted.

[2021-08-22 15:30] sterlinm commented on #40932
I’m happy to give that a shot!

[2021-08-22 15:44] jbrockmendel commented on #43156
Another datapoint: running your script on OSX I'm seeing a lot more being released at the end

[code]

Also if I add a `gc.collect()` after `del groups` i get another 40mb back.

[2021-08-22 15:46] jbrockmendel commented on #43155
Have you profiled this?  I'd speculate that the hotspot is in pd.concat

[2021-08-22 16:21] mroeschke commented on #43000
You may also be interested in https://ibis-project.org/

[2021-08-22 16:31] #43000 closed

[2021-08-22 16:54] attack68 opened #43164 "BUG: options `date_dayfirst` and `date_yearfirst` conflict"
Can someone confirm that this is a bug:

[code]

Also it seems weird to have the options `display.date_dayfirst` and `display.date_yearfirst` with both set to `False` by default, and yet print year first..

Docs say: `When True, prints and parses dates with the day first, eg 20/01/2005`. Maybe this is just for parsing?

[2021-08-22 17:16] Abdelgha-4 opened #43165 "ENH: confusing name for 'copy' argument in to_numpy() method"
I found the following behavior a bit unexpected from the name of the argument.

I think changing the argument name to something like `always_copy` would be more clear about what it is doing.

[2021-08-22 17:19] MarcoGorelli commented on #40315
agreed, seems like expected behaviour, and is consistent with Python's rounding:

[code]

[2021-08-22 17:19] #40315 closed

[2021-08-22 17:57] mrocklin commented on #43155
Yes, so here is the prun output

[code]

Looking at a flame graph with snakeviz I see the following breakdown, with about a 50% reduction at each stage

1. pickle.loads
2. concat
3. pickle.dumps
4. groupby

[2021-08-22 18:03] #28050 closed

[2021-08-22 18:27] debnathshoham commented on #42145
I am getting the below on master. IIUC, this is the expected output?

[code]

[2021-08-22 18:40] jbrockmendel commented on #43155
So the first thing that stands out is that most of the pickle.loads time is in the Index constructor, which should be avoidable by passing the dtype to cls.__new__ within _new_Index (shorter term on your end could be avoided by using an integer dummy instead of the string "partitions")

After the frames are unpickled, the concat code spends a bunch of time figuring out that they are already aligne

[2021-08-22 18:52] mrocklin commented on #43155
I'm entirely happy to choose some arbitrary random integer if that would help performance.  I am a bit surprised that using a string column name has an effect.  I'm a bit curious to know more about what's happening here, but I'm also happy to remain ignorant if that knowledge will become obsolete.

Oh cool.  I hadn't thought too much about the costs of that check but yes, that makes sense.

[2021-08-22 18:55] jbrockmendel commented on #43155
In unpickling we are calling the Index constructor and in this example an object-dtype ndarray is being passed.  The Index constructor tries to do dtype inference, which in this example is pretty much the worst case (all integers and then one string at the end).

[2021-08-22 18:56] jbrockmendel commented on #43022
yes.  you can make a test out of the example in the OP

[2021-08-22 19:12] mrocklin commented on #43155
Ah, but if I happened to to have string column names in the other columns then changing partitions to 1387287258 or something wouldn't have a positive effect, correct?

In this particular case, the fact that the column names are integers is coincidental (well, mostly coincidental).  I probably shouldn't optimize too heavily around that case.  The distribution of column names for us is the same as

[2021-08-22 19:15] jbrockmendel commented on #43155
Right.  Hopefully it will be a moot point in the next release.

[2021-08-22 19:57] karthik200116 commented on #40328
Hey found this issue still open. Can I take up this issue?

[2021-08-22 20:02] karthik200116 commented on #39158
Hey found this issue still open. Can I take this issue?. I'm new to the open-source community willing to do some useful contributions.

[2021-08-22 20:39] jbrockmendel commented on #42755
Solution was to compile from source instead of using a wheel.  Discussed in the https://github.com/PyTables/PyTables/issues/903, closing

[2021-08-22 20:39] #42755 closed

[2021-08-22 20:47] MarcoGorelli commented on #39158
it's being worked on, look up

[2021-08-22 20:47] jbrockmendel commented on #42736
So if I were to go into window_aggregations and 2D-ify roll_foo, would that get the job done?  or would we still have to handle UDFs somewhere?

[2021-08-22 21:13] phofl opened #43168 "CI: Aiobotocore upgrade to 1.4 broke ci"
The upgrade broke our ci.

Failure:
https://github.com/pandas-dev/pandas/runs/3394467341

Working:
https://github.com/pandas-dev/pandas/runs/3389494290

This comes as a dependency of s3fs, which changed the requirements already, but the 2021.08.0 release is not on conda-forge yet. We can remove the pin after it is available

https://github.com/dask/s3fs/blob/main/requirements.txt

[2021-08-23 02:11] Dr-Irv commented on #43108
Yes, but based on the comment here:  https://github.com/pandas-dev/pandas/issues/42395#issuecomment-882070234 it seems that we might want to consider changing the default to have `numeric_only=False` .

[2021-08-23 02:59] Kavya9986 commented on #39158
Hey!
I'm working on this issue .

[2021-08-23 03:06] AKSoo commented on #17612
This needs to be reopened. @jreback's response is irrelevant. What @Giftlin proposed is inserting new dummy columns where categorical column used to be, rather than appending them to the end.

I would even go as far as saying users probably expect column orders to be preserved when using `get_dummies`, so this should be the default.

[2021-08-23 03:42] mroeschke commented on #43162
Thanks for the suggestion, but agreed that it is better for the pandas to strictly align with numpy so I'm -1 as well. Closing since this feature hasn't gotten enough acceptance from the team.

[2021-08-23 03:42] #43162 closed

[2021-08-23 03:58] mroeschke commented on #42105
Thanks for the report. As mentioned, the team would need a minimal, reproducible example to address the issue and please try on the latest release of pandas. Closing as the issue is currently not actionable.

[2021-08-23 03:58] #42105 closed

[2021-08-23 04:02] mroeschke commented on #29409
Let us know if you can still provide the reproducible example, and we can reopen.

[2021-08-23 04:02] #29409 closed

[2021-08-23 06:15] attack68 commented on #43165
-1, whilst what you are proposing might be clearer, I consider the existing docs explicitly clear enough. Perhaps expanding:

[2021-08-23 06:23] suyashgupta01 commented on #40245
I want to work on `Dataframe.between_time()`, is there something else I should know before getting started? @attack68

[2021-08-23 06:23] suyashgupta01 commented on #40245
take

[2021-08-23 06:46] KiranHipparagi commented on #41125
I am new to OpenSource Contributions . I want to work on this feature .
Can I contribute to this issue ? and @ldorigo could you please give some example or links how pandas and sklearn docs are different?what are your expectation in detail..
Thanks!!

[2021-08-23 07:09] jason-xuan opened #43175 "BUG: column with type float32 is skipped by rolling"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-23 07:14] Kavya9986 commented on #39158
@MarcoGorelli . I have fixed all the warning.warn messages in the entire code .
Here is the pull request Fixed all warning.warn messages for space,full-stop etc issues #43163 .
Could you just review it ?

[2021-08-23 07:20] phofl commented on #43175
Duplicate of #42452

[2021-08-23 07:20] #43175 closed

[2021-08-23 08:34] #36912 closed

[2021-08-23 08:41] Dinkarkumar commented on #16925
Is the issue resolved ? Can I work on this ?

[2021-08-23 09:34] MarcoGorelli commented on #16925
see the comment above, adding a test would be welcome

[2021-08-23 12:13] jorisvandenbossche commented on #42961
Do you have a traceback or link to one of the failing builds?

[2021-08-23 12:52] k4thir commented on #43164
Hi , I'm a beginner to open source and can I contribute on this ?

[2021-08-23 13:26] venaturum opened #43178 "BUG: Series inconsistent with overflow errors in Timedelta calcs"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-23 14:38] mrocklin commented on #43156
Same with `gc.collect()`

[code]

[2021-08-23 14:42] san-coding commented on #42295
take

[2021-08-23 15:12] mzeitlin11 commented on #43165
Agreed with @attack68, this conditional copying mirrors `numpy` behavior as well, for example in https://numpy.org/doc/stable/reference/generated/numpy.array.html

[2021-08-23 15:14] ldorigo commented on #41125
Hi @KiranHipparagi and @rhshadrach, and sorry for ghosting after my initial suggestion.

Here are a few examples and details for what I meant/think would be nice to have:

### Sklearn:

Random example: https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html#sklearn.compose.ColumnTransformer

All reference pages (that I've seen) contain a final section "examples",

[2021-08-23 15:19] jorisvandenbossche commented on #42124
@Nishita5421 there is already an open PR for it

[2021-08-23 15:30] nwilliams-lw opened #43183 "BUG: convert_dtypes incorrectly converts byte strings to strings in 1.3+"
#### Code Sample, a copy-pastable example

This test will pass on pandas 1.2.5 but fail on 1.3 onwards (checked 1.3, 1.3.2).
[code]

#### Problem description

Error on 1.3 onwards:
[code]

The issue is that converted_dtypes() will convert the `data` column values to the string `b'binary-data'`, almost like it has had `str(val)` called on it. On 1.2.5 it is left correctly as a byte array.

#### Exp

[2021-08-23 16:10] MarcoGorelli commented on #43183
Thanks @nwilliams-lw - from git bisect it looks like this was caused by https://github.com/pandas-dev/pandas/pull/41622 , cc @jbrockmendel

[2021-08-23 16:11] notcoffeetable commented on #40682
Is progress being made on this issue?

[2021-08-23 16:54] #42124 closed

[2021-08-23 17:50] cklb commented on #4160
Just stumbled over this problem. The delicate part is that the function will always return successfully even if `errors="raise"` is passed.

Thanks to normanius for the workaround, if a fix is not that easy, maybe the docstring could be extended with a warning?

[2021-08-23 18:14] rush2406 commented on #43178
for `x.sum()` case,  if you use `x = x.dt.days` before doing sum, it works

[2021-08-23 18:42] phofl commented on #43143
Is it possible to create a code only example without an external file?

[2021-08-23 19:09] matthew-brett commented on #36195
Can I ask - what would it take - to get this one over the line?  And how can I help?   For example, if I can find some time, maybe funded, to do the Github notebook exploration above, and write it up, how useful would that be?  If not very useful, is there something else I can do?

[2021-08-23 20:44] jbrockmendel commented on #43183
Best guess looking at #41622 is that `is_string_dtype(inferred_dtype)` check returns True even if the inferred_dtype is bytes

[2021-08-23 20:46] LobRockyl commented on #43183
Should I give a stab to it

[2021-08-23 21:08] jbrockmendel commented on #43156
Going though `gc.get_objects()` I don't see any big objects left behind

[2021-08-23 21:16] mattharrison commented on #43140
@mroeschke @jreback

Any comment on why `errors='raise'` is broken?

[2021-08-23 21:52] MarcoGorelli commented on #43140
As suggested above, if you believe something is broken, please open an issue with a minimal reproducible example, one should not need to download external data to demonstrate a bug

[2021-08-23 22:04] mattharrison commented on #43140
Here is code that reproduces the original issue:

[code]

[2021-08-23 22:22] MarcoGorelli commented on #43140
Thanks, haven't tried running it yet but reopening till I do

[2021-08-23 22:25] jbrockmendel commented on #43091
#38552 was about round-tripping faithfully, so im inclined to think that reset_index should also roundtrip.

@jgmarcel support for date objects in generally is spotty.  Your best bet is to use datetime or Timestamp objects

[2021-08-23 22:26] mattharrison commented on #43140
Thanks @MarcoGorelli, let me know if I can provide anything else 🙏

[2021-08-23 22:35] jbrockmendel commented on #34388
thats great.  can you make a PR that implements this test in tests.frame.test_arithmetic

[2021-08-23 22:52] venaturum commented on #43178
Thanks, not quite the point though.

[2021-08-23 22:54] jbrockmendel commented on #40145
I think this was an intentional decision made for internal consistency in #31172

[2021-08-23 22:59] jbrockmendel commented on #43178
xref https://github.com/numpy/numpy/issues/16352#issuecomment-645637920

[2021-08-23 23:03] batterseapower opened #43190 "BUG: infinite recursion when using `np.fmin` to combine > 2 Series/DataFrames elementwise"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas (1.3.1)
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I'm not sure if this is strictly a Pandas bug since it involves a Numpy function, but th

[2021-08-23 23:06] #33036 closed

[2021-08-23 23:15] mroeschke commented on #43140
This is working as expected. See this note (added recently) at the bottom of the `to_datetime` docstring: https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.to_datetime.html

Although it's `object` dtype, it's not strings but `Timestamp` objects with timezones.

[code]

If you want a uniform dtype, you can pass `utc=True` first.

[2021-08-23 23:32] venaturum commented on #43178
For anybody with similar problems playing at home, if you don't care about aligned indexes, or you can guarantee the indexes align, then the following can be used as a workaround for element-wise multiplication (which generalises the problem) between two vectors

[code]

It will produce a series of Timedeltas and throw overflow errors if the result of any multiplication is too big

[2021-08-23 23:45] mroeschke commented on #42736
I think some of the plumbing in `rolling.py` would need to support the 2d roll_foo, but that should be all that is needed.

Also since there is `roll.apply`, users would now need to make sure their UDF supports 2D inputs?

(IMO your approach in https://github.com/pandas-dev/pandas/pull/43171 is reasonable enough)

[2021-08-24 00:55] jgmarcel commented on #43091
Agreed. Thank you for the good advice. Problem is data objects are all over our code, since anytime a DATE column is read via `pandas.read_sql()`, it is translated to a series of date objects. Hence, casting everything to datetime or Timestamp objects would be a lot of effort… For now, we reverted to version 1.2.5, but I would like to avoid the work if possible.

[2021-08-24 00:56] MrCreosote commented on #43143
@phofl here you go:

[code]

[2021-08-24 01:24] mzeitlin11 commented on #42399
Not sure what behavior here should be - but a rationale for existing behavior would be that since the `freq` is 1 hour, each consecutive point is separated by 1 hour. If instead all days started on `08:30:00`, the time between consecutive points would no longer be invariant since some would be separated by 30 min.

A smaller reproducer would be
[code]
[code]

[2021-08-24 04:53] Tanu1201 commented on #43143
Can I take this bug as my starting my open sources journey!!

[2021-08-24 04:56] Tanu1201 commented on #43190
Can I take this issue as I am starting my open sources journey?

[2021-08-24 04:58] suyashgupta01 commented on #40245
Hi @attack68, for `Dataframe.between_time()`, the boundary related arguments are `bool include_start` and `bool include_end`. I'll go ahead and let them stay there for backwards compatibility, and add a new `inclusive` argument. Please let me know if I should adopt another course of action.

[2021-08-24 05:21] attack68 commented on #39368
The 'old' website is showing the current version of pandas 1.0.1.

[2021-08-24 05:51] MacroBull opened #43194 "Ambiguous behaviour when index is bool type?"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-24 06:12] S-T-A-R-L-O-R-D commented on #42875
Hello everyone, I am working on this issue. I have understood the problem and hopefully will solve it by tomorrow.

[2021-08-24 06:26] radioactive11 commented on #42875
@S-T-A-R-L-O-R-D thanks for showing interest but I already have a PR open and have almost solved the issue.

[2021-08-24 06:33] S-T-A-R-L-O-R-D commented on #42875
ok

[2021-08-24 06:38] rush2406 commented on #43194
Can I work on this issue?

[2021-08-24 06:47] suyashgupta01 commented on #40245
I've made & tested all the aforementioned changes locally, everything seems to be working fine.

Now, I'm aware that I need to write code for tests in the repository before I make a pull request, can anyone please guide me regarding the same.

[2021-08-24 07:07] batterseapower commented on #43190
@Tanu1201 I'm not working on it, so go for it. I haven't looked into the bug, but it may not be a good first issue - something quite subtle might be going on.

[2021-08-24 07:48] KhunJahad commented on #43109
take

[2021-08-24 08:03] Tanu1201 commented on #43190
Hey!!

Can you please guide, if not this bug then which bug I should go for?

On Tue, 24 Aug 2021 at 12:37, Max Bolingbroke ***@***.***>
wrote:

[2021-08-24 08:33] dcoukos opened #43195 "BUG: Implementation of is_list_like causes TypeError when working with Extension Arrays of ambiguous type"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-24 08:53] MarcoGorelli commented on #43140
Having now read through, I agree, and seems like a dupe of https://github.com/pandas-dev/pandas/issues/40808 - re-closing then

[2021-08-24 08:53] #43140 closed

[2021-08-24 09:06] dcoukos opened #43196 "ENH: Change implementation of pandas.api.types.is_list_like to check for iterability in more pythonic way"
#### Is your feature request related to a problem?

Yes, this would improve predictability of behavior with pandas extension arrays.

#### Describe the solution you'd like

`pandas.api.types.is_list_like` can check for iterability in a more pythonic way according to https://docs.python.org/3/glossary.html#term-iterable. This would result in the appropriate call being `iter(obj)` rather than checki

[2021-08-24 09:06] dcoukos commented on #43195
Closing issue as this is probably best dealt with as an enhancement request.

[2021-08-24 09:06] #43195 closed

[2021-08-24 09:14] dcoukos commented on #43196
Looks like this has actually been discussed earlier, even though I had not found them when searching.

Not sure if development of a solution for this problem has stalled.
For reference:

#35127
#35131

hgrecco/pint#1128

[2021-08-24 09:33] LarsHill commented on #4889
The above solution from @Helgeb correctly decodes multi-index dataframes but seems to fail in handling normal single-index dataframes correctly.

I propose a different workaround to correctly decode multi-index dataframes from serialized json strings. Namely, `ast.literal_eval` allows for safely evaluating tuple strings to actual tuples, which lead to correcly decoded dataframes, since `pd.DataFra

[2021-08-24 09:39] ngcd04-fa07 commented on #38690
Hey
This would be my first open-source contribution, and I'd love to work on this. Would you please assign this to me and guide me a bit as to what needs to be done?
Thank you

[2021-08-24 09:56] Ash1One commented on #40404
I have met the same error with pandas == 1.2.4, and it was installed by pip.
Then I reinstall pandas 1.2.4 from conda-forge, no error report again.

[2021-08-24 10:07] soni-muskan1234 commented on #43048
take

[2021-08-24 10:10] shubham11941140 commented on #43183
I am trying to solve the bug.

[2021-08-24 10:16] shubham11941140 commented on #43183
This issue is present in on pandas 1.3.1

[2021-08-24 10:23] shubham11941140 commented on #43183
In the same code, print(converted_dtypes['data'][0]) gives b'binary-string', which makes sense. I fail to understand that what is the point of decoding?

[2021-08-24 10:28] shubham11941140 commented on #43183
I got it, it gives b'binary-string', but changes the type assignment, so we need to rectify that.

[2021-08-24 11:37] zkrolikowski-vl opened #43197 "How to make pandas-stubs library compliant with pandas development team requirements"
Hello,

my name is Zbigniew Królikowski. I am a software developer at VirtusLab.

Together with my colleagues we started working on our own [pandas type stubs library](https://github.com/VirtusLab/pandas-stubs), and at some point decided to make it open-source.

We wanted to ask you:
1. Is the separation between our library and pandas itself clear? We wanted to be clear on the authorship so we add

[2021-08-24 12:20] MarcoGorelli commented on #43197
Hey @zkrolikowski-vl - my personal opinion is that the separation is clear enough, curious to see what others think though

cc @datapythonista (as I think I've seen you comment on issues surrounding other libraries / authorship / licensing before)

One thing you might want to be aware of is that there are aspirational plans to eventually expose pandas types from this repo

[2021-08-24 12:27] simonjayhawkins commented on #43108
closing this to keep discussion in on place.

[2021-08-24 12:27] #43108 closed

[2021-08-24 12:30] batterseapower opened #43198 "BUG: resampling 2D with closed=right fails with "Values falls before first bin""
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas. (1.3.1)
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

(Any number of days > 1 shows the same bug)

Stack trace from failure:
<details>
[code]
</details>

#### Problem d

[2021-08-24 13:14] ForthenchoPacino commented on #43048
take

[2021-08-24 13:14] ForthenchoPacino commented on #43048
found a few more instances, working on correcting them

[2021-08-24 13:19] Kavya9986 commented on #39158
Gentle ping @MarcoGorelli .
Pull request : #43163

[2021-08-24 13:34] Dr-Irv commented on #42395
I think it is worth discussing how we want to resolve this.  At this comment https://github.com/pandas-dev/pandas/pull/43154#issuecomment-903333993 , @jbrockmendel wrote:

I think there is an open question of how we want to resolve this.  Here's a summary of how I see things based on discussions here, in #43108 (now closed) and in the PR #43154.
* Prior to 1.3, the API documented the default of  `

[2021-08-24 13:38] shubham11941140 commented on #43183
Actually bytes data type is not supported by numpy and pandas. So, I will assign the data type to bytes

[2021-08-24 14:05] jbrockmendel commented on #42395
That's accurate for the OP example, but not in the general case.  The code was pretty tangled.  It only behaved as if numeric_only was False if there were no numeric columns.  So if you add another numeric column to the OP example `df["value2"] = df["value"]` then `df.groupby("value").sum()` _did_ drop the non-numeric column, and the result in 1.2.4 matches what we get on master.

[2021-08-24 14:07] sriakshata commented on #38947
@douglas-raillard-arm , I am actually new to open source. My question is , it works fine with the pandas v1.3.2, I guess the problem is only with the pandas v1.2.0, since it works fine with the latest release, do we have to fix it in the pandas v1.2.0? Please guide me.

[2021-08-24 14:20] simonjayhawkins commented on #38947
no fixes required. the issue is to add a test to the pandas test suite to ensure we don't get a similar regression in the future.

[2021-08-24 14:45] simonjayhawkins commented on #43113
Need to make Index Generic w.r.t. to Dtype. https://mypy.readthedocs.io/en/stable/generics.html#defining-generic-classes

[2021-08-24 15:35] Dr-Irv commented on #42395
Thanks for pointing that out.  So this suggests the following option for 1.3.x:
4. If `numeric_only=True` but all columns are non-numeric, ignore the `numeric_only` setting.  Document this as the behavior, and then code prior to 1.2 that had only non-numeric columns continues to work, and the behavior is more intuitive.

[2021-08-24 15:39] kurchi1205 commented on #42395
yeah I was suggesting that

[2021-08-24 16:17] attack68 commented on #43194
This is an edge case.

There are far more practical uses for an Indexer with Boolean values than trying to index `True/False` indexed DataFrame. I am not convinced the codebase warrants a check for this kind - possibly if it is very simple and doesn't interefere with a lot of logic.

A workaround for a dynamic workflow is:
`pd.Series([True, True, False]).value_counts().sort_values().iloc[0]`

[2021-08-24 16:26] #43113 closed

[2021-08-24 16:35] jbrockmendel commented on #42395
Not in the case where the user explicitly passed it though right?

That's appreciably more complicated than the current meaning of numeric_only, also doesn't match what it means in DataFrame reductions.