[2020-02-12 01:16] #29399 closed

[2020-02-12 01:18] rosefun opened #31904 "pandas read_excel error:TypeError: 'values' is not ordered, please explicitly specify the categories order by passing in a categories argument."
#### My code

[code]
#### Problem details

[code]

#### Expected Output
It can print the sheet name, but pandas can't read the first sheet correctly.

#### Output of ``pd.show_versions()``
0.22.0

[2020-02-12 01:23] pedroreys commented on #31902
I just [found out that](https://www.hdfgroup.org/2019/11/webinar-announcement-learn-about-new-features-in-hdf5-1-12-0/) the HDF Group added support to S3 VFD in HDF5s upcoming new major release (1.12.0) so it _might_ be possible to do it in the near future.

Thanks for the quick responses.

[2020-02-12 01:32] rosefun commented on #31904
I find that the header of the excel file is almost empty, and  solve the problem by add `header = 1`.

[2020-02-12 01:32] #31904 closed

[2020-02-12 01:38] jbrockmendel commented on #31802
I, too, expect it to be a reduction.

I added in Block.apply a `print(result, getattr(result, "shape", None))` just before calling `_split_op_result` and the ran the example here:

[code]

so maybe it is reducing, just along the wrong axis?

[2020-02-12 01:39] #31663 closed

[2020-02-12 01:44] datapythonista commented on #28168
Sure, thank you!

[2020-02-12 02:01] jbrockmendel commented on #31760
Not really.  This behavior has been in place for groupby.apply for a while.

[2020-02-12 02:11] jbrockmendel commented on #19187
This appears fixed on master, needs test.

[2020-02-12 02:15] alimcmaster1 commented on #31879
To be clear the date is:

The next monthly dev call is tomorrow (Wednesday, February 12th) at 18:00 UTC

[2020-02-12 02:49] TomAugspurger commented on #31879
Whoops, copy pasted the wrong text.

[2020-02-12 03:02] theSuiGenerisAakash opened #31908 "pd.read_excel() ignores converter functions over na_filter argument"
Please consider the code below.

[code]
#### Why this behaviour?

I believe that if there's an explicitly provided argument(`converters`), its behaviour should override any other argument that has not been set(has a default value -> `na_filter`), **in case of such conflict or overlap of effect arises**.

#### Expected output

When one argument is specified which operates at a certain specificity l

[2020-02-12 03:09] icexelloss commented on #31760
I am not it's true that the behavior has been in place for a while. As far as I can tell this is behavior introduced in 1.0.0, which has just been released.

Also this behavior doesn't totally make sense to me - why groupby.agg() needs to call the user function with empty input, it feels like a side effect of the implementation detail and not really an intentional behavior change to improve user a

[2020-02-12 03:18] dazza-codes opened #31909 "df.to_parquet crashes on pyarrow with timedelta64[ns]"
#### Code Sample, a copy-pastable example if possible

[code]

versions:
[code]

#### Problem description

[code]

PS, Submitting an issue on pyarrow in JIRA is a complete 🤕  😞

[2020-02-12 03:24] jreback commented on #31909
you should try with pyarrow 0.16

in any event this should be reported to the pyarrow tracker

[2020-02-12 03:24] #31909 closed

[2020-02-12 04:05] ssche opened #31912 "Obtain the category codes from `CategoricalDtype`"
[code]
#### Problem description

Once a `pd.CategoricalDtype` is created, the codes (which are attached to `pd.Categorical`) are essentially gone. I am using another dataframe as data holder for categorical data and need to switch back and forth between code and label representation of categorical. Once a series is converted to categorical the `dtype` does not hold the code information any more.

[2020-02-12 04:33] daviewales opened #31913 "DataFrame.query raises ValueError when comparing columns with nullable dtypes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`DataFrame.query` raises `ValueError: unknown type object` for boolean comparisons when the dtype is one of the new nullable types. (I have tested this for both `Int64` and `string` dtypes.)

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-02-12 05:57] zzapzzap commented on #31913
I can see the difference between 'df1' and 'df2'.
It seems a problem with `int64` of `df1`, not with `Int64` of `df2`.
I'll check 'frame.py' file soon.

[2020-02-12 06:54] zzapzzap commented on #31913
What version of pandas do you use?
Eventually, Released Version(0.25.1) can't solve this bug; but, the current development version(1.1.0.dev0+419.g625441b31) has solved this problem.

I hope it helps you.

[2020-02-12 07:09] zzapzzap commented on #31050
ping @pavankumar369 Are you still working on?

[2020-02-12 07:22] daviewales commented on #31913
@zzapzzap I'm using pandas 1.0.1 as shown in the output of `pd.show_versions()`.
The problem is definitely with `df2` and `Int64`, because that's the one throwing the error.

[2020-02-12 08:19] sa02045 commented on #29082
df=pd.DataFrame({'a': [3.0, 1.0, 2.0], 'b':[5,6,7]})
df.set_index('a')
it works

[2020-02-12 08:44] vadella commented on #31204
Your solution can give rounding errors when dealing with large integers. (I've been bitten by this when importing production data. The batch numbers were too large to fit exactly in a float64)

[code]

  | 0 | a | b
-- | -- | -- | --
0 | 0 | 0 | 0
1 | <NA> | <NA> | <NA>
2 | 1152921504606846978 | 1152921504606846976 | 1152921504606846978

This explicitly loops over the column, so is not ideal perfo

[2020-02-12 09:03] ssche commented on #31912
There is a `CategoricalAccessor` on the series which could be used to retrieve the codes (`series.cat.codes`), but that's holding the codes (in order) of the current series only (when the series is sliced the cardinality of `series.cat.codes` changes accordingly; or with other words `series.cat.categories` does not line up with `series.cat.codes`).

[2020-02-12 09:53] jorisvandenbossche commented on #31913
@daviewales Thanks for the report!
In general, the new nullable dtypes are not yet much tested with `query`. Investigations in the underlying issue or contributions for better support are certainly welcome.

[2020-02-12 10:20] gerrymanoim opened #31917 "`to_json` of Series with period dtype results in AttributeError"
#### Code Sample, a copy-pastable example if possible

[code]

Leads to:

[code]

This issue also crops up in dataframes where a column is a period Series and `orient='table'`.

#### Problem description

I can't find anything that says this would be unsupported.

#### Expected Output

Json string of series representation.

#### Output of ``pd.show_versions()``

<details>

pd.show_versions()

INSTA

[2020-02-12 11:01] dequadras opened #31919 "ohlc documentation"
The documentation for ohlc is missleading. In https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html The following doc appears, which probably references the docstring in the code.
![image](https://user-images.githubusercontent.com/30231949/74328919-b3758000-4d86-11ea-96c1-9205373a48ad.png)

A sentence like `Computes open, high, low and close values, excluding missing values` is proba

[2020-02-12 11:17] tritemio commented on #31204
@vadella, thanks for the code example. I had the same problem too and I currently side-step it by loading the data directly in string format. Another reason why it is important that this conversion is handled by pandas internally.

[2020-02-12 11:30] onnoeberhard opened #31920 "pd.read_csv does not recognize scientific notation if 'decimal' attribute is set with engine=python"
Contents of 'abc.tsv':
[code]
Code:
[code]
#### Problem description
The outputs of the two read_csv commands above should be the same. In this case an obvious "solution" is to just use the C-engine, however I have to process a file where I need to use a regular expression as the delimiter.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------

[2020-02-12 11:44] jreback commented on #31760
@jbrockmendel this appears to be a regression

[2020-02-12 12:09] TomAugspurger commented on #31912
The codes are a property of the categorical array, not the dtype. A single CategoricalDtype can be associated with multiple arrays, which will have different codes.

[2020-02-12 12:15] MarcoGorelli commented on #31919
Thanks @dequadras

Are you interested in submitting a pull request? See the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started

[2020-02-12 12:36] #31779 closed

[2020-02-12 12:38] TomAugspurger commented on #31913
This is going through numexpr, which generally won't know about pd.NA. We would need to work with the numexpr devs, or more likely avoid passing NA there in the first place.

[2020-02-12 12:38] #31772 closed

[2020-02-12 12:56] jorisvandenbossche opened #31922 "BUG: segmentation fault with pd.NA and np.ndarray.__contains__"
Testing for membership in an ndarray segfaults:

[code]

Now, this might be something that needs to be fixed in numpy, as for plain lists it "works":

[code]

but numpy might not expect an error instead of True/False.

[2020-02-12 12:58] RoelantStegmann commented on #29054
I have the same with s3 files: I used to open them with `smart_open` and then providing them to read_pickle. It doesn't work anymore.

[2020-02-12 13:02] jorisvandenbossche commented on #31922
cc @seberg

[2020-02-12 13:17] jreback commented on #31913
the nullable types should force the python engine path as numexpr can’t support anything non numpy based

[2020-02-12 13:28] tuxcell opened #31924 "Pandas negative timedelta is 1 day off"
#### Code Sample:

[code]
#### Problem description

Two timestamps obtained from Pandas "to_datetime" and having a time delta of 6 minutes, will have a strange result when the difference is negative.

#### Expected Output

#### Timedelta('0 days -00:06:00')

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3

[2020-02-12 13:40] lguyot opened #31925 "pandas.DataFrame.reindex_like throws if called from a derived class instance"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The method `reindex_like` throws an `AssertionError` when the caller is an instance of a derived class of `pandas.DataFrame`.

#### Expected Output

No exception thrown.

#### Output of ``pd.show_versions()``
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-b

[2020-02-12 13:48] dequadras commented on #31919
Sure!

[2020-02-12 13:48] jorisvandenbossche commented on #31925
@topper-123 another one from the `_ensure_type` checking

[2020-02-12 14:06] MarcoGorelli commented on #31924
Aren't `Timedelta('-1 days +23:54:00')` and `Timedelta('0 days -00:06:00')` expressing the same thing?

[2020-02-12 14:12] mila commented on #31779
Thanks, that was fast!

[2020-02-12 15:04] #31896 closed

[2020-02-12 15:05] #31731 closed

[2020-02-12 15:11] jorisvandenbossche opened #31927 "Construction of Categorical from array with pd.NA failing"
So creating a Categorical from an array with pd.NA fails:

[code]

while from a list actually "works":

[code]

This also means that creating a Categorical from a StringArray with missing values won't work (with the same error as above).
I am only not sure if it should work (at least before we can have a "string" dtype index as the categories of the created Categorical).

[2020-02-12 15:12] jorisvandenbossche commented on #31883
I think it is rather due to the factorization/hashtable not handling pd.NA, similarly to the creating of a Categorical: https://github.com/pandas-dev/pandas/issues/31927

[2020-02-12 15:29] pganssle opened #31929 "BUG: pd.Timestamp constructor fails if tzinfo is specified"
The constructor for `pd.Timestamp` has both a `tz=` and `tzinfo=` argument, presumably because `pd.Timestamp` is trying to *both* support the `datetime.datetime` interface and its own constructor. There is evidently logic in the constructor to prevent both `tz` and `tzinfo` being specified, but it seems something has gone wrong, because constructing an aware `pd.Timestamp` by components and includ

[2020-02-12 15:35] pganssle opened #31930 "pd.Timestamp constructor ignores missing arguments"
As part of the discussions in #31563, I came across these strange semantics in `pd.Timestamp`, where it is apparently legal to over-specify a `pd.Timestamp` by specifying both a `datetime` (or another `Timestamp`) *and* pass the by-component construction values, and any irrelevant arguments are *ignored*:

[code]

The signature for the function is:

[code]

There's actually a decent amount of redu

[2020-02-12 15:46] WillAyd commented on #31924
Yea as mentioned by @MarcoGorelli this is by design

[2020-02-12 15:46] #31924 closed

[2020-02-12 15:47] drewseibert commented on #29547
These two files can be checked off the list:
👍
pandas/io/parsers.py
pandas/io/pytables.py

[2020-02-12 15:48] WillAyd commented on #31917
Yea just don't think this is implemented in the serializer. Would take a PR to support

[2020-02-12 15:56] seberg commented on #31922
Thanks, looks like a missing error check in `ndarray.__contains__` (that method is broken for other reasons):
[code]
must test for `any == NULL`.

[2020-02-12 15:57] drewseibert commented on #29547
These are also good to go:

pandas/tests/groupby/test_apply.py
pandas/tests/groupby/test_bin_groupby.py

[2020-02-12 16:00] #30843 closed

[2020-02-12 16:01] #30933 closed

[2020-02-12 16:04] #31325 closed

[2020-02-12 17:16] 3vts commented on #29547
These are ready on #31914
"pandas/tests/extension/decimal/test_decimal.py"
"pandas/tests/frame/indexing/test_categorical.py"
"pandas/tests/frame/methods/test_describe.py"
"pandas/tests/frame/methods/test_duplicated.py"
"pandas/tests/frame/methods/test_to_dict.py"
"pandas/tests/frame/test_alter_axes.py"
"pandas/tests/frame/test_api.py"
"pandas/tests/frame/test_constructors.py"
"pandas/tests/frame/t

[2020-02-12 17:20] pavankumar369 commented on #31050
@zzapzzap  Yep! Kind of busy with exams. Will restart working on it on Tuesday.

[2020-02-12 17:50] sangrey commented on #27652
As someone who is a heavy user of Multiindexes, I couldn't agree more that this would be very useful to have. I find working in a fairly complex production codebase that whether a particular "column" is a best thought of as an index or a column in its own right is constantly switching back and forth, and so my code ends up being littered with reset_index() calls and set_index() calls.

[2020-02-12 17:50] max-sixty commented on #27652
In the category of "syntax sugar" rather than data model changes: In my experience the most inconvenient occurance is `set_index` not allowing passing index names. For example:

[code]

If we want to make a multiindex with `a` & `b`, we need to do `reset_index` first, since passing index names to `set_index` doesn't work:

[code]

So I have a plethora of `.reset_index().set_index()`, which could b

[2020-02-12 17:58] Dr-Irv commented on #27652
@max-sixty Actually, you can do what you need without using `reset_index` and using the `append` argument of `set_index`:
[code]

[2020-02-12 18:20] dazza-codes commented on #31909
`pyarrow = 0.16.*` does not fix this.  Since this belongs at the intersection of pandas (numpy) and pyarrow, this issue could belong in either place and probably belongs in both places, since the responsibility for mapping serialization between them could belong in both places.  Hence, I respectfully request clarification on where the responsibility lies for this serialization (it begins with pand

[2020-02-12 18:30] flutefreak7 opened #31934 "to_csv compression dict option 'archive_name' should accept os.PathLike"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The Python std lib has made a tremendous effort to support os.PathLike objects, especially pathlib.Path, across the standard library. [ZipFile was somewhat recently patched](https://bugs.python.org/issue28231) to add PathLike support for externally facing paths, but it appears they did not add this support to Z

[2020-02-12 18:37] mroeschke commented on #31930
Definite +1.

Moreover I think the `Timestamp` structure should be more strict and only accept the following combination of inputs and raise otherwise if there are mixing of parameters:

[code]

I intentionally left out the following args that I think can be deprecated/removed:

- `freq`: We already have an issue deprecating/removing this argument https://github.com/pandas-dev/pandas/issues/15146

[2020-02-12 19:00] jreback commented on #31909
@dazza-codes sure pandas can add more testing
but this is a pyarrow traceback and that’s where it is handled

you should open an issue there

[2020-02-12 19:11] dsaxton commented on #31927
Not too familiar with this part of the code, but could the issue be here: https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/hashtable_class_helper.pxi.in#L433? Can that comparison be short-circuited somehow by checking if `value` is identically `na_value2` _or_ equal to `na_value2`?

[2020-02-12 19:37] max-sixty commented on #27652
Yes, thanks @Dr-Irv . That narrows the gap, though not all the way: being able to specify the indexes without the context of the current indexes would be more declarative and clearer, particularly to a reader of the code.

[2020-02-12 19:59] jorisvandenbossche commented on #31927
Yes, that sounds correct (only that it's in the PyObect or String hashtable lower in the file, but with similar code)

[2020-02-12 20:03] jorisvandenbossche commented on #31909
As you can see from the different error message with pyarrow 0.16, you can see that it now fails in writing to parquet, and no longer in converting pandas to arrow (which has been implemented in pyarrow 0.16).

An issue for timedelta (duration in pyarrow) support in parquet writing already exists: https://issues.apache.org/jira/browse/ARROW-6780

[2020-02-12 20:05] ssche commented on #31912
With categorical array you mean `pd.Categorical`? But how can one retrieve that from a series or a dtype which is a property of the series.

I’m just trying to understand the design decisions to figure out how to use the `CategoricalDtype`, accessor or `Categorical`.

For instance, `CategoricalDtype` seems to be changing when one slices a series (the cardinality of the codes are). That’s rather un

[2020-02-12 20:28] endremborza commented on #31851
ok, so this test kills any possible change, and I dont really understand why this is how it currently works:

https://github.com/pandas-dev/pandas/blob/48cb5a9517d6b9e19cca306800453cc32e26cc5a/pandas/tests/series/test_apply.py#L290-L299

in the actual aggregate code, the try catch simply does not fail, and the .agg just reverts to apply.

https://github.com/pandas-dev/pandas/blob/48cb5a9517d6b9e19

[2020-02-12 20:30] endremborza commented on #31851
ok, so this test kills any possible change, and I dont really understand why this is how it currently works:

https://github.com/pandas-dev/pandas/blob/48cb5a9517d6b9e19cca306800453cc32e26cc5a/pandas/tests/series/test_apply.py#L290-L299

in the actual aggregate code, the try catch simply does not fail, and the .agg just reverts to apply.

https://github.com/pandas-dev/pandas/blob/48cb5a9517d6b9e19

[2020-02-12 20:33] alecbrooks commented on #29547
I'll take "pandas/io/sas/sas_xport.py".

[2020-02-12 20:50] UchuuStranger opened #31937 "Why does Series.transform() exist?"
This is my first issue on GitHub, so apologies in advance if there's something wrong with the format.

My issue does not have any expected output, I just really want to understand if and why the `Series.transform() ` method is not redundant. Overall, the `transform()` methods are very similar to `apply()` methods, and as I was trying to figure out what the difference between them is ([this](https:

[2020-02-12 21:08] TomAugspurger commented on #31912
`Series.array` gives the original Categorical array. It's impossible to get "an array from a dtype", since the relationship is the other way around. A Categorical array has a CategoricalDtype.

Can you give an example?

[code]

[2020-02-12 21:26] Liam3851 commented on #31937
Your observation 1 is wrong. Series.transform can also take a function that takes a Series. Your problem is that in your examples the return values have only two rows while your df had 4.

[code]

And you can also do multiple transformers:

[code]

Neither of those are available with `apply`.

[2020-02-12 21:30] MarcoGorelli commented on #31937
How about

[code]

[2020-02-12 21:38] Liam3851 commented on #31937
@MarcoGorelli The question was about `Series.transform`, which does not allow aggregator broadcasting, unlike `SeriesGroupBy.transform` (for which aggregator broadcasting is the main use case).

[code]

Admittedly it's unclear to me why `Series.transform` does not support aggregator broadcasting, since I thought the point of adding `agg`, `transform`, and `apply` was to mimic the groupby versions.

[2020-02-12 21:48] MarcoGorelli commented on #31937
@Liam3851 yes, you're right - will delete then as it's not relevant

[2020-02-12 21:55] UchuuStranger commented on #31937
@Liam3851 tried the first code. Fascinating. So the function treats the first "x" as a scalar but simultaneously treats the second "x" as a Series? How does it know which is which? Admittedly, when I tried to see what exactly get passed in the function, I did notice that there were [two prints](https://paste.pics/edit/ec9f96074a4b08cad5fec0ad46da08ae), and the second one was the entire Series for

[2020-02-12 22:09] #31879 closed

[2020-02-12 22:15] UchuuStranger commented on #31937
@Liam3851 I just realized that the first "x" is a Series too, and then the function just returns the resulting Series once. So I assume what it does is trying to work with "x" as a Scalar and when it fails, it imports the entire Series and works with "x" as a Series then?

[2020-02-12 22:19] mind6 commented on #31886
What if we define bool(pd.NA) t be pd.NA? would that make sense to propagate correctly?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Tom Augspurger<mailto:notifications@github.com>
Sent: Wednesday, February 12, 2020 5:06 AM
To: pandas-dev/pandas<mailto:pandas@noreply.github.com>
Cc: mind6<mailto:kirbyzhang@live.com>; Author<mailto:author@noreply.github.com>

[2020-02-12 22:35] ssche commented on #31912
`Series.array` does not give the original array, but the array given the current slicing (as per your example). I require the full mapping of label/array <-> code as per the initial creation of `Categorical` (regardless of slicing).

[code]
the mapping in `cat`, i.e. which ordinal number (code) maps to which label (category) is now lost or at least not maintained when slicing (`s[1:4]` does not ma

[2020-02-12 22:42] ssche commented on #31912
Actually, the dtype seems to remember at least the full list of labels after slicing
[code]

although this is a bit odd (not sure why the dtype object needs to change):

[code]

Anyway, a `s.dtype.codes` would be appreciated alongside the already existing `s.dtype.categories` (`Index(['a', 'b', 'c'], dtype='object')`).

[2020-02-12 23:10] TomAugspurger commented on #31912
Sorry, I don't know how to say it more clearly, but an `CategoricalDtype.codes` is impossible :)

[2020-02-12 23:29] ssche commented on #31912
Ok ;-)

Is there at least a reference to `pd.Categorical` maintained somewhere?

More of a general question: what are codes used for?

Would you accept a pull request to keep `codes` on `CategoricalDtype`?

[2020-02-13 00:24] jreback commented on #31912
@ssche codes is an attribute of the instance not of the dtypes as @TomAugspurger has mentioned several times

[2020-02-13 00:24] #31912 closed

[2020-02-13 01:04] WillAyd commented on #31937
This was implemented #14668 - you can see the reasoning in that and the associated notes if you want to see the history. Simply put, transform allows multiple functions as input

[2020-02-13 01:34] HH-MWB opened #31942 "Update docstring decorator from Appender and Substitution to doc"
We use to use `Appender` and `Substitution` decorators to share docstring cross functions. Now we implemented a new decorator `doc` for that use case, and it would simplify the reuse of docstrings.

The idea here is to replace `Appender` and `Substitution` with `doc` decorator, and move the shared docstring to a better place if possible.

#### Example

The original code will be look like this:
[co

[2020-02-13 01:35] 3vts commented on #29547
These are ready on #31933

"pandas/tests/frame/test_operators.py"
"pandas/tests/frame/test_reshape.py"
"pandas/tests/frame/test_timeseries.py"
"pandas/tests/indexes/datetimes/test_scalar_compat.py"
"pandas/tests/indexes/datetimes/test_tools.py"
"pandas/tests/indexes/interval/test_indexing.py"
"pandas/tests/indexes/interval/test_interval.py"

[2020-02-13 01:37] gao4263 opened #31943 "sort_index is different from before version"
[code]
####  version 1 output
D         C         B         A
2017-01-01 -1.418768  0.441179  0.668193 -0.883575
2017-01-02 -0.642718  0.406244 -1.558845 -0.050165
2017-01-03 -0.492745 -1.578937  0.829258 -1.092268
2017-01-04  1.113140 -2.376751  0.608188 -0.080518
2017-01-05  1.003710  1.969951 -1.583741 -0.610659
2017-01-06 -0.154932 -0.375000  0.179116 -0.294583

#### Expected Output
[code]

[2020-02-13 01:40] HH-MWB commented on #31942
take

[2020-02-13 01:46] #31943 closed

[2020-02-13 01:47] gao4263 commented on #31943
vscode format is wrong.

[2020-02-13 01:48] ssche commented on #31912
I understand that thanks for reiterating that - yet I am trying to find a solution for the problem of retrieving all the codes given the categories. The dtype contains *all* categories (regardless of slicing) but not their respective codes - isn't that a little inconsistent?

[2020-02-13 02:02] zzapzzap commented on #31050
I see. I hope there will be good results :)

[2020-02-13 02:06] jreback commented on #31912
really not sure what you are trying to do

everything is available on the series or the array

you might want to show what your actual problem is on stack overflow

[2020-02-13 02:14] ssche commented on #31912
unfortunately not. the original codes (from the definition of the categories `pd.Categorical.from_codes`) are not available, as least not when slicing.

I'm trying to "decorate" a series of ints (=code) with labels (categories) and wanted to use pandas' categories for that.

[2020-02-13 02:56] ahmadia opened #31944 "Errors in pandas._libs.lib.maybe_convert_objects leading to use of uninitialized memory"
#### Code Sample 1

[code]

#### Code Sample 2

[code]

#### Code Sample 3

[code]

#### Problem description

This problem was originally detected by @benfuja when he noticed inconsistent output in the `value_counts` function when `dropna=False` for otherwise Boolean arrays containing a `pd.NA` indicator. Code Sample 3 is Ben's original example showing the odd behavior (note that z1 is printed twi

[2020-02-13 06:10] 3vts commented on #29547
These are included in #31945

"pandas/tests/indexes/interval/test_setops.py"
"pandas/tests/indexes/multi/test_compat.py"
"pandas/tests/indexes/period/test_constructors.py"
"pandas/tests/indexes/timedeltas/test_constructors.py"
"pandas/tests/indexing/test_floats.py"

[2020-02-13 06:18] AlexKirko commented on #31930
The constructor argument-handling behavior is a problem.

I, however, disagree that constructing timezone-aware Timestamps should happen in two steps unless building from components. It would no doubt be much easier for us to support, but it looks like we are cutting functionality, because refactoring is painful.

Also, we should consider that this is how `tz_localize` currently localizes:

[code]

[2020-02-13 06:59] mroeschke commented on #31930
I tend to be more in the camp of `There should be one-- and preferably only one --obvious way to do it.` "Zen of Python" philosophy, so since it's possible to localize with both `tz=...` in the `Timestamp` constructor and `tz_localize` method, I'd prefer to only have the `tz_localize` methodology since it supports more edge case handling.

Refactoring/transition is painful, but I think it's worth

[2020-02-13 08:02] jorisvandenbossche commented on #31912
The mapping is simply the position (the order of the categories of the dtype). If you want to have an explicit "mapping":

[code]

[2020-02-13 08:16] #31881 closed

[2020-02-13 08:39] jorisvandenbossche opened #31948 "BUG: wrong errors when indexing with list that includes pd.NA"
Currently, indexing with a list including pd.NA (so the list version of indexing with a BooleanArray or IntegerArray) works on the array, but not on Series:

("works" = raising the correct error message)

[code]

vs

[code]

Because the validation of the indexer isn't yet updated to handle listlikes that include pd.NA.

[2020-02-13 08:40] jorisvandenbossche commented on #31948
Note that the version with an actual array or series of "boolean", this works already fine:

[code]

but for integer it is actually the same issue as for the list:

[code]

[2020-02-13 08:48] AlexKirko commented on #31930
It's a matter of opinion, I suppose. I believe that if something is a valid object belonging to a class, we should be able to make this object with the constructor unless there is a very good reason not to have this functionality.

We could argue that the user can just parse whatever input they have into components themselves and then build with our constructor, but I don't think that's an excuse.

[2020-02-13 08:50] MarcoGorelli commented on #31332
Thanks @dcsaba89 - TBH this sounds like a good idea to me. Is it something you're interested in working on?

@pandas-dev/pandas-core is this something pandas would consider accepting?

[2020-02-13 08:54] typorian opened #31949 "pandas.Dataframe.interpolate() does not extrapolate even if it is asked to, depending on interpolation method"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Some of the offered methods (it seems all of them that are provided by interp1d) are unable to extrapolate over np.nan. However, the limit_area switch for df.interpolate() indicates you can force extrapolation. A combination of limit_area=None and an incompatible method should raise a warning.

There used to be

[2020-02-13 10:47] thomas-reineking-jdas opened #31950 "BUG: groupby-nunique modifies null values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Original dataframe is modified:
[code]

Issue seems to have been introduced in version 1.0.0, 0.25.3 works as expected.

#### Expected Output
Original dataframe should not be modified.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python

[2020-02-13 10:56] MarcoGorelli commented on #31950
Thanks @thomas-reineking-jdas

[2020-02-13 11:06] JoKeyser commented on #24036
It seems to me, now that the [DOI](https://zenodo.org/record/3630805#.XjI9CyOIYdU) exists, this is a more proper way to cite than the link at https://www.scipy.org/citing.html#pandas. If this is correct, the latter link should be updated.
And to make it easy for people to cite, it would be nice to provide a file in the repo, and maybe a `<package>.__citation__` variable.

[2020-02-13 11:30] jreback commented on #31332
this is not backward compatible at all (at with keep=True)

you are doing a 1-many merge that is what you asked for; so now you want a 1-1 merge which is not the same

i think we have an old issue about this where we had a parameter that would validate the type of merge (1-1, 1-many etc) and validate if that matches your data

pls see if u can find and link this

[2020-02-13 11:34] jreback commented on #31930
pls don’t massively refactor in this PR
i think reviewing a refactor and add fold PR would never be merged

if we want to merge this with a little more review and then potentially do a refactor (likely in multiple steps) then ok with that

we have quite a large suite for Timestamp so not refacators should be easily possible

[2020-02-13 12:08] MarcoGorelli commented on #31332
yes, #27430

[2020-02-13 12:22] jreback commented on #31332
thanks for finding @MarcoGorelli

i like the idea of an explicit validation parameter on the type of merge; -0 in adding a keep parameter (default would have to be None)

[2020-02-13 13:40] mmccarty commented on #31944
@ahmadia - Thank you for the details!
@TomAugspurger - Can you advise on the proposed fix or point us to the right maintainer?

[2020-02-13 14:25] MarcoGorelli opened #31951 "merge coerces to left dtype even with how='right'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I don't know if this is an issue, it's just something I noticed while working on #31278 . The right value `1.0` gets coerced to the dtype of the left dataframe when using `how='left'`, and I would have expected the left value `1` to get coerced to the dtype of the right dataframe when using `how='right'`

#### E

[2020-02-13 14:29] resposit opened #31952 "Multiline pd.eval() seems to be broken"
#### Code Sample:

[code]
#### Problem description

[code]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 3.10.0-1062.9.1.el7.x86_64
machine          : x86_64
processor        : x86_64
byteorder        : li

[2020-02-13 14:57] MarcoGorelli commented on #31952
What do you mean by "broken" - did the example you provided used to work in previous versions?

It looks like you're trying to pass multiple expressions to `pandas.eval` - only a single one is allowed, however (it doesn't seems like this is currently documented in https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.eval.html - are you interested in submitting a PR?)

Finally, even wi

[2020-02-13 15:04] TomAugspurger commented on #31944
Thanks for the report. FYI, you *probably* want `Series([True, False, pd.NA], dtype='boolean')` to get our new nullable dtype rather than object dtype.

cc @jbrockmendel if you have thoughts on the proposed change to `Seen.numeric_`. I'm not personally familiar with it.

[2020-02-13 15:11] ivalaginja commented on #24036
Absolutely, the Scipy link should be updated. However, I would be hesitant to delete the pandas paper  from any citation instructions, since especially scientists usually get more credit for papers than software. That's a decision that the pandas team will have to make internally. And yes, I would update the "cite" section on https://pandas.pydata.org as well.
Personally, I recommend a plain `.txt

[2020-02-13 15:14] jreback commented on #24036
happy to take a PR to add a. txt for citation purposes (likely numpy / scipy have an example of how this could look)

[2020-02-13 15:35] resposit commented on #31952
Hi Marco,
I'm very new to pandas and don't know if this used to work in previous version.
Anyway, as far as I understood, you can actually pass multiple expressions (only assignements) to .eval() in a multiline string, as discussed here:
https://stackoverflow.com/questions/53779986/dynamic-expression-evaluation-in-pandas-using-pd-eval

[2020-02-13 15:35] ivalaginja commented on #24036
Interestingly, none of them do, as the scientific community often relies more on paper citations than actually giving credit to the software and its writers themselves (find the problem there :P).
There is a fitting package called [sherpa](https://github.com/sherpa/sherpa) that has a nice example of a `CITATION` file [on their repo on the master branch](https://github.com/sherpa/sherpa/blob/master

[2020-02-13 15:43] MarcoGorelli commented on #31952
Thanks @resposit - are you referring to the "Multiline Queries and Assignment" section?

If so, the command they give is a bit different - the following still works:
[code]

[2020-02-13 15:51] dwhswenson commented on #29814
One of my projects also got hit by this problem. I can confirm that @m7142yosuke's solution works for me. I implemented that solution as a monkey patch, and our tests pass again. https://github.com/dwhswenson/contact_map/pull/69

@m7142yosuke, do you want to make a PR of this? If you don't want to, I can start a PR. But you found the bug and found the solution; you should get the credit.

It looks

[2020-02-13 16:04] MarcoGorelli commented on #31413
Thanks @hvardhan20 - are you interested in submitting a pull request?

[2020-02-13 16:32] resposit commented on #31952
Hi @MarcoGorelli
yes I was referring to that section. I know they're using DataFrame.eval().
In fact, using DataFrame.eval() you can also simplify your code like this:
[code]
I'm instead interested in using pd.eval() which, in principal, should also support multiline assignements.

[2020-02-13 16:33] igorluppi opened #31954 "BUG: "cannot reindex from duplicate axis" thrown using unique indexes, duplicated column names and a specific numpy array values"
#### Code Sample

[code]

#### Problem description

It has a bug that combines numpy specific values and duplicated DataFrame column names when it's used a select operation, such as `df[df > 5]`. A exception is thrown saying "cannot reindex from duplicate axis", however It should not be, because:

- The DataFrame has no duplicated indexes ( `df.index.is_unique` is `True`)
- The DataFrame has dupli

[2020-02-13 16:50] igorluppi commented on #31954
Moreover, doing this:

[code]
So, it's 100% sure that we have no duplicates here, so what is going on?

[2020-02-13 16:59] MarcoGorelli commented on #31952
OK, yes - if
[code]
works, there's no reason why
[code]
(which is what you originally wrote - apologies) shouldn't.

Looking at the source code, I don't know if the fact that it doesn't is intentional, `pandas/core/computation/eval.py` contains:
[code]
which suggests that, if target isn't `None`, then multi-line expressions are expected work. Will look into it

[2020-02-13 17:05] lordgrenville commented on #18212
Hey, coming across this issue in 1.0.0 Since tseries no longer has a `converter` I tried to use

`from pandas.plotting._matplotlib import converter`
`converter.register()`

But I'm still getting invalid type promotion. Using a dataframe with a DateTimeIndex and 2 columns of floats.

[2020-02-13 17:20] MarcoGorelli commented on #31954
Thanks @igorluppi

I just tried
[code]

and got no error - could you give us some more details about your dataframe? Do you still get the error if you only consider its head, or if you only use (say) its first 5 columns?

[2020-02-13 17:28] igorluppi commented on #31954
I have many dataframes, and a put all of them in a single one:

I got this error using:
`df_final = pandas.concat(df_items, axis = 1) `

However I verified that
`df_final= reduce(lambda x, y: pandas.merge(x, y, left_index=True, right_index=True, how='outer'), df_items)`

Works fine, I got the same result DF and when I apply df_final[df_final>10] it works. But this method requires a long process to

[2020-02-13 17:36] MarcoGorelli commented on #31954
df_final = pandas.concat(df_items, axis = 1)

Sorry, I'm a bit confused, which command gave you the error - `pd.concat` or `df[df>10]`?

[2020-02-13 17:42] igorluppi commented on #31954
`pd.concat ` gave me the `df_final`, this df_final got that error when I use `df[df>10]`

[2020-02-13 17:57] Code4SAFrankie opened #31957 "to_sql defaults to cp1252 on Windows 10 instead of using UTF-8 as per dataframe and Oracle"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Pandas to_sql seems to default to cp1252 on Windows 10 instead of using UTF-8 even though the dataframe and Oracle database (AL32UTF8) uses UTF-8. It fails with the following error:

[code]

#### Expected Output
No errors with dataframe loaded in Oracle table.

#### Output of ``pd.show_versions()``

<details>

[

[2020-02-13 18:01] igorluppi commented on #31954
@MarcoGorelli I found the why the problem is happening but this implies in another problem regarding the exception I got. Give me a second

[2020-02-13 18:17] igorluppi commented on #31954
@MarcoGorelli "cannot reindex from duplicate axis" should be broken in two messages:
both "cannot reindex from duplicate index" and "cannot reindex from duplicate columns". I will explain why.

Why is that? Because all the messages and solutions I was looking for told me to took at the indexes, but in my case I found duplicated columns.

But why the second case worked? `reduce(lambda x, y: pandas.

[2020-02-13 18:22] MarcoGorelli commented on #31954
I can't reproduce this failure, even with duplicate columns:
[code]

Could you try to come up with a minimal reproducible example, or show us all the steps you've done in order?

[2020-02-13 18:31] MarcoGorelli commented on #31954
Thanks @igorluppi

tbh I still can't reproduce the error:
[code]

could you try coming up with a minimal reproducible example?

[2020-02-13 18:41] igorluppi commented on #31954
Ok, I will create a simple example

[2020-02-13 19:36] Code4SAFrankie commented on #31957
Minimal example to cause error:

[code]

[2020-02-13 19:49] igorluppi commented on #31954
@MarcoGorelli

[code]
[code]

Basically, using .5 or 0.5 in _numpy_ there breaks the _dataframe_ operation.

[2020-02-13 19:56] hvardhan20 commented on #31413
Yes @MarcoGorelli

[2020-02-13 19:58] dsaxton commented on #31950
I think this was caused by https://github.com/pandas-dev/pandas/pull/27951. Seems the values get mutated here: https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/generic.py#L596

[2020-02-13 20:04] WillAyd commented on #30848
Hmm I am not sure I understand the issue. Without specifying level the rename is applied to all levels - is that what you think is incorrect?

[2020-02-13 20:11] simonjayhawkins commented on #30848
yeah, would need to use a sentinel or something. None is a valid label. if level isn't specified should apply to all levels. but if level is explicitly passed None should operate on the level named None.

[2020-02-13 20:13] WillAyd commented on #30848
Ah OK I see what you are saying. There might be a meta issue for that already. I vaguely recall having discussions with either @TomAugspurger or @jorisvandenbossche about that back at last years dev meeting

[2020-02-13 20:59] zking1219 commented on #31522
I'm still seeing this error in `pandas-1.0.1`:

[code]

Any idea why this might still be happening? @TomAugspurger
It worked fine until `pandas-1.0.0`.

Thanks!

[2020-02-13 21:24] TomAugspurger commented on #31522
@zking1219 if you have a [minimal example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) I'd recommend opening a new issue.

[2020-02-13 21:27] zking1219 commented on #31522
I can see how that might help, I'll work on putting one together. Thanks!

[2020-02-13 21:35] 3vts commented on #29547
These are included in #31963

"pandas/tests/internals/test_internals.py"
"pandas/tests/io/excel/test_readers.py"
"pandas/tests/io/excel/test_style.py"
"pandas/tests/io/excel/test_writers.py"
"pandas/tests/io/excel/test_xlrd.py"
"pandas/tests/io/formats/test_console.py"
"pandas/tests/io/formats/test_to_html.py"
"pandas/tests/io/formats/test_to_latex.py"
"pandas/tests/io/generate_legacy_storage_file

[2020-02-13 21:51] andrewcooke opened #31964 "Reindex on nearest datetime gives UFuncTypeError - subtract with dtype('<M8[ns]') and dtype('O')"
#### Code Sample

[code]
#### Problem description

Running the above code gives:

[code]

This is a problem because it occurs in a larger dataset that I need to reindex.  It used to work fine with earlier versions of Pandas (although I do not know which, sorry).

#### Expected Output

Expected output would be something like

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</detai

[2020-02-13 21:55] mankoff opened #31965 "drawstyle with "step" or "step-mid" display error"
#### Code Sample, a copy-pastable example if possible

[code]

`df` is:

[code]
#### Problem description

For the first plot (`step`), the first data point (value 1) is not displayed, and I question the x-axis labeling. It implies that the value throughout the day of 01 Jan is 2, while the datafram suggests the value is 1 (assuming the value is carried forward from the timestamp until the next obs

[2020-02-13 21:58] andrewcooke commented on #31964
I just checked and the same error was present in 1.0.0 but not in 0.25.3 (which instead gives a warning about TZ related issues that I think is not directly relevant here?).

[2020-02-13 22:11] seberg commented on #31922
I hope this is fixed in master now, the whole issue is a bit more complex, but I *think* it should be generally safe now. But we have more issues around casting and ufunc execution when such errors occur, I hope you just do not notice it in practice, because those would not be fixed easily.

[2020-02-13 22:19] jorisvandenbossche commented on #31922
Thanks for the quick follow-up!
We run tests with numpy master, so we can add a test that is only run on that build, to check it is actually fixed.

[2020-02-13 22:31] m7142yosuke commented on #29814
@dwhswenson
Thank you for your comment.
I thought my solution was wrong, because no reply.
I want to make a PR

[2020-02-13 23:02] MarcoGorelli commented on #31950
@dsaxton yes, seems that you're right

[2020-02-13 23:03] MarcoGorelli commented on #31954
@igorluppi great, thanks! Could you edit this example into the original post?

[2020-02-13 23:25] extrospective commented on #22210
I am having a similar issue with to_sql against Microsoft Parallel Data Warehouse.  It seems likely a sqlalchemy issue and may have to do with metadata implementation for some flavors of SQL.  Interested if others learn more.

[2020-02-14 00:17] elikesprogramming opened #31966 "sluggish `read_pickle` on pandas 1.0 ?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Suddenly it takes 14-18 minutes to read a mid-size (2.1 GB) pickle file after upgrading to pandas 1.0.
Pandas 0.25 can read the very same file in 90 seconds (the file was created using pd.to_pickle a couple of months ago using pandas 0.25).

To try to make sure it has to do with Pandas 1.0, I created a couple o

[2020-02-14 00:36] ssche commented on #31912
Thanks @jorisvandenbossche - that's very interesting. I assumed one could "map" arbitrary codes to categories, but `cat = pd.Categorical.from_codes([-1, 8, 5, 3, 7], ['-', 'a', 'b', 'c', 'd'])` which I hadn't tried before raises a "ValueError: codes need to be between -1 and len(categories)-1" which makes sense with your comment in mind. The purpose of `pd.Categorical.from_codes` seems be to defin

[2020-02-14 01:04] TomAugspurger commented on #31966
Can you reproduce this with random data mimicking your dtypes? And can you profile where time is spent?

If you’re hitting our comparability code for moved classes / modules then things will be slower.

[2020-02-14 01:47] WillAyd commented on #31937
Closing as I don't know if there is anything to be done here, but if you disagree can certainly reopen. Thanks!

[2020-02-14 01:47] #31937 closed

[2020-02-14 01:57] 3vts commented on #29547
These are included in #31967

"pandas/tests/io/parser/test_c_parser_only.py"
"pandas/tests/io/parser/test_common.py"
"pandas/tests/io/parser/test_compression.py"
"pandas/tests/io/parser/test_encoding.py"
"pandas/tests/io/parser/test_multi_thread.py"
"pandas/tests/io/parser/test_na_values.py"
"pandas/tests/io/parser/test_parse_dates.py"
"pandas/tests/io/parser/test_read_fwf.py"
"pandas/tests/io/pyt

[2020-02-14 02:35] igorluppi commented on #31954
@MarcoGorelli

For sure, it's done my friend!

[2020-02-14 06:09] AlexKirko commented on #31930
@mroeschke @pganssle
I apologize if I sounded a bit paranoid: #31563 has made me wary of us getting bogged down, so I'd prefer if we broke up the Timestamp refactor as much as it is reasonable.

Now that I reread the discussion, looks like that's what you intend too.

[2020-02-14 08:16] BayerSe opened #31971 "shift() broken for datetime64 when used with fill_value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Above code snippet works on version 0.25.3 but breaks with 1.0.1.

[code]

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-72-generic

[2020-02-14 08:37] elikesprogramming commented on #31966
Sure, I'm taking a long flight and I guess I can play around with it to reproduce the issue with random data.

Meanwhile, I did a quick test and it turns out if you read the file with pandas 1.0 (waiting the 15 minutes or so), then save it again using `to_pickle` and then read this new generated file, it runs quickly again (circa 90 seconds).

Interestingly, the file size is **exactly** the same (

[2020-02-14 09:20] JulianWgs opened #31972 "Boolean diff is slower than float, int diff"
#### Code Sample

This code in Google Colab (Jupyter Notebook/Lab):
[code]
Creates the following output:
[code]
#### Problem description

The diff function on a boolean series is about four times slower than on an integer or float series. This behavior is not reproducable in numpy, where diff on a boolean series is the fastest. Right now it is even faster to convert the boolean series to integer,

[2020-02-14 10:34] nsharma981 commented on #13822
Hi, I am new to Python and i am Using Python 3.7.3 64-bit | Qt 5.9.6 | PyQt5 5.9.2 | Windows 10
PANDAS(0.24.2).
I was practicing Data/File Handling things. I Was loading file and post which i wanted to convert float columns in to specific 2 decimal . I did google and found this below code which works
**pd.options.display.float_format   = lambda x : '{:.0f}'.format(x) if round(x,0) == x else '{:,.2

[2020-02-14 10:44] MarcoGorelli commented on #31950
I think the problem might stem from this:
[code]

Can push a fix which removes
[code]
but it'll require pushing the minimum numpy version up

[2020-02-14 10:59] jreback commented on #31950
cc @jbrockmendel @WillAyd

[2020-02-14 11:07] jorisvandenbossche commented on #31971
@BayerSe thanks for the report!

I vaguely seem to remember some changes related to `fill_value` for datetimelikes (cc @jbrockmendel ?), eg to start requiring an actual timestamp, but the above also doesn't seem like very useful behaviour.

[2020-02-14 11:07] glyg commented on #31763
Hi, I'm posting this here because it seems related. since 1.0.1, `loc` doesn't preserve data types with a single index from a mixed datatypes dataframe:

[code]
Should I open an issue, or is this an different manifestation of the problem discussed here?

[2020-02-14 11:12] jorisvandenbossche commented on #31971
Caused by https://github.com/pandas-dev/pandas/pull/28852: I suppose the change was done on purpose, but it also didn't explicitly test that change or have a mention in the whatsnew

[2020-02-14 11:17] glyg commented on #31763
It is true also in 0.24.1, it seems that what changed was the behavior of the `replace` method downstream in my code.

[2020-02-14 12:32] jorisvandenbossche commented on #31964
This doesn't raise an error anymore on master. But didn't check the 1.0.x branch yet. So we should check that, or otherwise find the commit on master that fixed it (and backport that), and add a test for it.

[2020-02-14 13:21] TomAugspurger commented on #31972
They're doing different things. `np.diff` changes the shape of your array. pandas' preserves the shape and pads with a missing value, which is necessarily going to be slower.

Additionally, for bool dtype, pandas will cast from bool to object, to preserve the values (since bool can't hold NaN). You can use the new nullable `boolean` data type to avoid this.

I'd recommend profiling things to see w

[2020-02-14 14:12] jorisvandenbossche commented on #31972
And the new `boolean` type that @TomAugspurger mentioned is a lot faster (as it can preserve the dtype):

[code]

[2020-02-14 15:44] TomAugspurger commented on #31964
Is this fixed by https://github.com/pandas-dev/pandas/pull/31511? That wasn't backported to 1.0.x.

[2020-02-14 15:49] MalteMax opened #31976 "wide_to_long with NaNs in i argument"
#### Code and output:

[code]
#### Problem description

df1 has one NaN in the id column. When applying `wide_to_long` to df1, `wide_to_long` seems to fill the NaNs from df1 with the preceding value from the df1 dataframe (namely, **a**).

Why might this be a problem: instances of `id == 'a'` in df1 are not the same as in df2 (because the NaNs from df1 have been replaced by **a** in df2):

[code]

[2020-02-14 15:51] pganssle commented on #31930
@jreback I think you are responding on the wrong issue, this is not the "add `fold`" issue or PR.

[2020-02-14 15:54] fisheye36 opened #31978 "Pandas breaks warnings module when printing DataFrame"
[code]
#### Problem description

As you can see from the interactive Python listed above, when `DataFrame` is printed, suddenly all calls to `warnings.warn()` are being reported, instead of being suppressed when identical warning is issued.

The problem does not occur on Pandas version `0.25.3`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2020-02-14 16:38] fallenreaper commented on #11704
I have a Dataframe i was planning to use with ewm, but it seems that when I say:

```dt["myCol"].ewm(span=21, ignore_na=true)```

it will tell me to come to this Github error.  Is there a new way we should be doing this, in either 0.25.0 or 1.0.1?

[2020-02-14 17:03] AlexKirko opened #31979 "CI: macOS py36_macos build fails"
#### Problem description

Currently macOS py36_macos Azure pipeline fails with this build error:

[code]

Seen on #31563 and #31977

[2020-02-14 17:21] 3vts commented on #29547
These are included in #31980

"pandas/tests/io/pytables/test_timezones.py"
"pandas/tests/io/test_html.py"
"pandas/tests/io/test_stata.py"
"pandas/tests/resample/test_period_index.py"
"pandas/tests/reshape/merge/test_join.py"
"pandas/tests/reshape/merge/test_merge.py"
"pandas/tests/reshape/merge/test_merge_asof.py"
"pandas/tests/reshape/test_melt.py"
"pandas/tests/reshape/test_pivot.py"
"pandas/tes

[2020-02-14 17:28] mvcalder-xbk opened #31981 "Segfault in version 1.0.1, read_parquet after creating a clickhouse odbc connection"
We started getting segfaults in upgraded versions of pandas and tracked it down to an interaction with making odbc connections. The specific odbc driver is for Clickhouse built in Dec19 from:

[code]

The core dump is reproducable in the example below:

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the code above, creating the clickhouse odbc connection

[2020-02-14 17:52] MarcoGorelli commented on #31979
Seems to be working now, at least on #31795

[2020-02-14 17:53] AlexKirko commented on #31979
Seems to have recovered. Closing.

[2020-02-14 17:53] #31979 closed

[2020-02-14 18:24] UchuuStranger commented on #31937
@WillAyd The proof that the methods can show different behavior after all was given, so the issue can be considered closed, yes. But if possible, I'd still like to know a) how `transform()` decides whether to pass a scalar or a Series, and b) what's the purpose of passing Series if whatever the function does can be done directly on a Series without using `transform()` at all.

I appreciate your li

[2020-02-14 19:11] raybellwaves opened #31983 "DOC: pivot_table example"
The documentation for pivot table seems limited https://pandas.pydata.org/pandas-docs/version/0.17/generated/pandas.pivot_table.html

It doesn't show how `df` was generated. In addition, should pivot_table be `pd.pivot_table`.

[2020-02-14 19:40] langhimebaugh opened #31985 "Error running pd.show_versions()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Was trying to import xlsb file...
pd.read_excel('my_file.xlsb', engine='pyxlsb')
when i received this error:
ImportError: Can't determine version for pyxlsb

Next, I tried pd.show_versions() and received the same error after restarting the kernel and running these two lines...
import pandas as pd
pd.show_version

[2020-02-14 19:49] 3vts commented on #29547
These are included in #31986

"pandas/tests/scalar/timestamp/test_constructors.py"
"pandas/tests/scalar/timestamp/test_rendering.py"
"pandas/tests/scalar/timestamp/test_unary_ops.py"
"pandas/tests/series/methods/test_nlargest.py"
"pandas/tests/series/test_analytics.py"
"pandas/tests/series/test_api.py"
"pandas/tests/series/test_dtypes.py"
"pandas/tests/series/test_ufunc.py"

[2020-02-14 20:06] charlesoblack opened #31987 "Feature request: option to set week starting on Sunday instead of Monday"
#### Problem description

Currently, calling `pd.Series.dt.weekday` returns Monday = 0, Sunday = 6. It would be nice to have a settable option that allows Sunday to be the beginning of the week, e.g.

[code]

Pandas version 1.0.1.

[2020-02-14 22:10] ashimahorra commented on #21651
Im getting the same error:ValueError: Key 2014-09-07 00:00:00 not in level Index([2012-09-07, 2013-01-01, 2013-02-25, 2013-03-06, 2013-03-28, 2013-04-02,
Code:
pd.pivot_table(ae_df,index = ["USUBJID","AESTDTC"], columns = ["AEHLGT"], values = ["AETOXGR"], aggfunc = "max")#.groupby(["USUBJID","AESTDTC"]).agg("sum").reset_index()

Data:

USUBJID | AESTDTC | AEENDTC | AETERM | AELLT | AEHLT | AEHLGT

[2020-02-14 22:23] pedroreys opened #31988 "Error in `read_pickle` when loading a DataFrame with MultiIndex columns from a pickle created in py27"
Calling `read_pickle` to load a DataFrame with MultiIndex columns from a pickle file created in py27 throws an error saying:

This issue was introduced by #28645, more specifically by [this change](https://github.com/pandas-dev/pandas/pull/28645/files#diff-7ecbc1597b1273ca207747232d64edad):

[code]

Note how before when there was an Exception trying to load the file with the builtin `pickle.load`

[2020-02-14 22:50] naomi172839 commented on #31987
I would be willing to work on this if it is something that others are interested in.  That being said, while it is obviously less than ideal, it seems that it would be an easy to work around it in your code.

[2020-02-14 22:56] charlesoblack commented on #31987
It is an easy workaround - but pandas is all about convenience, right? ;)

Here's what I'm currently doing:

[code]

[2020-02-14 23:20] WillAyd commented on #31985
Pandas needs at least pyxlsb 1.0.5 installed - what version do you have?

[2020-02-14 23:22] WillAyd commented on #31981
Do you have the same issue with a stable version of pyarrow? We don't have a lot of C++ internally so I think root cause *might* be elsewhere

[2020-02-15 00:03] 3vts commented on #4694
Is this still an ongoing effort? I would like to give it a try

[2020-02-15 00:30] jreback commented on #31981
this is from pyarrow

pls open an issue there

[2020-02-15 01:21] SaturnFromTitan opened #31989 "pandas/conftest.py refactoring"
As stated in [this review comment](https://github.com/pandas-dev/pandas/pull/31701#pullrequestreview-359291503) from jreback, we should address some refactoring issues in `pandas/conftest.py`:
- [x] create the indices fixture using `tm.all_index_generator` as suggested [by jbrockmendel in this comment](https://github.com/pandas-dev/pandas/pull/31701#discussion_r378532760)
- [x] all fixtures and fu

[2020-02-15 01:22] SaturnFromTitan commented on #31989
If somebody wants to look into any of these, please feel free to do so. If no one does so, I'll probably take it in the coming 2 weeks.

[2020-02-15 02:41] brandon-rhodes commented on #4694
@3vts Feel free to give it a try! I did not wind up with time to make progress on it, and my guess is that the project I was on that needed the extra performance found a workaround. To be honest, I had, alas, forgotten all about it in the intervening years.

[2020-02-15 05:07] rushabh-v commented on #31787
Oh yes, I was using jupyter notebook. And it works fine when I first run %matplotlib.
I am closing this issue.

[2020-02-15 05:07] #31787 closed

[2020-02-15 05:48] langhimebaugh commented on #31985
Thanks for the response.  About 2 hours before your reply, I installed anaconda, conda update --all
then pip  install pyxlsb and all works fine now.  I do think I had pyxlsb 1.0.5 installed but not sure because it was installed about 4-5 months ago.

[2020-02-15 05:48] #31985 closed

[2020-02-15 05:50] dsaxton opened #31990 "How should isin behave with pd.NA?"
[code]

I think a case could be made that the actual output is not correct in these cases, and that both should return the nullable boolean `pd.Series(pd.array([True, True, pd.NA]))`. In the first case we don't know that `"c"` _is not_ in `arr`, and in the second case we don't know if `pd.NA` happens to be `"a"` or `"b"`, so again we should have `pd.NA`.

This is obviously an edge case but may be

[2020-02-15 05:52] jreback commented on #31990
can show a similar example with a float array with np.nan

[2020-02-15 08:01] AlexKirko opened #31992 "COMPAT: numpy dev version raises new errors during CI"
### Problem description

Looks like something has been changed in numpy, and we now get new errors when running that Numpy dev pipeline during CI. This happens regardless of PR (saw it in #31563 and #31991). Seems to be centered around cumsum and division by nan, but I don't have the time to delve deeper atm.

One of the errors below:

[code]

[Link](https://dev.azure.com/pandas-dev/pandas/_build/

[2020-02-15 08:15] rushabh-v commented on #31783
I looked the docs of the `read_excel`.
It says that it can only be `int` or a `list of ints`. See,
[code]

But the None case is not being checked there. I think we should check and raise an error for `header=None` case.

I will be opening a PR soon.

[2020-02-15 08:31] jorisvandenbossche opened #31994 "WEB: the donate page is not loading correctly"
For me, the donate page (and specifically the donate widget) is not loading:

![image](https://user-images.githubusercontent.com/1020496/74584748-e06ba200-4fd5-11ea-9dbc-61dbf0c564f8.png)

It just keeps saying "loading" for me.

[2020-02-15 08:44] andreamoro commented on #31682
I've got the same error a moment ago when importing Seaborn. I've previous notebook where this working fine, and the only variable changed since then is the new version of Pandas now move into the 1.X side.

I'd assume that future warning is due to Pandas then, with Seaborn referencing some that will be sooner dismissed.
I cannot see an harm in the short term, but somebody managing the Seaborn pac

[2020-02-15 08:50] jorisvandenbossche commented on #31990
Yes, I think we should indeed propagate the NA here, similarly how we do it with other operations that result in booleans (like comparisons).

And the result here should indeed also be a nullable boolean anyway (even when not propagating the NA), as we should try as much as possible return nullable dtypes from opertations with columns with nullable dtypes.

[2020-02-15 08:52] jorisvandenbossche commented on #31989
What do you mean with this?

[2020-02-15 08:54] jorisvandenbossche commented on #31988
Thanks for the report, and the analysis! PR very welcome

[2020-02-15 08:56] jorisvandenbossche commented on #31981
Are you using the same pyarrow version in both environments?

[2020-02-15 09:01] jorisvandenbossche commented on #31682
Yes, on the short term, this is nothing to worry about (although annoying to see), as it are warnings not errors.
But it's seaborn that will need to update their imports to fix this (and I see you already opened an issue there).

[2020-02-15 09:02] jorisvandenbossche commented on #31682
Going to close this issue, as there is no action to be taken by pandas.

[2020-02-15 09:02] #31682 closed

[2020-02-15 09:06] jorisvandenbossche commented on #31978
Can you show the result of `pd.show_versions()` for both cases (for pandas 1.0 and pandas 0.25.3)? To check that there are no other differences between both environments

[2020-02-15 09:11] jorisvandenbossche commented on #31978
BTW, I can't reproduce this with pandas master on Python 3.7, and also not with pandas 1.0.0 on Python 3.8

[2020-02-15 09:16] nsiregar commented on #31994
[donation page](https://pandas.pydata.org/donate.html) seems to load data from salsalabs.org, is your network blocking salsalabs domain?

[2020-02-15 09:33] nsiregar commented on #31983
looks like its been updated in https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html?highlight=pivot_table#pandas.DataFrame.pivot_table

[2020-02-15 09:36] jorisvandenbossche commented on #31994
The actual webpage is working fine for me (https://numfocus.salsalabs.org/donate-to-pandas/index.html), but the widget not. Turning off blocking of trackers etc in my browser also doesn't help.

[2020-02-15 09:37] jorisvandenbossche commented on #31994
Although it is probably related to firefox, as in Chromium it displays fine.

[2020-02-15 09:40] simonjayhawkins commented on #31989
we could consider adding a code check rule to enforce this. IIUC pytest already prohibits importing fixtures, but currently nothing stops us importing variables.

in general, when doing this, it's probably an indicator that the fixtures are not used correctly (or in some cases maybe not designed appropriately)

[2020-02-15 10:43] panjacek commented on #29547
Added my first pull request with this https://github.com/pandas-dev/pandas/pull/32007:
pandas/tests/frame/test_to_csv.py

[2020-02-15 10:44] giuliobeseghi commented on #22384
Just a few comments on this, not sure if they're helpful.

### Input parameters
`pd.Categorical` and `astype` are not equivalent. You can't pass any "input" argument to `astype` ("input" defined as an argument that influences the conversion, like `categories` or `ordered` in `pd.Categorical`).

Should these arguments be allowed with `astype` (possibly as `args` and `kwargs`)? Probably not, because

[2020-02-15 11:04] asepwhite opened #32013 "pandas.index.copy remove index name information when specifying new dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When set new dtype parameter in function pandas.index.copy somehow it remove name information on new object

#### Expected Output

Float64Index([17.3, 69.221, 33.1, 15.5, 19.3, 74.8, 10.0, 5.5], dtype='float64', name='old_name')

Int64Index([17, 69, 33, 15, 19, 74, 10, 5], dtype='int64', name='new_name')

Int64I

[2020-02-15 11:51] pavlovdog opened #32020 "Protecting sensitive columns while displaying data-frames at Jupyter notebook (feature request)"
Hi there!

Right now I'm working with pretty sensitive data - phone numbers, usernames, personal names and so on. Also, I'm using Jupyter notebooks for making reports and share the results with my colleagues. Tell me please - is it possible to specify some displaying settings, so some columns will be censored?

# Example

So the following command:

[code]

will become something like

[code]

# PR

[2020-02-15 12:37] oarcher opened #32023 "Unable to add Timedelta to a Timestamp Interval"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

From the [pd.Interval documentation](https://pandas.pydata.org/pandas-docs/version/1.0.1/reference/api/pandas.Interval.html):

However , we can apply the + operation manually on each bounds:
[code]

#### Expected Output

The same as the manual operation on each bounds:

[code]
#### Output of ``pd.show_versions(

[2020-02-15 13:01] TomAugspurger commented on #22384
You would astype to a CategoricalDtype, not Categorical.

[2020-02-15 13:09] raybellwaves commented on #31983
Thanks. Apologies. Old docs.

[2020-02-15 13:09] #31983 closed

[2020-02-15 13:30] giuliobeseghi commented on #22384
Ok, I got confused with `pd.Categorical`. Sorry for that!

[2020-02-15 13:52] MarcoGorelli commented on #32020
Thanks @pavlovdog

It's not clear to me that you need a new feature for this -  if you have
[code]
you could just do
[code]

[2020-02-15 14:16] TomAugspurger commented on #31987
We typically don’t have options that alter the behavior of computation. This option would require all downstream libraries to be aware that the mapping between days and integers could change, which doesn’t seem worthwhile.

[2020-02-15 14:31] jorisvandenbossche commented on #31989
We also define variables (constants) in conftest.py that are used in tests, and those are not always fixtures and thus need to be imported.

BTW, importing from conftest.py is much easier to understand/find and more explicit than the magic of pytest.

[2020-02-15 14:38] jreback commented on #31989
we should never import from conftest for any reason

it is non idiomatic ; and very arbitrary
everything is a fixture

[2020-02-15 14:39] jorisvandenbossche commented on #31989
You maybe want that, but it's not the reality ;)

[2020-02-15 14:42] jreback commented on #31989
exactly so why exacerbate it - we need a path to consistency - this is it

[2020-02-15 15:11] GYHHAHA opened #32026 "What's the difference between Timedelta and DateOffset on Earth?"
After reading the docs, still I feel confused about the difference between the Timedelta and DataOffset.
[code]
It seems to be completely the same.
And I also find the difference appears when it involves a certain time zone operation.
[code]
Therefore, how to tell the difference from these two concepts in a more explicit way?
Thanks for your answer!!!

[2020-02-15 16:20] MarcoGorelli opened #32028 "Should I be able to initialise a Series with a pandas array and pandas dtype?"
#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``

(something's wrong here)
<details>

INSTALLED VERSIONS
------------------
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}

{k:<17}: {stat}
{k:<17}: {stat}
{k:<17}: {stat}

[2020-02-15 16:30] charlesoblack commented on #31987
This is a locale setting in most other libraries, however. The standard
datetime library allows for locale changes. Plus, pandas changes the API
all the time with every version - why not have a "deprecation-style"
warning that the numbering might be different in the future?

We already allow for different datetime displays, although this doesn't
affect computation.

On Sat, Feb 15, 2020, 9:16 AM T

[2020-02-15 16:54] jreback commented on #31987
this is a very odd comment; pls try to be constructive

[2020-02-15 17:06] charlesoblack commented on #31987
Sorry - let me try to elaborate.

Pands' API changes a lot with every version, so I don't think the argument
that downstream libraries that depend on pandas being aware of changes in
the pandas API holds much water. Most of the time, they need to be aware of
changes anyway, e.g. keyword changes or function deprecations or accessor
deprecations.

Following a deprecation-style warning saying "hey, t

[2020-02-15 18:07] #31919 closed

[2020-02-15 19:02] mroeschke commented on #32026
As mentioned in the Overview in the Time Series docs, https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#overview, `DateOffset` respect calendar arithmetic while `Timedelta` respects absolute time arithmetic.

As you note, this matters with timezones. `pd.DateOffset(days=1)` increments a date by 1 calendar day (23, 24, or 25 hours depending on day light savings time). `pd.Time

[2020-02-15 19:02] #32026 closed

[2020-02-15 19:54] 3vts commented on #29547
These are included in #32032

"pandas/tests/test_downstream.py"
"pandas/tests/test_multilevel.py"
"pandas/tests/tools/test_numeric.py"
"pandas/tests/tseries/frequencies/test_inference.py"
"pandas/tests/tslibs/test_parse_iso8601.py"
"pandas/tests/window/moments/test_moments_rolling.py"

[2020-02-15 20:09] pcandoalmeida commented on #29547
This file is included in #32029:
* pandas/tests/arrays/categorical/test_analytics.py

[2020-02-16 03:12] dsaxton commented on #32013
Thanks, this looks like a bug

[2020-02-16 06:57] Mojahid-Ahmad commented on #18842
Thanks, man you saved my time

[2020-02-16 07:43] navado opened #32037 "Roundtrip JSON serialization doesn't preserve string type"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
**string** dtype not preserved with round trip serialization to JSON, so dataframes containing strings cannot be reused transparently

#### Expected Output
[code]
#### Actual output
[code]
#### Output of ``pd.show_versions()``

<details>
{'dirty': False, 'error': None, 'full-revisionid': '29d6b0232aab9576afa896

[2020-02-16 09:51] xushengun opened #32038 "HDFStore dropna=True"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
'dropna=True' can't work .

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder

[2020-02-16 10:11] jreback commented on #32038
show the output of the reads; dropna just doesn’t write all nan rows

we should probably just deprecate this option in any event

[2020-02-16 10:37] MarcoGorelli commented on #32037
Thanks @navado

I don't believe `DataFrame.to_json` was ever intended to store metadata. Have you tried with `to_parquet`?

[2020-02-16 10:57] xushengun opened #32039 ""Querying a table" within Sector HDF5 in User Guide"
#### Code Sample, a copy-pastable example if possible

string = "HolyMoly'"
store.select('df','index == string')

[code]

[2020-02-16 11:20] MarcoGorelli commented on #31777
take

[2020-02-16 12:41] MarcoGorelli commented on #32039
Thanks @xushengun

The following works for me:
[code]

Seems that there's a typo in the user guide:
[code]
instead of
[code]
, are you interested in submitting a pull request to fix it?

[2020-02-16 13:28] jorisvandenbossche commented on #32028
PandasDtype is not really meant for direct public use (they are also never actually stored in a Series, only created when we need to return an ExtensionArray).

But in general, yes, you should be able to use such arrays and dtypes. Eg this works:

[code]

[2020-02-16 13:29] jorisvandenbossche commented on #32028
But so there are still several missing things in `astype` support for extension arrays, eg https://github.com/pandas-dev/pandas/issues/22384, https://github.com/pandas-dev/pandas/issues/31204, ..

[2020-02-16 14:26] dsaxton commented on #31992
It seems like the CI stills fails sometimes after https://github.com/pandas-dev/pandas/pull/32025 but now perhaps because the tests _pass_ unexpectedly? Not sure what's going on exactly, but does that mean we have to specify that the xfail isn't strict? Here's a pipeline failure after the xfail change: https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=28705&view=logs&j=3a03f79d-0b41-5

[2020-02-16 15:02] simonjayhawkins commented on #31992
@dsaxton see #32031 for follow-up PR, although having strict=False is not ideal to be able to keep track, so may be better to track down the underlying issue.

[2020-02-16 15:37] dsaxton commented on #31992
Ah, sorry missed that one

[2020-02-16 15:44] roberthdevries commented on #29916
I get the impression that there are two distinct users of the `.keys()` and `.groups()` methods:

1. the `read_hdf()` method that is only interested in pandas specific groups
2. the users who want to use the `.get()` method to retrieve individual tables from an HDF5 file created by other software than pandas.

User #&#8203;1 is probably the one that was hit by the performance bug of tickets  #2154

[2020-02-16 15:45] RaisaDZ commented on #31942
Hi, I tried to make changes to file pandas/core/indexes/extension.py

-from pandas.util._decorators import Appender, cache_readonly
+from pandas.util._decorators import cache_readonly, doc, Appender
-    @Appender(Index.dropna.__doc__)
+    @doc(Index.dropna)

and had the following error

$ python make.py --single pandas.core.indexes.extension.ExtensionIndex.dropna
Traceback (most recent call last

[2020-02-16 16:06] jreback commented on #29916
we are not going to add methods, but wouldn’t object to a filter keyword to defaults to the current behavior

[2020-02-16 16:26] TomAugspurger commented on #31987
What libraries? Our Timestamp is a datetime.datetime subclass. From [what I can tell](https://docs.python.org/3/library/datetime.html#datetime.date.weekday), that doesn't allow configuring the start day.

[2020-02-16 16:49] HH-MWB commented on #31942
Hi @RaisaDZ. This is because the base function didn't use doc decorator, but PR #31970 would fix this kind of issue.

[2020-02-16 18:36] WillAyd commented on #32037
Have you tried orient=“table”? That does store metadata about the dtypes so is the best bet for round tripping

That said, better inferencing is possible generally so I think would accept a PR to do this

[2020-02-16 19:01] charlesoblack commented on #31987
You're correct in that `date.weekday()` returns the same output as pandas currently does - however, `datetime` also allows for `strftime()` to be called with `%w` for Sunday-first (or compare `%W` and `%U`). Is this the recommended route when dealing with pandas datetimes, too? It seems silly to convert to string then back for a library meant for efficiency, but I'll accept it as long as it works.

[2020-02-16 19:10] st-bender commented on #29916
Hi,
Thanks for looking into it.

Shouldn't nr. 2 be the majority of use cases?
I mean when using hdf5 files form some source, you can't really expect them to be created by pandas or pytables. Manually iterating over the nodes and hence duplicating the code from the pandas source for those cases seems somewhat counterintuitive.

It can also just be a documentation issue, people should be aware that

[2020-02-16 20:02] patrickdevivo commented on #31560
I just wanted to circle back here with some updates! The new view I mentioned has been launched: https://www.tickgit.com/browse?repo=github.com/pandas-dev/pandas with a card layout that should hopefully be clearer to read than the previous table layout. Cards also include a button to make a Github issue directly from a TODO.

Pretty soon there will be more advanced filtering options as well, allow

[2020-02-16 20:27] roberthdevries commented on #29916
The current behavior of `keys()` and `groups()` is different from the behavior in version 0.23.3, so it depends on the point of view which behavior is the desired one.
The documentation is not really clear what can be expected from the `keys()` method. Also the iterator method `__iter__()` (undocumented btw) which uses the `keys()` method, does not return any data objects. So all in all there is n

[2020-02-16 20:50] navado commented on #32037
@WillAyd - yes, it's the first print in the issue.

@MarcoGorelli - to_parquet (and most of other to_smth) functions require dealing with storage when to_json is easily applicable to prepare dataframe for sending over the network.

In general it's kind'a undetectable not to support to store metadata in such flexible format as JSON. It's not a compatibility issue (or I'm not aware of such).

Additi

[2020-02-16 21:02] smartvinnetou commented on #29547
File included in https://github.com/pandas-dev/pandas/pull/32044
- scripts/find_commits_touching_func.py

[2020-02-16 21:40] WillAyd commented on #32037
Ah sorry misread that. At the very least orient="table" should be able to preserve this, so would certainly take a PR to fix that

Not sure on the rest just yet - we for most IO right now don't infer extension types like "string" automatically but it is something we have talked about as a team.

@jorisvandenbossche

[2020-02-16 21:47] jorisvandenbossche commented on #32037
As long as the string dtype is not the default, we can't infer it from a file format that has no type information (like json). There has been discussion about adding a keyword to specify you want the new dtypes, see https://github.com/pandas-dev/pandas/issues/29752.

Specifically for the JSON table format: that format indeed includes some type information. However, pandas itself doesn't specify th

[2020-02-16 21:49] #28143 closed

[2020-02-16 21:50] #20820 closed

[2020-02-16 21:50] #18748 closed

[2020-02-16 22:06] WillAyd commented on #32037
Table should work - we actually write that it is a string dtype just something off with the reader

[2020-02-16 22:19] roberthdevries commented on #29916
What about adding a `kind` parameter to the `keys()` method? The default value would be `"pandas"` and produces the existing behavior. The proposed other value is `"table"` which will return the list of Tables in the HDF5 file. This could be further extended with other node types, but they might be less relevant as they cannot be converted to `DataFrame`s

[2020-02-16 23:03] yogendrasoni79 opened #32045 "Unable to Install Pandas on Python 3.9.0a3"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Keep getting message still running.. but no luck
PS C:\Windows\System32\WindowsPowerShell\v1.0> pip install pandas
Collecting pandas
  Downloading https://files.pythonhosted.org/packages/02/c3/e8c56de02d6c52f8541feca2fd77117e8ae4956f7b3e5cdbed726624039b/pandas-1.0.1.tar.gz (4.9MB)
  Installing build dependencies

[2020-02-16 23:53] jreback commented on #32045
well you have to build numpy and cython first which likely don’t work yet

so this is very premature

[2020-02-16 23:55] yogendrasoni79 commented on #32045
Thanks for quick response, i am new to this so could you please share any references url to guide me

[2020-02-16 23:59] jreback commented on #32045
no idea -

[2020-02-17 00:01] danjglick commented on #32039
take

[2020-02-17 00:58] jbrockmendel commented on #31989
+1 for not-magic.

If there's something we need in conftest and want to be able to import, let's just put it in pandas._testing or something

[2020-02-17 02:43] WillAyd commented on #32020
We have a pretty high bar for adding to the API at this point and I don’t think this is a widely useful thing, so I would be -1 on adding this

[2020-02-17 03:08] igorluppi commented on #31954
@MarcoGorelli is it a bug ? Anything new ?

[2020-02-17 04:02] bwanaaa opened #32048 "Pandas 1.0.1 gives 1953 TypeError: Cannot use .str.encode with values of inferred dtype 'bytes'."
#### Code Sample, a copy-pastable example if possible
This code is used in jupyter lab using python 3.7 and pandas 1.0.1
It accesses a text file of words delimited by carriage returns
[code]

#### Problem description
the following error appears:
[code]

#### Expected Output
If I downgrade pandas to '0.24.2' then I get the desired output
[code]
I discussed this problem on stackoverflow here

https:

[2020-02-17 04:16] bwanaaa opened #32049 "Str.encode('base64') turns arrays of strings to NaN and fails on byte strings"
#### Code Sample, a copy-pastable example if possible
Using pandas 1.0.1 and python 3.7
Using a text file consisting of words separated by carriage returns named sampleTEXT.txt
[code]
#### Problem description
output is this
[code]

#### Expected Output
base64 encoding of the words

similar to bug 22613
https://github.com/pandas-dev/pandas/issues/22613

#### Output of ``pd.show_versions()``

<detai

[2020-02-17 04:27] bwanaaa opened #32050 "map(lambda x: x.encode()) on a dataframe column produces address of result instead of the actual result"
#### Code Sample, a copy-pastable example if possible
Using pandas 1.0.1 and python 3.7
Using a text file consisting of words separated by carriage returns named sampleTEXT.txt
[code]
#### Problem description
output is this
[code]

#### Expected Output

I expect the ACTUAL base64 encoded words in the second column

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_ve

[2020-02-17 06:01] MarcoGorelli commented on #31954
cc @jorisvandenbossche

[2020-02-17 07:15] jorisvandenbossche commented on #32037
So nullable boolean and integer might work, indeed (but only if nulls are present, otherwise we still can't know which type to use).

But as explained above, I don't see how we can differentiate string dtype vs object dtype with strings. Both end up in the json schema as type "string". The types are not pandas specific, but following the table-schema specification.

[2020-02-17 08:19] jorisvandenbossche commented on #32050
Closing as a usage question, and it is already answered on https://stackoverflow.com/questions/60254107/how-to-base64-encode-and-decode-a-column-in-python-pandas

[2020-02-17 08:19] #32050 closed

[2020-02-17 08:22] jorisvandenbossche commented on #32045
@yogendrasoni79 if you are new to python/pandas, you can better install a *released* version.

[2020-02-17 09:12] jorisvandenbossche commented on #31989
Moving things out of conftest we want to import is fine for me as well (although `pandas._testing` is already a huge file, so maybe we should make it a module)

[2020-02-17 09:40] fisheye36 commented on #31978
@jorisvandenbossche, here is the same output for `0.25.3`:

[code]

Output of `pd.show_versions()` for `0.25.3`:

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder

[2020-02-17 09:49] navado commented on #32037
Probably JSON serialization should be AVRO based or resembling AVRO? i.e. solve the issue by writing schema information to the file with the data?

[2020-02-17 10:02] fisheye36 commented on #31978
A little update.

First of all, all the tests were being done using PyCharm's Python Console. When I wrote a script file and then run it, the behavior is a bit different. Here is the script:

[code]

I use `sleep()` to align `stdout` and `stderr`, otherwise `stderr` was being printed after all `stdout` messages (which is strange, I thought `flush=True` should fix that but that is not the point of

[2020-02-17 10:42] SaturnFromTitan commented on #16737
take

[2020-02-17 10:52] jorisvandenbossche commented on #32037
An AVRO interface for pandas might be interesting, but I think that is a different discussion? (or would be a new format)

The current json output formats do not include schema information, except for the table schema. And for that, there is a specification to follow.

[2020-02-17 11:22] MarcoGorelli commented on #32020
OK, closing for now, I guess it can be reopened if enough people show interest in this

[2020-02-17 11:22] #32020 closed

[2020-02-17 11:49] #26831 closed

[2020-02-17 12:33] JulianWgs commented on #31972
Why doesnt a comparison produce the new boolean type? Its very counterintuative.

But for now I will convert my "bool" into a BooleanDtype and this issue can be closed. Thank you!

[2020-02-17 12:46] mnky9800n opened #32054 "error that converts nan to non-nan float value via groupby and nunique"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When a `groupby` operation followed by an `nunique` operation, nans are converted to non-nan float values. According to the documentation, the [`nunique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html) function should return a series but should not update the original

[2020-02-17 12:51] MarcoGorelli commented on #32054
Thanks @mnky9800n - seems like a duplicate of #31950 (which is in the 1.0.2 milestone), so I'll close this for now

[2020-02-17 12:51] #32054 closed

[2020-02-17 13:05] TomAugspurger commented on #31972
Backwards compatibility. This may change in the future.

[2020-02-17 13:05] #31972 closed

[2020-02-17 13:18] Arkangus opened #32056 "Numpy version incompatibility"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Although Pandas 1.0.1 has a minimum requirement for numpy of 1.13.3 ([see release notes of Pandas 1.0.0](https://pandas.pydata.org/docs/whatsnew/v1.0.0.html#increased-minimum-versions-for-dependencies)), it fails with numpy 1.15.4 (Python 3.6.7).

Problem is solved by upgrading numpy (version 1.18.1 works).

[2020-02-17 13:25] ShayHa opened #32058 "Unable to see currency when loading excel file"
[code]
So I have a few columns with numbers and currency e.g 155 USD.
When I load this table to python all I see is the numbers without the currency.
My solution was to convert the file to csv before loading it but I just hate using powershell script to convert each excel file to csv before using it.

Thanks.

[2020-02-17 13:29] SylvainLan opened #32059 "level argument for nunique"
The `unique` method makes it possible to specify a level for a multi-indexed df. I was wondering if it could also be made for the `nunique` method.

If this sounds useful I could try to work on it.

[2020-02-17 13:33] 3vts commented on #29547
These are included in #32034

"pandas/core/arrays/interval.py"
"pandas/core/util/hashing.py"
"pandas/io/formats/format.py"
"pandas/io/formats/html.py"
"pandas/io/formats/latex.py"
"pandas/io/formats/printing.py"
"pandas/io/parsers.py"
"pandas/tests/arrays/categorical/test_dtypes.py"
"pandas/tests/arrays/categorical/test_operators.py"

[2020-02-17 13:38] AlexKirko opened #32060 "CI: Web and Docs fails"
#### Problem description

Currently, Web and Docs build seems to fail for everyone during CI, regardless of PR. Saw this in #31563 and #32055.

This is the error:
[code]

[2020-02-17 14:29] tyomik-mnemonic opened #32061 "pd can't import cx_Oracle string datetype to pd.DataFrame correctly. Can't to cast data to correct type(str)"
#### Problem description
I have some oracle table with next field datatype:

**

- ID|              NOT NULL NUMBER
- VERSION|         NOT NULL NUMBER
- STAT_ACTUAL|     NOT NULL NUMBER
- REGION|          NOT NULL VARCHAR2(5 CHAR)
- PARENTID|                 NUMBER
- CITY|                 VARCHAR2(5 CHAR)

**
...
and if I had trying to add them from cx_Oracle to pandas.DataFrame like that:

#### C

[2020-02-17 14:41] MarcoGorelli commented on #31971
Is the fix here just to improve the error reporting?

[2020-02-17 14:53] MarcoGorelli commented on #28683
Closing as it looks like it's been fixed, but please reopen if you disagree

[2020-02-17 14:53] #28683 closed

[2020-02-17 15:17] bwanaaa commented on #32050
Actually that stack overflow question was started by me and addresses a different problem

[2020-02-17 15:19] MarcoGorelli commented on #30731
Closing as this works on v1.0.1 too, but please feel free to reopen if you have a failing reproducible example

[2020-02-17 15:19] #30731 closed

[2020-02-17 15:23] MarcoGorelli commented on #29759
Closing due to lack of reproducible example, but feel free to reopen if you have one

[2020-02-17 15:23] #29759 closed

[2020-02-17 15:27] MarcoGorelli commented on #28905
Can confirm - closing for now then

[2020-02-17 15:27] #28905 closed

[2020-02-17 15:31] jorisvandenbossche commented on #32050
The linked SO question has:

and the answer replied on that:

That seems to answer the question you raised in this issue.

Also, if you already asked a question on StackOverflow, it is not needed to create github issues as well for the same thing (unless someone on StackOverflow thinks it is a bug and needs to be reported). StackOverflow is much better suited for usage questions.

[2020-02-17 15:56] MarcoGorelli commented on #31848
In `pandas/core/computation/expr.py`, we have:
[code]
but
[code]

so in the latter case, `op` is getting converted from `==` to `.isin` while in the former case it isn't

[2020-02-17 16:16] dsaxton commented on #32061
The `object` dtype has traditionally been the way of storing text data in `pandas`: https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#basics-dtypes

If you want to cast to the new string dtype try using `astype("string")` or `df.convert_dtypes()`.

[2020-02-17 16:59] #31720 closed

[2020-02-17 17:06] MarcoGorelli commented on #31743
Closing due to lack of reproducible example (we don't have access to `'filemane.csv'`), but feel free to reopen if you write one

[2020-02-17 17:06] #31743 closed

[2020-02-17 17:20] bwanaaa commented on #32050
Thank you for your reply. And I appreciate the time you take to answer a noob. But how do I get the actual result. I tried this`my_list =list(words.words_encoded )
print(my_list[5])' but got '<map object at 0x7f89a1d31390>'

[2020-02-17 17:24] bwanaaa commented on #32050
adding this `my_list2=list(words.words_encoded[5] )` gives an error `LookupError: 'base64' is not a text encoding; use codecs.encode() to handle arbitrary codecs` but it seems I'm on the right track

[2020-02-17 18:43] TomAugspurger commented on #32060
https://github.com/gitpython-developers/GitPython/issues/983.

So we need gitpython>=3.0.6 or we need to pin to gitdb==3.0.1. Seems like gitpython 3.0.6 isn't on conda-forge yet.

[2020-02-17 19:01] KaleabTessera commented on #21673
+ 1

[2020-02-17 19:06] KaleabTessera commented on #3196
Can we reopen this as it is still of interest? @WillAyd

[2020-02-17 19:36] navado commented on #32037
@jorisvandenbossche Avro is definitely different topic, but saving schema in serialized JSON - should not be a big problem

[2020-02-17 19:42] TomAugspurger commented on #32056
You'll need to provide more information on how you installed NumPy and pandas.

[2020-02-17 20:32] MomIsBestFriend commented on #32060
May be completely wrong here, but aren't the docs are checked/pushed to the website, by ```github actions```?

[2020-02-17 22:43] MarcoGorelli commented on #31994
Widget loads fine for me on Chrome

[2020-02-17 23:50] arobrien opened #32067 "a.merge(b, left_on='name', right_index=True) merges on index whereas a.merge(b, on='name') where name is the index of b merges on column"
#### Code Sample

[code]
#### Problem description

If I want to merge two DataFrame's, where column 'name' of `a` matches index named 'name' on `b`, with the old syntax I needed to write `a.merge(b, left_on='name', right_index=True)`. This would produce a new DataFrame with the index of `a` retained as an index, the shared column/index retained as a column, and other columns of `a` and `b` also re

[2020-02-18 00:15] #25774 closed

[2020-02-18 00:19] arobrien commented on #32067
This example also merges on index:

[code]

[2020-02-18 03:19] qianxuanyon opened #32070 "Hope to optimize pd.ExcelWriter mode"
The following code can be implemented to override the sheet and update the specified sheet separately

[code]

Hope to optimize pd.ExcelWriter mode

[2020-02-18 03:44] smcinerney commented on #26613
@WillAyd : I don't understand, on 1.0.x this still gives the very cryptic exception rather than the clear error message stating the wrong field. Are you saying the error message will be implemented, if so which milestone commitment? Can you add the commitment, or else reopen this? It is a real issue, until it's fixed.

[2020-02-18 07:51] jorisvandenbossche commented on #32037
Saving schema information in the JSON outputs is something that could certainly be discussed, but I just wanted point out that this is still something else / bigger than how the current issue is framed here as "table orient not correctly roundtripping extension types"

So if we want to discuss this further, that warrants a separate issue I think.

[2020-02-18 08:15] tyomik-mnemonic commented on #32061
Hi! Thanks for responce. I write above that using of df.astype({"REGION": str}) doesn't works. Object still object.
What is interesting using of df.convert_dtypes() unsuccessful:
`AttributeError: 'DataFrame' object has no attribute 'convert_dtypes'`

[2020-02-18 08:27] navado commented on #32037
Or just revert renaming the issue :)

[2020-02-18 09:31] devrimcavusoglu opened #32072 "Feature Request: "Skiprows" by a condition or set of conditions"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Pandas read methods currently support skipping rows by index with the parameter `skiprows`. It'd be a good feature if usage of `skiprows` is extended in way that it can take conditional statements just like many pandas objects. I anticipate that this feature may not be useful to all, it is certain that it will

[2020-02-18 09:31] Khris777 opened #32073 "Plotting Int64 columns with nulled integers (NAType) fails"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The first plotting command works, the second throws the error message

#### Expected Output

NAType should be treated the same way as numpy nan in plotting. Maybe transformed on the fly?

(I'm unsure if this is a pandas, a numpy, or a matplotlib issue, I'm starting here)

#### Output of ``pd.show_versions()``

[2020-02-18 10:11] MarcoGorelli commented on #32072
Thanks @devrimcavusoglu

Could you show an example with input, and example of `mask`, and your expected output?

[2020-02-18 11:16] MarcoGorelli commented on #32038
Adding the outputs in:
[code]

[2020-02-18 11:21] MarcoGorelli commented on #32061
`convert_dtypes` is new in v1.0.0, you're using v0.25.3 :)

[2020-02-18 12:21] tsoernes opened #32075 "Series.replace fails to replace value"
#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.18-100.fc30.x86_64
machine          : x86_64
processor

[2020-02-18 12:29] WillAyd commented on #32070
We ask that you use StackOverflow for usage questions as it is a better format for that. This tracker is just for bug reports and enhancement requests

[2020-02-18 12:29] #32070 closed

[2020-02-18 12:31] WillAyd commented on #32058
Formats are not carried over from Excel by design, which I assume is what is being used here. If you are looking for strategies around that should try asking on StackOverflow (this tracker is just for bug reports and enhancement requests)

[2020-02-18 12:31] #32058 closed

[2020-02-18 12:32] WillAyd commented on #3196
@KaleabTessera if you have something specific you should like to see probably best opening a separate issue for it at this point

[2020-02-18 12:33] MarcoGorelli commented on #32075
Thanks @tsoernes

Could you include a [minimal reproducible example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)? I couldn't reproduce this
[code]

[2020-02-18 12:56] tsoernes commented on #32075
@MarcoGorelli

I cannot create a minimal reproducible example; and the problem does not subsist between going converting to and creating a dataframe from a dictionary.

Here's an interesting observation: `replace` does not fail when restricted to the single row containing the 'nil'. When there's 2 or more rows, it fails:

[code]

[2020-02-18 12:57] mvcalder-xbk commented on #31981
Yes, this is the same pyarrow version in both cases. I'll open an issue there. Thank you.

[2020-02-18 12:59] tsoernes commented on #32075
@MarcoGorelli

[code]

[2020-02-18 13:26] MarcoGorelli commented on #32075
@tsoernes OK, got it - it fails when there is another row with `pd.NA`:

[code]

[2020-02-18 13:30] MarcoGorelli commented on #32075
Problem's related to this:
[code]

[2020-02-18 13:37] navado commented on #32037
Well, back to the problem.
Just discovered, that with `orient='table'` the schema is written to JSON, but it seems it's silently ignored inside **DataFrame** constructor

[code]

[2020-02-18 13:48] jorisvandenbossche commented on #32037
What do you mean with "being ignored inside the DataFrame constructor"?

[2020-02-18 13:50] TomAugspurger commented on #32073
Can you post the full traceback?

[2020-02-18 14:43] navado commented on #32037
No, sorry, Just looked wrong place. It's ignored in case of numpy based parsing which is as I understand is deprecated.
So the conversion of string to object is completely intentional.
[pandas/io/json/_table_schema.py#L164](https://github.com/pandas-dev/pandas/blob/9c06b30f9e6bc0c2ed15b851c85ae4077a189313/pandas/io/json/_table_schema.py#L164) says:
[code]

[2020-02-18 15:03] stonedbird opened #32076 "FutureWarning: pandas.util.testing is deprecated"
FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

It appears everytime I run:
`import pandas as pd`
`from pandas_datareader import data as wb`

[2020-02-18 15:05] jreback commented on #32076
you should report to pandas-datareader

they need to update and do a new release

[2020-02-18 15:05] #32076 closed

[2020-02-18 15:09] TomAugspurger commented on #32072
This kind of "predicate pushdown" seems out of scope for pandas. What do @WillAyd and @gfyoung think?

@devrimcavusoglu read_parquet has some support for this with the "filters" argument.

[2020-02-18 15:11] TomAugspurger commented on #32048
You don't encode bytes objects. You decode bytes to strings.

[code]

So pandas is correctly raising here.

[2020-02-18 15:13] jreback commented on #32072
it’s probably very easy to do this; i thought we actually already supported this

[2020-02-18 15:47] Arkangus commented on #32056
`python -m pip install pandas`
`python -m pip install numpy`

I was previously using pandas 0.25.1 I believe, along with numpy 1.15.4

The issue appeared when upgrading to pandas with `python -m pip install pandas --upgrade`.
It dissapeared when upgrading numpy to the latest version with `python -m pip install numpy --upgrade`

[2020-02-18 15:48] bwanaaa commented on #32048
thank you for your reply. Yes I know that my code is converting a string to bytes which I then want to convert to base64. I guess the new pandas (since v .25 anyway) is more strict with str.encode requiring a string. So should I use this instead:

`words['word_encoded'] = codecs.encode(words.word.str.encode('utf-8', 'strict'), encoding ='base64')
`
or this

`words['word_encoded'] = base64.b64encod

[2020-02-18 15:56] TomAugspurger commented on #32056
Did you build from source wheels? Ideally you could provide the full inputs and outputs of a terminal session.

[2020-02-18 15:57] gfyoung commented on #32072
Yes, we should already support something like this.

[2020-02-18 16:57] zking1219 opened #32077 "ValueError when grouping with max/min as aggregation functions (pandas-1.0.1)"
#### Code Sample

[code]
#### Problem description

Unless I've misunderstood something fundamental about the max, and min, aggregate functions, I don't think they should error out when a Series in the DataFrame is of type object and contains all but one `NaN` value. Notice from the example above that just adding one more non-`NaN` value to the offending Series gets around the `ValueError`.

#### E

[2020-02-18 16:58] virajmavani commented on #32039
take

[2020-02-18 17:25] jbrockmendel commented on #31760
I was referring to previously-existing behavior in `groupby.apply`, not `groupby.agg`.

We have a fastpath that goes through cython and a slowpath that stays in python.  The call on an empty input is part of an attempt to figure out if we can go through the fastpath.  (FWIW, I'm increasingly of the opinion that the cython fastpath isnt worth the maintenance burden)

As of the last time I worked on

[2020-02-18 17:53] jbrockmendel commented on #32045
@yogendrasoni79 building on previous responses: can you try `pip install numpy` before trying to install pandas?  It looks like the problem is there.

[2020-02-18 17:55] jbrockmendel commented on #32056
I'm pretty sure ive seen this on either the cython tracker or mailing list

[2020-02-18 17:59] TomAugspurger commented on #32072
Are you referring to `skiprows`? IIUC, this is requesting we skip based on the result of a callable applied the the parsed value in a column.

[2020-02-18 18:19] MarcoGorelli commented on #32077
Thanks @zking1219 for the report - this used to work in 0.25.3

[2020-02-18 18:24] zking1219 commented on #32077
@MarcoGorelli forgot to mention it worked in `0.24.2` and then not in `1.0.0`. That it is working in `0.25.3` definitely narrows down where the bug got introduced.

[2020-02-18 18:26] simonjayhawkins commented on #32048
pandas uses codecs under the hood for non cpython optimized encoders, see https://github.com/pandas-dev/pandas/blob/c67407dbd602ead4b809b57ce100e3a554ef482a/pandas/core/strings.py#L1880-L1883.

so encoding bytes to base64 is valid

[code]

regression caused by #23167 in 0.25

[2020-02-18 18:47] zogzog commented on #29706
Ok I'll have a look.

[2020-02-18 18:51] dsaxton commented on #32077
Is this the same issue as https://github.com/pandas-dev/pandas/issues/31802?

[2020-02-18 19:01] tsoernes opened #32081 "Repeated `convert_dtypes()` fails for unicode string"
#### Code Sample, a copy-pastable example if possible
Converting object to 'string' succeeds once, but not twice.
[code]

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.18-100.fc30.x86_64
machine

[2020-02-18 19:04] zking1219 commented on #32077
Could be. I don't know why changing the number of `NaN`s in my object Series is causing the ValueError. Might be the same reason the function from https://github.com/pandas-dev/pandas/issues/31802 fails with a similar ValueError, might not.

[2020-02-18 19:19] jreback commented on #32081
this is a duplicate and fixed in 1.02 if someone can find the reference

[2020-02-18 19:21] jbrockmendel commented on #31944
@ahmadia just to check, at the end of "code sample 3", are you intentionally re-printing `z1`, or should that be `print(z2)`?

Based on a cursory glance, it isnt obvious that adding `or self.null_` is correct.  Wouldn't that incorrectly identify pd.NaT as numeric?

[2020-02-18 19:23] ahmadia commented on #31944
@jbrockmendel - Indeed, I am intentionally re-printing `z1`, on my laptop (and I suspect most OS X computers), you'll see two different outputs due to the use of uninitialized memory in the `maybe_convert_objects` functionality.

Let me take a closer look at how `pd.NaT` is handled currently.

[2020-02-18 19:29] ahmadia commented on #31944
If I'm understanding the `Seen` class definition (I'm looking at your master branch), it has separate flags for `nat`, `nan`, and `null`.  This will not lead to a situation where `pd.NaT` is identified as numeric so long as `Seen.nat_` is set.

[2020-02-18 19:40] dsaxton commented on #32081
I think this is the original issue: https://github.com/pandas-dev/pandas/issues/31731

[2020-02-18 19:41] jbrockmendel commented on #31944
Great.  PR would be welcome.

[2020-02-18 19:54] anubhav0fnu commented on #26051
@anordin95, it still fails,
[code]
Any suggestions on increasing the limit to say `in python sys.maxsize`? so that it should only fails once the system's m/m get's bloated! this way only User has to handle that and not the `to_excel()`.?

[2020-02-18 19:58] anordin95 commented on #26051
This looks like it should fail. The maximum sheet size in excel is being exceeded. You have ~1.2M rows and excel can only handle ~1M.

https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3

I'm not sure what m/m means. Writing your data to another format may better suit your usage, such as hdf.

[2020-02-18 20:01] drewseibert commented on #29547
These ones are done...

pandas/core/ops/invalid.py
pandas/core/ops/methods.py
pandas/core/ops/roperator.py

[2020-02-18 20:15] MarcoGorelli commented on #32081
Thanks @tsoernes

Closing as this is fixed on master, but feel free to open if you build from the source and find that the problem persists

[code]

[2020-02-18 20:15] #32081 closed

[2020-02-18 20:25] pcandoalmeida commented on #29547
Files included in #32063:
* pandas/tests/tseries/frequencies/test_inference.py
* pandas/tests/tslibs/test_parse_iso8601.py

[2020-02-18 20:26] MarcoGorelli commented on #31989
xref #30914 :)

[2020-02-18 20:37] Harmon758 commented on #32060
It seems like GitPython v3.0.8 is on conda-forge now:
https://anaconda.org/conda-forge/gitpython/
https://github.com/conda-forge/gitpython-feedstock/pull/36

[2020-02-18 20:48] devrimcavusoglu commented on #32072
I've added the examples of input and expected output to make it more clear.

[2020-02-18 20:59] st-bender commented on #29916
I can't speak for the original author, and the code seems to have evolved gradually, but for the last few years it read `self._handle.walk_nodes()` (or similar for previous pytables APIs), until it was recently changed because of performance issues.

Maybe the pytables version is not the most efficient, but it would be nice to have some way of getting all the nodes in an hdf5 file with pandas (as

[2020-02-18 21:51] gfyoung commented on #32072
Ah, okay, I see (thanks for the clarification @devrimcavusoglu).  Semantically, this is outside the scope of `skiprows`, which filters based on row number (and not on the row contents).

That being said, I don't want to necessarily shut this conversation down simply because it currently is out of scope.  I'm open to having a discussion about expanding it.

[2020-02-18 23:22] jorikdima commented on #22410
I would also like to have this feature.

[2020-02-18 23:27] bwanaaa commented on #32048
well this code

[code]

gives this error

`TypeError: a bytes-like object is required, not 'Series'`

The same error occurs if I use

[code]
although this simpler code works

[code]

As you can see, I am trying to use the native calls in pandas to avoid looping through each individual entry in the dataframe. Somehow, Pandas 1.0.1 allows str.encode to 'look into' the dataframe whereas a  'codecs' c

[2020-02-19 00:07] bwanaaa opened #32084 "Pandas misinterprets the string 'null' in a text file as a float"
#### Code Sample, a copy-pastable example if possible
Using the latest anaconda3 on Windows 10 and opening a jupyter notebook.
I have a text file with 1 million rows.  The file is read into a dataframe and each line is processed by converting it to bytes and then encoding it to base64. The processed result is written to a new dataframe line by line.
[code]

#### Problem description

The following

[2020-02-19 00:26] #31623 closed

[2020-02-19 01:03] jreback commented on #31760
@jbrockmendel something broke in 1.0.x for .agg
as
this is a regression

@WillAyd maybe have some insight as iirc some of this was touched

[2020-02-19 01:18] jbrockmendel commented on #31760
I think #32083 would address this.

[2020-02-19 01:27] jreback commented on #31760
hmm that’s pretty big to backport

[2020-02-19 01:30] #31880 closed

[2020-02-19 01:40] Mxchaeltrxn commented on #32049
Hey I'd be happy to take this one on

[2020-02-19 01:46] #31828 closed

[2020-02-19 01:59] WillAyd commented on #32084
Can you try on the latest version of pandas?

[2020-02-19 03:11] bwanaaa commented on #32084
cloned the base environment, removed the standard pandas(v.25) and installed v 1.0.1
same error
[code]

[2020-02-19 03:24] bwanaaa commented on #32084
I refined the upper limit to 70300 lines the the lower bound to 70250 lines.

[2020-02-19 04:10] zertrin commented on #28952
It would be nice to be able to switch between docs versions more easily. Not everyone is already using the latest released pandas version (might take some time to port code), and google usually brings you to the latest version.

Usually at readthedocs there is a version switcher in the bottom left of the page (bottom of the side bar). I have been desperately looking for something similar for Panda

[2020-02-19 07:27] jorisvandenbossche commented on #32084
This means that one of the elements (`words.word[x]`) is a float and not a string. And this probably occurs somewhere between the 70250 and 70300st element. You can print those to check what is the offending value.

[2020-02-19 07:31] odidev opened #32092 "Installing pandas on aarch64"
Summary
----------
Installing pandas on aarch64 via pip using command "pip3 install pandas" tries to build wheel from source code

Problem description
----------------------
Pandas don't have wheel for aarch64 on PyPI repository. So, while installing pandas via pip on aarch64, pip builds wheel for same resulting in it takes more time to install pandas. Making wheel available for aarch64 will benef

[2020-02-19 07:49] devrimcavusoglu commented on #32072
Thanks for the comment @gfyoung. My first intention and thought was to make things better in terms of performance (reducing memory pressure) and more user-friendly convention in terms of interaction (that would make easier to trim out part of data).

I'd also like to expand the discussion, and what can be done and what cannot. Maybe, it's possible to implement a similar thing, or something else em

[2020-02-19 07:51] Khris777 commented on #32073
Gladly:

[code]

[2020-02-19 07:52] westurner commented on #28952
Could a few rules in Python or a config file specify which subpath of a git
repo to copy _build/html to, generate a JSON file mapping versions to URLs
for a dropdown control, copy the latest JSON version-URL map to every
subpath, and update the /en/latest/ symlink (in order to store multiple
versions of the built HTML docs in one repo)?

"How to build [Sphinx docs locally] with the ReadTheDocs Doc

[2020-02-19 07:54] gfyoung commented on #32072
Those are certainly things you could contribute without any objections!  That will also give you a chance to take a look how we implement `skiprows` (across engines).

[2020-02-19 07:54] jorisvandenbossche commented on #32073
We need to convert to floats with NaNs before passing the data to matplotlib, I suppose.

[2020-02-19 07:59] westurner commented on #28952
Also, generating a /sitemap.xml which links to each subpath/sitemap.xml
might improve search indexing for /en/v0.9.X/ /en/v1.0.X/ /en/latest/

On Wednesday, February 19, 2020, Wes Turner <wes.turner@gmail.com> wrote:

[2020-02-19 08:24] jorisvandenbossche commented on #32037
pandas/io/json/_table_schema.py#L164 says:

Yes, because that is the default dtype for strings. As mentioned above, there has been discussion to add a keyword to opt in (#29752). But currently the schema information that is saved in json table schema is not detailed enough to know the original pandas dtype to do a faithful roundtrip.

[2020-02-19 08:30] navado commented on #32037
Why not something like
[code]

[2020-02-19 08:40] jorisvandenbossche commented on #32037
That might be a backwards change for people using strings in object dtypes (now, I almost never use this myself, so I can't really assess possible impact).

But, what might be a better way forward is to add an additional entry to the field description. The spec allows to add more entries (https://frictionlessdata.io/specs/table-schema/#field-descriptors). And we already do this for eg categorical

[2020-02-19 09:29] bjonen opened #32095 "Unpickled StringArray with pd.NA raises ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The unserialized df cannot be printed. Fails with
ValueError: StringArray requires a sequence of strings or pandas.NA

Note that things work fine with less than 60 pd.NA
[code]

#### Expected Output
Print out simple df

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commi

[2020-02-19 09:42] hirolau commented on #31850
It is not too much hassle to do:

[code]

[2020-02-19 10:46] harimohanshrm7 commented on #11704
@antoinecomp
this error will go away if you use an aggregator function at the end of statement.
e.g.
predictions_df['ewma'] = pd.DataFrame.ewm(predictions_df["prices"], span=60).mean()

[2020-02-19 10:54] MarcoGorelli commented on #32095
Thanks @bjonen

Seems related to #31847

[2020-02-19 10:56] Arkangus commented on #32056
Hi again,

I believe this is what you're asking for:
[code]

Also, seems like pandas was installed from wheels.
[code]

[2020-02-19 11:21] lr4d opened #32096 "Allow definition of `pd.CategoricalDtype` with a specific `categories.dtype`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

At the moment, it is not possible to define the data type of `categories` of a CategoricalDtype. This makes things difficult when trying to merge categorical data types e.g. before performing a concatenation of dataframes, especially when one dataframe has no defined categories.

Related: https://github.com/das

[2020-02-19 12:10] SaturnFromTitan opened #32100 "Refactor inherit_names to work by inheritance"
We face a lot of mypy errors due to the dynamic nature of [`inherit_names`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/extension.py#L91). See issue #31716 and the discussion that evolved there.

**Summary:**
In the past, we added explicit type annotations to the respective classes, but this approach doesn't scale.

As mypy is a static type checker, it cannot understand th

[2020-02-19 13:21] TomAugspurger commented on #32096
It's not pretty, but passing an empty Index object does the trick

[code]

The CategoricalDtype constructor is already complicated, I wouldn't want to make it more so by adding a `dtype` argument. I'd be happy with document / testing providing an empty index as the recommended way to get a categorical dtype with a specific dtype but no categories.

[2020-02-19 13:22] TomAugspurger commented on #32095
I think it's a duplicate of #31847

[2020-02-19 13:22] #32095 closed

[2020-02-19 14:06] WillAyd commented on #32037
I think this has been a pretty enlightening discussion. I for one didn't realize that we just wrote "string" in to_json for object dtypes. Makes sense from a historical perspective, but actually there are a lot of gaps in that design like this:

[code]

And this

[code]

Would be tough to manage backwards compat but would support using `string` on the writing side appropriately and perhaps separat

[2020-02-19 14:31] leogermond opened #32106 "df.plot.area() Stacked area graph shows glitch "lines" at limit between colors"
#### Code Sample

[code]
#### Problem description
The pandas-generated stacked area graph has weird glitches at the limit between colors
<img width="700" alt="Pandas figure" src="https://user-images.githubusercontent.com/1741631/74842714-1e94f880-532b-11ea-80b4-7a6bb5052bb2.png">
<img height="350" alt="Pandas figure (details)" src="https://user-images.githubusercontent.com/1741631/74842750-29e8240

[2020-02-19 14:52] dsaxton commented on #32023
Thanks for the report, looks like a bug

[2020-02-19 15:11] TomAugspurger commented on #32072
Jumping out of the C parser to execute a Python callable will kill performance right?

@jorisvandenbossche do you know if the Arrow CSV reader plans to add support for filters like parquet?

[2020-02-19 15:21] daxid opened #32108 "Series with NAMED period index raise error on groupby index.month (pandas 1.0 specific)"
*edit from @TomAugspurger*: this is fixed on master, but the example below needs to be added as a unit test. The test can probably go in `groupby/test_groupby.py`.

#### Description

With the pandas 1.0.1 (full version with dependencies at the end), series with NAMED period index  raise error on groupby index.month

There is no error if the index is not named.

There was no error wit pandas 0.25.3

[2020-02-19 16:00] jeandersonbc commented on #32073
Hi! Can I make an attempt on this one? I'm looking for issues that can be useful to the community and help me to understand better how pandas works in depth :)

[2020-02-19 16:15] MarcoGorelli commented on #32108
Thanks @daxid

Couldn't reproduce this on master, seems it's already been fixed
[code]

(please don't close this yet though, I still haven't checked if we have a test for this)

[2020-02-19 16:53] mdf-github opened #32113 "ambiguous pandas filtering doesn't give warnings"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I finally found the bug in my code, but was surprised pandas didn't raise even a warning. Wouldn't it be better to issue a warning or an error about ambiguous combinations like this (which like mine had missing parentheses)?

#### Expected Output

A warning that the filter is ambiguous.

#### Output of ``pd.sho

[2020-02-19 17:07] bwanaaa commented on #32084
Thank you. I feel so stupid. The aberrant entry is:
line 70269   null
So the word 'null' is being considered a float?

[2020-02-19 17:09] mhwombat opened #32114 "Installation of pandas fails due to compilation error"
#### Code Sample, a copy-pastable example if possible

[code]
results in the error shown below. (The full installation log: [amy.log](https://gist.github.com/mhwombat/a10d22dc166035201e0e6981c53db33c))
[code]

#### Problem description

The installation fails. I have searched the issues for "tp_print" and "mtrand.c", but I haven't found any mention of this particular error.

#### Expected Output

T

[2020-02-19 17:15] daxid commented on #32108
I can confirm it runs OK with the last code on master (pandas-1.1.0.dev0+516.gac3056f2f)

I'll let it open until you check for related tests.

Best regards

[2020-02-19 17:26] jreback commented on #32114
see #32045

you likely want to installed a released version

3.9 has no support atm in numpy, cython or pandas

[2020-02-19 17:26] #32114 closed

[2020-02-19 18:05] TomAugspurger commented on #32113
I don't think pandas has any way of knowing the "intended" operation, so we have no way of knowing parenthesis are "missing".

[2020-02-19 18:12] TomAugspurger commented on #32084
Yes, see the `na_values` parameter at https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv. You can specify your own and use `keep_default_na=False`.

[2020-02-19 18:12] #32084 closed

[2020-02-19 18:17] MarcoGorelli commented on #32113
Thanks @mdf-github

Closing as I believe this is mentioned in the [user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing), along with an example:

[2020-02-19 18:17] #32113 closed

[2020-02-19 18:35] MarcoGorelli commented on #32108
From `git bisect`, it looks like this was fixed by #31672

No explicit test for this case though, as far as I can tell - @daxid would you be interested in writing one? If so, see [contributing](https://pandas.pydata.org/docs/development/contributing.html) for how to get started

[2020-02-19 20:34] pjadzinsky opened #32117 "convert_dtypes fails with int and str"
#### Code Sample, a copy-pastable example if possible
Thanks for an amazing package and maintaining it

[code]
#### Problem description

Example raises an error, when it shouldn't. I think the case is missing from the tests

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do n

[2020-02-19 20:41] jorisvandenbossche commented on #32108
So we need to check if it also already passes on the 1.0.x branch, or if we need to find the commit on master that fixed this to backport.

[2020-02-19 20:46] jorisvandenbossche commented on #32073
@jeandersonbc yes, that's welcome!
If you have any questions, don't hesitate to ask

[2020-02-19 21:07] pjadzinsky commented on #32117
As far as I can tell
https://github.com/pandas-dev/pandas/blob/ac3056f2f13e5287dc66d09f31522f7fba592fec/pandas/core/dtypes/cast.py#L1054
returns 'mixed-integer' which according to the definition in

https://github.com/pandas-dev/pandas/blob/ac3056f2f13e5287dc66d09f31522f7fba592fec/pandas/_libs/lib.pyx#L1250

is correct. However this
https://github.com/pandas-dev/pandas/blob/ac3056f2f13e5287dc66d09

[2020-02-19 21:18] daxid commented on #32108
I installed the 1.0.x branch and the sample code fails !

I guess you have to go for a cherry pick :cherries:

I'll give a shot to test writing. I'll report progress here, probably within a week.

[2020-02-19 21:33] dburkhardt opened #32119 "Using python comparison operators when SparseArrays of uneven length raises uninformative error"
#### Code Sample, a copy-pastable example if possible
I first discovered this issue attempting a comparison of the following form

**Case 1**
[code]
which raises the following uninformative `AttirbuteError`

[code]
Note, if `a` and `b` are of the same length, this code runs fine:
**Case 2**
[code]
returns
[code]

and if they are both non-sparse, the code evaluates fine.
**Case 3**
[code]
[code]

#

[2020-02-19 21:34] jbrockmendel opened #32120 "test_show_versions failing locally"
[code]

[2020-02-19 21:35] dburkhardt commented on #32119
Also I should note, I would be happy to help submit a bugfix here. I haven't contributed to pandas before, and I'm not super familiar with the SpareArray code (which I understand is under active development). If someone can tell me what the correct behavior should be here and point me in the right direction to fix it, I'm happy to help out. Not a problem if it's better fixed by one of the core dev

[2020-02-19 21:53] roberthdevries commented on #29916
@jreback What do you think about my proposal of adding an optional `kind` parameter to the `HDFStore.keys()` method?

[2020-02-19 21:56] jreback commented on #29916
it’s ok, kind of -0 on it as intermixing other non pandas tables is an anti pattern

probably wouldn’t object to a PR though

[2020-02-19 22:08] gabrielvf1 commented on #11136
I have checked and the code at the master really works fine, check the printscreen i tooked:

![pandasTest](https://user-images.githubusercontent.com/26471896/74880606-55c6d200-534a-11ea-8673-95843aa34614.png)

Now Im going to make a test to check if everything is correct at the graphic before it plots.

[2020-02-19 22:09] roberthdevries commented on #29916
But isn't reading data from hdf5 files produced by other software one of the ways of getting data into pandas? I'm a little confused here.
I don't think that the use case here is storing pandas tables and non-pandas tables in one hdf5 file. However the HDFStore does not know which kind of hdf5 it gets and it is up to the user to figure out what to to do with a specific file.

[2020-02-19 22:10] RaisaDZ commented on #29547
Hi, I want to take scripts/validate_docstrings.py

[2020-02-19 22:10] TomAugspurger commented on #31856
I'm updating our wheel-building infra for the new uploading stuff, and noticed these failures on 32-bit windows and linux jobs.

https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=29023&view=logs&j=dcd50a69-7bd8-59f7-72b1-a119e6ffb32f&t=d88b7d2e-2609-55f5-9005-b62435c7a771 and https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=29023&view=logs&j=517fe804-fa30-5

[2020-02-19 22:11] simonjayhawkins commented on #32120
AFAIK the commit is None when the tests aren't run in the pandas directory.

[2020-02-19 22:11] roberthdevries commented on #29916
I am working on a small patch, but I am struggling a little to get my pandas test environment up and running (I was going to non-anaconda route and it does not really work as documented)

[2020-02-19 22:15] mephph commented on #31847
A simple example of the problem:

[code]

This can also cause exceptions when working with dtypes other than object.

[code]

The following function replaces the incorrect NA values in place. It operates one column at-a-time to preserve dtypes. flake8 complains about comparing types rather than using `isinstance`, but I find this easier to read.

[code]

[2020-02-19 22:15] RaisaDZ commented on #30999
These are included in  #31852

pandas/tests/extension/decimal/test_decimal.py
pandas/tests/extension/json/test_json.py
pandas/tests/extension/test_boolean.py
pandas/tests/extension/test_categorical.py
pandas/tests/frame/indexing/test_categorical.py
pandas/tests/frame/indexing/test_indexing.py
pandas/tests/frame/indexing/test_where.py
pandas/tests/frame/methods/test_explode.py
pandas/tests/frame/me

[2020-02-19 22:16] TomAugspurger commented on #31856
Seems like these were added in https://github.com/pandas-dev/pandas/pull/28777. @jbrockmendel do you have access to a 32-bit OS?

I would think this would be failing on our 32-bit job, but apparently not (or they aren't being run?).

[2020-02-19 22:23] jbrockmendel commented on #31856
I'll take another try at building on a RasPi

IIRC I un-xfailed this on the theory that the CI would tell us if that was a mistake.  I'm surprised this hasn't shown up until now.

[2020-02-19 22:28] TomAugspurger commented on #31856
Perhaps @toddrme2178 nailed the reason in the original post

I'm not sure how to check that.

[2020-02-19 23:12] jorisvandenbossche commented on #32117
Yes, for this case taking "mixed-integer" as integer is indeed wrong:

https://github.com/pandas-dev/pandas/blob/ac3056f2f13e5287dc66d09f31522f7fba592fec/pandas/core/dtypes/cast.py#L1065-L1068

@Dr-Irv do you remember for which use case mixed-integer is needed?

[2020-02-19 23:13] jorisvandenbossche commented on #32117
And thanks for the report, @pjadzinsky !

[2020-02-19 23:20] jorisvandenbossche commented on #31971
@jbrockmendel can you comment on whether this was intentional? I find several PRs that are related to this maybe_promote, but not one (or an issue) that discusses the reasoning or the implications.

[2020-02-19 23:26] Liam3851 commented on #32072
I've often had the use case, but we always do something like:

[code]

I think this gets at the main goals-- it keeps the parsing in C, and it pushes down the predicate to each chunk for subsetting before running the concat? Only downside is that setting a proper chunksize to fit in user's RAM given the data is on the user, while if the predicate were pushed down fully that wouldn't be necessary (

[2020-02-19 23:37] jbrockmendel commented on #31971
Looks like in Block.shift it is calling `new_values, fill_value = maybe_upcast(self.values, 0)` and new_values is coming back as object-dtype of ints, which seems wacky.

We either need to patch Series.shift to dispatch to self._values when that is an EA, or patch DatetimeBlock to use array_values (probably also TimedeltaBlock, and that only handles the 1D cases)

@BayerSe until we get this patche

[2020-02-19 23:50] jreback commented on #32072
@Liam3851 nice example

would you do a PR to the read_csv doc-string?

[2020-02-20 00:23] Liam3851 commented on #32072
@jreback Happy to, that said the read_csv docstring is super-long just holding the parameter usage. Perhaps the [user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook-csv-multiple-files) or [cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook-csv-multiple-files) would be more appropriate?

[2020-02-20 00:25] jprafael opened #32123 "BUG: GroupBy.first fails with pd.NA on Series with object dtype"
#### Code Sample

[code]
#### Problem description

Applying the `GroupBy.first` aggregation to a `object` dtype column that contains a `pd.NA` causes the method to fail with an exception: `TypeError: boolean value of NA is ambiguous`. Method works fine when using `np.nan` and also works as expected when the column is first converted to an `Int64` dtype column.

#### Expected Output

[code]
#### Ou

[2020-02-20 00:26] jreback commented on #32072
yeah either of those are also ok

[2020-02-20 00:28] jbrockmendel commented on #31827
Thank you for letting us know.

To help you find an alternative, can you tell us what dtypes you are working with, and how big the `to_match` and `values` arrays you work with are (ballpark)?

[2020-02-20 00:50] Liam3851 commented on #32072
Huh. It turns out the cookbook already has an entry for "Reading only certain rows of a CSV chunk by chunk"; but it's a link to a Stack answer from 6 years ago that uses the defunct .ix syntax, and the name could maybe use a change to something more about what we want to do (read a subset of data based on its contents) than how to do it (use chunks). I'll add a more modern example to the cookbook

[2020-02-20 02:38] #31981 closed

[2020-02-20 04:55] WillAyd commented on #32092
We build a manylinux wheel - is that not usable? If not does pypi accept a wheel for the platform?

[2020-02-20 05:02] WillAyd commented on #32048
So this isn’t a regression as much as an intentional design decision. Using a ‘star’ accessor for a series of bytes is a rather wonky API - it is unfortunate that this “worked” prior to 0.25 but the purpose of the PR mentioned was to clarify semantics.

@bwanaaa your best best would be to use apply against the series containing bytes objects. Some of your examples in the last response aren’t reall

[2020-02-20 05:02] #32048 closed

[2020-02-20 06:18] DeoLeung commented on #29803
the fix creates a new problem, if I pass in a file object, it closes it automatically...

maybe need to have a check on whether it's a file object when passed in `read_excel`

[2020-02-20 07:22] devrimcavusoglu commented on #32072
@jreback @Liam3851 We may also update and expand the answer on stack by making the changes, updating links, and adding an example usage of query like filter. Thus, cookbook would still be linked to the answer with an updated form. What do you think ?

[2020-02-20 08:33] simonvh opened #32125 "Missing labels when applying style gives a KeyError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This issue occurs when passing a list of columns to `bar()` where one (or more) of the columns is not present in the dataframe. It will give a `KeyError`:

[code]

#### Expected Output

This error does not describe the problem. I would expect one of two possible outcomes:

1) An error message, which informs not

[2020-02-20 09:17] PochiaOscar commented on #31805
Yes, that's exactly what I expect

[2020-02-20 11:25] jonathanrhughes commented on #13488
take

[2020-02-20 12:06] MarcoGorelli commented on #32108
Just checking this but I think it was fixed by #31318

[2020-02-20 13:08] hartwork commented on #22610
I would like to point out that this approach can produce *malformed UTF-8* so I'm not sure if that's a good path forward. For proof:
[code]

[2020-02-20 13:13] Dr-Irv commented on #32117
I think this is just my mistake in understanding the meaning of `"mixed-integer"` when I wrote `convert_dtypes()`.   I will take a look at this

[2020-02-20 13:23] st-bender commented on #29916
Hi,
I fear that this is a mis-understanding, this issue isn't about mixing or anything, it's about restoring the previous behaviour (pre-"optimization") to list the "groups" using `walk_nodes()` (previously) **instead** of `walk_groups()` (now). Both are methods of the underlying pytables handle and should be fully compatible with pandas. I don't know if there was something else seriously wrong wi

[2020-02-20 13:28] st-bender commented on #29916
Thanks, yes that was my impression too and I use it in this way.

Instead of adding a `kind` parameter or anything, one could also just try to use the old method if the groups list is still empty, as in

[code]

[2020-02-20 13:38] jorisvandenbossche commented on #31981
For reference, the arrow issue is here: https://issues.apache.org/jira/browse/ARROW-7873

[2020-02-20 14:14] KraxelHuber commented on #14013
The problem still exists in v1.0.1

[2020-02-20 14:31] MarcoGorelli commented on #32125
Thanks @simonvh

I tried this on master and didn't get any error;
[code]

[2020-02-20 15:10] m-dz opened #32127 "qcut not respecting precision values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Example above shows inconsistent behaviour of `qcut` function when changing the `precision` argument. I can potentially understand why the first 2 values returned what they did (maybe it is not possible to create enough intervals with low precision, but then error/warning should be raised, shouldn't it?), but o

[2020-02-20 16:01] kirialis opened #32129 "Feature request Multi Index pivot"
Hi, Would it be possible to implement pivot with a list of index ?

This will throw an error :
[code]
But this does : (Found on Stack Overflow)
[code]

I just think it would be nice to have something directly available :)

[2020-02-20 16:23] PSY27 commented on #32039
i am intrested in doing it

[2020-02-20 16:27] BayerSe commented on #31971
@jbrockmendel Did as you suggested, thanks for the hint.

[2020-02-20 16:29] obilodeau commented on #22610
Of course, you should use the error handler that fits your need based on context: https://docs.python.org/3/library/codecs.html#error-handlers

I could have used `surrogateescape` or `replace` too because in my context the UTF-8 invalid content was garbage and could be discarded. Few instances of it in large dataframes were preventing a csv dump which was what was annoying and unintuitive to inexp

[2020-02-20 16:37] AnnaDaglis commented on #32073
take

[2020-02-20 16:42] jreback commented on #32129
this is already implemented for 1.1 if you’d like to find the issue / PR

[2020-02-20 17:08] darbelley commented on #30159
resolved
1. i created a list of dictionaries, some have empty "included" object
2. then i created a list where i have appended a number of elements = to count of dictionaries
3. for each element in the list i delete the data section and i append the element into another list

[2020-02-20 17:08] darbelley commented on #30159
.

[2020-02-20 17:08] #30159 closed

[2020-02-20 17:13] sirignanoj commented on #28168
When I'm finished researching, where do I upload the information? Should it just be text or does it need to be an actual webpage?

[2020-02-20 17:20] soerendip commented on #16827
Is anyone still working on this? I miss this functionality. If the column contains strings the method should use distinct colors. Similar to what happens in plotly plots. Same with shapes.

[2020-02-20 17:29] JASHWANTHREDDYTUPILI opened #32132 "pandas import error"
Description
What steps will reproduce the problem?
import pandas
Traceback (most recent call last):

File "", line 1, in
import pandas

File "C:\Users\tjash\Anaconda3\lib\site-packages\pandas_init_.py", line 54, in
from pandas.core.api import (

File "C:\Users\tjash\Anaconda3\lib\site-packages\pandas\core\api.py", line 29, in
from pandas.core.groupby import Grouper, NamedAgg

File "C:\Users\tjash\

[2020-02-20 17:33] avimiller commented on #24589
I would like to add series examples for "gt", "lt", and "eq" if that is okay.

[2020-02-20 17:52] p1lgr1m opened #32134 "Bug: read_csv losing precision when reading Int64 data with N/A values"
#### Code Sample

[code]

Yields :
[code]

#### Problem description

When pd.read_csv reads a column with Nullable Int64 data, and the column contains missing values (N/A), the precision on other values in that column is not maintained.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.

[2020-02-20 18:14] simonvh commented on #32125
Ah, that's something that I should have checked. Thanks for doing so!

[2020-02-20 19:06] Liam3851 commented on #32072
take

[2020-02-20 19:13] jbrockmendel opened #32135 "Indexing Code Roundup"
xref #9595 for an overview the the indexing API, this is focused on the state of the code.

Needs Eyeballs
---------------
- Tests are scattered:
   - tests/indexing/
   - tests/(frame|series)/indexing/
   - tests/indexes/*/indexing
    - Moreover, many of the indexing tests are leftover from ix, and it isn't clear whether they are testing anything meaningful anymore.  Organizing these tests and g

[2020-02-20 19:59] jbrockmendel commented on #32132
how did you install pandas?  i.e. pip, conda, setup.py install...?

[2020-02-20 20:16] datapythonista commented on #28168
You can add them as comments here, or even better, open a pull request updating the website.

[2020-02-20 20:29] mkowen1 opened #32136 "groupby pd.Grouper with freq gives inconsistent groupings"
#### Code Sample, a copy-pastable example if possible

[code]
For the desired group of len=5, where A==1 and B about 9:30:
num_group==0 has length 4, num_group==1 has length 1

[code]
num_group==0 has length 1, num_group==1 has length 4

[code]
num_group==0 has length 3, num_group==1 has length 2

[code]
num_group==0 has length 5 (expected output, this is all A==1 and B around 9:30)

[code]
same s

[2020-02-20 20:49] JASHWANTHREDDYTUPILI commented on #32132
I installed everything with Anaconda

[2020-02-20 22:07] jbrockmendel commented on #32132
We don't implement any "reduce_cython" in that module, which suggests that this is bubbling up from cython.  cc @scoder.

[2020-02-20 22:15] jbrockmendel commented on #32120
it looks like the test fails if there are uncommited edits.  i think in that case we can check that the `pd.__version__` ends with ".dirty"

[2020-02-20 22:31] MarcoGorelli commented on #32125
Sorry, wrote that in a bit of a rush - mind if I keep this open till we verify when it was fixed and if there's a test? Will check this tomorrow

[2020-02-20 22:39] jorisvandenbossche commented on #32073
@AnnaDaglis someone else (@jeandersonbc) already just commented he would like to look at it, so I would first give him some time before taking this issue

[2020-02-20 22:58] WillAyd commented on #32134
I think this is the same root cause as #30268

[2020-02-21 02:13] AndrewMoscoe opened #32140 "Pandas 1.0.1 fails get_loc on timeindex (0.25.3 works)"
[code]
#### Problem description
With pandas 1.0.1, python 3.8.1

[code]

With 0.25.3, this returns index location 7433 as expected.

I've tested this on Windows 10 1909, and Ubuntu WSL, and get the same error on both.

#### Output of ``pd.show_versions()``

[code]

[2020-02-21 08:21] simonjayhawkins commented on #32120
something else must be different. locally i'm seeing the commit hash on a dirty branch

[code]

[2020-02-21 08:40] jorisvandenbossche commented on #32140
@AndrewMoscoe Thanks for the report!

This is already working again on master. But so we should verify it if also works on the 1.0.x branch (to become 1.0.2), or if there is something we need to backport.

[2020-02-21 09:07] jeandersonbc commented on #32073
Thanks @jorisvandenbossche, I didn't manage time to work on the issue since last time that I posted so that's why I didn't reply early.
As far as I can see, it is my understanding from your suggestion that there should be verification for NA values before calling `plot_backend.plot(data, kind=kind, **kwargs)`, right? I'll be submitting a PR later today with some tests to see how it goes.

[2020-02-21 09:14] simonjayhawkins opened #32144 "CI Failing: test_geopandas"
https://travis-ci.org/pandas-dev/pandas/jobs/653274362?utm_medium=notification&utm_source=github_status

cc @jorisvandenbossche

[code]

[2020-02-21 09:22] mguttman opened #32145 "AttributeError: module 'hypothesis' has no attribute 'unlimited'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Running ``pd.test()`` results in the above error

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
Python 3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

INSTALLED VERSIONS
------------------
commit: None
py

[2020-02-21 09:42] jorisvandenbossche commented on #32073
Yes, I think so. But the check might need to be done lower in the stack, as when calling `plot_backend.plot()`, `data` is still a dataframe. I think we can focus here on the matplotlib backend included in pandas, and thus we need to ensure converting to float dtype (with `to_numpy(float, na_value=np.nan)` if it is nullable integer dtype) before passing it to matplotlib's plot().

[2020-02-21 10:06] disimone opened #32146 "REGR: Series repr of object Index with bools and NaN is wrong"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
As shown in the example, the __repr__ of the value_counts result is apparently wrong when booleans are in the serie. It should report nan as a possible value, instead it maps it to True.
Note that this is limited to series with boolean. A similar example with ints works ok.

#### Output of ``pd.show_versions()``

[2020-02-21 10:35] xushengun opened #32147 "“Advanced SQLAlchemy queries” in Pandas 1.0.1 Document"
#### Code Sample, a copy-pastable example if possible
import sqlalchemy as sa
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
data = pd.DataFrame({'id':[26,42,63],
                     'Date':['2012-10-18','2012-10-19', '2012-10-20'],
                     'Col_1':['X','Y','Z'],
                     'Col_2':[25.7,-12.4,5.73],
                     'Col_3':[True,Fals

[2020-02-21 10:42] MarcoGorelli commented on #32145
Hi @mguttman

Looking at the output of pd.show_versions(), it looks like you don't have `hypothesis` installed. See [running the tests](https://pandas.pydata.org/docs/development/contributing.html#running-the-test-suite)

[2020-02-21 10:56] AnnaDaglis commented on #32146
take

[2020-02-21 11:47] timschulz91 commented on #32146
Not sure if this is related but it seems similar:

`numpy.nan` shows as  `True` in index.

[code]

This `True`  is different from the regular `True` in the value count:

[code]

But the correct value is still used "under the hood":
[code]

[2020-02-21 11:56] mguttman commented on #32145
Thank you @MarcoGorelli!
It seems that hypothesis **is** installed. I tried to install it and it returned ``Requirement already satisfied``, see this:
[code]

[2020-02-21 12:07] MarcoGorelli commented on #32125
@simonvh are you sure
[code]
is what you ran to get the error? I just tried it on a clean environment with just pandas v1.0.1 installed and it passed

[2020-02-21 12:11] jeandersonbc commented on #32073
take

[2020-02-21 12:17] jorisvandenbossche commented on #32144
That's an anaconda issue, I reported it here: https://github.com/AnacondaRecipes/kealib-feedstock/issues/1

Probably best to skip the test for the time being (will do a PR)

[2020-02-21 12:20] jorisvandenbossche commented on #32144
https://github.com/pandas-dev/pandas/pull/32148

[2020-02-21 12:21] MarcoGorelli commented on #32145
Seems that you're running the tests with a released version of pandas, rather than with the development version. Was this intentional?

[2020-02-21 12:24] jorisvandenbossche commented on #32146
Yes, so it is not directly related to `value_counts`, but a bug in the representation of an object index with NaN inside (@timschulz91's first example above):

[code]

[2020-02-21 12:26] jorisvandenbossche commented on #32146
And this seems to be a regression compared to 0.25, so tagged it as such (and with 1.0.2 milestone)

[2020-02-21 12:28] jorisvandenbossche commented on #32146
And the bug should be somewhere in here:

[code]

[2020-02-21 12:41] jorisvandenbossche commented on #32146
And there, the `maybe_convert_objects` function is called, and it is this one that changed behaviour:

[code]
(this returns  `array([True, False, nan], dtype=object)` in 0.25.3)

I suppose this is caused by https://github.com/pandas-dev/pandas/pull/27335

[2020-02-21 12:57] mguttman commented on #32145
Dear @MarcoGorelli,
I upgraded pandas to 1.0.2 and the tests run with lots of ``s`` and ``x`` characters. The final output was:
[code]
Thank you!

[2020-02-21 13:02] MarcoGorelli commented on #32145
cool, will close then

[2020-02-21 13:02] #32145 closed

[2020-02-21 13:08] jorisvandenbossche commented on #28952
@zertrin yes, a version dropdown is on the to do list: https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/issues/23, I also really would like to see this (note this was a problem with the previous sphinx theme as well, although now there is also an issue in finding the home page -> https://github.com/pandas-dev/pandas/issues/30896)

[2020-02-21 13:29] simonvh commented on #32125
Yes, only this code. This is with pandas installed from conda-forge:

[code]

[2020-02-21 13:31] simonjayhawkins commented on #32140
@jorisvandenbossche This bug was noticed in https://github.com/pandas-dev/pandas/issues/26683#issuecomment-580515579 and fixed in #31511.

so we need to backport that PR. and move the whatsnew. any particular order? Also, do we need to add another test for this?

[2020-02-21 13:42] MarcoGorelli commented on #32125
Thanks - TBH I don't know what's going on then, I just tried installing from conda-forge and got no error:
[code]

[2020-02-21 13:47] jorisvandenbossche commented on #32140
The order is not that important. I think the easiest is to backport the PR (can first try asking MeeseeksDev, in case there is no conflict), and update the branch with moving the whatsnew. And then a separate PR moving the whatsnew just in master.

I would also still add a test, since the case seems a bit different.

[2020-02-21 13:50] simonjayhawkins commented on #31964
yes backporting #31511 will fix this. do we need to add a test?

[2020-02-21 13:50] simonjayhawkins commented on #32140
xref #31964

[2020-02-21 13:53] simonjayhawkins commented on #32140
OK will
1. backport #31511 with whatsnew moved.
2. PR to mater with whatsnew move
3. PR to master with this code sample as test case (no need to backport?) to close this issue
3. PR to master with code sample from  #31964 as test case to close that issue

[2020-02-21 13:57] jorisvandenbossche commented on #32140
Sounds good, thanks!

[2020-02-21 13:57] MarcoGorelli commented on #32039
closing there's no reproducible example, and as it turns out this was intentional

[2020-02-21 13:57] #32039 closed

[2020-02-21 14:12] fhabermacher commented on #18979
It is not true that every pandas method does not do changes in an inplace way. At least [pandas.DataFrame.insert](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html) changes the calling df.

One can debate about intuitions, but it would probably seem _at least_ as intuitive for a 'set' method such as `set_index()` to be inplace as an `insert()` method.

[2020-02-21 14:15] simonjayhawkins commented on #32140
had already cherry-picked locally to test. so just created backport manually.

[2020-02-21 14:22] simonvh commented on #32125
Ah. I see. It's only when running the snippet in a Jupyter notebook. Then you get this error:

[code]

[2020-02-21 14:48] #32117 closed

[2020-02-21 14:52] #31988 closed

[2020-02-21 15:41] andrewcooke commented on #31964
Thanks, so this will be in 1.0.2 I gather? :)

[2020-02-21 15:53] rth opened #32156 "False positive for "nested renamer is not supported" error"
#### Code Sample

[code]

produces
[code]
#### Problem description
While groupby.agg() with a dictionary when renaming was deprecated in 1.0 (
https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.20.0.html#deprecate-groupby-agg-with-a-dictionary-when-renaming) the corresponding error message can also be obtained when aggregating by an non existing column which can lead to confusion.

#### Expe

[2020-02-21 16:04] echozzy629 commented on #30232
Hello, I would like to work on this.

[2020-02-21 16:15] jbrockmendel opened #32157 "API: joining DatetimeIndexes not preserving freq"
[code]

In master `joined.freq` comes back as None, while in 0.25.3 it was "D".  There is some code in DatetimeIndex._wrap_joined_index that suggests to me this was intentional.

Can someone confirm this suspicion cc @jorisvandenbossche ?  If so, I've got a branch that restores the old behavior, just need to add tests.

[2020-02-21 16:23] mfouesneau commented on #25349
I agree with @Mark531 there should be an intuitive manner to merge dataframes horizontally. the documentation on ignore_index=True is unclear, I also spent time on this.

[2020-02-21 16:23] jbrockmendel commented on #32120
hmm, could be an OSX thing.  I just tried on Ubuntu and got the same behavior you did.

cc @WillAyd can you reproduce?

[2020-02-21 16:29] echozzy629 commented on #27905
Hi, I would like to work on this.

[2020-02-21 17:46] MarcoGorelli commented on #32125
Got it, thanks @simonvh !

Back to the issue, regarding your two suggestions:

A more precise error message would be helpful, I imagine the core devs would accept a PR for this - would you interested in [submitting a PR](https://pandas.pydata.org/docs/development/contributing.html)?

The [doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.bar.html?highli

[2020-02-21 18:35] #32140 closed

[2020-02-21 18:36] #31964 closed

[2020-02-21 18:38] #31760 closed

[2020-02-21 19:10] jbrockmendel commented on #27656
brainstorming how to write tests for this, we could do something like:

[code]

We could use `ours` and blacklist internal-only classes for the parametrization in tests.test_errors.test_exception_importable

[2020-02-21 20:28] AdrianMastronardi commented on #30232
Hello, I will work on **testing** and **Pandas Development FAQ**.
Do you think that the FAQ page is still relevant? I was thinking on adding a reference to each of the other specific pages, e.g. in the coding style section of the FAQ reference the coding style section. Does it make sense to you?

[2020-02-21 20:35] blalterman opened #32162 "Multiple aggregation on Groupby with DatetimeIndex and Categorical column or chained Groupby and Resample with multiple aggregation functions"
Given a categorical column and a `datetime` index, one can groupby and aggregate on either column, but one cannot groupby and aggregate on both.

Setup
-----
[code]

Case (A): `Groupby` and aggregate on `categorical` works
----------
[code]

Case (B): `Groupby` and aggregate on `DatetimeIndex` works
-----
[code]

## Problem description

`Groupby` and aggregate on both fails
-------
[code]

Chainin

[2020-02-21 20:59] WillAyd commented on #32120
I see the commit hash as well on osx

[code]

[2020-02-21 22:01] jsignell commented on #28755
Just came across this while trying to close out some old dask PRs. You can pass a sort kwarg into the groupby and it is on by default. By turning it off you can see that the `sort` in `sum` has no impact.

[code]

If pandas can't catch invalid kwargs because it's passing them along, then I think this issue should be closed.

[2020-02-21 22:42] jbrockmendel commented on #32120
@WillAyd thanks for taking a look.  This is getting funkier the more I look at it; might have to do with having a branch on a git worktree.  Also now getting bad output on Ubuntu in some circumstances:

[code]

[2020-02-21 22:45] WillAyd commented on #32120
IIRC there was an f-string issue that caused what you are seeing above. Thought already fixed on master - if not should be in the PR queue

[2020-02-21 22:45] rsdpyenugula commented on #29418
bump

[2020-02-21 22:45] jbrockmendel commented on #32120
OK good, tentatively looks like _print_versions.get_sys_info is implicitly assuming we are in the main branch of the git worktree

[2020-02-21 22:48] jbrockmendel commented on #32120
im inclined to think that the git check in get_sys_info should use the versioneer code in _version.py instead of trying to re-implement the logic

[2020-02-21 23:50] cuckookernel opened #32165 "Applying groupby and aggregating with nunique over float column with nulls unexpectedly changes dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

For some reason the agg, groupby operation is changing the orginal nan values in the b column
to a special float value.
In the previous version of pandas I was using, this didn't happen.

### Expected Output
The expected output of the  print should the same as the one of the first print as groupby + agg should

[2020-02-22 02:00] jreback commented on #29418
@rsdpyenugula if you really want to this then you should edit the top with
detailed examples (quality not quantity matters here); doc-strings, and typed function signatures

a POC implementation PR would also be nice to have

pandas is all volunteer and folks have limited time with 3000+ issues; so contributions are the only thing to move this forward

[2020-02-22 09:57] MarcoGorelli commented on #32165
Thanks @cuckookernel for the report!

This is indeed a bug - closing though as we have it reported in #31950

[2020-02-22 09:57] #32165 closed

[2020-02-22 10:36] RINNETL opened #32173 "can't create DataFrame with multiIndex by list of list"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
when creating DataFrame by list of list with multiIndex, raise ValueError. I'm new to pandas, I don't know why, but  it seems like a bug...

`d=DataFrame([[1,2,3,4],[4,5,6,7]], columns= [list('abcd'), list('cdef')])`

[code]
[code]
it's ok when using numpy's ndarray

[code]

[2020-02-22 10:46] st-bender opened #32174 "pd.Timestamp.utctimetuple() raises TypeError on Python 3.8"
Hi there,

it seems that something changed in python 3.8 that makes `pandas.Timestamp.utctimetuple()` raise a `TypeError` instead of producing a `time.struct_time`.

#### Code Sample

[code]

#### Expected Output

With earlier Python versions the output is:
[code]

An intermediate workaround can be to convert to `datetime.datetime` (python 3.8):
[code]

#### Output of ``pd.show_versions()``

<deta

[2020-02-22 14:05] AdrianMastronardi commented on #28792
Hi, I'm working fixing these errors on `core/series.py`. I have a doubt regarding `core.window.Rolling.quantile`.

If understand correctly this should be the change to: `core.window.Rolling.quantile : Calculate the %(name)s quantile.`

Appreciate your feedback. Thanks.

[2020-02-22 15:26] xin-jin opened #32179 "MultiIndex.is_monotonic_increasing"
This does not seem to be documented anywhere. For MultiIndex, how is `.is_monotonic_increasing `different from `.is_lexsorted`?

[2020-02-22 15:37] #31503 closed

[2020-02-22 17:53] #19456 closed

[2020-02-22 17:54] SaturnFromTitan opened #32183 "Use `sort` fixture in more places"
This is a follow-up on [this review comment by jbrockmendel](https://github.com/pandas-dev/pandas/pull/32046#discussion_r382697823).

There's a `sort` fixture in `tests.indexes.interval.test_setops`, which could be used in other places as well. For instance in `test_difference_base` in `pandas/tests/indexes/common.py`.

There are probably many more places where it could be used.

[2020-02-22 18:32] jtiscione commented on #32092
This is what happens for me on aarch64:

sudo -H pip install pandas
[code]

[2020-02-22 19:16] jreback commented on #32092
we have 0 support / testing for big endian platforms (and not wheel capable linux)

so will take patches but you are on your own

[2020-02-22 20:27] jbrockmendel commented on #29779
Closing as duplicate of #22450.

[2020-02-22 20:27] #29779 closed

[2020-02-22 20:28] jbrockmendel commented on #22450
Discussion in #29779 included idea of putting a note in the Timestamp.timestamp docstring (currently we have a note in a comment)

[2020-02-22 21:49] charlesdong1991 opened #32188 "BUG/ENH: MI.get_level_values and MI.set_levels get confused if level name happens to be int"
While working on a PR, find out a confusion when level names are integer/None, e.g.

[code]
Pandas has quite big tolerrance of names setting, however, if names is set by int, and happens to be valid position, then using `set_levels` to change level value could be confusing, and also using level name to only change level values for `None` becomes difficult, because by default, `None` should be used

[2020-02-22 22:57] jancervenka commented on #29547
File included in the pull request #32189

* pandas/tests/indexes/datetimes/test_to_period.py

[2020-02-22 23:29] Conxz opened #32190 "BUG: could be a problem related to dropna()"
#### Code Sample

[code]
#### Problem description
Have a look at the code in block A and B. In A, df['name'] was used, while in B, df['name'].values was used. Apperantly, output of A was not correct, where it seems that the first term in the original df (before applying dropna()) was assign to the new dat_df.
I tested this issue with version 0.18.1, 0.25.1, and 1.0.1.

[2020-02-23 03:01] jtiscione commented on #32092
Actually I got it working on arch64 once I uninstalled enum34.

[2020-02-23 03:07] jreback commented on #32092
@jtiscione great

[2020-02-23 03:07] #32092 closed

[2020-02-23 05:30] griffindore opened #32194 "Extension dtypes are modified when performing groupby aggregate with agg dict"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When using Extension dtypes, StringDtype, BooleanDtype, Int64Dtype, Int32Dtype, etc., in a DataFrame, the dtypes are modified to float64 when performing a `groupby.agg` with a dict defining the reducing function per column. This change in dtypes doesn't occur with numpy dtypes, and it doesn't occur when using a

[2020-02-23 05:44] griffindore commented on #32194
This is also a regression from 0.25.3 and prior. I first noticed it with categoricals, but just now realized that you can set the new `Int` types in 0.25. `dtypes` are maintained in 0.25.3 when doing `df.groupby.agg(agg_dict)`

[2020-02-23 06:12] SatyakeerthiS opened #32195 "Tried this and output was true. Again tried to read the file car = pd.read_csv("/Users/apple/Desktop/usedcars.csv". But ended with same error"
Pls provide your directory structure, then try:

[code]

Not sure why you're caring `matplotlib`. If you trying a script taken from somewhere, you can attach the link.

_Originally posted by @sinhrks in https://github.com/pandas-dev/pandas/issues/10457#issuecomment-116166868_

[2020-02-23 06:13] SatyakeerthiS commented on #32195
ParserError                               Traceback (most recent call last)
<ipython-input-67-0210f97304d3> in <module>
----> 1 car = pd.read_csv('/Users/apple/Desktop/usedcars.csv')

~/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py in parser_f(filepath_or_buffer, sep, delimiter, header, names, index_col, usecols, squeeze, prefix, mangle_dupe_cols, dtype, engine, converters, true_v

[2020-02-23 07:26] fedarko opened #32196 "DataFrame.sparse.from_spmatrix seems inefficient with large (but very sparse) matrices?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It seems like the [scipy csr matrix](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html) is being converted to dense somewhere in `pd.DataFrame.sparse.from_spmatrix()`, which results in that function taking a large amount of time (on my laptop, at least).

I _think_ this seems ind

[2020-02-23 10:46] charlesdong1991 commented on #32195
what does your csv data look like, might be issues with the header/delimiter of your data?

[2020-02-23 11:12] charlesdong1991 commented on #32179
`.is_lexsorted` is used for checking sortedness of MI, while `is_monotonic_increasing/decreasing` for a regular Index

The DOC could be improved and better clarified

[2020-02-23 11:20] charlesdong1991 commented on #32173
interesting, looks buggy!

[2020-02-23 11:21] charlesdong1991 commented on #32173
take

[2020-02-23 11:26] charlesdong1991 commented on #32129
indeed, @kirialis , your description of feature request seems like being implemented in #30928 , and original issue is #21425 , could you please try to merge master, and see if your issue resolved?

FYI, another PR to add annotations for `df.pivot` is underway #32197

[2020-02-23 11:49] tolaa001 commented on #29440
@jreback are you happy for me to work on this?

[2020-02-23 13:24] xunhui-yu-awx commented on #23002
Need to find out fist/last on a string column in a rolling window.

[2020-02-23 14:57] #31927 closed

[2020-02-23 14:59] #32123 closed

[2020-02-23 15:02] #31950 closed

[2020-02-23 16:13] WenjieDu opened #32203 "fillna(inplace=True) does not work with columns selected by loc"
not only multiple columns, but also one column.
`df.loc[df.id==123, 'num'].fillna(0, inplace=True)` doesn't work ,
but `df.loc[df.id==123, 'num'] = 123` works

why not edit the **fillna** function to adapt it  in the future.
It seems like a bug.

_Originally posted by @shuiyuejihua in https://github.com/pandas-dev/pandas/issues/14858#issuecomment-428979311_

Hi, I met with the same problem. Now th

[2020-02-23 17:18] xin-jin commented on #32179
Thanks for the reply.

MultiIndex also has the attribute `.is_monotonic_increasing`. Does it mean anything or just not accurate?

[2020-02-23 17:46] SaturnFromTitan opened #32205 "Simplify test_value_counts_unique_nunique_null in pandas/tests/base/test_ops.py"
As stated by @jreback in [his comment](https://github.com/pandas-dev/pandas/pull/32046#discussion_r383021295) on #32046, there are some weird constructs, duplications and unreachable code in this test.

For more info see the mentioned PR and the unresolved comments in the bottom.

The other tests in this file have a similar problem, but should probably be a separate PR.

[2020-02-23 18:51] dsaxton opened #32206 "Clean up null checking"
From the discussion in https://github.com/pandas-dev/pandas/pull/31939 it was pointed out that there are places where we check for nullness in an unnecessarily verbose way, e.g.: https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/hashtable_class_helper.pxi.in#L1036.

Ideally we should just be able to use `checknull` from `pandas/_libs/missing.pyx`, but would need to make sure this catch

[2020-02-23 19:16] joernhees opened #32207 "read_excel loses spaces on ods"
#### Code Sample
Create a new spreadsheet with 1 column "testcol" in LibreOffice / OpenOffice & Excel, save as `test.ods`/`test.xlsx`:
[code]
For simplicity here as zip: (1 ods, 1 xlsx): [spreadsheets.zip](https://github.com/pandas-dev/pandas/files/4242180/spreadsheets.zip)

[code]

#### Problem description
When reading `.ods` files (OpenOffice or LibreOffice) multiple spaces are collapsed into on

[2020-02-23 21:17] DSLituiev opened #32208 "visual bug in pd.style.background_gradient"
#### Problem description
The `pd.style.background_gradient` messes up the color order. That is it display wrongs colors that obviously don't conform the order of underlying numbers.

#### Code Sample, a copy-pastable example if possible
[code]

<img width="578" alt="Screen Shot 2020-02-23 at 13 09 22" src="https://user-images.githubusercontent.com/8426290/75120156-26f87680-563e-11ea-824f-1222be131

[2020-02-23 21:46] fedarko commented on #32196
In case this is helpful, I ran through the [`from_spmatrix()`](https://github.com/pandas-dev/pandas/blob/7f178c4f5215a2ec9fd18684b0de0ed118cbb1db/pandas/core/arrays/sparse/accessor.py#L199-L238) source code line-by-line with the example data above, and it looks like the following line:

[code]

takes about **294 seconds** (~4.9 minutes) to finish on my laptop. I think this is responsible for most

[2020-02-23 21:49] jreback commented on #32196
a
data frame is dense but sparse in rows, so this is as expected ; extremely wide frames are slow; but not very common

[2020-02-24 00:27] dsaxton opened #32213 "pandas.to_datetime raises when given pd.NA"
`to_datetime` raises when we pass in `pd.NA` but it should probably convert to `pd.NaT`, I think (or at least this would be better than an error)?

[code]

#### Expected Output

[code]

[2020-02-24 08:03] jorisvandenbossche commented on #32213
As mentioned on the PR, I am not fully sure we should convert it to pd.NaT, or at least not until we have a better idea how we want to handle NA in datetime-like dtypes in the future.

[2020-02-24 08:05] jorisvandenbossche commented on #32157
Do you mean it was intentionally preserving the freq, or that it was an intentional change in 1.0 to no longer preserve this?

[2020-02-24 09:46] pandrey-fr commented on #32190
Hi,

What is happening here is that executing `dat_df['SID'] = df['name']` tries to match values from `dat_df` and `df` based on row indices. However, in your example, `dat_df` only has one row, of index 0, while `df` has one row of index 1, which is why the latter's value is not merged into the former's newly declared column.
Note that if you run:
[code]
you get
[code]

When using `df.values`, yo

[2020-02-24 09:57] albertmarzo opened #32217 "rame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-02-24 10:44] MarcoGorelli commented on #32217
Hi @albertmarzo - did you mean to just submit the issue template, or do you have a bug report you meant to include?

[2020-02-24 11:53] MarcoGorelli commented on #32067
Thanks @arobrien for the report

Looking into this - in pandas/core/reshape/merge.py, when we get here

[code]

we have `self.right_index` is `False`, and so the join index is set to `Index(np.arange(len(left_indexer)))`

[2020-02-24 12:02] MarcoGorelli commented on #32060
Closing as it seems this is now fixed

[2020-02-24 12:02] #32060 closed

[2020-02-24 12:20] ace-e4s opened #32218 "Inconsistent behavior when DataFrame with strings and None is created from lists or dictionary."
#### Code Sample

[code]
#### Problem description

None is not casted consistently for DataFrames with None values and dtype set to str.

If DataFrame is created from list, then None is casted to str -> None -> "None".
If DataFrame is created from dict, then None remains NoneType -> None -> None.

IMO, the latter is the preferred behavior. I hope you consider this when continuing your work on stri

[2020-02-24 14:18] jreback commented on #32213
we should absolutely convert this; all null values correctly convert to the current missing value NaT
; changing that is a completely separate discussion

[2020-02-24 15:44] rhenwood-arm commented on #32092
@jtiscione : it looks like enum34 is a compatibility layer for older Python versions. Which version of python were you using?

[2020-02-24 15:54] mojones opened #32219 "calling `mean` on a `DataFrameGroupBy` with `Int64` dtype results in `TypeError`"
[code]
#### Problem description

Using the new nullable integer data type, calling `mean` after grouping results in a `TypeError`. Using `int64` dtype it works:

[code]

as does keeping `Int64` dtype but taking a single column to give a `SeriesGroupBy`:

[code]

The error does not occur when calling `min`, `max` or `first`, but does also occur with `median` and `std`.

#### Expected Output

[code]

[2020-02-24 16:00] mojones commented on #32219
Update: using `agg` and passing a list consisting just of `'mean'` works:

[code]

but passing `'mean'` on its own doesn't:

[code]

[2020-02-24 16:12] jbrockmendel commented on #32157
_wrap_joined_index looks like it was written to intentionally preserve the freq.

[2020-02-24 16:32] #27553 closed

[2020-02-24 16:35] dsaxton opened #32220 "CI: value_counts tests failing sometimes"
It seems like we're getting some failures from `test_value_counts_unique_nunique` in `pandas/tests/base/test_ops.py` (weird thing is that it only fails some of the time; maybe because of randomized test data?). Looks like these tests were updated in https://github.com/pandas-dev/pandas/pull/32046; @SaturnFromTitan any ideas what might be happening there?

Sample failed pipeline: https://github.com

[2020-02-24 16:41] SaturnFromTitan commented on #32220
Hm, that's weird. Looking at the error log above the test failed for the fixture value `float16-series` [defined here](https://github.com/pandas-dev/pandas/blob/master/pandas/conftest.py#L1036).

If I recall correctly that fixture value wasn't used/tested in this test before, so possibly we can just remove it from the fixture again. I have no idea about why it's flaky/broken though...

[2020-02-24 17:08] mroeschke commented on #32190
Thanks for the explanation @pandrey-fr. This is indeed the expected behavior due to index alignment.

[2020-02-24 17:08] #32190 closed

[2020-02-24 18:02] dsaxton commented on #32213
Part of my concern is that having errors like these could discourage people from using NA and nullable types in general. For example, suppose someone takes the reasonable steps of storing date strings along with missing values in a string dtype and then wants to convert them using pd.to_datetime. Getting an error here creates an unnecessary edge case that people then may try to avoid by not using

[2020-02-24 18:44] #32217 closed

[2020-02-24 18:53] WillAyd commented on #32213
+1 to having this convert as well

[2020-02-24 18:54] WillAyd commented on #32207
Makes sense. The odf reader is located in pandas.io.excel._odfreader.py - interested in debugging and pushing a PR?

[2020-02-24 19:23] jtiscione commented on #32092
This was on Python 3.6.9. The enum34 thing is a known issue; I totally forgot I had installed it for another project, which needed it for some reason.

It only seems to interfere during installation. Once I removed enum34, I was able to install pandas successfully, and it's still working if I reinstall enum34.

[2020-02-24 19:26] WillAyd commented on #32195
Thanks for the report but this appears to just be a malformed csv file. You should try asking in StackOverflow for help - this tracker is reserved for bug reports and enhancement requests.

[2020-02-24 19:26] #32195 closed

[2020-02-24 19:37] WillAyd commented on #32220
We generally don’t support float16 so if it is causing test failures can probably remove

[2020-02-24 20:35] simonjayhawkins commented on #27905
@echozzy629 Thanks for the interest. #32069 has been submitted to address this issue.

[2020-02-24 23:19] Jacob-Bishop opened #32225 "Treatment of Pre-Epoch datetimes in windows"
#### Code Sample
[code]
#### Problem description
```pandas._libs.tslibs.tzconversion._tz_convert_tzlocal_utc``` calls ```dt.astimezone()```, which fails on Windows for pre-Epoch datetimes (see, e.g., code sample above) with ```OSError: [Errno 22] Invalid argument.``` This appears to be related to this issue https://github.com/dateutil/dateutil/issues/197, where time.localtime() can't take negative

[2020-02-24 23:32] devjeetr commented on #31705
Could I work on this if no one is already? I can investigate the two proposed solutions and report back.

[2020-02-25 01:07] dorukhansergin commented on #21673
+1

[2020-02-25 01:32] MasterNobikan commented on #29547
Is this issue resolved? I have been looking at files unmarked on the list at the top of this thread, it seems like the .format() strings have been converted

[2020-02-25 01:43] WillAyd opened #32229 "32 bit CI Failures"
Haven't had time to debug but seeing this in the logs when setting up the 32 bit linux environment:

[code]

[2020-02-25 04:24] vishnu-dev opened #32233 "[FEATURE] Ability to pass regex flags in DataFrame.replace while regex=True"
#### Code Sample

[code]
#### Problem description

According to [pandas docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html) for `DataFrame.replace` the replace has ability to take regex input, but doesn't have the ability to take in regex flags such as `re.I` or `re.IGNORECASE` for case insensitive search.

#### Expected Output
[code]

[2020-02-25 04:25] joybhallaa commented on #29310
Hey all,
So I was going through the tests in **test_store.py**
and the tests have lines
[code]
These tests are checking for conditions and returning true or false, but not changing the values for these 2 parameters.
Can I use pytest to set values in case of any errors, and use it to set a "default" value, or should I do it in **pytables.py**.

I may be wrong about some things, as I am still fairly

[2020-02-25 08:01] SylvainLan opened #32234 "Using scipy's entropy function with "string" dtype"
Hello,

I calculate entropies of real valued random variables thanks to `pandas` and `scipy.stats`. For some practical reason, I bin my df's values with `pd.cut` and the `labels` I assign to these binned valued has to be a string. I wanted to use the new "string" dtype introduced in 1.0.0, but there seems to be an issue, here is a code sample :

[code]

The error raised is `TypeError: ufunc 'entr'

[2020-02-25 09:18] kdebrab commented on #25411
This issue has been solved in pandas 1.0.1.

[2020-02-25 09:25] jorisvandenbossche commented on #32213
Note that for the conversion the other way around (from nullable dtype to a dtype that uses np.nan), we decided that we (for now) don't want to do implicit conversion of pd.NA to np.nan, since that has different behaviour.

The example case of @dsaxton is a good one though, and I agree it would be nice if that works. As long as we are fine with breaking this behaviour in the near future (to return

[2020-02-25 09:57] pandrey-fr commented on #32234
The issue seems to arise from the fact that the second `Series` obtained from `df['bin_val'].value_counts()` converts to a `pandas.arrays.IntegerArray` rather than a `numpy.ndarray`, which is not a supported input data type of `scipy.stats.entropy`. Similarly, explicitly calling `entropy(df['bin_val'].value_counts().to_numpy())` fails due to values casting to `object` dtype.

The simplest way I fo

[2020-02-25 10:07] SteffenMeinecke commented on #29707
Same issue exists when `.loc` gets an boolean including only False values, e.g.:

[code]

[2020-02-25 10:12] mschroen commented on #31964
Can someone please tell how to "backport `#31511`" with pip? This reindex bug breaks all my workflow and unless 1.0.2 is not online I'd be happy to install a "backported version".

[2020-02-25 11:25] lodagro commented on #31744
pandas generates the month names using get_locale_names from the mentioned ```ccalendar```, using a locale context manager changing the setting for LC_TIME. However on windows (can`t reproduce this on linux) there is seems to be a difference when using ```locale.LC_TIME``` or ```locale.LC_ALL```. Using ```LC_ALL``` the output is ok.

[code]

[code]

[2020-02-25 13:12] ShayHa opened #32238 "read_excel with xlsb"
[code]
As it been said in the new docs that read_excel can now read xlsb, I tried to run my xlsb file and still got and error.
[code]
#### Expected Output
A working df.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.14.137+
machine

[2020-02-25 14:09] MarcoGorelli commented on #32208
Thanks @DSLituiev for the report

Could you change your example to
[code]
so it runs? Thanks

Will look into this

[2020-02-25 14:29] prakhar987 commented on #32218
None is converted to 'None' when numpy array (made from passed list ```['1', '2', None])``` is casted :

https://github.com/pandas-dev/pandas/blob/54b400196c4663def2f51720d52fc3408a65e32a/pandas/core/internals/construction.py#L173

Should numpy handle this or we can do a workaround. Can work on a PR.

[2020-02-25 14:31] ankurrajdev opened #32239 "Creating lag windows in pandas is slow for large dataset"
#### Code Sample, a copy-pastable example if possible
[code]
This is working fine for smaller dataset but is not efficient for a large dataset( 19M and there are 700K groups)
#### Problem description
I want to add new variables to a given dataset with lag windows. For instance, we have a column name clicks, we want to add sum_click_last2days, mean_click_last2days, sum_click_last4days, mean_click_l

[2020-02-25 14:56] SylvainLan commented on #32234
Thanks @pandrey-fr
So you're telling me I basically got lucky in my first scenario for the conversion was handled directly by scipy ?
If that's the case there is no need for pandas to change anything, right ? I'll thereby close this issue

[2020-02-25 14:57] lodagro commented on #25100
out of date,  for reference:

[code]
Or change the order of the plots, the A plot has the widest x-limits.

[code]

Both snippets result in the following plot.

![image](https://user-images.githubusercontent.com/1094464/75258883-6dd5a000-57e7-11ea-84ea-0ebdcbde512d.png)

@aslobodnik Are you ok to close this?

[2020-02-25 15:25] WillAyd commented on #32238
Does it work if you specify engine=“pyxlsb”?

[2020-02-25 15:26] pandrey-fr commented on #32234
Well, basically, in the second scenario, the conversion of your data to the recently introduced `pandas.StringDtype` triggered the formatting of `value_counts` results to `Int64`. Not being a pandas developer, I do not know whether this is intended and/or desriable behaviour.

Note that if you converted your data to `str` (which pandas treats as `dtype('O')`) using `df['bin_val'].astype(str)`, you

[2020-02-25 15:27] WillAyd commented on #32239
@ankurrajdev thanks for the report but given the size of this it isn’t clear there is a bug or performance problem. If you can profile the code and isolate an issue we can certainly reopen - otherwise you should try StackOverflow for questions as the Q&A format may be better suited to your needs (we reserve this board for big reports and enhancement requests)

[2020-02-25 15:27] #32239 closed

[2020-02-25 15:45] jbrockmendel commented on #32233
I'm not sure off the top of my head, but I _think_ you can pass compiled regexp objects, which might do the trick?

[2020-02-25 15:52] MarcoGorelli commented on #32203
Thanks @WenjayDu

Can confirm this is still present:
[code]

however, this works:
[code]

Having said that, `inplace=True` is now generally not recommended, better to  do
[code]

[2020-02-25 15:52] lodagro commented on #25805
@bibenb1 ok to close this?

![image](https://user-images.githubusercontent.com/1094464/75264068-218e5e00-57ef-11ea-9804-51258e46dd6b.png)

[2020-02-25 15:56] ankurrajdev commented on #32239
@WillAyd  - This is a performance issue. The code is working for small datasets but is not working for large datasets. So, it's a performance issue.
I posted it there so that if anyone can provide a more efficient solution and optimize the code.

I wasn't sure if StackOverflow or Issue tracker was the best platform to post this issue.

[2020-02-25 15:56] RaghavaDhanya opened #32240 "NamedAgg with as_index= False drops aggregated values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When I try to use `as_index=False`with named aggregations it seems to be dropping values and replacing them with index. This is the output of the above code.
|    | min_width   |
|---:|:------------|
|  0 | setosa      |
|  1 | versicolor  |
|  2 | virginica   |

#### Expected Output
|    | species    |   min_wi

[2020-02-25 16:06] WenjayDu commented on #32203
Thanks for your reply @MarcoGorelli

Yes, `df.fillna(0, inplace=True)` does work, but when selection criteria becomes complex, like `df.loc[df['facility_name']=='Cisco', ['feature1','feature2']]`, unfortunately, without `inplace=True`, filling will become quite verbose like

[code]

BTW, what do you mean when you say "`inplace=True` is now generally not recommended"? Only for `fillna()` function,

[2020-02-25 16:10] MarcoGorelli commented on #32203
In general - see #16529 (or https://youtu.be/hK6o_TDXXN8)

[2020-02-25 16:50] jreback commented on #32203
this is not a bug, rather a limitation of the language itself

you are likely getting a SettingWithCioy warning that what you are doing is unsafe

https://pandas.pydata.org/docs/user_guide/indexing.html?highlight=settingwithcopy#indexing-view-versus-copy

[2020-02-25 16:51] jreback commented on #32229
just disable the build for now (and leave this issue open)

[2020-02-25 17:04] MarcoGorelli commented on #32203
@jreback no warning is currently raised for me

[2020-02-25 17:15] ace-e4s commented on #32218
But isn't the "bigger" issue here that the behavior is different for seemingly two equivalent ways of instantiating a Dataframe?

[2020-02-25 18:02] MarcoGorelli commented on #32208
@DSLituiev you need to pass `axis=None` for it to work the way you intend to:

[code]

![image](https://user-images.githubusercontent.com/33491632/75273476-d8dba280-57f8-11ea-9cc7-b7416fd6361a.png)

[2020-02-25 18:05] prakhar987 commented on #32218
I am assuming one is wrong, the case where None becomes "None".

[2020-02-25 18:08] #32208 closed

[2020-02-25 18:22] m2rik opened #32243 "Convert style object to DataFrame"
[code]
#### Problem description

How do I convert a Style object back to a dataframe to be outputted by nbconvert as a latex file or pdf

[2020-02-25 18:48] erpda commented on #12585
I am new to Pandas and github - please be gentle.  If I understand the thread correctly - this is an unaddressed issue for 3.5 years?  Don't you think that explicitly coding how a date should be read is an  unreasonable solution?  It's like importing integers and coding "randomly_scramble_my_number=False".  This error is enough to ban use of Pandas in some large organisations :(

[2020-02-25 18:49] mroeschke commented on #32225
Thanks for the report.

As you mentioned, seems like a deeper bug with dateutil and Windows. We would prefer a fix upstream instead of patching it in pandas.

[2020-02-25 18:49] #32225 closed

[2020-02-25 18:55] simonjayhawkins commented on #32229
closed in #32241

[2020-02-25 18:55] #32229 closed

[2020-02-25 19:19] MarcoGorelli commented on #25408
take

[2020-02-25 19:24] TomAugspurger commented on #32188
I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/21677.

[2020-02-25 19:28] jkleint commented on #27596
Writing partitioned parquet to S3 is still an issue with Pandas 1.0.1, pyarrow 0.16, and s3fs 0.4.

@TomAugspurger the `root_path` passed to `write_to_dataset` looks like `<File-like object S3FileSystem, mybucket>`.

@getsanjeevdubey you can work around this by giving PyArrow an S3FileSystem directly:

[code]

Of course you'll have to special-case this for S3 paths vs. other destinations for `.to_

[2020-02-25 19:30] simonjayhawkins opened #32246 "web site unwanted message"
![image](https://user-images.githubusercontent.com/13159005/75280356-3118a180-5805-11ea-9315-b9af6124b464.png)

[2020-02-25 19:51] charlesdong1991 commented on #32188
ahh, indeed, thanks! @TomAugspurger

i close this one since there are discussions around already

[2020-02-25 19:51] #32188 closed

[2020-02-25 20:59] namedtoaster commented on #28546
@tab1tha/@SuvigyaJain1 are you still working on this? @WillAyd is this just a matter of modifying the 'read_excel' function and changing the default engine to openpyxl? Are there any checks that need to be done to see if the module is already installed?

[2020-02-25 21:34] fuglede opened #32249 "Deserialization with pyarrow fails for certain Timestamp-based data frame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When following the [procedure outlined here](https://stackoverflow.com/a/57986261/5085211) to use `pyarrow` to serialize/deserialize data frames, the above example fails with the following traceback:

[code]

Perhaps interestingly, if I comment out the two `pd.to_datetime` lines, the thing works (perhaps unsurpr

[2020-02-25 21:52] gaibo opened #32251 "pandas.tseries.offsets.CustomBusinessDay apply_index implementation"
#### Code Sample

Hi there, I'm trying to do something like this:
[code]
and I am getting the following warning:
[code]

#### Problem description

The custom business day non-vectorized addition/subtraction works, but when performed on the order of millions of dates (ridiculous because I could take out duplicate dates, I know, but it was my original use case), it takes a non-trivial amount of time

[2020-02-25 22:21] jreback commented on #32249
pls open an issue on the pyarrow JIRA board instead; this is all pyarrow

[2020-02-25 22:21] #32249 closed

[2020-02-25 22:42] jreback commented on #12585
@eroda

There are 3000+ open issues in pandas. How should the handful of mostly volunteer folks prioritize? if large orgs want to just take and not help fix then I am not sure what to say.

open source is about finding, reporting, AND helping to fix. there are a many orgs and many many individual contributors to pandas and open source generally that have built an amazing eco system.

Would love fo

[2020-02-25 22:52] sboagibm commented on #31507
@charlesdong1991  Any status on this issue?  We've had to revert have to 0.25.3.  Is there a workaround?

[2020-02-26 00:10] SuvigyaJain1 commented on #28546
No I'm no longer working on this feel free to take the issue

[2020-02-26 00:32] SaturnFromTitan commented on #32220
xref: #32205

[2020-02-26 01:35] WillAyd commented on #28546
I think this can be handled by #29375 which @cruzzoe was working on but I think stalled; if that’s the case then certainly would welcome you taking over

[2020-02-26 01:37] #32120 closed

[2020-02-26 02:19] #31200 closed

[2020-02-26 02:20] #5377 closed

[2020-02-26 02:58] xin-jin opened #32259 "Bug: groupby with sort=False creates buggy MultiIndex"
[code]

The index of `t` is certainly not sorted, but `t.index.is_lexsorted()` returns True.

Another more subtle example is
[code]

This time the lexsort flag is correct. However, calling sortlevel will not sort the new MultiIndex correctly, that is, `t.index.sortlevel(['d', 'a'])[0]` returns

[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` he

[2020-02-26 03:21] namedtoaster commented on #28546
@WillAyd I took a look at the PR. I thought this would be a relatively easy fix by just adding a FutureWarning ExcelFile when using xlrd and/or just defaulting to openpyxl but looking at the reviews it seems to be more complicated than I thought.

In my own fork, I just added that warning which works as expected when not specifying the engine. This would be my first contribution so I can use some

[2020-02-26 05:48] WillAyd commented on #28546
I don’t think the existing PR is too far off just needs to be pushed over the finish line. If you pull that branch locally, fix the merge conflicts, and add a filter for the FutureWarning that is now getting raised at the module level of test_readers.py and test_xlrd.py I think should get you most of the way there:

https://docs.pytest.org/en/latest/warnings.html#pytest-mark-filterwarnings

[2020-02-26 05:58] echozzy629 commented on #31775
take

[2020-02-26 08:35] KraxelHuber opened #32262 "Rolling groupby should not maintain the by column in the resulting DataFrame"
When performing a `rolling` operation on a `groupby` object, the index level will be incorrectly maintained in the dataframe.

[code]

This issue has been discussed in #14013.

It has been closed eventhough the bug still exists in v1.01.

[2020-02-26 08:37] fuglede commented on #32249
Makes sense. It does directly impact pandas though, since it's now impossible to use msgpack to serialize the data frames, and the only usable workaround I had was downgrading pandas accordingly. (That's to say, if pyarrow is unstable enough that it can't be used reliably, perhaps that should inform pandas serialization design considerations?)

[2020-02-26 09:10] keua commented on #31507
I had the same issue, I added the code from @charlesdong1991 pull request and it is working for me

[2020-02-26 09:17] xuancong84 opened #32263 "bug: inconsistent Series indexing crash, depending on DataFrame index type??"
Recently, I encountered a very strange bug when indexing pd.Series in Pandas groupby object.
[code]
As shown in the above code, if df.index elements are string, pd.Timestamp, etc., the last line will not crash; however, if df.index elements are int, float, etc., the last line will crash. Ridiculously, in both cases `type(v.app)` is pd.Series, yet one is index-able, while the other one is not. It i

[2020-02-26 09:24] charlesdong1991 commented on #31507
thanks for all your comments!!

The PR is underway, and the issue which causes this problem is for `meta` the values of fields are not necessarily `Iterables`, but a patch added before changed this. As the PR in pandas usually takes quite a while to get merged (due to code quality/cleanness requirement and large amount of PRs here), so it will take longer to be released, and I hope this fix patch

[2020-02-26 09:49] arnau126 opened #32264 "[to_datetime] TypeError: Argument 'date_string' has incorrect type (expected str, got numpy.str_)"
#### Code Sample

[code]
[code]

[code]

Traceback:

<details>

[code]

</details>

#### Problem description

`to_datetime` raises a `TypeError: Argument 'date_string' has incorrect type (expected str, got numpy.str_)` when the arg is a list-like of numpy.str_ objects, but not when the arg is a single numpy.str_ object.

#### Expected Output

I expect that it works with numpy.str_ like it does wit

[2020-02-26 10:15] jorisvandenbossche opened #32265 "API: distinguish NA vs NaN in floating dtypes"
**Context**: in the original `pd.NA` proposal (https://github.com/pandas-dev/pandas/issues/28095) the topic about `pd.NA` vs `np.nan` was raised several times. And also in the recent pandas-dev mailing list discussion on pandas 2.0 it came up (both in context of `np.nan` for float as `pd.NaT` for datetime-like).

With the introduction of `pd.NA`, and if we want consistent "NA behaviour" across dty

[2020-02-26 10:24] MarcoGorelli commented on #25408
What if `name` is not None? Would we expect
[code]
?

[2020-02-26 10:24] regmeg opened #32266 "Pandas 1.0.1 - .rolling().min() and .rolling().max() create memory leak at <__array_function__ internals>:6"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Pandas `rolling().min()` and `rolling().max()` functions create memory leaks. I've run a tracemalloc line based memory profiling and  `<__array_function__ internals>:6` seems to always grow in size for every loop iteration in the script above with both of these functions present. For 1000 itereations it will con

[2020-02-26 10:28] jorisvandenbossche commented on #32265
cc @pandas-dev/pandas-core @Dr-Irv @dsaxton

[2020-02-26 10:34] jorisvandenbossche commented on #32265
**How do other tools / languages deal with this?**

Julia has both as separate concepts:

[code]

R also has both, but will treat NaN as missing in `is.na(..)`:

[code]

Here, the "skipna" `na.rm` keyword also skips NaN (na.rm docs: "logical. Should missing values (including NaN) be removed?"):

[code]

Apache Arrow also has both (NaN can be a float value, while it tracks missing values in a mask)

[2020-02-26 10:52] toobaz commented on #32265
I still don't know the semantics of ``pd.NA`` enough to judge, but I am skeptical on whether users do benefit from two distinct concepts. If as a user I divide 1 by 0, it's perfectly fine to me to consider the result as "missing". Even more so because when done in non-vectorized Python, it raises an error, not returning some "not a number" placeholder. I suspect the other languages (e.g. at least

[2020-02-26 10:57] toobaz commented on #32265
Just to provide an example: I want to compute average hourly wages from two variables: monthly hours worked and monthly salary. If for a given worker I have 0 and 0, in my average I will want to disregard this observation precisely as if it was a missing value. In this and many other cases, missing observations _are_ the result of float operations.

[2020-02-26 11:05] sumanau7 commented on #31913
Interested to pick this up, should we set
`kwargs["engine"] = "python"` for nullable types, before calling `self.eval` at [core/frame.py](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L2949)

Also what is the recommended way to check if dataframe is of nullable type or not, didn't find a right func exposed at [dtypes/api.py](https://github.com/pandas-dev/pandas/blob/master/

[2020-02-26 11:07] sumanau7 commented on #31913
take

[2020-02-26 11:31] TomAugspurger commented on #32265
Agreed.

My initial preference is for not having both. I think that having both will be confusing for users (and harder to maintain).

[2020-02-26 11:39] jreback commented on #32262
update the top with a minimal reproducible example

[2020-02-26 11:46] MarcoGorelli commented on #32259
take

[2020-02-26 12:12] jreback commented on #32265
agree with Tom here

I think R is even go too far as this introduces enormous mental complexity; now I have 2 missing values? sure for the advanced user this might be ok but most don’t care and this adds to the development burden

that said if we could support both np.nan and pd.NA with limited complexity;

as propagating values (and both fillable) IOW they are basically the same except that we do

[2020-02-26 12:35] #25057 closed

[2020-02-26 12:35] #31338 closed

[2020-02-26 12:36] #32157 closed

[2020-02-26 12:39] #32213 closed

[2020-02-26 12:54] arnau126 opened #32268 "`df.loc[mask, 'column'] = df['column2']` fails if mask is all False and column is a localized datetime"
#### Code Sample

[code]

[code]

Traceback:
<details>

[code]

</details>

#### Problem description

When mask is all False and the column is a localized datetime, it raises the error: `ValueError: cannot set using a list-like indexer with a different length than the value`.
This doesn't happens when the column is another type like naive datetime, str or int.

#### Expected Output

`df1.loc[mask,

[2020-02-26 13:52] gennaro-tedesco commented on #12387
This behaviour is extremely counter-intuitive and should be strongly documented at the least, if this is how things are intended to be kept.

There is no reason why the DataFrame constructor should not create the index automatically when passing scalars, and asking to manually pass the index requires to user to already know the structure of the dictionary they are intending to parse, which is not

[2020-02-26 15:40] hugosoftdev commented on #26284
Hey, i would like to work on this issue. Has it already being resolved?

[2020-02-26 15:44] devjeetr commented on #32049
take

[2020-02-26 15:44] KenHBS commented on #22012
When running `(df_int32 == df_int64).all().all()` we also check whether the values are equal and this does return `True`, unlike `df_int32.equals(df_int64)`. Perhaps it is possible to add an option to `equals()` that casts the types, essentially like `df_int32.equals(df_int64.astype(df_int32.dtypes))`.

The documentation for [pd.DataFrame.equals()](https://pandas.pydata.org/pandas-docs/stable/refe

[2020-02-26 15:50] Dr-Irv commented on #32265
On the other hand, such a calculation could indicate something wrong in the data that you need to identify and fix.  I've had cases where the source data (or some other calculation) I did produced a `NaN`, which pandas treats as missing, and the true source of the problem was either back in the source data (e.g., that data should _not_  have been missing) or a bug elsewhere in my code.  So in thes

[2020-02-26 16:01] MarcoGorelli commented on #32259
(just some notes, will come back to this)

`is_lexsorted` assumes the order of `.codes` reflects the order of the elements in the index. But `.codes` is actually determined by
[code]
in `pandas/core/groupby/grouper.py`, where `self.sort` may be False

[2020-02-26 16:25] SaturnFromTitan commented on #32220
take

[2020-02-26 16:25] SaturnFromTitan commented on #32205
take