[2018-02-02 10:54] #19493 closed

[2018-02-02 10:58] Holt59 commented on #17382
@chris-b1 Just tried this on my dataframe, and it does not give me correct results, I think it's because it handles `NaT` incorrectly (it gives me negative Timedelta from a dataframe containing only positive Timedelta and `NaT`).

[2018-02-02 11:01] jreback commented on #19239
@hexgnu its not about the issues, rather about having *another* structure to use, which leads to confusion and code complexity. Yes a pure sparse frame does lead to efficiencies, but you (w/o a lot of acrobatics) lose the heterogenity which makes a DataFrame itself so useful. I think a SparseDataFrame *should* exist as a separate project :> (and the primitives, IOW SparseArray/Series can still liv

[2018-02-02 11:29] #19421 closed

[2018-02-02 12:52] jorisvandenbossche commented on #19295
I think we should look back here at what is the goal? Why do we need/want compatibility? Is it because people want to be able to write code to creates an index without knowing in advance the values and names it receives will contains tuples or not / will result in MultiIndex or not?

I think that is a legitimate case, but, one that is *only* relevant for `Index` itself.

But that would also lead m

[2018-02-02 13:07] kernc commented on #19239
As long as high-level NDFrame APIs defer actions to block primitives as far as possible, having a regular DataFrame wrapping them should work fine.

[2018-02-02 13:22] TomAugspurger commented on #19501
inplace popping of rows is going to be very inefficient, and I don't thing we should encourage that.

I think the best way to do this is with boolean masking. That covers your use cases 1 and 2, and I don't think we should encourage 3 :)

This could be useful as a cookbook entry, "How do I pop rows from a DataFrame?", answering that you don't.

[2018-02-02 13:25] TomAugspurger commented on #19497
You're fighting against pandas by using tuples as keys in your Index, instead of using a `MultiIndex`..

cc @toobaz is this worth attempting to support?

[2018-02-02 13:27] jorisvandenbossche commented on #19492
We also need to take into account that for 'real' extension blocks (not ones we internally still adapt a little bit), can never do such "maybe coerce" logic, as they infer the `_holder` from the passed values.

It would probably be cleaner to make sure for our internal extension blocks we also only pass it correct data (so no "maybe coerce" is needed), but that might require a lot of cleaning up i

[2018-02-02 13:34] jorisvandenbossche commented on #19489
@ZhuBaohe Thanks for the report! I can confirm that this is wrong in the docs.

PR welcome to update the docstring. Although we should also figure out if the explanation before the example is then still correct?

[2018-02-02 14:53] TomAugspurger commented on #19500
Seems interesting, but I think outside of scope for pandas. I don't think we have much of an appetite for DSLs beyond the little bit in `.query`.

An entry in http://pandas-docs.github.io/pandas-docs-travis/ecosystem.html would certainly be welcome.

[2018-02-02 14:53] ace-e4s commented on #19459
@jreback I don't want to be a nuisance, but I urge you to take a second look at this case. I have altered the sample  code and description to clarify the issue. Furthermore, the i did exactly what you suggest in xref #6046, and ran the code inside a loop. The memory used increases steadily for every increment.

Again, thank you for your time and effort! Love Pandas, and just want to contribute. Ch

[2018-02-02 15:17] toobaz commented on #19497
I agree with @TomAugspurger that tuples as keys are weird. That said, I _might_ have fixed this somewhere... maybe https://github.com/pandas-dev/pandas/pull/18600 ... in any case I guess it will be supported eventually.

[2018-02-02 16:32] TomAugspurger commented on #19492
Re extension blocks (internal or external), I'm finding it might be helpful to define an `ExtensionBlock._maybe_coerce_values` that just unwraps Series/Indexes.  Currently this is logic is in `form_blocks`, which isn't the best place.

[2018-02-02 16:46] jbrockmendel commented on #19492
@jorisvandenbossche I don't want to de-rail the thread here, so we can discuss this in #19444 if necessary.

The motivation is that to make Frame/Series/Index arithmetic/comparison ops consistent (#18824) they will need to share a single implementation.  Focusing on the datetime/timedelta[/period] cases, the idea is to adapt the index implementations since they perform type/timezone checks most ca

[2018-02-02 16:53] toobaz commented on #19295
@jorisvandenbossche you are right that (in my proposal 2) the support for ``names`` is only compelling for ``Index``, which is the only case in which we don't know what is going to come out.

This said, I think (although I don't think it is a priority) that
- supporting ``names`` in all classes is just a matter of creating the decorator
- we might want to support ``names`` e.g. in ``copy()``:
[cod

[2018-02-02 16:53] TomAugspurger commented on #19459
@ace-e4s can you try on Py3? Here's my plot w/ your leaky version.

![figure_1](https://user-images.githubusercontent.com/1312546/35744949-5664dda0-0807-11e8-8ad3-62fabd9fd3f4.png)

[2018-02-02 17:12] jorisvandenbossche commented on #19459
I did that as well a few days ago and got a similar plot as @TomAugspurger (forgot to comment about it).

But that said, there is something strange in those plots about the timings. I don't see why the 'leaky_af' version would be so *much* slower.

[2018-02-02 17:13] chris-b1 commented on #19361
Yes, that special casing is required - cython definitions look for a `'stdint.h'` which the Windows  toolchain for 2.7 doesn't have, so the build would fail.
https://www.microsoft.com/en-us/download/details.aspx?id=44266

[2018-02-02 17:21] jorisvandenbossche commented on #19459
OK, apparently adding a column to empty frame with already the correct type of index is much faster:

[code]

and since you repeat that many times in the memory profiler, that's a reason for the one taking a lot more time (I find it still strange that it is such a big difference though)

[2018-02-02 17:24] jorisvandenbossche commented on #19459
That doesn't seem to be the case though (at least not on python 3):

[code]

@ace-e4s can you try to run the same in python 2 to see if you see any difference?

[2018-02-02 17:44] jbrockmendel opened #19513 "Categorical Arithmetic/Comparison Rules"
Series[not-categorical] > CategoricalIndex is inconsistent with the reversed operation.  Which one is canonical?

[code]

I'm guessing the right thing to do is to a) have `Series[categorical].__op__` wrap `CategoricalIndex.__op__`, and b) have `Series[non-categorical]` to dispatch to reversed-op for `is_categorical_dtype(other)`, want to confirm before making a PR.

[2018-02-02 17:54] jaradc commented on #19501
I don't disagree with anything you said here @TomAugspurger :) I believe `pop` is usually reserved for a concept of popping 1 of something (ex: 1 row, 1 item, 1 column, etc.) so I'm not sure modifying the existing pop function is appropriate in that context.

A cookbook entry would also be a great help if there's a better way to do this. My main idea is having a convenience method to be able to do

[2018-02-02 18:45] Liam3851 commented on #16808
I can do a PR. Question on API, though, before I write. Suppose someone gives us
[code]
Should that raise or should we just silently use regex?

Also, while
[code]
maintains back compat, it does mean that `regex=True` with a single character always basically implies `regex=False`. I suppose it could be confusing for someone to explicitly write
[code]
and have it only replace periods and not all ch

[2018-02-02 19:19] jolespin commented on #19495
I've been using the following:

[code]

Not sure if this is helpful at all.

[2018-02-02 19:50] jorisvandenbossche commented on #19492
That what I wanted to response when reading up to there :-)

[2018-02-02 20:21] eldad-a commented on #18910
For the sake of those of needs a (quick and dirty) solution till this gets fixed:

[code]
![image](https://user-images.githubusercontent.com/3859135/35753149-5cb98da2-0813-11e8-80f6-8cf581660749.png)

[2018-02-02 20:36] eldad-a commented on #18910
as a (non-equivalent) alternative:

[code]
![image](https://user-images.githubusercontent.com/3859135/35753719-aad2d834-0815-11e8-8803-1106eee250e6.png)

[2018-02-02 20:41] eldad-a commented on #18910
As a (non equivalent) alternative [based on [this post](https://stackoverflow.com/a/17834289/1204331)]:

[code]
![image](https://user-images.githubusercontent.com/3859135/35753903-5405323a-0816-11e8-9c55-5f0f0aca57f6.png)

[2018-02-02 20:59] AntoineGautier opened #19517 "BUG? Possible issue with multi indexing column names of different types"
See https://github.com/pandas-dev/pandas/issues/19517#issuecomment-493539602

[code]
---

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code leads to the exception: `KeyError: (1949L, '37,5 cl ', 'Ch\xc3\xa2teau LAFITE ROTHSCHILD ')`.
No exception if all column names are strings.

Remark: This case with mixed types columns names typically occurs when r

[2018-02-02 21:05] jdoepfert opened #19518 "asv ImportError"
#### Code Sample, a copy-pastable example if possible
Clone and build pandas-dev, then from `pandas/asv_bench` do
[code]

#### Problem description

This yields an `ImportError` on my machine:
[code]

Full stacktrace:

[code]

[2018-02-02 21:16] jorisvandenbossche commented on #18910
Easier reproducible example:

[code]

and with that I can confirm the regression.

If you increase the resolution from 1e-4 to 1e-2 (so > milliseconds), then it works correctly. I suppose this is related to the refactor of timedelta plot xlabel formatting that was done in 0.20 (https://github.com/pandas-dev/pandas/pull/15067)

[2018-02-02 21:50] chris-b1 commented on #19517
Could you try on master?  #19074 may have fixed this.

[2018-02-02 21:53] TomAugspurger commented on #19518
Those methods have been removed. Maybe try clearing out cached environments in the `env` folder?

[2018-02-02 22:01] ace-e4s commented on #19459
@TomAugspurger I tried to run it with Python 3.6 and got similar results as you; memory usage is comparable between leaky_af and tight, but tight runs much faster.

May this be a case of circular referencing somewhere, and Python 2 garbage collector is failing to collect? (If I'm not wrong, Python 3.4 improved significantly in that respect.)

#### Python 3.6 leaky_af()
![pandas leaky_af - py36](ht

[2018-02-02 22:04] TomAugspurger commented on #19459
That seems most likely.

Since it's python 2 only, I suspect we would gladly take a patch fixing the
behavior you're seeing, but I personally don't have any plans to look into
it :)

On Fri, Feb 2, 2018 at 10:01 PM, ace-e4s <notifications@github.com> wrote:

[2018-02-02 22:09] ace-e4s commented on #19459
@jorisvandenbossche , yes same behavior in python 2.

[2018-02-02 22:16] ace-e4s commented on #19459
Although it the memory issue may be limited to Python 2, the poor performance may be a symptom of the same underlying issue.

[2018-02-02 22:18] jdoepfert commented on #19518
@TomAugspurger thx for the hint. I tried `rm -r env/` and then again `asv continuous -f 1.1  upstream/master`, and get the same error unfortunately..

[2018-02-02 22:37] mroeschke commented on #19518
This commit, https://github.com/pandas-dev/pandas/commit/3597de0ada3869c8841d05ef4353195a6e124184, that removed these methods recently didn't clean them from the asvs, so the asvs will fail on master.

I cleaned these up in my PR, #19236, so it should be fixed soon.

[2018-02-02 22:39] jorisvandenbossche commented on #19518
The methods were removed yesterday, we still have to clean-up the benchmarks

[2018-02-02 22:42] jorisvandenbossche commented on #19518
As @mroeschke said!

[2018-02-02 22:46] jorisvandenbossche commented on #19495
@jolespin is Index.rename what you want?

[2018-02-03 01:18] jbrockmendel commented on #19513
A case derived from `tests.categorical.test_operators.TestCategoricalOps.test_comparisons`, where it has the comment

[code]

[code]

[2018-02-03 01:24] charlie0389 commented on #19497
Consider this circumstance:
- You have segments of data which is indexed by a natural hierarchical relationship (i.e. each segment of data is suitable for a multi-index).
- However, different segments of the data do not have the same heirarchical relationship (i.e. not the same levels, labels, or dimensions), so concatentating is not an option (or is at least messy and/or difficult to generalise).

[2018-02-03 02:17] C5G6M7 commented on #19436
@TomAugspurger still working on reproducing this. I removed edits I made initially to handle this and haven't encountered the error again yet, but also it can only occur with files that have bad lines, which means the column names must be explicitly passed so that it does not automatically create the extra columns.

Unfortunately I can't remember which file it was that caused this. I'm going to co

[2018-02-03 03:07] jreback opened #19521 "PERF: improve perf of variable window rolling_min/max"
The variable window implementation of rolling max/min
is O(n x w) rather than amortized O(n) with a deque
based algorithm

[here](https://stackoverflow.com/questions/12239042/spoj-arraysub-on-complexity-approach/12239580#12239580) is a possibility
we could easily use the cython c++ impl of deque. [here](https://stackoverflow.com/a/48593365/644898) is a suggestion to use a heap.

[2018-02-03 03:43] jbrockmendel opened #19523 "Such thing as a scalar Categorical?"
`core.ops` has a check `elif is_categorical_dtype(y) and not is_scalar(y):`.

AFAICT the only case with `is_categorical_dtype` that _is_ scalar is `"category"`.  Am I missing a non-trivial case?

[2018-02-03 10:17] GitOffice commented on #15086
path=os.path.join('E:\语料','sina.csv')
pd.read_csv(open(path, 'r',encoding='utf8'))

It is successful.

[2018-02-03 10:28] jolespin commented on #19495
@jorisvandenbossche I don't think it works the same way with `pd.Index` objects:

[code]

[2018-02-03 10:49] jorisvandenbossche commented on #19495
Sorry, I meant `DataFrame.rename(index={1: 'a'})`

[2018-02-03 11:52] jorisvandenbossche commented on #19459
Likewise as @TomAugspurger but regarding the poor performance which also affects python 3: we gladly take a patch to solve it, but it isn't the most pressing issue as this usage pattern is not a typical way to do things if you care about performance.

[2018-02-03 13:02] doganulus commented on #19500
I hardly call regular expressions as a DSL (they are not domain-specific) but you have a point that the ecosystem page (I didn't know it before) is an easier option. Thanks!

[2018-02-03 14:00] fotisj commented on #15086
No, it does not.
Results in: OSError: Expected file path name or file-like object, got <class 'bytes'> type

[2018-02-03 14:23] TomAugspurger commented on #15086
Oh, sorry. Does fsdecode work there?

________________________________
From: Fotis Jannidis <notifications@github.com>
Sent: Saturday, February 3, 2018 8:00:13 AM
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] OSError when reading file with accents in file path (#15086)

No, it does not.
Results in: OSError: Expected file path name or file-like object, got <clas

[2018-02-03 14:57] fotisj commented on #15086
No. Using fsdecode produces the same error we originally had ([error_msg.txt](https://github.com/pandas-dev/pandas/files/1691837/error_msg.txt))

[2018-02-03 15:05] TomAugspurger commented on #15086
Ok thanks for trying.

________________________________
From: Fotis Jannidis <notifications@github.com>
Sent: Saturday, February 3, 2018 8:57:07 AM
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] OSError when reading file with accents in file path (#15086)

No. Using fsdecode produces the same error we originally had (error_msg.txt<https://github.com/pandas-dev/p

[2018-02-03 18:10] jolespin commented on #19495
It's nice doing it to the actual index objects as well because I use them to store iterables of strings that I manipulate often.  Is there a core method like the plans for to_csv for series and dataframes that could be applied to replace?

[2018-02-03 18:13] jbandlow opened #19526 "Rounding errors with Timestamps and `.last()`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The value of the Timestamp in the output is not equal to the value in the input.

#### Expected Output
[code]
The issue is a bit subtle. Here are three related examples, all of which **do** work as expected:

I haven't been able to repro with `.nth(-1)` in place of `last()`:

[code]

I haven't been able to repro

[2018-02-03 20:30] #15800 closed

[2018-02-03 20:35] jaradc commented on #19254
What would `.mode()` do in the case of text data?

Ex data:
[code]

Looks like:

[code]

Calling mode on the groupby object directly:
[code]
Calling mode on a specific column in the groupby:
[code]

You can use `idxmax()` and `value_counts` but I agree with @j-musial that it's a computational waste just to get the most frequent.
[code]

The `mode()` function creator might need to ask:

1. numeric

[2018-02-03 21:08] jbrockmendel commented on #19526
Can you reproduce without the groupby step?

[2018-02-04 01:36] jbandlow commented on #19526
I can't repro without groupby.  I did a little more experimentation, and it appears that the set of aggregation functions that have the issue are exactly [these](https://github.com/pandas-dev/pandas/blob/v0.22.0/pandas/core/groupby.py#L1290-L1295) (`max`, `min`, `first`, `last`).

[2018-02-04 01:56] jreback commented on #19526
this should not be going thru a float round trip which is the symptom you are seeing
if you want to have a more detailed look and see where the issue is

[2018-02-04 03:24] jbandlow commented on #19526
Thanks for the hint @jreback . The offending block seems to be [here](https://github.com/pandas-dev/pandas/blob/v0.22.0/pandas/core/groupby.py#L2279-L2283) where the integer result is getting cast as float.  The coercion back to a datetime happens [in here](https://github.com/pandas-dev/pandas/blob/v0.22.0/pandas/core/groupby.py#L3674), and from what I can tell, that "does the right thing" with `i

[2018-02-04 05:11] jreback commented on #19526
it’s not likely to be ‘ripping it out’ but pls have a look

[2018-02-04 07:59] #19444 closed

[2018-02-04 08:00] #19390 closed

[2018-02-04 08:02] jbrockmendel commented on #17608
Closed by #17609

[2018-02-04 08:02] #17608 closed

[2018-02-04 11:40] xhochy opened #19531 "Shared libraries are not stripped in the manylinux1 wheels"
In all yet uploaded Pandas versions for `manylinux1`, the shared libraries are not stripped and thus ship a lot of bytes overhead.

[code]

Calling `strip` on these saves 53MiB of space.

[code]

If someone could point me to the official scripts that generate these wheels, I would volunteer to change the build process that we only include stripped binaries.

[2018-02-04 12:10] jreback commented on #19531
https://github.com/MacPython/pandas-wheels

is our repo for building

prob need to patch the upstream one though (which is where most of the actual building code is)

[2018-02-04 13:17] TomAugspurger commented on #19531
https://github.com/matthew-brett/multibuild is the upstream repo.

[2018-02-04 14:41] xhochy commented on #19531
Small size update with `gcc-5` (currently working on setting up a fork of a the release builds). Here are the sizes for different configurations (first the unpacked wheel content, then the wheel itself).

Default build options:

[code]

`C{,XX}FLAGS='-Wl,-strip-all'`

[code]

`C{,XX}FLAGS='-flto'`

[code]

`C{,XX}FLAGS='-Wl,-strip-all' -flto`

[code]

Size-wise, the important option is `-Wl,-strip

[2018-02-04 15:14] jreback commented on #19523
this is prob not used any longer, the ``is_categorical_dtype`` is enough.

[2018-02-04 15:14] #19523 closed

[2018-02-04 15:27] xhochy commented on #19531
The release build job using `-Wl,-strip-all` also passed: https://travis-ci.org/xhochy/pandas-wheels/builds/337220847 and the resulting wheel had the expected size of 11M instead of the currently uploaded 23M. The necessary change was: https://github.com/xhochy/multibuild/commit/453308deaf6e045ef437d413f8791ec297fcc60d

As a PR to multibuild would also affect other packages and there have been iss

[2018-02-04 15:55] jreback opened #19532 "TST: remove multiprocess_can_split class variables"
these are leftovers from the nose testing and can be removed

[code]

[2018-02-04 15:57] jreback commented on #19531
@xhochy are these changes that should be in our compilation steps or only the wheel building steps? (or both)?

[2018-02-04 16:20] xhochy commented on #19531
`-Wl,-strip-all` should only be in the wheel building. Wheres `-flto` might be beneficial in general but that first needs to show any advantage.

[2018-02-04 16:32] #13852 closed

[2018-02-04 16:33] jreback commented on #17673
should re-evaluate in light of #18100

[2018-02-04 16:50] jreback commented on #19531
can u open an issue against pandas wheels then?
and link the multi build hash

[2018-02-04 16:50] #19531 closed

[2018-02-04 16:51] xhochy commented on #19531
@jreback will do once verified that it works with other packages.

[2018-02-04 17:02] jbrockmendel commented on #19523
In the tests this gets hit by `df.dtypes == 'category'`

[2018-02-04 17:08] jreback commented on #19523
can u make a comment to that effect in the code and tests

[2018-02-04 17:24] jbrockmendel commented on #19523
Yah, planning to handle the categorical_dtype case in core.ops after pinning down the canonical behavior in #19513 and debugging #19524.

[2018-02-04 19:58] topper-123 opened #19533 "API: let min_count parameter have its default value set in pd.options"
Pandas 0.22 changed how pandas treats aggregation of emty values, so in several cases, pandas returns 0 now, instead of NaN as previously. Specifically, the aggregation methods gained a ``min_count`` parameter, that defaults to 0. The old behaviour can be re-established by setting ``min_count=1``. From the discussion it seems clear that both defaults of 0 and 1 have their merits, but the discussio

[2018-02-04 20:24] jreback commented on #19533
this was explicitly rejected in the original issue
as it creates to much confusion

[2018-02-04 20:25] TomAugspurger commented on #19533
This was discussed and rejected earlier. I think most of us have grown a distaste for global variables that affect the output of computations.

I'd be happy to see an alternative method that is equivalent to `.sum(min_count=1)`. I think the main issue is finding a good name for that.

[2018-02-04 20:27] #19533 closed

[2018-02-04 22:00] jorisvandenbossche commented on #19495
Hmm, we could consider adding `replace` to Index to make it consistent with Series ?

[2018-02-05 07:11] CruiseDevice commented on #19458
@nvgoldin Hey. If you want you can take this issue. I am busy on something else.

[2018-02-05 08:11] 77QingLiu commented on #19460
@jorisvandenbossche , Thanks for your advice. but this is not I want.
For example,
[code]
Target: Identify duplicate record in each group combination
@TomAugspurger

[2018-02-05 09:27] jorisvandenbossche commented on #19460
In [3]: df.groupby(['index1', 'index2']).apply(lambda x:x.duplicated())

Well, that solves your problem then? I think directly using groupby makes more sense than starting to add a `groupby` keyword to a lot of functions.
What we could consider is adding a `duplicated` method directly on groupby(), so the apply is not needed. But in this case the apply way works OK, so not sure if it is needed.

[2018-02-05 09:48] 77QingLiu commented on #19460
Yes, the `groupby` solution solve my problem. But I think it's not straightforward enough. Adding `duplicated` function in `groupby` would be a reasonable solution.

[2018-02-05 11:05] #19532 closed

[2018-02-05 11:13] #17813 closed

[2018-02-05 15:57] WillAyd opened #19538 "Rank Mixes np.nan with np.inf values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

``np.inf`` or ``-np.inf`` gets grouped with ``np.nan`` in the rank operation, depending on which direction the ranking occurs in. Ideally, ``np.inf`` would be entirely separate from ``np.nan``.

[2018-02-05 16:33] toobaz commented on #19497
Uhm, no, that PR is unrelated. And I was probably just confused.

I still think this is going to be fixed... sooner or later.

[2018-02-05 21:28] Dr-Irv opened #19542 "Grouper should support key from index name (just like groupby supports grouping by index names)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above produces the following error:
[code]
There is a workaround, which is to do `reset_index()`:
[code]
Since v 0.20.0 introduced the support of grouping by index level names, I think that `Grouper` should do the same.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLE

[2018-02-05 21:41] jreback commented on #19542
[code]

[2018-02-05 21:41] jreback commented on #19542
you need to use level

[2018-02-05 21:50] Dr-Irv commented on #19542
@jreback OK, using `level` is a better workaround.  But my point here is that the API is not consistent.  When doing a regular `groupby`, I can use a mix of names from the index and the columns and not have to worry about whether a name refers to the index or the column, and also not worry about which level number each index name is at.  But in `Grouper`, I now need to know whether the name is in

[2018-02-05 22:59] lauhayden opened #19543 "BUG: to_excel to throw IndexError for dataframe with empty (row) MultiIndex"
[code]
Output:
[code]
The next line causes an `IndexError`:
[code]
Notice that the 'empty' `MultiIndex` does not give any indication of its presence when the entire dataframe is printed, looking like an ordinary empty dataframe instead.
[code]
#### Problem description

I'm not quite sure which behaviour is the problematic one here: the fact that the first block of code creates an 'empty' `MultiInd

[2018-02-06 00:04] jorisvandenbossche commented on #19543
This is normal and expected behaviour. When taking a subset of a MultiIndex, the `levels` are not re-computed but kept intact (the fact that it is empty is expressed in its empty `labels`).

This could be considered a bug, given that for an empty dataframe without multiindex, this works. Or at least it should give a better error message.

The fact that `df.loc[('b', '1', slice(None)), :]` does not

[2018-02-06 00:09] pesap opened #19544 "Bug: different colors from plot and legend using groupby and unstack."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have a DataFrame like the one above. I use the groupby function to get the average of one specific category and a column called 'step' that is the same between different categories.  When I try to plot the query results I used the unstack function to get the index to columns and then plot each column. This wo

[2018-02-06 01:24] #19368 closed

[2018-02-06 07:37] MIsmailKhan commented on #19505
Hi, I'd be happy to take this up!

Would this suffice?

"
deep : boolean or string, default True
Make a deep copy, including a copy of the data and the indices. **With ``deep=False``(i.e. shallow copy), the data reference is copied.** Neither the indices or data are copied.
Note that when deep=True data is copied, actual python objects
will not be copied recursively, only the reference to the obje

[2018-02-06 08:49] charlie0389 commented on #19505
Ok, I'm a little confused. What does a copy of the reference to the object mean? Isn't this the same operation as tagging an object  with a variable? i.e.
Isn't
[code]
the same as
[code]
?
Obviously if I was right this would be a little redundant, so I assume I'm not. But I think the documentation could outline with an example of when  ``deep=False`` is useful.

[2018-02-06 10:19] MIsmailKhan commented on #19505
I think this should cover the question:
https://stackoverflow.com/questions/46327494/python-pandas-dataframe-copydeep-false-vs-copydeep-true-vs

As for whether df2 = df1 and df2 =df1.copy(deep=False) are the same. I wrote up a couple of lines and checked what happened to the above if I modified the original database(i.e. df2). They both yielded the same output so I'm guessing that they are the sam

[2018-02-06 10:38] charlie0389 commented on #19505
Thankyou MismailKhan for the link and the example, its a bit clearer to me now. Unfortunately, neither of the StackOverflow answers articulate the difference between ``copy()`` and ``copy(deep=False)`` like your notebook example does.

However, as you acknowledge, it's still not clear why a ``copy(deep=False)`` operation is useful. It seems to me that if you are still operating on the same object,

[2018-02-06 10:41] ax3l opened #19547 "to_dict('index'): header=False"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It would be cool if the `DataFrame` [`.to_dict()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_dict.html) functionality would support a new option `header=` just as the [`.to_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html) export.

In m

[2018-02-06 11:01] jreback commented on #19538
see #6945 / #17903 this was just done in master, is this another case?

cc @peterpanmj

[2018-02-06 11:14] jreback commented on #19513
there are some issues about this already. see if you can find them.

[2018-02-06 11:27] #19382 closed

[2018-02-06 12:11] TomAugspurger opened #19548 "CLN: Single way to get underlying values for Index / Series"
(split from https://github.com/pandas-dev/pandas/pull/19520)

It'd be convenient to have an internal method for getting the highest-fidelity array stored by a container (Index, Series, Block?).

For `Series`, this is already what `._values` does. `Index._values` is sometimes different though (Period, DatetimeIndex with TZ), so we'll use a different name.

dtype           | array type
-------------

[2018-02-06 12:23] jorisvandenbossche commented on #19548
So currently it seems that `Index._values` is only different from `Index.values` by `PeriodIndex` ? (and there it returns the integer data)

Wondering if we can't just use `_values` for Index as well (and change the return value for the extension types). Depends on what it is used for of course, but that might be possible? (In the Index class itself it is used to pass through attributes like shape

[2018-02-06 12:31] TomAugspurger commented on #19548
Also `DatetimeIndex` w/ TZ. That returns an ndarray.

[code]

[2018-02-06 12:34] TomAugspurger commented on #19548
When I looked at changing `DatetimeIndex._values` to return a `DatetimeIndex` when it had a tz, those properties you mentioned all broke (but they aren't too hard to fix).

The more difficult thing was in the indexing engines. Those really do need an ndarray of integers (or whatever).

So we need both `.values_as_an_ndarray` and `.values_as_whatever_array`, just with better names.

[2018-02-06 12:40] TomAugspurger commented on #19548
On naming, we want something that conveys "This is the best / fullest-information array representation." i.e. we aren't going to drop the TZ and convert to UTC.

[2018-02-06 12:41] jorisvandenbossche commented on #19548
Ah yes that one for sure as well, I was only looking at Index.values vs Index._values (with the idea, if it is almost always the same, we could use `_values` for the new thing to be consistent with Series)

I think names like `._as_ndarray` and `._as_internal_array`/`._as_pd_array` would be fine

[2018-02-06 12:44] TomAugspurger commented on #19548
Ah, I like `_pd_array`, though I'm not sure about `_as`, since I when I see that I think of a method like `asarray()`, not a property.

So how about `_ndarray` and `_pdarray`?

[2018-02-06 12:45] TomAugspurger commented on #19548
Although, it may be easier to

1. Rename the current `Index._values` to `._internal_values`
2. Make `Index._values` equivalent with `Series._values`.

I may start with that.

[2018-02-06 14:16] #19391 closed

[2018-02-06 14:17] #19417 closed

[2018-02-06 15:05] lauhayden commented on #19543
Alright, so this issue should be focused on `to_excel` throwing `IndexError`. I'll open a separate issue for the `MultiIndex` slicing behaviour.

[2018-02-06 15:07] TomAugspurger commented on #19544
Hmm, your example raises on master, due to https://github.com/pandas-dev/pandas/pull/18695, since you're passing multiple columns to `x` and `y`, when they're supposed to be single columns.

[2018-02-06 15:20] hexgnu commented on #19521
I took a crack at this using the deque.

[2018-02-06 15:33] jorisvandenbossche commented on #19543
OK, I edited the title to reflect this. Probably the most sensible thing to do is to be consistent with empty dataframes in general (writing only the column headers to excel)

PR welcome!

[2018-02-06 15:35] jorisvandenbossche commented on #19548
Yep, that might be easier for now (to go forward on the other PR). Although it will not decrease the complexity .. :-)

[2018-02-06 15:57] tsabsch commented on #19480
I was currently working with an IntervalIndex and needed to get the interval ranges. Maybe this would be useful for others as well?
[code]

[2018-02-06 15:57] vmuriart opened #19551 "Merge on categorical type columns gives wrong results"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Since upgrading from `v0.20.3` to `v0.22.0` I noticed data missing on my datasets. After a few hours debugging I narrowed it down to an issue involving **merges that involve `Categoricals`**. I downgraded to `v0.20.3` to test my original code and didn't have the issue. I then tested on `v.0.21.0` and noticed th

[2018-02-06 16:13] MIsmailKhan commented on #19505
I've added some lines to reflect why we'd want to use .copy(deep==False),
this should clear things out.
https://gist.github.com/MIsmailKhan/be2f51d60e61d1f77b92889d94b9b176

On Tue, Feb 6, 2018 at 2:38 PM, charlie0389 <notifications@github.com>
wrote:

[2018-02-06 16:20] jschendel commented on #19480
@tsabsch : By `ranges`, you're referring to the length of each interval in the `IntervalIndex`, right?

If so, note that this was implemented as the `length` property in #18805, and will be present in 0.23.0:
[code]

[2018-02-06 16:27] tsabsch commented on #19480
@jschendel Yes, this is exactly what I meant. Thank you for pointing it out. I wasn't aware that it was already implemented for the next release. I'm on pandas 0.22.0.

[2018-02-06 16:41] jbrockmendel commented on #19513
Closest issues with categorical label are #18050, #8995, neither of which seem to differentiate between the behavior of `Categorical.__op__` vs `CategoricalIndex.__op__` vs `Series[category].__op__`

@TomAugspurger any thoughts on the One True Implementation for these operations?

[2018-02-06 16:44] jbrockmendel commented on #19548
+1

See also #19294.  Some of the accessors have `_data/data/values/_values` attributes that could probably be renamed to get closer to "`_values` _always_ means X"

[2018-02-06 16:58] TomAugspurger commented on #19513
No strong thoughts, but I suppose a decent heuristic is "what would the result be if NumPy had a categorical dtype?" In that case, let's just do the same as `Series[int].op(Index[int])` and `Series[int].op(ndarray[int])`. So

self    | other   | return
------- | ------- | ------
series  | ndarray | series
series  | index   | series
index   | series  | ndarray / extension array
index   | series  |

[2018-02-06 17:02] ottothecow commented on #3729
There really needs to be an option to parse the NA/missing group.

SAS and Stata both offer "missing" options when making crosstabs or summarizing by group variables, and at least for me, I use them more often than not.

Simply saying "R does it" seems like odd logic.  Silently dropping missing categories in a groupby is dangerous.

[2018-02-06 17:18] TomAugspurger commented on #19551
This looks similar to  https://github.com/pandas-dev/pandas/issues/19096 / https://github.com/pandas-dev/pandas/pull/19097, taking a closer look now.

[2018-02-06 17:37] TomAugspurger commented on #19551
Thanks for the bug report. Should be fixed by https://github.com/pandas-dev/pandas/pull/19553 if you want to take a look.

[2018-02-06 17:43] WillAyd commented on #19538
Interesting...from glancing at it I think the problem is that PR only updated the `rank_1d_` methods in algos. This makes it so you get the desired functionality from a `Series` object but not from a `DataFrame` or `GroupBy` object. There's also a bug with how it handles values in descending order, all of which are highlighted below

[code]

[2018-02-06 18:12] jbrockmendel commented on #19513
I should clarify.  The question isn't what the return type should be, but which operations are allowed at all.

The easy (i.e. pretty obviously wrong ATM) part is cases where `x < y` is allowed but `y > x` raises:
[code]

The less obvious part is what casting rules are allowed.  ATM `CategoricalIndex.__op__` is much more forgiving about input dtypes and will cast `other` before dispatching to `Cat

[2018-02-06 18:42] lauhayden opened #19556 "Inconsistent MultiIndex behaviour when indexing selects no rows"
[code]
Output
[code]
Indexing `df` results in an empty dataframe in this case. However, if the third level of the MultiIndex is left out (as below), it results in a `KeyError`.
[code]

In my opinion, this behaviour is confusing and inconsistent. Preferably, both cases would throw `KeyError`.

This particular behaviour was previously discussed in issue #19543.

#### Output of ``pd.show_versions()``

[2018-02-06 18:44] jschendel commented on #19480
@tsabsch : No worries.  Glad to hear `length` will be useful!

[2018-02-06 19:12] vmuriart commented on #19551
Just took a look, changes makes sense to what I was seeing.
Sadly can't test it locally, getting an unrelated error during import `AttributeError: module 'pandas' has no attribute 'compat'`.

Changes makes sense though, so hopefully that cover what I was seeing on my larger dataset too 👍

[2018-02-06 19:22] jcrist commented on #19034
I believe this was fixed in #19075 and can be closed.

[2018-02-06 19:27] WillAyd opened #19557 "CLN: Returned dtype of `_get_cython_function` unused"
Minor code cleanup opportunity here. `_get_cython_function` in `core/groupby` returns a tuple containing a function and a `dtype_str`. While the latter is unpacked, it never appears to be used in code that calls it.

https://github.com/pandas-dev/pandas/blob/93c86aa13e1b7816c762b4ff372aef80a7830af8/pandas/core/groupby.py#L2243

As an alternate to removing it, it may serve some purpose if the below

[2018-02-06 19:29] TomAugspurger commented on #19034
Yep, thanks.

[2018-02-06 19:29] #19034 closed

[2018-02-06 21:04] jorisvandenbossche commented on #19551
Sidenote: should we consider doing a bugfix release for 0.22 series? (don't know how many issues we would have to backport, and depending on how long 0.23.0 will still take)

[2018-02-06 21:06] jorisvandenbossche commented on #19551
Other side note: is there actually a good usecase to have differently ordered categories for an unordered categorical? (although always sorting the categories upon construction might also give trouble down the road in other places)

[2018-02-06 21:16] jreback commented on #19551
i think we should just release 0.23 soon

[2018-02-06 21:17] TomAugspurger commented on #19551
Not sure... These are pretty serious bugs, but I don't have a good feeling
for how common differently-ordered unordered categories are.

On Tue, Feb 6, 2018 at 3:06 PM, Joris Van den Bossche <
notifications@github.com> wrote:

[2018-02-06 22:58] vmuriart commented on #19551
In my case they are pretty common, but this is because most of my data is coming from `pyarrow`'s `parquet` files. However it creates the unordered categoricals, it was yielding different ordered indexes.

[2018-02-06 23:13] pesap commented on #19544
Is there a better way to it or avoid this it?

[2018-02-06 23:29] jreback commented on #19557
cleaning welcome! yeah the dtype_str is prob not needed

[2018-02-06 23:49] #19526 closed

[2018-02-07 00:29] TomAugspurger commented on #19544
Not sure yet, haven't had a chance to look closer. Let me know if you find a workaround before I do.

[2018-02-07 00:50] WillAyd opened #19560 "Raise ValueError When Attempting to Rank Object Dtypes"
Referencing the comments in #19481, right now rank operations performed against objects have a few issues, namely that they:

- Are inherently ambiguous, relying on lexical encoding AND
- Are not consistent across Series, DataFrame and GroupBy objects with various arguments

To illustrate the latter:

[code]

(see also #19482)

With this change I'd propose that we simply raise ValueError consisten

[2018-02-07 03:50] Qingsai opened #19562 "ValueError: window must be an integer"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-02-07 04:10] WillAyd commented on #17652
@jbrockmendel for the pyx LINT to-do do you need help updating the pyx files? From what I can tell most of the errors there would be simple like `E225 missing whitespace operator`

Relatively minor but having worked on some pyx files recently including those in `lint-diff` in the Makefile would be nice. Very clean and easy if we don't need to select a bunch of codes as we currently do in `ci/lint.

[2018-02-07 06:28] ZhuBaohe opened #19563 "Inconsistent results between 'nlargest' and 'sort_values' function"
[code]
I think their results should be the same.

[2018-02-07 06:44] #19562 closed

[2018-02-07 08:28] hexgnu opened #19564 "Is there a count distinct in pandas?"
#### Problem description

I can't seem to find if pandas has a count unique / distinct function. I know I can unique a series / dataframe and length that but it's quite slow. It would be neat if we had something that use hyperloglog since that's fast and memory efficient. Though it has a tradeoff of being probabilistic so that'd have to be configurable I feel.

#### Expected Output

I would expect

[2018-02-07 08:38] jorisvandenbossche commented on #19564
There is a `nunique` method, what I think returns what you are looking for.
But, I think under the hood it just counts the uniques.

[2018-02-07 08:39] ryan-feeley opened #19565 "Dropped categories when constructing Series or DF with categorical dtype, scalar data, and list index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The constructors of both Series and DataFrame accept the combination of a scalar value and a n-element index. With given this calling syntax, they mimic numpy broadcasting/scalar expansion and repeat the scalar value n times to produce the object.

This behavior is broken by specifying a pre-defined categorical

[2018-02-07 08:56] hexgnu commented on #19564
awesome thanks @jorisvandenbossche

[2018-02-07 08:56] #19564 closed

[2018-02-07 09:57] charlie0389 commented on #19505
Thanks MismailKhan - thankyou for clearing that up.

[2018-02-07 11:01] #19557 closed

[2018-02-07 11:12] #16766 closed

[2018-02-07 11:41] niknoproblems opened #19567 "SparseDatafreme to_coo AttributeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I tried convert Dataframe to sparse matrix and got this error

#### Expected Output
coo_matrix

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Darwin
OS-release: 17.3.0
machine: x86_64
processor: i386
byteorder: littl

[2018-02-07 11:54] tianyig opened #19568 "write data to excel template and charts disappear"
#### Code

[code]
#### Problem description
I have a Excel template, and it contains some charts, when I use `to_excel`write some data to excel, the charts will disappear,I want to write data to excel and retain chats, what should I do?

[2018-02-07 12:33] TomAugspurger commented on #19567
Can you provide a reproducible example for constructing `df`?

[2018-02-07 12:36] TomAugspurger commented on #19565
Thanks, seems closely related (but distinct from) https://github.com/pandas-dev/pandas/issues/19342.

Let me know if you're interested in taking a look! We can point you in the right direction.

[2018-02-07 12:36] jreback opened #19569 "CLN: consolidate last / nth object dtype groupby function implementation"
ideally consolidate these with the templated implementation in ``groupby_helper.pxi.in``

[2018-02-07 12:36] jreback commented on #19569
cc @WillAyd

[2018-02-07 13:06] #15628 closed

[2018-02-07 13:06] #17348 closed

[2018-02-07 13:06] #17437 closed

[2018-02-07 13:06] #18775 closed

[2018-02-07 13:40] jorisvandenbossche opened #19570 "API: should apply also follow result_type for axis=0 ?"
Follow-up issue on https://github.com/pandas-dev/pandas/pull/18577

In that PR @jreback cleaned up the `apply(..., axis=1)` result shape inconsistencies, and we added a keyword to control this.

For example, when the applied function returns an array or a list, it now defaults to returning a Series of those objects, or expanding it to multiple columns if you pass `result_type` explicitly:

[code]

[2018-02-07 13:50] jorisvandenbossche opened #19571 "API: should apply(..., result_type='reduce') be honored for Series return value"
Follow-up issue on #18577

In that PR we added a `result_type='reduce'` argument (partly as replacement for the deprecated `reduce` keyword).

The 'reduce' behaviour is the default for cases where the function returns a scalar, list, array, dict, .. (I think basically: everything that is not a Series). And in those cases you can then use `result_type='broadcast'|'expand'` to have other results:

[

[2018-02-07 13:56] TomAugspurger commented on #19563
`nlargest` doesn't sort the values (which is part of why it's faster).

You can sort afterwards.

[code]

[2018-02-07 13:56] #19563 closed

[2018-02-07 14:17] TomAugspurger opened #19572 "CI: conda build test failing"
Don't think we have an issue for this yet

[code]

https://api.travis-ci.org/v3/job/338476528/log.txt

Seems like `min_pin='1.14', max_pin='1.14'` is what we would want if want want 1.14.

[2018-02-07 14:24] TomAugspurger opened #19574 "CI: submit_cache failures"
https://travis-ci.org/pandas-dev/pandas/jobs/338476528

Lots of

[code]

<details>

[code]

</details>

Any idea if what's up / if this is an issue?  Some of these moved recently, I think.

cc @jbrockmendel, @nparley

[2018-02-07 14:27] TomAugspurger commented on #19572
I wonder if this is causing collection failures:

[code]

It seems like we end up just installing the conda package from conda-forge?

[code]

[2018-02-07 14:46] jreback commented on #19574
no this has been there since the beginning. its the spec that is sent is a bit wrong.

[2018-02-07 14:47] jreback commented on #19572
this works on master, but not on branches, this is why I moved the build to allowed failures.

[2018-02-07 15:15] swyoon commented on #19362
may i work on this issue?

[2018-02-07 15:25] #19206 closed

[2018-02-07 15:35] jreback commented on #8640
@cpcloud  and I were talking about #19520.

This would allow this to proceed. IOW having an external library (pyarrow) to manage the memory of an array of strings. We could then defer all of the ops to the array extension.

would save massively on memory and be quite performant.

cc @TomAugspurger @wesm @jorisvandenbossche

[2018-02-07 15:39] jreback commented on #19362
@swyoon absolutely!

[2018-02-07 15:52] TomAugspurger commented on #8640
I think that's worth exploring (more generally, I think the extension array stuff offers a decent way of trialing pyarrow-backed things in the pandas-1 codebase).

Would this be transparent to users, or would it be a third-party library, and they'd be required to somehow create an array-backed array, which would then be stored in pandas?

[2018-02-07 16:04] wesm commented on #8640
I think it'd be interesting to explore -- since we don't yet have a native operator library for Arrow string arrays, it seems limited usefulness for any analytics, and probably won't make things any faster right now (since copies of the strings as PyBytes/PyUnicode would have to be materialized to do any computations)

[2018-02-07 16:14] toobaz opened #19576 "Adding element to empty object Series changes dtype"
#### Code Sample, a copy-pastable example if possible

[code]
Compare with:
[code]

#### Problem description

The dtype of a ``Series`` should change, on addition of new elements, only when it has to:: as a corollary, it should never change when it is ``object``.

Vaguely related to #17261, maybe to #8902.

#### Expected Output

Always ``object`` dtype.

#### Output of ``pd.show_versions()``

<det

[2018-02-07 16:28] TomAugspurger opened #19577 "ExtensionArray Ops discussion"
Split from https://github.com/pandas-dev/pandas/pull/19520

How to handle things like `__eq__`, `__add__`, etc.

Neither the Python 2 or Python 3 object defaults are appropriate, so I think we should make it abstract or provide a default implementation for some / all of these.

We should be able to do a default implementation for the simple case of binop(extension_array, extension_array) by

- mas

[2018-02-07 16:42] denfromufa opened #19578 "alias for slice(None)"
Having bunch of `slice(None)` in multilevel indexes (>=3 levels) looks pretty unreadable.

Does it make sense to have an alias, maybe `pd.any`?

For example in numpy the `np.newaxis` is alias for `None`:

https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html#numpy.newaxis

[2018-02-07 17:25] jbrockmendel commented on #17652
I think the E225 errors are for cython pointer arguments `&dts` which the linter thinks are typos.  Do you know of a cython-aware linter?  Most times I try to run flake8 on cython it hits a syntax error pretty early and then chokes.

[2018-02-07 17:30] WillAyd commented on #17652
My mistake - I just saw all of those errors and assumed they were legitimate, but now I see the caveat. I'm not aware of a cython-aware linter and doubt there is one.

[2018-02-07 17:35] WillAyd commented on #17652
Can't claim to have done this before but one of the answers in the below SO article makes me think there's a way to modify `setup.cfg` to have different matching criteria just for .pyx files, which at the very least could make it easier to consistently apply LINTing to the project whether its called from the Makefile or from `ci/lint.sh`. Worth a look if there's an appetite to keep that consistent

[2018-02-07 17:50] TomAugspurger opened #19581 "Pickle Compat Update"
How far back do we want to continue supporting? It looks like we have some pickle files form 0.10.1?

Should identify some potential cleanups that we'd get from dropping various versions.

[2018-02-07 17:51] jreback commented on #19576
see https://github.com/pandas-dev/pandas/issues/6485
and #6942

this is actually a feature

[2018-02-07 18:49] maxim-lian commented on #19578
Have you checked out `pd.IndexSlice`?

[2018-02-07 19:03] toobaz commented on #19576
I don't think it is related: #6485 is an unwanted upcasting (while I'm seeing an unwanted downcasting), example in #6942 is not complete but seems to be specific to datetimelike stuff.

Most importantly, this one specifically affects _empty_ ``Series`` only. Are you referring to this when you say it is a feature? (Might be, but I think it goes against the principle of least surprise, because in th

[2018-02-07 19:03] jreback commented on #19581
we only guarantee back thru 0.13 i think
we dropped in 0.21 iirc

should for sure remove any ones older than that from tests

[2018-02-07 19:06] jreback commented on #19576
yes the point is a common use case
is to create an empty object and iteratively fill it
not a great pattern but one which is supported
inference on first expansion is ingrained

[2018-02-07 19:33] TomAugspurger opened #19583 "unique Datetime test failure (local, py2 only)"
Can anyone else reproduce this? (python 2 only)

[code]

[2018-02-07 19:37] TomAugspurger commented on #19583
Ah, this was with NumPy 1.10.4

[2018-02-07 20:04] TomAugspurger opened #19585 "Test Order Dependency between parquet tests and internals"
I observe this locally (py2 only)

[code]

We apparently have an environment variable for controlling deprecation warnings.

[code]

It'd be nice if the tests didn't rely on this.

[2018-02-07 20:43] spencerogden commented on #16679
Confirming that as of version 0.22.0 this issue still exists. A work around is to do: `frame.T.agg([list_of_func]).T`

[2018-02-07 21:16] WillAyd opened #19586 "ASV Benchmarks Broken"
Trying to run asv benchmarks is yielding

[code]

3597de0ada3869c8841d05ef4353195a6e124184 removed pd.rolling_* functions but it looks like `asv_bench/benchmarks/gil.py` is still trying to import them, hence the error

cc @topper-123

[2018-02-07 21:25] fcolas opened #19587 "Performance issue in Series with MultiIndex"
#### Code Sample
[code]
#### Problem description

There seems to be a significant performance issue when extracting data from a `Series` with a `MultiIndex` so that it is actually faster (by a factor 100) to use `itertools.groupby` than either `loc`, `iloc`, or `pd.groupby`.
I've found some issues with `MultiIndex` in the past with `get_loc` but that has been fixed. Apologies if I missed something

[2018-02-07 21:28] mroeschke commented on #19586
xref #19518

I have this fixed in #19236

[2018-02-07 22:12] jbrockmendel commented on #19577
Migrated from #19520:

I've been planning on moving the Index/Series arithmetic/comparison ops into Array subclasses, so that `Series.__op__(other)` could just wrap `self._data.blocks[0].__op__(other)` and we get consistency between Series/DataFrame ops for free.

Most of the comparison ops are ready to make that jump; I can prioritize it if getting that done quickly will help you out.

One caveat

[2018-02-07 22:30] WillAyd commented on #19569
Easy enough. I can knock these and rank out altogether after wrapping up #19481

[2018-02-08 00:00] azag0 opened #19588 "Groupby/apply behaves differently when grouping column contains tuples"
#### Code Sample, a copy-pastable example if possible

This is adapted from the [docs](https://pandas.pydata.org/pandas-docs/stable/groupby.html#returning-a-series-to-propagate-names), just replacing column 'a' with a list of tuples:

[code]
#### Problem description

Without the modification, the return value is a dataframe with the apply-returned Series objects concatenated. With the modification

[2018-02-08 00:11] joe1gi opened #19589 "to_csv() with a single level row MultiIndex does not produce the desired output"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The output for `index.nlevels==1` should be the same as for `index.nlevels==2`, with one column less. That matches the output from other index types and was the output produced by pandas up to 0.20.3.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
---------------

[2018-02-08 00:33] azag0 commented on #19588
Ok, digging deeper in the code, I realize that using tuples inside indexes probably won't really work well with pandas, because there's too much "tuple detection" all over the place.

[2018-02-08 00:33] #19588 closed

[2018-02-08 00:52] jreback commented on #19587
not sure what you are trying to show here.

[code]

so your indexing doesn't actually do anything but a split, which you accomplish in many ways. this is what ``groupby`` actually does (its even worse, its just returning an iterator so its really not doing anything).

So you are comparing indexing & construction vs a split. In a completely non-idiomatic way.

[18] is idiomatic for pandas.

[2018-02-08 00:53] jreback commented on #16679
@spencerogden hence the 'open' tag. PR's to fix are welcome.

[2018-02-08 00:54] jreback commented on #19578
this is fully documented here: http://pandas.pydata.org/pandas-docs/stable/advanced.html#using-slicers

[2018-02-08 00:54] #19578 closed

[2018-02-08 01:17] #19518 closed

[2018-02-08 01:19] denfromufa commented on #19578
I was not aware about IndexSlice! Thanks for the tip.

On Wed, Feb 7, 2018, 6:55 PM Jeff Reback <notifications@github.com> wrote:

[2018-02-08 01:20] #19551 closed

[2018-02-08 01:32] #19283 closed

[2018-02-08 02:05] topper-123 opened #19590 "BUG: loc/iloc insertion inserts array, scalar expected"
[code]

Notice that an  array was inserted, where a scalar was expected. The issue is present in both 0.22 and master.

The same issue is if we use ``loc``  instead of ``iloc``. However, if we insert a numeric series instead of a string series, everything is ok:

[code]

EDIT: the issue can be simplified further:

[code]

So it seems like a very specific bug, concerning insertion into the last col

[2018-02-08 03:59] dhirschfeld opened #19592 "read_csv parses header incorrectly"
[code]
Results in:
![image](https://user-images.githubusercontent.com/881019/35954774-5cd523e6-0cd7-11e8-80b2-9a15efed3a73.png)

#### Problem description
As can be seen the integer zeros have been cast to non-zero floats!

#### Output of ``pd.show_versions()``

<details>

[code]
</details>

[2018-02-08 04:22] TomAugspurger commented on #19592
Not floats, that's the duplicate column name mangling kicking in.

[2018-02-08 05:26] dhirschfeld commented on #19592
Ah right. It wasn't a problem (as I manually set the header) it was just unexpected. Since there's a rational explanation for this behaviour I'll go ahead and close this...

Thanks @TomAugspurger!

[2018-02-08 05:26] #19592 closed

[2018-02-08 09:28] hexgnu opened #19595 "pd.unique doesn't actually return unique elements of SparseArray"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

So I was digging into #5078 and stumbled across this problem.

#### Expected Output

I would expect the two to be the same.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: 36f905285c0089228985cffc9f9f6c7d28789128
python: 3.6.3.final.0
python-bits: 64
OS: Linux
OS

[2018-02-08 09:29] hexgnu commented on #19595
Another smell of sorts is that {{dtype}}HashTable.uniques and {{dtype}}HashTable.get_labels are really similar. It seems that the code could be dryed up a bit... But I don't want to get too caught in the weeds ;)

[2018-02-08 11:07] jreback commented on #19474
yeah I think this should infer this list-like asd you are assigning to a Series (because of the list for the columns). a pull-request or deeper investigation would be great.

[2018-02-08 11:09] jreback commented on #19590
xref #14592
xref #19474
xref #1668n

I'll mark it though the above are all tied up in this. Assigning a list requires inference wether it should resolve to an error (if mismatching the length), or be broadcast

a PR to investigate / fix would be welcome.

[2018-02-08 11:16] jreback commented on #19590
actually on reflection, you are assigning to a single list-like slot and you have a len(1) list

[code]

e.g. the above should be clear that the list must be the same length. This is almost exactly #19474, closing as a duplicate

[2018-02-08 11:16] #19590 closed

[2018-02-08 11:32] #16073 closed

[2018-02-08 12:26] Gijom opened #19597 "No explicit way to generate a DatetimeIndex with a infinite decimals frequency"
[Link](https://stackoverflow.com/questions/48344540/high-and-not-round-frequency-datetimeindex) to the (unanswred) stackoverflow question which contains more details.

#### Problem description
The problem concerns the use of a step / frequency with infinite decimals. For instance to obtain a DatetimeIndex at a frequency of 300Hz one would try:

`pd.date_range(start=0, periods=300, freq='3333333ns'

[2018-02-08 12:44] fcolas commented on #19587
Thank you for your answer.
I actually want a split and I might not have found the idiomatic way. More precisely, I have some data that I sometimes want to iterate over by group of first level and sometimes simply over all values. These iterations yield non-pandas objects consumed by some outside code. (Of course I also do some `pandas` processing on this data).
A more precise look at what I'm doin

[2018-02-08 12:44] capelastegui opened #19598 "DataFrame groupby.first() is much slower than groupby.nth(0)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

groupby.first() takes much longer to run than groupby.nth(0), even though both operations should be equivalent. Is there any reason why the current implementation of first() shouldn't just be replaced with a call to nth()?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------

[2018-02-08 14:36] TomAugspurger opened #19599 "Implement ExtensionBlock.setitem"

[2018-02-08 16:35] dworvos commented on #19420
Hi, please let me know if this is the wrong place to ask these questions, but in trying to write fix, I think I'm at a point where you guys might be able to give me some pointers in continuing.

I've written two test cases for this issue (I'll need your guidance on where to put these test cases later) - one for the multicolumn case and one for the single column case. What's interesting to me is th

[2018-02-08 16:46] TomAugspurger opened #19600 "Add ExtesnsionDtype.empty classmethod"
This would let us provide a default `construct_from_string` method.

The default would have to rely on `ExtensionDtype()` being constructable with no arguments, or an `ExtensionDtype.empty` method. For many that'll be

[code]

which is easier than implementing `construct_from_string`. Maybe call it `from_empty`.

[2018-02-08 19:21] alberto-dellera opened #19602 "reset_index() on MultiIndexed empty dataframe does not preserve dtypes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The dtypes are preserved instead if either
 a) index is not a MultiIndex
 b) dataframe is not empty

(b) is a big issue for programs that calculate subset of dataframes that sometimes
can be empty, since downstream code might expect a certain dtype and fail when it finds
a float64 instead.

Real-world scenario:

[2018-02-08 20:46] enritoomey opened #19603 "DateTimeIndex.__iter__().next() rounds time to microseconds, when timezone aware"
#### Code Sample

[code]
#### Problem description

When using localize DateTimeIndex with nanosecond precision, __getitem__ behavious differs from __iter__().__next__ behaviour, as when iterating thought the DateTimeIndex the date is round to microseconds. This doen not happends if the DatetimeIndex has no timezone.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------

[2018-02-08 23:08] Dr-Irv opened #19606 "Odd behavior when broadcasting between DataFrame with MultiIndex and DataFrame with Index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

What I am trying to do is broadcast the values in the DataFrame d2, using the shared name and values in the index with d1 (i.e., the index column `'A'`).  The expression `d1+d2` gives this surprising result:

[code]

The expression `d1.C + d2` gives the error:
[code]
The final expression `d1.C + d2.E`  gives an

[2018-02-08 23:43] elrubio opened #19607 "join type changes silently when left-joining with a list of dataframes"
#### Code sample, copy-pastable

[code]
#### Problem description

`df.join()` silently changes a 'left' join to an 'outer' join when these conditions are met:

  - `join()` is called with a sequence of dataframes, e.g. `d1.join([d2], how='left', ...)`
  - some dataframe has a non-unique index

Note that the equivalent call to `merge(d1, d2, how='left', ...)` works just fine.

When looking at the [

[2018-02-09 00:15] jbrockmendel opened #19609 "non-64-bit Indexes?"
[code]

This makes dispatching Series ops for non-64 dtypes problematic.  Is there a reason for enforcing only-64?

[2018-02-09 00:16] jreback commented on #19609
we don’t support this as it’s somewhat platform dependent

[2018-02-09 02:41] mroeschke commented on #17732
All warning on the asv benches should have been caught since #19236 was merged recently

[2018-02-09 03:05] charlieahern commented on #19267
The links work now: [](https://www.numfocus.org/sponsored-projects/)

[2018-02-09 03:15] peterpanmj commented on #19538
It is the same issue as #6945. And, it seems that #17903 does not completely fix it when ascending is False. I will have a look into it.
Group by nan values is another thing .
[code]
It should related to #3729

[2018-02-09 03:33] WillAyd commented on #19538
@peterpanmj whatever solution you come up with in `algos` it shouldn't be that different to move to the `groupby_helper.pyx.in` file to support GroupBy nan handling as well (I'm touching the latter in #19481). Ideally these would be consistent

[2018-02-09 05:36] calvinwyoung commented on #11355
Are there any plans to resolve this issue? We'd really love to be able to use `constant_memory` to output large XLSX files.

[2018-02-09 06:57] ftune opened #19614 "Is there any fast way to apply crossjoin or join not on two dataframes?"
I try to find way to apply cross join on pandas. Failed to find useful suggestion in pandas document.
Like
`
SELECT * FROM [GameScores] CROSS JOIN [Departments]
or
SELECT * FROM [GameScores] JOIN [Departments] on [GameScores].t1 != [Departments].t1
`

I get one possible answer like:
`
import itertools
list=[x for x in itertools.product([a,b,c,d],[1,2,3,4])]
df=pd.DataFrame(list)
`
But I'm wonderin

[2018-02-09 07:54] aspiringguru commented on #4514
my simple/crude workaround below.  curious why this issue is still open in 2018.

colnames = list(df)

for colname in colnames:
    df[colname].fillna(method='bfill', inplace=True)

[2018-02-09 08:22] jorisvandenbossche commented on #4514
Because nobody made the effort to implement it. But you are welcome to do so.

[2018-02-09 08:24] jorisvandenbossche commented on #17732
OK, closing this then. When we actually remove deprecated functionality, and asv would break, it will be catched by travis now.

[2018-02-09 08:24] #17732 closed

[2018-02-09 08:25] jorisvandenbossche commented on #19600
Why not just rely on that assumption directly for a default implementation of `construct_from_string` ?
The we don't need a new method?

[2018-02-09 09:58] cjer opened #19615 "Adding Non-US holidays in pandas.tseries.holiday"
`pandas.tseries.holiday` has built-in only US holiday calendars. Is it possible to add other countries' holiday calendars to it? This US-centric module seems weird.

Maybe add [holidays](https://pypi.python.org/pypi/holidays) module, so this is not hard-coded and maintained within pandas.

I could make a pull request for this if it sounds reasonable.

[2018-02-09 10:45] #19267 closed

[2018-02-09 10:50] Themanwithoutaplan commented on #11355
@calvinwyoung this is possible in openpyxl using the dataframe_to_rows() function, which should also work with xlsxwriter. Having looked at the code for the Excelformatter I'm pretty sure that this will always be faster than using to_excel()

[2018-02-09 11:41] swarnakumar opened #19616 "Index Name vanishes when calling concat on two objects with different order indices"
Using pd.concat results in index name disappearing when the index is not in the same order for DataFrames being concatenated

[code]
Now create another dataframe, with the same index, but in a different order
[code]
#### Problem description

This is inconsistent with behaviour with the index is ordered the same for both DataFrames.

The right behaviour should be: the index name always being mainta

[2018-02-09 11:54] jreback commented on #19614
see #5401

[2018-02-09 11:54] #19614 closed

[2018-02-09 11:56] jreback commented on #7070
closing. this could be an external package.

[2018-02-09 11:56] #7070 closed

[2018-02-09 11:56] jreback commented on #19615
The point of the holidays is to be subclassed, this is only a sample implementation. see also #7070. things like this should live in an external package. they would need there own update frequency and maintainers.

[2018-02-09 11:56] #19615 closed

[2018-02-09 11:57] jreback commented on #19609
not necessarily objecting, but this would be tremendous work for very little gain.

[2018-02-09 11:57] #19609 closed

[2018-02-09 12:00] jreback commented on #19598
you would have to actually show the times, this is not reproducible. ``.first()`` is cythonized and should actually be faster.

[code]

you are probably seeing #19283 which is a fixed regression in 0.23

[2018-02-09 12:00] #19598 closed

[2018-02-09 12:06] jreback commented on #19607
I think this is the same issue as https://github.com/pandas-dev/pandas/issues/17257. maybe also related to #16304. Welcome to have a look / PR to fix.

[code]

[2018-02-09 12:22] jreback commented on #19161
not clear what this is

[2018-02-09 12:22] #19161 closed

[2018-02-09 12:29] #8496 closed

[2018-02-09 12:42] jreback commented on #19616
index names is removed if the indexes are not equal. indexes are ordered, thus these are not equal and hence the name is set to None

you could reindex first if you want then they would be equal.

[2018-02-09 12:42] #19616 closed

[2018-02-09 13:04] TomAugspurger commented on #19600
So if a class doesn't support `ExtensionDtype()` called with no arguments, we'll get an exception either way. My hope was that implementing `.empty` / `.from_empty` is easier than implementing `.construct_from_string`.
I suppose we get an exception either way...

[2018-02-09 13:07] jreback commented on #19600
EA should have this method
maybe make dtype required?

[2018-02-09 13:13] jorisvandenbossche commented on #19600
What has this to do with ExtensionArray itself ?

[2018-02-09 13:32] jreback opened #19617 "DEPR: .get_values()"
this was always meant as a private implementation detail. deprecate it now!

[2018-02-09 13:37] jreback commented on #19600
sorry thought the top was on empty on EA

[2018-02-09 13:55] randomgambit opened #19618 "Series.str.get_dummies() use smallest int type?"
Hello the Pandas team and thanks for making this package greater day after day.

I was using the `str.get_dummies` method on a dataframe and I realized that by default the dummies are coded as `int64`.

This looks to me very inefficient because I ran into a memory error when trying to get dummies for a dataframe with several millions of rows (and about 5k dummies). I had to create the dummies by c

[2018-02-09 14:09] jorisvandenbossche commented on #19617
To be clear: the only difference with `.values` is that for sparse `.values` gives a sparse array and `.get_values()` a dense array? So for that case we can recommend `.values.to_dense()` ?

[2018-02-09 14:13] jorisvandenbossche commented on #19616
Wouldn't it actually make more sense to look at the equality of the index *name* instead of the values to determine if the name is kept?

[2018-02-09 14:15] jreback commented on #19617
that's about write. or really ``_ndarray_values`` is the right thing. I think the SparseEA should just be able to handle this properly.

[2018-02-09 14:16] TomAugspurger commented on #19617
`Series[Categorical].get_values()` returns an ndarray. So in that case we'd recommend `np.array(series)`.

Really, `np.array(thing)` is maybe the best way of saying "give me an ndarray". We can implement `__array__` to do the right thing if nescessary.

In general, I think we'll want two public APIs to mirror our two internal ones

1. A way to get the data as an ndarray, even if it means losing in

[2018-02-09 14:16] elrubio commented on #19607
Well, I had a look at #17257 before reporting this. IMHO, they are not related: there, it's the `merge()` method itself that shows unexpected behaviour, while here, some helper method of `join()` simply calls `merge()` with the wrong argument `how='outer'`. If `merge()` had been called correctly using `how='left'`, everything would be fine.

Seems easy to fix, but might break existing code. I will

[2018-02-09 14:18] jreback commented on #19618
what actually should happen is that ``.str.get_dummies`` should just call and defer to ``pd.get_dummies``

which already does all of this:

[code]

[2018-02-09 14:19] jreback commented on #19618
want to do a PR, this is pretty straightforward.

[2018-02-09 14:20] jreback commented on #19618
``pd.get_dummies`` already does this by default

[code]

[2018-02-09 14:23] jorisvandenbossche commented on #19617
It's not fully a mirror, as the internal `_ndarray_values` is different and not meant to public I think? (in that sense I actually wanted to comment on the other PR that that name can still be somewhat confusing, not that I have a (short) alternative in mind)

Here you actually still have multiple possibilities for DatetimeTZ, because you could also go the "expensive" way (object array of timestam

[2018-02-09 14:28] TomAugspurger commented on #19617
True... Even with something like `PeriodIndex._ndarray_values`, there are different use-cases (indexing expects integer ordinals, but no user would expect that).

Having the user do `np.array(series[datetime-with-tz], dtype=object / 'datetime64[ns])` seems like the most explicit way of doing things. But the properties that "do the right thing" are also convenient.

[2018-02-09 14:42] jorisvandenbossche commented on #19460
@77QingLiu PR would certainly be welcome!

[2018-02-09 14:54] jorisvandenbossche commented on #19295
It might well be that it is not difficult to support it, but still, what's the point to support it?

That could be interesting (not sure if it is needed, you can also do .copy().rename()), but I don't think that necessarily means it should be the same in the constructor.

"where applicable", yes, and `names` is not applicable, I would say :)

Me as well, as indeed, we can also simply allow it and

[2018-02-09 14:56] jorisvandenbossche commented on #19295
So I would vote for: Index subclasses only `name`, `MultiIndex` only names, `Index` both

[2018-02-09 15:21] jmcnamara commented on #11355
@calvinwyoung One problem with using xlsxwriter's `constant_memory` mode from Pandas is that xlsxwriter doesn't support merged ranges across rows in that mode. As a result it would break the formatting for merged indices. If you specifically need `constant_memory` support you should probably look at writing the data from the dataframe yourself using xlsxwriter directly.

[2018-02-09 15:37] ftune commented on #5401
I come up with an idea to do it:
`def crossjoindf(df1,df2):
    keycolist=str(set(df1.columns.values+df2.columns.values))
    df1[keycolist]=0
    df2[keycolist]=0
    return pd.merge(dfr,dfr,on=keycolist).drop([keycolist],axis=1)`
It might be too easy to build a particular function `merge(df1,df2,how='cross') for it.
Is it the reason why there is no such function in pandas document?
(T_^)
#19614

[2018-02-09 16:03] cryptotvync opened #19620 "Possibly unexpected behaviour when using apply and custom funcs"
[code]

When I apply

[code]

I would like to see:

[code]

Instead I see:
[code]

Without as_index=False works as_expected - countries' names are there, but they are in index
While there is a workaround, I would say it is an unexpected behaviour (at least non-intuitive one)

(sorry for styling, I don't know Markdown)

[2018-02-09 16:11] #19153 closed

[2018-02-09 16:11] #19572 closed

[2018-02-09 17:14] TomAugspurger commented on #19602
Yeah, I could see these preserving the index dtypes. Interested in making a PR?

[2018-02-09 17:22] MishaVeldhoen opened #19622 "Performance issue when using pivot_table with multiple columns out of which at least one is of type 'category'"
#### Code Sample

[code]
#### Problem description
Creating a pivot table (with a multi-index) of a relatively small data frame with integer and float columns (case 2) goes much faster and uses much less resources compared to when the pivot table is created of the same data frame, but with one of the columns converted to a category (case 4).

On my (fairly old) system I find roughly a 200x increase

[2018-02-09 17:24] jbrockmendel opened #19623 "Inconsistency in array_to_datetime "utc_convert""
If tslib.array_to_datetime sees a tz-aware datetime object and `utc_convert` isn't True, it raises.  But later a tz-aware datetime may be parsed from dateutil and it is ignored:

[code]

There are several ways (some of which are hit in the tests) by which `parse_datetime_string` could return a tzaware datetime.  Should these raise iff utc_convert is not True?  Or behave like the string_to_dts pars

[2018-02-09 17:27] TomAugspurger commented on #19603
It seems like this is just for UTC?

[code]

You're welcome to take a look @enritoomey! Presumably in `ints_to_pydatetime` in `pandas/_libs/tslib.pyx`

[2018-02-09 17:37] TomAugspurger commented on #19622
Do you mind doing some profiling of the two to find the difference? If you run a line profiler https://github.com/rkern/line_profiler on `pd.pivot_table` for the two cases, the difference should stick out.

[2018-02-09 17:47] alberto-dellera commented on #19602
@TomAugspurger : unfortunately I am not skilled enough for a PR yet, sorry :(

[2018-02-09 17:53] markjszy commented on #19436
@TomAugspurger

It looks like it was already fixed in development a few months back, with the same sort of solution that @C5G6M7 proposed:

Commit:
https://github.com/pandas-dev/pandas/commit/23050dca1b404d23527132c0277f3d40dc41cab8

This looks isolated enough to be backported, or else just closed since it has been fixed in future release.

[2018-02-09 18:43] jbrockmendel commented on #18245
Closed by creation of tests.indexes.datetimes.test_timezones?

[2018-02-09 18:44] #18855 closed

[2018-02-09 18:46] randomgambit commented on #19618
thanks @jreback I think the issue is that the `str` method allows me to get dummies in the very common situation where the dummies are separated by some separator.

Example

[code]
Now,

[code]
while `pd.get_dummies` cant do that.

[code]

Thanks

[2018-02-09 19:18] TomAugspurger commented on #19602
I just came across this code for an unrelated PR. The issue may be at https://github.com/pandas-dev/pandas/blob/a214915e241ea15f3d072d54930d0e0c8f42ee10/pandas/core/frame.py#L3387-L3389

`mask` is empty, but `mask.all()` is true, so we do `np.empty()`, which is float.

If we check for `mask.all() and len(mask)` on that line, things *may* be fixed. Haven't tried yet.

[2018-02-09 20:12] jorisvandenbossche commented on #19620
https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown (first example show how to make code blocks)

[2018-02-09 21:50] bjourne commented on #19340
I had the same error, but after installing matplotlib and scipy it solved itself. I guess those deps should be checked in a nicer way?

[2018-02-09 23:54] MishaVeldhoen commented on #19622
Yes, I’ll look into it!

[2018-02-10 00:25] WillAyd commented on #11296
@jreback while I'm working on Cython optimizations I can take a look at this one. Just curious if we view the fact that `ffill` and `bfill`retain the grouping in it's own column as a feature or something up for discussion. To illustrate:

[code]

If `bfill` and `ffill` didn't return the grouping in a fashion similar to `rank` then we could leverage the same call signatures as the rest of the trans

[2018-02-10 01:03] oriolmirosa commented on #10772
This also strikes me as odd and inconsistent, and I'd love to see a fix. Meanwhile, the way I deal with it is by adding `.fillna(' NaN)` to the variables called in `pd.crosstab()`. For instance, in the example above:

`pd.crosstab(df.a.fillna(' NaN), df.b.fillna(' NaN), dropna=False)`

Of course, you could omit the `.fillna(' NaN')` from the column with no null values. I add a space before `NaN` s

[2018-02-10 09:00] topper-123 commented on #8383
This issue has been solved:

[code]

I'm on numpy 1.13.1 and pandas 0.22.

[2018-02-10 09:11] topper-123 opened #19629 "series.agg(np.nansum) etc. returns a series, scalar expected"
[code]
I would expect the return values of ``.agg(np.nansum)`` and ``agg(np.sum)`` to be the same.

the same issue is with np.nanmean, np.nanmax etc.

#### Problem description

The underlying issue is that ``SelectionMixIn._cython_table`` has records for ``np.sum``, ``np.mean`` etc, but not ``np.nansum``, ``np.nanmean`` etc.

From a quick look at it, it seems that the issue is easily fixable, by a

[2018-02-10 09:20] relonger opened #19630 "Memory leak behaviour using MultiIndex from GroupBy objects"
In short: GroupBy group object (got by `get_group()` or by iterating over GroupBy) MultiIndex object is just a window to the original index. When you use this index to create another Series/DataFrame - the whole original index will be copied.

Detailed reproduction:

[code]
[code]
[code]
[code]
remember Index usage!

Now lets do `groupby` and get the first group.
[code]

[code]

But look at the in

[2018-02-10 09:54] datapythonista commented on #10340
Is this something we want to fix? I can add an option --no-local-pandas (or whatever name makes sense), and don't overwrite the python path, but I don't know if generating the documentation with a different version of pandas makes sense.

[2018-02-10 09:59] datapythonista commented on #15591
What's the decision regarding this thread? Does it make sense to add a --jobs option to make.py that is given to `sphinx-build -j` argument? I guess that could be useful for contributors with many cores, even if the CI has only 2.

[2018-02-10 12:10] datapythonista opened #19631 "DOC: Improve code quality of doc/make.py"
In #18949, python files in the scripts/ directory were reviewed to pass PEP-8, and added to lint. But doc/make.py was left out, as it wasn't in that directory.

Besides PEP-8 problems, make.py has repetitive code that could be avoided by a refactoring.

Also, #15591 and #10340 can be addressed as part of this refactoring.

[2018-02-10 12:41] TomAugspurger commented on #19630
I believe the intention is that there's just one index, created along with `df`, and all the others are views on that index.

Can you collect your bits and pieces into a small example that demonstrates the unnecessary memory usage over time?

[2018-02-10 15:13] reidy-p opened #19632 "Replace with bfill, ffill or pad on DataFrame"
#### Code Sample, a copy-pastable example if possible
With a Series ``replace`` with ``method`` equal to 'bfill', 'ffill' or 'pad' and ``value=None`` works as expected
[code]

But for a DataFrame with a list or scalar it throws an error:

[code]

[code]

[code]

Should the DataFrame case work in the same way as the Series or is this simply a user-error on my part?

#### Expected Output
``DataFrame

[2018-02-10 16:05] #15779 closed

[2018-02-10 16:20] #14207 closed

[2018-02-10 16:20] #18797 closed

[2018-02-10 16:51] Zaharid opened #19633 "groupby by levels behaves differently than in pandas 0.20"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code above behaves differently in pandas 0.20 and in 0.22  (and also master) thereby causing incorrect results in code relying on the old behaviour. In pandas master I get:
[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: N

[2018-02-10 16:53] #19607 closed

[2018-02-10 17:02] #18790 closed

[2018-02-10 17:43] jreback commented on #19513
Categorical is prob a bit strict about these checks ATM. Categorial and CI should behave exactly the same.

These should all (Series, Cat, CI) should all respect ordered (IOW they have to be the same). for comparison purposes.

@jschendel

[2018-02-10 18:01] jreback commented on #19560
this is manifesting in #11759 as well. just need a better error message.

[2018-02-10 18:02] jreback commented on #11759
closing in favor of #19560 which will report the proper error message.

[2018-02-10 18:02] #11759 closed

[2018-02-10 18:02] jreback commented on #19623
is there a user facing effect to this?

[2018-02-10 18:03] jreback commented on #19618
@randomgambit my point is that this can simply dispatch to the impl of get_dummies.

[2018-02-10 18:09] jreback commented on #19620
you don't need ``as_index=False)
[code]

[2018-02-10 18:09] #19620 closed

[2018-02-10 18:10] jreback commented on #19629
we don't have the nan functions in our _cython_map It think. welcome to a PR

[2018-02-10 18:12] jreback commented on #8383
yup. though its possibly only for certainly versions of numpy. @topper-123 can you add some tests and see?

[2018-02-10 18:14] jreback commented on #19622
duplicate of this issue: https://github.com/pandas-dev/pandas/issues/15217

pivot is just calling groupby.

[2018-02-10 18:14] #19622 closed

[2018-02-10 18:15] jreback commented on #19622
welcome to have you look at that one (and I suggest the soln there) :>

[2018-02-10 18:16] jreback commented on #19632
this is essentially not implemented. This needs to be a per-column operation.

[2018-02-10 18:22] jreback commented on #19633
pls read the whatsnew note:http://pandas.pydata.org/pandas-docs/stable/whatsnew.html

``.sum()`` defaults have changed.

[2018-02-10 18:22] #19633 closed

[2018-02-10 18:23] jreback commented on #19597
out of scope. I suppose you could add a cookbook recipe, but this is pretty niche.

[2018-02-10 18:23] #19597 closed

[2018-02-10 18:25] jreback commented on #19587
your sample size is very small. You are turning tuples into a Series. this involves a copy to underyling storage. I suppose there could be more info in a performance section. But I do recall several issues / nice explanations on SO.

[2018-02-10 18:25] #19587 closed

[2018-02-10 18:26] jreback commented on #19587
If you want to contribute docs would be fine.

[2018-02-10 18:26] jbrockmendel commented on #19623
[code]

[2018-02-10 18:27] jreback commented on #19595
yeah this is pretty trivial to work on Sparse (as you don't need to materialize), would take a PR!

[2018-02-10 18:28] jreback commented on #19623
ok, pls check outstanding issues, I think have seen this before.

[2018-02-10 18:29] jreback commented on #19568
this overwrites the sheet. not sure if there is a way to preserve these.

[2018-02-10 18:29] #19568 closed

[2018-02-10 18:30] #19576 closed

[2018-02-10 18:31] jreback commented on #19589
cc @gfyoung

[2018-02-10 18:37] toobaz commented on #19576
Ideally, we would then have the possibility of dtype-less empty objects. So that if you _do_ pass a dtype, it's not overridden.

[2018-02-10 18:40] jreback commented on #19340
@bjourne so you you ran the above code (top of PR) and it *didn't* raise on the ``import matplotlib`` when it was not installed?

[2018-02-10 18:51] jreback commented on #19576
i agree in theory we should have an Any type which does exactly this

[2018-02-10 19:05] bjourne commented on #19340
I never ran the same code, but I had the same error. In my case, it was triggered by an call to `df.plot.kde()` where `df` was a `pandas.DataFrame`.

[2018-02-10 21:22] gfyoung commented on #19589
@joe1gi : Thanks for the report!  I agree with your diagnosis: the outputs should match.  PR to patch is welcome!

[2018-02-10 23:25] topper-123 commented on #8383
This is solved only for numpy >= 1.13. Where would tests for this be placed?

[2018-02-10 23:54] jreback commented on #8383
test_nanops

[2018-02-11 00:04] #12677 closed

[2018-02-11 01:00] jbrockmendel opened #19643 "Period.asfreq issue caused(?) by C division rules"
This behavior is present both before and after #19608/#19540.

[code]

[2018-02-11 03:31] jamesqo opened #19644 "pandas.read_csv tries to convert "NaN" even when specifying dtype argument"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Even when explicitly specifying `dtype` above, `read_csv` still converts values in the `float` column to a float when the string is "NaN". This behavior appears to be limited to "NaN" as it doesn't happen for regular numbers. Still, I unexpectedly ran across a "NaN" string in my application so it's blocking me.

[2018-02-11 04:44] gfyoung commented on #19606
Yeah...that does seem a little odd.  I don't know if broadcasting is supposed to be supported though.  @jreback which way should we go on this?

[2018-02-11 04:51] gfyoung commented on #19644
So at the surface, `pandas` is actually respecting your wishes, as the `dtype` of the column is `object`.  However, it just so happens that the element contained in that column is not converted to a `str`.  That being said, I think it should convert to a string (the `NaN` itself).  PR to patch is welcome!

[2018-02-11 07:32] mroeschke commented on #15750
I believe this API change would be useful for `DatetimeIndex` as well:

[code]

as this is the root cause for #19420

[code]

[2018-02-11 11:02] ikari-pl commented on #19340
I ran into the same error, installing `scipy` and `matplotlib` didn't seem to do the trick (or I did it wrong?)

[2018-02-11 14:54] jreback commented on #15750
@mroeschke this is not hard to fix, more about carefully changing tests. welcome a PR.

[2018-02-11 16:19] toobaz commented on #19609
See #16404

[2018-02-11 16:23] toobaz opened #19646 "Actual dtypes of pd.DataFrame(None, [...], dtype=int)"
#### Code Sample, a copy-pastable example if possible

[code]
compare to
[code]
#### Problem description

See https://github.com/pandas-dev/pandas/pull/18600#r167405218

Wrong test in https://github.com/pandas-dev/pandas/blob/324379ce75269aa6bced90ecf3edb692539a2742/pandas/tests/frame/test_constructors.py#L738

Fixed by #18600

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
--

[2018-02-11 17:37] toobaz opened #19647 "dtype-unaware (empty) objects ("any" dtype)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When an empty Series is added the first object, it does inference on it and sets its dtype ( https://github.com/pandas-dev/pandas/issues/19576#issuecomment-363875752 ). This can be nice... except if the user had passed a specific dtype on construction.

Empty objects should (by default) have no dtype set (or ha

[2018-02-11 18:49] zfrenchee opened #19648 "[Feature Request]: df.plot(type='pca')"
Would a PCA macro be out of scope for pandas?

Each time I want to generate a PCA plot to look at data in my dataframes, I go and find the little PCA snippet I use everywhere, which is rather verbose:
[code]
Imagine if instead I could do:
[code]

If there exists a PCA python package which is intended for this use case -- a macro for doing PCA on pandas dataframes, then I'd love to know about it! (

[2018-02-11 19:11] jreback commented on #19648
out of scope

[2018-02-11 19:11] #19648 closed

[2018-02-11 21:02] jorisvandenbossche commented on #19340
@ikari-pl Can you run the code in the top post? Do you then also get this error?

[2018-02-11 21:11] #18676 closed

[2018-02-11 21:24] jbrockmendel commented on #19643
Making a PR for this now, parking a related issue that is going in an xfail for the time being:

[code]

[2018-02-11 22:11] jorisvandenbossche commented on #19648
I agree this would be out of scope.

[2018-02-11 22:24] #19462 closed

[2018-02-11 22:56] npdoty commented on #13407
Spent a long time debugging this today. It is very surprising to have `dropna` throw an AxisError exception in numpy when the column happens to be `datetime64[ns, UTC]` but not when it's `datetime64[ns]`.

As a workaround, I believe users can use `df[df.column_name.notnull()]` ([as described on StackOverflow](https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-v

[2018-02-12 01:14] gilbertoolimpio commented on #19348
A newbie here! Would like to help! @cr458 Can I help you?

[2018-02-12 01:37] gilbertoolimpio commented on #19228
Hello @sunilk747 Are you still working on it?

[2018-02-12 02:08] gilbertoolimpio commented on #19204
I'm a newbie here and I'm in search of fun! Can I help you with that? =)

[2018-02-12 02:30] hexgnu commented on #19595
Got one already in the works thanks @jreback

[2018-02-12 03:34] sunilk747 commented on #19228
@gilbertoolimpio No. I am not working on it. If you want to take up this issue please go ahead.

[2018-02-12 03:46] gilbertoolimpio commented on #19228
OK! @sunilk747 I will work on it!

[2018-02-12 09:03] HagaiHargil opened #19653 "DOC: Clarifiy fill_value behavior in arithmetic ops"
When adding two DataFrames using `df1.add(df2)` one can use the `fill_value` parameter to fill in any NaNs that might come up. This parameter seems pretty broken:

[code]
As you see, it filled the NaNs with `1.0`. Changing `fill_value=1` will fill everything with `2.0`. However, changing some of the values inside `b` leads to more peculiar results, and I couldn't really connect the dots and find s

[2018-02-12 09:56] hexgnu commented on #15737
So I took a somewhat stab at this.

the problem here is that BlockManager strips out default_fill_value. I started going down the road of adding in SparseBlockManager, but it felt really hamfisted to me and introduced a bunch of new branches in the code.

Also I know from other discussions #19239 that this might be a waste of time.

Thoughts @jreback, or @TomAugspurger ?

[2018-02-12 10:17] NowanIlfideme opened #19654 "Enhancement: Exclude "callable" classes (and subclasses) from callable() calls"
#### Code Sample

[code]
#### Problem description
Cannot correctly use types that are technically callable, but not with the "right" use as Pandas expects, in many places. This example happened to be with SymPy and indexing, not sure where else it might come up.
For a bit more context on why I'm trying this, see: https://groups.google.com/forum/#!topic/sympy/CzOImly64RI

#### Expected Output
[code

[2018-02-12 10:30] nskalis opened #19655 "pip3.4 install pandas .. fails"
#### Problem description
On a newly installed CentOS server and Python3.4, pandas installation fails.

[code]
[code]
[code]
Here is the complete log. Could you please advise how to fix this ?

[code]

[2018-02-12 10:53] nskalis commented on #19655
is fixed via
[code]

[2018-02-12 10:53] #19655 closed

[2018-02-12 11:00] jreback commented on #19653
pls read the documentation. This is doing an align then a fillna operation.

[code]

[2018-02-12 11:01] toobaz commented on #12827
Interestingly, (fully indexed) ``DataFrame``s do not exhibit the same problem - and this leads to further inconsistency:
[code]

(the above cannot be tested without specifying the columns because of #16396)

[2018-02-12 11:09] jreback commented on #16396
when only scalars are passed this *is* ambiguous because of ``__getitem__`` coercion, but slices are not coerced to like scalars, so it is unambiguous.

[2018-02-12 11:41] jreback commented on #19653
you are welcome to PR a doc update if u think it is not clear

[2018-02-12 11:43] jreback commented on #19655
3.4 support was dropped in 0.21 FYI

[2018-02-12 12:03] TomAugspurger commented on #19653
Yep, I can see the point of confusion.

@HagaiHargil are you comfortable making a PR clarifying things?

https://github.com/pandas-dev/pandas/blob/a2771089d87afe8104765f12a07a6cd125e532ac/pandas/core/ops.py#L248-L259

and

https://github.com/pandas-dev/pandas/blob/a2771089d87afe8104765f12a07a6cd125e532ac/pandas/core/ops.py#L273-L284

[2018-02-12 12:06] #19163 closed

[2018-02-12 12:21] TomAugspurger opened #19656 "DOC: Sphinx 1.7 compatability"
I thought I posted this when the beta was out, but apparently not. We have a bit of work to do.

- [ ] Remove vendored IPython sphinxext (should be OK with https://github.com/ipython/ipython/pull/10907 released)
- [ ] Remove vendored numpydoc (work around https://github.com/numpy/numpydoc/pull/106#issuecomment-343220139)
- [ ] Check performance (better than 1.6, but still slower? https://github.co

[2018-02-12 12:28] jorisvandenbossche commented on #16396
Can you explain this in a bit more detail?

[2018-02-12 12:31] jorisvandenbossche commented on #19656
I think most discussion is in https://github.com/pandas-dev/pandas/issues/18147 ?

[2018-02-12 12:33] TomAugspurger commented on #19656
Ah, indeed. Maybe that's why I didn't make a new issue earlier :)

[2018-02-12 12:34] #19656 closed

[2018-02-12 12:58] TomAugspurger commented on #18147
Some warnings / errors from a recent build with

- sphinx 1.7
- numpydoc master
- IPython 6.2 dev

With the vendored versions removed:

<details>

[code]

</details>

https://gist.github.com/b728cb6c10e0e80cd6169ac97cb37903

[2018-02-12 12:59] TomAugspurger commented on #18147
I think that https://github.com/pandas-dev/pandas/pull/19657 is fixing errors like `source/whatsnew/v0.7.3.txt:: WARNING: image file not readable: _static/barh_plot_stacked_ex.png`

[2018-02-12 13:14] TomAugspurger commented on #13432
### Proposal for duplicate set ops

**intersection**

The output of `A & B` should be the *minimum* count of occurrences between `A` and `B`

[code]

**Union**

The output of `A | B` should be the *maximum* count of occurrences between `A` and `B`

[code]

This matches the definitions on wikipedia on in http://multiset.readthedocs.io/en/stable/

[2018-02-12 13:52] HagaiHargil commented on #19653
I'd be happy to, I'm just having a hard time phrasing it. Here's a draft:

     Fill existing missing (NaN) values, and any new element needed for successful array alignment with this value before computation. If data in both corresponding DataFrame locations is
    missing, the result will be missing

I'd also like to add an example, similar to the one in my initial post. Should it be added in bo

[2018-02-12 13:54] jorisvandenbossche commented on #18147
I was also checking the recent travis logs, and a big part of the warnings are due to recent deprecations / removals (eg Panel started to warn more loudly).
So those are not related to numpydoc/sphinx/ipython, but need some clean-up (for Panel we might want to do some general filterwarnings, if that would work for the full sphinx build)

[2018-02-12 14:38] TomAugspurger opened #19658 "CLN: Remove uses of Index._data"
The type of `Index._data` is inconsistent across Index subclasses

class             | output
----------------- | ------
Index             | ndarray
PeriodIndex       | ndarray[int] (ordinals)
DatetimeIndex     | DatetimeIndex (?)
DatetimeIndex[tz] | ndarray[datetime64[ns]]
CategoricalIndex  | Categorical
IntervalIndex     | None

We should replace uses of `._data` with `._values` or `._ndarray_va

[2018-02-12 14:49] TomAugspurger commented on #19653
That part is incorrect. *Existing* missing values will still be NA after the operation. Only newly-created missing values (created in the background by the `align` will be filled with `fill_value`). Everything else looks good though. So maybe something like

    Fill missing values created by alignment with this value before doing the operation.
    Existing missing values will not be filled by ``

[2018-02-12 14:56] HagaiHargil commented on #19653
Umm, I might be misunderstanding you, but I think that it _does_ fill existing NA values:

[code]
I consider the NA value in `a[0, 0]` to be existing, in which case `fill_value` does turn it into a 10 before the addition.

[2018-02-12 14:59] jorisvandenbossche commented on #19658
I suppose that, once we have Array classes for all our own extension types, those `_data` attributes *in principle* (with some refactoring to get there) should be those arrays? And then, it should be the same as `_values`

[2018-02-12 15:27] TomAugspurger commented on #19653
I was apparently confused. It seems to fill where there are *any* newly created values in either left or right. Or in other words, existing NAs are not filled if they're NA in both `self` and `other`.

[code]

op                        | output
------------------------- | ------
valid + valid             | valid
valid + existing NA       | valid (valid + fill_value)
valid + new NA            | val

[2018-02-12 15:29] TomAugspurger commented on #19653
I was apparently confused. It seems to fill when there are not NAs on both `left` and `right`. So valid + NA, both existing, will be filled.

[code]

op                        | output
------------------------- | ------
valid + valid             | valid
valid + existing NA       | valid (valid + fill_value)
valid + new NA            | valid (valid + fill_value)
new NA + valid            | valid (f

[2018-02-12 18:37] pmlandwehr opened #19662 "Ambiguous description in pandas.DataFrame.to_parquet documentation"
#### Relevant Docstring

In the verson 0.22.0 [pandas.DataFrame.to_parquet documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_parquet.html), the **engine** kwarg is described as:

The two descriptions of "auto" are in conflict, so the one that isn't correct should be removed.

[2018-02-12 18:51] TomAugspurger commented on #19662
Agreed that it's unclear, but they aren't in conflict. That's explaining the implementation more than the behavior.

This should read

    Parquet library to use. If 'auto', the value from ``io.parquet.engine`` is used. The
    default ``io.parquet.engine`` behavior is to try 'pyarrow', falling back to 'fastparquet' if
    'pyarrow' is unavailable.

PRs welcome!

[2018-02-12 19:42] calvinwyoung commented on #11355
@Themanwithoutaplan @jmcnamara Thank you both for the feedback. It seems like neither `dataframe_to_rows()` nor `constant_memory` supports merged ranges across rows.

Is there a generally accepted strategy for supporting merged ranges *and* keeping memory consumption low? For our application, we're okay if the processing takes longer — it just so happens that the machines we're using are constrain

[2018-02-12 19:44] TomAugspurger commented on #19204
@gilbertoolimpio yep, that'd be great. Do you know where to start?

[2018-02-12 19:47] oakca opened #19665 "remove_unused_levels() mixes labels of a dataframe index"

[2018-02-12 19:57] TomAugspurger commented on #19665
Can you say what exactly is incorrect? Using your `m.transmission.index`, I think everything looks OK

[code]

[2018-02-12 20:02] asmeurer commented on #19654
Registration would be inconvenient, as SymPy does not depend on pandas. It would be simpler if types could implement an attribute `_pandas_callable = False` which would override the `callable` check in `maybe_callable`.

[2018-02-12 20:08] TomAugspurger commented on #19654
I don't think this can be supported in general. When passed a callable, pandas' indexers apply that callable to `self`, so that `.loc`, etc work in method chains.

With callable keys, it'd be ambiguous whether that callable should be applied or looked up.

[2018-02-12 20:14] BrendanMartin opened #19666 "Can't import h5py with pandas"
Here's what I'm currently doing:

[code]

And I'm getting this error:

[code]

If I comment out the h5py import, it works.

[2018-02-12 20:28] WillAyd commented on #19165
You should be able to check rank off of this list with that change being closed. I'm going to take a look at `fillna` next

[2018-02-12 20:28] oakca commented on #19665
check this for more info https://stackoverflow.com/questions/48750866/pyomo-set-initiated-with-filtered-pandas-dataframe-error

[2018-02-12 20:35] TomAugspurger commented on #19666
Can you fill in your `#stuff` with what actually causes the failure? If I just be `pass` there, I don't get an exception.

Can you also include your version info + your h5py and HDF5 versions?

[2018-02-12 20:36] TomAugspurger commented on #19665
Can you copy over the relevant information here?

[2018-02-12 21:03] oakca commented on #19665
After that I checked the `m.transmission` `(site = BE)` and it looks like this:

                                             eff  inv-cost  fix-cost  var-cost
    Site In Site Out Transmission Commodity
    BB      BE       hvac         Elec       0.9   1650000     16500         0
    BE      BB       hvac         Elec       0.9   1650000     16500         0
            RP       hvac         Elec

[2018-02-12 21:06] oakca commented on #19665
basically it tries to initialize a pyomo set, but if you use `remove_unused_levels() ` it initializes wrong, because the labels are broken after the `remove_unused_levels() `.

[2018-02-12 21:15] TomAugspurger commented on #19665
I'm not sure what pyomo is. Could you

1. make a minimal reproducible example (it probably doesn't need any dependencies other than pandas), or
2. answer what about https://github.com/pandas-dev/pandas/issues/19665#issuecomment-365043078 looks wrong?

[2018-02-12 21:35] oakca commented on #19665
I don't know really where the index labels are used, other than pyomo initialitions. There is nothing wrong with your example, but what you are not checking is following:

    (Pdb) m.transmission.index
    MultiIndex(levels=[['BB', 'BE', 'BW', 'BY', 'HB', 'HE', 'HH', 'MV', 'NI', 'NW', 'OFF', 'RP', 'SH', 'SL', 'SN', 'ST', 'TH'], ['BB', 'BE', 'BW', 'BY', 'HB', 'HE', 'HH', 'MV', 'NI', 'NW', 'OFF', '

[2018-02-12 21:37] gilbertoolimpio commented on #19662
I'll do this!

[2018-02-12 21:49] BrendanMartin commented on #19666
@TomAugspurger all I have is a print statement (edited) and it fails.

Versions:
python 3.6
pandas 0.22.0
h5py 2.7.1

I'm not sure how to see the HDF5 version. I've only used what comes with pandas.

[2018-02-12 22:28] TomAugspurger commented on #19666
OK, your edited version does not fail for me, so it's presumable an environment thing.

What version of pytables?

On mac / linux `h5cc -showconfig` will print out the HDF5 version. Pandas doesn't bundle HDF5. How'd you install pytables?

[2018-02-12 22:36] TomAugspurger commented on #19665
Could you post your pandas version and make a reproducible example, including DataFrame generation, like we ask in the template? Otherwise there's no way we can help you.

[2018-02-12 22:54] BrendanMartin commented on #19666
`pip show tables`
Version: 3.4.2

Installed with pip I believe

[2018-02-12 23:00] TomAugspurger commented on #19666
OK, I'm not sure if / how pytables or h5py wheels bundle HDF5.

On Mon, Feb 12, 2018 at 4:54 PM, Brendan Martin <notifications@github.com>
wrote:

[2018-02-12 23:06] TomAugspurger opened #19668 "Pip build test CI failures"
I've seen a couple of these. Is this intermittent? Any idea what's going on?

https://travis-ci.org/pandas-dev/pandas/jobs/340640051

[code]

[2018-02-12 23:21] jreback commented on #19666
please read the docs
HDFStore only works with pytables and has no support with h5py at all

[2018-02-12 23:21] #19666 closed

[2018-02-12 23:22] jreback commented on #19666
you cannot use h5 files at all - maybe we need a bug warning in the docs - have seen a couple of issues like this in last few months

[2018-02-12 23:34] oakca commented on #19665
To be honest, I am reporting an issue, and not looking for help. It is up to you to decide, if it is worth it to spend time on.

What I am saying is basically, the order of the labels and levels are breaking after `remove_unused_levels()`  is used on a dataframe, which is generated by filtering with `.loc[]` (see code above), and this causes issues when some other python lib item tries to use labe

[2018-02-12 23:44] ZhuBaohe commented on #19653
I think the document is clear.

[2018-02-13 00:00] TomAugspurger commented on #19653
An example would still be helpful.

On Mon, Feb 12, 2018 at 5:45 PM, ZhuBaohe <notifications@github.com> wrote:

[2018-02-13 00:02] TomAugspurger commented on #19666
The issue isn't about using h5py with HDFStore, it's about some kind of
process-level conflict between pytables (plus or minus something pandas
does) and something h5py does on import.

On Mon, Feb 12, 2018 at 5:22 PM, Jeff Reback <notifications@github.com>
wrote:

[2018-02-13 00:16] jreback commented on #19666
this was an issue ages ago, but IIRC has been resolved in newer builds of hdf5. In any event this is not a pandas issue, rather an install / conda / pip one.

[2018-02-13 00:17] TomAugspurger commented on #19665
OK, let us know if you can make a reproducible example, including dataframe
generation, that demonstrates the failure.

On Mon, Feb 12, 2018 at 5:34 PM, Okan Akca <notifications@github.com> wrote:

[2018-02-13 00:17] TomAugspurger commented on #19666
Yeah, I vaguely remember that too, and the fact that I can't reproduce it
points pretty strongly at an environment issue.

On Mon, Feb 12, 2018 at 6:16 PM, Jeff Reback <notifications@github.com>
wrote:

[2018-02-13 03:27] xiaoluffy opened #19671 "auto convert from string to datetime64 in iterrows."
[code]
#### Problem description

Hi, I found the auto convert issue in iterrows or index, the string 'M1701' is converted  to '1701-01-01', and It's not supposed to happen. So is it a bug here?

Thanks.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: A

[2018-02-13 09:16] SonoDavid opened #19674 "Where operation with setting doesn't work any more"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the 10-minute tutorial this code is used, which doesn't work as expected.
The DataFrame contains a Nan value and positive and negative numeric values.

When running the code, an error appears:

---------------------------------------------------------------------------
TypeError

[2018-02-13 09:18] Themanwithoutaplan commented on #11355
@calvinwyoung if you want to merge cells when writing straight to XML then you'll have to manage more of this yourself. Apart from the formatting it's not difficult. Details are out of scope for this ticket I think and should be discussed on the openpyxl mailing list.

[2018-02-13 09:59] NowanIlfideme commented on #19654
@TomAugspurger that's why my suggestion was to look up whether to call it, before calling it. Not sure about performance, though - isinstance() seems to take some time. Perhaps @asmeurer's suggestion is simpler (and better-performing from the Pandas side), but that would indeed require those classes becoming "pandas-aware" to some degree. With registration, you could register in third-party code (

[2018-02-13 10:16] jorisvandenbossche commented on #19674
It seems you have string data in your dataframe, so it fails trying to get the negative of it.

If that was not the problem, can you be more explicit to what you see and what you expect, and provide a full reproducible example? (what is `df2` ?)
If you use the dataframe as defined in the docs, it does work correctly, as you can see in the output of both the stable and dev docs: http://pandas.pydat

[2018-02-13 11:06] #11636 closed

[2018-02-13 11:13] jreback commented on #19671
we had an old issue about this, but can't seem to find it. so

[code]

is a legit (though maybe weird) parse by ``dateutil``. When iterows happens a ``Series`` is constructed of the appropriate type. Since all of the elements are combined into a single dtype, they are upcast, here the should be upcast to ``object`` type.

love for you to take a look.

[2018-02-13 11:23] 77QingLiu commented on #3729
+1 on this. Ability to summarise missing data is very important in data analysis.

[2018-02-13 11:41] TomAugspurger commented on #3729
The issue is still open if anyone has time to work on it.

[2018-02-13 12:00] TomAugspurger commented on #9559
Let us know if you can make a reproducible example.

[2018-02-13 12:00] #9559 closed

[2018-02-13 12:01] TomAugspurger commented on #13973
@seanDot7 let us know if you can make a [small reproducible example](https://stackoverflow.com/help/mcve).

[2018-02-13 12:01] #13973 closed

[2018-02-13 12:02] TomAugspurger commented on #14471
Let us know if you can make a reproducible example.

[2018-02-13 12:02] #14471 closed

[2018-02-13 12:03] TomAugspurger commented on #16753
I don't think we'll issue a warning here. For better or worse, duplicates are allowed and used by some.

I'd recommend using something like [engarde](http://engarde.readthedocs.io/en/latest/) if you want runtime validation that you don't have duplicates.

[2018-02-13 12:03] #16753 closed

[2018-02-13 12:41] SonoDavid commented on #19674
Seems I inserted strings containing numerics in the last columns instead of the numerics themselves. Never mind. I'll close this issue...

[2018-02-13 12:41] #19674 closed

[2018-02-13 14:04] cryptotvync commented on #19620
@jreback did you real all my comment?) Countries' names are in index then, not in column, as usual

[2018-02-13 14:49] TomAugspurger commented on #19620
@cryptotvync can you take the time to properly format your desired output then? @jreback's suggestion looks correct.

[2018-02-13 14:50] #19548 closed

[2018-02-13 15:01] BrendanMartin commented on #19666
@TomAugspurger @jreback thanks for the help. Should I try to reinstall or just use pytables, or is there another solution? I'm not partial to using h5py since this is the first use in my project.

[2018-02-13 15:09] TomAugspurger commented on #19666
You might try conda. I know there was an issue with conda packages in the
past but I believe they were fixed.

Otherwise, you may need to restructure your program to avoid importing h5py
and pandas in the same process.
Let us know if you find anything out.

On Tue, Feb 13, 2018 at 9:01 AM, Brendan Martin <notifications@github.com>
wrote:

[2018-02-13 15:09] HagaiHargil commented on #19653
I posted #19675. @TomAugspurger Notice that after rebuilding the docs I found out that without creating the last two commits in that PR, referring to line 338 and below, the pd.DataFrame docs didn't update, only the pd.Series ones.

[2018-02-13 15:36] gilbertoolimpio commented on #19644
@gfyoung A newbie here! I would like to help with this problem! Any tips on where to start?

[2018-02-13 15:43] gfyoung commented on #19644
@gilbertoolimpio : Thanks for volunteering!  So `read_csv` is a somewhat tricky / convoluted function, but it's do-able to understand once you've worked with for long enough.

Head over to `parsers.pyx`.  That's where the bulk of the processing for the C engine is done.  Look at the `_read_rows` method.  There, you should be able to trace when we have finished reading the data and when we begin to

[2018-02-13 16:11] gilbertoolimpio commented on #19644
Ok @gfyoung! Thanks!

[2018-02-13 16:19] jbrockmendel opened #19676 "Unused util"
util._doctools.TablePlotter is used only in it's own `__main__` block.  Does that need to exist?

_decorators.docstring_wrapper is unused.

[2018-02-13 17:00] chris-b1 commented on #19668
a little further up
[code]

ccache seems like a suspect
https://stackoverflow.com/questions/5713894/file-not-recognized-file-truncated-gcc-error

It is used a little further up to build `conversion.o`, but I'm not familiar enough with it to know offhand what's actually going wrong or how to fix (blunt fix is probably to disable ccache entirely for now).  cc @jbrockmendel

[code]

[2018-02-13 17:19] TomAugspurger opened #19677 "CI: Make uncaught warnings raise as errors"
By adding

[code]

to our `setup.cfg`, we can easily make uncaught warnings turn into errors. What are people's thoughts on this? The only downside I see is that contributor's PR will fail due to unrelated changes to a downstream package, but we can quickly fix those.

It seems like uses of

[code]

does not work with however pytest is asserting that warnings haven't gotten through. We need to act

[2018-02-13 17:25] BrendanMartin commented on #19666
@TomAugspurger I'm just using pytables `open_file` instead. Thanks for the help.

[2018-02-13 17:39] engahmed1190 opened #19678 "python 2 vs python 3 columns ordering using pandas"
#### Code Sample

[code]
#### Problem description

I am facing an issue related to column ordering in pandas data frame while saving it as csv. This is the ordering in python 3:
![image](https://user-images.githubusercontent.com/25582838/36163895-6c489c70-10f3-11e8-896a-4311757741c7.png)

while in python 2 , it reverts the columns and also if the number of column is larger than 2 the ordering is t

[2018-02-13 17:47] chris-b1 commented on #19678
Please make a reproducible example

[2018-02-13 17:53] jreback commented on #19668
not don’t disable caching!!!

but u can clear the travis cache on master of u want

[2018-02-13 18:36] Sup3rGeo opened #19680 "to_timedelta does not work properly with nanoseconds"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

nanoseconds range input for to_timedelta function are rounded to microseconds.

#### Expected Output

[code]

However this works fine:

[code]

So it seems to be something when se choose unit="s"

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3

[2018-02-13 19:16] ciarancourtney opened #19681 "Pandas install includes hefty 29MB `tests/` directory"
This is particularly relevant to people trying to minimize virtualenvs for AWS Lambda, where a max file size is imposed.

pandas 0.22.0

[2018-02-13 19:35] TomAugspurger opened #19682 "Categorical.fillna doesn't validate consistent kwargs"
[code]

Both of these should raise. PR coming shortly.

[2018-02-13 20:01] jackalack commented on #10567
why was this closed? This still appears to be an issue

[2018-02-13 20:20] jbrockmendel commented on #19294
Subsumed by #19658

[2018-02-13 20:20] #19294 closed

[2018-02-13 20:34] st12yker opened #19685 "pd.read_csv generating different pd.DataFrames with identical dataset"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code above is run twice (or any number of times, greater than one) each run generates
a pd.DataFrame using the same programming code.  The problem is that a *slightly* different pd.DataFrame is being generated, EVEN THOUGH THE DATASET LOADED IS IDENTICAL EACH TIME - THE SAME CODE IS BEING USED TO GENERATE T

[2018-02-13 20:45] TomAugspurger commented on #19685
Can you make a reproducible example? `'/'XXX'/'XXX'/DEBUG_selectionPreparation_2.txt` doesn't exist on my computer.

For examples, it's usually best to make a string with the values and wrap that in a `StringIO` object, which can be passed to `read_csv`.

[2018-02-13 20:58] gilbertoolimpio commented on #19644
@jamesqo and @gfyoung the expected result would be <class 'str'> <class 'str'> and not <class 'str'> <class 'float'> ok?

[2018-02-13 21:00] st12yker commented on #19685
The code: "'/'XXX'/'XXX'/DEBUG_selectionPreparation_2.txt`" is for demonstration purposes, to show how I outputted the pd.DataFrame to a text file.
You can use any code to write the pd.DataFrames to a file.

As stated in the text, I outputted two pd.DataFrame (loaded them seperately one after the other)

I used the text file so that I could use the linux/unix command "diff" to identify difference

[2018-02-13 21:01] innominate227 opened #19686 "BUG: MultiIndex .loc fails with all numpy arrays"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

slice4 in the sample fails with TypeError: '(array([10, 20]), array([2, 3]))' is an invalid key.
slice1-3 all work as expected.

#### Expected Output

expect slicing to work with numpy arrays the same as lists.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None

[2018-02-13 21:01] jorisvandenbossche commented on #10567
@jackalack Can you provide a reproducible example that shows this?

[2018-02-13 21:14] gfyoung commented on #19644
Yes, that's correct!

[2018-02-13 22:05] mbj047 opened #19688 "formatting date with strict json"
[code]
#### Problem description

I need my data set to export to - "Timestamp" : {$date:"2018-02-12T01:50:37.000Z"} Currently its exporting as - {"$date":"2011-07-22T20:34:51.000Z"

From my digging this isn't currently possible?

[2018-02-13 23:39] WillAyd commented on #19685
You should be using `to_csv` instead of writing the string representation of the DataFrame

[2018-02-14 00:16] WillAyd commented on #19676
It does appear that this is used in `merging.rst`. That said, do we have any tools to analyze and clean up unused code? Wonder if something like [vulture](https://github.com/jendrikseipp/vulture) is worth exploring for pandas

[2018-02-14 00:19] jreback commented on #19676
we mostly just use linting

but adding a cleanup tool (to be run in the ci) would be great!

[2018-02-14 00:32] WillAyd commented on #19676
I'll open a separate change for that. Running `vulture pandas --exclude pandas/tests` from the top level directory yields 469 items, and I imagine there has to be some false positives in there.

If someone goes through the modules called out by the tool and can learn in more detail how the tool works it appears to be something that can get integrated with CI

[2018-02-14 00:38] WillAyd opened #19689 "Dead Code Cleanup / Vulture POC"
With a goal of integrating static checking for "dead code" into the CI suite, it appears like the [Vulture project](https://github.com/jendrikseipp/vulture) may have something to offer pandas. As of writing, running `vulture pandas --exclude pandas/tests/ ` from the top level directory yields 469 items that the tool thinks are unnecessary.

There are absolutely false positives in there, but if som

[2018-02-14 00:54] calvinwyoung commented on #11355
Grea, thank you!

[2018-02-14 01:17] Oreki47 opened #19690 "GroupBy.var() is computing sum of squares instead of variance / Returns NaN when there is only 1 instance"
#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``
'0.22.0'

[2018-02-14 03:35] TomAugspurger commented on #19688
Can you make a reproducible example? I don't think you need to read from a CSV to demonstrate `to_json`, you can just create the dataframe directly.

[2018-02-14 07:03] minggli commented on #19671
hope don't mind if I jump into this issue. since Series are constructed row by row of the frame, the dtype is inferred case by case. as @jreback has rightly put 'M1701' is inferred as datetime whereas 'M1609' is object. so I think the issue here is that dtype upcast for each Series is not always consistent as it's evaluated individually in `Series` > `_sanitize_array` > `_try_cast` > `maybe_cast_t

[2018-02-14 10:52] jstammers opened #19693 "can't subtract utc datetimes from datetime.utcnow()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Calling `df["now"].dt.tz` returns `None`, meaning that `pd.datetime.utcnow()` has not been explicitly localized to utc. Since `pd.datetime.now()` is tz-naive, it is useful to have a similar function which returns the current time with timezone localization for operating on tz-aware datetimes.

#### Expected Outp

[2018-02-14 10:57] jreback opened #19694 "BLD: add 32-bit buid"

[2018-02-14 10:58] jreback opened #19695 "BLD: move asv build to a daily travis cron"

[2018-02-14 11:00] jreback commented on #19693
you need to localize. despite its name ``datetime.utcnow()`` does not return a tz-aware value. this is a standard library problem where there is no concrete impementation of timezones.

[code]

[code]

[2018-02-14 11:00] #19693 closed

[2018-02-14 11:05] #19603 closed

[2018-02-14 11:12] #18589 closed

[2018-02-14 11:13] #19521 closed

[2018-02-14 11:24] jreback commented on #19671
Here's the basic problem. We do inference on mixed strings & datetimes upon construction. This allows one to pass 'NaT and/or mixed datetimelike (e.g. you can also pass ``dateitime.date`` and ``dateime.datetime`` and ``np.datetime64``'. However we should make this much more strict, so that we don't fully parse strings. It *still* needs to hit ``to_datetime`` (which is where the conversion happens)

[2018-02-14 11:30] TomAugspurger commented on #19695
Are you working on this, or should I?

[2018-02-14 11:40] jreback commented on #19695
feel free!

I would create another repo (in pandas-dev) to do this
similar to the wheel building

i suppose u could reuse that code

[2018-02-14 11:44] TomAugspurger commented on #19695
Good idea. Thoughts on moving over

1. ASV
2. conda-build
3. pip build

Anything else?

[2018-02-14 11:57] jreback commented on #19695
i think those plus 32 bit build would be awesome

maybe just run these on a daily cron

[2018-02-14 11:58] jreback commented on #19695
maybe doc build as well?

[2018-02-14 12:24] TomAugspurger commented on #19695
I think Joris had plans (or hopes?) to move the doc build to circle-CI and
upload an artifact so that users can check the doc build, similar to how
scikit-learn does it.

On Wed, Feb 14, 2018 at 5:58 AM, Jeff Reback <notifications@github.com>
wrote:

[2018-02-14 12:26] jreback commented on #19695
even better!

note that we do this also in ibis-project

[2018-02-14 12:31] TomAugspurger commented on #19695
👍 . I'll be offline for a couple hours, but will start on this afterwards.

Tangentially related, I'd like to go through all our `ci/*` stuff and simplify / consolidate our dependency code.

I want to get to the point where we have a single `environment.yaml` per build, and *try* to get everything installed in a single shot by `conda`, instead of multiple steps. That'll help with previously pinned

[2018-02-14 12:37] jreback commented on #19695
all for cleaning up
but be careful
a lot of that code is designed to give informative errors when things fail and to no pin things too much

[2018-02-14 13:29] TomAugspurger opened #19696 "ExtensionArray meta-issue"
Just so things don't get lost

- [x] Interface, ExtensionBlock, and Internals (#19268)
- [x] Series and DataFrame can hold extension arrays (#19520)
- [x] overridable `assert_*_equal` (https://github.com/pandas-dev/pandas/pull/19863)
- [x] unique (#19869)
- [x] fillna (#19909)
- [x] `__setitem__` works properly (https://github.com/pandas-dev/pandas/pull/19907)
- [x] Document everything: (#19936)
-

[2018-02-14 14:42] mbj047 commented on #19688
So this is the original file sample. Which is just a log file. I just need to convert this to json with the date change.

`date time time-taken c-ip cs-username cs-auth-group x-exception-id sc-filter-result cs-categories cs(Referer) sc-status s-action cs-method rs(Content-Type) cs-uri-scheme cs-host cs-uri-port cs-uri-path cs-uri-query cs-uri-extension cs(User-Agent) s-ip sc-bytes cs-bytes x-virus

[2018-02-14 15:18] TomAugspurger commented on #19688
Can you make your example minimal? IOW, just construct the smallest
possible example that demonstrates the issue. You shouldn't need to read
from an external file.

On Wed, Feb 14, 2018 at 8:43 AM, mbj047 <notifications@github.com> wrote:

[2018-02-14 15:36] mbj047 commented on #19688
But that's where my data is coming from. I have a large data set in a weird log format that I am pulling in to Pandas to convert to json.
In the very simplest form this is what I got...
`"$date":"2011-07-22T20:34:51.000Z",`

this is what I need

`"Whatever": {"$date": "2011-07-22T20:34:51.000Z"},`

and I'd I need to do it like a few million times

[2018-02-14 15:56] TomAugspurger commented on #15035
Closing this since we have a dedicated machine for this.

[2018-02-14 15:56] #15035 closed

[2018-02-14 16:07] jorisvandenbossche commented on #19695
Even apart from that, I often check the doc build to then comment on the PR with things that break the docs, so I would prefer to keep this in the pandas CI itself.

[2018-02-14 16:10] TomAugspurger commented on #19695
FYI: https://travis-ci.org/pandas-dev/pandas-ci/ if you want to sign up for
alerts on build failures, though maybe wait until I get a successful build
first :) Then I'll switch it over to a daily cron.

I'm doing conda build and ASV now.

Pip build with no Cython will follow once we figure out why it's broken.

On Wed, Feb 14, 2018 at 10:07 AM, Joris Van den Bossche <
notifications@github.com> wro

[2018-02-14 16:10] jreback commented on #19695
yeah not concerned about the doc build really. the other builds are just taking extra time on each commit and doing daily would be sufficient.

[2018-02-14 16:10] jorisvandenbossche commented on #19688
For `to_json` (which is the function you have an issue with) it doesn't matter where the data is coming from, but what is inside the dataframe. So you can create manually with some code a DataFrame with similar content as when you read the data from file, but a bit smaller and that still shows the issue you want to raise.

[2018-02-14 16:12] vmuriart opened #19697 "df.eval fails for Unary operation involving float32 column"
#### Code Sample, a copy-pastable example if possible

[code]

[code]
#### Problem description

`df.eval(...)` operations fail if one of the columns involved is of type `float32` and some `unary` operations are involved. In the example above `df.eval('-1 + Foo32')` failed, but `df.eval('-Foo32')` will succeed, and `df.eval('-1*Foo32')` will also fail.

Originally I tested fixing this by just addin

[2018-02-14 16:23] mbj047 commented on #19688
so something similar to this would work?

`df = pd.read_csv('SampleCsvFile.csv', dtype={
            "zipcode" : str,
            "date" : str,
            "state" : str,
            "val1" : str,
            "val2" : str,
            "val3" : str,
            "val4" : str,
            "val5" : str
        })

results = []

for (zipcode, state), bag in df.groupby(["zipcode", "state"]):
    content

[2018-02-14 16:26] TomAugspurger commented on #19697
Looks like a duplicate of https://github.com/pandas-dev/pandas/issues/16363. Some more details there if you want to try submitting a fix.

[2018-02-14 16:26] #19697 closed

[2018-02-14 16:27] vmuriart commented on #19697
Thanks! didn't find it this morning, though I only searched from my phone... thanks!

[2018-02-14 17:11] vmuriart commented on #16363
@james-nichols there might be a problem with your approach though. It seems doing your change would completely skip over [this section of code](https://github.com/pandas-dev/pandas/blob/d198a6efd5a3d2e7d5afb4a3cf556507c7501dd4/pandas/core/computation/expr.py#L369-L380) which would downcast the type of the unary term to `float32` and would result in a series of `dtype` of `float32`. With your chang

[2018-02-14 18:26] TomAugspurger opened #19699 "Allow list-like for `y` in `DataFrame.plot`."
In pandas 0.22 and earlier, we passing multiple values for `y` worked by accident. The code clearly assumed that `y` was a scalar, but things usually worked, perhaps with an incidental warning:

[code]

On master, this will currently raise. I think that we should explicitly support list-likes for `y`.

Tagging for 0.23 since I think this should be a blocker.

xref https://github.com/pandas-dev/pan

[2018-02-14 18:54] TomAugspurger commented on #19668
@hexgnu it's looking like https://github.com/pandas-dev/pandas/commit/39e7b6916b07982240bac87132848fb2665806a2#diff-2eeaed663bd0d25b7e608891384b7298 is the commit that started causing issues here (that's the first commit that touched `setup.py` that broke things).

The issue is that we want users to be able to install pandas from source without Cython. Any ideas?

To test you can run `bash scripts

[2018-02-14 19:05] jbrockmendel opened #19700 "Series.hasnans shouldn't be cached"
Series.hasnans is as a cache_readonly inherited from IndexOpsMixin

[code]

[2018-02-14 19:10] TomAugspurger commented on #19700
I wonder if that's intended to be Index only? Might want to just deprecate it in favor of `.isna().any()`.

[2018-02-14 19:23] jbrockmendel commented on #19700
I was thinking of adding an `_immutable` flag to `Index`/`NDFrame`(/`Array`) and a decorator `cache_if_immutable` that acts like `cache_readonly` for if `obj._immutable` and like `property` otherwise.  There's a bunch of stuff (in datetimes/timedeltas/periods, where else) like this that could make use of it.

[2018-02-14 21:07] chris-b1 commented on #19685
Agree with @WillAyd diagnosis, please re-open with a reproducible example if that's not the issue

[2018-02-14 21:07] #19685 closed

[2018-02-14 21:08] chris-b1 commented on #15967
Closing as not reproducible.

[2018-02-14 21:08] #15967 closed

[2018-02-14 21:11] TomAugspurger commented on #18139
Let us know if you have any other questions.

[2018-02-14 21:11] #18139 closed

[2018-02-14 21:25] chris-b1 commented on #19690
This is working as expected - pandas `var` defaults to a ddof of 1.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.var.html

[code]

[2018-02-14 21:25] #19690 closed

[2018-02-14 21:27] RANAJITGIT commented on #11604
I am facing the same issue.
I have python 3.6 and panda installed
import pandas as pd is working fine in jupyter notebook.
but I am getting error in python shell.
Please help...............

[2018-02-14 21:31] gfyoung commented on #11604
Do you have multiple python versions installed?  Try this in the Python shell:

[code]

[2018-02-14 21:31] gfyoung commented on #11604
Do you have multiple python versions installed?  Try this in the Python shell:

[code]

[2018-02-14 21:56] TomAugspurger opened #19703 "pytest deprecation warning"
[code]

[code]

though there are probably others.

[2018-02-14 22:11] TomAugspurger opened #19705 "Bad Error message / docs for Categorical.fillna with dict `value`"
[code]

I suppose that mappings don't make sense for `Categorical.fillna`

Also... this seems strange...

[code]

We shouldn't be affecting valid values here.

Perhaps best to just raise for all series / dict like? Unless I'm missing something.

[2018-02-14 22:25] memeplex opened #19706 "Unable to import pandas when using the gtk3 backend in ipython"
[code]

If I use tk or qt instead, this doesn't happen.

[2018-02-14 22:40] TomAugspurger commented on #19706
Can you show `pd.show_versions()`

How'd you install pandas?

[2018-02-14 22:45] memeplex commented on #19706
Well I'm unable to import pandas after setting the mpl backend as you can see, so I'm reporting the output of show_versions without setting a backend first, I'm not sure whether this matter or not.

[code]

The installation was a standard pip one: `pip install --user pandas`

[2018-02-14 22:53] TomAugspurger commented on #19706
No idea what's going on here, sorry.

@tacaswell have you seen anything like this before? `pandas._util.move` is a C-extension module.

[2018-02-14 23:57] memeplex commented on #19706
Maybe it's using some gtk api.

[2018-02-15 00:37] hexgnu commented on #19668
Think I found the issue hold on...

[2018-02-15 02:33] jbrockmendel opened #19708 "ENH: Index should have diff() method"

[2018-02-15 02:36] jbrockmendel commented on #19708
Also `round`

[2018-02-15 02:58] mikebarkas commented on #18498
I am working on this.

[2018-02-15 08:17] #19662 closed

[2018-02-15 08:36] #17015 closed

[2018-02-15 08:52] ingmars commented on #17365
I everyone, I'm experiencing the same problem on Pandas 0.20.3 on Windows 7. However, **mode='wb' might be a dangerous fix**, as then it **crashes with an encoding setting** such as encoding='utf-8' saying: "ValueError: binary mode doesn't take an encoding argument".

It would be nice if there was a workaround making both **line_terminator** and **encoding** work at the same time.

[2018-02-15 08:53] jorisvandenbossche commented on #19688
We still don't have 'SampleCsvFile.csv', so we cannot run your code.

[2018-02-15 09:05] jorisvandenbossche commented on #19686
@innominate227 Thanks for the report! That indeed looks like a bug (I at least cannot think of a reason why we would do it like this)

[2018-02-15 09:16] jorisvandenbossche commented on #19680
@Sup3rGeo thanks for the report!

It seems this happens in this function:

[code]

because we round at 6 decimals:

https://github.com/pandas-dev/pandas/blob/405ed25b214740f2e0457ee84007567072b6fd18/pandas/_libs/tslibs/timedeltas.pyx#L234

Not fully sure why we choose 6 decimals to be allowed, and not 9

[2018-02-15 09:16] jorisvandenbossche commented on #19680
Ah, this is a duplicate of https://github.com/pandas-dev/pandas/issues/14156. Continuing discussion there further.

[2018-02-15 09:16] #19680 closed

[2018-02-15 09:18] jorisvandenbossche commented on #14156
Copying from #19680

It happens in this function:

[code]

because we round at 6 decimals:

https://github.com/pandas-dev/pandas/blob/405ed25b214740f2e0457ee84007567072b6fd18/pandas/_libs/tslibs/timedeltas.pyx#L210-L212

https://github.com/pandas-dev/pandas/blob/405ed25b214740f2e0457ee84007567072b6fd18/pandas/_libs/tslibs/timedeltas.pyx#L234

Not fully sure why we choose 6 decimals to be allowed,

[2018-02-15 09:31] jorisvandenbossche opened #19710 "DOC: develop a set of standard example DataFrames for use in docstring examples"
Related to https://github.com/pandas-dev/pandas/pull/19704. I didn't find an existing open issue, only a discussion mentioning this in https://github.com/pandas-dev/pandas/pull/16520 (@datapythonista it was actually you then! I didn't realize that :-))

I think it would be good to have a set of standard DataFrames that we reuse throughout our docs (to start with in the docstrings, but we could act

[2018-02-15 11:51] #19665 closed

[2018-02-15 12:22] TomAugspurger commented on #19710
+1 to this.

[2018-02-15 12:26] jreback opened #19711 "DEPR: remove pandas.core.index"
this is an old artifice which needs to be deprecated. It might be used somewhat internally. These usages need to be moved to pandas.core.indexes.api

[2018-02-15 12:26] TomAugspurger opened #19712 "CI: Builds timing out"
3.6 times out fairly regularly: e.g. https://travis-ci.org/pandas-dev/pandas/jobs/341598742

It's running `pytest -s -m single --strict --cov=pandas --cov-report xml:/tmp/cov-single.xml --junitxml=/tmp/single.xml --skip-slow --skip-network pandas` and `pytest -s -n 2 -m not single --cov=pandas --cov-report xml:/tmp/cov-multiple.xml --junitxml=/tmp/multiple.xml --strict --skip-slow --skip-network p

[2018-02-15 12:29] TomAugspurger opened #19713 "pipe example in basics.rst broken due to SciPy / statsmodels changes"
[code]

Just do something other than poisson. Or remove statsmodels entirely, that's not the crucial point of the example.

[2018-02-15 12:38] jreback commented on #19712
these are travis issues have been pretty u reliable lately

[2018-02-15 14:02] cbertinato commented on #19342
I'm going to make a pull request for this one, but just wanted to check on the strategy, in case I'm missing something else.

This appears to be an issue just for Categoricals in Series. Attempting to make a DataFrame of Categoricals with a mismatched index raises as expected. The issue is due to the fact that `CategoricalBlock` subclasses `NonConsolidatableMixIn` which sets `_validate_ndim = Fals

[2018-02-15 14:11] dahlbaek opened #19715 "Conform Series.to_csv to DataFrame.to_csv"
Thank you for this awesome package!

#### Problem description
When indexing/selecting/slicing a `DataFrame`, pandas may return a `Series`. Both classes support the `to_csv` method, but the methods have subtle differences. These subtle differences may break your code, or demand a call to `to_frame`. Perhaps it would be beneficial to conform the `Series.to_csv` method to the `DataFrame.to_csv` metho

[2018-02-15 14:17] jorisvandenbossche commented on #19715
@dahlbaek Thanks for opening this issue. I think this all sounds very sensible, and, should also not be to hard to solve.
As currently `Series.to_csv` just creates a dataframe and then does `DataFrame.to_csv`:

https://github.com/pandas-dev/pandas/blob/2fdf1e256e5e0b7f1fe909629e2f0b7893c8c7c3/pandas/core/series.py#L2924-L2932

So I think we could simply pass through \*\*kwargs to DataFrame.to_csv

[2018-02-15 14:37] dahlbaek commented on #19715
I see! If you would like, I would be happy to try my hand at a pull request.

[2018-02-15 14:52] NightFantomJ2 commented on #18129
Having the same issue with string data, no mention of what is wrong anywhere, no mention of unsupported datatypes in the docs, and no error, just wrong output.

[2018-02-15 15:14] tdpetrou commented on #18129
@NightFantomJ2 I am building a similar library to pandas called [dexplo](https://github.com/dexplo/dexplo) that will allow you to specify a window size in either direction for all rolling operations. For instance, you could want a window that was from 3 to the left to 5 to the right, or from 5 to the right to 10 to the right. It's about 1 month from official release.

[2018-02-15 15:16] Leobouloc commented on #18792
Re-read my issue; I believe this should be tagged as a bug.

Cheers!

[2018-02-15 16:21] mbj047 commented on #19688
Here is the input test file -
[sg_main__test.txt](https://github.com/pandas-dev/pandas/files/1728444/sg_main__test.txt)

[2018-02-15 16:42] jbrockmendel commented on #19713
Yah AFAICT statsmodels has no intention of fixing this on their end.  I've been patching scipy.stats at import-time to avoid this.

[2018-02-15 16:47] jbrockmendel commented on #19577
@TomAugspurger two quick namespace-gameplan questions.

Assuming the arith/comparison methods currently in DatetimeIndexOpsMixin/DTI/TDI/PI get moved into analogous array classes, do you envision these getting a) mixed into the appropriate Index/Block subclasses or b) accessed via composition?  If the latter, what name (`DatetimeIndex._??_values`) should these use to get at the pdarray implementat

[2018-02-15 16:58] jorisvandenbossche commented on #19577
It will be composition (that is what Block is already doing), and for Index it will be the "_values" attribute IIRC

[2018-02-15 17:32] jbrockmendel opened #19716 "Incorrectly assigned Index ops/names"
Index op naming and pinning is inconsistent:

 - no `Index.__rsub__`, https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/base.py#L2200
- `__iadd__, __isub__` aren't getting pinned to `cls` https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/base.py#L3998
- `__radd__, __rpow__, __rmul, ...` aren't getting the correct names (not such a big deal)
- numeric subclass

[2018-02-15 17:51] jorisvandenbossche commented on #19715
Sure!

[2018-02-15 18:14] peacing commented on #19340
I had the same error as above. After installing scipy AND restarting jupyter notebook plotting worked for me. I think restarting the notebook has to happen.

[2018-02-15 18:26] nackerley commented on #4588
I can't see why preserving column order (as much as possible) isn't the default behaviour of concat().

My workaround uses `unique_everseen` from the [Itertools Recipes](https://docs.python.org/3/library/itertools.html#recipes).

[code]

[2018-02-15 19:48] WillAyd opened #19718 "Series of NaNs Gives False for 'any' but True for 'all'"
[code]

Seems like a bug that `any` can be False but `all` is True

<details>

INSTALLED VERSIONS
------------------
commit: 2fdf1e256e5e0b7f1fe909629e2f0b7893c8c7c3
python: 3.6.1.final.0
python-bits: 64
OS: Darwin
OS-release: 17.4.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.0.dev0+299.g2fdf1e256.dirty
pytest: None
pip: 9.0.1

[2018-02-15 19:54] gfyoung commented on #19715
xref #18958 : I 100% agree that this should be done.

[2018-02-15 19:56] WillAyd commented on #19718
Nevermind this isn't a pandas issue. I didn't realize that any([]) and all([]) using the built-in Python objects returned the same thing. Closing as it matches that expectation

[2018-02-15 19:56] #19718 closed

[2018-02-15 20:13] gfyoung commented on #19716
I might also add that `_evaluate_numeric_binop` is not a particularly useful name.

[2018-02-15 21:15] kdebrab opened #19720 "ValueError when summing over column level with skipna=False (Python 3 only)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In Python 3.6 a ValueError is raised: `ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>`. In Python 2.7 the above works as expected.

#### Expected Output

The same as in Python 2.7, namely the dataframe:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSION

[2018-02-15 21:18] TomAugspurger opened #19721 "API: Should factorize(categorical) return a Categorical for uniques?"
Returning a categorical feels more natural to me

[code]

That's kind of what we do for a `DatetimeIndex` with TZ:

[code]

[2018-02-16 03:45] gilbertoolimpio commented on #19644
@gfyoung and @jamesqo
Hello guys, researching on the NaN issue, in its specification says that it is treated as Float, so the behavior would be correct. However analyzing I found the following solution:

[code]
Would that solve the problem?

[2018-02-16 03:55] gilbertoolimpio commented on #19644
for now you may want to use the solution below while not finding a solution.
[code]

I'm having trouble debugging the files pulls, could you give me a hint?

[2018-02-16 03:56] gfyoung commented on #19644
Debugging the files pulls?  What do you mean by that?

[2018-02-16 04:45] gilbertoolimpio commented on #19644
@gfyoung I'm sorry, I meant `pyx`, my spell-checker, made me fail!

[2018-02-16 04:51] gfyoung commented on #19644
@gilbertoolimpio : Hahaha, got it.  Debugging `pyx` files is kind of annoying, so I generally just add a ton of `print` statements wherever I can.

[2018-02-16 05:58] smcinerney commented on #7301
I'm not the OP, but:
a) `df.groupby('a').groupby('b')` is a syntax error (docbug to show the right way?)
b) There are things wrong with nested groupby using `df.groupby(...).apply(top_grouper)`.
Even though they are separate functions, you can't avoid the result being a MultiIndex with the levels munged together, which you then have to manually extricate. Also,
b2) inside your custom function you

[2018-02-16 06:30] WillAyd opened #19724 "Code Clean Up - groupby_helper.pxi.in"
A few of the methods in `groupby_helper.pxi.in` have a pattern that goes:

[code]

Unless I'm missing something simple I don't think there's a reason to have the conditional and duplicate code branches. In the case where K=1 (which is all the time?) then the `for j in range(K)` construct inherently sets `j=0`, bypassing the need for the conditional

[2018-02-16 07:57] jorisvandenbossche commented on #19721
Shouldn't it rather give the same as:

[code]

(the fact that it returns [0, 1] as the unique labels clearly is a bug I think, it seems to be factorizing the codes)

When factorizing a Categorical, I would expect to get back (codes, categories), not (codes, categorical)

[2018-02-16 08:20] WillAyd commented on #19482
Fixed as part of #19481

[2018-02-16 08:20] #19482 closed

[2018-02-16 09:49] bordingj opened #19725 "unexpected timestamps behavior"
If I run

[code]
or
[code]

I get
[code]
which makes sense.

However if I compare a tz-naive DatetimeIndex og Series with a tz-aware timestamp I dont get an error

[code]
and if I compare a datetime64[ns] numpy array to the tz-aware timestamp I also dont get an error, plus I get wrong results:

[code]

I am running:
pandas: 0.22.0
numpy: 1.14.0
pytz: 2017.3
python: 3.6.3

on ubuntu 16.04

[2018-02-16 11:29] TomAugspurger commented on #19721
Yeah returning the factorized codes is certainly a bug.

I ask because we need to think about how to handle other 3rd party extension array types, and we’re currently inconsistent internally.

________________________________
From: Joris Van den Bossche <notifications@github.com>
Sent: Friday, February 16, 2018 1:57:30 AM
To: pandas-dev/pandas
Cc: Tom Augspurger; Author
Subject: Re: [pandas-dev/pa

[2018-02-16 11:47] TomAugspurger commented on #19725
There's been a lot of work on this recently. Comparing a tz-naive and tz-aware datetimeindex now raises on master: https://github.com/pandas-dev/pandas/pull/18376

[2018-02-16 11:47] #19725 closed

[2018-02-16 11:58] aktivkohle opened #19726 "Pandas 0.22.0 does not raise KeyError for misspelled column with .drop_duplicates()"
So I have tested two versions of Pandas parallel to each other with exactly the same code. 0.19.2 behaves more as expected, but 0.22.0 does what I am about to describe. Will probably switch to 0.19.2 for now. Am using Python 3.6.4

[code]
#### Problem description
I became aware of the problem working with a much larger dataframe when it failed to warn me or raise a `KeyError` when I misspelled a c

[2018-02-16 12:04] TomAugspurger opened #19727 "(Re)-deprecate order keyword in factorize"
In https://github.com/pandas-dev/pandas/pull/6930 we deprecated `order`.

As of 0.18.1, the keyword was no-longer documented, and doesn't raise, but wasn't actually removed.

[code]

[2018-02-16 12:06] TomAugspurger commented on #19727
I don't have a strong preference on deprecating vs. just removing. Probably best to deprecate for one release.

[2018-02-16 12:09] TomAugspurger commented on #19726
Thanks for the report. The root cause looks like it's in `DataFrame.duplicated`.

Interested in submitting a fix?

[2018-02-16 12:11] TomAugspurger commented on #19726
Whoever fixes this may be able to knock out https://github.com/pandas-dev/pandas/issues/12869 at the same time.

[2018-02-16 12:17] TomAugspurger commented on #19721
Some other weirdness

[code]

Out[3] should be `CategoricalIndex(['a', 'b'])` or `Categorical(['a', 'b'])`, or `ndarray(['a', 'b'])`,

Out[4] should be similar.

[2018-02-16 12:30] PoppyBagel commented on #19686
I'd like to work on it if nobody minds. May I?

[2018-02-16 12:40] jorisvandenbossche commented on #19721
In *general*, I think the type of the uniques should be the same array-like as the input (or in case of Series/Index, the array-like that is backing the Series).
So eg for DatetimeIndex with tz or Series of such values, this should in the future give a DatetimeTZArray (and that it now gives a DatetimeIndex is then logical I think). For numerical Series/Index/array, it is a normal numpy array.
So i

[2018-02-16 12:41] jorisvandenbossche commented on #19686
Go ahead! If you have any question, feel free to ask here, or on the gitter channel (https://gitter.im/pydata/pandas)
(note: it's a bit hard to predict without looking into details at it, but it might not be the most easy issue)

[2018-02-16 12:47] jorisvandenbossche commented on #19727
To be clear, it seems the order keyword does nothing (so it was forgotten to be removed from the signature).

[2018-02-16 12:58] jreback commented on #19721
the return values now are all as expected
by definition factorizing gives u a categorical return data ie codes and uniques (categories); further the categories are all array like

[2018-02-16 13:01] jreback commented on #19721
hmm actually these do look a bit odd
factorizing should be in the categories not the codes

[2018-02-16 13:01] jorisvandenbossche commented on #19721
by definition factorizing gives u a categorical return data ie codes and uniques (categories); further the categories are all array like

Jeff, did you look at the examples Tom showed? It is clearly *not* returning the " uniques (categories)" in case of categorical input.

And the general question is not only about the current behaviour, but what to do for the *new* extension arrays

[2018-02-16 13:02] TomAugspurger commented on #19721
Cross posted :)

Let's limit it to just fixing

[code]

to return the unique categories.

[code]

[2018-02-16 13:13] jorisvandenbossche commented on #19721
Yes, agreed the above should be fixed.

But, I think we still need to discuss what it should do for ExtensionArrays.
Currently the docstring says that ndarray is returned for arrays, and Index for Index/Series, which is also what it does:

[code]

But, for a new ExtensionArray, I don't think we want to return an Index? As for now I think we will not yet support an extension array to be stored in a

[2018-02-16 13:16] jorisvandenbossche commented on #19721
Although, of course, in the idea that those unique values will typically be not that many in number (or at least much shorter than the input array), it is maybe not a problem to have a materialized ExtensionArray stored in Index.
(on the other hand, I think array-likes would be a more logical return value here, and I think we only return Index because of the absence of arrays likes for all types u

[2018-02-16 13:23] aktivkohle commented on #19726
@TomAugspurger I might have a crack, see if someone beats me to it. Had a quick look with PyCharm, have not managed to quickly locate that variable / class, it must be in there somewhere..

[2018-02-16 13:29] TomAugspurger commented on #19726
Great! I think the offending lines are

https://github.com/pandas-dev/pandas/blob/2fdf1e256e5e0b7f1fe909629e2f0b7893c8c7c3/pandas/core/frame.py#L3658-L3660

Making some bad assumptions about `subset`. LMK if you have any troubles.

[2018-02-16 13:55] jorisvandenbossche opened #19728 "DEPR: Index.get_value ?"
`Index.get_value` is a very strange (from user perspective), and completely undocumented method, so let's rename it to `_get_value` for internal usage and deprecate the public one?

Example usage to show its 'not-usefulness':

[code]
(so you can index into another object based on the location of the key in the calling index)

[2018-02-16 13:59] jreback commented on #19728
iirc this is heavily used in indexing code
renaming just causes bloat - rather deprecation and fixing are better

[2018-02-16 14:06] jorisvandenbossche commented on #19728
But what needs to be fixed? If it is heavily used in indexing code, it is probably useful?
IMO, the only thing that needs to be fixed is the fact that it is a public method, and then simply renaming does the trick (indexing code can maybe use a refactor, but that's a totally different and much bigger issue)

[2018-02-16 16:31] jake-westfall opened #19729 "to_numeric(..., downcast='float') is too aggressive"
### Short summary
`to_numeric` downcasts integers "safely," that is, it only returns a downcasted result if that result == the argument. But it downcasts floats "non-safely" / too aggressively, that is, it forces a downcasted result even when that result != the argument.

### Illustration for integers: Behavior is as expected

For big integers that must be represented by int64 (because they are gr

[2018-02-16 16:55] jreback commented on #19728
no you are missing the point here. A lot of index methods *are* used internally to do indexing. But that does not necessarily mean they should be publicly exposed, though they are currently. If we are making first class extensions, then *all* methods should be public and pandas itself should not even internally rely on indexing methods (and if they do they would be private).

So its public now, de

[2018-02-16 17:01] jorisvandenbossche commented on #19728
I was not speaking about extensions here. Do you think there are Index subclasses in the wild that rely on `get_value` ?

[2018-02-16 17:03] jorisvandenbossche commented on #19728
Ah, yes, based on @shoyer 's comment here https://github.com/pandas-dev/pandas/issues/15258, it's indeed needed at this moment to implement custom Index subclass.

[2018-02-16 17:20] shoyer commented on #19728
I don't think there are Index subclasses in the wild  that *rely* on `get_value`. There might be subclasses that *implement* `get_value`, but they should still work fine when it's removed.

[2018-02-16 17:26] jorisvandenbossche commented on #19728
@shoyer But if `Series.__getitem__` now uses its index `get_value`, and we would rename / remove that, doesn't that mean that a Series with such a subclassed index would no longer work for those cases where it was used?

[2018-02-16 17:35] chris-b1 commented on #19729
Docstring isn't really clear on what our policy is, but I think how you expected is reasonable

Change would be around here - adding an equality check
https://github.com/pandas-dev/pandas/blob/df38f66b417b754afdd2b0e17282255bbf2c769e/pandas/core/dtypes/cast.py#L149

[2018-02-16 17:42] chris-b1 commented on #19724
I believe the `K > 1` would get used sometime, from what I remember some of the aggregations are done by-block, which means a 2d array of multiple columns could get passed down.
https://github.com/pandas-dev/pandas/blob/2fdf1e256e5e0b7f1fe909629e2f0b7893c8c7c3/pandas/core/groupby.py#L3736

It's probably a micro-micro optimization, but having it split like this may generate slightly better code for

[2018-02-16 17:43] NoahTheDuke commented on #19726
I've got a working fix. Mind if I submit the pull request? Or did you want to take a shot at it, @aktivkohle?

[2018-02-16 17:47] aktivkohle commented on #19726
@NoahTheDuke Yes do it, thanks for asking.. I'm sure I'll get my chance one day, and would probably take hours to work it out on the weekend which is not meant for that kind of thing. Will have a look at how you did it of course..

[2018-02-16 18:28] jreback opened #19731 "TST: add doc-strings for fixtures"
``pytest --fixtures`` prints these out. so let's add doc-strings, then we can figure out if we have duplicates / consolidate.

[2018-02-16 18:54] shoyer commented on #19728
If I recall correctly, `index.get_value(series, key)` is basically equivalent to `series.iloc[index.get_loc(key)]` (but it possibly faster). Assuming that the Index subclass implements `get_loc` (which is basically required for meaningful indexing) it should work fine with this fall-back.

[2018-02-16 19:23] TomAugspurger commented on #19731
Dupe of https://github.com/pandas-dev/pandas/issues/19159 :)

[2018-02-16 19:23] #19731 closed

[2018-02-16 21:41] WillAyd opened #19733 "Add ASV Benchmarks for GroupBy Ops on Datetimelike"
xref comment in #19673, we don't have any ASV benchmarks in `groupby.GroupByMethods` to measure performance on datetimelike types (timestamp / timedelta)

[2018-02-16 23:20] somic commented on #15344
I am observing what looks like a very similar memory leak with to_json on python 2.7.6 (ships with ubuntu trusty) and pandas 0.22.0. Anybody seen this?

[2018-02-17 04:17] TomAugspurger commented on #19585
Something like this may work, but it'd be nice to clean things up quite a bit.

[code]

[2018-02-17 10:53] toobaz commented on #19204
I suggest then to just deprecate it, since it becomes equivalent to a simple ``isisntance`` call.

[2018-02-17 19:46] TomAugspurger opened #19741 "Consider adding ExtensionDtype.is_dtype_equal"
We have `is_dtype` for checking whether the dtype / array's dtype is of the same kind as `self`. It may sometimes be useful to have an *exact* comparison for parametrized dtypes like `Categorical` and `Period`.

So

[code]

[2018-02-17 21:14] datapythonista opened #19742 "Building docs fails with the latest version of sphinx"
It seems like one week ago sphinx 1.7.0 was released, and the version of numpydoc included with pandas is not compatible with it (it uses the `sphinx.util.compat` which has been deprecated).

Anaconda already includes sphinx 1.7.0, which is used by default. As in `requirements_dev.txt` sphinx is specified without version, after following the instructions in the contributing documentation, building

[2018-02-17 21:39] TomAugspurger commented on #19742
See  https://github.com/pandas-dev/pandas/pull/19687 and https://github.com/pandas-dev/pandas/issues/18147

We're currently blocked by an IPython release to fix an issue with newer versions of the IPython directive. I thought we already pinned sphinx in our requirements_dev, but apparently not. We want to pin to sphinx 1.5.*, since 1.6 has a regression slowing down the API docs.

Alternatively, we

[2018-02-18 16:39] #19724 closed

[2018-02-18 17:14] #19742 closed

[2018-02-18 17:46] #19489 closed

[2018-02-18 18:18] jorisvandenbossche opened #19750 "DOC: to quote or not to quote"
That's the question :-)

Whether we double-backtick-quote (to make it look like code) certain terms, such as Series and DataFrame, in our documentation is at the moment rather inconsistent.
And @jreback recently started to regularly ask during reviews to quote them. And it is certainly good to be consistent on this, but I am personally not sure I find the quoted version better (and I have the feel

[2018-02-18 18:58] EricChea commented on #19727
I can take this.  I'm made some mods to ``deprecate_kwargs`` in ``pandas/util/_decorators.py`` to accommodate and just need to write some tests.

[2018-02-18 18:59] tommyod commented on #19750
Personally I have no strong preference either way. I've been quoting `DataFrame`, `Series`, `True`/`False`, and `keyword_arg=value` as a general rule when reading the docs and submitting PRs. It seems constructive to agree to a common rule.

Perhaps quoting `True`/`False` and `keyword_arg=value`, and leaving Series, DataFrame and NaN unquoted. Methods and functions could always be linked to, even

[2018-02-18 21:03] jorisvandenbossche commented on #19750
Yes, I certainly agree we should quote code-snippets as said above (and with that I also meant things like `keyword_arg=value`, as subset of a code line).

[2018-02-19 00:22] Airatvi opened #19756 "DataFrame.agg: strange behavior"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Functions (lambda ...) which return the same Series, give different results. It seems that  somehow second agg was called with axis=1.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.2.final.0
python-bits: 64
OS: Linu

[2018-02-19 01:51] RAHAAMA commented on #11984
I Try to change some values in a column of dataframe but I dont want the other values change in the column
df1.loc[df1.contStackIndex==c,'contDepth'].shift().fillna(0)

0    0.0
1    0.0
2    1.0
Name: contDepth, dtype: float64
but I want to have :
	contid	coordLotX	coordLotY	contDepth	lotid	contStackHeigth	contStackIndex	platfCoordX	platfCoordY	slotDepth	platfSequIndex	coordplatid	dist
**0	17	95

[2018-02-19 04:55] jbrockmendel opened #19759 "Series[datetime64/timedelta64] bool ops broken"
[code]

It isn't clear to me what the desired behavior is here.

Also operating with an Index falls through to a case that I think is intended to only catch scalars:

[code]

[2018-02-19 04:57] jreback commented on #19759
there are some issues about this already
see if u can find them

[2018-02-19 05:22] jbrockmendel commented on #19759
There are a few that are broadly related but I didn't see any about dt64/td64 dtypes.  AFAICT the issue that needs to be nailed down before I can fix is: what are these operations supposed to represent for these dtypes?  Since bitwise ops don't make a lot of sense for these dtypes it may just be a matter of making `Series.astype(bool)` work for datetime64 and timedelta64 dtypes (or ideally an impl

[2018-02-19 08:23] jorisvandenbossche opened #19760 "BUG: regression in DataFrame.transform('func')"
From a failing example in the doc build:

[code]

Using a numpy func directly is fine:
[code]

But specifying the function with a string now breaks:
[code]

This is on master, while it was working in 0.22 (tested with the same version of numpy, 1.13)

[2018-02-19 08:36] jorisvandenbossche opened #19761 "BUG: regression in Timedelta.__rfloordiv__ with integer data"
From a failing example in the docs (http://pandas-docs.github.io/pandas-docs-travis/timeseries.html#from-timestamps-to-epoch):

[code]

This was working correctly in 0.22, and is mentioned in the docs explicitly as a way to get unix epoch data.

The previously working example (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#from-timestamps-to-epoch) looks like:

[code]

cc @jbrockmende

[2018-02-19 08:44] jorisvandenbossche commented on #19761
I think this was introduced (on purpose, tests were added) in https://github.com/pandas-dev/pandas/pull/18961.
I agree the above example that was included in the docs is a bit strange, as when dividing 'int / timedelta', the timedelta is implicitly cast to an integer as it nanoseconds. But, on the other hand, this was clearly in our docs as a way to get epoch data, so we cannot just break it I thi

[2018-02-19 09:24] minggli commented on #19671
Sorry for the delay. raised a PR exposing require_iso8601 in dataframe.iterrows(), to_datetime,  and Series APIs.

[2018-02-19 10:39] jorisvandenbossche opened #19764 "PERF: Very slow printing of Series with DatetimeIndex"
Consider this series with a datetime index:

[code]

Showing this in the console or notebook (doing just `s`) is very slow (noticable delay of 1 to 2 seconds in console, around 8 seconds in the notebook or JupyterLab ). But, on the other hand, in a plain Python console the display is instantly.

Further, on the other hand, if the series has no DatetimeIndex, the display appears instantly. Also, if

[2018-02-19 10:43] jorisvandenbossche commented on #19764
cc @takluyver what is the mechanism how in general an object is displayed? As the `__repr__` or `__str__` itself is fast, but displaying in an IPython console is not.

[2018-02-19 12:47] jorisvandenbossche commented on #19764
Since seems to be present in IPython >= 6.1 (I don't see it in an environment with IPython 6.0). And in an ipython console, the overhead comes from `MimeBundleFormatter.__call__` calling `get_real_method`, which in the end does a `getattr` on the series to check if a `_repr_mimebundle_` exists.

So in the end it is due to `getattr` taking a huge amount of time on a Series with a DatetimeIndex. Wit

[2018-02-19 12:47] TomAugspurger commented on #19756
This is strange, but why are you passing `cumsum` to `.agg`? It's expected that the aggregation function aggregates the array, and `cumsum` doesn't.

[2018-02-19 13:08] #19712 closed

[2018-02-19 13:50] #8383 closed

[2018-02-19 15:49] Airatvi commented on #19756
1) Is DataFrame.agg  just version of DataFrame.apply which allows different aggregations per column? If not what is the right way to do it?
2) If not it should be explicitly prohibited I guess. I have seen what this behavior  is used.
3) The documentation says that it returns DataFrame, should be "Series or DataFrame" in this case.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Data

[2018-02-19 16:13] jreback opened #19767 "TST: uncaught warning in min/max localize"
@jbrockmendel

[code]

[2018-02-19 17:15] Utumno commented on #17097
This is a docs bug on windows. [pandas.DataFrame.to_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html) states:

        encoding : string, optional
            A string representing the encoding to use in the output file,
            defaults to 'ascii' on Python 2 and 'utf-8' on Python 3.

while in fact in windows, as discussed [above](https://github.com/pan

[2018-02-19 17:17] TomAugspurger commented on #17097
Could you open a new issue for that?

On Mon, Feb 19, 2018 at 11:15 AM, Utumno <notifications@github.com> wrote:

[2018-02-19 17:20] gulp21 opened #19768 "qcut raising ValueError if NaT present"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`qcut` raises a `ValueError`:

[code]

#### Expected Output

`qcut` returning something like

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.13.0-32-generic
machine: x86_64
processor: x86_6

[2018-02-19 17:21] Utumno commented on #17097
Will do if needed I just realized though that this may be fixed in pandas 21 - still using `0.20.3` - let me test with newer one

[2018-02-19 17:25] chris-b1 commented on #19764
I didn't know we did dot-attribute indexing for a Series - seems odd - something we want to support / actually gets used?

[code]

[2018-02-19 17:26] chris-b1 commented on #19764
I guess it is fairly prominent in the indexing docs, just missed it.

https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

[2018-02-19 17:37] jorisvandenbossche commented on #19764
Yeah, the dataframe equivalent is more known and used, I personally don't think many people do that for series as well.

For the original issues, I think we should use in `__getattr__` somehow a 'smarter' contains check, because I don't think we want to support any string-like to be used as attribute for DatetimeIndex (I am thinking if there is actually one that would be a valid attribute name, as

[2018-02-19 17:41] chris-b1 commented on #19764
There also seems to be fundamental performance problem with `DatetimeIndex.get_loc` - maybe same as #17754

[code]

[2018-02-19 17:52] stuz5000 opened #19771 "df.sort_index() leaves us with df.index.is_lexsorted()==False"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This behavior his is very confusing. The [docs ask me to sort multiindexes](https://pandas.pydata.org/pandas-docs/stable/advanced.html) to avoid the performance warning,

If I do it, I still get the PerformanceWarning. If I print the dataframe, I see that data was indeed sorted.

This is resolved by explicitly

[2018-02-19 17:54] Utumno commented on #17097
Yep no longer an issue on pandas `0.22.0` - sorry for the noise

[2018-02-19 17:58] jreback commented on #14080
this is already fixed in master if someone would like to add tests in a PR

[2018-02-19 18:28] chris-b1 commented on #19771
Thanks for the example / report, this is a duplicate of #17931

There is a fundamental problem of a leaky internal detail - default sort puts missing data in the last position, but the integer coding backing a `MultiIndex` uses `-1`, so to be properly lexsorted, NA must be in the first position.

[2018-02-19 18:28] #19771 closed

[2018-02-19 18:29] chris-b1 commented on #17931
copying my comment from #19771

There is a fundamental problem of a leaky internal detail - default sort puts missing data in the last position, but the integer coding backing a MultiIndex uses -1, so to be properly lexsorted, NA must be in the first position.

[2018-02-19 19:07] st12yker commented on #19685
Hello. You are all ( @TomAugspurger @WillAyd @chris-b1 ) focusing on the wrong part of this discussion.  Exporting the dataframe to a text file is not where I am having issues.  (I responded to @TomAugspurger  regarding outputting the pandas dataframe since that was relevant to his response - his response, all be it, was off topic)

The problem with pandas is **reading in** a csv file using pandas

[2018-02-19 19:11] TomAugspurger commented on #19685
@st12yker you might want to have a look at https://stackoverflow.com/help/mcve

We still don't have code to run so we can't verify whether it's a bug or not.

[2018-02-19 19:14] st12yker commented on #19685
The code as mention in the post - is simply

pd.read_csv(*fileLocation*)

The code to output the contents/statistics is not relevant to the issue.

[2018-02-19 19:22] chris-b1 commented on #19685
@st12yker - you're certainly welcome to investigate further, and if you find a problem or even a hint of what the problem is, a new issue or PR is more than welcome, but without example data there's nothing more we can do.

[2018-02-19 19:25] st12yker commented on #19685
Here is the Kaggle page with a link to the dataset I am using:  https://www.kaggle.com/tmdb/tmdb-movie-metadata

[2018-02-19 19:31] yarikoptic opened #19774 "test_to_hdf_with_object_column_names and test_to_csv_defualt_encoding weird failures"
While trying to build Debian package of 0.22 I am running into two  strange test failures:
### 1
[code]
FWIW :
[code]
This, and another test (pandas/tests/io/formats/test_to_csv.py::TestToCSV::test_to_csv_defualt_encoding) seems to pass if I run only them, without all the rest ... so smells like there could be some cross-tests dependency/shared state (that is my day today to figure out such tests,

[2018-02-19 22:00] TomAugspurger opened #19776 "assert_index_equal checks categories with check_categorical=False"
The behavior of `assert_index_equal` should match `assert_series_equal` here with `check_categorical=False`.

[code]

[code]

[2018-02-19 22:11] mehemken opened #19777 "API reference is missing the Plotting module"
I noticed this when looking for the documentation page for the `scatter_matrix` function.

#### Problem description

I needed to check the parameters I needed to pass to `plotting.scatter_matrix`. Had to go all the way to the source code.

Turns out none of the functions in `_misc.py` are included in the API reference. I added a **Plotting** section after **General functions** and before **Series*

[2018-02-19 22:36] mehemken commented on #19777
Submitting a PR for this shortly.

[2018-02-19 23:38] #19668 closed

[2018-02-19 23:40] jreback commented on #19668
this is now being build in https://github.com/pandas-dev/pandas-ci

[2018-02-20 00:39] WillAyd opened #19778 "CLN: Remove `counts` Argument from Cython GroupBy Aggregations"
All of the Cython aggregation functions accept `counts` as their second argument. In theory, it looks as if this parameter could assist in the handling of `NaN` values within a group, as dictated by the below lines of code:

https://github.com/pandas-dev/pandas/blob/e022d9a0886b245afe4af4cc43904a112cd00882/pandas/core/groupby.py#L2398

~~However, `self._filter_empty_groups` from what I can tell is

[2018-02-20 01:00] jreback opened #19779 "ASV: occasional asv failures on xlwt"
https://travis-ci.org/pandas-dev/pandas-ci/jobs/343616367
this is on current pandas master (this is just the CI job running it).

excel asv's

[code]

I have seen this work as well. maybe a race-condition?

[2018-02-20 01:05] jreback commented on #19779
from ``(pandas) bash-3.2$ more asv_bench/benchmarks/io/excel.py ``
[code]

I think the ``time_write_excel`` should have the ``.writer_write`` setup I think.

[2018-02-20 01:09] WillAyd commented on #19778
I was wrong on my original comment about `self._filter_empty_groups` always being `False` - it is set to `True` in the `BaseGrouper` initialization if there is more than one grouping.

That said, I think there's still something strange with the implementation here. The `counts` parameter is initialized to an array matching the `ngroups` parameter, which appears to exclude `NaN` values:

https://gi

[2018-02-20 01:35] jreback commented on #19778
there is an old impl that gets u nan groupings (ref from #3729) may want to have a look

[2018-02-20 10:44] jorisvandenbossche commented on #19764
Explored a bit what `DatetimeIndex.get_loc` and `DatetimeEngine.get_loc` are doing, and a lot is going on:

- Something like `dti.get_loc('blabla')` ultimately calls `DatetimeEngine.get_loc` 2 times, and `dti.get_loc('2012-01-01 00:00:00')` as well. While we can know in advance that `DatetimeEngine.get_loc` will fail as this method does not work for strings (it needs a datetime-like)
- A single ca

[2018-02-20 10:45] UfoRobot opened #19786 "Feature request: pandas.Series.gradient()"
#### Problem description
It is common to difference a time series multiple times to stationarize it.
I found surprinsing pandas, which is time-series friendly, does not implement this already and requires to iteratively apply pandas.Series.diff()

#### Expected Begaviour
Same as [np.gradient()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.gradient.html)

[2018-02-20 10:53] jorisvandenbossche commented on #19786
You can use `np.gradient` if you want this?
Note that it is not the same as applying `.diff` a few times.

[2018-02-20 11:20] #19458 closed

[2018-02-20 11:22] nvgoldin commented on #19458
thanks!

[2018-02-20 12:02] TomAugspurger opened #19787 "Clean: Categorical.fillna NaN in categories checking"
We don't allow NaN in the categories anymore, so this block should be unreachable.

https://github.com/pandas-dev/pandas/blob/8bfcddc7728deaf8e840416d83c8feda86630d27/pandas/core/arrays/categorical.py#L1622-L1628

If anyone wants to remove it and test things out.

[2018-02-20 12:10] TomAugspurger opened #19788 "Categorical.fillna doesn't accept tuples"
This should maybe work.

[code]

xref https://github.com/pandas-dev/pandas/pull/19684

This could be a can of worms if we want to accept `Series(categorical).fillna(tuple)`, since it's not allowed there. Would accept incremental improvements here of course.

[2018-02-20 12:11] jayfoad opened #19789 "pandas.options.__getattr__ raises KeyError instead of AttributeError"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The [docs](https://docs.python.org/3/reference/datamodel.html#object.__getattr__) are clear that custom \_\_getattr__ methods should return a value or raise AttributeError. pandas.options seems to raise KeyError instead. This can be a problem for generic code that iterates through the attributes of any object

[2018-02-20 12:29] TomAugspurger commented on #19756
I believe so, but I wouldn't rely on implementation details.

That's what I would have expected, but perhaps it's difficult to check this.

That does indeed look buggy.

[2018-02-20 13:07] jorisvandenbossche commented on #13628
This seems to be working now:

[code]

So would be good to add a test for this (or to check if this was fixed specifically in a PR with test added)

[2018-02-20 13:17] TomAugspurger commented on #19420
This may be worth holding on until some of the extension array stuff settles down: https://github.com/pandas-dev/pandas/issues/19696. Once DatetimeTZ is an ExtensionArray, things like `ravel` will be handled more consistently.

[2018-02-20 13:27] koaning commented on #19710
For the upcoming pandas docstring sprint this seems like a nice one to pick up. Any preference on datasets that should be added?

iris, mtcars, chickweight ... others?

[2018-02-20 13:46] chris-b1 commented on #19789
Sure, as pointed out in that issue I think we could raise an `OptionError` in that case as well - want to do a PR?

https://github.com/pandas-dev/pandas/commit/63fc8af2ad6bee9c90766bcb648d27a0b2748a44

[2018-02-20 13:54] ivergara commented on #19159
It's quite a bit of missing docs. Two questions arise:

1. Where to start?
2. Where to stop or how to chunk it?

[2018-02-20 13:56] TomAugspurger commented on #19710
Whatever datasets we add, we'll need to check to ensure that they have a
license that allows us to redistribute them.

And preferable they'd be small or we can download and cache them as needed,
if we don't want to included them in the distribution.

On Tue, Feb 20, 2018 at 7:27 AM, vincent d warmerdam <
notifications@github.com> wrote:

[2018-02-20 13:57] TomAugspurger commented on #19159
I think whatever is easiest for you. I would search for a fixture that's
relatively simple to describe.

I think doing things one module at a time makes sense.

On Tue, Feb 20, 2018 at 7:54 AM, Ignacio Vergara Kausel <
notifications@github.com> wrote:

[2018-02-20 14:14] datapythonista commented on #19710
Personally, for the documentation samples I wouldn't have "real" datasets. We won't be showing more than 5 rows, so even something with 150 samples as Iris seems too much.

To me it would make sense to have something like `pandas.io.samples.Countries` or `pandas.io.samples.Animals` with a mix of types, for example:
* Country name: object
* Continent: category
* Population: int
* GPD: float

I thin

[2018-02-20 15:13] ivergara commented on #19159
Another question, while diving through the fixtures I've found one fixture (maybe it's not the only one) that is repeated in the same test module. Particularly the `tz` fixture in `tseries/conftest.py` and in `tseries/offsets/conftest.py`.

Is that by design or oversight?

Since the scope of this issue is just to add doctrings to the fixtures I would just repeat it in both fixtures.

[2018-02-20 15:15] TomAugspurger commented on #19159
Probably an oversight. You could remove the one from offsets/conftest.py
and see if things break. I think that pytest's discover should find the one
in the parent directory, though I may be wrong.

On Tue, Feb 20, 2018 at 9:13 AM, Ignacio Vergara Kausel <
notifications@github.com> wrote:

[2018-02-20 15:20] TomAugspurger commented on #19506
Ideally `algos.take_1d` would dispatch to `arr.take` for `SparseArray` input. But we have some places in the library that seem to rely on `take_1d(sparse_array)` returning an ndarray.

[2018-02-20 15:32] jreback commented on #19159
This is not an oversight, more like not implemented. We want to move any duplicate fixtures to a higher level (e.g. to a top-level conftest). IF they are identical that is. Now this *may* cause issues in that there may be function names that cause this to break. So for now its ok to leave them, but maybe add a TODO: duplicate in the doc-string (so that we know to fix it).

[2018-02-20 15:35] jorisvandenbossche commented on #19710
My original question was mainly about the ability to load example dataframes, instead of always constructing them with code inside the docstring.
Whether it are then actual external datasets we include, or smaller 'made-up' ones, that doesn't really matter to me. But I agree some smaller ones for basic functionality can be enough (but still, if we make a small one on eg countries, I would still do

[2018-02-20 15:51] MasonGallo commented on #19699
@TomAugspurger yes I would be happy to help once I get some time, hopefully later this week.

Can you give a bit more details on what you would expect to return in your example above (or a similar example where the user supplies multiple y columns)?

[2018-02-20 15:54] denfromufa opened #19791 "slow execution with internal error visible upon interruption for indexing with dataframe: TypeError: cannot convert bool to an floatblock"
This code is extremely slow (~100 rows per second):

[code]

If I replace the last line with `df[ix.values].head()` or `df[ix.c1].head()`, then it is very fast.

I understand that the issue is using boolean dataframe, not proper boolean mask.

The interruption of execution shows this traceback:

https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals.py#L733

[code]

Installed versi

[2018-02-20 16:10] TomAugspurger commented on #19699
I think it should be equivalent to `df.set_index('c')[['a', 'b']].plot()`. So multiple lines, each plotted against the `x`.

[2018-02-20 16:23] jbrockmendel opened #19792 "Series bool ops testing needs fleshing out"
Looks like it's almost all in tests.series.test_operators.test_operators_bitwise

In particular, op(series, index) will always raise for op in [&, |, ^].  (Presumably also op(series, categorical), but I haven't looked at that closely.)  I can fix this and add some basic tests for it, but the dtype logic in `ops._bool_method_SERIES` doesn't make entirely clear what the desired behavior is, so some

[2018-02-20 17:36] max-sixty opened #19793 "DOC: First impressions"
I remember sometime in 2014 being told about pandas & numpy and trying to find out more about it. And some of my friends (who haven't coded before) are in a similar position now. And so I'm reminded that the first thing you see is not compelling to a typical new user (e.g. someone who knows Excel and a bit of SQL):

### First result when searching for 'pandas' on Google:

![image](https://user-ima

[2018-02-20 18:18] chris-b1 commented on #19793
100% agree the homepage could use some love - I'm personally a bit skeptical of the overly sales-y style of, e.g. TensorFlow, but it also probably works.

Maybe could have different introductions for different audiences?  Like, a 'who are you?' question with X categories (just making these up)
- Excel/SQL/other data analysis tool user who wants to learn python/pandas
- Python user who wants to lea

[2018-02-20 19:16] shruti1105 opened #19796 "Group by and bin data with respect to time"
df.set_index('TIME').groupby(pd.TimeGrouper('180M'))

or
grouped = df.groupby(lambda x: x.hour)

i am using this code to divide my time column into groups of 3 hours each. 11pm to 2am ,2am to 5am and so on
This method is not yielding the result i want

ID | TIME                              | SMS |        CALL | INTERNET

1 | 2013-11-30 23:00:00 | 0.277204 | 0.273629 | 13.674575
1 | 2013-11-30 23:

[2018-02-20 19:21] shruti1105 commented on #19796
@jreback

[2018-02-20 19:22] shruti1105 commented on #19796
@wesm

[2018-02-20 19:36] shruti1105 commented on #19796
# #19192

[2018-02-20 19:40] jorisvandenbossche commented on #19793
Correction: git blame says not 5 but 6 years

[2018-02-20 19:56] senaj opened #19797 "Pandas 'drop_duplicated' is incorrectly removing unique rows"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
I used the code above to combine and merage several tab separated files. I then attempted to remove duplicate rows with drop_duplicates. When I use drop_duplicates, unique rows are being removed. However, If I use command-line tools I can get the correct output.

Thank you very much for your help!

**Input Files:

[2018-02-20 20:18] TomAugspurger commented on #19797
Could you try fixing the formatting on your issue? It's hard to follow.https://guides.github.com/features/mastering-markdown/

You might also want to read https://stackoverflow.com/help/mcve about creating minimal examples.

[2018-02-20 21:02] shruti1105 commented on #19796
Yes I do .and I’m unable to solve it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jeff Reback <notifications@github.com>
Sent: Tuesday, February 20, 2018 1:59:02 PM
To: pandas-dev/pandas
Cc: Bothe, Shruti R.; Author
Subject: Re: [pandas-dev/pandas] Group by and bin data with respect to time (#19796)

you already have an issue for this ? is this a different que

[2018-02-20 21:04] jbrockmendel commented on #19513
It looks like `Series.__cmp__(CategoricalIndex)` effectively calls `other = np.asarray(other)` on the CategoricalIndex, which I expect isn't the desired behavior.

[2018-02-20 21:09] celsopneto opened #19799 "PerformanceWarning on _drop_axis()"
#### Problem description
I have this script, that takes 3 csv files, with them I make two groupbys and two merges, the files are uploaded [here](https://github.com/pandas-dev/pandas/files/1744390/dfs.zip), and the code is as follows:

[code]
both df's index.nlevels returns 1
[code]
When setting filterwarnings to raise PerformanceWarnings (as explained in #3622 ) this is the traceback:

[code]
I do

[2018-02-20 21:55] lijose opened #19801 "Suggestion: Temporary Variable in Pandas Data Frame"
#### Temporary Variables

While dealing with data in real world, its noted that level of complexity is higher and it would be better if there is some temporary variable inside the pandas data frame itself where we can store the value of the intermediate result  which will hep to easily debug results and at the same time not necessary to save its value while saving data frame to hard disk.

**Advan

[2018-02-20 22:35] TomAugspurger commented on #19801
Could you give an example? You're already allowed to add arbitrary attributes to a DataFrame, so you could add a dict and put stuff in there.

[2018-02-20 22:37] TomAugspurger commented on #19799
Can you make a reproduce example?  `agenda` isn't defined.

[2018-02-21 00:17] lijose commented on #19801
This is a sample scenario which comes common in SCD (Slowly Changing Dimension). There are work around for it, but it would be better if there was some temporary variable.

**Scenario:**
1) Select a list of columns from source data frame
	natural_keys = [col1, col2, ...]
2) Apply MD5 function after merging all columns as string and add to **temp** column the source dataframe (source_df.cdc)
3) Sel

[2018-02-21 00:25] jbrockmendel opened #19804 "DTI/TDI comparison ops with incompatible types"
Timestamp and Timedelta comparisons against non-Timestamp/Timedelta-like others return False for `__eq__`, True for `__ne__` and raise `TypeError` for inequalities.  DatetimeIndex follows this convention in _some_ cases, but there are paths that will end up raising instead of returning True/False.  TimedeltaIndex doesn't follow this convention at all.

Is the current hodge-podge intentional?  If n

[2018-02-21 00:28] jreback commented on #19804
the timestamp/timedelta behavior is correct

ne/eq should always work
inequality always raise

for non compat types
numpy and python both follow this

[2018-02-21 00:31] TomAugspurger commented on #19801
Personally this sounds like a complication to pandas data model, with little gain. We’d then have to define how these are handled in operations, expose them in the UI, ... doesn’t seem worthwhile when the alternative is to drop before writing.

Curious to hear what others think.

________________________________
From: Lijo Jose <notifications@github.com>
Sent: Tuesday, February 20, 2018 6:17:33 PM

[2018-02-21 00:45] woahwinzeler opened #19805 "Read_csv error in Pandas 0.22.0n"
I am working on O'Reilly's book, and I can't seem to resolve an issue in chapter 2 -- specifically the function load_housing_data(). Up until in[5], when the issue arises, I have identical code.

Then I call:

housing = load_housing_data()
housing.head()

And get an error message:

datasets/housing/housing.csv
---------------------------------------------------------------------------
ParserError

[2018-02-21 00:53] #19805 closed

[2018-02-21 00:53] woahwinzeler commented on #19805
Changed download URL to: https://raw.githubusercontent.com/killakalle/ageron_handson-ml/master/

Works as it is supposed to.

[2018-02-21 01:47] jreback commented on #19801
All of the above operations are easily accomplished by writing idiomatic code
no special facilities are needed. if you have a specific example please show it.

[2018-02-21 01:47] #19801 closed

[2018-02-21 01:50] #19192 closed

[2018-02-21 01:51] jreback commented on #19796
this is a usage question w/o a copy pastable example no one is likely to be able to help
you need to ask a precise question on SO with a fully copy pastable example

[2018-02-21 01:51] #19796 closed

[2018-02-21 01:53] jreback commented on #19792
not real clear what u r asking here - can u show an example

[2018-02-21 01:54] qiaoqiaozhu opened #19806 "Groupby.cumsum()'s skipna option does not work"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

DataFrame.cumsum(skipna=False) works.
But DataFrame.groupby['var'].cumsum(skipna=False) does not work.

as seen from the above codes. Error message says numpy operations are not valid with groupby. This is inconsistent behavior, and is in conflict with docs http://pandas.pydata.org/pandas-docs/version/0.17.0/ge

[2018-02-21 02:03] jreback commented on #19806
pls show_versions() - you are pointing to very old docs

[2018-02-21 02:13] jbrockmendel commented on #19792
TL;DR: it is not clear what the pandas convention is for the desired behavior of these operations with dtypes including timedelta64/datetime64/datetime64[tz]/categorical/[extension?]

In some cases these ops are bool-like and in others they are bit-like, see how `filler` is defined https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L1100, roughly:

[code]

The error-catching in th

[2018-02-21 02:18] qiaoqiaozhu commented on #19806
I'm using  pandas                    0.22.0         build  py36h0a44026_0

[2018-02-21 02:55] NoahTheDuke commented on #18748
By fix, are we talking remove or implement or both?

For instance, I've come across Dataframe.round(), where `args` and `kwargs` aren't allowed to be defined when calling:

[code]
I can envision an API that accepts other inputs (maybe df.round(A=2) instead of df.round({'A': 2}), for instance), but that's a major project compared to just removing `args` and `kwargs`. How should I make such a decisi

[2018-02-21 03:04] jreback commented on #18748
.round something of a special case as it’s done this way for numpy compat
basically numpy accept some keywords that we don’t in pandas and we want to allow
np.round to work on a dataframe (internally some numpy routines call the function in the object with some passed in kwargs)

we have a whole module on numpy compat for this reason

[2018-02-21 03:14] jbrockmendel opened #19807 "np.timedelta64 integer coercion in older numpy"
Ref #19333

In sufficiently old numpy (the build that caught this bug was running 1.9.2) timedelta64 comparisons have unexpected behavior:

[code]

This particular comparison is done in the `RangeIndex` constructor, the result being that sometimes`RangeIndex(value, value*10, value)` returns `RangeIndex(1, 10, 1)` instead of raising.

The immediate problem can be fixed by checking more carefully in

[2018-02-21 03:38] Yalniza commented on #19756
❤✋

[2018-02-21 04:52] n8henrie commented on #10863
I assume I am running into this same issue -- multiindex with pd.Timestamp.date() in a tuple results in all NaN, pd.Timestamp works fine.

Examples below don't have anything else in the tuple to simplify demonstration of the issue, but my use case obviously has other stuff there.

[code]

I can go into detail on my use case if it were helpful, but it's basically looking at employee productivity pe

[2018-02-21 06:22] seandickert commented on #16474
@jreback similar to @matjazk, pd.read_pickle doesn't work if you're using pickle.loads to load a string (retrieved from some store other than the filesystem).  Can pd.read_pickle be updated to handle a file-like object rather than just a path?

[2018-02-21 06:57] charlie0389 opened #19808 "Failure to identify NaNs as equal in pandas.DataFrame.equals() method (as it should)"
# Code to replicate problem

Please see [this link](https://drive.google.com/file/d/1kFhLsHK7YAn2eDIFLi2W0ozha1ux9xov/view?usp=sharing) to download the referenced files.

[code]

This produces the output:
[code]
#### Problem description

With the DataFrame.equals() method, pandas seems to be failing to identify NaNs as equal, as stated by  [the documentation.](https://pandas.pydata.org/pandas-docs

[2018-02-21 07:09] jzwinck opened #19809 "Series.add(fill_value=0) changes int dtype to float"
#### Code Sample
[code]

#### Problem description
The resulting dtype should be int (as the inputs and `fill_value` are all ints), but it is float:
[code]

#### Output of ``pd.show_versions()``

<details>
python: 3.5.4.final.0
python-bits: 64
pandas: 0.20.3
numpy: 1.13.1
</details>

[2018-02-21 10:25] whitequark opened #19810 "NameError: name '_converter' is not defined"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Linux
OS-release: 4.14.0-3-amd64
machine: x86_64
processor:
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.22.0
pytest: None
pip

[2018-02-21 10:27] whitequark commented on #19810
This is caused by the lack of matplotlib:
[code]
The error should be more useful.

[2018-02-21 10:31] #19643 closed

[2018-02-21 10:36] jorisvandenbossche commented on #19810
So this is a duplicate of https://github.com/pandas-dev/pandas/issues/19340, and the problem is that we cannot reproduce it. It clearly shows up for multiple people, but we need to diagnose why this happens.

Can you run the code in https://github.com/pandas-dev/pandas/issues/19340#issuecomment-359416261 and check if that fails?

[2018-02-21 10:38] whitequark commented on #19810
Sure:
[code]

[2018-02-21 10:42] jorisvandenbossche commented on #19810
Ah, I actually *can* reproduce this, and I suppose this is due to

https://github.com/pandas-dev/pandas/blob/f8dfcfb35ca975575dcfba625eac6c9f231c0e5e/pandas/plotting/_core.py#L44-L50

where we import `_converter`, which is later on used in the file, but then don't raise a good error message when matplotlib is not available.

Yes, this should certainly be solved.

[2018-02-21 11:08] jreback commented on #19809
aligned causes a shift to float64. We don't upcast automatically on fillna, becuase of perf (it can be non-cheap). So this is an unavoidable side affect of lack of good NA support in numpy.

[code]

[2018-02-21 11:08] #19809 closed

[2018-02-21 11:10] jreback commented on #16474
its an open issue: https://github.com/pandas-dev/pandas/issues/5924

if you want to submit a PR to do this, its not difficult.

[2018-02-21 11:14] jreback commented on #19807
what is the purpose of opening a separate issue for this? this is a well known detail of how ``np.timedelta64`` are implemented. which is True for all numpies (the 2nd part)

[2018-02-21 11:24] jreback commented on #19806
yeah we are being a little strict on this and immeditately rejecting this to prevent users from doing ``np.cumsm(df.groupby(...))`` which is an invalid construct. So ``skipna`` just needed to be added to the signature and passed thru (for all for the cum* methods). want to do a PR?

cc @gfyoung

[2018-02-21 11:24] #19786 closed

[2018-02-21 11:28] jreback commented on #19791
[33] is a boolean indexer, while [34] is a 1 column dataframe, which is broadcast in a very different way (and maybe not even handled correctly). Want to have a further look and see whats actually going on?
[code]

[2018-02-21 11:29] jreback commented on #19797
pls show a copy-pastable example.

[2018-02-21 11:31] Nemecsek opened #19812 "Index formatting in online reference"
The tree index for the online reference is wrongly formatted on the page: as the tree column is not wide enough, most text in lists is split in multiple lines.

As it is, it is very difficult to find something scrolling along the tree.
This is a issue for both the latest Firefox (58.0) and Chrome (64.0).
Is it possible to fix the CSS?

This is a screenshot of [https://pandas.pydata.org/pandas-docs

[2018-02-21 11:37] #19727 closed

[2018-02-21 11:40] #19726 closed

[2018-02-21 11:42] jreback commented on #19812
we do have css that can be edited
but the issue here is that if u make this wider then we loose valuable real estate on the right

welcome to have it look nicer thpugh

[2018-02-21 12:32] TomAugspurger commented on #19812
It'd be nice to make the sidebar collapsible.

[2018-02-21 12:36] jorisvandenbossche commented on #19812
In my opinion, in this case we should also make the toc not that deep, so all the DataFrame methods are not shown

[2018-02-21 12:38] jorisvandenbossche commented on #19779
If it is defined in the setup function (as it is now), it should be available in the benchmark function. It would be strange that this solves it.

[2018-02-21 13:56] therblack opened #19813 "sum of a column of an empty dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In pandas 0.22, the sum of a column of an empty dataframe is False.  In earlier versions, 0.18.1 at least, the result would have been 0

While consistent with the default dtype of a DataFrame being obj, this isn't consistent with the 0.22 statement that the sum of an empty series is 0.0

#### Expected Output

(

[2018-02-21 14:27] TomAugspurger commented on #19813
There's two issues here.

1. The default empty dtype differ between `Series` and `DataFrame`. We have other issues for that https://github.com/pandas-dev/pandas/issues/17261. The correct comparison is to `pd.Series([], dtype='object').sum()`.

2. The result of `pd.Series([], dtype='object').sum()` has changed:
    - 0.20.3: 0
    - 0.21.1: nan
    - 0.22.0: False

Given that the behavior now match

[2018-02-21 14:48] celsopneto commented on #19799
[dfs.zip](https://github.com/pandas-dev/pandas/files/1744390/dfs.zip)