[2022-11-01 20:51] #26972 closed

[2022-11-01 23:00] MStrecke commented on #47625
I run into a similar issue.
I think the culprit is matplotlib and not pandas, because this issue can be replicated without the use of pandas.
The solution I found is giving the time zone info directly to the `DateFormatter`.

[code]

Without `tz` or using the other methods that don't work

![mygraph0](https://user-images.githubusercontent.com/5202211/199357070-9f5b98ff-83a8-46cd-a25c-551286f66f21.

[2022-11-01 23:20] #49341 closed

[2022-11-02 03:27] jbencina opened #49465 "Int64 numbers from Pandas DataFrame.to_markdown() incorrectly displayed"
## Summary
When a Pandas DataFrame contains a 64 bit integer and the `.to_markdown()` method is called on the DataFrame, the printed integer is incorrect due to overflow.

This behavior is being passed along by the `tabulate` package but is really a fundamental Python issue. I bring this up here because the Pandas `.head()` method does print the correct number. Should Pandas be handling this case

[2022-11-02 04:58] rohitramana commented on #23545
Hello
I am facing the same problem with read_html. It has now been running for 3 hours to parse a 40mb .html file. What would be needed to debug the issue? I am unfortunately unable to provide the 40mb file.

[2022-11-02 08:43] DJviolin commented on #48728
@phofl I also experience this problem, I also searched similar opened issues, but I couldn't find either.

This missing feature is the reason why I still need to use AWK, to pre-process my CSV files:

[code]

This feature is a MUST in a tool that's processing CSV.

[2022-11-02 08:48] phofl commented on #48728
Contributions are welcome

[2022-11-02 09:11] abedhammoud commented on #48480
Even though I am getting the warning in my program every time, I cannot write something that reproduces the warning. My code is doing something like the following (where df has many more columns and rows):

[code]
I will keep trying and report back.

[2022-11-02 09:16] MarcoGorelli opened #49468 "BUG: pandas/tests/test_algos.py::TestValueCounts::test_value_counts_normalized failing on ARM tests"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

See https://app.circleci.com/pipelines/github/pand

[2022-11-02 09:21] MarcoGorelli commented on #49465
Thanks @jbencina for the report

Looks like the issue isn't in pandas?
[code]

Might be something to report to https://github.com/astanin/python-tabulate

[2022-11-02 10:52] lafrech commented on #37592
Stumbled upon this today.

Reading the comments here, I now understand what happens inside (conversion to naive local -> round -> localization to aware fails), but I was indeed surprised that pandas would treat my aware datetime as ambiguous, as said in https://github.com/pandas-dev/pandas/issues/37592#issuecomment-721210682.

Looks like I get it working with

[code]

Are there cases where this wo

[2022-11-02 12:16] behrenhoff commented on #45824
There is a related bug to `concat` & `attrs`:
[code]

The concat raises an Exception:
[code]
If removing either the `a.attrs` or the `b.attrs`, the `concat` works but the resulting `attrs` are empty. If the resulting `attrs` are empty anyway, I don't understand why `concat` seems to be messing with the `attrs` at all. At least the error message is misleading and it took me a while to figure out wh

[2022-11-02 12:30] jorisvandenbossche opened #49473 "ENH / CoW: Use the "lazy copy" (with Copy-on-Write) optimization in more methods where appropriate"
With the Copy-on-Write implementation (see https://github.com/pandas-dev/pandas/issues/36195 / proposal described in more detail in https://docs.google.com/document/d/1ZCQ9mx3LBMy-nhwRl33_jgcvWo9IWdEfxDNQ2thyTb0/edit, and overview follow up issue https://github.com/pandas-dev/pandas/issues/48998), we can avoid doing an actual copy of the data in DataFrame and Series methods that typically return a

[2022-11-02 15:26] jbrockmendel commented on #49468
mentioned in #49361, it is plausible that changing that line to `data = data.astype("M8[ns]").view("i8")` will fix the weird ARM behavior

[2022-11-02 16:29] #49075 closed

[2022-11-02 17:42] natmokval commented on #48855
Hi! I’ll work on `consider-using-sys-exit`.

[2022-11-02 18:43] #49240 closed

[2022-11-02 18:53] #45307 closed

[2022-11-02 20:57] mroeschke commented on #16713
Maybe generally a full `reindex_like` is not needed generally, as only the shared columns should be updated?

[2022-11-02 21:00] #49468 closed

[2022-11-02 22:04] ELHoussineT commented on #39154
Nice.

@samukweku Will you pick this one or shall I give it a shot? Thanks.

[2022-11-02 22:16] samukweku commented on #39154
@ELHoussineT I'll give it a shot. Thanks. @erfannariman was already working on it, and I do not know the steps involved in taking over. @rhshadrach @erfannariman ok if i make a PR based on our conversations?

[2022-11-03 00:42] wxing11 commented on #16713
I pushed a new commit to my PR that only reindexes rows and then skips non matching columns. Does that seem right for what you were saying?

[2022-11-03 03:26] jaymegordo commented on #46680
@msingh00 we can still use pyarrow, but when you try to install it it will be built from source, as there is no prebuilt binary available on pypi.org yet. I've got it to work with `pyarrow=9.0.0`, but it does cause some headaches making sure some compiler stuff is installed

[2022-11-03 07:36] jenyang2 opened #49493 "BUG: read_excel"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I specified "dtype=str" in the read_excel option,

[2022-11-03 12:04] Eschivo opened #49496 "ENH: Default negative location in pandas insert"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

In [dataframe insert](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html) why not change the loc argument to a keyword argument with a default value of -1 ? Since in many cases I don't care wher

[2022-11-03 12:05] MarcoGorelli opened #49497 "API: various .value_counts() result in different names / indices"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

Let's start with:
[code]

### Issue Description

- `ser.value_counts`: `name` is

[2022-11-03 12:06] MarcoGorelli commented on #25795
Thanks @kuraga for the report - not sure why you closed this, but I've opened a new issue to take your suggestion forwards https://github.com/pandas-dev/pandas/issues/49497

[2022-11-03 12:12] MarcoGorelli opened #49498 "BUG: minimum versions CI is failing"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The  following tests fail:
[code]

### Expected Be

[2022-11-03 12:14] MarcoGorelli commented on #49498
Apologies, just noticed the comment https://github.com/pandas-dev/pandas/pull/49412#discussion_r1012375553

Will keep this open for now anyway and pin it in case the failure is confusing to new contributors

[2022-11-03 13:56] MarcoGorelli commented on #49497
Related, the `DataFrameGroupBy` already sets the name to `count`, but only in the `as_index=False` case:
[code]

[2022-11-03 14:28] jbrockmendel commented on #49498
should be fixed by #49491

[2022-11-03 14:35] #49498 closed

[2022-11-03 15:11] natmokval commented on #48855
I'm going to work on the type "R" pylint warning: `comparison-of-constants`

[2022-11-03 15:56] phofl commented on #49493
Hi, thanks for your report. Can you please provide a reproducible example?

[2022-11-03 15:56] Himanshuwagh commented on #49452
can get more description?

[2022-11-03 16:10] #15585 closed

[2022-11-03 16:27] #24804 closed

[2022-11-03 17:04] jbrockmendel commented on #32581
closed by #49454

[2022-11-03 17:04] #32581 closed

[2022-11-03 17:47] #48979 closed

[2022-11-03 18:04] MarcoGorelli commented on #46509
Thanks for the report

I think the simplest approach could be to modify

https://github.com/pandas-dev/pandas/blob/cedd1222e3b2ac60d1006bf09df4c8a4870773c5/pandas/_libs/tslib.pyx#L670-L671

so that `val` is present in the assignment to `ex.args`

If anyone can come up with a good error message and wants to submit a pull request, that would be welcome

[2022-11-03 18:45] Pvlb1998 commented on #48582
Are the functions mentioned on the description (like Series/DataFrame.apply, DataFrame.applymap...) the only places where we need to apply the code on the solution?

Also, is there any possibility to show some examples where I can test these functions? It's just to make sure the code is working properly after the modifications.

[2022-11-03 19:50] natmokval commented on #49452
take

[2022-11-03 19:57] natmokval commented on #48855
I’ll work on the type "W" pylint warning: `duplicate-value`.

[2022-11-03 20:16] mroeschke commented on #48582
@Pvlb1998 just a heads up, please wait for confirmation from members of the core team regarding support of this functionality before moving forward.

[2022-11-03 20:35] rhshadrach commented on #49352
Marking as a regression since users shouldn't be seeing a FutureWarning in this case.

Thanks for the report! The way `df.agg` currently works is it splits the DataFrame up into a collection of Series and applies the function(s) provided to each Series. I believe this is what gives rise to your errors here.

We should be applying `numeric_only=True` in `df.agg` prior to splitting the DataFrame int

[2022-11-03 20:40] rhshadrach commented on #49452
@Himanshuwagh - I'd be happy to - is there a part that is unclear?

@natmokval - I looks like @TaylorChaseHunter is already preparing a PR for this issue.

[2022-11-03 20:44] TaylorChaseHunter commented on #49452
Oh I'm sorry, I was just kind of practicing the process -- I didn't realize it notified here. @natmokval please feel free to take it and I'll remove my commit.

[2022-11-03 20:46] rhshadrach commented on #49452
Ah - no problem @TaylorChaseHunter. Thanks for letting us know!

[2022-11-03 21:00] randolf-scholz opened #49508 "DOC: make clear that `DataFrame.astype` supports `Series` input"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

### Documentation problem

Currently, the parameter specification

does not mention that Series are natively supported.

###

[2022-11-03 21:14] randolf-scholz commented on #49508
Supporting `Series` is crucial in order to guarantee self-consistency:
[code]

[2022-11-03 21:20] it176131 opened #49510 "ENH: Parameter `keep_equal` in `.compare(...)` method should not rely on the `keep_shape` parameter"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

The [docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.compare.html) for the `keep_equal` parameter say:

If true, the result keeps values that are equal. Otherwise, equal values are shown as NaNs.

[2022-11-03 21:23] natmokval commented on #49452
Oops, my mistake. I am quite new to the process too. @TaylorChaseHunter please take the issue and don’t remove your commit.

[2022-11-03 21:36] mroeschke commented on #49441
Thanks for the report. I'm seeing the same on main.

From a quick look, https://github.com/pandas-dev/pandas/pull/48385 touched the related code path most recently but the core logic didn't seem to change. cc @jbrockmendel

This looks to be the root cause of the behavior

[code]

[2022-11-03 21:41] adrien-berchet commented on #48478
This issue is just about properly serializing objects stored in a DataFrame, which does not look so heroic to me since Pandas would just apply a function provided by the user. And Pandas actually already does this implicitly, the main issue is that it calls the `__repr__` method of the objects, which is not always relevant.
I just think it would simplify some codes to have an option to call a spec

[2022-11-04 02:07] timc opened #49514 "pandas.replace with value numpy.nan causes recursion error on 1.5.1"
This appears related to https://github.com/pandas-dev/pandas/issues/45725 which is marked closed but this is highly reproducible on 1.5.1, Python 3.8.2

[code]

Gives error

[code]

[2022-11-04 02:12] timc commented on #49514
Confirmed this works as expected on 1.4.4

[2022-11-04 05:24] asishm commented on #49514
the fix will be available in 1.5.2 when released.

[2022-11-04 07:34] dannyi96 commented on #46509
hi @MarcoGorelli ,
above issue has been completed via changes made in #47849

Note -
in pasted code snipped `str(ex) + f" present at position {i}",` ex already contains information of the erroneous value

[2022-11-04 08:51] david6l34 opened #49516 "BUG: Full outer of single index dataframe on multi-index dataframe behavior not as expected"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Full outer join of single index dataframe to multi

[2022-11-04 09:19] brechtm commented on #18066
For what it's worth, I found it pretty frustrating that even something basic like representing NaNs differently on the terminal is impossible. For HTML and LaTeX output, there's the Styler and its _na_rep_ argument, but there doesn't seem to be something equivalent for terminal output.

I'm currently working around this by replacing NaNs with `math.inf` (using _fillna_) and providing custom _float

[2022-11-04 09:28] cbrnr commented on #18066
I still think that rendering the output with Rich would be the best option. Basically, `pd.DataFrames` could have a `__rich_repr__()` method, which is responsible for the repr when Rich is available (https://rich.readthedocs.io/en/stable/pretty.html). Unfortunately, I don't have time to implement it myself at the moment.

[2022-11-04 09:51] lucasjamar commented on #49409
Hi @thlautenschlaeger, sorry to get back to you with this, but do you see the issue i am trying to raise?

[2022-11-04 10:17] #49406 closed

[2022-11-04 11:04] jorisvandenbossche opened #49519 "BUG?: groupby with as_index=False doesn't add grouper as column when passing a Series as group key"
I don't know if this is strictly speaking a but (the documentation doesn't really specify it), but I would have expected a different result:

[code]

(running with current main, 2.0.0.dev0+532.gdec9be2a5c)

When your key is a column in the DataFrame, specifying `as_index=False` will move the group key values to a column in the resulting dataframe:

[code]

I would have expected the same behaviour

[2022-11-04 11:12] phofl commented on #49514
Yes, this is a duplicate. Thanks for the report

[2022-11-04 11:12] #49514 closed

[2022-11-04 12:12] jorisvandenbossche commented on #49519
Hmm, this might be a duplicate of https://github.com/pandas-dev/pandas/issues/40591

[2022-11-04 12:23] jorisvandenbossche commented on #40591
The full note in the documentation says:

   if they are named *columns*, when ``as_index=True``, the default. The grouped columns will
   be the **indices** of the returned object.

   named *columns*.

I find this not very clear. Also the part about `as_index=True` uses the phrase "if they are named columns", but in that case the group keys are _always_ set as the index, no? (regardless whether

[2022-11-04 12:29] jorisvandenbossche commented on #40591
And regardless of the (unclear) documentation, I also don't understand the rationale of this behaviour if it is intentional. Why wouldn't we always make the group values a column with `as_index=False`?

[2022-11-04 13:02] anbjork opened #49521 "BUG: IndexError: .iloc requires numeric indexers, got [0 1 2 3]"
### Pandas version checks

- [x] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Pandas.DataFrame.iloc doesn't understand that Pand

[2022-11-04 13:26] Dr-Irv commented on #49352
@rhshadrach  I'm not sure that we intend to support `DataFrame.mean` as the function passed to `DataFrame.agg()` .

We support functions that take a `Series` or `DataFrame` as arguments.  `DataFrame.mean()` does not take either. It computes the mean of the elements within the enclosing `DataFrame`.

The documentation for `DataFrame.agg()` says that the function argument should be:

Function to use

[2022-11-04 13:33] joshdunnlime commented on #20369
I think the OP has a great use case, which is the same as mine; namely joining/snapping lat, lon coorinate pairs to a lat, lon coordinate grid.

I think in the meantime, if it isn't possible, would adding some clearer documentation saying you can only join with a single column on `by` be more helpful?

[2022-11-04 14:19] jorisvandenbossche commented on #42934
BTW, the other way around, when constructing a Series from an Index, we _do_ take a copy to avoid such issues.
In `Series.__init__`:

https://github.com/pandas-dev/pandas/blob/57d8d3a7cc2c4afc8746bf774b5062fa70c0f5fd/pandas/core/series.py#L401-L409

[2022-11-04 14:40] jorisvandenbossche opened #49523 "API: should creating a Series from a Series return a shallow copy? (share data, not attributes)"
Currently, if you create a Series from another Series, you get a new object, but because it shares the manager, it also shares the index:

[code]

Is this the desired / expected behaviour?

When doing an explicit shallow copy, this doesn't happen:

[code]

In both cases, changing an element of either Series updates the other (eg `s[0] = 10`), which is currently expected with a Series(.., copy=Fals

[2022-11-04 15:14] MarcoGorelli commented on #48060
I think it should be enough to just add
[code]
to the end of this section
[code]
here https://pandas.pydata.org/docs/dev/development/contributing.html#forking

[2022-11-04 15:29] MarcoGorelli opened #49526 "CI: only run pylint in CI"
pylint is helping unearth some issues, but it's quite slow, especially for local development

as brought up on Slack by @jorisvandenbossche , let's just run it in CI instead

Task would be:

1. in

https://github.com/pandas-dev/pandas/blob/57d8d3a7cc2c4afc8746bf774b5062fa70c0f5fd/.pre-commit-config.yaml#L62-L65

add
[code]
2. modify the name of https://github.com/pandas-dev/pandas/blob/e02133c6323

[2022-11-04 16:19] thlautenschlaeger commented on #49352
@Dr-Irv this issue is about the warning that gets thrown after passing a **list of functions.**
Passing `DataFrame.mean` was just a help to reproduce the actual error message that occurs when passing a list of functions e.g. `["std", "mean"]` together with the keyword `use_numeric=True`.

Correct me if I'm wrong with something but I think handling that keyword seems to be appropriate behavior and

[2022-11-04 16:24] Dr-Irv commented on #49352
So the thing to work on is that `df.agg(['mean', 'std'], numeric_only=True)` is raising a warning, and it shouldn't.  The `DataFrame.mean` example is a red herring.

[2022-11-04 16:49] arnaudlegout commented on #49352
From a user perspective, the doc of `agg` is confusing and the behavior of `agg` accepting function names is even more confusing.

The current doc for `DataFrame.agg` does not say that the passed function can accept Series (but only DataFrame). So I would not expect Series.mean to work from the doc. Also, passing `np.mean`  is expected to return a scalar (which is now the planned future behavior).

[2022-11-04 16:53] the-lazy-learner commented on #49526
Could I attempt resolving this issue? I'm mostly a beginner as of now.
Also, for the part, do we need to add these to args?
Please point me in the right direction, it'd be a lot helpful if there was place to refer for the first yaml file's syntax.
Thank you @MarcoGorelli I look forward to many more future collaboration with the community.

[2022-11-04 16:55] MarcoGorelli commented on #49526
sure, PRs welcome, here's the contributing guide https://pandas.pydata.org/docs/development/contributing.html

[2022-11-04 16:56] the-lazy-learner commented on #49526
By the way is it `language_version` instead of language?

[2022-11-04 16:57] MarcoGorelli commented on #49526
no

[2022-11-04 16:57] the-lazy-learner commented on #49526
Oh sorry. I just realised that looking at https://pre-commit.com/

[2022-11-04 17:06] Dr-Irv commented on #49352
I agree with you here.  Would you mind opening up a separate issue regarding this documentation/behavior of `agg` ?

[2022-11-04 17:09] arnaudlegout commented on #49352
If I got it correctly, from `core.appy._try_aggregate_string_function` it seems function names are lookup along the inheritance tree using the MRO. So for `DataFrame.agg('mean')` the matching function will be `DataFrame.mean`. My understanding is that if the behavior for `["std", "mean"]` is fixed, it should be also fixed if we pass directly `[DataFrame.std, DataFrame.mean]`. The documentation sho

[2022-11-04 17:13] the-lazy-learner commented on #49526
Please provide feedback on the PR #49527 . I need to learn more about the processes I guess.

[2022-11-04 17:22] arnaudlegout opened #49528 "DOC: `DataFrame.agg` and `Series.agg` documentation is unclear on which function we can use"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html
https://pandas.pydata.org/docs/reference/api/pandas.Series.agg.html

### Documentation problem

During discussion for issue 4935

[2022-11-04 17:23] arnaudlegout commented on #49352
Just opened a documentation issue for the discussed subject here #49528

[2022-11-04 17:33] arnaudlegout commented on #49528
I can propose a PR for this issue, but I need someone to check the behavior I described is correct because I am not sure. What I described correspond to my understanding of `core.appy._try_aggregate_string_function` that I believed is called to convert a function name to a function object.

[2022-11-04 17:35] holmpa3 commented on #45660
I am connecting to a MySQL database in the following code:

[code]
And I get the same warning... I am using SQLAlchemy to create the engine, is the issue that I am using pymysql to create the connection?

Are there plans to support pymysql connections?

[2022-11-04 17:47] MichalRIcar commented on #48950
Hello, any updates on the issue? Sorry for the push, but this randomness in results is being propagated to many tasks on our side, thus it is very difficult to continue as our algo results debugging is very hard or almost impossible unless the random calc of std is fixed.

On the other note, from math perspective - if rolling().mean() is always correct (as far as I checked) and rolling().std() has

[2022-11-04 17:48] phofl commented on #48950
The underlying algorithms are different. Investigations are welcome

[2022-11-04 18:13] jbrockmendel commented on #49340
@mroeschke thoughts?

[2022-11-04 18:19] jbrockmendel commented on #45034
Another tangentially related datapoint: we have special-casing in `Index.astype`:

[code]

AFAICT this exists to make `test_subtype_datetimelike` in the IntervalIndex tests to work:

[code]

I have no problem with disallowing the IntervalIndex.astype here, but it falls into the "allow all of them or none of them" category.

[2022-11-04 18:30] mroeschke commented on #49340
I guess I would be okay with the Series behavior of coercing `None` since the docstrings for Index & Series suggests that `dtype=None` essentially means "infer" the dtype

True, but given the coerce-y nature of pandas, I think we should definitely encourage users to `astype(object)`/`dtype=object` more often if they want two different NA-likes.

[2022-11-04 19:09] jorisvandenbossche commented on #45034
Can you give an actual example? It's a bit hard to interpret those snippets out of context

[2022-11-04 19:16] MarcoGorelli commented on #49497
cc @pandas-dev/pandas-core @pandas-dev/pandas-triage in case anyone has thoughts - hoping we can consider this a bug and change the behaviour in version 2.0

[2022-11-04 19:22] vkhodygo opened #49532 "BUG: `df.drop` with `MultiIndex` doesn't update `df.index.levels`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The `MultiIndex` changes how expected, however, ca

[2022-11-04 19:28] Dr-Irv commented on #49497
It could break existing code.  In your examples, if you now do:
[code]
you get a `DataFrame` with the column named `foo`, so if someone knew that in there code, and did a `rename`, their code would break, since your proposal would be to name the column in this case `count`

I think that we'd need a deprecation cycle for this???

[2022-11-04 20:03] rhshadrach commented on #49497
Isn't this inconsistent with other Series methods, e.g.

[code]

[2022-11-04 20:20] jbrockmendel commented on #45034
[code]

But bc this special-casing is done specifically inside Index.astype, we also have:

[code]

[2022-11-04 20:31] jorisvandenbossche commented on #45034
Why do you think this would only have been done for IntervalIndex? Because we only have tests for IntervalIndex that covers this?
So for Series we _do_ allow casting float to datetime (https://github.com/pandas-dev/pandas/issues/45034#issuecomment-1020249768).
Personally, I don't have a strong opinion about casting to and from float for datetimelike (float->datetime and datetime->float). I think i

[2022-11-04 20:42] rhshadrach commented on #49352
Thanks @Dr-Irv - I agree users shouldn't be relying `DataFrame.mean` taking a Series and producing a scalar, but it does, and I don't think we should add any special logic - neither to forbid nor support it - to the aggregation code.

Regarding `df.agg(['mean'], numeric_only=True)`, I think it's reasonable for a user to expect this to be the same as `df.mean(numeric_only=True)` and should be suppo

[2022-11-04 20:44] MarcoGorelli commented on #49497
I don't think so, no - in `cumsum`, the index is preserved, and the values get cumulatively summed. So it makes sense that the new Series keeps its name

In `value_counts`, the Series unique values become the index - hence why it feels natural that the index should inherit the Series name

[2022-11-04 20:48] jbrockmendel commented on #45034
Most of the tests that hit this are for IntervalIndex.  Now that I look at the blame, the check specific to needs_i8_conversion dtypes was added https://github.com/pandas-dev/pandas/pull/18937/files#diff-04d55a40a3293df94601d8b4aff4babebe4c1532d8174692bdef7f5bcb12c33fR315 and before that it would raise but looked like a catch-all.

Agreed.

[2022-11-04 20:48] phofl commented on #49532
Hi, thanks for your report. This behaves as intended. Could you search the issue tracker for more information? We have quite a few closed issues asking the same/similar questions

[2022-11-04 20:48] #49532 closed

[2022-11-04 20:52] rhshadrach commented on #49519
Assuming that the implementation/performance is a barrier here (I can't imagine why it would be), +1 on always including the groupers when `as_index=False` regardless if they are "in-axis" or not. Also, while #40591 may have preceded this, I would recommend closing that is as a duplicate of this as this one is more concise.

[2022-11-04 21:02] topper-123 opened #49535 "BUG: NumericIndex should not support float16 dtype"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

pandas doesn't have a float16 indexing engine (bec

[2022-11-04 21:05] mroeschke commented on #49497
I guess I could see an argument that `value_counts` is an implicit groupby-count, so for the `Series` case, the resulting `index.name` should be `ser.name`.

Not sure how I feel about an operation just introducing a name like "counts"/"normalized"

[2022-11-04 21:24] MarcoGorelli commented on #49497
Isn't that what already happens in the groupby case though, where an extra column is inserted with the name `'count'`?
[code]

I find it odd that the corresponding `as_index=True` case doesn't have that:
[code]
not least because `df.groupby('a')['b'].value_counts().reset_index()` will fail with `ValueError: cannot insert b, already exists`.

If the name of the resulting series were `'count'`, then

[2022-11-04 21:33] jbrockmendel commented on #49340
Good news!  Both the Series and Index behaviors are _mostly_ lib.maybe_convert_objects.  Changing `maybe_convert_objects` to have the current Series behavior doesn't break anything!

[2022-11-04 21:49] Dr-Irv commented on #49497
One thing to consider is to add a parameter to `value_counts()` that is called `name` that defaults to `None`  (or `"count"` in the one case where `"count"` is used today) so that it corresponds to current behavior, and then we deprecate that default parameter changing to the word `"count"`  using your proposal.

[2022-11-04 22:59] Dorivis opened #49539 "ENH: Label Encoder"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

When working with data, I came across the problem when treating the data, when I need to make a Label Encoder, I couldn't do it directly through Pandas, but I had to use another library for that

### Feature Descripti

[2022-11-04 23:29] lukemanley commented on #49497
For indexes, the resulting `Series.name` is taken from the input and the resulting `Index.name` is `None`.

[code]

This doesn't seem quite right as it cannot support a `MultiIndex` that has multiple names:

[code]

In the `MultiIndex` case, the resulting `Series.name` is `None`. If the resulting names remained on the index, this would work for `MultiIndex` as well.

(as a side note - I think `Mul

[2022-11-04 23:39] mroeschke commented on #49539
Thanks for the suggestion but I would be -1 for including this in pandas since as you mentioned scikit learn has this functionality as is often paired with pandas

[2022-11-05 09:39] MarcoGorelli commented on #49497
That's a good point @lukemanley , thanks, I've added that to the issue description

@Dr-Irv true, there could be an extra parameter, but then
- that parameter itself would probably need deprecating
- IIUC, it wouldn't help to warn about the change in the index's name

[2022-11-05 10:11] MarcoGorelli commented on #49539
yeah agreed

and you can already do
[code]
to get a unique numerical value for each category

closing then, but thanks for the suggestion

[2022-11-05 10:11] #49539 closed

[2022-11-05 10:49] #49526 closed

[2022-11-05 10:50] MarcoGorelli commented on #48855
Note for anyone working on this: `pylint` is now run only in CI, so you'll need to run the command as
[code]

[2022-11-05 10:59] kuraga commented on #49497
Do I understand correctly that you are discussing `.value_counts()` in isolation from functions of the same class?

[2022-11-05 11:02] MarcoGorelli commented on #49497
Yes, this discussion is limited to `value_counts` - I think it's exactly what your issue https://github.com/pandas-dev/pandas/issues/25795 was about

[2022-11-05 11:42] rhshadrach commented on #49497
Currently all Series methods keep the Series name (excluding `Series.rename` :laughing:). This includes describe, mode, nlargest, and sample which don't keep the same index (though nlargest and sample are filters). This would be the only one that doesn't.

[2022-11-05 11:51] MarcoGorelli commented on #49497
In `Series.mode`, the original values still end up being part of the result values:
[code]

whereas in `value_counts`, the original values become the index:
[code]
Hence why I think the original Series name should propagate to the result Index name, rather than to the result Series name

[2022-11-05 12:40] rhshadrach opened #49543 "API: Consolidate groupby as_index and group_keys"
Everything in this issue also applies to `Series.groupby` and `SeriesGroupBy`; I will just be writing it for `DataFrame`.

Currently `DataFrame.groupby` have two arguments that are essentially for the same thing:

 - `as_index`: Whether to include the group keys in the index or, when the groupby is done on column labels (see [#49519](https://github.com/pandas-dev/pandas/issues/49519)), in the colu

[2022-11-05 14:06] Dr-Irv commented on #49497
It might be worth having the `name` parameter anyway in case someone doesn’t want to use the word “count”

could also have a parameter for the index name as well.

`value_counts()` is a bit of a pivot table operation so renaming the index and resulting column should be something a user can control.

[2022-11-05 14:10] rhshadrach commented on #49497
Isn't this what `.rename(...)` is for? In general, I'm against adding arguments to methods when they are equivalent to calling an already existing method. It makes our API surface larger (and would we then need to add `name` to all other Series ops?), requires more testing, doesn't provide any additional features, and not significantly easier for users to use.

I think we should prefer method chai

[2022-11-05 14:12] MichalRIcar commented on #48950
Thanks for the quick response.

I've checked and see that you are using Welford's method which is by definition stable computation of var/std so no luck there.

I've checked the rolling.py and all functions inputs are very nicely standardized (Window etc.), thus this issue must be much deeper level. And in such a case, sadly, the only efficient way to fix it is the author of the code I believe.

[2022-11-05 14:38] Dr-Irv commented on #49497
I see your point. Still might be worth introducing it here to allow the current 1.x behavior to be preserved, then we deprecate the parameter later.  Would require two deprecation cycles, one for the values of the default arguments and one for the new behavior.

As I said earlier, this is a kind of pivot table operation, so having control of the names does make sense.  I don’t think we have other

[2022-11-05 15:08] attack68 commented on #49497
I agree. Much prefer reducing arguments in peripheral cases where method chaining does the job. Some actions are so common that arguments are useful to many end users ( and may not be avoidable) but chaining gives a greater understanding of how the api can be used in generality.
I think 2.0 gives the freedom to redesign the api, and the principle of preserving the 1.x behaviour is a constraint tha

[2022-11-05 15:11] jorisvandenbossche commented on #49497
I agree with @MarcoGorelli's point about that all those examples you give, the values in the series "stay" (in some form, filtered or reduced) in the series' values. While for value_counts, the values move to the index, and the values of the series are now counts.

To make this very explicit with a non-numerical example:

[code]

After resetting the index, the column with the species names (the va

[2022-11-05 15:22] jorisvandenbossche commented on #49497
That seems like a nice potential intermediate solution. It could provide an easier migration path (although an actual deprecation would still be very noisy given how much `value_counts` is used), and also gives easier access to the behaviour we might think is the better one. It could look like this:

[code]

I certainly agree with the general principle. We should prefer and promote composability o

[2022-11-05 15:33] phofl commented on #48950
Yep this is probably on the cython level.

[2022-11-05 15:33] MarcoGorelli opened #49545 "DOC replace gitter link in README"
In this note

https://github.com/pandas-dev/pandas/blob/2a2daf787c5bf4015729f6660d189389d3d7dc47/README.md?plain=1#L169

let's replace the second link with one which links to Slack https://pandas.pydata.org/docs/dev/development/community.html?highlight=slack#community-slack

[2022-11-05 15:43] rhshadrach commented on #49497
I'm persuaded by the arguments by @MarcoGorelli and @jorisvandenbossche, and find the `df.groupby("species").size().rename("count").reset_index()` example particularly compelling. I'm +1 on the desired behavior in the OP.

Regarding adding the `name` argument, I would be okay with adding if it is to be deprecated after the change is made. I think we should also consider making this API breaking ch

[2022-11-05 15:54] Mohd-Farhan commented on #49545
Hello,
I am interrested in it.
Can u assign this to me?

[2022-11-05 15:54] radojicic23 commented on #49545
I am interested

[2022-11-05 15:55] radojicic23 commented on #49545
take

[2022-11-05 16:08] radojicic23 commented on #49545
I've fixed this issue.

[2022-11-05 17:02] #49545 closed

[2022-11-05 17:26] MarcoGorelli commented on #49497
Thanks all for the discussion, and really nice example from Joris!

Regarding adding a `name` parameter to enforce the deprecation - would the idea be to also add `index_name`, and have them emit a `FutureWarning` the user doesn't pass anything notifying them that the default will change in a future version of pandas? If so, I worry that that would be extremely noisy. So

makes sense to me.

Same,

[2022-11-05 18:23] shogohida commented on #49443
Hi @phofl, I want to work on this! However, I'm not very sure how to refactor the test because I'm new to Pandas. Could you give me some advice? It would be really helpful

[2022-11-05 18:32] phofl commented on #49443
It would be helpful to remove the parametrisation and split the content into two tests so that it is easier to read. But would be good to wait till the linked pr is merged, because it changed the behavior of the test

[2022-11-05 18:33] codamuse commented on #49452
take

[2022-11-05 18:42] ramvikrams commented on #49508
@randolf-scholz can I do the fix in the documentation

[2022-11-05 19:04] lohmanndouglas commented on #49441
@mroeschke I would like to contribute to this issue, but I believe that I will require some support as it is my first contribution to pandas.

I did a `git bisect` and figure out that the issue was introduced in [#47019](https://github.com/pandas-dev/pandas/pull/47019). More specifically in the lines from [`273 to 276`
](https://github.com/pandas-dev/pandas/pull/47019/files#:~:text=nanos%20%3D%20g

[2022-11-05 19:45] codamuse commented on #49452
@rhshadrach I made changes off the main branch but tests failed.  Pretty sure your changes in #49373 are necessary?  If so, should I branch off your branch or wait for that to merge then cleanup?  Thanks!

[2022-11-05 20:20] rhshadrach commented on #49452
Exactly right @codamuse - that PR should be merged in the next few days, thanks for waiting.

[2022-11-05 20:22] rhshadrach commented on #39154
@samukweku - most certainly!

[2022-11-05 20:51] jbrockmendel commented on #43717
Closing since freq is gone

[2022-11-05 20:51] #43717 closed

[2022-11-05 21:28] phofl commented on #48950
This is most certainly related to https://pandas.pydata.org/docs/whatsnew/v1.3.0.html#removed-artificial-truncation-in-rolling-variance-and-standard-deviation

Your range of significant digits is too large. Not sure if there is a way around it

[2022-11-05 22:05] randolf-scholz commented on #49508
@ramvikrams Of course.

[2022-11-05 22:16] lucaslarios commented on #48287
Does this issue still remain relevant?

[2022-11-05 22:27] jbencina commented on #49465
Confirmed this is fixed in the upcoming release of tabulate

[2022-11-05 22:47] samukweku commented on #39154
@ELHoussineT I won't have bandwidth in the shirt term to handle this - do you mind taking over?

[2022-11-05 23:20] kurzdev commented on #42784
Any updates on this?

[2022-11-05 23:49] mzeitlin11 commented on #49521
Thanks for reporting this @anbjork! Looks like the same issue as #39133?

[2022-11-05 23:49] topper-123 commented on #49523
I agree @jorisvandenbossche , a shallow copy is more reasonable to expect, and current behaviour could lead to surprises.

It's also important to be consistent, so IMO `Dataframe(frame)` should behave in the same way (haven't checked if they're similar).

[2022-11-06 00:15] samukweku commented on #39154
take

[2022-11-06 00:27] MichalRIcar commented on #48950
I am not sure if I agree as I see real-world data rolling.std results are extra volatile even when we round input vectors hard.
I will use an extreme example that clearly proves that it must be something else than significant digits.

[code]
numpy result is as expected → 0.1
rolling.std has random value → 11.31

[2022-11-06 00:30] phofl commented on #48950
The value ``1000000000`` is squared internally which leads to a loss of precision. You can check out the Cython implementation, suggestions are welcome. You can not compare the numpy results with out sliding window calculations (with regards to numerical precision). Those are completely different algorithms

[2022-11-06 00:31] MichalRIcar commented on #48950
So that rolling std doesn't provide std when input has variance higher than some factor....this should be very highly commented..

[2022-11-06 00:32] MichalRIcar commented on #48950
As mentioned, on many real-world data from real processes we see this randomness..and these data are statistically totally right..

[2022-11-06 00:34] MichalRIcar commented on #48950
in other words, if pandas provide statistical tools then it has to follow math. If it doesn't it is wrong. And if it si wrong because of computer science reasons - perhaps can be hardly fixed - then there must be a big red warning as it is truly incorrect for stats and math purposes. And as you may imagine some pandas applications are used in important sectors.

[2022-11-06 00:34] phofl commented on #48950
This is clearly stated in our user guide https://pandas.pydata.org/docs/user_guide/window.html#overview

[2022-11-06 00:39] MichalRIcar commented on #48950
"You can not compare the numpy results with out sliding window calculations"

On that note I strictly disagree - I rather follow an approach where the decision about algo is the output, not its inner logic.
If we would use such logic that would lead to justifying any algo with an excuse that inner logic is different.

[2022-11-06 00:42] MichalRIcar commented on #48950
Anyways, thank you very much for Your thoughts and time, much appreciated! I assume we will not move forward here.
I believe worth to mention that pandas team doing absolutely amazing job and in a daily routine it is an amazing experience with it, thank you for that!

[2022-11-06 00:42] #48950 closed

[2022-11-06 02:01] MichalRIcar commented on #48950
Problem solved via using engine='numba' which provides correct results regardless the input.
x = [1000000000, 0.1, 0.2, 0.3, 0.4, 0.5]
pandas.Series(x).rolling(window=3).apply(numba_std, engine='numba',raw=True)

result → 0.1
Thus same as np.std(x[3:], ddof=1)

where I defined simple numba_std as follows
def numba_std(X):
    M, S = 0, 0
    for i,x in enumerate(X):
        M0 = M
        M  = M +

[2022-11-06 02:08] phofl commented on #48950
This does not prove anything, since this is not a sliding window calculation. You are calculating the variance for every window completely from scratch. This is a totally different approach than we are taking in the Cython implementations. The numerical instability will become obvious, when you read up on how sliding window calculations work. This is documented as well.

[2022-11-06 02:26] MichalRIcar commented on #48950
I believe we are touching more philosophical approach towards coding. Your reasoning to me is totally irrelevant as pandas std claims to provide standard deviation which clearly doesn't add result as extra noisy in real world applications.
Thus, I have to conclude that using current cython approach sliding window to functions like std is fundamentally wrong as results are sometimes multiples of th

[2022-11-06 02:30] shogohida commented on #49443
take

[2022-11-06 02:39] jreback commented on #48950
@MichalRIcar please try to be constructive

welfords algorithm is used here

i guess https://en.m.wikipedia.org/wiki/Algorithms_for_calculating_variance

this is open source software if you can do better please do

but comments like

"just delete this" are totally u helpful to anyone

is just plain wrong then

[2022-11-06 02:59] shogohida commented on #49443
Thanks for your comment! Now I understand that I need to separate `result` and `expected`. I will wait until the linked PR is merged

https://github.com/pandas-dev/pandas/blob/a551f1b7b0aeace5d3c6a1c629dce5442fcee85b/pandas/tests/indexing/multiindex/test_multiindex.py#L187-L215

[2022-11-06 03:31] MichalRIcar commented on #48950
I am using Welfords algo just above - numba_std is the pure math form of it..

I believe I am being constructive as I described how we do work on our side, we truly delete functions which are not co sand rather use slower form of them..

[2022-11-06 05:19] Th3nn3ss commented on #49473
This update is to be done inside `managers.py`?

[2022-11-06 07:28] csala opened #49553 "ENH: Expose date parsing arguments in `read_html` function"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

The current `read_html` function exposes the same `parse_dates` argument that `read_csv` has, but it does not expose the rest of arguments that let the user control how the dates are parsed (`infer_datetime_format`, `

[2022-11-06 07:34] ravi160822 opened #49554 "csv upload fail"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

getting same error as described in the stack overf

[2022-11-06 07:41] alexander-beedie commented on #48287
Yes. Seems somebody closed the proposed PR (which works and fixes the issue) as "stale" - but it's still valid.

[2022-11-06 07:41] csala commented on #49553
I can actually confirm that the mentioned arguments work by simply adding them here: https://github.com/pandas-dev/pandas/blob/6122c7de128fce3a84d91ef91b9dc3a914531745/pandas/io/html.py#L1028

And then passing them down here: https://github.com/pandas-dev/pandas/blob/6122c7de128fce3a84d91ef91b9dc3a914531745/pandas/io/html.py#L1204

since, they are automatically added within the generic `**kwargs`

[2022-11-06 09:10] MarcoGorelli commented on #49465
cool, thanks!

[2022-11-06 09:10] MarcoGorelli commented on #49465
the minimum version should probably be bumped then - do you want to submit a pull request to do that?

(reopening the issue until the minimum version is bumped)

[2022-11-06 10:49] arnaudlegout commented on #49352
@rhshadrach what is annoying with your two options (if I get them correctly) is that you will create a specific handling of `numeric_only` in `agg` instead of passing the arg to the called function. The consequence is that if  a new parameter is added to a DataFrame function, but not to the Series function, we will face again the same issue.

Pandas has so many complexity and inconstancy due to le

[2022-11-06 11:07] ELHoussineT commented on #39154
@samukweku Thanks! Let me know if you need any help.

[2022-11-06 11:31] samukweku commented on #39154
@ELHoussineT sure .. i'll start on it

[2022-11-06 11:59] MarcoGorelli commented on #49554
Hi @ravi160822 - thanks for the report

Please include a minimal reproducible example - your SO link already has an answer, please try that

Will reopen if you include a reproducible example

[2022-11-06 11:59] #49554 closed

[2022-11-06 13:18] rhshadrach commented on #49352
I agree, a better fix would be to call the DataFrame function, but it would at least fix the issue that the change to `numeric_only` created. This would be for 1.5.2. For this, I would lean toward intercepting rather than adding a new argument to DataFrame.agg.

This seems to me to be a common use of agg, and it would change the results in every case - not just some instances. Because of how much

[2022-11-06 15:26] jreback commented on #48287
@alexander-beedie and your anyone else
could pick up the proposed PR

things are stale if they r just sitting around for too long

[2022-11-06 15:34] Th3nn3ss commented on #49473
This PR attempt to handle `set_index`

[2022-11-06 16:57] Aman123lug commented on #49408
@prokie  i want to work on this

[2022-11-06 19:29] Silberlachs commented on #25349
this whole library is confusing and counter intuitive.

[2022-11-06 20:43] jorisvandenbossche commented on #49523
Yes, `DataFrame()` has currently the same issue:

[code]

[2022-11-06 21:57] Pvlb1998 commented on #48582
@mroeschke Oh it's alright! Even if this function doesn't properly work, I would still like to work on it purely for learning (doesn't have to be aproved). But even after making some modifications I still don't know how to test it. If it's possible, could you provide some cases of test so I can at least check if there's anything wrong with my modifications?

[2022-11-06 21:59] andrewchen1216 commented on #48440
take

[2022-11-06 22:20] MarcoGorelli commented on #48440
is this the same as https://github.com/pandas-dev/pandas/issues/12649? If so, it should be addressed by https://github.com/pandas-dev/pandas/pull/49333

[2022-11-06 22:21] MarcoGorelli commented on #48440
closing as I'm pretty sure it's a duplicate, but please do let me know if I've misunderstood and I'll reopen

[2022-11-06 22:46] andrewchen1216 commented on #22243
Does this issue still require a test?

[2022-11-06 23:07] abhimanyd2001 commented on #49387
Working on this

[2022-11-07 00:23] andrewchen1216 commented on #48083
take

[2022-11-07 00:45] justin4480 commented on #48779
Sorry I was determined to do this, but have spent far too long trying to get my environment setup.  I tried both the recommended docker & mamba dev environment setup, but just couldn't get the pytest suite to run without tones of errors (before making any code edits).  I will revisit when I have more time as I do want to contribute, but have unassigned this particular issue for now.

[2022-11-07 00:52] jbrockmendel commented on #49497
+1 on the suggested behavior, -0.5 on adding a new keyword

[2022-11-07 01:30] andrewchen1216 commented on #49282
take

[2022-11-07 02:04] kathryn1229 commented on #47554
take

[2022-11-07 02:20] WindSoilder opened #49561 "BUG: pd.read_sql with sql can failed when running query with % character"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

1. firstly we need to have a mysql server
2. then

[2022-11-07 03:05] jbencina commented on #49465
Good point. I'll see if there's an idea when the next version will be out and circle back here with a PR when available

[2022-11-07 08:06] rhjmoore commented on #48440
Looks likely; interesting that other (quite old) bug didn't come up in the search, but glad that's it's being done. Is it possible to verify the failure case at the top of this report against the fix patch you link to?

[2022-11-07 08:35] Michael-E-Rose commented on #21995
The problem is not only when you want multiple rows as header, but also when you want no header at all.

My file:
[code]

My code:
[code]

My output:
[code]

Interestingly, with `terms = pd.read_csv(TERM_FOLDER/'terms.csv', header=None, na_filter=False, skip_blank_lines=False)` I get a `pandas.errors.EmptyDataError: No columns to parse from file`. Is this related or must I file a new issue?

[2022-11-07 08:52] MarcoGorelli commented on #48440
yeah there's some tests in https://github.com/pandas-dev/pandas/pull/49333/files#diff-388d9e4dc158bf81c94ed5df7ac7027cde97d599db685376f7988ed33bdba9b7 which check this kind of thing:
[code]

should be fixed by the time the next non-patch release comes out (2.0)

[2022-11-07 08:52] #48440 closed

[2022-11-07 09:37] gfyoung commented on #21995
@Michael-E-Rose: since the parameters are relatively close, I would keep here for now.

[2022-11-07 12:39] andrewchen1216 commented on #49230
take

[2022-11-07 12:42] koubaa commented on #10415
Hello! Try using hollerith. [pypi](https://pypi.org/project/hollerith/) [github](https://github.com/pyansys/hollerith). It's a (very) new python library that I developed that deals with fixed width formatting - and open to contribution. Unfortunately trying to use built-in python string formatting (or the C printf for that matter!) for fixed width doesn't work well for some widths when there are l

[2022-11-07 13:41] Fitree opened #49563 "ENH: refactor pandas.isnull to improve code quality"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

`pandas.isnull` is an alias of the `pandas.isna` as below.
However, there is no code-level docstring on `pandas.isnull`.

[code]

We can find similar pattern on the relationship between `DataFrame.isnull` and `DataFra

[2022-11-07 14:38] arnaudlegout commented on #49352
I agree intercepting is better than adding an argument.

that would be great.

I see.

[2022-11-07 14:50] vkhodygo commented on #49532
Hi @phofl

Thanks for the feedback. Are you referring to, for instance, #49183?

Since it looks like a recurring issue don't you think this should be mentioned somewhere in the docs as expected/intended behaviour?

[2022-11-07 15:01] bollard commented on #48681
Just come across this issue again and notice the fix is currently only scheduled for 1.6 (or 2.0). Is there any chance this can be backported to 1.5.x?

[2022-11-07 15:47] alexlokhov commented on #18970
Same here, getting a recursion error.

[2022-11-07 16:27] phofl commented on #49563
Yes this is shared docstring and works as intended.

[2022-11-07 16:27] #49563 closed

[2022-11-07 16:33] utsavjha commented on #46596
I can confirm the same issue being experienced by me. Using with Postgres.
Here is the debugging performed on my end.

Environment: Docker 4.12, Python v3.10-bullseye source image
Database: Postgres (v15), connecting using psycopg2==2.9.5 and SQLAlchemy==1.4.43

Affected Pandas Version: > v1.3.6. All forward distributions other than v1.3.5 are unable to write. I tested each version from v1.3.5 to

[2022-11-07 16:47] rwijtvliet opened #49565 "BUG: when `floor`ing, `ambiguous` parameter unnecessarily used (and raising Error)"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The value of the `ambiguous` parameter is used by

[2022-11-07 17:06] rwijtvliet opened #49567 "BUG: `DatetimeIndex.floor` works, but `.ceil` does not, during a DST-changeover"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`.ceil` seems to try to round up to the next full

[2022-11-07 17:33] topper-123 commented on #49398
Thanks for the reply. Yes, I hadn't considered IO, that makes it more challenging than I had though when I wrote up the issue...

I could support a deprecation cycle, though perhaps if it last the entire pandas 2.x cycle, maybe better to deprecate later in the cycle, e.g. pandas 2.3 or similar IMO.

Unless there is a wish do something now, I'll let this lay and I (or someone else) can pick this up

[2022-11-07 17:44] natmokval commented on #48855
Hi @MarcoGorelli . I noticed a typo in the above command. The following command works for me
[code]

[2022-11-07 17:48] MarcoGorelli commented on #48855
you're right, thanks @natmokval !

[2022-11-07 17:55] mroeschke commented on #49543
Would it be feasible instead to add the new `keys_axis` to all the `DataFrameGroupby` methods instead (with a sensible default & restrictions per function)? This would include deprecating `as_index`/`group_keys`

I remember having a similar API decision when deciding `df.groupby(engine="numba").mean()` vs `df.groupby().mean(engine="numba")` (current), and some pros were

1. Easier switching betwee

[2022-11-07 18:25] bashtage commented on #49543
Overall plan seems reasonable.  I'm not sure `keys_axis` is very intuitive. Would `axis_keys` or maybe `axis_labels` be clearer (AFAIK the generic word, at least in typing, for the values in an index are labels)?

[2022-11-07 18:28] #49354 closed

[2022-11-07 18:28] #49223 closed

[2022-11-07 18:58] lohmanndouglas commented on #49441
Thanks @mroeschke

I will do it and open a PR as soon as possible :)

[2022-11-07 19:07] WillAyd commented on #49543
Love the overall idea. An `axis` feels a little strange to me because in theory I guess you could toss an `apply` against any axis and then separately have a `key_axis` keyword. Not sure there is a need for those two to be separate?

Stepping back we have the question of:
  1. Which axis should the computation be performed across
  2. How should we align the output of the computation

I think 1. s

[2022-11-07 19:38] #48949 closed

[2022-11-07 20:53] #49222 closed

[2022-11-07 21:10] Zaijab opened #49568 "DOC: What does TimeDelta.seconds do?"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.Timedelta.seconds.html#pandas-timedelta-seconds

### Documentation problem

Documentation is blank.

### Suggested fix for documentation

Write

[2022-11-07 21:42] phofl commented on #49398
We want to release 3.0 significantly faster than 2.0, so would be ok to introduce in 2.0 I think. But we want to finish enforcing deprecations first

[2022-11-07 22:26] lohmanndouglas commented on #49441
take

[2022-11-08 01:04] Samreay opened #49571 "ENH: A simple value filter that allows easy chaining"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I wish I could have a nicer mypy/flake8/pylint friendly way of doing super simple data filtering.

Right now if I want to do a simple filter, I'd normally do it like so:

[code]

Which frustrates my compulsive brain,

[2022-11-08 01:05] ChiQiao commented on #45789
@roadswitcher I tested 1.4.4 on Linux and looks like it is working as expected. I'll close this issue.

[2022-11-08 01:05] #45789 closed

[2022-11-08 02:17] rhshadrach commented on #49543
@mroeschke - I definitely see the benefits of your proposal. The downside would be having to specify `keys_axis` for each method. I would be happy either way.

@bashtage - the argument would be specifying where the groupby keys go. I don't think this is conveyed by e.g. `axis_labels="columns"`. Similarly, `axis_keys=1` seems odd to me. But I may be missing something.

@WillAyd

I don't follow this

[2022-11-08 02:34] rhshadrach commented on #40591
Closing in favor of #49519

[2022-11-08 02:34] #40591 closed

[2022-11-08 02:39] rhshadrach commented on #49452
@codamuse - #49373 has been merged.

[2022-11-08 02:40] codamuse commented on #49452
Thanks for the heads up, I'll PR the change tomorrow.

[2022-11-08 03:30] topper-123 opened #49572 "BUG/API: Indexes on empty frames/series should be RangeIndex, are Index[object]"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When users don't specify indexes, pandas infers th

[2022-11-08 05:13] topper-123 opened #49573 "BUG: Series(index=[]) has dtype float64, should be object"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Corner case of #49342, where the dtype of an empty

[2022-11-08 08:03] vishallb commented on #49202
take

[2022-11-08 10:13] samukweku commented on #49571
Kindly provide sample reproducible data with Expected output dataframe, so that your question can be better understood

[2022-11-08 10:30] MikaelUmaN opened #49576 "BUG: Int64Index are deprecated but used as default index and cannot be used in ops with pd.Index(dtype=Int64Dtype())"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Relates to: https://github.com/pandas-dev/pandas/p

[2022-11-08 10:39] Samreay commented on #49571
Sure thing. I've just copied the code above into a notebook and run it with a testing df, so unsure if this adds much information. Happy to elaborate on any point. But to restate, a single, chainable filter which doesn't need lambda functions or code-as-a-string would be great.

Something like so:

<img width="611" alt="image" src="https://user-images.githubusercontent.com/6748505/200543048-58db40

[2022-11-08 10:51] Natim commented on #49441
Yes it looks good to me indeed.

[2022-11-08 11:02] MarcoGorelli commented on #49571
you can use [pipe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pipe.html)

[2022-11-08 11:19] Samreay commented on #49571
Indeed you can, and in terms of all the different methods, I wrote this up (outside of this ticket):

[code]

`pipe` with a custom function of course works just fine, but I still feel like this sort of basic filtering would be used by many pandas users and warrants potential inclusion into the provided method set.

[2022-11-08 12:39] topper-123 commented on #49576
Hi @MikaelUmaN. Thanks for the error report.

I can't reproduce errors or a deprecation warning from the example you posted. Can you give a more explicit example that fails in the decribed way, so I can look at it.

More generally, `Int64Index` is a legacy index type and only work using numpy integer dtypes, while `Int64Dtype` is a pandas dtype (nullable integer type), that is not supposed to work

[2022-11-08 12:45] deepyaman opened #49578 "QST: Why do frame `GroupBy` objects and have different capitalization from `RollingGroupby`, etc.?"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

N/A, not a usage question

### Question about pandas

I'm trying to write a pandas API for another execution engine, so I

[2022-11-08 13:52] jorisvandenbossche commented on #49543
Thanks for thinking this through and the proposal, @rhshadrach ! I added some thoughts below, but to be clear, while those might seem "critical" of the proposal, I certainly agree that we should try to clean this part of the API (those different keywords that do very similar things but not exactly and for different methods is not ideal ..)

To summarize the context for myself, the underlying behav

[2022-11-08 13:58] krasch commented on #48908
@jbrockmendel It was indeed `_timedelta_from_value_and_reso` that did not respect subclasses. Please have a look at my draft PR where I am patching it to restore the previous behaviour. Some open questions:

1. Is there still a need for a separate `timedelta_from_value_and_reso`? It now has exactly the same signature as the classmethod `_from_value_and_reso`. The name might also be confusing now,

[2022-11-08 13:58] krasch commented on #48908
take

[2022-11-08 14:00] joooeey opened #49580 "ENH: support new-style float_format string in to_csv"
### Feature Type

- [X] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

**The `float_format` parameter in `pd.DataFrame.to_csv` doesn't support modern (i.e. since Python 2.6) format strings yet.**

The documentation says about the `float_format` parameter:

The word "format string" appare

[2022-11-08 14:13] vamsi-verma-s commented on #49510
Hi @it176131

I think, this expectation is a bit off as the the function is supposed to show differences.
 doc - `Compare to another Series and show the differences.`

By default equal values are shown as `NaN`s making it easier to view ( maybe does not make sense in `Series`. But, helps in the context of `DataFrame`)

If `keep_shape=True` by default, and this used to compare any series that has m

[2022-11-08 14:33] 2-5 opened #49581 "BUG: Incorrect IntervalIndex.is_overlapping"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`IntervalIndex.is_overlapping` is returning incorr

[2022-11-08 15:03] mar-ses opened #49582 "PERF: Memory leak when return subset of DataFrame and deleting the rest"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

I think the simplest way is for me to just post this bare example which shows

[2022-11-08 15:30] MikaelUmaN commented on #49576
Hey @topper-123  . Thank you for the answer.

I am aware it is a legacy type. The problem is that when I try to migrate away from pd.Int64Index I get a bunch of failed calculations because pd.Int64Index seems to be the default index used when e.g. just passing ints as columns.

That is partly an inconvenience. I tried amending my original post a bit to clarify what I think is strange here.  Essent

[2022-11-08 15:41] jbrockmendel commented on #49582
Can you give this a try on pandas 1.5.1 or main?

[2022-11-08 15:41] it176131 commented on #49510
Thanks for looking at this @vamsi-verma-s

I created this example to hopefully show more of what I think is an issue.

[code]
 With `Series` this doesn't do anything
[code]

So I convert to a `DataFrame` like you mentioned.

[code]

But this doesn't do anything either.

[code]

To keep the method working as intended, should the docstring for `keep_equal` be edited so the user knows that it may not

[2022-11-08 15:53] mar-ses commented on #49582
Yes, the values are quite different, but the issue is the same. Partly, the reason for the different values could be because I ran the main example in Jupyter, while this one I ran directly as a file script. I didn't fully understand why I get this big 2GB offset in the main example.

Here is the output:

[code]

Overall, when constructing and testing the example I posted, as well as dealing with

[2022-11-08 15:56] mar-ses commented on #49582
Also, isn't it a bit weird how the increments in memory usage are not regular? Sometimes it's 600 MB, sometimes 800 MB, sometimes 200. Even though each step should be identical. Do you konw why this could be? Also, if you run this on your system, what values do you get?

[2022-11-08 16:06] Dr-Irv commented on #49497
If we do the API breaking change (and it's really a behavior change), I think we should introduce the  two new params (`name` and `index_name`) so that the old behavior can be obtained by using the new arguments, and by following @jorisvandenbossche examples, it makes user code cleaner anyway.

I checked some of our code, and we have used `value_counts()` in production code outside of notebooks, n

[2022-11-08 16:15] jbrockmendel commented on #49497
if we're telling users "Do X to get the old behavior", why can't the "X" be "use rename(...)" so we don't have to add new arguments?

[2022-11-08 16:52] Dr-Irv commented on #49497
Fair enough.  Having said that, I think that the examples given by @jorisvandenbossche in https://github.com/pandas-dev/pandas/issues/49497#issuecomment-1304566796  suggest that the new arguments would be a good thing.

[2022-11-08 17:14] Dr-Irv commented on #49497
Maybe it is because of symmetry with naming the columns, so if we have `name`, it feels right to have `index_name` from a symmetry perspective.  Having said that, I don't think it is as important of adding `name`

[2022-11-08 17:21] MarcoGorelli commented on #49497
and also given that that's what pandas already does in the groupby (as_index=False) case:
[code]

---

Regarding adding extra arguments, I'd be -1 on that: using `.rename` and `.rename_axis` looks just as clean to me

[2022-11-08 18:26] efagerberg opened #49585 "BUG: Series read_json tries to convert all column values to dates even when using keep_default_dates=True, if one column has an na value"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When a series has a column that could be parsed as

[2022-11-08 18:33] #49340 closed

[2022-11-08 19:49] ilaiyengar commented on #38990
Hi! I am a first time contributor and would love to help. Is there anything that I could possibly be assigned to or help out with?

[2022-11-08 19:50] ilaiyengar commented on #49452
Hi! I am a first time contributor and would love to help. Is there anything that I could possibly be assigned to or help out with?

[2022-11-08 19:53] #48249 closed

[2022-11-08 20:03] mroeschke commented on #49441
@lohmanndouglas while git bisect points to that commit, IMO the "root" issue still points to the behavior of https://github.com/pandas-dev/pandas/issues/49441#issuecomment-1302692153, namely why in `CustomBusinessDay._apply` why we have

[code]

[2022-11-08 21:59] msingh00 commented on #48673
this issue is quite annoying...

[2022-11-08 22:43] drkarthi commented on #21689
@jorisvandenbossche is there still interest in the maintainer community to add the length of the dataframe in **describe()**? Happy to make a contribution picking up from @alexander-ponomaroff's work

[2022-11-08 22:59] simar2001 commented on #49585
Hey I'm a student at the University of Michigan and was looking to contribute for a course project. However, this is my first time contributing to a open-source project. Do you think I would be able to take this one?

[2022-11-09 00:31] jbrockmendel opened #49593 "API: DataFrame(list_with_ea)"
`DataFrame(nested_list)` generally treats each list entry as a row.  The exception (until #49592) is if the first element is a Categorical in which we treated elements as columns.  We have zero tests passing a `list[EA]` except when the first entry is a Categorical, which suggests to me that the behavior here has not gotten much attention.

For non-EA and some EAs (Period, dt64tz, interval) infere

[2022-11-09 02:40] lohmanndouglas commented on #49441
@mroeschke I did not open the PR because I would like to get a deep understanding of what is happening. We might have changed the function `_to_dt64D(dt)` behavior, consequently revealing another bug in the _apply function.

From the following snippet

[code]

I got in `_to_dt64D(dt)` function:

|  dt (input)  | After the #47019 | Before the #47019 |
|:-------------------------------:|:---:|-----|

[2022-11-09 03:10] codamuse commented on #49452
@rhshadrach Sorry but I've been trying to get tests to pass locally and not having much success.  I cloned a fresh repo from `pandas-dev:main`, setup my docker environment, cythonized, then ran tests from the `panda-dev` environment in conda and I get lots of fails even when trying different options to pytest.  Could be something with my setup, I dug into a little bit but couldn't figure it out.

[2022-11-09 04:16] codamuse commented on #49452
encouragingly the CI tests all passed...I'll try to sort out my local environment but I think this PR should be okay

[2022-11-09 04:29] vamsi-verma-s commented on #49510
I think it's more useful for comparing DataFrames that have multiple columns, `keep_equal=True` shows equal so that you can get better context, otherwise shows as `NaN`s to make it easier to view. But, yeah, does not seem very useful in `Series` or `DataFrame`s that have single columns

[code]

[2022-11-09 04:55] topper-123 commented on #49576
dtype `Int64Dtype` is not the same as dtype `int64`, and they have and are expected to have different behavior. Your example (`a - b`) is probably a bug (or a feature that hasn't been developed yet `Int64Dtype` is quite new).

Please notice that while `Int64Index` is deprecated, the dtype `int64` is not and will continue to be available. If you want to keep the old behavior, I recommend to do: `pd

[2022-11-09 08:51] MikaelUmaN commented on #49576
Thanks. Yes that is my main concern; sorry for the confusion.

[2022-11-09 13:22] Samreay commented on #49571
Agreed in that this wasn't meant to be (and shouldn't be) another kitchen sink alternative for query or a Callable loc. Instead, just meant to be a small utility method similar to the existing `df.xs` and `df.filter` methods.

[2022-11-09 14:33] jcaoun commented on #49567
I can take this one if possible

[2022-11-09 14:35] jcaoun commented on #49565
I can take this one

[2022-11-09 14:36] jcaoun commented on #49282
I can take this one

[2022-11-09 15:00] rspocz opened #49598 "BUG: Dataframe.to_excel treats decimal.Decimal as string instead of numeric type, the data in the Excel cell is formatted as a string, not a number"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The code writes value to float.xlsx as number, but

[2022-11-09 16:38] jbrockmendel opened #49599 "API: Series(floaty, dtype=inty)"
[code]

xref #49372

When passing non-round float-like data and an integer dtype we have special logic https://github.com/pandas-dev/pandas/blob/d56f6e2bca75f10bc490aa320c4e1bc295e367bd/pandas/core/construction.py#L598 that ignores the dtype keyword and silently returns a float dtype.  This violates at least 3 aspirational rules of thumb :

1) when a user asks for specific dtype, we should either

[2022-11-09 16:51] mroeschke commented on #49578
It's just historical. Could be changed to capitalize the `b` but since these are psudo-public not sure if its worth the churn to change in pandas

[2022-11-09 17:26] debnathshoham commented on #48848
Is this bug in pandas or pyarrow? :thinking:

[code]

[2022-11-09 17:53] #49573 closed

[2022-11-09 18:23] alexanderwertman3 commented on #49598
Hi, I would like to resolve this issue.

[2022-11-09 18:54] alexanderwertman3 commented on #49399
I would like to work on this for a school project

[2022-11-09 19:12] uzzell commented on #48855
I'll work on the type "W" warning `import-self`.

[2022-11-09 19:21] mroeschke commented on #47944
Looks like the resolution is from the above issue was to add a note in the doc that order is not guaranteed to be preserved when passing `columns`: https://github.com/apache/arrow/pull/14528

We can mirror this note in `pd.read_orc`

[2022-11-09 19:36] mroeschke commented on #49441
|  dt (input)  | After the #47019 | Before the #47019 |
|:-------------------------------:|:---:|-----|
| 2022-07-23 00:00:00+02:00 | 2022-07-22  | 2022-07-23   |

Yeah I think this is the crux of the issue as I think we want the naive wall time (`dt.replace(tzinfo=None)`) instead of the naive absolute time (`dt.astimezone(None)`) from this function. This diff fixes the original example if you wan

[2022-11-09 19:39] rhshadrach commented on #48577
I wrote a script to take the classes in pandas that occur in the documentation but aren't in the public API. There are likely some missing classes as well as false positives here, I've crossed off the ones that I can identify and put the ones I'm not familiar enough with **in bold**. In addition to the top-level and pandas.api I'm considering the following as already being public: pandas.arrays, p

[2022-11-09 19:48] mroeschke commented on #48577
These are documented in `doc/source/reference/testing.rst` and exposed in `pandas/errors/__init__.py`

This is an object from the dataframe interchange protocol that _I think_ should be an implementation detail.

[2022-11-09 19:48] jorisvandenbossche commented on #48577
You can also consider `pandas.errors` as public, which should remove ParserError/Warning.

For XlsxWriter, `pd.ExcelWriter` base class is already public, is that sufficient?

And `pandas.io` is maybe also semi public (we have some usages of that in the docs)

[2022-11-09 19:50] lohmanndouglas commented on #49441
@mroeschke tanks

sure, I would like to open the PR :)

[2022-11-09 20:00] rhshadrach opened #49602 "TST: Subclasses of ExcelWriter should not be allowed to add new public methods"
Ref: #48577

Subclasses of ExcelWriter (e.g. XlsxWriter) should not be allowed to add any public methods so that the methods accessible by users are independent of the engine being used. This appears to currently be the case, but we should add tests for each subclass that would fail if any additional public methods are added.

[2022-11-09 20:02] rhshadrach commented on #48577
Thanks @mroeschke / @jorisvandenbossche - I've updated the script to include `pandas.errors` and remove the ParserError/Warning.

If we agree that subclasses of ExcelWriter should not be allowed to add any public methods, then it would be sufficient. That looks to currently be the case, and I think that is a reasonable restriction on the subclasses. I've crossed out XlsxWriter and opened #49602.

[2022-11-09 20:10] rhshadrach opened #49603 "BUG: DataFrame reductions with object dtype and axis=1"
In pandas 1.5.x and before, the dtype of the result is different when using `axis=1`:

[code]

When using `axis=0`, both the examples above result in object dtype. #49551 changed the `numeric_only=False` case to return `float64` in order to preserve the default behavior. However, it seems better to have the result be object dtype for both examples above instead.

[2022-11-09 20:11] seljaks commented on #49473
Hi, I'll take a look at `drop` and see how it goes.

[2022-11-09 21:01] #43222 closed

[2022-11-09 21:01] #38623 closed

[2022-11-09 21:01] #42883 closed

[2022-11-09 21:01] #46173 closed

[2022-11-09 21:09] lithomas1 opened #49604 "BUG/CLN: Vendored ujson Module"
While working on the meson build integration, I've discovered that the JSON Module is doing some sketchy things.

1) The ujson extension module should not be named json.

    This can result in a really nasty segfault, since our ujson module tries to initialize numpy's array api(via ``import_array``). In the C code on numpy's side, numpy then tries to import itself. During this process, it needs t

[2022-11-09 21:15] WillAyd commented on #49604
Yea I think we can internally reference it always as ujson to avoid conflicts with the stdlib. I did this in the CMake POC if you need a reference.

As far as issue 2 is concerned are we appropriately including the header files? If the fix from that issue didn't help can you provide the build warning to review?

In the past we would explicitly fail setup on any build warnings because setuptools co

[2022-11-09 21:27] WillAyd commented on #49604
See https://github.com/pandas-dev/pandas/issues/33315 for history

[2022-11-09 21:28] lithomas1 commented on #49604
[code]

Here's the snippet that builds the json module.

[code]

[2022-11-09 21:30] lithomas1 commented on #49604
The only thing I can think of right now, is to remove ``src/ujson/lib`` and ``src/ujson/python`` from the include dirs, since meson includes the source directories as include directories implicitly I think.

I vaguely remember meson messing up headers if they happen to get double included.

[2022-11-09 21:37] WillAyd commented on #49604
Hmm I don't think meson would be doing anything with the headers. Most headers in C should have an include guard to prevent them from being double injected, but that's outside the scope of what meson would do I think.

What if you changed the header in ujson.c to be `#include headers/portable.h` and then added `pandas/_libs/src` to your `include_dirs`?

[2022-11-09 21:41] WillAyd commented on #49604
You might also want to try and execute meson via `VERBOSE=1 <meson_invocation>`, which I'm guessing would show you the actual command that gcc tries to execute. That would be very helpful to diagnose as part of the traceback

[2022-11-09 21:45] rwijtvliet opened #49606 "BUG: `DatetimeIndex.is_year_start` returns incorrect array if `.freq == 'MS'`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The `.freq` property of the `DatetimeIndex` influe

[2022-11-09 22:25] phofl commented on #49521
I think this is a bit different. The op should already work

[2022-11-10 00:41] alexanderwertman3 commented on #49606
I can take this one

[2022-11-10 02:02] eli-schwartz commented on #49604
Well, `ninja -v` specifically. There's an open PR for meson-python to support passing `pip install --config-settings` options through into meson itself,

[2022-11-10 03:27] jbrockmendel opened #49612 "BUG: is ser[:2] with Int64Index positional or label-based"
[code]

Focusing only on Integer-dtype indexes, i.e. Int64Index, UInt64Index, RangeIndex, and NumericIndex[inty].

`ser[2]` and `ser[[2]]` each treat the indexing as label-based instead of positional.  But `ser[:2]` treats the slice as positional instead of label-based.

We've deprecated some of these cases in #45162, but as I go to enforce the deprecation I think I screwed up and issued the warni

[2022-11-10 08:12] catmar22 commented on #49602
take

[2022-11-10 09:07] debnathshoham commented on #48848
Reported [Bug](https://issues.apache.org/jira/browse/ARROW-18297?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel) in arrow.

[2022-11-10 14:30] grtcoder commented on #47944
Hey, I would like to take this up

[2022-11-10 15:02] blazespinnaker opened #49617 "ENH: ignore_index for Series corr"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Sometimes you can get pretty strange results with simple operations on Series.corr(Series) because of index mismatches.  An ignore_index would be very useful.

### Feature Description

eg, s1.corr(s2, ignore_index = T

[2022-11-10 16:18] rhshadrach opened #49618 "BUG: DataFrame float reductions with object input"
By "float reduction", I mean any reduction that would coerce bool or int to float - e.g. mean, std, skew, kurt.

Along with bool and int, we also coerce object to float:

[code]

The reason we cast bool / int to float is to make the resulting dtype not value-dependent. However it's not clear to me if this is the correct thing to do with object. I think I would have expected to get object dtype bac

[2022-11-10 16:30] jrbourbeau opened #49620 "BUG: `Series.searchsorted(...)` fails with `Timestamp` `DataFrame`s"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`Series.searchsorted` has inconsistent behavior th

[2022-11-10 17:58] Mostly-BSD opened #49623 "BUG: Column of Lists becomes Column of ndarray after writing to feather or parquet formats"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When a dataframe with column of lists is written t

[2022-11-10 18:00] yqyqyq-W commented on #49620
I have reproduced this issue on the main branch. I also tried `float`, `str` and 'bool'. Their behavior on `DataFrame` is the same as `Series`. It seems that there is an implict conversion happens when `searchsorted` receives `DataFrame`. In this conversion, `Timestamp`  is converted to `StringArray`. I will try to take this issue to see if I can make it support the `Timestamp` type.

[2022-11-10 19:58] jbrockmendel commented on #49620
i don't think it is, this should raise consistently

[2022-11-10 20:07] yqyqyq-W commented on #49516
Although I have reproduced the issue on the main branch, I am not sure whether `join` two `DataFrame` with different numbers of the index is supported. We can run `result = right.join(left, how="outer", on='key')` to get the right columns but slightly different keys. The issue happens because the `how=outer` simply doesn't work and `join` takes the key from `right`. I will try to take this issue t

[2022-11-10 20:32] #49247 closed

[2022-11-10 20:33] #49277 closed

[2022-11-10 20:34] #42482 closed

[2022-11-10 20:36] #49441 closed

[2022-11-10 20:59] MarcoGorelli commented on #49571
thanks for the suggestion

closing for now as the bar for the (already huge) API is very high, and the existing methods already allow you to do this

[2022-11-10 20:59] #49571 closed

[2022-11-10 21:46] mroeschke opened #49629 "TST: Use stronger assertion in `pandas/tests/groupby/test_allowlist.py::test_regression_allowlist_methods`"
Before https://github.com/pandas-dev/pandas/pull/49611, `test_regression_allowlist_methods` was a comprehensive groupby test that asserted `frame.groupby(...).op(...)` was equivalent to `frame.op(level=..., ...)`. Now that `level` has been removed, this test should ideally have a stronger assertion than current testing that a DataFrame is returned; ideally using `tm.assert_frame_equal`

[2022-11-10 21:54] eshanja1n commented on #49623
take

[2022-11-10 22:00] pbhoopala commented on #49561
take

[2022-11-10 22:09] pbhoopala commented on #49279
take

[2022-11-10 22:14] eshanja1n commented on #49309
take

[2022-11-10 23:25] jbrockmendel opened #49631 "Series[dt64].astype(int64) vs Series[Sparse[dt64]].astype(int64)"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The dense version goes through `DatetimeArray.asty

[2022-11-11 00:00] eshanja1n commented on #48581
take

[2022-11-11 00:02] Hikipeko commented on #49581
Hi, @2-5 thanks for the bug report.

I guess that the overlapping region doesn't exist since the `from_arrays` function return intervals that are open on the right and closed on the left. So the interval `(45, 45]` is an empty one and won't cause a problem.

However, if the above is true, idx_1 should return False instead of True. This should still be a bug.
[code]

[2022-11-11 00:20] 2-5 commented on #49581
I wasn't sure what was the correct behavior. I only encountered the issue when having consecutive empty intervals - `(45, 45], (45, 45]`, so I assumed that `IntervalIndex` doesn't allow duplication at all. If there is a single empty interval, the bug doesn't seem to occur.

I encountered the problem by passing a similar `pd.IntervalIndex` to `pd.cut(..., bins=idx_1)`, which then raises an exceptio

[2022-11-11 01:11] wany-oh opened #49632 "BUG: Differences in setting value error between string dtype and others"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

[code]

### Issue Description

Normally (in the case of nullable dtypes),

[2022-11-11 01:39] #13666 closed

[2022-11-11 03:04] suzuki-shm opened #49633 "BUG: Cannot parse query for df.query() with column name containing two-bytes parenthesis."
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

A error has happened as follow.
[code]

### Expect

[2022-11-11 03:19] datapythonista commented on #49194
@pandas-dev/pandas-core can you please add a comment with any issue/PR you want to fix before 1.5.2 release? If we're not waiting for anything in particular I'll be releasing beginning of next week. If there is something pending we want to wait for, I'll postpone to the beginning of the week after. Thanks!

[2022-11-11 08:55] MarcoGorelli opened #49638 "DOC add git fetch upstream to instructions"
Seems like forks on GitHub no longer come with tags by default, and this is causing issues for a few new contributors

Let's just a line with `git fetch upstream` right after:

https://github.com/pandas-dev/pandas/blob/e23492800af4ca9e307b0f9430bcd6f354d6fcf2/doc/source/development/contributing.rst#L139

[2022-11-11 09:30] MarcoGorelli commented on #49194
Would like to get a FutureWarning for https://github.com/pandas-dev/pandas/issues/49497 in (as suggested in the last dev meeting) if possible, I'll raise a PR today

[2022-11-11 10:07] topper-123 commented on #49572
Hi @ramvikrams. Thanks for taking a look at it:-) I didn’t know where to change the code when I wrote the issue, it’s just going head first in and grinding till I figured it out :-).

You can see the results of my own work in the linked PR #49637. However it turns out that adjusting the test suite is quite a lot of work, so if you want to help out, I’d absolutely appreciate it.

For example, you c

[2022-11-11 10:15] ramvikrams commented on #49638
Done sir

[2022-11-11 10:20] ramvikrams commented on #49572
thanks @topper-123 sir. I will surely take a look at the linked pr and try to add the fixed tests after trying. Thank you again sir for your help.

[2022-11-11 10:24] #49638 closed

[2022-11-11 13:19] aiwalter opened #49641 "BUG: Write and read parquet changes index type from PeriodIndex to int values of DataFrame with MultiIndex"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When I write a `DataFrame`  with a `MultiIndex` th

[2022-11-11 14:39] Dr-Irv opened #49644 "BUG: groupby.nth() providing incorrect results in development code"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

With the development version, you get:
[code]
With

[2022-11-11 15:08] wence- opened #49646 "DOC: description of `sort` argument to `pd.concat` is confusing in `join="inner"` case"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

### Documentation problem

`pandas.concat` says (of the `sort` argument):

My reading of this is that irrespective of wh

[2022-11-11 17:08] MarcoGorelli opened #49647 "STYLE place standard library imports at top of file"
Imports should typically be placed at the top of files. Sometimes, imports are placed inside functions to:
- avoid circular imports
- avoid `ImportError` if it's an optional dependency

Standard library imports should really always be at the top of files.

Noticed in https://github.com/pandas-dev/pandas/pull/49645 that this is often not the case

I've made a script to automate detecting when this

[2022-11-11 17:10] stettberger opened #49648 "ENH: pd.select_quantiles() -- Select those rows that are at a given quantile"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I often find myself in the situation that I not only want to know the minimum and the maximum of a given column, but the row(s) that are at that value. For example, to form sentences that read like "We achieve up to X

[2022-11-11 17:10] MarcoGorelli commented on #49644
Nice - out of interest, how did you spot this?

Am running git bisect on this https://www.kaggle.com/code/marcogorelli/pandas-regression-example?scriptVersionId=110720326

[2022-11-11 17:22] Dr-Irv opened #49649 "BUG: warning from typing library if you subclass a DataFrame using Generic with python 3.11"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

With pandas 1.5.1 and python 3.10, the code above

[2022-11-11 17:25] ramvikrams commented on #49572
Sir it will take some time for  writing tests have some college work this weekend.

[2022-11-11 17:31] lbittarello opened #49650 "BUG: `maybe_convert_objects` fails for byte series"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.
- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The nightly version of `maybe_convert_objects` has b

[2022-11-11 17:36] MarcoGorelli commented on #49644
Actually, looks like this was intentional https://github.com/pandas-dev/pandas/pull/49262/files

Should be OK to close then?

[2022-11-11 17:39] MarcoGorelli commented on #49644
This changed in https://github.com/pandas-dev/pandas/pull/49262  , and looks like it was intentional:

should be OK to close then?

[2022-11-11 17:43] mroeschke commented on #49647
Noting in the past that some stdlib imports were deferred (i.e. not at the top level) to help import time (not sure if this is still the case)

https://github.com/pandas-dev/pandas/blob/e41b6d7827720df90a51ff05caa689333d7e02af/pandas/io/common.py#L259-L266

[2022-11-11 17:43] MarcoGorelli commented on #49644
This is now the same as
[code]

Closing for now then, but cc @rhshadrach in case this is an issue

[2022-11-11 17:43] #49644 closed

[2022-11-11 17:45] #49508 closed

[2022-11-11 17:49] MarcoGorelli commented on #49647
Ah thanks! Can probably just respect the blocklist

https://github.com/pandas-dev/pandas/blob/bcb8346e8106be4267ec77dfc603d0d77a3fda81/ci/code_checks.sh#L48-L50

[2022-11-11 17:54] rhshadrach opened #49651 "BUG: groupby.fillna reorders results when dropping a null value"
[code]

When a null value is dropped, the output can get ordered incorrectly. The expected order of values for `b` is `[0.0, 1.0, 2.0, 3.0, np.nan]`.

[2022-11-11 21:08] max0x7ba commented on #48673
Me too, `df.update()` does:
[code]

[2022-11-11 21:21] MarcoGorelli opened #49656 "STYLE enable pylint's redefined-outer-name"
This warning could potentially prevent bugs, so I'm pretty keen on putting in the effort to enable it.

Many people can work on this one together. To work on it, please:
1. choose 2-3 files
2. make sure you have `pylint` version 2.15.5 installed (`pip install pylint==2.15.5`) - check this is the same as the number in the `.pre-commit-config.yaml` file
3. for each file, run `pylint --disable=all --

[2022-11-11 21:24] MarcoGorelli commented on #48855
I've opened a separate issue for `redefined-outer-name`, in case anyone here wants to contribute towards that one: https://github.com/pandas-dev/pandas/issues/49656

It'll take a while to enable it, but I really think it'll be worth it

[2022-11-11 22:01] tobiscode opened #49657 "BUG: drop_duplicates raises FutureWarning after resetting index"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I get the following warning:

[code]

### Expected

[2022-11-11 22:56] ramvikrams commented on #49647
`git pull git@github.com:MarcoGorelli/pandas.git standard-library-imports`
It ahowd `git@github.com: Permission denied (publickey).` this error

[2022-11-11 23:30] jreback commented on #49648
-1 on adding api

not sure it's worth support for functions like this that are composable

sure maybe these should exist in an addon package but note core pandas

[2022-11-12 05:37] samukweku commented on #39154
@ELHoussineT pls kindly take over with regards to this PR. Thanks

[2022-11-12 05:59] grtcoder commented on #49656
Hey, I would like to work on this

[2022-11-12 06:12] MarcoGorelli commented on #49656
go ahead - as mentioned in the issue:

[2022-11-12 06:15] topper-123 commented on #49572
Alright no problem. If you got the time you're welcome to join back in (or do other separate PRs if that is more to your liking).

[2022-11-12 06:36] ramvikrams commented on #49572
i'll join back sir

[2022-11-12 06:45] ramvikrams commented on #49656
I'll take `pandas\core\algorithms.py` , `pandas\core\generic.py` , `pandas\core\resample.py` these three files

[2022-11-12 08:02] grtcoder commented on #49656
I'll take

1. `pandas\core\accessor.py`
2. `pandas\core\api.py`
3. `pandas\core\apply.py`

[2022-11-12 11:01] zemnly commented on #48779
Hi, I'd like to take a shot at this. Gonna be my first contribution here. I've been using Pandas on and off for my job since the past 3 years (:

[2022-11-12 11:02] zemnly commented on #48779
take

[2022-11-12 11:19] erfannariman commented on #39154
I've been busy with work, but I would still like to give this one more serious try if it's okay with the others.

[2022-11-12 13:00] fedorkobak opened #49663 "BUG: Different behavior for different index types"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I created one `RangeIndex` and one `Int64Index`. B

[2022-11-12 13:14] grtcoder commented on #49663
I would like to work on this.

[2022-11-12 15:29] giridhrubajyoti2002 commented on #49656
I'll take `pandas/core/internals/concat.py`, `pandas/core/reshape/merge.py`, `pandas/io/json/_json.py`.

[2022-11-12 16:36] bhaveshrp commented on #49656
I'll take

1. pandas\core\frame.py
2. pandas\core\dtypes\inference.py

[2022-11-12 16:49] alphacrack commented on #49656
I'll take:
pandas/core/dtypes/cast.py
pandas/core/dtypes/dtypes.py
pandas/core/indexes/base.py

[2022-11-12 16:58] addisonklinke opened #49667 "BUG: inconsistent groupby sample results despite same `random_state`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

**NOTE:** you must run the code as a *script* so t

[2022-11-12 17:09] dalejung commented on #13666
Does it make sense for `nth` to be a filter while `last`, `first` are reducers? Relying on the index of aggregated output being the group keys is common behavior. This would break existing code so maybe deprecate first?

[2022-11-12 17:15] rhshadrach commented on #13666
But nth does not aggregate. Only `nth(0)` and `nth(-1)` will always aggregate; all other arguments to nth act as filters, which may happen to also aggregate depending on the values of the input. For example,

    pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]}).groupby('a').nth(1)

is an empty DataFrame. This is not an aggregation. pandas has (mostly :laughing:) well-defined behavior on how aggregat

[2022-11-12 17:47] addisonklinke commented on #49667
TLDR not a Pandas issue, but there are some interesting lessons to learn

Figured out the root issue here - converting to `set()` second undoes the sorting since sets are unordered. This means `BA` could randomly evaluate to either `(A, B)` or `(B, A)`. Run this code to prove it

[code]

With enough iterations, you'll see `AssertionError: Unexpected sorting result: ('B', 'A')`. That also explains

[2022-11-12 17:47] #49667 closed

[2022-11-12 18:05] natmokval commented on #48855
I'm working on `self-assigning-variable`

[2022-11-12 19:06] uzzell commented on #48855
I looked at `comparison-with-itself`.  If I counted correctly, there were 72 warnings, all of which were false positives.  Does it make sense to keep it enabled?

[2022-11-12 19:19] MarcoGorelli commented on #48855
Thanks @uzzell , yeah let's keep that one off thanks

[2022-11-12 19:26] rhshadrach commented on #49543
Thanks @jorisvandenbossche! Any and all thoughts (critical or not) are much appreciated. `apply` is a particularly hard method to reason about.

Agreed on your objection to the name (and I think @WillAyd's as well). I'm focusing on the other aspects here first, and if we find something we want to move forward with, we can workshop the name. I'll keep calling it `keys_axis` for now for consistency.

[2022-11-12 19:33] rhshadrach opened #49673 "API: Clarify difference between agg and apply for Series / DataFrame"
Currently the use of `Series.apply` / `Series.agg` and `DataFrame.apply` / `DataFrame.agg` is confusing. In particular, sometimes the user calls `apply` and gets the results of `agg` or vice-versa:

 - `apply` with list- or dict-like arguments calls `agg`.
 - `DataFrame.agg` with a UDF calls `DataFrame.apply`.
 - `Series.agg` with a UDF calls `Series.apply`, and if this fails, attempts to pass the

[2022-11-12 20:35] honza26 commented on #48779
@zemnly Nice :) Good luck!!

[2022-11-12 21:06] ashton77 commented on #49413
Hey @tmccall8829 @debnathshoham
I'm a beginner here and trying to pick up this issue as my first. Some assistance here would really help.

Am I looking in the right place [here](https://github.com/pandas-dev/pandas/blob/e634b345fdd8783ba86d57fa39ec699206fac66e/pandas/io/sql.py#L601) ?

Thanks in advance!

[2022-11-12 21:31] rhshadrach commented on #49543
Reflecting on your comments more, I'm not sure this is what you're necessarily getting at, but it occurs to me that we have `agg` for aggregations, `transform` for transformers, so we shouldn't restrict `apply` to having to support either one of those. If users want those behaviors, there are functions readily for them. `apply` should be for functions that don't fit these molds.

To reason about t

[2022-11-12 22:11] aditya-anulekh commented on #49656
Added a pull request fixing the following files

* `pandas/core/indexes/datetimes.py`
* `pandas/io/formats/xml.py`
* `pandas/io/json/_table_schema.py`

[2022-11-13 07:36] milosivanovic commented on #48673
I'm getting this with both:

[code]
and the equivalent (in my case):
[code]

Additionally, neither line's syntax matches the warning, which just adds to the confusion. It is clear from this bug report that the warning itself should not be showing regardless.

This StackOverflow entry directly references the `df.update` FutureWarning bug: https://stackoverflow.com/questions/74342791/pandas-datafram

[2022-11-13 07:58] dannyi96 commented on #49657
Have confirmed that this issue exists in latest released version 1.5 but is fixed in main ( for next 2.0 release ) via changes made in PR #49458 (in file pandas/core/indexes/base.py ).

@mroeschke would this be a change which would need to be backported to 1.5 as well ? or its fine for fix to be in next 2.0 release ?

[2022-11-13 08:28] MarcoGorelli commented on #49194
There's still some disagreement on the above PR, I'd suggest we wait until 1.5.3 (which I presume will likely happen before 2.0.0?) to get that in

So, not a blocker, no objections on my end to release on Monday

[2022-11-13 08:50] topper-123 commented on #49673
I very much agree. Having `df.agg`always return a `Series`would be a win in terms of users understanding their code and it makes the internal organization of the pandas code base clearer, that's a double win:-).

[2022-11-13 11:53] nandinimalik16 commented on #49656
I will take

1. pandas/_version.py
2. pandas/conftest.py
3. pandas/io/formats/format.py

[2022-11-13 14:34] jreback commented on #49194
agree - do not block in the above

[2022-11-13 14:35] rhshadrach commented on #49572
+1, cc @jbrockmendel @phofl

[2022-11-13 14:40] rhshadrach commented on #49194
Would be good to get #49676 in (it's all set I think); definitely not a blocker.

[2022-11-13 14:45] topper-123 opened #49679 "REF: refactor tests.indexes.base_index::TestIndex"
A lot of the tests in `tests.indexes.base_index::TestIndex`look like they could like they could be improved to moving them to `tests.indexes.common.Base` and adapting subclasses as needed. This would give better test coverage.

See discussion in https://github.com/pandas-dev/pandas/pull/49678#discussion_r1020889176.

[2022-11-13 15:32] ELHoussineT commented on #39154
@erfannariman Sure thing, if you decided to stop working on it, please ping me to start.

[2022-11-13 17:44] lithomas1 opened #49683 "TRACKER: Getting Started with Meson/Bug Reports"
# Background
In pandas-dev/pandas#49115, we are adding support for a new build system meson. This build system addresses some of the flaws of the setuptools-based build system, such as race conditions on parallel builds. It is also much simpler and easier to understand, and we'll be able to clean up a bunch of build related code once it's merged.

# How to build/test with meson
[code]

# Timeline

[2022-11-13 18:12] zemnly commented on #48779
Getting the same issues as Justin, hope someone else will have better luck.

[2022-11-13 18:16] grtcoder commented on #49647
Hey, I would like to work on this.

[2022-11-13 18:57] jbrockmendel commented on #47130
Following #49684, an easy (but non-performant) way to implement this will be `folds = np.array([x.fold for x in self], dtype=bool)`.  For a more performant implementation we'd need to refactor out parts of ints_to_pydatetime.

[2022-11-13 19:10] MarcoGorelli commented on #49647
sure go ahead

[2022-11-13 19:27] jbrockmendel commented on #49194
There's a spurious warning produced by DataFrame.update that we should fix or at least suppress

[2022-11-13 20:36] topper-123 commented on #49663
Yeah, this is a bug, thanks for catching. Probably connected to differences between `RangeIndex` and `Int64Index` implementation of `to_numpy`.

If you want a go at fixing this, we welcome contributions.

[2022-11-13 22:12] randolf-scholz commented on #33603
The current behaviour seems self-inconsistent:

[code]

One would expect that if string values are passed they should simply be cased via `pd.Timedelta`

[2022-11-13 22:15] isaac-chung commented on #49656
I'll take:

1. `pandas/io/formats/style.py`
2. `pandas/io/json/_json.py`
3. `pandas/io/xml.py`

[2022-11-14 01:16] mauripops commented on #24976
Had the same issue, accidentally caused by 2 versions of Pandas in case anyone else also runs into it

[2022-11-14 04:12] zemnly commented on #49647
Hi, can I take this ?

[2022-11-14 09:40] MarcoGorelli commented on #49647
looks like @grtcoder is already working on it

[2022-11-14 10:39] MarcoGorelli commented on #49543
You'll need to set up an account on Kaggle, and download a token https://github.com/Kaggle/kaggle-api#api-credentials, and then
[code]
should work

Then you can just remove all outputs with `nbstripout` and `grep` for patterns you want

[2022-11-14 11:36] topper-123 commented on #49663
I've looked more into this, and the underlying issue is that `Index.to_numpy` by default does not copy, but returns the original ndarray underlying the Index. E.g.

[code]

So the issue exists in both your examples, it's just hidden in the first one.

It seems the current behaviour was added intentionally, as there are tests for this that require the returned array from `to_numpy` to be a referenc

[2022-11-14 11:42] jreback commented on #49663
the change should be to return a read only array here

[2022-11-14 12:40] mshumayl commented on #49656
Hi, I'd like to work on:
1. `pandas/util/_decorators.py`
2. `pandas/util/_doctools.py`
3. `pandas/util/_test_decorators.py`

[2022-11-14 13:02] topper-123 commented on #49663
yeah, that’s also reasonable.

[2022-11-14 13:16] PolarSprings opened #49695 "df.rename not working with list of dataframes"
I have a list of dataframes, df1,df2 ... df6. I want to rename all columns in these dataframes in the same way. However, when I run through it with a for list, the columns are not changed.

Here is my before dataframe:
![exp_dt1_example](https://user-images.githubusercontent.com/44984518/201668870-62f2c8f3-b30d-4390-9615-cba332d6e411.PNG)

My code:
[code]

And my after dataframe:
![exp_dt1_example

[2022-11-14 13:27] MarcoGorelli commented on #49695
Hi - please post a reproducible example, see

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

for how

[2022-11-14 13:29] MarcoGorelli commented on #49695
Actually, let's try again 😄 Please open a new issue, and don't skip the template this time

[2022-11-14 13:29] #49695 closed

[2022-11-14 13:50] rwijtvliet opened #49696 "BUG: `DatetimeIndex.tz_convert()` has incorrcect `.freq` attribute"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

See inline comments.

### Expected Behavior

`i2`

[2022-11-14 13:57] rwijtvliet commented on #49567
To clarify: I can use the `i.ceil('H', nonexistent='shift_forward')` to get the correct values. However, this should not be necessary, as it should be clear what each rounded-up timestamp is. If it's "2020-03-29 01:50+0100" in the "Europe/Berlin" timezone, the next full hour is "2020-03-29 03:00+0200" (which does exist).

[2022-11-14 14:30] rwijtvliet opened #49697 "BUG: Resampling monthly/quarterly/yearly index with day-offset."
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Resampling to monthly, quarterly, or yearly values

[2022-11-14 15:14] wence- opened #49699 "BUG/API: behaviour of floordiv with `bool` operands is very inconsistent"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

If only one operand is a `Series`, we consistently

[2022-11-14 15:54] shogohida commented on #49443
Some tests failed but I wanted to make sure if my understanding is correct at first. Can you have a look?

https://github.com/pandas-dev/pandas/pull/49698

[2022-11-14 16:10] iKolt commented on #6697
This code works fine:

`df['col'] = df['col'].map(replacing_dict).combine_first(df['col'])`
or
`df['col'] = df['col'].map(replacing_dict).fillna(df['col'])`

Usage of `fillna` is faster for small Series (checked some atrificial cases - 2x speedup) than `combine_first`, but `combine_first` is more self-commenting for me and the difference in speed is fading than Series is ~10K lines or more

[2022-11-14 16:23] jbrockmendel commented on #49663
+1

[2022-11-14 16:38] MarcoGorelli commented on #49497
From the last pandas-dev call, it was agreed that this change is desirable, but there's no agreement. I can see the following options:
1. always raise a warning on `.value_counts` calls
2. add `name` argument, raise warning if `name` is None
3. add `name` and `index_name` arguments, raise warning if either is None
4. change in 2.0.0 without runtime warning

In short, I'd favour option 4. I'll go t

[2022-11-14 16:59] attack68 commented on #49230
Note that `Styler.to_string` is also a workaround

[code]

[2022-11-14 19:29] markopacak commented on #47944
@mroeschke is it just about adding a note like

to `read_orc`?

I see @grtcoder is working on multiple issues ATM. Perhaps I could take this? It would be my first contribution to Pandas.

[2022-11-14 19:43] mroeschke commented on #47944
Correct. Yeah anyone is welcome to open up a pull request to tackle this issue

[2022-11-14 19:48] markopacak commented on #47944
take

[2022-11-14 20:07] mroeschke commented on #49657
Looks like https://github.com/pandas-dev/pandas/pull/49458 fixed this because FutureWarning was removed to enforce the deprecation; therefore, it can't be backported to 1.5.2 since it would be a breaking change.

Overall this will be fixed in 2.0. A backport PR would be accepted, but it needs to be based on the 1.5.x branch.

[2022-11-14 20:38] PolarSprings opened #49701 "BUG: df.rename() does not work when used in a loop"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Dataframe.rename() does not change column names as

[2022-11-14 21:02] jbrockmendel commented on #49701
when you call .rename you're getting a new DataFrame object back, so shouldn't expect `df` to be altered.

[2022-11-14 21:20] StevenLi-DS opened #49702 "BUG: incorrect type hint for subset in dropna"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

![CS-JCBE5roQ](https://user-images.githubuserconte

[2022-11-14 21:24] phofl commented on #49701
Agreed, this behaves as expected

[2022-11-14 21:24] #49701 closed

[2022-11-14 21:24] PolarSprings commented on #49701
Sorry, but I don’t understand. How is calling that any different than just assigning it to itself outside of a for loop?

[2022-11-14 21:25] phofl commented on #49702
Hi,

Thanks for your report. Are you using our stubs? If yes, this should go there too

[2022-11-14 21:28] StevenLi-DS commented on #49702
I don't say it in my conda list, so i guess no?
![CS-1Llozygc](https://user-images.githubusercontent.com/33796896/201769334-9aa9dd12-98b1-4dbd-80a1-2cf4bbf37a30.png)

[2022-11-14 21:31] phofl commented on #49663
Is this a regression? Otherwise no need to label as 1.5.2

[2022-11-14 21:34] jbrockmendel commented on #49701
The loop is irrelevant.  Consider:

[code]

When you do this, you no longer have `dataframe is df`.

[2022-11-14 21:35] phofl commented on #49657
I can see this on 1.4.4 but neither on 1.5.0 nor on 1.5.1,

[2022-11-14 21:36] phofl commented on #49632
Agreed, this should be consistent I think

[2022-11-14 21:45] phofl commented on #49650
Hi, thanks for your report. This was caused by #49590

cc @jbrockmendel Was this intended?

[2022-11-14 21:51] phofl commented on #49598
Investigations welcome, but the other issue indicates that openpyxl can not handle decimal.

[2022-11-14 21:57] PolarSprings commented on #49701
Clear. Thank you!

[2022-11-14 22:16] rspocz commented on #49598
For openpyxl, decimal should be supported from version 1.7.0 (2013-10-31) https://foss.heptapod.net/openpyxl/openpyxl/-/blob/branch/3.0/doc/changes.rst

For xlsxwriter, decimal should be supported from version 0.3.8 (August 23 2013) https://xlsxwriter.readthedocs.io/changes.html

I found out both by quickly looking at the change log, needs to be confirmed. But it seems like an optimistic start.

@

[2022-11-14 23:07] jbrockmendel commented on #49650
no that was not intended

[2022-11-14 23:08] jbrockmendel commented on #49650
though i think something may be fishy with dtype="bytes", id expect that to cast to object dtype

[2022-11-14 23:32] spillz opened #49703 "ENH: Stop breaking stuff"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Almost every new version of pandas breaks a lot of code, much more than version upgrades of all other libraries my team uses. It would be really beneficial to the community to have a much more stable, and planned out,

[2022-11-15 00:26] dannyi96 commented on #49657
@phofl yes, you're right ( my bad, the issue is present on older versions 1.4.x & is handled in 1.5.x )
I believe we can close this issue.

[2022-11-15 01:42] jbrockmendel commented on #49612
@jreback

[2022-11-15 02:38] jreback commented on #49703
if u have constructive comments then we are happy to hear about them

pandas is an open source package and you or anyone out there is welcome to contribute and make things better

[2022-11-15 02:38] #49703 closed

[2022-11-15 03:24] seanjedi commented on #49656
Hi, I'd like to work on:
1. `pandas/io/formats/style.py`
2. `pandas/io/json/_json.py`
3. `pandas/io/xml.py`

[2022-11-15 03:29] KianYang-Lee commented on #24537
No, I'm not. Got caught up with work. Sorry and Please proceed

[2022-11-15 03:47] seanjedi commented on #48855
I'm working on `wrong-import-order`

[2022-11-15 05:00] datapythonista commented on #49194
Is there any work on this, or an issue to track? Planning to start the release shortly.

[2022-11-15 05:02] WillAyd commented on #49543
Does `keys_location` make things any clearer? Yes I was confused before but @jorisvandenbossche did a great write up. Not sold on that as a name either but axis is definitely confusing

I think also would be easier to borrow the terminology from pivot_table of `index` and `values` rather than `index` and `columns`, as `columns` to me infers axis=1. I guess `index` and `values` would still be confu

[2022-11-15 05:02] datapythonista commented on #49194
I created the 1.5.3 milestone and rolled all 1.5.2 issues and PR to it. Waiting for the CI on #49705 to complete, and more info from @jbrockmendel on the mentioned warning, and I'm ready to start the release  of pandas 1.5.2 after that.

[2022-11-15 05:28] WillAyd commented on #49497
Also +1 to option 4

[2022-11-15 07:22] WillAyd commented on #49543
key_placement might also be an option

[2022-11-15 07:52] MarcoGorelli commented on #48855
thanks but we're not doing that one, check the end of the issue description

[2022-11-15 08:06] zemnly commented on #49656
Are there any files which haven't been taken so I can work on them?

[2022-11-15 08:18] MarcoGorelli commented on #49656
Yeah there's still some, I've updated the issue with an up-to-date list

Note that https://github.com/pandas-dev/pandas/pull/49668/files is already tackling some, but the rest should be up for grabs

Thanks all for your help with this one 🙏

[2022-11-15 08:36] calhockemeyer commented on #49656
I will take: `pandas/core/resample.py`. I think that's the only file that hasn't been taken

[2022-11-15 09:27] bang128 commented on #49656
Can I also contribute to `pandas/core/algorithms.py`?

[2022-11-15 09:30] ramvikrams commented on #49656
Yes you can i'll leave that file

[2022-11-15 09:32] bang128 commented on #49656
Thank you so much!

[2022-11-15 12:24] jreback commented on #49497
+1 to option 4 ; option 3 wouldn't object (but also noisy)

[2022-11-15 12:31] attack68 commented on #49497
+1 option 4.  option 2 and 3 I'm somewhat indifferent to. - seeing merits and drawbacks.

[2022-11-15 12:58] capnahab opened #49710 "QST: Cannot import Pandas into Jupyter Lab, 'AttributeError: module 'numpy' has no attribute 'ndarray'"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/74434416/i-cannot-import-pandas-into-jupyter-lab-attributeerror-module-numpy-has-n

#

[2022-11-15 13:00] lohmanndouglas commented on #49606
- [x] I have confirmed this bug exists on the main branch of pandas.

------

I was investigating this issue, as I understood there is something strange in the function [get_start_end_field](https://github.com/pandas-dev/pandas/blob/main/pandas/_libs/tslibs/fields.pyx#:~:text=if%20freqstr%3A,start_month%20%3D%201).

[strange]
**If freq == 'MS':
  month_kw == 12 (default)
  start_month == 12
  end_

[2022-11-15 13:29] jorisvandenbossche commented on #49543
**On the transform case**

Just to be very specific about the exact behaviour you are thinking of: would it be adding the original column (used as key) from the calling dataframe to the result as an index level / column and thus keeping the original order? (which is _not_ what group.apply with `group_keys=True` does)
So using the following example dataframe (and using current API to mimic the resu

[2022-11-15 14:19] #16713 closed

[2022-11-15 14:24] #49710 closed

[2022-11-15 14:24] jorisvandenbossche commented on #42907
For future reference, see also the comments on one of the PRs that tried to address this: https://github.com/pandas-dev/pandas/pull/43058#discussion_r690722366. In some case the transform function _is_ actually applied on the group DataFrame (and not column-by-column). But it is certainly a bit confusing when this exactly happens and when not.

[2022-11-15 14:49] jorisvandenbossche commented on #49497
Some feedback on the specifics of the different options:

Small note, for this specific case users can (should?) do `df.groupby(col).value_counts()` instead of through `apply`, and then you won't have the warning repeatedly.
(it will of course still be noisy in general)

I think this could be simpler: replace it with `.value_counts(name="count")` to get the future behaviour.

Assuming we would, _i

[2022-11-15 17:29] GilWu commented on #42795
Hi, I got the warning message "In a future version of pandas, a length 1 tuple will be returned when grouping by a list of length 1. Don't supply a list with a single grouper to avoid this warning."
—> How can I avoid this warning when I just need to group by one element?
`df.groupby([test])`

[2022-11-15 20:52] rhshadrach commented on #42795
@GilWu  - I sounds like you're getting an improper error. Can you open a new issue with a reproducible example demonstrating the warning message you're seeing?

[2022-11-15 21:07] marenwestermann commented on #48060
I saw that the documentation has been further improved which is great to see. I ran `pytest pandas` again and all the test failures I got were related to SQL which was expected given that I didn't set up a database:

<details>

[code]

</details>

Two examples of full test failures can be seen here:
https://gist.github.com/marenwestermann/b27f060f2c95697fdcf8cf83402712a8
https://gist.github.com/ma

[2022-11-15 21:43] Dr-Irv commented on #49497
I have another idea.  What if we did something like ask users to do `from pandas import __future__` when they want the future behavior, which then implements the future behavior, and also silences the warning.  Kind of like `from __future__ import annotations` that is used in typing.

So then you could do option 2 or 3, and there is an easy way to both get the future behavior AND silence the warni

[2022-11-15 22:08] jorisvandenbossche commented on #49497
To enable the behaviour globally, instead of an import, it could also be done as an option (that might be more consistent with other cases where we use options to enable a certain behaviour)

[2022-11-15 23:11] johndoe28 opened #49716 "BUG: pandas.read_sql_query type hint only allows str params"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]
[code]

[2022-11-16 00:47] jbrockmendel commented on #49194
#49720

[2022-11-16 02:55] lucaslarios commented on #30683
Does this issue still remain relevant?

[2022-11-16 03:55] #49657 closed

[2022-11-16 04:26] stevenlis opened #49723 "BUG: hrules and clines in .to_latex() draw two lines at bottom of table"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The code above produces the following latex code (

[2022-11-16 05:32] lucaslarios commented on #10788
Take it

[2022-11-16 08:18] xuganyu96 commented on #49716
Hi, this is my first time participating in the `pandas` project. Not sure if this is the correct place to post results of my own investigation/triage. Please advise if I should take it elsewhere, Thank you.

Comparing the source code between `main` and tag `v1.4.4` it seems like there are additional type hints added to the `read_sql_query` function:

[code]

On the other hand, at `main`, a similar

[2022-11-16 08:36] xuganyu96 commented on #49716
Upon a second look it seems like the type hint for `parse_dates` was also inaccurate:

[code]

Based on the docstring, `parse_dates` should accept `dict[str, dict]` in addition al `list[str] | dict[str, str]` for passing keyword arguments of the function `pandas.to_datetime`.

[2022-11-16 08:48] horaceklai opened #49727 "BUG: DataFrame.fillna does not always work with inplace"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

[] indexing does not seem to work for DataFrame.fi

[2022-11-16 08:53] MarcoGorelli commented on #49497
I do like the sound of that more, thanks Irv and Joris!

So a warning could be something like
[code]

And this could go in to 1.5.3

[2022-11-16 09:11] bilzard opened #49728 "PERF: Series.value_counts() in aggregation function is slower than collections.Counter()"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

Series.value_counts() are slower especially if it counts for a small size of

[2022-11-16 10:18] jreback commented on #49497
I don't think adding a way to silence this via global option (sure could be done via context manager as well) is actually helpful

The problem as a user is you see a warning and you just want to adapt your code so that it works under the current and new versions. Here you just now make 2 changes - set the option and then remove setting the option later.

I don't believe we have this for any other

[2022-11-16 10:25] phofl commented on #49727
hi, thanks for your report. This behaves as expected. Indexing with [] creates a copy, hence you are not modifying the original object.

[2022-11-16 10:25] #49727 closed

[2022-11-16 10:29] phofl commented on #27994
fixed in #42746

[2022-11-16 10:29] #27994 closed

[2022-11-16 10:32] jreback commented on #49612
@jbrockmendel your logic seems correct here. agree that s[:2] should be treated as location and warn that it's not positional

[2022-11-16 11:13] phofl commented on #49336
Closing for now, please ping to reopen when you can answer the questions

[2022-11-16 11:13] #49336 closed

[2022-11-16 11:15] phofl commented on #49617
Hi, thanks for your report. The keyword should ignore the index during the operation not in the result? In this case we need a different name, since ``ignore_index`` has a different meaning in pandas. Can you show an example?

[2022-11-16 11:18] phofl commented on #49493
Closing for now, please ping to reopen when you can provide an example

[2022-11-16 11:26] Saelyos opened #49729 "PERF: assigning in a for loop"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

I'm experiencing a slowdown compared to prior versions when assigning a DataF

[2022-11-16 11:26] #49357 closed

[2022-11-16 11:26] #49356 closed

[2022-11-16 11:46] attack68 commented on #49723
And incidentally you can also control the `hrules` directly. In the documentation you see the example:
[code]
Your suggestion is noted, but I think `hrules=True | False` and the ability to manipulate table styles provides a good tradeoff between regular user short cut and full technical customisation

[2022-11-16 11:58] jowagner opened #49731 "bug (cannot check current version): dataframe slice [:N] contains N+1 element"
Apologies, I cannot use the BUG template as `pip install -U pandas` does not go beyond version 1.1.5 on my system, presumably due to a version of Python you no longer support.

Reproducible Example:
[code]

Issue Description: The slice has 5, not 4, items and includes the item `s5`.

Expected Behaviour: The slice contains the first 4 items only.

Installed versions:
<details>

INSTALLED VERSIONS
-

[2022-11-16 12:34] MarcoGorelli commented on #49731
this is expected, see https://pandas.pydata.org/docs/user_guide/advanced.html#advanced-endpoints-are-inclusive

[2022-11-16 12:34] #49731 closed

[2022-11-16 13:13] johndoe28 commented on #49716
Thank you for your prompt response.

[2022-11-16 13:33] lucaslarios commented on #46843
This issue still relevant?

[2022-11-16 13:35] #43084 closed

[2022-11-16 13:36] phofl commented on #49194
This is merged now, so we are good to go?

[2022-11-16 13:46] lucaslarios commented on #49001
hello, could you specify a little better the purpose of the issue? in which file is this class found? Is there any solution suggestion?

[2022-11-16 13:52] phofl commented on #49729
Hi, thanks for your report. Caused by #47074 cc @jorisvandenbossche

labelling as regression for now

[2022-11-16 15:11] Dr-Irv commented on #49497
But in version 2.0, the setting would be a NO-OP.  So you could leave it in your code and nothing would happen.

[2022-11-16 15:32] astrowonk opened #49732 "BUG: Plotly scatter plots no longer produce color correctly, color alias for c in 1.5"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Plotly (and perhaps other backends) take a color a

[2022-11-16 15:35] bashtage commented on #49497
Given the breadth of 2, I think it is also reasonable to go with option 4.

[2022-11-16 15:37] MarcoGorelli commented on #49732
That's a good point, thanks @astrowonk

It may be best to revert the PR that introduced the alias

[2022-11-16 15:44] jorisvandenbossche commented on #49729
Taking a look.

We might not be able to get the performance fully down to what it was before, it was maybe also a bit "too fast". To illustrate, using `__setitem__` on a Series is also slower than doing that directly on the underlying array:

[code]

This is expected (we do more than what numpy does, plus we have some overhead), while of course we want to limit this slowdown compared to numpy as m

[2022-11-16 15:46] jbrockmendel commented on #46843
no, closing.

[2022-11-16 15:46] #46843 closed

[2022-11-16 16:22] nicolaskruchten commented on #49732
Thanks for reporting this @astrowonk and for looking into it @MarcoGorelli!

As the author of the `plotly` backend, I would definitely expect that the external API here be very stable... "removing" kwargs like this definitely breaks our backend, but so would adding special handling to previously-ignored kwargs. For example right now with the `plotly` backend, `df.plot.scatter()` accepts all of the

[2022-11-16 16:48] MarcoGorelli commented on #49732
Hey @nicolaskruchten

No no, this is totally my fault for having approved https://github.com/pandas-dev/pandas/pull/44856/files . In fact, I should've rejected the issue instead of encouraging a PR. I wasn't thinking about the plotly backend because I don't use it (I use plotly directly by importing plotly and plotly.express)

Going forwards, something I've had on the back of my mind is to suggest

[2022-11-16 17:10] debnathshoham opened #49733 "DOC: cross missing in how set of params"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

### Documentation problem

Although there is a bullet point added for cross, it's missing from the top set

### Suggested fix

[2022-11-16 17:13] phofl commented on #49733
Hi, thanks for your report. This is already added on the dev docs

[2022-11-16 17:13] #49733 closed

[2022-11-16 17:25] mroeschke commented on #49728
Possibly. `pandas.Series` and `collection.Counter` are different objects at the end of the day. So while each has a "value counts" like functionality, `Series` also has multiple value counts options, `nan` handling, etc.  Therefore due to difference in scope, I expect there to be some difference in performance between the two.

Thanks for the analysis but I don't think this is entirely actionable

[2022-11-16 17:43] bt- commented on #15490
Is the result from this example related? I was surprised that this did not return an error when the left side of the last assignment does.
[code]

[2022-11-16 17:56] zmwaris1 commented on #49656
Hey, I'd like to contribute to if anyone else is not already working on it:
`pandas/core/internals/concat.py`
`pandas/core/reshape/merge.py`
`pandas/io/json/_json.py`

Thanks.

[2022-11-16 17:59] astrowonk commented on #49732
@MarcoGorelli  I would just say that I have made extensive use of the pandas plotting back end. I think it's important to keep so existing code keeps working with existing backends.

Were it to vanish, so many scripts and modules I have written would break, so whatever happens, please keep the `df.plot` syntax working!

[2022-11-16 18:06] MarcoGorelli commented on #49732
Thanks @astrowonk , that's a useful perspective

I was thinking more about all the custom matplotlib code in pandas, as that's what causes the most issues - it could be greatly simplified, but an entrypoint in seaborn similar to the one in plotly. I'll flesh that out in a separate issue anyway

[2022-11-16 18:50] lucaslarios commented on #48479
This issue still relevant?

[2022-11-16 18:51] lucaslarios commented on #48479
Take it

[2022-11-16 19:24] Dr-Irv commented on #49649
Seems like `is_list_like()` is not handling a generic alias correctly:
[code]
With python 3.10, output is
[code]
With python 3.11, output is
[code]

[2022-11-16 19:36] isaac-chung commented on #49629
Is this an issue that's welcoming contributions?
If yes, I'd love to give it a go.

[2022-11-16 19:57] Leviob commented on #48855
I'll work on `undefined-loop-variable`.
I'll start working on `no-else-return` within the pandas/io directory.

[2022-11-16 20:09] mroeschke commented on #49629
Definitely @isaac-chung. Feel free to tackle it!

[2022-11-16 20:28] #46084 closed

[2022-11-16 21:34] rhshadrach commented on #49732
I find it very useful in ad hoc data analysis to be able to do `df['my_column'].plot.hist(bins=30)` etc. I would be -1 on removal (wasn't entirely sure what "most of it completely" meant).

[2022-11-16 21:42] nicolaskruchten commented on #49732
Yeah my feeling is that the existing functionality can never go away... Maintenance mode sounds good to me though!

[2022-11-16 22:19] #48942 closed

[2022-11-16 23:36] Dr-Irv commented on #49194
Can we add #49736 ?

[2022-11-17 00:13] blazespinnaker commented on #49617
[code]

Here's an example of the issue.  Another approach might be to spit out a warning, though that can get noisy.  The benefit of a parameter to not do the automatic alignment is that it serves as a warning.  A final approach would just be a note in the documentation.

[2022-11-17 00:24] isaac-chung commented on #49629
Looking for ways to generate the `expected` frame to use `tm.assert_frame_equal`. Trying to get some context for the removal of `level` from [this PR](https://github.com/pandas-dev/pandas/pull/49611/files#diff-78435539616ae89a3ccce12092f4b4f94b25d56194c094d0cc7190925e405b03) and [this suggestion](https://github.com/pandas-dev/pandas/issues/39983#issuecomment-916549939). It seems that the previous

[2022-11-17 00:25] jreback commented on #49617
all operations in pandas align
if you want to not align the use .to_numpy()

-1 on changing anything - this would be a very special case

[2022-11-17 00:54] #49037 closed

[2022-11-17 01:43] mroeschke commented on #49629
The apply idea is a good one - fair point though it might not conveniently support all the supported arguments.

Since this test is mainly smoketest for groupby methods and args, I think it's valid to replace `raw_frame` with a "simple DataFrame" like `DataFrame([0])` that should hopefully have similar results for a lot of the groupby methods and their args.

[2022-11-17 02:29] xuganyu96 commented on #49716
take

[2022-11-17 02:45] wjones127 opened #49739 "DOC: Provide examples of using read_parquet"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_parquet.html

### Documentation problem

For the `pyarrow` engine, there are some important features behind the `kwargs` that ar

[2022-11-17 02:52] bilzard commented on #49728
I see.

Since I have a workaround now, I’m not taking this seriously.
I’m not sure I can find the bottleneck, so I’m closing this issue.

Thank you for the quick response.

On Thu, Nov 17, 2022 at 2:25 Matthew Roeschke ***@***.***>
wrote:

[2022-11-17 02:53] #49728 closed

[2022-11-17 10:24] MarcoGorelli commented on #48855
thanks @Leviob - some people aren't keen on `no-else-*` so let's leave that one out for now

[2022-11-17 11:37] rhshadrach commented on #49739
Thanks for the report! +1 on saying the function that's called from pandas and linking to it's documentation. However, if we were to document which kwargs there's a bit more maintenance burden keeping it in sync (e.g. what can be passed for filters just changed in 10.0.0) and I don't think it provides significant benefit to the user.

[2022-11-17 11:50] Saelyos commented on #49729
Hi, thanks for the investigation and the explanations.

After a bit of digging I found a slowdown even more important in some cases. I had a bit of trouble to make a reproducible example because from what I've understood it has do with the internal blocks so I needed a large DataFrame.

### Reproducible Example

[code]

### Prior Performance
[code]

[2022-11-17 13:17] #12649 closed

[2022-11-17 14:11] zachschillaci27 commented on #13439
Going off the other responses, here's a simple solution just using an openpyxl/pandas parser
https://gist.github.com/zachschillaci27/887c272cbdda63316d9a02a770d15040

[2022-11-17 15:14] uzzell commented on #48855
I'll work on `useless-parent-delegation`.

[2022-11-17 15:38] MarcoGorelli opened #49746 "BUG: ISO8601 fastpath fails to parse 2022-01-01 00:00:00Z"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Note how:
- in the standard library, `%Z` correspo

[2022-11-17 15:43] MarcoGorelli commented on #49746
Looks like `'%Z'` was added to the `format_is_iso` function  in https://github.com/pandas-dev/pandas/pull/42068/files

[2022-11-17 16:12] MarcoGorelli opened #49748 "BUG: parsing ISO8601 string with `format=` and timezone name fails"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

In pandas 1.5.1:

[code]

### Issue Description

The ISO8601 fastpath in

https:/

[2022-11-17 17:39] phofl commented on #49739
Yep agreed, would rather link to the functions itself too

[2022-11-17 17:58] erezinman opened #49749 "ENH: Add `pd.Series.stack() -> pd.MultiIndex`"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I wish to be able to take a series that has a regular or a multi-index. and add the data of the series as the highest level in a MultiIndex. Right now it requires annoying and inefficient workarounds.

### Feature Des

[2022-11-17 18:35] #49746 closed

[2022-11-17 18:35] #49748 closed

[2022-11-17 18:40] MarcoGorelli commented on #49656
@zmwaris1 please do - I've updated the list of files which still need doing

[2022-11-17 19:40] samukweku commented on #49749
Kindly add examples to illustrate your point

[2022-11-17 20:42] jamsden commented on #43486
Any workaround identified? i.e., could I test for all NaT values and return an empty Series?

[2022-11-17 21:02] blazespinnaker commented on #49617
I think reset_index() is actually the right answer here.  to_numpy() would require scipy.

Your point is taken, but I guess what got me was that all operations do appear to sort of align but in rather arbitrary ways, leaving things quite confusing.

eg:

n1 = pd.DataFrame([(1,2),(2,4),(3,5)], columns = ['ind', 'val']).set_index('ind')
n2 = pd.DataFrame([(1,2),(5,4),(3,5)], columns = ['ind', 'val']

[2022-11-17 21:16] blazespinnaker commented on #49617
Some other examples of inconsistent behavior with data alignment.  I appreciate the tradeoffs made and even why they might be optimal, but a little bit of documentation here and there would help educate users like me better I think.

https://github.com/pandas-dev/pandas/issues/20831
https://github.com/pandas-dev/pandas/issues/47554

[2022-11-17 21:16] isaac-chung commented on #49629
Sounds good, this would simply things quite well. Let me share what I currently have in a pull request.

[2022-11-17 21:48] WillAyd opened #49756 "BUG: Validate All Py_* Functions in C Extensions check for NULL"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

@jbrockmendel pointed out in #49034 that we don't

[2022-11-17 21:50] rhshadrach commented on #49702
The screenshot looks like VS code, I think that's what is using the stubs even if they aren't in your Python environment. cc @Dr-Irv

[2022-11-17 22:06] Dr-Irv commented on #49702
Yes, most likely.  Microsoft bundles `pandas-stubs` in their release.  You can check that by hovering over `dropna()`, then right-click and select "go to declaration" and it will pull up a PYI file somewhere in your pylance distribution `dist/bundles/stubs/pandas/`.  If that's the case, then this is an issue for the `pandas-stubs` project.

If that's the case, please create the issue there.

[2022-11-17 22:07] rhshadrach opened #49758 "ENH: Python fallback for Cythonized groupby transformations"
Ref: https://github.com/pandas-dev/pandas/pull/49742#discussion_r1025765668

Within the groupby code, when the Cython portion of `_cython_agg_general` encounters a `NotImplementedError`, it falls back to `_agg_py_fallback`. The method `_cython_transform` currently has no such fallback, and so trying to use e.g. `cummin` on string columns fails. I think we should instead provide a Python fallback.

[2022-11-17 23:18] mliu08 commented on #31687
take

[2022-11-17 23:26] WillAyd opened #49760 "Replace get_c_string_buf_and_size with PyUnicode_AsUTF8AndSize"
We have a function in pandas/_libs/tslibs/util.pxd called `get_c_string_buf_and_size` . I think this served a purpose when we had Python 2/3 compat but at the moment it just wraps the standard `PyUnicode_AsUTF8AndSize` function, so it adds an unnecessary layer

[2022-11-17 23:32] #49230 closed

[2022-11-18 01:36] #49256 closed

[2022-11-18 02:47] yanyu2015 commented on #13519
the grouping cols disappear after a groupby + shift regardless of the value of as_index=True.
Has there been any progress on this?
[code]

[2022-11-18 04:16] benhammondmusic commented on #39967
Trying to use your helper function but one of the variable names is incorrect (I think). You call

[code]

but we don't have a `df` here, only `df_left` and `df_right`. Which is it supposed to be ?

[2022-11-18 04:17] StevenLi-DS commented on #49702
Thanks @rhshadrach @Dr-Irv  Indeed it's pylance in vscode... and they do use pandas-stubs. @phofl could you transfer the issue to pandas-stubs?

[2022-11-18 04:35] datapythonista commented on #49194
Fine by me. I'm planning to release on Monday, I don't want to release end of the week or weekend, in case the new version breaks anything.

[2022-11-18 07:42] seanjedi commented on #49656
@zmwaris1 I apologize for the lateness, been having a hectic past two days.
I saw your post above, and I wanted you to know that I have been working on `pandas/io/json/_json.py` on my fork recently here: https://github.com/seanjedi/pandas/tree/seanjedi-49724_pylint's_redefined_outer_name
I just wanted you to know so that we don't duplicate work effort.
Feel free to take a look at it and let me kno

[2022-11-18 08:47] forestbat opened #49763 "BUG: TypeError: 'generator' object is not callable when using pandas' date_range"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I'm using pandas' `date_range` to generate datetim

[2022-11-18 09:42] phofl commented on #49702
You have to open another issue in the stubs repo

[2022-11-18 10:33] prhbrt opened #49765 "BUG: Empty string multilevel column names"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Missing column levels after indexing. This seems t

[2022-11-18 10:45] MarcoGorelli opened #49767 "BUG: setting dtype='timestamp[ns][pyarrow]' removes precision from strings"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The above outputs:
[code]

Note how, in the pyarro

[2022-11-18 10:47] MarcoGorelli commented on #49767
This only became apparent when the historic issue of `to_datetime` not respecting `exact` for ISO8601 formats was solved https://github.com/pandas-dev/pandas/pull/49333

[2022-11-18 12:17] dk1010101 opened #49769 "BUG: Arithmetic operators in 1.5 throw RecursionError when dataframes have a mix of str and string typed levels"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

If one has identically structured data frames wher

[2022-11-18 13:29] pathikg opened #49770 "QST: Pandas read_excel parsing in wrong format"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/63067926/how-to-stop-python-auto-date-parsing-while-reading-a-excel-file

### Questio

[2022-11-18 13:40] MarcoGorelli commented on #49769
Thanks @dk1010101 for the report

git bisect show:
[code]

https://www.kaggle.com/code/marcogorelli/pandas-regression-example?scriptVersionId=111378614

[2022-11-18 13:40] MarcoGorelli commented on #49769
cc @phofl

[2022-11-18 14:48] MarcoGorelli commented on #49770
Hi @pathikg - could you make your example reproducible please?

[2022-11-18 14:56] jorisvandenbossche commented on #49729
I opened two PRs that each partly address this performance regression: https://github.com/pandas-dev/pandas/pull/49771, https://github.com/pandas-dev/pandas/pull/49772

Also your second example is considerably better with those two PRs:

[code]

[2022-11-18 15:10] vamsi-verma-s commented on #49770
@pathikg can you check if excel is converting the strings as dates by checking the data type of the cell in excel.

since you are using `openpyxl` you may also want to just try reading the sheet using `openpyxl` itself, that way it will be easier to figure out if pandas converts the strings later or not.

[2022-11-18 15:44] MarcoGorelli commented on #49648
thanks for the suggestion

agree that this doesn't need to be in pandas - closing for now then

[2022-11-18 15:44] #49648 closed

[2022-11-18 17:23] MarcoGorelli commented on #49767
Looks like `date_format` in `to_csv` doesn't work with the arrow type either:
[code]

[2022-11-18 17:41] mroeschke commented on #49194
+1 to release Monday. Whatever doesn't make it can be released in a 1.5.3

[2022-11-18 17:46] MarcoGorelli commented on #49767
I think this might be the issue

https://github.com/pandas-dev/pandas/blob/2517199dc9d6174d967683eeb6ad7fe68a76df19/pandas/core/construction.py#L467

here `arr.dtype.kind` is `'M'`, not sure why it's excluded.

Would
[code]
work? Will try

[2022-11-18 18:14] natmokval commented on #47305
Following the guide
https://pandas.pydata.org/docs/dev/development/contributing_environment.html
I run `python setup.py build_ext -j 4` and the problem of parallel builds occurs.
I had to run `python setup.py build_ext -j 1 --force`. Should the documentation say something about this problem until it is fixed?

[2022-11-18 18:16] erezinman commented on #49749
@samukweku See below. Tell me if that's understood or you need anything more.

[code]

[2022-11-18 18:17] mroeschke commented on #49767
`ensure_wrapped_if_datetimelike` is called in a lot of places, so I'm not sure if it will always be valid to convert an `ArrowExtensionArray` (with a datelike type) to a `DatetimeArray/TimedeltaArray`

cc @jbrockmendel

[2022-11-18 18:19] jbrockmendel commented on #49767
haven't looked closely at the rest of the thread, but ensure_wrapped_if_datetimelike should _only_ wrap np.ndarrays

[2022-11-18 18:21] MarcoGorelli commented on #47305
yeah, probably! In the meantime I've pinned this issue, should make it easier to find

[2022-11-18 18:24] MarcoGorelli commented on #49767
ok thanks, I'll see where else this could be handled

[2022-11-18 18:40] #47687 closed

[2022-11-18 18:43] #49629 closed

[2022-11-18 18:43] phofl commented on #47687
@batterseapower could you open another issue about this? this is different than the op, not sure how I am leaning there yet

[2022-11-18 19:14] lithomas1 commented on #47305
Note that we are changing build systems to meson pretty soon(in #49115), so hopefully we won't have to deal with this for much longer.

[2022-11-18 19:22] MarcoGorelli commented on #49617
@blazespinnaker you might be interested in [PDEP5](https://github.com/pandas-dev/pandas/pull/49694), which _may_ (mind you I said _may_, it's not been accepted, and it's still being ironed out) allow you to not need to think about alignment if you don't want to

Closing then as I don't think there's anything actionable here - regarding clarifying docs, PRs to improve them are welcome, feel free to

[2022-11-18 19:22] #49617 closed

[2022-11-18 20:38] Gaussian-art opened #49779 "BUG: Merging cells doesn't work when writting MultiIndex to .ods file"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When opening the DataFrame.ods file created by the

[2022-11-18 20:59] courtarro commented on #28007
I can confirm that the same issue happens when attempting to run `to_parquet` using `fastparquet`. For large datasets, the write fails with the same error.

[2022-11-18 21:04] vamsi-verma-s commented on #49763
Hi @forestbat, i'm unable to replicate this. The error may be coming from a different part of your code. can you provide full stack trace.

[2022-11-18 21:10] vamsi-verma-s commented on #49779
Hi @Gaussian-art , I think currently writing to .ods files is [ not supported](https://pandas.pydata.org/docs/user_guide/io.html?highlight=odf#opendocument-spreadsheets ).

[2022-11-18 22:24] vs-araujo commented on #47480
take

[2022-11-18 23:28] #49769 closed

[2022-11-19 00:05] jreback commented on #49194
yes let's release - delaying doesn't help anything

tbh weekend or not doesn't make any difference

[2022-11-19 01:07] forestbat commented on #49763
@vamsi-verma-s
2 = {traceback} <traceback object at 0x0000014656CD2900>
 tb_frame = {frame} test_gen_line_model [past_predict_single.py:86]  id:1401666378688
  stack = {list: 36} ['frame: test_gen_line_model [past_predict_single.py:86]  id:1401666378688', 'frame: pytest_pyfunc_call [python.py:195]  id:1401735341024', 'frame: _multicall [_callers.py:39]  id:1401664147920', 'frame: _hookexec [_manag

[2022-11-19 02:17] jbrockmendel commented on #49612
@mroeschke thoughts on what to do here?

[2022-11-19 02:21] #48908 closed

[2022-11-19 09:17] forestbat commented on #49763
I cut my code to another python file and the problem disappeared.

[2022-11-19 09:17] #49763 closed

[2022-11-19 12:21] dangillet commented on #42482
Well done to everyone involved in fixing this issue :medal_sports:

[2022-11-19 13:00] rhshadrach commented on #49779
@Gaussian-art: thanks for the report! Confirmed on main, further investigations and PRs to fix are welcome.

@vamsi-verma-s: Looks like writing support was added but not updated in the docs (see #32911). Would you be able to open a new issue for fixing the documentation there?

[2022-11-19 14:32] MarcoGorelli commented on #47815
thanks for the request - closing for now, but please do ping if the above doesn't address your needs

in the future, please don't post screenshots of code as they're not searchable

[2022-11-19 14:32] #47815 closed

[2022-11-19 16:55] vamsi-verma-s opened #49790 "DOC: to_excel OpenDocument Spreadsheets (ODS) write support not updated"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/user_guide/io.html?highlight=ods#opendocument-spreadsheets

### Documentation problem

Write support for Open Document Spreadsheet (ODS) was added in https://github.com

[2022-11-19 16:56] vamsi-verma-s commented on #49779
Hi @rhshadrach , created issue for doc update - https://github.com/pandas-dev/pandas/issues/49790 .

[2022-11-19 19:24] vamsi-verma-s commented on #49790
take

[2022-11-19 20:02] asishm commented on #49779
[code]

This patch seems to fix the issue - the `mergestart` and `mergeend` attributes (see usage in the xlsxwriter.py) are the cell coordinates of the end cell of the cell-merge.

I can't think of a way to add this to a test since reading the generated ods file either way retuns the same dataframe (and I don't want to go down the rabbit hole of inspecting the generated xmls)

[2022-11-19 21:36] stefmolin opened #49793 "BUG: Can't set xlabel/ylabel on histogram"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`xlabel` and `ylabel` are accepted, but ignored.

[2022-11-19 21:37] stefmolin commented on #49793
More of a "not implemented yet" than a bug.

[2022-11-19 21:37] stefmolin commented on #49793
take

[2022-11-19 21:47] SiboXu commented on #49651
I played around with the groupby dropna option, looks like when dropna=True, the groupby is ignoring the NaN key as the document stated.

However, when the fillna is being applied to the GroupBy object, it somehow keeps the Nan key and messes up the order. Without the dropna, the order was kept. Also, do you think the expect values for `b` should actually be `[0, 1, 2, 3]`?

[code]

[2022-11-19 22:55] RaphSku commented on #49200
take

[2022-11-20 01:21] vs-araujo commented on #47480
Tested using the Docker image and the bug still exists. It seems to happen only when `pd.Series` has dtype `object`. If it contains NAs but has dtype declared as  Float64 or Int64 it runs just fine.

From what I found, the problem is at the function `mask_missing`, at **.\pandas\core\missing.py** (as @NaveenKaidbettu stated). On line:

`new_mask = arr == x`

In this situation `arr` has type `numpy

[2022-11-20 06:06] naddeoa commented on #47963
I'm running into this too. I think a concrete example might help to set expectations. Take the following data in `data.csv` (yoinked from a hacker news data set)

[code]
I can group this dataset (that consists of two lines) using the following snippet.

[code]
There will be 916 results because every day is included between the two days that actually exist. All but 2 of those 916 results will just

[2022-11-20 07:57] MarcoGorelli opened #49796 "DEP Remove pytorch from environment.yml"
It's one of the heaviest dependencies, and I think it's responsible for bringing in `cudatoolkit`, `cudnn`, and `mkl`

[code]

and as far as I can tell it's only used in a single ASV benchmark:

https://github.com/pandas-dev/pandas/blob/aa85f02acb7bcc1ebd05bcbf8d94a3e9f70bb95c/asv_bench/benchmarks/frame_ctor.py#L208-L222

In which case, it feels a bit wasteful to have everyone install it. We could

[2022-11-20 08:07] MarcoGorelli opened #49797 "DOC replace notebook with rst file?"
There's a single Jupyter Notebook in pandas:

https://github.com/pandas-dev/pandas/blob/428540bcc57c8e9b2f260abf198cec82fd2862c6/doc/source/user_guide/style.ipynb

Just for this single notebook, we need to have `pandoc` and `nbconvert` in the dependencies. The first one in particular is pretty heavy, and can cause installation issues https://github.com/pandas-dev/pandas/issues/48060#issuecomment-1

[2022-11-20 08:10] MarcoGorelli commented on #48060
Yeah agreed - if you want to add the note suggested in https://github.com/pandas-dev/pandas/issues/48060#issuecomment-1260641776, I think that'd be helpful. Else I think we can close, I've opened https://github.com/pandas-dev/pandas/issues/49797 mentioning the pandoc issue

[2022-11-20 08:24] JasmandeepKaur commented on #48855
I'll work on `line-too-long`

[2022-11-20 08:27] honza26 opened #49799 "DOC: Creating development environment - BT for Visual Studio version"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/development/contributing_environment.html#option-1-creating-an-environment-without-docker

### Documentation problem

Installation guide points to installation of

[2022-11-20 08:27] MarcoGorelli commented on #48855
hi @JasmandeepKaur - that one's already covered by flake8, no need

[2022-11-20 08:30] JasmandeepKaur commented on #48855
Hello, Thanks for letting g me know! I'll look for another

[2022-11-20 13:16] geo7 opened #49800 "DOC: Frames not displayed correctly in Styler user guide"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

### Documentation problem

Seems that something is off with the number of digits displayed - I've not looked into the reason for th

[2022-11-20 13:31] rhshadrach commented on #49800
Thanks for the report! Further investigations and PRs to fix are welcome.

cc @attack68

[2022-11-20 14:01] attack68 commented on #49800
This is a duplicate of #48644.

There seems to be a change with the way Sphinx handles HTML frames and/or how default CSS is handled moving from 1.4.x to 1.5.0.

I do not believe this a caused by a pandas change but the versions of those external doc builder extensions.

Haven't managed to narrow it down or come up with a solution as of yet.

[2022-11-20 14:05] rhshadrach commented on #49800
Thanks @attack68 - closing as duplicate.

[2022-11-20 14:05] #49800 closed

[2022-11-20 14:27] attack68 commented on #48644
FWIW I have detected that if one removes the `width: fit-content;` CSS attribute value pair from the default `pydata-sphinx-theme.css` then this page all works as previously. The previous 1.4.x pydata-sphinx-theme.css did not seem to have this `width` value set.

![Screenshot 2022-11-20 at 15 21 58](https://user-images.githubusercontent.com/24256554/202907549-67cb5ad0-73cf-4997-83ee-6d737f181ab5.p

[2022-11-20 14:32] attack68 commented on #49797
The purpose of the file is for accurate graphical display of the HTML and coloured styles. Does RST with ipython blocks generate the same?

[2022-11-20 16:21] seljaks commented on #49473
Took at look at `head` and `tail`. CoW is already implented for these because they're just `.iloc` under the hood. I think they can be ticked off as is, but can submit a PR with explicit tests if needed.

[2022-11-20 17:31] rhshadrach commented on #49275
@datapythonista - We'd like to leave this pinned, any objection?

[2022-11-20 17:35] datapythonista commented on #49275
Ah, sorry, I think I probably confused this with a github popup or something. No familiar with pinned issues, I see on the history that I unpined it, but not that I planned to unpin anything for others.

[2022-11-20 20:57] seljaks commented on #49473
Found an inconsistency while looking at `squeeze`. When a dataframe has two or more columns `df.squeeze` returns the dataframe unchanged. This is done by returning `df.iloc[slice(None), slice(None)]`. So the inconsistency is in `iloc` . Example:
[code]

@jorisvandenbossche This doesn't seem like the desired result. Should I open a separate issue for this or submit a PR linking here when I have a f

[2022-11-20 21:40] rhshadrach commented on #49578
While I agree these likely aren't used much by users (could be for type-hinting, but I'd guess that's uncommon), they may be used more by those who create a pandas-like API. If we are going to change, in my mind sooner would be better than later.

[2022-11-21 00:32] wchung42 commented on #49656
Hi, are there any files that still needs to be worked on?

[2022-11-21 01:36] StevenLi-DS commented on #5686
Is there any way to have count the number of bad lines. Assume you have 100 bad lines out of 200, that's bad... but 100 out of 1M, it might not be a big idea...so maybe let the user set a threshold (fraction of len(df))?

[2022-11-21 03:30] datapythonista commented on #49194
Starting the release of pandas 1.5.2

[2022-11-21 06:24] datapythonista commented on #49194
The release tests seem to be failing because they consume too much memory. It started happening in the 1.5.x series, where one of the tests failed, but now both the pip and conda tests crash because of the error (in a machine with 16Gb of RAM, with no more than couple of them used by other things).

I'm not sure if we're running the high memory tests in the CI. But it doesn't seem to be affected.

[2022-11-21 07:45] MarcoGorelli commented on #49656
yup, check the issue description

[2022-11-21 09:02] zhangyanli-pro opened #49810 "QST: How to eliminate this threat for Pandas?"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://advisories.gitlab.com/advisory/advpypi_pandas_CVE_2020_13091.html

### Question about pandas

The pandas package

[2022-11-21 09:15] MarcoGorelli commented on #49810
thanks for the report

closing for now as dupe of https://github.com/pandas-dev/pandas/issues/36256 and https://github.com/pandas-dev/pandas/issues/48049

[2022-11-21 09:15] #49810 closed

[2022-11-21 11:23] MarcoGorelli commented on #49797
yeah having tried this out for a bit, I'm not sure much can be done here

leaving open for a bit in case anyone else has any idea, will close in a month's time if there's been no activity

[2022-11-21 11:56] topper-123 opened #49813 "API: Should NumericIndex([1 2, 3]).dtype be int64 or int32 on 32-bit systems?"
I've had some 32-bit issues while working on removing `Int64Index` and friends from the code base. One issue that I would appreciate input on the the desired dtype for numeric indexes on 32-bit systems. Currently we have (for 32-bit systems):

[code]

IMO these two should have the same dtype and because changing `Series` would break backwards compatability, I'd say that `NumericIndex([1, 2, 3]).dt

[2022-11-21 12:21] jreback commented on #49813
yes these should match and be 64bit

[2022-11-21 15:32] filippzorin opened #49816 "ENH: Do not require to sort entire DF if `by` option used in `merge_asof`"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

As a pandas user I'd like to have following behavior when using `merge_asof`.
Right now it requires to sort entire DF, but it looks like there is no need to do that if `by` option used.
Let me try to explain with exam

[2022-11-21 15:58] hisakatha opened #49817 "DOC: behavior of DataFrame.assign for dictionary inputs"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.assign.html

### Documentation problem

pandas.DataFrame.assign seems to take dict (dictionary) objects and assign new columns consis

[2022-11-21 17:13] galipremsagar opened #49818 "BUG: `hasnans` not accounting for `np.nan` in `FloatingArray`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Constructing a Series with `Float64Dtype` dtype co

[2022-11-21 19:02] JasmandeepKaur commented on #49656
Hi, I'll be working on these files:
[code]

[2022-11-21 19:07] MarcoGorelli commented on #49656
let's leave out `pandas/util/_test_decorators.py`, but the other two are fine

[2022-11-21 19:39] JasmandeepKaur commented on #49656
Will do.

[2022-11-21 19:50] angularOcean commented on #48855
I wanted to work on  `unused-argument`,  `unused-import`,  and` unused-variable`, but I got an error when trying to run `pre-commit run pylint --all-files`. I get the message "No hook with id 'pylint' in stage 'commit'", anyone else run into this issue? I forked the repo, made a branch and am running it on the branch as outline in the developer guide.

[2022-11-21 19:52] MarcoGorelli commented on #48855
you need `--hook-stage=manual` too

let's not touch anything related with imports

[2022-11-21 19:53] mroeschke commented on #49612
I know you wanted to focus on int indexes, but It would be nice is this was positional to align with `Series(..., index=non_numeric)[:int]` according to this example: https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#series-is-ndarray-like

Unless you had come across this and wanted to change this too

[2022-11-21 19:56] angularOcean commented on #48855
Thanks, I will leave `unused-import` alone. I tried `pre-commit run pylint --hook-stages manual --all-files` but now I get this error: "pre-commit: error: unrecognized arguments: --hook-stages manual"

[2022-11-21 20:10] MarcoGorelli commented on #48855
sorry, `--hook-stage`

[2022-11-21 20:37] mroeschke commented on #49818
This behavior might be impacted by discussion in https://github.com/pandas-dev/pandas/issues/32265

[2022-11-21 21:22] angularOcean commented on #48855
Thanks that fixed the issue. Also, after running a check on `unused-argument`, there turned up several hundred lines with the issue and from a quick look of a sampling of them, a large proportion of them are false positives i.e. 'col' in:
`    def time_iteritems_indexing(self):
        for col in self.df3:
            self.df3[col]`
I can mark this as a false positive but there would be a lot of t

[2022-11-21 21:27] MarcoGorelli commented on #48855
we can probably keep it off

We're  probably scraping the barrel here with this issue, I think we've probably enabled most of the most meaningful ones

There's still some files to do in https://github.com/pandas-dev/pandas/issues/49656 if you fancy that though

[2022-11-21 21:49] jbrockmendel commented on #49612
IIUC what you're suggesting would make/keep int-slicing-with-intindex inconsistent with other int-indexing-with-intindex, but possibly in a way that has fewer corner cases than the status quo?

(Long-term (i.e. 3.0) im increasingly thinking we should just deprecate `Series.__getitem__` and `Series.__setitem__` entirely and tell users to just use loc/iloc, so there's never any ambiguity.)

[2022-11-21 21:56] #47944 closed

[2022-11-21 22:07] mroeschke commented on #49612
IIUC what you're suggesting would make/keep int-slicing-with-intindex inconsistent with other int-indexing-with-intindex, but possibly in a way that has fewer corner cases than the status quo?

True, `int-slicing` and `int-indexing` would diverge in this case for this index type, but `int-slicing` would be consistent regardless of index type if `int-slicing` was always positional. I guess there ar

[2022-11-21 22:50] jbrockmendel commented on #49612
So I guess for 2.0 we just revert the deprecation?

[2022-11-21 23:01] lohmanndouglas commented on #49633
It looks like we have invalid characters in the example string. The image depicts the debug values from both valid and invalid strings.

<img width="864" alt="image" src="https://user-images.githubusercontent.com/9731599/203172360-1d202ff9-182e-4452-9249-100da128ab51.png">

I changed that in the snippet from @TaskeHAMANO.

[code]

The chars `(` and `)` that seams invalid in both query and also in

[2022-11-22 00:15] mroeschke commented on #49612
Probably good to get more thoughts from others who have looked closer at indexing behavior @phofl @jorisvandenbossche

[2022-11-22 00:20] jbrockmendel commented on #49612
Actually just reverting wouldn't _quite_ get to the consistent-ish behavior you suggested.  we'd also need to change the behavior with Float64Index, which ATM always treats slicing as label-based.  Doing that breaks 5 tests locally, though only one directly testing this behavior.

[2022-11-22 01:02] rhshadrach commented on #46987
A pandas index should be thought of as a hash map (e.g. a dictionary). With this mental model, it would be unexpected if two objects were equal but not treated as the same key in a hash map. I agree with the stance that this is undesired behavior, but I think it is undesired behavior of Python rather than pandas. I am concerned that going against how Python behaves will only lead to further issues

[2022-11-22 01:54] saiwing-yeung opened #49826 "BUG: `style.hide(axis='index')` doesn't show text within angle brackets"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The text between the angle brackets (inclusive) ar

[2022-11-22 02:12] #49790 closed

[2022-11-22 02:32] seanjedi commented on #48855
Is anyone working on `unsupported-membership-test`?
Can I take that task?

[2022-11-22 02:36] rhshadrach commented on #49817
Thanks for the report! My expectation would be that

    df.assign(x=obj)

is equivalent to

    df["x"] = obj

with the exception for when `obj` is callable (where there is some special behavior). This is already the implementation of assign. I'm +1 on accepting any values and updating the documentation in this manner.

[2022-11-22 02:57] vs-araujo opened #49828 "BUG:"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

[code]

[code]
[code]

<NA>

False

Traceback (most recent call last):

[2022-11-22 03:06] angularOcean commented on #49656
Cross referencing the files that need fixing list with what people have commented on taking it, it looks like everything has/is being  handled, is there any other files that need working on?

[2022-11-22 04:59] angularOcean commented on #48855
I took a look and I think `use-implicit-booleaness-not-comparison` is worth working on too

[2022-11-22 05:18] datapythonista commented on #49194
We are using `pytest-xdist` in those tests, yes.

They run with:

[code]

I'll move forward. Before the next release I'll try to take care of:

- Checking the memory tests, find out if pandas did increase memory usage significantly, and how much, and try to identify the cause and fix.
- Move the release tests to the CI. In theory, my understanding is that we just build the wheels/conda package and

[2022-11-22 05:59] ssche opened #49830 "BUG: `combine_first()` coerces to `object` for `MultiIndex` and all-nan index columns"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`df1.combine_first(df2)` produces a new index with

[2022-11-22 06:04] angularOcean commented on #48855
I will also work on `use-implicit-booleaness-not-len` and see if that can enabled as well

[2022-11-22 06:32] datapythonista commented on #49194
Seems like for the Python 3.9 ARM builds, we're using NumPy 1.19, which is only compatible with Python 3.7 and 3.8. I'll be updating to NumPy 1.20 [here](https://github.com/MacPython/pandas-wheels/blob/master/.travis.yml#L33) unless there is a better idea.

Also, I see we're not using the latest patch releases for the build. For example, for Python 3.8 we're using NumPy 1.19.1 while 1.19.5 is avai

[2022-11-22 06:40] RonaldBarnes commented on #16772
The issue can be solved by setting `delimiter="\0"`, or to any other character that you do not wish stripped from your fields.

Internally, if no delimiter is set (and it seems counter-intuitive to set a delimiter on a fixed width file), then it is set by default to "\r\n\t` `", and this is used to strip CR/LF from each line, plus CR/LF and all tabs and spaces from each field:

[Set delimiter set

[2022-11-22 07:02] RonaldBarnes commented on #16772
I think it's worth repeating: as @tobiasraabe showed, even read_csv will preserve whitespace by default!

Here's an example of using the delimiter to preserve whitespace:

[code]

[2022-11-22 08:19] samukweku commented on #49816
@filippzorin if you look at the implementation for `merge_asof`, the iteration is done on the non-equi join, and if there is a match, then check if the equi join matches, and then break. Crude interpretation of what happens. So, the search doesnt happen on the equi first, but on the non-equi

[2022-11-22 08:24] attack68 commented on #49826
What are you using to produce output? Jupyter notebook?

It will interpret angle brackets as HTML and therefore the output from STyler is correct but your browser is parsing it away.
An option is to try escaping.  `df.style.hide(axis='index').format(escape="html")`

[2022-11-22 08:24] attack68 commented on #49826
![image](https://user-images.githubusercontent.com/24256554/203262691-1234147c-09da-436f-9842-3249935cb6c0.png)

[2022-11-22 10:15] Verena1695 opened #49834 "BUG: transform("max") replaces all entries with NaN when applied after groupby with as_index=False"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When using _transform("max")_ after groupby with _

[2022-11-22 10:28] DavidKleindienst opened #49835 "BUG: DatetimeIndex creation with BusinessHour frequency fails when first hour of the day is not included as Timestamp"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas. (confirmed on `1.5.1`, `1.5.2` is not yet available on pip)

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Des

[2022-11-22 12:26] Terseus opened #49837 "BUG: Assignment to a .loc view of a naive datetime column changes its dtype to object"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When doing a partial assignment to a view created

[2022-11-22 13:42] filippzorin commented on #49816
@samukweku, thanks for the comment. I thinks I got your point right. I looked into implementation of `merge_asof` and yes, processing of  `by` condition goes after the `on` condition, but in my opinion it should be vise versa, i.e. it should process `by` condition first and after that - process `on` condition and checks constraints related to sorted values and null values. What do you think about

[2022-11-22 13:50] phofl commented on #49837
Hi, thanks for your report. This works on main, could use a test

[2022-11-22 14:13] scottboston opened #49838 "BUG: CustomBusinessHour is to capturing last business hour defined by end parameter"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Expected to return every hour of a day from midnig

[2022-11-22 15:00] Eikinho commented on #49838
take

[2022-11-22 15:16] kloczek opened #49840 "BUG 1.5.2: pytest is failing with latest `hypotesis`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Lookks like some pytest units are failing with lat

[2022-11-22 15:21] #48644 closed

[2022-11-22 15:34] MarcoGorelli commented on #49840
pandas CI is green and is using hypothesis 6.58.0

which tests fail?

[2022-11-22 15:45] MarcoGorelli commented on #49840
Can't reproduce, sorry:
[code]

Closing for now then, if you're following an installation procedure which isn't recommended by the docs then I think that's up to you to debug, but I don't think there's anything actionable here

[2022-11-22 15:45] #49840 closed

[2022-11-22 15:48] saiwing-yeung commented on #49826
Thank you!

Wondering what the next step should be? If pandas is capable of detecting whether it's running inside a browser, would it be possible to default to `.format(escape="html")` if so?

[2022-11-22 16:12] attack68 commented on #49826
No, there are no next steps. The argument is offered and documented so that users can use it depending upon the environment they operate it. Pandas will not (and cannot) attempt to guess the users intent and adjust itself based on that info. Pandas will also not (and cannot) maintain an exhaustive list of possible environments and combinatorial argument defaults.

Thanks for the query.

[2022-11-22 16:12] #49826 closed

[2022-11-22 16:27] datapythonista commented on #49194
Increased the numpy of the failing build to the minimum numpy supporting 3.9 (1.19.3) and CI is green now. I just merged the MacPython PR. Also merged the conda-forge PR, so conda-forge packages should be available soon.

It'll be late where I am when the wheels are ready, but will upload them to the pypi in the morning, and will make the announcements.

[2022-11-22 16:46] saiwing-yeung commented on #49826
That's fair, thanks for the tips and looking into this.

[2022-11-22 16:47] MarcoGorelli commented on #49073
closing for now then, but thanks for the suggestion!

[2022-11-22 16:47] #49073 closed

[2022-11-22 18:48] asishm commented on #49834
related : https://github.com/pandas-dev/pandas/issues/37093

[2022-11-22 19:24] samukweku commented on #49816
@filippzorin that requires a change to the code, which I do not think is trivial. It could provide performance boost and would even make inequality joins easier in Pandas. Hopefully one of the core Devs can speak more on this

[2022-11-22 20:00] natmokval commented on #48855
Hi @MarcoGorelli , I checked pylint warning `singleton-comparison` and suggest keeping it off. Only false-positive warnings are raised on 8 lines (in 4 files); on every line, flake8 warnings, such as noqa: E711 or noqa: E712, are ignored.

For example:
https://github.com/pandas-dev/pandas/blob/main/pandas/tests/series/test_arithmetic.py#L827

https://github.com/pandas-dev/pandas/blob/main/pandas/t

[2022-11-22 20:14] angularOcean commented on #49656
Okay it doesn't look like a PR has been opened for `pandas/core/tools/datetimes.py` or `pandas/io/formats/format.py` so I will try taking on those two.

[2022-11-22 21:24] tantardini commented on #48479
Yes it's still relevant for me. Why your merge request is closed?

[2022-11-22 21:24] #49813 closed

[2022-11-22 21:26] rhshadrach commented on #49834
Thanks for the report! Haven't run a git bisect but it will undoubtedly point to one of my PRs. Should be able to get a fix in for 1.5.3.

@phofl

When given a reducer, transform will compute the result and then broadcast it to each group. E.g.

[code]

[2022-11-22 21:30] rhshadrach commented on #49834
@Verena1695

`as_index` only has an effect when doing an aggregation, not a transform; see the documentation here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

The result you want can be achieved by

[code]

[2022-11-22 21:38] jbrockmendel commented on #47879
I'm not convinced this is possible.  Closing.

[2022-11-22 21:38] #47879 closed

[2022-11-22 21:39] jbrockmendel commented on #44240
@phofl i think one of your recent PRs might have addressed this?

[2022-11-22 21:41] phofl commented on #44240
I am in the process of finishing the final pr, will link to this issue then

[2022-11-22 21:59] #46470 closed

[2022-11-22 22:01] rhshadrach opened #49845 "REF: Move `to_dict` implementation to pandas.core.methods.to_dict"
Ref: https://github.com/pandas-dev/pandas/pull/46487#pullrequestreview-1059398661

For code organization, it'd be good to get the implementation of these methods out of `frame.py` and to a more suitable location - `pandas.core.methods.to_dict`

[2022-11-22 23:16] jbrockmendel commented on #49845
i dont think the `to_*` heuristic works.  you wouldn't want to move `to_numpy` to pd.io would you?  Certainly not to_timestamp?

[2022-11-23 01:38] seanjedi commented on #48855
I've started to work on `unsupported-membership-test` if that is alright.
I started working on it here: https://github.com/pandas-dev/pandas/pull/49848
I have not opened up the PR for review yet since there are still some issues I am trying to debug, once I have them resolved then I will open up the PR.

[2022-11-23 05:58] datapythonista opened #49857 "RLS: pandas 1.5.3"
Planned for mid-December, if nothing is required to be released more urgently.

[2022-11-23 05:59] datapythonista commented on #49194
Release complete, I'll be making the official announcements shortly.

[2022-11-23 05:59] #49194 closed

[2022-11-23 08:58] MarcoGorelli commented on #48855
thanks @seanjedi - let's keep that one off too, I think they're all false positives and we risk annoying contributors

[2022-11-23 09:17] alonme commented on #46987
@rhshadrach - thanks!
what should be our next step for this issue?

[2022-11-23 09:54] iyonchev opened #49861 "json_normalize - incorrect removing separator from beginning of key"
[code]
**Actual result:**
<html>
<body>
<div class="output_container" style="width: 1488px; color: rgb(212, 212, 212); font-family: &quot;Segoe WPC&quot;, &quot;Segoe UI&quot;, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; wh

[2022-11-23 10:06] iyonchev commented on #49861
`display(pd.json_normalize(jsn,sep='_', max_level=5))`
passing max_level value could be used to prevent the execution of the new methods(from the change above) and execute the main one...

[2022-11-23 12:39] rhshadrach commented on #46987
I think this needs more discussion; my current thought is that while this behavior is undesirable, modifying it may be more undesirable.

Another example. Trying to index using a Boolean value is specifically handled by pandas, but float is not.

[code]

[2022-11-23 12:46] alonme commented on #46987
OK.

Would gladly help to find more places in which we have this behavior / implement a fix

[2022-11-23 13:40] kloczek commented on #49840
You are using `hypothesis` 6.56.
In my case it is 6.58.0.
Could you please try upgrade you `hypothesis` to the latest version?

[2022-11-23 13:44] MarcoGorelli commented on #49840
It's 6.58.0:

https://pipelines.actions.githubusercontent.com/serviceHosts/e1fa798b-a3de-4f41-9248-cf5942f5881f/_apis/pipelines/1/runs/368845/signedlogcontent/6?urlExpires=2022-11-23T13%3A45%3A27.9387804Z&urlSigningMethod=HMACV1&urlSignature=Q7EVOE0VD6K1marhDMQOJnIfV9sRLW5Dn1vYhmNnzTw%3D
[code]

[2022-11-23 13:53] CerqueiraMatheus commented on #48855
I will work on `access-member-before-definition`

[2022-11-23 14:40] MarcoGorelli commented on #49840
you can look at any recent CI job logs and see it

[2022-11-23 15:24] jbrockmendel commented on #49845
ive been thinking a core/methods/ directory might be good for files that are basically just individual refactored-out methods (e.g. describe.py)

[2022-11-23 15:52] kloczek commented on #49840
Indeed however looking on last commit CI https://github.com/pandas-dev/pandas/actions/runs/3532039965/jobs/5925906197 I see only small subset of modules which I have installed in buikd env
[code]
Looks like pytest is failing in my case in some optional units which are added because I have specified more build dependencies.
Coould you please repeat `pytest pandas/tests/io/parser/test_parse_dates.py

[2022-11-23 15:53] MarcoGorelli commented on #49840
https://github.com/pypa/pip/issues/11601#issuecomment-1317546885

[2022-11-23 16:21] erezinman opened #49867 "BUG: `pd.Index.str.split` has an unexpected return type with `expand=True`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Returns an index `Index(['0_0', '1_1', '2_2', '3_3

[2022-11-23 18:03] #49834 closed

[2022-11-23 18:21] erezinman commented on #49867
LOL, sorry. Right away.

[2022-11-23 18:23] nrontsis commented on #34916
Is this still scheduled for pandas 2.0?

[2022-11-23 18:33] MarcoGorelli commented on #49867
this is correct, the string doesn't contain `__`

if you'd used `_` you'd have got a multiindex
[code]

closing for now then, but thanks for the report

[2022-11-23 18:34] MarcoGorelli commented on #49867
sorry, you're right, in the Series case it does indeed return a single-column DataFrame:
[code]

[2022-11-23 18:35] erezinman commented on #49867
Why of course it doesn't contain that, but the returned type should not be affected by that fact

[2022-11-23 19:23] #48442 closed

[2022-11-23 20:17] WillAyd opened #49871 "DOC: Update Benchmark Link"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/development/maintaining.html#benchmark-machine

### Documentation problem

This points to an old asv site that is no longer maintained. Should be pointing to https:

[2022-11-23 20:25] Polandia94 opened #49872 "ENH: read_excel: Add a callable to access the Cell before getting the value"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

In pandas.read_excel it's not possible to access information about the cell object before converting to dataframe. In some cases as in [#47269](https://github.com/pandas-dev/pandas/issues/47269),[#46895](https://githu

[2022-11-23 20:40] Polandia94 commented on #49872
I think this could be a provisory solution to:
[#20828](https://github.com/pandas-dev/pandas/issues/20828)
If value_of_cell is:
`def value_of_cell(cell):
    if len(str(cell.value))> 15:
        return str(cell.value)
    else:
        return cell.value
`

[2022-11-23 21:08] attack68 opened #49874 "DOC: Table Visualization gets Error for cell"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

user guide : table visualization.

### Documentation problem

in the first section the docs have hidden cells to generate output to maintain the flow of text.
the object 's' does not render in the la

[2022-11-23 21:59] jbrockmendel commented on #48816
1) I agree with @mroeschke
2) I _think_ Series will convert if you add a `__iter__` method
3) we _do_ convert `__array__`-having objects in the Index constructor even without a `__iter__` method, so it'd be nice to be consistent.

[2022-11-23 22:09] #49732 closed

[2022-11-23 22:13] mroeschke commented on #43650
Now that our minimum version is 6.0 I believe we shouldn't hit this issue anyone as IIRC I was experiencing this with pyarrow 2.0 and had skipped those version in the CI due to the deadlock.

Closing since we haven't seen this in a while but we can reopen if this shows up again

[2022-11-23 22:13] #43650 closed

[2022-11-23 22:18] mroeschke commented on #33899
After https://github.com/pandas-dev/pandas/pull/49000 this usage was removed since we have a dedicated public `pd.ArrowDtype` now so closing

[2022-11-23 22:18] #33899 closed

[2022-11-23 22:33] seanjedi commented on #48855
Alright, thanks for letting me know!
I will work on `pointless-string-statement` then.