[2018-12-07 14:37] aqurilla commented on #24070
Hi! @datapythonista, I see that methods that do not have docstrings also return errors GL01 & GL02. I assume resolving this issue also involves adding in docstrings for these methods?

[2018-12-07 14:49] aqurilla commented on #24143
Hi! @datapythonista, can I work on this issue?

[2018-12-07 15:04] datapythonista commented on #24143
sure @aqurilla, let me know if you need help

[2018-12-07 15:06] aqurilla commented on #24143
Will do, thanks!

[2018-12-07 15:16] datapythonista commented on #24070
no, if I'm not wrong we merged a PR today that makes the methods without a docstring generate a different error. If we didn't merge it yet, we should merge it soon

[2018-12-07 15:30] aqurilla commented on #24070
Got it, thanks!

[2018-12-07 15:39] ArtinSarraf commented on #24127
Seems the issue is in `pandas.core.resample._get_range_edges`, line 1591.

I think `day_nanos % offset.nanos == 0` should be the other way around. This will only ever evaluate to True for Day(n=1). I’m guessing this wasn’t the inention as it would be overly complicated compared to `day_nanos == offset.nanos`.

[2018-12-07 16:09] topper-123 commented on #13480
I'm in agreement with @jreback. I also like having a ``dtypes`` attribute. The repr above would become:

[code]

That would mean adding a ``MultiIndex.dtypes`` property. If there's agreement/acceptance on this, I could look into it.

[2018-12-07 16:32] topper-123 commented on #13480
hmm, some levels may not have a name. What did you have in mind?

[2018-12-07 16:42] jreback commented on #13480
hmm yeah

maybe just zip them? into a tulple list

[2018-12-07 16:48] h-vetinari commented on #24060
@jreback

I know all that. I'm just saying that being overdue is a bad reason to rush a release, if some of the core changes have not been fully developed yet (talking mostly about EA + regressions).

I don't know what's been discussed in other channels, but what I saw on GH was that the main decision was `0.24->0.25->1.0`. Re:PY2, it has equally been said (and there's a warning to that effect on

[2018-12-07 17:04] h-vetinari commented on #24060
@TomAugspurger

#24060 (comment). Could you try restating / summarizing it?
I think Py2 vs. Py3 is irrelevant for 0.24.0.

Sorry this was not clear. The main (interrelated) two points are:
* one should not rush 0.24 due to the stated deadline (for supporting PY2) of Dec 31st.
  * listed some issues for that - some of these (and many more related ones I didn't tag) have been pushed to "Contribution

[2018-12-07 17:15] topper-123 commented on #13480
I think that would confuse. If we simply use dtypes and names, people can look up individually using MultiIndex.dtypes and MultiIndex.names. I think that would be nice and simple.

BTW, I did the repr slightly different, if you didn’t notice.

[2018-12-07 17:20] TomAugspurger opened #24144 "Alternative implementation for `.where` on EA-backed Indexes"
Followup to https://github.com/pandas-dev/pandas/pull/24114.

Right now `Categorical.where` and `IntervalIndex.where` involve converting to objects.

We could use an alternative implementation that copies the underlying array and sets the values.
https://github.com/pandas-dev/pandas/pull/24114#issuecomment-444571081 should give a rough idea of the kinds of speedups you'd get.

[2018-12-07 18:02] bnouvelbmll opened #24145 "Dataframe.assign performance"
#### Dataframe.assign performance

[code]
#### Problem description

Running the code fragment below on my computer outputs the following
[code]

This suggests to me that assigns may be slower than it needs to be.

Obviously, no-one really expects a simple alternate implementation of assign to beat the default implementation of a standard library unless there is something that I is overseen / a sig

[2018-12-07 18:49] YuechengWu commented on #24125
@alexander-ponomaroff hey Alex, when I run the script, it tells me grep is not recognized as an internal or external command. Then I ran the script with out the pipe part, it has given me a bunch of errors, here is the screen shot, let me know if you can see this. Thanks.
![image](https://user-images.githubusercontent.com/25010571/49666697-e0adfc00-fa26-11e8-8049-bf1b535cb8ae.png)

[2018-12-07 18:53] datapythonista commented on #24125
grep only works on linux/mac. You can add `--prefix=pandas.Series.` and it will also return a subset you can work with

[2018-12-07 19:46] TomAugspurger opened #24147 "Bug in internals alignment for Series.combine_first with Extension dtype"
[code]

Compare with the expected (aside from dtype)

[code]

Something is going wrong inside `Block.apply` at https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/managers.py#L386-L387

[code]

that should be

[code]

I'm hitting this in the DatetimeArray refactor.

I suspect that this is a symptom of https://github.com/pandas-dev/pandas/issues/23023

[2018-12-07 20:28] jorisvandenbossche opened #24148 "DOC: update usage of randn in io.rst"
In the IO page of the docs (https://github.com/pandas-dev/pandas/blob/master/doc/source/io.rst), there are some occurrences of direct calls to `randn` instead of using the properly imported `np.random.randn` in full, which makes the examples not reproducible if you only imported `import numpy as np`.

A PR that replaces `randn` with `np.random.randn` would thus be very welcome.

[2018-12-07 20:39] aliberkhsl commented on #24148
Hello,I would work on this issue if possible?

[2018-12-07 20:45] TomAugspurger commented on #24145
Your assign is basically the same as pandas.

What version of python? I don't see the perf difference between

[code]

keep in mind that python < 3.5 does a sort on the keys to ensure a deterministic insert order.

[2018-12-07 21:18] dimitar-petrov opened #24151 "Inside rolling apply idxmax and idxmin on Datetime Index do not work as expected"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Using rolling apply with timedelta offset, starts breaking idxmin and idxmax unexpectedly by returning the opposite value.
Could not isolate simple example but I am able to put a BP and investigate the state of the live objects.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the

[2018-12-07 21:38] charlesdong1991 commented on #24148
might because randn has been assigned to np.random.randn at very beginning in the import part? `randn = np.random.randn`

[2018-12-07 21:42] jorisvandenbossche commented on #24148
Yes, that is the reason it currently works in our docs. But, that import is hidden to the viewer of the docs, and is not a standard numpy import. So therefore we want to fix this, with the goal to be able to remove this `randn = np.random.randn`

[2018-12-07 21:43] charlesdong1991 commented on #24148
ok, i see... i will make a small pr on it...

[2018-12-07 21:59] TomAugspurger commented on #24151
Can you reproduce this outside of rolling?

[code]

looks fine on master.

[2018-12-07 22:05] #24147 closed

[2018-12-07 22:33] charlesdong1991 commented on #24144
would like to take a shot, but not sure if i am capable of finishing it... in old `where`, it uses `np.where` along with `cond` and `other` to get values first, and then assign a `Categorical`, so the alternative i understand is to create the `Categorical` first, and directly set value based on `cond` and `other` so as to get rid of `np.where`? is it correct?

[2018-12-07 22:48] ArtinSarraf commented on #24127
Added the fix in this commit since I was already updating _get_range_edges. Tests pass and now gives the expected output.

https://github.com/pandas-dev/pandas/pull/23941/commits/eb0550195b00ae18582b7353aab6710f1c97f4f0

[2018-12-07 23:05] jbrockmendel commented on #13120
FWIW this works in master for DatetimeIndex and TimedeltaIndex (though not for PeriodIndex):

[code]

[2018-12-08 09:01] bnouvel-wio commented on #24145
Tom thank for the swift reply.

Pandas your code is different from mine: as copy is deep by default.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.copy.html
My previous code (sent with my work account) was shallow copy.

I am using conda python 3.6.0.
I have also tried the code on my personal laptop. I have similar performance gap with different version of python and pand

[2018-12-08 10:34] gitgithan commented on #9067
Could it be a useful feature to add to warn users of leading/trailing spaces in index/column names when using importing functions?

[2018-12-08 11:45] TomAugspurger commented on #24145
Ah, I see.

DataFrame.assign has to copy the data. It shouldn't mutate the input in place.

[2018-12-08 12:38] bnouvel-wio commented on #24145
There is "mutate inplace" with "functional_assign" (This is not "in_place assign" ).  "functional_assign" . Yes, ithe same instance of the data series is reused in a different dataframes, however I estimate it should be the expected for assign. It would be similar as taking slice on a numpy array, you have a new instance of a numpy.arra,  you have is a new "view," and you don't copy the data unles

[2018-12-08 12:42] TomAugspurger commented on #24145
I don't follow exactly what your proposing, but it sounds like you're
expecting some kind of copy on write behavior?
Pandas doesn't have that (yet).

Regardless, after

[code]

the expectation is that any further (inplace) modifications to `df2` will
not be reflected in `df`.

But you are of course welcome to avoid the copies by assigning directly.

On Sat, Dec 8, 2018 at 6:38 AM Bertrand NOUVEL <

[2018-12-08 13:04] schneeammer opened #24162 "DataFrame.clip_upper does not preserve dtype per column"
#### Code Sample

[code]
##### Output of this code:

<details>

[code]

</details>

#### Problem description

`clip_upper` with int- and float- columns convert int-column to float.

Calling `data.clip_upper(10)` with an integer, I would expect that it leaves the int-column as integers and the float-column as float. However, it converts everything to float. (see (B) and (C))

Moreover, `clip_upper`

[2018-12-08 15:08] bnouvel-wio commented on #24145
Tom thanks for the swift reply again.

Now, I am still under the impression that current implementation should be called "assign_and_copy" and that assign should not copy the entire the data. I am not convinced that most developers are expecting that all operations on a dataframe would to lead to a deep copy of the entire data. Operations such as 'renaming' the columns, adding, subsetting columns

[2018-12-08 15:20] jreback commented on #24145
virtually all operations in pandas copy - with the exception of inpkace indexing

this is a very clear idiom and is not going to change

[2018-12-08 15:21] #24145 closed

[2018-12-08 15:33] bnouvel-wio commented on #24145
But with c-o-w, performance can be improved without any change of the idiom ?

[2018-12-08 15:38] jreback commented on #24145
maybe but that’s out of scope for pandas for the near future

[2018-12-08 15:55] bnouvel-wio commented on #24145
Sure, it is certainly a significant change - thanks again for swift replies.

[2018-12-08 15:58] YuechengWu commented on #24125
@alexander-ponomaroff @datapythonista are these errors I am suppose to get after running the script? Let me know if you guys are able to see it. Thanks.
![image](https://user-images.githubusercontent.com/25010571/49687902-27a7fa00-fad8-11e8-81a9-ba1fdc0df2b6.png)

[2018-12-08 18:10] datapythonista commented on #24125
yes, that looks good. Do we have an issue for it? would be nice to keep the conversarion in the corresponding issue, this one is unrelated to this, right?

[2018-12-08 18:12] YuechengWu commented on #24125
@datapythonista not yet, i am going to create an issue and work on it if that's ok

[2018-12-08 18:14] datapythonista commented on #24125
sure, that sounds great.

[2018-12-08 18:18] YuechengWu opened #24164 "DOC: Fix docstrings error SS03 - Summary does not end with a period"
when checking for errors with ./scripts/validate_docstrings.py --errors=SS03 --format=azure --prefix=pandas.Series. We get all SS03 errors in pandas/core/generic.py file.

I will be working on this and create a pull request afterwards. Thanks.

[2018-12-08 18:22] YuechengWu commented on #24164
Not only in generic.py, some other files too, I will be fixing them all together.

[2018-12-08 20:15] TomAugspurger commented on #18720
I'm not sure. I don't think it's a blocker for 0.24.0 though.

[2018-12-08 20:31] TomAugspurger commented on #23569
Is changing `DatetimeIndex__array__` and `Series[datetime64[ns, tz]] to be warn a blocker for 0.24.0 (I think it should be).

I have a branch started. Just need to go through and fix up all the warnings.

[2018-12-08 20:57] TomAugspurger commented on #22857
I think this was handled by
https://github.com/pandas-dev/pandas/pull/23623

[2018-12-08 20:57] #22857 closed

[2018-12-08 21:03] AryehGielchinsky opened #24166 "Can't be astype a dataframe with CategoricalDtype"
[code]
#### Output of last step:
```ValueError: Buffer has wrong number of dimensions (expected 1, got 2)```

This code is from the [documentation](https://pandas.pydata.org/pandas-docs/stable/categorical.html#controlling-behavior), but it does produces an error. When you try to change columns in a DataFrame to categorical it gives a ValueError. If you use a Series instead it works, but then you c

[2018-12-08 23:25] andrewgsavage opened #24167 "Hashing ExtensionArrays which factorize to scalar objects with __getitem__ attr fails"
[code]

array([<Quantity(0, 'kilogram')>, <Quantity(1, 'kilogram')>,
       <Quantity(2, 'kilogram')>], dtype=object)

[code]

----> 1 hashing.hash_object_array(vals.astype(str).astype(object), hash_key, encoding)

ValueError: setting an array element with a sequence

#### The issue here is in this part:

[code]

----> 1 vals.astype(str)

ValueError: setting an array element with a sequence

####

[2018-12-09 05:06] nathanielatom commented on #24137
Thanks, created https://github.com/dateutil/dateutil/issues/845. The timestamp is created in a function that accepts arbitrary input for timestamp format, this is just one format example.

[2018-12-09 08:02] #23960 closed

[2018-12-09 09:56] tarrade commented on #24131
@mroeschke I agree that I was not expecting to have it min/max working on string. Since it was able to find min, I thought it was trivial to get the index and this is whay I was surprised. Anyway, on my side the right way is to use `datetime`. @WillAyd I don't understand what you want. I agree that I should use the right type. Since `min()` was working I was expecting `idxmin` to work. It is proba

[2018-12-09 09:56] #24131 closed

[2018-12-09 12:09] #23911 closed

[2018-12-09 12:17] TomAugspurger commented on #24166
This is fixed on master. We're doing the next release in a couple weeks.

The short example was perfect. I see that your on pandas 0.22. You could try updating to the latests release (0.23.4) to see if it's already been fixed. And if it isn't fixed there, you could try building master from source, but that's a bit of a hassle.

[2018-12-09 12:17] #24166 closed

[2018-12-09 13:30] andrewgsavage commented on #24167
Oops yea, missed that.

_values_for_factorize returns an array of quantity objects. Quantity
objects being necessary to prevent losing the units.

So I think I should be hitting that branch. The merge request makes the
hashing tests pass for pint.

On Sun, 9 Dec 2018, 13:21 Tom Augspurger <notifications@github.com wrote:

[2018-12-09 14:02] #23878 closed

[2018-12-09 14:10] #22420 closed

[2018-12-09 15:22] LJArendse commented on #24071
@datapythonista is it okay if I pick up this issue?

[2018-12-09 15:34] LJArendse commented on #24071
@datapythonista awesome, will do, thanks

[2018-12-09 15:49] #24148 closed

[2018-12-09 15:55] #22898 closed

[2018-12-09 16:03] ededovic opened #24171 "IntegerNA Support for DataFrame.diff()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
If for example, in the dataframe of integers, we set (2,b) as NA, then the entire column b becomes float. When we attempt to use df.diff(axis=1), then column b-a gives all NaN because float - int gives NaN.
In addition, c-b does not even happen, c-a is done instead as only c and a columns are integers.
Both of t

[2018-12-09 16:10] #13291 closed

[2018-12-09 17:06] ededovic commented on #22596
In finance, when going from -1 to -2 one is going from less debt to more debt , hence one would expect negative -100% change not positive +100% change. Say you had -1$ debt, and now you have -2$ debt, your debt increased by -100%. In absolute terms, the value changed by 100%, but the direction is negative not positive.

A more complex example is going from -2 (negative) to +1 (positive), one would

[2018-12-09 17:53] #23952 closed

[2018-12-09 18:03] datapythonista opened #24173 "DOC: Fix all flake8 issues and warning in the documentation pages"
This issue is to track the pending work in making the `.rst` documentation pages be free of PEP-8 and other flake8 issues, and to not generate warnings.

| Page                         | flake8 | warnings |
|------------------------------|--------|----------|
| `10min.rst`                  | FAIL: #24174 | FAIL |
| `advanced.rst`               | OK: #24182 | FAIL |
| `api.rst`                    |

[2018-12-09 18:28] datapythonista opened #24174 "DOC: Fix flake8 issues in doc/source/10min.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/10min

[2018-12-09 18:42] datapythonista opened #24175 "DOC: Fix flake8 issues in doc/source/dsintro.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/dsint

[2018-12-09 18:45] datapythonista opened #24176 "DOC: Fix flake8 issues in doc/source/enhancingperf.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/enhan

[2018-12-09 18:48] saurav2608 opened #24177 "DOC: Fix flake8 issue in whatsnew files"
In some of the whatsnew files we are using implicit imports. For example in "whatsnew/v0.11.0.rst"
we import pandas `from pandas import *` implicitly.  We instantiate using the implicitly imported class `DataFrame` later in the code.

`df1 = DataFrame(randn(8, 1), columns = ['A'], dtype = 'float32')`
`df1`

The preferred approach is to use explicit import as `import pandas as pd` and replace the c

[2018-12-09 18:53] datapythonista opened #24178 "DOC: Fix flake8 issues in doc/source/groupby.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/group

[2018-12-09 19:00] datapythonista opened #24179 "DOC: Fix flake8 issues in doc/source/merging.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/mergi

[2018-12-09 19:02] datapythonista opened #24180 "DOC: Fix flake8 issues in doc/source/reshaping.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/resha

[2018-12-09 19:03] jreback commented on #24060
@h-vetinari

If we keep adding and adding, then the release just keeps getting delayed forever. I have drawn a line in sand. This is how you get product out the door. Once the DTA lands fully, we will be in a position to release. So this is not that far away. Sure we could do extra work and just say 0.23.5 is the last PY2 release (and of course release it). But its going to be easier to back to a

[2018-12-09 19:04] datapythonista opened #24181 "DOC: Fix flake8 issues in doc/source/visualization.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the `flake8-rst` section, remove from the `exclude` list the file `doc/source/visua

[2018-12-09 19:11] topper-123 commented on #13480
I've been thinking a bit more about dtypes in the repr.

Having dtypes in the repr would make it not possible to recreate multiindexes from their repr (after implementing #23887 and possibly setting ``options.display.max_seq_items``). So there's a trade-off involved.

I agree with @jorisvandenbossche that the current proposal is real-looking and therefore should be creatable from the repr, if poss

[2018-12-09 19:17] LJArendse commented on #24178
@datapythonista I would like to give this issue a try :)

[2018-12-09 19:20] charlesdong1991 commented on #24180
i will make a small pr on it

[2018-12-09 19:20] datapythonista commented on #24178
please do, and let me know if you have questions or need help, thanks @LJArendse

[2018-12-09 19:33] datapythonista commented on #24177
Thanks for creating the issue @saurav2608

Did you check if the changes required are small to have a single PR for all files? I'm guessing if it'd make sense to create an issue to fix all the `flake8-rst` errors for each version (all the `0.23.*` in one issue). I see all the whatsnew files are skipped right now.

If you want to take a look yourself, may be fix some cases, see what's reasonable to

[2018-12-09 19:40] WillAyd commented on #22596
Agreed on the first point but not on the second. I don't see a keyword providing much value here over a user using `abs` as desired to get the calculation they want. Closing as a result

[2018-12-09 19:40] #22596 closed

[2018-12-09 19:41] charlesdong1991 commented on #24180
Hi, @datapythonista , that's cool!! I am pretty new to this community, so i am not subscribed to pandas-dev mailing list.. and i just subscribed it, and interested in hearing more details about it!

[2018-12-09 19:51] jreback commented on #24139
closed by #24140

[2018-12-09 19:51] #24139 closed

[2018-12-09 20:34] addisonlynch commented on #24179
Hi @datapythonista, I'd be happy to take this one.

[2018-12-09 20:39] datapythonista commented on #24179
Excellent, all yours. Let me know if you need help. Thanks for helping @addisonlynch

[2018-12-09 20:53] TomAugspurger commented on #24167
The default is to return an object-dtype ndarray, but ideally that would be avoided.

I'll need to familiar myself with `PintArray`, but is the idea that the entire array has the same `unit`? If so, I *suspect* that `_values_for_factorize` could return something like the underlying `._data`. Maybe take a look at how `pandas.Categorical` does it. Since `factorize` returns the `labels, uniques` tupl

[2018-12-09 20:57] jmarshall9120 commented on #19501
December calling.. did we ever get a cookbook entry for this?

[2018-12-09 21:02] addisonlynch commented on #24181
Will take this one as well.

[2018-12-09 21:04] addisonlynch commented on #24181
@datapythonista would you like me to finish the rest of the issues which are not yet taken and create a single PR for them? Looks like

[code]

[2018-12-09 21:10] datapythonista commented on #24181
Please take one at a time from the issues list. May be simpler for you to address all them at the same time, but makes our life more complicated when reviewing and merging.

[2018-12-09 21:47] shoyer commented on #23887
I don't think this makes sense. The default `pd.MultiIndex` constructor intentionally mirrors the under-lying data-structure (in terms of `levels` and `codes`). It's OK if users don't use the constructor directly -- we can aways make convenience functions for that (which indeed already exist). We could even make a new "try everything" converter function `pd.to_multiindex()`, though I'm not sure ho

[2018-12-09 22:44] jorisvandenbossche commented on #13480
(forgot to post, comment of a day ago; not yet an answer on the last comment of @topper-123 )

I have the feeling that adding this additional information for a MultiIndex somewhat bumps into the limits of what the current constructor-like Index repr can handle. Why do we necessarily want to keep to the python-code-like repr if we are adding a lot of "keywords" that are not actually keywords? (alth

[2018-12-09 22:49] addisonlynch commented on #24176
I can take this issue.

[2018-12-09 22:50] addisonlynch commented on #24176
@datapythonista, do you have any recommendations for:

[code]

Adding the ``noqa`` makes the line too long

[2018-12-09 23:34] addisonlynch commented on #24176
That's what I tried originally, but still getting ``E999`` for the ``%prun -l 4``.

[2018-12-09 23:56] datapythonista commented on #24176
is this failing too?
[code]

@FHaase I guess those should work in `ipython` directives, is this something that can be fixed in `flake8-rst`?

[2018-12-10 00:00] addisonlynch commented on #24176
Yes, the above example fails as well.

[2018-12-10 00:09] datapythonista commented on #24176
I guess you also tried:
[code]
Is this the one you mentioned it was too long?

For now may be you can add the `noqa E999 E501` (`E501` is for line too long) if that fixes it, and we'll try to find a better solution later.

Otherwise, feel free to open a PR to fix the rest, and may be you can create an issue for this one, and add the link to the issue to the `exclude` of the file

[2018-12-10 02:42] ywpark1 opened #24192 "TST: Add missing test case for test_register_option when the key is a reserved key"
I am new to Python and Pandas. I was checking the  <a href="https://codecov.io/gh/pandas-dev/pandas/src/master/pandas/core/config.py#L441">codecov</a> and found that there was a missing test case for a reserved key under `test_register_option` in the file `test_config.py`.

I would like to try working on this test case if you do not mind!
Thanks

[2018-12-10 03:50] saurav2608 commented on #24177
@datapythonista :
There are 1015 `flake8-rst` errors in all the whatsnew files. Of that 200 have `F405` type errors. F405 is due to `import *` but could have other reasons as well. My suggestion is to fix all the `F405` errors in one PR. **I will take this up**.
For the rest, I can create one issue per whatsnew. And one master issue tracking them all. (similar to how you have organized for the res

[2018-12-10 05:36] h-vetinari commented on #24060
@jreback
Thanks for the response. I understand you want to get this out the door ASAP, which is fair enough, of course.

Seems I misunderstood that pandas would stop supporting PY2 per Jan 1st 2019... Maybe should adapt that warning box in the whatsnews then ("`v.0.24.x` will be the last series that supports PY2; starting with `v.0.25.0`, pandas will be python3-only"...?)

[2018-12-10 06:39] mroeschke commented on #24060
RE: CalendarDay progress https://github.com/pandas-dev/pandas/pull/22867#issuecomment-445433463

**TODO**
Add all the depreciation warnings (I anticipate there being quite a few of these). This needs to be included in the following:

- Day tick arithmetic with other Ticks, Timedeltas, and DatetimeTZ
- DatetimeIndex.shift (tz-aware only)

**Migration**
The plan is for _Day (formerly CalendarDay) to

[2018-12-10 07:08] kid3night opened #24195 "pandas.rolling.max() shut down"
[####](https://github.com/kid3night/pandas_issue_rolling/blob/master/sample_data.h5) Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I got a sample data and want to use it to get the rolling max, min, sum etc.
But every time I did rolling max/min on it, the python kernal would shut down and shows 'python.exe has stopped working' I have uploaded the sample data, an

[2018-12-10 07:52] kaushikb11 opened #24196 "Pandas groupby sum misbehaves when one of the columns has string objects."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The output for the above code should return NaN for the column 'B' of the DataFrame when min_count=1 as mentioned in [DataFrame.sum doc.](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html), but it is returning 0 instead.

#### Actual Output
[code]
#### Expected Ouput
[code]
So, I d

[2018-12-10 08:18] joseortiz3 opened #24197 "Unexpected Slicing Behavior for DateTimeIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Not a problem, just unexpected behavior: DateTimes have been used to slice DateTimeIndexes on Series and Dataframes for a long time (Behavior 1). Thus the same slicing behavior is expected for just a DateTimeIndex by itself, but that's not the case (Behavior 2).

Then again, it may be harder to code this behavi

[2018-12-10 09:08] ron819 commented on #16356
@jreback
https://github.com/pandas-dev/pandas/issues/16357 was resolved? So this one could be closed as well?

[2018-12-10 09:18] pocin opened #24198 "Lost timezone after groupby transform"
#### Code Sample, a copy-pastable example if possible

[code]

`df.info()` shows

[code]

`df.to_dict()` shows
[code]
#### Problem description

The timezone is dropped silently and timestamp converted to UTC after groupby - transform operation on tz aware datetime column

#### Expected Output
`assert df['end_time'] == df['max_end_time']`

#### Output of ``pd.show_versions()``

<details>
[code]
</d

[2018-12-10 09:34] ron819 commented on #15137
@TomAugspurger  any progress with this?

[2018-12-10 09:35] datapythonista commented on #24177
Sounds good. I'd start by the newest whatsnew files, and if you see there are too many F405 errors for one PR, just open one half way and continue in another. Huge PRs make reviews very inefficient.

[2018-12-10 09:35] ron819 commented on #978
@jreback
Is this still needed? It's marked for 0.17 which was released on 2015.

[2018-12-10 09:57] kaushib11 commented on #23889
Hey, could you explain the problem in details and in what cases having NaNs as an output would be helpful? As we could just add an extra condition to make it work. I just can't understand any good application where this could be used.

[2018-12-10 10:57] saurav2608 commented on #24177
I have created a PR for errors in recent whatsnew ( v20.0 and above). I am creating issues for the flake-8 error. One for each whatsnew.

[2018-12-10 11:10] saurav2608 opened #24200 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.24.0.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` list the file `doc/source/whatsne

[2018-12-10 11:15] saurav2608 opened #24201 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.23.0.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` list the file `doc/source/whatsne

[2018-12-10 11:17] jreback commented on #15137
@ron819 why don’t you do a pull request for this? we have thousands of issues and very few core devs, who mostly do code review

[2018-12-10 11:24] saurav2608 opened #24202 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.22.0.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

The first step of this issue would be edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` list the file `doc/source/whatsne

[2018-12-10 11:42] AlvaroPica commented on #15988
Any update on this implementation?

I am now facing this problem with PostgreSQL and SQLAlchemy and would love to have that "on duplicate update".

Thanks for the work

[2018-12-10 11:45] jreback commented on #24195
needs an actual copy pastable example one can run w/o a data input file

[2018-12-10 11:49] jreback commented on #24197
this is a very clear error message
Indexes are only sliceable by position

[2018-12-10 11:49] #24197 closed

[2018-12-10 11:53] joseortiz3 commented on #24197
![image](https://user-images.githubusercontent.com/18585219/49731113-7fa94280-fc37-11e8-8845-a17eca9f1969.png)

[2018-12-10 12:03] kid3night commented on #24195
The raws of the data are 1.8m+ and hard to paste.

[2018-12-10 12:08] datapythonista commented on #24200
Thanks a lot for creating all these @saurav2608

[2018-12-10 12:16] datapythonista commented on #24177
I changed the formats in the table to be the same as the issue for the other `.rst` files, I hope you don't mind. Makes it easier to read having the same.

For the `Pass` or `OK`, I consider them `OK` when we don't exclude them anymore in in `setup.cfg`. Otherwise, we don't guarantee that a new change does not break them again (in this case there shouldn't be changes to the old whatsnew, but still

[2018-12-10 12:17] #24174 closed

[2018-12-10 12:20] kchawla-pi commented on #15086
I am encountering this issue. I want to try and contribute a patchc Any pointers on how to start fixing this?

[2018-12-10 12:20] #24181 closed

[2018-12-10 12:21] #24179 closed

[2018-12-10 12:22] #24175 closed

[2018-12-10 12:25] jreback commented on #24192
duplicate test

[2018-12-10 12:25] #24192 closed

[2018-12-10 12:30] TomAugspurger commented on #15086
I think none of the maintainers have access to a system that can reproduce this.

Perhaps some of the others in this issue can help put together a solution.

[2018-12-10 13:11] jreback commented on #24195
@kid3night and how would you expect anyone to replicate this? pls reopen if you can show a reproducible example.

[2018-12-10 13:11] #24195 closed

[2018-12-10 13:18] jreback commented on #978
@ron819 this is not marked for 0.17 at all. the soln which is reasonable is
``df.loc[df.groupby('obj_id').data_date.idxmax(),:]``

[2018-12-10 13:18] #978 closed

[2018-12-10 13:21] kid3night commented on #24195
I put the sample data link on it. So you mean the data link is not acceptable?

[2018-12-10 13:33] jreback commented on #24195
links are not acceptable. a copy pastable example that replicates is needed.

[2018-12-10 13:36] #24180 closed

[2018-12-10 15:21] #16983 closed

[2018-12-10 15:21] #24077 closed

[2018-12-10 15:21] #24142 closed

[2018-12-10 15:22] #23109 closed

[2018-12-10 15:46] JoElfner opened #24205 "pd.core.groupby.groupby.DataFrameGroupBy.nth yielding false values with Interval MultiIndex Interval"
Hi,

using a solution for my problem posted on [SO](https://stackoverflow.com/questions/53667685/categorize-data-preserving-all-values), I stumbled upon this bug. Thanks @jorisvandenbossche for looking into that matter and confirming this to be a bug.

[code]

#### Problem description
When using `groupby` with `df.cut` it seems that taking the n-th row of a group with `df_grpd.nth(n)` with `n > 1`

[2018-12-10 16:00] WillAyd commented on #24205
Can you create a *minimal* sample to recreate the issue? This is a rather large one so harder to reason about than it needs to be

[2018-12-10 16:07] WillAyd commented on #24198
Yea I'm not terribly surprised by this as a lot of the cythonized groupby operations use the float value of timestamps for comparisons and may never cast back.

Can such ops be generalized when working with tz-aware data? Is it ever ambiguous if crossing time zones to do such a thing?

If it makes sense than wondering if this is something than an EA needs to handle appropriately

[2018-12-10 16:08] scootty1 commented on #24205
Yep, reduced it a bit:
[code]

[2018-12-10 16:32] jorisvandenbossche commented on #24205
@scootty1 your last example code produces a lot of NaNs in the intervals, though

[2018-12-10 16:41] jorisvandenbossche commented on #24205
Aha, and that actually also seems to be the problem. So based on that, creating a smaller example:

[code]

So the result is kind of correct, apart from the fact that the NaN in the index gets filled with the previous category.

I have a vague recollection we had an issue about this before.

[2018-12-10 16:44] scootty1 commented on #24205
Interestingly it is not showing the NaNy in my case... But I extended the bins to not produce any NaNs.

[2018-12-10 16:48] jorisvandenbossche commented on #24205
But do you still see the bug now? (I don't with your updated example from https://github.com/pandas-dev/pandas/issues/24205#issuecomment-445870771)

[2018-12-10 16:57] scootty1 commented on #24205
Nope, seems to be gone. Didn't check that thoroughly enough. But still strange that I don't see any NaNs, even when I reproduce joris' example.

[2018-12-10 17:04] jorisvandenbossche commented on #24205
Can you print the full code and output of what you did?

[2018-12-10 17:09] scootty1 commented on #24205
No, unluckily not. After a restart of the console my output is the same as in your example. Should have restarted right away... But before the restart I had just copied your example to the IPython Console.

[2018-12-10 17:21] jorisvandenbossche opened #24206 "BUG: reset_index of MultiIndex with CategoricalIndex levels with missing values fails"
MultiIndex with categorical levels without missing values, this works:

[code]

Now with a missing value (note the last `-1` in the labels, that's the only difference):
[code]

[2018-12-10 17:37] TomAugspurger opened #24207 "Add tests asserting that EAs shouldn't be coerced to ndarray"
https://github.com/pandas-dev/pandas/pull/24204 introduced a pattern for ensuring that an extension array (like categorical) isn't implicitly converted to an ndarray as part of a normal pandas operation.

This issue is to discuss

1. How these kinds of tests could be better written (is monkeypatching the best choice?)
2. Additional places where we should be making these assertions

[2018-12-10 17:40] WillAyd commented on #24198
Potential duplicate or at least related to #21603

[2018-12-10 18:12] mroeschke commented on #24198
@WillAyd Since it appears that the groupby routines convert to UTC first before running the aggregates, should be as straightforward to ensure that tz-aware columns undergo a `tz_localize('UTC').tz_convert(tz)` after the cython routine. Shouldn't need to worry about ambiguous/nonexistent times.

[2018-12-10 18:20] WillAyd commented on #24198
Makes sense. Do we want the groupby ops to handle this special casing though or is this better fit in the EA implementation? The former would probably be less work atm and provide better performance, though the latter would probably fit better into our programming paradigm go forward

[2018-12-10 18:34] saurav2608 commented on #24200
@datapythonista , @FHaase ,
I am facing an issue with E999 in the file 'v0.24.0.rst'. After correcting for all the errors listed above. I am getting error E999 on flaking. I am getting the error on the line marked by noqa E999. I am not sure why this is coming up. I am using  version 0.7.0 of flake8-rst.

[code]

[2018-12-10 18:57] someben opened #24208 "rolling.sum() of zeros produce positive output w/ float64"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The sum of a window of float32 zeros is zero, but the sum of a window of float64 zeros is a tiny, positive number. This is concerning, because ratio calculations like growth rates can "blow up" with tiny numbers.

#### Expected Output

0.23.4

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS

[2018-12-10 19:10] mroeschke commented on #24198
I don't have a clear picture how generically the groupby ops will interface with the EA in this case. I don't think we'd want to do timezone conversion within EA internals (timezone localization would be okay though) i.e. `EA(utc --> tz_local)` vs `EA(utc).tz_convert(tz_local)`

I think the most important piece is that it works generically across all groupby ops and methods.

[2018-12-10 19:12] datapythonista commented on #24200
The line seems correct. I'm not sure if the lines reported are from the original file, or from a temporary file that is generated.

If @FHaase is unable to help, I think the best you can do is temporary remove parts of the file, until you can identify which is the actual code generating the error.

[2018-12-10 19:18] TomAugspurger commented on #23565
Is there anything to do here for 0.24.0?

[2018-12-10 19:20] TomAugspurger commented on #22766
Test publishing is done.

I believe building the docs on azure is in progress, but not blocking for 0.24.

[2018-12-10 19:21] TomAugspurger commented on #17261
Probably not getting to this for 0.24.

[2018-12-10 19:50] mroeschke opened #24209 "DOC: scripts/validate_docstrings.py should clean up files created from docstrings"
Discovered in https://github.com/pandas-dev/pandas/pull/24194

 Running

`$ python scripts/validate_docstrings.py pandas.read_excel`

Produces a file `tmp.xlsx` in the pandas directory from a docstring in read_excel. We don't want to be accidentally committing these files; therefore, `validate_docstrings.py` should be removing any temporary artifacts after runs.

cc @datapythonista

[2018-12-10 19:53] WillAyd commented on #24198
The more I think about this I'm not sure it can actually be supported generically, at least not for operations that reduce. If we had two timestamps with the same UTC time but in different timezones which timezone would max return?

This would assume that the input always has the same timezone, no?

[2018-12-10 20:11] chris-b1 commented on #24208
Thanks for the report - this is the same issue as #13254 - would definitely take a PR to fix!

[2018-12-10 20:11] #24208 closed

[2018-12-10 20:15] TomAugspurger commented on #23995
I think we should make it so that `{Series,Index}.array` is always an ExtensionArray. It's not much work (I almost have a PR ready) and gives us a lot more flexibility going forward, since we aren't tightly coupled to ndarrays.

If a user wants a NumPy array, then they can use `to_numpy()`, or rely on `np.asarray(Series[numpy].array)` being no-copy, or we can provide access to the ndarray backing

[2018-12-10 20:19] mdivk opened #24210 "Possible bug noticed in pandas excel function"
**I am using Python 2.7 from Anaconda in Linux, no same issue found in Windows.**

pandas version: 0.18.1

Here is the case:

`First dataframe: product = pd.DataFrame()`

Intend to read in sheet_name=4, indeed the first sheet was read in:

`product = pd.read_excel(excelfile, nrows=1, header=None, usecols=[1], sheet_name=4)`

Check the element for this sheet:

[code]

Check the memory address of th

[2018-12-10 20:31] TomAugspurger commented on #23995
My WIP branch is at https://github.com/pandas-dev/pandas/compare/master...TomAugspurger:numpy-ea, FYI, in case anyone wants to work on it.  I'm moving back to fighting with serialization issues in #24024 right now.

[2018-12-10 20:59] iamlydialawal commented on #11540
Yeah this was not fixed...might coerce back into a df

[2018-12-10 21:01] timgeb opened #24211 "transform behaves differently with 'ffill' on DataFrameGroupBy and SeriesGroupBy"
#### Code Sample

[code]
#### Problem description

The first print statement produces

       values
    0     0.0
    1     0.0
    2     1.0
    3     1.0

The second print statement produces

    0    0.0
    1    0.0
    2    0.0
    3    0.0

#### Expected Output

I expected both operations to compute the same values. I regard the first output as the correct one.

#### Output of ``pd.show_ver

[2018-12-10 21:04] might2014 opened #24212 "Merge Using Index Name Produces Incorrect Result"
[code]
#### Problem description
The index of the 1st row should be 11 but it's producing **a wrong value of 33** right now.

The following 2 permutations of parameters produce correct results:
#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.6

[2018-12-10 21:09] jbrockmendel commented on #24060
Anyone have opinions on the timestamp/timedelta py2/py3 consistency issue?

[2018-12-10 21:10] mroeschke commented on #24198
Timestamps with different timezones would exist in an object dtype column, but yeah I am not sure how the max dispatch with object dtype would handle that scenario since they would be equivalent. But for more common ops, the timestamps _should_ have the same timezone.

I was making a naive assumption that `.values` would be called before passing to the groupby cython routines, and `.values` would

[2018-12-10 21:11] jbrockmendel commented on #24060
A bunch of deprecations  are listed as To Be Removed in 1.0; should 0.25.0 take the place of 1.0 for some of those?

[2018-12-10 21:13] TomAugspurger commented on #24060
Can you summarize that issue? Ideally we would just follow python (whatever version is running) here I think. But I don't think I fully understand the issue.

I think all of them... Need to discuss that though, some may need be pushed.

[2018-12-10 21:32] jbrockmendel commented on #24060
https://github.com/pandas-dev/pandas/issues/24060#issuecomment-444180736

Timedelta was recently changed to return NotInplemented in case where it previously raised.  As a result its py2 behavior matches python but differs from pandas py3 behavior.

Timestamp has an open PR to make the analogous change.

Once py2 is dropped, the change is definitely right.  Until then, there are conflicting consis

[2018-12-10 21:38] mroeschke commented on #24211
Thanks for the report. Investigation and PR's welcome!

[2018-12-10 22:09] kokes commented on #5008
Hi, as this API has been replaced by [to_sql](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html), I have to ask if you can replicate this issue in this "new" API.

Thanks!

[2018-12-10 22:09] TomAugspurger commented on #24206
Note that this is fixed for Datetime-like https://github.com/pandas-dev/pandas/pull/24024/files#diff-1e79abbbdd150d4771b91ea60a4e1cc7R4203

I'm not sure what a general solution would look like.

[2018-12-10 22:10] kokes commented on #6701
All but the second issue have been resolved. And that issue is regarding a long removed API, that has since been replaced by a SQLAlchemy-backed API, so we'll see, maybe it's no longer an issue (see followup in #5008).

[2018-12-11 00:40] FHaase commented on #24176
The issue with flake8-rst in connection with this line is as follows:
The ipython directive allows for python-console specific code, which usually doesn't appear in normal `*.py` files, resulting in `E999` issues.

flake8-rst takes care of it by removing `%.* ` + indentation in following lines. So for example for `%timeit` it works well. In this case the `-l 4 ` keeps being in the line resulting i

[2018-12-11 01:00] thoo commented on #24177
@saurav2608 Can you update the table: **status of whatsnew files** for my PR? This PR is related to `v0.23.0.rst` and `v0.22.0.rst`?

[2018-12-11 01:08] datapythonista commented on #24177
updated

[2018-12-11 01:53] FHaase commented on #24200
Have you tried aligning the '...:' with those above?
Like
[code]

[2018-12-11 02:23] kid3night opened #24218 "pandas.rolling.max() shut down reopen"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I got a sample data and want to use it to get the rolling max, min, sum etc.
But every time I did rolling max/min on it, the python kernal would shut down and shows 'python.exe has stopped working'

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`

[2018-12-11 02:31] thoo commented on #24200
@saurav2608  I could also add this to my PR #24217. Let me know.

[2018-12-11 02:35] saurav2608 commented on #24200
@thoo : Thanks. If you have the fix please include in your PR. But the comments are required.

[2018-12-11 02:38] thoo commented on #24200
@saurav2608 Thanks. I will add this to my PR and will comment about it.

[2018-12-11 02:43] thoo commented on #24177
PR #24217 now covers #24200.

[2018-12-11 02:51] saurav2608 opened #24219 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.19.0.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 03:01] saurav2608 opened #24220 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.20.0.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 03:04] TomAugspurger opened #24221 "Replace deprecated Py_Unicode_EncodeUTF8 in objToJSON.c"
Warning when building the C extensions:

[code]

https://github.com/pandas-dev/pandas/blob/91802fb0accde031c3b6aca040a8b533a193fef6/pandas/_libs/src/ujson/python/objToJSON.c#L436-L437

[2018-12-11 03:07] saurav2608 opened #24222 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.21.0.rst"
We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` list the file `do

[2018-12-11 05:43] WillAyd commented on #24218
If you could make your code self-contained and copy/pastable would make it much easier for someone to take a look

[2018-12-11 05:45] #24200 closed

[2018-12-11 05:46] WillAyd commented on #24202
Closed via #24217

[2018-12-11 05:46] #24202 closed

[2018-12-11 05:46] WillAyd commented on #24201
Closed via #24217

[2018-12-11 05:46] #24201 closed

[2018-12-11 05:49] WillAyd commented on #24210
This example isn't reproducible and is from a version that is almost 3 years old. If you notice the behavior on a recent version please be sure to check the contributing guide on how to file a bug report and feel free to open a new one with required information

[2018-12-11 05:49] #24210 closed

[2018-12-11 06:29] WillAyd commented on #7548
I don't think this issue is relevant any more as it works fine on master

[2018-12-11 06:29] #7548 closed

[2018-12-11 06:34] Ripple-Peng opened #24223 "Error reporting when data frame sets subset to list using drop_duplicates: TypeError: unhashable type:'list'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-12-11 06:38] WillAyd commented on #24212
Hmm yea that does look strange. Investigation and PRs are always welcome!

[2018-12-11 06:50] WillAyd commented on #16694
Closing as this is not reproducible

[2018-12-11 06:50] #16694 closed

[2018-12-11 06:57] WillAyd commented on #24223
Please refer to our contributing guide on how to open bug reports

[2018-12-11 06:57] #24223 closed

[2018-12-11 06:58] WillAyd commented on #24196
Hmm OK that is strange. Definitely some unwanted casting going on with the presence of column A.

Investigation and PRs are always welcome if you care to take a look

[2018-12-11 07:04] WillAyd commented on #24171
This isn't a pandas bug per se. You simply can't store NA values mixed with integers in NumPy land.

We are working on allowing that with the IntegerNA work being done, though it doesn't look like this is supported at the moment:

[code]

I've repurposed the title to reflect that

[2018-12-11 07:13] WillAyd commented on #24162
The example is very confusing and pulls in a lot of unnecessary elements. Please keep reports *minimal* in the future.

This is much easier to produce with a small sample:

[code]

dtype should probably be preserved by column though it appears the mere presence of a float casts the entire frame.

Investigation and PRs are always welcome

[2018-12-11 07:18] WillAyd commented on #23993
Might be overlooking it but what is wrong with using `apply`? We have very few groupby functions outside of apply that either don't maintain the shape of the caller or reduce to a scalar per group, so this would be somewhat of an anomaly. As such -1 as I don't see the value add against using apply

[2018-12-11 07:30] WillAyd commented on #24211
Somewhat orthogonal but using the `ffill` method directly yields the desired result and would be more performant. Agreed though sending it through transform needs to be fixed

[2018-12-11 08:03] kid3night commented on #24218
No problem, I have updated it.

[2018-12-11 10:36] diogo-bastos commented on #24070
Can you give me a little help please? I can't seem to clear the error even with the correct format. For example:

[code]

still returns the errors:

Can you give me a little tip please?

[2018-12-11 11:38] datapythonista commented on #24070
This file is a `pyx`, which means that it's compiled before running. The docstring being validated is the old version which is in the compiled file. If you compile pandas again `python setup.py build_ext --inplace` you shouldn't get the error anymore.

[2018-12-11 11:43] jreback commented on #24060
i think let’s revert the Timedelta one, then push them both in for 0.25/1.0 (py3 only)

[2018-12-11 11:56] andrethrill opened #24224 "Keep Rolling operations result at float32"
#### Code Sample

[code]
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
dtype: float32

[code]
0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
5    15.0
6    18.0
7    21.0
8    24.0
dtype: float64

#### Problem description

In working with big amounts of data that do not require the higher precision of float64, I tend to use float32. This improves both storage

[2018-12-11 13:01] frexvahi opened #24225 "Timestamp.floor() rounds up when a few nanoseconds before a round time"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

For times very close to but below a round second, `pd.Timestamp.floor()` will round up instead of down. The threshold for where this happens varies from second to second but seems to be between 50 and 200 nanoseconds (i.e. `.9999998` will `floor()` correctly, `.99999995` will `floor()` to the next second upward

[2018-12-11 13:13] jreback commented on #24224
pls search the issues - this is a duplicate issue

[2018-12-11 13:50] realfdb opened #24226 "Slightly unintuitive converstion between timestamp and datetime during indexing / slicing"
#### Code Sample

import pandas as pd
import numpy as np

df = pd.DataFrame(index=[0],columns=['c'],dtype='datetime64[ns]')
df['c'].iloc[0] = np.datetime64('2018-08-01 00:00:00')

df['c'][df.index==0].values[0]

Out[83]: numpy.datetime64('2018-08-01T00:00:00.000000000')

df['c'].iloc[0]

Out[80]: Timestamp('2018-08-01 00:00:00')

(Python 3.6, pandas 0.23.4)

#### Problem description
Just thought i

[2018-12-11 14:19] chris-b1 commented on #24225
Thanks for the report - this looks to be fixed in master - probably should add some confirming tests

[code]

[2018-12-11 14:24] chris-b1 commented on #24225
Fixed by #22802 (test coverage is good), duplicate of #22591

[2018-12-11 14:24] #24225 closed

[2018-12-11 14:30] yoonghm commented on #20377
Treating an empty value in Excel as `nan` has another side effect: integer will be converted to float. Subsequent operation on that columns will have other effects again.

[2018-12-11 14:40] eronsdc commented on #16692
I know this post is quite old at this point. However @TomAugspurger 's solution certainly works. For py3, I did the small change of using `'w'` instead of `'wb'`.

[2018-12-11 14:59] andrethrill commented on #24224
@jreback I couldn't find a duplicate of this issue. I've found #15599 which maybe has the same root cause as this issue. But I understand the reasoning behind casting from int to float if we want to do, say, a rolling mean.

In my example, I would like to use and keep the result at float32. That's why I opened this one.

But if you still think this is a duplicate I can close this one. Just let me

[2018-12-11 15:15] datapythonista commented on #24220
@WillAyd we've got the issue #24177 to keep track of the changes, but it's useful to have individual issues for each task, so people working on it can comment and them, and avoid duplicate work. Also it makes it easier for first time contributors to have these issues, as they are very clear and specific to what needs to be done.

@saurav2608 what would be good is to add a reference to the parent i

[2018-12-11 15:16] #16356 closed

[2018-12-11 15:16] jreback commented on #16356
yep this is fixed.

[2018-12-11 15:58] saurav2608 commented on #24220
@datapythonista I am adding a reference to all the individual issues to #24177 . I will keep this in mind while creating the next set of issues. But most of the older whatsnew have multiple flake errors (20s per file). I will try to balance between keeping the PRs small and reduce the no of open issues.

[2018-12-11 16:12] datapythonista commented on #24220
It's up to you. But I think we've got a PR that fixed 3 issues, so just letting you know that may be you can create less issues with more files each and save some time. 20 issues are very quick to fix and review.

[2018-12-11 16:21] yoonghm opened #24229 "Treating an empty value in Excel as `nan` has another side effect: integer will be converted to float. Subsequent operation on that columns will have other effects again."
Also `read_excel()` does not honor empty value handling offered by function in converters:

I have an Excel file `temp.xlsx` with the following data:

[code]

This is the code:

[code]
   Key1  Key2        Key3  Key4
0     0  11.0     Apple    1.12
1     1  12.0         NaN  1.02
2     2  13.0    Orange     NaN
3     3   NaN    Banana    0.01
type(df.loc[3,'Key2']) = <class 'numpy.float64'>
type(d

[2018-12-11 16:42] #24229 closed

[2018-12-11 16:43] yoonghm commented on #24229
I did not return value in the converter.

[2018-12-11 16:45] TomAugspurger opened #24231 "Rename DatetimeArrayMixin / TimedeltaArrayMixin"
To `DatetimeArray` and `TimedeltaArray`.

Just so we don't forget this before the release :)

[2018-12-11 16:51] saurav2608 commented on #24177
@jreback - this issue should remain open. This is a master issue with reference to all the issues in whatsnew.

[2018-12-11 17:01] jreback commented on #24177
@saurav2608 see my comment

don’t put ‘closes’ in the PR, instead use xref

[2018-12-11 17:31] saurav2608 opened #24233 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.18.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 17:39] gitgithan commented on #17440
I just met this issue too and felt it's such a pity for losing valuable index information. What happened to this feature addition and what can i do to make it happen?

[2018-12-11 17:43] saurav2608 opened #24235 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.17.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 17:51] saurav2608 opened #24237 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.16.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 17:58] mroeschke commented on #24226
Could you please post a copy/pasteable example? Your example is not reproducible http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-12-11 18:04] TomAugspurger commented on #17440
Looks like https://github.com/pandas-dev/pandas/pull/17459. Feel free to
revive it if you're interested in this.

On Tue, Dec 11, 2018 at 11:39 AM gitgithan <notifications@github.com> wrote:

[2018-12-11 18:09] LJArendse commented on #24178
@datapythonista
I have a question about the following 'syntax error' found on line 242:
[code]

Line 242 looks as follows:
[code]
The ```<TAB>``` is throwing the SyntaxError. My fix is the following:
[code]

Do you have any suggestions for how we can address this better? I don't think ```gb.ClickTab``` is an ideal way to practically show the tab completion...

[2018-12-11 18:16] saurav2608 opened #24239 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.15.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 18:27] saurav2608 opened #24240 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.14.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-11 18:32] charlesdong1991 commented on #24144
I am sorry to bother, could I ask you a question, each time when i tried to do the pytest, even with no change at all after git rebase, I got `ImportError while loading conftest '/Users/kaiqi/pandas/pandas/tests/indexes/conftest.py'.
pandas/tests/indexes/conftest.py:21: in <module>
    tm.makeCategoricalIndex(100),
pandas/util/testing.py:1902: in makeCategoricalIndex
    return CategoricalIndex(np

[2018-12-11 19:01] TomAugspurger commented on #24144
Did you rebuild the C extensions? `python setup.py build_ext -i`

[2018-12-11 19:31] tchklovski opened #24241 "Series.apply on categorical with NaN has wrong behavior"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I would expect case 2 (`['A', 'B', pd.np.nan]`) to be either like case 1 or case 3.
I think the correct behavior would be case 1.

Issue #21565 looks similar but not the same

#### Expected Output
[code]
in all cases.

Behaves as expected if `dtype='category'` is omitted
#### Output of ``pd.show_versions()``

<

[2018-12-11 19:47] realfdb commented on #24226
Sorry - little time. Updated description, hopefully better.

[2018-12-11 20:33] jbrockmendel commented on #24226
This is because you are accessing .values, since that gives the underlying numpy data.  Accessing directly will/should always give Timestamp.

[2018-12-11 20:42] topper-123 opened #24242 "TST: Hypothesis may draw a date outside of date_range's range"
I've had an error with hypothesis when running. The bug can be reproduced (I think?, I've not used hypothesis before, so maybe this hash is machine-dependent) by doing this  ```pytest pandas/tests/frame/test_apply.py::TestDataFrameAggregate::test_frequency_is_original --hypothesis-seed=316520601087970019200180394352582921839```

The error message is this:

[code]

## Reproducing the error

The err

[2018-12-11 20:52] realfdb commented on #24226
I see - sorry, I simply did not know that the underlying data would be of different format than that accessed via integer indexing. I'm not sure I find that the most intuitive way to handle things - but now that I know it, and will make sense of it.

Thank you very much for taking the time to help :)

[2018-12-11 21:06] charlesdong1991 commented on #24144
ahh, it works... @TomAugspurger thanks so much!! i will keep this in mind!!!

[2018-12-11 21:11] #24226 closed

[2018-12-11 22:51] jolespin opened #24244 "[Feature Request] Add name attribute to pd.DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
Please let me know if this is out of scope.  I think it could be a useful feature to have since `pd.Index`, `pd.Series`, `xr.DataArrays`, and `xr.Dataset` has them.  I usually deal with dataframes from 2 different populations where I keep them organized by dictionaries.  I know that I could still do `df.name = "iris"` but I think an off

[2018-12-11 22:54] robbuckley commented on #23424
Hi, I got to the bottom of this issue, in the end, after a trawl through clang, distutils and python make/config files.

The compiler standard library defaults to either `libstdc++` or `libc++`, depending on the targetted macOS version - `libstdc++` for 10.8 and below, and `libc++` for 10.9 and above. This is determined by the environment variable `MACOSX_DEPLOYMENT_TARGET` or the compiler option`

[2018-12-11 23:05] datapythonista commented on #24178
I think we already fixed it with a `noqa` somewhere else, I think a `grep "<TAB>" *.rst` should tell you quickly

[2018-12-11 23:15] #24164 closed

[2018-12-11 23:19] WillAyd commented on #14312
This was actually changed in #20293 to give lxml more power on the recovery side of things so I don't think this is relevant any longer

[2018-12-11 23:19] #14312 closed

[2018-12-12 00:16] jreback commented on #24244
see discussions here https://github.com/pandas-dev/pandas/issues/447

this would add quite some complexity for not a lot of gain

[2018-12-12 00:16] #24244 closed

[2018-12-12 01:42] Seuss27 commented on #24240
I am trying to have a go at this and I am a little confused by the SyntaxError on line 73.  It loks like it is just a text response in the code
`dfl.iloc[[4, 5, 6]]
IndexError: positional indexers are out-of-bounds`

I am not entirely sure what to do with this as it isn't actually code that is throwing the error as far as I can tell.  Any advice?

[2018-12-12 02:14] datapythonista commented on #24240
The problem in this case is that in a `.. code-block:: python`, the code should be like:
[code]
I don't remember in the case of exceptions if something else more than the line of the error is needed, but you should find it online

[2018-12-12 03:00] Coldsp33d commented on #5401
Hi, I've recently written a canonical post on [computing the cartesian product of two DataFrames ](https://stackoverflow.com/questions/53699012/performant-cartesian-product-cross-join-with-pandas) on SO.
Included in that post is a fast and simple method of computing the cartesian product using `np.broadcast_arrays`. Here it is:

[code]

This is just a very basic example and does not handle column

[2018-12-12 03:57] tim-sauchuk commented on #15276
I've attempted to run this fix, but run into an error message:

`AttributeError: 'psycopg2.extensions.cursor' object has no attribute 'fast_executemany'`

Anyone know what's going on?

[2018-12-12 06:18] WillAyd commented on #24224
I believe the original issue is #11446 - contributions to improve type management would certainly be welcome

[2018-12-12 06:18] #24224 closed

[2018-12-12 07:07] mroeschke commented on #24242
IIRC we were just going to replace this hypothesis test a more simple test https://github.com/pandas-dev/pandas/pull/23849#issuecomment-441467466.

However, it looks like you also discovered another issue as well. I agree that overflowing dates with 'D' or 'B' with the same error. Could you open up a new issue about that issue?

[2018-12-12 07:30] Dear-Mar-garet commented on #22590
I had the same problem as you. I tried to use the pandas.core.window.Rolling.apply function as follows.
`test=df.rolling(window=TIME_WINDOW,min_periods=MIN_VALUES,closed='left')['metric'].apply(min)`

and it worked well.

[2018-12-12 07:35] h-vetinari opened #24245 "EA interface: prepare for unique(..., return_inverse=True)"
While adding the keyword and functionality (beyond the cython backend) is only gonna happen past v.0.24, I think the EA interface should be adapted to allow for the possibility of the `return_inverse`-kwarg.

The default implementation could just recommend to start with
[code]

Of course, this could be added along with the other changes to `.unique`, but I was wondering if this should already be p

[2018-12-12 08:20] h-vetinari opened #24246 "EA interface: add maybe_promote?"
I'm preparing a PR that addresses the short-comings of `core.dtypes.cast.maybe_promote` uncovered in #23982, and there's currently only a branch in there along the following lines:
[code]

This does not describe any promotion rules, and (like the rest of `maybe_promote`) is very inconsistent about the returned missing value (see #23982).

My suggestion would be to to something like the following:

[2018-12-12 10:26] alkasm opened #24247 "sort_index(..., ascending=False, ...) overrides sort_remaining behavior with multiindex"
#### Script to reproduce

[code]

#### iPython example output

[code]

#### Problem description

Documentation for `sort_index()`: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html

The `sort_index()` method will sort the dataframe by the index values. If the dataframe has a multiindex, then it sorts by the indexes in order. However, if you only want to sort b

[2018-12-12 10:55] bchu opened #24248 "DatetimeIndex.take() fails if index has more than max int rows"
[code]

[code]
works fine.

[2018-12-12 11:15] oroszgy opened #24249 "Erroneous parsing of big integers with `read_json`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `read_json` method erroneously parses big integers represented as string.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Darwin
OS-release: 18.0.0
machine: x86_64
processor: i386
byteorder: lit

[2018-12-12 11:22] kokes commented on #14312
I've tested this and where we saw a 30x slowdown ("pure" lxml vs. pandas), there is now a 2-5x slowdown, which can be attributed to constructing dataframes and other housekeeping.

Thanks!

[2018-12-12 12:35] jreback commented on #5401
@dsm054 have to have this, I think should address #16228 first, then the choice of what to do is easier. I would simply do the 'easy' impl of adding a column (you could prob have to generate a temporary hash column to avoid columns) is fine. In a later PR could explore if this is performant (might be ok).

@Coldsp33d I am not sure that soln is going to work on mixed dtypes, nor will it easily hand

[2018-12-12 12:41] #21200 closed

[2018-12-12 12:41] #21621 closed

[2018-12-12 12:52] Pierre-Bartet commented on #15354
"this could be done, but i would like to see a usecase where this matters."

Whatever the project I worked on using pandas, I almost always missed this feature, it is usefull everytime you need to compute the apply only once in a while but still need good resolution inside each window.

[2018-12-12 14:18] WillAyd commented on #24249
There should already be an issue about this if you search the tracker

Sent from my iPhone

[2018-12-12 15:03] pasinu29 commented on #22590
Thanks for the work around!  Though it is a little slower than the .agg('func') this is working for me as well.

[2018-12-12 15:16] WillAyd commented on #24249
Duplicate of #20608

[2018-12-12 15:16] #24249 closed

[2018-12-12 15:26] wxianxin opened #24250 "potential BUG, pandas raise unexpected Exception for setting values to a new column with null index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Recreate the problem:
1. Create a dataframe from reading an Excel file with only field names but no data populated, e.g.
<img width="332" alt="screen shot 2018-12-12 at 10 18 54" src="https://user-images.githubusercontent.com/13245897/49879208-82eb2c80-fdf7-11e8-8a71-b81b437ba022.png">
2.You can't set a new valu

[2018-12-12 15:30] WillAyd commented on #24250
Not entirely clear on the issue and the code sample is not self contained (i.e. fully copy / pastable to reproduce).

If you are trying to assign a new column just do `df['d'] = 'ddd'`

[2018-12-12 15:30] #24250 closed

[2018-12-12 15:33] 515hikaru commented on #24209
If you only want to prevent accidentally committing, how about adding tmp.xlsx in `.gitignore`?

I think it is dangerous to forcibly delete file.

[2018-12-12 15:51] wxianxin commented on #24250
This is a bug. At lease a behavior that is not consistent. @WillAyd Why don't you try to replicate before you close it?
You **cannot** replicate the issue by creating a dataframe using
`df = pd.DataFrame(columns=['a', 'b', 'c'])` because it will fail and prompt you in add the argument `index`.

You **cannot** reproduce the bug **without** using the Excel file as input.
Reading an empty Excel file

[2018-12-12 16:14] tsando commented on #15354
I agree and support this feature too

[2018-12-12 16:36] WillAyd commented on #24248
I think this is similar to #22729 if you care to take a look investigation and PRs are always welcome

[2018-12-12 16:44] FHaase commented on #24209
Maybe we could create them in a tmp directory like `/tmp` if they don't have to be in the pandas folders.

[2018-12-12 17:45] ericksc opened #24251 "Error at groupby using apply ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>"
I was working to perform a groupby apply operation by using pandas. I used the following code:

[code]
#### Problem description
I tested under Python 2.7 and Python 3.5 pandas version (0.17.1 and 0.18.1) but only on pandas 0.17.1

- Python 2.7 Pandas 0.17.1 Passed
- Python 2.7 Pandas 0.18.1 Failed
- Python 3.5 Pandas 0.17.1 Passed
- Python 3.5 Pandas 0.18.1 Failed
- Python 3.5 Pandas 0.23.4 Failed

[2018-12-12 17:54] topper-123 opened #24252 "BUG: pd.date_range gives wrong overflow error type when freq='B'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

These two date_range overflows return different error types. Both should reasonablyreturn ``OutOfBoundsDatetime``.

<details>

INSTALLED VERSIONS
------------------
commit: 8221ee91d15b01a190d73ea10d47af81de296c90
python: 3.7.1.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64

[2018-12-12 17:55] topper-123 commented on #24242
Ok, Done. I'll keep this one open until the issued in the comment in #23849 is closed.

[2018-12-12 17:56] WillAyd commented on #24251
Can you provide a *minimal* code example to reproduce the issue? There are way too many moving parts here to effectively isolate the issue

[2018-12-12 18:53] ericksc commented on #24251
`my_df = pd.DataFrame({'DOG#3M': {'1/1/1999': 0.04825, '1/4/1999': 0.0476, '1/5/1999': 0.0474, '1/6/1999': 0.0476, '1/7/1999': 0.0474},
 'DOG#6M': {'1/1/1999': 0.04751, '1/4/1999': 0.0469, '1/5/1999': 0.0471, '1/6/1999': 0.0473, '1/7/1999': 0.0468,},
 'CAT#3M': {'1/1/1999': 0.05072, '1/4/1999': 0.0501, '1/5/1999': 0.0501, '1/6/1999': 0.0498, '1/7/1999': 0.0497,},
 'FISH#3M': {'1/1/1999': np.nan, '

[2018-12-12 19:06] WillAyd commented on #24251
Still not very minimal - if you can isolate the issue without the UDF would be much easier. Posting a traceback would also be helpful

[2018-12-12 19:10] jreback commented on #24251
this is a pretty old version of pandas
check in 0.23.4

[2018-12-12 19:52] ericksc commented on #24251
traceback
Python3 on pandas 0.23.4

============================= test session starts =============================
platform win32 -- Python 3.5.0, pytest-4.0.1, py-1.7.0, pluggy-0.8.0
cachedir: .tox\py35-pandas23\.pytest_cache
rootdir: C:\Users\ecsa\PycharmProjects\pandas_studies, inifile:
collected 1 item

test_pandas_group_by_apply.py Python version 3.5.0 (v3.5.0:374f501f4567, Sep 13 2015, 02:2

[2018-12-12 20:02] ericksc commented on #24251
Also at Python 3.6 Pandas 0.23.4 it fails with the same failure signature

[2018-12-12 20:09] ericksc commented on #24251
Code updated with a _minimal_ code example

[2018-12-12 20:17] mroeschke commented on #24252
I suspect that generally `Tick` based offset will raise the later error while `DateOffset` based offsets will raise the former.

Additionally the `OutOfBoundsDatetime` looks like it can be improved; it's probably more beneficial to specify the date instead of the nanoseconds epoch time.

[2018-12-12 20:18] jreback commented on #24251
a little hit more work - but can u try on master

[2018-12-12 21:58] kylebarron commented on #23573
@adamrossnelson

All of those characters are included in the Latin-1 encoding, and seem to work fine in Stata. If you want to test it yourself, run this:
[code]

So those characters _should_ work with version 117, and if they don't it's a bug.

[2018-12-13 00:44] #24221 closed

[2018-12-13 01:47] #8826 closed

[2018-12-13 02:00] #24219 closed

[2018-12-13 02:00] #24220 closed

[2018-12-13 02:00] #24222 closed

[2018-12-13 02:02] #24127 closed

[2018-12-13 03:21] saurav2608 opened #24256 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.13.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-13 03:23] saurav2608 opened #24257 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.12.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-13 03:26] saurav2608 opened #24258 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.11.0.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-13 03:29] saurav2608 opened #24259 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.10.*.rst"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-13 03:35] saurav2608 opened #24260 "DOC: Fix flake8 issues in doc/source/whatsnew/v0.9.*.rst, v0.8.*.rst & v0.7.*.rst,"
xref: #24177

We didn't start validating the format of PEP8 and other code standards in the documentation examples until recently. We still have some files with errors, that we need to skip, and that we should fix, so we can start validating them.

**Two steps are required to replicate the issue**

1. Edit `setup.cfg` in the pandas home, and in the flake8-rst section, remove from the `exclude` lis

[2018-12-13 03:36] saurav2608 commented on #24260
I am taking doing changes for this on these files.

[2018-12-13 03:51] TomAugspurger opened #24261 "Add ExtensionArray._scalar_from_string"
the DatetimeArray PR is adding a `_scalar_from_string` for the datelike arrays. We could consider something similar for the EA interface.

[code]

[2018-12-13 04:04] ericksc commented on #24251
yes, but could you please send me the steps to validate it on master? I tried to get it but I got issues on pandas setup

[2018-12-13 04:13] jbrockmendel commented on #24261
this seems like overkill.  Should that be acccessible via the dtype or box_func?

[2018-12-13 04:19] TomAugspurger commented on #24261
Probably not the dtype. `box_func` isn't part of the interface either.

[2018-12-13 05:01] jbrockmendel commented on #24261
The part that is unclear to me is why DTA needing method X necessarily implies the EA interface needs method X.

[2018-12-13 05:42] joybhallaa commented on #24239
Can i work on this issue?

[2018-12-13 05:45] Coldsp33d commented on #5401
@jreback Fair point!

Perhaps we can substitute the calls to column_stack and .values.__getitem__ with pd.concat and loc, but my tests show a significant reduction in speed (almost 10x) for larger frames. If there is some efficient way of determining whether the columns contain mixed dtypes (eg, pd.api.types.infer_dtype()), we could determine whether to use the optimized version, or fall back to a

[2018-12-13 06:47] saurav2608 commented on #24239
@joybhallaa : please go ahead.

[2018-12-13 06:48] SimonAlecks commented on #24091
Following the data initialized in the original post, I've expanded some further findings:

[code]

In both these cases, due to it being a period index, it hits this dunder method:
https://github.com/pandas-dev/pandas/blob/b7ee8292b465aa507a37777443efbaecb07b3f57/pandas/core/indexes/period.py#L404-L415
Then it hits get_loc.

Here we see (similar to the original post) that the 'bad key', which has t

[2018-12-13 07:03] Dear-Mar-garet commented on #22590
: )

[2018-12-13 07:09] #2679 closed

[2018-12-13 07:34] saarahrasheed opened #24262 "df(condition).any() is True returns False even when condition satisfies"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
So I am using .any() method to compare if a Series has any value greater than 5. When I use "is True" to compare bool value it returns False. When I use "== True" it returns True. I know the better way to compare would be to use x.max() > 5, but for the case in consideration, is that a issue?
Using latest pandas

[2018-12-13 07:35] shoyer opened #24263 "BUG: MultiIndex.get_loc errors if get_loc on level returns a slice"
#### Code Sample, a copy-pastable example if possible

With the dev version of pandas:
[code]

#### Problem description

This appears to have been introduced by #22230 by @toobaz, which deleted a check for `isinstance(loc, slice)`. I'm not quite sure why, though it looks like this line didn't have test coverage.

I could not figure out how to trigger this directly on a pandas.Series. Indexing like

[2018-12-13 08:14] browncrane opened #24264 "Argument order not maintained on some Linux distribution"
#### Code Sample
When initial a dataframe with below code.
[code]
#### Problem description
On
`Linux 4.15.0-42-generic #45~16.04.1-Ubuntu SMP Mon Nov 19 13:02:27 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux` Ubuntu 16.04 64bit for short
It would have an order like alphabetical order like ['device','power','time']  when called df.columns
However on
`Linux localhost.localdomain 3.10.0-862.11.6.el7.x86_64

[2018-12-13 08:41] saurav2608 commented on #24260
@datapythonista : there is a code block that throws and flake error. From file v.0.7.3.rst. The error is `F821 undefined name 'df'` on the line `scatter_matrix(df, alpha=0.2)` . A presaved scatter plot image is loaded in next line. So the `scatter_matrix(df, alpha=0.2)` is just for illustration. Should I just add a # noqa line here?

[code]

[2018-12-13 09:03] browncrane commented on #24264
After check again, find it's `python 3.5` here. Not pandas issue.

[2018-12-13 09:04] #24264 closed

[2018-12-13 11:48] jreback commented on #24251
http://pandas-docs.github.io/pandas-docs-travis/contributing.html

[2018-12-13 12:36] ArtinSarraf commented on #24262
If you check the type of pd.Series.any() you’ll find that it’s an instance of `numpy.bool_` not the builtin python bool. In general the following:

    if <some boolean expression> == True:
        return True
    else:
        return False

Should usually just be written as:

    return <some boolean expression>

[2018-12-13 12:47] jreback commented on #24262
closing as usage question

[2018-12-13 12:47] #24262 closed

[2018-12-13 13:06] harlecin opened #24267 "Feature-Request: Allow lambda function with different columns in transform"
#### Problem description
Currently, if you want to create a new column in a Pandas dataframe that is calculated with a custom function and involves multiple columns in the custom function, you have to create intermediate dataframes since `transform()` cannot work with multiple columns at once.

[code]
[code]
With `data.table` you can simply do:
[code]

#### Expected Output
`apply` style lambda fun

[2018-12-13 13:08] dataseller opened #24268 "DOC: Series.nlargest sorts index with duplicates"
I think the description of this method is incorrect. The effect of parameter "keep" says, if we pass "first" to it, means to take the first duplicate value, while we pass "last" to it, means to take the last duplicate value.
However, its real effect is to sort the duplicate values by their indexes.
Hope we put it right soon.

[2018-12-13 13:49] TomAugspurger commented on #24267
This is a known gap in our API (IIRC we have other open issues about it).

transform is by definition done column wise. I don't think that's likely to change.

I'd recommend something like

[code]

for now. In the future some kind of `.apply_table` or `.apply(func, axis=None)` may be possible.

[2018-12-13 13:56] toobaz commented on #24091
@SimonAlecks thanks for your analysis! I don't have much time right now, but tomorrow I will give a more detailed look and report back.

[2018-12-13 14:00] datapythonista commented on #24178
when flake8 finds a comment with a noqa in a line, it does not report as an error the specified error codes

[2018-12-13 14:13] TomAugspurger opened #24269 "DataFrame.loc/iloc fails to update object with new dtype"
Similar to https://github.com/pandas-dev/pandas/issues/4312 and https://github.com/pandas-dev/pandas/issues/5702, but this seems specific to object dtype -> new dytpe.

In this first case, we likely convert the whole block, even though we just wanted `A`.

[code]

In this one, (maybe a different bug), we fail to convert `['a', 'b']` to float when they start out in an object block with other values

[2018-12-13 14:22] datapythonista commented on #24260
yes, I think that's the simplest

[2018-12-13 14:34] chris-b1 commented on #24267
It doesn't avoid a temporary, but FWIW, I write these type of things with a named groupby - if perf matters, probably faster than @TomAugspurger showed because it will take vectorized paths.

[code]

[2018-12-13 14:58] vindex10 opened #24270 "SparseDataFrame loc raises InvalidIndexError when repeated keys are passed"
#### Code Sample, a copy-pastable example if possible

[code]
##### Traceback:

[code]

#### Problem description

When asking for 60 rows it works:
[code]

And also works with 61 and regular DataFrame. So the behavior is definitely unexpectable.

#### Expected Output

SparseDataFrame with 61 row.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: c0371

[2018-12-13 14:59] harlecin commented on #24267
Thx a lot for your help! Would be awesome, if this functionality is added to pandas at some point.

Happy holiday season!

[2018-12-13 16:00] wiso opened #24271 "sort_index not sorting when multi-index made by different categorical types"
#### Code Sample, a copy-pastable example if possible

This is the shorter code to reproduce the problem

[code]
#### Problem description

The dataframe is not sorted. I get

[code]
which is exactly what you get without any sorting.

If all the index levels have the same categorical type it seems to work.

It works if I reset the index:

[code]

#### Expected Output

[code]

#### Output of ``pd.sh

[2018-12-13 16:07] TomAugspurger commented on #23565
Pushing to 0.25

[2018-12-13 16:34] jorisvandenbossche commented on #24060
Moving this comment https://github.com/pandas-dev/pandas/pull/24227#issuecomment-446680041 here:

Personally, no, I wouldn't do that (if you mean with ASAP like a few days after). I would also keep it at least 2 weeks in master before doing an RC. Now in practice it will maybe be like that anyway ..

[2018-12-13 17:17] TomAugspurger commented on #24060
Personally, I'll have to get back to dask / other things after this push on datetimearray. I was hoping we could have an RC out while I do that.

Are there other major issues I could pick up while we're going through this round of reviews? My plate currently has

- #24024 (in review)
- https://github.com/pandas-dev/pandas/pull/24227 (doneish, in review)
- https://github.com/pandas-dev/pandas/pull/

[2018-12-13 17:17] Geekly commented on #24209
It seems like them in a particular folder that's included in .gitignore is both flexible and backwards compatible. There are plenty of generated files that are already managed that way. What are the downsides?

[2018-12-13 17:25] jreback commented on #24060
yeah i think we should merge things (that tom mentioned) then sit in master for a week or 2 at the least

[2018-12-13 17:34] TomAugspurger commented on #24060
I think I have the permissions to do a fastparquet release. There's a backwards / forwards compatible change that could be released today.

That's basically where I'm at. Assuming that outstanding big PRs are merged this week (just assuming, not an actual deadline), then we *will* turn up issues with them in the next couple weeks. My hope is that by doing an RC (or two) we'll be more likely to tur

[2018-12-13 17:36] TomAugspurger commented on #24060
That said, I don't think doing an RC any time in, say, the 20th - 27th is a good idea because of the holidays. So I'm also fine with doing one shortly after the New Years.

[2018-12-13 17:39] datapythonista commented on #24209
Saving to `/tmp/data.csv` doesn't work in Windows, and would be nice to keep it multiplatform, so users can copy-paste examples and they run.

Using the module `tempfile` makes the code more complex and distracts the attention from the pandas functionality.

May be the best solution is to change the current directory in sphinx, so we can use something like `df.to_csv('data/my_dataset.csv')`, and w

[2018-12-13 17:58] ericksc commented on #24251
I had followed step by step that guides. I was able to import pandas but I got a similar error:

In [1]: import pandas as pd
   ...: import numpy as np

In [2]:

In [2]: pd.show_versions()

INSTALLED VERSIONS
------------------
commit: 01afc42ce5231b65101fa4d0cb00e4be10d446a0
python: 3.7.1.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 78 Steppi

[2018-12-13 18:00] jreback commented on #24060
that all sounds good ; RC first of the year;

[2018-12-13 18:00] WillAyd commented on #24209
What if we don't use files and opt for StringIO / BytesIO objects instead? With Python2 getting dropped soon we should just be able to make calls to `io.StringIO` and `io.BytesIO`

`.gitignore` is not a great solution as all that does is prevent files from getting committed, but doesn't prevent us from creating files that we don't need to

[2018-12-13 18:22] jreback commented on #21605
duplicate of #22804

[2018-12-13 18:22] #21605 closed

[2018-12-13 19:04] Geekly commented on #24209
So the issue, although related to committing inappropriate files, isn't that explicitly. It sounds like you either want to control which files are created, or which files are automatically deleted before committing even becomes an issue.

[2018-12-13 19:55] ericksc commented on #24251
Tested at master. failed

[2018-12-13 20:56] kokes commented on #12693
Current pandas gives a slightly different TypeError (`TypeError: unhashable type: 'set'`), which does get to the point - how would you deduplicate sets or lists? Unlike tuples and primitive types, these are not hashable (sets could be converted to frozensets, which are hashable), so you have to come up with a deduplication strategy.

In any case, since you're dealing with an object dtype, there is

[2018-12-13 22:21] kokes commented on #8892
IPython 7.2.0, still working fine, shall we close this one? (cc @jorisvandenbossche)

[2018-12-13 22:52] hsheikha1429 commented on #11292
Had the same error issue and writing here as a reference to tell what fix it in my case:

Having the **index=True** fixed my case, the export from df to excel showed the multi Indexing in perfect understood position.
`filename = os.path.join(outputDir, "named_df.xls") # .xls or .xlsx doesn't matter`
`df.to_excel(filename, ### index=True)`

[2018-12-13 23:16] datapythonista commented on #24209
In my opinion, in an example wants to show to a beginner user how to save a csv file, showing `df.to_csv('my_file.csv')` is very clear, but a `tempfile`, a `StringIO`... is not. They won't be able to copy-paste, not understand that just providing a string is enough, and they'll get distracted trying to understand `tempfile` and `StringIO` instead to `.to_csv()`.

From our side of keeping things cl

[2018-12-14 00:05] mroeschke commented on #24209
I think that's a fair point @datapythonista.

The primary concern is avoiding committing/shipping unnecessary files (i.e. `.gitignore`). The ideal ask is removal of these files so we don't have essentially a "clutter" folder. So I'd be okay isolating all generated example files to a dedicated folder for now unless there's a straightforward way to remove these files once our documentation validatio

[2018-12-14 01:17] kid3night commented on #24218
Is there any info needed right now?

[2018-12-14 01:50] songmoo commented on #24268
can I try to fix it?

[2018-12-14 02:18] WillAyd commented on #24218
Have you tried on master? IIRC we fixed something similar for windows recently

[2018-12-14 03:41] saurav2608 commented on #24259
I am taking this up.

[2018-12-14 05:14] kid3night commented on #24218
I just updated and tried again. The problem still exist.

[2018-12-14 05:17] WillAyd commented on #24218
Hmm I couldn't reproduce so likely a Windows issue. Let's see if someone else can

[2018-12-14 05:20] kid3night commented on #24218
Yea, I tried the same thing one my Mac and the problem doesn't exist.

[2018-12-14 05:40] saurav2608 commented on #24258
I am taking this.

[2018-12-14 06:52] SimonAlecks commented on #23918
So here is what I can tell so far,

https://github.com/pandas-dev/pandas/blob/d43ac979fdf3038c713de93c7b27b4140be6c9c5/pandas/core/groupby/groupby.py#L705-L707
In this method mutated returns as True in the case where the index is shifted, which then passes into line 712 as not_indexed_same. In this case keys is the same value for both the case where it has expected and unexpected benefits
[code]
O

[2018-12-14 08:47] kawing-chiu commented on #5261
Another drawback to not having fixed-length numpy string: When using pyarrow, presence of columns with a dtype of 'object' will prevent pyarrow to (de)serialize in a zero-copy fashion.

As the user of the data, often I can determine the maximum length of some text columns. The string routines can happily truncate my strings to the specified length.

[2018-12-14 09:55] RobStelling commented on #11604
If you installed pandas (with pip/conda) and it doesn't show up in python then probably the python in your path is not the same that pip/conda are updating.
Double check your conda directory (Usually: /home/<user>/anaconda3/bin/) and run the python instance on this folder. If pandas is installed there (and I bet it will be) then add this folder to the beginning of your path.

[2018-12-14 10:46] nfreundlich commented on #24268
did you take the issue?

[2018-12-14 12:16] jreback commented on #13480
I am -1 on the xarray like constructor. I think it’s completely misleading as this is a row oriented object.  I would be +1 on the proposed repr as is (w/o the dtype=‘object’) and +0 on adding a .info()

I completely discount the point of non-executable nature of this code as this is irrelevant; any index is non repr after truncation; furthermore there is a deliberate efffort to make non repr Arra

[2018-12-14 13:31] Seuss27 commented on #24256
May I work on this one?

[2018-12-14 13:54] #24240 closed

[2018-12-14 13:58] datapythonista commented on #24256
sure, thanks @Seuss27

[2018-12-14 13:59] TomAugspurger commented on #5261
I suspect that proper-string support will land sometime soon. Perhaps next year sometime.

In the meantime, you could write a simple extension array to convince pandas to not coerce your fixed-width ndarray of strings to object.

You shouldn't take this direct approach, since it's using private methods, but this is the basic idea:

[code]

Things like string methods won't work either.

[2018-12-14 14:53] #11587 closed

[2018-12-14 14:53] #18664 closed

[2018-12-14 14:53] #21282 closed

[2018-12-14 14:57] #23882 closed

[2018-12-14 15:02] TomAugspurger opened #24278 "Add an "extra info" section to the base ExtensionArray repr"
This would be useful for DTA / TDA, to include the optional `freq`.

[2018-12-14 16:32] TomAugspurger commented on #24167
@andrewgsavage here's what I meant.

[code]

With that, things seemingly work

[code]

`pandas.core` is private, so you shouldn't use that. We could maybe add `na_value_for_dtype` to the public API in `api.types`.

That does cause warnings. Presumably there's a way to turn a pint array to an ndarray without that.

And it seemingly broke `factorize`. I haven't looked yet at why, but `_from_factoriz

[2018-12-14 17:13] kokes commented on #10374
@jreback the bug has been resolved, so your proposed solution works just fine, should this be closed? Not sure if there's a need for additional APIs for this.

[2018-12-14 17:32] cristianionescu92 commented on #14553
@danich1 can you, please, set an example of how this would work?

I tried to have a look into bulk_update_mappings but I got really lost and couldn't make it to work.

[2018-12-14 17:36] toobaz commented on #24091
I think your diagnosis is correct; concerning the cure, I think that ``parse_time_string`` should definitely raise ``TypeError`` if passed a non-string, and after all ``PeriodIndex.get_loc`` seems to expect precisely that in the ``try... except`` block you isolated. So I would say that
https://github.com/pandas-dev/pandas/blob/040f06f731a09fc6e0663cada6697f6602b36f1d/pandas/_libs/tslibs/parsing.py

[2018-12-14 17:39] toobaz commented on #24091
I think your diagnosis is correct; concerning the cure, I think that ``parse_time_string`` should definitely raise ``TypeError`` if passed a non-string, and after all ``PeriodIndex.get_loc`` seems to expect precisely that in the ``try... except`` block you isolated. So I would say that
https://github.com/pandas-dev/pandas/blob/040f06f731a09fc6e0663cada6697f6602b36f1d/pandas/_libs/tslibs/parsing.py

[2018-12-14 17:45] marcora commented on #10327
Just starting to use pandas dataframes coming from R + tidyverse/readr and first thing I was negatively impressed by is the lack of consistent read/write methods like:

read_csv()/write_csv(): comma separated (CSV) files
read_tsv()/write_tsv(): tab separated files
read_delim()/write_delim(): general delimited files
read_fwf()/write_fwf(): fixed width files
read_table()/write_table(): tabular files

[2018-12-14 18:23] datapythonista opened #24280 "DOC: Fix docstrings with the sections in the wrong order"
After #24132 is merged, we'll have few docstrings where the order of the sections is wrong:
[code]

We should fix the order of those, and add to `ci/code_checks.py`, in the part where `scripts/validate_docstrings.py` is called, the error `GL07`, so when docstrings are created or modified, the CI validates that all the pandas docstrings still have the right order.

The next command can be used to s

[2018-12-14 18:45] alimcmaster1 commented on #24242
Will submit a PR for the above mentioned #23849  today ( apologies for the delay )

[2018-12-14 18:54] jreback commented on #10374
yep this looks good.

[2018-12-14 18:54] #10374 closed

[2018-12-14 19:07] ericksc commented on #24251
@jreback @WillAyd  could you please tell me you were able to reproduce this issue?

[2018-12-14 19:31] #24258 closed

[2018-12-14 19:31] #24259 closed

[2018-12-14 20:33] #24260 closed

[2018-12-14 20:52] datapythonista commented on #24280
thanks @benjaminr

as it says in the description, make sure you just fixed the ones listed, otherwise you'll get conflicts when we merge #24132

[2018-12-15 00:46] atyamsriharsha opened #24290 "Pandas rounding of the values when converting dataframe into a matrix when using .values attribute"
![analysis 1](https://user-images.githubusercontent.com/10818570/50036702-b7114980-ffbf-11e8-9052-ecb2ae291b91.png)
How do i convert into numpy array without rounding off the values ! Thanks :)

[2018-12-15 03:59] SimonAlecks commented on #24091
Makes perfect sense, thanks @toobaz I'll work on it and submit a PR.

[2018-12-15 08:51] LJArendse commented on #24178
@datapythonista What do you suggest is the best way to fix the following errors:
[code]
The lines in question are:
[code]

It is a very good generic explanation of how to groupby an object. Should I keep it as is? or Should I rather show the same example but with an actual example dataframe and dummy data?

[2018-12-15 09:09] LJArendse commented on #24178
@datapythonista A suggested actual example would be something like this:

A groupby can be applied in the following ways to a pandas object
 - grouped = obj.groupby(key)
 - grouped = obj.groupby(key, axis=1)
 - grouped = obj.groupby([key1, key2])

Below you can see groupby applied to a dataframe object
[code]

[2018-12-15 11:44] spacegoing opened #24295 "Elegant way to generate indexable sliding window timeseries"
To implement pytorch's `DataSet` class `__get_item__()` method, it requires to support the indexing such that `dataset[i]` can be used to get `ith` sample.

Say I have  a time-series `ser`:

    2017-12-29 14:44:00  69.90
    2017-12-29 14:45:00  69.91
    2017-12-29 14:46:00  69.87
    2017-12-29 14:47:00  69.85
    2017-12-29 14:48:00  69.86
    2017-12-29 14:49:00  69.92
    2017-12-29 14:50:00

[2018-12-15 11:54] Yensan opened #24296 "Question: How to make Quantitative Frequency Distributions and Histograms in pandas?"
Relative Statistics topic: https://www2.southeastern.edu/Academics/Faculty/dgurney/Math241/StatTopics/HistGen.htm

[code]

[2018-12-15 18:04] #23680 closed

[2018-12-15 18:04] #23754 closed

[2018-12-15 20:18] TomAugspurger commented on #24296
I'm not sure. Probably better suited for a question on stack overflow or cross validated, or perhaps the statsmodels mailing list to see if it's in scope for them.

[2018-12-15 20:18] #24296 closed

[2018-12-16 01:59] #24143 closed

[2018-12-16 02:08] #24125 closed

[2018-12-16 02:53] JimJeon commented on #23424
@robbuckley I experienced the same issue. Thanks for the PR!

[2018-12-16 03:11] jbrockmendel opened #24301 "EA ops alignment with DataFrame"
One more reason why 2-D should EA should be supported: `df + ea` won't treat `ea` as column-like since it can't be reshaped to `(nrows, 1)`.  And operating with `df.T` has its own set of problems because transposing drops EA dtypes.

[2018-12-16 06:20] JimJeon commented on #24233
May I fix this issue?

[2018-12-16 08:08] jorisvandenbossche commented on #24301
Can you give a code example of what you are meaning? (isn't it expected that in `df + ea` ea is not treated as column-like?)

[2018-12-16 08:31] jorisvandenbossche opened #24304 "PERF: regression in time series plotting"
Opening a dedicated issue to not have this lost in https://github.com/pandas-dev/pandas/issues/18532.

Using the example from the benchmarks:

[code]

I get on master:
[code]

but on 0.23.4:

[code]

The slowdown was originally even bigger and was addressed already partly https://github.com/pandas-dev/pandas/pull/23589, but there is still a \~ 50x slowdown remaining.

[2018-12-16 08:45] jorisvandenbossche opened #24305 "DOC/API: PeriodIndex sub/add with Integers: update docs or undo deprecation"
Creating an issue of my comment on the PR that deprecated PeriodIndex add/sub with integers (https://github.com/pandas-dev/pandas/pull/22535):

@jbrockmendel what was actually the rationale of deprecating it for Periods as well?
The issue that is closed by this (https://github.com/pandas-dev/pandas/issues/21939, cc @jreback @mroeschke) discusses it for DatetimeIndex/TimedeltaIndex, but I think say

[2018-12-16 09:06] saurav2608 commented on #24177
@datapythonista : can you have a quick look at the issue I reference in the PR #24236.

[2018-12-16 09:10] OmerJog opened #24306 "to_csv - allow to create folders."
currently `to_csv ` will create a file if it does not exist. However it will not create a folder (nor sub-folders).
In this case it will raise
`IOError: [Errno 2] No such file or directory:`

The user must wrap his code in order for it to create a folder.

I'm not sure why the function behaves like this.. It would be great if it will also create folders if needed.

Reference from stack overflow:
h

[2018-12-16 09:14] saurav2608 commented on #24257
I am doing this.

[2018-12-16 09:33] datapythonista commented on #24233
Sure, thanks @JimJeon

[2018-12-16 11:44] Yensan commented on #24296
Finally, I made it myself.
**How to generate frequency table?**
[code]

**How to generate histogram and kde?**
[code]

[2018-12-16 11:52] kangwonlee commented on #11052
FYI : Google found this discussion for me: https://stackoverflow.com/questions/33181846/programmatically-convert-pandas-dataframe-to-markdown-table

[2018-12-16 12:54] jreback commented on #24306
this is out of scope for pandas itself as it can easily be accomplished by the user

[2018-12-16 13:05] TomAugspurger commented on #24304
Taking a look at this now.

[2018-12-16 15:20] kokes commented on #11112
@jreback I guess this is no longer an issue, even the testing framework has changed in the meantime :)

[2018-12-16 15:51] jorisvandenbossche commented on #13480
To be clear: I am not saying that the repr should be executable (as my proposed actually isn't). I am mainly trying to argue that we shouldn't jump through hoops and end up with a less informative repr only to keep it "python code-like" (eg adding the multiple dtypes in a keyword), while it is not executable anyway.
So if we want to add information about dtypes (which I think would be informative)

[2018-12-16 15:55] jbrockmendel commented on #24305
I'm open to this.  The part I care about is the TS/TD/DTI/TDI

[2018-12-16 19:44] h-vetinari opened #24310 "BUG: Series.__repr__ crashing with tzlocal()"
Encountered while writing tests for PR to #23833, where I wanted to use `tz_aware_fixture` for testing promotions of datetimes with tz. The following is an equivalent minimal example, but constructed directly.

[code]
The constructor passes, but worryingly, already the repr of `s` fails with a huge stacktrace:
[code]
Same goes for `s[0]`.

The underlying values are still there though:
[code]

This

[2018-12-16 19:48] TomAugspurger commented on #24310
I can't reproduce on master. Can you post the full traceback in a `<details>` tag?

[2018-12-16 19:50] aamster opened #24311 "rename should warn when column does not exist"
`boston.rename(columns={'1': 'zn', '12': 'medv'}, inplace=True)`

had no effect since columns `'1'` and `'12'` don't exist. There should be a warning when column does not exist.

[2018-12-16 19:55] jreback commented on #13480
``.info()`` could be added but that is not the subject of this issue / PR.

I have already stated that I am -1 on the xarray like repr as the default as its amazingly confusing for a row-oriented object.

We have spent an enormous amount of time on this. @jorisvandenbossche Either propose a new PR, or accept the existing.

[2018-12-16 19:56] #24242 closed

[2018-12-16 19:57] h-vetinari commented on #24310
@TomAugspurger

Here's the stacktrace:

<details>
[code]
</details>

[2018-12-16 19:57] h-vetinari commented on #24310
...and here's the output of ``pd.show_versions()`` (it seems two `<details>` tags in the same comment are not supported):

<details>

No module named 'dask'

INSTALLED VERSIONS
------------------
commit: 6c767c5c0d8049a8544b38189adfef450d1b9e6e
python: 3.6.6.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder: li

[2018-12-16 19:59] TomAugspurger commented on #24310
Just to verify, can you verify that your C extensions have been (re)built recently?

[2018-12-16 20:01] jbrockmendel commented on #24310
what timezone are you in?  your `tzlocal()` may not be the same as others

[2018-12-16 20:01] h-vetinari commented on #24310
Of course, that's the first thing I double-check in such cases.

[2018-12-16 20:04] TomAugspurger commented on #13480
Joris did propose an alternative... Regardless, this seems worth taking the
time to get it right.

On Sun, Dec 16, 2018 at 1:55 PM Jeff Reback <notifications@github.com>
wrote:

[2018-12-16 20:05] h-vetinari commented on #24310
@jbrockmendel

What's `tzlocal()` supposed to be? Was surprised this didn't have a useful repr.

[code]

[2018-12-16 20:11] jbrockmendel commented on #24310
tzlocal represents the local timezone in system's locale.  i.e. for a user in California `tzlocal()` corresponds to US/Pacific (though it is not the same object you'd get with `dateutil.tz.gettz('US/Pacific')`)

[2018-12-16 20:13] h-vetinari commented on #24310
@jbrockmendel

I get that, I meant more specifically whether `tzlocal()` should already resolve to a string like `US/Eastern` (was surprised there was no info in the repr)

Playing around with `tzlocal()`, I get weird errors:
[code]

[2018-12-16 20:15] h-vetinari commented on #24310
It seems to (wrongly) believe I'm in python2-land...?
[code]

[2018-12-16 20:16] h-vetinari commented on #24310
@jbrockmendel
To answer your previous question:

I'm in `Europe/Amsterdam`.

[2018-12-16 20:39] TomAugspurger commented on #24311
Duplicate of https://github.com/pandas-dev/pandas/issues/13473.

We'd like to add a keyword to control this behavior.

[2018-12-16 20:39] #24311 closed

[2018-12-16 20:40] TomAugspurger commented on #13473
To be clear, I don't think there's a consensus for deprecating the current behavior. Just adding the option to raise when not present.

[2018-12-16 20:52] #24257 closed

[2018-12-16 20:56] jreback commented on #13480
time to get it right.

And I have numerous times been -1 on that.

[2018-12-16 21:10] h-vetinari commented on #24310
OK, it should be clear from my attempts above that I never worked with `tzlocal()`, haha. Anyway, I figured out a little more (it seemed very weird to me that `tzlocal().tzname` needs an actual datetime object to tell me which timezone it is, until I remembered DST changes):

[code]

Back to the issue at hand, `dir(tzlocal())` (as well as `dir(tzlocal)`) shows that it has an attribute `utcoffset`,

[2018-12-16 22:01] Emanolo786 opened #24312 "Segmentation fault while loading csv into dataframe"
Hello,
I get a segmentation fault while loading a dataframe from a CSV.

Source file: https://www.data.gouv.fr/s/resources/liste-des-marches-du-cias-de-la-communaute-dagglomeration-bar-le-duc-sud-meuse-2016/20170421-180850/Liste_marches_CIAS_2016_fournitures.csv

mydataframe = pd.read_csv(filename, sep=';', encoding='latin-1', engine='python')

The file opens properly with Libre Office (Latin-3) f

[2018-12-16 22:43] jlricon commented on #24312
I can't  reproduce your bug. Works well for me.

[2018-12-16 23:02] vaughnkoch opened #24314 "Numpy 'inf' values cause pandas.cut to fail"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Having an 'inf' value in a Series seems to cause pandas.cut to fail with this error:
*** ValueError: missing values must be missing in the same location both left and right sides

I saw bug #19768 already, but that was fixed by PR 19833 in Feb, and I'm using 0.23.4 which was released on August 3, 2018. Also the

[2018-12-17 00:15] benarthur91 commented on #1135
I was hoping to take a shot at this. Does anyone have a recommended approach? `groups` gives a dict, so the dict repr is used. I'm not sure how to override that without defining a new class and having `groups` return that type instead.

[2018-12-17 02:31] datapythonista commented on #24239
can you open a pull request @joybhallaa, so we can comment on it.

[2018-12-17 03:42] benarthur91 commented on #1135
I found `pandas.io.formats.printing.pprint_thing` which does something similar to dataframe truncation:
[code]
However it truncates at the end rather than in the middle, which doesn't match df. Maybe `pprint_thing` could take another arg for where to truncate.

Also, `groups` currently returns a dict. I could subclass and override the `__repr__` to accomplish this, but the return type of `groups`

[2018-12-17 04:03] mroeschke commented on #24310
This dateutil issue has a mildly similar traceback with tzlocal and Windows: https://github.com/dateutil/dateutil/issues/197

[2018-12-17 08:40] Emanolo786 commented on #24312
Sorry, it comes from another spot in my software. Still getting segmentation fault from remove_duplicates of dataframe. Strange

[2018-12-17 10:34] antoinecomp commented on #11704
Okay, how to cope with this problem then ?

I have an object, `EWM [com=9.5,min_periods=0,adjust=True,ignore_na=False,axis=0]` that I want to add to a dataframe:` predictions_df_list['ewma']` which raised this issue

[2018-12-17 11:08] kokes commented on #24312
Can you please include a full snippet of code that reproduces this bug (I can't reproduce it either, not even when running `drop_duplicates`). If you could also include your environment info (OS, locale, Python version, package manager etc.) and pandas version.

[2018-12-17 11:09] bashtage commented on #23573
@adamrossnelson You are actually experiencing a different bug.  The files that you can't don't work with Stata don't work because they are only partially written (at least in master). A patch is needed to cleanup writes that fail (ok, but can be difficult to get right, but easy to implement), or to possible reorder the steps so that all of the data checks happen before the file is created (better

[2018-12-17 13:57] #24304 closed

[2018-12-17 14:11] TomAugspurger opened #24318 "hash_pandas_object fails on empty dataframe with index=False"
[code]

I'm not sure what to do here. I think that the output should have the same shape / index. Passing `index=False` means don't include the index in the hashed value. But the output should retain the same index.

[2018-12-17 14:23] aqurilla commented on #24235
Can I work on this issue?

[2018-12-17 14:33] adamrossnelson commented on #23573
@bashtage ... would you suggest starting a new issue? I'd be happy to do that to help track.

[2018-12-17 16:06] Emanolo786 commented on #24312
The segmentation fault always happen at the same place in my programm.  It is a drop_duplicates() with a dataframe with nothing special in it. My script otherwise processed hundreds of files without any problem

About my config:
Python 3.7.0
Mac OS: 10.14.1
Latest version of Pandas installed

Here is the snippet:
def cleanupdataframe(self, removeduplicates=True):
        self.replacevaluesbyNaN()

[2018-12-17 16:13] joybhallaa commented on #24239
When i run **python make.py html** I'm getting the error
`ImportError: C extension: dynamic module does not define module export function (PyInit_conversion) not built. If you want to import pandas from the source directory, you may need to run 'python setup.py build_ext --inplace --force' to build the C extensions first.
`
And when i run **python setup.py build_ext --inplace --force** i get a lot

[2018-12-17 16:15] TomAugspurger commented on #24246
Yeah, I think something like this will eventually be necessary.

I don't think it would be part of the user facing API though. Rather, we would call some kind of `pandas._maybe_promote(array, dtype)`. For ExtesnsionArray `array`, that would dispatch to something like `ExtensionArray_maybe_promote(dtype)`, which would return the desired dtype.

[2018-12-17 16:22] enricorotundo opened #24321 "Doc on pandas.read_parquet says path is a string / File path but io.ByteIO also works"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[The doc](https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.read_parquet.html?highlight=read_parquet#pandas.read_parquet) says `path` parameter is `string File path`, but could be an `io.BytesIO` as the code above works well. Anybody else ran into this case of reading a remote parquet file? Is t

[2018-12-17 17:20] TomAugspurger commented on #24321
I think the correct type is similar to `get_filpath_or_buffer`.

[code]

although even that should be updated to something like str, URL, or any object implementing `__fspath__`.

[2018-12-17 17:36] h-vetinari commented on #24310
@mroeschke
Thanks for the link, that issue was indeed pertinent. There's a two-layered problem here:
* A CPython bug, namely that `time.localtime()` cannot deal with negative values on Windows (whereas it works on Linux)
* A dateutil peculiarity (at least at first glance), that there exists `tzlocal` (crashes)  and `tzwinlocal` (working). I've made a comment in the issue about it.

I'll be skippin

[2018-12-17 17:46] h-vetinari commented on #24246
@TomAugspurger
I'm not saying this needs to be user-facing at all, but it should be something that EA authors implement (or fall back to always upcasting to object otherwise).

Not sure if you were missing a dot in there somewhere, but `ExtensionDType._maybe_promote(dtype, fill_value=np.nan)` would sound good to me.

[2018-12-17 17:51] TomAugspurger commented on #24246
Yep, fixed.

Do you mean ExtensionArray? Or do you think this can be done at the dtype level? I was assuming ExtensionArray, but it'd be great if we could do this without looking at the actual values.

[2018-12-17 17:54] kylebarron commented on #23573
@bashtage I might be mistaken, but I felt that the bug was that those characters _should_ be able to be written with the current Pandas writer. The `df.to_stata` documentation says that it supports Latin-1 encoding, and all of those characters in @adamrossnelson 's comment [are present in that encoding](https://en.wikipedia.org/wiki/ISO/IEC_8859-1#Code_page_layout). Therefore it should be able to

[2018-12-17 17:59] bashtage commented on #23573
� copies and pastes as U+FFFD which is not supported in Latin-1.

[2018-12-17 18:02] h-vetinari commented on #24246
@TomAugspurger

There are two parameters at play:
* a `dtype`, asking if it needs to be upcast to accommodate
* `fill_value` (which can be scalar, np.ndarray, or an EA itself)

`core.dtype.cast.maybe_promote` is not a class method, hence the signature is
`maybe_promote(dtype, fill_value=np.nan)`. So, assuming `dtype` is an `ExtensionDType`, we would indeed only have to call `ExtensionDType._maybe_

[2018-12-17 18:23] bashtage commented on #23573
You can run this to sanitize it:

[code]

It seems that this file is not loadable which suggests there is a bug in multiline strl encoding.  I suppose the first issue is to determine whether strl supports multilines in 117.

[2018-12-17 19:39] topper-123 opened #24323 "API: Remove 'codes' parameter from MultiIndex signature, and add 'data'"
In #23752, the MultiIndex signature was changed. Compared to 0.23.4, the only change is that ``labels`` has been changed to ``codes``.

Now that the signature is being changed anyway, I've started to think about if this is even the right signature:

I think ``codes`` should actually be an implementation detail, and an improved signature would be using ``data`` for the first parameter, similarly to

[2018-12-17 21:01] DanielGoldfarb opened #24325 "pandas.Series docstrings dtype information"
docstring for pandas.Series states:

    dtype : numpy.dtype or None
        If None, dtype will be inferred

I'm new at this so I don't know all the dtypes that are valid, but at the very least I see that I can write dtype='category' yet categorical_dtype is (as far as I know) *not* a numpy.dtype (or am I missing something?)

Assuming I'm correct, that there is at least one (possibly more) valid

[2018-12-17 21:10] mroeschke commented on #24312
We would need a minimal, reproduceable example http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-12-17 21:30] TomAugspurger commented on #24325
This has changed on master: https://github.com/pandas-dev/pandas/blob/3675c29a7bf8714d3f83d1c6a854325702f81969/pandas/core/series.py#L129-L131

Does that clarify things? I think the main thing that's missing is a link to our dtypes reference at

    :ref:`basics.dtypes`

You're correct that category is not a NumPy dtype. It's an extension dtype.

Listing them all probably isn't a good idea, especi

[2018-12-17 22:47] jbrockmendel opened #24326 "Fixtures making IntNA tests difficult to run interactively"
Trying to run tests.arrays.test_integer TestArithmeticOps.test_error in the REPL, need to produce the `data` arg that gets passed to `test_error`.  `data` is defined in a fixture:

[code]

Trying to do this manually:

[code]

What am I missing here?  Figuring out exactly what is tested _should_ be really easy.

[2018-12-17 22:59] jbrockmendel commented on #24301
This came up in #24282 trying to make use of the decorator for IntNA arithmetic ops.  The relevant portion of the test that would be affected is:  (see #24326, turning the tests into something copy/paste-able is much harder than it should be)
[code]

Instead of raising NIE, I want to make `data.__add__(df)` return `NotImplemented`, then making `df.__radd__(data)` do something useful.  Given the wa

[2018-12-18 00:14] datapythonista commented on #24239
Can you try with a `python setup.py clean` first?

[2018-12-18 00:15] datapythonista commented on #24235
please, go ahead

[2018-12-18 01:34] jschendel commented on #24314
This should raise, as `bins` should not be specified as an integer when the input data contains infinity.  The error message could certainly be improved though.

A more concise example of the error in question:
[code]
Note that `duplicates='drop'` is just delaying the error from `[2]`.

As to why this is invalid, from the documentation for [`cut`](https://pandas.pydata.org/pandas-docs/stable/gener

[2018-12-18 01:39] vaughnkoch commented on #24314
That makes sense, thanks for sharing.

What do you think of having it just ignore inf values (and if there no binnable values, then raise?)
If you have inf values in the source data, the caller has to do extra work to remove them anyways, which pandas could do as well. Then you could just put that in the docs that inf is converted to NA.

[2018-12-18 02:03] jschendel commented on #24314
I'd be a bit hesitant to silently ignore infinite values.  This would make the handling of infinity a bit inconsistent within `cut` since infinity is valid for other ways of using `cut`.  It would also make it harder for users to diagnose if they're using the wrong combination of parameters with `cut`, or if something is wrong with their assumptions about their data (infinity being present when it

[2018-12-18 02:09] vaughnkoch commented on #24314
What about having the default be to raise (with an informative error message), but to add an additional optional parameter to pd.cut which would then ignore infs? That way, if someone uses the option, they're explicitly saying infs can be ignored, and if they get the error otherwise, it'll be an easy change instead of having to put an extra line to drop infs.

[2018-12-18 02:51] saurav2608 commented on #24237
I am taking this up.

[2018-12-18 05:31] mroeschke opened #24329 "BUG: Timestamp(Timestamp(Ambiguous time)) modifies .value with dateutil tz"
Pretty obscure bug, but this seems fishy:

[code]

pytz timezones behave consistently though

[code]

The fact that the repr between dateutil timezones and pytz timezones don't match can be possible be seen in a change in dateutil somewhere around 2.6? But the main issue that is `.value` changes.

https://github.com/pandas-dev/pandas/blob/216986d4691297d5cfec33b5c62be7890b9a54d7/pandas/tests/index

[2018-12-18 06:36] gitgithan commented on #21425
Shouldn't pd.pivot_table be used if multiple columns for the index is desired, or if a pivoted index-column pair has more than 1 value and thus requires aggregation?
Why does pivot exist actually?
Is there anything pivot can do that pivot_table cannot?

[2018-12-18 09:35] kokes commented on #1667
This sounds like you're looking for window functions, these are not supported in pandas. Well, `.transform` comes pretty close, but it's not quite there. The thing with aggregate functions (be it groupby.agg or transform) is that they work on columns, not the whole dataframe (or other columns), but there are workarounds.

I can think of at least two ways to achieve your goal.

We can index the ori

[2018-12-18 10:02] datapythonista commented on #24177
@saurav2608 I couldn't find the issue, can you send me the link to the exact comment, or tag me on it?

[2018-12-18 10:09] saurav2608 commented on #24177
I tagged you on that. I am not able to get the link to the exact comment (it is a review ). I have added a new comment tagging you. Line 1036.

[2018-12-18 10:19] datapythonista commented on #24177
I can't find anything in #24236 and didn't received any notification, no idea what's going on, but no idea what's the issue, sorry.

[2018-12-18 11:12] datapythonista commented on #24178
Looks good, but not a big fan of random data. May be you can use the same example as in: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html

Also,
- I wouldn't define `key`, `key1`..., just use the value directly
- `axis='columns'` is more explicit than `axis=1`
- You don't need the imports, they are defined at the beginning of the file already

[2018-12-18 11:18] pawel-wiejacha opened #24333 "DataFrame.groupby() is terribly slow when grouping by multiple columns and one of them is Categorical"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Changing column dtype to categorical makes `groupby()` operation 3500 times slower.

The problem occurs both in pandas-0.23.4 and in pandas-0.24.0 (untagged.1.g216986d)

#### Expected Output

Similar execution times.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2018-12-18 11:38] saurav2608 commented on #24239
@joybhallaa  - Did you follow the instructions given at [Contributing to the documentation](http://pandas.pydata.org/pandas-docs/stable/contributing.html#contributing-to-the-documentation). You will have to create a dev environment.

[2018-12-18 12:18] TomAugspurger commented on #24333
Grouping by multiple categories creates the cartesian product of the keys.

See the `observed` keyword to disable that behavior: http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.DataFrame.groupby.html

[2018-12-18 12:18] #24333 closed

[2018-12-18 12:22] TomAugspurger commented on #24326
You need to call the dtype.

`dat = integer_array(d, dtype=dtype())`

I think having an actual repr for instances of that dtype may help. with the confusion. We could also check in `coerce_to_array` whether the `dtype` is a class, rather than an instance.

[2018-12-18 12:37] jreback commented on #24333
[code]

[2018-12-18 12:39] #24233 closed

[2018-12-18 13:03] #24314 closed

[2018-12-18 13:04] TomAugspurger commented on #18720
Pushing to 0.25

[2018-12-18 13:36] jreback commented on #24323
we already have 3 different ways of constructing ``MultiIndex``, which is enough; they are different enough that it would be very awkward to do this in a single constructor. The main constructor () should rarely be used directly.

[2018-12-18 13:36] #24323 closed

[2018-12-18 13:37] #24135 closed

[2018-12-18 14:36] jbrockmendel commented on #24326
thanks

[2018-12-18 14:43] TomAugspurger commented on #24326
Might leave this open to see how things can be improved.

I think part of the confusion is that NumPy's top-level `np.<dtype>` functions / classes are kinda weird. You're expected to pass the class in places where we expect the dtypes.

[code]

rather than `np.int32()` which returns... something.

pyarrow's `pa.array()` expects instances of its top-level types, rather than the class, so we're cons

[2018-12-18 14:52] jbrockmendel commented on #23922
Instead of using regex, what if we patched `pytest.raises` to disallow the unwanted uses?  We could put the patch inside of module setup/teardown functions

[2018-12-18 14:53] pawel-wiejacha commented on #24333
I see. I just switched from strings to categorical variables to reduce memory usage and have not expected that it would change semantic of a `groupby` operation. Sorry for that.

I have also very similar issue (implicitly creating a cartesian product) with following expression:

[code]

I know that I can work around it with:

[code]

[2018-12-18 15:06] TomAugspurger commented on #20300
DatetimeLikeArrayMixin would benefit from this (or a `_values_for_fillna`) as well.

[2018-12-18 16:05] WillAyd commented on #1667
Closing as a usage question; typically better served using SO for these types of questions

[2018-12-18 16:05] #1667 closed

[2018-12-18 16:09] TomAugspurger commented on #24301
I don't see how that example relates to the original post, which was about DataFrame + EA. Is the issue about DataFrame + Series[ea], in which case alignment matters? Or is it about DataFrame + EA, when there isn't any alignment (but maybe broadcasting?)

To me that should behave the same as DataFrame + ndarray

[code]

I don't think that last one is dispatching to EA implementation though.

[2018-12-18 16:11] benarthur91 commented on #1135
Would it be better to implement as I've described above and discuss further in the PR?

[2018-12-18 16:37] DanielGoldfarb commented on #24325
That change makes it somewhat more clearn, and I agree that if the list is long, then listing them in the docstring is probably not a good idea.   A link in the docstring would be appropriate, however I don't understand exactly where

is supposed to be pointing me.   Also, in the case of 'str', I would hope the link would point to a place that lists all possible valid strings that a client of the

[2018-12-18 16:46] DanielGoldfarb commented on #24325
Was the intention to link to here?

https://pandas.pydata.org/pandas-docs/stable/basics.html#dtypes

[2018-12-18 16:52] TomAugspurger commented on #24325
It's been recently expanded. We would use the :ref: version though, not the
URL.

Listing the string is somewhat difficult since there are two sources

1. Anything which `np.dtype()` accepts
2. Any of the registered extension types:
http://pandas-docs.github.io/pandas-docs-travis/extending.html#extensiondtype

On Tue, Dec 18, 2018 at 10:46 AM DanielGoldfarb <notifications@github.com>
wrote:

[2018-12-18 17:12] DanielGoldfarb commented on #24325
Understood regarding using :ref: version;  I guess being a newbie to python and pandas, I didn't quite understand the syntax

    :ref:`basics.dtypes`

and what it's supposed to mean: it took me more than a couple minutes of poking around to find https://pandas.pydata.org/pandas-docs/stable/basics.html#dtypes

And now that I think of it, I'm a little confused regarding the syntax meaning of saying

[2018-12-18 18:22] gfyoung commented on #23922
@jbrockmendel : By unwanted uses, what do you mean?  And patch how exactly (not sure I follow you here 100%)?

[2018-12-18 18:22] mroeschke commented on #22864
Moving this off the 0.24.0 milestone, this can be address in a future release. https://github.com/pandas-dev/pandas/pull/24330 just removes the existing `CalendarDay` behavior.

[2018-12-18 18:32] #24237 closed

[2018-12-18 18:58] #24256 closed

[2018-12-18 22:32] selik commented on #11704
@antoinecomp Could you share a bit more of your code and the error message?

[2018-12-18 22:34] mzpqnxow opened #24344 "Pandas build time is very slow on big iron PPC (binary wheel not available)"
#### Problem description

There is currently no straightforward way to perform a parallel build of pandas. This is a problem for me as  I need to build virtual environments quite often and there is no binary package for my platform:
[code]
`LSB Version:	security-9.20160110ubuntu0.2-noarch:security-9.20160110ubuntu0.2-ppc64el`

I have a big iron PPC machine runnining Ubuntu with 160 cores, and woul

[2018-12-18 22:39] TomAugspurger opened #24345 "Avoid double copy in Series/Index.to_numpy"
https://github.com/pandas-dev/pandas/pull/24341 added the `copy` parameter to `to_numpy()`.

In some cases, that will copy data twice, when the `asarray(self._values, dtype=dtype)` makes a copy, Series / Index doesn't know about it.

To avoid that, we could add a method to the ExtensionArray developer API

[code]

The second item in the return tuple indicates whether the returned ndarray is alread

[2018-12-18 22:54] datapythonista commented on #23928
@jreback are you ok with marking the db tests in pytest, and run them explicitly instead of skipping them when the connection fails (which will make them fail silently if the db fails)?

[2018-12-18 23:39] joh-mue commented on #16812
Yes, what if I want to force NaN values in the update function?

[2018-12-18 23:52] jreback commented on #23928
sure as long as they r skipped for users running pd.test() (iow treated like a slow test)

[2018-12-19 01:42] jbrockmendel commented on #24344
That build time seems similar to what I see on a much less beefy machine, so there is likely room for improvement.

The build process pretty much all goes through cython; they will have more expertise on how to tune the compiler arguments.

[2018-12-19 01:45] jbrockmendel commented on #24301
@TomAugspurger  It’s about DataFrame + EA.  The example with a length-1 array is a special case.  Try the same thing with an array with length matching len(df).  Both the EA and ndarray cases should raise ValueError.  But in the ndarray case it can be solved by reshaping, while the EA case cannot.

[2018-12-19 01:49] jschendel commented on #24314
Yes, that would be a more viable alternative.  Would still like a new issue opened regarding it for more discussion.  To be honest, I don't think this would be a high priority item to be filled, unless it's something you'd be willing to contribute, given that it's a rather specific request that I don't think would be frequently used.  Also keep in mind that there's a bit of maintenance burden asso

[2018-12-19 01:52] jreback commented on #24344
this platform is not supported in any way; that said would take a patch

[2018-12-19 06:50] kid3night commented on #24218
I want update one info:
If I use delete the closed='left', then the code will not crash. It seems that the problem exist in the boundary part.

[2018-12-19 07:15] benarthur91 commented on #1135
@jreback actually it appears [#2628](https://github.com/pandas-dev/pandas/issues/2628) is a duplicate.

[2018-12-19 10:15] YanTianqi opened #24348 "Timestamp.to_pydatetime() cannot be applied to an entire Series"
#### Problem description
When I tried to compare 2 columns of date in one dataframe, if one column has type pandas._libs.tslib.Timestamp while the other is python datetime, a mere comparison will return an error of  `Cannot change data-type for object array.`

To compare, I have to convert Timestamp to datetime. According to the API, I can use the function to_pydatetime(). However, this only works

[2018-12-19 11:36] datapythonista commented on #24239
most of them are solved by replacing `Series` by `pd.Series` and equivalent. The ones like `df not defined` can be solved by defining df (may be in a `:suppress:` block with a simple `df = pd.DataFrame()` if no better solution is available.

To run the docs you need to compile pandas C code first `python setup.py build_ext --inplace` (in the root of the project)

[2018-12-19 11:46] jreback commented on #24348
pls show a complete copy pastable example
no screenshots

[2018-12-19 12:02] jreback commented on #2628
closing as duplicate

[2018-12-19 12:02] #2628 closed

[2018-12-19 12:32] #24280 closed

[2018-12-19 14:30] jreback opened #24351 "ENH: add asv's which include EAs where appropriate"
specially talking about the IntNA EA's can be added in lots of places for perf testing.

[2018-12-19 14:31] jreback commented on #24348
[code]
you almost always will NOT want to do the conversion in [5] as its non-performant.

[2018-12-19 14:31] #24348 closed

[2018-12-19 15:46] saurav2608 commented on #24239
@datapythonista - the issue is that a variable ts is defined in a previous block and is reused in the current block. Is there a way to connect these blocks. I saw some reference to directives such as  `:flake8-group: Group` in the flake8-rst repo. But I don't think it works yet.

[2018-12-19 15:49] datapythonista commented on #24239
Afaik the version of `flake8-rst` we're using just merges all the blocks, so I don't think that's the problem.

In any case, let's better wait until there is a PR, it's not very efficient to discuss the code without having it or being able to comment on it.

[2018-12-19 15:52] TomAugspurger commented on #23359
We'll need to be especially careful here. The point of PandasArray
(formerly NumPyBackedExtensionArray) is to be a zero-copy view on some
other ndarray,
which makes failing to invalidate a cache more likely.

On Tue, Dec 18, 2018 at 10:26 PM jbrockmendel <notifications@github.com>
wrote:

[2018-12-19 15:55] TomAugspurger commented on #24301
I don't think that's the recommended way of doing it though. We'd direct users towards `DataFrame.add` in that case.

[code]

So I would focus on getting that working I think.

In this case, I think the issue is that `integer_arithmetic_method` doesn't implement broadcasting.

[2018-12-19 16:22] TomAugspurger commented on #20535
What's the plan for `fields`?  I don't actually know what that does.

[2018-12-19 16:34] TomAugspurger commented on #20535
Hmm, slight API change (I think it counts as a bug) when `start` / end is a Period with a non-daily freq.

[code]

I think we want `Out[4]`. On master this is incorrect because the default value in `period_range` is `'D'`, not None.

[2018-12-19 16:50] anjsudh opened #24353 "Need support for floor and ceil methods during pandas.eval which are provided by numexpr"

[2018-12-19 16:55] jreback commented on #24353
a PR would be ok here

[2018-12-19 16:59] TomAugspurger commented on #20535
On fields, I think that we should continue to accept them in the PeriodIndex constructor (at least, we shouldn't add them to `period_range`).

[2018-12-19 18:08] jmarshall9120 opened #24357 "combine_first not retaining dtypes - unmatched indexes"
[code]
Not sure this is intended behavior or not, but as you can see the from the output the dtype of the col `b` is changed to `float64` when `combine_first` is called.

I've seen an old open issue: [combine_first not retaining dtypes](https://github.com/pandas-dev/pandas/issues/7509)

That issue is from 2014 and explains why data types are coerced to `float64` when there is a resulting `nan`, ho

[2018-12-19 19:23] lucianoviola opened #24358 "BUG: TimedeltaIndex division not supported"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
At least in Pandas 0.20.3 it was possible to divide TimedeltaIndex instances, but in the current stable version I get TypeError.
#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bits: 64
OS: Darwin
OS-release:

[2018-12-19 19:39] TomAugspurger opened #24359 "Unpin travis-3.6 build"
https://travis-ci.org/pandas-dev/pandas/jobs/470161644#L2601

[2018-12-19 19:53] TomAugspurger commented on #24359
Here are the differing packages between
https://travis-ci.org/pandas-dev/pandas/builds/470122716 and
https://travis-ci.org/pandas-dev/pandas/builds/470140296

package                 | old version    | old hash       |  new version    | new hash
----------------------- | -------------- | -------------- | --------------- | --------------
cryptography            | 2.3.1          | py36hc365091_0 | 2

[2018-12-19 20:52] TomAugspurger commented on #24359
In
https://github.com/pandas-dev/pandas/pull/24360 we pinned Python to 3.6.6. We should remove that pin once liberal and openssl have been updated for 3.6.7.

[2018-12-19 20:54] LJArendse commented on #24178
@datapythonista Done, ```flake8-rst doc/source/groupby.rst``` is not reporting any more errors. I will open a pull request for you to review my changes.

[2018-12-19 21:12] TomAugspurger opened #24362 "tz-aware DatetimeIndex intersection raises AttributeError when values are the same but tz differs"
[code]

If the values differ, no error is raised

[code]

[2018-12-20 00:05] bsaunders23 commented on #15276
Hey @tim-sauchuk , running into the same error as well, although I found a solution that's been working great which involves a slight edit to the pandas.io.sql.py file (just delete the .pyc file from __pycache__ before importing again to make sure it writes the new version to the compressed file)

https://github.com/pandas-dev/pandas/issues/8953

[2018-12-20 00:31] ericksc commented on #24251
@jreback @WillAyd so, the question here is why does pandas 0.17 to 0.18 upgrade regress that behavior?

[2018-12-20 01:05] Lifreed commented on #24351
I see tag "good first issue", that's what I need. I can try solve this problem but I need more information.

[2018-12-20 01:06] Lifreed commented on #24351
I see tag "good first issue", that's what I need. I wont solve this problem but I need more information.

[2018-12-20 03:26] TomAugspurger opened #24368 "DataFrame constructor with dict of series misbehaving when `columns` specified"
We take a strange path...

[code]

[code]

I'm guessing we don't want to be passing a dict of Series into the Series constructor there

[2018-12-20 09:37] botenvouwer commented on #12004
I agree on this, JSON is also meant to be human readable. Right now this is just annoying.

[2018-12-20 12:10] TomAugspurger opened #24371 "concat Series[sparse] converts sp_values to NaN"
[code]

[2018-12-20 12:19] TomAugspurger commented on #24371
Note, the only happens when we choose to return a SparseDataFrame instead of a DataFrame of sparse values. I thought we changed that to return a DataFrame..

[2018-12-20 12:20] TomAugspurger commented on #24371
This is the behavior on 0.23.4

[code]

[2018-12-20 14:52] lovasoa opened #24373 "date_range returns duplicated dates when used with dateutil over a range that includes the end of daylight saving time"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

In the example above `range_dateutil` is :

[code]
In the example above, range_str is correct, but range_dateutil contains duplicated datetimes:
'2018-10-28 02:00:00+02:00' and '2018-10-28 02:30:00+02:00'.

I am not sure whether the problem is in pandas or dateutil.

#### Expected Output

[code]

#### Output o

[2018-12-20 14:55] addisonlynch commented on #24176
@datapythonista sounds good, I'll try to get this closed out.

[2018-12-20 14:55] lovasoa commented on #24373
Here are the contents of my local `/usr/share/zoneinfo/Europe/Paris`:
[Europe_Paris_tzfile.zip](https://github.com/pandas-dev/pandas/files/2699305/Europe_Paris_tzfile.zip)

[2018-12-20 15:10] MJBee commented on #22661
I posted my comment to this issue:
https://github.com/pandas-dev/pandas/issues/5500
but now I see that the following day the issue was closed and no one ever referred to my suggestion, so I repost it here:

For the reason I pointed out in my answer to this question:
https://stackoverflow.com/questions/18016037/pandas-parsererror-eof-character-when-reading-multiple-csv-files-to-hdf5/53173373#531733

[2018-12-20 15:34] TomAugspurger commented on #24368
We spend basically all our time in sanitize_array / _try_cast / `construct_1d_object_array_from_listlike`

And of that, all the time is in NumPy.

[code]

[2018-12-20 15:44] janvanrijn opened #24374 "Can't install pandas 0.24dev (with setup script) on mac"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I checked the recent issues and it seems that this issue is not here before. I understand that this is kind of a environment dependent issue, and probably hard to debug, but I was wondering if I was the only one that has this problem, and if there is any way to conveniently debug this. (happy to provide a fix if

[2018-12-20 16:06] TomAugspurger commented on #24374
See https://github.com/pandas-dev/pandas/pull/24274

Try setting `MACOSX_DEPLOYMENT_TARGET=10.9` before building.

[2018-12-20 16:38] TomAugspurger opened #24375 "MultiIndex.__iter__ on integer level with some missing keys casts to float"
Edge case. Maybe not worth fixing.

[code]

`__iter__` should be equivalent to repeated getitems. This came up in my fix for https://github.com/pandas-dev/pandas/issues/24368. It involves iterating over the values in an Index and looking something up from a dict based on those keys. The float casting was causing KeyErrors.

[2018-12-20 17:40] danich1 commented on #14553
@cristianionescu92 An example would be this:
I have a table called User with the following fields: id and name.

| id | name |
| --- | --- |
| 0 | John |
| 1 | Joe |
| 2 | Harry |

I have a pandas data frame with the same columns but updated values:

| id | name |
| --- | --- |
| 0 | Chris |
| 1 | James |

Let's also assume that we have a session variable open to access the database. By calling th

[2018-12-20 18:24] mroeschke commented on #24373
So this may be a repr issue as the underlying epoch timestamps are the same:

[code]

[2018-12-20 21:14] robbuckley commented on #24374
yep, looks like a duplicate of issue #23424

[2018-12-20 21:32] #24374 closed

[2018-12-21 02:39] mroeschke commented on #24373
This might be quite a lift to support currently as it appears that dateutil uses the new `fold` argument to detect ambiguity, and we still support Python 2 (not for long though).

Note that the underlying data is still correct.

[2018-12-21 09:22] DanielFEvans opened #24380 "Add ability to ignore entirely null rows when reading CSV"
#### Example

example.csv:
[code]

[code]
#### Problem description

I have encountered several cases of CSV files with one or more "empty" rows at the bottom - i.e. valid rows with the correct number of delimited fields, but without any data in the fields. This seems to be a "feature" of CSV exports from programs like Excel in some circumstances. The problem often doesn't get detected until run in

[2018-12-21 13:01] jreback commented on #24380
This is not a great idea

- ``pd.read_csv`` already has too many options
- you can do this now like so:

[code]

- Integer NA support is coming in 0.24.0

[2018-12-21 13:01] #24380 closed

[2018-12-21 13:29] TomAugspurger opened #24381 "Datetimelike index / arrays ignore integer sign and size in astype"
For datetimelike indexes, `.astype` ignore the sign and size of an integer dtype, and always uses int64

[code]

We don't have Index subclasses for each of these types (though we do have uint64 now).

In #24024 we agreed(?) that following the Index was the best behavior for the array class.

[code]

(that's also int64).

---

Some questions:

1. Do we want to change this? Note that for "normal" us

[2018-12-21 13:35] TomAugspurger opened #24382 "Implement min, argmin, max, argmax on ExtensionArrays?"
We already have `ExtensionArray.argsort` as part of the EA interface, so we should be able to to do min, argmin, max, and argmax as a composition of `argsort` and `__getitem__`. Do we want to do this?

[2018-12-21 13:45] jreback commented on #24381
this is not likely easy to change as we don’t have the Index subclasses to support this

nor is it a big deal ; if/when we have subclasses then can supoort

[2018-12-21 14:33] jreback commented on #24382
i think this is a nice idea; shows a nice benefit of shared EA infrastructure

[2018-12-21 14:52] TomAugspurger commented on #24382
One thing I notice though, our docs on _values_for_argsort don't mention
missing data at all. I think we may need to adjust the API there to return
a tuple of (values, mask), where the mask indicates missing values?

On Fri, Dec 21, 2018 at 8:33 AM Jeff Reback <notifications@github.com>
wrote:

[2018-12-21 16:19] slnguyen commented on #24269
I'm not sure if my fix is the right way to resolve the problem, but I've added another control statement so that updating dataframe values corresponding to a list of labels is handled the same way as updating dataframe values corresponding to a single label. The performance test `asv_bench/benchmarks/indexing.py` returns that the benchmarks are not significantly changed.

https://github.com/pandas

[2018-12-21 16:34] enricorotundo opened #24384 "Wrong conda panda-dev env filepath in "Creating a Python Environment" docs"
One of the first steps in the Contributing to Pandas guide is [Creating a Python Environment](http://pandas.pydata.org/pandas-docs/stable/contributing.html#creating-a-python-environment). The first line regers to a yaml file inside `ci/` but that files seems to have been [moved to the project root](https://github.com/pandas-dev/pandas/blob/master/environment.yml).
[code]
Should be
[code]

[2018-12-21 16:35] WillAyd commented on #24384
Yea I can see where this is confusing because those docs don't point to the DEV version. I think this was resolved in another PR already though

[2018-12-21 16:38] WillAyd commented on #24384
@jamesmyatt

[2018-12-21 16:41] TomAugspurger commented on #24384
I think this is unavoidable right now. We likely won't be moving it again in the near future.

[2018-12-21 16:41] #24384 closed

[2018-12-21 16:42] TomAugspurger commented on #24384
This will be resolved when we do the 0.24 release (coming soon).

[2018-12-21 16:48] enricorotundo commented on #24384
My bad sorry, I was sure I had checked the dev docs before opening this.
Btw, #23883 is related.

[2018-12-21 17:11] #24371 closed

[2018-12-21 17:22] TomAugspurger opened #24385 "Series / DataFrame constructors inconsistent with data=None and dtype"
[code]

I don't know which makes more sense.

[2018-12-21 17:37] jbrockmendel commented on #23185
A thought on a way forward, seeing as how Tom has earned some down-time.

With `_index_data` implemented, I'm finding the approach used in the previously-segfaulting branch (tentatively) working.  Define on DTI/TDI/PI respectively:

[code]

Then do the entire inheritance/composition switchover, but dispatching to `self._eadata` instead of `self._data`.  (Several steps later we'll remove _eadata an

[2018-12-21 17:38] WillAyd commented on #24385
Yea raising is a good option if there’s a general way of doing it. Either way is ambiguous

[2018-12-21 17:51] TomAugspurger commented on #24385
Also, apparently the output of `DataFrame(None, index=[1, 2], columns=['a'], dtype=object)` is object, so the `dtype=` is only sometimes ignored.

[2018-12-21 18:27] TomAugspurger opened #24386 "DataFrame constructor ignores integer dtype when dict-data and non-overlapping columns"
This is close to https://github.com/pandas-dev/pandas/issues/24385, but we don't have a test saying otherwise, so I'm actually going to fix this one :)

[code]

Out[21] should be int64.

[2018-12-21 19:39] TomAugspurger opened #24388 "DataFrame constructor is inconsistent when coercing values to strings with `dtype=str`."
When providing `dtype=str` to the DataFrame constructor, we're inconsistent about coercing values to strings.

When there's no overlap between the keys of `data` and columns, things are probably OK.

[code]

(those values are np.nan).

But when there is an overlap between keys of `data` and columns, the newly introduced values are coerced to strings.

[code]

(everything in that dataframe is a str

[2018-12-21 19:39] TomAugspurger commented on #24388
This is not fixed in https://github.com/pandas-dev/pandas/pull/24387

[2018-12-21 19:53] TomAugspurger opened #24389 "DataFrame constructor is inconsistent in handling of duplicates in columns"
[code]

I don't know which is preferred.

This is not being fixed in https://github.com/pandas-dev/pandas/pull/24387

[2018-12-21 20:01] TomAugspurger commented on #24389
Whoops, my Out[5] was on the wrong branch. On master it matches from_records, which makes my life in #24387 harder.

[code]

[2018-12-21 20:01] #24389 closed

[2018-12-21 21:11] simonjayhawkins commented on #19056
#6507 maybe related.

`drop_level=False` also ignored on `index` when fully specified tuple..

[code]

[code]

[2018-12-21 21:34] jessehoff opened #24390 "check overwrite mode in to_csv and other writers."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Quick suggestion if possible, maybe more of an issue for python core library, but it would be terrific if there was an option within the various writers (to_csv, etc) to check for existence of file and throw error if it already exists.

This is desirable for notebook users who repeatedly re-munge data and may a

[2018-12-21 22:06] h-vetinari commented on #24390
This is a pandas issue, not a python one - it would be easy to stat the file for existence before writing. Could do it e.g. with an `overwrite={'warn'|'raise'|'ignore'}`-keyword, that's set to `'warn'` by default.

[2018-12-21 22:15] WillAyd commented on #24390
-1 here as I don’t think this is a lot of value add for pandas. Why not use use pathlib?

[2018-12-21 22:30] jschendel opened #24391 "BUG: PeriodIndex._shallow_copy doesn't roundtrip asi8 values correctly"
On master:
[code]
It appears that values are shifted forward by `freq.n - 1` base frequencies, e.g. if `freq='5D'` then the above will result in a shift of `'2018-01-01'` --> `'2018-01-05'`.

Note that this is working on 0.23.4:
[code]
cc @jbrockmendel : Am I correct in expecting that `Out[3]` and `Out[4]` should be the same?

[2018-12-21 22:36] jessehoff commented on #24390
Certainly there are plenty of ways to avoid it, but many users often prefer to use single line implementations of pandas, rather than wrapping in more python functionality. And i'd probably default overwrite to "ignore' to keep behavior typical.

Again, the use case here is a typical pandas using data science project in a notebook where a cell may be errantly executed without thinking.

The value

[2018-12-22 02:56] jbrockmendel commented on #24391
Definitely weird.  @TomAugspurger has worked on this more recently than me.  I'll try to take a look over the weekend.

[2018-12-22 16:50] andrewgsavage opened #24396 "Series of integers mod behavior"
#### Code Sample
[code]
#### Problem description
Was expecting a TypeError.

I think this is breaking a pint pandas interface test which tests s2 arithmetic_op Series(PintArray...  raises some exception. (Which is failing on __rmod__ )

[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-rele

[2018-12-22 17:06] andrewgsavage commented on #24167
Cheers that worked after modifying _from_factorize. Can use np.NaN there so no need to add that to the public API.

There's a few other imports from pandas.core that I guess need changing now I'm aware.

[2018-12-22 20:44] enmatics commented on #22981
is there an adhoc solution to this even though functionality has not been officially added?

[2018-12-22 20:51] svenharris commented on #22981
You might find my answer to this stack overflow question helpful for the time being

https://stackoverflow.com/questions/52503816/pandas-merge-asof-error-when-using-float-as-key/52503878#52503878

[2018-12-22 21:27] ProxyCausal opened #24399 "Allowing custom function for merge as_of "direction""
This is an idea:

The suggestion is to allow the user to define a function specifying how they want the merge "on" to be done.
For example, the best I can do now with the predefined "nearest" is to match the "nearest" value on one column, but let's say I wanted to match the "nearest value" for a function of the values from two columns e.g. distance from x and y coordinates this is not possible.

I

[2018-12-23 01:03] mroeschke commented on #24399
Could you demonstrate your proposal with a small toy example?

As stated, it sounds like you could create another column with distances and use `merge_asof` on that column?

[2018-12-23 01:08] mroeschke commented on #24396
Thanks for the report. Investigation and PRs welcome!

[2018-12-23 01:55] mroeschke commented on #24076
This looks fixed in master; could use a test.

[code]

[2018-12-23 04:08] enmatics commented on #24399
Dataset A
               ID       Date   Latitude  Longitude
0        10000092 2015-03-18  41.891399 -87.744385
4        10000097 2015-03-18  41.878065 -87.743354
12       10000109 2015-03-18  41.738563 -87.552679
24       10000123 2015-03-18  41.880934 -87.764879
29       10000130 2015-03-18  41.737129 -87.649728
48       10000159 2015-03-18  41.986392 -87.656701
72       10000197 2015-03-18  41.

[2018-12-23 09:19] takekazuomi commented on #16748
I  have same issue in pandas 0.23.4.

[2018-12-23 12:42] jopasi opened #24403 "request to implement LATIN sorting algorithm in pandas"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Dear developers,
I would like to suggest a following request which could be good for lots of foreign people who wants to use their foreign characters/words in pandas data frame.

In Pandas there is no possibility to sort string data in Latin or other country specific algorithm.
Although python gives already a so

[2018-12-23 15:15] #24305 closed

[2018-12-23 17:32] #24123 closed

[2018-12-23 20:16] ianhardman commented on #9636
I have a set of HDF5 files that contain 3 groups with values, latitude and longitude where values are in a 9600x5600 array.
` group           name       otype  dclass         dim
0     / values H5I_DATASET INTEGER 9600 x 5600
1     /       latitude H5I_DATASET   FLOAT        5600
2     /      longitude H5I_DATASET   FLOAT        9600`

Is there a way adapt this code to work with these files? I'd l

[2018-12-23 21:47] faulaire opened #24404 "ValueError when reading a Dataframe with HDFStore in Python 3 from fixed format written in Python 2"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I run the above code (The first part with a Python 2 environment and the second part with a Python 3, see details below) , I get the following exception:

[code]

This exception is raised only in 'fixed' format, no issues with table format (The DataFrame is read correctly).

#### Expected Output

The expec

[2018-12-24 04:13] eromoe opened #24406 "IndexError: positional indexers are out-of-bounds"
#### Code Sample, a copy-pastable example if possible

[code]

Then I tried  `df1.iloc[df1.index]` , same error

[code]

#### Problem description
test code:

[code]

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Mod

[2018-12-24 04:36] eromoe commented on #24406
Oh, sorry . I think iloc is use to select index  because of  it is named `i`loc    .

[2018-12-24 11:09] aftersought opened #24408 "BUG: Series.dt accessor throws exception after Series.drop when inplace=True"
#### Code Sample, a copy-pastable example

[code]

yields:

[code]

#### Problem description

I don't understand why the code throws an exception and where the error message gets length of 100 when the index has been reset.

#### Expected Output

At least the second `z.dt.date` should not throw.

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bits: 64
OS

[2018-12-24 14:45] kokes commented on #24312
You can attach it here. Or save it via gist.github.com and send us a link.

[2018-12-24 15:05] Koustav-Samaddar commented on #23970
@chris-b1 I just created a PR for this bug fix. https://github.com/pandas-dev/pandas/pull/24411

[2018-12-24 15:33] yoonghm commented on #16620
`pd.read_excel(wb)` could not read `wb`.

[2018-12-24 16:18] Emanolo786 commented on #24312
Here is the script:

Before you run it, you have to create local folders in order to store files created while executing (see the #********************  SETTINGS FOR BigLinux ********************* part), line 82.

Then just run it.

It crashed on both a MacBookPro, MacPro and Linux PC.

The crash happens after a while (8-10 pages parsed).

I remain available for further information if needed.

Emm

[2018-12-24 16:19] Koustav-Samaddar commented on #23970
@chris-b1 Hi! I just created a PR fixing the bug.

Please ignore #24411 since I had some weird rebasing issue that caused a ton of merge conflicts, due to an out of date fork.

[2018-12-24 16:45] TomAugspurger opened #24413 "ExtensionArray/Index/Series.repeat signature"
In https://github.com/pandas-dev/pandas/pull/24395/ @jschendel mentioned that

I agree and I think we should do that.

[2018-12-24 18:18] mroeschke commented on #24408
Happens specifically when `inplace=True`

[code]

[2018-12-24 19:39] mroeschke opened #24415 "BUG: to_datetime(Timestamp) utc argument"
[code]

[2018-12-24 19:49] #23758 closed

[2018-12-24 19:49] #23760 closed

[2018-12-24 19:52] jreback commented on #24415
to be honest I would actually deprecate ``box``; its not very useful externally.

[2018-12-24 19:53] jreback commented on #24413
agree here as well.

[2018-12-24 21:34] mroeschke opened #24416 "DEPR: box argument in to_datetime and to_timedelta"
Following @jreback https://github.com/pandas-dev/pandas/issues/24415#issuecomment-449766969, we should deprecate the `box` argument in `to_datetime` and `to_timedelta` and only return pandas data structures. There already exists options to convert to numpy data structures via `.values` or `to_datetime64`/`to_timedelta64`

[2018-12-24 21:35] angel-csf commented on #24396
d

[2018-12-24 21:41] Emanolo786 commented on #24312
I tried to trace it with faulthandler.

Here are the messages that I get:
Current thread 0x000000010c8d95c0 (most recent call first):
  File "/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py", line 4388 in __setattr__
  File "/anaconda3/lib/python3.7/site-packages/pandas/core/series.py", line 281 in __init__
  File "/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py", line 31

[2018-12-24 23:32] gmatalongthewatchtower opened #24418 "Performance issues with Pandas on compressed dataset"
Hello All,

#### Problem description
This question is about boosting Pandas' performance during stacking and unstacking operation. It seems if I convert `object` type to `category` and downgrade `float64`, then stacking and unstacking take a lot of time. If I don't compress the dataframe, this doesn't happen.

The issue is that I have a large dataframe (~2GB). I followed [this blog](https://www.da

[2018-12-24 23:40] jreback commented on #24418
update the top with copy pastable code

[2018-12-25 00:05] gmatalongthewatchtower commented on #24418
Sure, jreback. Done

[2018-12-25 00:36] jreback commented on #24418
this needs to be a copy pastable example; don’t read a csv; also needs to be as simple as possible - this is doing way to much

[2018-12-25 01:01] WillAyd commented on #24312
I don't see the minimally reproducible example (maybe missed attachment)?

In any case requiring setup items like this is *not* minimally reproducible, so it is very difficult for anyone to help diagnose.

If you can provide an example that is fully self-contained (i.e. can simply be copy / pasted, no extra configuration required, minimal lines of code) to reproduce the issue feel free to reopen

[2018-12-25 01:01] #24312 closed

[2018-12-25 01:13] WillAyd commented on #24403
This is a duplicate of #3942 - investigation and PRs are always welcome

[2018-12-25 01:13] #24403 closed

[2018-12-25 01:19] WillAyd commented on #24418
Yea this example is way too complicated to examine in detail. If you can profile and isolate certain parts of the code where there is an issue feel free to reopen.

With that said, since you are including a categorical in your grouper you probably want `observed=True` to avoid building a Cartesian product

[2018-12-25 01:19] #24418 closed

[2018-12-25 03:36] jschendel commented on #24413
Sounds good.  Worth noting that this is would be identical to the signature for [`numpy.repeat`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.repeat.html), which makes sense to match.  Was a little confused as to why we were using `*args` and `**kwargs`, but went with it since it was the existing convention.  Can get to this in the next couple days.

[2018-12-25 03:42] jschendel commented on #24391
FYI there is a test that's being xfailed due to this issue, so can remove it when someone has a change to look into this:

https://github.com/pandas-dev/pandas/blob/159772d0c9d49977d4b7f871c62c26e06890143a/pandas/tests/indexes/period/test_period.py#L41-L47

[2018-12-25 04:42] WillAyd commented on #24122
IIUC excel only guarantees precision of 15 digits, so this is just a limitation of the tool.

https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3

[2018-12-25 04:42] #24122 closed

[2018-12-25 05:36] anhuaxiang opened #24422 "pd.reaad_sql"
**mysql**
![image](https://user-images.githubusercontent.com/26645743/50413105-b55d4680-0847-11e9-9962-8a109f4fb178.png)

**pandas**
`pd.read_sql('select * from table1, table2', conn)`  or `pd.read_sql('select * from table1, table2 where table1.mid=table2.mid', conn)`

**result**
![image](https://user-images.githubusercontent.com/26645743/50413390-d3c44180-0849-11e9-88a8-589adc5b1152.png)
or
![ima

[2018-12-25 06:18] WillAyd commented on #24422
Hmm not clear on what the issue is. Please refer to the contributing guide for pandas on how to submit bug reports. If you can provide a reproducible example and clarify the issue feel free to reopen.

https://pandas.pydata.org/pandas-docs/stable/contributing.html#bug-reports-and-enhancement-requests

[2018-12-25 06:18] #24422 closed

[2018-12-25 09:34] hnazkani commented on #8953
is this getting fixed ? Currently, df.to_sql is extremely slow and can't be used at all for many practical use cases. Odo project seems to have been abandoned already.
I have following use cases in financial time series where df.to_sql is pretty much not usable:
1) copying historical csv data to postgres database  - can't use df.to_sql and had to go with custom code around psycopg2 copy_from funct

[2018-12-25 10:08] zhaopansong opened #24425 "to_sql to postgres database，error shows bug on insert statement"
#### Code Sample, a copy-pastable example if possible
engine = create_engine('postgresql://xx@xxxxxx:xxxxx/postgres')
re.to_sql('c_s_f_c',con=engine,schema='nlp_share',if_exists='append',index=False)

#### Problem description
The first few lines of error log are：
ProgrammingError: (psycopg2.ProgrammingError) column "FACTOR_CONF_SN" of relation "c_s_f_c" does not exist
LINE 1: INSERT INTO nlp_share

[2018-12-25 10:31] FR4NKESTI3N commented on #24388
I am not able to reproduce this in pandas 0.23.4:
[code]

[2018-12-25 17:59] #20783 closed

[2018-12-25 23:34] #23078 closed

[2018-12-26 02:14] #24408 closed

[2018-12-26 11:12] pkch opened #24432 "Inconsistent keys of GroupBy groups and indices"
[code]

#### Problem description

I believe switching the keys from scalar values to lists just because the argument to `groupby` changes from `['a']` to `['a', 'b']` is inconsisent, and causes unexpected bugs. In general, I think developers would find  it unexpected and confusing that returned value types vary based on the length of list in the input.

Precisely the same situation occurs with `fo

[2018-12-26 12:39] TomAugspurger opened #24433 "Issue warning in slow ExtensionArray base methods"
In the ExtensionArray docstring, we note that

[code]

I think we should also issue a warning in those cases. We would filter the warning by default, so it doesn't appear to users, but would show up when the base tests are being run. Then the EA author can choose to ignore that warning, or implement it more efficiently.

[2018-12-26 12:50] jreback commented on #24433
sounds reasonable to issue a PerformanceWarning but don’t want it to show for end users

[2018-12-26 12:53] TomAugspurger commented on #24433
It'll be a new warning class though. We can't reuse
`pandas.PerformanceWarning` since we'll add a filter for the ExtensionArray
one to hide it by default.

On Wed, Dec 26, 2018 at 6:50 AM Jeff Reback <notifications@github.com>
wrote:

[2018-12-26 12:54] TomAugspurger commented on #24388
Huh I must have been on the wrong branch again. Thanks @FR4NKESTI3N.

[2018-12-26 12:54] #24388 closed

[2018-12-26 14:17] jbaehne commented on #24425
Can you share the table structure of _c_s_f_c_, double quotes around the column names should be okay if you are writing to a postgresql db.

[2018-12-26 14:51] jcontesti commented on #14600
I go on with this one.

[2018-12-26 15:39] ronid commented on #18338
any update?

[2018-12-26 16:46] jreback commented on #24432
treating len-1 list and scalar group-andas the same is a long standing design decision and makes for nicer code. what you are proposing is actually very confusing as now you have to explicity unbox things when iterating, now you can simply

[code]
are pretty common idioms

you are suggesting that the first would be
[code]
which is very odd

[2018-12-26 17:00] TomAugspurger opened #24435 "DataFrame constructor silently ignores `dtype` keyword when values cannot be coerced"
[code]

I propose that we warn that that will raise in the future.

[2018-12-26 17:11] cbertinato commented on #24396
I looked into this and it may not be considered a bug.

In this case, the two operands are a string (or `object` as far as pandas is concerned) and an integer.  Because the former is a string, the mod operation is interpreted as string formatting.  The first attempt at evaluation sets up an operation between two nd-arrays, but probably ends up looping through each and doing something like `mod('fo

[2018-12-26 17:45] datapythonista opened #24436 "DOC: Add offsets methods to the API reference"
The methods of classes in `pandas.tseries.offsets` are not in the API reference. Not sure if there is a reason for it, or it just needs to be implemented.

We have the classes added to:
https://pandas-docs.github.io/pandas-docs-travis/api.html#date-offsets

But most of the attributes and methods are not in `api.rst`, so their pages are not generated. See for example:
https://pandas-docs.github.io/

[2018-12-26 18:02] datapythonista opened #24437 "DOC: Add dateutil to intersphinx"
Looks like we'ree using `dateutil` items in the `See Also` section, for example:
https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.tseries.offsets.DateOffset.html

But, for sphinx to generate the links, we need `dateutil` configured as an intersphinx item in `doc/source/conf.py`.

[2018-12-26 18:03] mroeschke commented on #24436
I'd be good to at least add the methods and attributes for `DateOffset` as the rest of the offsets inherit  from that class; there may be a lot of redundancy if we add the methods and attributes from _all_ the offsets.

[2018-12-26 19:06] datapythonista commented on #24436
I don't think the redundancy is great, but it's probably the best in this case.

If we don't add the attributes/methods for all offset classes, we have two problems:
- Warnings in the docs (we'll make the doc build fail for warnings soon)
- We won't have the links in the pages of the offset classes (e.g. https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.tseries.offsets.MonthEnd.htm

[2018-12-26 19:12] datapythonista opened #24439 "DOC: FutureWarnings when building io.rst"
When we build the docs (i.e. `./doc/make html`), we get some warnings that we shouldn't have (we will soon make the docs fail if warnings are found).

One of this error is caused in `io.rst`, and seem to be happening in `pyarrow`.

We need to research why the warning is happening, and find a solution for it (we may need to contribute the fix to pyarrow and wait for a release).

These are the warni

[2018-12-26 19:17] Iddoyadlin opened #24440 "allow detection of whether a csv file contains a header row or not"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

There are cases where you do not have time to check whether the csv you want to read contains a header row or not (i.e. performing fully automatic analytics on a large amount if files).
I suggest allowing to pass an object which will be responsible for detecting whether a file has a header row or not. the objec

[2018-12-26 19:17] jreback commented on #24439
joris already did a patch for this

[2018-12-26 19:17] jreback commented on #24439
in pyarrow

[2018-12-26 19:19] datapythonista commented on #24439
Great, thanks for the info. Closing then.

[2018-12-26 19:19] #24439 closed

[2018-12-26 19:21] mroeschke commented on #24436
Got it. I would be okay with the redundancy to maintain doc stability and/or avoid any hacky solution with rendering.

Moreover, I think some offsets have special methods of their own that would be difficult to render-control for, so I think the easiest thing is to display all methods and attributes.

[2018-12-26 19:30] jreback commented on #24436
i think we have an open issue about this FYI
yes we should add these (and reference them in time series.rst)

[2018-12-26 19:34] datapythonista commented on #24436
I search for it, but I couldn't find the issue. Let me know if you do, we can close this.

I'll take care of it.

[2018-12-26 20:30] benjaminr commented on #24437
Happy to have a look at this one.

[2018-12-26 20:40] TomAugspurger commented on #24391
The bug seems to be in asfreq

[code]

[2018-12-26 20:42] TomAugspurger commented on #24391
I don't really understand why `_shallow_copy` would be calling asfreq in the first place. Ideally the PeriodArray would have the correct freq.

[2018-12-26 20:44] qinyugwu commented on #17382
It seems to make sense to convert timestamp column to either days or seconds by using the inbuilt functions to get the mean.

[2018-12-26 21:57] mkuklik opened #24444 "Imprecision when converting Period to timestamp"
#### Code Sample, a copy-pastable example if possible

[code]
returns: 2000-12-31 23:59:59.998999999
instead of 2000-12-31 23:59:59.999
It works correctly for other dates, e.g.
[code]
returns correctly "2000-12-31 23:59:59.990000"

#### Problem description
incorrect conversion of Period to Timestamp, see above.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERS

[2018-12-26 22:11] jreback commented on #24444
on master. looks ok to me
[code]

@mkuklik can you explain why you think this should be different

[2018-12-26 22:12] nateyoder opened #24445 "Unstacking float16 with missing levels throws AttributeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
This raises an AttributeError:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-128-17b4d3afc8d0> in <module>()
----> 1 ex.unstack(level=0)

/Users/nate/anaconda2/envs/petinsight/lib/python2.7/s

[2018-12-26 23:10] jreback commented on #24445
float16 has almost no support - PRs to improve this would be welcome

[2018-12-26 23:51] #24415 closed

[2018-12-27 00:06] #24413 closed

[2018-12-27 01:15] datapythonista commented on #24176
@addisonlynch are you still working on this?

[2018-12-27 01:16] datapythonista commented on #24071
@giantpanpan are you still working on this?

[2018-12-27 01:20] datapythonista commented on #23492
I think this has been fixed.

[2018-12-27 01:20] #23492 closed

[2018-12-27 03:17] WillAyd commented on #24440
I am -1 here as I don't think this is ever really something you can guarantee so it would add a large amount of complexity, but let's see what others think

[2018-12-27 08:42] WillAyd commented on #16577
Think this works on master - OK to close?

[2018-12-27 09:56] 1kastner commented on #16785
At #24076 it seems like something has changed.
I will soon re-check whether this issue still exists or whether it can be closed.

[2018-12-27 12:59] TomAugspurger commented on #24391
I think the solution is to not pass freq to `_shallow_copy`.

I don't plan to work on this until DatetimeArray / TimedeltaArray (#24024) are in. I think it'll be easier to fix once those are all consistent.

[2018-12-27 13:05] TomAugspurger commented on #23185
My vote is for getting #24024 in sooner rather than later, but I'm the most familiar with the diff so it's easier for me to go through the entire thing at once. It's blocking several changes I'd like to wrap up, and my time for pandas is limited.

[2018-12-27 14:13] datapythonista opened #24451 "DOC: Split api.rst in sections"
The pandas API reference page is huge. Which makes it difficult for users to find information, and for us to edit.

Given the size of the page, I think it'd make more sense to split the current page `api.rst` into different pages, one per section:
- `api/series.rst`
- `api/functions.rst`
- ...

The document is already divided into sections, I think the current division would make sense with few ch

[2018-12-27 14:33] mzpqnxow commented on #24344
@jreback I am not surprised ... I did not choose this machine by the way :>

[2018-12-27 14:39] mzpqnxow commented on #24344
@chris-b1 	I got a 20% improvement with ccache.. probably all I can do for now, thanks for the suggestion, I hadn't thought of it

[2018-12-27 14:40] mzpqnxow commented on #24344
Closing as this does not seem to be a Pandas issue and even if it was, ppc64le is not supported

[2018-12-27 14:40] #24344 closed

[2018-12-27 15:57] cbertinato commented on #24362
It looks like the issue here is that, initially, the DTIs are not equal nor are their dtypes because of the different timezones, so they both converted to `Index`.

https://github.com/pandas-dev/pandas/blob/08c920eab602dac261b8fe55ffe439593c095e12/pandas/core/indexes/base.py#L2388

This actually starts in the intersection method for DTI, but gets dropped into the `Index` intersection method when i

[2018-12-27 16:46] #24436 closed

[2018-12-27 16:47] #24437 closed

[2018-12-27 18:09] mroeschke commented on #24451
Makes sense to me. One small nit is that I would combine `Date Offsets` with `Frequencies` since they are essentially the same thing and `Frequencies` only has the `to_offset` function under that section.

[2018-12-27 18:14] jselvam11 commented on #24351
Hi, I am interested in contributing to this project. Would it be fine if I could work on this project?

[2018-12-27 18:15] jbrockmendel commented on #23185
AFAICT the sticking points are:

- astype issues discussed mostly in #24405, where options are roughly
  - decide that the implementation in #24024/#24405 is right
  - change #24024/#24405 per @jreback's comments
  - merge as-is and handle @jreback's comments in a follow-up
- constructors and freq-validation
  - DatetimeArray constructor has new dtype validation and accompanying tests which is gre

[2018-12-27 20:19] minggli commented on #24162
Hi @WillAyd 👋 ,

Happy to look at this issue 🐞 and will revert with a PR 🚀 .

Thanks,

Ming

[2018-12-27 20:38] cgangwar11 commented on #24162
`In [16]: data
Out[16]:
   int  float
0    1    2.01    3    4.0

In [17]: axes_dict = data._construct_axes_dict()
['index', 'columns'] None {'index': RangeIndex(start=0, stop=2, step=1), 'columns': Index(['int', 'float'], dtype='object')}

In [18]: result = data._constructor(data.values, **axes_dict).__finalize__(data)

In [19]: result
Out[19]:
   int  float
0  1.0    2.0
1  3.0    4.0`

Underlyi

[2018-12-27 21:01] cgangwar11 commented on #24162
[code]

Underlying problem is constructor method is casting dtype of int column to float.

[2018-12-27 22:51] jreback opened #24455 "CI/DOC: doc build is failing"
This is the latest: https://travis-ci.org/pandas-dev/pandas/jobs/472753353

though seems to have been failing since dec 15th, the last updates: http://pandas-docs.github.io/pandas-docs-travis/

[2018-12-27 22:51] jreback commented on #24455
cc @datapythonista @TomAugspurger

[2018-12-27 23:04] datapythonista commented on #24455
seems like a problem with the git commands, I'll take a look in a minute

[2018-12-27 23:28] esvhd opened #24457 "`.unique()` for datetime columns returns values that fail equality test for `in` statements"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In `pandas 0.23.4`, `.unique()` returns `np.ndarray` with `dtype='datetime64[ns]`, but the values fails equality tests with the original `pd.Series` of the same `dtype`.

#### Expected Output

`[z in ss for z in x]` and `[z in ss.values for z in x]` should have the same output. In this case, all `True`.

#### O

[2018-12-27 23:41] mroeschke commented on #24457
`Series` is dict-like, so the `in` operators compares against the index. You may want to use something like `.isin` instead.

https://pandas.pydata.org/pandas-docs/version/0.23.4/dsintro.html#series-is-dict-like

[code]

[2018-12-27 23:41] #24457 closed

[2018-12-28 02:46] zhaopansong commented on #24425
The table structure is shown by creating statement below. I was inserting only parts of columns.
CREATE TABLE "nlp_share"."c_s_f_c" (
"security_factor_conf_sn" numeric(38),
"parent_sn" numeric(38),
"parent_name" varchar(200) COLLATE "default",
"factor_lvl" numeric(38),
"factor_column" varchar(200) COLLATE "default",
"factor_name" varchar(200) COLLATE "default",
"high" numeric(38,18),
"low" numeric

[2018-12-28 03:09] cheealtair opened #24464 "Period and PeriodIndex for multiple of frequency behave unexpectedly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

My original problem/example is more complicated than the simple example I shown above. In the above example, first get the time now:  atnow=pd.Timestamp.now()
Then, aaa is the 3W (3 week) period based on today.
   aaa = pd.Period(atnow, freq='3W')
Both aaa's   start and end are correct 24Dec2018 and 13Jan2019

[2018-12-28 03:38] #24464 closed

[2018-12-28 04:41] mroeschke commented on #24425
It's not exactly clear to me that this is a pandas issue as your error states that the column in the table doesn't exist?

We would need a minimally, reproducible example to indicate whether this is a bug and to ensure we have a test avoid regressions.

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-12-28 05:10] WillAyd commented on #24432
Agreed with @jreback here I think the current behavior makes sense as is

[2018-12-28 07:52] reidhin opened #24465 "tz info is lost in min/max of single column data frame"
#### Code Sample

[code]

#### Problem description

When trying to find the maximum in a single-column data-frame with tz-aware datetimes, I would expect to get a tz-aware result. The tz info is however lost. I think that is a bug. The tz info should be retained.

When trying to find the maximum through explicitly mentioning the column (i.e. through a Series object), the error does not appear, and

[2018-12-28 10:40] pkch commented on #24432
I completely agree with your argument. But I was hoping it is possible to leave `df.groupby('a')` behavior unchanged, while changing the `df.groupby(['a'])` behavior.

My rationale is that single-element lists would only occur when someone is programmatically passing a list (of presumably unknown length), and in that case the current behavior requires a manual workaround like this:

[code]

[2018-12-28 12:02] sdementen opened #24466 "nonexistent=shift in tz_localize not precise"
#### Problem description

As of today (2018-12-28), I read on http://pandas-docs.github.io/pandas-docs-travis/timeseries.html#nonexistent-times-when-localizing that

This is a great new feature (i.e. having leeway to manage NonExistentTimeError explicitly)!
To be sure I understand the problem of NonExistentTimeError correctly, is it correct to state they appear if an only if the time happens durin

[2018-12-28 12:05] TomAugspurger commented on #24465
This is fixed by #24024.

[2018-12-28 12:16] reidhin commented on #24465
Cool, thanks!

[2018-12-28 14:18] #20535 closed

[2018-12-28 14:46] Koustav-Samaddar commented on #24196
This is the most stripped down case where I am still able to reproduce the bug.
[code]

This yields,
[code]
but,
[code]

Due to the non-numeric type, `self._cython_agg_general` at groupby.py:1256 raises an Error (`DataError` if `numeric_only=True` otherwise `AttributeError`) which causes the program to rely on `self.aggregate` (groupby.py:1262) which is where the bug stems from.

I'll continue to

[2018-12-28 14:59] jreback commented on #24432
closing as an api decision.

[2018-12-28 14:59] #24432 closed

[2018-12-28 17:15] itko opened #24468 "read_csv should default to index_col = 0"
#### Code Sample

[code]
#### Problem description

Currently, the default CSV writing behaviour is to write the index column.  The default reading behaviour, however, is to assume there is no index column in the file. This is not intuitive when writing and reading files.

The expected behaviour is that a file which is written without any index option it should be able to be read without any index

[2018-12-28 17:39] mroeschke commented on #24466
The reason why "snap_backward" behavior was not included was because I didn't think shifting back to `'[time]:59:59.999999999'` would be entirely useful. If it would be, it could be added along with `shift` ("snap_forward")

 'shift_backward' / 'shift_forward' behavior could be added as well. `nonexistent` could take a timedelta-like object and the nonexistent times could be shifted by that differ

[2018-12-28 17:40] mail2saiky commented on #24440
if i understand the issue correctly, some csv files may not contain header row but most of the csv files will contain header row. Why not there be a function that reads all the header rows(user specified) in all the csv files irrespective of whether it contains it or not, and then finally use the mostly occurring row.

final_header = MostOf (list_of_all_header_rows)

[2018-12-28 18:19] kevinsa5 opened #24469 "groupby/resample of boolean series can result in bool or float dtype depending on values"
[code]

When performing groupby or resample summations on a boolean series, the output dtype will be `bool` if all of the sums are `0` or `1`, and `float` if any of the sums is greater than `1`.  I expected the dtype of the output series to be dependent only on the dtype of the input series, not the values of the input series.

[2018-12-28 18:33] chris-b1 commented on #24468
At this point, both of those defaults are unlikely to be changed.

`pd.DataFrame.from_csv` exists for easier round-tripping, though deprecated, see e.g. #10163

Because it is schema-less, csv is never a particularly safe format for round-tripping, consider using something binary like parquet of HDF5 instead

[2018-12-28 18:38] chris-b1 commented on #24469
Duplicate of #7001 - PR to fix would be welcome.  I'm guessing we try to cast back to the original dtype after the sum - so if there are only 1s and 0s, it casts, otherwise doesn't - agree it should always be numeric.

[2018-12-28 18:38] #24469 closed

[2018-12-28 19:03] #24162 closed

[2018-12-28 20:18] seanlseymour commented on #18828
After wasting the last three hours because of this 'disconnect', I agree strongly that the documentation needs to be modified here. I read it at least 10x, and it was not clear that the index type was being modified. As m3h0w points out, it's not clear from the output example that this is happening, and frankly, I don't think most people will want to do this! I just wanted to change column header

[2018-12-28 20:34] reidy-p opened #24471 "ENH: Add sort parameter to other set operations if possible"
As part of #22811 I added a ``sort`` parameter to the ``difference`` set operation with a default of ``True``. The other set operations do not have this parameter but some of them sort by default if possible. Should we add a ``sort`` parameter to the other set operations too if possible for consistency?

TODO:
- [x] 0.24.0 DateTimeIndex: union() got an unexpected keyword argument 'sort' #24994
- [

[2018-12-28 21:03] #8953 closed

[2018-12-28 21:43] jreback commented on #24471
yes sort=True (default for compat) should be added to all set operations

[2018-12-28 21:44] WillAyd opened #24472 "TST: Split test_excel into sub test files"
Logical follow up to https://github.com/pandas-dev/pandas/pull/24423/files#r244284618

cc @gfyoung

[2018-12-28 21:55] Jakob-S opened #24473 "import pandas as pd leads to UnicodeDecodeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When I try to debug my GUI, the following message is shown in stacktrace:
[code]
When I import it in python console, no error message is printed, but only If i import it while not using other libraries. It seems, that some of the mentioned libs crash pandas and indirectly also folium.

This is, what folium prin

[2018-12-28 22:04] WillAyd commented on #24473
Not familiar with all of the libraries you've identified but at the very least the bottom of the last traceback is strange to see as `pandas.plotting` was deprecated quite some time ago, though your installation says you are using 0.23.4

I am going to guess that something is awry with your package installation. See if rebuilding your environment doesn't fix it

[2018-12-28 22:14] TomAugspurger commented on #24473
This was probably fixed by https://github.com/pandas-dev/pandas/pull/24113 if you want to try master.

[2018-12-28 22:14] #24473 closed

[2018-12-28 22:17] ludaavics opened #24474 "Wrong "Too many indexers" when value in series with MultiIndex is None"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Similar to #14885 but, in our case, the key is indeed present in the Multi Index (but the associated value is `None`).
Credit for the [workaround](https://github.com/pandas-dev/pandas/issues/14885#issuecomment-281373843) goes to @bluenote10

#### Expected Output
Nothing (i.e. `None` object)
#### Output of ``pd.

[2018-12-28 22:58] #22860 closed

[2018-12-28 23:35] #20911 closed

[2018-12-29 01:40] lrq3000 commented on #3729
Just like @stefanw, got bitten by this issue when working with a groupby on multiple columns, one including a datetime type that can be missing. I expected then to have the grouped key to have a missing datetime, but not to be missing entirely! The workaround of using a placeholder value is not obvious to implement with datetime type (what date should I use that I can be certain won't be in the da

[2018-12-29 02:11] #23928 closed

[2018-12-29 06:30] RjLi13 opened #24479 "TST: Test_parquet failing"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description

Building the development environment of pandas from latest master source, and then running the pytest suite on a fresh install with no changes, leads to `test_cross_engine_pa_fp` test in test_parquet.py, which is expected to fail, passing. This could be due to the fact that either Python 3.7 or OS X 10

[2018-12-29 09:53] simonjayhawkins commented on #22887
xref #11060

[2018-12-29 16:08] datapythonista commented on #23821
Finally moved to travis in #24449 and rebalanced the number of jobs later in #24460.

[2018-12-29 16:08] #23821 closed

[2018-12-29 17:03] #24325 closed

[2018-12-29 17:26] jbrockmendel opened #24485 "TST: psycopg2 errors when running tests locally"
I just started noticing these (167 of them) in the logs from `python -m pytest pandas/tests --skip-slow`

[code]

[2018-12-29 19:58] TomAugspurger commented on #24485
Skipping should probably be the default, right @datapythonista?

[2018-12-29 20:19] datapythonista commented on #24485
I thought about it, but as `pymysql` and `psycopg` are not in `environment.yml`, I didn't see a difference, as the tests should be skipped anyway.

Happy to change it, I don't have a preference.

[2018-12-29 20:31] TomAugspurger commented on #24485
I'd prefer skipping but default (but failing if the db tests are requested
and don't get setup correctly). I know that I have pyscopg2 installed in my
dev env, but don't have the expected databases setup right now.

On Sat, Dec 29, 2018 at 2:19 PM Marc Garcia <notifications@github.com>
wrote:

[2018-12-29 20:33] datapythonista commented on #24485
ok, will open a PR

[2018-12-29 20:35] WillAyd opened #24487 "Read_excel signature cleanup"
Follow up to #24423 and related to #11544 the signatures of functions for parsing excel have slight nuances to them and allow for the passing of keyword args, which may not necessarily be useful.

There's some cleanup here which could be done to align signatures and (maybe) remove keyword arguments

[2018-12-29 23:35] datapythonista commented on #24178
Closed by #24363

[2018-12-29 23:35] #24178 closed

[2018-12-30 03:05] keoughkath commented on #14601
@burcakotlu, it might be due to the HDFStore already existing, therefore the min size for that column is set. I fixed this error in my case by deleting the existing HDFStore and recreating it, ensuring the the min_itemsize parameter was set from the beginning. Hope this helps!

[2018-12-30 05:04] gfyoung commented on #24474
I might consider adding this example to the existing issue, given how similar they are.

What do you think?

cc @jreback

[2018-12-30 05:06] gfyoung commented on #24468
Agreed.  Though might entertain this option more in a super-breaking release like `1.0`.

[2018-12-30 05:11] gfyoung commented on #24440
I'm not sure I fully understand this?

In terms of the broader discussion, I am indeed wary of adding more parameters to the `read_csv` function given how bloated it is.  In reality, we should be trying to condense it! 🙂

Also, as was mentioned earlier, the way it would interact with the myriad other parameters we have makes the potential maintenance issue of this parameter somewhat daunting to me

[2018-12-30 05:14] gfyoung commented on #24444
I wonder if this is symptomatic of an intrinsic Python rounding issue?

[2018-12-30 05:17] gfyoung commented on #24404
cc @jreback

[2018-12-30 05:41] RjLi13 commented on #22881
Hey, can I contribute to help fix this issue if no one else has yet?

[2018-12-30 08:02] tr-ips-bahubali commented on #20752
Yup, the description should specify that it gives fractional output instead of the expected percentage change output.

[2018-12-30 14:09] matanster commented on #12144
Still works :-)

[2018-12-30 16:39] datapythonista opened #24498 "CI: Simplify and unify environment creation"
When creating a pandas environment for the CI, we currently have two separate systems, one for Travis and one for Azure. Summarizing, those are the involved steps.

**travis**
[code]

**azure**
[code]

Except for the cython cache, I think all the rest could be unified in a single file `ci/setup_env.sh` that performs all the steps.

This would simplify and avoid duplicate code and inconsistencies.

[2018-12-30 16:54] #24479 closed

[2018-12-30 17:10] datapythonista opened #24499 "DOC: Reorganization of the documentation"
The documentation currently has almost all the pages in the same level. Making it difficult to navigate.

Having few top-level sections that group the pages, and some hierarchy would make things simpler to find. Here there is a prototype of how having few top-level sections could look like: https://pandas-dev.github.io/pandas-sphinx-theme/pr-datapythonista_base/

Those are the pages we currently h