[2018-12-30 18:34] ludaavics commented on #24474
@jreback I understand your comment on dataframes, but not on series. There isn't really any ambiguity about which column we want?
Also -- wouldn't we expect `s.loc[('a', 'c'), :]` (or whatever other appropriate syntax) to return just `None`?

[2018-12-30 18:43] #23070 closed

[2018-12-30 19:00] mkuklik commented on #24444
How is it fine if 2000-12-31 23:59:59.998999999 != 2000-12-31 23:59:59.999

this conversion should be consistent across all the values without having
to round up in some cases.

On Sun, Dec 30, 2018 at 1:26 PM Jeff Reback <notifications@github.com>
wrote:

[2018-12-30 19:34] mroeschke commented on #24499
+1 on top level section for the different pages.

For reference, here's scikit-learn's documentation structure which I think is very concise and similar to what you're proposing https://scikit-learn.org/stable/documentation.html

[2018-12-30 21:03] thoo opened #24505 "Cannot build documents"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: c4ac0d68b2418e261f2fd8f3a9f8eca0d5e20474
python: 3.6.6.final.0
python-bits: 64
OS: Darwin
OS-release: 18.0.0
machine: x86_64
processor: i386
by

[2018-12-30 21:41] alimcmaster1 commented on #24505
Should be able to close ##24506 addresses this

[2018-12-30 21:54] #24485 closed

[2018-12-30 21:55] tddpirate commented on #23638
I installed pandas from Anaconda3-2018.12-Linux-x86_64.sh
[code]
yielded the following output in a Jupyter notebook:
[code]
The output of pd.show_versions() is as follows:
[code]

[2018-12-30 22:09] #24505 closed

[2018-12-30 22:26] datapythonista opened #24507 "DOC: Missing PandasArray methods in API"
We've got warning in sphinx because we don't have the `PandasArray` methods in the API:
[code]

I guess those are public and should be added. But I'm not quite sure where we should have them, we have some related stuff in two different places:

- https://pandas-docs.github.io/pandas-docs-travis/api/series.html#arrays
- https://pandas-docs.github.io/pandas-docs-travis/api/extensions.html

Not sure

[2018-12-30 22:40] #18146 closed

[2018-12-30 22:45] #23138 closed

[2018-12-30 22:47] #23236 closed

[2018-12-30 23:51] piotrjurkiewicz commented on #14672
Any progress on this?

[2018-12-30 23:55] jreback commented on #14672
@piotrjurkiewicz pandas is community supported; you are welcome to submit a patch

[2018-12-31 00:01] faulaire commented on #24404
This pull request partially solve the issue, the DataFrame is now readable but the name of the index is encoded as 'bytes_' ( just like in previous versions of pandas).

[2018-12-31 00:19] datapythonista commented on #16529
Is the list of the methods I defined as non-controversial, non-controversial enough so we can deprecate them already (they are listed in the description)?

I assume the rest need some more discussion?

[2018-12-31 01:41] jbrockmendel commented on #24485
So I'm now getting 242 errors, at runtime, most/all of which appear to be in pandas/tests/io/test_sql.py.  The error message I'm seeing is weird:

[code]

Any chance this is related to #24492?

[2018-12-31 02:26] san089 opened #24511 "Unable to read first n rows from parquet file."
[code]
#### Problem description

I have a parquet file and I want to read first n rows from the file into a pandas data frame. I did not find any way to do this in the documentation. I tried the 'nrows' and 'skiprows' parameter, but it did not work with the read_parquet() method. Do let me know if there is any way to achieve it that is not mentioned in the documentation.

Alternatively, I can read

[2018-12-31 11:21] datapythonista commented on #24485
Sorry. Yes, just realized now. I tested it with different values for the `-m` parameter, but didn't test when `-m` is not provided (and the CI also has it).

Will open a PR soon.

[2018-12-31 12:01] datapythonista commented on #24485
Opened #24513

[2018-12-31 12:55] TomAugspurger commented on #24511
Does pyarrow or fastparquet allow reading a subset of the file?

[2018-12-31 12:59] TomAugspurger opened #24514 "DatetimelikeArray._reduce signature doesn't match base class"
We have

[code]

the base class has

[code]

Any reason to include axis=0 there?

[2018-12-31 12:59] TomAugspurger commented on #24514
cc @jbrockmendel

[2018-12-31 13:01] TomAugspurger commented on #24514
Can we also remove `*args` and `**kwargs` from min / max?  We should be able to do `min(self, axis=None, out=None, keepdims=None, initial=None)` and everything will be validated

[2018-12-31 13:03] jreback commented on #24514
we use *args and **kwargs and everything is validate now

changing this would involve changing virtually every user api in pandas - so no go here

[2018-12-31 13:04] TomAugspurger commented on #24514
It's just for DatetimeArray, not every user API.

[2018-12-31 13:05] jreback commented on #24514
inconsistent means special cases and that’s -1

[2018-12-31 13:05] TomAugspurger commented on #24514
What's the reason for *args, **kwargs in the first place?

[2018-12-31 13:16] #20601 closed

[2018-12-31 13:17] #22328 closed

[2018-12-31 13:17] #21925 closed

[2018-12-31 13:19] #22383 closed

[2018-12-31 13:21] #20726 closed

[2018-12-31 13:52] jreback commented on #24514
to allow np.min(..)

and avoiding having to specify all of the optional kwargs as that pollutes the signature too much

[2018-12-31 14:53] #15119 closed

[2018-12-31 17:44] reidy-p commented on #24471
Related issues: #1783, #17010, #17378, #17376, #22466

[2018-12-31 19:11] mroeschke opened #24518 "DEPR: deprecate pandas/io/date_converters.py"
This file contains one function that is used elsewhere in the code base (that can be moved), and the rest is unused and not advertised in the api.

Raising this issue to gauge whether we should outright remove it or deprecate this file since its technically public in `io`

[2018-12-31 19:58] TomAugspurger commented on #24511
Perhaps raise issues upstream to see if there's interest in support this
feature. Once the engines support it we'll be able to add a keyword.

On Mon, Dec 31, 2018 at 12:24 PM san089 <notifications@github.com> wrote:

[2019-01-01 00:02] jreback opened #24525 "DOC: warnings from doc-strings for deprecated functions"
various warnings we should fix by fixing the doc-strings (e.g. for clip_upper change to using clip in the examples

[code]

[2019-01-01 00:02] jreback commented on #24525
cc @datapythonista

[2019-01-01 00:08] jreback opened #24526 "DOC: code_checks patterns does not ignore .c files"
should ignore .c files that are generated from .pyx (which are most)

get a bunch of errors like this

[code]

[2019-01-01 01:12] #24404 closed

[2019-01-01 02:05] saurav2608 commented on #24498
@datapythonista - Can I take a shot at this?

[2019-01-01 02:45] dylanchase commented on #23630
Hi, can I take a stab at fixing the remaining errors?

[2019-01-01 04:51] sajaddarabi commented on #15937
Are there any solutions to this?

[2019-01-01 06:59] datapythonista commented on #24498
sure, go ahead

[2019-01-01 07:00] datapythonista commented on #23630
sure, go ahead

[2019-01-01 07:11] saurav2608 commented on #24526
@jreback - I will give this a shot.

[2019-01-01 08:01] datapythonista commented on #24525
All those are recent. I think besides fixing them we also need to change the validation script to add which is the docstring causing the warning, and to exit the script with return code != 0 when warnings are found.

Will create a separate issue.

[2019-01-01 09:11] saurav2608 commented on #24526
@jreback - this error is generated from a section that `Check that no file in the repo contains tailing whitespaces` . Adding a exclusion for c (and cpp) files will  prevent this errors for all c/cpp files in the repo and not just those generated from .pyx files. However,  c/cpp files inside `pandas/_libs`  are linted in another test. So, I believe adding exception should be okay.

[2019-01-01 16:17] #21322 closed

[2019-01-01 16:34] jreback commented on #24518
yeah let's do it. I also think you can just remove the ``generic_parser`` branch entirely (meaning just fully deprecate this), I think ``to_datetime`` handles all of these cases

[2019-01-01 16:35] #22579 closed

[2019-01-01 16:35] #22747 closed

[2019-01-01 16:35] jreback commented on #24511
closing as out of scope; we would need the engines to do this. Note that you might be able to simply filter by row groups.

[2019-01-01 16:35] #24511 closed

[2019-01-01 16:38] jreback commented on #24390
this is just scope creep in pandas, closing.

[2019-01-01 16:38] #24390 closed

[2019-01-01 17:08] jreback opened #24528 "CI: db option is skipping lots of tests"
https://travis-ci.org/pandas-dev/pandas/jobs/474120016

there are NO tests running! @datapythonista

[2019-01-01 17:09] jreback commented on #24528
let's revert all of this db bizness. this is causing too many issues. @datapythonista ASAP pls.

[2019-01-01 17:12] alimcmaster1 commented on #23334
Still a few files to be worked on here if anyone is interested. Full list in [setup.cfg](https://github.com/pandas-dev/pandas/blob/master/setup.cfg), post on here if anyone is interested.

[2019-01-01 17:30] jreback commented on #3268
this is mostly done. should open specific issues for non compliance here.

[2019-01-01 17:30] #3268 closed

[2019-01-01 17:39] jreback commented on #23927
no issue for 0.24.0, just saw the warnings and led me here :>

[2019-01-01 18:31] 1kastner commented on #24076
The changes have not affected #16785 - I just hoped we could have been lucky ;-)

[2019-01-01 18:48] jbrockmendel opened #24535 "docstring templates not being filled"
[code]

I'm pretty sure that the `%(klass)s` is supposed to be `DatetimeIndex`.

[2019-01-01 19:44] jbrockmendel opened #24537 "Float conversion makes fillna lossy"
For int64 data near the int64 implementation bounds, `astype('float64')` or `ensure_float64` is lossy.  The motivating case is `PeriodArray.fillna`

[code]

[2019-01-01 20:06] #24528 closed

[2019-01-01 20:15] datapythonista commented on #24498
Afaik, `setup.py develop` installs the package locally (compiling and with dependencies), `setup.py build_ext` is just the compiling part.

Not sure about the reasoning here, may be things changed in the setuptools/pip since this was first set up. I think `setup.py develop` is not used much nowadays. When not using conda, `pip install -e .` is usually the preferred way, as `pip` is smarter than `s

[2019-01-01 20:44] jreback commented on #24537
[code]
Series goes thru the correct path, wonder what its dispatching too

[2019-01-01 20:58] jbrockmendel commented on #24537
(Internet is down, typing with thumbs for a while)

I’ve poked at this a bit for interpolate; if the int64 vals fall inside int32 bounds then we are OK.  Otherwise need to cast to float128 to be assured lossless.

[2019-01-01 21:02] TomAugspurger opened #24539 "sequence_to_dt64ns doesn't handle non-ndarray sequences with a dtype"
For example an `xarray.DataArray`.

[code]

A user would hit this via `DatetimeIndex(arr)`

[2019-01-01 21:04] jreback commented on #15556
just saw this: https://ofosos.org/2018/12/28/landing-page-template/

[2019-01-01 21:55] datapythonista commented on #15556
thanks, that's the same approach I'm already using in https://pandas-dev.github.io/pandas-sphinx-theme/pr-datapythonista_base/

[2019-01-02 01:15] #19861 closed

[2019-01-02 01:37] dylanchase commented on #23630
In some cases I am seeing this in the code.

[code]
Any guidance on what to do in these cases?

[2019-01-02 02:41] saurav2608 commented on #24177
There are no issues created for one and two above. I can create those and if reasonable effort finish them off.

[2019-01-02 02:57] #23228 closed

[2019-01-02 03:16] jreback opened #24542 "ENH: read_csv dtype with datetime w/tz & integrations with category"
xref #23228

Datetime w/tz
--------------
I think this should work
[code]

Categoricals
-------------
should be unified with our current work-around for 'category'.
[code]

[code]

[2019-01-02 03:16] jreback commented on #24542
cc @kprestel

[2019-01-02 07:46] zhuoqiang commented on #12513
Pandas also failed to `view()` with tz dtype:

[code]

will generate `TypeError: data type not understood`

[code]

[2019-01-02 09:01] gfyoung commented on #24535
@jbrockmendel : Perhaps it should just be `Index` ?

[code]

Outputs:

[code]

[2019-01-02 10:03] simonjayhawkins opened #24546 "(row) Index Name is not displayed with header=False master tracker"
xref https://github.com/pandas-dev/pandas/issues/23788#issuecomment-440588818

- [ ] to_html #23788
- [ ] to_csv

etc.

[2019-01-02 12:43] #20585 closed

[2019-01-02 13:00] samgd opened #24548 "read_sas catches own error"
#### Code Sample, a copy-pastable example if possible

[code]

Output (`/tmp/foo` does not have to exist):

[code]

#### Problem description

When `format=None` the function attempts to infer the file's format by naively looking at the extension. If it is neither `'.xpt'` nor `'.sas7bdat'` then an error is raised. However, this logic is wrapped in a try/except block that catches the raised error a

[2019-01-02 13:45] jorisvandenbossche commented on #24451
So there are two issues:

* The main page `/api.html` no longer exists, as it is now `/api/index.html` (on stable docs: http://pandas.pydata.org/pandas-docs/stable/api.html, check http://pandas-docs.github.io/pandas-docs-travis/api.html vs http://pandas-docs.github.io/pandas-docs-travis/api/index.html)
  * I am wondering if there is no way for sphinx to keep `api.html` working if `/api/` is a dire

[2019-01-02 14:18] #23788 closed

[2019-01-02 15:46] benjaminr commented on #24548
I see what you mean. Could quickly be resolved by swapping pass to raise and Updating the docstring. I'll add a PR for these changes.

[2019-01-02 16:09] TomAugspurger opened #24555 "Bad freq invalidation in DatetimeIndex.where"
What's the expected output here?

[code]

The returned DatetimeIndex doesn't pass freq validation.

[code]

Should the freq be None?

[2019-01-02 16:11] samgd commented on #24548
Is the try/except clause even required?`filepath_or_buffer` is a string given the above cause so both `lower()` and `endswith` should be error free.

[2019-01-02 16:13] samgd commented on #24548
If the `try` statement is there to catch something in the logic I've missed then changing it to:

[code]

is odd as this is essentially a noop?

[2019-01-02 16:13] TomAugspurger commented on #24555
Another one.

[code]

though, perhaps there's a bug in the freq validation around DST boundaries?

[2019-01-02 16:24] TomAugspurger commented on #24555
One more. In this case we seem to generate an array from `bdate_range` that doesn't have a valid freq (not sure if the bug is in the generation or the freq validation, probably the validation).

[code]

`a` validates fine, but `b` doesn't

[code]

In the freq validation for `b` we generate an `on_freq` with the wrong(?) number of periods

[code]

[2019-01-02 16:30] benjaminr commented on #24548
@samgd yeah you're right. Will update to reflect that.

[2019-01-02 16:40] TomAugspurger commented on #24555
Do we have a policy on when an operation that might invalidate a freq should infer vs. just set it to None? For example, in `DatetimeIndex.where` we could either do `_shallow_copy(freq=None)` or `_shallow_copy_with_infer`.

[2019-01-02 16:47] h-vetinari commented on #24046
@jreback Any comments here or in #22225?

[2019-01-02 16:56] jreback opened #24558 "DEPR: .select_dtypes accepts non-standard dtype references"
xref #24541

DataFrame.select_dtypes() accepts strings including:

- ``datetimetz``
- ``datetime64tz``
- ``period`` (this is currently not-implemented).

These are non-standard names of dtypes, but not specific enough to the and should deprecated. An argument can be made that we should accept ``period`` to mean ``period[*]`` and ``datetime64[*, *]`` or something like this to select all sub-dtypes,

[2019-01-02 16:56] jreback commented on #24558
cc @jbrockmendel @TomAugspurger

[2019-01-02 17:04] TomAugspurger commented on #24558
I'd support a way to select all the dtypes of parametrized dtype like datetimetz or period, much like we do for numeric. But what are you suggesting we deprecate?

[2019-01-02 17:06] jreback commented on #24558
the string ``datetime64tz`` and ``datetimetz`` are just made up things I think we need a format more specific (with a string), e.g. ``datetime64[ns, *]`` is more informative and compatible with what we have now.

[2019-01-02 17:14] TomAugspurger opened #24559 "Changes to i8data for DatetimeIndex"
Master currently has an (undocumented) (maybe-) API-breaking change from 0.23.4 when passed integer values

0.23.4

[code]

Master

[code]

---

Attempt to explain the behavior: In 0.23.4, passing an `ndarray[i8]` was equivalent to passing `data.view("M8[ns]")`

[code]

On master, integer values are treated as unix timestamps, while M8[ns] values are treated as wall-times in the given timezone.

[

[2019-01-02 17:19] TomAugspurger commented on #24558
I see, thanks.

So taking `select_dtypes(np.number)` as example. You pass the class
`np.number` to select every numeric-dtype column.

Could users pass `select_dtypes(pd.PeriodDtype)` (the class) to select
every period-type column? And possibly a string alias like `'period'`.

On Wed, Jan 2, 2019 at 11:06 AM Jeff Reback <notifications@github.com>
wrote:

[2019-01-02 17:22] TomAugspurger commented on #24559
@jbrockmendel could you fill in the "Reason for the change" section? IIUC, it was to simplify `DatetimeIndex._simple_new`?

[2019-01-02 18:03] TomAugspurger opened #24562 "Refactor DatetimeArray._generate_range"
Currently, DatetimeArray._generate_range calls DatetimeArray._simple_new 4 times, 3 times with i8 values and ones with M8[ns] values.

<details>

[code]

</details>

[code]

---

I'm not familiar with this code, but I would naively hope for a function that

1. Extracts there correct freq / tz from all the arguments (start, end, etc.)
2. Generates the correct i8 values for start, end, tz
3. Wraps t

[2019-01-02 18:12] mwoss commented on #23334
@alimcmaster1
Hi. I will work on:

- pandas/tests/dtypes/
- pandas/tests/arithmetic/
- pandas/tests/plotting/

[2019-01-02 18:12] TomAugspurger commented on #24555
I think that a fix for these issues (invalidating in places where needed, maybe fixing some bugs in the current freq validation) and a fix for https://github.com/pandas-dev/pandas/issues/24562 will open up freq validation in `DatetimeArray.__init__`

[2019-01-02 18:20] #23185 closed

[2019-01-02 18:20] #23932 closed

[2019-01-02 18:20] #24465 closed

[2019-01-02 18:31] mroeschke commented on #24559
Possibly related, I worked on this topic in https://github.com/pandas-dev/pandas/pull/21216. Rational was that `DatetimeIndex(ints, tz=tz)` should behave similarly as `Timestamp(int, tz=tz)`, and ints cannot necessarily represent wall times.

I have an open issue https://github.com/pandas-dev/pandas/issues/20257 to document passing integers into `Timestamp` which, similarly to `DatetimeIndex`, wil

[2019-01-02 18:36] jbrockmendel commented on #24559
@mroeschke thanks. IIRC consistency with to_datetime was also a consideration

[2019-01-02 18:36] kprestel commented on #24542
I can take a look at this.

[2019-01-02 18:55] h-vetinari opened #24564 "BLD/CI: conda cannot resolve two azure environments"
Noticed this in two PRs, also on the two latest commits on master:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6360
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6368
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6366
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6363

@jreback @TomAugspurger @datapythonista

Error log:
<detail

[2019-01-02 18:56] simonjayhawkins commented on #23334
@alimcmaster1  i think there could be an issue isorting asv_bench/benchmarks/, xref #22947

[2019-01-02 18:59] TomAugspurger opened #24565 "Remove DatetimeIndexOpsMixin._eadata"
Should be able to use `._data` now.

[2019-01-02 19:04] TomAugspurger commented on #24564
Both https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6360 and https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6359 use conda 4.5.11. So possibly something with the repodata.

[2019-01-02 19:24] jreback commented on #24564
cc @datapythonista

[2019-01-02 19:30] TomAugspurger opened #24567 "DatetimeArray constructors"
The constructor(s) for DatetimeArray are a bit messy right now, so let's step back a bit to lay out what we want out of them.

What do we want out of our init? I'd like the following constraints:

1. `data` is never copied unless explicitly requested with `copy=True`.  The values in `data` are never coerced. This means no lists (copy), and no ndarrays of values that can be coerced to datetime64[ns

[2019-01-02 19:35] TomAugspurger commented on #24433
I may not get to this for 0.24.

https://github.com/pandas-dev/pandas/compare/master...TomAugspurger:astype-warning?expand=1 is basically done, but it exposed some troubles with our current approach to parametrizing tests. Basically, if a parametrized test was defined directly on a fixture, I had to duplicate the parametrization in the subclass, which is no good.

That branch has started moving th

[2019-01-02 19:46] TomAugspurger opened #24568 "Add datetime, datetimetz, and timedelta inference to pd.array"
working on this now.

[2019-01-02 19:54] TomAugspurger opened #24569 "DatetimeArray._from_sequence with mixture of tz-naive and tz-aware data."
This should probably raise

[code]

For reference, a mix of different timezones does raise

[code]

[2019-01-02 19:58] jreback commented on #24569
I @jbrockmendel already noted this, its in ``to_datetime``, but really because these hit different paths in array_to_datetime

[code]

[2019-01-02 19:58] xwang777 opened #24570 "MultiIndex.__contains__ try-catch exception types too narrow"
#### Code Sample
[code]
#### Problem description

sklearn tries to handle numpy array-like args, including pd.Series and pd.DataFrame. In trying to validate the argument, sklearn calls hasattr(ys, 'fit'), which calls into the _can_hold_identifiers_and_holds_name function of the MultiIndex object. In line 2111 of pandas/core/indexes/base.py, it tries to check whether 'fit' is in the MultiIndex, whi

[2019-01-02 20:34] jorisvandenbossche commented on #24565
Do we still want to keep both `_values` and `_data` ?

[2019-01-02 20:36] TomAugspurger commented on #24565
We have `._values` for sharing code between Series and Index.

That could maybe be transitioned to using `.array`, though I'm not sure.

[2019-01-02 20:43] jorisvandenbossche commented on #24559
`to_datetime` has no `tz` keyword, only `utc=True`, but for UTC wall time or unix epochs are the same?

[2019-01-02 20:44] TomAugspurger commented on #23569
Picking this up now. I'm it's an annoyingly large diff to get things through.

I'm going with @jorisvandenbossche's suggestion to

1. Make `DTA.__array__` have the future behavior now (tz-aware -> object-dtype ndarray)
2. Implement the deprecation in `DatetimeIndex.__array__` and `Series.__array__`.

This proved to be much easier that doing the deprecation that `DatetimeArray.__array__`, and modif

[2019-01-02 20:49] TomAugspurger commented on #24564
I think this is on the anaconda side. They're working on it.

[2019-01-02 20:50] TomAugspurger commented on #24564
https://github.com/conda/conda/issues/8051

[2019-01-02 20:52] jorisvandenbossche commented on #24559
The `Timestamp` / `DatetimeIndex` consistency is a good reason to change one of both (since they are inconsistent in 0.23.4).
And I think the unix epoch way makes sense for integer input. Although I think it can also be confusing that `DatetimeIndex(int_array, ..)` and `DatetimeIndex(int_array.view('M8[ns]), ..)` give different results.

Regarding"was this documented": it might not have been docum

[2019-01-02 21:06] jreback commented on #24564
shall we fix conda version?

[2019-01-02 21:18] alimcmaster1 commented on #23334
Thanks @mwoss and @thoo.

I will complete all the leftover files that havn't been mentioned above.

@simonjayhawkins we should just be able to force that import to the end using isort.

[2019-01-02 22:01] jbrockmendel commented on #24569
Yah, #24006 would handle these correctly, needs to come off the back-burner.

IIRC there was a "M8ns/i8 are treated inconsistently" issue in there too.

[2019-01-02 22:13] TomAugspurger commented on #16529
Sorry, haven't had a chance to look. Dumping some thoughts below.

---

IMO, inplace is currently overloaded for two uses: shorter code
from not having to repeat the names of identifiers, and (possibly) avoiding
a data copy.

1. **Avoid typing the name of the identifier twice**. We write

[code]

versus

[code]

In this case, inplace serves a role similar to inplace operators on
mutable objects (e

[2019-01-02 22:16] TomAugspurger commented on #24507
I might support moving all the extension arrays to a single page, but I
haven't looked closely at what we have right now.

We could include PandasArray on that page.

On Sun, Dec 30, 2018 at 4:26 PM Marc Garcia <notifications@github.com>
wrote:

[2019-01-02 22:18] jreback commented on #24570
can you provide an example that doesn't use an external package

[2019-01-02 22:20] TomAugspurger commented on #24564
This has been fixed upstream. I restarted https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6377 and it seems to be running OK.

Ping if you want a build restarted. @h-vetinari I did https://github.com/pandas-dev/pandas/pull/23723

[2019-01-02 22:21] #24564 closed

[2019-01-02 22:38] h-vetinari commented on #24564
@TomAugspurger
Thanks! Could you restart #24560 as well please?

[2019-01-02 22:54] karldw opened #24574 "Masked arrays with hard masks don't read as missing"
#### Code Sample, a copy-pastable example if possible

[code]

Normal masked array:

| | 0 |
|:---|---:|
|0 | **NaN**|
|1 |2.0|

Hard masked array:

| | 0 |
|:---|---:|
|0 | **1.0**|
|1 |2.0|

#### Problem description

I expected the output for a "hard" masked array to be the same as a regular masked array – I thought both would give NaN for the masked value. If the two cases behaved the same, it

[2019-01-02 22:57] jreback commented on #24574
we have minimal support for masked array conversions

welcome to have a PR to fix / test though

[2019-01-02 23:08] simonjayhawkins commented on #24564
@TomAugspurger  #24563 and #24557 Thanks.

[2019-01-03 00:40] #11060 closed

[2019-01-03 00:40] #22887 closed

[2019-01-03 00:41] #24568 closed

[2019-01-03 00:44] #24548 closed

[2019-01-03 00:44] jbrockmendel opened #24576 "REF: use _unbox_scalar to de-duplicate TDA/DTA/PA comparison methods"
DatetimeArray and TimedeltaArray comparison methods share a lot of code, might be possible to de-duplicate a lot of it by using the new unbox_scalar method:

From DTA:
[code]

From TDA:
[code]

Note that `_to_m8` means something different in these two files.

The _unbox_scalar methods might not be quite the right fit, but the idea behind them is really similar to `_is_convertible_to_td` and the tr

[2019-01-03 00:45] #23733 closed

[2019-01-03 02:04] dongzhi0312 commented on #21834
@mbkupfer ,how did you solve this problem?

[2019-01-03 02:45] dongzhi0312 commented on #21834
Should just need to upgrade from 0.9.0,xlrd version > 0.9.0. Thanks @WillAyd

[2019-01-03 03:21] mbkupfer commented on #21834
@dongzhi0312

Looks like you figured it out. Did you get it working?

[2019-01-03 03:30] jbrockmendel opened #24583 "DISC/DES: EA should have transpose, T, ravel mirroring ndarray/Index/Series"
As long as EA is 1D only these are all no-ops, so implementation is trivial.  It would save a bunch of special-casing and checking for exactly what type of object we have at different stages.

The cost is API clutter.

I'm of the opinion that EA should be as close as possible to a drop-in replacement for ndarray, (both for our purposes and so it can be useful in the ecosystem), so we _should_ impl

[2019-01-03 03:46] #24466 closed

[2019-01-03 03:49] jreback commented on #24583
I am with @jbrockmendel here. There is no point in not having the methods / properties, only to have to special case / work-around (in a myriad of ways) in various parts of the codebase. This is a huge complexity internally.

A few extra properties / methods IMHO is so worth it here.

[2019-01-03 04:09] jbrockmendel commented on #24562
Is this actually a perf issue?

[2019-01-03 05:50] gfyoung commented on #24535
cc @jreback

[2019-01-03 08:14] orena1 opened #24586 "int is detected as an object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Should the table detect b as an **int** or a **float**? why it detects it as an object?

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.14.final.0
python-bits: 64
OS: Linux
OS-release: 3.10.0-514.26.2.el7.x86_64
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_U

[2019-01-03 10:16] antoinecomp commented on #11704
@selik Sorry for answering so late. This is the code I used:

`predictions_df['ewma'] = pd.DataFrame.ewm(predictions_df["prices"], span=60)#, freq="D")`

And this is the error message:

[code]

[2019-01-03 12:15] TomAugspurger commented on #24562
I'd say so, especially if we implement frequency validation.

[2019-01-03 12:17] TomAugspurger commented on #24583
I'd prefer to hold off on adding methods that are unnecessary for 1-D arrays. I don't want to burden users with them.

What do you mean by API clutter? Isn't avoiding clutter the benefit?

@jorisvandenbossche might have an opinion.

[2019-01-03 12:18] #24535 closed

[2019-01-03 12:22] TomAugspurger commented on #24586
When you create the empty data frame in the first line all the columns are object dtype

[code]

Pass empty ndarrays or series if you want column-specific dtypes.

[2019-01-03 12:22] #24586 closed

[2019-01-03 12:30] timgeb opened #24589 "Examples for Series ops should be specific to each method."
The code example for [Series.divmod](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.divmod.html) uses `Series.add` and I'm not sure what this is supposed to convey.

In addition, "Equivalent to `series divmod other`" and "See also: `Series.None`" look strange to me.

[2019-01-03 12:42] jorisvandenbossche commented on #23569
In light of deprecating `Series.get_values`, we can directly use the internals here (or, do `np.array(Series.array)` ?)

[2019-01-03 12:45] jorisvandenbossche commented on #24583
I also prefer that we take the conservative route in this light: only add methods when we (or downstream) actually have a good use case for them.

Can you give some examples where this currently creates complexity? In the BlockManager?

[2019-01-03 12:46] TomAugspurger commented on #23569
I didn't realize Series.get_values was being deprecated.

But that's a decent idea I'll try exploring. IIUC the main purpose of `get_values` was special handling for Categorical and Sparse at the block level, which should no longer be necessary.

[2019-01-03 12:52] jorisvandenbossche commented on #23569
I don't think there is a PR, but it certainly is on the wishlist :)

[2019-01-03 12:55] jorisvandenbossche commented on #23569
See https://github.com/pandas-dev/pandas/issues/19617. I think the discussion there is mainly resolved as we now have the explicit `.array` and `np.array`/`.to_numpy()` to cover the two use cases.

[2019-01-03 12:58] jorisvandenbossche commented on #24518
Yes, I think the original idea behind this was to have functions that could be passed to `read_csv`'s `date_parser` function. But there are much better ways to do that (`to_datetime`, or a way to provide a date format in `read_csv` that is discussed elsewhere).
So happy to see it deprecated

[2019-01-03 13:06] TomAugspurger commented on #23569
Thanks. FYI, your suggestion seems to be working quite well.

On Thu, Jan 3, 2019 at 6:55 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-03 13:58] andymcarter opened #24592 "Groupby(observed=False) behaviour does not follow description in docs for non-categoricals"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Dataframe:
![image](https://user-images.githubusercontent.com/22293319/50641108-d5cf8400-0f5e-11e9-9639-7156dd795a96.png)

Groupby result:
`df.groupby(['L0','L1','L2'], observed=False).count()`
![image](https://user-images.githubusercontent.com/22293319/50640649-5f7e5200-0f5d-11e9-8354-8963d2fa7d97.png)

Only t

[2019-01-03 14:03] jreback commented on #24583
- Block._astype is a mess
- Block.where is not able to be sublcassed
- DatetimeBlock and DatetimeTZBlock cannot combine more code
- ObjectBlock.convert

lots of reshaping issues that were recently added in #24024

This is just adding complexity for no reason. If we have an array class then it needs to be almost a drop in for numpy arrays. Not having basic reshaping is causes lots of headaches.

[2019-01-03 14:54] jorisvandenbossche opened #24593 "COMPAT: IntegerXXDtypes string repr cause numpy deprecation warnings"
The 'numeric-style' type codes are deprecated in numpy, but they clash with our pandas integer dtypes strings (with the capital):

[code]

This causes some deprecation warnings in `pd.core.dtypes.common._get_dtype_type`, which surfaces those through eg `is_integer_dtype`:
[code]

[2019-01-03 14:58] jorisvandenbossche commented on #24593
"Strange" thing here is that this is not being raised on the numpy-dev build on Azure, which should be failing when there are uncatched numpy warnings (so either there is a reason that they are not raised there, or there is a problem with the "fail-on-warning" mode)

[2019-01-03 15:04] TomAugspurger commented on #24593
Do you know what test this is hit in?

It's possible that the warnings are being elevated to errors in the numpydev build, but whatever code is calling this may be catching the exception.

[2019-01-03 15:51] jbrockmendel commented on #24562
The OP refers to `_simple_new`.  I know in the new status quo simple_new just calls `__init__`, but if it behaved like the old simple_new it wouldn't need to do validation.

None of which affects the main point that range generation can be improved by a refactor.

[2019-01-03 15:54] dsaxton commented on #24589
It looks to me like this is a larger problem with the `Series` operations documentation in general:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.gt.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.lt.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.eq.html
...

[2019-01-03 17:09] xwang777 commented on #24570
Sure. Here's the reduced example that only uses pandas and numpy. The exception is the same.

[code]
### Output
In [4]: hasattr(ys, 'fit')
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-4-029deeef9ea7> in <module>
----> 1 hasattr(ys, 'fit')

~/app/anaconda3/lib/python3.7/site-pac

[2019-01-03 17:45] jreback commented on #24570
can you edit the example at the top with this

[2019-01-03 17:47] jreback commented on #24570
yeah this should be handled here:

[code]

where if the conversion fails (e.g. put a try/except ValueError) around this.

PRs welcome.

[2019-01-03 18:46] jreback commented on #24570
yes u can try that see if anything breans

[2019-01-03 18:57] timgeb commented on #24589
What's more, trying to make an example I could not get the `divmod` method to work at all in 0.23.4.

[2019-01-03 19:00] timgeb commented on #24589
I think each method deserves an example.

[2019-01-03 19:21] TomAugspurger commented on #24231
@jbrockmendel do you have any WIP PRs that you want reviewed / merged before this is done/

[2019-01-03 19:41] jbrockmendel opened #24600 "BUG: DataFrame[Sparse] quantile fails because SparseArray has no reshape"
Tried to simplify Block.quantile by arranging for it to only have to handle 2D case by having Series.quantile dispatch to DataFrame implementation.  Ended up getting failures in pandas/tests/series/test_quantile.py test_quantile_sparse

[code]

`datetime64[ns, tz]` breaks in a slightly different way (presumably all ExtensionBlocks will fail):

[code]

xref #24583

[2019-01-03 19:42] TomAugspurger commented on #22116
Anyone have thoughts here? Is this blocking for 0.24.0?

[2019-01-03 19:53] TomAugspurger commented on #19420
This is fixed on master.

[code]

May want a test to validate this.

[2019-01-03 19:58] jreback commented on #22116
not blocking

[2019-01-03 20:11] jbrockmendel commented on #24231
No, go for it.  Looking forward to seeing this done.

[2019-01-03 20:51] qwhelan opened #24603 "PERF: investigate performance impact of iNaTs on tz-aware operations"
#### Problem description

Placeholder issue for use of `np.searchsorted` in `pd._libs.tslibs.conversion.tz_convert_dst()` introduced in #22181 and modified in #24491. The latter indicates that the `iNaT` optimization comes at high cost for notnull data, but it's unclear at what fraction null should we attempt to optimize by skipping the `np.searchsorted()` call entirely.

[2019-01-03 20:59] TomAugspurger commented on #23995
I think that everything here has been addressed.

[2019-01-03 20:59] #23995 closed

[2019-01-03 21:06] #24231 closed

[2019-01-03 22:04] #23933 closed

[2019-01-03 22:48] adsmaniotto commented on #20369
+1 on this, I think it would be a great enhancement if possible.

[2019-01-03 22:50] jreback commented on #15889
Going to remove support for 32-bit starting in 0.25.0. Posting a doc warning in 0.24.0. If anyone has a *really* good reason why we should not do this, speak now or forever hold your peace.

32-bit support has a very small number of downloads now (@TomAugspurger will post some stats). We have very little testing (only on a daily build not accessible to regular contributors), and no testing whatsoe

[2019-01-03 23:31] jbrockmendel commented on #24603
@qwhelan thanks for opening this.  Do you have any idea how expensive the searchsorted calls are?  i.e. are we sure this is worth optimizing?

Some more context: we have a ~7 places in tslibs that do something like this:

[code]

The alternative would be to do the `trans.searchsorted` call outside of the loop.  So the tradeoff is more calls vs unnecessary calculations when there are many `iNaT` va

[2019-01-03 23:59] qwhelan commented on #24603
@jbrockmendel Thanks for your notes - I agree on most points. A couple points of clarification regarding numpy's implementation:

- `PyArray_SearchSorted` actually casts scalars into arrays; there's no lower-level function that takes only scalars
- The reason for the above is that the monotonicity speedup is already implemented by numpy here: https://github.com/numpy/numpy/blob/3e1a15791a58d33563e

[2019-01-04 01:03] datapythonista commented on #24451
the path of the generated files is decided by sphinx based on where the `autosummary` directives are. Before they were in the root, in `api.rst`, so they were generated in the `generated/` directory in the root, and not they are generated in `api`, as the `autosummary` directives are in files there. We could have `:toctree: ../generated/` I guess, but I don't think we want that.

Regarding the red

[2019-01-04 01:14] jbrockmendel commented on #24600
IntNA is also a catastrophe for quantile

[2019-01-04 03:39] jbrockmendel opened #24607 "DES: Should util.is_nan check for complex('nan')?"
It doesn't at the moment.  A handful of functions in libs.missing _do_ check for complex nan, and could be simplified/de-duplicated if we make util.is_nan also catch the complex case.

[2019-01-04 06:34] dongzhi0312 commented on #21834
yes,thanks

[2019-01-04 07:00] mroeschke commented on #8694
Unfortunately this example doesn't work any more.

[code]

I suspect this has been fixed by now with all the timezone work, but happy to reopen with a simpler example.

[2019-01-04 07:00] #8694 closed

[2019-01-04 07:08] mroeschke commented on #15552
This work on master now. Could use a test as always.

[2019-01-04 07:10] mroeschke commented on #18338
This looks to work on master now; could use a test.

[2019-01-04 07:12] mroeschke commented on #21184
This looks to be fixed on master now. Could use a test.

[2019-01-04 07:16] mroeschke commented on #22905
This looks to be fixed on master now. Could use a test.

[2019-01-04 08:46] guocheng opened #24608 "autocorr() might be incorrect for calculating autocorrelation"
#### Code Sample, a copy-pastable example if possible

[code]
![image](https://user-images.githubusercontent.com/4845980/50676599-2fec4a00-1030-11e9-92b6-4b0464e44931.png)

The `autocorr()` produces a different result:

[code]

#### Problem description

Pandas's `autocorr()` method uses `pearson` to calculate correlation. But the equation of calculating autocorrelation is different from the `pears

[2019-01-04 09:20] jorisvandenbossche commented on #15889
Disclaimer: I am a complete noob with regard to this. But, just wondering: does this have implications for more "exotic" systems and platforms?
For example for ARM, Raspberry Pi and the like (cc @jjhelmus from berryconda) or WebAssembly (cc @rth in pyodide).

Further question: what are other packages doing? (numpy, scipy, matplotlib, sklearn, ...) Anybody aware of it already being dropped in one o

[2019-01-04 09:52] jorisvandenbossche commented on #15889
Quickly spoke with some colleagues: their feeling is that it is important to support ARM. Not necessarily 32 bit, but that might be the consequence (I don't know what version of ARM is most widely used, I understand the latest ARM also supports 64bit).

Also, it is maybe good to discuss where exactly the burden is: is it difficult to support in the actual code, or are it more the tests that are fa

[2019-01-04 09:53] jorisvandenbossche commented on #15889
cc @pandas-dev/pandas-core

[2019-01-04 10:00] ayhanfuat commented on #24608
`autocorrelation_plot` uses this formula:
![autocorrelation formula screenshot from wikipedia](https://user-images.githubusercontent.com/6108349/50682140-f3fcb900-101e-11e9-9d78-8b5d70f298f1.png)

Here, mu is the mean of the entire series. `autocorr` on the other hand shifts the series and takes the correlation with the non-shifted one which is practically calculating separate means and variances

[2019-01-04 10:50] guocheng commented on #24608
If you look at [`autocorrelation_plot` source code](https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_misc.py#L622), you can see that it uses this equation:

![image](https://user-images.githubusercontent.com/4845980/50684662-5c648e00-1051-11e9-91ae-2b8c82d59c24.png)

Also, I didn't see `autocorr()` shifted the series in the source code, a link to it would be helpful.

[2019-01-04 10:56] ayhanfuat commented on #24608
@guocheng It's the same equation except for the normalization factor (n vs n-k).

Shifting occurs [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/series.py#L2171).

[2019-01-04 12:32] jreback opened #24610 "TST: clean up deprecation warning"
I think these are only in 3.7, but have to be careful not to break other versions.

[code]

[2019-01-04 12:45] jreback opened #24611 "TST: deprecation warnings"
[code]
on master

[2019-01-04 12:45] jreback commented on #24611
cc @jbrockmendel @TomAugspurger

not sure what test, maybe we need to increase the stacklevel as well.

[2019-01-04 13:08] TomAugspurger commented on #24611
Which build is this in?

[2019-01-04 13:17] TomAugspurger commented on #24610
That said, I really don't know why certain tests trigger these... I wonder which piece of code is triggering a boto import in pickle IO.

[2019-01-04 13:19] TomAugspurger commented on #24610
It's `_get_handle` in `io/common.py`, which imports s3fs, which imports boto.  We could maybe avoid that with some effort...

[2019-01-04 13:53] uperetz opened #24612 "DOC: `applymap` calling on first column twice"
#### Code

[code]

#### Output

[code]
#### Problem description

Seems `applymap` is calling on the first column twice. ~~There is no effect in the end result, just a run-time hit as far as I can tell.~~ This affects functions with side effects, as well as runtime.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
py

[2019-01-04 13:54] jreback commented on #24611
I think all:https://travis-ci.org/pandas-dev/pandas/jobs/475224535 for example

[2019-01-04 13:55] #24593 closed

[2019-01-04 13:56] TomAugspurger commented on #24611
Thanks. Taking a look now.

On Fri, Jan 4, 2019 at 7:54 AM Jeff Reback <notifications@github.com> wrote:

[2019-01-04 14:00] jreback commented on #24060
clearing the decks, pls don't tag for 0.24.0 unless an immediate merge. excluding cleanups still being done by @jbrockmendel and @TomAugspurger

ideally could do rc1 say next week, @TomAugspurger ?

[2019-01-04 14:02] TomAugspurger commented on #24060
I was thinking next week as well. Going through the backlog right now.

On Fri, Jan 4, 2019 at 8:00 AM Jeff Reback <notifications@github.com> wrote:

[2019-01-04 14:06] jreback commented on #19239
if we can't do this for 0.24, 0.25 is ok too.

[2019-01-04 14:07] jreback commented on #22709
we should just close this

[2019-01-04 14:07] jreback commented on #24060
yep me too

[2019-01-04 14:10] jreback commented on #22791
I think we have this now? e.g. can just specify the ``dtype=`` in ``np.asarray()``, or something else needed here?

[2019-01-04 14:11] jreback commented on #22216
this seems ok, anything to do here?

[2019-01-04 14:13] TomAugspurger commented on #22216
Agreed. Perhaps a doc note guiding how pandas wants out of bounds values
cast, but nothing blocking for 0.24.0

On Fri, Jan 4, 2019 at 8:11 AM Jeff Reback <notifications@github.com> wrote:

[2019-01-04 14:19] guocheng commented on #24608
@ayhanfuat Thanks for pointing that out.

Just to clarify a few things:

Assuming we have an array [1,2,3,4,5], when lag = 1:

1.we are trying to calculate the correlation of:

[1,2,3,4]
[2,3,4,5]

Correct?

2. If `self.corr(self.shift(lag))` is executed, then the correlation of the following is calculated:

[1,2,3,4,5]
[NaN,1,2,3,4]

Correct?

[2019-01-04 14:21] jreback opened #24613 "BLD: 32-bit builds failing"
https://travis-ci.org/MacPython/pandas-wheels/jobs/475157492

failing with

[code]

[2019-01-04 14:21] kefirbandi opened #24614 "Avoiding DataFrame.apply unintended side effect when result_type is not specified."
According to the docs (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html)

"In the current implementation apply calls func twice on the first column/row to decide whether it can take a fast or slow code path. This can lead to unexpected behavior if func has side-effects..."

Well it definitely is there in the docs, but took me several hours to trace down the bug to

[2019-01-04 14:21] jreback commented on #24613
cc @mrocklin @qwhelan I think the perf enhancement changed this

[2019-01-04 14:21] jreback commented on #15889
e.g. just today: https://github.com/pandas-dev/pandas/issues/24613

[2019-01-04 14:37] jorisvandenbossche opened #24615 "Accept PandasArray (with correct dtype) in DatetimeArray constructor"
I think it make sense that eg in the following case, we extract the numpy array out of a PandasArray, and thus accept it as an argument:

[code]

There might be more similar cases like this.

[2019-01-04 14:42] jorisvandenbossche commented on #24613
I suppose you meant to tag @mroeschke instead of @mrocklin  :)

It's about this PR: https://github.com/pandas-dev/pandas/pull/24491

[2019-01-04 14:46] jorisvandenbossche commented on #24593
Would still be good to investigate why Azure dev build was not failing.

@TomAugspurger do you remember on what is is supposed to fail? On any warning? Or only DeprecationWarning/FutureWarnings? Only from specific packages? Or only from pandas?

It is a bit fishy that in the azure build there is no warning at all, while in all travis builds there are plenty of warnings (both from numpy and pandas)

[2019-01-04 14:51] jreback commented on #24613
yep thanks

[2019-01-04 14:55] TomAugspurger commented on #24593
It should fail on any warning from any package.

Checking in https://github.com/pandas-dev/pandas/pull/24616.

It's possible that the warnings (from numpy / pandas) are only hit on code
that's not run as part of the numpydev build.

On Fri, Jan 4, 2019 at 8:46 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-04 15:01] jorisvandenbossche commented on #24593
It's running `pytest -m "not single and not slow and not network"`, so I would find that strange. Although maybe a lot of tests are skipped if no optional dependencies are installed

[2019-01-04 15:02] jorisvandenbossche commented on #24593
Which might be the case, as only numpy ans scipy are installed (so no plotting, not any optional IO, ..)

[2019-01-04 15:03] jorisvandenbossche opened #24617 "DOC: remove okwarning once pyarrow 0.12 is released"
TODO: Revert https://github.com/pandas-dev/pandas/pull/24591 once pyarrow is released

[2019-01-04 15:19] jorisvandenbossche commented on #24559
Any other thoughts / replies here?

[2019-01-04 15:20] toobaz commented on #15889
This was precisely what I was going to object - although I don't have any authoritative source.

Moreover, my very general and superficial analysis of issues like #24613 (or - now speaking out of experience - #19439 ) is that they actually help us fix mistakes in the code, regardless of the use of 32 bits.

Finally, even assuming that 32 bits is (or will be) the obsolete past, maybe by not breakin

[2019-01-04 15:39] ayhanfuat commented on #24608
@guocheng Those two are actually the same thing since pandas ignores NaN's in calculations:

    pd.Series([1, 2, 3, 4]).corr(pd.Series([2, 3, 4, 5]))

and

    pd.Series([1, 2, 3, 4, 5]).corr(pd.Series([np.nan, 1, 2, 3, 4]))

yield the same result (1).

I tried to illustrate the difference between `autocorr` and `autocorrelation_plot` in these equations:

![autocorrelation equations](https://user

[2019-01-04 16:17] jbrockmendel commented on #24559
I think the overriding internal-consistency concern is the one @mroeschke reminded us of: this should behave like Timestamp constructor.

@TomAugspurger would "fixing" this behavior be difficult?  Last time I tried something similar I got test_packers failures that I couldn't figure out.

[2019-01-04 16:22] jorisvandenbossche commented on #22791
I don't think this is solved. It is not about passing a dtype in `np.asarray(..)`, the original question is: predicting for an array what the dtype will be of `np.array(dtype)` (so the default when not passing a `dtype=` kwarg).

One use case is to define the interleaved dtype (see top post)

(but it's not necessarily a blocker for 0.24.0)

[2019-01-04 16:32] andymcarter commented on #24592
https://github.com/pandas-dev/pandas/blob/c98b7824233e89ce32675a7e60ed2f9215e73d59/pandas/core/groupby/generic.py#L1139-L1141

Looks like these lines give you a MultiIndex from a product of all present values of all index level, rather than treating the Categorical levels separately.

[2019-01-04 16:35] TomAugspurger commented on #24559
Demo of the inconsistency on 0.23.4

[code]

On master, Out[13] matches Out[11].

That consistency is certainly worth striving for.

---

If we wanted a graceful deprecation warning, then the DTI constructor would

1. check for i8data & tz
2. tell users to... what? What recourse would they have? If they want wall times (the previous behavior) then they can `.view("dateime64[ns]")` and pass that. I

[2019-01-04 16:35] jorisvandenbossche commented on #22224
Let's do this for 0.24.0 ? Otherwise we need to start deprecating things if we still want to change it after the initial release, which is a bit stupid for this.

I don't think it is much work, it is mainly deciding what we want to do

[2019-01-04 16:39] TomAugspurger commented on #24600
Do you think this will need to be pushed down to the array for ExtensionArrays?

[2019-01-04 16:59] jbrockmendel commented on #24600
`quantile` itself?  Probably not.  For `SparseArray` a patch is now in place that avoids the immediate problem.  For IntNA it looks like the problem is in `_try_coerce_result` not handling things correctly.   For `DatetimeTZBlock` the problem is in `_concat._concat_compat`.  It's eclectic.

I think we'll want to define _try_coerce_result (and possibly _try_coerce_args, not sure) in terms of _holde

[2019-01-04 17:02] qwhelan commented on #24613
@jreback Certainly seems like my PR is to blame - I'll take a look

[2019-01-04 17:05] TomAugspurger commented on #22224
Yeah, not much work, aside from the hard problem of "what do we want". I haven't really come to a decision on what's best here.

What we can relatively easily do for 0.24 is decide if anything should be assigned a common name

1. IntervalDtype.subtype
2. SparseDtype.numpy_dtype
3. Int*Dytpe.numpy_dtype
4. CaegoricalDtype.codes.dtype or CategoricalDtype.categories.dtype

I'm really not sure here...

[2019-01-04 17:06] TomAugspurger commented on #22791
Agreed: not solved, but a blocker.

On Fri, Jan 4, 2019 at 10:22 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-04 17:07] jorisvandenbossche commented on #22224
In the meantime, the `PandasDtype` (for PandasArray holding numpy array) also has a `numpy_dtype` attribute.

`IntervalDtype` has a `subtype` (but also `subdtype` which is defined in `PandasExtensionDtype`, not sure what is that for. For numpy compat?).

I think the main question might be what we want to do with https://github.com/pandas-dev/pandas/issues/22791. Because a name there might clash wi

[2019-01-04 17:11] dsaxton opened #24620 "BUG: DataFrame.align behavior when columns are many-to-many"
#### Code Sample

[code]
#### Problem description

The documentation for `DataFrame.align` says that method performs a join between `self` and `other`, but in the case where the columns are many-to-many this doesn't always seem to be the case.  (In the above example when column `a` is one-to-many it's aligned with each column of `other`, but when the columns are many-to-many the alignment is one-t

[2019-01-04 17:23] jorisvandenbossche commented on #24559
`to_datetime` ? (if it would finally have a `tz` option)

The other option could also be to deprecate passing integers, if we find it too confusing what it should result in.

[2019-01-04 17:33] jreback commented on #22224
yeah I ran into this when fixing up to use ``pandas_dtype``. We also have a ``.base`` attribute that need some rationalization.

We ought to make these NotImplemented on the base dtype to catch errors.

I think ``subtype`` is ok where it is now for Sparse, maybe add to ``Categorical`` in the same capacity?
``numpy_dtype`` is also pretty clear.

I would allow having one of [subtype|numpy_dtype] for

[2019-01-04 17:36] jorisvandenbossche commented on #22216
Based on the discussion above, I would think the to do action is to actually 'fix' it to raise an error instead of creating garbage? (but since it is pre-existing behaviour, probably not a blocker for 0.24)

IntegerArray already correctly raises, DatetimeArray does not (similar as Catetogorical)

[2019-01-04 17:40] qwhelan commented on #24613
So what's happening is:
- `np.searchsorted()` always returns a result of type `np.intp`, which is 32-bit on 32, 64 on 64
- `int64_t[:] pos` needs to be `intp_t[:] pos` as a result
- Seems we've always been unable to properly index into an array of size greater than int32 on 32-bit via `np.searchsorted`. I'm guessing there's no test coverage for something like this, but would be easy to construct a

[2019-01-04 17:42] TomAugspurger commented on #22224
Yes, sorry. Updated.

[2019-01-04 17:57] #24391 closed

[2019-01-04 18:06] rth commented on #15889
Yes, if pandas explicitly drop supports (as in stops accepting patches for non x86-64 arch, or makes refactoring breaking existing support) it might become difficult to run pandas there cc @mdboom

I guess you were talking about Windows, but note that for most Linux based exotic arch, people would likely use the packages built for debian / some other distribution (or rebuild from sources). In scik

[2019-01-04 18:11] jreback commented on #15889
@rth yeah we would certainly continue accepting patches, as we now do for non-supported arch (Big Endian). The difference would be that we wouldn't build wheels (and make them pass).

[2019-01-04 18:37] #24613 closed

[2019-01-04 19:14] dsaxton commented on #24614
It seems to me that applying a function with side effects across an entire `DataFrame` is something you'd almost never want to do, so disallowing it to prevent misuse would make sense.  I don't know how you'd determine on-the-fly if an arbitrary function has side effects though.

[2019-01-04 19:35] chris-b1 commented on #24612
See the note in the `apply` [docstring ](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html)- though applymap should also apparently be updated to include this note.

[2019-01-04 19:37] uperetz commented on #24612
Thanks, I did not think to look at the apply help, guess this answers that.

[2019-01-04 20:58] WillAyd commented on #24592
Thanks for the report. PRs would be welcome if you'd like to submit one

[2019-01-04 21:31] TomAugspurger commented on #24066
FYI, this needn't block the release. It can be done during the RC if #24626 isn't done in time.

[2019-01-04 21:42] TomAugspurger opened #24627 "DataFrame.tz_localize"
`tz_localize` is implemented in NDFrame. But, AFAICT, `tz_localize` doesn't and can't work on a DataFrame

[code]

Anyone know why? OK with removing?

[2019-01-04 21:43] mroeschke commented on #24559
Since `tz` effectively means `tz_localize`, in an ideal world I would only want integer data to only accept `tz='UTC'/None`. I think `Timestamp(i8, tz=tz)`'s localization to UTC then conversion to tz is a little too magic although it's the more appropriate behavior. Therefore I had thought the `DatetimeIndex(i8_array, tz=tz)` behavior was a bug, but since our policy wasn't set in documentation dep

[2019-01-04 21:45] TomAugspurger commented on #24627
Seemingly done in https://github.com/pandas-dev/pandas/commit/6d01c3c4891e19530ebd3a96887fb9465fd58ffd (from 2012!)

[2019-01-04 21:46] mroeschke commented on #24627
Albeit not documented well, it's supposed to localize the index not the columns. That's what `df.col.dt.tz_localize` is reserved for.

[2019-01-04 21:51] TomAugspurger commented on #24627
Oh, whoops. Of course. I'll touch up the description a bit (need to fix a warning anyway). Thanks.

[2019-01-04 21:51] #24627 closed

[2019-01-04 22:36] jbrockmendel commented on #24617
Do we have a minimal pyarrow we support?  environment.yml lists pyarrow>=0.7.0.  There are some special cases in internals.blocks for pyarrow compat that would be nice to get rid of eventually.

[2019-01-04 22:52] jreback commented on #24617
not averse to bumping

[2019-01-04 23:38] h-vetinari commented on #22605
Reported error in https://bitbucket.org/openpyxl/openpyxl/issues/1094/error-with-pandas-datetimeindex (thru being duplicate of https://bitbucket.org/openpyxl/openpyxl/issues/1093/newly-introduced-keyerror-problem-in) was fixed in 2.5.7 apparently - current version is 2.5.12. Tagging @alimcmaster1, as he asked about just that on the bitbucket tracker.

[2019-01-05 02:02] guocheng commented on #24608
@ayhanfuat yes, I realised that using the sample mean vs Series mean made the difference. So the question is: Should `autocorr()` and `autocorrelation_plot()` behave the same? If so, which one is correct? (they are currently outputting vastly different result for this particular example)

Aside from the issue above, thank for pointing out the following:

[code]

The "shifted" array  looks weird to

[2019-01-05 05:08] tylerwmarrs commented on #12351
Is there any update on this issue? I ran into it and would like to know when the fix will be released.

[2019-01-05 06:51] kefirbandi commented on #24614
The way I use an apply-function with side effects is modifying a row in-place.
E.g.
[code]
In this case I don't even need any return value.

In some other cases my code looks like
[code]
In the second case I could easily avoid side-effects by copying the row before modifying, but that would lead to a loss of efficiency, and I would no longer be able to use the same function for in-place modificati

[2019-01-05 10:40] timhunderwood commented on #24218
Hello,

I was able to reproduce this on Windows.

From some debugging, the issue occurs when you get to:

`pandas.core.window._Rolling#_apply`

When it tries to call:

`return cfunc(arg, window, minp, indexi, closed, **kwargs)`

with cfunc refering to "roll_max".

I think something goes wrong in:
`pandas._libs.window#_roll_min_max`

I can reproduce the issue by running the below:
[code]
The issue

[2019-01-05 11:11] alimcmaster1 commented on #22605
@h-vetinari . I already largely did this #23361 the only build that's that remain pinned are azure-macOS-35, and azure-27-compat build. So I think this is perhaps fine to close unless anyone thinks there is something else we should be doing here?

[2019-01-05 12:35] #24565 closed

[2019-01-05 12:38] TomAugspurger commented on #24167
I think no action is needed here right now.

[2019-01-05 12:38] #24167 closed

[2019-01-05 12:46] jreback commented on #12351
@tylerwmarrs you are welcome to contribute a patch

[2019-01-05 14:25] jreback opened #24641 "CI: hypothesis occasionally failing"
have seen this failure occasionally, need to see if this is an actual test case that we are not handling, or its just hypthesis flakiness. Let's fix in any event.

e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6564

[code]

[2019-01-05 14:51] #15750 closed

[2019-01-05 14:52] #24066 closed

[2019-01-05 14:54] #24612 closed

[2019-01-05 14:54] #24239 closed

[2019-01-05 15:00] saurav2608 commented on #24177
@jreback / @datapythonista - this issue is now closed. All what whatsnew files are off the exception list.

[2019-01-05 15:00] #24177 closed

[2019-01-05 16:33] alimcmaster1 commented on #24425
@zhaopansong if possible could you provide a minimal bug report as per the guide above. There isn’t enough info for us to go on here.

[2019-01-05 16:58] WillAyd commented on #24218
@timhunderwood investigation and PRs are always welcome!

[2019-01-05 17:31] #24525 closed

[2019-01-05 17:52] #24607 closed

[2019-01-05 21:17] #23569 closed

[2019-01-05 22:15] #19214 closed

[2019-01-05 23:41] jbrockmendel commented on #24617
It looks like the commit that removed pyarrow's deprecated usage was 2018-01-25 https://github.com/apache/arrow/commit/6bb1d1b35f21ce34327cf92893bda417c2a9a4f1.  The first release after that looks like 0.9.0 on 2018-03-16

[2019-01-05 23:45] jreback commented on #24617
bump to 0.9.0 would be fine

[2019-01-05 23:49] datapythonista commented on #24177
thanks a lot for this @saurav2608

[2019-01-06 01:15] nixphix commented on #24641
Flakiness is causes by a long running test case, seems like `pandas.tseries.offset.Milli` took too long on first test case exceeding time limit and then faction of it for succeeding test run as mentioned in the error message below.

Error from the logs :
[code]
I wonder why a simple test case like this took that long to run
https://github.com/pandas-dev/pandas/blob/b75195353c50f895e12e2d173db95af8

[2019-01-06 01:31] Zac-HD commented on #24641
Yep, looks like a pure timing issue.  Probably worth investigating why the timing is so variable, but until them you can just add e.g. `@hypothesis.settings(deadline=2000)` to give it 2k milliseconds per test case.

[2019-01-06 01:56] dsaxton commented on #24620
Looks like it's because of this:

[code]

I suppose the idea is that if `self` and `other` have the same index then no join needs to be done to align the two.  Is this then normal behavior?  Is it worth pointing out in the documentation that a join only happens if the indexes differ?  Or is this such an edge case it isn't worth mentioning (particularly since it only matters when we have duplicates

[2019-01-06 02:46] nixphix commented on #24641
@jreback If this error only occurs in Azure Pipeline, cause I see Travis jobs passed for the same PR, it could be platform specific and since its occurring sporadically we can give the benefit of the doubt.
shall we extend the deadline for the test case to 2k ms or so?

[2019-01-06 02:54] jreback commented on #24641
it’s not platform specific and only occasionally fails

[2019-01-06 03:03] hksonngan commented on #22247
I catch KeyError at this line [656](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/index.pyx#L656), this code commited [8cbee356](https://github.com/pandas-dev/pandas/commit/8cbee356).
That exception make the set_value function error at [103](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/index.pyx#L103)

[2019-01-06 03:07] Zac-HD commented on #24641
The other option is `@hypothesis.settings(deadline=None)` to ensure it literally never happens, as suggested by the error message.

[2019-01-06 12:46] jorijnsmit commented on #10694
A quick fix for this is to handle empty categories yourself: `.agg(lambda x : np.nan if x.count() == 0 else x.idxmax()`. Would be nice to have this implemented in `.idxmax()` itself though; it is very difficult figuring out what the problem is when all it does is give back an empty result.

[2019-01-06 13:47] iam-mhaseeb commented on #24071
@datapythonista  Anyone working on it? If no one is working I can work on it.

[2019-01-06 14:31] datapythonista commented on #24071
go ahead, thank you!

[2019-01-06 14:45] #24620 closed

[2019-01-06 15:53] #22905 closed

[2019-01-06 15:53] #18338 closed

[2019-01-06 15:53] #19420 closed

[2019-01-06 15:53] #21184 closed

[2019-01-06 15:58] jbrockmendel commented on #24559
#24623 is now passing.  PTAL.

[2019-01-06 15:58] nixphix commented on #24641
@jreback should I extended the deadline to 2000 ms or disable deadline checking for the test case ?

[2019-01-06 16:14] jreback commented on #24641
let’s just disable the deadline

[2019-01-06 16:39] jreback opened #24653 "COMPAT: alias .to_numpy() for scalars"
I think we achieve a bit more consistency in our interfaces if we alias ``.to_numpy()`` to ``.to_datetime64()`` and ``.to_timedelta64()`` for ``Timedelta`` and ``Timestamp`` respectively.

xref https://github.com/pandas-dev/pandas/pull/24486/files#diff-26a6d2ca7adfca586aabbb1c9dd8bf36L235

[2019-01-06 17:47] h-vetinari commented on #24046
@jreback
I am honestly stunned by you closing #22225 and then *locking* it after I objected. So much for my motivation to work on some big PRs today.

I've opened this issue here for exactly this purpose (discussing your object to *existing* capabilities of `DataFrame.set_index`) over a month ago.

[2019-01-06 17:55] timhunderwood commented on #24218
When I build version 0.24 locally ('0.24.0.dev0+1522.gd106e9975') this issue doesn't occur. Looks like it has already been fixed between 0.23.4 and now.

[2019-01-06 19:19] #24641 closed

[2019-01-06 19:53] timhunderwood commented on #24218
hi @jreback , yes, I am testing the above on windows. I will try and make a PR to test all the options for closed.

[2019-01-06 20:20] jbrockmendel commented on #24653
Could do the same for to_py, I think arrow does this

[2019-01-06 20:55] jorisvandenbossche commented on #24559
@jbrockmendel it is not fully clear to me what #24623 exactly does related to the discussion above. Can you summarize it here?
(e.g. does it change back the behaviour of DatimeIndex? (but I thought you were opposed to that?) And I don't think it adds a deprecation warning? ..)

[2019-01-06 20:56] jorisvandenbossche commented on #24617
I am also fine with bumping to 0.9.0.
That is however unrelated to the original issue here, though. @jbrockmendel can you open a new issue for that?

[2019-01-06 22:50] iam-mhaseeb commented on #24071
Okay. I'm working on it.

[2019-01-07 00:19] jbrockmendel commented on #24559
There are two central changes in #24623, both of which were the status quo before #24024.

1) make `DatetimeArray.__init__` behave like `DatetimeIndex.__new__` and `Timestamp.__new__` by treating int64 values as unix timestamps and datetime64 as wall-times.

2) Do frequency validation in `DatetimeArray.__init__`, preventing users from creating invalid instances with the public constructor.

[2019-01-07 00:48] jorisvandenbossche commented on #24559
Then how is that related to this issue? This issue is about the change in behaviour of handling integer values in the DatetimeIndex constructor, not about the DatetimeArray constructor

[2019-01-07 00:51] jbrockmendel commented on #24559
If it isn't closely enough related for your tastes then feel free to ignore.

[2019-01-07 00:53] jorisvandenbossche commented on #24559
You wrote the PR, I think you are better placed to judge to what extent it is related to the discussion here ;)
It's just because you mentioned it here as if it is resolving this issue (but maybe I misunderstood that) that I am asking for clarification.

[2019-01-07 01:01] jbrockmendel commented on #24559
I'm actually currently getting side-tracked by trying to figure out exactly what is and isn't internally-consistent.  It looks like 24623 makes i8 behavior consistent between DTA/DTI/Timestamp and M8[ns] behavior consistent between DTA/DTI, but breaks the existing consistency in master between DTA/Timestamp.

I'll try to put together a grid for these...

[2019-01-07 01:45] jorisvandenbossche opened #24656 "Constructing a DatetimeArray with pd.array?"
I wanted to create a naive `DatetimeArray` with `pd.array`, but that doesn't seem very easy or even impossible:

Specyfing `dtype='datetime64[ns]'` gives a numpy backed PandasArray:
[code]

We also can't specify a custom dtype, as it needs a tz:
[code]

Passing a DatetimeIndex also gives a PandasArray:
[code]

Should one of those give a DatetimeArray instead of PandasArray?

[2019-01-07 01:51] jorisvandenbossche commented on #24656
Hmm, I see that passing datetime / Timestamp objects, then it is inferred to return a DatetimeArray:

[code]
(but that's not the most convenient way to quickly create such an array)

Also passing a datetime64[ns] numpy array gives a DatetimeArray:

[code]

but when specifying that dtype inside `pd.array` it returns a PandasArray.

Reading the docstring of `pd.array` again this might be all accordi

[2019-01-07 02:04] jorisvandenbossche commented on #24559
And an answer to the comment of @mroeschke

That sounds as a logical rule to me.

[2019-01-07 02:15] jbrockmendel commented on #24559
I'm not sure I understand this rule.  Is the idea that the constructor would only be able to create tz-aware {n \choose k}(DTA/DTI/Timestamp) with UTC and them make the user do tz_convert as another step?

[2019-01-07 04:04] mroeschke commented on #24559
In an _ideal_ world I would prefer that since it's more explicit, but I think it would require deprecating `Timestamp` behavior with ints and tz.

I would be fine just propagating the current `Timestamp` behavior and more clearly documenting interger with `tz` arg behavior across the board since I think we would have do deprecate less?

[2019-01-07 05:39] toobaz commented on #24046
@h-vetinari While I think locking #22225 was an unnecessary move from @jreback , you have to realize that the "''[overruling approving reviews](https://github.com/pandas-dev/pandas/pull/22225)''" thing is not a good argument to raise in such a discussion. True, in pandas we look for devs consensus, but in the end we prefer to do so by argumenting rather than by any form of proper vote. So that com

[2019-01-07 12:33] TomAugspurger commented on #24656
Agreed, both of those feel strange. The DTI one is probably an outright buggy.

The `pd.array(['2012-01-01', '2012-01-02'], dtype='datetime64[ns]')` one is as you say maybe following the "rules", but we might want to consider overriding NumPy when we have arrays that share string aliases with NumPy (I think just `datetime64[ns]` and `timedelta64[ns]`).

[2019-01-07 12:36] TomAugspurger commented on #24046
Agreed that locking was not appropriate.

---

On the issue itself, to me it's pretty clear that `Series.set_index(sequence)` is a limiting case of `DataFrame.set_index(Sequece[sequence])`

[code]

Since `In[3]` works, I would expect that

[code]

work as well.

[2019-01-07 12:44] jorisvandenbossche commented on #24656
Yes, I would be +1 on that.
It somehow complicates the "rules", but it is also very strange that `pd.array` does not give the Array type that pandas actually uses under the hood for those dtypes.
(this signals a bit the problems of clashing dtypes / the fact that DatetimeArray still has a numpy dtype)

[2019-01-07 12:48] TomAugspurger commented on #24656
Indeed. Returning a tz-naive DatetimeArray or a TimedeltaArray wouldn't
pass a type checker because of their dtype.
But this is the same tradeoff as Series[tz-navie].array, where we returned
a DatetimeArray.

On Mon, Jan 7, 2019 at 6:44 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-07 13:41] TomAugspurger commented on #22709
Not sure about that, but I won't get to it to 0.24.0 unfortunately.

[2019-01-07 13:45] VOMAY commented on #21860
Finally, I am starting to understand the issue and found a shorter example. Sorry for the mess before.

This piece of codes creates two plots based on the same DataFrame. To only difference is the gap at `df.index[50]`. This gap causes the xticks and xlabels to change. Is this an expected behaviour?
Tested up to pandas version 0.23.4

[code]
![image](https://user-images.githubusercontent.com/32896

[2019-01-07 13:50] datapythonista opened #24661 "DOC: Make errors and warnings of the doc build more visible"
For my understanding, there are two main things that make problems in the doc build difficult to see:
- The warnings in the documentation build do not fail the build
- The documentation build does not make the CI fail and turn red

I think what we should do is the next:

- [ ] Fix remaining warnings during the doc build
- [ ] Activate the `--warnings-are-errors` option
- [ ] Make the ipython direc

[2019-01-07 14:06] jorisvandenbossche commented on #24661
Yes, that summary of to do's seems fully correct to me.

Some warnings might sometimes be difficult to solve, though. A more custom regex checking as @TomAugspurger started in https://github.com/pandas-dev/pandas/pull/22743 might in that sense be more flexible if we want to be able to ignore certain warnings at some point.

[2019-01-07 14:09] TomAugspurger commented on #24661
https://github.com/ipython/ipython/issues/11547 for the IPython issue.

[2019-01-07 14:48] TomAugspurger commented on #15889
For conda downloads, Linux and Mac 32-bit downloads are negligible
(Anaconda Distribution dropped Mac 32 and will drop 32-bit Linux this year).

For windows, the split is 94% to 6% for 64-bit to 32-bit.

---

I'm not sure how to think about this 6%. That's not negligible.

I also don't think the current system is great. A PR that introduces a 32-bit bug should ideally fail the CI on the PR. If we'

[2019-01-07 14:51] TomAugspurger commented on #24060
My preference is that the only API-breaking changes from 0.25 -> 1.0 is the removal of previously deprecated features. Then users can

1. Ensure things run smoothly on 0.25.x
2. Fix any FutureWarnings from pandas
3. Confidently upgrade to 1.0

IIRC there was loose agreement to this at the last dev meeting.

[2019-01-07 14:51] jorisvandenbossche commented on #15889
@TomAugspurger azure supports to direct test on 32 bit? Then I would personally be in favor of that, as a big part of the problem is the lack of direct testing feedback.
(alternatively, here is an idea of sklearn on how to do it on travis with docker: https://github.com/scikit-learn/scikit-learn/issues/9352)

[2019-01-07 14:57] jorisvandenbossche commented on #24060
@TomAugspurger meaning we still do breaking changes / deprecations in the 0.25 development cycle? (as that was the actual question of @h-vetinari I think, apart from 0.25 -> 1.0)

I don't really remember what we said about that, only a vague recollection from the sprint in summer that we already wanted all deprecations in 0.24 and not add more in 0.25 (although the summary in https://github.com/pa

[2019-01-07 15:11] TomAugspurger commented on #24060
Sorry if I misread. Your vague recollection matches my vague recollection on deprecations for 0.25.0 :)

Do we want to revisit that policy? IOW do we want to allow new deprecations in 0.25.0 that are either

* Removed in 1.0 (without much time for the community to adapt)
* Maintained for 1.0, and removed in 2.0 (if we're doing semver)

[2019-01-07 15:11] TomAugspurger commented on #15889
I thought they did, but I may be mis-remembering.

On Mon, Jan 7, 2019 at 8:51 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-07 15:39] jreback commented on #24060
we should have a call on the plan after 0.24 is out the door

[2019-01-07 15:54] TomAugspurger opened #24662 "dtype for tz-naive DatetimeARray and TimedeltaArray"
Right now, `Datetime.Array.dtype` can be either `np.dtype('M8[ns])` or a `DatetimeTZDtype`, depending on whether the values are tz-naive or tz-aware. This means that while `DatetimeArray[tz-naive]` is an *instance* of `ExtensionArray`, it doesn't satisfy the minimum ExtensionArray API, which requires that `array.dtype` be an `ExtensionDtype`.

[code]

The causes some type-unsoundness for places th

[2019-01-07 16:06] jbrockmendel commented on #15146
If the policy is that anything we want removed in 1.0 needs to be deprecated in 0.24.0, then I think we should do this now.

[2019-01-07 16:09] WillAyd commented on #24046
I don't think continuing to post here or in the associated PR is an effective use of anyone's time. Why don't we just add it as a discussion point to the next dev chat?

[2019-01-07 16:12] TomAugspurger commented on #24046
The implementation is fine, and deserves to go in 0.24.0 if we can agree on
the desired behavior. No need to delay I think.

On Mon, Jan 7, 2019 at 10:09 AM William Ayd <notifications@github.com>
wrote:

[2019-01-07 16:15] WillAyd commented on #24046
There isn't agreeance on desired behavior hence why I suggest moving to a separate forum. I don't think it's something we need to push into 0.24 at the end here either

[2019-01-07 16:19] TomAugspurger commented on #24046
I really don't think this is a *difficult* decision though, is it? Do we want `Series.set_index` to accept arrays like `DataFrame.set_index` or not? Joris and I are I think +1, or at least ambivalent. Jeff seems to think that DataFrame.set_index doesn't accept arrays (e.g.
https://github.com/pandas-dev/pandas/pull/22225#issuecomment-451758441)

which isn't correct, as shown in
https://github.com/p

[2019-01-07 16:20] jorisvandenbossche commented on #24046
I agree that if it seems difficult to find an agreement, that discussing this on the next dev chat can be more productive / effective.
But, until now, there hasn't been much discussion on the PR, apart from between Jeff and h-vetinari (other people commented on the PR, but didn't really involve in the API discussion, apart from Tom agreeing with h-vetinari). So I would first still be interested in

[2019-01-07 16:23] toobaz commented on #24046
@TomAugspurger We all agree (I think) that it makes sense for ``df.set_index([a_list_of_labels])`` to work. I think @jreback makes a good point however that there is no obvious reason (except parameter ambiguity) for ``df.set_index(a_list_of_labels)`` not to work (since ``df.set_index(Series(a_list_of_labels))`` does), and that this causes a potential confusion that ``df.set_axis`` doesn't. Then m

[2019-01-07 16:23] WillAyd commented on #24046
I am -1 due to ambiguity. I don't know what the desired behavior of the following is:

[code]

[2019-01-07 16:31] toobaz commented on #24046
No, it's not. But as already stated, if ``df.set_index(values_rather_than_keys)`` is a regrettable legacy causing ambiguity in the API, we'd rather not enhance its usage by paralleling it with ``Series.set_index``, which would do _only_ that (which is already done by ``Series.set_axis``). I actually [suggested](https://github.com/pandas-dev/pandas/issues/24046#issuecomment-451827403) deprecating i

[2019-01-07 16:32] TomAugspurger commented on #24046
@toobaz my apologies, I missed the paragraph where you suggested deprecating it. Indeed, if we want to deprecate that then we should go forward in #22225.

[2019-01-07 16:42] TomAugspurger commented on #24046
On deprecating passing values, rather that column labels to `DataFrame.set_index`: I don't think we should deprecate that. While there is ambiguity, as noted in @WillAyd's example in
https://github.com/pandas-dev/pandas/issues/24046#issuecomment-451991224, I think it's quite useful to pass a *mix* of labels and keys.

[code]

Without that, I think you'd have some ugly

[code]

[2019-01-07 16:45] jreback commented on #24046
you could just raise / warn on ambguity

[2019-01-07 16:46] jreback commented on #24046
this needs coupling with possibly deprecating set_axis as well
because passing values is not documented in any way

[2019-01-07 16:49] jorisvandenbossche commented on #24046
I would personally be happy to get rid of `set_axis`, but I think the main problem there is that we don't have an alternative for `df.set_axis(['a', 'b'], axis=1)` (setting column names) ?

[2019-01-07 16:57] toobaz commented on #24046
Deprecating the one method that works as expected?!

The problem is also for ``axis=0``... (unless you know about the nested list trick)

[2019-01-07 17:05] toobaz commented on #24046
I would never do this in my code (I would rather add a column, use ``set_index(append=True)`` and possibly reorder levels). But sure, in this case ``set_index`` is strictly more powerful...

[2019-01-07 18:45] mdboom commented on #15889
For Pyodide, the plan is to soon have the Pandas regression test suite running inside of the WebAssembly browser environment (which is currently 32-bit).  So we should at least catch these things independently of upstream at some point and its nice to hear you aren't opposed to accepting patches to fix such things.  But obviously my selfish preference would be to have some 32-bit testing and offic

[2019-01-07 18:57] jjhelmus commented on #15889
32-bit ARM is still an activate platform.  The major Linux distributions maintain a 32-bit ARM port (armhf or armhfp).  In addition, Raspbian, the default distribution for all models of the Raspberry Pi, is a 32-bit platform.

[2019-01-07 19:22] h-vetinari commented on #24046
That was exactly my point - and locking an on-going discussion is not an argument. But enough of that, thanks for reverting the lock @jreback and the other voices who expressed support.

---------------

The other contributions are quite divergent, so I won't address them one-by-one.

I attempted as much in the OP (under the assumption that `set_axis` would not be deprecated), but I'll try again,

[2019-01-07 20:05] jreback commented on #15889
we don’t have on demand CI testing, only once a day
so very hard to test things

if we could have a 32-bit azure build then would solve these things

[2019-01-07 20:09] wesm commented on #15889
You can run Docker in Travis CI, so I think you could have a 32-bit Dockerfile to test things

[2019-01-07 20:16] scottcode commented on #15276
Issue #8953 that @bsaunders23 mentioned also shows a way to "monkey patch" (fix it at run time). I tried it, and a 20k dataset that took 10+ minutes to upload then took only 4 seconds.

[2019-01-07 20:31] TomAugspurger commented on #24046
Thanks for the summary @h-vetinari. I think you've accurately summarized my views on 1, 2, and 3. I don't have any thoughts on changing `set_axis` right now.

I probably wouldn't either :) But I can see it being useful.

[2019-01-07 20:44] jbrockmendel commented on #24559
I've made things more difficult here by voicing opinions while being misinformed.  Apologies all around.

Recap/Double-Checking behavior from 0.23.4 and master.  In all cases passing tz/dtype corresponding to US/Pacific.

[code]

master
[code]

0.23.4
[code]

In both 0.23.4 and master, `Timestamp.__new__` treats all i8, M8[ns], and f8 as unix timestamps.

In both 0.23.4 and master, both `DTA.__ini

[2019-01-07 20:56] stevenbw commented on #24472
Hi @WillAyd, is this issue still open? If so I would be interested in giving it a shot :)

[2019-01-07 20:57] WillAyd commented on #24472
@stevenbw for sure - PRs are always welcome!

[2019-01-07 21:32] TomAugspurger commented on #22192
Gotta fix this so that we can ensure things are installing from an sdist properly. Looking into this now.

[2019-01-07 21:39] TomAugspurger commented on #22192
Modifying the call to the C compiler to include `-Ipandas/_libs/tslibs` fixes the problem. Just need to figure out where all those includes are set in the `setup.py` I think...

[2019-01-07 22:54] toobaz commented on #24046
By the way: this is the only reason I see for not deprecating/discouraging passing values to ``DataFrame.set_index``... and it is a use case that ``Series.set_index`` would _not_ cover.

[2019-01-07 23:00] TomAugspurger commented on #24559
I'm having some trouble following the samples in
https://github.com/pandas-dev/pandas/issues/24559#issuecomment-452075476, but I think that your

is correct.

Can you clarify the difference between your option 1 and 3? Is the difference the handling of i8 values in DTI._simple_new?

[2019-01-07 23:07] jbrockmendel commented on #24559
None of the options I have in mind touch `_simple_new`.

In option 1, `DTI.__new__` behavior is reverted to 0.23.4, where both int64 and datetime64[ns] are treated as wall-times.  This is the maximally-different-from-Timestamp behavior, but the minimal-user-facing-change option.

In option 3, `DTI.__new__` is behavior changed to fully match Timestamp behavior (and `DTA.__init__` behavior, for the

[2019-01-07 23:59] h-vetinari commented on #24046
It *is* documented (albeit scarcely) in `v0.23.4` resp. [master](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html):

This parameter bullet has no description either, so that last "/ arrays" has to be counted as documentation for sure, IMO.

---------------------

Why not make `DataFrame.set_axis(..., axis=0)` equal in capabilities to `DataFrame.set_index`? The

[2019-01-08 00:33] mroeschke opened #24667 "DEPR: copy argument in DataFrame/Series.tz_localize/tz_convert"
ref: https://github.com/pandas-dev/pandas/pull/24657#issuecomment-451959299

The `copy` argument in these methods should be deprecated in favor of `inplace` to be consistent with other methods.

[2019-01-08 00:47] jorisvandenbossche commented on #24559
Thanks for the overview @jbrockmendel

I also agree that treating integers as unix timestamps would be the preferred behaviour (without the historical baggage)
Are we then agreeing that the current behaviour in master is the long term behaviour we would like to see? So integers consistently as unix timestamps across constructors, but meaning that ints and ints viewed as M8[ns] will be treated diff

[2019-01-08 00:55] jorisvandenbossche commented on #15889
Thanks all for the feedback!
I think is is clear that we want to keep (some level of) support for int32?

Personally I would keep an explicit support (and therefore look for ways to improve the testing situation (test it on CI for PRs to have an easier feedback loop)), compared to an "patches welcome" kind of support.

Yes, that's basically what I linked to in https://github.com/scikit-learn/sciki

[2019-01-08 00:56] jreback commented on #15889
we already run a 32bit CI in our wheel builder
but that setup is completely different than our current setup

might be easier to add an azure build i think as they start with docker images

[2019-01-08 01:16] gfyoung commented on #15889
@jorisvandenbossche : There has been one open for a couple of years now by @jreback himself:

https://github.com/pandas-dev/pandas/issues/13715

@jreback : Ideally, if they just had a pool for 32-bit, that would be ideal.  That being said, Docker looks to be the way to go on [Azure](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=vsts&tabs=yaml) or [Travis](ht

[2019-01-08 02:39] Patolord commented on #23638
same issue, did you solved it?

[2019-01-08 02:45] TomAugspurger commented on #23638
Those collection errors are fixed on master. You can wait until 0.24 is released (release candidate this week) or downgrade your pytest.

[2019-01-08 02:51] #22192 closed

[2019-01-08 08:39] anjsudh opened #24670 "'BinOp' object has no attribute 'value' Issue while calling global functions in eval and importing numpy"
[code]

[2019-01-08 09:17] toobaz commented on #24046
OK, I think we're (I'm, at least) getting lost... so forget for a moment the current API, assume we start from scratch. We want the following:

1. set ``DataFrame.index`` from single column key
2. set ``DataFrame.index`` from sequence of values
3. set ``DataFrame.index`` from sequence of column keys
4. set ``DataFrame.index`` from sequence of sequences of values
5. mix 3. and 4.

All of these are

[2019-01-08 11:30] nokados commented on #4193
Use this gist to paginate pandas Dataframe within Jupyter Notebook:
https://gist.github.com/nokados/e8f0a64b55099f2f07a50f2b090c91c7

[2019-01-08 11:36] nheeren opened #24671 "ValueError when using multi-level sum on Pandas DataFrame with empty columns"
#### Code Sample

[code]
#### Problem description

See also: https://stackoverflow.com/q/54081566/2075003

The issue are empty columns in the Dataframe. Using `df.fillna(0).sum(level=[1,2], axis=1)` is a workaround but removes `None` values (obviously). Using `df.transpose().sum(level=[1,2], axis=1).transpose()` is another workaround, but very slow.

#### Expected Output

A summed df.

[code]

###

[2019-01-08 11:42] nheeren commented on #24671
Seems identical to https://github.com/pandas-dev/pandas/issues/24251 – sorry

[2019-01-08 11:44] nheeren commented on #24251
Just filed a similar issue https://github.com/pandas-dev/pandas/issues/24671 based on https://stackoverflow.com/q/54081566/2075003.
Please close if appropriate.

[2019-01-08 12:21] aravindkota opened #24672 "error: File "pandas/_libs/hashtable_class_helper.pxi", line 1500, in pandas._libs.hashtable.PyObjectHashTable.get_item KeyError: 0"
I am getting an error for the following line in the code:

'ids_train = pd.Series(df_train[0]).map(lambda s: s.split('.')[0])'
 in a tensorflow gpu environment on ubuntu 16.04 system.

error:
Traceback (most recent call last):
  File "/home/a/anaconda3/envs/tf_gpu/lib/python3.5/site-packages/pandas/core/indexes/base.py", line 3078, in get_loc
    return self._engine.get_loc(key)
  File "pandas/_li

[2019-01-08 12:41] TomAugspurger commented on #24662
@jorisvandenbossche would you expect the following to be stuck in an ExtensionBlock (backed by a TimedeltaArra), or a TimedeltaBlock (backend by an ndarray)?

[code]

For now, I think this should continue to be a TimedeltaBlock.

[2019-01-08 12:45] jorisvandenbossche commented on #24662
Yes, that is what I expect as well (so that for those arrays a special case is made to construct a different kind of block). Because we should internally have only one way to store timedelta data.

[2019-01-08 13:01] jreback commented on #15889
@pandas-dev/pandas-core since consensus appears to be to keep 32-bit, then let's make a concerted effort to enable this on per-commit CI to enable actual testing, rather than post-facto fixing, which is really a PITA.

[2019-01-08 13:15] jreback commented on #24611
any idea on this @TomAugspurger @jbrockmendel

[2019-01-08 13:20] TomAugspurger commented on #24611
IIRC, I wasn't able to reproduce locally.

On Tue, Jan 8, 2019 at 7:15 AM Jeff Reback <notifications@github.com> wrote:

[2019-01-08 15:02] jorisvandenbossche commented on #24667
Whether we want to do this or not might depend on the discussion in https://github.com/pandas-dev/pandas/issues/16529

[2019-01-08 15:06] jorisvandenbossche opened #24673 "DOC: add "experimental" warning to some new array-related features?"
I would propose to add some "experimental" warnings in certain docstrings / parts of the whatsnew for the new array-related functionality we are adding in 0.24.0. Thoughts about that?

And if we do that, where should we add it? I was thinking about `IntegerArray`, `pd.array`, `PandasArray`, maybe `.array` attribute

[2019-01-08 15:45] datapythonista commented on #24451
I'm waiting to see if anyone else wants to give feedback in #24499 before working on it. But I don't see the reorganisation of the full docs happening at "some point", but in the near future. :)

I think not much later after that is merged, it would be a good time to change the sphinx style, and we could switch to pandas.io (and dev.pandas.io) at the same time.

While I totally understand your poi

[2019-01-08 15:51] TomAugspurger commented on #24673
Fine by me. What do we anticipate changing? I could see some corner cases in `pd.array`.

 Probably `PandasArray` as well, (and so perhaps `Series/Index.array` by extension).

[2019-01-08 15:53] henlue opened #24675 "Segmentation fault after set_categories()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The segmentation fault occurs,
 - if `set_categories()` is called with fewer new categories than original categories
 - and rename is set true
 - as soon as the data is accessed.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bi

[2019-01-08 16:47] WillAyd commented on #24251
I think the issue is more clearly illustrated in @nheeren issue so closing this one and let's manage through that

[2019-01-08 16:47] #24251 closed

[2019-01-08 16:47] WillAyd commented on #24671
Thanks for the report. Investigation and PRs are always welcome!

[2019-01-08 16:49] WillAyd commented on #24670
Thanks for the report. Investigation and PRs are always welcome

[2019-01-08 16:51] WillAyd commented on #24675
Thanks for the report. Investigation and PRs are always welcome!

[2019-01-08 16:54] WillAyd commented on #24672
As mentioned above this is lacking a lot of required information. It's at the very least not clear what type of objects you are indexing and what their structure is, so it's entirely plausible to be getting a KeyError here.

If you can provide the information as requested above feel free to reopen!

[2019-01-08 16:54] #24672 closed

[2019-01-08 17:46] jschendel commented on #24675
Simplifying a little, the same thing happens when working directly with a `Categorical`:
[code]

[2019-01-08 19:40] #24656 closed

[2019-01-08 21:44] stevenbw commented on #24472
@WillAyd Just want to make sure I am interpreting this correctly. The only change is to move the `TestXlrdReader` class into its own file from test_excel?

[2019-01-08 21:48] WillAyd commented on #24472
At the very least want to create a sub directory for excel which has a base.py and an xlrd.py which logically separate the tests. There may be other logical organization points so if you have ideas on that certainly open to it.

Cc @gfyoung if you have any other thoughts to offer

[2019-01-08 21:58] timhunderwood commented on #24218
I had a look at pandas/tests/test_window.py - I think this issue is a duplicate of https://github.com/pandas-dev/pandas/issues/21704 and was fixed in https://github.com/pandas-dev/pandas/pull/21853. This PR also added `pandas.tests.test_window.TestRolling#test_closed_min_max_datetime` which tests all the combinations of closed and should cover the above case.

Hope that helps - let me know if you

[2019-01-08 22:24] gfyoung commented on #24472
@WillAyd : I think you explained it pretty well here!

@stevenbw : Just a point of guidance.  The idea is to hopefully create smaller, more modular tests in the spirit of `pytest`, hence why we would like to split the tests up instead of having one massive file.

There might also be opportunities to leverage more `pytest` idiom such as fixtures and parameterizations, but we can cross that bridge l

[2019-01-08 22:34] jreback commented on #24218
thanks

[2019-01-08 22:34] #24218 closed

[2019-01-09 00:58] selik commented on #11704
It looks like `is_sequence`'s test of `iter(obj)` catching `TypeError` and `AttributeError` is inconsistent with `__iter__` raising `NotImplementedError`.

https://github.com/pandas-dev/pandas/blob/caf462c2a7699daf4b149d49f5aeaff822700113/pandas/core/dtypes/inference.py#L495

Reverting to the old behavior won't fix this, because `iter(obj)` would cause a `KeyError`, which is also unexpected.

@top

[2019-01-09 08:34] h-vetinari commented on #24046
I think it's not *so* problematic if documented well. As you mentioned further up, `groupby` does similar gymnastics. I forgot to add that option to the table above.

It's not central to the discussion here, but ideally, I'd like to solve the ambiguity *and* make `set_axis` have the same capabilities. Because setting an index IS setting an axis (and if you want to distinguish 1./3. from 2./4. by m

[2019-01-09 10:46] tastyminerals opened #24681 "Why does pandas.read_csv converts strings to NaN?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

data_file is a huge csv file with `\t` delimited 8 columns.
This file contains the following several rows.

[code]

Once pandas read this csv the data the second column starts to look the following way:

[code]

Why on earth does pandas convert two "n/a" strings into `NaN`?

#### Output of ``pd.show_versions()`

[2019-01-09 11:45] SimonOsipov opened #24682 "Memroy Error during read_sql_table and read_csv"
#### Code Sample

[code]
or
[code]

#### Specs:

**RAM** 32 GB
**CPU** IntelCore i7 4GHz
**Python** 3.7.1
**pandas** 0.23.4
**OS** Windows 10 (x64)

#### Setup
Data is in MySQL DB (5.6.38), 9 columns (7 `int`, 2 `DateTime`). DB is on the local machine, so no internet bandwidth issues.
22 mil. rows of data.
Same in CSV - 1.5 GB

#### Expected Output
I expect to get `dataframe` but face `MemoryError

[2019-01-09 12:01] jreback commented on #24046
When I evaluate an API change I try to achieve multiple objectives:

1) simple mental model
2) consistency

The most prevalent usecase ``DataFrame.set_index`` is one to set ``keys`` (from columns). This is a simple model and works well. Array values are *barely* documented and have a very limited set of test case, thus they are a rarely used case.

Adding ``Series.set_index`` would shift the prima

[2019-01-09 12:11] #24675 closed

[2019-01-09 12:15] #24569 closed

[2019-01-09 12:27] jorisvandenbossche opened #24683 "BUG: set_index with passing key of first level of MI produces invalid result"
I didn't find yet a small reproducible example, but with the actual (also small) data, I see the following problem:

[code]

When doing a `set_index` with a key of the first level of the index (which I think is not supported), it actually gives a result, but an invalid one, which is illustrated by the repr that is erroring:

[code]

The invalid part is that `res.index` seems to be an Int64Index, b

[2019-01-09 12:32] jorisvandenbossche commented on #24683
And here a smaller example (with floats, same problem):

[code]

[2019-01-09 12:35] jorisvandenbossche commented on #24681
Because on earth, "n/a" is often used as the specifier for missing data, and in pandas NaN is used for missing data.

If you want to disable those default strings to be parsed as NaN, you can use the `keep_default_na=False, na_values=[""]` keyword arguments. See here for more details: https://pandas.pydata.org/pandas-docs/stable/io.html#na-values

[2019-01-09 12:35] #24681 closed

[2019-01-09 12:41] TomAugspurger commented on #24046
How do we know that setting arrays with DataFrame.set_index isn't common?

Would you say that, from a consistency point of view, accepting an array
for Series.set_index is *more* consistent
than not?

On Wed, Jan 9, 2019 at 6:01 AM Jeff Reback <notifications@github.com> wrote:

[2019-01-09 13:19] jorisvandenbossche commented on #15889
OK, let's close this then in favor of #13715. I will move some of the ideas mentioned here about testing there.

[2019-01-09 13:19] #15889 closed

[2019-01-09 13:37] h-vetinari commented on #24046
@jreback
Thanks for taking the time for a comprehensive answer.

I agree with @TomAugspurger that we can't know the prevalence a-priori. `df.set_index(df2.index)` is simply too intuitive, and *just works* (assuming the same length), without having a look in the docs at all. Same for `df.set_index([df2.index, df3.some_column])`.

It is extensively tested, already before #22236 (but even more extens

[2019-01-09 13:45] jorisvandenbossche commented on #24559
Putting Tom's comment from  here:

https://github.com/pandas-dev/pandas/issues/24559#issuecomment-452075476 has a nice summary.

@jorisvandenbossche prefers

1. Reverting the change to `DTI.__new__` for passing integers. Add a warning that it'll change in the future.
2. Keep `DTA.__init__`  as it is now (same as Timestamp IIRC)

I think that's my (=Tom's) preference as well, if I understand things

[2019-01-09 13:54] jreback commented on #24046
easy enough, its barely documents, and I have *never* seen a bug report about this.

for Series.set_index is *more* consistent
than not?

no, this is very confusing because it is *different* than the primary usecase for ``Dataframe.set_index``.

@h-vetinari

Show me where this is in the documentation

no this is stricty worse and more confusing.

I am not concerned about performance; being consist

[2019-01-09 13:59] zhuoqiang commented on #23931
same bug here:

while the following works fine

[code]

if we change tz to a specific time zone, like following:

[code]

it failed:

[code]

**pandas.__version__ == '0.23.4'**

[2019-01-09 14:01] jorisvandenbossche commented on #24559
Sorry, I am still missing something here.

I think we agreed somehow that we want "integers -> unix time, datetime64 -> wall time" (which is what DatetimeIndex is doing on master) on the long term ?

On master (compared to 0.23.4), DatetimeIndex changed to treat integers as unix time (instead of wall time), but kept datetime64 as wall time. One reason that was mentioned above was consistency with

[2019-01-09 14:08] TomAugspurger commented on #24559
Sorry, I misunderstood the timestamp behavior.

[2019-01-09 14:12] TomAugspurger commented on #23931
FYI, `pd.merge` works fine for these. Something is buggy in `join` before it calls the merge code.

[2019-01-09 14:13] jorisvandenbossche commented on #24559
One nice thing about the current DatetimeArray behaviour (in master it treats both ints and M8 as unix time, i.e. what is stored under the hood): `DatetimeArray(arr)._data == arr` is always true for M8 data, regardless whether a tz-aware dtype is passed or not.

Example with actual example:

[code]

So the passed array is simply what is stored under the hood, without any work done by DatetimeArray

[2019-01-09 14:15] jorisvandenbossche commented on #24559
No no, it was generally put forward as a reason, not just by you :-)  And I am also only realizing this now

[2019-01-09 14:48] TomAugspurger opened #24684 "DTA/TDI init methods"
(placeholder for now. will fill in later.)

These methods are starting to use sequence_to_td/dt64ns, which makes them parse strings, which some of use don't want. Those methods also do redundant type checking, which induces overhead over our ideal of a simple init.

xref https://github.com/pandas-dev/pandas/pull/24666 and the DTA issue I'll add later.

Not a blocker for the RC.

[2019-01-09 15:03] jorisvandenbossche commented on #24559
OK, turned @jbrockmendel code into a table (and added the result for his open PR as well):

constructor | arg_type | 0.24.3 | master | #24623
-- | -- | -- | -- | --
Timestamp | int64 | unix epoch | unix epoch | unix epoch
Timestamp | datetime64 | unix epoch | unix epoch | unix epoch
DatetimeIndex | int64 | wall time | unix epoch | unix epoch
DatetimeIndex | datetime64 | wall time | wall time | wal

[2019-01-09 15:19] tastyminerals commented on #24681
It sounds like a serious argument. Sincerely hope you did research and do have data to support the argument. And even if you did, it should have been not `keep_default_na=False` but `treat_special_strings_as_na=True`.

[2019-01-09 15:59] WillAyd commented on #24682
Unfortunately there is not a look to help with as nothing here is reproducible. I get the impression given the amount of memory on your computer that you aren't expecting to get that error with a CSV file that is only 1.5 GB, though keep in mind that the memory used to build Python objects in memory is not the same as hard disk storage.

Do you have a way of isolating this to part of the data?

[2019-01-09 16:40] ericksc opened #24685 "pd.Concat with empty series drops series.name and series.index.name"
#### Concat with empty Series

Using the following code:

[code]
#### Problem description
The code pasted intend to probe the what if an empty series is concated with a series fully defined
To get the expected result:
Same series with name expected name and index.
![image](https://user-images.githubusercontent.com/20059518/50913462-08afc700-13fa-11e9-8f99-8e22019ef149.png)

at pandas 0.17 it works

[2019-01-09 18:09] mroeschke commented on #24685
I can also reproduce on master

[code]

[2019-01-09 18:46] summonholmes opened #24687 "Styler background_gradient cmap with tuple indices sometimes resulting in ValueError"
#### Full demo of the issue (Breakage occurs prior to highlighting cells, as shown in the pictures)
[code]
![picture1](https://user-images.githubusercontent.com/17303881/50920296-0312ab00-1413-11e9-8877-0ce1a0686dfd.png)

[code]
![picture4](https://user-images.githubusercontent.com/17303881/50920648-e9be2e80-1413-11e9-922f-cda2ead66f09.png)

[code]
![picture3](https://user-images.githubusercontent

[2019-01-09 18:47] mroeschke commented on #24559
Thanks for this @jorisvandenbossche! Your code looks correct to me.

I am partial to Option 3, but for `datetime64` for `Timestamp` arguments to be interpreted as wall time like the other constructors. I think at minimum it would be ideal to have consistent handling of an argument type across constructors (regardless of high level vs low level).

Agreed that `tz` in the constructor has been ill-de

[2019-01-09 18:54] h-vetinari commented on #24046
[0.12](https://pandas.pydata.org/pandas-docs/version/0.12/generated/pandas.DataFrame.set_index.html) - [0.20.3](https://pandas.pydata.org/pandas-docs/version/0.20.3/generated/pandas.DataFrame.set_index.html) (very likely even further back; 0.12 is the oldest one online):
[code]

[0.21.0](https://pandas.pydata.org/pandas-docs/version/0.21.0/generated/pandas.DataFrame.set_index.html) - [master](http

[2019-01-09 18:59] jorisvandenbossche commented on #24559
I think my current position (but has been quite variable :-)), is that I am -1 on option 3, as I want unix time for both int/datetime for DatetimeArray. I think then option 2 makes the most sense (so in the future to change DatetimeIndex to treat int as epochs), potentially with aligning Timestamp with that (as you mention)

[2019-01-09 19:10] TomAugspurger commented on #24559
@mroeschke I added an option 5 to
https://github.com/pandas-dev/pandas/issues/24559#issuecomment-452779835 that I think is your "Option 3 but for Timestamp to interpret datetime64 as wall time". Can you confirm that I got it right?

[2019-01-09 19:46] WillAyd commented on #24687
Using a tuple as a label is generally not supported, but if you want to take a look PRs are always welcome

[2019-01-09 19:47] gfyoung commented on #24687
cc @TomAugspurger

[2019-01-09 20:33] mroeschke commented on #24559
Per the updated table https://github.com/pandas-dev/pandas/issues/24559#issuecomment-452779835; I am partial toward Option 4 or Option 5 on the basis of argument consistency across constructors even if `DatetimeArray` doesn't explicitly have a `tz` argument. I lean a little more towards Option 5 since datetime64 "appears" more wall-time like datetime strings (subjective opinion).

[2019-01-09 20:41] TomAugspurger commented on #24559
At the dev meeting, we agreed to revert DatetimeIndex's handling of integers back to how it was for 0.23.4.

We haven't reached consensus on the best path going forward.

[2019-01-09 21:08] h-vetinari opened #24688 "DEPR/API: tuples in labels"
I haven't found a previous issue for this despite a bunch of searching, apologies if I overlooked something.

Yes, tuples are hashable and can therefore be used for indexing in principle, but not least with using `df.loc[(lvl1, lvl2), col]` for MultiIndexing, it becomes a big complexity burden to allow tuples as labels.

There are also a couple of places where some inputs take either labels or arr

[2019-01-09 21:39] h-vetinari commented on #23553
milestone ping pong, haha. ;-)

Would this still be acceptable during RC phase? I might be able to make some time.

[2019-01-09 21:50] jorisvandenbossche commented on #24688
As long as we have MultiIndex, I am not sure it is possible to get rid of all cases where you might end up with tuples.

First, when referring to a MultiIndex key, you need to use a tuple. Eg the `set_index` you mentioned. Even when disallowing tuples as column names, you would still need to use a tuple to refer to a column in case of MultiIndexed columns. So disallowing tuples will not solve the

[2019-01-09 21:56] WillAyd commented on #24688
Wouldn't this exactly solve that? Today it's potentially unclear whether a tuple used as an indexer refers to a location in a MultiIndex or one particular label that happens to be a tuple. If we disallow the latter, the ambiguity is gone, no?

[2019-01-09 22:00] h-vetinari commented on #24688
This was badly formulated on my part. Of course, the tuples would be necessary for accessing a `MultiIndex`. I was talking about the (say:) atomic unit of labels within `Index/MultiIndex`. [just saw that @WillAyd posted essentially the same while I'm writing]

Your second example is intriguing and more relevant. Because with `reset_index()` it'd be back in the columns. Another thing (i.e. setting

[2019-01-09 22:00] SimonOsipov commented on #24682
Yes, you get the impression right, I have plenty RAM, but get `Memory Error`
And, yes, we are talking about RAM, not hard disk storage, I know the difference.

What do you mean under "isolating this to part of the data"? You mean, create file with same columns but dummy data and share for testing?

[2019-01-09 22:04] jorisvandenbossche commented on #24688
The ambiguity I referred to was the one between a tuple as values vs a tuple as a single label (but indeed, for sure, the amount of ambiguous cases decreases a bit :-))

Whether the tuple label is referring to a tuple key in a flat index or to a single key of multi-level columns, it is still this tuple that is conflicting with tuple as array-like (that is how I interpreted "because one needs to ch

[2019-01-09 22:07] h-vetinari commented on #24688
@jorisvandenbossche

On second thought, it may be sufficient to allow tuples in `MultiIndex.names` (which is not an `Index`), and when doing something like `.reset_index` the tuple would only be allowed to be inserted back into the columns if those are (as in your example) *already a `MultiIndex`* (with the right number of levels)

[2019-01-09 22:07] jorisvandenbossche commented on #24559
And I added option 6 ... (which is the one I mentioned above)
So Option 5 is like Option 3 but with aligning Timestamp and DatetimeIndex, and Option 6 is like Option 2 but with aligning Timestamp and DatetimeIndex

[2019-01-09 22:12] h-vetinari commented on #24688
You're right there as well, those cases would still need extra logic (for a good reason, as you showed in the example).

But I'm guessing the vast majority of bugs are due to your first point (i.e. using "tuple-as-single-label"), so that would still be a substantial improvement/simplification (considering the complexity it would need to not just crash and burn as the OP illustrated)

[2019-01-09 22:16] jorisvandenbossche commented on #24688
Yes, if we are speaking about bugs and not ambiguities/complexities in the API, you are probably right.
Although I think the example bugs you showed is a quite esoteric use case (a MultiIndex where one level contains tuples). I think a more common case is a single flat index / columns that contains tuples, which might be a bit less buggy (just a guess).

[2019-01-09 22:56] robbuckley opened #24689 "test_dti_tz_localize_roundtrip fails locally"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Fails locally but passes in CI on the same commit. Its because the test fixture includes `tzlocal()`, and for some timezones (incl most of europe), one of the testcases spans a DST transition:

`date_range(start='2014-08-01', end='2014-10-31', freq='T')`

#### Expected Output

should pass, regardless of the loc

[2019-01-09 22:57] jbrockmendel commented on #24559
@mroeschke can you comment on test_construction_int_rountrip from #21674?  AFAICT reverting to 0.23.4 behavior means breaking this test.

For anyone wondering it also breaks pandas/tests/indexes/datetimes/test_construction.py test_constructor_with_int_tz, test_construction_with_alt_tz_localize in ways that do not look fixable

[2019-01-09 23:00] jbrockmendel commented on #24559
BTW I'm with @mroeschke in being OK with either Option4 or Option5, with a slight preference toward Option5.

[2019-01-09 23:10] mroeschke commented on #24559
@jbrockmendel Looks like I grabbed the test from the bottom example of this comment: https://github.com/pandas-dev/pandas/issues/12619#issuecomment-204760329

I believe test_construction_int_rountrip should break with the rollback because it assumes the input int argument is an epoch timestamp.

Should we xfail these tests until we decide the behavior of passing ints into `DTI`?

[2019-01-09 23:18] jbrockmendel commented on #24559
The thing is there are 51 failing tests (fewer if we don't count parametrized tests separately)...

Wait.. everybody wait!  I have good news!

https://github.com/pandas-dev/pandas/pull/21216/files#diff-87b716a95c390fb4d6ffe62b1626ce73R39

We've documented the DTI i8 behavior change already!

[2019-01-09 23:18] jbrockmendel commented on #24559
Wait... holy cow wait!  We’ve documented the i8 behavior change!  #21216

[2019-01-09 23:19] jorisvandenbossche commented on #24559
Yes, we documented the change, as we did it deliberately. But we came back on that deciding we want a deprecation instead.

[2019-01-09 23:22] jbrockmendel commented on #24559
Either way, I'm calling this good enough that I'm going to get lunch instead of banging my head against these test failures.

[2019-01-09 23:43] dickreuter opened #24690 "core\common.py:496: ModuleNotFoundError"
In circumstances that I cannot reproduce in a small code example, I get the following error:

When looking at common.py, it seems that __main__ does indeed not exist. Does anybody know why and under what circumstances this is called?

[code]

[2019-01-09 23:44] mroeschke commented on #24559
I think in theory #21216 should have changed the behavior of for int arrays as well despite me only mentioning Int64Index in the whatsnew.

Looks like I included tests for this case as well: https://github.com/pandas-dev/pandas/pull/21216/files#diff-f368eb7eb824bd248bf961916d6de7eaR492

[2019-01-09 23:53] jbrockmendel commented on #24559
Yah, the fact that it is tested and documented makes me much more willing to accept the status quo.

@TomAugspurger https://github.com/jbrockmendel/pandas/tree/i8revert2

[2019-01-09 23:56] jreback commented on #24559
I like option 4 or 5 (slight preference), don't reallly love 6

[2019-01-10 00:01] jorisvandenbossche commented on #24559
Regarding Option 5, I am -1 on that for the reason of wanting to keep the DatetimeArray simple (doing no work in the base case) and consistent for ints / datetime64. For the same reason that `DatetimeIndex._simple_new` now treats both ints and datetimes as UTC unix epochs (and I see `DatetimeArray` more similar to `DatetimeIndex._simple_new` as to `DatetimeIndex`).

But, I don't really like making

[2019-01-10 00:08] jorisvandenbossche commented on #24559
And in case it might be useful, the experiment I did earlier today: https://github.com/pandas-dev/pandas/compare/master...jorisvandenbossche:i8revert?expand=1 (only changed the DatetimeIndex constructor without fixing any of the consequential failures)

[2019-01-10 00:19] jorisvandenbossche commented on #24451
It's not only about search engines, but also all the links to docstring pages in blogs, StackOverflow answers, ...

When we would move to pandas.io, I assume we will also have redirects from pandas.pydata.org/pandas-docs/ over there no?

Certainly true for all the user guide docs. But even with a fantastic navigation, I will probably still keep using google to go to a specific docstring page :)

A

[2019-01-10 00:32] jorisvandenbossche commented on #24499
Also, I know it will be annoying to keep those PRs open for a while (and keeping up to date with changes in master), so it might be preferred to merge them rather quickly.
But, I think we should discuss whether we only want to do this after 0.24 is released, given how close we are to the release (those PRs will break links, and if we still do some further changes we might continue breaking some li

[2019-01-10 00:50] datapythonista commented on #24499
Not sure about 0.24, you'll know better. We're already changing the links of all the api/ since `api.rst` was splitted, so I'd say let's try to make the structure as close as what we want for the future for 0.24 already.

Reorganizing the current pages should be quite fast, there are almost PRs for everything, except few pages that we'll require some discussion. But some changes will surely happen

[2019-01-10 01:12] datapythonista commented on #24451
I see your point, there is obviously a tradeoff on not breaking the urls around, and keeping things simple.

I'm biased towards keeping things simple. But if there is agreement that the impact of breaking the old links would be bad enough that it's worth adding the complexity of the redirects to the docs, that's ok with me.

[2019-01-10 01:15] datapythonista commented on #24451
About the `generated/`, I agree, I didn't come with a better name and that's why I left it. `api/` is taken by the API sections, and I wouldn't have the generated pages in the same level. But something else sounds good. And I'd also consider having different directories for the generated pages, there are 2,700 html files in the `generated/` directory.

[2019-01-10 02:16] mbirdi commented on #24499
I'd like to help with this one if I can.  I'm a regular pandas user, but I have not contributed on github much and and would need some guidance.

[2019-01-10 03:19] gfyoung commented on #24689
@robbuckley : That's a good catch.  Perhaps we could monkey-patch `tzlocal` to return in different timezones to test that case (don't think we need to change locale entirely for this).

PR to address this would be welcomed!

[2019-01-10 03:19] gfyoung commented on #24689
cc @mroeschke

[2019-01-10 06:45] mroeschke commented on #24689
I'd be ideal to test `tzlocal` in various locales to catch errors like this. A couple of things:

1) What is your system's local timezone?
2) Does this test still pass if you replace `tzlocal` with `dateutil/your_timezone`

[2019-01-10 06:55] h-vetinari commented on #24046
Let me extract that last idea a bit, lest it get lost in the larger post above:

How about deprecating `list`-likes that are not `array`-like? This would be:
* the least invasive change
* resolve the ambiguity of `list_of_scalar`
* retain the existing and long-documented capability to:
    * use arrays
    * mix column keys with arrays

@jreback @jorisvandenbossche @TomAugspurger @toobaz @WillAyd

[2019-01-10 07:53] Antsypc opened #24696 "Disk increase extremly after modify DataFrame instance and copy its np.ndarray to list"
#### Code Sample
Versions: `python 3.6.5`, `pandas 0.23.0`, `numpy 1.14.3`, `macOS 10.14.1`

[code]

#### Problem description
As for-loop code above, I copy numpy.ndarray values from DataFrame instance to a list, then my computer disk increase rapidly from 50G left to 2G left, finally my laptop crashed!

However, if I don't modify `df_data.loc[:, feature_name]`(It means I don't execute if block co

[2019-01-10 08:15] h-vetinari commented on #24046
Almost complete implementation of that last suggestion is in #24697, to better be able to discuss this.

[2019-01-10 08:18] dickreuter commented on #24690
I’m using pandas 0.23.4, which I think is the latest in anaconda.

[2019-01-10 08:34] Shellcat-Zero opened #24698 "MemoryError on Left Merge"
#### Code Sample

[code]
#### Problem description

This problem is occurring on a machine with 384GB memory (Linux), and 64bit python (provided by Miniconda).  The merge is successful on smaller subsets of the 'ccn' dataframe, so I am not sure why it is failing on the full data set, given the dataframe sizes in memory (shown above).  Monitoring the merge process in `top` shows that total memory co

[2019-01-10 09:46] toobaz commented on #24046
I already replied in #24697 ... but I'm afraid more in general your proposal doesn't solve the ambiguity nicely. If in "`list`-likes" you include lists, then

[code]
now doesn't mean _anything_... which is (I guess) worse than it meaning "take these values". If in "`list`-likes" you _exclude_ lists (which, if I understand correctly, is what you do in #24697), then the ambiguity is unaffected.

[2019-01-10 10:09] kostasmarkakis opened #24699 "pandas.to_hdf generates corrupt hd5 for categorical columns containing nan values"
i am experiensing the following problem (pandas 0.23.4):

I have a dataframe that contains categorical columns. these columns have nan values.

I export using:

df.to_hdf(filename, 'hf', mode='w', compression='zlib', complevel=5, index=False, format='table')

when i read the file with:

df = pd.read_hdf(self.fileName, 'hf')

i get:

Traceback (most recent call last):
  File "Python\Main.py", line

[2019-01-10 12:20] h-vetinari commented on #24046
That is indeed the idea (and how it is implemented in #24697). I'd say it's unclear what  `df.set_index([['a', 'b']])` is even supposed to mean (for people who don't know the nested-list trick), and the double braces are easy to overlook.

Lists, like tuples, are used for too many things IMO (causing ambiguities, "magic" methods, and code complexity). I'd also postulate that outside of toy example

[2019-01-10 12:39] TomAugspurger commented on #24690
Under what circumstances is `__main__` not defined? If necessary, we can
but that import in a `try / except` block.

On Thu, Jan 10, 2019 at 2:18 AM Nicolas Dickreuter <notifications@github.com>
wrote:

[2019-01-10 12:54] jreback opened #24700 "CI: flaky hypothesis"
similar to #24641 need to add ``deadline=None``, simliar to #24654

[code]

[2019-01-10 13:04] rajibmitra commented on #24700
I am doing this , thanks for opening this issue.

[2019-01-10 13:12] rajibmitra commented on #24700
#24701 is that ok ?

[2019-01-10 13:30] toobaz opened #24702 "is_list_like should return false for tuples"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

We discussed several times the fact that tuples in pandas should _not_ be considered collections of things, but rather
- ``MultiIndex`` keys, or
- combinations of keys, e.g. one for each dimension of a ``DataFrame``

(simple way to discriminate: if you could easily add an element, it is a collection; if instea

[2019-01-10 13:32] toobaz commented on #24702
By the way: clearly documenting, once and for all, what a "list-like" is in pandas is an essential part of the fix.

[2019-01-10 13:37] dickreuter commented on #24690
In my case I’m running pytest. When I run it individually on the failing test it passes, but then I run it in conjunction with a pylint test, then I get this error.

[2019-01-10 13:38] mbirdi commented on #24499
@datapythonista  Thank you!  I'll look for that "first issue" tag.

[2019-01-10 14:03] rajibmitra commented on #24702
Can I work on documentation part , or its totally internal ?

[2019-01-10 14:06] TomAugspurger commented on #24559
Back to the deprecation warning. What's the expected behavior of `Int64Index.astype('datetime64[ns, tz]')`? That errored on 0.23.4. Should it just be the same as `DatetimeIndex(Index, dtype='datetime64[ns, tz]')`? Should it throw a warning?

[2019-01-10 14:19] TomAugspurger commented on #24690
error.

What do you mean by "pylint test"?

Does `__main__` not existing seem strange to anyone else? If it happen as
part of a normal workflow, then
it'd be fine to catch that exception. But it's abnormal, I'd like to not
catch it to avoid hiding a potentially real issue.

On Thu, Jan 10, 2019 at 7:37 AM Nicolas Dickreuter <notifications@github.com>
wrote:

[2019-01-10 14:28] Flix6x opened #24703 "Timezone information lost when slicing a DataFrame column"
#### Code Sample, a copy-pastable example

[code]
#### Problem description

Slicing a timezone-aware datetime column from a DataFrame creates a timezone-naive Series. The timezone is lost unexpectedly.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: A

[2019-01-10 14:33] TomAugspurger commented on #24703
NumPy doesn't have a native tz-aware datetime.

In 0.24 we're recommending you avoid `.values` for reasons like this. Use either `.array` to get the underlying array, `.to_numpy()` to convert to M8[ns], and `to_numpy(dtype='object')` to convert to an ndarray of Timestamps, which retains the tz.

[code]

See http://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.24.0.html#accessing-the-values-

[2019-01-10 14:33] #24703 closed

[2019-01-10 14:34] thomasfrederikhoeck opened #24704 "Fatal error with astype if duplicate columns are supplied for categorical"
#### Code Sample
Running the following code  for changing type to category runs perfectly
[code]

which returns
[code]
If an extra extra column is faulty added ('a' is added again):

[code]

Python crashes with

[code]
#### Problem description

One would expect pandas to raise an error that there is  duplicate columns or remove duplicate instead of crashing.

I'm using Python 3.6.1 and pandas-0.23

[2019-01-10 14:45] xwang777 commented on #24570
The patch is very simple, I could create pull request easily. However, the tests (python setup.py test) failed right away, but not due to my changes. Anyone please tell me where the problem might be? Thanks

### run test output
(pandas-dev) [02:19:47|xwang0-el7 pandas-xw]$ python setup.py  test
running test
running egg_info
writing pandas.egg-info/PKG-INFO
writing dependency_links to pandas.egg-in

[2019-01-10 14:48] thomasfrederikhoeck commented on #24704
It also seem to be the case when mapping from int64 too (so not specific to object):

[code]

[code]

[2019-01-10 14:50] thomasfrederikhoeck commented on #24704
But not when the astype is 'int64':

[code]

[code]

So it is probably related to category.

[2019-01-10 14:51] #24700 closed

[2019-01-10 14:57] datapythonista opened #24705 "DOC: Redirect moved pages"
Following  up the discussion in https://github.com/pandas-dev/pandas/issues/24451#issuecomment-450862635 and addressing the concerns of merging the PRs of #24499.

The problem is that we've moved many documentation pages (all the API pages, `release.rst`...) we'd like to move many more (almost every page). And we've got two options if we've been discussion so far are:
- Break all the links in sear

[2019-01-10 15:12] TomAugspurger opened #24706 "Pytest Deprecation in test_pytables"
https://github.com/pandas-dev/pandas/blob/021cbae52061b660b2251d6c4dbbfa6d2a246325/pandas/tests/io/test_pytables.py#L3925-L3927

[code]

`message` is deprecated. That should be `match` now.

[2019-01-10 15:15] cristianionescu92 commented on #14553
Hi, @danich1  and thanks a lot for your response. I figured out myself the mechanics of how the update would work. Unfortunately I don't know work how to work with a session, I am quite beginner.

Let me show you what I am doing:

`    import pypyodbc
    from to_sql_newrows import clean_df_db_dups, to_sql_newrows #these are 2 functions I found on GitHub, unfortunately I cannot remember the link.

[2019-01-10 15:17] TomAugspurger commented on #24559
One more question: should `tz='UTC'` emit a warning? IIUC, the behavior of

[code]

will always be the same.

---

Gotta take a break from this until this afternoon. WIP at https://github.com/TomAugspurger/pandas/tree/revert-i8

That's based off @jorisvandenbossche's start. Should be easy to swap in @jbrockmendel's changes to `_from_sequence` if we prefer that to the extra warn parameter.

[2019-01-10 15:31] rajibmitra commented on #24706
I am on it.

[2019-01-10 16:23] mroeschke commented on #24559
I think `Int64Index.astype('datetime64[ns, tz]')` should raise the same warning as `DatetimeIndex(Index, dtype='datetime64[ns, tz]')` as `Index(int64s, dtype='datetime64[ns, tz]')`

I would raise on `UTC` even thought the outcome is the same just to acclimate the user to the fact that passing _any_ tz with ints will change behavior.

[2019-01-10 16:26] summonholmes commented on #24687
For conda pandas 0.23.4,  I added `print(target._ndarray_values)` on line 3259 before the return statement in function `def get_indexer(self, target, method=None, limit=None, tolerance=None)` for file 'miniconda3⁩/envs⁩/⁨pandas_stable/lib/python3.7/site-packages/pandas⁩/core⁩/indexes⁩/base.py'.   I noticed that on a successful run, the entries will look like this:
[code]
![picture5](https://user-i

[2019-01-10 16:32] mortonjt opened #24709 "Unexpected mutable behavior on DataFrame columns"
[code]
#### Problem description

It seems a little weird to me that a permutation on the table columns would change the original table.
First off, the `numpy.random.permutation` returns a new array and doesn't alter the original input array (proof below)
[code]

Furthermore, even if the `table.columns` were sorted by another operator, I would *hope* that `table.columns` would return a copy of the

[2019-01-10 16:35] jorisvandenbossche commented on #24559
Nice deprecation warning! (I would maybe only mention something regarding the reason for the change? integers seen as unix epoch which is defined to be UTC? (although its nanoseconds so not exactly unix epochs))

Since it stays the same, ideally no, I would say

Ideally the new behaviour IMO (although that might make the implementation more complicated?)
(if we are sure about the new behaviour of

[2019-01-10 16:36] jorisvandenbossche commented on #24559
Hmm, yes, that might be a good argument (although I think, as a user, I would have the reflex to complain about it: "I already specify UTC!")

[2019-01-10 17:56] ebolyen commented on #24709
Hi @mortonjt, @thermokarst and I looked into this and found it's a known issue with numpy:
https://github.com/numpy/numpy/issues/11975

Looks like this was corrected in 1.15.3 and onwards, so we should probably be pinning that as a minimum version for numpy in our recipes.

[2019-01-10 17:58] jschendel commented on #24709
Yes, this is a dupe of #23058 with the underlying cause being a numpy issue.  To resolve the issue you'll need to upgrade to numpy >= 1.15.3 or downgrade to numpy < 1.15.0.

[2019-01-10 17:58] #24709 closed

[2019-01-10 18:04] mortonjt commented on #24709
Thanks for looking into this!

On Thu, Jan 10, 2019, 12:59 PM Jeremy Schendel <notifications@github.com
wrote:

[2019-01-10 18:18] zhihaoy opened #24711 "Please consider switch to standard json module"
#### Problem description

The ujson we currently using is not well maintained, no activity and no response since last two years:
https://github.com/esnme/ultrajson/issues/291
and other projects are switching out of it:
https://github.com/fastavro/fastavro/issues/150
It makes it hard for us to handle new feature requests:
https://github.com/pandas-dev/pandas/issues/12213
and has bugs causing us una

[2019-01-10 18:32] jreback commented on #24711
we use a vendored copy, so if you have a patch could be taken directly in pandas. the ujson is much more performant that the standard library and that is why it is used.

[2019-01-10 18:38] mroeschke commented on #24559
Fair enough. Yeah from a user perspective, it may feel like a false positive warning. My opinion about warning with `UTC` isn't that strong so I'd be fine not emitting a warning in that case.

[2019-01-10 19:00] TomAugspurger commented on #24559
FWIW, I'm ambivalent about warning in the UTC case. Either way has downsides.

[2019-01-10 19:49] jbrockmendel commented on #24559
If long term we want option 5, do we need to get the deprecation for Timestamp behavior in for 0.24.0?

[2019-01-10 19:52] jreback commented on #24696
needs to be a self-contained reproducible example

[2019-01-10 19:54] jreback commented on #24704
you are trying to set with a duplicate

[code]

[2019-01-10 20:11] TomAugspurger commented on #24559
Possibly, but not necessarily for the RC (which I'd like to do immediately
following https://github.com/pandas-dev/pandas/pull/24708)

On Thu, Jan 10, 2019 at 1:49 PM jbrockmendel <notifications@github.com>
wrote:

[2019-01-10 20:12] zhihaoy commented on #24711
There are benchmark showing that in large datasets, ujson doesn't show an advantage against standard library json.  https://www.reddit.com/r/Python/comments/3mtswx/benchmark_of_pythons_alternative_json_libraries/ Moreover, we know as a fact that the json library in PyPy is the fastest (because it's optimized for JIT).  Being said that, if someone really have concern about it, we can add a paramete

[2019-01-10 20:14] TomAugspurger commented on #24711
It's not just performance. The stdlib JSON module doesn't serialize things like  NumPy arrays or scalars.

Does anyone know the status of Arrows's support for JSON (de)/serialization?

[2019-01-10 20:14] jreback commented on #24711
most folks do not use PyPy so not sure that actually matters

if you would like to add an engine kwarg to read_json would be ok

[2019-01-10 20:22] zhihaoy commented on #24711
The unreleased ujson upstream dropped this support since may 2016 (https://github.com/esnme/ultrajson/commit/53f85b1bd6e4f27a3e4cdc605518c48a6c7e7e9e), we still support it (buggyly https://github.com/esnme/ultrajson/issues/221) by accident.  If we want to keep this feature, we should do it properly by specializing on numpy.

[2019-01-10 20:57] jreback opened #24712 "IMPL DTA should *only* hold i8"
seems we have DTA's holding i8 OR M8[ns], see: xref https://github.com/pandas-dev/pandas/pull/24686/files

This is really really odd, and we should not allow this, always converting to i8.

[2019-01-10 20:57] jreback commented on #24712
cc @TomAugspurger @jbrockmendel

[2019-01-10 21:00] jreback commented on #24711
I don't think arrow yet has support for JSON, cc @wesm @pitrou

[2019-01-10 21:01] pitrou commented on #24711
I'm not sure what you mean by support? Arrow C++ has some understanding of JSON, but it doesn't interoperate with Numpy or Pandas arrays.

[2019-01-10 21:15] wesm commented on #24711
@pitrou I think Jeff means support for JSON sufficient to power `pandas.read_json`. @bkietz is working on this in https://issues.apache.org/jira/browse/ARROW-694

I expect that we'll have support for reading and writing JSON sufficient to appease most pandas users on the timeline of Arrow 0.13 or 0.14, so most likely either by end of March or end of May

[2019-01-10 21:18] dickreuter commented on #24690
WIth pylint test I mean something like the attached. It's a test that runs pylint. The pandas error occurs in a different test, but it only occurs when this pylint test is active.

![image](https://user-images.githubusercontent.com/1256318/50997678-1e69dd00-151d-11e9-97fd-84ca86c76a03.png)

[2019-01-10 21:22] TomAugspurger commented on #24712
To clarify, `DatetimeArray._data` is always an M8[ns] ndarray. The constructor accepts either integer or datetime64[ns] values.

[code]

[2019-01-10 21:26] TomAugspurger opened #24713 "Should DatetimeTZDtype normalize the timezone?"
The `.tz` on a `Timestamp` can differ from the `.tz` on the array / index it's contained within

[code]

I gather that this is the correct behavior. My question: since DatetimeTZDtype is only really used when attached to an array, should it automatically normalize the user-provided `tz` to the version that's attached to the array? In code, both of the following

[code]

would be equal to the norma

[2019-01-10 21:33] TomAugspurger commented on #19239
@frndlytm you'll still be able to do that with a DataFrame with sparse values

[code]

or do I misunderstand?

[2019-01-10 21:43] jreback commented on #24712
oh ok, its just sometimes _simple_new is getting i8 and sometimes M8[ns], worth making that consistent? (e.g. having the caller do that)

[2019-01-10 21:44] jreback commented on #24711
thanks @wesm yep that's what I mean. we have legacy c code in ``read_json`` and would be nice to remove it w/o sacrificing perf.

[2019-01-10 21:49] jschendel commented on #24704
It looks like there are actually two issues here:

**1. `DataFrame.astype(ExtensionDtype)` fails with duplicate columns**
[code]
This works for other dtypes when duplicate columns are present, and the fix looks easy, so we could probably support it.

**2. Setting to a `DataFrame[ExtensionDtype]` with duplicate columns results in `object` dtype**

Even if item 1 was fixed, the setting process would

[2019-01-10 21:50] mroeschke commented on #24713
I'm inclined to say yes for the use case of comparing two `pd.DatetimeTZDtype`s internally(?)

[2019-01-10 21:51] milindsmart commented on #24368
I would like to add my vote to actually go through with this performance enhancement (more like performance bug fix): constructing a DataFrame with index and columns as Index objects is around 200 times slower than constructing with np.zeros and then assigning to index and columns... see below. It's really weird and counter-intuitive given how (seemingly?) simple the operation is

[code]

[2019-01-10 21:51] jreback commented on #24704
yeah 1) is ok, 2) is somewhat tricky and prob ok to not support right away.

[2019-01-10 21:54] jbrockmendel commented on #24712
No, it’s allowed specifically so code can be shared by timedelta/datetime/period

[2019-01-10 22:00] TomAugspurger commented on #24368
Yeah, we'll get there, probably for 0.24.1. Just need to do it in a way that's maintainable.

[2019-01-10 22:03] WillAyd commented on #24698
Unfortunately there's not a lot to diagnose with the information provided. Are you sure you aren't generating some kind of cartesian product?

FWIW I'm not sure what the `mem_usage` function you are using is but those numbers seem way off from what I'd expect with normal construction

[code]

[2019-01-10 22:10] robbuckley commented on #24689
my local timezone is GMT/BST. If I add 'Europe/London' to the test fixture, `tz_localize(tz)` fails with `pytz.exceptions.AmbiguousTimeError`. I can get around that by changing it to `tz_localize(tz, ambiguous='NaT')`, then if fails in a very similar way to using `tzlocal()`

I have a proposed patch to the testcase, that addresses this issue. I will submit a PR

[2019-01-10 22:12] robbuckley commented on #24689
@mroeschke not sure what you mean by 'test `tzlocal` in various locales': (1)  overriding the locale in travis or (2) adding timezones to the test fixture?

[2019-01-10 22:31] TomAugspurger commented on #24705
I think that something like

[code]

will automatically redirect users visiting the old page to the destination URL.

[2019-01-10 22:39] TomAugspurger commented on #21860
I suspect then, that it has to do with the handling of regular vs. irregular datetimes.

[code]

I'm not sure what the expected behavior is, but that may help if you want to debug further.

[2019-01-10 22:48] TomAugspurger commented on #24060
I'd like to cut RC1 in ~4 hours, after https://github.com/pandas-dev/pandas/pull/24708 is merged. Any objections?

[2019-01-10 22:49] TomAugspurger commented on #24060
We'll need to discus how conservative we are with merging PRs during the RC period. I don't recall what we did last time (only PRs that are fixing bugs with the RC specifically? Or "small" things are OK?).

[2019-01-10 22:51] robbuckley commented on #24689
OK, thanks. isn't mocking `tzlocal` just equivalent to adding timezones to the fixture? I have a change with that running now, let me know what you think

[2019-01-10 23:00] mroeschke commented on #24689
Essentially there's two things:

1) Handling `tzlocal` objects explicitly in the code base. They take different paths compared to pytz or other dateutil timezone objects.
2) Equivalent to what you're mentioning, evaluating `tzlocal` as if it contained the same offset information as `GMT/BST` or `US/Pacific` or etc...

[2019-01-10 23:10] jreback commented on #24060
ok the RC, yeah small things are ok. If we have *big* then maybe need RC2

[2019-01-10 23:36] datapythonista commented on #24705
Thanks @TomAugspurger , that works in Firefox for me, but added the message anyway, in case older browsers don't support it.

Opened #24715 with it.

[2019-01-10 23:37] mroeschke commented on #24689
Feel free to send a PR with the test change @robbuckley. It will be easier to review that way.

[2019-01-11 02:16] TomAugspurger opened #24716 "DataFrame.to_xarray produces FutureWarning for DatetimeTZ data"
[code]

@shoyer thoughts on how to resolve this? We can continue dropping the timezone and passing datetime64[ns], break API and return an object-dtype array of timestamps, or add a parameter so that the user can control this.

[2019-01-11 02:45] jh-wu opened #24718 "BUG: Offset-based rolling window, with only one raw in dataframe and closed='left', max and min functions make python crash"
#### Code Sample

[code]
#### Problem description

This issue is very much similar to issue #21704. So that I copied its problem description below. The only difference is that there is only one entry in the series, which causes the problem.

"With this rolling and aggregation function, python just crashes. It does too with .min() or .agg(np.max) as aggregation steps. It does not when closed='right

[2019-01-11 02:52] shoyer commented on #24716
This is a little tough: xarray doesn't know what users would prefer in general, either.

In principle, the old behavior was a bug, since we were silently dropping timezones -- though I'm sure some users may have been relying on this. Perhaps the cleanest solution would be to add a `dtypes` argument on an xarray side to allow users to silence the warning.

Either way, this is definitely an xarray b

[2019-01-11 03:34] jbrockmendel commented on #24716
@shoyer I’ve been agitating to make EA allow non-1D arrays, partly so it could be portable enough to be useful directly in e.g. xarray.  If we were to put that in place, would just reshaping the EA be a viable option here?

[2019-01-11 03:51] cciccole opened #24720 "Make bracket selection syntax support numpy-like simultaneous row and column choice"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The code sample pretty much says it all, but it would be nice if bracket notation on dataframe was expanded to support simultaneous selection / indexing of rows and columns. This could be a new addition to the current behavior instead of it simply throwing an error.

Having this functionality would be convenient

[2019-01-11 03:56] Antsypc commented on #24696
@jreback Here is a reproducible example that errors happened in my enviroment.
Versions: `python 3.6.5`, `pandas 0.23.0`, `numpy 1.14.3`, `macOS 10.14.1`

[code]

[2019-01-11 04:03] WillAyd commented on #24696
Have you isolated the issue to a particular line in your code? We typically ask for bug reports to be minimal so as to avoid time wasted on conflating factors

[2019-01-11 04:07] Antsypc commented on #24696
@WillAyd In my code example above that I have tested, if I don't execute `df_data.loc[:, feature_name] = df_data[feature_name].apply(zscore)`, `feats.append()` works well. However as I modify `df_data.loc[:, feature_name] ` and do `feats.append()`, my disk space run out.

[2019-01-11 04:14] Antsypc commented on #24696
@WillAyd Actually, If I normalize `df_data` and save it to disk, then `pd.read_csv` without modification, just do `feats.append()`, disk space run out again. It's very weird. I cannot figure out why this is related to disk, I think all computaion in the merroy. There is nothing about disk stuff. Is that right?

[2019-01-11 04:16] WillAyd commented on #24720
Bracket notation is typically reserved for selection by column label. The problem with trying to support something like this generally I think is going to be ambiguity with slices as to whether or not they refer to positions or indexes of particular elements, which would be especially problematic with non-ordered numeric row labels

[2019-01-11 04:51] shoyer commented on #24716
I don’t know if it’s worth the trouble of ensuring that all extension arrays can handle n-dimensions. My thinking was that the best way to handle this would be to write an adapter that adds shape information to flat pandas objects (either Series or ExtensionArray) that conforms to numpy’s new ‘__array_function__‘ protocol. That’s basically what we would want for xarray.

[2019-01-11 04:52] Antsypc commented on #24696
@WillAyd I'm sorry for my expression. I'm not sure the error stems from pandas either.

The main code are line `df_data.loc[:, feature_name] = df_data[feature_name].apply(zscore)` and line `feats.append(df_data[feature_name].iloc[i: i + time_step].values)`.  Details what happened to these codes I explain above.

So far I think the error happen or not, it depends on np.ndarray in the pandas instanc

[2019-01-11 08:09] kostasmarkakis commented on #24699
[test.zip](https://github.com/pandas-dev/pandas/files/2748653/test.zip)

hi, i am attaching a test file containing one column of the type that causes the problem

[2019-01-11 10:48] seanv507 opened #24722 "conditionals do not propagate missing data"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The missing value becomes false
[code]

I expect missing values to be propagated in a conditional expression.  It should at least be highlighted in the documentation on handling missing data.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`

[2019-01-11 11:38] kokes commented on #1161
I don't know the domain too well, but hasn't this been solved by `df.groupby(pd.cut(df.time_column, index))...`, where index is an `IntervalIndex`?

[2019-01-11 11:55] jreback commented on #1161
that and the ability to arbitrarily upsample snd downsample

[2019-01-11 11:55] #1161 closed

[2019-01-11 12:07] TomAugspurger commented on #24720
You can select a range of columns with .iloc.

I don't think we have any appetite for making `__getitem__` more complicated that in already is.

[2019-01-11 12:09] TomAugspurger commented on #24699
See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for how to write self-contained bug reports. Ideally you won't need external files.

[2019-01-11 12:36] TomAugspurger commented on #24690
Thanks for looking. So it's only an issue on Python2?

On Fri, Jan 11, 2019 at 6:26 AM Nicolas Dickreuter <notifications@github.com>
wrote:

[2019-01-11 13:04] dickreuter commented on #24690
No it's python3 in my case

[2019-01-11 14:09] TomAugspurger commented on #24060
Tagging now, and going through the local tests before pushing the tag. Ping me if you find a last-minute blocker.

[2019-01-11 14:57] jorisvandenbossche commented on #24060
@TomAugspurger you mentioned you were going to write a blog post for the release, but I suppose only for the final release?
In that case, it might be good to already have some highlights (I started drafting some); the whatsnew file can use some clean-up in general.

[2019-01-11 15:04] Wessi commented on #11604
I fixed the same problem with the below commands...
Type `python` on your terminal. If you see python version 2.x then run these two commands to install pandas: `sudo python -m pip install wheel` and `sudo python -m pip install pandas`. Else if you see python version 3.x then run these two commands to install pandas: `sudo python3 -m pip install wheel` and `sudo python3 -m pip install pandas`. Goo

[2019-01-11 15:04] TomAugspurger commented on #24060
Any idea how long it'll take? I was just about to push the tag :)

Though, I can rebuild the docs that'll be pushed to the web server from a different commit.

[2019-01-11 15:08] TomAugspurger commented on #24060
You've got a bit more time, since I think I need to do some work on our conda-forge recipe to ensure numpy >= 1.12 :)

[2019-01-11 15:12] Wessi commented on #11604
https://github.com/pandas-dev/pandas/issues/11604#issuecomment-453545714

[2019-01-11 15:13] jorisvandenbossche commented on #24060
Yeah, don't wait for me. I have some other work to finish first.

[2019-01-11 15:14] denfromufa commented on #16381
@eromoe here is a workaround:

https://stackoverflow.com/a/44053092/2230844

[2019-01-11 15:16] TomAugspurger commented on #24060
OK. tagged.

On Fri, Jan 11, 2019 at 9:13 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-11 15:51] jorisvandenbossche commented on #24060
I started going through the whatsnew file to extract highlights, and already thought of:

- Refactor of the internal handling of custom data types:
    - Better integration of the ExtensionArray interface
    - Period and Interval can now be stored in Series / DataFrame columns (before only in Index)
- New `.array` attribute on Series and Index to access the underlying values, and `to_numpy` metho

[2019-01-11 15:55] WillAyd commented on #24722
This is not a pandas thing as much as how floating point arithmetic is designed. Should be able to find plenty of info out there on it already - here's a good SO post as an example:

https://stackoverflow.com/questions/1565164/what-is-the-rationale-for-all-comparisons-returning-false-for-ieee754-nan-values

[2019-01-11 15:55] #24722 closed

[2019-01-11 15:57] WillAyd commented on #24720
Yea I don't think this is something we can or want to support so closing as such. Regardless thanks for the input @cciccole !

[2019-01-11 15:57] #24720 closed

[2019-01-11 15:58] TomAugspurger commented on #24060
https://github.com/pandas-dev/pandas/releases/tag/v0.24.0rc1 has a few.

On Fri, Jan 11, 2019 at 9:51 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-01-11 16:35] TomAugspurger opened #24727 "Doc make.py clean"
@jorisvandenbossche @datapythonista currently `_sphinx_build` in `doc/make.py` always calls `clean`. Do you know why that was added?

My doc-build process in https://github.com/pandas-dev/pandas-release assumes that I can do `make.py html` and `make.py latex_forced`.

An option to not clean would be fine by me.

[2019-01-11 16:36] TomAugspurger commented on #24060
Binaries are building and HTML docs are up at http://pandas.pydata.org.

Will send out an announcement later today, once the binaries are done.

[2019-01-11 16:38] jorisvandenbossche commented on #24727
It seems to have been added recently in https://github.com/pandas-dev/pandas/pull/24428

@datapythonista was there a technical reason for that PR (for the faster building of single pages) that it was needed?

I would personally prefer to not always clean by default, but an option is fine as well.

[2019-01-11 16:47] datapythonista commented on #24727
Sorry about that. Yes, I added it. It's not required, but I thought it made more sense to just leave the files that were built in the last run, mainly for the single pages. I had some cases where I wasn't sure what was built and what was already there. But it's perfectly fine to remove it, and call `make.py clean` explicitly, I just didn't think it would be a problem for anyone.

[2019-01-11 16:49] WillAyd commented on #24696
Going to close this as unfortunately there's nothing that really indicates a pandas error here (feel free to reopen if you can pinpoint). AFAICT you are continually generating rather large slices of your data frame in a loop, so it's certainly possible that your machine doesn't have the memory to contain all of those objects and flushes to disk.

Not sure the end goal with the function you have bu

[2019-01-11 16:49] #24696 closed

[2019-01-11 17:33] chrisluedtke opened #24728 "corr return without duplicates and sorted by correlation strength"
#### Code Sample, a copy-pastable example if possible
Functionalized implementation of what I'm seeking:
[code]
#### Problem description
`pd.DataFrame.corr()` returns a table with redundancies. I'm interested in implementing an enhancement (as an argument option or function, etc.) to return a DataFrame without redundancy and sorted by correlation strength.
[code]
[code]

#### Expected Output
[code

[2019-01-11 17:41] faulaire opened #24729 "Multiple unstack in multi level columns DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Trying to unstack multiindex multicolumns DataFrame, yield to an unexpected behavior.
The unstacked levels are not those expected (see the code above).

Note: In a single level column case, behavior is the expected one.

#### Expected Output

N/A

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERS

[2019-01-11 18:32] jorisvandenbossche commented on #24499
Yeah, I certainly agree that some more content would be nice in the getting started section (shorter version of those basics, or a expanded version of the 10min).
It's just that the current content of those pages is IMO not really fitting for a getting started section. I would personally rather add a new page with proper content later to the getting started, but not feeling strongly about it.

[2019-01-11 18:37] datapythonista commented on #24451
Assuming we all agree that the generated files should be separate from the API section pages, we need to names, one for the top directory (now `api`) and one for the generated pages (now `generated`).

sklearn uses `modules` instead of `api`, and also `generated`. I don't have a preference, `reference` sounds good (not sure for which of the cases) and `generated` doesn't sound great. Can't think o

[2019-01-11 18:38] epierson9 opened #24730 "changing order of keys?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Based on the pandas documentation, I was expecting the order of the keys in the left dataframe (x) to be preserved in both cases. The documentation says:

left: use only keys from left frame, similar to a SQL left outer join; preserve key order
inner: use intersection of keys from both frames, similar to a SQL

[2019-01-11 18:54] datapythonista commented on #24499
What makes sense for me is a multipart tutorial, I'd say a 3 part, something like `10min`, something like `dsintro`, and probably an intro to time series.

But I'd use a real dataset and not arbitrary data where possible, give an overview (without much details) of everything that pandas does, and following a logical sequence.

But that discussion is probably for later, this won't happen during the

[2019-01-11 19:13] Shellcat-Zero commented on #24698
@WillAyd I'll try to get you a reproducible example.  My dataframes consist mostly of string objects rather than floats.  Here is my `mem_usage` function:
[code]

Can you elaborate on what cartesian product you are referring to?  The nature of the left merge should imply that the length of the resulting dataframe will match the left (ccn) dataframe supplied to the argument.  The 'name' column in `

[2019-01-11 20:01] mroeschke commented on #24728
This sounds like more of a usage question. We recommend using StackOverflow for these types of questions.

Issues is reserved for bug tracking and enhancement requests

[2019-01-11 20:45] javadnoorb commented on #22790
I participated in that implementation. Sorry if it was too hacky and caused issues. But skipping it seems to reopen #10611 in ipython notebook when I upgrade pandas to 0.24.0rc1.

As far as I remember testing things in inline backend was a bit of a hassle, and we eventually ended up writing the tests in the default backend. Because of that my guess is that resolution of #10611 is not tested proper

[2019-01-11 20:59] chrisluedtke commented on #24728
@mroeschke I want to make an enhancement. Is this a feature that would be useful?

[2019-01-11 21:05] HarveySummers opened #24734 "read_excel and read_csv doesn't read the entire file (3121/5063 rows)"
#### Code Sample, a copy-pastable example if possible

[code]

[gex-globalexplorer-ML_df.xlsx](https://github.com/pandas-dev/pandas/files/2753283/gex-globalexplorer-ML_df.xlsx)

[gex-globalexplorer-ML_df.csv.txt](https://github.com/pandas-dev/pandas/files/2753286/gex-globalexplorer-ML_df.csv.txt)

#### Problem description

read_excel and read_csv doesn't read the entire file (3121/5063 rows).

###

[2019-01-11 21:06] mroeschke commented on #24728
Oh I see. I'll open it back up for discussion. I could see this as a useful cookbook example in our documentation; we are somewhat hessitant to expand pandas' large API without a large interest from the community.

[2019-01-11 21:40] gfyoung commented on #24729
cc @jreback @toobaz

[2019-01-11 21:41] gfyoung commented on #24729
@faulaire : Do you mind modifying your example slightly to construct the `DataFrame` explicitly instead of via `read_csv` ?  That way, it makes it clear to everyone that we're just focusing on the (un)stacking, and that CSV functionality is not really involved in this issue.

[2019-01-11 21:43] gfyoung commented on #24730
cc @jreback

[2019-01-11 21:45] gfyoung commented on #24734
@HarveySummers : Thanks for reporting this!  Do you mind doing two things here:

* Uploading CSV and XLSX versions of the data?  As it stands, reading this issue is VERY long 🙂

For CSV, just upload as a `.txt` file.  XLSX is natively [supported](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/).

* Could you explain the error / issue that you're running into when you

[2019-01-11 22:04] TomAugspurger commented on #24060
Mac and Linux wheels are on PyPI. Conda packages are trickling into conda-forge, and I sent out the announce email.

https://github.com/pandas-dev/pandas-release has a few things that need fixing up. Some are RC specific, so I'm not too worried about them. I'll try to iron out all the final issues while doing the final release, and then hopefully someone else can try things out, to see what machin

[2019-01-11 22:08] faulaire commented on #24729
@gfyoung  : done.

[2019-01-11 23:37] robbuckley commented on #24689
@mroeschke i just pushed the PR. I didnt mock `tzlocal` yet, i will have a think about that. Meanwhile i added a TZ to the fixture which provokes the failure, and rewrote the TC to address that case

[2019-01-12 02:08] kou opened #24739 "0.24.0rc1: infer_dtype(DatetimeIndex) returns "datetime64" not "datetime64[ns]""
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

We can't use dtype inferred from `DatetimeIndex` to convert an `Index` to `DatetimeIndex` with pandas 0.24.0rc1.

[pyarrow](https://github.com/apache/arrow/tree/master/python) uses this logic to convert Arrow objects to pandas objects.

FYI: Here are related codes:

  * https://github.com/apache/arrow/blob/mas

[2019-01-12 03:46] mukesh5 commented on #18198
Is this issue still open? Can I pick it up?

[2019-01-12 09:33] phil65 opened #24740 "Exception when grouping on a modified category"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I wonder if that exception should be raised there?
Using 0.24 RC1

[2019-01-12 10:46] phil65 commented on #24740
Sure. Done.

[2019-01-12 10:51] jorisvandenbossche commented on #24740
Thanks!
I can confirm the error on master (existed on 0.23.4 already as well). It also seems that things like a reduction with `ds.groupby("b", observed=True).sum()` do work (not error). Although they include a NaN in the grouped keys, which doesn't seem to be correct behaviour (and certainly related to the error)

[2019-01-12 10:53] jorisvandenbossche commented on #24740
This is certainly related: https://github.com/pandas-dev/pandas/issues/21151

[2019-01-12 10:58] jorisvandenbossche commented on #24739
The behaviour of `infer_dtype` might be correct, but what did change in 0.23.4 -> 0.24.0rc is that we no longer accept 'datetime64' as short-hand for 'datetime64[ns]' when passed as a `dtype` argument.

We should maybe deprecate that first instead of directly raising an error.

[2019-01-12 11:02] jorisvandenbossche commented on #24739
So to clarify, we *actually* deprecated that before for Series, but appararently we did not do that for Index:

On 0.23.4:

[code]

[2019-01-12 12:35] fingoldo commented on #17773
I can not believe this. It's year 2019 now, pandas v 23.4 and this issue with Cyrillic paths and C engine is STILL NOT FIXED, even after so many issue reports and questions on stackoverflow. Open source community seems to be no better than Microsoft in this regard, where known bugs are not getting fixed for years.

[2019-01-12 17:11] summonholmes commented on #24688
That's exactly what I have in my bug report and PR.  I'd welcome this suggestion.

[2019-01-12 18:16] J4nJ4nsen opened #24742 "23 seems to be the new 42: exception if concatenating list of row-multi-indexed DataFrames at index 23"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The pd.concat method don't throws exception for this the last year, all was good. Now it complains exactly at position 23 in the list, but all entrys have the same structure of a dataframe.

With Version 0.23.4 the above commands still worked, the output for the last command in the code above just prints the da

[2019-01-12 18:20] stonebig commented on #24060
no windows wheel ?

[2019-01-12 19:37] TomAugspurger commented on #24060
I’m not sure if @cgohlke typically builds and uploads release candidates.

[2019-01-12 19:50] cgohlke commented on #24060
I'm on it. The pypy build was failing...

[2019-01-12 19:58] stevenbw commented on #24472
@WillAyd @gfyoung thanks for your help. I have split the file in two as you suggested, just reviewing before I open a PR. There could be an opportunity to separate the `openpyxl` tests out.

As @gfyoung said, it may be worthwhile undertaking the bigger task of refactoring the test files to a more functional style rather than class based.

[2019-01-13 00:57] mroeschke commented on #9937
We do documents

which is not preserved when the left frame contains an empty column

[2019-01-13 01:08] mroeschke commented on #15070
Looks like these work now:

[code]

[2019-01-13 01:09] mroeschke commented on #15070
Oh sorry, the request was for a `DataFrame.and`, `DataFrame.or`, etc...

[2019-01-13 01:31] mroeschke commented on #19517
We would need a self-contained example. Could you recreate the dataframe without reading it from the file?

[2019-01-13 01:35] mroeschke commented on #19759
FWIW the TDI/Series case returns a value now:

[code]

[2019-01-13 01:39] jbrockmendel commented on #19088
I’d prefer if 62 broadcast, but that’s not something we do with any consistency.  The rest are clearly much improved.

[2019-01-13 01:44] mroeschke commented on #20423
Closing as this appears to be the expected behavior

[2019-01-13 01:44] #20423 closed

[2019-01-13 02:48] mroeschke commented on #20757
This looks fixed on master; could use a test:

[code]

[2019-01-13 02:56] mroeschke commented on #20765
Feel free to reopen with a reproducible example.

[2019-01-13 02:56] #20765 closed

[2019-01-13 03:20] mroeschke commented on #20838
Closing as it would be too niche for the pandas API.

[2019-01-13 03:20] #20838 closed

[2019-01-13 03:33] mroeschke commented on #20990
This looks to be working; could use a test:

[code]

[2019-01-13 03:42] mroeschke commented on #21037
This looks like a bug to me. PRs and Investigations welcome!

[2019-01-13 03:50] mroeschke commented on #21070
Looks like we've enabled this. Closing

[2019-01-13 03:50] #21070 closed

[2019-01-13 04:02] mroeschke commented on #21166
This looks to be fixed. Will be available in the upcoming release (0.24). Closing

[code]

[2019-01-13 04:02] #21166 closed

[2019-01-13 04:11] mroeschke commented on #21167
Closing as modifying display option is more relevant

[2019-01-13 04:11] #21167 closed

[2019-01-13 04:17] mroeschke commented on #21205
This looks fixed on master (as Series now supports period types). Could use a test.

[code]

[2019-01-13 04:18] mroeschke commented on #21206
Feel free to reopen when you get a chance to post a reproducible example.

[2019-01-13 04:18] #21206 closed

[2019-01-13 04:48] mroeschke commented on #22689
Since all the refactoring of the scrips, is this still an issue?

[2019-01-13 06:35] mroeschke commented on #22820
I think this was fixed in the latest development cycle and will be available in the next release (0.24.0) coming soon. xref https://github.com/pandas-dev/pandas/issues/20452

[code]

[2019-01-13 06:35] #22820 closed

[2019-01-13 09:36] J4nJ4nsen commented on #24742
if you mean a atomic example with arbitrary, e.g. random data, i won't get the time to do the next few weeks. But i can post the part of the data for which this error arised as attachement if needed?

Otherwise i will surely try digging deeper inside the end of february if this error is still present at this time.
Thank you for your immediate reply anyway...

[2019-01-13 17:06] TomAugspurger opened #24751 "CategoricalAccessor.categorical removed in 0.24.0rc1"
Previously, CategoricalAccessor set `.categorical` in `__init__`. I don't think this was intended to be the way to access things like `.ordered`, but it wasn't prefixed with an underscore, so we should deprecate before removing

0.23.4

[code]

0.24.0rc1

[code]

We can deprecate with

[code]

in https://github.com/pandas-dev/pandas/blob/33f91d8f9f2e84f2b5f3ac3f0481b691c977c427/pandas/core/arrays/

[2019-01-13 17:36] TomAugspurger opened #24752 "DataFrame.mean includes datetime64[ns] dtypes in 0.24.0rc1"
I think this isn't deliberate.

[code]

[code]

We continue to raise on `Series[datetime64[ns]].mean()`

[2019-01-13 17:56] jreback commented on #24752
hmm i think we did enable this recently

[2019-01-13 17:58] HarveySummers commented on #24734
Done.  There are no error messages, even when error_bad_lines set to true.

As crazy as it sounds, it seems like its just not reading the file. And I can't explain why. I open the file in Notepad++ and there is 5063 lines, no spurious characters and no iso code issues.. It fails in both read_excel and read_table with both the 'c' and 'python' engines.

I'm truly bifflesnickered on this.

[2019-01-13 18:51] mroeschke commented on #23164
I think this is the documented behavior as described in the bins section of the docstring:

int : Defines the number of equal-width bins in the range of x. The range of x is extended by .1% on each side to include the minimum and maximum values of x.

This situation could be better documented though

[2019-01-13 18:52] benjaminr commented on #24751
Will take a look at this one.

[2019-01-13 18:54] mroeschke commented on #23181
Closing as a better scope for NumPy

[2019-01-13 18:54] #23181 closed

[2019-01-13 19:13] mroeschke commented on #23773
Yeah I don't suspect this is a pandas issue. Feel free to reopen if the PyTables maintainers suspect it's a pandas issue.

[2019-01-13 19:13] #23773 closed

[2019-01-13 19:17] #24690 closed

[2019-01-13 19:18] mroeschke commented on #23779
cc @gfyoung

[2019-01-13 19:33] evarga commented on #23164
Thanks for the comment! Please, also see the issue with altered data type of elements (see my oiginal comment above). This behavior is nowhere documented as far as I know, and could be the consequence of this %1 extension, as you have cited.

[2019-01-13 19:50] TomAugspurger opened #24753 "[0.24.0rc1] passing dtype='M8' to Index raises"
In 0.23.4

[code]

In 0.24.0rc1

[code]
[code]

We want that to  raise eventually; `ns` precision should be specified. But we should maybe deprecate the old behavior first?

The best place to do it is probably before we get to `arrays`, so in `DatetimeIndex.__new__` we can check for `M8` specifically, warn, then pass through `M8[ns]`.

We should also check

- `np.dtype("M8")`
- `'m8'`
- `np.dtype(

[2019-01-13 20:32] gfyoung commented on #24734
@HarveySummers : Thanks for doing this!  This might sound a little strange, but Can you confirm that every single line in your CSV has data?  Here's why:

[code]

This outputs:

[code]

Note that one row from your file is allocated to the header, hence the maximum number of rows in your `DataFrame` can be 5062.  However, as you can see, `pandas` believes that you have empty data in approximately 2

[2019-01-13 21:01] gfyoung commented on #23779
@rgeens : Thanks for opening this!  Sorry that this got lost in the pile of issues that we have 😞

I strongly believe that this discrepancy is symptomatic of limitations in Python's native `csv` library.  The Python engine is largely a wrapper around it, and the error message you're showing comes from the `csv` module in fact.

To illustrate my point:

[code]

This outputs:

[code]

This is beyond

[2019-01-13 21:01] TomAugspurger commented on #22689
Yeah, I think it's been fixed.

[2019-01-13 21:01] #22689 closed

[2019-01-13 21:35] jreback opened #24755 "CI: azure failing"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=6880

[code]

[2019-01-13 21:35] jreback commented on #24755
azure seems to be failing on master, with the above. not sure where its coming from.

cc @datapythonista

[2019-01-13 21:39] TomAugspurger commented on #24751
It wasn't prefixed with an underscore.

On Sun, Jan 13, 2019 at 3:27 PM Jeff Reback <notifications@github.com>
wrote:

[2019-01-13 21:41] jreback commented on #24751
lots of things are not prefixed with underscored. ``.categoricals`` is not a valid construction, nor was this ever advertised / documented. This is taking deprecations too far.

[2019-01-13 21:54] jreback commented on #24730
inner does look a bit odd, it could be sorting.

we do have a ``sort=False`` (the default) this does control in the case of left but not inner, so maybe this is not being respected

[code]

[code]

@epierson9 welcome for a deeper look.

[2019-01-13 21:59] datapythonista commented on #24755
Let me take a look.

[2019-01-13 22:16] datapythonista commented on #24755
Seems like a problem in the latest release of `flak8-rst`. It's been reported an internal error of `flake8-rst` as if it was in our documentation.

@FHaase should I create an issue in `flake8-rst` or can you take a look?

Opened #24756

[2019-01-13 22:35] TomAugspurger commented on #24751
We made a mistake and the data was made public. We need a deprecation.

________________________________
From: Jeff Reback <notifications@github.com>
Sent: Sunday, January 13, 2019 15:41
To: pandas-dev/pandas
Cc: Tom Augspurger; Author
Subject: Re: [pandas-dev/pandas] CategoricalAccessor.categorical removed in 0.24.0rc1 (#24751)

It wasn't prefixed with an underscore.

lots of things are not prefi

[2019-01-13 22:40] jreback commented on #24751
@TomAugspurger not convinced, we have*many* places where you can access attributes; and we have changed any of these. This is a very very minor case. I don't think the deprecation is worth it.

[2019-01-13 22:51] TomAugspurger commented on #24751
I think it is.

________________________________
From: Jeff Reback <notifications@github.com>
Sent: Sunday, January 13, 2019 16:40
To: pandas-dev/pandas
Cc: Tom Augspurger; Mention
Subject: Re: [pandas-dev/pandas] CategoricalAccessor.categorical removed in 0.24.0rc1 (#24751)

@TomAugspurger<https://github.com/TomAugspurger> not convinced, we havemany places where you can access attributes; and we

[2019-01-13 22:59] jbrockmendel commented on #19759
I would have expected [True, True, False]; wouldn't you?

[2019-01-13 23:02] jbrockmendel commented on #24752
Certainly returning a nonsense answer isn't deliberate.  IIRC we made nanops.nanmean accept datetime64[ns] but didn't yet enable it in the Index/EA subclasses.

I've got a couple of branches implementing reductions; I'll rebase and see if any of them are near ready.

[2019-01-13 23:35] mroeschke commented on #19759
Agreed. Just noting that this doesn't raise a `ValueError` anymore

[2019-01-13 23:45] #24755 closed

[2019-01-14 01:48] Garet-Jax opened #24760 "Pandas Test Scripts always fail tried 0.24.0rc1, 0.23.4, 0.23.3 and 0.23.2"
I am trying to install python and pandas on an AWS Linux EC2 instance.  I have tried many versions of pandas and many ways to install it, but they all seem to have errors when I try to run the test() function.

I create a brand new EC2 instance and run:

1) sudo yum update
2) sudo yum install python36-devel python36-pip  gcc gcc-c++
3) virtualenv ~/env -p python36 && source ~/env/bin/activate

Fro

[2019-01-14 05:12] gfyoung commented on #24760
@Garet-Jax : Thanks for reporting this!  A little unusual to see `pytest` go down in 🔥 like this, but before we go into that, let's start with this:

Can you execute `import pandas` in a Python console on your instance?

[2019-01-14 07:33] fingoldo commented on #17773
@gfyoung sorry for the harsh words and thank you for your kind reply, I personally don't know how to fix that issue but please, if someone from devs who has actually created relevant modules sees this thread, roll out the fix, it's really embarassing to still have that error when engine is set to C...

[2019-01-14 08:03] gfyoung commented on #17773
@fingoldo : Yeah, it's awkward, no doubt, but I hope you understand that there are many of these types of "embarrassing errors" than there are man-hours (devs and contributors combined) to correct them, especially if people have a hard time reproducing them.  Lucky for you, I currently have in my possession a Windows machine, and I was able to patch this issue pretty quickly:

https://github.com/p

[2019-01-14 08:09] jorisvandenbossche commented on #24751
It is very simple to deprecate it (it's not adding complexity to the non-deprecated code), so let's just do it.

@benjaminr can you re-open your PR?

[2019-01-14 08:46] fingoldo commented on #17773
Amazing thank you so much!!!

[2019-01-14 11:23] shuttle1987 opened #24763 "Format mismatch doesn't coerce to NaT"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In this example code I have made a mistake with the format `'H%:M%:S%'` it should be `'%H:%M:%S'`
instead. Since I have specified errors to `'coerce'` getting a string as the return value here seems very surprising to me.

#### Expected Output

Given that I have specified `errors='coerce'` and `infer_datetime_f

[2019-01-14 12:09] harshitgoyal opened #24764 "Spark-submit --py-files pandas-0.23.4-cp27-cp27mu-manylinux1_x86_64.zip"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]
I have a python project for Spark job. I want to submit the spark-submit command using --py-files and give all the dependencies. looking to give all the dependent module in the spark-submit command

[2019-01-14 13:36] #15086 closed

[2019-01-14 13:58] TomAugspurger commented on #24760
Can you run `from pandas.tests.scalar.timestamp.test_timestamp import *`. That seems to be the file pytest is choking on.

[2019-01-14 13:58] TomAugspurger commented on #24760
And can you also try

[code]

[2019-01-14 14:43] khizirsiddiqui commented on #24589
Hi!
If no one is assigned to this issue, I would want to work on this as my first issue.
[Line 473 here](https://github.com/pandas-dev/pandas/blob/0409521665bd436a10aea7e06336066bf07ff057/pandas/core/ops.py#L473) hard-codes this.

[2019-01-14 15:30] Garet-Jax commented on #24760
(env) [ec2-user@[IP_ADDRESS]~]$ python
Python 3.6.7 (default, Dec 21 2018, 20:31:01)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-28)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ec2-user/env/local/lib64/python3.6/site-packages/pandas/util/testing.py", line 516, in get_locales
    x, e

[2019-01-14 15:46] Garet-Jax commented on #24760
I have been trying many different combinations and have found one that works.

I have tried a few different AWS AMIs:

The 3rd one is really the one I want to use because it is the closest to the Linux used by the AWS Lambda infrastructure.  I am trying to parlay this work into a Lambda function and want as much synergy as possible so there are no errors on the back end.

I have also tried a few d

[2019-01-14 16:00] sasan00 opened #24766 "read_html ignores paragraphs in table cells"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
In the current implementation, the p tags are ignored, and therefore it's not possible to infer that field 1 has value 1 and field 2 has value 2.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``
<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
----

[2019-01-14 16:48] TomAugspurger commented on #24766
Can you write the exact expected output?

[2019-01-14 16:55] jorisvandenbossche opened #24767 "The feather example from docs segfault with pyarrow 0.8.0"
The example from the docs succeeds to write and read the feather file, but the read-in dataframe is corrupted.
This seems to be due to the Categorical column (reduced example):

[code]

On general displaying of the `result`, you also get a segfault.

The above is with latest master of pandas, and pyarrow 0.8.0 installed from conda-forge (quite old, but still in the supported range). Still need to

[2019-01-14 16:56] TomAugspurger commented on #24760
I'm not sure either. IIRC we had another user reporting issues with `tm.get_locale()`, but I don't recall the specifics.

[2019-01-14 17:22] janvanrijn opened #24768 "Concatenating rows with Int64 datatype coerces to object"
#### Code Sample, a copy-pastable example if possible

[code]

output:
[code]
#### Problem description
When running the exact same code with floats, the output is similar to the expected output. It also happens with the append function
[code]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``
[code]

[2019-01-14 17:23] WillAyd commented on #24768
Thanks for the report and makes sense. Investigation and PRs are always welcome!

[2019-01-14 17:30] WillAyd commented on #24734
I believe @gfyoung has pointed out the answer here in that you are most likely looking for `skip_blank_lines=False` based off of your input files and comments.

If that's not the case feel free to reopen

[2019-01-14 17:30] #24734 closed

[2019-01-14 17:31] janvanrijn commented on #24768
In short, I would like to propose to keep the title of this issue to the original title, as all the code and expected output points out the 'unexpected behavior when concatenating rows with int datatype'. I will open a second issue with proper expected output on 'Concatenating rows with Int64 datatype coerces to object' (there are some more things that go wrong there, that are not outlined in this

[2019-01-14 17:56] TomAugspurger commented on #24768
@janvanrijn can you check the example your original post? When you assign `df_a['b'] = ...`, it no longer matches your "working" example

[code]

as the columns are different. Perhaps you mean `df_b['b'] = ...` instead.

[2019-01-14 18:06] HarveySummers commented on #24734
@gfyoung Yes, this solved the problem.  Thanks for the help.

I want to dig deeper on this to find out how many blank lined pandas will encounter before deciding that its the end of the file.  Odd that I've never encountered this problem in the 5 years I've been working with pandas and large data files.  Once I figure it out I'll post my findings for others to learn from.

Many thanks for the help

[2019-01-14 18:32] benjaminr commented on #24751
@jorisvandenbossche sure thing 👍

[2019-01-14 19:16] janvanrijn commented on #24768
Ouch, sloppy. My sincere apologies.

Then only the 'Concatenating rows with Int64 datatype coerces to object' remains.

[2019-01-14 19:21] TomAugspurger commented on #24768
Can you ensure that the original post has correct values for the example
and expected output?

On Mon, Jan 14, 2019 at 1:16 PM janvanrijn <notifications@github.com> wrote:

[2019-01-14 19:44] janvanrijn commented on #24768
Updated.

[2019-01-14 20:13] TomAugspurger commented on #24768
Thanks. So the issue is that concating integer and empty coerces to object

[code]

The logic in `get_empty_dtype_and_na` in `internals/concat.py` needs to be updated. I suspect that things can be simplified somewhat now that we have EAs.

[2019-01-14 20:19] jreback commented on #24768
this is correct
we changed this

[2019-01-14 20:20] jreback commented on #24768
sorry that was for int64

concat with empty is not tested at all for EA types

[2019-01-14 20:36] gfyoung commented on #24734
@HarveySummers : What's actually happening is that `pandas` is reading your entire file, but for any line that it finds to be blank, it's not returning it in the final result.

[2019-01-14 21:35] andrewgsavage opened #24773 "ExtensionArray.astype docstring"
https://github.com/pandas-dev/pandas/blob/6d3565a5181b3d0fb8342e69dd1d21a98ac3d380/pandas/core/arrays/base.py#L324

Should the docstring say that this should return an ExtensionArray when an ExtensionType is passed into it?
I note that PeriodArray behaves like this.
[code]

pandas.core.dtypes.dtypes.PeriodDtype

[code]
pandas.core.arrays.period.PeriodArray

[2019-01-14 21:39] jbrockmendel commented on #24752
The weird result is happening in DataFrame._reduce when `nanops.nanmean` is called on `df.values`:

[code]

If we weren't passing axis=0, we would get a more reasonable-looking:

[code]

[2019-01-14 21:50] TomAugspurger commented on #24773
Yes, it should return an ExtensionArray when passed an ExtensionDtype.

This ends up making `.astype` quite complicated in practice. Pandas should provide some helpers here (though we had an issue for that, but couldn't quickly find one).

In the meantime, the EA docs / code should recommend a few things

1. Use `pandas_dtype(dtype)` to convert strings like `Period[D]` to the ExtensionDtype or num

[2019-01-14 22:52] jorisvandenbossche commented on #24767
The above was in my development environment (where I apparently still has an old pyarrow), but I now created a clean new env just with installing pyarrow and pandas, and can confirm the issue. With pyarrow 0.11 it works fine, but reading the file with pyarrow 0.8.0 gives a segfault.

Of course, it can also be a bug in the old version of pyarrow. But the question is then if we need to guard users a

[2019-01-14 23:22] jbrockmendel opened #24775 "BUG: timedelta64 + Timestamp raises"
[code]

I think we can fix this by defining `Timestamp.__array_priority__`

[2019-01-14 23:46] kou commented on #24739
OK. pyarrow stops using `infer_dtype` for datetime data.

[2019-01-15 00:37] WillAyd commented on #24760
Interestingly enough there is a comment above the offending line about some locales not being decodable, though there isn't a catch for those either:

https://github.com/pandas-dev/pandas/blob/6d3565a5181b3d0fb8342e69dd1d21a98ac3d380/pandas/util/testing.py#L508

What is the output of `locale -a` from the shell on the AMI? From what I can see documented in [the FAQ](https://aws.amazon.com/amazon-li

[2019-01-15 00:41] stevesimmons opened #24777 "Allow itertuples to return subsets of columns"
#### Problem description

`pd.DataFrame.itertuples()` returns tuples/named tuples containing all columns and possibly the index. This is very inefficient if the DataFrame has many columns but you only need values of a few.

We should add an optional `columns` parameter to specify a subset of columns to return. The columns can be referred to by name or by position (if integer). Names can also refer

[2019-01-15 00:42] WillAyd commented on #24777
Why would you not just select the columns you need before calling `.itertuples`?

[2019-01-15 00:53] stevesimmons commented on #24777
- The syntax is much cleaner if you want a mix of columns and row MultiIndex levels
- With the added bonus it is 20% faster than selecting columns before calling itertuples

[2019-01-15 00:57] Garet-Jax commented on #24760
We may have found the issue.  On the Ubuntu machine (this one works):

On the AMI that doesn't work:
<details>
(env) [ec2-user@ip-172-31-42-58 ~]$ locale -a
aa_DJ
aa_DJ.iso88591
aa_DJ.utf8
aa_ER
aa_ER@saaho
aa_ER.utf8
aa_ER.utf8@saaho
aa_ET
aa_ET.utf8
af_ZA
af_ZA.iso88591
af_ZA.utf8
am_ET
am_ET.utf8
an_ES
an_ES.iso885915
an_ES.utf8
ar_AE
ar_AE.iso88596
ar_AE.utf8
ar_BH
ar_BH.iso88596
ar_BH.utf8
ar

[2019-01-15 00:57] WillAyd commented on #24777
Can you provide an example of this? Not sure I follow the logic but something explicit could help.

The main thing to avoid here is introducing slightly different ways of accessing data. Consistency in the API for selecting rows and columns is already arguably rather convoluted and adding more ways to do that works against user experience

[2019-01-15 01:02] stevesimmons commented on #24777
Suppose I had a DataFrame with row index on (id, date, status) and 65 cols of various values. Then I could say `df.itertuples(columns=['id', 'status', 'value25', 'value48'], index=False)` without having to do `reset_index` etc to get at the level.

This is similar to how `df.query()` uses both columns and index levels when evaluating its criteria.

[2019-01-15 01:18] jreback commented on #24777
-1 on this
we already support projection via df[[]] which is performance and idiomatic

[2019-01-15 01:42] WillAyd commented on #24760
From what you've pasted I get the impression that the `bokmål` encoding is the one to blame here. Interesting as I doubt that even renders in the AMI shell correctly given the bytes shown in the traceback map to that accented character in cp1252 (maybe some others) and not unicode:

[code]

[2019-01-15 02:50] jreback commented on #24712
i understand what is going on but it’s a pretty odd calling convention

meaning that the caller should guarantee that the input is of the appropriate type

[2019-01-15 02:53] jbrockmendel commented on #24712
OK then we're back to me response: the convention exists as it does so that DTA/TDA/PA can share code.

[2019-01-15 03:05] TomAugspurger commented on #24777
Agreed that selecting the columns before calling itertuples is preferable.

[2019-01-15 03:17] WillAyd commented on #24777
@stevesimmons thanks for the suggestion! But I think we have enough votes against to not move forward with this. Closing as such

[2019-01-15 03:17] #24777 closed

[2019-01-15 03:48] Garet-Jax commented on #24760
OK - here is what I did.  I followed the following post to effectively remove all locales except for en_us.UTF8.

[https://talk.maemo.org/showthread.php?t=94625](url)

My exact commands were:

[code]

I then exited my SSH session and started a new one.  I re-ran locale -a and got:

I then started my virtual environment, ran a python session, imported pandas and ran pandas.test().

**My test ran.**

[2019-01-15 04:36] WillAyd commented on #24760
@Garet-Jax glad it worked. Something seems strange with the locales there but most likely an issue outside of pandas. Closing as I don't think there's anything to do here on our end

[2019-01-15 04:36] #24760 closed

[2019-01-15 04:44] aabdalmoniem opened #24778 "Python crash with segmentation failure upon import pandas"
--> Import python pandas causes python to crash :

Python 3.7.0a1 (v3.7.0a1:8f51bb436f, Sep 18 2017, 22:34:37)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Segmentation fault: 11

[code]

[2019-01-15 05:16] jbrockmendel commented on #24778
Looks like this was called from within pycharm.  Does it happen if some directly in terminal?

Is this the system python?  Homebrew?

[2019-01-15 05:24] harshitgoyal opened #24779 "python-project-packaging-with-pandas"
#### python-project-packaging-with-pandas

#### Problem description
I have created a Spark project in Python in which I am using the module pandas and packaged the spark project using wheel as per the these steps: -

it will create 'wheel' files for all explicit and implicit dependencies from our 'requirement.txt' file and put them into 'dist' directory.
To build our project artifacts.

This will

[2019-01-15 05:26] harshitgoyal commented on #24779
Or may be another way to package the project/application where we can manage the all dependent modules effectively.

Thanks in advance.  :)

[2019-01-15 06:58] aabdalmoniem commented on #24778
originally issue was seen on both terminal and Pycharm, now terminal is working by pycharm still seeing the crash.

## snip from terminal:

[2019-01-15 08:47] stevesimmons commented on #24777
OK. Might be worthwhile showing that in the docstring.

What is the recommended way to do projection of a mix of multiindex columns and normal columns while avoiding copying as much as possible? Is there any succinct 'modern' way to do that? I often work with GB-size tables, hence the desire to avoid unnecessary copying.

[2019-01-15 09:57] Omnomnominous commented on #24268
@thoo I think the description is correct insofar as it is order of the items in the index array. It's possible that it could be reworded to be a bit more clear like so:
[code]
@chris-b1 One thing that I noticed while looking into this is that when you call `s.nlargest(2,keep="last")` it doesn't return the items sorted by index, but in reverse order by index. For example:
[code]
I feel as if this i

[2019-01-15 12:03] TomAugspurger commented on #24777
I believe MultiIndex is the problematic part. That won't have the array of
values allocated yet. But once you've
reset the subset of index levels to the columns, `__getitem__` won't copy.

On Tue, Jan 15, 2019 at 2:47 AM Steve Simmons <notifications@github.com>
wrote:

[2019-01-15 12:12] TomAugspurger commented on #24778
It looks like you're using Python 3.7.0a1. Can you try on a non-alpha version of python?

[2019-01-15 12:33] #22729 closed

[2019-01-15 14:12] #24176 closed

[2019-01-15 16:01] ErfPy opened #24781 "Aggregating, but keeping data by concatenating the data from rows to string."
#### Code Sample

[code]
#### Problem description

I was wondering if its possible to make this a standard method, by keeping values of columns in string format while aggregating the data, so no data is lost.

For exampe: ```df.grouby('id').keep_values('items')```

I know this is possible with the code I provided above, but there should be more concise way right?
I dont have enough knowledge to pr

[2019-01-15 16:41] simonjayhawkins opened #24782 "BUG: DataFrame.merge(suffixes=) does not respect None"
[code]
specifying an empty string changes the dtype of the column label

[code]

[2019-01-15 17:04] ErfPy commented on #24781
I agree with the name remark, its too generic.

[2019-01-15 17:14] TomAugspurger commented on #24739
@jorisvandenbossche based on your post in
https://github.com/pandas-dev/pandas/issues/24739#issuecomment-453738631 this seems to be the same issue as https://github.com/pandas-dev/pandas/issues/24753, right? I'll close one or the other.

IMO, we should ensure that `Index(..., dtype='datetime64')` continues to work (with a warning) for a release.

[2019-01-15 17:19] TomAugspurger commented on #24060
Thanks @cgohlke, windows wheels are up on PyPI now.

[2019-01-15 17:46] otmezger commented on #23531
@trianta2 I'm having the same issue with
[code]

have you found a workaround other than installing the release candidate for pandas 0.24?

[2019-01-15 18:10] harisbal opened #24783 "Single-level tuple index to multi-level index on pd.concat"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Concatenating two series with a tuple as index, results in a multi-indexed dataframe

#### Expected Output
s1.to_frame().join(s2)

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.f

[2019-01-15 18:38] WillAyd commented on #24781
Thanks for the suggestion. Not sure I see a lot of value though against the apply method shown above so -1 from my end

[2019-01-15 18:41] WillAyd commented on #24779
Not sure I fully understand the issue but admittedly not familiar with Spark either. What makes you think this issue is with pandas and not Spark?

[2019-01-15 18:43] WillAyd commented on #24782
Thanks for the report. Makes sense to have a more robust handling of None here - PRs are always welcome

[2019-01-15 18:46] matmcnic opened #24784 "Locators off by one day"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

_Please note: I reported this to [Matplotlib](https://github.com/matplotlib/matplotlib/issues/13185) also. Please see comments there (including a work around that worked for me)._

When using any of the Locators the date calculation (x axis labels) are off by one day sometimes. This occurs when the x data is a

[2019-01-15 19:02] aditsanghvi94 opened #24785 "Drop Duplicates Subset - Doesn't check if column exists"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When we provide a subset of columns to pandas drop duplicates, it only requires *1* of those columns to exist in the dataframe.
If the other columns don't exist, it will just perform the drop considering only duplicates on the columns that do exist.
This can be a major issue when there is a typo in one of the co

[2019-01-15 19:04] rben01 opened #24786 "df.groupby(df.index) drops index info when df has a MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When you group a DataFrame, whose index is a MultiIndex, on its index, resulting aggregations will be a DataFrame with a single-level index containing the tuples from the original MultiIndex. This is inferior to the behavior you obtain when passing the level names to `df.groupby`, which returns a DataFrame with

[2019-01-15 19:35] pllim opened #24787 "How to force pandas to display all columns on Travis CI OSX?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

https://travis-ci.org/astropy/astropy/jobs/480019813

Astropy's Travis CI running on OSX somehow is printing
[code]
and not
[code]
as expected.

Any advise on how to force `pandas` to expand the `...` on `print()` would be greatly appreciated. We only see this failure on the OSX job, not the other ones running

[2019-01-15 19:39] simonjayhawkins commented on #24783
i guess the expected should be

`s1.to_frame().join(s2, how='outer')`

which gives

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>s1</th>
      <th>s2</th>
    </tr>
    <tr>
      <th>Idx</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>(a, b)</th>
      <td>-0.635822</td>
      <td>0.036792</td>

[2019-01-15 19:45] TomAugspurger commented on #24787
It's possible that our terminal width detection is broken on that CI system.

Can you try setting `pd.options.display.max_columns=20`?

http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#better-pretty-printing-of-dataframes-in-a-terminal

[2019-01-15 19:49] TomAugspurger commented on #24785
This raises now (with a KeyError, which I think is appropriate). I don't recall whether it was added in 0.23 or 0.24

[2019-01-15 19:49] #24785 closed

[2019-01-15 19:53] TomAugspurger commented on #24784
The source for these are in https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_timeseries.py if you want to look further.

[2019-01-15 19:55] steve-estes opened #24788 "Timestamp.strftime() has erratic behavior after use of tz_convert()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

(N.B.: tested from a machine on US-Eastern time, currently GMT-0500)

When a Timestamp has been `tz_convert()`'d to another timezone, casting it back to a UNIX timestamp using `strftime('%s')` results in an erroneous output.  The amount of the error appears to be correlated to the hours of the timezone shift, b

[2019-01-15 21:31] mroeschke commented on #24788
This is more of a Python problem. `'%s'` is not supported as a directive by the underlying `datetime.datetime.strftime` https://stackoverflow.com/a/11743262

The docstring for `Timestamp.strftime` could use an upgrade to note that the method only supports the directives listed here: https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior

[2019-01-15 21:35] ErfPy commented on #24781
I can definitely see that, and I agree now I see the method suggested by @chris-b1

[2019-01-15 21:56] h-vetinari commented on #24702
Loosely related xref: #24688

It's maybe worth noting that my original plan for #23065 was to introduce a `strict` kwarg for `is_list_like`, but that was voted down in favor of a more specific keyword (see e.g. [here](https://github.com/pandas-dev/pandas/pull/23065#issuecomment-430368459)).

It may be worth revisiting that decision if people want to resolve the issue brought up in the OP. The ques

[2019-01-15 22:18] TomAugspurger opened #24789 "Crosstab Preserves Dtypes release note"
The note at http://pandas.pydata.org/pandas-docs/version/0.24.0rc1/whatsnew/v0.24.0.html#crosstab-preserves-dtypes seems incorrect (it's a code block instead of an ipython block, but after making that change and running it).

On master, I get the same output as 0.23.4

0.23.4

[code]

master

[code]

@jbrockmendel this came from https://github.com/pandas-dev/pandas/pull/22019. Do you know if the n

[2019-01-15 22:30] phdoerfler opened #24790 "Bug: plot.bar() plots very incorrect values for some rows"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Resulting image:
<img width="1045" alt="image" src="https://user-images.githubusercontent.com/163428/51213518-7ccafd00-191b-11e9-913a-ad8eb686f93d.png">

The values in the series `seb` are sorted:

<details>
<pre>
sym7       2.168623
sym6       2.171764
sym8       2.174324
sym11      2.178764
sym10      2.19356