[2016-01-25 16:46] jreback commented on #2485
This is quite simple in current versions of pandas.

I am using a sub-class here for illustration purposes.
Really all that would be needed would be adding the ``__finalize__`` to most of the construction methods
(this already exists now for ``Series``, but not really for ``DataFrame``).

unambiguous propogation would be quite easy, and users could add in there own ``__finalize__`` to handle more

[2016-01-25 16:55] jreback commented on #11757
oh, that's non-conformant code, maybe something like:

[code]

[2016-01-25 16:56] jreback commented on #12134
looks a bit buggy, want to do a PR?

[2016-01-25 17:40] xflr6 commented on #12134
Okay, I guess the [Jinja2 docs](http://jinja.pocoo.org/docs/dev/templates/#round) recommend to do this by changing [this](https://github.com/pydata/pandas/blob/a783d1d4f8d129087c806d326a141b6052bed359/pandas/core/style.py#L120-L122) to something like this:
[code]
Okay to put another branch like this into the inner loop?

[2016-01-25 17:59] jreback commented on #12134
I think that is ok, the rendering time is not usually an issue (unless you are rendering millions of lines, which itself is an issue anyhow).

@TomAugspurger

[2016-01-25 19:11] belteshassar opened #12136 "BUG/API: to_timedelta unit-argument ignored for string input"
So, I don't know if this is by design, but it sure confused me. `to_timedelta()` operates differently on the number `1000` compared to the string `'1000'`:

[code]

and

[code]

while

[code]

I've tried my best to come up with a reason for why this behaviour would be desirable, but I can't think of any.

[2016-01-25 19:45] xflr6 commented on #12134
`{{c.value|round|int}}` fails with `nan` and `inf`, so the submitted PR uses percent-formatting

[2016-01-25 20:12] jreback commented on #12136
this is a bug. The unit argument only matters when you don't have units for a particular entry.
However when parsing as a string IIRC its just ignored, so that should be handled (this is in the cython code)

separately, I think we might want an error if you have mixed with unit specifiers and unit is specified e.g.

[code]

the first has a default of ``unit='ns'``, so maybe want to make the defaul

[2016-01-25 20:17] jreback opened #12139 "CI: windows 27-64 build failing"
This has been working for quite some time and I don't think the code changes broke this: https://ci.appveyor.com/project/jreback/pandas-465/build/1.0.145

so something changed in what conda is pull in I think (as I cannot repro this, though I have a slightly older build env)

if anyone wants to take a look

[2016-01-25 21:43] TomAugspurger commented on #12134
Sorry, I didn't see this until now. I've got branch that is changing how the display formatting works, which is going to conflict with your PR in #12137.  I believe I've fixed this bug in the change ([here](https://github.com/TomAugspurger/pandas/commit/a929d6d4f611f00466871a1c8e2e159d95191133) if you want to take a look at the relevant bit). I'm going to clean that up and submit sometime this wee

[2016-01-25 21:52] jreback opened #12140 "ENH: followup for resample, #11841"
@jorisvandenbossche comments for followup on #11841

- [x] the repr: can we follow here PEP8 as well? :-) (I mean spaces after the comma's, I think this would make it a bit more readable, maybe also quotes around the strings)
- [x] ``upsample`` has been removed? (but is still in the documentation) Or is this now ``asfreq``?

- [x] ``apply gives Exception: Must produce aggregated value`` (for a ser

[2016-01-25 21:55] xflr6 commented on #12134
No problem, more control over formatting is nice, stepping back.

Does this unify rendering of NaNs (IIRC df.style displays `nan` and normal html rendering `NaN`)?

[2016-01-26 00:36] jennolsen84 opened #12141 "EHN: consider multiple skiplist classes for different datatypes"
Right now, when we calculate something like a rolling max, if a float32 dataset is being passed in, it upcasts it to a float64.  This increases the memory requirements of a big dataset considerably.

This is due to the fact that the skiplist implementation only works with doubles.  Would you be opposed if I added instantiations for int32, int64, float32, uint64, uint32?

This way, we can avoid cop

[2016-01-26 00:40] wesm commented on #12141
Why don't we adapt the algorithms from `bottleneck` (which are faster and do not require using skiplists)

[2016-01-26 01:12] kawochen commented on #12141
`rolling_max` and `rolling_min` are from `bottleneck`.  I think skiplists are used in `rolling_median` and `rolling_quantile` (an alternative is max-median-min-heap)

[2016-01-26 05:36] jennolsen84 commented on #12141
Yeah, I was thinking of `rolling_median`.  Bottleneck's implementation doesn't take into account NaNs (http://berkeleyanalytics.com/bottleneck/reference.html#bottleneck.move_median).  I will see if I can contribute an implementation there that accepts NaNs.

This one and only commit comment doesn't look that encouraging though :)  https://github.com/kwgoodman/bottleneck/commits/5a9ecb818b63ffcb8d6

[2016-01-26 06:01] kawochen opened #12142 "BUG: Unpacking PY2 msgpack in PY3"
In #10686, I should have made all the strings in `encode` Unicode strings.  Now `'abc'` packed in P2 becomes (or rather remains as) `b'abc'` when unpacked in P3.  This I think is the desired behavior (bytes remain as bytes and text remains as text), but it causes errors in `decode`, because, for example, `'typ'` (`==u'type'` in P2) is expected while `b'typ'` (`=='typ'` in P2) is the key.

Reading

[2016-01-26 11:40] seanv507 opened #12143 "Series.map does not work with defaultdicts"
map seems to remove the default behaviour - workaround is to use a lambda function

[code]

[2016-01-26 12:52] pwaller opened #12144 "Right align numbers in HTML repr of tables"
Is there a way to right-align numbers in the HTML repr of tables? Right now they are left aligned, and it is a bit of a pain.

I see there is a lot of work on conditional HTML formatting recently (e.g, #10250). Is it already possible to achieve this?

/cc @TomAugspurger

[2016-01-26 13:40] TomAugspurger commented on #12144
We haven't hooked up `DataFrame._repr_html_` to use the new style class. In the meantime you can either use something like

[code]

To right-align each cell, or inject that css straight into the notebook.

[2016-01-26 13:43] jreback commented on #12144
add to #11610 the master tracker for this issue

[2016-01-26 13:50] jreback commented on #12143
This does as advertised. A passed ``dict`` is converted to a ``Series``, e.g.
[code]

so
[code]

I suppose a nicer example in the doc-string would be helpful.

[2016-01-26 13:50] #12143 closed

[2016-01-26 13:53] pwaller commented on #12144
Awesome, thanks.

[2016-01-26 13:54] jreback commented on #12142
ok, I don't see a versioning schema in the actual packed file? Is it possible to add one? so we can then conditionally do things.

[2016-01-26 13:54] seanv507 commented on #12143
the doc string says : "Map values of Series using input correspondence (which can be a dict, Series, or function)"... one would assume can also be defaultdict

[2016-01-26 14:11] jreback commented on #12143
pls re-read what I put above. ``dict`` and ``defaultdict`` work exactly the same.

[2016-01-26 14:23] seanv507 commented on #12143
"dict and defaultdict work exactly the same".  That's my point, they are not the same class, defaultdict implements a default mapping, so I would expect the map dict behaviour to be equivalent to the function
lambda x : d[x]  [ so the same behaviour for both default dict and dict]

[2016-01-26 14:31] jreback commented on #12143
you would need a much stronger usecase for making to very similar classes that are coerced to a ``Series`` do something differnt. That would be much more confusing.

[2016-01-26 14:31] seanv507 commented on #12143
OK I think what I am doing is a dumb application of defaultdict.  I should just use fillna. sorry to waste your time.

[2016-01-26 14:32] #9714 closed

[2016-01-26 14:32] #11871 closed

[2016-01-26 14:32] #11899 closed

[2016-01-26 15:08] alimanfoo opened #12145 "background_gradient vmin and vmax"
Working with the new style API, I would like to turn several columns of a dataframe into something like a heatmap. I would like to use the same range for all columns in the subset, i.e., the colour map should take a minimum and maximum value I specify, regardless of what actual range each column has. Currently using the "min" and "max" this is not intuitive. I would much prefer to be able to speci

[2016-01-26 15:46] belteshassar opened #12146 "Subtraction causes intermittent error"
I came across an intermittent issue that took some experimentation to track down. I was using a oneliner function for taring dataframes (or series, I've noticed the issue there as well) based on the last 50 rows:
[code]
On rare occasions, this gave me an obviously wrong result (whole columns close to or equal to zero). negating the mean series and then adding
[code]
will not solve the issue either

[2016-01-26 15:50] TomAugspurger commented on #12145
That's what I wanted initially as well, but didn't have time to do it properly before the last release. I wonder if we should just require seaborn for those parameters, and use its heuristics for determining a good colormap and handling vmin/vmax.

[2016-01-26 15:50] jreback commented on #12146
almost certainly this: https://github.com/pydata/pandas/issues/12023

upgrade to ``numexpr=2.4.6`` and all will be ok

[2016-01-26 15:55] #12081 closed

[2016-01-26 16:00] pwaller opened #12147 "Copying HTML table to spreadsheet software loses top left cell"
Right now, if you copy the HTML table representation of a `DataFrame` from Jupyter to Google Sheets or Open office Calc, you lose the top left empty cell (and the top left cell gets the first column name, which is incorrect).

Inserting an `&nbsp;` into that cell prevents this from happening. Would a PR be accepted which did this?

One way of achieving this is to set [`BLANK_VALUE`](https://github

[2016-01-26 16:02] pwaller commented on #12147
Maybe it's also possible to achieve the desired effect by modifying the CSS on the `.blank` class?

[2016-01-26 16:16] pwaller opened #12148 "Docstring on Styler.apply{,map} is confusing"
[Right now it says](https://github.com/pydata/pandas/blob/564166529071d33844712ab6038f6a237ddcb8f1/pandas/core/style.py#L357):

[code]

I spent ages trying to figure out how to feed any kind of function into this, only to eventually find the [Styler's docstring](https://github.com/pydata/pandas/blob/564166529071d33844712ab6038f6a237ddcb8f1/pandas/core/style.py#L68-L77):

[code]

Really, the docstr

[2016-01-26 16:16] pwaller commented on #12148
I think the offending phrase is `"updating the HTML representation with the result"`, which really, I would think meant the resulting HTML content, not the style.

[2016-01-26 16:34] kawochen commented on #12142
I think the cleanest solution would be to sprinkle `encode` and `decode` with  `u`,  That wouldn't save the files packed with 0.17 in P2 (they still wouldn't be able to be unpacked in PY3).  I think the end result would be the same as adding some version info.

| packed | unpacked |
| ----------| ----------|
| pre-0.17 PY2 | any |
| pre-0.17 PY3 | any |
| 0.17 PY2     |   PY2   |
| 0.17 PY3    |

[2016-01-26 16:51] kawochen commented on #12141
wow `bottleneck` is quite a bit faster.  Should work for `rolling_quantile` too.

[2016-01-26 17:10] jreback commented on #12141
@kawochen can you post any benchmarks? as an aside, still need to keep these routines as ``bottleneck``is optional (though that is a separate issue)

[2016-01-26 17:12] jreback opened #12149 "BLD: make bottleneck a required dependency"
xref #12141

currently we have backup routines for everywhere we use bottleneck.

If we made it a requirement (rather than a highly recommended dep) we could forgo this.

its easily installable via `conda` and `pip` (wheels); this used to be an issue.

[2016-01-26 18:01] jreback opened #12150 "TST: _reset_cache on any defined fixtures between tests"
xref #12130

we should clear() the _cache variable (set by `cache_readonly`) in between unit tests. same with the DataFrame tests.

this will prevent any tests from mutating these 'fixtures' and causing issues in later tests

[2016-01-26 18:01] jreback commented on #12150
cc @wesm

[2016-01-26 18:04] belteshassar commented on #12146
Many thanks for the quick response. It seems that upgrading numexpr solved it :smile:

[2016-01-26 18:04] #12146 closed

[2016-01-26 19:06] belteshassar commented on #12136
I don't promise anything, but I can take a look at the code base and see if I can get my head around what needs to be done.

[2016-01-26 19:30] jreback commented on #12136
gr8. contributing docs are [here](http://pandas.pydata.org/pandas-docs/stable/contributing.html)

post any questions on this issue.

[2016-01-26 20:09] jreback commented on #12140
@jorisvandenbossche
this should address all of the remaining points: https://github.com/jreback/pandas/commit/2cccc709003f4b20d742f0e224911180d3bfe12d

[2016-01-26 21:07] jennolsen84 commented on #12141
When benchmarking, please remember to benchmark for different window sizes and different axis.

When testing median, I came across different implementations where the running times were very different depending on window_size due to the algorithms being used.  E.g. if window sizes are small, maintaining multiple heaps hurts performance compared to running quickselect multiple times.  Whereas, with

[2016-01-27 04:36] lexual opened #12152 "better docs for read_csv() argument infer_datetime_format"
This gives pretty decent explanation of the infer_datetime_format parameter:

http://pandas.pydata.org/pandas-docs/version/0.17.1/whatsnew.html#id55

The api docs are fairly opaque.

Improve api docs to make it clearer:

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

[2016-01-27 10:55] toobaz opened #12153 "TypeError: 'TextFileReader' object is not an iterator"
csv = pd.read_csv(file_path, chunksize=10)
    chunk = next(csv)

yields

    ---------------------------------------------------------------------------
    TypeError                                 Traceback (most recent call last)
    <ipython-input-21-ec4c9826eb96> in <module>()
          1 csv = pd.read_csv(file_path, chunksize=10)
    ----> 2 chunk = next(csv)

    TypeError: TextFileReader

[2016-01-27 11:52] toobaz opened #12154 ""min_itemsize" doesn't work for MultiIndex columns in table format"
df = pd.DataFrame([[1,2,3],[4,5,6]],
                  columns=pd.MultiIndex.from_tuples([(1,'a'), (1,'b'), (2,'c')])).astype(str)
    store = pd.HDFStore('/tmp/store.hdf')
    store.append('test', df, min_itemsize={1 : 20})

yields

    ---------------------------------------------------------------------------
    ValueError                                Traceback (most recent call last)
    <i

[2016-01-27 12:00] toobaz commented on #12154
By the way: I did try also ``min_itemsize={(1, 'a') : 20}``, obtaining

    ---------------------------------------------------------------------------
    TypeError                                 Traceback (most recent call last)
    <ipython-input-4-9a1f06838d41> in <module>()
    ----> 1 store.append('test', df, min_itemsize={(1, 'a') : 20})

    /home/pietro/nobackup/repo/pandas/pandas/io/pyt

[2016-01-27 12:59] #12089 closed

[2016-01-27 13:01] rosnfeld commented on #10772
I keep running into this. Hopefully I will have time to look at it soon, or it will get fixed as a result of some of the missing-value-handling issues that people are hoping to resolve with a change to pandas underlying data representations.

Here's a related issue (could perhaps be its own issue). Set up x and y as above, and then try and use crosstab with margins:
[code]

[2016-01-27 13:03] JackKelly commented on #12089
thank you @jreback :)

[2016-01-27 13:03] jreback commented on #12152
xref #12061

[2016-01-27 13:10] nbonnotte commented on #12078
I couldn't find any other exception that would be raised but incorrectly propagated. Except the one that shows up, of course.

And this exception is raised for the reason I gave:

- when the multi-index is lexsorted, `.get_loc()` returns a slice
- when it is not, it returns a boolean mask, but what comes next in `MultiIndex.drop` cant' handle that (see [those lines](https://github.com/pydata/panda

[2016-01-27 13:16] jreback commented on #12153
``TextFileReader`` and the ``HDFStore`` are *iterables*, not *iterators*, kind of like lists, so that they are reusable, see a good description [here](http://stackoverflow.com/questions/13054057/confused-with-python-lists-are-they-or-are-they-not-iterators)

from a practical point of view, I don't actually think we have a way of reusing these as the point is that these are out-of-core by definitio

[2016-01-27 13:18] jreback commented on #12078
yeh, prob just not correctly implemented.

[2016-01-27 13:19] jreback commented on #12154
dupe of https://github.com/pydata/pandas/issues/10381

[2016-01-27 13:47] TomAugspurger commented on #12148
Agreed that the docs could be better here. I originally didn't include any examples since the return value is just `self`, and you wouldn't actually see anything. Might not hurt take an example from the [example notebook](http://pandas.pydata.org/pandas-docs/version/0.17.1/style.html), interested in submitting a fix?

And for your problem with the `ufloat`s, that's just a design error on my part.

[2016-01-27 14:07] pwaller commented on #12148
@TomAugspurger I actually want to make the format of the ufloat prettier, that is to write a "±" instead of "+/-", so will it be possible to do that too? (e.g, if the parameter passed to format is a callable, run that to format the string).

[2016-01-27 14:07] nbonnotte commented on #12078
Can I correct the implementation, so that `.drop` works for a non lexsorted multi-index in the same way as for a lexsorted one? :D

[code]

Beware that this simple correction might change the API of both `.drop` or `.groupby`, as we discussed in the pull request #11717 :innocent:

So perhaps a safer option would be to first have `ref.drop('a')` raise a `KeyError` or `ValueError` because `'a'` is n

[2016-01-27 14:13] jreback commented on #12078
I think ``.drop`` on a DataFrame is find (your example is not that). you can simply lexsort the pivot table I think.

[2016-01-27 14:19] TomAugspurger commented on #12148
Yeah, it will take a callable or a string format spec. I think in this case you could So if your uncertainly column is called `margin` you'd have `df.style.format({'margin': '±{.2f}'})` and that will be applied to the column (assuming the `uncertainties` package has hooked up `__format__` to work like that, I haven't tried). Otherwise you can use a callable taking a single value and returning a st

[2016-01-27 14:20] nbonnotte commented on #12078
The problem with the DataFrame arises because of the problem with the MultiIndex, as shown in my examples.

What can I do to remove the obscur error message?

[2016-01-27 14:26] pwaller commented on #12148
(Re: your edit, yep, it's `nominal_value ± std_dev`. Maybe this can be achieved with `{.nominal_value:.2f} ± {.std_dev:.2f}`, but it is still nice to have the flexibility of calling arbitrary functions for formatting).

[2016-01-27 14:30] jreback commented on #12078
ahh, yes, see if you can

``tm.assert_index_equal(pbm.drop('a'), ref.drop('a'))``

though you *may* want to output a ``PerformanceWarning`` for ``pbm.drop('a')``

you'll have to look and see how its used elsewhere.

[2016-01-27 14:34] toobaz commented on #12154
I might be missing something... but here I'm referring to ``min_itemsize`` settings for columns in a df where ``df.columns`` is a ``MultiIndex``, not to ``min_itemsize`` settings for the labels of the (``MultiIndex``) index of the df. Still if I understand correctly, the required fix is quite different.

[2016-01-27 14:45] jreback commented on #12154
is virtually the same fix.

[2016-01-27 14:50] jreback commented on #12154
ok, we'll make it a separate issue in any event.

[2016-01-27 14:57] tomderuijter opened #12155 "BUG: GroupBy.apply iterates over first group twice"
When using the ```GroupBy.apply()``` method with a custom function handle, the first group is iterated over twice. Explicitly looping over each group and applying the function directly does not yield the error.

Error reproduction
[code]

The example prints the row index of the first group member. The '0' is printed twice.

Versions:
[code]

[2016-01-27 15:12] #12098 closed

[2016-01-27 15:14] jreback commented on #12155
See the big red warning box: http://pandas.pydata.org/pandas-docs/stable/groupby.html#flexible-apply

This is for efficiency and is an implementation detail.

[2016-01-27 15:14] #12155 closed

[2016-01-27 15:15] jreback commented on #10222
dupe of #2936

[2016-01-27 15:15] #10222 closed

[2016-01-27 15:15] jreback commented on #12155
xref is #2936

[2016-01-27 15:16] jreback commented on #12155
xref #10222

[2016-01-27 15:26] toobaz commented on #12154
Trying to understand if I can help: what should be the recommended API? ``min_itemsize={1 : 20}`` or ``min_itemsize={(1, 'a') : 20, (1,'b') : 20}``? Or should they both work?

[2016-01-27 15:27] jwbarker opened #12156 "Adding DateOffset(days=1) produces NonExistentTimeError"
[code]
## INSTALLED VERSIONS

commit: None
python: 2.7.6.final.0
python-bits: 64
OS: Linux
OS-release: 3.13.0-61-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8

pandas: 0.17.1
nose: None
pip: 7.1.0
setuptools: 18.0.1
Cython: None
numpy: 1.10.4
scipy: 0.16.1
statsmodels: None
IPython: 4.0.3
sphinx: None
patsy: None
dateutil: 2.4.2
pytz: 2015.7
blosc: None

[2016-01-27 15:30] jreback commented on #12154
no I think you would have to explicit (so 2nd form)

[2016-01-27 15:33] rafguns opened #12157 "read_excel(..., index_col=0, squeeze=True) raises AttributeError"
`pd.read_excel` with keyword argument `squeeze=True` raises an AttributeError. This is unexpected, in that:
* I would expect it to work analogously to `pd.read_csv`, which does not exhibit the same problem
* it worked fine in a previous version (0.15 I think?)

Steps to reproduce:

[code]

[2016-01-27 15:38] jreback commented on #12156
use this

[code]

though this might be a bug as ``Day`` correctly handles the tz adjustments

cc @rockg @chris-b1

[2016-01-27 15:55] chris-b1 commented on #12157
I was the culprit here -  #10967, looks like `squeeze` is untested on `read_excel`.  Probably just need a little extra logic around that name assignment, I can take a look.

[2016-01-27 22:18] jreback commented on #6581
@TomAugspurger

can we do a PR for this? (first one up top)
[code]

[2016-01-27 22:28] jreback opened #12160 "DEPR: rename Timestamp.offset internally .freq / deprecate passing offset in favor of freq"
xref  #6815/#6813 .freq in Timestamp rather than .offset (internally used) (0.14.0 ???)

This is a bit non-trivial so pulling out to a separate issue from #6581

[2016-01-27 22:39] #12139 closed

[2016-01-27 22:43] TomAugspurger commented on #6581
Sure thing, will do a PR tonight or Sunday.

[2016-01-27 23:31] pjcpjc commented on #10695
Respectfully, can I chime and agree with Dr Irv?

His `.sloc` suggestion seems like reasonable.

The accuracy of this assumption depends on context. It seems reasonable that there are some programming contexts where returning the empty frame is the expected behavior. (For example, is the result is married with an aggregator like `sum`, which is the specific need here).

dicts have both `get` and `

[2016-01-27 23:39] ajcremona commented on #936
Is there any update on this? Very interested in this - very useful for irregular time series that are large data sets

[2016-01-27 23:41] jorisvandenbossche opened #12161 "Accessor api docs not building with sphinx 1.3.x"
Our custom `AccessorDocumenter`s (defined in docs/source.conf.py) are not working anymore with sphinx 1.3.x

See eg the doc build on travis for the errors, and the api overview page on the dev docs.

[2016-01-27 23:46] jreback commented on #10695
@pjcpjc you can certainly comment!

We cannot extend this already way way too complicated API any more

we have: ``[]``, ``.ix``, ``.iloc``, ``.loc``, ``.iat``, ``at``.

so you want another one?

as I said above, a keyword argument would possibly be ok, but certainly not another indexer.

We have to have a default. This certainly may not work for everyone (and that is why we have
options).

[2016-01-27 23:54] pjcpjc commented on #10695
Or a keyword argument to `.loc` that does what Dr. Irvs `.sloc` does. Whatever you prefer.

I think the spelling this case is MOAR!! ;)

But seriously, I am familiar with the domain here (agruably I am an expert and Dr Irv is a guru) and he is right on the money in terms of identifying a context in which the natural result is an empty frame and not an error.

[2016-01-28 03:31] proinsias commented on #11707
I'm encountering this same issue – versions below. I have a DataFrame with 11,183,804 rows, and I'm trying to run `to_pickle` – see the output below. I get a similar error from `to_msgpack`, but not for `to_csv` (which created a 4 GB file).

When I ran the debugger, I got for `f`:
`<_io.BufferedWriter name='/tmp/tmp.dat'>`

What additional information would be useful?

[code]

[code]

[2016-01-28 03:51] gte620v commented on #5839
+1 for fixing this.

[2016-01-28 07:58] akaihola commented on #6871
We have this problem when writing pickles with Pandas 0.14.1 and reading them with Pandas 0.17.1. The problem occurs if the pickles contain `isodate.UTC` objects.

The problem can be reduced to this test case:

**my_tz.py**:

    from datetime import tzinfo

    class MyTz(tzinfo):
        def __init__(self):
            pass

**write_pickle.py** (run with Pandas 0.14.1):

    import pandas as pd

[2016-01-28 09:05] akaihola opened #12163 "Dead code breaks unpickling of timezone objects"
There is a problem when writing pickles with Pandas 0.14.1 and reading them with Pandas 0.17.1. The problem occurs if the pickles contain `isodate.UTC` or other timezone objects.

The problem can be reduced to this test case:

**my_tz.py**:

[code]

**write_pickle_test.py** (run with Pandas 0.14.1):

[code]

**read_pickle_test.py** (run with Pandas 0.17.1):

[code]

Reading the pickle with `pickle

[2016-01-28 12:55] nbonnotte opened #12164 "Cleaning FloatArrayFormatter"
While working on issue #12031 (adding a `decimal` parameter to `.to_latex()` and `.to_html()`), I realized a solution would be pretty straight-forward if only `FloatArrayFormatter` was a bit cleaned.

Currently, there are two methods that do a similar work:

- `.get_formatted_data()`, which returns the array with its float values converted to strings using the parameters given at initialisation.

[2016-01-28 13:37] jpiabrantes opened #12166 "Appending HDF5 store leads to crash"
I am appending an HDF5 store with a pandas dataframe and Python crashes without any traceback.

[code]

Discussion on stackoverflow:

http://stackoverflow.com/questions/31419768/pandas-appending-suing-to-hdf-now-crashes-after-updating-to-pytables-3-2

[2016-01-28 13:42] TomAugspurger commented on #12166
Could you post a snippet of code that causes this, and your [versions](https://github.com/pydata/pandas/blob/master/CONTRIBUTING.md#bug-reports-and-enhancement-requests)?

Note that HDF5 is not threadsafe for simultaneous writes.

[2016-01-28 13:45] jpiabrantes commented on #12166
My versions:
pandas.__version__ = 0.16.2
numpy.__version__  = 1.9.2
Python 2.7.10

the code is just:

```chunk.to_hdf('all_data.h5', 'df',mode='a',format='table',append=True)```
chunk is dataframe. It appends a couple of times until crashing

[2016-01-28 13:46] jpiabrantes opened #12167 "Pandas sum column with scalar results in zeros"
I am summing a column of a pandas dataframe with a scalar and the result is a column full of zeros. The weird thing is that sometimes it will return zeros and sometimes it won't.

With this code I get a similar error:
[code]
My `df.column` gets full of zeros every now and then.

Discussion on stackoverflow:
http://stackoverflow.com/questions/35057969/pandas-sum-column-with-scalar-results-in-zeros

[2016-01-28 13:51] TomAugspurger commented on #12166
Thanks, you you post the output of `pd.show_version`?

What do you mean it appends a couple times? Chunk is defined in a for loop?  If I try pasting your code, `chunk` is undefined.

[2016-01-28 13:55] jreback commented on #12167
post ``pd.show_versions()``

this is almost certainly #12023

you are on windows with ``numexpr=2.4.4``

upgrade to ``numexpr=2.4.6`` and all will be well

[2016-01-28 14:03] jpiabrantes commented on #12167
Here are my versions
[code]

I updated to numexpr=2.4.6 and problem got fixed! Thank you very much!

[2016-01-28 14:03] #12167 closed

[2016-01-28 14:07] jreback commented on #12163
ok, if you want to submit a patch that passes all current tests (and would have to add a tests for this to the pickle generation script as well), would take it.

Very odd that you are sub-classing the tz object, what is the purpose?

[2016-01-28 14:07] jreback commented on #12164
sure!

[2016-01-28 14:23] sinhrks commented on #11718
Looks no changes from the output attached above. I'll take a look.

[2016-01-28 15:07] jreback commented on #11707
this is not an error in pandas, rather with your path

[2016-01-28 15:26] kawochen commented on #12141
Will work on that :)

[2016-01-28 15:49] proinsias commented on #11707
Could you give a little more information than that?

This code works:

[code]

This does not, using the same 11,183,804-row DataFrame as before:

[code]

What's the difference? The paths are the same.

[2016-01-28 15:57] jreback commented on #11707
no idea, you'd have to debug it. pickle is very opaque.

[2016-01-28 16:59] kawochen commented on #11707
probably not a pandas bug. check this out http://bugs.python.org/issue24658

[2016-01-28 17:21] jreback commented on #11707
so I guess what is happening is the file is too big and raises an unhelpful exception

[2016-01-28 17:40] jreback commented on #12166
@jpiabrantes pls show a copy-pastable example that fails. as well as a comple ``pd.show_versions()``

[2016-01-28 17:58] mapa17 opened #12169 "Resample category data with timedelta index"
Hi,

I get a very strange behavior when i try to resample categorical data with and timedelta index, as compared to a datetime index.
[code]

It seems to me the aggregated result in case of using timedelta as an index for the category is always NaN.
Should this be?

Thx

PS: is there a way to specify the dtype for the aggregated columns?

[2016-01-28 18:14] kawochen commented on #11707
OSX only too

[2016-01-28 18:18] jreback commented on #12169
hmm, does appear a little buggy.

you shouldn't need to specify the dtype on aggregations they are inferred. Here I think there is an embedded exception which is caught in stead of actuallly computing correctly.

[2016-01-28 18:19] jreback commented on #12169
I look after #11841  as the timedelta resampling is tested a bit more there (but not enough!)

[2016-01-28 18:46] jreback commented on #12164
related this this is:

[code]

This is misleading and [2] index should prob be format with a single decimal place
eg
``1.0`` to make it obvious this is a Float64Index.

the ``_trim_zeros`` function is a bit aggressive here.

[2016-01-28 19:15] rspeer opened #12170 "DataFrame.to_msgpack unexpectedly defaults to latin-1 encoding"
I am using Python 3.

I tried saving a DataFrame with Unicode labels using the `.to_msgpack` method. I didn't specify an encoding, because I assumed it would use UTF-8, which is the default encoding for Python in my locale (en_US.UTF-8) as well as just a sensible encoding to use in general.

Instead, it tried to encode labels in Latin-1, which failed. Latin-1 seems like a strangely antiquated defa

[2016-01-28 20:33] jreback commented on #12170
hmm, we have ``latin1`` as the default. @kawochen do you know where that came from? I am guess from the prior version of code (before your upgrade)

[2016-01-28 21:06] kawochen commented on #12170
I didn't know why either.  the new spec says utf-8 for strings (but I think everyone is keeping the encoding/decoding option for compatibility.

[2016-01-28 21:12] jreback commented on #12170
hmm, also I we should have ``encoding`` as a top-level option for ``.to_msgpack`` and ``.read_msgpack``
its passed thru now, but should be part of the doc-string at least.

[2016-01-28 21:27] #12078 closed

[2016-01-28 22:02] jreback opened #12171 "CLN: change getargspec -> signature (using from pandas.compat)"
this eliminates some deprecation warnings

[code]

[2016-01-29 01:55] connercowling opened #12172 "Why does Series.plot() not have a kind='scatter' option?"
I run into use-cases for this feature often. It seems so simple that it's hard to believe this is purely an oversight.

So, why does `Series.plot()` not have a `kind='scatter'` option?

[2016-01-29 02:47] proinsias commented on #11707
Thanks!

[2016-01-29 02:47] kawing-chiu commented on #2141
Thanks @jreback . It works.

I have a further suggestion on datetime indexing: Even if we have `between_time()`, I still find it quite cumbersome to select a time range considering that when you are working with intraday data, you will use it almost everywhere. It will be much better to have `df['09:30:45':'10:25:00']` work directly on a datetime index. Generally I think not too many people would

[2016-01-29 03:04] TomAugspurger commented on #12172
Most likely because of how it's implemented for DataFrames, which expects an `x` and `y` (not an index). You can get something similar with `Series.plot(style='.')`

[2016-01-29 13:13] JeanLescut opened #12174 "concat() on Sparse dataframe returns strange results"
I open a stackoverflow question here :
http://stackoverflow.com/questions/35083277/pandas-concat-on-sparse-dataframes-a-mystery

And someone ask me to open an issue on Github.
To summarise, I don't really understand what's going on after a concat of 2 sparse data frame...
After such concat, df.density or df.memory_usage, for example, will throw an error.
Moreover, the basic structure of the sparse

[2016-01-29 13:43] jreback commented on #1623
should be easy after #11841

[2016-01-29 13:46] jreback commented on #12174
dupe of #10536

when making a report, ideally would have a simple copy-pastable example as well as ``pd.show_versions()``

[2016-01-29 13:46] #12174 closed

[2016-01-29 13:51] JeanLescut commented on #12174
Hi,

I don't understand, the issue (#10536)[https://github.com/pydata/pandas/issues/10536] says that :

More over, `pd.show_versions()` get me :
[code]

[2016-01-29 13:54] jreback commented on #12174
well, then pls show an example

[2016-01-29 13:56] JeanLescut commented on #12174
This is a pretty long example, sorry about it :
Maybe it's not a bug, and I don't get something. (?)

[code]

[2016-01-29 14:11] jreback commented on #12174
its the same issue as I pointed

[2016-01-29 14:14] jreback commented on #12174
added to the master issue. Sparse have not gotten a lot of TLC; need someone to step up and give them some :)

[2016-01-29 14:15] JeanLescut commented on #12174
Yes https://github.com/pydata/pandas/issues/10627 is certainly root cause

[2016-01-29 14:40] #11640 closed

[2016-01-29 15:13] jreback commented on #2141
@kawing-chiu can you make a new issue w.r.t. using a time string as an indexer.

and of course PR's are welcome for this and other issues!

[2016-01-29 15:15] wojdyr opened #12176 "confusing ImportError message in `__init__.py`"
In some cases the error message could be more clear, as discussed here:
https://github.com/pydata/pandas/commit/69cab57c9889391a587656ff8c6a7f9b38187bb1#commitcomment-15762471

my example:
[code]

[2016-01-29 15:32] jreback commented on #12176
yeh, prob need to go thru the deps (``pytz``, ``dateutil``) and try importing them and give a nice message.
``numpy`` is already checked. Then if this is hit it would be a good message.

[2016-01-29 15:37] jreback opened #12177 "TST: catch some more warnings"
[for example on the 3.5 build](https://travis-ci.org/pydata/pandas/jobs/105685173)

like to `assert_produces_warning` on these to remove from the test output; these are legit.

[code]

[2016-01-29 15:42] jreback opened #12178 "DEPR: remove some Exception.message usage"
this is pretty old code, I think you you simply eliminate the try:excepts: here entirey: https://github.com/pydata/pandas/blob/master/pandas/computation/tests/test_eval.py#L52

[code]

[2016-01-29 18:16] DGrady opened #12180 "Series.str.get_dummies fails if one of the categorical variables is called 'name'"
This works as expected:

[code]

However, if any of the categorical variables is named exactly `'name'`, then there's a problem.

[code]

This is presumably related to the `pandas/core/strings.py` code in the stacktrace.

[code]

[2016-01-29 19:56] PeterKucirek opened #12181 "Reindexing doesn't work as expected for MultiIndexs"
Using `Series.reindex()` does not work when the Series uses a MultiIndex and the desired re-index also uses a MultiIndex. An error message reports that the join is ambiguous, even when it is not.

In the following example, I'm setting up some schedule data for individuals who belong to households. Three tables will be created: `households`, `persons`, and `activities`. There is an implicit hierarc

[2016-01-29 21:53] cboettig commented on #8113
Yup, found this rather surprising as well, not to be able to scatterplot a datetime object against a numeric object.  (If I've followed the thread correctly, I should be okay with a `datetime.time` object, but it seems `pd.to_datetime` naturally gives a `datetime`, and pandas doesn't give me an equivalent method to get a `datetime.time`?)

Isn't `df.plot(x, y, style=".")` very misleading?  I mean,

[2016-01-30 02:17] chris-b1 opened #12182 "BUG: _repr_latex is called in jupyter qtconsole"
xref #11778

![image](https://cloud.githubusercontent.com/assets/1924092/12692982/4ff32128-c6c5-11e5-8ca4-14750f904a8f.png)

[2016-01-30 02:23] tollycoast opened #12183 "Please I have serious issue with the CSV, Pandas, Dataframe and JSON, I need someone to assist."
`import pandas as pd
import datetime
from pandas_datareader import data, wb
import csv
import json
#declaring libraries for the analysis
out= open("testfile.csv",  "rt") # read the .csv file
data = csv.reader(out)
data = [[row[0],row[1] + "_" + row[2],row[3] +"_" + row[4], row[5],row[6]] for row in data] #this part is mainly to concatenate the City and country
out.close()

out=open("data.csv", "wt

[2016-01-30 02:28] jreback commented on #12183
you will get more help on the mailing list and/or stack overflow

[2016-01-30 02:28] jreback commented on #12183
this is not a library issues, rather a question how to structure your code

[2016-01-30 02:28] #12183 closed

[2016-01-30 02:29] jreback commented on #12183
you will have better responses with a much shorter and copy pastable example

you are reading from a csv file which only u have

[2016-01-30 02:36] tollycoast commented on #12183
I have attached the sample csv file
AuthorID    ArCity  ArCountry   DptCity       DptCountry            DateDpt            DateAr
AAA         Paris       France      NewYork    UnitedState            2008-03-10      2001-02-02
BBB         Paris       France      NewYork    UnitedState            2008-03-10      2001-02-02
CCC         Paris      France      Beijing       Japan

[2016-01-30 09:27] Timusan commented on #10778
My apologies if this is simply extra noise, but I think I came across the same issue in (maybe) a slightly different situation. Thought this might help to give more insight into this issue.

With me this happens when trying to convert a DataFrame with binned data into JSON.

The kernel reports back the following:

Jan 30 18:18:04 debian kernel: [ 1632.371968] python[24794]: segfault at fffffffffff

[2016-01-30 09:52] tollycoast commented on #10778
Thanks the issue have is instead to display entire data with the same criteria in the csv, only the last data of the category are displayed

Date: Sat, 30 Jan 2016 01:27:31 -0800
From: notifications@github.com
To: pandas@noreply.github.com
Subject: Re: [pandas] df.to_json segfaults with categorical column types (#10778)

My apologies if this is simply extra noise, but I think I came across the sam

[2016-01-30 10:23] Timusan commented on #10778
@tollycoast, I may be wrong, but I think your question is totally unrelated to the issue at hand.

[2016-01-30 12:06] tollycoast commented on #10778
Thank you so much for your sir
You are right sir! I only seek for assistance to fix the code.
I have a csv file, which has several IDs, these fall in categories of arrival, departure, within range of dates. I have group by date and then find any of the IDs on particular date sharing the same place of arrival and /or departure with any other IDs

import pandas as pd
import datetime
import numpy as

[2016-01-30 12:09] tollycoast commented on #12183
Please assist Sir

Thank you so much for your time sir
I only seek for assistance to fix the code.

I have a csv file, which has several IDs, these fall in categories of
arrival, departure, within range of dates. I have group by date and then
 find any of the IDs on particular date sharing the same place of
arrival and /or departure with any other IDs

import pandas as pd

import datetime

import

[2016-01-30 14:04] jorisvandenbossche commented on #12183
@tollycoast As Jeff already said, can you please ask this question for example at Stack Overflow (http://stackoverflow.com/) or the mailing list (https://groups.google.com/forum/?fromgroups#!forum/pydata) (I personally recommend Stack Overflow).

It is not that we don't want to help you (we can answer on those other platforms), but we like to keep this issue tracker for bugs/enhancement requests f

[2016-01-30 14:48] jreback commented on #12182
hmm, is this on master?

[2016-01-30 14:55] jorisvandenbossche commented on #12182
There are some issues at IPython/Jupyter for this: https://github.com/jupyter/qtconsole/pull/65, https://github.com/jupyter/qtconsole/issues/56 (IRkernel has the same problem for the display of their dataframes)

@chris-b1 Would you be able to test if this is solved in qtconsole master?

[2016-01-30 14:56] jorisvandenbossche commented on #12182
I think this is a reason to *consider* reverting #11778

[2016-01-30 14:56] jreback commented on #12181
This is really a ``NotImplementedError``, see the docs [here](http://pandas.pydata.org/pandas-docs/stable/merging.html#joining-with-two-multi-indexes)

and can be done by the simple expedient of an actual merge.

[code]

If you'd like to implement would be a welcome PR

[2016-01-30 14:58] jreback commented on #12181
this a dupe of #6360 , where a partial soln is implemented.

[2016-01-30 14:58] #12181 closed

[2016-01-30 14:59] jreback commented on #12182
cc @nbonnotte

[2016-01-30 14:59] tollycoast commented on #12182
Yes sir
Date: Sat, 30 Jan 2016 06:48:21 -0800
From: notifications@github.com
To: pandas@noreply.github.com
Subject: Re: [pandas] BUG: _repr_latex is called in jupyter qtconsole (#12182)

hmm, is this on master?

—
Reply to this email directly or view it on GitHub.

[2016-01-30 15:03] jorisvandenbossche commented on #12182
Or, another option is making the use of the `_repr_latex_` optional, and defaulting to False. So somebody who wants this feature for nbconvert, can switch it on, but knowing that it will bug in qtconsole.

[2016-01-30 15:08] jreback commented on #12182
so we could have an option ``display.latex.repr=False`` maybe?

[2016-01-30 15:09] chris-b1 commented on #12182
Yeah, this also happens on qtconsole master.  If there was a way to make this [`in_qtconsole`](https://github.com/pydata/pandas/blob/master/pandas/core/common.py#L2743) check work again, that'd be a way to avoid an option.

But since they've restructured all the ipython/jupyter stuff, I don't know how (if it's possible) to do that.

[2016-01-30 15:19] jreback commented on #12180
I think this is a bug in ``_wrap_result``. The ``getattr(result,'Name',None)`` only should be checked if 'name' is in ``_metadata`` IOW, its a ``Series``.

[2016-01-30 15:19] jreback commented on #12180
@DGrady want to take a crack at it?

[2016-01-30 15:31] jreback commented on #11915
@stharrold want to do a PR?

[2016-01-30 15:34] jreback commented on #11989
closed by #12059

[2016-01-30 15:34] #11989 closed

[2016-01-30 15:36] jreback commented on #11831
@Rittmeister123 any luck with this?

[2016-01-30 15:38] jreback commented on #11711
closed by #11819

[2016-01-30 15:38] #11711 closed

[2016-01-30 16:45] toobaz opened #12185 "read_csv() restarts index (if not loaded) at every chunk"
See [this comment](https://github.com/pydata/pandas/pull/12173#discussion_r51347252). Basically we now have

    In [8]: read_csv(StringIO(u'A,B\n1,2\n3,4'))
    Out[8]:
       A  B
    0  1  2
    1  3  4

but

    In [9]: concat(read_csv(StringIO(u'A,B\n1,2\n3,4'), chunksize=1))
    Out[9]:
       A  B
    0  1  2
    0  3  4

We want the latter to also have index (0,1).

[2016-01-30 16:46] nbonnotte commented on #12182
This goes beyond my current use of pandas or jupyter, so I'm not really qualified to say anything.

That being said, I like the idea of being able to nicely export my notebooks containing dataframes to LaTeX. And, if I understand correctly, this is more a bug of the jupyter qtconsole rather than pandas, right? So, if anything, my current understanding of the situation does not convince me that rev

[2016-01-30 17:38] Rittmeister123 commented on #11831
Unfortunately not!
I'm quiet new in python and do not had time to take a close look whats going on and read the profiling..

[2016-01-30 17:47] stharrold commented on #11915
@jreback Thanks for the offer. I'm sorry, I'm not in a position to devote the time that I think would be necessary to properly fix the issue.

[2016-01-30 18:07] stevenmanton commented on #11665
@jreback I just got back from vacation, but I'll take a look and try to PR something.

[2016-01-30 18:41] jreback commented on #11665
great this would be a nice perf enhancement!

[2016-01-30 19:00] dickreuter opened #12186 "pd.read_excel parses rows as int if containing only numbers, even when marked as text or indicated string with e.g. '02"
When loading an excel file with pandas that contains a row with integers that have preceding zeros such as 01, the number is automatically parsed as integer and results as 1. This even happens when the row is formatted as 'text' or the number is entered as '02 (second row). I believe it would be correct if the row was parsed as string in that case.

df=pd.read_excel(r'c:\temp\string.xlsx','Sheet1'

[2016-01-30 19:19] jreback commented on #12186
dupe of #8212

pull-requests to fix are accepted!

[2016-01-30 19:19] #12186 closed

[2016-01-30 19:22] #12157 closed

[2016-01-30 19:27] #9746 closed

[2016-01-31 02:01] delie0512 opened #12187 "Pandas interpolation enhancement request : specifying the maximum gap to interpolate."
Currently, Pandas interpolation interpolates all gaps, regardless of there size and the limit parameter is used to limit the number of replacement :  if there is a gap of 3 values and limit=2, pandas replaces the first 2 values.

I have difficulty understanding why someone would want to do interpolation on only a few missing items in a consecutive series of missing.

Personally, depending on the l

[2016-01-31 02:25] edublancas opened #12188 "Confusing interpretation of what DataFrame.join does"
From the docs I see that the difference between .merge and .join is that .join operates using indexes by default, but it also lets you use columns,  so I tried to use it for that since it sounds natural when coming from the SQL world.

From the [docs](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.join.html):

Column(s) to use for joining, otherwise join on index. I

[2016-01-31 04:39] amcpherson opened #12189 "BUG: Automatic upcast to object fails when unstacking datetime/timedelta with incompatible fill_value"
Converting to object before then unstack works, whereas automatic upcast does not happen.  Missing values are replaced with NaT instead of automatically upcasting to object and filling with the requested value.

[code]

Culprit is some outdated code in _maybe_promote.

[2016-01-31 04:40] amcpherson commented on #12189
Follows from work done for #9746.

[2016-01-31 14:55] jreback commented on #12188
xref to #6336

[2016-01-31 14:56] #6336 closed

[2016-01-31 15:10] jreback commented on #12188
So the above join operation does this

[code]

this merge
[code]

Whereas I think you *think* it should do this one
[code]

I agree that is a bit confusing a bit, but I think the rationale is that you are joining from left, and the ``on`` controls what you are joining (on the left). There is no way in the ``.join`` to control the rhs, which is pre-supposed to be the index.

So this is what
[code]

[2016-01-31 15:12] jreback commented on #12189
thanks @amcpherson for the clear issue!

[2016-01-31 15:32] jreback commented on #12187
you can do something this. Not sure how useful this is generally as IIRC this is first request about this type of filling

[code]

[2016-01-31 16:44] edublancas commented on #12188
Thanks for the clarification! I agree that a documentation update will be really helpful.

Besides an update in the [join method doc](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.join.html), a brief mention of this behavior would be useful at the bottom of Database-style DataFrame joining/merging section [here](http://pandas.pydata.org/pandas-docs/stable/merging.h

[2016-01-31 16:53] jreback commented on #12188
sure - pull requests would be welcome!

[2016-01-31 17:07] jvkersch commented on #11915
I wouldn't mind giving this a closer look, if nobody else beats me to it.

[2016-01-31 17:09] jreback commented on #11915
that would be great!

[2016-01-31 17:24] TomAugspurger commented on #11915
@jvkersch thanks.

FWIW I've had to start porting a few things to use boto3 (apparently changes to ConfigParser in 3.4.3 and 3.5.1 broke boto), and the changes aren't too difficult.

It will be up to you as you try to implement this, but I think that requiring only `boto3` is entirely reasonable if it's easier. There's no real reason to clutter up the pandas code base with bunch of boto / boto3 co

[2016-01-31 17:58] jreback commented on #5900
dupe of #11485 (which has more examples)

[2016-01-31 17:58] #5900 closed

[2016-01-31 22:41] DGrady commented on #12180
Absolutely — I'll take a look at it later today.

[2016-02-01 03:06] delie0512 commented on #12187
Based on the original values of "s" above, the results that I looking for "interpolating gaps up to 3 hours" in a hourly time-series would be as follows. The first gap (2 values) is interpolated, but for the second gap ( 4 values) no interpolation is performed at all. I could write code to do what I want, but I would prefer using an existing tool for which the user can specific the maximum gap to

[2016-02-01 05:49] kawochen commented on #12187
this is a bit like consolidating `fillna` and `interpolate`

[2016-02-01 10:35] jorisvandenbossche commented on #12182
The qtconsole is used in eg Spyder, which I suppose quite some pandas users will use.
To be clear, ideally we find another solution or workaround so reverting #11778 is not needed. But if not, we cannot ship pandas like this in any case, as it would break the interactive usage for lots of users.

[2016-02-01 14:08] kawochen commented on #12142
What do people think?  Would like to fix in 0.18.0.

[2016-02-01 14:26] Tanguyabel commented on #11896
Hi, I encountered the same issue. Following the answer from [this post on stackoverflow](http://stackoverflow.com/questions/10935854/how-to-escape-in-a-query-using-pythons-sqlalchemys-execute-and-pymysql), I got it fixed using the sqlalchemy [text()](http://docs.sqlalchemy.org/en/latest/core/sqlelement.html?highlight=text#sqlalchemy.sql.expression.text) function when executing the query. This fix

[2016-02-01 19:56] jreback opened #12196 "BUG: numpy master quantile interpolation method"
https://github.com/numpy/numpy/issues/7163

[2016-02-01 20:09] #12180 closed

[2016-02-01 21:20] #12196 closed

[2016-02-01 21:38] #11693 closed

[2016-02-01 21:39] ghego opened #12199 "fftpack.rfft overwrites data when input is a pandas series"
Reproduce:

[code]

posted also in scipy.github:
https://github.com/scipy/scipy/issues/5790

[2016-02-01 23:39] #8489 closed

[2016-02-01 23:58] jreback commented on #12199
I would say this is a scipy issue. ``Series`` is essentially a duck-like ndarray, so I don't see why it should inplace modify it.

[2016-02-01 23:58] #12199 closed

[2016-02-02 01:09] biomorph opened #12200 "read_sql ignore type"
Is it possible to ignore or prevent automatic typing when executing a sql command and populating a data frame? I have NA's in certain columns and those columns are converted to float64 (when they should be int64 with some NAs) and when written out (using to_csv) leave decimal points which does not make sense for that column. I have no way of knowing if a certain sql query will return the same colu

[2016-02-02 01:33] stevenmanton commented on #11665
I took a stab at this but after a couple hours of looking through the code I'm not sure the best way to proceed. The small changes I made are [failing](https://travis-ci.org/stevenmanton/pandas) for a number of reasons. It seems like a lot of complexity is due to the number of inputs and outputs (tuple, list, string, Series, Index, etc.) accepted by the to_datetime function.

Any thoughts on a bet

[2016-02-02 06:19] aprotopopov opened #12201 "Reiindex_axis with copy=False return new object when expecting to change it inplace"
I thought that `reindex_axis` with argument `copy=False` should change it inplace. From [docs](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.reindex_axis.html):

    Return a new object, even if the passed indexes are the same

However:

    df = pd.DataFrame({'A': [1], 'B': [2]})

    In [105]: df.reindex_axis(['B', 'A'], axis=1, copy=False)
    Out[105]:
       B

[2016-02-02 08:32] jorisvandenbossche commented on #12182
A possible idea is to do something similar as what `sympy` does, so that the user has to call a function to activate the latex repr support (`sympy.init_printing()`).
E.g. a `pd.options.display.init_latex_repr()` (although this being a function is not really consistent with the other options). Calling the function would then add the `_repr_latex_` method to DataFrame on the fly.

[2016-02-02 08:48] nbonnotte commented on #12182
Would it still be possible to convert a notebook to LaTeX?

And a naive question: what prevents [in_qtconsole](https://github.com/pydata/pandas/blob/fc77cafe2a70cc08a81ebf2e855bca096f3bb7e6/pandas/core/common.py#L2765-L2780) from working? Is it because jupyter does not want us to know to which front-end it is connected?

[2016-02-02 09:59] jorisvandenbossche commented on #12182
Yes, but you will just have call this function in the beginning of your notebook that you want to convert to latex to activate the latex repr

As far as I understand, yes, the kernel does not know in which frontend it is run (notebook or qtconsole or ... are all `ipykernel.zmqshell.ZMQInteractiveShell` ). And if you want to convert a notebook to nbconvert, the latex repr should already be stored i

[2016-02-02 10:02] m313 opened #12202 "Resampling converts int to float, but only in group by"
[code]

Calling resample() on the dataframe does not change the type.

[code]

However, when calling resample() in a group by statement, float type is returned!

[code]

Why is val converted to float in the group by statement?
I originally posted this on [stack overflow](http://stackoverflow.com/questions/35085130/resampling-converts-int-to-float-but-only-in-group-by).

[code]

[2016-02-02 13:24] dacoex opened #12203 "io.read_csv: ValueError due to long lines"
I try to read a csv file were some lines are longer than the rest.

Pandas `C engine` throws an error with these lines.
But I do not was to skip these as discussed in [ a comment on a similar issue](https://github.com/pydata/pandas/issues/2886#issuecomment-30425534).

I prefer to "cut" the "bad columns" off using usecols. But I get the following errors:

[code]
Throws:

`ValueError: Expected 10 fi

[2016-02-02 13:55] nbonnotte commented on #12164
@jreback I'm about to make a separate PR for the `_trim_zeros` issue

[2016-02-02 14:19] dacoex commented on #12203
Here's a longer but self-contained example
[code]

So why does the version where the columns are selected based on `names` work and the version where use cols are given does not work?

[2016-02-02 15:16] #11732 closed

[2016-02-02 15:16] #12072 closed

[2016-02-02 15:16] #12140 closed

[2016-02-02 15:39] jreback opened #12206 "DOC: improve s3 access doc-strings / docs"
https://github.com/pydata/pandas/pull/12198

[2016-02-02 17:10] jreback commented on #12203
looks like a dupe of this: https://github.com/pydata/pandas/issues/9755

pls confirm

[2016-02-02 17:13] jreback commented on #12202
I don't think this was getting passed thru correctly, and is fixed in the recently merged
#11841

Note the new api

just need confirming tests

[code]

[2016-02-02 17:18] jreback commented on #12201
this is not the API it is just an opportunistic copy, not an inplace setting; in reality it is a mostly internal argument.

[2016-02-02 17:18] #12201 closed

[2016-02-02 17:27] brian-pantano commented on #11727
The correct fix is to change

  mpl_stylesheet['axes.prop_cycle'] = cycler.cycler('color_cycle', colors)

to

  mpl_stylesheet['axes.prop_cycle'] = cycler.cycler('color_cycle', colors)

There's no prop_cycle called `'color_cycle'`. I believe the prop_cycle you're looking for is `'color'`

[2016-02-02 19:21] grutts opened #12210 "pivot_table throws exception with multiple aggregations per column and margins=True"
When applying multiple aggregations to columns and setting margins=True I receive a KeyError. I believe that because multiple aggregations are applied the columns become a MultiIndex, which is unexpected when computing margins.
[code]

The *exact* same error occurs with

[code]
These errors do not occur when margins=False
This is using pandas version 0.15.2. I have not seen any changes which would

[2016-02-02 19:44] soupault commented on #10565
@jreback hi! This is closed by https://github.com/pydata/pandas/pull/10659 .

[2016-02-02 19:53] #10565 closed

[2016-02-02 19:53] jreback commented on #10565
@soupault good point! thanks

[2016-02-02 19:57] jreback commented on #12210
xref to here: https://github.com/pydata/pandas/issues/10582

love to have a PR!

[2016-02-02 20:16] uzihs opened #12211 "str(data_frame) raises an exception when there is a column with both NaT value and Timestamp with timezone info"
When you try to print a data frame that has a Timestamp column with both NaT values and Timestamp with timezone, AND the number or rows is more than the display setting - an exception is raised.

    import pandas as pd
    from datetime import datetime
    from pytz import UTC
    test=pd.DataFrame([{"dt": pd.Timestamp(datetime.now().replace(tzinfo=UTC)), "x": 1}] + [{"dt": pd.NaT, "x": 1}] * 5)

[2016-02-02 21:59] rcompton commented on #8517
Just came across this and I think it's worth reopening.

Some sugar for `flatmap`/`explode` would be nice. There are several workarounds circulating and none of them are quite the same, eg.

+ http://www.markhneedham.com/blog/2015/03/23/python-equivalent-to-flatmap-for-flattening-an-array-of-arrays/
+ https://stackoverflow.com/questions/31080258/pysparks-flatmap-in-pandas
+ https://stackoverflow.c

[2016-02-02 22:29] MaxNoe opened #12212 "Support for json lines format"
This is a useful format for streamed applications.

It's basically the records orientation without the brackets and commas after each line.

http://jsonlines.org

[2016-02-02 22:33] MaxNoe opened #12213 "Support Infinity, -Infinity and NaN in read_json"
While these special values are not strictly standard conform, most implementations do allow or use them.

For example Google's GSON Library or python's json module in the standard library.

[2016-02-02 22:34] jreback commented on #12212
this is a dupe of #9180

[2016-02-02 22:34] #12212 closed

[2016-02-02 22:37] jreback commented on #12212
pull-requests are always welcome!

[2016-02-02 22:49] jreback commented on #12213
nan's are already supported.

[code]

[2016-02-02 22:54] jreback commented on #12211
Hmm I just fixed this for the Series constructor, but the DataFrame construtor does a different introspection.

[code]

[2016-02-02 23:04] MaxNoe commented on #12213
But not  `NaN` for reading: `pd.read_json('{"a": [NaN, Infinity, -Infinity]}`

[2016-02-02 23:10] jreback commented on #12213
that's not valid json

[2016-02-02 23:21] MaxNoe commented on #12213
I know, that's what I wrote in the first post. But it is a commonly used extension.

See the description in Google's GSON package:

Or python's json module:

[2016-02-02 23:43] MaxNoe commented on #12213
Also interesting: the json specifications explicitly allow to accept extensions of the standard:
https://tools.ietf.org/html/rfc7159.html#section-9

   JSON parser MUST accept all texts that conform to the JSON grammar.
   A JSON parser MAY accept non-JSON forms or extensions.

[2016-02-03 00:04] dragoljub opened #12214 "pd.concat() from list of DataFrames read with pd.read_hdf() without .copy() results in 100X slower concat!"
[code]

I have two example DataFrames written to hdf5 files on disk. I use pd.read_hdf() to I/O them into a list. When I attempt to pd.concat([list,of,frames]) it takes 100X longer if I don't explicitly call .copy() right after the pd.read_hdf(). :confused:

Did something change in the pd.read_hdf() implementation to only reference data on disk instead of actually reading it into memory? This was

[2016-02-03 00:43] brazilbean commented on #9422
I've been running into this issue a lot recently - here are my two (or twenty) cents:

In a system that can represent the concept of "no data" (NaN), what is an operation on "no data"? I would assert: "no data". **If I give an algorithm nothing to work with, it gives me nothing back.**

When I can represent the concept of "no data", that concept is VERY different from "data: no magnitude" (i.e. ze

[2016-02-03 01:38] TomAugspurger commented on #12214
I think this was fixed by https://github.com/pydata/pandas/pull/11967 which was merged a few weeks ago, but can you double check?

Here are my timings

[code]

[2016-02-03 02:09] dragoljub commented on #12214
@TomAugspurger Thanks for checking, your results look promising. I guess the copy fixes the ordering for now but wastes memory.

Are there any daily pandas build binaries for windows? Compiling from source on windows is a challenge.

[2016-02-03 02:15] TomAugspurger commented on #12214
Are you using conda? `conda install -c https://conda.anaconda.org/pandas/channel/dev pandas` should track our master branch pretty closely.

[2016-02-03 03:06] jreback commented on #12214
Windows builds are only once in awhile

but I will put some up soon

[2016-02-03 03:12] TomAugspurger commented on #12214
Going to close for now since I was able to replicate the slow timings on 0.17.1 and fast timings on master. 0.18 isn't too far off, so let us know if / when you have a chance to test.

[2016-02-03 03:12] #12214 closed

[2016-02-03 09:22] andyljones opened #12217 "Concatenating two localized datetimes returns NaTs"
Issue:
[code]

Dependencies:
[code]

[2016-02-03 09:55] pag commented on #12217
I can replicate with python 2.7.10, windows 10, pandas 0.17.1, numpy 1.9.3.

[2016-02-03 10:48] kjam commented on #5724
Seeing as this keeps getting kicked to the next release, you can also perform `sum` and `count`. Referencing @hsharrison's original dataframe from the bug report:

[code]

[2016-02-03 12:15] nbonnotte commented on #9455
Xref #12078

The initial issue has been solved with PR #12158

I'll do a PR to add some tests

[2016-02-03 12:24] nbonnotte opened #12218 "Empty TypeError message with bad column selection"
I was trying to guess, in a dataframe with multi-indexed columns, how to select all columns with a given second-level value.

And then I hit an empty `TypeError` message

[code]

[2016-02-03 13:02] hbredin opened #12220 "DataFrame.idxmax may return modified index/column dtype"
In some circumstances, `idxmax` may return a Series with unexpected `dtype`:

[code]

[code]

In the second case, `dtype` is changed from `int64` to `float64` (even though both `columns` and `index` only contains `int64`.

I understand that `float64` is needed to actually store `NaN` in the second case but I find it confusing (and possible error-prone if we combine it with a subsequent call to `df

[2016-02-03 13:16] nbonnotte commented on #12218
For the completeness of the discussion, after reading the documentation (which is more sure but less fun than guessing), I was able to (almost) obtain what I wanted with
[code]

[2016-02-03 13:36] jreback commented on #12217
hmm, partially was addressed in #12195

but still looks buggy

[2016-02-03 13:37] jreback commented on #12218
yeh I suppose the ``TypeError`` could *maybe* be more informative, though you really were passing bad values.

[2016-02-03 13:39] jreback commented on #12220
This is correct, you are maxing 2 infs, which resulting in ``NaN``. Currently this is not representable by integers, so it coerces to floats. It is a bit inconvenient, but correct.
[code]

[2016-02-03 13:39] #12220 closed

[2016-02-03 13:45] nbonnotte commented on #12200
What SQL system are you using? Have you tried forcing the type of your column in the SQL query?

[2016-02-03 14:06] #11928 closed

[2016-02-03 14:07] jreback commented on #11928
ok, linter is now enabled on Travis-CI!

it will run tests, then check for any failures, which will fail the build.

[2016-02-03 14:11] wesm commented on #11928
Woo, thanks @jreback @rockg and all who worked on this for the huge effort. Clean code makes productive teams! 😊

[2016-02-03 14:16] dacoex commented on #12203
I connot confirm.

The reason: in all examples of #9755 `names` **and** `usecols` were given.

In my case, it's data without any column names.

So I would like to be able to specify the columns to be used without using names.

[2016-02-03 14:19] jreback commented on #12203
ok, i'll mark it. though I suspect its a very similar soln. pull-requests welcome.

[2016-02-03 15:07] toobaz opened #12221 "KeyError Iterating on empty HDFStore"
list(pd.HDFStore("non_existing_store.hdf"))

should, I think, return ``[]``, instead it yields:

    KeyError: 'No object named 0 in the file'

[2016-02-03 15:14] jreback commented on #12221
has nothing to do with an empty store, ``HDFStore`` is an iterable (e.g. has ``__getitem__`` and ``__len__`` defined), but not ``__iter__``, so this essentially calls ``.get``. I suppose it should just raise a better error message.

you are probably looking for ``.keys()`` (though I suppose ``__iter__`` could just call that)

[2016-02-03 16:10] jim22k opened #12222 "Iterrows making incorrect assumptions about datetime"
This is a very obscure bug in a corner-case, but it's still a bug which I ran into. It's easiest to understand by seeing it in action. I'm running **pandas version 0.17.1**.

[code]

The key to causing the bug is a row which starts with a datetime obj followed by at least two None's. Following that is any number of empty strings, empty lists, empty sets, or empty dicts. Indexing into the DataFrame

[2016-02-03 16:27] TomAugspurger commented on #12222
This is probably working as intended. `.iterrows` returns a Series which must have a single dtype. Pandas will try to cast the items in a row to as precise a dtype as it can so all the Falsey things get cast as `NaT`s. If you want to preserve the items try `DataFrame.iteritems()` which will return namedtuples.

Just one thing though, I don't see

being required to get them to not cast

[code]

Can

[2016-02-03 17:01] s-wakaba opened #12223 "multi-index display bug"
Thanks for great tool!

When printing a long DataFrame with multi-index which are result of  set_index(..., append=True),
displaying index values look strange.

[code]

When DataFrames are short (in this case, 10 rows), there is no problem.
However, when DataFrames is long (in this case, 100 rows) and omitted middle-part on printing, some columns of index is not correct.

[code]

result of pd.show

[2016-02-03 17:21] cboettig opened #12224 "read_csv's na_values dict format cannot parse float type"
Minor issue regarding `read_csv`'s `na_values` argument in `dict` format.  I note that the list format works fine when the NA value is given as a float-type (which is often the intuitive choice), e.g.:

[code]

However, the dict format is more appropriate for this classic data set, since different columns are defining different NA values.  Unfortunately, this fails with an error about float type:

[2016-02-03 17:54] chris-b1 opened #12225 "msgpack reads python 2 string as bytes"
This maybe is just a doc warning - but caught me by surprise.  I would prefer the `read_csv` behavior, but it would be backwards incompatible.

[code]

[2016-02-03 17:56] jreback commented on #12225
see #12142

[2016-02-03 17:58] jreback commented on #12225
xref https://github.com/pydata/pandas/issues/5924

[2016-02-03 19:09] MaximilianR opened #12226 "Query on Series"
I often find myself building a chain of logic, and then wanting to slice over some expression. Here's a contrived example:

[code]

...and then having to assign to a separate variable and slice using that. Which is not the worst affliction that could strike western civilization, but can disrupt the flow in a repl a little.

[code]

Instead, would it be reasonable to extend query or filter to do th

[2016-02-03 19:23] jreback commented on #12226
anything different from https://github.com/pydata/pandas/issues/11485 ?

[2016-02-03 19:36] MaximilianR commented on #12226
No that covers it!

Closing.

FWIW `Series.filter` seems a bit orphaned - not much in the docs, and its first arg `items` looks like nothing more than a slice. I wonder if this functionality could come from #11485.

[2016-02-03 19:36] #12226 closed

[2016-02-03 19:40] MaximilianR commented on #11485
Would be nice if this also worked on `Series` (unlike query which currently just works on DFs).

And +1 for @shoyer's suggestion re extending query for this: `df.query(lambda df: df.B == 'a')`, despite the inability to set those values.

[2016-02-03 19:55] jim22k commented on #12222
This shows the behavior I was noting:

[code]

Having only `None`s and empty strings always gives `NaT`s.

[code]

But including a single `False` or zero in the row avoids the `NaT` conversion, even though those should also be considered "falsy".

[code]

[2016-02-03 20:54] jreback commented on #12226
@MaximilianR

yeah ``.filter`` is only on labels. its a bit of an odd spelling, as typically ``.filter`` is on data.

I think we have an issue about this somewhere.

[2016-02-03 20:55] kawochen commented on #11485
@MaximilianR I'm using your example from #12226:
What's wrong with the following?
[code]

[2016-02-03 21:48] toobaz commented on #12221
Sorry, I was mislead by ``HDFStore().root`` being iterable. I will implement the ``__iter__`` you suggest.

[2016-02-03 22:15] jcrist opened #12228 "Pandas read_csv with chunksize stops before end of file"
I have a massive csv file (54 GB, ~2.7 billion records) that I'm trying to process in chunks using chunksize. The csv reader stopped before hitting the end of the file. Upon further investigation, I found that it stopped after reading 2147483648 rows, which, is (2**32)/2. I assume there's an overflow happening somewhere inside the cython code for read_csv.

[2016-02-03 23:20] toobaz commented on #12153
I removed edits to ``BotoFileLikeReader`` because as far as I can judge the failing tests were due to it (through its ancestor ``key.Key``) already being an iterable, and knowing nothing about this format/service it's hard for me to debug.

[2016-02-04 00:19] MaximilianR commented on #11485
@kawochen Ah - that's very nice. Not sure how I missed that. Thanks!

[2016-02-04 02:07] BranYang commented on #12224
Tried the errored call:

[code]
Seems that read_csv assumes the values in the na_values dict (something like{key:values}) must be an iterable.
To solve this, maybe we should either accept single value in the dict as well, or make it clear in the docstring.

Current docstring for na_values
[code]

[2016-02-04 04:02] wjayne opened #12229 "BadZipfile: File is not a zip file on Windows not on Mac OS"
When trying to run code on my computer that my partner wrote on his computer, I get this error when I run
[code]

Here's the Error messages:
File "C:\Users\wjayn_000\Documents\GitHub\tippecanoe\app\views\lodging.py", line 19, in lodging_output
    hotels = read_excel(f)
  File "C:\Users\wjayn_000\Documents\GitHub\tippecanoe\app\views\functions.py", line 7, in read_excel
    xl = pd.ExcelFile(file)

[2016-02-04 05:24] BranYang commented on #12169
The root cause of this issue is that, when construct Series from a dict with TimedeltaIndex as key, it will treat the value as float64. See pandas/core/series.py, from line 172 to 185

[code]
I believe just change `isinstance(index, PeriodIndex):` to `isinstance(index, (PeriodIndex, TimedeltaIndex):` would solve this issue

Before
[code]

After
[code]

[2016-02-04 07:37] dacoex commented on #12203
I noted that `nrows` is even more sensitive

[2016-02-04 11:25] laborhm opened #12230 "Regarding pd.DataFrame.std() function"
It looks like it calculates an adjusted value of std, i.e. a squared deviation from the mean, (x_i - x_bar) ** 2, divided by n-1 instead of n.
It is a reasonable measure for cases when n <= 50 allowing to avoid underestimation of std. But in cases when n > 50 actually there is no difference what number is used in the denominator, n or n-1. I guess you need to take this into account.

Many thanks f

[2016-02-04 11:36] mackaiver commented on #12213
:+1: This would indeed be very helpful for interoperability between a pandas backend and a JS frontend.

[2016-02-04 12:40] dacoex commented on #12203
The whole problem is that `usecols` is used to derive a subset of the cleanly parsed csv file.

E.g. when reading
[code]
usecols[0,1] would aloow to get a df with the col 1 and col 2.

What I seek, any others on SO, is to limit the number of columns that are parsed initially.

e.g.

[code]
In this case, usecols does not apply and work.
The different length of the 2 bad rows confuse teh reader comp

[2016-02-04 14:36] dacoex opened #12231 "datetime index list when pd.concat"
The cookbook [Data In/Out](http://pandas-docs.github.io/pandas-docs-travis/cookbook.html#data-in-out) points to: [how to read in multiple files, appending to create a single dataframe](http://stackoverflow.com/questions/25210819/speeding-up-data-import-function-pandas-and-appending-to-dataframe/25210900#25210900).

When using the suggested procedure on 2 df with freq '10T' the index is without the

[2016-02-04 14:51] dacoex commented on #12231
maybe related to #12195

[2016-02-04 16:55] kawochen commented on #12230
What do you mean?  They are both biased estimators of standard deviation.

[2016-02-04 21:24] ckingdon95 opened #12232 "issue with StataReader for stata files versions 108 and older"
I am having an issue with the StataReader class, which is found in stata.py ("pandas/io/stata.py").
I have pandas: 0.17.1.

The following is the python code I am trying to run:
[code]
where fileName is a stata file.

The following code is part of the _read_old_header method(which starts on line 1184) of the StataReader class in stata.py, which gets called during the initialization of a StataReader

[2016-02-04 22:54] jorisvandenbossche commented on #12232
cc @bashtage @kshedden

[2016-02-04 23:51] laborhm commented on #12230
Hi!,

Here's one of the links to the material in quenstion:
http://studopedia.org/1-31408.html, unfortunately in Russian. The passage
below explains everything, and I translated it:

Обе предложенные оценки - выборочная дисперсия и исправленная выборочная
дисперсия – являются состоятельными оценками генеральной дисперсии, и
разница между ними заметна лишь при небольшом числе наблюдений n. При n >

[2016-02-05 00:01] kshedden commented on #12232
@ckingdon95  thanks for the detailed report.  We don't have any test files that old, and I cannot create a file that old with the latest version of stata, which is the only one I can access (see link below).  So we might need someone to provide us with a test file to troubleshoot this.  Are there any version 108 files floating around on the web?

http://www.stata.com/support/faqs/data-management/s

[2016-02-05 01:01] kshedden commented on #12232
I don't think we need `_decode_bytes` there, the column types are all ASCII.

_decode_bytes is not covered by any tests and is only called in one place.

Can someone with a version < 108 file change lines 1204-1208 of stata.py to:

 `typlist = [self.OLD_TYPE_MAPPING[self.path_or_buf.read(1)] for i in range(self.nvar)]`

and report back?  If we adopt this we should remove the `_decode_bytes` method

[2016-02-05 01:37] ckingdon95 commented on #12232
thanks for the reply! the stata files I am trying to read can be found at this website: http://econ.worldbank.org/WBSITE/EXTERNAL/EXTDEC/EXTRESEARCH/EXTLSMS/0,,contentMDK:21544648~pagePK:64168445~piPK:64168309~theSitePK:3358997,00.html

[2016-02-05 02:26] TomAugspurger commented on #12230
In the docstring it says

[code]

So working as intended. If you want the `n` version use `df.std(ddof=0)`

[2016-02-05 02:26] #12230 closed

[2016-02-05 02:33] TomAugspurger commented on #12231
Hi @dacoex can you provide an example that shows your problem? For example

[code]

is correct. Also post your pandas version, as you noted it might have been fixed in #12195

[2016-02-05 03:12] laborhm commented on #12230
Thanks for the lead, I see now.))

2016-02-05 12:26 GMT+10:00 Tom Augspurger <notifications@github.com>:

[2016-02-05 05:36] kawochen commented on #12230
@TomAugspurger  Then the doc string is either wrong or misleading.  If you treat the data as a sample of some distribution, then the doc string is wrong regarding bias.  The unbiased estimator of standard deviation has no closed form.  You can think of the data as the population, but then there should be no bias to speak of (and `N` should be used).

[2016-02-05 15:46] jreback opened #12235 "3.5 builds failing on linux"
``scipy`` is not install ``libgfortran``, see issue [here](https://github.com/conda/conda/issues/2028)

log [here](https://travis-ci.org/pydata/pandas/jobs/107252670)

[2016-02-05 16:45] jreback opened #12236 "BUG: read_hdf is not read-threadsafe"
xref: https://github.com/pydata/pandas/issues/2397
xref #14263 (example)

I _think_ that we should protect the file open/closes with a lock to avoid this problem.

[2016-02-05 17:25] jreback commented on #12231
``freq`` is lazily computed (though it is by definition computed on direct construction)

[code]

[2016-02-05 17:25] #12231 closed

[2016-02-05 17:27] bennorth opened #12237 "When reading CSV, float-like strings lacking exponent digits are accepted as floats"
The data-frame

[code]

does not round-trip correctly via CSV.  The string `'2E'` is interpreted as a valid float, but it should not be (according to man strtod(3), which seems a reasonable spec).

[2016-02-05 17:28] bennorth commented on #12237
Work underway in #12215.

[2016-02-05 17:29] jreback commented on #12229
you can try to post this on ``xlrd``, though it appears you have a corrupt file

[2016-02-05 17:29] #12229 closed

[2016-02-05 19:20] michaelaye commented on #11773
`to_csv` also does not support pathlib.Path yet. (v0.17.1)

[2016-02-05 19:33] bsdfish opened #12238 "np.searchsorted fails on Index due to Index.searchsorted not taking a sorter argument."
[code]

leads to
[code]

The reason is that the interface of Index.searchsorted(self, key, side='left') doesn't match numpy.ndarray.searchsorted(self, v, side='left', sorter=None)  and numpy.searchsorted is implemented as
[code]

This is pandas 0.17.1 (but the relevant code seems to appear in master) and numpy 1.10.4  .

[2016-02-06 05:18] sinhrks commented on #12223
Related to #10461.

This is caused by ``MultiIndex.append`` internally used. The 2nd level is overwritten by level named with "1".

[code]

As a workaround, do not use numeric names.

[2016-02-06 07:08] nbonnotte opened #12240 "Travis build fails on master"
https://travis-ci.org/pydata/pandas/builds/107252660

This happens since the last commit, which was merging a pull request of mine... but Travis was green for me, and beside I can't see no connection between that:

[code]

and my commit, which was about the formatting of float strings.

[2016-02-06 15:17] amcpherson opened #12242 "HDFStore.append fails when appending dataframe with empty string column for which min_itemsize < 8"
Reproduced as follows:

[code]

Does not raise unless all values in a column are empty strings.  A workaround is to set min_itemsize to 8 or higher.

Version information:

[code]

[2016-02-06 16:01] TomAugspurger commented on #12242
So it looks like this comes from `np.asarray` doing something strange with length 0 fixed-width strings:
[code]

The `array` constructor converts to length 1 strings though:

[code]

Looks like a numpy bug maybe? Either way, we can work around by changing [this line](https://github.com/pydata/pandas/blob/6693a723aa2a8a53a071860a43804c173a7f92c6/pandas/io/pytables.py#L4450) to

[code]

@amcpherson

[2016-02-06 16:24] TomAugspurger commented on #12240
Looks like it's a Scipy issue. Jeff has a PR here https://github.com/pydata/pandas/issues/12240.

Always a good feeling when your not the one who broke it!

[2016-02-06 16:25] TomAugspurger commented on #12240
Ahh maybe I closed this too soon. Jeff's PR doesn't handle the nanops. Should we skip those for now (at least on Scipy 0.17)? It'd be good to get things passing again.

[2016-02-06 16:29] jreback commented on #12240
yeah we should skip the failing parts for now
but of course fix them in another tissue
i think scipy fixed some bugs

[2016-02-06 16:33] TomAugspurger commented on #12240
OK, I'll see if I can fix the tests. Assumed they were new bugs from scipy, not fixes.

[2016-02-06 17:22] TomAugspurger commented on #12240
Oh my, these tests are complicated :) [This](https://github.com/scipy/scipy/pull/5007) is the change in scipy I believe. Still trying to work out what changed... Maybe I'll put up a PR with skipifs for now :)

[2016-02-06 18:21] jorisvandenbossche opened #12244 "BUG: DataFrame.apply fails on timezone aware datetime data"
[code]
(from [SO](http://stackoverflow.com/questions/35241673/pandas-df-apply-typeerror-data-type-not-understood#35244563))

[2016-02-06 19:18] jreback opened #12245 "RLS: 0.18.0 schedule"
so I am thinking of a RC1, friday feb 12th & release on or about friday feb 26th assuming nothing major comes up.

any objections

@jorisvandenbossche @shoyer @wesm @cpcloud @TomAugspurger @sinhrks

[2016-02-06 19:35] jreback commented on #12235
this issue will now be to solve the issues skipped [here](https://github.com/pydata/pandas/commit/59ab2ec68f348244ab3b6537b9340fba26edb2ae)

[2016-02-06 19:38] jreback commented on #12240
dupe of #12235

[2016-02-06 19:38] #12240 closed

[2016-02-06 19:49] #11727 closed

[2016-02-06 19:56] amcpherson commented on #12242
i can do a pull request, cant guarantee how soon though
On Sat, Feb 6, 2016 at 8:02 AM Tom Augspurger <notifications@github.com>
wrote:

[2016-02-06 19:56] wesm commented on #12245
This seems fine to me.

Side issue: pandas is in need of an issue triage. We should probably move at least 500 issues to a feature deadpool to discuss and close. If we agree on a standard protocol for the triage, I can take on 50-100 personally.

For the triage, we should have 2 kinds of issues:

1) This belongs in pandas, but needs a champion to pick it up and do it
2) This probably does not belo

[2016-02-06 20:04] #12153 closed

[2016-02-06 21:50] #12052 closed

[2016-02-07 12:06] toobaz commented on #12154
[The docs say](http://pandas.pydata.org/pandas-docs/stable/io.html) _"Starting in 0.11.0, passing a min_itemsize dict will cause all passed columns to be created as data_columns automatically."_, but an error message in ``pandas/io/pytables.py`` says _"ValueError: cannot use a multi-index on axis [1] with data_columns True"_.

Should interpret the ``ValueError`` as a temporary ``NotImplementedErro

[2016-02-07 15:08] MMCMA opened #12250 "Inconsistent results when concatenating parsed csv files with function application on windows"
I am puzzled with the following problem. I have a set of csv files, which I parse iterativly. Before collecting the dataframes in a list, I apply some function (as simple as `tmp_df*2`) to each of the `tmp_df`. It all worked perfectly fine at first glance, until I've realized I have inconsistencies with the results from run to run. Strangly, I don't not observe inconsistencies like this one when I

[2016-02-07 15:14] jreback commented on #12250
you need numexpr 2.4.6

see here: https://github.com/pydata/pandas/issues/12023

next time pls pd.show_versions() as well as a much shorter description - you are pasting code which cannot be reproduced without the source files and so is pretty much useless

[2016-02-07 15:26] MMCMA commented on #12250
Thanks, this solves the problem. Sorry, I'll try to improve.

[2016-02-07 15:26] #12250 closed

[2016-02-07 20:43] colin1alexander opened #12254 "BUG: Groupby on categorical column with date and period producing unexpected result"
http://stackoverflow.com/questions/35236880/groupby-on-categorical-column-with-date-and-period-producing-unexpected-result

The issue below was created in Python 2.7.11 with Pandas 0.17.1 (and 0.17.1+311.g70f79ce)

When grouping a categorical column with both a period and date column, unexpected rows appear in the grouping.

[code]

Grouping the month and date with a regular series (e.g. cat2) wor

[2016-02-08 02:35] fnielsen opened #12255 "Assignment to mixed-type DataFrame with float32 coerce to float64"
Assignment to mixed-type DataFrame with float32 numpy array coerce to float64

[code]

Shouldn't the result be `dtype('float32')`?

See also http://stackoverflow.com/questions/35230388/why-does-pandas-coerce-my-numpy-float32-to-float64

[2016-02-08 06:56] Winand opened #12257 "use_inf_as_null makes fillna extremely slow"
Setting `mode.use_inf_as_null=True` makes `fillna` extremely slow (about 14sec).

The most of time is spent on `self._data.fillna` (core/generic.py:2833)
[code]

[slow_fillna.msgpack.gz](https://github.com/pydata/pandas/files/121211/slow_fillna.msgpack.gz)

[code]

[2016-02-08 11:50] fnielsen commented on #12255
It may be worth to note that float64 coercing with float32 can be considerably slow. I have another Stackoverflow question about that:

http://stackoverflow.com/questions/35184681/assignment-of-pandas-dataframe-with-float32-and-float64-slow

The coercing here is over 10 times as slow.

[2016-02-08 12:20] jennolsen84 commented on #12141
`rolling_median` is an operation that can be sped up using multi-threading easily.  The C library can easily export a re-entrant function that doesn't use the GIL and takes in an input and an output buffer.

What is the pandas policy regarding this?  E.g. numexpr evals automatically use multiple cores (unless explicitly told to use only one core), but bottleneck uses 1 core by default.  If it is O

[2016-02-08 12:24] MaxNoe commented on #11666
Yes please. Especially for `read_json`!

[2016-02-08 13:41] toobaz opened #12258 ""ValueError" on specific MultiIndex.from_product initialization(s?)"
Probably my favourite bug so far:

    In [2]: pd.Series(index=pd.MultiIndex.from_product([[], [0,1], []], names=['var', 'per', 'extr']))
    Out[2]: Series([], dtype: float64)

    In [3]: pd.Series(index=pd.MultiIndex.from_product([[], [0,1,2,3], []], names=['var', 'per', 'extr']))
    Out[3]: Series([], dtype: float64)

    In [4]: pd.Series(index=pd.MultiIndex.from_product([[], [0,1,2], []], n

[2016-02-08 14:32] jreback commented on #12258
I guess these should work. We don't appear to have any tests for empty level construction.

Note these are pretty much useless in practice.

[2016-02-08 14:33] jreback commented on #12257
pls show a self-contained reproducible example

[2016-02-08 14:43] jreback commented on #12255
This area of the code is quite complex and inference is pretty tricky, but I suppose.

[code]

[2016-02-08 14:44] jreback commented on #12255
submitting a PR would help move this along.

[2016-02-08 14:45] randomgambit opened #12259 "ValueError: Data type datetime64[ns] not currently understood. Please report an error to the developers."
I do what I am told to do ;-)

I have a big dataframe with the following columns

[code]

and I try to save it using pd.to_stata

`daily_news.to_stata( "mypath/data.dta",convert_dates= {'obs_day' : 'td'})`

and I get

[code]

[2016-02-08 14:57] jreback commented on #12259
pls ``pd.show_versions()`` and provide a reproducible example.

IIRC this is simply not supported

cc @kshedden

[2016-02-08 15:02] jreback commented on #12254
This is by definition of what a groupby does w.r.t. a ``Categorical``. You get all of the categories.. This is documented [here](http://pandas.pydata.org/pandas-docs/stable/categorical.html#operations).

IIRC this was incorrect in 0.15.0 when categoricals where introduced and fixed shortly after.

[2016-02-08 15:02] #12254 closed

[2016-02-08 15:03] jreback commented on #12255
This is around [here](https://github.com/pydata/pandas/blob/master/pandas/core/indexing.py#L484)

[2016-02-08 15:11] randomgambit commented on #12259
[code]

I ll try to get a working example

[2016-02-08 15:18] #12232 closed

[2016-02-08 15:28] #12042 closed

[2016-02-08 15:32] jreback commented on #12245
@wesm sounds all good to me.

It might make sense to create a couple of milestones for these (or labels ok too): internal refactor / triage

I find milestones a bit 'more obvious' for grouping things like this.

I also created 0.18.1 and 0.19.0 milestones.

I will (but haven't yet) created a deprecation issue of > 2 ndim.

[2016-02-08 15:45] colin1alexander commented on #12254
The categories are 'a', 'b', and 'c', not the dates.  I'm getting all of the dates, not all of the categories.

In addition, the behavior wouldn't be consistent with the simpler example, which works fine:

[code]

[2016-02-08 16:02] aplanas commented on #11282
I confirm that for 0.17.1 under s390x we have this:

[code]

[2016-02-08 16:10] dacoex commented on #12231
@jreback thanks for the clarification.

In my case, I have concatenated 2 df with the same frequency which was assigned before.

[2016-02-08 16:46] toobaz opened #12261 "sort_index doesn't sort MultiIndex when .loc[] referred to non-existent label on other axis"
[code]

Am I missing anything obvious?!
(Notice that this is not related to any of the two axes being initialized as empty)

[2016-02-08 16:56] allthedata opened #12262 "high temporary memory usage on creation of DataFrame from list"
When I create a DataFrame from a list of arrays, it temporarily uses a lot more memory and is slower than if I convert the list to an array first (if you want to test this, make sure you have enough memory or change the size of `a`):
[code]

The same problem exists when creating a DataFrame from a list of lists, but definitely not as bad:
[code]

Versions:
[code]

[2016-02-08 17:50] kshedden commented on #12259
Try converting the datetime64 to an array of datetimes, some examples here:

http://stackoverflow.com/questions/13703720/converting-between-datetime-timestamp-and-datetime64

[2016-02-08 22:48] trevorstephens opened #12264 "timezones discarded when calling .values and .unique()"
Calling `values` to get a column of timestamps seems to be dropping the timezone whether it is a standard column or an index. `unique` also has problems for df columns, though indexes appear to work. Running 0.17.1 through conda.

	...                    'Value': [1, 2]})

	Timestamp('2016-02-08 13:55:00-0500', tz='US/Eastern')

	numpy.datetime64('2016-02-08T10:55:00.000000000-0800')

	array(['201

[2016-02-08 22:52] jreback commented on #12264
these return numpy constructs which don't support timezones.

[2016-02-08 22:52] #12264 closed

[2016-02-08 22:54] jreback commented on #12264
docs are here: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#tz-aware-dtypes

[2016-02-09 09:39] klonuo opened #12265 "Reading table with chunksize still pumps the memory"
I'm trying to migrate database tables from MySQL to SQL Server:

[code]

I thought that using chunksize would release the memory, but it's just growing up.
I tried also garbage collector, but it has no effect.

Maybe my expectations were wrong?

_I'm using Python 3.5.1 with pandas 0.17.1 and all latest packages, although I tried also Python 2.7 with pandas 0.16 and same results_

[2016-02-09 09:58] jennolsen84 commented on #12141
@jreback @wesm any feedback on the pandas policy?  I would like to avoid doing un-necessary work, if possible.  In this case, I am referring to writing a threaded implementation, and have the PR in pandas get rejected.

I have upgraded the move_median algorithm in bottleneck to accept nans, and `min_period` (but it is called `min_count` in bottleneck).

I benched it in different scenarios and am c

[2016-02-09 10:05] jennolsen84 commented on #12141
here is the timing data (I stopped it after while, as it wasn't that interesting):

https://gist.github.com/jennolsen84/70cf058cd0e02ef299d3

[2016-02-09 10:37] toobaz opened #12266 "ValueError when opening a read-only hdf twice"
In [3]: with pd.HDFStore('/tmp/file_I_can_only_read.hdf') as store:
       ...:     store['test'] = pd.Series(range(3))
       ...:

    In [4]: os.chmod('/tmp/file_I_can_only_read.hdf', 0o400)

    In [5]: store1 = pd.HDFStore('/tmp/file_I_can_only_read.hdf')
    Opening /tmp/file_I_can_only_read.hdf in read-only mode

    In [6]: store2 = pd.HDFStore('/tmp/file_I_can_only_read.hdf')
    --------

[2016-02-09 10:37] jorisvandenbossche commented on #12265
Possibly. `chunksize` is in any case a somewhat misleading keyword:

1. Using `chunksize` does not necessarily fetches the data from the database into python in chunks. By default it will fetch all data into memory at once, and only returns the data in chunks (so the conversion to a dataframe happens in chunks). Generally, this is a limitation of the database drivers.
   See also https://github.co

[2016-02-09 10:38] fnielsen commented on #12255
The `DataFrame` trick does not work in all cases. If the columns are named

    import pandas as pd
    import numpy as np
    columns = ['c0', 'c1', 'c2']
    df = pd.DataFrame([[1, 2, 'a'], [3, 4, 'b']], columns=columns, dtype=np.float32)
    A = df.ix[:, 0:1].values
    df.dtypes
    df.ix[:, 0:1] = pd.DataFrame(A)
    df.dtypes

The result yields a wrong datatype for the first column (c0) whil

[2016-02-09 10:47] klonuo commented on #12265
Thanks for your prompt reply.
So I've been mislead with chunksize... I remember I was using it in the past, but perhaps understood it wrong, and used it with tables that fits in memory...

PG is also an option for me instead MSSQL, but I'll try alembic first.

Cheers

[2016-02-09 10:47] #12265 closed

[2016-02-09 11:07] klonuo commented on #12265
PG example parameters for this example would be very nice ;)

[2016-02-09 12:07] jorisvandenbossche commented on #12265
In principle, I think it should be something like this:

[code]

But, I never tested this myself. Would be interesting to hear experiences with it.

[2016-02-09 12:53] klonuo commented on #12265
Thanks Joris, you seem like a really nice person

unfortunately your snippet seems like not enough:

[code]

I mean this is just for reference. It would be nice if we could migrate data in chunks to PG just by using pandas.

Anyway I'm reading alembic and I will put here simple script if it's simple as in pandas :)

[2016-02-09 13:29] jorisvandenbossche commented on #12265
Ah, but note that the `execution_option` of `stream_results` is for *fetching* the data. You are fetching the data from MySQL, which does not support this, and so the above will still fetch all data at once into memory, so it is normal you do not see any difference.

[2016-02-09 13:55] coreycb commented on #11282
on Ubuntu for arm64 on 0.17.1 we are hitting:

======================================================================
ERROR: test_timestamp_compare (pandas.tests.test_frame.TestDataFrame)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/«PKGBUILDDIR»/debian/tmp/usr/lib/python2.7/dist-packages/pandas/tests/test_frame.py", line 5749,

[2016-02-09 14:04] coreycb commented on #11282
On Ubuntu for arm64 we're hitting:

    ======================================================================
    ERROR: test_timestamp_compare (pandas.tests.test_frame.TestDataFrame)
    ----------------------------------------------------------------------
    Traceback (most recent call last):
      File "/«PKGBUILDDIR»/debian/tmp/usr/lib/python2.7/dist-packages/pandas/tests/test_frame.py", li

[2016-02-09 14:07] coreycb commented on #11282
Also on Ubuntu for powerpc for 0.17.1 we're hitting:

    ======================================================================
    ERROR: test_timestamp_compare (pandas.tests.test_frame.TestDataFrame)
    ----------------------------------------------------------------------
    Traceback (most recent call last):
      File "/«PKGBUILDDIR»/debian/tmp/usr/lib/python2.7/dist-packages/pandas/tests/

[2016-02-09 14:18] jreback commented on #11282
love to have fixes for these. but keep in mind that we don't formally support these platforms as they are not regularly tested. so fixes would have to be specifically targeted with tests (see my comments on #12269).

[2016-02-09 14:19] jreback commented on #12266
and what is the problem? you need to open with with ``mode='r'``.

[2016-02-09 14:32] dacoex commented on #12231
@jreback thanks for the clarification.

In my case, I have concatenated 2 df with the same frequency which was assigned before.

[2016-02-09 14:33] jreback commented on #12262
a simpler way to look at this is with ``memory_profiler``

[code]

This is all as expected. What exactly do you think is a problem here?
a list-of-lists need to be copied to a numpy array structure

[2016-02-09 14:41] toobaz commented on #12266
It is just incoherent (you don't need ``mode='r'`` the first time) and less practical. If you're saying it's not a crucial bug... well, I agree.

[2016-02-09 14:49] jreback commented on #12266
still unclear

what exactly is incoherent? it works exactly as intended

you have to be explicit - the default is append

[2016-02-09 14:49] #12266 closed

[2016-02-09 15:10] toobaz commented on #12266
The default on read-only stores is read, but as you prefer.

[2016-02-09 15:12] jreback commented on #12266
it's much better to have an explicit error

[2016-02-09 20:00] allthedata commented on #12262
I'm saying that if I use numpy to explicitly convert the list-of-arrays to an array first, it saves a lot of memory compared to letting pandas convert it. I'm assuming pandas does something like `np.array()` to convert the input if it realizes that it needs to be converted, so ideally it should use the same amount of memory as me explicitly converting it. Sorry if I'm missing something, but in you

[2016-02-09 20:50] jreback commented on #12262
@allthedata

``np.array(list_of_array)`` is converting a singular dtype structure, then pandas simply takes a view on this and you are done.

However a list-of-list is not the same thing as it might have multiple dtypes and we cannot use ``np.array`` at all as it mostly does the wrong things.

Try this with a list of things that are not exactly the same dtype.

so not really sure what if anything

[2016-02-09 20:50] #12262 closed

[2016-02-09 21:12] kawochen opened #12272 "ENH: Make use of RangeIndex in DatetimeIndex"
`DatetimeIndex` looks like it can benefit from `RangeIndex` #11892 .
Use case 1: Evenly-spaced time-series analysis
Use case 2: I sometimes (ab)use `date_range` like a PY3 `range` in a for loop, which I think is quite neat.  It would be cooler if it were lazily evaluated.

[2016-02-09 21:14] jreback commented on #12272
@kawochen absolutely for 1 (might not even be that tricky as would simply need to move to sub-class from ``Int64Index`` to ``RangeIndex``

can you give a more full example for 2)?

[2016-02-09 21:27] kawochen commented on #12272
For 2) I just meant
[code]
It's much better than updating with some time delta, and quacks like `datetime.datetime`  enough that it serves all needs I have for the latter.
It solves [this SO problem](http://stackoverflow.com/questions/1060279/iterating-through-a-range-of-dates-in-python) perfectly.

[2016-02-09 21:34] wesm commented on #12141
@jennolsen84 is it possible to handle the multithreading using pthreads in C rather than via Python threads?

[2016-02-09 21:41] jreback commented on #12272
ah I c.

that brings up a good point actually. ``__iter__`` is NOT lazy ATM for ``Int64Index``, but for ``RangeIndex`` it certainly could/should be.

[2016-02-09 21:50] jreback commented on #12255
This is not a *trick*, but a defined aligning operation. Assigning w/o the proper columns doesn't make much sense.

[code]

[2016-02-09 22:05] MaximilianR commented on #12272
+ `PeriodIndex`!

[2016-02-09 22:20] jreback commented on #12141
@jennolsen84 so in general to play nice, you can:

- release the GIL whenever possible (though have to be careful as sometimes this can add overhead in some cases)
- you shouldn't use python threads or python multiprocessing as this doesn't play nice with higher level than pandas who want to use python threads.

note that:``numexpr`` recently (IIRC in 2.5, just released) now actually plays nice by

[2016-02-09 22:25] jreback commented on #12182
@jorisvandenbossche so what should we do about this, revert the actual ``_repr_latex_`` method?

The other changes are fine.

[2016-02-09 22:26] jreback commented on #12170
@kawochen can you do a PR for this?

[2016-02-09 22:26] jreback commented on #12061
@chris-b1 can you do a PR for this?

and see if any of the asv timings change?

[2016-02-09 22:37] coreycb opened #12273 "python-statsmodels required for s390x arch?"
The debian/control file has some logic that, in our case on ubuntu, only requires python-statsmodels for 390x.  Is it really required for s390x?

[2016-02-09 22:49] jorisvandenbossche commented on #12182
I think the best would be something like the following:

Have a new `pd.options.display.latex_repr` option, which defaults to False, and when setting it to True, this triggers a callback function that adds the `_latex_repr_` method dynamically to DataFrame.

[2016-02-09 23:29] chris-b1 commented on #12182
It doesn't even need to be a callback, `_repr_latex` can just return `None` (if the option is False) and the qtconsole will fallback.  I'll submit a PR here shortly.

[2016-02-09 23:59] jreback commented on #12273
``statsmodels`` is only an optional dependency. In 0.18.0 (RC1 coming end of the week), all of the uses are deprecated, so it will be removed as an optional dep in the future.  No reason to have it depend in debian any longer.

[2016-02-09 23:59] #12273 closed

[2016-02-10 00:50] chris-b1 commented on #12061
@jreback  - here's the general tradeoff - adds some overhead (large relative, small absolute) to parsing iso8601, and of course speeds up non-iso8601 a lot.  Does that seem worth it?

[code]

[2016-02-10 00:56] jreback commented on #12061
so is the iso parsing overhead just a couple of function calls? can u update with 10x (or 100) size as well to see how this scales

[2016-02-10 01:07] jorisvandenbossche commented on #12182
Ah, yes, that seems also to work. Even simpler!

[2016-02-10 01:51] chris-b1 commented on #12061
below has this same test at different sizes.  `diff` is increase (decrease) in time,  `ratio` is (infer) / (don't infer).

Infer only looks at the first element, so not completely sure why the overhead isn't flat.

|       n     |    iso_diff |   iso_ratio |   noniso_diff |   noniso_ratio |
|-----------:|------------:|------------:|--------------:|---------------:|
|      1     | 0.000282747 |

[2016-02-10 06:11] jennolsen84 commented on #12141
@jreback yep, I sent in the PR to numexpr for that lock.. :) https://github.com/pydata/numexpr/pull/200 .

@wesm yes, can definitely use pthreads.  How many threads should be used?  I was thinking of peeking at numexpr settings, but numexpr is not required by pandas.

On a bigger picture.  I think the best option might be to expose something that returns a list of functions, which can then be sche

[2016-02-10 08:25] dacoex commented on #12231
I forgot:
[code]

[2016-02-10 09:52] soupault commented on #7014
`median` out-of-the-box would really be a great thing to have!

[2016-02-10 10:01] jorisvandenbossche commented on #7014
Note that median is already in describe, as in ``50%``

[2016-02-10 10:03] soupault commented on #7014
@jorisvandenbossche indeed! Sorry, my bad. :baby:

[2016-02-10 10:36] joshlk opened #12278 "Performance: .unique / .nunique of categorical series slow on large data set"
I've noticed that `Series.unique` and `Series.nunique` when used with a categorical series can be slow on large dataset. Presumably its not utilising the shortcuts:
[code]

Heres an example in iPhython:
[code]

Its significantly slower indicating its not using the above shortcut.

pd.show_versions()

[code]

[2016-02-10 12:12] jreback commented on #12278
pls pd.show_versions()
and an example

[2016-02-10 12:17] dacoex opened #12279 "ENH: Conditional mpl formatting"
In line with
- [ENH: Conditional HTML Formatting](https://github.com/pydata/pandas/pull/10250)
- [Support for Conditional HTML Formatting](http://pandas.pydata.org/pandas-docs/version/0.17.1/whatsnew.html#whatsnew-0171-style)
- [Style](http://pandas-docs.github.io/pandas-docs-travis/style.html)

add the same possibility for mpl tables.

Proof of concept:
[Conditional formatting for 2- or 3-scale c

[2016-02-10 12:53] rsdenijs opened #12280 "Helper class to keep enable autocomplete of the columns in notebooks"
When working on the notebook I am always annoyed that column names do not autocomplete in all scenarios.

`dataframe = pd.DataFrame({'COL1':[1,2,3],'COL2':[2,3,4]})`

When typing
`dataframe['CO       <--- The notebook will suggest COL1 and COL2 when pressing TAB`

but im lost when using

`pd.pivot_table(index='CO   <--- No chance`

My workaround is the following class, which creates an object that

[2016-02-10 13:02] coreycb commented on #12273
Thanks for the quick reply.

[2016-02-10 13:31] TomAugspurger commented on #12280
Your specific case might be hard since `pd.pivot_table` is a top-level function, so pretty much anything could go into those arguments.

OTOH something like `pd.DataFrame.pivot_table` might benefit from a richer tab complete protocol since the suggestions for `DataFrame.piviot_table(index=...)` could come from `self.index`. I've looked a bit into  what IPython can offer here, but haven't found muc

[2016-02-10 13:33] TomAugspurger commented on #12279
What is the question / issue here?

[2016-02-10 13:38] TomAugspurger commented on #7014
Hijacking this issue to propose a variant (and steal more from dplyr)

Why not have a `DataFrame.agg` that is identical to `DataFrame.groupby.agg`, but with a "single group"? This also goes along with the new `.resample.agg`, yay for synergy. Basically it takes a function/str or list of functions/strs or a dict of column names to functions/str and aggregates accordingly.

[2016-02-10 13:42] jorisvandenbossche commented on #7014
Related to https://github.com/pydata/pandas/issues/1623

[2016-02-10 13:59] minrk commented on #12280
There isn't a hook in IPython for selecting completions specially based on the function or kwarg being completed-for. But for completing *on* objects, `__dir__` is used, so your Columns workaround can at least avoid its thread:

[code]

Even if there were a way for `pivot_table` to say "look at column names of DataFrames", where to find those data frames would be the next hurdle. If it were a meth

[2016-02-10 14:21] dacoex commented on #12279
To add a plot function for tables as in:
[Conditional formatting for 2- or 3-scale coloring of cells of a table](http://stackoverflow.com/questions/17748570/conditional-formatting-for-2-or-3-scale-coloring-of-cells-of-a-table)

[2016-02-10 15:00] rsdenijs commented on #12280
@minrk  thanks for getting rid of the thread ;).
So shouldnt `df.pivot_table` as @TomAugspurger  mentions be able to use the autocompletion? Or is it not possible because  `pivot_table` is a method and not an object itself?

Another workaround is pd.pivot_table(index=df.COL1.name... etc) but it is longer and requires 2 tab completions

[2016-02-10 15:04] TomAugspurger commented on #12280
Right now tab completion on the arguments to a function look up objects in the global namespace (plus maybe some other things like paths?). Since the index labels aren't in the namespace they aren't available for tab completion.

In principle letting the method say "Hey, I know the argument to `index=` should come from `self.index`" is possible, but would require (I'm guessing) a lot of work on th

[2016-02-10 15:07] #12280 closed

[2016-02-10 15:09] BranYang opened #12282 "BUG: Series.reindex using TimedeltaIndex/PeriodIndex/DatetimeIndex as index will erase the data to np.NaN"
When we want to reindex an existing Series using TimedeltaIndex/PeriodIndex/DatetimeIndex,
the result will have np.NaN as data
[code]

Even when you want to reindex a Series which already have DatetimeIndex as index
[code]

Is this what we expect Series.index should behave?

[2016-02-10 15:15] jorisvandenbossche commented on #12282
This is exactly the expected behaviour of `reindex`. If you want to set a new index, you can do:

[code]

`reindex` is meant to set the index but match the existing index/data combinations to the new index. Since your original index and the new indexes you want to reindex with have nothing in common, you get all NaN values.

[2016-02-10 15:17] #12282 closed

[2016-02-10 15:21] joshlk commented on #12278
Sorry @jreback more details have been added above

[2016-02-10 15:29] jreback commented on #12278
so, ``.unique`` on a categorical has a couple of guarantees, namely that it is in the order of appearance, and it only includes values that are actually present, e.g.

[code]

so if you want ``.categories``, then just use that.

[2016-02-10 15:30] jreback commented on #12278
I suppose it is possible to add an option (to all ``.unique``), not just this one, to do some sort of ``quick`` uniqueness like this, but not sure of the utility beyond categoricals.

[2016-02-10 15:31] joshlk commented on #12278
I didn't realise that, I thought they were equivalent. Thanks

[2016-02-10 15:47] minrk commented on #12280
Not necessarily a lot, but some. We already find the callable in order to get completion on the keywords:

[code]

which means we should already have a handle on the method and the key. So what's missing is a hook for "I know I'm completing a kwarg *value*, ask the callable what it should be." I'm not sure what would be a sensible way to ask that question, though. The obvious choice is a `_ip_comp

[2016-02-10 15:55] TomAugspurger commented on #12280
That's where my mind was going, or some kind of decorator that attaches the relevant completion method to the original method.

[code]

Adding that those to a codebsae would be fun :)

Anyway, something like this would be *nice* for libraries like pandas that are used interactively, but IMO it's not a essential.

[2016-02-10 16:00] jorisvandenbossche commented on #12278
It would be good to clarify this in the docs I think:

- [ ] add a note to the docstring of `categories` that this includes all categories and not only those present in the data
- [ ] add the above example (https://github.com/pydata/pandas/issues/12278#issuecomment-182426808) to the tutorial docs `categorical.rst`

[2016-02-10 16:02] jreback commented on #12278
ok, let's repurpose this then. @joshlk want to do a PR?

[2016-02-10 16:20] #12170 closed

[2016-02-10 16:22] MaximilianR commented on #12280
One option in this case - less flexible, but much less code - define a method on `index`, so `df.method(index= <tab>` calls in to `df.index` to get a list of options. That could be defined on any attribute of `df`; i.e. `df.method(foo= <tab>` calls `df.foo. _ipy_complete_kwarg()` or the like.

[2016-02-10 16:31] TomAugspurger commented on #12280
One issue with that is something like `DataFrame.rename(index=...)` has a different set of allowed arguments then `DataFrame.pivot_table(index=...)`. Tricky problem.

[2016-02-10 16:58] MaximilianR commented on #12280
Ah, good point.

Type annotations could help here...

[2016-02-10 17:07] rsdenijs commented on #12280
Cant this be a something run only on interactive mode? Monkeypatch? ^^

Btw` @_ipy_complete_kwarg(index, options=lambda self: self.index.tolist())` seems wrong to me, as i can put any column in the index, not just the values of the index.

[2016-02-10 17:29] #12169 closed

[2016-02-10 17:37] #12037 closed

[2016-02-10 17:42] jreback opened #12283 "DOC: show how to use to_xarray then use xarray to perform analysis on Panels"
I think we need a section to address this, not really sure where should put it. Also want to link from the doc-string.

also prob need some examples in the doc-string.

xref #11972

[2016-02-10 17:42] jreback commented on #12283
cc @MaximilianR
@jorisvandenbossche

not strictly necessary for 0.18.0 but if you can do something would be great.

[2016-02-10 18:04] MaximilianR commented on #12283
Yes, I have something for this, I will PR today or tomorrow

[2016-02-10 18:45] jreback commented on #11755
was closed by #12195

[2016-02-10 18:45] #11755 closed

[2016-02-10 18:46] jreback commented on #11434
@TomAugspurger ?

[2016-02-10 18:46] jreback commented on #11831
@jorisvandenbossche any thoughts on this?

[2016-02-10 18:50] TomAugspurger commented on #11434
Sorry, I got sidetracked trying to figure out what the correct groupby.plot behavior was last time I looked at this.

My example [here](https://github.com/pydata/pandas/issues/11434#issuecomment-153504651) did change from 0.16.2 IIRC in 0.16.2 it returned 3 plots, each with one line. Now it returns 3 identical plots each with 3 lines. So I guess it is a regression.

[2016-02-10 18:51] #12182 closed

[2016-02-10 18:54] jreback commented on #11434
ok, will move to 0.18.1, if someone has a chance can do before then.

[2016-02-10 18:55] jreback commented on #12279
if someone wants to contribute this, great, though the recipe presented in the linked issue seems ok to me. maybe just write this up in a cookbook?

[2016-02-10 18:55] jreback commented on #12261
I guess this is a bug. not really sure whats going on.

[2016-02-10 18:57] jreback commented on #11979
does #11980 close this?

[2016-02-10 18:58] Rittmeister123 commented on #11831
FYI:
A few days ago I tried to plot a dataframe with the use_index Parameter set to false...and recognized a speed up...but hadn't had time to exactly verify this and proof it...

[2016-02-10 18:59] jreback commented on #12061
would it be dumb to change the default to ``None``, then set it based on the length of the passed array? e.g. say < 100 -> ``False``, > 100 -> ``True``. (of course if its explicity passed then just use that).

This way you get the perf benefit without overhead on smaller samples.

[2016-02-10 19:01] TomAugspurger commented on #11979
No, I think I had an old test would have failed, but I removed the ability to set both `self.index.name` and `self.index.names` on a MultiIndex

[2016-02-10 19:10] jreback commented on #11979
thanks @TomAugspurger

[2016-02-10 19:21] jreback commented on #12231
no idea, you will simply have to step thru your code and examine each step.

[2016-02-10 19:25] jreback commented on #12238
I suppose it should take the sorter arg. PR's welcome.

note that this works.
[code]

[2016-02-10 20:41] clembou opened #12285 "pandas.test() issue when run from a development instance of pandas"
as described in https://github.com/pydata/pandas/pull/11913#issuecomment-181632169,
when using a development pandas instance, if `pandas.test()` is called while the working directory of the python interpreter is within the pandas repository, it fails to detect any tests, at least on windows:
[code]
if using `python setup.py develop`, a fix is to browse to a folder outside of the repo:
[code]
This

[2016-02-10 22:03] jreback commented on #12224
yeah this is an inconsistency.

separately I don't recall why we are defined (different!) ``_NA_VALUES`` in ``parser.pyx`` and ``io.parser.py``. I think this is a mistake. It might have been added accidently, as this makes different na values defaults for python/c parser.

[2016-02-10 22:58] tkluck opened #12286 "Feature suggestion: flexible hierarchical data (json) importer (will implement if interest exists)"
Hi there,

I recently wrote a very flexible module for flattening hierarchical (json) data into CSV: https://github.com/tkluck/Text-CSV-Flatten.

It encodes the exact semantics of the flattening by a pattern string. For example, the pattern `.<index>.*` flattens in the same way as `orient="records"`. The pattern `.*.<index>` flattens in the same way as `orient="columns"`.

The module is quite new

[2016-02-10 23:03] jreback commented on #12286
you would have to show some examples of use.

[2016-02-10 23:05] tkluck commented on #12286
Thanks @jreback for your comment. How does this look: https://github.com/tkluck/Text-CSV-Flatten/blob/master/t/Text-CSV-Flatten.t

[2016-02-10 23:08] jreback commented on #12286
what I actually want to know is how would this improve the semantics of existing ``pd.read_json`` and/or ``normalized_json`` in a nice usecase. Further performance consideration are pretty important here.

Ideally show a ``read_json`` operation and then doing something new/better with it. You can show pseudo (python) code inline here.

[2016-02-10 23:20] tkluck commented on #12286
I'll give some thought to come up with a pretty use-case. But I think what this shines in is mostly in non-pretty use cases: the case where you don't control the process that generates the json data for you, and it is almost-but-not-quite one of the formats that the existing functions support.

Maybe the data is in the right format except that it is wrapped in an `{'data': <data>, 'error': null}`.

[2016-02-10 23:35] jreback commented on #12286
@tkluck I understand the general use case. Looking for a specific example of improved syntax.

[2016-02-10 23:48] tkluck commented on #12286
Thanks for the reply! I'm not sure if I understand what you are looking for in a specific example. For example, would it be helpful if I translated one/a few of the unit test cases that I linked above to Python, and translate the expected output from CSV to a dataframe? Or are you (additionally) looking for a real-world data source that pandas currently cannot parse and that it would be able to wi

[2016-02-11 00:03] jreback commented on #12286
you can certainly transform a one of those tests. I am looking for a sample input, then the transforming operations that a user would do to make this tabular.

[2016-02-11 00:23] clembou commented on #12285
Well, I tried to fix the problem but I am afraid I have to give up.

First of all, this is pretty hard to debug as I can't reproduce the problem in pycharm, only in the command line interpreter. By increasing the verbosity of the nose test runner `pd.test(verbose=4)` -  [This line](https://github.com/pydata/pandas/blob/master/pandas/util/nosetester.py#L168) needs to be modified to allow this - I c

[2016-02-11 02:42] #9494 closed

[2016-02-11 02:42] #11965 closed

[2016-02-11 02:55] #12221 closed

[2016-02-11 06:38] swarajban commented on #8508
I also wanted the ability to write a DataFrame as a CSV to S3 (acronym overload...), and wrote the following snippet:

[code]

Hope this helps anyone trying to do the same thing. IMO, this features shouldn't be added to pandas. I think this snippet (or a better version) should simply be documented

[2016-02-11 08:09] wavexx commented on #9494
Thanks a lot for this.

[2016-02-11 09:24] toobaz opened #12288 "RangeIndex copy behaviour differs from other indices"
It is my understanding that the ``copy`` parameter of ``RangeIndex`` is present virtually only for API compatibility with other indices: however the behaviour for ``copy=False`` differs from other indices in what follows:

    In [2]: i = pd.Int64Index(range(10))

    In [3]: i.name = 'original'

    In [4]: j = pd.Int64Index(i)

    In [5]: j.name

    In [6]: j.name = 'copy'

    In [7]: i.name

[2016-02-11 11:13] polart opened #12290 "Computing time difference with timezone in DataFrame with one row gives wrong result"
When there are only one row containing timestamps with timezone in DataFrame, computing time difference between columns gives incorrect result - always '0 days':
[code]
If there are more than one row, result is correct:
[code]
One row containing timestamps in naive datetime also gives correct result:
[code]

Installed versions:
[code]

[2016-02-11 12:52] bteblygin opened #12292 "read_excel crash with empty Exception"
If read one empty column from excel file, read_excel raise Exception without error message.
Small test case: content of excel file:

A | B | C | D
---|---|---| ---
 | 1 | 100 | f
 | 2 | 200 | f
 | 3 | 300 | f
 | 4 | 400 | f

Run:
[code]
Result:

    File "/home/.../python2.7/site-packages/pandas/io/excel.py", line 170, in read_excelskip_footer=skip_footer, converters=converters, **kwds)
    File "

[2016-02-11 13:04] #11783 closed

[2016-02-11 13:09] TomAugspurger commented on #9494
Not a problem. We should have a 0.18 release candidate out soon, if you're willing / able to try it out and report back any bugs!

[2016-02-11 13:40] jreback commented on #12292
can you programatically create this example as a frame and write it to excel, alternatively post a link to the actual excel file (first is preferred if you can replicate the actual error)

[2016-02-11 13:43] jreback commented on #12288
this is a bug in the constructor I think. It should match what ``Int64Index`` does.
It doesn't matter that ``RangeIndex`` doesn't have data to copy, it still should make a new index.

[2016-02-11 13:44] jreback commented on #12290
hmm that does look like a bug.

[2016-02-11 13:51] bteblygin commented on #12292
For example:

[code]

[2016-02-11 13:57] jorisvandenbossche commented on #11831
Did some quick profiling, and one of the elements is in any case the difference in performance of `PeriodIndex._mpl_repr()`, which is just a call to `PeriodIndex._get_object_array`:

[code]
vs

[code]

In turn, this boils down to calls to `Period.from_ordinal()`:

[code]
vs

[code]

Now, what would cause the dramatic difference in performance in the `from_ordinal` method between python 2 and 3, is

[2016-02-11 14:03] jreback commented on #12292
@bteblygin thanks!

PR to fix would be great!

[2016-02-11 14:09] jreback commented on #11831
I think https://github.com/pydata/pandas/blob/master/pandas/src/period.pyx#L658

needs this instead of doing the string interpretation each time
[code]
also the import can be replace by ``offsets.to_offset``

[2016-02-11 14:14] jorisvandenbossche commented on #11831
I actually did a wrong timeit, as the `freq` is already an offset in the case of plotting:

[code]
vs

[code]

which makes the difference even larger

[2016-02-11 14:24] jorisvandenbossche commented on #11831
Strange, I don't see a difference in performance of `to_offset`, while there is in `_maybe_convert_freq`:

python 3:
[code]

vs python 2:

[code]

[2016-02-11 14:30] jreback commented on #11831
try removing the import in ``_maybe_convert_freq`` (use ``offsets.to_offset`` instead)

[2016-02-11 14:30] kawochen opened #12293 "BLD: Windows build failing"
Don't think an issue has been made?  It's been failing for a while (`complex128` comparison, `numexpr` related?), but didn't always fail until 81e3303

[2016-02-11 14:32] jreback commented on #12293
this is a random failure. though not really sure why it is actually failing

[2016-02-11 14:34] jreback commented on #12293
hmm, maybe not so random

[2016-02-11 14:37] jreback commented on #12293
actually first started failing here: https://ci.appveyor.com/project/jreback/pandas-465/build/1.0.186/job/0gea3ih7tcsjddeq

I think this is numpy 1.10.4 / mkl change

[2016-02-11 14:45] jreback commented on #12293
[code]

[2016-02-11 14:59] scari commented on #7222
Ran into same problem and took a look a bit. I believe freqstr 'C' should be in `_period_code_map`. I'll send a PR after finish the test.

[2016-02-11 19:10] Majeed-Sahebzadha commented on #9794
+1 would be useful to have.

[2016-02-11 20:02] gfyoung commented on #12290
Where is "-" being implemented in for `Series`?  The `sub()` and `subtract()` methods work perfectly fine.  I suspect it's somewhere hidden <a href="https://github.com/pydata/pandas/blob/master/pandas/core/ops.py#L264">here</a>, but if someone with a better understanding could enlighten, that would be great!

[2016-02-11 20:05] jreback commented on #12290
@gfyoung that's the right place. you should just step thru.

[2016-02-11 22:10] rumbin opened #12298 "crosstab is not respecting filtered scope when dtype=category"
First of all, I have to admit that I have some trouble finding a catchy title for this issue. Better suggestions are welcome...

There is some issue with crosstab, when applied on a DataFrame which has been derived from a DataFrame consisting of categorized columns.

Let's consider the following example df:
[code]
We apply some filter according to some criterion which happens to eliminate  all occ

[2016-02-11 22:12] rumbin commented on #12298
BTW: in my example above, the same issue is reflected by the 'col1'=3 value which is again present in the second crosstab.

[2016-02-11 23:35] #11718 closed

[2016-02-11 23:53] mikeyshulman opened #12301 "ERR: stat function kwarg interpretation"
```df.max(axi=1)``` does not throw an error and evaluates to ```df.max()```

[2016-02-12 00:01] gfyoung commented on #12290
`pandas` is trolling me.

I was able to track the bug down to this line <a href="https://github.com/pydata/pandas/blob/master/pandas/core/ops.py#L490">here</a>.  For some strange reason, the `lvalue` (and also the `rvalue`) become `NaT` which is why the difference becomes zero because the `np.int64` view value is just `np.iinfo(np.int64).min`.  However, my attempts to replicate that error directly

[2016-02-12 00:02] jreback commented on #12301
these functions accept ``**kwargs`` in order to avoid us having to name certain ``numpy`` arguments (e.g. ``out``), which are not generally acceptable to pandas. I suppose that we could check if any but certain args are there and raise a nice error message.

As I don't want to have ``out=None`` in the signature nor the doc-string.

pull-requests would be welcome

[2016-02-12 00:16] jreback commented on #12290
that IS odd.

[2016-02-12 00:16] gfyoung commented on #12298
@rumbin : I don't think there's anything wrong with the table output IMO.  It is correctly reflecting that there are no crossed-tabbed factors with either 'c' or '3'.  In addition, filtering out values does not change the `dtype` of the individual columns.  That is why you still see the 'c' and '3'.

[2016-02-12 00:23] gfyoung commented on #12298
I should also add that in your first example, the `dtype` is just `int` or `object` so `c` is no longer an inherent part of the `dtype` in any of the columns, whereas that is not the case for your second example.

[2016-02-12 00:25] gfyoung commented on #12290
@jreback @polart : Also, the title should be changed, as it's really an issue with `Series` arithmetic operations and has nothing to do actually with `DataFrame`.

[2016-02-12 00:26] kawochen commented on #12293
So `numexpr` is returning the very next floating point number after what `numpy` returns.
But 81e3303 introduced something else and build fails after 2 min.

[2016-02-12 00:43] jreback commented on #12298
this issue is related to this: https://github.com/pydata/pandas/issues/10772

``dropna=True`` is the default and I think should be respected here.
Though one could make a case that since its a categorical we should include all of the original categories  (as that's kind of the point).

[2016-02-12 00:43] vonosmas opened #12303 "float-cast-overflow: converting NaN to integers in numpy C code triggered by pandas"
Converting floating-point value NaN to any integer data type is an undefined behavior in C. However, it actually happens in numpy extension module, which is probably caused by incorrect usage of it from pandas. If the former is built with Clang+UBSan (http://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html), there are error reports indicating the issue.

Now, this is somewhat tricky to reproduc

[2016-02-12 00:47] jreback commented on #12303
can you show an example w/o all of the custom builds. Just stock numpy and latest pandas (or a version).

[2016-02-12 00:48] gfyoung commented on #12298
@jreback : How does the `dropna` arg relate to this issue though?

[2016-02-12 00:52] vonosmas commented on #12303
No: you need to recompile C code in NumPy for the error to be reported (otherwise NaN is somehow silently converted to a long under the hood when you're running `pandas/tests/test_groupby.py:TestGroupBy.test_agg_nested_dicts`. I can try to pinpoint the exact place in pandas source code which causes this behavior.

[2016-02-12 00:59] jreback commented on #12303
so what exactly is the problem, are these crashing for you?

[2016-02-12 01:00] jreback commented on #12298
if we accept the premise that we don't want to always represent categorical results (IOW we treat them like regular results), then a filtered row should be dropped.

[2016-02-12 01:07] rspeer opened #12304 "DataFrame.to_hdf will write Unicode labels, but pd.read_hdf won't read them"
I've been having a very frustrating problem where I could save a DataFrame with unique labels to HDF5, and load it again, and find that the loaded version had non-unique labels. It turns out this is because `pd.read_hdf` is replacing all labels containing non-ASCII characters with the empty string. For example, a row with the label `'café'` will have the label `''` when it is loaded again.

I look

[2016-02-12 01:09] gfyoung commented on #12298
@jreback : And by dropped, you mean not represented in the crosstab, even though the data is categorical?

[2016-02-12 01:11] jreback commented on #12304
dupe of https://github.com/pydata/pandas/issues/11126

you need to pass the encoding when reading as its not currently recorded

[2016-02-12 02:14] vonosmas commented on #12303
They are crashing in a custom setup, where I build everything from source with Clang and `-fsanitize=float-cast-overflow` enabled. I understand it's not the way people usually numpy/pandas (i.e. not what you get from `easy_install`). However, the bug report shows an actual undefined behavior, and the result of casting NaN to int can be different under different compilers/versions, and is known to

[2016-02-12 02:42] jreback commented on #12303
well you shouldn't *ever* use ``easy_install``, that is really old, at the very least use ``pip`` or much better is using ``conda``.

In any event would need an actual reproducible example on a stock install. As these tests work just fine at a glance. maybe I am missing something here.

[2016-02-12 02:58] jreback commented on #12288
So ``Int64Index``,  ``Float64Index`` all have the same issue.
They are not propogating the name of a passed index on construction. That is the issue here.
``RangeIndex`` actually is ok.

[code]

These look ok
[code]

[code]

[2016-02-12 03:02] #10291 closed

[2016-02-12 03:07] #11555 closed

[2016-02-12 03:10] #11043 closed

[2016-02-12 03:59] zk42 opened #12305 "BUG: Pandas.DataFrame.where() behaves unexpectedly in v0.17.0 and up under Windows 8 x64"
Under Windows 8 (x64), with Pandas v0.17.0 (from Anaconda) and up, Pandas.DataFrame.where() function is found to behave sporadically, sometimes returning the expected result and sometimes returning a dataframe filled with zeros.

The following code demonstrates this behavior, observed for dataframes that have larger than 361 rows and columns.

I observed that this problem does NOT exist in Pandas

[2016-02-12 04:19] jreback commented on #12293
ok skipping that part of the test: https://github.com/pydata/pandas/commit/0c09bd16e1ca1c7af021c5338ee4d85240a6e133

if you want to investigate feel free.

The builds are failing not because of the recipe but because of not enough clone depth. On travis I fixed this. Trying a fix on appveyor.

[2016-02-12 04:20] jreback commented on #12305
duplicate: https://github.com/pydata/pandas/issues/12023

install ``numexpr>=2.4.6`` and all will be well.

[2016-02-12 04:20] #12305 closed

[2016-02-12 05:12] rspeer commented on #11126
On the duplicate bug I reported, @jreback said "you need to pass the encoding when reading".

How do I pass the encoding? I don't see that as an option in http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_hdf.html .

[2016-02-12 05:22] jreback commented on #11126
yeah it's missing from the doc string that's should be addressed in the xref issue

[2016-02-12 05:22] jreback commented on #11126
encoding='utf8' or whatever u passed when u created it

[2016-02-12 05:42] rspeer commented on #11126
Sorry, that didn't work. I even tried re-saving it with encoding='utf-8'. The bytes of text saved in the file are indeed UTF-8, but they're still getting read as the empty string.

[2016-02-12 05:58] rumbin commented on #12298
In my eyes, from the user point of view, the dtype representation should not influence the resulting crosstab. After filtering the original table, some values are gone. So they should not be represented in any crosstab that we perform on a filtered table, regardless of what the categories are.

In my particular case, I am using categorial dtypes just for the sake of reduced RAM consumption and imp

[2016-02-12 06:06] rspeer commented on #11126
@jreback To illustrate the problem:

[code]

[2016-02-12 07:37] toobaz commented on #12288
I think we have 2 problems here: the one I reported and the one you now point at. If we fix the one you're pointing at, we will still have a difference that ``Int64Index(Int64Index(), copy=*)`` will create two indices no matter the value of ``copy``, while ``RangeIndex(RangeIndex(), copy=False)`` will not, and this reflects in the impossibility of giving different names. So you're right in ``Int64

[2016-02-12 07:43] toobaz commented on #12288
Or to put it shortly: [this test](https://github.com/pydata/pandas/pull/12295/files#diff-c3cc00bc22d7c510c58dfe0be4c46abfR141) fails in master. I think it shouldn't. Do you agree? [Y/n]

[2016-02-12 10:02] rsdenijs commented on #6874
What is the status of this issue?
Duplicate indices silently mess up the number of observations resulting model. I guess a check for df.index.is_unique would solve this?

[2016-02-12 11:28] jorisvandenbossche commented on #6874
@rsdenijs As @jreback pointed out in his last comment, this is not supported anymore in pandas (they will also be effectively deprecated in the coming release, see https://github.com/pydata/pandas/pull/11898). So the status of this issue is that we do not plan to take any action on this.

Can you use statsmodels for your use case? (for OLS everything should be in statsmodels, for the other functio

[2016-02-12 13:39] #12290 closed

[2016-02-12 13:42] jreback commented on #12244
closed by #12284

[2016-02-12 13:42] #12244 closed

[2016-02-12 13:52] jreback commented on #12303
if you can provide a reproducible example that demonstrates a failure on stock numpy and pandas master, pls reopen.

[2016-02-12 14:30] #7222 closed

[2016-02-12 14:32] jreback commented on #12288
ok, going to merge your fix, pls open a new issue for the ``Int64Index/Float64Index`` name issues I desrcribe above.

[2016-02-12 14:38] #12288 closed

[2016-02-12 14:42] toobaz opened #12309 "Int64Index and Float64Index (and... ?) do not propagate name of passed index"
[code]

``Float64Index`` as well
ideally move the tests to ``Base`` to test all index types.
See #12288.

[2016-02-12 14:45] jreback commented on #12293
This will fix the appveyor builds: https://github.com/pydata/pandas/commit/da523e00a8957389a78e9175d73f478dceecf2cf

[2016-02-12 14:46] #12293 closed

[2016-02-12 15:01] #11334 closed

[2016-02-12 15:01] #11435 closed

[2016-02-12 15:04] #11584 closed

[2016-02-12 15:52] jreback opened #12311 "DEPR: warnings from style deprecation only in PY3"
https://travis-ci.org/pydata/pandas/jobs/108709963

[code]

cc @TomAugspurger

prob should bump the stacklevel as well

[2016-02-12 15:58] jreback commented on #11126
@rspeer can you give a complete copy pastable example (e.g. need the frame creation in the first place), as well as ``pd.show_versions()``

[2016-02-12 16:00] jreback commented on #12298
@rumbin ok with that approach. This is essentially a 2-d value_counts; the difference is that ``.value_counts`` has an index, here it does not.

want to do a PR?

[2016-02-12 16:23] rsdenijs opened #12312 "Unicode not suported in Style"
The styler does not seem to like unicode?

[code]

[2016-02-12 16:24] rumbin commented on #12298
I'm afraid, the damage of any coding help of mine would be greater than any benefit, as I am fairly new to python (1-2 month) and my further programming "background" is not more than bash...

[2016-02-12 16:30] jreback commented on #12311
this fixes: https://github.com/jreback/pandas/commit/ad78ce21fe0d04952eb8919cd65566d14c96b779

[2016-02-12 16:32] jreback commented on #12298
not a bad way to learn! heres the [contribution guide to get started](http://pandas.pydata.org/pandas-docs/stable/contributing.html)

[2016-02-12 16:33] jreback commented on #12312
can you change the example so its copy-pastable (e.g. use the actual unicode code)

[2016-02-12 16:35] rspeer commented on #11126
I'll work on making a small example (I'm certainly not going to ask you to obtain all the data I'm using). I already reported `pd.show_versions()` in #12304, and I suggest that bug should be reopened because the title of this bug doesn't describe my problem.

[2016-02-12 16:41] rspeer commented on #11126
Wait. Okay, it was a good thing you asked about the versions. The problem is that I was running on the full dataset on a different machine that was on pandas 0.16. I'll let you know if upgrading fixes it.

[2016-02-12 16:49] jreback commented on #11126
ok, why don't you report it in that issue and i will reopen

[2016-02-12 16:57] jreback commented on #6251
should be pretty straightforward to add this as @jorisvandenbossche PR almost there.

any takers?

I can turn on the github service so we get notifications of this.

[2016-02-12 17:32] rspeer commented on #12304
My apologies -- this was just because I was reading data saved from 0.17 on a machine that was running 0.16. It seems that 0.17 even does the right thing when I don't specify an encoding at all.

Thanks for your help!

[2016-02-12 17:32] #12304 closed

[2016-02-12 17:50] jreback commented on #12304
gr8! yeah we don't support forward compat like that, though for the most part is generally will work (but things did change a bit)

[2016-02-12 18:02] toobaz opened #12313 "Assigning from other NDFrame broken on multiple MultiIndex columns"
In [2]: df = pd.DataFrame(columns=pd.MultiIndex.from_product([range(2), range(2)]))

    In [3]: df.loc[0] = range(4)

    In [4]: df.loc[1] = pd.Series(range(4))

    In [5]: df
    Out[5]:
         0         1
         0    1    0    1
    0  0.0  1.0  2.0  3.0
    1  NaN  NaN  NaN  NaN

That is: the first ``loc`` is doing what we expect, but the second is only creating a row of ``NaN``s. By the

[2016-02-12 18:10] jreback commented on #12313
this is correct. you are reindexing in both cases and you don't have any matches.
THe reason [3] works is that it does have any indices.

[code]

[2016-02-12 18:10] #12313 closed

[2016-02-12 18:38] toobaz commented on #12313
Ouch!

[2016-02-12 18:39] gfyoung commented on #12312
Indeed, an example would be useful, as I've used `Unicode` with `styler before without any issues.

[2016-02-12 18:56] jreback commented on #12222
so the series inferer is a bit aggressive here.
[code]

This is called and should not treat as a datetimeliek if this is the case.
[code]

pull-requests welcome

[2016-02-12 19:17] jreback commented on #8517
We would take a cookbook of the recipes (the https://stackoverflow.com/questions/31080258/pysparks-flatmap-in-pandas) is most idiomatic.

[2016-02-12 19:22] jreback commented on #11665
@stevenmanton the way to do this is to add a kw arg to ``to_datetime``.

then [here](https://github.com/pydata/pandas/blob/master/pandas/tseries/tools.py#L277)
use that routine I have above (but call ``_to_datetime(....)``; only do this if the kw is True & its a list-like and has a reasonable length, maybe > 100.

[2016-02-12 19:31] toobaz commented on #12313
While my example was remarkably stupid, it came from an oversimplification of

    In [2]: df = pd.DataFrame(columns=pd.MultiIndex.from_product([range(2), range(2)]))

    In [3]: df.loc[2,0] = pd.Series(range(2), index=range(2))

    In [4]: df
    Out[4]:
         0         1
         0    1    0    1
    2  NaN  NaN  NaN  NaN

... which I assumed should work, since

    In [5]: df = pd.DataFram

[2016-02-12 19:40] jreback commented on #12313
[code]

I suppose you could make an argument that
[code]

this should work. I don't think there is ANY support for this and would make an already very complicated interface even worse.

If you want to see what you can do great. But would need to make things simpler and not more complicated.

[2016-02-12 20:40] #12202 closed

[2016-02-12 20:42] #11692 closed

[2016-02-12 20:42] #12125 closed

[2016-02-12 20:42] #12134 closed

[2016-02-13 00:29] gfyoung commented on #12301
I'm not entirely sure how all of these functions are set up, but when I tried taking the `**kwargs` argument out of just one of the method signatures <a href="https://github.com/pydata/pandas/blob/master/pandas/core/generic.py#L5214">here</a>, it breaks a ton of tests (about 40).  I keep on getting `TypeError: stat_func() got an unexpected keyword argument 'out'`, which trace back to function call

[2016-02-13 00:31] gfyoung commented on #12301
Unless someone can explain otherwise, it seems that the best that can be done is to check whether `kwargs` is non-empty, after which you can raise a warning like: `UserWarning: invalid arguments passed into {insert function name}.  Please pass in only arguments listed in the function signature`

[2016-02-13 00:47] jreback commented on #12301
what u can do is pop out from other kwargs
then if it's not empty raise

iirc out is the only arg that we accept that's not listed (and we don't want it) but allow for compat

[2016-02-13 00:48] gfyoung commented on #12301
How about `dtype`?  At least one test broke for that reason.

[2016-02-13 00:49] gfyoung commented on #12301
How about just accepting any arguments that currently break the tests?  `out` is not the only one.  `dtype` is another parameter that breaks at least one test.

[2016-02-13 00:50] jreback commented on #12301
yeah that too

[2016-02-13 00:51] jreback commented on #12301
the reason iirc I did this in the first place because of the API changes in various versions of numpy and didnt want to have to deal with strict checking in case something was added

[2016-02-13 00:52] jreback commented on #12301
I am ok with fine grained checking
I just don't really want them in the signature

[2016-02-13 00:53] gfyoung commented on #12301
I see.  It's too bad that there are so many naming conflicts between the `numpy` and `pandas` codebase, for the `**kwargs` is not even used in the functions, only to compatibility between the libraries.  Should the `**kwargs` be included in documentation?  I did not realize that this was the reasoning initially.

[2016-02-13 00:56] jreback commented on #12301
not sure what u mean by naming conflicts

[2016-02-13 00:59] gfyoung commented on #12301
What I meant by "conflict" was that the trace back always kept originating to function calls in the `numpy` library that evidently must have also been defined in `pandas` IIUC.

[2016-02-13 01:12] jreback commented on #12301
btw we first try to dispatch to bottleneck (if installed), then numpy. things are tested with both.

[2016-02-13 01:15] #12217 closed

[2016-02-13 02:14] rsdenijs commented on #12312
I updated it.

The funny thing is, the problem only appears when it is a normal string, not with unicode
pd.DataFrame(['♚']).style -- > breaks
pd.DataFrame([u'♚']).style -- > works

Also,
pd.DataFrame(['♚'])
is displayed correctly in the notebook (without .style)

[2016-02-13 02:19] gfyoung commented on #12312
Can you provide information on your `pandas` setup?  I was able to run that first line as well as the other two just fine on `0.17.1` using Python 2.7.11 on Ubuntu.

[2016-02-13 02:22] rsdenijs commented on #12312
python 2.7.6
pandas 0.17.1

[2016-02-13 02:34] TomAugspurger commented on #12312
This is how [Jinja works](http://jinja.pocoo.org/docs/dev/api/#unicode)

Here's a minimal example (python2)

[code]

whereas your example with u'♚' works. I'm not sure there's anything pandas can do here, you'll just have to make sure you're passing in `unicode` objects and not `str` objects (python2), In python3 these are the same.

[2016-02-13 02:35] #12311 closed

[2016-02-13 02:38] jreback commented on #11655
this still open @TomAugspurger ?

[2016-02-13 02:41] TomAugspurger commented on #11655
Yeah, still open.

[2016-02-13 10:59] rsdenijs commented on #12312
Probably the user does not need to no this quirk of jijnjas.
Also, given the general level of confusion between unicode and str objects, it is also beocmes pretty frustrating.

Maybe pandas could raise its own exception? Something like

"RenderError: Render failed because the DataFrame contains characters that could not be decoded to unicode. Convert strings to unicode explicitely before using the

[2016-02-13 12:35] jorisvandenbossche opened #12319 "API: should reindex on a level introduce NaNs for missing entries per label of other levels?"
Suppose the following dataframe and reindex operation:

[code]

Should this give the following?

[code]

I am not sure what the exact behaviour of the `level` keyword should be, but eg in the following example it does the selection of columns for each of label of the other level:

[code]

[2016-02-13 13:34] #11836 closed

[2016-02-13 13:48] jreback commented on #11226
superseded by #12319

[2016-02-13 13:48] #11226 closed

[2016-02-13 13:50] jreback commented on #12313
this is also a dupe of #6699

[2016-02-13 13:57] jreback commented on #12319
xref #7895 (a lot of dupe as well), maybe close the other?
dupe of #11226, but I like your example better
xref #10549

[2016-02-13 13:59] jreback commented on #12319
If this is a leaf level then its easy to do this, but what if its not, then do you do a cartesian product of everything below that level? we could, but would want a ``broadcast`` argument I think (though this just maybe making it even more complicated)

[2016-02-13 14:10] TomAugspurger commented on #12312
I don't think we should just change a user's data from bytes to unicode strings without them explicitly telling us to, but I'm willing to be convinced otherwise if others think that's a good idea.

If you want python 3's behavior you can import `unicode_literals` from `__future__` (or use python 3).

Catching that exception and reraising with a nicer error message would be ok. We would need to wor

[2016-02-13 14:22] jreback commented on #5284
So this is causing a warning here: https://github.com/pydata/pandas/blob/master/pandas/tests/series/test_operators.py#L1200

because ``df & s`` raises a ``ValueError``, which is really doing: ``df.__and__(s, axis='columns')``

and the alignment should be ``df.__and__(s, axis='index')`` but of course ``&`` is going to default align this way.

[2016-02-13 15:00] jreback opened #12321 "WARN: some sql warnings on the 3.5 builds"
https://travis-ci.org/pydata/pandas/jobs/108942384

other warnings are already taken care of

[code]

[2016-02-13 15:18] #12164 closed

[2016-02-13 15:45] jreback commented on #8397
this doesn't fix the slow tests :<

[2016-02-13 17:07] jreback commented on #12245
release candidate is tagged: https://github.com/pydata/pandas/releases/tag/v0.18.0rc1

e-mail going out in a little

[2016-02-13 17:22] jreback opened #12322 "COMPAT: issues w.r.t. deprecating float indexers"
from #12246

@jorisvandenbossche

Some after merge feedback:

I took a look and I also like the logic now as how you explained it in your last post (for label based indexing: if the label evaluates as equal, then it is interpreted as the existing label)

A few things:

- The whatsnew needs to be updated (as it still says it raises now for all cases, as you started the PR)
[code]

- (minor) When us

[2016-02-13 19:54] terrytangyuan commented on #11451
@jreback Could you close this?

[2016-02-13 20:08] jreback commented on #11451
hmm, actually I think this needs a trivial implementation for ``.align``, e.g. if all of the axes are the same then it should just return.

[2016-02-13 22:42] tkluck commented on #12286
Here's an example:
[from_json_suggestion.txt](https://github.com/pydata/pandas/files/129428/from_json_suggestion.txt)
(my apologies for uploading this as a text file; github doesn't allow attaching `.py` files). The function `load_dataframe` is what would currently be needed to flatten the data in a certain way, the function `load_dataframe_new` is what I'm proposing.

I've now realized that this

[2016-02-14 01:40] klonuo commented on #12265
Several days later, for reference...

Alembic was too complicated for my concentration. I tried FME and Navicat apps, and while later didn't manage to make migration through "Data transfer" for all tables, former migrated successfully, but although MySQL tables were encoded in UTF-8 it didn't use `nvarchar` data type for SQL Server, so I got records with garbage characters. On top of it no index w

[2016-02-14 02:25] toobaz commented on #12236
[I agree!](https://github.com/pydata/pandas/issues/9641#event-251904150): although [my code](http://stackoverflow.com/questions/22522551/pandas-hdf5-as-a-database/29014295#29014295) assumes only write access, and so it would require some fixing and integration, do you think the approach makes sense?

[2016-02-14 14:51] xflr6 commented on #7001
As for getting float64 instead of int64 as result, a possible workaround is to use `count_nonzero` from numpy instead of `sum` to aggregate:

[code]

[2016-02-14 17:09] jreback commented on #12301
closed by #12318

[2016-02-14 17:09] #12301 closed

[2016-02-14 23:15] xflr6 commented on #9052
The following raises `SpecificationError` in 0.18.0, although there is no [ambiguity](https://github.com/jreback/pandas/commit/e243f1808fd97c746990bc8a6f7cbc449584bec9) (SeriesGroupby):

[code]

Is this intended or a bug (I'd prefer to be able to reuse the series column name)?

[2016-02-14 23:25] jorisvandenbossche commented on #9052
This should work (it is also a regression, as it worked before).
I think this should work because for a SeriesGroupBy, the dict keys can/should always be interpreted as new column names, and not to select existing columns names.

[2016-02-15 00:05] zk42 commented on #12305
Thanks!

[2016-02-15 05:56] Winand commented on #12133
I don't think #12287 fixes this. (see comment in #12287)

[2016-02-15 06:42] Winand commented on #12133
fix: #12327

[2016-02-15 07:49] toobaz commented on #12309
Related question: are the following behaviours, currently in master, desired?

- explicitly given datatype is respected in Int64Index but not in Float64Index:

        In [3]: Index(np.arange(3, dtype=np.int32), dtype=np.int32).dtype
        Out[3]: dtype('int32')

        In [4]: Index(np.arange(3, dtype=np.int32), dtype=np.float32).dtype
        Out[4]: dtype('float64')

- data dtype is not resp

[2016-02-15 09:31] cle1109 opened #12328 "DeprecationWarning in __init__.py:7: bad escape \s"
When setting the warnings filter to show DeprecationWarnings, I get a warning when importing Pandas (which I discovered because mne-python changes the global warning settings, see https://github.com/mne-tools/mne-python/issues/2870):

    import warnings
    warnings.simplefilter("default")
    import pandas as pd

This results in the following warning message:

    /usr/local/lib/python3.5/site-p

[2016-02-15 14:04] jreback commented on #12309
@toobaz no those are as expected, these by default will coerce to ``float64/int64`` always (or raise an error if its impossible). we technically allow coercing to a smaller dtype size (e.g. 32bit).

I dont think its ever useful to have a ``Int64Index`` with a ``dtype`` of int32 (and break some things), IIRC I added it a while back for compat reasons. You can take this out and see what if anything

[2016-02-15 14:14] jreback commented on #12328
This was present in 0.17.1, but has been fixed (I don't have an exact pinpoint, but I rewrote the ``__init__`` a bit recently

You can try out the release candidate by installing vai
``conda install pandas=v0.18.0rc1 -c pandas``

[code]

[code]

[2016-02-15 14:14] #12328 closed

[2016-02-15 14:17] cle1109 commented on #12328
Nice - thanks!

[2016-02-15 15:04] toobaz commented on #12309
Not sure I understood correctly: OK for coercing to 64 bits both floats and ints by default. But what about a different, explicit, coercion (i.e. ``dtype=np.float32``)? I understand you're saying that supporting this may make sense for floats but not for ints, right? (the current behaviour is the opposite)

[2016-02-15 15:11] jreback commented on #12309
I am saying it exists for both now, but doesn't make sense for either. IIRC I added this for ints, but don't really remember why it was needed. Ideally we should just drop this support as its uncessary and confusing, coercing things like ``np.float32`` -> ``float64`` and similarly for ints.

[2016-02-15 15:22] jreback commented on #9052
@xflr6

this is fixed in #12329

[code]

Note that this works as well, though maybe not as to the users intent (e.g. the B is exactly a label here, nothing to do with the actual aggregation columns.
[code]

[2016-02-15 15:38] jreback commented on #12236
@toobaz your soln 'works', but that is not a recommended way to do it at all. HDF5 by definition should only every have a single writer.

This helps with the SWMR case: https://www.hdfgroup.org/HDF5/docNewFeatures/NewFeaturesSwmrDocs.html

all that said ``read_hdf`` is not thread-safe for reading I think because the file handle needs to be opened in the master thread.

Here's an example using a mu

[2016-02-15 15:52] toobaz commented on #12309
OK, so the ``dtype`` argument would become useless (at least for those two index types), right? Should it be deprecated? Or do we prefer to leave it for compatibility?

[2016-02-15 15:55] jreback commented on #12309
its for compatibility and assertions (IOW if you pass something and it cannot be coerced then you raise, this already happens now)

[2016-02-15 15:57] rsdenijs commented on #12312
The problem is exactly as you say. If an error occurs for other reason, a "nicer" error message could actually be misleading. The best thing is maybe to just write it in the documentation that the use of unicode "strings" is recommended?

[2016-02-15 16:01] TomAugspurger commented on #12312
Sure, let's start with better docs and see how that goes.

[2016-02-15 16:37] toobaz commented on #12309
So for instance in ``Int64Index`` with ``dtype=np.int32``, I should check I can cast ``data`` to ``np.int32``, just for the sake of asserting... and then store as ``np.int64`` anyway?! Seems a bit awkward.

[2016-02-15 16:39] jreback commented on #12309
no I would simply cast to ``int64``. I suspect some things might break currently if you change this. IIRC might be a platform issue, I don't remember.

[2016-02-15 16:58] jreback commented on #12322
#12330 should take care of all of these points (I doced what ``.ix`` does a bit more)

@jorisvandenbossche

[2016-02-15 19:01] jcrist opened #12332 "Resample with OHLC sometimes results in series on pandas release 0.18.0.rc1"
[code]

[2016-02-15 19:19] jreback commented on #12332
@jcrist fixed by #12329

[2016-02-15 19:20] jreback commented on #12332
this was incorrectly taking an ``.asfreq()`` path

[2016-02-15 20:05] #12322 closed

[2016-02-15 20:24] jreback commented on #12061
@chris-b1 so what do you think?

[2016-02-15 20:25] jcrist commented on #12332
Tested, that PR, fixes all issues for dask test suite. Thanks!

[2016-02-15 20:28] #9052 closed

[2016-02-15 20:28] #12332 closed

[2016-02-15 20:29] jreback commented on #12332
@jcrist thanks!

merged to master

[2016-02-15 20:36] chris-b1 commented on #12061
It didn't seem unreasonable - but I got to thinking - there are actually cases with ambigous dates where `False` and `True` don't do the same thing (e.g. below).  So now I'm not sure what to do.

[code]

[2016-02-15 20:42] jreback commented on #12061
ahh, so the ``yearfirst`` & ``dayfirst`` may not be respected. So I think these need to be of 'standard' format (e.g. ``dayfirst=False`` and ``yearfirst=False``) or we should rase if ``infer_datetime_format=True`` as these are incompatible (or just make it False)

[2016-02-15 21:02] jreback opened #12333 "API: behaviour of label indexing with floats on integer index"
from #12246

@jorisvandenbossche this looks odd
[code]

[2016-02-15 21:43] jorisvandenbossche commented on #12333
I think there is clear agreement about the following:

- when doing integer positional indexing, using floats are not allowed.
  Eg:

[code]

  This was deprecated and now errors after Jeff's PR.

- when doing label indexing on a non-numerical index (this is logical, but just to be complete)

There is less agreement on when floats should be allowed when doing **label indexing on a numerical but no

[2016-02-15 21:52] jreback opened #12334 "API: consistency is return results of aggregation on SeriesGroupby"
xref 12329

For consistency, the proposal is to make ``[4]`` have a multi-level index ``('C','sum'),('C','std')`` as its not a rename (like ``[5]``). This previously raised in 0.17.1

[code]

[2016-02-15 22:19] jreback commented on #12333
The issue I have with @jorisvandenbossche last

as this would *only* apply to ``[], .ix`` and NOT ``.loc`` as ``.loc`` is strict about labels while the others can do positional AND/OR labels.

But since this in an integer index we are talking about we have the odd fallback where it is treated like a label (``.ix``), so this would be inconsistent then? (of course I may be misrepresenting things her

[2016-02-15 22:24] TomAugspurger commented on #12333
We could say that a python dict is also string about labels, but `{1: 'one'}[1.0]` goes through fine.

I think I'm in agreement with Joris; haven't though how it affects fallback indexing entirely yet.

[2016-02-15 23:08] toobaz opened #12336 "Initializing category with single value raises AttributeError"
In [2]: pd.Series([0,0,0], dtype="category")
        Out[2]:
        0    0
        1    0
        2    0
        dtype: category
        Categories (1, int64): [0]

        In [3]: pd.Series(0, index=range(3), dtype="category")
        ---------------------------------------------------------------------------
        AttributeError                            Traceback (most recent call last)

[2016-02-15 23:48] dhomeier opened #12337 "BUG: UnicodeEncodeError in test_to_latex_filename (pandas.tests.test_format.TestDataFrameFormatting)"
Getting this error if (and I think only if) `LANG` is not defined or not set to any `utf8`-conforming value on 0.18.0rc1 (Mac OS X 10.10, python 3.4.4, numpy 0.11.0b3):

[code]

Don't know about the inner workings of this test; if there are any open files involved, this might be relevant: https://github.com/scipy/scipy/issues/5694

[2016-02-16 00:26] dhomeier opened #12338 "TST: errors in test_constructor_compound_dtypes (pandas.tests.frame.test_block_internals.TestDataFrameBlockInternals)"
Getting these errors in the 0.18.0rc1 test suite on Mac OS X 10.10 (numpy 0.11.0b3):

with Python 2.7.11:
[code]
with Python 3.4.4 and 3.5.1:
[code]

[2016-02-16 00:30] jreback commented on #12336
yeah looks buggy.

[2016-02-16 00:31] jreback commented on #12336
obviously the expected result
[code]

[2016-02-16 00:51] jreback commented on #12337
hmm I can repro this, but only on mac (usin 3.5 and latest numpy but I don't think numpy matters)

cc @nbonnotte

[2016-02-16 00:52] jreback commented on #12338
I cannot repro this (with the exact versions  you are using)

I have ``PYTHONIOENCODING=UTF-8`` set. (which is typical for a PY3 env)

[2016-02-16 00:56] jreback commented on #12338
I have seen this happen on windows, IOW the dateparsing routines fail and raise a different error than we are expecting.

can you show versions of pytz, dateutil

[code]

[2016-02-16 01:03] dhomeier commented on #12338
A bit behind, yes:
[code]

[2016-02-16 01:08] jreback commented on #12338
ok, that is it. ``dateutil==2.2`` (via pip) reproduces.

[2016-02-16 01:16] jreback commented on #12338
Wish I had a better test, but this fixes. We are not testing this. As have to modify the ci to explicity pip install ``dateutil=2.2`` (as its not on conda, as IIRC it was a completely buggy/bogus version :<). Its not even tagged in the repo, really weird

[code]

[2016-02-16 01:44] dhomeier commented on #12338
Tested the patch here as well, and also the original source against `dateutil-2.4.2`, both passing.

[2016-02-16 01:45] jreback commented on #12338
@dhomeier gr8 thanks!

[2016-02-16 01:46] jreback commented on #12337
@dhomeier if you want to experiment on this one. not really sure what the issue is.

[2016-02-16 01:47] #12338 closed

[2016-02-16 01:48] rbiswas4 opened #12340 "read_csv behavior with large floats"
I have a data file in text which has 4 columns
[code]
The 0th column really ought to have been int, but this is how the data file looks.
On trying to read it into a pandas, the [0, 0] element is read in as 6144039378640936.0.
The behavior is correct is numpy, and might be related to the floating point representation of this huge
float. However, checking the dtypes both numpy and pandas seem to be

[2016-02-16 01:53] jreback commented on #12340
you can try specifying the float_precision: http://pandas.pydata.org/pandas-docs/stable/io.html#specifying-method-for-floating-point-conversion

[2016-02-16 02:00] dhomeier commented on #12337
Seems to me this:
`test_format.py:2611`
[code]
I believe this is not correct; the default encoding is whatever is specified by the `LANG` (or possibly one of the `LC_*`) environment variable. If that's not set it falls back to `'ascii'`. That's at least what the docs for the builtin `open()` state:
[code]

[2016-02-16 02:10] rbiswas4 commented on #12340
Setting float_precision='high' fixes this problem. So, thanks!

But it would have seemed that (a) when I provide dtype, that should have taken care of this (b) If this is really np.float64 as indicated by printing out dtype, should this not have had the same behavior as numpy.

[2016-02-16 02:14] jreback commented on #12340
why would providing a dtype have anything do with this? this is all about parsing precision, where for virtually all cases the speed/precision tradeoff is good. otherwise you should use ``high_precision`` as indicated.

numpy's parser is different (and in python), while this is a c-parser. (you could get python semantics by using ``engine='python'`` but parsing speed is dramatically slower.

[2016-02-16 02:14] #12340 closed

[2016-02-16 06:46] tantrev opened #12341 "Categorical data not supported in plots of parallel coordinates"
Just hoping to see if it might be possible to support categorical data in the fantastic parallel coordinates plot function.

I've uploaded an example dataset where the current code fails:

[Archive.zip](https://github.com/pydata/pandas/files/131996/Archive.zip)

Also, variable line widths that reflect frequency would also be highly appreciated. :)

[2016-02-16 07:32] nbonnotte commented on #12337
Uh, I did write that part, but what I meant was "the default for pandas in a python3 environment is utf8", not "the default in python3 is utf8". This was to be consistant with [`to_csv`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html):

It would be interesting to compare `to_latex` and `to_csv`, because I don't see any reason why it should work in one case and n

[2016-02-16 09:39] mvds314 opened #12343 "Weird assignment behaviour with MultiIndex"
I came across some weird behavior when using assignment with a multi-index in Pandas 0.17.1

[code]

I debugged the pandas package a little bit and I think I know what is going. When you call `df1.loc[0,df2.columns]` it uses some getitem method. But, `df1.loc[0,df2.columns]=df2` uses some setitem method. When you set a break point in indexing.py in _NDFrameIndexer._get_setitem_indexer, then you se

[2016-02-16 10:10] jorisvandenbossche commented on #12333
AFAIK, integer indexes don't have any fallback to positional, and the indexer is *always* interpreted as label. So I don't see how this could mess up with the fallback indexing.

I don't see why that is a reason to make `.loc` have different behaviour, as we are speaking here *only* about label indexing, not positional.

[2016-02-16 10:12] jorisvandenbossche commented on #12333
You also have this discrepancy:

[code]

(to be honest, it would only be a full discrepancy if this gave a "KeyError 1.0 not found in index")

[2016-02-16 10:34] nbonnotte commented on #12337
Uh, I can't repro this, even though I'm on Mac OS X 10.10, python 3.5.1, numpy 1.10.4, and my `LANG` is empty.

[2016-02-16 10:36] hantusk opened #12344 "DataFrame.fillna corrupts columns with duplicated names"
[code]

[2016-02-16 12:07] csiz opened #12346 "Inconsistencies in index comparisons"
Comparing indexes returns two different data types. This is problematic since one of the types is a bool while the other is a Series which [explicitly can't be treated in a bool context](http://pandas.pydata.org/pandas-docs/stable/gotchas.html#using-if-truth-statements-with-pandas). Not to mention that the next section says `==` returns a Series object.

[code]

I'd suggest that comparing indexes

[2016-02-16 12:25] dhomeier commented on #12337
So is the default supposed to be initialised somewhere in the `pandas` setup independently of the system settings? Otherwise, do you have `LC_ALL` set? What do you get for this?
[code]

[2016-02-16 13:48] jreback commented on #12337
This gets the pandas encoding.

[code]

I think this is correct in this case, rather its the comparison that's the issue. you need to do like its above
[code]

[2016-02-16 13:49] jreback commented on #12341
IIRC no other plot libraries have a similar function, @TomAugspurger

pull-requests are welcome

[2016-02-16 13:52] jvkersch commented on #11915
@TomAugspurger @jreback I finally had time to look into this, and I agree the immediate issue is a bug in boto for Python 3.5 (reported as https://github.com/boto/boto/issues/3474, where I left a comment). That said, I wouldn't mind trying my hand at a switchover to boto3, using the excellent to-do list that @stharrold prepared as a guide, but I propose first adding a small check to `pandas.io.com

[2016-02-16 13:58] jreback commented on #12343
xref #6699

Multiindex assignment is a bit buggy.

You can do this
[code]

I would expect this should work (and doesn't)
[code]

however, not sure that assignment to a different shape should actually work, e.g. ``df2`` is a dataframe. I would expect this to raise.

pull-requests are welcome to fix.

[2016-02-16 13:59] jreback commented on #12343
furthermore, pls looks thru other multiindex assignment issues to see if you can find some related ones.

[2016-02-16 14:02] jreback commented on #12344
hmm, that appears to be the case. pull-requests to investigate are welcome.

[2016-02-16 14:06] jreback commented on #12346
You are using a pretty old version of pandas, IIRC this was corrected in 0.16.1 or so. Current is 0.17.1, and 0.18.0 is coming out shortly

[code]

[2016-02-16 14:06] #12346 closed

[2016-02-16 14:14] jreback commented on #11915
Is this a new version of ``boto``? what version do you repro on?

(so for sure would take a PR that adds ``boto`` to the version list)

[code]

[2016-02-16 14:19] jreback commented on #12333
ok, so @jorisvandenbossche what do you think *should* work then. give me an example for setting/getting with the various indexers.

[2016-02-16 14:22] rylanchiu opened #12347 "How to remove the " punctuation using .to_csv method?"
I have a data frame as below:

    #user	 item	rating	time 	word_count	review
    3        2      4.0     131600  123         1 1 3 3 3 4 4 5 ..
    ......

The number in review denotes the word_id. When I apply the `to_csv` function:

    df.to_csv("data.votes", sep = " ", cols = ['user','item','rating','time','word count','review'], header = False, index = False)

The resulting text file is like

[2016-02-16 14:23] TomAugspurger commented on #11915
@jreback it's a new package entirely called `boto3`. If we have an interested volunteer (which it sounds like we do! thanks @jvkersch), we could *hopefully* just require boto3 and not have any compatibility code in pandas (maybe detect `boto` and warn, recommending an upgrade to `boto3` for a version?) `boto3` is pure python and can be install alongside `boto`, so that's not a problem. It also pic

[2016-02-16 14:25] jreback commented on #11915
the original report was with boto no?

[2016-02-16 14:27] nbonnotte commented on #12337
Hum, I think I did overlook the default behaviour in Python 3 as pointed out by @dhomeier

See [this line](https://github.com/pydata/pandas/blob/2d51b33066e5991913dcba2cfb93d2112a2e8a8f/pandas/core/format.py#L640): the parameter `encoding` can be `None`, in which case we go for the default python behavior (which depends on the locale), but both the documentation and the tests expect the default pa

[2016-02-16 14:29] TomAugspurger commented on #11915
Yep. Currently with python 3.5 (and IIRC python 3.4.3) boto fails at import time. The in the original post swapped boto3 for boto, which let the import succeed, but didn't handle any of the API changes from boto to boto3.

[2016-02-16 14:32] dhomeier commented on #12337
AFAICS `to_csv` ultimately gets the default from `UnicodeWriter`, which sets the default encoding to `"utf-8"` regardless of the Python version.
I thought `to_latex` would get it from `codecs.open()`, which is supposed to use `sys.getdefaultencoding()`.
But this indeed returns `'ascii'` in Python 2.7, and `'utf-8'` in Python 3, regardless of the environment setting. Just added this check to make s

[2016-02-16 14:32] jreback commented on #12347
looks like you asked already on [SO](http://stackoverflow.com/questions/35434668/how-to-remove-the-punctuation-using-to-csv-method-in-pandas).

you are keeping a space delimited field in a dataframe, which is not recommended, but if you want then you cannot use a spec delimited output file w/o quoting. you can use a different output separator.

[2016-02-16 14:32] #12347 closed

[2016-02-16 14:34] jreback commented on #11915
and I would like to see what version of ``boto`` fails this, as you can see above it works with the latest ``boto``. I am guessing that this DID work with older versions of boto (as we never got this report before and have support py3 for quite a long time) and newer, but maybe a version in the middle broke things.

[2016-02-16 14:41] dhomeier commented on #12337
@nbonnotte, you could perhaps explicitly call `sys.getdefaultencoding()` in `to_latex()` if `encoding` is `None`. Though I am wondering now if it makes sense to allow non-ASCII characters in LaTeX output; might still depend on your `TeX` installation if they are accepted? But for consistency with `to_csv` one should perhaps use the same as there (or have both resort to `sys.getdefaultencoding()`).

[2016-02-16 14:42] TomAugspurger commented on #11915
@jreback It was an update to python (3.4.2 -> 3.4.3 and 3.5.0 -> 3.5.1) that broke boto. The boto version doesn't matter.

I also mispoke about it failing at import time. It fails when you try to access a `boto` config file, e.g. with `boto.connect_s3()`.

[code]

[2016-02-16 14:49] nbonnotte commented on #12337
@dhomeier Of course we want non-ascii characters in LaTeX, they're handled by the inputenc package (or directly by XeLaTeX).

Explicitly calling `sys.getdefaultencoding()` seems a good idea to me, if that's not what `codecs.open` looks for implicitly. Can you do a PR?

[2016-02-16 14:50] #10623 closed

[2016-02-16 15:07] JohnSmizz opened #12348 "datetimeindex resample issue"
Hi- I am observing odd behavior when trying to use resample on an uneven datetimeindex. See the below code to reproduce:

[code]

throws up a ValueError: Length mismatch: Expected axis has 5 elements, new values have 7 elements

Using asfreq() does not throw up this error on my machine.

I am running pd 0.17.1 on Python 3.4.4. off Anaconda for Windows.

[2016-02-16 15:15] jreback commented on #12348
this was just fixed in master (it broke 0.18.0rc1 as well), see the issue [here](https://github.com/pydata/pandas/issues/12332).

so 0.18.0 will release soon

[2016-02-16 15:15] #12348 closed

[2016-02-16 15:27] dhomeier commented on #12337
Yes, I may have misread the `codecs` docstring; for `codecs.open` it does not explicitly state any default for the encoding. Should we use `sys.getdefaultencoding()` then or `pd.get_option('display.encoding')` as put forth by @jreback? And for `to_latex` only or the same for `to_csv`? The latter would default to `csv.writer` with `encoding=None`, which again would accept unicode characters in Pyth

[2016-02-16 15:36] jreback commented on #12337
ideally you could do something to make this fail on Travis (as it is currently). I suspect in one of the alternate encoding builds (where we ovrride the LOCALE), may need to set some other variable to get this to fail. That way you can test wether a fix works.

It may be that we need to set an alternate py3 build to use LOCALE (e.g. you can do this with the 3.4 slow build)

[2016-02-16 16:16] scari opened #12351 "BUG: resample by BusinessHour raises ValueError"
I digged into a bit and found that `resample` by `BusinessHour` ran into here since the offset is neither string nor `Tick`:
https://github.com/pydata/pandas/blob/master/pandas/tseries/resample.py#L999
[code]

`normalize` in `_get_range_edges` cut the time parts off from the offset so it causes the exception.
If I modify the line into following, the `resample` goes smoothly:
[code]
If I made wrong

[2016-02-16 16:34] wavexx opened #12352 "nunique + TimeGrouper error"
This used to work in the past:

[code]

but now I get the obscure:

[code]

[2016-02-16 16:42] wavexx commented on #12352
The logically equivalent:

[code]

works as intended.

[2016-02-16 16:59] shoyer commented on #12333
I agree with @jorisvandenbossche, as I stated in the last PR:

- `__setitem__` and `__getitem__` should be entirely consistent
- We should use equality (like the Python dict) to determine whether or not a key matches
- If inserting a key that doesn't exist, then the index type is upcast if necessary

[2016-02-16 17:01] max-sixty opened #12353 "Supplying an xarray Dataset to DataFrame constructor breaks"
[code]

I _think_ because this looks for `dict` rather than 'dict-like' or `Mapping`: https://github.com/pydata/pandas/blob/master/pandas/core/frame.py#L222

[2016-02-16 17:12] jreback commented on #12352
hmm, does look buggy.

[2016-02-16 17:14] jreback commented on #12353
you have to call ``.to_dataframe()`` right?

this never worked before.

[2016-02-16 17:15] jreback commented on #12353
oh, this inherits from ``Mapping``, yeh prob lots of cases where we just use ``dict``, instead should use ``com.is_dict_like``

[2016-02-16 17:16] jreback commented on #12333
so @shoyer then essentially you want to have full support back for float indexers? (excluding ``.iloc``)

thats what your conditions imply.

[2016-02-16 17:27] shoyer commented on #12333
@jreback Yes, I guess so. If pandas were stricter about not upcasting types (or even better, if we did not support reindexing with `.loc` at all), then it could make sense to make the distinction. But as is, I think we should be OK with float indexers. Obviously float indexers that don't match an integer will still result in KeyError, though

[2016-02-16 18:20] wavexx opened #12354 "Allow to set hatches in 'area' plots"
I'd like to be able to set the hatch styles (using a cycler) in plot(kind='area').
This would allow me to produce black&white plots correctly with more than two categories.

[2016-02-16 19:13] npezolano opened #12355 "Feature Sugesstion: date_range from end to start"
When using ``pd.date_range`` we work our way forwards from start to end.  It would be nice to pass a flag or use the dates in reverse to go from end to start when creating the date_range.
[code]
[code]

[2016-02-16 19:34] MaximilianR commented on #12353
TBC, `.to_dataframe()` works - this is a separate more abstract issue

[2016-02-16 19:39] MaximilianR commented on #12355
reversed?

[code]

[2016-02-16 19:51] npezolano commented on #12355
Not reversed, the order doesn't change, but you work the algorithm from the end date to the start. I'll add an example above to make it more clear.

[2016-02-16 20:07] jreback commented on #12353
ok #12356 fixes for DataFrame, can you give me examples that *should* work for ``Series`` & ``Panel``?

[2016-02-16 20:14] vonosmas commented on #12303
Your call - I totally understand it's hard to deal with the "issues" that are exposed in non-standard build configurations.

However, undefined behavior is tricky and dangerous - and if we can reliably detect it, it's worth fixing it sooner rather than later, when compilers gets smarter and will break your code in unexpected ways.

I'd argue that converting NaN to integer is never correct, and usu

[2016-02-16 20:18] jreback commented on #12303
@vonosmas you would have to show what this is being called. ``np.allclose`` in that function is NEVER called with anything but bool/int dtype.

As I said, need a reproducible example.

[2016-02-16 20:35] MaximilianR commented on #12353
Great! Thanks.

First, series: https://github.com/pydata/pandas/blob/master/pandas/core/series.py#L166

[code]

[2016-02-16 20:37] MaximilianR commented on #12353
Panel: https://github.com/pydata/pandas/blob/master/pandas/core/panel.py#L160

[code]

[2016-02-16 21:07] vonosmas commented on #12303
`dtype` is integral, but result is not:

[code]

[2016-02-16 21:42] jreback commented on #12303
This should patch it.

[code]

[2016-02-16 22:40] jreback commented on #12352
this last worked in 0.16.2, and failed in 0.17.0 (and continues in 0.18.0),

[2016-02-16 22:40] jreback commented on #12351
hmm, not really sure this business hour has a lot of tests.

[2016-02-16 23:21] vonosmas commented on #12303
Thank you, confirmed! Another failure (extracted from `pandas/tests/test_groupby.py:TestGroupBy.test_count_cross_type`):

[code]

which yields:
[code]

I don't know if assignment `df[df == 2] = np.nan` is in fact valid here, or the problem is in the test case. Same applies to the code in `test_cython_group_transform_algos`:

[code]

[2016-02-16 23:41] mattytrentini opened #12357 "Inconsistent DataFrame.query results"
Having seen some inconsistent results from processing DataFrames - literally, running scripts over static data would generate different outcomes - we were able to boil down the following example:

[code]

If I understand correctly, calling `compare` should never return false and yet it does, randomly:

[code]
This seems like a defect in query?

Relevant versions:

[code]

[2016-02-16 23:44] wavexx opened #12358 "set_index(DatetimeIndex) unexpectedly shifts tz-aware datetime"
This is another issue I've found in code that used to work:

[code]

writes:

[code]

It's unclear to me why the time is shifted. If we take a pd.DatetimeIndex which is not directly contained in the df, it works as it should:

[code]
[code]

[2016-02-16 23:44] jreback commented on #12357
duplicate of [this](https://github.com/pydata/pandas/issues/12023)

install ``numexpr=>2.4.6`` and all will be well

[2016-02-16 23:44] #12357 closed

[2016-02-16 23:53] jreback commented on #12358
a couple of things:

1) your syntax is incorrect (yes this did work, but it is completely misleading), as its not clear that you actually mean to localize

so construct the index like this. IOW. you have to say, hey this a local UTC time, THEN convert it.

[code]

2) ``df.set_index(df.tm, inplace=True)``

This is a nonsensical operation, what do you think this should do?

you probably mean
``df.in

[2016-02-16 23:54] wavexx commented on #12352
Thanks for investigating the exact breaking point. I'm currently revisiting some code that I wrote for python2.7 with pandas 0.16.* and now I'm porting to python3 and 0.17.1 (currently Debian unstable).

[2016-02-16 23:55] jreback commented on #12355
so pls provide a usecase. Generally you would simply reverse sort to work with things in the reverse order.

[2016-02-16 23:55] jreback commented on #12352
yeah there were some fixes related to this, but this one didn't take.

[2016-02-17 00:00] jreback commented on #12303
ok, will close it with the PR

[2016-02-17 00:02] mattytrentini commented on #12357
Thanks!

Sorry to waste your time, I did search but didn't stumble on the other duplicates.

Always nice to see an issue resolved and closed in less time than it took to write! :)

[2016-02-17 00:06] wavexx commented on #12358
It seems clear enough to me that if I know the tz of the series, there's no point to "localize" it later.
In fact, I always start from UTC. pd.to_datetime has an utc keyword which I would have expected to make the DatetimeIndex UTC *and* tz-aware, which would be what I need 99% of the time, but it doesn't (what's the point of this argument is still unclear to me!?).

As for setting the index, yes,

[2016-02-17 00:10] jreback commented on #12358
passing it rather than explicity localizing leads to a lot of ambiguity, what should I doing here?
[code]

as to your second point, it is converted to a numpy array, thus the tz is lost. the first arg only accepts a list or np.array NOT a Series, excactly for this reason.

[2016-02-17 00:14] jreback commented on #12303
see #12360 should fix all of the issues you have reported..

unfort I cannot really test with these, but at least added some comments

[2016-02-17 00:17] wavexx commented on #12358
tz_localize() converts the timezone, I explicitly don't want it to do any conversion as my dates do not contain any.

In fact, if I could bug you one more time about this, what's the more efficient way to start from a unix timestamp (obviously in UTC) and get to a localized series?

[2016-02-17 00:23] jreback commented on #12358
NO ``tz_localize``, SETS the timezone, ``tz_convert`` converts it!

Here's some examples.

You CAN use the ``utc=True`` flag on ``pd.to_datetime``; this WILL return it localized to UTC. (just don't do this directly with ``DatetimeIndex``. All will be well if you use ``pd.to_datetime`` for all conversion needs, then operate on the resulting objects
[code]

[2016-02-17 00:24] jreback commented on #12357
hah, yeah have seen this one a number of times. Not much we can do until ``Anaconda`` updates the version. To be more insidious, this is ONLY on windows.

[2016-02-17 00:45] vonosmas commented on #12303
Another example, where you might consider removing `fill(np.nan)` calls in `_cython_operation`:

[code]

[2016-02-17 00:45] jreback commented on #12353
the ``Series`` constructor cannot handle the 2-d input that you are passing it, so not really sure what if anything to do.

[code]

[2016-02-17 01:07] jreback commented on #12303
updated. lmk if any more!

[2016-02-17 01:07] jreback commented on #12303
these are indeed edge cases where we shouldn't be doing something, but numpy 'allows'  as just casts it to the min int, generally not what we want.

[2016-02-17 01:12] #12334 closed

[2016-02-17 01:13] jreback commented on #12142
closed by #12129

[2016-02-17 01:13] #12142 closed

[2016-02-17 01:43] MaximilianR commented on #12353
This goes a bit deeper than I thought, but bear with me:

- Datasets vs DataArrays: A `Dataset` is a mapping of label to array. So `xr.Dataset({'a': 2, 'b': 3})` has the same dimensionality as a Series.
- `.to_xarray()` converts to a `DataArray`, which is a reasonable default; but converting to and from `Dataset`s is also helpful
- `pd.Series(xr.Dataset({'a': 2, 'b': 3}))` doesn't work for two sep

[2016-02-17 02:48] jreback opened #12363 "BUG: inconsistent name for returned Series in groupby"
I would think ``[7]`` and ``[8]`` would be identical. Note this is true for all ops I have looked at, so it is a general issue.

[code]

[2016-02-17 02:56] jreback commented on #12354
@TomAugspurger ?

[2016-02-17 03:06] TomAugspurger commented on #12354
@wavexx can you show an example of the matplotlib code needed to get the hatching on an area plot?

[2016-02-17 12:02] wavexx commented on #12358
On Wed, Feb 17 2016, Jeff Reback <notifications@github.com> wrote:

Ok, this made things a little bit clearer regarding the tz.
Point understood.

I'm still not super-happy about the set_index behavior. I've given it
some extra-though, but I don't see where and why the tz would be lost.

Where exactly this conversion happens?

import pandas as pd
tm = pd.DatetimeIndex(pd.to_datetime(["2014-01-01 1

[2016-02-17 12:14] wavexx commented on #12354
I didn't check how area plots are made internally. It varies a bit depending on which call you're using, but most filling functions in mpl support the hatch or ``hatches`` kwarg.

http://matplotlib.org/examples/pylab_examples/contourf_hatching.html

It's also supported by fill_between (``hatch``).

https://stackoverflow.com/questions/18386106/matplotlib-hatched-fill-between-without-edges

I tried

[2016-02-17 13:17] jreback commented on #12358
looks like a bug after all!

fixed by #12365

[2016-02-17 13:19] jreback commented on #12303
@vonosmas thanks for the reports, this is now merged. If you find any more you can post here.

[2016-02-17 13:20] #12171 closed

[2016-02-17 13:22] #12352 closed

[2016-02-17 13:25] wavexx commented on #12358
On Wed, Feb 17 2016, Jeff Reback <notifications@github.com> wrote:

Sorry for being pedantic!

[2016-02-17 13:25] jreback commented on #8573
this appears good in master, just needs validation tests

[2016-02-17 13:26] jreback commented on #12363
xref #8093

[2016-02-17 13:27] jreback commented on #12358
no, persistence is good! you got me to actually step thru and see what was happening. always better to test.

[2016-02-17 13:29] jreback commented on #7453
first 2 look fixed, just need validation tests. Then can deal with 3rd issue separately.

[2016-02-17 13:32] jreback commented on #6594
this totally works now (need slight change to syntax as the above is not valid), needing testing/validation

[code]

[code]

[2016-02-17 13:34] jreback commented on #5751
let's just doc this to direct to dask

[2016-02-17 13:38] jreback commented on #3698
the ``reduce`` kw can be specified to deal with this

[2016-02-17 13:38] #3698 closed

[2016-02-17 14:29] #12358 closed

[2016-02-17 14:45] jreback commented on #12333
I suppose this means we are reverting this as well.

[code]

and have it return equiv of ``s[1:2]`` (and allow setting).

Note that this will only apply to integer-like indices as string index will still raise ``TypeError``.

[2016-02-17 15:11] jorisvandenbossche commented on #12333
No, that should still raise, as this is *positional* indexing (alas ..):

[code]

[2016-02-17 15:13] jorisvandenbossche commented on #12333
But you are correct for the case of slicing in `.ix` (and `.loc`). But strangely this does not raise on master for me at the moment:

[code]

[2016-02-17 15:23] jreback commented on #12333
that last has always been allowed.

[2016-02-17 15:54] jvkersch commented on #11915
To add to @TomAugspurger's comment, it is definitely the most recent version (2.39.0) of boto that's broken with Python 3.5, and probably all prior versions too. The changes in `ConfigParser` in Python 3.5 (and maybe 3.4 too, I haven't tested that) make it so that boto's config object is simply unable to parse the `.boto` file. The fact that the original user had an error at import time is because

[2016-02-17 16:58] toobaz opened #12369 "KeyError when retrieving columns with lists of incomplete tuples from MultiIndex"
Sorry in advance if this was already reported - I searched a bit but didn't know exactly what to search.

    In [2]: df = pd.DataFrame(0, index=range(1), columns=pd.MultiIndex.from_product([['a', 'b'], ['c']]))

    In [3]: cols = [('a',), ('b',)]

    In [4]: df[cols[0]]
    Out[4]:
       c
    0  0

    In [5]: df[cols[1]]
    Out[5]:
       c
    0  0

    In [6]: df[cols]
    ---------------

[2016-02-17 17:03] jreback commented on #12369
you have to use multiindex slicers if you want partial selections

[code]
``[]`` is too ambiguous for things like this

[2016-02-17 17:03] #12369 closed

[2016-02-17 18:57] vonosmas commented on #12303
Thank you for fixing these! I've rebased and ran the entire test suite (sorry for not doing this earlier). Six test cases indicated errors, I've extracted the code patterns that trigger them (see below):

[code]

Running them with float-cast-overflow detection yields:
[code]

[2016-02-17 19:02] jreback commented on #12303
@vonosmas gr8 thanks. I'll take a look.

[2016-02-17 19:05] jreback commented on #12303
let me reopen so won't forget

[2016-02-17 20:05] scari commented on #12351
I found some glitch on business hour resampling during write a test for this. will open another issue when I finish investigating.

[2016-02-17 20:28] toobaz commented on #12369
(I just thought the above would be expected to work fine, but ``df[['a', 'b']]`` actually does the job too)

[2016-02-17 22:27] jreback opened #12371 "CLN/PERF: .get_loc on float with integer coercion"
xref: https://github.com/pydata/pandas/pull/12370

This should be done inside `index.pyx`

if the lookup fails and if its a non-float index, then coerce to int, and if its the same
lookup again.

[2016-02-17 22:35] jreback commented on #12021
@mrocklin
https://github.com/pydata/pandas/pull/12372

anything else you need?

[2016-02-17 22:38] mrocklin commented on #12021
The problem is more extensive.  I suspect you would need to be more careful about how you wrap things.  Here is a fail case not handled by that PR.

[code]

[2016-02-17 22:50] jreback commented on #12021
I checkout 0.2.1 of ``cloudpickle``

[code]

[2016-02-17 22:52] mrocklin commented on #12021
Try Python 3

[2016-02-17 22:58] dhomeier commented on #12337
Not sure I understand what you intend - add tests (for `to_latex` and `to_csv`?) that will fail if no LOCALE is set in the environment?

[2016-02-17 22:59] jreback commented on #12021
so if you have

[code]

how do I set the name instead of ``a_func``? (I tried ``a_func.func_name = 'foo'``) but doesn't seem to do anything

[2016-02-17 23:00] jennolsen84 opened #12373 "BUG: rolling functions raise ValueError on float32 data"
pd version: v0.18.0rc1

minimal example:

[code]

stack trace:

[code]

[2016-02-17 23:13] mrocklin commented on #12021
Looks like the attributes `__name__` and `__qualname__` come up in the definition of `functools.wraps`

[2016-02-17 23:13] mrocklin commented on #12021
Looks like cloudpickle uses `__name__` in a couple places.  Doesn't seem to use `__qualname__`

[2016-02-17 23:14] mrocklin commented on #12021
The `__module__` attribute may also come in handy

[2016-02-17 23:49] rosnfeld opened #12374 "ENH: add option to suppress scientific notation (for small values?)"
I find myself running into a situation where I don't want to see small numbers as scientific notation fairly frequently, things like:

[code]

or

[code]

Scientific notation isn't helpful when you are trying to make quick comparisons across elements, and have a well-defined notion of a -1 to 1 or 0 to 1 range.

I propose adding some sort of display flag to suppress scientific notation on small nu

[2016-02-17 23:50] rosnfeld commented on #12374
(and I volunteer to work on this if others are okay with the idea)

[2016-02-18 00:32] jreback commented on #12374
http://pandas.pydata.org/pandas-docs/stable/options.html#number-formatting

there are already 4 related options to do things like this:
``display.precision``, ``display.chop_threshold``, ``display.float_format``, and ``pd.set_eng_float_format(accuracy=3, use_eng_prefix=True)``.

So what I think we need is some consolidation and maybe some docs.

[2016-02-18 00:34] jreback commented on #12374
some related issues:

https://github.com/pydata/pandas/issues/9448
https://github.com/pydata/pandas/issues/6839

[2016-02-18 00:34] jreback commented on #12374
love for you to have a look to see how this can be done better

[2016-02-18 00:39] jreback commented on #12373
I think I forgot the casting (these should really have dtype specific functions, e.g. float32/float64), but that's your other issue.

[code]

want to do a PR to fix?

[2016-02-18 01:54] jreback opened #12375 "DOC: creating CONTRIBUTING.md from contributing.rst"
## Pandas Issue Submission Template

This template will help you and us respond to your issues in an efficient and timely manner.
Please fill out all sections and use [github markdown for code blocks](https://help.github.com/articles/basic-writing-and-formatting-syntax/)
#### Actual Behavior
#### Expected Behavior
#### output of `pd.show_versions()`

so this is what the new ISSUE_TEMPLATE looks li

[2016-02-18 01:54] jreback commented on #12375
of course stylistic changes are welcome :)

there is a PULL_REQUEST.md template we can add as well.

[2016-02-18 01:56] jreback commented on #12375
I think the CONTRIBUTING.md should simply be: http://pandas.pydata.org/pandas-docs/stable/contributing.html but would have to do this as part of the doc-building process? (e.g. convert the .rst to .md)?

@jorisvandenbossche @TomAugspurger ?

[2016-02-18 02:12] TomAugspurger commented on #12375
I don't think we need the sentence with "This template will help you...", people will get used to these. Best to keep the boilerplate to a minimum. Could probably scrap the "Please fill out" as well.

Maybe instead of "Actual Behavior" we have "Code Example" or something that really drives home the point that we want a copy-pastable example possible.

Something like:

---

## Code Sample

[code]

[2016-02-18 02:32] jreback commented on #12375
ok updated. feel free to mod

[2016-02-18 05:19] kawochen commented on #12021
Serializers need to handle `__qualname__` for display.

[2016-02-18 06:25] cancan101 opened #12377 "Support Resampling Weeks to/from FY5253Quarter"
[52–53-week fiscal year](https://en.wikipedia.org/wiki/4%E2%80%934%E2%80%935_calendar#52.E2.80.9353-week_fiscal_year) are designed to end on the same day of the week each quarter / year. Therefore it should be possible to upsample / downsample to/from weeks. I made an initial attempt at this in https://github.com/pydata/pandas/pull/5148 but that PR was never merged. This logic still makes sense.

[2016-02-18 06:40] cancan101 opened #12378 "Canonicalize Offset Names"
Reposted from: https://github.com/pydata/pandas/pull/5148/files#r10454189

Currently you get the following behavior because there is not a canonicalized offset name:
[code]

[2016-02-18 06:46] cancan101 opened #12379 "No str for FY5253Quarter"
[code]

[code]

Expected: `'2010Q4'`.

See for more tests: https://github.com/pydata/pandas/pull/5148/files#diff-f9b276c4aa39a6161726d8b43ce62516R2420

[2016-02-18 08:12] scls19fr opened #12380 "Scatter plot should have a discrete colorbar when 'c' is integer"
[code]

![iris](https://cloud.githubusercontent.com/assets/109167/13136974/2a1ca272-d61e-11e5-9463-a7fa40fb28f2.png)
#### Expected Output

A scatter plot with a colobar with a discrete colormap
#### Additional information

Converting `.target` column to a category doesn't fix the problem.
Maybe I should open an other issue about it.

[code]
#### output of `pd.show_versions()`

[code]

Pinging @sin

[2016-02-18 09:15] sandys opened #12381 "workspace snapshot like R's save.image()"
there are a couple of questions on this on Stackoverflow:
http://stackoverflow.com/questions/35465534/how-do-i-save-the-entire-workspace-in-pandas-like-rdata
http://stackoverflow.com/questions/12504951/save-session-in-ipython-like-in-matlab

Even the individual dataframe saving is a bit confusing - http://stackoverflow.com/questions/17098654/how-to-store-data-frame-using-pandas-python

From IRC, t

[2016-02-18 09:27] rosnfeld commented on #12374
Hmm, embarrassing that I hadn't seen chop_threshold before, I've made changes to ```display.precision``` and edited its docs and yet not seen this. That sounds like what I want, though I can still get it to behave poorly:
[code]
Thanks for pointing me to it though. I'll play around with this for a while and see if there's some clean-up that can be done. I would love it I could change ```display.pr

[2016-02-18 10:35] yosuah opened #12382 "apply() silently removes time zone information from DateTime values"
Hi,

apply() silently removes time zone information from DateTime values. I think this bug is related to https://github.com/pydata/pandas/issues/10668, but it is apparently not the same.

#### Code Sample, a copy-pastable example if possible

[code]

    2011-01-01 00:00:00+01:00   2011-01-01 00:00:00+01:00
    2011-01-01 01:00:00+01:00   2011-01-01 01:00:00+01:00
    2011-01-01 02:00:00+01:00   2

[2016-02-18 12:40] rockg commented on #12382
I believe this is the same as #11757 which I have neglected to finish.  It was turning out to be trickier than I had hoped.

[2016-02-18 12:46] jreback commented on #12375
I have changed this to be a doc generation step to make CONTRIBUTING.md from contributing.rst. This would have to be an external step we only do when we make changes to contributing.rst.

[2016-02-18 12:48] jreback commented on #12382
I agree. @yosuah thanks for the report.