[2020-09-04 19:39] TomAugspurger commented on #36018
Hard to say, but probably not intentional. Are you able to bisect 1.1.0 to 1.1.1 to see what changed?

[2020-09-04 19:42] TomAugspurger commented on #36030
I don't think your expected is correct. Your plot makes it look like 2000-01-02 is halfway between 2000-01-01 and 2020-01-02. We plot dates as there numerical values.

[2020-09-04 19:42] #36030 closed

[2020-09-04 19:45] TomAugspurger commented on #36111
Thanks for the report. I get a different exception on master

[code]

Can you investigate where things changed?

[2020-09-04 19:48] TomAugspurger commented on #36124
Can you provide an example along with your expected output?

[2020-09-04 19:51] TomAugspurger commented on #36123
Thanks (can you add that to the original post?)

Next thing we need to figure out: is this specific to Sparse, or is it a general issue with all extensionarrays? ExtensionArrays can't be sent to Cython, so we have to take the slower python path. Right now my hunch is that it applies to all EAs. Can you do some investigation?

[2020-09-04 20:00] gokceneraslan commented on #36123
I am not familiar with pandas codebase and Cython at all, so I probably cannot. But any help is appreciated.

[2020-09-04 20:06] jorisvandenbossche commented on #36076
Yes, I would be in favor of that as well. The user can always convert to boolean to be explicit.

[2020-09-04 20:07] dzimmanck commented on #36124
@TomAugspurger

I updated my comment with a simple example.

[2020-09-04 20:13] rbubley commented on #35871
As the reporting user (being a huge sample of 1!), I have already changed my usages to migrate from the old to the current syntax.

FWIW, the new syntax feels more natural to me.

[2020-09-04 20:14] gokceneraslan commented on #36123
I can c/p snakeviz profiles, if it helps:

Dense:

<img width="976" alt="image" src="https://user-images.githubusercontent.com/1140359/92281431-98589200-eec9-11ea-8248-0e16b6e4da51.png">

<img width="1366" alt="image" src="https://user-images.githubusercontent.com/1140359/92281451-a3132700-eec9-11ea-9878-4d98bff09da3.png">

Sparse:

<img width="968" alt="image" src="https://user-images.githubuserc

[2020-09-04 20:20] arw2019 commented on #36123
There's a slowdown with`Int64`
[code]

[2020-09-04 20:20] jbrockmendel commented on #32590
I have no strong opinion on this.  The SO link appears to have a few viable options.

[2020-09-04 20:22] TomAugspurger opened #36126 "Make ExtensionDtype.construct_array_type a regular method"
Currently ExtensionDtype.consruct_array_type is a classmethod. This makes it hard to use a single dtype with multiple array classes where the array type depends on some parameter of the dtype.

I'd like to change construct_array_type to be a regular method rather than a classmethod. AFAICT, this is fine for pandas since everywhere we use construct_array_type we have an instance rather than a type.

[2020-09-04 20:25] TomAugspurger commented on #36124
Seems that the issue isn't in the repr, it's that pandas converts the IntEnum to integers

[code]

[2020-09-04 20:29] #36032 closed

[2020-09-04 20:48] #35521 closed

[2020-09-04 21:15] JulianWgs commented on #32590
Thanks for the response! I propose my option, since a groupby is not really a histogram like one would expect.

[2020-09-04 21:57] dzimmanck commented on #36124
@TomAugspurger, I think that is part of the issue, but they still don't print correctly even when the columns are cast as objects explicitly.

[code]

Which returns:

[code]

[2020-09-04 21:57] jbrockmendel commented on #32590
cc @datapythonista thoughts?

[2020-09-04 22:18] jbrockmendel commented on #35739
I'm pretty sure this is closed by #36051

[2020-09-04 22:30] jreback commented on #25395
this is a duplicate of #22205

should filter NaN's internally before passing to `np.in1d` then and union with `.isna()`

[2020-09-04 22:30] #25395 closed

[2020-09-04 22:57] trenton3983 commented on #35370
python 3.8.5
pandas 1.1.1
matplotlib 3.3.1
JupyterLab 2.2.6

I can't reproduce the original issue with the new versions.

[code]
![image](https://user-images.githubusercontent.com/12875240/92289952-3f87fa00-eec7-11ea-9dd0-bba5393be12a.png)

[2020-09-04 23:11] jbrockmendel commented on #35482
No real objections

[2020-09-04 23:12] jbrockmendel commented on #36126
+1

[2020-09-04 23:33] #35739 closed

[2020-09-04 23:40] jbrockmendel commented on #30263
This works on master.  Could use a test and/or bisect

[2020-09-04 23:52] datapythonista commented on #32590
A datetime is a float under the hood, and we support floats, so I think it shouldn't be difficult to make this work. The approach would be similar  to the code that you showed (I think casting to float makes more sense than casting to int, but the idea is the same). Feel free to open a pull request for this.

[2020-09-04 23:55] alimcmaster1 commented on #33639
https://github.com/pandas-dev/pandas/pull/35381 closes this. You should now be able to use the storage_options kwarg to pass in "aws_access_key_id" & "aws_secret_key"

[2020-09-04 23:55] #33639 closed

[2020-09-04 23:59] alimcmaster1 commented on #16692
#35381 closes this. You should now be able to use the storage_options kwarg to pass in "profile"

[2020-09-04 23:59] #16692 closed

[2020-09-05 00:01] alimcmaster1 commented on #30732
Duplicate of https://github.com/pandas-dev/pandas/issues/32486 I think. Should now be fixed on master by https://github.com/pandas-dev/pandas/pull/33645

[2020-09-05 00:01] #30732 closed

[2020-09-05 01:02] tderond commented on #35958
Simply using `read_csv` in stead of `read_table` using the exact same arguments seems to work as a workaround for me

[2020-09-05 01:14] jbrockmendel commented on #28900
@jreback on the call today you seemed positive on this idea, asked how many tests rely on current behavior.  Looks like 50 total, roughly a third in DataFrame reductions (mostly trying to do math on strings), a third in groupby.apply/agg (some strings, some Categorical), and the rest window (mostly dt64)

I've spent a big part of the afternoon trying to get the deprecation for #36076 right and its

[2020-09-05 01:25] alimcmaster1 commented on #35594
[code]
https://github.com/sqlalchemy/sqlalchemy/issues/3264

Could you raise in SQLAlchemy @westhyena ?

[2020-09-05 01:34] KaiOuYang commented on #36110
ok, thanks so much

[2020-09-05 03:15] #35889 closed

[2020-09-05 03:18] #29764 closed

[2020-09-05 03:21] #34789 closed

[2020-09-05 03:33] #35945 closed

[2020-09-05 03:40] ShyamDesai commented on #32550
take

[2020-09-05 06:07] jeet-parekh commented on #35969
@TomAugspurger, I was able to reproduce this.

[code]

Note the use of capital A for the mode argument. There's a check for `a`, but not `A`. So it proceeds to open the file in write mode.

[2020-09-05 07:27] EllieLockhart commented on #32316
take

[2020-09-05 07:27] veselyvojtech commented on #35739
Yes, #36051 solves that. Thanks.

[2020-09-05 07:35] subhrm commented on #34921
I found the following workaround, in place of `pd.read_excel("test.xlsx", index_col=[0,1]) `  which was aggresively filling `NaN` cells in **index columns**,  `pd.read_excel("test.xlsx").set_index(["col1","col2"]) ` worked correctly .  The `set_index`  method correctly sets the index values and preserves the `NaN` cells.

[2020-09-05 07:44] hs2361 commented on #35948
I have opened a pull request. Please review my code, and please notify me of changes to be made.

[2020-09-05 07:46] attack68 commented on #36103
I have not downloaded your zip, but I cannot reproduce this in pandas 1.1.0

[code]

[code]

[code]

[code]

[2020-09-05 07:49] harahu commented on #36031
But the weird thing here is that this number _does not fall within the last window_. I can see why this would affect the correctness of the first window, but why the last? The how is this remainder of -1 transferred across window bounds? Any hyposesis, @aelafifi?

[2020-09-05 08:23] contribu commented on #9481
I implemented it.

Computational complexity( n: input length w: rolling window size )
- rollingrank (proposed): O(n * log(w))
- bottleneck.move_rank: O(n * w)

Try
https://github.com/contribu/rollingrank

[2020-09-05 10:50] TomAugspurger commented on #35969
I don't think that `'A'` is a valid file mode, unless xlsxwriter is doing special with it.

[2020-09-05 10:50] #35162 closed

[2020-09-05 10:53] TomAugspurger commented on #36124
Thanks, that might be a bug. Can you check the formatting code in io/formats/format.py to see where it's converted?

[2020-09-05 11:13] simonjayhawkins commented on #35684
I think this may have been fixed in #35946

code sample from https://github.com/pandas-dev/pandas/issues/35684#issuecomment-674914096

[code]
maybe should add a release note and close

cc @VirosaLi

[2020-09-05 11:24] simonjayhawkins commented on #16784
code sample in https://github.com/pandas-dev/pandas/issues/16784#issuecomment-311563562 doesn't raise on master

[code]

maybe fixed by #36093? cc @jbrockmendel

[2020-09-05 11:34] TAJD commented on #35406
take

[2020-09-05 12:25] rxxg commented on #35545
@TomAugspurger I don't know the relationship between pandas and sas7bdat (the pandas header just says that sas7bdat.py is 'based on code written by Jared Hobbs'), but I can certainly file a bug with that project as well.  It doesn't look like there has been substantial work on it for a while, though.

[2020-09-05 12:27] TomAugspurger commented on #35545
Ah, my apologies. I thought we used sas7bdat, but apparently not.

[2020-09-05 12:33] rxxg commented on #35545
Umm ... I already had a very quick look, but I don't think I will be able to devote the time it would take.

[2020-09-05 12:34] jeroenbrouwer commented on #35211
Any luck so far @sharvanir ?

[2020-09-05 12:57] jorisvandenbossche commented on #27164
Experiments of @WillAyd related to this: https://github.com/pandas-dev/pandas/pull/27166, https://github.com/pandas-dev/pandas/pull/32343

[2020-09-05 12:57] jeet-parekh commented on #35969
Right, xlsxwriter does not support appends. But the ExcelWriter constructor defaults to xlsxwriter. Even though I have both xlsxwriter and openpyxl installed.

And it's not clear from the [ExcelWriter docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.ExcelWriter.html) that append is not supported for xlsxwriter. `mode='a'` will raise an exception. Any other mode, whether or n

[2020-09-05 13:11] hweecat commented on #34777
Hello! I could make an attempt on updating the check to handle MultiIndexes for parquet format, if that's okay. :)

[2020-09-05 13:27] TomAugspurger commented on #34777
That'd be great, thanks.

[2020-09-05 13:44] hweecat commented on #34777
Take :)

[2020-09-05 13:48] Dr-Irv commented on #31954
This works fine in pandas 1.1.1

[2020-09-05 13:57] rhshadrach commented on #35565
The result is determined here:

https://github.com/pandas-dev/pandas/blob/70c056becc71d1ab43cb6ef6c737b852ae89c15e/pandas/_libs/ops.pyx#L163-L169

where `checknull` is True for both `x` and `y`. This is consistent with `np.nan != np.nan` but inconsistent with `None == None`.

[2020-09-05 14:00] MarcoGorelli commented on #31954
Any idea when it was fixed? It's probably good to make sure this was intentional and that there's a test for it...I'll do a git bisect

[2020-09-05 14:16] MFalghanmi commented on #35969
Hey @TomAugspurger , @jeet-parekh

Regarding the 'a' or 'A', please check the this post in [stackoverflow](https://stackoverflow.com/questions/54863238/pandas-excelwriter-valueerror-append-mode-is-not-supported-with-xlsxwriter)

[2020-09-05 14:20] TomAugspurger commented on #35969
Is pandas doing anything with the `mode` or just passing it to xlsxwriter? If we're just passing it through I'd recommend raising an issue with xlsxwriter to validate that the mode isn't nonsense.

[2020-09-05 14:20] rhshadrach commented on #35683
Using `result_type="reduce"` as @jbrockmendel mentioned, I now see the expected output on master:

[code]

Also, PR #35777 mentions this issue in the whatsnew; can this issue be closed?

[2020-09-05 14:23] MFalghanmi commented on #35969
Thank you for the link @TomAugspurger.
The 'sheet_name' is the new sheet that is needed to be add to the existing excel file.

[2020-09-05 14:30] jorisvandenbossche commented on #28900
Note that datetime/timedelta are numeric dtypes (correct?) but still don't support any/all, so I don't think it's fully related?

[2020-09-05 14:31] MFalghanmi commented on #35969
![image](https://user-images.githubusercontent.com/43381180/92307256-9fe96b00-ef9d-11ea-8e00-f54308b07510.png)

[2020-09-05 14:34] jeet-parekh commented on #35969
Pandas isn't doing anything with the mode. Also, xlsxwriter isn't doing anything with it either. I don't think the [xlsxwriter workbook](https://xlsxwriter.readthedocs.io/workbook.html) accepts our mode argument at all.

I think the ExcelWriter defaults could be improved. See my [comment above](https://github.com/pandas-dev/pandas/issues/35969#issuecomment-687607651).

[2020-09-05 14:41] MarcoGorelli commented on #31954
If I've done `git bisect` (which I'm not I have, see below) it looks like this was fixed in #33616

Could do with a test, so am reopening.

----

Why I'm not sure I've done git bisect correctly: there's a gcc error (@simonjayhawkins is this something you've come across?)
[code]

[2020-09-05 14:44] #35406 closed

[2020-09-05 14:45] jorisvandenbossche commented on #31954
@MarcoGorelli thanks for the analysis!

[2020-09-05 14:49] #21003 closed

[2020-09-05 14:50] #26237 closed

[2020-09-05 14:50] #29054 closed

[2020-09-05 14:50] #29570 closed

[2020-09-05 14:51] Rational-IM commented on #35684
The issue has not been fixed. I had to include an "idle" set_yticks() command on my code (see below) to make the error go away in a very simple subroutine I use to format y-axis for my charts. Needless to say I don't want my code with such "noise". I hope it gets fixed soon.

[code]

[2020-09-05 14:52] jreback commented on #9481
@contribu thanks for the implementaton. Ideally this would port almost directly to cython and embedded in the current infrastructure. we don't have very much c++ code in pandas and mostly use cython. if you could do this would be fantastic.

[2020-09-05 15:06] Dr-Irv commented on #31220
Agree with @dsaxton above

[2020-09-05 15:09] Dr-Irv commented on #30859
Works in 1.1.1

[2020-09-05 15:26] Dr-Irv commented on #30677
I don't think this is a bug.  In the `DataFrame` case, when you assign the `None` values, the dtype of the columns is inferred to be float64, and the `None` values get converted to `np.nan` .  But if you create a column with a dtype of `object`, you can differentiate between `None` and `np.nan`.  :
[code]

In your example, when you created the `Index`, it defaulted to a dtype of object.

[2020-09-05 15:26] #30677 closed

[2020-09-05 15:36] Dr-Irv commented on #29824
@jbrockmendel can you take a look at this since I think you have thought about datetime issues?  I think this is a bug, or API consistency - not sure which label to use

[2020-09-05 15:40] Dr-Irv commented on #28376
Without a clean example, we can't investigate if this is a bug or not.  You would need to provide the dataset.

[2020-09-05 15:40] #28376 closed

[2020-09-05 15:46] Dr-Irv commented on #29699
Works fine with 1.1.1

[2020-09-05 15:47] TomAugspurger commented on #35684
@Rational-IM you're using pandas master? https://github.com/pandas-dev/pandas/pull/35946 will be in 1.2

[2020-09-05 15:54] Dr-Irv commented on #29735
In version 1.1.1, this does not happen.

[2020-09-05 16:02] jbrockmendel commented on #29824
Labelled as API-Consistency.

cc @WillAyd would it make sense to have to_dict re-use the json code?

[2020-09-05 16:20] Rational-IM commented on #35684
@TomAugspurger pardon my lack of knowledge but what it means to "use pandas master"? I'm using pandas 1.1.1

In [5]: pd.__version__
Out[5]: '1.1.1'

[2020-09-05 16:46] MarcoGorelli commented on #35684
It's the master branch from the git repository

[2020-09-05 17:44] Rational-IM commented on #35684
No - I'm using the latest version of pandas that I got from a regular anaconda update. When do you believe pandas 1.2.x will be released? The workaround is actually distorting the scale of some of my charts - therefore I will have to live with the warning until it is fixed.

[2020-09-05 18:04] MarcoGorelli commented on #35684
It'll be released when it's ready (I guess in a few months) - please do not make demands of others' free work :)

[2020-09-05 18:09] simonjayhawkins commented on #35684
#35946 was a relatively small change. maybe could be backported.

[2020-09-05 18:12] mroeschke commented on #36031
I suspect this is a numerical precision issue based on how mean is calculated under the hood (the sums are added and removed across the entire dataset instead of the mean being calculated in isolation from the window slice taken)

[2020-09-05 18:32] Dr-Irv commented on #29699
A PR that creates a test case would be welcomed.

[2020-09-05 18:33] Dr-Irv commented on #29735
A PR that creates a test case would be welcomed.

[2020-09-05 18:33] Dr-Irv commented on #30859
A PR that creates a test case would be welcomed.

[2020-09-05 18:55] Dr-Irv commented on #31002
PR is welcome.  Issue here seems to be twofold:

1. The docs aren't clear that the `method` argument really only makes sense when applied to the index, not the columns, and will only be used on columns where the names match.
2. There is a bug in the case of `bfill` and `nearest` when the column names don't match, because we are returning a result with backfilled values (or raising in the case of `

[2020-09-05 19:02] #32673 closed

[2020-09-05 19:03] #33780 closed

[2020-09-05 19:03] #33823 closed

[2020-09-05 19:03] #34657 closed

[2020-09-05 19:03] #30360 closed

[2020-09-05 19:03] #29361 closed

[2020-09-05 19:04] #29208 closed

[2020-09-05 19:04] #27316 closed

[2020-09-05 19:04] #27344 closed

[2020-09-05 19:05] #19486 closed

[2020-09-05 19:05] #23437 closed

[2020-09-05 19:05] #23624 closed

[2020-09-05 19:05] #17112 closed

[2020-09-05 19:11] Dr-Irv commented on #31298
Definitely a bug - getting different results for applying these 2 functions to numeric versus object columns.

[2020-09-05 19:50] #35684 closed

[2020-09-05 19:57] Dr-Irv commented on #31364
Bug is in `pd.to_numeric`:
[code]
We are using internally `xstrtod` instead of `precise_xstrtod`.

[2020-09-05 20:02] asishm commented on #36124
the main issue seems to be because for IntEnums - `IntColors.red == 1` evaluates to True

which causes two things:
1. without specifying dtype = object, pandas infers the dtype to be integer (lib.infer_dtype)
   that explains
[code]
2. when formatting `colums.format` is called - which calls `lib.maybe_convert_objects(values, safe=1)` which converts to int, presumably again because `IntColors.red =

[2020-09-05 20:05] TomAugspurger commented on #36124
Thanks. I think let's separate the two issues as much as possible. Changing the behavior of Index seems harder since it's potentially API-breaking. Let's focus just on the output formatting here when you get an object-dtype index with these enums.

[2020-09-05 20:41] phofl commented on #34357
No, looks alike, but is different.

#34292 runs into

[code]

The error occurs somewhere in there. Mine runs into the else block.

[2020-09-05 21:18] #35878 closed

[2020-09-05 22:00] phofl commented on #36018
I looked into this and found, that the index names also get lost now:

[code]

while with 1.0.5

[code]

Input was:

[code]

Method which constructs the index is completely new, so there is no single thing which changed

[2020-09-05 22:36] #35614 closed

[2020-09-05 23:05] dsaxton opened #36151 "ENH/API: errors argument for ExtensionArray.astype"
`Series.astype` and `DataFrame.astype` both allow control over whether the original object should be returned on errors in conversion by setting the `errors` argument to either `"ignore"` or `"raise"`. Should `ExtensionArray.astype` also allow this?

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/panda

[2020-09-05 23:13] #36044 closed

[2020-09-05 23:47] jbrockmendel opened #36153 "API: ser[dt64].astype("string") vs ser[dt64]._values.astype("string")"
[code]

It would be nice to have the Series code (i.e. the Block.astype) dispatch to the array code.

Note also:

[code]

[2020-09-06 05:49] dimithras opened #36158 "BUG: indices and get_group raise exception with GroupBy initialized using lambda or named function with tuple values as group names (Multi-dimensional groups)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

**UPD**: bug does not exist anymore in latest master branch, yet still present in 1.1.3 from pip.
Updated version details:

<details>

INSTALLED VERSIONS
------------------
co

[2020-09-06 08:21] nrcjea001 commented on #35869
@TomAugspurger, don't think this was deliberate. If we take the sum and divide by the mean (which is equivalent to the count), we achieve the expected output. However, when using the rolling count function, we do not get the expected output. There has also been some speed improvements to the sum and mean code, while the count is considerably slower (see [here](https://github.com/pandas-dev/pandas/

[2020-09-06 08:26] nrcjea001 commented on #35551
No bug fix here. Rather a suggestion. In situations where the index is not datetime, and we rolling on a datetime column, it would be nice to preserve the index and the date column when performing a rolling groupby.

A workaround is to use a groupby apply with rolling function, but this is considerably slower.

May I suggest that the rolling groupby preserves the actual dataframe index, when rolli

[2020-09-06 10:03] onshek commented on #35240
@jorisvandenbossche Hi, I'm willing to have a try to fix this bug. I want to figure out what is expected result of the example you gave above? And what if the below's:

[code]

[2020-09-06 10:27] Zoynels commented on #35006
Example 1

1. the code to reproduce
[code]
2. the actual outuput

|    |   X2 |   Y2_2 (works as expected: list) | Y2_3 (not works as expected: scalar value instead list)   |
|---:|-----:|---------------------------------:|:----------------------------------------------------------|
|  0 |    1 |                               [1] | 1                                                         |
|  1 |

[2020-09-06 10:29] Zoynels commented on #35006
Example 2:
1. the code to reproduce
[code]

2. the actual outuput

|    |   X2 |   no loc |   with loc1 |   with loc2 |
|---:|-----:|---------:|------------:|------------:|
|  0 |    1 |        [1] |           1 |           1 |
|  1 |    2 |        [2] |           2 |           2 |
|  2 |    3 |        [3] |           3 |           3 |

3.the expected output

|    |   X2 |   no loc |   with loc1 |

[2020-09-06 10:51] TAJD commented on #30859
take

[2020-09-06 12:03] jreback commented on #36158
there is very little support and likely no testing for tuples inside a cell; i am not sure why you would do this but if you want to dig go for it

[2020-09-06 12:04] attack68 commented on #35998
I have published a PR at #36159 which addresses this and uses `cell_context`.

[2020-09-06 12:24] dsaxton commented on #31954
@MarcoGorelli I found that building instead with the command `CFLAGS='-Wno-error=deprecated-declarations' python setup.py build_ext -i` generally fixes things, although I'm not sure if it'll work in this case. There's a thread about these problems here: https://github.com/pandas-dev/pandas/issues/33315

[2020-09-06 12:45] rhshadrach commented on #36018
@mroeschke Looks like this is a regression and so should be tagged 1.1.2, is that right?

[2020-09-06 12:53] avinashpancham commented on #35267
Extending `array_equivalent_object` in _libs/lib.pyx seemed like the best way to solve the issue. What do you think?

[2020-09-06 13:02] alippai commented on #35997
@jreback The PR is ready to review now

[2020-09-06 13:28] MosheVai commented on #29824
maybe add an argument for native types?
something like ```.to_dict(native_types=True)```

[2020-09-06 14:20] B417037 commented on #34384
Can I take up this issue?

[2020-09-06 14:25] rhshadrach opened #36165 "BUG: Adding offset produces NonExistentTimeError"
In #36160, Travis had the following failure:

[code]

Can reproduce with:

    from datetime import datetime
    import pytz
    from pandas.tseries.offsets import MonthBegin

    dt = datetime(1900, 1, 1, 0, 0, tzinfo=pytz.timezone('Iceland'))
    offset = MonthBegin(96)
    dt + offset

which produces the trace:

[code]

Not sure if this is a bug or an invalid input.

[2020-09-06 14:41] bashtage commented on #36096
Does Stata display the other dates in the variable correctly, or is the entire column numeric?

[2020-09-06 15:19] phofl commented on #35646
@mroeschke

I looked a bit into this and have a question about the preferred solution: Is it ok to replace the nan with a unique string/integer before calling ``values = Categorical(self.grouper) `` and changing it back afterwards? Only in case of ``dropna=False```of course.

[2020-09-06 15:30] TAJD commented on #31355
take

[2020-09-06 16:58] #35460 closed

[2020-09-06 17:07] simonjayhawkins commented on #35471
closed in #35979

[2020-09-06 17:07] #35471 closed

[2020-09-06 17:47] #35584 closed

[2020-09-06 17:49] #24980 closed

[2020-09-06 18:28] simonjayhawkins commented on #35819
#31938 cc @jbrockmendel

https://github.com/simonjayhawkins/pandas/runs/1078438609?check_suite_focus=true

4ac1e5ff015430795ca89f01f9a2ed38038f9563 is the first bad commit
commit 4ac1e5ff015430795ca89f01f9a2ed38038f9563
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Thu Feb 13 04:42:54 2020 -0800

    CLN: assorted cleanups (#31938)

[2020-09-06 18:45] simonjayhawkins commented on #31954
I've set up a workflow for bisecting. didn't see that error but added `|| exit 125` to runner script to skip failed builds.

https://github.com/simonjayhawkins/pandas/runs/1078479989?check_suite_focus=true

agrees that #33616 fixed.

[2020-09-06 19:04] notestaff opened #36170 "DOC: index described as a "set" but permits duplicates -- change to multiset or list?"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/indexing.html

#### Documentation problem

Index is described as a "set", but behaves as a multiset: len() counts each occurrent of a duplicate element separately.

Also, Index is described as an "ordered set", but that term connotes a set with an order relation on the _values_ of its elements.

#### Suggest

[2020-09-06 19:17] grantstead commented on #35998
Looked at the code.  Seems great.  Thanks for that!

[2020-09-06 19:31] mroeschke commented on #35646
I don't think that would be an ideal solution.

I think a better solution would just be to refactor the code path to use the logic used for multi group keys since I don't think it's planned to support `Categorical(..., dropna=False)`

[2020-09-06 19:52] simonjayhawkins commented on #36018
#34052

https://github.com/simonjayhawkins/pandas/runs/1078593349?check_suite_focus=true

bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6 is the first bad commit
commit bad52a9d1ef9fe6b27ef44fae99f483d07ad16f6
Author: Matthew Roeschke <emailformattr@gmail.com>
Date:   Mon May 25 10:26:19 2020 -0700

    PERF: Use Indexers to implement groupby rolling (#34052)

[2020-09-06 19:58] hemraj4545 commented on #36165
@rhshadrach It's seems to be an bad input. I tried the code `offset = MonthBegin(n=90)` which works. So, except n=96, it works with all other values.

[2020-09-06 20:45] mroeschke commented on #35596
Yeah this looks like a bug. `axis='columns'` doesn't have much testing and I would expect something similar to

[code]

[2020-09-06 20:51] gbrova commented on #35891
Thanks!  Just opened #36172 to change the docs.  I agree it's best to leave the default as it is for backwards compatibility.

[2020-09-06 20:54] mroeschke commented on #36165
I think the root issue stems from https://github.com/pandas-dev/pandas/issues/28610.

`datetime object + Offset object` does not have any handling whether the resulting timestamp if ambiguous or nonexsitent

[2020-09-06 22:24] asishm commented on #36122
With the proposed fix (indentation) in #35802 `read_excel` will miss extracting the `nd` from the attached file (introduced to the patch #33233

[2020-09-06 23:31] vhawk19 commented on #32301
Is this still open, I'd love to contribute!

[2020-09-07 03:39] kuraga commented on #34676
@TomAugspurger I made them in LibreOffice Writer.

[2020-09-07 03:41] kuraga commented on #34765
@TomAugspurger I made them in LibreOffice Writer.

On the rest: I don't have Pandas' internals knowledge.

[2020-09-07 03:44] kuraga commented on #34766
@TomAugspurger , propose to answer questions after "So,", first of all :smile: Thanks.

[2020-09-07 06:57] jorisvandenbossche commented on #36151
Personally I would keep this ability on the Series/DataFrame level, and not complicate the ExtensionArray interface with it.

[2020-09-07 07:15] miccoli commented on #34642
A brief update. After updating pandas to v1.1.1 the above walk around  fails with SEGFAULT!

[code]
but
[code]

It seems to me that this issue should be labeled as BUG

<details>
<summary>pandas version info</summary>

[code]

</details>

[2020-09-07 07:33] jorisvandenbossche commented on #36153
This already happens in general for extension dtypes:

https://github.com/pandas-dev/pandas/blob/aca77f7b1cc7987a5b757a3f80a278e1f5fc7998/pandas/core/internals/blocks.py#L583-L585

But DatetimeBlock (and probably TimedeltaBlock as well?) is the special case of not being an extension block, so taking a different path.

Now, I suppose that also the different path in theory should handle it correctly

[2020-09-07 08:34] simonjayhawkins commented on #35831
new test failures on 32 bit builds (this test is also failing on nightly on the same builds that were already failing test_datetime64_factorize xref  #35921

[code]

https://dev.azure.com/pandas-dev/pandas-wheels/_build?definitionId=3&_a=summary

[2020-09-07 08:52] simonjayhawkins commented on #35831
release notes are not currently in sync,

- [ ] xref https://github.com/pandas-dev/pandas/pull/35882#issuecomment-687819008
- [ ] xref https://github.com/pandas-dev/pandas/pull/36155#issuecomment-687846461

https://github.com/simonjayhawkins/pandas-release/runs/1080383769?check_suite_focus=true

<details>

[code]

</details>

[2020-09-07 09:21] simonjayhawkins commented on #33913
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:22] simonjayhawkins commented on #35050
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:23] simonjayhawkins commented on #30742
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:24] simonjayhawkins commented on #30790
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:25] simonjayhawkins commented on #32749
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:26] simonjayhawkins commented on #35546
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:27] simonjayhawkins commented on #35429
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:28] simonjayhawkins commented on #35509
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:30] simonjayhawkins commented on #35517
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:30] simonjayhawkins commented on #35518
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:31] simonjayhawkins commented on #35527
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:35] simonjayhawkins commented on #35565
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:36] simonjayhawkins commented on #35563
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:37] simonjayhawkins commented on #35579
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:38] simonjayhawkins commented on #35700
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 09:49] simonjayhawkins commented on #35683
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline and pending further discussion

[2020-09-07 09:49] joseberlines opened #36184 "DOC: Insert "pandas" into json_normalize examples"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html

#### Documentation problem

It seems that in the examples cells the json_normalize is not preceded by pandas. (i.e. pandas dot)
This does not allow to simply copy and paste the examples.

#### Suggested fix for documentation

Just insert " pandas. " preceding the json_normaliz

[2020-09-07 09:59] simonjayhawkins commented on #35843
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 10:00] simonjayhawkins commented on #35897
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 10:01] simonjayhawkins commented on #36003
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 10:04] simonjayhawkins commented on #35830
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 10:14] simonjayhawkins commented on #35858
moved off 1.1.2 milestone (scheduled for this week) as no PRs to fix in the pipeline

[2020-09-07 10:32] simonjayhawkins opened #36186 "RLS: 1.1.3"
[![Tag Release](https://github.com/simonjayhawkins/pandas-release/workflows/Tag%20Release/badge.svg)](https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22)

Tracking issue for the 1.1.3 release.

https://github.com/pandas-dev/pandas/milestone/77

Please do not remove/change milestones from these issues without a note explaining the reasoning (changing milest

[2020-09-07 10:56] roschly commented on #34576
From a UX standpoint the default is less than ideal. The fact that a simple `to_csv`/`read_csv` doesn't produce the same dataframe by default is not intuitive.

`df = pd.DataFrame(columns=["A", "B"], data=[[1, 2], [3, 4]])`
`df.to_csv("tmp.csv")`
`df2 = pd.read_csv("tmp.csv")`

**df:**
  | A | B
-- | -- | --
0 | 1 | 2
1 | 3 | 4

**df2:**
  | Unnamed: 0 | A | B
-- | -- | -- | --
0 | 0 | 1 | 2
1 | 1

[2020-09-07 10:56] jorisvandenbossche commented on #35997
@alippai will take a look tomorrow (will also look into if this is not actually something we should long term solve in pyarrow, but need to better understand the actual first)

[2020-09-07 11:03] simonjayhawkins commented on #35831
open PRs milestoned 1.1.2

https://github.com/pandas-dev/pandas/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.1.2

please comment with issue number here if these should be included (otherwise will release tomorrow and mark PRs as changed requested with move of release note)

[2020-09-07 11:05] alippai commented on #35997
@jorisvandenbossche regarding pyarrow https://github.com/pandas-dev/pandas/issues/35997#issuecomment-684043925 this behavior is the most interesting. With two same / similar timezones and pyarrow serializes the metadata differently. This is something you want to change eventually.

The PR doesn't fix/improve the serialization, but it helps reading back the already written metadata.

[2020-09-07 11:09] guyko81 commented on #16492
I found a great solution [here](https://stackoverflow.com/questions/45149588/change-in-date-from-string-to-datetime-object-when-converting-pandas-dataframe-t)

`df.assign(
        **df.select_dtypes(['datetime']).astype(str).to_dict('list')
    ).to_json(orient="records")`

[2020-09-07 11:16] #35948 closed

[2020-09-07 11:52] YarShev opened #36189 "BUG: Inconsistent behavior of index values for `DataFrame.apply` and `Series.apply`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-07 12:00] Flix6x commented on #35219
Adding the length check ` and len(obj) == len(res_index)` to line 1091 indeed resolves the problem.

I would have actually expected the preceding offset comparison to fail:

[code]

To me, adding the length check remedies a symptom of maintaining this equality. Both `date_range()` and `resample()` treat `pd.offsets.Day(1)` as a calendar day, in which case this equality shouldn't hold.

This issue

[2020-09-07 12:01] satrio-hw commented on #35925
hello, I'm new to this community.. Now I'm working on these files :

- pandas/tests/arrays/categorical/test_replace.py
- pandas/tests/arrays/sparse/test_array.py
- pandas/tests/arrays/test_array.py
- pandas/tests/arrays/test_timedeltas.py
- pandas/tests/base/test_conversion.py
- pandas/tests/dtypes/test_missing.py
- pandas/tests/extension/base/methods.py
- pandas/tests/extension/test_sparse.py
- p

[2020-09-07 12:11] JulianWgs opened #36190 "BUG: Inconsistent conversion of to_datetime"
- [x] I have checked that this issue has not already been reported.
I've looked through all issues regarding `to_datetime`, but I could've missed something.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Two differe

[2020-09-07 12:24] simonjayhawkins commented on #36063
moving off 1.1.2 milestone

[2020-09-07 12:30] jreback commented on #36190
duplicate of #12585

a pull request to patch would be welcome

[2020-09-07 12:30] #36190 closed

[2020-09-07 12:38] rhshadrach commented on #36165
Okay - I found it [here](https://rmets.onlinelibrary.wiley.com/doi/full/10.1002/gdj3.23):

That makes this a duplicate of #28610.

[2020-09-07 12:38] #36165 closed

[2020-09-07 13:04] JulianWgs commented on #36190
Sorry, I missed that. Thank you for the fast response!

[2020-09-07 14:05] simonjayhawkins commented on #35858
first bad commit: [0b0cd08524e4472eb15835c2b91621dc0a6eeeb0] BUG: DatetimeIndex.get_loc/get_value raise InvalidIndexError (#31257) cc @jbrockmendel

https://github.com/simonjayhawkins/pandas/runs/1081704526?check_suite_focus=true

[2020-09-07 14:21] mcepl commented on #34299
Yes, it seems that THIS failed test got somehow fixed in 1.1.1.

[2020-09-07 14:21] #34299 closed

[2020-09-07 14:44] harahu commented on #36031
Sounds plausible. Any way I can contribute to getting this fixed as someone who just knows the public API of Pandas?

[2020-09-07 14:49] simonjayhawkins commented on #35819
closing as duplicate of #35509

[2020-09-07 14:49] #35819 closed

[2020-09-07 14:55] simonjayhawkins commented on #32749
first bad commit: [8c38283cbb9c6a9ba6fa91d6e23e44133f0421d2] CLN: avoid values_from_object in Series (#32426)

[2020-09-07 14:56] jreback commented on #36031
using kahan summation under the hood would fix this (we do this for var already)

PR welcome

[2020-09-07 14:57] simonjayhawkins commented on #36063
Thanks @kokes cc @jbrockmendel

[2020-09-07 15:05] simonjayhawkins commented on #35527
#33714

[2020-09-07 15:18] simonjayhawkins commented on #35830
first bad commit: [9b0ef5d07fb218df4e36e133d69b1ea4c6be43bd] refactor DTI.get_loc (#31023)

https://github.com/simonjayhawkins/pandas/runs/1082023137?check_suite_focus=true

see also #35466

[2020-09-07 15:20] simonjayhawkins commented on #35843
#33400

[2020-09-07 15:25] simonjayhawkins commented on #36003
#31182

[2020-09-07 16:55] TomAugspurger opened #36195 "Proposal for future copy / view semantics in indexing operations"
Update: concrete proposal for Copy-on-Write: https://docs.google.com/document/d/1ZCQ9mx3LBMy-nhwRl33_jgcvWo9IWdEfxDNQ2thyTb0/edit?usp=sharing

---
[_original post_]

Hi all,

During the recent sprint we discussed copy / view semantics in indexing operations. I've tried to summarize *a* proposal that came out of it.

The tldr is

1. Indexing operations always return a view *where possible* (always

[2020-09-07 18:17] jbrockmendel commented on #32878
@jorisvandenbossche when convenient, i'd like to get your thoughts on this, #33469, and #33830

[2020-09-07 18:36] jbrockmendel commented on #36063
Yikes, returning object dtype in the old version is not great.  This is just waiting for someone to implement `IntegerArray.__neg__`

[2020-09-07 18:39] rbu opened #36197 "BUG: DataFrameGroupBy.rolling on an empty DataFrame throws a ValueError"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Since a pandas update, the groupby above started failing in the edge case of an empty DataFram

[2020-09-07 18:53] rsheftel commented on #35917
This code will create the error. I ran it in python 3.8.5 with two virtual environments for pandas 0.25 and pandas 1.1.1

I chose pandas 0.25 because I knew that would cause the problem, I am not saying that it would not happen in other versions. The error only started with pandas 1.1.1, it works fine in pandas 1.0.5

[code]

[2020-09-07 18:53] jorisvandenbossche commented on #36195
cc @pandas-dev/pandas-core

[2020-09-07 18:55] MarcoGorelli commented on #32259
Decision has been to deprecate `is_lexsorted` as a public method - users should use `is_monotonic_increasing`

[2020-09-07 19:05] #35921 closed

[2020-09-07 20:03] incredibleray commented on #35940
fascinating, I can reproduce this on master. (I did python setup.py install on the latest master, not sure if this is the right way)

Like @m-hunsicker said, make the first string longer, or setting raw=False will fix it

@m-hunsicker If you are willing, can you share what are you trying to do when you discovered this bug? Thanks.

[2020-09-07 20:22] jorisvandenbossche commented on #32878
For this issue, can you show a similar example using int?

[2020-09-07 20:34] jbrockmendel commented on #36195
asv from a branch that changes column-based indexing to always return a view:

[code]

Methodological note: i did a full asv run, then for everything that came back as changed re-ran those and changes that were not reproducible (e.g. tslibs benchmarks which have to be noise)

[2020-09-07 20:36] jorisvandenbossche commented on #33469
This API is certainly a mess .. ;)

The proposal is to change the setitem case where it fallbacks to positional to also be strictly label-based?

But so the integer would also be interpreted as label, and thus do enlargement in case it is not yet present?

Using your example series:

[code]

I was first thinking this would be a relatively safe change, since it right now already tries label-based f

[2020-09-07 20:47] #30859 closed

[2020-09-07 20:52] TomAugspurger commented on #35869
Thanks. Are you interested in working on this?

[2020-09-07 20:56] TomAugspurger commented on #36113
Doesn't DataFrame.stack return a Series? Or do I misunderstand?

[2020-09-07 20:58] rbu commented on #36197
The last version where this worked was 1.0.5, i.e. it is broken since 1.1.0rc0.

[2020-09-07 21:06] #36018 closed

[2020-09-07 21:11] #16784 closed

[2020-09-07 21:41] simonjayhawkins commented on #35831
- [ ] broken directive in https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.2.html

[2020-09-07 21:47] jbrockmendel commented on #32878
Welp I was wrong about IntegerBlock avoiding overflows:

[code]

[2020-09-07 22:03] TAJD commented on #29699
take

[2020-09-07 22:06] lmeyerov opened #36204 "BUG: Incorrect parsing of ISO 8601 durations"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Trying [most iso8601 duration formats](https://en.wikipedia.org/wiki/ISO_8601#Durations) fa

[2020-09-07 22:09] jreback commented on #36204
Y M are not valid Timedeltas (as they are not fixed intervals)

they the other might be a bug if they are in fact ISO 8601

pull requests welcome

[2020-09-07 22:19] lmeyerov commented on #36204
This sounds like pandas docs should not say they support ISO durations

![image](https://user-images.githubusercontent.com/4249447/92418665-866f2d00-f11d-11ea-8ce2-ce4842de8618.png)

[2020-09-07 22:20] aelafifi commented on #36197
I'd like to contribute to work on this :)

[2020-09-07 22:24] lmeyerov commented on #36204
Linking: https://github.com/pandas-dev/pandas/issues/29773

[2020-09-07 22:43] dsaxton commented on #36170
Thanks @notestaff, this does seem like an odd description. "Immutable ndarray implementing an ordered, sliceable set.", but it's neither an ndarray, ordered, or a set. A PR to update the docs would be helpful.

[2020-09-07 23:32] rainwoodman commented on #26218
Hi, we were relying on the pre-1.1 behaver to raise an error when the provided list of names mismatched the data, and the exception is no longer caught:

https://travis-ci.org/github/bccp/nbodykit/jobs/725070683#L3274

What about adding a read_csv() argument to strictly enforce the matching between the provided schema and the data -- or is there a canonical way for the caller to check this?

[2020-09-08 00:15] #29884 closed

[2020-09-08 00:30] #36184 closed

[2020-09-08 02:50] nrcjea001 commented on #35869
Very sorry, I do not have the skill set for this. But thanks for offering.

[2020-09-08 03:03] jbrockmendel opened #36210 "API/DEPR: casting bool-indexer to slice in dt64/td64/period"
We use special logic for dt64/td64/period dtypes that makes view/copy behavior different from other dtypes:

[code]

cc @jorisvandenbossche IIRC you advocated not doing this special casing.

[2020-09-08 04:06] jbrockmendel commented on #33469
Do you mean "deprecate ever treating integer as a label for Float64Index"?  Or "deprecate allowing ser[integer] with Float64Index"?  The first seems reasonable.

I'd be OK with "integers are always considered labels" or "integers are always considered positional", so there is no question of fall-back behavior.

[2020-09-08 04:13] codenigma1 commented on #8559
we can avoid the series zero by simply : `series[series!=0] ` or `series[series > 0]`

[2020-09-08 05:41] attack68 commented on #35706
I don't see the problem here:
On latest master the colspan attribute is added where colspan is greater than 1.
Isn't this what you think it should be doing?

[code]

[code]

[2020-09-08 05:46] semnooij commented on #35706
Hi. Thanks for taking the time to look at this bug. The colspan is indeed added but should contain "" around the number as is detailed in the w3schools link. The colspan=2 should be colspan="2".

[2020-09-08 06:08] onshek commented on #36170
I'm willing to take this.

[2020-09-08 07:01] ivanovmg commented on #35790
Closed as the PR #35872 was merged.

[2020-09-08 07:01] #35790 closed

[2020-09-08 07:13] ayappanec commented on #36070
The issue is fixed in setuptools 50.0.1 onwards. Now the pandas build succeeds.

[2020-09-08 07:13] #36070 closed

[2020-09-08 07:18] ivanovmg commented on #36113
From the code on ``stack`` method:

[code]
By default ``level=-1``.
Meanwhile ``pandas.core.reshape.reshape.stack`` returns a Series.

[2020-09-08 07:43] rikardn opened #36211 "BUG: to_json for DataFrame containing Path objects crash with infinite recursion"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

When trying to convert a DataFrame that contains Path objects to json it crashes:

[code]

output

[code]

It might be that Path objects are not supported by to_json, but

[2020-09-08 07:56] Nikhil1O1 commented on #36170
i would be glad to make my first contribution here

[2020-09-08 08:42] dinya commented on #34862
Yes, the warning is clear. But why not to add auto-leveling of columns with different levels? If it can break something (I really don't know what it is) then the ``pd.merge`` behaviour may be optional.

The auto-leveling can be useful if the pandas is used in an automatic data-processing flow when the column levels shapes are not known ahead.

Or does this feature look like "rarely used" and there

[2020-09-08 09:35] shyam-sreenivasan opened #36212 "BUG: df agg() issue when dataframe has a column called 'name'"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-08 09:48] phofl commented on #36212
Hi, thanks for your report.

Looks like the error is in:

[code]

In this case self.name is referencing a Series instead of a hashable type

[2020-09-08 09:51] #36197 closed

[2020-09-08 09:53] shyam-sreenivasan commented on #36212
Yeah thats right. Hope this gets fixed soon. For now, m hacking around this for my development. Thanks a lot.

[2020-09-08 10:09] erfannariman opened #36214 "ENH: add sep argument to DataFrame/Series.explode"
Right now both `DataFrame.explode` and `Series.explode` will unnest a list to rows. But most of the times the origin of the problem is that we have a concatenated string with a seperator. So the solution is to overwrite the column while splitting it to a list and then calling `DataFrame.explode`:
[code]
What would be more convenient is to have a `sep`  argument which then checks if the column dtyp

[2020-09-08 10:09] erfannariman commented on #36214
take

[2020-09-08 10:19] evyasonov commented on #36113
@TomAugspurger
All of my use cases were about multiindex, so .stack() returns a dataframe for my cases.
But I checked the documentation and it returns a Series if it's just one level.
So let's use the logic @ivanovmg  described

[2020-09-08 11:00] jreback commented on #36214
this was discussed in the original method and rejected

-1 on adding

one method doing one thing is much better

[2020-09-08 11:07] paul-lilley commented on #35545
Hi, I may be able to have a look at this at the same time as [https://github.com/pandas-dev/pandas/issues/31243](url).  I'm waiting for a response there first.

[2020-09-08 11:17] TomAugspurger opened #36216 "Refactor StringMethods for extension arrays"
This is an issue to track a refactor of StringMethods that'll be necessary for ArrowStringArray to use pyarrow compute algorithms.

We'll need to update StringMethods

1. Extract the array from the Series / Index
2. Dispatch the string methods
3. Wrap the result

So in my proposal, we'll have something like

[code]

cc @xhochy. I have a branch started and will hopefully finish it off this week.

[2020-09-08 11:29] simonjayhawkins commented on #35831
tagging after merging and backporting #36182 and the following checks

- [ ] MacPython.pandas-wheels building https://github.com/MacPython/pandas-wheels/pull/97
- [ ] release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Manual+Release%22
- [ ] release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.2.html

[2020-09-08 11:51] TomAugspurger commented on #35415
Generally speaking, we're happy to accept PRs for subclassing things as long as they don't affect the typical user's experience. Switching things like `DataFrame` to use `._constructor` is a good example.

Sure. We have a page dedicated to subclassing.

IMO, no. Most users wouldn't ever need it so I wouldn't want it in the signature.

I'm not familiar with the issue.

[2020-09-08 12:17] chipxx opened #36219 "QST:Column deletion"
Hi, how do I delete the first column that is useless? Thanks

![pandas](https://user-images.githubusercontent.com/43586762/92475574-e927fd80-f1dd-11ea-9b76-bbb8a0763839.png)

[2020-09-08 12:32] erfannariman commented on #36214
Was not aware of the discussion in the original method. Thanks for notifying, will close for now.

[2020-09-08 12:32] #36214 closed

[2020-09-08 12:42] ivanovmg commented on #36219
You can try to use method ``to_string``.

[code]

But I am not sure that you will like how it is rendered, since it is suitable for the console output.

[2020-09-08 12:44] tiagohonorato commented on #35925
Working on:

- pandas/tests/io/pytables/test_timezones.py
- pandas/tests/io/test_feather.py
- pandas/tests/io/test_s3.py
- pandas/tests/io/test_sql.py
- pandas/tests/io/test_stata.py
- pandas/tests/plotting/test_frame.py
- pandas/tests/resample/test_datetime_index.py
- pandas/tests/reshape/merge/test_merge_index_as_string.py
- pandas/tests/reshape/test_crosstab.py
- pandas/tests/reshape/test_get_d

[2020-09-08 12:45] TomAugspurger commented on #36219
We recommend StackOverflow for usage questions.

[2020-09-08 12:45] #36219 closed

[2020-09-08 12:55] dwervin commented on #36103
As I initially explained, I am using Pandas 1.0.3.  Maybe that's an issue, but I really think the data and the order of the records with the 'Bad Input' combine to reveal this bug.

I understand the warning, but the expectation is that it should make the entire column an object type which it clearly does not do.  As a result of this warning, I tried to search for the data that triggered this.  Ass

[2020-09-08 13:01] simonjayhawkins commented on #35831
grr... test_groupby_rolling_index_changed added in #36152 not allowing wheels to build cc @jreback fix or skip

[2020-09-08 13:11] attack68 commented on #36103
This isn't a bug.

The warning and the associated documentation explain the issue, but for your info:

CSV files are read, in chunks, by rows not by column, meaning that if you have a lot of columns a default 'chunk' will consist of fewer rows. My example had 2 columns and it read 50,000 rows in a single chunk without issue. You example has 25 columns and obviously chunks it at 32k rows.

You migh

[2020-09-08 13:12] jreback commented on #35831
skip!

[2020-09-08 13:12] jreback commented on #35831
I guess have to revert the backport?

[2020-09-08 13:13] simonjayhawkins commented on #35831
can skip in tests on 32bit or skip in MacPython.

[2020-09-08 13:14] jreback commented on #36103
@dwervin pandas is completely volunteer; if you would like to submit a PR, then reviewers will take a look.

[2020-09-08 13:14] jreback commented on #35831
whatever works

[2020-09-08 13:23] simonjayhawkins commented on #35831
@mroeschke fixed this in #35875 which wasn't backported. so I think test_groupby_rolling_index_changed won't fail nightly. and adding `@pytest.mark.xfail(not compat.IS64, reason="GH-35294")` can be done directly against 1.1.x (that's how the other tests are currently marked on that branch)

also the option of seeing if #35875 will backport

[2020-09-08 13:31] dwervin commented on #36103
@attack68 Thanks for the additional info.  I have changed the read statement to read data in that column as object.

When users run into this mixed type warning, is Pandas supposed to convert the column to object?

[2020-09-08 13:45] #31368 closed

[2020-09-08 13:51] karuppiah7890 commented on #20432
I'm going to give this a shot! 😄

[2020-09-08 13:53] karuppiah7890 commented on #20432
take

[2020-09-08 14:05] simonjayhawkins commented on #29442
moved off 1.1.2 milestone (imminent release) as associated PR #35688 not yet ready.

[2020-09-08 14:08] simonjayhawkins commented on #33666
moved off 1.1.2 milestone (imminent release) as associated PR #36174 not yet ready.

[2020-09-08 14:35] miker985 commented on #36096
The minimum value is well into the future - they all display as numeric.

[2020-09-08 15:01] simonjayhawkins commented on #35831
wheels now building after #36220 https://github.com/MacPython/pandas-wheels/pull/97 (but have merged to 1.1.x since so will need to repeat check)

[2020-09-08 15:04] simonjayhawkins commented on #35831
#36147 is not green. proceeding with second pass of final checks (if #36147 gets sorted in meantime can abort checks)

will be tagging locally after

- [ ] MacPython.pandas-wheels building https://github.com/MacPython/pandas-wheels/pull/97
- [ ] release readiness passing
- [ ] release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.1.2.html
- [ ] ci checks https://github.com/pa

[2020-09-08 15:26] bashtage commented on #36096
Could you check what happens if you have some valid dates and some large values?  Might help decide what return would have the highest fidelity with Stata.

[2020-09-08 15:30] #31364 closed

[2020-09-08 15:50] miker985 commented on #36096
![image](https://user-images.githubusercontent.com/26555712/92498856-fc23d900-f1af-11ea-9dcd-4e14c5392ea2.png)

Setting 1 value to a reasonable date results in it displaying as a formatted date.

[2020-09-08 15:54] bashtage commented on #36096
This suggests a path where out-of-range are left unmodified and in-range are returned as object.  Thinking about the api, it could be a 3-way argument: `date_errors` with choices `"raise"` (default), `"ignore"` (mixed object with datetime and number), `"coerce"` all converted to dates or NaT if out of range, with a standard datetime column.

[2020-09-08 15:58] Dr-Irv commented on #19463
`to_numeric` now uses the high precision by default #36149

[2020-09-08 15:58] #19463 closed

[2020-09-08 16:07] miker985 commented on #36096
How about a fourth argument value that returns regular/slow `datetime.datetime` objects?

[2020-09-08 16:09] bashtage commented on #36096
Do even out-of-range are converted?  the hard part is knowing whether this is correct since Stata seems to refuse to convert these values.

[2020-09-08 16:16] simonjayhawkins commented on #35831
starting the release now.

using process in https://github.com/simonjayhawkins/pandas-release/blob/release-1.1.1/windows.md for this release (so can't reuse sdist built in https://github.com/simonjayhawkins/pandas-release/actions/runs/244783932 this time round.)

[2020-09-08 16:36] miker985 commented on #36096
Testing indicates STATA will not do date operations on these columns e.g., `gen year = year(tiempo_gen)` results in missing values for the unformatted distant future dates.

`"raise"` and `"coerce"` cover the cases where I don't want to investigate the data manually. As near as I can tell `"coerce"` most closely mirrors Stata's behavior.

For the case I want to investigate the data `"ignore"` leav

[2020-09-08 16:54] WillAyd commented on #29824
There might be a creative way to do this, but JSON is going to have a different set of requirements to serialize to than native Python types

[2020-09-08 17:21] dzimmanck commented on #36124
@TomAugspurger,

I think the issue is in the TableFormatter.  The _get_formatter() method re-casts the data as integers if is_integer() evaluates as true before passing to the formatter for display.  This explains why all that work I did to try and MonekeyPatch the integer formatter failed.  It could no longer differentiate integers from Int Enums:

[code]

I don't really think the formatter shoul

[2020-09-08 18:03] fish-face commented on #36060
Unsure if this is the same underlying issue, but it fits the title:

[code]

After performing a `groupby`, a subsequent `groupby` with `dropna=True` will not drop `NaN`s from keys. I have also seen this in the opposite, where a subsequent `groupby` with `dropna=False` *will* drop `NaN`s, but I cannot reproduce this in a small example.

[2020-09-08 18:16] Nikhil1O1 commented on #36170
take

[2020-09-08 18:24] Nikhil1O1 commented on #16870
take

[2020-09-08 18:25] Nikhil1O1 commented on #36170
take

[2020-09-08 18:25] engineerchange opened #36225 "DOC: whatsnew for Pandas release 1.1.2"
#### Location of the documentation

https://github.com/pandas-dev/pandas/releases/tag/v1.1.2

#### Documentation problem

The "what's new" link doesn't appear to function for update 1.1.2.

[2020-09-08 18:31] jbrockmendel opened #36226 "EA: _can_hold_element, _validate_fill_value"
TL;DR: we should add `_validate_fill_value` to the EA interface and define `_can_hold_element` in terms of it.

ATM `ExtensionBlock._can_hold_element` incorrectly always returns True.  This needs to be an EA method that returns True if and only if `self[0] = value` is allowed on a non-empty array.

This method can in turn to defined in terms of a more broadly useful `_validate_fill_value` that we

[2020-09-08 18:33] simonjayhawkins commented on #35831
I'm going to upload docs from locally built this time, but am also building at https://github.com/simonjayhawkins/pandas-release/actions/runs/245044502

I think need to tidy the doc build script to upload the built docs and just do this on actions next time (between push tag and create release)

[2020-09-08 18:47] simonjayhawkins commented on #36225
Thanks @engineerchange the docs are currently being built.

[2020-09-08 18:56] Nikhil1O1 commented on #36170
There's no indexing.html present in my clone... However, I found \pandas\doc\source\reference\indexing.rst but
this is not what we are looking for
Please help me to  pinpoint its location
@notestaff  @dsaxton

[2020-09-08 19:25] jeffliu-LL opened #36227 "BUG: using df.drop(labels=x, level='level_name') does not update df.index.levels"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-08 19:29] simonjayhawkins commented on #36225
doc build completed

[2020-09-08 19:29] #36225 closed

[2020-09-08 19:52] phofl commented on #36189
Hi,

thanks for your report.

This was introduced with 0534b004f5dd9cb38082a2d1e3e121b211a3373b

@charlesdong1991 do you remember, why this was not added for Series too?

[2020-09-08 19:59] simonjayhawkins commented on #35831
docs uploaded and wheels on PyPI

conda build seems to have stalled https://github.com/conda-forge/pandas-feedstock/pull/91

[2020-09-08 20:04] phofl commented on #36227
Hi,

thanks for your report. This is actually explained in https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#defined-levels

[2020-09-08 20:30] jeffliu-LL commented on #36227
Thanks for the quick response, and the linked documentation does explain the behavior.

I would suggest making a note of this in the documentation of [`pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html). Currently, the documentation says "When using a multi-index, labels on different levels can be removed by specifying the level" which is

[2020-09-08 20:50] TomAugspurger commented on #34862
I'm not sure. Perhaps investigate the original issue where the warning was added?

[2020-09-08 20:55] TomAugspurger commented on #35219
That'd be great (including a test).

[2020-09-08 21:10] charlesdong1991 commented on #36189
In this case, index shouldn't change for dataframe, Series behaviour should be correct IMHO which means no suffix.

I think this line should be moved back to `groupby/generic.py`:
https://github.com/pandas-dev/pandas/blob/8c7efd1c2859c807e1326c695e330e7c03dcd392/pandas/core/aggregation.py#L89

I can come up with a small patch for this hopefully on Thursday when I have some free time.

[2020-09-08 21:10] charlesdong1991 commented on #36189
take

[2020-09-08 21:28] phofl commented on #36227
Would you like to contribute a PR?

[2020-09-08 22:10] bashtage commented on #36096
Well, you can always read the data without converting the dates.  What is unclear to me is what sense does it make to convert dates that are outside of the stata spec?

[2020-09-08 22:30] pshMsGsAZL2n07ohWBCAGX9cC commented on #33620
Sure, thanks for taking a look.

**Current Behavior**
[code]
**Desired Behavior (both of these options, in addition to the current behavior)**
[code]

[2020-09-08 22:33] dsaxton commented on #36170
@Nikhil1O1 It looks like the docs you'd want to update are in two places (this description is used for a few different classes): `/pandas/core/indexes/base.py` and `/pandas/core/indexes/numeric.py`

[2020-09-08 22:58] ylin00 commented on #31771
take

[2020-09-08 23:56] #35706 closed

[2020-09-09 00:29] ylin00 commented on #29735
take

[2020-09-09 03:34] Nikhil1O1 commented on #36170
Done, If there's anything else I can do... Do let me know.

[2020-09-09 04:16] onshek commented on #32590
Hi everyone here. I find it a litter strange: `data["datetime"].hist()` can work well for calling `hist_series()` and `hist_series()` dose not check whether the data is numerical. While `data.hist()` calls `hist_frame()` and fails at `data = data._get_numeric_data()` for `data` here has no columns any more and break down in Line415 resulting the final `ValueError`.

[2020-09-09 06:04] YarShev commented on #36189
@charlesdong1991 , thanks a lot!

[2020-09-09 07:08] QuentinN42 commented on #35376
@jbrockmendel can we remove [this lines](https://github.com/pandas-dev/pandas/blob/01f90c187f0eec0e8178371d7c066e600c9e105b/pandas/core/internals/blocks.py#L741) without affecting the results ?
[code]
I have the impression that it allows to increase performance by not testing some cases as explained in the comment that was deleted during this commit :
[code]

[2020-09-09 07:11] dlimpid opened #36241 "BUG: .str.startswith(..., na=False) consistency between categorical and string series (again)"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

`.str.startswith(..., na=False)` and `.str.endswith` should make missing values `False` when the calling series is of type categorical just like it does for string series.

Similar to #22158, but `.str.contains` works here.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

Using conda env with `conda c

[2020-09-09 07:53] jandren commented on #7662
The above pull request was closed due to stalling and never merged. The inconsistency remains, which I just encountered. Used `delimiter` on read_csv and then got errors when I later tried to use to_csv with `delimiter` again.

[2020-09-09 08:41] MattiaMartinelliGeo opened #36243 "Backward fill method: custom method"
<img width="90" alt="Figure_1" src="https://user-images.githubusercontent.com/66080348/92575683-edf5bb80-f288-11ea-8d41-e6e58832e7db.PNG">

Good morning,
I have a Pandas dataframe with several missing values.
What I want to do is to use next valid observation to fill gap like the bfill method.
However, I do not need to simply fill missing value with the same value.
I need to fill them with values

[2020-09-09 08:57] simonjayhawkins commented on #35831
available on conda-forge

[2020-09-09 09:07] #35831 closed

[2020-09-09 10:39] jreback commented on #36243
usage questions should be asked in Stack Overflow

a custom function would be non performing here - u can try interpolating or using .fillna with the new data

[2020-09-09 10:39] #36243 closed

[2020-09-09 10:44] jreback commented on #7662
@jandren happy to take a new PR to deprecate

[2020-09-09 11:20] jandren commented on #7662
Thanks for the opportunity @jreback! My intention was to just give updated feedback and poke the issue as still alive. I have to little knowledge about the pros and cons of `sep` vs `delimiter`, so I will leave it to people familiar with the code base.

[2020-09-09 12:13] Dr-Irv commented on #31498
I'm not sure this makes sense because the `String` dtype that was introduced is the dtype of a *column*.  You're looking to be able to test dtypes *within* a column, which means that we'd have to test the dtypes of individual elements, which would most likely not be performant, because pandas tries to keep a unified dtype for all elements within a column.

[2020-09-09 12:21] Dr-Irv commented on #31763
@glyg I suggest opening up a new issue.

[2020-09-09 12:36] dinya commented on #34862
Ok, investigation is started...

The warning was added in bb9b9c584638329900b4d7f12247091498de781b ([line 200](https://github.com/pandas-dev/pandas/commit/bb9b9c584638329900b4d7f12247091498de781b#diff-e6d27b1c748bfee53e0bdc8621429a51R200)) by @nbonnotte  and @jreback after #9455 and #12219.

See discussion in #12219 starting with [this comment](https://github.com/pandas-dev/pandas/pull/12219#issue

[2020-09-09 12:37] Dr-Irv commented on #31780
Without an example that we can replicate, we can't investigate.

[2020-09-09 12:37] #31780 closed

[2020-09-09 12:38] RicardoHS commented on #31498
Why do you say it would not be performant?

Sorry, I don't know if I can't explain myself well or because of language problems.

I know that pandas always tries to have a dtype for the entire column. But there are times (especially when reading a csv without specifying the type of the column) that pandas assigns the generic dtype 'object' to the column and in that case dealing with the types of ea

[2020-09-09 12:41] Dr-Irv commented on #31498
By "not performant", I mean that we would have to check the dtype of each individual element.

I understand the request - I've labeled it as a possible enhancement that needs discussion by the core team.

You might also want to look at the `convert_dtypes()` method that can convert the dtype of an entire column, which might help with your CSV issue.

[2020-09-09 13:44] jorisvandenbossche commented on #36226
What would be the difference between `_validate_fill_value` and `_can_hold_element`? (or how it is different now for any of our arrays?)

---

Also, before adding it to the EA interface, I think we should discuss for a moment the use case. I think right now `_can_hold_element` is typically used to know if a setitem operation (or another operation like fillna) which *modifies values inplace* will p

[2020-09-09 14:35] Nikhil1O1 commented on #16870
I submitted a pull request with the issue concerned above.
#36238  @jreback @BranYang

[2020-09-09 14:55] ldacey opened #36245 "BUG: pd.json_normalize on a column loses rows that have an empty list for that column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

We lose the first row when we normalize the "sections" field:
[code]

The problem would then impact the section_answers field i

[2020-09-09 15:16] asishm commented on #36241
did some digging into this:
[code]

It seems like `na=True` is not respected only if it is a Categorical dtype and for entries that are NA (np.nan, pd.NA, None)

[2020-09-09 15:23] glyg opened #36247 "[BUG] loc does not preserve datatype with a single element"
Opening a new issue as per @Dr-Irv suggestion on #31763
Sorry issue formatting got lost

[code]

As a test:

[code]

This is with pandas 1.0.3 but was already the case in  0.24.1, it seems that what changed was the behavior of a `replace` method downstream in my code.
_Originally posted by @glyg in https://github.com/pandas-dev/pandas/issues/31763#issuecomment-586213659_

[2020-09-09 15:27] phofl commented on #36245
Hi,

thanks for your report. I produced this error on master.

Could you please provide a minmal example? Your example has a lot of data, which do not seem relevant to the actual problem.
(see http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2020-09-09 15:29] phofl commented on #36247
Hi, could you please provide your expected output?

[2020-09-09 15:29] glyg commented on #36247
Hi, I'm editing the issue for clarity, sorry :D

[2020-09-09 15:46] glyg commented on #36247
Sorry the issue formatting got shunt by the quote mechanism. I think it's a pure pandas problem, so the full version info might not be necessary

[2020-09-09 16:13] ldacey commented on #36245
Hi @phofl - I updated my example to something simpler.

Hopefully it is still clear that my list of dict columns can contain lists of dicts as well, so as I expand each one into rows (if required), the problem would impact any rows with an empty list. I think ideally we could at least keep the rows and meta columns.

[2020-09-09 16:20] MarcoGorelli commented on #36211
Can confirm this reproduces on master, thanks @rikardn for the report

[2020-09-09 16:25] liudengfeng opened #36248 "BUG:Inconsistent when use Series.get"
- [ ] I have checked that this issue has not already been reported.

- [ + ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-09-09 17:54] jbrockmendel commented on #36226
_can_hold_element would be accessed from Block, so would need to be part of the official interface.  validate_fill_value is more a pattern that would be useful to provide default implementations for other methods which include can_hold_element

[2020-09-09 17:59] notestaff opened #36251 "DOC: slicing with labels when index has duplicate labels"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#slicing-ranges

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

Documentation doesn't specify what happens when you slice an index that has duplicates.  Does it denote the range from the first occurre

[2020-09-09 17:59] jbrockmendel commented on #36226
I also like the dont-silently-copy/cast behavior, but right now we are getting it because of a _can_hold_element implementation that is just wrong.  Moreover we are getting it inconsistently.

If you wanted to write an EA to get the raise-instead-of-cast Series behavior you could do:

[code]

[2020-09-09 18:07] TomAugspurger commented on #20007
A similar issue affects things implemented on align (https://github.com/pandas-dev/pandas/issues/31874)

[2020-09-09 18:12] gabrielecalvo opened #36252 "BUG: timeseries plot x-axis starts way off when one column is all NaNs"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample
[code]

#### Problem description

The x-axis (time axis) start in before 2000 where it really should start at 2020-01-01

![image](https://user-images.githubu

[2020-09-09 18:14] tiagohonorato commented on #36245
A workaround for this issue would be to insert an empty dict inside the list:

[code]

[2020-09-09 18:51] simonjayhawkins commented on #35869
first bad commit: [6875a050d13f811b34c0064837bb781aca1cffcb] BUG: RollingGroupby with closed and column selection no longer raises ValueError (#35639)

https://github.com/simonjayhawkins/pandas/runs/1092697367?check_suite_focus=true

[2020-09-09 19:06] wenjunsun opened #36253 "New feature/enhancement: it would be cool if read_csv() function can read n random lines from a csv file."
#### Problem:

I am using Pandas for reading in data to do machine learning tasks. And one problem I encounter is that the data I have is usually very very big. For example one data set I have is about 16 GB big, and my RAM is only 12 GB. So instead of reading all the lines from this data, I know I can read in the first million rows from my data, and do machine learning on that. But what I really

[2020-09-09 19:24] simonjayhawkins commented on #35920
in https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.plot.line.html

and in https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.plot.scatter.html

[2020-09-09 19:26] jbrockmendel commented on #35376
The line before the ones you quoted is `if not self._can_hold_element(to_replace):`, so we should only get here if the array doesn't contain to_replace.  If we are getting here with the example from the OP, that suggests a problem in `_can_hold_element`

[2020-09-09 19:37] simonjayhawkins commented on #35922
@AlexKirko i'm getting the expected output on master.

[code]

did #35604 fix this?

[2020-09-09 20:10] simonjayhawkins commented on #34506
on master
[code]

[2020-09-09 20:19] simonjayhawkins commented on #36189
to clarify, the DataFrame index is incorrect and should be the same as 1.0.5 and should be labelled as a regression?

[2020-09-09 20:24] alonme commented on #34506
Hey @simonjayhawkins,

I already added a test for this issue with an XFAIL, it seems that the XFAIL was removed when this was fixed.

https://github.com/pandas-dev/pandas/commit/7d0ee96f9aedbbcd50781e1b8536f1914ecae984

Do you think more tests are needed?

[2020-09-09 20:31] simonjayhawkins commented on #34506
There seemed to be reluctance to close this issue in #34913 without a test. https://github.com/pandas-dev/pandas/pull/34913#issuecomment-647635449 @jbrockmendel ?

[2020-09-09 20:36] charlesdong1991 commented on #36189
yeah, thanks @simonjayhawkins should be labelled as a regression!

[2020-09-09 20:39] sergeisantoyo opened #36256 "Disable read_pickle() function to avoid having security vulnerabilities."
Pandas is a requirement for MLflow, which we are trying to deploy in production. However, our security scan is showing us that pandas has a security vulnerability (CVE-2020-13091) and this vulnerability is preventing us from using MLflow in production, due to compliance issues.

It would be great if you could launch an alternative version of pandas, without the read_pickle method. This would be re

[2020-09-09 20:40] #36103 closed

[2020-09-09 20:52] phofl commented on #36248
Hi,

thanks for your report. This stopped working with release 1.0 as described in https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-deprecate-loc-reindex-listlike. This is more or less translated into animals.loc[[1,-1,2]].

But we could maybe clarify the documentation here.

[2020-09-09 21:02] phofl opened #36257 "BUG: Series.get() does not return default value in case one of slice(n,m) is not found"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-09 21:18] phofl opened #36258 "DOC: Deprecation Warnings in user guide"
#### Location of the documentation

https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-deprecate-loc-reindex-listlike

#### Documentation problem

We have a lot of warnings in the documentation ``Starting with 0.x the following is deprecated.`` Most of these things stopped working with 1.0. Should we update the docs and say, that this stopped working with 1.0?

[2020-09-09 22:25] #36170 closed

[2020-09-09 22:25] phofl commented on #36247
The resulting Series of  ```print(not_preserved.loc[0, ['A', 'B', 'C']].dtypes)`` is converted to a compatible dtype for all columns. There is no attempt to cast it back, when only a subset of columns is selected. You can not keep the dtype for all columns, if they are mixed like int, float and object, so I think this is intended?

[2020-09-09 22:30] jbrockmendel commented on #36256
Could you disable pickle at a lower level?

[2020-09-09 22:34] jbrockmendel commented on #36253
`pd.read_csv` is overly-complicated as it is, so we are reluctant to add new keywords.  I think you're better off doing this kind of random row selection before passsing your data to pandas.

[2020-09-09 23:04] abhinavgaur commented on #30610
So, only places where I need to make change in my past codes is

- `from datetime import datetime` and

- replace `pd.datetime` with `datetime `?

[2020-09-09 23:26] rhshadrach commented on #36253
read_csv has the skiprows argument, does that satisfy your purpose? See an example here:

https://stackoverflow.com/questions/22258491/read-a-small-random-sample-from-a-big-csv-file-into-a-python-data-frame

[2020-09-10 00:07] wenjunsun commented on #36253
Yeah I think it is better to write my own function and method to get random lines, rather than adding it to read_csv function. Thanks for helping.

[2020-09-10 00:07] #36253 closed

[2020-09-10 00:10] joshua-reynolds commented on #33186
I'm also encountering this bug. Anyways around this? I really need to access the tables in this H5

[2020-09-10 00:19] jreback commented on #33186
best to read it in an older environment and write it out as a pickle or other formats

with a reproducible example this might be able to be patched but would need to be completely created from code

[2020-09-10 00:36] jreback commented on #36256
this is a nonstarter

if you want to disable pickle that's up to you but pandas is general purpose

-1 on any change

[2020-09-10 00:38] jreback commented on #36258
if they are now completely working then the docs can simply be updated (eg in the case u pointed it's now an exception)

[2020-09-10 00:45] jreback commented on #36251
best would be A pull request with updated examples / prose

[2020-09-10 02:57] Akashkambale-Creater commented on #36248
Hi,

Python read the data line by line, in the second animal data-frame that particular (-1) index is not present that's why it's not returning any value.

You can try

# Your code here
import pandas as pd
animals = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama'],index=[-1,0,1,2,3])
print(animals.get([1,-1,2]))

animals = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama'])
print(animals.get([

[2020-09-10 03:41] eromoe opened #36262 "resample('D').agg(new_col_name=('col_name', func) )"
Normal agg support:

[code]

![image](https://user-images.githubusercontent.com/3938751/92679253-7a23e380-f35a-11ea-978e-46bacebcfb1f.png)

But resample().agg doesn't :

[code]
got
[code]

[2020-09-10 03:48] machow commented on #35484
@jbrockmendel sure! I have the changes running in locally and passing tests in the pandas docker image. I'm noticing that the tests cover either queries with parameters or using `%` as an operator.

I'll try adding two new kinds of tests:

* queries with `%%`
* queries with a combination of parameters and `%` as operator. (should fail before and after my changes?).

Will add tests and open a PR to

[2020-09-10 04:47] xuancong84 opened #36263 "pd.concat() crashes if dataframe contains duplicate indices but not df.join()"
I just found out that when we concatenate two dataframes horizontally, if one dataframe has duplicate indices, pd.concat() will crash, but df.join() will not crash. Instead, df.join() will spread the values into all rows with the same index value. Is this behavior by design?  Thanks!

[code]
<img width="165" alt="image" src="https://user-images.githubusercontent.com/10172392/92682234-6e3c1f80-f362

[2020-09-10 06:13] raajtilaksarma commented on #14553
I think this is an useful functionality however out of scope it seems as it is intuitive to have such a common feature while adding rows to a table.

[2020-09-10 06:14] glyg commented on #36247
Ok, so the idea is that the row term of the `loc` is applied first, and then the second - selecting the A, B, C columns from the resulting series? I had it in reverse, first getting A, B and C, which are `int64` columns and then returning the first row as a `Series` -- Feel free to close the issue, I guess this is enough that it's there if someone have the same (admittedly corner case) problem.

[2020-09-10 08:12] talegari commented on #35403
Tom,

Thanks for picking this up.

I started with writing [dplyr like operations](https://github.com/talegari/tidypandas/blob/master/utils.py) on pandas dataframes with the primary intent of letting the user not worry about the indexes (see `is_tidy_frame`). For example, `mutate` will work on both grouped and ungrouped dataframes via the right accessor.

Having the groupby accessor will avoid two

[2020-09-10 08:25] jorisvandenbossche commented on #35891
So the code where `chunksize` is handled for `to_sql` is here:

https://github.com/pandas-dev/pandas/blob/6aa311db41896f9fcdc07e6610be8dd7117a5f27/pandas/io/sql.py#L797-L831

From that code snippet, it doesn't appear that `chunksize` is handled differently depending on `method`. So I *think* the docstring is correct.

But it might certainly be that the *effect* of the `chunksize` keyword depends o

[2020-09-10 08:26] MarcoGorelli commented on #36256
Just out of interest, do you also need Python to disable its standard-library pickle module in order for your security scan to pass?

[2020-09-10 09:55] xhochy opened #36265 "Disabling ORC Support in pyarrow conda packages"
I'm fed up dealing with the build issues from the ORC C++ conda package and consider just disabling the support of it in the `pyarrow` conda package.

Main discussion should/can happen in the dask issue tracker as they seem to have the largest user base of this feature: https://github.com/dask/dask/issues/6615 There I also posted what needs to be done.

This issue is just a FYI, feel free to close

[2020-09-10 10:00] jreback commented on #36247
this is a duplicate issue - there are several discussions about this

if mixing float / int we can't easily do much about this as numpy upcasts

add in an object column for example and a row selection will upcast to the compatible (which would be object)

so actually we could change this by returning an object dtype Series if any mixed types - there is a perf concern here though - would have to ch

[2020-09-10 11:22] TomAugspurger commented on #36247
Agreed that we have other issues about this.

[2020-09-10 11:22] #36247 closed

[2020-09-10 11:25] TomAugspurger commented on #36256
@sergeisantoyo you can let you're security team know that the CVE is disputed. The author apparently tried to retract it but I don't know the status: https://github.com/0FuzzingQ/vuln/issues/4

[2020-09-10 11:25] #36256 closed

[2020-09-10 13:06] jorisvandenbossche commented on #35997
@dsaxton that's actually because of the commit you linked to (https://github.com/pandas-dev/pandas/pull/31652). If you pass `coerce_timestamps=None` to get pyarrow's default, you get the same error with pandas 1.0 as with 1.1.

So it seems this bug is already present some time. Also with pyarrow 0.17 I get a similar error for roundtripping a pandas dataframe to pyarrow table with tz-aware index.

[2020-09-10 13:34] simonjayhawkins commented on #34832
[code]

@justinessert #34875 fixed this and added tests. This issue can be closed?

[2020-09-10 13:34] #34832 closed

[2020-09-10 14:01] jorisvandenbossche commented on #35997
So the reason is that for normal columns pyarrow first converted the string "+01:00" to a python timezone with an internal utility (`pa.lib.string_to_tzinfo`), and for index columns we didn't do this. Fixing this on the pyarrow side with https://github.com/apache/arrow/pull/8162

I think we should still recognize `datetime.timezone.utc` as "UTC" as well (regardless of that, the above fix is needed

[2020-09-10 14:16] jreback commented on #34862
@dinya I think the warning is fine, meaning *some* people really want to do this, but I am open to deprecating this and simply prohibiting merging on different number of levels as the results are unexpected.

[2020-09-10 14:43] ivanovmg opened #36267 "ENH: short caption for LaTeX tables"
#### Is your feature request related to a problem?

``DataFrame.to_latex()`` does not allow one to specify short caption.
Short caption is useful for the creation of neat-looking list of tables, where the caption is short, fitting into one line.

#### Describe the solution you'd like

Either add kwarg ``short_caption`` to ``to_latex`` method.
Alternatively expand the meaning of kwarg ``caption``,

[2020-09-10 15:44] runsun opened #36268 "BUG: DataFrame.sort_values(by, ascending): by CANNOT recognize a tuple, yet ascending can."
This behavior looks like a bug to me.

Inconsistent behaviors of the argument for **DataFrame.sort_values**( )

The first argument takes list, but fail to take tuple .

These worked:

[code]
These failed:

[code]
Error:
[code]

[2020-09-10 16:48] MarcoGorelli commented on #36268
Hi @runsun - what version of pandas are you using? Currently, DataFrame doesn't have a `sort` method

[2020-09-10 17:10] runsun commented on #36268
From my pip list, it says :

pandas          1.1.2

[2020-09-10 17:14] markxwang commented on #19729
Encountered the same problem. `pd.to_numeric` with `downcast` to `float` is altering the original number.

[2020-09-10 17:47] gbrova commented on #35891
Thanks for looking into this!

If I understand correctly from this snippet, the `exec_insert` function is called `chunks` times on line 831. `exec_insert` by default is `self._execute_insert` (line 801), but changes to `self._execute_insert_multi` iff `method` is set (line 803).

So if `method` is not set, we call `self._execute_insert` (not its `_multi` cousin) in chunks, but our chunking is irre

[2020-09-10 18:06] ivanovmg commented on #36268
I tried to solve it, but it seems that tuple for ``by`` kwarg is reserved for sorting via multilevel column names, which comprise tuples.

[2020-09-10 18:07] tbachlechner opened #36271 "BUG: since pandas==1.1.0 pd.read_json() fails for strings that look similar to fsspec_url"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

output:
[code]

#### Problem description

The method `pd.read_json()` is widely used and accepts either a path or a jso

[2020-09-10 18:13] runsun commented on #36268
Thx for the quick response. I imagined there must be some design reserve for not allowing tuple here. It seems correct.

[2020-09-10 18:13] #36268 closed

[2020-09-10 20:55] machow commented on #35871
Hey! I added a test for this regression marked xfail in the above PR, which addresses a somewhat related issue. AFAIK it's not simple to support both `%` and `%%` representing the same thing in SQL queries without params. The PR has a table with the kinds of queries supported in it, v1.05, v1.1 :).

(RE @TomAugspurger 's question--not sure the impact on current code, but seems like v1.1's behavior

[2020-09-10 22:23] wumpus opened #36279 "QST: Python 3.9 testing in CI"
I use Travis CI to test, and I've tested all of my projects against the upcoming python 3.9 release. The only problem I'm seeing is dependent packages is pandas.

Pandas + 3.9 takes a long time to build and then dies with a compiler error. It also does this when I install cython first, which is the usual workaround when a new version of Python is close to release. Is some not-yet-mainstream cython

[2020-09-11 01:11] #32432 closed

[2020-09-11 01:15] jbrockmendel commented on #25375
This is fixed on master, likely in one of the recent PRs improving DataFrame._reduce.

[2020-09-11 01:23] jbrockmendel commented on #36279
@WillAyd is cython3 the blocker here?

[2020-09-11 02:44] wumpus opened #36281 "QST: Appending to pandas DataFrames"
Like a lot of people, I wrote some code that attempted to call `DataFrame.append()` a few million times, and it was slow. So I read the pandas docs ("don't do that, use `pd.concat()`") and StackOverflow (blah blah blah Ginger) and decided that if I was going to write a function that made chunks of dataframe and then concatenated them, the least I could do would be to make it general purpose, and a

[2020-09-11 03:05] rhshadrach commented on #16598
@TomAugspurger Is this still useful to have open?

[2020-09-11 03:31] rhshadrach commented on #21331
@h-vetinari Many groupby ops require _not_ sorting the data, e.g. `df.groupby(...).head()`. While a bit more onus is put on the user, it seems to me that's where the control should lie. Internally, groupby does use integer codes and not dictionary lookups.

I don't see any other ideas here for optimization, so closing this issue.

[2020-09-11 03:31] #21331 closed

[2020-09-11 05:41] mroeschke commented on #34226
Sorry for the long delay @yohplala

In version 1.1.0. A `FixedFowardWindowIndexer` was added which would solve your use case for fixed windows. https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.api.indexers.FixedForwardWindowIndexer.html

I suppose we could also add a `VariableForwardWindowIndexer` which would address your particular example.

[2020-09-11 06:07] #34226 closed

[2020-09-11 06:17] yohplala commented on #34047
Hi Tom,
Thanks for the updated.
I am sorry I am very busy on other topics with higher priority for me.
Have a good day,
Bests

[2020-09-11 08:47] danielhrisca opened #36285 "QST: why do we compute hash here"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

In pandas.core.indexes.base ``hash`` is called [here](https://github.com/pandas-dev/pandas/blob/a09259b5699b0f2667761356cb3b22ef43ef37f0/pand

[2020-09-11 09:35] AlexeyGy opened #36286 "ENH: allow sort_values to use the natural sort order"
#### Is your feature request related to a problem?

The [natural sort order](https://en.wikipedia.org/wiki/Natural_sort_order#:~:text=Natural%20sort%20order%20is%20an,machine%2Doriented%20pure%20alphabetical%20order) is a common use case when working with real-world data. For example, consider the following DataFrame of clinical data where the body temperature of patients was measured:

[code]
wil

[2020-09-11 10:11] prhbrt opened #36288 "ERR: Report key on (unsupported) indexing errors"
I would suggest to that indexing errors also state what they received, e.g. change [this](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexing.py#L705) to:

            except ValueError as err:
                raise ValueError(
                    "Location based indexing can only have "
                    f"[{self._valid_types}] types, but got: {key}"
                ) from err

[2020-09-11 11:21] jreback commented on #36286
you can probably use the key= option here (happy to take a PR to show this in the docs)

-1 on adding any api

[2020-09-11 12:06] jreback commented on #36285
so we get the right kind of error on unhashables. simpler to do it here than directly in the indexing code.
[code]

[2020-09-11 12:06] #36285 closed

[2020-09-11 12:15] danielhrisca commented on #36285
Thank you for the details!

[2020-09-11 12:55] ldacey commented on #36245
@tiagohonorato

Nice - I think that works.

I ran into another issue related to meta columns if the column contains list-types. Converting these to strings seems to have done the trick though.

1. Make sure none of my meta columns are lists (convert to strings if they contain [])
2. Fill the field I am normalizing with the string "[{}]", and then use literal_eval on it to convert it into a list
3.

[2020-09-11 13:01] MarcoGorelli commented on #35917
Thanks for the reproducible example. I just tried this on master and it seems to work
[code]
so maybe it's been fixed, will do a git bisect later

[2020-09-11 13:03] #35965 closed

[2020-09-11 14:55] phofl commented on #21629
Closing as duplicate of #13475, was fixed with that pr

[2020-09-11 14:55] #21629 closed

[2020-09-11 15:15] phofl opened #36289 "BUG: Index.union() drops Index component for duplicate Index elements not sorted"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-11 15:33] mdering opened #36291 "BUG: pandas series creation fails with OverflowError when given large integers"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Hi pandas, when creating a new series with very large integers, series creation fails. This is

[2020-09-11 15:52] arw2019 commented on #36291
Confirming that this happens on 1.2 master
<details><summary><b>Output of pd.show_versions()</b></summary>
INSTALLED VERSIONS
------------------
commit           : 03c704087ec02ce2f889ac0037b5082924df7fca
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-47-generic
Version          : #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020
machine

[2020-09-11 16:47] #16870 closed

[2020-09-11 16:56] WillAyd commented on #36279
I think the problem is we import PyUnicode_GET_SIZE in writers.pyx which is deprecated. Might be able to swap out with PyUnicode_GET_LENGTH assuming that is available in Cython

https://docs.python.org/3/c-api/unicode.html#c.PyUnicode_GET_SIZE

[2020-09-11 16:58] WillAyd commented on #36279
@wumpus if you'd like to try I think you just need to update this and any occurrence within the module

https://github.com/pandas-dev/pandas/blob/ddf2f05e25ca94794e295cf173e3fbc351581a78/pandas/_libs/writers.pyx#L5

[2020-09-11 17:37] galipremsagar opened #36293 "BUG: `DataFrame.drop` fails when there is a multiIndex without any level provided"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I'd expected `drop` to drop all the rows with `cow` as an index.

#### Expected Output

[code

[2020-09-11 17:40] #23803 closed

[2020-09-11 17:41] jbrockmendel commented on #35299
could "winsorize" be the appropriate keyword/name?

[2020-09-11 17:51] wfvining commented on #36040
Seeing what I think is the same problem with the following example.

[code]

I expect to see
[code]

But instead I get
[code]

If `center` or `min_periods` are not specified then I get the expected behavior.

[2020-09-11 17:52] cjlynch278 commented on #35925
Working On:
 pandas/tests/series/methods/test_interpolate.py
 pandas/tests/series/methods/test_unstack.py
 pandas/tests/series/test_cumulative.py
 pandas/tests/test_algos.py

[2020-09-11 17:59] wumpus commented on #36279
I made that one change, and (no surprise) there are other calls to the "legacy" Unicode interface beyond that first one.

The deprecation plan is [PEP 623](https://www.python.org/dev/peps/pep-0623/) and py3.9 has the first deprecations.

I'm confused, though, why this isn't already fixed in pandas -- is `-Wall` turned off the the pandas CI build under py3.9?

[2020-09-11 18:02] WillAyd commented on #36279
We have the warnings turned on but they must not be throwing a deprecation warning until 3.9.

Can you post the full error list?

[2020-09-11 18:10] wumpus commented on #36279
Well, with just the one change to change GET_SIZE to GET_LENGTH (https://travis-ci.com/github/wumpus/pandas-appender/jobs/384012415) this is the next error:

[code]

[PEP 623](https://www.python.org/dev/peps/pep-0623/) appears to have a complete list of what was deprecated in py3.9. And yes, they were first deprecated in 3.9.

[2020-09-11 18:22] WillKoehrsen commented on #25375
@jbrockmendel Thanks for the update. If this is fixed, I'll close out the issue. The solution seems to be upgrade to at least `pandas==1.0.0`

[2020-09-11 18:22] #25375 closed

[2020-09-11 18:26] koopmatt opened #36294 "BUG:unexpected behavior of pandas 1.1.1 dt.normalize() on pre-epoch dates"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I would expect pre-epoch behavior to be the same as post-epoch

#### Expected Output
[code]

[2020-09-11 19:45] jbrockmendel commented on #34506
I'm fine with closing this

[2020-09-11 20:08] dsaxton commented on #36289
Agreed this seems like a bug @phofl. This may be a duplicate of https://github.com/pandas-dev/pandas/issues/31326.

[2020-09-11 20:10] darshan-gandhi commented on #35989
Hi, can I take up this issue and work on it? Thank you.

[2020-09-11 20:11] cjlynch278 commented on #35925
Working on:
 pandas/tests/series/methods/test_interpolate.py
 pandas/tests/series/methods/test_unstack.py
 pandas/tests/series/test_cumulative.py
 pandas/tests/test_algos.py

[2020-09-11 20:13] phofl commented on #36289
Similar but not a duplicate. If the indexes both have the same elements it crashes at a different place than the other example.

[2020-09-11 21:04] dsaxton commented on #36288
Could also display `type(k)` instead since the error message is about types, PR to improve the error message would be helpful

[2020-09-11 21:21] dsaxton commented on #36294
6010141a83234652a9a676df38d8d13f183bad2b is the first bad commit
commit 6010141a83234652a9a676df38d8d13f183bad2b
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue Jun 9 10:59:26 2020 -0700

    PERF: normalize_i8_timestamps (#34672)

 pandas/_libs/tslibs/conversion.pyx | 35 +++++++++++++++--------------------
 1 file changed, 15 insertions(+), 20 deletions(-)

cc @jbrockmendel

[2020-09-11 21:33] #36258 closed

[2020-09-11 21:37] jreback opened #36296 "BLD/CI: 3.9 support"
- [x] CI for the 3.9 build is from source, we should update this to use numpy wheels (just became available IIUC) #36323
- [ ] pass tests & update whatsnew for 3.9 build so we can include in 1.1.3

cc @pandas-dev/pandas-core

[2020-09-11 22:30] jbrockmendel commented on #36294
Speculation: looks like in _normalize_i8_stamp we use `%` without specifying `@cython.cdivision(False)`, as a result of which we are getting c semantics for floordiv which round towards zero instead of down.

[2020-09-11 22:45] WillAyd commented on #36279
Strange - I made the edits above and it seemed to get rid of those warnings. I'll push up a PR soon

[2020-09-11 23:39] wumpus commented on #36279
Well, I'm getting them with cython-0.29.21 (the current release), and the symbols aren't in pandas, they're inserted by cython.

[2020-09-12 00:05] phofl commented on #36293
Hi,

thanks for your report. You have to specify a level, when dropping parts of a Multiindex or give a list of tuples (lenght of tuples must match number of levels in MultiIndex).

We could improve the error reporting here.

[2020-09-12 02:01] phofl commented on #33692
@TomAugspurger

I looked a bit into it. The error is in here:

``fast_unique_multiple`` in https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx

Gets a datetime.date and a Timestamp as input. Are they supposed toy be equal?

[2020-09-12 02:41] phofl commented on #24685
In #11082 this was declared a bug. Should we close this issue or has that changed?

[2020-09-12 03:29] rhshadrach opened #36302 "BUG: DataFrameGroupBy.__getitem__ should warn on tuple of length 1"
Currently warnings are only emitted when the length of a tuple is greater than 1. From [this comment](https://github.com/pandas-dev/pandas/pull/30546#discussion_r362300459) in PR where the deprecation was implemented, there was some confusion as to the behavior of `df.groupby('a')['b']` vs `df.groupby('a')[('b', )]`. The former is the SeriesGroupBy that the comment refers to where `key` is a strin

[2020-09-12 03:42] jbrockmendel commented on #35342
The issue here is in core.arrays.datetimes.generate_range in the lines

[code]

"2020-05-12 13:00" is getting rolled back to "2020-05-01 13:00"

[2020-09-12 03:54] rhshadrach commented on #36302
I didn't notice that in the whatsnew of PR #30546 there are the lines:

[code]

This makes me think that perhaps it wasn't due to any confusion. However, I don't see any mention of tuples of length one in the original issue #23556 and allowing only tuples of length one seems odd to me.

@jorisvandenbossche Any thoughts?

[2020-09-12 04:10] wumpus commented on #36279
Looks like your PR built in Travis with cython-3, which is what @jbrockmendel asked you up top. With that clue, now I can try it for myself.

[2020-09-12 04:55] wumpus commented on #36279
... and that seems to have worked for my code to pass its tests. So I didn't run the pandas tests and my code doesn't use any Unicode, but indeed changing PyUnicode_GET_SIZE to _LENGTH and using Cython==3.0a6 seems to be a winning combination.

[2020-09-12 08:56] kamahmad commented on #36293
@MarcoGorelli @phofl Can I please work on this issue? Will changing the exception message fix this issue?

[2020-09-12 09:06] leonarduschen commented on #36293
@phofl I just did some digging and it looks like the issue is not just an error message, but rather the behavior when there is an index duplicate (notice `cow` is a duplicate). When there is no duplicate, dropping without specifying level works just fine. For example:

[code]

yields

[code]

Is this really the intended behavior?

[2020-09-12 09:20] phofl commented on #36293
Interesting, thanks very much. Don‘t knoww what the intended behavior is then

[2020-09-12 11:05] phofl commented on #36293
Looked into it again:

We use https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.isin.html when the index is not unique. Isin can not handle strings as input, because it creates a MultiIndex from the given inputs.

When the index is unique, we use drop, which can handle strings as input.

Part starts here:
https://github.com/pandas-dev/pandas/blob/2067d7e306ae720d455f356e4da21

[2020-09-12 13:37] rhshadrach opened #36306 "BUG: DataFrameGroupBy.apply with as_index False column name"
Example:

[code]

results in

[code]

If we were to use `pandas.core.common.get_callable_name`, then we would be able to have the column name be "len" in this case, and presumably others.

[2020-09-12 13:47] persep commented on #17476
Thanks your answer is better than the ones in Stack Overflow could you add when you want to propagate to the initial dataframe or give an indication of how it is done?

[2020-09-12 13:59] hweecat opened #36307 "TYPING: `df.columns.levels` raises mypy error on MultiIndex for columns"
Observed in PR #36305

When adding check on inferred type for each level in MultiIndex for columns, error message pops up in CI (Typing validation with mypy):

`pandas/io/parquet.py:59: error: "Index" has no attribute "levels"; maybe "nlevels"?  [attr-defined]`

I understand that single-level Indexes do not have the "levels" attribute while MultiIndexes have the "levels" attribute. It seems that m

[2020-09-12 14:49] ezebunandu commented on #35989
take

[2020-09-12 15:00] rhshadrach opened #36308 "BUG: DataFrameGroupBy.transform with axis=1 fails"
The following seems to happen on all transform groupby kernels:

[code]

results in `ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements`.

I think the issue is in `pandas.core.groupby.generic._wrap_transformed_output`; this method does not take into account `self.axis` when wrapping the output. All that needs to happen is `result = result.T` and to use the index

[2020-09-12 16:02] Dr-Irv commented on #31861
This works fine in pandas 1.1.1.

A PR that adds a test for this would be welcome.

[2020-09-12 16:13] VirosaLi commented on #36296
We need to fix #34014 first.

[2020-09-12 16:16] Dr-Irv commented on #31944
This seems to be addressed in pandas 1.1.1.  On code sample 3, with pandas 1.0.1, I get:
[code]
With pandas 1.1.1, I get:
[code]
So the `NaN` appeared in the `value_counts()`.

A PR that adds a test for this would be welcome.

[2020-09-12 16:23] Dr-Irv commented on #32902
This is an issue with `.loc`, and the tuples, but you can get the column:
[code]

[2020-09-12 16:27] Dr-Irv commented on #32902
This output is also interesting, where the name is included in a list:
[code]

[2020-09-12 16:33] jbrockmendel commented on #36296
AFAICT #34014 is fixed by #35928 + #34997

[2020-09-12 17:52] Ethanator commented on #36308
Could I work on this issue?

[2020-09-12 19:41] xxsacxx commented on #36308
I tried the same example with :
`df.groupby(['val']*df.shape[1],axis=1).transform('shift')`
which failed with
_Shape of passed values is (2, 3), indices imply (3, 3)_

while
`df.groupby(['val']*df.shape[1],axis=1).transform(lambda x:x.shift())`

 gives :
           A	        B
0	NaN 	1.0
1	NaN	        2.0
2	NaN	        3.0

what output are we expecting here ?

[2020-09-12 20:29] jreback commented on #24685
https://github.com/pandas-dev/pandas/issues/11082 was fully patched

[code]
looks ok to me

so would review the postings here, but I think they might be fixed (maybe needs a test)

[2020-09-12 20:44] rhshadrach commented on #36308
@Ethanator Absolutely! Simply make a comment here "take" and github will assign it to you. If you encounter any difficulties, feel free to reach out here.

@xxsacxx Your 2nd result looks correct to me; the values are shifted 1 to the right, and since there are no values to the left of the first column, you get NaN. The presence of NaN then coerces the dtype to being a float.

[2020-09-12 20:53] asishm commented on #34747
Doesn't seem to be raising an exception in v1.1.1
but there seem to be issues

[code]

[2020-09-12 20:57] Ethanator commented on #36308
take

[2020-09-12 21:07] leonarduschen opened #36314 "ENH: Improve Multiindexing API"
#### Is your feature request related to a problem?

Consider the following dataframe

[code]

to get the rows in for `Math`, there are currently 2 ways to do it as described in here https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#slicing

1. Using`xs` like so `df.xs('Math', level=1, axis=0)`
2. Using `loc` like so `df.loc[(slice(None), 'Math'), slice(None)]`

Method 2 seems t

[2020-09-12 21:07] jreback commented on #35219
yeah we had quite some discussion about #22864 and actually @mroeschke pushed a patch, but its too big of a change to do in a minor release; we would have to wait till 2.0 for this.

[2020-09-12 21:07] #35219 closed

[2020-09-12 21:17] #36241 closed

[2020-09-12 21:23] #29735 closed

[2020-09-12 21:24] phofl commented on #24685
The Poster proposed that the result would keep the name of the non empty Series, which is exactly the opposite #11082, that is the reason why I am asking. We have already tests checking that the Name is dropped

[2020-09-12 21:31] #35989 closed

[2020-09-12 21:36] #35811 closed

[2020-09-12 21:37] #24518 closed

[2020-09-12 21:39] #35534 closed

[2020-09-12 21:39] #35747 closed

[2020-09-12 22:01] jreback commented on #36314
see https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

you can simply use pd.IndexSlice to achieve an idiomatic syntax

[2020-09-12 22:02] #36314 closed

[2020-09-13 01:12] dsaxton commented on #36307
Rather than adding an attribute to silence this error I think you could use a more explicit check to convince mypy it's a MultiIndex (commented in the PR as well)

[2020-09-13 01:28] jbrockmendel opened #36319 "API/BUG: NumericIndex.insert(1, bool) should raise instead of cast"
There are a bunch of setitem-like methods and we should try to be consistent in what we allow in them.  In particular, `Float64Index.putmask` will reject a bool `value` while `insert` will cast it to float.

[2020-09-13 01:54] jbrockmendel opened #36320 "API/BUG: get_indexer_non_unique(object_dtype)?"
For get_indexer we do type inference on object dtype, but we dont do this for get_indexer_non_unique.  Is this intentional?

[code]

We could also conceivably fall back to object-vs-object instead of returning no-matches.

There's also Cateegorical with matching categories dtype:

[code]

[2020-09-13 02:15] mroeschke commented on #31771
You will also need to update this version here:

https://github.com/pandas-dev/pandas/blob/229722e6a24b9658a27fc06b617701ad02aaa435/pandas/compat/_optional.py#L28

[2020-09-13 02:57] arw2019 opened #36321 "BUG: SeriesGroupBy.transform should raise with axis=1"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
The `dropna=True` case runs
[code]
but with `dropna=False` the call to `transform` throws with a somewhat unfriendly message
[co

[2020-09-13 02:57] arw2019 commented on #36321
take

[2020-09-13 04:20] wumpus commented on #36296
Also https://github.com/pandas-dev/pandas/pull/36298 is needed to build with -Werror on 3.9 -- I haven't run the pandas test suite with it, but it did fix pandas enough that [my pandas-using project was happy in with 3.9 in travisci](https://travis-ci.com/github/wumpus/pandas-appender/jobs/384167589)

[2020-09-13 05:00] VirosaLi commented on #34150
It looks like flake-rst is not under active development anymore.

[2020-09-13 05:30] selvaramkumar opened #36324 "BUG: when i merge two dataframes in pandas if the datatypes of columns are mismatched exception is raised"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-13 05:38] arw2019 commented on #36324
Please provide a copy-pastable example so we can reproduce the bug and investigate. See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-13 05:52] selvaramkumar commented on #36324
I have added the sample code and Explained the Issue @arw2019

[2020-09-13 06:02] arw2019 commented on #36324
Does this snippet do what you intended?
[code]
If yes I think you should just use `concat` instead of `merge`.

In case it's helpful we have detailed documentation on merge methods [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

[2020-09-13 06:14] selvaramkumar commented on #36324
@arw2019  I have updated the sample input and i have placed my expected output as well

[2020-09-13 06:27] attack68 commented on #36324
I lean towards this not really being helpful. It seems to be more explicit and a very simple fix augment the code when the error appears. I suspect that there are only very few cases where join keys are more than say 3 columns and then dtypes can be directly specified with minimal effort. The `astype()` is doing exactly what you intend prior to executing the merge:

[code]

[2020-09-13 06:34] selvaramkumar commented on #36324
@attack68 No What if my merge columns is list of 5 columns .Then i had to manually put astype 5 times

[2020-09-13 07:31] attack68 commented on #36324
OK, my opinion is that in this case I would prefer explicit code:

    df_l.merge(df.r.astype({'col1': int, 'col2': float, 'col3': str}, on=[col1, col2, col3], how='left')

I find the warning that the datatypes are different useful information for controlling pipelines. I do not consider specifying 5 datatypes particularly time consuming, and even though I have no statistics I believe that a merge

[2020-09-13 07:37] selvaramkumar commented on #36324
@attack68  yeah i agree with Your apprach of converting float to str

[2020-09-13 08:01] westhyena commented on #35594
@alimcmaster1 Yes, I can raise in SQLALchemy.
When I set schema with pg_temp, it's not working properly.

[code]

I'll post this issue to SQLALchemy repo.

[2020-09-13 08:01] #35594 closed

[2020-09-13 09:48] zxymath opened #36327 "BUG: Get wrong result when groupby category column with dropna=False"
I have confirmed this bug exists on the master branch of pandas.

[code]

[code]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 2a7d3326dee660824a8433ffd01065f8ac37f7d6
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine

[2020-09-13 09:51] phofl commented on #36327
Hey,

have you checked #35646? This looks like a duplicate

[2020-09-13 10:19] phofl commented on #20816
Seems to work no on master. I get the following outputs:

[code]

[2020-09-13 10:24] phofl commented on #31735
Seems to work now. I get the following output on master:

[code]

[2020-09-13 11:09] jreback commented on #36324
this is as expected
-1 on adding keywords or doing implicit casting

having exceptions tells you that something might be wrong and is a good thing

[2020-09-13 12:05] rhshadrach opened #36329 "CLN: Series.__getitem__ structure"
Items for in `Series.__getitem__`

- [ ] Look into moving try-except to `_get_value`
- [ ] Handle remaining hashable cases in try-except.

[2020-09-13 12:08] rhshadrach opened #36330 "CLN: Followup to 35964"
- [ ] Move whatsnew note to reshaping
- [ ] Maybe use is_list_like/is_dict_like
- [ ] Type results

[2020-09-13 12:13] selvaramkumar commented on #36324
Yeah i agree @jreback .But if we could add a parameter and handle the exception inside merge function it would be helpful .So that we need worry on casting outside of merge

[2020-09-13 12:21] jreback commented on #36324
@selvaramkumar not going to happen - this is just making an already very complex function worse

[2020-09-13 12:22] #36324 closed

[2020-09-13 12:34] #36291 closed

[2020-09-13 12:38] rhshadrach commented on #36321
I think allowing `axis=1` for a Series is largely (entirely?) not implemented. Doing `pd.Series([1, 2, 3]).groupby([0], axis=1)` raises, and I can't find any way of making something like:

[code]

work. I think this "backdoor" to getting a SeriesGroupBy with `axis=1` is a bug. See #35443.

[2020-09-13 12:44] #36063 closed

[2020-09-13 13:15] #36212 closed

[2020-09-13 13:59] dsaxton commented on #36307
Closing as resolved

[2020-09-13 13:59] #36307 closed

[2020-09-13 15:03] mwouts commented on #33759
Hi @TomAugspurger , thank you for your answer. I am happy to dig this further, but must say that I am not familiar with `pytables`. But maybe just following the call stack, and finding what is the difference with the non-empty case, could help... let's see if I get an answer about how to do that on [twitter](https://twitter.com/marcwouts/status/1305159099429126147) :smile:

[2020-09-13 15:14] jbrockmendel commented on #31735
this was likely fixed by the recent changes to operate via BlockManager.apply; IIRC those didnt implement any tests specific to this issue

[2020-09-13 15:53] jreback commented on #33759
you should read the docs - this is a design feature of pytables itself and is not likely to change nor can pandas do anything

[2020-09-13 15:53] #36189 closed

[2020-09-13 16:08] MarcoGorelli commented on #31954
wow, nice!!

[2020-09-13 18:48] erfannariman commented on #35299
Would that as replacement for "thresh"?

[2020-09-13 19:00] jbrockmendel commented on #35299
Thats what I had in mind, yes.

[2020-09-13 19:08] erfannariman commented on #35299
I would still be in favor of adding a new `perc` argument, this needs deprecation, besides the other arguments I gave above about more clear distinguishment than adding a float or int.

[2020-09-13 19:39] omarbelaggoun opened #36343 "BUG: ZERO WIDTH NO-BREAK SPACE in column name causes a reading failure"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-13 20:01] avinashpancham opened #36344 "DOC: Projected time for running entire performance test suite is outdated"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#running-the-performance-test-suite

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

Ran entire performance test suite for #36161 and it took close to 8 hours. Docs state: "Running the full test s

[2020-09-13 20:05] jreback commented on #36344
note generally you should not be running the entire test suite
that's sort of the point
we have pretty targeted subset

also something odd about your setup it - this shouldn't take nearly that long in any event

but ynmv esp of other things are running

cc @jbrockmendel

[2020-09-13 20:14] avinashpancham commented on #36344
I wasn't running anything besides the test suite. I just started it and checked it the next morning.

Is there maybe a parallelization option I'm missing? That is not explained in the docs and might explain the difference.

[2020-09-13 20:22] #31355 closed

[2020-09-13 20:24] TAJD commented on #31861
take

[2020-09-13 20:28] #34717 closed

[2020-09-13 20:29] #33666 closed

[2020-09-13 20:46] #29460 closed

[2020-09-13 21:21] arw2019 commented on #36321
I think I agree that it's a bug, except possibly the `as_index=False` case.

TODOs:
- [ ] should we add tests for this?
- [ ]  do you think it's a good idea to throw specific error messages when a user tries this? If yes I'm happy to take a stab at that and see how complicated it gets / if it's worth the effort

[2020-09-13 22:18] #25610 closed

[2020-09-13 22:28] #35566 closed

[2020-09-13 22:54] #17154 closed

[2020-09-13 22:57] #35802 closed

[2020-09-13 22:57] #36122 closed

[2020-09-13 23:07] #35505 closed

[2020-09-13 23:10] #29532 closed

[2020-09-13 23:25] #24768 closed

[2020-09-13 23:37] jbrockmendel commented on #36344
We should probably
- use "benchmark suite" instead of "test suite"
- update the docs to reflect that it can be an all-day process
- update the docs with suggestions on how to target a subset of benchmarks.

If your PR doesn't touch _libs.tslibs, then you can exclude the tslibs asvs.  I'm not sure if the `-b` argument supports exclusion regexes.

[2020-09-14 02:20] arw2019 commented on #36262
Can you provide a copy-pastable example so we can reproduce and investigate? I get the gist of the problem from your description but it's much easier for us if you provide the entire code snippet. Take a look at https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-14 02:28] Ethanator commented on #35646
Is someone already working on this? If not, could I take on it?

[2020-09-14 03:19] eromoe commented on #36262
This is feature request not bug report , I think it is super easy to verify :
[code]

[2020-09-14 03:24] Ethanator commented on #36306
take

[2020-09-14 03:59] chrisyeh96 commented on #17154
Thanks @jreback! Glad this finally is resolved 👍

[2020-09-14 04:19] mila commented on #36063
Thank you @dsaxton and @jreback! You are doing amazing work.

[2020-09-14 07:30] MarcoGorelli commented on #36343
Thanks @omarbelaggoun for the report, here's something copy-and-pasteable:
[code]
which returns
[code]

[2020-09-14 07:32] erfannariman commented on #36286
Is it oké to give an example in the docs using a third party package like natsort? @jreback

[2020-09-14 07:45] kotval opened #36351 "Representation of pd.Timestamp is not ISO8601 compliant."
ISO 8601 specifies that the date and time portion of a timestamp is separated by a "T", but python's datetime.isoformat allows any character to separate them. To comply with ISO8601, [line 650](https://github.com/pandas-dev/pandas/blob/6b2d0260c818e62052eaf535767f3a8c4b446c69/pandas/_libs/tslibs/timestamps.pyx#L650) should be changed to include a "T" in between the date and the time. Since this al

[2020-09-14 08:52] satrio-hw commented on #36286
hai, I solved the problem using key as @jreback said..
`df = pd.DataFrame(data).sort_values(by=['Patient_ID'], key=lambda col:col.astype(str).str[3:].astype(int))`
as it would take Patient_ID as string[3:] (so it will ignore 'ID-') and convert it back to int for sorting..

[2020-09-14 09:14] erfannariman commented on #36286
Here's a more general solution which should work in all cases:

[code]

[2020-09-14 09:15] erfannariman commented on #36286
Here's a more general solution, which should work in all cases:

[code]

Which needs an installation first: `pip install natsort`

[2020-09-14 09:38] rhkarls opened #36352 "BUG: interpolate with limit keyword partially fills gaps larger than limit"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-14 09:38] plammens commented on #33647
Related to #2141

[2020-09-14 10:22] cipri-tom opened #36353 "BUG: DataFrame.stack does not work when MultiIndex had duplicated names"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

`data.csv`:
[code]

[code]

#### Problem description

Well, I *am* using a level number, not a name, but there still is an erro

[2020-09-14 10:57] jreback commented on #36351
you can use strftime if you actually want to do this but why would we change this and break the world?

[2020-09-14 11:14] TomAugspurger commented on #33692
We have several issues dealing with date vs. Timestamp equality right now
that we'd like to address consistently, but I don't recall what the current
preference is. cc @jbrockmendel.

On Fri, Sep 11, 2020 at 9:01 PM patrick <notifications@github.com> wrote:

[2020-09-14 11:20] TomAugspurger commented on #36351
Agreed that we can't just change this.

[2020-09-14 11:24] plammens opened #36354 "DEV: doctests fail on automatic int32/int64 selection"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-14 11:27] TomAugspurger commented on #16598
I don't see that benchmark anymore, so hard to say.

[2020-09-14 11:27] #16598 closed

[2020-09-14 11:28] jreback commented on #36351
and we use the isoformat from datetime already (which has a default sep argument of T)

[2020-09-14 11:28] #36351 closed

[2020-09-14 11:29] jreback commented on #36351
@kotval the code you are referencing is simply a repr and not thr isoformat function - so this is no where implied even that this is ISO

[2020-09-14 11:35] TomAugspurger commented on #36354
The docstring includes the output dtype, which is int32 for 32-bits and int64 for 64 bits.

I'm not sure how other libraries handle this.

[2020-09-14 12:03] jreback commented on #36286
@erfannariman so happy to take a PR to add that as an example; it would be ok i think to add to `environment.yml` with an appropriate comment (used in doc-strings) as this environment builds the docs.

[2020-09-14 12:07] erfannariman commented on #36286
Sure will do tonight after work. @jreback

[2020-09-14 13:29] phofl commented on #24915
Was fixed by #36224

[2020-09-14 13:40] jreback commented on #24915
this is the same case as https://github.com/pandas-dev/pandas/issues/36212

[2020-09-14 13:40] #24915 closed

[2020-09-14 14:33] erfannariman commented on #36286
@jreback PR is ready for review, weird stata test failing, will check later.

[2020-09-14 14:34] alexhlim opened #36359 "BUG: get_indexer methods return int64 instead of intp arrays"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description
Found in #35498.  When looking at the implementation of the `get_indexer` or `get_indexer_non_u

[2020-09-14 14:35] alexhlim commented on #36359
take

[2020-09-14 15:07] r7sa opened #36360 "BUG: MutliIndex names lost during pivot"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
result is:
[code]
some names is None, but must be
```names=['c1', 'c2', 'c3', 'i2', 'i3'])```

#### Problem description

[2020-09-14 15:09] Dr-Irv opened #36361 "DOC: New storage_options for read_csv needs a docstring"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.read_csv.html
#### Documentation problem

The new `storage_options` keyword for `read_csv` and `read_table` is not documented in the docstring.

#### Suggested fix for documentation

Add docstring

@martindurant

NOTE:  I noticed this when running `validate_docstrings` locally for `read_csv` and it reported

[2020-09-14 15:42] asishm commented on #36343
problem arises from this section that gets called from `self._infer_columns()`

https://github.com/pandas-dev/pandas/blob/master/pandas/io/parsers.py#L2942-L2946

[code]
this changes `line` from `['\ufeffBuilding Park Name', 'Building Name', 'New / Renewal', 'Address', 'City', 'State', 'Class']` to `['Building Park Name']`

[2020-09-14 15:43] jbrockmendel commented on #33692
#36131 deprecates date vs Timestamp comparisons to match the stdlib datetime.

[2020-09-14 16:15] plammens commented on #36354
Yes, exactly. The point is, why does one configuration use 32-bit integers and the other 64-bit integers, if the machine, OS, versions, etc. are the same? In what part of pandas code is this automatic dtype inference made?

[2020-09-14 16:19] TomAugspurger commented on #36354
It's probably in NumPy.

[2020-09-14 17:01] plammens commented on #36354
The weird thing is, on my platform, I always get int64 too. But for some reason, that's not the case when checking doctests...

[2020-09-14 17:02] kshivi99 commented on #36361
What this keyword is used for @Dr-Irv
I could fix the docstring, which would help me understand the contribution process for pandas.

[2020-09-14 17:21] Dr-Irv commented on #36361
@kshivi99 If you look at files `common.py`, `feather_format.py`, `parquet.py`, `pickle.py`, `stata.py`, in the directory `pandas/io`, you can just copy the docstring from there.

Just be really careful to do `validate_docstrings` on the changed file to make sure it will render OK.

[2020-09-14 17:31] asishm commented on #36343
a simpler reproducible example

[code]

[2020-09-14 17:34] MarcoGorelli commented on #36343
Thanks @asishm !

[2020-09-14 17:37] simonjayhawkins commented on #28384
looks to be fixed on master (@jbrockmendel maybe #36237?)

[code]

[2020-09-14 19:04] zbrookle commented on #30480
@jreback  So the package that was the original topic of this, [dataframe_sql](https://github.com/zbrookle/dataframe_sql) seems to be gaining a bit of traction as a tool for using sql with pandas dataframes specifically. Would it be possible for that to be added to the eco system page to make it easier for others to find? After that I would probably close this issue because I think that's the last

[2020-09-14 19:26] jreback commented on #30480
would take a doc PR to update the eco system page

[2020-09-14 19:42] plammens opened #36368 "CI: exclude directories from ci/code_checks.sh"
I'm using a virtual environment to contribute to pandas that sits in a `venv` directory in the repository root. When I run `./ci/code_checks.sh`, all of the linters and checks start to check every single `.py` file in the virtual environment's site packages, which is a pain. Same happens with the documenation checks and the generated `.rst` files in `doc/source/reference/api`.

It would be nice to

[2020-09-14 20:15] rhshadrach commented on #35525
Comparing the two solutions:

    pd.json_normalize(df['data'], keep_index=True)
    pd.json_normalize(df['data']).set_index(df.index)

offhand I don't see much benefit in having the argument. Also, this argument would only have meaning in the case of a Series as opposed to a list or dict. With these, I'm -1 on this.

[2020-09-14 20:26] #36361 closed

[2020-09-14 20:31] phofl commented on #36352
Hey, thanks for your report.

That is the documented behavior. ``limit=3`` means, that at most three consecutive nans are filled. limit_area inside means, that there have to be valid values before and after the nans

[2020-09-14 20:43] zbrookle commented on #30480
@jreback Ok sounds great!

[2020-09-14 22:02] CRiddler commented on #17476
In general I don't like turning issues into stackoverflow threads for help, but it seems that this issue has gotten a fair bit of attention since last posting so I'll go ahead and post my method of tackling this type of problem in pandas. I typically do this by not subsetting the dataframe into separate variables, but I instead turn masks into variables- then combine masks as needed and set values

[2020-09-14 22:33] dsaxton commented on #36353
Thanks @cipri-tom, this is indeed a bug and it exists on master as well

[2020-09-15 00:45] hjweide opened #36373 "REGR: inplace arithmetic operation on Series no longer updating parent DataFrame"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-15 01:51] dsaxton commented on #36373
This is a regression from 1.0.5 and seems this line is the cause:

https://github.com/pandas-dev/pandas/blob/fd20f7d34b8601a99b450a615241c233f034fc88/pandas/core/ops/methods.py#L97

[code]

[2020-09-15 02:06] #32766 closed

[2020-09-15 02:11] #8283 closed

[2020-09-15 04:09] ssche opened #36375 "BUG: MultiIndex.from_tuples() fails to infer dtype from nan-only index column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When a `MultiIndex` is re-created from another `MultiIndex` which contains a nan-only column

[2020-09-15 04:57] arw2019 commented on #36375
Here is a condensed reproducer. I get this on 1.2 master
[code]

<details>
<summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : a3f42df798b151691f8b492436d5a45682a8bda8
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-47-generic
Version          : #51-Ubuntu SMP Fri Sep 4 19:50:52 UT

[2020-09-15 06:59] rhkarls commented on #36352
Thanks! The documentation does indeed say consecutive nans, but I still think the more expected behavior from the documentation is that gaps larger than the limit is not filled at all. Take for example a time series with several small and large gaps, it can make sense to fill smaller gaps by interpolating between them, but larger gaps do often not make sense interpolate at all. The method now leav

[2020-09-15 07:31] YarShev opened #36377 "BUG: Weird behavior for comparison operations `eq` and `ne`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-15 07:39] YarShev commented on #36377
Also, an exception is changing for comparison operations `ge`, `gt`, `le`, `lt`. When we specify valid size for data frame as mentioned above, the exception is `TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'`. However, when we change size for data frame as mentioned above, the exception is the same as for `eq` and `ne`: ValueError: `unknown type str32`.

[2020-09-15 07:52] phofl commented on #36352
Would you like to contribute a PR to enhance the docs?  We have an example showing that behavior, maybe add a comment to elaborate furhter?

If you would like to discuss the enhancement of the function, you could open an enhancement issue and describe your wishes.

[2020-09-15 08:01] persep commented on #17476
@CRiddler Thanks, you've been very helpful

[2020-09-15 08:20] kaiogu opened #36380 "ENH: Make non-aggregating methods on groupby groups optionally return groups"
#### Is your feature request related to a problem?

I want to apply chained operations on the same groupby groups without having to actually make identical costly groupby calls before each operation. The Related problem is available on the following SO question:

https://codereview.stackexchange.com/questions/249222/get-exactly-n-unique-randomly-sampled-rows-per-category-in-a-dataframe

#### Descr

[2020-09-15 08:53] jreback commented on #36380
-1 on adding any keywords to groupby as it's already very complicated

groupby step is very cheap - it's processing the function which might be expensive

you can also simply iterate over the groups themselves if u want (in comprehension for example)

[2020-09-15 08:58] cipri-tom commented on #36353
👍  Thanks for the quick fix ! 🥳
I see this will be available in 1.1.3

[2020-09-15 09:32] jreback commented on #36353
we don't close an issue until the pr has actually merged

[2020-09-15 11:37] mcocdawc opened #36381 "Strange behaviour of `delim_whitespace` in `pd.read_table`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-15 11:52] jreback commented on #36381
sep is defaulted to ,
pls read the doc string

[2020-09-15 11:52] #36381 closed

[2020-09-15 11:54] mcocdawc commented on #36381
The error persists with:
`pd.read_table('./test_file', delim_whitespace=True, sep=None, delimiter=None)`

[2020-09-15 11:58] TomAugspurger commented on #36296
@jbrockmendel how comfortable are you with backporting https://github.com/pandas-dev/pandas/pull/34997 and https://github.com/pandas-dev/pandas/pull/35928? IMO those probably decide whether we're likely to add support for Pytyhon 3.9 in 1.1.x or 1.2.0.

[2020-09-15 11:59] erfannariman commented on #35299
@jbrockmendel @simonjayhawkins is there a way to make more progress on this ticket? Would like to work on it, but the discussion above is not yet decided upon.

[2020-09-15 12:15] simonjayhawkins commented on #36296
1.1.x still needs to support 3.6. so need to make sure any changes to don't break 3.6 support.

[2020-09-15 12:25] satrio-hw commented on #36377
hi @YarShev , so from what I know, the problem seems came from numpy. They have some issues when try to compare different datatype, so the quick solution to this problem by add `df = df.astype(str)` before comparing 'a' to the DataFrame.

about size problem, I'm not quite sure, but I tried to loop `nrows` and `ncols` to 300, and the result for size `nrows` * `ncols` > 10000 will raise a ValueError

[2020-09-15 12:38] simonjayhawkins commented on #36373
@dsaxton I think helps to add the PR number so that github creates a link (I have found duplicate issues in the past by doing this)

#30501

[2020-09-15 12:50] jreback commented on #35299
-1 on trying to combine number of value and per in the same parameter

-0 on adding perc- one more parameter is just more complexity and now u have 2 for the same thing

would be better to just doc this i think

not completely against - but did anything then should match sample parameter names

[2020-09-15 13:32] kmatarese opened #36383 "BUG: df.sort_values w/ key function fails with multiple sort columns and Categorical sorting"
- [ X] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This raises AttributeError: 'Series' object has no attribute 'categories'. If I sort by jus

[2020-09-15 13:51] erfannariman commented on #35299
Can you elaborate what you mean with "now u have 2 for the same thing". You mean when `perc` is added? But arn't they distinguished by the functionality? @jreback

[2020-09-15 14:39] jbrockmendel commented on #36296
no particular objections

[2020-09-15 14:49] jorisvandenbossche commented on #36296
I am not sure #34997 is a good one to backport, it involve quite some tricky code / corner cases?

[2020-09-15 18:40] Abishek15592 commented on #35925
Working On:
 pandas/tests/scalar/test_na_scalar.py
 pandas/tests/scalar/timestamp/test_arithmetic.py
 pandas/tests/scalar/timestamp/test_constructors.py

[2020-09-15 22:20] #32761 closed

[2020-09-15 22:20] #36031 closed

[2020-09-15 22:20] #10319 closed

[2020-09-15 22:20] #13254 closed

[2020-09-15 22:32] #36286 closed

[2020-09-15 22:33] #31735 closed

[2020-09-15 22:34] Ed1123 commented on #17810
Take a look at this:
[code]

That code throwing this error:
ValueError: Integer column has NA values in column 0

It is because that given column have empty cells that I expected to be consider as NaN. Without the `dtype` argument I'm getting the values as floats.

[2020-09-15 22:35] #36353 closed

[2020-09-15 22:40] #30480 closed

[2020-09-15 23:18] erfannariman commented on #36380
If your actual problem is sampling when n > than the group size, why not use `replace=True`?

[code]
You can chain it with `drop_duplicates` to get rid of the duplication.

---
Besides that, there are ways to skip groupby twice, for example:
[code]
Or (this one might not be really efficient:
[code]

[2020-09-15 23:55] jreback commented on #36296
what do we actually need to support 3.9 in 1.1.3? the above PRs are nice to have for cython3 but don't appear to actually be needed correct? (exempting https://github.com/pandas-dev/pandas/pull/36298)

[2020-09-15 23:57] jreback commented on #36296
do we actually *need* cython3 to compile for 3.9? e.g. https://travis-ci.org/github/pandas-dev/pandas/jobs/726742374

[2020-09-16 00:18] wumpus commented on #36296
See my 3 day old comment for a report of exactly what I needed to build with 3.9

Just 2 lines of change plus cython3.

[2020-09-16 00:38] jbrockmendel commented on #36296
The reason why @jreback is asking is because there are two difficulties with bumping to cython3: 1) it isn't actually released yet and 2) bumping to it breaks a bunch of our tests, the fixes for which are not easy.

So the question is if there is any option that doesnt require cy3.

[2020-09-16 00:51] jreback commented on #36296
numpy is building with 29.21: https://github.com/numpy/numpy/releases/tag/v1.19.2

can try removing the -pre here: https://github.com/pandas-dev/pandas/blob/master/ci/build39.sh#L7

and see what happens

[2020-09-16 00:54] VirosaLi commented on #36296
I've just tried this. We only need #36298 + remove --pre to make it work. And all tests passed on my machine.

[2020-09-16 01:03] lucasthahn opened #36392 "ENH: read_hdf() - support for generic buffers has not been implemented"
#### Is your feature request related to a problem?

As of the latest verison of master, `read_hdf()` does not support generic buffers as input, and raises a `NotImplementedError` if one is passed in. This stems from line 374 of `pandas/pandas/io/pytables.py`.

#### Describe the solution you'd like

There's already a nice stub in which to insert this code; somebody just needs to implement it. If no

[2020-09-16 01:05] jreback commented on #36296
wow let's do it (single PR wouos be great as have to backport)

also can i update .travis.yml to make this a build that is required (remove the allow failures for that one)

[2020-09-16 01:38] snowman2 commented on #32045
pyproj experiencing installation issues as well: https://travis-ci.com/github/pyproj4/pyproj/jobs/385358258

[2020-09-16 01:38] phofl commented on #36392
Hey, thanks for your report. This is a duplicate of #31902. Seems like no one is working on this, so you could give it a try if you like.

Closing this.

[2020-09-16 01:38] #36392 closed

[2020-09-16 01:40] snowman2 commented on #32045
[code]

[2020-09-16 02:01] jreback commented on #32045
see https://github.com/pandas-dev/pandas/issues/36296

[2020-09-16 02:01] #32045 closed

[2020-09-16 02:10] jreback commented on #35299
you can already compute the perc if u wanted it's just a function of the length

so weighing this vs added keyword which is increasing complexity

[2020-09-16 08:40] kaiogu commented on #36380
@jreback
The keywords wouldn't be added to the groupby call, but to the non aggregating methods that follow it.

Are you saying it is cheap because it actually does not get computed when it is called, or is the actual computation part of the groupby cheap?

I was trying to avoid it stylistically and because "don't write your own for loops in pandas" is ingrained in me by now. I will try the sugges

[2020-09-16 08:44] jreback commented on #36380
not against making .filter better but would have to be comprehensive

[2020-09-16 09:07] YarShev commented on #36377
Hi @satrio-hw , perhaps, the problem comes from `numpy`. However, a back trace falls down into `numexpr` finally. There is no the issue in `pandas==1.0.5` with `numpy==1.18.3` and `numpexr==2.7.1`, but there is a problem in `pandas==1.1.1` with `numpy==1.18.4` and `numpexr==2.7.1`

[2020-09-16 09:16] lgelmi opened #36395 "BUG: indexing with DataFrame with nullable boolean dtype"
Premise: I tried to look for similar issues (closed or not), but (to my surprise) I couldn't find any.

#### Problem

I often filter my data through comparison with given values, this breaks using pd.NA.

[code]
Which implies:

[code]
and, even worse:

[code]

As you surely know, this would have worked flawlessly with numpy.nan.

#### The solution I'd like

pd.NA and numpy.nan should behave the sa

[2020-09-16 10:42] Nemecsek commented on #14553
Please think again to add this function: it is very useful to add rows to an existing table.
Alas Pangres is limited to Python 3.7+. As in my case (I am forced to use an old Python 3.4) it is not always a viable solution.

[2020-09-16 11:13] phofl commented on #28244
I looked into this a bit.
The numerical issues occur at
https://github.com/pandas-dev/pandas/blob/0d4a1c15c64970bf1f73325f683f13de3b91730d/pandas/_libs/window/aggregations.pyx#L440

The first value here equals delta during the first iteration. The power of two of delta is so large, that we run into floating point arithmetical issues. The small values coming later are lost here.

I can't see a way

[2020-09-16 12:17] jorisvandenbossche commented on #36395
The differences in behaviour between np.nan and pd.NA are on purpose (see the discussions in https://github.com/pandas-dev/pandas/issues/28095 and https://github.com/pandas-dev/pandas/issues/28778, but it are long discussions. The first issue links to a summary design document that explains this as well).
But ..

.. it's certainly still the goal that this works intuitively. Using with a series as

[2020-09-16 12:31] Dr-Irv commented on #32851
The issue here is that when you did `x[0] = None`, it set the dtype of the column to `object`.  In that case, the values `True` and `False` are treated as 1 and 0 respectively, not as `True` and `False`.  So the following works:
[code]

[2020-09-16 12:31] #32851 closed

[2020-09-16 12:56] lgelmi commented on #36395
I suspected as much and I can see (and agree with) the reasons that led to choose a different behavior respect to numpy.nan.
I will wait patiently (but eagerly) for updates. :D

[2020-09-16 14:14] jreback opened #36397 "BLD/CI: fix arm64 builds"
https://travis-ci.org/github/pandas-dev/pandas/jobs/727691006

these are failing (and have been for a while).

I believe we *can* now use the numpy wheels so this should make this build fast enough to include in the main matrix (and avoid using the often ignored allow_failures).

- [ ] use wheels for numpy
- [ ] remove from the allow_failures matrix

this could be for 1.1.3 or 1.2

[2020-09-16 14:31] rhkarls commented on #36352
@phofl I will look at the contributing guide when I have time and hopefully figure out how to do a PR - it will be a good learning experience!

[2020-09-16 14:52] dsaxton commented on #36395
Indexing with a nullable boolean DataFrame works on the branch in PR https://github.com/pandas-dev/pandas/pull/36201:

[code]

[2020-09-16 15:06] #36296 closed

[2020-09-16 15:26] jorisvandenbossche commented on #36395
@dsaxton thanks for noting! Can you add a test to that PR for this case as well then? (and indicate it will close this issue) And will also try to take a look at that PR then ;)

[2020-09-16 15:28] wumpus commented on #36279
Fixed by PR 36393

[2020-09-16 15:28] #36279 closed

[2020-09-16 19:43] bnojavan opened #36405 "BUG: duplicated() returns rows that are not duplicated"
I have a matrix of 1000*285 where 285 is my feature size which contain numerical and categorical features. The range of values are in (-15,32). When I use "dups = df.duplicated()" It is returning rows that are NOT duplicate.

[2020-09-16 20:04] dsaxton commented on #36405
@bnojavan Can you add a reproducible example that can be copy / pasted?

[2020-09-16 20:10] ivanovmg opened #36407 "REF: pandas/io/formats/format.py"
#### Is your feature request related to a problem?

class DataFrameFormatter seems mostly to target console formatting, while it plays a role of the mediator for ``to_latex`` and ``to_html`` conversions.
It is noticeable, that some kwargs, like ``table_id``, ``render_links`` are pertaining to html only. Meanwhile dataframe truncation (present in init) is not applicable to latex formatting.
Probabl

[2020-09-16 22:06] erfannariman commented on #35299
I think your point boiles down to this comment I made above:

[2020-09-16 22:40] erfannariman opened #36408 "CLN: err.orig in DataFrame.to_sql seems redundant"
When going through the `DataFrame.sql` code in version `1.1.2` I found a part of the code confusing and seems redundant:

[code]

This is in pandas.io.sql line 1400-1407.

`err.orig` part seems wrong, and does not exist as a method in the sqlalchemy class `SQLAlchemyError`.

Should I remove it or am I missing something?

[2020-09-16 22:43] jreback commented on #36407
sure glad to take internal refactorings here to make things more clear. only request is in general smaller PR's are better. If moving code only do it separately as well. e.g. first move / re-org, then follow with changes, otherwise very hard to tell the diffs.

[2020-09-16 23:03] mroeschke commented on #36408
This is being explicitly tested here: https://github.com/pandas-dev/pandas/pull/34493/files#diff-be40559e2fd6d796a469b8a717312d9cR1826

So I presume that this is working as intended

[2020-09-16 23:32] erfannariman commented on #36408
Not sure if I see what you mean, what would `err.orig` do here?

[2020-09-16 23:53] mroeschke commented on #36408
I am entirely familiar with with SQLAlchemy errors API, but my larger point is that `err.orig` is correctly extracting the error message we want and is being tested in the code path I tested above.

[2020-09-17 02:31] #36383 closed

[2020-09-17 02:42] jreback opened #36411 "DOC: add searchsorted examples"
in this PR: https://github.com/pandas-dev/pandas/pull/36346

we updated `.searchsorted()` on the datetimelike indexes to accept string and a list-like, we should add some examples to the doc-string.

cc @jbrockmendel

[2020-09-17 03:31] lacrosse91 commented on #36411
Hi, can I handle this work?
I would like to help!

[2020-09-17 07:08] slsongge opened #36419 "ENH: I wish add a parameter to adjust bar function's height in Styler"
#### Is your feature request related to a problem?

I have a 'Styler' object, I wish add a parameter that can adjust bar's spacing to the [bar function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.bar.html).

eg:
now the bar example like bottom:
![image](https://user-images.githubusercontent.com/36298417/93431626-fc7e4b80-f8f6-11ea-8ebe-453b6ce4d3b9.pn

[2020-09-17 08:08] nithinreddyy opened #36420 "Occuring error when trying to install with setup.py (from source code) and tar file from pypi is not working"
[16/40] Cythonizing pandas\_libs/reduction.pyx

Error compiling Cython file:
------------------------------------------------------------
...

        self.orig_data = self.buf.data
        self.orig_len = self.buf.shape[0]
        self.orig_stride = self.buf.strides[0]

        self.buf.data = self.values.data
               ^
------------------------------------------------------------

pandas\_

[2020-09-17 08:27] MarcoGorelli commented on #36419
Hi @slsongge - could you write a descriptive title please?

As in, are you interested in contributing it?

[2020-09-17 09:22] realead opened #36421 "BUG: Pandas doesn't build with Cython3.0 pre-release"
This [line ](https://github.com/pandas-dev/pandas/blob/20569007ea256d3126214ab845190d08f88c73a9/pandas/_libs/reduction.pyx#L318):

[code]
will no longer build once Cython3.0 is released, due to this change: https://github.com/cython/cython/commit/22a49f403b6f00f1674664e01ee0f8212c06ef13#diff-24bcfc3298e43281fed97318a554550dL247.

`data` is no longer

[code]

but

[code]

#### Error:

[code]

####

[2020-09-17 09:31] erfannariman commented on #36408
I see, you are probably right, although I still can't find anything in the `SQLAlchemryError` class. Will close this issue.

[2020-09-17 09:31] #36408 closed

[2020-09-17 09:42] erfannariman opened #36422 "CLN: infer_dtype has no skipna argument"
infer_dtype function in `lib.py` has no `skipna` argument, although it is documented in the docstring:

[code]

The method is called a couple times with the `skipna=True` argument. For example in:

- `pandas/core/algorithms.py` line 220
- `pandas/core/dtypes/cast.py` line 131

Is this expected behaviour? Should I rename `foo -> value` and `bar -> skipna`?

[2020-09-17 09:53] satrio-hw commented on #36377
@YarShev I tried to compare pandas v1.0.x and the current master.. I can't find significant difference in function `def _evaluate_numexpr(op, op_str, a, b):` and `def _can_use_numexpr(op, op_str, a, b, dtype_check):` from both version (**pandas/core/computation/expressions.py**).. I look at this function since this function also mentioned in the back trace

I also think this issue is not related t

[2020-09-17 09:58] mickvanhulst opened #36423 "ENH: Multiple dataframe groupby/apply"
#### Is your feature request related to a problem?

When working with larger separate data frames, it may be computationally more efficient to not join them. However, in scenarios I have personally encountered, I might still want to perform a group by/apply to both data frames while accessing both subframes based

#### Describe the solution you'd like

An example solution would be:

[code]

Or if

[2020-09-17 10:23] bobfang1992 commented on #23998
Is there any development towards this?

[2020-09-17 11:06] jreback commented on #36421
dup of #34213

you are welcome to help on the linked prs and issues

[2020-09-17 11:07] #36421 closed

[2020-09-17 11:10] jreback commented on #36420
duplicate of #34213
we don't support cython 3 yet
you are welcome to help out

[2020-09-17 11:10] #36420 closed

[2020-09-17 12:20] jreback commented on #36423
while there is some utility here, this would add to the already very large complexity in groupby.

the way to do this efficiently w/o joining is to
- create common indexes (.reindex)
- groupby (which itself) is pretty cheap, its the agg which can take time.

[2020-09-17 12:20] #36423 closed

[2020-09-17 12:29] zxdawn opened #36424 "QST: Replace subset of DataFrame by another subset of DataFrame"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-09-17 12:34] YarShev commented on #36377
@satrio-hw , thanks for significant description! Yes, I think just change `DataFrame` dtype (`df.astype('str')`) makes sense.

[2020-09-17 12:49] MarcoGorelli commented on #36424
Hi @zxdawn - please ask usage questions on StackOverflow first

Did you not get a `SettingWithCopyWarning` when executing `df1.loc[0]['A'] = df.loc[0]['A']`?

Use
[code]
for assignment

[2020-09-17 12:51] eric-downes opened #36425 "BUG: If a dataframe element is a list, using `.extend()` method affects the whole column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

in pandas 1.1.1:

[code]

#### Problem description

The entire `a` column should not be filled when using `.loc` to reference a single element.  Instead

[2020-09-17 12:54] clbarnes opened #36426 "BUG: Inconsistent lint environments"
As of https://github.com/pandas-dev/pandas/blob/3a15e47374762cbc89a6742c4239a069414dbbfc/.pre-commit-config.yaml#L8 , pre-commit uses flake8 3.8, where the other checks use 3.7.

As of https://github.com/pandas-dev/pandas/blob/11d5fc9e89ad8e238ece42890482bae875d9de98/environment.yml#L23 , conda environments use isort 5.2, where pre-commit uses 4.3.

This makes it impossible to create a commit whic

[2020-09-17 13:35] TomAugspurger commented on #36426
I would recommend running the linting commands on CI through pre-commit. That way the versions in `.pre-commit-config.yaml` are used everywhere.

We could do this by updating our existing code-checks.sh, or by moving these checks to a GitHub action that uses the pre-commit action, like in https://github.com/dask/dask/pull/6645.

[2020-09-17 13:46] MarcoGorelli commented on #36424
Thanks for the report - I can confirm that 1.0.5 doesn't give this warning with this snippet, while 1.1.2 does. Reopening for now with `needs tests`, will check later when this was fixed

[2020-09-17 13:56] TomAugspurger commented on #36425
This is a Python thing. The statement` a = [[]]*10` creates 10 references to the same list.

[code]

You should create 10 different lists, with something like `[[] for _ in range(10)]`.

[2020-09-17 13:56] #36425 closed

[2020-09-17 13:57] clbarnes commented on #36426
A couple of possible issues with that approach is that CI will never catch differences between the `environment.yml`/ `requirements-dev` version of linters and the pre-commit linters, but the former is what will be used by users' IDEs and development environments. Furthermore, pre-commit runs the "active" version of fixers like isort and black (i.e. it makes file changes), where CI should just be

[2020-09-17 14:03] clbarnes commented on #36426
Looks like the mismatch in CI and pre-commit versions is intentional for flake8: https://github.com/pandas-dev/pandas/pull/36412#issuecomment-694072443 . But it's breaking things for isort so I'll fix that.

[2020-09-17 14:10] wprazuch commented on #36411
I would like to take this issue - is anyone working on that?

[2020-09-17 15:14] simonjayhawkins opened #36429 "test_c_parser_only on linux py_3.8_32 failing on MacPython.pandas-wheels"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=42365&view=logs&j=bb1c2637-64c6-57bd-9ea6-93823b2df951&t=9c62e7ff-391e-517d-ede1-af63bc6a25da

[code]

[2020-09-17 15:29] dsaxton opened #36430 "REGR: period_range giving incorrect values for large datetimes"
From the pandas-dev mailing list:

[code]

[2020-09-17 16:09] dsaxton commented on #36430
577de1c6b5cda7f5ae0e4832c2bc3f97ca186e9b is the first bad commit
commit 577de1c6b5cda7f5ae0e4832c2bc3f97ca186e9b
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Wed Apr 15 12:20:54 2020 -0700

    REF: de-duplicate code in libperiod (#33491)

 pandas/_libs/tslibs/period.pyx | 108 +++++++++++++++--------------------------
 1 file changed, 39 insertions(+), 69 deletions(-)

PR https://github.c

[2020-09-17 16:29] mwouts commented on #33759
I think I have something interesting - If I force a dtype on the empty indices then the files have a reasonable size. For instance,
`pd.Series(index=pd.Index([]))` has a size on disk > 1MB, when `pd.Series(index=pd.Index([], dtype=int))` takes less than 10kB.

The same is true for dataframes:
[code]

[2020-09-17 17:04] jbrockmendel commented on #35481
Stumbled on a similar set of test failures affecting `test_union_base`, also tracing back to `lib.clean_index_list`.  One fix (also fixes the xfailed intersection tests) is in `ensure_index`

[code]

Maybe we can blunt the performance impact by limiting the cases in which we need to do this extra check?

[2020-09-17 17:26] MarcoGorelli commented on #36424
[code]

[2020-09-17 17:33] attack68 commented on #35998
This has been closed by #36159

[2020-09-17 17:35] seberg commented on #35481
I can look again into undoing it in NumPy for now (it should be easy, modifying the tests is annoying).

In the long term, NumPy could always raise the error, although that might take very long and I am tempted to think that a warning rather than an error may be the way to go.
It seems to me like the correct fix may be to dig all the way down into the `IntegerValidator` or similar code...

In any

[2020-09-17 17:45] seberg commented on #35481
Arrg, the problem is that there is currently a discrepancy:
[code]
And I can trivially choose one of those behaviour but retaining both is going to be annoying probably.

[2020-09-17 19:00] jbrockmendel commented on #36210
cc @jorisvandenbossche i havent thought of any nice ways to deprecate this (s.t. we can say "do X to get the future behavior, do Y to get the old behavior").  thoughts?

[2020-09-17 19:04] mroeschke commented on #35998
Thanks @attack68

[2020-09-17 19:04] #35998 closed

[2020-09-17 19:07] jorisvandenbossche commented on #36430
@dsaxton if something is a regression compared to 1.0, you can always directly add a 1.1.x milestone (which doesn't mean it will get done of course, but then at least it shows up in the overview of issues that are good to have for the bug-fix release)

[2020-09-17 19:29] jorisvandenbossche commented on #36426
Indeed, the bump for flake8 (and thus inconsistent with environment.yaml) was deliberate, because pre-commit was a bit unusable lately because of that.

[2020-09-17 19:31] jorisvandenbossche commented on #36422
I am not fully sure where you got the signature from that you show, but the actual implementation has this keyword:

https://github.com/pandas-dev/pandas/blob/b4d0ae5016133271c1dae3082e3f3dd97684ecb0/pandas/_libs/lib.pyx#L1209-L1212

[2020-09-17 19:46] jbrockmendel commented on #29671
Is there a final word on how effective this will be?

[2020-09-17 19:51] blalterman commented on #32553
I've installed v1.1.1 and the issue is gone. This can be closed.

[2020-09-17 20:02] jbrockmendel commented on #30834
This might be useful, but would need to be implemented in numpy

[2020-09-17 20:04] QuentinN42 commented on #35376
After some tests, I may have found the problem:
In the `pandas/core/internals/blocks.py` file, if the `maybe_infer_dtype_type` function returns `None` (which is normal), it will return `is_integer(element)`.
By replacing it with `is_integer(element) or is_float(element)` this case is covered.

I'm not very satisfied with this fix, I feel it's more of a DIY fix.
May I open a PR ?

[2020-09-17 20:13] QuentinN42 commented on #35376
Here is the changes I made :
[is_float added to IntBlock._can_hold_element gist](https://gist.github.com/QuentinN42/f5f715439051b909511623bdc997203a)

[2020-09-17 21:05] Dr-Irv opened #36435 "DOC: read_excel supports skiprows argument like read_csv, but tests and docs needed"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

#### Documentation problem

In `read_csv`, we say that we support:
**skiprows           list-like, int or callable, optional**

_Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file._

_If ca

[2020-09-17 21:44] jbrockmendel commented on #32342
the example from the OP works on master, could use test

[2020-09-17 22:00] ahgamut commented on #36435
I'd like to try this out. How do I assign the issue to myself?

[2020-09-17 22:00] ahgamut commented on #36435
take

[2020-09-17 22:17] jbrockmendel commented on #32586
This came up in #36400: i propose adding default implementations of `where` and `putmask` to EA.

[2020-09-17 22:35] jbrockmendel commented on #33276
AFAICT we haven't made any progress on getting rid of our own usages of _values_for_argsort and _values_for_factorize.  If we don't expect that to change, we should move them from "optional convenience methods" to required methods.

[2020-09-17 22:37] dsaxton opened #36436 "CI: Failed Travis jobs due to GBQ"
Lots of failed jobs coming from Travis lately with tracebacks like this:

[code]

Line that's raising:

https://github.com/pandas-dev/pandas/blob/c8b44dda08ab3a2feb2c4572be960469c3f065f7/pandas/tests/io/test_gbq.py#L160

Sample Travis log:

https://api.travis-ci.org/v3/job/728073325/log.txt

cc @tswast if any ideas

[2020-09-17 23:11] #34149 closed

[2020-09-17 23:11] #36397 closed

[2020-09-18 01:51] jreback commented on #32553
would like a PR for a validation test if u can

[2020-09-18 01:54] jbrockmendel commented on #35376
`is_float(element)` is a start, but don't we only want to include floats that are int-like?  so `(is_float(element) and element.is_integer())`.  to be even more careful we should check that casting to the target dtype is lossless

[2020-09-18 02:48] ahgamut commented on #36435
@Dr-Irv  I've submitted a PR (#36437) for this, and it has passed all CI checks except one: the [`travis-ci`](https://travis-ci.org/github/pandas-dev/pandas/jobs/728187422#L706) check is failing due to a stalled build (?).

[code]

[2020-09-18 02:49] hardikpnsp commented on #36411
Hey, seems like no one has been assigned the issue yet, you can just comment "take" and the bot will assign it to you.

[2020-09-18 04:11] lacrosse91 commented on #35925
working on:
pandas/tests/groupby/transform/test_numba.py

[2020-09-18 04:18] hardikpnsp commented on #35023
if no one is working on it, I would like to pick this up.

[2020-09-18 06:56] QuentinN42 commented on #35376
I've create a PR for this.
I've NOT run any tests or code style checks !

[2020-09-18 06:57] QuentinN42 commented on #35376
It might be usefull to add some unit tests for this.

[2020-09-18 07:17] 2796gaurav commented on #36411
/take

[2020-09-18 07:17] 2796gaurav commented on #36411
take

[2020-09-18 07:56] ZacharyJWyman opened #36445 "import pandas doesn't work using VS Code through Anaconda."
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-18 07:58] #36445 closed

[2020-09-18 08:29] simonjayhawkins commented on #35376
This is required as part of any PR. use the example in the OP as a test.

[2020-09-18 08:41] QuentinN42 commented on #35376
Sorry but what is an OP ? :disappointed:

[2020-09-18 08:47] simonjayhawkins commented on #35376
it normally means 'original poster'. I actually meant the first post. so use the code sample in https://github.com/pandas-dev/pandas/issues/35376#issue-663620223

[2020-09-18 08:48] QuentinN42 commented on #35376
Ok, thx :smile:

[2020-09-18 09:31] hardikpnsp commented on #35023
take

[2020-09-18 09:54] lacrosse91 commented on #35925
working on:
- /pandas/tests/indexes/base_class/test_indexing.py
- /pandas/tests/indexes/test_common.py
- /pandas/tests/indexes/test_numeric.py

[2020-09-18 10:02] thisnamenotavailable commented on #35802
Hi. New to coding, but not new to problem solving.

Also have this problem as of this week when I updated my system from Kubuntu 18.04 LTS to 20.04 LTS. With that, the python version changed from 3.6 to 3.8. The pandas version pre- and post- update was version 1.1.x

So, I will tell you my experience and what I have done to trouble-shoot in the hopes that this can help a fix, since the pandas read

[2020-09-18 10:16] avinashpancham commented on #35023
I am not working on it, so go ahead :)

[2020-09-18 11:25] VirosaLi commented on #36436
See https://github.com/googleapis/google-cloud-python/issues/10471.

[2020-09-18 11:44] prhbrt opened #36448 "DOC: broken link in warning message"
I couldn't figure out the spot in the code, sorry about that, but the link in this message is broken:

    A value is trying to be set on a copy of a slice from a DataFrame.
    Try using .loc[row_indexer,col_indexer] = value instead

    See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

It should be: https://pandas.pydata.or

[2020-09-18 11:45] #35969 closed

[2020-09-18 12:10] jorisvandenbossche commented on #32586
Regarding `putmask`, what's the use case for it that cannot be covered by eg `array[mask] = values` ?

[2020-09-18 12:24] jorisvandenbossche commented on #36210
Hmm, I also can't think of any way to deprecate this ..
It could maybe be done within the more general copy/view discussion, but then it's not something on the short term.

I am inclined to say that in this case it might be fine to simply change (because it's a behaviour that only comes up in rare value-dependent cases, and when it happens can lead to silent bugs).

[2020-09-18 12:34] dsaxton commented on #36448
I think you're right, would you be interested in opening a PR to fix?

[2020-09-18 12:37] QuentinN42 commented on #35376
I'm working on the test for the PR and I want to put `# GH xxx` in comment, is it the issue or the PR number ?
Aka `# GH 35376` or `# GH 36444` ?

[2020-09-18 12:50] #36435 closed

[2020-09-18 12:57] simonjayhawkins commented on #35376
the issue number, i.e. 35376

[2020-09-18 13:28] benjamincerigo commented on #25229
Looks like they have a ticket for it: https://issues.apache.org/jira/browse/ARROW-3014

[2020-09-18 13:43] MarcoGorelli opened #36450 "CLN upgrade to Python3.7+ syntax"
Given that the next release will we Python3.7+, we might as well upgrade some of the syntax, e.g.

[code]
or
[code]

We can do this using [pyupgrade](https://github.com/asottile/pyupgrade).

Here are the files that can be upgraded:

- [ ] pandas/_config/display.py
- [ ] pandas/_testing.py
- [ ] pandas/_vendored/typing_extensions.py
- [ ] pandas/_version.py
- [x] pandas/core/arrays/datetimes.py
- [

[2020-09-18 14:01] tswast commented on #36436
@busunkim96 Perhaps there was another bad google-auth release?

[2020-09-18 14:52] busunkim96 commented on #36436
`google-cloud-core==1.4.0` was released with an insufficient pin on `google-api-core`. This is resolved in `google-cloud-core>=1.4.1`. https://github.com/googleapis/python-cloud-core/blob/master/CHANGELOG.md#bug-fixes

[2020-09-18 14:55] jorisvandenbossche opened #36451 "BUG: conversion of float32 to string shows too much precision"
On master (but also on 1.1):

[code]

When converting to the object-dtype string, it works as expected:

[code]

cc @topper-123

[2020-09-18 15:39] jorisvandenbossche commented on #36451
Correction: the above behaviour is on *released* 1.1, and on master we have this bug for `astype(str)` as well:

[code]

So something to fix for 1.2

[2020-09-18 16:28] phofl commented on #31286
The issue is mostly fixed now. The only thing left is the following:

For the case described above, the result is near 1 not exactly one, because the std of the values is an irrational number, so std(a) * std(b) does not equal a.cov(b) in
https://github.com/pandas-dev/pandas/blob/a0e0571ba4d843b0b462f1894d06a81b77925af2/pandas/core/window/rolling.py#L1904

Is there a clever way around the numerica

[2020-09-18 16:40] jbrockmendel commented on #32586
That would be convenient, but the putmask allows for `values` that are listlike with `len(values) ! len(array)`.

[2020-09-18 16:45] jbrockmendel commented on #19658
actionable/closeable?  Now that we use _mgr instead of _data for BlockManager, foo._data is much less ambiguous

[2020-09-18 16:48] jbrockmendel commented on #31286
Just speculating: might `(a.cov(b)**2 / (a.var() * b.var())  ** 0.5` be better behaved?

[2020-09-18 16:49] jorisvandenbossche commented on #32586
But still the correct length for ``mask`` ? Like:

[code]

[2020-09-18 16:50] jbrockmendel commented on #30469
grepping for OrderedDict i see 29 usages outside of tests; most of those are either in doctests or in pandas.compat.numpy.function

[2020-09-18 16:51] jbrockmendel commented on #32586
No.  AFAICT its unrestricted.  numpy will either truncate or repeat

[2020-09-18 16:52] jbrockmendel commented on #33524
closing as no action

[2020-09-18 16:52] #33524 closed

[2020-09-18 16:56] jorisvandenbossche commented on #32586
OK, but do we have any use case for that internally to have the `values` truncated or repeated?

[2020-09-18 16:59] phofl commented on #31286
Probably a little bit, but not in all cases. We have the same issues if var is irrational. We could change it nevertheless, because it may behave better.

[2020-09-18 16:59] jbrockmendel commented on #32586
We have Index.putmask and Block.putmask both of which expect np.putmask-like mechanics

[2020-09-18 17:06] wprazuch commented on #36448
take

[2020-09-18 17:09] jbrockmendel commented on #32325
closing as no action.  if youd like to discuss further we can reopen

[2020-09-18 17:09] #32325 closed

[2020-09-18 17:17] phofl commented on #26539
Should that even work? When I execute this now, I get

[code]

for the time column

[2020-09-18 17:42] ahgamut commented on #36450
I'll try to submit a PR for this. take

[2020-09-18 18:33] MarcoGorelli commented on #36448
Hi @prhbrt - what version of pandas are you running?

From master the link looks fine:
[code]

[2020-09-18 18:43] alimcmaster1 commented on #30469
@jbrockmendel think I have a branch somewhere that finishes this up - will push over the weekend.

Ali

[2020-09-18 19:03] jorisvandenbossche commented on #32586
Can you give an example where this specific numpy behaviour of truncating/repeating array-like values is used?

Doing a search for putmask, I get the following usages.

BlockManager.putmask is used in:

- Series.update: other value is already aligned
- NDFrame._where: not fully sure if other value is already aligned, but would expect so?

Block.putmask is used in (apart from BlockManager.putmask):

[2020-09-18 19:31] jorisvandenbossche commented on #32586
So `putmask` actually has another aspect of its behaviour that was not yet clear to me: it also masks the other values.
So that is what makes it different from `array[mask] = values`.

[code]

which is basically equivalent (in case the other values have the same length as the array) to: ``array[mask] = values[mask]``.

And I suppose it is this behaviour of putmask that might used in eg update or w

[2020-09-18 19:36] ahgamut commented on #36450
I've submitted #36457 for all the unchecked files.

[2020-09-18 20:12] snake575 commented on #34822
I have as similar situation with `df.apply` using `raw=True` along with `result_type="expand"`. It occurs with `pandas>=1.1.0`, `pandas==1.0.5` works as expected.

[code]

pandas 1.0.5
[code]

pandas >= 1.1.0
[code]

[2020-09-18 21:30] #36436 closed

[2020-09-18 21:55] #35700 closed

[2020-09-18 21:55] #36377 closed

[2020-09-18 21:59] #11645 closed

[2020-09-18 21:59] #28244 closed

[2020-09-18 22:20] #36450 closed

[2020-09-18 22:46] samilAyoub commented on #36424
take

[2020-09-19 01:05] dsaxton commented on #36451
ref https://github.com/pandas-dev/pandas/pull/35519 which I think caused the regression for str

[2020-09-19 01:07] fangchenli opened #36465 "CI: sql tests failures casued by pymysql"
While working on #36443, I found several sql tests failures related to the latest pymysql and sqlalchemy (could be one of them or both, not sure). See https://travis-ci.org/github/pandas-dev/pandas/jobs/728346186
[code]

[code]

Now those two packages have been pinned to their minimal support versions.
[code]

### Update
The problem is from pymysql. #34431 handled inf dtype for to_sql. But it fail

[2020-09-19 01:19] jbrockmendel commented on #36210
I checked what happened if I remove this behavior: 26 test failures, all about a freq mismatch.

[2020-09-19 01:38] jbrockmendel opened #36466 "API Consistency: validations on no-ops"
We are not consistent about whether we do validation checks on no-ops

Examples of no-ops:
  - `datetimelike_array[empty_indexer] = empty_values_wrong_dtype`    # <-- we do not raise
  - `series_dt64[empty_indexer] = empty_object_dtype`  # <-- we cast to object, meaning we did raise internally
  - `arr_with_no_nas.fillna(invalid_fill_value)`  # <-- we mostly dont raise, see below
  - `interval_ind

[2020-09-19 02:13] #28867 closed

[2020-09-19 02:14] #22205 closed

[2020-09-19 03:04] jreback commented on #36466
+1 we should raise ultimately if we have an invalid value

so deprecation fine for now

[2020-09-19 04:08] fangchenli opened #36467 "CI: ResourceWarning in `pandas/tests/io/test_html.py`"
It occurs occasionally on the travis-37-cov build.

[code]

[2020-09-19 04:32] ivanovmg opened #36469 "BUG: failed to setup dev environment (pip)"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-19 06:58] hickmanw opened #36470 "BUG: groupby(..., dropna=False) excludes NA values when grouping on MultiIndex levels"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

The desired behavior of dropna=False, namely including NA values in the groups, does not work when grouping on MultiIn

[2020-09-19 07:51] jorisvandenbossche commented on #36210
Because the slice keeps the freq per definition, and when doing a mask it always looses the freq?

[2020-09-19 07:57] GYHHAHA opened #36472 "BUG: Regex parameter from replace function doesn't work on string dtype"
1.1.1

0    a
1    b
dtype: string

0    <NA>
1       b
dtype: object

Hi, it seems that regex doesn't function well for the replace method on string dtype, but normal on object dtype.

Besides, I also find setting pd.NA as repl of str.replace method will raise error, both on string and object.
Yet I think it may be better not to raise this error because the pd.NA indeed could be a missing string

[2020-09-19 08:09] GYHHAHA commented on #36472
Oh, I find #35977 and #36038 have already discussed this bug.
Just see the second part for pd.NA permission in str.replace method.

[2020-09-19 09:33] topper-123 commented on #36451
This is a bit odd, seems like a straight str conversion (as is done in #35519) should work right:

[code]

But I see the function added in #35519 gives a different string:

[code]
 so something in ensure_string_array. I'll look into it.

[2020-09-19 09:43] jorisvandenbossche commented on #36451
Ah, so the difference is:

[code]

(because converting to object dtype converts to builtin float type)

So I suppose because float32 has less precision, the stdlib float shows those decimals. While the numpy.float32 behaves more as we want.

[2020-09-19 12:10] rhshadrach opened #36475 "TYP: FrameOrSeriesUnion"
From the discussion in PR #36409 it was mentioned that it is undesirable to type API functions as `NDFrame` as this may be confusing from a user perspective since it shows up in the docs. Currently the difference between `NDFrame` and `FrameOrSeriesUnion = Union[DataFrame, Series]` is that the former can be used in methods of NDFrame (and those called from NDFrame methods) whereas the latter canno

[2020-09-19 12:20] simonjayhawkins commented on #36475
at the moment, sphinx expands the aliases rather than showing the alias. see return type of https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.concat.html

see also #33025 and #28585

[2020-09-19 12:25] simonjayhawkins commented on #36475
#29480 sort of related as well.

[2020-09-19 12:27] rhshadrach commented on #36475
Thanks for the background @simonjayhawkins. I see a different result here:

https://pandas.pydata.org/docs/reference/api/pandas.concat.html

where the type-hints are not expanded. Is this a recent change that will impact the 1.2 docs when released?

[2020-09-19 12:52] simonjayhawkins commented on #36475
tbh, not even sure why they are appearing for pd.concat in html docs as they as supposed to be disabled, see #33312

for normal python help...

[code]

it even includes the ForwardRef! (this can now be removed, but not for backports, see #36034)

[2020-09-19 14:00] dsaxton commented on #36470
@hickmanw I think similar issues have already been reported in various forms: https://github.com/pandas-dev/pandas/issues/30750 https://github.com/pandas-dev/pandas/issues/36060

[2020-09-19 14:35] simonjayhawkins commented on #26913
@jorisvandenbossche closing as with the OP deleted this issue does not appear actionable.

[2020-09-19 14:35] #26913 closed

[2020-09-19 17:30] hdou opened #36479 "BUG: KeyError after groupby().size() when index is multiindex and involves nan"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-19 18:44] jbrockmendel commented on #36210
That was my thought too, but when i tried patching get_getitem_freq to account for that it didnt help

[2020-09-19 18:47] jbrockmendel commented on #4567
this could be neat, but probably should live outside of pandas

[2020-09-19 19:44] erfannariman commented on #36424
Insn't this question abouy why it doesn't do the replacing?

[2020-09-19 19:55] #35023 closed

[2020-09-19 19:56] #36359 closed

[2020-09-19 20:10] MarcoGorelli commented on #36424
Yes, but I believe I answered that in https://github.com/pandas-dev/pandas/issues/36424#issuecomment-694208658 , as you should not use chained slicing for assignment.

However, the OP didn't get a warning, even though they should've, so a test to make sure that such a warning will continue to be thrown would be useful

[2020-09-19 20:14] #36343 closed

[2020-09-19 20:24] #20445 closed

[2020-09-19 20:29] #35267 closed

[2020-09-19 20:49] jreback commented on #4567
these are actually trivially implemented with numba :->

[2020-09-19 20:49] #4567 closed

[2020-09-19 22:02] jreback commented on #31609
closed by https://github.com/pandas-dev/pandas/pull/36365

[2020-09-19 22:02] #31609 closed

[2020-09-19 22:04] #20649 closed

[2020-09-19 22:04] #35596 closed

[2020-09-19 22:05] #34360 closed

[2020-09-20 00:14] phofl commented on #36479
Hi,

thanks for your report. Looks like the resulting Index from the groupby operation does not treat the ``np.nan`` s within the MultiIndex as missing values. This seems to be the issue in here.

[2020-09-20 00:54] jbrockmendel commented on #36210
update: got it working, was patching incorrectly in one place

[2020-09-20 04:47] #36472 closed

[2020-09-20 04:52] arw2019 commented on #24211
This is fixed on 1.2 master. Running the OP I get:
[code]

<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : a22cf439e1a890b79a42ee1ca5e4dec4ca8dfd8e
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-47-generic
Version          : #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020

[2020-09-20 04:55] GYHHAHA opened #36492 "BUG: pd.NA in str.replace raises error"
1.1.1

I find setting pd.NA as repl of str.replace method will raise error, both on string and object.
Yet I think it may be better not to raise this error because the pd.NA indeed could be a missing string value.

TypeError: repl must be a string or callable

TypeError: repl must be a string or callable

And also, pd.NA can't be the pat of str.replace. Maybe reasonable to allow this.

TypeError:

[2020-09-20 06:20] GYHHAHA commented on #36492
Now, I think using replace instead of str.replace when pd.NA appears may be a better strategy.
Close.

[2020-09-20 06:20] #36492 closed

[2020-09-20 07:14] MarcoGorelli opened #36494 "Update outdated instructions in scripts/generate_pip_deps_from_conda.py"
It says
[code]
but it should be
[code]

No need to ask if you can work on this, feel free to just submit a PR

[2020-09-20 07:26] miles82 opened #36495 "REGR: fillna not filling NaNs after pivot without explicitly listing pivot values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Hi,

I have this (simplified) piece of code which seems to have stopped working correctly in Pandas 1.1:

[code]

#### Problem description

This is the output in Pandas 1

[2020-09-20 07:37] jorisvandenbossche commented on #36466
It would indeed be nice to make this more consistent. Moving towards always raising on a invalid fill value sounds good.

What would you do for the second example? (`series_dt64[empty_indexer] = empty_object_dtype` # <-- we cast to object, meaning we did raise internally) Keep that behaviour?

[2020-09-20 11:34] samilAyoub commented on #36495
I confirm this issue !

[2020-09-20 13:12] dsaxton commented on #36495
Thanks @miles82 for the nice report and @samilAyoub for confirming.

760ba37a776947694ec816eaf29ce8937e08f544 is the first bad commit
commit 760ba37a776947694ec816eaf29ce8937e08f544
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue May 26 15:47:18 2020 -0700

    CLN: _consolidate_inplace less (#34389)

 pandas/core/generic.py            |  9 ---------
 pandas/core/internals/managers.py |

[2020-09-20 15:14] hdou opened #36499 "BUG: concat series with NA in multiindex fail to combine rows of same index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-20 15:25] hdou opened #36500 "BUG: concat series returns error result when indexes use tuples with NA in them"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-20 16:04] dsaxton commented on #36500
See @phofl's response to your other issue https://github.com/pandas-dev/pandas/issues/36479. Also #30750 #36060 #36470, etc.

[2020-09-20 16:04] dsaxton commented on #36499
See @phofl's response to your other issue https://github.com/pandas-dev/pandas/issues/36479. Also #30750 #36060 #36470, etc.

[2020-09-20 17:06] rhshadrach commented on #36475
@simonjayhawkins This is an issue with Sphinx, currently open:

https://github.com/sphinx-doc/sphinx/issues/7785

[2020-09-20 17:40] rhshadrach commented on #35517
Agreeing with @jbrockmendel, apply unpacks list-like (e.g. replacing `np.ndarray('bar')` with `np.ndarray(['bar'])`) but it seems odd to me to extend this behavior with certain types of scalar.

[2020-09-20 17:54] dcsaba89 opened #36502 "BUG: to_numeric casts floats incorrectly"
- [ X ] I have checked that this issue has not already been reported.

- [ X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to r

[2020-09-20 18:20] asishm commented on #36502
I believe this is related to #36451

In that case #36464 should fix this

[2020-09-20 18:30] DOH-Manada opened #36505 "QST: Wish to know how to properly avoid SettingwithCopyWarning without changing dtype"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).
---

#### Question about pandas

The data dataframe's label column is dtype: float64, and consists of four numbers, `[ 0.,  2.,  1.,  3., nan]`.
[code]
produces a SettingWithC

[2020-09-20 18:35] junjunjunk commented on #31220
take

[2020-09-20 19:02] dishak331 commented on #36494
I would like to work on this

[2020-09-20 19:07] junjunjunk commented on #31220
May I ask you a quick question?
I'll add na_position argument to Index.sort_values.
Then, which should I set the default value of na_position, first or last?

The default value of na_position in Series.sort_values is **last**.
On the other hand, the default value of na_position in Series.sort_values should be **first** in order to be non-destructive.
May I set the default value to "last" in order

[2020-09-20 19:24] dishak331 commented on #36494
#36506

[2020-09-20 19:25] dishak331 commented on #36494
[https://github.com/pandas-dev/pandas/pull/36506](url)

[2020-09-20 19:29] rhshadrach opened #36507 "ENH: Allow as_index=False on SeriesGroupBy"
Would make the code:

    s.to_frame(s.name).groupby(groups, as_index=False).sum()

Become:

    s.groupby(groups, as_index=False).sum()

The change should just amount to calling a function like:

[code]

in various methods of SeriesGroupBy (and could be used in DataFrameGroupBy).

This would close #13666 and make #35443 to be just about error reporting for the `axis=1` case.

[2020-09-20 19:30] rhshadrach commented on #13666
The current behavior appears correct. I think the only thing left in this issue is @jorisvandenbossche's comment that `as_index=False` does not work on a Series. I think this issue would be resolved if `as_index=False` worked on a SeriesGroupBy, see #36507. Currently, one could do:

    s.to_frame(s.name).groupby(pd.TimeGrouper(freq='M'), as_index=False).nth(5)

[2020-09-20 19:31] junjunjunk commented on #31220
This issue has already resolved?
https://github.com/pandas-dev/pandas/commit/ba552ec0e3fd077eabbfbc98cae6d45980eb0d09#diff-248241e14f081931cc805f9d0e137a5f

[2020-09-20 19:33] avinashpancham commented on #36344
The option to target a subset of benchmarks is luckily already specified on the page and illustrated with examples, see below. If we want to update points 1 and 2 then I can update that.

You can run specific benchmarks using the -b flag, which takes a regular expression. For example, this will only run tests from a pandas/asv_bench/benchmarks/groupby.py file
[code]
If you want to only run a speci

[2020-09-20 19:54] junjunjunk commented on #28384
take

[2020-09-20 19:57] arw2019 commented on #2953
On 1.2 master:
[code]
<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : a22cf439e1a890b79a42ee1ca5e4dec4ca8dfd8e
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-47-generic
Version          : #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020
machine          : x86_64
processor

[2020-09-20 20:19] dcsaba89 opened #36508 "BUG: aggfunc use different default arguments in pivot_table"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-20 20:47] dsaxton commented on #31220
@junjunjunk I think you're right. Looks like this was implemented with tests added, so this can be closed

[2020-09-20 20:47] #31220 closed

[2020-09-20 20:58] ghislainp opened #36509 "MultiIndex.from_product could accept MultiIndex"
#### Is your feature request related to a problem?

The problem is in xarray.DataArray.to_dataframe() which uses MultiIndex.from_product() to build the index based on the array coordinates.
When an xarray has a MultiIndex as one of the coordinates, from_product is called with a Multiindex as one of the iterable. This raises an exception, as discussed here https://github.com/pydata/xarray/issues/30

[2020-09-20 21:17] erfannariman commented on #36505
Can you create a reproducable example?

[2020-09-20 21:29] jreback commented on #36509
can u show an example

[2020-09-20 21:31] jreback commented on #36508
there have been several issues about this -
pls
search the tracker

[2020-09-20 22:07] rhshadrach commented on #10100
Thanks - agreed @victorlin. Also, one can now use kwargs with `agg` as well:

[code]

produces

[code]

[2020-09-20 22:07] #10100 closed

[2020-09-20 22:23] jbrockmendel commented on #5502
-1, the API is too big as it is, plus it isn't obvious that it refers to the index and not the data

[2020-09-20 22:34] dsaxton commented on #36502
Hmm, I think this may even be fixed on master:
[code]

[2020-09-20 23:00] jreback commented on #5502
yep we already have .dt to direct this

[2020-09-20 23:00] #5502 closed

[2020-09-20 23:20] DOH-Manada commented on #36505
Sorry erfannariman, I didn't realize that my column actually contained nans.

My reproducible example is below, even though I am not getting the same behaviour I described before.
[code]

[2020-09-20 23:26] jbrockmendel commented on #12993
Not wild about making DatetimeArray have a dependency on Categorical (which in turn has dependency on Index)

[2020-09-20 23:26] jbrockmendel commented on #12854
Closing as no action; there isn't a viable way of doing this that doesn't kill perf.

[2020-09-20 23:26] #12854 closed

[2020-09-20 23:30] jreback commented on #36505
please read the docs; this is the very first example of chained indexing

https://pandas.pydata.org/docs/user_guide/indexing.html

[2020-09-20 23:30] #36505 closed

[2020-09-20 23:32] jreback commented on #36505
it's not always possible to preserve dtypes with integer dtypes

[2020-09-20 23:33] jreback commented on #12993
this would be an indirect dependency and is for user convenience

[2020-09-20 23:46] dsaxton commented on #36502
Appears this was fixed / tested for in https://github.com/pandas-dev/pandas/pull/36149 so closing as resolved

[2020-09-20 23:46] #36502 closed

[2020-09-20 23:48] jbrockmendel commented on #13153
i dont think there's a nice way to do this

[2020-09-20 23:57] jbrockmendel commented on #14462
has pyarrow solved this to everyone's satisfaction?

[2020-09-21 00:57] jbrockmendel commented on #16768
the existing is_foo_dtype functions are pretty slow.  would this be more performant?

[2020-09-21 01:23] jbrockmendel commented on #17441
The example in the OP has 4 blocks, likely the same underlying issue as #10539

[2020-09-21 01:43] GYHHAHA opened #36512 "DOC: default value for pd.DateOffset() is 24 hours instead of 1 calendar day"
[code]

The default action for pd.DateOffset seems to be equal to pd.DateOffset(hours=24) instead of pd.DateOffset(days=1).
But the user guide says DateOffset object defaults to 1 calendar day.

<img width="611" alt="捕获" src="https://user-images.githubusercontent.com/41546976/93727690-db677480-fbee-11ea-9439-24979ebb85ce.PNG">