[2020-01-04 17:57] tamasgal commented on #14563
Thanks!

[2020-01-04 17:57] #14563 closed

[2020-01-04 18:21] #20756 closed

[2020-01-04 18:59] kurtforrester commented on #29705
I think I too have encountered the same/similar issue.

I have irregular transactional data with a date timestamp. I perform some grouping and aggregating of the data to produce uniform mean balances. When plotting data with different timestamps there is an issue with an offset in the data representation.

[code]

When plotted onto individual subplot axes the data is rendered correctly (each is as

[2020-01-04 19:07] #27017 closed

[2020-01-04 19:12] AlexKirko opened #30692 "BUG: calling Timestamp constructor on Timestamp at DST changes Timestamp value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

TLDR: Calling the Timestamp constructor on a Timestamp shouldn't change the object in any way.

Long version: Ran into this while working on solving #30543. When we localize into a Daylight Savings Time timezone, we are forced to alter the underlying value of a Timestamp to make it fit non-DST timezones. WIthou

[2020-01-04 19:13] ryankarlos commented on #13318
take

[2020-01-04 19:14] AlexKirko commented on #30543
Ran into a blocking bug while working on this one and submitted an issue (#30692). Will work on it first to solve the current issue cleanly.

[2020-01-04 19:27] kurtforrester commented on #29705
A further example to present the issue. When the original data is plotted first there is no issue with alignment (all display correctly).

[code]

[2020-01-04 19:46] mroeschke commented on #30692
Thanks for the report. I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/24329

[2020-01-04 19:46] #30692 closed

[2020-01-04 20:14] topper-123 commented on #27258
@jorisvandenbossche Is there a status on this? I'm working on #30690, where ideally I'd like to remove the ``_create_index`` method.

[2020-01-04 21:33] #14958 closed

[2020-01-04 21:43] jschendel opened #30699 "BUG: Datetimelike equality comparisons with Categorical"
#### Code Sample, a copy-pastable example if possible
Consider the following setup on master:
[code]

Equality comparisons with an equivalent `Categorical` are incorrect for `DatetimeIndex`:
[code]

Equality comparisons raise for `PeriodIndex`:
[code]
Looks good for `TimedeltaIndex`:
[code]

The incorrect behavior above is generally consistent when replacing the index with its extension array/Seri

[2020-01-04 21:58] jschendel commented on #30699
Worthwhile to note that equality comparisons for non-datetimelike vs. equivalent categoricals looks to be working (intervals being fixed in #30640).

Also looks like #30654 addresses the issue of `PeriodIndex`/`PeriodArray` raising and makes the behavior consistent with the `DatetimeIndex`/`DatetimeArray` examples.

[2020-01-04 22:07] Sangarshanan commented on #29547
Working on

 - [x] pandas/tests/groupby/aggregate/test_other.py
 - [x] pandas/tests/groupby/test_apply.py
 - [x] pandas/tests/groupby/test_bin_groupby.py
 - [x] pandas/tests/groupby/test_categorical.py
 - [x] pandas/tests/groupby/test_counting.py
 - [x] pandas/tests/groupby/test_function.py
 - [x] pandas/tests/groupby/test_groupby.py
 - [x] pandas/tests/groupby/test_transform.py
 - [x] pandas/test

[2020-01-04 22:17] AlfredoGJ commented on #29547
I'll take
- [ ]  scripts/validate_docstrings.py
- [ ]  scripts/tests/test_validate_docstrings.py
- [ ]  scripts/generate_pip_deps_from_conda.py
- [ ]  scripts/download_wheels.py
- [ ]  pandas/tseries/holiday.py
- [ ] pandas/tests/window/test_window.py
- [ ]  pandas/tests/util/test_validate_kwargs.py
- [ ]  pandas/tests/util/test_validate_args.py

[2020-01-04 22:38] jbrockmendel commented on #30699
Does it work with the Categorical on the left?  i.e. will it be sufficient to make the DTA/PA ops return NotImplemented?

[2020-01-04 22:57] #30433 closed

[2020-01-04 23:12] #29070 closed

[2020-01-04 23:20] topper-123 commented on #26410
I'd be +1 to a  method that so that we can roundtrip and other ExtensionArrays. It could be useful simplify going to/from MultiIndex and DataFrame colunms.

``to_dense`` is a wrapper around np. asarray so is quite useless. I'm +1 to deprecate that.

[2020-01-04 23:23] tqdo commented on #30593
Not sure whether this is related to the above bug but this one also produces wrong result

[code]
and
[code]

[2020-01-05 04:35] timurhamzin commented on #20369
There is no need to calculate distance between EVERY point if one specifies tolerance criteria for separate merge keys. The common metric could be added as another parameter (function taking arbitrary number of arguments).

[2020-01-05 13:21] AlexKirko commented on #24329
@mroeschke Thanks for linking this. The problem is that if `TimeStamp.value` doesn't change (for example if we introduce a shortcut that just returns the object when TimeStamp constructor is called on TimeStamp), this breaks some functionality (`date_range`, to be specific).
I'll play with the code a bit and see if I can fix the behavior.

[2020-01-05 13:32] hwalinga commented on #30683
ABCSeries is not the correct type hint. It probably should be Union["Series", MultiIndex]

[2020-01-05 15:00] alimcmaster1 opened #30709 "CI: Numpy Dev Build Failing"
Example build failures link [here](https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=24934&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=fe74a338-551b-5fbb-553d-25f48b1836e8)

and on master:
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=24897&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=fe74a338-551b-5fbb-553d-25f48b1836e8

Believe the error is:

![image](h

[2020-01-05 16:13] #30709 closed

[2020-01-05 17:18] giuliobeseghi commented on #30657
Ok. I raised it because I couldn't call `(s.index == t.index).all()`, and I expected I could. But I can do the same with `all(s.index == t.index)`.

Is there a better way to make sure that two series have exactly the same index?

[2020-01-05 17:24] giuliobeseghi commented on #30657
Sometimes I just don't really understand why the behavior of pd.Index is different from series and df. I know it's not an Ndframe, but to me it kind of looks like an enhanced column of a DataFrame. Was it designed this way historically or was there a proper reason to differentiate it from DataFrames and Series?

[2020-01-05 17:25] jorisvandenbossche commented on #13777
Yes, this can be closed I think. Also, from now on we are going to tick the boxes in the original issue logging the deprecations, and not moving them to a new issue like this one. The issue to log deprecations in 1.x (removed in 2.0) is https://github.com/pandas-dev/pandas/issues/30228

[2020-01-05 17:25] #13777 closed

[2020-01-05 21:10] yehoshuadimarsky commented on #30621
From for what it's worth, in @wesm's book he provides this useful snippet for converting a GroupBy into a dict:

Here's the link from the GitHub repo https://github.com/wesm/pydata-book/blob/2nd-edition/ch10.ipynb?short_path=6bf65b4#L206

[2020-01-05 21:33] #24112 closed

[2020-01-05 21:39] #30593 closed

[2020-01-05 22:18] jschendel commented on #30699
No, it works in a few additional cases that way but not for all cases, e.g.

[code]

[2020-01-05 22:21] danijar opened #30716 "ValueError when reading JSON lines file"
## Overview

Using `pandas==0.25.1` with `Python 3.7.1` on Debian, loading the following JSON lines file fails using `pandas.read_json()` but succeeds when read manually.

After looking into this a bit, I think it might be related to `NaN` in the JSON file which is not supported by the spec but accepted by `json.loads()`. If that turns out to be the case, it would be good to have an option to igno

[2020-01-05 23:19] gfyoung commented on #24130
This difference still persists on `master` for the `C` engine.

I should point out that these examples will work if you don't pass in the `encoding` parameter to `read_csv` in both cases.

[2020-01-06 03:56] autocyz commented on #30555
`pd.read_csv` default `memory_map` seem not to work,  if I explicitly set `memory_map` to `False`, it work

[2020-01-06 09:03] jorisvandenbossche commented on #29884
Since other index types sort the NaNs last, I would maybe consider this a bug and just change it (that's also what numpy did, IIUC). Eg:

[code]

If we want to do a deprecation cycle, we probably need to add a `na_position` keyword to Index.sort_values? (Series.sort_values has that, but Index not)

[2020-01-06 09:13] simongibbons commented on #30716
The latest master will parse and load the given file fine as we have recently merged a fix to allow parsing NaN values from json. (cc https://github.com/pandas-dev/pandas/pull/30295 )

[2020-01-06 09:43] Arsilla opened #30726 "Rolling min/max gives malloc error"
#### Code Sample

[code]
#### Problem description
The above snippet is part of a function called in my main script. Running this results in either a `malloc: Incorrect checksum for freed object 0x7fbf626f1f30: probably modified after being freed.` error or a segmentation fault.
The culprit appears to be the `rolling().max()` line, since commenting out the line fixes the issue, as does replacing `.

[2020-01-06 09:58] greglandrum opened #30727 "Re-unify execution paths for to_html() and _repr_html_()"
The changes associated with #27991 (merged as part of v0.25.1) changed the behavior of `DataFrame._repr_html_()`

We use monkey patching to allow the automatic display (within Jupyter notebooks) of chemical structures stored in DataFrames as part of the RDKit project. Given how useful it is to be able to automatically render specialized data types in DataFrames, I would assume we're not the only o

[2020-01-06 11:02] datapythonista commented on #29214
No idea, can you share a link to this tab please?

[2020-01-06 11:37] alexmojaki opened #30729 "TypeError when subtracting datetime64 and timestamp but only in eval"
#### Code Sample

[code]

Live demo: https://repl.it/repls/SelfassuredFrighteningNumber

#### Problem description

Subtraction works 'normally' but not when used inside DataFrame.eval or .query. AFAIK the two methods should be equivalent. eval fails with:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.

[2020-01-06 11:38] alexmojaki commented on #30729
Perhaps related issue I found: https://github.com/pandas-dev/pandas/pull/28286

[2020-01-06 11:44] marco-neumann-jdas opened #30730 "Nightly Builds"
Until 2019-11-02, https://7933911d6844c6c53a7d-47bd50c35cd79bd838daf386af554a83.ssl.cf2.rackcdn.com/ contains nightly builds of pandas for different platforms. Is there any chance that this will be continued? I am asking because nightly testing is very helpful for some downstream artifacts to discover unintentional breaking chances or regressions before a new pandas version gets released. Building

[2020-01-06 11:59] jreback commented on #30730
looks like the nightly wheel build has been failing

https://travis-ci.org/MacPython/pandas-wheels/builds

i don’t think i get status emails on this any more
not sure why

cc @pandas-core if someone can look

[2020-01-06 12:00] jreback commented on #30730
@pandas-dev/pandas-core

[2020-01-06 12:02] venatir opened #30731 "KeyError: 0 error on groupby apply"
#### Code Sample, a copy-pastable example if possible

[code]

Looks like groupby.apply crashes when using datetime aggregation and returning non-datetime data.

The problem is here: `pandas.core.groupby.generic._recast_datetimelike_result`
`/pandas/core/groupby/generic.py:1857`

[code]

E.g. My result columns are 12,13 and this is trying to iterate through the 0,1 which is the range.

The code in

[2020-01-06 12:03] jreback commented on #30729
pls try on master

[2020-01-06 12:06] alexmojaki commented on #30729
I don't have that set up personally, can you just copy paste the script?

[2020-01-06 12:07] jreback commented on #30731
pls reformat the top to only include a minimal reproducible example

your aggfunc is not defined

if you have commentary in the causes then put in another comment or clearly delineate this from the top

if it requires everyone reading the entire top section to grok then the likelihood  of a response will be greatly decreased

[2020-01-06 12:07] datapythonista commented on #30730
I can have a look, but I wasn't aware we had this. If it's not in our CI, who is maintaining those builds?

Probably I'm missing something, but if the idea is providing wheels, shouldn't it be better to generate them from our own builds? I think our CI is already too complex to also have to maintain builds elsewhere.

[2020-01-06 12:07] vfilimonov opened #30732 "to_csv swallows exception when writing to S3"
I'm not sure if this issue belongs to `pandas` or `s3fs`.

When writing to non-existing bucket or bucket without proper permissions no exception is raised. E.g. the following code will be executed normally:
[code]

In contrast, when writing to a local file without proper permissions results in an exception as it should be:
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSION

[2020-01-06 12:13] jreback commented on #30730
wheel building is a separate animal and non trivial
we also need a whole bunch of workers to do this
for all of these reasons it is a separate repo

these are documented as part of the release process

i suppose you could do the nightly builds as github actions

[2020-01-06 12:15] galuhsahid opened #30733 "Fix SS03 issues in docstrings"
Fix the docstrings where summary does not end with a period.

Current errors found:
[code]

[2020-01-06 12:15] galuhsahid commented on #30733
I'll be working on this

[2020-01-06 12:16] datapythonista commented on #30730
Thanks for the info, will check the release docs.

[2020-01-06 12:25] TomAugspurger commented on #30730
I was also going to take a look at the wheel building stuff on Tuesday in preparation for the RC.

[2020-01-06 12:30] jorisvandenbossche commented on #30685
That's clearly a bug in the BooleanArray.value_counts implementation. And indeed, we should use pd.NA instead of np.nan in the object index.

[2020-01-06 12:31] jorisvandenbossche commented on #30685
@jbrockmendel you have an open PR that relates to EA.value_counts. Does that in some way also fixes this? (otherwise I can have a look at this issue)

[2020-01-06 12:32] TomAugspurger commented on #30415
This will need to be configurable.

Dark: <img width="2032" alt="Screen Shot 2020-01-06 at 6 29 45 AM" src="https://user-images.githubusercontent.com/1312546/71818251-0f453e80-304e-11ea-88e9-7801ebca5fd8.png">

Light:
<img width="2027" alt="Screen Shot 2020-01-06 at 6 29 29 AM" src="https://user-images.githubusercontent.com/1312546/71818268-179d7980-304e-11ea-88ae-3ead88c8ea52.png">

Is this somet

[2020-01-06 13:03] datapythonista commented on #30733
I think all those are false positives. The docstring being analyzed is not in pandas, but a the one of a Python object. This should be already fixed in the script, but not in the pandas version, but in the version moved to numpydoc. Which we still need to integrate into pandas.

Feel free to have a look and double check.

[2020-01-06 13:11] jorisvandenbossche opened #30735 "BUG/DEPR: the deprecation of util.testing fails for direct imports"
[code]

It works when accessing from top-level import:

[code]

[2020-01-06 13:12] jorisvandenbossche commented on #30735
cc @TomAugspurger

[2020-01-06 13:19] erezinman opened #30736 "Inconsistency/bug when selecting from a data-frame using an unsorted DatetimeIndex"
#### The following is a MWE of the error:

[code]
#### Problem description

There are quite a few problems with this behavior:
1. It's counter-intuitive that the query will succeed when such slight changes cause differences in behavior.
1. The error-message on the 3nd case is very uninformative, considering what has to be done to fix this problem (sort/convert to string).
1. How come this query wo

[2020-01-06 13:21] Dr-Irv commented on #30415
@TomAugspurger You also have to worry about the documentation impacts, because will the color show up in the docs?  And even if it does, that's not good for the color blind.  That's why I suggested the `'«NA»'` option.  Visible to everybody (and probably a smaller diff?)

[2020-01-06 13:22] #23557 closed

[2020-01-06 13:27] TomAugspurger commented on #30415
Yes, the color should show up in the docs.

On Mon, Jan 6, 2020 at 7:21 AM Irv Lustig <notifications@github.com> wrote:

[2020-01-06 13:28] TomAugspurger commented on #30735
Thanks, looking into it.

[2020-01-06 13:29] #23563 closed

[2020-01-06 13:30] #28115 closed

[2020-01-06 13:47] jorisvandenbossche opened #30738 "API: positional indexing with IntegerArray"
Currently, the following does not work (but probably should):

[code]

So that raises the following questions:

- This should probably simply work for the above case? (converting the IntegerArray to a numpy integer array, instead of object array, so numpy's indexing works) We might want to combine this with the boolean array checking?
- What if there are missing values? This should probably simply

[2020-01-06 13:47] TomAugspurger commented on #30735
I think the easiest way to restore these is as references to the _DeprecatedModule items. Something like

[code]

[2020-01-06 14:12] TomAugspurger commented on #30735
Actually that doesn't work since the user doesn't see the warning...

[2020-01-06 14:56] praful-potphode commented on #8540
is this issue fixed????

[2020-01-06 14:59] simonjayhawkins opened #30740 "DataFrame.unstack() with list of levels ignores fill_value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

when unstacking with a list of levels on a DataFrame that already has a columns MultiIndex, fill_value is ignored.

#### Expected Output

[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 4206fd42cc5cd20204c0c5f192f7e59f204ad48d
python           :

[2020-01-06 15:25] vfilimonov opened #30741 "Suggestion: remove tests from the distribution"
Would it make sense to remove `tests` folder from the pandas distribution? It takes roughly 33% of the whole package weight.

It is especially important when using pandas inside the AWS Lambdas, where the deployment package size is limited to 50 MB zipped and 5 MB might really make a difference.

[code]

[2020-01-06 15:30] jorisvandenbossche opened #30742 "PERF: regression in getattr for IntervalIndex"
Master:

[code]

while on 0.25.3:

[code]

(just checked a few attributes, didn't check if it is related to those specific ones or getattr in general)

I think this is a cause / one of the causes of several regressions that can currently be seen at https://pandas.pydata.org/speed/pandas/ (eg https://pandas.pydata.org/speed/pandas/#reshape.Cut.time_cut_timedelta?p-bins=1000&commits=6efc2379-b9de33e

[2020-01-06 15:31] jorisvandenbossche commented on #30742
cc @jbrockmendel this might be related: https://github.com/pandas-dev/pandas/pull/30605

[2020-01-06 15:45] TomAugspurger commented on #30741
I think we've talked about that in the past. We do have `pandas.test()` as part of the public API however, so we'd need to consider that.

A couple options:

1. Provide a separate distribution like `pandas-slim` or something that excludes these files (and docs)
2. Have `pandas.test()` fetch the source files on demand. That seems a bit messy though.

Just as a note: we do exclude the test data file

[2020-01-06 15:49] HughKelley commented on #27977
Saw this in `validate_docstrings.py` and thought it was useful to share.

[code]

[2020-01-06 16:06] jbrockmendel commented on #30742
#30605 changed _ndarray_values from a cache_readonly to a property.  Easy to update.

[2020-01-06 16:11] jorisvandenbossche commented on #30742
That might be easy to update, but I am not sure that this explains the slowdown in the other attributes / slowdown in dependent functionality? Eg pd.cut (the actual benchmark I was investigating):

[code]

This `pd.cut` call also shows a slowdown, so would need to check if the caching improves that again (note, I also didn't fully investigate if the slowdown here is caused by the IntervalIndex att

[2020-01-06 16:13] WillAyd commented on #30730
ref https://github.com/pandas-dev/pandas-release/issues/20 I do think switching over to Actions would be possible; I've done something similar for another project https://github.com/innobi/pantab/pull/37/files sans the manylinux piece

[2020-01-06 16:28] jorisvandenbossche opened #30744 "PERF: Categorical indexing performance regression"
Recent regression in the `categoricals.CategoricalSlicing.time_getitem_list` benchmark: https://pandas.pydata.org/speed/pandas/#categoricals.CategoricalSlicing.time_getitem_list?commits=6efc2379-b9de33e3

Reproducible example for this benchmark:

[code]

Now, this slowdown is due to the changes in https://github.com/pandas-dev/pandas/pull/30308. Categorical `__getitem__` now checks if the key is a

[2020-01-06 16:31] jbrockmendel commented on #30685
No, that shouldn't change any behavior.

I think the fix is fairly straightforward for BooleanArray, on L572 `np.concatenate([index, np.array([np.nan], dtype=object)]), dtype=object)` changing the `np.nan` to `pd.NA` should do the trick.  Or possibly use `self.dtype.na_value` like IntegerArray.

[2020-01-06 16:38] galuhsahid commented on #30733
I've randomly sampled some examples and yes seems like those are all false positives. Is the revised script ready to use? If so, where can one find it? Or shall we wait until it is integrated into pandas? Thank you!

[2020-01-06 16:39] jorisvandenbossche commented on #30744
Actually, I think I am wrong in the fact that it is the object dtype support that is the additional overhead in this case. It rather is the conversion of the list to a numpy array, to then only see it is an integer array and not a boolean array, and throw the converted array away (and later have to do the conversion again, when actually indexing with the integer list)

[2020-01-06 16:56] TomAugspurger commented on #30744
So IIUC, the best thing to do is convert list inputs into array inputs as early as possible? And then re-use that (hopefully well-typed) input later on?

[2020-01-06 16:57] gfyoung commented on #8540
@praful-potphode We have a PR open (#29836) that is trying to address this issue.  If you have any thoughts on pushing that PR forward, that would be great!

[2020-01-06 17:30] trevorbye commented on #30517
@jreback there's a comment in that PR from the OP where they say

This pretty much my question as well after looking at this. Looking at the example @Dr-Irv is showing here for `set_index()`, the type inference doesn't seem like a bug. The call stack for `set_index()` eventually gets to the `Index` (or `MultiIndex`) class constructor where it builds the index.

If you look at that [constructor](ht

[2020-01-06 17:34] datapythonista commented on #30733
I'm on it, just opened the PR, #30746, hopefully it merged in few days, and we can start using the new validation. In the meantime, feel free to fetch my branch locally, and run it, so get the new list of errors.

[2020-01-06 17:58] danijar commented on #30716
Thanks!

[2020-01-06 17:58] #30716 closed

[2020-01-06 18:13] gsganden opened #30748 "`pandas.DataFrame.explode()` combines rows with repeated index values"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

#### Problem description

We are getting rows with e.g. `A=3` and `B=x`, which never appears in the original data. The `.explode()` method appears to be effectively combining rows with the same index value before splitting them, which is surprising at least to me.

#### Expected Output

[code]

#### Output of ``pd.show

[2020-01-06 18:30] charlesdong1991 opened #30750 "NA is not included in MultiIndex.levels if we construct MI with nan"
If we construct MI with `nan`, and check the `levels`, output does not contain `nan`,
[code]

However, if the `nan` is gotten by operations, the `nan` is included, e.g.
[code]

This is quite weird though

[2020-01-06 18:52] galuhsahid commented on #30733
I fetched your branch locally & tried running the new script but I get the same list of errors as previously. I'm not sure if I'm missing something, though.

[2020-01-06 19:23] jreback commented on #30748
can u try this on master

[2020-01-06 19:25] jorisvandenbossche commented on #30744
Yes, that's correct. But seeing that basically every internal ExtensionArray and also external ExtensionArray would want to do this, I am wondering if we rather want to expose something like `check_array_indexer` instead of the boolean specific one we exposed now. That could also avoid those avoidable extra conversions.

[2020-01-06 19:26] jorisvandenbossche commented on #30744
Such a common function might also help with https://github.com/pandas-dev/pandas/issues/30738

[2020-01-06 19:28] #30744 closed

[2020-01-06 19:56] vfilimonov commented on #30741
Hello @TomAugspurger

`pandas-slim` sounds like an good workaround.

It looks like docs are not a part of the distribution.
And right it's tests code only without the data files - in terms of size they are second to `_libs` and almost equal to the rest of the code.

[code]

And what is the reason of having tests as a part of an API? I see that numpy, scipy, matplotlib etc are doing the same (while

[2020-01-06 20:19] TomAugspurger commented on #24877
This probably isn't a blocker for 1.0 right?

[2020-01-06 20:24] TomAugspurger commented on #24559
IIUC, this can be closed since the changes have been made and the deprecation enforced.

[2020-01-06 20:24] #24559 closed

[2020-01-06 20:26] TomAugspurger commented on #28778
I think this has been implemented.

https://dev.pandas.io/docs/user_guide/boolean.html and https://dev.pandas.io/docs/reference/api/pandas.arrays.BooleanArray.html#pandas.arrays.BooleanArray

[2020-01-06 20:26] #28778 closed

[2020-01-06 20:31] TomAugspurger commented on #30741
Thanks for correcting me on the docs stuff.

I'm not sure why all these projects tend to include tests. As a guess, I
suspect that we have more issues related to how the packages are built
(compilers, flags, libraries we link to) than they do.

On Mon, Jan 6, 2020 at 1:56 PM Vladimir Filimonov <notifications@github.com>
wrote:

[2020-01-06 20:47] TomAugspurger commented on #30742
On master right now, `CategoricalIndex._ndarray_values` is using `Index._ndarray_values`, which is something like 6x slower than before (just an attribute lookup).

https://github.com/pandas-dev/pandas/pull/30717/files is adding an `ExtensionIndex._ndarray_values` which would I think fix at least one source of the slowdown. Or we can have a targeted fix restoring CategoricalIndex._ndarray_values a

[2020-01-06 20:53] jorisvandenbossche commented on #26206
I think it is a problem of using a full url in "closes ..." instead the #number

[2020-01-06 20:57] gsganden commented on #30748
I get the expected result on master:

[code]

<details>

[code]

</details>

[2020-01-06 20:57] #30748 closed

[2020-01-06 21:00] Connossor commented on #30750
This caused me a headache in the past - when merging together two dataframes by a multiindex, all the wrong rows seemed to match up, even when the multiindexes in each dataframe had the same values and the same inferred type. The root cause seemed to be because the `nan`s were stored differently in the levels, as described above.

[2020-01-06 21:03] jorisvandenbossche commented on #26706
Example application: scikit-learn wants to know if a passed DataFrame is sparse or not (https://github.com/scikit-learn/scikit-learn/issues/15976)

[2020-01-06 21:25] TomAugspurger commented on #30750
cc @topper-123 if you have thoughts here.

[2020-01-06 21:39] TomAugspurger opened #30758 "DataFrame accessors can be overridden by column names"
I don't think we want this

[code]

That should instead return the accessor.

[2020-01-06 23:52] #30758 closed

[2020-01-07 00:01] #30735 closed

[2020-01-07 00:13] jreback commented on #30517
So my preferred api to this would be that we DO preserve things exactly on round-trip., meaning the identity

[code]
would always be True (ignoring the column reordering, e.g. you set from not the last column, but the reset puts it last).

Hence (and this would be an API change), we should *not* coerce ``object`` dtypes on set / reset index.

Note that this actually has nothing to do with Index it

[2020-01-07 00:50] lambertsbennett commented on #29671
Looking at the TravisCI output, it looks like only two jobs are being split with each job taking half the tests. Maybe splitting the files more doesn't make much of a difference as a result of too few threads/jobs?

Another thing that I noticed, is that when the coverage reports are detected that there are several 'failed to upload' messages followed by 'sleeping for 30s and trying again...'. Depe

[2020-01-07 03:42] stonecharioteer commented on #30741
I particularly used to run the tests for numpy, scikitlearn and matplotlib after installing, since at times I'd have them fail on Windows. However this was quite some time ago, 4 years ago perhaps. Perhaps other users were doing the same?

[2020-01-07 05:59] fullflu opened #30770 "pandas.read_csv of S3 gets inconsistent results within / outside Docker"
## Overview
I found that the number of lines increased when I read a csv file by `pd.read_csv` from S3.
I also confirmed that several rows are duplicated with the transformation of types (their values are transformed into object-type).

This might be related to [pandas.read_csv duplicate issue](https://stackoverflow.com/questions/51790913/pandas-read-csv-duplicate-issue) , but I cannot solve the p

[2020-01-07 06:59] xuancong84 opened #30772 "DataFrameGroupBy.boxplot crashes if any group contains duplicate index"
For DataFrameGroupBy, if any group contains duplicate index, boxplot will crash. See code below for illustration, setting crash=True will give rise to duplicate index in Group 1 (2nd group), causing boxplot to crash.

[code]

The error stack trace looks like the following:
[code]

From practical point of view, when people use boxplot, it is not necessary to ensure no duplicate index, therefore, bo

[2020-01-07 07:33] jorisvandenbossche commented on #30642
Reopening to track my comment in the PR: https://github.com/pandas-dev/pandas/pull/30656#issuecomment-571471175 (so we have an issue with the correct milestone)

[2020-01-07 07:42] jorisvandenbossche commented on #30750
Related discussion: https://github.com/pandas-dev/pandas/issues/29111

[2020-01-07 09:54] datapythonista commented on #30733
There were some changes implemented to the script, that were supposed to help get the docstring of the correct object. I'll have a look and find that PR, and see if everything is working as expected. I guess it's not.

[2020-01-07 11:48] TomAugspurger commented on #30772
Thanks for the report. The problem looks to be a bit deeper than boxplot.

[code]

I haven't looked to see what the expected output of that concat is. Are you interested in investigating further @xuancong84?

[2020-01-07 11:49] krishnachouhan opened #30776 "concat with same column names"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
**why**
Concat on dataframes containing same column name leads to multiple entries with same column name.(it should append the columns with column_name_1 and column_name_2, similar to merge). On performing actions on the column(as shown in above example) it leads to action replicated to both the columns.

**Vers

[2020-01-07 11:49] TomAugspurger commented on #13084
Duplicate of https://github.com/pandas-dev/pandas/issues/6963.

[2020-01-07 11:49] #13084 closed

[2020-01-07 11:50] TomAugspurger commented on #30772
Actually, this is a duplicate of https://github.com/pandas-dev/pandas/issues/6963. Post over there if you're interested in investigating.

[2020-01-07 11:50] #30772 closed

[2020-01-07 11:59] TomAugspurger commented on #30776
You can use `ignore_index=True` to discard the entries. Otherwise, you can perform the renaming ahead of time. I don't think we want to make `concat` more complex than it already is by performing this automatic renaming.

You might be interested in following https://github.com/pandas-dev/pandas/pull/28394, which would address this in a different way.

[2020-01-07 12:06] TomAugspurger commented on #30730
Should be fixed by https://github.com/MacPython/pandas-wheels/pull/68

[2020-01-07 12:06] #30730 closed

[2020-01-07 12:07] jreback commented on #30776
you are describing what merge does; this was also the purpose of the now removed join_axes.

i suppose we could raise/warm on the non concat axis with an errors keyword.

[2020-01-07 12:07] TomAugspurger commented on #30750
Seems like this is a duplicate of https://github.com/pandas-dev/pandas/issues/29111? Or are there differences?

[2020-01-07 12:13] charlesdong1991 commented on #30750
@TomAugspurger slightly different i think, since in the example of #29111 if defining the MI through `levels` and `codes`, we could actually see `nan` in levels, but losing the information of type of `nan`, while here the example is defining MI through `from_tuples`, and we will not see `nan` in levels, but see the `codes` have -1. Anyway it is kind of inconsistency in `levels` in some sense.

Fee

[2020-01-07 12:18] TomAugspurger commented on #30642
Do we need to revert #30656 until the deprecation for Py37 and earlier is fixed?

[2020-01-07 12:26] jorisvandenbossche commented on #30415
@Dr-Irv is there a reason to use the special utf to have '«NA»' instead of a simpler '<NA>'? Or just because you think it looks better?
(but actually, implementation wise both are probably similar regarding complexity, as in python 3 the « is just a normal string character. Being able to type it easily is maybe not that important)

--

If we want to go with a different text repr (like '«NA»'), I t

[2020-01-07 12:29] DSivaji opened #30777 "datatype converstion(.astype) error for bool type."
Datatype converstion(.astype) error for bool type.

[code]
I have a column that has some None/True/False values. Initially, the datatype of that column is 'object'. After I convert it to bool as datatype, Null values are converting to False. Which is not expected behavior.

[2020-01-07 12:36] jorisvandenbossche commented on #29752
If we want to have efficient methods, we will probably need to end up with reader-specific implementation anyway, I think. But, that doesn't mean of course that all of the readers need to support it natively, we can start with the important ones and have others convert it after reading. For example, I was planning to work on a parquet reader that directly gives you nullable integers (which avoids

[2020-01-07 13:15] Dr-Irv commented on #30415
@jorisvandenbossche I chose it because it looked better.  But we could also use `<<NA>>`, which would work as well.  I'm strongly against using color, because it's being insensitive to the color blind (and this has hit me in the past in my 30+ year career).  I also think having a character sequence that is unlikely to appear in data helps.  So you might see `"NA"` in data, but either `«NA»` or `<<

[2020-01-07 13:18] datapythonista opened #30780 "CLN: Fix FutureWarnings in the benchmarks"
I see couple of `FutureWarning` in the benchmarks that can be fixed by simply updating the code to the proposed version.

[code]
See for example: https://github.com/pandas-dev/pandas/pull/30746/checks#step:13:21

[2020-01-07 13:19] jorisvandenbossche commented on #30038
Rereading this again, it seems the conclusion is *somewhat* that we want to raise for this (so no automatic conversion of pd.NA to np.nan).

I am wondering how that impacts projects like eg scikit-learn. They will need to use `to_numpy` then explicitly when they want to handle eg nullable integer (I should check if it actually works now, as they work on the dataframe level, you probably get a obje

[2020-01-07 13:27] TomAugspurger commented on #30780
Joris is handing the pandas.util.testing part.

[2020-01-07 13:37] TomAugspurger commented on #30038
Or rather, the user would need to do this before handing the DataFrame off to a scikit-learn estimator?

But yes, I think the best thing for now is to not implicitly convert NA to NaN. And I don't think that `np.asarray(integer_array, dtype="float")` or `integer_array.astype(float)` is explicit enough to warrant converting NA to NaN (though this is a close call). So the following should probably r

[2020-01-07 13:46] fullflu commented on #30770
docker environment:
[code]

local environment:
[code]

I wonder if the following differences might be the reason...
`python, OS, LANG, or LOCALE`

[2020-01-07 13:53] SuvigyaJain1 commented on #28546
I'd like to work on this but this is my first time contributing to pandas as well as first time working with such a huge codebase. What general direction should i work in?

[2020-01-07 14:10] jorisvandenbossche commented on #30038
Quickly check how scikit-learn is handling nullable integers with 0.25.3 and master.

With 0.25.3, this actually works by being converted to floats:

[code]

This works because the conversion to array gives object dtype array with np.nan, which can then be converted to float:
[code]

However, with master, you don't get an object array with np.nan, but with pd.NA, which cannot be converted to float

[2020-01-07 14:11] SuvigyaJain1 commented on #28546
OK in io/excel/_base.py I've made the following change to set the default to openpyxl.
![Screenshot from 2020-01-07 19-40-42](https://user-images.githubusercontent.com/33174957/71901272-a19c2e00-3185-11ea-9b43-a596ffff3527.png)

[2020-01-07 14:16] shuai-zhou opened #30783 "pandas can not load Stata 16 data"
#### Code Sample
[code]
#### Problem description

I was trying to use the above command to load Stata 16 data, but got an error saying
[code]
I updated pandas to version 0.25.1, the issue persists. How could I load Stata 16 data without degrading the dataset? Thanks.

[2020-01-07 14:31] charlesdong1991 commented on #30776
@krishnachouhan you might want to refer to this issue: #21791

but as discussed before, this won't be added for `concat`

[2020-01-07 14:37] Dr-Irv commented on #29752
@jorisvandenbossche I'll work on the helper method, as I think it should be in 1.0, and then later we can figure out how to change the various readers (and in which order) for a later version.

[2020-01-07 14:46] SuvigyaJain1 commented on #28546
It seems to work perfectly. I removed xlrd from my environment and tried to open test.xlsx and it opened with openpyxl. But now I'm wondering if we should make it so that if engine=None it defaults to xlrd and further in case xlrd is not found it falls back on openpyxl. This way anyone whose code ran on default xlrd would not break.

[2020-01-07 14:51] TomAugspurger commented on #30038
Thanks for checking. Do you think that `np.asarray(integer_array, dtype="float")` is explicit enough to convert NA to NaN? I'm going back and forth, but after talking to @adrinjalali I may be convinced that it is explicit enough.

If we think `np.asarray(thing, dtype="float")` is explicit enough, then we can implement that for the arrays / Series / DataFrame, and I think your example would work ag

[2020-01-07 15:08] jorisvandenbossche commented on #30038
I am also on the fence, but still slightly leaning towards raising.

Yes, for scikit-learn, converting pd.NA to np.nan in `np.asarray(thing, dtype="float")` is the desired behaviour, because scikit-learn uses np.nan as missing data, and basically will not do much else with missing data than propagating (in preprocessors), filling (in imputers) or raising (in most models).
But in general, an array

[2020-01-07 15:10] Dr-Irv commented on #30642
@TomAugspurger I should have a fix within a few hours.

[2020-01-07 15:13] TomAugspurger commented on #30038
Comparisons are probably the biggest difference between NA and NaN in an ndarray. Reductions are another one (NA rather than nan for the result, and nansum raise for NA).

Given that we're both on slightly different sides of the fence, raising on `np.asarray(integer_array, dtype="float")` *when there are missing values* is probably the safe choice for now.

[2020-01-07 15:37] jorisvandenbossche commented on #27357
Reopening this issue (to have an issue with a milestone) to track the discussion in the merged PR: https://github.com/pandas-dev/pandas/pull/30615#issuecomment-571637550

I *think* that the current deprecation is keeping the "wrong" behaviour, as in my head, the result of `take` is always a copy, so we shouldn't set `_is_copy` IMO.
(but I also might be wrong, it's pretty confusing, and the `is_cop

[2020-01-07 16:07] TomAugspurger commented on #30038
And by raising on `.astype('float')` it's pretty awkward to go from `Series[Int64] -> Series[float64]`.

[code]

I think you need something like

[code]

[2020-01-07 16:11] jorisvandenbossche commented on #30038
Can we make an exception for `astype` for now (as long as we don't have a nullable float dtype)?
That of course gives inconsistency between different conversion ways, but `astype` is typically a pandas -> pandas conversion, while `__array__`/`to_numpy` is always a pandas -> numpy conversion, which will never be able to support pd.NA in floating dtype.

[2020-01-07 16:27] jorisvandenbossche opened #30785 "Rename api.extensions._no_default to extension.no_default"
Follow-up on https://github.com/pandas-dev/pandas/pull/30322, which exposed `lib._no_default` in `pandas.api.extensions`

[2020-01-07 16:31] jorisvandenbossche commented on #30780
Part of the SparseArray is also being fixed.

In general, we should be careful with "fixing" such warnings in the benchmarks. Fixing should typically not mean to use the new way, but either have some compatibility layer for older versions or catch/ignore the warnings, because we want to keep the benchmarks runnable by older pandas versions as well.

[2020-01-07 16:42] dpb-bah commented on #5686
+1

[2020-01-07 16:45] sdmccabe opened #30787 "Unexpected behavior in cut() with nullable Int64 dtype"
#### Code Sample

[code]

[code]
#### Problem Description

When using the `pd.Int64` nullable integer data type, `pd.cut()` unexpectedly bins the first non-`np.nan` value after an `np.nan` into the lowest interval. In the above example, the number `6` is binned into `(0.0, 2.0]`.

#### Expected Output

[code]

Note that using an `IntervalIndex` produces the expected output.

[code]

#### Output of

[2020-01-07 16:49] simontorres commented on #24980
Any news on this? I'm still having the same issue on version `0.25.3`

[2020-01-07 16:54] jreback commented on #24980
there is an open LR #29670 but i believe was quite tricky changing this - help welcome

[2020-01-07 17:00] simontorres commented on #24980
Thanks for your reply. I was just checking it and it seems there is only one conflict. I will wait if someone already experimented fixes it or I will become an expert myself and try to help :)

[2020-01-07 17:27] TomAugspurger commented on #30038
Mmm, we can certainly have `IntergarArray.astype(float)` call `self.to_numpy(dtype=float, na_value="float")`. That's a bit inconsistent, but at least more useful.

[2020-01-07 17:37] jorisvandenbossche commented on #30038
I see now that for BooleanArray.astype, we actually already do it that way (special case float to substitute with NaNs).

[2020-01-07 18:06] jorisvandenbossche opened #30790 "PERF: performance regression in 1.0 compared to 0.25"
I ran a full benchmark on a separate machine locally, comparing current master against 0.25.3.

Some identified cases:

- [x] Indexing slowdown due to `extract_array`, reproducer below at https://github.com/pandas-dev/pandas/issues/30790#issuecomment-572928516
- [ ] `Index.__new__`, reproducer below at https://github.com/pandas-dev/pandas/issues/30790#issuecomment-571959377
- [ ] IntervalIndex (or

[2020-01-07 19:03] #30785 closed

[2020-01-07 19:10] WillAyd commented on #30790
Thanks for posting this. Am I reading the GroupBy regressions correctly as occurring somewhere between 3b58f48a on on November 9 and 76e39ebc on Nov 23?

[2020-01-07 19:22] TomAugspurger commented on #30790
FYI, the benchmark machine should be slowly filling in some of those values. It was hanging for a couple weeks on an xarray benchmark.

[2020-01-07 19:41] dstuebe opened #30793 "datetime64[ns] round('min') direction even and odd minutes"
#### Code Sample

[code]
#### Problem description

The rounding direction changes in the 59th minute of the hour! For minutes 00-58 the method rounds down from 30 seconds or less. For the 59th minute of the hour it rounds up to the next hour.

There are a couple previous issues for rounding time in pandas, but I could not find one for this behavior.

#### Expected Output
Example output showing the

[2020-01-07 20:03] jschendel commented on #30793
This the expected behavior, albeit unintuitive the first time you encounter it, and is consistent with the rest of the Python ecosystem. The rule for rounding is that exact halfway cases are  rounded to the nearest even result.  This has a few advantages, for example, it's less prone to introducing positive or negative bias.  See the [Python 3.x rounding behavior](https://stackoverflow.com/questio

[2020-01-07 20:03] #30793 closed

[2020-01-07 20:04] TomAugspurger opened #30794 "Try supporting Python 3.6.0"
In https://github.com/pandas-dev/pandas/pull/29212, we bumped the minimum Python to 3.6.1. @datapythonista mentioned an issue with 3.6.0 at https://github.com/pandas-dev/pandas/pull/29212#issuecomment-551370118

I vaguely recall a few issues with 0.25.x requiring a point release of python 3.5. We should see if we can support 3.6.0 to save some headaches down the road.

[2020-01-07 20:09] jreback commented on #30794
really? why the effort here? this seems not worth it.

[2020-01-07 20:18] tanmay1618 commented on #30777
I was going through this issue.  I came to know that it is a numpy astype function error which converts None to False. Can some please suggest next steps to solving this ?

[2020-01-07 20:21] jschendel commented on #30787
Looks like there's an additional complication on `master` with the introduction of `pd.NA` and its use as the default NA for nullable integer dtypes:
[code]

[2020-01-07 20:46] #24130 closed

[2020-01-07 20:48] parkerdgabel commented on #30787
take

[2020-01-07 20:52] TomAugspurger commented on #30642
Great, thanks!

On Tue, Jan 7, 2020 at 9:10 AM Irv Lustig <notifications@github.com> wrote:

[2020-01-07 20:54] WillAyd commented on #30794
IIRC I think bumping numpy to 1.15 might have solved the same issue we were trying to solve in bumping to 3.6.1 so maybe it does just work now, but agreed with Jeff that at the same time it's not worth a lot of effort

For 0.25 we required 3.5.2 as a min and I don't recall coming across any issues or complaints from that

[2020-01-07 21:03] gfyoung commented on #30783
@shuai-zhou : Can you share the file that you're trying to load?

cc @bashtage

[2020-01-07 21:05] trevorbye commented on #30517
@jreback are you suggesting to make a change to the `set_index()` function implementation? Because `set_index()` eventually just calls the Index constructor with no dtype, so if your data changed from strings and ints to only ints (like the examples above), it would automatically infer ints.

If we exposed a new param like `set_index("col", dtype=object)` we could pass that dtype through to the In

[2020-01-07 21:09] gfyoung commented on #30777
Let's take a step back here: when converting to boolean, is there actually a `NULL` value for booleans?  I understand the conversion might have surprised you, but `None` is a false-y value.

[2020-01-07 21:12] tanmay1618 commented on #30777
On replacing None with numpy.nan, it throws correct result.

[2020-01-07 21:15] gfyoung commented on #30777
`nan` is also a false-y value though, so I'll ask again: is there actually a NULL value for booleans?

[2020-01-07 21:18] gfyoung commented on #30770
No ideas at the moment.  Here is a suggestion:

Try reproducing the issue with a much smaller file.  Then, in the Docker container, save the result and retrieve it from your local filesystem (you'll need a volume mount).

If you can do a comparison, maybe we can get an idea of where the discrepancy is occurring.

[2020-01-07 21:18] #13318 closed

[2020-01-07 21:19] tanmay1618 commented on #30777
Since, we are going by numpy's definition, it treats nan as a NULL value and None as False. We can go ahead accepting this behaviour from numpy.

[2020-01-07 21:20] gfyoung commented on #30777
@DSivaji : Does that work for you?  Otherwise, I might suggest bringing this to `numpy`'s attention

[2020-01-07 21:21] gfyoung commented on #30732
I would look into seeing where we call `s3fs` to do the actual writing.  I would be surprised if it was `s3fs` thing that it wouldn't tell us if a bucket didn't exist.

[2020-01-07 21:52] TomAugspurger commented on #30794
I recall a few (didn't find any in a search) though I think that was in part due to some ubuntu version having 3.5.0 by default.

Anyway, we use 3.6.1+ features like typing.ChainMap, so not a high enough priority.

[2020-01-07 21:52] #30794 closed

[2020-01-07 22:35] shuai-zhou commented on #30783
@gfyoung I would like to, but the .dta is a large file (~500M) with 38548 variables (columns), and I figured out that I was wrong. I extracted a subset from the file and loaded it to pandas dataframe successfully. I guess the numbers of columns are an issue, not the Stata version.

[2020-01-07 22:43] bashtage commented on #30783
There is no support for reading 119 format. 118 format is supported, but
this requires less than 32k variables.

On Tue, Jan 7, 2020, 22:35 Shuai Zhou <notifications@github.com> wrote:

[2020-01-07 22:43] TomAugspurger commented on #30790
Looking at the indexing ones like `indexing.NonNumericSeriesIndexing.time_getitem_scalar('string', 'non_monotonic')`, that's at least partial from `extract_array` being relatively slower than `getattr(Index, '_values')`. Seeing what we can do.

[2020-01-07 23:23] gfyoung commented on #30783
@shuai-zhou : Happy to hear you were able to resolve the issue!

Thanks for the input @bashtage.

[2020-01-07 23:23] #30783 closed

[2020-01-07 23:45] #13230 closed

[2020-01-07 23:45] #13208 closed

[2020-01-07 23:45] #13228 closed

[2020-01-07 23:45] #13758 closed

[2020-01-07 23:45] #13820 closed

[2020-01-08 00:41] JackMcCoy opened #30804 "Request: isnotnull() type argument for selections"
Hey all, feature request here.

While I'm exploring data in the shell, I am _constantly_ forgetting the tilde prefix to a isnull() argument. There's something about the way I conceptualize the data and how I use pandas - "Okay, I have a dataframe, now I select a subset... this column, with variables that are not null.. Oh sh*t (backarrow, backarrow, backarrow)." This happens DOZENS of times a day.

[2020-01-08 01:17] jreback commented on #30804
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.notna.html?highlight=notna#pandas.DataFrame.notna is what you are looking for (isnull/notnull are just aliases)

```df[df.a.notnull()]``

[2020-01-08 01:17] #30804 closed

[2020-01-08 01:24] #30780 closed

[2020-01-08 01:28] datapythonista opened #30808 "DOC: Move import conventions from wiki to docs"
The section about imports here: https://github.com/pandas-dev/pandas/wiki/Code-Style-and-Conventions#imports-aim-for-absolute

Can be moved to the code style guide in the documentation: https://dev.pandas.io/docs/development/code_style.html

This way we can remove the page from the wiki, that is mostly outdated.

[2020-01-08 01:42] jreback commented on #30517
So here's a typical example
[code]

the issue is that [4] is inferred by the Index constructor; this is not needed, just preserve object dtypes if its set; we already know the dtype of the column, we only need to infer if its not possible to represent it (e.g. an int32 column)

[2020-01-08 02:52] shuai-zhou commented on #30783
@bashtage I see. Thanks for the clarification.

[2020-01-08 03:02] trevorbye commented on #30517
@jreback okay I see what you mean now, that's a simpler solution than what I was thinking. I'll look at building a fix

[2020-01-08 03:50] robb-brown commented on #26237
The original bug, to_pickle() to a buffer not working with compression='infer' appears to still be broken in the current dev branch, and the fix seems to be very simple. If there isn't a  reason it hasn't been fixed, I can provide a PR.

[2020-01-08 04:36] #30038 closed

[2020-01-08 05:58] souvik3333 commented on #30808
Take

[2020-01-08 07:32] jorisvandenbossche commented on #30808
I think how that section is written is a bit outdated in the Python 3 world

[2020-01-08 08:30] jorisvandenbossche commented on #30742
Reopening this because the other attributes are still slower (the `_ndarray_values` was solved in #30797), eg the original example in the top post for `idx.closes` is still 3x slower.

[2020-01-08 08:34] jorisvandenbossche commented on #30742
The original `cut` benchmark (see example in https://github.com/pandas-dev/pandas/issues/30742#issuecomment-571199909) seems to be fixed with #30797!

[2020-01-08 09:04] jorisvandenbossche commented on #30790
For the GroupBy regressions, I can't really replicate it locally in my default environments (using py 37), it gives only a slight slowdown (more in order of 10% instead of x2). But creating a py36 env for 0.25.3 and master, then I do see a clearer slowdown (although more x1.5 instead of x2).

Example code from one of the benchmarks (groupby::GroupByMethods):

[code]

Profiling that example, one of

[2020-01-08 09:15] jorisvandenbossche commented on #30790
Another in the top of the list is this very simple benchmark:

[code]

This I can reproduce locally, and gives more than a 2x slowdown. From a quick profile, on master the total amount of time for `isinstance` checks doubled.
If you repeatedly create Index objects from arrays, this can add up, and it might be part of the explanation of the GroupBy slowdown as well (in the profile, I noticed it spe

[2020-01-08 09:48] DSivaji commented on #30777
I think this should bring it to the numpy or pandas should have a wrapper to take care of this behavior.

[2020-01-08 10:01] gfyoung commented on #30777
I would recommend you check with `numpy` first to see what they say.  When it comes to type-casting like this, we generally just rely on what they do.

If not, you are more than welcome to try to implement a wrapper.  I'm not sure how straightforward that is going to be though.

[2020-01-08 11:08] bashtage commented on #30783
@shuai-zhou I was wrong -- 119 are supported.  So if you cannot import your file, we should try to figure out why.

Could you make a very small version to share -- perhaps with a few observations?

[2020-01-08 11:10] jreback commented on #30777
the BooleanArray extension type already handles this as it’s NA preserving

pass dtype=‘boolean’ on construction

this is new in 1.0

you are welcome to do something in the numpy side but pandas already has a plan for this

[2020-01-08 11:10] #30777 closed

[2020-01-08 11:25] datapythonista commented on #30808
@souvik3333 if you want to change that section a bit to avoid references to Python 2/3 stuff when moving it, that would be great. Let me know if you need help.

[2020-01-08 11:38] datapythonista commented on #30733
I was checking, I think this is the PR that was expected to fix this: #29012

Which was added to numpydoc: https://github.com/numpy/numpydoc/blob/master/numpydoc/validate.py#L130

So, my branch shouldn't report those errors. So, I guess the `unwraps` function is failing in the same way as our custom function.

Do you want to have a look and see if you can find the problem and a fix for it? Thanks!

[2020-01-08 12:12] SuvigyaJain1 commented on #28546
I've tinkered a bit and managed to set the default to openpyxl when engine is set to None. Its working on my computer. Should I push my changes?

[2020-01-08 12:18] galuhsahid commented on #30733
Sure, I will take a look at it later!

[2020-01-08 12:34] SuvigyaJain1 commented on #28546
take

[2020-01-08 14:09] lfiedler commented on #27905
Hi, I would like to work on this.

[2020-01-08 16:11] jorisvandenbossche commented on #27522
Moving this off the 1.0 milestone (deprecations are not blockers for 1.0 I think, since they can be introduced in any 1.x release)

[2020-01-08 16:13] #26462 closed

[2020-01-08 16:15] carschno commented on #21850
@jzwinck @gfyoung

I'm not a Pandas developer, but as a user I would like to add a point for keeping `DataFrame#from_items()`. I use it for reading a large file with word embeddings into a DataFrame like this:

[code]
Here, `_read_embeddings()` is a custom generator that yields tuples of a string and a Numpy array, as read from a file. By calling `T`, the string will be the index and the array the

[2020-01-08 16:33] jorisvandenbossche commented on #29514
Is this a blocker for 1.0 ?

[2020-01-08 16:35] jorisvandenbossche commented on #26887
Removing the 1.0 milestone here, since we are still testing it on travis, I don't think this is a blocker for 1.0

[2020-01-08 16:55] kerwin6182828 opened #30815 "like old issue #2936: df.apply(foo) will run twice at the first row"
#### some example....

[code]
#### Problem description
today, I have a problem  that df.apply(foo) will run twice at the first row like old issue #2936.
I read a lot of explanations, but still can't find some help. As I wrote above, when df just have 1 row and then apply function will run twice at this row lead to print diffierent values.
 (It just modified my original value "1" to "True",  but it

[2020-01-08 17:36] topper-123 commented on #30750
``nan``s not being in the levels/categories is a design choice in pandas and goes back to how Categoricals are implemented, as you mention and the levels are lists of all non-nan values. However the nan is still encodes in codes (as -1) and will be reconstructed when recoded to a different dtype. E.g. ``.to_frame`` will show the nan in the dataframe colum:

[code]

So while the Categorical probaly

[2020-01-08 17:45] jreback commented on #30815
you need to show_versions()

[2020-01-08 17:49] ssikdar1 commented on #29547
I would like to try and take:
[] pandas/tests/util/test_assert_almost_equal.py
[] pandas/tests/util/test_assert_categorical_equal.py
[] pandas/tests/util/test_assert_extension_array_equal.py
[] pandas/tests/util/test_assert_frame_equal.py
[] pandas/tests/util/test_assert_index_equal.py
[] pandas/tests/util/test_assert_numpy_array_equal.py
[] pandas/tests/util/test_validate_args_and_kwargs.py

[2020-01-08 18:10] mwaskom commented on #28385
This may be obvious to those who know the implementation details, but it happens with `.diff()` too (on pandas 0.25.2):

[code]
[code]

[2020-01-08 19:03] lcandeago opened #30818 "date_range calculates ranges off by one bin when passing period"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
the date range is created with the frequency of 101 bins when passing period = 100.

#### Expected Output
multiplying the time length of a bin by the number of bins should return the end date.
instead it returns the end date +1
#### Output of ``pd.show_versions()``

<details>
NSTALLED VERSIONS
------------------

[2020-01-08 20:00] charlesdong1991 commented on #30750
thanks for your reply, @topper-123 !
emm, is `dropna` considered a bridge to achieve this while having no big breakage in your opinion?

[2020-01-08 20:25] topper-123 commented on #30750
Not sure I understand; ``dropna`` is already implemented in both index types?

But I doubt it's possible; e.g. just going fom Int64Index to UInt64Index would likely be very large change in itself. and adding nan to categories is also a huge change.

[2020-01-08 20:52] charlesdong1991 commented on #30750
yeah, sorry for bad interpretation, i meant to provide option to include nan in categorical and mi levels. and indeed, we have `dropna` in both

@topper-123 but you are right, there seems a lot of changes to happen for such change.

[2020-01-08 20:53] jbrockmendel commented on #29884
if we're calling it a bugfix we can probably do without a deprecation cycle

Do we  have consensus that long-term we want NaT to be sorted last for each of DTA/TDA/PA/DTI/TDI/PI?  If so, we should be able to update the DTA/TDA/PA versions without a deprecation cycle.

[2020-01-08 21:21] wmayner opened #30823 "Sub-nanosecond datetime support"
This is a place to discuss whether supporting datetime logic with sub-nanosecond precision is desirable and feasible.

### Motiviation
I'm using pandas to interact with neuroscientific data—specifically, electrophysiology data. These data are sampled at very precise frequencies that cannot be expressed as an integer number of nanoseconds. Often the datasets span a large enough duration that roundi

[2020-01-08 21:42] TomAugspurger commented on #29884
Following NumPy seems fine to me.

[2020-01-08 21:42] TomAugspurger commented on #29514
I don't think so.

[2020-01-08 22:05] TomAugspurger commented on #29676
I think not a blocker for 1.0 (RC / final) but would be nice to have.

[2020-01-08 22:06] TomAugspurger commented on #29622
@alimcmaster1 do you know what all remains to be done on pandas' side here? Pushing off the 1.0 milestone, as I don't think there's anything critical, but I haven't been following closely.

[2020-01-08 22:16] TomAugspurger commented on #28602
Remaining:

[code]

[2020-01-08 22:19] TomAugspurger commented on #27357
@jorisvandenbossche do you think this is a blocker for the RC?

[2020-01-08 22:20] TomAugspurger commented on #26706
@jorisvandenbossche moving to contributions welcome, unless you think we'll get to it for 1.0 (can be in the RC period).

[2020-01-08 22:21] TomAugspurger commented on #18532
I think we'll close this in favor of https://github.com/pandas-dev/pandas/issues/30790 (0.25 -> 1.0).

[2020-01-08 22:21] #18532 closed

[2020-01-08 22:25] WillAyd commented on #30823
@jbrockmendel

[2020-01-08 22:34] jbrockmendel commented on #30823
@wmayner pandas' datetime support is built on top of numpy's datetime64, which does support picosecond and attosecond units (and would be much more performant than a decimal-based implementation)

Would being limited to 64 bits be a problem for your use case?  i.e. for attoseconds np.timedelta64 only supports timedeltas of about \pm 9.2 seconds (or timestamps within 9.2 seconds of 1970-01-01 00:00

[2020-01-09 00:01] WillAyd commented on #19486
@jbrockmendel what's the upside of doing this? I think potentially possible if we use the public keyword:

http://docs.cython.org/en/latest/src/userguide/external_C_code.html#public-declarations

But not sure on what it buys us as we'd just be adding an extra layer in between JSON and the date time conversion routines

[2020-01-09 00:05] WillAyd commented on #17393
I think this is realistically already achievable with the table orient, so unlikely to add to split

[2020-01-09 00:05] #17393 closed

[2020-01-09 00:06] WillAyd commented on #30790
@TomAugspurger is the benchmark machine still filling in values? Would be helpful to know where to bisect if there was more

If not no big deal just wanted to ask

[2020-01-09 00:12] datapythonista opened #30830 "DOC: Fix indentation in docstring example"
Not sure why we didn't see it before, but the example in the first code block of the docstring guidelines seem to be missing the indentation: https://pandas.io/docs/development/contributing_docstring.html#about-docstrings-and-standards

We should fix it, and indent the function properly: https://github.com/pandas-dev/pandas/blame/master/doc/source/development/contributing_docstring.rst#L25

[2020-01-09 00:24] jreback commented on #30823
an extension array that implemented unit support for date times / time delta would actually be somewhat straightforward in the current framework

[2020-01-09 00:25] jreback commented on #30823
there is another issue about this (arbitrary u it support in date times ) if some can link

[2020-01-09 00:36] alimcmaster1 commented on #29622
Agree nothing critical @TomAugspurger i can follow up shortly with the fix @leonardr suggested and hence remove the xfail added in #30544

[2020-01-09 00:47] jbrockmendel commented on #19486
IIRC the motivations were

- if np_datetime only needed to handle use cases getting called from within tslibs, then most of the non-nano code could be ripped out.  I think there were some other simplifcations i had in mind, but dont remember them ATM.
- some hope that by eliminating the dependencies in setup.py we might speed up compilation and/or reduce the compiled size

[2020-01-09 01:04] parkerdgabel commented on #30787
What should the expected behavior be?

[2020-01-09 01:18] MomIsBestFriend commented on #30830
take

[2020-01-09 01:32] fujiaxiang opened #30834 "Feature Request: context manager in which NaN equals NaN"
I'm not really sure whether this is the correct place to request for this (maybe it should be numpy?), but here it is.

Often times when we deal with data we may want to compare two `Series` or `DataFrames`. In pandas/numpy standard and many other, if not all, programming standards, `NaN == NaN` yields ``False``.

However, sometimes we really mean to make them equal. Say we are comparing two raw d

[2020-01-09 01:45] jbrockmendel commented on #30834
Would `s1.equals(s2)` handle your use case?

[2020-01-09 01:49] jbrockmendel commented on #30790
I see you closed #18532; is there nothing there that we should be concerned with?

[2020-01-09 02:05] parkerdgabel commented on #30818
take

[2020-01-09 02:08] fujiaxiang commented on #30834
Not really. I thought of this while I'm coding up the `df.differences()` feature mentioned here (#30429).
I need to identify exactly where the differences are. So far I'm doing this with a workaround like this:
[code]
However this has a slight flaw that ``None`` is also considered equal to ``np.nan``.

Anyway I think this goes beyond this particular example. I've had other work experience when I f

[2020-01-09 02:38] parkerdgabel commented on #30818
When I run the code that you provided, dates has a size of 100. So it is making the proper number of bins. I am not sure what the problem is exactly. I think that multiplying the interval by 99 should return the last date.

[2020-01-09 03:11] #19132 closed

[2020-01-09 03:25] #28512 closed

[2020-01-09 03:34] WillAyd commented on #28560
numpy argument is deprecated

[2020-01-09 03:34] #28560 closed

[2020-01-09 03:34] WillAyd commented on #28559
numpy argument is deprecated

[2020-01-09 03:34] #28559 closed

[2020-01-09 04:45] tanmay1618 commented on #30740
I have submitted a PR request for this.

[2020-01-09 05:00] umerkhalifa commented on #21525
Hi
Did you solve this issue. I do have a dataframe with similar column names with : but its more 278 columns with this issue. Can you Suggest me, how to solve this?

[2020-01-09 06:51] xhochy opened #30841 "TestBaseCasting.test_to_numpy fails for ExtensionArrays that yield nested numpy arrays"
The test case fails when data is e.g. `np.array([np.array([np.nan, None], dtype="object"), None], dtype="object")`.

[code]

This happens in `fletcher` for the `list<item: string>` type.

[2020-01-09 07:28] xhochy opened #30843 "pre-commit check for flake8 doesn't check Cython code"
Currently the check only matches `.py` files. Cython files aren't checked.

[2020-01-09 08:15] lcandeago commented on #30818
Thanks for testing this.
I'll try to explain better: if i set a number of periods, say 100, I expect the frequency to be
`expected_frequency = (end_t-start_t)/100`
and hence that
`expected_frequency*100=end_t-start_t`
`
Maybe I've just misunderstood the docs and interpreted the period parameter like the number of bins of an histogram, as if date_range would generate n equally spaced intervals when

[2020-01-09 09:18] datajanko opened #30844 "Value Counts with categorical dtypes has unexpected behavior"
#### Code Sample, a copy-pastable example if possible

[code]
gives
[code]
#### Problem description

I would have expected to have an aggregated count for categories here. This also seems to be related to groupby on dtypes

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
------------

[2020-01-09 09:18] jorisvandenbossche commented on #27357
Ah, forgot this one, we should have discussed it yesterday on the call ..

Well, I personally think the merged PR is a step in the wrong direction. It's easy to revert that, but IMO the better solution is to make `take` do a proper copy. But that is 1) something that needs to be discussed and 2) is more work to implement.

[2020-01-09 10:42] AlexKirko commented on #24329
Some notes. When we make a Timestamp out of an `int`, `ts.value` is always set to that value, because `convert_to_tsobject` simply scales the value according to the unit and never shifts it. When we later call the Timestamp constructor, it casts the Timestamp to datetime and then updates ts.value based on the results of that cast. So, after the first call, ts.value isn't synchronized with the obje

[2020-01-09 10:53] SdgJlbl commented on #26706
At the time I had started a PR on this issue (#28314), should it be revived?

[2020-01-09 11:09] misantroop opened #30845 "numexpr boolean inconsistent result"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Column evaluated with numexpr and successfully creating a new col (t), however the trueConds finds no NaNs, which are present in df.

#### Expected Output

Expecting trueConds as:

0    False
1    True
2    True
3    False
4    True
5    True
6    False
7    True
8    True

#### Output of ``pd.show_versions()``

[2020-01-09 11:24] jreback commented on #30845
show the dtypes of df after u created t

this is also very odd to do this (using numexpr directly like this)

[2020-01-09 11:26] fujiisoup opened #30846 "Cannot `remove_unused_categories` for CategoricalIndex in a MultiIndex"
I'm working to add a `CategoricalIndex` support in xarray (pydata/xarray#3647, pydata/xarray#3670), but have a trouble.

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When `CategoricalIndex` is a level variable of MultiIndex, `remove_unused_categories` does not work.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
In [48]: pd

[2020-01-09 12:08] jorisvandenbossche commented on #26706
@TomAugspurger it's an easy thing to add, we just need to decide if we want to add it. I think there are good use cases, and as far as I know, there are several people +1 on adding it, only @jreback is -1

[2020-01-09 12:15] TomAugspurger commented on #26706
Gotcha. IMO

* I'm +1 on adding this
* It's not a blocker for 1.0
* It can be done during the RC

On Thu, Jan 9, 2020 at 6:08 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2020-01-09 12:17] jreback commented on #26706
-1 this uneeded api bloat

this smells of a SparseDataftame again who is a terrible idea

[2020-01-09 12:19] giuliobeseghi commented on #15276
`fast_executemany` can be performed in a single step now (sqlalchemy >= 1.3.0):

[code]

Maybe it's worth mentioning it somewhere in the docs or with an example? It's a particular case not related to pandas, but it's a small addition that could drastically improve the performance in many cases.

[2020-01-09 12:19] jreback commented on #26706
i would not object to a top level function say

api.types.is_all_sparse or something

[2020-01-09 12:20] jorisvandenbossche commented on #26706
How does this "smell of a SparseDataFrame" ?
Please, if you are so categorically -1, try to explain better why.

Whether you like it or not, but we have a sparse dtype, we have a `.sparse` accessor, and we have some sparse related methods (eg to convert to scipy sparse matrix). So having a helper method to be able to check if you have sparse data and thus can call those sparse methods, seems rathe

[2020-01-09 12:22] TomAugspurger commented on #30790
Possibly, if you have time to look into them.

On Wed, Jan 8, 2020 at 7:49 PM jbrockmendel <notifications@github.com>
wrote:

[2020-01-09 12:25] jreback commented on #26706
You need to provide a very good justification for this. I don't think your reasons are good enough. We *already* have good ways of testing for sparseness, we DON'T need another. I am categorically -1. I have already explained why multiple times and offered how you can do it.

[2020-01-09 12:29] #30642 closed

[2020-01-09 12:30] misantroop commented on #30845
[code]

I figured this is the fastest and most direct way to use a dynamic operator.
It's odd because this ugly workaround does work:

df['t'] = df.t.replace(np.nan, 'nan')
trueConds = (df['t'] == 'nan')

[2020-01-09 12:43] jreback commented on #30845
[code]

[2020-01-09 12:48] misantroop commented on #30845
That does work but seems like a strange workaround (all operators will have to be translated). I've tried `query` and have same results as using numexpr directly (as I understand query uses eval which in turn uses numexpr).

[2020-01-09 13:16] #30163 closed

[2020-01-09 13:35] TomAugspurger commented on #30844
The behavior on master is correct, those are different dtypes

[code]

[2020-01-09 13:36] MarcoGorelli commented on #30126
@leonicus are you still working on this?

[2020-01-09 13:49] TomAugspurger commented on #30846
Hmm, thanks for the report @fujiisoup. There's been some changes to how MI levels are handled, but it doesn't seem to fix this issue.

In this line,

[code]

The `CategoricalIndex` accessed via `.levels[0]` is ephemeral. The changes to it won't reflect back to `df2.index`. Do we need an API like MultiIndex.remove_unused_categories that applies to levels of a MultiIndex that are Categorical?

cc @t

[2020-01-09 13:58] datajanko commented on #30844
Okay, thanks for pointing out that `df.C.dtype` is `CategoricalDtype(categories=['A', 'B', 'C'], ordered=False)` and not 'category'.  I fell (again) for the representation trap here. I see that the behavior is correct, but it's still unexpected (at least in my opinion).

[2020-01-09 13:59] #30844 closed

[2020-01-09 14:09] MarcoGorelli commented on #29901
I could not reproduce this issue on master, looks like it's been fixed

[2020-01-09 14:18] MarcoGorelli commented on #29856
`Europe/Brussels` and `FixedOffset(60)` aren't the same though - the former does daylight saving:

[code]

[2020-01-09 14:23] TomAugspurger commented on #27492
@pandas-dev/pandas-core If there aren't any objections, I'd like to tag the RC at around 2:00 Central (~6 hours from now). What PRs / issues should be considered blockers (feel free to add to the list)?

- [ ] https://github.com/pandas-dev/pandas/pull/30588
- [ ]

[2020-01-09 14:26] JrtPec commented on #29856
Your comment is correct.
Yet, in my example, the UTC Offsets of both timestamps are identical. The error says they aren't.

My current workaround is this:
[code]

So I'm still clueless as to why the oneliner that used to work in all previous versions of Pandas now suddenly doesn't.

[2020-01-09 14:31] MarcoGorelli commented on #30092
Tried reproducing this on master - didn't get an error, but now the two aggregations are the same:
[code]
returns
[code]

[2020-01-09 14:47] charlesdong1991 commented on #30092
thanks @MarcoGorelli I think you would need to give a name for this function since those two can not be distinguished for now, so it always takes the last one to use

[code]
assigning different names for it should work

[2020-01-09 14:55] simonjayhawkins opened #30848 "Series/DataFrame.rename(<mapper>, level=None) doesn't work in non-ambiguous case"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Is this an edge case or not supported.

#### Expected Output

[code]
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

</details>

[2020-01-09 15:10] simonjayhawkins commented on #30848
just to clarify, `level` is optional and to rename all levels `s.rename({0: "foo"})` should be used without specifying the level parameter.

users writing code that have level as a variable, could be using `>>> s.rename({0: "foo"}, level=level)` and could assume level=None is the same as not specifying the parameter.

So changing this is likely a breaking change.

[2020-01-09 15:13] TonyFhh opened #30849 "read_fwf reading large numbers as object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a fixed width file with numbers specifications up to 25 characters with a 1 character sign in front. Normally for small numbers these numbers read properly. As the numbers get bigger as shown above, read_fwf starts to read them as objects even though they are numbers. Attempting to convert said column ser

[2020-01-09 15:14] TSPereira commented on #29901
I have updated the version of pandas to the latest 0.25.3.
With this version I can't reproduce the exact issue (so it seems the main issue is solved), but I noticed two behaviours that can be improved/changed.

First, when running this on the for example I gave in my first post, I noticed that when `i == 0` the result is not the original time.

[code]

**0 : 2019-03-07 07:00:00**
1 : 2019-03-06 12

[2020-01-09 15:44] harishmk opened #30850 "to_timedelta str int discrepancy"
#### Code Sample, a copy-pastable example if possible

[code]
fails
[code]

#### Problem description
it looks like the `unit` parameter has no effect in `pd.to_timedelta('1',unit='s')`
#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.3.final.0
python-bits      : 64
OS               : Linux
O

[2020-01-09 15:51] #30841 closed

[2020-01-09 15:52] #30830 closed

[2020-01-09 15:55] parkerdgabel commented on #30818
No problem!

[2020-01-09 16:05] mhooreman opened #30851 "Pandas read_excel sometimes using xlrd which has deprecated code in python 3.8.1"
Hello,

Under some circumstances that I'm unable to systematically reproduce, pd.read_excel still uses xlrd.

With python 3.8, I get a DeprecationWarning, which I can't fix.

Since there is no maintainer anymore for xlrd, I must come back to you to get some advises. Would you be so kind to help me?

I'm using pd.read_excel within joblib parallel subprocesses, using the devault backend. There is no

[2020-01-09 16:06] #30818 closed

[2020-01-09 16:07] WillAyd commented on #30851
read_excel uses xlrd by default. We have a PR to deprecate that default but not yet merged #29375

You can explicitly request `pd.read_excel(..., engine="openpyxl")`

[2020-01-09 16:11] WillAyd commented on #30849
18244030000000000000 will have no precision at all as a 64 bit float so I don't think that would be very useful. The dtype being object maintains that number as a Python which allows for arbitrary size without loss of precision

[2020-01-09 16:18] #30415 closed

[2020-01-09 16:33] mroeschke commented on #30850
Thanks for the report. Duplicate of https://github.com/pandas-dev/pandas/issues/12136

[2020-01-09 16:33] #30850 closed

[2020-01-09 16:45] MarcoGorelli commented on #30092
Is this something you plan on coming back to? If so, that's fine, I'll leave it to you :) If not, I _might_ have a solution in mind which doesn't involve renaming the functions.

[2020-01-09 16:52] charlesdong1991 commented on #30092
awesome! pls go for it! @MarcoGorelli

[2020-01-09 17:05] charlesdong1991 commented on #30092
btw, i think you might need to open an issue and address this, because this seems not related to this issue, but quite general `groupby.agg` @MarcoGorelli since currently implementation does not distinguish the example you provided.

[2020-01-09 17:25] galuhsahid commented on #30733
OK, so I just noticed that all of these false positives have `None` as their source code file and line number. And the validation script says:

[code]

I'm guessing the errors returned here are too difficult to be introspected, so they are still reported but the source code file returns `None` instead. Is my understanding correct? If so do you think a fix is possible or should we just let it be?

[2020-01-09 17:36] datapythonista commented on #30733
I think you're mixing two different things. That comment refers to knowing where is the docstring being written in the code (in which file, and in which line number). That in some cases it's impossible to know. Imagine something like:
[code]
And there could be even trickier things, that won't let us know where to find the docstring. This is why we return `None` for the file.

For those false posit

[2020-01-09 18:07] twheys opened #30857 "DataFrame arithmetic functions with multiindex, NaN index values, and fill_value set returns an invalid result with non-unique index."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have two data frames with multi-level indices that represent the same sets of values, although both data frames may have index values that are not represented in the other (In my case, I am comparing two SQL queries results with a shifted date time index for week-over-week comparison). I'd expect the `DataFra

[2020-01-09 18:14] jonringer commented on #30741
I'm a package manager for nixpkgs, and I'm against removing tests from the sdist package, however, removing from the wheel would make sense from a packaging standpoint.

[2020-01-09 18:20] tanmay1618 commented on #6624
Is this issue still open ?

[2020-01-09 19:13] brianwgoldman opened #30859 "Multicolumn GroupBy appears to convert unit64s to floats"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When that code snippet runs, the result is not `16148277970000000000` as you would expect, but `16148277969999998976`. Note that `int(float(16148277970000000000)) == 16148277969999998976`.

Additional notes:

1. The problem only appears to happen if there are multiple groupby keys. For example just doing `group

[2020-01-09 19:19] #30740 closed

[2020-01-09 19:19] #30685 closed

[2020-01-09 19:29] fujiisoup commented on #30846
Thanks, @TomAugspurger, for your quick reply.

that are Categorical?

Yes, it would be nice.
I also tried with `inplace=True`, but it says
[code]

[2020-01-09 20:22] jorisvandenbossche commented on #27357
Given the lack of input of others, shall we revert the PR for the RC?

[2020-01-09 20:23] jorisvandenbossche commented on #29884
I think this is a blocker for the RC ...

[2020-01-09 20:28] topper-123 commented on #30846
IMO this works as intended as an ops on a single level is not intended to affect the whole ``MultiIndex``. If you want to create an ``MultiIndex`` with unused categories removed, they currently need to be removed before creating the ``MultiIndex``.

This may not be very intuitive, but I'm not sure what to change. The workflow "Creating a new MultiIndex from an existing MultiIndex, but with some le

[2020-01-09 20:41] TomAugspurger commented on #30846
What do you think about a MultiIndex.remove_unused_categories? i.e. an
operation on the MultiIndex that affects all the (categorical) levels?

On Thu, Jan 9, 2020 at 2:28 PM Terji Petersen <notifications@github.com>
wrote:

[2020-01-09 20:41] wmayner commented on #30823
@jbrockmendel Thanks. 64 bits is enough, but I'm confused by the following behavior, which seems to show a loss of precision when casting to `pd.Timestamp` and then back to `np.datetime64`:

[code]
Output:
[code]
---
[code]

[2020-01-09 20:54] jorisvandenbossche commented on #28385
`Series.diff` is actually different, and has a custom implementation in pandas, that could be expanded to handle our nullable dtypes. I think it is worth opening a separate issue for that.

[2020-01-09 21:04] #29136 closed

[2020-01-09 21:10] selik opened #30866 "set_index with multiindex converts None to NaN"
[code]

Values should not be silently converted from `None` to NaN when a column is used in a MultiIndex.

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 19.2.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG

[2020-01-09 21:16] jorisvandenbossche commented on #29884
I quickly looked at this. Fixing it for the latest numpy is easy (as we then just need to sort with the M8 values instead of i8 values), but we probably want to have it consistent for all numpy versions? (ensuring that might involve a bit more trickery)

The change to enable it for latest numpy would be something like:

[code]

[2020-01-09 21:17] #13601 closed

[2020-01-09 21:17] #27125 closed

[2020-01-09 21:18] TomAugspurger opened #30867 "Multi-dimensional Index indexing followups"
* Avoid DeprecationWarning followed by exception: https://github.com/pandas-dev/pandas/pull/30588#discussion_r364930269
* Update tests to filter warnings in plotting https://github.com/pandas-dev/pandas/pull/30588/files/74dffbedacb34bde7e5a8fb2396e0fef9efac499#diff-4b6d08e53050950f83ea75e432302f89
* Change CategoricalIndex behavior to raise, matching IntervalIndex https://github.com/pandas-dev/pan

[2020-01-09 21:20] simonjayhawkins opened #30868 "local test failure: test_maybe_promote_datetimetz_with_datetimetz"
[code]

#### traceback of one case

<details>

[code]

</details>

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 3ddd495e43ab878b6d139e2458cb3c387f7237c4
python           : 3.7.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 58 Stepping 9,

[2020-01-09 21:21] TomAugspurger commented on #29884
I'm OK with this missing the RC (or we can include it in a second RC if we're doing that).

Otherwise, we'll likely need a keyword to control the na position, which can be done anytime.

[2020-01-09 21:29] TomAugspurger commented on #27492
OK, tagging the RC.

[2020-01-09 22:02] topper-123 commented on #30846
I don't like it because it's too specific; There so many other level-changing methods that could be added that it seems arbitrary to add just that one IMO. Maybe if some more general could be found?

[2020-01-09 22:31] TomAugspurger commented on #27492
Tagged, and have started a 1.0.x maintenance branch. Merges to master with the 1.0.0 milestone will be backported to that branch.

Binaries are building.

[2020-01-09 22:46] WillAyd commented on #30859
Can you try on master? Looks OK for me:

[code]

[2020-01-09 22:48] WillAyd commented on #30851
Closing as we by default always use xlrd right now; could use help to deprecate it in mentioned PR if something you are interested in @mhooreman

[2020-01-09 22:48] #30851 closed

[2020-01-09 22:49] TomAugspurger opened #30869 "pandas.util.testing no longer imported with pandas"
0.25.3

[code]

1.0

[code]

[2020-01-09 22:53] trevorbye commented on #30517
@jreback opened PR https://github.com/pandas-dev/pandas/pull/30870 here if you can take a look

[2020-01-09 23:15] simonjayhawkins opened #30871 "Improve error message for DataFrame.append(<dict-like>)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
dict-like is valid type for `other` parameter of DataFrame.append

#### Expected Output

ValueError: Can only append a dict-like if ignore_index=True

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

</details>

[2020-01-09 23:20] jreback commented on #30869
hmm it i don’t think is a problem
and wouldn’t do anything about it

[2020-01-09 23:21] Dr-Irv opened #30872 "on master, pd.show_versions() emits a FutureWarning"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Gets this output:

[code]
followed by all the version stuff

#### Expected Output

No `FutureWarning`

#### Output of ``pd.show_versions()``

<details>

C:\Code\pandas_dev\pandas36\pandas\core\index.py:29: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classe

[2020-01-09 23:22] Dr-Irv opened #30873 "Parallel build_ext might fail due to file collisions"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

See some discussion in #30862 .  I have 8 cores on Windows.  When I use `-j 8`, in the middle of the build, I will get this error message:

[code]

What I think is happening is that in `setup.py`, `_libs.tslibs.conversion`, `libs.tslibs.np_datetime` and `_libs.tslibs.period` all have to compile `pandas/_libs/ts

[2020-01-09 23:30] Dr-Irv commented on #30872
This seems to be due to a dependency on `fastparquet`
[code]

[2020-01-09 23:44] fujiisoup commented on #30846
Thanks all.
What we want to do is actually
[code]
and
[code]
only with used levels.

Is there any good workaround for this?
Currently, I am doing
[code]
which is not very beutiful.

[2020-01-09 23:45] simonjayhawkins commented on #30872
I've added the milestone, since I _think_ this has only just appeared. (Can't be sure without checking)

[2020-01-10 00:13] marctorrellas commented on #26706
just to reiterate, I'm +1. I don't think it's anything redundant. Obviously you can do this with an apply().all(), but there are other things in pandas you can do in some other way e.g. values vs to_numpy(). The addition of this, IMHO and as explained above, makes this task more intuitive to guess and readable to review external code

[2020-01-10 01:52] jbrockmendel commented on #30868
I think I recently removed a windows-specific xfail in this test, might have been too optimistic

[2020-01-10 02:33] TomAugspurger commented on #27492
@cgohlke Not sure if you typically build wheels for RCs, but if you do we've tagged 1.0.0rc0: https://github.com/pandas-dev/pandas/releases/download/v1.0.0rc0/pandas-1.0.0rc0.tar.gz

[2020-01-10 02:52] kerwin6182828 commented on #30815
pandas           : 0.25.3
numpy            : 1.17.0

python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin

Did you have the same result as me ?
（I have to face to this situation many times, so it really bother me ...）

[2020-01-10 03:20] jreback commented on #27357
not sure what exactly is the issue you are bringing up here; we deprecated is_copy and you reopened exactly why?

[2020-01-10 03:48] suzutomato commented on #30359
Take

[2020-01-10 03:50] suzutomato commented on #30359
Let me try and work on this, unless @phdnzdeveloper or someone else are willing to.
I'll read s3fs and gcsfs as well as the prior PR, then start with a doc string.

[2020-01-10 07:47] jorisvandenbossche commented on #30872
That's up to fastparquet to fix, not pandas (we are missing a stacklevel to make it clearer where it is coming from, though).

Anybody wants to open an issue on the fastparquet tracker?

[2020-01-10 07:53] jorisvandenbossche commented on #30869
It's perfect legitimate usage pattern of util.testing, and it's also easy to fix (we can still import it while hiding the warning)

[2020-01-10 07:53] gonemad97 commented on #29399
Is this issue still open? If it is, I'd like to work on it. Could I get a clearer picture of the requirement right now?

[2020-01-10 07:55] jorisvandenbossche commented on #30867
I added deprecation for the Series case

[2020-01-10 08:12] mhooreman commented on #30851
Thanks @WillAyd . I'll pass openpyxl as argument.
Please notice that the pd.read_excel doc is not 100% accurate with the implemented behavior:

while the code of io.excel._base.ExcelFile gives:

[code]

[2020-01-10 08:32] jorisvandenbossche commented on #30790
Short reproducer for the indexing case:

[code]

and as Tom mentioned, this seems mostly due to additional time taken by `extract_array` (which includes several dtype checks).

[2020-01-10 08:38] mhooreman commented on #30851
Sorry to come back to this guys, but I have xls files (old format) in my data source as well. So, xlrd will have to be used in that case. Any workaround idea?

[2020-01-10 09:47] DavidMStraub opened #30879 "`read_sql_table` fails on Geopackge SQLite file due to DATETIME field with string value"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The above minimal example raises the following error:

[code]

Surprisingly, using

[code]

instead of `read_sql_table` does give exactly the expected result.

As the table name suggests, I encountered this bug when working on a Geopackage file, that uses a `CREATE` statement with `DATETIME` type and string va

[2020-01-10 10:00] MarcoGorelli opened #30880 "Multiple aggregations with the same name get overwritten"
#### Code Sample, a copy-pastable example if possible

[code]
returns
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : 5e9fe4e0843266cb1c64bff4af70b3665a4d6a8d
python           : 3.7.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-74

[2020-01-10 10:19] jreback commented on #30869
missing the point - why should be supporting a non explicit import? i would simply break this

[2020-01-10 10:30] jorisvandenbossche commented on #30869
Because we have always supported this?

[2020-01-10 10:48] jreback commented on #30869
i disagree

it doesn’t matter if it’s easy

[2020-01-10 10:52] jorisvandenbossche commented on #30869
I am assuming that your "I disagree" is about this being a good reason to keep supporting it? Because AFAIK, it's a *fact* that we have always supported this.

[2020-01-10 10:57] jreback commented on #30869
my point is that @TomAugspurger did enough on the current warning for an explicit import

an implicit import is not a reason to even have a depreciation

so -1 for fixing this and a hard break is fine

[2020-01-10 12:32] zero323 commented on #28142
@WillAyd @jbrockmendel @simonjayhawkins How would you describe current state of things? I've seen that many core components already have pretty good API coverage. Is it realistic to expect this to happen in foreseeable future (let's say 0.26 or 0.27)?

To explain the context of this question ‒ for the last three years I've been working on [stub files for Apache Spark](https://github.com/zero323/py

[2020-01-10 12:33] TomAugspurger commented on #30869
I don’t think it’ll be hard. Similar to the np deprecation.

[2020-01-10 13:06] simonjayhawkins opened #30881 "DOC: missing docstring substitution for Series/DataFrame.set_axis()"
https://dev.pandas.io/docs/reference/api/pandas.Series.set_axis.html
https://dev.pandas.io/docs/reference/api/pandas.DataFrame.set_axis.html

![image](https://user-images.githubusercontent.com/13159005/72154883-b527de80-33a9-11ea-8593-91d2cc2a9aaf.png)

[2020-01-10 14:02] gordthompson opened #30884 "to_sql into MSSQL datetimeoffset column drops offset for DataFrame with one row"
#### Problem description

(Prompted by [this Stack Overflow question](https://stackoverflow.com/q/59529424/2144390).)

When using `to_sql` with `mssql+pyodbc` and `fast_executemany=True`, uploading a DataFrame with a single row containing a tz-aware datetime into a `datetimeoffset` column causes the timezone offset to be lost. Doing the same thing with a DataFrame containing more than one row prod

[2020-01-10 14:09] TomAugspurger commented on #28341
For reference, this was done on the 1.0.0rc with https://github.com/pandas-dev/pandas-release/commit/62a2a728240464b5edd4a8f34d1a72e3bca88945

[2020-01-10 14:10] datapythonista commented on #27055
@galuhsahid looks like we've got an issue for the problem we discussed.

[2020-01-10 14:16] datapythonista commented on #29399
@gonemad97 feel free to work on this. The idea is to show somewhere in the documentation what's the solution when the `ImportError` mentioned happens. The linked issue has now a solution that should explain what's the best option.

This can be a bit tricky, but if you are looking for something to work on, you can also have a look at #27977. Or may be @martinagvilas and @galuhsahid can help you fin

[2020-01-10 14:18] MarcoGorelli commented on #30881
Should the `DataFrame` and `Series` examples in the docstring be separated too?

[2020-01-10 14:22] simonjayhawkins commented on #30881
It would make the docs better but I think would need to override the set_axis method in series.py and frame.py to do this. Not sure worth it for the amount of duplication (esp. of typing), though no strong preference.

[2020-01-10 14:36] TomAugspurger opened #30886 "Regression in DataFrame.sum with mixed datetime, numeric and missing values"
On 0.25.3

[code]

[code]

On 0.25.x

[code]

cc @jbrockmendel

[2020-01-10 14:45] brianwgoldman commented on #30859
If you can reproduce the problem at 0.25.3 but not at master, I think we can call this closed as already fixed.

If not, I'm going to need your help on how to build the master version as I've not done it before.

[2020-01-10 14:48] Dr-Irv commented on #30872
@jorisvandenbossche you opened the issue about a month ago:  https://github.com/dask/fastparquet/issues/470

Having said that, since we ask people to use `pd.show_versions()` when reporting issues, do we want to suppress any such warnings in that function to avoid people getting confused by the message?

[2020-01-10 15:16] datapythonista commented on #29671
Thanks for the research @lambertsbennett

If the "sleeping for 30s" is happening often, we should have a look and see what's going on.

My understanding is that until recently, pytest was splitting all the tests in two processes individually. So, if there are 1,000 tests, it'd take 500 randomly for one process, and send the other 500 to the other. That won't make both processes have the same amoun

[2020-01-10 15:19] datapythonista commented on #29768
I don't think anyone is working on this, and should be a fast task. Unassigned the issue.

[2020-01-10 15:26] TomAugspurger opened #30887 "Regression in hash_pandas_object with hash_key=None and object dtype"
On 1.0.0rc0, this raises

[code]

On 0.25.3

[code]

It's only for object dtype.

[2020-01-10 15:49] WillAyd commented on #30873
You are using the MSVC compiler right? Not sure if it matters just asking

[2020-01-10 15:53] Dr-Irv commented on #30873
Yes.

[2020-01-10 16:01] mwaskom opened #30889 "Series lose nullable integer dtype after call to .diff()"
c.f. #28285

#### Code Sample, a copy-pastable example if possible

[code]
[code]

#### Problem description

Output dtype becomes `object`.

#### Expected Output

Output dtype remains `Int16Dtype`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Linux
OS-releas

[2020-01-10 16:02] TomAugspurger commented on #30889
Thanks for the report. Confirmed on master.

[2020-01-10 16:11] jbrockmendel commented on #30790
Are the extract_array dtype checks inside `.array`?  Could be avoided by using `._values`?

[2020-01-10 16:46] jbrockmendel commented on #30886
huh, the fact that the reindex is necessary is weird.  I'll take a look a this.

[2020-01-10 16:52] leo4183 opened #30892 "value assignment bug for multi-indexed dataframes in v1.0.0rc0"
#### Problem Description
in new pre-release 1.0.0.rc0, sliced value assignment for multi-indexed dataframe with duplicated datetime indices would fail

[code]

[2020-01-10 16:53] WillAyd commented on #30851
The doc issue you mention should already be fixed in dev. With regards to the files, none of the other excel engines support reading .xls files. You can continue to use xlrd (I don't think we will outright remove, just move default to openpyxl) but obviously that project is unmaintained so no there are no guarantees on how that will work in the long run

[2020-01-10 16:53] jbrockmendel commented on #30823
When pd.Timestamp gets a non-nano np.datetime64 object, it casts it to nanoseconds, which is lossy in this use case.  We could probably issue a warning about loss of precision.  A PR to do so would be welcome.

[2020-01-10 17:01] datapythonista commented on #26831
What happened with this? Was this finally discontinued?

[2020-01-10 17:03] wmayner commented on #30823
Yes, I think a warning would be helpful. I can try to put that together if I have the time!

But my confusion is about the cast from `pd.Timestamp` to `np.datetime64`: that seems to lose precision too. In the example above the `pd.Timestamp` object has nanosecond precision, so why does the `np.datetime64` seem to have only microsecond precision?

[2020-01-10 17:15] stijnvanhoey commented on #26831
Setup is tested on the new sphinx theme, currently preparing PR for pandas
itself. Can be expected coming week.

Op vr 10 jan. 2020 18:01 schreef Marc Garcia <notifications@github.com>:

[2020-01-10 17:16] datapythonista opened #30896 "WEB: Add link from the docs to the web"
It looks like we'll finally have separate and independent website and docs. I personally think this is not great, and the UX would be much better with both things integrated.

But I think we should at least have a link from the documentation to the website, so users can navigate both sites without having to edit the url.

[2020-01-10 17:18] jbrockmendel commented on #30823
That is going on inside the np.datetime64 constructor, and i can only speculate that it is treating the Timestamp as a datetime, which we would expect to have microsecond precision.  To retain precision when converting from Timestamp, try `ts.to_datetime64()`

[2020-01-10 17:31] TomAugspurger commented on #30886
I assume it's the introduction of the missing values, but haven't looked closely.

[2020-01-10 18:08] boumpteryx commented on #25316
I just uninstalled my only numpy and reinstalled it and now everything works !! thanks a lot !

[2020-01-10 19:47] jorisvandenbossche commented on #30790
Yes, I think the dtype checks are for a large part there.
Using `_values` to avoid this might be a bit tricky, though. For example, for Series with datetime64 (tz-naive) returns numpy array and not DatetimeArray. I don't know what depends on `_values` returning a numpy array in that case.
We could define `.array` directly on Series and rely on the block to return the correct thing (right now `Seri

[2020-01-10 20:00] jbrockmendel commented on #30790
yah id like to avoid that is possible.

Does it break any tests if we make change .array -> ._values?  All of the places that come to mind for using extract_array should be unaffected

[2020-01-10 21:09] udaychadha commented on #5686
+1 Would be great to have this. Working right now to resolve this exact issue. This functionality would be amazing. :)

[2020-01-10 21:38] jbrockmendel commented on #30886
Tentatively looks like moving from fstring back to .format fixes this

[2020-01-10 22:50] gfyoung commented on #5686
@udaychadha : Awesome to hear!  Look forward to seeing what you come up with.

[2020-01-10 23:18] WillAyd opened #30904 "to_json doesn't work with Datetime.date"
This is a regression between 0.25.3 and 1.0

[code]

Noticed while working on #30903

[2020-01-11 02:36] HH-MWB commented on #29547
I would like to take:
- [ ] pandas/core/arrays/datetimelike.py
- [ ] pandas/core/frame.py
- [ ] pandas/core/indexes/base.py

[2020-01-11 05:40] westurner opened #30910 "BUG,DOC: responsive/mobile page width and left/right scrolling"
When I view the docs with mobile Chrome and Firefox with the DevTools mobile mode, I can scroll right/left?

I've tested with these pages:
- https://pandas.io/docs/ecosystem.html
- https://pandas.io/docs/user_guide/indexing.html

seeAlso #28952

[2020-01-11 05:41] westurner commented on #28952
"BUG,DOC: responsive/mobile page width and left/right scrolling" #30910

[2020-01-11 06:04] galuhsahid commented on #30733
I see, noted. I assumed there missing source file and the false positives are always related, but now I understand that they aren't.

I checked again and some of the errors reported were indeed true positives (e.g. `pandas.DatetimeIndex.freqstr`). Will open a PR for these.

But there are some that I'm not sure whether they are false positives or not, e.g. all the errors that end with `normalize` s

[2020-01-11 06:40] dlindelof commented on #28490
On our team we would love to see this addressed; are there any plans to do so? Is this something for which you would consider accepting a pull request?

[2020-01-11 06:43] scoder commented on #30886
Could you paste the C code that is generated by Cython for the f-string and the `return TypeError(…)` ?

[2020-01-11 09:40] proost commented on #30677
Quite difficult determine it is wrong or not. Because in "Index",
[code]
result is 3, Not
[code]
and also '__contains__'
[code]
raise exception.
if some wants to check actual "None" value not in terms of NA, then it is more accutrate. But i think  "None", "np.nan", "np.nat" as a NA value. but then, maybe needs to change all method in "Index". because as you can see above, "Index" discern "None", "

[2020-01-11 10:04] datapythonista commented on #29547
Thanks @HH-MWB

[2020-01-11 10:09] MarcoGorelli opened #30914 "Make a code check which bans imports of fixtures in tests"
xref https://github.com/pandas-dev/pandas/pull/30894#discussion_r365510231

Example: writing
[code]
in a test file should be disallowed because there exists the fixture `any_nullable_int_dtype`

[2020-01-11 10:23] dinasv commented on #29547
I will take:

- [ ]  pandas/core/arrays/timedeltas.py

[2020-01-11 11:24] alimcmaster1 commented on #30873
I sometimes do pandas dev on windows and recall running into this exact problem with `-j 4`

[2020-01-11 12:20] lfiedler opened #30918 "Unexpected behaviour of groupby.transform when using 'fillna'"
#### Code Sample, a copy-pastable example if possible

[code]
**Output**

B|C|D|E|F|G
---|---|---|---|---|---
9999.0|9999.0|2|2020-01-01 00:00:00|c|c
9999.0|9999.0|2|2020-01-01 00:00:00|c|c
9999.0|9999.0|2|2020-01-01 00:00:00|c|c
9999.0|9999.0|2|2020-01-01 00:00:00|c|c
1.0|9999.0|0|9999|a|a
1.0|9999.0|0|9999|a|a
2.0|9999.0|1|2020-01-01 00:00:00|b|b

#### Problem description
When using `GroupBy.tra

[2020-01-11 12:36] ThomasDevoogdt commented on #18301
In the meantime, @TomAugspurger is also due for an update.

### Original answer:
[code]
gives:
[code]

### Update:
[code]

Apparently, I get this issue because I'm not using the ```matplotlib``` directly, but via ```seaborn```'s data visualization library.

[2020-01-11 16:31] charlesdong1991 opened #30924 "BUG: Wrong error message is raised when columns=None in df.pivot"
From docstring, `index` and `values` can be optional in df.pivot, but `columns` is not

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html

[code]
However, the error message is confusing now, should raise `columns` is not optional.

Code example:
[code]

[2020-01-11 17:09] HH-MWB commented on #29547
I found a lot of code in `@Appender()` are using `%` to format string. Those code are using `_shared_docs` as a template, which is mostly defined in /pandas/core/generic.py and been used crossing multiple files.

I would like to replace all `_shared_docs` relevant formatting. This change will need to modified a lot of files, but I won't be able to check all other string formatting syntax in those

[2020-01-11 17:23] jbrockmendel commented on #30886
fstring version:

[code]

.format version
[code]

[2020-01-11 20:25] MomIsBestFriend commented on #29547
@HH-MWB I don't really have a say on this, I think jreback and WillAyd and datapythonista (Not tagging because I don't want to bother them), can help you out more than I can :)

[2020-01-11 20:35] Dr-Irv opened #30927 "DOC: Whatsnew for 1.0 has deprecations listed in Enhancements section"
In 1.0.0RC0, at https://dev.pandas.io/docs/whatsnew/v1.0.0.html#other-enhancements (i.e., the list of enhancements), we list the following:

- The pandas.np submodule is now deprecated. Import numpy directly instead (GH30296)
- The pandas.datetime class is now deprecated. Import from datetime instead (GH30296)

Shouldn't those two lines appear in the deprecations section https://dev.pandas.io/docs

[2020-01-11 20:51] jreback commented on #30927
yes this needs editing happy to take. PR

[2020-01-11 21:02] WillAyd commented on #29547
What are you trying to replace with Appender? I don’t think can be f-strings

Would be ok with .format replacing the Py27 syntax but probably worth opening a separate issue to discuss

[2020-01-11 21:12] MomIsBestFriend commented on #29547
@WillAyd I do think that ```string.Template``` from stdlib, is the right method to this.
Any thoughts?

[2020-01-11 22:13] discdiver opened #30931 "Attempted install of 1.0.0.0rc0 with conda fails"
Installing the release candidate into a new Python 3.7 conda environment throws errors.

Do I need to be doing something differently?

#### Other notes:
- Installing jupyterlab in the same conda environment works fine.
- Creating a virtual environment with venv and using pip to install pandas 1.0.0rc0 works fine on the same machine.

#### Command
[code]

#### Error

[code]

[2020-01-11 22:43] HH-MWB commented on #29547
Hi @WillAyd, sorry I didn't make it clear. Yes, my original idea was replacing `%` by `.format`, and also replacing code like `%(XXX)s` to be `{XXX}` in the `_shared_docs` template. Like @MomIsBestFriend said, `string.Template` would also be a choice.

I would open a separate issue for more discussion. Thanks!

[2020-01-11 23:13] HH-MWB opened #30933 "DOC: Replace old string formatting syntax in calling of Appender decorators"
I found calling of `@Appender()` are using `%` to format string. I think it might be better to replace with `.format` based on [PEP 3101](https://www.python.org/dev/peps/pep-3101/) and [a discussion on Stack Overflow](https://stackoverflow.com/questions/5082452/string-formatting-vs-format).

#29547 is working on replacing `%` with f-strings. This change would also help to keep the code more consis

[2020-01-11 23:29] HH-MWB commented on #30933
### An code example to explain this idea

The current implementation is
[code]

It might be better if we change it to
[code]

This change would also need to update `_shared_docs["align"]` from
[code]
to
[code]

[2020-01-12 03:45] mroeschke opened #30936 "ENH: Add engine keyword argument to expanding.apply to leverage Numba"
In 1.0, we're adding a `engine` keyword argument to `rolling.apply` to run the routine using Cython or Numba.

By natural extension, we should allow `expanding.apply` to utilize Numba by adding the same `engine` keyword argument to `expanding.apply`

[2020-01-12 04:22] fujiaxiang commented on #30918
Tested on latest master.
[code]
Looks like a bug in `GroupBy._transform_fast`. Will take a look.

[2020-01-12 04:43] mroeschke commented on #22839
The examples above raise a `TypeError` which I think is a better behavior. Arguments in `where` should both be timezone aware or both timezone naive, not mixed

[code]

[2020-01-12 04:43] #22839 closed

[2020-01-12 04:47] mroeschke commented on #22122
Looks like our code checks are linting all the flake8 codes mentioned above. Going to close this issue out.

[2020-01-12 04:47] #22122 closed

[2020-01-12 06:45] scoder commented on #30886
Thanks. Both look completely correct to me. Even the call to `TypeError` is exactly the same, I can see no reason why one would raise a `SystemError` and the other wouldn't.

@TomAugspurger, are both tests using the exact same CPython installation and version? Can you confirm that the only difference is the Pandas version?

@jbrockmendel, can you confirm that the C code snippets you pasted are tho

[2020-01-12 07:21] subhobrata opened #30938 "Getting ValueError: no results with apply(pd.to_numeric(df2.BATTING_Tests_Inns, errors='coerce'))"
#### Code Sample, a copy-pastable example if possible

[code]
#### Getting ValueError: no results with apply(pd.to_numeric(df2.BATTING_Tests_Inns, errors='coerce'))

[Getting ValueError: no results with apply(pd.to_numeric(df2.BATTING_Tests_Inns, errors='coerce'))]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please che

[2020-01-12 09:09] darafshi commented on #24839
dealing with tf 2.0.0 need numpy (at least) 1.16.0. downgrading numpy to the previous version won't work on tf 2.0.0

[2020-01-12 14:32] TomAugspurger commented on #30931
Can you try with a fresh environment, rather than installing into an existing one?

    conda create -n pandas=1.0.0rc0 -c conda-forge/label/rc -c conda-forge pandas==1.0.0rc0

[2020-01-12 14:58] discdiver commented on #30931
Thank you for the quick follow up @TomAugspurger!

Running your suggested code: `conda create -n pandas=1.0.0rc0 -c conda-forge/label/rc -c conda-forge pandas==1.0.0rc0` pandas 1.0.0rc0 installs okay. Then trying to install jupyterlab to run pandas in a Jupyter Notebook fails with:

[code]

Also, creating a brand new conda environment with Python 3.8 and then installing the release candidate fails

[2020-01-12 16:22] jbrockmendel commented on #30886
Just double checked: the pasted code matches what I have locally for master and #30905, respectively, which reproduce the differing behavior.

[2020-01-12 17:02] jbrockmendel commented on #27927
cc @jschendel i ran into this recently, too.  any idea what it would take to implement IntervalTree.get_value?

[2020-01-12 18:12] jschendel opened #30944 "BUG: pd.NA is not compatible with searchsorted"
#### Code Sample, a copy-pastable example if possible
On `master` trying to use `pd.NA` as an input to `searchsorted` fails, and trying to use the `searchsorted` of an array containing `pd.NA` also fails:

[code]

Note that the `np.nan` equivalent works fine:
[code]

This has downstream effects on anything that relies on `searchsorted`, e.g. `pd.cut`, which has the same failing behavior as above f

[2020-01-12 18:14] jschendel commented on #30944
Marked the milestone as 1.0.0 because it'd be nice to fix this before the release but not sure if this should actually be a blocker for the release.

[2020-01-12 18:20] jschendel commented on #30787
Probably need to more generically fix #30944 before attempting to resolve the issue of the output being incorrect.  It's possible that fixing #30944 may also fix this, in which case we'd just want to add some tests here.

[2020-01-12 19:04] jschendel commented on #27927
I think `IntervalTree.get_value` would be non-trivial to implement since it'd have to work for both `Interval` keys and numeric keys, and the `get_loc` logic for this is all currently at the `IntervalIndex` level.

That being said, it looks like adding `AttributeError` to the `except` clause in `DataFrame._get_value` provides a workaround:
[code]

With the diff applied:
[code]

[2020-01-12 19:28] jorisvandenbossche commented on #30944
It would be indeed be nice to at least solve things like `pd.cut` for 1.0, as this was working for Int64 dtype before.
One option for a "quick" fix might be to convert the integer array to a float array at the beginning of the cut (and related) method. That should give the same result as before I think.

Longer term: I don't think it is easy to fix the `searchsorted` directly, as here it is a nump

[2020-01-12 19:32] jorisvandenbossche commented on #30892
@leo4183 Thanks a lot for trying out 1.0.0rc, and for the report! That's indeed a regression.

cc @jbrockmendel from the traceback, this seems to be caused by the exception cleaning from https://github.com/pandas-dev/pandas/pull/28361. Can you take a look?

[2020-01-12 19:41] jorisvandenbossche commented on #30910
What do you mean exactly with "scroll right/left"? Within that page? (meaning that the page is too wide for the mobile screen) Or scroll to another page?

Can you provide a screenshot? (on firefox in responsive design mode, I don't see a scroll bar on those pages)

[2020-01-12 20:25] jbrockmendel commented on #30892
Will take a look

[2020-01-12 20:59] udaychadha commented on #5686
I'm just outputting every line where there's an error into a txt. Parse all the line number from that file into an array and open csv in python for only those error lines. Probably not the most ideal way but I think it should work.

[2020-01-12 22:21] tonywu1999 commented on #26941
Is this still an open issue?

[2020-01-13 00:03] stevecj commented on #30275
Short on time. Still plan to try making this enhancement at some point if nobody beats me to it.

[2020-01-13 01:22] WillAyd commented on #28142
@zero323 are you asking if we plan on distributing stub files? If so I would say no for now; we have been annotating inline. Not fully complete but you'll see issues like #26766 used to track that progress

[2020-01-13 01:31] datapythonista commented on #26941
Yes, still pending, and would be great to get this fixed. Thanks!

[2020-01-13 02:50] yehoshuadimarsky commented on #30931
I've had issues with python 3.8 in conda, try python 3.7

[2020-01-13 03:48] VelizarVESSELINOV opened #30953 "Persistent groupby future warning"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
[code]

#### Expected Output
No FutureWarning or better warning message. sort=True or False don't remove the warning in this case.
#### Output of ``pd.show_versions()``

<details>

NSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS

[2020-01-13 04:09] adamrossnelson commented on #23239
Offering an investigation which is based on a scenario in which I encountered a similar issue. I believe the issue is similar because sometimes Pandas will have problems when there are multiple columns with the same name. But not always. And sometimes when you try to make a dataframe with duplicate column names Pandas will throw an error, but not always.

[code]
I would have expected the `df.renam

[2020-01-13 05:49] jbrockmendel opened #30954 "REF: remove method and tolerance keywords from Index.get_loc"
There is only one non-test place in the code that passes these arguments (Index.asof, and even then it is just "method").  We can put the relevant code directly in `asof` and simplify get_loc quite a bit.

[2020-01-13 06:07] discdiver commented on #30931
I used 3.7 the first time.

On Sun, Jan 12, 2020, 9:50 PM Josh Dimarsky <notifications@github.com>
wrote:

[2020-01-13 06:09] mroeschke commented on #30938
We would need a self-contained, copy-pasteable example. https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Nonetheless, I think you just want `df2[[...]].apply(pd.to_numeric, errors='coerce')`

Feel free to reopen if you are still experiencing issues or can give a reproducible example

[2020-01-13 06:09] #30938 closed

[2020-01-13 07:59] jorisvandenbossche commented on #30954
`get_loc` is part of the public Index API, and I think eg used in xarray (cc @shoyer). So if we want to remove it, I think at least this should be deprecated, but we should maybe rather first check if this is actually used outside of pandas.

[2020-01-13 08:32] xuancong84 commented on #6963
In general, for maximum usage compatibility, we should treat a table as a symmetric rank-2 tensor, (except for axis labels, e.g., 1st direction called 'column', 2nd direction called 'row'). And thus, no matter whether there are duplicate row indices or duplicate column names or both, we should always be able to perform concatenation along either axis without throwing any errors.

Below is a very e

[2020-01-13 08:50] xuancong84 commented on #30772
@TomAugspurger I have proposed and posted a solution for #6963, but I am not sure whether that will fix the bug in this post.

[2020-01-13 09:08] AlexKirko commented on #24329
More notes. When we call a Timestamp constructor on an `int` with a `dateutil` timezone, it calls `convert_to_ts_object` in `conversion`, which calls `localize_tso`, which calls `get_dst_info` in `timezones`, which calls `get_utc_trans_times_from_dateutil_tz`, which accesses `zip(tz._trans_list, tz._trans_idx)` to determine DST shifts.
So, when we call the constructor, it assumes `DST=True`.
When

[2020-01-13 09:30] jorisvandenbossche opened #30956 "BUG: rpow with -1 and pd.NA should return pd.NA"
In https://github.com/pandas-dev/pandas/pull/30097, we added special cases for 1 and -1 not propagating pd.NA:

[code]

But for -1 this should probably be pd.NA as result in the end, see https://mail.python.org/pipermail/pandas-dev/2020-January/001174.html

[code]

[2020-01-13 09:46] jorisvandenbossche commented on #30872
Ah, yes ;-)

I don't have a strong opinion on filtering it in show_versions. On the one hand, it also signals problems (as you noticed now), on the other hand it gives warnings users can't do nothing about.

[2020-01-13 10:02] koizumihiroo opened #30958 "pd.Series.sum() returns nan for Int64 with pd.NA"
#### Code Sample, a copy-pastable example if possible

I'm not sure this is a bug or intended behavior. If intended, I'm glad to be pointed to how API design was discussed and decided.

On `1.0.0 rc0`, `pd.Series.sum()`returns `nan` when using `skipna=False` for `'Int64'` with `pd.NA`.

[code]

#### Problem description

I understand the second and third example returns `nan` for backward compatibi

[2020-01-13 11:28] jreback commented on #6963
@xuancong84 this is anti pandas philosophy

having order dependencies is extremely fragile and would work unexpectedly if you happened to reorder columns or not

we must align columns on the labels; aligning some of them is just really odd

if you want to treat this as a tensor then drop the labels

-1 on this proposal

[2020-01-13 11:35] MarcoGorelli commented on #30956
Seems that currently, `-1**pd.NA` is `-1` while `pd.array([-1])**pd.NA` is `[NA]`

[2020-01-13 11:47] TomAugspurger commented on #30931
@discdiver it looks like you're mixing conda-forge & defaults. I'm not sure that defaults has built out all of 3.8 yet. You could try `-c conda-forge` on your subsequent installs.

[2020-01-13 11:49] MarcoGorelli commented on #30956
take

[2020-01-13 12:19] ryankarlos commented on #30927
One of these may have been my fault, sorry - now fixed in open PR

[2020-01-13 12:41] TomAugspurger opened #30962 "AttributeError: 'FrameFixed' object has no attribute 'format_type' on 1.0.0rc0"
[code]

On 0.25.3, we have

[code]

On 1.0.0rc0

[code]

Didn't see anything about this in the release notes. cc @jbrockmendel (if this was part of your tables cleanup).

[2020-01-13 12:43] jstefaniakk commented on #6618
The solution given above by tsznxx worked for me, however a line:
`df.columns.to_frame().transpose().to_excel(writer,"test")`
generates two rows of data with names of the columns and when I had less than 3 rows of data in my dataframe it actually was printed into the excel. Instead, I propose to first write your empty dataframe to excel :
[code]

[2020-01-13 13:05] #30808 closed

[2020-01-13 13:08] #30927 closed

[2020-01-13 13:21] datapythonista opened #30964 "DOC: Remove tips and tricks section page from the wiki"
This page: https://github.com/pandas-dev/pandas/wiki/Tips-&-Tricks-for-pandas-dev is mostly outdated, or provides general Python information.

Personally, I'd just keep the last section on `PANDAS_TESTING_MODE`. Not sure if the best would be to move it to the CI part of the docs: https://pandas.io/docs/development/contributing.html#testing-with-continuous-integration

Or I'd probably just add a co

[2020-01-13 13:33] datapythonista commented on #30933
I think this change is quite big, and the proposed solution is an improvement, but still not as good as it could be.

Personally, when reusing a docstring, I'd like to write something like:
[code]

I think it's not difficult to implement a `doc` decorator that behaves like this, and IMHO it'll make the code much simpler and readable, that the current `Appender` / `Substitution`.

@HH-MWB what's yo

[2020-01-13 13:40] simonjayhawkins commented on #30924
@charlesdong1991 Thanks for the report. can you show a code sample and the error message raised for completeness.

[2020-01-13 13:58] TomAugspurger opened #30965 "DataFrame.set_index when setting a duplicate name now raises"
As part of https://github.com/pandas-dev/pandas/pull/30588, we now raise when trying to create a 2D index. This introduces a behavior change when you call DataFrame.set_index with duplicate data.

#### Code Sample, a copy-pastable example if possible

[code]

On pandas 0.25.3, that gives back a DataFrame with a broken Index. Some DataFrame operations will work, but even things like printing the re

[2020-01-13 14:20] jorisvandenbossche commented on #30958
@koizumihiroo Thanks for the report! Yes, `pd.NA` is expected as the result, that's an oversight (also the ones in your second and third example should return NA when using Int64 dtype, we decided to do this backwards compatibility break here).

[2020-01-13 14:24] jorisvandenbossche commented on #30953
Can you provide a reproducible example?

[2020-01-13 14:28] TomAugspurger commented on #30953
I also think this deprecation was enforced in 1.0, so there may be nothing to do.

[2020-01-13 14:28] tsvikas opened #30966 "str accessor functions returns float(NaN) instead of pd.NA"
#### Code Sample

[code]
#### Problem description
the `str` accessor, when working on string-typed series, should return a string-typed series, which should be an array of [`string`, `pd.NA`] only, but it seems that some functions (see list below) can return series that contains `float('nan')`.

#### Affected functions
As of now, I found these str accessor functions to be affected:
`upper` `lower`

[2020-01-13 14:30] discdiver commented on #30931
Thank you @TomAugspurger. The following works to create a pandas1.0.0.rc0 environment with jupyterlab and Python 3.8:

`conda create -n pandascfj -c conda-forge/label/rc -c conda-forge pandas==1.0.0rc0 jupyterlab`

Maybe the install docs should include that command as an example or mention that everything needs installed from conda-forge. Or maybe this is commonly known. It's just the first time I

[2020-01-13 14:47] twheys commented on #30857
The cause of this appears to be the fact that `nan != nan`.

Here's the workaround I came up with for this:

[code]

[2020-01-13 14:48] TomAugspurger commented on #30966
Thanks for the report. Seems to be with the StringArray constructor when passed an ndarray,

[code]

[2020-01-13 14:50] MarcoGorelli opened #30967 "DataFrame.diff fails with nullable integers"
Related to #30889 (I've opened a separate issue as the error is different)

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This returns
[code]

#### Expected Output
Something like
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 46c2864c34eee0cd94c8842353331e293b0f2004
python           : 3.7.

[2020-01-13 14:53] TomAugspurger commented on #30966
I don't recall if we expect / document that the values passed to StringArray should be strings / NA (not NaN). When we go through `pd.array`, things work correctly since `StringArray._from_sequence` does the NaN -> NA substitution. My preference is for

- `StringArray(np.array(['a', np.nan], dtype=object))` to raise, since the user has passed NaN insted of NA
- update `core/strings.py` to use NA i

[2020-01-13 14:54] tsvikas commented on #30966
Thanks for the reply! Any way to help to solve the issue?

On a similar issue, `str.extract(expand=False)` on a string typed series returns an object typed dataframe, which seems to be unintended as well. (to compare, `str.extract(expand=True)` on a string typed series returns an string typed dataframe)

[2020-01-13 15:04] Dr-Irv commented on #30872
@jorisvandenbossche I would suggest the following:
- With `pd.show_versions()`, we don't emit warnings
- With `pd.show_versions(show_warnings=True)`, we then emit the warnings

My sense is that the default should not emit the warnings so we don't get people wondering what is going on when they report issues.

Separately, I'm guessing we could do some kind of regular thing in CI to do `pd.show_vers

[2020-01-13 15:17] datapythonista commented on #30733
I think I answered via email, but the problem with `normalize` and most false positives are with the `unwraps` and how objects are being fetched.

I think the best would be to find a minimal example when instead of obtaining the right object, we validate something else. For example:
[code]
Then, add a unit test in numpydoc, and fix it. I think it's probably not easy, but I think it's doable.

[2020-01-13 15:22] #30887 closed

[2020-01-13 15:32] TomAugspurger commented on #30872
I think we should just handle this in fastparquet. I'll make a PR.

[2020-01-13 15:37] TomAugspurger commented on #30966
To have `StringArray(np.array(['a', np.nan], dtype=object))`, we'll need to update `_libs.lib.is_string_array`. Other places use it, so we'll need an additional flag like `na_only` to exclude NaN from the NA check.

[2020-01-13 15:39] TomAugspurger commented on #30966
The `expand=False` does look buggy. I thought there were cases where we returned a tuple of matches, but apparenlty not. Can you open an issue just for that?

[2020-01-13 15:39] saloni30agr commented on #30964
Hey @datapythonista,
I would like to work on this issue. From the above description, it looks like, it would be better to move last part  - **Enabling Deprecations when running tests** - to https://github.com/pandas-dev/pandas/blob/master/.travis.yml#L46. Should I go ahead with this?

[2020-01-13 15:52] Dr-Irv commented on #30872
@TomAugspurger What if we start getting warnings from other libraries in the future as we deprecate more things in pandas?  Shouldn't we do something in `pd.show_versions()`?

[2020-01-13 15:56] TomAugspurger commented on #30872
Seems like more hassle than it's worth. I'd rather get the underlying
libraries updated.

On Mon, Jan 13, 2020 at 9:52 AM Irv Lustig <notifications@github.com> wrote:

[2020-01-13 16:04] tsvikas opened #30969 "str.extract(expand=False) on a string typed series returns an object typed dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
returns
[code]
#### Problem description
the str accessor, when working on string-typed series, should return a string-typed dataframe. It seems that `extract(expand=False)` returns an object-typed dataframe

see @TomAugspurger in https://github.com/pandas-dev/pandas/issues/30966#issuecomment-573724531

#### Expected Output
[code]

####

[2020-01-13 16:05] Skchoudhary commented on #30896
Hi @datapythonista
This sound goods, we can add tab in Header of Docs with title "Pandas" or on click of Logo redirect to the home page.Can I start working on this.

[2020-01-13 16:10] datapythonista commented on #30964
I think that make sense, and having a PR will facilitate the discussion. But can't promise we'll move forward without further discussion.

[2020-01-13 16:11] datapythonista commented on #30896
Not sure what's the best option here, but making the logo go to the home sounds better to me than a `Pandas` tab.

[2020-01-13 16:16] jbrockmendel commented on #30954
Yah, I think the thing to do is to implement the no-kwargs version in another method that isn't part of the public API.  Ideally I'd want to make it a non-private name so that it isnt a code smell for Series to do `loc = self.index.new_name(key)`

[2020-01-13 16:16] Dr-Irv commented on #30872
@TomAugspurger So now that you have patched fastparquet, they would need a new release, and do we need to update the version requirement in `pandas/compat/_optional.py` at some point?

[2020-01-13 16:18] jorisvandenbossche commented on #30954
And what's the problem with keeping `get_loc` for that as name?

[2020-01-13 16:20] jbrockmendel commented on #30954
The problem is that its a public API and changing it is a hassle that won't be finished until 2.0.  Or am I misunderstanding the question?

[2020-01-13 16:20] TomAugspurger commented on #30872
I don't think this merits bumping the minimum supported version.

On Mon, Jan 13, 2020 at 10:16 AM Irv Lustig <notifications@github.com>
wrote:

[2020-01-13 16:23] jorisvandenbossche commented on #30954
But why do you want to change it? If it is just about code simplicity / logic that `get_loc` now handles both cases and gives a long implementation, then you can also factor out the no-kwargs part in a private function and call that from `get_loc` ? (or the other way around, factor out the kwarg behaviour)

[2020-01-13 16:26] jbrockmendel commented on #30954
I think thats what i was suggesting [here](https://github.com/pandas-dev/pandas/issues/30954#issuecomment-573743686), the only difference being that _ideally_ id want a non-private name, just for it to not be part of the public API.

[2020-01-13 16:28] jorisvandenbossche commented on #30954
Yes, but why do you want another name for the public API. That is `get_loc` already?

[2020-01-13 16:37] charlesdong1991 commented on #30924
sure, updated in the issue description @simonjayhawkins

[2020-01-13 16:44] jbrockmendel commented on #30954
Do we have a term for "methods explicitly not in the public API but also not preceeded by an underscore, so that it isn't a code small to call from outside"?

[2020-01-13 16:51] jbrockmendel commented on #30962
This seems likely.  AFAICT it was never used, so it got stripped out.  Does it need to be restored?

[2020-01-13 17:05] TomAugspurger commented on #30962
I think so. It's available by only public APIs and was used in downstream projects like Dask: https://travis-ci.org/dask/dask/jobs/636393300#L1315

[2020-01-13 17:12] datapythonista opened #30974 "DOC: Fix isort output in CI"
In the CI, we're using `isort` to check whether the imports in Python files are sorted in an standard way. See https://github.com/pandas-dev/pandas/blob/master/ci/code_checks.sh#L114

The way it is implemented, we expect isort to not print anything in the terminal if everything is ok, and to show errors for the errors encountered. This is mostly true, except that `isort` is also reporting when the

[2020-01-13 17:29] TomAugspurger opened #30975 "AssertionError from Series.append(DataFrame) with 1.0.0rc0"
#### Code Sample, a copy-pastable example if possible

The behavior of the following changed with 1.0.0rc0

[code]

On 0.25.3, we have

[code]

On 1.0.0rc0, we have

[code]

#### Problem description

I don't think the behavior of 0.25.3 is necessarily correct. I would expect either a TypeError from passing a DataFrame to Series.append, or something like

[code]

where the name of the Series is ali

[2020-01-13 18:11] MarcoGorelli commented on #30967
Given that "ExtensionArrays are limited to 1-D.", I presume this is a "won't fix"?

[2020-01-13 18:35] TomAugspurger commented on #30931
I'm not sure. It's hard to succinctly phrase things in ways that appropriate for all users.

[2020-01-13 18:49] discdiver commented on #30931
@TomAugspurger - agreed. Unfortunately it seems like the conda install is going to lead to a lot of failures, at least for the time being. Could maybe point folks toward a troubleshooting guide.

Feel free to close this issue if you'd prefer to leave things as is. Thanks.

[2020-01-13 19:03] #30956 closed

[2020-01-13 19:07] TomAugspurger commented on #30969
Thanks for the report. I could have sworn that `.str.extract(r'(\w)(\w)', expand=False)` would return a Series with object dtype where each value was a list, but apparently not.

[2020-01-13 19:19] shoyer commented on #30954
Yes, xarray uses `get_loc` internally for our implementation of the `method` and `tolerance` on our labeled indexing methods:
https://github.com/pydata/xarray/blob/8a650a11d1f859a88cc91b8815c16597203892aa/xarray/core/indexing.py#L179-L181

I'd be happy to consider alternatives but we do find this quite useful (and it would be best to avoid unnecessary churn).

[2020-01-13 19:25] jorisvandenbossche commented on #30954
@jbrockmendel I don't know (eg "internally pubic API"), but that was not my question. Rather: if we already have a public `get_loc` that you can perfectly use without kwargs, why do you want a separate/new semi-public method that has exactly the same capabilities (for the non-kwarg use case)?

[2020-01-13 19:35] souvik3333 commented on #30974
There are no already-existing settings in ```isort``` for this. Can we not just catch the message from ```isort``` and if it's in ```Skipped * files``` format then ignore it? Also, this skip message is only appearing when all imports are sorted not when imports are not sorted.

[2020-01-13 19:38] WillAyd commented on #28303
Maybe relevant idea from upstream:

https://github.com/attractivechaos/klib/issues/125#issuecomment-465993054

[2020-01-13 20:45] #30869 closed

[2020-01-13 20:46] jbrockmendel commented on #30954
The subclass methods call the base class method (in some cases, the subclass get_value methods call get_loc or Index.get_loc too).  A lot of that could be simplified if those two keyword were not there.

[2020-01-13 20:53] jorisvandenbossche commented on #30954
Sorry, Brock, you will need to try to explain it better ..
"the subclass get_value methods call get_loc or Index.get_loc too" -> yes, several of the `get_value` definitions of Index classes have a call to `get_loc` (without kwargs). What would be simplified there if those kwargs were gone?

[2020-01-13 20:57] jorisvandenbossche commented on #30954
Maybe we are talking past each other, because there are potentially two questions / discussion items:

- Let's try to get rid of those kwargs, since we don't use them.
- Let's have another "get_loc"-like method but without the kwargs (in addition to `get_loc` which keeps the kwargs)

For the first item, I understand that this would simplify code yes, since it would remove a bunch of things. But as

[2020-01-13 21:44] jorisvandenbossche opened #30984 "DOC: plotting backend is not mentioned in the user guide"
The new plotting backend option is documented for package authors implementing such a backend: https://dev.pandas.io/docs/development/extending.html#plotting-backends, but we should probably mention this in the user guide (https://dev.pandas.io/docs/user_guide/visualization.html) as well.

[2020-01-13 21:56] kurtforrester opened #30986 "Cannot write MultiIndex DataFrame to excel (to_excel) which contains Peroid IntervalIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I receive a TypeError and the DataFrame does not write to file.

[code]

#### Expected Output
Expect the DataFrame to write to file. A DataFrame with a Period/IntervalIndex alone can be written to an excel file. Seems to be an issue with MultiIndex.
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERS

[2020-01-13 21:56] topper-123 commented on #27492
I know it's not super-critical, but could we backport type hint related PR's to 1.0? I'm thinking especially about #30761 and #30947, both of which are currently tagged for 1.1. There could of course be other.

The rationale is especially:
* Type hints give a better user experience for users with IDEs (PyCharm etc.)
* a very low (or no) risk of breakage, because it's just type hint, not code.

[2020-01-13 22:05] jorisvandenbossche opened #30988 "BUG: assigment of list with boolean mask scrambles values"
From [gitter](https://gitter.im/pydata/pandas?at=5e0a26d5d5a7f357e6a84f42) (didn't see it reported in an issue):

[code]

gives:
[code]

For some reason, the assigned values are not in the correct order.

With an array, it works fine (but I think we support list as well?):

[code]

Tested on pandas master, and also on pandas 0.25 it is buggy (eg in pandas 0.18 it worked fine).

[2020-01-13 22:21] jbrockmendel commented on #30954
This seems to be the case.

Given that xarray uses get_loc directly, simplifying the existing method is a non-starter.  I no longer think this is worth pursuing.  May revisit after the current crop of get_loc related PRs/branches are wrapped up.  Closing.

[2020-01-13 22:21] #30954 closed

[2020-01-13 22:22] jbrockmendel commented on #27927
Would the issue be resolved if instead of calling index._engine.get_value we used index.get_value?

[2020-01-13 22:47] TomAugspurger commented on #30988
I thought we had an issue for this, but am not finding it right now. Perhaps I'm remembering the gitter conversation.

[2020-01-13 23:00] copeland3300 commented on #28906
I was having a similar issue...it seems to be that when the data is chunked, it's being read as a byte string, and apparently StringIO doesn't like that.

I've put in a pull request #30989 which should fix it (I hope!)

[2020-01-14 00:33] HH-MWB commented on #30933
@datapythonista Yes, I agree with you. This seems to be simpler and more readable. And of course, I would be happy to work on that.

Should I put `take` in a comment here?

[2020-01-14 00:38] AlcoholV opened #30993 "BUG: Kurtosis bug?"
Why pandas kurtosis and scipy kurtosis result is different?
During the test, I also realized that the Pandas kurtosis value was constantly changing according to the starting point.

![1578962134989](https://user-images.githubusercontent.com/3617014/72303684-6633bf00-36b1-11ea-8d50-92d75cd77de7.png)

[2020-01-14 02:55] HH-MWB commented on #30933
### Solution
[code]

All non-keyworded arguments will be consider as doc template reference. If it's a string, then it will be use as a template. If it's a function, then consider the original doc string as template.

All templates will be concatenate together, and format by keyword arguments.

### Example
Here is some code in /pandas/core/series.py
[code]
We could rewrite it into
[code]
(Assuming

[2020-01-14 03:41] mroeschke commented on #30993
1. pandas statistical methods are unbiased, `scipy.stats.kurtosis` has `bias=True` by default
2. It would be easier to describe the problem/difference comparing the numerical values instead visually with these graphs.

[2020-01-14 03:45] xuancong84 commented on #6963
@jreback Sorry, could not get what you mean? Would you be more specific by illustration with examples?

Regardless of how you feel, currently when I am developing the omnipotent data plotter for pandas (https://github.com/xuancong84/beiwe-visualizer ), I am experiencing lots of frustrating limitations of pandas. A lot of situations that could be handled easily could not be handled very well. You m

[2020-01-14 04:20] jschendel commented on #30986
Thanks for the report.  I can confirm that this was broken on 0.25.3 but it looks like it's been fixed on `master` as well as on the [release candidate 1.0.0rc0](https://mail.python.org/pipermail/pandas-dev/2020-January/001173.html).

It doesn't look any fixes are necessary but could use some tests to prevent a regression in the future since I don't immediately see any tests that are related to th

[2020-01-14 04:46] jbrockmendel opened #30994 "API: DatetimeIndex.get_loc(datetime) should require tzawareness compat?"
[code]

get_loc is effectively an equality check, so I think it should behave like all our other comparisons and require tzawareness-compat.  So all of these would raise KeyError.

xref #17920, https://github.com/pandas-dev/pandas/pull/30819#issuecomment-572281006

[2020-01-14 04:53] AlcoholV commented on #30993
bias = False also different.
Apart from that, isn't it a bug that values constantly changing according to the starting point? Just looking at the screen shot, you can see the one line sticking out alone, even though I just sliding the window.  If it's normal, it should all be the same shape, regardless of location.

[2020-01-14 05:57] AlcoholV commented on #30993
It's weird. I'm trying to create an example by random generate time series. It can't be recreated. Several other stock charts work fine, too.
Is this what happens only some case or Did I do something wrong?

[code]

![kurt](https://user-images.githubusercontent.com/3617014/72317699-6ba6fe80-36dd-11ea-9fa6-e5c2e36ae8e2.png)
[test.txt](https://github.com/pandas-dev/pandas/files/4057547/test.txt)

[2020-01-14 07:05] souvik3333 commented on #30944
Hi, can I work on this?

[2020-01-14 08:25] jorisvandenbossche commented on #30367
Closing this as I think it's an issue with spark support of the specific timestamp type used. But @tigerhawkvok if you can further look into it and disagree with that, we can certainly re-open and further discuss!

[2020-01-14 08:25] #30367 closed

[2020-01-14 08:31] jorisvandenbossche commented on #30731
@venatir your code snippet works for me on pandas 0.25.3:

[code]

[2020-01-14 08:35] jorisvandenbossche commented on #30988
I checked the issues since the gitter discussion, and didn't see one about this (at least not in the open issues)

[2020-01-14 11:21] paulrougieux commented on #30552
I cannot reproduce the issue above with `cat = pd.Categorical(range(24), categories=range(10**5))` on pandas 0.25.3.
When upgrading from pandas 0.24.2 to 0.25.3, I have a new memory issue with a groupby().agg()  My groups are a mix of categorical and character variables.
Using

    df.groupby(index, observed=True)

fixes it.

[2020-01-14 11:56] RohitKumarGit commented on #26026
Fuck

[2020-01-14 11:57] jreback commented on #30988
https://github.com/pandas-dev/pandas/pull/30580

[2020-01-14 12:01] jorisvandenbossche commented on #30988
Ah, I should have checked the closed ones as well ;)

Closing as duplicate of #30567

[2020-01-14 12:01] #30988 closed

[2020-01-14 12:17] ShaharNaveh opened #30999 "[Good first issue] TST: Disallow bare pytest.raises"
End users rely on error messages for their debugging purposes. Thus, it is important that we make sure that the correct error messages are surfaced depending on the error triggered.

The core idea is to convert this:

[code]

To this:

[code]

You can read more about ```pytest.raises``` [here](https://docs.pytest.org/en/latest/assert.html#assertions-about-expected-exceptions).

---

#### Side note

[2020-01-14 12:24] MomIsBestFriend commented on #30999
I'll take:
- [ ] pandas/tests/test_common.py
- [ ] pandas/tests/test_downstream.py
- [ ] pandas/tests/test_errors.py
- [ ] pandas/tests/test_lib.py
- [ ] pandas/tests/test_take.py

[2020-01-14 12:24] simonjayhawkins commented on #23922
superseded by #30999

[2020-01-14 12:24] #23922 closed

[2020-01-14 12:39] #30966 closed

[2020-01-14 12:52] #29684 closed

[2020-01-14 13:09] bashtage commented on #30993
Is the variance of your data very close to zero?  If so, you could be seeing differences in rounding/numerical precision.

[2020-01-14 13:11] bashtage commented on #30993
excess kurtosis should always be > -3.  Since you are seeing large values then you are experiencing numerical errors and limits of numerical precision. I suspect many of your blocks have 0 or near 0 variance.

[2020-01-14 13:12] bashtage commented on #30993
To repro, just share observations 20 - 30 of test.csv.

[2020-01-14 13:24] sanderland opened #31002 "reindex-like has inconsistent behaviour and exceptions if columns don't match"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
It appears different methods of filling treat non matching columns differently. I came across this when trying to reindex two dataframes with one column each, whose names didn't match (as they were essentially irrelevant).

#### Workaround
before reindex do `df_2.columns = df_1.columns `

#### Expected Output
Th

[2020-01-14 13:25] gdex1 commented on #30999
I will begin working on:

pandas/tests/arithmetic/test_numeric.py
 pandas/tests/arithmetic/test_object.py
 pandas/tests/arithmetic/test_period.py
 pandas/tests/arithmetic/test_timedelta64.py
 pandas/tests/arrays/interval/test_interval.py

[2020-01-14 13:30] MomIsBestFriend commented on #30999
@gdex1 I hope this will help you :)

[code]
[code]

[code]

[code]

[2020-01-14 13:30] datapythonista commented on #30933
Thanks for working on this @HH-MWB. That looks like a good improvement to me.

Do you want to open a PR fixing some random cases, so people can see how it looks like in practice, and discuss whether it's worth all the effort to replace the current syntax.

[2020-01-14 13:33] tsvikas opened #31003 "incorrect docs: pd.NA ** 0 should return 1"
`pd.NA ** 0` returns 1. which is correct, as far as I understand <sup>1</sup>
However, the [documents, line 832](https://dev.pandas.io/docs/user_guide/missing_data.html) incorrectly claims that `pd.NA ** 0` returns 0.

----
<sup>1</sup> although one can ask if `NULL**0` should behave like `NAN**0`

[2020-01-14 13:37] MarcoGorelli commented on #31003
Good catch :) Interested in opening a pull request?

[2020-01-14 13:47] tsvikas commented on #31003
let's try!

[2020-01-14 13:51] sanderland commented on #31002
Tracked it down to `_reindex_axes` in `frame.py`: the same `method` is used for reindexing index and columns, which means that some kind of string ordering means 'a' ffills into 'b' (reversing the column names in the example makes bfill fail and ffill succeed). Either way, the `nearest` method is very unhappy about all of this.
[code]

[2020-01-14 13:59] datapythonista commented on #30974
Ignoring that message sounds good, or any other solution. The only constraint is that we surely don't want to make that CI part much more complex. I'd prefer to just not have the `##[error]` highlighting, than call `isort` in an unreadable or unreliable way.

[2020-01-14 14:02] simonjayhawkins commented on #30975
I agree. I think for this issue, we should restrict to improving the error message to something like `TypeError: to_append should be a Series or list/tuple of Series, got <type>` since the docs state:

[code]

and a note in the whatsnew that this now raises

an enhancement to accept a DataFrame could be raised as a separate issue and could be discussed there.

[2020-01-14 14:13] tsvikas commented on #31003
sorry, i seem to fork off the wron branch some how. i'll try again

[2020-01-14 14:23] AlcoholV commented on #30993
I think it's just like you said.
In fact, there's not much change in the 1 minute chart. It changes rapidly in a moment.
It wasn't until rolling length 40 that it were stable enough to believe. Until than, value have changed little by little

This problem made my three day trained network obsolete...

![1579011566007](https://user-images.githubusercontent.com/3617014/72351793-599c7e80-3724-11ea-8c

[2020-01-14 14:56] dprice80 opened #31006 "Using the same column twice within pd.DataFrameGroupBy.agg named arguments"
#### Problem description

Currently, in .agg, one cannot use the same column more than once, so the following code results in an error:

[code]

I understand that it is possible to create a MultiIndex DataFrame using a dictionary input rather than keyword arguments, but this required complicated renaming of columns and flattening of the resulting MI DataFrame. Is there some fundamental reason that

[2020-01-14 15:20] charlesdong1991 commented on #31006
thanks for reporting @dprice80 which version of pandas are you using?

Could you try it on master? or 1.0.0rc version? I think this issue has been fixed already.

[2020-01-14 15:37] TomAugspurger commented on #31006
Confirmed that it works for me locally. You can try out the 1.0.0rc as described in https://github.com/pandas-dev/pandas/releases/tag/v1.0.0rc0, or wait for the final release in a week or two.

[2020-01-14 15:37] #31006 closed

[2020-01-14 15:48] tonywu1999 commented on #26941
When you mention validating as a sphinx extension, do you mean creating a custom extension (like that done in the file 'doc/sphinxext/contributors.py')?

I'm also a little confused on the type of extension to create.  I've read about Sphinx **roles**, **directives**, and **builders**, but I'm not sure if there's any specific one I should choose for this situation.

[2020-01-14 15:51] hsorsky opened #31007 "`as_index = False` not working for applying groupby rolling agg to DataFrame"
#### Problem description

When using a rolling agg function on a groupby object, we cannot ommit the groupby columns from the resulting dataframe's index using `as_index = False`, like we can when applying a non-rolling agg function.

#### Code Sample

[code]

#### Expected Output
[code]

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a

[2020-01-14 15:51] datapythonista commented on #26941
I don't know much about sphinx extensions, and I find sphinx itself very confusing. But yes, I assumed that since sphinx is already parsing all the files, it could be possible in a custom extension like the contributors.py one to validate the titles.

But an independent script that parses all the files, extracts all the titles, and reports any with an unwanted capitalization is also an option.

[2020-01-14 16:08] tonywu1999 opened #31010 "DOC: contributing.rst sphinx link leads to 400 bad request"
When reading through the contributing guidelines (https://dev.pandas.io/docs/development/contributing.html), there are links to the Sphinx documentation and an introduction to reST.

_Sphinx documentation_:  http://sphinx.pocoo.org/
_Introduction to reST_:  http://sphinx.pocoo.org/rest.html

However, these links are not working and are leading to 400 bad requests.

I propose we replace these links

[2020-01-14 16:48] MarcoGorelli commented on #31010
Thanks for the report!

I agree, but perhaps https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html is more suited as the link for "Introduction to reST"?

[2020-01-14 17:16] dprice80 commented on #31006
Thanks very much. Didn't expect such a quick response. I will test with the new version.

[2020-01-14 17:52] tonywu1999 commented on #31010
take

[2020-01-14 18:18] tonywu1999 commented on #26941
take

[2020-01-14 18:18] kahuria00 commented on #20887
I had KeyError and thanks to this issue I was able to fix it.

[2020-01-14 19:09] MomIsBestFriend commented on #30999
@gfyoung the list wasn't generated by ```grep -r -e "pytest.raises([a-zA-Z]*)" pandas/tests -l``` in fact, it was generated by #30755 (a test validation type called ```bare_pytest_raises```), will put instructions at the issue body, once it gets merged :smile:

[2020-01-14 19:42] shubchat commented on #30999
@MomIsBestFriend  I will help with :
 pandas/tests/base/test_constructors.py
 pandas/tests/base/test_ops.py

[2020-01-14 20:22] simonjayhawkins commented on #31010
xref #31011

[2020-01-14 20:22] #31010 closed

[2020-01-14 20:40] charlesdong1991 opened #31016 "BUG: pivot_table with multi-index columns only and margins=True gives wrong output or fails"
Discovered in #31013 , when `pivot_table` only defines `columns` with single column and with `margins` set to `True`, it will fail.

[code]
However, when defining two columns, it magically works, but return a wrong shape:
[code]
This returns a Series, but A, B should be column index, so should get a DataFrame.

[2020-01-14 20:45] charlesdong1991 commented on #31016
take

[2020-01-14 21:33] #31003 closed

[2020-01-14 23:44] alimcmaster1 commented on #30873
Maybe @scoder or someone from Cython can help?

[2020-01-15 00:09] TomAugspurger commented on #30889
@jorisvandenbossche are you comfortable with me tagging this for 1.0? I think it's close enough to the NA work to include it, but I could also see it going in a 1.0.1.

[2020-01-15 00:19] AliOmran19991 commented on #28924
Hi @martinfleis
So no way to run your above code?

multi = line_1.union(line_2)
df.loc[0,  "geometry"] = multi
Thanks.

[2020-01-15 01:15] dargueta opened #31028 "Series.to_json produces invalid JSON with `orient="index"` if index is multilevel"
#### Code Sample, a copy-pastable example if possible

[code]

The keys in the output have unescaped quotes in them, resulting in invalid JSON. Output here is indented for clarity:

[code]

#### Problem description

`to_json()` should always either 1) produce valid JSON, or 2) throw an exception if it cannot.

#### Expected Output

The multilevel index in the output should be properly escaped to p

[2020-01-15 01:23] DylanBrdt commented on #30999
I can take care of these:
@MomIsBestFriend

 pandas/tests/io/test_html.py
 pandas/tests/io/test_parquet.py
 pandas/tests/io/test_sql.py
 pandas/tests/io/test_stata.py
 pandas/tests/plotting/test_backend.py
 pandas/tests/plotting/test_boxplot_method.py
 pandas/tests/plotting/test_frame.py
 pandas/tests/plotting/test_hist_method.py
 pandas/tests/plotting/test_series.py
 pandas/tests/reductions/test_

[2020-01-15 02:56] #30969 closed

[2020-01-15 03:08] tonywu1999 commented on #26941
At this point, I have been able to create a python script where given a .rst file, this file can parse through that .rst file, identify titles from the produced doctree, and determine which titles do not follow the capitalization convention mentioned above.

I've been using the doc/source/development/contributing.rst file as a test file to see if my code is working fine.  When testing, I noticed m

[2020-01-15 03:11] jreback commented on #30994
I agree with you here, we should be strict on tz awareness, though should'nt this actually raise a TypeError if its not tz compatible?

[2020-01-15 03:19] #17038 closed

[2020-01-15 07:28] tanmay1618 commented on #30699
Working on this

[2020-01-15 07:40] jorisvandenbossche commented on #30999
@MomIsBestFriend there was quite some discussion in https://github.com/pandas-dev/pandas/issues/23922 about to go about this. Because to repeat as I said there: I don't think we should "blindly" assert all error messages.

Some things that were said in that thread: limit it to internal error messages, limit the match to a few key words of the message, avoid complicated patterns.

Also, I think ass

[2020-01-15 07:50] jorisvandenbossche commented on #27357
Right now, after the deprecation, we will keep `is_copy=True`, while I think it should be `is_copy=False` that becomes the default. Please read https://github.com/pandas-dev/pandas/issues/27357#issuecomment-571639242 and https://github.com/pandas-dev/pandas/pull/30615#issuecomment-571637550

[2020-01-15 07:56] jorisvandenbossche commented on #27357
Example consequence of the PR. Using `sample()` can now give a false-positive warning:

[code]

The above is on master, on 0.25.3 this did not raise a warning.

[2020-01-15 09:47] martinfleis commented on #28924
@AliOmran19991 Probably not in pure pandas. There is a way in geopandas - you have to assign it to GeoSeries and then move it back to gdf.

[code]

[2020-01-15 09:49] eric-downes opened #31035 "Incorrect boolean bitwise conversion when dtype=object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code will produce the following unexpected output:

[code]

[2020-01-15 10:16] MarcoGorelli commented on #31028
I could not reproduce this on master, I got the output
[code]

[2020-01-15 10:21] MarcoGorelli commented on #31035
I think this is because
[code]
is of `dtype` `object` (because of the `None`).

I would advise first converting to `bool` as soon as you've filled in the missing values.

[2020-01-15 10:56] datapythonista commented on #26941
Thanks @tonywu1999, that sounds great. Those titles don't have anything special, and should be changed.

We don't have a list of proper names we want capitalized, we'll have to build that list dynamically, as we validate titles. Jeff mentioned few as examples: PyTables, Python and IPython. But not even sure if those appear in titles.

I think the way to move forward is to open a PR with your scrip

[2020-01-15 11:06] eric-downes commented on #31035
Yes that is exactly why.

The problem is that you often cannot tell *by looking at (real world) code* (unless its very simple) what the dtype of a given column will be at a given point in the code.  One *can* more often tell what type of data element is stored in that column, however.

If I write `df[col] = True`, it is very reasonable to then expect `~df.col` to be Falsey.  I would like to see a

[2020-01-15 11:18] eric-downes commented on #31035
On a practical level it appears a good workaround is to use - instead of ~.

So the above code works as expected even with dtype object:
[code]

produces
[code]

[2020-01-15 11:18] MarcoGorelli commented on #31035
Seems reasonable to me, let's see what the core team thinks (I'm relatively new to issue triage). Could we just add a warning to `__invert__` from `pandas.core.generic.py`?

[2020-01-15 11:24] datapythonista opened #31038 "CLN: Merge scripts/ and ci/ directories"
While conceptually it can make sense to separate the scripts that are mostly called from the CI, than the ones that are not, I think in practice the division between `scripts/` and `ci/` directories is rather arbitrary.

An example is `scripts/validate_docstrings.py`. We use it from the CI, but we use it locally too to validate a single function. We have also scripts in `ci/` that are currently no

[2020-01-15 11:32] datapythonista opened #31039 "CLN: Possibly obsolete scripts"
xref #31038

I'm unsure if the following scripts are still used:
[code]

The next I assume are for the release, but may be there is something obsolete here:
[code]

[2020-01-15 11:33] datapythonista commented on #19372
Superseded by #31038 and #31039

[2020-01-15 11:33] #19372 closed

[2020-01-15 11:59] datapythonista opened #31040 "DOC: Add CZI to the sponsors page"
I guess we want to add CZI to the sponsors page: https://pandas.io/about/sponsors.html

I think a section similar to Tidelift is the best option. Any other idea?

[2020-01-15 12:26] TomAugspurger commented on #31035
I don't think that's possible, since object dtype can include anything, including Python objects where `~` is perfectly sensible.

This would be fixed by https://github.com/pandas-dev/pandas/pull/23313, and implementing `BooleanArray.__invert__` on the new boolean array.

[2020-01-15 12:27] jorisvandenbossche commented on #31040
+1

Or have a section "Sponsors" that lists both?

[2020-01-15 12:29] jorisvandenbossche commented on #31039
The `download_wheels.py` script is still used at https://github.com/pandas-dev/pandas-release. The other release scripts are seemingly not used there (cc @TomAugspurger )

[2020-01-15 12:31] jorisvandenbossche commented on #31035
Hmm, that seems actually quite essential for working with boolean arrays ..

[2020-01-15 12:31] TomAugspurger commented on #31039
I think that's right. We can also move the `download_wheels` script to that
repository.

On Wed, Jan 15, 2020 at 6:29 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2020-01-15 12:33] TomAugspurger commented on #31035
Yeah. I started looking at reviving https://github.com/pandas-dev/pandas/pull/23313 a couple weeks ago but ran out of time. I wonder if we just get a minimal version of it working for 1.0?

[2020-01-15 12:34] jorisvandenbossche commented on #31035
Yes, or at least to get `~boolean_array/series` working.

[2020-01-15 12:38] jorisvandenbossche commented on #30896
I am not sure why you draw that conclusion now. Yes, there didn't happen much on that area, but we still have several ideas at https://github.com/pandas-dev/pandas/issues/28580 that can be tried out to improve this.

For now, of course fine to add a link.
The theme has the ability to add "external links" that automatically are added on the right to the header navbar. But I agree that an additional

[2020-01-15 12:52] zhenghao0379 opened #31041 "BUG: something wrong at pd.Dataframe.from_dict()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
the output A ，B  are diffrent
and output C out error

[2020-01-15 13:10] jorisvandenbossche commented on #28528
Not sure it fits on this issue, but it has to do with deployment of the docs, so posting here (but can also open a new issue).

Now we are starting to use the new deployed web/docs publicly, we still need to decide on a url scheme.
(for example, Tom used links to https://dev.pandas.io/docs/ in the rc announcement, and Marc used https://pandas.io, which has links to https://pandas.io/docs/ on twitt

[2020-01-15 13:11] HH-MWB commented on #30933
Yes, I will submit a PR, after I briefly structure the code. I want it matches the style here.

[2020-01-15 13:11] jorisvandenbossche commented on #28528
Ah, and I see now that @datapythonista already mentioned this above, and additionally had the idea to already be future proof and add a `/en/` to it for English.

[2020-01-15 13:23] MarcoGorelli commented on #31041
Thanks for the report.

This is because the data and index of the resulting DataFrame are determined by looking at the type of the first element in the dictionary:
[code]
It's assumed that each value in the dictionary should be of the same type. Core team - should this be mentioned in the docstring?

@zhenghao0379 if you change your example to
[code]
then (barring column order) the output will be

[2020-01-15 13:40] #29676 closed

[2020-01-15 13:48] AlexKirko opened #31043 "BUG: nonexistent Timestamp pre-summer/winter DST change with dateutil timezone"
#### Code Sample, a copy-pastable example if possible

This is fine:
[code]
This is also fine:
[code]
Meanwhile, this breaks representation and gets us nonexistent times:
[code]
And right on the cusp, the value breaks too:
[code]

#### Problem description

When we use `dateutil` timezones and try to create a Timestamp that is right on the cusp of the change from winter to summer time, we can get n

[2020-01-15 13:56] TomAugspurger commented on #28528
Whoops, I meant to use https://pandas.pydata.org/pandas-docs/version/1.0.0/ for those. Oh well.

Slight preference for pandas.pydata.org, just since there's so much material referencing that. We would of course redirect if we made the move, so this isn't a huge deal.

@aterrel can hopefully answer that.

[2020-01-15 13:57] TomAugspurger commented on #31035
Do you have time to work on that? I'll be busy until Monday or Tuesday.

[2020-01-15 13:57] jreback commented on #31043
cc @pganssle

[2020-01-15 14:01] datapythonista commented on #28528
The domains and the hostings are independent, we can use old server with pandas.io, and pandas.pydata.org in the new hosting. I think there was some discussion about using pandas.io when Wes proposed it, and people was happy with it. May be I just assumed it, in any case good to discuss it if anyone has anything to discuss.

I'd have pandas.io/docs/ for the docs, being a symlink to the latest vers

[2020-01-15 14:19] #30886 closed

[2020-01-15 16:15] WillAyd commented on #28528
Also a slight preference for pandas.pydata.org for same reasons prescribed by Tom

[2020-01-15 16:19] pganssle commented on #31043
I am not sure why the same thing is not happening with `pytz` - it's probably just going through a different code path. I believe what's happening here is that at some point in the process `pandas` (or, less likely, `dateutil`) is converting the integer timestamp into a float *before* truncating to the nearest microsecond, which is why the transition point happens at `1552211999999999872`. Note:

[2020-01-15 16:32] #24329 closed

[2020-01-15 16:37] WillAyd commented on #31028
This was most likely fixed by #27618 so be sure to try that out in 1.0

With that said I don't think there is a test explicit for a MultiIndex, so would welcome a PR to add that

[2020-01-15 16:40] Juanlu001 commented on #29146
Somewhat related to #26796.

[2020-01-15 16:50] jbrockmendel commented on #31038
No strong opinion here.  Misc thoughts

- The scripts/ have a tendency to become obsolete without anyone noticing, so if your proposal makes that easier to prevent, then that's a plus.
- A lot of work (yours!) has gone into the scripts and the CI config.  Last time I tried to configure Travis/Azure for a new project it was a PITA.  To the extent that we can make parts of this copy/pasteable by the

[2020-01-15 17:03] lambertsbennett commented on #29671
Sorry for the delayed response. This totally makes sense, I had calculated the run length of the files prior to splitting, but I will check again now that I've split files to see how long the new set of files takes.

[2020-01-15 17:08] jbrockmendel commented on #30994
The comparison would raise a TypeError, but get_loc would catch and re-raise with KeyError I think.  I'll be double-checking that we're consistent about this throughout (with docstrings)

@jorisvandenbossche any thoughts here before i move forward on this?

[2020-01-15 17:16] cchwala commented on #29146
@Juanlu001 Yes, but also related to https://github.com/pandas-dev/pandas/issues/12918

I work on fixing the use of `limit_area`, at least for `pandas.Series`. But the issue with the axis when using `df.interpolate(method='pad')` is left out, since it stems from code deeper down in the system.

[2020-01-15 17:56] AlexKirko commented on #31043
@pganssle Thanks, this narrows it down a lot. I'll investigate this issue further and try to find where the rounding up happens.

[2020-01-15 17:56] AlexKirko commented on #31043
take

[2020-01-15 18:58] dargueta commented on #31028
Ah -- I was expecting the keys to remain valid JSON so my deserialization code still blew up.

[2020-01-15 19:17] dargueta commented on #31028
My one gripe with the fix is that the keys are no longer valid JSON, as in previous releases. This makes it difficult to reconstruct into a nested format, e.g.

[code]

This is particularly problematic when communicating with non-Python code. Loading the keys would require the transformation to happen on the Python side with [`ast.literal_eval()`](https://docs.python.org/3/library/ast.html#ast.lit

[2020-01-15 19:18] kylekeppler opened #31050 "HDF5 API docs missing methods"
The [user guide IO Tools HDF5 section](https://pandas.io/docs/user_guide/io.html#hdf5-pytables) references a number of methods that are not documented in the [API docs for HDF5](https://pandas.io/docs/reference/io.html#hdfstore-pytables-hdf5).

The following `HDFStore` methods/attributes are mentioned only in the user guide:

Methods:
- `__init__`
- `remove`
- `create_table_index`
- `get_storer`
-

[2020-01-15 19:55] ghuls opened #31051 "Feature: Add "random" rank in the group for DataFrame.rank and similar functions."
Feature: Add "random" rank in the group for DataFrame.rank and similar functions.

#### Code Sample, a copy-pastable example if possible

[code]

It would be nice if it could be implemented in pandas as I have huge dataframes (100G) for which I need this feature.

In the worst case, is there a way to do something like this with multiple pandas commands?

A slightly related issue: https://github.co

[2020-01-15 20:14] kylekeppler opened #31052 "User guide HDF5 complevel and complib formatting strange"
Formatting for HDF5 `complevel` and `complib` is a bit weird on both the old docs and new docs.

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#compression
https://pandas.io/docs/user_guide/io.html#compression

[2020-01-15 20:14] WillAyd commented on #31028
@dargueta I'm not clear on what version of pandas you are referring to, what output you are getting and what you expect. If you can clarify would be helpful

[2020-01-15 20:21] ndmar commented on #30974
I wouldn't mind giving this a go. From a very cursory double check on this, it does indeed appear that the most straightforward solution would be to catch the stdout from the command, and ignore when the output matches the undesired message.

[2020-01-15 21:04] jorisvandenbossche commented on #30994
I think the examples above might be a bit misleading. The original tz-naive timestamps are not in the `dti2`, so that is the reason you are getting a key error (not because the tzawareness is not compatible). Constructing one specifically actually works:

[code]

For tz-aware series/index, I think this actually makes *some* sense. At least, for example I expect "tz-naive" strings to work.

The oth

[2020-01-15 21:05] hickmanw opened #31054 "DOC: intended series.loc behavior undocumented for boolean series"
#### series.loc when passed a boolean series
How will series.loc behave when passed a boolean series whose index contains the same values, but in a different order, than the focal series' index?

[code]
0    a
dtype: object
1    b
dtype: object

#### Problem description

I expected the index of `s2` to be ignored, in effect treating `s2` as a boolean array input, but I was wrong.

The [documentati

[2020-01-15 21:41] jorisvandenbossche commented on #30889
Do you mean 1.1? Otherwise I would rather do 1.0.0 instead of 1.1

I have the feeling it is a rather safe fix, and would indeed be nice to have this working on the EAs / nullable integer

[2020-01-15 22:14] MomIsBestFriend commented on #30999
@jorisvandenbossche

I completely agree, but the problem is that newcomers don't know what error messages to assert and what error messages not to assert, if we somehow define rules on what error messages to assert   and what not to assert, and at the same time keeping this issue "beginner friendly", it will be great.

Also, if we plan to enforce this in the CI we need to somehow mark what ```bare

[2020-01-15 22:44] jreback commented on #31051
-1 on this

you simply want random numbers between min and max w/o replacement

np.random.randn already does this
no need to add to rank

[2020-01-15 22:59] tonywu1999 commented on #26941
I have a couple questions regarding your comment:

1. Would the python script always be executing from the root/base of the repository?  And is the script supposed to run without putting the keyword "python" in front of the command?
(Ex:   python ./scripts/validate_rst_title_capitalization.py doc/source/index.rst )
2. What should I do when my script catches a title that is improperly formatted? Sh

[2020-01-15 23:00] gfyoung commented on #30999
I don't see much else to add from that issue either.

These are reasons in part why picking and choosing which to test and which not to test is not the direction I would prefer.  I would also add that we do sometimes check error message strings in `except` blocks.

Also, if these "internal" messages aren't that important, why do we have an error message in the first place?  I would then just creat

[2020-01-15 23:27] ghuls commented on #31051
@jreback But I don't want any number between min and max for a certain group.
Within each group I want a random ranking between min and max but never the same one.

I finally found a way to solve it by using np.random.shuffle.
I assume there is a better way than to use a for loop there (`apply`, `transform`, ???: couldn't figure out the correct way to do it). Any suggestions?

[code]

[2020-01-16 00:02] zero323 commented on #28142
Thank you for the answer @WillAyd.

I didn't mean stubs explicitly, but annotations that are visible to external checkers (which tend to assume no annotations, if no stubs packages or `py.typed` files are present).

For me it is basically a decision between waiting a bit longer (if these are expected to be ready soon. From that perspective even dynamic annotations are good enough) or adding elabor

[2020-01-16 01:44] datapythonista commented on #26941
For (1), I'd use as a reference the scripts in `scripts/validate_*.py`. I would prefer not to assume is being executed from anywhere (it's easy to not assume that). And I'd make the script executable, that's also easy.

For (2), you should output in the terminal (CI logs), a message as descriptive as possible, so when someone finds it in the CI, can easily understand and fix the problem. You also

[2020-01-16 02:33] datapythonista opened #31061 "WEB: Broken older versions link in the website"
In the top navigation of the website (see pandas.io), in the Docs section, the `Older versions` link is broken.

In #30891 I proposed to just have a single link to the docs for now, so there is no broken link or inconsistencies. But there is no agreement on getting that merged, and some discussion is needed.

Opening this issue, so ideas on what to do can be discussed.

[2020-01-16 04:04] xin-jin opened #31063 "DataFrame.GroupBy.apply has unexpected returns in some cases"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
This returns a DataFrame of shape (1, 10)

This seems to occur when i) The groupby key happens to have a unique value  ii) The apply function takes a DataFrame and returns a Series.

#### Expected Output

I expect it returns a Series of shape (10, 1)

#### Output of ``pd.show_versions()``

<details>

[paste the

[2020-01-16 04:24] jreback commented on #31051
you can just do something like

def f(x):
    return np.random.permutation(np.arange(x.min(), x.max())
df.groupby(..)[col].apply(f)

in any event this is out of scope for a method in pandas

[2020-01-16 04:24] #31051 closed

[2020-01-16 07:59] jorisvandenbossche commented on #30933
One note about using `format` instead of `%` format strings, is that this puts more constraints on the actual docstring. Specifically the use of "normal" `{` (not to be replaced) gets more complicated then. (I seem to remember this was one of the reasons that we kept it on `%` strings when I looked at that some years ago).

Now, of course that can be solved (double {{), and probably that doesn't o

[2020-01-16 08:11] chunxueyu opened #31067 "pd.to_datetime() time conversion error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-01-16 08:17] chunxueyu commented on #31067
when I use pd.to_datetime() to convert 12/1/2020. it has turn into 2020-12-01
this bug.

[2020-01-16 08:17] jorisvandenbossche opened #31068 "REGR: MultiIndex level names RuntimeError in groupby.apply"
[code]

On master this gives an error:
[code]

On 0.25.3 this works:

[code]

It seems the additional MultiIndex level that is not used to group (['A', 'B'] are index levels, but only grouping by 'B').

[2020-01-16 08:27] chunxueyu commented on #31067
the pandas version is 0.23.0
the code I use :  data["t2"] = pd.to_datetime(data["t2"])

[2020-01-16 08:46] jorisvandenbossche commented on #30999
So I said "limit to internal error messages", while "internal" can be a bit ambiguous... I meant: error messages that originate from pandas itself, and of course we want to test those. But so I meant that we (IMO) shouldn't test too much *external* error messages, meaning: messages coming from eg numpy or other libraries. Numpy can change those, and then our tests start failing due to a cosmetic c

[2020-01-16 08:59] gfyoung commented on #30999
It might make sense to create a larger issue to track these (other issues worth including are https://github.com/pandas-dev/pandas/issues/19159 and https://github.com/pandas-dev/pandas/issues/21575).

This part in itself is self-contained and is very approachable for beginners.

[2020-01-16 09:01] jorisvandenbossche commented on #30999
@gfyoung how are those issues you link related to this discussion?

[2020-01-16 09:05] gfyoung commented on #30999
It relates to the comment that you introduced from @simonjayhawkins

[2020-01-16 09:19] MarcoGorelli commented on #31067
If you use format ([see the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html))
[code]
you'll get
[code]
Is this what you were expecting?

[2020-01-16 10:09] chunxueyu commented on #31067
I used other methods to solve this problem. I want to know it's pandas  bug?

[2020-01-16 10:16] chunxueyu commented on #31067
en, I use other methods to solve this problem.  but the methods of you is more convenience.

[2020-01-16 10:46] MarcoGorelli commented on #31067
OK, I'll close the issue now then seeing as it looks like it's resolved

[2020-01-16 10:46] #31067 closed

[2020-01-16 11:03] davewd commented on #29547
I'll take :

- [ ] pandas/_version.py

as my  second (but hopefully first accepted PR

[2020-01-16 11:35] souvik3333 commented on #30944
take

[2020-01-16 11:37] itamar-precog commented on #12693
How about ignoring unhashable columns for the purposes of dropping duplicates?
Like adding a kwarg 'unhashable_type' whose default is 'raise' (which works as current), but can be set to 'ignore' (at the risk of dropping rows which aren't entirely duplicated).

[2020-01-16 11:38] ARDivekar commented on #25513
FYI. For those looking for a solution, I got around this by doing a simple: `df['index_name'] = df.index` before calling `df.to_json(...)`

[2020-01-16 12:10] bashtage commented on #30999
#31072 contains the one missing match in `stata.py`

[2020-01-16 13:08] dumbledad opened #31073 "The IntervalIndex documentation makes no mention of IntervalIndex.get_loc"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Why doesn't the documentation about IntervalIndex ([here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.IntervalIndex.html)) contain any mention of the function [IntervalIndex.get_loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.IntervalIndex.get_loc.html)?

#### Expect

[2020-01-16 13:29] MarcoGorelli commented on #31073
Thanks for the report - it's documented in [Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.html#pandas.Index), from which IntervalIndex inherits. In `see also` we mention:
[code]

[2020-01-16 13:30] charlesdong1991 commented on #31073
https://pandas.io/docs/reference/indexing.html#intervalindex

might be able to see it on new pandas website

[2020-01-16 14:13] HH-MWB commented on #30933
I agree with you. This could be a potential issue when switching from `%` to `format`. I have seen some docstring use `{}` to indicate a set. As you mentioned, one possible solution for this approach would use `{{` to replace `{`, and add an empty decorator like `@doc()` above the function.

#29547 is working on replacing string formatting to f-string. Foreseeable, in my opinion, the majority stri

[2020-01-16 14:58] douglas125 commented on #31041
Shouldn't it be the case to create from nested if any of the elements is a list?

[2020-01-16 15:24] rhkarls opened #31074 "Pandas .plot() on regularly spaced timeseries result in slow plotting/interaction"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I noticed that plotting time series using .plot() sometimes resulted in very slow and unresponsive plots, where it is difficult to interact with the figure (e.g. pan). I think this happens with regularly spaced time series where there either is a frequency defined or pandas is able to infer the frequency. Perha

[2020-01-16 15:25] richierocks opened #31075 "PERF: DataFrame.mean() is slow with datetime columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When DataFrame contains a `datetime64` column, the time taken to run the `.mean()` method for the whole DataFrame is thousands of times longer than than time taken to run the `.mean()` method on each column individually.

#### Expected Output

Answer is correct; just too slow.

#### Output of ``pd.show_versions

[2020-01-16 15:36] MarcoGorelli commented on #31041
@douglas125 I think that would be a possibility, but I presume that the core team decided against as it would mean having to check through the entire dictionary (so, evaluating the condition would require a linear - rather than constant - number of operations).

[2020-01-16 16:06] MarcoGorelli commented on #31075
Can confirm this reproduces on master, thanks for the report!

[2020-01-16 16:35] charlesdong1991 commented on #31074
maybe you want `pd.plotting.plot_params["x_compat"] = False`?

[2020-01-16 17:01] WillAyd commented on #21824
I was able to generate a core dump for this and as far as I can tell the segfault happens in `internals.pyx` and has something to do with `_as_array`.

Here is the generated code for internals where I *think* this segfault occurs:

[code]

Everything else I see in the traceback would be either numpy or sodlib

<details>

[code]

</details>

[2020-01-16 17:10] cottrell opened #31077 "dict to series turns tuple keys into single strings"
[code]

I would think this should result in tuple objects. Probably something in core/series.py ... looks like _init_dict and maybe create_series_with_explicit_dtype from poking around.

[2020-01-16 18:18] lamourj opened #31080 "Pandas 0.25.0 breaks np.isin"
Observed with numpy 1.17.4:

[code]

[code]

#### Problem description
Since 0.25.0, the `==` of `pd.Timestamp` is preserved but it doesn't go through `np.isin`.

[2020-01-16 19:36] rhkarls commented on #31074
Thanks! Yes this (x_compat=True) does provide a workaround when needing more responsive interaction for single axis plots for suppressing the tick adjustments. It does not really work that well with subplots and sharex plots. For example, plotting two series with the same index on two different axis with sharex=True and x_compat= True results in very messy ticks:
![image](https://user-images.githu

[2020-01-16 19:50] rhkarls commented on #29705
Since the order of plotting clearly matters it might be how pandas decides on representing dates on a numeric scale?

Here's another example showing the problem and how the order matters. This time with two regular spaced series, so the initial title I used might not be so accurate. It seems to happen when pandas deals with known frequencies, either defined on the index or when its able to infer t

[2020-01-16 19:55] RickOldenburger opened #31086 "Issue generating a line plot from a Series when previous plots are already defined"
#### Code Sample, a copy-pastable example if possible

[code]
#### The code above works fine unless the following has been executed to make "popout" graphs
%matplotlib qt5

If a previous graph exists from a previous run, and is still up. Then this graph will have additions added directly to it. Please see the images for what is happening.

![Bug report for Pandas](https://user-images.githubusercon

[2020-01-16 20:09] jbrockmendel commented on #31075
Does performance improve if you pass “numeric_only=False” to dataframe.mean?

[2020-01-16 20:10] rhkarls commented on #29705
Came across this 3 year old issue #15071, and seems to be related to this.

[2020-01-16 20:12] jorisvandenbossche opened #31087 "DOC: replace ggpy with plotnine on the ecosystem page"
We have an entry about ggpy in the visualization section of the ecosystem page (https://dev.pandas.io/docs/ecosystem.html#visualization). However, ggpy is no longer maintained (last commit is more than 3 years ago: https://github.com/yhat/ggpy). While plotnine is an actively developed alternative ggplot-python-interface (https://github.com/has2k1/plotnine/).

So I think we can just replace the ent

[2020-01-16 20:21] jorisvandenbossche commented on #31073
Yes, the IntervalIndex class docstring page (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.IntervalIndex.html) doesn't include this on purpose, it only lists the methods and attributes which are specific to IntervalIndex.

[2020-01-16 20:27] jorisvandenbossche commented on #31075
This is because we first try to apply the operation on the "values" of the full dataframe:

https://github.com/pandas-dev/pandas/blob/208bb41c3aa7b59009556c8f4c039da25f0ddb2d/pandas/core/frame.py#L7930-L7944

and it's creating those values (which creates an object array) which takes a lot fo time (and then also trying to reduce this object array).

[2020-01-16 20:31] jbrockmendel commented on #31075
#29941 may improve this

[2020-01-16 21:15] #30936 closed

[2020-01-16 21:36] #29038 closed

[2020-01-16 22:38] WillAyd commented on #28293
Closing for lack of info, but certainly can reopen if provided

[2020-01-16 22:38] #28293 closed

[2020-01-16 23:56] WillAyd opened #31090 "Clean Up Sphinx Warnings"
A fresh build of the docs locally yields all of the below warnings:

<details>

[code]

</details>

I believe these are just removed features and we should probably just remove from the docs as well

[2020-01-17 00:25] #31040 closed

[2020-01-17 01:00] WillAyd commented on #28071
I believe I've narrowed it down to this line:

https://github.com/pandas-dev/pandas/blob/b68a9bba9240a84c2aec40cc5669a1077a40e609/pandas/_libs/src/parser/tokenizer.c#L1192

Debugging @TomAugspurger example above, `word_deletions` is 0 at that point in time, so `self->words[word_deletions - 1]` would provide a negative index which would be undefined behavior

I think could add a check that `word_de

[2020-01-17 01:17] zouhairm commented on #15621
any updates on fixing this or suggestions for workarounds (maybe some other library that flattens the dictionary?)

[2020-01-17 03:03] jbrockmendel commented on #24892
Using @mroeschke's example, it looks like the behavior diverges when we get to DatetimeIndex._partial_date_slice, which starts with a check:

[code]

this raises for the monotonic index but not the non-monotonic one.

[2020-01-17 03:16] jbrockmendel commented on #28565
AFAICT the case where this raises is correct, and the case where it doesn't raise are incorrect.

`example[key]` should be doing a lookup on _columns_, to do any kind of indexing with a datetime-like string you should need to do `example.loc[key]`.

A corollary wrong-looking behavior is `example.loc[:, key[:-3]]` which incorrectly returns `example.loc[key[:-3]]`

[2020-01-17 03:18] jbrockmendel commented on #28565
... or maybe this behavior is intentional.  `example[key[:-3]]` goes down the path in `DataFrame.__getitem__`:

[code]

[2020-01-17 04:21] jbrockmendel commented on #9595
I'd also like to know the answer to this question.

The behavior that surprised me today was the few cases where `DataFrame.__getitem__[key]` does a row-based lookup rather than a column-based lookup.  If deprecating any of this behavior is an option, I advocate starting with making `DataFrame.__getitem__` always column-based.

[2020-01-17 04:22] JacobHayes commented on #17594
Would a PR changing `observed=True` as the default be considered for/before pandas 1.0.0? That seems to more closely match expectations (and most intentions). I'd be happy to submit that.

[2020-01-17 04:31] jreback commented on #17594
1.0.0rc1 has been out for a few weeks so
no it won’t be considered; it’s possible to add a depreciation that it would change in the future for 1.1

[2020-01-17 04:32] jreback commented on #9595
i believe we have an issue for this; would be +1 in depreciation

[2020-01-17 04:36] JacobHayes commented on #17594
Thanks @jreback, that makes sense. I'll take a look into a deprecation.

[2020-01-17 06:26] fullflu commented on #30770
OK, I will debug as you could suggest when I have time.

FYI: I found that the following code works well as a temporary solution.
[code]

[2020-01-17 08:02] jorisvandenbossche commented on #30790
@TomAugspurger is it possible the benchmarks machine is not running anymore the last days? (I don't see any updates from since I posted this issue)

[2020-01-17 08:04] solvergroup1924 commented on #29738
Hi , so basically we need the tolist() , to_dict() functions to return values in the native python datatypes right? so why don't we implement a function in the same file which typecasts the output provided by these functions. please correct me if i am wrong . Thanks

[2020-01-17 08:13] MomIsBestFriend commented on #30999
```+1``` on that.

[2020-01-17 08:27] jorisvandenbossche commented on #31090
The doc build on CI is completely warning free (see eg https://github.com/pandas-dev/pandas/runs/394455775), or should be at least (unless it doesn't print such warnings for some reason).
What version of sphinx are you using?

[2020-01-17 09:06] jorisvandenbossche commented on #29884
I am thinking we should maybe just change it, still for 1.0.0. Not ideal that it was not in the RC, but it's a clear inconsistency within pandas, and it would also be good to be consistent with latest numpy.

[2020-01-17 11:37] mfcabrera commented on #28142
As an end user I am also having the use of annotationg code with say `pd.DataFrame` and `mypy` interpreting it as `Any`.

I am bit confused here. in order to distribute the annotations isn't that enough to add `py.typed` file and modify the `setup.py`? That way mypy will be able to use the inline annotated code right? or there is something I am missing?

[2020-01-17 11:47] zero323 commented on #28142
There is a bit more to that. In general it is good to have annotations that pass type checks with standardish settings, otherwise you'll likely to break things downstream.

[2020-01-17 12:35] TomAugspurger commented on #30790
See these in the logs when running `asv publish`.

[code]

Not sure what's up.

[2020-01-17 13:08] jorisvandenbossche opened #31102 "BUG: Cannot astype from IntegerArray to BooleanArray with missing values"
For the boolean -> integer array conversion, I added a special path for that. But `astype`ing integer to boolean is currently not working:

[code]

while for conversions to other nullable dtypes, this should be possible.

[2020-01-17 13:10] jorisvandenbossche commented on #30790
Can't reproduce this. I just ran locally a `asv run --quick` (and it created a fresh env for that, since something changed), but everything runs without segfault

[2020-01-17 13:48] TomAugspurger commented on #30790
Yeah, I'm guessing something got messed up on a run and asv can't recover. Fixing things manually now.

[2020-01-17 13:50] galuhsahid commented on #30733
Closing this issue since I've fixed SS03 errors in #30939; will open a separate issue regarding the validation script

[2020-01-17 13:50] #30733 closed

[2020-01-17 14:07] TomAugspurger commented on #31102
Will we treat all non-zero values (other than NA) as True? We should match the behavior in the constructor.

[2020-01-17 15:01] jorisvandenbossche commented on #10556
Personally, I don't think getting such feature in pandas would be that hard. The commit linked above is not that complicated. And now we have the new metadata machinery ("attrs" attribute), we could maybe use that to attach the "consolidation policy" as metadata to the DataFrame.

If there is some agreement in that we still would want to merge something like this, I could try to revive that branch

[2020-01-17 15:02] jorisvandenbossche commented on #31102
Good question. I suppose yes? That's what numpy also does. In the constructor, we are actually a bit more conservative, and only allow 0/1/NA-like:

[code]

[2020-01-17 15:06] jorisvandenbossche opened #31104 "BUG: inconsistent creation of IntegerArray from boolean values"
When creating a nullable integer array from boolean values, we are being inconsistent between a boolean numpy array and a object array with bools:

[code]

[2020-01-17 15:54] benjamin-dirtydirty-be opened #31107 "Non-fixed/variable size moving windows in .rolling and .ewm"
Hi everyone.

I'm trying to code adaptive lookback indicators in Python/pandas.

[code]
The code above results in a "ValueError: window must be an integer"

[code]

When using a fixed size window of 60
[code]
I get the following output:

[code]
I would like to use ALB as _window_ (and _min_periods_) input for the .rolling part of the percentrank function, row by row.

I think it would make sense i

[2020-01-17 15:59] jorisvandenbossche opened #31108 "API: inconsistency in casting back to its EA dtype (try_cast_to_ea)"
With the current logic we have in `try_cast_to_ea`:

https://github.com/pandas-dev/pandas/blob/a72eef5a86979232337149961d2122f0b555c876/pandas/core/arrays/base.py#L49-L54

it's easy to get inconsistencies, and it depends critically on what `_from_sequence` accepts as valid scalar.

For example, we now have this

0     True
1    False
2    False
dtype: bool
[code]

0    1
1    0
2    0
dtype: Int64

[2020-01-17 16:05] TomAugspurger opened #31109 "Return NotImpelmented for arith ops with object-dtype Index subclasses"
This change in 1.0 impacted xarray

[code]

cc @jbrockmendel @dcherian. Brock suggested checking `type(other)`, and returning NotImplemented for index subclasses we don't know about, to give the subclass a chance to take over the op.

[2020-01-17 16:18] jorisvandenbossche commented on #31108
Another example (hypothetical, but it still illustrates the problem I think). If we would not have had the `and dtype.kind != 'M'` check before calling `try_cast_to_ea` at https://github.com/pandas-dev/pandas/blob/a72eef5a86979232337149961d2122f0b555c876/pandas/core/groupby/groupby.py#L810), we would see the following behaviour:

[code]

because we allow to create datetime64 array from integers. H

[2020-01-17 18:18] endremborza opened #31111 "Strange groupby apply behaviour"
#### Minimal reproducible example

[code]
<details>

DEDUCING GREE WITH INDEX:
 Index(['0-0', '0-2', '0-4', '0-10'], dtype='object')
0-0
0-2
0-4
0-10
RETURNING:
 tree            0
into          NaN
leaf_value      3
Name: 0-10, dtype: object
DEDUCING GREE WITH INDEX:
 Index(['1-0', '1-1', '1-2', '1-7'], dtype='object')
1-0
DEDUCING GREE WITH INDEX:
 Index(['0-0', '0-2', '0-4', '0-10'], dtype='obje

[2020-01-17 18:45] mroeschke commented on #31107
If you download the 1.0rc, you can try out the new feature of defining your own `BaseIndexer` that allows you to define a function that dictates the start and end bounds of each rolling/ewm window.

https://pandas.pydata.org/pandas-docs/version/1.0.0/user_guide/computation.html#stats-custom-rolling-window

[2020-01-17 20:04] TomAugspurger commented on #30790
Seems like conda got into a bad state on the benchmark machine. Restarting
helped, and so the benchmarks should start running again now.

On Fri, Jan 10, 2020 at 1:47 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2020-01-17 20:09] MomIsBestFriend commented on #30999
Will take next:

- [ ] pandas/tests/frame/methods/test_diff.py

- [ ] pandas/tests/frame/methods/test_quantile.py

- [ ] pandas/tests/frame/methods/test_replace.py

- [ ] pandas/tests/frame/methods/test_sort_values.py

- [ ] pandas/tests/frame/methods/test_to_dict.py

- [ ] pandas/tests/frame/test_analytics.py

- [ ] pandas/tests/frame/test_constructors.py

- [ ] pandas/tests/frame/test_dtypes.py

[2020-01-17 20:46] gfyoung commented on #30999
I would prefer the helper function since you then wouldn't have to think about adding that.  Also, the helper name is much clearer as to why we're doing it.

[2020-01-17 21:16] TomAugspurger commented on #31086
@RickOldenburger can you provide a minimal example when you file issues?

IIUC, the question is about Series.plot vs. DataFrame.plot different w.r.t. plotting on an existing axis. If so, that's discussed in https://github.com/pandas-dev/pandas/issues/8776. Let me know if I misunderstood.

[2020-01-17 21:16] #31086 closed

[2020-01-17 23:40] jbrockmendel commented on #31109
Should we try to get a short-term fix in for 1.0?

[2020-01-17 23:57] #18321 closed

[2020-01-18 00:16] RickOldenburger commented on #31086
Hi Tom, thanks for the quick reply.

The reason I opened a new issue is that I considered issue #8776
<https://github.com/pandas-dev/pandas/issues/8776> to be occurring only
when the application was still running. (perhaps, is misunderstood...)

IE. I already had graph up in the current running application. In fact, in
this scenario, I believe that the dataFrame should be changed to work like
the