[2021-08-24 16:59] leobrl opened #43201 "BUG: exception raised on subclassed DataFrame when calling _dispatch_frame_op"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ x ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This code raises an exception, ultimately because function ```_dispatch_frame_op``` in \pand

[2021-08-24 17:01] kurchi1205 commented on #42395
This should happen only when numeric_only is set to default . if all the columns of the dataframe is non-numeric , then the default value should be False , else in all other cases it should be true

[2021-08-24 17:09] Dr-Irv commented on #42395
So here is another proposal:
5. `numeric_only=None` is the default.  It has the following consequences:
* All numeric columns - all get reduced
* Mix of numeric and non-numeric columns - only numeric get reduced
* All non-numeric columns - all get reduced

If `numeric_only=True`, then only reduce numeric columns.  If `numeric_only=False`, reduce all columns.

Therefore, the default `numeric_only=N

[2021-08-24 17:23] datapythonista commented on #43197
Thanks for sharing @zkrolikowski-vl

Couple of things. Where did you get the disclaimer information from? Feels outdated, I guess we've got it outdated somewhere. The brand and logo "belong" to NumFOCUS. Not sure about the copyright of the code. We've got a section in the website about the logo and how to cite pandas, I think we could add information for your case there, and how to refer to pandas

[2021-08-24 17:45] kurchi1205 commented on #42395
@Dr-Irv Will that solve the above issue ?

[2021-08-24 17:49] kurchi1205 commented on #42395
I was suggesting why don't we check only the columns that have to be aggregated and not all the columns of the dataframe .
Suppose in the above issue , if we leave out the group key ie. `value` and check only the columns that have to aggregated ie. `duration` , then accordingly set the `numeric_only` value that should solve the issue

[2021-08-24 18:03] MarcoGorelli commented on #35407
Shall we make this happen and get a deprecation warning in for 1.4 so these can be removed in 2.0?

[2021-08-24 18:08] achapkowski commented on #35407
@MarcoGorelli my question still stands, why is this being done?

[2021-08-24 18:17] simonjayhawkins commented on #43197
see #28142 for discussion.

[2021-08-24 18:40] Dr-Irv commented on #42395
I think we need to get a group of us to agree on what behavior we want implemented to address the issue reported here and in #43108 .  That agreement should come from @simonjayhawkins @jbrockmendel and possibly others.

[2021-08-24 18:54] darindillon commented on #35407
Yes, why are we doing this? Tt seems like we're removing a VERY popular feature (the 10th most visited help page according to the OP) just because that feature is slow. But if we remove the feature, people will still want this functionality so they'll just end up implementing it manually anyway, so how are we improving anything by removing this?

[2021-08-24 18:55] simonjayhawkins commented on #42395
@Dr-Irv your proposal is more eloquent than my comments in https://github.com/pandas-dev/pandas/issues/42395#issuecomment-880075471 and https://github.com/pandas-dev/pandas/issues/42395#issuecomment-880014924

I'm fine with restoring the old behavior, keeping the bugfix for when `numeric_only=True` is specified by the user, and adding a warning that the behavior will change in the future, either t

[2021-08-24 19:06] mikephung122 commented on #25143
I saw this issue is open and unassigned, was wondering if I could pick it up.

[2021-08-24 19:11] Dr-Irv commented on #42395
By "your proposal", do you mean my (5) here:  https://github.com/pandas-dev/pandas/issues/42395#issuecomment-904824240 ?  Or one of the other 4? (first 3 in https://github.com/pandas-dev/pandas/issues/42395#issuecomment-904647634), fourth one here:  https://github.com/pandas-dev/pandas/issues/42395#issuecomment-904749742

[2021-08-24 20:41] jreback commented on #35407
there is a ton of discussion pls read in full

this has long been planned as inplace operations make the code base inordinately complex and offer very little benefit

[2021-08-24 21:01] wnojopra opened #43202 "BUG: NotFoundException from to_gbq when replacing table in project different from `project_id` parameter"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-24 21:08] jreback commented on #43202
pls file on the pandas-gbq repo as pandas just calls this

[2021-08-24 21:08] #43202 closed

[2021-08-24 21:15] wnojopra commented on #43202
Thanks. Filed https://github.com/googleapis/python-bigquery-pandas/issues/377

[2021-08-24 21:53] Hoeze commented on #43031
[Nested containment lists](https://academic.oup.com/bioinformatics/article/23/11/1386/199545) are usually significantly faster than IntervalTree's by an order of magnitude, so I guess it would be cool to have NCLS-based interval joins.

I already played a bit with [NCLS](https://github.com/biocore-ntnu/ncls), the library that powers pyranges:
[code]
Basically, I get the intersecting indices for ev

[2021-08-24 21:59] jbrockmendel commented on #42395
The DataFrame reductions all default numeric_only=None, which is deprecated, but i dont think we've decided what the future default will be.  im fine with False.

[2021-08-24 22:09] Hoeze commented on #43031
Another interesting library that seems to be even more efficient than NCLS (did not try that yet):
https://github.com/kylessmith/ailist

[2021-08-24 22:30] jbrockmendel commented on #42437
Somewhere in there it is calling np.array on your EA, and that produces a 2D ndarray.  If add to your example

[code]

then the code snippet works

[2021-08-24 22:57] gjoseph92 commented on #43156
FYI you should probably run this with `MALLOC_TRIM_THRESHOLD_=0 python -m memory_profiler memory_issue.py` on linux / `DYLD_INSERT_LIBRARIES=$(brew --prefix jemalloc)/lib/libjemalloc.dylib python -m memory_profiler memory_issue.py` on macOS to encourage the allocator to release pages back to the OS. `memory_profiler` is just tracking the RSS of the process, nothing fancier, so it's possible the me

[2021-08-24 23:05] mrocklin commented on #43156
I believe that I have run this with MALLOC_TRIM_THRESHOLD_=0 already and
saw the same results, but I should verify

On Tue, Aug 24, 2021 at 5:57 PM Gabe Joseph ***@***.***>
wrote:

[2021-08-24 23:13] mrocklin commented on #43156
Yes, same result on my linux/ubuntu machine running mambafoge.

[2021-08-25 00:39] #42736 closed

[2021-08-25 02:56] momomorphism opened #43204 "BUG: to_frame and transpose called on a series don't maintain dtype"
- [ O] I have checked that this issue has not already been reported.

- [ O ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

When converting a series to a single row dataframe, dtypes are not maintained. This cause a problem when a subsequent groupby with su

[2021-08-25 05:40] attack68 commented on #43164
@k4thir not really, because the error has not been triaged or discussed, so it is unclear what you should do. Instead trying searching for pandas issues with `label:"good first issue"` and milestone `contributions welcome`.

[2021-08-25 05:49] PatelDaksh commented on #43204
Hey , I saw the bug reported by you , Can I work on that ?

[2021-08-25 05:55] momomorphism commented on #43204
Yes, that would be awesome. If you can’t reproduce it I can guve more
details on version, I just couldn’t cooy past the whole thing.

On Wed, Aug 25, 2021 at 14:49 Daksh ***@***.***> wrote:

[2021-08-25 06:44] zkrolikowski-vl commented on #43197
@MarcoGorelli @datapythonista Thank you for responding so quickly and taking an interest in our project.

We've taken the copyright owners from the [pandas license](https://github.com/pandas-dev/pandas/blob/master/LICENSE) but now I see that the opensource contributors should also be included.

As for the logo we assumed the owner based on the [wikimedia page](https://commons.wikimedia.org/wiki/Fi

[2021-08-25 07:02] nakatomotoi commented on #42664
@TomAugspurger @mzeitlin11
Hello, I would like to work on this issue. This will be my first contribution to oss.
@jeremyswerdlow
If you haven't worked on this issue yet, I'd like to work on it. Is it ok for you?

[2021-08-25 07:06] tscheburaschka commented on #43080
@deepanshu-Raj

Did you get that from inspecting the pandas source code? Otherwise, I would expect `df[<any column>].dt.<some func>()` to always return a Series with the original index of `df`, such that assignments of the form
`df[<new column>] = df[<existing column>].dt.<some func>()`
align with the existing index and work as expected.

[2021-08-25 07:18] nakatomotoi commented on #41241
@simonjayhawkins
Hello, I would like to work on this issue. This will be my first contribution to oss.
I understand that I can test [this commit](https://github.com/simonjayhawkins/pandas/commit/c426ece31e26863653bd6fb84d5b9539e518baa4) in master branch, is that correct?

[2021-08-25 07:18] deponovo opened #43205 "Combination of groupby with dropna set to True and apply function not returning expected output"
(Using pandas 1.3.1 and numpy 1.20.3)

This is a repetition of the SO question found [here](https://stackoverflow.com/questions/68918019/pandas-groupby-with-dropna-set-to-true/68918101?noredirect=1#comment121798992_68918101). (I did not have this issue previously when working with version 1.1.3).

In the following snippet:
[code]
I was expecting df and df_again to be identical. But they are not:
[

[2021-08-25 07:41] phofl commented on #43204
Acutally I do think this is correct. Your Series has dtype object. If you transpose it every target column has dtype object, not float. e.g. the dtype is maintained. When creating a df via the constructor, the dtpye inference is done per column, causing float in a and b and object in c

[2021-08-25 08:09] Priyanshi-Chauhan commented on #43108
Can I work on this issue. Perhaps come up with the contribute to code

[2021-08-25 09:19] achapkowski commented on #35407
@jreback I don't see tons of discussion in this issue, please point me to the discussion that I might be better informed.  From what I see is a community asking you not to do this.

[2021-08-25 09:29] simonjayhawkins commented on #43108
Thanks @Priyanshi-Chauhan. This issue is closed. Discussion on this issue now in #42395. There is an open PR to fix #43154.

There are many other issues that could be worked on. I'd recommend any from https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+label%3A%22Needs+Tests%22

[2021-08-25 09:37] simonjayhawkins commented on #41241
Thanks @nakatomotoi. pandas has a test suite that is run on ci when a PR is opened. This issue requires a test to be added to the test suite so that we can close the issue knowing that future similar regressions should be less likely.

see https://github.com/pandas-dev/pandas/issues?q=is%3Aissue+is%3Aclosed+label%3A%22Needs+Tests%22 for issues like this that have been closed and check out the asso

[2021-08-25 09:46] nakatomotoi commented on #41241
@simonjayhawkins
Thank you very much for your kind reply.
Now I am going to try to add a test case.

[2021-08-25 09:52] MarcoGorelli commented on #35407
There's a long discussion here on deprecating inplace: #16529

I'd argue that this is still an improvement, because then it would be clearer to users that this is a slow feature - with the status quo, people are likely to think it's analogous to `list.append`

What's your use-case for `append`? What does it do that you can't do without 1-2 lines of code which call `concat`? If you want to make a c

[2021-08-25 10:16] od-crypto opened #43206 "BUG: inconsistent `groupby.apply` behaviour depending on column dtypes"
I see strange `groupby.apply` behaviour: resulting index depends on the existence of the `Timestamp` dtype column. MWE:

[code]

Output:

[code]
I expect the index to be like in the second output (`df2`). Indexes in `df1` and `df3` seem strange.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 5f648bf1706dd75a9ca0d29f26eadfbb595fe52b
pytho

[2021-08-25 10:18] KiranHipparagi commented on #42872
@ChrisJar what would be the answer of below code??
[code]
why can't we try like this...
[code]

[2021-08-25 10:39] simonjayhawkins commented on #42905
On pandas 1.2.5, the first example (b=..) gives the expected output. The second example (c=...) raises `RecursionError: maximum recursion depth exceeded in __instancecheck__` which is different from the error on master `RecursionError: maximum recursion depth exceeded while calling a Python object`

I'll label as a regression for now pending further investigation.

[2021-08-25 10:41] evoludigit opened #43208 "ENH: add converters to Dataframe constructor"
#### Is your feature request related to a problem?

I am using pandas to read both csv files and lists of lists.

I have a dictionary mapping some colum headers to a conversion function:

`dict_converters = {"column_a": func_a, "column_b": func_b, "column_e": func_a} `

I find the converters argument in pandas.read_csv to be very useful to pass a dictionary mapping columns to functions so as to ap

[2021-08-25 10:47] soni-muskan1234 commented on #43048
How i can run test suites prior to making a PR

[2021-08-25 10:51] Kavya9986 commented on #39158
@MarcoGorelli  Could you check the pull request ? #43163

fixed flake8
104e786

![precommit](https://user-images.githubusercontent.com/60135021/130777759-714426bd-20cd-48f1-b63f-1eb60151778f.png)

[2021-08-25 10:52] simonjayhawkins commented on #42970
okay. removed inappropriate labels. contributions welcome to fix.

[2021-08-25 10:56] simonjayhawkins commented on #43048
https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#running-the-test-suite

[2021-08-25 10:58] johanneselbs opened #43209 "BUG: groupby aggregation methods produce empty DataFrame with mixed DataTypes"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-08-25 11:03] zkrolikowski-vl commented on #43197
@datapythonista I've prepared a PR with an update to the ecosystem: https://github.com/pandas-dev/pandas/pull/43207

[2021-08-25 11:10] simonjayhawkins commented on #43209
Thanks @johanneselbs for the report.

the result on 1.2.5 was not completely correct. the dtype of the result seems iffy.

[code]

dtypes
[code]

will label as a regression for now pending further investigation.

[2021-08-25 11:24] soni-muskan1234 commented on #43048
I am new to open source.
Anyone please tell me, after I have refactored the code in my local repository how shall I proceed.

[2021-08-25 11:31] simonjayhawkins commented on #43048
details in https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#contributing-to-pandas

if anything unclear please let us know or open an issue suggesting improvements.

[2021-08-25 11:34] Codeberg-AsGithubAlternative-buhtz commented on #24036
[code]

[2021-08-25 11:35] simonjayhawkins commented on #42905
first bad commit: [212323f15de627b5a0aaf4e74cae5de89b7ac017] BUG: DataFrame.agg and apply with 'size' returns a scalar (#39935)

after this commit the error was
[code]

cc @rhshadrach

[2021-08-25 12:02] simonjayhawkins commented on #43206
Thanks @od-crypto for the report.

That was the result on 1.2.5

On master the second case now has the same index as the other two cases, a regular index.

not sure without investigating further which is correct or whether the changes were intentional.

will label as a regression for now pending further investigation.

[2021-08-25 12:09] jreback commented on #43208
-1 on adding to the constructor

we need to separate concerns
read_csv is a terrible example and this and the signature is way too large

[2021-08-25 12:41] simonjayhawkins commented on #43209
first bad commit: [6b94e2431536eac4d943e55064d26deaac29c92b] BUG: DataFrameGroupBy with numeric_only and empty non-numeric data (#41706)

This is the same commit that caused the regression in #42395

cc @jbrockmendel

[2021-08-25 12:57] simonjayhawkins commented on #43206
for 1st case

first bad commit: [a3bb751cc672b487e5ff464605661acbc22448fa] REF: back DatetimeBlock, TimedeltaBlock by DTA/TDA (#40456)

so the change was probably not intentional. @jbrockmendel is https://github.com/pandas-dev/pandas/issues/42921#issuecomment-898038166 relevant here?

[2021-08-25 13:02] jorisvandenbossche commented on #43165
Small note that in numpy they have been discussing changing the arguments for this keyword, cfr https://github.com/numpy/numpy/pull/19173 (and mailing list discussions), to be able to distinguish those cases of "never coying" vs "only copy when needed"

[2021-08-25 13:49] oovk commented on #42125
@Nishita5421 still working on this issue?

[2021-08-25 14:11] kurchi1205 commented on #39126
@simonjayhawkins can I add test cases for this?

[2021-08-25 14:34] TomAugspurger commented on #22384
Thanks for writing this up. A couple of thoughts:

In general, I agree that we should aim for (strict) safe casting by default. I think I'm more OK with erroring during casting, when e.g. an overflow is detected, than Joris is. That makes casting dtype-stable, but it might raise an exception.

And agreed that `astype` could grow a keyword to control this. If we move to strict by default everywhere

[2021-08-25 14:50] jorisvandenbossche commented on #22384
Yes, I think I am also fine with runtime-errors (eg for overflow). I find it more important to keep the result (if there is no error) dtype-stable.

About a possible default casting level, I assume that the "loose" safe casting might be fine as well for `astype`? For example converting ints to string with `astype("string")` should maybe not require an explicit keyword to allow this?
This is differ

[2021-08-25 15:01] simonjayhawkins commented on #43205
Thanks @deponovo for the report

first bad commit: [03e58585036c83ca3d4c86d7d3d7ede955c15130] BUG: groupby.apply on the NaN group drops values with original axes return (#38257) cc @GYHHAHA

[2021-08-25 15:06] simonjayhawkins commented on #43206
first bad commit: [d037ff6a4757bf8af2ca2431ba7d4b22b1959075] REF: remove libreduction.apply_frame_axis0 (#42992)

as this is a very recent change, could considered reverting that.

[2021-08-25 15:19] simonjayhawkins commented on #43204
does not appear to be a recent change, checked back to 0.25.3

agreed. closing. can reopen if we are missing something.

[2021-08-25 15:19] #43204 closed

[2021-08-25 15:30] simonjayhawkins commented on #43201
Thanks @leobrl for the report.

makes sense.

DataFrame._dispatch_frame_op was added in #37044 cc @jbrockmendel

[2021-08-25 16:17] Stark-developer01 commented on #43048
take

[2021-08-25 16:32] lorenzophys commented on #41174
@mroeschke I would like to write the tests for this behavior. Being my first issue with this codebase, tests related to this issue will go in `pandas/tests/io/json/test_pandas.py`? Or there's a more appropriate place?

[2021-08-25 16:37] LobRockyl commented on #42332
Can I work on this?

[2021-08-25 17:44] jbrockmendel opened #43212 "BUG: MultiIndex.putmask"
[code]

The result here somehow ended up with `len(result.levels) == 0`

[2021-08-25 20:07] phofl opened #43215 "TYP: Type hints in merge incorrect for ``on``"
The type hints for merge
[code]

imply that we pass keys here.

We have tests, which pass arrays as on argument, for example

``test_handle_join_key_pass_array``

Not sure if this is tested well...

related: #42844

[2021-08-26 08:32] sziem opened #43222 "BUG: Constructing DataFrame from list of series with MultiIndex, if MultiIndex contains (NaN, NaN)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I have observed a few issues, when constructing a dataframe from a list of series with multiindices, if any multiindex contains (NaN, NaN).

#### Code Sample, a copy-past

[2021-08-26 10:04] benHeid opened #43223 "BUG: Slicing on Datetimeindex fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-26 16:07] galipremsagar opened #43232 "BUG: `reorder_categories` with `inplace=True` is not changing the `dtype.categories`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-26 16:31] Karim-53 opened #43234 "ENH: Add .sem() to .describe()"
Hi,
The standard error of the mean is quite an interesting statistic. But many didn't hear about it.
It would be nice to add it to ``.describe()`` hoping that people would ask themself about the difference between ``.sem()`` and ``.std()``

[code]

If many people like the idea then I would create a PR to add this feature :)

[2021-08-27 00:24] lithomas1 opened #43242 "DEPR: squeeze() argument in read_csv/read_table"
I'm pretty sure you can do this directly with a .squeeze() afterwards.
The code does look pretty similar
squeeze()

https://github.com/pandas-dev/pandas/blob/5f648bf1706dd75a9ca0d29f26eadfbb595fe52b/pandas/core/generic.py#L979-L985

vs

read_csv(squeeze=True)

https://github.com/pandas-dev/pandas/blob/15302106ef41e562d2f80c6d1ecffdd4aea7158a/pandas/io/parsers/readers.py#L1063-L1064

[2021-08-27 07:44] George3d6 opened #43245 "iterrows does not preserve dtypes"
#### Is your feature request related to a problem?

I wish I could use pandas in a way that does not cause bug-hunting for hours to look for a specific spot where nonsensical behavior occurs.

#### Describe the solution you'd like

The iterrow function (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html) and a few other ways of access do not preserve data types, this is ve

[2021-08-27 23:18] #23697 closed

[2021-08-28 01:00] SARANYA233 commented on #43048
I m first time to this contribution field, I need some guidance to work on this issue. can I?

[2021-08-28 02:45] mIgLLL opened #43267 "BUG: crash in df.groupby.rolling.mean with forward window indexer"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-28 04:19] dsm054 commented on #43267
Yep, I see this too.  Even the simpler

[code]

segfaults on #2.

If I'm understanding the problem correctly, the indexer is being mutated.  Before the first groupby, indexer.window_size is 1; after the first groupby, it's not there at all.

After that, since FixedForwardWindowIndexer is a subclass of BaseIndexer, the first branch in RollingGroupby._get_window_indexer is taken, and we build a Grou

[2021-08-28 06:44] attack68 commented on #43048
Please see the revised description of this issue.
You can find code patterns in the generic codebase. Don't try and fix test files in `pandas/tests`.

[2021-08-28 10:12] KiranHipparagi commented on #43048
I am new to OpenSource Contributions . I want to work on this feature .
@attack68 Can I contribute to this issue ?

[2021-08-28 10:12] KiranHipparagi commented on #43048
take

[2021-08-28 16:27] Stark-developer01 commented on #42818
I have proposed a PR at #43271 can the PR be approved for awaiting workflows?

[2021-08-28 17:39] mzeitlin11 commented on #43267
Thanks for reporting this @mIgLLL! Your investigation makes sense @dsm054, would you be interested in making a pr to fix this?

[2021-08-28 17:54] mzeitlin11 commented on #43119
Looks like #40839 would fix this, so might not be worth patching if needs to be done with a workaround since there's already been progress towards that (#41412)

[2021-08-28 18:28] attack68 opened #43276 "DOC: `Styler` user guide limitations out of date"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

### Documentation problem

The limitations section is out of date given many of the PRs submitted in last few months.

### Suggested fix for documentat

[2021-08-28 18:34] lithomas1 commented on #42708
Wheels uploaded. Closing

[2021-08-28 18:34] #42708 closed

[2021-08-28 18:38] lithomas1 commented on #38889
Can't edit the OP, but wanted to add

- [ ] Convert all ``pyarrow_skip`` markers to ``pyarrow_xfail``. This was previously disabled due to timeouts.

[2021-08-28 19:09] westurner commented on #39911
Should Pandas instead return a mime bundle with one or more representations of the table?

- [ ] ENH: return mime bundles for Jupyter: `text/plain`, `text/html`, `text/latex`
  - [ ] Index?
  - [ ] Series
  - [ ] DataFrame
  - [ ] Panel
- [ ] CFG: configurable list of formats to include in mime bundles for Jupyter

[2021-08-28 19:13] LobRockyl commented on #43232
changing and reverting blocks.py still gives the same error

[2021-08-28 19:17] westurner commented on #39911
https://ipython.readthedocs.io/en/stable/api/generated/IPython.core.formatters.html?highlight=text%2Flatex#IPython.core.formatters.DisplayFormatter :

Possible MIME types:

Which of these formats does pandas produce now?
- text/plain -- `__str__()`
- text/html -- `_repr_html_()`
- text/markdown
- [ ] text/latex -- `_repr_latex_()`
- application/json
- [ ] application/ld+json
- application/pdf

[2021-08-28 19:39] jbrockmendel commented on #43156
Is there a viable non-pickle alternative?

When I change `pickle.dumps(group)` to `pickle.dumps(group.values)` to pickle the underlying ndarrays I end up with 50-60 mb less (and the gc.collect no longer gets anything) than i do with pickling the DataFrames, but thats still 2-3 times the original footprint.

[2021-08-28 19:56] #42125 closed

[2021-08-28 22:34] #43168 closed

[2021-08-29 01:18] hec10r opened #43280 "BUG: `pd.to_numeric` has an inconsistent behavior for `datetime` objects"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When using `pd.to_numeric` to convert a `pd.Series` with dtype `datetime64[ns]`, it returns d

[2021-08-29 01:29] mIgLLL commented on #43267
BTW, I find that the indexer also have another bug.

[code]
If there is a df.groupby, something went wrong! there is unnecessary missing values. And I find the number of missing value in "mean" column is related to the group diviation (df.loc[:7,'A']=1), If you change the size of group 1, the number of missing value also change! But it is not related to the size of group 2.

[2021-08-29 05:01] dsm054 commented on #43267
@mIgLLL: yeah.  It looks to me like the `end` value (the right side of the boundsit uses for each window) is wrong-- it winds up being too long, which means that the offset is wrong after recombination.  We wind up asking roll_mean to act on the values between positions

[code]

and you can see why you get the five NaN values in the middle.  The two arrays aren't even the same length.  The logic i

[2021-08-29 06:31] ranit-chatterjee commented on #42332
Can I contribute to your issue?
p.s.: I'm new to git, so if possible I'll be needing some guidance!

[2021-08-29 06:57] rajaryanbanka commented on #42818
Hi, I would like to take up this problem as my first open source contribution.

[2021-08-29 07:52] MarcoGorelli opened #43282 "STYLE use yaml anchors in .pre-commit-config.yaml for flake8"
Instead of duplicating these lines

https://github.com/pandas-dev/pandas/blob/e39ea3024cebb4e7a7fd35972a44637de6c41650/.pre-commit-config.yaml#L42-L45

https://github.com/pandas-dev/pandas/blob/e39ea3024cebb4e7a7fd35972a44637de6c41650/.pre-commit-config.yaml#L79-L83

we would use a [yaml anchor](https://ktomk.github.io/writing/yaml-anchor-alias-and-merge-key.html)

See here for an example of how t

[2021-08-29 07:56] JARVIS-03 commented on #43164
Hi @attack68,

To set the date format for your dataframe index, you have to use strftime(format)

Please add the following line in your code to get the index date to start from the day,

**df.index = df.index.strftime('%d/%m/%Y')** # 01/01/2000

Some of the Date format available,

**df.index = df.index.strftime('%d/%m/%Y') # 01/01/2000
df.index = df.index.strftime('%m/%d/%Y') # 01/01/2000
df.index

[2021-08-29 07:59] JARVIS-03 commented on #43164
Hi @attack68,

To set the date format for your dataframe index, you have to use **strftime(format)**

Please add the following line in your code to get the index date to start from the day

**df.index = df.index.strftime('%d/%m/%Y') # 01/01/2000**

Some of the Date format available,

**df.index = df.index.strftime('%d/%m/%Y') # 01/01/2000
df.index = df.index.strftime('%m/%d/%Y') # 01/01/2000
df.in

[2021-08-29 08:25] DAKSHA2001 commented on #33692
Give me this issue. I will work on it

[2021-08-29 09:18] DAKSHA2001 commented on #40661
Assign me this issue

[2021-08-29 09:23] DAKSHA2001 commented on #43280
Assign me this issue. I will solve it. I have to make an open source contribution as part of Microsoft Research Intern Role so assign this to me

[2021-08-29 10:08] rajaryanbanka commented on #33851
I would like to take this up.

[2021-08-29 11:12] lorenzophys commented on #43282
@MarcoGorelli a question from a non yaml expert: how would you merge those two lists? I don't believe this will work because `additional_dependencies` will become nested.
[code]
I cannot think of a way to get the second  `additional_dependencies` to be a list.

[2021-08-29 13:05] ranit-chatterjee commented on #42332
`
import numpy as np
import pandas as pd

df=pd.DataFrame({'A':np.random.poisson(5,size=10),
                'B':np.random.randn(10),
                'C':np.array(['Ally','Sally','Tally','Tapply','Riley','Wiley','Zipf','Poisson','Gamma','Beta']),
                'D':np.array([1,2,3,4,4,4,5,2,1,3])})
`
`
df.groupby(['D']).agg(['max','idxmin'])
`
`
df.groupby(['D','A']).agg(['max','idxmin'])
`

Plea

[2021-08-29 13:33] ankitasankars commented on #42818
Hello, Can I use this issue as my first contribution?

[2021-08-29 15:18] Tarunssd commented on #43048
take

[2021-08-29 15:39] dsm054 commented on #43267
Okay, I think I have a viable fix for both, and new tests have been added to verify the behaviour is sane in this and other cases.

@mzeitlin11: One thing I noticed in passing is that indices is misspelled as "indicies" in a bunch of places, unfortunately including one user-visible location, as an argument to GroupbyIndexer.  Does this mean there'd need to be a deprecation period if we change it t

[2021-08-29 15:43] Rishabhdhyani commented on #39130
Hello everyone,
I'm new to open source and wanted to start with Good First Issue. Can someone please assign me this issue so that I can start working on it?

[2021-08-29 15:49] Rishabhdhyani commented on #39130
@rhuille Can I start working on this issue?

[2021-08-29 15:49] Rishabhdhyani commented on #39130
take

[2021-08-29 16:12] goyaldhara commented on #42818
take

[2021-08-29 16:20] ShreyasPatel031 commented on #43280
take

[2021-08-29 16:40] mzeitlin11 commented on #43267
Not sure, cc @mroeschke if any thoughts here

[2021-08-29 17:08] Tarunssd commented on #42818
take

[2021-08-29 17:31] janosh commented on #36944
@simonjayhawkins Would this be a good first issue? Happy to help in that case.

[2021-08-29 17:41] amanj7820 commented on #42818
df = pd.DataFrame(prcpSeries, columns=['prcp'])
df['tmax'] = tmaxSeries
df = prcpSeries.to_frame(name='prcp’)
An alternative here is to create each as a DataFrame and then perform an outer join (using concat):

df1 = pd.DataFrame(prcpSeries, columns=['prcp'])
df2 = pd.DataFrame(tmaxSeries, columns=['tmax'])
...

df = pd.concat([df1, df2, ...], join='outer', axis=1)

In [21]: dfA = pd.DataFrame([1,

[2021-08-29 18:33] mroeschke commented on #43267
Only the indexers here are public, https://pandas.pydata.org/pandas-docs/stable/reference/window.html#window-indexer, so other ones, including GroupbyIndexer, can have the spelling mistakes fixed.

Thanks for looking into a fix.

[2021-08-29 20:20] ranit-chatterjee commented on #42332
@DFEvans

I think the issue has already been solved but I think there maybe some syntax error which would I like to point out!

[code]

[2021-08-29 20:41] tyuyoshi commented on #42818
take

[2021-08-29 20:46] tyuyoshi commented on #42818
Sorry, but I have already open PR #42960
I'm going to wait for review, so please take other issues.

@goyaldhara  @Tarunssd  @simonjayhawkins

[2021-08-29 21:20] Navaneethan2503 commented on #43280
this PR will close this issue #43289 , thanks for this issue @hec10r  .
closes #43280

[2021-08-29 23:11] sickcodes commented on #30517
FWIW `uint64` doesn't work with `sqlalchemy`, so using `set_index` before using `df.to_sql()` can causes errors.

https://github.com/pandas-dev/pandas/blob/master/pandas/io/sql.py#L1176-L1177

[code]

Dirty fix:
`df.index = df.index.astype('string')`

[2021-08-30 00:38] hec10r commented on #43280
take

[2021-08-30 00:48] ShreyasPatel031 commented on #42970
take

[2021-08-30 01:54] hec10r commented on #43280
After some investigation, it looks like this behavior is explained by: https://github.com/numpy/numpy/issues/19782, so not sure if this is a `pandas` issue or needs to be fixed in `numpy`. Before creating a PR here I would like to have the input from the maintainers.

[2021-08-30 03:10] jerrytim opened #43292 "BUG: inconsistent result when groupby then sum values that contain inf"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
while directly doing `groupby.sum`, the group with `inf` will return `np.nan`, but if we get t

[2021-08-30 03:27] Kunsh-Manghwani commented on #43282
Can i work on this issue?

[2021-08-30 04:01] Kunsh-Manghwani commented on #43282
I have resolved the issue and generated a PR .

[2021-08-30 04:21] hec10r commented on #43292
Small comment that may help:
When using version `1.1.3` I am getting `inf` as expected, but when using master I am getting the same results as you.

[2021-08-30 07:20] tambibhavika2000 commented on #43048
take

[2021-08-30 07:45] simonjayhawkins commented on #36944
Thanks @janosh. sure. go for it!

[2021-08-30 07:52] Rishabhdhyani commented on #43292
take

[2021-08-30 07:52] #41174 closed

[2021-08-30 07:56] Rishabhdhyani commented on #43292
take

[2021-08-30 09:00] Viraj-Rana008 commented on #39178
@mroeschke I want to work on this.
I am new to testing. Can you please suggest where to begin with tests, for this issue?

[2021-08-30 09:06] simonjayhawkins commented on #39178
@Viraj-Rana008 maybe reviewing PRs for closed issues that needed tests would be a good place to start. https://github.com/pandas-dev/pandas/issues?q=is%3Aissue+label%3A%22Needs+Tests%22+is%3Aclosed

In general, we want to replicate the code sample in the OP.

It may sometimes be beneficial to bisect to find the commit that fixed as sufficient tests may have already be added.

[2021-08-30 09:58] ShreyasPatel031 commented on #42970
1. As it turns out DataFrame.filter did not indeed have any multi-index functionality. The reason some multi-indexes seemed to pass were because all **bytes and non-strings were converted to str**. Thus when a tuple was passed instead of a string
[code]
This allows some regexes to work ( regex='e' ) but will fail for others ( regex='e$' ).

2. Secondly, I went with the design choice that in MultiI

[2021-08-30 10:46] AlexisMignon commented on #22435
The following solution was proposed by @machow :

It is unfortunately not enough. I've replaced the code starting at https://github.com/pandas-dev/pandas/blob/c979bd8b84e95bab0f69b4be71d2cd340e71912f/pandas/core/computation/expr.py#L827:

[code]
by

[code]
which is probably not the best way. It however allowed me to go further in the execution.

At some point:
https://github.com/pandas-dev/pandas/

[2021-08-30 10:57] simonjayhawkins commented on #43267
The code sample did not segfault in pandas 1.1.5

first bad commit: [a8e2f92abd43c32e729704e0872171daa1c804f7] REF: Simplifying creation of window indexers internally (#37177)

since not all users update on every pandas release, we could perhaps consider backporting the fix for the segfault issue if the issues could be kept independent.

[2021-08-30 11:44] AbhirathAnupamJoshi commented on #43292
take

[2021-08-30 12:09] sergiykhan commented on #42970
This looks great to me. Thank you.

[2021-08-30 12:51] simonjayhawkins commented on #43292
Thanks @jerrytim for the report.

also worked in 1.2.5

first bad commit: [5cc24c2882eff9623ea8e180c49fff2dd6caf9fe] ENH: Use Kahan summation to calculate groupby.sum() (#38903)

cc @phofl

[2021-08-30 12:59] Viraj-Rana008 commented on #39178
@simonjayhawkins What is OP?

[2021-08-30 13:01] simonjayhawkins commented on #39178
abbreviation for Original Poster. but often used to refer to the initial post.

[2021-08-30 13:12] #42606 closed

[2021-08-30 14:08] kwhkim commented on #43245
It seems that `iterrow` is misleadning. How about `iterseries` or so. Naming is hard! I've been using `iterrow` but was not unaware of this problem.. :(

[2021-08-30 15:12] #43212 closed

[2021-08-30 15:27] Rishabhdhyani commented on #43292
take

[2021-08-30 15:27] Rishabhdhyani commented on #43292
take

[2021-08-30 15:28] Rishabhdhyani commented on #43292
take

[2021-08-30 15:33] ShreyasPatel031 commented on #23541
Added **level** argument to filter MultiIndexes. Throws error if level is not passed for MultiIndex. Works for all items, like and regex condition.
[code]

[2021-08-30 15:34] ShreyasPatel031 commented on #23541
take

[2021-08-30 16:21] tommasogallingani opened #43304 "BUG: pd.json_normalize() does not handle index while working with Series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-30 16:36] phofl commented on #43245
-1 on this

One column of a DataFrame is often viewed as a Series, this would be really confusing. The disadvantages of iterrows are clearly documented and an alternative is provided.

[2021-08-30 16:42] phofl commented on #43304
``data`` is supposed to be a list or a dict, not a Series. So this is expected.

on a related note: I am not able to find the docs after 1.2.5, can anybody double check please?

[2021-08-30 16:44] kwhkim commented on #43245
Sure. I understand what you mean. But One column of a DataFrame is naturally a Series, and one row of most DataFrames can not be a series without converting dtype. There could another options like `iterseries(axis=0)` or `iterseries(axis=1)`.

[2021-08-30 16:46] phofl commented on #43245
If you do not want to change the dtype, just use itertuples

[2021-08-30 16:47] jreback commented on #43245
there are already too many iteration methods

-1 on any change

[2021-08-30 16:50] #42424 closed

[2021-08-30 16:59] kwhkim commented on #43194
I am aware of this edge case. As far as I figured out, a list consisted only of `True` and `False`s works as boolean values(not index). But if it is a series, it should have matched index. So there is no ambiguity with the below.

[code]

or you can slip in some value other than `True` or `False`

[code]

I think there should be something like `.ibol` for boolean indexing for completeness even tho

[2021-08-30 17:03] attack68 opened #43305 "BUG: Styler IndexError when rendering an empty DataFrame"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
[code]

The error here was not the use of MultiIndex but of the index name display row when there are no columns.

[2021-08-30 17:09] kwhkim commented on #43245
Thanks. but not quite the point though. I am talking about bad naming :(

[2021-08-30 17:35] kwhkim commented on #43038
In my case, no bug found. (But I can not understand how it can be a bug from `numpy` when `numpy` does not support integer `NA`s. Is it the reason that they named integer NA as `pd.NA`?)

[code]

[2021-08-30 17:57] kwhkim commented on #43018
I think `.astype(bool)` is flawed in some sense. Here is what I found.

[code]

This looks fine. I wish for `na_value` argument when applying `.astype()` but I can do this.

[code]

`NA` from other types(float, datetime64[ns], timedelta64[ns]) all produce `True` though which can be controversial.

[2021-08-30 18:00] asishm commented on #43304
possibly xref #42540

[2021-08-30 18:02] phofl commented on #43304
Should have checked, thx

[2021-08-30 18:04] phofl commented on #43018
Did you check on master? We modified this after this issue was opened

[2021-08-30 18:35] kwhkim commented on #42203
Wow, this looks serious. I have another example.

[code]

so `df.agg({'A':})` is more like `df.A.agg()`?

[code]

It gets weirder

[code]

[2021-08-30 20:36] galipremsagar opened #43310 "BUG: `DataFrame.rank` & `Series.rank` results are inconsistent"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-30 20:59] rhshadrach commented on #42395
I'm a bit late to the recent parts of the discussion, but I just spent some time piecing them together from various issues/PRs, and wanted to post a summary. Apologies in advance if any of this is outdated/mistaken.

The existing behavior is nicely summarized here (where the second link corrects the understanding of a case in the first link):

 - https://github.com/pandas-dev/pandas/issues/42395#i

[2021-08-30 21:18] lithomas1 opened #43313 "DIS: Keywords for multi-threading capabilities"
With the addition of the new pyarrow engine, we now have the option to use multiple threads to read a CSV file. (This is also controllable through the ``pyarrow.set_cpu_count`` option).

Should we expose a keyword(such as ``num_threads`` maybe) to the user as a keyword, or just add an example in the docs(for this case, redirecting to ``pyarrow.set_cpu_count``? In the case of ``read_csv``, this key

[2021-08-30 21:51] phofl commented on #43310
Duplicate of #32593

[2021-08-30 21:51] #43310 closed

[2021-08-30 21:54] galipremsagar commented on #43310
@phofl This issues seems to be occurring in the most recent version of pandas as posted in the versions tab.

[2021-08-30 21:56] phofl commented on #43310
This works on master

[2021-08-30 22:00] phofl commented on #43310
But you are correct, this was fixed by #41931

[2021-08-30 22:18] galipremsagar commented on #43310
Thanks @phofl !

[2021-08-30 23:08] mroeschke commented on #43313
What is done for numba capabilities (`engine="numba"`) and is the most flexible IMO is to pair `engine` with a  `engine_kwargs` keywords which accepts a `dict` with engine configurations e.g. `{"set_cpu_count": 2}`

This way the pandas API isn't tied to engine specific constructs while catering to whatever capabilities each engine supports.

[2021-08-30 23:20] galipremsagar opened #43314 "BUG: `DataFrame.explode` is failing on scalar `int` value."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-31 00:07] jreback commented on #43313
we pass thru n_threads
in the parquet reader

so wouldn't object to a matching keyword or @mroeschke suggestion

[2021-08-31 01:33] rhshadrach commented on #42905
Thanks @manoelpqueiroz for the report. I'm seeing the same with a git bisect as @simonjayhawkins reported, but don't quite understand it yet. The method `BaseGroupBy._selected_obj` is being called on master with `self._selection` as None, resulting in a DataFrame where 1.2.x has it set and returns a Series. It appears to me the current implementation on master would work as expected if this method

[2021-08-31 04:14] lithomas1 commented on #43313
Personally, I think it might be better to just use a standard keyword argument, since it could be confusing if this changes between engines. I think this option would probably be popular enough to warrant this.

Having a standard keyword to control multi-threading could also pave the way for a global option to config this for everything.

(btw, n_threads doesn't exist in pyarrow anymore, you have

[2021-08-31 04:59] jxb4892 commented on #29080
take

[2021-08-31 06:27] vikramkanishka opened #43319 "bug are there"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation
[code]
### Documentation problem
[code]
### Suggested fix for documentation
[code]

[2021-08-31 06:34] MarcoGorelli commented on #43319
Can you put a descriptive title?

Can you also show what the bug is with actual output and expected output?

[2021-08-31 07:49] daksh-intwala commented on #32822
I can fix it, can I make a pull request?

[2021-08-31 07:52] DFEvans commented on #42332
Looks like it is now fixed - Pandas 1.3.0 and higher retains the index for all four examples in the original issue:

[code]

[2021-08-31 07:52] #42332 closed

[2021-08-31 09:20] znicholls commented on #10349
As an update on efforts with pint-pandas, we have hit the wall with https://github.com/pandas-dev/pandas/issues/35131. The crux is how to handle this scalar/array ambiguity without potentially destroying performance elsewhere.

The first attempt at a fix was https://github.com/pandas-dev/pandas/pull/35127, that was superseded by  #39790 but that went stale.

The latest person to raise this (as far

[2021-08-31 09:25] znicholls commented on #5645
This appears to have been fixed somewhere, in the latest master you can do

[code]

[2021-08-31 09:44] znicholls opened #43321 "BUG: alignment in operations with multi-index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-31 09:47] attack68 commented on #43319
the code appears to be copied and pasted 3 times?

[2021-08-31 09:58] simonjayhawkins commented on #42395
I could back down on that point to a certain extent.

from the policy, https://pandas.pydata.org/pandas-docs/dev/development/policies.html#version-policy

That statement is very explicit, but where we are fixing the regressed behavior, we could maybe add a warning for the changed cases only (that we are reverting to 1.2.x behavior)?

I think we maybe able to justify that as part of the regression

[2021-08-31 10:04] attack68 commented on #43048
Did a quick search of the codebase and outside of all the test files this seems to have been addressed by all contributions now.

[2021-08-31 10:04] #43048 closed

[2021-08-31 10:44] janosh commented on #36944
Great. Anything to be aware of? Is it okay to use `removeprefix` or should the implementation be backwards compatible, i.e. work for people on Python <3.9?

[2021-08-31 10:53] shubh242 commented on #43223
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {'col2': [i for i in range(4)]},
    index=pd.DatetimeIndex(**["2011-01-11 22:00", "2011-01-11 23:00", "2011-01-12 00:00", "2011-01-13 00:00"]**))
df["2011-01-01": "2011-11-01"]

Output:-

	                             col2
2011-01-11 22:00:00	0
2011-01-11 23:00:00	1
2011-01-12 00:00:00	2
2011-01-13 00:00:00	3

Try using same datetime

[2021-08-31 11:06] simonjayhawkins commented on #36944
From the comments here and the stalled PR #39226, I believe that we would want to use the implementation in [PEP 616](https://www.python.org/dev/peps/pep-0616/) to order to provide support for Python <3.9.

I think there is an outstanding question on whether we use the python native functions when available https://github.com/pandas-dev/pandas/pull/39226#issuecomment-836719770.

[2021-08-31 11:12] DeepakPareta commented on #39443
u could try this as well for this
pd.concat([
    pd.DataFrame({'x': pd.Series(datetime(2021, 1, 1), index=[0]}),
    pd.DataFrame({'x': pd.Series(datetime(2021, 1, 2), index=[1]})
])

[2021-08-31 11:47] MarcoGorelli commented on #43319
yeah, let's close - @vikramkanishka if you provide a proper bug report we'll reopen https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-08-31 11:47] #43319 closed

[2021-08-31 12:02] simonjayhawkins commented on #43132
Thanks @AlexeyGy for exploring this issue further.

refactoring, de-duplication, cleaning and maintaining api consistency is an ongoing process, but that may not be the best option if we wanted to backport any fixes to 1.3.x unless we limited the dispatch from `groupby.mean`  to `DatetimeLikeArrayMixin.mean` @jbrockmendel?

There has been much discussion in #42395 and #43154 about changes to `_res

[2021-08-31 12:25] janosh commented on #36944
Cool, I opened a draft PR at #43328. Let's discuss details there.

[2021-08-31 13:13] #39167 closed

[2021-08-31 13:39] julienlmet opened #43329 "BUG: resampling DataFrame with DateTimeIndex with holes and `uint64` columns leads to error on `pandas==1.3.2` (not in `1.2.5`)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-31 14:10] nylocx commented on #10440
This is still relevant as it just bit me. Here is my minimal example that looks ok but screws up the data:
[code]

if I just add in a values, everything is working fine:
[code]

[2021-08-31 14:19] jorisvandenbossche commented on #22384
Thanks, that's useful!

The other way around, that also brings up the question whether the behaviour of `errors="coerce"` (converting the non-castable/convertable values to NA/NaNs) is something we want in `astype` as well.
I would maybe say no, and leave that for the more specialized conversion functions.

It will be slower, that's for sure.
As a quick dummy check to get an idea of magnitude, for

[2021-08-31 14:56] simonjayhawkins commented on #43314
Thanks @galipremsagar for the report.

1.2.5 was giving the expected output.

[2021-08-31 14:59] #43305 closed

[2021-08-31 15:14] AgustinPardo commented on #41183
Same issue with groupby min on 1.1.5 version!

[2021-08-31 15:29] alimcmaster1 commented on #42580
Do you still want to work on this? If not I think we can mark as good first issue/contrib welcome as instructions above look comprehensive :)

@fangchenli

[2021-08-31 15:45] simonjayhawkins commented on #43314
first bad commit: [41a94b05d13641d0e4c1869cdead0ba74258bc37] EHN: multi-column explode (#39240) (#40770)

[2021-08-31 16:11] AgustinPardo commented on #41183
I solve it as @trimbilrepo mention, using less columns of the dataframe.

[2021-08-31 16:25] debnathshoham opened #43330 "BUG: groupby.std() casts to float64"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

This came out of https://github.com/pandas-dev/pandas/pull/43213#discussion_r699410411

#### Code Sample, a copy-pastable example

[code]

#### Problem description

With

[2021-08-31 16:53] phofl commented on #43330
See #37494

[2021-08-31 17:02] simonjayhawkins commented on #43329
Thanks @julienlmet for the report

first bad commit: [c294bdd03ad86c14c55566d1332882328ada9b05] CLN: remove ensure_int_or_float (#41011)

cc @jbrockmendel

[2021-08-31 18:08] mzeitlin11 commented on #41183
@AgustinPardo can you please check if the issue occurs on the latest version (1.3.2)? And if so, would you mind posting a minimal example here?

[2021-08-31 18:26] mroeschke commented on #32822
Sure go for it @daksh-intwala

[2021-08-31 18:48] debnathshoham commented on #43329
Hi @julienlmet , could you please confirm if you are getting the error on `one_hot = pd.get_dummies(df["x"])`?
Because I am getting the same error on `df_output = one_hot.resample("D").max()` in master.

[2021-08-31 18:49] mroeschke commented on #43280
The key point to note is that `datetime` objects in pandas get converted to `datetime64[ns]` (this has been the convention for a while) and not explicitly an object unless `dtype=object` is specified. So that being said:

Incorrect, should be `1629590400000000000`
[code]

Correct
[code]

Incorrect, should be `1629590400000000000`
[code]
Correct
[code]
Incorrect, probably related to https://github.

[2021-08-31 19:15] hec10r commented on #43280
Hi Matthew, thanks for answering.

That's the other approach that I considered, but since there weren't documentation of the `pd.to_numeric` behavior for date-like objects and I didn't find it very intuitive, I thought that changing the whole behavior for something more _intuitive_ would be good.

The use case where I am struggling with is this one:
[code]
Is this desired/expected? Should we retur

[2021-08-31 19:29] AgustinPardo commented on #41183
@mzeitlin11 I am using python:3.6.2 so pandas 1.1.5 is the last version I can use.

[2021-08-31 19:54] #43016 closed

[2021-08-31 20:16] hec10r commented on #43280
IMO, the best approach would be to have a function `pd._scalar_to_numeric`and then call it inside `pd.to_numeric`, something like:
[code]
What do you think?

[2021-08-31 20:28] mfstabile opened #43334 "BUG: pd.Categorical turns all values into NaN"
- [X] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

This code sample reads the popular Kaggle titanic file. When reading the titanic.xlsx file, the following Data Set is

[2021-08-31 21:28] galipremsagar opened #43336 "BUG: Change in index of empty dataframes in `mode` operation"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-08-31 21:36] jbrockmendel commented on #22384
The idea is that 'astype' in general means something like 'the same information but in a different format' and that doesn't make sense with i8 <-> M8

[2021-08-31 21:44] jbrockmendel commented on #42395
I'm fine with that.

[2021-08-31 21:54] rhshadrach opened #43337 "BUG: transpose unnecessarily returning object"
Ref: https://github.com/pandas-dev/pandas/pull/43213/files#r699680952

Example:

[code]

gives int64 for the first example, and object for the 2nd. However, the 2nd arguably would be better off as Int64.

The code from #43213 could be used in the transpose method, something akin to

[code]

Perhaps there are undesirable side-effects by doing this?

[2021-08-31 21:58] jbrockmendel commented on #43329
Looks like ensure_int_or_float cast uint8 dtype to int64, and failing to do that (when there are empty groups, as there are here) raises.  so we need to restore that particular casting

[2021-08-31 22:01] jbrockmendel commented on #43337
Shout it from the rooftops: the solution is 2D EAs

[2021-08-31 22:22] jbrockmendel commented on #43132
The correct long-term solution is for libgroupby.group_mean to take a `is_datetimelike` keyword like many of the other functions there do.

@AlexeyGy any interest in implementing this?

[2021-08-31 22:23] rhshadrach commented on #43088
I think the worry is to have code that does something like (taken from the xlsxwriter docs):

[code]

Doing something directly with the writer may lead to unexpected behavior on the call to `df.to_excel`, but I haven't yet tried to come up with any examples where this can occur.

It's been suggested (https://github.com/pandas-dev/pandas/pull/42222#discussion_r693280177) that perhaps we should just

[2021-08-31 22:47] jbrockmendel commented on #42905
This is pretty nasty.  Best guess is that in GroupByMixin._gotitem when we do groupby = self._groupby[key] and catch IndexError, we are catching cases that we shouldn't be.

[2021-08-31 23:32] #37553 closed

[2021-08-31 23:42] #20654 closed

[2021-08-31 23:43] #40830 closed

[2021-08-31 23:58] #33090 closed

[2021-09-01 00:28] jreback commented on #43088
agree with @rhshadrach lets depreciate ExcelWriter

[2021-09-01 01:12] Liam3851 commented on #43088
Re deprecation of ExcelWriter, will to_excel with mode='append' allow writing multiple sheets to the excel file at once in some manner? Won't there be perf loss if you're writing a bunch of sheets to an Excel file and you have to close and reopen it each time, esp. if it's stored on a remote? e.g. currently this works:

with pd.ExcelWriter('s3://my_bucket/my_obj.xlsx') as writer:
   for i in range

[2021-09-01 01:27] rhshadrach commented on #43088
Not sure it should be deprecated yet @jreback - but looking into the impacts it may have.

@Liam3851 are you able to benchmark this? You can compare the time to write using code you posted against just calling `df.to_excel('s3://my_bucket/my_obj.xlsx')`. Even though the latter overwrites, it would show the performance difference in reopening the remote file. A small DataFrame would show worst case

[2021-09-01 03:43] Liam3851 commented on #43088
I'd think the overhead would actually come from large excel files, if I'm understanding correctly (I may not be). My impression is that instead of ExcelWriter, we'd use df.to_excel with mode='a', repeatedly appending to the same file. In the remote case though, instead of committing the file as one operation via the end of the ExcelWriter, we would now write a file (sending it to S3), then open it

[2021-09-01 04:24] gsiano opened #43339 "BUG: skiplist memory leak in rolling functions"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-09-01 04:47] mroeschke commented on #43280
Probably the best approach would be to modify this line here to handle datetime like scalars (use one of the existing functions in `pandas.core.dtypes.common`

https://github.com/pandas-dev/pandas/blob/5f648bf1706dd75a9ca0d29f26eadfbb595fe52b/pandas/core/tools/numeric.py#L155

[2021-09-01 04:49] hec10r commented on #43280
By only doing that, the problem will persist for lists, tuples and np.arrays

[2021-09-01 05:00] mroeschke commented on #43280
Best to address scalars vs array-likes in separate PRs. I imagine addressing array-likes may need to use one of the datetime inference functions for arrays

[2021-09-01 05:13] hec10r commented on #43280
I don't see a way of fixing array-likes without using the same logic than for scalars. Inferring the type of the array isn't enough given all the possible cases. Having a function that handles scalars and then mapping this function element by element for iterables seems to be the easiest solution.

[2021-09-01 05:21] mroeschke commented on #43280
This will kill performance for the existing cases, so that implementation is probably a non-starter.

[2021-09-01 06:56] AlexeyGy commented on #43132
Yes, happy to help. Should not be a problem since I can peek at the other implementations in [the file](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/groupby.pyx#L674).

Awesome that there are even tests for both, [libgroupby](https://github.com/pandas-dev/pandas/blob/d0e20a01c77e6f894559fb9a7431ae947dbfb69a/pandas/tests/groupby/test_libgroupby.py), and [groupby](https://github.com

[2021-09-01 07:57] phofl commented on #43334
Hi, could you please post a minimal and reproducible example? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2021-09-01 08:01] phofl commented on #43330
Does this happen also with other functions except var? I think this is on purpose for std and var

[2021-09-01 08:01] Sara-cos commented on #42664
take

[2021-09-01 08:09] debnathshoham commented on #43330
var is working as expected..

[code]

[2021-09-01 08:51] nakatomotoi commented on #41241
take

[2021-09-01 12:54] simonjayhawkins commented on #43336
Thanks @galipremsagar for the report.

The new behavior looks potentially correct to me. (It maybe should raise instead @jbrockmendel?)

The number of rows in the result of a mode operation (with the default axis) corresponds to the highest number of modes in the results over all the columns.

For the first example, there are 3 modes in the only column present, hence 3 rows in the result.

In the

[2021-09-01 13:26] julienlmet commented on #43329
Hi @debnathshoham,
With code provided above, error occurs in my `venv` for instruction `df_output = one_hot.resample("D").max()`.

Here is the traceback that I get (sorry, I should have given it when submitting the issue):
[code]

[2021-09-01 13:37] attack68 opened #43342 "BUG: Styler initialised with `precision` doesn't display correctly"
[code]

[2021-09-01 13:54] mfstabile commented on #43334
Hello. I hope the following code sample is helpful.

[code]

The code above produces the following output:

||Survived  |   Sex |
|---|---|---|
|0|      NaN |  female |
|1|      NaN |    male |
|2|      NaN |    male |

If I invert the pd.Categorical lines:

[code]

The code above produces the following output:
||Survived  |   Sex |
|---|---|---|
|0|      Yes |  NaN |
|1|      No |    NaN |
|2|

[2021-09-01 14:05] simonjayhawkins commented on #43336
change looks intentional to fix #33321

[508d0d204ea5151cd64756425611a2c26e5365b3] BUG: Ensure series/frame mode() keeps int index (#38732)

[2021-09-01 14:14] stevendavis opened #43344 "BUG: series.replace() fails when string series contains pd.NA"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-09-01 14:37] hec10r commented on #43280
Understood. Then let's split the problem
1. PR to fix behavior for scalar date-like objects, including `pd.NaT` (will do this before weekend)
2. PR to fix behavior for iterables: infer types for list/tuples and use current approach for `np.array` when type is number-like. Approach for mixed types TBF (open to discuss and implement)

[2021-09-01 14:49] stevendavis commented on #43344
Found a workaround, not sure if there are any nuances where this will fail:

[code]

[2021-09-01 15:19] galipremsagar commented on #43336
@simonjayhawkins Thanks for clarifying, closing this issue.

[2021-09-01 15:19] #43336 closed

[2021-09-01 15:56] Dominioncher opened #43345 "BUG: datetimelike index and column with name same as year in index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I can create any column with any names but when i try create column with name like year in my

[2021-09-01 16:15] #38988 closed

[2021-09-01 17:28] fonnesbeck commented on #35227
Is there a plan to fix this, or a workaround in the meantime?

[2021-09-01 18:08] #35394 closed

[2021-09-01 18:09] #43342 closed

[2021-09-01 18:44] phofl commented on #43345
Hi,

the logic is as follows for datetime like objects:

1. Check if we are a column -> No
2. Look if we are in the index -> Yes
3. Add new column -> don't arrive here

[2021-09-01 18:47] jreback commented on #35227
community PRs are always welcome @fonnesbeck as pandas is all volunteer and there issue prioritization is not possible in a direct way

[2021-09-01 18:59] jseabold commented on #33245
FWIW, I would have expected lexicographical sorting for unordered categoricals. Seeing this issue, now I understand what's going on, but I just stared at some results that surprised me given that the codes ordering is arbitrary for unordered categoricals by definition. I'm certain it's more complicated than just sorting the categories on instantiation but 🤷 . I'll have to remember to use reorder_c

[2021-09-01 19:53] alimcmaster1 opened #43348 "CLN: Remove Sphinx Warnings from DocBuild"
[code]

eg. https://github.com/pandas-dev/pandas/pull/43145/checks?check_run_id=3479105382

Deprecated in 5.0 https://www.sphinx-doc.org/en/master/extdev/deprecated.html

[2021-09-01 20:47] galipremsagar opened #43351 "BUG: Inconsistent assignment of `NAT` values to datetime columns in `MultiIndex`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-09-01 21:21] fonnesbeck commented on #35227
Actually, this may not be an issue with newer versions of NumPy. `np.prod` does now appear to return `int64`s, so the failure demonstrated by @simonjayhawkins no longer occurs.

[2021-09-01 22:31] PyMarcus commented on #20935
open your csv file with comma only, after that, you can save and run the script.

[2021-09-02 00:06] souravsingh commented on #43348
@alimcmaster1 I am interested in taking the issue.

[2021-09-02 00:59] rhshadrach commented on #43088
Thanks for the comments on overhead @Liam3851 - agreed. For any of the charts/formatting examples coming from e.g. [the xlsxwriter docs](https://xlsxwriter.readthedocs.io/working_with_pandas.html) (including charts), I think this can still be accomplished in two steps - write the excel file and then open the excel file with xlsxwriter. Let me know if you think this is incorrect.

This leaves (a) t

[2021-09-02 01:39] rhshadrach commented on #41125
Thanks for the detailed examples! The main thing here is that all three packages have notebooks with specific examples/tutorials. I think pandas has something a bit different - the user guide. I'd guess that linking to places in the user guide where `loc` is used would come up with examples of questionable significance. I want to emphasize I'm guessing here - if one could come up with auto-generat

[2021-09-02 02:57] LiutongZhou opened #43355 "BUG: Groupby rolling count gives inconsistent outputs with missing index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
#### Expected Output
1. `[4] Out` should be identical to `[2] Ou

[2021-09-02 04:04] ssche commented on #38439
@trevorkask Great news and thanks for sharing your results. I think the intent is now to create a test case (your test case above) to lock in behaviour in Pandas. Do you need assistance?

[2021-09-02 04:43] #43345 closed

[2021-09-02 06:02] mroeschke commented on #43355
`[4] Out` definitely looks like a bug

`[3] Out` may actually be correct and `[2] Out` index might have the bug because according to `on` documentation

So the original integer index in `df` should be ignored since `on` was specified.

[2021-09-02 06:39] jakeanq opened #43357 "BUG: passing kwargs to Series.aggregate raises TypeError: f() got an unexpected keyword argument"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.  The bug is present on 1.3.0, 1.3.1 and 1.3.2 but not 1.2.5.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detai

[2021-09-02 13:07] twoertwein commented on #41588
`cache_readonly`would need to be typed for static type checkers to infer the type of `IntervalIndex.right` (and of many other wrapped properties).

Unfortunately, it seems that this is currently not really possible since python's built-in `property` cannot be typed with the current type system in python (https://github.com/python/typeshed/pull/5987#issuecomment-911149732): type checkers specialize

[2021-09-02 13:20] johnzangwill commented on #42864
Update to my  https://github.com/pandas-dev/pandas/pull/42947. I decided that the syntax and behaviour of my index was too different from DataFrame.iloc to use the same name. I implemented it as GroupBy.rows. I do understand that we are trying to reduce attributes rather than add to them, but I believe that my code adds useful functionality that is not otherwise available. It also resolves multipl

[2021-09-02 13:33] bodevone commented on #43348
take

[2021-09-02 13:40] jseabold opened #43359 "DOC: Default engine incorrect for ExcelWriter and xlsx"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.ExcelWriter.html#pandas.ExcelWriter

### Documentation problem

Unless, I'm missing something I don't think openpyxl is the default for writing xlsx files.

[code]

[2021-09-02 15:09] jbrockmendel commented on #39566
Related: when we pass a np.dtype("S") ndarray to Series or DataFrame do we cast to object?  ATM we do this for only a few variants of the DataFrame constructor, not for Series

[2021-09-02 16:06] solopython opened #43361 "DOC: wrong example in comparison with spreadsheets"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_spreadsheets.html

### Documentation problem

In [38]: firstlast["Last_Name"] = firstlast["String"].str.rsplit(" ", expand=True)[**0**]

### Sugg

[2021-09-02 16:14] mzeitlin11 commented on #43361
Thanks for noting this @solopython! Would you be interested in putting up a pr to fix this?

[2021-09-02 16:30] raybellwaves opened #43362 "ENH: allow schema to be a dict in to_parquet"
#### Is your feature request related to a problem?

I come from writing parquet with dask (https://docs.dask.org/en/latest/generated/dask.dataframe.to_parquet.html).
In `dask.dataframe.to_parquet` schema can be a Schema object, dict, "infer" or None.
I'm used to passing a dict with pyarrow schema definition e.g. `{"a": pa.int32(), "b": pa.string(), "c": pa.float32()}` to the schema arg.
Passing a

[2021-09-02 16:31] 1nF0rmed opened #43363 "QST: How should copy behaviour work in Array String `to_numpy` method?"
I was looking at the TODO's in the project and noticed one in the `to_numpy` method of the `ArrowStringArray` class.

https://github.com/pandas-dev/pandas/blob/9d77a5641a912833fc6459ad67ecd8900f9f9e95/pandas/core/arrays/string_arrow.py#L196-L205

From what I understand, it seems like we want to use the option as a way to do a deep copy of the values given in the array.

Would like to raise a PR fo

[2021-09-02 17:31] MarcoGorelli opened #43364 "CI Set pre-commit autoupdate to run monthly instead of weekly"
most of the packages' new release don't affect pandas code - can we change the cron schedule to be monthly instead of weekly?

https://github.com/pandas-dev/pandas/blob/58059c152ccf8a714eb3233f13ed22987eb42b44/.github/workflows/autoupdate-pre-commit-config.yml#L5

Feel free to open a pull request if you know how to do this, no need to ask if you can work on it

[2021-09-02 17:53] 1nF0rmed commented on #43364
take

[2021-09-02 17:58] 1nF0rmed commented on #43364
I would assume that this will run the `1st` of every month. If not, when should this run every month?

[2021-09-02 18:05] jbrockmendel commented on #43206
OK, some progress here.  within each group, each of the columns is already sorted, so the sort_values being applied doesn't do any reindexing, so it evaluates `mutated=False`, which i guess affects how it re-stacks the results, probably in _wrap_applied_output.

@od-crypto what does the [0, 1] index level in `df2` correspond to?  i.e. why is that what you expect?

[2021-09-02 18:14] MarcoGorelli commented on #43364
1st is fine

[2021-09-02 20:41] raybellwaves opened #43367 "ENH: format_bytes bool arg in memory_usage?"
#### Is your feature request related to a problem?

[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]
I wish pandas could return formatted bytes when calling memory_usage so I can easily understand how much memory a column takes up

#### Describe the solution you'd like

[code]

#### API breaking implications

None (hopefully). An addition arg

[2021-09-02 21:36] phofl commented on #43359
Yeah this is incorrect. You can put up a pr if you like

[2021-09-02 22:04] isVoid opened #43371 "BUG: Lacking `milliseconds` field in `DateOffset`"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Today, I can specify 1 millisecond offset in `date_range` by offset alias `1L` or `1ms`. But I

[2021-09-02 23:31] alimcmaster1 commented on #43362
Why can't you just pass a pyarrow.schema object as the docs suggest?  as this allows additional metadata to be included. https://arrow.apache.org/docs/python/data.html#schemas

[2021-09-02 23:38] raybellwaves commented on #43362
Good point. Wasn't aware of things like https://arrow.apache.org/docs/python/generated/pyarrow.Schema.html#pyarrow.Schema.add_metadata

[2021-09-02 23:50] #43348 closed

[2021-09-03 00:27] mzeitlin11 commented on #41183
Ok, thanks. Since the original issue couldn't be reproduced on later versions, hopefully yours would work too

[2021-09-03 01:52] mathrick opened #43375 "BUG: concat still sorts columns if they differ"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This was marked as fixed in #4588, but `concat()` still sorts the columns if they differ. The

[2021-09-03 04:09] hauntsaninja commented on #41588
The mypy behaviour you linked in https://github.com/python/typeshed/pull/5987#issuecomment-910830339 seems clearly suboptimal.

One way you could workaround this in current code is to lie to mypy:
[code]

[2021-09-03 05:16] Digres45 commented on #43361
take

[2021-09-03 05:41] venaturum commented on #43371
This seems more like a feature request than a bug.  The documentation doesn't list microseconds as being a [valid frequency for DateOffset](https://pandas.pydata.org/docs/reference/api/pandas.tseries.offsets.DateOffset.html).

[2021-09-03 09:27] normyp commented on #43364
take

[2021-09-03 09:35] od-crypto commented on #43206
@jbrockmendel which behaviour to choose, df1/df2 or df3, is a second question, important is that it is consistent a the end.
Yes, the date was already sorted within each 'uid' group also in the input df. However, if you change the input df to be NOT sorted by the date, you obtain the df2 behaviour in all three cases. just run the code below:
[code]

[2021-09-03 09:57] #43361 closed

[2021-09-03 10:05] od-crypto commented on #43206
@jbrockmendel answering your question above: it is not clear, what does the [0, 1] index level in df2 correspond to.

[2021-09-03 10:15] asandeep commented on #10285
@avinashpancham Looks like this happens with `read_sql` as well. Are there plans to add a similar `dtypes` argument to `read_sql` as well?

[2021-09-03 11:06] simonjayhawkins commented on #43050
xref question at https://github.com/pandas-dev/pandas/pull/43181#issuecomment-912404982

---

There is a lengthy discussion in https://github.com/numpy/numpy/issues/19630 about proving 3.10 wheels on PyPI for py3.10

numpy have published aarch64 and manylinux2014 wheels for py3.10rc1 with their latest release, numpy 1.21.2

we are now also building 3.10 wheels, https://github.com/MacPython/pandas-

[2021-09-03 11:17] simonjayhawkins commented on #43050
should mention that no urgency here. 1.3.3 was originally scheduled for September 05, 2021 but quite happy to push that out a week as we have more PRs in the pipeline than the number of issues fixed so far on 1.3.3.

for the patch releases the schedule is probably like 3.3.4.5.6 weeks so that they are spaced out over the 6 months with the first issues reported getting fixed soonest.

we are 3 week

[2021-09-03 11:30] jreback commented on #43050
sounds good to push it out a week

and yes should try to publish 310 wheels

[2021-09-03 11:57] joseph-wakeling-frequenz opened #43380 "REGR: 1.3 invalid exclusion of nuisance columns with groupby aggregation"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Adapted from ["Automatic exclusion of nuisance columns"](https://pandas.pydata.org/docs/user_guide/groupby.html?highlight=decim

[2021-09-03 12:20] 1nF0rmed commented on #43364
Sorry, @normyp I didn't notice that you had created a PR for the issue I picked up ;-;

[2021-09-03 12:54] simonjayhawkins commented on #43380
Thanks @joseph-wakeling-frequenz for the report. duplicate of #42395?

[2021-09-03 12:57] joseph-wakeling-frequenz commented on #43380
Looks like it could be -- sorry for not spotting that.  However I think highlighting the discrepancy in the User Guide "Group by" docs may be new, and should be resolved as part of that work?

[2021-09-03 12:57] janlugt opened #43381 "BUG: rolling() function does not work with Float64 columns with missing values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Simple series with floats, dtype float64:
[code]
diff() introduces a NaN in the first position:
[code]
This works as expected:

[2021-09-03 13:00] simonjayhawkins commented on #43380
Thanks for spotting that.

The docs are automatically generated so once the regression is fixed, the doc issue should also be fixed.

[2021-09-03 13:03] simonjayhawkins commented on #43380
I'll leave this open til the docs are fixed.

[2021-09-03 13:40] twoertwein commented on #41588
I think I tried something like that (simply `cache_readonly = property` in a stub file) but I need to check that again. I think it resulted on some other errors :)

[2021-09-03 14:13] simonjayhawkins commented on #43381
Thanks @janlugt for the report.

on master, this no longer raises but does not give the expected dtype. The result is

[code]

[2021-09-03 14:51] #43364 closed

[2021-09-03 15:17] simonjayhawkins commented on #43363
The backing array for ArrowStringArray is a pyarrow string array. The memory model is the pyarrow format which is not python objects.

AFAIK, there is not a numpy array format where the numpy array could be a view of the pyarrow data.

Therefore the return value of the `to_numpy` call will always be a copy and never a view and "deep copy" is not relevant.

from the docs, https://pandas.pydata.org/

[2021-09-03 15:21] normyp commented on #43364
@1nF0rmed no problem! :)

[2021-09-03 15:44] jreback commented on #43381
@mroeschke made an issue about this as this is a breaking change

[2021-09-03 15:55] bashtage commented on #37258
These casting values do not seem correct. `i4 + i4 = i8`?

[code]

[code]

[2021-09-03 16:02] simonjayhawkins commented on #43381
Float64 is still experimental? we can fix this?

[2021-09-03 16:33] simonjayhawkins commented on #43357
Thanks @jakeanq for the report. It appears that the function is now applied to each value instead of the Series as a whole. (i.e. applied along the wrong axis, The axis keyword is for compatibility with DataFrame and axis=1 raises an error)

first bad commit: [fad5feec9b6bdf8a5c2f7db2f06e1e5e41062799] CLN: Move the rest of Series.apply into apply (#39954)

cc @rhshadrach

---

code sample

[code]

[2021-09-03 16:43] 1nF0rmed commented on #43363
In the code implementation, `copy` is primarily ignored meaning that regardless of what argument is passed the behaviour as you said will always be a "copy" of the pyarrow data.

In that case, wouldn't it be better to remove the parameter and update the docs to reflect the same?

[2021-09-03 16:47] simonjayhawkins commented on #43363
The parameter is needed for compatabilty/LSP (subclasses must accept the same arguments as parent class) so can't be removed.

The docs for `to_numpy` are for all array types and not specific to any.

[2021-09-03 17:50] attack68 opened #43383 "BUG: Styler strange render behaviour with MultiIndex of only 1 level"
![Screen Shot 2021-09-03 at 19 49 31](https://user-images.githubusercontent.com/24256554/132047071-9e809f0a-af45-4ab8-9fc3-89d55e7d288b.png)

[2021-09-03 19:27] jbrockmendel commented on #43375
I'm running into something similar, tentatively lools like indexes.api.union_indexes is ignoring the 'sort' keyword

[2021-09-03 20:22] gjoseph92 commented on #43155
@jbrockmendel any more ideas on this? The concat seems to be the hotspot for us, usually moreso than `pickle.loads`.

You can see these profiles recorded by [py-spy](https://github.com/benfred/py-spy) of our workload on a dask cluster:
* [concat-dominated](https://speedscope.app#profileURL=https%3a%2f%2fgistcdn.githack.com%2fgjoseph92%2ff2f5209c1e304f14708655d5480c009a%2fraw%2f2bc6a761db049044d842

[2021-09-03 20:37] jbrockmendel commented on #43155
1) I've been optimizing this part of the code, so I'm optimistic you'll see some improvement on master
2) if .blknos remains costly, we store that when pickling instead of re-computing after un-pickling
3) If your DataFrames happen to be single-dtype, it'll be a lot faster to use np.concatenate on the values and then wrap back in a DataFrame
4) otherwise implementing this for the general case won'

[2021-09-03 20:39] twoertwein commented on #41588
@hauntsaninja  I think you are right :) There are still many mypy errors but they are actually legitimate errors. These errors were not triggered before because anything that uses `@cache_readonly` resulted in type `Any`.

I think the best way forward is to fix the many type errors uncovered through this and then lie to mypy (`cache_readonly = property`)

[2021-09-03 20:49] grantgustafson opened #43386 "BUG: RollingGroupby.corr() producing incorrect results"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-09-03 21:19] twoertwein opened #43387 "TYP: RangeIndex._constructor"
`RangeIndex._constructor` returns `Type[Int64Index]` but it is supposed to return the current type of the class itself (`Type[RangeIndex]`) .

pandas/core/indexes/range.py:179: error: Return type "Type[Int64Index]" of "_constructor" incompatible with return type "Type[RangeIndex]" in supertype "Index"  [override]

Found by declaring `cache_readonly = property`.

[2021-09-03 21:25] twoertwein commented on #43387
Very similar issue here again:
pandas/core/indexes/multi.py:1098: error: Return type "Callable[..., MultiIndex]" of "_constructor" incompatible with return type "Type[MultiIndex]" in supertype "Index"  [override]

Probably need to change `Index._constructor` or ignore these two cases.

[2021-09-03 21:41] twoertwein opened #43388 "TYP: IndexEngine.get_indexer_with_fill"
pandas/core/indexes/base.py:3696: error: "IndexEngine" has no attribute "get_indexer_with_fill"  [attr-defined]

Is this code intended to be reached only by certain sub-classes of `IndexEngine` that have `get_indexer_with_fill`?

I'm not sure how this is related to `cache_readonly = property` but it was found that way.

[2021-09-03 21:52] #40073 closed

[2021-09-03 21:53] twoertwein opened #43390 "TYP: NumericIndex._can_hold_na"
`Index._can_hold_na`: bool
`NumericIndex._can_hold_na`: property-like (cache_readonly)

bool is not a property-like object.

pandas/core/indexes/numeric.py:103: error: Signature of "_can_hold_na" incompatible with supertype "Index"  [override]

[2021-09-03 22:11] twoertwein opened #43391 "TYP: ensure_platform_int probably needs a dtype annotation"
`ensure_platform_int` is annotated as returning a `np.ndarray` but its output is used in places that require a `Sequence[int]`. I assume this can be fixed by adding a dtype to the `np.ndarray`.

pandas/core/groupby/ops.py:858: error: Argument 1 to "take" of "ExtensionArray" has incompatible type "ndarray[Any, Any]"; expected "Sequence[int]"  [arg-type]

[2021-09-03 22:12] gjoseph92 commented on #43155
Sounds great! Looking forward to those improvements. Let us know when you have something we should try out.

[2021-09-03 23:24] twoertwein opened #43393 "TYP: Distinguish use of numpy.dtype and ExtensionDtype"
`Index` inherits from `IndexOpsMixin` which defines `self.dtype` as a property of `Union[np.dtype, "ExtensionDtype"]`. There are a few places where either `numpy.dtype` or `ExtensionDtype` are expected, but not both:

pandas/core/indexes/base.py:6857: error: Item "dtype[Any]" of "Union[dtype[Any], ExtensionDtype]" has no attribute "categories"  [union-attr]
pandas/core/indexes/base.py:6857: error:

[2021-09-03 23:29] twoertwein commented on #41588
I think it would make sense to first fix the following issues #43393, #43391, #43390, #43388, #43387 before trying to fix this issue.

[2021-09-04 01:57] mroeschke commented on #43381
Yes this repurposed issue, https://github.com/pandas-dev/pandas/issues/11446, is about having rolling operations return the same dtype as the caller (if possible).

The docstrings and this windowing section document that these windowing operations always return `np.float64`
https://github.com/pandas-dev/pandas/pull/43030
https://pandas.pydata.org/docs/user_guide/window.html#overview

Since this ov

[2021-09-04 01:57] #43381 closed

[2021-09-04 02:33] lzy1g1225 opened #43394 "pd.date_range function not returns right bound when start=end and closed set to 'right'"
[code]

#### Problem description
the first line returns 2021-09-02
but the second line returns empty( this is incorrect )

#### Expected Output
I think if we set closed to 'right', then the date range should still returns 2021-09-02, because start date equals end date and we want the end date, the formula would looks like (2021-09-02,  2021-09-02], right date should be picked instead of returns em

[2021-09-04 02:36] twoertwein commented on #42926
I think this has quietly been fixed :)

[2021-09-04 02:36] #42926 closed

[2021-09-04 02:36] FinalSh4re opened #43395 "BUG: TypeError for .at indexer when accessing MultiIndex through date string"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Above code throws a TypeError for the `.at[]` indexer:

[code]

Using `.loc[]` instead, works

[2021-09-04 03:03] lithomas1 opened #43396 "DEPR: prefix argument in read_csv/read_table"
It conflicts with header and names I think and users should really just be using a list comprehension on the dataframe column names afterwards.

[2021-09-04 03:27] lithomas1 commented on #43242
This should also be deprecated in read_excel, and ExcelFile.parse too.
cc @rhshadrach

[2021-09-04 07:27] thisisamardeep commented on #43334
Hi All,

I am picking up this task will update soon.Around end of sep.

[2021-09-04 08:28] simonjayhawkins commented on #41588
applies to all untyped decorators, xref #33455

[2021-09-04 11:08] attack68 commented on #43394
link to #40245

[2021-09-04 11:16] imahdimir opened #43398 "BUG: DataFrame.drop does not work with MultiIndex dataframes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-09-04 11:26] simonjayhawkins commented on #43398
@imahdimir can you fill out the bug report template.

[2021-09-04 12:37] simonjayhawkins commented on #43386
Thanks @grantgustafson for the report. can you update the code sample with a minimum reproducible example https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

AFAICT with just a quick look the problem is maybe with the rolling step.

code sample (not yet minimal) with some "debug"

[code]

[code]

[code]

[2021-09-04 13:35] simonjayhawkins commented on #43386
first bad commit: [b2671ccf4e5f21c48ffae4a17340692d4db53149] PERF: Rolling/Expanding.cov/corr (#39591)

cc @mroeschke

also xref #42915 which is a grouping issue.

[2021-09-04 14:09] #41157 closed

[2021-09-04 14:10] jreback commented on #41157
feel free to make a followon issue here to support args to the bot

[2021-09-04 14:25] #17927 closed

[2021-09-04 14:33] #40682 closed

[2021-09-04 15:00] #43383 closed

[2021-09-04 16:03] lithomas1 commented on #42946
Milestoning for 1.3.3 since I think we've agreed to upload wheels.

[2021-09-04 16:15] zrait opened #43401 "BUG: Cythonized kendall correlation implementation is incorrect"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

The Cythonized implementation of Kendall correlation implemented [here](https://github.com/pandas-dev/pandas/pull/39132) has been completely bro

[2021-09-04 16:35] simonjayhawkins commented on #43334
code sample worked in 1.2.5

first bad commit: [c68b605d661eee0faca9ebe759861c7db6087873] PERF: cache_readonly for Block properties (#40620)

cc @jbrockmendel

[2021-09-04 17:38] BabakAmini opened #43402 "BUG: to_clipboard raises an error with null values in data frame"
I have a data frame with null values in one column. The data itself is coming from a JSON that was created using pd.json_normalize(). When I call df.to_clipboard() it raises the following error:

ArgumentError: argument 1: <class 'ValueError'>: embedded null character

if I drop that column with null values the problem will be solved.

<details>

INSTALLED VERSIONS
------------------
commit

[2021-09-04 17:49] aiudirog commented on #42549
@jbrockmendel I came across this while looking for any issues that may be related to #43373. Modifying `is_list_like` to look like this should work:

[code]

[2021-09-04 20:17] mroeschke opened #43405 "BUG/API: Inconsistent index result for groupby().rolling(on=...) between Series and DataFrmae"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

xref https://github.com/pandas-dev/pandas/issues/43355

[code]

According to the `on` documentation

Though the docs specifically states this applies to a `DataFrame`, this in

[2021-09-04 20:40] jbrockmendel commented on #43206
I agree.  On master it is currently consistent, but with the result that you said in the OP seems strange.  I'm trying to understand what the first level in the MultiIndex result corresponds to.  Can you help me understand this?

[2021-09-04 22:21] mzeitlin11 commented on #43292
This regression pops up anywhere we use kahan summation, for example also
[code]

These NaNs pop up because we end computing `inf - inf = NaN`. Could be fixed by special casing `inf` so we never end up with `compensation = inf`, might hurt perf though

[2021-09-04 22:34] attack68 commented on #39911
I looked into MIME bundles recently as part of the PR above. One concern was performance. If Styler is processing a large DataFrame which may take a few seconds for HTML this may take longer for LaTeX and more for other types.
The implementation above yield either _repr_html_ or _repr_latex_ depending on the pandas option.

[2021-09-04 23:29] #42849 closed

[2021-09-05 00:19] rhshadrach commented on #43242
+1 on deprecating squeeze for read_excel

[2021-09-05 01:00] rhshadrach commented on #42905
Thanks @jbrockmendel - that was pretty much it. I think I have a good resolution here, PR going up shortly.

[2021-09-05 01:29] #41743 closed

[2021-09-05 01:45] #42880 closed

[2021-09-05 02:10] 1nF0rmed commented on #43363
We could remove the `#TODO` then as it doesn't seem like much can be done about this.

[2021-09-05 02:29] mzeitlin11 commented on #43402
Thanks for reporting this @BabakAmini. Can you please post a reproducible example (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)?

Can you also please try on the latest version (1.3.2)? There are some fixes which might have fixed your issue (like #41109)

[2021-09-05 05:19] whitneymichelle commented on #33234
take

[2021-09-05 06:14] tim-tran commented on #36973
take

[2021-09-05 06:49] LiquidMika commented on #43359
Hello,

I would like to take care of this issue. Let me know whether it's possible.

Thanks.

Michael

[2021-09-05 06:56] LiquidMika commented on #43359
take

[2021-09-05 06:57] mIgLLL opened #43412 "BUG: a duplicated index would cause groupby.fillna(method='ffill') a wrong result"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-09-05 07:05] wjs20 opened #43413 "BUG: Specifying dtype argument in pandas.read_csv() throws "ValueError: entry not a 2- or 3- tuple""
#### Problem description
I am trying to specify different dtypes for different columns of my dataframe at initialization by passing a dictionary of dtypes to the dtype parameter of **pandas.read_csv()**, however it is throwing a **value error** (code and traceback included below).

#### Code example

[code]
#### Traceback

<details>

[code]

</details>

#### Output of ``pd.show_versions()``

<deta

[2021-09-05 07:17] mikephung122 opened #43414 "BUG: pd.to_datetime cannot infer and coerce dates with AM/PM and infer_datetime_format=True and errors="coerce"."
#### Checklist
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description
The function should be able to infer datetime strings with AM/PM correctly.  This can be seen when using e

[2021-09-05 08:01] simonjayhawkins commented on #43405
Thanks @mroeschke.

The indexes were the same on 1.1.5 so will mark as regression but `grp["y"].count().index` had the same index as `grp.count().index` in the code sample above. Is that the expected output?

[2021-09-05 08:18] simonjayhawkins commented on #43206
but to be clear, on released pandas it is not. so if we decide that the new behavior is correct and is a bugfix and not an api breaking change we may want to consider backporting #42992

[2021-09-05 08:34] simonjayhawkins commented on #43292
perf is secondary to correctness.

we also have #39622 open which is reporting a performance degradation.

from https://github.com/pandas-dev/pandas/issues/39622#issuecomment-869029142

so that could also be an option.

[2021-09-05 08:43] phofl commented on #43413
There is no read_csv call.

the dataframe constructor accepts only a single dtype

[2021-09-05 08:47] wjs20 commented on #43413
Ah sorry, in my original problem I called .read_csv() - which worked - but for the dummy problem I just constructed a data frame using pd.DataFrame. specifying different dtypes worked for pd.read_csv() so I'm guessing it only works there, and not with the DataFrame constructor?

What would be the simplest way to specify different datatypes when creating a dataframe from objects in memory rather th

[2021-09-05 08:48] phofl commented on #43413
Calling astype, so there is no issue?

[2021-09-05 08:49] wjs20 commented on #43413
Yes that will be fine thanks!

[2021-09-05 08:50] #43413 closed

[2021-09-05 09:34] #43080 closed

[2021-09-05 13:32] simonjayhawkins commented on #43414
Thanks @mikephung122 for the report. I would be inclined to close this as a duplicate but since you have an open PR that only fixes this specific case, I'll leave this open for now. see https://github.com/pandas-dev/pandas/pull/43416#issuecomment-913154879

[2021-09-05 13:44] simonjayhawkins commented on #43351
Thanks @galipremsagar for the report.

first bad commit: [412554b2f06f3782c9336f5a4dfc5bb890219afd] BUG/API: DTI/TDI/PI.insert cast to object on failure (#39068)

cc @jbrockmendel

I'm not sure that the 1.2.5 behavior is correct, it returns a Series whereas partial indexing on the first level returns a DataFrame for the other labels, including `c` which is a single column DataFrame. I also would h

[2021-09-05 15:17] memeplex opened #43419 "BUG: COO matrices are copied and converted"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Doesn't apply.

#### Problem description

The documentation for `DataFrame.sparse.from_spmatrix()` in [1] states that:

But the

[2021-09-05 15:27] memeplex commented on #43419
The documentation may be referring to `to_coo` but if that's the case it's quite non evident:

Here the second sentence is introducing `to_coo` and talking about "convert[ing] back to sparse" as if the previous sentence were about converting from sparse.

Besides it's not clear to me in what sense `to_coo` doesn't copy since it's np.concatenate'ing lists of cols, rows and values.

[2021-09-05 15:59] #43102 closed

[2021-09-05 16:07] grantgustafson commented on #43386
Hi Simon, my example is as minimum of a repro that I can currently produce. Since it requires multiple groups and a rolling window, I hit a soft-floor. I don't doubt it can be made more concise though.

[2021-09-05 16:24] memeplex commented on #43419
Also, by inspecting the code and the documentation one gets the impression that originally the target format might have been COO but that CSC is more naturally suited for a dataframe, so the documentation may be outdated and the code shows mixed criteria in that it transforms the input to CSC but then offers to go back to COO. Now, the repeat in `cols.append(np.repeat(col, len(row)))` in `to_coo`

[2021-09-05 17:16] BabakAmini commented on #43402
Thanks, @mzeitlin11 for the reply. I upgraded to the latest version but still got the same error. Below is the code to reproduce it:

`
import json
import pandas as pd
import requests

r = requests.get(f"http://cdn.tsetmc.com/api/Trade/GetTradeHistory/23086515493897579/20210831/false")
js = json.loads(r.text.replace("'", "\""))
df = pd.json_normalize(js['tradeHistory'])
df.to_clipboard(index=False

[2021-09-05 17:48] twoertwein commented on #43393
All of the above cases will need ignore statements. In python 3.10, a few ignore statements can be avoided by using `typing.TypeGuard`.

I'm closing this issue as ignore statements can only be added once the "CI mypy" starts complaining, which will happen when cache_readonly is typed.

[2021-09-05 17:48] #43393 closed

[2021-09-05 17:54] mroeschke commented on #43405
I'm not 100% sure since this is an interesting edge case. The `on` index behavior was only really documented for a `DataFrame`, and  `grp["y"]` is equivalent of the input now being a `Series`.

From a user perspective, `Out[4]` would make the most sense in both cases for consistency sake IMO.

[2021-09-05 18:00] mzeitlin11 commented on #43402
Thanks for checking! I can't reproduce this on macOS, so perhaps a windows specific issue? Would you mind trying to simplify the failing example to not use `requests` or `json`? For example, something along the lines of
[code]
would be a nicer reproducer (if that fails or something similar) to ensure the issue is only with presence of `\x00`. But I can't check this since it doesn't fail for me :)

[2021-09-05 18:04] BabakAmini commented on #43402
I just copied your sample code and got the same error.

[2021-09-05 18:08] mzeitlin11 commented on #43402
Thanks! Would you mind editing your issue body with this failing example and the traceback? Further investigations to fix welcome!

[2021-09-05 18:48] mzeitlin11 commented on #42545
Closing as a duplicate in favor of #31990

[2021-09-05 18:48] #42545 closed

[2021-09-05 19:13] rhshadrach commented on #43357
Series.agg will first try row-by-row using apply. If this fails, it will fallback to aggregating the entire Series. I believe this is the behavior we need to maintain (but am currently working on removing it for future versions).

[2021-09-05 19:35] rhshadrach commented on #43357
Expanding on my previous comment, the example @simonjayhawkins posted is failing in the attempt to use apply because of a bug. The call is:

    result = self.apply(func, *args, **kwargs)

But apply accepts the argument `convert_dtype` before *args. As a result, `b` in the example is unspecified and fails, so agg fallback to `f(self, *args, **kwargs)` where `self` is the Series in question. You ca

[2021-09-05 20:12] felixdivo opened #43422 "BUG: Regression in 1.3.0: Exception when setting arrays as cell values"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas (yes, on version 1.3.2).
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

The following works fine on 1.2.5 and now fails (starting with 1.3.0). I waited for it to be fixed by 1.3.1/1.3.2 but it seems like this one went unnotic

[2021-09-05 20:39] phofl commented on #43292
Actually rolling returned nan even before we implemented Kahan there. So maybe opening up a separate issue @mzeitlin11 ?

[2021-09-05 20:56] phofl commented on #43422
Probably caused by e1dd03295e90bc4419968e4afebb8faa50e34b29 cc @jbrockmendel

[2021-09-05 21:44] astadmistry commented on #28294
I had a similar issue:

[code]
output:
`Index(['0', '0', '1', '1', '2', '2'], dtype='object', name='model')`

In pd.read_csv, you can not specify the dtype of the headers. Here I want the level 0 header to be of type int and not object.
I tried doing:
`df.columns = df.columns.set_levels(df.columns.get_level_values(0).astype(int), level=0)`
However got this error:
Level values must be unique: [0, 0

[2021-09-05 21:55] astadmistry commented on #28294
Actually a better way is:
`df.columns = df.columns.set_levels(df.columns.levels[0].astype(int), level=0)`

REF: https://stackoverflow.com/questions/49199530/pandas-multi-index-column-header-change-type-when-reading-a-csv-file/49199682#comment85952840_49199682

[2021-09-06 00:54] mzeitlin11 opened #43424 "BUG: Series.fillna raising with `float32` dtype when using value arg"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
The above code raises with
`TypeError: Cannot cast array data from dtype('float64') to dtype('

[2021-09-06 01:01] mzeitlin11 commented on #43424
One potential fix is the following diff:
[code]

However, this breaks `pandas/tests/series/methods/test_fillna.py::TestSeriesFillNA::test_fillna_categorical_raises` because of a behavior change in the following example:

[code]

On master this raises `TypeError`, but under this patch the result would be
[code]

This result seems reasonable to me since "d" would be a missing category and so becomes

[2021-09-06 07:57] simonjayhawkins commented on #43357
Thanks @rhshadrach for investigating this further. My code sample should maybe have been a separate issue.

using semver, we can indeed also fix bugs on 1.3.x, especially if it makes sense to fix these issues together.

[2021-09-06 08:02] janlugt commented on #43381
Thanks for looking into this. I'll test my code with 1.3.3 when it comes out later this month (according to https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.3.html).

[2021-09-06 08:12] simonjayhawkins commented on #43381
@janlugt I didn't test with 1.3.x, https://github.com/pandas-dev/pandas/issues/43381#issuecomment-912571524 was with master, so may not work with 1.3.3 unless the commit that fixed was backported.

[2021-09-06 08:37] od-crypto commented on #43206
@jbrockmendel, By "df1/df3 seem strange" I meant strange within the same pandas release 1.3.2, as when one feeds the above reported code with an unsorted input df, one obtains for all the three cases the df2 behaviour. The first level in the Multiindex of df2 seem to "correspond to the index of the 'uid' group, sorted by 'uid'." However if choosing between the df1/df3 and df2 for the next release,

[2021-09-06 11:39] Hossein1399 commented on #43402
Hi!  I use windows 10 and Python 3.8 and PyCharm professional 2020.3 . My computer uses CPU Intel core I5 9600k and  8G ram.
I executed above codes and there wasn't any error and I could print the data.

[2021-09-06 14:54] BabakAmini commented on #43402
@mzeitlin11 I asked my friend to run the code on Ubuntu and he didn't get any error. Also as @Hossein1399 mentioned above, he was successful in running the code on windows. So, it seems that this issue isn't specific to the operating system. Hope someone helps me to get rid of this error.

[2021-09-06 15:07] mzeitlin11 commented on #43402
Might still be specific to different Windows OSes - see an issue like #38527 which only occurred for WSL 2.0

[2021-09-06 15:17] #42731 closed

[2021-09-06 15:19] #43205 closed

[2021-09-06 15:36] #43355 closed

[2021-09-06 16:36] LiquidMika commented on #43359
Hi,

I've modified the ExcelWriter docstring in the file "pandas/io/excel/_base.py".
When I launch the script/validate_docstrings.py on the pandas.ExcelWriter, my modifications are not taken into account. Any idea why ?

Thanks.

Michael

[2021-09-06 17:13] leonarduschen commented on #24306
Quoting from https://github.com/pandas-dev/pandas/pull/42255#pullrequestreview-697729261

Do we want this? I'd be happy to make a PR, should be straightforward with `os.path.isdir` or `pathlib.Path.is_dir` (don't have to catch `IOError`), would help a lot of new users

After that, maybe we can consider this too?

[2021-09-06 17:14] attack68 commented on #43164
Hi @JARVIS-03
The issue wasn't really about how to to it. It was more the non-effect of a pandas options which is documented to have an effect in this regard.

[2021-09-06 17:49] jreback commented on #24306
would take this as an enhancement PR.

we would need a new keyword to do this (to preserver backward compabitility), but -1 on adding new keywords so unlikely

[2021-09-06 18:28] phofl commented on #43359
In what sense are they not taken into account?

[2021-09-06 18:35] #43401 closed

[2021-09-06 18:55] johnzangwill opened #43429 "CI: Posix / pytest failing in test_unique.py"
Posix / pytest (actions-38-minimum_versions.yaml, not slow and not network and not clipboard) failing at test_unique.py::test_unique_bad_unicode[idx_or_series_w_bad_unicode0]

    `UnicodeEncodeError: 'utf-8' codec can't encode character '\ud83d' in position 84: surrogates not allowed`

(I believe that  \ud83d is a smily face character...)

[2021-09-06 19:02] phofl commented on #43429
Is this failing consistently? We have a few flaky tests

[2021-09-06 19:23] LiquidMika commented on #43359
I can even delete the all pandas folder except the script folder and the script/validate_docstrings.py still output some docstrings. It looks like it parses an hidden copy of sources...

[2021-09-06 19:45] #36944 closed

[2021-09-06 19:58] jbrockmendel commented on #43155
Below I'm pasting an implementation of what I have in mind.  Its about 6x faster than pd.concat on the example in the OP.  I'm going to ask you to take the baton to a) test it against a wide variety of DataFrames and b) profile it

[code]

[2021-09-06 20:10] jbrockmendel commented on #43422
Looks like this is fixed by moving the `elif dtype == object` check in can_hold_element up to befor the `maybe_infer_dtype_type` call.  PR to do this would be welcome.

BTW I think the `.append` in the OP is extraneous

[2021-09-06 20:33] johnzangwill commented on #43429
Don't know yet. I just made a small change to #42947 to force a rebuild, but the ci workflows are awaiting approval...

[2021-09-06 20:35] jbrockmendel commented on #43429
I occasionally see failures (sometimes even segfaults i think) on the CI pointing to this test, have never been able to reproduce locally

[2021-09-06 20:37] #42905 closed

[2021-09-06 21:50] #29645 closed

[2021-09-06 22:12] lithomas1 commented on #43429
Yup, this shows up a ton on the repo where we build wheels(MacPython/pandas-wheels) where it crashes the entire build. Its flaky and annoying.

[2021-09-07 02:54] mzeitlin11 commented on #43424
Counterargument to this would be inconsistency with the following:

[code]
raises `TypeError: Cannot setitem on a Categorical with a new category (d), set the categories first`

[2021-09-07 05:18] #21157 closed

[2021-09-07 05:47] Varun270 commented on #28724
@MarcoGorelli  I have checked all the files and this issue has already been resolved. I think you should close this issue.

[2021-09-07 05:53] Varun270 commented on #21749
@salomondush Are you still working on this, as I wanted to work on this issue?

[2021-09-07 07:06] MarcoGorelli commented on #28724
Thanks @Varun270 - if you add PR06 to

https://github.com/pandas-dev/pandas/blob/73c473dce9f07bba96993c42843320e116cf94ea/ci/code_checks.sh#L92-L93

then that'll close the issue

[2021-09-07 07:39] julibeg opened #43437 "ENH: Handle for current DataFrame in pd.query expression"
#### Is your feature request related to a problem?

I use `pd.query` and `pd.eval` a lot. However, sometimes I find myself in situations where I would like to filter an unnamed DataFrame with `pd.query` and it would be very handy if there was a handle for the DataFrame available in the query expression.

#### Describe the solution you'd like

For sake of an example, consider this DataFrame:
[code]

[2021-09-07 09:13] Codeberg-AsGithubAlternative-buhtz opened #43438 "ENH: Reopen "Default value for missing values on merge""
Please reopen #20007

There was no valid reason for closing.
The "closer" just wrote about a workaround (not a solution) with `fillna()`.

Please let us reopen the discussion on the original Issue.

[2021-09-07 09:15] Codeberg-AsGithubAlternative-buhtz commented on #20007
`fillna()` is definitely not a solution but a workaround.

- You want an `int` column and have an `int` column.
- But the `merge()` converts that `int` column to `float` (because of missing values).
- After that you set the missing values to something you want (e.g. `0`).
- And that you convert back(!) the whole column to `int`.

Does anyone disagree that this is only a workaround but not a soluti

[2021-09-07 09:24] oskli opened #43439 "BUG: SpooledTemporaryFile no longer working with read_csv"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

This worked in pandas 1.1.5 but is no longer working in version >=1.2.

[2021-09-07 09:28] phofl commented on #20007
It does handle the NA type. NA ist the missing value indicator for extension dtypes, e.g. if you are merging

[code]

you keep ``Int64```dtype. But if you change the dtypes to ``int64`` ``np.nan`` is used, hence the conversion to float.

[2021-09-07 09:40] Guneetconvent2002 commented on #30178
I am a first timer and I don't know what exactly you would want in the test. Could you maybe help by telling exactly you're looking for in the test??

[2021-09-07 09:41] Guneetconvent2002 commented on #30178
I am a first timer and I don't know what exactly you would want in the test. Could you maybe help by telling exactly you're looking for in the test??

[2021-09-07 09:41] Joeperdefloep opened #43440 "DOC: no docs for ExcelWriter `engine_kwargs` #42292 #42214"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.ExcelWriter.html?highlight=excelwriter#pandas.ExcelWriter

### Documentation problem

There is no use-case specified for `engine_kwargs`, as a result of which I wa

[2021-09-07 09:42] Guneetconvent2002 commented on #30178
I am a first timer and I don't know what exactly you would want in the test. Could you maybe help by telling exactly you're looking for in the test??

[2021-09-07 09:53] Codeberg-AsGithubAlternative-buhtz commented on #43438
No need to reopen because of explanation https://github.com/pandas-dev/pandas/issues/20007#issuecomment-914145527

[2021-09-07 09:53] #43438 closed

[2021-09-07 09:55] Codeberg-AsGithubAlternative-buhtz commented on #20007
Thanks. Can understand now.

But maybe the docu can improved here? I am not sure about it.

Despite explaining the technical details and backgrounds just add a FAQ like section to `merge()` docu _Why merge convert my integer column to float and how to solve this._

For newbies it is quite hard to understand the difference between `Int64` and `int64`.

[2021-09-07 09:59] Joeperdefloep opened #43442 "BUG: ExcelWriter `engine_kwargs` not passed through to other engines than xlsxwriter #42292 #42214 #43440"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

the arguments are silently not passed through to the openpyxl [`Workbo

[2021-09-07 10:03] Joeperdefloep commented on #43442
this is the same for other engines. Also this cannot work properly in 'append' mode:
https://github.com/pandas-dev/pandas/blob/73c473dce9f07bba96993c42843320e116cf94ea/pandas/io/excel/_openpyxl.py#L60-74

[2021-09-07 10:28] aberres commented on #29135
FWIW I was just running into this as well, when I tried to combine with a DF which accidentally contained duplicates in the index.

[2021-09-07 14:00] twoertwein commented on #43439
It fails at
https://github.com/pandas-dev/pandas/blob/73c473dce9f07bba96993c42843320e116cf94ea/pandas/io/common.py#L726
with
`AttributeError: 'SpooledTemporaryFile' object has no attribute 'readable' `

[2021-09-07 14:11] #36973 closed

[2021-09-07 14:16] phofl commented on #20007
We have sections in the user guide explaining the nullable dtypes. Since this is relevant for all functions which may produce missing values, I don't think adding an explanation to merge specifically is desireable

[2021-09-07 15:37] simonjayhawkins commented on #43424
was giving the expected output in 1.1.5

first bad commit: [6d5da0264c6cf3da922425b548f0cb0b2fa0e8f3] PERF: use np.putmask instead of ndarray.__setitem__ (#37945)

cc @jbrockmendel

[2021-09-07 15:41] simonjayhawkins commented on #43419
maybe a code sample would improve engagement on this issue. (and could be used as a test for a fix)

[2021-09-07 15:46] memeplex commented on #43419
I don't know exactly what you expect. I've shown where it happens in the code because these are implementation issues that seem to contradict what's documented. I could provide an example in which modifying one representation won't affect the other one, but this is a bit contrived for a COO representation since it doesn't support item assignment and anyway it's not strictly the point.

[2021-09-07 15:53] twoertwein commented on #43439
In 1.1
The binary `SpooledTemporaryFile` objects works with `engine='c' `(the default engine) in 1.1 but it doesn't work with `engine='python'`. `tempfile.SpooledTemporaryFile(mode="w+t")` works also only with the c-engine.

In 1.3
The binary `SpooledTemporaryFile` objects does not work with any engine (it should work with the pyarrow engine in 1.4?).
`tempfile.SpooledTemporaryFile(mode="w+t")` wo

[2021-09-07 16:06] salomondush commented on #21749
I worked on some parts of it, but you can take the remaining check points

[2021-09-07 16:28] altosaar commented on #42506
Also had this issue from mixing conda and pip :(

[2021-09-07 16:37] mzeitlin11 commented on #43424
General issue here seems to stem from a disagreement between `_can_hold_element` and `np.putmask` -> since `_can_hold_element` evaluates to True we end up in `putmask_inplace`, but `np.putmask` raises for placing `float64` in `float32` buffer

[2021-09-07 17:30] mzeitlin11 commented on #43424
A nice patch would seem to be
[code]
since this would match the itemsize check for ints. But this breaks a test because of the following behavior change:

[code]

[2021-09-07 17:34] simonjayhawkins commented on #43422
#40709

[2021-09-07 17:36] Seon82 opened #43448 "BUG: `groupby` on categorical columns creates unexisting combinations"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

Output:
[code]

### Issue Description

Combinations that don't exist in the original datafram

[2021-09-07 17:41] simonjayhawkins commented on #43424
my comment was more to indicate that the issue is a regression rather than suggesting that the old code is a better fix. Not all users upgrade on every pandas release, so if this is fixed, we could backport and may save some users some pain. (but have not milestoned 1.3.x since it is an "old" regression)

[2021-09-07 17:51] jbrockmendel commented on #43424
There is a longstanding problem with ExtensionBlock._can_hold_element always evaluating (incorrectly) to True.  It could be amended (at least for CategoricalBlock) fairly easily, but that would in turn change some `__setitem__` behavior (to cast instead of raise).  I'd be OK with this as a it would be consistent with other dtypes.

[2021-09-07 18:04] jbrockmendel commented on #43424
Not sure if I follow the whole thread, but if changing a np.putmask usage to a `__setitem__` usage fixes it, thats fine.  We made an effort to use np.putmask where possible a while back bc it improved perf in dtlike comparisons

[2021-09-07 20:06] Joeperdefloep commented on #43088
One use case I had for fumbling with the `ExcelWriter.book` is that you can put a dataframe at the end of a sheet (with headers):
[code]
`overlay` is in #42222
which will not be possible otherwise.

There is also the thing that data validation is not supported by openpyxl, so whenever appending to a workbook with data validation, this has to be re-added by openpyxl. Yes, you could re-open the book

[2021-09-07 20:16] attack68 commented on #43448
I'm not sure where the offending code is but building indexes via vector products (or the need to do this) should always be avoided. It just explodes and crashes when using big data.

I confirm your issue on master

[2021-09-07 21:33] cmdawson opened #43451 "BUILD: Incorrect filenames on pypi"
###

- [X] I have read the [installation guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#installing-pandas).

### Platform

Linux-4.15.0-144-generic-x86_64-with-glibc2.27

### Installation Method

pip install

### pandas Version

latest

### Python Version

3.8

### Installation Logs

Files on  https://pypi.org/project/pandas/#files appear to have a duplicated plat

[2021-09-07 21:49] rhshadrach commented on #43088
The concern is for users to do something like this:

[code]

This raises "ValueError: I/O operation on closed file", and other than all attributes being declared protected, there is nothing in the documentation informing a user what the can and cannot do. Certainly if we were to open up the attributes for user access, the close method should be protected from calls. Now this is straightforward, bu

[2021-09-07 21:50] jolespin opened #43452 "ENH: pd.Index to .toset() method"
#### Is your feature request related to a problem?

Yes, it would be much easier to set comprehension and return sets of things

[code]
#### Describe the solution you'd like
It would be nice if this could be done:
[code]

For example, what if there are a list of `N` indexes:

[code]

Yes you could do `set(x)` but sometimes the expression is much more complex and having nested parentheses makes it

[2021-09-07 21:59] #43422 closed

[2021-09-07 22:03] jbrockmendel commented on #43351
I think this boils down to the fact that `pd.Timestamp("")` returns `NaT` while `float("")` raises.  Off the top of my head I can't think of a way to do this that isn't either a) pretty invasive or b) using casting logic in Index.insert different from everywhere else

[2021-09-07 22:05] lithomas1 commented on #43451
Hi @cmdawson, can you elaborate a little more?
(FWIW, numpy seems to name their files similarly.
e.g. one of the names is numpy-1.21.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl .)

One thing that may be causing the issue is that our wheels are now built with manylinux 2014. Can you check that you have a pip version recent enough to install pandas(pip>19.3)?

Thanks.

[2021-09-07 22:06] jbrockmendel commented on #43206
The first level in df2.index in the OP is `[0, 0, 1, 1]` (only a single 0 and a single 1 are printed), and the UIDs are all either '1' or '2', so this doesn't make sense to me.  Is there a chance you were referring to a different level?

[2021-09-07 22:40] #42800 closed

[2021-09-07 22:43] cmdawson commented on #43451
Oh my apologies, it is an out of date pip. I thought I'd checked the numpy naming.

[2021-09-07 22:43] #43451 closed

[2021-09-07 23:17] #28984 closed

[2021-09-07 23:36] mzeitlin11 opened #43454 "REF: use common utilities when implementing EA._get_common_dtype"
From #43409, https://github.com/pandas-dev/pandas/pull/43409#discussion_r703891397.

Look to use `is_*_dtype` instead of `isinstance` when implementing `_get_common_dtype` for EA's.

[2021-09-08 01:54] #38015 closed

[2021-09-08 03:12] stuz5000 commented on #20007
Perhaps a reference to the nullable types doc?

On Tue, Sep 7, 2021 at 7:16 AM Patrick Hoefler ***@***.***>
wrote:

[2021-09-08 06:02] Varun270 commented on #21749
take

[2021-09-08 06:06] Varun270 commented on #21749
@salomondush Thank you so much this is my first time contributing to a big project. I might need your guidance.

[2021-09-08 06:42] oskli commented on #43439
Sorry, I should have added some more details. Thanks for clarifying this.

To me it seems like the `_open_handles` in BaseParser, https://github.com/pandas-dev/pandas/blob/73c473dce9f07bba96993c42843320e116cf94ea/pandas/io/parsers/base_parser.py#L224, could accept the `is_text` argument. https://github.com/pandas-dev/pandas/blob/73c473dce9f07bba96993c42843320e116cf94ea/pandas/io/common.py#L522

Ac

[2021-09-08 07:13] roger-yu-ds opened #43457 "ENH: `assert_frame_equal` to show column name for columns of dtype `datetime64[ns]`"
#### Is your feature request related to a problem?

I wish I could use [`pandas.testing.assert_frame_equal`](https://pandas.pydata.org/docs/reference/api/pandas.testing.assert_frame_equal.html) to determine which of my `datetime64[ns]` columns are not equal when comparing two dataframes. Currently the output is `AssertionError: numpy array are different` without indicating which columns are differ

[2021-09-08 07:14] lorenzwalthert commented on #37626
Another one
[code]

[2021-09-08 08:15] MarcoGorelli commented on #20007
If you think the docs can be improved, then pull requests are welcome

Why? What's the issue with categorical values?

[2021-09-08 09:08] #42818 closed

[2021-09-08 12:12] simonjayhawkins commented on #43412
Thanks @mIgLLL for the report.

`df['D']=df.groupby('A')['C'].fillna(method='ffill')` raises `ValueError: cannot reindex on an axis with duplicate labels`

This was not shown in the code sample above. Why need a warning when an exception is raised?

---

maybe https://github.com/pandas-dev/pandas/issues/8849#issuecomment-104748387 is related and much simpler code sample.

That example on master no

[2021-09-08 12:32] Joeperdefloep commented on #43088
I think the main problem is this line in the docstrings:

This is a problem, because there are good examples in the docstring itself.

    and close any opened file handles.

...and this will make people call `writer.close()`. To me, this is unclear, maybe clarify further as:

and I think there will be quite some people calling ``writer.close`` because they will be using it as a file, so that will

[2021-09-08 13:04] felixdivo commented on #43422
Awesomely fast fix! Thank you, @phofl!

[2021-09-08 14:19] erfannariman opened #43460 "ENH: Behaviour Series.isin with dataframe comparison is confusing [for discussion]"
Right now we can compare a Series with a DataFrame through `Series.isin`, but is this expected / wanted behaviour?
I would say this should raise, since expectations can be pretty ambiguous here and is confusing to me.

Also the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html) right now states that the `values` parameter should be "set or list-like"

Code exampl

[2021-09-08 15:13] stuz5000 commented on #20007
Auto-casting ints to floats destroys the information categorical values.
And 500000000005->500000000005.011111 is no longer primary key in your
database.
It's a classic programming footgun. When nulls are introduced into an
integer field, a value that represents missing (or other information
representing it's missingness) is needed.

On Wed, Sep 8, 2021 at 1:15 AM Marco Edward Gorelli <
***@***.**

[2021-09-08 16:20] jbrockmendel commented on #43454
is_*_dtype in general is very slow,

[2021-09-08 16:29] jbrockmendel commented on #43232
Also looks like the warning message was copy/pasted from remove_unused_categories and needs to be updated

[2021-09-08 16:32] jbrockmendel commented on #43232
When I change Block.dtype from cache_readonly to property, that seems to fix it

[code]

Are you seeing something different?

Note: if you want to make a PR to do this, only override it on CategoricalBlock instead of on Block.

[2021-09-08 16:57] rth opened #43461 "Avoid import warning when lzma is missing"
Currently if Python is built without lzma, following https://github.com/pandas-dev/pandas/pull/27882 a warning is going to be shown to users at import time,
[code]

I don't believe this is helpful. While lzma is part of stdlib, CPython [builds perfectly fine](https://github.com/python/cpython/blob/2ec9428e3516b6e7c6583687aa3b39fb96925577/setup.py#L1736-L1740) without lzma, and most of the test sui

[2021-09-08 17:33] attack68 opened #43462 "CI: re-run failed tests"
I can see there is the re-run tests that have failed in **some** of the sections of a PR review.

Some jobs, though, dont have the option to re-run in isolation. Is there a way of getting a button in github that re-runs just failed tests. I imagine this would improve the performance by avoiding recalculating the majority of the jobs which have already passed?

[2021-09-08 17:51] mroeschke commented on #43462
Is the similar in spirit to https://github.com/pandas-dev/pandas/issues/42307?

[2021-09-08 17:53] attack68 commented on #43462
yeh thats a more technical question, did a search couldnt find/. thx

[2021-09-08 17:53] #43462 closed

[2021-09-08 17:59] jbrockmendel commented on #43448
i think you might want the `observed` keyword

[2021-09-08 18:10] ronyeh-lb opened #43463 "BUILD: cant use pandas without bottleneck"
###

- [X] I have read the [installation guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#installing-pandas).

### Platform

mac 10.15.7

### Installation Method

pip install

### pandas Version

latest

### Python Version

3.8

### Installation Logs

Hi,
im want to use pandas for a simple python project.
needed to import pd in a python module, in the simplest way a

[2021-09-08 18:15] jreback commented on #43429
let's try to move this test to the single process mode in pytest (we have a decorator for that)?

[2021-09-08 18:16] twoertwein commented on #43439
To fix the 1.3 release, we probably can't introduce new keyword arguments - using a `try-except`or `hasattr` should make it work on 1.3. For 1.4, we probably have more options - my favorite is to mirror the `mode` keyword from `to_csv`. In your case, you would then pass `mode='tr'` to force pandas to treat the handle as a readable text handle.

[2021-09-08 18:41] attack68 opened #43464 "BUG: `Styler.hide_columns` fails when not sparsifying"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

![Screen Shot 2021-09-08 at 20 40 49](https://user-images.githubuserco

[2021-09-08 18:52] ronyeh-lb commented on #43463
i figure whats is wrong here
pandas tries to import nodejs bottleneck is a python bottleneck, which i have installed it in somewhere else.

`pandas/compat/_optional.py
`
line 115 in
`module = importlib.import_module(name)
`
i debugged this line , and the module.__path__ is :
_NamespacePath(['/Users/xxx/github/rest/node_modules/bottleneck'])

[2021-09-08 20:58] stochastic-thread commented on #39956
Does anyone have any information as to why this was deprecated?
Pandas deprecated to_msgpack
Now PyArrow plans to deprecate a simple and useful serialization option.
Kind of annoying if I'm being honest.

[2021-09-08 22:30] AlexeyGy commented on #43132
I've drafted up #43467. Will want to add a couple more tests to ensure that nothing is breaking but want to share it out early. Open for feedback on it.

[2021-09-08 23:22] Seon82 commented on #43448
I somehow managed to miss that in the `groupby` documentation, thanks! Using `df.groupby(["col1", "col2"], observed=True)` does indeed solve my issue, which seems to in fact be a feature.

Is there a specific reason for the interface to behave differently by default in the presence of categoricals?

[2021-09-08 23:34] lithomas1 commented on #43463
Can you try printing the output of ```import sys; sys.path```? (I'm trying to figure out where your Python is looking for modules.)

[2021-09-09 00:19] #43197 closed

[2021-09-09 00:46] jreback commented on #43454
i think we should fix that (eg there was a fast path pr from joris or tom) i think at some point

[2021-09-09 01:33] gjoseph92 commented on #43155
I haven't tried this new method out on our workload yet. But I wanted to update you that I think I've found that the biggest bottleneck for us during concatenation is actually the GIL. So though this method should help, I know if it'll solve the problem.

[py-spy profile](https://speedscope.app#profileURL=https%3a%2f%2fgistcdn.githack.com%2fgjoseph92%2f5eba47db146bcdd9d38096a35e4eb458%2fraw%2f1db6

[2021-09-09 02:12] jbrockmendel commented on #43155
Can you try it with the workload in the OP?  I'd like to confirm that you get something closer to the 6x that I got locally.

Not a whole lot I can do to help with this, but if you find something, I'll be eager to hear about it.

Could potentially parallelize the for loop in concat_known_aligned, but I don't think there's much mileage to be gained there.

It also looks like `blknos` is pretty sign

[2021-09-09 02:46] MacroBull commented on #43194
Yes, I encountered this issue when I was working on some generic code, where I can not expect what input type will accurately be.
The workaround currently I'm using is manually invoking `get_indexer` combined with `iloc`, so bool  indexer is not considered.
[code]
Which is almost the same way the direct index method do.
The workarounds provided by @kwhkim, either force bool indexing or append None

[2021-09-09 04:59] Varun270 commented on #28724
Okay sure

[2021-09-09 05:04] attack68 commented on #43464
Actually just noticed the exact same thing for `hide_index`, should have checked before..

[2021-09-09 05:09] Varun270 commented on #28724
@MarcoGorelli Just a silly question - What should I name the PR? Updated code_checks.sh? or should I mention the issue number too?

[2021-09-09 06:45] attack68 opened #43471 "ENH: expand multicol_align and multirow_align Styler.to_latex"
Currently styler only allows `multicol_align` in `{"r", "l", "c", "naive-l", "naive-r"}`

Simple pipe characters around multicol_alignment allow dividers to be drawn, e.g. `|r` or `|r|` or `r|` etc..

[code]

![Screen Shot 2021-09-09 at 08 44 16](https://user-images.githubusercontent.com/24256554/132636168-78e5dcb6-c284-4b86-8a12-a283ecfc648e.png)

Also note the cline (this one might be harder to

[2021-09-09 08:34] deponovo opened #43472 "Add `inplace` input param to `add_prefix` and `add_suffix`"
I find myself often wanting to rename columns with a prefix or suffix **inplace** and want to avoid creating copies, so I end up with code as:

`df.rename(columns={col: add_prefix_or_suffix_func_prototype(col) for col in df.columns}, inplace=True)`

It would be a simple feature addition if the `add_prefix` and `add_suffix` would expose this `kwarg` (**inplace**) to simplify the code to:

`df.add_p

[2021-09-09 09:19] MichaelKarpe commented on #28142
Dear pandas team, @TomAugspurger, is there a timeline about integrating typing stubs into pandas? Thanks

[2021-09-09 09:21] MichaelKarpe commented on #28142
Dear pandas team, @jreback, @TomAugspurger, is there a timeline about integrating typing stubs into pandas? Thanks

[2021-09-09 09:37] Tom-python0121 opened #43473 "pytest -v failed about pandas@1.3.2 on centos8_aarch64"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

[code]

### Expected Behavior

[code]

### Installed Versions

<detail

[2021-09-09 09:39] Tom-python0121 commented on #43473
The same error is reported when a test is performed on CentOS8_x86_64.

[2021-09-09 09:58] attack68 commented on #43472
-1 on adding api that is very specific.

are there not other ways of acheiving this, such as at dataframe construction, or just relying on the way you have already used: dont really see the need to improve a one line code solution?

[2021-09-09 10:22] intern2-dev commented on #24109
cvsfvdsv

[2021-09-09 11:22] deponovo commented on #43472
This is a suggestion. There is always a way. In the above comment, the suggested version with `add_prefix` is easier to read than the `rename` one. And in the end `add_prefix` is a special wrapper around `rename`, so I would not see a problem exposing args of `rename` through `add_prefix` where applicable.

[2021-09-09 11:25] phofl commented on #43472
We are discussing deprecating inplace for most functions, -1 until we have decided how to move forward there

[2021-09-09 11:37] #43424 closed

[2021-09-09 11:59] #43464 closed

[2021-09-09 12:10] kwinkunks commented on #36064
This seems to be fixed in `pandas` 1.3.2 (with `matplotlib` 3.4.3, Python 3.9), but I can't find a reference to #36064 anywhere so I don't know what fixed it.

[code]

![image](https://user-images.githubusercontent.com/1692372/132682429-069cd094-4f3b-44c8-aa11-d5fc03f2b449.png)

I really dislike the default colourmap because it results in invisible points, but the x-axis label is there at least.

[2021-09-09 13:45] attack68 commented on #11987
df.style.to-html can already do this. perhaps will extend to df.to-html when the redirection is in place.

[2021-09-09 13:51] #43223 closed

[2021-09-09 14:13] attack68 commented on #11656
this method is depecated and solutions are now available with Styler.format(precision)

[2021-09-09 14:13] #11656 closed

[2021-09-09 14:14] attack68 commented on #11062
HTML and latex escaping is now possible using either Styler or DataFrame.to-xxx

[2021-09-09 14:14] #11062 closed

[2021-09-09 14:17] attack68 commented on #9625
this is problematic because in the current format it is ambiguous if the name "a" applies to the index or the colums.

probably nothing to do here.

a workaround is just to name the name the columns "a" and leave tje index name blank

[2021-09-09 14:18] #9625 closed

[2021-09-09 15:38] jbrockmendel commented on #28142
There is an ongoing effort to improve annotations, but no specific timelines.

[2021-09-09 16:07] Phil-Garmann opened #43476 "BUG: dataframe.fillna not working for dataframe with duplicate column names"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

For dataframes with duplicate column names `.fillna` fails to fill mis

[2021-09-09 16:12] phofl commented on #43476
This is actually raising a SettingWithCopyWarning, probably the reason for this

[2021-09-09 16:20] igurin-invn commented on #36064
I upgraded to the same versions that you have, but it doesn't work for me.

![image](https://user-images.githubusercontent.com/53919701/132723995-e4162b3f-0d5a-41c4-a6e9-0f6a3cee17d4.png)

[2021-09-09 17:01] leihuang opened #43477 "BUG: Concatenation of two objects of the `category` type gives an object of the `object` type"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

The output of the codes above is:

`category category object`

### Exp

[2021-09-09 17:45] elicutler commented on #23568
I am running into this issue on pandas version 1.3.2

[2021-09-09 17:51] sarming opened #43480 "BUG: DataFrameGroupBy.boxplot with subplots=False fails for object columns"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]
results in the following error:
[code]

### Issue Description

This might be related to #16748

[2021-09-09 17:59] #42395 closed

[2021-09-09 18:03] mzeitlin11 commented on #43477
Thanks for the report @leihuang. Going to close as a duplicate of #42840. The reason this gives object type is that the categories don't match, so the common type between them defaults to object (for now). So if what you're expecting is a union of categories (eg ABCD in this case), you could explicitly include all categories when instantiating the dtype so that types match

[2021-09-09 18:03] #43477 closed

[2021-09-09 19:19] jchemp commented on #34205
+1

[2021-09-09 19:31] jreback opened #43482 "DOC: doc build failing as apparent change in statsmodel url"
[code]

[2021-09-09 19:31] jreback commented on #43482
cc @pandas-dev/pandas-core

[2021-09-09 19:48] jreback commented on #43482
this might also be supriuous as seeing it elsewhere

[2021-09-09 20:09] bashtage commented on #43482
Looks suprious.  I can manually download the inv file.

[2021-09-09 20:33] jorisvandenbossche commented on #43482
Yes, me too, and it's also passing again on the latest commit on master. So probably a spurious connection problem.

[2021-09-09 20:33] #43482 closed

[2021-09-09 20:40] attack68 opened #43483 "ENH: set sticky levels accept level names"
quick note to record a todo:

change the level arg in Styler.set_sticky to accept level names, akin to Styler.hide_index, for consistency and expanded usage.

[2021-09-09 22:15] jbrockmendel opened #43485 "API: pd.concat with len(keys) != len(values) does not raise; intentional?"
[code]

I expected the pd.concat below to raise.  It kind of makes sense as a reindex or analogue to the DataFrame constructor, but seems more likely to me to be a footgun.  In particular, I think the _lack_ of raising may be hiding a bug in the groupby code.

Is not-raising an intentional decision?  If so, thoughts on either deprecating or issuing a warning?

[2021-09-09 22:19] untanglereality commented on #22435
If anyone is having trouble with `unhashable type` error when using Pandas `query`,  you can add `engine="python"` argument if the performance isn't a problem.

Source: [DataFrame.query documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)

[2021-09-09 22:34] jbrockmendel opened #43486 "BUG: groupby(Grouper) with all-NaT grouping keys"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]
[code]

[2021-09-09 23:06] gjoseph92 commented on #43155
With the OP example, it's printing ~45Mib/s with `concat_known_aligned` instead of ~35MiB/s with `pd.concat`, so not a 6x improvement overall. However timing just the concat part, that's 1.5s vs 0.1s, so 15x faster! Not sure which timing you were looking at (I assume the latter).

It doesn't look like the [`np.concatenate` C implementation](https://github.com/numpy/numpy/blob/e62aa4968dd0926cf8307

[2021-09-09 23:42] jbrockmendel commented on #43155
Yah, your best bet is either the numpy tracker or numpy-users.

It wouldn't be that difficult to write a cython near-equivalent of that C implementation that could be declared as `nogil`.  Worth a shot.

[2021-09-10 00:24] #43439 closed

[2021-09-10 00:57] fangchenli commented on #43473
you need to have `xclip` or `xsel` installed for the clipboard.

[2021-09-10 00:59] geoffrey-eisenbarth commented on #39983
Apologies if this is the wrong place to discuss this, please let me know and I'll gladly move it around. I only recently updated to 1.3 and noticed the FutureWarning related to this change. I would like to request that, in light of this change, that `groupby.sum()` be modified to take the `skipna` parameter. See below for my use case.

Setup:
[code]

Prior to 1.3 I would use the following to sum u

[2021-09-10 02:19] mzeitlin11 commented on #39983
I think this is a reasonable request - there's #15675 for more context (and an open, but stalled pr at  #41399)

[2021-09-10 06:31] CherryNita opened #43493 "QST: I am trying to run a machine learning code in Python. I get the following error: UnicodeDecodeError: 'ascii' codec can't decode byte 0xac in position 6: ordinal not in range(128)"
###

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

I am trying to run a machine learning code in Python. I get the following error: UnicodeDecodeError: 'ascii' codec can't decode by

[2021-09-10 07:28] MarcoGorelli commented on #43493
This isn't a support forum, sorry, please ask somewhere else

[2021-09-10 07:28] #43493 closed

[2021-09-10 08:16] peterpanmj opened #43494 "BUG: DataFrame.corr assume 1s are always on the diagonal line"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

pd.DataFrame.corr assume diagnoal line should always be filled with on

[2021-09-10 08:49] #38454 closed

[2021-09-10 09:07] rth commented on #43461
Thanks for the feedback, I'll open a PR.

[2021-09-10 09:25] tilusnet commented on #42540
Pandas 1.2.5 still had the API documentation available: https://pandas.pydata.org/pandas-docs/version/1.2.5/reference/api/pandas.json_normalize.html

Yet the latest version still has `json_normalize` documented in the User Guide section: https://pandas.pydata.org/docs/user_guide/io.html#normalization

The missing API entry is surely a mistake then?

[2021-09-10 10:06] peterpanmj commented on #43494
In this example,

[2021-09-10 11:39] tommyjcarpenter commented on #25513
I just want to chime in and say, the docs are very subtle w.r.t. this issue: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html

It is very easy to miss the line ` Note that index labels are not preserved with this encoding.`

Perhaps the solution above `df['index_name'] = df.index before calling df.to_json(...)` should be mentioned in those docs to help the reader understa

[2021-09-10 12:56] mzeitlin11 commented on #43494
Thanks for the report @peterpanmj. Going to close in favor of #25781

[2021-09-10 12:56] #43494 closed

[2021-09-10 13:45] #43242 closed

[2021-09-10 14:09] #43476 closed

[2021-09-10 15:05] jseabold opened #43498 "ENH: Add observed keyword to value_counts"
#### Is your feature request related to a problem?

If you do `value_counts` on a categorical there's no way to suppress unobserved categories.

#### Describe the solution you'd like

Add an observed keyword to value_counts.

#### API breaking implications

None, unless we want to revisit the default in light of #35967.

[2021-09-10 17:01] slonik-az commented on #38463
As of pandas version 1.3.2 `Resampler`'s `apply` is still an alias for `aggregate` that caused me couple of hours of time trying to figure out why `df.resample(...).apply(...)` is semantically different from `df.groupby(...).apply(...)`.

We already have `agg` as an alias for `aggregate`. Having `apply` as yet another alias for the same serves no useful purpose and makes for an inconsistent API.

[2021-09-10 17:27] simonjayhawkins opened #43501 "REGR: FutureWarning issued and empty DataFrame returned where no numeric types to aggregate"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

the code sample was raising `DataError: No numeric types to aggregate`

[2021-09-10 17:37] Dr-Irv commented on #43501
@simonjayhawkins It's not clear to me how you're suggesting this should be changed.   Are you saying that the `FutureWarning` should be removed and the old behavior (raising a `DataError`) restored for 1.3.x?  Are you also saying that we need to decide what will happen in 1.4 and beyond?

[2021-09-10 17:54] simonjayhawkins commented on #43501
If it was raising `DataError` in 1.2.5 and we want to raise `TypeError` in the future, we could probably make that change without a warning (and a change in behavior to return an empty DataFrame in the interim)

I think that changing the exception type may not be an api change. changing the behavior is.

so for 1.3.x we could either restore the DataError (or maybe change to TypeError)

[2021-09-10 18:47] zyc09 commented on #40245
take

[2021-09-10 18:47] zyc09 commented on #40245
working on pd.date_range()

[2021-09-10 18:48] #29564 closed

[2021-09-10 18:55] jbrockmendel commented on #43501
there's now a `find_stack_level` that can avoid these headaches

IIRC this was the best option available for ensuring internal consistency until the deprecation is enforced.  e.g. we want `frame[["b"]].groupby(frame["a"]).mean()` to match `frame[["b"]].groupby(frame["a"]).agg("mean")` and `frame[["b"]].groupby(frame["a"]).apply(np.mean)`

[2021-09-10 19:25] matg19 opened #43502 "BUG: Assigning on new column replaces value on different data frame"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

I am very surprised by this, I thought it might be some element sticki

[2021-09-10 19:45] MarcoGorelli commented on #43502
It's not a different object:

[code]

You probably want to use `DataFrame.copy`

[2021-09-10 19:45] #43502 closed

[2021-09-10 19:52] simonjayhawkins commented on #43050
planning to release 1.3.3 on Sunday. please use the blocker label on any issues/PRs if necessary (next release in approx 5 weeks)

1.3.4 milestone created https://github.com/pandas-dev/pandas/milestone/90 and issues without PRs and PRs that need more work can be moved across.

[2021-09-10 19:58] jorijnsmit commented on #26731
curious about this :)

[2021-09-10 20:12] Codeberg-AsGithubAlternative-buhtz opened #43503 "BUG: dtype changes when row passed to a function via DataFrame.apply()"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

When I "iterate" on row level via `DataFrame.apply(foo, axis=1)` the `

[2021-09-10 20:16] haakenlid commented on #42540
It's exposed as `pandas.json_normalize` in the top level namespace, and it certainly _is_ meant for users.

https://github.com/pandas-dev/pandas/blob/master/pandas/__init__.py#L170

[2021-09-10 20:25] haakenlid commented on #42540
Here's a commit removing it from the docs, claiming it's deprecated.

https://github.com/pandas-dev/pandas/pull/41844/commits/47f90edd0a2b71f3ec3b819e7c2fbbab24f7bbb7

I can't find any explanation of what that is supposed to mean.

[2021-09-10 20:27] Dr-Irv commented on #43501
Here's a table contrasting the behaviors using the examples @jbrockmendel listed between 1.2.5 and 1.3.2, and master:

|  Code     |  1.2.5 Result   | 1.3.2 Result | 1.4.0.dev0+647.g0072fa8cb5 Result |
|---------- | ---------------| -------------| --------------------------|
| `frame[["b"]].groupby(frame["a"]).mean()` |  `DataError` exception |  Empty DataFrame | `FutureWarning` and Empty DataFram

[2021-09-10 21:03] mzeitlin11 commented on #43398
Closing for now, please ping to reopen if you fill out the template

[2021-09-10 21:03] #43398 closed

[2021-09-10 21:05] jbrockmendel commented on #43501
The apply-that-is-an-agg part of this seems like something to ask @rhshadrach about.

[2021-09-10 21:10] rhshadrach commented on #42540
Thanks for following up on this @haakenlid - my comment above was incorrect (and is now edited). In 1.0.0 pandas.io.json_normalize was deprecated in favor of pandas.json_normalize

https://pandas.pydata.org/pandas-docs/version/1.0.0/whatsnew/v1.0.0.html#deprecations
https://github.com/pandas-dev/pandas/pull/27615

So the commit you found was right in that it should be removed from io, but it needs

[2021-09-10 21:47] rhshadrach commented on #43501
The relevant parts of the algorithm works in two steps:

 - Subset the columns to numeric only
 - Operate on the resulting DataFrame

To separate these, consider changing the example in the question to:

[code]

This raises on 1.2.x, but not on master. I believe raising in this case is a bug - it is inconsistent with other reductions (e.g. sum, min, max, prod). Making it so this op doesn't raise f

[2021-09-10 21:53] frreiss commented on #42437
@jbrockmendel if I'm reading your comment correctly, there's a (currently undocumented) requirement for Pandas extension types to implement the NumPy callback `__array__()`. If that's the case, then perhaps the `ExtensionArray` class should have an implementation of `__array__()` that calls `self.to_numpy()`?

[2021-09-10 22:26] rhshadrach commented on #43088
Thanks for the detailed comment @Joeperdefloep - agree on the bit about `close`, that part needs to remain public I think.

Typically workbooks have < 100 sheets, and as a result recreating `self.sheets` is very cheap to the point of insignificant (but need to confirm this). If that's the case, then the best behavior to me would be to remove `writer.sheets` altogether.

[2021-09-10 22:38] rhshadrach commented on #43088
For xlsxwriter, I'm seeing 0.1ms for 1000 sheets.

[2021-09-10 22:48] Joeperdefloep commented on #43088
Hmm, I do think it is nice that sheets is a more general form. ODSwriter puts the tables (`sheets`) together inside the `save` function, whereas the others just save the `.book`. So that would be different implementations...
Still it sounds nice to have indeed sheets be recreated/updated on everey write_cells. Should be possible I think.

[2021-09-10 23:49] jbrockmendel commented on #42437
Huh, I thought that was already there as the default implementation, but apparently not.  PR would be welcome.

[2021-09-11 02:14] Tom-python0121 commented on #43473
yes, the bug has fixed in these patch:https://github.com/pandas-dev/pandas/pull/32313/commits/76ec85551c3535f77e091b39e00d6c67c960f383;https://github.com/numpy/numpy/issues/19146;https://github.com/pandas-dev/pandas/pull/29736/files
![image](https://user-images.githubusercontent.com/77763324/132932887-9cc38654-44b7-4a00-bf2a-a0da2c39cd7c.png)

[2021-09-11 02:15] Tom-python0121 commented on #43473
I will close this issuse.

[2021-09-11 02:15] #43473 closed

[2021-09-11 02:40] fangchenli commented on #34014
closed #43505

[2021-09-11 02:40] #34014 closed

[2021-09-11 04:09] slsongge commented on #36419
thank you

[2021-09-11 06:34] Varun270 commented on #21749
take

[2021-09-11 10:38] simonjayhawkins commented on #38463
hence the open status of this issue

pandas, like many open source projects, is nearly all volunteer

since there are 3000+ open issue most patches must come from the community

you are welcome to submit a Pull Request and the core team will review.

[2021-09-11 10:42] jreback commented on #38463
this alias exists for compatibility with grouping which uses the same convention - not even sure why this is a problem

this is unlikely to change

[2021-09-11 10:46] endremborza commented on #38463
what do you mean grouping has the same convention?

they are in no way aliases

[2021-09-11 11:02] simonjayhawkins commented on #43380
fixed in #43154 and docs now render as before https://pandas.pydata.org/pandas-docs/dev/user_guide/groupby.html#other-useful-features (stables docs will get updated with 1.3.3 release)

[2021-09-11 11:02] #43380 closed

[2021-09-11 14:50] #24306 closed

[2021-09-11 16:55] Dr-Irv commented on #43501
@rshadrach so I've taken the table I made above and added a "Proposal" column, which I think is what you are suggesting above.

|  Code     |  1.2.5 Result   | 1.3.2 Result | 1.4.0.dev0+647.g0072fa8cb5 Result | Proposal |
|---------- | ---------------| ---------------| ---------------| ---------------|
| `frame[["b"]].groupby(frame["a"]).mean()` |  `DataError` exception |  Empty DataFrame | `Futur

[2021-09-11 17:42] lgautier opened #43516 "BUG: Error "no attribute 'total_seconds'" with tzlocal >= 3.0"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

`pandas.to_datetime` allows the creation of objects with a broken meth

[2021-09-11 20:17] tacaswell commented on #34014
Well, "rip it all out" is one way to fix it !

[2021-09-11 20:54] simonjayhawkins commented on #43232
@jbrockmendel xref https://github.com/pandas-dev/pandas/issues/43334#issuecomment-917371218

Is that what you are suggesting? I'm not a advocate of 11th hour changes as the longer things sit in master the more chance of catching any problems. I'll move this to 1.3.4

[2021-09-11 21:08] mzeitlin11 commented on #43516
Thanks for reporting this @lgautier! Would you mind updating the title of the issue? related #37654

[2021-09-11 21:11] mzeitlin11 commented on #43457
Thanks for reporting this @roger-yu-ds! Definitely agreed having a more informative error matching other cases would be an improvement, pr to do this would be very welcome

[2021-09-11 21:19] mzeitlin11 commented on #43460
+1 on this - can't think of a compelling use case and assuming this behavior is not well-defined or tested. Would this require a deprecation first, or could it be treated as a bug?

[2021-09-11 22:02] mzeitlin11 commented on #23745
This looks ok on master:
[code]

And is hit by the `TestMissing` class of extension tests, so going to close

[2021-09-11 22:02] #23745 closed

[2021-09-11 22:24] lgautier commented on #43516
Oops. Done. I added that this seems to be with `tzlocal` >= 3.0.

[2021-09-11 22:38] cesare-spinoso opened #43522 "DOC: Typo in `fillna()` documentation"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

### Documentation problem

Typo in one of the examples for `fillna()`. Specifically, the last example with `df2 = pd.DataFrame(np.zeros((4, 4)),

[2021-09-11 23:10] MarcoGorelli commented on #43522
I believe this is intentional, to show that you can fill with a DataFrame which has extra columns not present in the original one

[2021-09-11 23:10] mzeitlin11 commented on #43522
Thanks for noting this @cesare-spinoso. I think this is not explicitly wrong - since column "E" does not match any column in `df1`, that column is essentially just ignored - and column "D" in `df1` is unaffected.

However, since there are no missing values in column "D" in `df1`, this example could probably be improved to show it more explicitly

[2021-09-11 23:10] mzeitlin11 commented on #43522
whoops sorry @MarcoGorelli just saw your comment

[2021-09-11 23:16] cesare-spinoso commented on #43522
Aha! Makes sense, maybe it's just me but that was easy to miss. Perhaps an extra line explaining just that could be useful? I'll leave it up to you.

[2021-09-12 00:13] mzeitlin11 commented on #43522
Yeah I think an extra line could help - or adding a missing value to column "D" to make it more obvious that it is not being filled

[2021-09-12 01:44] jbrockmendel commented on #43232
Yes.

[2021-09-12 05:10] shubham11941140 commented on #43183
I agree with your point @simonjayhawkins, but this is different from the convert_dtypes issue mentioned, I can open up another PR and we can have a conversation to solve this.

[2021-09-12 05:42] IamJasonBian commented on #41264
Is it ok if I take this bug?

To clarify, in the empty dataframe case should all index.names contain None output after the column is groupby and shifted.

[code]
For the case when the DataFrame contains data, should the output match the behavior for the empty dataframe.

[code]

[2021-09-12 05:47] romanov-o opened #43528 "BUG: read_csv() incorrectly parses data in case '\n' is used as a separator"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

`pd.read_csv()` incorrectly parses data in case `'\n'` is used as a se

[2021-09-12 08:17] simonjayhawkins commented on #43050
pre-release checklist

- [x] wheels building https://github.com/MacPython/pandas-wheels/pull/135
- [x] release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [x] release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.3.html
- [x] ci checks https://github.com/pandas-dev/pandas/commits/1.3.x
- [x] no manual back

[2021-09-12 08:18] simonjayhawkins commented on #43050
#42946 will be closed after successful upload of wheels to PyPI

starting release shortly.

[2021-09-12 08:21] simonjayhawkins commented on #43050
1.3.3 milestone now closed off.

- [ ] tag locally
- [ ] build sdist
- [ ] pip test
- [ ] conda test
- [ ] build docs
- [ ] push tag https://github.com/pandas-dev/pandas/tags
- [ ] open PR to build wheels https://github.com/MacPython/pandas-wheels/pull/xxx
- [ ] upload docs https://pandas.pydata.org/pandas-docs/version/1.3.3/
- [ ] wheels in staging area https://anaconda.org/multibuild-wheels-stag

[2021-09-12 10:32] erfannariman commented on #43522
take

[2021-09-12 12:04] erfannariman commented on #43460
I would say this looks more like a bug to me. So I would be -1 for a deprecation cycle.

[2021-09-12 12:17] leonarduschen commented on #43528
How would it detect newlines though?

[2021-09-12 13:18] leonarduschen commented on #28333
This isn't implemented yet in `master`, can I work on this?

[2021-09-12 13:51] simonjayhawkins opened #43531 "RLS: 1.3.4"
Tracking issue for the 1.3.4 release.

Currently scheduled for October 17, 2021. (could release earlier if there are issues with the pandas 1.3.3 py3.10 wheels once Python 3.10.0 final is released xref https://github.com/pandas-dev/pandas/issues/41940#issuecomment-917375309)

https://github.com/pandas-dev/pandas/milestone/90

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=

[2021-09-12 14:03] simonjayhawkins commented on #42946
wheels for pandas 1.3.3 uploaded to PyPI

[2021-09-12 14:03] #42946 closed

[2021-09-12 15:06] #23089 closed

[2021-09-12 15:08] twoertwein commented on #27750
Closing as `to_csv`  (`errors`) and `read_csv` (`encoding_errors`) both have arguments to ignore encoding errors.

[2021-09-12 15:08] #27750 closed

[2021-09-12 15:15] #43522 closed

[2021-09-12 15:52] jbrockmendel commented on #43531
Some of these are pretty clearly false-positives.  if I hit the "ignore" button in my browser, does that do something on the back-end to mark it for everybody?

[2021-09-12 16:08] simonjayhawkins commented on #43531
if you hit the ignore it gives a code snippet at the bottom in the show ignore regressions section to include in the config. If you paste it here, i'll add it to the config.

[2021-09-12 16:55] #43359 closed

[2021-09-12 17:21] kloczek opened #43534 "BUG 1.3.3: pytest is failing when `pytest-randomly` pytest plugin is used"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

pytest is failing with `unrecognized arguments: --strict-data-files`
[

[2021-09-12 17:22] kloczek commented on #43534
[code]

[2021-09-12 17:39] mzeitlin11 commented on #28487
This looks good now for the `axis=0` case on master. The `axis=1` case is a lot harder since storage is column-oriented (and seems a less useful operation). A benchmark would probably be good to add for the `axis=0` case

[2021-09-12 17:47] twoertwein commented on #26376
This works with 1.3.2, but there is currently no test for that.

[2021-09-12 17:49] debnathshoham commented on #43534
I think you should run `pytest pandas`
Refer [here](https://pandas.pydata.org/pandas-docs/stable/development/contributing_codebase.html#running-the-test-suite) for more details.

[2021-09-12 18:06] twoertwein commented on #15302
I'm quite sure this should work with 1.3.2, but I'm not sure whether the following is a sufficient test for this:

PYTHONWARNINGS="default" python test.py

test.py:
[code]
This should print a `ResourceWarning` (even on unix) if we do not close the file handle.

[2021-09-12 19:13] michal-gh opened #43540 "BUG: REGR: read_csv with memory_map=True raises UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc4 in position 262143: unexpected end of data"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

This bug occurs when the end of the internal 256KB buffer falls inside

[2021-09-12 20:04] kloczek commented on #43534
With that hint it is a bit better but now I have 29 failed units.
Full log is in attachment.
[python-pandas_pytest.log.txt](https://github.com/pandas-dev/pandas/files/7150220/python-pandas_pytest.log.txt)

[2021-09-12 20:24] MarcoGorelli commented on #43534
These tests pass just fine

Please follow the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to set up your environment

To avoid wasting time like in https://github.com/matplotlib/matplotlib/issues/20312, I'll quote their reply:

[2021-09-12 20:30] #43050 closed

[2021-09-12 20:39] kloczek commented on #43534
Did you had a look on exect failing units messages?

This ticket is not about contribution to the code.
This ticket is about fauiling test suite.

In that case it was wrong testing methodology usuusing `python3 -Bm pytest`. It should be used pytest script because `python3 -Bm pytest` automatically adds to the `sys.path` upfront current directory. Byu this pytest was not testing what was installed

[2021-09-12 20:55] kloczek commented on #43534
Just rerun pytest and had completly different set of fails.
I'm using `pytest-randomly` pytest plugin.
Looks like `pandas` teest suite has some dependencies between test units and that plugin exposes that kind of issue.
With such dependencies running `pytest pandas <exac/file.py>` or `pytest pandas <exac/file.py>::><exact_unit>` may fail.
So it would be rally good to reopen that ticket ..

On diag

[2021-09-12 21:24] phofl commented on #43540
We changed a few encoding related things and added a new keyword ``encoding_errors``. I think this should solve your problems.

cc @twoertwein This is expected now, isn't it?

[2021-09-12 21:26] phofl commented on #43528
Yeah agreed. I think we should raise if ``\n`` is provided as separator.

[2021-09-12 21:34] marcozugno opened #43541 "BUG: `merge_asof` gives incorrect results when `by` consists of multiple categorical columns with equal, but differently ordered, categories"
Observing that `merge_asof` gives unexpected output when:
- `by` includes more than one column, one of which is categorical
- categorical columns included in `by` have equal categories but with different order in left/right dataframes

It seems to me the issue is caused by the categorical columns being cast to their codes during the call to `flip` in `_get_join_indexers` when `by` includes more th

[2021-09-12 21:37] marcozugno commented on #43541
Somehow related to https://github.com/pandas-dev/pandas/issues/26249

However, reading that issue it seems to me like `merge_asof` should already raise an exception if called on unordered categories for a merge key, which is not happening.

[2021-09-12 22:05] twoertwein commented on #43540
Thank you @michal-gh  for your carefully crafted example!

This issue happens only with the c-engine and memory_map=True:

engine="python", memory_map=False: ą
engine="python", memory_map=True: ą
engine="c", memory_map=False: ą
engine="c", memory_map=True: UnicodeDecodeError
engine="c", memory_map=True, encoding_errors="ignore": a

Changing the `encoding_errors` to "ignore" lets you at least "avoi

[2021-09-13 01:03] leonarduschen commented on #43528
I'll go ahead and make a PR for that, should be a quick one

[2021-09-13 01:10] leonarduschen commented on #43528
Wait - I realized we have the parameter `lineterminator` - which is `\n` by default.

[code]
gives

[code]

Maybe we raise when `sep` is the same as `lineterminator` ?

[2021-09-13 01:17] benbogart commented on #41264
@IamJasonBian I have unassigned myself so you should be able to take it now.

I didn't end up having time to get into this.  I'm glad you will take it over.

[2021-09-13 02:18] #38543 closed

[2021-09-13 02:30] 874061490 opened #43543 "BUG: AttributeError: Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks' from '/usr/local/lib/python3.6/dist-packages/pandas/core/internals/blocks.py'>"
###

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

AttributeError: Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks' from '/usr/local/lib/python3.6/dist-pack

[2021-09-13 04:50] mroeschke commented on #43543
Thanks for the issue. It appears you have filled out the incorrect template. We suggest following the `Bug Report` template so the team has an better change diagnosing the issue. Closing but we anticipate your issue with that template.

[2021-09-13 04:50] #43543 closed

[2021-09-13 05:51] peterpanmj commented on #25781
take
I met the same problem #43494, I can come up with a solution.

[2021-09-13 07:04] MarcoGorelli commented on #43534
OK, now this is a more specific and actionable report, thanks - let's open a PR which uses pytest-randomly  and see what happens

[2021-09-13 08:02] mgab opened #43547 "BUG:"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

When calling `DataFrame.pivot` with a list of column names as the `val

[2021-09-13 08:14] phofl commented on #43528
A separator with more than one character forces the python engine, which does not accept a lineterminator

[2021-09-13 08:18] hroncok commented on #42946
Thank you @simonjayhawkins.

[2021-09-13 08:30] simonjayhawkins commented on #42946
Thanks to @fangchenli and @lithomas1

[2021-09-13 09:43] Bernadette-Mohr commented on #37167
Since this issue is still open, I just wanted to give you a heads up: I just encountered the same behavior with pandas plotting on python 3.7 and pandas version 1.2.4. But it only happens if I plot errors (setting yerr from one df column), without the legend behavior is as expected.

[2021-09-13 12:25] grotmol opened #43549 "PERF: MultiIndex equals method got 20x slower"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this issue exists on the master branch of pandas.

### Reproducible Example

from dateutil import tz
import pandas as pd
from time import time

dates = pd.date_range('2010-01

[2021-09-13 12:31] grotmol commented on #43549
I have run pyspy on the code. That reveals that all the time is spent on line 419 in the pandas/core/dtypes/missing.py file, inside the array_equivalent method:
[code]

[2021-09-13 12:31] joseph-wakeling-frequenz commented on #43380
Fantastic!  Thank you @simonjayhawkins and to the contributors and reviewers involved.

[2021-09-13 12:36] grotmol commented on #43549
The full "stack trace" from pyspy is:

- `equals` (pandas/core/indexes.multi.py:3520)
- `array_equivalent` (pandas/core/dtypes/missing.py:419)
- `__array__` (pandas/core/arrays/datetimes.py:593)
- `__array__` (pandas/core/arrays/datetimelike.py:312) [about 96% of the run-time]
- `__iter__` (pandas/core/arrays/datetimes.py:620) [about 40% of the run-time]

[2021-09-13 14:32] jorisvandenbossche opened #43550 "REGR: outer join with integer key and NaNs failing"
Doing a merge with `how="outer"` on an integer / all-NaN column started failing.

This works in pandas 1.3.2:

[code]

However, this started failing on master some time ago, and apparently now also in pandas 1.3.3:

[code]

This breaks GeoPandas' `overlay` function (cfr https://github.com/geopandas/geopandas/pull/2101)

cc @simonjayhawkins

[2021-09-13 14:36] jorisvandenbossche commented on #43550
The one PR in 1.3.3 related to merge is https://github.com/pandas-dev/pandas/pull/43152, which seems a good candidate for being the cause (since it's the Series constructor that raises the error)

[2021-09-13 15:49] mzeitlin11 commented on #43419
I think CSC format is necessary (so conversion is necessary, at least with current impl) since we access the `indices` attribute.  Perhaps just the user guide should be amended then? The actual docstring for that function actually does correctly single out that `Must be convertible to csc format`.

[2021-09-13 15:52] debnathshoham commented on #43550
should I run this through a try except block
(for these cases where the merged dataframe cannot be casted to the original dtype)?

[2021-09-13 16:05] #43448 closed

[2021-09-13 16:18] MarcoGorelli commented on #43534
closing in favour of https://github.com/pandas-dev/pandas/issues/34373

If there's an issue other than pytest-randomly which pandas should be aware of, please do open a new issue - thanks!

[2021-09-13 16:18] #43534 closed

[2021-09-13 16:46] jbrockmendel commented on #43549
Best guess is it has to do with the warnings.catch_warnings now in `DatetimeArray.__iter__`, which in turn is needed bc of a warning issued by Timestamp.  If correct, the issue will resolve itself, when those warnings are removed in 2.0.  But of course we don't want to wait until then.

Two options come to mind: a) go into MultiIndex.equals and do something to avoid calling array_equivalent, b) go

[2021-09-13 17:25] marklewis3000 opened #43554 "Feature Request - New pd.set_option() option: display.column_delimiter : str"
When I print a dataframe, which uses df.to_string(), I would like the ability to display it in CSV format with commas between the columns instead of spaces, like this:
[code]
This might be done with a new string option 'display.column_delimiter' in pd.set_option().
pd.set_option('display.column_delimiter', ',')
[code]
Currently, the output uses spaces as below:
[code]

[2021-09-13 18:17] debnathshoham commented on #39671
A set is an _unordered_ data structure. I think ordering / reordering of a set is meaningless.
If I am not wrong the re-ordering in the example happens in python (and has nothing to do with pandas).
[code]

[2021-09-13 21:25] attack68 opened #43556 "BUG: CI and local failures using fastparquet and pyarrow"
###

- [X] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Issue Description

I have a PR which is continually failing at the same point: https://github.com/pandas-dev/pandas/pull/43

[2021-09-13 22:44] IamJasonBian commented on #41264
take

[2021-09-13 23:31] rhshadrach commented on #43501
@Dr-Irv - Is "Proposal" what we consider to be 2.0 behavior? In such a case, the top two lines of Proposal should raise a TypeError. For the third line, it should be whatever error numpy raises I think (assuming the first sentence of the last paragraph in https://github.com/pandas-dev/pandas/issues/43501#issuecomment-917232545 is correct).

[2021-09-14 01:09] Dr-Irv commented on #43501
@rhshadrach I think I was proposing 1.3.4 (or 1.4) behavior, based on when you wrote this:

[2021-09-14 02:56] el-g-1 commented on #39548
I'll work on a test

[2021-09-14 03:11] mzeitlin11 opened #43559 "CI: network tests"
In #43545, found that "not network" was not actually skipping network tests.

In the process of looking for a build which explicitly runs network tests, looked like all pytest patterns include "not network" or "slow". In that case, no network tests will be selected (unless they also happen to be "slow"). Can anyone please confirm this or point me to the build where network tests are meant to run?

[2021-09-14 03:40] rhshadrach commented on #43501
@Dr-Irv - the paragraph you quoted was considering the example

    frame[[]].groupby(frame["a"]).mean()

For the top two lines, these will raise a TypeError in pandas 2.0, and so need to have the FutureWarning in 1.3.x/1.4.

[2021-09-14 04:32] woodvi opened #43560 "DOC: plot doesn't show in some environments"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/user_guide/10min.html#plotting

### Documentation problem

When following the tutorial, plot may not appear, depending on the environment.  Some environments require `plot.show`, some

[2021-09-14 04:45] david-shu opened #43561 "BUG: stack() will raise IndexError when is_extension_array_dtype. bug is in function _stack_multi_columns()"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

bug exists in **pandas/core/reshape/reshape.py**  :

  def _stack_mult

[2021-09-14 09:32] steve-mavens commented on #36271
The offensive code is in pandas/io/common.py:

[code]

Compare this with the more conservative:

[code]

So perhaps a fix would be to disallow the double-quote character in the part before the "://", that `is_fsspec_url" is assuming is a URL scheme that fsspec might handle. However, I don't know why `is_fsspec_url` was written that way in the first place, so I can't be 100% sure doing that wouldn'

[2021-09-14 09:57] suyashgupta01 commented on #40245
As mentioned [here](https://github.com/pandas-dev/pandas/pull/43248#discussion_r701003907) by @attack68 , I'll soon be making a follow up PR for this. :)

[2021-09-14 10:07] ilgrad opened #43563 "BUG: not correct work str.split"
###

- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

output: 2021-09-14_qweqw
true output: 2021-09-14_qweqwejpgqweqwe

###

[2021-09-14 10:09] corriebar opened #43564 "ENH: DataFrameGroupby.value_counts"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

Since `value_counts()` is defined both for a `Series` and a `DataFrame

[2021-09-14 11:48] shulmaneyal opened #43565 "BUG: string[pyarrow] dtype not loaded from feather"
###

- [X] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

Loading a df that contains a column of type string[pyarrow] from a fea

[2021-09-14 12:10] MarcoGorelli commented on #43564
Hi @corriebar

I think this is a good request, thanks for including clear input + output + workaround

@rhshadrach any thoughts on this?

[2021-09-14 12:15] debnathshoham commented on #43563
I can confirm this on master, and I think should work given it works on `str.split`.
[code]
For your case, you can add an escape character and it should work (`.jpg` -> `\.jpg`).
[code]

[2021-09-14 12:35] #41047 closed

[2021-09-14 12:56] #39548 closed

[2021-09-14 13:07] #9481 closed

[2021-09-14 14:35] #43550 closed

[2021-09-14 14:38] soliujing opened #43567 "ENH: Possible to add dtype/converters as arguments for pandas.read_xml() ?"
#### Is your feature request related to a problem?

I am using pandas lib to read xml for further processes, however a number of columns with leading ZERO are always converted to numbers, so I lost the original data.

#### Describe the solution you'd like

It would be great to add **dtype/converter** arguments for `pandas.read_xml()` to force pandas to interprete certain columns with given dtype/c

[2021-09-14 15:21] #43560 closed

[2021-09-14 15:36] asishm commented on #43563
maybe the documentation could be improved here, but with `.str.split` uses regex where `len(pat) > 1`

OR an enhancement to include a `regex=True` parameter as it exists for `str.replace`

https://github.com/pandas-dev/pandas/blob/0a9f9eed3e3eb7d5fa23cbc588e78b9bef915a89/pandas/core/strings/object_array.py#L311-L326

[2021-09-14 15:42] asishm commented on #43563
also see related : #37963

[2021-09-14 15:42] jorisvandenbossche opened #43568 "REGR: change in output of groupby.apply in 1.3.2 -> 1.3.3"
From https://github.com/dask/dask/issues/8137

One of the corner cases in groupby apply (discussed in other issues like https://github.com/pandas-dev/pandas/pull/34998) has changed behaviour:

[code]

In pandas 1.3.2 this gives:

[code]

while in pandas 1.3.3 it gives:

[code]

(note the difference in index)

[2021-09-14 16:35] #40855 closed

[2021-09-14 16:42] debnathshoham commented on #43232
Hi @LobRockyl - just checking if you're still working on this..

[2021-09-14 16:55] jorisvandenbossche commented on #43568
It seems this is caused by https://github.com/pandas-dev/pandas/pull/43054

[2021-09-14 19:28] andthewatersays commented on #25270
Hello !

I have the same problem than @jorisvandenbossche, and I do not understand what did you change @mroeschke in your script ... Could you explain it ?

Thank you !

[2021-09-14 19:50] mzeitlin11 commented on #43563
I like the idea of adding a `regex` arg since that would be consistent with `replace`. It feels arbitrary to choose whether or not to treat as a regex based on being a single character or not

[2021-09-14 19:55] mzeitlin11 commented on #43565
Thanks for reporting this @shulmaneyal! I think this falls under a similar category as #42664?

[2021-09-14 19:57] mzeitlin11 commented on #43567
Could maybe be added to #40131, cc @ParfaitG if any thoughts

[2021-09-14 19:58] michal-gh commented on #43540
@twoertwein, you are right that IncrementalDecoder deals with such cases; the only problem is that it's not invoked by the code :-). The `content.decode` method is `<function bytes.decode(encoding='utf-8', errors='strict')>`. When I changed `content.decode(self.encoding, errors=self.errors)` to `self.decoder.decode(content, final=False)`, the incremental decoder didn't raise the exception and corr

[2021-09-14 20:28] jbrockmendel commented on #40111
This _may_ be fixed in 2.0 when the string-inference behavior in maybe_infer_to_datetimelike deprecation is enforced.

[2021-09-14 21:36] #43483 closed

[2021-09-14 22:32] jbrockmendel commented on #43531
"regressions_first_commits": {
        "^tslibs\\.normalize\\.Normalize\\.time_normalize_i8_timestamps\\(10000, None\\)@1\\.3\\.x$": "1c38dfaa",
        "^tslibs\\.normalize\\.Normalize\\.time_normalize_i8_timestamps\\(10000, datetime\\.timezone\\(datetime\\.timedelta\\(seconds=3600\\)\\)\\)@1\\.3\\.x$": "1c38dfaa",
        "^tslibs\\.normalize\\.Normalize\\.time_normalize_i8_timestamps\\(10000, d

[2021-09-14 23:06] LobRockyl commented on #43232
Yeah was a lil caught up. Will raise a PR asap

[2021-09-14 23:07] tilusnet opened #43573 "BUILD: `doc/python make.py latex` fails to generate pdf documentation due to SVG files"
###

- [X] I have read the [installation guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#installing-pandas).

### Platform

Linux-5.4.0-84-generic-x86_64-with-debian-buster-sid

### Installation Method

Built from source

### pandas Version

1.3.2

### Python Version

3.8

### Installation Logs

Upon executing `python make.py latex` in `doc/` I get errors: the SVG

[2021-09-14 23:19] felciano opened #43574 "BUG: pivot_table produces NaT and FutureWarning on dataset with explicitly typed date-value field"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

When executing the `pivot_table` function with `margins=True` on a dat

[2021-09-14 23:43] twoertwein commented on #43540
@michal-gh Do you want to create a PR (and a separate PR for the UTF-8 special case)?

[2021-09-15 01:34] ParfaitG commented on #43567
Agreed! Good feature to add to running list. Also, `read_xml` passes parsed data to [`TextParser`](https://github.com/pandas-dev/pandas/blob/6161f67d1d5886838fa968e42158e675ac987970/pandas/io/parsers/readers.py#L1185) shared by other io readers.

[2021-09-15 02:58] rhshadrach commented on #43564
Thanks for reporting this, and agree with @MarcoGorelli - well written.

#6540 was asking for counts of the grouping columns, rather than the rest of the columns in the DataFrame. This is very much different from the request here. For #39938, while size was mentioned in the comments, this issue was closed because it lacked a reproducible example demonstrating the request.

In general I agree with

[2021-09-15 03:57] gsiano opened #43579 "ENH: rolling rank followups"
Followups from #43338

- [ ] tests for `groupy.rolling.rank`
- [ ] `dense` ranking method impl
- [ ] add `expanding` rank to asvs
- [ ] unify separate tiebreakers dicts in aggregations.pyx and algos.pyx: https://github.com/pandas-dev/pandas/pull/43338#discussion_r708248202

[2021-09-15 04:02] jbrockmendel commented on #43549
Better guess:

In MultiIndex.equals we have changed the way we construct self_values from

[code]

to

[code]

the latter is a DatetimeArray in this case, and np.asarray gets called on it in the array_equivalent call that follows.  As a result, np.asarray is being called on a _much_ larger array, so is much slower.

Option 1: construct self_values in something better-resembling the old version
Opt

[2021-09-15 04:37] david-cortes opened #43580 "DOC: `pd.Categorical` has undocumented `fastpath`"
###

- [X] I have checked that the issue still exists on the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Categorical.html#pandas.Categorical

### Documentation problem

Argument `fastpath` is not documented.

### Suggested fix for documentation

All argument

[2021-09-15 05:55] samukweku commented on #43580
@david-cortes will you be contributing the docs? Would love to c scenarios where fast path can be used. Thanks

[2021-09-15 06:32] shulmaneyal commented on #43565
Yes, as suggested I added the below line which solved the problem
`with pd.option_context("string_storage", "pyarrow"):`

Should we close the issue?

[2021-09-15 08:17] ehansis commented on #42934
It seems that this issue caused random SIGSEGV and SIGBUS in my code (MacOS,  pandas=1.1.4=py38hcf432d8_0 from conda_forge). Unfortunately, I cannot reproduce them in a minimal example. My code looks something like this:

[code]

This modifies the index, as described above. However, if I repeat the line
[code]
once more, the assignment sometimes works (apparently re-using the previous index values

[2021-09-15 08:26] KizhiFox opened #43581 "BUG: Get element from series of dtypes.value_counts() by index don't work most of times"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

I'm trying to get the number of columns of a particular data type. Thi

[2021-09-15 11:27] asishm commented on #43581
it's strange that some of those even work considering the values in the index are not strings but of type `np.dtype`.

[code]

[2021-09-15 11:36] ajdse opened #43582 "How to ensure monthly date ranges show month beginning dates instead of ending dates."
I don't know if there is a way to generate a date range with month beginning dates instead of month ending. I know I could use time delta to modify the DatetimeIndex that I obtain below. However, I was wondering if there is some argument that can be passed while creating the date_range instance.

See below:

freq='M')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',

[2021-09-15 12:24] vinodMS opened #43583 "BUG: pandas.read_sql missing table schema input"
This specific method wraps around the _read_sql_query_ and _read_sql_table_ methods, where _read_sql_ checks if the sql parameter contains a valid table name, if not it assumes that the sql parameter contains a sql query, hence it routes the request to _read_sql_query_.

I'm using a SQL Database, hence _read_sql_ uses [_SQLDatabase.has_table_](https://github.com/pandas-dev/pandas/blob/master/panda

[2021-09-15 12:25] samukweku commented on #43582
Maybe try MS for the freq

[2021-09-15 12:33] MarcoGorelli commented on #43582
Thanks @samukweku

@ajdse please ask usage questions on StackOverflow in the future, thanks 👍

[2021-09-15 12:33] #43582 closed

[2021-09-15 12:50] jreback commented on #38358
could be fixed by https://github.com/pandas-dev/pandas/pull/43578

cc @mzeitlin11 @jbrockmendel

[2021-09-15 13:22] KizhiFox commented on #43581
@asishm `dt[np.dtype('float64')]` works, thank you. That was mistake in my code.

So, can it be considered a problem that `dt['float64']` sometimes works, although it shouldn't? In this case, the above Pandas behavior is still a bug, albeit for the opposite reason.

I tried to calculate how often it works by running this program. It turned out that either it works every time, or never.

[code]

Th

[2021-09-15 15:06] cvargas-geo commented on #35497
Hi , how you change te Python versión ?

[2021-09-15 15:26] jbrockmendel commented on #38358
closed by #43578

[2021-09-15 15:26] #38358 closed

[2021-09-15 15:50] galipremsagar opened #43584 "ENH: `RangeIndex.sort_values` can avoid materialization of values."
#### Is your feature request related to a problem?

We can avoid the materialization of `RangeIndex` when `sort_values` is invoked on it. The reason being RangeIndex is always sorted.

#### Describe the solution you'd like

[code]

#### API breaking implications

This would break the expected return types of `Index` of `DataFrame` & `Series` in some operations, but would result in speedup of opera

[2021-09-15 15:53] galipremsagar commented on #43584
Note we already have this kind of behaviour to premptively avoid materialization in `DataFrame.sort_index`:

[code]

Hence requesting if we can make this behavior uniform across all APIs by incorporating it in `Index.sort_values`.

[2021-09-15 15:58] david-cortes commented on #43580
I'm not familiar with it, sorry.

[2021-09-15 16:17] kasmith11 commented on #36602
Hello @rhshadrach, I am looking to make my first contribution to open source/Pandas so I want to clarify what the aim is here. We want to take the note about User Defined Function (UDF) methods from here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html and add it to Groupby.apply as well?

[2021-09-15 16:19] artigupt commented on #43344
Since we are not using any regex properties, we do not need to include regex = True condition while using replace. We can simply use:
[code]
instead of
series2 = series.replace(regex_mapping, regex=True)

Let me know if this works for you!

[2021-09-15 18:15] vinodMS opened #43585 "BUG: pandas.read_sql missing table schema input"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

This specific method wraps around the _read_sql_query_ and _read_sql_t

[2021-09-15 18:15] vinodMS commented on #43583
created another bug using the form

[2021-09-15 18:15] #43583 closed

[2021-09-15 18:43] jreback opened #43586 "ASV / DEPR: remove deprecated usages if possible from asv's for pd.*Index types"
[code]

xref https://github.com/pandas-dev/pandas/pull/43028

cc @topper-123

[2021-09-15 19:20] jsignell opened #43587 "BUG: idxmax returns incorrect dtype when index is timestamp and skipna is False"
###

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the master branch of pandas.

### Reproducible Example

[code]

### Issue Description

In the last few days something was merged that changed the dtype of `i