[2020-03-11 14:34] #32622 closed

[2020-03-11 14:55] jbrockmendel commented on #31793
That looks like a bug in `tz_compare`

[2020-03-11 14:55] meizy commented on #32622
so, in your example, each index entry takes on average 48 bytes (I know it's not really like that, but that's the bottom line).
Is this reasonable?
I'd expect some overhead above the 8-bytes per Int64Index entry, but isn't this too much?

thanks

[2020-03-11 15:01] TomAugspurger commented on #32619
cc @mroeschke. I vaguely recall good reasons for them not comparing the same, but I don't recall them right now.

[2020-03-11 15:02] #31507 closed

[2020-03-11 15:08] jorisvandenbossche commented on #32585
I probably won't be able to make it to the meeting this time, but will try to add some comments in the notes.

[2020-03-11 15:32] ArtyomKaltovich commented on #31930
Hello all.

Just a small notification, that

[code]
doesn't work as workaround and produce an error

[code]

[2020-03-11 15:34] jorisvandenbossche commented on #32265
The SQL (at least PostgreSQL, SQLite) example is indeed not a very good example. For Postgres, although they support storing NaN, they don't support the operations that can create them, and they also deviate from the standard on how to treat them (eg in ordering, see https://www.postgresql.org/docs/9.1/datatype-numeric.html).
Now, there are also other (more modern?) SQL databases such as Clickhous

[2020-03-11 15:51] jbrockmendel commented on #32608
Strength of my opinion: I agree with Will, but wouldn't have brought it up on my own.

FWIW1: We have a total of 6 tests that pass `fill_value` to any of the DataFrame flex methods.

FWIW2: the place I've found this most troublesome is with complex dtypes, where numpy's behavior doesnt match the builtin complex. (xref #28050)

I think that is the idea, yes, on both.

Do we have an idea how often t

[2020-03-11 16:23] jfaleiro commented on #6772
This issue should not be closed since #28297 (what seems to address this bug) isn't closed.

[2020-03-11 16:39] adamhadani commented on #32486
👍  just ran into this myself. very dangerous silent failure..

[2020-03-11 16:50] sathyz commented on #29310
Hi joybhalla,
are you still working on this?

[2020-03-11 16:54] TomAugspurger commented on #32486
See also https://github.com/pandas-dev/pandas/issues/32470. Can anyone see if reverting the relevant changes in https://github.com/pandas-dev/pandas/commit/d6fe1940a5d7ea10624e1cc871a6eef13f32b382#diff-a37b395bed03f0404dec864a4529c97d (at least for write mode) is doable?

[2020-03-11 16:55] letapxad commented on #32593
take

[2020-03-11 16:57] cgohlke commented on #32056
I can reproduce the error. Numpy >= 1.16 work.
Strange. If I rebuild pandas 1.0.1 today from source with the same build script, I can import pandas with numpy 1.14.6 as expected...

[2020-03-11 16:59] nicholasyli opened #32632 "groupby nunique makes inplace replacement of NaN values to -9.223372036854776e18"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Using DataFrameGroupBy.nunique on a dataframe makes an inplace replacement of NaN values. Simply applying the function (and not assigning it to anything) will replace existing NaN's with -9223372036854775808.

There are two distinct issues:
1. There is some connection to issue #16674 in comparing NaN with -9223

[2020-03-11 17:48] pythonic2020 opened #32634 "pandas plotting - matplotlib 3.2.0 deprecation warning for rowNum/colNum attributes"
With pandas 1.0.1 and matplotlib 3.2.0 in a conda Python 3.7.6 environment, I'm getting warnings about deprecation of rowNum and colNum attributes when using some pandas plotting routines.

Environment:
[code]
Warnings:
[code]

The above warnings were generated when running this code:

[code]

and this code:

[code]
In both of the above cases, the plots did draw as expected.

[2020-03-11 18:07] MarcoGorelli commented on #32585
Trying to join to listen in but not managing, it just says "asking to join, you'll join the call when someone lets you in"

[2020-03-11 18:10] fpunny commented on #9314
take

[2020-03-11 18:12] mroeschke commented on #32619
I believe that `tz_compare` has this behavior because we are trying to guard against inadvertently coercing the user's timezone object to a pytz timezone object (which is our "default" internally) after certain operations. An example is https://github.com/pandas-dev/pandas/pull/23807

Nonetheless, I think OP's example should work and just return a new `Timestamp` with a `pytz.UTC` timezone object

[2020-03-11 18:14] mroeschke commented on #32632
Thanks for the report. I think this is the same issue as https://github.com/pandas-dev/pandas/issues/16674

[2020-03-11 18:15] MarcoGorelli commented on #32585
Got it now, but using the zoom link (https://meet.google.com/hav-rmax-zjx doesn't work for me)

[2020-03-11 18:19] mroeschke commented on #32619
I'd be -0.5 to allow UTC to accept non booleans as IMO it's idiomatic to use `tz_convert` after `to_datetime`

[code]

[2020-03-11 18:34] #31802 closed

[2020-03-11 18:55] nicholasyli commented on #32632
Apologies for not being clearer. I think the issues are related, but not quite the same. There are two issues here:

1) comparison of a NaN with -9223372036854775808. This is duplicated.
2) a groupby operation making a replacement _inplace_

The second issue here is not a duplicate.

[2020-03-11 19:00] simonjayhawkins commented on #32634
fixed in #32444

[2020-03-11 19:00] #32634 closed

[2020-03-11 19:05] TomAugspurger commented on #32585
Sorry @MarcoGorelli, I copy-pasted the wrong link for the video call.

[2020-03-11 19:05] #32585 closed

[2020-03-11 19:07] mroeschke commented on #32632
Thanks for clarifying. @nicholasyli Could you clarify the issue title and description highlighting the 2nd issue.

[2020-03-11 19:13] toddrme2178 commented on #31856
I have figured out at the very least that the issue only happens in numpy 1.18 and later.  Currently only numpy 1.14 is being tested on 32bit.  I have [expanded](https://github.com/pandas-dev/pandas/pull/32631) the 32bit tests to cover numpy 1.14, 1.15, 1.16, 1.17, 1.18, and master.  I don't think these should all be tested normally, but to catch these sorts of issues numpy dev might be tested on

[2020-03-11 19:13] nicholasyli commented on #32632
Thanks @mroeschke, hopefully that's clearer.

[2020-03-11 19:15] mroeschke commented on #32632
Perfect, thank you.

[2020-03-11 20:28] WillAyd commented on #13774
Outside of "closed systems" I think there is an established internet standard for JSON to be UTF-8. See section 8.1 in:

https://www.rfc-editor.org/info/rfc8259

Worth closing at this point?

[2020-03-11 21:00] leolovethewayyoulie commented on #21244
stata 16
I read this version to find out that its' encode is "ISO-8859-1"
I have already exported the dta to csv, and using encode worked.
But the problem with encoding in read_stata is "C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  """

[2020-03-11 21:01] jeremy-rutman commented on #32409
When I checked just now I get the following on both 0.25.3 and 1.0.1 versions of pandas, both versions being installed by pycharm (thus using `pip3 install pandas` and using master or whatever branch one gets when doing such).

[code]

[2020-03-11 21:21] yujund commented on #19136
I tried to convert the categoricalindex to index and it worked for me.
[code]

[2020-03-11 21:44] bashtage commented on #21244
Can you share the dta file so I can take a look?

On Wed, Mar 11, 2020, 21:00 leolovethewayyoulie <notifications@github.com>
wrote:

[2020-03-11 21:46] TomAugspurger commented on #32615
@SubhodeepSinha we recommend StackOverflow for usage question.

If you think there's a bug in pandas, we can reopen if you provide a minimal example. See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for how to write bug reports.

[2020-03-11 21:46] #32615 closed

[2020-03-11 21:51] #31925 closed

[2020-03-11 22:03] bashtage commented on #21244
FWIW   "ISO-8859-1" is latin-1.

[2020-03-11 22:04] leolovethewayyoulie commented on #21244
Sure, but since it is really heavy, I might send it through email, can I have your email, I will send with my csv as well.
Thank you so much

[2020-03-11 22:09] leolovethewayyoulie commented on #21244
Yeap, so what I'm trying to say is the dta file is encoded "latin-1" since the exported-csv file from this dta file can be read with encoded "ISO-8859-1". In another word, here is my situation:
+ a = pd.read_stata("E:\\file.dta", encoding = "ISO-8859-1") --> Dont work, result:"C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the 'encoding' keyword is deprecated and

[2020-03-11 22:11] TomAugspurger opened #32638 "_constructor and subclasses"
Followup to https://github.com/pandas-dev/pandas/issues/31925.

Over there, we removed `_ensure_type` because it broke things like

[code]

However, I don't think that example is very compelling. It's strange for MyDataFrame.reindex to return anything other than MyDataFrame. The root cause is MyDataFrame._constructor returning `DataFrame`, rather than `MyDataFrame`.

I think we should somehow get

[2020-03-11 22:15] #32308 closed

[2020-03-11 22:18] bashtage commented on #21244
You could share with dropbox or google drive as well to kevin.k.sheppard@gmail.com

[2020-03-11 22:22] dsaxton commented on #32632
I think was fixed on master by https://github.com/pandas-dev/pandas/pull/32175

[2020-03-11 22:31] mroeschke commented on #32632
Thanks for the catch @dsaxton. Does look fixed on master

[code]

[2020-03-11 22:31] #32632 closed

[2020-03-11 22:33] leolovethewayyoulie commented on #21244
I have sent you my data through drive
Thank you so much for your help!

[2020-03-11 22:37] dsaxton commented on #32614
I'm surprised this works at all since `None.isnumeric()` isn't valid. Should these methods just raise whenever not all values are strings?

[2020-03-11 22:59] bashtage commented on #21244
AFAICT pandas reads the file correctly. You get a warning that the file does not have the correct format.  This warning is correct since this is a stata DTA 118 file which must b utf-8 encoded per Stata's dta documentation. However, it is latin-1 encoded. This happens when an older dta file is loaded into Stata and then saved in 118 format.  If you think this should be fixed, you should contact St

[2020-03-11 23:00] bashtage commented on #21244
Works in pandas 1.0.1.

[2020-03-11 23:09] leolovethewayyoulie commented on #21244
Okie, I'll install pandas 1.0.1 to try
In the meantime, can you give me your command?
Thank you so much

[2020-03-11 23:15] bashtage commented on #21244
[code]

[2020-03-11 23:17] WillAyd commented on #32608
Yea I was thinking across the board deprecation

Maybe @TomAugspurger can offer more insight, but what use cases are there for this? Would have never thought to use this as a quasi-XOR fillna

Yes I think would make sense to do across the board if we wanted to do at all

[2020-03-11 23:17] leolovethewayyoulie commented on #21244
Haha, thank you so much dude,
since I install the newest version, it worked although it still has the warning but I guess it's alright @@
Thank you so much ❤️❤️❤️❤️❤️

[2020-03-11 23:21] jbrockmendel commented on #32608
Strength of my opinion: I agree with Will, but wouldn't have brought it up
on my own.

we deprecate that as well?

binary operators (mul, sub, ..)?

I think that is the idea, yes, on both.

Do we have an idea how often this is used?

On Wed, Mar 11, 2020 at 5:19 AM Tom Augspurger <notifications@github.com>
wrote:

[2020-03-11 23:36] jbrockmendel commented on #32638
If we were to go for option 2, why not just get rid of _constructor and use `type(self)` in the relevant places?  The important ones are _constructor_sliced and _constructor_expanddim

[2020-03-12 00:35] dsaxton commented on #32559
How about using something like `pd.date_range(..., closed="left")[1:]` (or simply omitting the date you don't want during construction)?

[2020-03-12 00:54] #23809 closed

[2020-03-12 00:54] joybhallaa commented on #29310
@sathyz yes !

[2020-03-12 02:26] #31971 closed

[2020-03-12 02:28] #32219 closed

[2020-03-12 02:32] #31777 closed

[2020-03-12 02:46] sathyz commented on #29102
take

[2020-03-12 03:23] qwhelan opened #32651 "DataFrame with Int64 columns casts to float64 with .max()/.min()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`pd.Int64` data is converted to `np.float64` in certain reduction operations on `pd.DataFrame`. This causes data corruption, as `pd.Int64` is intended to avoid this exact issue.

#### Expected Output
`df.max()` should probably return a `pd.Series` of `dtype='object'` wrapping a `pd.Int64` value.

#### Output of

[2020-03-12 04:47] #31270 closed

[2020-03-12 04:52] #11136 closed

[2020-03-12 04:57] #24975 closed

[2020-03-12 07:15] #32529 closed

[2020-03-12 07:20] jorisvandenbossche commented on #32651
This is expected for now (but not less wrong of course) given how it is implemented (by converting to float). This will be solved by something like https://github.com/pandas-dev/pandas/pull/30982 (but then for min/max)

[2020-03-12 07:28] jorisvandenbossche commented on #32638
I don't think we need to require this (we also don't require `_constructor` to be a class, it can be a constructor function).

When having a DataFrame subclass, not every operation in pandas necessarily needs to return that subclass, depending on your use case and characteristics of your subclass.
For example, in GeoPandas, an operation like reindex can remove the geometry column, in which case it

[2020-03-12 07:30] jorisvandenbossche commented on #32638
Whether to change the default (item 2), that might make sense (it seems a more sensible default, maybe).
But, that's also a breaking change, so if we want to change that, I would keep that for 2.0.

If we want to do larger changes on how this `_constructor` mechanism is working, I think we should also seek feedback of more people that are actually using subclasses.

[2020-03-12 08:47] chrispe92 commented on #32621
Hi, can I try to pick this up?

[2020-03-12 08:50] jorisvandenbossche commented on #32621
Yes, that would be welcome!

[2020-03-12 09:30] qwhelan commented on #32651
@jorisvandenbossche Thanks for confirmation and the pointer. I put up a PR that's a bit of a work in progress still, but I think I could probably get it working over the weekend.

[2020-03-12 09:46] tsoernes opened #32654 "Feature request: Allow the subset argument of dropna and drop_duplicates to take a single label"
This works:
[code]
But neither of these do:
[code]
all of which instead should be called with `subset=['My Col']`. I'm making a request for the three latter functions to allow the subset argument to take a single label.

[2020-03-12 10:20] MarcoGorelli commented on #30428
Closing as from this is currently intentional, and if 2-D extension arrays were added it would probably come from a different issue

[2020-03-12 10:20] #30428 closed

[2020-03-12 10:22] MarcoGorelli commented on #31647
Closed in #32231

[2020-03-12 10:22] #31647 closed

[2020-03-12 11:36] MarcoGorelli commented on #29279
Closing due to lack of minimal reproducible example, feel free to open if you write one

[2020-03-12 11:36] #29279 closed

[2020-03-12 11:39] norapap opened #32655 "Error in py_convert_pandas_df(x)"
#### Problem description
Hello!

I have a fresh Rstudio where i want to work with some data which come from python scripts. I try to use reticulate to source the following python script:

[code]

But when I call the following R code in Rstudio, I always got an error:
Browse[1]> reticulate::source_python(paste0(project_folder,"data.py"))
Error in py_convert_pandas_df(x) :
SystemError: <built-in met

[2020-03-12 11:51] TomAugspurger commented on #32655
That's probably an issue on the R side, right?

[2020-03-12 11:55] norapap commented on #32655
I'm not sure, because the traceback doesn't say much, I can only see that reticulate, numpy and pandas is involved in the error, and hoped, that somebody already met with this kind of problem

[2020-03-12 12:16] TomAugspurger commented on #32655
Not to my knowledge. I'd recommend starting in reticulate (assuming that `py_convert_pandas_df` is from reticulate). You might also try narrowing your script down. It seems like the problematic method call is `ndarray.item()` from NumPy, which pandas is calling as part of DataFrame.iteritems().

[2020-03-12 12:18] #31467 closed

[2020-03-12 13:17] TomAugspurger commented on #32415
I plan to tag 1.0.2 after https://github.com/pandas-dev/pandas/pull/32658 is merged and backported.

[2020-03-12 13:37] nicholasyli commented on #32632
Thanks all, sorry for missing the previous issue.

[2020-03-12 13:56] chrispe92 commented on #32621
So, here's a few things I've noticed so far:

- When the dtype of a `pd.Series` is defined as a string, then the nan values are converted to`pd.NA`.
- When a dictionary/list is used to define the replacements (see variable `rep` in the above example) a different function is called underneath to apply those replacements. That's why the version specified by @jorisvandenbossche is working fine.
- The

[2020-03-12 14:31] TomAugspurger commented on #32586
I went back through https://github.com/pandas-dev/pandas/pull/20361, but it isn't very illuminating. My early version used `_values_for_argsort`, but https://github.com/pandas-dev/pandas/pull/20361/commits/30941cb2afe36f3cd78801a2e046a4114773e107 changed it to `_values_for_factorize`. I think the main difference (aside from the return type including the NA value) is that the values in  `_values_fo

[2020-03-12 14:39] TomAugspurger commented on #32415
OK, starting the release.

[2020-03-12 15:21] tanglade22 commented on #32156
Same problem here, bug is due to non-existing column

[2020-03-12 16:22] jeremyliweishih commented on #31466
Another affected use case of this bug is calling `DataFrame.corrwith(y)` when `y` is a `Series` object as `corrwith` will invoke the `apply()` function as well!

[2020-03-12 16:56] hyamanieu opened #32663 "read_sql_query convert TEXT looking like floats to float"
#### Code Sample, you need to create a database with "float looking" strings.

[code]
returns
[code]
#### Problem description

I have a MySQL table with a column saved as datatype `TEXT`. These strings may be interpreted as floats because they contain only digits and dots. If I have the right filter happening, the query may return ONLY float-looking strings, meaning either looking like normal inte

[2020-03-12 17:33] mroeschke commented on #32316
https://github.com/pandas-dev/pandas/pull/32439 only fixed the references for `development/*.rst`

[2020-03-12 17:45] steve-the-bayesian opened #32664 "Please document expected behavior when default arguments are used."
This is a documentation request.

The docs for read_csv currently include the following:

index_col:
int, str, sequence of int / str, or False, default None
Column(s) to use as the row labels of the DataFrame, either given as string name or column index. If a sequence of int / str is given, a MultiIndex is used.

Note: index_col=False can be used to force pandas to not use the first column as the

[2020-03-12 18:28] SpectrumWings commented on #29268
take

[2020-03-12 19:40] chrisjcameron opened #32667 "Add index=False option to_markdown()"
#### Problem description

This is a feature request to add an optional `index=False` argument to the new `to_markdown()` dataframe method. This would produce a markdown table without the initial unnamed index column.

[2020-03-12 20:13] dsaxton commented on #32667
This is actually possible by passing `showindex=False`, but could probably be better documented (it's one of the `tabulate` kwargs):

[code]

[2020-03-12 21:45] eparizzi commented on #17019
What's the status of this?

I'm getting an error when trying to pd_read_csv from an URL with a non-standard port in it.

[2020-03-12 21:56] jbrockmendel commented on #32586
By my count we have 6 places left where we use `_ndarray_values`.  #32646 removes two, #32538 removes one, #32476 removes one, and #32641 deprecates one.  The last one I'll be making a PR for shortly.  Unless there is an objection, I'd like to get rid of _ndarray_values once we no longer use it.

That is referenced indirectly in the _values_for_factorize docstring, should probably be made explicit

[2020-03-12 22:10] jbrockmendel commented on #24555
I think this was fixed by a semi-recent PR that implemented DTI/TDI.where and always sets the resulting freq to None.

[2020-03-12 22:25] WillUdstrand commented on #25068
Any updates?

[2020-03-12 23:32] jreback commented on #17019
it’s an open issue, pull requests are always welcome

[2020-03-13 00:31] WillAyd commented on #32654
I see your argument but I think it’s actually problematic that the first one works. Not sure it’s worth expanding this behavior and might even lean towards deprecating passing a single string to “columns”

[2020-03-13 02:47] jbrockmendel opened #32673 "API: should values_for_factorize and _from_factorized round-trip missing values?"
(fixtures make this so much harder to give a copy/pasteable example)

[code]

Am I wrong in thinking this assertion should hold?  If we had a .equals method, i'd strengthen this assertion to `assert result.equals(data)`

cc @TomAugspurger @WillAyd

[2020-03-13 03:31] theSuiGenerisAakash commented on #29268
Is it out now?

[2020-03-13 03:43] Marsqueenlyy opened #32674 "why would you call it pandas?"
why would you guys call it pandas, just because you guys love panda?

[2020-03-13 05:43] mroeschke commented on #32674
Though a 3rd party site, has the correct information https://www.tutorialspoint.com/python_pandas/python_pandas_panel.htm

This issues tab is reserved for feature requests and issues with the library.

[2020-03-13 05:43] #32674 closed

[2020-03-13 06:36] KillerStrike17 opened #32675 "FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead. import pandas.util.testing as tm"
#### Problem description

Why am i getting this warning? i am just creating a dataframe using DataFrame function

#### Expected Output

#### Output of ``pd.show_versions()``

version is 1.0.1

[2020-03-13 08:29] tsoernes opened #32676 "Feature request: Allow `how` and `subset` arguments for `DataFrame.isna()` and `notna()`"
Something like this would be very useful, and would be consistent with the arguments of `DataFrame.dropna()`
[code]

[2020-03-13 10:02] peterpanmj commented on #32593
A very good example. It is related to an old issue #6945. When missing values and inf values appear in one Series, the ranks will be wrong. I've worked on it before. It seems that DataFrame rank still cannot handle it, might be a regression.

[2020-03-13 10:17] kdebrab commented on #32616
See also https://stackoverflow.com/a/56993025/1551810

[2020-03-13 11:19] achapkowski opened #32678 "to_pickle does not save accessor's properties"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The to_pickle/from_pickle does not pickle the state of the accessor object.
Even if the ```__getstate__``` and ```___setstate__``` are defined, they never get called.

#### Expected Output

The assert statement should be True, not False.  df1's url is None, where it should be a string.

[code]

#### Output of `

[2020-03-13 11:19] MomIsBestFriend commented on #32675
@KillerStrike17 Can you please add a minimal example?

[2020-03-13 11:32] jreback commented on #32678
accessors are dynamically created and are stateless.  i am not sure what you hope to accomplish with the above accessor

[2020-03-13 11:37] achapkowski commented on #32678
When you pickle an object it saves the state of the dataframe, so shouldn't that include any accessors?

[2020-03-13 11:39] jreback commented on #32678
sure if they were designed to be stateful

again what are you actually trying to do here?

[2020-03-13 11:48] achapkowski commented on #32678
I need to pull information into my accessor that is `metadata` about where the source dataset.  This can be things like author, data capture, methodologies, etc...   I figured doing a simple accessor to hold this information would be best, and it works if I don't `pickle` it.

What would I have to implement on the accessor or class to get it to pickle?

I had the `__getstate__` and `__setstate__`

[2020-03-13 12:15] TomAugspurger commented on #32673
I think that's the difference are the missing values. NA values (empty dict for JSONDtype I think?) are dropped.

[2020-03-13 12:26] MarcoGorelli commented on #32443
I'm seeing this too. I saved a file called `script.py` with the code you pasted, and then ran:

[code]

[2020-03-13 13:16] TomAugspurger commented on #32664
Can you submit a PR improving the documentation?

[2020-03-13 13:20] TomAugspurger commented on #32415
FYI, the last thing before we can upload to PyPI is the Windows wheels. @cgohlke do you know if you're able to build them for 1.0.2?

When https://github.com/MacPython/pandas-wheels/pull/74 is merged, windows wheels will be built as well. I wouldn't be surprised if we get issue reports from switching to those, but it'd be nice to have control of this stage too, rather than relying on Christoph's (

[2020-03-13 13:34] TomAugspurger commented on #32443
Interesting, thanks. NumPy dtypes are a bit strange, since I think the aren't always singletons, and different instances may hash differently. If you always use the same object, do you see inconsistences?

[code]

[2020-03-13 14:01] albertotb opened #32680 "`pandas.Index.slice_locs` when label not found"
#### Problem description

The documentation for `pandas.Index.slice_locs` does not specify what happens if the label(s) are not found. Internally it seems to be using `pandas.Index.get_slice_bound`, so maybe a reference to this method should be added.

Another thing that would be nice is if `pandas.Index.slice_locs` worked like `pandas.Index.get_loc`, where the method to find the index can be spec

[2020-03-13 14:16] jorisvandenbossche commented on #32586
@jbrockmendel thanks for gathering all those

Some additional, assorted thoughts about this aspect:

* `_values_for_factorize` works with NA sentinel (and I don't think the NA sentinel needs to sort correctly), while `_values_for_argsort` does not.
  Do we assume that missing values in argsort are smallest? At least in `sorting.py::nargsort`, we also still compute a mask, so there we don't make an

[2020-03-13 14:32] jorisvandenbossche commented on #32673
The `_from_factorized` implementation is clearly wrong:

https://github.com/pandas-dev/pandas/blob/059f9bff62d3bfe53eeece409b48b879abd1a3b1/pandas/tests/extension/json/array.py#L66-L68

it's indeed simply skipping missing values, instead of only not trying to convert them to a dict

[2020-03-13 14:55] jorisvandenbossche commented on #29752
Is there more feedback on my proposal in the comment just above (https://github.com/pandas-dev/pandas/issues/29752#issuecomment-579112054) to use "nullable dtype" in the context of the pandas documentation as meaning "dtype that uses NA as missing value indicator" ?

cc @pandas-dev/pandas-core

[2020-03-13 15:10] krysma opened #32682 "Add track_times flag for HDFStore put method"
When adding table to HDF using put method of HDFStore, it would be good to have option to set track_times flag used in pytables in method create_table. Thanks to this flag it is possible to stop tracking of times the file was changed. This is causing problems when versioning the HDF files and using checksums.

For this, it is necessary to propagate this flag from: https://github.com/pandas-dev/pan

[2020-03-13 15:21] MarcoGorelli commented on #32443
@TomAugspurger nope, with that I always get
[code]
as output

[2020-03-13 15:23] MarcoGorelli commented on #32654
For what it's worth, I would love to see that happen

[2020-03-13 15:26] MarcoGorelli commented on #32667
TBH I'm not sure it's worth documenting `tabulate`-specific kwargs, but adding an example showing the behaviour of `df.to_markdown(showindex=False)` would be nice.

@chrisjcameron are you interested in submitting a PR? If so, see the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started

[2020-03-13 15:27] krysma commented on #32682
How to reproduce:
`
# Run this python code to get sample h.5
import pandas as pd
df = pd.DataFrame([{"x": 1, "y": 1}, {"x": 2, "y": 2}, {"x": 3, "y":3}, {"x": 3, "y":4}])
hdf = pd.HDFStore("a.h5", mode="w")
hdf.put("table", df, format='table', data_columns=True)
hdf.close()
`
Once you have several files (2 is enough), check on their checksums:
`
sha256sum t.h5
`

Because of the time_track=True by

[2020-03-13 15:34] ArtyomKaltovich commented on #31930
Hello all.

Please review the PR I've submitted.

Regards,
Artyom.

[2020-03-13 16:33] simonjayhawkins commented on #29752
makes sense but would then may cause confusion with isnull which considers np.NaN, pd.NaT, None etc to be null.

[2020-03-13 17:12] TomAugspurger opened #32685 "Regression in artihmetic ops with alignment and special cases"
I think 1.0.2 has a regression in arithmetic when we align but the result of `op(a, NA)` isn't NA. For example 1**np.nan should be 1.

Previous

[code]

1.0.2 / master

[code]

Most likely from https://github.com/pandas-dev/pandas/pull/31679. cc @jbrockmendel if you have a chance to look (I won't today).

Are there any other special cases?

[2020-03-13 17:13] TomAugspurger commented on #32685
(this may warrant a somewhat hasty 1.0.3 release).

[2020-03-13 17:28] jreback commented on #32667
adding index=False here would be ok (and translating to tabulate)

PR welcome

[2020-03-13 18:17] jbrockmendel commented on #32673
BooleanArray also doesn't roundtrip:

[code]

[2020-03-13 18:28] jbrockmendel commented on #32685
#31679 promises to be a source of endless headaches

[2020-03-13 18:31] dsaxton commented on #32676
Since `DataFrame.isna` operates element-wise I'm not sure the concept of "how" is entirely appropriate here (also axis control would have to be added if we're now thinking row or column-wise). Why not chain together `isna` along with `any` or `all`?

[2020-03-13 18:33] sathyz commented on #28372
For the case you have discussed, here is the simplified version
[code]
What you are expecting is 0 in place of NaN, which can be achived by just passing `fill_value`  as

[code]

[2020-03-13 18:39] MomIsBestFriend commented on #26637
Does #31472 closes this issue?

[2020-03-13 18:40] gmavrom commented on #25449
Has there been any update on this issue? @matthiastns have you managed to resolve this?

Any help will be greatly appreciated!

[2020-03-13 18:49] IlyaOrson opened #32686 "Unable to store NaT in parquet format."
#### Code Sample

[code]

#### Problem description

The above gives me the following error:
<details>

</details>

I think this is an issue with pyarrow, I post here just for reference.

#### Expected Output

Parquet with null values mixed with date values.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------

[2020-03-13 18:58] IlyaOrson commented on #32686
I opened the issue in the pyarrow repo:
https://issues.apache.org/jira/browse/ARROW-8115

[2020-03-13 18:59] MillanSharma commented on #32515
take

[2020-03-13 19:03] bnaul commented on #16646
@TomAugspurger I'm not sure this was actually fixed along with #19437, I'm seeing the same issue on `1.0.1`:
[code]
If I understand the above comments correctly it seems that this should still be considered a bug (as opposed to unsupported behavior), right?

[2020-03-13 19:39] frispete opened #32689 "Tests fail on 32bit archs with Python 3.8 and pandas 1.0.2"
Apart from Test warnings noted [here](https://github.com/pandas-dev/pandas/issues/32628), we face plain test failures, that prevent packaging pandas for ix86 systems with Python 3.8.2 at least:

[code]

You can find the full build log [here](https://build.opensuse.org/build/home:frispete:branches:openSUSE:Factory/openSUSE_Tumbleweed/i586/python-pandas/_log)

[2020-03-13 19:45] TomAugspurger commented on #32689
Duplicate of https://github.com/pandas-dev/pandas/issues/31856 I think. If you're able to provide any guidance there we'd appreciate it. None of the devs is on a 32-bit machine.

[2020-03-13 19:45] #32689 closed

[2020-03-13 20:05] elmonsomiat commented on #32515
take

[2020-03-13 20:06] elmonsomiat commented on #32515
@MillanSharma there is a PR (https://github.com/pandas-dev/pandas/pull/32516) awaiting for approval for this issue

[2020-03-13 22:33] maartenb opened #32692 "PandasArray does not support slicing consistent with other array types"
#### Code Sample

[code]

#### Problem description

Currently PandasArray behaves differently then either the Series or or np.ndarray.
This causes a problem when passing the PandasArray to matplotlib for example.
PandasArray should implement this consistently like the other cases.

The output from above is:

<details>

[code]
</details>

#### Expected Output

<details>

[code]

</details>

#### Ou

[2020-03-13 23:11] jbrockmendel commented on #32685
i think this would be addressed by, instead of operating on `left.columns.intersection(right.columns)` also any columns in either that are numeric dtypes.

[2020-03-13 23:13] jreback commented on #32686
closing as this is all on the pyarrow side and an issue was opened

[2020-03-13 23:13] #32686 closed

[2020-03-13 23:18] jreback commented on #32678
maybe @TomAugspurger has a thought but we do not support stateful accessors

[2020-03-14 02:40] navankurverma opened #32696 "mean with skipna either True or False on groupby gives error"
#### Problem description

Using ``.mean(skipna = True)`` or ``.mean(skipna = False)`` on a ``groupby`` object gives error:
[code]
skipna is a crucial parameter while doing analysis. By default ``skipna = True``, so if not given explicitly results in expected output but if given explicitly either as True or False, returns error.

#### Code Sample:

[code]

#### Expected Output
with ``mean(skipna =

[2020-03-14 03:37] #32435 closed

[2020-03-14 04:00] steve-the-bayesian commented on #32664
I'll give it a go.  Full disclosure: I was looking at the docs to try to
understand what Pandas does in the default case.  I'll guess, but some
editorial work on your part may be required.  :)

On Fri, Mar 13, 2020 at 6:16 AM Tom Augspurger <notifications@github.com>
wrote:

[2020-03-14 04:25] steve-the-bayesian commented on #32664
I tried adding the following text: but I don't know how to PR into the
pandas github repo.

Here is my suggestion:

  The default value of ``None`` instructs pandas to guess.  If the number of
  fields in the column header row is equal to the number of fields in the
body
  of the data file, then a default index is used.  If it is one larger then
the
  first field is used as an index.

Please modif

[2020-03-14 06:28] MillanSharma commented on #31883
take

[2020-03-14 06:38] MillanSharma commented on #32493
take

[2020-03-14 06:54] MillanSharma commented on #32692
take

[2020-03-14 08:27] lzlarryli opened #32698 "to_sql erases timezone information"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This fails the round-trip expectation. In particular, `to_sql` erases the timezone information. The timezone information is useful in some applications. Otherwise the timestamp would probably not have timezone in the first place and UTC would be assumed and used everywhere. Note that this behavior is unexpected

[2020-03-14 08:46] pspeter commented on #32493
There's already a PR for this bug!

[2020-03-14 12:29] TomAugspurger commented on #32692
This is intentional Extension arrays are 1D, so slicing with a 2D indexer is invalid.

[2020-03-14 15:09] TomAugspurger commented on #32415
OK, all the wheels are built. I'm planning to upload to the wheels today. I think having a release with the fixed regressions is valuable, despite the regression in https://github.com/pandas-dev/pandas/issues/32685. And conda-forge is already out there.

[2020-03-14 15:30] maartenb commented on #32692
Well,  DatetimeArray, IntegerArray are ExtensionArrays too and do accept it.

I get that from a modeling perspective it makes sense, but it breaks matplotlib and possibly other packages relying on this behavior. I guess this originated from numpy.

[2020-03-14 15:36] lzlarryli commented on #32698
OK, sorry. I realized that this is a [postgres limitation](https://www.postgresql.org/docs/12/datatype-datetime.html#DATATYPE-TIMEZONES). From the doc,

[code]

Indeed, `INSERT` and `SELECT` round trip returns the wrong answer without pandas.

[2020-03-14 15:36] #32698 closed

[2020-03-14 15:58] roberthdevries commented on #22610
take

[2020-03-14 16:09] brandon-b-miller opened #32703 "DataFrame.merge behavior unclear when both indices and data columns are keys"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hello, I'm hoping someone here can clarify the behavior I'm seeing when merging dataframes using certain combinations of `left_index/right_index`, and `on`.

We can use `on` to specify a key that exists in both operands, or `left_on`/`right_on` if the keys are potentially named something different on each side.

[2020-03-14 16:15] jreback commented on #32703
there is an open issue about raising if both are specified if u can find / link

[2020-03-14 17:23] jreback opened #32705 "CI: azure pipelines are not in PRS"
cc @pandas-dev/pandas-core

[2020-03-14 17:25] jreback commented on #32705
last run on thursday: https://dev.azure.com/pandas-dev/pandas/_build

[2020-03-14 17:27] WillAyd commented on #32705
Any chance something shows wrong with our plan on the plugin?

https://github.com/marketplace/azure-pipelines

I don't see anything for pandas on that, but maybe an access thing

[2020-03-14 17:30] jreback commented on #32705
i deselected and reselected the plugin, let's see

[2020-03-14 17:31] jreback commented on #32705
ok was able to run on master (its queued). let's see

[2020-03-14 17:36] jreback commented on #32705
https://github.com/pandas-dev/pandas/pull/32697 just triggered, so let's see

[2020-03-14 17:55] datapythonista commented on #32705
I read on twitter that @seanlaw had problems with this yesterday, I guess it's an issue in Azure: https://twitter.com/seanmylaw/status/1238526293207023617

@vtbassmatt @chrispat do you know what's the problem on pipelines not starting for pull requests?

[2020-03-14 17:56] jreback commented on #32705
yeah so a manual runs seems to work, but its not triggering.

[2020-03-14 18:21] seanlaw commented on #32705
@datapythonista @jreback Not sure what you have inside of your [azure-pipelines.yml](https://github.com/TDAmeritrade/stumpy/blob/master/azure-pipelines.yml) but I ended up needing to explicitly add a PR trigger:

[code]

Previous to yesterday, it was enough to trigger CI with only:

[code]

I just checked and my own repo and submitted a PR and it triggered properly. Hope this helps.

[2020-03-14 18:26] datapythonista commented on #32705
Thanks for the info @seanlaw, let's give it a try (we didn't have any of these options).

[2020-03-14 18:27] datapythonista commented on #32705
Yep, looks like adding these pipelines is triggered, thanks!

[2020-03-14 18:31] seanlaw commented on #32705
Glad it worked out!

Not sure if I'm the only one who failed to read the docs but I learned from the Azure folks yesterday that you can also trigger pipeline runs by [commenting directly on PRs](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#comment-triggers): `/azp run`

[2020-03-14 19:05] datapythonista commented on #32705
That's very useful to know, thanks!

[2020-03-14 19:28] WillAyd commented on #32676
Thanks but for the sake of explicitness I am -1 on adding this. You should be able to do what @dsaxton suggests

[2020-03-14 19:30] #32705 closed

[2020-03-14 19:31] jbrockmendel commented on #27165
We're on the verge of having removed all usages of `_internal_get_values` with the exception of `Categorical._internal_get_values`, which is used in 7 places where it is actually needed.  Luckily most of those places are preceeded by a is_categorical_dtype check.

This leaves open a few questions:

- should we rename `Categorical._internal_get_values` to something more informative?
- For dt64tz it

[2020-03-14 19:37] WillAyd opened #32709 "Restore 32 Bit Linux CI"
Noticed in #32706 and temporarily disabled in a follow up #32708

[2020-03-14 20:31] #13658 closed

[2020-03-14 21:33] #32515 closed

[2020-03-14 21:39] jorisvandenbossche commented on #32692
On Index it is being deprecated (with your example above):

[code]

and the plan is to do the same for the other objects. Series is planned, see https://github.com/pandas-dev/pandas/issues/27837, but we might have overlooked the extension arrays, as we should probably do the same for those as well

[2020-03-15 00:15] jbrockmendel commented on #27165
@WillAyd it looks like objToJSON is calling _internal_get_values in `get_values`, isnt obvious to me which classes values are caught by that call.  any ideas?

[2020-03-15 00:17] json2d commented on #15276
You'd think that setting the `chunksize` parameter would be enough to make `to_sql` batch insert but nope.

[2020-03-15 00:37] #31488 closed

[2020-03-15 00:38] #32394 closed

[2020-03-15 00:41] WillAyd commented on #27165
It will be used for any object that has it defined. I think could just remove that though; I can't think of a situation off the top of my head where it should matter

[2020-03-15 00:41] #32582 closed

[2020-03-15 00:45] jreback commented on #32682
https://www.pytables.org/usersguide/libref/file_class.html?highlight=create_table#tables.File.create_table this flag *already* defaults to `True`. not sure if we would ever want to set it to false anyhow.

[2020-03-15 01:09] #21910 closed

[2020-03-15 02:19] ahull002 commented on #12210
Hello,

It has been a quite some time since this post received stimulation: do you know if this issue will be resolved. I ran into it tonight while trying to use pandas for a very large pivot table 25M observations. I am receiving the error: IndexError: index 993158425 is out of bounds for axis 0 with size 993157686

https://stackoverflow.com/questions/60688662/movie-matrix-df-pivot-tableindex-use

[2020-03-15 07:01] scarabeusiv opened #32717 "1.0.2 release is not on pypi"
As per $SUBJ the pypi contains just 1.0.1 release.
In openSUSE we validate all added archives against upstream ones and because of that the https://build.opensuse.org/request/show/784545 is now not acceptable :)

Could you please push the wheels/etc on pypi?

[2020-03-15 08:17] yotamgi opened #32719 "unexpected behavior in pd.to_datetime"
#### Code Sample

[code]
#### Problem description

The time at UTC-x timezone region should correspond to a +x shift at UTC+00 zones. The behavior of `pd.to_datetime` in this case is wrong, since it correspond to -x shift at UTC.

As opposed to the above, the following syntax *is* working as expected:
[code]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED

[2020-03-15 09:48] skasturi opened #32720 "Possible code improvement suggestion: Use `is not None` rather than bool() for None check"
#### Code Sample, a copy-pastable example if possible

While going through the code I observed at couple of places where `bool(o)` is being used to check whether the object `o` is `None`.

Example 1: https://github.com/pandas-dev/pandas/blob/6620dc67ded40c76e466c70027abd012898bbbb1/pandas/core/strings.py#L449
Example 2: https://github.com/pandas-dev/pandas/blob/6620dc67ded40c76e466c70027abd012898b

[2020-03-15 09:48] skasturi commented on #32720
... and I will be sending out a PR to fix this.

[2020-03-15 10:48] CharlesAuguste opened #32724 "Inconsistent behavior of rolling with missing value"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

In the above example, I would expect that rolling from one axis or transposing and rolling from the other axis give the same result. This is true when there is no missing value in the dataframe. However, here there is a missing value the value at position .loc[0, "B"] ends up being different.

In the first cas

[2020-03-15 11:20] immerrr commented on #8596
@theholy7 old-school numpy integers don't have NaN values, so the only option is to use a different dtype. Depending on the performance drop you can bear your options are:
- `dtype='object'` -- probably worst possible case, all values are stored as garbage collected PyObjects (consuming 28 bytes instead of 8) and no vectorization is possible
- `dtype='category'` -- all values are stored as integer

[2020-03-15 11:46] Zoynels opened #32727 "read_excel opimize nrows"
#### Code Sample

[code]
#### Problem description

Pandas has option toread only several rows of excel files.
But now it always read all rows and after pandas cut some part.
For example, file have 100 columns and 50k rows, but for test need only first 10 rows.
Now pandas will read to list all 50k rows which use memory and take too many time to read.

les this should explain **why** the current beh

[2020-03-15 12:50] jorisvandenbossche commented on #32415
@TomAugspurger Thanks a lot for doing the release!

Agreed we can do a 1.0.3 afterwards to include the new regression.

[2020-03-15 12:52] jreback commented on #32415
yep thanks @TomAugspurger awesome as always

[2020-03-15 14:07] #32720 closed

[2020-03-15 14:41] MarcoGorelli commented on #32717
Thanks - it's on now https://pypi.org/project/pandas/

[2020-03-15 14:41] #32717 closed

[2020-03-15 17:03] SaturnFromTitan commented on #32514
take

[2020-03-15 17:58] roberthdevries commented on #23784
Take

[2020-03-15 18:42] stefansimik commented on #12210
This causes problems on daily basis,
because pivot-table very frequently returns multi-index result
which fails on error with `margins=True` .

4 years is quite a long time and
it would be really great, if someone can help in fixing this.

[2020-03-15 18:57] charlesdong1991 opened #32732 "DOC: `contributing` page isn't rendered properly"
As shown below, seems contributing page is not rendered as correctly as other pages.

I am not sure if this is the good place to post this issue, or maybe should I post it on `pydata-bootstrap-sphinx-theme`?

![Screen Shot 2020-03-15 at 7 55 20 PM](https://user-images.githubusercontent.com/9269816/76708437-15633580-66f7-11ea-98b5-b900cc2feac7.png)

[2020-03-15 19:04] jreback commented on #12210
anyone is welcome to submit a PR

pandas is all volunteer and there are 3000+ issues open

[2020-03-15 19:05] SaturnFromTitan commented on #32543
take

[2020-03-15 20:12] nrebena commented on #26558
Ok, going further on this, the culprit is the way we join multiindex.
Here a miminal example of the bug:
[code]
Here we can see that one of the indexers for multiindex is wrong.
I will submit a PR shortly :crossed_fingers:

[2020-03-15 20:50] TomAugspurger commented on #32415
Released on PyPI now.

[2020-03-15 20:51] #32415 closed

[2020-03-15 22:13] smartvinnetou commented on #29547
Hi, I started looking at pandas/core/generic.py and quickly realised that changing the string templates from a string interpolated with `%` to a `string.Template` will require changes in many places where `Substitute`+`Appender` decorators are used.

Do you aim to remove all usage of `%` string interpolation, in which case this work will be necessary, or are you ok with some use of `%` interpolati

[2020-03-15 22:22] tdpetrou opened #32738 "DataFrame.plot docstring missing a few parameters"
Looking at the [plot accessor docstring][1], it's missing

* `ax`
* `subplots`
* `sharex`
* `sharey`
* `secondary_y`
* `sort_columns`

Maybe others.

Also would be nice to have documentation of all parameters for all the accessor methods i.e. `df.plot.bar`.

[1]: https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_core.py#L579

[2020-03-15 23:07] jorisvandenbossche commented on #32732
This is tracked in the theme: https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/issues/118 (and https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/issues/125), and the fix is needed there, not here.
But let's keep it open for now until it actually fixed (we might want to rebuild the 1.0.2 docs with a fix).

[2020-03-15 23:44] irishun commented on #3441
I have met the same error. Has anyone solved this issue?

[2020-03-15 23:50] stefansimik commented on #12210
I will try to start (at least) and hopefully with some help we can fix this.
I hope it cannot be so hard ;)

Just quick check, if I am on good path to solution:
- I would like to check and fix method: ` _add_margins`
- https://github.com/pandas-dev/pandas/blob/e5cd7b161db990e5be3cc55646ef41b1e1492416/pandas/core/reshape/pivot.py#L191

Is it best first place to start looking for problem and fixing

[2020-03-15 23:56] andrewcooke opened #32740 "Reindexing two tz-aware (UTC) indices gives 'DatetimeArray subtraction must have the same timezones or no timezones'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Output is:
[code]

The problem is that I don't see how to reindex and / or the error message appears to be nonsensical since both have UTC timezones.

#### Expected Output

With 0.25.3 I see:
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this li

[2020-03-16 00:33] AMR-KELEG opened #32741 "Strange behavior on saving a dataframe containing = at the start of a cell value"
[code]
#### Problem description
Excel sheets interpret an `=` sign at the start of the cell as a signal for writing equations. If a column contains text data where one of the values start with `=` then the values are corrupted after saving the dataframe to an excel sheet.

#### Expected Output
[code]

#### Output after loading the exported xlsx sheet
[code]
#### Output of ``pd.show_versions()``

<

[2020-03-16 01:37] #23877 closed

[2020-03-16 02:21] #28071 closed

[2020-03-16 02:30] #32493 closed

[2020-03-16 05:26] Boblorde opened #32742 "Remove the observations with 0 entries."
import pandas as pd

battle = pd.read_csv('battledeath_1.csv', low_memory = False)

battle_without_duplicate = battle.drop_duplicates()

I have dropped the duplicates in the original csv file but now i am asked to delete the entries that have zero in its values. They are just 2 columns, one being the name of the country and the other being the value in it. I need help in taking out the rows with z

[2020-03-16 06:45] mroeschke commented on #32742
For usage questions, we recommend using Stack Overflow.

This forum is for bugs with the library or enhancement requests

[2020-03-16 06:45] #32742 closed

[2020-03-16 09:24] simonjayhawkins commented on #32423
did #32425 close this?

[2020-03-16 09:30] #17854 closed

[2020-03-16 09:50] ghost opened #32745 "Unable to write dataframe to csv via hdfs_client using pandas 1.0.1"
I am trying to save a data frame to csv using the method df.to_csv(writer) by passing hdfs_client's writer but it is throwing an error
"ValueError: Invalid file path or buffer object type: <class 'hdfs.util.AsyncWriter'>"
Code:
[code]
The issue was also mentioned in https://github.com/pandas-dev/pandas/issues/21560
Error:
[code]

[2020-03-16 10:08] kernc commented on #32423
@simonjayhawkins It should have, thanks.

[2020-03-16 10:08] #32423 closed

[2020-03-16 11:51] MomIsBestFriend commented on #29547
@smartvinnetou When it comes to the ```Appender``` and ```Substitute``` we are now trying to replace those with the ```doc``` decorator. see https://github.com/pandas-dev/pandas/issues/31942

[2020-03-16 12:57] jorisvandenbossche opened #32747 "BUG: Regression in assert_frame_equal check_dtype for extension dtypes"
Consider this small example of two DataFrames, one with an Int64 extension dtype, the other with the same values but object dtype:

[code]

With pandas 1.0.1, this passes `assert_frame_equal` with the `check_dtype=False`:

[code]

but with master (since https://github.com/pandas-dev/pandas/pull/32570, see my comment there, cc @jbrockmendel), this fails:

[code]

[2020-03-16 13:20] TomAugspurger opened #32748 "DOC: What release version do we want in the header?"
I think this has come up before, but which whatsnew document, if any, do we want to link from the header? The "What's New in 1.0.1" in the screenshot below.

<img width="454" alt="Screen Shot 2020-03-16 at 8 16 42 AM" src="https://user-images.githubusercontent.com/1312546/76762092-a15c7800-675e-11ea-864e-11978f436b86.png">

Choices

1. Latest release (e.g. 1.0.2)
2. Last major release (e.g. 1.0.0)

[2020-03-16 13:21] jorisvandenbossche opened #32749 "BUG: regression in error raised by idxmin/idxmax for extension dtypes"
With pandas 1.0.1:

[code]

Now with master you get:

[code]

@jbrockmendel this is from no longer using `values_from_object`, but passing `_values` to the nanops function, while this expects to always receive an ndarray

[2020-03-16 13:28] TomAugspurger opened #32751 "RLS: 1.0.3"
I'd like to release 1.0.3 somewhat soon, primarily motivated by https://github.com/pandas-dev/pandas/issues/32685 (which has an open PR with a fix).

Can we target tomorrow, Tuesday the 17th? If there are other regression fixes to include, ping me on them or post their issue numbers here.

---

I have a bit of free time today and tomorrow, so I might merge https://github.com/MacPython/pandas-wheel

[2020-03-16 13:29] TomAugspurger commented on #32745
This may be a duplicate of https://github.com/pandas-dev/pandas/issues/31819. Can you try with pandas 1.0.2?

[2020-03-16 13:37] jorisvandenbossche commented on #26410
I see you deprecated `Categorical.to_dense` (https://github.com/pandas-dev/pandas/pull/32639).

I was just thinking, if we find `to_dense` the best name for this "get densified values" (I am not yet fully sure about it, but I also can't think of a better alternative), we can actually keep the method but only deprecate the default behaviour.

More specifically, we could introduce a new keyword to g

[2020-03-16 13:43] simonjayhawkins commented on #32751
sure these have been mentioned before. we have two minor issues with the patch release

whats new link...

![image](https://user-images.githubusercontent.com/13159005/76763970-f662b300-678b-11ea-9f4d-05d7ac5d7032.png)

and release order for 1.0.x, https://pandas.pydata.org/docs/whatsnew/index.html#release

[2020-03-16 13:58] simonjayhawkins commented on #32751
minor patch for whatsnew...

[code]

also inconsistent repr of pd.NA in whatsnew. pd.NA, NA, and pandas.NA used. do we have a preference?

[2020-03-16 14:47] TomAugspurger commented on #32751
https://github.com/pandas-dev/pandas/issues/32748 for the issue with the whatsnew link.

I fixed the order of the whatsnew links in the backport adding v1.0.3.rst.

[2020-03-16 14:53] ahull002 commented on #12210
Hi Stefan,

I think you are the right page. I think the issue is a scaling issue when massive amounts of data is applied.

I think taking a test set i.e. here:

https://stackoverflow.com/questions/60688662/indexerror-using-pandas-pivot-table-method?noredirect=1#comment107375122_60688662

Using the MovieLens dataset 25M it seems at some point between the 1M and 25M set pandas has a limit on what th

[2020-03-16 15:05] jbrockmendel commented on #32749
sounds like a 2-liner to check for non-ndarray and raise the old exception?

[2020-03-16 15:10] jorisvandenbossche commented on #32749
Maybe not necessarily, you might have EAs that can be converted to numerical ndarrays?

[2020-03-16 15:48] TomAugspurger commented on #32678
This is outside our intended usecase for accessors.

It sounds like the .attrs attribute is what you want.

[2020-03-16 15:55] jbrockmendel commented on #32749
Should values_for_argsort work for that?

[2020-03-16 16:00] pspeter commented on #32493
Thanks @mikekutzma! :)

[2020-03-16 16:09] achapkowski commented on #32678
`attrs` says it's experimental.  Is this slated to be a full feature in a near release?

[2020-03-16 16:55] #32144 closed

[2020-03-16 16:56] tsoernes opened #32755 "Request: Better error message for missing columns in aggregate"
When attempting to aggregate a non-existing column, this error is raised, which is not very descriptive: `SpecificationError: nested renamer is not supported`
[code]

[2020-03-16 18:05] dsaxton commented on #32747
@jorisvandenbossche I may be misunderstanding this function, but shouldn't these be _and_ and not _or_ statements if we're to respect `check_dtype`?

https://github.com/pandas-dev/pandas/blob/master/pandas/_testing.py#L1172
https://github.com/pandas-dev/pandas/blob/master/pandas/_testing.py#L1162

If so I think this might also be a bug:

[code]

[2020-03-16 18:33] jorisvandenbossche commented on #32747
Yes, that was also my conclusion at https://github.com/pandas-dev/pandas/pull/32570#discussion_r392370458

[2020-03-16 20:59] TomAugspurger commented on #32719
cc @mroeschke.

[2020-03-16 20:59] TomAugspurger commented on #32709
Any details on what went wrong? (azure pipelines deletes their logs fairly quickly)

[2020-03-16 21:08] WillAyd commented on #32709
Not able to check right now but IIRC correctly was an internal error with the environment itself. The tests themselves never got to running

Sent from my iPhone

[2020-03-16 21:12] smartvinnetou commented on #29547
@MomIsBestFriend do you prefer to skip the upgrade of ` pandas/core/generic.py` in this ticket and do it under #31942 ? Or should I replace `Appender` and `Subtitute` decorators in `generic.py` with your new  `doc` decorator under this ticket to remove the old `%` interpolation?

[2020-03-16 21:22] joooeey opened #32759 "keyword stacked for bar plots not documented anywhere."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

There is a keyword argument to create a stacked bar graph. This kwarg is not documented anywhere in the Pandas documentation.

#### Expected Output

The documentations for the methods `df.plot.bar` and `df.plot` should include a description of the kwd `stacked`

#### Version

Pandas 1.0.1

[2020-03-16 21:28] mroeschke commented on #32719
We dispatch to dateutil for parsing this timezone format, so we're carrying over this behavior.

[code]

IIRC this is the correct behavior as I've seen this issue come up before, but if you believe the behavior is still incorrect, it would be an issue with dateutil

[2020-03-16 21:28] #32719 closed

[2020-03-16 21:46] TomAugspurger opened #32760 "pandas.test() produces many PytestUnknownMarkWarning"
For example

[code]

Has many warnings like

[code]

We register these: https://github.com/pandas-dev/pandas/blob/5da500af76d0031021a8e906d8f34dc3e6ded234/setup.cfg#L56-L62. But the setup.cfg is perhaps not included with the distribution, and so the registered marks aren't available perhaps? Is there anyone more familiar with pytest who knows what we should be doing here?

[2020-03-16 22:23] WillAyd commented on #32709
Here is the actual failure for now:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=30621&view=logs&j=9d5147b6-7a88-5254-4bdd-57f573fc8952&t=73bf654c-d85c-5eee-993f-c67991c083d2&l=240

[2020-03-16 22:24] WillAyd commented on #32709
[code]

[2020-03-16 22:25] WillAyd commented on #32760
Hmm this might be important for mypy as well as all of our config is contained in that file. Maybe we *should* just distribute that with the package?

[2020-03-16 22:28] bcbrock opened #32761 "Rolling mean on a time-based period with one data point does not return the exact mean"
First, thank you all for creating and maintaining this package, and for the obvious care that has gone into the numerical analysis of the `rolling` methods.

#### Code Sample, a copy-pastable example if possible

[code]
Result

[code]
#### Problem description

In the example above I show a rolling mean over a 1-minute window, but the final point jumps ahead by one day. Since this is the only point

[2020-03-16 22:32] MislavSag opened #32762 "TypeError: searchsorted requires compatible dtype or scalar, not Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I want to apply `searchsorted` function to df index:
`df.index.searchsorted(pd.Series(np.array([df.index[0], df.index.max()])))`
but it returns an error:

Why it doesn't find the nearest datetimeindex in time? I think this works with older versions of pandas.

I use the lastest version of pandas (1.0.3.)

[2020-03-16 22:34] #32543 closed

[2020-03-16 22:57] TomAugspurger commented on #32760
I'm not sure that distributing the setup.cfg is an option. It's not clear where it would be placed (it's not in the `pandas` package source directory), and I don't know how we would get pytest to read it. It seems like if we want users to have these marks, we'd need to treat them like a custom plugin: https://docs.pytest.org/en/latest/writing_plugins.html#registering-custom-markers

[2020-03-17 00:03] #31251 closed

[2020-03-17 01:34] #31710 closed

[2020-03-17 01:43] tacaswell opened #32766 "pandas does not import with cpython master"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[code]

[code]

It looks like this is due to https://github.com/python/cpython/pull/9605 / https://bugs.python.org/issue34822 and needs to be sorted for py39

[2020-03-17 02:38] #32503 closed

[2020-03-17 03:19] jbrockmendel commented on #32553
I cant reproduce this on master.  Can you give it a try?

[2020-03-17 07:01] KillerStrike17 commented on #32675
hey, i just checked in my code, i was using dataframe of dask array, so i guess those guys need to update their library.

[2020-03-17 07:01] KillerStrike17 commented on #32675
So I am closing it, thanks for your time..

[2020-03-17 07:01] #32675 closed

[2020-03-17 07:54] jorisvandenbossche commented on #32749
I suppose so? I suppose if argsort works on the values, also argmin/argmax should do?

[2020-03-17 08:02] MomIsBestFriend commented on #29547
@smartvinnetou Under #31942 in the case of ```pandas/core/generic.py``` (If I understood correctly)

[2020-03-17 08:02] SaturnFromTitan commented on #31989
Looking into this right now and pondering on

Adding such text markers is always an indicator for too large files. Instead, I suggest to create a directory `_conftest` with files:
- `conftest_dtypes.py`
- `conftest_autouse.py`
- ...
- `__init__.py` (`*` importing everything from the other files)

and then use a simple `from pandas._conftest import *` in `pandas/conftest.py`.

What do you think @jr

[2020-03-17 08:11] jorisvandenbossche commented on #31989
I am slightly -1 on splitting conftest.py for now. It's already magical how fixtures get used and thus hard to know where they are defined. Splitting makes that even harder IMO (now, at some point it probably gets unavoidable, but right now I am not sure conftest.py is already annoyingly long)

[2020-03-17 08:23] yotamgi commented on #32719
I noticed that indeed this is the expected behavior of the `dateutil` module, as written in this [bug](https://bugs.launchpad.net/dateutil/+bug/1056186). This is truly peculiar to me though, as it seems like the exact opposite of what you would expect.

Anyway, thanks for the answer.

[2020-03-17 09:17] vinithg commented on #32745
Hi @TomAugspurger ,
It is not working with pandas 1.0.2.

[2020-03-17 09:55] hyamanieu commented on #32663
I have found the culprit: a much older version of mysql connector (2.0.4) gave the right results. The newest produce the bug (8.0).

[2020-03-17 09:55] #32663 closed

[2020-03-17 09:59] simonjayhawkins commented on #31989
agree with @jorisvandenbossche for now. adding sections to conftest.py to address https://github.com/pandas-dev/pandas/pull/31701#discussion_r379705368 may help make the case for splitting in the future

[2020-03-17 11:54] jreback commented on #31989
+1 in adding commented sections but agree split not needed yet

[2020-03-17 12:08] simonjayhawkins opened #32773 "DISC: Internal Docstrings"
We currently have guidelines/checks for docstrings https://pandas.pydata.org/docs/development/contributing_docstring.html  for the api facing methods/functions following the numpydoc docstring guide https://numpydoc.readthedocs.io/en/latest/format.html. since we also use sphinx for building the documentation.

Many of our internal functions don't have docstrings and this could be a barrier to new

[2020-03-17 12:08] simonjayhawkins commented on #32773
To start the discussion, I propose that we adopt google style guide for internal docstrings/code comments. http://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings

We could also considering using pydocstyle pydocstylehttp://www.pydocstyle.org/en/latest/ to validate docstrings against this style. (although may involve technically difficulties having two standards)

[2020-03-17 12:44] jorisvandenbossche commented on #32773
What aspect of the google style guide do you propose to adopt? Or the full section about docstring comments? If that is the case, I don't really see why we would start using a different format to document parameters for internal functions vs public functions.

[2020-03-17 13:14] filipporemonato opened #32774 "pd.to_datetime does not work."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am importing a .csv file taken from the local meteorological data service.
The file contains data such as "humidity", "temperature", etc. together with a "dateutc" containing the timestamp of the data sample.

Pandas does not recognise the format immediately, so I explicitly call ```to_datetime```, but it doe

[2020-03-17 13:14] simonjayhawkins commented on #32773
The driver for adopting a different format, would be primarily to make it easier to have code checks for docstring coverage/quality for all of the codebase not just the public api. Is it feasible to use the current validation on all docstrings?

The google style also includes styles for module docstrings and pydocstyle allows these to be validated.

With the introduction of type annotations, havin

[2020-03-17 13:22] gitPrinz commented on #6963
I understand, it is not easy to fix?
Because we don't know how to order the columns?
I don't get it really, but i can image it is a problem.

Could there maybe be at least an Exception with a helpful message?

I stumbled on it today and took some time to understand the problem.
And [others](https://stackoverflow.com/questions/53853826/concat-two-dataframes-with-duplicated-index-that-are-in-datetim

[2020-03-17 14:04] immerrr commented on #6963
Notificactions keep bringing me here :) I haven't touched pandas codebase for a while, so take my 2¢ with a grain of salt.

I agree with that: they are fragile and unreliable. And as a maintainer of other projects I get the sentiment of not adding stuff unless really necessary, even if it is conceptual stuff, like "in case of indexing non-unique indexes with non-unique indexer _(re-reading this se

[2020-03-17 14:05] simonjayhawkins commented on #32773
I would like the outcome of this discussion to be either the current "pandas docstring guide" renamed "pandas api docstring guide" with a second, much more lightweight guide..  "pandas internal docstring guide" or rewrite the current guide to acknowledge the distinction. https://github.com/pandas-dev/pandas/pull/32033#issuecomment-592517783

[2020-03-17 14:08] simonjayhawkins commented on #32773
adopting "section 3.8 Comments and Docstrings" in it's entirety means that "pandas internal docstring guide" is effectively already written with pydocstyle providing the validation.

[2020-03-17 14:51] Mereep opened #32776 "Crash with access violation (exit code -1073741819 (0xC0000005)) on Windows 10"
[code]
Short:
[code]
#### Problem description
Problem was caused in my case by having an additional comma at the end of a line that caused
a list of dicts being a tuple of list of dicts which caused that behaviour.

Althought the argument should not be accepted by Pandas, Pandas should raise an appropriate Exception instead of tearing Python down.

[2020-03-17 15:41] #32685 closed

[2020-03-17 15:52] mroeschke commented on #32774
I believe you are encountering this, which was a documented API change https://pandas.pydata.org/docs/whatsnew/v0.24.0.html#parsing-datetime-strings-with-timezone-offsets

[2020-03-17 15:52] #32774 closed

[2020-03-17 16:04] filipporemonato commented on #32774
Hi @mroeschke , thank you for the reply.
as it is now I unfortunately disagree with you.

My problem does not reside in timezones being converted to UTC or not.
In the page you link, as you can see after each use of ```to_datetime``` the type is correctly changed to ```dtype='datetime64```. In my code above, the code remains ```object```.

I hope this clarifies the question, even though I never me

[2020-03-17 16:12] mroeschke commented on #32774
In the link above, there is a mention that:

[code]

And since your dates range from 2018-2019 with utc offsets (`+02` as visible), I am assuming your date range may have crossed DST where the UTC offsets have changed (some dates may also have (`+1` or `+3`).

Nonetheless, if you could provide a more minimal reproducible example, it would help with investigation: https://matthewrocklin.com/blog/wo

[2020-03-17 16:19] filipporemonato commented on #32774
@mroeschke Thank you very much, that clarifies much more. I missed that explanation on my read-through. Then I agree with you.
Unfortunatley I have tried making a functioning mwe but the dataset is very large and I could not share it easily, and of course without understanding what the problem was it was hard to create something manually. Thank you for your help.

[2020-03-17 16:30] WillySong commented on #32072
Hey, @Liam3851 are you still working on this issue? If not could you please release it as my team is interested in implementing it.

[2020-03-17 16:37] WillySong commented on #32072
take

[2020-03-17 16:41] TomAugspurger commented on #32751
Planning to release 1.03 later today.

This will be the first release using the new wheel building setup, so we may see reports about that.

[2020-03-17 17:17] mfenner1 commented on #23191
In a similar vein:

[code]
Much of this might apply to `np.logical_and` as well (and the other `bitwise_` and `logical_` operators/functions).

[2020-03-17 17:50] jbrockmendel commented on #32776
Can you try this on a newer version of pandas?

[2020-03-17 18:41] jbrockmendel commented on #32773
Would it be viable to maintain a single standard and gradually expand it to more files/functions?

[2020-03-17 18:48] joybhallaa commented on #29310
@sathyz feel free to take this issue !

[2020-03-17 19:04] R4HMATT commented on #28925
take

[2020-03-17 19:10] simonjayhawkins commented on #32773
I opened this issue primarily in order to improve coverage, so my motivation is to achieve greater breadth rather than depth. I therefore feel that having a more lightweight standard is more likely to achieve that goal.

I do see issues with having a different standard and therefore opened the discussion with the google suggestion for feedback. I see some middle ground with the single standard app

[2020-03-17 19:14] jbrockmendel commented on #32773
I'm not sure I understand the distinction.  Can you give an example?

This relates to a topic I've been thinking about: should we treat annotations as "this is what you _should_ pass" or "you can safely assume that this is what _is_ passed"?  e.g. in core.indexing we do the latter

[2020-03-17 19:21] jbrockmendel commented on #32673
is there concensus that the answer to the original question is "yes"?

[2020-03-17 19:23] simonjayhawkins commented on #32773
[code]
vs

[code]

I think that time/effort creating/reviewing docstings for functions that are less complex/more obvious would be better spent on more complex/less obvious functions.

A more lightweight standard would hopefully reduce the time/effort creating/reviewing docstrings.

[2020-03-17 19:30] simonjayhawkins commented on #32773
There's also another.. "this is what you _could_ pass".

When I'm adding annotations, i go though the function and the inputs of the functions called to try and establish what types are acceptable.

I think there maybe some merit in being more restrictive on the type accepted, i.e. _should_ pass.

This is not the place for that discussion though. If there is not already an issue for this, maybe we

[2020-03-17 19:32] simonjayhawkins commented on #32773
that is effectively what MonkeyType does. https://pypi.org/project/MonkeyType/

[2020-03-17 19:33] #32747 closed

[2020-03-17 19:34] jbrockmendel commented on #32264
Looks like there are a couple of places in _libs.tslibs.parsing where things are typed as `str` so choking on np.str_.  This has been a PITA elsewhere because `isinstance(value, str)` evalutes to True in python-space.

3 options come to mind:
- make a fused type for str +np.str_ and update types in parsing.pyx
- add a check in parse_datetime_string for np.str_ and cast if necessary
- try to get nu

[2020-03-17 19:38] jbrockmendel commented on #31903
`Index.__getitem__` no longer uses _shallow_copy_with_infer.  Are there other optimizations you had in mind?

[2020-03-17 20:04] jorisvandenbossche commented on #32773
First, I am -1 on using a different (conflicting) style guide for internal docstrings than for external ones. I personally don't see the advantage of that.

That's a valid concern, but how does that relate to the styling of the docstrings? Because you have the feeling that with numpydoc style too much time goes to formatting details? And with google style this would be less?

Note that with numpyd

[2020-03-17 20:06] simonjayhawkins opened #32785 "DISC: use of typing.cast"
placeholder to address https://github.com/pandas-dev/pandas/pull/32730#discussion_r393485655

[2020-03-17 20:22] jorisvandenbossche commented on #32673
That's not a fully correct example. If you do an actual factorize in the meantime, the missing values (encoded as -1) are not included.

And, so my comment above about JSONArray was not fully correct: it can skip NAs, as right now NAs are never present in `_from_factorized` *in practice* (since we only call `_from_factorized` after factorize, which always drops missing values)

[2020-03-17 20:24] jorisvandenbossche commented on #32673
I think this is clearly the case, yes, for *valid values* (that's the whole point of `_values_for_factorize` / `_from_factorized` combo).
But I think the actual question is if we also want / need to enforce this for *missing values*.

Purely for the `factorize` case we don't need that (I think), but if we want to use `_values_for_factorize` / `_from_factorized` for more general purposes, we might

[2020-03-17 20:28] simonjayhawkins commented on #32773
mainly just against the formatting of args requiring types and conforming to the numpydoc type notation which is a different standard to the python typing notation used for type annotations.

That's basically the aim of this issue and what i'd like to get consensus agreement on. A more lightweight standard. i.e. not to need to meet all the requirements of numpydoc for an internal docstring. (to ap

[2020-03-17 20:35] jorisvandenbossche commented on #32773
Numpydoc doesn't require types (see https://numpydoc.readthedocs.io/en/latest/format.html#sections, it has an example of a parameter without type), it's only our internal validation that requires this. We could perfectly well decide to relax this.

I think what would be interesting for the discussion then is to do a concrete proposal of which rules you want to relax or which rules ot keep.

[2020-03-17 21:09] tsoernes opened #32788 "Request: Changing default na_action of Series.map to 'ignore'"
Looking at a pretty big Pandas codebase, through a couple of hundred of uses of `Series.map`, I'm unable to find a single usage where the `na_action` argument is left to its default value of `None`.

How often do people really call the mapping function or dictionary with a bunch of NaNs, instead of just using `fillna`?

I propose changing the default value of `na_action` to `'ignore'`.

[2020-03-17 21:48] Mereep commented on #32776
New version seems to fix that

[code]
Latest version seems to fix it. However, I can reproduce the faulty behaviour in a fresh conda environment with the old pandas version.

The thread may be closed. However, it should be checked if this problem was intentionally fixed at some point or its fixed by chance.

[2020-03-17 22:13] eparizzi opened #32792 "to_datetime() throws ValueError: Cannot pass a tz argument when parsing strings with timezone information."
I think pandas should support passing `%z` in the format but also `utc=True`. In my opinion, one thing is the format, which tells pandas how to parse the datetime string. The other argument is just telling to return the dates in UTC, no matter which timezone they were in the beginning.

Here's a repl that shows the issue: https://repl.it/@eparizzi/Pandas-todatetime-in-UTC-with-format

If you repla

[2020-03-17 23:14] wcneill commented on #8712
Hi, newb here. I was going to submit a bug report, but I found this. It does seem the same, but before I walk away without reporting, I wanted to make sure that my issue is actually different:

The docs for `DataFrame.hist()` say:

However, what is displayed is a set of histograms for numerical data only. This lead me to believe that maybe `matplotlib.pyplot.hist()` only works on numeric data. How

[2020-03-17 23:20] tsoernes opened #32793 "Aggregation does not preserve dtype when function passed in dictionary"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Aggregation does not preserve Int64 dtype when function passed in dictionary for the column.

#### Expected Output
Int64 dtype
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               :

[2020-03-17 23:36] nathan-zymergen commented on #25011
Curious if there is any update on this. I just ran into this issue. I appreciate all the work being done on this great project!

[2020-03-17 23:37] mroeschke commented on #32792
Could you provide a minimal, copy pastable example in this issue: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-18 00:35] WillAyd commented on #32766
Cool thanks for taking a look! Would welcome any PRs from you or the community

[2020-03-18 00:37] cleconte987 commented on #32550
Hello i'd like to work on it

[2020-03-18 00:40] cleconte987 commented on #32550
Though I don't understand exactly what is the issue or the goal of the issue here. The script does it well to find all occurrences of titles that need to be decapitalized, is it to actually make the changes to the documentation?

[2020-03-18 00:40] WillAyd commented on #32773
I share this same concern. There's already a rather large cognitive load to contributions in terms of guidelines and checks that is a lot to remember as a maintainer, and probably off-putting to new contributors.

So OK with validating internal docstrings, but I think should play by the same rules as all other docstrings in the code base

[2020-03-18 00:47] tacaswell commented on #32766
py39 is scheduled for October, shouldn't this be a higher priority? If Matplotlib were broken on cpython master I would definitely prioritize getting it fixed and backport it as far as I could ...

[2020-03-18 01:00] yaolan4 commented on #22347
take

[2020-03-18 02:36] tonywu1999 commented on #32550
The goal of this issue is to actually make the changes to the documentation.

[2020-03-18 07:09] svnsatyasai commented on #11493
I got the same error

I just add the **delimiter** parameter in read_csv mode

and it worked

[2020-03-18 07:33] BayerSe opened #32800 "Groupby converts None to NaN"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description

Since at least version 1.0.2,  the type of `df_grouped`  is `NaN`.  In Version 0.25.3, the type was `None`.
This breaks my code since I later check for this value using `if var is None`, which is False when `var` is `NaN` instead of `None`.

#### Expected Output

[code]

#### Output of ``pd.sho

[2020-03-18 09:27] simonjayhawkins commented on #32773
Agreed. This issue is intended to address that. whether a solution is to have a more lightweight standard or use the existing standard for internal docstrings, adding automated validation of internal docstrings is key to this discussion and the checks need to be part of the CI so that maintainers don't need to check conformance to docstring style. I should have made that more clear and included th

[2020-03-18 10:24] cleconte987 commented on #32550
Yes but there are exceptions that you don't want to lower and that are not in CAPITALIZATION_EXCEPTIONS. What do you do with it? Should you extend it?

[2020-03-18 10:30] datapythonista commented on #32550
Yes, the script will validate most cases all right, but if there is anything that need to be changed there, like adding new keywords, you can do it.

[2020-03-18 10:32] datapythonista commented on #32550
Better don't open a huge PR, take few documents (e.g. five), and just fix those.if you want to fix more (surly appreciated) then keep opening PRs, no problem in opening many.

Thanks!

[2020-03-18 11:34] eparizzi commented on #32792
What do you mean? There's a repl link on the issue.
https://repl.it/@eparizzi/Pandas-todatetime-in-UTC-with-format

[2020-03-18 11:41] jreback commented on #32792
pls copy paste code to the top of the issue as instructed in the template

[2020-03-18 11:49] eparizzi commented on #32792
There you go.

[2020-03-18 11:55] hkishn commented on #32800
@BayerSe
As a workaround you can "None" instead of None.
df = pd.DataFrame.from_dict({
    'id': ['a'],
    'value': ["None"]
})
This should give the output of None instead of Nan.
I will also check the release document of pandas 1.0.2 for this change
Hope this helps.

[2020-03-18 12:03] MarcoGorelli commented on #32755
Thanks @tsoernes - do you want to work on a pull request? https://pandas.pydata.org/docs/development/contributing.html

[2020-03-18 12:13] tsoernes commented on #32755
I'm sorry but I'm unable to contribute at this moment.

[2020-03-18 12:16] benmatwil opened #32802 "Consistent dtype output for element wise operations on empty dataframes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When dataframe is empty, doing a `.min(axis=1)` outputs a series of dtype `float64` even though all columns were dtype `datetime64`.
Should this be consitent on dtypes and output `min_dates` with dtype `datetime64[ns, UTC]`.

This is only an issue when the dataframe is empty.
If the dataframe is not empty, the

[2020-03-18 12:16] simonjayhawkins commented on #32773
If we keep the current standard/validation for docstrings, I wonder whether it is feasible to run validate_docstrings on any methods/functions touched in a PR on CI. I suspect this could be quite disruptive.

[2020-03-18 12:34] jorisvandenbossche commented on #32792
Distilled from the link:

[code]

@eparizzi although the repl site looks really nice (certainly for a bit more complex example that might require an additional dependency or data), we still prefer a short copy-pastable example here when possible. Like the example I put above. That makes it easier to deal with a lot of issue reports.

[2020-03-18 12:39] BayerSe commented on #32800
Thanks @hkishn but this won't help because `"None"` is a string and not an empty value

[2020-03-18 12:45] eparizzi commented on #32792
Understood.

I wanted to give more detail because on the issue I linked it seems that this is an expected behavior, not a bug. But I still think we should have a way to parse timezone strings to UTC by passing the format which works way faster than letting pandas infer it.

[2020-03-18 13:21] brylie opened #32803 "NamedAgg error: aggregate() missing 1 required positional argument: 'func'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This error prevents me from aggregating data and (re)naming columns at the same time. Instead, it is necessary to use the following approach, which isn't altogether bad:

[code]

#### Expected Output
The aggregate function would produce a new DataFrame with the following columns:
- booking_count
- booking_dista

[2020-03-18 13:23] simonjayhawkins commented on #32773
In the first instance, I think i'll run validate_docstrings on internal docstrings on a the odd PR from time to time that changes an internal docstring and see what we feel is inappropriate and maybe we can discuss which checks could be relaxed using specific cases, rather than select a subset from the outset. see #32769

[2020-03-18 13:45] kdebrab opened #32805 "RecursionError with pd.DataFrame.from_records"
#### Code Sample, a copy-pastable example if possible

[code]
raises:
[code]

#### Problem description

Though using `pd.DataFrame.from_records` with `pd.Series` objects is not explicitly supported, it does work in most of the cases. Only in case the index of the Series is a CategoricalIndex of Intervals, it suddenly doesn't work anymore.

E.g. the following works fine:

[code]
And it even works w

[2020-03-18 13:52] MomIsBestFriend commented on #32805
I can't reproduce on master.

<details>

INSTALLED VERSIONS
------------------
commit           : 19624de83852754302169782b211f4bdd3a597f8
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.25.a-2-hardened
Version          :  SMP PREEMPT Thu, 12 Mar 2020 23:43:38 +0000
machine          : x86_64
processor        :
byteorder        : little
LC_ALL

[2020-03-18 13:55] osvill commented on #32608
I thought I'd jump in as I'm using this feature a lot at the moment. Maybe it is a very special case, but there it is important if operating (add, sub, mul, div) with two dataframes with same index and columns that the result distinguishes whether both values are NaN (resulting in NaN), only one (use fill_value) or neither.

On this topic I found the following behavior curious:
`import pandas as p

[2020-03-18 14:07] quangngd commented on #29310
Hi, as a newbie, I would love to take on this issue if it's okay.

[2020-03-18 14:12] cleconte987 commented on #32550
I am not very used to git yet, how do I push to remote repository? I have pulled the repository on my local machine. I have modified some files in doc, commit, and doesn't work when I push to the GitHub url. What is the url where I should push to?

[2020-03-18 15:05] frreiss opened #32806 "ENH: Allow regex matching in `fullmatch` mode"
#### Problem description

`Series.str` contains methods for all the regular expression matching modes in the `re` package except for `re.fullmatch()`. `fullmatch` only returns matches that cover the entire input string, unlike `match`, which also returns matches that start at the beginning of the string but do not cover the complete string.

One can work around the lack of `fullmatch` by round-tri

[2020-03-18 16:00] MomIsBestFriend commented on #10720
take

[2020-03-18 16:38] jc085 commented on #17041
the solution from princeinzion is the way, I just want to add that depending on df you are working with , yo could need to add the level when reindexing:

my_report = df.pivot_table(index=[ "ticker"], values=["c_within_l1", "c_beyond_l1", "c_beyond_l2", "c_beyond_l3"], aggfunc=[np.mean])
new_order=["c_within_l1", "c_beyond_l1", "c_beyond_l2", "c_beyond_l3"]
my_report = my_report.reindex([ new_orde

[2020-03-18 17:38] mroeschke commented on #32792
I guess that's a fair case to allow `utc=True` with `%z` in the format string if it's a matter of performance.

The documentation will need to be clearly stating that the returning timestamps will be localized to the timezone parsed from `%z` and converted to utc afterwards.

[2020-03-18 17:50] evyasonov opened #32810 "Not actual, please delete"
Not actual, please delete

[2020-03-18 17:59] #32810 closed

[2020-03-18 18:23] TomAugspurger commented on #32751
1.0.3 is out.

[2020-03-18 18:23] #32751 closed

[2020-03-18 18:40] jorisvandenbossche commented on #32751
Thanks Tom!

[2020-03-18 18:58] eparizzi commented on #32792
I thought that was the case already. At least, that's what I understand from the current docs for the utc argument.

(from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html#pandas.to_datetime)

[2020-03-18 19:14] datapythonista commented on #32550
@cleconte987 you need to open a pull request. It's a bit tricky the first time, but there are resources out there to help you know how it works. If you don't find anything better, you can see these slides https://docs.google.com/presentation/d/1rOSYXZPyMe9KXnbVK_xbJzw_-ijxd6bIxndmvPU6L2o/edit?usp=sharing and this video (sorry the audio is awful): https://www.youtube.com/watch?v=LCTk0leNH1g

[2020-03-18 19:16] datapythonista commented on #29310
@quangngd if it's your first contribution, I'd recommend to start working on one of the files of #32550 instead. And once you've got that come back to this. I think it'll make your life easier to start with something trivial. But totally up to you.

[2020-03-18 19:43] jorisvandenbossche commented on #32196
The current `from_spmatrix` implementation is indeed not very efficient, and I think there a lot of room for improvement.
It will never be super fast (as we need to create many 1D sparse arrays for all columns), but I think we can easily get a 5-10x improvement.

Quick experiment:

[code]

together with disabling unnecessary validation of the arrays and consolidation in `_from_arrays` (we should h

[2020-03-18 19:44] jorisvandenbossche commented on #32196
@fedarko would you be interested in further exploring this and maybe doing a PR?

[2020-03-18 19:50] yohplala commented on #32559
Thanks, you are actually quite right!

[2020-03-18 19:50] #32559 closed

[2020-03-18 19:55] tonywu1999 commented on #32550
https://dev.pandas.io/docs/development/contributing.html

I started contributing 2 months ago, and I found that this link helped me a lot.

[2020-03-18 21:16] TomAugspurger commented on #32745
Thanks for checking. I don't know what the issue would be then. Can you investigate more?

cc @gfyoung.

[2020-03-18 21:24] fedarko commented on #32196
@jorisvandenbossche thank you for following up on this! I don't have sufficient time right now to do a PR, sorry

[2020-03-18 21:42] gfyoung commented on #32745
`is_file_like` has not changed dramatically last I checked.

Has there been any changes to `AsyncWriter` ?

[2020-03-18 22:03] rth commented on #32196
I'll make a PR @jorisvandenbossche .

[2020-03-18 22:58] cleconte987 commented on #32550
Ok thank you

[2020-03-18 23:04] HowManyOliversAreThere commented on #25257
I'm unsure whether this was actively resolved or just happens to have been resolved, but I was hitting this bug on one machine with older packages and not hitting the issue (functioning as expected) on another machine with newer packages.

- Failing machine:
  - Python 3.8.0
  - Pandas 0.25.3
  - Numpy 1.17.4
- Succeeding machine:
  - Python 3.7.5
  - Pandas 1.0.2
  - Numpy 1.18.1

[2020-03-19 00:04] ItsmeKernel commented on #32676
I think the request makes sense in this context: suppose you want to delete records from your DataFrame where a given subset of columns is null. You can do the following:
[code]

  | A | B | C | D | E
-- | -- | -- | -- | -- | --
0 | NaN | 1.0 | NaN | 0.0 | NaN
1 | 3.0 | NaN | NaN | 1.0 | NaN
2 | NaN | NaN | 5.0 | 5.0 | NaN
3 | 5.0 | 4.0 | NaN | 4.0 | NaN
4 | NaN | NaN | NaN | NaN | NaN

`df.dropna

[2020-03-19 00:14] dsaxton opened #32815 "BUG: ExtensionIndex.map doesn't handle na_action correctly"
(From `master`)

[code]

In the `DatetimeIndex` case `idx.map` should propagate the null value instead of returning `Timestamp("1999-01-01")` since `na_action == "ignore"`, and although it isn't documented I think `CategoricalIndex.map` should allow `na_action` since the other `map` methods do.

[2020-03-19 00:23] datapythonista commented on #32748
As a user, I think what I'd be interested at this point (1.0.3 being the latest), is the changelog for 1.0.0 + 1.0.1 + 1.0.2 + 1.0.3. I feel if I'm visiting this page, I'm more likely to be in the previous minor (e.g. I'm moving from 1.2 to 1.3).

But that's not what I'm proposing. May be we could consider a hierarchy of changelogs now that we're using the major, but don't really know if it's a go

[2020-03-19 00:24] #23565 closed

[2020-03-19 00:35] quangngd commented on #29310
Thank you for the suggestion. I will definitely do that. I will come back if @sathyz don't want to work on this.

[2020-03-19 00:46] jreback commented on #32673
this is a good idea.

[2020-03-19 00:57] #28256 closed

[2020-03-19 01:40] #23784 closed

[2020-03-19 02:01] dsaxton commented on #32803
Can you try to provide a small reproducible example with the error message you're seeing (others don't have access to your data)?

[2020-03-19 03:57] mroeschke commented on #25257
Was probably fixed in a recent release. Could use a regression test.

[2020-03-19 04:10] quangngd commented on #30999
I'll take

pandas/tests/io/excel/test_readers.py
pandas/tests/io/excel/test_writers.py
pandas/tests/io/excel/test_xlwt.py
pandas/tests/io/formats/test_format.py
pandas/tests/io/formats/test_style.py
pandas/tests/io/formats/test_to_latex.py

[2020-03-19 04:23] daviewales opened #32818 "API: More direct way to determine which rows cause pd.to_numeric to coerce to 'NA' or raise ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As shown in the code above, it is possible to create an index mask to determine which rows of an original series cause `to_numeric` coerce to `NA` or raise `ValueError`. However, the creation of this mask is not immediately obvious, and requires first performing `pd.to_numeric(series, errors='coerce')` on the `

[2020-03-19 05:33] kumfupanda commented on #25449
I also got the same issue

[2020-03-19 06:22] Fdelahoya opened #32819 "xcel into csv"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-03-19 09:28] thedimlebowski opened #32822 "dtype change when doing operations on dataframes"
#### Code Sample

[code]
#### Problem description

The Int64 dtype is changed when doing operations on two dataframes whereas it is kept (expected behavior) on series operations.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin

[2020-03-19 11:53] simonjayhawkins commented on #32748
`Release notes` is already in the header, so just remove "What's New in ..." link ?

[2020-03-19 13:01] kdebrab commented on #32805
FYI, a (truncated) traceback:
[code]

[2020-03-19 13:42] TomAugspurger commented on #32819
@Fdelahoya looks like you forgot to fill out the issue template. We'll reopen if you can take care of that.

[2020-03-19 13:42] #32819 closed

[2020-03-19 14:03] TomAugspurger commented on #32748
Yeah, that's my option 3. You'd go to https://pandas.pydata.org/docs/whatsnew/index.html, and from there navigate to most recent, the last bugfix release (https://pandas.pydata.org/docs/whatsnew/v1.0.3.html) or perhaps "most relevant", the last major or minor release (https://pandas.pydata.org/docs/whatsnew/v1.0.0.html)

[2020-03-19 17:58] themien commented on #32550
@cleconte987 I am already on the issue. Will do a pull request with all the updated documentation soon

[2020-03-19 18:46] MomIsBestFriend opened #32832 "DOC: CI failure due to fsspec deprecation warning"
There is CI failure in the ```Web/Docs```, under ```check ipython directive errors``` on github actions, noticed on #32831 and on #32830

The error that is being shown:

[code]

---

The root cause of the problem, is a warning that is generated during the creation of the docs.

[code]

[2020-03-19 19:05] WillAyd commented on #29588
I believe this is a duplicate of #27692; closing to keep things consolidated

[2020-03-19 19:05] #29588 closed

[2020-03-19 19:08] WillAyd commented on #32748
+1 to option 3 as well

[2020-03-19 19:16] WillAyd commented on #32741
The underlying excel engines by default will write cells starting with an equals sign as a formula. There as another discussion of this in #29095 so closing this as a duplicate of that.

As mentioned in that issue though, would definitely welcome updates to the documentation for this if you have interest in submitting a PR

[2020-03-19 19:16] #32741 closed

[2020-03-19 19:18] WillAyd commented on #32773
Did we ever fix our user facing docstrings to adhere to the docstring standards? I know @datapythonista used to run metrics on that; not sure if there is a current list

FWIW I think worth finishing that off before diving into standards for the internal functions, as there is probably lessons to be learned

[2020-03-19 19:22] datapythonista commented on #32773
A lot of progress was made, but we're far from done with the public API.

@martinagvilas and @galuhsahid have a dashboard on the current state. Can you share the link please?

[2020-03-19 19:31] tsoernes opened #32835 "Feature request: Allow regex flags for `str.split`"
Most string functions allow `case` and `flags` for matching; `str.split` does not.

[2020-03-19 19:38] simonjayhawkins commented on #32773
I think there are plenty of on-line resources and experience shared on how to use pandas.

On the other hand,  my concern is from a project sustainability perspective.

for me, getting the internal functions documented is just as important as the external api.

[2020-03-19 19:45] jorisvandenbossche commented on #32773
But what is important for those internal functions is that they have a proper, understandable explanation of what they are doing / what they are used for. This is something that needs human review.

On the other hand, most of the things that a style checker does (is there a space after the colon, did it use proper punctuation and capitalization, whitespace,  ...), I care about much less for intern

[2020-03-19 19:50] #25509 closed

[2020-03-19 19:52] martinagvilas commented on #32773
[Here](https://github.com/pandanistas/docstring_notebooks) is the link to the dashboard inspecting docstrings errors in the public API that @datapythonista mentioned. The current errors are updated every hour.

[2020-03-19 20:05] dsaxton commented on #32818
I won't speak for the maintainers, but I know there's a general reluctance to add to the already very large `pandas` API, especially if it's possible to do something using existing features / regular Python.

A possible workaround here might be to use a custom function that tests whether `pd.to_numeric` will work:

[code]

[2020-03-19 20:12] simonjayhawkins commented on #32773
Agreed, a lightweight set of checks could therefore be that a docstring exists and that if a parameters section is included that all parameters are included and that each have a description.

The majority view seems to be that we should have the same standard for internal/external docstrings. https://github.com/pandas-dev/pandas/issues/32773#issuecomment-600235170, https://github.com/pandas-dev/pa

[2020-03-19 20:18] simonjayhawkins commented on #32773
Thanks for posting @martinagvilas

[2020-03-19 20:24] usman98789 commented on #31874
take

[2020-03-19 20:33] jorisvandenbossche commented on #32832
[code]

[2020-03-19 20:37] MomIsBestFriend commented on #32832
Thanks @jorisvandenbossche I have updated the post above :)

[2020-03-19 21:09] tsoernes opened #32838 "DataFrame.replace fails to replace value when columns are specified and only non-replacement columns contain pd.NA"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

There are multiple similar issues, but in this case, there are no NaNs in the column specified by the replacement-dictionary. If the dataframe is created without additional column `1` with a `pd.NA`, even though no replacement is performed on that column, then replace works.

#### Expected Output

'a' to be rep

[2020-03-19 21:32] tv3141 opened #32841 "SegmentationFault/BusError: Groupby + count"
#### Code Sample

[code]

#### Problem description

This randomly causes a SegFault or Bus error.

With bounds checking enabled I get the following IndexError.

https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx#L778
[code]

[code]

#### Expected Output

[code]

### Note

This issue is related to https://github.com/pandas-dev/pandas/issues/21824. The Segfault happens in the same

[2020-03-19 21:37] cleconte987 commented on #32550
Well, what should I do now? @tonywu1999  @datapythonista. I started to commit to the documentation. I guess you are assignee. Im here if I can help

[2020-03-19 21:47] datapythonista commented on #32550
As said early, you should be working on small batches, so keep opening small pull requests with the fixes, and we'll be merging them. There are many titles to fix, try to coordinate if possible, but more than one person can work with this, no problem.

[2020-03-19 21:51] cleconte987 commented on #32550
And I think you made it wrong by lowering words like DataFrame to Dataframe, shouldn't it be kept with capitalization?

[2020-03-19 21:53] datapythonista commented on #32550
That can be tricky, but I think `DataFrame` is the best option.

[2020-03-19 22:06] dsaxton opened #32845 "TST: Improve searchsorted test coverage"
As show by https://github.com/pandas-dev/pandas/issues/32762 `searchsorted` is lacking tests in some cases (e.g., we don't seem to have any here https://github.com/pandas-dev/pandas/tree/master/pandas/tests/indexes/interval or here https://github.com/pandas-dev/pandas/tree/master/pandas/tests/indexes/categorical), so it would be good to add these.

[2020-03-20 00:22] #32832 closed

[2020-03-20 02:04] daviewales commented on #32818
I understand the reluctance. The API is indeed very large.

I've defined the following function:

[code]

For a real-world series (≈37000 rows, ≈3000 rows which are not NA), I get the following results from `%timeit`:

[code]

[2020-03-20 02:55] Ranfir opened #32851 "Unexpected behavior when inverting column of dtype object with boolean values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Unexpected behavior when inverting column of dtype object with boolean values.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release

[2020-03-20 03:49] jbrockmendel commented on #32617
Can you export the file to csv?  read_csv should be much faster.

[2020-03-20 03:51] #32412 closed

[2020-03-20 03:59] jbrockmendel commented on #32325
I doubt we'd want to add anything to the public API for this.  The way you defined `index_from_ts_slice` is likely your best option.  Is there a reason that isn't workable?

[2020-03-20 04:23] allwell997 opened #32853 "pandas transforms a datetime column."
There is a csv file with a column in string datetime.
1.  I want to load this csv file with pandas and set the string datetime to index, in the mean time, I want to change the datetime year-month-day.  for example as the below.
5:06:12
6:08:23
21:09:59
==================================
I want the right result as below
2017-01-01 5:06:12
2017-01-01 6:08:23
2017-01-01 21:09:59

[2020-03-20 04:57] mroeschke commented on #32740
@jbrockmendel I see you're on a `.values` cleanup spree. If you change these calls in `pandas/core/indexes/base.py`, that'd fix this issue

[code]

[2020-03-20 07:12] jorisvandenbossche commented on #32832
@TomAugspurger @martindurant is this something to report to dask?

The warning comes from this snippet in the pandas docs:

[code]

[2020-03-20 09:39] J-Postma opened #32857 "ImportError: DLL load failed with Windows wheel for 1.0.2 and 1.0.3"
When trying to install `pandas 1.0.2` or newer versions on a docker, I run into the following import error:

[code]

I've reproduced this error on a separate pc by running:

[code]

This error only occurs when trying to import pandas from the docker. Python and pip versions:

[code]

[2020-03-20 09:40] quangngd commented on #29310
take

[2020-03-20 09:52] andrewcooke-isti commented on #32740
thanks!

[2020-03-20 10:16] joybhallaa commented on #32759
take

[2020-03-20 10:29] karthikeyann opened #32859 "rank() for int64 gives NAN for most negative value"
#### Code to recreate the issue

[code]

[code]
#### Problem description

rank for **`np.int64`** most negative value gives **NaN** as rank.
`np.int32` works fine for similar case.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Win

[2020-03-20 10:56] mojones commented on #23865
This seems to have been fixed between 0.25.0 and 1.0.0. Not sure if it's appropriate to close this in case it gets regressed, but please do so if it is.

[2020-03-20 10:57] mojones commented on #27075
This seems to be fixed in versions >=1.0.0

[2020-03-20 10:59] jreback commented on #27075
great love to have a PR with validation tests (note we likely have some of these examples already)

[2020-03-20 11:01] mojones commented on #28597
Fixed in versions >=1.0.0

[2020-03-20 11:34] jreback commented on #28597
hmm so we have a test for this?

can you push a PR to add one?

[2020-03-20 11:38] mojones commented on #28597
I've never contributed a test before, but will have a go.

[2020-03-20 11:51] johannes-mueller opened #32860 "_metadata items of subclassed pd.Series are not propagated into corresponding SubclassedDataFrame"
#### Code Sample

[code]
#### Problem description

`_metadata` items of `pd.Series` subclasses are not propagated when the `SubclassedSeries` object is put into a `SubclassedDataFrame`. I would expect `myprop` to be available in the new `SubclassedDataFrame`.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None

[2020-03-20 11:54] TomAugspurger commented on #32832
This is with fsspec 0.6.3?

[2020-03-20 11:55] TomAugspurger commented on #32832
https://github.com/dask/dask/issues/6028 is the same apparently.

[2020-03-20 12:00] mojones opened #32861 "Calling `sum` with `min_count` on `SeriesGroupBy` with dtype `Int64` gives large negative value rather than pd.NA"
[code]
#### Problem description

Per the documentation, `sum` should return `NA` if there are fewer than `min_count` values. This works fine on the dataframe itself:

[code]

but gives what looks like an overflow error when called after `groupby`.

I ran into this with real data when calling with `min_count=1` on a dataframe where some of the values were missing, but I thought the minimal example

[2020-03-20 12:01] mojones commented on #32861
The issue does not occur with a data type of `int64` rather than the nullable type `Int64`.

[2020-03-20 12:04] TomAugspurger commented on #32857
Things work for you with pandas 1.0.1 and earlier?

[2020-03-20 12:10] J-Postma commented on #32857
Yes, things were fine with pandas 1.0.1 or any of the 0.* versions

[2020-03-20 13:07] johannes-mueller commented on #24685
Probably the same issue in another context: Series.name is lost, when the Series object is put into a DataFrame. Even if the Series.name is set after it has been put into the DataFrame, it is lost as soon as any manipulation (even with a different columns) on the DataFrame occurs. In contrast to Series.name, Index.name is preserved.

### Sample code
[code]

<details>
INSTALLED VERSIONS
-----------

[2020-03-20 13:08] johannes-mueller commented on #32860
Maybe related to #24685

[2020-03-20 13:12] justlearn-spec opened #32862 "importing pandas resulting an error"
import pandas as pd
import dask.distributed as dd

The above code was working fine till afternoon IST and now, it has started throwing errors.
Perhaps, the version?

AttributeError: module 'pandas._libs.missing' has no attribute 'NAType'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'dd' is not defined

Traceback (most recent call last):
  File "<stdin>"

[2020-03-20 13:15] pbourguignon opened #32863 "BUG: passing a non-dict mapping to pd.concat raises a TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code raises a TypeError with the message "cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid".

As the documentation explicitly specifies that the argument `objs` can be a mapping of Series or DataFrame objects, the expected behaviour is to just proceed.

####

[2020-03-20 13:20] TomAugspurger commented on #32862
Is that the full traceback?

Does the same error occur if you create a new environment with just pandas?

[2020-03-20 13:22] TomAugspurger commented on #32857
Thanks. We switched our wheel building infrastructure for 1.0.3, but if it's happening on 1.0.2 as well that's likely not it.

I'm not aware of anyone else using pandas inside a windows docker container. You might be on your own here, so anything you can do to debug this would be welcome.

[2020-03-20 13:32] justlearn-spec commented on #32862
I just created a new environment and I'm getting the below error.

[MLDEV:DEMDEP]:/home/demo/by/dem> conda activate daskdup
(daskdup) [MLDEV:DEMDEP]:/home/demo/by/dem> import pandas as pd
import: unable to open X server `' @ error/import.c/ImportImageCommand/369.

[2020-03-20 13:37] TomAugspurger commented on #32862
How did you install pandas? pip or conda?

[2020-03-20 13:38] TomAugspurger commented on #32857
Can you  create a new environment and post the full output of this?

[code]

[2020-03-20 13:39] TomAugspurger commented on #32862
I'm not sure, but that sounds unrelated to pandas... @datapythonista do you know if X server would be hit by any of our clipboard init stuff?

[2020-03-20 13:44] quangngd commented on #29310
So I have looked into the code and here are the problems i found:
1. In df.to_hdf, if you don't set complevel, it wouldn't get compressed even complib is explicitly set.
2. The API of HDFStore is kinda confusing as you can set complevel/complib in two places - when constructing the HDFStore instance and when calling put/append. And the latter take priority if complib is explicitly set.
For example

[2020-03-20 13:45] AlexKirko opened #32865 "BUG: rolling window functions don't support custom indexers"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

We state [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html) that we support supplying a custom Indexer when building a `pandas.DataFrame.rolling` object. While the object does get built, and it returns the correct windows, it doesn't support many rolling window func

[2020-03-20 13:58] justlearn-spec commented on #32862
I installed using

conda create -n daskdup python
conda install -n daskdup pandas

[2020-03-20 14:18] justlearn-spec commented on #32862
I had one more environment with pandas=1.0.1=pypi_0

I reverted to old version of and the problem is fixed.
conda install -n dask pandas=0.24.0

Is this an expected behavior?

[2020-03-20 14:24] TomAugspurger commented on #32862
No, it's not expected. (but FYI, you generally shouldn't mix packages from conda and pypi if you can avoid it).

Anything you can do to debug this would be welcome.

[2020-03-20 14:27] justlearn-spec commented on #32862
There are lot of people working on the same server (256 GB RAM and 40 cores). Need to check with the team what was done. Meanwhile, I'll debug.

Thanks @TomAugspurger

[2020-03-20 14:43] TomAugspurger commented on #32865
cc @mroeschke.

[2020-03-20 15:13] randerse10 commented on #24923
I was pivoting with a five-level-deep index on a tiny (<600 row) data frame that was taking an eternity to execute. I tried playing around with different data types (some were categorical), but that did not significantly change the execution time. Using `observed=True` reduced the time from 46 seconds to 16.9 ms according to `%%timeit` in jupyter notebook. I really can't say how or why that is yet

[2020-03-20 15:16] justlearn-spec commented on #32862
I didn't do python after activating conda environment. That was my mistake.

import: unable to open X server `' @ error/import.c/ImportImageCommand/369. Just FYI.

[2020-03-20 15:35] matteosantama commented on #32853
Does the original datetime string include year, month, and day information?

[2020-03-20 15:39] YuriyTigiev opened #32869 "Incorrect calculations of corrwith when "other" is the same table shifted on one row."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The method corrwith returns incorrect values (1) when "other" is the same table shifted on one row.

[code]

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS

[2020-03-20 15:42] matteosantama commented on #32761
New here, but I think your solution makes a lot of sense. It seems like a zero-cost opportunity to improve the accuracy of the calculation

[2020-03-20 15:53] datapythonista commented on #32862
It shouldn't, and I'm quite confident it doesn't.

And from [this SO answer](https://stackoverflow.com/questions/19507096/python-error-import-unable-to-open-x-server) feels like this may be unrelated to pandas, and just being captured by the way pandas is set up in that server.

@justlearn-spec can you provide a screenshot of that pandas import, and then, after seeing the error, running `pandas.__

[2020-03-20 16:01] LittleMoDel commented on #3441
import pandas as pd
df= pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 5]})
# engine should change to openyxl,because the default engine'xlsxwriter' NOT support append mode !
writer = pd.ExcelWriter('exist.xlsx',mode='a',engine='openpyxl')
df.to_excel(writer, sheet_name ='NewSheet')
writer.save()
writer.close()

[2020-03-20 16:04] Dr-Irv commented on #32748
I was about to report this issue, and found this discussion, and agree that you should remove the "What's New" link.  But maybe change "Release Notes" to "Release Notes/What's New" ?

[2020-03-20 16:24] jorisvandenbossche commented on #32748
I agree to remove the "What's new in x.x.x" as well

I think that will become a bit long (especially for a top bar), so personally would choose one of both

[2020-03-20 16:26] jorisvandenbossche commented on #32748
We could also have a more visible link on the doc home page to the "latest" (1.0.0, or 1.0.3, or a combined view) whatsnew page, if we remove it from the top bar.
(although those links are already there on the website)

[2020-03-20 17:12] jorisvandenbossche commented on #32861
@mojones Thanks for the report!

[2020-03-20 17:19] jorisvandenbossche commented on #32860
@johannes-mueller the metadata item lives on the Series object. But, when putting a Series in a DataFrame, pandas does not actually store the columns as Series objects, but as arrays in a internal data structure (the BlockManager). So when accessing a column of  SubclassedDataFrame, a new SubclassedSeries is created (using the `_constructor_sliced` callable).

So what you want it right now not pos

[2020-03-20 17:21] jorisvandenbossche commented on #32838
Thanks for the report!
Probably a duplicate of https://github.com/pandas-dev/pandas/issues/32621 or https://github.com/pandas-dev/pandas/issues/32075

[2020-03-20 17:45] tsoernes commented on #32838
The underlying cause might be the same, but contrary to those issues, there
are no missing values in the column where values are to be replaced.

On Fri, Mar 20, 2020 at 7:22 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2020-03-20 17:54] mroeschke commented on #32853
For usage questions like this, please use StackOverflow. This forum is dedicated to bugs and enhancement requests.

If you believe this is a bug in the library, please post a minimal, copy-pastable example https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-20 17:54] #32853 closed

[2020-03-20 18:19] TomAugspurger commented on #32860
attrs doesn't currently propagate through, since `Dataframe.__getitem__` doesn't call finalize on a single-key indexer. It probably should.

[2020-03-20 19:20] roberthdevries commented on #16393
@jbrockmendel Is this still an issue now that `from_csv` is deprecated.

[2020-03-20 19:25] gfyoung commented on #16393
@roberthdevries : If the issue does not replicate itself with `read_csv`, then I think we can close this one out with a test.

[2020-03-20 19:38] jorisvandenbossche commented on #29752
And we have an `isna` function that also considers all those as missing in addition to NA ... So yes, no single terminology will be ideal given all historical baggage.
We can update the docstring of `isnull` to clearly indicate that it is an exact alias of `isna`, and does not handle "nullable dtypes" any different.

[2020-03-20 19:56] TomAugspurger commented on #16646
Yeah, seems to not be a duplicate.

[2020-03-20 20:21] twang96 commented on #32156
same problem here, anyone has a workaround method? thx

[2020-03-20 22:22] #32748 closed

[2020-03-20 23:58] dsaxton commented on #32869
The `DataFrames` are likely being aligned on index before calculating the correlations; if you reset the index then you'll get the expected output:

[code]

[2020-03-21 00:29] dsaxton commented on #32861
Looks like the bug happens here where we end up casting `NaN` to `int64`: https://github.com/pandas-dev/pandas/blame/master/pandas/core/groupby/ops.py#L556

@charlesdong1991 might have an idea why this is needed?

[2020-03-21 01:03] jbrockmendel opened #32878 "BUG?: should ComplexBlock._can_hold_element/should_store check itemsize?"
[code]

For IntBlock we check the itemsize to avoid overflows, but for FloatBlock and ComplexBlock we do not, so we get the `inf` here.  Should we instead be upcasting?

[2020-03-21 02:25] ahull002 commented on #12210
Stefan,

Thank you again for attempting this. :)

Warm Regards,
Alfred

[2020-03-21 02:33] t3ndai commented on #17382
this is still an issue for me too, left my head spinning as I was able to get the mean | median values using describe etc. but then when pivoting and group_by started to get `numeric values not found` error.

[2020-03-21 03:24] allwell997 commented on #32853
I dont think it is a bug , but it is a new request.

[2020-03-21 03:24] allwell997 commented on #32853
yes. there are nothing.

[2020-03-21 03:36] #32869 closed

[2020-03-21 07:32] AaryamanCodes commented on #32857
So, I too faced the exact error. I tried it on Jupyter notebooks and it worked though I could still not import some other pandas submodules.

[2020-03-21 07:41] justlearn-spec commented on #32862
Hi @datapythonista
Are you looking for this?

![Pandas_Error](https://user-images.githubusercontent.com/61821667/77222029-75356280-6b75-11ea-99cc-a776262c4e7c.JPG)

[2020-03-21 09:10] chrispe92 commented on #32621
I also noticed another issue, have a look at this code:
[code]
It produces the following output:
`In [4]: series_a
Out[4]:
0    1
1    2
dtype: string`
`In [5]: series_b
Out[5]:
0    1
1    2
dtype: object`

Shouldn't both of them return a series with a dtype of string?

[2020-03-21 10:15] MungLAW commented on #5401
Really expect this.....

[2020-03-21 11:39] cleconte987 opened #32882 "Cannot install pandas correctly due to unreachable code"
After running python setup.py build_ext --inplace -j 0:

![Screenshot 2020-03-21 at 12 26 39](https://user-images.githubusercontent.com/24496267/77225440-4b793d00-6b6f-11ea-8267-95496c9d273c.png)

MacOS 10.14
python 3.6.6

I tried to install pandas from source in a setup virtual environment using pip.
I cloned the repository, created the virtual environment with python -m venv.
I ran pip install -

[2020-03-21 12:54] chrispe92 commented on #32621
Here's an explanation of my current solution. In order to enable comparison with arrays which contain pd.NA, I make sure to replace them all with np.na instead. Specifically by doing this:
[code]

[2020-03-21 13:42] quangngd commented on #30999
@MomIsBestFriend
These one are done without the mark:
- pandas/tests/indexes/datetimes/test_astype.py

pandas/tests/indexes/datetimes/test_tools.py does not exist

I'll do:
- pandas/tests/indexes/datetimes/test_constructors.py
- pandas/tests/indexes/datetimes/test_date_range.py
- pandas/tests/indexes/datetimes/test_indexing.py
- pandas/tests/indexes/datetimes/test_shift.py
- pandas/tests/indexes/d

[2020-03-21 14:13] quangngd commented on #29310
update:
Found this test, so maybe this is an expected behaviour after all?
Can anyone comfirm this? @datapythonista

pandas/tests/io/pytables/test_store.py::TestHDFStore::test_complibs_default_settings
[code]

[2020-03-21 14:23] fabianegli opened #32885 "Provide [major|religious|national] holiday offsets"
#### Motivation

`pandas` does a wonderful job when working with time series - e.g. it is easy to find periodic patterns. There are straight forward methods to find these patterns for standard time intervals such as days, weeks, months and years.

However, it is trickier to find these patterns when they occur in other periodicities or irregular but defined intervals. Often religious holidays depen

[2020-03-21 14:31] otaviocv commented on #30092
Hello!

I posted a question on StackOverflow exactly about this issue. Could you, please, take a look? https://stackoverflow.com/questions/60788893/pandas-named-aggregation-not-working-with-resample-agg

Does anyone need help with this?

[2020-03-21 16:31] MomIsBestFriend commented on #32882
@cleconte987 Thank you for the report!

---

As a quick-fix I would have remove the ```-Werror"``` flag from ```setup.py```, meaning turning this line:

https://github.com/pandas-dev/pandas/blob/aee8e112c9faed31fd112072f497593b5e0fc010/setup.py#L436

from:

[code]

to:

[code]

[2020-03-21 17:07] vinithg commented on #32745
Hi @gfyoung ,
Any updates on the same?

[2020-03-21 17:52] gfyoung commented on #32745
@vinithg : I actually asked a question to you [above](https://github.com/pandas-dev/pandas/issues/32745#issuecomment-600873198)

[2020-03-21 18:15] WeiqiangZhang commented on #32450
@jorisvandenbossche Hi, I was wondering if `astype("Int64")` should work.
"Int64" isn't a dtype of numpy, but "int64" is and works perfectly fine.

[2020-03-21 18:23] MomIsBestFriend commented on #32882
@WillAyd Is it a good idea to have something like:

[code]

in ```setup.py```?

[2020-03-21 18:32] WillAyd commented on #32882
I don’t think we need to do that. clang / gcc mostly have the same flags, and if anything checking in clang is a little looser

Can you post the full traceback (not a screenshot)?

William Ayd
william.ayd@icloud.com

[2020-03-21 19:43] PickledBeef commented on #23064
Any updates on this? I am still seeing similar performance issues with pandas 0.25.3, numpy 1.18, and python 3.6.

[2020-03-21 19:57] jreback commented on #23064
pandas is all volunteer

would appreciate some analysis to see where the issue is

[2020-03-21 20:19] #14042 closed

[2020-03-21 20:26] SaturnFromTitan opened #32896 "DataFrame.iloc does not raise for setitem if empty"
This is a follow-up on [#32886 (comment)](https://github.com/pandas-dev/pandas/pull/32886#discussion_r396024385)

`test_setitem_ndarray_3d` in `pandas/tests/indexing/test_indexing.py` isn't raising for empty index, iloc and DataFrame parametrization.

The mentioned PR added a new `xfail` test for this combination: `test_setitem_ndarray_3d_does_not_fail_for_iloc_empty_dataframe`. The goal of this P

[2020-03-21 22:12] cleconte987 commented on #32882
Here are the whole logs:

running build_ext
building 'pandas._libs.algos' extension
gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch x86_64 -g -DNPY_NO_DEPRECATED_API=0 -I./pandas/_libs -Ipandas/_libs/src/klib -I/Users/clement/Desktop/Contributing_to_pandas/lib/python3.6/site-packages/numpy/core/include -I/Users/clement/Desktop/Contr

[2020-03-21 22:27] cleconte987 commented on #32882
Ok I will try!

[2020-03-21 22:41] WillAyd commented on #32882
@cleconte987 can you post the output of pd.show_versions()?

[2020-03-21 23:29] cleconte987 commented on #32882
Actually the full full logs the first time I did it are these ones:

Compiling pandas/_libs/algos.pyx because it changed.
Compiling pandas/_libs/groupby.pyx because it changed.
Compiling pandas/_libs/hashing.pyx because it changed.
Compiling pandas/_libs/hashtable.pyx because it changed.
Compiling pandas/_libs/index.pyx because it changed.
Compiling pandas/_libs/indexing.pyx because it changed.
Co

[2020-03-21 23:32] WillAyd commented on #32882
Good point. Can you share your Cython Version and C compiler? Also can you attach the parsers.c file where the warning cones from?

Sent from my iPhone

[2020-03-22 01:06] cleconte987 commented on #32882
Yes the Cython version is 0.29.15
C Compiler (not sure which part is important so I put everything): [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
How can I attach the parsers.c file?

Here is a snippet containing line 50827:

`#if CYTHON_COMPILING_IN_CPYTHON
static CYTHON_INLINE PyObject* __Pyx_CallUnboundCMethod1(__Pyx_CachedCFunction* cfunc, PyObject* self, PyObject* arg) {
    if (lik

[2020-03-22 01:39] jbrockmendel commented on #32586
It looks like we have a special `Categorical._values_for_rank` used in factorize, do we need this more generally?

[2020-03-22 02:19] weishuaishuai1 commented on #32675
Hello，I meet this problem today ，but I import seaborn.set_style instead use dataframe. I do not know how to fix it ,can i get help from you?
my code as follow ,thank you very much!
`import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

def sin_plot(flip=1):
    x =

[2020-03-22 04:23] sachinh35 commented on #29547
Hi, found quite a lot of files that were either done or needed no changes, but were marked as not done. Just wanted to ask if this issue was solved and been accidentally not marked or you guys are still working on it. If it's not solved, I would like to contribute as well. These were some of the files that were done but not marked
* pandas/core/generic.py
* pandas/core/arrays/datetimes.py
* pandas

[2020-03-22 04:57] zachary822 opened #32902 "MultiIndex has problem selecting columns if one of the levels is tuples instead of str or int"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

If a MultiIndex has tuples in one of its levels, you can not use a nested tuple to get that column. It returns empty.

#### Expected Output

Column(s) from the original dataframe.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERS

[2020-03-22 06:46] mroeschke commented on #32865
Nice investigation @AlexKirko. The BaseIndexers are definitely designed more for `apply` (i.e. "treat each window as independent and apply an agg func on each window"), as the implementation of the other aggregation algorithms may reference another window.

Do you mind investigating which other rolling aggregations return different results?

[2020-03-22 08:45] sathyz commented on #28556
@jmg7173 are you still looking at this?

[2020-03-22 12:23] foxx commented on #32156
Can confirm, got the same exception due to a non-existing column name.

[2020-03-22 12:59] MomIsBestFriend commented on #29547
@sachinh35 I have updated the list :)

It got hard to keep track

[2020-03-22 14:07] SultanOrazbayev opened #32904 "Bug: TypeError: ufunc 'sqrt' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Calling plot.scatter on a pandas dataframe with option for size results in a TypeError. The same data can be plotted directly with matplotlib.

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-03-22 15:30] SaturnFromTitan commented on #31989
Closing this. I'll handle the remaining task "remove/avoid imports from conftest.py" in #30914

[2020-03-22 15:30] #31989 closed

[2020-03-22 15:30] SaturnFromTitan commented on #30914
take

[2020-03-22 16:29] TomAugspurger commented on #32904
Can you post the full traceback?

[2020-03-22 16:32] SultanOrazbayev commented on #32904
[code]

[2020-03-22 16:34] Mibu287 opened #32907 "Memory issues with HashTable when resizing"
As I read file `pandas/_libs/src/klib/khash.h`, I notice lines 226, 227 in macro `kh_resize_##name` ([source](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/klib/khash.h#L226))
[code]
If realloc fail in either statement, it set h->keys or h->vals to NULL and leak original pointer value. Any attempt to deref new value of h->keys or h->vals will lead to undefined behaviors.

Shoul

[2020-03-22 19:01] kashave commented on #15103
its working, thanks

[2020-03-22 19:41] roberthdevries commented on #27222
take

[2020-03-22 19:46] roberthdevries commented on #16393
I think the issue was never there with `read_csv`, as far as I understand this issue, there was a inconsistency between `read_csv` and `from_csv` where the former worked as expected. Now that one of the two parties is no longer around, there is also no inconsistency. Hence the ticket can be closed without further action.

[2020-03-22 20:24] sachinh35 commented on #29547
Thanks for updating the list! @MomIsBestFriend

[2020-03-22 20:30] #26218 closed

[2020-03-22 20:32] RandyBetancourt opened #32913 "pd.pct_change() inconsistently rasies SettingWithCopyWarning:"
When calling the get_daily_adjusted() function from the Alpha Vantage web API to building a DataFrame and calling the pd.pct_change() function on the resulting DataFrame, a SettingWithCopyWarning is raised.

Alternatively, if a similar DataFrame is built calling the DataFrame() constructor method with a call to the pd.pct_change() function, no SettingWithCopyWarning is raised.

[code]
#### Problem

[2020-03-22 20:33] #32196 closed

[2020-03-22 20:34] #32755 closed

[2020-03-22 20:38] gfyoung commented on #16393
Even so, we prefer to add a test just in case.  Can never have too many tests. 😉

[2020-03-22 20:43] jreback commented on #31190
closed by #31435

[2020-03-22 20:43] #31190 closed

[2020-03-22 21:22] chinmoysarangi commented on #14518
Hi @jreback I am trying to work on this. Hope that's okay.

Thanks in advance! :)
Chinmoy.

[2020-03-22 21:54] skasturi commented on #32859
I debugged this to the extent that the problem is in the following method:

https://github.com/pandas-dev/pandas/blob/44de8dc1bffb7db1389f8421ddb0dc9101c84896/pandas/_libs/algos.pyx#L794

I would like to debug this further and see what is going on. Are there standard guides on how to debug pyx files?

[2020-03-22 22:59] yaolan4 commented on #22347
take

[2020-03-22 23:07] yaolan4 commented on #22347
take

[2020-03-23 00:14] gaibo commented on #32251
Thanks for quick response on that. I ended up doing exactly like you suggested.
Don't think I can make a PR for now - spent a bit of time looking at the source and it was a lot haha.

[2020-03-23 01:06] geeeekDing opened #32917 "A strange bug in version 1.0.3"
[code]
#### Problem description
When I import pandas 1.03  in pycharm, an error message was returned. This error did not occur when I lowered the version of the package to 0.23.4. In addition, this error no occur in spyder .

Traceback (most recent call last):
  File "E:/coherenceestimation/code/venv/ROC_classifier.py", line 8, in <module>
    import pandas as pd
  File "D:\Users\ThinkPad\Anaconda

[2020-03-23 01:11] jbrockmendel commented on #32251
Yah, a DateOffset performance issue is actually how I got involved here in the first place

Closing this for now, we can re-open if you want to revisit this down th eline.

[2020-03-23 01:11] #32251 closed

[2020-03-23 01:35] jangorecki opened #32918 "memory regression in grouping by categorical variables"
There seems to be a regression when grouping by categorical columns.
One year old version 0.24.2 was able to complete the queryn, while 1.0.3 is hitting MemoryError.

`memory_usage(deep=True)` reports size of data frame to be **524 MB**, while my machine has **125 GB** so memory should not be an issue.

## Input

[code]

## Output

### 1.0.3

[code]

### 0.24.2

[code]

[2020-03-23 02:08] jbrockmendel commented on #32917
what python version is this running?

[2020-03-23 02:11] jbrockmendel opened #32922 "DEPR: Index.is_mixed"
We only use it in one place, and removing it there doesn't break anything.  Moreover, it behaves surprisingly:

[code]

[2020-03-23 06:57] skasturi opened #32923 "Proposal: Rename bool() to to_bool()"
https://github.com/pandas-dev/pandas/blob/f78b1cc46268e8cee8f5ccdacc41e667a6b92ef7/pandas/core/generic.py#L1371

This method conflicts with python's native `bool`. Wondering if it would be okay to rename this to `to_bool`.

I can get the needed changes done, but wanted to make sure it's okay before sending out a PR.

[2020-03-23 07:34] aboidriss commented on #25130
I didn't yet see why I get different results when using a dataframe of one row and a dataframe of 2 rows or more.
This happend to me when I was processing a list of dataframes, where the number of rows in the dataframe can be 0, 1 or more. I applied the same function on all data frames, and I found that the function is applied twice on the ones with one row.

[2020-03-23 07:40] jorisvandenbossche commented on #32586
Or putting this the other way around: could `rank` rather use `_values_for_argsort` instead? (I suppose this `_values_for_rank` from Categorical predates the EA interface work)

[2020-03-23 07:43] jorisvandenbossche commented on #30914
There are some useful things that are imported from conftest.py that cannot be converted to a fixture. So "fixing" this should first discuss what to do instead (or where to move those) ?

[2020-03-23 08:06] SaturnFromTitan commented on #30914
Good point @jorisvandenbossche I'll check the current violations and make a proposal here.

[2020-03-23 08:19] vinithg commented on #32745
@gfyoung We have not made any changes to AsyncWriter from our side.

[2020-03-23 08:29] gfyoung commented on #32745
https://github.com/pandas-dev/pandas/blob/6620dc67ded40c76e466c70027abd012898bbbb1/pandas/core/dtypes/inference.py#L96

@vinithg : This is the current implementation of that helper.  Are we missing something here?

Also, has `to_csv` worked with `AsyncWriter` in the past?

[2020-03-23 08:45] jorisvandenbossche commented on #2434
The new `pd.NA` scalar now propagates on comparison operations. So closing this issue.

[2020-03-23 08:45] #2434 closed

[2020-03-23 08:48] jorisvandenbossche commented on #32923
How does it conflict? It's a method, so I don't directly see a way that it can conflict with the built-in bool function?

I never use this method, so I don't have much of an opinion on the method itself, but also wondering whether it is worth a deprecation to rename this.

[2020-03-23 08:50] jorisvandenbossche commented on #32922
Fine with me to deprecate. People can always use `pd.api.types.infer_dtype` directly.

[2020-03-23 08:56] jorisvandenbossche commented on #32918
@jangorecki Thanks for the report!

Didn't yet look in detail, but possibly related to https://github.com/pandas-dev/pandas/issues/30552 ? Can you try if adding `observed=False` changes anything?

[2020-03-23 09:57] talaikis opened #32924 "ImportError: cannot import name 'rolling_cov"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Missing export in Pandas 1.0.3

#### Expected Output

#### Output of ``pd.show_versions()``

<details>
commit           : None
python           : 3.8.2.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 60 Stepping 3

[2020-03-23 10:14] datapythonista commented on #29310
Thanks @quangngd for all the research on this. I'm not an expert in HDF, but feels like there is a compression for the whole store, and another one for each table.

If I'm understanding it correctly, the test is checking that the tables are not compressed when using `complib`, but I guess the store should still be, otherwise that parameter would be pointless.

Can you run a `git blame` of that tes

[2020-03-23 10:25] AlexKirko commented on #32865
Hello, @mroeschke. No problem, see below.

Broken:
* min
* max (same implementation as min)
* std
* var
* count
* skew (indexing looks fine, but breaks with `window = 3`, `min_periods = 2`, while the vanilla window doesn't throw an error)
* cov
* corr

Working correctly:
* mean
* sum
* median
* kurt
* quantile

Yeah, supporting arbitrary BaseIndexers would require the algorithms to go O(N<sup>2</s

[2020-03-23 10:26] datapythonista commented on #32862
Is this running in a cluster? Is it possible that you have different versions in the edge node and the workers? Or that part of the code is somehow cached?

It's very strange that this is happening when importing, but the problem seems to be that files from two different Python versions seem to be mixed.

Did you try to create a new conda environment? Or even better, a new conda environment in a n

[2020-03-23 10:37] jreback commented on #32924
rolling_cv was depreciated in 0.18.x and removed iirc in 0.23.x or so

use https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html?highlight=rolling#pandas.DataFrame.rolling

[2020-03-23 10:37] #32924 closed

[2020-03-23 11:00] quangngd commented on #29310
Tracing back to PR #16355, @jreback has already mentioned this issue in the code review: https://github.com/pandas-dev/pandas/pull/16355#discussion_r120320235 but in the end it was still merged.
Do you want to add a check for when ```complib``` is explicitly set while ```complevel``` is not and then set ```complevel``` to a default value, say 1?

[2020-03-23 13:10] MomIsBestFriend commented on #30999
I have updated the original post, now that there's a script to detect bare ```pytest raises``` I have included instructions on how to use it, if anyone still got questions you are more than welcome to ask:)

[2020-03-23 13:55] maximrus23 commented on #32803
I got the same error with resampling and aggregating. However, if you switch order with aggregation and then resampling it works but the result is datetime object which is not aggregated within dates.
[code]

The above results in
[code]
However, with
[code]
Call is made twice to only first aggregation which is supported even if call ``` .mean()``` directly.

Credits: https://towardsdatascience.com

[2020-03-23 14:00] MarcoGorelli commented on #32623
Closing for now as it's unclear how to reproduce this

@gnudiff feel free to reopen if you can write a minimal reproducible example - perhaps inspect the files which give you an error to see what it is about that's the problem

[2020-03-23 14:00] #32623 closed

[2020-03-23 14:10] sbwiecko opened #32930 "pd.read_csv()/dtype and index_col combo"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

during pd.read_csv(), when I set a dtype to one column and set the same column as index, the index dtype is lost

#### Expected Output
When both dtype and index_col are used with the same column, I want the index in dtype specificied in the pd.read_csv() call, i.e. in my example str

#### Output of ``pd.show_v

[2020-03-23 14:18] TomAugspurger commented on #32913
It's likely not `pct_change` that's creating the warning, it's probably the assigning the variable.
 Does it go away if you copy `df2` prior to assigning?

[code]

[2020-03-23 14:56] RandyBetancourt commented on #32913
Yes, that works.  Thanks @TomAugspurger for the quick response.

[2020-03-23 14:56] #32913 closed

[2020-03-23 15:02] AlexKirko commented on #31992
This seems to no longer be a problem.

[2020-03-23 15:02] #31992 closed

[2020-03-23 15:13] simonjayhawkins commented on #31992
@AlexKirko can we revert #32025, see https://github.com/pandas-dev/pandas/pull/32025#issuecomment-586612568

[2020-03-23 15:23] simonjayhawkins opened #32931 "pd.NA in object dtype"
extract from https://github.com/pandas-dev/pandas/issues/32075#issuecomment-596735782

If we want to handle pd.NA in object dtype better, we will need to start using masks as well, and not rely on numpy behaviour.

For example, also this is wrong:

[code]

[2020-03-23 15:24] simonjayhawkins commented on #32075
#32931

[2020-03-23 16:03] TomAugspurger commented on #32885
Does https://pandas.pydata.org/docs/user_guide/timeseries.html?highlight=custom#holidays-holiday-calendars provide the necessary hooks you need to define a custom holiday?

[2020-03-23 16:11] TomAugspurger commented on #32904
We're eventually passing the string `s='c'` to matplotlib, rather than extracting the column. In https://github.com/pandas-dev/pandas/blob/d3e54851b5ab2f2c99c22b4bf5c49cea41141072/pandas/plotting/_matplotlib/core.py#L933-L936 I think we need an else clause checking for the user providing a column as a string.

As a workaround, you can pass the column directly with `s=df['c']`.

[2020-03-23 16:24] ma7555 opened #32933 "pandas to_sql(if_exists='replace') should not commit after the drop query"
#### Code Sample, a copy-pastable example if possible

it is hard to generate a reproducible code for this problem as it would need parallel processes reading from a table, and another process that updates that table frequently.

#### Problem description

https://github.com/pandas-dev/pandas/blob/d3e54851b5ab2f2c99c22b4bf5c49cea41141072/pandas/io/sql.py#L646
https://github.com/pandas-dev/pandas/bl

[2020-03-23 16:26] TomAugspurger opened #32934 "Incorrect dtype for concat with empty float and datetime columns"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The return dtype of concatentating a float64 and datetime64[ns] should be object dtype. That's typically the case when both are non-empty

[code]

But when either is empty, we get incorrect results

[code]

All of those should be object dtype.

[2020-03-23 16:28] SultanOrazbayev commented on #32904
Would the following work?

[code]

[2020-03-23 16:39] mborus opened #32936 "Pandas 1.0.3 on Windows 7 64bit throws error "DLL load failed while importing aggregations" on import. Version 1.0.1 works fine."
_TLDR;  2 DLLs are missing that were included in 1.0.1_

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm using Windows 7, German 64bit with a fresh installation of Python 3.8.2 64bit.
I updated pip, created a fresh virtual environment with "py -3 -m venv venv" and activated it.
This installation is in a restricted area with no direct, unfiltered internet

[2020-03-23 17:18] lsorber commented on #7509
This is still a bug in 2020:

[code]

Any plans on addressing this issue?

[2020-03-23 17:23] SvoONs commented on #29547
I would like to contribute with #32939 for files under `pandas/core/ops/`. How should one handle the docstrings as for example https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops/docstrings.py#L564 which are sometimes imported in other files as well? Wrapping in functions?

[2020-03-23 17:56] jreback commented on #7509
pandas is an all volunteer project.

if you would like to submit a PR then one of the volunteers would be able to code review

[2020-03-23 18:18] TomAugspurger commented on #32904
We'll leave this open until it's fixed.

[2020-03-23 18:45] TomAugspurger commented on #32936
This looks to be a duplicate of https://github.com/pandas-dev/pandas/issues/32857. I'll copy your comment over there.

[2020-03-23 18:45] #32936 closed

[2020-03-23 18:46] TomAugspurger commented on #32857
From @mborus:

_TLDR;  2 DLLs are missing that were included in 1.0.1_

#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I'm using Windows 7, German 64bit with a fresh installation of Python 3.8.2 64bit.
I updated pip, created a fresh virtual environment with "py -3 -m venv venv" and activated it.
This installation is in a restricted area with no direct, unfi

[2020-03-23 18:47] TomAugspurger commented on #32857
To everyone in this issue, does the problem occur using wheels from pandas 1.0.2 and 1.0.3?

[2020-03-23 20:16] jangorecki commented on #30552
What are the actions to be taken in this issue? Changing the default, depreciating argument, documenting, or something else? It is not clear from current discussion.
Could anyone provide a use case for a observed=False?

[2020-03-23 20:35] TomAugspurger commented on #30552
We're not changing the behavior. The only proposal that's on the table is detecting and warning when we have / are about to allocate too much memory.

When you have a fixed set of categories that should persist across operations (e.g. survey results).

[2020-03-23 20:50] jangorecki commented on #30552
Thanks. It is pretty significant regression, not very new one already, but still.

And how is it useful for grouping? Empty groups are being returned?
Usually it is addressed by a right outer join to such a categorical dictionary.

[2020-03-23 20:53] TomAugspurger commented on #30552
What's the regression? All categories are present in the output of a groupby by design, including unobserved categories.

[2020-03-23 20:56] mborus commented on #32857
Can't say for 1.0.2, but I have installed the 1.0.3 wheel "pandas-1.0.3-cp38-cp38-win_amd64.whl" and extracted the DLLs from "pandas-1.0.1-cp38-cp38-win_amd64.whl"

[2020-03-23 21:10] TomAugspurger commented on #32857
@mborus can you try for 1.0.2? Our wheel building infrastructure changed for 1.0.3, but we've had users report issues with 1.0.2 as well.

[2020-03-23 21:13] jbrockmendel opened #32951 "CI: Exception ignored in: 'pandas._libs.tslibs.util.get_c_string_buf_and_size'"
Seen in the logs lately:

[code]

Possibly related to #32701?

[2020-03-23 21:17] mborus commented on #32857
I'll give it a try. This may take a while because the process of getting the Pandas wheel behind the firewall is a bit complicated. I'll post the result when I know more.

[2020-03-23 21:20] TomAugspurger commented on #32857
Thanks!

[2020-03-23 21:48] mborus commented on #32857
I installed the 1.0.2 briefly and it's the same problem. The two DLLs are not installed, so the import fails the same way.

[2020-03-23 21:53] pbourguignon opened #32954 "Fixture `non_mapping_dict_subclass` is wrongly named"
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

In `conftest.py`, a fixture is defined with the name `non_mapping_dict_subclass`, which returns a minimal class implementing the `collections.abc.Mapping` base class by minimally wrapping a `dict`.

Obviously, the intended name was `non_dict_mapping_subclass

[2020-03-23 22:12] jbrockmendel opened #32957 "BUG: iloc on DataFrame[ea]"
[code]

Maybe slicing on the wrong axis?

[2020-03-23 22:17] jangorecki commented on #30552
Regression is that code that worked fine on 0.24.2 is not hitting MemoryError

[2020-03-23 22:23] mattlbeck opened #32958 "Subsequent calls to read_csv for newly created S3 files in the same directory throws an error"
#### Code Sample, a copy-pastable example if possible

[code]

Produces the trace summarised below:

[code]

#### Problem description

Subsequent calls to `read_csv` beyond the first call causes an error when the target is a file in S3 within the same directory as a file that has previously been read by `read_csv`

The problem appears to be overly aggressive caching of S3 directory listings. But f

[2020-03-23 23:07] martinfleis opened #32960 "Dataframe change alters original array used in creation"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description

Pandas master has this strange change in behaviour when df created from array changes the original array if the value in the related column is changed. Pandas 1.0.3 does not alter the original array. It seems that it does a copy somewhere while master does not do that anymore.

I don't think the original

[2020-03-23 23:10] shan224 commented on #31708
Any slick way to handle this in versions > 1.0?

[2020-03-24 00:08] jbrockmendel commented on #32960
I expect this was caused by #32831 (for which I still need to add a whatsnew note)

I think we _do_ want a view on the original data, but you're right that being consistent is the priority.  I'll look at this before long, but you're welcome to beat me to it.

[2020-03-24 00:51] SaturnFromTitan commented on #30914
Alright, so there are basically three types of cases:
1. `indices_dict` is imported to create a more specific fixture. I submitted two PRs to resolve these cases as they can easily be replaced with using `indices`
1. `_get_cython_table_params` is imported. I suggest moving it to `pandas._testing` as it's not used for any fixtures anyways it doesn't really make sense to have it in `conftest.py`
1.

[2020-03-24 01:17] TomAugspurger commented on #32960
In the DataFrame docstring, we have

[code]

It's a bit unclear whether having `copy` start applying to dict-like input is an API change or not, but it seems like getting `copy` to apply to all cases would be a good thing to have.

[2020-03-24 01:20] TomAugspurger commented on #30552
Did it have the correct output in 0.24.2? In pandas 0.24.2 I have

[code]

which is incorrect. So it sounds like you were relying on buggy behavior.

[2020-03-24 01:30] TomAugspurger commented on #32857
OK thanks for checking!

@jbrockmendel or @WillAyd right now I'm guessing this is a wheel building issue, but do you know if we've had any changes to our build configuration between 1.0.1 and 1.0.2 that would cause this? https://github.com/pandas-dev/pandas/issues/32857#issuecomment-602787448 is the clearest summary.

[2020-03-24 01:39] TomAugspurger commented on #32857
Hmm https://github.com/pandas-dev/pandas/pull/32386/files touched `window/aggregations`. Is there anything there that seems off? It seems innocuous.

[2020-03-24 01:40] TomAugspurger commented on #31874
@usman98789 this may be premature to work on. We still need to have a discussion on whether this is a desirable change.

[2020-03-24 01:40] TomAugspurger commented on #31874
If you're interested in working on it, then feel free to drive the discussion forward.

[2020-03-24 03:17] quangngd opened #32967 "Empty error message in tz_localize"
#### Code Sample, a copy-pastable example if possible

[code]
The example is picked directly from
```pandas/tests/scalar/timestamp/test_timezones.py::TestTimestampTZOperations::test_tz_localize_pushes_out_of_bounds```
#### Problem description
Error message is empty.

_Originally posted by @simonjayhawkins in https://github.com/pandas-dev/pandas/pull/32929_

#### Expected Output
Meaningful error me

[2020-03-24 04:06] AaryamanCodes commented on #32857
I installed it using pip. I am using windows 10. Should I go to Panda's official website and download it?

[2020-03-24 04:10] AaryamanCodes commented on #32857
@TomAugspurger I am unable to use the pandas module though I can use it on Jupyter Notebooks without an error. How do I need to download any other version because I have used pip install.

[2020-03-24 04:19] AaryamanCodes commented on #32936
Download again using pip and it may work for you or try out Jupyter notebooks, It works there.

[2020-03-24 08:28] mattlbeck commented on #32958
Just to clarify - this is only an issue if:

- The target file for subsequent calls did not exist before the first call to `read_csv`, thus invalidating any directory cache.
- The target file is in a directory (i.e. S3 key prefix) that has been previously targeted by a call to `read_csv`

Presumably any S3 read operation form pandas has the same effect, but I haven't tested this.

[2020-03-24 09:17] simonjayhawkins commented on #32967
Thanks @quangngd for posting this.

[2020-03-24 09:51] benjamin-ny commented on #32156
It's also inconsistent:

[code]

raises the correct error: `KeyError: "Column 'G' does not exist!"`

[2020-03-24 10:14] jaydave1988 opened #32971 "import is failing in windows in 1.0.3 version"
Import is failing in 1.0.3 version of panda in windows. It was working in 0.22 version

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python36-32\lib\site-packages\pandas\__init__.py", line 55, in <module>
    from pandas.core.api import (
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python36-32

[2020-03-24 10:20] simonjayhawkins commented on #30914
for 1 the two PRs lgtm.

agree with 2.

for 3 could have the constants in a separate module as suggested (like token.py — Constants used with Python parse trees) and then import into testing.py (like tokenize.py — Tokenizer for Python source - All constants from the token module are also exported from tokenize) and then we could do say tm.UNSIGNED_INT_DTYPES

[2020-03-24 10:28] jorisvandenbossche commented on #32957
I actually get an error:

[code]

[2020-03-24 10:29] jorisvandenbossche commented on #32957
Ah, that's in the repr. Stil strange that you don't get an error in the repr

[2020-03-24 11:05] jorisvandenbossche commented on #32971
Can you check if installing pandas 1.0.2 works? (there was a change in how the wheels are created in 1.03, so if 1.0.2 still works, it might be due to that)

[2020-03-24 11:58] SaturnFromTitan opened #32974 "TST: Rename indices fixture"
Following up on https://github.com/pandas-dev/pandas/pull/28865#discussion_r333052051 by @simonjayhawkins we should discuss if we want to rename the indices fixture.

A singular name seems more reasonable to its use cases. The most obvious contender is `index`.

Does any1 have objections?

**EDIT:** In [another comment](https://github.com/pandas-dev/pandas/pull/32963#discussion_r397373641) jreback

[2020-03-24 12:24] jorisvandenbossche commented on #32960
We should certainly try to clear up the situation about what is the expected behaviour and test this properly.

I agree it is a good thing that we *can* create a DataFrame from a dict of EAs without requiring a copy.
But the question is maybe if this should be the default? We could also keep the copy behaviour by default, and allow `copy=False` to not copy (which means the actual default needs to

[2020-03-24 12:26] TomAugspurger commented on #32857
@AaryamanCodes this isn't something that would be affected by using it through the notebook or through the terminal. Most likely your notebook is using a different environment.

It sounds like pandas 1.0.1 is not affected, so you can pin to that version for now.

[2020-03-24 12:33] TomAugspurger commented on #32960
Long-term, we want `copy=False` right? That's what we do for Series, and having the meaning of copy depend on the type of `data` seems strange. And I don't think we can have a warning here, it would be too noisy.

If we deem this is an API change, rather than a bugfix or new feature, we can manually insert a copy for dict-like input, and then remove that in 2.0.

[2020-03-24 12:34] TomAugspurger commented on #32971
Duplicate of https://github.com/pandas-dev/pandas/issues/32857.

1.0.2 is also affected.

[2020-03-24 12:34] #32971 closed

[2020-03-24 12:35] TomAugspurger commented on #32857
cc @cgohlke if you have any guesses. (see https://github.com/pandas-dev/pandas/issues/32857#issuecomment-602787448). Though the fact that it's failing with your wheels and the one we built on azure pipelines indicates that it's a problem with our configuration.

[2020-03-24 12:45] jorisvandenbossche commented on #32960
So trying to sum up the situation, at least for a subset of the cases.

With master:

<table>
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>EA</th>
      <th>ndarray</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Series(..)</th>
      <td>view</td>
      <td>view</td>
    </tr>
    <tr>
      <th>DataFrame({'a': ...})</th>
      <td>view</td>
      <td>copy</td>

[2020-03-24 12:48] jorisvandenbossche commented on #32960
The original case where this was catched by @martinfleis is where we modified the array object (not the data).
So maybe at least the DataFrame constructor should take a "view" of the array? (same data, different array object)

[2020-03-24 13:19] jeremywhelchel opened #32976 "Categorical columns are slow in groupby operations"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

We have a dataframe like the above in production and noticed a particular groupby call was drastically slowing down our pipeline. We were able to workaround the issue by converting categorical types to strings before the groupby operation.

The issue occurs when categorical values are in the grouped frame (not

[2020-03-24 13:35] TomAugspurger commented on #32976
Initially, I thought this would be due to unobserved categories, but the issue is present even with `observed=True`. The slowdown seems to be from doing the categorical aggregation in Python (`_aggregate_series_pure_python`) rather than Cython (`_cython_agg_general`). I suppose that Categorical cannot be passed to our Cython aggfuncs, which expects a 2d ndarray.

[2020-03-24 13:41] xhochy commented on #32586
### `_from_sequence(values)

This would break `fletcher` quite a bit as nearly all scalar types we support are also types `pandas` supports natively, so `pd.array` would always return the `pandas.array` type, not the `fletcher` one.

Also there was a mention here that `_from_sequence` should only work for `ExtensionDtype.type`, this is also problematic. For example in the datetime case, one would

[2020-03-24 13:42] xhochy commented on #32586
cc @crepererum who works on https://github.com/JDASoftwareGroup/rle-array

[2020-03-24 13:50] TomAugspurger commented on #32586
Is it possible for you to define `.type` as a metaclass that registers each scalar type, as in https://github.com/ContinuumIO/cyberpandas/blob/dbce13f94a75145a59d7a7981a8a07571a2e5eb6/cyberpandas/ip_array.py#L22-L29?

[2020-03-24 13:52] jorisvandenbossche commented on #32586
Can you clarify how that would be problematic?
And to be clear, if we do this change, we would *only* call `_from_sequence` in places where we know the data came from the array. Not in general construction functions like `pd.array(.., dtype=)`. For that, something less strict is still needed (see my comment above about either introducing a separate `_from_scalars`, or either letting this general c

[2020-03-24 13:56] TomAugspurger commented on #32958
s3fs currently caches filesystem instances. These can be cleared with `s3fs.S3FileSystem.clear_instance_cache()`. Does that resolve the errors?

[2020-03-24 14:05] xhochy commented on #32586
Yes and no, we could though specify it currently as the union of `dict, list, int, float, bytes, str, datetime, np.datetime, pd.Timestamp` and some more. But I'm not sure whether this would bring any valuable information into the interface as it a very broad range of types.

`fletcher` is here the extreme case where have `FletcherContinuousArray._from_sequence` which is not yet actually yet bound

[2020-03-24 14:06] GaurangSharma44 commented on #14518
Take

[2020-03-24 14:11] jorisvandenbossche commented on #32586
And I also don't think this should be the goal / point of `ExtensionDtype.type`

`_from_sequence` gets the `dtype` object passed, so even if the implementation is not bound to a dtype-specific class, it can use the dtype information to return the correct object.

That's not where `_from_sequence` would be used. There *are* occasions that you do not return a FletcherArray, such as getitem for a sca

[2020-03-24 14:17] jorisvandenbossche commented on #32586
To put it in another way: generally speaking, `_from_sequence` (or a new, stricter `_from_scalars`) should be used when, for some reason, we go through object dtype (or a list of scalars, or something equivalent).
So that means that `EA._from_sequence(np.asarray(EA, dtype=object), dtype=EA.dtype)` (or  `EA._from_sequence(list(EA), dtype=EA.dtype)`) should be able to reconstruct. For such a case, I

[2020-03-24 14:19] xhochy commented on #32586
Yes

[2020-03-24 14:23] sathyz commented on #32967
@quangngd  shall I work on this?

[2020-03-24 14:31] quangngd commented on #32967
sure, please go ahead and take it

[2020-03-24 14:41] cgohlke commented on #32857
I think the C++ runtime DLLs need to be packaged in the `_libs/window` directory :

https://github.com/pandas-dev/pandas/blob/f20331d543c5d42e54dff29135146fc0e6798a84/setup.py#L760

[2020-03-24 14:57] mattlbeck commented on #32958
It does. I was resolving this by calling `invalidate_cache` on the `S3FileSystem` instance within pandas, but this class method is a solution that can be used outside of pandas. Thanks!

[2020-03-24 14:58] #32958 closed

[2020-03-24 15:03] sathyz commented on #30999
I'll take,

  pandas/tests/scalar/timestamp/test_arithmetic.py
  pandas/tests/scalar/timestamp/test_comparisons.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/scalar/timestamp/test_timezones.py
  pandas/tests/scalar/timestamp/test_unary_ops.py

[2020-03-24 15:17] sumanau7 commented on #32967
/take

[2020-03-24 15:21] sumanau7 commented on #32967
take

[2020-03-24 15:31] TomAugspurger commented on #32958
@mattlbeck in s3fs / fsspec master things are a bit better perhaps. See https://github.com/dask/s3fs/pull/297/files, which lets you disable things when you create the S3FileSystem.

[2020-03-24 15:57] sirignanoj commented on #28168
we're going to take the ecosystems page too if that's okay

[2020-03-24 16:01] TomAugspurger commented on #32857
Thanks. Is it strange that this is only coming up for 1.0.2 and newer, since there weren't any changes to the setup.py on the 1.0.x branch after 1.0: https://github.com/pandas-dev/pandas/commits/1.0.x/setup.py

Can people running into this confirm that it only occurs with Python 3.8 (not Python 3.7)? 3.8 changed how DLL loading works IIRC. I've seen two people report using 3.8.2. Does anyone see i

[2020-03-24 16:17] jbrockmendel commented on #32957
Yah, I actually get the same behavior you're getting _now_, but didnt 18 hours ago.  No idea what changed

[2020-03-24 16:24] GrzegorzKrug opened #32982 "ImportError: Unable to import required dependencies. Most likely due to a circular import. Conflict with numpy"
I am working in python 3.8.1 to be specific.
This error appears when runing script in conda environment and also in docker image.

### Reproducing code example:

[code]
[code]
[code]

### Error message:
[code]
### Numpy/Python version information:
[code]

I can not do this. Got error when importing numpy itself
[code]
[code]

From my test, I know that conflict is when I install `pandas` and `numpy

[2020-03-24 16:47] fabianegli commented on #32885
This comes close, but it lacks the essential functionality to define holidays that occur on dates that are defined relative to the lunar cycle.

But I see that pandas basically only provides wrappers for `easter` from `dateutil`. So the question arises: Is this out of scope for pandas? Should this be propagated upstream to dateutil? Or do they already have this functionality and it would only requ

[2020-03-24 16:53] jreback commented on #32885
this out of scope for both pandas and dateutil

i would recommend building a library that uses pandas to do this (or check if there is already one)

[2020-03-24 16:53] #32885 closed

[2020-03-24 17:09] sathyz commented on #32967
take

[2020-03-24 17:19] GrzegorzKrug commented on #32982
I got operator.py in my files. It breaks everything, but this was problem. I just renamed it and it ok.

[2020-03-24 17:19] #32982 closed

[2020-03-24 17:21] jbrockmendel commented on #31827
Discussed briefly in #32415 and the answer appears to be "yes".  Closing, can re-open if you want to discuss alternatives (see question from my previous comment)

[2020-03-24 17:21] #31827 closed

[2020-03-24 17:56] jaydave1988 commented on #32857
I am facing the same error for 1.0.3 and 1.0.2 using python 3.6.2.
C:\Users\Administrator>python --version
Python 3.6.2

[2020-03-24 18:13] cclienti commented on #26551
Hello,

I'm trying to reproduce the workaround mentioned by @rjurney with a parquet file that use multiple row_groups:

[code]
And I got an exception:

[code]

If I use a dataset directory instead of a parquet file, there is no exception but the filter is not pushed down to row_groups of a parquet file (as mentioned in the doc I think) and nothing is filtered.

So I wonder if @rjurney was dealing

[2020-03-24 18:28] TomAugspurger commented on #32857
OK thanks. So it probably isn't related to Python 3.8's changes to DLL loading then.

Is there a windows equivalent of `ldd` or `otool`? If I run

[code]

Can people check the windows equivalent for `aggregations.pyd` for 1.0.1 and 1.0.2 (or 1.0.3)?

Any if anyone is able to compile pandas from source, @cgohlke's suggestion https://github.com/pandas-dev/pandas/issues/32857#issuecomment-603279041 m

[2020-03-24 18:33] mborus commented on #32857
One more thing about this: I looked close at the other Windows7 machine, where version 1.0.3 worked fine. On this machine I found the missing DLLs msvcp140.dll and concrt140.dll on the system path in c:\windows\system32 and dozens of other places. (like inside matplotlib, PySide2, numpy, dropbox and such).

My guess is that it's working for most Windows users if Pandas is missing the DLLs because

[2020-03-24 18:40] MomIsBestFriend commented on #13346
On master

[code]

Raises the following:

[code]

Full traceback:

<details>

[code]

</details>

---

Installed versions:

<details>

INSTALLED VERSIONS
------------------
commit           : 4b64f9809eebb517dcc82741970f5c3aad832031
python           : 3.7.6.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.5.11.a-1-hardened
Version          : #1 SMP PREEMPT Sat, 21 Mar 20

[2020-03-24 18:55] jbrockmendel commented on #31784
It looks like the issue is that `df._item_cache` is not being invalidated correctly after the `df.copy()` call performs consolidation.  A PR to fix this would be welcome.

[2020-03-24 18:58] MomIsBestFriend commented on #7211
take

[2020-03-24 18:59] rwolst commented on #31827
I think this is fine to close, essentially the work arounds are:

1) Use the code from an old version of pandas in the project you are working on (i.e. from https://github.com/pandas-dev/pandas/blob/0.22.x/pandas/core/algorithms.py#L238).

2) Can also be accomplished with a merge, although slightly uglier:

[code]

Also should be careful of some potential rounding/casting errors.

[2020-03-24 21:31] roberthdevries commented on #27750
This looks like a duplicate of #22610

[2020-03-24 21:33] #32806 closed

[2020-03-24 21:40] TomAugspurger commented on #24589
@sullivanbt after https://github.com/pandas-dev/pandas/pull/32704, is divmod the only one remaining?

[2020-03-24 21:42] datapythonista commented on #28168
Sure, thanks @sirignanoj

[2020-03-24 21:51] Conxz commented on #32190
I did not get the point by @pandrey-fr . Here it seems to be a probme of dropna().
After applying df.dropna(inplace=True), there should be only 1 row in df. It does not make sense to me that when you asign the df to the new dat_df, it could generate 2 rows. (actually you could generate 3 if you data=np.zeros(3). But this is not correct.)

[2020-03-24 22:06] dmh43 opened #32988 "REGR: `replace` casts columns to `object`"
#### Calling `df.replace` casts columns to `object`

[code]
#### Problem description
I'd expect that the dtypes of the columns remain the same after replacing with pd.NA (especially considering no values are replaced in the above call). We do not get this issue if `to_replace` is any subset of `[None, -np.inf, np.inf]`. We get the same issue if `value` is instead `np.nan`.

#### Expected Output
[c

[2020-03-24 22:21] MaozGelbart opened #32989 "Int64 Series input to numpy.polyfit() fails"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The code raises from within Numpy:
[code]
However, the same Series with ``dtype=int64`` do not raise. This happens for both ``pandas=0.24.0`` and ``pandas=1.0.3``

Since this dtype is documented as experimental I opened it as a pandas issue. Not sure if this is related to #29738 .

#### Expected Output
[code]
#

[2020-03-24 23:55] WillAyd opened #32992 "pd.NA TypeError in drop_duplicates with object dtype"
#### Code Sample, a copy-pastable example if possible

[code]
This same failure isn't present when using an extension type:

[code]

[2020-03-25 00:36] kenjioman opened #32993 "df.drop_duplicates() not working as expected"
#### Code Sample, a copy-pastable example

[code]
#### Problem description

If you try running the code above, you see only rows `0, 2, 3, 5, and 7` are retained.  However, the actual strings are all unique, and I would have expected `drop_duplicates()` to retain all rows.  **It's looking like `drop_duplicates()` only compares strings up to non-printing characters, then everything else gets ignore

[2020-03-25 04:27] bharat-ics opened #32998 "df.pct_change() not working as expected"
It appears that pct_change is handling signs wrongly!

[code]
#### Problem description

#### Current output from dataframe
index | A | % Change
1 | -482.411 | 0.000000
2 | -357.073 | -25.981580
3 | -506.110 | 41.738524

#### Expected Output from the dataframe
index | A | % Change
1 | -482.411 | 0.000000
2 | -357.073 | 25.981580
3 | -506.110 | -41.738524

#### Output of ``pd.show_versions()``

INST

[2020-03-25 04:45] bharat-ics commented on #32998
I beleive this structure of logic solves the issue:
**numerator=income_trend['PL after tax'].diff()
numerator=numerator.shift(periods=-1)
numerator/income_trend['PL after tax']**

[2020-03-25 05:00] #32998 closed

[2020-03-25 07:28] jorisvandenbossche commented on #29814
So on latest master, the original bug report now is correct:

[code]

This might be due to https://github.com/pandas-dev/pandas/pull/32825, a PR that refactored `from_spmatrix` for performance.

But, the SparseArray.from_spmatrix is still buggy:

[code]

[2020-03-25 07:38] ivirshup opened #33001 "Idea: Make pd.Index.values not writable"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`Index` objects are assumed to be immutable, but wrap a mutable object. In my experience, it's pretty common to just grab the `.values` from pandas object. This has caused surprising behaviour in my own code, and has been discussed here before https://github.com/pandas-dev/pandas/issues/19862.

I would like to

[2020-03-25 07:41] pandrey-fr commented on #32190
I will repeat then:

You may think of it as a left outer join between the tables, based on rows' index Since the table on the right does not share any index with the left one, no value can be successfully carried over. This is fixed by assigning `df['name'].values`, which triggers a join on rows' _positions_ rather than index (due to the lack of one on the `.values` resulting numpy array).

I hope

[2020-03-25 07:52] paulrougieux commented on #30552
In the context of multiple categorical variables used as the groupby index. Persisting a fixed set of categories (inside each categorical variable) is a different issue i.e. maybe the observed `argument` should be disentangled in two arguments: (1) one argument for the allocation of all possible combination of these categorical variables. For example `observed=False` would tell pandas to keep all

[2020-03-25 08:59] rooom13 opened #33002 "Timestamps with different same tzinfo but different tzinfo type (datetime.timezone vs pytz.UTC)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Current's timezone comparison is not timzone object type sensitive. Even if two dates are UTC but different tzinfo object (e.g: datetime.timezone.utc and pytz.UTC) they will be considered different timezones.
This could lead to unstabilitites since a Timestamp can have both obejct types as tzinfo

#### Expected

[2020-03-25 09:32] charles-typ opened #33003 "Extra factorization for inner join(documentation issue)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hi,

I'm trying to understand the pandas source code for an **inner join** using pandas.merge. I've got a sense that the procedure is basically factorizing both the left keys and the right keys to values like [0,1,2,3...], and then join the table together based on the factorization result.

The point that I'm c

[2020-03-25 09:39] KaiRoesner opened #33004 "DOC: for pandas.read_json() using orient='table' add docu about schema spec"
Please provide documentation about what kind of type specifications are supported when using the `pandas.read_json()` function with `orient` = 'table'. Currently the [function documentation](https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.read_json.html#pandas.read_json) does not even mention 'table' under "The set of possible orients is". There is only a small example in the

[2020-03-25 09:56] ivirshup commented on #33001
As is want to happen, this looks more complicated than I expected. After changing the `values` property to return a read only view, 222 tests fail. I've investigated a bit. These fail with one of two error messages:

## `ValueError: buffer source array is read-only` (101 failures)

This looks like a cython issue, but I'm not that familiar with cython. I couldn't quite follow the history, but I thi

[2020-03-25 09:57] jangorecki commented on #32918
@jorisvandenbossche Thanks for pointing that out. It was looking as a duplicate, but I tried it and it doesn't seems to solve the problem:
[code]

[2020-03-25 10:22] Ankan1991 commented on #21233
Just in case someone is looking for a workaround , you can create a helper dictionary and get the values:
For the mentioned list:
[code]

For a series :

`pd.cut(series,bins).map(d)`

[2020-03-25 11:16] SylvainGuieu opened #33007 "min of Index does not have required axis= keyword for np.min"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The np.min (or max, ... etc)  function failed probably because the .min method of Index does not have the axis keyword
np.min should behave like min builtin

#### Expected Output
1

#### Output of ``pd.show_versions()``
<details>
INSTALLED VERSIONS
------------------
commit: None

pandas: 0.23.4
pytest: 4.0.2

[2020-03-25 11:19] jreback commented on #33007
you have an older version
try this in 1.0.3

[2020-03-25 11:28] SylvainGuieu commented on #33007
Yes, that it. thanks.
Closing the issue

[2020-03-25 11:28] #33007 closed

[2020-03-25 11:31] bashtage commented on #31544
Seems like a bug. Might need to handle categories using a new path when chunked.

[2020-03-25 11:44] sathyz commented on #30999
seems all tests in pandas/tests/scalar/timestamp/ are already fixed.

[code]
pandas/tests/arrays/test_boolean.py => is missing.

I'm taking
 pandas/tests/arrays/interval/test_ops.py
 pandas/tests/arrays/test_datetimelike.py

  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_timegrouper.py

[2020-03-25 12:17] Lamm-a opened #33011 "pandas.errors.EmptyDataError: No columns to parse from file despite file being populated"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I am trying to read in a txt as a pandas dataframe that I previous edited a column header in using `.replace()` and I get the error:

[code]

#### Sample of the inut file

[code]

#### Output of ``pd.show_versions()``

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0

[2020-03-25 12:35] Lawrr opened #33012 "PERF: Performance regression with memory_usage(deep=True) on `object` columns"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Performance of `memory_usage(deep=True)` on `object` columns seems to have regressed significantly since v0.23.4. Once in v0.24.0, and another regression in v1.0.0 that remains in v1.0.3.

**Output**
v1.0.3
[code]
v0.24.0
[code]
v0.23.4
[code]

Removing `df["a"] = df["a"].astype("object")` reverts it back to t

[2020-03-25 12:50] jorisvandenbossche opened #33013 "ENH: Support downcasting of nullable dtypes in to_numeric"
This currently does not yet work:

[code]

I suppose because under the hood a conversion to object dtype array is happening somewhere.

[2020-03-25 12:59] TomAugspurger commented on #30552
Sorry @paulrougieux, I don't follow your proposal. Could you add an example what the two keywords would do?

`observed=True/False` doesn't affect the dtype of the index. That will always be the same dtype as the grouper.

[code]

It only controls whether the aggregation function is applied to the unobserved category's groups as well.

[2020-03-25 13:05] paulrougieux commented on #30552
@TomAugspurger I misunderstood your previous comment about the "fixed set of categories that should persist across operations ". Thanks for clarifying.

[2020-03-25 13:07] TomAugspurger commented on #33012
Was the previous (0.23.4) output correct?

`deep=True` only has an effect for object dtype. With object dtype we need to inspect each value for its memory usage.

[2020-03-25 13:09] TomAugspurger commented on #33004
What's a type specification?

[2020-03-25 13:16] bersbersbers opened #33014 "to_json should make separators configurable (similar to json.dump)"
#### Code Sample, a copy-pastable example if possible

[code]
outputs
[code]
#### Problem description

Any JSON prettyfier (including bare VS Code) wants to replace all `:` by `: `. So output of `to_json` should behave as `json.dump` does, at least when `indent is not None` (in which case the user clearly does not care about file size):

https://docs.python.org/3/library/json.html#:~:text=To%20get

[2020-03-25 13:26] Lawrr commented on #33012
The column sizes look the same. Looks like the index size changed in v0.25.0.

v1.0.3
[code]

v0.25.0
[code]

v0.24.0
[code]

v0.23.4
[code]

[2020-03-25 13:30] jorisvandenbossche commented on #32586
So for the "`_from_sequence` strictness" discussion, assuming we agree that we need a strict version for certain use cases, I mentioned two options above, to be summarized as:

1) Keep `_from_sequence` as is, and add a new `_from_scalars` method that is more strict (that in the base class can call `_from_sequence` initially for backwards compatibility). We can use `_from_scalars` in those cases wh

[2020-03-25 13:38] TomAugspurger commented on #33012
Thanks for posting all the timings. The slowdown from 0.25.0 to 1.0.3 looks concerning. It seems primarily driven by doing `lib.memory_usage_of_objects(self.array)` in

https://github.com/pandas-dev/pandas/blob/28e0f18a30451601e8ac37b3ed75777bf1ed8f10/pandas/core/base.py#L1388-L1390

That's now a `PandasArray`, and it involves doing a getitem on every element, which is slower that NumPy's ndarray.

[2020-03-25 13:42] TomAugspurger commented on #33012
With that diff

[code]

[code]

vs master

[code]

[2020-03-25 14:05] TomAugspurger commented on #32586
I think my preference is for `_from_sequence` to be the "parse this sequence into an array" and for `_from_scalars` to be the strict version.

[2020-03-25 14:06] ss-is-master-chief commented on #33014
Hey @bersbersbers, can I pick this up?

[2020-03-25 14:07] TomAugspurger commented on #33014
Let's confirm that we want to suppor tthis first, and what the API will look like (cc @WillAyd). We only recently added support for indent.

[2020-03-25 14:11] wvwhome commented on #17048
json.loads for a single item creates about a 50K dictionary for me for each of the 7,000 lines.   The resultant dataframe is 38 MB.   The memory issue is that 314 MB gets tried up in memory for intermediate processing and stays as a high mark.   Statement is:
   `  data_frame = pd.read_json(in_file_name, lines=True)  `

[2020-03-25 14:20] WillAyd commented on #33014
I think this is fine (actually thought indent provides spacing here already) but don’t think we need a new keyword.

[2020-03-25 14:22] WillAyd commented on #33014
Actually indifferent in the keyword. I don’t see why it needs to accept an open ended array of arguments but I suppose it does match the stdlib

[2020-03-25 14:28] jorisvandenbossche commented on #33012
I think the `Series.memory_usage` implementation should simply use `self._values` instead of `self.array`? ExtensionArrays can never be object dtype, so never take that path.

[2020-03-25 14:29] jorisvandenbossche commented on #33012
(I am actually surprised that `memory_usage_of_objects` works with passing a PandasArray, I would have though cython to raise an error when not getting an ndarray/memoryview)

[2020-03-25 14:32] louispotok commented on #17048
Just to be clear, the [PR](https://github.com/pandas-dev/pandas/pull/17168) that closed this issue did NOT solve the underlying issue of memory usage when reading json. Instead it added a parameter `chunksize` to the `read_json` method which allows you to balance speed vs memory usage for your usecase. See the [docs on line-delimited json](https://pandas.pydata.org/pandas-docs/stable/user_guide/io

[2020-03-25 15:10] WillAyd commented on #32857
Is this reproducible outside of Docker? AFAICT msvcp140.dll isn't necessarily a system file but at the same time is required to run C++ applications. There's a similar thread on MSFT forums about it missing:

https://answers.microsoft.com/en-us/windows/forum/windows_10-performance/msvcp140dll-is-missing-in-my-win-10/1c65d6b0-68b8-4b59-b720-3e6a33038389

So maybe the Docker container should just re

[2020-03-25 15:47] fredmontet commented on #15354
This feature is indeed a must have when time series are involved!

[2020-03-25 16:00] KaiRoesner commented on #33004
At [datatofish.com](https://datatofish.com/export-pandas-dataframe-json/) there are some nice examples of how to use the various values of the `orient` parameter, and for `orient` = 'table' they have:

[code]
The `pandas.read_json()` documentation should specify which values are supported for the "type" property in the table schema. From the example, I gather that "string" and "integer" are allowe

[2020-03-25 16:58] jbrockmendel commented on #32586
I would rather avoid having adding another constructor (im already not wild about `_from_sequence_of_strings`).

IIRC a big part of the reason why _from_sequence became less strict than originally intended is because DTA/TDA/PA _from_sequence took on a bunch of cases that the DTI/TDI/PI constructors handle, in particular `ndarray[i8]` which by strict rules shouldnt be accepted.  Most of the intern

[2020-03-25 17:04] jorisvandenbossche commented on #32586
We still need a "non-strict" version for general construction (so for the same reason that our internal datetime-like ones were not strict). For example, `_from_sequence` is also used in `pd.array(.., dtype=)` and in `astype`.

[2020-03-25 17:08] jbrockmendel commented on #32586
Maybe something like `fromtype` that `astype` can defer to?  There should also be some relationship between `fromtype` and _from_factorized

[2020-03-25 17:17] jorisvandenbossche commented on #32586
Well, see my option number 2 above (https://github.com/pandas-dev/pandas/issues/32586#issuecomment-603840140), which proposes to defer this to the `astype` machinery. So that will involve some ways to have a casting method from a certain dtype to the EA dtype in question.

I don't think this is necessarily required. The values for factorize can be completely internal to the array (not to be used b

[2020-03-25 17:24] jaydave1988 commented on #32857
For me, it is working in my laptop, but it is not working in Windows VM.
It is not working even after applying above solution.

[2020-03-25 17:37] JoElfner opened #33017 "Unspecific error message when setting singular index with np dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When passing a non-collection type as an index, pandas typically raises a quite helpful error message of the following form:
`TypeError: Index(...) must be called with a collection of some kind, 5 was passed`

Whereas when passing a non-standard type non-collection item as an index, pandas seems to raise some u

[2020-03-25 17:46] rben01 commented on #32976
I'm also seeing this on pandas 1.0.3

[2020-03-25 18:02] dsaxton commented on #33011
It looks like you're using an old version of pandas; does the problem persist if you upgrade? I'm not able to reproduce this error on 1.0.3 or master.

[2020-03-25 18:08] mroeschke commented on #33002
Thanks for the report. This is a duplicate (underlying) issue of https://github.com/pandas-dev/pandas/issues/32619

[2020-03-25 18:08] #33002 closed

[2020-03-25 20:33] jorisvandenbossche commented on #26551
Row group filtering within a file was not yet supported by pyarrow (and thus not in `pandas.read_parquet`. The upcoming version of pyarrow (0.17.0) will add this, and then this will also become available in pandas.

[2020-03-25 20:42] ekomens1 opened #33020 "read_csv ParserError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I am reading CSV file but getting ParserError
[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before su

[2020-03-25 20:52] TomAugspurger commented on #32673
@jorisvandenbossche do you have other use-cases in mind for `_values_for_factorize`? Otherwise, I'm perfectly happy to keep their scope limited to factorization, and document the expected behavior around missing values.

[2020-03-25 20:57] jorisvandenbossche commented on #32673
I think some came up in the EA interface revisit discussion (https://github.com/pandas-dev/pandas/issues/32586) ?
There is the question about whether we need both `_values_for_factorize` and `_values_for_argsort`. And one concrete case was if we can use `_values_for_factorize` in joining operations (I don't know what the requirement around missing values would be for this one).

[2020-03-25 21:07] jorisvandenbossche commented on #32673
To be clear, in that case we don't need the PR https://github.com/pandas-dev/pandas/pull/32798 ? (some clean-up of the PR might still be useful, but I mean then there is "no bug to fix")

[2020-03-25 21:17] mroeschke commented on #32865
Thanks for looking into this @AlexKirko!

For now I'll put in a PR to raise a `NotImplementedError` for the ops that don't work as expected. Better to tell the user the results are incorrect rather than silently give incorrect results.

For the next step, if there's a way to modify the current algorithms with minimal performance impacts that'd be fantastic! It's not immediately apparently to me wh

[2020-03-25 22:12] roberthdevries commented on #32951
Correct, I will investigate. It comes from `test_column_name_contains_unicode_surrogate` in `pandas/tests/frame/test_api.py` which was added there.

[2020-03-25 22:13] roberthdevries commented on #32951
take

[2020-03-25 22:23] yohplala opened #33024 "Using DateTimeIndex in rolling() to define time-based windows"
Hi,
I would like to be able to provide a DateTimeIndex directly to rolling() so that the window is defined as [timestamp in provided DateTimeIndex that is immediately previous to timestamp of current row ; timestamp of current row[
Please, is that possible?

[2020-03-25 23:04] normanius opened #33025 "DOC: improve readability of signature description (type hints)"
## Problem description

I'm generally grateful for the efficient documentation of pandas, and I like the advancements in the new layout of recent versions, except for one thing:

The function/object signature at the very top is much harder to read now that the type annotations are printed as well. How about shading the type annotation in gray, or leaving it away altogether? It's enough if the type

[2020-03-25 23:29] dsaxton commented on #33017
I suppose it could raise a better error message (which likely shouldn't change if the value happens to come from inside a numpy array). The behavior now is because even the singleton `np.array([1, 2])[0]` has an `__array__` attribute so the scalar check gets skipped: https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/base.py#L398

[2020-03-25 23:42] WillAyd opened #33027 "concat with Misaligned Column Labels and Extension Types loses Dtype"
Was a little surprised by this behavior when combining frames with the string dtype and misaligned labels

[code]

A similar issue is exhibited with the integer types:

[code]

Occurs on master

[2020-03-25 23:55] jbrockmendel commented on #32673
Do we know of a compelling use case where round-trip-ability would be actively un-desirable?  The only extant case where it doesnt hold appears unintentional (cc @WillAyd correct me if im wrong here)

[2020-03-26 00:16] WillAyd commented on #33025
@jorisvandenbossche

[2020-03-26 00:30] charliejeynes commented on #25349
I agree that this is not that clear. it took me quite a while to figure out what was going on in the end this worked great
pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True)], ...)

[2020-03-26 00:40] skasturi commented on #32923
Given that `bool` is a keyword and a method as well in Python overloading it might get confusing IMO. That's why.

[2020-03-26 00:43] sullivanbt commented on #24589
@TomAugspurger Yes, `divmod` was the only one remaining after #32704

[2020-03-26 01:12] bhishanpdl opened #33030 "Feature request: series.fillna('mean')"
I would request pandas devs to implement various nans filling methods.
For example:
- mean
- median
- max
- random forest regressor
so on.

Output:
`df['A'].fillna('mean')`

[2020-03-26 01:19] #32863 closed

[2020-03-26 01:19] #32954 closed

[2020-03-26 01:21] jbrockmendel commented on #33001
Do the tracebacks show what cython functions are raising?  usually that means we need to change a type annotation in that function

[2020-03-26 01:22] #32762 closed

[2020-03-26 01:42] TomAugspurger commented on #33030
As proposed, this would create an ambiguity between filling with the mean value, and fliling with the string `'mean'`. I'd prefer to recommend people use `series.fillna(series.mean())`, which doesn't seem much worse to type.

[2020-03-26 01:47] TomAugspurger commented on #33025
Currently, the type hint and the argument are in the same HTML element. According to https://github.com/sphinx-doc/sphinx/issues/5868 Sphinx 3.0 will have better options. Until then I'm not sure if there's much to be done.

[2020-03-26 02:22] ivirshup commented on #33001
Yes, it's a bunch of functions. I could try and collect those if that would be useful.

Here's one example:

[code]

So I thought this could be fixable by changing the signature from

[code]

to

[code]

But it turns out doing that raises this fun exception during compilation:

[code]

<details>
<summary>Full compilation traceback</summary>

[code]

</details>

[2020-03-26 02:28] kevin-meyers commented on #29102
Hey @sathyz if you don't finish it by the end of the month I think I'll give it a shot.

[2020-03-26 02:33] shoyer commented on #33001
There was a long-standing issue in Cython where it didn't used to support read-only memory views, but that was fixed a few years ago now:
https://github.com/cython/cython/issues/1605
https://cython.readthedocs.io/en/latest/src/userguide/memoryviews.html#read-only-views

I don't know what minimum Cython version is required these days to build pandas from source, but it seems like it should probably

[2020-03-26 02:41] ivirshup commented on #33001
@shoyer yes, this was using  cython v0.29.16 (I'm using the `pandas/environment.yaml` conda env).

It looks like @jbrockmendel may have run into this issue before https://github.com/cython/cython/issues/3222.

[2020-03-26 02:56] mroeschke commented on #33020
We would need a minimal reproducible example to help debug the issue. It's likely that the file is malformed as well: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-03-26 02:57] jbrockmendel commented on #33001
For fused types like `join_t` cython doesnt support const memoryviews until 0.30, so we're eagerly awaiting that

[2020-03-26 02:58] mroeschke commented on #33024
You may be able to accomplish this using the new BaseIndexer: https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#custom-window-rolling

We would need more information about the use-case. An example with pseudo code would greatly help the discussion.

[2020-03-26 03:38] quangngd commented on #32667
take

[2020-03-26 03:39] quangngd commented on #32667
What should the behaviour be if user set both ```showindex``` and ```index```? Which one should take the priority or should I raise an ```ValueError```

[2020-03-26 03:51] ivirshup commented on #33001
I see that this is fixed in: https://github.com/cython/cython/pull/3118. It looks like this was not considered a bug fix.

Would pandas put a hard restriction on cython `>=0.30.0` (it looks like this might be [`>=3`](https://github.com/cython/cython/milestone/58)) once it releases, or do you aim to support older cython versions as well?

[2020-03-26 07:50] kartikdutt18 opened #33035 "Can't Seem to install pandas in python"
I tried running
[code]
#### Problem description

Tried Installing pandas for python 2.7 . Can't seem to figure it out. Checked similar issues, but they didn't seem to help me.

Numpy version : 1.16.6 (tried other versions as well)

#### Expected Output

Pandas installed successfully.

####Got this output instead:

[code]

[2020-03-26 07:56] jorisvandenbossche commented on #33025
Personally, I am very much in favor of what @normanius suggests. I opened an issue about that myself a while ago: https://github.com/pandas-dev/pandas/issues/28585 (but @WillAyd you objected to it then about leaving them away)

And so for the option of leaving them out, that is already possible right now: http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_typehints

[2020-03-26 08:08] ei-grad commented on #33035
Faced the same issue with Python=3.5, but it looks like it is already fixed some minutes ago.

[2020-03-26 08:10] kartikdutt18 commented on #33035
Yes, Got it working. Thanks a lot @ei-grad. Looks the team here works very fast. Closing this then.

[2020-03-26 08:10] #33035 closed

[2020-03-26 08:35] vinithg commented on #32745
@gfyoung  Let me check this and get back to you.

[2020-03-26 09:11] jorisvandenbossche opened #33036 "BUG: DataFrame.mad(axis=1) not working for nullable integer dtype"
[code]

[2020-03-26 09:41] jreback commented on #33036
thought we deprecated .mad

[2020-03-26 09:51] jorisvandenbossche commented on #33036
You mentioned that recently here as well: https://github.com/pandas-dev/pandas/issues/31742#issuecomment-582864525, but I am not aware of any issues/discussion about that

[2020-03-26 10:40] jreback commented on #33036
https://github.com/pandas-dev/pandas/issues/11787

[2020-03-26 11:56] tlorieul opened #33037 "Inconsistent behavior of `read_csv` when given an additional value on the first row of CSV file"
#### Short description

Using the following invalid CSV:
[code]
It has 3 columns but the *first row* has 4 values and loading it should raise a `ParsingError`.

However, loading using:
[code]
does not raise any exception and returns the following DataFrame:
[code]
Thus, it silently drops the additional value `X`.

#### Problem description

This will happening if the first row and the following one

[2020-03-26 12:45] #27453 closed

[2020-03-26 12:51] BayerSe commented on #32800
Gentle bump -
could anyone from the team state whether I should adjust my code or if that is something that would be fixed in a future version?

[2020-03-26 12:59] finswimmer opened #33038 "Why pandas doesn't support python 3.6.1?"
Hello,

the requirements for pandas 1 explicit says, that it needs python>=3.6.1. Why is 3.6.0 not supported?

fin swimmer

[2020-03-26 13:11] simonjayhawkins commented on #33038
see https://github.com/pandas-dev/pandas/pull/29212#issuecomment-551370118

[2020-03-26 13:11] #33038 closed

[2020-03-26 13:20] finswimmer commented on #33038
Thanks a lot!

[2020-03-26 13:24] #33017 closed

[2020-03-26 14:03] justlearn-spec commented on #32862
Hi @datapythonista,

I forgot what I was doing when I created a new conda environment. I tried to reproduce with the steps that I followed, but I can't replicate the issue. When I post the issue next time, I'll share the complete but minimal steps.

Thanks @datapythonista @TomAugspurger

[2020-03-26 14:03] #32862 closed

[2020-03-26 14:38] TomAugspurger commented on #32800
Not sure. Are you able to bisect to the commit that caused the change?

[2020-03-26 14:42] TomAugspurger commented on #33037
cc @gfyoung.

[2020-03-26 15:07] AnnaDaglis commented on #29697
Seems to be fixed now? Cannot reproduce, all works fine!

[2020-03-26 15:11] AnnaDaglis commented on #32992
I cannot reproduce the error. Has it been fixed already?

[2020-03-26 15:18] WillAyd commented on #32992
Thanks @AnnaDaglis and well spotted. @jbrockmendel any idea where this might have been fixed?

[2020-03-26 15:34] jbrockmendel commented on #33001
We distribute wheels, so don't have cython as an install requirement.  we are pretty aggressive in bumping it as a dev requirement.

I'm also looking forward to conditional nogil in 0.30

[2020-03-26 15:42] jbrockmendel commented on #32992
no idea off the top of my head.

[2020-03-26 15:59] simonjayhawkins commented on #32800
20a84a5d8f554ecd52490e3111fd016d7b71a0e7 is the first bad commit
commit 20a84a5d8f554ecd52490e3111fd016d7b71a0e7
Author: Daniel Saxton <2658661+dsaxton@users.noreply.github.com>
Date:   Sun Feb 23 08:58:59 2020 -0600

    BUG: Avoid ambiguous condition in GroupBy.first / last (#32124)