[2022-10-08 20:36] phofl commented on #49007
This is straightforward, there is no reason that this should work any different.

Closing, please ping to reopen if the allow_duplicate_labels flag does not work

[2022-10-08 20:36] #49007 closed

[2022-10-08 20:37] phofl commented on #49003
Agreed, you should specify the dtype precision if you want to be sure.

[2022-10-08 20:37] #49003 closed

[2022-10-08 21:48] abkosar commented on #48893
Sounds good then. I will add couple more things and create a PR.

[2022-10-08 21:49] dannyi96 commented on #48813
the delta in the addresses take place in this layer -
`floats` and `complexes` are preallocated memory addresses and values are copied/set in it. Hence the different `np.nan` behaviour.

https://github.com/pandas-dev/pandas/blob/55dc32437ea43a238975439ddb6c9dda81b33020/pandas/_libs/lib.pyx#L2533-L2536

https://github.com/pandas-dev/pandas/blob/55dc32437ea43a238975439ddb6c9dda81b33020/pandas/_libs/

[2022-10-09 05:00] techrajdeep commented on #48855
I am looking for an issue for my first contribution . Can you help me here.

[2022-10-09 08:41] SamRWest commented on #48944
A BufferedWriter with a `name` property of bytes seems to be valid - eg: `open(b'./test.parquet', 'rb')` works fine.
And if PyFileSystem2 handles are of this format, and the previous pandas version supported them, it'd be good to continue supporting this.

[2022-10-09 13:03] Anirudhsekar96 commented on #48944
@SamRWest Thanks for checking! Since the docs mentioned str like path hence I did not check for bytes like object with name attribute in my commit.

The docs indicate that FS like object is also an expected input hence a PyFileSystem2 handle as input would also be expected behavior, as @phofl mentioned if past versions supported a PyFileSystem2 handle then we should not allow silent behavior chang

[2022-10-09 13:28] slackline commented on #48855
As mentioned above I've opened PR #49013 which hopefully removes the need to disable `import-error`.

[2022-10-09 13:36] MarcoGorelli commented on #48779
yup, pull requests welcome https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

[2022-10-09 17:41] slackline commented on #48855
I was trying to work out what had been taken and what was still available, knocked up this table and thought it might be useful.

| Pylint Error                       | Worked on                  | PR              | Comment                                                                                                   |
|:-----------------------------------|:--------------------------:|:--------

[2022-10-09 19:19] sterlinm commented on #43031
I haven't had any time to work on this but it's still a background interest of mine.

This paper looks relevant for anybody else interested: [A Scalable and Generic Approach to Range Joins](https://db.in.tum.de/~reif/papers/p2535-reif.pdf)

[2022-10-09 20:14] Tiri1992 commented on #27437
take

[2022-10-10 00:50] JanHomann opened #49016 "BUG: `index.sortlevel` not working correctly after `index.set_levels`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Result is not sorted:

[code]

### Expected Behavi

[2022-10-10 05:15] CrystalWindSnake commented on #42423
What is the reason for this design? why does it only work if the column type is `object`?

[2022-10-10 06:35] techrajdeep commented on #48855
@slackline , I am looking for an issue for my first contribution , is there anything available here. Can you please help me

[2022-10-10 06:36] honza26 commented on #48779
take

[2022-10-10 07:21] slackline commented on #48855
@techrajdeep rows in the above table are pylint errors that have not been worked on yet. See the original post in this issue for how to go about investigating the source of the errors. If you're not familiar with the concept of linting and/or pylint then it would be worth checking the [documentation](https://pylint.pycqa.org/en/latest/).

[2022-10-10 07:22] robert-schmidtke opened #49019 "BUG: DataFrame.describe TypeError for Int64 column instead of int64"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When describing a `DataFrame` with an `Int64` (or

[2022-10-10 07:58] Flix6x opened #49021 "BUG: comparing pd.Timedelta with timedelta.max fails"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

It looks like `timedelta.max` is too large to be r

[2022-10-10 08:36] bollard opened #49022 "BUG: `replace` throws `TypeError: Invalid value` with Extension dtypes"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Hi there,

Notice some inconsistent behaviour betw

[2022-10-10 09:38] voldardard opened #49023 "QST: Python pandas 1.3.5 to 1.4.0 breaking changes - Got array instead of string"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/73906430/python-pandas-1-3-5-to-1-4-0-breaking-changes-got-array-instead-of-string

#

[2022-10-10 09:48] Trymzet commented on #44976
Is this the case now though? I tried doing `df_to_parquet()` and it fails with `ValueError: storage_options passed with buffer, or non-supported URL`

I noticed these lines which seem to confirm this is not implemented: https://github.com/pandas-dev/pandas/blob/55dc32437ea43a238975439ddb6c9dda81b33020/pandas/io/parquet.py#L90-L93

[2022-10-10 09:55] MarcoGorelli commented on #49023
can you make your example reproducible please, and also try on version 1.5.0?

[2022-10-10 10:27] voldardard commented on #49023
Thank you for your quick answer

You can reproduce it with this little script:
[code]

Here with 1.3.5 I gett:
[code]

And with 1.4.2 I get:
[code]

I get the same result than 1.4.2 with 1.5.0

[2022-10-10 10:28] vamsi-verma-s commented on #48855
working on `invalid-repr-returned`

[2022-10-10 11:44] jankaWIS opened #49026 "BUG: Pandas `convert_dtypes` does not convert numerical strings to numerical values"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

If one has a dataframe with numbers (int or float)

[2022-10-10 12:52] asafalina opened #49027 "BUG: `read_json` add extra decimals"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When using `read_json(input_json)` to create panda

[2022-10-10 13:01] phofl commented on #49026
Hi, thanks for your report. This is not what ``convert_dtypes`` is for. We try to cast to extension array dtypes, but there is no string to int conversion going on. See https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html

[2022-10-10 13:01] #49026 closed

[2022-10-10 13:03] phofl commented on #49022
Hi, thanks for your report. This Is basically a duplicate of #47577

[2022-10-10 13:03] #49022 closed

[2022-10-10 13:04] #49019 closed

[2022-10-10 13:27] ELHoussineT commented on #39154
Any decision made here on what method to proceed with?

[2022-10-10 13:28] ELHoussineT commented on #39154
I am still a bit biased towards my suggestion in https://github.com/pandas-dev/pandas/issues/46285 because its based on Lambdas. Any major counter arguments?

[2022-10-10 13:50] MarcoGorelli commented on #49023
Thanks @voldardard

From git bisect, looks like this was caused by https://github.com/pandas-dev/pandas/pull/44122

cc @jbrockmendel

https://www.kaggle.com/code/marcogorelli/pandas-regression-example?scriptVersionId=107651890

[2022-10-10 13:54] EdwinCXM commented on #48941
Hi, I'm a first time contributor, has someone taken this yet? If not I would love to take this

[2022-10-10 13:55] MarcoGorelli commented on #48941
go ahead, thanks!

[2022-10-10 14:01] EdwinCXM commented on #48941
Thanks! Do I need to get assigned this?

[2022-10-10 14:08] MarcoGorelli commented on #48941
if you comment "take" it'll be assigned to you - no  need if you've already commented though

[2022-10-10 14:11] EdwinCXM commented on #48941
take

[2022-10-10 14:26] robert-schmidtke commented on #49019
Apologies for missing this and thanks for the quick reply!

[2022-10-10 14:41] jankaWIS commented on #49026
Hi @phofl and thanks for your answer. I tend to disagree - it's not about the string to int conversion (again, I could use `pd.to_numeric`) but rather object to correct type conversion. The fact that the int is hidden in a string type should not matter, and nothing in the docs suggests it. And that is what this issue is about.

[2022-10-10 14:42] phofl commented on #49026
An int represented as a string, e.g. ``"2"`` is still a string, not an int.

[2022-10-10 14:50] phofl commented on #49026
No, this is not in scope for ``convert_dtypes``. The function uses numpy dtypes and looks for the best extension dtype, it does not convert the values itself.

[2022-10-10 14:52] jankaWIS commented on #49026
Sorry, so could you please explain what the difference is between loading it as a string (or object), eg. like in the JSON, and converting it when the dataframe has been already built (like intended in this bug report)?

And is there a way around it?

[2022-10-10 14:53] phofl commented on #49026
That's what ``to_numeric`` was build for.

[2022-10-10 15:49] roadswitcher commented on #48855
Working on `not-an-iterable`

[2022-10-10 16:16] mroeschke opened #49029 "CI: Investigate slow macOS build time for Python Dev build"
Currently take 31 minutes as opposed to 13/4 minutes on Linux/Windows

https://github.com/pandas-dev/pandas/actions/runs/3207741612/jobs/5242937055

In theory building the extensions in parallel should help, but a race condition has made parallel building unreliable: https://github.com/pandas-dev/pandas/issues/47305

[2022-10-10 17:18] Tiri1992 commented on #27437
Just started looking into this issue (as I see its still open). As far as I can see the issue still exists. The behaviour using `.iloc[index]` is as expected but fails for `series[index]` and `series.loc[index]` as demonstrated below:

[code]

I will attempt to write up some unittests for this (seems the logical grouping for `Series` indexing tests is under `tests/series/indexing/test_getitem.py`)

[2022-10-10 18:00] jbrockmendel commented on #49023
When you use `lambda field: list(field)`, shouldn't it be non-surprising to get a list back?

We got rid of the libreduction paths because they caused tons of edge cases and inconsistencies that were a nightmare to debug.

[2022-10-10 18:17] GYHHAHA commented on #48826
This is caused by scipy.spearman use [average](https://github.com/scipy/scipy/blob/656076ca6b490f587e9bd9c4cd10cb259a687c5b/scipy/stats/_stats_py.py#L9047) strategy to rank instead of arr.argsort().argsort(). So if the df1's cols have different nan positions, then the k[nonnull_mask].argsort().argsort() in `corrwith` will differ. Actually we still compute the correlation as many times as we use `a

[2022-10-10 18:59] asafalina commented on #49027
thanks @roadswitcher , that worked 👍

[2022-10-10 18:59] #49027 closed

[2022-10-10 22:13] roadswitcher commented on #48855
Working on `non-iterator-returned` now

[2022-10-10 22:28] mdavis-xyz commented on #44976
Pandas does support writing to S3, if you omit `storage_options`.
Looking at the code, it only supports reading from S3 if you specify `storage_options`.
(Which is also something not clear in the documentation.

[2022-10-10 22:45] jbrockmendel opened #49037 "API: Series(mixed_datetime_and_ints, dtype="M8[ns]") vs DatetimeIndex(same) mismatch"
[code]

These should either all cast or all raise.  I'd be OK either way, leaning towards all-raise.

[2022-10-10 23:26] roadswitcher commented on #48855
Checking `c-extension-no-member` now

[2022-10-11 07:53] pjousma commented on #48779
Thanks,

I found a equivalent solution: ts.replace(day=1) + pd.offsets.MonthEnd(0)
For me it is not logical to go to the next month when no parameters are
given.
For me it is logical that the default parameter should be '0' when no
parameters are given by the user.

But thanks for the quick response

Op ma 26 sep. 2022 om 10:51 schreef Marco Edward Gorelli <
***@***.***>:

[2022-10-11 08:10] JasonMendoza2008 commented on #48123
The bug is still present in the new pandas version (pandas==1.5.0).

[2022-10-11 10:18] honza26 commented on #48779
Hello, pjousma

Thanks for your comment. I've been thinking about it, and also agree, that the default n parameter should be zero. And also the same for pandas.tseries.offsets.YearEnd() function (it has the same issue).

Who can decide whether we should change parameter to zero or keep it as is?

Thanks,
J.

[2022-10-11 10:42] roadswitcher commented on #48855
OK -- pylint found no instances of this in the code on my local machines, but if I enable pylint checking in the build by deleting this line from `pyproject.toml`, it fails one of the build processes in the Ubuntu workflow?     Interesting.

[2022-10-11 10:46] voldardard commented on #49023
Yes it is normal to get list for endTimes, durationSplit and split. But the problem is for the startTime where we had it in string from version 0.x of pandas until version 1.4.0 . And now it is a list. But there is only one value needed here and we don't want a list.

It will need extra devlopement to change each of our frontends to be able to get it from a list even if there is one value only.

[2022-10-11 10:46] jreback commented on #48123
@JasonMendoza2008 bugs are fixed when the community does pull requests

[2022-10-11 12:20] sbhoek commented on #11669
I agree with amueller. It is logical to add such a feature. Just finished solving problems because it is not possible to indicate "oracle_resolve_synonyms" when invoking df.to_sql(...). FYI: I tried to write to a synonym and I got the following error back from Oracle: "ORA-00955: name is already used by an existing object". Unfortunately, 15 extra lines of code instead of 1 elegant line. Please op

[2022-10-11 12:20] MarcoGorelli opened #49043 "BUG: guess_datetime_format doesn't guess 2018-01-01T00:00:00.000"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

This returns `None`, rather than `%Y-%m-%dT%H:%M:%

[2022-10-11 12:35] petebachant opened #49044 "BUG: Cannot assign Series value as None on initial creation of the item"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Upon initial creation of an item in a Series, `Non

[2022-10-11 13:10] Tiri1992 commented on #27437
^^ I think having worked on this issue I realised this is expected behaviour and changing this ends up breaking a lot of tests. The expected behaviour was already implemented in tests a few months back [here](https://github.com/pandas-dev/pandas/blob/cdb905a8b7e25433a3268951fc3ec68aa03914aa/pandas/tests/indexing/interval/test_interval_new.py#L53-L63).

The call stack was roughly going from checkin

[2022-10-11 14:26] dnsfilter-delkind opened #49045 "BUG: DataFrame.sparse.to_dense() fails if at least one column is dense."
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I have a pandas DataFrame where some columns are d

[2022-10-11 16:29] #45848 closed

[2022-10-11 16:53] mroeschke commented on #49043
Since `to_datetime(..., format="..%f")` was fixed to parse up to nanos should `guess_datetime_format` also allow %f to detect nanoseconds? https://github.com/pandas-dev/pandas/pull/48820

[2022-10-11 17:39] mocquin opened #49046 "DOC: Add entry to pandas extension list"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/ecosystem.html#ecosystem-extensions

### Documentation problem

I worked on an extension to the [physipy](https://github.com/mocquin/physipy) package, that allows handl

[2022-10-11 18:04] MarcoGorelli commented on #49043
probably, kinda tricky though given that `datetime.datetime.strftime` is used

https://github.com/pandas-dev/pandas/blob/32474d919eb4b048464e0250c1384d244f9909e7/pandas/_libs/tslibs/parsing.pyx#L1049

https://github.com/pandas-dev/pandas/blob/32474d919eb4b048464e0250c1384d244f9909e7/pandas/_libs/tslibs/parsing.pyx#L1088

[2022-10-11 20:07] bernardkaplan opened #49048 "PERF: Construction of a DatetimeIndex from a list of Timestamp with timezone"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

The construction of a DatetimeIndex from a list of Timestamp with timezone ap

[2022-10-11 20:22] JMante1 commented on #48946
I have attached an example file
[test.xlsx](https://github.com/pandas-dev/pandas/files/9759486/test.xlsx)

[2022-10-11 20:57] phofl commented on #49044
Hi, thanks for your report. Duplicate of #48665

[2022-10-11 20:57] #49044 closed

[2022-10-11 21:03] selasley commented on #47079
This change seems to cause a KeyError if the on column is used with agg

    d = {
        'price': [10, 11, 9, 13, 14, 18, 17, 19],
        'volume': [50, 60, 40, 100, 50, 100, 40, 50]
    }
    df = pd.DataFrame(d)
    df['week_starting'] = pd.date_range('01/01/2018', periods=8, freq='W')
    print(df.resample('M', on='week_starting').agg(ws=('week_starting', 'size')))

pandas 1.4.4 outputs
<pre

[2022-10-11 21:41] phofl commented on #49045
Hi, thanks for your report.

This behaves as intended. We would call to_dense on all columns, which would fail later on. You have to do the conversion yourself

[2022-10-11 21:46] phofl commented on #48946
Excel is a binary file, you have to open it accordingly

[2022-10-11 21:46] #48946 closed

[2022-10-11 21:53] phofl commented on #48933
[code]

cc @jbrockmendel

[2022-10-11 22:03] phofl commented on #48908
cc @jbrockmendel

[2022-10-11 22:07] JMante1 commented on #48946
I have tried specifying the encoding when opening the file

[2022-10-11 22:08] JMante1 commented on #48946
That doesn't actually solve the problem

[2022-10-11 22:08] phofl commented on #48946
Simply use rb in the open call

[2022-10-11 22:42] #49043 closed

[2022-10-11 23:28] jbrockmendel commented on #46008
@mroeschke closeable?

[2022-10-11 23:32] mroeschke commented on #46008
Yeah will close with https://github.com/pandas-dev/pandas/pull/49000

[2022-10-12 00:06] rhshadrach commented on #47079
Thanks for reporting this @selasley. For most ops, I don't think having the field used in `on` is desired. Indeed, due to the upcoming change in `numeric_only` in #46560, many ops would now raise by default. One can work around this by adding a second field, e.g.

[code]

[2022-10-12 03:13] imnik11 commented on #48949
Hi, is this issue related to fixing the versioning problem when we have dependencies on different versions of options.extras_require ( hypothesis>=5.5.3, pytest>=6.0, pytest-xdist>=1.31,  pytest-asyncio>=0.17.0) or all the depending packages version mentioned in setup.cfg ?

[2022-10-12 07:35] MarcoGorelli commented on #48779
this'd be a breaking change and would have to go through a deprecation cycle, not sure it'd be worth it. Would be more in favour of just clearly documenting the behaviour

[2022-10-12 07:46] xhochy commented on #46008
Looks good 👍

[2022-10-12 09:58] MarcoGorelli opened #49052 "BUG: df.where(ea) coerces to object, rather than nullable dtype like ser.where(ea) does"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Outputs are:

DataFrame case
[code]

Series case:

[2022-10-12 10:50] MMCMA opened #49054 "BUG: freq information lost after stack() is called"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Some of our CI pipeline unittests failed after upg

[2022-10-12 13:13] olsgaard commented on #48480
I'm having a similar problem where I apply a mutating function to a grouped dataframe and for _some_ of the groups, I get the warning.

Is there a way to break when the warning is elicited? I'm not sure how to go about debugging this.

[2022-10-12 13:56] marenwestermann commented on #48060
I finally had a look into this again. :) First of all, thank you very much @MarcoGorelli for updating the contributing guidelines. The documentation has much improved!

I followed the "Creating a development environment" instructions again. I'm now using my personal computer which has a Linux OS with the x86_64 architecture. (The Macbook mentioned above was my work computer which I had to return b

[2022-10-12 14:00] MarcoGorelli opened #49056 "BUG: 2D int64 block can't be cast to Int64"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

2D arrays do seem to be allowed:
[code]

Coercing

[2022-10-12 14:04] MarcoGorelli commented on #49052
Even if the dtype could be preserved in `other`, this issue would be blocked by https://github.com/pandas-dev/pandas/issues/49056

[2022-10-12 14:13] gau-nernst opened #49057 "DOC: Typo of "DataFrame.iat()" in "10 minutes to pandas""
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/user_guide/10min.html#selection-by-position

### Documentation problem

Under Select by position section, it should be `DataFrame.iat()` instead of `DataFrame.at()`

La

[2022-10-12 14:45] jbrockmendel commented on #49048
I'm seeing about 2.5ms on main.

[2022-10-12 15:37] vamsi-verma-s commented on #49054
Hi @MMCMA

I think it is only happening when I do `df2=df.stack()` and look at `df2.index` . pls try yourself once.

[code]

[2022-10-12 17:10] maximrobi commented on #44868
Not sure what a resolution would be to this issue, maybe a confirmation from someone that a warning was implemented and nobody loses 2 days' worth of scripting in VBA due to a mini-automatization script in Python :))
[and I learned that you never run a script with original input of a file..]

So no, as far as I know, this issue is still active. I will try it once again on my new machine and latest

[2022-10-12 17:13] Bernadette-Mohr commented on #17537
... and the bug still persists with python 3.9.13 and pandas 1.4.4.
Maybe a paragraph about multiindexing in the documentation would be enough, since conserving the original order of the groups **does** work with the `level` keyword?

[2022-10-12 17:19] mroeschke commented on #48949
This is an issue to follow up https://github.com/pandas-dev/pandas/pull/47336 such that `setup.cfg` dependencies are versions are synced with other files that specify minimum dependencies

[2022-10-12 18:06] jbrockmendel commented on #49056
Does it matter if the Block.astype works?  DataFrame.astype looks fine

[2022-10-12 18:10] jbrockmendel commented on #49056
I've thrown in the towel on "EAs should all support 2D", but note the lack of continues to cause problems.

[2022-10-12 18:12] MarcoGorelli commented on #49056
the issue I'm currently aware of is https://github.com/pandas-dev/pandas/issues/49052, when

https://github.com/pandas-dev/pandas/blob/cdb905a8b7e25433a3268951fc3ec68aa03914aa/pandas/core/internals/blocks.py#L1108

is it - would it be fine to just keep `other` as `object`, and then just cast the DataFrame at the end, seeing as `DataFrame.astype` works fine?

[2022-10-12 18:13] jbrockmendel commented on #49056
i'll have to look at 49052, but assuming we really want Block.astype to work here, i think we'd have to change it to return list[Block]

[2022-10-12 20:32] bernardkaplan commented on #49048
I installed pandas from source (version 1.6.0.dev0+319.g98323eec0e) and the issue still persists (almost 2 seconds per loop).

<details>

INSTALLED VERSIONS
------------------
commit           : 98323eec0e94ea103412a1a20a1e6b4c6fa0599b
python           : 3.9.12.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
proc

[2022-10-12 20:51] shoyer commented on #48880
This was mostly a gesture towards backwards compatibility. In principle, I agree -- we could (and maybe should?) make `.loc` raise errors when there is no index available. This would certainly require a deprecation period.

[2022-10-12 21:11] jbrockmendel opened #49059 "API: Timestamp/Timedelta resolution in __repr__"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Discussed on today's call, in 2.0 Timestamp and Ti

[2022-10-12 21:23] roadswitcher commented on #48855
Checking 'C' now.

[2022-10-12 21:24] jbrockmendel opened #49060 "API: resolution for date_range, to_datetime, timedelta_range, to_timedelta"
In 2.0 we'll support non-nanosecond datetime64 and timedelta64.  ATM date_range, timedelta_range, to_datetime, and to_timedelta still are nano-only.  This issue is about how to support non-nano in these functions.

Two main options: inference or a keyword.  A keyword would be something like `pd.date_range(start, end, periods=10, reso="ms")`, and the default would be "ns".  This is the simplest thi

[2022-10-12 22:07] jbrockmendel commented on #48312
cc @mroeschke @jreback this becomes more salient with non-nano support.  `pd.Series([1, 2, 3], dtype="m8[s]")` i think ideally should interpret those integers as seconds, but without an API change it will interpret them as nanoseconds, then cast the result to `m8[s]`.  Interpreting them as seconds would also be consistent with `pd.Series([1, 2 , 3]).astype("m8[s]")`

[2022-10-12 22:24] jorisvandenbossche commented on #48880
I am personally quite interested in seeing this explored and discussed. I think it could be an interesting improvement to the ease of use of pandas in many cases.

I want to say something about the framing of the discussion, though. Personally, I am in the first place interested in this discussion _for pandas itself_. To put it a bit bluntly: for _this_ discussion, I don't care about the fact that

[2022-10-12 23:13] mroeschke commented on #48312
That sounds reasonable; it also make it effectively similar to `to_timedelta([ints], unit="s")` which in spirit mangles "unit" and "reso" but may not matter.

[2022-10-12 23:18] #48944 closed

[2022-10-12 23:21] jreback commented on #49059
adding reso to the constructors and repr lgtm

[2022-10-12 23:27] mroeschke commented on #49060
For the `_range` methods, what if `freq` is a lower resolution than `reso`? e.g. `date_range("2022", periods=3, freq="D", reso="ms")

If the `to_` methods have inference, would the resolution of each argument be collected and the highest one chosen as the inferred reso?  e.g. `to_timedelta([timedelta(day=1), timedelta(second=1), timedelta(millisecond=1])`

[2022-10-12 23:38] mroeschke commented on #48979
+1 to raising in the future. IMO ideally done with a deprecation cycle.

[2022-10-12 23:40] jbrockmendel commented on #49060
That wouldn't be a problem, would be identical to `date_range("2022", periods=3, freq="D").astype("M8[ms]")`.  What would be a problem is the reverse, where `freq` is a higher-resolution than reso, e.g. `date_range("2022", periods=3, freq="ns", reso="s")`.  We'd probably need to disallow that.

In that particular case they are all pytimedelta objects which all get microsecond resolution.  Suppose

[2022-10-12 23:46] mroeschke commented on #49060
Okay that is reasonable. I think if constructors have arguments that allow multiple ways to specify resolutions (`freq`, `dtype`, `reso`), we should definitely document the "order of operations"

[2022-10-12 23:47] mroeschke commented on #49037
I would be +1 to raising (given the exception message notes how to cast)

[2022-10-13 05:11] chAwater opened #49065 "BUG: df.assign got unexpected output compared with df.apply"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Output:
[code]

### Expected Behavior

I expect to

[2022-10-13 06:26] Talionchik commented on #19155
'brics = pd.Data.Frame(dict)' - Remove the dot.
![image](https://user-images.githubusercontent.com/83535100/195518450-3f560763-ccd0-45f5-aa95-08dda9056bd0.png)

[2022-10-13 07:24] jorisvandenbossche commented on #48060
I think this error indicates that you simply don't have any tags in your local clone.
That also matches with the version you see "pandas-0+untagged.30317.gf2a91a0", so it seems you did a full clone (otherwise it wouldn't know there are 30317 commits since the start of pandas), but without downloading any tags.

That is still strange how you got that, because the default for `git clone` is to also

[2022-10-13 07:38] Tiri1992 commented on #49065
hmm my guess would be its fallback `__str__` method. I'll take a look.

[2022-10-13 10:44] kostyafarber commented on #48949
Hey interesting in taking this on? Any ideas where to get started?

[2022-10-13 10:57] Tiri1992 commented on #49065
Just having quick look, I see that Series class doesnt have a  `__str__` implementation and falls back use the `__repr__`

[code]
Having the behaviour str(`df['X']`) converting your data types to strings (similar to the method `.astype(str)`) would have unwanted side effects on other parts of the api. Wondering if anyone with more experience with the internal workings of pandas can add some more i

[2022-10-13 11:22] TomAugspurger commented on #48880
Yeah, that matches my experience. I was thinking primarily about "Index vs. no Index", in which case I'll always push people a bit to think about their data model. But if we're thinking about improving the ergonomics of using a DataFrame with just the default RangeIndex, then yes, I think that auto resetting RangeIndex is worth exploring.

[2022-10-13 12:01] MarcoGorelli commented on #48880
Lots of really good points here, thanks for the discussion

`loc` for boolean-based indexing: would it be possible to use `iloc` for that? I find the simplicity of an error message like `Cannot use .loc with DefaultIndex - please use .iloc instead` appealing

I'm -1 on auto-resetting RangeIndex though as it'd silently break the example I put in the writeup:
[code]
Even if `df` has a `RangeIndex` w

[2022-10-13 12:02] asishm commented on #49065
This is expected.

The first and last assigns go via the route of `Series.__add__` but the second and third assigns go via the route of `Series.__str__` and then the resulting strings get added.

`df.apply(..., axis=1)` passes in rows, so `x["X"]` gives you a single value instead of a series. `df.assign` passes in a dataframe so `x["X"]` is a Series instead of a single value (as opposed to the app

[2022-10-13 12:19] jorisvandenbossche commented on #48880
Yes, for me this discussion is about the above (being able to set an index and use it is _super_ useful (and an important part of pandas), we are not planning to remove that, that's not the discussion, but can the default experience (currently RangeIndex) be improved?)

And thinking about this as a "auto-resetting RangeIndex" is an interesting way, as it would be very similar as "no index" option

[2022-10-13 13:01] roadswitcher commented on #48855
1323 separate files, >40k identified problems.    I suggest that check is a candidate to leave disabled.
[code]
I'm checking `R` and `W` now.

[2022-10-13 13:41] dimitra-karadima commented on #47024
Right now, tests are failing and the behavior is not as I described above, so I guess I have to wait until it is fixed in the main branch.
My question is that it is not very clear to me which test file is responsible for this change, so I do not know where to add the test cases for this bugfix.

[2022-10-13 13:51] MarcoGorelli commented on #48855
thanks @roadswitcher for checking!

C, R, W are codes which have a lot of codes behind them. A PR to replace `'C'` in `pyproject.toml` with all the individual codes would be very welcome (likewise for R and W)

The code I'm particularly keen on enabling is `W0621`, as that one would've helped prevent a bug in pandas 1.5.0

[2022-10-13 14:03] MarcoGorelli commented on #48880
Right, good point - OK with keeping `.loc` then, so long as it errors if the first argument is an index

The simplest way to drive the conversation forward might be to just try implementing this as a POC and seeing what we run into - I'll do some work on this

[2022-10-13 14:07] shwina commented on #48880
I'm happy to be of help here if you need a collaborator, or even just a sounding board. Logistically, one place we could chat is the RAPIDS [slack](https://join.slack.com/t/rapids-goai/shared_invite/zt-trnsul8g-Sblci8dk6dIoEeGpoFcFOQ), but I'm open to other suggestions as well.

[2022-10-13 14:18] phofl commented on #48880
Yeah that is what I was referring to basically, its not only about loc though, drop_duplicates has a similar effect for example

[2022-10-13 14:31] jorisvandenbossche commented on #48880
I think there are several good reasons to have it as a separate concept from RangeIndex (while it is useful to _think_ about is as a different RangeIndex). Even if we would eventually want to replace the default behaviour from RangeIndex to this new behaviour, we still need a way for people to try this out without breaking existing RangeIndex-based code.
And it is also just a sufficiently differen

[2022-10-13 14:51] MarcoGorelli opened #49069 "ENH: add as_index to value_counts and pivot_table"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Some methods (e.g. groupby) have the option to not end up with a column as the index.

This could be added to `value_counts` and `pivot_table`

### Feature Description

`as_index` argument such that
[code]
and
[code]

[2022-10-13 15:20] imnik11 commented on #48949
yes, I have earlier worked on creating ci actions which checks the code formatting, builds etc whenever there is push to pr but this one I am still trying to understand the flow to get start

[2022-10-13 15:44] MarcoGorelli commented on #48949
I'd suggest checking how `scripts/validate_min_versions_in_sync.py` works, and trying to make something similar. You can use https://docs.python.org/3/library/configparser.html to parse `.cfg` files

[2022-10-13 16:03] phofl commented on #49069
Could you try to collect all methods where this would be necessary?

[2022-10-13 16:30] mroeschke commented on #48949
Noting that this issue is blocked by https://github.com/pandas-dev/pandas/pull/47336 being merged first.

[2022-10-13 16:50] Vini-002 opened #49071 "DOC: Typo on Dataframe.drop_duplicates() docstring"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

pandas.DataFrame.drop_duplicates()

### Documentation problem

![Screenshot from 2022-10-13 13-45-07](https://user-images.githubusercontent.com/68878626/195656602-2bad5a9f-3127-4239-8346-b5a0636c048e

[2022-10-13 17:20] jpfa1406 commented on #48855
I'll work in `redundant-keyword-arg`

[2022-10-13 17:51] ayushanand308 commented on #48855
HI! I am a first time contributor. Can anyone assign me a beginner friendly issue so that I can work on it.

[2022-10-13 18:00] MarcoGorelli commented on #48855
you can work on this issue without being assigned it. if you want to work on a different issue, you can comment there

[2022-10-13 19:28] galipremsagar opened #49073 "ENH: `DatetimeProperties` results seem to be inconsistent since missing milliseconds"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When `second` & `nanosecond` are being accessed, t

[2022-10-13 19:41] Udneowi commented on #48056
@pholf Having had similar issues I believe this has something to do with the indexing of the windows passed. Sorting the data frame beforehand by **id** and then **time** fixes the issue for me.

[code]

I was personally using a temporal rolling window where for each user each day was unique. I wanted to weigh days further away lower but ran into trouble running a custom function in apply.
'''
df.

[2022-10-13 20:36] MMCMA commented on #49054
Yes, I can replicate this with pandas 1.5.0, I also checked an older pandas version and the freq property in `df.index` is not lost

[2022-10-13 21:15] jbrockmendel commented on #48880
I'm with Jeff as skeptical-but-open-to-it.  Making index opt-in rather than opt-out is probably a non-starter for the near future.

[2022-10-13 21:40] austinjpaul opened #49075 "BUG: `USFederalHolidayCalendar.holidays` inconsistently returns Index and not DateTimeIndex"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The returned result should be type `DatetimeIndex`

[2022-10-13 22:10] jbrockmendel opened #49076 "API: Timestamp and Timedelta .value changing in 2.0"
[code]

In previous versions .value has always been in nanoseconds.  By changing the reso we get with some Timestamp/Timedelta inputs, we change the .value, which is technically public API.

One option would be just to document the change in .value behavior along with the other breaking changes docs.

Another would be to use e.g. `._value` internally and keep `.value` as representing nanos.

[2022-10-13 22:22] jbrockmendel commented on #49037
not sure what you have in mind. if all of our functions raise, do we tell them to do it manually?

[2022-10-13 22:25] #46008 closed

[2022-10-13 22:56] mroeschke commented on #49037
Namely I could see users wanting "I am providing mixed datetimes & ints and I want the ints to be interpreted as ns and the output reso to be ns"

But it's a fair point that the resolution may be hard to always suggest if this is raised internally

[2022-10-13 23:14] mroeschke commented on #42597
This works now on main and 1.5. I believe this was fixed by https://github.com/pandas-dev/pandas/pull/47730 when `ArrowStringArray` inherited from `ArrowExtensionArray` which defined `_reduce`. Closing

[2022-10-13 23:14] #42597 closed

[2022-10-14 00:07] #48453 closed

[2022-10-14 00:16] mroeschke commented on #46776
As mentioned by @lithomas1 on Slack, do folks think we should push a `2.0.0.dev0` tag now that 2.0 is agreed to be the new version? The reasoning is to help downstream nightly/main users pin as we start enforcing deprecations.

[2022-10-14 00:26] mroeschke commented on #48880
As of now, I'm +1 for optional Indexes but favor opt-out Indexes

[2022-10-14 00:54] chAwater commented on #49065
Thanks @asishm for the explanation, very clear.

Closing it, although I still feel a bit "counter-intuitive" 🤣

[2022-10-14 00:54] #49065 closed

[2022-10-14 01:00] jbrockmendel commented on #49037
cc @jreback

[2022-10-14 01:06] jbrockmendel commented on #48312
cc @jreback

[2022-10-14 01:08] jbrockmendel commented on #48312
possible deprecation cycles notwithstanding, my preferred behavior would be for `pd.Series(some_ints, dtype="m8[unit]").to_numpy()` to match `np.array(some_ints, dtype="m8[unit]")`.  i'd do the same for dt64 dtypes.

[2022-10-14 01:12] jreback commented on #48312
proposal sounds good

[2022-10-14 02:41] ssche commented on #48032
[code]

This seems to be resolved now. I might throw in a test case to peg down the behaviour.

[2022-10-14 06:49] perofskite commented on #15988
+1 for append_skipdupes

[2022-10-14 08:20] phofl commented on #49054
[code]
cc @lukemanley

Simple reproducer:

[code]

[2022-10-14 08:48] phofl commented on #48032
Thanks for following up. This is fixed and tested :)

[2022-10-14 08:48] #48032 closed

[2022-10-14 10:36] Bolognafingers opened #49085 "QST: When will attrs be not experimental?"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

N/A

### Question about pandas

When, if ever, can `DataFrame.attrs` be expected to be stabilized and not experimental? I

[2022-10-14 11:11] phofl commented on #49085
Hi, thanks for your interest.

This is basically blocked by #28283 and the related issues. We don't propagate the metadata in every method yet. Help is welcome there.

[2022-10-14 11:11] #49085 closed

[2022-10-14 11:22] MarcoGorelli commented on #48880
Thanks everyone for the discussion

I've amended the write-up to include a proposal for how this might happen: https://hackmd.io/JPWJqwc1SZKz_Zaxe9MZRQ

In short:
- if you construct a DataFrame without an Index, then it'll stay without an index _unless_ you explicitly call `set_index`
- Index would be opt-out in some version of pandas 2.x.0, and depending on how that goes, it could be made opt-in

[2022-10-14 13:52] Sonyoyo commented on #20642
I had the same problem. Probably the definition of `x.mean()` is `x.sum()/x.count()`, with `x.sum()` leading to `inf`. By doing `(x/x.count()).sum()` I resolved my issue. But depending on your data `x/x.count()` may also lead to zeros and so to a poor average estimation (not my case after comparing with float32 data)...

Probably the best approach is to use an intermediate normalization as propose

[2022-10-14 15:11] phofl commented on #48967
Closing for now, please ping to reopen, when you can provide more information

[2022-10-14 15:11] #48967 closed

[2022-10-14 15:27] vamsi-verma-s commented on #48855
All `abstract-class-instantiated` errors are because of `pandas.ExcelWriter` .
https://github.com/pandas-dev/pandas/blob/e3d0126e8af9f0a23dd6609a23817f858825e089/pandas/io/excel/_base.py#L1090-L1110

This is recommended way to create writer objects. Should this be considered acceptable and disable this error?

[2022-10-14 16:44] mroeschke commented on #49073
Going to restructure this issue as an enhancement request since this stems from `millisecond` not being supported and the return of `microsecond` is consistent with `datetime.datetime` that also doesn't support `millisecond`.

Also _if_ pandas supports `millisecond`, I think `.microsecond` should still match the `datetime.datetime` behavior since the "base" `Timestamp` tries to be fully compatible

[2022-10-14 16:56] mroeschke commented on #48880
How should a user opt-out of an object that has already has an index?
`df_with_index.set_index(None/pd.NoIndex)`
`df_with_index.index = pd.NoIndex`

Also if we move forward with the global config option, maybe `df_with_index.reset_index(drop=True)` completely eliminates the index in the result.

[2022-10-14 16:59] #48813 closed

[2022-10-14 17:04] #48471 closed

[2022-10-14 17:06] #47571 closed

[2022-10-14 17:12] mroeschke commented on #49076
Probably least disruptive to have `.value` continue to represent nanos.

Personally, I was never fond of the vague meaning of `.value` and could use this as an opportunity to deprecate in favor of `Timestamp.to_epoch` #14772 and `Timedelta.to_something`

[2022-10-14 17:15] phofl commented on #48482
Closing, please ping to reopen when you can provide an example

[2022-10-14 17:15] #48482 closed

[2022-10-14 17:16] phofl commented on #48461
Closing for now, please ping to reopen when you can provide an example

[2022-10-14 17:16] #48461 closed

[2022-10-14 17:16] phofl commented on #46494
Closing for now, please ping to reopen when you can provide an example

[2022-10-14 17:16] #46494 closed

[2022-10-14 17:19] #35419 closed

[2022-10-14 17:19] phofl commented on #48549
Closing for now, please ping to reopen when you can provide an example

[2022-10-14 17:19] #48549 closed

[2022-10-14 17:43] #49054 closed

[2022-10-14 18:05] MarcoGorelli commented on #48880
Good point, thanks - I've added an example of that. I think `df_with_index.reset_index(drop=True)` (as long as the option `mode.index` is `False`) and `df_with_index.set_index(None)` should be fine
[code]

There's also the question of whether the no-index should appear in the repr, and I think it looks better if it doesn't (like this it also signals to users that there's something different about

[2022-10-14 18:33] jbrockmendel commented on #48880
From an annotation perspective, it might be nice to make index-less objects a different class (i've seen "Table" mentioned elsewhere), which I think DataFrame could then subclass.  This would require something like #48126

[2022-10-14 19:40] drin commented on #48964
just coming back around to this. the PR is almost ready, I'm just trying to add some extra test coverage. I am not sure it would make it into 10.0.0, but maybe if I can finish today it has a chance.

[2022-10-14 19:49] ssche commented on #48032
Great work! I didn’t realise this issue was explicitly fixed (as part of another ticket). I thought it might have been fixed as a (pleasant) side effect of another fix (hence my suggestion). Do you recall which ticket/commit this ticket relates to?

[2022-10-14 19:50] phofl commented on #48032
We did a couple of prs in that are. You can check the whatsnew for 2.0, they are documented there

[2022-10-14 20:39] #48939 closed

[2022-10-14 21:41] vamsi-verma-s commented on #48855
worked on `access-member-before-definition`

[2022-10-14 21:45] phofl commented on #48241
This is not a memory leak. You have lots of different index objects in your list. the intersection call populates their cache with a set of information. Since the index objects are kept in the list, they are not cleaned up and hence the cache stays around, causing the growing memory. Removing the intersection call removes the memory growth

[2022-10-14 21:45] #48241 closed

[2022-10-14 22:18] #48763 closed

[2022-10-14 22:39] #48758 closed

[2022-10-14 22:40] shortorian opened #49103 "BUG: groupby no longer working after update to 1.5.0 with dropna=False on columns with Int dtypes and NA values"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

After an update to pandas 1.5 a number of groupby

[2022-10-14 23:08] phofl commented on #49103
Hi, thanks for your report. Duplicate of #48794

[2022-10-14 23:08] #49103 closed

[2022-10-15 00:16] shortorian commented on #49103
A sorry for the bother - missed that in my search somehow.

[2022-10-15 00:30] jreback commented on #48880
While i am sympathetic to adding a NoIndex there are some concerns

- this would fundamentally change pandas and i don't think this would ever be possible as opt-out;
it would always need to be opt-in

- we already have a lot going on in pandas that are systematic changes : copy on write and array manager

i would be more amenable to starting something new if we finish things first (which practica

[2022-10-15 00:48] mroeschke opened #49108 "BUG(?)/API: pd.NA + bytes raises TypeError"
[code]

Unless I'm missing something, shouldn't `In [2]` return `pd.NA`?

[2022-10-15 01:07] jrbourbeau opened #49110 "BUG: `quantile` sometimes using interpolation at endpoint with datetime data"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When calculating the `q=0` quantile on datetime da

[2022-10-15 01:19] mroeschke opened #49111 "API: Series/DataFrame.mask(other) should default to lib.no_default instead of np.nan"
In 1.4 (https://github.com/pandas-dev/pandas/pull/44697), `.where(other=)` was changed from `np.nan` to `lib.no_default`.

Since `mask` is the analogous method to `where`, it's `other` argument should also default to `lib.no_default`

[2022-10-15 01:30] jrbourbeau commented on #48964
Thanks @drin!

[2022-10-15 09:11] honza26 commented on #48779
Hi @MarcoGorelli , please may I ask you for a clarification.

Do I understand correctly, I should is update this page of documentation?: https://pandas.pydata.org/docs/reference/api/pandas.tseries.offsets.MonthEnd.html

Therefore I'll be modifying this part of code
https://github.com/pandas-dev/pandas/blob/main/pandas/_libs/tslibs/offsets.pyx (class MonthEnd; starting from row 2746 - I am going to

[2022-10-15 09:24] MarcoGorelli commented on #48779
yeah looks fine

[2022-10-15 11:12] roadswitcher commented on #48855
I took a look at enabling the  `invalid-unary-operator-type` check, and I think it's exposed a problem where pylint doesn't properly recognize some NumPy constructs.

Probably should leave the check disabled for now, but I'm working on a minimal test case to submit as an issue to the Pylint project.

[2022-10-15 13:10] juliencampion commented on #48544
Closing as this bug is now resolved on the main branch of pandas.

[2022-10-15 13:10] #48544 closed

[2022-10-15 13:15] am1671 commented on #49071
Could i try this?

[2022-10-15 14:06] ashishbalti4 commented on #40680
@Dr-Irv I have worked and updated the cheat sheet in pdf format. Can I contribute here as it will be my first open-source contribution.

[2022-10-15 14:17] attack68 commented on #48936
#47489

[2022-10-15 15:07] roadswitcher commented on #49075
Same behavior seen for March (the other month with no US Federal holidays), but interestingly the behavior is consistent for 2019.

[code]

[2022-10-15 16:04] rhshadrach commented on #49111
Just to be sure

[2022-10-15 16:30] kurt-rhee opened #49116 "ENH: tz_convert with non-hour shifts from UTC"
### Feature Type

- [X] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I would like to use `tz_convert` to be able to convert from local time (some timestamps with daylight savings) to standard time (no timestamps with daylight savings) in locations which employ 30 and 45 minute shifts f

[2022-10-15 17:15] mroeschke commented on #49111
Thanks for spotting my typo, edited my post above

[2022-10-15 17:44] datapythonista opened #49117 "DOC: Fix versionchanged directive in DataFrame.plot"
Looks like there is something wrong in the documentation of `DataFrame.plot`, and the `.. versionchanged` directive of the parameters `logx`, `logy` and `loglog` is not rendered correctly: https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.plot.html

It's probably a typo, a missing space or something. We should have a look and compare with another docstring where a parameter `versio

[2022-10-15 19:40] Shikharishere commented on #49117
Hey, @datapythonista shikhar here, can you guide me through this issue?

[2022-10-15 20:01] PedroPUCRIO commented on #48855
HI! I am a first time contributor. Can I check unpacking-non-sequence?

[2022-10-15 20:22] PedroPUCRIO commented on #49073
take

[2022-10-15 20:41] MarcoGorelli opened #49119 "BUG: _guess_datetime_format_for_array doesn't guess if first element is '' or 'NaT'"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Both `'NaT'` and `''` end up becoming `NaT` in `ts

[2022-10-15 21:16] angularOcean commented on #49057
Hi gua-nernst, I agree this likely seems to be a typo since `.iat()` selects based upon integer position and `.at()` selects based upon label and this is the select by position section. I am attempting a quick fix and pull request on this.

[2022-10-15 21:25] misantroop opened #49121 "BUG: Assigning column with tuple as name from groupby fails"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Assigning column from groups to a multiindex fails

[2022-10-15 21:51] phofl commented on #49121
Hi, thanks for your report. this is independent of groupby. This is because your columns are a MultiIndex.

[code]

this raises as well

[2022-10-15 23:53] roadswitcher commented on #49075
Yeah, I missed some strange behavior that made my PR irrelevant.

Documenting for the record here:
- submitters original issue can be replicated by picking any initial pair of dates that do not contain a holiday between them, and get an `Index` object.
- You can then call against the same calendar object with a date range that contains at least one holiday, and get the `DatetimeIndex` submitter ex

[2022-10-16 00:27] mathpn commented on #49117
It seems that the issue is caused by a lack of a blank new line. All others ".. versionchanged" occurrences have a blank line before. I've created a pull request with this tiny change. Considering how tiny it is, I haven't included anything in the changelog, please tell me if that's OK.

[2022-10-16 02:31] Dr-Irv commented on #40680
@ashishbalti4 You should create a pull request that includes the updated powerpoint and PDF.

[2022-10-16 08:32] MarcoGorelli opened #49126 "BUG: guess_datetime_format doesn't guess just year"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Parsing just a year works fine in the stdlib:
[cod

[2022-10-16 11:59] #49057 closed

[2022-10-16 12:03] #49117 closed

[2022-10-16 12:05] #49119 closed

[2022-10-16 12:53] #49126 closed

[2022-10-16 13:07] MarcoGorelli commented on #48596
superseded by https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html

[2022-10-16 13:07] #48596 closed

[2022-10-16 13:08] MarcoGorelli commented on #41986
closing to clear the queue, this has been open for a while and there's not been any PRs

[2022-10-16 13:08] #41986 closed

[2022-10-16 13:09] MarcoGorelli commented on #48864
from the dev call: it's OK for `float(pd.NA)` to error, conversion to numpy should be handled in `__array__`

[2022-10-16 13:09] #48864 closed

[2022-10-16 13:47] rhshadrach opened #49129 "BUG: groupby.nth reorders categories"
[code]

While the values are the same, the order of the categories are not. I'm not certain which one here is correct - is the expectation that `sort=False` orders the categories by appearance?

[2022-10-16 14:01] rhshadrach commented on #49129
Reducers seem to give order of appearance, transforms maintain the original order. But I've only tested a handful of reducers / transformers thus far.

<details>
<summary>Reducers</summary>

[code]

</details>

<details>
<summary>Transformers</summary>

[code]

</details>

[2022-10-16 14:09] rhshadrach commented on #48749
I'm thinking we shouldn't reorder the categories at all - the categories are part of the dtype, not the result. We shouldn't be changing the dtype on the user. We're also not consistent - see examples in #49129.

[2022-10-16 14:10] rhshadrach commented on #49129
Duplicate of #48749

[2022-10-16 14:10] #49129 closed

[2022-10-16 15:28] ANTGOMEZ opened #49130 "QST: DF row fields with strings containing single quotes aren't properly escaped or outer quoted"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/74081685/pandas-df-row-values-with-single-quote-in-string-gets-outer-double-quotes-an

[2022-10-16 16:35] rhshadrach commented on #48749
Looking into this, it is complicated by the fact that the _libs groupby code returns the `codes` (called `labels` there) in sorted order. So if the input has categorical codes `[2, 1, 2, 0]`, the result returned from e.g. `_libs.groupby.group_sum` is in the order of `[0, 1, 2]`. We then slap `grouper.result_index` on it, which has the order `[2, 1, 0]`. This gives incorrect results (namely groups

[2022-10-16 20:45] Pvlb1998 commented on #48983
Take

[2022-10-16 20:46] bashtage opened #49132 "DOC/CLN: `how` is completely inconsistent"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]
are all the same.
[code]
    "S",
    "E",
    "start",
    "end",
    "Fi

[2022-10-16 20:46] bashtage commented on #49132
xref pandas-dev/pandas-stubs#383

[2022-10-16 20:53] honza26 commented on #48779
I created a Pull Request https://github.com/pandas-dev/pandas/pull/49133

However as it is my very Pull Request, therefore for now, I marked it as a draft. Please can you look at it and give me some feedback? Thanks

[2022-10-16 20:54] rhshadrach commented on #39154
If I'm understanding the code correctly, those lambdas will be called row-by-row. In that case, they would be highly inefficient when compared to vectorized operations.

[2022-10-16 21:31] Leviob commented on #48855
I'm working on expanding the "C", "R", and "W" codes into their respective errors. I'll keep each of these grouped together in `pyproject.toml` so it is more clear which lines are disabling errors vs conventions, refactors, or warnings.

[2022-10-17 01:50] roadswitcher commented on #49075
take

[2022-10-17 02:37] datapythonista commented on #49132
+1, `start` and `end` are the ones I'd personally keep. Or maybe a `bool` and use `end=False` by default?

[2022-10-17 03:53] datapythonista commented on #48991
Waiting for #49032 and #49137 and will release pandas 1.5.1. I moved all other PRs in the milestone to 1.5.2.

[2022-10-17 07:59] MarcoGorelli commented on #48991
Looks like #49032 isn't quite ready - shall we just revert the original PR, and then, get the (fixed) performance improvement in for 2.0.0?

[2022-10-17 08:48] MichaelTiemannOSC commented on #14162
Was this removed from the **Someday** milestone because it's more definitive than that now?  I've just done a bunch of work to make `uncertainties` work with `Pint` and `Pint-Pandas`, and am seeing that some work needs to be done in `Pandas` as well.  Just taking the temperature on how open that door might be.

https://github.com/hgrecco/pint/pull/1615
https://github.com/hgrecco/pint-pandas/pull/1

[2022-10-17 08:53] itholic opened #49141 "BUG: The behavior of DataFrame.corrwith against `Series` is changed?"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In pandas < 1.5.0:

[code]

In pandas 1.5.0:

[cod

[2022-10-17 08:58] MarcoGorelli commented on #49141
is this different from https://github.com/pandas-dev/pandas/issues/48826 ? looks like it'd be solved by reverting the same PR
[code]

[2022-10-17 09:09] itsapinhulk opened #49142 "BUG: float values not using full range of colormap in DataFrame.plot()"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The plot's colormap changes significantly dependin

[2022-10-17 10:06] phofl commented on #48991
+1 on reverting for now

[2022-10-17 10:18] MarcoGorelli opened #49143 "DOC: replace "join Gitter chat" README badge with link to Slack channel"
Let's replace this badge

https://github.com/pandas-dev/pandas/blob/464c10993c6ec76636a1335903f21baf8622c1e0/README.md#L16

with a custom one (e.g. https://gist.github.com/afig/be5ab20c50062dba7cb835e30206659a) which says "Join Slack" and which links to https://pandas.pydata.org/docs/dev/development/community.html?highlight=slack#community-slack

[2022-10-17 10:28] MarcoGorelli opened #49144 "BUG: guess_datetime_format fails to read 13/2019 in dateutil==2.8.1"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

It returns
[code]

### Expected Behavior

It shoul

[2022-10-17 10:42] coroa opened #49146 "BUG: pd.read_csv with use_nullable_dtypes incompatible with dtype coercion"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- ~[ ] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.~ `use_nullable_dtypes` has been added by #48776 .

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

[2022-10-17 10:42] MarcoGorelli commented on #49144
`dateutil==2.8.1` is nearly 3 years old, could just bump the minimum version

[2022-10-17 11:35] MarcoGorelli commented on #48983
Can't you just do
[code]
before computing the percentage changes?

[2022-10-17 12:21] MarcoGorelli commented on #48983
I think this might be a bug: subtracting a month from `2022-03-31` already goes back to `2022-02-28`:
[code]

[2022-10-17 12:36] DanielGoncalves47264 commented on #48983
@MarcoGorelli
Haven't noticed it before. However it somehow is not applying that rules with pct_change:
[code]

[2022-10-17 12:54] roadswitcher commented on #49143
take

[2022-10-17 13:52] GYHHAHA commented on #48991
Sounds good. Just revert that now and consider moving PERF to 2.0.0.

[2022-10-17 14:54] rjungbeck opened #49150 "ENH: Pandas wheels inclkuded tests (and test data)"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Pandas wheels are normally used to distribute pandas to end users (and not to people developing pandas. Developers would  need a source distribution). So why are tests (and test data) is included in them?

Disk requir

[2022-10-17 15:00] MarcoGorelli commented on #49150
thanks for the suggestion - closing as it looks like a duplicate of https://github.com/pandas-dev/pandas/issues/30741, but do correct me if I'm wrong

[2022-10-17 15:00] #49150 closed

[2022-10-17 15:47] #49144 closed

[2022-10-17 15:52] #48826 closed

[2022-10-17 15:52] #49141 closed

[2022-10-17 16:12] #49146 closed

[2022-10-17 16:18] #49121 closed

[2022-10-17 17:28] mroeschke commented on #48749
Having not looked at the groupby code in a while and given your insight, I was wondering if internally the result could be returned in the order of `[2, 1, 0]` if `sort=False`. Generally I would hope that the values, grouping labels and resulting index could be processed to respect `sort=True/False` before going through the _libs groupby code?

[2022-10-17 17:38] #49143 closed

[2022-10-17 17:57] bashtage opened #49153 "DOC: closed and dtype missing from TimedeltaIndex docs"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.TimedeltaIndex.html

### Documentation problem

Missing two parameters, closed and dtype

### Suggested fix for documentation

Add these two parame

[2022-10-17 19:01] zmwaris1 commented on #49153
Please assign me this issue I would like to fix it.

[2022-10-17 19:15] bashtage commented on #49153
@zmwaris1 You can just submit a PR and link to this issue.  We don't assign in general.

[2022-10-17 19:16] zmwaris1 commented on #49153
Okay thank you.

[2022-10-17 20:23] #48014 closed

[2022-10-17 20:51] jbrockmendel commented on #33254
I've been poking at changing `DatetimeArray._from_sequence` to be more strict and seeing how much it breaks the world.  So far just changing the behavior for `ndarray[object]` arguments.  The main problem that comes up is in `astype_nansafe` where we call `dtype._construct_array_type()._from_sequence(...)` where we want e.g. int64 or strings to Just Work (xref #22384).

One option that would handl

[2022-10-17 20:52] #49108 closed

[2022-10-17 20:56] jbrockmendel commented on #8640
@mroeschke closable?

[2022-10-17 21:07] etale-cohomology commented on #35407
"[...] around the 10th most visited page in our API docs" and they go ahead and deprecate it.

[2022-10-17 21:10] hamzahik opened #49159 "BUG: dtype lost when setting using .loc"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

the column `a` has now the dtype "object" instead

[2022-10-17 21:11] hamzahik commented on #49159
The issue seems to be caused by this line https://github.com/pandas-dev/pandas/blob/main/pandas/core/indexing.py#L1902

[code]

I think it's the same problem described in this numpy issue https://github.com/numpy/numpy/issues/12550

[2022-10-17 22:04] mroeschke commented on #8640
Yeah I believe the current `StringDtype(storage="pyarrow"|"python")` has satisfied the goal of this issue so closing. Can open up more specific issues if there are followups

[2022-10-17 22:04] #8640 closed

[2022-10-17 23:13] Pvlb1998 commented on #48787
Take

[2022-10-18 01:05] jbrockmendel opened #49163 "BUG: groupby.agg with udf incorrectly inferring pyarrow timestamp dtype"
[code]

The agg call does dtype inference on the result by calling maybe_cast_pointwise_result, which has special-casing (which we've wanted to get rid of for a while) for pd.DatetimeTZDtype.

AFAICT the way to fix this is to make _from_sequence stricter xref #33254.

[2022-10-18 03:02] mortymike opened #49164 "BUG: Memory leak on v1.5.0 when using pd.to_datetime()"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

There seems to be a memory leak in the latest 1.5.

[2022-10-18 04:14] rhshadrach commented on #48749
I believe that's what is going on with the recoding for categoricals. Instead of using factorize, groupby uses the categorical codes. But for this, one must recode [2, 1, 2, 0] as [0, 1, 0, 2] when `sort=False` to respect the order of occurrences. Now _I think_ you have to reorder the categories to respect the new codes - e.g. code 0 refers to the first category.

[2022-10-18 06:47] roupenminassian commented on #20769
Is there a patch to fix this?

[2022-10-18 09:02] #42900 closed

[2022-10-18 09:22] #49111 closed

[2022-10-18 09:41] datapythonista commented on #48991
I'll start now the tests for the release and the release afterwards if everything looks good. I'll keep you updated here.

[2022-10-18 10:32] mwaskom commented on #48673
I'm not sure that's a sufficient change @jbrockmendel because `df.isetitem` will not work in that case and there is no corresponding `df.setitem.` I also suspect it's possible to get into a situation where if you do `df[col] = data` you get a `SettingWithCopyWarning` telling you to do `df.loc[:, col] = data`, but then when you do df.loc[:, col]`, you'll get a warning telling you to do `df[col] = d

[2022-10-18 10:56] MarcoGorelli commented on #12649
I think it should be possible to make the fast iso8601 path respect `exact`, that'd make it unnecessary to add an extra argument - I'm giving this a go (will require https://github.com/pandas-dev/pandas/pull/49024 to be in first though)

[2022-10-18 11:09] klaucos opened #49166 "BUG: Memory leak on v1.5.0 with Future Warning"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Operation df.append raises a **future warning** an

[2022-10-18 11:14] MarcoGorelli commented on #49166
thans @klaucos - this is fixed, version 1.5.1 is coming out soon

[2022-10-18 11:14] #49166 closed

[2022-10-18 11:26] datapythonista commented on #48991
Our step to build the sdist is failing because of a problem in conda. Looks like the `blas` package downloaded from Anaconda is corrupt.

This is the package in [repodata.json](https://repo.anaconda.com/pkgs/main/linux-64/repodata.json.bz2):

[code]
But the downloaded file is significantly smaller, and sha256 checksum doesn't match: https://repo.anaconda.com/pkgs/main/linux-64/blas-1.0-openblas.ta

[2022-10-18 11:53] MarcoGorelli commented on #49164
thanks @mortymike for the report - fixed in https://github.com/pandas-dev/pandas/pull/49053, and version 1.5.1 is coming soon

[2022-10-18 13:39] phofl commented on #49164
Can you reproduce @MarcoGorelli ? The memory usage is constant on my machine after the garbage collector kicks in. This is consistent with 1.4.0

[2022-10-18 13:45] SophiaTangHart commented on #38519
I'd like to take it and clarify on the release note. I'd like to let you know that this is my first time contributing.

[2022-10-18 13:57] MarcoGorelli commented on #49164
I haven't tried to reproduce it yet - @mortymike 1.5.0 did introduce some warnings in `to_datetime`, and those did introduce a memory leak, does your production code produce any warnings? If so, then https://github.com/pandas-dev/pandas/pull/49053 has likely fixed it

[2022-10-18 14:11] MarcoGorelli commented on #38519
Sure, go ahead - here's the contributing guide https://pandas.pydata.org/docs/dev/development/contributing_docstring.html , please do ask (here or on Slack) if anything's not clear

[2022-10-18 14:24] mortymike commented on #49164
Thanks for looking into this - there are no errors or warnings on the production instance, memory consumption just slowly increases with each iteration of the loop until the VM kills the process with 1.5.0.

The example I provided has higher peak and average memory consumption for me on my Macbook (it may help to increase wait time between loops to see memory profile per loop iteration), but maybe

[2022-10-18 14:35] MarcoGorelli commented on #48706
Sure, an error message indicating which sheet this was in might be good

Not overly keen on this kind of behaviour - why not do something like
[code]
?

[2022-10-18 14:43] apacha commented on #48706
@MarcoGorelli Yes, having a more descriptive error message would be fantastic. Thanks also for the proposed solution - I will change our code to read the sheets like this! 🙏

[2022-10-18 15:33] datapythonista commented on #48991
I don't think for building the sdist it even makes much of a difference, feels like only `setup.py` is executed for it, and `numpy` is only used to call `numpy.get_include()` which contains the C headers of numpy. So, as far as numpy can be imported and is updated, I don't think any of its dependencies really matter.

But surely no reason that I know to use that old blas and use the Anaconda chann

[2022-10-18 16:59] keiyanishio commented on #49153
Hi @bashtage, I added the two missing parameters  in this PR:  https://github.com/pandas-dev/pandas/pull/49168

[2022-10-18 18:42] mwintner-fn opened #49170 "BUG: joblib.hash(series_with_sorted_datetime_index) sometimes returns different values after save/load"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Different joblib hashes for pandas objects which a

[2022-10-18 20:01] FenderJazz opened #49173 "BUG: groupby aggregation with dropna=False, nullable integer dtype and NA generates NumPy IndexError"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Output (Pandas 1.5.0) is:

[code]

There seems to

[2022-10-18 21:02] Simon-Free opened #49174 "PERF: wide_to_long taking a long time, but I found why !"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

When wide_to_long has a large number of columns passed as `i` (my dataframe h

[2022-10-18 21:29] jbrockmendel commented on #19696
closable?

[2022-10-18 21:32] jbrockmendel commented on #32586
AFAICT the only thing discussed here that is really up on the air is the strictness of _from_sequence, for which the discussion has moved to #33254.  closing.

[2022-10-18 21:32] #32586 closed

[2022-10-18 21:40] bsegot commented on #48516
Hello oliver, this bug has been resolved since this commit,
https://github.com/pandas-dev/pandas/commit/3408a61ff940900ed1aa5fb89ee92635938d2e94

the problem was how the corner case empty dataframe was handled, in the function def _wrap_applied_output,
of the file located at /pandas/pandas/core/groupby

For this corner case, it does not impose the type float64, but pass the type of the column dire

[2022-10-18 21:46] #39307 closed

[2022-10-18 21:59] phofl commented on #49173
Hi, thanks for your report
. Duplicate of #49103 ?

[2022-10-18 22:20] joelsonoda opened #49175 "BUG: Inconsistent handling of short lines"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

We import jagged csv files by specifying the colum

[2022-10-19 00:20] brurosa commented on #32923
Is this refactor still relevant? If it is, I would like to take it!

[2022-10-19 00:43] rhshadrach commented on #49173
This appears to be a duplicate to me; the example works on main. It should be fixed in the 1.5.1 release; @FenderJazz please comment here if you find that not to be the case.

[2022-10-19 00:43] #49173 closed

[2022-10-19 01:04] Pvlb1998 commented on #49001
Is this issue still possible do Take?

[2022-10-19 02:53] Pvlb1998 commented on #48478
Is this issue still relevant in the latest version?

[2022-10-19 04:38] datapythonista commented on #48991
Pushing tag and starting wheel builds.

[2022-10-19 04:57] mortymike commented on #49164
Updates on the above:
1. Latest `main` branch does NOT have the memory leak from my testing. Interestingly, neither the latest `main` branch, 1.5.0, 1.4.4, or 1.4.0 log any errors or warnings on my application, and I'm logging info-level messages before and after the call to `to_datetime()`
2. 1.4.4 does NOT have the memory leak
3. I did not spend time on this one because the issue is no longer pr

[2022-10-19 05:03] datapythonista commented on #21050
If I'm not missing anything, I think what makes most sense is to move the next things from the pandas-release repo to this one:

For every PR, add to the CI:
- Job that builds the sdist and tests it
- Job that builds the pip package and tests it
- Job that builds the conda package and tests it

Add to the [release docs](https://pandas.pydata.org/docs/dev/development/maintaining.html#release-proces

[2022-10-19 06:41] datapythonista commented on #48991
GitHub release and PyPI packages are now ready. There seems to be a problem with Sphinx, where workers don't seem to finish after the docs are built. Will give it one more try, and will build the docs for the release manually if the job continues to fail.

conda-forge should now be able to detect the new package and automatically open the PR to get the new release there. Will wait for it to happen

[2022-10-19 07:29] phofl commented on #49175
Hi, thanks for your report.

we have a couple of open issues about this. Could you please search the tracker and link the related once’s so that we can close here?

[2022-10-19 07:30] phofl commented on #49164
Thanks for investigating, it could be possible that warnings were raised and caught again internally

[2022-10-19 07:30] #49164 closed

[2022-10-19 07:45] olsgaard commented on #49175
I would have expected all scenarios to give a `ParseError`. The documentation doesn't say anything about how such a scenario is expected to be handled. Which ever way we go, it should be added to the documentation.

Your example code needs to either rewind the `single_line_csv` object or set it again before calling the `.read_csv()` method a second time.

[code]
[code]

[2022-10-19 08:01] olsgaard commented on #48673
What's the difference between the inplace and setting a new array? Neither the warning, nor the release notes makes this very clear to me.

I have a script that runs `df.loc[i:ii, c] = newvals` in a loop over a number of dataframes and only some of the cases emits this warning, but in all cases values are set correctly.

I also don't see how either  `df[df.columns[i]] = newvals` or, `df.isetitem(i

[2022-10-19 08:49] nathanjmcdougall commented on #39415
It is worth noting that as of v0.24 versioneer can be non-vendored, closing this issue:
https://github.com/python-versioneer/python-versioneer/issues/193
If the plan is to move away from versioneer altogether, it may be worth updating this comment accordingly:
https://github.com/pandas-dev/pandas/blob/75429df91ecafff0748816c414aea0a00eeb25b0/pyproject.toml#L10-L12

[2022-10-19 09:24] olsgaard commented on #49132
The validation of the `how` values happens in `validate_end_alias`

https://github.com/pandas-dev/pandas/blob/bbb1cdf13a1e9240b43d691aa0ec3ca1b37afee4/pandas/_libs/tslibs/period.pyx#L2654-L2661

Here we see that it is case insensitive, and accepts 6 different words, but if no match is found, it raises a `ValueError` saying only `'S'` and `'E'` are valid values.

So not only does the documentation

[2022-10-19 09:55] phofl commented on #49175
#47566 and #40587

[2022-10-19 09:55] #49175 closed

[2022-10-19 10:42] datapythonista commented on #48991
Docs are updated. We seem to have problems when using Sphinx with multiple workers, happens in the CI and also happened to me locally. Things seem fine when using a single job.

Still waiting for the automatic conda-forge PR, I'll wait some more, and open it manually if it doesn't seem it'll be generated automatically..

[2022-10-19 10:46] FenderJazz commented on #49173
Thank you -- it does look like the same bug!  I'm standing by for 1.5.1.

Apologies for not taking more time to search (I was looking for IndexError, but I should have searched on some of the other signature features too).

[2022-10-19 11:01] MarcoGorelli commented on #47305
locally I run
[code]
, it usually takes a few attempts to build correctly but it's faster than -j 1

[2022-10-19 11:12] samukweku commented on #49174
@Simon-Free i'm also interested in this. Do you have something you are comparing it to?

[2022-10-19 11:55] datapythonista commented on #48991
PR for conda-forge created: https://github.com/conda-forge/pandas-feedstock/pull/143

I'll wait for the CI to complete, and merge it.

[2022-10-19 12:01] aaossa commented on #48706
Sure, I'll apply the change and make the PR soon

[2022-10-19 12:48] kostyafarber commented on #48949
Anybody have any idea on how to handle the symmetric difference for more than two sets?

`diff = set(ci_optional.items()).symmetric_difference(code_optional.items())`

From my understanding we would want to add the dependencies extracted from `setup.cfg` into that line. Not sure how to chain them together.

[2022-10-19 13:04] lithomas1 commented on #48991
@datapythonista Can you also tag v2.0.0dev0 while you're at it too? Thanks.

[2022-10-19 13:15] JMBurley commented on #48978
Can confirm the issue is as stated.  The root cause is the pattern match for `is_fsspec_url` being `_RFC_3986_PATTERN = re.compile(r"^[A-Za-z][A-Za-z0-9+\-+.]*://")`.

Therefore the double-colon causes the regex to fail and fsspec is not called.

Easy to adjust that to allow a double colon, however I am not sure what exactly syntax we are corresponding to by allowing  a double colon at the start o

[2022-10-19 13:29] datapythonista commented on #48991
Sure, I'll do it, but I prefer to finish the release even if it shouldn't affect.

Seems like we've got an error in the arm builds in conda-forge. Seems related to [this](https://github.com/conda-forge/pypy3.6-feedstock/issues/90), having a look to see if I can find the problem.

[2022-10-19 13:29] SophiaTangHart commented on #38519
@MarcoGorelli, Thank you. I'm reading the contributing guide.
I'm also new to Slack. How do I join Pandas Slack group? Do I refer to version 1.1.4 #38519 if I need clarification? Do I need to address certain people? Thanks!

[2022-10-19 13:46] pjousma commented on #48779
"When parameter n=0, always offset to the end of month.

When parameter n=1, depend on the given date:
a) Given date is on an anchor point (last day of the month) -> offset to
the end of the following month.

b) Given date is not on an anchor point -> offset to the end of the same
month."

For me the functionality of the parameter is not logical.
My intepretation is that n the offset of the data u

[2022-10-19 13:57] datapythonista commented on #48991
Seems like the errors are a known issue with pypy. I'll wait for the last jobs to finish (the ppc64le jobs), and if they are fine, I'll merge the PR.

[2022-10-19 14:08] JMBurley commented on #48978
In theory can fix with a PR that:

- modifies regex pattern in  `pandas/io/common.py`
- updates test `test_read_json_with_url_value` with a double-colon case
- updates test `test_is_fsspec_url` with a double-colon case

which should get the fsspec functionality AND ensure we don't have a collision with the prior JSON read issue.

I can take this PR, as I recently was working investigated the fsspe

[2022-10-19 14:24] datapythonista commented on #48991
Tag `v2.0.0.dev0` created at the same location than `v1.6.0.dev0`. Versioneer seems to be using the new tag.

CC: @lithomas1 @phofl @mroeschke

[2022-10-19 14:26] benoit9126 opened #49183 "BUG: MultiIndex and its levels are inconsistent"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

There is an inconsistency between the index of a d

[2022-10-19 14:26] ELHoussineT commented on #39154
@rhshadrach

Isn't the same row-by-row assignment when we do:

[code]

The columns above get assigned one by one, but in the assignment of the column itself, we have vectorisation. I believe this is similar to what was proposed in (issue: https://github.com/pandas-dev/pandas/issues/46285, PR: https://github.com/pandas-dev/pandas/pull/46286).

If you agree, I can re-open the PR and we can drive thi

[2022-10-19 14:28] phofl commented on #48991
Thanks

[2022-10-19 14:30] phofl commented on #49183
Hi,
Thanks for your report. This behaves as intended. Only the codes are updated. You have to remove unused levels explicitly

[2022-10-19 14:30] #49183 closed

[2022-10-19 14:30] MarcoGorelli commented on #48991
thanks @datapythonista !

all good to start merging deprecation PRs then?

[2022-10-19 14:31] phofl commented on #48991
Yep

[2022-10-19 14:36] ligon commented on #48978
Thanks for tackling this!

It may not matter for this case, but the double colons do show up in RFC
3986 for the case of elisions in IPv6 addresses.  I suppose one would like
to be able to handle the case of
"filecache::s3://2607:f8b0:4005:811::200e/foo", though I don't know whether
fsspec itself does this correctly or not.

On Wed, Oct 19, 2022 at 6:16 AM JMBurley ***@***.***> wrote:

--
Ethan Li

[2022-10-19 14:49] benoit9126 commented on #49183
Thanks for the quick answer. I didnot know that the `levels` were not updated with the main index class.

Nevertheless, it remains a problem when using a `assert_frame_equal` as there is a check on levels dtype based on the `levels` property (and not `codes` property)... As a consequence, in [`pandas._testing.assert_index_equal`](
https://github.com/pandas-dev/pandas/blob/b94f1a18d35ae516587ce9161

[2022-10-19 15:21] lithomas1 commented on #48991
Thank you.

[2022-10-19 15:27] MarcoGorelli commented on #12649
I've opened https://github.com/MarcoGorelli/pandas/pull/5/files as a POC to address this

The code is very messy, and I'll clean it up before opening a PR to this repo, but @ssche @aflag @brandon-leapyear @philipCrunchboards @fersarr @rsheftel  I just wanted to ask if you could take a look at

https://github.com/MarcoGorelli/pandas/blob/fc419d526ad1f7cf2a1174dae6f9385734e7283e/pandas/tests/tools/t

[2022-10-19 16:09] lucaslarios commented on #49069
take it

[2022-10-19 16:09] lucaslarios commented on #48479
take it

[2022-10-19 16:11] MarcoGorelli commented on #49069
wait sorry @lucaslarios , still not 100% sure we want this in pandas, I should've added "needs discussion" label - I've added it now

[2022-10-19 16:45] SophiaTangHart commented on #38519
@MarcoGorelli, thank you for directing me to join Slack. And thank you for your suggestion.

I'm not able to open

 - Fixed regression in inplace arithmetic operation on a Series not updating the parent DataFrame (:issue:`36373`)

to reword it. How can I access the docstring? Do I need to do it through my GitHut account? Thank you.

[2022-10-19 17:01] dhavide commented on #13159
take

[2022-10-19 17:47] MarcoGorelli commented on #38519
Yeah you'll need to fork the repo, clone it, checkout a new branch, stage, commit, push, open a pull request - if you read through https://pandas.pydata.org/docs/dev/development/contributing.html it should all be explained, else we're available on Slack to help out

[2022-10-19 18:33] mvashishtha opened #49188 "DOC: Document that result_type has an effect with axis=0, not axis=1"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.apply.html

### Documentation problem

docs say `result_type` values "only act when axis=1 (columns)", but in fact for this dataframe

[2022-10-19 18:50] noatamir opened #49189 "49118"

[2022-10-19 18:53] #49189 closed

[2022-10-19 20:24] lucaslarios commented on #49069
ok instead of that I will take another issue.

[2022-10-19 20:45] honza26 commented on #48779
@pjousma Yes, I agree that the current behavior is little bit confusing, and what you suggested is definitely more logical.

However, I believe that as quick immediate solution we can document current logic (if everything goes well we can close this PR in next several days) and in longer term we can open discussion about changing functionality of the 'n' parameter. Not sure about processes here in

[2022-10-19 20:47] MarcoGorelli commented on #48991
Looks like there's a release on PyPI, the docs are updated, it's available on conda-forge

OK to close the issue and announce?

[2022-10-19 21:17] mvashishtha opened #49190 "DOC: clarify that result_type=r'reduce' has no effect when applying np universal function to dataframe"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.apply.html

### Documentation problem

docs say that when `result_type='reduce'`, "returns a Series if possible rather than expanding

[2022-10-19 21:21] MarcoGorelli commented on #48779
Yeah changing behaviour shouldn't be taken lightly - for a start, would there be a way to communicate the change to users in such a way as to not flood them with warnings every time they use `MonthEnd`?

But certainly it should be clearly documented with examples so thanks @honza26 for taking this on!

[2022-10-19 21:34] samukweku commented on #39154
@erfannariman just checking if you are still working on this. If you are not working on it, I can take over and raise a PR

[2022-10-19 22:19] MichaelTiemannOSC opened #49191 "BUG: scalar/array logic still broken in Block setitem"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The issue concerns a change made 9 months ago: htt

[2022-10-19 22:47] Leviob commented on #48855
After expanding the "C", "R", and "W" message types into their individual message names, here are the new pylint messages that can be worked on.
https://github.com/pandas-dev/pandas/blob/d2acdee72b33c8c52bb5f8b902190bbfcf27ca47/pyproject.toml#L81-L204

I'm going to work on `superfluous-parens` next.

[2022-10-19 23:34] Leviob commented on #48855
Pylint produces nearly 20k messages for [invalid-name](https://pylint.pycqa.org/en/latest/user_guide/messages/convention/invalid-name.html). Most of these are due to variables named with less than 3 characters, and not necessarily violating naming rules. Unless pylint is changed to accept short variable names, or we want to rename every `df`, we probably can't enable it.
See pylint issue: https://

[2022-10-19 23:38] phofl commented on #49183
This is not the same object. You have to do some postprocessing yourself for this

[2022-10-19 23:48] Simon-Free commented on #49174
I will try to make a nice clean example this weekend :)

[2022-10-20 00:50] lucaslarios commented on #48287
take it

[2022-10-20 01:36] aaossa commented on #48706
@MarcoGorelli , the linked PR #49186 is ready for review 👌 BTW, should this issue be renamed? It ended up not being a bug but a feature request it seems

[2022-10-20 01:42] brurosa commented on #46965
take

[2022-10-20 02:20] rhshadrach commented on #39154
@ELHoussineT I see, I missed that you're allowing the values to be Series as well as callable. It seems to me this API would not be able to handle the example in https://github.com/pandas-dev/pandas/issues/39154#issuecomment-1071202235, is that correct?

[2022-10-20 02:28] rhshadrach commented on #47305
Minor tweak to avoid compiling when you don't need to:

[code]

[2022-10-20 02:29] rhshadrach commented on #49001
@Pvlb1998 - yes, comment take and it will be assigned to you.

[2022-10-20 02:57] lucaslarios commented on #30683
take

[2022-10-20 02:58] lucaslarios commented on #49001
take

[2022-10-20 03:25] SophiaTangHart commented on #38519
take

[2022-10-20 03:36] rhshadrach commented on #21755
All issues reported here appear to be fixed on main. Marking this as needs tests, but I haven't checked if similar tests exist.

[2022-10-20 03:41] datapythonista opened #49194 "RLS: pandas 1.5.2"
Aiming at the release of pandas 1.5.2 at some point in November, if nothing urgent needs to be fixed and released.

[2022-10-20 03:42] datapythonista commented on #48991
Yep, sorry, it was my nighttime before I could make the final verifications and the announcements.

All done now, I checked the release packages for my architecture, and made the announcements on the pydata and pandas-dev mailing lists, Telegram, Twitter and Slack.

Closing this. I created #49194 for 1.5.2, targeting at November for the release.

[2022-10-20 03:42] #48991 closed

[2022-10-20 03:44] rhshadrach commented on #17775
Head is a filter; sort is only applied to reducers within groupby. To my knowledge this isn't documented, but I haven't checked. I think documentation on this should be added to the `Series.groupby` and `DataFrame.groupby` API docs as well as the User Guide.

[2022-10-20 03:48] rhshadrach commented on #7287
Closing as a duplicate of #17775

[2022-10-20 03:48] #7287 closed

[2022-10-20 03:50] Pvlb1998 commented on #48582
Take

[2022-10-20 04:21] perfectly-preserved-pie opened #49195 "BUG: Pandas crashes when asked to display a dataframe containing a column with specific content"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I have a column that contains Dash by Plotly HTML

[2022-10-20 04:47] mvashishtha opened #49196 "BUG: result_type=expand seems to behave exactly like result_type=None"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In every case I can think of, default of `result_t

[2022-10-20 04:55] mvashishtha commented on #49188
Correction: `result_type="broadcast"` does broadcast result into a dataframe both when axis=1 and when axis=0:

[code]

[2022-10-20 05:03] mvashishtha commented on #49188
Also `result_type='expand'` **does** have at least some effect when `axis=1`:

[code]

[2022-10-20 05:20] venaturum opened #49198 "BUG: panda._testing.assert_interval_array_equal no longer checks "exact" parameter"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Granted, the functionality in the _testing module

[2022-10-20 05:51] samukweku commented on #39154
@rhshadrach @ELHoussineT , one option, would be to create a standalone `if_else` function, that can be used within assign or on its own. That way `assign` stays the same with no changes and can be adapted to whatever assignment operation is required. Have a look at an example in [#39154(comment)](https://github.com/pandas-dev/pandas/issues/39154#issuecomment-932033162) for a possible implementatio

[2022-10-20 07:16] benoit9126 commented on #49183
Thanks.

[2022-10-20 08:42] kostyafarber commented on #48949
Would something like `ci_optional.items() ^ code_optional.items() ^ setup_optional.items()` work?

[2022-10-20 09:05] torfsen opened #49199 "BUG: Incorrect result for Timestamp.ceil during clock change"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The `Europe/Berlin` timezone has a clock change on

[2022-10-20 10:03] JoakimZachrisson opened #49200 "BUG: DataFrame.apply with empty dataframe applies the function"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Prior to version 1.5.0, applying a function to an

[2022-10-20 10:34] killerrex opened #49201 "DOC: Adding new columns in a DataFrame of Nullable type might be better explained"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html

### Documentation problem

When adding a new column to an exisitng dataframe using pd.NA is tricky.
[code]
Adding a new column

[2022-10-20 11:15] achapkowski opened #49202 "DOC: Improve the register_index_accessor Documentation"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.api.extensions.register_index_accessor.html#pandas.api.extensions.register_index_accessor

### Documentation problem

There is no example showing h

[2022-10-20 11:20] gtopper opened #49203 "BUG: `astype('datetime64[us]')` has no effect on `datetime64[ns]` series"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In 1.5.0 and 1.5.1, it prints
[code]
and raises an

[2022-10-20 13:31] fabinca commented on #48855
I'm working on the following R-Type pylint messages
#  "literal-comparison",
#  "no-else-break",
#  "no-else-continue",
#  "no-else-raise",
#  "no-else-return",
#  "no-self-use",
#  "simplifiable-if-expression",
#  "simplifiable-if-statement",
#  "useless-option-value",
#  "useless-return",

[2022-10-20 13:36] brurosa commented on #46965
take

[2022-10-20 13:36] brurosa commented on #48515
take

[2022-10-20 13:47] lucaslarios commented on #48515
take

[2022-10-20 13:47] lucaslarios commented on #48287
take

[2022-10-20 13:51] phofl commented on #47480
We try to add tests if something was fixed without getting closed

[2022-10-20 14:10] ELHoussineT commented on #39154
@rhshadrach

I believe the only missing feature is the "default" value. I can tweak this API to support that and add some tests.

If you agree, I will open a PR.

[2022-10-20 14:21] phofl commented on #49198
Hi, thanks for your report. Does this in any way leak into the public api?

[2022-10-20 14:31] phofl commented on #49200
[code]

#47222

[2022-10-20 14:31] phofl commented on #48991
Can we close the 1.5.1 milestone?

[2022-10-20 14:52] datapythonista commented on #48991
Yep, forgot about it, thanks for the heads up. I moved all issues in the milestone 1.5.1 to 1.5.2 and closed 1.5.1.

[2022-10-20 15:00] MarkoM-5 opened #49206 "ENH: The behavior of indexing on a MultiIndex with a nested sequence of labels is deprecated"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Issue regarding future deprecation:

FutureWarning: The behavior of indexing on a MultiIndex with a nested sequence of labels is deprecated and will change in a future version. `series.loc\[label, sequence]` will rais

[2022-10-20 15:11] tsvikas opened #49207 "BUG: chaining style.concat overwrites each other"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The new `style.concat` option can be used to add s

[2022-10-20 15:29] tsvikas commented on #49207
`.to_string()` is here to give a minimal example, the issues exists in any styler format, and visible in jupyter notebooks, etc.

[2022-10-20 15:55] phofl commented on #49206
Hi, thanks for your report. Please provide a reproducible example
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2022-10-20 16:19] #42600 closed

[2022-10-20 16:20] MarcoGorelli commented on #49206
also, images aren't searchable nor copy-and-pasteable, would advise that you don't use them in reports https://youtu.be/svlsnZFWWDE

[2022-10-20 17:58] #35849 closed

[2022-10-20 18:05] marenwestermann commented on #48060
Thank you @MarcoGorelli and @jorisvandenbossche for your replies! I finally managed to successfully install the development version of pandas, hooray! The pandas version that I now have is `2.0.0.dev0+398.g52acf970cd`. I followed the instructions given by @MarcoGorelli above. The only thing I did differently compared to before is that I cloned directly from the pandas repo (as instructed) instead

[2022-10-20 19:58] m12t commented on #45572
I don't think this merits a new issue on its own just yet, so I'll ask it here as a comment:

### tldr: how to set the `ExcelWriter.book` and `.sheets` attributes in `1.5.0` and beyond

I'm one of the users using the `.book` and `.sheets` attributes before they became public in `1.5.0`. The following code broke with the change from `1.4.4` to `1.5.0`

[code]
After updating to `1.5.0`, this causes

[2022-10-20 21:21] mzeitlin11 commented on #49195
Thanks for reporting this @perfectly-preserved-pie! To investigate this further it would helpful to narrow down where things are going wrong. First, can you reproduce this in a more minimal example? (without `pickle`, with as few rows/columns as possible, ideally just the column with rows that fail to display).  Does that column contain a `dash/plotly` specific type or can it be reproduced without

[2022-10-20 21:23] vamsi-verma-s commented on #49195
it seems to be because of dash object's behavior. The below dash object's `len(seq)` = 2 even though the object has only one element. Therefore raises `StopIteration` on second iteration.

[code]

I am not sure if there is a work around. but, it would be better if you could change it to string before printing it would work.

[code]

[2022-10-20 21:26] mzeitlin11 commented on #49142
Thanks for reporting this @itsapinhulk! Further investigation into fixing this would be very welcome.

[2022-10-20 21:55] vitalizzare opened #49217 "BUG: When applying `Series.clip` to ordered categorical data, the outcome is different from what is expected"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Let's say we have a series of ordered categorical

[2022-10-20 22:06] vamsi-verma-s commented on #49195
this needs to be fixed in dash I guess. `__len__` does not match `__iter__`

https://github.com/plotly/dash/blob/ac7b37d0a40ffd7e48780e3c84f645c0554eb26f/dash/development/base_component.py#L358-L384

[2022-10-20 22:57] vamsi-verma-s commented on #49217
Hi @vitalizzare
just sharing my opinion here -

The docs for `.clip` say `lower` and `upper` need to be `float or array-like` don't think this would work for categorical.
I feel this is made for numerical data. But, It may work for values that could be compared independently like `float`.

This would work:
`s.where(s>='two', 'two').where(s<='four', 'four')`
or

could workaround the issue like this

[2022-10-20 23:03] ssche commented on #12649
Looks good @MarcoGorelli. One thing I would add is a test that tries to convert a list of datetime strings with a mix of strings (some comply with the format, some don't, so I would expect the whole conversion to fail). I would also add a few ambiguous strings with month/day swapped (https://github.com/pandas-dev/pandas/issues/12649#issuecomment-197672942).

[2022-10-20 23:20] venaturum commented on #49198
No I don't think so, I was using it in unit testing but have written a workaround now.  Perhaps the docstring should be updated though.

[2022-10-21 00:27] JelleZijlstra opened #49222 "BUG: Reference leak in pandas/_libs/src/ujson/python/objToJSON.c"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Various code starting at https://github.com/pandas

[2022-10-21 03:20] rhshadrach commented on #39154
@ELHoussineT - can you show what https://github.com/pandas-dev/pandas/issues/39154#issuecomment-1071202235 would look like with your suggested signature? My understanding is that the keys of the dictionary are to become the values in the result. I don't see how you can use a Series in a straight-forward manner as the values in the result.

[2022-10-21 03:38] rhshadrach opened #49223 "BUG: groupby with categorical result order differs for index type"
When a categorical grouper is used on a DataFrame with a range index, the sort order of the values depends only on whether the categorical is ordered. When the grouper is the index, the sort order of the values depends only on the `sort` argument to groupby.

<details>
<summary>Code</summary>

[code]

</details>

[code]

[2022-10-21 04:24] perfectly-preserved-pie commented on #49195
That 'popup_html' code is generated from a CSV spreadsheet [like this one](https://docs.google.com/spreadsheets/d/18xWAF0Gg89w9t6tqcbUt4hWtJVisfBos/edit?rtpof=true&sd=true#gid=336190443) [using this function.](https://github.com/perfectly-preserved-pie/larentals/blob/master/dataframe.py#L334-L507). If I go line by line in dataframe.py (just basically importing that spreadsheet and executing code f

[2022-10-21 06:32] MarcoGorelli commented on #12649
thanks for taking a look!

Not sure what you mean here, sorry - isn't ISO8601 always month before day? If it doesn't hit this ISO8601 fast-path, then it should be addressed by PDEP0004

If you have a specific test case in mind I can check

[2022-10-21 06:34] MarcoGorelli commented on #12649
thanks for taking a look!

Not sure what you mean here, sorry - isn't ISO8601 always month before day? If it doesn't hit this ISO8601 fast-path, then it should be addressed by PDEP0004

If you have a specific test case in mind I can check

[2022-10-21 07:55] wany-oh commented on #45848
Would this change also apply to `Series.str.get_dummies()`?

[2022-10-21 08:07] wany-oh commented on #49069
I think it is a big change the return value of `Series.value_counts()` will be changed from Series to DataFrame.

[2022-10-21 08:42] chikausa commented on #15580
Hello! I was wondering if you're still accepting contributions on this. If it's alright, could I take up this issue to try contributing some docstrings?

[2022-10-21 09:51] MarcoGorelli commented on #45848
that's a good point, `.str.get_dummies` still defaults to `int64` - want to open a separate issue about changing that to bool too?

[2022-10-21 09:52] MarcoGorelli commented on #49069
true, but the same thing already happens with e.g. `df.groupby('col1', as_index=False)['col2'].sum()`

[2022-10-21 10:21] takikorabi commented on #35347
df.to_sql( name = table, con = engine, if_exists = if_exists, index = index, chunksize = chunk, dtype = dict_var)

where dict_var is a dict:

dict_var = {'column1':  sqlalchemy.types.BigInteger(),
                   'column2' : sqlalchemy.types.NVARCHAR(length=30),
....}

[2022-10-21 10:46] ThomasAuriel commented on #15988
+1 for append_skipdupes

[2022-10-21 14:07] jondo opened #49230 "BUG: to_string(header=False) should not shift the index w.r.t. the data"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The code results in
[code]

### Expected Behavior

[2022-10-21 14:14] MarkoM-5 commented on #49206
Thanks for the feedback, at quick way to reproduce this error is:

[code]

Output is:

[code]

I understand why you would want to remove this feature but for our case, this feature definitely helps us with obtaining our relevant information.

[2022-10-21 14:23] jondo commented on #49230
Workaround: set `df.index.name = None` before calling `df.to_string`.

[2022-10-21 14:29] MarcoGorelli opened #49231 "DOC: remove statement that %S parses all the way up to nanosecond even if no decimal place present"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.to_datetime.html

### Documentation problem

The sentence

isn't generally true - it's only true for the ISO8601 fastpath, and that's because o

[2022-10-21 14:42] mwyschan opened #49233 "BUG: inconsistent index order when creating DataFrame from dictionary with only 1 column"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Not sure if related to this: https://github.com/pa

[2022-10-21 14:49] accelyte commented on #49233
Temporary workaround:
[code]

[2022-10-21 16:13] jbrockmendel commented on #49048
Do the profiling results point to anything more specific?

[2022-10-21 16:24] jbrockmendel commented on #49222
cc @WillAyd

[2022-10-21 16:25] jbrockmendel commented on #49191
"still" suggests this has been discussed before.  is there another issue for this?

[2022-10-21 16:28] jbrockmendel commented on #49116
If you pass a pytz.FixedOffset _object_ you should be OK.  IIUC the trouble is in passing a string that pytz can't parse

[2022-10-21 16:32] vamsi-verma-s commented on #49230
use `index_names=False`

[code]

[2022-10-21 16:36] borlaugen commented on #49048
After looking more closely at the results it looks like nt.stat is called roughly 10 000 times more in 1.5 than in 1.4 for one of our tests. Below is an excerpt of cprofile's output sorted on total time. This is the same run where i got the 18 seconds on average per call for _sequence_to_dt64ns. I am still a newbie at reading cprofiler's results, let me know if there is anything I could do to prov

[2022-10-21 16:38] TomAugspurger opened #49236 "ENH: Expose `to_pandas_kwargs` in `read_parquet` for pyarrow engine"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I want to read a parquet file but have control over how the pyarrow Table is converted to a pandas dataframe by specifying the `to_pandas_kwargs` argument in the call to `Table.to_parquet()`.

[code]

That raises with

[2022-10-21 16:41] jbrockmendel commented on #49048
can you use `.sort_stat("cumtime")` before printing the profiler results?  also need more lines of output, as what you've posted doesn't look like its even getting to the pandas code

[2022-10-21 16:47] #39164 closed

[2022-10-21 16:49] borlaugen commented on #49048
Attached is the entire output from two different runs with 1.4.4 and 1.5.1 respectively.

[profiler_1_5_github.txt](https://github.com/pandas-dev/pandas/files/9840940/profiler_1_5_github.txt)
[profiler_1_4_github.txt](https://github.com/pandas-dev/pandas/files/9840941/profiler_1_4_github.txt)

[2022-10-21 16:50] jondo commented on #49230
@vamsi-verma-s, in my case `df.to_string(header=False)` evaluates to the string `'a  2\n0  3\n1   '`, which nonsensically has the index name and the first value of the data column in the same row, and the rest of the index shifted w.r.t the data.

I expect `df.to_string(header=False)` to give `'a   \n0  2\n1  3'`, analogous to the `'   0\na   \n0  2\n1  3' of `df.to_string()`.

[2022-10-21 16:51] mroeschke commented on #48238
Yeah @a-reich essentially this test needs to be added which hopefully should be a good first time contribution: https://github.com/pandas-dev/pandas/pull/48258/files#diff-290226273f5cd28655f0fa2a4c154cd9909edc6a1f5abee07fec8ab374a9133eR1755

[2022-10-21 16:59] jbrockmendel commented on #49048
@pganssle it looks like zoneinfo load_tzdata is taking something like 93% of the runtime here.  any idea what's going on?

[2022-10-21 17:23] pganssle commented on #49048
@jbrockmendel Are you doing something weird to load the ZoneInfo objects? I don't really understand why load_tzdata is being called 118k times, since you should be hitting the cache after the first one.

Do you see the same issue if you add `TZ=zoneinfo.ZoneInfo("Europe/Paris")` to the setup code? This might be an artifact of the way you are doing the benchmark.

[2022-10-21 17:23] JMBurley commented on #48949
`diff = a.items() ^ b.items()^ c.items()` or any similar chained XOR will not work.  For one, any items that exist in both a&b&c would be incorrectly flagged as missing (because you return the list of difference between a,b and then compare that against c).

Instead subtract the intersection from the union `diff = (a | b | c) - (a & b & c)`.

Based on experience my key goal here would be **clear e

[2022-10-21 17:28] JMBurley commented on #48949
PS. @mroeschke suggest we add this to the 2.0 milestone.  Apologies for the ping on admin; I don't have permissions to do add milestones or tags.

[2022-10-21 17:29] #46747 closed

[2022-10-21 17:50] borlaugen commented on #49048
@pganssle, I install tzdata and now the run times are  normal. See attached cprofiler output.

[profiler_1_5_tzdata.txt](https://github.com/pandas-dev/pandas/files/9841270/profiler_1_5_tzdata.txt)

[2022-10-21 17:54] WillAyd commented on #49222
Yea this is an init hook for the module when it is instantiated. I think could use a cleanup function attached to the module if you'd like to add

[2022-10-21 17:56] stalehuse commented on #49048
python -m timeit -n 5 "import pandas as pd; x = pd.DatetimeIndex([pd.Timestamp.now(tz='Europe/Paris')] * 1000)"

The code above speeds up from 2 seconds to 3 milliseconds after installing tzdata

[2022-10-21 18:01] WillAyd commented on #49222
The code is assigning to a static object that gets referenced throughout actual usage of the program. This is arguably bad design so could refactor if more ambitious, but no expectations (there's a lot of spaghetti code)

[2022-10-21 18:03] pganssle commented on #49048
OK, I think the problem is probably [this](https://github.com/pandas-dev/pandas/blob/70f981fbf2aecdbae85deddbec3ee473994f30b9/pandas/_libs/tslibs/timezones.pyx#L60-L76). If you don't have zoneinfo data, It tries to construct `ZoneInfo("UTC")` every time it's called, and fails only after searching a bunch of places looking for time zone data.  It's not _wrong_ to do this, since its possible that yo

[2022-10-21 20:56] sorenwacker opened #49239 "ENH: read_json() should work with single entry json {"refmet_name":"Citric acid","formula":"C6H8O7"}'"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

There are APIs that return single entry JSON data.

https://www.metabolomicsworkbench.org/rest/refmet/match/CITRATE/name/

    url = 'https://www.metabolomicsworkbench.org/rest/refmet/match/CITRATE/name/'
    pd.read_

[2022-10-21 22:45] romanov-o opened #49240 "BUG: pivot_table with margins=True on empty DataFrame results in ValueError"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`pivot_table` with `margins=True` on empty DataFra

[2022-10-21 23:05] vamsi-verma-s commented on #49233
This sorting of index when one index is present is happening in `union_indexes`
I am not sure why if there is only 1 index it needs to be sorted.

https://github.com/pandas-dev/pandas/blob/295bc764b3850146f0cf041ae5867b68aee6639c/pandas/core/indexes/api.py#L205-L227

[2022-10-22 00:23] sarvaSanjay commented on #49231
take

[2022-10-22 01:56] Zeroto521 opened #49245 "ENH: Add `complement` argument to `(Series|DataFrame).filter` to do reversely operation"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Assume there is a DataFrame and has a lot of columns.
I want to drop some of the columns.

[code]

### Feature Description

[code]

### Alternative Solutions

- For `DataFrame.drop`, it requires the full names of colu

[2022-10-22 03:17] redreamality opened #49246 "ENH: The need to re-design to_sql() method"
### Feature Type

- [ ] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [X] Removing existing functionality in pandas

### Problem Description

There exists too much issues about this functionality, some even not close for 5 years.  The original design of to_sql didn't fully take different db_dialects into consideration.  Overly high level design of this func

[2022-10-22 03:21] jreback commented on #49246
-1 this is not pandas responsibility - most of this is deferred to sqlalchemy already

[2022-10-22 03:22] jreback commented on #49245
-1 on changing filter (which we should deprecate anyhow)

[2022-10-22 03:33] redreamality commented on #49246
There will exist some operations that is very different among different dbs, for example the upsert operation.
If the pandas community regard this as unrelated issues, I suggest removing this functionality at all.
After all, it is not difficult to iter over all the lines and insert into a db  and it is better to tell the user that the functionality is not available than telling them a nice picture

[2022-10-22 05:00] Sierra-MC opened #49247 "BUG: Getting FutureWarning for Groupby.mean when using .pivot_table"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Getting FutureWarning:

"<stdin>:1: FutureWarning:

[2022-10-22 08:40] bernardkaplan commented on #49048
I confirm that installing tzdata solved the performance issue.

[2022-10-22 10:04] kostyafarber commented on #48949
Thanks @JMBurley ill look into it.

[2022-10-22 11:46] phofl commented on #49247
cc @rhshadrach

[2022-10-22 12:46] JasonMendoza2008 commented on #48123
@jreback I know, I was just mentionning that the new pandas version didn't fix it :)

[2022-10-22 20:10] borisiskra opened #49251 "Inconsistency on dtype and fillna"
Python 3.9.7
Pandas: 1.3.5

Same result in
Python 3.9.12
Pandas 1.4.2

Using the following dictionary to create a df, all numbers are integers, 'drop' is boolean and 'status' is a string:

[code]
using the following code:

`df =pd.concat(
        {k: pd.DataFrame.from_dict(v, 'index', dtype=str).fillna('EMPTY')
         for k, v in dct.items()}, axis=0, sort=False).reset_index()
`
get the followin

[2022-10-22 20:46] rhshadrach commented on #49247
What's the expected output here? Currently on 1.5.x I get an empty DataFrame. Within the `__internal_pivot_table` function, the groupby is using the entire frame (i.e. C1 is included) and grouping on `C2`. Taking the mean of a string column fails, hence the warning.

If this is the desired behavior for pivot table - that is, this call should group on C2 and use all other columns, then I think ever

[2022-10-22 21:26] rhshadrach commented on #49251
Thanks for the report! If you do

[code]

you get

[code]

The call to `from_dict` is enforcing the dtype string, but only after DataFrame construction. In other words, the values you specify are being coerced to float because of the null values, and then converted to strings be. This seems appropriate to me - users can convert individual values if they so choose, and leaving `dtype=...` to only a

[2022-10-22 21:27] rhshadrach commented on #49251
Assuming current behavior is to remain as is, perhaps this can be documented as `Data type to force after DataFrame construction, otherwise infer.`

[2022-10-22 22:01] rhshadrach commented on #49251
If a value isn't missing in any row, then there is no coercion to float - they remain integers. If nulls appear because the of the concat, they are not coerced to floats because at this point they are strings and not integers.

You're combining three operations here - (a) DataFrame construction via `from_dict`; (b) fillna; and (c) concat. It would be helpful to take these one at a time rather than

[2022-10-22 22:08] rhshadrach commented on #33396
It looks like pad / backfill were deprecated in groupby / Resampler, but not Series / DataFrame. I'm guessing it's desired to remove them in Series / DataFrame too? If that's the case, I'm wondering if we should deprecate them there in 2.x, leave them in groupby / Resampler (still deprecated), and remove everything altogether.

[2022-10-22 22:25] borisiskra commented on #49251
I see, the "issue" is column-wise not row-wise, now I understand what is going on.

[2022-10-22 22:28] rhshadrach commented on #49251
Yes - that's correct. Each column in a pandas DataFrame has a single dtype - you can see what the dtype is for each column with `DataFrame.dtypes`. For `object` dtype - this can hold any Python object but will be much slower in computations. You should prefer bool / int / float dtypes when possible.

If there is no remaining issue for you here, please feel free to close.

[2022-10-22 22:29] rhshadrach commented on #49251
On second thought, I think the docs could be improved a little here - leaving this open.

[2022-10-22 22:50] ge-li opened #49254 "DOC: 10 minutes to pandas Selection section `DataFrame.loc` followed by `()`"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/user_guide/10min.html

### Documentation problem

`DataFrame.loc`, etc should not be followed by parenthesis, because they are not functions.

### Suggested fix for doc

[2022-10-22 23:21] rhshadrach opened #49256 "BUG: groupby.describe with as_index=False incorrect"
[code]

Instead, column A should just have the groupers

[code]

We get different, but also incorrect, output for SeriesGroupBy:

[code]

[2022-10-23 00:26] rhshadrach commented on #13666
Looking at this again, with the exception of `.nth(0)`, `.nth(-1)` and the list/slice equivalents (e.g. `.nth([0])`), nth always acts like a filter. E.g.

[code]

This is not a reducer as group `a=3` is dropped, but the output is in the shape of a reducer instead of a filter. In particular, there should be no different between `groupby(...).head(5)` and `groupby(...).nth([0, 1, 2, 3, 4])`.

[2022-10-23 03:35] xr-chen commented on #48933
It seems that the following line of code causes this issue, I am not sure about the functionality of `extract_array`, but when I commented out line 977, the issue was solved and all tests related to `internals` still passed.
https://github.com/pandas-dev/pandas/blob/edbac360fc97e639590fe6031aed165e7b8790af/pandas/core/internals/blocks.py#L977

[2022-10-23 04:36] chikausa commented on #15580
take

[2022-10-23 09:52] EleekaN commented on #49251
Hi, how can I work on the documentation related to this issue?
Sorry, I am new here, trying to figure out. Any direction will be appreciated.
Thank you.

[2022-10-23 11:13] EleekaN commented on #49254
Hi, I would like to work on these changes.

[2022-10-23 11:38] rhshadrach commented on #49251
For general information on contributing, I would recommend: https://pandas.pydata.org/pandas-docs/dev/development/index.html

For this specific issue, https://github.com/pandas-dev/pandas/issues/49251#issuecomment-1287924023 describes how I think the docs could be improved.

[2022-10-23 12:08] ssche commented on #12649
From your question and the fact that you renamed the ticket, I think there’s a misunderstanding. This ticket had nothing to do with ISO8601 compliant formats.
The problem was that it would parse dates even though they were not compliant with the format string without raising an exception by using some “auto-magic” behaviour. My use case (and the one of many others here) required exact parsing acro

[2022-10-23 12:19] kostyafarber commented on #48949
^ Was meant to make it a draft

[2022-10-23 12:26] MarcoGorelli commented on #12649
Currently, it only does that if the `format` is ISO8601. So yes, this has everything to with ISO8601

For example, the following raises (`format` isn't ISO8601)
[code]
whereas the following doesn't (`format` is ISO8601):
[code]

I agree that to a user, this shouldn't make a difference. So the issue is about fixing the ISO8601 fast-path so that it also respects `exact`

[2022-10-23 13:06] ssche commented on #12649
Oh right, so this is not a general problem, but one that only arises when ISO8601 formats are used. That explains a lot (in particular this lenghty discussion I had at the time).

Thanks for clarifying!

I meant how an array of `[‘2022-01-13’, ‘2022-13-01’]` would be interpreted with `format='%Y-%m-%d'`, but I guess this would raise an error now and not try to coerce the 2nd date also to Jan 13 (n

[2022-10-23 13:21] VasilijKolomiets commented on #43574
May be it is obviously, but better to say )

variant with last row pivoting like this

[code]
rise the same warning:

  pivot = pd.pivot_table(df,

[2022-10-23 14:11] EleekaN commented on #49251
@rhshadrach Thank you so much. I will explore more from the link. :-)

[2022-10-23 14:12] rhshadrach commented on #48577
Thanks @Dr-Irv; I agree with your comments. I've updated the linked PR with `aux` rather than your suggested `auxclasses` as it seemed more concise. How does that sound?

[2022-10-23 14:59] lithomas1 commented on #49236
xref #34823 for read_csv.

[2022-10-23 16:11] Code0x58 commented on #48212
The current codebase performance is much better than the 1.1.5 version I had to work with, so broadly caching does not seem to give an advantage when applied as broadly as in [this branch](https://github.com/Code0x58/pandas/commits/perf/get_block_type).

There were still some obvious and easy speed gains in the `is_*_dtype(...)` and `get_block_type(...)` methods so I have them in a PR (#49112).

M

[2022-10-23 17:35] phofl commented on #49247
Not sure, but I think we should raise a more specific warning, if this is not an unintended side effect

[2022-10-23 17:53] MichaelTiemannOSC commented on #45968
I've just hit this bug again, through a new pathway.  I'm pretty sure it fails for all ExtensionArrays.  The documentation only promises that for `numeric_only`,  `If False, the quantile of datetime and timedelta data will be computed as well.`.  Which is notoriously non-committal as to supporting ExtensionArrays.

[2022-10-23 18:21] rhshadrach commented on #49247
Yea, agreed. I can take this up.

Assuming the intention of this op is "groupby by C2 and aggregate all other columns", I don't we should be specifying `numeric_only=True` internally (this is how I interpret your suggestion above - but let me know if I got it wrong). You run into issues with dtypes that are non-numeric but can still be aggregated. In particular, `first` or `last` with any dtype, b

[2022-10-23 21:18] a-reich commented on #48238
take

[2022-10-23 22:02] jsgaleano commented on #13620
i'm very interested in seeing this application

[2022-10-24 05:46] #48721 closed

[2022-10-24 05:51] lynneitelson opened #49273 "QST: conda_create("r-reticulate") returning error"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/74171189/conda-creater-reticulate-returning-error

### Question about pandas

 am try

[2022-10-24 08:20] krasch commented on #28635
take

[2022-10-24 08:48] MarcoGorelli commented on #49273
Hi @lynneitelson

Thanks for the report - if I understand correctly, you did
[code]
and it failed on the second command?

If so, this sounds like it's not pandas that's the issue? Closing then, but do let us know if you think the issue is on pandas' side

[2022-10-24 08:48] #49273 closed

[2022-10-24 10:02] ELHoussineT commented on #39154
Kindly allow me to reply tomorrow.

On Fri, 21 Oct 2022, 5:20 am Richard Shadrach, ***@***.***>
wrote:

[2022-10-24 11:59] noatamir opened #49275 "Issues for new contributors – update"
Hi folks,

Quick update that we decided to remove the milestone “contributors welcome” across the entire project. That means that if you see an activity like _"@xyz removed this from the Contributions Welcome milestone X days ago"_ on issues tagged with _good first issue_, or any other label really, it's safe to ignore it. Please go ahead and contribute to any issue you are interested in.

To lear

[2022-10-24 13:44] jiahe224 opened #49276 "BUG: pandas.to_csv() bug"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When the dataframe is only one line, df.to_csv('xx

[2022-10-24 13:46] #49276 closed

[2022-10-24 13:48] JeremyVriens opened #49277 "BUG: inner join with StringDtype multi-indexes gives unexpected result in 1.5.x"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When joining 2 data frames with the StringDtype dt

[2022-10-24 15:01] benjsec opened #49279 "BUG: Setting `index_col=False` when calling read_csv disables `on_bad_lines`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

If `index_col=False` is specified when reading a c

[2022-10-24 15:07] Sierra-MC commented on #49247
The example I provided was the most simple I could come up with to create the warning: a dataframe with a numeric and non-numeric column. It is not the best example to show how pivot_tables are supposed to work/what they are for. Because I'm grouping by the numeric column and the non-numeric column can't be grouped (can't take the mean of a non-numeric column) it should come back as an empty dataf

[2022-10-24 15:34] #49195 closed

[2022-10-24 15:39] terrorfisch commented on #43011
Related: #5494

[2022-10-24 15:42] terrorfisch commented on #5494
I implemented some little helper for this since I require it quite often and the workaround performance was not sufficient:

[code]

[2022-10-24 15:52] ParfaitG commented on #49246
While not an author of this particular method, the philosophy of most [pandas IO methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) (`to_csv`, `to_excel`, `to_json`, `to_xml`, etc.) underscores general use cases to migrate data from tabular, two-dimension DataFrames (rows by columns) to external formats in similar flat two-dimension structures. However, these formats can hav

[2022-10-24 15:58] phofl commented on #49277
[code]

cc @jbrockmendel

[2022-10-24 16:10] phofl commented on #49277
This hits every ea dtype, not only string

[2022-10-24 18:13] mroeschke commented on #49254
`loc` and `iloc` are technically also methods that can accept a method argument:

[code]

These example should be added in the `iloc` and `loc` docstrings instead of changing these references.

[2022-10-24 18:30] jbrockmendel opened #49281 "BUG: Series(dt64_data, dtype=tzaware) vs Series(dt64_data).astype(tzaware)"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

As a general rule, we want `Series(data, dtype=dty

[2022-10-24 18:32] jbrockmendel commented on #48979
Current thought is that we should move to raising without a deprecation cycle.  Users who are passing non-supported dt64/td64 dtypes are going to have to update their code in 2.0, might as well have it be all-at-once.

[2022-10-24 19:01] adamsxs opened #49282 "BUG: Timestamp nanosecond attribute changes during a `max` operation"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Hey pandas maintainers, found what feels like an e

[2022-10-24 20:03] jbrockmendel commented on #49037
I'm thinking that if we allow this at all- which I'm of mixed mind on- it should be in to_datetime, which I would expect to be the most aggressive about "cast to datetimes no matter what"

[2022-10-24 20:23] mroeschke commented on #49254
Yeah generally this is the preferred syntax for specifying which axis the label/integer should be applied

Very unlikely. I think loc and iloc have existed for quite some time and have well defined boundaries for use cases (label based vs location based). Generally the library is trying to move toward more explicit behavior and avoid complex inference logic as it's harder to maintain & causes subt

[2022-10-24 21:06] #48729 closed

[2022-10-24 21:13] ELHoussineT commented on #39154
@rhshadrach

Alright, let's start by explicitly describing the requirements for the functionality we want to build. Please feel free to suggest otherwise.

### Requirements

The functionality should satisfy the following:
1. Can assign multiple values to a column based on multiple conditions
2. Vectorization is maintained
3. The conditions can be lambdas/methods or Series. If lambdas/methods, the

[2022-10-24 21:43] #48706 closed

[2022-10-24 23:13] jbrockmendel opened #49291 "BUG: interpreting dt64 as utc in array_to_datetime/infer_to_datetimelike"
[code]

In array_to_datetime if we see a dt64 object and a tz-aware datetime, we treat the dt64 as a UTC time.  But if we have dt64 objects and are passed a timezone, we treat them as wall times.  I'd expect the two DTIs above to match.

[2022-10-24 23:49] JMBurley opened #49294 "ENH: shared, reusable vars for github actions"
### Feature Type

- [X] Adding new functionality to pandas Github Actions

### Problem Description

The many github actions associated with pandas (seem to) individually declare variables that are conceptually common across  workflows e.g., minimum supported python version.

This is a maintenance headache which can be resolved by storing our environment variables in a file and utilising a GitHub A

[2022-10-25 00:30] lithomas1 commented on #49294
Hmmm, I'm not sure how I feel about this one.

How about we push some of those variables(e.g. COVERAGE, PYTEST_TARGET, TARGET?) down into ci/run.tests.sh? We can set default values for those variables if unset, and then override if necessary in the Github Actions config.

[2022-10-25 05:40] NumesSanguis opened #49297 "DOC: See also box should refer to same type (Series.dt.tz_convert --> Series.dt.tz_localize)"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.tz_convert.html

### Documentation problem

The "See also" would be more useful if it refers to the same type. While the mentioned page i

[2022-10-25 08:11] rhkarls commented on #48933
I came across this as well, trying to insert at Series in at a specified DataFrame index. Example if useful:

    import pandas as pd

    df = pd.DataFrame({'A':pd.Series(dtype=float),
                       'B': pd.Series(dtype=object)})

    series = pd.Series(index=pd.date_range('2020-01-01','2020-01-02', freq='D'), data=1)

    df.at[0,'A'] = 55.5
    df.at[0,'B'] = series

With pandas 1.4.4:

[2022-10-25 08:26] xr-chen commented on #48933
take

[2022-10-25 08:29] sv1990 opened #49298 "BUG: Do not fail when parsing pydatetime objects in pd.to_datetime"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

When reading excel files I often get date columns looking like
[code]
When trying to parse those columns using
[code]
the Exception `ValueError("time data '2001-02-02 00:00:00' does not match format '%d/%m/%y' (match)

[2022-10-25 11:06] rhshadrach commented on #39154
How do these differ from `Series.mask`?

[code]

Also, I don't see how we can implement `otherwise`. pyspark can do this because of lazy evaluation, but pandas is eager.

[2022-10-25 11:19] samukweku commented on #39154
I can speak about option1. It uses the same idea as np.select, where all conditions are evaluated, and values assigned based on first match, using pd.mask. so if condition 1 is true and condition 2 is true, condition 1 takes precedence. If all fails, then the default kicks in. Hopefully, I explained it well enough. An implementation is [here](https://github.com/pyjanitor-devs/pyjanitor/blob/cdf62d

[2022-10-25 11:26] MarcoGorelli commented on #49298
Hi @sv1990

Thanks for your report - it might make sense to skip `datetime` objects, investigations / pull requests would be welcome

Otherwise `dayfirst` should work here:
[code]

[2022-10-25 13:51] Dr-Irv opened #49301 "DOC: Update docs to indicate python 3.11 support"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/getting_started/install.html

https://pypi.org/project/pandas/

### Documentation problem

We should update our docs, and the pypi page to indicate that python 3.11

[2022-10-25 14:23] olofahlen commented on #43381
Hi,

I think this bug still exists (in `pandas` 1.5.1) but for `.ewm`. See example below

[code]

[2022-10-25 14:28] natmokval commented on #49251
take

[2022-10-25 16:34] jbrockmendel commented on #48908
I think what happened is that #46688 changed `Timedelta.__new__` to use `_timedelta_from_value_and_reso` which hard-codes `Timedelta` instead of using `cls`, so it does not respect subclasses.  If that's it, then patching _timedelta_from_value_and_reso should solve this

[2022-10-25 16:51] HatimZ commented on #48941
take

[2022-10-25 17:06] aaossa commented on #49298
Seems like the exception comes from `convert_listlike`:

https://github.com/pandas-dev/pandas/blob/bbb1cdf13a1e9240b43d691aa0ec3ca1b37afee4/pandas/core/tools/datetimes.py#L1070-L1079

and then from `_to_datetime_with_format`:

https://github.com/pandas-dev/pandas/blob/bbb1cdf13a1e9240b43d691aa0ec3ca1b37afee4/pandas/core/tools/datetimes.py#L431-L436

which uses `_array_strptime_with_fallback` as fa

[2022-10-25 17:09] jbrockmendel opened #49309 "BUG: pd.Categorical(categorical, dtype="category") loses orderedness"
[code]

By contrast, if we do `cat.astype("category")` we _do_ retain orderedness.

Found when refactoring `sanitize_array`.  We have two code paths effectively:

[code]

Switching the order of these checks causes a few Categorical tests to break bc of the Categorical constructor behavior.

[2022-10-25 18:15] mroeschke commented on #49294
Yeah I would be -0.5 refactoring env variables into separate env files (I haven't seen other pydata project use this approach).

Another option would maybe create a github composite action to set env variables?

[2022-10-25 18:19] mroeschke commented on #49246
Thanks for the suggestion, but I would be -1 on refactoring or removing `to_sql` in its current state given the reasoning above. Closing as unlikely to be pursued.

[2022-10-25 18:19] #49246 closed

[2022-10-25 19:17] aaossa commented on #49298
Ok, this change seems to work:

[code]

I just replicated the processing applied in the same function a couple of lines below:

https://github.com/pandas-dev/pandas/blob/953921f2782062a67aa3886837fac563892d7ec6/pandas/_libs/tslibs/strptime.pyx#L324-L342

I'll prepare a PR and proper tests if that's ok, so we can move discuss about implementation there.

[2022-10-25 20:02] saul-data commented on #48967
@phofl I think I have figured out why import is so slow. You won't find the slow down on a Macbook or any fast local SSD drive. You will see this slow down on say 0.3 CPU in Kubernetes where often the disk is over some network. I have seen up to 12 seconds here.

Take for example
[code]

Because of __all__ in the __ini__.py file to make it user friendly, it is loading the entire library, not just

[2022-10-25 20:12] krasch commented on #48950
I was able to further simplify the example. Results shown are using the current main branch.

[code]

For rolling mean with window size 3, the results are as expected, but there seems to be a difference in the numeric representation of some sorts?

[code]

Whereas for rolling std there is indeed an unexpected difference at the last two entries of the series.

[code]

Interestingly, when trying wit

[2022-10-25 20:37] krasch commented on #48950
When printing the standard deviations for your example, one can see that they all are different (of course entry number 2 is expected to be different).

[code]

The absolute difference between the respective entries is tiny, though (of course relative difference of 44% is impressive). Maybe this is some floating point precision thing happening here?

[2022-10-25 20:44] krasch commented on #48950
When simplifying the example even further one can see that there seem to be subtle differences between the two cases:

[code]

For rolling mean with window size 3, one can already observe small differences in the numeric representation, but the results are as expected.

[code]

Whereas for rolling std there is indeed an unexpected, tiny, difference at the last two entries of the series.

[code]

[2022-10-25 20:46] saul-data commented on #48967
@akx @phofl here is that output - pandas in Kubernetes loads in 3.4 seconds

[code]
https://gist.github.com/saul-data/250d977df5f834a82c6bfea85d64f16a#file-pandas-import-time-kubernetes-log

[2022-10-25 21:02] phofl commented on #48950
Yep this is most certainly a numerical issue. We did some improvements there in either 1.2 or 1.3. I guess we have to dig into the cython implementation there to figure this out. We are already using Welfords Method for increased numerical stability

[2022-10-25 21:05] phofl commented on #48967
Can you open a dedicated issue for this (improving import performance), since this is not really related to Kubernetes itself. This should help facilitate the discussion

[2022-10-25 21:16] saul-data commented on #48967
@phofl can I not just change the title and keep the thread going?

[2022-10-25 21:45] rhshadrach commented on #49247
Thanks! For the record, I don't think your example is unclear.

pandas is able to support an arbitrary aggregation with pivot tables. If the aggregation was `first` or `last`, would you still expect it to drop any non-numeric column? What about a time delta with `sum`?

[2022-10-25 21:47] phofl commented on #48967
I think it would be helpful for the discussion of the issue does not contain much irrelevant information. I can open this one too, if you feel strongly about it, but in my experience keeping issues narrow helps a lot

[2022-10-25 21:49] phofl commented on #49275
@topper-123 this was pinned on purpose (also discussed on our slack, so please don’t remove the pin)

[2022-10-25 22:36] jbrockmendel commented on #45034
More for the pile:

if we allow `Series(dt64).astype(np.int64)`, does that mean we should allow `Series(dt64, dtype=np.int64)`?  ATM that works but is deprecated if the values are ndarray, just works for EA.

[2022-10-26 00:33] wxing11 commented on #16713
take

[2022-10-26 06:09] MarcoGorelli commented on #49298
If it's the same, can it be factored out into a function?

[2022-10-26 06:19] vishallb commented on #49301
take

[2022-10-26 07:23] fjaragones opened #49325 "BUG: PerformanceWarning when merging dataframes with multiindex columns and indicator option"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When merging two dataframes with multiindex column

[2022-10-26 15:49] #48674 closed

[2022-10-26 15:56] #49251 closed

[2022-10-26 16:09] peterzhb opened #49336 "DOC: No such file or directory: '/versions.json'"
- [x] I have checked that the issue exists on the latest versions of the docs on main.
- [x] I have checked that there is no duplicate issue.

I was trying to build the doc from the latest pandas development version.

It shows error when I run `python make.py html` inside `doc/`

[code]

Anyone could help me with this?

Thanks

Detail

pandas 2.0.0.dev0+450.gc368c320fc.dirty
python 3.9.13

[2022-10-26 16:19] deepers opened #49337 "BUG: MultiIndex intersection doesn't work with categorical dtypes"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

From the example you can see that index intersecti

[2022-10-26 16:45] tianwen42 commented on #49336
You may have the [/versions.json] file in the make.py file, but the file is not found in the current directory. Check if the equivalent directory of the.py file contains the **versions.json** file

[2022-10-26 16:53] deepers commented on #49337
I just checked out and built the main branch of pandas (`2.0.0.dev0+466.g218ab0930e4 218ab09`), and the example does **not** reproduce. The bug seems to be fixed in the main branch.

[2022-10-26 17:32] rpkilby commented on #44104
This issue seems to affect other new-style dtypes such as `Int64`. Additionally, I think this is the source of some `update()` calls generating `FutureWarning`s about `loc/iloc` usage.

[2022-10-26 17:55] gt-on-1234 commented on #49223
@rhshadrach Is this the intended behaviour?

[code]

[2022-10-26 20:07] jbrockmendel opened #49340 "API: Series([pd.NaT, None]) vs Index([pd.NaT, None])"
[code]

The Series inference is done in maybe_infer_to_datetimelike, where infer_datetimelike_array returns "NaT".  The Index inference is done in lib.maybe_convert_objects, which does not treat None as NaT.

Ideally this would match.

[2022-10-26 20:10] jbrockmendel opened #49341 "API: pd.Series([py_date, py_datetime]) vs pd.Index([py_date, py_datetime])"
[code]

Index uses lib.maybe_convert_objects for inference while Series uses infer_datetimelike_array in maybe_infer_to_datetimelike.

Ideally these would match.

[2022-10-26 20:18] rpkilby commented on #44104
After digging through the issue tracker a bit further, I believe this can be closed as a duplicate of #4094.

[2022-10-26 20:32] rpkilby commented on #4094
Just confirming that this seems to be an issue with all the new-style dtypes. I wrote a quick test. Given:
[code]

For each dtype/df pair, more or less:
[code]
And then printed the dtypes of the original df, the intermediate/selected df2 (as a sanity check to ensure it wasn't responsible for modifying the dtypes), and then the updated df. The output was:

[code]

You can see that old-style dtypes

[2022-10-26 21:57] fhipol commented on #14008
I am receiving this error also, even when I set the convention parameter.

[code]

Output of pd.show_version():

<details>

INSTALLED VERSIONS
------------------
commit           : 91111fd99898d9dcaa6bf6bedb662db4108da6e6
python           : 3.8.11.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 21.6.0
Version          : Darwin Kernel Version 21.6.0: Mon Aug 22 20:17:10 P

[2022-10-26 22:44] rhshadrach commented on #49223
I think this is correct - but the example in your post depends on `ordered` and not `sort`. I'm guessing it might just be a typo. Also, when a category is ordered and `sort=True`, the result should be sorted by the specified category order. When a category is unordered and `sort=True` however, I think the result should be sorted by the data the underlies the category - e.g. strings lexicographical

[2022-10-26 22:52] rhshadrach commented on #49223
Perhaps the above expectation of how `ordered` influences the sort order is wrong. For example:

[code]

Somewhat related discussion: #12785

[2022-10-27 01:04] zhongxj2 commented on #49256
Hi, if you try "as_index=True" the result should be column A should just have the groupers.

[2022-10-27 01:08] rhshadrach commented on #49256
Thanks @zhongxj2. I think you're saying that with `as_index=True` works as intended, and I agree with that. However `as_index=False` produces the wrong output.

[2022-10-27 07:12] madhuri-15 opened #49350 "DOC: Clean up broken link"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/user_guide/missing_data.html#interpolation

### Documentation problem

The link for `guide` in the above documentation for the interpolation tutorial from scipy does no

[2022-10-27 08:51] arnaudlegout opened #49352 "BUG: inconsistent `DataFrame.agg` behavoir when passing as kwargs `numeric_only=True`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I expect `DataFrame.agg` to accept kwargs argument

[2022-10-27 10:24] MoritzLaurer commented on #5839
same issue here with pandas==1.5

[2022-10-27 11:42] rhshadrach opened #49354 "BUG: groupby with categorical index doesn't include unobserved categories"
When a grouping by a CategoricalIndex, unobserved categories are not included in the output.

[code]

[2022-10-27 15:34] #49350 closed

[2022-10-27 16:42] rwijtvliet opened #49356 "BUG: `DatetimeIndex.copy()` not making deep copy"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

See the final line. The frequency of `i2` has been

[2022-10-27 16:47] sjdemartini opened #49357 "BUG: read_csv raises ParserError in inconsistent ways when column names exceed number of parsed columns"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In pandas 1.3.4, the following code would parse th

[2022-10-27 18:26] Destroier2012 commented on #48684
take

[2022-10-27 18:34] gt-on-1234 commented on #49223
In that case, does it make sense for `sort=True` argument to override `order` and sort numerically and only sort by the specified order if `sort == False and ordered == True`?  Allows the user to preserve the specified order or sort numerically.

E.g.

[code]

[2022-10-27 18:38] JgLemos commented on #48766
Hello, this issue is available to take?

[2022-10-28 05:12] shakthifuture opened #49367 "BUG: to_sql pandas segmentation fault (core dumped)"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The above line gives me "segmentation fault (core

[2022-10-28 09:12] adrien-berchet commented on #48478
As far as I know yes

[2022-10-28 13:07] AnkitKashyap0709 commented on #49202
Hey, I've started recently on open-source contributions. And I want to help in contributing to the library pandas. I see already that no one is assigned here. I would like to get started on this.

[2022-10-28 13:18] #48941 closed

[2022-10-28 13:19] #49231 closed

[2022-10-28 13:22] achapkowski commented on #49202
@AnkitKashyap0709 go for it

[2022-10-28 14:11] natmokval commented on #48855
Hi! I'm working on the “wrong-import-order” C-Type pylint message.

[2022-10-28 14:32] Mohit2758 commented on #49202
Hey, I'm new to open-source contributions and I want this to be my one of the first contributions. Can I work on this?

[2022-10-28 16:16] stellalin7 commented on #48855
I can work on the "disallowed-name" C-type pylint message

[2022-10-28 16:53] rhshadrach commented on #49223
@gt-on-1234 - yes, I think so. That we should sort by that data's natural order when `ordered=False` is entirely separate from this issue, and I'm not sure it's a good idea.

[2022-10-28 17:14] jbrockmendel opened #49372 "API: Index vs Series constructor alignment"
There has been long-running interest in aligning the behaviors of various constructors: e.g. #29973, #27460, #17246.  But I don't see an issue that is specifically "Let's make Index behave like Series".  So here goes.

Series goes through `sanitize_array` which calls a bunch of functions in core.dtypes.cast.  Index uses casting/inference functions in indexes.base, as well as `Index._ensure_array`.

[2022-10-28 17:19] rhshadrach commented on #48749
@mroeschke - I am wondering if we should be sorting values when `ordered=True` with `.groupby(..., sort=False)`. I'm thinking that categorical is the only dtype that still sorts values in this situation, which is a bit odd. I'd suggest having categorical respect `sort=False` here.

[2022-10-28 17:51] rhshadrach commented on #40669
Also, I think the dtype in this result should be an integer:

[code]

[2022-10-28 18:20] mroeschke commented on #48749
I would support this behavior. xref https://github.com/pandas-dev/pandas/issues/42482

IIUC since `ordered` refers to the _categories_ having an order, I think respecting `sort=False` for the values should be okay

[2022-10-28 18:22] zmoon opened #49374 "BUG: can't pass `Colormap` instance when plotting if using matplotlib >= 3.6"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

See more info in https://github.com/NOAA-CSL/MELOD

[2022-10-28 18:46] jorisvandenbossche commented on #49341
Personally, if I would have to choose, I prefer the Index behaviour. I don't think we should automatically convert datetime.date objects to datetime dtype.

For the case of only datetime.date objects, we also don't infer it as datetime dtype.

[2022-10-28 18:51] jorisvandenbossche commented on #49340
As comparison, for other data types `Index([..])` will regard `None` generally as missing value and not take it into account for dtype inference (not requiring object dtype). For example:

[code]

So I think also those should be consistent with the above example? Also when passing an actual Timestamp scalar and not NaT, the None gets converted:

[code]

That all seems to hint towards choosing the

[2022-10-28 18:55] jorisvandenbossche commented on #49340
Maybe to summarize my comment above: I think we should choose a consistent behaviour for how `None` interferes in dtype inference, regardless of which other values are present.

One option could be that `None` being present always means we end up with object dtype, but that would be a much bigger breaking change (and probably also not desirable on the short term). In most cases the logic seems to

[2022-10-28 19:08] WillAyd commented on #48766
@JgLemos sure still open

[2022-10-28 19:09] jorisvandenbossche commented on #49037
I personally don't like the behaviour of casting such mixed type values much (I was actually going to say on the PR that I would rather disallow it), but there might also be some consistency reasons to allow it (or at least other cases to consider as well).

A mixture of timestamps and strings casts as well, and in this case also DatetimeIndex allows it:

[code]

We should probably also be talking

[2022-10-28 19:13] Dr-Irv commented on #48577
Works for me.

[2022-10-28 19:19] jorisvandenbossche commented on #49372
This relates very much to https://github.com/pandas-dev/pandas/issues/45588, where I am arguing that we should change the casting / Series() behaviour to raise on float truncation (and essentially match what Index already does, apparently)

[2022-10-28 19:33] manny-uncharted commented on #48855
take

[2022-10-28 19:35] jorisvandenbossche commented on #45034
Probably yes? Unless we would move away of the idea that `Series(..., dtype=dtype)` should be consistent with `Series(..).astype(dtype)` ?

[2022-10-28 19:41] jorisvandenbossche commented on #48060
Aha, that explains it! It seems that github nowadays doesn't include tags when forking: https://github.com/marenwestermann/pandas/tags is empty.
So if you then clone from your fork, you indeed don't have tags, and then it is expected you get this `pandas-0+untagged....` version.

We should probably mention that somewhere in our contributing docs as a FAQ / gotcha that if you run into this kind of

[2022-10-28 19:50] mzeitlin11 commented on #49367
Thanks for reporting this @shakthifuture! There's not much we can use to investigate here - if you can't share the data, can you build a minimal example with lots of random data that segfaults? Otherwise, it would be very helpful to know the backtrace, which you could obtain following https://pandas.pydata.org/docs/development/debugging_extensions.html so we can figure out what codepath is being h

[2022-10-28 19:52] mzeitlin11 commented on #49374
Thanks for reporting and investigating this @zmoon! A pr would be welcome to fix this.

[2022-10-28 20:07] JulianCologne commented on #37782
I have the same problem as described here.
What happened to #47708 ?
Is there still something happening? :D

In addition to the problem that lists with zero or more than one value return a ValueError I think it is important to mention that lists with 1 element must not be converted to a scalars in any case, the list must remain!
When I get a list from an API, I don't know how many elements are in

[2022-10-28 20:38] zmoon commented on #49374
Ok!

[2022-10-28 20:45] rhshadrach commented on #39154
Given that I don't think Option 2 is viable (happy to be wrong here if there is a working implementation), Option 1 as linked to [here](https://github.com/pandas-dev/pandas/issues/39154#issuecomment-1290388229) looks good to me. However, I think we should drop the `column_name` argument and have the method return a Series.

Another question about the API is what to do with `default`. `np.select` u

[2022-10-28 21:01] a-reich commented on #49356
Just chiming in, but the [method’s](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.copy.html) `deep` param defaults to false. If set to true this behaves as you expected.

[2022-10-28 22:57] jbrockmendel commented on #49341
agreed

[2022-10-29 00:24] samukweku commented on #39154
Yes, a pd.Series returned makes sense; the user can do whatever they want with it.

I'd just set the default to `None`; however, I think the first option of using lib.no_default and inserting the appropriate null value seems more plausible. Dont know the full details of lib.no_default though

[2022-10-29 01:38] jbrockmendel commented on #49372
Good point.  Is there a viable strategy of addressing just Series(floaty, dtype=inty) without resolving all of #45588?  Would doing so help cut down on the scope of that?  (IIRC the scope there was somewhat daunting)

[2022-10-29 01:42] #37643 closed

[2022-10-29 02:01] andrewgsavage commented on #49191
On latest pint-pandas this is not an issue (it may not have before). You need to specify pint dtype to make this work.

[code]

[2022-10-29 09:14] krasch commented on #49142
I was able to reproduce this in pandas 1.5.0 (version that the bug reporter is using), but it works correctly in 1.5.1 and in current main. So might have already been fixed?

@itsapinhulk could you try if you still see this bug in pandas 1.5.1?

[2022-10-29 10:53] MarcoGorelli commented on #48855
no need to comment "take" as multiple people can work on this concurrently

[2022-10-29 11:54] andrewgsavage opened #49387 "BUG: Series.round() expects ExtensionArray.round() to be implemented"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Series.round() expects ExtensionArray.round() to b

[2022-10-29 13:29] stefan-jansen opened #49388 "BUG: .unstack() with recarray column raises TypeError since 1.4.0"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Starting with 1.4.0, Including a column of dtype `

[2022-10-29 13:56] natmokval commented on #48855
PR for “wrong-import-order”  is created: https://github.com/pandas-dev/pandas/pull/49390

[2022-10-29 13:57] debnathshoham commented on #49356
as @a-reich rightly pointed out

[code]

[2022-10-29 14:18] honza26 commented on #48779
Hello, unfortunately I am facing technical issues with setting up environment and will not be able to finish (my laptop is quite old and slow, therefore cannot install a lot of tools that will slow it done further)

PR in progress for anyone who want to take it from there:
https://github.com/pandas-dev/pandas/pull/49133

If any question, feel free to reach out. And @MarcoGorelli thanks a lot for h

[2022-10-29 14:38] MarcoGorelli commented on #48779
hey @honza26 - if you want to come to the next new contributors meeting, you could share you screen and we could resolve your technical issues with you?

[2022-10-29 14:51] natmokval commented on #48855
I'll work on the "useless-return" message.

[2022-10-29 15:21] justin4480 commented on #48779
take

[2022-10-29 15:27] mzeitlin11 commented on #49142
Maybe fixed by #48734?

[2022-10-29 16:31] justin4480 commented on #48779
Hi.  I'm a long time user of pandas, but this is my first contribution.  Can I update both the docstring and the docs?

I plan to:
1. make clear that normalize is an ignored parameter
2. clarify the unintuitive logic when MonthEnd n > 0 and added to a Timestamp is not at monthend

**normalize is an ignored parameter**

docstring states _(class) Docstring shows MonthEnd(n: int = ..., **normalize**:

[2022-10-29 17:40] itsapinhulk commented on #49142
Confirmed it is fixed on version 1.5.1. Thanks @krasch and @mzeitlin11 !

[2022-10-29 17:40] #49142 closed

[2022-10-29 17:56] honza26 commented on #48779
Thanks for your offer. I will try to build the environment again, and potentially join the next contributors meeting.

[2022-10-29 17:57] jbrockmendel commented on #49277
@phofl im just catching up on an email backlog. does this still need my attention or do you have it covered in #49284?

[2022-10-29 18:16] jbrockmendel commented on #48933
#49306 may solve this, but folks, trying to put a Series object inside a Series/DataFrame is a recipe for a bad time.

[2022-10-29 18:43] jbrockmendel commented on #48673
Definitely open to suggestions for better wording.  Let me try to explain using the OP example:

[code]

At this point the DataFrame `df` is directly backed by the original `values`, so doing something like `values[0, 0] = 99` would affect the values in `df`.

There are types of setting (e.g. `df.iloc[0,0] = 11`) that will be "inplace" and will edit the original `values`, and others (e.g. `df["B"]

[2022-10-30 05:49] wxing11 commented on #16713
Hi, new contributor here so please correct me if I'm wrong!

This seems to be caused by situations where the Dataframe to be updated has a Datetime column with NaT values and the input Dataframe has either

1. A matching column by index but of a type that isn't Datetime/Object. I assume an error here is expected.
2. No matching column by index, so the call to reindex_like in the update function cr

[2022-10-30 06:22] Frazer-Nyambe opened #49396 "Pandas DataFrame Hands on"
i have created a pandas dataframe, i'm currently facing a problem on how to extract specific strings from the dataframe. given that the dataframe below is my first row with index "0", from the pandas dataframe how do i extract the below statement.

**index | 1.txt |
-- | -- |
0 | ACKNOWLEDGEMENT This dissertation would not have been possible without the support of many individuals and departments.

[2022-10-30 07:18] MarcoGorelli commented on #49396
Hi - this is the kind of question you should ask on StackOverflow (with a reproducible example)

Closing for now then, but if you think there's a bug in pandas and have a reproducible example then we can reopen

[2022-10-30 07:18] #49396 closed

[2022-10-30 07:35] topper-123 opened #49398 "API: should dtype=str return array of dtype StringDtype for pandas 2.0?"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

IMO it would be an API improvement for pandas if creating dataframes/series/arrays using `dtype=str` (and `dtype="str"`) would return a dataframe/series/array of dtype `StringDtype` instead of dtype `object`. The reas

[2022-10-30 08:56] MarcoGorelli commented on #48566
@pnacht this is currently failing on the builds on `main`, any idea why?

[2022-10-30 09:41] honza26 commented on #48779
@justin4480  Thanks for taking this further. A good initiative!

A good explanation of general offset logic is here: (in case it helps)
https://pandas.pydata.org/docs/user_guide/timeseries.html

<img width="496" alt="image" src="https://user-images.githubusercontent.com/61096773/198872006-0ebdbea2-64fa-4859-b1ea-08f3fdf18d66.png">

[2022-10-30 11:06] MarcoGorelli commented on #49336
Hey @peterzhb - do you get the same error if you build a single page? e.g.
[code]

This works fine for me, could you show your full traceback please?

[2022-10-30 11:15] MarcoGorelli commented on #48779
That's a good reference, it's just not very easy to discover from the docstrings.

I'd be all for just adding a simple example to the docstrings of each of those offsets (`MonthEnd`, `MonthBegin`, `WeekEnd`)

[2022-10-30 14:47] debnathshoham commented on #43732
this works fine on master now

[2022-10-30 14:53] topper-123 commented on #49337
Hi @deepers. Thanks for the bug rapport, it's much appreciated.

I've checked this with pandas v.1.4, where this does give a wrong result and current main branch where it's all good. So I agree that this works now, but previously didn't.

Could you add a test case for this in the pandas test suite, so this won't pop up again later?

[2022-10-30 15:06] topper-123 commented on #49388
Yes. I can confirm this error.

Also, just printing you original dataframe gives an error also:

[code]

gives error:

[code]

Want to take a stab at this, @stefan-jansen?

[2022-10-30 16:31] jbrockmendel commented on #49388
i dont think we support record-dtypes.  these should be cast somewhere along the way

[2022-10-30 16:34] rhshadrach opened #49399 "Bug: Don't intercept TypeError in DataFrame.agg"
https://github.com/pandas-dev/pandas/blob/3370c8179de16b3f0556891a1ff06131e186dfd1/pandas/core/apply.py#L735-L745

We intercept any TypeError and reword the message to be about the DataFrame constructor. This likely made sense before, but with the code being refactored and #43741, TypeErrors can occur for many different reasons. We should just remove the `except` block above.

[2022-10-30 16:45] justin4480 commented on #48779
@honza26 Thanks for sending this over.  This was very helpful in understanding the logic & design intent!

However, one doubt for me remains regarding the **normalize** parameter.  The docs claim:
![image](https://user-images.githubusercontent.com/6503098/198890392-295862ea-9f7c-408c-b2a4-27dd286b3a0b.png)
source: https://pandas.pydata.org/docs/user_guide/timeseries.html#parametric-offsets

Howeve

[2022-10-30 17:16] topper-123 commented on #49388
Ok, thanks, makes sense several errors pop up then, when using them:-).

I see instantiating Series using recarrays gives an error:

[code]

The case with `pd.DataFrame({'c': r})` should logically give a similar error, so I say OP's example should have raised in the DataFrame construction.

[2022-10-30 20:34] sarvaSanjay commented on #49399
So just to confirm all we want to do is delete lines 737-742 ? Or do we have to add more specific ways to intercept type errors?

[2022-10-30 20:47] honza26 commented on #48779
@justin4480
If normalize is True, then datetime is normalized to midnight. If you dont have any 'time' part of in your date/datetime variables, it makes no difference.

My examples to show functionality:

`dt_now = datetime.datetime.now()
print(f'Datetime now: {dt_now}\n')

a = dt_now + pd.offsets.MonthEnd(n=1, normalize=True)
b = dt_now + pd.offsets.MonthEnd(n=1, normalize=False)

print(f'Offset

[2022-10-31 01:55] rhshadrach commented on #49399
That's correct; since this can raise for e.g. a user-defined function, I don't believe we can be any more helpful than just allowing the normal error to raise.

[2022-10-31 02:09] sarvaSanjay commented on #49399
take

[2022-10-31 02:57] JgLemos commented on #48766
take

[2022-10-31 05:56] topper-123 commented on #49388
Close temporarily.

[2022-10-31 06:13] topper-123 commented on #49388
Looking further, we can't use dataframes (a multidim object) as single columns in a dataframe:

[code]

IMO we should disallow single columns being constructed from multidim object like recarrays and DataFrames, in order to keep things consistent.

@jbrockmendel, do you agree?

[2022-10-31 08:48] natmokval commented on #48855
I'm going to work on the "nan-comparison" pylint message.

[2022-10-31 09:24] vamsi-verma-s commented on #49357
fixed in https://github.com/pandas-dev/pandas/pull/49182

[2022-10-31 09:27] phofl commented on #49277
This is covered, thangs for getting back to me

[2022-10-31 11:21] MarcoGorelli opened #49406 "STYLE autoupdate pre-commit"
Tomorrow, the autoupdate job will run, and there'll be a couple of updates which'll require some manual fixing:
- codespell
- cython-lint

The task is:
- run `pre-commit autoupdate`
- run `pre-commit run cython-lint --all-files` and `pre-commit run codespell --all-files`
- fixup the errors. e.g. if there's an error saying `'use_time' defined but unused`, remove the definition of `use_time` from th

[2022-10-31 12:34] prokie opened #49408 "BUG: type hint to function pd.DataFrame.from_dict()"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Hi!

I am stuck trying to write a type hint for th

[2022-10-31 12:37] phofl commented on #49398
I think this needs a more through investigation.

How would the behavior of follow up operations change?

Would you also change the behavior of I/O operations? I don't think that we can do this without a deprecation cycle

[2022-10-31 12:44] Pvlb1998 commented on #48478
Great! If it's possible, the encoder you mention in "Feature Description", where exactly you want to apply it on Panda's code? You used the example "store Python objects (numpy.ndarray objects)", but I wasn't quite sure if it's only on numpy or any place where we store objects.

[2022-10-31 12:44] lucasjamar opened #49409 "BUG: Cannot floor/ ceil/ round DST times even though they're not ambiguous"
**Pandas version checks**

- I have checked that this issue has not already been reported.
- I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.
- I have confirmed this bug exists on the main branch of pandas.

**Reproducible example**

[code]
Error message:
[code]

Expected ouput:
[code]

**Issue Description**
Pandas 1.5.1 with p

[2022-10-31 14:35] #48911 closed

[2022-10-31 16:20] ramvikrams commented on #49406
At what time tommorow will the autoupdate happen

[2022-10-31 16:30] MarcoGorelli commented on #49406
7 am UTC, but this PR can be done at any time

[2022-10-31 16:31] jbrockmendel opened #49411 "BUG: "TODO(1.4): Change me into xfail at release time""
There's a bunch of these, some with slightly different wording.  I think they are all greppable with `TODO(1.4)`.  It isn't clear if these were missed at 1.4-release-time or if they were changed and then un-changed post release.  Either way, this is not a good pattern.

[2022-10-31 16:39] MarcoGorelli commented on #49406
it can be done before, the automated job will fail anyway so ideally we'd take your PR instead of the automated one

[2022-10-31 16:41] ramvikrams commented on #49406
Oh I'll start with it rightaway then

[2022-10-31 17:12] tmccall8829 opened #49413 "ENH: Clearer error messaging when pd.DataFrame.to_sql() receives an empty string for name param"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

We use the `.to_sql()` method quite often in our data pipelines. As a part of our testing framework, we pass an empty string to the name param in `pd.DataFrame.to_sql()`, like so:
[code]
This returns an error, which i

[2022-10-31 17:13] #45725 closed

[2022-10-31 18:09] raisadz opened #49417 "BUG: Unclear error message when merging tables and validating if the keys are unique"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Unclear error message. The error message with a li

[2022-10-31 18:31] carterjfulcher commented on #22208
Just ran into this also, would be useful!

[2022-10-31 18:33] MarcoGorelli commented on #48880
I've gone through with another iteration of the writeup: https://hackmd.io/JPWJqwc1SZKz_Zaxe9MZRQ

## TL;DR

The proposal is to have:
- a way to create DataFrames without an Index
- a way to never end up with an index unless you ask for one (https://github.com/pandas-dev/pandas/issues/49069)
- an option `mode.opt_in_index` to make both of the above the default

I think #49069 is uncontroversial, s

[2022-10-31 18:33] ramvikrams commented on #49406
While running the cython i found errors like  some word defined but unused
for ex:- 'dts' defined but unused
[code]
So should I remove  this dts word

[2022-10-31 18:40] phofl opened #49421 "API: replace casting dtype instead of converting NA value when replacing missing value with another missing value"
See discussion in #48234

when doing
[code]

this casts to object, which is inconsistent with what other methods do.

The non special logic would look like:
[code]

cc @jbrockmendel @mroeschke

[2022-10-31 18:42] ramvikrams commented on #49406
``` E124 closing bracket does not match visual indentation```  and how can i fix this

[2022-10-31 18:50] #49301 closed

[2022-10-31 18:55] stellalin7 commented on #48855
[issue 48855 enable pylint C-type "disallowed-name " warning #49379](https://github.com/pandas-dev/pandas/pull/49379)

[2022-10-31 19:07] natmokval commented on #48855
I'm going to work on the type "W" pylint warnings: `wildcard-import`, `unused-wildcard-import`.

[2022-10-31 19:14] MarcoGorelli commented on #49406
yeah looks like it's unused in that function, so you can just remove the `npy_datetimestruct dts` line

[2022-10-31 19:19] LiamNiisan commented on #47871
I had the same issue as well, and like @simonjayhawkins said, the issue goes away when I change python 3.10 to 3.9 (conda downgraded pandas from 1.4.4 to 1.2.4 after changing python's version)

[2022-10-31 20:22] rhshadrach commented on #49069
What is the benefit of adding `as_index` to these methods? It seems to me this increases the surface area of the pandas API (and doubles the amount we need to test) without adding much value.

Comparing with groupby, the `as_index` argument is part of the groupby which produces a DataFrameGroupBy/SeriesGroupBy that can be repeated. E.g.

[code]

With groupby, you would have to add `.reset_index()`

[2022-10-31 20:24] abedhammoud commented on #48480
I am having the same warning issued from the following statement:
[code]
When I remove the inplace and instead use:
[code]
The warning disappears.

I am running 1.5.1 with python 3.10.6 on windows.

[2022-10-31 20:36] MarcoGorelli commented on #49069
The benefit would be within the larger scope of [having an option to make Index opt-in](https://hackmd.io/JPWJqwc1SZKz_Zaxe9MZRQ), as it would help fulfill the point of "nobody would get an Index unless they ask for one".

This wouldn't be the default pandas behaviour, it'd be behind an [option](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html), but it'd mean that someone could

[2022-10-31 20:40] ramvikrams commented on #49406
[code]
Getting this error

[2022-10-31 20:42] MarcoGorelli commented on #49406
could you please show me the output of `git diff upstream/main`?

[2022-10-31 20:43] rhshadrach commented on #49069
I see - thanks, I missed the idea of making `as_index=False` the default in the OP. Echoing https://github.com/pandas-dev/pandas/issues/48880#issuecomment-1265607444:

I'll even go stronger in saying that, in my opinion, natural row labels is what makes pandas great. As such I feel moving toward "nobody would get an Index unless they ask for one" is moving in the wrong direction.

[2022-10-31 20:45] ramvikrams commented on #49406
[code]
Here it is

[2022-10-31 20:47] MarcoGorelli commented on #49406
I can't see what you've modified in `pandas/_libs/algos.pyx`. if you open a draft pull request that might make it easier to tell what's going on

[2022-10-31 20:48] ramvikrams commented on #49406
[code]
Sorry here is the full output

[2022-10-31 20:51] ramvikrams commented on #49406
Should I open it or the full output is fine

[2022-10-31 20:52] MarcoGorelli commented on #49406
this isn't quite right
[code]
you'll want something like
[code]

But yes, if you open a PR then it'll be easier to comment on specific lines

[2022-10-31 20:55] ramvikrams commented on #49406
Ok I'll do that

[2022-10-31 21:06] ramvikrams commented on #49406
How can we create the draft pull request from vscode

[2022-10-31 21:07] MarcoGorelli commented on #49069
Thanks, I've reworded it a bit now - rather than eventually making `as_index=False` the default (to which there's too much pushback), this would just enable creation of an `option` where it would be the default

I also love row labels (I especially like having time series where the index is time, and each column represents a numeric quantity), but I do think there's a case to be made of a "no inde

[2022-10-31 21:09] MarcoGorelli commented on #49406
I don't know about vscode, but see here for draft PRs https://github.blog/2019-02-14-introducing-draft-pull-requests/

it doesn't even have to be a draft PR, you can just put "WIP" in the title and I'll take a look whilst we fix up the error

[2022-10-31 21:12] jreback commented on #49341
ok i'll agree with you folks here.

[2022-10-31 21:12] ramvikrams commented on #49406
just getting back in 20 mins sir

[2022-10-31 21:14] rhshadrach commented on #49069
My understanding is the reason for this change would be to move toward that, but there is no consensus yet as to whether we should move toward that. Is this accurate?

[2022-10-31 21:18] MarcoGorelli commented on #49069
yup, totally accurate. I'll put it on the agenda for the next call

[2022-10-31 21:39] mroeschke commented on #49398
I support `dtype=str` eventually mapping to `StringDtype`, but personally I think it would be better through a deprecation than a 2.0 breaking change.

[2022-10-31 21:51] ramvikrams commented on #49406
created a draft pull request sir

[2022-10-31 23:02] msingh00 commented on #46680
curious - if pyarrow does not as yet support 3.11, does that mean we are unable to use engine=pyarrow with python 3.11?

[2022-10-31 23:33] thlautenschlaeger commented on #49409
take

[2022-11-01 00:05] thlautenschlaeger commented on #49409
For me your workaround doesn't throw an error. :

But the 1h floor isn't applied to the **DatetimeIndex**.  Also without converting to tz="Europe/Berlin".

Checking on that if I can find out more about that.

[2022-11-01 01:57] roadswitcher commented on #49411
take

[2022-11-01 01:58] SethMMorton commented on #48673
Is there a way to disable this warning? For example, I have gotten the warning, and I acknowledge that this behavior will change and am OK with it, can I disable the warning?

Why? I have warnings turned into errors in my test suite so that I can catch potential pandas-misuse, but this new warning causes my tests to fail with (as far as I can tell) no way to disable the warning.

[2022-11-01 02:08] BHARGAV2017 opened #49433 "BUILD:"
### Installation check

- [X] I have read the [installation guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#installing-pandas).

### Platform

aws lightsail

### Installation Method

pip install

### pandas Version

without specifying the version ie simply typing pip3 install pandas

### Python Version

python 3.7.5

### Installation Logs

No logs but it simply fre

[2022-11-01 03:22] rhshadrach opened #49434 "DEPR: Allowing grouping by an index label when there are duplicates"
From https://github.com/pandas-dev/pandas/pull/49373#discussion_r1009744907

[code]

There are two levels with the label "f" here; I think what the user wants in such a case is ambiguous. As such, we should raise instead of using the first level with the given label. In the similar case of grouping by columns, we currently raise.

[2022-11-01 03:49] rhshadrach commented on #49433
Thanks for the report. Is there any more information you can provide? Is there any indication this is an issue with pandas?

As-is, I don't think this is actionable.

[2022-11-01 05:56] jbcurtin opened #49435 "BUG:"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When computing a mask between datetime64 objects a

[2022-11-01 07:08] cchummer commented on #19411
Ran into exactly this behavior/issue this evening and was stumped for a bit. Indeed would appreciate clearing up the doc's to include the fact the differing columns will indeed throw an exception and cannot be ignored via check_names. In any interpretation of English I have ever come across, a flag determining "whether to check that the names attribute for both the index and column attributes of t

[2022-11-01 09:50] MarcoGorelli commented on #49435
Hi @jbcurtin, thanks for the report

This isn't a reproducible example - for a start, what's `df`?

You probably want
[code]

Closing for now, but will reopen if you include a reproducible example

[2022-11-01 09:50] #49435 closed

[2022-11-01 09:58] MarcoGorelli commented on #49433
thanks for the report - pandas doesn't support Python3.7 any more, closing for now then, but can reopen if you provide more info

[2022-11-01 09:58] #49433 closed

[2022-11-01 10:36] roadswitcher commented on #48855
Working on W warnings `broad-except`, and `cell-var-from-loop`

[2022-11-01 10:52] lithomas1 commented on #49411
This is for the Arrow CSV Parser right?
I think I left a bunch in there, but didn't get around to fixing them.
(I think the plan was to not have skipped tests in the pyarrow parser by 1.4).

[2022-11-01 12:56] romanov-o opened #49439 "BUG: pd.DataFrame.replace() with value=pd.NA in pandas v1.5.0 and v1.5.1 crushes python kernel"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

pd.DataFrame.replace() with value=pd.NA in pandas

[2022-11-01 13:06] willjbrown88 commented on #19411
I think the confusion stems from the inconsistent naming conventions used for column name attributes:

For the example:
[code]

- The index has `df.index.name`: `d` and `df.index.value`: `0`. `df.index.name` is not checked when `check_names=False`.
- The *set* of columns have `df.columns.name` : `c` and `df.columns.values`: `a`, `b`. `df.columns.name` is not checked when `check_names=False`.
- The

[2022-11-01 13:22] adamchainz opened #49441 "BUG: `date_range` with `freq="C"` (business days) return value changed on 1.5.0"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

On Pandas 1.4.4, the above shows:

[code]

On Pand

[2022-11-01 13:22] adrien-berchet commented on #48478
Hi!

Let me give a more complete example in which we want to export a DF with 4 columns (of int, np.array, list and a custom type):

[code]

This code outputs the following:
[code]

As you can see, using `applymap` casts the `np.array` and `Something` objects to proper string values before writing the file and then reload them properly (though in this case the `np.array` is loaded a list). What I

[2022-11-01 13:38] phofl opened #49443 "TST: Refactor ``test_subtracting_two_series_with_unordered_index_and_all_nan_index``"
The test is hard to read and hard to understand. We should refactor it to make it more straightforward without those parametrizations. Pending #49442

[2022-11-01 13:39] phofl commented on #49439
Hi, thanks for your report.
Duplicate of #45725

[2022-11-01 13:39] #49439 closed

[2022-11-01 14:47] #40497 closed

[2022-11-01 15:45] jbrockmendel commented on #48673
`@pytest.mark.filterwarnings`?

[2022-11-01 15:58] natmokval commented on #48855
I'm working on the following R-Type pylint messages: `literal-comparison`, `no-self-use`, and `invalid-sequence-index`.

[2022-11-01 16:34] SethMMorton commented on #48673
@jbrockmendel Yes, that is what I ended up doing, but that's not what I was hoping. To the best of my knowledge, other warnings from `pandas` are things that I can take direct action upon to correct a potentially dangerous situation, or to prepare for a future change - making the appropriate changes in these cases silences the warnings.

In this case, it seems more informative than a true warning,

[2022-11-01 17:05] thlautenschlaeger commented on #49409
The problem is that on this day around that time the clock was shifted back for 1 hour in tz="Europe/Berlin".
That's why you have to use ambiguous. Check detailed explanation here:
[https://stackoverflow.com/a/51873334](https://stackoverflow.com/a/51873334)

[2022-11-01 17:15] thlautenschlaeger commented on #49409
I think that issue can be closed.

[2022-11-01 17:18] mroeschke commented on #49409
Thanks for the explanation @thlautenschlaeger, closing.

[2022-11-01 17:40] lucasjamar commented on #49409
Sorry but the solution provided does not solve the problem. The example mentionned in the [stackoverflow ](https://stackoverflow.com/a/51873334) is ambiguous since no timezone is provided. The example I provided is not ambiguous since the TZ (+1/+2) is clearly defined. The output of floor is not ambiguous. The ambiguous argument would return an error here since the datetimes are not sorted. As men

[2022-11-01 17:51] phofl commented on #48480
Can you provide something reproducible?

[2022-11-01 18:06] thlautenschlaeger commented on #49352
take

[2022-11-01 18:10] MarcoGorelli commented on #16713
How would this work? Would the dtype be taken from the `other` DataFrame in `reindex`? Because if so, one issue would be with null columns getting converted to `bool`:
[code]

Alternatively, there could be an option to exclude null columns could be excluded from the result of `reindex_like`, but then that would still require an update to

https://github.com/pandas-dev/pandas/blob/2d126dd0c5fd9768a

[2022-11-01 18:28] jbrockmendel commented on #49340
I generally agree with everything Joris said.

I'd also have some sympathy to the argument: If a user explicitly chose to use two different NA-likes, they probably don't expect to get just one back.  (a little bit like #49421).

Either way, I care more that the behaviors be consistent than about which one we choose.

[2022-11-01 18:38] #49374 closed

[2022-11-01 19:24] deepers commented on #49337
Hi @topper-123. Thanks, I will do this. But in following the [instructions](https://pandas.pydata.org/docs/dev/development/contributing_environment.html#option-1a-using-mamba-recommended) for building the pandas development environment with mamba, I ran into the following error. Any ideas?
[code]

[2022-11-01 20:06] roadswitcher commented on #45789
I'm unable to replicate your error, @ChiQiao   - I'm using 1.5.1 on Linux.
Can you provide any more details?

[code]

[2022-11-01 20:19] rhshadrach opened #49452 "CLN: Remove MultiIndex._get_grouper_for_level"
#49373 removed its only use. Since it's implemented on `Index` as well (where it's still needed), I think we should raise NotImplementedError to prevent any hard-to-understand tracebacks.

[2022-11-01 20:51] jbrockmendel commented on #26972
closed by #49307