[2018-11-08 06:12] #23531 closed

[2018-11-08 08:15] AlfTang commented on #23040
Got same error as well:

    Traceback (most recent call last):
      File "/home/user/apiservices/apiservices/urls.py", line 19, in <module>
        from patentClustering import views
      File "/home/user/apiservices/patentClustering/views.py", line 12, in <module>
        import pandas as pd
      File "/usr/local/lib/python3.6/dist-packages/pandas/__init__.py", line 57, in <module>
        fr

[2018-11-08 10:44] jorisvandenbossche commented on #23516
cc @chris-b1 in case you can test on Windows

[2018-11-08 11:07] gfyoung commented on #23516
Indeed, I can confirm that there is a 3.5X slowdown when using Python 3.7.1 on Windows 10.

When I use Python 3.5.6, the performance is unchanged from `0.22.0` and `0.23.4`.

These observations are consistent with what @dragoljub was observing and appears to suggest that this is a Cython / Python suggest and not `pandas`.

[2018-11-08 11:08] toniatop commented on #23516
On windows 10, python 3.6 and python 3.7 I note a noticeable slowdown as well.
[code]
python 3.7

[code]

[2018-11-08 11:16] jorisvandenbossche commented on #23553
Not that I want to discuss semantics too much, but this is for sure a regression :)
Just one that does not need to end up in an actual release if we fix it now, thanks to @h-vetinari discovering it on master.

[2018-11-08 11:51] TomAugspurger commented on #23516
For people on windows, how are you installing pandas? From source, wheels, or conda packages? And if conda, from defaults or from conda-forge?

[2018-11-08 11:53] TomAugspurger commented on #23563
For the record, `Index(List[Interval])` does result in an IntervalIndex.

We really need to rewrite `series._sanitize_array` and consolidate with `Index.__new__`. I'll try to make time for that today or tomorrow.

[2018-11-08 12:02] TomAugspurger commented on #23559
FYI, these sparse-related PRs are all all working towards deprecating SparseDataFrame and SparseSeries. Being able to deprecate means we need to break API in a few places (like here) where the user has no control over the return type, unless we go with some kind of `pd.options` route. Do we want to do that?

[2018-11-08 12:02] toniatop commented on #23516
Here conda-forge:
[code]

[2018-11-08 12:06] TomAugspurger commented on #23516
Thanks @toniatop. Can you create a couple environments with just defaults to see if it's an issue with how it was compiled for conda-forge?

[2018-11-08 12:20] TomAugspurger commented on #19954
To update the table at
https://github.com/pandas-dev/pandas/issues/19954#issuecomment-436345938, the proposal is now

dtype              | array                    | to_numpy
------------------ | -------------------------| --------
datetime64[ns]     | DatetimeArray            | ndarray[datetime64[ns]] (view)
datetime64[ns, tz] | DatetimeArray            | ndarray[object] (Timestamp)
timedelta64[n

[2018-11-08 12:28] jreback commented on #19954
+1 on https://github.com/pandas-dev/pandas/issues/19954#issuecomment-436975784

a ``MultiIndex.to_numpy()`` should be an ndarray of tuples, similar to what ``.values`` does now. If you for example wanted to have an ``expand=True`` kwarg to make that return a 2-d ndarray wouldn't object.

I think the discussion for ``_ndarray_values`` is quite relevant here. There are too many things going on. What

[2018-11-08 12:33] jorisvandenbossche commented on #19954
We indeed need to decide on the *default* behaviour of `to_numpy`? The "maximally information retaining" one (so objects for tz aware datetimes) ?
In that sense, it is different from `np.array(..)` (`__array__`, which could also be the default behaviour of `to_numpy`), so it might be good to add to that table.

Having the default `to_numpy()` without kwargs be identical to `np.array(..)` gives som

[2018-11-08 12:34] toniatop commented on #23516
Redone everything forcing --channel anaconda, same results.

[2018-11-08 12:35] TomAugspurger commented on #19954
That's part of why I want to ignore it for now :)

`._values` and `._ndarray_values` are quite different. For e.g. `Series[category]`. `_ndarray_values` is an ndarray of codes. `._values` (now being named `.array`), is the Categorical.

People seem to like the property. And if `.array` is supposed to be "the actual array backing this Series" I don't think any keywords make sense. We're just handin

[2018-11-08 12:36] TomAugspurger commented on #19954
Changed to DatetimeTZDtype

[2018-11-08 12:36] jorisvandenbossche commented on #19954
Again, this is discussion is for sure very relevant, and one we need to have. But I think it is orthogonal enough from the discussion about *public* attributes to keep it separate and not further complicate this already complex issue thread.

The idea is that `.array` always simply gives the underlying array-like (ndarray or EA) how it is actually stored in the container (series or index). So that

[2018-11-08 12:40] TomAugspurger commented on #19954
I add `np.array(...)` to the table, which makes my proposal for `Series[datetime64[ns, tz]]` stand out a bit. `np.array` on that returns the array converted to UTC and tzinfo dropped. We can't change that for backwards compatibility, so should we make `.to_array()` match it?

[2018-11-08 12:42] jreback commented on #23559
yeah this seems fine

[2018-11-08 12:42] TomAugspurger commented on #23516
cc @jjhelmus any thoughts on
https://github.com/pandas-dev/pandas/issues/23516#issuecomment-436958298? The tldr is that

- `pd.read_csv` is 3-4x slower on python 3.7 vs. python 3.6
- the slowdown is (apparently) windows only
- observed on packages from conda-forge and defaults

[2018-11-08 12:45] TomAugspurger commented on #22845
Closing in favor of https://github.com/pandas-dev/pandas/issues/23185

[2018-11-08 12:45] #22845 closed

[2018-11-08 12:47] jorisvandenbossche opened #23565 "API / internals: exact semantics of _ndarray_values"
We need to better describe the exact semantics of `_ndarray_values`: what is it expected to return and how it is used.

Currenlty it is defined on the ExtensionArray, but mentioned it is not part of the "official" interface:

https://github.com/pandas-dev/pandas/blob/712fa945c878eaed18f79d4cf99ed91e464d51b1/pandas/core/arrays/base.py#L687-L697

One Series/Index, the property will either give you w

[2018-11-08 12:48] jorisvandenbossche commented on #19954
Opened https://github.com/pandas-dev/pandas/issues/23565 for the discussion on `_ndarray_values`

[2018-11-08 12:49] jorisvandenbossche commented on #19954
@TomAugspurger you mean `to_numpy`?

[2018-11-08 12:55] TomAugspurger commented on #19954
Yes.

[2018-11-08 12:58] jorisvandenbossche commented on #23565
I think a highly related topic is my exploration of a generic ExtensionIndex in https://github.com/pandas-dev/pandas/pull/23223, since we are indeed using `_ndarray_values` in many places for indexing.

I need to take a more detailed look at what the actual requirements are for indexing values (regarding missing values, round-trip-ability, ..)

Another question is to what extent `_ndarray_values`

[2018-11-08 12:59] jreback commented on #19954
a property just boxes you in as you can never add arguments. ``.to_array()`` is much more friendly.

[2018-11-08 13:00] jreback commented on #19954
why is ``np.array()`` *any* different than ``.to_numpy()``?

[2018-11-08 13:02] jorisvandenbossche commented on #19954
But why would you want an argument for it? Can you give a use case? There is only *one* array stored in the series/index container, and it simply returns that one (without making a copy, without any modification)

If we do the last change that Tom mentioned above (https://github.com/pandas-dev/pandas/issues/19954#issuecomment-436980762), there might be no difference in the *default* behaviour, but

[2018-11-08 13:03] jreback commented on #19954
this is exactly the point! ``.values`` boxed us in for some many years, you want to repeat this???

[2018-11-08 13:04] jorisvandenbossche commented on #19954
Can you explain what you mean with "boxed us in" ?

[2018-11-08 13:04] TomAugspurger commented on #19954
I think part of the idea is to *not* have arguments. `.array` is to provide the thing boxed by the series / index, full stop.

I think we're moving to it matching by default.

Not saying this is a good idea, but potentially a 2-D array from an IntervalArray.

[2018-11-08 13:04] TomAugspurger commented on #19954
Maybe we can pause this conversation until this afternoon :)

[2018-11-08 13:04] jreback commented on #19954
Of course, if that is our only use case, you can also get that with np.array(.., dtype=object) ..

This again offers too many options.

[2018-11-08 13:05] jreback commented on #19954
great

[2018-11-08 13:06] jreback commented on #19954
why do you think we have a problem converting Datetime w/tz now? because we can't touch ``.values`` in any way. This is boxed in. We have NO choice but to return a single values no matter what. Imagine if ``.values(tz=True)`` or whatever was available that you would have a lot more flexibility.

A method offers possibilities, a property precludes them.

[2018-11-08 13:17] jorisvandenbossche commented on #16521
Also +1 for using `pytest.raises` now it has all functionality (I think?) we need.

For `pytest.warns`, maybe it would a good idea if somebody finds the time to ask `pytest` if they would be interested in adding such a feature.

[2018-11-08 13:31] jorisvandenbossche commented on #13443
@topper-123 I think you could ignore the repr here (only change the internals and the method/attribute names, and leave the repr alone). Of course we need to change the repr eventually, but since you have the other PR, I would not worry about it here.
So I would recomment to already push your working implementation into a PR, so we can already start reviewing it (we can still later decide which PR

[2018-11-08 13:46] jorisvandenbossche commented on #22860
Somehow this is maybe fine, as we then not have a bunch of `.._array` functions top-level and could have the dtypes top-level instead.

Unless we are fine with a `mask` argument for all? (like `pyarrow.array(..)` has). It's probably mainly useful for integer though ..

For that we already have `to_datetime`?

Related to that, want to repeat my question of above (https://github.com/pandas-dev/panda

[2018-11-08 13:48] jorisvandenbossche commented on #22860
Would something like `pd.array(..., dtype=pd.types.categorical(ordered=True))` be less typing / easier to read? (note the factory function instead of class constructor, but put it in a `types` submodule as top-level this might be confusing)

[2018-11-08 14:18] jorisvandenbossche opened #23566 "API: DataFrameGroupBy column subset selection with single list?"
I wouldn't be surprised if there is already an issue about this, but couldn't directly find one.

When doing a subselection of columns on a DataFrameGroupBy object, both a plain list (so a tuple within the `__getitem__` [] brackets) as the double square brackets (a list inside the `__getitem__` [] brackets) seems to work:

[code]

Personally I find this `df.groupby('a')['b', 'c'].sum()` a bit stra

[2018-11-08 14:19] dragoljub commented on #23516
I have also tested this with the pre built wheels from: https://www.lfd.uci.edu/~gohlke/pythonlibs/ With the same results.

I also ran a source build of latest GitHub code with ``python setup.py bdist_wheel`` with python 3.7.1 and got the same results that way.

I wonder if something in the build script has changed or some compile flag on windows.

[2018-11-08 14:23] TomAugspurger commented on #23516
Did you also try building from source with 3.6?

[2018-11-08 14:40] kylebarron commented on #23564
What about changing the default `version=114` to `version=None`, with options `114` and `117`? If `None`, then try writing to version 114, and if impossible, automatically switch to 117. If `version=114` is passed, raise an error with wide strings.

Stata 13 was released 5.5 years ago, so I think it's a safe wager that the vast majority of users have 13, 14, or 15.

[2018-11-08 14:42] skaterdonza commented on #13348
It looks like this is the only valid way to do it,  it's an awful method because you need to know the name of the dataframe variable to include it on the query, and getting the name of a variable it's not a good procedure...

Waiting for a fix for this bug  😞

[2018-11-08 14:43] TomAugspurger commented on #16521
Opened https://github.com/pytest-dev/pytest/issues/4343 upstream in pytest.

On Thu, Nov 8, 2018 at 7:17 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-11-08 14:53] jreback commented on #13348
@skaterdonza pushing a fix yourself would get this in
we have 2600 issues

[2018-11-08 14:55] #9086 closed

[2018-11-08 14:55] #23510 closed

[2018-11-08 15:02] beojan commented on #6508
@zhiruiwang The `df.` syntax won't be able to use this since it's parsed by Python, but `query` and `eval` would work.

[2018-11-08 15:08] TomAugspurger commented on #22860
Yeah, I think it would be one or the other (except for IntervalArray, which will be special).

When you say "mainly useful for integer", you mean mainly useful

I'm not sure what's best here. I think list / object array of scalars, clearly. For convenience, I think unboxing Series / Index, and idempotenecy is nice. So all of

- `pd.array(Series[period])`
- `pd.array(Index[period])`
- `pd.array(a_p

[2018-11-08 15:11] jorisvandenbossche commented on #22860
Yep, I know, I was only looking at readability / writability of `dtype=pd.api.types.CategoricalDtype(ordered=True)` vs `dtype=pd.types.categorical(ordered=True)`

[2018-11-08 15:14] jorisvandenbossche commented on #22860
Yes, for sure that as well (next to the list of scalars).
But we could opt to keep it at those two cases: list of scalars (and of course some "coercion" can be done like int to float or round float to int) and unboxing containers that already have the dtype (without the more advanced parsing).

[2018-11-08 15:15] dragoljub commented on #23516
I will try building with python 3.6.7 today. I will also use the latest version of cython in case that’s the culprit.

Thanks for all those who confirmed this on windows.

[2018-11-08 15:29] trianta2 opened #23568 ""RecursionError: maximum recursion depth exceeded while calling a Python object" when using groupby, resample, and agg"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This issue is derived from https://github.com/pandas-dev/pandas/issues/23531 and affects the current master branch.

Using `agg` raises a `RecursionError` while using methods `mean` and `std` work as expected, i.e.:

[code]

Here's a chunk of stack trace:

[code]

#### Expected Output

A dataframe with the comb

[2018-11-08 15:30] trianta2 commented on #23531
Sure, see https://github.com/pandas-dev/pandas/issues/23568

[2018-11-08 16:09] jbrockmendel opened #23569 "Review/Overhaul __array__ and view methods"
#23524 fixes a problem with `DatetimeIndex.__array__`; we should do a thorough check of the `__array__` methods on other classes to make sure (and test) that they make sense

[2018-11-08 16:23] jbrockmendel commented on #19954
Suppose we were to implement RangeArray to back RangeIndex (or even range-like DatetimeArray/Index).  Then there is nothing being boxed.  I don't have a real opinion here, just sayin'

[2018-11-08 16:31] michaelsilverstein opened #23570 "Melting with not present column does not produce error"
#### Code Sample

[code]
Name | day | burgers | fries
-- | -- | -- | --
Susie | Monday | 4 | 0
Susie | Tuesday | 0 | 1
Susie | Wednesday | 0 | 1
Alejandro | Monday | 4 | 2
Alejandro | Tuesday | 2 | 0

[code]
Outputs warning:
[code]
#### Problem description
This behavior should produce an **error**. Warnings aren't always taken seriously and if this melting operation were apart of a larger chain of

[2018-11-08 16:35] bashtage commented on #23564
I always find automagic choices to be too magic.  I would prefer to move to 117 by default with a standard deprecation cycle than to have data-dependent format choices.

I think you might be surprised how many institutions are not current on Stata and only upgrade idiosyncratically.

[2018-11-08 16:37] jbrockmendel commented on #23565
For the itemsize/strides/ etc listed above, I think it's worthwhile seeing for how many of those we could use just _values or values or _data.

+1 on looking at round-trip and values_for_factorize

[2018-11-08 16:44] TomAugspurger commented on #23570
That warning is coming indirectly via a `.loc`. I'm not sure when it's slated to be enforced.

Regardless, we could add a check to `melt` that all the names are valid. Interested in submitting a PR?

[2018-11-08 16:46] TomAugspurger commented on #23570
I think the check needs to happen roughly before https://github.com/pandas-dev/pandas/blob/adc54fe6a48483defab173d3af986fe47bb5e3eb/pandas/core/reshape/melt.py#L48

[2018-11-08 16:57] kylebarron commented on #23564
Perhaps you're right. I think updating the docs and error message would be helpful at least.

Additionally, the 117 format can write fixed-width strings up to 2045 characters long. Currently, writing a string that's 250 characters long in the 117 format saves it as an `strL`. Do you think it would be beneficial to change the 117 writer to allow writing wider widths as fixed widths?

[2018-11-08 16:57] gfyoung commented on #23564
@bashtage : Deprecation cycle also works.  However, keep in mind that the proposal of auto-changing to 117 would have been accompanied by a warning message if we had to auto-convert, for transparency reasons (anti-magic) as you have eluded.

[2018-11-08 16:59] jbrockmendel opened #23571 "Timedelta/TimedeltaIndex does not accept "unit" higher than ns"
[code]

[2018-11-08 17:00] bashtage commented on #23564
Yes, but I think if one wants to move to 117 as default it is OK.  117 has strictly more features, with the only misfeature a lack of backward compat. 114 will still be available.

[2018-11-08 17:03] bashtage commented on #23564
@kylebarron A pr to enable writing for up to 2045 would be fine.

IIRC this choice was implemented to simplify and improve resue. IMO there are no real advantages to writing 1500 character fixed width strings when compred to strLs, and it can really blow up the size of a file if the string sizes vary much.

If you want to contribute, the most important contribution would be to add support for 118

[2018-11-08 17:03] jorisvandenbossche commented on #19954
Then it is the RangeArray that is being boxed, and thus what would be returned?

[2018-11-08 17:14] kylebarron commented on #23564
I'd love to try out a non-trivial PR! It doesn't appear that there's an existing issue for writing unicode to Stata. (#9882 looks like it was only concerning reading version 118 files). Should I create one?

I agree with your conclusion that there isn't really an advantage to wider fixed width strings, so I won't touch that.

[2018-11-08 17:16] bashtage commented on #23564
Sure.  Adds a useful export/import capability.

[2018-11-08 17:40] kylebarron opened #23572 "df.to_stata fails when a column of type object contains only None"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The `df.to_stata()` method writes columns containing `None` without error when there is at least one string value in the column, but fails if the column contains only `None`. It's unclear what data type to write a column of `None` as, so maybe that's why this isn't supported? I would propose that a column with

[2018-11-08 17:46] kylebarron opened #23573 "Support writing unicode characters in df.to_stata()"
#### Code Sample, a copy-pastable example if possible

[code]
I picked an arbitrary CJK character to test this with.

#### Problem description

It would be possible to write Unicode strings to a Stata file by implementing a writer according to [version 118](https://www.stata.com/help.cgi?dta) of the `dta` format.

~~I'd be interested in trying to submit a PR for this.~~ (Edit: I don't use Stata an

[2018-11-08 18:03] dragoljub commented on #23516
I jut rebuilt the latest Pandas version (0.23.4+) from source with latest Cython on Python 3.6.7 on Windows 10 and the parsing speed is ) _fast_. So it seems somehow related to Python 3.7 on windows. Not sure what it could be. Does the Python IO system pass data to the Cython/C parser? Was the Python 3.7 version compiled without optimizations?

[code]

[2018-11-08 18:03] anjsudh opened #23574 "Change Name of `fname` Parameter to `path` in Parquet IO Methods"
_Originally posted by @jreback in https://github.com/pandas-dev/pandas/pull/23321_

[2018-11-08 18:11] michaelsilverstein commented on #23570
Just made the PR, I'm having some trouble running pandas from the source directory, I get this error:

```ImportError: C extension: No module named 'pandas._libs.tslibs.conversion' not built. If you want to import pandas from the source directory, you may need to run 'python setup.py build_ext --inplace --force' to build the C extensions first.```

But the setup failed somewhere along the way. Any

[2018-11-08 18:16] TomAugspurger commented on #23570
You need to build the C extensions: http://pandas-docs.github.io/pandas-docs-travis/contributing.html

[2018-11-08 18:22] TomAugspurger opened #23576 "PERF: Slowdown in IntervalIndex.get_loc"
https://github.com/pandas-dev/pandas/pull/20611#issuecomment-437098669

[code]

cc @qwhelan

We seem to spend a lot of time in Series._set_axis and `is_all_dates` for some reason.

[2018-11-08 18:30] #23504 closed

[2018-11-08 18:58] h-vetinari commented on #22824
@jorisvandenbossche
Friendly ping. :)

[2018-11-08 19:23] h-vetinari opened #23578 "API/ERR/ENH: Allow MultiIndex.from_tuples to handle NaNs"
This is the origin of #23558 and #23677, but IMO worthy to fix in its own right:

Trying to create a MultiIndex from a list of tuples containing NaNs (like `Index.str.partition` does if there are NaNs present) yields:
[code]
However, it works easily when passing a *tuple* of NaNs
[code]
In fact, the length of the tuple is irrelevant:
[code]

Aside from the inconvenience, it is also a real problem

[2018-11-08 19:35] jbrockmendel opened #23579 "API: tz_convert within DatetimeIndex constructor"
At the moment the following raises:

[code]

It isn't clear to me that raising is the right thing to do; shouldn't this just be equivalent to `dti.tz_convert('Asia/Tokyo')`?  Or is this ambiguous for some reason?

[2018-11-08 20:00] mroeschke commented on #23579
This works for `Timestamp` albeit I am not really a fan of `tz=` meaning localizing and converting. But if this is properly documented, we might as well follow `Timestamp`'s behavior unless I am missing something

[code]

[2018-11-08 20:05] jbrockmendel commented on #23185
Post-call update on game-plan here:

- #23539 cleans up and tests the TimedeltaIndex constructor.  That PR implements `sequence_to_td64ns`.  Once that goes through, `TimedeltaArray._from_sequence` can be implemented as a thin wrapper around `sequence_to_td64ns`.
- A similar PR will be forthcoming to do the same thing for `DatetimeArray._from_sequence` (would be helpful if we resolve #23579 before

[2018-11-08 20:14] TomAugspurger commented on #23185
Thanks for the update. I'll take a look at those tonight.

I'm planning to experiment with `internals/blocks.py` a bit, to see how much of that can be simplified beforehand.

[2018-11-08 20:43] alimcmaster1 commented on #23541
Re point (1) that seems like a scary change? All users would have to change to that new method name, filter seems like a clear method name to me, axis is just something you are filtering on.

[2018-11-08 20:52] jreback commented on #23541
- we have discussed depreciating filter in the past. filter is something you do to rows (from SQL and R)

- this is getting close to duplicating what .loc does (for multi axis filtering)

[2018-11-08 21:16] Dr-Irv commented on #23541
@jreback Not sure it duplicates what `.loc` does as it seems the advantage of `DataFrame.filter()` is that you can use `regex` or `like` arguments to select the columns you want.  The proposal here is to make `filter()` support `MultiIndex`.  If the idea is to deprecate `filter()`, then the rename I suggested makes the functionality more clear and separates it from the SQL/R interpretation.

I don

[2018-11-08 21:22] mroeschke commented on #23579
For consistency sake then, we should depreciate the `Timestamp` behavior then.

[2018-11-08 21:29] jreback commented on #23541
- .loc should do inexact matching (maybe by a like keyword), but it’s already pretty overloaded and you would need to differentiate between exact and inexact matches per axis - .filter already uses .loc internally FYI

- we depreciated .select a couple versions back to possibly use an alternative here - as it’s rhe correct verb for row filtering

the confusing issue here is that you are filtering

[2018-11-08 21:30] jreback commented on #23579
yep that sounds right

[2018-11-08 21:37] Dr-Irv commented on #23541
@jreback I think what @WillAyd was looking for was a way to do inexact matching on the labels for columns that are backed by a `MultiIndex`.  The current `filter()` only works for columns backed by a regular `Index`.

So one idea is to deprecate `filter()` because of the ambiguity in the name, and then have a `filter_axis()` or `filter_labels()` or `select_labels()` (or some other name) that allow

[2018-11-08 21:41] WillAyd commented on #23541
Yep thanks @Dr-Irv . I'm not obviously not tied to `filter` being the ultimate home here. `.loc` is certainly another option as well though the pattern matching / exclusion support might be a little tricky to stuff in that method alone

[2018-11-08 22:30] h-vetinari opened #23585 "API/DEPR: replace raise_conflict-kwarg in df.update with errors"
From [review](https://github.com/pandas-dev/pandas/pull/23192/files#r225758408) in #23192:

The idea is to replace the `raise_conflict=True|False` with `errors='ignore'|'raise'`.

Same goes for `Panel`.

[2018-11-08 22:45] TomAugspurger opened #23586 "PERF: Implement PeriodArray._unique"
Avoid an astype(object).

[code]

should work.

[2018-11-08 22:59] dragoljub commented on #23516
I posted an Issue linking this on the Python Issue tracker so at least they can take a look. Since the performance seems good on Linux I'm hopeful a compile/config fix could address it for Windows.

https://bugs.python.org/issue35195

[2018-11-08 23:10] jorisvandenbossche commented on #23185
Yes, thanks for the update.
Do you still have segfaults in #23415 ?

If this is about having the base EA tests: from my experience, it helps to do this from the beginning (when starting to subclass from ExtensionArray), to check you are have everything for the EA interface.
At the end of the call we are talking shortly about whether this could already be done as a separate PR (without the actual s

[2018-11-08 23:17] jbrockmendel commented on #23185
There were never segfaults in that branch; https://github.com/jbrockmendel/pandas/tree/compose is the branch with the segfaults.  Nothing there has changed for a few days.\*

I am far more interested in the parametrized tests in tests/arithmetic.

\* Only tangentially related, I was thinking it would be nice to have a GH Tag for segfaults (or other non-recoverable errors).  There aren't that many

[2018-11-08 23:36] jbrockmendel commented on #23212
I've been asked to reiterate my thoughts here.

`Series(...)` is very forgiving/smart about what it accepts.  So is `DataFrame`.  So is `Index` and `DatetimeIndex` and `PeriodIndex` and ... (less so for `MultiIndex` and I'm honestly not sure about `IntervalIndex`, but the pattern/policy is clear).  If pandas-provided EAs are first-class pandas classes, they should behave in the same user-friendly

[2018-11-08 23:37] jbrockmendel commented on #18664
@TomAugspurger any idea what's going on here?  Seems like something to address as long as we're all focused on the DTA/TDA/PA constructors

[2018-11-08 23:50] jbrockmendel commented on #23586
This would also work for DatetimeArray/TimedeltaArray if put into DatetimelikeArrayMixin and the last line were changed to `type(self)(unique(self.asi8), dtype=self.dtype)`.  Though then in DatetimeIndex and TimedeltaIndex we would need to override (for now) with `unique = Index.unique`

[2018-11-08 23:54] mroeschke commented on #22864
Post dev discussion on 11/8/2018. My understanding of the conclusion:

1) We still want `'D'` to "play nicely" with timedeltas and timestamps so it can still be used as a flexible entry point.
- With timestamps, `'D'` means "calendar day" (23/24/25 hours depending on DST)
- With timedeltas,  `'D'` means 24 hours

2) Arithmetic with the `Day` offset when it operates like 24 hours should be deprecat

[2018-11-09 00:53] louistang5 opened #23588 "df.apply reports ValueError after pd.to_datetime is called"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
After the `pd.to_datetime` creates a new column to original `df`, then `df.apply` will report following error:
[code]

But if I switch the positions of `pd.to_datetime` and `df.apply` line, it will work.

It also works if I skip `pd.to_datetime` line.

It also works if I don't create new column, i.e. `df['timest

[2018-11-09 01:05] jreback commented on #23588
you are using an older version
try on 0.23.4

[2018-11-09 02:41] TomAugspurger commented on #18664
Seems like the DTI constructor goes CategoricalIndex -> ndarray[datetime64[ns]], which loses the tzinfo.

[code]

We would ideally follow this check down the datetimetz path, but `is_dateimtetz(CategoricalIndex[datetime64[ns, tz]])` is false.

[code]

[code]

To the extent possible, I would recommend an array from the Series / Index as early as possible. Or we could maybe update `is_datetimetz` to

[2018-11-09 02:43] TomAugspurger commented on #18664
This is also fishy:

[code]

Those should probably both be `datetime64[ns, US/Eastern]`. We'd want to fix that for user code which may hit it, but again would be solved by unboxing arrays early in the index constructor (which maybe has to wait till we have lossless arrays for everything).

[2018-11-09 03:03] ArtinSarraf commented on #23525
@jreback - how should the union of Int64Index and RangeIndex behave ideally? Should they also result in an object dtype or behave the same as they do now?

[2018-11-09 03:07] TomAugspurger commented on #23525
RangeIndex should always be just an optimization of Int64Index. So you
would return a RangeIndex if possible, else an Int64Index.

On Thu, Nov 8, 2018 at 9:03 PM ArtinSarraf <notifications@github.com> wrote:

[2018-11-09 03:38] peterpanmj commented on #22024
The issue is resolved by some other PR. In current master it behaves just like expected. @jorisvandenbossche
[code]

[2018-11-09 03:41] louistang5 commented on #23588
Upgrading to 0.23.4 solved the issue. Thanks @jreback
Strange bug though.

[2018-11-09 03:41] #23588 closed

[2018-11-09 03:48] jreback commented on #22024
lots of work by @jbrockmendel and others in ops likely fixed this
i believe we have good test coverage for this but pls take a look
if we do then can just close this

[2018-11-09 04:11] TomAugspurger commented on #22024
We have https://github.com/pandas-dev/pandas/issues/22974 for testing ops between EA and ndarrays / sequences directly (we just do series right now). So we can close this in favor of the issue for creating a base test.

[2018-11-09 04:11] #22024 closed

[2018-11-09 05:00] jbrockmendel opened #23590 "See if existing formatting code can be re-used for EA repr"
Ref #23587

[2018-11-09 08:06] qwhelan commented on #23576
Thanks for creating this issue @TomAugspurger - I think I've resolved it in #23591

[2018-11-09 09:36] gfyoung commented on #16521
The deed has been done!  See #23592.

[2018-11-09 09:40] jorisvandenbossche commented on #23569
So question is what do we want to support in `__array__` (for the datetime-like EAs):

- default `np.array(EA)` will return an array of M8/m8 dtype, compatible with what it does for Series/Index (on master this currenlty gives object dtype, due to using the default iteration), and object array for PeriodArray
- `np.array(EA, dtype=object)` converts to object array of pandas Timestamp/Timedelta sca

[2018-11-09 10:01] jorisvandenbossche commented on #23569
For datetime/timedelta, this will happen automatically if we do nothing. So the only other option is to raise an error, but that does not seem necessary I think.
The question is still whether to explicitly enable it for PeriodArray.

[2018-11-09 10:48] pope1ni opened #23594 "Add support for extra formats to all .strftime() methods."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`i0` will output values such as `'2018-Q%q'` and `i1` will output the expected `'2018-Q4'`.

Without this, other messy or sub-optimal code is required, e.g.

[code]

#### Expected Output

It would be nice if all `.strftime()` methods in pandas supported the extra formats that periods do:

https://pandas.pydata.

[2018-11-09 11:33] benkrikler opened #23595 "ENH: Method to recover IntervalIndex when reloaing plain-text files"
When an IntervalIndex is written to a plain-text format (csv or with `to_string()`) the output is well-formatted.  If I now reload that CSV file, the IntervalIndex is now recreated as a series / index of strings.

A useful feature would be to convert that string index back into an IntervalIndex.  This could potentially be done automatically in the `read_csv` and `read_table` methods.

I've impleme

[2018-11-09 11:42] datapythonista opened #23596 "DOC: Fix order of parameters in the docstrings"
There are around 20 functions and methods in pandas that have the parameters documented in the wrong order, as reported by `./scripts/validate_docstrings.py --errors=PR03`:
[code]

The idea is that this is correct:
[code]

But this is what we have (not that in the second case, the order of the parameters in the docstrings does not match the order in the signature).

[code]

We should fix the order

[2018-11-09 11:44] jreback commented on #23595
see
https://github.com/pandas-dev/pandas/issues/23228

and associated PR (which is stale if i want to work on it)

[2018-11-09 11:45] jreback commented on #23595
cc @jschendel

[2018-11-09 12:01] datapythonista opened #23597 "DOC: Remove incorrect periods at the end of parameter types"
There are around 20 functions and methods in pandas that have an invalid period at the end of the parameter types, as reported by `./scripts/validate_docstrings.py --errors=PR05`:
[code]

The idea is that this is correct:
[code]

But this is what we have (not that in the second case, there is a period after `str`, which shouldn't be there).

[code]

We should remove the periods, and make sure that

[2018-11-09 12:22] jorisvandenbossche commented on #23595
I think the first step is to have a constructor for `IntervalIndex` from strings? (independent of integration in the csv reading)

[2018-11-09 12:52] TomAugspurger opened #23598 "PERF: Deprecate casting of index of dates to DatetimeIndex"
[code]

This was the root cause of https://github.com/pandas-dev/pandas/pull/23591. Why are we doing that?

Note that this doesn't affect the case of `index=[pd.Timestamp(...), pd.Timestamp(...)]`, as that would have previously been converted to a DatetimeIndex. It seems be only when you have an Index of datetimes.

I'm going through our test cases that hit this now.

[2018-11-09 12:56] jorisvandenbossche commented on #23586
@TomAugspurger do you remember why we don't have a base `unique` implementation based on `_values_for_factorize`? (of course in principle `factorize` does a bit too much, but still should be faster than object roundtrip)
Eg in case of PeriodIndex this would already have worked, since factorizing does not goes through object dtype (which is not to say that specifically for a builtin PeriodArray, we

[2018-11-09 12:56] TomAugspurger commented on #23598
We do hit this when concating two series with DTIs with different timezones (at this point we're an object-dtype Index with different tzs). But that raises anyway.

It seems like tz-naive + tz-aware hits this, and actually goes through

[code]

But, presumably that's another opportunity for improving perf? We can fix this earlier in the `concat` by building a DatetimeIndex rather than an Index of

[2018-11-09 13:00] TomAugspurger commented on #23586
Hmm, can we say in general whether factorizing or converting to object is more expensive?

[2018-11-09 13:10] TomAugspurger commented on #23598
Ignore that last bit about tz-aware and tz-naive. That returns an object-dtype index.

[2018-11-09 13:13] TomAugspurger commented on #23598
Ohhhhhhh the dtype of the index depends on the order of arguments passed to concat.

[code]

[2018-11-09 13:15] jorisvandenbossche commented on #23586
Probably not in general, but my feeling is that it is likely the overhead of keeping track of the codes in factorize will give less overhead compared to doing it in object mode.

For integers:
[code]

(but so this also clearly shows that for PeriodArray it is worth to explicitly use `unique` instead of `factorize`)

[2018-11-09 13:17] jorisvandenbossche commented on #23586
Actually, can't we do something like this as default:

+    def unique(self):
+        from pandas.core.algorithms import unique
+        return self._from_factorized(unique(self._values_for_factorize), self)

[2018-11-09 13:19] TomAugspurger commented on #23586
Yeah, I think so... I don't think we make any claims about the sortedness.

[2018-11-09 13:24] bmironov opened #23599 "Issue parsing '%z' in timestamps via pd.to_datetime"
#### Code Sample, a copy-pastable example if possible

First, thanks a lot for this great library. It helps a lot in our day-to-day activities
I came across odd behaviour in processing timestamps from set of my CSV files.

[code]
Output:
[code]
#### Problem description
As we can see pd.to_datetime CAN properly parse timezone directive '%z'. If I omit parameter "errors" then I get exception:
ValueE

[2018-11-09 13:29] #23576 closed

[2018-11-09 13:57] fred-xue commented on #13056
I ran into the same issue. Need a consistent behavior for this.

[2018-11-09 14:31] datapythonista commented on #23154
Fixed in #23399

[2018-11-09 14:31] #23154 closed

[2018-11-09 15:07] datapythonista commented on #22899
Fixed in #22902

[2018-11-09 15:08] #22899 closed

[2018-11-09 15:49] weston-nrl opened #23602 "Unexpected behavior with NaN values on str operators with categorical data"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code works as expected if you comment out the 4th line (astype('category')).  With str.startswith, str.endswith, and str,contains, the "na=False" option works to output False for the NaN value.  However, with that astype('category') line making the series categorical, the "na=False" option seems to be

[2018-11-09 15:53] jorisvandenbossche commented on #23598
In the original issue, I agree that we keep preserve the object dtype in the series constructor.

[2018-11-09 16:03] bmironov commented on #23599
Another strange performance metric:

[code]
[code]

And what "should" work at least as fast:
[code]
[code]
CSV file has 6.6M rows of data

[2018-11-09 16:14] TomAugspurger commented on #23602
Duplicate of https://github.com/pandas-dev/pandas/issues/22158 I think (didn't look too closely; let me know if I'm wrong). https://github.com/pandas-dev/pandas/pull/22170 is open to fix this (which is getting close to going stale. Keep an eye on it, and if you want you can take over the PR).

[2018-11-09 16:14] #23602 closed

[2018-11-09 16:31] TomAugspurger commented on #22860
We mentioned it briefly on the call, and Jeff was for it returning ndarrays.

In https://github.com/pandas-dev/pandas/pull/23581/files#diff-69ac57923b848af43df327c311b79db4R18 we have a nice, succinct description of what `dtype` does. If you don't specify it, the dtype is inferred from `np.array()`. I'd like to be out of the inference business as much as possible, and determining that `[1, 2, 3]`

[2018-11-09 16:40] jorisvandenbossche commented on #22860
Also not for built-in EAs?
For example, passing a list/array of Period objects could easily be detected and converted into a PeriodArray.

[2018-11-09 16:41] jorisvandenbossche commented on #22860
Yes, but only if there is no `dtype` provided (and anyway, then it's numpy that looks into the data). We have a `infer_dtype` that works nicely for this.

[2018-11-09 16:47] TomAugspurger commented on #22860
Hmm yea, you're right. It would be strange for `Series[List[Period]]` to be a Period dtype, but pd.array(List[Period]])` to not.... So we'll need to do some inference...

OK, two problems then: that'll put pandas EAs on a different level from 3rd party EAs (unless we let `infer_dtype` be extensible, but I don't think that's easily possible).

And then the problem of `array([1, 2, 3])`. Let's just

[2018-11-09 17:20] chris-b1 commented on #23516
Just to cross a plausible suspect off the list - the MSVC version does not seem to matter.
[code]

No, 3.7 extensions are continuing to be built with `/Ox`

[2018-11-09 17:37] chris-b1 commented on #23516
It seems the issue is actually the float parsing?  Which is odd because our [`xstrtod`](https://github.com/pandas-dev/pandas/blob/efd1844daaadee29a57943597431611d554b6c4a/pandas/_libs/src/parser/tokenizer.c#L1501) doesn't (?) interact with Python at all.

In fact, as @dragoljub noted, using the [`round_trip`](https://github.com/pandas-dev/pandas/blob/efd1844daaadee29a57943597431611d554b6c4a/pandas

[2018-11-09 18:03] chaseschuette commented on #20940
I've also encountered this. I have not yet figured out what's going on.

[2018-11-09 18:32] jschendel opened #23605 "TST: Test failure on 32bit for TestSparseGroupBy.test_aggfuncs"
The `test_aggfuncs` test in `/sparse/test_groupby.py` is failing on 32bit: https://travis-ci.org/MacPython/pandas-wheels/jobs/451706570#L5281

Specifically, the pytest output:
[code]

The test in question:
https://github.com/pandas-dev/pandas/blob/efd1844daaadee29a57943597431611d554b6c4a/pandas/tests/sparse/test_groupby.py#L43-L48

xref #23318 : it looks like this is the pr that caused the change?

[2018-11-09 18:44] h-vetinari opened #23606 "API/BUG: unnecessary upcasting for df.update"
I looked through all the open issues with update and dtype in them, but didn't find something - apologies if an issue exists already.

Consider:
[code]

So far, so good. Now, for frames:
[code]

Obviously, the dtype promotion here was neither desired nor necessary (strictly speaking; `s` and `t` are both `int64`), and is simply a by-product of the alignment happening behind the scenes.

[2018-11-09 19:10] mroeschke commented on #23599
`%z` was introduced recently and will be apart of the v0.24.0 release.

[code]

The performance hit you're experiencing is probably because we fall back on using dateutil if initial parsing attempts failed which tends to be slow.

[2018-11-09 19:10] #23599 closed

[2018-11-09 19:40] dragoljub commented on #23516
I also found this bug fix a while ago that made some changes to ``pandas/src/parser/io.c`` PyGILState_Ensure() was called, possibly interacting differently on windows systesm with threads on Python 3.7.

#11790

https://github.com/pandas-dev/pandas/pull/11790/files#diff-006bfcefd42c2be38e538fdd3219dbfdL125

[2018-11-09 20:01] chris-b1 commented on #23516
I'd be surprised that change matters, but I'm at a loss here, so maybe!  Another possibility is that cython made some tweaks to threading logic for python 3.7 compat - again, wouldn't think that's the issue here, but possible some kind of bad interaction.
https://github.com/cython/cython/issues/1978

[2018-11-09 20:15] dragoljub commented on #23516
Good info. I'm just surprised that people do not see this on Linux. I'll try OSX next.

[2018-11-09 20:54] bmironov commented on #23599
@mroeschke Thank you for quick reply.

Assuming that pd.to_datetime falls back to deteutil... Then why running pd.to_datetime outside of pd.read_csv is way faster than as "date_parser" parameter? If it is the same code then it should behave similarly, isn't it?

Thanks again,
Boris

[2018-11-09 21:15] cgohlke commented on #23516
Looks like the slowdown first shows up in `Python 3.7.0a4`:

[code]

[code]

[2018-11-09 21:35] mroeschke commented on #23599
I am not intimately familiar with `read_csv` but given the documentation for the `date_parser` function , it tries at least 3 different ways to use the `date_parser` function to parse the dates.

[2018-11-09 21:43] bmironov commented on #23599
So maybe this issue (#23599) could be a good test case and we should keep it open until 0.24 development is done?

[2018-11-09 21:55] dragoljub commented on #23516
Very Interesting. I'll try Py 3.7.0a3 to confirm this on my systems. Is the diff between ``0a3`` to ``0a4`` easy to find from Pythons release notes?

[2018-11-09 21:59] cgohlke commented on #23516
https://docs.python.org/3.7/whatsnew/changelog.html#python-3-7-0-alpha-4

Maybe `bpo-29240: Add a new UTF-8 mode: implementation of the PEP 540`?

[2018-11-09 22:01] mroeschke commented on #23599
We have tests for the `%z` directive in our test suite.

In terms of performance, could you rerun your `read_csv` benchmark on master and see if the performance is still slow? I don't think we have performance benchmarks with `parse_dates` and `read_csv` IIRC. Might be worth adding if the performance is still slow.

[2018-11-09 22:29] bmironov commented on #23599
Sorry I'm not familiar with this process. How would I install dev version of pandas, run test and revert it back to official 0.23.4??

[2018-11-09 22:38] mroeschke commented on #23599
The process would be to create a separate virtual environment and following these instructions: https://pandas.pydata.org/pandas-docs/stable/contributing.html#working-with-the-code

[2018-11-09 22:42] TomAugspurger commented on #23149
Works for me. Thanks or checking.

[2018-11-09 22:42] #23149 closed

[2018-11-09 23:04] bmironov commented on #23599
Here is tiny performance test:
[code]
Output
[code]
Create test CSV file (it is less than 26Mb on my filesystem):
[code]
Test #1:
[code]
Output
[code]
Test#2 (runs after previous test, hence we can expect that file is in OS cache now)
[code]
Output
[code]
[code]
Output
[code]

[2018-11-09 23:20] bmironov commented on #23599
[code]
Output:
[code]
Interesting observation: timestamp column is NOT datetime64. But
[code]
Output
[code]

[2018-11-10 00:01] dragoljub commented on #23516
I can also confirm the changes from Python 3.7.0a3 to 3.7.0a4 show the slowdown on my Win10 test system. Thanks for finding when the slowdown occurred.

__Python 3.7.0a3 -- Fast Parse__
[code]

__Python 3.7.0a4 -- Slow Parse__
[code]

[2018-11-10 03:02] dragoljub commented on #23516
I tried playing around with the UTF-8 mode settings with ENV variables and cmd line args on Windows and was not able to get faster parsing speed on Python 3.7.0a4.

https://www.python.org/dev/peps/pep-0540/#proposal

So is it possible that somewhere the C parser extension we can just set the locale to UTF-8 and this issue would go away on Windows? I was hoping the ENV variable settings would fix t

[2018-11-10 03:43] antomaly opened #23610 "Mixing strings and tuples in an index sometimes throws in an exception when selecting columns."
#### Code Sample, a copy-pastable example if possible

[code]
results in
```ValueError: setting an array element with a sequence```

#### Problem description

Arguably this is a bug with np.asarray() (https://github.com/numpy/numpy/issues/12359) but it may be possible to work around it in pandas, e.g. asarray_tuplesafe() seems to be intended to handle this, but in this case does not.

#### Expecte

[2018-11-10 04:09] thoo commented on #23596
I am on these.

[2018-11-10 04:44] thoo commented on #23596
The first two will be fixed at #23517.
[code]

[2018-11-10 04:49] jreback commented on #23610
why do u think this should actually work? this causes havoc with indexing as it becomes ambiguous

[2018-11-10 07:06] cgohlke commented on #23516
I compared the statement `df2 = pd.read_csv(csv)` on Python 3.7.0a3 and a4 in the Visual Studio profiler. The culprit is the `isdigit` function called in the `parsers` extension module. On `3.7.0a3` the function is fast at ~8% of samples. On `3.7.0a4` the function is slow at ~64% samples because it calls the `_isdigit_l` function, which seems to update and restore the locale in the current thread

[2018-11-10 10:42] datapythonista opened #23612 "CLN: Consistency of arguments in to_html and to_string"
The methods `to_html` and `to_string` share most of the parameters, together with `DataFrameFormatter`, but there are some differences in the order, and in some parameters that probably should be the same.

Those are the common parameters:
[code]

But after `formatters` they are in different order, which adds complexity (for example in reusing docstrings, or in switching from one function to anoth

[2018-11-10 10:47] jreback commented on #23612
as i said ok with changing to be consistent
ideally don’t move the first few args (which are the only realistic positonally passed ones)
otherwise ok -

[2018-11-10 10:48] datapythonista commented on #23612
Thanks. I think the first change would be in the 8th argument.

@thoo, will you work on this?

[2018-11-10 12:12] #23283 closed

[2018-11-10 13:10] TomAugspurger commented on #20735
I think everything here has been solved. We still have https://github.com/pandas-dev/pandas/issues/22994 for a more general concat protocol.

[2018-11-10 13:10] #20735 closed

[2018-11-10 15:05] dragoljub commented on #23516
Great work debugging this. I would guess any other code paths calling isdigit would also be slowed down on windows.

[2018-11-10 15:42] thoo commented on #23612
Sure.

[2018-11-10 16:05] jbrockmendel commented on #23516
Just a note for people looking at `xstrtod` (and thanks for doing so BTW, this looks like a really tough issue): there are two of them (#19361).  Off the top of my head I'm not sure which is used in what context.

[2018-11-10 16:40] kylebarron commented on #23572
My point was that `None` is already being coerced to an empty string whenever there is at least one string value in the column. So I didn't think it would be too much of a stretch to coerce `None` to an empty string when there are no strings in the column.

[code]

[2018-11-10 17:35] nmusolino commented on #23220
You could write a one-line function that returns the raw time stamp value from a pandas.TimeStamp value, then pass that function to `Styler.format` for the column in question. I can explain in more detail if needed.

The Styler works in Jupiter notebooks, but isn’t very useful in plain-text iPython or Python REPL.

[2018-11-10 18:02] #549 closed

[2018-11-10 18:09] antomaly commented on #23610
I'm not sure what ambiguity you're referring to. If you mean that it's unclear whether `df[("a", "b")]` should refer to the two columns of `df` with indices `"a"` and `"b"` or to the one column of `df` with index `("a", "b")`, then pandas appears to have already decided that it refers to the latter, even when there is no column in `df` with index `("a", "b")`.
[code]
results in
[code]

Pandas also

[2018-11-10 18:11] jreback commented on #23610
you are mixing scalars and tuples
this almost no support

[2018-11-10 20:33] TomAugspurger opened #23616 "Workflow: recommend pre-commit for code checks"
[pre-commit](https://pre-commit.com) is a library for running pre-commit hooks (actually does more that just pre-commit). Adding additional code checks is likely to annoy first-time contributors (isort); we can use tools to avoid that.

I've been using this `.pre-commit-config.yaml`

[code]

With that in the root of my directory, every time I `git commit`, those code checks are run.

Suppose I hav

[2018-11-10 21:47] #22894 closed

[2018-11-10 22:01] TomAugspurger commented on #23553
What's the expected dtype for

[code]

Should we basically expect `infer_dtype` to throw away `.dtype` information, and treat it the same as `[1, np.nan]` (so `mixed-integer-float`)?

cc @jreback I suspect you're the most familiar with this.

[2018-11-10 22:13] #16521 closed

[2018-11-10 22:15] jreback commented on #23553
so for this example we would return Int64 (because it’s an actual array) but for a list i would expect the same as now (mixed integer float)

[2018-11-10 22:45] jreback commented on #23553
i think we could eventually add those
but the inference is used in indexing so i am not sure if changing it now would work

[2018-11-11 00:35] datapythonista commented on #23616
+1 on this, but I'd just add things that are immediate or almost immediate to be checked (e.g. `git diff upstream/master -u -- "*.py" | flake8 --diff`, which wouldn't be necessary in the PR template).

It'll be some work to check things mainly based on the diffs so they are fast (I'm thinking for example in docstring changes), but if we manage to do it, I think it should make our life, and contrib

[2018-11-11 00:38] TomAugspurger commented on #23616
I don’t know exactly what flake8 is doing, but it’s been fast in my experience. Probably just flake8ing the files that changed.

You can also skip checks with the right flags.

________________________________
From: Marc Garcia <notifications@github.com>
Sent: Saturday, November 10, 2018 6:35:09 PM
To: pandas-dev/pandas
Cc: Tom Augspurger; Author
Subject: Re: [pandas-dev/pandas] Workflow: recommen

[2018-11-11 00:47] datapythonista opened #23622 "CI: Move linux builds from Azure to Travis?"
I didn't check in detail, but I'd say that azure auto-cancel is now working (at least I didn't see any repeated PR, which the previous days happened frequently). But even with that, azure is significantly delayed compared to travis.

In #22854, I'm moving the docs build from travis to azure (takes more or less the same than a test suite). This will make things even less balanced (making azure be t

[2018-11-11 00:58] jreback commented on #23616
btw i find that putting things in the Makefile is nice for interactive development

eg make lint-diff

[2018-11-11 01:05] #23597 closed

[2018-11-11 01:10] datapythonista commented on #23622
Checked better, and auto-cancel is not yet working, but I think azure is still significantly slower, as when I checked there were no duplicate jobs.

[2018-11-11 01:29] gfyoung commented on #23578
cc @toobaz

[2018-11-11 01:31] gfyoung commented on #23594
Hmm...that seems reasonable given that `Period` supports this.

cc @jreback

[2018-11-11 01:35] gfyoung commented on #23610
I would also add `MultiIndex` is considered more `pandas`-idiomatic.  In fact, some cases, we have been discouraging the use of tuples as indices (e.g. `read_csv`).

Given that push and @jreback pushback, I'll close this for now.  If this is decided to be a legitimate bug, we can always reopen.

[2018-11-11 01:35] #23610 closed

[2018-11-11 14:48] #20747 closed

[2018-11-11 14:50] #23596 closed

[2018-11-11 15:40] #18273 closed

[2018-11-11 16:20] #23491 closed

[2018-11-11 18:19] jbrockmendel opened #23624 "Why does DatetimeIndex have _timezone in addition to _tz?"
Name seems redundant.  Can we document why it exists?

ref https://github.com/pandas-dev/pandas/pull/23587#issuecomment-437687293

[2018-11-11 18:31] jreback commented on #23622
yeah i am -1 on moving *more* to azure at this point. travis is pretty solid.

[2018-11-11 18:35] datapythonista commented on #23622
@jreback following up from whether we should add a new build to azure (https://github.com/pandas-dev/pandas/pull/22854#issuecomment-437691038). Taking a look at this now:

https://dev.azure.com/pandas-dev/pandas/_build?definitionId=1&_a=summary

And after manually cancelling duplicate builds in azure, I count 18 pending builds in azure, and 13 in travis at the time of writing this.

You'll know be

[2018-11-11 19:07] jreback commented on #23622
hmm we should have 10 concurrent in azure (same as in travis)

[2018-11-11 19:07] jreback commented on #23622
but we can certainly ask to have more :)

[2018-11-11 19:18] TomAugspurger commented on #23622
I recently moved 3 linux jobs from circle to azure. I'm fine with moving
some of those to Travis, especially if the
doc build is moving the other way.

On Sun, Nov 11, 2018 at 12:35 PM Marc Garcia <notifications@github.com>
wrote:

[2018-11-11 19:57] datapythonista commented on #23622
Created issue 118111119329971 in Microsoft support, to see if we can get more concurrent jobs.

[2018-11-11 22:05] jtkiley commented on #23564
I ran into this just now and noticed that (a) there's 117 writing functionality, and (b) there's no suggestion in the error. I use pandas and Stata a lot, so I was surprised to see it.

In my crowd of colleagues (i.e. academics who aren't the fastest upgraders), one of these rules would work (assuming Stata stays on a roughly two-year cycle):

1. When new Stata version `n` is released, begin the d

[2018-11-11 22:48] datapythonista opened #23630 "DOC: Fix format of the See Also descriptions"
Our standard for the `See Also` section is:
[code]

In many cases, for historical reasons, the format of the description does not start with a capital and does not finish with a period. We should fix those.

The next command shows all the cases that are wrong and should be fixed. Note that as `Panel` will be removed soon, is better to not waste time fixing their docstrings (see the grep).

When ca

[2018-11-11 22:56] datapythonista opened #23631 "CI: Add --ignore-deprecated to validate_docstrings.py"
The script `scripts/validate_docstrings.py` returns the list of errors in the docstrings. We are using it to get the list of things to fix, and to check in the CI that no more mistakes are added, after the errors are fixed. See for example #23630.

As we don't really want to spend time fixing the docstrings that will be removed soon, it would be useful to add an argument to the script `--ignore-de

[2018-11-11 23:39] datapythonista opened #23632 "DOC: Fix double blank lines in Series docstrings"
In the docstrings, we use single blank lines to separate sections (or inside sections). For example:
[code]

But in some cases two blank lines are incorrectly left:
[code]

This happen somehow often, but we should remove the extra blank lines, to keep the format consistent. In this issue we'll fix only the docstrings in `Series` having this problem.

To get the list, this can be used (after fixing

[2018-11-12 00:07] jtkiley opened #23633 "StataWriter for version 117 fails on None in a string column long enough to be a Stata StrL."
The version 114 writer seems to handle columns of strings containing `None` just fine, but the 117 writer produces the `AttributeError` below.

#### Code to reproduce

[code]

Error:

[code]

#### Problem description

This seems like a fairly straightforward regression in the Stata StrL part of the 117 writer compared to how the 114 writer does some more checking on regular strings before working

[2018-11-12 06:03] WillAyd commented on #23572
I'm not familiar with stata but based off of the examples I agree with @bashtage here - I think it should raise rather than silently coerce for you. Raising would be an explicit sign to the user that they may want to replace or fill values before export, especially since its not a lossless round trip

[2018-11-12 06:35] eromoe commented on #16381
I found this problem too...  when it can be fixed?

[2018-11-12 09:44] devforfu commented on #12004
Is it still on the list to be implemented?

[2018-11-12 11:50] TomAugspurger commented on #12004
Still open. Feel free to work on it if you want, but the current json isn't the friendliest.

[2018-11-12 13:05] datapythonista commented on #23622
Got response, Azure is checking how many concurrent jobs they can give us, but they should be able to increase them. They asked me how many would we liked, those are my numbers:

If I'm not wrong we have 14 jobs in total (including travis...), and each takes around 30 minutes to complete. So, with 15 jobs (5 more than now) we would complete two builds per hour (assuming no other CI).

Yesterday we

[2018-11-12 13:13] #23509 closed

[2018-11-12 13:49] jreback commented on #23622
that sounds like a good number
though we r not going to switch too much more as we already have 10 concurrent in travis

[2018-11-12 14:07] TomAugspurger commented on #22215
Yes,
https://github.com/pandas-dev/pandas/pull/23581/commits/838ce5eb5a6ddefaae815c30abb5b9e7aff3a0cc makes `pd.array` idempotent for ExtensionArrays. We extract dtype info from Series, Index or EAs when `dtype=None`

[2018-11-12 14:17] charlesdong1991 commented on #23631
can i give a try?

[2018-11-12 14:19] datapythonista commented on #23631
Sure @charlesdong1991, please do.

[2018-11-12 14:56] devforfu commented on #12004
@TomAugspurger Ok, got it! I'll try to figure out if there is a straightforward way to deal with it.

[2018-11-12 15:03] TomAugspurger commented on #22846
This is for arrays, not index. It's similar to Categorical.

We don't know if the repr is code, so angle brackets are appropriate.

Do you have an example of https://github.com/pandas-dev/pandas/pull/23617
where commas aren't handled correctly?

https://github.com/pandas-dev/pandas/pull/23617 is backwards compatible.

On Mon, Nov 12, 2018 at 8:25 AM Jeff Reback <notifications@github.com>
wrote:

[2018-11-12 15:05] jorisvandenbossche commented on #22846
You may not like the proposed format, but it is not "breaking". Nothing will be broken as this only affects new API (the internal EAs), not the reprs of Index or Series.

It is not arbitrarily. There are reasons to do this, mentioned somewhat in the original issue.
You are correct this is deviating from the typical format we have been using for the Index reprs. And therefore, we indeed need to hav

[2018-11-12 15:19] dsm054 commented on #23222
I'll have a look at this today.

[2018-11-12 15:33] #23133 closed

[2018-11-12 15:38] TomAugspurger commented on #12004
Yep that sounds right. FYI, I think ripping out that JSON code and
replacing it with something more maintainable
(maybe based on Apache Arrow's JSON support) is on the medium to long-term
agenda.

On Mon, Nov 12, 2018 at 9:28 AM Kyle Barron <notifications@github.com>
wrote:

[2018-11-12 15:55] kylebarron commented on #12004
Is the current JSON writer believed to be much faster than the Python standard library's JSON writer?

[2018-11-12 15:59] TomAugspurger commented on #12004
Yep. It also handles types not supported by the stdlib's json writer
(notably numpy types).

On Mon, Nov 12, 2018 at 9:55 AM Kyle Barron <notifications@github.com>
wrote:

[2018-11-12 16:05] kylebarron commented on #23633
@jtkiley
The error is in a different place, but functionally this is a duplicate of https://github.com/pandas-dev/pandas/issues/23572. The reason for your error is not the string length, but the fact that the object in your second row is `None`, and not a string. Your thoughts would definitely be appreciated on #23572.

See the difference in this code:
[code]

[2018-11-12 16:22] jbrockmendel commented on #23185
Not at the moment.  Two coming up in the next hour or so: one extending timedelta64 arithmetic tests to TimedeltaArray, another implementing most of the rest of the EA interface for DTA/TDA.  The latter doesn't yet have EA tests in place, which can absolutely be offloaded.

The other one coming up a little later is implementing DatetimeArray._from_sequence (or more specifically, the datetime64 ana

[2018-11-12 16:22] bodgerer opened #23638 "pandas 0.23.4 fails unit tests"
#### Problem description

Cannot seem to complete unit tests on a source install of pandas 0.23.4. I'm sure I'm doing something dumb, but cannot see what. Any ideas, please?

#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 64
OS: Linux
OS-release: 3.

[2018-11-12 16:23] jtkiley commented on #23633
@kylebarron I may be missing it (a cue for more coffee either way), but I think this is similar yet not quite the same.

In #23572, you seem to suggest that it fails because it's all `None` and that one string in that column will produce the coercing behavior.

Here, I have one string and one `None` in that column, so the coercing behavior works when the string is short. However, when it's long, t

[2018-11-12 16:34] kylebarron commented on #23633
Yes, on second thought you're right that this isn't functionally the same.

I did want to point you to that issue anyways to get your thoughts on when `None` should be coerced to an empty string.

[2018-11-12 16:54] syutbai commented on #23630
I will try and do this one.

[2018-11-12 16:58] jtkiley commented on #23572
It seems like there are two sub-issues being discussed:

1. What should happen to a column of `None`? I'm not sure, but Stata reads an empty csv column as a byte:

<img width="271" alt="screen shot 2018-11-12 at 10 44 52 am" src="https://user-images.githubusercontent.com/3935135/48362019-53b29580-e668-11e8-80af-c6f88cee1445.png">

2. What should happen to a column of strings containing one or more

[2018-11-12 17:02] #22215 closed

[2018-11-12 17:36] datapythonista opened #23640 "DOC: Fix docstring title sections"
To avoid typos and to help contributors, we implemented a validation to make sure docstrings contain the right sections. Before we can add the script to the continuos integration and automatically validate that new changes are correct, we need to fix all current issues.

The main issue at the moment is that the section `See Also` is in many cases spelled `See also` (with lower case `a`).

This is

[2018-11-12 17:48] douglatornell commented on #23632
At least some of the hits reported by `./scripts/validate_docstrings.py --prefix=pandas.Series --errors=GL03` are due to an extra blank line at the end of the docstring rather than double blank lines; for example [`pandas.Series.values`](https://github.com/pandas-dev/pandas/blob/2d4dd508fa7419a39201ad7befb287d0d72378ef/pandas/core/series.py#L440).

[2018-11-12 17:53] gueletk commented on #23640
I can work on this one.

[2018-11-12 17:54] datapythonista opened #23641 "DOC: Capitalize docstring summaries of Series"
Our standard is to start the docstrings with a capital letter (and finish them with a period).

We'll shortly add a check to make sure that new contributions follow this standard. But before we can do that, we need to fix the many cases that are already wrong.

In this issue we should fix all the cases of methods of Series. This is the command to generate them (which should return nothing after th

[2018-11-12 17:56] bashtage commented on #23572
It is tempting to not change the current behavior vis-a-vis mixed string and `None`.  This would require a deprecation cycle, and while more explicit isn't likely to be an issue for users who use Stata and know that a column with a string must be a string.

The correct behavior in a column with `None`s and dtype 'object' is less well defined IMO. FWIW this is why it fails here:

[code]

This drops

[2018-11-12 18:42] jtkiley commented on #23572
That makes sense to me about the mixed `None` and strings.

The all `None` case does seem more difficult. For this particular issue, I wonder if the better change is changing `pd.read_parquet()` to make a fully missing column of `BYTE_ARRAY UTF8` into empty strings. That doesn't solve this issue directly, but it would address one case that leads into all `None` columns, and it has a clue to intent

[2018-11-12 18:43] dat-boris commented on #23641
I will work on this as part of the Pycon CA sprint 👍

[2018-11-12 18:44] enian82 commented on #23445
I am going to try this one out.

[2018-11-12 18:49] avolkov commented on #23641
I'm working on it right now, if that's Ok

[2018-11-12 18:56] datapythonista opened #23644 "DOC: Improve error message when the docstring sections are in the wrong order"
When checking for errors with `scripts/validate_docstrings.py`, one of the checks is to make sure that the sections are in the right order. But so far we didn't find a great way to report the error, so the user quickly knows what needs to be changed (see discussion in https://github.com/pandas-dev/pandas/pull/23607#discussion_r232697901).

For example, if the sections in the docstring are:
[code]

[2018-11-12 18:58] datapythonista commented on #23641
Excellent, just ping us if you need any help.

[2018-11-12 18:59] avolkov commented on #23641
I'm also working on this ticket. I've talked with @dat-boris he's ok with me continuing working on it.

[2018-11-12 19:03] dat-boris commented on #23644
👋 working on this one as Pycon CA sprint.

[2018-11-12 19:33] kylebarron commented on #23572
@jtkiley I looked into the Parquet details more and it turns out that a string of length 0 and a null string are two different values. So they map exactly to `None` and `''` objects in Pandas.

It appears to me that the core issue is that Stata doesn't have a missing value for strings. In Pandas, `''` is a string of length 0, not a missing value; `None` is the missing value for strings. This expla

[2018-11-12 19:45] avolkov commented on #23641
@datapythonista
I have fixed everything except for the following warning messages:

* pandas.Series.argmin: Summary does not start with a capital letter
* pandas.Series.argmax: Summary does not start with a capital letter

They use deprecate decorator for round function in core/series.py:1786-1808 I'm not sure what to do about that. Here's the code

[code]

[2018-11-12 19:55] kylebarron commented on #23572
I linked a PR with a proposed changed error message that
- mentions the issue is that the `object` column is non-string
- gives the name of the offending column

[2018-11-12 19:58] datapythonista opened #23648 "DOC: Add validation error when a docstring is missing"
We have the script `scripts/validate_docstrings.py` that checks several formatting errors in the docstrings.

Currently, when a function, method... has no docstring at all, it fails few of the checks, but we don't have one specific to it. See for example:
[code]

What would be useful is to add a new check, that reports that the function does not have a docstring. And in the previous errors, check

[2018-11-12 20:11] avolkov commented on #23648
I'm working on Pandas at PyconCa sprint I'll give it a go.

[2018-11-12 20:32] syutbai commented on #23630
I also edited "See also" --> "See Also" along the way.

I reduced it to the following:
[code]

[2018-11-12 20:36] datapythonista commented on #23641
I forgot those were using the decorator, you can ignore them then, no problem.

[2018-11-12 20:45] avolkov commented on #23641
Ok, Pull request covers everything except that issue

[2018-11-12 20:53] TomAugspurger commented on #22990
IPython 7.1.1 is out, with this fixed. To close this issue we need two things

1. Update our `doc/source/conf.py` to include `ipython_warning_is_error = False`
2. remove the IPython version pin in `ci/deps/travis-36-doc.yaml`

[2018-11-12 21:01] douglatornell commented on #23632
PR #23651 is a start at fixing this issue but not all of the issues that `validate_docstrings.py` finds are present in `pandas.core.series.py`. I haven't managed to understand how the method injection mechanism works to track down the remainder. Output of `validate_docstrings.py` for me is now:
[code]
35 messages compared to 43 before c114376.

[2018-11-12 21:03] jtkiley commented on #23572
@kylebarron Good sleuthing. So, just to be clear, you're only talking about raising in the all `None` case, right? What you've found in parquet makes sense to me.

So, I think my (revised) preferences are:

1. Continue to coerce in `df.to_stata()` if the column has at least one string (and resolve #23633 to be consistent with that).
2. Don't change how parquet is ingested to preserve the differenc

[2018-11-12 21:09] jtkiley commented on #23633
Just a note for anyone happening to end up here: there's some extended conversation on when/where to coerce over on #23572.

[2018-11-12 21:32] kylebarron commented on #23572
Above I was referencing the all `None` case.

I agree with @bashtage raising an error is the best solution.

[2018-11-12 22:15] datapythonista commented on #23632
All the statistical functions like mean, max... reuse the same docstring, if you want to spend a bit of time on that, you should be able to fix 10 docstring with one change. The ones in `Series.str` should be easy to find, you just need to search for `def str_cat` instead of `class Series/def cat`.

We can merge your changes and leave them for later, but if you want to continue, what you can do is

[2018-11-12 22:33] douglatornell commented on #23632
I'm planning to sprint again tomorrow in Toronto, so I will see if I can advance this further. Thanks for the suggestions on how to track down the docstrings that aren't defined in `pandas.Seried`. We'll see how it goes...

[2018-11-12 22:38] datapythonista commented on #23632
Ok, cool. Better let's use a new branch and open another PR. So we don't need to review again the changes of today.

[2018-11-12 23:03] dsm054 commented on #15306
@jreback: would it suffice just to add idxmax/min to cython_cast_blacklist?

[2018-11-12 23:06] jtkiley commented on #23633
@bashtage I've been looking through stata.py, and I think I see what the issue is, but I'm not sure I understand all of the moving parts (and the consequences of changes) well enough to make a PR.

https://github.com/pandas-dev/pandas/blob/a08bf3de02bb1e53fb95df24ae060b63c2a44c96/pandas/io/stata.py#L2359-L2383

In the 114 writer, line 2360 doesn't do anything, so we keep going and strings get fill

[2018-11-12 23:16] dsm054 commented on #10048
In 0.23.4, I get

[code]

So it seems to raise now, FWIW.

[2018-11-12 23:18] #10048 closed

[2018-11-12 23:31] dsm054 commented on #20427
This seems to work for me even in pandas 0.22.0 with numpy >= 1.15.1.  Maybe something changed which (unintentionally) handled this case?

[2018-11-13 00:11] toobaz commented on #23578
I _guess_ there should be a link between the two following proposals I see in this issue, but I'm failing to grasp it.

1) ``pd.MultiIndex.from_tuples([('a', 'b', 'c'), np.nan, ('d', '', '')])`` fails: I think that's perfectly fine. Or at least, I would not call it a bug. Sure, there is scope for an enhancement, but one that I do not feel very important, and that at the same time doesn't seem easy

[2018-11-13 00:13] toobaz commented on #23558
I already commented in #23578 , but I think this bug should be solved by just passing a tuple of NaNs, indeed.

[2018-11-13 00:23] datapythonista opened #23658 "CLN: Reestructure tools and scripts"
I think it would be good to reestructure a bit our scripts, make sure all them have a header explaining what they do and how to use them, get rid of the ones not in use anymore (if any), and add the inventory of them to the contributing documentation, with what they do.

I'd move all them to `ci/` (or if the name is not good rename it; sklearn uses `build_tools`, numba `buildscripts`). And inside,

[2018-11-13 00:45] #23640 closed

[2018-11-13 01:01] dsm054 commented on #15853
@jreback: is that the sort of thing you had in mind, before I go writing any tests?  It doesn't seem to affect #15785, though, which seems to not-crash for me already.

[2018-11-13 01:04] datapythonista opened #23659 "DOC: Remove pandas. prefix from See Also section in Series"
When referencing other functions in docstrings `See Also` section, `pandas` is assumed to be the default project. So, this would be correct:
[code]

and this would be incorrect:
[code]

Note the `pandas.` before `DataFrame.ndim`, which is not required and adds noise.

To get all the cases in which this happens in `Series`, we can use:
[code]

In this issue we should fix all these cases, and check

[2018-11-13 01:15] dsm054 commented on #19170
FWIW I get

[code]

[2018-11-13 01:39] jreback commented on #15853
it might be much better / fixed as categorical has seen much work recently

if fixed just some tests would be great (otherwise fix great too)

[2018-11-13 02:01] dragoljub commented on #23516
I may have found a pure python example that seems to show a similar but smaller 2.5X slowdown. Also note the variability is 15X higher for the 3.7.1 code. Possibly indicating that locale argument is passed/used in some calls but not others.

Can someone test this on linux and see if you see a difference?

__Python 3.7.1__
[code]

__Python 3.5.2__
[code]

[2018-11-13 02:11] #22990 closed

[2018-11-13 03:34] jbrockmendel commented on #23658
What's the reason for this?  "ci/" has a pretty clear scope; it isn't clear why we'd want to mix other things with it.

+1

Especially with regard to the CI config and code checks, a ton of effort has gone into these, and any extent to which we can label stuff as "HEY OTHER PROJECTS, GO AHEAD AND COPY/PASTE THIS" may save some other folks headaches.

[2018-11-13 04:48] jreback commented on #23658
ci has a pretty specific connotation so -1 on adding this to everything

in combining scripts - if u can do so w/o changing things then ok

[2018-11-13 06:02] WillAyd commented on #23638
Maybe a duplicate of #23088 - is this in a clean environment?

[2018-11-13 06:03] gfyoung commented on #23638
And to add to that, can you clarify how you did your install of `pandas` (i.e. tools / commands used)?

[2018-11-13 06:04] gfyoung commented on #23624
Is there a good reason for that redundancy existing?  Otherwise, I might consider looking into deprecating one of them in favor of the other.

[2018-11-13 11:54] bodgerer commented on #23638
Hi both,

Many thanks for taking a look and apologies for not spotting #23088, although the error messages are somewhat different.

It is a clean environment and it's an automated installation, so I can provide all the commands/steps used. However, it's a bit long.

The short method below gives a similar result. I'm on a centos7 box. Am I doing it wrong?

[code]

After doing this, attempting to ru

[2018-11-13 12:27] TomAugspurger opened #23664 "Fixtures for extension arrays"
In https://github.com/xhochy/fletcher/pull/66, @xhochy had to redefine a fixture `box_in_series` that is used in the base test definitions. We should explore how pandas can properly "export" those test fixtures, possibly as a pytest plugin.

[2018-11-13 12:30] TomAugspurger commented on #23638
Can you try building master and seeing what fails? The warnings like `  /somewhere/py_pip2/build/lib/python3.6/site-packages/_pytest/assertion/rewrite.py:294: RemovedInPytest4Warning: Fixture "df_letters" called directly. Fixtures are not meant to be called directly, are created automatically when test functions request them as parameters. See https://docs.pytest.org/en/latest/fixture.html for mor

[2018-11-13 13:15] TomAugspurger opened #23665 "flake8-rst 0.4.3 config?"
With `flake8-rst` 0.4.2 the output of `flake8-rst doc/source --filename="*.rst"` is clean.

With 0.4.3, I see a bunch of failures like

[code]

cc @datapythonista will we need some `exclude`s in the `flake8-rst` section of `setup.cfg`?

[2018-11-13 13:29] TomAugspurger commented on #23638
That's the full traceback for the unicode error? I was hoping for more.

What's the output of `locale -a`?

[2018-11-13 13:32] TomAugspurger commented on #23638
Should I read anything into the fact that `py_pip2/`  is in your path? Is that an indication that a pip attached to python 2 was used to install pandas?

The recommended way to invoke pip is `python -m pip install pandas hypothesis`.

[2018-11-13 14:30] njryo opened #23666 "ZeroDivisionError when groupby rank with method="dense" and pct=True"
When I tried to use groupby rank function with method="dense", pct=True options, I encountered the ZeroDivisionError.

#### Code Sample, a copy-pastable example if possible

[code]
error:

[code]

#### Problem description

I encountered ZeroDivisionError when I tried to use the groupby rank function.

I can't find out exactly what a problem is.  But when I drop either method="dense" or pct=True op

[2018-11-13 14:34] achapkowski commented on #20579
@TomAugspurger Sure I'll add this code.

[2018-11-13 14:46] zhouhao-learning opened #23667 "What is the practical significance of df.DataFrame.ewm?"
Hello, I met the pd. DataFrame. ewm. mean () function today, but I have done a lot of experiments and can't understand how the results are calculated.
The test code is like this:
[code]
The output is like this:
[code]

I don't understand why this is the result. How did they calculate it? Can you give me some help? Thank you very much!!!

[2018-11-13 14:51] chrisrpatterson commented on #23622
panda-dev has been updated to have 30 concurrent jobs now.  Let us know if that is not sufficient.

[2018-11-13 15:41] WillAyd commented on #23566
I don't disagree here. There is a difference when selecting only one column (specifically returning a Series vs a DataFrame) but when selecting multiple columns it would be more consistent if we ALWAYS required double brackets brackets. I assume this would also yield a simpler implementation.

Maybe a conversation piece for 1.0? Would be a breaking change for sure so probably best served in a majo

[2018-11-13 15:42] bodgerer commented on #23638
I'm afraid that's the full output. `locale -a` output below.

Don't read anything into py_pip2, it's just my terrible naming of a scratch directory. I've repeated the test by doing a fresh install and using `python -m pip install --prefix=$prefix pytest numpy scipy cython hypothesis` with the same result.

Setting `export LANG=en_GB` instead of my machine/account's default of `en_GB.utf8` makes th

[2018-11-13 15:45] TomAugspurger commented on #23566
I think the hope is for 1.0 to be backwards compatible with 0.25.x.

Do we have a chance to detect this case and throw a FutureWarning (assuming we want to change)?

[2018-11-13 15:45] WillAyd commented on #23638
Do you get the same errors on master with your normal locale? There was a change focused on fixing locale testing issues which gets released in 0.24 though I think it was only focused on Py27 (#22213)

[2018-11-13 15:46] jorisvandenbossche commented on #23566
Yeah, if we want, I would think it should be possible with a deprecation cycle.

[2018-11-13 15:57] bodgerer commented on #23638
I get the same utf-8 unicode decode errors against both 0.23.4 and master. They all go away if I change the `LANG` environment variable from the default `en_GB.utf8` to `en_GB`.

Once `LANG` has been tweaked, unit tests are able to completion. 0.23.4 has 4 failures (clearly to do with locales), master has none.

[2018-11-13 15:58] WillAyd commented on #23667
I'd suggest giving the documentation a look as the page for this has quite some detail, including links to further levels of detail.

Usage questions are better asked on SO. If there's an actual bug that you see in the implementation feel free to come back here with more details. You would want to read up on how to open a bug request first:

http://pandas.pydata.org/pandas-docs/stable/contributing

[2018-11-13 15:58] #23667 closed

[2018-11-13 16:00] jbrockmendel commented on #23624
That's the question.  _tz is the one we actually use, so _timezone would be the one to remove

[2018-11-13 16:04] dsm054 commented on #5401
Okay, I want to bring this back.  If to avoid ambiguity and weird corner cases of interpretation, if we disallow on, left_on, right_on, left_index, and right_index, then we can pretty easily have

[code]

@jreback: any objection if I bring this back with a PR?

[2018-11-13 16:57] #19950 closed

[2018-11-13 17:20] dsm054 commented on #15853
Well, I'll put up a PR for this one and leave #15785 alone for now.

[2018-11-13 17:29] toobaz opened #23670 "Rethinking ``to_flat_index`` on flat ``Index``"
With reference to #22866, and to a comment I made ( https://github.com/pandas-dev/pandas/pull/22866#issuecomment-437700886 ) which I thought was paranoid and maybe is not.

Three considerations:
1. ``to_flat_index`` is the only method I can think of (the only operation in pandas, actually) which gives a different result when called on a flat ``Index`` and when called on an equivalent 1-level ``Mul

[2018-11-13 17:32] #9208 closed

[2018-11-13 17:33] WillAyd commented on #23670
Hmm not sure I agree. Might just be my personal usage bias but why would someone opt for a 1-D MultiIndex in the first place?

I ultimately foresee most people using `sep` or the `fmt` argument you proposed with this method rather than creating an Index of tuples at the end of the day

[2018-11-13 17:52] TomAugspurger commented on #23638
I'm not sure what's going wrong here then. Let us know if you're able to
debug it.

On Tue, Nov 13, 2018 at 9:58 AM Mark Dixon <notifications@github.com> wrote:

[2018-11-13 17:57] toobaz commented on #23670
I don't have in mind a killer application, but my answer to your question is "for the same reason why people would want to call ``pd.Index.to_flat_index()``: compatibility"...

[2018-11-13 17:57] hwalinga commented on #6508
@jreback You seem the one knowing most about this.

What do you think of my approach as explained in the previous comment?

Instead, we could also decide to solve it as dalelung proposed. So allow "dirty" names to referred to by their "clean" names ("this column name" can be referred to by "this_column_name" without the column actually changing the name) and don't use the `` encapsulation at all.

[2018-11-13 17:59] toobaz commented on #23670
... and explaining that ``.to_flat_index(fmt=callable)`` is just syntactic sugar for ``.to_flat_index().map(lambda x : callable(*x))`` is I think a nice and concise description - which is currently false for ``pd.Index``.

[2018-11-13 18:06] h-vetinari commented on #23670
FWIW, `.str.cat` works for `Index`, but not a 1-level `MultiIndex`, which I guess qualifies as a different result. ;-)

There's probably many more broken methods for 1-level `MultiIndex` in the `.str` accessor (the `.str`-constructor passes for 1-level `MultiIndex`, but the methods behind it are completely untested for this case). My current idea/plan is to disable `.str` for `MultiIndex` in #2316

[2018-11-13 18:36] toobaz commented on #23670
Right, thanks! But this is clearly a bug... (because at least some other ``.str`` methods work...)

Sorry, naive question, but what is the problem with just running ``.str`` on the result of ``self.get_level_values(0)``?

More in general, differences between ``pd.Index`` and 1-level ``pd.MultiIndex`` could be of two kinds:
- not implemented features of one or the other
- consequences of design dec

[2018-11-13 18:39] jbrockmendel commented on #22864
If we're talking reasonably long-term, I think we should get rid of the `Tick` classes entirely and use `Timedelta` in their place.  Then only CalendarDay would be needed, and there wouldn't be any ambiguity.

[2018-11-13 18:59] jbrockmendel opened #23672 "DEPR: frequencies.getOffset"
`tseries.frequencies` aliases `getOffset = get_offset`.  That has been around and unused for a while, should be deprecated and eventually removed.

`tseries.offsets.generate_range` has a kwarg `time_rule` with docstring description:
[code]

If this is legacy behavior, it should be deprecated and eventually removed.

[2018-11-13 19:17] h-vetinari commented on #23670
Fair point, will most likely use that. Just didn't bother investigating further when I saw those were mostly broken. Only question then would be the following: Currently, `Index.str.<method>` always returns an `Index`. It'd be easy to return the same for 1-level `MultiIndex`, but would that change (from MI->`Index`) be confusing/surprising from a user-POV? I guess this goes towards your second poi

[2018-11-13 19:56] justinchan23 commented on #17467
I will take a stab at this!

[2018-11-13 19:58] dsm054 commented on #5647
Is this still a problem?  Even as far back as 0.18.1, which is the oldest pandas I can easily install, I get saner results for both @hayd and @altaurog's examples.

[2018-11-13 20:01] gfyoung commented on #15316
Not sure when this was patched, but we extensively test `parse_cols` (now called `usecols`) now, and this is no longer a bug.  Closing.

[2018-11-13 20:01] gfyoung commented on #15316
Not sure when this was patched, but we extensively test `parse_cols` (now called `usecols`) now, and this is no longer a bug. 🎉

Closing.

[2018-11-13 20:01] #15316 closed

[2018-11-13 20:14] TomAugspurger commented on #17467
I don't recall perfectly, but I think in in #17468 I expressed concern with deviating from the matplotlib default style.

[2018-11-13 20:16] jreback commented on #5647
just use merge_asof here

[2018-11-13 20:16] mroeschke commented on #23672
There's an issue to depreciate `get_offset` as well. https://github.com/pandas-dev/pandas/issues/4205

[2018-11-13 20:38] jorisvandenbossche commented on #22314
Coming back to my comment above https://github.com/pandas-dev/pandas/issues/22314#issuecomment-412569422 about expected user semantics.
I am not sure about that anymore, because I would now think to expect that any `copy()` call would make sure that modifying an array does not change a copy of it as well.

Another option is to simply remove the `deep` keyword for EAs (just like `np.copy` has no de

[2018-11-13 20:38] dsm054 commented on #12869
Just to double-check, what's the expected result here?

As above,
[code]

on the grounds that we're comparing the empty row to itself?

[2018-11-13 20:58] dat-boris commented on #17467
Thanks @TomAugspurger !

Ah in https://github.com/pandas-dev/pandas/pull/17468 - we saw an issue of unrelated code getting pulled in and thought that's why the PR was aborted.  Thanks for the extra context.

So to summarize from https://github.com/pandas-dev/pandas/pull/17468 there are a few suggestions:

From @TomAugspurger 👍

From @drorata

I'm really dont want to get back into the "passionate"

[2018-11-13 21:13] TomAugspurger commented on #17467
I think an example in visualization.rst showing how capsize works would be
valuable.

I may have been misremembering the scope of the old PR.
Taking a look at https://github.com/pandas-dev/pandas/pull/23674

On Tue, Nov 13, 2018 at 2:58 PM Boris Lau <notifications@github.com> wrote:

[2018-11-13 21:20] dsm054 commented on #21629
Is this the same as #13475?  I was working on PR for that one and it seems to handle this case as well.

[2018-11-13 21:29] toobaz commented on #23670
On the contrary, I would think it is even more important. ``to_flat_index`` always produces an index of tuples, except on ``Index``. As of now, we can say (e.g. to a user whose callable expects an iterable argument) "there is the 1-level ``MultiIndex`` for that". If we decide to replace all 1-level ``MultiIndex``es with flat ``Index``es, then we really want ``Index`` to behave, on any "assumingly

[2018-11-13 21:29] datapythonista commented on #23665
Is the CI already failing? If it's not I'd create an issue (or few if there are many errors) to fix those, and tag it as "good first issue". I'm sure we'll get them fixed in couple of days.

[2018-11-13 21:40] AShoydokova opened #23676 "Rank(pct=True) behaves strangely on big data"
#### Code Sample, a copy-pastable example if possible

[code]
#### When I use pd.DataFrame().rank(pct=True) on small data (see the first example), it gives me percentages or percentiles. However when data is big, it doesn't return percentages. Maybe it expected output, I just want to calculate percentiles on big data.
[this should explain **why** the current behaviour is a problem and why the expe

[2018-11-13 21:49] TomAugspurger commented on #23665
I suppose it'll start failing shortly after
https://github.com/conda-forge/flake8-rst-feedstock/pull/2 is merged :)

On Tue, Nov 13, 2018 at 3:29 PM Marc Garcia <notifications@github.com>
wrote:

[2018-11-13 21:52] alimcmaster1 commented on #23664
I think we should be able to do something like @ikonst suggests [here](https://gist.github.com/peterhurford/09f7dcda0ab04b95c026c60fa49c2a68), let me give it a go

[2018-11-13 21:56] datapythonista commented on #23665
Wouldn't it be simpler to pin `flake8-rst` to `0.4.2` while we fix the errors?

Btw, how did you install `0.4.3`? I'm happy to create the issues myself, but want to explain in them how to install it easily, so new contributors can get the list, and make sure everything is fixed before sending the PR.

[2018-11-13 22:00] datapythonista commented on #23622
Closing, as now with the increase travis is significantly slower than azure-pipelines, so doesn't make sense anymore to move things from azure to travis (may be the other way round).

[2018-11-13 22:00] #23622 closed

[2018-11-13 22:21] h-vetinari opened #23677 "API/BUG: Index.str.split(expand=True) not nan-safe"
This is similar to #23558 and shares the same underlying reason: #23578
Found through extensive testing introduced in #23582 (which itself is a split off from #23167)

[code]

[2018-11-13 22:36] gfyoung commented on #10523
Because we pass in `**kwds` from `read_excel` to `TextFileReader`, we actually do accept `mangle_dupe_cols`.  We just need to surface it explicitly.  Otherwise, this issue is superseded by #13262.

[2018-11-13 22:36] #10523 closed

[2018-11-13 22:42] datapythonista commented on #23665
Oh, only 2390 errors, I understand why you thought on ignoring instead of fixing.

I think in `flake-rst 0.4.3` the `.. ipython::` directive starts to be checked, that wasn't in `0.4.2`.

@FHaase do you want to take care of this? I'd say the best would be to create start adding one issue per file with clear instructions on what to do. If you mention me in the issue, I'll tag them as "good first is

[2018-11-13 22:47] gfyoung commented on #11499
@Themanwithoutaplan : Sorry that this went unnoticed for **AWHILE** ! 😮

Is this something you would still be interested in pursuing?

[2018-11-14 00:15] jschendel commented on #23676
I can confirm this on master.  For a more exact cutoff, a `Series` with length 16777216 looks produce valid results, and a `Series` of length 16777217 looks to be invalid:

[code]
This is interesting because 16777217 = 2\*\*24 + 1, which is the first integer that can't be exactly represented with 32-bit floating point.  I don't know this part of the codebase well enough to say where something like

[2018-11-14 00:20] h-vetinari opened #23679 "API/BUG: allow .str-accessor for 1-level MultiIndex? Return what?"
Following from #23167...

The current checks for the `.str`-constructor regarding `MultiIndex` is (roughly)
[code]

Meaning the constructor passes for `MultiIndex` with a single level, but essentially *all* methods fail or produce garbage:
[code]

My original plan in #23167 was just to disable `MultiIndex.str` regardless of the number of levels, but @toobaz brought up the point (in a side discussi

[2018-11-14 00:35] WillAyd commented on #21099
Closing as a duplicate of #11499

[2018-11-14 00:35] #21099 closed

[2018-11-14 00:51] h-vetinari opened #23680 "BLD/CI: ResourceWarnings are back (sometimes)!"
In #22225, #23192 (and now #23582), I've had persistent a `ResourceWarning` the last few CI runs. I first thought it was a flaky thing like those warnings used to be, but this time, it stayed, and I can reproduce *some of it* locally (not with `pytest pandas/tests/io/test_parquet.py`, but at least with `pytest pandas/tests/io`).

For example in:
1. https://travis-ci.org/pandas-dev/pandas/jobs/4538

[2018-11-14 01:17] h-vetinari commented on #23680
Actually, I was only grepping into the `tests`, but that may have been not creative enough...

Found the following in `pandas/core/frame.py`:
[code]

@datapythonista Could it be that the ResourceWarning is coming form the doctests? This would make sense to me, because it always, *always* happens only in the travis-36 lint build.

[2018-11-14 02:42] douglatornell commented on #23632
I've gotten the list of errors down to 2:
[code]
I think the issue for them is due to the deprecation warnings that are included in their docstrings. I'll see if I can sort that out in the next few days, and then make that and what I did today a new PR.

[2018-11-14 02:56] Dr-Irv commented on #19136
The same error occurs when using `pivot()`, so you don't need to use `groupby()`:
[code]

[2018-11-14 02:59] semigodking opened #23682 "TypeError: unhashable type: 'tzutc'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The last line of code above causes an exception.
[code]
#### Expected Output
No exception.
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-rele

[2018-11-14 03:11] jbrockmendel commented on #23682
The traceback references a file that hasn’t existed for a while.  Can you try this on master?

[2018-11-14 03:12] propella opened #23683 "A DataFrame including Timestamp with time zone fails to agg(), and makes errors."
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

The above code makes the following errors.

[code]

Actually, it works if I remove tz from the timestamps like this. So I guess it is a bug.

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2018-11-14 03:52] jbrockmendel opened #23684 "Timedelta Comparisons Inconsistent"
Motivation: fleshing out some `Tick` operations, in particular comparisons.  The natural thing to do for these is to dispatch to their `Timedelta` implementations.  But since #20829 this now fails.

We have existing tests that e.g. `Minute(1) < "foo"` raises a `TypeError`.  But since 20829 `Timedelta(minutes=1) < "foo"` only raises in PY3.

We should consider reverting 20829, or at least making it

[2018-11-14 04:08] Dr-Irv commented on #19136
@TomAugspurger I'm not sure this is a "good first issue" with "Effort: Low".  I thought I would fix it by changing the error message, but in the various examples given above, the error messages are different, and the paths that raise the `TypeError` are different as well.  So I fear there are a lot of potential places that we need to worry about.

Fundamentally, I have to wonder if we should allow

[2018-11-14 04:12] mroeschke commented on #22864
I'd be on board with that, but I suspect it might be a lot of effort? Just so I'm on the same page, would `Day` subclass `Timedelta` instead? `Timedelta` (or whatever mechanism) would need to still need to take on a lot of frequency mechanisms as well

[2018-11-14 05:50] archgroove opened #23686 "df.groupby().head(n) returns one too many rows, cannot return 1 row."
#### Code Sample, a copy-pastable example if possible

n = 1 returns two rows instead of one.

[code]
|   | A | B |
|---|---|---|
| 0 | 1 | 2 |
| 2 | 5 | 6 |

But n=0 returns 0 rows.

[code]
|   | A | B |
|---|---|---|

Compare with df.head(n), where n=1 returns 1 row.
[code]

|   | A | B |
|---|---|---|
| 0 | 1 | 2 |

#### Problem description

df.groupby('A').head(n) should return the same number

[2018-11-14 07:28] WillAyd commented on #23676
Ha no worries. Changes are exactly the same so gets to the same spot. Let's stick with yours

[2018-11-14 08:13] toobaz commented on #23670
That we do tend to "backport" (all?) ``MultiIndex`` methods to flat ``Index`` is a fact, no? And I think that's a good thing. That's what I had in mind with "assumingly multilevel"...

[2018-11-14 08:34] elviseno commented on #9542
I tested @bilderbuchi 's code and it's fine. But if I select the dataframe column with double quote [[]], it will ignore the assigned label and legend the column name. I think this is not the expected behaviour?
Can just compare the difference of following two plots. What's the difference and could it be fixed?
[code]

[2018-11-14 08:54] datapythonista commented on #23632
Thanks @douglatornell, don't worry about those. It's not worth spending time in fixing docstrings that will be removed in the next couple of months. We're making changes so they are ignored in the validation in #23650. So you can open the new PR with what you've got.

Thanks for taking care of this!

[2018-11-14 09:04] datapythonista commented on #23680
@h-vetinari I'm not sure where that error comes from.

In #22854 I'm moving the doctests to azure, and after that I should be clear if the warning is generated in the doctests, as the logs for them will be displayed separate from the rest.

If the problem is in the code you show, that should be fixed in #23201, as we should skip those lines from doctests.

[2018-11-14 09:15] corytu opened #23689 "DataFrame.where does not replace np.nan to None in place"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As the following threads discussed on SO, there are needs that "NaN"s should be replaced with "None"s so that databases can handle them correctly. Some suggested that [`DataFrame.where`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.where.html) is a proper way to solve this problem.

-

[2018-11-14 09:53] thesby opened #23691 "pandas/_libs/src/klib/khash_python.h:28: internal compiler error: in gen_lowpart_general, at rtlhooks.c:59"
install 0.23.4 pandas using pip get error:
[code]
env:
python: 2.7.15
gcc: 4.1.2
install in virtualenv

[2018-11-14 11:39] jreback commented on #23605
can u just change this to be an all close test rather than exact match

[2018-11-14 11:53] FHaase commented on #23665
Well I've asked to just pin the version because the plugin will cover more examples in the future and breaking the CI.

Currently I'm enhancing the plugin so we could get rid of general F821 ignoring. So my plan is to improve the plugin and then create a PR with the updated doc myself.

In the meantime pinning the version would be strongly advised.

[2018-11-14 12:12] TomAugspurger commented on #9542
Selecting with `[[]]`` will return a DataFrame, not a Series. I don't think this added support for multiple labels.

[2018-11-14 12:59] bashtage commented on #23572
Are there still any remaining fixes/enhancements related to this issue?

[2018-11-14 13:04] #17467 closed

[2018-11-14 13:29] aberres opened #23693 "DataFrame.reindex with specified fill method fails for MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The reindexing operation above introduces a row to the `MultiIndex`. When no fill method is specified the new row is added and filled with NA as expected.

When `ffill` is specified the behavior is not explainable for me. The index is updated as expected but a NA row is added in the middle of the existing data.

[2018-11-14 13:31] Themanwithoutaplan commented on #21099
@chris-b1 xlrd may be mature but it's XLSX support is limited. For example charts, images, formatting, pivot tables are all supported by openpyxl. xlrd is, at the time of writing, faster but this will change once openpyxl 2.6 is released.

[2018-11-14 13:31] gdrum opened #23694 "read_csv, Error tokenizing data if initial whitespace in csv"
Sample Dataset:
A,B,C,D,E,,F,G
H,I,J,K,L,,M,N
 ,O,P,Q,R,,S,
T,U,V,W,X,,Y,Z

using the following read_csv:

[code]
gives following exception:

[code]
If we use:
[code]
It works successfully, however we need skip_blank_lines active for additional purposes so this is not a viable workaround.

It seems the issue is with the initial whitespace in the data set. If we strip out the initial whitespace, ag

[2018-11-14 13:49] jtkiley commented on #23633
@bashtage Great, thanks. I figured there would be a better place, but I haven't read enough to the 117 docs to quite grasp what you were doing in that part of `StataStrLWriter`.

[2018-11-14 13:51] jreback commented on #23572
@bashtage does #23692 cover this?

[2018-11-14 13:58] jtkiley commented on #23572
@jreback #23692 is the mixed `strl` and `None` case, and this is the all `None` case. I think the eventual consensus here was raising in the all `None` case, and @kylebarron's PR will make the error message more helpful.

[2018-11-14 13:58] #12206 closed

[2018-11-14 13:59] aberres commented on #23693
Interesting:

When the targe index has an additional level and the level 0 is unchanged things work:

[code]

When the level 0 is changed again wrong NA rows are introduced:

[code]

[2018-11-14 14:16] gdrum commented on #23694
found workaround until issue is fixed using universal-new-line mode.:

``
data= pd.read_csv(open('test_data.csv','rU'), sep=',', header=None, encoding='utf8')
``

[2018-11-14 14:17] kylebarron commented on #23572
The PR @jtkiley 	is referring to is https://github.com/pandas-dev/pandas/pull/23646.

[2018-11-14 14:37] Dr-Irv commented on #19136
So I did a little more investigation, and I think the fundamental problem is that `unstack()` and `pivot()` are creating `CategoricalIndex` for the columns.

Note that when the columns are backed by a `DateTimeIndex` and you create a new column that is a string (via `assign()` or `reset_index()` or `df['A']=...`), then pandas does convert the `DateTimeIndex` to an `Index` of string objects.

So I

[2018-11-14 14:40] TomAugspurger opened #23695 "DOC: Redirect old whatsnew links"
In https://github.com/pandas-dev/pandas/pull/21599 we changed the structure of our whatsnew. Previously the whatsnew for each version was concatenated into a single large file.

Consider a link to the anchor `#whatsnew-0190-enhancements-other`. There are two cases:

1. Version-specific URLs like like http://pandas.pydata.org/pandas-docs/version/0.23.0/whatsnew.html#whatsnew-0190-enhancements-other

[2018-11-14 14:59] glennlawyer commented on #22519
@gfyoung any timing on that next minor release? This bug is also causing me pain.

[2018-11-14 15:06] jreback opened #23697 "ENH: allow engine='pyarrow' in read_csv"
we could conditionally use the new pyarrow csv parser as an engine (requires 0.11 IIRC). eventually leading to a replacement path for the existing code. There might be a number of restrictions on what options we can pass as the current parser is more full-featured, but I suspect most of the basic options work.

cc @gfyoung @pitrou @wesm @TomAugspurger

[2018-11-14 15:08] gdrum commented on #23694
This appears to be an issue with line endings. I created 2 files with similar data, one that works as pointed out by @kylebarron , and one that doesn't work with different line endings. The not working data appears to use '/r'.

[works.txt](https://github.com/pandas-dev/pandas/files/2581268/works.txt)
[not working.txt](https://github.com/pandas-dev/pandas/files/2581270/not.working.txt)

This is wh

[2018-11-14 15:09] wesm commented on #23697
I would expect it to be more limited in functionality in general, so maybe not a full replacement for pandas's read_csv, but it could be used as the "fast path" for well behaved files. Also, as soon as we build support for multi-character and regex delimiters, you could deprecate `engine='python'`

[2018-11-14 15:12] pitrou commented on #23697
I would be cautious here. Parsing or conversions may be stricter, less datatypes may be recognized, or the resulting datatypes may be different. I think it's better to make this an explicit option (`engine="arrow"` perhaps?).

[2018-11-14 15:14] wesm commented on #23697
Yes, I definitely agree with an "opt-in". It would be helpful if the pandas CSV suite could be set up so that we can run those tests using the Arrow reader to test for compatibility. Compatibility with `pandas.read_csv` is not our objective at the moment, though

[2018-11-14 15:23] #23586 closed

[2018-11-14 15:31] gdrum commented on #23694
'malformed input file' is infact correct with the condition of the line endings in this data. Not much the read_csv engine can do to improve on this and error message is sufficient.

Data is still readable using the universal-new-line mode so closing off issue.

[2018-11-14 15:31] #23694 closed

[2018-11-14 16:07] jreback commented on #23697
yep would be opt in (as also requires newer pyarrow)

[2018-11-14 16:07] douglatornell commented on #23632
Done! Thanks for your help on this @datapythonista.

Sorry about the 2 commits above referencing this issue. I messed up on branching. PR #23698 is a clean, single commit 864720a.

[2018-11-14 16:33] ismailuddin commented on #23695
I can write a script for this, but where exactly are the HTML template files defined, from which the script can be called? Or do you just want the code?

[2018-11-14 16:50] TomAugspurger commented on #23695
Thanks.  I think in `doc/source/themes/nature_with_gtoc/`. Right now we hardcode JS in `layout.html`. You could maybe split that out to a `_static/` directory and load it if you want.

[2018-11-14 16:56] chris-b1 commented on #21099
Thanks for the color @Themanwithoutaplan  - definitely didn't mean to disparage openpyxl, only meant for our purposes (not currently reading any formatting, charts, etc) xlrd works well.  If performance is improved in 2.6 definitely would be excited for that as an option!

[2018-11-14 16:59] chris-b1 commented on #23691
Do you need to be using such an old GCC?  I don't have a setup to test, but seems like plausible cause, as that error is essentially a compiler bug?

[2018-11-14 17:06] #23633 closed

[2018-11-14 17:21] chris-b1 commented on #23691
Also, you probably have an old pip installed - otherwise it should try to install from a wheel rather than compiling - could you try updating it? (`pip install --upgrade pip`)

[2018-11-14 17:41] gfyoung commented on #22519
@glennlawyer : Sorry to hear that!  Unfortunately, I do not know when the next version will be released.  If you are able to though, you could consider installing directly off `master`.

[2018-11-14 17:45] osolop opened #23700 "Can't import xlsxwriter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
[code]
#### Expected Output

Not an error.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.0-138-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE:

[2018-11-14 17:46] WillAyd commented on #23700
You don't have xlsxwriter installed hence the error

[2018-11-14 17:46] #23700 closed

[2018-11-14 17:47] WillAyd commented on #23700
It's an optional dependency so you should try `conda install xlsxwriter` before using the engine

[2018-11-14 18:16] ismailuddin commented on #23695
I've written a script to replace the URL links, which makes some assumptions:

- The version needs to be converted from '0190' to 'v0.19.0' every time, and there are always written as 1 digit, 2 digits, 1 digit?
- The version number is always separated from the text by a dash '-'

If these assumptions are correct, I can make the PR. Since this PR includes no changes to Python code, are running / p

[2018-11-14 18:17] jbrockmendel opened #23701 "DISC: When should and shouldn't we use pytest fixtures?"
pytest fixtures have a fairly specific use case, and it isn't clear to me that we are using them as intended.

The two main cases as I understand them are a) constructing something that is somewhat expensive and you would like to reuse, as you would with `setup_class` and b) lists of test cases that you want to write in one place instead of many.  Am I missing anything major here?

Many of our fix

[2018-11-14 18:31] jreback commented on #23701
how’s is the 3rd point true at all?

pytest path/to/test

is all you need

[2018-11-14 18:33] jreback commented on #23701
you are missing the major benefit

consistency

we have a very large codebase and having mixed / different styles is a big -1

fixtures should have well defined named and be documented - they work as intended

[2018-11-14 18:42] jbrockmendel commented on #23701
That is if you want to run one test/file in isolation.  But imagine you are working on a branch where some tests are causing segfaults and you want to run the test line-by-line, looking at objects in the namespace to see what is getting mutated when.  Then (yah yah, pdb whatever) you want tests code that behaves like normal non-test code.  Or for a more every-day example, which is clearer to the r

[2018-11-14 18:43] jbrockmendel commented on #23701
By that logic we should make fixtures for _every_ singleton used in tests, no?

[2018-11-14 18:47] gfyoung commented on #23693
cc @toobaz

[2018-11-14 18:49] gfyoung commented on #23689
cc @jreback

[2018-11-14 19:01] jreback commented on #23701
if it’s truly a singleton the. no a fixture is not warranted

however i would claim that most inputs should be well designed fixtures

this prevents lots of errors and allows lots of consistency

[2018-11-14 19:20] gfyoung commented on #8540
@kevindavenport : We are more than open to an implementation at this point.  Just go for it!

[2018-11-14 19:51] FHaase opened #23704 "Trouble building C Extension"
Running `python make.py html --single api` results in
`ImportError: C extension: No module named 'pandas._libs.tslibs.conversion' not built.`

I know that I have to build the C-Extension, however:
`python setup.py clean` + one of
* `python setup.py build_ext --inplace --force`
* `python setup.py build_ext --inplace -j 4`

I tried rebuilding the conda environment: `conda env create -f environment.y

[2018-11-14 20:03] TomAugspurger commented on #23695
Thanks.

The `0190` comes from the filename, which didn't change (aside from `.txt` to `.rst`). It should always be 1 digit, 1 or 2 digits, 1 digit (1 or 2 for the middle since we have `0.4.x` through `0.9.x`).

The "version number" for your second bullet is hand-written.

[code]

Some inconsistencies. 060 vs. 0700.

https://github.com/pandas-dev/pandas/pull/21599 will hopefully be merged soon. If

[2018-11-14 20:12] TomAugspurger opened #23705 "Bug in CategoricalIndex[Interval].__contains__ for non-interval data"
[code]

[code]

cc @jschendel

[2018-11-14 20:17] TomAugspurger commented on #19136
I think my opinion has changed since writing this. `reset_index` should work basically like concat, and upcast to object-dtype if needed.

---

There are two issues in the original post. First, there's a bug in `CategoricalIndex[Interval].__contains__`: https://github.com/pandas-dev/pandas/issues/23705

Second, there's the issue of what to do for `reset_index` when the cols are categorical. In tha

[2018-11-14 20:17] TomAugspurger commented on #23605
Was this closed by #23660?

[2018-11-14 20:29] TomAugspurger commented on #23689
By definition, this really can't be inplace with float64 since the float array can't hold None.

@corytu if you really want inplace

[code]

but just don't use inplace in the first place.

[2018-11-14 20:42] jschendel commented on #23605
@TomAugspurger : No, this issue is unrelated to the interval 32bit failures.  The #23318 PR I xref'd is what introduced this.

I'm planning to open a new issue in a little bit related to how how `assert_extension_array_equal` handles precision, as right now it basically does `exact=True` style equality, which is inconsistent with the other `assert_*_equal` methods.  Making the `assert_extension_ar

[2018-11-14 20:57] h-vetinari commented on #23680
@datapythonista
I verified that there's at least three-four individual issues:
* the ResourceWarnings from `sys:1` with the open sockets (one of them should be from the parquet-s3 tests)
* the ResourceWarning about `'df.parquet.gzip'`, which definitely comes from the doc test (disappeared when commenting out that example). The larger point is that this might be a resource leak in the parquet reade

[2018-11-14 21:12] ismailuddin commented on #23695
Ok so this update should deal with the variable version numbers, so reformatting links to either v0.6.0 or v0.24.0.

About #21599 , how would you like me to proceed?

https://github.com/ismailuddin/pandas/commit/8f35b4fa0393c370d5fa3a316421a40a4194cba8

[2018-11-14 21:18] TomAugspurger commented on #23695
Just merged it into master, so you you merge that then you're good to go.

FYI, the doc build will be live in ~1 hour, whenever https://travis-ci.org/pandas-dev/pandas/jobs/455198927 finishes. Those will be uploaded to http://pandas-docs.github.io/pandas-docs-travis/

[2018-11-14 21:31] jschendel commented on #23705
Aside from the example you posted returning `False`, would you expect this operation to return `True` for exact matches only, or for contained matches too?

Specifically, this is the following behavior on master:
[code]

Since these checks are going through `get_loc`, they'll eventually return `False` in the future when the new indexing specs are implemented for `IntervalIndex`.  Is the expected b

[2018-11-14 21:40] TomAugspurger commented on #23705
Hmm didn't think that far ahead :) I honestly am not sure. `1.5` clearly isn't in the categories, so in that sense I'd expect `False`. But on the other hand, should `CategroicalIndex.__contains__` simply dispatch to `.categories.__contains__`?

[2018-11-14 21:48] TomAugspurger commented on #23185
For those curious about what step 7 (inheritance to composition) might look
like, see
https://github.com/pandas-dev/pandas/compare/master...TomAugspurger:disown-datetimelike
Right now, `import pandas` works, but most everything beyond that is broken.

e16dd61
<https://github.com/pandas-dev/pandas/commit/e16dd6140716c56d46980a527a8fd27125696bf1>
is +50
net LOC, and has everything for getting "impor

[2018-11-14 21:51] FHaase commented on #23704
[code]
[stdout.txt](https://github.com/pandas-dev/pandas/files/2582784/stdout.txt)
[stderr.txt](https://github.com/pandas-dev/pandas/files/2582785/stderr.txt)

[2018-11-14 22:14] FHaase commented on #23704
I tested it again and strangely it works now.
Maybe it's been solved by restarting the PC or PyCharm or something.

I really don't know what let's it work sometimes and in the other cases not?!

[2018-11-14 22:14] #23704 closed

[2018-11-14 22:18] jschendel opened #23709 "TST: assert_extension_array_equal is inconsistent in how precision is handled"
#### Code Sample, a copy-pastable example if possible

Setup:
[code]

By default, `assert_frame_equal` will not fail on a difference in precision that's as slight as what's above, and will only detect the difference if `check_exact=True` is passed:
[code]

However, when extension arrays are introduced, which causes `assert_frame_equal` to dispatch to `assert_extension_array_equal`, this difference

[2018-11-14 22:37] h-vetinari commented on #23616
@TomAugspurger in #23707:

If we recommend using pre-commit hooks (after verifying that hey work on all platforms) we could remove this doc section entirely.

I'm quite strongly against precommit hooks (esp. modifying content in place). I tried them myself recently to deal with ipython notebooks, but the problem is that, generally speaking:
* there's a difference between committing and pushing (no

[2018-11-14 22:38] jbrockmendel commented on #23185
Am I right in thinking that after #23643 the remaining pieces of the EA interface are just `_from_sequence` and optionally `_values_for_argsort`, `argsort`, and `_reduce`?  `_from_sequence` I'm working on (#23675, #23702), and those other methods are orthogonal so could be worked on in parallel.

For the transition to composition, if someone wants to work on it before the EA interface is complete,

[2018-11-14 22:39] h-vetinari commented on #23658
I'm +-0 on renaming the folder, but I'd like to have a single script for validating all the lint check before committing. This is *not* the same as the commit-hooks talked about in #23616, but I'm copying half a comment from there for completeness:

* with the recent changes to the CI, git diff upstream/master -u -- "*.py" | flake8 --diff doesn't cut it anymore.
* it should IMO be replaced with a

[2018-11-14 22:44] TomAugspurger commented on #23616
needs the equivalent of a lint check)

Hopefully these checks are fast enough that they don't slow you down. I
haven't found them to be troublesome.

aborted (empty commit), etc

The isort hook does modify files in place, but does not stage the changes.
I've found the workflow of

[code]

to be quite nice.

We can't enforce that contributors follow the issue template either :)
We'll still have the

[2018-11-14 22:55] TomAugspurger commented on #23185
My main concern there is that until we inherit from ExtensionArray, those will be untested (or we'll have to duplicate tests). Unless... I suppose we could start inheriting the base tests, without actually inheriting from them yet? That may be worth exploring. Some things like `pd.isna` will fail hard until we inherit, but others should work. We could also put temporary checks in things like `is_e

[2018-11-14 22:59] datapythonista commented on #23658
We've got `ci/code_checks.sh`, probably too slow for a hook, but does what you describe.

[2018-11-14 23:06] jorisvandenbossche commented on #23185
@TomAugspurger If you have currently the time to further work on that branch to try to switch to composition, I would say: let's push for it now and first (and thus temporarily hold on for other changes).
I should have time on Friday to thoroughly review it (and also a bit in the weekend), today/tomorrow I am at PyParis.

I already said that before, but the sooner we can actually switch to composi

[2018-11-14 23:17] bluesquall opened #23710 "ENH: add Series.histogram wrapping numpy.histogram"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is a lightweight wrapper around `np.histogram` like `Series.hist` seems to be a lightweight wrapper around `matplotlib.pyplot.hist` (at least from a user's perspective).

- It differs from `Series.hist` in that it returns the histogram counts and bin edges, rather than going straight to a plot.
- It also a

[2018-11-14 23:30] mroeschke commented on #6562
This now works for the scalar case but still not the array case. But should the `DatetimeIndex` have a freq in this case with just 1 element?

[code]

[2018-11-14 23:53] jreback commented on #23709
yep this sounds good

[2018-11-15 00:45] jreback commented on #23710
showing that a numpy routine is ‘way faster’ is not a great argument as that is often the case that they don’t handle dtypes fully (datetimes and such ( and certainly don’t handle the pandas dtypes)

so am not really sure your intent here

can u elaborate on an actual use case

we care way more about things working consistently across he board, having flexibility in the apis and just working

[2018-11-15 01:20] jbrockmendel commented on #23185
@jorisvandenbossche I would really appreciate it if you didn't advocate shutting down all progress on things that I'm putting a lot of time and effort into.

[2018-11-15 01:32] bluesquall commented on #23710
My intent is to get the histogram counts, without the plot, sorted by index (like a histogram would be).

I'd prefer to do this using a method to the Series class, without having to remember to set the sorting, and without having to call a chain of functions. I'd imagine other people could use this in their workflows, but perhaps I'm the only one using histograms in intermediate steps of my proces

[2018-11-15 02:12] bluesquall commented on #23710
You could also think of my first use case as an extension of a [stacked bar graph](https://matplotlib.org/gallery/lines_bars_and_markers/bar_stacked.html), if you want, but right now I don't need to differentiate the logs once the histograms are joined together.

Here's some dummy data, a bit simplified, but hopefully illustrating the point:
[code]

One key consideration that I made sure to includ

[2018-11-15 02:27] thesby opened #23713 "pd.read_csv split 'names' string into chars when names is a string"
[code]
The columns will be ['h', 'e', 'l', 'l', 'o']
This is not expected.

[2018-11-15 02:31] thesby commented on #23691
pip is the latest.
pip -V
pip 18.1
I cannot change GCC version. It's the dev machine, not only used by me.
This problem does not appear in 0.22 and 0.21.

[2018-11-15 03:00] TomAugspurger commented on #23185
That's not how I read Joris' comment. I read "temporary hold" as... just that. A pause, not a shutting down or throwing away. I think all the effort in open PRs (and possibly some unpushed work you've done) is still vital.

There are many paths from master (plus the open PRs) to DatetimeArray. To me, a path that frontloads the switch to composition makes sense, but it's hard to say ahead of time.

[2018-11-15 03:02] #22984 closed

[2018-11-15 03:58] JustinZhengBC commented on #23713
The [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) says names should be an array-like, so passing a string would give undefined behaviour

[2018-11-15 04:06] DataYI commented on #17004
The default max_colwidth is 50, and you can set it to a larger number. @dclong
[code]

[2018-11-15 05:50] #23483 closed

[2018-11-15 05:58] WillAyd commented on #23713
As @JustinZhengBC notes this is the documented behavior. The parameter name of `names` would also imply this

[2018-11-15 05:58] #23713 closed

[2018-11-15 07:38] jzwinck opened #23716 "pd.to_timedelta unit ignored for string input"
[code]
#### Problem description

Evidently, the `unit` parameter is ignored when the input is a string (yet strings that look like numbers are accepted as if they were actually numbers).

Reproduced in Pandas 0.21.1 and 0.23.4.

[2018-11-15 08:10] jorisvandenbossche commented on #23185
@jbrockmendel yes, sorry if that is the way it came over. I certainly think we can do parallel work, and not all the items you listed in https://github.com/pandas-dev/pandas/issues/23185#issuecomment-435592816 would go in such a split PR, it was just about what to *merge* first as it will probably be easier to rebase the smaller PRs than the other way around. And also, if we do that push, there wi

[2018-11-15 08:13] gfyoung commented on #23716
How odd!  Let's investigate and patch this.

[2018-11-15 08:41] bashtage commented on #23564
I think this can be closed.  I think the consensus best choice was implemented in #23629 which is to give users the option.

I think the only other issue is whether 117 should become the default output format. This would require a deprecation cycle, and by the time it is finished Stata capable of reading 117 will be 6+ years old, so I think it is probably a good idea.

[2018-11-15 08:46] gfyoung commented on #23564
Sounds good.  We can always revisit if need be.

[2018-11-15 08:46] #23564 closed

[2018-11-15 08:57] bashtage commented on #23572
FWIW the change that allows `strl` columns to contain `None` in 117 (#23692) also allows all `None` columns if the `convert_strl` column is set.  I think this is correct since the conversion here is explicit since the user has directed `to_stata` that this column is a string.

[code]

If `convert_strl` is not set, an error is raised.

[2018-11-15 11:11] jreback commented on #23716
ok look for  a similar issue to this one

[2018-11-15 12:13] scootty1 commented on #3232
Still an issue in 0.23.4.
My current workaround is:
`df.index.freq = df.index.inferred_freq`
If the index and frequency were continuous before concat, this always seems to be working.
Compared with other methods like resampling or reindexing, this is several orders faster:
[code]
So setting the frequency is about 13k times faster than resample and about 1.6k times faster than reindexing. If it is

[2018-11-15 12:51] BSchilperoort opened #23719 "Plotting boolean data fails"
#### Code example
[code]
#### Problem description
Plotting boolean data returns _TypeError: Empty 'DataFrame': no numeric data to plot_.
Matplotlib interprets boolean data as 0/1, which allows plotting.

#### Expected Output
A plot of the boolean data like matplotlib would make (interpreting True/False as 1/0).

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versi

[2018-11-15 13:08] #6360 closed

[2018-11-15 13:14] jreback commented on #22846
The more things are different the more inconsistencies across the code base in code, testing, and user experience. This is such a jaring huge change you now done't know what the relationship between Index and Array is. This is a bad thing.

It tries to "look" like actual code, and is that in many cases, but not in all (eg when there are missing values, when it is truncated, ..). But specifically f

[2018-11-15 13:18] jreback commented on #22846
I might be more accepting if the repr is not multi-lined by default, I think this is also the cause of the 'need to remove the commas'.

[2018-11-15 13:20] jorisvandenbossche commented on #22846
@jreback can you format your comment a bit? Seems to have gone a bit wrong

[2018-11-15 13:30] #23585 closed

[2018-11-15 13:46] jreback commented on #22846
for a short repr this is very awkward. Sure when its get longer it is multi-line. The point is the separation of the class from the data. I personally think the Index repr is just fine.

You need a much stronger argument to arbitrarily change it. and that is what you are proposing. Consistency is the king here. You are simply breaking this.

[2018-11-15 13:49] #15019 closed

[2018-11-15 13:49] #22783 closed

[2018-11-15 14:01] TomAugspurger commented on #22846
So

[code]

rather than

[code]

would move you to a +1 on
https://github.com/pandas-dev/pandas/pull/23601?

[2018-11-15 14:11] jreback commented on #22846
Currently

[code]

so i see some departures here which just don't make sense. quoting on the dtype, the length (in the current EA); this only shows up if its too long for the display normally. its 1 line, and I just don't like the angle brackets.

[2018-11-15 14:20] TomAugspurger commented on #22846
One thing at a time. Do we agree that angle brackets are appropriate for the base repr, since we don't know if the repr is code?

[2018-11-15 14:45] TomAugspurger commented on #23185
Have we had a design discussion on `DatetimeDtype`? A short proposal:

Rename to `DatetimeDtype`. We can keep the both the `unit` and `tz` arguments (in case we ever support resolutions other than `ns` in the future), but we continue to raise on non-`ns` unit.

[code]

We remove the "magic" creation from string.

[code]

that would throw an error, since `'datetime64[ns, utc]'` isn't a valid unit.

[2018-11-15 15:09] jorisvandenbossche commented on #23185
Yes. What I thought before about this is that we would need to have an if/else logic there, to still return the numpy dtype if there is no tz. I would put this logic on the Series/Index, and have the array always return the extension dtype.

However, there might be places where we check the dtype of values which can be coming from Series/Index to be an ExtensionDtype? (eg to take another code path

[2018-11-15 15:14] TomAugspurger commented on #23185
Agreed that's the right place to do it. I'll see if any of your concerns come up (I suspect something will).

[2018-11-15 15:23] jorisvandenbossche commented on #23185
I would expect many of the places where we use `is_extension_array_dtype` and pass it the actual dtype and not the array or container ..

[2018-11-15 15:39] chris-b1 commented on #23691
probably relevant
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70578
and
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=79342

What OS / architecture?  If it's Linux 64 bit it should be picking up a wheel with latest pip, so guessing something else.

[2018-11-15 15:54] jreback commented on #22846
again no i don't agree, we have not done that elsewhere and therefore this is a completely breaking change. from a user perspective

[2018-11-15 15:55] TomAugspurger commented on #22846
We haven't defined a repr for objects with arbitrary constructors though. This *is* different.

[2018-11-15 16:01] jreback commented on #22846
sure we already have this repr for example, so i would assert this is NOT different.
[code]

[2018-11-15 16:03] TomAugspurger commented on #22846
We defined `Categorical.__init__` though. We don't define `ExtensionArray.__init__`, so we can't know whether the repr is valid code. Remember, I'm talking about the base repr here.

[2018-11-15 16:08] #23612 closed

[2018-11-15 16:44] Themanwithoutaplan commented on #11499
I suspect that the XLS code will have to stay as it is because xlrd is now effectively abandonware. Personally, I'd think about deprecating it as a format… but anyway.

2.6 will add the `values_only` parameter to `iter_rows`. My current tests suggest similar performance when reading worksheets to xlrd but with the added advantage of reading only the sheets you're interested in. Unsurprising really

[2018-11-15 17:30] MLopez-Ibanez opened #23720 "confusing default behavior of print for bound method"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above prints
[code]

I don't see the point of printing the actual dataframe content. With large data frames, the output above is even more confusing. This is very confusing for beginners.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
com

[2018-11-15 17:47] TomAugspurger commented on #23720
It doesn't seem like there's an easy way to change the repr of a bound method: https://stackoverflow.com/questions/21344862/can-i-change-a-python-bound-method-objects-str-attribute, or am I reading that wrong?

[2018-11-15 18:04] gfyoung commented on #11499
I think I see what you're saying, but I suggest opening an issue for this separately so as to explain more what you mean.

[2018-11-15 18:36] mroeschke opened #23722 "BUG: to_datetime with box=False returning DatetimeIndex with mixed naive and aware datetime.datetimes"
xref https://github.com/pandas-dev/pandas/pull/23702#discussion_r233654696

[code]

The current output also is incorrect if `box=True` I believe since the first argument is getting coerced to UTC.

Expected Result

[code]

[2018-11-15 18:46] mroeschke commented on #23716
xref #12136 https://github.com/pandas-dev/pandas/issues/16791

[2018-11-15 19:38] MLopez-Ibanez commented on #23720
NumPy seems to work-around this issue somehow:

[code]
prints
[code]

[2018-11-15 20:06] jbrockmendel commented on #23722
I'm pretty sure this ends up going through the datetime_to_datetime64 branch of to_datetime.  The fix is going to involve merging that into array_to_datetime and handling the tzinfo checks more carefully (like you already did for the string cases).

Did the issue with hashability of dateutil timezones ever get resolved?  I think we're going to need to use actual `set`s of tzinfo objects if extendi

[2018-11-15 20:54] #23632 closed

[2018-11-15 21:09] h-vetinari opened #23726 "CI/BUG?: test_pct_max_many_rows crashes on travis-27."
Following Ian Fleming ("Once is happenstance. Twice is coincidence. Three times is enemy action"), here are the three most recent builds from #23582 -- which *only* changes tests -- wherein there is a single failure/crash in the `travis-27.yaml` build for `pandas/tests/series/test_rank.py::test_pct_max_many_rows`, which looks like this:

[code]

https://travis-ci.org/pandas-dev/pandas/jobs/4551754

[2018-11-15 21:32] jbrockmendel commented on #23722
If hashing is still a problem then sets are out; could we map tzinfo objects to unique strings and use a dict?  Actually we might even use the same dict that tslibs.timezones uses

[2018-11-15 21:48] mroeschke commented on #23722
That could work. We could have a function that does the reverse of `get_timezone` that returns a string from a timezone object and just continue using sets. Would be manageable now with just pytz and dateutil timezones but haven't though too hard about the feasibility.

[2018-11-15 22:04] jbrockmendel commented on #23726
I’ve noticed this too.  I’m guessing related to #23688.  @jschendel any ideas?

[2018-11-15 22:10] ikonst commented on #23664
In fact, I wouldn't suggest that anymore, as per [pytest manual](https://docs.pytest.org/en/latest/writing_plugins.html#requiring-plugins-in-non-root-conftests). Instead, I'd import the fixtures into my conftest.py.

Here's how I import fixtures recursively in one of my projects (the 'fixtures' directory is where I keep all my fixtures):
[code]

[2018-11-15 22:23] jorisvandenbossche commented on #23722
Agreed that the boxing into an index is wrong, but the fact that it is actually parsed into datetime64, is that necessarily wrong? Or if we don't want to parse such a mixture of tz-aware/tz-naive, shouldn't the default be to raise an error?

[2018-11-15 23:22] jbrockmendel opened #23728 "DatetimeIndex.to_frame() inconsistent with dti.to_series().to_frame()"
For TZ-aware DatetimeIndex, `to_series()` drops the timezone unless we pass `keep_tz=True`

[code]

IIRC there has been discussion about deprecating the need for `keep_tz`; this should be another reason to do so.

[2018-11-15 23:22] h-vetinari commented on #23726
@jbrockmendel
Definitely something weird going on.
[code]

I can't really see how anything in that test should cast to `float32`, but maybe there's a resource leak somewhere?

[2018-11-15 23:29] jbrockmendel commented on #23728
Never mind, this was true in 0.23 but not in master.

[2018-11-15 23:30] jbrockmendel commented on #23728
Actually, it looks like the `keep_tz` kwarg is not allowed for `to_frame`, so there is an inconsistency, just not the one I first thought.

[2018-11-15 23:56] jbrockmendel commented on #23722
The raise/not behavior should be determined by the `errors` kwarg I'd assume.  It would not be surprising if the behavior is not internally consistent

[2018-11-15 23:56] mroeschke commented on #23728
Would the idea then be for `to_series` to always preserve the timezone?

[2018-11-15 23:59] datapythonista opened #23729 "DOC: Fix formatting of parameters"
In the pandas API documentation, when the parameters are defined, they should be defined as:
[code]

Note that in `name : str` there is one space before the colon, and one after. This is important, because when the html documentation is rendered, if those spaces are not found, the name of the parameter is not splitted from the type, and everything is rendered as if everything was the name.

See fo

[2018-11-16 00:11] jbrockmendel commented on #23728
I think that's the most reasonable behavior yes.  IIRC there was a historical reason why it wasnt the default.  @jorisvandenbossche I think you've opened an issue about changing this behavior?

[2018-11-16 00:15] mroeschke commented on #23728
xref https://github.com/pandas-dev/pandas/issues/17832

[2018-11-16 01:11] annette987 commented on #14319
Was this ever resolved? I am having the same issue. See also: https://stackoverflow.com/questions/53315035/pandas-read-sql-query-returning-none-for-all-values-in-some-columns

I am using pandas read_sql_query to read data from a MySQL database table into a pandas dataframe. Some columns in this table have all NULL values. For those columns the pandas dataframe contains None in every row. For all o

[2018-11-16 02:14] rookiedk commented on #23445
Is this still open? I would love to make this my first pullrequest to pandas. What exactly does the nrows argument do?

[2018-11-16 02:38] jbrockmendel commented on #14341
Templating has mostly been replaced with fused types.  Is this issue closeable?

[2018-11-16 02:58] jbrockmendel commented on #23371
Closed by #23583

[2018-11-16 02:58] #23371 closed

[2018-11-16 02:59] jbrockmendel commented on #21895
Closed by #23502

[2018-11-16 02:59] #21895 closed

[2018-11-16 03:10] jbrockmendel commented on #3232
@TomAugspurger did the concat_same_type implementation end up checking if freq could be preserved?

[2018-11-16 03:20] WillAyd commented on #14341
I think if anything we had already been using `if True:` to cover this. Closing but if anyone feels it needs to be readressed feel free to reopen

[2018-11-16 03:20] #14341 closed

[2018-11-16 03:46] YanTianqi opened #23733 "Merging on int64 and object columns, pandas 0.23.4"
#### Problem description
Hi, I was trying to merge 2 data frame based on a column named ID, which consists of integer.

In the case the ID column is of type numpy.int64 in one df, and of python native int in the other df. In the latest version of 0.23.4, I received this error
[code]
Attached the screenshot of the problem

![image](https://user-images.githubusercontent.com/7760158/48596616-c8e9d780

[2018-11-16 03:56] alexander-ponomaroff commented on #23729
I would like to work on this.

[2018-11-16 06:11] apm582 opened #23735 "PERF: regression in reindex. Pandas 0.23.4 is 60x slower than 0.22.0 with a MultiIndex with datetime64"
Re-indexing a series with a two-level MultiIndex where the first level is datetime64 and the second level is int is 40x slower than in 0.22.0. Output first then repro code below. The issue persists if you change the first level to int instead of datetime, but the perf difference is less (0.40 seconds vs 0.03 seconds).

[code]

[2018-11-16 07:05] apm582 commented on #23735
I did some digging, seems the difference is coming from the new BaseMultiIndexCodesEngine.get_indexer vs the old MultiIndexHashEngine.get_indexer

[2018-11-16 09:07] jorisvandenbossche commented on #23722
The expected behaviour is indeed not very well defined (at least not in the docstring). But there is the `errors` keyword, that is 'raise' by default and not 'ignore'.

Eg with out of range timestamps, by default it raises, but with 'ignore' it gives you back datetime.datetime objects:

[code]

And as @jbrockmendel noted above, if you switch the order to put a tz-aware first, it also raises:

[cod

[2018-11-16 09:09] jorisvandenbossche commented on #23722
And some more inconsistencies:

The equivalent with strings (one tz aware, one not), "works" as well (so this is similar as the case with datetime.datetime):
[code]

But now switching them in order returns datetime.datetime objects:
[code]

[2018-11-16 09:12] dcreekp commented on #23057
hello, I've made a pull request
https://github.com/pandas-dev/pandas/pull/23721
but the travis-ci  checks keep failing. Any help would be appreciated.

[2018-11-16 09:14] jorisvandenbossche commented on #23728
Yes, we should deprecate `keep_tz` in `to_series`, that should make `to_series` and `to_frame` consistent.
Since that is covered in #17832, I think this can be closed?

[2018-11-16 09:52] yatharth opened #23736 "UnicodeDecodeError with Latin-1 characters in Stata files"
#### Steps to reproduce

[code]
#### Expected behaviour

Pandas reads the stata file just fine.

#### Actual behaviour

Pandas raises an error to do with encoding, traceable back to this line:

#### Diagnosis

The error is caused by the “smart quote” character <kbd>“</kbd>, which is encoded in Latin-1 in the Stata `.dta` file, but it considered an invalid byte sequence in Unicode.

The errors orig

[2018-11-16 10:03] datapythonista commented on #20648
Looks like this is failing even more than when the issue was created. We don't even have the required modules in the dependencies we use to build the docs:

https://pandas.pydata.org/pandas-docs/stable/r_interface.html

As the functionality being documented is not on pandas but on `rpy2`, and nobody complained about the page giving errors everywhere, what I'd do is simply remove the page from the

[2018-11-16 10:35] jorisvandenbossche commented on #20648
The error you see in the stable docs is "fixed" by https://github.com/pandas-dev/pandas/pull/22424 (and this was also backported to the 0.23.x branch, but we never released again). So in the dev build it is back to the above error: http://pandas-docs.github.io/pandas-docs-travis/r_interface.html), and @TomAugspurger has a working environment locally to built them correctly, but I suppose he never

[2018-11-16 10:48] datapythonista commented on #20648
I opened the PR #23737 removing it, so we can see what's the impact while we make a decision. I think moving the examples from `ipython` blocks to regular code blocks is a good idea too. But personally I think that page is documenting `rpy2` (another package) and not pandas, and feels to me like if we start adding `dask` examples to our documentation. So my preferred option is still delete the pag

[2018-11-16 10:54] jorisvandenbossche commented on #20648
Simply converting it to plain code-blocks and removing the packages from the doc build environment is certainly good for me.

Historically, the reason that I wanted to keep this page and put some effort in it to update it when we removed the interface included in pandas, is because the rpy2 docs itself don't really mention it (I would personally think that the pandas <-> R interaction should be on

[2018-11-16 12:19] TomAugspurger commented on #20648
I'm fine with converting them to code blocks.

I was able to reproduce the import error within a docker container. Never
able to fix it though.

On Fri, Nov 16, 2018 at 4:54 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-11-16 12:21] datapythonista commented on #20648
Ok, let's close this then.

[2018-11-16 12:21] #20648 closed

[2018-11-16 12:29] TomAugspurger commented on #3232
Nope, but it would certainly make a good standalone PR.

[2018-11-16 12:53] TomAugspurger commented on #23736
Can you try on master. May have been fixed by https://github.com/pandas-dev/pandas/pull/21400

[2018-11-16 12:55] TomAugspurger commented on #23735
cc @toobaz, in case this is related to https://github.com/pandas-dev/pandas/pull/19074

@apm582 is a DatetimeIndex for one of the levels necessary to observe the slowdown, or can you reproduce with just integer levels?

[2018-11-16 12:58] jorisvandenbossche commented on #23728
Opened a PR for it: https://github.com/pandas-dev/pandas/pull/23739

[2018-11-16 12:58] #23728 closed

[2018-11-16 13:01] TomAugspurger commented on #23733
I think https://github.com/pandas-dev/pandas/issues/9780 is the relevant issue.

IIRC, trying to merge between object-dtype columns and more specialized types was causing issues.

[2018-11-16 13:44] apm582 commented on #23735
@TomAugspurger There is still a perf regression with just integer levels but it's to a smaller degree. With DatetimeIndex the perf regression was from 0.03 seconds to 1.97 seconds. With just integer levels the perf regression is from 0.03 seconds seconds to 0.40 seconds, so a slowdown of 10x instead of 60x.

When I change the dr variable to
[code]

I get the following output:
pandas version: 0.23.

[2018-11-16 15:11] TomAugspurger commented on #14319
Still open.

Is your actual query `SELECT * FROM ...`?  If so, you could use `pd.read_sql_table`.

Pandas can't use the dtypes from the table for arbitrary sql expressions passed to `read_sql_query`, since the expression can change the column names / types. But pandas does use the types for `read_sql_table`.

[2018-11-16 15:29] TomAugspurger commented on #23726
Is this crash 2.7 only, or have we seen it on python 3 builds?

[2018-11-16 15:52] fjetter commented on #23664
The way @alimcmaster1 suggested is also similar to how `dask.distributed` is doing it. There the fixtures and all util functions to construct them are exposed as a separate module. See https://github.com/dask/distributed/blob/master/distributed/utils_test.py

For example:

[code]

or construct your own

[code]

[2018-11-16 16:00] jbrockmendel commented on #23057
The `test_pct_max_many_rows` error is unrelated, don't worry about it for now.

[code]

This indicates that the test `test_apply` (it's a shame it doesn't tell you the file where the test is located, but I'm pretty sure its tests/groupby/test_categorical.py) is passing despite being marked as an xfail.  It either needs to be un-xfailed (if it is passing consistently for all builds) or have the `st

[2018-11-16 16:44] h-vetinari commented on #23726
I've only ever seen it in the travis-27 build.

[2018-11-16 17:08] pierremoulinier opened #23742 "groupby with daily frequency fails with NonExistentTimeError on clock change day in Brazil"
#### Code Sample

[code]
#### Problem description

This code raises `NonExistentTimeError`

The root cause of the problem seems to be that pandas assumes that all days start at midnight local time, which is not the case in Sao Paulo on short clock-change days (the local canonical time goes from 23:59  on Oct 14 to 01:00 on Oct 15). The grouper tries to build a tz-aware object for 2017-10-15 00:00

[2018-11-16 17:11] hbrumley commented on #23729
This probably isn't the right place to post this, but when I run the script I get an error:

  runner.run(test, out=f.write)

I'm not really sure what the issue is here. Is there a known solution or should I make a new issue?

[2018-11-16 17:14] datapythonista commented on #23729
Can you create a new issue following the template we provide? We need detailed information to understand the problem.

Feel free to mention me, and I'll take a look.

[2018-11-16 17:52] mroeschke commented on #23742
I get the same error as you in the latest release v0.23.4, but this does not raise on master (as lot of timezone things were fixed recently) and will be available with the upcomming v0.24.0 release.

[code]

Canonically though, `df.groupby(pd.Grouper(freq='1D'))` is equivalent to `df.resample('D')`

[2018-11-16 18:13] jorisvandenbossche commented on #23722
There's certainly some logic in there, but then from a user's standpoint: what's the point of returning those object dtype values (same as input)? I cannot do anything with it, I exactly passed them to `to_datetime` to make it proper datetime64 data.

Or differently put: if not with `to_datetime`, how can I convert those values (for this example of mixed datetime.datetime values) to datetime64[ns]

[2018-11-16 18:15] jorisvandenbossche commented on #23722
To answer myself: by passing `utc=True` it should still work I suppose.
But then, I personally find a default behaviour of raising an informative error message saying that you have mixed tz-aware/tz-naive data and that you can use `utc=True` more useful I think than silently returning the input objects.

[2018-11-16 18:51] mroeschke commented on #23722
So if this is the minimum assumption (which we should document) for `to_datetime` then yes, we shouldn't ever return `datetime.datetime` objects unless `errors='ignore'`. I can get on board with this behavior.

I have a slight suspicion some internals _may_ depend on retaining mixed timezone or mixed tz-aware/tz-naive values (e.g. I just changed this for parsing utc offsets: https://pandas-docs.gi

[2018-11-16 18:56] jbrockmendel commented on #23722
There are a number of overlapping issues involved here.  The OutOfBoundsDatetime behavior is a particularly difficult one.  To the extent possible, I think we should consider that separately for the time being.

boxing is currently done at several places inside `to_datetime`.  As a first/early step, can we trim that down to being down in just one place?

[2018-11-16 19:17] jorisvandenbossche commented on #23722
+1

But, I think the original issue was not only about boxing, but also the question about should it return datetime64 data or object data (or raise).

In any case, if you have a mixture of tz-aware and tz-naive values, the behaviour should not depend on the order and which of the two happened to be the first value ..

[2018-11-16 19:20] jorisvandenbossche commented on #23722
I am not sure it will be best in all cases or what we would break when trying to do this, but I think it is at least a "clear" explanation: the function returns datetime64[ns] data (boxed or not), or raises that it cannot do that (by default, the keywords can then still influence it)

[2018-11-16 20:17] jorisvandenbossche opened #23743 "Implement DataFrame.__array_ufunc__"
Applying a ufunc on a `DataFrame` with sparse columns does not retain its sparse dtype:

[code]

Although `SparseDataFrame` returns the correct thing here, I am not sure it actually *works* as desired, as I am not sure it prevents materializing the full data (which in principle should be possible to not do)

---

*edit from Tom*

Implementing `DataFrame.__array_ufunc__` is probably the best way to

[2018-11-16 20:18] jorisvandenbossche opened #23744 "BUG: DataFrame.apply looses sparse dtype"
[code]

[2018-11-16 20:32] jorisvandenbossche opened #23745 "Series/DataFrame.isna/notna with sparse data densifies"
[code]

The result of `isna` / `notna` can be of type `Sparse[bool, False]` here as well.

[2018-11-16 20:47] alexander-ponomaroff commented on #23729
@datapythonista I see that somebody took my issue haha. So I will not work on this anymore?

[2018-11-16 21:30] datapythonista commented on #23729
Improving the content of a whole docstring that doesn't look good is something always useful.

If you run validate_docstrings.py without parameters you will get a very long list of issues, everything should be fixed.

If you run flake8-rst on the docs, there are 2000 errors in the rst files that should also be fixed.

I keep creating issues, but you can create them yourself, or just sendP PRs for

[2018-11-16 22:07] alexander-ponomaroff commented on #23729
@datapythonista Thank you, I will look into this and create some issues.

[2018-11-16 22:16] andyshermanash commented on #21157
hello, I am also having this same issue in 0.23, which has broken my working code that was previously using 0.22 @jjbarton were you able to solve this issue without reverting back to pandas 0.22?

[2018-11-16 22:27] TomAugspurger opened #23746 "Test setup issue in indexes/common.py"
Running `pytest pandas/tests/indexes/period/test_period.py::TestPeriodIndex::test_wrong_number_names -vs` gives

[code]

instead of a single test for period. (I've added a `print(type(indices))` in there)

Running `pytest pandas/tests/indexes/ -k test_wrong_number_names -vs ` runs 168 tests, when it should probably only be ~14.

I think we're mixing two types of parametrization here.

[2018-11-16 23:05] gfyoung commented on #23742
@mroeschke : Add a test to close this?  Or is this sufficiently covered?

[2018-11-16 23:08] gfyoung commented on #23719
@BSchilperoort : Good catch!  Investigation and PR are welcome!

cc @TomAugspurger

[2018-11-16 23:09] mroeschke commented on #23742
I _think_ this test covers a similar `resample` case, but I don't think we strictly have a test like this for `groupby(Grouper(...))`

https://github.com/pandas-dev/pandas/blob/db2066b7d31450aaa87f2efcef492162a3d08309/pandas/tests/test_resample.py#L2510

[2018-11-16 23:12] JustinZhengBC commented on #23744
I observe the sparse dtype being lost after the copy, even before the apply

[code]

[2018-11-16 23:21] gfyoung commented on #23742
Hmm...might as well add a test specifically for this case then.  Doesn't hurt 🙂

[2018-11-16 23:34] JustinZhengBC commented on #23745
Similar to #23744, I think the issue is the constructor as `pd.DataFrame` can only return that class so it cannot self-cast to the `SparseDataFrame` class. Using `df2 = pd.SparseDataFrame(df)` achieves expected results

[2018-11-16 23:36] JustinZhengBC commented on #23743
I think it's not that ufuncs cause `pd.DataFrame` to lose its sparse type, but it is lost as soon as the copy is made with a `pd.DataFrame` constructor because they're different classes (similar to #23744).
[code]

[2018-11-17 08:08] jorisvandenbossche commented on #23744
@JustinZhengBC The `pd.DataFrame(df)` instead of `pd.SparseDataFrame(df)` is on purpose, as I was testing the sparse support in a *normal* DataFrame. That was not fully clear from the issue.

Normal DataFrames also support storing sparse columns in it:

[code]

[2018-11-17 08:09] jorisvandenbossche commented on #23745
See https://github.com/pandas-dev/pandas/issues/23744#issuecomment-439598338 for an answer.

[2018-11-17 08:09] jorisvandenbossche commented on #23743
See https://github.com/pandas-dev/pandas/issues/23744#issuecomment-439598338 for an answer.

[2018-11-17 08:42] jjbarton commented on #21157
Hi Andy

I worked around it in my code (by replacing the multi index with a simple
index and then mapping back once I'd calculated rolling correlation. I
don't think there's any progress otherwise, and my quick fix isn't a
suitable resolution.

Cheers
Joe

On Fri, 16 Nov 2018 at 22:16, andyshermanash <notifications@github.com>
wrote:

[2018-11-17 09:32] iago-lito opened #23750 "DeprecationWarning: ABCs from `collections` in python3.7"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I receive a DeprecationWarning when testing scripts importing pandas (0.23.4) with python3.7, using `pytest` (3.9.1).

#### Expected Output

    $ py.test test.py
    ============================ test session starts =============================
    platform linux -- Python 3.7.1, pytest-3.9.1, py-1.7.0, pluggy

[2018-11-17 12:39] TomAugspurger commented on #23750
Fixed on master. Hoping to do a release in a few weeks.

[2018-11-17 12:39] #23750 closed

[2018-11-17 13:00] TomAugspurger commented on #23720
Is that because ndarray is implemented in C?

[2018-11-17 14:36] jorisvandenbossche opened #23753 "DataFrame.to_dict returning numpy scalars in certain cases"
I think in general we try to return python scalars instead of numpy scalars in `to_dict` (similar as in `tolist` or iteration).

Eg:

[code]

However, this is not consistent, and eg when using `orient='records'`:

[code]

[2018-11-17 14:53] jreback commented on #23753
pretty sure this is a duplicate issue

[2018-11-17 14:59] jorisvandenbossche commented on #23753
As I said, I searched for it but didn't see one directly. But if you find one, happy to close this as a duplicate.

For iteration there are other issues, but here for `to_dict`, it is not only due to iteration of pandas objects, but eg also numpy depending on the orient type, so I think it deserves its own issue.

[2018-11-17 16:05] StepanSushko commented on #21499
I used the following solution:

[2018-11-17 16:32] h-vetinari opened #23754 "TST/DEPS: new boto breaks tests"
In the course of #23731, I wanted the CI to run a higher boto3 (resp. botocore) than before, and this breaks the construction of the `s3_resource` fixture, which then silently skips all tests, due to a
[code]

While this is an upstream change/issue, we need to adapt the tests to find the right credentials, and - more pressingly - the `travis-36` is the *only* job that tests boto, AFAICT.

In any c

[2018-11-17 16:38] h-vetinari commented on #23754
Here's the output in the most recent travis run of #23731, where I disabled the skips:
https://travis-ci.org/pandas-dev/pandas/jobs/456373794

23 errors, means there are 23 tests using s3 - that should not be such a big burden that it couldn't be added to another job as well, no?

[2018-11-17 16:56] h-vetinari commented on #23754
Actually, this might be a moto issue:  spulec/moto#1941

[2018-11-17 22:15] #21172 closed

[2018-11-17 22:41] #23742 closed

[2018-11-17 22:43] simonjayhawkins commented on #13842
@jreback I think this issue was closed by #16443.

[2018-11-17 22:55] jreback commented on #13842
ok thanks. if u think we need additional tests pls PR

[2018-11-17 22:55] #13842 closed

[2018-11-17 22:58] #23659 closed

[2018-11-17 23:08] #23729 closed

[2018-11-17 23:14] #23572 closed

[2018-11-17 23:26] #23644 closed

[2018-11-18 01:19] mroeschke opened #23758 "BUG: to_datetime with unit, utc=True and errors='ignore' does not coerce to UTC"
[code]

It appears the tz argument is missing from the output here:

https://github.com/pandas-dev/pandas/blob/24bce1a5fdd70a66b9fb5e2f9f51631d1df6add3/pandas/core/tools/datetimes.py#L215

#### Expected Output
[code]

[2018-11-18 02:01] mroeschke opened #23760 "BUG: to_datetime with unit mapping ignores utc and box arguments"
[code]
These arguments need to be handled directly in this function or the output

https://github.com/pandas-dev/pandas/blob/24bce1a5fdd70a66b9fb5e2f9f51631d1df6add3/pandas/core/tools/datetimes.py#L574
#### Expected Output
[code]

[2018-11-18 02:04] smsubrahmannian commented on #20969
I had the same issue. By removing \r and \n in the text. Things were resolved.

[2018-11-18 09:37] #23631 closed

[2018-11-18 12:02] datapythonista opened #23763 "DOC: Build documentation manually instead of using sphinx"
I wasted several days of my life in the last months trying to understand sphinx code, and seeing how make it perform simple things like changing the depth of the sidebar table of contents, add breadcrumbs, and similar things.

Not sure what went wrong with sphinx development, but its code lacks any reasonable architecture, and the complexity for what we make it do is huge compared to what it shoul

[2018-11-18 15:11] h-vetinari commented on #10000
Now that there is an actual plan for `1.0` release (i.e. `v.0.24` -> `v.0.25` -> `v.1.0`), some of this might be too ambitious, but essentially, those are all about consistency (or lack thereof) that I'd like to see in pandas 1.0:
* consistent API for IO methods #15862, #21640
* consistent output of `groupby.apply`: #22545, #20420, #22541, #22542, #22546
* all about `unique`: consistent (i.e. pand

[2018-11-18 15:31] chris-b1 commented on #23516
Thanks for the investigation @cgohlke - for 0.24 I suppose we should just shim in an ASCII `isdigit`
function?

(MUSL, MIT licensed)
https://github.com/esmil/musl/blob/master/src/ctype/isdigit.c#L5

[2018-11-18 16:19] h-vetinari commented on #23554
@TomAugspurger
Pinging you here as this is related to #23553 and may be related to #23581

[2018-11-18 18:30] #23579 closed

[2018-11-18 18:32] #23558 closed

[2018-11-18 18:32] #23677 closed

[2018-11-18 18:51] xuhuizhang commented on #21689
Include missing data count in `pd.Dataframe.describe()` is definitely necessary.

[2018-11-18 19:01] jreback commented on #21689
count is the non missing length
so i guess you could add length

[2018-11-18 19:15] dragoljub commented on #23516
@chris-b1 I was thinking the same thing since its quite a simple function, however than changing locale would be limited. I wonder how the windows isdigit function ends up calling the locale version. I don't think that source is available.

[2018-11-18 21:42] #11733 closed

[2018-11-18 21:56] #14080 closed

[2018-11-18 22:46] mullenkamp opened #23773 "pytables import broken"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Something seems broken with either how pandas interacts with pytables or pytables itself.
Reading/writing hdf files produces an import error:

[code]

Using a fresh conda install of pandas and pytables on Windows 10:

[code]

#### Expected Output

It doesn't fail and saves an hdf file.

#### Output of ``pd.show

[2018-11-18 22:51] mullenkamp commented on #23773
I was using pytables 3.4.4 for the example above.
Downgrading to pytables 3.4.2 works properly.
They must have broken something from 3.4.2 to 3.4.3.

[2018-11-19 02:50] yatharth commented on #23736
Unable to reproduce 😞; closing!

[2018-11-19 02:50] #23736 closed

[2018-11-19 04:30] eoveson commented on #17559
Looks like the following test was added in /pandas/tests/arithmetic/test_datetime64.py, as part of GH22163.  Would it cover this issue sufficiently already, or should anything else be tested?

    def test_dt64_nat_comparison(self):
        # GH#22242, GH#22163 DataFrame considered NaT == ts incorrectly
        ts = pd.Timestamp.now()
        df = pd.DataFrame([ts, pd.NaT])
        expected = pd.D

[2018-11-19 04:33] #17559 closed

[2018-11-19 06:11] cgohlke commented on #23516
The source code for the Windows UCRT is available with recent Windows SDK. It is usually installed under `C:\Program Files (x86)\Windows Kits\10\Source`.

The `isdigit` and `_isdigit_l` functions are defined in `ucrt\convert\_ctype.cpp`:
[code]

The following comment is from the `_wsetlocale` function:
[code]

[2018-11-19 08:18] rgeens opened #23778 "Segfault in pandas.read_csv on bad input"
#### Code Sample

[code]
#### Problem description

Running the sample code will trigger a segfault on Linux. While I'm fairly sure that `BadIO` is not returning what it should, I'd expect an error message from pandas instead of a crash.

#### Expected Output

Error about what's wrong with the input.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: No

[2018-11-19 08:52] rgeens opened #23779 "read_csv c engine accepts binary mode data and python engine rejects it"
#### Code Sample

[code]
#### Problem description

The second read_csv call (using the C engine and a file opened in binary mode) will correctly read the csv. The fourth read_csv call (using the Python engine and a file opened in binary mode) will throw an exception stating it needs to be in text mode:

[code]

Perhaps this is intended behavior, but I found this difference in behavior between the

[2018-11-19 11:09] datapythonista opened #23780 "DOC: Wrong spaces in the documentation"
In #23738 we fixed many cases where a space was missing before the colon splitting the parameter name and the type (e.g. `name: str` changed to `name : str`).

But in few cases spaces were added in places where they were not required or wrong, for example:
- In directives: `.. deprecated :: 0.21.0`
- In rst lists: `Series : the user provides a pandas.Series object of the same`
- In code: `"border"

[2018-11-19 11:52] prakhar987 opened #23781 "Unexpected behavior of groupby on dt.date"
#### Trying to groupby with only dt.date vs dt.date with some other column

[code]
#### Problem description

As one can see, the first method produces a Python datetime.datetime object while the second one produces a Pandas Timestamp object. Is this an issue or am I missing something ?

Printing the type of df.datetime.dt.date:
[code]

[2018-11-19 11:59] prakhar987 commented on #23781
Printing the type of df.datetime.dt.date:
[code]

[2018-11-19 12:05] TomAugspurger commented on #23733
Gotcha, I think this will be closed by https://github.com/pandas-dev/pandas/pull/21681, but upcasting to object.

[2018-11-19 12:09] #21353 closed

[2018-11-19 12:31] kuraga commented on #21353
@zhezherun , @TomAugspurger , thanks very much!

But could you, please, describe the connection with @nynorbert 's [observation](https://github.com/pandas-dev/pandas/issues/21353#issuecomment-397069182):

So, we had memory leak in Pandas in addition to glibc's feature to not trim after `free`?

Thanks.

[2018-11-19 12:32] jreback commented on #23781
this is the purpose of ``.dt.date`` to produce a ``datetime.date``. if you want to groupby w/o time, you should use ``.dt.normalize()``.

[2018-11-19 12:32] #23781 closed

[2018-11-19 12:39] TomAugspurger commented on #21353
I don't know C, so no. Perhaps @nynorbert can clarify.

[2018-11-19 12:42] jreback opened #23782 "TST: split up pandas/tests/test_multilevel.py"
we should move indexing routines from ``pandas/tests/test_multilevel.py`` to

``pandas/tests/indexing/test_multiindex.py``

things that  have test names that match ``getitem`` or ``xs``.

[2018-11-19 13:11] TomAugspurger commented on #23185
Small status update here: I played with moving to composition a bit last
week. The basic idea was

* DatetimeDtype(unit, tz) : an extension dtype for representing datetime
data with an optional timezone
* DatetimeArray : basically the same as DatetimelikeArrayMixin.
DatetimeArray.dtype is a DatetimeDtype
* DatetimeIndex : Index where _data is a DatetimeArray.

The biggest challenge was our `is_dat

[2018-11-19 13:27] jreback opened #23783 "CLN: pandas.core.dtypes.common._get_dtype_type"
should be a lot simpler, using ``pandas_dtype``

get's somewhat closer
[code]

[2018-11-19 13:54] omri374 opened #23784 "read_csv throws wrong exception on permissions issue"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When trying to open a CSV with no permissions on ubuntu 16.04, pandas returns this error:
OSError: Initializing from file failed

see this SO thread: https://stackoverflow.com/questions/50552404/oserror-initializing-from-file-failed-on-csv-in-pandas for an example.

#### Expected Output
Expected exception or det

[2018-11-19 14:16] TomAugspurger commented on #23784
What error does the standard library throw when you do `open(path)`?

[2018-11-19 15:43] colinfang opened #23785 "PERF: series.map(arg) for category is slow if arg is a dict"
Are the following 2 methods equivalent? I have to introduce a `lambda` to gain additional performance when dealing with map of category.

[code]

[2018-11-19 15:44] simonjayhawkins commented on #22887
xref #11987

[2018-11-19 15:48] maxwellflitton commented on #16812
Is there a parameter to track NaN values and change old DF values to NaN in the update function?

[2018-11-19 15:53] m3h0w commented on #18828
It's worth looking into if maybe the documentation on this should be modified, because it includes a misleading example that led the OP and me to struggle with this.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html

The example:
[code]

The result of using argument 'str' for index is not noticeable, thus misleading.

[2018-11-19 16:31] iamchairs opened #23786 "Pandas Corrupting PyArrow Integer Object Nulls"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When loading a parquet through `pyarrow` and converting to `pandas`, there is an option to use integer object nulls. This works as long as no action is performed on the data via pandas.

In this example, a parquet is loaded with a nullable int column. A DataFrame is resolved from this parquet with the `integer_

[2018-11-19 17:31] TomAugspurger commented on #23786
Can you provide a complete example (including writing `file.parquet`)? Does your example need parquet, or can it be reproduced when just creating a dataframe with object-dtype in memory? At a glance, it looks like your bug report is that DataFrame.replace converts objects to float?

Pandas master supports nullable integer columns: http://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.24.0.ht

[2018-11-19 17:56] simonjayhawkins opened #23788 "(row) Index Name with to_html(header=False) is not displayed"
#### Code Sample, a copy-pastable example if possible

[code]
<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

[code]
<table border="1" class="dataframe">
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>b</th>
      <t

[2018-11-19 18:53] datapythonista commented on #23780
That's right, use better https://github.com/pandas-dev/pandas/pull/23738/files to see what was fixed, and remove the spaces in the examples shown in the description, and equivalent cases.

e.g. `.. deprecated :: 0.21.0` -> `.. deprecated:: 0.21.0`

[2018-11-19 19:27] datapythonista opened #23791 "DOC: Fix format of io.rst"
Our documentation should follow the PEP-8 standard, but for historical reasons there are many formats that don't. We should fix them now.

This issue is to fix the format of `doc/source/io.rst`. To find the errors, first is required to install a newer version of `flake8-rst`:
[code]

Then, all the errors can be obtained with:
[code]

After fixing this issue, the previous command should not report

[2018-11-19 19:30] datapythonista opened #23792 "DOC: Fix format of basics.rst"
Our documentation should follow the PEP-8 standard, but for historical reasons there are many formats that don't. We should fix them now.

This issue is to fix the format of `doc/source/basics.rst`. To find the errors, first is required to install a newer version of `flake8-rst`:
[code]

Then, all the errors can be obtained with:
[code]

After fixing this issue, the previous command should not rep

[2018-11-19 19:32] datapythonista opened #23793 "DOC: Fix format of categorical.rst"
Our documentation should follow the PEP-8 standard, but for historical reasons there are many formats that don't. We should fix them now.

This issue is to fix the format of `doc/source/categorical.rst`. To find the errors, first is required to install a newer version of `flake8-rst`:
[code]

Then, all the errors can be obtained with:
[code]

After fixing this issue, the previous command should no

[2018-11-19 19:35] datapythonista opened #23794 "DOC: Fix format of cookbook.rst"
Our documentation should follow the PEP-8 standard, but for historical reasons there are many formats that don't. We should fix them now.

This issue is to fix the format of `doc/source/cookbook.rst`. To find the errors, first is required to install a newer version of `flake8-rst`:
[code]

Then, all the errors can be obtained with:
[code]

After fixing this issue, the previous command should not r

[2018-11-19 19:53] ywpark1 commented on #23792
Hi @datapythonista ,
I would like to work on this issue, if you do not mind!

[2018-11-19 19:59] datapythonista commented on #23792
Sure, thank for helping @ywpark1!

[2018-11-19 20:18] dragoljub commented on #23516
So if I’m understanding it correctly. Even if we set the locale in Python to “C” the windows isdigit function would still resort to calling the locale isdigit version slowing down parsing because the local has ‘changed’.

Is that the case in python. 3.7.0a3? Setting locale to “C” slows parsing down?

[2018-11-19 21:15] SotiriosNikas opened #23795 "Strange group index in dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The last line is printing the following:
1
10
100
101
102
103
104
105
106
107
108
109
11
110
111
112
113
114
115
116
117
118
119
12
120
....

#### Expected Output
1
2
3
4
5
6
7
8
9
10
11
...

<details>
Finally, all the groups are shown. But their sequence is not the expected one. Any help, why this happens is w

[2018-11-19 22:06] TomAugspurger commented on #23638
@bodgerer any luck?

[2018-11-19 22:06] TomAugspurger commented on #23459
Closing. Let us know if you can clarify your question.

[2018-11-19 22:06] #23459 closed

[2018-11-19 22:33] h-vetinari commented on #23726
I can reproduce the failure locally (on windows), but I only get a `MemoryError`, not a segfault. If it *were* a MemoryError, it could be an explanation why it only fails sometimes - depending on how busy the worker is with other code at that moment.

[2018-11-19 23:12] Alexander-Shukaev opened #23798 "ImportError (`import pandas`)"
#### Problem description

First of all, for some reason `pandas==0.23.4` does not even build when installed via `pip` (`pip install pandas==0.23.4 --force --no-cache`), it simply reports success but importing `pandas` fails in the same way as posted below.

Not building upon installation looked weird to me (no idea if it's a bug or intentional change) but I decided to give downgrade a go:

[code]

[2018-11-19 23:12] jschendel commented on #23726
Yeah, my suspicion is that this is happening due to high memory usage combined with `pytest-xdist` running things in parallel, which could cause different tests to be run simultaneous on different runs.  At least my google searches seem to indicate that this type of error primarily occurs with `pytest-xdist` specifically.

I'd be somewhat surprised if there was a segfault, as different components

[2018-11-19 23:16] jreback commented on #23726
yeah marking for single is the best

[2018-11-20 00:07] ArtinSarraf opened #23800 "ENH: Add `pd.DataFrame.strformat` method for simplified string series construction"
Proposing a method that mimics the python string formatter that allows for simplfied construction of string series, based on existing dataframe columns. Currently, this can be done in one of two ways (probably more).
[code]
1) Vectorized concatenations using `df.Col.str.cat` or `df.Col.__add__`. This method can be verbose and cumbersome to read/write:
[code]
2) Use `df.apply` with string formattin

[2018-11-20 01:03] #23726 closed

[2018-11-20 01:04] gwerbin opened #23803 "Feature request: add na_action argument to applymap"
#### Code Sample, a copy-pastable example if possible

Desired method:

[code]

Current method:

[code]

#### Problem description

The `na_action='ignore'` argument is extremely useful when processing messy data, and it would be nice to have on the `DataFrame.applymap` method as well.

`DataFrame.applymap` already uses very similar code, so ideally this shouldn't be too dramatic of a change.

[`Da

[2018-11-20 01:07] #22676 closed

[2018-11-20 01:10] #20760 closed

[2018-11-20 01:13] #22158 closed

[2018-11-20 01:18] JustinZhengBC opened #23804 "Master crashes on scatter_matrix"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The example for `scatter_matrix` causes a crash. Removing the keywords and calling `pd.plotting.scatter_matrix(df)` also causes a crash. Works fine on 0.23.4 though.

#### Expected Output

A graph

#### Actual Output
[code]

#### Output of ``pd.show_versions()``

<details>

No module named 'dask'

INSTALLED VER

[2018-11-20 02:00] #4861 closed

[2018-11-20 03:36] WillAyd commented on #23795
Please see our guide for effective bug reports. Code provided should be *minimal* and *self contained* which is not the case here.

Closing for now but if you can provide a self contained example feel free to reopen

[2018-11-20 03:36] #23795 closed

[2018-11-20 06:43] mroeschke commented on #23804
I cannot produce this on master and it seems like the travis docs are generating the figure okay https://pandas-docs.github.io/pandas-docs-travis/visualization.html#scatter-matrix-plot. Are you generating this locally?

[code]

[2018-11-20 07:30] Dobatymo opened #23809 "read_excel crashes python for certain files"
[code]
[pandas_crash.xlsx](https://github.com/pandas-dev/pandas/files/2598556/pandas_crash.xlsx) crashes the Python process.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder: little
LC_ALL: None

[2018-11-20 07:56] omri374 commented on #23784
[code]
---------------------------------------------------------------------------

[2018-11-20 08:09] xhochy commented on #23786
This is reproducible without `pyarrow` at all. It is not straight-forward to construct an integer columns as `object` in Pandas but the following snippet reproduces the problem:

[code]

After the release of `pandas==0.24.0`, we'll also have a look in `pyarrow` in supporting the new built-in `ExtensionDtype` to get rid of the `integer_object_nulls` hack.

[2018-11-20 08:14] JustinZhengBC commented on #23804
Yes. I'm looking into it further and I think it's something with my matplotlib installation, so not a pandas issue

[2018-11-20 08:14] #23804 closed

[2018-11-20 09:31] gfyoung commented on #21885
Actually, that assessment was incorrect.  The issue persists even with CSV.  The crux of the problem actually lies with our internal converter to float:

[code]

[2018-11-20 10:15] BSchilperoort commented on #23719
Added the simple fix in a PR: #23813

[2018-11-20 10:41] #22903 closed

[2018-11-20 11:05] wiso commented on #13708
I still see the docs saying: "Determines if two Index objects contain the same elements." without a reference to the check of the ordering.

[2018-11-20 12:02] colinfang opened #23814 "equality comparison with a scalar is slow for category (performance regression)"
Are the following 2 ways to compare a series to a scalar equivalent (ignore missing values)? I have to write the hard way in order to take advantage of the category properties.

[code]

[2018-11-20 12:02] brute4s99 commented on #22903
Yay! 🍻

On Tue, 20 Nov, 2018, 4:12 PM Marc Garcia, <notifications@github.com> wrote:

[2018-11-20 12:06] TomAugspurger commented on #23786
Slightly smaller example

[code]

I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/5541; We have a few others touching on this subject.

[2018-11-20 12:08] TomAugspurger commented on #23784
Thanks. Are you interested in investigating how we should raise the same error?

[2018-11-20 12:18] TomAugspurger commented on #23814
It seems like a lot of time is spent in `Categorical.__init__(Series[Categorical])`, when that should essentially just be

[code]

We would need to handle not-default args for `categories`, `ordered`, and `codes`.

<details>

[code]

</details>

@colinfang can you post your pandas version?

[2018-11-20 12:19] TomAugspurger commented on #23809
Can you reproduce the crash using just the underlying engine (openpyxl or xlrd)?

Can you post the traceback?

[2018-11-20 12:30] colinfang commented on #23814
I am using v0.23.4.  The performance for v0.20.3 is good.

[2018-11-20 12:38] TomAugspurger commented on #23814
Can you see if my suggestion would fix it? I think it may need to happen
even before
https://github.com/pandas-dev/pandas/blob/029d57cb828b053d112ed4e23f446ee07d147935/pandas/core/arrays/categorical.py#L331,
because we need to know whether the user passed None for all the optional
parameters.

On Tue, Nov 20, 2018 at 6:30 AM colinfang <notifications@github.com> wrote:

[2018-11-20 12:51] pierremoulinier commented on #23742
Hi Matthew, thanks for your reply above, this makes things clearer. I tried using `'CD'` on 0.24 and got the same `NonExistentTimeError` I mentionned initially.

[code]

I suspect the original problem was not fixed in 0.24 but only hidden by the 'Day' vs 'Calendar Day' behavior change. I think issue will reappear when reverting this behavior change unless it is addressed in PR #22867

What's the b

[2018-11-20 12:52] stantyan commented on #18152
Got the same problem on OSX with a JSON file 4.7GB. What is the proper way to solve this issue?

[2018-11-20 12:54] datapythonista commented on #23508
My opinion is that we should be explicit in all the examples, and not make the users guess anything (and that includes the `import pandas`).

As this is not shared by the rest of the team, my next favorite option is at some point stop ignoring `F821` in `setup.cfg`, and instead ignore the specific cases where someone considers having a variable defined is worse with `# noqa: F821`.

But surely ok

[2018-11-20 13:08] ozak commented on #18152
See the solution I posted above. So far seems to work ok.

[2018-11-20 13:18] TomAugspurger opened #23815 "Timestamp and DatetimeIndex construct different timezones"
Question in the form of an issue: is this a bug?

[code]

This leads to strange things like

[code]

[2018-11-20 13:48] TomAugspurger commented on #23815
DatetimeIndex (via, DatetimeArrayMixin) goes

[code]

`Timestmamp.__new__` seems to use a tzinfo object.

So it seems like I should be using `_libs.tslibs.timezones.tz_compare`, rather than `==`.

[2018-11-20 14:07] TomAugspurger opened #23816 "Concat Series[datetimetz] & Series[category] loses timezone"
[code]

Out[10]  should have a tz like the following

[code]

[2018-11-20 14:33] TomAugspurger opened #23817 "DataFrame Timestamp number of block dimensions"
edit: duplicate of https://github.com/pandas-dev/pandas/issues/13287

[2018-11-20 14:35] #23817 closed

[2018-11-20 14:42] carolinalq commented on #23564
I've been trying to use version 117 exaclty because of this, but I get the following error:

TypeError: to_stata() got an unexpected keyword argument 'version'

Any clues?

[2018-11-20 14:56] kylebarron commented on #23564
You probably need to update pandas

[2018-11-20 15:06] datapythonista commented on #22942
Closing, see #23038

[2018-11-20 15:06] #22942 closed

[2018-11-20 15:48] Kimonode opened #23819 "df.any(axis=None) does not perform the expected reduction"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

df.any(axis=None) returns a series:

B     True
C    False
dtype: bool

... while it should reduce that series to return a single scalar, as per the documentation.

#### Expected Output

True, as a single scalar

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None

[2018-11-20 15:56] neomis commented on #21969
I'm also experiencing this issue in 0.23.4 with an additional snag.  If you set dropna=False it will add nonexistent rows to the output table.
[code]
Output
[code]
Expected Output
[code]

[2018-11-20 16:29] TomAugspurger commented on #23819
Try upgrading you pandas. It was added in a more recent version than 0.21.1

[2018-11-20 16:29] #23819 closed

[2018-11-20 16:29] Michael-E-Rose commented on #22648
I have investigated the issue with the IT department. We were able to clone the repo on a non-network drive. We were also able to put the problematic file on the network drive. So it seems to be the particular combination network drive+git that causes the error.
Meanwhile, I think, we can close this issue. It's not pandas fault.

[2018-11-20 16:29] #22648 closed

[2018-11-20 16:31] mroeschke commented on #23742
Thanks for the example. A `nonexistent` keyword argument was added recently in `tz_localize` that can help solve this problem.

[code]

The `tz` kwarg is similar to `tz_localize` except it lacks the error handling kwargs of ambiguous or nonexistent times and therefore does not make any assumptions of how to handle these times..

[2018-11-20 16:31] simonjayhawkins opened #23820 "DISC: deprecate notebook parameter in to_html()"
should to_html(notebook=True) be part of the public facing API or called just from _repr_html_()?

[2018-11-20 16:37] jbrockmendel commented on #23778
It looks like `io.stream()` is returning a generator object.  The place you'd want to add a check for that is probably in pd._libs.parsers.  A PR would be welcome.

[2018-11-20 16:37] h-vetinari commented on #22476
I guess I missed this somehow - my attempt at a SetArray (#22382) has been dormant for some time while other issues were more pressing. In any case, having hashability as a general requirement makes it impossible to implement an extension array for sets, unless there is a way to circumvent that requirement somehow.

[2018-11-20 16:41] mroeschke commented on #23815
These are expected to be unequal due to pytz semantics.

For a pytz timezone with a `Timestamp`, we are only dealing with one date, so we can confidently know which side of DST border the date lies and can use the DST informed tzinfo instance (CST-1 day).

For a pytz timezone with a `DatetimeIndex`, we are potentially dealing with 1+ dates where a mix of dates can lie on either side of the DST bor

[2018-11-20 16:43] TomAugspurger commented on #22476
I haven't looked at the details, but what about a SetDtype isn't hashable?
Keep in mind that this is for dtypes, not arrays (which can't be hashable,
since they're mutable).

On Tue, Nov 20, 2018 at 10:38 AM h-vetinari <notifications@github.com>
wrote:

[2018-11-20 16:47] TomAugspurger commented on #23815
Fun... I'll try to turn this into a new docs section in http://pandas-docs.github.io/pandas-docs-travis/timeseries.html#working-with-time-zones

Should we add `tz_compare` to our public API, as the recommended way to compare to tz objects?

[2018-11-20 16:47] h-vetinari commented on #22476
@TomAugspurger
Thanks for the quick response. This was my misunderstanding - I read "Pandas now requires that extension dtypes be hashable" in https://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.24.0.html#extensiontype-changes, and got the wrong idea.

[2018-11-20 17:02] TomAugspurger commented on #22476
Hmm yes that is ambiguous. I'll rephrase it when I go through the docs
before the release.

On Tue, Nov 20, 2018 at 10:47 AM h-vetinari <notifications@github.com>
wrote:

[2018-11-20 18:10] mroeschke commented on #23815
Yeah clarifying this pytz idiosyncrasy in the docs would be a nice addition.

@jbrockmendel is the spec for `tz_compare` to see if timezone objects represent the same timezone or to check if two timezone instances are the same?

[2018-11-20 18:12] jbrockmendel commented on #23815
To see if they represent the same timezone.

[2018-11-20 18:20] mroeschke commented on #23815
Gotcha. My impression was that `tz_compare` was a utility for the internals, but I guess if users may find it useful then we can expose it as a toplevel `"pd.tz_compare"`. Probably would need a lot more tests though to nail down the spec.

[2018-11-20 20:09] evangelineliu commented on #23816
Hi,

Can my team and I contribute to this issue?

Thanks.

[2018-11-20 20:09] evangelineliu commented on #23760
Hi,

Can my team and I contribute to this issue?

Thanks.

[2018-11-20 20:12] TomAugspurger commented on #23816
Sure, you can give it a shot.

I'm not sure where the best place is for the fix yet. Somewhere in `core/dtypes/concat.py`, but it'll be a bit tricky to find the best time to convert to objects.

[2018-11-20 20:37] datapythonista opened #23821 "CI: Move CircleCI job to Azure pipelines"
We've been moving our CI from other systems to Travis and Azure Pipelines, which makes things simpler, as we don't need to maintain several CI configuration files, and check for CI errors and logs in different environments.

We have almost everything in those two systems now, except one last job that is in CircleCI. This job requires PostgreSQL and MySQL databases, which hasn't been configured yet

[2018-11-20 20:57] mroeschke commented on #23760
Sure, go for it @evangelineliu

[2018-11-20 21:13] Syhen opened #23822 "pd.DataFrame.sub change the original dataframe order"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
with minus by index, the output change my index from [0, 1, 2, 1] to [0, 1, 1, 2], which change the order of my original DataFrame.

#### Expected Output
[0, 1, 2, 1]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.2.final.0
python-bits: 64
OS: Da

[2018-11-20 21:18] h-vetinari commented on #22824
@jorisvandenbossche
With #23400 nearing completion, could you please have another look at this?

[2018-11-20 21:26] h-vetinari opened #23823 "BUG/Internals: maybe_upcast_putmask"
In the context of #23192 (and #23604 / #23606), I want to use `pandas.core.dtypes.cast.maybe_upcast_putmask`,  because it solves exactly the problem I need it to solve.

Unfortunately, it does not work as advertised (and I already found the culprit).
The docstring says:
[code]
in other words, it expects `result` and `other` to be ndarrays. Curiously enough, in some branches, it only works for `Ser

[2018-11-20 21:36] lukas-a-olson opened #23824 "Series.map updates all copies of a DataFrame"
#### Code Sample

[code]
output:
[code]
#### Problem description
When using pd.Series.map on a column of a copied DataFrame, the copy is updated, but so are the original DataFrame and any other copies. This issue does not occur when map is applied to a copy of a Series, however.

#### Expected Output
The original DataFrame should remain unmodified:
[code]
#### Output of ``pd.show_versions()``

<de

[2018-11-20 21:39] TomAugspurger commented on #23824
`new = df` doesn't copy. That adds a new reference to the same object `df` references.

[2018-11-20 21:39] #23824 closed

[2018-11-20 21:39] jreback commented on #23824
of course these are references to the same frame
a list objects would do the same

[2018-11-20 21:40] lukas-a-olson commented on #23824
Why doesn't this happen for a series?
[code]

[2018-11-20 21:53] TomAugspurger commented on #23824
You're assigning the output of Series.map to the name `new`.

`s` still refers to the old name. https://nedbatchelder.com/text/names.html
may be helpful.

On Tue, Nov 20, 2018 at 3:40 PM lukas-a-olson <notifications@github.com>
wrote:

[2018-11-20 21:56] TomAugspurger commented on #23455
Closing, let us know if you think there's still something to be done @paulvija.

[2018-11-20 21:56] #23455 closed

[2018-11-20 22:35] TomAugspurger commented on #23554
I haven't been able to wrap my head around `infer_dtype` yet, but adding `interval` seems fine.

[code]

Out[26] looks like a bug.

FWIW, rewriting the Series constructor is on my medium-term todo list, but not before 0.24 is done. Part of that would be a cleanup of infer_dtype.

[2018-11-20 22:38] jorisvandenbossche commented on #23815
See also https://github.com/pandas-dev/pandas/issues/17572 and https://github.com/pandas-dev/pandas/issues/18595 where this has been discussed before.

[2018-11-20 23:09] eoveson commented on #23814
@TomAugspurger / @colinfang , I tried inserting code similar to Tom's suggestion, near the beginning of Categorical.__init__, and it appears it does indeed fix the perf issue.  I also noticed there is a "fastpath" in that method also, not sure if that is applicable in this case.

I'd be interested in working on a fix for this issue, unless you were wanting to @colinfang.  I understand there would

[2018-11-21 00:33] jbrockmendel opened #23826 "BUG: tm.assert_index_equal ignores TimedeltaIndex.freq"
[code]

The call to assert_index_equal should raise AssertionError, doesn't.

[2018-11-21 00:57] alexbk66 commented on #2586
Just had this problem in my code -
[code]
still gets "2010-10-01" for "10/01/2010"

[2018-11-21 01:09] WillAyd commented on #23820
This is already documented in the API in development:

http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.DataFrame.to_html.html?highlight=to_html

I'm not clear by the issue if you are asking whether it should be documented or deprecated altogether, though I would be -1 on deprecation (clarification would be helpful).

[2018-11-21 01:13] WillAyd commented on #23822
Hmm OK. Not sure if we really want to make guarantees about order here based off of the left hand side of an operation but open to investigation and a PR if it makes sense

[2018-11-21 01:43] datapythonista opened #23828 "DOC: Move content in doc/README.rst to doc/source/contributing.rst"
Following the discussion in #23097, we should check if there is content in `doc/README.rst` that is not in `doc/source/contributing.rst`. Then:
- Move that content to `doc/source/contributing.rst` if something is not there already.
- Replace all the content of `doc/README.rst` by simply a link to the contributing documentation.

[2018-11-21 01:45] datapythonista commented on #23084
Closing in favor of #23828.

[2018-11-21 01:45] #23084 closed

[2018-11-21 01:54] Alexander-Shukaev commented on #23798
Attaching [venv.log](https://github.com/pandas-dev/pandas/files/2602280/venv.log) (a virtual environment crearted from scratch).  All requested versions are inside and much more.  The OS is obviously Linux.

[2018-11-21 01:57] jschendel commented on #23826
dupe of #13242, which includes some other things as well

[2018-11-21 01:57] #23826 closed

[2018-11-21 02:04] Dobatymo commented on #23809
There is no traceback as no exception is thrown. The process simply crashes. With plain xldr or openpyxl I can read the file however.

[code]
Output:
[code]
The output of `openpyxl` is not correct, it seems it cannot handle the single surrogates. `xlrd` is correct.

[2018-11-21 05:10] ywpark1 commented on #23793
Hi @datapythonista ,
I think I can work on this one as well!

[2018-11-21 05:15] asishm opened #23830 "pd to_datetime with format specified returns doesn't match format specified instead of OutOfBoundsDatetime"
#### Code Sample, a copy-pastable example if possible

[code]
<details>
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py in _convert_listlike(arg, box, format, name, tz)
    376             try:
--> 377

[2018-11-21 05:55] saurav2608 commented on #23794
Created a PR #23831 .

[2018-11-21 07:34] h-vetinari opened #23833 "BUG/Internals: maybe_promote"
Seems I found a pretty deep rabbit hole while trying to solve #23823 (while trying to solve #23192 / #23604):

`maybe_upcast_putmask` and `maybe_promote` are both completely untested (or at least, their names do not appear anywhere in `pandas/tests/`), and `maybe_promote` also does not have a docstring. Side note: ran into a segfault while trying to remove some old numpy compat code from that meth

[2018-11-21 07:46] liu-hanwen opened #23834 "Unexpected DataFrame.groupby.apply miscalculation"
Using `DataFrame.groupby.apply()` and make a copy of one of the columns may have unexpected result.
#### Code Sample
[code]
#### Problem description

If I try to make a copy of one of the columns and drop it after using it in `DataFrame.groupby.apply()`, the result is unexpected. The result is filled with first group's duplications.

I have done some tests and found that it is a very special case:

[2018-11-21 08:07] JustinZhengBC opened #23835 "code_checks.sh does not work as documentation says"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The current `code_checks.sh` contains this line near the top:
[code]
so the script automatically exits unless LINT is defined. The following are examples of calls that give expected results
[code]
but this requirement is neither intuitive nor mentioned in `contributing.rst` or the usage comments in `code_checks

[2018-11-21 09:06] gfyoung commented on #23788
This isn't just restricted to HTML.  It's a bug across the board, even with `to_csv`.

[2018-11-21 09:09] gfyoung commented on #23800
Interesting proposal, but uncertain of how broad the use-case is...

cc @jreback

[2018-11-21 09:09] jorisvandenbossche commented on #2586
@alexbk66 that seems like a bug (maybe `dayfirst` is not passed through correctly somewhere), as this combination works fine with `to_datetime`:

[code]

[2018-11-21 09:12] gfyoung commented on #23785
Interesting.  `x.map(mapper)` and `x.map(lambda a: mapper[a])` produce different results, likely because one recognizes the categorical nature and the other doesn't.

Not sure which result is correct though...

cc @jreback

[2018-11-21 09:13] gfyoung commented on #23823
How odd!  Some investigation and cleaning up would be great.

[2018-11-21 09:13] AVI18794 opened #23836 "writing dataframe to sql server"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
While I am trying to write the dataframe to the sql Server using pandas it throws an error. The error says database error

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0

[2018-11-21 09:14] gfyoung commented on #23830
That makes sense.  A PR would be most welcome here.

[2018-11-21 09:32] #23709 closed

[2018-11-21 09:56] jorisvandenbossche commented on #23836
Can you be more specific on which error it gives? (eg show the full traceback)

[2018-11-21 10:14] gfyoung commented on #23834
I agree that your implementation of adding / dropping columns does seem a little weird, there definitely seems to be some massive aliasing going on behind the scenes, which is unusual...

cc @jreback

[2018-11-21 10:17] gfyoung commented on #23835
@JustinZhengBC : Actually that's not the case.  We set `LINT=1` for the build's environment configuration.  That being said, your point is well taken, and I think it goes along the lines of the fact that we need a separate script for contributors to sanity-check their code for style errors.

@datapythonista : I don't remember which issue had the discussion about adding a contributor-specific style