[2020-03-26 16:02] jbrockmendel opened #33039 "TST: arithmetic tests going through numexpr path"
Many of the tests in tests.arithmetic operate on small arrays/index/series/frames, which means they will not go through the numexpr path.  We should be running the relevant tests through both the numexpr and non-numexpr paths.

[2020-03-26 16:34] jbrockmendel opened #33041 "BUG: DataFrame.at implicitly assumes unique axes"
Update: `DataFrame.lookup` is also affected

[code]

Same problem for `df.at.__setitem__`.  `Series.at` looks OK.

[2020-03-26 16:35] pplanner16 opened #33042 "Index value changes unexpectedly"
#### Code Sample, a copy-pastable example if possible
First we create a raw dataset with MultiIndex-

[code]
Next we calculate the z-scores for each lmark -

[code]
The index values don't change, as expected. Now we filter out records where lmark > 3 -

[code]
and recalculate the z-scores -

[code]
#### Problem description

The value of the first record's lmark index changed from NaN to 1.0

####

[2020-03-26 17:35] jpsolanet opened #33043 "to_json() not including all attributes"
`edit: simplified example`
#### Code Sample

[code]
#### Problem description

I have a custom class i'm using in dataframes, a simplified version of which is shown above.

The output `to_json()` does not provide the full list of attributes, which I'd expected. Adding additional attributes to the class, *some* of them are included, but not all.

#### Current output
[code]
#### Expected Output
[code

[2020-03-26 17:43] MarianD opened #33044 "Missing show_versions() in documentation"
[code]
is not in pandas API Reference.

[2020-03-26 17:57] Hardmat commented on #15103
It has also work, thanks for your help @zeezee84

[2020-03-26 17:59] jbrockmendel opened #33046 "PERF/DISC: Cache .loc, .at and reset whenever index/columns change"
Series.index, DataFrame.index, and DataFrame.columns are `AxisProperty`s and whenever they are set, a callback updates the underlying BlockManager.

We could have that same callback also invalidate the cached `obj.loc` and `obj.at` objects.

If we did that, then `LocIndexer` and `AtIndexer` could assume that they would only ever see set of axes, so a bunch of checks that are now done at lookup-tim

[2020-03-26 18:23] yohplala opened #33048 "Convenient way to use offset aliases to create a DateOffset?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hello,

I would like to be able to use the same type of offset aliases as defined [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases) for date_range() and period_range() function to create DateOffset.

The way I have found is the one copied/pasted here above

[2020-03-26 18:43] simonjayhawkins commented on #32395
can confirm this is the cause of the regression

225cc9284d1abfbcc9d13203419516575a63cc7a is the first bad commit
commit 225cc9284d1abfbcc9d13203419516575a63cc7a
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Thu Oct 24 05:10:07 2019 -0700

    CLN: remove Block._try_coerce_arg (#29139)

@jbrockmendel

[2020-03-26 18:45] yohplala commented on #33048
Ok sorry, just discovered [pd.tseries.frequencies.to_offset()](https://pandas.pydata.org/docs/reference/api/pandas.tseries.frequencies.to_offset.html)
pandas is wonderful !

[2020-03-26 18:45] #33048 closed

[2020-03-26 18:51] yohplala opened #33049 "Comparing monthly to dayly frequencies: DateOffset or Timedelta?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hi, I would like to compare 2 frequencies, among which monthly frequency.
Two tools appear relevant for that but have each an issue:
- Timedelta that supports comparison, but not Month frequency
- DateOffset that supports Month frequency, but not comparison

Please, how should be this managed?

Thanks for your

[2020-03-26 20:04] yohplala commented on #33024
@mroeschke

Hello, thanks a lot for your answer.
I started to have a look, and the example given shows how to access current line based on an integer index.
In my case I have a DateTimeIndex. How can I access timestamp of current row (or basically index of df being processed) on which is depending start and end?
Thanks for your help!
Bests

Here is the code I would implement based on the example,

[2020-03-26 20:08] #24729 closed

[2020-03-26 20:08] #28306 closed

[2020-03-26 20:08] #32624 closed

[2020-03-26 20:21] simonjayhawkins commented on #32194
Thanks @griffindore for the report. can confirm this is a regression

06ef193a5c1957c0a76e3e88bc7b834b38972c39 is the first bad commit
commit 06ef193a5c1957c0a76e3e88bc7b834b38972c39
Author: Kaiqi Dong <kaiqi@kth.se>
Date:   Wed Jan 29 21:20:52 2020 +0100

    BUG: regression when applying groupby aggregation on categorical columns (#31359)

@charlesdong1991

[2020-03-26 20:37] TomAugspurger commented on #33049
We recommend [StackOverflow with the pandas tag](https://stackoverflow.com/questions/tagged/pandas) for usage questions (I'd recommend including a bit more about the outcome you're trying to achieve).

I don't see a bug here, but let me know if I'm missing something!

[2020-03-26 20:37] #33049 closed

[2020-03-26 20:38] TomAugspurger commented on #33044
It's primarily used for bug reports. Is there a reason you'd like to see it in the API documentation?

We'd also need someone to write a docstring for it.

[2020-03-26 20:39] entron opened #33051 "A bug of CustomBusinessDay"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Both give the result of 1983-01-03.

#### Expected Output

The correct answer should be 1982-12-31 as it is Friday and not a public holiday.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS

[2020-03-26 20:39] AlexSaliev commented on #32857
I have the same problem.
Python 3.7.7 32bit
pandas-1.0.3-cp37-cp37m-win32
win 10 64bit

[2020-03-26 20:47] TomAugspurger commented on #33043
I'm surprised to see this works at all. I'm not sure what's going on, but I suspect this is not well tested / supported.

You can provide a `default_handler` though

[code]

You're welcome to dig further into what's going on.

[2020-03-26 20:51] mroeschke commented on #33024
You can have `BaseIndexer` take in the index in the `__init__` and define other class methods that get called in `get_window_bounds`

[code]

Moreover, the Github issues tab is more suited for bugs with the pandas library and enhancement requests. We recommend going to StackOverflow for more usage questions.

[2020-03-26 20:51] #33024 closed

[2020-03-26 20:53] TomAugspurger commented on #33042
Just FYI, on master, I get an exception on `data_filtered = data_raw.loc[(slice(None), slice(None), [np.NaN, slice(3)]),:]`

[code]

which wasn't present on 1.0.3 (cc @jbrockmendel).

[2020-03-26 20:55] TomAugspurger commented on #28585
Closing in favor of https://github.com/pandas-dev/pandas/issues/33025, which has a couple links to workarounds.

[2020-03-26 20:55] #28585 closed

[2020-03-26 20:56] TomAugspurger commented on #33025
I'd be OK with hiding them for now using http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_typehints.

When sphinx 3 is released, I'd be happy with un-hiding them, but de-emphasizing them with CSS if possible.

[2020-03-26 21:01] TomAugspurger commented on #33012
I'm also surprised that worked.

This is probably safe to assume...  So then this requires Updating

https://github.com/pandas-dev/pandas/blob/e7ee418fa7a519225203fef23481c5fa35834dc3/pandas/core/base.py#L1390 to use `self._values` rather than `self._array` and then adding an ASV, probably in `asv_bench/benchmarks/frame_methods.py` that has a DataFrame with object-dtype columns.

[2020-03-26 21:05] TomAugspurger commented on #33004
I believe this is documented at https://pandas.pydata.org/docs/user_guide/io.html#table-schema. Is there anything missing?

[2020-03-26 21:06] TomAugspurger commented on #33003
I'd recommend removing the extra factorization and seeing what tests break. Can you check that?

[2020-03-26 21:08] TomAugspurger commented on #33001
Regardless of the Cython issues, is this something we actually want to do? What are the implications of this? When we create a Series from an Index (say via a `.reset_index()`) would the Series data be writable?

Keep in mind that we'd like to support indexes backed by non-ndarrays some day, which won't necessarily have the same API / capability for marking data as non-writable.

[2020-03-26 21:12] TomAugspurger commented on #32993
Can you investigate where things are going wrong? Likely somewhere in our factorization / hashtable code, though I'm not sure. (`_libs/hashtable.pyx`)

[2020-03-26 21:12] jorisvandenbossche commented on #33025
And to give my reasoning for wanting to hide them: for me, the primary target for type hints are developers (whether developing pandas, or developing other code that uses pandas). And developers can use an IDE which shows them those type hints, or use tools to check them, ... they shouldn't need to look at the online docs for checking the type hint.
On the other hand, the primary target for the on

[2020-03-26 21:14] TomAugspurger commented on #26380
I think we'll want to implement this for our arrays first (e.g. IntegerArray).

[2020-03-26 21:14] TomAugspurger commented on #32989
I think fixing this would mean implementing `__array_function__` on IntegerArray, which will require some care (https://github.com/pandas-dev/pandas/issues/26380).

[2020-03-26 21:15] TomAugspurger commented on #32989
@MaozGelbart do you know what polyfit does with missing data (NaNs)?

[2020-03-26 21:30] MarianD commented on #33044
@TomAugspurger

For completeness. Once I need it (I knew that there is such a function) but I didn't remember its name. So I tried finding it in lists of API reference General functions and General utility functions.

I may do it. I need some days to find its source code and get acquainted with  common rules for docstrings in pandas, and learn the order of steps how to accomplish it in git — or do

[2020-03-26 21:33] TomAugspurger commented on #33044
The source is at
https://github.com/pandas-dev/pandas/blob/e7ee418fa7a519225203fef23481c5fa35834dc3/pandas/util/_print_versions.py#L90.
Our contributing guide has a section on writing docstrings.

On Thu, Mar 26, 2020 at 4:30 PM Marian Denes <notifications@github.com>
wrote:

[2020-03-26 21:47] jpsolanet commented on #33043
Thanks you for this, the `default_handler` workaround will work for me for now.

Will take a dive into what's happening, and try to update docs and/or tests if nothing else.

[2020-03-26 21:54] MarianD commented on #33044
@TomAugspurger, thanks for useful info.

[2020-03-26 21:57] yohplala commented on #33049
@TomAugspurger
Hi Tom,
Ok I added it in StackOverflow.
Actually, I can see the question has already been raised, and the answer has been to open an issue in pandas bugtracker.
https://stackoverflow.com/questions/11679716/comparing-dateoffsets-in-pandas

I understand the why it can be difficult sometime, but when DateOffset can be compared, (ie there is no doubt which offset is bigger) it would be

[2020-03-26 22:46] normanius commented on #33025
Agreeing with Joris, I'd like to add that the type hints in the signature and the type description in the parameter section are only partially redundant, which can be confusing. Users probably refer to the latter source by preference (because more descriptive and always present), rendering the other less useful. The two "type languages" (e.g. "Index or array-like" vs. "Optional[Collection]") also

[2020-03-26 22:50] phofl commented on #32988
I debugged this a bit. The reason seems to be here:
[ https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/blocks.py#L737](
 https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/blocks.py#L737)

[code]

[2020-03-26 22:58] AMR-KELEG commented on #32993
I am interested in checking the issue this weekend.
I will let you know whenever I have any new updates.

[2020-03-26 23:45] #7001 closed

[2020-03-27 00:00] #32013 closed

[2020-03-27 01:15] kenjioman commented on #32993
One thing I should note -- it looks like it wasn't all non-printing characters, but I believe this is specific to `\x00`, the null-character.  And @AMR-KELEG, thanks for being willing to take a look!

[2020-03-27 01:55] WillAyd commented on #33043
Pandas doesn’t follow the conventions of the stdlib strictly as we use a custom serializer forked from ujson. If you wanted to define a class method for serialization, it should be toDict:

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#fallback-behavior

[2020-03-27 02:28] jpsolanet commented on #33043
I'll go the class method route, thank you Will & Tom.

[2020-03-27 02:28] #33043 closed

[2020-03-27 02:49] ivirshup commented on #33001
If you make a series from an index, you should be making a copy of the underlying data, so yes it would be writable.

I think the current sharing of references, with the false assumption of immutability, can lead to some very bad behavior. I think if `pd.Index` objects are going to be treated as immutable, their public methods and attributes should enforce that.

One solution for array classes whi

[2020-03-27 03:53] diegodlh opened #33058 "Indexing broken inside groupby - apply"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The expected output is:
[code]
Instead, I get a Series one row longer than expected:
[code]
The problem seems to come from processing the second group (col1 == 'B'), where indices do not match row numbers. If I stand at the breakpoint (pdb.set_trace()), I can run this with the following results:
[code]

#### Exp

[2020-03-27 03:58] agkphysics opened #33059 "Series Group-by Boxplot has Overlaid Plots"
#### Code Sample

[code]
#### Problem description
Below is an image of what currently occurs:
![series_boxplot_bad](https://user-images.githubusercontent.com/5217766/77718929-fd6da900-7048-11ea-95a8-33a1283bd409.png)
All three boxplots are plotted on top of each other in the same figure.

#### Expected Output
Either plot each group next to each other in the same figure, as in
[code]
![series_boxpl

[2020-03-27 04:07] mar-heaven opened #33060 "xlsx cannot open on windows 10"
#### pd.ExcelWriter  xlsx cannot open on windows 10
# Code
xlsx_writer = pd.ExcelWriter(os.path.join(output_path, "report.xlsx"), engine='openpyxl')
    df = pd.DataFrame(data=[{"val": val} for val in summary.values()], index=summary.keys()).sort_index()
    df.to_excel(xlsx_writer, sheet_name="summary")
xlsx_writer.save()
[code]

[2020-03-27 04:40] gfyoung commented on #33037
@tlorieul : We use the first row as a heuristic to gauge the number of columns, and admittedly, some of the cases get pretty gnarly because there are some consistency issues that I'm not surprised we still have.

[2020-03-27 04:47] scratchmex commented on #28556
I'm sorry but, why the strings values should be preserved by default? It isn't more comfortable to parse string numbers as integers?

[2020-03-27 05:07] scratchmex commented on #28372
I think you are missing `.iloc[:2]`

[2020-03-27 05:24] gfyoung commented on #33037
I just wanted to start with that first, now to address some of your comments:

It does not in fact.  You get this instead:

[code]

True, but you get this instead:

[code]

[2020-03-27 05:29] scratchmex commented on #28501
Complementing what @chrisstpierre said, the null type in json can be numerical, string, list, ..., as seen in https://stackoverflow.com/questions/21120999/representing-null-in-json.

So setting up as `np.nan` even though `dtype` is set explicitly to `False` may be beneficial when working with numerical data only but not with strings for example. I think a `np.nan` in a column of strings should not

[2020-03-27 06:37] obeavers opened #33061 "DateTimeIndex.tz_convert() does not apply DST from 2038 onward"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Wow, this one hurt. US/Eastern timezone is DST-adjusted (blend of EST/EDT) whereas EST is just EST.

The second and third assert statements above should both return False.

Surprised this hasn't come up before.

This is apparently related to a UNIX issue: https://en.wikipedia.org/wiki/Year_2038_problem. With th

[2020-03-27 06:39] KaiRoesner commented on #33004
That's exactly what I was looking for, thanks. A link to this page in the `pandas.read_json()` and `Dataframe.to_json()` documentation would be nice, though.

[2020-03-27 06:39] #33004 closed

[2020-03-27 07:15] jorisvandenbossche commented on #33058
I see the expected output on pandas 0.25.3, and the wrong on pandas 1.0.1. But it seems this is working again on master:

[code]

So it would be good to add a test case for this, to ensure it keeps working in the future. If we can figure out which patch fixed it, we could also consider backporting that to 1.0.x

[2020-03-27 08:31] KingPegasus commented on #32156
You wrote G instead of C. 'G' is nothing. 'C' is the column.
`import pandas as pd`
`df = pd.DataFrame({'A': [1, 1, 1, 2, 2],  'B': range(5), 'C': range(5)})`
`df.groupby('A').agg({'B': 'sum', 'C': 'min'})

![image](https://user-images.githubusercontent.com/29549417/77736855-c1c5e580-702e-11ea-88cf-b990e65d566a.png)

Applying multiple aggregation a column
`df = pd.DataFrame({'A': [1, 1, 1, 2, 2],

[2020-03-27 09:39] AnnaDaglis commented on #29773
take

[2020-03-27 10:57] HYChou0515 opened #33065 "When df more than 60 rows, str(pd.NA) becomes 'NaN'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`str(pd.NA)` should always be `<NA>` or it will be confusing.

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!

**Note**: Many problems can be re

[2020-03-27 11:16] HYChou0515 opened #33066 "pd.NA acts differently when inside/outside a series/dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

pd.NA acts differently when inside/outside a series/dataframe may be confusing. It force me to handle each entry of a series/dataframe.

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do n

[2020-03-27 11:18] TomAugspurger commented on #33049
There's a note [in the docs](https://pandas.pydata.org/docs/user_guide/timeseries.html#dateoffset-objects)

I don't think that orderable methods like gt and lt would be appropriate for DateOffset. Ideally you'd be able to reliably compare all instances of the DateOffset class, but there are things like MonthBegin wouldn't be well defined.

I could see an argument for offsets with a fixed `delta`,

[2020-03-27 11:20] TomAugspurger commented on #33066
You've created an object-dtype Series

[code]

If you create a boolean Series with `dtype='boolean'` you'll get the expected result.

Fixing this may be possible, but I don't think it should be a high priority.

[2020-03-27 11:22] TomAugspurger commented on #33060
@mar-heaven most likely it's an issue with the underlying excel engine (xlrd, openpyxl, etc.)

Try opening it with those directly. And if that works we'll reopen.

[2020-03-27 11:22] #33060 closed

[2020-03-27 11:25] TomAugspurger commented on #33061
cc @mroeschke.

@obeavers is the issue likely in pandas or pytz?

[2020-03-27 11:31] tlorieul commented on #33037
@gfyoung : Actually, the first result you show is what you get by calling `read_csv` with default value for `index_col`, I should have insisted on this.
Indeed otherwise, it seems a plausibly expected behavior.

But, when setting `index_col=False` and when given a header in the CSV file, I would have expected pandas to use it to derive the number of expected columns.
Is there a rational in not doi

[2020-03-27 11:53] mar-heaven commented on #33060
I've tried 'xlwt' and 'openpyxl' and the problem is still.

[2020-03-27 12:31] naveenbhupathi opened #33068 "df.to_feather pandas: Failed to open local file, error: The requested operation cannot be performed on a file with a user-mapped section open."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I applied round function on a column and then applied object to category conversion.
I saved the final dataframe into feather file.

When i tried to read the feather file and save the feather file again, I'm getting file is open as per the error. Now able to understand, why the file is getting locked when i read

[2020-03-27 12:32] TomAugspurger commented on #33025
Long-term I think a toggle is best. I don't know if it's possible today (but it'd be great if someone could experiment).

[2020-03-27 12:33] TomAugspurger commented on #33060
OK, if you can't open the file with one of those libraries directly then the problem is outside of pandas.

[2020-03-27 12:43] mar-heaven commented on #33060
the size of file is 0.

---Original---
From: "Tom Augspurger"<notifications@github.com&gt;
Date: Fri, Mar 27, 2020 20:33 PM
To: "pandas-dev/pandas"<pandas@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"Ginta"<775650117@qq.com&gt;;
Subject: Re: [pandas-dev/pandas] xlsx cannot open on windows 10 (#33060)

OK, if you can't open the file with one of those libraries directly then

[2020-03-27 12:52] jorisvandenbossche commented on #26706
Ran into this again (https://github.com/scikit-learn/scikit-learn/pull/16728), scikit-learn starts to use `hasattr(df, 'sparse')` as the way to check that all columns are sparse. IMO that is really not a good and robust way. Having a `df.sparse.is_sparse.any()/all()` would make this clearer and more robust.

[2020-03-27 12:59] TomAugspurger commented on #26706
Yeah, as you commented there that's definitely not robust. This is a decent argument for having a `.sparse.is_sparse`, as an indication that `.sparse` is a DataFrame accessor that may be present on mixed / all-dense DataFrames in the future.

[2020-03-27 13:21] mproszewska commented on #32667
Does it make sense to add the index parameter if the showindex parameter already exists and will be used in the same way?
I can submit PR with added examples

[2020-03-27 13:23] MaozGelbart commented on #32989
@TomAugspurger  with one point as nan, it raises a ``LinAlgError`` from within the least squares method (for both dependent and independent vectors):
[code]

[2020-03-27 13:27] TomAugspurger commented on #32989
Thanks for checking. So we would likely need to check for the presence of
NA values and raise if there are any.

If there aren't any, we can pass the `IntegerArray._data` through.

But again, this will have to wait until we're comfortable implementing
`IntegerArray.__array_function__` (experimentation would be welcome though).

On Fri, Mar 27, 2020 at 8:23 AM Maoz Gelbart <notifications@github.com

[2020-03-27 13:35] jorisvandenbossche commented on #33065
@HYChou0515 Thanks for the report! This is indeed a bug in the repr of truncated dataframes.

Note that it only happens for object dtype though, not if using one of the new dtypes that use pd.NA:

[code]

[2020-03-27 13:39] jorisvandenbossche commented on #33066
Given the several issues with pd.NA in object dtype, should we consider warning about it? (cfr https://github.com/pandas-dev/pandas/issues/32931)

[2020-03-27 13:56] jorisvandenbossche commented on #32586
Regarding the "`_values_for_factorize` / `_values_for_argsort` / can they be used for more internally" discussion.
I just realized that we actually *should not* use them internally, ideally, according to our current EA interface (so we should fix the few cases we started using them in joining code).
The spec about `factorize` is clear that there are two ways to override its behaviour: implement `_

[2020-03-27 14:18] simonjayhawkins commented on #32194
StringDtype looks OK.

[code]

[2020-03-27 14:24] JochenFromm commented on #32993
The problem also happens for the`pandas.unique` function in `core/algorithms.py`. Normal strings do not cause problems...
[code]
...but for strings that contain the special character \x00 the function only returns one entry (\x01 and \x01 work, though):
[code]

This confirms that the problem probably happens in the hashtable `_libs/hashtable.pyx` as suggested by @TomAugspurger

[2020-03-27 14:39] JochenFromm commented on #32992
I can not reproduce it either, but it could be related to https://github.com/pandas-dev/pandas/issues/15752

[2020-03-27 14:56] tswast opened #33069 "read_sas fails when passed a file object from GCSFS"
#### Code Sample, a copy-pastable example if possible

From https://stackoverflow.com/q/60848250/101923

[code]

[code]
#### Problem description

This throws the following exception:

[code]

#### Expected Output

[code]

Note: the expected output **is** printed when a local file is read.

#### Output of ``pd.show_versions()``

<details>

Python 3.7.3 | packaged by conda-forge | (default, Jul  1 2

[2020-03-27 14:59] #32450 closed

[2020-03-27 15:17] TomAugspurger commented on #33066
By warning, do you mean something in the docs or in code?

+1 to something in the docs. I don't think there's any good reason to end up with an NA in object dtype.

For code, detecting NA would be difficult / slow.

[2020-03-27 15:27] bhishanpdl commented on #33030
I agree with Tom, but If it was implemented with arguments like:
`method='mean'` or `value='mean'`,
then there would be less ambiguity.

[2020-03-27 15:28] jbrockmendel commented on #32586
This is a fair point, especially in light of the fletcher example.

But then why do we need _values_for_factorize and _from_factorize at all?  We can require `factorize` and offer vff/ff as one simple implementation.

If you're referring to ExtensionIndex._get_engine_target, that use _values_for_argsort

[2020-03-27 15:31] TomAugspurger commented on #33030
We do have `method='bfill/ffill'` already, but that's a bit different I think. Those are strategies where the fill value isn't a scalar like mean / max. For scalars, passing the scalar value as the `value` works well.

Random Forest is out of scope, since we don't have a RF implementation in pandas.

Thanks for the suggestion, but I think we'll pass.

[2020-03-27 15:31] #33030 closed

[2020-03-27 15:34] marctorrellas commented on #26706
Excuse my ignorance, but why do we need `df.sparse.is_sparse.all()` when we could have `df.is_sparse.all()`? Don't we have `df.isnull().all()` ? I understand the latter works field by field, whereas `is_sparse` would work column by column, but still, I don't find a reason to write the word `sparse` twice

[2020-03-27 15:36] tswast commented on #33069
Note: the same error occurs with:

[code]

[2020-03-27 15:36] jorisvandenbossche commented on #32586
Yes, that's also possible, and I think we discussed that at some point, but we opted for also having the `_values_for_factorize` to avoid needing everyone to copy paste (and minor edit) the base class `factorize` implementation. It's only a few lines of code so not that much of a problem, but it is using internal API. So we would need to expose the functionality of `_factorize_array` somewhere (eg

[2020-03-27 15:39] jorisvandenbossche commented on #32586
So we should think about whether we can always do with `EA.factorize()` / `EA.argsort()`, or if we have use cases for actually getting an ndarray of hashable/sortable values (and that are not the integers from factorize), to see if we should actually add something to the EA interface like `_values_for_factorize/argsort`, but required (or make one of those two required).

[2020-03-27 15:42] jorisvandenbossche commented on #26706
There is no "need" for that from a technical point of view. But rather, it is to avoid adding a lot of methods/attributes directly on the DataFrame object, so we have accessors that group some data-type specific functionality (like `str`, `dt`, `cat` on Series).
For that reason, I proposed to have it under the `df.sparse` accessor (since it already exists), but it *could* also be directly on the D

[2020-03-27 16:04] jbrockmendel commented on #32586
Got it, thanks.  IIRC the first draft of the PR that did that used `_values_for_argsort`, so that remains an option.  You're right though that using a public method would be preferable.

I think `_get_engine_target` is pretty close to what you're describing.  Or did you have something else in mind?

Using _values_for_argsort (_vfa) for _get_engine_target (_get) makes some implicit assumptions abou

[2020-03-27 16:05] simonjayhawkins commented on #33058
fa48f5f098b5ed49a08b9d19f072559f74e1ccc2 is the first new commit
commit fa48f5f098b5ed49a08b9d19f072559f74e1ccc2
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Wed Mar 11 21:30:02 2020 -0700

    REF: implement _get_engine_target (#32611)

[2020-03-27 16:20] jbrockmendel commented on #32673
@jorisvandenbossche wondering if we can get consensus on a couple of weaker requirements:

1) round-trip-ability for unique arrays?  or for just unique sorted arrays?
2) some form of idempotency?

[2020-03-27 16:21] ghuname opened #33071 "Why pd.BooleanDtype() is casted to Float64 by groupby/last?"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

df.groupby(['a', 'b']).c.last() returns False, but df.groupby(['a', 'b']).d.last() returns Float64.
Why the difference?

#### Expected Output

I expect that both values should be False

#### Output of ``pd.show_versions()``

python           : 3.7.4.final.0
pandas           : 1.0.3

[2020-03-27 16:25] jorisvandenbossche commented on #32673
Since we were just discussing in the other issue about how this `_values_for_factorize` method is (currently) actually only internal to `EA.factorize()`, I don't see the need to hard-require round-trip-ability of arrays including missing values (to be clear, round-trip ability of the uniques (without missing values) is already required and tested).

If we are defining an interface to get values to

[2020-03-27 16:35] thoo commented on #32156
I think this one is also related.

I tried to rename the column right after groupby by the way it is done in `pd.version < 1.0`. I do not get the deprecation warnings like I get in `pd.version < 1.0`.

Here is the example:
[code]
The error message is:
[code]

[2020-03-27 16:37] thoo commented on #32156
We are expecting the appropriate error message. The current error message is not pointing to the right direction.

[2020-03-27 16:40] chrisjcameron commented on #32667
It would be more consistent with the other pandas `to_*` methods if the parameter to control including the index was called `index` rather than `showindex`.

[2020-03-27 16:49] simonjayhawkins commented on #33058
8b6942f2876264b745529a3c3a7cf410ee096c34 is the first bad commit
commit 8b6942f2876264b745529a3c3a7cf410ee096c34
Author: Marco Neumann <marco@crepererum.net>
Date:   Thu Aug 8 22:43:25 2019 +0200

    PERF: break reference cycle in Index._engine (#27607)

    Fixes #27585

[2020-03-27 16:50] chrisjcameron commented on #32667
I think most users will be expecting pandas-like keywords to work, so I would prioritize those. An alternative might be a warning about "When both index and showindex are set, one value will be used but which is undefined". This would at least give users a clue that these need not both be specified but gives a lot of latitude for future refinement that changes the behavior.

[2020-03-27 17:00] obeavers commented on #33061
Looks like its probably a pytz issue: https://github.com/stub42/pytz/issues/31.

[2020-03-27 17:11] gfyoung commented on #33037
I'm confused by this question.  `index_col` is used for determining the index of the `DataFrame`, which is based on first column of data, not the header, which is the first row.

[2020-03-27 17:13] jbrockmendel commented on #33061
IIRC from discussions from @pganssle this is basically the [2038 problem](https://en.wikipedia.org/wiki/Year_2038_problem).  The system tz files only specify DST transitions up to the end of the epoch.

[2020-03-27 17:14] jbrockmendel commented on #33042
Is this the minimal reproducer?  There's a lot going on in this example.

[2020-03-27 17:39] tlorieul commented on #33037
Yes, but what I meant is that when `index_col=False` then it forces pandas not to use the first column as an index and thus the number of columns in the header should be exactly the number of values per row (at least I do not see why it should not be the case).

On the other hand, when `index_col` is not set to `False` an ambiguity still exists. It could either be that there is as many columns in

[2020-03-27 17:49] gfyoung commented on #33037
To some extent that already is happening.  The header we infer has three columns, so the "X" from the first row is omitted (same with the `NaN` in the second row).

[2020-03-27 18:04] MarianD commented on #33044
@TomAugspurger, I just wrote the docstring — see my pull request #33073.

[2020-03-27 18:09] mproszewska commented on #32822
This is because `sub` function on DataFrames is executed differently when DataFrames have just one column. For DataFrames with more columns result is calculated sequentially like on sequence of Series.
[code]
When DataFrames contain only one column, `sub` is calculated on numpy arrays and hence result array dtype is object (casting int and NA).

Function `ops.should_series_dispatch` is responsible

[2020-03-27 18:37] mproszewska commented on #32727
take

[2020-03-27 18:41] pganssle commented on #33061
It's not actually that the system tz files only specify DST transitions to the end of the epoch, it's just that `pytz` and `dateutil` process only the Version 1 portion of the files, where the transitions are specified as 32-bit integer offsets from the Unix epoch. The system data almost always actually has the data you need, and [the reference implementation for PEP 615](https://github.com/pganss

[2020-03-27 18:56] shoyer commented on #33001
Strong 👍 from me. "False immutability" has resulted in a number of subtle downstream bugs in xarray, for example.

I think it would be better to make an extra array copy when converting from an `Index` to a `Series` than to allow modifying the series to break the values. Ideally we would have copy-on-write, but that's a bigger challenge.

[2020-03-27 18:56] tlorieul commented on #33037
So you believe this should be silently omitted without at least a warning,
an exception or some form of feedback to the user?

Le ven. 27 mars 2020 à 18:49, gfyoung <notifications@github.com> a écrit :

[2020-03-27 19:06] jbrockmendel commented on #32673
Basically theround-trip-ability of the uniques-without-missing-values that you mentioned.

We can stick a pin in this, as I've come around to "rip these out entirely"

[2020-03-27 19:14] gfyoung commented on #33037
I think a warning would be an interesting option to explore.  Losing data is something we try to avoid as much as possible.

[2020-03-27 19:22] jorisvandenbossche commented on #32673
As I already mentioned a few times: we already have this requirement (so I don't think it's something we need to agree on :-))

That would break several external projects, including GeoPandas. We could potentially deprecate it, but we at least need to keep it around for some time.

[2020-03-27 19:25] mproszewska commented on #29417
Shifts are done on NDFrames and NDFrame executes `shift` on each of blocks (as @haichuan0424 described), hence non intuitive results. I'm not sure if this is a bug, but IMO this could be solved by having alternative implementation for `DataFrame.shift`

[2020-03-27 19:37] nabeel-hasan opened #33076 "Pandas styling is not rendered in Github"
**My pandas style for background in the local jupyter notebook looks like this** I am using version 1.0

![Screenshot from 2020-03-25 13-19-55](https://user-images.githubusercontent.com/59860027/77793524-3d0bb380-7090-11ea-9173-86002e37151f.png)

**But once i push the notebook in Github the rendering does not work it looks like this in github**

![Screenshot from 2020-03-25 13-20-40](https://user-

[2020-03-27 19:45] TomAugspurger commented on #33076
Github strips CSS and javacript from their rendered notebooks as a security measure. You might try https://nbviewer.jupyter.org/ instead.

[2020-03-27 19:45] #33076 closed

[2020-03-27 19:49] TomAugspurger opened #33077 "CI: Test failing on master"
An s3 / pyarrow test is failing on master. Does anyone have time to debug it?
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=31733&view=logs&j=a3a13ea8-7cf0-5bdb-71bb-6ac8830ae35c&t=add65f64-6c25-5783-8fd6-d9aa1b63d9d4&l=115.

There was an s3fs release earlier today, if that's related.

[code]

[2020-03-27 20:29] dmh43 commented on #32988
Thanks for looking into this! Unfortunately, I'm not familiar enough with pandas internals to review your changes.

[2020-03-27 20:37] TomAugspurger commented on #33068
@naveenbhupathi can you post the full traceback?

[2020-03-27 21:28] jbrockmendel commented on #33077
Opened a PR to see if pinning at the previous s3fs fixes it

[2020-03-27 22:39] mroeschke commented on #33061
Is it worth raising a warning in cases where user are attempting timezone conversions past 2038?

[2020-03-27 22:52] jesse-norris opened #33082 "Accessing DataFrame with DatetimeIndex behaves unexpectedly with reverse chronological ordered data"
#### Problem description

When a Panda's DataFrame with a DatetimeIndex is in reverse chronological order accessing the data using the .loc method does not work unless the range is _also_ in reverse order.

#### Code Sample

[code]

Accessing the date range 2020-03-24 through 2020-03-25 for this DataFrame results in the following:

[code]

However, reversing the date range returns the expected out

[2020-03-27 23:02] jbrockmendel commented on #33042
This is _correctly_ raising `TypeError: unhashable type: 'slice'` on the `slice(3)`.  It is invalid in a list-indexer.

If instead you do `data_raw.loc[(slice(None), slice(None), [np.nan, 3]), :]` you get back something reasonable.

[2020-03-27 23:45] jbrockmendel commented on #33077
Would s3fs or fastparquet (or anything else in the stack for that test) write something like `Timestamp.now().strftime(...)` to the file that we then read in order to round-trip?

[2020-03-27 23:51] obeavers commented on #33061
Yes, it’d be absolutely worth raising a warning.

From: Matthew Roeschke <notifications@github.com>
Sent: Friday, March 27, 2020 3:40 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Oliver Beavers <oliver@triviumfinancialgroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [pandas-dev/pandas] DateTimeIndex.tz_convert() does not apply DST from 2038 onward (#33061)

Is it worth rai

[2020-03-28 00:23] pganssle commented on #33061
Do you mean in `pytz` / `dateutil` or in `pandas`? I think in either case the answer is still probably "no", but the case for doing it in `pandas` is weaker than the case for doing it in one of the upstream libraries, since it's a bug in those libraries and (mostly) not a bug in `pandas` (meaning that you'd be spewing erroneous warnings if they fixed it in those libraries).

The reason I say it's

[2020-03-28 00:33] pdemarti opened #33087 "Cannot specify pickle protocol used when writing HDF5."
#### Problem description

It appears currently impossible (unless I'm mistaken) to specify what pickle protocol will be used by `DataFrame.to_hdf()` (and thus by `PyTables`) if pickling is necessary. That makes it impossible to share HDF5 data written and read by a mix of clients running py37 and py38.

In Python 3.8, pickle protocol 5 was introduced ([PEP-574](https://www.python.org/dev/peps/pep-

[2020-03-28 00:55] jreback commented on #33087
you are asking for forward compatibility which is not generally supported in pickle.
you can certainly have backward compatible pickles, eg you always write jn 4, which can be read by 5, but the reverse is not easy / possible.

i suppose you could add an option to support a protocol version.

I am not sure why you actually care about version 5; if you are writing pickled then is not very performan

[2020-03-28 01:13] jbrockmendel commented on #30609
@WillAyd I can't build master on OSX with py38 bc of tp_print warnings and "Werror".  Can you?

[2020-03-28 01:14] WillAyd commented on #30609
Haven’t set up a 38 env yet - can you post the warnings?

Sent from my iPhone

[2020-03-28 01:14] jbrockmendel commented on #32498
@MomIsBestFriend can you double-check on master?  I can't reproduce this on OSX or Linux in 3.8.2

[2020-03-28 01:18] jbrockmendel commented on #30609
They end with:

[code]

[2020-03-28 01:39] WillAyd commented on #30609
Can you look at the C file and see the Cython code that generates the line throwing the warning?

[2020-03-28 02:06] pdemarti commented on #33087
Oh, to be clear, I'm not directly writing to pickle, but **to HDF5**. Yet, in some circumstances, it seems that the operation of writing to HDF5 uses pickling. In those cases, I couldn't care less about what pickle protocol it uses, except that I want all my clients to be able to read it.

Alas, in those cases where `DataFrame.to_hdf()` resorts to some pickling, it is always with `HIGHEST_PROTOCOL

[2020-03-28 02:19] dsaxton commented on #33071
Thanks. Looks like the bug exists at least for `min` and `max` as well:

[code]

[2020-03-28 02:58] dsaxton opened #33090 "SeriesGroupBy.first / last loses categorical dtype"
On 1.0.3 and master:
[code]
gives
[code]
but the dtype should still be categorical and not int64. This seemingly wrong output is explicitly tested for here: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/groupby/aggregate/test_aggregate.py#L461

[2020-03-28 03:43] neilkg commented on #33012
take

[2020-03-28 05:51] yohplala commented on #33049
Hi Tom,
Thanks for your feedback.
What I have in mind is to manage a dict separately with string aliases for Timedelta, and DateOffset.

[code]
This way, if I need to compare, I can use Timedelta string representation in to_timedelta, and when I use them for what they are, frequency for Period & PeriodIndex, I can use DateOffset.
Thanks,
Bests,

[2020-03-28 06:06] yohplala opened #33094 "Discrepancy in DateOffset & Timedelta string representation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hello
I am aware Timedelta & DateOffset objects are not supposed to have same representation, but could their string aliases be different when they cannot be mapped to each other?

For Timedelta & minute, I understand that representations should be 'min' or 'T' so I am surprised 'M' is accepted.

For DateOffset

[2020-03-28 06:55] sathyz commented on #30999
pandas/tests/arithmetic/test_timedelta64.py => #33010

pandas/tests/scalar/timestamp/test_arithmetic.py => no issue
pandas/tests/scalar/timestamp/test_comparisons.py => no issue
pandas/tests/scalar/timestamp/test_constructors.py => no issue
pandas/tests/scalar/timestamp/test_timezones.py => no issue
pandas/tests/scalar/timestamp/test_unary_ops.py => no issue

pandas/tests/arrays/test_boolean.py =>

[2020-03-28 07:05] nabeel-hasan commented on #33076
Thanks for the help Tom

[2020-03-28 07:08] naveenbhupathi commented on #33068
Hi @TomAugspurger ,

This error was caused when i read feather file and again writing to feather file.

**Scenario - 1**
df.to_feather("temp")
**df = pd.read_feather("temp")**
df.to_feather("temp")

**Scenario - 2**
There is no issue If i don't read feather file and going to write file again.
df.to_feather("temp")
df.to_feather("temp")

Traceback details for **Scenario - 1** below.,

-------------

[2020-03-28 07:16] SylvainGuieu opened #33095 "Question/Suggestion : Window or Rolling does not have a `get_window` public method"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Sometime you receive a Rolling or Window from somewhere and want, e.g. plot its shape.
Would be convenient to have a public method or property to get the array window weight instead of  private `._get_window` method.
could not found one.

[2020-03-28 10:52] pplanner16 commented on #33042
@jbrockmendel your suggested filter query `data_raw.loc[(slice(None), slice(None), [np.nan, 3]), :]` filters out all records except where `lmark` is np.nan or 3. How can we filter out all rows where `lmark` > 3? Even when we use your filter query, the z-score calculation still returns a DataFrame where the value of the first record's lmark index changed from NaN to 1.0. Do you know why?

[2020-03-28 11:25] MortenHannemose commented on #14403
Exactly this! Many documents are just stored as "standard" cell type, which causes no problems when the locale is similar. I know experienced several programs/websites that export the excel file in this way.

[2020-03-28 12:33] simonjayhawkins commented on #33071
also occurs for IntDtype see #32194

[code]

[2020-03-28 13:17] PrasannajeetBajpai opened #33097 "i m not able to use this .append function even after the syntax is correct"
import pandas as pd
import xlsxwriter

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A8'],
        'Price': [22000,25000,27000,35000]}

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

def add():
    ans = input ("Want to add more data.?(y/n):")
    if (ans=='y'):
        car_name = input ("Enter name:")
        price = input ("Price:")
        df2 = pd.DataFrame({'Bran

[2020-03-28 13:24] phofl commented on #33097
Him
append is not an inplace modification. You have to do something like

```return df.append(df2, ignore_index = True)```

or

``` df =  df.append(df2, ignore_index = True)```

[2020-03-28 14:03] PrasannajeetBajpai commented on #33097
For
return df.append(df2, ignore_index = True)

it does not work just like before

For
 df = df.append(df2, ignore_index = True)

UnboundLocalError: local variable 'df' referenced before assignment

[2020-03-28 14:08] phofl commented on #33097
The following works for me:

[code]

Output:

[code]

[2020-03-28 14:22] simonjayhawkins commented on #32861
this is a regression from 0.25.3

[code]

06ef193a5c1957c0a76e3e88bc7b834b38972c39 is the first bad commit
commit 06ef193a5c1957c0a76e3e88bc7b834b38972c39
Author: Kaiqi Dong <kaiqi@kth.se>
Date:   Wed Jan 29 21:20:52 2020 +0100

    BUG: regression when applying groupby aggregation on categorical columns (#31359)

just before this, returned pd.NA as now expected.

[code]

[2020-03-28 14:26] simonjayhawkins commented on #32861
xref #32194 and #33071 for other regressions caused by same commit.

[2020-03-28 15:03] simonjayhawkins commented on #33090
Thanks @dsaxton for the report. for reductions that are elements of the original this makes sense to me too, but IIUC the change in behaviour is for reductions for which the return value may not be in the categories.

for me, this is a regression.

[2020-03-28 15:07] sumanau7 commented on #32108
take

[2020-03-28 15:15] roberthdevries commented on #32951
take

[2020-03-28 15:25] sumanau7 commented on #32108
@MarcoGorelli Request you to review.

[2020-03-28 15:34] SurajH1 commented on #25257
take

[2020-03-28 15:47] SurajH1 commented on #32207
@WillAyd should I take this one?

[2020-03-28 16:00] PrasannajeetBajpai commented on #33097
thanks a lot man...i don't know how i missed that  and sorry for the example thing actually i don't know
how to do things here i just came 3 hours ago here again thanks a lot man i really appreciate it.

[2020-03-28 16:13] phofl commented on #33097
Your welcome.

Could you close the issue, if everything works?

[2020-03-28 16:24] sumanau7 commented on #31883
@MillanSharma you are still working on it ?

[2020-03-28 16:39] #33097 closed

[2020-03-28 16:54] daxid commented on #32108
Too bad, my colleague and I had a test ready since Monday.
He mentioned this thread in his commit (https://github.com/Tetras-Libre/pandas/commit/74e65a8f9372b893a3d228973fdd9472de971ff3) but I forgot to make the pull request :-(

@MarcoGorelli to review, test should pass on master but fail on 2.0.x branch

[2020-03-28 17:01] #33077 closed

[2020-03-28 17:07] simonjayhawkins commented on #33090
in 0.25.3 this incorrectly returned pandas.core.arrays.categorical.Categorical

[code]

6d35836ec25b33990e6d962aff52e388652f65ce is the first bad commit
commit 6d35836ec25b33990e6d962aff52e388652f65ce
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Thu Oct 17 15:17:13 2019 -0700

    Stop catching TypeError in groupby methods (#29060)

after this gave
[code]

[2020-03-28 17:08] sathyz commented on #28372
doesn't make any difference, it just means you need first two rows. just that you won't see the last row.

[2020-03-28 17:26] sumanau7 commented on #32108
@daxid Missed it, i have closed my pull request please feel free to raise a new pull request, in case the issue is not resolved in few weeks, i will reopen my pull request.

[2020-03-28 18:19] MarcoGorelli commented on #32108
@daxid can you make the pull request and either link to it here, or write "closes #32108" in its body?

[2020-03-28 18:45] simonjayhawkins commented on #31801
d75ee703efc0d201af2f05bd166b0f58ec5977b5 is the first bad commit
commit d75ee703efc0d201af2f05bd166b0f58ec5977b5
Author: William Ayd <william.ayd@gmail.com>
Date:   Sat Aug 24 00:38:17 2019 +0200

    Remove Encoding of values in char** For Labels (#27618)

[2020-03-28 19:07] jbrockmendel commented on #33082
In pandas.core.indexes.datetimelike L421 there is a comment "# TODO: does this depend on being monotonic _increasing_?" that seems like it might be related

[2020-03-28 19:31] simonjayhawkins commented on #31801
this was fixed by #32214

35537dddab75f82b83d4dc05f0f42404f459673a is the first new commit
commit 35537dddab75f82b83d4dc05f0f42404f459673a
Author: Daniel Saxton <2658661+dsaxton@users.noreply.github.com>
Date:   Wed Feb 26 06:39:55 2020 -0600

    BUG: Cast pd.NA to pd.NaT in to_datetime (#32214)

[2020-03-28 20:05] simonjayhawkins commented on #31801
this was also initially broken by #27618

[code]

however, this was fixed in #30977

9c33464768071184a6e26dcae79f75b1abf840a0 is the first new commit
commit 9c33464768071184a6e26dcae79f75b1abf840a0
Author: William Ayd <will_ayd@innobi.io>
Date:   Sat Jan 18 07:34:12 2020 -0800

    JSON Date Handling 1.0 Regressions (#30977)

[2020-03-28 20:21] simonjayhawkins commented on #32988
this was working in 0.25.3 so this is a regression

[code]

[code]

[2020-03-28 21:02] mroeschke commented on #33095
pandas just uses `scipy.signal.get_window(win_type, window, False)` for the window weights. These weights are not really meant to be exposed since they are only calculated during the aggregation.

[2020-03-28 21:03] simonjayhawkins commented on #32988
01f90c187f0eec0e8178371d7c066e600c9e105b is the first bad commit
commit 01f90c187f0eec0e8178371d7c066e600c9e105b
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Aug 12 11:58:42 2019 -0700

    CLN: short-circuit case in Block.replace (#27768)

[2020-03-28 21:07] mroeschke commented on #33061
Might be worth documenting in the user guide rather than provide a runtime warning: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#time-zone-handling

[2020-03-28 21:36] obeavers commented on #33061
As the user that made the mistake, runtime warning should be important here – code snippets get copied/pasted etc. It would have been fantastic to know something was wrong deep in the code.

From: Matthew Roeschke <notifications@github.com>
Sent: Saturday, March 28, 2020 2:07 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Oliver Beavers <oliver@triviumfinancialgroup.com>; Mention <mentio

[2020-03-28 21:48] Kieran-Bacon commented on #9958
I'm seeing the same issue still seems to be present in 1.0.0 on inner join

[2020-03-28 23:26] aadishms commented on #32993
take

[2020-03-29 01:56] jbrockmendel commented on #32740
The suggested edit has already been made on master (for unrelated reasons).  Is the issue fixed?  If so, want to make a PR with a regression test?

[2020-03-29 02:17] mroeschke commented on #32740
Yup looks fixed on master. Could use a test

[2020-03-29 03:45] WhistleWhileYouWork commented on #32865
Hi, I came here to report this issue as well. I wanted to chime in on a couple things.

First thanks for `pandas` and this very useful new feature!

I think that at the very least there should be support of window functions for forward-looking windows. Forward-looking windows is an oft-requested feature (here in pandas issues) and rolling Indexer support was a huge step in the right direction.

Wi

[2020-03-29 08:45] tgy opened #33113 ".astype(SparseDtype(float)) on empty dataframe leads to "ValueError: No objects to concatenate""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Converting an empty dataframe to a sparse representation leads to a `ValueError`.

[code]

#### Expected Output

I expected this to work even though the dataframe is empty.

#### Output of ``pd.show_versions()``

[code]

</details>

[2020-03-29 09:00] tgy commented on #25777
I have the same issue today. is someone working on this?

[2020-03-29 09:53] MarcoGorelli opened #33114 "concatenating frame and series with identical keys returns " int() argument must be a string""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This returns

<details>

<summary>Traceback</summary>

[code]

</details>

[code]

#### Expected Output

I would either expect this to work, or for it to return
[code]
, which is what happens when you do
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit

[2020-03-29 10:15] sumanau7 commented on #20647
take

[2020-03-29 10:40] simonjayhawkins commented on #25353
pandas matches the behaviour of numpy

[code]

[2020-03-29 11:14] MomIsBestFriend commented on #32498
I have checked again, and I could __not__ reproduce, I have recently installed conda, so now I have python 3.7 (and not 3.8).

---

Output of ```pd.show_versions()```:

<details>

INSTALLED VERSIONS
------------------
commit           : 36d6583cf51ff6de5b6d82a63391561056a696e6
python           : 3.7.6.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.5.13.a-1-hardened
Ver

[2020-03-29 11:15] MomIsBestFriend commented on #32498
@jbrockmendel Feel free to close this issue if we do not support 3.8.

[2020-03-29 11:21] simonjayhawkins commented on #31708
makes sense, see https://github.com/pandas-dev/pandas/pull/28176#issuecomment-582895281, can we do this seperate to #28176 to resolve this regression.

[2020-03-29 11:36] simonjayhawkins commented on #33090
some overlap with #29746

[2020-03-29 11:37] simonjayhawkins commented on #29746
closing this in favour of #33090 since the bahaviour has changed and no longer raises `NotImplementedError: category dtype not supported`

[2020-03-29 11:37] #29746 closed

[2020-03-29 11:53] simonjayhawkins opened #33115 "REGR: unhelpful error message with np.min on unordered Categorical"
xref #28949

on master

[code]

on 0.25.3

[code]

[2020-03-29 12:54] simonjayhawkins commented on #33115
regression caused by #27929  (between 0.25.3 and 1.0)

37526c1ddbe0952dffe16ac0fe158a00aa7b397f is the first bad commit
commit 37526c1ddbe0952dffe16ac0fe158a00aa7b397f
Author: Mak Sze Chun <makszechun@gmail.com>
Date:   Mon Dec 2 18:37:11 2019 +0800

    API/DEPR: Change default skipna behaviour + deprecate numeric_only in Categorical.min and max (#27929)

cc @makbigc

[2020-03-29 14:16] mariolovric opened #33120 ".gt() add support for single column dataframes"
It would be great if when comparing df to series like in pandas .gt() or .lt() one could compare also to single column dataframes instead of series.
Maybe also extend it to other functions?

Thanks

This works:
[code]

This doesnt
[code]

[2020-03-29 14:44] neilkg commented on #33051
I'd like to look into this!

[2020-03-29 15:48] simonjayhawkins commented on #33113
Thanks @tgy for the report. The same exception is raised for Int64Dtype, StringDtype and BooleanDtype and maybe more.

[2020-03-29 15:50] tgy commented on #33113
@simonjayhawkins yep, i used `float` as an example but i think it fails for all the types because the code clearly does the same thing for all these types. see #33118

[2020-03-29 15:54] #32792 closed

[2020-03-29 15:59] neilkg commented on #33051
@jbrockmendel I don' think this is a bug. For NewYearsDay for both USFederalHolidayCalendar() and USTradingCalendar() above, the observance=nearest_workday. So if a holiday lies on Saturday, it will be observed on Friday. Likewise if a holiday lies on Sunday, it will be observed on Monday. So in the case above, 1982-12-30 is a Thursday, so because 1983-01-01 lies on a Saturday, the correct answer

[2020-03-29 16:22] jbrockmendel commented on #32498
we definitely want to support 3.8, so need to track down what conditions this fails in

[2020-03-29 17:24] ghuname commented on #33071
You are welcome. I am glad that I can participate (at least by testing) to the development of such a marvel as pandas is.

Best regards.

[2020-03-29 17:27] ghuname commented on #33071
In dataframe bellow, lag is Int64 dtype, that I had to cast to int in order make it work:

`df_window_lag_sum.assign(lag=lambda x: x.lag.astype(int)).groupby(['cgrp', 'topic']).lag.quantile(quantily_cut_off_value)`

Regards.

[2020-03-29 19:09] mroeschke commented on #23037
I think is the intended behavior.

When `concat`ing two different dataframes with different timezone information (in this case `None` and `UTC`, we aim to preserve the timezone information on both sides so the object type is expected. One can use `to_datetime` to get back a `datetime64[ns, UTC]` dtype after the operation

[2020-03-29 19:09] #23037 closed

[2020-03-29 19:38] dsaxton opened #33127 "DataFrame / Series reductions return NaN rather than NA when below min_count"
1.0.3 or master:
[code]
but the documentation says we should get `NA` when we're below `min_count`. This kind of gets to the question of whether this is a "missing value" or an "undefined operation," if this actually matters, as well as the actual meaning of `NA`.

In the new masked reductions under `/core/array_algos/masked_reductions.py` we're (correctly?) outputting `NA`.

cc @jorisvandenbossch

[2020-03-29 19:51] SaturnFromTitan opened #33128 "Explain how and when to use indirect fixtures"
As mentioned in https://github.com/pandas-dev/pandas/pull/32963#issuecomment-605675606, it would be worthwhile to document this. I'm now sure if we already have consensus on that though. Would be good to make a proposal in a PR and then have a discussion on it.

[2020-03-29 20:33] yohplala opened #33129 "feature request: anchoring suffix for hours"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Please, can anchoring suffix be made available for hours, using midnight as the reference point.

Thanks for your feebdack,
Have a good day,
Bests,

[2020-03-29 20:39] mriswithe opened #33130 "build_table_schema references non-existent _as_json_table_type"
#### Problem description
Documentation issue: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.build_table_schema.html
(and master branch contains this as well)

Description contains:
[code]
Which I cannot find anywhere else in the documentation

[2020-03-29 20:49] laserjeyes commented on #28778
The main inconvenience of the new behaviour, IMHO, is that all code written for prior versions is extremely likely to need a lot of `fillna()` to be added.

[2020-03-29 22:19] topper-123 opened #33131 "BUG: Copying PeriodIndex levels on MultiIndex loses weakrefs"
As per [comment](https://github.com/pandas-dev/pandas/pull/32669#issuecomment-605525216) by @jacobaustin123:

[code]

#### Problem description

The weakly referenced PeriodIndex er dropped before intended, so the ``PeriodEngine`` gets a ``None`` instead of the PeriodIndex.

#### Expected Output

The above should return True.

[2020-03-29 22:19] falcaopetri opened #33132 "BUG: wrong df.groupby().groups when grouping with [Grouper(freq=), ...]"
#### Code

[code]
#### Problem description
This issue is an extension of the bug reported in #26326. The PR #26374 resolved the bug for the case of when we have a nested `BaseGrouper`. Nonetheless, having a nested `BinGrouper` still results in wrong behavior, as can be checked by the above code.

Note that `len(result)` is based on `len(result.groups)`, and that `result.groups` should return the f

[2020-03-29 22:27] rhshadrach commented on #28473
I have a fix for the exception that is currently raised in master that @TomAugspurger  reported. I'm seeing different output than what @sejsingffdc has, and I'm wondering what the desired result is. Here is the result from df (in the code above):

[code]

And here is the result from df2:

[code]

It seems to me that df2 is correct - it has for each group and each row the name of the column which h

[2020-03-29 22:37] falcaopetri commented on #33132
Using the previous example code, we have:
[code]

As discussed in #26326, the issue is in
https://github.com/pandas-dev/pandas/blob/7673357191709036faad361cbb5f31a802703249/pandas/core/groupby/ops.py#L253
This will zip the iteration over `BinGrouper`
(`[Timestamp('2020-03-29 00:00:00', freq='D'), Timestamp('2020-03-30 00:00:00', freq='D')]`),
and `result.grouper.groupings[1].grouper`
(`Index(['C',

[2020-03-29 22:51] dsaxton commented on #33071
@ghasemnaddaf Can you provide a small reproducible example for this problem?

[2020-03-29 23:15] falcaopetri commented on #33132
I've tried to fix this in the above PR, but it breaks too many things. The basic idea was to make `BinGrouper.groupings` aware of the correct index it should return.
https://github.com/pandas-dev/pandas/blob/7673357191709036faad361cbb5f31a802703249/pandas/core/groupby/ops.py#L839-L843
Any idea on a better approach?

[2020-03-29 23:54] dsaxton opened #33136 "SeriesGroupBy.quantile doesn't work for nullable integers"
[code]
raises
[code]

cc @ghuname xref https://github.com/pandas-dev/pandas/issues/33071

[2020-03-30 02:29] mroeschke commented on #27025
I think the remaining issue is a duplicate of https://github.com/pandas-dev/pandas/issues/26236 since `query` uses `eval` under the hood

[2020-03-30 02:29] #27025 closed

[2020-03-30 02:52] mroeschke commented on #28034
I imagine any piece of logic that is trying to detect the original timezone and suddenly getting UTC would be impacted by automatic coercion to UTC.

As mentioned above, this was a deliberate API change and this is a move toward maintaining original data types. Going to close this issue as there's not much appetite to go the other direction

[2020-03-30 02:52] #28034 closed

[2020-03-30 03:03] mroeschke commented on #28552
This looks fixed on master and could use a test:

[code]

[2020-03-30 03:18] mroeschke commented on #30086
Confirmed. Could use a test

[2020-03-30 06:56] jorisvandenbossche commented on #28778
@laserjeyes note that in the meantime, NAs are considered as False when it comes to filtering, which should normally lessen the need to the `fillna()` often (see https://github.com/pandas-dev/pandas/pull/31591).

[2020-03-30 07:11] jorisvandenbossche commented on #33127
I don't fully understand your question? It seems to be correctly returning NaN? (since the count (1) is below `min_count` (2)).
If it is about returning NaN and not NA, you are having a float dtype, so there we use NaN as missing value indicator. Hence it is returning NaN. But eg with the nullable int64 dtype, this already correctly returns NA:

[code]

[2020-03-30 09:07] sumanau7 commented on #32108
@daxid Please run `black pandas` and update the PR.

[2020-03-30 12:33] dsaxton commented on #33127
Yes, you're right, wasn't thinking :)

[2020-03-30 12:33] #33127 closed

[2020-03-30 12:34] ghuname commented on #33071
Here you go:

[code]

[2020-03-30 12:39] simonjayhawkins commented on #33041
xref https://github.com/pandas-dev/pandas/issues/11754#issuecomment-277787396

[2020-03-30 12:41] simonjayhawkins commented on #11754
This is fixed on master

[code]

[2020-03-30 12:54] TomAugspurger commented on #28473
I'm not actually sure what the expected output is. It's not clear to me what is being passed to idxmin.

[2020-03-30 12:56] AlexKirko commented on #32865
@mroeschke , thank you for implementing the error-raising behavior!
I'll work on the functions one by one, starting tomorrow (one PR per function), and we'll see how it goes.
@WhistleWhileYouWork , thanks for taking interest in this! Another possible workaround to get efficient forward-looking computation right now is to pad the Series appropriately, shift, use normal backward-looking windows, the

[2020-03-30 13:10] crepererum commented on #32586
Sorry for joining that late, but here are some comments from the perspective of [rle-array](https://github.com/JDASoftwareGroup/rle-array), which is a very simple example of how EAs could use for transparent and efficient compression. Some of it is more a question or a wish, so please take it with a grain of salt. Also, thanks for the whole initiative :)

## Types
It would be nice if we could inde

[2020-03-30 13:19] harmbuisman opened #33141 "Pandas cut method gives an error if labels are non-unique"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I want to use pandas cut to fill in labels for ranges that are scattered. E.g. I want to map the following table onto my data, where the definitions span ranges that are scattered across the morphology continuum:
![image](https://user-images.githubusercontent.com/7702207/77915793-5aab6980-7298-11ea-945b-839b954d

[2020-03-30 13:39] simonjayhawkins commented on #11754
fixed in #32089 which is not yet released, so could also add a whatsnew to 1.1 for this issue.

dafec63f2e138d0451dae5b37edea2e83f9adc8a is the first new commit
commit dafec63f2e138d0451dae5b37edea2e83f9adc8a
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Sat Feb 22 07:56:03 2020 -0800

    BUG: DataFrame.iat incorrectly wrapping datetime objects (#32089)

[2020-03-30 13:41] TomAugspurger commented on #33141
I don't think that non-unique labels are possible to support with the current implementation of `cut` and `Categorical`, and I don't think that is likely to change any time soon.

[2020-03-30 13:47] EbrahimKaram commented on #12823
Did anyone solve this?
I'm using pandas version 1.00

Here is my pd.show_versions() output.
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : N

[2020-03-30 13:52] TomAugspurger commented on #33061
+1 to documenting this in our user guide.

I don't think we should be warning. The underlying tz library should be able to detect and warn for that better than we can.

[2020-03-30 14:06] sejsingffdc commented on #28473
@rhshadrach yes exactly, that's my expectation. The shape of the resulting DataFrame should be independent of the number of groups.

[2020-03-30 15:10] harmbuisman commented on #33141
@TomAugspurger, thanks for your assessment. Just to clarify, I do not want multiple categories with the same label.

Would it be possible to skip the conversion to Categorical if a new pd.cut argument, e.g. labels_as_categories==False in tile.py, lines 415-416 in the  _bins_to_cuts method?

`
if not is_categorical_dtype(labels):
labels = Categorical(labels, categories=labels, ordered=True)`

[2020-03-30 15:23] TomAugspurger commented on #33141
I'm not sure. Would that change the result type? If so, it's probably not
an option.

On Mon, Mar 30, 2020 at 10:10 AM harmbuisman <notifications@github.com>
wrote:

[2020-03-30 15:44] simonjayhawkins commented on #32896
This didn't silently fail on 0.25.3

[code]

922f93200833d9c51ee78c68b0912e359e0fbc73 is the first bad commit
commit 922f93200833d9c51ee78c68b0912e359e0fbc73
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Thu Feb 27 04:52:36 2020 -0800

    PERF: pass through to numpy validation for iloc setitem (#32257)

cc @jbrockmendel

[2020-03-30 15:44] sathyz commented on #30999
@sumanau7 did you list the files that you are taking up? I'm working on some of the files that I see you have merged.

[2020-03-30 16:13] simonjayhawkins commented on #24798
Issue 1A (ValueError: Buffer has wrong number of dimensions (expected 1, got 0)) is fixed on master

[code]

[2020-03-30 16:18] ivan7707 opened #33146 "Error in slicing by datetime January 1, 2020"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Slicing by datetime index on January 1, 2020 returns the whole DataFrame

**print(df['2020-01-01':])**

Shows the whole DataFrame

#### Expected Output
# only January 1 does not work properly

**print(df['2020-01-01':])**

incorrectly shows the whole DataFrame

                   No  CB
2020-01-01  123  Sc
1900-

[2020-03-30 16:24] #26761 closed

[2020-03-30 16:52] jbrockmendel commented on #32586
@crepererum w/r/t all of the issues with `ea[foo]`, we are implicitly assuming numpy-like behavior w/r/t the _shape_ of what is returned, but authors have pretty wide latitude otherwise.  Making this more explicit is probably worthwhile.

We definitely have older code that treats some internal EAs specially, but we're trying to get away from that pattern.  If you have examples of where this is cau

[2020-03-30 17:01] WillAyd commented on #30609
@jbrockmendel can you confirm downgrading Cython to 0.29.13 fixes the issue? From what I can tell this started back with a fix in Cython 0.29.10 https://github.com/cython/cython/issues/2976 which worked around an issue with the Py38 beta https://bugs.python.org/issue37250

Interestingly enough I noticed a change in Cython 0.29.14 that reintroduced code paths touching `tp_print` in https://github.c

[2020-03-30 17:08] sumanau7 commented on #30999
Done with
[code]

[2020-03-30 17:28] simonjayhawkins commented on #24798
fixed in #32477

33f67d98aa74bdfdc4237930229b3dbe06d4fca7 is the first new commit
commit 33f67d98aa74bdfdc4237930229b3dbe06d4fca7
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue Mar 10 19:35:21 2020 -0700

    BUG: iloc.__setitem__ with duplicate columns (#32477)

This PR also fixed Issue 1b

[code]

[2020-03-30 17:42] dsaxton commented on #33071
Thanks @ghuname , I've opened up a separate issue / PR for this bug

[2020-03-30 17:56] simonjayhawkins commented on #24798
Issue 2a is a duplicate of #22036 and #15686 and also fixed by #32477 (no additional tests needed)

[2020-03-30 17:56] Manaxx0 commented on #20944
df = df.query('col_name [==, !=, >, <, ...] "something"')

[2020-03-30 18:04] dsaxton commented on #33141
@harmbuisman One easy workaround would be to set labels to `False` and apply a map to the output:

[code]

[2020-03-30 18:05] jbrockmendel commented on #30609
Yes, downgrading to cython 0.29.13 allowed me to compile on 3.8

[2020-03-30 18:25] simonjayhawkins commented on #24269
on master the first case fails to convert now as well.

[code]

[2020-03-30 18:35] simonjayhawkins commented on #15471
on master the message is now `TypeError: cannot do positional indexing on DatetimeIndex with these indexers [2012-01-02] of type str`

[2020-03-30 18:49] simonjayhawkins commented on #13831
the iloc setitem case now raises as expected. on 0.25.3 gave `IndexingError: Too many indexers` same as the getitem cases. but on master now gives `IndexError: too many indices for array`

the loc setitem still does not raise.

[2020-03-30 19:21] jorisvandenbossche opened #33153 "API: require scalar result from the scalar .at indexer"
The `.at` indexer is documented as the fast, restricted version of `loc` to "access a scalar value"  (https://pandas.pydata.org/docs/user_guide/indexing.html#fast-scalar-value-getting-and-setting).

However, currently, there is not always a guarantee that the result will actually be a scalar. For example, with a Series with duplicate index values:

[code]

There are some other possible cases that

[2020-03-30 19:28] neilkg commented on #33068
take

[2020-03-30 19:31] jorisvandenbossche commented on #33153
cc @pandas-dev/pandas-core

[2020-03-30 19:36] simonjayhawkins commented on #20627
this no longer raises `ValueError: Must have equal len keys and value when setting with an iterable` on master.

[2020-03-30 19:36] jbrockmendel commented on #33153
The actual `.at` API is to require scalar _indexer(s)_.  At the very least the docs should be clarified on that count.

[2020-03-30 19:44] jorisvandenbossche commented on #15471
Yes, there have been some PRs related to this recently (eg I did a PR to improve the message (use 'positional' instead of slice, use the name of the class, @jbrockmendel also did some PRs cleaning up those cases), so I think this should also be covered by those PRs, and can be closed now.

[2020-03-30 19:45] #15471 closed

[2020-03-30 20:54] jorisvandenbossche commented on #32586
Thanks a lot for the feedback @crepererum !

All of the example you gave are related to `__getitem__`, and for this specific example, we actually just added a helper function (`check_array_indexer`) to preprocess the indexer:

https://github.com/pandas-dev/pandas/blob/bdf969cd6487c9dd8d26c6810c7589bdc3cda1bc/pandas/core/indexers.py#L348-L361

Now, that is still targetted to handle our own internal

[2020-03-30 21:18] ycopin commented on #15379
Any news on this issue, or a related one? I still wonder why a simple `df.style.format("{:.2f}")` should change the vertical alignment of multi-rows, or how I could simply avoid it.

[2020-03-30 22:10] yohplala opened #33155 "Feature request: first & last for rolling()"
#### Code Sample, a copy-pastable example if possible

[code]
Please, could 'first' and 'last' be made available for rolling window?
Thanks for your support!
Bests,

[2020-03-30 22:15] #22541 closed

[2020-03-30 22:15] rhshadrach commented on #33153
Seems to me #26989 does not address using .at when not all levels are specified. Perhaps you meant another issue?

[2020-03-30 22:29] phofl commented on #16345
Hi, @jreback  @mroeschke

I looked into this a bit. I found the reason, why the column is dropped sometimes and sometimes not. For functions like nlarges and apply (not head) the column is always dropped, if the input ``DataFrame`` equals the output ``DataFrame`` (sorting too!). It is checked, if the ``Index`` was changed. Depending on the result, different code is executed. While I tried to fix t

[2020-03-30 23:17] teto commented on #24542
@kprestel that would be really cool. I do a bunch of read_csv / concatenation / merge of dataframes and not being able to setup the initial datadrame with the correct dtype makes the program a lot more complex.

[2020-03-31 00:11] #33012 closed

[2020-03-31 01:35] jschendel commented on #29697
Yeah, looks to be working on `master`:
[code]
I'm not sure which commit fixed this and I don't immediately see any relevant tests, so would welcome tests for this.

[2020-03-31 01:53] TomAugspurger commented on #33130
That's an internal method. We should probably remove the reference to it and link to https://pandas.pydata.org/docs/user_guide/io.html#table-schema, unless we think that it'd be useful to provide an API and we think we have a stable implementation.

For now, I'd prefer just linking to the docs.

[2020-03-31 01:56] TomAugspurger commented on #32857
We have two possible ways to debug this

1. Figure out why pandas 1.0.2 & 1.0.3 are different. This might be changes in the source code from 1.0.1 or changes in the build configuration (Cython version, etc.)
2. Regardless of the reason, figure out a fix (perhaps by changing pandas' `setup.py`.

I don't think any of the maintainers are on Windows, so if anyone reporting issues is able to debug this

[2020-03-31 02:01] WillAyd opened #33161 "Use empty_frame fixture"
#33148 introduced an empty_frame fixture in the top level conftest. At the same time, we have a lot of `... = DataFrame()` assignments in our tests. We should standardize to use the fixture where appropriate

[2020-03-31 02:06] TomAugspurger commented on #33120
I don't think we should do this. If you want the broadcasting / alignment semantics of a 1D object, you should provide a Series.

Generally speaking, we don't want to make the result type depend on something like the number of columns, just the input types.

[2020-03-31 02:12] andrewczgithub opened #33162 "create rolling values from function that returns a numpy value"
Hi all,

I am trying to create rolling values from a function that returns a numpy value, to get an idea of how stable to value is over time
see my below attempt

' ' 'python

array([-9.51263882e-03, -2.81717483e-02,  9.43949087e-05, ...,
       -9.07504803e-03, -4.77400512e-03,  1.51740085e-03])

[def dist_range(x, y):
  return (np.max(np.abs(x - y), axis=1) - np.min(np.abs(x - y), axis=1)) / (np

[2020-03-31 02:15] jschendel commented on #33141
You can get around this by coercing labels to an unordered `Categorical` prior to calling `cut`:
[code]

Maybe I'm reading too much into the implementation of `cut`, but based on how we always coerce to an ordered `Categorical`, it looks like one of the assumptions is that `labels` are strictly ordered (i.e. label0 < label1 < label2), probably because the corresponding `bins` are required to be. T

[2020-03-31 02:55] dsaxton commented on #33141
@jschendel I could actually understand just always treating the labels as-is without trying to impose the same order as bins, since there are situations where you might want labels that aren't monotone (like if you're doing target encoding for a machine learning model for example). If you do want that order it's very easy to provide labels that just have it by default (like a range). Consider this

[2020-03-31 03:04] charles-typ commented on #33003
Hi @TomAugspurger

Thank you for the advice,  the tests really helped me for understanding the code design.

Closing this issue.

Cheers!

[2020-03-31 03:04] #33003 closed

[2020-03-31 03:09] Jason-M-Chan commented on #33161
Hi, I'm new to open source. Can I take this issue?

[2020-03-31 03:13] mroeschke commented on #33162
For usage questions we recommend using StackOverflow.

This board is for enhancement requests and bugs with the library.

[2020-03-31 03:13] #33162 closed

[2020-03-31 03:25] WillAyd commented on #33161
Sure!

William Ayd
william.ayd@icloud.com

[2020-03-31 03:37] mroeschke commented on #2885
I don't think this API is entirely relevant anymore. `quarterEnd` no longer exists and `month` is not specifiable anymore. Going to close out this issue

[2020-03-31 03:37] #2885 closed

[2020-03-31 03:46] mroeschke commented on #4197
I agree that I think `base` is the proper way to handle this. Changing the `resample` behavior after all this time might be to much of a change. Additionally https://github.com/pandas-dev/pandas/pull/31809 will provide an easier way to specify where the origin timestamp should start at. Closing.

[2020-03-31 03:46] #4197 closed

[2020-03-31 03:51] neilkg commented on #31784
take

[2020-03-31 03:58] mroeschke commented on #5023
Since the `resample` API has changed since the original issue has been posted. I think most of the original points have been addressed:

- closed default behavior is specified
- `how` is no longer relevant (bfill and ffill are separate methods)

We can open up individual issues for any remaining documentation.

[2020-03-31 03:58] #5023 closed

[2020-03-31 04:30] mroeschke commented on #9006
I think the first case raises a sensible error now (not date parsed)
[code]

The 2nd case doesn't seem to raise a sensible error as there is no float column being compared
[code]

[code]

[2020-03-31 04:37] mroeschke commented on #9337
I think this behavior correctly raises now. The original list being used to index the DataFrame does not contain an indicator for the 3rd level which I think is now required. Closing as the expected behavior

[2020-03-31 04:37] #9337 closed

[2020-03-31 04:49] mroeschke commented on #10128
It looks like this properly raises an error now:

[code]

We can change this issue to support `groupby.resample` for MultiIndex DataFrames

[2020-03-31 04:55] mroeschke commented on #10475
The performance of the examples above look equivalent now.

[code]

Closing for now.

[2020-03-31 04:55] #10475 closed

[2020-03-31 05:06] mroeschke commented on #11058
This looks to work on master now. Could use a test

[code]

[2020-03-31 05:14] mroeschke commented on #11217
Since `resample` no longer has a `full_method`, I don't think there's much left to implement directly here. If there's a related need using `ffill` or `bfill`,  a new issue can be opened regarding that. Closing.

[2020-03-31 05:14] #11217 closed

[2020-03-31 05:25] mroeschke commented on #11452
This looks to be a duplicate of https://github.com/pandas-dev/pandas/issues/10128

[2020-03-31 05:25] #11452 closed

[2020-03-31 05:30] mroeschke commented on #11701
Looks to be a duplicate of https://github.com/pandas-dev/pandas/issues/11312

[2020-03-31 05:30] #11701 closed

[2020-03-31 05:39] tgy opened #33166 "DOC: document support for in-memory HDFStore"
It seems to be currently imposible to have an in-memory HDFStore.

Any of my attempts at using `io.BytesIO` failed.

This can be useful for applications where the bytes of the resulting HDF file need to be sent over the network.

[2020-03-31 05:54] mroeschke commented on #13712
I'd be personally -1 on adding a `tz` since we have `tz_localize` and `tz_convert`. Since there hasn't been much activity on this issue I am going to close but open to feedback from others.

[2020-03-31 05:54] #13712 closed

[2020-03-31 06:03] yohplala commented on #33155
Link to [SO question](https://stackoverflow.com/questions/60940098/taking-first-and-last-value-in-a-rolling-window), which provides some input data,as requested by commentators.

[code]

[2020-03-31 06:10] mroeschke commented on #15829
This should be fully correct now and could use a test

[2020-03-31 06:11] jorisvandenbossche commented on #33153
That might be how it is coded, but for example also the reference docstring of `at` speaks about single values: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html

[2020-03-31 06:49] nehalecky commented on #4197
Thanks @mroeschke! Look forward to checking out enhancements to `resample` provided by #31809. Keep it up, pandas team!

[2020-03-31 07:16] jlandercy opened #33168 "Quantile function fails when performing groupby on Time Zone Aware Timestamps"
#### Code Sample, a copy-pastable example if possible

Maybe **not a high priority bug**, but I have the feeling it can easily fixed. I just have not enough understanding on how it should be fixed. Please find below the MCVE to reproduce it:

[code]
#### Problem description

The traceback of the error is a bit laconic and I have not enough experience in Pandas source code to cover all details of t

[2020-03-31 08:52] jmg7173 commented on #28556
@sathyz No, you can take this issue.

[2020-03-31 09:00] yohplala opened #33170 "Feature request: convert period to timedelta"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Hi,
I would like to retrieve the duration of a period as a timedelta.
The 1st three examples are code I thought could be handled by pandas, but they are not.
The last one is an example of result I would like to retrieve.
Here, it is fine, I have the next period, so I can do the difference between the two succes

[2020-03-31 09:21] MMCMA opened #33171 "Resampling consistency issue/question"
#### Code Sample, a copy-pastable example if possible

[code]
Original: freq="M"
            a
2010-01-31  0
2010-02-28  1
2010-03-31  2
2010-04-30  3
2010-05-31  4
2010-06-30  5
2010-07-31  6

-> "b" -> "BM"
              a
2010-01-29  0.0
2010-02-26  1.0
2010-03-31  2.0
2010-04-30  3.0
2010-05-31  4.0
2010-06-30  5.0
2010-07-30  6.0

-> "BM"
              a
2010-02-26  0.0
2010-03-31  2.0
2010-0

[2020-03-31 09:29] buhrmann opened #33172 "value_counts not working correctly on (some?) ExtensionArrays"
#### Code Sample

[code]

[code]

#### Problem description
The problem seems to be that `value_counts()` on a string extension dtype returns an Int64 dtype, and `sum` is not implemented for IntegerArrays , although it is for Series with ExtensionArrays:

#### Expected Output
[code]

[code]

May be related to #22843?

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------

[2020-03-31 09:31] simonjayhawkins commented on #20627
this was fixed in #31897 (to be released in 1.1, so could also add whatsnew)

3da053c7d1b1786689a81b143a7afb57eb4762ad is the first new commit
commit 3da053c7d1b1786689a81b143a7afb57eb4762ad
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Feb 17 16:15:45 2020 -0800

    BUG: fix length_of_indexer with boolean mask (#31897)

[2020-03-31 10:07] mave240 opened #33173 "Setting histogram weights for multiple columns fails"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Trying to plot a histogram of a multi-column data frame with weights fails with `ValueError: weights should have the same shape as a.` There is no error for a single column. It doesn't work with:
[code]
either.

#### Expected Output
A `matplotlib` figure.
![pandas_hist_weights_bug_01](https://user-images.githubu

[2020-03-31 10:21] simonjayhawkins commented on #13427
this is now fixed on master

[code]

[2020-03-31 10:33] crepererum commented on #32586
Thanks a lot for the feedback. I'll try to file bugs for any of the mentioned cases (e.g. unwanted object casts) when I encounter them.

I would say it is always useful:

| EA type | Indexer type | what to do |
| - | - | - |
| RLE | RLE | use special fast-path (could still internally use helper to normalize RLE payload) |
| RLE | other | use helper to normalize input, then maybe use RLE fast-path

[2020-03-31 10:44] anish29292 commented on #33161
can I take a look at this issue?

[2020-03-31 10:55] jreback commented on #33153
thinking this through again, would be ok with raising on a return value that is non -scalar (eg we have duplicates)

[2020-03-31 10:56] simonjayhawkins commented on #11058
Thanks @timfeirg for reporting this issue. before closing this, we should add a test to prevent regressions.

[2020-03-31 10:57] jreback commented on #33166
we https://www.pytables.org/cookbook/inmemory_hdf5_files.html

you need to pass in the driver

we have an open issue about adding this to the documentation where would take a pull request

[2020-03-31 10:59] jreback commented on #33166
but i think i closed that issue so can use this one

[2020-03-31 11:15] simonjayhawkins commented on #13427
fixed in #29700

7eb0db32182f7026292188eac8154bbf715746a6 is the first new commit
commit 7eb0db32182f7026292188eac8154bbf715746a6
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Nov 25 15:45:27 2019 -0800

    BUG: Index.get_loc raising incorrect error, closes #29189 (#29700)

[2020-03-31 11:16] Lawrr commented on #33012
Thanks for the fix guys!

[2020-03-31 11:54] simonjayhawkins commented on #31823
@Niroznak closing for now as not actionable.

[2020-03-31 12:20] simonjayhawkins commented on #32443
also seeing this. (on master and 0.25.3)

[2020-03-31 12:46] simonjayhawkins commented on #32409
not seeing this issue on 0.25.3 or master, but on 1.0.1

[code]

[2020-03-31 13:02] tgy commented on #33166
@jreback passing the driver is possible with pytables but is it also possible in pandas? i don't see any driver option in `pandas.io.pytables`.

[2020-03-31 13:06] TomAugspurger commented on #33173
Thanks for the report. Can you post the full traceback, and investigate where things are going wrong?

[2020-03-31 13:11] jreback commented on #33166
yes, the store supports passing options, something like
[code]

[2020-03-31 13:28] simonjayhawkins commented on #32409
fixed in #31294

f1d7ac6c2e0e7f2da10c5d48a1e5ff5922750b56 is the first new commit
commit f1d7ac6c2e0e7f2da10c5d48a1e5ff5922750b56
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Sat Jan 25 16:34:32 2020 -0800

    PERF: optimize is_scalar, is_iterator (#31294)

[2020-03-31 13:36] AlexKirko commented on #32865
take

[2020-03-31 13:45] mave240 commented on #33173
File "Z:\miniconda3\envs\tf\lib\site-packages\pandas\plotting\_core.py", line 1180, in hist
    return self(kind="hist", by=by, bins=bins, **kwargs)
  File "Z:\miniconda3\envs\tf\lib\site-packages\pandas\plotting\_core.py", line 847, in __call__
    return plot_backend.plot(data, kind=kind, **kwargs)
  File "Z:\miniconda3\envs\tf\lib\site-packages\pandas\plotting\_matplotlib\__init__.py", line 61,

[2020-03-31 14:03] DanananBananan opened #33181 "Timestamp' object has no attribute 'split' problem"
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

df1 = pd.read_excel("npl90.xlsx",parse_dates=True)
dates = []
npl = []
df1.shape
df=df1.iloc[::-1]

df.tail(1)
df=df.head(len(df)-1)
df
df_dates=df.loc[:, "Date"]
df_npl=df.loc[:, 'NPL90+']

#Create independent data set x
for date in df_dates:
    da

[2020-03-31 14:35] simonjayhawkins commented on #32409
this issue started to appear with #29232, so marking as regression.

26cd577c209fcb184369b556747daa0e1dbdd34a is the first bad commit
commit 26cd577c209fcb184369b556747daa0e1dbdd34a
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Tue Oct 29 09:06:49 2019 -0700

    CLN: assorted cleanups (#29232)

[2020-03-31 14:59] TomAugspurger opened #33182 "Support pydata/sparse arrays in DataFrame"
This is a discussion topic for adding the ability to store [pydata/sparse](https://github.com/pydata/sparse) ndarrays inside a DataFrame. It's not proposing that we actually do this at this point.

### Background

`sparse` implements a sparse ndarray that implements (much of) the NumPy API. This differs from `scipy.sparse` matricies which are strictly 2D and have their own API. It also differs fro

[2020-03-31 15:31] TomAugspurger commented on #32443
Thanks. We need to determine whether this is something we want to / can support.

I think the thing to figure out is when NumPy dtypes are not singletons or how we can ensure they factorize the same.

[2020-03-31 16:35] jreback commented on #33182
sounds like a good argument for supporting 2-D EA. We may find that the current BlockManager actually is a reasonable compromise on efficiency for 2-D.

[2020-03-31 17:10] #33131 closed

[2020-03-31 17:14] mroeschke commented on #33181
I Imagine `df_dates=df.loc[:, "Date"]` is not `str` type but `datetime64[ns]` type. If you want to format the dates you can use `dt.strftime` on that column.

For usage questions like these, we recommend using StackOverflow

[2020-03-31 17:14] #33181 closed

[2020-03-31 17:20] mroeschke commented on #33170
I don't think it directly makes sense to have a `to_timedelta` on `Period/PeriodIndex` these represent an interval as a unit while `Timedelta` is a duration.

I think getting the `Timedelta` result as `period.end_time - period.start_time` is idiomatic and you can wrap this operation in your own function as well.

Thanks for the suggestion, but I don't think it's worth adding `to_timedelta` to the

[2020-03-31 17:20] #33170 closed

[2020-03-31 17:31] lschr opened #33186 "pandas >= 1.0.0 fails to read an old HDF5 file"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

While working on pandas 0.25, this fails starting with pandas 1.0.0. The HDF file was created in November 2015 or even earlier and is inside the [zip file](https://github.com/pandas-dev/pandas/files/4410582/beads1.zip). Other files created at the same time seem to work.

The error message is:
[code]

#### Expec

[2020-03-31 17:33] hameerabbasi commented on #33182
One other argument against is that PyData/Sparse doesn’t support object arrays very nicely.

[2020-03-31 17:39] mroeschke commented on #33168
Very similar to https://github.com/pandas-dev/pandas/issues/6409, this data type is not supported probably for many groupby operations.

Thanks for the report! PRs and investigations welcome

[2020-03-31 17:55] jrhemstad commented on #32265
Quick question from someone who is definitely _not_ a Pandas user.

Assuming that Pandas keeps `np.nan` and _doesn't_ add `pd.NA` for floating point types, what would the behavior for `na_position` in [`sort_values`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) be?

As a C++ dev, supporting the `na_position` parameter requires deviating from the IEE

[2020-03-31 18:12] kernc opened #33188 "pd.read_csv header inference"
#### Code Sample, a copy-pastable example if possible

With [data.csv.txt](https://github.com/pandas-dev/pandas/files/4410722/data.csv.txt):

[code]
#### Problem description

Given above-like data, a simple RangeIndex header would be preferred.

As a heuristic, floats are rarely header representatives. As are values that are equal to next row's values. When six sevenths of values are rare header r

[2020-03-31 18:24] #30086 closed

[2020-03-31 18:43] yohplala commented on #33170
Hello Matthew,
I can understand there are certainly other priorities, and this demand is rejected.
But regarding the two reasons, I disagree with both:

- period.end_time - period.start time does not give exactly the same result. So yes, I will rely on the result that it gives and round it to a day.

- pandas documentation uses quite often the terms 'time span' to introduce period, and a span is a

[2020-03-31 18:55] tacaswell commented on #32766
"fixed" by https://github.com/python/cpython/pull/19056 / https://bugs.python.org/issue39999 but at least `ast.slice` is deprecated and should probably be removed from the pandas parser.

[2020-03-31 19:05] #33044 closed

[2020-03-31 19:11] mroeschke commented on #33170
Thank you for all your suggestions so far @yohplala. We really appreciate you engaging with the community and all your suggestions so far.

As pandas has a fairly large API, we are generally hesitant to add new APIs especially if the API ask can be composed from existing APIs.

'time span' is indeed not a very clear description. `Period` is a span that is anchored by 2 dates. `Timedelta` is a span

[2020-03-31 20:08] TomAugspurger commented on #33141
Doesn't `cut` necessarily imply some kind of ordering on the data?

That does seem useful.

I also don't like implicitly returning an unorderd Categorical based on the presence of duplicates in labels. If we want to support this, I say that we offer an `ordered=True` option in `pd.cut`. Then users wishing to support non-unique `labels` can provide a `labels=labels, ordered=False`.

[2020-03-31 20:32] yohplala commented on #33170
Thanks Matthew, I also appreciate your support and effort to bring answers to the huge number of requests you continuously receive and I do understand that to correctly maintain this complex library that pandas is, you need to study with care if a request really is worth it or not.
Thanks again, bests,

[2020-03-31 21:26] #32904 closed

[2020-03-31 23:44] jreback commented on #33186
there is no real guarantee in reading older  files like this; you would have to show the dtypes;
what version
of pandas was this created? what version of python?

but not likely to be able to do anything

[2020-04-01 00:25] #20560 closed

[2020-04-01 00:50] langhimebaugh commented on #20927
Still an issue?  Am I doing something wrong?
import pandas as pd

df_highdate_works = pd.read_sas('highdate_works.sas7bdat')
print(df_highdate_works)
# ========================================================================
#    highDate_num  highDate_date
# 0     2936547.0      2936547.0
# ========================================================================

df_highdate_fails = pd.read_sas('

[2020-04-01 01:35] patrickxli opened #33194 "Pandas 1.03: pandas.tseries.offsets.QuarterBegin not showing correct date"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The code shows the following results:

now - QuarterBegin()
Out[28]: Timestamp('2019-12-01 00:00:00')

which is not expected.

#### Expected Output
Timestamp('2020-01-01 00:00:00')

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
pd.show_version

[2020-04-01 01:57] kernc opened #33196 "to_csv / to_pickle optionally use fast gzip compressionlevel=1"
#### Code Sample, a copy-pastable example if possible

Enhancement proposal

[code]
#### Problem description

Compression of large objects in pandas is slow.

Popular evidence comparing compression levels for average payloads shows [[1]](https://catchchallenger.first-world.info/wiki/Quick_Benchmark:_Gzip_vs_Bzip2_vs_LZMA_vs_XZ_vs_LZ4_vs_LZO) [[2]](https://tukaani.org/lzma/benchmarks.html) that com

[2020-04-01 02:33] mroeschke commented on #16867
This looks to be fixed on master. Could use a test

[code]

[2020-04-01 02:53] mroeschke commented on #19211
Looks like this works now on master Could use a test

[code]

[2020-04-01 03:00] mroeschke commented on #19470
Looks like `get_values` no longer exists, so I imagine this issue is no longer relevant. Closing

[2020-04-01 03:00] #19470 closed

[2020-04-01 03:11] mroeschke commented on #20520
Looks to be fixed on master. Could use a test

[code]

[2020-04-01 03:17] mroeschke commented on #21142
This looks to be fixed on master. Could use a test

[code]

[2020-04-01 03:19] mroeschke commented on #21275
Frequency looks preserved now. Could use a test

[code]

[2020-04-01 03:27] mroeschke commented on #21881
This looks to work on master now. Could use a test

[code]

[2020-04-01 03:28] mroeschke commented on #21936
Looks like `summary` has been completely removed, so this issue is not longer relevant. Closing

[2020-04-01 03:28] #21936 closed

[2020-04-01 03:54] mroeschke commented on #23478
Looks to be fixed on master. Could use a test

[code]

[2020-04-01 03:56] jbrockmendel opened #33198 "BUG: iloc setting columns not taking effect"
[code]

I would expect 1000 float64 columns and 1000 float32 columns.  I get the expected behavior if I set a single column before trying to set all 1000:

[code]

[2020-04-01 04:00] mroeschke commented on #23869
Looks like this behavior is intentionally deprecated so probably no longer an issue. Closing

[code]

[2020-04-01 04:00] #23869 closed

[2020-04-01 04:14] mroeschke commented on #24615
This looks supported on master now. Could use a test?

[code]

[2020-04-01 04:25] mroeschke commented on #26209
This looks to be fixed on master. Could use a test

[code]

[2020-04-01 06:41] 1313e opened #33200 "BUG: 'groupby()' results in shifted results for 'quantile()'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

NOTE: I see that there are several other issues already open that discuss problems with `groupby` and `quantile` in v1.0.3, but I figured that I post this anyway, as it is a very easy and simple reproducible example.

Executing the code above in pandas `v1.0.3` (or any `v1.0.x` version) results in the quantiles

[2020-04-01 06:51] AlexKirko opened #33201 "ENH: provide standard BaseIndexers in pandas.api.indexers"
### Problem description

During my work on generalizing our rolling window functions, @mroeschke and @jreback have pointed out that it would be useful to expose a couple `BaseIndexer` subclasses as a part of our api (in pandas.api.indexers, to be specific). For instance, forward-looking windows are fairly common in signal analysis and the like, and it would benefit users if we had a default implem

[2020-04-01 09:01] simonjayhawkins commented on #33011
couldn't reproduce on 0.25.1 either using sample data (same version as @Lamm-a reported)

[2020-04-01 09:05] simonjayhawkins commented on #33011
@Lamm-a We would need a minimal reproducible example to help debug the issue. see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-04-01 09:24] simonjayhawkins commented on #32803
@brylie ideally the code sample could double as the test, so a minimal reproducible example would be beneficial, see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-04-01 09:34] narendra20 commented on #33061
can I take a look at this issue?

[2020-04-01 09:57] xuancong84 opened #33202 "row sum and column mean works but row mean gives all NaN, on heterogenous data types"
When different DataFrame rows are of different types, row sum works but row mean gives all NaN values.

[code]
<img width="332" alt="image" src="https://user-images.githubusercontent.com/10172392/78124015-a4838380-7441-11ea-84fe-9bd45de54f1b.png">

As shown above, the last statement shows the bug by returning all NaN values which is incorrect. Interestingly, if the DataFrame entries are of the sam

[2020-04-01 10:41] jreback commented on #33202
sum of object types generally might work but mean does not. try doing .infer_object() after transpose

why would you do this in any event? transpose in mixed types is really odd

[2020-04-01 10:59] jorisvandenbossche opened #33203 "STY/TST: what standard to follow to import top-level objects in tests"
So this discussion regularly comes up (latest one being https://github.com/pandas-dev/pandas/pull/33184), so let's try to decide which one of the two we prefer.

In test code, do we do:

[code]

or

[code]

Personally, I prefer the second, and from recent discussions I have the impression @WillAyd and @datapythonista do as well (is that correct?)

To be clear: consistency within a single file is m

[2020-04-01 11:12] jorisvandenbossche commented on #33200
@1313e Thanks for the report!
It doesn't directly seem similar to other open quantile issues, based on a quick look.

I also seems this is a regression that already happened from 0.24 to 0.25:

[code]

[code]

Further investigation / pull request is certainly welcome!

[2020-04-01 11:20] simonjayhawkins commented on #32776
Thanks @Mereep for the report. I can confirm this issue is a duplicate of #25691 was fixed in #25731

9fbb9e7c71cf10852b84c1f393263ee04bd790d5 is the first new commit
commit 9fbb9e7c71cf10852b84c1f393263ee04bd790d5
Author: Tao He <sighingnow@gmail.com>
Date:   Fri Apr 5 08:45:19 2019 +0800

    BUG: Convert tuple to list before `_list_to_arrays` when construct DataFrame. (#25731)

[2020-04-01 11:56] naveenbhupathi commented on #33068
I did reset.index of the dataframe after reading feather file, which removed lock with the feather file. Now am able to write to feather file without any issues

[2020-04-01 11:56] #33068 closed

[2020-04-01 12:05] simonjayhawkins commented on #29706
unchanged on master

[code]

[2020-04-01 12:30] Lamm-a commented on #33011
I will provide what is needed :)

[2020-04-01 12:42] simonjayhawkins commented on #29602
i'm getting the same issue

[code]

INSTALLED VERSIONS
<details>

------------------
commit           : 49bc8d8c9d7da5d0fc3da81ff671dfbd35712605
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 69 Stepping 1, GenuineIntel
byteorder        : little

[2020-04-01 13:24] simonjayhawkins commented on #29602
with uint64 casts to float, Int64 works as expected and UInt64 raises TypeError

[code]

[2020-04-01 13:30] tgy commented on #33166
@jreback great! i will add some documentation in a PR. can you assign me to this issue so people know i'll work on it?

[2020-04-01 13:33] jreback commented on #33166
put in a comment ‘take’

[2020-04-01 13:37] dtrizna opened #33205 "read_json ignores dictionary as dtype"
#### Code Sample, a copy-pastable example if possible

[code]
Results into:
[code]
Using .astype() instead converts types correctly:
[code]

#### Problem description

Should take take appropriate data type during DataFrame loading from disc.

#### Output of ``pd.show_versions()``

[code]

[2020-04-01 13:47] simonjayhawkins commented on #29596
@dcostelloe2019 Thanks for the report. closing as this doesn't look actionable. We would need a minimal reproducible example to help debug the issue. see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports ping to reopen

[2020-04-01 13:47] #29596 closed

[2020-04-01 13:48] 3nrique0 commented on #28546
So...  I do have this error and I have xlrd installed. I tried to update xlrd and force-reinstall with pip and it doesn't work. I get `ImportError: Install xlrd >= 1.0.0 for Excel support`.
I have a virtualenv with python3.7.5, pandas==1.03 and xlrd==1.2.0.
Any ideas where the error might come from ?

[2020-04-01 13:50] mgmarino opened #33206 "ENH: Add accessor for isocalendar returning iso year, week, and day"
This enhancement request is to add an accessor to DatetimeProperties for the ISO year, which is the year corresponding to the week calculated via ISO 8601.

Currently, we can access the ISO week via `week` and `weekofyear`, *and* `Timestamp` objects provide `isocalendar`, which returns the correct ISO year, week, and day.

### Examples
For example:
[code]

outputs:

[code]

and accessing the Times

[2020-04-01 13:51] simonjayhawkins commented on #28968
@FCheda  Thanks for the report. closing as not actionable at this time.  ping to reopen

[2020-04-01 13:51] #28968 closed

[2020-04-01 13:57] ODemidenko opened #33207 "Weird bug with .rolling"
#### Code Samples, copy-pastable examples (working and not working)

[code]
#### Problem description
These 2 samples are almost identical. But one of them works, while another doesn't.
And if in the func `n_last` you try to print the expressions evaluated in it - this code is perfectly fine

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : N

[2020-04-01 14:01] fxjung commented on #24614
In the current version of the docs this is missing. Has it been resolved?

[2020-04-01 14:02] simonjayhawkins commented on #28305
@bobnvk99  Thanks for the report. closing as this doesn't look actionable. We would need a minimal reproducible example to help debug the issue. see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

the code sample is not executable, raises NameError: name 'residuals' is not defined.

[2020-04-01 14:02] #28305 closed

[2020-04-01 14:10] #33207 closed

[2020-04-01 14:12] fxjung commented on #24614
Interestingly:
[code]
yields
[code]

while
[code]
yields
[code]

[2020-04-01 14:30] TomAugspurger commented on #33203
I prefer the second.

[2020-04-01 14:33] jreback commented on #33203
1st is much better for testing & validation.

[2020-04-01 14:33] jbrockmendel commented on #33203
I'm going to refer to the two options as the specific approach and the concise approach, respectively.

I've come to prefer the more-specific-imports approach.

The test suite is big, and it can be difficult to know "what is tested where?".  With specific imports, I can look at the top of a file and rule out a lot of possibilities.  This is especially helpful for e.g. `tests.tslibs` or `tests.scal

[2020-04-01 14:59] SurajH1 commented on #32207
@detrout has this been resolved? I would like to look into it if it hasn't been

[2020-04-01 15:07] chris-b1 commented on #32857
@TomAugspurger - could you point me where the wheel building stuff is?  I still do have windows and will take a look

[2020-04-01 15:07] SurajH1 commented on #24817
take

[2020-04-01 15:15] TomAugspurger commented on #32857
Thanks.
https://github.com/MacPython/pandas-wheels/blob/master/azure/windows.yml
and
https://github.com/MacPython/pandas-wheels/blob/master/azure-pipelines.yml
has the wheel building stuff.

Logs are at
https://dev.azure.com/pandas-dev/pandas-wheels/_build?definitionId=3&_a=summary
(LMK if you need permissions on azure-pipelines).

On Wed, Apr 1, 2020 at 10:07 AM chris-b1 <notifications@github.com

[2020-04-01 15:17] jbrockmendel opened #33209 "API/BUG: isna_old on EAs?"
isna_new has a code path that handles EAs that isna_old doesnt, so the following will raise:

[code]

Most of this can be fixed by adding to isna_ndarray_old:

[code]

Then we can add into the interface tests:

[code]

The two problems here are 1) as in the comment, this may be wrong/ambiguous if the EA has a concept of "inf" and 2) we still get a test failure on `StringArray([<NA>, 'A'])`

[2020-04-01 15:19] TomAugspurger opened #33210 "MacPython/pandas-wheels wheel builds failing"
This affects the linux builds, both py37 and py38, 32 or 64-bit.

https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=30996&view=logs&j=517fe804-fa30-5dc2-1413-330699242c05&t=2e128ad5-2f7f-5333-3f34-c85b8fbc7250&l=1216

[code]

Looks to be from https://github.com/pandas-dev/pandas/pull/32839

cc @gfyoung @roberthdevries

[2020-04-01 15:27] jorisvandenbossche commented on #33203
@jreback Can you explain why? Testing works perfectly fine with both approaches I think.

You can still search for `pd.` in a file / set of files? That will of course give more (duplicated) results, so certainly not as easy to process as the imports, but with a decent search UI it might still be OK?

I fully agree that a good and logical organization of the test suite is important, and you are doi

[2020-04-01 15:30] jbrockmendel commented on #33203
I'm sympathetic to this argument, but if we're going to make copy/paste-ability a criterion, fixtures are a bigger hurdle than imports.

[2020-04-01 15:33] jreback commented on #33203
being more explicit is *way* better and provides stronger consistency. allowing one to do ``pd.*`` is fine for user code but we want as strict a check in tests as possible.

I don't see any reason to use ``pd.*`` in tests unless of course we are actually tesing the namespace or functions which *only* exist there.

[2020-04-01 15:35] jorisvandenbossche commented on #33203
I fully agree on that ;) And we both argumented for that elsewhere. Now, for this specific issue, it's indeed an argument to say that the import is not the most important copy paste issue, but there are still a lot of tests that are not using fixtures (or not for the data being created).

I don't think that any of both approaches is "more explicit" than the other.
(in fact, I would say that rather

[2020-04-01 15:57] datapythonista commented on #33203
My preference is just importing the module, mainly to make the code explicit. With a silly example, if there is a line `add(2, 2)`, I need to check the rest of the file to know whether there is a `def add(...)`, or a `from mylib import add` (and what "mylib" is).

That being said, I think in pandas code having `Series` and `DataFrame` shouldn't be a problem. And if I understand correctly, @jbrockm

[2020-04-01 16:34] simonjayhawkins commented on #33203
Consistency in a single module may be more important than following a "foolish" consistency across the whole codebase.

However, recently in #32459 there was a similar discussion for imports in cython modules. The outcome seemed to be that the 2nd pattern above was preferred in that context.

for me, if there is no clear advantage of one method over the other for testing, I would prefer to adopt t

[2020-04-01 16:53] AlexKirko commented on #33201
take

[2020-04-01 17:00] jbrockmendel commented on #33182
AFAICT getting these many things to work would be basically equivalent to re-implementing EA.  We would be better off with just supporting 2D EAs.

[2020-04-01 18:03] chris-b1 commented on #32857
xref https://github.com/pandas-dev/pandas/pull/21321#issuecomment-395190010

I think I've got this figured out - just need to copy the DLLs noted in that comment in the wheel building process - working on testing/confirming and will submit a PR

[2020-04-01 18:21] WillAyd commented on #30609
@jbrockmendel can you also try Cython 3.0? Worked for me as well; maybe easiest to just skip the specific combo of Cython 0.29.14 with Python 3.8 on macOS...

[2020-04-01 18:23] raffaem opened #33215 "[PROPOSAL] Make Series.update() accept a dictionary"
#### Code Sample, a copy-pastable example if possible

I propose to re-write the `Series.update() ` method to accept a dictionary object. This would be useful for example when you are iterating over a DataFrame using `DataFrame.iterrows()`, and you want to update the `row` object returned by `iterrows()` in order to build another DataFrame starting from the DataFrame you are iterating over

Here i

[2020-04-01 19:12] jorisvandenbossche commented on #24615
The initial example isn't really valid anymore, as `pd.array(.., dtype="datetime64[ns]")` is apparently not creating a PandasArray anymore, but a DatetimeArray.

So the original issue still fails:

[code]

(I am not sure it is the most important issue to support though)

[2020-04-01 20:29] jreback commented on #30360
we should still do this :)

o would split out the io stuff first as that has huge doc strings

[2020-04-01 21:11] dsaxton commented on #33215
How about wrapping your dict in a Series before passing to update? (Also I'm not sure if your example s.update({'country':'Italy'}) will do what you want since 'country' isn't in the index of s.)

I do think though that this could probably use a better error message.

[2020-04-01 21:17] WillAyd commented on #33014
@ss-is-master-chief if you or whomever wants to work on this, I would suggest looking at the ujson source for the `JSON_NO_EXTRA_WHITESPACE` checks

https://github.com/pandas-dev/pandas/blob/25d893bb9a5d79afc6a88e84de89fa32b385ae09/pandas/_libs/src/ujson/lib/ultrajsonenc.c#L962

Right now this is a compile-time constant defined in `ultrajson.h`, but I think we can make a runtime check and just rep

[2020-04-01 21:18] jbrockmendel commented on #32896
This matches the numpy behavior:

[code]

This may be a numpy bug as well cc @seberg ?

[2020-04-01 21:19] ss-is-master-chief commented on #33014
@Will-Ayd I'll start off with it right away. Thanks for the information.

[2020-04-01 21:25] tacaswell opened #33224 "compatibility issues with master branch cython"
On the cython master branch the generated c code has unused  functions which fails the build with:

[code]

and similar warnings from other modules (this just happens to be the first one).

If I remove the `"-Werror"` it seems to build ok.

Not sure if this should be reported here at cython.  I will likely try to bisect this to the cython change later today.

[2020-04-01 21:27] seberg commented on #32896
Yeah, I guess it technically is a NumPy bug. The reason here must be the additional empty dimension that is not being indexed, somehow causing the index check to never be run to begin with.
Can you open a NumPy issue about it? I am surprised there is a regression, this is probably the case at least since NumPy 1.9, but then I guess the regression is due to a change in how pandas does things intern

[2020-04-01 21:48] WillAyd commented on #33224
Thanks for the report. The Werror flag is new on our end so still a few kinks to work out

What platform / python version are you using?

[2020-04-01 21:50] tacaswell commented on #33224
arch linux.  I saw this with both py38 and cpython master.  It compiles without warnings with cython 0.29 for both py38 and py39.

[2020-04-01 21:51] WillAyd commented on #33224
xref @jbrockmendel issues in https://github.com/pandas-dev/pandas/issues/30609#issuecomment-605373212

[2020-04-01 21:51] WillAyd commented on #30609
closing this issue since this was actually completed; but looks like a few issues springing up after this. I think will be easier to track in #30609

[2020-04-01 21:51] #30609 closed

[2020-04-01 21:53] WillAyd commented on #33224
Can you attach the cythonized file? May be helpful to trace back to the code base

[2020-04-01 22:35] MomIsBestFriend commented on #33224
@tacaswell Can you run the following

[code]

and paste the output?

---

I *think that* ```gcc``` is quitting after the first error, there could be more errors.

[2020-04-01 22:51] jbrockmendel commented on #32586
One more that has popped up in a few places:

What should `_concat_same_type` do for EAs when it has matching types but non-matching dtypes?  This comes up in DatetimeArray and Categorical.

[2020-04-01 22:58] tacaswell commented on #33224
There are definitely more errors, requested output below.

It won't let me attach a .c file (and it is 166k LoC), if you want the cythonized files it is probably easiest for you to install cython from source locally (`cython` is super easy to install, it is so far down it has basically no dependencies).

<details>
(bleeding) ✔  ~/source/other_source/pandas [master {pandas/master}|✚ 2]
jupiter@18:4

[2020-04-01 23:01] MomIsBestFriend commented on #4591
@sunaymehta Sure we would love to accept a PR!

---

The location of the ```Period``` documentation is at https://github.com/pandas-dev/pandas/blob/eab7226549c21a724fa6afce21d2e585b6a84eb6/pandas/_libs/tslibs/period.pyx#L2375

ATM what is missing is some examples on how to construct a period.

[2020-04-01 23:06] MomIsBestFriend commented on #33224
@tacaswell Thank you!

[2020-04-01 23:31] jbrockmendel commented on #32896
yes, we recently stopped doing some validation on `iloc` and instead fall through to let numpy do the validation

[2020-04-01 23:43] WillAyd commented on #33224
AFAICT the common denominator between all of the offending functions is that they mix together a fused type with a memoryview along with the boundscheck / wraparound decorators set to False

https://github.com/pandas-dev/pandas/blob/e79dc5f5d73ff0668e2d0af8a54a59953272b7f3/pandas/_libs/writers.pyx#L121

https://github.com/pandas-dev/pandas/blob/e79dc5f5d73ff0668e2d0af8a54a59953272b7f3/pandas/_libs

[2020-04-01 23:45] sriram2093 commented on #33155
'take'

[2020-04-01 23:46] sriram2093 commented on #33155
I will take this issue

[2020-04-02 00:00] MomIsBestFriend commented on #33224
@WillAyd here is ```algos.c``` (I just replaced ```.c``` with ```.zip``` so github will allow me to upload this)

This have the following warnings:

<details>

[code]
</details>

[algos.zip](https://github.com/pandas-dev/pandas/files/4418154/algos.zip)

[algos_html.zip](https://github.com/pandas-dev/pandas/files/4418166/algos_html.zip)

[2020-04-02 00:03] MomIsBestFriend commented on #33224
@tacaswell Github will only allow [GIF, JPEG, JPG, PNG, DOCX, GZ, LOG, PDF, PPTX, TXT, XLSX, ZIP] files.

One quick around is just to rename the file extension ;)

[2020-04-02 02:17] xuancong84 commented on #33202
@jreback Thanks for your reply! I encounter this because I am doing clinical data statistical analysis. In clinical data, some are floating point, some are integers, some are time durations, etc., so when I compute the average value over some period of time, this bug surfaces.

Currently, transpose=>mean=>transpose-back is my work around, because averaging the column has no problem, only averaging

[2020-04-02 02:24] jreback commented on #33202
pandas is column based; mixing dtypes while possible is not recommended; column based dtypes are efficient for both storage and computation

doing numeric operations in heterogeneous data doesn’t make any sense

[2020-04-02 02:24] #33202 closed

[2020-04-02 02:31] BenjaminLiuPenrose commented on #32776
I just try to reproduce the bug.

For pandas<=0.24.2, running `pd.DataFrame(tuple([[1],[2]]))` will lead to python crash and exit
For pandas>=0.25.0, running `pd.DataFrame(tuple([[1],[2]]))` is fine as described by @Mereep

[2020-04-02 02:34] BenjaminLiuPenrose commented on #32776
In pandas==0.24.2
<img width="526" alt="cap1" src="https://user-images.githubusercontent.com/24482664/78204918-e116a580-7468-11ea-8fe2-aaf85a9b2695.PNG">

In pandas==0.25.0
<img width="534" alt="cap2" src="https://user-images.githubusercontent.com/24482664/78204958-f68bcf80-7468-11ea-97b3-9650dace1246.PNG">

[2020-04-02 02:37] xuancong84 commented on #33202
So the issue gets closed without getting solved, that is why I have suggested in #6963, "for maximum usage compatibility, we should treat a table as a symmetric rank-2 tensor". Due to low-level CPU optimization mechanical constraint, sum/mean/std/max/min/etc along row direction may incur a performance penalty, this is acceptable, but the operation should not fail and should work consistent with co

[2020-04-02 03:05] BenjaminLiuPenrose commented on #32776
Guess this issue thread can be closed now...

[2020-04-02 03:54] cwkwong opened #33232 "merge() outer with left_on column and right_index=True produces unexpected results"
Apologies if this has been reported before, I searched through the issues but couldn't find a duplicate, IMHO.

#### Code Sample:

[code]
#### Problem description

- When merging with `how=outer` and `right_index=True`,  result `res_1` produces the last 2 rows with some unexpected values for the `index` and especially the `lkey`.
  - Last 2 rows have `lkey` values that don't seem to exist in the o

[2020-04-02 05:02] mroeschke commented on #27817
Doesn't look like there's much expectation to support arrow datetimes moving forward since they don't subclass `datetime.datetime`. Closing

[2020-04-02 05:02] #27817 closed

[2020-04-02 05:15] mroeschke commented on #31504
Almost solved but not quite right on master

[code]

[2020-04-02 06:07] rockg commented on #33194
See #8435. The code assumes quarters start on month 3 (so 3, 6, 9, 12). Just pass in `startingMonth=1` to get the behaviour you are after.

[2020-04-02 06:12] detrout commented on #32207
I made a stab at fixing it, though my test environment had issues so I'm not sure if it introduced any regressions. in https://github.com/pandas-dev/pandas/pull/33233

[2020-04-02 06:31] Lawrr opened #33234 "Groupby multiple columns causes agg to have precision loss on int64"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Precision loss on the int64 column when grouping by multiple columns.

Similar behaviour can be seen when doing
[code]
but that seems like a different issue with cythonized group sum not supporting int64? According to: https://github.com/pandas-dev/pandas/issues/15027#issuecomment-269902341

#### Expected Outpu

[2020-04-02 07:17] SurajH1 commented on #24817
take

[2020-04-02 07:24] raziakhalidbutt commented on #33146
it's working fine .

print(df['2020-01-01':])

             No  CB
2020-01-01  123  Sc
2020-01-02  940  Sc

[2020-04-02 07:26] SurajH1 commented on #24670
take

[2020-04-02 10:52] odidev commented on #32092
Ping @WillAyd Please could you have a look and suggest what more is required from my end.

[2020-04-02 11:03] simonjayhawkins commented on #33200
regression in #20405 (0.25.0)

64e5612238225d65fd28ffc72ee91c3eddcc9449 is the first bad commit
commit 64e5612238225d65fd28ffc72ee91c3eddcc9449
Author: William Ayd <william.ayd@icloud.com>
Date:   Thu Feb 28 05:36:57 2019 -0800

    Cythonized GroupBy Quantile (#20405)

cc @WillAyd

[2020-04-02 11:51] roberthdevries commented on #33210
Nope it's from #32737

[2020-04-02 12:12] roberthdevries commented on #33210
The test makes the file unreadable by doing `chmod(path, 0)`. This means nobody is allowed to read it. But for some reason, this does not work on all platforms. Originally this only did not work for Windows. But now apparently it also does not work on Azure.
The EmptyDataError exception is caused by the fact that the file is actually empty. There is no need to fill a file that you cannot read.

[2020-04-02 12:37] sriram2093 commented on #33166
Is this issue still open? I want to work on it. @jreback @tgy

[2020-04-02 12:53] mborus opened #33237 "Warning "Try using .loc[row_indexer,col_indexer] = value instead" is given when using ".loc""
#### Code Sample, a copy-pastable example if possible

TLDR; Pandas warning is confusing since it recommends what seems to cause the warning.

[code]
#### Problem description

This gives out the following warning:

[code]
This warning has confused me a many, many times, mainly, because it suggests
"try using .loc" when that's exactly what I'm doing.

(I followed the link and read the doc and now k

[2020-04-02 13:07] TomAugspurger commented on #33237
Can you provide a reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-04-02 13:08] TomAugspurger commented on #33210
What needs to change? Something in the test?

[2020-04-02 13:25] simonjayhawkins commented on #33234
This also applies to nullable integers

[code]

[2020-04-02 13:38] roberthdevries commented on #33210
My guess is the test environment. But I don't understand why setting the mode of the file fails. This is a regular Linux OS, is it? Or is Azure doing something special here?

[2020-04-02 13:55] mborus commented on #33237
Updated with reproducable example

[2020-04-02 14:05] jreback commented on #33237
this is as expected df2 is creating. view onto df which u r then modifying

simply copy df2

[2020-04-02 14:16] simonjayhawkins commented on #33232
@cwkwong Thanks for the report. The code sample includes missing values in the lkey column which is used for the merge key. just to be clear, the issue also occurs without missing values in the merge column.

[code]

[2020-04-02 14:17] AlexKirko opened #33238 "CI/COMPAT: Linux py37_np_dev pipeline timeouts"
#### Problem description

Linux py37_np_dev pipeline appears to timeout for everyone after 60 minutes.
There are a couple hundred thousand errors like this:
[code]
Here is a [link](https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=32212&view=logs&j=3a03f79d-0b41-5610-1aa4-b4a014d0bc70&t=4d05ed0e-1ed3-5bff-dd63-1e957f2766a9&l=792078) to it failing for me.

[2020-04-02 14:22] AlexKirko commented on #33238
Encountered this while working on #33180. Saw it also in #33235

[2020-04-02 14:32] simonjayhawkins commented on #33232
This looks similar to #17257 but with subtle differences so will keep this open for now.

[2020-04-02 15:13] CharlyWargnier commented on #30296
Hi guys,

I've got this code:

`df['SEBotClass'] = pd.np.where(df.userAgent.str.contains("YandexBot"), "YandexBot",
  pd.np.where(df.userAgent.str.contains("bingbot"), "BingBot",
    pd.np.where(df.userAgent.str.contains("DuckDuckBot"), "DuckDuckGo",
      pd.np.where(df.userAgent.str.contains("Baiduspider"), "Baidu",
        pd.np.where(df.userAgent.str.contains("Googlebot/2.1"), "GoogleBot", "El

[2020-04-02 15:19] jorisvandenbossche commented on #30296
Replace `pd.np` with `np` in your code above (after doing `import numpy as np`)

[2020-04-02 15:23] CharlyWargnier commented on #30296
Thanks Joris!

[2020-04-02 16:15] TomAugspurger commented on #32586
I'm not sure that `concat_same_type` perhaps shouldn't handle those cases. Ideally we have a method that's called only when we can confidently concat without losing any information.

https://github.com/pandas-dev/pandas/issues/22994#issuecomment-436279333 is a proposed protocol for getting the concat method from a set of dtypes.

[2020-04-02 16:25] chris-b1 commented on #32857
Hmm, kind of stuck here.  Built a wheel with the DLLs packed, see below, but still get that import error.  But, if I install the 1.0 wheel, with the same DLLs packed (was that built by you @cgohlke ?), works fine.

[code]

[2020-04-02 16:52] WillAyd opened #33239 "Unable to Build pandas with Py38, macOS (clang?) and Cython>0.29.13 (tp_print warning)"
Dedicated issue for @jbrockmendel callout in https://github.com/pandas-dev/pandas/issues/30609#issuecomment-605373212

I opened an issue on the Cython side as well https://github.com/cython/cython/issues/3474

There's a rabbit hole of conversation with this going back to CPython . This may just be a temporary issue for Py38, so one "workaround" could be to just add `-Wno-deprecated-declaration` wh

[2020-04-02 17:31] bertrandmarc opened #33242 "agg behaviour depends on the number of arguments of the function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the particular case of a groupby over 1 column ('c'), asking a subset of columns ('a' and 'b') and passing agg a function of 2 arguments ('mypring2'), a DataFrame of the full groups (including all columns) is passed to myprint2:
[code]
For every group, I would have expected 2 calls of myprint2, one with Seri

[2020-04-02 17:59] TomAugspurger commented on #32857
1.0.0 - 1.0.2 are from Christoph. 1.0.3 is the first to be built on azure-pipelines.

[2020-04-02 18:16] jbrockmendel opened #33245 "BUG: Categorical.values_for_(factorize|argsort) dont preserve order"
The docstrings for these two methods say that values_for_foo should preserve order, but for non-ordered Categoricals, the current implementation using self.codes is not order-preserving.  Is this a problem cc @jorisvandenbossche ?

`Categorical.values_for_rank` exists pretty much to solve this problem for rank and value_counts.  We have a special case in core.algorithms using values_for_rank that

[2020-04-02 18:18] cgohlke commented on #32857
In case you are using VS 2019, `msvcp140.dll` now also depends on `vcruntime140_1.dll`.

[2020-04-02 18:27] jbrockmendel commented on #30609
@WillAyd do you still need me to do this?

[2020-04-02 18:28] jorisvandenbossche commented on #33245
Can you explain how `values_for_factorize/argsort` don't preserve order for Categorical?

[2020-04-02 18:29] jorisvandenbossche commented on #33245
Or you mean the -1 for missing values?

[2020-04-02 18:32] jbrockmendel commented on #33245
[code]

For ordered Categoricals, this preserve order fine.  For non-ordered, order-requiring functions want the behavior of values_for_rank.

[2020-04-02 18:36] jorisvandenbossche commented on #33245
I understand there is a difference in implementations between those functions, but I don't understand why `_values_for_factorize/argsort` wouldn't preserve order? What aspect of behaviour is wrong then?

For example, `sort_values` requires order, but is using `_values_for_argsort`, and not `_values_for_rank`. So is the return value of `sort_values` wrong?

[code]

[2020-04-02 18:38] WillAyd commented on #30609
No hold off for now

William Ayd
william.ayd@icloud.com

[2020-04-02 18:39] chris-b1 commented on #32857
Wow, that's it - thanks!

[2020-04-02 18:57] TomAugspurger commented on #33245
Is sorting an unordered categorical just a bad / ill-defined idea? We don't allow taking `min` / `max`, so perhaps they should just be considered unorderable.

[2020-04-02 19:04] jorisvandenbossche commented on #33245
We cetainly had that discussion regularly before ;)
I don't remember the exact arguments, but IMO it is useful to be able to sort values (and the sort order is just the categories order), without there being a meaning of min/max to the order.

Example use case: sort a set of values to see the duplicates next too each other (eg when sorting a dataframe by a categorical column). The act of sorting (

[2020-04-02 19:43] jbrockmendel commented on #33245
This isn't crazy, but if we go down that road we need a way to make it general for non-ordered EAs and de-special-case Categorical.

Agreed that they should match on how they sort values.  #15422 implemented `values_for_rank` to use the ordering of the underlying categories for non-ordered.  That seems like a reasonable fallback.

[2020-04-02 19:52] jorisvandenbossche commented on #33245
But, so if you think `rank` is fine, then that means you think the output of `sort_values` is wrong / should be changed?

(to be clear, apparently I also found back in time that this was the logical behaviour for rank, but just trying to get the issue clear)

[2020-04-02 20:05] seberg commented on #32896
As a heads up, I am considering deprecating this for a release if that is OK? I agree that it is a straight bug, but apparently I intentionally put this in (although possibly not intentionally this exact case).
If it would be easier for you if I remove it right away, that would be a welcome vote though :) (may still decide to do that in any case).

[2020-04-02 20:06] mekeenan1 commented on #33205
take

[2020-04-02 20:08] mekeenan1 commented on #33205
Would like to work on this if that's ok! (New to the open source community)

[2020-04-02 20:14] CerseiO commented on #20520
take

[2020-04-02 21:13] #33238 closed

[2020-04-02 21:59] seberg commented on #32896
Yeah, I suppose so. You could get away with only doing it when the result/assignment may be empty (if you want to avoid doing unnecessary/slow checks). If we deprecate, I guess it would be 1.20 otherwise 1.19, but since you need backcompat anyway, I guess it makes no real difference.

[2020-04-02 23:02] rhshadrach commented on #28473
@TomAugspurger The dataframe appears in the top post, so I think you're talking about some intermediate value that gets passed internally. I'd be happy to dig it out and post it here, but I'm not sure what you're after.

Just wanted to share some things I've found so far. Master currently fails due to this line:

https://github.com/pandas-dev/pandas/blob/69ffb018a230c50eec10e2f303bc11251457c159/pa

[2020-04-03 02:28] JunioCalu opened #33251 "Pandas using matplot displays an incorrect year on the x-axis date"
#### Code

[code]
#### Problem description
In the graph, the date axis is not being displayed correctly with date formatting, the year that should be "2020" and is displayed as "51"

#### Output of ``pd.show_versions()``
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.2.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.28-1-MANJARO
m

[2020-04-03 03:17] mroeschke commented on #25838
Agreed with Will. Since there doesn't seem to be much traction or appetite for this feature from the community going to close for now. Happy to revisit if there larger interest from the community

[2020-04-03 03:17] #25838 closed

[2020-04-03 03:43] #23015 closed

[2020-04-03 03:45] BenjaminLiuPenrose commented on #32740
I tested in the current pandas dev version, the issue is apparently fixed
![image](https://user-images.githubusercontent.com/24482664/78322094-bcd7c900-753b-11ea-95da-ddb2f1175d14.png)

[2020-04-03 03:51] mroeschke commented on #10000
Since pandas 1.0 has already been released, I think we are safe to close this issue. We may want to continue discussion on a new "Towards pandas 2.0" issue. Closing for now

[2020-04-03 03:51] #10000 closed

[2020-04-03 04:02] mroeschke commented on #16544
Sounds like this is no longer and issue from reading the comments. Could use a test.

[2020-04-03 04:25] mroeschke commented on #15417
Looks like #6360 has been solved by https://github.com/pandas-dev/pandas/pull/20356, so I'm assuming that solves this issue. Please let us know if it doesn't and happy to reopen this issue if it doesn't

[2020-04-03 04:25] #15417 closed

[2020-04-03 04:32] mroeschke commented on #25422
Closing as a duplicate of https://github.com/pandas-dev/pandas/issues/29773

[2020-04-03 04:32] #25422 closed

[2020-04-03 04:34] #32129 closed

[2020-04-03 04:48] mroeschke commented on #2485
I think we have `_metadata` https://pandas.pydata.org/pandas-docs/stable/development/extending.html#define-original-properties and `.attrs` defined for this metadata use cases. If these don't sufficiently cover the necessary use cases, new issues can be created about those 2 methods. Closing

[2020-04-03 04:48] #2485 closed

[2020-04-03 05:05] mroeschke commented on #19581
Looks like older pickle files have been cleaned out. I see we're testing the following pickle files now

[code]

We can reopen this issue when it's time to bump those files

[2020-04-03 05:05] #19581 closed

[2020-04-03 05:19] mroeschke commented on #4895
Looks to work on master. Could use a test

[code]

[2020-04-03 05:46] mroeschke commented on #28892
This issue sounds like a usage question. Hopefully a sufficient answer has been given. Happy to reopen if not

[2020-04-03 05:46] #28892 closed

[2020-04-03 06:46] jlandercy commented on #33168
Hello @mroeschke, thank you for tagging this issues. Could you precise in what sense issue #33168 is similar to #6409?

I am open to investigate further this issue, but I really lack insight on how pandas works under the hood. Mainly, I can see that this call fails:

https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/groupby.py#L2267

And the function is defined as follow:

https

[2020-04-03 07:24] roberthdevries commented on #33210
Is this pipeline by any chance running as root?

[2020-04-03 08:31] jorisvandenbossche opened #33253 "BUG: BooleanArray.any with all False values and skipna=False is buggy"
From a report on my blog, this seems buggy:

[code]

I don't think there is a reason to return NA if there are no NAs in the array? (even with `skipna=False`)

We probably need to do a check for the presence of any NA here in the `else` clause:

https://github.com/pandas-dev/pandas/blob/37dc5dc391333fede424964a3c8ab034318d6ed4/pandas/core/arrays/boolean.py#L520-L526

[2020-04-03 08:32] jorisvandenbossche commented on #33253
And the same for `all()` with an all True array:

[code]

[2020-04-03 08:36] jorisvandenbossche commented on #33253
@TomAugspurger I think it is quite obvious that the result should be same here for `skipna=True/False` if there are no NAs, but can you do a quick sanity check? (we didn't include thoses cases in the overview table at https://github.com/pandas-dev/pandas/issues/29686)

[2020-04-03 09:41] jorisvandenbossche opened #33254 "API: EA interface - strictness of _from_sequence"
Copying part of the discussion out of https://github.com/pandas-dev/pandas/issues/32586 into a more specific issue.

Problem statement: currently, `_from_sequence` is not very explicit in what it should accept as scalars. In practice, this means that it is mostly very liberal, as it is also used under the hood when creating an array of any list-like of objects in `pd.array(.., dtype)`.
However, in

[2020-04-03 09:41] jorisvandenbossche commented on #33254
@TomAugspurger replied (https://github.com/pandas-dev/pandas/issues/32586#issuecomment-603858222)

I think my preference is for `_from_sequence` to be the "parse this sequence into an array" and for `_from_scalars` to be the strict version.

[2020-04-03 09:44] jorisvandenbossche commented on #32586
We were actually discussing that in this issue, see eg https://github.com/pandas-dev/pandas/issues/32586#issuecomment-603840140, about the "strictness" of `_from_sequence`.

But the with/without dtype distinction was not yet really touched upon, thanks for bringing that up. We should also clarify what is expected regarding that.

For continuing the "`_from_sequence` strictness" discussion, I moved

[2020-04-03 09:47] MomIsBestFriend opened #33255 "BUG: Cant access some `TimedeltaProperties` components directly"
XREF: https://github.com/pandas-dev/pandas/pull/33208#discussion_r402181910

---

#### Note:

I'm using "hours" here for the examples, but this applies to

- hours
- minutes
- milliseconds

---

#### Short explanation:

Not all components are exposed directly:

Example:

[code]

---

#### Long explanation:

If we create a series that contains a timedelta, we can access only some of the components

[2020-04-03 09:47] jorisvandenbossche commented on #33254
@jbrockmendel replied (https://github.com/pandas-dev/pandas/issues/32586#issuecomment-603960671)

I would rather avoid having adding another constructor (im already not wild about `_from_sequence_of_strings`).

IIRC a big part of the reason why _from_sequence became less strict than originally intended is because DTA/TDA/PA _from_sequence took on a bunch of cases that the DTI/TDI/PI constructors h

[2020-04-03 09:48] jorisvandenbossche commented on #33254
Well, see the option number 2 above, which proposes to defer this to the `astype` machinery. So that will involve some ways to have a casting method from a certain dtype to the EA dtype in question. The main problem to solve this issue now, is that the general astyping machinery does not yet exist.

I don't think this is necessarily required. The values for factorize can be completely internal to

[2020-04-03 09:54] simonjayhawkins commented on #33255
s.dt.seconds is not equal to s.dt.components.seconds. what is the expected behaviour here?

[2020-04-03 10:01] MomIsBestFriend commented on #33255
Oh, I though it was equal, I'll edit the original post.

I guess the expected behavior here, is the ability to access every component directly though ```s.dt.foo```, so if we have

[code]

I think I should have the ability to access all of the components and not just  ```s.dt.foo``` and ```s.dt.baz```, for example.

[2020-04-03 10:59] simonjayhawkins opened #33256 "REGR: DataFrame.mean(numeric_only=True) raises AttributeError on v1.0.3"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is a regression from 0.25.3

0aa48f7d9269206dea492ed14d5dfc6f46468de3 is the first bad commit
commit 0aa48f7d9269206dea492ed14d5dfc6f46468de3
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Wed Jan 1 09:18:20 2020 -0800

    PERF: perform reductions block-wise (#29847)

on master raises `AttributeErr

[2020-04-03 11:11] TomAugspurger commented on #33253
Agreed with your proposed changes to the return values.

[2020-04-03 11:12] HarishGajjar opened #33258 "import pandas error."
dear pandas-dev,
I am writing this to yo because I have facing problem with pandas lib to use it with python 3.8,
when I try to import pandas its shows error, please check attachment for more details.
Thanks.

=========================================================
error message
==========================================================

Traceback (most recent call last):
  File "<pyshell#1>", l

[2020-04-03 11:13] HarishGajjar commented on #33258
import pandas error

[2020-04-03 11:17] TomAugspurger commented on #33258
See https://github.com/pandas-dev/pandas/issues/32857. Hoping to have it fixed soon.

pandas 1.0.1 and earlier should be OK.

[2020-04-03 11:17] #33258 closed

[2020-04-03 11:54] jorisvandenbossche commented on #33256
I noticed this as well while working on https://github.com/pandas-dev/pandas/pull/32867. And normally this should also get solved in that PR.

[2020-04-03 11:58] simonjayhawkins commented on #33256
I was just looking at that PR, and couldn't find an issue. then realising it was a regression, felt that a separate issue should be raised. If we can get just the fix part of #32867 broken off, could backport if we do another patch release. (sorry, should have xrefed your work here originally)

[2020-04-03 12:03] HarishGajjar commented on #33258
@TomAugspurger Thanks for the solution.

[2020-04-03 12:04] jorisvandenbossche commented on #33256
No, problem, you're totally correct to open an issue about it.
I think it should be rather straightforward to separate a fix from that PR.

[2020-04-03 13:18] jorisvandenbossche commented on #33254
I am experimenting a bit with the this, and I am running into the following issue:

Right now, `_from_sequence` can also be called *without* passing the original dtype (since it is a class method on the array class, and the dtype is not a required argument).
In practice, this means that for example SparseArray can create a sparse array with any values dtype, and not only the original dtype.

Pract

[2020-04-03 13:32] jorisvandenbossche commented on #33255
As @simonjayhawkins noted, the top-level attributes and the component attributes are not the same.
And this is un purpose:

[code]

The behaviour of the `.seconds` attribute is inherited from the `datetime.timedelta` class (https://docs.python.org/3/library/datetime.html#datetime.timedelta), where this is the "seconds part" of the timedelta (which consists of days, seconds and microseconds: "Only

[2020-04-03 14:04] MomIsBestFriend commented on #33255
@jorisvandenbossche Thank you for the detailed explanation!

---

So from what I understand there is no bug, because there is no ```Timedelta.hours```, correct? (confirm this by just closing this issue)

[2020-04-03 14:06] jorisvandenbossche commented on #33255
Yes, this is all expected as I can see.
But it might be that some docstrings can use better clarification regarding this, though.

[2020-04-03 14:14] MomIsBestFriend commented on #33255
@jorisvandenbossche I made a PR (#33259) giving examples for the field assessors, I only added examples for the ```DatetimeProperties``` class, I didn't add examples related to ```TimedeltaProperties``` and ```PeriodProperties``` because I didn't want it to be over verbose, but now it seems to me like the right thing to do, thoughts?

[2020-04-03 14:47] TomAugspurger commented on #33210
I'm not sure. I don't see anything in the logs about what the user is.

[2020-04-03 14:57] hudasami commented on #27435
This is how it worked for me for a similar problem:
Python Version : 2.7.12
First download .whl of compatible NumPy : https://pypi.org/project/numpy/1.12.1/#files
Install using pip install "above file"
Then download .whl of compatible pandas : https://pypi.org/project/pandas/0.20.1/#files
Install using pip install "above file"

[2020-04-03 15:53] SurajH1 commented on #24670
After looking at the documentation, I noticed that evaluating global functions is not an explicit property of pd.eval(). However, it does seem like a useful addition and something that should be a property of the function. @WillAyd can we also add a request to update documentation?

[2020-04-03 16:16] mroeschke commented on #33168
#33168 and #6409 are similar in the sense that datetime data types are not supported in groupby.

A lot of our aggregation functions for cython are located here: https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/groupby.pyx

For this issue, and similarly described in https://github.com/pandas-dev/pandas/issues/6409, we will need to convert these dates to integers before passing them to

[2020-04-03 16:18] #25758 closed

[2020-04-03 16:23] TomAugspurger commented on #33237
Thanks. The warning is correct there, since it's not clear if `df` will / should be modified along with df2.

[2020-04-03 16:23] #33237 closed

[2020-04-03 16:51] jbrockmendel commented on #19696
Is the IntervalArray checkbox check-able?

[2020-04-03 17:05] jbrockmendel commented on #32586
I'm inclined to pushing it all into the EA method.  ATM we have special-case logic for this in DatetimeBlock and CategoricalBlock (and indirectly, in dtypes.concat).  I don't see any other way to de-special-case pandas-internal EAs.

[2020-04-03 17:09] jbrockmendel commented on #33254
How often do we pass dtype in practice?  If it is close-to-always, we might simplify the code by making it a required argument.

[2020-04-03 17:17] jbrockmendel commented on #32586
One more suggestion for these: The minimal logic/methods such that we don't need `ExtensionBlock` subclasses for pandas-internal EAs (cc @jorisvandenbossche IIRC you advocated something like this at the last sprint)

[2020-04-03 17:20] engkimbs opened #33264 "Append Mode for ExcelWriter with "xlsxwriter""
**Problem description**

ExcelWriter's append mode doesn't work when setting default xlsxwriter. To use append mode, I have to set the engine openpyxl. I think it is inconvenient and slow. So I suggest ExcelWriter can be set as append mode when default (xlsxwriter).

**Sample Code**

**AS-IS**
[code]

**TO-BE**
[code]

[2020-04-03 17:24] jbrockmendel commented on #33256
@simonjayhawkins can you `@` me on these for issues that i caused

[2020-04-03 17:31] jbrockmendel commented on #33188
You're right about the float heuristic, but in my experience this is a rabbit hole that we really don't want to go down.

[2020-04-03 17:34] WillAyd commented on #33264
See this comment from the xlsxwriter maintainer https://github.com/pandas-dev/pandas/issues/3441#issuecomment-280296299

So not possible unless anything has changed that @jmcnamara is aware of

[2020-04-03 17:34] #33264 closed

[2020-04-03 17:35] jbrockmendel commented on #33153
As a user, I think of `.at` as "`.loc` but faster because im passing scalars".  having an always-scalar return would be nice, but then we're forcing users to do more checks before calling `.at`, which seems self-defeating.

@TomAugspurger thoughts?

[2020-04-03 17:40] TomAugspurger commented on #33153
Agreed with Brock.

[2020-04-03 17:41] jorisvandenbossche commented on #33153
Or otherwise they might need to do checks afterwards because you don't know whether you got back a scalar, series or dataframe

Indexing inherently can always generate errors depending on your data (eg the key you are checking is not present). But I think being certain here about the return *type* would be nice.

[2020-04-03 18:05] TomAugspurger commented on #33153
`.at` feels like the wrong place for ensuring the result is a scalar though. That sounds to me more like a problem of duplicate labels, rather than an issue with `.at`.

[2020-04-03 18:53] jorisvandenbossche commented on #33153
It can be a problem of the duplicate labels, but not all our methods therefore need to be able to handle such duplicate labels. We have other methods that raise an error in such a case.

[2020-04-03 19:09] krassowski opened #33269 "Consider adding isnative property to StringDtype?"
#### Code Sample

Assuming Jupyter notebook environment

[code]

[code]

Leads to an error in rpy2:

[code]

which I described in https://github.com/rpy2/rpy2/issues/669. However, as this concerns a new experimental feature in pandas I wanted to bring a difference in public interface between different Dtypes to your attention.

#### Problem description

The new, experimental [`StringDtype`](https:

[2020-04-03 19:42] jbrockmendel opened #33272 "HUH?: DataFrame[categorical].replace"
When we have a DataFrame with 2 Categorical columns with matching dtypes and do a `.replace` on that DataFrame, the results do not match what we would get if we operate column-wise.  Instead the results we get look like what we'd get if we stacked the columns, replaced, then unstacked.

i.e. AFAICT we are doing gymnastics to behave as if CategoricalBlock supported 2D Categorical.

From tests.frame

[2020-04-03 20:20] #10329 closed

[2020-04-03 20:44] mgmarino commented on #33206
As a result of discussions in #33220, we decided to add an `isocalendar` accessor.  For more details, see the comment thread there.  I will update this issue accordingly.

[2020-04-03 21:21] jorisvandenbossche opened #33276 "EA interface - requirements for "hashable, value+order-preserving ndarray""
Across a set of issues/PRs (eg https://github.com/pandas-dev/pandas/issues/32586, https://github.com/pandas-dev/pandas/issues/32673, https://github.com/pandas-dev/pandas/pull/33064), there has lately been quite some discussion regarding `_values_for_factorzie` / `_values_for_argsort`, the need for roundtrippability, the need for order-preserving, the need for `_ndarray_values`, ...

Those differen

[2020-04-03 21:23] jorisvandenbossche commented on #33276
So you could summarize my long post as "let's put back `_ndarray_values`" ... ahum
(but then better defined! and maybe with a mask ;))

[2020-04-03 21:29] charlesdong1991 commented on #33173
take

[2020-04-03 21:34] charlesdong1991 commented on #33251
thanks for posting @JunioCalu

However, I think the issue comes from this part:
[code]
If you remove this part, and you could see the axis is shown correctly. But keep in mind that this will show Pandas-styled Datetime Formatter, other than matplotlib-style one. So there will be a difference, e.g. probably you will see something like `Feb 2020` .

[2020-04-03 21:34] #33251 closed

[2020-04-03 22:13] jbrockmendel commented on #33276
Thanks for putting this together.  You're definitely right that the threads have become hard to follow.

Is there anything in this that is a) currently actionable and b) to the best of your knowledge we have consensus on?

For the list of "places where we use _values_for_foo and maybe shouldnt": `nargsort` dispatches to `EA._values_for_argsort` instead of just dispatching to `EA.argsort`.

Short-t

[2020-04-03 22:27] mproszewska commented on #32822
I have few more observations. Series uses `pd.core.construction.extract_array` for binary operations, which casts Series of ints to IntegerArray. So that dtype is maintained. DataFrame casts values arrays to np.array and dtype is determined based on values (hence problems with `nan`).
IMO best option would be forcing DataFrame to execute binary operations sequentially on its series, but I'm open t

[2020-04-03 22:49] JunioCalu commented on #33251
The date is not yet represented correctly

# -*- coding: UTF-8 -*-

import pandas as pd
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

hoje = datetime.datetime.now()
data = hoje.strftime("%Y%m%d")
dados_url = 'https://covid.saude.gov.br/assets/files/COVID19_'+data+'.csv'

try:
    print(dados_url)
    dados = pd.read_csv(dados_url, sep=';', parse_dates=['data'],

[2020-04-04 00:01] #32841 closed

[2020-04-04 00:01] #21824 closed

[2020-04-04 01:39] linxiaow commented on #33253
It seems that checking if there is any NA in both .any() method and .all() method right after the second else clause may solve this issue based on the table [#29686.](https://github.com/pandas-dev/pandas/issues/29686) I am new to open source and just looking around. I was wondering whether I can have a try if you believe this issue is suitable for a beginner?

[2020-04-04 01:56] jbrockmendel commented on #33276
Looking at removing the 4 _values_for_factorize usages in reshape.merge.  The natural thing to do would be to use `factorize` directly.  The trouble ATM is that in `_factorize_keys` we use the libhashtable.Factorizer object to call `rizer.get_count()` and `rizer.uniques.to_array`, which I dont think we have any analogue to in EA.factorize.  pls advise.

[2020-04-04 02:45] jbrockmendel commented on #33082
Looking again, I think this is correct.  We get similar behavior with a monotonic-decreasing numeric index:

[code]

[2020-04-04 02:47] ctheissen commented on #32917
I get the same error with Python 3.6.0 and Pandas 1.0.3.

[2020-04-04 03:07] TomAugspurger commented on #32917
We require Python>=3.6.1.

@geeeekDing let us know if you're using 3.6.1 or newer and we'll reopen.

[2020-04-04 03:09] TomAugspurger commented on #32917
Actually... are we missing a python requirement in our conda-forge package? https://github.com/conda-forge/pandas-feedstock/blob/master/recipe/meta.yaml Does anyone know how conda-forge sets that?

[2020-04-04 03:29] geeeekDing commented on #32917
Thanks, It should be my problem. I met this error in python 3.6.0, Thank you.

[2020-04-04 03:34] mroeschke commented on #8055
Since it looks like this was network dependent, it may be impossible to reproduce at this point. Going to close for now, but happy to reopen if someone is facing a similar issue

[2020-04-04 03:34] #8055 closed

[2020-04-04 04:30] mroeschke commented on #32383
Cant produce this either on master with OSX. Something possible might have been fixed on master in the meantime. Suppose it could use a test

[2020-04-04 04:45] #17961 closed

[2020-04-04 04:48] mroeschke commented on #20900
This looks like a duplicate of https://github.com/pandas-dev/pandas/issues/17010. Closing

[2020-04-04 04:48] #20900 closed

[2020-04-04 07:12] jorisvandenbossche commented on #33253
@linxiaow Yes, this issue should be suitable. A pull request is very welcome!

[2020-04-04 08:20] charlesdong1991 commented on #33251
thanks, can you be more specific? which part do you think the date is not represented correctly?

[2020-04-04 12:45] jorisvandenbossche commented on #33276
Not yet, I think, so let's first discuss a bit more before jumping to PRs (now, properly thinking the requirements through might need some code experiments though).

I would wait a bit with removing those, until we figure out what we want to replace it with. Yes, for our own Index subclasses, we can just redefine the engine values in the subclasses, but that's not a general solution for EAs. And i

[2020-04-04 12:48] jorisvandenbossche commented on #19696
I think so, yes (at least, IntervalArray is an ExtensionArray now)

[2020-04-04 12:52] jorisvandenbossche commented on #32586
To split off another topic from this issue, I opened a dedicated issue for the `_values_for_argsort` vs `_values_for_factorize` vs `_ndarray_values` discussion -> https://github.com/pandas-dev/pandas/issues/33276

[2020-04-04 13:18] jorisvandenbossche commented on #33276
Is it actually possible to use `factorize` for this?
To be clear, I also though it was possible earlier this week ;) (proven by my comment at https://github.com/pandas-dev/pandas/issues/33276). But now I am not so sure anymore.

So simplified we have something like this right now in [`reshape/merge.py`](https://github.com/pandas-dev/pandas/blob/9130da9ad35ba61bc4fa3ed503a7dd8d8eb1673c/pandas/core/

[2020-04-04 14:05] linxiaow commented on #33253
I took a look at the code
https://github.com/pandas-dev/pandas/blob/37dc5dc391333fede424964a3c8ab034318d6ed4/pandas/core/arrays/boolean.py#L517-L526
I quickly went through previous code and find a docstring for mask variable
https://github.com/pandas-dev/pandas/blob/37dc5dc391333fede424964a3c8ab034318d6ed4/pandas/core/arrays/boolean.py#L239-L241
I would assume self._mask in line 518 is also 1d nda

[2020-04-04 14:25] ianbtr commented on #32931
It looks like pd.NA be dropped entirely when concatenating two dataframes with object dtype, and this is very similar to #33065:

[code]

This seems to be due to ```_get_empty_dtype_and_na``` and ```JoinUnit.get_reindexed_values``` in ```concat.py```. The former selects ```np.nan``` for anything of dtype 'object'.  In this case (and probably many others), 'object' implicitly has a null-value of ``

[2020-04-04 15:21] jlandercy opened #33285 "DOC: Mention Index.equals takes into account order of arguments"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I have seen #13708, but according to documentation:

Should it return `True`  instead?

Reading how

[2020-04-04 15:24] jorisvandenbossche commented on #33253
@linxiaow that sounds about right! So PR welcome, that will also be easier to give feedback (and I would also advice to first write tests, so you can actually check if your fix is working)

[2020-04-04 15:30] linxiaow commented on #33253
@jorisvandenbossche I made a PR but it seems to fail the CI PR tests. A lot of PR fails, too. I am not sure what I missed. Any suggestions?

[2020-04-04 16:41] dsaxton commented on #33285
I think that like the other issue this is really a problem with the documentation and not an actual bug (the method tests for _equivalence_ and not just having the same elements as you point out). I would think that a PR to fix the documentation makes sense?

[2020-04-04 17:33] jbrockmendel opened #33287 "PERF: hashtable for 16, 32, 128 bit dtypes"
@jorisvandenbossche has pointed out in a couple of threads recently that the hashtables we use only support 64 bit float/uint/int dtypes.  As a result, whenever we need to factorize a smaller dtype, we have to copy+upcast.

khash.pxd looks like it has int32 functions; might there be uint32 or float32 variants available somewhere in the C code?  If not, what would it take to implement them?  cc @Wi

[2020-04-04 18:05] mroeschke commented on #33285
Agreed. The documentation can be clarified to mention that order is significant.

[2020-04-04 18:28] jtilly opened #33288 "REGR: Replacing a category with itself replaces it with np.nan"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

Operating on the categorical array directly, i.e. `pd.Categorical(["a", "b"]).replace("a", "a")` yields the same result.

#### Problem

[2020-04-04 18:32] MomIsBestFriend commented on #33255
Closing as there is no actual issue/bug

[2020-04-04 18:32] #33255 closed

[2020-04-04 18:47] MomIsBestFriend commented on #33285
take

[2020-04-04 19:48] simonjayhawkins commented on #26182
This was fixed in #28662

7c9042a73aea312806c10b6805a4ceccd6341bbd is the first new commit
commit 7c9042a73aea312806c10b6805a4ceccd6341bbd
Author: Daniel Saxton <2658661+dsaxton@users.noreply.github.com>
Date:   Wed Jan 1 10:21:27 2020 -0600

    BUG: Fix groupby.apply (#28662)

[2020-04-04 20:02] dsaxton commented on #33288
Thanks, looks like we're just removing the original value from the categories, which makes sense except in the precise case where the original and replacement are equal

[2020-04-04 20:35] mroeschke commented on #16719
Looks to work on master now. Could use a test

[code]

[2020-04-04 20:36] mroeschke commented on #12337
Since we don't support Python versions less than 3.6.1 and the CI hasn't had issues with this test, I imagine this is no longer an issue. Happy to reopen if anyone else experiences issues.

[2020-04-04 20:36] #12337 closed

[2020-04-04 21:05] WillAyd commented on #33287
Hmm not sure I understand the issue (probably due to my lack of any expertise in hashing) - Khash uses 32 bits for hashing . See https://github.com/pandas-dev/pandas/issues/28303#issuecomment-540729924

[2020-04-04 21:07] #32776 closed

[2020-04-04 21:40] AlexKirko commented on #32865
I'll also take a closer look at the median. It's acting funny during benchmarks.
Was fine during smaller scale tests, but now I see a bunch of NaNs with a `10 ** 5` array of random numbers. Will check.

[2020-04-04 21:49] simonjayhawkins commented on #26182
the code sample above gives the following traceback with 0.25.3 (expand details)

<details>

[code]
</details>

The following snippet follows the same path

[code]

and on master ...

[code]

[2020-04-04 21:55] jbrockmendel commented on #33287
At a high level this shows upm in core.algorithms._ensure_data where we cast any float/int/uint dtype to float64/int64/uint64.  Also shows up in libindex and in Categorical._values_for_factorize  where we do casting that ideally we'd avoid.

A level lower down from that in hashtable_class_helper.pxi.in we define Float64HashTable, Int64Hashtable, and Uint64Hastable, but not 16 or 32 bit variants.

[2020-04-05 00:12] mroeschke commented on #28155
We're happy to reopen this issue when we can validate the issue with a reproducible example.

[2020-04-05 00:12] #28155 closed

[2020-04-05 00:13] mroeschke commented on #28365
We're happy to reopen this issue when we can validate the issue with a reproducible example

[2020-04-05 00:13] #28365 closed

[2020-04-05 00:15] mroeschke commented on #30993
We're happy to reopen this issue when we can validate the issue with a reproducible example. Looking at small raw data samples should be sufficient instead of plots

[2020-04-05 00:15] #30993 closed

[2020-04-05 01:47] mroeschke commented on #28660
We're happy to reopen this issue when we can validate the issue with a reproducible example

[2020-04-05 01:47] #28660 closed

[2020-04-05 01:52] mroeschke commented on #7308
Looks to give a reasonable result now. Could use a test

[code]

[2020-04-05 01:59] mroeschke commented on #14564
Looks like all these cases work on master (except the `df = DataFrame(columns=['a', 'b'], dtype='datetime64')
df.quantile(0.5, numeric_only=False)` case returning NaTs). Could use test for the other cases.

[2020-04-05 02:05] mroeschke commented on #24600
These cases look to work on master. Could use a test

[code]

[2020-04-05 02:52] mroeschke commented on #22712
I don't imagine this is much of an issue anymore. On 1.18.1 no warning is issued. Closing for now but happy to reopen.

[code]

[2020-04-05 02:52] #22712 closed

[2020-04-05 02:59] JunioCalu commented on #33251
I would like it to be displayed in "dd/mm/yyyy" format, as I tried to do with the previous code.

[2020-04-05 04:04] DataSolveProblems opened #33298 "BUG: Replace methods fills value from previous row when replacing with None"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When replacing NaN with None using replace method, value, NaN value is replaced with value fr

[2020-04-05 05:53] neilkg commented on #33039
take

[2020-04-05 07:28] jorisvandenbossche commented on #33287
I think the "32 bits" is about the values being used as hashes, not about the values being hashed.

The different khash functions are initialized here:

https://github.com/pandas-dev/pandas/blob/265b8420121a66ed18329c7a90d5381aeda5454f/pandas/_libs/src/klib/khash.h#L563-L566

So apparently we do have 32bit signed integer (we just don't have a HashTable that uses it). What it would take to add othe

[2020-04-05 10:20] simonjayhawkins commented on #32988
cc @jbrockmendel

[2020-04-05 10:36] simonjayhawkins commented on #33058
cc @jbrockmendel

[2020-04-05 10:44] simonjayhawkins opened #33300 "RLS: 1.0.4"
we have several regressions reported since 1.0.3 (not due to 1.0.3, since 0.25.3) and a couple that had not been fixed.

https://github.com/pandas-dev/pandas/issues?page=1&q=is%3Aopen+is%3Aissue+label%3ARegression

Is there any that warrant a 1.0.4 release?

@pandas-dev/pandas-core

[2020-04-05 10:45] #31523 closed

[2020-04-05 11:45] simonjayhawkins commented on #33298
@DataSolveProblems Thanks for the report. I can confirm that the issue persists on master '1.1.0.dev0+1113.g8415f9ba2'

[2020-04-05 11:48] simonjayhawkins commented on #33298
I think the more idiomatic way would be to use DataFrame.fillna here, but that would raise `ValueError: Must specify a fill 'value' or 'method'.` Maybe a solution to this issue would be to allow None in fillna instead.

[2020-04-05 12:10] DataSolveProblems commented on #33298
I was able to workaround by passing a dictionary. Not ideal, but works.

[code]

[2020-04-05 12:23] simonjayhawkins commented on #33298
The issue occurs with other missing values not present in the DataFrame..

[code]

[2020-04-05 12:44] simonjayhawkins commented on #33298
from the examples in https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html, it looks like this maybe expected behaviour as the default value for `method` is `pad`

This issue also looks like a duplicate of #19998, so closing. ping to reopen if I missed something.

[2020-04-05 12:44] #33298 closed

[2020-04-05 13:52] simonjayhawkins opened #33302 "API/DEPR: DataFrame/Series.replace is too complex."
in https://github.com/pandas-dev/pandas/issues/17673#issue-260396559 @jorisvandenbossche wrote

opened this issue to discuss.

[2020-04-05 13:53] simonjayhawkins commented on #17673
@jorisvandenbossche The latest docs look like they cover all the documentation issues raised in the OP.

opened #33302 for that discussion

[2020-04-05 13:53] #17673 closed

[2020-04-05 14:07] simonjayhawkins commented on #33302
the current behaviour when `value` is `None` is surprising from an end-user point of view #19998.

https://github.com/pandas-dev/pandas/issues/19998#issuecomment-372030943 @reidy-p wrote

[2020-04-05 14:12] simonjayhawkins commented on #33302
could the `regex` parameter be deprecated and use str.replace instead? DataFrames don't have a str accessor, but this is a user request see #31850

[2020-04-05 16:09] jbrockmendel commented on #33302
+1 for simplifying

[2020-04-05 16:50] Rynndalyn commented on #28546
Having the exact same problem. Wasn't happening on a different version of jupyter yesterday but now it is and I can't seem to use pip install.

[2020-04-05 17:02] canaraphil opened #33305 "BUG:I am using Latest python 3.8 ,the pip install pandas is working and is successful but showing an when importing it is showing an error, need help"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-05 17:07] canaraphil commented on #33305
![image](https://user-images.githubusercontent.com/63202754/78504984-f0119680-778d-11ea-8c8d-9a1b035fcd7a.png)

[2020-04-05 17:38] mroeschke commented on #33305
Thanks for the report. Looks like a duplicate of https://github.com/pandas-dev/pandas/issues/32857

[2020-04-05 17:38] #33305 closed

[2020-04-05 18:28] #32740 closed

[2020-04-05 19:31] rogerioluizsi commented on #19254
i'm too

[2020-04-05 19:53] #32922 closed

[2020-04-05 19:57] jbrockmendel commented on #33302
After #33279 the follow-up removes the `filter` kwarg from `Block.replace`, which lets us simplify the implementatin of NDFrame.replace.  Doesnt affect the API, but pertinent.

[2020-04-05 20:01] leonardr commented on #29622
FYI I just released Beautiful Soup 4.9.0 with the fix discussed in this issue.

[2020-04-05 21:32] a-y-khan commented on #8902
In recent Pandas version (v1.0.3), concat coerces ints to `object` instead of floats:
[code]

[2020-04-05 23:29] yixinxiao7 commented on #33013
I'd like to take a look at this!

[2020-04-05 23:44] yixinxiao7 commented on #33013
take

[2020-04-06 01:16] linxiaow commented on #33253
@jorisvandenbossche Right now I am dealing with whatsnew entry requested by PR [here](https://github.com/pandas-dev/pandas/pull/33284). I am confused with API reference to the issue we are closing here. Here is what I have written under 1.1.0, bug fixed, Missing:

I did not pass the web and doc test, and I think that I do not reference the API in the correct way for `:meth: array.any`. I took a lo

[2020-04-06 07:54] tauqeerhasan commented on #23274
please share the full code to export dataframe to database..
i have 10300000 rows and df.to_sql is working very very slow.. i need a fast performance code..

[2020-04-06 08:29] #33285 closed

[2020-04-06 08:48] loudlemon commented on #32738
take

[2020-04-06 09:10] 3nrique0 commented on #28546
I think that for some reason the version of python called from that command is not the version on use: My system has python 2.7 as standard, and the virtual environment I'm using is 3.7. The errors were calling python2.7. So maybe someone hardcoded something like `#! /bin/python` somewhere instead of  `#! /usr/bin/env python` ??

[2020-04-06 09:53] jfcorbett opened #33313 "BUG: Bad error message on read_parquet() when wrong version of pyarrow is installed"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

With `pyarrow<0.13` installed,
[code]

#### Problem description

The error message says that `pyarrow` should be installed, eve

[2020-04-06 10:11] xhochy opened #33314 "BUG: clang-9: error: -Wl,-export_dynamic: 'linker' input unused (OSX)"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

### conda environment

[code]

<details>

[code]
</details>

Error message:

[code]

Output of `pip install -e ~/Development/pandas --no-deps --no-use-pep517 -vvv`:

<det

[2020-04-06 10:15] xhochy opened #33315 "Remove `-Werror` from setup.py"
It seems nice to have `-Werror` in CI but as a conda-forge maintainer I quite often have to write patches to remove `-Werror` from releases as the system distributions build packages on are not identical to the ones CI of upstream runs on. There is a large variety of compiler warnings and some may only show up when other C-defines are set. Also many new warning appear when you build with a newer c

[2020-04-06 10:16] xhochy commented on #33314
This is probably down somewhere in the packaged Python/distutils code but instead of fixing this, I'd rather see https://github.com/pandas-dev/pandas/issues/33315 tackled.

[2020-04-06 11:47] ghuname commented on #33071
You are welcome.

[2020-04-06 12:02] simonjayhawkins commented on #26109
caused by #22862 (i.e. 24.0)

ed294301318fae52ab7993ec57aab99f4630e985 is the first bad commit
commit ed294301318fae52ab7993ec57aab99f4630e985
Author: Tom Augspurger <TomAugspurger@users.noreply.github.com>
Date:   Thu Oct 25 17:38:54 2018 -0500

    REF: Make PeriodArray an ExtensionArray (#22862)

[2020-04-06 12:12] mgsnuno opened #33317 "BUG: value_counts Int64 zero-size array to reduction"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description
Found this while using `Int64` types in dask. Error occurred in `_meta.value_counts()`

#### Expected Output
Error not to occur.

#### Ou

[2020-04-06 12:22] TomAugspurger commented on #33300
I probably won't be able to help with one this week, but the scripts at https://github.com/pandas-dev/pandas-release should be reasonably up to date.

We'll need to manually verify that all the necessary PRs have been backported (I don't think they have). It might be easier to do a 1.1 release soon.

[2020-04-06 12:25] dsaxton commented on #33071
@ghuname We can leave this issue open, it should be closed automatically if / when the associated PR is merged

[2020-04-06 12:28] simonjayhawkins commented on #33300
I don't think this is urgent. It's more a matter of whether we should be labelling PRs that fix regressions as 1.0.4 and backporting.

IMO we should be ensuring that the 1.0.x fixes regressions from 0.25.3. 1.1 could introduce new regressions. so this is about ensuring an upgrade path for affected users.

[2020-04-06 12:35] TomAugspurger commented on #33315
cc @WillAyd @jbrockmendel

[2020-04-06 12:35] simonjayhawkins commented on #33317
Thanks @mgsnuno for the report. This issue didn't exist in 0.25.3 so marking as regression.

[code]

[2020-04-06 12:37] Rynndalyn commented on #28546
Yep. That’s what it was. Using pip3 to install and also installing openpyxl worked for me.

[2020-04-06 12:39] xhochy opened #33319 "BUG: ExtensionArray formatting of datetime-like forces nanosecond precision"
When passing in an `ExtensionArray` column into the formatting code, we always do a cast with `numpy.asarray(…)` and then re-enter the if-clauses in `format_array`. This enables us to re-use some of the formatting code that already is there for the existing columns but also is problematic for columns that are slightly different than the existing ones but can coerce to them.

In my current example

[2020-04-06 13:04] jorisvandenbossche commented on #33319
I think the second approach is the best way (or a variant of it).
First, we should not need to do `np.asarray(EA)` for formatting (because we have no guarantee it does not alter the scalar values you get from that numpy array compard to the scalar values from iterating through EA directly). And then not creating a numpy array, will also avoid re-using one of the other built-in formatters that migh

[2020-04-06 13:23] simonjayhawkins commented on #33317
raises from #30824 (i.e. 1.0.0)

8bdd7b13cff50e47551770ed5e8f780e04b2b5ea is the first bad commit
commit 8bdd7b13cff50e47551770ed5e8f780e04b2b5ea
Author: Tom Augspurger <TomAugspurger@users.noreply.github.com>
Date:   Thu Jan 9 13:19:34 2020 -0600

    BUG: BooleanArray.value_counts dropna (#30824)

cc @TomAugspurger

[2020-04-06 13:34] jreback commented on #33317
@simonjayhawkins generally we don't mark experimental features as regressions, simply mark them as bugs.

[2020-04-06 13:49] TomAugspurger opened #33321 "BUG: DataFrame.mode index dtype is not type stable"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

The `.index.dtype` is not stable for DataFrame.mode. It depends on whether the DataFrame is empty and possible the dtypes

[cod

[2020-04-06 13:54] TomAugspurger commented on #33203
So is the agreement to

* Import the objects (`Series`, `DataFrame`, etc.) in object-specific tests like `tests/series/test*.py`
* `import pandas as pd` elsewhere?

[2020-04-06 13:56] TomAugspurger commented on #33061
@narendra20 sure. I think the agreement from the maintainers is that a note in the user guide is the best way forward.

[2020-04-06 14:19] jorisvandenbossche opened #33323 "PERF: performance regression in slicing a Series"
All of the slice indexing benchmarks are showing regressions, eg https://pandas.pydata.org/speed/pandas/#indexing.NumericSeriesIndexing.time_loc_slice?p-index_dtype=%3Cclass%20'pandas.core.indexes.numeric.Int64Index'%3E&p-index_structure='unique_monotonic_inc'&commits=80d37adc-4f89c261

Replicating one of them with a small snippet confirms this:

[code]

vs

[code]

Checking with snakeviz shows th

[2020-04-06 14:33] #31784 closed

[2020-04-06 14:35] tommontroy commented on #31784
Thanks for pushing this through.

Best regards,

-Tom

[2020-04-06 15:01] TomAugspurger opened #33326 "CI: Doc build failing"
Raw log: https://pipelines.actions.githubusercontent.com/xZyE9jtmkxWlfCAbyu1SHPJOlsa2huNFYcxohSTomy6EbdNZT9/_apis/pipelines/1/runs/25615/signedlogcontent/5?urlExpires=2020-04-06T15%3A02%3A02.2235397Z&urlSigningMethod=HMACV1&urlSignature=eEVJM7I2bg9PFf1apMIamBRrB1gG01K%2F12iKl%2Fe%2Bp5k%3D

[code]

[2020-04-06 15:08] TomAugspurger commented on #33326
Sphinx 3.0.0 was released yesterday, so possibly related to that. But there are other PRs where this isn't an issue, also using 3.0.0. So it may not be deterministic.

[2020-04-06 15:20] jorisvandenbossche commented on #33326
This _should_ have been fixed by https://github.com/pandas-dev/pandas/pull/33309

[2020-04-06 15:22] TomAugspurger commented on #33326
Ah, thanks I missed that. I must have merged master just before it was merged.

[2020-04-06 15:22] #33326 closed

[2020-04-06 15:24] jorisvandenbossche commented on #33313
@jfcorbett thanks for the report! That error message could indeed be improved.

Contributions welcome!

[2020-04-06 15:35] jbrockmendel commented on #33315
Works for me

[2020-04-06 15:56] jbrockmendel commented on #33323
sounds like a typo, yah

[2020-04-06 15:57] simonjayhawkins commented on #17309
maybe could provide a more helpful error message (with link to groupby.transform/apply docs) and maybe raise NotImplementedError in the short term

[2020-04-06 16:03] TomAugspurger opened #33327 "BUG: User-facing AssertionError in Series.to_timestamp"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Users shouldn't see AssertionErrors like this, since they may be disabled when the interprete

[2020-04-06 16:04] TomAugspurger commented on #33327
Same issue applies to Series.to_period

[2020-04-06 16:11] #33323 closed

[2020-04-06 16:11] WillAyd commented on #33315
Unless there is an urgent need for this I would prefer not to. Haven't looked into the latest issue you have opened, but of anything else to date they are upstream bugs that we have since raised back with those projects; we wouldn't have visibility to those otherwise

[2020-04-06 16:19] TomAugspurger commented on #31452
Closing this as a duplicate of https://github.com/pandas-dev/pandas/issues/28283

[2020-04-06 16:19] #31452 closed

[2020-04-06 16:21] dsaxton commented on #33327
@TomAugspurger Are those assertions in order to placate mypy? Wonder if there's another way of doing that?

[2020-04-06 16:21] TomAugspurger commented on #28283
Do people think that accessor methods like `.str` and `.dt` should call finalize? IMO, yes they should.

[2020-04-06 16:28] TomAugspurger commented on #33327
Not sure. I would hope that with

[code]

but we can make the `assert` for mypy after we've done the user-facing check if needed.

[2020-04-06 16:30] jbrockmendel commented on #33203
The fewer things are tested in a module, the more I care about specific imports (recall above Im calling the two options "specific"/"concise").  So in `tests.tslibs` or `tests.scalar` I care a lot, in `tests.indexes` i care medium, and in tests.frame and in `tests.io` i dont care at all.

[2020-04-06 17:19] darck-neos opened #33330 "BUG: Inconsistent replacement of values"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-06 17:26] simonjayhawkins commented on #33172
For the Int64 case

[code]

on 0.25.3

[code]

8bdd7b13cff50e47551770ed5e8f780e04b2b5ea is the first bad commit
commit 8bdd7b13cff50e47551770ed5e8f780e04b2b5ea
Author: Tom Augspurger <TomAugspurger@users.noreply.github.com>
Date:   Thu Jan 9 13:19:34 2020 -0600

    BUG: BooleanArray.value_counts dropna (#30824)

#30824 made changes to masked extension arrays, so assume behaviour of other extensio

[2020-04-06 17:31] xhochy opened #33331 "BUG: concat_{categorical, compat} leads to erroneous result on non-ns datetime-EA"
Code to reproduce:

[code]

This happens as `concat_datetime` / `_convert_datetimelike_to_object` assumes that datetimes are nanoseconds only.

[2020-04-06 17:36] xhochy commented on #33331
Possible options include support for non-nanosecond timestamps in `_convert_datetimelike_to_object` or that we directly convert to `np.array(…, dtype=object)` in `concat_categorical`.

[2020-04-06 17:47] jreback commented on #33331
FYI @xhochy happy to have these issues, but keep in mind that i8 backing of anything datetime related is quite baked in; we will likey need an extended period and a fair amount of effort to generalize this.

I would make a master issue that references these other issues (with check boxes).

[2020-04-06 17:48] jorisvandenbossche commented on #28283
But would you then handle `name` propagation there?

[2020-04-06 17:54] jbrockmendel commented on #33330
@dark-neos can you cut this down to the minimal material i need to copy/paste to see the issue?  e.g. are the flags really relevant?

[2020-04-06 17:55] jbrockmendel commented on #33198
@MomIsBestFriend this is non-trivial, might be worth taking a shot at

[2020-04-06 18:06] TomAugspurger commented on #28283
Name propagation isn't (currently) handled in `__finalize__`. I don't think it should be handled there currently, since the current `__finalize__` isn't well suited to resolving the name when there are multiple inputs. In the future it might make sense.

My two motivating use-cases here are

1. My `allow_duplicate_labels` PR, for disallowing duplicates
2. A workload that preserves something like `

[2020-04-06 18:09] jreback opened #33333 "DEPR: deprecate _data when getting BlockManager"
we renamed `_data` -> `_mgr` to provide more clarity on the internals; we should add a `DeprecationWarning` on calling this from the pandas objects (`DataFrame/Series`) to have downstream update to use `_mgr` at some point: https://github.com/pandas-dev/pandas/pull/33054#issuecomment-609948311

[2020-04-06 18:12] darck-neos commented on #33330
The flags are to show the state of numpy arrays from DataFrame and directly from numpy, for example that WRITEABLE is True.

The minimal material to replicate would be:

[code]

#### Output:

[code]

[2020-04-06 18:14] jorisvandenbossche commented on #28283
It actually is, not? At least in some cases? (eg for new Series originating from other Series, where `other` is that Series).

[2020-04-06 18:15] xhochy commented on #33331
I can make a master issue once I come across more of these.

Also I'm aware that this is non-trivial and I expect nobody but me to implement anything here.

[2020-04-06 18:18] jbrockmendel commented on #33330
Thank you, that clarifies the issue.

In general setting on `frame.values` is _not_ equivalent to setting directly on `frame.iloc`.  In particular, when we have mixed dtypes, `frame.values` is not a view on the underlying arrays.

[2020-04-06 18:37] sammy0231 opened #33335 "Selenium By Python--> Getting error while running program"
![selenium by python](https://user-images.githubusercontent.com/63258257/78593086-b14e1000-7863-11ea-805e-7f185ae202ae.PNG)

pip latest version is also installed

[2020-04-06 18:39] sammy0231 commented on #15103
Hello,

is it mandatory to install anaconda?
because in python udemy course anaconda is not available .

and now I already installed all the package and pip latest version but still getting issue
![selenium by python](https://user-images.githubusercontent.com/63258257/78593330-16096a80-7864-11ea-8a5a-b14180b0290d.PNG)

kindly suggest me

[2020-04-06 18:59] TomAugspurger commented on #28283
Apologies, I forgot that `name` was in `_metadata`. So yes, name handling could be handled there.

[2020-04-06 19:03] TomAugspurger commented on #33203
Something like that, though your preferences may be a bit stronger. So the wording may be "prefer specific imports, unless you're testing general things"?

[2020-04-06 19:18] jbrockmendel commented on #33203
Yah, strength of preferences in my previous comment should all be normalized by "eh, not that big a deal".

[code]

[2020-04-06 19:22] TomAugspurger commented on #33315
We would still catch these on CI by setting `CFLAGS`. This would just remove the issue for contributors and packagers (whose environments are out of our control).

[2020-04-06 19:53] TomAugspurger opened #33338 "DOC/API: Discussion on whether __finalize__ is public"
Currently `NDFrame.__finalize__` is not documented. We only have a couple references to it in the whatsnew.

I have a few questions around its API

1. Is it considered public? Can subclasses call `self.__finalize__()`?
2. Are the values passed in `method='...'` considered public?

[2020-04-06 19:58] mroeschke commented on #33335
Looks like this issue is with Selenium. This board is for pandas issues

[2020-04-06 19:58] #33335 closed

[2020-04-06 21:15] #32173 closed

[2020-04-06 21:19] jreback commented on #33153
I think the inconsistency with `.loc` is a big deal here. If we want to deprecate, ok, but that would be for both `.loc` and `.at`. Trying to shoe-horn this change to behavior here seems like a bad idea.

this is not easy at all to be more strict here.

[2020-04-06 21:20] jreback commented on #33153
Since this is blocking a number of PRs I would say @jorisvandenbossche pls make an issue for discussion if you think we ought to consider fixing duplicate label indexing (for both .loc and .at).

[2020-04-06 21:58] #33317 closed

[2020-04-06 22:01] #33288 closed

[2020-04-06 22:29] BenjaminLiuPenrose commented on #32383
cannot reproduce this for pandas master and v1.0.1 and v0.25.3 in Windows environment.

[2020-04-06 22:57] WillAyd commented on #33315
Those issues weren't discovered by CI but rather by contributors, so if we do what I think is suggested here we won't discover those issues.

Understood on packaging but is there not a concrete set of warnings we can ignore via `-Wno-error` switches instead of globally disabling?

[2020-04-06 22:59] dhimmel commented on #10523
With pandas 1.0.3 I got `Setting mangle_dupe_cols=False is not supported yet`.

<details>

[code]

</details>

[2020-04-06 23:26] #32207 closed

[2020-04-07 00:23] #32664 closed

[2020-04-07 01:03] jreback commented on #33276
discussed in an unrelated PR

i see quite a lot of code that must convert an EA to something we can pass to cython; so kind of like _values_for_argsort but with Nans filled (though if we always used masks that would maybe be better)

eg something like

vals = vals.to_numpy(dtype=float, na_value=np.nan)

for nullable integers, but ideally we just a method on EAs (and of course we want a non object

[2020-04-07 01:23] #33069 closed

[2020-04-07 03:10] jbrockmendel opened #33355 "BUG/API: should MultiIndex with leading integer level fallback to positional?"
[code]

My intuition is that `ser[3]` should behave like indexing on just the first level of the MultIIndex:

[code]

Should we avoid the fallback-to-positional behavior in this case?

[2020-04-07 05:03] kashave commented on #15103
@sammy0231
its mandatory to install Anaconda, otherwise pycharm will not work and follow the same step as above

[2020-04-07 05:58] quangngd commented on #33313
take

[2020-04-07 07:01] dilip1408 commented on #5401
Seems, this has not implemented yet. I'm using the latest version-1.0.3

[2020-04-07 07:12] yohplala opened #33358 "DatetimeIndex.to_period with freq"
- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the latest version of pandas (1.0.3).
---

#### Code Sample

[code]

#### Problem description

It is specified in documentation that if not provided, `freq` is inferred.
However, with above-provided input, I get the error message indicated.
Is this a bug?

Thanks for your feedback.
Bests,

[2020-04-07 07:31] jorisvandenbossche commented on #33338
To be clear, I only meant to say "those `method` that have been in a release *for ages*". So not implying that the new ones you added now will become "stable" once we release 1.1.

So for clarity, before your PR to add `method` arguments, there were only 2 places where we actually used this: "concat" and the different "merge" flavors.
And both are used by GeoPandas:

https://github.com/geopandas/g

[2020-04-07 07:33] jorisvandenbossche commented on #33153
*This* is that issue?

[2020-04-07 07:46] jorisvandenbossche commented on #33153
Ah, read over "both loc and at". But, I don't think those necessarily need to be handled / discussed at the same time. As there is quite some difference: `.loc` *by definion* can return different types (dataframe, series, scalar) depending on what you pass to loc.
For loc, there could be a discussion about having a consistent return type depending on the *type* of the indexer. For that, there is a

[2020-04-07 07:53] sammy0231 commented on #15103
ok

[2020-04-07 07:55] jorisvandenbossche commented on #33333
I personally don't think there is much value in going through a deprecation cycle here.

We only did this rename to make searching in our code base easier, and not because something is broken or it is a wrong name or something else we are trying to solve, I don't see a reason why we should bother ourselves and downstream packages with a deprecation cycle since it is not "fixing" anything.

If we w

[2020-04-07 07:57] jorisvandenbossche commented on #33355
Didn't look in detail, but just from the title this might be related to / duplicate of https://github.com/pandas-dev/pandas/issues/21677 (and a recent duplicate as https://github.com/pandas-dev/pandas/issues/32188)

[2020-04-07 09:13] de-code opened #33360 "BUG: Can't disable progress bar for read_gbq"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-04-07 09:34] andrewm4894 commented on #11704
If i wanted to do something like this:

[code]

Does anyone know what the best current workaround would be?

[2020-04-07 09:51] jfcorbett commented on #33313
@jorisvandenbossche Done! ^^^

@quangngd  Sorry if I jumped the gun!  first-time contributor.

[2020-04-07 09:54] jfcorbett commented on #33313
take

[2020-04-07 10:04] #32194 closed

[2020-04-07 10:04] #33071 closed

[2020-04-07 11:16] MomIsBestFriend commented on #33198
@jbrockmendel I Will definitely give it a shot, thank you for giving me things I might be able to work on!

[2020-04-07 11:20] TomAugspurger commented on #33315
OK. I haven't followed the issues too closely.

While I'm here, I'm trying to run ASV on a branch but I'm seeing

[code]

How would I debug that?

[2020-04-07 11:23] TomAugspurger commented on #33360
Thanks for the report. Looks like we need to just always set it at https://github.com/pandas-dev/pandas/blob/6ae710adf2739ca9da0877e7cc780f420661b670/pandas/io/gbq.py#L171-L172.

We'll need to verify that the minimum supported version of gbq will accept it.

[2020-04-07 11:37] TomAugspurger opened #33365 "PERF: Regression in Series.is_monotonic_increasing for categorical"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Pandas 1.0.1

[code]

Master

[code]

#### Problem description

https://pandas.pydata.org/speed/pandas/#categoricals.IsMonotoni

[2020-04-07 11:46] sammy0231 commented on #15103
![image](https://user-images.githubusercontent.com/63258257/78665314-3df3df00-78f3-11ea-8b5f-08b91784d833.png)

done all the steps still getting same issue,

could you please review the screen and let me know if you got any issue.

check project path also.

what is missing from my end

[2020-04-07 11:47] TomAugspurger commented on #33338
Making this more robust is my main goal of any refactor. The current status of `method` is some arbitrary string, which may or may not inform you of what's in `other` (depending on whether we consider the type of other as part of the API) isn't really sustainable.

[2020-04-07 11:57] #28528 closed

[2020-04-07 12:23] kashave commented on #15103
project path is correct, after install please restart machine.
and for check correct working, please import  for testing purpose like

import numpy as np

X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
print(X)
y = np.array([1, 2, 3, 4])
print(y)

 and please check setting for correctly pointing

![Capture](https://user-images.githubusercontent.com/19545910/78668652-a98c7b00-78f8-11ea-97c3-9e9ee7d

[2020-04-07 12:25] de-code commented on #33360
You could also set the default to something like `NOT_SET` and compare against that instead of `None`. (Or use something like kwargs)

[2020-04-07 13:42] ThibTrip commented on #14553
Hello!

If you want to see a non agnostic implementation for doing upserts I have an example with my library [pangres](https://github.com/ThibTrip/pangres). It handles PostgreSQL and MySQL using sqlalchemy functions specific for those databases types. As for SQlite (and other databases types allowing a similar upsert syntax) it uses a compiled regular sqlalchemy Insert.

I share this thinking it m

[2020-04-07 13:51] WillAyd commented on #33315
That warning is thrown during the Cythonize step not compilation, so slightly separate from this.

I think the cythonize command accepts Werror, but we don’t pass it and there’s a lot of work to be done for latest bug fix release to clean warnings. Not sure how to best debug

Sent from my iPhone

[2020-04-07 13:55] TomAugspurger commented on #33360
I'm not sure why we have a different default, perhaps a version issue. Ideally we would just follow pandas-gbq (cc @tswast)

[2020-04-07 14:15] tswast commented on #33360
Yes, it was left out due to version issues. `progress_bar_type` was added in `pandas-gbq==0.12.0`.

Options:

1. Increment minimum pandas-gbq version to at least `0.12.0` and pass through the argument value to pandas-gbq.
2. Use a sentinel value for the default (`NOT_SET`) and only populate the value in pandas-gbq when set to something else.

By following (2), the default value in pandas-gbq will

[2020-04-07 14:17] TomAugspurger commented on #28283
When should we call finalize? A high-level list:

Yes

1. Reshape operations (stack, unstack, reset_index, set_index, to_frame)
2. Indexing (take, loc, iloc, `__getitem__`, reindex, drop, assign, select_dtypes, nlargest?)
3. "transforms" (repeat, explode, shift, diff, round, isin, fillna, isna, dropna, copy, rename, applymap, `.transform`, sort_values, sort_index)
4. Accessor methods returning Ser

[2020-04-07 14:31] WillAyd commented on #33224
This was fixed upstream on Cython master. Thanks @scoder and @da-woods for the help!

[2020-04-07 14:31] #33224 closed

[2020-04-07 14:49] jbrockmendel opened #33368 "PERF/DISC: restrict inputs to is_foo_dtype"
xref #33364

A lot of the overhead in is_foo_dtype (which we call _a lot_) comes from checking for dtype objects, arrays, and strings.  We could tighten these to be e.g.

[code]

The trouble with this is some of these are user-facing, so this would require a deprecation cycle, and in the interim the `warnings` call would actually hurt performance.

[2020-04-07 14:50] jbrockmendel commented on #23359
Been thinking about this recently, I think the view trouble is going to make caching on DTA/TDA/PA infeasible

[2020-04-07 14:54] TomAugspurger commented on #33368
It'll be a bit of work, but we can define

[code]

And internally we use the strict `_is_extension_array_dtype`. That's probably worth doing regardless of whether we deprecate the flexible stuff, and only accept dtype instances.

[2020-04-07 14:58] ftilde opened #33369 "BUG: Adding `label` argument to `plot()` removes error bars"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

When adding both `yerr` and `label` as parameters to the `plot()` function call, no error bars

[2020-04-07 15:03] jbrockmendel commented on #33368
Makes sense.  Should keep the names public (no underscore, not in the public API), maybe some abbreviation `is_ea_dtype`, `is_dt64_dtype`, ...

[2020-04-07 15:15] MomIsBestFriend commented on #33224
@WillAyd I just tried Cython with the latest version https://github.com/cython/cython/tree/30c891e0dc36a553455df9064ecb1f13414a12d2

And pandas still have some errors for example in ```pandas/_libs/join.pyx```

<details>

[code]
</details>

---

Would you like me to upload the full log file, as well any files that have errors in them?

[2020-04-07 15:18] WillAyd commented on #33224
Those don't appear the same as the OP so probably a separate issue. Try cleaning your environment, then rebuilding and if it persists open a new issue