[2018-07-28 17:16] charris commented on #22101
The `DeprecationWarning` has been around since  NumPy 1.10, what is new is https://github.com/numpy/numpy/pull/10337. Note the Pandas comments in the referenced issue https://github.com/numpy/numpy/issues/5188. I think Pandas may have had a workaround that now fails.

[2018-07-28 17:20] otro-mas1 commented on #22088
ok,  in that situation I would use the copy.
Good luck

[2018-07-28 19:40] RobMulla commented on #22088
I'm working on a PR that should solve this issue. The plotting method sets 'x' to the index by default. These two lines will allow for x == y
[code]

I've confirmed it works locally

![selection_007](https://user-images.githubusercontent.com/6800879/43360053-846753fe-927c-11e8-9cfb-ae4d33044fea.png)

[2018-07-28 20:05] danielwlogan commented on #22088
Yes, that output is exactly what I would expect. I figured it was something "simple" but hidden in the inner workings of `plot()`. Hopefully, your PR will make it into the next release. Thanks for tracking down a/the solution.

[2018-07-28 20:13] mroeschke commented on #18308
This looks fixed on master if anyone wants to put up a test:

[code]

[2018-07-28 20:31] mroeschke commented on #14948
Once #19420 is solved, this should be fixed as well. The main cause of the conversion to UTC is an `.unstack()` call as described in the linked issue.

[2018-07-28 20:42] mroeschke commented on #18029
This behavior looks fixed on master if anyone wants to put up at test.

[code]

[2018-07-28 20:48] mroeschke commented on #18031
This looks fixed on master if anyone wants to put up a test:

[code]

[2018-07-28 20:54] mroeschke commented on #15553
#21660 closed `where` (and` update` since it uses `where` under the hood) and `combine_first`

[2018-07-28 21:57] WillAyd commented on #22088
Just out of curiosity what is the use case for this? This is always just going to be a straight line no? Any practical application?

[2018-07-28 22:16] WillAyd commented on #22103
This isn't a bug - the `colspecs` parameter accepts a list of tuples containing the `[from, to[` ranges (as noted in documentation).

If you wanted "ZZZ" your signature should be as follows:

[code]

[2018-07-28 22:16] #22103 closed

[2018-07-28 22:31] WillAyd commented on #22102
Why would you need this? You'd be much better off just assigning those scalar values as individual columns - this seems rather hacky

[2018-07-28 23:18] Tux1 commented on #22047
Any idea about the root cause ? If you give me some tips, I can have a look

[2018-07-28 23:56] jbrockmendel commented on #22047
No idea what changed it, but it'll be fixed by the follow-up after #22074.

[2018-07-29 00:04] D-K-E commented on #18262
Hi, I am also -1 for deprecating `xs()`.
I read most of the discussion in the related issue.
But as someone whose using pandas from time to time, the sheer amount of capacity of `loc` is kind of confusing me.
Especially when I am using a multi index with different levels. I tend to remember the levels not in their order of hierarchy but by their names. Selection by `loc` becomes a hassle when I wa

[2018-07-29 02:42] jbrockmendel opened #22112 "[DEPR] remove `skipna` kwarg from `infer_dtype`?"
All non-test usages of `lib.infer_dtype` have `skipna=False` (or more specifically, they don't pass the kwarg).  If we get rid of that option, a nontrivial chunk of inference.pyx can be simplified.

[2018-07-29 03:34] jreback commented on #22112
no this was specifically added as backwards compat

[2018-07-29 03:35] jbrockmendel commented on #22112
Ahh OK.

[2018-07-29 03:35] #22112 closed

[2018-07-29 05:03] jbrockmendel commented on #19486
@chris-b1 any idea how to do a c-equivalent of:

with tm.set_timezone(“UTC”):

?  If that can be done then I think I have a fix for this issue.

[2018-07-29 05:54] pytoccaz commented on #22103
shame on me...

[2018-07-29 07:13] madman-bob commented on #22102
I've got a `DataFrame` and a collection of functions expecting `Series` of various lengths, each returning a `Series`, of potentially different length. I want to chunk the `DataFrame` into various columns, `apply` the appropriate functions, and then rejoin the `DataFrame`.

For the most part this works fine, but it gets confused if the function expects a `Series` of length 0.

That said, even with

[2018-07-29 07:31] mroeschke commented on #14299
Duplicate of #18946

[2018-07-29 07:31] #14299 closed

[2018-07-29 15:33] #18464 closed

[2018-07-29 17:01] RobMulla commented on #22088
Not sure what @danielwlogan is intending to plot. It will always be a straight line, but if you used `style='*'` you could see where points sit on the line.

Now that I'm thinking about it, the fix won't work for a situation where `df.plot(x='x', y = ['x', 'y'])` which it probably should.

[2018-07-29 17:43] 0x0L commented on #21949
@holymonson fix available for test at https://github.com/0x0L/fastparquet/commit/5773086fb5efdd3f6d54b79f2030efd94ed31ecc

[2018-07-29 17:47] danielwlogan commented on #22088
There have been a number of times where this is useful. Most recently this is the situation that I am trying visualize.

I am trying to compare two models, `f(t)` and `g(t)`. Say `f(t)` is what is currently done and I want to investigate if `g(t)` is a better model (e.g. gives a higher value). One way to visualize this is to plot `g(t)` vs `f(t)` where each point is a different t. By plotting `f(t

[2018-07-29 20:12] mroeschke opened #22116 "API: Have pd.pivot mirror pivot instead of pivot_simple"
To pivot, there's currently:

`pd.pivot_table / df.pivot_table`
https://github.com/pandas-dev/pandas/blob/d30c4a0696d5fbdc3c7ce36a9b9b19224a557e09/pandas/core/reshape/pivot.py#L28

`df.pivot`
https://github.com/pandas-dev/pandas/blob/d30c4a0696d5fbdc3c7ce36a9b9b19224a557e09/pandas/core/reshape/reshape.py#L386

`pivot_simple` (Importable at the top level as `pd.pivot`)
https://github.com/pandas-dev

[2018-07-29 21:06] realead opened #22119 "pd.core.algorithms.isin() doesn't handle nan correctly if it is a Python-object"
#### Example

[code]

#### Problem description
results in

[code]

#### Expected Output

However, I would expect the result to be

[code]

which is the case for example for

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.4.0-53-generic
machine: x86_64
processor: x86_64
byteor

[2018-07-29 21:13] realead commented on #22119
I didn't debug it yet, but the issue is probably similar to #21866 (with the difference, that there is no special handling in `isin()` in the case of Python-objects as there is in the case of float64).

The right fix would be probably to fix the behavior of the hash-table and not to try to implement workarounds.

[2018-07-29 21:40] andrewgsavage opened #22120 "Transposing dataframe loses dtype and ExtensionArray"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When transposing a df containing a non standard dtype, the dtype is lost, and the ExtensionArray becomes an ndarray. I believe this occurs because the ExtensionArray is converted to an np array in the process of transposing the df, which does not keep the dtype/ExtensionArray.
#### Expected Output

print(df.info

[2018-07-30 00:57] mroeschke opened #22122 "STYLE: Additional flake8 checks"
Currently we ignore some flake8 checks:

Checks that (currently) we're okay with skipping
-  E402,  # module level import not at top of file
-  E731,  # do not assign a lambda expression, use a def
-  W503   # line break before binary operator

Checks that should be run
- [x]  E741,  # do not use variables named 'l', 'O', or 'I' #22795 (#23131)
- [x] C405,  # Unnecessary (list/tuple) literal - rew

[2018-07-30 01:39] peterpanmj commented on #19499
It is not fully solved.
[code]
The above is the behavior from current master ( pandas: 0.24.0.dev0+377.gd30c4a069)
It is always tricky when it comes to method implemented separately for groupby and none-groupby.
I am working on a PR. Reopen it or should I submit another issue ?

[2018-07-30 02:14] wuhuanyan commented on #14315
I recently encountered the same problem. In the end, I found a solution to the problem.
[code]

[2018-07-30 02:15] wuhuanyan commented on #14315
我最近遇到了同样的问题。最后，我找到了解决问题的方法。
[https://stackoverflow.com/questions/42727990/speed-up-to-sql-when-writing-pandas-dataframe-to-oracle-database-using-sqlalch#](url)

[2018-07-30 02:22] WillAyd commented on #19499
Thanks for the callout. I didn't realize in the PR that closed this but we may have only fixed this when dealing with object dtypes.

@peterpanmj better to open a separate issue at this point. cc @raguiar2

[2018-07-30 03:13] jbrockmendel commented on #22122
I’d be +1 on adding E741

[2018-07-30 05:10] peterpanmj opened #22124 "groupby.rank 'na_option="bottom"' Usage Clarification"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When an invalid value is passed to ``groupby.rank`` for ``na_option`` argument. It didn't raise a ValueError as expected. The same behavior will raise a  ValueError("na_option must be one of 'keep', 'top', or 'bottom'") in ``DataFrame.rank`` or ``Series.rank``
 The expected output is derived from #19499
#### Ex

[2018-07-30 06:37] psicktrick commented on #21786
can anyone suggest a similar workaround for rolling correlation between two columns of a dataframe?

[2018-07-30 06:47] psicktrick commented on #21786
Will downgrading to msvc 2015 help my case?

[2018-07-30 06:54] s-wakaba commented on #22060
in 1st case (NOT MultiIndex), type of index is lost in method `DataFrame._ensure_valid_index()` in file `pandas/core/frame.py`. This method is used in `__setitem__()` and `insert()`, thus `DataFrame.insert()` also has the same problem.

[code]

in `_ensure_valid_index()` method,
[code]

I'm not sure that it's appropriate that `if not len(self.index)` means "if we don't have an index"

Furthermore,

[2018-07-30 08:18] glyg opened #22126 "Low performance when assigning to multiple columns"
#### Code Sample, a copy-pastable example if possible

[code]
**Note** without the `df['z'] = 'u'` line all the assignment are similarly fast, around 5 ms.

#### Problem description

This difference is performance is strange and doesn't seem justified. Running `df[list('hjf')] = data` through snakeviz gives the following output:

![snakeviz output](https://user-images.githubusercontent.com/1426279

[2018-07-30 09:51] toobaz commented on #22126
@glyg thanks for the detailed report, very useful.

Mixed dtype assignments currently take unnecessarily expensive paths, and while most indexing code will have to be rewritten to (for instance) separate actual indexing from (multiple dtype) setting, I tend to think this specific issue might have a simpler and more immediate fix. As a bare minimum, there should be a test somewhere that checks whet

[2018-07-30 09:59] jreback commented on #22126
This fixes, though has a couple of test failures, which look like easy adjustments at first glance. I don't really remember the rationale for this, was an edge though.

[code]

[2018-07-30 10:11] glyg commented on #22126
Thanks, I'm giving it a try. Should I try to fix the tests?

[2018-07-30 10:30] #11736 closed

[2018-07-30 10:30] #17697 closed

[2018-07-30 10:30] #21864 closed

[2018-07-30 10:31] #22067 closed

[2018-07-30 10:45] jorisvandenbossche commented on #21850
I agree with @jzwinck that "old code" and "burden to maintain apis and code" is not a good reason for deprecating `from_items`. `from_items` is really not that of a complicated function (compared to many other things in pandas) and as @jzwinck shows can be easily cleaned-up.

*If* that was the original reason to deprecate it, I think the PR of @jzwinck is a perfectly reasonable solution.

However,

[2018-07-30 10:52] birdsarah commented on #19941
@mrocklin, I was playing with this to see if I could track anything further down.

I noticed that if I run without multithreading, I still appear to get a memory leak:

[code]

(test_data is the csv written to disk by your original code)

Result 1 - `engine='python'`:
[code]

Result 2 - `engine='c'`:
[code]

This is on Linux (Fedora)

[code]

[2018-07-30 11:01] TomAugspurger opened #22128 "RLS: 0.23.4"
https://github.com/pandas-dev/pandas/pull/21813

Now that https://github.com/pandas-dev/pandas/pull/21813 is in, we should do a 0.23.4 release soon (maybe today?). Any objections?

Here are the issues with 0.23.4: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.23.4

IMO, none are blockers.

cc @jreback, @chris-b1

[2018-07-30 11:12] TomAugspurger commented on #22120
In general, transpose will result in `object` dtype columns, since most dataframes have a mixture of dtypes. We could have a special case for when all the columns are the same dtype, and essentially do a `concat` on the rows.

[2018-07-30 11:14] TomAugspurger commented on #22119
Does this result in a higher-level bug for you? This is the same behavior as Python

[code]

[2018-07-30 11:42] jreback commented on #22128
let's try to get the existing PR's fixed and see if can work on any existing issues? maybe end of week?

[2018-07-30 11:43] jreback commented on #22128
FYI #21813 needs backporting (manually) I think

[2018-07-30 11:43] realead commented on #22119
@TomAugspurger

I have used `isin`  directly. I guess there are some workarounds in place for `Series`, which catch this corner case, when `Series.isin(...)` is used - at least I was not able to reproduce this error without much trying.

However, to be precise, my example corresponds to:

[code]

Or using float('nan')

[code]

Probably, this is the case because `==`  uses `is` at first and only th

[2018-07-30 11:44] jreback commented on #22126
@glyg you have to evaluate any failing tests to see if you are truly changing things or test was wrong or whatever.

[2018-07-30 11:46] TomAugspurger commented on #22128
Yeah, I can take care of backporting.

EOW sounds good. I don't think I'll have any availability on Wednesday and Thursday. Should be able to help out on Friday.

[2018-07-30 11:47] glyg commented on #22126
Ok, I can already confirm your patch fixes the performance issue. I'm running the whole test suite now, will look into the failing ones.

[2018-07-30 12:09] jzwinck commented on #21850
Thanks for the insight @jorisvandenbossche.  If this were a brand new API, I would not promote it either.  But as you point out, it is an API Pandas has had for a long time.

To me the largest concerns are
 1. Existing uses of `from_items()` in the wild.
 2. The inadequacy (even bugs, see below) of the refactoring proposed by the deprecation warning.  Reading #4916, it was not totally clear even t

[2018-07-30 12:46] elmq0022 commented on #22045
Claiming this one.  I will take care of it just to get some experience with the documentation system.

[2018-07-30 13:06] TomAugspurger commented on #22060
I don't think it is appropriate.

[2018-07-30 13:51] gfyoung commented on #22086
This seems like an interesting proposal.  Only concern I have is bloating DataFrame core API / maintenance in the long run.

cc @jreback @jorisvandenbossche

[2018-07-30 13:53] gfyoung commented on #22091
@nmusolino : So the issue in itself is the same as the one in #8712?  In that case, it would be better to express your opinion for the solution in the original issue.

[2018-07-30 13:54] gfyoung commented on #22092
Weird behavior = surprise features 🙂

[2018-07-30 13:56] gfyoung commented on #22116
cc @jreback

[2018-07-30 13:59] gfyoung commented on #22119
The fact that we're getting inconsistent results depending on the `np.nan` "wrapper" (`ndarray` vs `list`) looks weird in itself.

cc @jreback : do we have precedent for treating `np.nan` as equal to itself?

[2018-07-30 14:04] TomAugspurger commented on #22119
NaN is never equal to itself.

The fact that `dictionary[my_nan]` gives a different result to
`dictionary[float('nan')]` is because Python's hashtable first checks for
object identity. If this doesn't turn up anything, then it falls back to
equality. `np.nan` happens to be a singleton, but IIRC, this isn't part of
the documented API.

So I guess my recommendation would be to not try to look up NaN

[2018-07-30 14:10] realead commented on #22119
@gfyoung  pd.unique() treats all nans as being the same:

[code]

[2018-07-30 14:42] ginggs opened #22129 "Python2 test_datetime_name_accessors failure with some locales"
#### Problem description

Python2 **TestDatetime64.test_datetime_name_accessors[en_IL]** fails with `ValueError: unknown locale: en_IL`.  The same test passes in Python3.

By default, **tm.get_locales()** should only return locales that can be set without throwing an exception.

Compare the output in Python2:
[code]
with that in Python3:
[code]
The Python2 output contains `'en_IL', 'en_IL.utf8'` w

[2018-07-30 14:49] glyg commented on #22126
So there are effectively type problems with this patch:
[code]
fails with the following traceback:

[code]

So the edge case was the one provoking #7551 and your patch reverts it.

I don't really know how to proceed from here.
Guillaume

[2018-07-30 15:45] TomAugspurger commented on #22091
Yep, let's keep this concentrated in #8712.

[2018-07-30 15:45] #22091 closed

[2018-07-30 15:48] #12166 closed

[2018-07-30 15:56] jpiabrantes opened #22130 "Writing categorical columns to HDF5 takes >100x than writing the corresponding ints"
#### Code Sample, a copy-pastable example if possible

[code]
Results when using categorical columns:
[code]

Results when using respective integers (int8):
[code]
#### Problem description

Two things seem strange to me given the previous results:
* For the categorical examples why is the 1st iteration much faster (~10x faster) then the following iterations?
* Why is it so much slower to write cat

[2018-07-30 17:38] jpiabrantes commented on #12166
@TomAugspurger sorry I meant to close this issue because I no longer have the reproducible example

[2018-07-30 17:40] fjdiod commented on #22085
The problem seems to be here:
https://github.com/pandas-dev/pandas/blob/26b3e7de56fdebaf1842b01d747a1a30a126c54a/pandas/_libs/index.pyx#L93-L96
for Int64Engine mapping is Int64HashTable
[code]

[2018-07-30 17:41] skaae opened #22133 "UTC Timestamps constructed from datetime.datetime (with datetime.timezone.utc) cannot be compared to pandas Timestamps"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Timestamps constructed from `datatime.datetime` objects with UTC timezone have `tz` that is type `datetime.timezone.utc` but `pd.Timestamp.utwnow()` have `tz` that is `pytz.UTC`.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
pyth

[2018-07-30 18:31] mroeschke commented on #22133
xref #17173

The main issue is that pandas do not yet support `datetime.timezone` objects. Currently pandas only supports `pytz` or `dateutil` timezone objects.

I anticipate pandas supporting `datetime.timezone` objects soon enough since it's part of the standard library and since pandas will drop Python 2 support, but it will require quite some work. Pull requests are always welcome!

[2018-07-30 19:41] dhimmel opened #22135 "read_html repeats table (regression in 0.23)"
I'm running into an issue extracting a dataframe from a HTML page when using pandas 0.23. Before my environment was updated, I was using pandas 0.22 and the issue did not occur. If I install a new environment with 0.22, the issue does not occur, so I think this is probably a regression. I've cached the relevant HTML at [`trailheads.html.txt`](https://github.com/pandas-dev/pandas/files/2242597/trai

[2018-07-30 20:09] Liam3851 commented on #22135
I can reproduce this in 0.23.3 but not on master.

[2018-07-30 20:37] realead commented on #22119
In order to have a consistent behavior, a hash-map/hash-set requires (among other things) that the relation `==` is an equivalence relation. That means in particular that `x==x` holds for every `x`.

However, for floats with ieee-754-standard `==` isn't an equivalence relation, because `nan!=nan`, thus in order to get meaningful behavior with a hash-map/set either it must be ensured, that nans are

[2018-07-30 20:46] jbrockmendel opened #22137 "[DEPR] Assorted footguns in dtype checks"
Finding some things that don't behave in The Obvious Way:

- [x] `dtypes.common.is_period`
    Never used outside of tests, checks for PeriodDtype-like arrays, _not_ `Period` scalar.
- [ ] `dtypes.common.is_datetimelike`
    Checks for `datetime64_dtype`, `datetime64tz_dtype`, `PeriodIndex`, or `timedelta64_dtype`, the last of which is not obvious (and in fact caused some bugs that will be fixed b

[2018-07-30 23:31] boulderZ opened #22138 "GRU implementation has different behavior with numpy.int64 than LSTM implementation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behavior is a problem and why the expected output is a better solution.]

This is a problem because you would expect to simply change the implementation from LSTM to GRU without having to change any other inputs to the model. This came up because I was getting some of my

[2018-07-30 23:37] jreback commented on #22138
you should ask on stack overflow and/or the keras tracker

[2018-07-30 23:37] #22138 closed

[2018-07-31 00:28] dhimmel commented on #22135
Thanks @Liam3851 for the help.

144 rows when running with codebase from current master, but 289 in 0.23.3. So I agree, the issue must have been fixed. Will close.

Perhaps one of the [recent commits in `pandas/io/html.py`](https://github.com/pandas-dev/pandas/commits/c272c52a548d4b75d32857d8b33821a3b0b41187/pandas/io/html.py)

[2018-07-31 00:28] #22135 closed

[2018-07-31 01:41] jreback commented on #22128
we also need to backport the 2.7 warning to the docs / it’s already in the master docs (for all the 23.x whatsnew); but i don’t it’s actually on the 23.x branch

[2018-07-31 01:44] jreback commented on #22133
as indicated this is need of implementation ; closing as a duplicate

[2018-07-31 01:44] #22133 closed

[2018-07-31 01:54] jreback commented on #22130
1st

categorical that are appended must be rencoded to the on disk categories
so subsequent writes are more expensive

2nd

categorical write an auxiliary array as a leaf; so for each column you are writing a node in the file
nodes are not super cheap. this allows you to have different categorical encoding per column. pandas does not support a 2-D encoded categorical

so then it should be obvious

[2018-07-31 01:54] #22130 closed

[2018-07-31 01:57] jreback commented on #22086
this is a fairly obscure statistic and doesn’t much general usage
more suited to statsmodels or othe packages that use pandas

closing as out of scope

[2018-07-31 01:57] #22086 closed

[2018-07-31 02:39] naveenrc opened #22140 "pandas.errors.ParserError: Error tokenizing data. C error: EOF inside string starting at line x"
## Data
[code]
## Error
[code]
#### Problem description
The current error handling of error while parsing double quote (") in 'C' engine is vague. If the data is sensitive there is very less chance that you will get to have a look at the actual data. So, if the error is more specific it would be awesome. In my company we get less data for development which is masked of`course, but in production it

[2018-07-31 03:40] mroeschke commented on #21846
Yeah I am getting the expected results on master as well. I think have some tests for indexing with tz-aware timestamps and `loc`, but I am not sure if we have the same ones for getitem

[2018-07-31 05:23] rhjmoore opened #22143 "concat with categorical variables"
#### Code Sample, a copy-pastable example if possible
import pandas as pd
cat_type1 = pd.api.types.CategoricalDtype(categories=['a','b'],ordered=False)
cat_type2 = pd.api.types.CategoricalDtype(categories=['b','a'],ordered=False)
cat_type3 = pd.api.types.CategoricalDtype(categories=['b','a','c'],ordered=False)
#problem number 1:
print(cat_type1==cat_type2) #these are different (the codes represent

[2018-07-31 05:33] mroeschke commented on #21737
So this appears fixed on master: (maybe due to #20912)

[code]

Although we already have a test for `unique` it would be great to additionally test that the underlying timestamps are equal as noted by @jschendel

[2018-07-31 05:42] rhjmoore commented on #22143
Apologies, I think this was fixed somewhere between pandas 0.22 and 0.23.3.

[2018-07-31 05:42] #22143 closed

[2018-07-31 07:25] jpiabrantes commented on #22130
@jreback thanks for your reply. I think it might be worth rethinking the way categorical features are written into the HDF5 given that we can potentially speed up thinks 1000x (after the first iteration).

Are things done the way you described to maintain compatibility with other libraries? This way of writing makes categorical features incompatible with HDF5 for all practical reasons, a small dat

[2018-07-31 08:36] weichslgartner opened #22144 "error_bad_lines is ignored if names argument is used in read_csv function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Bad lines option (error_bad_lines=False) is ignored when using the names argument.
When omitting the names option everything works fine with pandas 0.23.3 (see issue [#20573](https://github.com/pandas-dev/pandas/issues/20573)), but when names is used a ValueError is raised (ValueError: invalid literal for int()

[2018-07-31 13:03] #17157 closed

[2018-07-31 13:13] jreback commented on #6673
closed by #22095

[2018-07-31 13:13] #6673 closed

[2018-07-31 13:51] geoffrey-eisenbarth opened #22145 "Unpacking dictionary comprehension when using ``.assign()`` returns wrong results"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Output contains the same result for all added columns:
[code]

#### Expected Output

Doing the ``assign()`` calls separately gives the expected output

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-r

[2018-07-31 13:58] jreback commented on #22145
try in 0.23

there is a big note about this

[2018-07-31 14:11] TomAugspurger commented on #22145
I think this is different, Python's late binding of closures: https://docs.python-guide.org/writing/gotchas/#late-binding-closures

IIUC, in your dict-comprehension, `col` is always going to be bound to `B`.

[code]

You might try something like

[code]

[2018-07-31 14:11] #22145 closed

[2018-07-31 14:13] geoffrey-eisenbarth commented on #22145
Should have done that first! New version (0.23.3)
<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-release: 4.9.0-6-amd64
machine: x86_64
processor:
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.3
pytest: None
pip: 10.0.1
setuptools: 40.0.0
Cython: None
numpy: 1.14.0
scipy: 1.0.0
pyarrow: None
xarra

[2018-07-31 15:44] #22052 closed

[2018-07-31 16:36] danieljacobs1 commented on #21758
I've had a little spare time and written a trace to investigate further. I think @TomAugspurger meant to link to https://docs.python.org/3/library/sys.html#sys.settrace - here's my trace script that creates a breakpoint when the value of `sys.getsizeof("a")` changes:
[code]
This stopped at the following place.
[code]
which is line 312 of the `pandas/util/testing.py` module. Looking at lines 310 an

[2018-07-31 17:00] jadolfbr commented on #18755
@RahulRAhhy123 - I don't have a workaround for this.  I wish I could use scatter directly from pandas with a jitter for the values.  For some types of data, this is much clearer than a bar plot.

[2018-07-31 22:07] hwchase17 opened #22148 "Reading nans in object column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Saving the file (via pickle in example above, but also w msgpack) and then loading it again changes the dtype of the nans slightly in series with object type so that they no longer evaluate to True when checking if in set of np.nan, whereas before they did

Still evaluate to True for series2.isnull()

#### Expe

[2018-07-31 23:25] dsaxton commented on #22102
Just an opinion, but the actual behavior of `apply` seems logical to me.  The function is indeed being applied to every column of the DataFrame (there are none, rather than three as in the expected output).

[2018-08-01 00:18] dycw opened #22150 "DataFrame.apply adds a frequency to a freq=None DatetimeIndex as a side-effect"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

#### Problem description

This particular index (found by [hypothesis](https://github.com/HypothesisWorks/hypothesis)) suddenly gains a frequency it is used in a DataFrame, with >= 2 columns, which goes on to call ".apply".

#### Expected Output

[code]

for all n.

#### Output of ``pd.show_versions()``

<details>

INS

[2018-08-01 00:57] bfollinprm opened #22151 "Multi-Index .loc with nlevels > 2 fails when nlevels - i > 1 levels are specified in a tuple."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In the spirit of the Multi-Index missile example in the docstring for `pd.DataFrame.loc`, I query a data frame with a 3 level multi-index, with variable length tuple supplied. The following calls all function as expected from the generalization of the example:

*`df.loc[['2011'], :]`
*`df.loc[[('2011', '01', 1)

[2018-08-01 01:06] jreback commented on #22101
closed by #22142

[2018-08-01 01:06] #22101 closed

[2018-08-01 01:07] #22049 closed

[2018-08-01 04:58] WillAyd commented on #22148
Thanks for the report. Maybe related to #22119

[2018-08-01 05:02] WillAyd commented on #22140
Closing as an error is certainly the right thing to do here instead of issuing a warning.

If you don't want quoting you can disable it as follows:

[code]

[2018-08-01 05:02] #22140 closed

[2018-08-01 05:03] WillAyd commented on #22144
Thanks for the report - investigation and PRs are always welcome!

[2018-08-01 05:09] naveenrc commented on #22140
I didn't know it was because of a quote until I looked into the data.

[2018-08-01 05:11] WillAyd commented on #22129
May be a very platform-specific issue (I cannot reproduce). Which one matches just running `locale -a` on your system?

[2018-08-01 05:12] WillAyd commented on #22150
Can you provide a more minimal example to reproduce the issue?

[2018-08-01 05:29] ginggs commented on #22129
Well, neither is an exact match.  The output of `locale -a` contains some lines with no suffix, and some with `.utf8`.

I am able to reproduce in Ubuntu with the `locales` package installed, and in Debian with the `locales-all` package installed.

I can post the output of `locale -a` from the same machine as above in a little while.

[2018-08-01 05:54] bfollinprm commented on #22151
The construction `df.loc[('2011', '01'), :]` is equivalent to `df.loc[('2011', '01')]`, which works but returns a "series"-like object, e.g. it has lost the index information. This is not quite equivalent to what `.loc[[idx]]` returns, e.g. `df.loc[[('2011', '01')],:]` returns the same ValueError.

The solution is pretty simple actually, in [pandas.core.indexes/multi.py](https://github.com/pandas-

[2018-08-01 07:30] manuhortet commented on #20714
Hi again @ladydata, should I take this already? :smile:

[2018-08-01 08:48] madman-bob commented on #22102
The function is applied to every *row*, and is passed the columns.

[2018-08-01 09:19] #7830 closed

[2018-08-01 10:08] ginggs commented on #22129
Output of `locale -a`:
<details>
[code]
</details>

[2018-08-01 10:22] jreback opened #22154 "COMPAT: warnings on scalar comparisons"
https://travis-ci.org/pandas-dev/pandas/jobs/410445444

I think these are new in numpy 1.15

[code]

[2018-08-01 12:25] topper-123 opened #22156 "BUG: _cython_table bug (part 2)"
#22110 was supposed to fix a bug introduced by #21224, where xdist fails because fixtures have random order because dicts too do have random order for Python < 3.6.

If appears that this is not fixed after all, as I got the xdist bug in #21699 too. The issue is that it is not even enough to sort by function name, as several function have the same name ( ``sum`` has the same name as ``np.sum`` and

[2018-08-01 13:35] AnthonyGaruccio opened #22158 ".str.contains(..., na=False) consistency between categorical and object series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`.str.contains(..., na=False)` should make missing values False when the calling series is of type categorical just like it does for object series.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bit

[2018-08-01 13:50] TomAugspurger commented on #22158
I think it'll require updating `StringMethods._wrap_result` to be aware of how NA values should be handled. Might be a bit tricky, not sure ahead of time.

[2018-08-01 14:56] pulkitmaloo commented on #22158
I'd like to work on this issue.

[2018-08-01 14:57] toobaz commented on #22151
@bfollinprm Thanks for the report. I definitely agree this should work.

I don't think the proposed fix is optimal however. ``_codes_to_int`` expects only complete combinations of codes, and I think it should not need to be more complicated than this. After all, when ``nlevels == 1``, or when you run the [example](https://github.com/pandas-dev/pandas/issues/22151#issuecomment-409452645) by @WillAy

[2018-08-01 15:08] tompollard opened #22159 "pivot_table drops columns for aggregate functions that return all None, even if dropna=False"
`pivot_table` drops columns for aggregate functions that return all `None`, even if `dropna=False`. I'm using `pandas: 0.23.3` and the full output of `pd.show_versions()` is posted at the end of this comment. https://github.com/pandas-dev/pandas/issues/21969 seems to be related.

#### Code Sample

[code]
#### Problem description

The [`dropna` argument](https://pandas.pydata.org/pandas-docs/versio

[2018-08-01 15:29] realead opened #22160 "unexpected behavior of pd.core.algorithms._ensure_data()"
#### Examples
Example 1:

[code]
results in `array([False,  True], dtype=bool)`

Example 2:
[code]

results in `array([False, False], dtype=bool)`

#### Expected Output

The results should be `[False, False]` for example 1 and `[False, True] ` for example 2.

#### Problem description

The problem can be tracked down to this line: https://github.com/pandas-dev/pandas/blob/master/pandas/core/algorit

[2018-08-01 15:38] realead commented on #22160
This is an aspect of #22119 and probably related to #22148.

[2018-08-01 15:51] WillAyd commented on #22129
The code in that module by default defers to `locale -a:

https://github.com/pandas-dev/pandas/blob/9c118668256d2e36d2d310d46e604392a92bbee7/pandas/util/testing.py#L419

So not sure what is changing the name on Python3. If you want to debug in that module and can find something to fix then PRs are certainly welcome

[2018-08-01 16:01] realead commented on #22119
There are actually two different (even if somewhat related) issues:

 1. `algos.isin(np.array([np.nan]), [np.nan])` with the same object `np.nan`.

      There were discussions some time ago in the Python community https://bugs.python.org/issue4296#msg75735 and it have been settled that a in {a} should be true even for nans.

    The way the hash-table is implemented: https://github.com/pandas-dev

[2018-08-01 16:08] saria85 commented on #16472
I have pandas 23.1 still get this warning that skip somerows.

Is there any fix for this?
`Skipping line 57: '	' expected after '"'`

[2018-08-01 16:16] ginggs commented on #22129
Ah, thanks!

So in Python2:
[code]

...and in Python3:
[code]

From the `locale` module's documentation:
`locale.`**normalize**(_localename_)

So this looks like a bug in Python2, but perhaps we should skip the locale if `locale.normalize()` returns the original locale name.

[2018-08-01 17:15] boulderZ commented on #22138
Sorry, I thought I was on Keras.

[2018-08-01 17:26] chris-b1 commented on #21786
@psicktrick - if you are building from source, yes using MSVC 2015 will solve this issue, or you can also build from master, which has a fix applied.  As far as I know, not an easy workaround for corr, but should be a release of 0.23.4 soon (#22128)

[2018-08-01 17:37] WillAyd commented on #22129
Can you post the actual traceback of the test failure?

[2018-08-01 18:42] ginggs commented on #22129
[code]

[2018-08-01 18:43] ginggs commented on #22129
[code]

[2018-08-01 18:44] ginggs commented on #22129
[code]

[2018-08-01 18:46] ginggs commented on #22129
There are actually three different tests that fail.

Full test logs are here:
https://objectstorage.prodstack4-5.canonical.com/v1/AUTH_77e2ada1e7a84929a74ba3b87153c0ac/autopkgtest-cosmic/cosmic/armhf/p/pandas/20180730_074249_58050@/log.gz
The Python2 tests are run first, then Python3.

[2018-08-01 20:05] ladydata commented on #20714
@manuhortet sure, go ahead!

[2018-08-01 22:10] #22124 closed

[2018-08-01 22:12] #21767 closed

[2018-08-01 23:58] jbrockmendel opened #22162 "benchmarks/reshape.py syntax error on py35"
And presumably 27.  `1_000_000`

[2018-08-02 04:53] gfyoung commented on #22045
I pinged @jreback in your PR.  Sorry about that!

[2018-08-02 07:13] toobaz commented on #22151
Correcting myself: ``nlevels == 1`` does _not_ work correctly:

[code]

... but the example by @WillAyd does, so my argument should still stand.

[2018-08-02 08:07] louis-red commented on #22144
Will try to have a look at this one !

[2018-08-02 08:12] gfyoung commented on #18029
* The deprecation warning is already tested thanks to #17295.
* No one has come forward with examples for how this deprecation could be "missed"

In light of those two facts, I'm going to close in fact.

[2018-08-02 08:12] #18029 closed

[2018-08-02 10:06] jreback commented on #19992
closed by https://github.com/pandas-dev/pandas/pull/21921

[2018-08-02 10:06] #19992 closed

[2018-08-02 10:27] jreback opened #22166 "DOC: backport py2.7 whatsnew warning"
xref #21944

[2018-08-02 10:49] #21948 closed

[2018-08-02 10:50] 1kastner commented on #17553
That sounds great (if that is still current)?

[2018-08-02 10:54] notuntoward commented on #12187
I've had to do this many, many times, and adding this capability would be a good improvement.

The most common use case is when you can justify interpolating short missing data gaps within a signal's temporal autcorrelation range, but cannot justify interpolating long gaps.

Another use case is when data is being upsampled using pd.resample(), which inserts NaNs for timestamps to be interpolated.

[2018-08-02 10:54] TomAugspurger commented on #22162
My bad... will push a PR now.

[2018-08-02 10:57] #22162 closed

[2018-08-02 10:59] Scheibs opened #22168 "Error with dayfirst option and extra spaces in dates"
I found a bad behaviour for the dayfirst option in to_datetime. It's seems that dayfirst= True is only applied on the first row.

[code]

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.14.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
byteorder: little
LC

[2018-08-02 11:00] elmq0022 commented on #22045
@gfyoung, no worries.  I guess it has only been open a few days.  I thought it was longer than that.

[2018-08-02 11:00] hashamMunir commented on #10987
OutOfBoundsDatetime: cannot convert input with unit 's'
issue in
print(pd.__version__)
0.23.3
I have pd df containing the dates in unix timestamp.

[2018-08-02 12:41] TomAugspurger commented on #22168
I think it's the extra spaces in your later dates:

[code]

I think there's a warning in the docs about this kind of behavior:

[code]

Though, strangely,  python-datetuil does handle the spaces. Perhaps an issue in pandas then.

[code]

[2018-08-02 13:06] ginggs commented on #22129
It seems `en_IL` is only available in recent versions of Ubuntu.  I can reproduce this behaviour with `ak_GH`, which is available after installing the `locales-all` package.

Python2:
[code]

Python3:
[code]

I was also able to reproduce this in Ubuntu 16.04 LTS, with pandas 0.17.1 and Python2 2.7.12.

[2018-08-02 14:39] chris-b1 commented on #22168
The issue here is that your date 'looks' like it is ISO-8601 formatted - YYYY-MM-DD, which we have a special fastpath for.

The `dayfirst` keyword was really targeted to disambiguate MM/DD/YYYY vs DD/MM/YYYY.  If it is at all within your control I'd strongly recommend against storing dates in YYYY-DD-MM.

That said, would consider this a bug, as @TomAugspurger showed dateutil can handle this, you

[2018-08-02 15:07] bmoscon opened #22171 "Groupby with Grouper + ffill results in Column being replaced with BinGrouper Objects"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

the datetime column is being replace with a `BinGrouper` object when I `ffill` a `Grouper`ed grouped by DataFrame

#### Expected Output

As above, with the original datetime column intact

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0

[2018-08-02 17:20] paulalexwilson opened #22172 "Expressions don't evaluate when using named parameters"
It seems that the eval function doesn't work when using named parameters:

[code]
Looks like some neglected code in `expr.py`.

[2018-08-02 17:27] #19843 closed

[2018-08-02 18:27] jreback commented on #22172
this is not supported, though you are welcome to submit a PR

[2018-08-02 18:27] #22172 closed

[2018-08-02 18:28] jreback commented on #22172
if you search for ``eval`` in github you will see that many such things are simply not implemented.

[2018-08-02 20:48] jbrockmendel opened #22180 "[DISC] Use type annotations in cython"
Regardless of whether run in py2/py3, cython supports modern type annotations.  A lot of _libs could be made valid python by using these.

Upsides:
- linting!
- get experience with these, will help in deciding if we want to use them in the non-cython code-base.
- may lower barrier-to-entry for contributors not comfortable with cython

Downsides:
- If it works, don't fix it
- Until fully implemente

[2018-08-02 22:08] deisdenis commented on #21675
Hi, @jzwinck @WillAyd
I tried to dig into this issue and realized the following:
1) actual behaviour of unstack() was not to sort, it was to keep order consistent with declaration of levels, e.g. pandas 0.22.0
[code]
will result in
[code]
2) in the previous version empty columns were removed in the _Unstacker.get_result()
[code]
columns order has been kept consistent, but in pandas 0.23.0 empty co

[2018-08-02 22:33] jadolfbr opened #22183 "GroupBy plotting functionality differs for line and scatter"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This produces a single plot, but has no labels.  No colors, no legend.  Just a single plot of gray dots.
In contrast, this works great:

[code]

#### Expected Output
A single plot where each `groupby` is a category with a label that can be part of legend.  The same way that a line plot currently works fine.

No

[2018-08-02 23:29] WillAyd commented on #22180
Is this a new feature? If it's as advertised I'm +1 as it would probably even make it easier for newcomers to understand the Cython code base

[2018-08-03 02:41] TomAugspurger opened #22186 "Concat empty series with mixed TZ doesn't coerce to object"
Do we intentionally special case concatenating an empty series with a non-empty series here? I don't think we should. It'd be nice to statically know the output dtype of a `concat` without having to look into the values.

[code]

I'd expect both of those to be object dtype.

[2018-08-03 03:01] gfyoung commented on #22156
Let's get the short term fix down, and we can evaluate.

(and enjoy your vacation!)

[2018-08-03 03:04] gfyoung commented on #22180
+1 from me as well.

[2018-08-03 03:13] gfyoung commented on #22160
@realead : Agreed.  Feel free to investigate the (unrelated) portion of this bug / issue.

[2018-08-03 06:52] bfollinprm commented on #22151
Ah, you are right, this was buggy before.

I didn't notice because the test code that was checking this was looping over all tuple lengths, but was only checking the values of the length 1 and length `index` columns. So I guess `ValueError` is an improvement, but I'm still of the opinion this should work.

[2018-08-03 07:04] bfollinprm commented on #22151
The problem with the other signatures, e.g. @WillAyd's`df.loc[('2011', '01'), :]`, is that it returns a series and does not generalize to e.g. a list of indexes.

The following seams to give what I want:

[code]
So there definitely is a way, but that's ugly.

[2018-08-03 07:58] toobaz commented on #16943
I think this is fixed by #19507 . Anyone feel free to reopen if you disagree.

[2018-08-03 07:58] #16943 closed

[2018-08-03 08:07] toobaz commented on #22151
Sure, I agree, my comment was only concerning the implementation. Since the current engine _can_ be used for the desired lookup, the problem is not there.

Please correct me if I'm wrong, but given ``target_indexes = [('2011', '01'), ('2012', '02')]``, your snippet will also return ``('2011', '02', 1)``, which is not what you desire, and certainly not what ``df.loc[target_indexes, :]`` should retu

[2018-08-03 11:29] realead commented on #22119
Actually, #22148 is at its core the 2. part of this issue: Do we consider

[code]

ie. for different nan-objects to be True or False (right now it is False)?

[2018-08-03 11:34] psinger commented on #20693
Encountering the same "issue", any idea how to prevent this?

[2018-08-03 12:47] shantanuo opened #22189 "valid parameters check while reading data"
Pandas seems to ignore the extra (invalid) parameters. For e.g.
#### Code Sample, a copy-pastable example if possible

[code]
Note that some_dummy_param does not throw an error.

#### Problem description

Is there any way to make sure only valid parameters are passed to read_excel method?

#### Expected Output
Since there is no such parameter called "some_dummy_param", I should get an error:

[2018-08-03 13:01] TomAugspurger commented on #22189
I thought we had another issue for this (https://github.com/pandas-dev/pandas/issues/17994 was aobut `sheet_name` vs. `sheetname`).

[2018-08-03 13:03] TomAugspurger commented on #22189
The most difficult part is that kwds is passed through to the underlying engine. We would want to reconcile the common keyword arguments, and then perhaps provide an `engine_kwargs` parameter that's a dict of engine-specific kwargs.

[2018-08-03 13:09] TomAugspurger commented on #22128
https://github.com/pandas-dev/pandas/pull/22178 has the last of the backports. Cutting 0.23.4 after that.

[2018-08-03 13:59] TomAugspurger commented on #22189
Yes, that issue was specifically for sheetname.

I'm not sure why a decorator would be useful, could you explain?

On Fri, Aug 3, 2018 at 8:54 AM Shantanu Oak <notifications@github.com>
wrote:

[2018-08-03 15:09] kevbutler commented on #21632
I'm also having a problem with numpy and pandas, and get the same error:
`AttributeError: module 'numpy' has no attribute '__version__'`

[2018-08-03 15:09] #18031 closed

[2018-08-03 16:02] jreback commented on #22128
@TomAugspurger IIRC I changed the wheel builder to use 0.28.2 even in master, I think this will be ok (if not may need to go back to 0.25.2 I think), but only for master and not the daily branch

[2018-08-03 16:53] TomAugspurger opened #22192 "pandas-ci pip test failling"
https://travis-ci.org/pandas-dev/pandas-ci/jobs/411446775#L2809

failling with

[code]

[2018-08-03 16:55] TomAugspurger commented on #22192
https://github.com/pandas-dev/pandas/commit/d010469c10d23f1dd8544ede42ae856b4760003e#diff-50f6ee3a1f0f53448cba576517104cf0 was the last commit to touch libs/hashing.pyx, but that doesn't look like it.

possibly https://github.com/pandas-dev/pandas/commit/4cf95ba86571ce971ab475dc5f28842593d8f53f? cc @jbrockmendel

[2018-08-03 17:00] gfyoung commented on #20693
Not sure ATM.  The only workarounds I can think of:

1) Don't pass in `dummy_na=True`

2) Manually "convert" your columns after the fact.

🙁

[2018-08-03 17:02] toobaz commented on #22151
Duplicate of #16083 , @bfollinprm feel free to add there any further comment

[2018-08-03 17:02] #22151 closed

[2018-08-03 17:03] toobaz commented on #16083
As noticed by @bfollinprm in #22151 , the behavior of ``In [4]:`` changed, and an error is now raised.

[2018-08-03 17:17] mroeschke commented on #22150
Thanks @dycw. I can reproduce with a similar example:

[code]

#14927 _may_ be playing a role here somewhere. Investigation and PR' are always welcome!

[2018-08-03 18:14] jbrockmendel commented on #22192
Shot in the dark: _libs/tslibs/util.pxd has a line `cdef extern from "../src/headers/stdint.h":`.  If the ".." is evaluated from the position of the tslibs/util.pxd file, then it correctly points towards stdint.h.  But if It were evaluated from the hashing.pyx file, it would point toward a non-existing path.

No idea why it would be evaluated that way, or why only that file or a particular build w

[2018-08-03 19:08] shantanuo commented on #22189
I just saw a decorator called "deprecate_kwarg" to deprecate a keyword argument of a function. I thought similar concept can be used for "validate_kwarg". Ignore this comment if that is not the case.

[2018-08-03 19:58] TomAugspurger commented on #21758
Wow, thanks for debugging that :)

I'm not sure if it's worth change, but `RANDU_CHARS` seems to only be used in `randu_array`. We could delay the change, but if it's just a matter of np.array begin passed a string, perhaps it's not worth changing?

[2018-08-03 20:01] shantanuo commented on #22189
May be this function

[code]
and a decorater added in the file pandas/io/excel.py

@validate_kwarg()
@Appender(_read_excel_doc)
@deprecate_kwarg("parse_cols", "usecols")
@deprecate_kwarg("skip_footer", "skipfooter")
def read_excel(io,

[2018-08-03 20:10] TomAugspurger commented on #22189
I don't think a decorator is necessary here, since this is only being
applied to a single function.

I think the best path forward is to remove the need for **kwargs in
read_excel.

On Fri, Aug 3, 2018 at 3:01 PM Shantanu Oak <notifications@github.com>
wrote:

[2018-08-03 20:42] danielwang5 commented on #21194
Any progress on this? 0.23 still doesn't work for me.

[2018-08-03 20:47] TomAugspurger commented on #21194
Looks like https://github.com/pandas-dev/pandas/pull/21284 is stalled. Feel
free to pick it up if you're interested.

On Fri, Aug 3, 2018 at 3:42 PM Daniel Wang <notifications@github.com> wrote:

[2018-08-03 21:31] TomAugspurger commented on #22186
Taking this over as a general concat issue

Currently `concat[SparseSeries]` uses the `fill_value` of the first array.

[code]

Are we comfortable calling that a bug? What's the expected behavior, raising?

[2018-08-03 21:37] TomAugspurger commented on #22186
I guess this raises a general design question: what dtype coercion are we comfortable with concat doing?

1. We're clearly OK with concatenating a mix of ints and floats and getting floats.
2. There's the open issue of concat[categorical] using union categorical
...

[2018-08-03 21:49] TomAugspurger commented on #22186
For `concat([sparse, dense])` I'd propose that the result always be sparse.

Currently, we try to keep it sparse. e.g. `concat([ Sparse[float64], float64 ])` is `Sparse[float64]`.
But `concat([ Sparse[float64], object] )` is object. IMO it should be `Sparse[object]`.

[2018-08-03 22:15] jreback commented on #22186
prob should density if sparse and dense and both float

[2018-08-04 14:46] TomAugspurger commented on #22186
Hmm I don't think so. I think ever implicitly going from sparse to dense is problematic. And on master we currently sparsify the dense series, but we're inconsistent about it:

- Sparse[float] & float -> Sparse[float]
- Sparse[float] & object -> object (dense)

[2018-08-04 19:04] xx396 commented on #17309
Would like to see this fixed too as an aggregate variant of transform would be very handy

[2018-08-04 19:15] TomAugspurger commented on #21978
(note to self/others): List of behavior changes

- SparseArray is no longer a subclass of ndarray
- SparseArray.dtype is no longer a numpy dtype. Use SparseArray.dtype.subdtype
- np.array(SparseArray) contains all the values, not just the non-fill values
- Constructing a SpraseArray with `data` and `sparse_index` will correctly infer `fill_value` from `data`, rather than always using `nan`.
- Spar

[2018-08-04 20:34] grauscher commented on #18265
This error still exists in version 0.22.0

[2018-08-04 20:52] NasaGeek opened #22197 "to_clipboard() example in docs contains an exception"
https://pandas.pydata.org/pandas-docs/version/0.23.4/io.html#clipboard

The code example for the to/from_clipboard() functions contains the following exception in the docs:
[code]
This issue is not present in the previous version's docs: https://pandas.pydata.org/pandas-docs/version/0.23.3/io.html#clipboard

Probably just a setup issue for whatever system is building the documentation.

[2018-08-04 22:01] msmarchena commented on #21194
Sorry, I have been travelling and without time to work on this. Since I have done a mess with PR21284
I have opened a cleaner one  Last try!

[2018-08-05 03:39] NasaGeek opened #22199 "read_fwf() function does not infer compression by default"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
The pandas documentation indicates that read_fwf() (as with read_csv()) infers a file's compression type based on its extension _by default_, but it does not.

#### Expected Output
I expect 2 identical copies of the dataframe to be displayed.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
-

[2018-08-05 09:30] GabrielDrapor opened #22203 "DataFrame.copy(deep=True) dosen't deep copy the value which type is list()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When the type of values is list(), DataFrame.copy(deep=True) doesn't work as expected,
or is it a meaningless problem and is it not necessary to fix this?

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
pyth

[2018-08-05 09:54] pdpsinghr opened #22204 "rank columns using row value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
``
data ---

Image Names,Apples,Oranges,Pears,Bananas
a.jpg,0.0222040719,0.1542651095,99.183511734,0.0235234038
b.jpg,85.3431463242,7.4385128915,0.3004317638,0.4866314586
c.jpg,0.0065061315,0.0318308303,0.0326817186,99.8182177544
d.jpg,93.0731534958,0.2196243498,0.1401709742,0.3281479469
e.jpg,0.0271547819,0.063

[2018-08-05 12:32] realead opened #22205 "Inconsistent handling of nan-float64 in Series.isin()"
#### Code Sample, a copy-pastable example if possible

[code]

results in `True`, however

[code]
 results in `False`, even more  `s.isin([np.nan]).any()` results in `False`

#### Problem description

Obviously, the result should be the same in both cases.

#### Expected Output

 IMO `True` is more consistent with the behavior of Pandas in other functions (such as `pd.unique()`).

#### Output of `

[2018-08-05 12:40] realead commented on #22205
The problem at core of this issue, is that pandas' `unique` and numpy's `unique` have different notions about nan's in the case of `float64`:

[code]

For N>10^6, pandas' notion of unique is switched to numpy's notion of unique:

[code]

[Here the whole code](https://github.com/pandas-dev/pandas/blob/master/pandas/core/algorithms.py#L425)

[2018-08-05 13:12] realead commented on #22205
It seems, as if `np.in1d` is used because it is faster.

I don't  understand the [the 'in1d- algorithm](https://github.com/numpy/numpy/blob/23cb605d7f230ee2b00c0e7167256cf434731b16/numpy/ma/extras.py#L1125) good enough, to tell what is going on, but here are my benchmark and timings:
[code]

results in
[code]
To me it seems, as if for large inputs of look-up-values, the hash-map-approach could be

[2018-08-05 18:54] xslates opened #22206 "pd.read_sql_query doesn't find existing table(s)"
### Code Sample

[code]
### Problem Description

SQL tables are not recognized in nested for loop. Similar to #9262. Query works fine when passed directly in the function. The code snippet is not reproducible as I'm working on my own database

### Expected Output

A list of datasets for each ticker selected, like shown below.

<img width="1125" alt="screen shot 2018-08-05 at 20 39 17" src="https:/

[2018-08-05 19:54] marcusinthesky commented on #15599
I am trying to solve a natural language problem which requires me doing a rolling join or sum of strings.  While I understand the performance issue, having generic rolling regardless of type would be incredibly useful for users.  But also thanks to the makers of this feature generally, super useful in other contexts.

[2018-08-05 21:25] realead commented on #22119
My proposal (i.e. starting point for a discussion) is in PR #22207 : If both objects are floats, then check whether they are both nans - the same way it is done for float64. The used hash-function has the necessary behavior, so there is no need to change something.

 It doesn't prevent the user to define custom classes with behaviors similar to nan and shoot themselves in the foot - it is probably

[2018-08-05 23:45] jbrockmendel commented on #22180
Opened cython#2529 to discuss some syntax combinations that are parsed incorrectly (or not supported, but not made explicit in the docs).  I think this is worth revisiting a couple of cython releases down the road, but not just yet.  Closing.

[2018-08-05 23:45] #22180 closed

[2018-08-06 01:45] mroeschke commented on #22116
There's also a quote in `reshaping.rst` that doesn't seem to be true:

but `pivot()` that is referred above uses the `pivot_simple` implementation instead of the `pivot` implementation.

[2018-08-06 02:52] Ouwen opened #22208 "[Feature Request] Providing a cache option for `pd.read_sql()`"
#### Providing a cache option for `pd.read_sql()`

Is there any work being done to allow a cache mechanism for pandas sql queries? I typically connect pandas to a sql database in a jupyter notebook. However, when I re-run cells it would be nice if these queries were cached in a file unless cache busting is explicit.

[code]

I would imagine the behavior would that the query string, db engine conne

[2018-08-06 03:32] WillAyd commented on #22208
This would add quite a bit of code complexity that I don't think is worth managing. What would be the advantage of this over simply persisting the data yourself?

[2018-08-06 03:37] yanzhaojun7 opened #22210 "pd.io.sql.to_sql can't find the existing table"
this is my code:
pd.io.sql.to_sql(df, "TMP_ACCOUNT", con, if_exists='append', index=False)
this is my error:
(teradata.api.DatabaseError) (3803, "[42S01] [Teradata][ODBC Teradata Driver][Teradata Database] Table 'TMP_ACCOUNT' already exists. ")

My database is teradata   ,and table "TMP_ACCOUNT" is a VOLATILE MULTISET  TABLE。Before i use pd.io.sql.to_sql i have created the table "TMP_ACCOUNT".  An

[2018-08-06 04:36] gfyoung commented on #22128
@TomAugspurger : Any reason why this is still open given that you have released `0.23.4` ?  Also, there are some vestigial issues / PR's under that tag that are still open.

[2018-08-06 04:44] gfyoung commented on #22203
Semantically speaking, `deepcopy` should not have this kind of aliasing.  Thus, I would consider this a bug.  Investigation and PR are welcome!

[2018-08-06 04:46] gfyoung commented on #22210
There's an `if_exists` parameter in `to_sql`.  By default, it will raise an error if the table already exists.  However, you can change it so that it either replaces existing table or appends to it.

Let us know if this answers your question!  Will be happy to revisit if need be.

[2018-08-06 04:46] #22210 closed

[2018-08-06 04:49] gfyoung commented on #22208
@WillAyd : I agree with you on this.  Hesitant to include this in the codebase, but I would recommend this in the cookbook (`doc/source/cookbook.rst`).  That way others can see how you extended `pandas` to include this functionality.

@Ouwen : Would you like to add a section about that?

[2018-08-06 05:36] jbrockmendel commented on #18824
#5035
#5284

[2018-08-06 06:38] h-vetinari opened #22211 "BUG: broken inheritance within pytest?"
This is something I discovered while responding to feedback for #21902

There's a lot going on `tests/indexes/common.py`, and to skip tests that cannot work, several tests have an if condition to exclude certain cases. In particular, `test_has_duplicates` (currently still named ambiguously as `test_duplicates`) has a check
[code]
which I wanted to copy to `test_duplicated`.

@jreback asked my why

[2018-08-06 06:46] h-vetinari commented on #21858
@gfyoung said:

cc @jreback @TomAugspurger

Re-pinging @jreback @TomAugspurger

[2018-08-06 06:50] gfyoung commented on #22210
This sounds like a `sqlalchemy` issue to me.  Here's a way to check: can you try a connection to an in-memory DB (use `sqlite3` and a subset of your data) and see if your code works then?

[2018-08-06 07:04] jbrockmendel commented on #22211
The first set of checks above should probably be “issubclass(pd.DatetimeIndex, pd.Int64Index)”, which would return True.

[2018-08-06 07:27] h-vetinari commented on #22211
@jbrockmendel Ah, you are right of course. Got confused between instances and classes...

[2018-08-06 07:27] #22211 closed

[2018-08-06 08:29] ron819 commented on #10526
It's more than that. There should be full support for header , data and verity
For example:
[code]

The `read_json  `does not support this.

[2018-08-06 08:33] ron819 commented on #16716
There is also same request for read_json
https://github.com/pandas-dev/pandas/issues/10526

[2018-08-06 09:35] rora002 opened #22212 "infer_objects functions differently to convert_objects"
#### Code Sample

In the code sample below: column "A" consists entirely of numbers formatted as strings.

[code]
#### Problem description
At present, I am using the convert_objects function to convert any columns which are entirely made up of numbers formatted as strings, to numeric values if possible. I note that the convert_objects function is deprecated, so I attempted to update my code to use

[2018-08-06 09:49] rora002 commented on #22212
I see that numeric coersion was specifically disabled as part of #16915 and 3670711cc8f56085783a22ccdc8274de041779df; what is the reasoning behind coercing dates and time_deltas but not numers? It would be handy to have a to_numeric function that operates across the whole dataframe.

[2018-08-06 10:09] #22166 closed

[2018-08-06 10:10] #22128 closed

[2018-08-06 10:36] #21194 closed

[2018-08-06 11:15] TomAugspurger commented on #22128
Needed to re-uploading the docs with the 0.23.4 whatsnew. Those are rebuilding now.

[2018-08-06 11:19] TomAugspurger commented on #21858
DataFrame.update is modeled after dict.update. I don't think it should ever
be non-inplace.

I don't have a strong opinion about a return value.

On Mon, Aug 6, 2018 at 1:46 AM h-vetinari <notifications@github.com> wrote:

[2018-08-06 12:47] joha1 commented on #21988
Managed to get it to occur again that I either get a mangled index when trying to display the dataframe in ipython, or simply an `IndexError: list index out of range` when trying to view `.head()` or `.tail()`.
Setting `display.max_columns` to some arbitrary value does indeed "fix" it and this time I think I can rule out ipython taking up too much RAM.
Is this a known issue?

[2018-08-06 13:27] TomAugspurger opened #22215 "Should ExtensionArray.take accept scalar inputs?"
ndarray.take accepts scalars, and returns a scalar. We should probably make that part of the interface, or document that we don't support it.

[code]

Categorical currently returns an invalid categorical:

[code]

[code]

- IntervalArray.take fails on `take`
- SparseArray allows it.

[2018-08-06 13:31] TomAugspurger commented on #22215
To be clear, I'm not sure that we *should* support it.

Currently EA.take always returns an `ExtensionArray`. That's a nice piece of knowledge to rely on. I'd rather not have to litter all call-sites of EA.take with checks for whether indices is a scalar or not.

[2018-08-06 13:34] gfyoung commented on #22212
@rora002 : IIUC, you're proposing to have [pd.to_numeric](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.to_numeric.html) expand to `DataFrame` ?

[2018-08-06 14:15] TomAugspurger opened #22216 "ExtensionArray.astype and missing values"
How should ExtensionArray.astype handle coercing values to dtype?

Currently, we seem to follow NumPy:

[code]

Do we want that behavior? SparseArray currently raises.

Note that at least for Categorical, this will require scanning the data for missing values, which is rarely a good idea.

[2018-08-06 16:12] danieljacobs1 commented on #21758
Note that it is `RANDS_CHARS` _not_ `RANDU_CHARS` - the arrow is pointing to where my trace breakpoint kicked-in which happens to be on the line where `RANDU_CHARS` is defined.

[2018-08-06 16:17] jbrockmendel opened #22218 "Flesh Out Period Benchmarks"
https://github.com/pandas-dev/pandas/pull/22196#issuecomment-410666276

[2018-08-06 16:28] WillAyd commented on #21988
The `IndexError` seems unrelated - can you provide a minimally reproducible example and open in a separate issue, if possible?

As far as the formatting is concerned what you have in your original post is not an error but rather a display setting, which as you've noticed you can change with `display.max_columns`

[2018-08-06 17:13] h-vetinari commented on #21858
@TomAugspurger

Since you answered by email (and the quoted text does not contain the OP), may I ask: did you read the OP? I did discuss the relationship to `dict.update`.

Furthermore, adding a kwarg does not necessarily change the default, just provide more options.
Finally, if/once more joins get added to `df.update` (noted as TODO in the source code itself; see #21855), inplace-ops are even le

[2018-08-06 17:22] WillAyd opened #22220 "Integer NA Doc Updates"
With some of the work being done in #21160 do we want to update the documentation section on Integer NA support, or do we feel it is still too experimental at the moment?

http://pandas.pydata.org/pandas-docs/stable/gotchas.html#support-for-integer-na

[2018-08-06 17:26] HuntJSparra opened #22221 "mi.drop(x).get_loc_level(x) returns empty slice (rather than raising KeyError)"
#### Code Sample

[code]
#### Problem description

Since Pandas 0.23, if a group (ex. 'empty') is emptied by GroupBy.apply(), then accessing the result (ex. trimmed) through trimmed.loc['empty'] returns the error ```KeyError: 'the label [empty] is not in the [index]'``` (full output below). This is possible related to https://github.com/pandas-dev/pandas/issues/21624.

Despite what the error says,

[2018-08-06 17:33] WillAyd commented on #22221
Can you try on master? This seemed to be working for me.

[2018-08-06 17:38] javadnoorb opened #22222 "ENH: groupby.hist bins don't match"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When the dynamic range of two groups are not the same, histogram bins each group according to its own range. Ideally these should match, taking the union of dynamic ranges and binning it for all.

The output of above code is:
![image](https://user-images.githubusercontent.com/26352146/43731590-f6cbc112-997c-11e

[2018-08-06 17:45] WillAyd commented on #22222
I'd be +1 on this as I do think your proposal makes more sense. Investigation and PRs are always welcome

[2018-08-06 17:49] HuntJSparra commented on #22221
Thanks for the quick response! Am I going to need to clone and build locally, or is the master on Conda or PIP?

[2018-08-06 17:50] WillAyd commented on #22221
0.23.4 was just released so you can try upgrading to that and see if the issue is there (I have not personally), but if not you would clone and build

[2018-08-06 19:12] HuntJSparra commented on #22221
I upgraded to 0.23.4 and had the same issue. However, it is fixed on master. Thanks!

[2018-08-06 19:57] HuntJSparra commented on #22221
In the original program where I encountered the error, ```GroupBy.apply()``` was being used to reduce a dataset to its outliers, which might or might not exist for a given group. Reverting to the 0.23.0-0.23.4 behavior would mean that I would have to implement a try-catch when going back through the now-trimmed outlier dataset since its ```MultiIndex``` still shows the indexes for emptied groups.

[2018-08-06 20:42] TomAugspurger opened #22224 "API: Standardize ExtensionDtype subtype name"
We have a few extension arrays that build off one or more ndarrays. You'll often want to get the underlying NumPy dtype for that array.

* IntegerArray uses `.type`
* IntervalArray uses `.subtype`

IntervalArray can't use `.type`, since that has to be `Interval`. So IntegerArray will need to alias subtype to type.

Are we happy with the name `subtype`?

[2018-08-06 21:20] pgalilea commented on #17566
I'm doing something like this:
`from collections import OrderedDict
from json import dumps
print dumps(df1.to_dict(orient='list', into=OrderedDict))`

[2018-08-06 21:30] WillAyd commented on #17566
This is now possible to do with the `orient='table'` option:

[code]

[2018-08-06 21:30] #17566 closed

[2018-08-06 21:43] toobaz commented on #22221
I'm afraid the fact that this works on master is the actual bug. This is related to #19027 .

@HuntJSparra I can understand what you have in mind, but you are simply looking in an index for a value which is not there, and this would only work in the past - and works again in master - because of an implementation glitch. To be honest I don't even see the try-catch as the right way to go: since some

[2018-08-06 21:51] znicholls commented on #10349
@jreback I've started to have a go with an ExtensionArray. Unfortunately I'm a complete newbie when it comes to pandas and pint (and coding, really) so I don't actually know what I'm doing. I've got it to the point where a DataFrame can store a pint array without automatically converting it to a numpy array but am lost from there. Would you mind having a 5 minute look and potentially giving a poin

[2018-08-07 00:16] javadnoorb commented on #22222
Thanks @WillAyd. I'll try to come up with a PR.

[2018-08-07 01:21] wesm opened #22227 "BUG: Regression creating DataFrame from nested dict"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Raises exception:

[code]

This code has worked for about 10 years; is this a deliberate change?

[2018-08-07 01:34] wesm commented on #22227
This change happened between 0.22.0 and 0.23.0

[2018-08-07 02:00] alex-robbins commented on #19706
Those are two identical code blocks... And in any case, it looks like you're importing `numpy` in some kind of start up script, before you even get the Python prompt. Is it possible that you've imported matplotlib by then as well?

[2018-08-07 02:28] memeplex commented on #19706
It runs during ipython startup, it could be that ipython is importing
matplotlib before my imports, yes, I will check that tomorrow and let you
know.

On Mon, Aug 6, 2018, 11:00 PM Alex Robbins <notifications@github.com> wrote:

[2018-08-07 02:28] westurner commented on #14468
PEP-484 Type Annotations tools:

- stubgen.py
- Dropbox/pyannotate
  https://github.com/dropbox/pyannotate
- Instagram/MonkeyType
  https://github.com/Instagram/MonkeyType

[2018-08-07 02:57] Ouwen commented on #22208
@gfyoung sounds good to me!

[2018-08-07 04:51] toobaz commented on #22221
Simpler way to reproduce:
[code]

[2018-08-07 05:04] danielwlogan commented on #21737
Thanks everyone for your work tracking this down and getting a fix in place quickly.

[2018-08-07 08:01] joha1 commented on #21988
Indeed a real error and some borked output seem unrelated, but I do in fact get an error when trying to view `tail()`, which simply gets replaced by the intended output of `tail()` after setting my columns.

The df in question is the result of some 1 hour script that iterates over 500 100-800kB csv files with daily data, discards a few and does some calculations and resampling, so that the end pro

[2018-08-07 08:28] fercook commented on #18152
Hit the same bug with a proper jsonlines file of 13GB on macOS and Pandas 0.23.0. Please reopen the issue

[2018-08-07 08:31] xslates commented on #22206
Hi @WillAyd thank you for the reply.

I'm attaching a zip file of the dataset I'm trying to query.

[code]
When I run the function on this data, it says that the table(s) don't exist. I've been squinting at this for a bit so maybe I'm missing something obvious.

[financials.db.zip](https://github.com/pandas-dev/pandas/files/2265631/financials.db.zip)

[2018-08-07 09:46] imadcat commented on #9067
This default behavior just wasted me several hours trying to figure out why there's a key error when joining two data frames read from CSVs. It's really difficult to see there are leading spaces in a column's name from python terminal output.

[2018-08-07 11:31] ksyme99 opened #22231 "Consistent API for suffixes in merge / join"
The way to add suffixes is inconsistent between join and merge:

[code]

I always have to look this up as I get it wrong every time! I do not have a strong preference for which to use, perhaps slightly prefer the merge syntax.

Can the API be updated to be consistent, with backwards support but deprecated?

[2018-08-07 12:57] #19465 closed

[2018-08-07 13:09] H0R5E commented on #18160
I actually get a bad conversion with `to_records()` now unless I set `convert_datetime64=True`. Below
is the dataframe and the result from `to_records()` with the flag being set. The docs do say "By default, timestamps are converted to datetime.datetime".

[code]
[code]

[2018-08-07 13:12] #21746 closed

[2018-08-07 14:19] chris-b1 commented on #22227
maybe side effect of #19884?  cc @topper-123

[2018-08-07 15:13] WillAyd commented on #22231
I'd be +1 on the join syntax and deprecating merge. Let's see what others think

[2018-08-07 15:18] cpcloud commented on #22227
I just bisected this. The first bad commit is 4efb39f01f5880122fa38d91e12d217ef70fad9e

[2018-08-07 15:19] cpcloud commented on #22227
Pretty sure it's this change: https://github.com/pandas-dev/pandas/commit/4efb39f01f5880122fa38d91e12d217ef70fad9e#diff-1e79abbbdd150d4771b91ea60a4e1cc7L7231

[2018-08-07 15:19] cpcloud commented on #22227
cc @toobaz

[2018-08-07 15:55] #19266 closed

[2018-08-07 15:55] #21977 closed

[2018-08-07 16:05] WillAyd commented on #22206
Hmm still unable to replicate:

[code]

Tried on Python 3.6 and 3.7 so no difference there. Can you try on master and see if that resolves for you?

<details>

INSTALLED VERSIONS
------------------
commit: 2156431c3a673fbfb720983474d3cb4edc92c332
python: 3.7.0.final.0
python-bits: 64
OS: Darwin
OS-release: 17.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCA

[2018-08-07 16:09] TomAugspurger commented on #21978
WIP https://github.com/TomAugspurger/pandas/tree/ea-sparse-2

the sparse extension tests pass, but lots of stuff is currently broken elsewhere. Won't have as much time to work on this in the near future if anyone wants to pick it up. Otherwise, I'll return to it later.

[2018-08-07 17:01] gfyoung commented on #22220
Seems reasonable to do so.  You can always qualify the documentation by stating that the behavior is not 100% stable (i.e. still somewhat experimental) if need be.

[2018-08-07 20:34] wesm commented on #22227
While I'm surprised that there were no unit tests to catch this regression, it only occurred in the odd (?) case where the index passed is not a NumPy array

[2018-08-07 20:56] wesm commented on #22227
FYI, the reason I ran into this was that I'm updating _Python for Data Analysis_ to fix errata and the book build broke. Sorry for not reporting the issue sooner

[2018-08-07 21:46] jbrockmendel opened #22234 "Incorrect tzinfo check in tslibs.parsing"
https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/parsing.pyx#L339

[code]

If this were ever hit it would raise an error because `datetime.tzinfo` refers to the tzinfo attached to a datetime object, _not_ the tzinfo class defined in the datetime module.

There's basically no path by which this would be reached because we never pass a `tzdata` to this function.  So two things sh

[2018-08-08 00:09] chunponglai opened #22239 "Add groupby(level=0) example to Documentation"
The definition is from the documentation is level: int, level name, or sequence of such, default None
If the axis is a MultiIndex (hierarchical), group by a particular level or levels.

But I still don't understand, can anyone provide a sample to explain what (level =) actually does?

[2018-08-08 00:50] bear24rw opened #22240 "Groupby mean precision different than numpy"
[code]

[code]
#### Problem description

When computing the mean of a series via groupby the precision seems to change.

Passing np.mean as the agg function also does not give me the expected result of NaN.

Why does computing the mean of the dataframe return a different result than the mean of a group?

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bit

[2018-08-08 01:09] WillAyd commented on #22239
I think this is technically fine to keep open and re-purpose as a documentation update. However, to get a direct answer for your question you should post on a Q&A site like StackOverflow; this board is for issue and enhancement requests

[2018-08-08 02:05] mroeschke commented on #22234
The same check (bug?) exists in dateutil:

https://github.com/dateutil/dateutil/blob/99f5770e7c63aa049b28abe465d7f1cc25b63fd2/dateutil/parser/_parser.py#L1161

Also it looks like `tzdata` is defined right above this check in the `if/else` above.

However if there are no conditions where we ever hit this branch, I would vote nix it.

[2018-08-08 02:08] WillAyd commented on #22240
This shouldn't have to do with any of the algorithms as much as the limitations of floating point precision. To illustrate, here's your code run on my computer; note the variance appears in other calculations:

[code]

Accuracy of floats in less than 16 digits, which is confirmed by your example

[2018-08-08 02:08] #22240 closed

[2018-08-08 03:05] javadnoorb opened #22241 "DOC: the document for DataFrameGroupby.hist is identical to that of DataFrame.hist"
Here's the document for DataFrameGroupby.hist:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.hist.html

and here's an almost identical document for DataFrame.hist:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html

I don't understand why pandas has a DataFrameGroupby.hist when DataFrameGroupby.plot.hist already exists. B

[2018-08-08 03:07] javadnoorb commented on #22241
Also, the first sentence of the doc ("Make a histogram of the DataFrame’s") seems incomplete.

[2018-08-08 03:08] philippegr opened #22242 "Problem in comparisons for DataFrame with pd.NaT"
#### Code Sample, a copy-pastable example if possible

[code]

Output
(First print statement Series comparison)
0     True
1    False

(Second print statement DataFrame)
      0     1
0  True  True
1  True  True

#### Problem description

When comparing a DataFrame containing pd.NaT (among other datetimes) with a single datetime results appears as True (second print statement).
This is different f

[2018-08-08 03:10] jbrockmendel commented on #22234
`dateutil.parser._parser` has `import datetime`, whereas `tslibs.parsing` has `from cpython.datetime cimport datetime` (roughly equivalent to `from datetime import datetime`)

[2018-08-08 04:01] mfripp opened #22243 "DataFrame.groupby()[col].transform() tries to convert result to original column type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It is sometimes useful to use `DataFrame.groupby()[col].transform()` to create a string column based on a float64 column. In the case leading up to this issue report, I wanted to create a string column showing the actual value for the group min, and e.g., "+1.2" for the difference of the other rows from the min

[2018-08-08 05:12] mroeschke commented on #22234
Ah good catch. Looks like a copy-paste bug then.

But I think this branch will never be hit:

So `dateutil_parse` where this code lies in only called in one place

https://github.com/pandas-dev/pandas/blob/737b3297e2d03492acbbe74eca5dfc2eb62cf207/pandas/_libs/tslibs/parsing.pyx#L159-L160

And a default kwarg `tzinfos` will therefore always be `None` and this branch where this code lies will always

[2018-08-08 06:28] ron819 commented on #4666
@cpcloud any progress with this?

[2018-08-08 06:35] mariskaas commented on #18152
Same bug with pd.to_json from a CSV file. CSV file is only 700mb, I can in fact change it to json the long way, but it gives a slightly different format than I would like. Pandas version is 0.23.4.

[2018-08-08 06:46] ron819 commented on #9959
@jbrockmendel  can you please label this issue? I think it was missed because it wasn't tag.
This problem is indeed annoying.

[2018-08-08 06:48] peterpanmj commented on #22024
I would like to work on a PR.

[2018-08-08 08:38] Heuertje commented on #10030
This would be a great addition to pandas!

[2018-08-08 09:18] jreback commented on #22024
go for it!

[2018-08-08 10:30] #22227 closed

[2018-08-08 11:19] philippegr commented on #22242
Just updated

[2018-08-08 11:45] toobaz commented on #22227
Thanks @wesm for noticing this, I had completely overlooked one code branch.

[2018-08-08 12:35] cpcloud commented on #4666
@ron819 I am not working on this issue anymore.

[2018-08-08 13:44] TomAugspurger commented on #22197
Thanks... I switched the doc build to a docker container which apparently didn't have the required dependencies.

[2018-08-08 13:55] gsmafra commented on #17309
I'm also confused by the documentation. Isn't there an easy way to transform just one column of a grouped DataFrame?

[2018-08-08 13:56] lebigot opened #22246 "swaplevel() does not need to always be slow?"
#### Problem description

`pandas.DataFrame.swaplevel()` is slow (I observed 15 seconds on a 100,000 column MultiIndex), when in principle it could simply swap labels, levels and names in almost no time (right?).

Now, I see that this operation returns a copy of the whole data, [which seems to explain the slowness](https://stackoverflow.com/questions/51747470/why-is-swaplevel-slow-in-pandas). What

[2018-08-08 14:43] JonahJ opened #22247 "MultiIndex Bug Copying Values Incorrectly When Adding Values To Index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When using the MultiIndex features of pandas, when an `np.nan` is in the index when new values are added to the DF then the values are not `np.nan`, but  copied from the `np.nan` row.

This behavior shows for all versions v0.23.x, however is fine for 0.22.0.

#### Expected Output
[code]

Note this unexpected be

[2018-08-08 15:44] jbrockmendel commented on #22242
Thanks.  This will be fixed by #22163.

[2018-08-08 15:54] jbrockmendel opened #22248 "ENH: Implement is_any_scalar"
https://github.com/pandas-dev/pandas/pull/22163#discussion_r208527242

[2018-08-08 16:04] mroeschke commented on #9959
Possibly xref #14927

[2018-08-08 16:16] WillAyd commented on #22246
This is very open ended. At the very least providing code would be helpful to see if there is something that can be addressed

[2018-08-08 17:15] ChrisMuir commented on #20380
Well, personally I'd prefer that `replace()` not throw an error when it hits an out of bound datetime, but that's coming from a purely selfish standpoint. I don't use Pandas a ton, and my use cases probably only represent a fraction of total common use cases (I'm always working with data generated by 3rd parties to which I'm completely disconnected). Also, I don't know enough about the Pandas inte

[2018-08-08 18:08] tian-yu-ic opened #22250 "PERF: Apply on Series much slower than DataFrame when the function is related with scipy.stats.norm"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Normally my guess would be that Series should work better than DataFrame or at least the same, if the data is the same, like what I presented using x**2 (Point it out if I am wrong). However, when it comes to scipy.stats.norm, something strange happens.

#### Expected Output

Time cost is similar for Series and

[2018-08-08 18:12] cbertinato commented on #20380
In the example given, and perhaps in most use cases, the OOB datetime is irrelevant.  Of course that datetime could lead to other problems, but as far as replace is concerned it shouldn't matter. In my opinion, it would only make sense to raise the exception when manipulating the datetime.

[2018-08-08 18:39] gfyoung commented on #22234
I would just remove the logic and see if any tests break.  That would help to confirm 🙂

[2018-08-08 18:40] gfyoung commented on #22241
I agree.  Patch and PR are welcome!

[2018-08-08 18:46] gfyoung commented on #22247
How odd!  `git bisect` investigation (if needed), patch, and PR are welcome!

[2018-08-08 18:48] gfyoung commented on #22250
That sounds really odd!  Investigation would be greatly appreciated here.

[2018-08-08 18:50] dbfin opened #22252 "A future error warning and a problem with autoconversion of types"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

**Problem 1.** The result is as expected (except for `2.0` instead of `2`, see Problem 2).
[code]
However, Python gives a warning
[code]
The warning suggests that this will be an exception in the future. The code seems legitimate, and as such produces the expected result.

**Problem 2.** Another problem can be

[2018-08-08 18:58] jbrockmendel commented on #22234
We briefly discussed at the sprint the idea of correctly parsing some timezone strings where the correct answer is unambiguous (e.g. "CEST" should always be "Central European Summer Time").  If we go down that road, it will be by passing `tzinfos` as a dict.

[2018-08-08 20:02] jbrockmendel commented on #22250
Can you try constructing the series and dataframe outside the timed loop?  I doubt that is the issue, but it’s be good to rule out.

[2018-08-08 23:02] mohammad7t opened #22255 "Proposal: Allow operator overloading for custom classes to return custom objects"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
Numpy allows custom classes to implement `__array_ufunc__` and customize the behavior for operators that apply on numpy array instances and custom classes. For example, I have implemented a Pipe class that calls function on its operand by `|` operator. You see that numpy instance detects `__array_ufunc__` metho

[2018-08-08 23:08] mhsekhavat commented on #22255
I just found out that pandas calls `__array_ufunc__` too, but it seems that I have to return an array **with same length** as input. Is it possible to let them return arbitrary objects?

[2018-08-09 00:29] #22221 closed

[2018-08-09 08:12] ron819 commented on #20760
@mroeschke @jreback
Not sure if this is a bug but it would be nice if the nth() won't change the orders of the columns.

[2018-08-09 08:18] tian-yu-ic commented on #22250
start = time.time()
pd.Series([1.0]*1000).apply(lambda x: x**2)
print(time.time()-start)
0.0009999275207519531

start = time.time()
pd.DataFrame([1.0]*1000).apply(lambda x: x**2)
print(time.time()-start)
0.002000093460083008

start = time.time()
pd.Series([1.0]*1000).apply(norm.pdf)
print(time.time()-start)
0.18501853942871094

start = time.time()
pd.DataFrame([1.0]*1000).apply(norm.pdf)
print(tim

[2018-08-09 08:45] swyoon opened #22256 "BUG or DOC: pd.read_csv with parse_dates does not recognize timezone"
When parsing a timezone-aware datetime in a csv file with  `pd.read_csv` + `parse_dates`, it returns naive timestampes converted to UTC, and it was a surprise for me.

#### Example

Consider we are reading the following data. Let's say its name is `pandas_read_csv_bug.csv`.
It is a simple timeseries data with timezone (UTC+09:00) specified.

[code]

I want to read it with `pd.read_csv` using `pars

[2018-08-09 09:27] Kimonode opened #22257 "get_group(...) fails for groupby(...) based on a function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The code raises: `NotImplementedError: isna is not defined for MultiIndex`
**Note**: That issue happens with pandas==0.21.1. It does NOT happen with pandas==0.19.

#### Expected Output
df3.groupby(...).get_group(('A', 1)) should not raise an error but return the group ('A', 1):
[code]
#### Output of ``pd.show_ve

[2018-08-09 10:33] #13223 closed

[2018-08-09 10:38] #17128 closed

[2018-08-09 10:40] #22119 closed

[2018-08-09 10:40] #22148 closed

[2018-08-09 10:51] #20656 closed

[2018-08-09 11:03] #21358 closed

[2018-08-09 11:44] AKuederle opened #22260 "Allow to specify column names other than 'level_*' in reset_index()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I often find myself renaming columns after resting the index. I think this could be easily done in one step (see above).

If there is interest in that, I could try to implement it for `Series` and `DataFrame`

[2018-08-09 12:10] NikhilKumarM commented on #22239
I will take this task.

[2018-08-09 14:35] teto opened #22262 "object of type 'CategoricalDtype' has no len()"
#### Code Sample, a copy-pastable example if possible

Using 0.23.3

My goal: I have an enum with 2 values Client/Server and would like to make use of the categorical dtype for performance reasons.

[code]

triggers

[code]

#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]
I want to specify the dtype otherw

[2018-08-09 16:02] jbrockmendel commented on #22250
I communicated poorly.  Meant to ask for:

[code]

seems to match your results.

[2018-08-09 17:49] mroeschke commented on #22234
I see. In that case, makes sense to keep it for now.

To pay it forward though we can at least fix the `datetime.tzinfo` check and add some comments why that block is not getting hit (and what it will be useful for in the future).

[2018-08-09 18:06] jl0000285 opened #22263 "int64 objects returned from pandas.read_sql_query on windows with sqlalchemy engine"
# Example pseudo code

[code]

On macs (and perhaps other unix systems), pandas.read_sql_query() tends to return numpy.int64, objects. In this context this return result is fine, as numpy.int64 objects sublcass pythons native int object on macs. This same method also returns numpy.int64 objects on windows, which do not sublcass pythons native int object and thus cause errors whenever used with any

[2018-08-09 18:08] jl0000285 commented on #22263
Scope closure, will post in numpy's issue board

[2018-08-09 18:12] WillAyd commented on #22260
`reset_index` is just going to take whatever names you have for your MultiIndex levels. For example:

[code]

You would be much better served having those names in place prior to the reset.

[2018-08-09 18:17] WillAyd commented on #22257
The docs are rather ambiguous on MultiIndex support but I think this makes sense. Investigation and PRs are always welcome.

cc @toobaz

[2018-08-09 19:12] TomAugspurger commented on #21978
Hmm, so `SparseArray` and `SparseSeries` default to different sparse `kind`s. Any objections to making those match? Any preferences on `integer` vs. `block`?

[2018-08-09 19:22] smcveigh-phunware opened #22265 "Cannot pickle parser functions?"
#### Code Sample

[code]

#### Problem description

Pandas < v0.23 used to be very efficient to read CSVs by dispatching to `concurrent.futures.ProcessPoolExecuter` which could reduce loading large #s of CSV files from 10s of mins to mins.

It appears this is no longer possible since the parser functions are no longer picklable. Is there a reason for this change?

#### Expected Output

No error, b

[2018-08-09 20:09] gfyoung commented on #22256
I agree with your first impression.  Patch and PR are welcome!

[2018-08-09 20:13] gfyoung commented on #22260
I'm ambivalent about this.  It's not a super huge ask for this function, but whether it fits semantically into the scope of this function is unclear.

cc @jreback

[2018-08-09 20:16] gfyoung commented on #22263
@jl0000285 : I'm confused here: when you say, "cause errors whenever used with any other library" - can you provide examples to illustrate your point?

Second, IIUC, `DataFrame` can't hold Python `int` as a numeric dtype.  It will always end up using a `numpy` dtype to hold such data.

[2018-08-09 20:32] TomAugspurger commented on #22263
I wonder if in https://github.com/pandas-dev/pandas/blob/475e391eaa0c85c4615ad6da5f81dee9b890635b/pandas/io/sql.py#L884-L886

that should be `np.dtype(int).type`?

[2018-08-09 22:27] WillAyd commented on #22144
@louis-red thanks for the summary as it is very much appreciated! I'm not sure I follow what you are referring to with the "implicit index" though - any chance you can link to the code base where you were seeing the error?

[2018-08-10 00:40] dbfin commented on #22252
~**Problem 2.**~ Thanks a lot for the link, very useful information (and not just regarding the mentioned problem). Actually, never noticed the problem before, until needed to write to a database recently and this changed the type of a column in the database after adding some missing values. So, this is not an issue anymore as this is by design.

**Problem 1.** I am not sure I can do this now. If

[2018-08-10 02:10] teto commented on #22262
@TomAugspurger thanks for the interest, snippet can now be run as is and will trigger the same error.

[2018-08-10 02:58] NikhilKumarM commented on #22239
So this should be added to the Dataframe.groupby right?

[2018-08-10 03:04] WillAyd commented on #22239
I think the docstring is shared as it comes from `generic.py` - where are you seeing that it differs for Series vs DataFrame? Can you link to that?

[2018-08-10 04:56] jbrockmendel commented on #18824
#20442
#21793
#22017
#12689

[2018-08-10 07:15] WangWenQiang opened #22268 "Rolling with win_type='triang' strange results"
in my env(mac, python3.6.1,pandas0.23.4)

[code]

but in the docs,

[code]

q1: docs.sum and myenv.sum is different
q2:sum()'result is the same as means()'result

[2018-08-10 07:20] AKuederle commented on #22260
I personally find it strange, that the function forces defaults name on you without allowing you to change them. I think if we find a proper name for the additional parameter, it would make a nice small improvement

[2018-08-10 07:52] gfyoung commented on #22263
@TomAugspurger : That will still return a `numpy` integer dtype, not a native Python one, which is what I *think* @jl0000285 is concerned about.

[2018-08-10 07:56] gfyoung commented on #22256
@jbrockmendel : Unfortunately, no luck.  I can reproduce this on `master`.

[2018-08-10 09:18] AKuederle commented on #22260
No col_fill only allows to specify the names of the other levels, if your colums are a Multiindex. However, the actual name of the new index column is not influenced and is set to the default values, if the original index did not have names.

[2018-08-10 10:38] #22160 closed

[2018-08-10 12:35] tothandor opened #22270 "to_html w/ float_format="%.0f" renders 100.0 as 1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above code will render a value of 1 instead of 100.

[code]
#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS

[2018-08-10 12:40] TomAugspurger commented on #22263
I'm not quite sure what @jl0000285 is after, but we should be consistent with, e.g. `pd.Series(np.arange(10))`. Is that an int64 or int32 on Windows and Python2?

[2018-08-10 12:46] realead commented on #22119
Probably worth mentioning:  `pd.NaT`  is such an object with `pd.NaT == pd.NaT` being False.

However, `pd.NaT`  is a singleton and thus the shorcut-evaluation `pd.NaT is pd.NaT` in the hash-map is enough to save us from troubles.

IIRC the user could create another `pd.NaT`, but then well, if one messes with private stuff...

Enforcing singleton would be probably a cleaner solution than trying to

[2018-08-10 13:03] Zac-HD commented on #17978
Hi all - I'm a maintainer of Hypothesis and happy user of Pandas, so hopefully I can help with this :smile:

* Hypothesis is *not* deterministic by default - though you can derandomize it, we don't recommend this.
* For obvious reasons though, we put a *lot* of effort into ensuring that [test failures are always reproducible](https://hypothesis.readthedocs.io/en/latest/reproducing.html).  Short ve

[2018-08-10 13:07] tothandor commented on #22270
DataFrame.to_string() is also affected.
It seems that _trim_zeros causes the problem pandas/io/formats/format.py+1053:

[code]

[2018-08-10 13:12] TomAugspurger commented on #17978
Thanks @Zac-HD , we have https://github.com/pandas-dev/pandas/pull/20590 that's seemingly ready to go. Need to find the time to take a look again.

[2018-08-10 13:13] TomAugspurger commented on #17978
Actually, @Zac-HD would you mind taking a look in https://github.com/pandas-dev/pandas/pull/20590? One of the issues we're facing is that none of the pandas maintainers have really used hypothesis before. We're trying to define some best practices in that PR, since others will mimic it. You may be the ideal person to set those standards for pandas :)

[2018-08-10 13:19] tothandor commented on #22270
Changing the default value of "fixed_width" argument of GenericArrayFormatter to False solves the problem, but may cause others.

[2018-08-10 13:58] Zac-HD commented on #17978
I have three high-level concerns about #20590:

1. Configuration can be centralised in `conftest.py`, which makes it easier to edit or just override with a command-line argument than using explicit decorators everywhere.

2. I would ditch the `util/_hypothesis.py` module, and just the Hypothesis api directly.  We've put a lot of thought into making it clear, flexible, and orthogonal - and it has m

[2018-08-10 15:59] WillAyd commented on #22260
I am -1 on a new keyword. Names can easily be set before so I don't see this as adding a lot of value

[2018-08-10 17:05] TomAugspurger commented on #22262
Can you paste the full traceback running your snippet? The line

[code]

is invalid, since `dtype` should be a scalar dtype, not a dict

[code]

[2018-08-10 17:06] HannahFerch commented on #22150
I would like to look into this, however, am quite new to open source - can I ask questions here if I get stuck or rather in another place, e.g. Gitter?

[2018-08-10 17:07] mroeschke commented on #22256
On master, if `date_parser=pd.to_datetime` is specifically passed, then the dates are not automatically converted to UTC:

[code]

I think we use `to_datetime` under the hood of `read_csv` to parse dates, so there may be a keyword argument or extra function that is coercing to UTC without timezone.

On that note, what should be the expected behavior?

[code]

[2018-08-10 17:09] WillAyd commented on #22150
@HannahFerch high level can ask questions here or on Gitter. For detailed code review it is easiest if you just push a PR and get feedback directly on that

[2018-08-10 17:11] NikhilKumarM commented on #22239
In this webpage https://pandas.pydata.org/pandas-docs/stable/groupby.html, in section **GroupBy with MultiIndex**, there is an example of Series.groupby with level and below that, in **Grouping DataFrame with Index Levels and Columns** section, there is a Dataframe example with using df.groupby([pd.Grouper(level=1), 'A']).sum().

Am I right or looking in the wrong place?

I thought the example wit

[2018-08-10 17:16] WillAyd commented on #22239
@NikhilKumarM ah thanks for pointing that out. I originally was thinking this could be added to the docstring, but I think where it is documented currently makes just as much if not more sense.

As such I'm going to close this out - thanks again for your review!

[2018-08-10 17:16] #22239 closed

[2018-08-10 17:21] WillAyd opened #22271 "Change Default to/read JSON Format to orient='table'"
Assuming #21827 goes through I think it will make sense to change the default JSON format for reading/writing to `orient="table"` as it does the best job of preserving metadata. This would require a `FutureWarning` for the existing defaults ('index' for Series and 'columns' for DataFrame)

[2018-08-10 17:24] WillAyd opened #22272 "Add 'table' as Allowed `orient` Value in to_json Docs"
Right now the allowed values for Series and DataFrame objects are missing `table` as an allowed value for the `orient` parameter in to_json

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_json.html

[2018-08-10 17:40] HannahFerch commented on #22150
@WillAyd Makes sense. Thanks!

[2018-08-10 17:46] ArmlessJohn404 commented on #22272
Is it? Am I missing something?

![screenshot from 2018-08-10 14-44-51](https://user-images.githubusercontent.com/14118472/43972841-1bef8fd2-9cac-11e8-868d-1cdefdc95f97.png)

[2018-08-10 17:47] jl0000285 commented on #22263
@gfyoung: Two places I've seen failure on windows builds are in the building of json graphs in networkx (json_graph.tree(G,root) where G is composed of dataframes from said pandas dataframe) and in database operations using objects from said dataframe (such as sqlalchemy/engine/defaults various cursor.execute(statement,parameters) statements where parameters are objects taken from a pandas datafra

[2018-08-10 17:47] WillAyd commented on #22272
Yep - look a little further up in your screenshot at the subsection for Series and DataFrame.

Very minor / nuanced but good to clean up for consistency

[2018-08-10 18:01] gfyoung commented on #22263
@jl0000285 : Hmm...I see.  Would @TomAugspurger proposed patch [above](https://github.com/pandas-dev/pandas/issues/22263#issuecomment-411887422) work for you then?

[2018-08-10 18:30] WillAyd commented on #22270
This may be related to the discussion in #21625 and potentially solved by the PR quoted at the end of that thread.

@tomneep since you made that commit - any interest in packaging that up with tests in a PR to see if we can knock both of these issues out?

[2018-08-10 18:35] WillAyd commented on #22268
I assume these are the docs the OP is referring to:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rolling.html

@WangWenQiang in the future please use syntax highlighting when posting code as it makes it easier to read (I've done it for you this time around)

[2018-08-10 18:44] WillAyd commented on #22268
Might be quite a few issues here. I don't think the docs are correct, but I also don't think that `triang` should be returning the same value for `mean` and `sum`.

Investigation and PRs certainly welcome

[2018-08-10 21:26] rgommers commented on #16830
`np.argmax(some_series)` does the correct thing right now (and did in the past, and will remain correct). But it gives:

[code]

The deprecation warning appears to be for `np.argmax` which is confusing. So two suggestions:
- amend the message to say `pd.Series.argmax is ...`
- don't use the word "deprecated" - `Series.argmax` is not deprecated, it will just change behavior (hence `FutureWarning`).

[2018-08-10 22:09] mroeschke opened #22274 "API: Add Calendar Day Frequency ("CD")"
This is a proposal to replace #20633.

`offsets.Day` (`'D'`) is documented to represent calendar day; however, `Day` arithmetic and usage of the `'D'` offset alias (e.g. `df.resample('D')`, `timedelta_range(..., freq='D')`, etc.) currently respects absolute time (i.e. `Day` acts like `Timedelta(days=1)`). This usage is ingrained pretty deeply in a lot of methods and operations and is fairly diffic

[2018-08-10 22:31] drudd opened #22275 "Decimal fields dropped in group by with more than one column"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description

The aggregation over column a is dropped when another field is accessed from the groupby object, but works when requested through `agg` (I'm not sure if 'sum' is exactly equivalent to `.sum()` in the above).

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

INSTALLED VERSION

[2018-08-10 22:47] smcinerney opened #22276 "read.csv index_col argument accepts string, list-of-string"
1. `read.csv` index_col argument has been accepting either string or list-of-string for years, but the doc (as of 0.24 dev) has never been updated to reflect this. Current and suggested text at bottom.
1. All columns used in index_col get dropped as regular columns. The doc never explicitly says this and [it causes user confusion](https://stackoverflow.com/questions/51794078/python-the-label-is-no

[2018-08-10 23:14] drudd commented on #22275
Tracing through, the 'a' column appears to be dropped by this section of `NDFrameGroupBy. _cython_agg_blocks`:

[code]
Specifically this line: https://github.com/pandas-dev/pandas/blob/0409521665bd436a10aea7e06336066bf07ff057/pandas/core/groupby/groupby.py#L4006

This suggests to me that there's a mismatch with the logic that sets `numeric_only` (True), and `.get_numeric_data` which skips the Deci

[2018-08-10 23:26] WillAyd commented on #22275
There is no native support for Decimal types in NumPy and therefore it is also generally weakly supported in pandas. In theory a community-contributed Extension would help improve that.

In the meantime though I do agree that it's strange that there is a difference between the Series and DataFrame GroupBy mechanism's. Investigation and PRs to align that behavior are certainly welcome

[2018-08-10 23:35] drudd commented on #22275
My above comment appears to be correct, `numeric_only = True` is set for `sum` when that groupby function is created:
https://github.com/pandas-dev/pandas/blob/0409521665bd436a10aea7e06336066bf07ff057/pandas/core/groupby/groupby.py#L1466

Which can be seen by using a non-numeric_only group function such as min:
[code]
produces
[code]

Not knowing this api very closely I'm surprised that an excepti

[2018-08-10 23:40] drudd commented on #22275
Another tactic would be to remove the `get_numeric_data` call and rely on the try/except later in the loop which should get raised if there is no appropriate aggregation function.

I have tested this and it restores consistency between the two methods. Happy to PR if we can be confident this won't break other logic.

[2018-08-11 00:27] WillAyd commented on #22275
If you have something that works and doesn't break other tests locally feel free to submit as a PR

[2018-08-11 00:29] WillAyd commented on #22276
PRs to improve documentation are always welcome - if you have something you feel is better feel free to submit and the team will provide feedback!

[2018-08-11 00:52] NikhilKumarM commented on #22272
@WillAyd I have added 'table' as allowed to the docs. Could you please review my PR and let me know if I have to make any changes.

[2018-08-11 01:06] drudd commented on #22275
Unfortunately it causes a series of test failures, so the solution isn't quite so simple.

[2018-08-11 01:37] #22272 closed

[2018-08-11 02:16] NikhilKumarM commented on #22276
I will take this up.

[2018-08-11 02:45] drudd commented on #22275
This bug is similar to #21664 and I think the failing tests may be expecting
http://pandas.pydata.org/pandas-docs/stable/groupby.html#automatic-exclusion-of-nuisance-columns

[2018-08-11 03:43] mroeschke commented on #22256
This change fixed this issue specifically but not sure how it will affect other tests.

[code]

[2018-08-11 05:07] jbrockmendel commented on #22192
Has this resolved itself?

[2018-08-11 08:26] toobaz opened #22278 "Are multiple callable/dict groupers allowed in groupby?"
#### Problem description

The docs for ``DataFrame.groupby`` signature start with:
[code]
... but the code assumes that lists of mappings or functions can also be passed, and this is also tested, although with limited enthusiasm:
https://github.com/pandas-dev/pandas/blob/0370740034978d3a63d4b8e5e2c96ff54e7e08ba/pandas/tests/groupby/test_grouping.py#L667
... and consistency (apparently that code pa

[2018-08-11 13:28] jreback commented on #22192
no

[2018-08-11 13:31] chris-b1 commented on #22274
Only partially related, but I've also thought it would be nice to have frequencies for other DateOffset cases, e.g. a calendar year like the below.
[code]

So, maybe a whole set of `'CD', 'CM', 'CA'`?

[2018-08-11 13:42] chris-b1 commented on #22250
`DataFrames` by default applies to function to each _column_ at a time, while `Series` applies to the rows (e.g. individual scalar value).

So this is as expected - to match performance in the Series case, apply the function to the entire array at once.
[code]

[2018-08-11 13:42] #22250 closed

[2018-08-11 14:00] ATPs opened #22281 "pd.read_csv return wrong number of lines"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
We can download a file of the taxonomy from NCBI (https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz). After extract the file, there is one file named "names.dmp". It is a file with 2704156 lines. When read it with pandas.read_csv with the code
[code]
the print out is '(2704128, 8)'.
When read it with the

[2018-08-11 15:37] nmusolino commented on #22203
If, in the second case, the series has dtype object, then this is behaving as documented.  From the “Notes” section of the [`pandas.DataFrame.copy()` documentation](
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.copy.html):

[2018-08-11 16:00] nmusolino commented on #22203
In the first case, I don't think there is any actual aliasing going on.  It only appears this way because of how you are checking with the `id` function.

(By the way, this example would be clearer if it did not recycle the names `a` and `b` for the two cases.  Here I am referring to the *first* example.)

The example shows:

[2018-08-11 16:19] chris-b1 commented on #21742
folding into #21901

[2018-08-11 16:19] #21742 closed

[2018-08-11 16:36] WillAyd commented on #22281
Your line count is wrong (should be 2,704,355) as is your separator. If you use the correct separator the shape of the frame will match the number of lines in the file

[2018-08-11 16:36] #22281 closed

[2018-08-11 16:40] WillAyd commented on #22278
I am +1 to disable entirely as I think the value of supporting this is relatively limited with potential for a high cost of development complexity / edge case coverage

[2018-08-11 19:49] javadnoorb opened #22285 "BUG: SeriesGroupBy.hist ignores input arguments in python2"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In Python2 the inputs to `GroupBy.hist` are ignored unless they are named arguments in:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.hist.html

In python2 I get:
![image](https://user-images.githubusercontent.com/26352146/43995452-d8ab6266-9d7b-11e8-92ad-bd801eb52bd7.png)

In python3 I g

[2018-08-11 22:27] cloje commented on #21099
I will write the PR to add openpyxl as a reader

[2018-08-11 22:27] cloje commented on #12206
i'll take care of this

[2018-08-12 01:04] jschendel commented on #22275
As a side note, we actually have this within our test suite, albeit in a fledgling state:

https://github.com/pandas-dev/pandas/blob/0370740034978d3a63d4b8e5e2c96ff54e7e08ba/pandas/tests/extension/decimal/array.py#L37-L118

This doesn't quite get the job done though, as there's currently no way to dynamically alter `ExtensionBlock.is_numeric`, which currently is always `False`, and is what `get_nu

[2018-08-12 01:11] jschendel opened #22290 "ExtensionBlock.is_numeric is always False"
#### Code Sample/Problem Description

Currently `ExtensionBlock.is_numeric` always returns `False`.  This can be problematic for extension arrays that are numeric, as this is used under the hood in places to filter to numeric columns in a `DataFrame`.  I'll be using `IntegerArray` as an example, but this in principle applies to any numeric extension array, e.g. `DecimalArray` in the testing suite,

[2018-08-12 02:06] gfyoung commented on #22285
cc @TomAugspurger

[2018-08-12 02:28] ATPs commented on #22281
Thank you for the answer, but I didn't get it.

What's the difference between separator "\t" and "\t|\t"? Based on my understanding, they are the same.

As for the line count, I opened the file, and checked the line numbers in notepad++.
"\t" can be used as a separator surely, but why some lines will be missing?

[2018-08-12 04:39] jbrockmendel commented on #22290
I think instead of hardcoding is_xyz attributes on the block subclasses they should be inferred like in Index.  Both for correctness (i.e. this Issue) and so we can share code between Block and Index, both of which are array-like.

[2018-08-12 08:16] #15457 closed

[2018-08-12 09:37] Sonupival6 commented on #11604
I am looking for simulation of KNN algorithm for temperature in python or in MATLAB . IF any one can provide me the code than that will be great.
cheers.

[2018-08-12 09:48] Sonupival6 opened #22291 "I am looking for simulation of KNN algorithm for temperature in python or in MATLAB . IF any one can provide me the code than that will be great. cheers. please mail me if you find anything :sonupival6@gmail.com"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-08-12 10:31] swyoon commented on #22256
@mroeschke Thanks for pointing `box` out. Well, this breaks quite a lot of unit tests.
My first attempt was to keep `box=False`, and update `pandas/core/tools/datetime.py:_convert_listlike_datetimes`.
However, I realized that we can't fix this issue with `box=False`, because what is returned is a Numpy array of datetime64, and it cannot contain the timezone information.
https://docs.scipy.org/doc/

[2018-08-12 12:02] alvaromorono opened #22292 "TypeError: cannot convert datetimelike to dtype [datetime64[s]]"
#### 1ST ISSUE
#### This is part of the function that generates the warning

[code]
#### Problem description - It throws me this warning

[code]

-----------------------------------------------------------------------------------------------------------------
#### 2ND ISSUE
#### As far as I understand, all I had to do is to use .loc this way:
[code]
However, if I run that I get this error:

[code]

[2018-08-12 14:34] makbigc commented on #22092
2nd bug:
The & operation of an Index of Boolean value with another Series of Boolean value is expected to be  element-wise,  while the `Index.intersection` method is set-wise. If the element-wise logical operation is added, should it be added in a new route other than `Index.intersection`?

Moreover, there is a bug in `idx & idx`:
[code]
This situation is alike in ^ and | operator.

[2018-08-12 15:55] jbrockmendel commented on #22291
Please try stackoverflow or the mailing list.

[2018-08-12 15:55] #22291 closed

[2018-08-12 16:48] jreback commented on #22292
this is clearly showing an expected warning
you can ask on SO if you want but please read the docs

[2018-08-12 16:48] #22292 closed

[2018-08-12 16:53] alvaromorono commented on #22292
I also tried:
[code]
After pandas had been imported and it seems to work, but sometimes it throws this:
[code]

Could anyone help please?

[2018-08-12 17:14] threemonks commented on #14319
Is there any work around for this while the issue is being addressed? I tried the following, but neither works:

`df.replace(None, np.nan, inplace=True)
df.fillna(value=np.nan, inplace=True)`

[2018-08-12 19:32] realead opened #22295 "Don't mangle pd.NaT and np.nan in dp.unqiue()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This result is a little bit inconsistent, because:

[code]
returns False, i.e. np.nan and pd.NaT are not the same.

#### Expected Output

`pd.unique([np.nan, pd.NaT])` should return  `[np.nan, pd.NaT]`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python:

[2018-08-12 19:42] TomAugspurger commented on #14319
Does `to_numeric` work?

[2018-08-12 19:54] TomAugspurger commented on #22285
Not sure why that would be.

[2018-08-12 20:16] TomAugspurger commented on #22290
On my WIP SparseArray branch, I get around this by adding

[code]

to `ExtensionDtype`. And then ExtensionBlock looks for that.

We *could* infer from `ExtensionDtype.kind`, and exclude things like `O`, `S`, and `U`

[2018-08-13 01:10] javadnoorb commented on #22285
I don't know what's going on. But looks like in py2 `kwargs` is not passed to the function wrapper:
https://github.com/pandas-dev/pandas/blob/d09db1fe8dc3bc08c5ca0eff97d43d2b30d5233e/pandas/core/groupby/groupby.py#L577

It's empty if you put a print statement inside:

[code]

[2018-08-13 01:14] #22129 closed

[2018-08-13 01:35] QuinRiva opened #22299 "KeyError after merging dataframes with columns renamed from the same name"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
It appears that renaming columns from the same name and then referencing them directly causes an error.  I suspect that this is because both columns were originally named 'id'.

Note that simply executing `combined` or `combined.head()` results in no issues.
[code]

#### Expected Output

#### Output of ``pd.show

[2018-08-13 01:38] #22299 closed

[2018-08-13 01:39] QuinRiva commented on #22299
I'm an idiot, I missed a set of brackets. Please delete issue.

[2018-08-13 01:59] dsaxton opened #22300 "DataFrame.corrwith doesn't warn user about potentially bad alignment"
#### Code Sample

[code]
#### Problem description

It might be desirable to have `corrwith` return a warning in situations like the above where the alignment of the two data sets is suspect (the two objects only happen to have an overlapping index).  Perhaps the warning should be triggered unless the two objects have the right shape *and* the indexes are equal?

#### Output of ``pd.show_versions()

[2018-08-13 03:06] teto commented on #22262
arf indeed, I am used to using read_csv which accept a `dtypes` parameter. I must confess I don't understand the documentation for `dtype`. A dataframe can have multiple columns with different dtype, why can't I pass several dtypes as in read_csv ? apparently my solution is to use astype instead.

[2018-08-13 03:06] #22262 closed

[2018-08-13 05:59] jnothman opened #22302 ".head() method for Styler"
#### Problem description

Currently it is convenient to experiment with adding styling to a DataFrame in Jupyter. But if the DataFrame is large, rendering time is slow.

`Styler.head()` would be very useful to just display a fraction of the DataFrame.

#### Expected Output

Styler.head(n) would display the first n rows of the table with the assigned styles.

#### Output of ``pd.show_versions()``

[2018-08-13 06:11] RahulRAhhy123 commented on #8113
Any solution for this as if now @TomAugspurger @jreback ?

[2018-08-13 06:37] jnothman commented on #22302
I changed my mind. In most cases it would be more useful to call `dostuff(dataframe.head().style)` than to use `dostuff(dataframe.style).head()`

[2018-08-13 06:37] #22302 closed

[2018-08-13 06:52] gfyoung commented on #22300
By itself, it sounds like a viable suggestion, but whether that's consistent with what we do currently in situations like this one, I'm not entirely sure.

cc @jreback

[2018-08-13 06:59] eromoe opened #22303 "Please make DatatimeIndex slicing behave as int slicing ."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

As you see,  DatatimeIndex slicing behavious is different from  int slicing .
`df['2018-01-04': '2018-01-05']`  would contain the rows in ` '018-01-05` , however int slicing doesn't.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: No

[2018-08-13 08:25] realead opened #22305 "pd.to_datetime() throws if caching is on with Null-like arguments"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It results in error:

#### Expected Output

The same as `result = pd.to_datetime([pd.NaT, None],cache=False)`:

`DatetimeIndex(['NaT', 'NaT'], dtype='datetime64[ns]', freq=None)`

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.2.final.0
python-bit

[2018-08-13 09:44] chetanchougle opened #22306 "Fatal Python error: GC object already tracked : Linux Centos"
#### Code Sample

[code]
#### Problem description

Checked on Windows 10 - Works fine with no issues .But when this python  script was deployed on Linux Centos Gave me the 'Fatal Python error: GC object already tracked'

Some more description -
Thread 0x00007f4a5bfff700 (most recent call first):
  File "/home/usr/anaconda3/lib/python3.6/multiprocessing/connection.py", line 379 in _recv
  File "/ho

[2018-08-13 10:48] jreback opened #22309 "BLD: wheels for 3.6 failing"
https://travis-ci.org/MacPython/pandas-wheels/jobs/415273186

looks like a test that is in a loop

[2018-08-13 10:49] jreback commented on #22309
cc @jbrockmendel

[2018-08-13 10:57] TomAugspurger commented on #8113
It's still open. Let us know if you're interested in working on it.

[2018-08-13 10:58] TomAugspurger commented on #22262
I think there's an enhancement request for that.

[2018-08-13 11:10] TomAugspurger commented on #22306
Could you provide a minimal reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-08-13 11:14] TomAugspurger commented on #22303
I don't think we'll change this, since it'd be backwards incompatible, and people likely find the current behavior useful.

[2018-08-13 11:16] jreback commented on #22290
so for integer I made 2 changes (these are not pushed yet). These provide dispatch to blocks as needed for all ops.

[code]

[2018-08-13 11:38] jorisvandenbossche commented on #22305
Thanks for the report! Looking into it / a fix is certainly welcome.

[2018-08-13 11:46] jreback commented on #22303
agree with @TomAugspurger this is long long established
you are much better off computing an indexer directly and using .iloc

[2018-08-13 11:46] #22303 closed

[2018-08-13 12:01] jorisvandenbossche commented on #16830
I don't think it does? Eg

[code]

So it gives 'c', while it should give 2.

But I certainly agree that it is confusing that it seems that `np.argmax` is deprecated (not sure if we can solve this apart from the wording, as this has to do with python stacklevel printing), and that the wording can be improved (+1 on your two suggestions).

Is that possible? (how to do it exactly?)
Because that would

[2018-08-13 12:15] jorisvandenbossche commented on #16830
I suppose it is easy to do with inspecting the stack. Is it guaranteed to always be `_wrapfunc `, or should we rather check in general if the call is coming from the numpy module?

[2018-08-13 12:26] jorisvandenbossche commented on #16830
@rgommers see https://github.com/pandas-dev/pandas/pull/22310 for edit to the deprecation message

[2018-08-13 12:33] jorisvandenbossche commented on #22309
I restarted the build and now it is passing (I didn't see any error in the original log, it only timed out before completing all tests)

[2018-08-13 12:36] jreback commented on #22309
thanks

yeah i have done that a couple of times
ok then

[2018-08-13 12:36] #22309 closed

[2018-08-13 12:40] toobaz opened #22311 "pd.Timestamp(timestamp) looses freq"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I expect a timestamp initialized from a timestamp to keep its properties. And indeeed:
[code]

#### Expected Output
``'D'``

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: 9123f7d0be4d6cff6cd7455b039f556c4acd2275
python: 3.5.3.final.0
python-bits: 64
OS: Linux
O

[2018-08-13 12:43] toobaz opened #22312 "DatetimeIndex.map() preserves freq only for some functions"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This results from the combination of two problems.

1. ``DatetimeIndex.map()`` does some pretty horrible thing: it first tries to call the passed function on the calling instance, and only if this fails (according to some debatable definition of "failure") it calls it on each element of the instance. ``freq``

[2018-08-13 12:48] jorisvandenbossche commented on #22220
Yes, +1 on mentioning it there.

[2018-08-13 13:05] toobaz opened #22313 ""closed" is reset to 'right' when interval is multiplied by scalar"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I see no reason why multiplying an ``Interval`` by a scalar should change its "direction".

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: 9123f7d0be4d6cff6cd7455b039f556c4acd2275
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-r

[2018-08-13 13:07] jorisvandenbossche commented on #22085
This is because of cython casting the input float to int.

Small example showing that behaviour:

[code]

Not sure if you can let cython not do such a cast on demand? (cc @jreback)
Otherwise we should check the type of the value in/before calling the HashTable contains

[2018-08-13 13:22] TomAugspurger opened #22314 "Document `deep` parameter in ExtensionArray.copy"
And pass it through via `Series.copy`.

[code]

[code]

[2018-08-13 13:30] TomAugspurger commented on #22314
We should also clarify what exactly a deep vs. shallow copy should mean...

My use-case is `SparseArray.copy`. Should the underlying data `sp_index` and `sp_values` be copied only if `deep=True` (that's what we do on master)?

[2018-08-13 13:37] #19715 closed

[2018-08-13 14:33] TomAugspurger commented on #21978
`sparse_reindex` seems buggy. Anyone have an idea what it's supposed to do? (this is in our test suite. probably xfailling for now).

[code]

[2018-08-13 14:40] TomAugspurger commented on #21978
Ah, seems to be used in `pandas.core.sparse.frame.homogenize`, which I've never heard of before...

[2018-08-13 15:07] jorisvandenbossche commented on #22314
I suppose so.

The docstring of `pd.Series.copy` has a quite detailed explanation:

copy of the calling object's data and indices. Modifications to
the data or indices of the copy will not be reflected in the
original object (see notes below).

the calling object's data or index (only references to the data
and index are copied). Any changes to the data of the original
will be reflected in the sha

[2018-08-13 15:09] h-vetinari commented on #19862
IMO, `copy(deep=True)` should completely sever all connections between the original and the copied object - compare the official python docs (https://docs.python.org/3/library/copy.html):

So, IMO, `deep=True` should come to mean what `deep='all'` does currently (and the latter can then be removed).

Re:

This is not a valid argument IMO - it's up to me as a user (consenting adults and all...) wha

[2018-08-13 15:15] h-vetinari commented on #22314
Like in #19862, I would argue that:

[2018-08-13 15:16] toobaz opened #22315 "Index() constructor is inconsistent in detecting subclass-specific keyword arguments"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I see no obvious reason why ``tz`` should trigger the interpretation of data as datetime, and ``freq`` shouldn't. And I think the only viable option is to refrain entirely from using kwargs to do inference - unless we are committed to support them all, which could be a pain.

From the point of view of users, t

[2018-08-13 15:17] mroeschke commented on #22305
We have this test:

https://github.com/pandas-dev/pandas/blob/eb0ac5437f9fee2939b3c3c4dab3ed745b5a9c38/pandas/tests/indexes/datetimes/test_tools.py#L505

Where currently this test with `cache=True` is skipped because of #18111 which I think is similar to what you found.

[2018-08-13 15:45] fuglede opened #22316 "Match can return non-boolean results yet warning suggests results are boolean"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The warning states that `match` (and similarly for `search`) returns a boolean indexer by default, yet that's not the case for numeric input, as the example shows.

This one caught me off guard as it caused an indexing error in a piece of code that assumed that the result of `match` could be used as a mask rega

[2018-08-13 15:47] jorisvandenbossche commented on #19862
There are other problems as well that are not related to copying that makes directly changing underlying values a bad idea. For example, the internal hashtable that is used for indexing will be no longer valid if you change the underlying values of an index (so indexing will give wrong results).

For DataFrame that might be true (depending on its size), but not for Series.

---

To be clear, I am

[2018-08-13 15:49] jorisvandenbossche commented on #22314
@h-vetinari I think the other discussion is not fully relevant here, as an ExtensionArray has (in general) no notion of 'index' that is immutable and not copied like a Series/DataFrame has.

[2018-08-13 15:52] jorisvandenbossche commented on #21978
That let me wonder: should this be public? Or more in general, are the sparse index objects considered public? (you can pass it in the `SparseSeries` constructor currently, but the objects are never used in the docs / not exposed top-level).

[2018-08-13 15:53] choma1 commented on #22221
Why was returning a KeyError here determined to be preferable to returning an empty DataFrame?

[2018-08-13 15:56] TomAugspurger commented on #21978
Yeah, they're not in the official public API, but they were likely not considered in the `pandas.core` privatization shuffle.

So, I don't really know. I suppose it depends on if people find them useful (@hexgnu @kernc @Licht-T), otherwise I would default to making them private implementation details of SparseArrayl.

[2018-08-13 15:57] TomAugspurger commented on #22314
This is also not tested directly in the base extension tests. Testing the semantics will be a tad, since we don't have a no-copy way of getting some kind of `ExtensionArray._data`.

[2018-08-13 15:59] jorisvandenbossche commented on #22314
We could test the expected "user semantics" ?

[code]

[2018-08-13 16:05] TomAugspurger commented on #22314
Ah, yeah that will work for mutable EAs (my head is in sparse-land right now, which is not mutable).

[2018-08-13 16:09] jorisvandenbossche commented on #22314
Ah, OK, I now understand why you asked the initial question. In that case (SparseArray being immutable), then it is again more similar to the "copy index of Series or not" discussion.

Is there a reason they are immutable? (it's just more work to implement it? Scipy sparse matrices are mutable, but raise a performance warning if the mutation changes the sparsity structure)

[2018-08-13 16:33] TomAugspurger commented on #22314
Just more work to implement I think.

On Mon, Aug 13, 2018 at 11:09 AM Joris Van den Bossche <
notifications@github.com> wrote:

[2018-08-13 16:39] TomAugspurger commented on #22316
That keyword is slated to be removed in 0.24 https://github.com/pandas-dev/pandas/issues/6581

Could you make a PR just removing it, rather than changing the error message?

[2018-08-13 17:00] toobaz commented on #22221
Because the label is not in the index/level, and [``.loc`` will raise ``KeyError`` when the items are not found](https://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing)

[2018-08-13 18:57] louis-red commented on #22144
Of course @WillAyd, sorry for the delay ;

* where the "implicit index" detection is defined and performed :
https://github.com/pandas-dev/pandas/blob/eb0ac5437f9fee2939b3c3c4dab3ed745b5a9c38/pandas/io/parsers.py#L2833

* where it is used to remove the error :
https://github.com/pandas-dev/pandas/blob/eb0ac5437f9fee2939b3c3c4dab3ed745b5a9c38/pandas/io/parsers.py#L2892

We have unexpected results h

[2018-08-13 19:23] WillAyd opened #22319 "Bump Min pytest Version"
xref https://github.com/pandas-dev/pandas/pull/22213#issuecomment-412630657

[2018-08-13 19:32] h-vetinari commented on #19862
Isn't that moving the goal posts? It _is_ within the power of pandas to influence how its own indexes are handled, whereas arbitrary python objects can obviously be quite complicated.

But *even* then, the meaning of `deep` in vanilla python follows the "complete separation" interpretation:
[code]
``

[2018-08-13 20:07] TomAugspurger opened #22326 "Clarify is_bool_indexer for Extension dtypes"
What do we want here?

[code]

working around this in https://github.com/pandas-dev/pandas/pull/22325/

[2018-08-13 20:08] TomAugspurger commented on #22326
Likewise for `is_bool_dtype`.

[2018-08-13 20:11] realead commented on #18111
The first issue can be side-stepped with an explicit cast to numpy-array:

[code]

I'm not sure the result is unexpected. `False == 0` and `False == 0.0` evaluates to True in python, and because the underlying hash-map uses the Python's [PyObject_RichCompareBool](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/klib/khash_python.h#L44) we get the result we get.

The result is simi

[2018-08-13 20:29] realead commented on #22305
In the end it comes down to the following difference between `unique` and `infer_dtype`:

While unique [mangles `pd.NaT` and `np.nan` but not `None`](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/hashtable_class_helper.pxi.in#L852):

[code]

[`infer_dtype` magles them all](https://github.com/pandas-dev/pandas/blob/73909638515327412997e2037750fa9b57e3f7c0/pandas/_libs/lib.pyx#L1160)

[2018-08-13 23:50] dsaxton opened #22328 "DataFrame.corrwith has unintuitive behavior"
[code]
#### Problem description

The docstring for `corrwith` describes its behavior as:

    Compute pairwise correlation between rows or columns of two DataFrame
    objects.

My interpretation of this would be that `corrwith` finds *all* pairwise correlations between the two DataFrames along the given axis (it's also defined for Series input which should probably be a bit more explicit in the d

[2018-08-14 00:10] smcinerney commented on #22276
Can anyone pinpoint the version this was introduced? (at least as old as 0.20.4) and whether it was intentional or accidental? (I couldn't figure it out from reading through the history and blame on https://github.com/pandas-dev/pandas/blob/master/pandas/io/parsers.py)

[2018-08-14 02:03] jschendel commented on #22313
Thanks, it looks like this happens for all arithmetic operations:

[code]

[2018-08-14 03:12] jreback commented on #22085
these get casted to int by cython
you need to check types with is_integer first

[2018-08-14 03:28] WillAyd commented on #22306
@chetanchougle this still is not reproducible as is, i.e. no one can copy and paste what you've provided and simulate the issue.

Closing for now but if you can get it to that state in the future feel free to reopen.

[2018-08-14 03:28] #22306 closed

[2018-08-14 03:30] rambo-yuanbo opened #22330 "BUG: MultiIndex name lost when using .loc with missing index values"
#### Code Sample, a copy-pastable example if possible
[code]

#### Problem description
The index names get lost while using .loc to take part of a full DataFrame.
The problem appeared ONLY when
1. the full dataframe is with a MultiIndex
2. some of the index values in .loc are missing in the full dataframe
3. ths missing index values are in the middle of the list in .loc, not at the begin or end of

[2018-08-14 03:32] rambo-yuanbo commented on #22330
don't why the formating is weird, sorry!

[2018-08-14 03:33] WillAyd commented on #22330
You can put your code inside a code block (the template gives you one to begin with) will make it much easier for others to read and diagnose

[2018-08-14 05:06] rgommers commented on #16830
You're right. My code does:

I think this is normal though - the majority of users probably won't look at the actual value of the index.

`_wrapfunc` probably won't change, but it's private so no hard guarantee. These are the functions that use `_wrapfunc`:

- take
- reshape
- choose
- repeat
- swapaxes
- transpose
- argpartition
- argsort
- argmax
- argmin
- searchsorted
- nonzero
- compress
- cl

[2018-08-14 05:13] realead opened #22332 "Index.get_indexer() throws when None and at least one of np.nan, pd.NaT are present in input"
#### Code Sample

[code]
#### Problem description

throws "Reindexing only valid with uniquely valued Index objects".

This is also the case for `[np.nan, None]`

#### Expected Output

It should not crash. One would also expect, that the array returned by `pd.unique()` is really considered to be consisting of unique elements.

That is not the only problem in , but one blocker for #22305.

#### Out

[2018-08-14 05:56] jnothman opened #22333 "is_sequence is too aggressive for determining how to print"
#### Code Sample, a copy-pastable example if possible

[code]
Expected output:
[code]
Actual output:
[code]

#### Problem description

`pandas.core.dtypes.inference.is_sequence` appears designed to determine whether an object should be converted directly into a Series, etc. But `is_sequence` is also applied to determine how to `pprint_thing`: if an object in a cell is capable of `len` and `iter` a

[2018-08-14 08:00] jorisvandenbossche commented on #16830
That's a good point. In case you have a non-numerical index like in the small example above, the `x[np.argmax(x)]` will keep working in the future (when `argmax` will return a positional integer), but with numerical indexes, this will not be guaranteed to give the same result. So therefore, if you have this deprecation message, you are still encouraged to switch to `idxmax`.
Which of course makes

[2018-08-14 08:47] toobaz commented on #19041
If i understand correctly, @TomAugspurger you are (in today's terms) just suggesting that ``is_extension_type`` should return ``True`` if ``is_extension_array_dtype`` does, right? (Notice this is already true for ``Categorical``).

Then I think the only two hardcoded types would be ``datetimetz`` and ``sparse``.

By the way: is there any plan to make those extension types too? The fact that
[code]

[2018-08-14 08:53] jorisvandenbossche opened #22334 "Plotting methods (line, area, ..) don't handle string x values"
From https://github.com/pandas-dev/pandas/pull/22307#pullrequestreview-145585750: when specifying the x labels in one of our plotting calls where this consists of strings, nothing is shown on the x labels:

[code]

![figure_1-1](https://user-images.githubusercontent.com/1020496/44081733-b7cb56ba-9faf-11e8-89f0-e38544760df2.png)

The same is true for line plot, for bar plot it does work.

Related t

[2018-08-14 09:04] jorisvandenbossche commented on #22333
Related to (possibly duplicate of) https://github.com/pandas-dev/pandas/issues/17695 and https://github.com/pandas-dev/pandas/issues/18843

I would also like to see this solved, but not sure what the best way would be to detect when to use our custom printer (that eg limits the length) and when not (a while ago that I looked into it)

[2018-08-14 09:26] toobaz opened #22335 "Remove Index.__inv__"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

``idx.__inv__`` does what ``idx.__neg__`` does, and not do what its name suggests (that is, ``operator.inv``). By the way, ``~idx`` raises ``TypeError`` anyway, and ``idx.__invert__`` does not exist, differently from what [the Python docs suggest](https://docs.python.org/2/library/operator.html).

Notice that i

[2018-08-14 09:40] jnothman commented on #22333
I assume the reason to special-case sequences is that repr of a large
container can be slow. I would think that unless an object was a standard
collection class or had registered a custom pprint, __repr__/__str__ should
be used. But you are right, this is a duplicate.

[2018-08-14 10:04] jreback opened #22337 "COMPAT: dateutil failing on master"
https://travis-ci.org/pandas-dev/pandas/jobs/415820574, this is the numpy-dev build

we are building dateutil from source: dateutil: 2.7.3.dev208+g510359d
is causing the following

[code]

[2018-08-14 10:04] jreback commented on #22337
cc @pganssle
@jbrockmendel @gfyoung @mroeschke

[2018-08-14 10:06] jreback opened #22338 "TST: incorrectly used fixtures causing warnings"
https://travis-ci.org/pandas-dev/pandas/jobs/415820572: this is the 3.6 build
[code]

[2018-08-14 10:45] jreback commented on #18874
@jbrockmendel since closing this issue via #22163 what about the xref issues in the header?

[2018-08-14 10:49] #8554 closed

[2018-08-14 10:49] #8932 closed

[2018-08-14 10:49] #13128 closed

[2018-08-14 10:49] #15697 closed

[2018-08-14 10:49] #18874 closed

[2018-08-14 10:49] #21610 closed

[2018-08-14 10:49] #22005 closed

[2018-08-14 10:49] #22047 closed

[2018-08-14 10:49] #22242 closed

[2018-08-14 11:00] discort opened #22339 "TestPeriodIndex.test_resample_empty_dataframe is failed when I pass kwargs to Resampler._groupby_and_aggregate"
#### Code Sample, a copy-pastable example if possible

code diff to reproduce the issue

[code]
#### Problem description

During work on the solution of #15023 I found that when I pass `kwargs` to `_groupby_and_aggregate` the `TestPeriodIndex::test_resample_empty_dataframe` is failed.

@jreback suggested to create a separate issue for that [here](https://github.com/pandas-dev/pandas/pull/22304#dis

[2018-08-14 11:16] TomAugspurger commented on #19041
I think eventually we'll just remove `is_extension_type`, in favor of `is_extension_array_dtype`.

For context, changing everything in one go was too difficult, so we've kept `is_extension_type` for backwards compat. Once everything is an EA, we could remove it (after deprecating).

(just replied on the mailing list). I just opened a PR for sparse.

[2018-08-14 11:26] pganssle commented on #22337
When did this start breaking? I haven't merged anything significant in a long while.

[2018-08-14 11:27] jorisvandenbossche commented on #22335
Do you know why that is? Because in principle, if `__inv__()` works, so should `~` (that might indicate another bug in our code)

The TypeError is raised by the `Index.__inv__` implementation, but `Int64Index` overrides that with a working implementation.

[2018-08-14 12:08] philippos86 opened #22340 "Pandas in QGIS - MAC"
I'm on MAC, and I want to import pandas into my QGIS V2.18.

I have tried following the steps of this answer [here](https://stackoverflow.com/questions/31532501/how-to-install-pandas-library-in-qgis-python/31533128#31533128)

Uninstalled and reinstalled pandas using pip, and confirm its added to the PATH, still not working.

How can I add pandas to my QGIS?

[2018-08-14 12:26] TomAugspurger opened #22341 "S3FS tests fail with non-us locale"
[code]

fails with

[code]

cc @martindurant, at a glance, it looks like s3fs is fine here. All the timestamp-based stuff that boto seems to be chocking on is done within boto itself, AFAICT...

[2018-08-14 12:42] a1shadows commented on #22085
Can I take this issue? I want to start contributing to this repository.

[2018-08-14 12:52] TomAugspurger commented on #22341
Interestingly, this only seems to be an issue when we actually change the locale within the Python process. Doing things properly by setting the LANG and LC_ALL environment variables ahead of time, everything seems to work correctly.

[2018-08-14 12:54] jorisvandenbossche commented on #22085
Yes, go ahead. If you have any questions related to the fix, don't hesitate to ask here.

[2018-08-14 13:04] martindurant commented on #22341
So perhaps it's a mismatch between the two settings?
I don't see how s3fs can be doing anything here, but it does seem odd that boto/dateutils shouldn't be able to understand timestamps depending on any language setting.

[2018-08-14 13:04] a1shadows commented on #22085
@jorisvandenbossche thanks a lot.

[2018-08-14 13:17] TomAugspurger commented on #22341
that seems most likely right now... Our test infra seems a bit hacky. (patching `pandas.__init__.py` with a setlocale :)

[2018-08-14 13:32] TomAugspurger opened #22342 "Datetime field names use different normalization than calendar"
At least under some conditions?

[code]

this manifests in failures in https://github.com/pandas-dev/pandas/pull/21814#issuecomment-412863836

[2018-08-14 13:33] TomAugspurger commented on #22342
So two questions:

1. do we care enough to change this?
2. do we make an guarantees on what normalization we use, and if it matches python?

[2018-08-14 13:34] TomAugspurger commented on #22342
Once https://github.com/pandas-dev/pandas/pull/21814 is in, this should be reproducible with

[code]

[2018-08-14 13:48] TomAugspurger commented on #22340
You'll need to post more info. What's the output of `pip install pandas`? what version of pip?

Since pandas uses standard distribution methods like conda and pip, it's probably something to do with the QGIS environment, which I'm not familiar with. You might try asking on their mailing list.

[2018-08-14 13:52] toobaz commented on #16873
Might be worth mentioning that while ``Series`` and dtype-specific indexes typically support the same arithmetic operations, the standard ``Index`` class (so dtype=``object``) does not try to make inference and just fails:
[code]

The choice we take for ``Series(., dtype=object)`` and for ``Index(., dtype=object)`` should probably be consistent (although this is not, as of now, a direct concern fo

[2018-08-14 14:25] pganssle commented on #22337
Found the issue on the `dateutil` side, but I think your test suite may not be doing quite what you want. This discovers a bug that has been on master since April, so I suspect that something has recently changed in your code such that you are no longer getting proper time zones. Unless getting `None` for those `tz.gettz` calls is the desired outcome, I think you may need some additional assertion

[2018-08-14 14:28] #22313 closed

[2018-08-14 15:09] toobaz commented on #22335
To the best of my understanding, and at least from Python 2.7 onwards, ``~`` is overridden just by using ``__invert__``, not ``__inv__`` (although the latter is exposed by the ``operators`` module).

[2018-08-14 15:59] WillAyd commented on #22338
Here's the original pytest issue this links back to:

https://github.com/pytest-dev/pytest/issues/3661

I think the warning is a result of the `datapath` fixture which is called directly as a function in various setup_methods in the `test_sql` module

[2018-08-14 16:46] TomAugspurger opened #22346 "Reductions for ExtensionArray"
Creeping up to this in https://github.com/pandas-dev/pandas/pull/22345

A few questions

1. What should this look like for EA authors? What helpers can / should we provide?
2. How does this affect users? Specifically, assuming IntegerArray implements reductions, what's the dtype here?

[code]

Is it `int64`, or should we preserve `Int64`?

We can also discuss transforms ( cumulative operations lik

[2018-08-14 16:47] TomAugspurger commented on #22346
To kick things off, one option is to make EA authors implement a `_reduce` like we do internally. That would require them adding things like `.min`, `.max`, .etc directly to their EA. This seems reasonable, but may be a bit overly restrictive.

[2018-08-14 16:50] mroeschke commented on #22337
I agree with @pganssle that `test_timetz_accessor` isn't grabbing the timezone from the fixture correctly. Instead of using `dateutil.tz.gettz` to parse all the timezone strings in the fixture, we should be using `maybe_get_tz`

https://github.com/pandas-dev/pandas/blob/cf70d11a25ec59a5b630921d86759c7fa49884db/pandas/_libs/tslibs/timezones.pyx#L86

[2018-08-14 16:51] adamjstewart opened #22347 "Feature request: pandas.Series.query()"
I would like to request a `pandas.Series.query()` method that works identically to [`pandas.DataFrame.query()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html).

I have a large multi-indexed series that I would like to split into training and testing data for an ML research project. A minimal working example would be:
[code]
What I would like to be able to do is

[2018-08-14 16:52] TomAugspurger commented on #22328
The columns are aligned by label (row or columns) like most pandas methods.

[code]

A correction to the docs indicating that (possibly with an example too) would be most welcome.

[2018-08-14 16:54] TomAugspurger commented on #22328
I don't think changing to `df2.apply(lambda x: df1.corrwith(x))` is worth breaking backwards compatibility, but adding that to the docs or cookbook seems useful.

[2018-08-14 17:09] jbencina opened #22348 "Pandas to_datetime() breaks on or after 2262-04-12"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Any date on or after April 12th, 2262 seems to cause pd.to_datetime() to fail while datetime.strptime() works fine.

#### Expected Output

Output should match datetime.strptime()

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSI

[2018-08-14 17:32] philippos86 commented on #22340
Here's the output you asked about.

`pip -V
pip 18.0 from /Users/user/anaconda/lib/python2.7/site-packages/pip (python 2.7)
Users-MacBook-Air:QGIS user$ pip install pandas
Requirement already satisfied: pandas in /Users/user/anaconda/lib/python2.7/site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/user/anaconda/lib/python2.7/site-packages (from pandas) (2.6.0)
R

[2018-08-14 17:34] TomAugspurger commented on #22340
If you're in an anaconda env, you should use conda to install packages.

   pip uninstall -y pandas

maybe a few times to make sure.

Then conda install pandas.

On Tue, Aug 14, 2018 at 12:32 PM philippos86 <notifications@github.com>
wrote:

[2018-08-14 17:35] pganssle commented on #22337
@mroeschke More important than that, these tests should be **failing** right now, because they don't do what you expect. See [here](https://github.com/pandas-dev/pandas/blob/master/pandas/tests/indexes/datetimes/test_timezones.py#L737). You should have `assert tz is not None` in the branch which accesses the `dateutil` tz.

[2018-08-14 19:02] gfyoung commented on #22347
Good question!  Not entirely sure myself.

cc @jreback

[2018-08-14 19:04] adamjstewart commented on #22347
The more I use pandas, the more I find Series lacking the same features as DataFrame. Should I just always use a single column DataFrame instead of a Series?

[2018-08-14 19:08] gfyoung commented on #22347
You could as a workaround, but that doesn't necessarily mean we get a pass on not adding more features to `Series`. 🙂

[2018-08-14 19:27] jorisvandenbossche commented on #22346
(We also have https://github.com/pandas-dev/pandas/issues/22224)

So basically, for `Series`, the reduction operations call the following function (where `op` is eg `nanops.nansum` in case of `Series.sum()`):

https://github.com/pandas-dev/pandas/blob/cf70d11a25ec59a5b630921d86759c7fa49884db/pandas/core/series.py#L3244-L3266

So with this existing infrastructure, it is indeed an option to let EA's

[2018-08-14 19:28] jorisvandenbossche commented on #22346
Ah, in case of groupby, you need to gather together the scalar results, so in that case it is indeed not that straightforward, as you then need to know the desired dtype .. (which might depend on the actual reduction type)

[2018-08-14 19:29] jorisvandenbossche commented on #22224
+1 for subtype

[2018-08-14 19:30] WillAyd commented on #22347
Perhaps a better solution to your problem would be to use a mask based off of the index values, so:

[code]

[2018-08-14 19:34] WillAyd commented on #22347
For the sake of explicitness I am -1 on adding `query` to `Series` as I don't see it adding much value over the masking solution provided above.

[2018-08-14 19:35] gfyoung commented on #22347
@WillAyd : I'm confused by your objection here.  How is `.query` not explicit?

[2018-08-14 19:36] TomAugspurger commented on #22346
Ah, by restrictive I meant it requires them to implement `.min`, etc. directly on their EA. But as you explain, they can do whatever they want in `_reduce`, so ignore that comment.

I vaguely had in mind something like `Categorical._reduce`, so that EAs mirroring NumPy and defining reductions would work "for free". But that's maybe not a good idea.

Right. I think for *most* reductions, the result

[2018-08-14 19:40] adamjstewart commented on #22347
Thanks @WillAyd, that syntax works identically for both Series and DataFrame, which is exactly what I was looking for.

At the same time, I think supporting different methods for Series and DataFrame makes it very confusing for new users (like myself). When I searched for how to do this with a MultiIndex, the `query` method was the first answer I found. It worked great for splitting my data (DataF

[2018-08-14 19:47] WillAyd commented on #22347
`.query('year != 2010)` is explicit but also duplicative of functionality that already exists. Coding and maintaining that imo is more of a burden than the incremental value it provides, especially since `Series` objects typically are unnamed.

I am not proposing to drop `query` from DataFrame as it is more useful there were your columns will typically be named. If anything the talk about adding `

[2018-08-14 19:50] adamjstewart commented on #22347
I agree that the masking solution works just fine, but I do still think that having Series and DataFrame support different methods is quite non-intuitive. Especially coming from numpy, where there is no distinction between 1D and 2D arrays, they all support identical operations.

[2018-08-14 19:52] adamjstewart commented on #22347
Also see https://stackoverflow.com/questions/40171498 for someone else who had the same problem as I did.

[2018-08-14 19:54] TomAugspurger commented on #22263
@jl0000285 thoughts on
https://github.com/pandas-dev/pandas/issues/22263#issuecomment-412160035?

Could you also edit your original post to include a full example that would be suitable for a unit test?

[2018-08-14 19:55] TomAugspurger commented on #21736
Closing, let s know if yo can provide the requested info.

[2018-08-14 19:55] #21736 closed

[2018-08-14 22:37] Lefatse opened #22351 "TypeError: 'Series' objects are mutable, thus they cannot be hashed"
def get_predict(user_id, title):
    return svd.predict(user_id, id_map.loc[title, 'movieId']).est

def watched (user_id, title):
    user_table = get_user_table(user_id)
    if len(user_table[user_table['title'] == title])>0:
        return 'Yes'
    else:
        return 'No'

def just_watch_it(user, rating_min):
    should_watch = pd.DataFrame([], columns=['title', 'predicted rating'])
    for i

[2018-08-14 22:46] alimcmaster1 commented on #22351
Hi, going forwards do you mind giving as little code as possible to reproduce the problem. There is alot of detail above which is related to your use case ( movies watched )

See [Stackoverflow](https://stackoverflow.com/questions/29700552/series-objects-are-mutable-and-cannot-be-hashed-error) for a decent answer to this question

Thanks!

[2018-08-14 22:52] WillAyd commented on #22351
Please refer to the contributing guide for how to open a bug report:

https://pandas.pydata.org/pandas-docs/stable/contributing.html#bug-reports-and-enhancement-requests

As mentioned above there is a lot missing here. Perhaps the SO article solves your problem but if not refer to the link above and feel free to re-open with required info

[2018-08-14 22:52] #22351 closed

[2018-08-14 22:53] alimcmaster1 commented on #22338
I think this is an example of an offending line `iris_csv_file = datapath('io', 'data', 'iris.csv')` ? Im happy to take a look at refactoring this, unless anyone else has already started looking?

[2018-08-14 22:54] WillAyd commented on #22338
@alimcmaster1 go for it!

[2018-08-14 23:04] alimcmaster1 opened #22352 "Use tuple sequences for multidimensional array indexing"
On Travis CI [logs](https://travis-ci.org/pandas-dev/pandas/jobs/415610906) we get the below warning ( 4 times):

pandas/tests/series/indexing/test_datetime.py::test_getitem_median_slice_bug
  /home/travis/build/pandas-dev/pandas/pandas/core/internals/blocks.py:301: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. I

[2018-08-14 23:08] jbrockmendel opened #22353 "test_can_set_locale_invalid_get local failure"
OSX 2.7

[code]

[2018-08-14 23:11] WillAyd commented on #22353
Related to #22319 need to bump your local pytest to 3.6

[2018-08-14 23:12] jbrockmendel commented on #22353
Thanks.

[2018-08-14 23:12] #22353 closed

[2018-08-14 23:13] Lefatse commented on #22351
#This is the the entire code snippet
import pandas as pd
import numpy as np
from surprise import Reader, Dataset, SVD, evaluate
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import warnings; warnings.simplefilter('ignore')

reader = Reader()

ratings = pd.read_csv('ratings.csv')
ratings.head()

dat

[2018-08-14 23:49] jbrockmendel opened #22355 "[DISC][BUG] DataFrame broadcasting behavior"
At the moment some `DataFrame` arithmetic/comparison operations have unintuitive or ad-hoc broadcasting behavior.

[code]

- [x] 1-D list and 1D np.array are treated differently, with the style of differentness dependent on shape:

[code]

I think the non-raising behavior is correct in both cases.  If operating against a list/np.array/Index/EA and there is unique axis with the correct length, we s

[2018-08-15 02:08] birdsarah commented on #19941
Relevant discussion? https://github.com/dask/dask/issues/3530

[2018-08-15 02:13] rambo-yuanbo commented on #22330
@WillAyd thanks a lot. i got the format right.
I'd appreciate a lot if you could check it out whether it's a bug or my code's problem.

[2018-08-15 02:58] HyunTruth commented on #22316
@TomAugspurger I created a PR with the removal and change of test and created a PR #22356

[2018-08-15 03:17] machenity commented on #19087
I'm looking on it.

[2018-08-15 05:58] h-vetinari opened #22358 "ENH: unify signature for df.update and Series.update"
Currently, there's

```DataFrame.update(other, join='left', overwrite=True, filter_func=None, raise_conflict=False)```
and
```Series.update(other)```

I think Series should have the same keywords/capabilities, and ideally share the implementation, probably in `generic.py`. Relevant also in light of #22286 and #21855.

[2018-08-15 07:47] teto opened #22361 "setting a whole column changes column dtype from "category" to "object""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Setting the whole serie changes the dtype from category to object which breaks my code afterwards.

#### Expected Output
before setting  category
after setting category

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
Details

ommit: None
python

[2018-08-15 08:26] Nemecsek opened #22362 "Add "semester" as a time/date component to DatetimeIndex"
#### Groupby is missing "semester"

[code]
returns groups based on the first date time index of the dataset, not on the year semesters that begin on _January, 1st_ and _July, 1st_:

[code]
while I would expect:

[code]

This issue is difficult to spot, as the behaviour changes according to the dataset, while it should be consistent. I didn't spot it with my first dataset (starting on January).

Th

[2018-08-15 09:37] jorisvandenbossche commented on #22361
This is the expected behaviour. When doing `df['col'] = ...` you overwrite the full column, not taking into account the existing one.
If you want to keep the dtype, you should only overwrite the values with eg `df['col'][:] = ...` or `df.loc[:, 'col'] = ...`.

For example:
[code]

[2018-08-15 09:44] jorisvandenbossche commented on #22361
Apparently, the `df.loc[:, 'tcpdest']` way does *not* preserve the dtype (the `df['tcpdest'][:]` still does), which was not what I expected.

Anyhow, I am also not sure this is very good documented (in general, when values are coerced to the dtype, or when dtypes are changed on updates etc)

[2018-08-15 10:07] Kimonode commented on #22257
Thanks for the fix !

[2018-08-15 10:32] h-vetinari commented on #13480
What do you do if not all combinations are present? Probably still need to show `labels=`, no?

[2018-08-15 11:38] h-vetinari commented on #13480
Fair enough. Plus, there'll be the repr of the tuples already.

[2018-08-15 11:51] jreback commented on #13480
@topper-123 a note on impl

we already have all of the machinery to do this
pls DO NOT write much custom code

see what we are doing for all other Indexes and follow the pattern / subclassing

this is a hard problem because of display wrapping and indentation - but it is already solved

[2018-08-15 12:01] topper-123 commented on #13480
Yes, I did thatmostly, though I had a problem with wrapping each value in a new line, rather than wrapping weveral values, as other indexes do. I'll look into it, it I can get that part unified with the rest also.

[2018-08-15 12:14] MattW216 commented on #17382
This same issue is occurring when using `.resample()`. I'm guessing that uses GroupBy in some fashion, but in case it does not, I thought I'd mention it here.

Also, @chris-b1 's workaround worked just fine for me.

[2018-08-15 12:16] philippos86 commented on #22340
@TomAugspurger I am on Anaconda environment, and tried uninstalling pandas and reinstalling it through conda, but still getting the same problem.

[2018-08-15 12:44] TomAugspurger commented on #22341
Closing this, as everything seems to work properly when used correctly.

[2018-08-15 12:44] #22341 closed

[2018-08-15 13:04] TomAugspurger opened #22367 "DataFrame.__setitem__ is broken for SparseArray"
It doesn't sparsify, and the values are incorrect.

I'll fix this in #22325

[code]

[2018-08-15 13:10] TomAugspurger commented on #22367
It's actually already fixed on #22325, aside from bool.

[2018-08-15 13:25] jorisvandenbossche commented on #22340
I think the question is: what python installation is QGIS using? I think it is quite likely that is it not the Anaconda version (so you are installing pandas in a different python installation than the one QGIS is importing). But that is rather a question for a QGIS forum.

[2018-08-15 13:31] TomAugspurger commented on #22340
Indeed. If you find something out, then please post here in case others run into the same issue.

[2018-08-15 13:31] #22340 closed

[2018-08-15 13:39] TomAugspurger commented on #22367
Essentially came down to `BoolBlock.should_store`. For "container" EA types like SparseDtype, `.type` will be the type of the underlying value (bool in this case). This made `BoolBlock` think it could hold `SparseArray[bool]`, which it should actually return a new `ExtensionBlock`.

So a new general rule, non-ExtensionBlock blocks shouldn't think they can store ExtensionArrays.

[code]

[2018-08-15 13:58] TomAugspurger opened #22369 "CLN: Simplify Block._astype"
There's lots of nested logic there (plus 1 more level from https://github.com/pandas-dev/pandas/pull/22343). Would be good to simplify this.

The components:

1. argument validation (could maybe do this elsewhere, not a big deal)
2. astyping *to* categorical is special cased. We'll want to remove that in favor of a generic astype system
3. Determine target_dtype -> Block type
4. `_astype` currentl

[2018-08-15 15:59] WillAyd commented on #22362
I believe this is intended as there is nothing that requires a "2 quarter period" to start on January and July, respectively.

cc @jbrockmendel

[2018-08-15 16:03] nbecker opened #22370 "apply converting dtypes of arguments"
#### Code Sample, a copy-pastable example if possible
In this snippet of code:

[code]

df['n_streams'] has type int, while df['stream_pwr_offset'] has type float.  I find the type passed to pwr_offset for 1st arg is converted int->float.  I didn't expect or want that.

#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better

[2018-08-15 16:42] answerquest commented on #12005
the problem is that the first search result shows up a .tar.gz example. Use .gz only, folks, avoid the .tar!

[2018-08-15 16:55] Bhaskar-Arya commented on #4793
use sep=' \t '
df=pd.read_csv('titanic.csv',sep='\t')

[2018-08-15 17:44] liesb opened #22372 "Using df.at() for assignment changes views of certain columns, but not all of them"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
The `cost` column is displayed incorrectly when we use the command `test`. It is correct when we use `test.cost` but not when we use `test[['cost']]` or `test.iloc[4]`. The other columns are displayed correctly, it seems.
This doesn't happen when we use .loc() to assign new_param to the `x` and `y` columns.
It

[2018-08-15 17:45] mroeschke commented on #22370
Could you post a minimally reproducible example?

http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2018-08-15 17:57] mikapfl opened #22373 "version 0.23: RangeIndex argument order changed, docs stale"
[code]
#### Problem description

[Documentation of RangeIndex](https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.RangeIndex.html) states that it has the arguments `start`, `stop`, `step`, `name` and `copy`. However, the actual signature is `RangeIndex(start=None, stop=None, step=None, dtype=None, copy=False, name=None, fastpath=False)`, which has `dtype` as fourth argument. This br

[2018-08-15 18:08] WillAyd commented on #22372
Quite a few things being thrown out there but unfortunately it's not explicit enough as to what issue(s) you are trying to address. Also the expectation that `test[['cost']]` and `test.cost` are the same is incorrect, as the former returns a frame whereas the latter returns a series

Please refer to the contributing guide on how to open bug reports. The biggest thing here is to post a _minimally_

[2018-08-15 18:18] liesb commented on #22372
I'm sorry, did you even run the code?

While I understand that `test[['cost']]` and test.cost are different
objects, they still should contain _the same values_. They're not.

On Wed, Aug 15, 2018 at 7:09 PM, William Ayd <notifications@github.com>
wrote:

[2018-08-15 19:00] WillAyd commented on #22330
If you can try on master to confirm if it's fixed there that would be helpful - certainly possible this was fixed in the interim since v0.22

[2018-08-15 19:05] liesb commented on #22372
Minimal example: I'm changing the value in the `cost` column of `df` from 2 to 789. However, I don't see this when I use `df`, `df[['cost']]` or `df.iloc[0]`; it is visible when using `df.cost`.

[code]

[2018-08-15 19:13] liesb commented on #22372
I'm adding the `pd.showversions()` output again as I used a different machine:

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Darwin
OS-release: 17.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_GB.UTF-8
LOCALE: en_GB.UTF-8

pandas: 0.23.4
pytest: None
pip: 18.0
setuptools: 40.0.0
Cython: None
numpy: 1.15.0
scipy

[2018-08-15 19:17] fuglede commented on #22316
Heh, one has to be fast around here.

[2018-08-15 20:06] jcontesti commented on #14600
This bug was fixed in version 0.20.1.

Using the current development version, this code:

[code]

returns the correct result:

[code]

And the nathalier’s code runs without error too:

[code]

The result is:
[code]

Please, let me know if I can help with anything else!

[2018-08-15 20:37] waltonereed commented on #17107
I can also confirm this is resolved after upgrading from 0.20.1 to 0.23.4

[2018-08-15 21:26] WillAyd commented on #22144
@louis-red thanks I think I follow. You can always try removing that conditional to see what breaks; perhaps it is even errant in the first place.

A PR would certainly be welcome if you could get it to pass tests locally

[2018-08-15 21:35] WillAyd commented on #22372
OK thanks for the example. Just to remove unnecessary prints and make it more concise:

[code]

It is strange that the frame shows the original value before the .at assignment.

Note that almost any change to this to make it idiomatic in construction or remove elements is fine, for example even doing:

[code]

My guess is there is some wonky state management going on. Investigation and PRs are alw

[2018-08-15 21:36] jorisvandenbossche commented on #14600
@jcontesti Thanks for checking this!
To close this issue, it would be good to still add some tests to ensure the cases from this issue keep working (or at least investigate if such tests have been added when it was fixed). PR with tests welcome!

[2018-08-15 21:48] louis-red commented on #22144
@WillAyd for issues like this that are only tangentially related to an opened Github issue, what is the best practice here for reference in a PR ? Opening a new issue clearly outlining the particular problem or not necessary ?

[2018-08-15 22:02] WillAyd commented on #22144
Sorry I thought you were addressing the issue with the `names` argument as outlined by OP. If that's not the case then yes open a separate issue

[2018-08-15 23:03] chelseas opened #22374 "Silent Failure with Partial Rows"
#### I was trying to read a file that looked like this (unbeknownst to me):

[code]
I wrote some code like this:
[code]
And the output I got looked liked this:
[code]
#### Problem description

When I try to parse a text file that has partial rows, pandas silently fails by importing an array of NaNs. It should instead throw an error.

#### Expected Output

'Error: partial rows'

#### Output of ``pd

[2018-08-16 00:16] megabyde opened #22376 "DataFrame.apply fails for string function arguments with additional positional or keyword arguments"
#### Code sample

[code]

#### Problem description

When we use the ``DataFrame.apply`` method with a string function argument (e.g. 'sum') and provide additional positional or keyword arguments it fails with the following exception:

[code]
but works just fine without additional arguments. The code above fails in master.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<detai

[2018-08-16 02:44] ManjushaBolishetty commented on #19944
Hey all - just checkin if this issue is closed? I am looking to pick something for a beginner. thank you!

[2018-08-16 03:02] BjmWang opened #22379 "Nothing assigned (except nan) when use `loc`"
[code]
#### Problem description

When using `rrDF.loc[:,'r']=x`, the expected output is to assign `x` to `rrDF.r` (same with `rrDF['r']=x`).

[code]

[2018-08-16 04:01] jbrockmendel opened #22381 "CategoricalBlock.array_dtype out of date?"
`CategoricalBlock.array_dtype` returns `np.object_`, but the docstring describes `array_dtype` as "the dtype to return if I want to construct this block as an array".  Shouldn't the array constructed now be `Categorical`?  In which case, shouldn't the dtype here be `self.dtype`?  (which matches the base class, and in fact makes the attribute unnecessary)

[2018-08-16 07:38] jorisvandenbossche commented on #19944
This issue is still open, but instead of fixing the warning with the solution mentioned above (https://github.com/pandas-dev/pandas/issues/19944#issuecomment-369576892), I think we would rather just remove the `pandas.json` module entirely for the next release (but PR welcome for that as well!)

[2018-08-16 07:45] jorisvandenbossche commented on #22381
Depends on what kind of array? (numpy ndarray or EA?)

The only place where I see this used in `internals` is

https://github.com/pandas-dev/pandas/blob/70e6f7c3ce7aca9a0ee08bacb2fe0ad85db02d88/pandas/core/internals/managers.py#L138

where in any case it is required to be a numpy dtype (and not extension dtype). So apparently this path is not hit with ExtensionBlock (where array_dtype is an EAdtyp

[2018-08-16 08:37] jorisvandenbossche commented on #22379
@BjmWang Can you please provide a reproducible example? (http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) Eg `thatDF` and `x` are not defined

[2018-08-16 09:22] MBlistein opened #22383 ".ne fails with abiguous message if comparing a list of columns containing column name 'dtype'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Instead of the expected output, I receive:
[code]
#### Expected Output
[code]
Alternative: a descriptive Error Message, telling me I can't use 'dtype' as column name.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
----------

[2018-08-16 10:29] jreback commented on #22316
maybe my search is working properly, but this is listed as 0.21.0 on the change, hence we would remove > 0.24, @TomAugspurger ?

[2018-08-16 10:32] #22337 closed

[2018-08-16 10:51] TomAugspurger commented on #22316
https://github.com/pandas-dev/pandas/issues/6581 has it listed as under (0.24 / 1.0). Not sure what that means.

[2018-08-16 10:54] #22319 closed

[2018-08-16 11:16] TomAugspurger commented on #22374
I don't get the same output as you. Can you make a http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports example? I'd recommend using `io.StringIO` to construct the "file"

[code]

[2018-08-16 11:40] allieus commented on #21963
In the code below, "groupby apply function" is called 3 times.
"groupby apply function" is in `GroupByPlot.__getattr__('scatter')`.
So it seems to be `Plot` 3 times in total.

[code]

[code]

And, convert the result of groupby to a DataFrame. And, plot it.

[code]

[2018-08-16 12:30] TomAugspurger opened #22384 "astype mechanism for extension arrays"
In https://github.com/pandas-dev/pandas/pull/22343, we're bumping into a few problems around casting to / from extension arrays.

1. Our current default implementation for `ExtensionArray.astype` doesn't handle target `dtype`s that are extension types (so `extension_array.astype('category')` fails). At the moment, each EA will have to implement their own astyping, which is error prone and difficul

[2018-08-16 12:32] TomAugspurger commented on #22384
To be clear, there are a couple levels we could take on here.

At a minimum, I think `.astype('dtype_name')` where dtype_name is in our registry, should work, even if it's inefficient. That can be solved before going down a full dispatch mechanism.

[2018-08-16 13:06] nbecker commented on #22370
[code]

[2018-08-16 13:42] BjmWang commented on #22379
[code]

@jorisvandenbossche  Thanks for reply.
Here I write a new small example, which can also reproduce the problem.

[code]

[2018-08-16 13:51] lordgrenville commented on #12585
Since mixed date formats within one series is unusual, why not raise a warning every time there are ambiguous values?

[2018-08-16 13:54] jorisvandenbossche commented on #22379
When assigning to a single column (with `df.loc[:, 'col'] = ..` or `df['col'] = ..`), the value you assign should rather be a Series (or array, or scalar), and not a DataFrame (which is 2D dimensional).

Because when assigning with a DataFrame as right-hand-side, pandas will try to align that to the dataframe in which you want to assign it. And in this case, your column names do not match.

So ass

[2018-08-16 13:55] jorisvandenbossche commented on #22379
Closing this as it is not a bug in or feature request for pandas itself.
But please indicate if anything in the documentation can be improved.

[2018-08-16 13:55] #22379 closed

[2018-08-16 14:03] jorisvandenbossche commented on #22369
Personally, I think we rather need to rethink the full astype-mechanism/dispatching first (what we were discussing in the PR https://github.com/pandas-dev/pandas/pull/22343)

[2018-08-16 14:25] m-rossi opened #22385 "Mean and std for float32 dataframe"
#### Code Sample

[code]

which results in the following output

[code]

#### Problem description

I have a pandas dataframe with 32-bit floating numbers inside and try to calculate the `mean` and `std` values, where these calculations can go horribly wrong. However I am able reproduce the issue with the example above.

I know pandas uses internal functions for mean and std instead of using the nu

[2018-08-16 14:33] TomAugspurger commented on #22385
Looks like a bottleneck issue:

[code]

You may want to check with them to see if this is expected.

You can disable bottleneck with `pd.options.compute.use_bottleneck`.

[2018-08-16 14:33] #22385 closed

[2018-08-16 14:37] jorisvandenbossche commented on #12585
I am not sure there is way to get from `dateutil` how (assuming which format) it parsed the date, so then it will also be difficult to warn for different formats.

[2018-08-16 14:37] TomAugspurger commented on #22385
Perhaps a known issue: https://github.com/kwgoodman/bottleneck/issues/193

That references nansum / nanmean, but not nanstd.

I don't *think* it's worth silently astyping to float64 when people have float32 data and are using bottleneck, but I would be curious to hear other's thoughts.

[2018-08-16 14:43] jorisvandenbossche commented on #22116
Reopening this one instead of opening a new issue.

So PR https://github.com/pandas-dev/pandas/pull/22209 changed the top-level `pd.pivot` to match the behaviour of `DataFrame.pivot`. This is however a breaking change, so I think we should discuss in more detail if we want this, and if so, at least deprecate the current behaviour.

One option is to deprecate the current behaviour (and from the pas

[2018-08-16 14:58] m-rossi commented on #22385
Thanks, I will use your suggestion for now and we should watch the issue at bottleneck. But as I said, for my real data the values were horribly wrong, especially for the std.

[2018-08-16 15:13] philippos86 commented on #22340
I have contacted the QGIS community on this thread:
http://osgeo-org.1560.x6.nabble.com/Pandas-in-QGIS-MAC-td5374454.html

and as @jorisvandenbossche said, my python of QGIS is the original MAC one, while pandas is installed on anaconda.
However, I added the anaconda path to the original one in QGIS, and now I'm getting this error:

[code]
Is this relevant to here or shall I keep following with QG

[2018-08-16 15:46] TomAugspurger opened #22386 "Support ExtensionArrarys for shift"
This is needed for sparse. I have a separate PR incoming

[code]

[2018-08-16 18:10] jackalack commented on #21298
@benediamond you can also use Enums as a pd.MultiIndex if you overwrite __lt__

[2018-08-16 19:03] jbrockmendel opened #22388 "Make EAs for all Block subclasses"
A `Block` is basically an Array with `mgr_locs` attached.  An `Index` is basically an Array with some fancy indexing and set operations.  These should share a bunch of their code.

`Block.make_block` behaves essentially the same way as `Index._shallow_copy`.  `blocks.make_block` behaves like `Index.__new__`.  Some `values` vs `_values` vs `_ndarray_values` vs `_data` juggling may be needed to comb

[2018-08-16 19:10] jbrockmendel commented on #22381
Yah, a lot of things seem to have this characteristic.  This is part of the motivation for #22388.

Agreed.

[2018-08-16 19:11] WillAyd commented on #22285
Strange indeed. My guess is that in Py2 the unbound method is picking up default keyword arguments from the `hist_series` signature whereas Py3 would be picking up the `color` kwarg from the instance. Not sure what the resolution is but sharing in case it leads to any insights for others

[2018-08-16 19:53] TomAugspurger opened #22389 "Series[sparse].to_sparse messes up length"
[code]

Fixing in https://github.com/pandas-dev/pandas/pull/22325, this is to link from the release notes.

[2018-08-16 20:29] jbrockmendel commented on #19123
This is fixed in master, not sure when

[2018-08-16 21:02] realead commented on #22305
This test should probably pass once it is fixed:

[code]

[2018-08-17 01:06] kid3night opened #22391 "Overflow warning when using HDFStore to save large dataframe as table format."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]
I need to save a large DataFrame to Hdf5 file so I use the code above to save the DataFrame. And a RuntimeWarning will show up:

F:\Anaconda3\lib\site-packages\tables\leaf.py:357: RuntimeWarning: o

[2018-08-17 01:08] kid3night opened #22392 "Overflow problem when writing large dataframe to HDF5 with table format."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I need to save a large DataFrame to Hdf5 file so I use the code above to save the DataFrame. And a RuntimeWarning will show up:

F:\Anaconda3\lib\site-packages\tables\leaf.py:357: RuntimeWarning: overflow encountered in long_scalars
expected_mb = (expectedrows * rowsize) // MB

But when I don't use table format

[2018-08-17 01:11] #22300 closed

[2018-08-17 01:40] dsaxton opened #22393 "Suggestion: implement Q-Q plots"
I see that there was some discussion of this years ago (PR #1501), but was wondering if there are any plans of implementing these in the future.

One thought would be to have `qqplot` be a `Series` method which optionally takes another `Series` as an argument.  If this argument is missing then `qqplot` could fall back on the quantiles from some theoretical distribution (default Gaussian, say), per

[2018-08-17 02:40] WillAyd commented on #22391
duplicate of #22392

[2018-08-17 02:40] #22391 closed

[2018-08-17 02:44] WillAyd commented on #22383
Thanks for the report - investigation and PRs are always welcome

[2018-08-17 02:47] WillAyd commented on #22392
The warning you are getting is coming from PyTables and not pandas; not sure there is a lot that can be done here but if anything should raise the question with that project

[2018-08-17 02:47] #22392 closed

[2018-08-17 06:46] baidoosik commented on #22383
@WillAyd could i try to solve this issue?

[2018-08-17 07:07] agoodm commented on #22385
I am the one who opened the associated issue in the bottleneck repo because it lead to significant errors for a workflow I was doing with xarray, see: https://github.com/pydata/xarray/issues/2370

Yes it also affects `nanstd`, and yes it can lead to far more significant errors than what OP is showing under the right conditions (a large enough sample with a relatively narrow distribution). The xarr

[2018-08-17 07:59] discort commented on #22339
Will fix, within https://github.com/pandas-dev/pandas/pull/22304

[2018-08-17 07:59] #22339 closed

[2018-08-17 08:02] baidoosik commented on #22383
@WillAyd
i want to discuss some points.

this issue occurs when column name is dtype.

1) make exception(it is not possible to make column's name dtype) when make a dataframe.

2) make exception in ne function.
ex) if dataframe's columname == 'dtype": ~~

which method is better ? i wait your response.

thank you!

[2018-08-17 08:06] Nemecsek commented on #22362
@WillAyd, it could be intended, but it is confusing indeed.
The problem comes when intervals are not unitary: 2 months, 3 quarters, etc.

If I group by *"M"* (1 month), **groupby** groups correctly even if my dataset starts on the 7th of a month:

- January, 1st till January, 31st
- February, 1st till February, 28th
- March, 1st till March, 31st
- etc

If I group by *"2M"* (two months), it groups

[2018-08-17 08:15] Nemecsek commented on #22362
@WillAyd, it could be intended, but it is confusing indeed.
The problem comes when intervals are not unitary: 2 months, 3 quarters, etc. If the interval is not unitary, groups are created based on the first date of the dataset:

Grouping by "2Q":
[code]
This behaviour is dangerous because it changes according to the dataset.
Try to imagine financial usage. You have a dataset starting from January

[2018-08-17 08:50] WillAyd commented on #22383
Can’t say for sure what the right solution is but I would not do the first option you mention. If you want to try your hand at a PR feel free to find the root cause and just push up a change with tests - the core team can review from there

[2018-08-17 08:57] datapythonista commented on #15610
+1 on @jorisvandenbossche approach on using regular options for this, instead of documenting.

I wouldn't add it to the documentation and make it public if we plan to deprecate it in favor of an option.

[2018-08-17 10:50] MBlistein commented on #22383
Hey, thanks for the responses. I am currently overloaded with work. Am goint to keep following here though and, if not solved, come back to it at some point!

[2018-08-17 11:07] WillAyd commented on #20755
Closing as out of scope!

[2018-08-17 11:07] #20755 closed

[2018-08-17 11:09] WillAyd commented on #20650
Can you try this on master? Worked fine for me

[2018-08-17 11:21] TomAugspurger opened #22396 "CircleCI 2.0 followup"
1. Set up test summary for failures
2. Document running locally with docker and `circle-ci` command

[2018-08-17 11:33] TomAugspurger opened #22397 "Make Series.shift always a copy?"
Right now, `Series.shift(0)` will just return the series. Shifting for all other periods induces a copy:

[code]

Should we defensively copy on `0` as well, for a consistent user experience?

[2018-08-17 11:34] WillAyd commented on #22397
What if we disallowed shifting by zero? Seems like a useless argument for this function anyway

[2018-08-17 11:36] TomAugspurger commented on #22397
Special casing edge cases seems to always end up biting us in the end. Since a length-0 shift is well-defined, I'd prefer to just allow it.

[2018-08-17 11:37] WillAyd commented on #22397
Fair enough - in that case I'm +1 on always copy

[2018-08-17 11:50] TomAugspurger commented on #22383
The user's code from the original issue should work.

I think `_has_bool_dtype` in `pandsa/core/expressions.py` will need to be updated to work with dataframes that have a column named `dtype`

[2018-08-17 11:55] jorisvandenbossche opened #22398 "DOC: html build of class docstrings without autosummary shows None"
We have some hacks to have class docstring pages without needing to build pages for all its methods/attributes.

For 0.22 docs this was working nicely:

https://pandas.pydata.org/pandas-docs/version/0.22.0/generated/pandas.Int64Index.html

But with 0.23, this now lists 'None' (which is a bit ugly on the page, but not a critical issue):

https://pandas.pydata.org/pandas-docs/version/0.23.0/generate

[2018-08-17 12:36] WillAyd commented on #22398
Wondering if this is a sphinx bug. According to the docs the `autoclass` directive used in `class_without_autosummary.rst`  "will by default only insert the docstring of the object itself"

http://www.sphinx-doc.org/en/1.5.1/ext/autodoc.html#directive-autoexception

but that doesn't appear to be the case with what you've shown above and with what we are seeing in #22359

[2018-08-17 12:47] WillAyd commented on #22398
Hmm maybe not on the sphinx side...just built locally with Sphinx 1.6.3 (released July 02, 2017 - quite a few months before v0.22 in December 2017) and still had the same issue

[2018-08-17 13:03] jorisvandenbossche commented on #22384
Let's try to summarise the (ideal) requirements:

- We want that EA's can implement logic of converting itself to another dtype, so we at least need to dispatch somehow to EA's
- But, we also want that EA's don't have to be aware of all possible target dtypes + some target dtypes might want to take over the conversion (such as categorical, see below)
- We want EA's to have control over how values

[2018-08-17 13:06] jorisvandenbossche commented on #22398
@TomAugspurger do you by accident know with which sphinx versions you built the docs for pandas 0.22.0 and pandas 0.23.0 ?

[2018-08-17 13:08] jsbangsund commented on #20650
With pandas 0.22.0, this still doesn't work for me. Upgrading to 0.23.4 fixes the issue.

[2018-08-17 13:08] #20650 closed

[2018-08-17 13:44] oranjieunk commented on #16578
This issue is solved by deleting dataframe.pivot part in v.0.24.0, so it would be better to close this issue

[2018-08-17 17:33] RhysU opened #22400 "assert_series_equal(..., check_exact=True) reports identically constructed Series are not equal."
#### Code Sample

[code]
#### Problem description

The current behavior reports that two identically constructed Series are different for `check_exact=True`.  Additionally, this operation emits unexpected warnings.  That is, I see the following:

[code]

#### Expected Output

I expect two identically constructed Series to be equal, which would give:

[code]

#### Output of ``pd.show_versions()``

[2018-08-17 18:29] ewengillies opened #22401 "Memory issues with `multiprocessing` and GroupBy on multiindex DataFrame"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

[code]

    250 1000000 4000
    <class 'pandas.core.frame.DataFrame'>
    MultiIndex: 1000000 entries, (0, 0) to (249, 999999)
    Data columns (total 2 columns):
    var_a    1000000 non-null float64
    var_b    1000000 non-null float64
    dtypes: float64(2)
    memory usage: 28.6 MB

[code]

<table border="1" class="datafr

[2018-08-17 19:53] dsaxton opened #22402 "ENH: implement pd.Series.corr(method="distance")"
Distance correlation (https://en.wikipedia.org/wiki/Distance_correlation) is a powerful yet underused technique for comparing two distributions that I think would make a very nice addition to the existing correlation methods in `pandas`.  For one, these measures have the unique property that two random variables $X$ and $Y$ are independent if and only if their distance correlation is zero, which c

[2018-08-17 20:03] TomAugspurger commented on #22400
Might want to check with NumPy, though it's probably doing the right thing here.

[code]

[2018-08-17 20:08] jreback commented on #22401
your example is not minimal

you are very unlikely to get any help here
and are better off asking on SO

further raw multi processing has many issues

you are much better off using dask

[2018-08-17 20:08] #22401 closed

[2018-08-17 20:36] datapythonista opened #22405 "Consider directives when validating docstrings parameters"
When running the docstring validation script, errors are mistakenly reported if parameters have a `deprecated`, `versionadded` or `versionchanged` directive.

For example, when running `./scripts/validate_docstrings.py pandas.DataFrame.mode`, the next error is returned by the script:

[code]
But the `dropna` parameter description does finish with a period:

[code]

The problem is that the `.. vers

[2018-08-17 21:05] ewengillies commented on #22401
That's true, in hindsight.

Also true.  I thought I'd post this work around in case anyone comes across the same issue.

Thanks, I'll look into it.  Thanks again for all your support.

[2018-08-17 21:12] reidy-p commented on #18160
@H0R5E is this still an issue for you? If so, can you post a [reproducible example](http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) and I will try to see if I can find the problem.

[2018-08-18 07:11] toniatop opened #22407 "df-df.mean(axis=1) gives Memory Error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The snippet above fails in a Linux machine with 32gb of memory. Unless I am missing something, there shouldn't be nothing exceptional in the code above.  The transposed equivalent works just fine:

`s=(df.T-df.T.mean()).T`

#### Expected Output
The result, not a Memory Error.

#### Output of ``pd.show_versions(

[2018-08-18 08:13] jorisvandenbossche commented on #22407
By default, pandas aligns the right series on the columns (axis 1) of the left dataframe.
So if you try to do `shape(150000, 2) - shape(150000,)`, you get `shape(150000, 150000)`, hence the memory error.

If you want to specify the alignment, you can use the equivalent methods (instead of operator):

[code]

[2018-08-18 10:39] baidoosik commented on #22383
@WillAyd thank you your reply! i will soon open the pull request!

[2018-08-18 10:46] toniatop commented on #22407
Forgot I could look for the `sub` method. Alright, make sense. Thanks for the explanation!

[2018-08-18 10:47] #22407 closed

[2018-08-18 10:55] baidoosik commented on #22383
@TomAugspurger hi, i fix _has_bool_dtype function. but i don't know which test directory is right directory. this is my first try to contribute open source...could you tell me which directory is more appropriate?
thank you.

[2018-08-18 13:59] datapythonista commented on #20332
Closing in favor of #20298. @adatasetaday if I missed something there, please let me know. And feel free to work in them.

[2018-08-18 13:59] #20332 closed

[2018-08-18 14:09] TomAugspurger commented on #22383
Maybe `pandas/tests/test_expressions.py`

[2018-08-18 15:03] H0R5E commented on #18160
@reidy-p, sure here you go:

[code]

[2018-08-18 15:24] HyunTruth opened #22409 "selection within the DataFrame by empty series loses column schema"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This issue was found when I was working on the testing of `DataFrame.drop_duplicates` method (PR #22394). As the work revolved around an empty DataFrame, the results of `DataFrame.duplicated` method came out to be an empty series. The problem is that when we select no data from the DataFrame (such as using an e

[2018-08-18 15:40] TomAugspurger commented on #22020
We're planning to remove 2.7 support at the end of the year. If somewhat absolutely needs Python 3.8 support before then, they're welcome to update `pandas/compat/__init__.py` to handle this. Otherwise, I'd recommend waiting until January when we remove Python 2 compatibility code, and we can just update the imports to `collections.abc`.

[2018-08-18 19:13] JoaoAparicio opened #22410 "Feature Request: merge_asof with interpolation"
`merge_asof` with interpolation would be a new feature. When you merge `df1` and `df2`, the merged columns of `df2` would not be the exact "asof" values as in `df2`, but the interpolated values (for example in a linearly time-weighted fashion).

Define
[code]

`df1`:
<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>something</th>\n

[2018-08-18 19:29] TomAugspurger commented on #22398
I'm not sure, and I apparently no longer have the docker image I used to build the docs.

[2018-08-18 19:52] H0R5E commented on #18160
My point is that you've made a significant change of behaviour without correcting your docs. The examples show the expected output to be datetime.datetime. There is also no test for which type it should be.

I'm surprised I'm the only one to have been caught out by this.

[2018-08-18 20:04] TomAugspurger commented on #18160
@H0R5E could you submit a PR fixing the docs? Thanks.

[2018-08-18 20:07] TomAugspurger commented on #18160
You can remove `to_records` from this list too: https://github.com/pandas-dev/pandas/blob/92dcf5f4cce9c7221c8556f0251ec56095cc1b2b/ci/doctests.sh#L24 so that it's tested.

[2018-08-18 21:26] jbrockmendel opened #22411 "Use fused types to avoid tempita"
A lot of the cython code is templated to avoid duplication, but is not especially readable (see anything in _libs with filename ending in ".pxi.in").

AFAICT we can use [fused types](https://cython.readthedocs.io/en/latest/src/userguide/fusedtypes.html#type-checking-specializations) and cython will internally generate all of the relevant functions.  If this understanding is correct, the code can b

[2018-08-18 21:29] WillAyd commented on #22411
Would be interested in seeing how this works - the templating system is sparsely documented so I'd definitely be +1 if there is a viable alternative

[2018-08-18 21:29] jreback commented on #22411
tried this a while back
though we had a lower cython version

personally i don’t think this makes it more readable because of the special cases for object

but certainly give a try

note we for example already have numeric fused types

[2018-08-18 21:48] WillAyd commented on #22409
This is expected - you are passing essentially an empty Series into a DataFrame for column selection. I think you instead mean to do `df.loc[pd.Series()]` to select from the rows instead of the columns

[2018-08-18 21:48] #22409 closed

[2018-08-18 21:54] WillAyd commented on #20298
Edited to add a bullet for the discussion in https://github.com/pandas-dev/pandas/pull/20061#discussion_r210955503

[2018-08-18 22:36] WillAyd commented on #22410
Thanks! I could see some utility here. Not sure how complicated the implementation would be but if you feel up for it PRs are always welcome!

[2018-08-18 23:09] webartifex opened #22412 "Documentation Error - pandas2ri causes ModuleNotFoundError"
#### Code Sample, a copy-pastable example if possible

Compare
https://pandas.pydata.org/pandas-docs/version/0.23.3/r_interface.html
with
https://pandas.pydata.org/pandas-docs/version/0.23.4/r_interface.html

[code]
#### Problem description

The import generates a ModuleNotFoundError

[2018-08-18 23:11] WillAyd commented on #22412
Not a pandas issue as rpy2 is a separate project, though the error points to that not even being installed

[2018-08-18 23:12] WillAyd commented on #22412
Sorry misread your issue - I see you are referring to the pandas docs and not an attempt to do this locally.

[2018-08-19 01:59] jbrockmendel commented on #22411
OK, I'll poke at this after #22329, #22287, #22283 go through; any earlier and I'd be swimming in merge conflicts.

It may turn out that way in the end; my intuition is that the learning curve for someone not familiar with tempita will make a pretty big difference.

[2018-08-19 02:10] xhochy opened #22414 "BUG: pandas.core.ops.dispatch_to_extension_op fails with UnboundLocalError"
#### Code Sample, a copy-pastable example if possible

This bug requires an ExtensionArray that is not backed with a numpy array to occur.

[code]

#### Problem description

Looking at the code the value of `new_right` is only set when the the values of the ExtensionArray are a `np.ndarray`. With fletcher, this is not the case.

https://github.com/pandas-dev/pandas/blob/8bb2cc19ca3aa347d086b4fb570