[2020-05-08 13:14] Maxence-L opened #34068 "BUG: str.contains() doesn't apply AND and OR properly"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-08 13:41] TomAugspurger commented on #34068
In Python the arguments are evaluated first, so your example is equivalent to

[code]

[2020-05-08 13:42] #34068 closed

[2020-05-08 13:52] merraksh commented on #22612
New version 8.9.0 of the xpress module takes care of the issue. Rather than overriding __eq__ using deprecated PyArray_SetNumericOps, specialized loops are added with PyArray_RegisterLoopFor{Type,Descr} so that generic non-xpress objects use the standard operators.

[2020-05-08 13:54] simonjayhawkins commented on #33433
regression in #29428 (i.e. 1.0.0)

6e5d14834072e7856987eb31e574b2a05db9f0b9 is the first bad commit
commit 6e5d14834072e7856987eb31e574b2a05db9f0b9
Author: Matthew Roeschke <emailformattr@gmail.com>
Date:   Thu Nov 21 04:59:30 2019 -0800

    REF: Separate window bounds calculation from aggregation functions (#29428)

[2020-05-08 14:44] simonjayhawkins commented on #33327
the assertion was added in #31126

on 1.0.3

[code]

[2020-05-08 16:13] simonjayhawkins commented on #34034
fixed in #31897

3da053c7d1b1786689a81b143a7afb57eb4762ad is the first new commit
commit 3da053c7d1b1786689a81b143a7afb57eb4762ad
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Feb 17 16:15:45 2020 -0800

    BUG: fix length_of_indexer with boolean mask (#31897)

[2020-05-08 17:06] CuylenE opened #34074 "BUG: Multijoining indexes always returns indexers, ignores function parameters"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description
Parameter return_indexers is ignored in some cases of __join_multi

#### Expected Output
[code]

[2020-05-08 18:51] seth-p opened #34077 "BUG: DatetimeIndex.slice_locs() doesn't hande date objects not in index"
I would expect [7] below to return the same result as [5] (just as [6] returns the same result as [4]).

[code]

[2020-05-08 18:52] DSKaarthick opened #34078 "BUG: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

when i am trying to execute the above python script , getting the following error:

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_gui

[2020-05-08 18:53] seth-p commented on #34077
This is probably related to #31501.

[2020-05-08 19:36] mroeschke commented on #20773
This looks like a duplicate of https://github.com/pandas-dev/pandas/issues/23002

[2020-05-08 19:36] #20773 closed

[2020-05-08 19:50] mroeschke commented on #28369
Thanks for the report. This issue is a duplicate of https://github.com/pandas-dev/pandas/issues/19286

[2020-05-08 19:50] #28369 closed

[2020-05-08 20:07] mroeschke commented on #30078
It appears that subclass isn't comparable with the base class. I don't suspect that this is a pandas issue. Closing

[2020-05-08 20:07] #30078 closed

[2020-05-08 20:09] yohplala commented on #22855
Hi Tom, hi Matthew.
I am sorry, it seems to me `base` is indeed not working, at least in this example.

`import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.normal(size=(2,4)))
df.index = pd.period_range(start='2020-01-01 01:00', periods=2, freq='1h')
resample = df.resample('4h',base=0).sum()
print(resample)`

`                         0         1        2         3
2020-01-01 01:0

[2020-05-08 20:13] mroeschke commented on #31107
You can check out the example in https://pandas.pydata.org/pandas-docs/version/1.0.0/user_guide/computation.html#stats-custom-rolling-window on how to create your custom windows.

For further usage questions, we recommend using StackOverflow. Going to close this issue for now.

[2020-05-08 20:13] #31107 closed

[2020-05-08 20:22] yohplala commented on #22855
Here is currently the code I am using to bypass the "notworking-ness" of base parameter.

[code]

A bit lengthy maybe :)
The trouble is that I am re-using it each time I have a new function to use when resampling: sum, cumsum, min, and so on...

[2020-05-08 20:31] mroeschke commented on #34078
See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy.

This is just a warning and you may get the expected output in your code.

`convid['Tfidf'][i]=pro` is an example of chain indexing. You can avoid this by using `loc` and `iloc` for assignment

[2020-05-08 20:31] #34078 closed

[2020-05-08 20:43] mroeschke commented on #15284
We are deprecating the `numpy` keyword, so I believe this bug will not be relevant in the future. Happy to reopen if related usage fails in the future

[2020-05-08 20:43] #15284 closed

[2020-05-08 21:00] mroeschke commented on #26068
Going to close this issue as I believe it's the same issue as https://github.com/pandas-dev/pandas/issues/20599

[2020-05-08 21:00] #26068 closed

[2020-05-08 21:05] mroeschke commented on #27022
As mentioned, we would need a minimal reproducible example so that if this is an existing issue, we can include a unit test so that the behavior is confirmed. Going to close for now but happy to reopen once produced: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-05-08 21:05] #27022 closed

[2020-05-08 21:08] mroeschke commented on #27220
Happy to add that test to the test suite as a regression test

[2020-05-08 21:22] mroeschke commented on #30323
Can this be reproduced without the external library? What type of object is `res`?

[2020-05-08 21:23] mroeschke commented on #31570
Is this possible to reproduce with a more minimal example? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-05-08 23:35] plammens opened #34085 "BUG: read_csv skips leading space where it shouldn't"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-09 00:42] alimcmaster1 opened #34086 "CI: Failures Botocore Error"
Botocore release today changed some Errors

https://pypi.org/project/botocore/#history

[code]

PR to follow shortly.

[2020-05-09 00:59] jbrockmendel commented on #34086
Should be addressed by #34050

[2020-05-09 01:12] alimcmaster1 commented on #34086
Thanks beat me to it!

[2020-05-09 01:25] jbrockmendel commented on #34086
im getting nowhere in getting #34050 passing, so I think you should take a shot

[2020-05-09 01:28] jbrockmendel commented on #34086
xref https://github.com/boto/boto3/issues/1195

[2020-05-09 03:14] alimcmaster1 commented on #34086
Sure taking a look

[2020-05-09 05:36] deisdenis commented on #21675
Hey @jzwinck , I'm sorry, but I don't think we need to complicate `unstack` with an additional parameter after all. I think it's better to keep the initial order and use `df.sort_index()` explicitly afterward. This approach is also covered by the existing documentation.

[2020-05-09 06:46] zhenruiliao opened #34089 "QST: Distinguishing row and column slices in DataFrame subclass"
- [X ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com/questions/61246252/distinguish-column-and-row-slice-in-pandas-subclass).

---

Hi pandas devs,

What is the best way to distinguish whether a row or column was sliced in a Dat

[2020-05-09 07:01] MarcoGorelli commented on #34063
@bf that would be a separate issue

[2020-05-09 07:57] #27081 closed

[2020-05-09 09:13] joooeey commented on #32759
This issue was fixed by a keyword description added in PR #33596 and an example added in PR #33337 .

[2020-05-09 12:43] #34086 closed

[2020-05-09 13:14] MarcoGorelli commented on #27220
I'm probably missing something (if so, no need to reply, sorry for the disruption) but isn't the original issue still not working? If I run
[code]
on master then I get
[code]

It seems to me that the proposed regression test is for the case
[code]
which, according to the OP, was already working

[2020-05-09 14:17] simonjayhawkins commented on #27133
closing in favour of #32411

[2020-05-09 14:17] #27133 closed

[2020-05-09 14:56] LTe commented on #27220
@MarcoGorelli `TypeError` is expected, because `string` is not treated as a list. But I think regression test is already there: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/io/json/test_normalize.py#L223

[2020-05-09 16:28] dsaxton opened #34093 "DISC: Deprecate use_inf_as_na"
I think a case could be made for deprecating pd.options.mode.use_inf_as_na. Few thoughts:

* Doesn't seem necessary or particularly useful: it's easy to get the same behavior by checking for NA _or_ infinity.
* Source of bugs: e.g., https://github.com/pandas-dev/pandas/issues/33655, https://github.com/pandas-dev/pandas/issues/33594. If an array has a cached mask attribute there's no guarantee that

[2020-05-09 19:23] #30353 closed

[2020-05-09 19:50] #27220 closed

[2020-05-09 19:56] #27953 closed

[2020-05-09 19:56] #33623 closed

[2020-05-09 20:01] #33704 closed

[2020-05-09 20:07] #32988 closed

[2020-05-09 20:10] #3729 closed

[2020-05-09 20:22] #31117 closed

[2020-05-09 20:27] jorisvandenbossche opened #34095 "ENH: enable concat for nullable Int with other dtypes"
Following-up on https://github.com/pandas-dev/pandas/pull/33607 which added the `ExtensionDtype._get_common_dtype` method to the EA interface to determine concat/append behaviour, we can now use this to refine the concat behaviour for nullable integer and boolean dtypes.

See comment here: https://github.com/pandas-dev/pandas/pull/33607#discussion_r410127707

For now, the PR only enabled concat of

[2020-05-09 21:54] #32861 closed

[2020-05-09 22:45] cphang99 commented on #33971
The libreML project builds SDKs for machine learning applications using the BuildStream integration tool.

We have recently gained capacity for arm64 builds in our CI infrastructure, e.g. https://gitlab.com/libreml/libreml/-/merge_requests/253 with the potential of adding other architectures if hardware permits. We already have the capacity to track new releases of pandas, and to test this in our

[2020-05-09 23:11] kevinksyTRD commented on #33997
I installed it by
`pip install -r requirements.txt`
where requirements.txt includes pandas without specifying the version.

[2020-05-10 00:53] wendellwilson commented on #34085
I was unable to reproduce the error
[code]

<details>
  <summary>Output of pd.show_versions()</summary>

commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-29-generic
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_

[2020-05-10 00:58] alimcmaster1 commented on #33395
Good to close - since no test failures now in https://github.com/pandas-dev/pandas/pull/33505

[2020-05-10 00:58] #33395 closed

[2020-05-10 01:32] LastsForever opened #34097 "BUG: Incorrect levels of MultiIndex when creating a new DataFrame by dropping a row"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-10 03:41] sun1638650145 opened #34098 "BUG:pd.value_counts() When the values are equal, the order of equal values is invalid"
[code]

#### Problem description

When the values are equal, the order of equal values is invalid, Sorting is only for values, no index is processed

#### Expected Output

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 19.4.0
machine          : x86_64
processor        : i386
byteorder

[2020-05-10 07:38] SaiSridhar783 commented on #16870
For DataFrame objects, a string indicating a column or a row can be used to group.

Of course df.groupby('A') is just syntactic sugar for df.groupby(df['A']), but it makes life simpler.

[2020-05-10 10:03] proost commented on #29547
I changed

-  pandas/core/sorting.py
-  pandas/tests/indexes/datetimes/test_date_range.py
-  pandas/tests/indexes/interval/test_interval.py
-  pandas/tests/indexing/test_coercion.py
-  pandas/tests/reshape/test_concat.py
-  pandas/util/_decorators.py

[2020-05-10 10:04] plammens commented on #34085
Maybe it's Windows-specific, or has to do something with locale? Those are the only possibly relevant differences I see between your versions and mine.

[2020-05-10 11:05] Shailly26 commented on #34045
take

[2020-05-10 11:06] Shailly26 commented on #34045
Hi meakbiyik,
Try this:
d.eval('((a-1)/(a-1))').fillna(0)

Output:
0    0.0
1    1.0
dtype: float64

[2020-05-10 11:15] meakbiyik commented on #34045
Hi @Shailly26, for some reasons it is not possible for me to perform additional operations to the eval'd string, it should contain all operations by itself. What I found as the solution was to do something like this:

[code]

This works, but I think it is not optimal from a performance perspective. Since the new approach is functional, I am convinced that this is a bug, Div objects (and other oper

[2020-05-10 14:41] #33061 closed

[2020-05-10 14:41] dsaxton commented on #34098
The sorting only deals with the values and not the index so I believe this is correct as is

[2020-05-10 15:29] jbrockmendel commented on #34093
xref #28392

[2020-05-10 15:52] #25226 closed

[2020-05-10 15:52] #8521 closed

[2020-05-10 15:52] #28302 closed

[2020-05-10 15:52] #28675 closed

[2020-05-10 17:12] #33655 closed

[2020-05-10 17:48] dsaxton commented on #33209
@jbrockmendel I think this is mostly fixed after https://github.com/pandas-dev/pandas/pull/33656 (wasn't positive at the time so didn't mark it in the PR)? The "custom EA with infinity" thing may still be an open question.

[2020-05-10 18:01] yohplala opened #34101 "BUG: Inconsistency in week anchoring?"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem des

[2020-05-10 18:01] joooeey opened #34102 "CLN: use staticmethods where applicable."
# Issue

In my arbitrary sample of three `.py` files in the code base, Two files had multiple class methods in which the `cls` attribute was never used. It's entirely incomprehensible to me why these are specifically decorated as class methods since they don't access the class. It would improve code readability if they were static methods. Technically, most of them could also be module-level funct

[2020-05-10 18:47] languitar commented on #30323
Unfortunately, at that time I was unable to get a reproduction without a MongoDB result.

The result type of `find` is a [`Cursor`](https://pymongo.readthedocs.io/en/stable/api/pymongo/cursor.html#pymongo.cursor.Cursor)

[2020-05-10 18:50] jbrockmendel commented on #33209
Great, thanks for taking point on this.  I think you're right that use_inf_as_na should be deprecated longer-term too

[2020-05-10 18:50] #33209 closed

[2020-05-10 18:55] jbrockmendel opened #34104 "API/BUG: pd.NA == pd.NaT returns False"
@jorisvandenbossche I expected this to return pd.NA.  Is this intentional?

[2020-05-10 18:56] jbrockmendel commented on #34102
Might also be worth tracking down non-classmethods that dont use `self`.

[2020-05-10 20:19] CloseChoice commented on #34102
I just ran the pycharm code inspection and found 330 "method may be static warnings". Before we can make an automated check, we first need to change all of them. It may make sense to split this into multiple merge requests.

[2020-05-10 20:22] joooeey commented on #34102
Absolutely. The proposed fix included that from the beginning. The only reason the issue description focuses on the class methods is that I've only seen this issue with class methods in Pandas. We could even expand to address all methods with unused arguments and if it's not `self` or `cls` we can `del` the unused argument at the start of the method as PyLint recommends. This should be simple to a

[2020-05-10 20:46] jorisvandenbossche commented on #34104
The same is true for any datetime-like scalar, not just NaT:

[code]

I don't think this is intentional, but somewhat "knowingly ignored for now", at least going from this comment: https://github.com/pandas-dev/pandas/pull/30245#discussion_r359327043 (although that specific comment was about ufuncs, but for scalar operations it's the same logic).

Right now, we only handle a few specific scalar ty

[2020-05-10 21:10] TomGoBravo opened #34109 "BUG: to_dict(orient="index", into=T) returns T[K, dict], expecting T[K, T]"
- [x] I have checked that this issue has not already been reported.
- [] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Live at https://repl.it/@TomGoBravo/RoughUncommonDatabase
[code]

#### Problem description

I expected the `into` parameter to be

[2020-05-10 21:12] TomGoBravo commented on #34109
I bumped into this while writing https://github.com/covid-projections/covid-data-model/pull/394

[2020-05-10 21:16] jreback commented on #34109
why is this useful at all?
dicts are ordered as of 3.6 anyhow so this provides little utility

[2020-05-10 21:18] jreback commented on #34102
-1 on any use of staticmethod at all
this is an anti pattern in python

you can refactor to module level or leave

[2020-05-10 21:23] TomGoBravo commented on #34109
I used `OrderedDict` as an example non-default `into` parameter.

[2020-05-10 21:36] joooeey commented on #34102
I understand your distaste for static method although I don't see why it's that extreme. The current state of hundreds of methods that are functionally static methods but not declared as such is what I'm worried about. Refactoring to static method is pragmatic in this case because it can be automated and leaves interfaces intact. But you are definitely free to take on this PR and refactor the ~330

[2020-05-11 00:07] MatthiVH opened #34112 "BUG: unstack() sorts automatically, default is preferably unsorted?"
The unstack() function is automatically sorting my labels in my boxplot-code. Isn't it nice to have a sort = False option (probably the default?)

My labels are perfectly ordered, it's just after unstacking they get messed-up.

my post on stack-overflow: https://stackoverflow.com/questions/61720090/issues-with-boxplot-figure-x-label-are-alphabetically-and-extra-nan-label-is-cr

another example: ht

[2020-05-11 00:11] xcz011 commented on #33992
I think in here https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/timedeltas.pyx#L1201
`timedelta(**kwargs)` trim the nano second by round nano second. Baiclly,
https://github.com/python/cpython/blob/master/Lib/datetime.py#L551 is not support nano second cause this.
I feel we could add function to save the nano second before we pass to `timedelta` function or we could match all

[2020-05-11 00:12] xcz011 commented on #33992
take

[2020-05-11 00:33] #34034 closed

[2020-05-11 01:04] mroeschke commented on #22512
This appears to work on master now. Could use a test

[code]

[2020-05-11 01:05] mroeschke commented on #22663
This looks to work on master now. Could use a test

[code]

[2020-05-11 01:20] mroeschke commented on #32409
Looks to work again on master. Could use a test

[code]

[2020-05-11 02:01] sun1638650145 commented on #34098
Sorry, but I think this function should be sorted when the values are the same, otherwise, use another function to process it again?

[2020-05-11 02:08] mroeschke commented on #12871
Looks like there's only 2 related period-resample issues left in the list (the Timestamp.freq one seems unrelated). I think it's just tractable to manage as individual issues. Closing

[2020-05-11 02:08] #12871 closed

[2020-05-11 02:11] mroeschke commented on #13429
Looks like these both behave similarly on master now. Could use a test

[code]

[2020-05-11 02:24] mroeschke commented on #21793
This looks to work on master now. Could use a test

[code]

[2020-05-11 02:34] mroeschke commented on #24444
Looks to work on master now. Could use a test

[code]

[2020-05-11 02:37] mroeschke commented on #28980
Looks to work on master now. Could use a test

[code]

[2020-05-11 02:41] mroeschke commented on #30699
Looks like all these work as expected now. Could use tests

[code]

[2020-05-11 02:51] dsaxton commented on #34098
Again it's the _counts_ that are sorted and when they're equal there's nothing left to sort. If you would  also like to sort by the index then that would have to be done using some custom code.

[2020-05-11 02:59] sun1638650145 commented on #34098
OK fine

[2020-05-11 02:59] #34098 closed

[2020-05-11 03:13] davidwales commented on #32835
To add to this, I think the API should be updated to more closely align with [`str.replace`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html?highlight=str%20replace#pandas.Series.str.replace).
The current logic for determining whether the split pattern is a string or a regex is not clear from the docs (#25549), and does not match Python's built-in `str.split`. [Looking

[2020-05-11 03:14] jbrockmendel commented on #30699
The equality cases are fixed by #34055, but the inequality cases are still outstanding

[2020-05-11 03:17] davidwales commented on #25549
I think this is a code issue, rather than a docs issue. The docs describe the way the code should work, but it doesn't quite work that way. As I mentioned in #32835, the problem may be summarised as follows:

[2020-05-11 03:38] mroeschke commented on #30699
Appears that the inequality cases are correctly returning an array of `False`?

[code]

[2020-05-11 07:25] jorisvandenbossche commented on #34102
For this specific example, there are actually some technical reasons for the use of `classmethod`. For example, the `_plot` class methods need to be methods on the class, because they can be overrriden by subclasses (so factoring out as module level free-standing function doesn't work here). And second, although many of them don't use `cls` at all, they still need to be classmethods, because a sub

[2020-05-11 07:31] jorisvandenbossche commented on #34095
As a concrete example, this currently gives object dtype:

[code]

while it could perfectly preserve the nullable Int64 dtype.

(cc @dsaxton in case you are interested ;))

[2020-05-11 08:15] WestXu commented on #31902
So the HDF 1.12.0 has [been released 2 months ago](https://www.hdfgroup.org/2020/03/release-of-hdf5-1-12-0-newsletter-172). Maybe this feature implementation is possible now.

[2020-05-11 10:58] SaiSridhar783 commented on #25471
df.groupby('A')['B'].agg({'B':['sum','count']})

Here, the column 'B' is returned as a series so aggregation is not possible.

[2020-05-11 12:59] MarcoGorelli commented on #34112
Thanks @MatthiVH for the report

So, this is a feature request for `sort` in `unstack`? If so, seems it's a duplicate of #15105, so I'll close it (but feel free to reopen if you disagree that it's a duplicate)

[2020-05-11 12:59] #34112 closed

[2020-05-11 13:04] simonjayhawkins commented on #34051
This also occurs for Timedelta

[code]

[2020-05-11 13:15] MatthiVH commented on #34112
Oh yeah sure, didn't see that this suggestion was already there for a long time.
Now I see, yes then it's a duplicate!

[2020-05-11 13:57] TomAugspurger commented on #34109
Mmm I don't think that's the original behavior of `into`. I'm hesitant to overload the meaning of it to apply to nested dictionaries too.

I'm also unsure about adding another parameter to support this since it won't make sense for other orients.

[2020-05-11 14:14] TomAugspurger opened #34114 "MacPython linux build failing"
There are build failures with the manylinux1 32-bit docker image.

[code]

To reproduce

[code]

I've uploaded the generated hashtable.c file [here][hashtable].

[hashtable]: https://gist.github.com/1f60b2059a103e6d36c02a0d07200e59

---

#34409 fixed the following issues.

https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=35250&view=logs&j=e9afaa34-1a0f-534e-78fc-fae528ccd915&t

[2020-05-11 14:16] TomAugspurger commented on #34114
These are the commits to pandas from the 1st to the 4th

[code]

[2020-05-11 14:37] jbrockmendel commented on #30699
i think it depends on if the Categorical is ordered.  if not then these should raise

[2020-05-11 14:54] minderchen commented on #21103
reduce to see whether it will work
chunksize=100

[2020-05-11 15:12] TomGoBravo commented on #34109
I had https://docs.python.org/3/library/json.html `object_pairs_hook` in
mind but seems like that isn't the intent with `into`.

On Mon, May 11, 2020 at 6:57 AM Tom Augspurger <notifications@github.com>
wrote:

[2020-05-11 15:14] d-kleine opened #34117 "BUG: my_DataFrame.groupby().min()/-max() gives Assertion error message"
With pandas 1.0.0. (and newer) min/max methods for groups to not work as before:
[code]
are not working anymore - it will give you an Assertion error message with no special location in the code.

You currently new to use aggregation to get this information:
[code]

I could verify that
[code]
still works in newest pandas, but somehow -min()/-max() no more.

Would it be possible to implement these

[2020-05-11 16:41] CloseChoice commented on #34117
Hi and thanks for your issue. Could you please provide us with an [minimal complete viable example](https://stackoverflow.com/help/minimal-reproducible-example)? It helps us a lot if we have copy-pastable code which reproduces your problem

[2020-05-11 17:20] #34117 closed

[2020-05-11 17:21] d-kleine commented on #34117
has been fixed with pandas 1.0.3 - apoligies!

[2020-05-11 17:44] igorluppi commented on #31954
Any news ? @MarcoGorelli @jorisvandenbossche

[2020-05-11 17:47] c06n opened #34120 "BUG: read_csv returns inconsistent or misleading values with dtype=float"
The issue occurs for `read_csv()` when reading a mixture of empty or NaN and potential Boolean values when choosing `float` as dtype. NaN is either read as 1.0, or in the case of an empirical csv-file even inconsistently either as 1.0 or NaN. I could not replicate the inconsistency with synthetic-data, therefore the csv-file in question is provided here: https://github.com/c06n/Pandas_readcsv_issu

[2020-05-11 17:50] MarcoGorelli commented on #31954
I've not (yet) looked into this more, but you're welcome to submit a pull request if you like https://pandas.pydata.org/pandas-docs/stable/development/contributing.html

[2020-05-11 18:19] CloseChoice commented on #34097
take

[2020-05-11 18:25] kehv1n commented on #33478
Hey everyone, I can gladly take responsibility for this issue if @Sylfrena hasn't finished yet.

I am currently setting up my developer env, but will follow up here when I finish to see if this needs to be resolved.

Thanks

[2020-05-11 18:33] joooeey commented on #34102
Why would they need to be `classmethod`? They should be `staticmethod`. Derived classes can still override it with a `classmethod`. No? Am I missing something?

I was aware that overriding might be a concern and that's a big reason why I suggested the specific proposed fix in the first post. Thanks for spelling it out! So why don't we focus on the fix I proposed (the low hanging fruit) and then co

[2020-05-11 18:34] mroeschke commented on #2058
I _think_ https://github.com/pandas-dev/pandas/pull/31809 largely addressed this? Happy to reopen if this isnt the case

[2020-05-11 18:34] #2058 closed

[2020-05-11 18:37] mroeschke commented on #2118
I _think_ https://github.com/pandas-dev/pandas/pull/31809/files might have addressed this? Happy to reopen if this isn't the case

[2020-05-11 18:37] #2118 closed

[2020-05-11 18:41] MarcoGorelli commented on #34060
thanks @vipulrai91 for the report

Closing as I can't reproduce this on 1.0.3 or on the master branch, feel free to reopen if you provide the output of `pd.show_versions()` (as in the issue template)

[2020-05-11 18:41] #34060 closed

[2020-05-11 18:42] daragallagher commented on #17475
I know this is an old and closed issue but I was bitten by this issue recently.

And I found myself confused by the above comment ("we don't allow non int64 indexers in a result index"):
[code]
I can get a bunch of indexers:
[code]
I'm not sure how this behaviour should be expected by users as there's no mention of this behaviour in the groupby documentation.

[2020-05-11 18:45] jorisvandenbossche commented on #34102
I suppose so yes, but personally I wouldn't find that better practice to overide a staticmethod as a classmethod, than to have some classmethods that don't use `cls` (but that's just a personal opinion).

I am personally fine with converting some classmethods to staticmethods, but I am still wondering if there are really that much cases if excluding the cases like the matplotlib file (eg in pandas

[2020-05-11 18:51] mroeschke commented on #10603
This looks to work on master now. Could use a test

[code]

[2020-05-11 18:53] #34051 closed

[2020-05-11 18:57] #34074 closed

[2020-05-11 19:08] mroeschke commented on #18189
I think https://github.com/pandas-dev/pandas/issues/14297 is a duplicate issue as this one. Going to close this issue in favor of that one

[2020-05-11 19:08] #18189 closed

[2020-05-11 19:08] joooeey commented on #34102
I don't know where they are either. But I guess pycharm would tell you. I maintain that all 330 cases that pycharm reports are bad, simply because unused method (or function) arguments are a code smell. That also applies to the cases where `cls` is unused but a subclass overrides the method.

[2020-05-11 19:15] jorisvandenbossche commented on #34102
My simple search for "@classmethod" says there are only 285 occurrences, and a large part of the ones I randomly looked at are using `cls`

[2020-05-11 19:21] charlesdong1991 opened #34123 "BUG: Index with tuples comparison not working anymore"
It seems trace back to #34081

with Index we could do something like:
[code]
And it's also possible to do the same for Index with tuples:
[code]
But seems not working this way anymore after #34081 , is this length check here correct (so it is designed this way on purpose)? or we should consider it a bug?

cc @jbrockmendel

currently master:
[code]

[2020-05-11 19:39] bakitybacon commented on #28992
take

[2020-05-11 19:44] manubhatt3 commented on #11814
PR means Personal Request?

[2020-05-11 19:54] joooeey commented on #34102
That would imply that of the 330 cases, most are instance methods (i. e. normal methods) where `self` is not used in the method body. I don't find that surprising.

By the way a text search of `@classmethod` in all files in `pandas-dev/pandas` gave me 400 matches. Any idea where that difference might come from?

[2020-05-11 19:56] jbrockmendel commented on #34102
Best guess is that you are including results inside generated C files

[2020-05-11 20:00] justynatrojniak commented on #34044
Not sure if this helps but try increase the capacity of the stack by the following :

`import sys
sys.setrecursionlimit(10000)`

[2020-05-11 20:00] CloseChoice commented on #34097
This needs some more discussion. There is a test which explicitly forces that the dropped multilevel index is still present in levels: [test_multiindex_contains_dropped](https://github.com/CloseChoice/pandas/blob/master/pandas/tests/indexes/multi/test_indexing.py#L697).

Why do we enforce this behaviour?

[2020-05-11 20:01] jorisvandenbossche commented on #32265
@jrhemstad a *very* late answer (and I see the discussion on at cudf came to a conclusion somewhat, where you will have "special" behaviour for NaN when it comes to eg sorting), but to answer your question anyway:

Not adding pd.NA is not really considered as an option (at least for the *new* nullable float dtype which is being discussed in this issue, the existing float64 dtype will (at least for

[2020-05-11 20:04] kkraus14 commented on #32265
@jorisvandenbossche any thoughts about if `na_position` would control `pd.NA` or `NaN` objects or both? How would one be ordered relative to the other?

[2020-05-11 20:09] jorisvandenbossche commented on #32265
I would propose that it controls both (with "last", you would get the order of "values - NaNs - NAs"). This is similar to how traditional databases like PostgreSQL sort, but also ClickHouse ([doc](https://clickhouse.tech/docs/en/sql-reference/statements/select/#select-order-by)) or for example Julia.

[2020-05-11 20:13] CloseChoice commented on #34044
Nope, that doesnt help. We are calling and recalling the same stuff here. This definitely needs a fix.

[2020-05-11 20:17] MarcoGorelli commented on #33478
Hi @kehv1n - TBH, given the silence, I'd assume nobody is working on it, so if you'd like to submit a PR it'd be welcome. Feel free to ask on the gitter channel if you have any issues setting up your development environment

[2020-05-11 20:20] Sylfrena commented on #33478
@kehv1n  yes,  please go ahead with the issue.

[2020-05-11 20:39] jbrockmendel commented on #34123
Hmm good point.  May be best to just revert #34081.

[2020-05-11 20:40] jbrockmendel commented on #34123
or could treat tuples different from other listlikes

[2020-05-11 21:21] phofl opened #34125 "BUG: isin does some inconsistent type casting?"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas. (exists on the version I checked out 2 weeks ago)

I observed the following behavior:

When I define my `DataFrame` with a numeric column like

[code]

and filter with `isin()`

[2020-05-11 22:15] gabrielvf1 commented on #33743
Can i work on it?

[2020-05-11 22:18] poralo commented on #25187
I would like to update this doc, however should I modify the `_shared_docs` to match the `where` and `mask` methods only or create an independent docstring for both?

[2020-05-11 22:41] jorisvandenbossche commented on #32265
With a long delay, I went again through all the above comments, and I tried to make a somewhat fair / objective summary of the discussion. This can be found here:  https://hackmd.io/@jorisvandenbossche/ry4roQNcI (but not yet fully polished).

What follows below is my *current personal opinion*:

- Short term, **I would propose to use a masked array appraoch**, using the mask to indicate missing (`

[2020-05-11 23:21] jbrockmendel commented on #32265
@jorisvandenbossche request for clarification on your previous comment: at what level do you think this should be implemented?  (DataFrame/Series/Index/Block/EA/...)

[2020-05-11 23:55] Keshav-Gupta-Coder commented on #30964
@datapythonista  Is the problem still active?

[2020-05-12 00:07] hasB4K commented on #34120
Hello,

I have reproduced the error with the following snippet:

[code]

Outputs:
[code]

TL;DR:
* The column `approach` in the `empirical_data.csv` is either `'True'` or empty, I simulate this with `generate_buggy_file`
* It only happens if we specify the dtype
* It seems that the bug is only happening with CSV larger than 512KBi which is equal to the `DEFAULT_CHUNKSIZE` (2**18) here: https://git

[2020-05-12 00:42] dsaxton commented on #34095
@jorisvandenbossche Interesting, how do you envision the case of concating nullable ints and floats? Try casting the float values to nullable int if possible, else use float? I suppose always converting to the more general float type seems more natural in that it would depend entirely on the types and not the values, but then the NAs would be lost (at least until there's a nullable float).

[2020-05-12 06:05] jorisvandenbossche commented on #34095
We want to move not have any value-depending concat/cast behaviour (right now we have such a few cases), so this means that int+float should always result in float.
Yes, that for now means that nullable dtype gets lost, so in theory we could also preserve object. But I don't think which of the two we take now is that important, in the hope there will be a beginning of a nullable float dtype soon.

[2020-05-12 06:11] jorisvandenbossche commented on #32265
All the above is about a new nullable float dtype, similar as the nullable integer and boolean dtypes. So this means a Float64Dtype and a Float64Array extension array (and float32, ..). And then this gets stored in DataFrame/Series/(Index)/Block just like the other nullable extension dtypes .. ?

(does that answer your question? I don't fully get what you are thinking about how this might be diffe

[2020-05-12 06:17] charlesdong1991 commented on #34123
take

[2020-05-12 06:33] jorisvandenbossche commented on #34123
It's not just tuples, it's also any other "scalar" object that might have a length (eg dicts when storing those, but for example also Shapely geometries).
I seem to remember we have had this conversation before .. (don't directly remember the exact issue though)

I would maybe start with reverting, and can then try to think of a better solution.

[2020-05-12 06:35] jorisvandenbossche commented on #34123
It seems @jbrockmendel actually recorded those concerns in an issue before: https://github.com/pandas-dev/pandas/issues/27911

[2020-05-12 06:49] krysma commented on #32682
I see, that @rbenes has implemented the feature in, will it be merged soon, so we can close this issue?

[2020-05-12 07:07] charlesdong1991 commented on #34123
emm, okay, i haven't looked at the changes in detail, sounds impact quite many cases. maybe let's revert it first then. thanks for the input @jorisvandenbossche

[2020-05-12 07:22] jorisvandenbossche commented on #34102
Yeah, I was only looking at classmethods, not normal methods that don't use `self`, so that's probably the reason I see less occurences.

For normal methods that don't use self, and only for `pandas/core`, I get for example:
[code]

Now, I personally don't feel very strongly about wether those should be cleaned up to be staticmethods or not.

[2020-05-12 07:29] theSuiGenerisAakash commented on #21103
This defeats the purpose

[2020-05-12 07:41] jorisvandenbossche commented on #34097
This is so that the index level codes don't need to be recalculated. If you actually want to drop unused labels from the level, there is the `MultiIndex.remove_unused_levels` method.

So while this is certainly a potentially confusing behaviour, I think this is done on purpose.

[2020-05-12 10:31] hanudev commented on #29252
In case someone else has the same problem, the following gives the expected output:
[code]
This is of course only a workaround, which is noticeably slower than a direct join.

[2020-05-12 11:08] #34057 closed

[2020-05-12 11:40] ashtou opened #34129 "BUG: melt MultiIndex columns using index columns as identifier variables"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Suppose that we have multi-index columns and we would like to `melt`, using the index as the `

[2020-05-12 11:41] TomAugspurger opened #34130 "CI: test_object_factorize_dropna failing in MacPython/pandas-wheels"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=35317&view=logs&j=79f3a53a-4a6d-509c-98b5-ff6e9111f67c&t=25a63239-9c30-5cf0-cb4c-3d01da7b47c5

[code]

I'm not sure what the correct behavior is here, but the implementation is returning int32 while we're asserting int64. The test should probably check for `np.dtype("intp")`.

[2020-05-12 11:47] TomAugspurger commented on #34114
@jbrockmendel or @WillAyd do you haev any guesses on this? Looking at `tslibs/period.pyx`,

[code]

Do you know where `year` is coming from?

[2020-05-12 12:03] jreback opened #34131 "CI/TST: slow tests"
xref #30641

from the new arm64 job, but indicative of general slowness: https://travis-ci.org/github/pandas-dev/pandas/jobs/685955999

- let's make these much faster
- we can still mark some as `slow` if needed
- let's change the https://github.com/pandas-dev/pandas/blob/master/ci/run_tests.sh#L23, `durations` to 20 or 30

This issue can be closed by multiple PRs

[code]

[2020-05-12 12:30] rikardn opened #34133 "BUG: Join of DataFrames with MultiIndex does not keep order of index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

output
[code]
#### Problem description

When two multindexed DataFrames are joined on a subset of the left index the re

[2020-05-12 12:31] simonjayhawkins commented on #33956
hmm, not sure about this. the axis seems reversed here, see #29146. also `ffill` (and `bfill`) are not documented values for `method` see https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.interpolate.html

maybe those issue should be resolved, before fixing this.

[2020-05-12 13:30] #25190 closed

[2020-05-12 13:32] #28552 closed

[2020-05-12 13:33] TomAugspurger commented on #33971
Thanks @cphang99, will take a look. FWIW, we're fairly heavily invested in multibuild / https://github.com/MacPython/pandas-wheels for our wheel building.

---

@mattip can you share the status on what's needed for NumPy to upload arm64 wheels to PyPI? Is it completely blocked by https://github.com/pypa/manylinux/issues/542?

I also see that @odidev added support for arm64 to SciPy in https://gith

[2020-05-12 13:43] Dhron commented on #28287
Hey, I'd like to work on writing a test for this, is that okay? =)

[2020-05-12 13:53] jreback commented on #34131
updated the above list for top 30: https://travis-ci.org/github/pandas-dev/pandas/jobs/686095405 is the build (one of the standard ones)

[2020-05-12 14:09] TomAugspurger opened #34136 "Performance regression in replace.ReplaceList.time_replace_list_one_match"
https://pandas.pydata.org/speed/pandas/index.html#replace.ReplaceList.time_replace_list_one_match?p-inplace=False&commits=6388370eb313244ba0e4cd8215dcdbfdabb7004b-88d5f1264bf58b518b7cce39230d018db59b3c72 points to https://github.com/pandas-dev/pandas/compare/6388370eb313244ba0e4cd8215dcdbfdabb7004b...88d5f1264bf58b518b7cce39230d018db59b3c72.

https://github.com/pandas-dev/pandas/pull/34048 mention

[2020-05-12 14:17] mattip commented on #33971
There is MacPython/numpy-wheels#74, which is blocked right now on a failing aarch64 test. That would be solved by being able to move past manylinux2014 (of which pypy/manylinux#542 is a part) or by simply skipping the test, numpy/numpy#16214.

We are trying to coordinate. In discussions, it is felt there is no need to require a numpy wheel before releasing a scipy wheel, since it is much easier to

[2020-05-12 14:17] jbrockmendel commented on #32265
It does, thanks.

[2020-05-12 14:22] charlesdong1991 commented on #34130
emm, yeah this was brought in #30584 and i did observe issues with dtypes in windows machine, that's why to force to `int64` back then, but probably should better use `intp` .

btw, i think this should have milestone for `1.1`? since the pr that brought this issue has the 1.1 milestone.

[2020-05-12 14:26] TomAugspurger commented on #34130
Thanks, good call on the milestone.

[2020-05-12 14:31] jbrockmendel commented on #34114
get_yq calls `quarter[0] = DtoQ_yq(unix_date, &af_info, year)` and in `DtoQ_yq` year is set with `year[0] = dts.year`

I'll look at this more closely after some caffeine

[2020-05-12 14:52] #34130 closed

[2020-05-12 14:54] #26667 closed

[2020-05-12 15:14] mribeirodantas commented on #28458
I'm also interested in it. It would be really useful if I could pass valid delimiters (and in order of precedence) to read_table, just like we can do to the sniff function. read_table can not properly guess the separator in my file but with sniff I can due to the delimiters.

[2020-05-12 15:23] WillAyd commented on #34114
Do you know of any reason why the lhs of those assign to array indices? I think more correct to assign to a dereferenced pointer which might get rid of the warning.

Sent from my iPhone

[2020-05-12 15:26] WillAyd commented on #34114
Nvm that’s a Cython requirement.

https://cython.readthedocs.io/en/latest/src/userguide/language_basics.html#types

So probably fine

Sent from my iPhone

[2020-05-12 16:10] #26599 closed

[2020-05-12 16:19] Nowam opened #34138 "BUG: to_numeric doesn't work properly when errors='ignore'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
output:
[code]

#### Problem description

The output should cast '1.0' to a float and it doesn't.
This only happends whe

[2020-05-12 16:39] ryananeff commented on #15747
There must be a way to select all matching indexes in order, as @gjimzhou mentioned like a change to pd.Series.get or perhaps pd.DataFrame.get() or pd.DataFrame.set(). This is important for both getting and setting from one DataFrame to another, for example:

`df_a.loc[df_b.index,"column"] = df_b["column"]`

or, alternatively, when filtering one DataFrame by another *in order*:

`new_df_a_in_df_b_

[2020-05-12 16:48] joooeey commented on #34102
I agree that this is a lot of work even if it can be automated. I just wanted to document this issue because I noticed it when working on #33821 and we briefly discussed it on that PR. Not sure if it is worth fixing for legacy code.

However, I do think that my first bullet point should be implemented, that is, new additions to the code shouldn't include any functions or methods with unused argume

[2020-05-12 16:51] jbrockmendel commented on #34102
No, the code checks apply to the whole code base.

In many cases these are worth hunting down, but we would need to whitelist a number of cases where we include unused kwargs for e.g. numpy compat

[2020-05-12 16:58] mroeschke commented on #28986
Looks like this issue wasn't closed when https://github.com/pandas-dev/pandas/pull/30641 was merged

[2020-05-12 16:58] #28986 closed

[2020-05-12 17:27] joooeey commented on #34102
I see. For cases where unused kwargs are required, [Pylint's suggested fix](http://pylint-messages.wikidot.com/messages:w0613) of using `del mykwarg` at the top of the method is a neat solution. That makes it faster to comprehend the method.

[2020-05-12 17:49] TomAugspurger commented on #34138
I think this is working as intended. From the docstring

[code]

There's an error so the input is returend.

[2020-05-12 18:19] m-lal opened #34141 "Incorrect multi-index specific level sorting after an align"
Hello,

Level sorting does not seem to work on the output of an align between two DataFrames when
- you align on multi-index
- you align on left dataframe
- left dataframe columns are lexsorted
- right dataframe contains an extra-level compares to the left one
- you're trying to sort according to that extra-level

Here is a sample code:

[code]
Thanks for your help

**Output of ```pd.show_versions

[2020-05-12 19:01] dsaxton commented on #34131
For `test_nearest_upsample_with_limits` from `pandas/tests/resample/test_datetime_index.py` is it necessary to parametrize over so many timezones? Removing that fixture causes a speedup for me from around 5 minutes to less than a second.  Looks there was a timezone specific issue, but I suppose a smaller set could be tested? https://github.com/pandas-dev/pandas/issues/33895

[2020-05-12 19:25] jreback commented on #34131
The issue is here: https://github.com/pandas-dev/pandas/pull/33939/files#diff-dd427a6bbdfef7e333ac320adb15614dR539

its not the tz's at all, rather upsampling creates an enormous array

e.g.
[code]

so should split this test up into 2, e.g. no real need to upsample Y to 10s

[2020-05-12 19:47] Nowam commented on #34138
Oh okay, I thought that it 'ignores' value by value, similar to how `'coerce'` works, too bad.

[2020-05-12 19:47] #34138 closed

[2020-05-12 20:28] danhamill commented on #32740
Has this been fixed?

[2020-05-12 20:43] TomAugspurger opened #34142 "May 2020 Dev Meeting"
The monthly dev meeting is tomorrow, Wednesday 13th, at 18:00 UTC. Our calendar is at https://pandas.pydata.org/docs/development/meeting.html#calendar to check your local time.

Video Call: https://zoom.us/j/942410248
Minutes: https://docs.google.com/document/u/1/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?ouid=102771015311436394588&usp=docs_home&ths=true

Please add items you'd like to se

[2020-05-12 21:11] dair-targ commented on #34142
Is the video call open to everybody to shadow/participate?

[2020-05-12 22:44] TomAugspurger commented on #34142
Yep, it's open to everyone.

[2020-05-12 23:22] jbrockmendel commented on #32608
@WillAyd shoould we add this to the agenda for tomorrow's call?

[2020-05-13 00:24] rivera-fernando commented on #32409
Hey, new to open source here. If I understand correctly, what's needed here is a test since it is already working on master. I can give it a shot!

[2020-05-13 00:24] rivera-fernando commented on #32409
take

[2020-05-13 00:26] mukerong commented on #34060
![image](https://user-images.githubusercontent.com/23180334/81758069-a8111e00-9475-11ea-9449-9893c2199aa6.png)
Still have issues running it. let me know if other info is needed.

[2020-05-13 00:39] WillAyd commented on #32608
Sure! Not a huge sticking point for me but can always be discussed if there is interest.

FYI I probably won’t be able to make tomorrow’s call

[2020-05-13 02:24] mroeschke commented on #18904
As mentioned, I _think_ this is the expected result due to alignment. Happy to reopen if this isnt the case

[2020-05-13 02:24] #18904 closed

[2020-05-13 02:30] mroeschke commented on #21049
This looks to work on master. Could use a test

[code]

[2020-05-13 02:36] anthonytw commented on #15354
I took a look at the problem. This is relatively trivial, however the way the code is implemented, from a cursory look I think it'll require someone to slog through manually editing all the rolling routines. None of them respect the window boundaries given by the indexer classes. If they did, both this request as well as #11704 would be very easily solvable. In any case, I think it is manageable f

[2020-05-13 02:40] mroeschke commented on #24171
Looks to be working on master now. Could use a test

[code]

[2020-05-13 02:49] mroeschke commented on #25857
Looks to be working on master. Could use a test

[code]

[2020-05-13 05:44] ossdev07 opened #34149 "CI: Moving ARM64 build from allowed failures"
@jreback ,

As suggested in #30641 , adding an issue on moving ARM64 build from allow_failures tag in Travis-CI.

[2020-05-13 06:07] charlesdong1991 commented on #33743
thanks for reporting @mdf-github and thanks for your interest in helping contribute @gabrielvf1

this issue has been fixed on master, so i cannot reproduce it anymore using master branch

[2020-05-13 06:07] #33743 closed

[2020-05-13 06:43] mgmarino opened #34150 "CI: Linting errors from flake >= 3.8.1"
The new version of flake bumps the version of pycodestyle, which results in several linting errors on CI.  These include:

- (many instances) E741:ambiguous variable name 'l'
- (many instances) F541:f-string is missing placeholders
- (one or few instances) E721:do not compare types, use 'isinstance()'

Here the output:

[code]

There is an additional issue with flake8-rst, e.g. here:

- https://gi

[2020-05-13 06:53] MarcoGorelli commented on #34060
Thanks @mukerong - does it work for you if you update to the latest version  (1.0.3)?

[2020-05-13 07:05] connesy commented on #27781
@scottgigante Just tested your monkey patch, it works for me in `pandas 1.0.2`.

[2020-05-13 08:37] jreback commented on #34150
for now i would simply fix the version of flake <3.8 until we can address things

[2020-05-13 09:50] lazarillo opened #34153 "ENH: Allow for `loc` to specify numeric and/or name slicing"
#### Is your feature request related to a problem?

Yes. The problem is that many use cases require specifying a numeric row range (say, the 10th - 20th rows) and a name-based column range (columns "timestamp" and "value").

As of now, the most consistent way to solve it is:

[code]

This is not ideal because

1. It is long and ugly to need to use `df.index` at all.
1. Notice the `(end_val + 1)`:

[2020-05-13 10:08] rgommers commented on #33971
NumPy is now unblocked, we should have wheels for 1.19.0 (branching soon) it looks like (thanks @mattip!).

As far as I can tell, it's similar to other wheel production efforts - we rely on the same `multibuild` machinery, and adopt the same strategies for releasing wheels (without much formal coordination, just copy what works). Pushing `manylinux2014` wheels to PyPI whenever you have them ready

[2020-05-13 10:43] MarcoGorelli commented on #34153
Thanks @lazarillo for the suggestion - would something like `df.loc[:, cols_of_interest].iloc[start_val:end_val]` work for you?

TBH I'm at least 99% confident that the core team would not consider adding a `num_idxs` argument to `loc`

[2020-05-13 10:54] MarcoGorelli commented on #34153
Indeed, if I've understood correctly, your request is for something like [DataFrame.ix](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.ix.html#pandas-dataframe-ix), which has been deprecated _in favour_ of the more explicit `loc` and `iloc`

[2020-05-13 11:19] charlesdong1991 commented on #34153
yep, as @MarcoGorelli mentioned, `df.loc[code].iloc[code]` is the answer for your question, it is explicit and also nice for chaining!

[2020-05-13 11:19] #34153 closed

[2020-05-13 11:55] pblankley opened #34155 "BUG: str.split fails on a multiple character match"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-13 12:02] barenn7 opened #34156 "BUG: Pandas import error Python 2.7.6 isinstance() arg 2 must be a class, type, or tuple of classes and types"
Hi,

I am obliged to use Python 2.7.6 and pandas below 0.24.2.

The only thing I am trying to do as for now is 'import pandas'.

And I keep getting the error below. I have checked online and tslib was fixed in new versions but I have to stay on 2.7.6.
I have already tried pip uninstall and pip install again.

Any possible fix you might know of ?

Thanking you very much for your answer,
Regards and

[2020-05-13 12:23] MarcoGorelli commented on #34156
How did you install it? I just tried
[code]
[code]
and it worked just fine

[2020-05-13 12:28] MarcoGorelli commented on #34155
Thanks @pblankley

If you escape the `|` it works:
[code]

[2020-05-13 12:31] #34155 closed

[2020-05-13 13:36] jangorecki commented on #32918
Is there any chance to have it assinged to a milestone? To ensure fixing this problem is on the roadmap.
This regression is quite annoying because it affects relatively small data.
Data is 0.5 GB, 125 GB available memory, that means that doing this query requires more than 250 times more memory than the data has.

[2020-05-13 13:48] TomAugspurger commented on #32918
Pandas is primarily a volunteer effort. We don't have a roadmap outside large items. Issues are assigned to milestones when a pull request is made. The quickest way to get this fixed would be with a pull request .

[2020-05-13 13:49] jreback commented on #32918
and what exactly would this do?

we are all volunteer. if a patch is put up, then the volunteers can contribute time to review this.

[2020-05-13 14:32] jangorecki commented on #32918
@jreback Assinging to milestone gives it attention of volunteers. I think that browsing issues assigned to a milestone just to see if there is anything that I could help with happened to me multiple times. Otherwise issue is buried among hundreds others and is likely to be missed.
Because it is a regression, there are efficient ways, like `git bisect`, to track down the exact commit that introduce

[2020-05-13 14:34] jreback commented on #32918
its contributions welcome. PRs are welcome.

[2020-05-13 14:52] #28330 closed

[2020-05-13 15:41] BlueskyFR opened #34157 "QST: Select some data based on a condition"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

[code]

Hi!
I have a condition (like above) and a DataFrame.
How may I filter my DataFrame to only keep the rows for which the index returns

[2020-05-13 15:51] #33820 closed

[2020-05-13 16:25] barenn7 commented on #34156
Hi,

Thanking you very much for your answer, I installed Python 2.7.6 with https://www.python.org/ and not conda.

Then I used pip install. It is working in the python interpreter.

But I am using a software called ADTF that is calling the python interpreter and I get the above error.

The software is only calling the python interpreter, so we are thinking that the issue is coming from python.

An

[2020-05-13 16:27] MarcoGorelli commented on #34156
Just to make sure I've understood - so, if you type `python` and, inside the Python repl, type `import pandas`, then it works, but it doesn't work when ADTF calls the Python interpreter?

[2020-05-13 16:49] barenn7 commented on #34156
If I go in c:\Python27 and I open python.exe. I run the command import pandas it is working and I am able to use the library.

And when ADTF software calls my python script and the interpreter, the above error is showing.

I an sure that ADTF is calling the right library pandas in C:/Python27 in site packages.

[2020-05-13 18:16] jeffolsi commented on #23067
is there a workaround for this?

[2020-05-13 18:24] vidyutkapur opened #34161 "BUG: Setting values in a copy of a DataFrame, using iloc, changes the original DataFrame too"
- [Y] I have checked that this issue has not already been reported.

- [N] I have confirmed this bug exists on the latest version of pandas.

- [N] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-13 18:30] MarcoGorelli commented on #34157
You should be able to filter rows with a boolean index with `loc`, e.g.
[code]

If this doesn't answer your question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your question.

[2020-05-13 18:42] BlueskyFR commented on #34157
I'll post more details on this tomorrow

[2020-05-13 18:43] MarcoGorelli commented on #34157
Sure - have you already asked on StackOverflow with the pandas tag? That's where usage questions are usually encouraged

[2020-05-13 18:45] MarcoGorelli commented on #34161
Thanks @vidyutkapur for the report

This doesn't create a copy, you should do
[code]

[2020-05-13 19:01] Zaharid opened #34162 "BUG: Performance regression in categorical indexer"
- [x] I have checked that this issue has not already been reported.

Apologies if it has been, there are a few issues that may be related, in particular
https://github.com/pandas-dev/pandas/issues/33924
https://github.com/pandas-dev/pandas/issues/28122

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of

[2020-05-13 19:04] lazarillo commented on #34153
@MarcoGorelli @charlesdong1991  I would be OK with `df.loc[:,cols_of_interest].iloc[start_val:end_val]` if I knew it were stable. My understanding is that regardless of the means by which we do it, we should **never stack indexing** because it may be inconsistent, right?  And even if it were consistent, doesn't it also carry a significant performance hit?

I guess I have two main issues / concerns

[2020-05-13 19:06] barenn7 commented on #34156
Tslib import is really blocking and giving the errors. Do you know how I could remove this import from pandas manually?

[2020-05-13 19:10] TomAugspurger commented on #34014
If we don't fix these for 1.1.0 (or 1.0.4), we might consider putting an upper bound on Cython in our pyproject.toml: https://github.com/pandas-dev/pandas/blob/master/pyproject.toml. I think that's the only situation where this would affect users. People installing pandas from source after Cython 3.0 is released.

[2020-05-13 19:19] Enteee commented on #13068
Hi folks, I wrote an article on my blog on [how to Support Binary File Objects with `pandas.DataFrame.to_csv`](https://duckpond.ch/python/bash/2020/05/07/support-binary-file-objects-with-pandas.dataframe.to_csv.html). At the end of the article I added a monkey patch I think can also be used as a work around for this problem. Hope this helps until this is resolved in `pandas`.

[2020-05-13 19:39] Enteee commented on #23854
Hi folks, I wrote an article on my blog on [how to Support Binary File Objects with `pandas.DataFrame.to_csv`](https://duckpond.ch/python/bash/2020/05/07/support-binary-file-objects-with-pandas.dataframe.to_csv.html). At the end of the article I added a monkey patch I think can also be used as a work around for this problem. Hope this helps until this is resolved in `pandas`.

[2020-05-13 19:40] Enteee commented on #19827
Hi folks, I wrote an article on my blog on [how to Support Binary File Objects with `pandas.DataFrame.to_csv`](https://duckpond.ch/python/bash/2020/05/07/support-binary-file-objects-with-pandas.dataframe.to_csv.html). At the end of the article I added a monkey patch I think can also be used as a work around for this problem. Hope this helps until this is resolved in `pandas`.

[2020-05-13 19:55] gfyoung commented on #23067
@jeffolsi : Not at the moment unfortunately.  Contributions are welcome though!

[2020-05-13 19:57] CloseChoice commented on #34097
So what could be the reason behind this purpose? Performance?

[2020-05-13 21:01] jorisvandenbossche commented on #34162
@Zaharid thanks for the report!

Possibly related issues: https://github.com/pandas-dev/pandas/issues/32918, https://github.com/pandas-dev/pandas/issues/30552

[2020-05-13 21:18] gabsmoreira commented on #33564
Hello, is @benrhodeland on this issue? Because I would like to work on this as well.

[2020-05-13 21:31] gabrielvf1 commented on #34125
can i work on this one?

[2020-05-13 21:47] antipisa opened #34164 "BUG: grouping with categorical interval columns"
Versions:
pandas 1.0.3
numpy 1.18.1

There is a bug in the 1.XXX pandas release that does not allow you to group by a categorical interval index column together with another column.

[code]

This works and gives the expected result:
`
t.groupby([qq])['x'].agg('mean')
`

`x
(-10.001, -1.0]   -1.431893
(-1.0, 0.0]       -0.423564
(0.0, 1.0]         0.461174
(1.0, 10.0]        1.662297
Name: x, dtype

[2020-05-13 22:04] matthewgilbert opened #34165 "BUG: Inconsistent behaviour for assert_index_equal on empty Indices"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The first and third assertions pass, while the second fails. This seems like inconsistent beh

[2020-05-13 22:09] #34161 closed

[2020-05-13 22:14] MarcoGorelli commented on #33564
Given the silence, you're probably OK to take it - PRs are welcome!

[2020-05-13 22:17] CloseChoice commented on #33956
take

[2020-05-13 22:32] sid-kap opened #34166 "ENH: Add high-performance DecimalArray type?"
#### Is your feature request related to a problem?

Doing operations with decimal types is currently very slow, since pandas stores them as python Decimal objects. I think it would be nice to have a high-performance, vectorized DecimalArray ExtensionArray type. Would you be open to a PR adding a type like this, or is this something you think belongs outside the pandas library?

#### Describe the s

[2020-05-13 22:55] gabsmoreira commented on #33564
Ok, thanks @MarcoGorelli . Should I add the explanation inside "Notes" or just after the parameter "index, columns" text?

[2020-05-13 23:20] jreback commented on #34166
would be +1 on this and using pyarrow is fine as we already use for some other EA types

[2020-05-14 01:15] jbrockmendel commented on #34014
Yah, we need to decide how big a perf penalty we're willing to accept in exchange for losing the maintenance burdens in this module.

[2020-05-14 01:16] LynnXtreme opened #34170 "BUG: pandas.concat() got an unexpected keyword argument 'join_axes'"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-14 01:25] jreback commented on #34170
join_axes was remove in 1.0.0 after depreecation you can simply reindex

[2020-05-14 01:25] #34170 closed

[2020-05-14 02:06] dsaxton commented on #34164
This seems to work on master for me:
[code]

[2020-05-14 06:31] bashtage commented on #34014
In the case of dummy_buf it is whether the code path is correct for any functions that defer evaluation outside of the apply, which can result in incorrect results. This seems like a bigger issue.

[2020-05-14 07:01] sid-kap commented on #34166
Cool, thanks for the quick response! I have started working on it

[2020-05-14 07:17] ali-tny opened #34172 "BUG: GroupBy sum on an Int64 column with min_count=1 is wrong when all values are null"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
[code]

#### Problem description

When summing with min_count=1 (so that groups with all nulls sum to null), DataFrame.sum exhibits expected behaviour (ie, all nulls sum t

[2020-05-14 07:19] vidyutkapur commented on #34161
Oops. Didn't know that. Thanks for the response.
Apologies @MarcoGorelli and @jreback for wasting your time.

[2020-05-14 07:43] BlueskyFR commented on #34157
I did not ask this on Stack Overflow, because I think it would be flagged as duplicate.
I feel like this is much more about a lack of feature from pandas - even if I am not 100% sure about that.

Just like `.groupby()`, I want to be able, for example, to do this:

[code]

How may I do this using pandas?

[2020-05-14 07:44] ahyerman commented on #33682
@CloseChoice I'm not sure what the standard is for other offsets, but it feels bit strange to treat 17:00 and 9:00 as equivalent. In my opinion business hour should end before 17:00 and then ambiguity goes away.
9:00 - 16:59
or more correctly [9:00, 17:00)

In my opinion the ambiguity is a bit inconsistent, and thus results in the confusion.

[2020-05-14 08:20] MarcoGorelli commented on #34157
Hi @BlueskyFR

See [boolean indexing](https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing)

e.g. if you have a dataframe `df` and want to filter where column `A` is greater than 0, you can do `df[df['A'] > 0]`.

Please don't tick the box saying that you did then

Closing as I'm pretty sure this isn't a missing feature, but feel free to reopen if you disagree

[2020-05-14 08:20] #34157 closed

[2020-05-14 08:28] BlueskyFR commented on #34157
The problem is that for a simple operation as `df['A'] > 0`, okay.
But what about an operation **on the index** and **with a for loop**?
I cannot see how to use boolean indexing for complex operations.

My real `check(index)` is much longer than the example, and you are telling me that I have no other choice but re-writting my function inside the `[]`: `df[my 20 ligne function here]`?

[2020-05-14 10:10] #32738 closed

[2020-05-14 10:16] jreback commented on #34172
pls try on master
a patch was recently merged for this

[2020-05-14 11:14] jorisvandenbossche commented on #34166
I think this would indeed be interesting to see happen! But two notes:
1\) nothing stops someone to already implement this in a separate package (the ExtensionArray interface should make this fully possible), and personally I think it makes sense to first experiment with this outside of pandas core, we can later still include it.
And 2) the `fletcher` library is already kind of doing this (but onl

[2020-05-14 12:05] MarcoGorelli commented on #34153
Why not? (I'm asking because it's not something I've come across, not because I think you're wrong)

[2020-05-14 12:38] #32682 closed

[2020-05-14 12:57] MarcoGorelli commented on #34038
@edin0 can you show the full output of `pd.show_versions()` (as in the issue template) please?

[2020-05-14 13:03] MarcoGorelli commented on #33997
I don't have such a file in my `site-packages` folder - can you try re-installing pandas in a new virtual environment?

[2020-05-14 13:18] rth commented on #9096
Just got this issue when doing a groupby on a large number of columns with high cardinality with pandas 1.0.3. I'm not sure it was fully fixed. Also there is https://github.com/pandas-dev/pandas/issues/31355.

[2020-05-14 14:22] lazarillo commented on #34153
It's [this whole discussion](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#why-does-assignment-fail-when-using-chained-indexing) in the official docs that makes me nervous about touching any stacked indexing.

When I saw the comment in that doc which said `# Is foo a view? A copy? Nobody knows!`, I was very concerned that there was a non-determinancy happening.  :(

[2020-05-14 14:25] jreback commented on #34153
@lazarillo this only applies to setting not getting as should be clear

and it’s not non determinism it’s how views work

[2020-05-14 14:33] WillAyd commented on #34014
Do you have a code sample to reproduce that issue? Can see if #34080 fixes it once green

[2020-05-14 14:39] dave-cz opened #34174 "BUG: pd.concat inconsistent behaviour with empty and tz-aware Series"
[code]

[code]

[code]

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

[2020-05-14 14:47] jreback commented on #34174
pls try on master

[2020-05-14 14:48] kehv1n commented on #33478
take

[2020-05-14 14:50] bashtage commented on #34014
[code]

Return
[code]

The first return may vary since the data seems to be from an empty array which has random values.

[2020-05-14 14:51] bashtage commented on #34014
Not that simple, but it was how this issue was discovered.

[2020-05-14 16:01] vmuriart commented on #24670
@mroeschke I downloaded and setup the latest master branch locally to test this, and didn't get it to work.

Using:
[code]

I still get the original error:

[code]

[2020-05-14 16:13] SurajH1 commented on #24670
@mroeschke The issue is raised if you include the line:

but there is no error if you do not import the library.

[2020-05-14 16:34] jorisvandenbossche commented on #34172
Yes, master gives

[code]

Duplicate of #32861

[2020-05-14 16:34] #34172 closed

[2020-05-14 16:36] jorisvandenbossche commented on #34174
On master, there is still exactly the same error.

@dave-cz thanks for the report!

[2020-05-14 17:29] saccodd commented on #31902
Is there any workaround to read hdf files from s3 at the moment?

[2020-05-14 18:10] clausmith opened #34177 "BUG: Subclassed DataFrame doesn't persist _metadata properties across certain operations"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
When subclassing a DataFrame, fields added to the `_metadata` property are only persisted across some operations (such as slicing) and not others (such as any arithmetic o

[2020-05-14 18:21] pedroreys commented on #31902
the only option that I know works is downloading the file from s3 to your local file system first, and only then calling `read_hdf` passing the local file path to it

[2020-05-14 18:27] moaraccounts commented on #33851
@Stockfoot I've been looking at the script, trying to understand the requirements. What if you created the documentation in a similar manner to how the code_checks script is constructed? Like, have one section on Linting and pull in the different messages from the other scripts as subsections? Is that what you mean by pulling the requirements from the style script?
For example:
<Documentation Titl

[2020-05-14 18:33] TomAugspurger commented on #34177
DataFrame binary ops (like `mul`) don't currently call `NDFrame.__finalize__`. We have an xfailing test for this at https://github.com/pandas-dev/pandas/blob/085af07ea0c5c7b1135043cf49c1c8f295bccec5/pandas/tests/generic/test_finalize.py#L127-L135.

I don't think there would be any objection to calling finalize here. The primary API question is what to do with metadata / attrs when `other` is a Ser

[2020-05-14 18:34] TomAugspurger commented on #34177
xref https://github.com/pandas-dev/pandas/issues/28283 for the general issue. This can be specific to binops.

[2020-05-14 18:40] edin0 commented on #34038
Oh sorry I should have closed the issue since I found the problem. I usually use PyCharm so my pandas version was up to date. The pandas on my pc was outdated though which is why index_ignore didn’t work !
Quick update in the terminal for anyone having a similar issue :
`pip3 install —upgrade pandas`
Sorry for bothering and thank you for your help!

[2020-05-14 18:40] #34038 closed

[2020-05-14 19:20] clausmith commented on #34177
@TomAugspurger ah that's what I thought. I saw #28283 and figured this might be related. Unfortunately I'm a little out of my depth here (I'm a PM more so than an engineer 😬).

[2020-05-14 20:17] charlesdong1991 opened #34180 "BUG: Index formed with list of tuples return wrong output in eq ops"
xref #34137

Currently

[code]
The issue is such case is treated as a MultiIndex other than plain Index.

Expected:
[code]

[2020-05-14 21:41] dair-targ commented on #23055
Sorry for messy PR. Please review!

[2020-05-14 23:03] arw2019 commented on #34162
I'm interested in working on this, and the related issue (#32918)!

I'll dig into it and post my progress here.

[2020-05-14 23:04] arw2019 commented on #30552
I'm interested in working on this, and the related issue (#34162)!

I'll dig into it and post my progress on the thread.

[2020-05-14 23:10] jangorecki commented on #30552
@arw2019 recently discussed #32918 looks to be related as well

[2020-05-15 00:50] ali-tny commented on #34172
Thanks! Sorry I missed the closed issue

[2020-05-15 03:27] cuchoi opened #34185 "BUG: Inconsistent behaviour when averaging Decimals, floats and ints"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

[code]

#### Problem description

There is inconsistent behaviour on how Decimal is being averaging depending if it is averaged to an int vs a float. Is it expected that the two dataframes above return different results?

#### Expected Output

I would e

[2020-05-15 04:56] sid-kap commented on #34166
@jorisvandenbossche Thanks for the detailed response! I think I agree that pandas probably should not implement these low-level operations if there is another library (numpy for the base types, pyarrow or something else for these new extension types) that already implements them. It looks like pyarrow has started implementing operations on arrays for some types in the C++ library at [cpp/src/arrow

[2020-05-15 10:13] jreback commented on #34166
there is also a 2 prong strategy here

I would certainly store the data in pyarrow arrays and then use any operations that pyarrow defines.

for missing operations you can both:

- coercing to python Decimal types and performing the ops (to have a working interface)
- contribute code to pyarrow to implement these kernels

[2020-05-15 10:32] hroff-1902 commented on #33300
Guys, can you push the release of 1.0.4 (at least, please do not to postpone it to be after 1.1.0, as I saw at the last dev meeting minutes) or apply some more love to it?

The memory leak in rolling,min/max is serious, do you understand that thousands of apps using pandas crash worldwide in the meantime, till the fix is available for us, users of pandas?

[2020-05-15 10:40] jreback commented on #33300
@hroff-1902

pandas is an all volunteer project; you are welcome to help out

comment like the above are simply not helpful

[2020-05-15 10:55] hroff-1902 commented on #33300
yes, a volunteer project, as many others, that's clear

the release procedure/regressions is not a part of the development process where a novice in a project could really help, I guess

sometimes (often) devs do not understand the severity of the issues so explicit expressions of concernments from the users of the project can help, at least sometimes.

please understand our concerns

[2020-05-15 11:10] TomAugspurger commented on #33300
@hroff-1902 have you been following the huge amount of work @simonjayhawkins has been doing to prep a 1.0.4 release?

Meanwhile, a release is blocked by our wheel building infrastructure at https://github.com/macpython/pandas-wheels. https://github.com/pandas-dev/pandas/issues/34114 will need to be fixed before we can make a release. Can you look into it?

[2020-05-15 11:11] jreback commented on #33300
there are many areas you could help, why are you not volunteering there?

I do understand severity of issues very well and am sympathetic but w/o any way to actually direct resources, your comments are not meaningful.

Its like, let’s not pay for anything, not contribute in-kind and yet have the audacity to demand something.

[2020-05-15 12:53] #30486 closed

[2020-05-15 12:55] RauliRuohonen opened #34186 "BUG: Accessing year 2263 datetime in a dataframe using iloc raises OutOfBoundsDatetime"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Output:

[code]

When a timestamp that fits into a `datetime.datetime` but does not fit into

[2020-05-15 12:58] #21793 closed

[2020-05-15 13:03] hroff-1902 commented on #34114
Why does `pqyear()` in `tslibs/period.pyx` has the `@cython.cdivision` directive applied, while nearest `pquarter()`, which accepts same parameters, calls `get_yq()` with same parameters and only returns another value, does not have this directive?

[2020-05-15 13:48] MarcoGorelli commented on #34186
Thanks @RauliRuohonen  - is this the same as #28104 ?

[2020-05-15 14:11] #33433 closed

[2020-05-15 14:12] LastsForever opened #34188 "BUG: pandas.read_excel creating a DataFrame with incorrect multi columns"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-05-15 14:19] RauliRuohonen commented on #34186
AFAICS that one involves `pd.Period` and does not involve `iloc`, whereas this one involves `iloc` and does not involve `pd.Period`. Seems different to me, but then again, they might be related at a deeper level.

#26853 suggests that out of bounds datetime handling is not very consistent in general.

[2020-05-15 14:20] JonnyWaffles opened #34189 "BUG: dt.round affects data other than target series"
Hi friends,

From the below experiment you can see dt.round unexpectedly affects non target data. Is this expected behavior?

[code]

#### Problem description
You can see the original data frame also had its microseconds rounded when we rounded the copied frame.

#### Expected Output
I would not expect the copied frame to have its data changed.

[2020-05-15 14:25] charlesdong1991 commented on #34189
emm, the way how you make copy does not seem right

[2020-05-15 14:28] jreback commented on #34189
[code]

``[:]`` is a numpy operation which creates a view, which is not a copy.

[2020-05-15 14:28] #34189 closed

[2020-05-15 14:29] JonnyWaffles commented on #34189
Ah I see okay, it was confusing since

`assert original['datetime'] is not copied['datetime']` also passes. Thought we had two separate series. Thanks.

[2020-05-15 14:30] charlesdong1991 commented on #34189
this assert does not check the memory share which is the point of having copy.

[2020-05-15 15:09] antipisa commented on #34164
Here is my env:

[code]

[2020-05-15 15:13] jorisvandenbossche commented on #29752
Another attempt to try to get to a consensus or compromise here.

So for terminology + a naming scheme for keywords or options, the main proposal is:

* Terminology:  "nullable dtype" means "a pandas dtype supporting pd.NA"
* Keyword/option name: `use_nullable_dtype=True/False`
  * This is explicit about that it results in *nullable* dtypes that use `pd.NA` as the missing value indicator.

Scrolli

[2020-05-15 15:21] Dr-Irv commented on #29752
@jorisvandenbossche Great summary.  I like `use_nullable_dtypes` and `use_NA_dtypes` (Note: At the beginning of your post above, you used the singular with `use_nullable_dtype` rather than the plural `use_nullable_dtypes`, so we also have to figure out whether we want singular or plural as well).

I'm wondering if we should create a poll and let people vote.  And as I said on the call, if you don'

[2020-05-15 15:27] jorisvandenbossche commented on #29752
Ah, that's a type (edited now). Since there are multiple nullable dtypes, I think we should just use plural.

[2020-05-15 15:38] jorisvandenbossche opened #34191 "DEPR: deprecate Index.__getitem__ with float key"
I would propose to deprecate interpreting float numbers as integers in Index `__getitem__`.

Numpy does (no longer) allow this:

[code]

With a Series with `iloc`, we also don't allow this:

[code]

But for Index we do check if the float is integer-like and in that case convert to integer:

[code]

However, this is not for all Index subclasses the case, eg:

[code]

So I think we can simply deprec

[2020-05-15 15:54] jbrockmendel commented on #34114
Best guess is thats leftover from a time when division was actually done within pqyear

[2020-05-15 16:09] cuchoi commented on #34185
I also saw a case where `.mean(axis=1)` was averaging the Decimal types if I selected `skipna=True` but not when doing `skipna=False`. Haven't been able to reproduce this example yet.

[2020-05-15 16:29] juehang commented on #33087
I agree that this would be a useful feature. Another use case is where I have some older data analysis code that relies on old modules that do not support python 3.8, but I would like to take advantage of new python features in simulation code that outputs a HDF5 to be read. While the workaround in the stackexchange post linked above works, it would be great to have this exposed in a more pythonic

[2020-05-15 16:35] #34142 closed

[2020-05-15 16:38] TomAugspurger commented on #29752
+1 for the definition of "nullable dtypes" and the keyword `use_nullable_dtypes`.

[2020-05-15 16:40] hroff-1902 commented on #34114
Cannot this cause this problem, I mean?

[2020-05-15 16:41] jbrockmendel commented on #34114
I don't see how, but you're welcome to try removing it and see if it helps.

[2020-05-15 16:44] hroff-1902 commented on #34114
Have no idea in the meantime how to do it with all those azure links at the top, sorry... Just dropped the idea...

[2020-05-15 17:00] jbrockmendel commented on #34191
Can you specify which Index subclasses and methods would be affected?

In particular, would this address #33469, #31344, #7501

[2020-05-15 17:11] WillAyd commented on #29752
I would prefer use_na_dtypes for explicitness

Sent from my iPhone

[2020-05-15 18:00] jorisvandenbossche commented on #34191
@jbrockmendel all the issue you link to are about `Series.__getitem__` with a float/integer index, this is about `Index.__getitem__` with a float/integer key.

I had searched for related issues, but didn't directly find any, so opened this one.

This is the case for where `com.cast_scalar_indexer` is used in the `__setitem__` definition, which means the base class Index (and the numeric subclasses

[2020-05-15 18:10] jorisvandenbossche commented on #29752
@WillAyd does that also mean you would prefer to replace all usage of "nullable dtypes" in our documentation to "dtypes that use NA as missing value" or "dtypes supporting pd.NA" or alike ? (eg at https://pandas.pydata.org/docs/user_guide/boolean.html)

[2020-05-15 18:20] jbrockmendel commented on #34191
Thanks for clarifying.

[2020-05-15 18:21] jorisvandenbossche commented on #34191
There is a PR, if you want to see it in code ;)

[2020-05-15 20:08] jorisvandenbossche opened #34197 "ENH: implement efficient sorting methods for SparseArray (argsort/argmin/argmax)"
xref https://github.com/pandas-dev/pandas/pull/27801#discussion_r426017444

`SparseArray` currently does not implement `_values_for_argsort` or `argsort/`argmin`/`argmax` itself, which means it is using the base implementation, which converts the sparse array to a dense numpy array. Room for improvements thus.

[2020-05-15 22:13] jbrockmendel commented on #33890
Closable?

[2020-05-16 01:17] dsaxton commented on #34185
@cuchoi Thanks for the report and I'd agree this is odd. It looks like this is because Decimal and int adds whereas Decimal and float does not (probably so as not to lose precision):
[code]
So maybe this is more of an unfortunate consequence (at least in this case) of the deliberate implementation of Decimal rather than a bug?

[2020-05-16 01:25] c-foschi opened #34204 "BUG: stacked histogram on datetimes"
Hello, I want to create a staked histogram, and I hoped to do it with pandas `hist` method. The data I want to plot is in one column of my DataFrame, while one other column is the factor by which I want to color the bars of the histogram. To obtain the actual dataset on which to use the `hist` method, I tried two of the methods listed here: https://stackoverflow.com/questions/41622054/stacked-hist

[2020-05-16 03:01] cuchoi commented on #34185
Thanks for pointing that out. Indeed that makes sense. It is still a bit confusing that in python the resulting object is Decimal, but in pandas is a float, but a float cannot be averaged with a Decimal.

Moreover, if I change one of the values to text, for example like this:
[code]
Now the second row doesn't include in the average the Decimal in the operation. Is this expected behaviour as well?

[2020-05-16 03:59] mroeschke commented on #27684
From the explanation above, it seems that is not an issue with pandas. Going to close for now but happy to reopen if there is a pandas related issue

[2020-05-16 03:59] #27684 closed

[2020-05-16 06:04] GodefroyClair opened #34205 "Option to return all idxmax rows in case of ties"
What do you think of adding an option to « idmax » in order to return not just the first idmax but all of them in case of ties.

I think this would be really useful, especially  when used with groupby. For exemple when you want the most recent yearly published data for an entity - say a company.

We could simply add a Boolean to the function like returnTies that would be false by default.

[2020-05-16 06:49] sid-kap commented on #34166
IMO converting to Decimal in operations sounds like a bad idea. That would be as slow as the current solution of using object arrays (actually slower, since it would require the additional step of converting to and from Decimal each time).

So I think I should look into contributing to pyarrow then! Thanks for the guidance, and feel free to close the issue.

[2020-05-16 07:57] jorisvandenbossche commented on #34166
Note there is a *bit* more than just casting. What is eg exposed in pyarrow and works for decimals is `unique` / `dictionary_encode` (which could already support groupby with a decimal column as *key*), and `take` for general subsetting/indexing.
(I know this is not much computational, but it are still essential functionalities to get it working as a pandas extension array)

Further, there are a b

[2020-05-16 08:10] jreback commented on #34166
@sid-kap something working but slow and available now is much better than fast but not available

[2020-05-16 09:35] charlesdong1991 commented on #34204
thanks for your report @c-foschi

The issue here is that values are datetimes, currently `df.hist` accepts numeric values, not datetime values.

could you try see if your example works in matplotlib? if so, we might think of supporting.

[2020-05-16 09:42] charlesdong1991 commented on #34205
emm, sounds fair.

maybe add `keep` option similar to `nlargest` or `nsmallest`?

[2020-05-16 09:50] matthiasha opened #34206 "BUG: fillna(inplace=True) does not work when a subset of rows is selected via .loc"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
[code]
[code]

#### Problem description
`fillna()` does not work with a subset of rows, while direct assignment works:
[code]
[c

[2020-05-16 09:55] matthiasha commented on #34206
A workaround is to avoid `inplace=True` in this case:
[code]

[2020-05-16 11:59] jreback commented on #34206
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#why-does-assignment-fail-when-using-chained-indexing

you are modifying a copy

[2020-05-16 11:59] #34206 closed

[2020-05-16 12:29] matthiasha commented on #34206
Hi @jreback , thanks for your comment, could you please elaborate? I had read the page you linked and specifically used `df.loc[1:, 'x']` to avoid getting a copy.
Why does this fail
[code]
when this works:
[code]
Thank you for your help!

[2020-05-16 12:55] jreback commented on #34206
inplace=Trye means the fillna is operating on a copy which you don’t have a reference; this very similar example is in the docs

[2020-05-16 13:03] charlesdong1991 commented on #34206
emm, but why does the result differentiate between a full selection (`.loc[:]`) or sub-selection (`.loc[1:]`)? @jreback

[2020-05-16 13:15] c-foschi commented on #34204
thanks you too.

So `Series.hist` accepts datetime values, but `DataFrame.hist` doesn't? I didn't expect that.

I have no practice with matplotlib, but this worked:

[code]

[2020-05-16 13:31] charlesdong1991 commented on #34204
right, but the `l` you assigned to `plt.hist` contains list of Series which have integer values, and therefore is plottable.

[code]

emm, indeed, looking at the source code, seems `Series.hist` directly used `ax.hist` from matplotlib, but for `DataFrame.hist`, it adds to filter out non-numeric values.
https://github.com/pandas-dev/pandas/blob/1722c053163131831c48bab27636c23ccda60a83/pandas/plotti

[2020-05-16 13:33] charlesdong1991 commented on #34204
take

[2020-05-16 13:34] jreback commented on #34206
the first is a view and the 2nd a copy

the entire point here is using inplace=True is non idiomatic and subject to implementation details like view/copy semantics

[2020-05-16 13:37] charlesdong1991 commented on #34206
get it, thanks for your explanation!

[2020-05-16 13:39] c-foschi commented on #34204
no, I don't know where did you take those integer values, but the data I used is the same I presented in my first post and it is datetime.

[code]

[2020-05-16 13:43] charlesdong1991 commented on #34204
whoops, yeah, thanks for the correction!
i mis-use the data from another issue for this, yeah, as said above, matplotlib does support datetime values for hist, and so should pandas.

[2020-05-16 13:43] c-foschi commented on #34204
thanks!

[2020-05-16 14:39] dsaxton commented on #34185
Yes, that's expected / consistent with the above. It's trying to do the averaging across all rows and if that fails falls back on only the "numeric" columns.

[2020-05-16 16:49] john-bodley opened #34211 "BUG: Executing SQL containing non-escaped percent sign fails without parameters"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-16 18:01] jbrockmendel opened #34213 "Cython 3.0 Checklist"
Collecting TODOs for once we bump to cython3:

- [x] use conditional nogil e.g. [here](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/algos.pyx#L901)
- [x] change labels.shape[0] -> len(labels) e.g. groupbyL965
- [ ] update `searchsorted` usages to use fixed [cython](https://github.com/cython/cython/pull/3606) version
- [ ] Move Timestamp methods to _Timestamp, assuming https://gith

[2020-05-16 19:13] #34026 closed

[2020-05-16 19:41] mroeschke commented on #34211
https://github.com/pandas-dev/pandas/issues/11896 may be related

[2020-05-16 19:59] chrispe92 commented on #25383
To my understanding in order to fix this we need to cast each block according to the dtype of the dataframe using `as_type`, which is not implemented for `Categorical` at the moment. What do you think?

At the same time, if indexing expansion gets removed in the future, should we maybe raise an error/warning that assigning a categorical value through a dataframe index expansion is not supported? W

[2020-05-16 22:05] matthiasha commented on #34206
Can we find an explanation of this behavior in the docs?
Do you mean `inplace=True` should be avoided in general?

[2020-05-16 22:09] rhshadrach opened #34217 "BUG: setting with iloc and no labels does not effect certain data types"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Column "a" remains an int64 whereas it should be int32. This is similar to #33198, however the resolution there (taking

[2020-05-17 00:07] lukelima commented on #28038
Dear @WillAyd , since the matter was discussed on #28089 , can we close this issue ?

[2020-05-17 00:13] lukelima commented on #16214
Hi everyone ! This issue is very old and is still open. Is the problem still relevant ? Should we label it asking for help ?

[2020-05-17 10:37] MarcoGorelli commented on #33676
Does this mean that some of the existing tests need to change?

For example
[code]

should become
[code]

[2020-05-17 10:53] simonjayhawkins commented on #33676
Maybe more discussion needed, but IMO the current representation of the string categories without quotes is a bug and not pythonic. However, it is also a breaking change. need to see what others think as I don't know the history.

[2020-05-17 11:04] MarcoGorelli commented on #33676
This isn't limited to Categorical though, is it?
[code]

[2020-05-17 13:01] adamczykm opened #34224 "BUG: pd.DataFrame.transform recursively loops in some cases"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-17 13:56] yohplala opened #34225 "BUG: Use of PeriodIndex with rolling transform aggregating function into cumulative aggregating?"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

---
#### Code Sample, a copy-pastable example

[code]
#### Output
[code]
[code]
[code]
[code]
[code]
[code]
#### Problem descriptions
There are 2 problems:
  * problem 1:
     * min value on a `1H` window is not 0 given the input provided (see expected outpu

[2020-05-17 14:04] yohplala opened #34226 "ENH: Add VariableForwardWindowIndexer"
#### Is your feature request related to a problem?

I would like to use the rolling() method with looking-forward window using a negative `window`.
I don't remember which other pandas function is using this approach of negative window for reversing the position of the window with respect to the actual index, but it is for the user very convenient.
I was convinced it was existing for rolling, but i

[2020-05-17 14:51] thorstenkampe commented on #31957
I am able to reproduce the issue. `os.environ['NLS_LANG'] = '.AL32UTF8'`  as welll as engine parameter `?encoding=UTF-8` fixes the error. Quoting from `cx_oracle`'s docstring:
[code]

[2020-05-17 14:56] thorstenkampe commented on #31957
Adding to the above: the essential part seems to be "In all cases however, the driver requires an explcit
encoding configuration."

[2020-05-17 14:58] thorstenkampe commented on #31957
Final note: the [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/13/dialects/oracle.html#ensuring-the-correct-client-encoding) says the same (including the "explcit" typo from `cx_oracle`'s docstring.

[2020-05-17 15:30] simonjayhawkins commented on #33676
In the OP, the values are shown inside square brackets, so for me, this implies a list literal which I would expect could be copy and pasted. I do find it frustrating that the reprs of many pandas objects cannot be used to create an object, but that's another issue.

For the Series case, the values are not shown inside square brackets, so the strings shown without quotes is more acceptable.

[2020-05-17 15:43] charlesdong1991 commented on #34224
thanks, and would be nicer to have a descriptive issue title!

[2020-05-17 16:23] wendellwilson commented on #34085
I am able to reproduce in windows
[code]
<details>
  <summary>Output of pd.show_versions()</summary>
  commit           : 6388370eb313244ba0e4cd8215dcdbfdabb7004b
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorde

[2020-05-17 17:23] john-bodley commented on #34211
@mroeschke I'm uncertain whether https://github.com/pandas-dev/pandas/issues/11896 is the same issue and I'm unable to repo the MySQL example using the `mysqlclient` driver. The Pandas SQL logic seems quite complex, i.e., there seems to be different cursor logic for read vs. write and it seems like [this](https://github.com/pandas-dev/pandas/blob/afe7f1de9bb03a9a1a5122a6e32458225f8c007a/pandas/io/

[2020-05-17 18:28] lukelima commented on #29481
Hi everyone ! This issue hadn't had interactions for too long. Is it still relevant ?

[2020-05-17 18:36] charlesdong1991 commented on #34206
I think a PR that makes better clarification on such scenario will be accepted. @matthiasha

[2020-05-17 18:54] zhenruiliao commented on #34089
just wanted to bump this - any thoughts on workarounds also welcome!

[2020-05-17 20:19] marielledado commented on #29203
@dlukes You're definitely not the only one, I would love to see these changes in the docs. Have you created PRs on this issue yet? If there are still any open issues I'm happy to work on them!

[2020-05-17 21:16] #34123 closed

[2020-05-17 21:23] mohitthenewj commented on #17041
This was helpful, solved in my case.

[2020-05-17 22:08] datapythonista opened #34228 "DOC: Validation script doesn't report that the docstring is correct"
When executing for example:
[code]
The script, after the docstring, should report:
[code]
But for some reason, the sentence `Docstring for DataFrame.head correct. :)` is not being printed.

This is the line that is not being executed: https://github.com/pandas-dev/pandas/blob/master/scripts/validate_docstrings.py#L364

[2020-05-17 22:17] #11704 closed

[2020-05-17 22:34] pedrooa commented on #34224
hi, can i take this?

[2020-05-17 22:54] rosstex commented on #25353
So, is this considered a bug or not? I now have to workaround it in my current code. Annoying because when concatenating many columns together into a string, a la

 `ipv4_banners_pd["ssh_banner"]
.astype(str).str.cat(ipv4_banners_pd["telnet_banner"], sep='_', na_rep="")
.astype(str).str.cat(ipv4_banners_pd["snmp_banner"], sep='_', na_rep="")`

the nan's are converted to "" in the latter two column

[2020-05-17 23:11] jreback commented on #25353
yes this is an open bug
there were several attempts to patch it - see the PR refs

[2020-05-17 23:19] zbrookle commented on #28472
@TomAugspurger Could I work on this? I'm interested in seeing this moved forward since I need the named aggregation feature in Dask to incorporate it into the dataframe_sql framework that I'm building

[2020-05-18 00:09] kehv1n commented on #33478
I apologize for the delay, question. @MarcoGorelli originally mentioned refactoring portions of ```wrap_applied_output``` into helper functions. That is, I should abstract out some of these` ``if``` statements into external, properly named functions?

Including the unreachable ```else``` branch, there are a total of 5 parent conditionals.

[2020-05-18 02:41] pikamegan commented on #34228
I might be completely off, but the `if` and `elif` statement have the same condition `result["errors"]` so if it meets the `if` condition, it just skips the `elif` statement and thus it will never print the sentence. Perhaps getting rid of the `elif` statement completely or changing the condition would work?

[2020-05-18 02:56] miguelmarques1904 commented on #34228
@pikamegan I believe so too. I'm currently testing the docstring by simply replacing the `elif` statement with an `else` statement. Are you taking the issue?

[2020-05-18 03:00] pikamegan commented on #34228
@miguelmarques1904 I actually don't know how to test the function (new to open source). Tried running `./scripts/validate_docstrings.py pandas.DataFrame.head` in git bash and it returned permission denied. Should I be running it in python itself with an actual data frame?

[2020-05-18 03:33] miguelmarques1904 commented on #34228
@pikamegan Sorry for the delayed response.

You can try typing `chmod +x ./scripts/validate_docstrings.py`, which adds execute permissions to the `./scripts/validate_docstrings.py` file.

Welcome to the community and best of luck.

[2020-05-18 04:52] metazoic opened #34231 "ENH: skip_blank_columns in read_csv"
#### Is your feature request related to a problem?

If the `names` parameter in `read_csv` has more elements than the number of columns in the input file, then the returned DataFrame has `NaN` columns for the extra elements.

#### Describe the solution you'd like

Add a `skip_blank_columns` parameter in `read_csv` (similar to `skip_blank_lines`) to avoid creating the `NaN` columns.

#### API break

[2020-05-18 04:55] mroeschke commented on #34226
The semantics of having a monotonically increasing index with a negative offset is a bit confusing with the current API since the windows always begin from the start of the index.

That being said you can create your own custom definition of how the windows should be constructed: https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#custom-window-rolling

So that being said, I'd

[2020-05-18 05:00] yuji38kwmt opened #34232 "DOC: `pandas.read_csv`: The word `to_csv` in "See also" is not linked."
#### Location of the documentation
[pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

* Document Version: 1.1.0.dev0+1599.g0cb7a1fd4

#### Documentation problem
The word `to_csv` in "See also" is not linked.

![image](https://user-images.githubusercontent.com/6350027/82175817-ebeda280-990f-11ea-9640-c2193e5b7bec.png)

[2020-05-18 05:34] yohplala commented on #34226
Hello Matthew,
Thanks for your reply.
I am mentioning another method taking a 'negative' window value. I think I have made a quiproquo, and I think I am referring to the `shift` function that has a `period` parameter that can be either positive or negative.

Matthew, yes, you are right and my demand can be addressed with already existing feature, except it seems to me that by playing on existing p

[2020-05-18 05:54] charlesdong1991 commented on #34224
sure, go ahead! @pedrooa

[2020-05-18 06:05] charlesdong1991 commented on #34232
nice catch, a PR to add the link is welcome! @yuji38kwmt

[2020-05-18 06:10] charlesdong1991 opened #34233 "REF: do length-checks in boilerplate decorator"
The PR #34081 was reverted due to its impact on length-checks in Index special cases with tuples.

And the refactor is still nice for the cleanup but needs to have appropriate changes to avoid this issue.

[2020-05-18 06:24] xhochy commented on #34166
I would be happy to merge things into `fletcher` to support Decimal. It is not yet included in tests as I don't use it as a type myself. While you will have to add most of the functionality to `pyarrow` itself, `fletcher` should already give you tooling to better test what is missing to make it a fully functional Arrow-backed ExtenionArray.

Also feel free to make a PR to fletcher and add `Decimal

[2020-05-18 06:41] jorisvandenbossche commented on #33890
This just stopped failing somehow? Or did we actually do something?

[2020-05-18 06:56] sireesha-m commented on #29481
Hi all,
   I am running into the same with a fresh installation of pandas 1.0.3. After a group_by, am aggregating based on sum() with skipna=False, and it throws this error.

cnt = df.groupby(groupby_cols).**sum(skipna=False)**[prop_cols]

 _cython_agg_general() got an unexpected keyword argument 'skipna'

It was working perfectly fine until I installed the libraries in a new virtual env. Requirem

[2020-05-18 06:57] jorisvandenbossche commented on #34232
Yes, `to_csv` should be `DataFrame.to_csv` here.

[2020-05-18 06:58] jorisvandenbossche commented on #34232
Ah, it seems this is already fixed in master: https://github.com/pandas-dev/pandas/pull/31458 -> https://pandas.pydata.org/docs/dev/reference/api/pandas.read_csv.html

[2020-05-18 06:58] #34232 closed

[2020-05-18 07:11] MarcoGorelli commented on #33478
Hi @kehv1n - yes, that's right! Feel free to ping if you're stuck on something

[2020-05-18 07:17] MarcoGorelli commented on #34228
FWIW, I usually run it as `python scripts/validate_docstrings.py <method I'd like to validate docstring for>`

[2020-05-18 09:17] pikamegan commented on #34228
@miguelmarques1904 thanks for the response, it still returns  `/usr/bin/env: ‘python3’: Permission denied` even though I am using the correct version of Python and it is in my path (as various stackoverflow posts suggest).

[2020-05-18 09:18] pikamegan commented on #34228
@MarcoGorelli this worked, but now I get the following error:
 `Traceback (most recent call last):
  File "scripts/validate_docstrings.py", line 50, in <module>
    from numpydoc.validate import validate, Docstring  # noqa: E402 isort:skip
ModuleNotFoundError: No module named 'numpydoc.validate'`

Google searched and there isn't such a module, so what is this line about? Would appreciate any help

[2020-05-18 09:27] matthiasha commented on #34206
Thanks for your trust @charlesdong1991 but I would not dare touching it. If I were to propose a change, I'd deprecate the `inplace` parameter. However, despite using Pandas every day, I know too little about other people's use cases.

Compare filling `5` vs filling `'bla'`, the result depends on the type of the parameter to `fillna()`:
[code]
[code]
Compared with the original example:
[code]
[code

[2020-05-18 09:30] datapythonista commented on #34228
Thanks @pikamegan for helping with this. It's unfortunately a bit more complex. What you probably want to do is:

- Write a comment in this issue with just the word `take`, so the issue is assigned to yourself, and other people don't work on it
- Set up a development environment. You have extensive information here: https://pandas.pydata.org/docs/development/contributing.html And we've also got a

[2020-05-18 09:47] pikamegan commented on #34228
@datapythonista Thanks so much for pointing me in the right direction. I'll probably try to familiarise myself with the development environment first, so someone else can take this issue

[2020-05-18 10:38] giuliobeseghi opened #34234 "BUG: `astype` on index drops name"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Index name is dropped when using `astype`

#### Code Sample, a copy-pastable example

[code]

#### Problem description

From the docs of `astype`, I wouldn't expect the `

[2020-05-18 10:59] jreback commented on #34234
please check on master this was recently patched

[2020-05-18 11:01] giuliobeseghi commented on #34234
Sorry I couldn't find any issues about it. I'll wait for the next release then.

[2020-05-18 11:08] MarcoGorelli commented on #32803
Pretty sure this is the same as the issue I opened [here](https://github.com/pandas-dev/pandas/issues/34064), so I'll copy over the example I put there:
[code]
all will close that one

[2020-05-18 11:08] MarcoGorelli commented on #34064
duplicate of #32803

[2020-05-18 11:08] #34064 closed

[2020-05-18 11:12] TomAugspurger commented on #28472
That sounds good.

On Sun, May 17, 2020 at 6:19 PM Zach Brookler <notifications@github.com>
wrote:

[2020-05-18 11:21] charlesdong1991 commented on #34206
Doc improvements are very welcomed too :)

[2020-05-18 11:25] rtm010 commented on #34228
Hi all, new to open source. Got my dev environment set up and happy to take this issue 😄

[2020-05-18 11:25] rtm010 commented on #34228
take

[2020-05-18 11:32] kahyforest opened #34235 "BUG: pandas.groupby([A, B]).sum(level='B') gives cython_agg_general() error"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

Last time I ran my code I could use the keyword _level_ to do statistics over a particular multiindex. Now, I get an error. Using agg is a workaround, but I'll have to rewrite quite a lot of code then. I couldn't find anything about the level kwarg being deprecated. Current output:

<details>

INSTALLED VERSIONS
---------

[2020-05-18 13:03] #25777 closed

[2020-05-18 13:57] ShayHa opened #34237 "BUG:pd.read_excel does not read xlsb"
In the docs it says:
[code]
When I try to read a xlsb file with specifying engine='openpyxl'
I get the next error:

[code]

[code]
I do have the openpyxl module installed

Thank you

[2020-05-18 14:04] dlukes commented on #29203
@marielledado I wasn't quite sure how to go forward with it (cf. the bullet points with questions in my previous post), and then life got in the way, so no, unfortunately, there's no active PR... If you have time to pick this up though, it would be great!

[2020-05-18 14:19] jbrockmendel commented on #33890
xfailed the affected test in the relevant conditions

[2020-05-18 14:31] marielledado commented on #29203
@dlukes life always gets in the way 😌 but yes happy to pick this up and make suggestions on this issue page based on those bullet points.

For good measure: Take!

[2020-05-18 14:51] jbrockmendel opened #34238 "API: implement ObjectIndex to take place of Index"
Then we would never actually return an Index object.

We could then make ABCIndex behave like ABCIndexClass, and get rid of the latter.

Briefly discussed in #34159

[2020-05-18 15:01] eromoe commented on #21103
Happen on pandas 1.0.1 , this issue should reopen!

[2020-05-18 16:01] TomAugspurger commented on #34237
https://pandas.pydata.org/docs/user_guide/io.html?highlight=excel#excel-files says that just the `pyxslb` engine supports xlsb. We could make that clear in the docstring for read_excel, and perhaps in the error message if we're the one reading raising it (but are we, or is openpyxl?)

[2020-05-18 16:21] ShayHa commented on #34237
Thank you. using engine='pyxlsb' worked.

[2020-05-18 16:25] OliverSieweke commented on #28142
Related issue: #12412

[2020-05-18 16:43] OliverSieweke commented on #12412
See also [data-science-types](https://github.com/predictive-analytics-lab/data-science-types) which has started work in that direction.

[2020-05-18 17:09] mroeschke commented on #12412
Since we have https://github.com/pandas-dev/pandas/issues/28142 going about the same issue. Going to close this issue in favor of that one.

[2020-05-18 17:09] #12412 closed

[2020-05-18 17:39] jorisvandenbossche commented on #34238
Are there advantages of this? (except being able to remove the ABC, which alone doesn't warrant such a change IMO)

[2020-05-18 17:42] jbrockmendel commented on #34238
As mentioned in #34159, there are places in the code where we see an Index object and assume that it is object-dtype.  This would make that assumption more explicit, and would allow #34159 to avoid running into it.

[2020-05-18 17:44] marcus-r-kelly commented on #14162
I have the same issue with pandas version 1.0.3

[2020-05-18 17:55] TomAugspurger commented on #34238
@jbrockmendel what do these checks look like? Is it `type(obj) is pd.Index`? Or more like an `isinstance(obj, ABCIndex)`?

IMO, adding an ObjectIndex feels like patching over an internals issue by exposing it to the end user.

[2020-05-18 17:58] marielledado commented on #29203
Hi @simonjayhawkins first time contributor here and relatively new to programming and OS contribution, I'd like to work on this issue but it's not clear to me from the contributing guidelines where I should edit documentation. Should I edit the docstring of the function (`df.drop`) directly?

[2020-05-18 18:17] dsaxton commented on #34234
Yes this is fixed on master
[code]

[2020-05-18 18:25] MiguelArriaga commented on #34046
That is indeed an interesting alternative, although the behavior in case of repeated columns would be important to keep.

I think that for my case I will stick to merge since the future readers of the code would probably understand better if they saw "merge(left_index=True,right_index=True,how='outer')" than if they saw "combine_first".

I guess this more of a philosophical question whether or not

[2020-05-18 18:51] simonjayhawkins commented on #29203
the answer is yes, but I think the docstring for df.drop is clear on the usage. maybe there are other methods where it is less clear.

some other methods either use templates, inherit docstrings or inherit templates.

[2020-05-18 18:59] #34234 closed

[2020-05-18 19:21] alonme commented on #31111
This seems to have been somehow fixed between 1.0.3 and master (currently - 239b6a721)

[2020-05-18 19:52] charlesdong1991 opened #34239 "CI: ValueError: Must pass 2-d input in constructor"
seems df construction fail at some special cases, have seen the errors in multiple PRs

[code]

[2020-05-18 19:54] #34239 closed

[2020-05-18 20:51] TomAugspurger opened #34240 "BUG: PeriodIndex.get_loc should raise KeyError"
Currently PeriodIndex.get_loc raises a ValueError rather than a KeyError.

[code]

Compare that with DatetimeIndex

[code]

This leads to other issues like `Serie.__getitem__` and `Series.__contains__`:

[code]

As part of fixing this, we should revert the change to `pandas/core/groupby/grouper.py` in https://github.com/pandas-dev/pandas/pull/34049.

[2020-05-18 21:02] jbrockmendel commented on #34238
IIRC its more along the lines of methods in Index that are overridden by all extant subclasses assume its object dtype (or just non-EA).

This is mostly relevant in the context of #34159

[2020-05-18 22:28] cuchoi commented on #34185
Would it make sense to either make the result of the row a NaN when `skipna=False` or to have an option to raise an error if `.mean()` is not able to use all rows?

[2020-05-18 22:45] dsaxton commented on #34185
You can have it return an error by setting numeric_only=False (this effectively disables the try / except behavior when it's set to its default of None):

[code]

[2020-05-18 23:34] ldrobner commented on #34235
take

[2020-05-19 00:00] Liam3851 commented on #34046
@MiguelArriaga You may also want to look at DataFrame.join for the case with duplicates:

[code]

though now you would need to specify how='outer' and a suffix if there's a duplicate column.

[code]

If that still feels too verbose to you because you do this a lot, I'd suggest defining a custom method and using `.pipe`:

[code]

Only 5 characters longer than df.merge_by_index(df2).

[2020-05-19 02:10] dsaxton commented on #34224
@pedrooa Looks like the problem is the the try / except within aggregate of frame.py, would be interesting to look into why that's needed and if there's a better way to handle things

[2020-05-19 02:48] WillAyd commented on #28038
I think so but @datapythonista I think can close or clarify

[2020-05-19 03:18] rivera-fernando commented on #32331
@mroeschke I too pass using the same command as you on MacOS
[code]
but when simply running
[code]
then pandas/tests/plotting/test_datetimelike.py fails the first test

[2020-05-19 04:15] miguelmarques1904 commented on #34237
take

[2020-05-19 05:06] jakirkham opened #34244 "ENH: Support out-of-band pickling (protocol 5)"
#### Is your feature request related to a problem?

It would be nice if Pandas objects supported [pickle's protocol 5 for out-of-band serialization]( https://www.python.org/dev/peps/pep-0574/ ). This would allow the underlying data to be captured in `PickleBuffer`s (specialized `memoryview`). For libraries using pickle's protocol 5 to transmit data over the wire, this would allow for zero-copy dat

[2020-05-19 06:29] stefansimik commented on #29618
Same problem here.
`engine='python'` does not help.

**This code works fine:**
[code]

**This code FAILS:**
[code]

[2020-05-19 07:58] sid-kap commented on #34166
@xhochy Thanks, will do!

[2020-05-19 08:41] #33115 closed

[2020-05-19 08:43] #34010 closed

[2020-05-19 09:11] erezinman opened #34248 "ENH: Add dtype-support for pandas' type-hinting"
It would be great if you could annotate a series, for example with -

[code]

to indicate that the function should accept a string-valued series with an integer index, and output
int-valued series with an integer index.
It could be even better if you would build on that such that the series member's types could be inferred using `TypeVar`s (for example, `pd.Series[int,str].iloc` would accept an in

[2020-05-19 09:45] Aqua-4 opened #34249 "ENH: to_sql option for progress_bar"
#### Is your feature request related to a problem?

pd.to_sql should definitely have a *progress bar* while dumping *df.to_sql *just like
*pandas.to_gbq*

#### Describe the solution you'd like

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_gbq.html
pd.to_sql should have *progress_bar=True* as a boolean parameter in case the user is sending the data in chunks or if

[2020-05-19 10:07] simonjayhawkins commented on #32289
this occured in 1.19.0rc1 (xref #34239) and tests are skipped again for 1.20.0.dev

This may become an issue shortly

cc @jbrockmendel

[2020-05-19 10:15] kerwin6182828 opened #34251 "BUG: 'Series' objects are mutable, thus they cannot be hashed"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-19 10:24] simonm3 opened #34252 "pd.set_option("io.excel.xlsx.reader", "openpyxl") does not work"
This works fine for an xlsx file:

`pd.read_excel(path, engine="openpyxl")`

However if i try using set_option then read_excel fails:
[code]
ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

[2020-05-19 10:42] simonjayhawkins commented on #34248
Thanks @erezinman for the report. Adding this would certainly be easier with stubs, but we have not yet reached a decision on stubs, xref #28142.

To do this with type annotations in the code, we would need to use typing.Generic

Thanks for the link. I suspect we would follow NumPy conventions for the type parameters. https://github.com/numpy/numpy-stubs

In pandas we would also need to allow Seri

[2020-05-19 11:15] lukestanbra commented on #25472
I just ran into this - it looks much more general than a read_csv problem to me.
[code]
I would expect that this should just work? As @NumesSanguis says above, converting via float does work, e.g.
[code]
This is using
[code]
@TomAugspurger - do you think a new issue needs to be opened for this?

[2020-05-19 11:18] TomAugspurger commented on #25472
I thought we already had an issue for that (possible search for "strictness
of _from_sequence") but I may be wrong.

On Tue, May 19, 2020 at 6:15 AM Luke Stanbra <notifications@github.com>
wrote:

[2020-05-19 11:20] joelrich commented on #29855
I am having the exact same issue with pandas 1.0.3. This is the snippet which I used to locate the problem:

[code]

An error message like

[code]

would be more consistent since this problem only happens when you try to retrieve a non-existing index. This is also the case for the @pepicello's example, as the following (working) snippet proves:

[code]

[2020-05-19 12:56] #10355 closed

[2020-05-19 13:16] StefanBrand commented on #17553
Timedelta on y-axis still plots as milliseconds. 😬

[2020-05-19 13:40] jesrael opened #34254 "ENH: Is possible use rename for flatten MultiIndex?"
From [SO](https://stackoverflow.com/a/61891863/2901002):

    df1 = (df.set_index(['Animal', df.groupby('Animal').cumcount().add(1)])
             .unstack()
             .sort_index(axis=1, level=1))
    df1.columns = [f'{a}_{b}' for a, b in df1.columns]
    df1 = df1.reset_index()
    print (df1)
      Animal  Age_1 Color_1 Length_1  Age_2 Color_2 Length_2  Age_3 Color_3  \
    0    Cat      1

[2020-05-19 13:48] TomAugspurger commented on #34244
Thanks, looks interesting.

At a glance, it *looks* like we're successfully using pickle5 protocol when pickling underlying ndarrays.

[code]

So the primary work to do here are

1. Ensure that that's actually correct, including for DataFrame?
2. Check Series / DataFrame for large objects that could also support out-of-band pickling?

[2020-05-19 13:49] simonjayhawkins opened #34255 "CI: failing with pyarrow 0.17.1"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=35751&view=logs&j=a3a13ea8-7cf0-5bdb-71bb-6ac8830ae35c&t=add65f64-6c25-5783-8fd6-d9aa1b63d9d4

[2020-05-19 14:19] MarcoGorelli commented on #34251
Are you sure you're using version 1.0.3 and that that's all you've run?

I just tried this on v1.0.3 and go
[code]

[2020-05-19 14:27] brandon-b-miller opened #34256 "BUG: DataFrame.isin fails when other is a categorical series"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This operation previously worked in pandas 0.25.3 and gave the same result as the case when o

[2020-05-19 14:57] #33564 closed

[2020-05-19 15:08] timgeb opened #34257 "ENH: DataFrame.replace does not work with dictionary subclasses"
#### Is your feature request related to a problem?

I want to use `DataFrame.replace` with a dictionary that has a custom `__getitem__` logic. The current behavior is easy to demonstrate with a `defaultdict` (see code below).

#### Describe the solution you'd like

I would like `DataFrame.replace` to honor the `__getitem__` method of dict-like arguments.

#### API breaking implications

I don't kn

[2020-05-19 15:22] jorisvandenbossche commented on #34255
I am looking into this (clearly a regression in 0.17.1).
We can either pin to 0.17.0 for now, or temporarily skip interval in the test.

[2020-05-19 15:24] jorisvandenbossche commented on #34255
-> https://github.com/pandas-dev/pandas/pull/34258

[2020-05-19 15:43] jorisvandenbossche commented on #34255
And the relevant Arrow issue is https://issues.apache.org/jira/browse/ARROW-8860

[2020-05-19 15:57] clbarnes opened #34260 "ENH: One-hot decoding"
#### Is your feature request related to a problem?

`pd.get_dummies` provides a way to turn a sequence of category-like data into a one-hot encoded data frame. However, there is no easy way (to my knowledge) of going in the other direction: given a boolean dataframe where the row sums are all 1, produce a categorical series. This task is particularly valuable for serialisation.

#### Describe the

[2020-05-19 16:02] DanielFEvans commented on #24730
Does Pandas have a policy on noting long-standing bugs like this one in the docs? It would save a slight amount of developer anguish to know that a workaround is needed from the start!

However, remembering to remove any "known bug" references in documentation would be quite an overhead, so I'd guess that it's probably avoided.

[2020-05-19 16:07] dsaxton commented on #34260
Duplicate of https://github.com/pandas-dev/pandas/issues/8745 and I think @MarcoGorelli is working on this here https://github.com/pandas-dev/pandas/pull/31795

[2020-05-19 16:09] clbarnes commented on #34260
Sorry, my bad! I searched for various combinations of "one hot" and the first couple of pages of "categorical" to no avail.

[2020-05-19 16:09] #34260 closed

[2020-05-19 16:14] clbarnes commented on #8745
I failed to find this on a search, and so created a duplicate issue.

My approach was to add `from_dummies` as an alternate constructor for `Categorical`: that way it's clear what it creates, the additional arguments are passed straight to that object. This implementation minimises loops in python, but doesn't do a lot of nannying for incorrect inputs:

[code]

[2020-05-19 16:24] mroeschke commented on #34257
- `replace` doesn't work inplace. For the replacement to carry over, you must reassign it to a new variable `df = df.replace(d)`
- Your example `d[3]` is a getitem on the defaultdict not the dataframe

[2020-05-19 16:27] mroeschke commented on #34257
[code]

[2020-05-19 16:36] timgeb commented on #34257
I am aware that `replace` does not work in-place. The issue is that `3` does not become `0`.

[2020-05-19 17:04] mroeschke commented on #34257
Ah, sorry for the misunderstanding. I see your point now.

I suppose this could be supported. Investigation and PR's welcome!

[2020-05-19 17:10] giuliobeseghi commented on #29145
Also, there are many options where you can both use pipe and callable as arg. For example:

[code]

Same with .loc[lambda s: ...].

I wonder what the preferred method is when both options are available.

[2020-05-19 17:18] timgeb commented on #34257
No problem, I clarified the initial post.

[2020-05-19 18:15] simonjayhawkins commented on #32599
regression in #29690 (i.e. 1.0.0)

c5a1f9e2c373ced9ef2f02ab64d11eaa7b4248f2 is the first bad commit
commit c5a1f9e2c373ced9ef2f02ab64d11eaa7b4248f2
Author: Oliver Hofkens <oliver@novemberfive.co>
Date:   Wed Nov 20 13:46:18 2019 +0100

    BUG: Series groupby does not include nan counts for all categorical labels (#17605) (#29690)

[2020-05-19 18:31] cuchoi commented on #34185
Good to know, thanks! Should I close this issue?

[2020-05-19 19:15] jakirkham commented on #34244
Good point! Yeah if the objects Pandas uses for data storage already support pickle protocol 5 then it should just work. NumPy arrays are a good example (since they already support pickle protocol 5). Not sure what other objects might be used.

Certainly testing would help build confidence :)

My guess is size of objects shouldn't matter unless Pandas does something different with data representat

[2020-05-19 19:41] ldrobner commented on #34235
@charlesdong1991 @kahyforest @anyone_who_can_help

I have been digging around looking for the problem, here are a couple items I noticed:

1. I think the problem is in the decorator method in `.\pandas\util\_decorators.py`. I believe this is the decorator function you use for a lot of functions, and would probably be hard to change. I looked around to find some similar errors and solutions like th

[2020-05-19 20:23] TomAugspurger commented on #34244
The other potentially large objects would be extension arrays (Categorical, etc.). All of pandas' extension arrays do consistent of one or more NumPy ndarrays.

[2020-05-19 20:26] TomAugspurger commented on #33997
@kevinksyTRD any followup here?

[2020-05-19 20:29] TomAugspurger commented on #34256
Seems to be fixed on master. Not sure if we have a test for it though.

[2020-05-19 20:32] TomAugspurger commented on #34254
Can you add the code for defining `df1`?

The request here is for an `NDFrame.to_flat_index`, with the behavior of

[code]

correct?

[2020-05-19 20:34] TomAugspurger commented on #34251
On master I see the `TypeError`. @kerwin6182828 can you post the full traceback?

[2020-05-19 20:44] MarcoGorelli commented on #34251
Ah yes, it reproduces on master

traceback:
[code]

[2020-05-19 20:58] TomAugspurger commented on #34252
https://github.com/pandas-dev/pandas/blob/c3c4ccf0f6be346534a5df0c73a1d82b594986e3/pandas/io/excel/_base.py#L813-L814 looks buggy. That should probably be taking the engine from the pandas config.

@simonm3 can you look into it?

[2020-05-19 20:59] matteosantama commented on #28813
take

[2020-05-19 21:14] kevinksyTRD commented on #33997
It worked with a new installation. Can’t reproduce the error.

[2020-05-19 21:14] #33997 closed

[2020-05-19 21:32] TomAugspurger commented on #34186
@RauliRuohonen can you try on master? Seems to be working for me.

[2020-05-19 21:40] TomAugspurger commented on #34162
@ Zaharid  I don't think these are comparable. On 0.24.2 I get the (incorrect) result of just ~100 rows because . If you specify `observed=True`, you should see similar timings

[code]

[code]

[2020-05-19 21:40] #34162 closed

[2020-05-19 21:43] TomAugspurger commented on #32918
@jangorecki your usage of `observed` in https://github.com/pandas-dev/pandas/issues/32918#issuecomment-603748383 wasn't quite right. It should be passed to `groupby`, not `agg`. Can you try this?

[code]

[2020-05-19 21:45] jakirkham commented on #34244
Ok, so this may already just work then. FWIW this seems to be the case with `DataFrame`:

[code]

Where are the current pickle tests?

[2020-05-19 21:48] TomAugspurger commented on #34129
@ashtou can you edit down your original issue to just the part that you don't think is working correctly? It's a bit hard to follow.

In general: you should pass the keys that you want to use for `value_vars`, etc. For a MultiIndex in the columns those will be tuples.

[2020-05-19 21:49] TomAugspurger commented on #34109
@TomGoBravo can you share a bit more about your use-case? Right now, I'm leaning towards closing this as out of scope, since I don't want to complicate the signature for orients this doesn't apply to.

[2020-05-19 21:57] mroeschke commented on #34249
Of note, `to_gbq` supports a `progress_bar` argument because the we dispatch to a 3rd party `pandas-gbq` library that supports it.

For sql, we would most likely want a similar solution where we could dispatch to a sql library that supports a progress bar

[2020-05-19 21:58] moaraccounts commented on #4599
take

[2020-05-19 22:09] dsaxton commented on #34185
@cuchoi I can close. Thanks for the report nonetheless, it's an interesting edge case

[2020-05-19 22:09] #34185 closed

[2020-05-19 23:15] jbrockmendel commented on #7706
These should also be removed from the doc offset_frequency.rst file right?

[2020-05-19 23:20] TomGoBravo commented on #34109
I'm copying a `DataFrame` into a dict that maps from label/index value to a custom mapping for the row with that label. There is probably a better way to do it but what I came up with is at https://github.com/covid-projections/covid-data-model/blob/4f713e0b1c3e17303b2fbb12f5ce2c35eb64d427/test/dataset_utils_test.py#L15-L47

[2020-05-19 23:36] ashtou commented on #34129
@TomAugspurger no worries. Updated the issue. I had added the extra part to show that it only fails for any `col_level`>0 and not for `col_level=0`, but now the example contains only the part that doesn't work correctly.

[2020-05-20 00:36] ashtou commented on #34129
@TomAugspurger no worries, updated the issue.
I tried a few things. what you are saying (adding columns as tuples) is only correct if I don't specify the `col_level` in `melt`. When I specify it, as shown in the [API Reference](https://pandas.pydata.org/docs/reference/api/pandas.melt.html), it should work by the level name (not tuples). Now, the example in the API reference uses `col_level=0` whic

[2020-05-20 00:50] davidkh1255 commented on #22555
I modified some code which seems to produce the bz2 for me and appears to avoid the intermediate on-disk csv file. Does this help you guys? I'm not sure how efficient the memory allocation is or how in-memory it all is, so if there are optimizations, please advise! I'm a py newbie (first day), and this stuff seemed to be poorly documented, so thanks for making this thread and apologies for my igno

[2020-05-20 00:51] jangorecki commented on #32918
@TomAugspurger Thank you for spotting that. Yes, it does the job. Query now completes not only for 1e7 rows but for 1e8 rows as well. Benchmark report updated. Thanks again!

[2020-05-20 00:51] #32918 closed

[2020-05-20 01:21] kerwin6182828 commented on #34251
i had many traceback that i can't understand 😂. so, please give me a hand~
[code]

[2020-05-20 02:24] kerwin6182828 commented on #34251
or could i get a alternative solution that can get the NAN data with query method ?
now, i use df.query("name != name")  instead.
But i don't know is there any other better solution?

[2020-05-20 02:39] matteosantama commented on #24798
Is there more work to be done here? Or is this ticket effectively closed?

[2020-05-20 03:06] saiajay5674 commented on #34256
Can I work on this?

[2020-05-20 03:16] WillAyd commented on #34252
Thanks @TomAugspurger for the link. I think there's generally an issue with the reader and respecting options.

Some historical context - maybe a year and a half ago we only had xlrd as a reader, so it was a non-issue. But we've since added openpyxl, pyxlsb, and odfpy as readers, I think without using machinery similar to the writer side for respecting options.

Certainly could some review and imp

[2020-05-20 04:01] WillAyd commented on #34257
Not sure I agree with the expectation. When replace is called there is no key to map to, hence nothing being updated. We aren't applying a __getitem__ on the defaultdict for every entry in the Series

[2020-05-20 05:40] #29463 closed

[2020-05-20 06:02] smcinerney commented on #23230
This issue was closed but still in 1.0.x seems like a valid docbug on [`DataFrame.apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html), could you reopen as 'DOCBUG: ... for 1.0.4,' or else let's incorporate this docbug in related docbug #30191?

Here is an example dataframe which exercises upcasting of dtypes in broadcasting with `apply(..., axis=1)`:

[c

[2020-05-20 07:30] figuetbe opened #34270 "Problem with obtaining a view of a DataFrame using loc"
Hello, I am trying to obtain a view of a pandas dataframe using the `loc` method but it is not working as expected when I am modifying the original DataFrame.
I want to extract a row/slice of a DataFrame using the `loc` method so that when a modification is done to the DataFrame, the slice reflects the change.

Let's have a look at this example:
[code]

Now I create a slice using loc:
[code]

Then

[2020-05-20 08:06] jorisvandenbossche commented on #34270
What you are doing (`df.loc[[2],]`) is not actually a *slice*, but a list selection.

In numpy terms, this means "advanced" or "fancy" indexing, which means the result is a copy (in contrast with actual slicing which gives a view): https://numpy.org/devdocs/reference/arrays.indexing.html#advanced-indexing

However, in pandas there is the additional complication that a DataFrame is not a single-dty

[2020-05-20 08:53] leetschau opened #34271 "BUG: Same function calls on the same DataFrameGroupBy object give different results"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

# Source codes

[code]
# Problem description

In above codes, same function calls `grps.apply(lambda x: x.shape[1]).unique()` give different results:

In the first 2 times bef

[2020-05-20 08:59] sharon0621 commented on #34271
come across the same question as yours

[2020-05-20 09:52] jesrael commented on #34254
Yes, something like [`MultiIndex.droplevel`](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.droplevel.html) is alos implemented [`Series.droplevel`](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.droplevel.html) and [`DataFrame.droplevel`](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html)

[2020-05-20 10:03] MarcoGorelli commented on #34256
@saiajay5674 PRs are welcome, see the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started

Perhaps check first to see if there's already a test for this issue, and if there's not, you could add one

[2020-05-20 10:04] arredond opened #34272 "ENH: specify missing keys in KeyError when passing list-like to .loc"
I'm a big fan of the strong limitation when passing list-likes to `.loc[]`. However, when the a key is missing and the KeyError is raised, it'd be helpful to know _which_ key/s is/are missing.

I understand this could have performance implications since each key of the list-like object should be searched, but also think the UX would be improved.

At least, the first missing key could be reported,

[2020-05-20 10:12] thor commented on #19965
Is it possible to use `format_dateaxis` in a way to correct the labelling after it has been plotted? I tried it somewhat afterwards, but it seems the ticks are already wrong by that point, and as such I'd have to fix the ticks before going further.

[2020-05-20 10:51] TomAugspurger commented on #34244
Should all be in `pandas/tests/io/test_pickle.py`.

[2020-05-20 11:00] sambafall opened #34273 "QST:Different results of pd.merge if using on='key' vs left_on/right_on!"
Hello,
I see a mysterious behaviour of merge function in pandas and i don't know if its a bug or because i missed something.
If i use the parameters left_on and right on an how='outer'  then a key is missing and relpaced with a NA. If i use the same name for both key columns and use on='key' all the keys will be available. Is this a normal behaviour? Is there any difference between on and left_on/

[2020-05-20 11:48] simonjayhawkins commented on #24798
need to add tests for 1A and 1B to prevent regression before closing issue.

PRs welcome.

[2020-05-20 12:26] SilasK opened #34274 "BUG: small error in pandas/io/pytables.py"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-20 12:33] SilasK commented on #34274
The data frame could net be serialized because I had ints in a string column.
But the reported bug should be independent of this.

[2020-05-20 13:13] timgeb commented on #34257
Well my point is that you probably should if you allow dict-like arguments. :)

For example, I wish this would replace every value in the DataFrame:

[code]

[2020-05-20 14:05] #33327 closed

[2020-05-20 14:20] TomAugspurger commented on #17114
This has been fixed.

[2020-05-20 14:20] #17114 closed

[2020-05-20 14:25] TomAugspurger commented on #33025
@jorisvandenbossche did https://github.com/pandas-dev/pandas/pull/33312 fix this?

Right now at https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.concat.html I see this:

![Screen Shot 2020-05-20 at 9 24 11 AM](https://user-images.githubusercontent.com/1312546/82457981-c1205d00-9a7b-11ea-8dae-0be1d58871b9.png)

[2020-05-20 14:38] jorisvandenbossche commented on #33025
Hmm, that's clearly not working there (and it's IMO also good example of why it would be better to now show those type hints in that form ..)

Now, the example I tested when doing the PR is actually working: https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.html (dev docs, no type hints) vs https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html (wit

[2020-05-20 15:38] jolespin opened #34276 "QST: How "safe" is it to pickle a DataFrame with v1.x for long(er) term storage?"
#### Question about pandas

How "safe" is pickling `DataFrame` objects with v1.x for long term?  Pickling in past versions has been a sort of gamble, as expected, but I'm wondering how the long term storability is for `pandas` objects (in particular, `DataFrame`) now that the API has solidified in v1.x.

[2020-05-20 16:12] jreback commented on #34276
we already have backwards compatilibity from 0.21.0. The support for pickles before this was removed (though may still work). So its the same guarantee as before. Backwards compatibility is preserved, though certainly may have performance differences.

[2020-05-20 16:12] #34276 closed

[2020-05-20 16:12] jreback commented on #34276
all that said. pickle is not a great format for long term storage. choose parquet.

[2020-05-20 16:14] jolespin commented on #34276
Good to know!  Thanks.  Performance issues aren't a concern (at the moment).  I'm using pickle because I have a lot of `MultiIndex` dataframes and some have `frozenset` objects as keys.

I'll look into `parquet`, I've been hearing more about that recently.

[2020-05-20 18:19] WillAyd commented on #34274
Makes sense. Want to push a PR?

[2020-05-20 18:19] matteosantama commented on #24798
Happy to take this. I imagine the test (at least for 1a) will live in tests/frame/methods/test_replace.py. This file doesn't seem to be passing tests currently. I'm trying to run `pytest test_replace.py` from within the /methods directory.

`AttributeError: module 'pandas._libs.tslibs.offsets' has no attribute 'YearOffset'`

Any advice on tracking this down? Or do you know if someone working on a

[2020-05-20 18:20] WillAyd commented on #24798
You will need to rebuild the C extensions. Check here for more info:

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#creating-a-python-environment

[2020-05-20 19:06] Baynez commented on #32762
open it again, it is still appearing, or how did you solve ?

[2020-05-20 19:10] Baynez opened #34279 "Reopened: "TypeError: searchsorted requires compatible dtype or scalar, not ndarray ""
"TypeError: searchsorted requires compatible dtype or scalar, not Series"
appears again when applying timeindex data:

[code]
How to solve this?

[2020-05-20 19:20] matteosantama commented on #24798
Thanks Will, that did it.

With the original problem statement in mind I've parametrized the test the run with inplace=[True, False], but it's causing a bit of a problem.
[code]
Fails because the B column in `result` is object dtype, but float64 in `expected`. Doesn't happen when `inplace=False`.

Do you think this is expected behavior? Or is there another issue lurking?

[2020-05-20 20:06] CharlesAydin commented on #26253
Hi there, I was wondering if there was ever any resolution to this. It's easy enough to directly call the matplotlib API, but it'd be more convenient if we didn't have to. :) Thanks!

[2020-05-20 20:54] joooeey opened #34280 "BUG: can't set up dev environment -- Import Error: C extensions: ..."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-20 21:01] jorisvandenbossche commented on #34238
But those places that assume that Index is object dtype would need to be updated anyhow, in context of #34159, or when introducing ObjectIndex ?
(it might be useful to give a concrete example, because now it's a bit vague discussion)

+1. And that is also the reason that I would prefer adding EA support in the base Index class instead of a new ExtensionIndex class (certainly given that it would no

[2020-05-20 21:33] Stockfoot commented on #33851
Yeah that is what I am getting at. Basically a style guide that would allow a first time user to read it and understand the formatting and requirements for how they should code, The script would act as a backup instead of a newer user having to submit over and over to see where they are formatting things wrong.
[pandas Coding Style Guide example.pdf](https://github.com/pandas-dev/pandas/files/4659

[2020-05-20 21:46] WillAyd commented on #34280
Are you getting any output from `python setup.py build_ext --inplace -j 4`?

[2020-05-20 22:50] cuckookernel opened #34283 "BUG: querying AWS athena via pyathena connection produces error"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-21 00:44] WillAyd commented on #34283
Given pandas doesn’t appear in the traceback I think this is an issue elsewhere. Do you get the same when using the connection directly without read_sql?

[2020-05-21 01:19] jbrockmendel commented on #34238
I'm still not wild about that, but we can discuss that separately.  This idea clearly isn't gaining traction, so closing.

[2020-05-21 01:19] #34238 closed

[2020-05-21 03:58] dsaxton commented on #34279
@Baynez which version of pandas are you using?

Also is there possibly a typo in your code? The DataFrame is built up from x but I think you mean to use the list data. If I make that change it seems to work for me on master.

[code]

[2020-05-21 05:35] joooeey commented on #34280
Yes I did get lots of output but that went out of my Anaconda Prompt buffer:

Here's the last lines in the buffer that I got from `setup.py build_ext --inplace --force`:

<details>

[code]

</details>

[2020-05-21 06:03] pedrooa commented on #34224
I've looked into the try / except you mentioned(within aggregate of frame.py),  and the recurssion occurs because the except is not doing anything with the error:
[code]

I've managed to fix it raising an error printing what went wrong, as in the following code:

[code]

I am now just making sure this fix doesn't break anything else.

[2020-05-21 08:26] Baynez commented on #34279
sry i pasted the code wrong here, still not working, pd version is 1.0.1

[2020-05-21 08:32] arainboldt commented on #30324
What's the status of this issue? I'm still getting it as of pandas.__version__ == '1.0.3'

[2020-05-21 08:46] MarcoGorelli commented on #34280
Do you get the same error when, from the anaconda prompt (with `pandas-dev` activated), you type
[code]
and then, in the Python REPL,
[code]
?

[2020-05-21 09:10] MarcoGorelli opened #34288 "DOC: improve pie chart example"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.plot.pie.html

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

This example doesn't look great:
![image](https://user-images.githubusercontent.com/33491632/82543164-06f82680-9b4b-11ea-98bf-c7245506

[2020-05-21 09:33] datapythonista commented on #28038
Thanks @lukelima for the triagging. #28089 removed the `{{ header }}` from one of the pages, but most of them still have it. So, this issue is still relevant, and can't be closed.

[2020-05-21 09:38] wvxvw opened #34289 "BUG: No version exists that can be used with Python 3.5 and Python 3.8"
Since the codebase started using f-strings around version 1.0.0, the only latest version that can be used with Python 3.5 is 0.25.3.

On the other hand, if another package specified dependency as `pandas==0.25.3`, PyPI will not have a pre-compiled Wheel for that (only source distribution). However, compiling those sources fails with modern GCC / CLang and Python 3.8.

Our code must support Python

[2020-05-21 09:40] datapythonista commented on #30964
Thanks for the triaging. In my opinion we could delete the wiki page now. @simonjayhawkins do you think that wiki page can be deleted, or do you think some content is still useful, and should be moved to the docs?

[2020-05-21 10:28] sjvdm opened #34290 "dt.total_seconds() stores float with appending 0.00000000000001"
Simple test to show that if I have two datetime columns and use dt.total_seconds() to calc the difference, values are stored with an offset of 0.00000000000001.

[code]

iPython code:

[code]

Output:

[code]

[2020-05-21 10:56] jreback commented on #34289
i am not of the point of this issue. we dropped 3.5 as did the community. you are welcome to fork or support it privately.

[2020-05-21 10:56] #34289 closed

[2020-05-21 11:03] simonjayhawkins commented on #30964
Some observations on the sections in Tips & Tricks for pandas dev

---
Testing for versions

This refers to the use of LooseVersion. Quick search does not find `LooseVersion` in the docs.
The example uses `LooseVersion(np.__version__)>='1.7.0'`. For numpy we use _np_version_under1p16 etc from pandas.compat.numpy
For testing we generally use skip_if_no etc from pandas.util._test_decorators unless w

[2020-05-21 11:27] wicky1234444 commented on #34288
Hi @MarcoGorelli , I am new to open source. Can i work on this?

[2020-05-21 11:32] MarcoGorelli commented on #34288
@wicky1234444 sure, pull requests are welcome - see the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started, and feel free to ask for help

[2020-05-21 11:34] wicky1234444 commented on #34288
Thanks. I will got through the contributing guide and start on the issue.

[2020-05-21 11:40] simonjayhawkins commented on #24798
@matteosantama Thanks for looking into this.

The return type is None, when inplace=True, so effectively assigning None to `B`

[code]

to parameterise over inplace parameter you will need to use the the following pattern in the test

[code]

also note that `pd.DataFrame({"A": [1, 2, 3], "A": [4, 5, 6], "B": [7, 8, 9]})` does NOT create a dataframe with duplicate column names.

[code]

you could u

[2020-05-21 13:53] dsaxton commented on #34279
Yes, it looks like this was broken at least on 1.0.1 and 1.03, but going to close since it seems to be fixed on master

[2020-05-21 13:53] #34279 closed

[2020-05-21 14:53] Akshatt commented on #34288
Hi @MarcoGorelli, is the issue assigned already? If not can i work on this issue too? I'm new as well

[2020-05-21 14:56] MarcoGorelli commented on #34288
Looks like @wicky1234444 is already working on it (if so, @wicky1234444 , please comment 'take' so the issue is assigned to you)

[2020-05-21 14:57] wicky1234444 commented on #34288
@MarcoGorelli iam   working on it.

[2020-05-21 15:02] CuylenE opened #34292 "BUG: join between df with a single index and df with a multiindex are always inner joins"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

Joining a df with 1 index and a df with a multiindex always generates an inner join, no matter the value of "how". In

[2020-05-21 15:30] ieaves opened #34295 "BUG: `is_string_dtype` incorrectly identifies categorical data"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

The current implementation of `is_string_dtype` incorrectly evaluates to True for categorical series.

#### Expected Output

[code]

###

[2020-05-21 16:12] philippegr opened #34297 "BUG: Subsequent calls to df.sub() are much faster than the first call"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

There is a significant difference in speed between the first and second call to `sub` (which

[2020-05-21 16:16] TomAugspurger commented on #34297
Is it from allocating the hashtable for the index(es)?

Can you profile the first and subsequent calls with snakeviz and see what differs?

[2020-05-21 16:18] philippegr commented on #34297
Output of %prun for first call

`
        12965040 function calls (12964951 primitive calls) in 11.296 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
  2592030    7.151    0.000    8.919    0.000 datetimes.py:476(<lambda>)
        1    1.316    1.316    1.316    1.316 {pandas._libs.lib.fast_zip}
  2592035    0.917    0.000    1.472

[2020-05-21 16:19] philippegr commented on #34297
And for the second call
[code]

[2020-05-21 16:29] philippegr commented on #34297
So, in more graphical view, this is what comes inside `_align_frame` that seems to differ
First call
![Screen Shot 2020-05-21 at 12 27 28 PM](https://user-images.githubusercontent.com/11066355/82581466-9c50e600-9b5e-11ea-94ac-c1ea6b1d68c2.png)
Second call
![Screen Shot 2020-05-21 at 12 27 43 PM](https://user-images.githubusercontent.com/11066355/82581474-9fe46d00-9b5e-11ea-85a0-74b3f83cb141.png)

[2020-05-21 16:40] matteosantama commented on #24798
@simonjayhawkins Oops! Good catch, new here so trying to get my bearings. 1A) still seems to be partially broken.

[code]

If you point me in the right direction I can take a crack at it.

[2020-05-21 17:00] Denisolt opened #34298 "sum() after groupby returns different value compared to regular sum()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
The output of the code is:
[code]

For some reason, the summation of values after groupby is d

[2020-05-21 17:20] wvxvw commented on #34289
This is super rude... What if I actually wanted to fork, might you at least give some pointers, you know, some commits I'd have to revert to undo this change etc?

Also, what about if I wanted to patch 0.23.5 to get it to work with newer Python. Would you at least care to tell me if you'd accept patches against this version?

I mean, of course you are well aware that no not upstream fork of the li

[2020-05-21 17:39] jreback commented on #34289
@wvxvw the community has moved on from 3.5. We are all volunteers and are not supporting it any longer. As I said (nicely) above, you can do what you want. Even providing help is out of scope for this. We in fact DID provide some support for folks who wanted to continue providing patches for 2.7, but that was not picked up by anyone.

Volunteer projects (pretty much the entire ecosystem) can suppo

[2020-05-21 17:53] WillAyd commented on #34298
Unless I am misreading the number of significant digits here I think just a limitation of floating point arithmetic

[2020-05-21 18:23] mcepl opened #34299 "BUG: TestMergeDtypes.test_merge_on_ints_floats_warning fails (Linux/openSUSE/Factory)"
- [X] I have checked that this issue has not already been reported (cannot find any ``test_merge`` issue)

- [X] I have confirmed this bug exists on the latest version of pandas (testing on 1.0.3, which is the latest released).

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas. (This happened while building the package for openSUSE, so we care to use only officially

[2020-05-21 18:52] simonjayhawkins commented on #24798
inplace was not included in the OP (only as a comment) and appears to still be broken. can you see if we have an issue for this. (maybe raise one)

to close this issue, an more importantly to add tests to prevent regression from master for the working cases fixed in #32477 we can xfail the inplace tests for now if necessary.

can you submit your current changes as a PR as this will make it easier

[2020-05-21 19:07] jamestwebber opened #34300 "ENH: add an option to not install the tests"
We've been using pandas as part of a project running on AWS lambda, which means we need it installed as a layer, and layers need to have a total size (when zipped) of 50MB. This is tricky with libraries like pandas which are pretty big (installed size for me is 41 MB by itself, although it compresses to less).

There are existing layers for pandas which we've been using, but recently I looked into

[2020-05-21 19:16] philippegr commented on #34297
This definitely has something to do with `ref_df` index being of type `str`
[code]

[2020-05-21 19:18] charlesdong1991 commented on #34300
xref #30741

[2020-05-21 19:24] jamestwebber commented on #34300
Whoops, I searched but didn't find that issue!

[2020-05-21 19:26] mroeschke commented on #34300
Thanks for the suggestion, but since this looks like a duplicate of #30741, going to close in favor of that issue.

[2020-05-21 19:26] #34300 closed

[2020-05-21 19:26] jbrockmendel commented on #34297
Looks like there is some low-hanging fruit in MultIIndex.equals, since it is going through

[code]

Its the `self._values` that is taking up most of the time here.  could be pre-empted by any number of things, for starters a length-check

[2020-05-21 20:53] #34295 closed

[2020-05-21 21:01] philippegr commented on #34297
Is that what gets computed (cached?) upon first call (hence the delay) and thus why it is faster afterwards?

[2020-05-21 21:12] matteosantama commented on #24798
Understood. I will submit a PR. It's still failing one test, and the issue that when a DataFrame column is initialized with a pd.NA entry, the dtype is object, but when you replace with pd.NA the dtype is float64.

[code]

[2020-05-21 21:42] lukestanbra commented on #25472
OK - that's good to know. Gets a bit too into the internals for me to follow, but was interesting to see how you all talk about this kind of stuff. If anyone else stumbles across this the relevant issues are [33254](https://github.com/pandas-dev/pandas/issues/33254), [32586](https://github.com/pandas-dev/pandas/issues/32586) and [33607](https://github.com/pandas-dev/pandas/pull/33607)

[2020-05-22 01:14] jbrockmendel commented on #34290
I cant reproduce this on OSX (py37) or Ubuntu (py36).  @sjvdm can you get this in any other python versions?

[2020-05-22 03:13] mroeschke commented on #13242
Looks like all the above are implemented. Going to close this issue

[2020-05-22 03:13] #13242 closed

[2020-05-22 03:51] matteosantama commented on #29461
Ran into this issue today. Proposed solution is to add `.strftime()` method to `Timestamp` object in `pandas/_libs/tslibs/timestamps.pyx`.

Is the best route to reimplement the method? I think ideally it would look something like this

[code]

but I can't think of an elegant `else` clause.

[2020-05-22 07:16] jbesomi commented on #34177
Hi @TomAugspurger, I'm working on a side project with Pandas and need this problem to be fixed. I would love to help you. Can you please explain me how I should proceed to first understand the issue and then fix it? Thank you.

[2020-05-22 07:56] tosingithub opened #34303 "BUG: read_csv() encoding latin1 gives KeyError on 1st column in new version 1.0.3"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-22 07:58] sjvdm commented on #34290
Ok so I reproduced this at 2 other versions:

- 2.7 (see code below). Pasted the code just as is into the console (I just updated to also import datetime).
- 3.8.2 (via this online editor - https://repl.it/repls/KnownConcernedInsurance)

The result of total_seconds() seems to be stored as 120.00000000000001

[code]

[2020-05-22 08:10] sjvdm commented on #34290
May also be related to floating point precision as a colleague pointed out: https://www.python.org/dev/peps/pep-0485/

[2020-05-22 08:48] dmirecki opened #34304 "BUG: Setting the index changes dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-22 09:01] joooeey commented on #34280
@MarcoGorelli I get a similar error when running Python directly in Anaconda Prompt:
[code]

[2020-05-22 09:34] gertjac commented on #34035
Just discovered that this bug has been already reported: https://github.com/pandas-dev/pandas/issues/29252

[2020-05-22 09:41] #34228 closed

[2020-05-22 09:50] MarcoGorelli opened #34305 "DOC: "Setting layouts" plots are hard to read"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/dev/user_guide/visualization.html#using-layout-and-targeting-multiple-axes

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

This is hard to read:
![image](https://user-images.githubusercontent.com/33491632/82655302-e2b74b00-9c19-11e

[2020-05-22 09:58] #28813 closed

[2020-05-22 10:36] simonjayhawkins opened #34306 "CI: Web and docs failing with AttributeError: module 'numpy.random' has no attribute 'BitGenerator'"
https://github.com/pandas-dev/pandas/runs/699199396

[2020-05-22 11:21] jorisvandenbossche commented on #32265
I opened a PR (https://github.com/pandas-dev/pandas/pull/34307) for this first part I proposed above: a masked array-based `FloatingArray` extension array (for now, in that PR, postponing the NA/NaN decision)

[2020-05-22 11:33] simonjayhawkins commented on #28641
xref https://github.com/pandas-dev/pandas/pull/33098

[2020-05-22 11:50] wicky1234444 commented on #34305
@MarcoGorelli can i do this?

[2020-05-22 11:53] SebastianB12 commented on #29570
I got the same problem in version 1.0.3

[2020-05-22 12:23] fentonscode commented on #4793
Bug is still persistent in 1.0.3 as of today. Replicated with all combinations of the Python UTF 8 encoding string with or without hyphens, underscores and "sig" extensions. Stepping through some of the code was showing that the encoding was stuck in code-point 1252 for a very long time before it became read as UTF8 - Is it not being set early enough?

- OS: Windows 10 x64
- Python: 3.7.4
- Versio

[2020-05-22 13:04] sbrugman opened #34309 "BUG: StringArray non-extensible due to inconsisent assertion"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-22 13:15] jorisvandenbossche commented on #34309
This specific assert could be fixed, but in general: I am not sure we already want to commit to have those classes be "public" for subclassing (they are of course public for *using* them, but subclassing will typically depend more on implementation details).
Those classes are still quite experimental, so I don't think we want to give any guarantees about this.

[2020-05-22 13:24] TomAugspurger commented on #34177
Great, thanks.

I would start with the `Series.op(Series)` case, and then work up to Series
& Frame and Frame & Frame.

Series._binop is probably the place this should go. We'll need a call to
`NDFrame.__finalize__` somewhere in
https://github.com/pandas-dev/pandas/blob/42a5c1c1aac401735a9e06e21fece93f58a4b4ec/pandas/core/series.py#L2593-L2627.
Perhaps it could be done as part of `_construct_resul

[2020-05-22 13:28] sbrugman commented on #34309
It's clear from the documentation that these classes are still experimental and could change at any time.

Motivations for this change could be:
- The current assertion statement is inconsistent with type checking elsewhere in the same class:
https://github.com/pandas-dev/pandas/blob/88234ad8f82e518a4cda906edf8d7482d9938e3a/pandas/core/arrays/string_.py#L271
- [The project](https://github.com/dyla

[2020-05-22 13:28] TomAugspurger commented on #34309
I'm a bit confused about the use-case here. What are you gaining by subclassing StringArray / StringDtype, rather than ExtensionArray / ExtensionDtype?

[2020-05-22 13:28] jorisvandenbossche opened #34311 "BUG: op(frame, series) raising NotImplementedError with extension dtypes"
[code]

[2020-05-22 13:39] jorisvandenbossche commented on #34311
This is apparently a regression on master

[2020-05-22 13:52] sbrugman commented on #34309
Extending StringArray/StringDtype achieves data abstraction for types that semantically differ, but have the same machine representation (in this case string).

The code example provides an example, where the programmer may use the _MyExtensionDtype_ to denote specific contents, while the machine represents this as a string, without adding unnecessary boilerplate code.

For instance, storing a pat

[2020-05-22 14:00] jorisvandenbossche commented on #34311
I suppose this was caused by https://github.com/pandas-dev/pandas/pull/31296

[2020-05-22 14:01] MarcoGorelli commented on #34305
Sure, go ahead - if you leave a comment with the word 'take' the issue will be assigned to you

[2020-05-22 14:12] simonjayhawkins opened #34313 "DEPR: pd.lreshape"
xref https://github.com/pandas-dev/pandas/pull/33418#pullrequestreview-390789474

[2020-05-22 14:13] MarcoGorelli commented on #32073
Hi @AnnaDaglis - looks like the linked PR went stale (unfortunately), are you still interested in working on this?

[2020-05-22 14:14] simonjayhawkins opened #34314 "DEPR: pd.wide_to_long"
xref https://github.com/pandas-dev/pandas/pull/33418#pullrequestreview-390789474

[2020-05-22 14:23] simonjayhawkins commented on #25648
This needs further discussion, see #33023

[2020-05-22 14:24] anemerovsky-essextec commented on #34298
The question I have is, since these are both pandas operations, should we expect these values to be exactly the same or not?

[2020-05-22 14:32] victorbrjorge opened #34315 "EHN: Implement closed=left|right|neither in DataFrame.rolling for fixed windows"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The rolling window ignores the closed='left' parameter. Since it was supposed to be closed on

[2020-05-22 14:34] wicky1234444 commented on #34305
take

[2020-05-22 14:36] MarcoGorelli commented on #31965
Thanks @mankoff for the report - closing as (from what I've understood by following the link) this isn't a bug in pandas, but please do let me know if I've misunderstood

[2020-05-22 14:36] #31965 closed

[2020-05-22 14:43] jorisvandenbossche commented on #33457
@jbrockmendel would you be able to look into this?

[2020-05-22 14:54] jorisvandenbossche commented on #34313
What is the alternative?

(to be clear: I personally never use this function, but if we want to consider deprecation, someone needs to show some use case of it and the alternative for each of them and argue why it can be removed)

[2020-05-22 14:55] jorisvandenbossche commented on #34314
What is the alternative?

(to be clear: I personally never use this function, but if we want to consider deprecation, someone needs to show some use case of it and the alternative for each of them and argue why it can be removed)

[2020-05-22 15:05] jorisvandenbossche commented on #34290
I can "reproduce" this (on linux). Using a simpler example, with Timedelta scalar it doesn't give the issue, with TimedeltaArray ti does:

[code]

But, it's quite probably indeed a floating point precision issue that can be ignored. `total_seconds` is implemented like:

[code]

[2020-05-22 15:06] simonjayhawkins commented on #34313
There has been some previous discussion on this topic in #15003.

[2020-05-22 15:06] simonjayhawkins commented on #34314
There has been some previous discussion on this topic in #15003.

[2020-05-22 15:07] jorisvandenbossche commented on #34290
The `Timedelta` scalar version (inherited from `datetime.timedelta` is implemented with a division instead of multiplicatio. That seems to make the difference:

[code]

[2020-05-22 15:08] jorisvandenbossche commented on #34280
@joooeey in your last output, can you run `python` from a different directory? (not from within the pandas repo)

[2020-05-22 15:11] MarcoGorelli opened #34316 "BUG: don't plot colorbar if c is column containing colors"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-22 15:16] #29612 closed

[2020-05-22 15:21] MarcoGorelli commented on #28903
Thanks @ingrid88 for the report, as far as I can tell the
[code]
import is missing.

Are you interested in submitting a pull request?

[2020-05-22 15:22] joooeey commented on #34280
Running from `c:\`, I get the same traceback.

[2020-05-22 16:09] simonjayhawkins commented on #29264
closing as duplicate of #24019

[2020-05-22 16:09] #29264 closed

[2020-05-22 16:26] dechamps opened #34318 "BUG: "IndexingError: Too many indexers" when accessing a None value using .loc through a MultiIndex"
#### Steps to reproduce

[code]

#### Expected output

[code]

#### Actual output

[code]

#### Additional information

If any value other than `None` (even `np.nan`) is used, the code behaves correctly.

If a single index level is used, the code behaves correctly.

#### Workaround

Seems to work if `.loc(axis=0)[('Level1', 'Level2')]` is used instead.

#### Output of ``pd.show_versions()``

<deta

[2020-05-22 16:38] wicky1234444 commented on #34305
@MarcoGorelli  i changed the code in doc/source/user_guide/visualization.rst , but when I tried to build the docs using python make.py html, there are no images generated in the  doc/build/html/user_guide/visualization.html.  The images in the html page looks like these,
![Annotation 2020-05-22 220745](https://user-images.githubusercontent.com/29908168/82689850-c1397c00-9c78-11ea-8b68-c1aae807da68

[2020-05-22 16:58] simonjayhawkins commented on #29966
closing as duplicate of #21108

[2020-05-22 16:58] #29966 closed

[2020-05-22 17:01] jbesomi commented on #34177
Great, thank you. Will start from Series._binop then.

"As I mentioned earlier, it's not 100% clear how we'll propagate metadata / `.attrs` when the values differ": what do you mean with values differ?

A related yet-different problem is to assign to a new or existing column of a pandas Dataframe a pandas Series containing metadata. Also in this case the metadata information is lost. Do you think

[2020-05-22 17:34] simonjayhawkins commented on #30668
Thanks @henighan for the report.

This looks to be fixed on master.

[code]

just need a test to prevent regression and close this issue.

PRs or further investigation welcome.

[2020-05-22 17:35] asundt opened #34319 "BUG: Fillna with timedelta min/max overflow"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-22 17:39] sahilpatni95 commented on #33851
I am a new in contributor and have never really done this so I have a question that I hope you can answer.

[2020-05-22 18:07] jorisvandenbossche commented on #34318
@dechamps thanks for the report!

Using an example that is not of length-1 (that doesn't seem to matter):

[code]

So it is indeed only when the Series value that gets accessed is actually `None`

[2020-05-22 18:10] jolespin opened #34320 "ENH: `name` attribute for pd.Interval"
#### Is your feature request related to a problem?

No
#### Describe the solution you'd like

`pd.Interval(x, y, name="Feature")`

#### API breaking implications

Not that I know of.

#### Describe alternatives you've considered

Tried `setattr`

[2020-05-22 18:17] MarcoGorelli commented on #34305
Are the images generated if you don't change the code in `doc/source/user_guide/visualization.rst`?

btw, instead of building the whole docs, it should be enough to do
[code]

[2020-05-22 18:18] jorisvandenbossche commented on #34318
The problem lies here:

https://github.com/pandas-dev/pandas/blob/a9ad632159278701a3efd440bf4a30f1ab4d72f9/pandas/core/indexing.py#L819-L821

If the result is `None`, we continue with other code (that then incorrectly raises), and this `_handle_lowerdim_multi_index_axis0` method returns None to indicate an error happened. However, it can also return `None` when that was the result of indexing (as

[2020-05-22 18:27] jbrockmendel commented on #33457
probably not before 1.1; im expecting my pandas time to diminish and am focused on wrapping uo frequencies and ops pushes ATM, will return to indexing after those

[2020-05-22 18:31] jorisvandenbossche commented on #33457
OK. Alternatively, could you take a minimal look at your original PR that caused this regression (https://github.com/pandas-dev/pandas/pull/32831) to see if you have an idea how (broadly speaking) it could be solved there? That could help me getting started on trying to fix this myself.

This is a regression in master, so a blocker for 1.1, IMO

[2020-05-22 18:40] MarcoGorelli commented on #29460
Thanks @thehalftruth for the report

Seems this only happens when `subplots=True`

[2020-05-22 18:47] jbrockmendel commented on #33457
ill take a look

[2020-05-22 18:56] MarcoGorelli commented on #29460
take

[2020-05-22 19:56] vipulrai91 commented on #34272
Does this needs to be fixed ? Since mentioned here 'https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

This says it is deprecated.

[2020-05-22 20:39] TomAugspurger commented on #34129
Gotcha, thanks. So it's just `col_level != 0` that's failing.

Are you interested in working on this?

[2020-05-22 20:41] dsaxton commented on #34320
I don't believe this is supported in general for pandas scalars (e.g., Timestamp or Period). What would be the use case for this?

[2020-05-22 21:06] rohitdhonicsk commented on #34274
u need to convert int data to string.

[2020-05-22 21:42] jolespin commented on #34320
I work in bioinformatics and genomics.  I was thinking this interval object can be uses as genes.  For example, on a chromosome there will be multiple genes.

Interval(2,100, name=gene_1) and Interval(200,500,name=gene_2)

What are your thoughts? Would this cause any internal issues?

[2020-05-22 23:39] #34306 closed

[2020-05-22 23:49] #32380 closed

[2020-05-23 00:24] dsaxton commented on #34320
I think in general intervals are thought of as having only endpoints (it's the _gene_ that you want to name rather than the interval itself). How about using a custom gene class that has left and right endpoints as well as a name (which could then be wrapped in a Series if need be)?

[2020-05-23 00:54] sorenwacker opened #34326 "ENH: pd.DataFrame.plot.hist() does not use sharex argument"
The command

    df.plot.hist(subplots=True, layout=(4, 4), figsize=(15,10), sharex=False, sharey=False)

produces a grid of histograms. Unfortunately, sharex and y arguments are not taken into account and the plots all share the same axis. This only makes sense if all columns have the similar scales. But in general this behaviour is not very useful. Apparently, `df.plot.density()` accepts the key

[2020-05-23 01:05] sorenwacker opened #34327 "ENH: Add hue functionality to df.hist()"
The following command:

    df.hist(layout=(4, 4), figsize=(15,10), bins=30)

produces a grid of histograms. I would like to group the data by a column value and plot the corresponding histograms in the same plot with different colors. Unfortunately, the `by=` argument generates subplots. And plots all the data regardless the scale in as many subplots as unique values in the dataframe.

I wonder i

[2020-05-23 01:19] soerendip opened #34328 "ENH: Don't omit columns with categorical data in df.hist()"
For some strange reason `df.hist`  can plot categorical features where features are given as string values.

     df.cat.hist()

If the dataframe in column "cat" contains string type values the histogram is generated correctly.

But when called like this `df.hist()` the  corresponding plot is left out. Along the lines, it would be nice if `df.bool.hist()`, where "bool" contains boolean values, wou

[2020-05-23 01:23] ashtou commented on #34129
@TomAugspurger, please have a look at my pull-request

[2020-05-23 03:15] jolespin commented on #34320
Yea that’s a good idea.  I could also just use it in a series.

[2020-05-23 04:18] mroeschke commented on #34320
I'd be -0.5 on adding a name attribute to `pd.Interval`. In addition to the precedent set by the other pandas scalars, I think this would complicate notions of equality between the between two `Interval` scalars

[2020-05-23 04:22] #34288 closed

[2020-05-23 06:02] dwintergruen opened #34331 "BUG: writing dataframe to excel if one of the rows has name "render" fails"
I try to write an dataframe to excel with excel. It fails if a row is called "render".

Pandas version 1.0.3

Reproduce with:
s1 = pandas.Series(("1","2"),index=["a","b"])
s2 = pandas.Series(("3","4"),index=["b","b"])

df = pandas.DataFrame({"render":s1,"huhu":s2})
df.to_excel("/tmp/out.xlsx")

gives:

AttributeError                            Traceback (most recent call last)
<ipython-input-44-02

[2020-05-23 06:12] MuditJ opened #34332 "ENH: A keep_fields type argument for merge operation"
#### Is your feature request related to a problem?

It would increase user convenience if there were an argument where the user could specify the fields from the two data frames to be be merged which should be kept(or alternatively, a discard_fields column to specify which ones should be discarded)

This would make the merge operation more analogous to its SQL counterpart

#### Describe the soluti

[2020-05-23 06:18] #34332 closed

[2020-05-23 06:29] jolespin commented on #34320
I agree, you bring up a good point.  A custom class with inheritance seems like it would be the best option. Closing this issue now.  Thanks for considering and the suggestions.

[2020-05-23 06:29] #34320 closed

[2020-05-23 07:25] wicky1234444 commented on #34305
@MarcoGorelli  i tried building docs from my master branch using the above commands, the output of visualization.rst html file still doesnt have any images.(I haven't made any changes to master branch and it is up to date with the changes in pandas-dev/pandas repository).

[2020-05-23 09:13] arredond commented on #34272
Well, I'm not proposing that the behavior be reinstated, just that the KeyError that is thrown be more verbose about what keys are actually missing

[2020-05-23 09:26] phofl commented on #34331
I tested your example on master and got a different traceback

[code]

[2020-05-23 10:04] vipulrai91 commented on #34272
I agree , what I meant that this was purposely deprecated to use .reindex() as per doc.
And as you already mentioned it would require iterating through all the elements , I am also of the view that this was done to increase performance.
Just adding my understanding.

[2020-05-23 10:34] gauravchandok commented on #33888
Is someone working on this issue or can I take it?

[2020-05-23 10:39] gauravchandok commented on #20688
Can I work on this issue?

[2020-05-23 10:46] MarcoGorelli commented on #33888
@gauravchandok sure, pull requests are welcome if you think the docs can be clarified

[2020-05-23 10:49] arredond commented on #34272
I may have expressed myself wrong, sorry if that's the case.

When I've run into this error, I _thought_ all the columns I was wondering were present, but that actually wasn't the case. Many times, I had DataFrames with hundreds of columns were maybe just one was missing from the list-like indexer, generally because of a typo in the original CSV I had read.

Since the error gives no information ab

[2020-05-23 11:11] sam-habitat commented on #20688
@gauravchandok who do you think will stop you? :p

I'd very much encourage you to, you might find https://pandas.pydata.org/pandas-docs/stable/development/contributing.html helpful

[2020-05-23 12:00] jorisvandenbossche opened #34336 "REGR: concat of Sparse with incompatible dtype now gives Sparse[object] instead of object"
Regression on master related to the `common_dtype` mechanism, I suppose:

[code]

(and the same on v0.25.3)

But on master:

[code]

[2020-05-23 12:24] jorisvandenbossche commented on #34336
So actually the behaviour is a bit more complicated ..

This is also on pandas 1.0.3:

[code]

So my original example with a string categorical, that resulted in `object` dtype, but a plain string series, results in `Sparse[object]` ..

I am not fully sure whether we should always try to preserve "sparseness" (so giving `Sparse[object]`) or follow the "normal" rule (concatting incompatible dtypes

[2020-05-23 13:17] #34191 closed

[2020-05-23 13:20] jorisvandenbossche commented on #34298
They use a different implementation (the plain Series.sum uses `np.sum` under the hood, the groupby sum uses a custom "grouped" sum implementation in cython, I *think*). So once there is a different implementation, tiny floating point differences are difficult to exclude

[2020-05-23 14:41] phofl commented on #34304
I think I figured out were things go wrong here. Can someone help me out a bit to figure out, if this behavior is intentional or not? The dtype is changed at

https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/numeric.py#L68

The function `is_dtype_equal` checks if the source dtype equals `np.uint64` in this case in

https://github.com/pandas-dev/pandas/blob/master/pandas/core/dt

[2020-05-23 15:00] jreback commented on #34304
see #30517 and the linked PR (closed) with 2
more issues: #27370

you are welcome to wade thru that discussion and potential resolution

closing this as duplicate

[2020-05-23 15:01] #34304 closed

[2020-05-23 15:07] phofl commented on #34273
If you join with `left_on` and `right_on` both columns are in the output, if they have different names.  So you will see `NA`, where a value is missing. If you join with `on`, the left and right column must have the same name, so the union is in the output, if you use an outer join.

Your examples are not equivalent. If you change your first example to

[code]

you will get the same result.

[2020-05-23 15:09] dwintergruen commented on #34331
Correct, sorry made a copy and paste error into the bug report.

should be

s1 = pd.Series(("1","2"),index=["a","b"])
s2 = pd.Series(("3","4"),index=["a","b"])
to reproduce the error.

[2020-05-23 15:15] monkeydragon commented on #28903
Hey, I can take this.

[2020-05-23 15:25] matteosantama opened #34341 "BUG: Failing clipboard tests"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Final three tests fail. Looks like the test is designed for Windows, I'm running a Mac. The t

[2020-05-23 15:35] gsyqax commented on #28903
I can do it.

[2020-05-23 16:02] MarcoGorelli commented on #28903
Pull requests are welcome, just comment 'take' please so the issue is assigned to you

[2020-05-23 16:14] gsyqax commented on #28903
Take

[2020-05-23 16:16] sambafall commented on #34273
Hello, thanks for your answer. Why does the column name matter? The merge is done by matching the columns content right? Not the name, so calling it 'aa' or 'ab' should therefore give the same output?

[2020-05-23 16:21] phofl commented on #34273
Yes of course, but `left_on` and `right_on` keeps both columns, if they have different names. So you get your result. If both columns have the same name, the union of both columns is in the output.

Just try my example, the result is the same as your second examples result.

[2020-05-23 19:50] Denisolt commented on #34298
@jorisvandenbossche Interesting, so I decided to try it out with `np.sum`.
[code]
I assume in this case it would use the `np.sum`, and the values should be the same, however that is not the case.
The result of this snippet is the same as the variable `sum_mult_v1` - the regular  "grouped sum".

I have also attempted to do the same with a custom summation function:
[code]
Interestingly enough the r

[2020-05-23 20:17] #34341 closed

[2020-05-23 20:51] tuhinsharma121 commented on #10534
I tried using your solulition:-

[code]

But it removes the "," from the column values.

[2020-05-23 21:16] dsaxton commented on #34328
This doesn't seem to be specific to Categorical, the same thing happens if you have strings of object dtype.

Actually, this feels more like a bug in Series.hist rather than an issue with DataFrame.hist since the generated plot in the Series case is not a histogram but a bar plot (you can't create histograms from qualitative data).

[2020-05-23 21:31] dsaxton commented on #34319
Thanks for the report. Can reproduce on 1.0.3 and looks to be fixed on master:

[code]

[2020-05-23 21:31] #34319 closed

[2020-05-23 22:03] rythmrana2 commented on #17275
i am facing the same problem,i even used the print(X.columns) and it showed the index 'exposure_end' but when i ussed it in centroids_new=X.groupby(["clusters"]).mean()[["exposure_end","Duration"]] it is showing the error 'exposure_end' not in index.please help i am stuck here for the past two hours.

[2020-05-23 22:04] matteosantama opened #34348 "BUG: Clipboard tests failing in Dockerfile"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
Last three clipboard tests are failing in a Docker image running on Mac. Dug into the pypercli

[2020-05-23 23:17] vampypandya commented on #29102
Is this issue still open? Can I take it?

[2020-05-23 23:31] manasjoshi14 commented on #34271
Confirmed on Ubuntu 18.04, Python 3.8.2, Pandas 1.0.3.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

The issue lies in function "first()". It works inplace and modifies the GroubBy object removing the "group" column.  Same happens with the function "nth".

I can take this if this is a bug

[2020-05-24 01:58] soerendip commented on #34328
Then this bug is a feature that should be integrated in df.hist, if you ask me. For low cardinality a bar plot should be generated.

________________________________
From: Daniel Saxton <notifications@github.com>
Sent: Saturday, May 23, 2020 3:16:26 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Sören <soerendip@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [pandas-dev/pand

[2020-05-24 03:23] ricalanis commented on #30668
take

[2020-05-24 07:25] rythmrana2 commented on #17275
i found the solution for my problem.
i was using the above said statement that centroids_new=X.groupby(["clusters"]).mean()[["exposure_end","Duration"]] i used x.mean(axis=1)above this statement and then used the statement
 centroids_new=X.groupby(["clusters"]).mean()[["exposure_end","Duration"]] without the mean and it worked fine. was not able to use axis in the statement before because it wasnt

[2020-05-24 07:26] rythmrana2 commented on #17275
i found the solution for my problem.
i was using the above said statement that centroids_new=X.groupby(["clusters"]).mean()[["exposure_end","Duration"]] i used x.mean(axis=1)above this statement and then used the statement
centroids_new=X.groupby(["clusters"]).mean()[["exposure_end","Duration"]] without the mean and it worked fine. was not able to use axis in the statement before because it wasnt

[2020-05-24 08:05] wangxiaoying commented on #9096
got the same problem in pandas 1.0.3

[2020-05-24 08:08] jorisvandenbossche commented on #34298
Actually not, as pandas is "too smart" here, and when it sees `np.sum`, it will still use the optimized cython grouped-sum instead.

But if you put the `np.sum` in a lambda, then pandas won't optimize it and actually call `np.sum`, and then you see the result is the same as summing the full columns:

[code]

[2020-05-24 08:53] jorisvandenbossche commented on #34233
Relevant issue about this: https://github.com/pandas-dev/pandas/issues/27911

[2020-05-24 09:40] ramimohammad opened #34350 "retrieve unwanted things later"
If I'm trying to make some data processing and I want to hide unwanted symbols or html codes during processing stage and I want to popup those unwanted things again on their origin place within the text after finishing.

My question is : is that doable ? if yes .. how to do that ?

Thanks

[2020-05-24 09:41] ramimohammad commented on #34350
let me show you an example : on of the xlsx sheet cells : "What will the font size of the link be? <div class="primary"> <a href="#" class="link">Home</a> </div> <style> .primary a { font-size: 16px; } div a.link { font-size: 20px; } </style> "

for example I want to leave " What will the font size of the link be?" part to be translated to another language without "<div> ... <style> .. etc" conten

[2020-05-24 09:48] ramimohammad commented on #34350
to make clear .. let's say we have a xlsx sheet with text mixed with those html codes or symbols ... we need to translate text without html codes then we need them back with the newly translated text side by side on their origin place. I hope it's clear now.

[2020-05-24 09:58] MarcoGorelli commented on #34350
Hi @ramimohammad

to be honest, it's not clear to me. Anyway, is this relevant to pandas? Have you tried asking on stackoverflow?

[2020-05-24 10:14] MarcoGorelli commented on #31691
Hi @xuancong84

Are you interested in submitting a PR?

[2020-05-24 10:23] ramimohammad commented on #34350
Hi @MarcoGorelli  , yes I'm using pandas , and yes I asked on stackoverflow but no answer till now.

[2020-05-24 10:27] ramimohammad commented on #34350
@MarcoGorelli I'll show an example of what I'm trying to do.

let's say I have the following two cells

26  Assuming this is the only css on the page, how wide will the box be when its rendered .box{         Width: 100px;         Height: 50px;         Padding: 5px;         Border: 1px solied red;         Background-color: red; }

27  What will the font size of the link be? <div class="primary">

[2020-05-24 10:40] farhanreynaldo opened #34351 "BUG: set Index parameter to False in Index.to_series doesn't work as expected"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-05-24 12:26] MarcoGorelli opened #34353 "ENH: should users be able to adjust subplot parameters?"
Noticed this while reviewing #34343

Currently, the example in the doc would look like this:
![image](https://user-images.githubusercontent.com/33491632/82753854-0799f280-9dc1-11ea-9675-7716dd75162f.png)

IMO there's insufficient separation between the subplots. If we change [this line](https://github.com/pandas-dev/pandas/blob/cb35d8a938c9222d903482d2f66c62fece5a7aae/pandas/plotting/_matplotlib/b

[2020-05-24 13:06] xuancong84 commented on #31691
Sorry, what is PR?

[2020-05-24 13:22] MarcoGorelli commented on #34350
Thanks @ramimohammad for the details

Closing as this is really the kind of question you'd want to ask on StackOverflow (if you include a minimal complete verifiable example, you'll usually get an answer), the issue tracker here is more intended for pandas development

[2020-05-24 13:22] #34350 closed

[2020-05-24 13:22] alimcmaster1 commented on #34350
This sounds like a css/html issue - stackoverflow is a better place for this kind of question @ramimohammad feel free to reopen if there is a pandas specific issue.

[2020-05-24 13:30] MarcoGorelli commented on #15111
Have read through the thread, but it's not clear where the pandas team stands - would a `DataFrame.zscore` be welcome? If no, am I OK to close the issue (there seems to be strong agreement to not have something like `.drop_outliers`)

[2020-05-24 13:36] MarcoGorelli commented on #31691
PR = Pull Request, see [contributing to pandas](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html)

[2020-05-24 14:16] phofl commented on #34351
I would like to work on this, if this option should be added?

[2020-05-24 15:13] dsaxton commented on #34351
This looks like it's behaving as documented but I'd agree it's a bit unusual and inconsistent with Index.to_frame (personally I think having the index argument be a bool which simply controls whether or not to reuse the Index in the resulting Series is more intuitive and useful). Would probably need some discussion on whether or not to introduce a breaking change here though.

[2020-05-24 15:47] farhanreynaldo commented on #34351
Sure, would really love to solve this issue if the change is necessary.

[2020-05-24 16:10] vijaysaimutyala commented on #30964
@simonjayhawkins @datapythonista I would like to work on the above. This is my first time contributing here. As per above comments, I suppose parts of the wiki should be going here.

[2020-05-24 16:53] ricalanis commented on #30668
Added test with exactly the case you proposed, @simonjayhawkins

I wonder if we should cover any other combination of sparse/dense cases