[2019-10-02 01:52] Nabel0721 commented on #27976
I've been working on this today, and it seems some of this is being caused by decorators. For instance, in strings.py, when the @forbid_nonstring_types decorator is commented out on one of the offending methods, it passes without the error. I've also seen this behavior on the @deprecate_kwarg decorator. I'm not sure what the fix should be yet, I'd have to look into it a bit more.

[2019-10-02 03:15] #21667 closed

[2019-10-02 03:25] stevennic commented on #28740
My personal opinion is that although I agree about the verbosity problem, this does not look like the right solution to me because you would need a different method for each Boolean operator. It also wouldn't cover complex Boolean operations. It's a good temporary shortcut, but if pandas were to be redesigned to improve this problem, my vote would be to focus on eliminating the repetition of `df`

[2019-10-02 06:29] #28656 closed

[2019-10-02 06:43] #28658 closed

[2019-10-02 06:47] jorisvandenbossche commented on #28704
Personally, that seems adding more complexity than worth it for such a corner case in array - frame roundtrip (you would need to ensure that all of the internal code can handle such a dataframe correctly, that all code that expects blocks with values can handle blocks with no values, that this block gets dropped once other blocks are added, ...).

[2019-10-02 06:50] #28678 closed

[2019-10-02 07:14] WuraolaOyewusi commented on #27976
Hi @Nabel0721 . I'm interested in knowing what you find. Thanks

[2019-10-02 07:18] jorisvandenbossche commented on #28095
@jbrockmendel What do you mean with the "breaking arithmetic problem" exactly?
Assuming it is what you raised before about what the resulting dtype would be of eg `Series[datetime64] - pd.NA`, see my response above as well: a possible idea is to add a "NA dtype" to somewhat remediate this case.
It of course won't "solve" it in the sense of keeping the current behaviour. But it can ensure we can wr

[2019-10-02 07:34] danielhrisca commented on #9949
@jreback
if I may, why can't there be a way to allow item assignment avoiding the copy?

[2019-10-02 10:33] dayoreke opened #28747 "DOC: Fixing docstring formatting errors in PR08, PR09 in pandas.io"
Fixing PR08, PR09 errors in pandas.io:
[code]

[2019-10-02 10:35] fparaggio commented on #26144
any news? I see the last activity in may now.

[2019-10-02 10:49] jreback commented on #26144
we have 3000+ issues, how shall we prioritize?

would you help contribute by opening a pull request?

[2019-10-02 11:24] fparaggio commented on #26144
Ok! I'll try.

[2019-10-02 11:24] codinggosu commented on #28546
On it! thanks for the feedback

[2019-10-02 11:29] haeusser commented on #28675
PUSH - this issue is causing serious problems for me. Happy about any feedback.

[2019-10-02 11:37] jreback commented on #15058
This issue just needs a validation test.

[2019-10-02 11:44] #28714 closed

[2019-10-02 12:22] nrebena commented on #28682
Yes there is. You can use the level name in the `where` argument from `select` (or `remove`). The level name default to level_0, level_1 and so on if there were not defined in the index.

[code]

If you have named levels in your index, you can use those.

[code]

[2019-10-02 13:33] jreback commented on #28675
your issue has been open for 3 days

we have 3000, when / if someone has a chance they can look

[2019-10-02 13:51] TomAugspurger commented on #28095
Is the "NA dtype" proposal explained anywhere? IIUC, the idea would be that `Series[T] + pd.NA ->Series[NA]`. But this dtype would only arise in binary operations where one of the operands is an NA scalar?

What do we think about these cases?

[code]

Is it strange that we don't have the property that

[code]

? I'm not sure what to make of it.

[2019-10-02 14:03] dayoreke commented on #28747
Fixing this also
[code]

[2019-10-02 14:30] oyibor commented on #28682
Thank you nrebena,

if I try to select a part of the stored table I get an error which says I have to select the whole table because it has a fixed format:

store = pd.HDFStore(file_name)
idx_0 = df_update.index.get_level_values(0)
idx_1 = df_update.index.get_level_values(1)
result = store.select('table_name', where='symbol in idx_0 and date in idx_1')

or

store = pd.HDFStore(file_name)
idx = df_

[2019-10-02 14:35] #28747 closed

[2019-10-02 14:39] jbrockmendel commented on #22843
agreed on removing from EAs.  It introduces a nasty dependency of the EA code on index/series code.

[2019-10-02 14:51] oyibor commented on #28682
Hello nrebena,

Thank you for your help. It works perfect.
Simply amazing!!!

store = pd.HDFStore(file_name)
idx_0 = df_update.index.get_level_values(0)
idx_1 = df_update.index.get_level_values(1)
result = store.select('table_name', where='symbol in idx_0 and date in idx_1')

[2019-10-02 15:41] chrisstpierre commented on #27357
@jorisvandenbossche just did that.

But I still have `.. deprecated:: 0.25.2`.

Should it be 1.0.0 ?

[2019-10-02 16:13] chrisstpierre commented on #28501
I _think_ that this isn't a bug. NaN is a numerical value. If `dtype=False` we shouldn't infer it to be a numerical value.

[2019-10-02 16:23] Nabel0721 commented on #27976
@WuraolaOyewusi So, it looks like the function `_to_original_callable` in the validation script needs some work. After inspecting one of the offending functions, I found this:
![Pandas decorator issue](https://user-images.githubusercontent.com/11009874/66062111-ccd00b00-e50e-11e9-96eb-d95b533d646d.png)
It looks like the `getfullargspec` function is missing parts of the signature. I think this is b

[2019-10-02 17:09] mrocklin opened #28755 "Groupby count doesn't accept sort= keyword"
Many groupby aggregations like sum, min, max, mean, and so on take a `sort=` keyword.  Count doesn't for some reason.

[code]

Is this intentional?  Is it a bug?  I was trying to turn off sorting intermediate results in dask dataframe by default to speed things up a bit (it's also for cudf/RAPIDS work) and ran into this.  The inconsistency makes things slightly inconvenient.

[2019-10-02 18:25] dsaxton commented on #28740
Why not use `DataFrame.query`?  The syntax is pretty compact.

[2019-10-02 19:44] kipintouch opened #28757 "Order should not matter when comparing index"
I just started to look into `pandas.util.testing`, to simplify my tests.

I discover the following,

[code]

* I am not sure if the `order` of the index should play any role in equality (**iff when they are unique**)
* If performance, was issue of not including (sorting by default), but for testing, frame's are relatively small.

Am I missing something ??. If Not, Please consider to change `defaul

[2019-10-02 19:50] jbrockmendel opened #28759 "API: ops alignment behavior inconsistencies"
In both Series and DataFrame ops, we have inconsistent behavior for when we call `self.align` vs when we raise.  Everything discussed here is for non-flex ops.

Case 1: consider `op(ser1, ser2)` for two Series with non-matching indexes.
- arithmetic ops call `self.align(other)`
- comparison ops raise `ValueError("Can only compare identically-labeled Series objects")`
- logical ops call `self.align

[2019-10-02 20:05] jreback commented on #28755
we accept **kwargs in these, IIRC mainly to accomodate pandas options like ``min_count``, but these don't do anything and should be removed

[code]

[2019-10-02 20:35] stevennic commented on #28740
I think `query` doesn't provide access to the `Series` object, so you can't use the full feature set, such as `isna()`, all the Accessors (`.str`, `.dt`, `.cat`), etc. If somehow `A` and `B` in the example above were wired to `df['A']` and `df['B']`, they would be first-class `Series` objects.

[2019-10-02 20:53] samyak-jn commented on #28724
Hey, I want to start contributing, can I take some from to leftover to get myself started?

[2019-10-02 21:00] datajanko commented on #27483
What about:
- Avoid chained indexing
- Avoid iteration
- Use boolean masks

If you are searching stackoverflow, still lots of questions do chained indexing.

Additionally, in lots of questions people want to iterate, which most of the times can be avoided using vectorisation, boolean masks etc. I would put this under this under tidy data, since people often just come up with awfully formated data,

[2019-10-02 21:03] jorisvandenbossche commented on #28095
Not yet much more than just a similar mention as in the discussion above. I included a bit more comment now (mainly based on your comment and the rest of this comment).

The examples you give is what I had in mind.

In addition, I think the idea would be that this "NA dtype" could be upcasted to any other dtype (eg when concatting, ..) so that in other operations it "doesn't get in the way" if you

[2019-10-02 21:13] Azuremis commented on #4607
Are you working on this @TanyaaCJain? I'd like to work on this if it's still available.

[2019-10-02 21:27] jumptable commented on #25221
df = (
    pd.DataFrame(pd.np.ones((4, 4)) + 1j)
    .assign(idx_parity=df.index % 2)
    .set_index('idx_parity', append=True)
)

df.unstack()

[2019-10-02 21:32] samyak-jn commented on #28724
I have worked on the issue `pandas.interval_range`,` pandas.util.hash_array` and `pandas.util.hash_pandas_object`.
Can someone please review and help me to correct if I'm wrong!

[2019-10-02 22:03] vernondcole commented on #27547
Thank you. Seen on pywin32 mailing list. I will look into the problem. The suggested fix looks appropriate.

[2019-10-02 22:55] TomAugspurger commented on #27781
Mmm I'm not sure I understand the issue. But note that doing a `.take` which introduces missing values via a `-1` in the indices should result in a NaN in the output, regardless of the fill value. Not sure if that helps or not.

[2019-10-02 23:23] TomAugspurger commented on #28095
I think there's agreement that the current state of NaN for {int, float, bool, str, ...} and NaT for {datetime, timedelta, period} isn't good. If we're changing things, I think we'll move to either `pd.NA` or `pd.NA[T]` (i.e. one NA for all dtypes, or one NA per dtype).

Agreed. I think Julia would be a good one to investigate. In their docs, I didn't see what see what the type of `Array[Union[Int

[2019-10-03 00:40] jbrockmendel commented on #28095
I see two arguments for a single `pd.NA`:

1) Have consistency in that `arraylike[na_idx]` returns `pd.NA` regardless of `arraylike.dtype`
2) Fix cases where we currently use `np.nan` and doing so conveys misleading dtype information.

Am I missing anything?  Aiming for non-normative descriptions so far.

[2019-10-03 00:53] jbrockmendel commented on #28095
Collecting responses to a bunch of stuff:

Is there precedent for `NADtype` in other libraries/languages?  If now we're talking about adding pd.NA and pd.NADtype, and if we use the "how many things are there" heuristic to judge proposals, then I think we'd be better off with implementing pd.NA for non-arithmetic dtypes and keeping pd.NaT as is (i.e. still have "two things").

I can imagine scenari

[2019-10-03 01:06] TomAugspurger commented on #28095
It seems this is what Julia does.

[code]

IIUC, the `Array{Missing, 1}` is the "dtype" and shape.

From what I can tell, Date / DateTime arithmetic doesn't handle missing well. I don't know if that's by design or it's just not implemented.

[code]

[2019-10-03 02:09] Nabel0721 commented on #20298
A couple more issues that need to be fixed:
 - Allow for `*args, **kwargs` on one line with a description instead of having to split it each time
 - Change `signature_parameters` so that `inspect.signature` is used instead of `inspect.getfullargspec` (I talked about this a bit in #27976)

This will solve a lot of the false positives for `PR01` and `PR02` errors.

[2019-10-03 02:42] WillAyd commented on #28757
I think order is definitely important - why would you not want that?

[2019-10-03 03:04] WillAyd commented on #28501
Yea there is certainly some ambiguity here and @jorisvandenbossche might have some thoughts but I don't necessarily think the JSON `null` would map better to `None` than it would to `np.nan`.

read_csv would also convert this to NaN:

[code]

[2019-10-03 03:35] alan-barzilay commented on #28620
I'm having the same problem on my clean OS install. I'm currently in a fresh venv virtual environment  and installed everything through pip.
Would also love to help but not sure where to start hunting for this 'bug'

<details><summary>Details</summary>
<p>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               : Linux

[2019-10-03 04:24] farziengineer opened #28766 "to_string() does not have an "encoding" parameter."
#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Fam

[2019-10-03 05:43] mroeschke commented on #28766
Can you give an example of the expected behavior and API parameters?

[2019-10-03 05:50] farziengineer commented on #28766
Just like to_csv() and to_excel() have an "encoding" parameters, we can have an encoding parameter in string for consistency.
python
[code]

[2019-10-03 06:38] 8080labs commented on #8640
So until this enhancement is implemented (and adopted by most users via upgrading the library), what is the fastest way to check if a series with dtype object only consists of strings?

For example, I have the following series with dtype object and want to detect if there are any non-string values:
[code]

I hope that this is the right place to address this issue/question?

[2019-10-03 07:02] jolespin commented on #28620
I'm also having this same problem.  I'll post my environment tomorrow when I get to lab.

[2019-10-03 07:19] #28551 closed

[2019-10-03 07:20] thakkardharmik commented on #28551
The issue was due to pandas installation problem. Reinstalled and restarted notebook and it started working.

[2019-10-03 08:57] jorisvandenbossche commented on #28095
Some comparisons (but note I am not an expert on any of those):

**Postgres**

Postgres does not have a "NULL type". From testing, it seems to just define a certain resulting type for a scalar NULL operation. For example:

[code]

has interval type for result1, timestamp type for result2, and interval type for result3 (where this could in principle be both interval or timestamp). Similar result fo

[2019-10-03 09:30] jaksiprejak opened #28767 "DataFrame.replace inconsistent behaviour with regex and nan"
When replacing a string with a `nan`, in a dataframe of strings, using a regex. The rest of the strings are replaced with `nan` as well.

When `to_replace` is a simple string, only the target values are replaced with `nan`

[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
p

[2019-10-03 09:32] jorisvandenbossche commented on #28095
And now some specific answers (sorry for the long wall of text):

A third option could maybe also be to have an NA for each type, but let them all look like "NA". That could help the "scalar arithmetic" issues by preserving the originating type information in the NA value. On the other hand, this seems a lot more work to implement (would eg this "NA_period" have all the methods of a Period?) and a

[2019-10-03 09:32] benmatwil opened #28768 "Minimum output differs between timezone-aware and timezone-naive datetimes"
#### Code Sample

[code]

#### Problem description
I'd like to be able to take the minimum on timezone aware datetimes dataframes. Found this issue when a NaT was hidden in there. It works fine when there are no NaTs but the behaviour seems to change as above for timezone aware datetimes. The minimum method should output the same for both timezone aware and naive data? This seems to be an issue to

[2019-10-03 09:45] jorisvandenbossche commented on #8640
@8080labs with the current public API, you can use `infer_dtype` for this:

[code]

There is a faster `is_string_array`, but that is not public, but will be exposed indirectly through the string dtype that will be included in 1.0: https://github.com/pandas-dev/pandas/pull/27949

[2019-10-03 09:51] jreback commented on #28095
agree generally with have pa.NA; it’s going to be much simpler from a user viewpoint and implmentstion POV, but some concerns

- having multiple implementations (meaning we present NA but different dtypes under the hood) is not scalable / overly complicated
- we already have an Any dtype, namely object to hold an all NA values (so for example an empty Series or all NA Series w/o dtype specified wo

[2019-10-03 10:13] WuraolaOyewusi commented on #27976
@Nabel0721 . I will be following to learn how this is sorted. Please tag me as you make changes. Have a great day

[2019-10-03 12:27] dsaxton commented on #28767
This is behaving as expected because your regex matches _any_ string (it looks for the character `*` zero or more times).  You'd need to escape both characters: `df.replace(r"\*\*", np.nan, regex=True)`.

[2019-10-03 12:35] jaksiprejak commented on #28767
Damn, I feel stupid, Should be `r'\*+'`

Thank you.

[2019-10-03 12:35] #28767 closed

[2019-10-03 14:27] jbrockmendel commented on #28095
TL;DR: can we break any non-controversial pieces of this off?  The scope here is overwhelming.

-----

Yes, I think we are on the same page description-wise.

I don't think that is a necessary assumption.  The default alternative to this proposal is not proliferation implementing a bunch of new things, it is the status quo.  The existing inconsistencies with NaT are annoying, but generally we have

[2019-10-03 14:42] joaoe opened #28769 "DataFrame.append with empty list raises IndexError"
#### Code Sample

[code]
#### Problem description

Crash when passing empty sequence to `DataFrame.append`

#### Expected Output

No crash.
The source DataFrame is returned intact.

#### Version

Version 0.25.1. Happens in master.
Problem line
https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L7014

[2019-10-03 15:14] angelaambroz commented on #28701
✋ I'd be interested in working on this. Should I wait until someone from the core dev team addresses the open questions?

[2019-10-03 15:20] jbrockmendel commented on #28769
What output are you hoping to see here?  Still an empty DataFrame?

[2019-10-03 15:21] oyibor commented on #28682
Hello nrebena,
I am now able to slice a stored table by the different index levels.
But how can I perform an inner join of the indices of the original table and the updating table?
This is what I need to identify the data that have to be removed from the original table.

Example:

If a multiindex of a stored table equals the index of an update table
these indices have to be removed. This would giv

[2019-10-03 15:28] joaoe commented on #28769
I guess the empty DataFrame() is expected since an empty sequence is just...empty ?

This produces an empty DataFrame
[code]

[2019-10-03 15:34] WillAyd opened #28770 "Align ExtensionArray with abc.Sequence"
ref https://github.com/pandas-dev/pandas/pull/28762#issuecomment-537760065

Right now the ExtensionArray is missing a few methods that would allow it to align with the `abc.Sequence` interface, namely `count`, `index`, `__reversed__` and `__contains__`

I think we might want to add those items to the interface to aid our type checking and make for more intuitive use cases of the ExtensionArray

[2019-10-03 15:40] mroeschke commented on #28768
Duplicate of https://github.com/pandas-dev/pandas/issues/27794. Investigations welcome!

[2019-10-03 15:40] #28768 closed

[2019-10-03 17:11] #27559 closed

[2019-10-03 17:25] #28247 closed

[2019-10-03 17:32] crew102 opened #28773 "apply sometimes unexpectantly casts int64 series to objects"
#### Problem description

`pandas.DataFrame.apply()`seems to be converting series from int64 to object in some circumstances, and I'm not sure why. An example of the strange behavior I'm seeing is shown below, along with comments on what I'm expecting to see versus what I actually see. Note, this issue was originally reported on SO here: https://stackoverflow.com/questions/58222263/unexpected-beha

[2019-10-03 19:23] anirudnits commented on #6942
@mroeschke I am working on this.
I have added the test `test_datetimeField_after_setitem` in `pandas/tests/generic/test_frame.py`  and basically recorded the times after each operation(as mentioned in the above snippet) and asserted that neither of them are equal.
Seems good?

[2019-10-03 20:10] nrebena commented on #28682
I am not sure what you are trying to achieve here. Do you have a more concrete (and copy pastable) example maybe.
if you wanna now the row in a store that are also in df_update, you could try something like this

[code]

[2019-10-03 20:23] mroeschke commented on #6942
Sure, will be easier to review in a PR

[2019-10-03 20:56] nrebena commented on #28675
If you look at df_1 and df_2 after resampling, you'll see that one start at 2019-09-30 09:40:59.984 and the other at 2019-09-30 09:41:59.986. Resampling does not start at the first value of the serie, but at the start of the day. So when resampling, you are not necessarly grouping the data as you think you would (it would work for resampling in a dividor of on minute in your specific case).

Maybe

[2019-10-03 21:05] jorisvandenbossche opened #28778 "DISCUSS: boolean dtype with missing value support"
Part of the discussion on missing value handling in https://github.com/pandas-dev/pandas/issues/28095, detailed proposal at https://hackmd.io/@jorisvandenbossche/Sk0wMeAmB.

*if* we go for a new NA value, we also need to decide the behaviour of this value in comparison operations. And consequently, we also need to decide on the behaviour of boolean values with missing data in logical operations an

[2019-10-03 21:07] jorisvandenbossche commented on #28778
(also if we don't go for a new NA value, a boolean ExtensionArray with missing data support can be interesting, but in such a case it's probably more difficult to change the behaviour compared to what we currently have with np.nan)

[2019-10-03 21:07] jorisvandenbossche commented on #28095
It's not fully independent, as it depends on what kind of scalar NA value we want (the behaviour of scalar logical ops should match array-wise logical ops).
But assuming we end up deciding for some kind of NA value, we can indeed discuss the details of this separately -> opened  https://github.com/pandas-dev/pandas/issues/28778 for this.

(but note that 90 % of the above discussion is about the sc

[2019-10-03 21:11] nrebena commented on #28599
Some follow up question:
* What is the type on a.astype(int). On my system it is int64, but it may differs on yours. Is that part of the problem?
* What about using `a.astype(np.int64)` ?
* Also, is there a difference between int64 and Int64 (outside capitalization?)
* If we are talking about identifiers, isn't uint64 even better?

Please tell me if I really did'nt understand the issue and am out

[2019-10-03 21:16] jreback commented on #28599
we don’t convert to float first

to_numeric is the workhorse

astype doesn’t have any options meaning all values must be convertible like in numpy

[2019-10-03 21:23] jorisvandenbossche commented on #28095
How is it currently with a single pd.NaT any better than with a single pd.NA ? (the "timestamp - NA/NaT = timestamp or timedelta" problem is present in both cases?) Given that this is one of the arguments against having a pd.NA for datetimelike data, so in my mind this seems an essential part of the discussion on what kind of NA scalars we want (when considering alternatives for the current propos

[2019-10-03 21:26] WillAyd commented on #28778
I think I prefer what R and Julia do here but would be curious to hear counter arguments in support of existing behavior.

Just to clarify, you think any operation where one of the operands is NA should return NA right? But something like `isna` would return `True` in the presence of an NA? (assuming that from how Julia has the `===` operator)

[2019-10-03 21:27] jreback commented on #28095
easy enough we can simply infer (we actually do this now)
adding an Any type is basically orthogonal IMHO (we can do or not but separate discussion)

[2019-10-03 21:38] pwsiegel opened #28779 "`RollingGroupBy.quantile` ignores `interpolation` argument"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The keyword argument `interpolation` is ignored - no matter what value it is set to, the default (linear) interpolation is used.  This problem only applies to `RollingGroupBy.quantile` - `GroupBy.quantile` and `Rolling.quantile` both appear to work as expected.

#### Expected Output

[code]

#### Output of ``pd

[2019-10-03 21:40] jbrockmendel commented on #28778
This is not accurate.  These ops are basically nothing but corner cases, a handful of which do three-value logic.  That's before considering DataFrame, which only sometimes behaves like Series.

I'll elaborate later this afternoon.

[2019-10-03 21:43] WillAyd commented on #28766
Might not be thinking straight today but wouldn't this only make sense if it were a `to_bytes` method? Not applicable for `to_string`, no?

[2019-10-03 21:53] WillAyd commented on #28773
Hmm yea that does seem weird. Apply a print shows the dtypes as object:

[code]

So I think something is awry here with the underlying block management. @jbrockmendel might have some thoughts

Just to confirm, if everything in the frame was a number this would work

[code]

Investigation and PRs are of course welcome

[2019-10-03 22:21] jorisvandenbossche commented on #28778
@WillAyd I think the existing behaviour is mainly a consequence of using np.nan (for which the existing behaviour makes sense). And an argument to keep the existing behaviour would be that we have done it like that for a long time..

For comparisons yes, for logical operations it depends. I pasted below the more elaborate explanation with code examples that I wrote in the proposal on hackmd.

Yes,

[2019-10-03 22:44] dhirschfeld commented on #28095
For me, a data type which can be optional/missing is different to one that can't and I think it would be better to preserve this information for each type - i.e. each scalar type has a corresponding nullable/missing type
[code]

All specialised types could inherit from a base `pd.NA` so that isinstance checks would work:
[code]

If you have a corresponding missing type for each scalar type I think

[2019-10-03 22:47] dhirschfeld commented on #28095
I think storing nullable types in an object dtype doesn't really buy us anything - you still have the problem of type promotion e.g. `int32 --> object` rather than the current `int32 --> float64` and on top of that you have all the performance problems that object dtypes bring. At least when promoting to float64 it's still fast.

[2019-10-03 22:52] dhirschfeld commented on #28095
For completenesses sake, there was an old numpy proposal:
* https://docs.scipy.org/doc/numpy-1.10.0/neps/missing-data.html

Not sure if there's anything to glean from that - I'm sure most here are already well aware of it...

[2019-10-03 23:23] jbrockmendel commented on #28095
The difference is that the cases in which pd.NaT behavior is ambiguous are relatively narrow and fleshed-out.

[2019-10-03 23:31] alimcmaster1 opened #28780 "DOC: wrong formatting of the set_option docs"
https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.set_option.html

Notes section of the set_option docs seem to have lost some formatting/spacing on master.

PR coming to fix!

Ali

[2019-10-03 23:38] jadhosn commented on #21228
I realize that this has been closed for a while now, but as I'm revisiting this error, I wanted to share a possible hack around it (not that it's an ideal approach):

as @catawbasam mentioned:

I cast all my categorical columns into 'str' before writing as parquet (instead of specifying each column by name which can get cumbersome for 500 columns).

When I load it back into pandas, the type of the

[2019-10-04 00:37] TomAugspurger commented on #28095
On Thu, Oct 3, 2019 at 6:23 PM jbrockmendel <notifications@github.com>
wrote:

"The cases" being ops between a datetimelike array and a scalar NaT? What
does fleshed-out mean here? My understanding was that it's not clear what
`Array[datetime] + NaT` should be,
so our choice is `Array[NA]` or we implement dtype-specific NAs so that we
know `Array[datetime] + NA[datetime]` raises, while `Array[date

[2019-10-04 00:40] TomAugspurger commented on #28766
Agreed with Will. An encoding is only necessary when going between strings
and bytes. But we're converting from a Python object to a string.

On Thu, Oct 3, 2019 at 4:43 PM William Ayd <notifications@github.com> wrote:

[2019-10-04 00:46] rohitsanj commented on #28369
@WillAyd I'd like to be assigned this issue. According to the following code, when `win_type` is passed to the `rolling` function, it returns an object of `Window` class. The `Window` class, as opposed to the `Rolling` class does not have the following functions:  `['std', 'var', 'cov', 'kurt', 'quantile', '_validate_freq', 'skew', 'max', '_validate_monotonic', 'apply', '_agg_doc', 'corr', 'count'

[2019-10-04 00:48] WillAyd commented on #28369
Great! We don’t really use the assign tool on Github but feel free to take a look and if you can get it to work would certainly welcome a PR

Sent from my iPhone

[2019-10-04 01:21] jbrockmendel commented on #28095
Yes.

That the cases where the behavior is potentially ambiguous have behavior which is defined and tested.

That's in the category of "potentially ambiguous" for which pd.NaT convention is "is this operation valid if we treat NaT as a datetime?  if so, then do that.  Otherwise treat it as a timedelta"

[2019-10-04 01:23] crew102 commented on #28773
K, well that's good to know/will help with debugging. Can you briefly describe what you mean by "block management?" I'd be happy to investigate this issue, though it'd be great to have a tip on where to look first.

[2019-10-04 01:30] WillAyd commented on #28773
Hmm I *think* this starts diverging here:

https://github.com/pandas-dev/pandas/blob/88a6ee1eb1702e31e74d0bdaeae4b70568d07149/pandas/core/apply.py#L283

The problem with calling `.values` on a 2D object is that (in this case at least) returns a 2D numpy array which must have a contiguous dtype. The only dtype that can hold say `1` and `"hello"` is object, hence why all of these lose their dtype in

[2019-10-04 01:39] moisesjsanchez commented on #18840
Hello, I am a first-time contributor. If this issue is still open would it be okay for me to work on this?

[2019-10-04 01:41] crew102 commented on #28773
Yeah, that definitely looks like the issue. I'll take a stab at a solution in the next few weeks or so.

[2019-10-04 03:07] farziengineer commented on #28766
https://github.com/pandas-dev/pandas/issues/28663#issuecomment-536322605

[2019-10-04 04:24] josibake opened #28784 "DOC/Discussion: Update docstrings guide to include guidance for edge cases"
There are a few edge cases where there is not sufficient guidance in the docstrings on how to proceed. For example, if a parameter argument takes a list of values but the list is sufficiently long, it is not clear how to properly format (see #28739).

Opening this as a placeholder to document edge cases encountered while cleaning up docstrings and agree on what the convention should be.

[2019-10-04 04:28] josibake commented on #28784
### long list of accepted values
normally, lists of known values are documented as:
[code]
but if the list is long (say, greater than 5), the convention should be:
[code]

[2019-10-04 05:13] haeusser commented on #28675
Thank you @nrebena for your response.

What is the reason for this behavior? It does not make any sense to me. The
same data should be binned the exact same way, no matter what the start
time is - in my opinion.

Cheers,
Philip

On Fri 4. Oct 2019 at 00:56, nrebena <notifications@github.com> wrote:

--
____________________________________________________

Dr. Philip Häusser

ph@enterbrainment.tv
+

[2019-10-04 05:53] anirudnits commented on #6942
@mroeschke sure I'll submit the PR soon.

[2019-10-04 06:22] Nabel0721 commented on #23630
I just ran the script on those errors today and didn't find any. Are we safe to close this issue?

[2019-10-04 07:57] oyibor commented on #28682
Hello nrebena,

I have attached a text file with an example:
[upsert_example.txt](https://github.com/pandas-dev/pandas/files/3689445/upsert_example.txt)

I want to update and insert data into an existing table.
This can be done in one line like this:

store[table_name] = df_update.combine_first(store[table_name])

That approach works well for small tables. With bigger tables I have huge problems.

[2019-10-04 08:15] nrebena commented on #28675
The data are definitely binned in the same way, no matter the first value. You could consider the bin as fixed discretization of the axis, they do not depend on the values, as they should.

Depending on what you really wanna do, you could also look at `pandas.cut`, and define your one bin with a DatetimeIndex or something.

[2019-10-04 08:23] nrebena commented on #28682
Ok I see, your are missing a step here when using the store if you wanna combine the data.
[code]

[2019-10-04 09:11] atlasstrategic opened #28786 "datetime64[ns] dtype coerced to object after pd.concat(axis=1)"
#### Code example using pandas 0.25.1

[code]
#### Problem description

The expected dtype of the concatenated DataFrame `df` should be `datetime64[ns]`. Previously, with Pandas 0.24.2, this was the case. After upgrading to pandas 0.25.1 it changed to `object`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.6.

[2019-10-04 09:27] oyibor commented on #28682
Hello nrebena,
Thank you very much for your help and effort.
This method works, too. (except that combine_first does not work inplace)
[code]
Nevertheless, does this method delete and insert much more data than required.
Imagine if your updating table holds one common date for each symbol and you would add a new symbol with dates starting from the beginning to the end.
In this case "where symbol i

[2019-10-04 10:18] jreback commented on #28682
@oyibor you likely should just use a database
HDFStore is not designed for updating efficiently

in any event this is out of scope for the issue tracker

[2019-10-04 10:18] #28682 closed

[2019-10-04 10:24] jorisvandenbossche commented on #28095
@dhirschfeld thanks for the link to the numpy doc. I was aware many discussions happened, but always good to explicitly look back. There is quite some correspondence (np.NA, the behaviour of NA in logical operations, ..). I think a big difference in pandas is that we don't really make the difference between NA and IGNORE, and you can choose behaviour through the `skipna` keyword.

@dhirschfeld To

[2019-10-04 10:50] datapythonista commented on #23630
Sure, but add the validation of this error to the CI then (see `ci/code_checks.sh`, the part of docstrings). Thanks!

[2019-10-04 11:04] TomAugspurger commented on #28095
I think this is correct. Using a singular `pd.NA` instead of multiple NAs (NaT and some others) is a difference in degree, not kind.  With a single NA we can subsume the current rules around NaT, or we can choose to go the NADtype route for all-NA arrays. The broader conversation about what to do with ops involving scalar NAs should stay in https://github.com/pandas-dev/pandas/issues/28778, but on

[2019-10-04 13:32] jbrockmendel commented on #28095
Having a single NA significantly expands the set of ambiguous cases.  e.g. Series[timedelta64] / pd.NaT is unambiguously float, but Series[timedelta64] / pd.NA could be float or could be timedelta64.  Series[timedelta64] * pd.NaT unambiguously raises, but with pd.NA could be timedelta64.

I think this matches Tom's "a difference in degree, not kind".

Introducing a pd.NA for cases where we current

[2019-10-04 13:32] kasparthommen opened #28787 "DataFrame groupby with categoricals and aggreggation with pd.DataFrame.sum with skipna leads to wrong column name"
#### Problem description
Consider the following data frame:

[code]

[code]

Now I want to group by `Name` and sum the `Items`, but I want the sum to be NaN if there are NaN elements. Due to a bug in pandas (https://github.com/pandas-dev/pandas/issues/20824) I cannot simply do

[code]

because that results in:

[code]

which is wrong because it's skipping the `NaN` for Greg even though it shouldn'

[2019-10-04 13:35] jbrockmendel commented on #28773
I'm out of town until Tuesday, will take a look a this then.

[2019-10-04 14:10] TomAugspurger commented on #28766
Forgot about the `buf` argument accepting a string path.

In that case, accepting an `encoding` makes sense, for specifying the encoding for the newly created file. We should raise when encoding is specified and it's `buf` isn't a string path.

[2019-10-04 14:54] jorisvandenbossche commented on #15556
I am going to suppose that silence is approval, so merging the PR later today unless I hear anything.

But note that concrete feedback on the new theme is still very useful (but maybe easier to give once it is actually merged in master). Once merged, I will open a new issue to gather feedback.

[2019-10-04 15:03] CassonStallings opened #28788 "Groupby.transform returns data with incorrect indexing when grouping on categoricals with missing values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

From the documentation:
**Transformation:** perform some group-specific computations and return a like-indexed object.

Given that transformation's purpose is to return a like-indexed object is seems that it should do this be default, even without specifying observed=True when there are missing categories. Also

[2019-10-04 15:29] jorisvandenbossche commented on #28778
For the question around the **indexing behaviour** with boolean values in the presence of NAs, I think there are 3 options:

- Raise an exception
- Don't include in the output (interpret NA as False in the filtering operation)
- Propagate NAs (NA in mask gives NA in output)

I looked at some other languages / libraries that deal with this.

**Postgres (SQL)** filters only where True (thus interpre

[2019-10-04 15:31] WillAyd commented on #18840
@moisesjsanchez sure!

[2019-10-04 15:33] #28673 closed

[2019-10-04 15:52] anirudnits commented on #6942
@mroeschke submitted the PR, have a look.

[2019-10-04 15:56] nrebena opened #28791 "DOC: HDFStore.select documentation miss information about selecting MultiIndex"
#### Code Sample

[code]
#### Problem description

When using a MultiIndex in a HDFStore, you can select from the MultiIndex using the keyword level_0, level_1, …
This behaviour is not yet documented in the user guide.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : 02675e3376fea7d3cd484ace874d676c142cf003
python           : 3.7.4.final.0

[2019-10-04 15:56] ChiefMilesEdgeworth opened #28792 "DOC: Fix SA04 errors in docstrings"
There are issues in some docstrings where the See Also section is not complete. All of the following errors exist because there is no description for a referenced function or method. If these can get fixed then CI will be able to check all of the See Also section errors! The command to check for the errors is `./scripts/validate_docstrings.py --errors=SA04`

[code]

[2019-10-04 16:07] simonjayhawkins commented on #27557
from https://numpy.org/neps/nep-0029-deprecation_policy.html#implementation

Implementation
We suggest that all projects adopt the following language into their development guidelines:

This project supports:

All minor versions of Python released 42 months prior to the project, and at minimum the two latest minor versions.

All minor versions of numpy released in the 24 months prior to the projec

[2019-10-04 16:12] scottgigante commented on #27781
Can you give an example of how/why that would happen? I don't understand quite how we should get a NaN when the fill_value is not nan.

[2019-10-04 16:56] oyibor commented on #28682
This issue has been closed.
Nevertheless, here is a workaround to my described problem that uses a similar approach like nrebena has described before.
I have not checked the performance on large tables, yet. Maybe it is useful in some cases, maybe not or maybe a database solution is the better choice in others cases...

[code]

[2019-10-04 17:10] Nabel0721 commented on #27976
@WuraolaOyewusi I put together a PR that switches the script to use `signature`. According to the documentation for it, `signature` finds the source function by checking if a function has the `__wrapped__` attribute. If it does, it contains the function that was wrapped by the current one. This is automatically set by the `@wraps` decorator and other similar functions from the `functools` library.

[2019-10-04 17:19] scottgigante commented on #27781
Here's my proposed solution:

Replace
[code]
from https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals/blocks.py#L1730 with
[code]
Thoughts?

[2019-10-04 19:44] jorisvandenbossche commented on #28770
@WillAyd do you know how numpy arrays do that?
Because the function in question `pd.array` also accepts numpy arrays, so wondering how that works for typing (ndarray has no index or count methods)

[2019-10-04 19:48] #27955 closed

[2019-10-04 20:11] WillAyd commented on #28770
Numpy arrays right now resolve to `Any` right now when it comes to typing because they have no annotations in their codebase or typeshed available (AFAIK). So realistically it's almost impossible to cause a type failure with a ndarray in our code base

[2019-10-04 20:18] jorisvandenbossche commented on #28770
For this specific case, don't we have some kind of `ArrayLike` in our typing module to handle this?  (I suppose also Series is no Sequence, while that is often accepted as an array like as well)

Personally, I am a bit hesitant to add `count` and `index` methods to EA just for this

[2019-10-04 20:28] WillAyd commented on #28770
So you wouldn't consider an ExtensionArray to be a type of Sequence, right? Ignoring typing for a second it seems intuitive to me that an ExtensionArray is inherently a Sequence, and if that is true then it would make sense to adhere to the interface as defined by Python

[2019-10-04 20:45] KeBachmann commented on #28313
Thanks for the workaround! However, a native solution would be great. The same problem exists for asfreq()... etc.

[2019-10-04 20:49] jorisvandenbossche commented on #28770
Somewhat relevant discussions in numpy about this: https://github.com/numpy/numpy/issues/2776 and https://github.com/numpy/numpy/issues/7315 (although they have other issues that complicate things).

Yes, I would consider an EA as a sequence. I mainly find it a bit unfortunate that Python defines methods (count, index) that are not essential for sequence as part of the abc.

[2019-10-04 20:53] WillAyd commented on #28770
Nice find - I'll give it a deeper look later. FWIW I don't know if we'd necessarily even need to define count or index - I think inheriting from the ABC will take care of that for us (haven't verified)

[2019-10-04 21:13] jorisvandenbossche commented on #28759
The (non-)alignment of comparison ops (for the first two cases) is something we discussed long time ago, I recall, and was at that time decided consciously. To be clear: not saying that it is therefore the best behaviour, just meaning it is not an accidental, historical inconsistency, as far as I recall. So worth digging up the reasoning (will try to look for relevant issues later).

[2019-10-04 21:20] jorisvandenbossche commented on #28095
Thanks for those more concrete examples, that clarifies things! I personally think that for those additional cases, we can take the same approach of the current ambiguous cases (i.e. choose a certain type), so I personally wouldn't call it "much" worse, but there would indeed be more such cases.

For me a main problem with introducing pd.NA for many types except for datetime-like types is that thi

[2019-10-05 02:08] datapythonista opened #28796 "DOC: Syntax highlight not always working"
Looks like something is wrong while rendering the documentation, regarding syntax highlighting of code blocks.

See for example: https://dev.pandas.io/docs/user_guide/reshaping.html#multiple-levels

The first block code has no colors, just black. The next block is coloring the `In[27]`, the literals.

Checking the markdown in `doc/source/user_guide/reshaping.rst` I can't see any obvious difference

[2019-10-05 06:56] jorisvandenbossche commented on #28796
I recently had a similar issue on the geopandas docs: https://geopandas.readthedocs.io/en/latest/missing_empty.html (also some code blocks not rendering properly, while I could not see any difference in the source code), which is using the readthedocs theme. So I would *guess* that it is not due to the new theme, but something else.

It's difficult to check if this was also the case yesterday with

[2019-10-05 07:00] jorisvandenbossche commented on #28796
Also, those code blocks are generated by sphinx itself (the theme only decides which colors to use for which constructs), so this has to be something with sphinx / ipython directive.

The code block that is not colored in html looks like:

[code]

while the one that is working looks like

[code]

so it is sphinx for some reason generating different html ..

[2019-10-05 08:29] Beanking77 commented on #18066
I got similar requirements to colorize specific column and here's my workaround:
[code]
thanks @texxronn

[2019-10-05 08:50] jorisvandenbossche commented on #28796
It's a IPython problem generating adding null bytes (`\x00`) in the output, and sphinx apparently cannot handle that. Why it only happens for certain cells, no idea, and why it happens at all, also no idea. See the issue I opened on the IPython side: https://github.com/ipython/ipython/issues/11904

There is an "easy" patch to have it solved:

[code]

but since we don't vendor the IPython.directive

[2019-10-05 13:19] MetalDent commented on #28792
Hi, anyone working on this?

[2019-10-05 14:36] ryankarlos commented on #20303
@jreback does this still require  a PR - if so, im happy to contribute

[2019-10-05 14:40] jreback commented on #20303
sure #20400 was almost there but didn’t get merged

[2019-10-05 14:41] Nabel0721 commented on #28792
Not right now. Just posted yesterday, so go for it!

[2019-10-05 15:06] MetalDent commented on #28792
@Nabel0721 what fix can you recommend?

[2019-10-05 15:10] Nabel0721 commented on #28792
If you find any in shared docs, that’ll fix the issue in multiple places. (For instance, I think Series.pipe and DataFrame.pipe come from the same shared_doc value). Other than that, just go for whatever you’d like! These don’t need to be done all at once.

[2019-10-05 15:41] proost commented on #20476
No one working on, Could i look into this?

[2019-10-05 16:13] topper-123 commented on #28787
Yeah, this is a bug. Notice that it's the index that should inherit the name, but doesn't:

[code]

[2019-10-05 17:55] jwhendy opened #28799 "Trying to access non-existent df column throws KeyError for wrong key"
#### Code Sample, a copy-pastable example if possible

I ran into this on a more complicated `groupby().apply(lambda: ...)` call, but reproduced a simple version below of what I think seems like a bug (or at least undesirable behavior).

[code]

Doing this yields:

[code]

#### Problem description

When attempting to troubleshoot this, `KeyError: 'foo'` is misleading, as it doesn't point to the ke

[2019-10-05 18:17] seberg commented on #28095
I am sorry, I have to catch up with the whole discussion. I agree with others that I think type safety matters, `NA.dtype` would be nice to be defined (in one way or another), so that TypeErrors align without depending on the input value being NA or not. A generic `NA` (based on object probably), seems no issue. One confusion is probably that `series + NA` is tricky, since the unexpected consisten

[2019-10-05 18:20] seberg commented on #28095
On an aside, since I am pushing new DTypes in NumPy... NumPy arrays will not get a separate storage for bitarrays to store the mask, so NA things in NumPy will remain limited (except maybe NA dtypes which store the mask as a structured dtype).
However, even if numpy only has very limited support, we may want to think about adding some hooks to numpy dtypes early on (probably similar to what pandas

[2019-10-05 20:29] WuraolaOyewusi commented on #27976
Ok Abel. Thanks for letting me know.
I will look for the PR and continue to see how the whole process works.

On Fri, 4 Oct 2019, 6:11 PM Nathan Abel, <notifications@github.com> wrote:

[2019-10-05 23:00] Hiyorimi commented on #27085
Can I work on this one ?)

[2019-10-05 23:03] #5035 closed

[2019-10-05 23:03] #5284 closed

[2019-10-05 23:09] #28518 closed

[2019-10-06 00:05] mroeschke commented on #28799
This looks fixed on master:

[code]

I guess this could use a regression test.

[2019-10-06 00:47] mroeschke commented on #8871
Closing as a stale usage question

[2019-10-06 00:47] #8871 closed

[2019-10-06 00:52] mroeschke commented on #5769
`reindex_axis` has been deprecated and removed. Closing

[2019-10-06 00:52] #5769 closed

[2019-10-06 01:08] mroeschke commented on #9073
This looks related to `ix` which is deprecated.

[2019-10-06 01:08] #9073 closed

[2019-10-06 01:16] mroeschke commented on #9186
This looks fixed on master. Could use a regression test.

[code]

[2019-10-06 01:19] mroeschke commented on #9113
Looks fixed on master. Could use a regression test.

[code]

[2019-10-06 01:29] mroeschke commented on #9432
Looks to work on master. And I believe we are testing this case already

[code]

[2019-10-06 01:29] #9432 closed

[2019-10-06 01:47] mroeschke commented on #9687
Looks to be fixed on master. Could use a test.

[2019-10-06 01:51] mroeschke commented on #8870
This looked fixed on master. Could use a test.

[code]

[2019-10-06 01:55] mroeschke commented on #10586
This works on master. Could use a test

[code]

[2019-10-06 01:58] mroeschke commented on #10550
Closing as there are no guarantees with chained indexing

[2019-10-06 01:58] #10550 closed

[2019-10-06 02:15] mroeschke commented on #11196
I don't see a `yield` in this file anymore. Closing.

[2019-10-06 02:15] #11196 closed

[2019-10-06 03:27] bravech commented on #28799
Hi! I'd like to work on this as my first issue. You just need a regression test added to check that the proper KeyError is thrown?

[2019-10-06 04:27] mroeschke commented on #28799
Correct.

[2019-10-06 07:09] mroeschke commented on #13964
`df4_resample` no longer raises and error on master. Could use a regression test with the new agg syntax.

[code]

[2019-10-06 09:45] Hex-Liu opened #28806 "0.25.1 Possible bug in 'DataFrame.duplicated' method"
[code]
#### Problem description

It's a simple contact table, slicing using 3 boolean expressions including duplicated. When try to slice those with duplicated id(contact id)-cln_nm(cleaned name) pair using 'duplicated' method **with the 'keep=False' parameter**, the return seems wrong with the last 2 rows clearly not duplicated on this pair. Could you pls check this out? Thx

![image](https://use

[2019-10-06 11:19] jreback commented on #28806
pls post a copy passable example; do not show screenshots

[2019-10-06 13:42] jbrockmendel commented on #28759
@jorisvandenbossche thanks.  As long as its intentional, its fine by me.  If you do stumble on the old thread, pls LMK and I'll add a comment in the code pointing back to it for the next time I forget.

[2019-10-06 13:45] jreback commented on #28759
actually i would like to see case 3)’have the non-align for comparisons (raise)
for consistency

[2019-10-06 15:25] miguelangel opened #28808 "QST: Backstick is not working in Python 3"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description
Hi,
In the link below, it is mentioned to use _backstick_ with _.query()_ method when the column name contains spaces.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html

Unfortunately, the sample code does not work anymore with Python 3.0 becayse if backstick deprecation.

I

[2019-10-06 17:09] jreback commented on #28808
you would have to show your version
this is correct with 0.25.1

[2019-10-06 19:47] suparnasnair commented on #28792
Hi @Nabel0721, may I work on this issue. I was able to locate some of these issues in the code documentation. I'm a newbie to contributing to open source, I'll try my best.

[2019-10-06 19:49] Nabel0721 commented on #28792
For sure. I opened the issue, but that doesn't mean I'm in charge of it. If you want to work on something go ahead!

[2019-10-06 20:30] jorisvandenbossche commented on #28095
@seberg thanks for chiming in!

We don't have a consistent concept of array scalars in pandas (eg `series[0].dtype` now already fails for eg datetime64[ns] array, since we return a Timestamp object, not a numpy scalar).
But, I suppose you were mainly pointing on having an `NA` with a notion of the array dtype it is coming from. I fully understand that this can help for type safety.
However, I am n

[2019-10-06 20:47] jorisvandenbossche commented on #28095
@Dr-Irv thanks for the comments! Copying your comments here from the hackmd document, that is more visible to reply (and will answer to your second comment in the other thread, as it is more relevant there):

In principle, we can have both NaN and NA, at least for float data, where NaN is just a value in the float array, while NA could be tracked separately with a (bit)mask. For other dtypes like

[2019-10-06 22:02] #21416 closed

[2019-10-06 22:14] #23630 closed

[2019-10-06 22:40] #18878 closed

[2019-10-07 00:27] jreback commented on #26984
we should do this post dropping 3.5 (I don't know if we have an issue for that yet).

[2019-10-07 00:49] stuarteberg commented on #22824
I don't know what progress has been made regarding the bulk of this issue, but the following bullet point, at least, will be resolved by #27874, FWIW:

[2019-10-07 00:50] gcoimbra opened #28810 "Improve PandasSeriesGroupby operations performance"
#### Code Sample
[code]

#### Problem description
First operation takes 600 ms, second takes 900 ms.
For smaller arrays (10 elements), first  operation takes 1.86 ms and second takes 2.26 ms.

It takes longer to use the native pandas mean on a SeriesGroupBy object than converting to a numpy array and then calculating the mean. Converting to a Series object won't make much difference.

I think it's

[2019-10-07 01:01] jreback commented on #28810
neither of these 2 operations are interesting when using using python loop (which is what .apply is), as compared to an actual vectorized soln ([6])
[code]

[2019-10-07 01:01] #28810 closed

[2019-10-07 01:02] gcoimbra commented on #28810
@jreback
I know, but in my case the apply was necessary because a lot other operations were being made.
Do you know why this is happening?

[2019-10-07 01:04] #28808 closed

[2019-10-07 01:09] mroeschke commented on #9228
This looks fixed:

[code]

[2019-10-07 01:09] #9228 closed

[2019-10-07 01:09] gcoimbra commented on #28810
It wasn't just other operations. In my application, I am creating a dataframe from the original grouped. This new dataframe has n rows that is calculated from the groups of the bigger one.

[2019-10-07 01:11] jreback commented on #28810
@gcoimbra no idea; use the vectorized operations or live with perf of the apply

[2019-10-07 01:13] mroeschke commented on #10631
Don't think this is relevant anymore.  `test_libsparse` isn't tested anymore and 2.7 isn't supported.

[2019-10-07 01:13] #10631 closed

[2019-10-07 01:13] seberg commented on #28095
Sorry for the confusion, forget about the "abstract" part. The question is, should `series([NA, NA, NA])` without giving the correct dtype work? Should `series([1]) + NA` work, (or `series([1, 2, 3, NA, 4])`). I was basically suggesting that you _could_ make a distinction. In that case, you would have an `"NA-dtype"` but the end-user will never actually see it (the author of dtypes may have to dea

[2019-10-07 01:26] gcoimbra commented on #28810
@jreback
I don't think apply is the source of the problem. Try this instead:
[code]

[2019-10-07 01:34] mroeschke commented on #14043
Our setup has `python_requires=">=3.5.3"` now. Closing.

[2019-10-07 01:34] #14043 closed

[2019-10-07 01:38] mroeschke commented on #15046
This is working on master locally. Closing

[2019-10-07 01:38] #15046 closed

[2019-10-07 01:42] mroeschke commented on #16581
The CI seems to have been stable enough that this isn't an issue anymore

[2019-10-07 01:42] #16581 closed

[2019-10-07 01:45] mroeschke commented on #17806
I think this file has been sufficiently split up. Cleanup can be a separate task.

[2019-10-07 01:45] #17806 closed

[2019-10-07 01:53] mroeschke commented on #18482
@jschendel is this closable? I don't see an `xfail` on any `test_map` methods.

[2019-10-07 01:55] mroeschke commented on #18498
Looks like we have an `io/pytables` directory now. Closing.

[2019-10-07 01:55] #18498 closed

[2019-10-07 01:56] mroeschke commented on #18689
The xfail has been removed.

[2019-10-07 01:56] #18689 closed

[2019-10-07 03:26] dhirschfeld commented on #28095
*jorisvandenbossche 3 days ago:*

As a proponent of typed NAs you *could* assume this to be of dtype `NA[object]` but then any future interactions would be forced to upcast to object. If there were typed NAs I'd be inclined to force the user to explicitly specify the dtype - e.g.
[code]

[2019-10-07 05:12] zepaz opened #28812 "bug: style.applymap + style.highlight_null() results in extra colons in the CSS"
#### Code Sample, a copy-pastable example if possible

[code]
Code is taken from the [user_guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)

#### Problem description
If you combine a style.applymap() with style.highlight_null() cells which are not NULL receive an extra colon in the ID in the CSS. This can cause render issues (especially Outlook) when trying to display the

[2019-10-07 06:13] h-vetinari commented on #22824
@stuarteberg
Thanks for finding and linking this issue. Unfortunately, #27874 does not solve the point you quote. The type I'm talking about here is that `Series.unique` should return a *Series* (where it currently returns an `np.ndarray`).

You will see that the approach of #27874 must fail for everything that's a pandas-dtype for example, because numpy does not know them. Said otherwise: maintai

[2019-10-07 06:52] alimcmaster1 commented on #26007
Closing as stale - feel free to reopen if you have an example. Thanks!

[2019-10-07 06:52] #26007 closed

[2019-10-07 07:11] jorisvandenbossche commented on #28778
(comment from the hackmd copied here)

In our ops code, pandas objects always have "priority" on numpy arrays. So if you do `series + array`, the result is a series (and hence in your example will contain pd.NA).

But, it's certainly true that when actually performing similar operations on the equivalent numpy arrays, you can get different results, certainly if np.nan and pd.NA behave differently.

[2019-10-07 07:52] kasparthommen commented on #28787
Closed by #28798

[2019-10-07 08:00] jreback commented on #28787
@kasparthommen this has not been merged yet; will be auto closed at that time

[2019-10-07 08:17] thedimlebowski opened #28813 "Diff on sparse dtype"
Correct behaviour without Sparse[int]:

[code]
yields:
[code]

Current behaviour (doesn't work):
[code]
yields:

[code]

[2019-10-07 08:18] borisaltanov opened #28814 "infer_dtype() function slower in latest version"
#### Code Sample

[code]
#### Problem description

When I run the above code on my machine, there is major difference in the performance between different versions. I ran the code using new conda environments created with Python 3.7 and the specific version of Pandas.  The table below shows the execution times.

| Pandas Version |  Execution time |
| ------------- |:-------------:|
| 0.23.4 |  0:0

[2019-10-07 09:35] ma00 opened #28816 ".at not setting value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

the function Dataframe.at is not setting the value if passed as variable, instead if it's passed as number, it works

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
python           : 3.5.6.final.0
pandas           : 0.25

[2019-10-07 10:07] kasparthommen commented on #28787
@jreback oops, of course, sorry!

[2019-10-07 10:12] JulianWgs opened #28817 "Faster SQL implementation in d6stack library"
#### Code Sample

https://github.com/d6t/d6tstack/blob/master/examples-sql.ipynb

#### Problem description

In the example it currently takes 28s to upload data to an SQL database. With the d6stack implementation it only takes 4.7s with postgres and 7.1s with mysql which is 4 to 6 times faster than standard pandas.

#### Expected Output

Improved speed uploading data to an SQL database right out o

[2019-10-07 10:58] Mandeep0001 commented on #28816
Hi,

Can you share one code snippet which shows the above problem?

I have tried below code snippet in which im passing variable in .at method and its working fine.
############################################################
############################################################
import pandas as pd

# reading csv file from url
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/u

[2019-10-07 11:06] ma00 commented on #28816
did you try to set a value ?

`data.at[position,` label] = 'Michael'

[2019-10-07 11:53] TomAugspurger commented on #28817
What's the actual next step here? You'll need to flesh out your proposal before we can decide whether it's a good idea / worth doing.

[2019-10-07 11:57] jeremy-rutman opened #28818 "read_csv improvement"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Not so much a problem as a feature possibility - when reading without the encoding= parameter, the default can be made a bit smarter; since utf-16 seems to generally start with unique characters 0xFF 0xFE hex , if those chars start a file then it should be read as utf-16 (either after reading as utf-8 fails or a

[2019-10-07 12:01] simonjayhawkins commented on #26984
fair enough. dropping py3.5 probably not far away, but probably OK to use when adding new tests/fixtures?

did use `tmp_path` in `filepath_or_buffer` fixture in `tests\io\formats\test_format.py` #27598

[2019-10-07 13:04] jorisvandenbossche commented on #28817
The important piece of information is also to know what they do differently to achieve this better performance, to know if this is something we can do in pandas.

[2019-10-07 13:07] jorisvandenbossche opened #28819 "DOC: fix code-block in the reshaping docs"
The code block at this location:

https://dev.pandas.io/docs/user_guide/reshaping.html#pivoting-with-single-aggregations

is not rendered correctly, as we accidentally try to render it as a note. The `.. note::` should be replaced with `.. code-block::`

[2019-10-07 13:24] Dr-Irv commented on #28095
If `NaN` and `NA` are separate, then I like the option idea.

For integer types, you may still want to have a `NaN` and `NA` values.  A division by zero would return `NaN` but not change the type of the whole Series.  Or adding two very large integers that overflow on 64 bits would return `NaN` as well.

[2019-10-07 13:40] jorisvandenbossche commented on #28095
That's not possible, as integers don't have a NaN that can be stored in a native integer array (only floats can do that). While NA would be stored separately using a mask.
(of course, technically you could use the mask for multiple things, not only for the binary "valid value vs NA", and also keep track of NaN with it, but that's an additional complexity which I think is not worth it. See https://

[2019-10-07 13:50] #28787 closed

[2019-10-07 13:51] datapythonista commented on #28095
Couple of comments:
- My preference is that `Series + pandas.NA` returns the type of `Series`.
- I wouldn't have a `NA` dtype. I think `pandas.Series([pandas.NA, pandas.NA])` should fail unless `dtype` is specified.
- I think `NaN` and `NaT`, when present, should be copied to the mask, and then we can forget about them (for what I understand values with `True` in the NA mask won't be ever used).

[2019-10-07 14:16] albb318 opened #28821 "Call .max method on two timezone datetime columns results in nan"
#### Code Sample, a copy-pastable example if possible

This works when comparing two non-timezone datetime columns
[code]
Output:
0   2019-01-01
1   2019-01-01
dtype: datetime64[ns]

But it fails on time-zone datetime columns
[code]
Output:
0   NaN
1   NaN
dtype: float64

#### Problem description
I'm expecting the .max function to work consistently on both non-timezone and timezone datetime column

[2019-10-07 14:23] Mandeep0001 commented on #28816
data.at[position, label] = 'Michael', this one also working.

[2019-10-07 14:24] espatatis commented on #28819
Can I get this issue assigned ?

[2019-10-07 14:25] espatatis commented on #28818
I'd like to get this issue assigned ?

[2019-10-07 14:33] TomAugspurger commented on #28095
I think we need to settle on having a single `pd.NA` or a `pd.NA[T]`, one per dtype, before we're ready to open a PR.

I think this is the strongest argument for `pd.NA[T]`, rather than a single `pd.NA`. An aggregation or a scalar selection losing the information of whether or not an op should raise seems important.

[2019-10-07 15:01] #28469 closed

[2019-10-07 15:12] mroeschke commented on #28821
Duplicate of https://github.com/pandas-dev/pandas/issues/27794. Investigations and PRs welcome!

[2019-10-07 15:12] #28821 closed

[2019-10-07 15:18] mroeschke commented on #28818
Here's the default encoding logic:

https://github.com/pandas-dev/pandas/blob/9db7f3eff3ec01f32806967fe372d60cfe75184b/pandas/io/parsers.py#L963

Not sure if how I feel about more inference since it can lead to bugs. If the ` 0xFF 0xFE` are absolute rules for utf-16, adding logic for that case may be okay.

[2019-10-07 15:28] rth opened #28822 "validate_docstrings.py as a separate package?"
The docstring validation script is quite nice! I would like to use it for instance to validate docsting in scikit-learn, e.g.
[code]
works, but then is a bit more difficult to customize being pandas specific.
In particular it would be nice to have the ability to specify which error to include / exclude in some config file. Also for instance scikit-learn has some default configuration for doctests

[2019-10-07 15:30] WillAyd commented on #28822
Thanks - this was discussed in #27342 and something we would generally agree with. @datapythonista did you ever get traction with numpydoc on that discussion?

[2019-10-07 15:32] WillAyd commented on #28818
I personally think detecting the encoding of files is out of scope for pandas. Can you not use charted or another library for this?

[2019-10-07 15:33] WillAyd commented on #28818
see also #27655 which had a similar request but was also deemed out of scope. Closing this one as such though if any maintainers disagree can reopen

[2019-10-07 15:33] #28818 closed

[2019-10-07 15:34] rth commented on #28822
Great! I think there was mostly positive feedback in https://github.com/numpy/numpydoc/issues/213 . They are waiting for a PR :)

[2019-10-07 16:03] mroeschke commented on #28816
This works on master and I believe we have sufficient tests for this:

[code]

[2019-10-07 16:03] #28816 closed

[2019-10-07 16:16] chrisyeh96 opened #28823 "Feature Request: Population Covariance Calculation with ddof parameter for DataFrame.cov()"
I propose adding a `bias` parameter in [`DataFrame.cov()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.cov.html). Currently, Pandas v0.25.1 does not have such a parameter.

The default would be `bias=False`, which would compute sample covariance with a `N-1` factor in the denominator. When `bias=True`, this would compute population covariance with `N` in the denomin

[2019-10-07 17:56] arthurandres commented on #23379
#21932 and #13483 are possible duplicates

[2019-10-07 19:51] hellbe opened #28825 "UnsupportedOperation 'seek' when loading excel files from urllib3.response.HTTPResponse object"
0.25.1 seems to have reintroduced #20434

**Update:** not the case, but the same problem happens when feeding `excel_read()` with an [urllib3.response.HTTPResponse](https://urllib3.readthedocs.io/en/latest/reference/#urllib3.response.HTTPResponse) object. Code sample updated.

#### Code Sample, a copy-pastable example if possible
[code]

#### Problem description
Using `0.25.1` I get the same probl

[2019-10-07 19:52] eric-downes opened #28827 "Docs: Does pandas `.apply()` twice on first row, or not?"
#### Code Sample

[code]

#### Problem description

According to the current `pd.DataFrame.apply()` docs: "In the current implementation apply calls func twice on the first column/row to decide whether it can take a fast or slow code path. This can lead to unexpected behavior if func has side-effects, as they will take effect twice for the first column/row."

#### Expected Output

[code]

#### Out

[2019-10-07 21:07] alimcmaster1 commented on #28578
Closing this as no response from user

[2019-10-07 21:07] #28578 closed

[2019-10-07 21:12] alimcmaster1 commented on #28660
Do you have a minimal reproducible example? Can you give the output of pd.show_versions() ?

[2019-10-07 21:22] Aakash1822 commented on #28827
Yes, I interested in to update the docs of this pd.Dataframe.apply() @mroeschke

[2019-10-07 21:23] alimcmaster1 commented on #27771
@tseth92 answer should solve your problem. Feel free to reopen @shanhong

[2019-10-07 21:23] #27771 closed

[2019-10-07 21:39] alimcmaster1 commented on #26393
I think https://pypi.org/project/holidays/ would be a more appropriate project to implement this kind of logic.

Thanks!

[2019-10-07 21:39] #26393 closed

[2019-10-07 21:41] #25562 closed

[2019-10-07 21:45] Aakash1822 commented on #28827
Please tell me the folder name to change this issue

[2019-10-07 21:53] mroeschke commented on #28827
https://github.com/pandas-dev/pandas/blob/a43ac017bcc774cb8b57c0ce14b9b071b9eb9dad/pandas/core/frame.py#L6732

[2019-10-07 21:54] alimcmaster1 commented on #25562
Closing since issue has been raised in numpy.

[2019-10-07 22:25] tomyun commented on #28481
I have the same issue. The code used to work in the past, producing NaT as expected, is now broken in the latest version of pandas.

And thanks @leo4183 to provide a workaround with `reindex`.

[2019-10-07 22:26] jorisvandenbossche commented on #28819
@espatatis sorry, there was already a PR opened by someone else: https://github.com/pandas-dev/pandas/pull/28820

[2019-10-07 22:48] simonjayhawkins opened #28829 "CI failing Linux py36_32bit"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=18548

attrs 19.1 -> 19.2

https://github.com/pytest-dev/pytest/issues/5903

[2019-10-07 23:58] #28829 closed

[2019-10-08 01:09] kkraus14 commented on #28755
Wouldn't you pass the `sort` parameter to the groupby call here as opposed to the aggregation call?

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

[2019-10-08 01:24] jbrockmendel commented on #28823
In other methods we have a `ddof` parameter.  Would setting that to 0 be equivalent to bias=True?

[2019-10-08 01:29] jbrockmendel commented on #28769
Seems reasonable.  A PR would be welcome.

[2019-10-08 03:18] chrisyeh96 commented on #28823
Yes, the `ddof` parameter in `DataFrame.std()` is similar. Setting it to 0 would indeed be equivalent to `bias=True`. Actually, I just realized that `numpy.cov()` also has a `ddof` parameter, and it definitely seems to be a more flexible parameter.

I've changed the issue name to reflect this.

[2019-10-08 04:40] rockg commented on #28817
From looking at the code it uses the bulk insert operations for the respective database types.So it writes a csv file and then loads that into the database using `LOAD DATA`, `BULK INSERT`, etc. See [here](https://github.com/d6t/d6tstack/blob/7b6c5851b53bdd221466facfb7aebdc96006bf41/d6tstack/utils.py#L146). I know I created something similar as loading through insert statements is so slow.

[2019-10-08 04:46] WillAyd commented on #28817
I think this issue is too open ended so should refine the ask or close out. You can already write your own bulk load command as shown in the documentation:

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#insertion-method

Though that has type preservation downsides

[2019-10-08 06:35] toobaz opened #28836 "NameError: name 'tempita' is not defined when building extensions with old cython"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

If cython is too old/missing, the nice error reporting of the setup.py do not work.

Until few minutes ago I had never heard about ``tempita``, but my understanding is that it is required (used in ``build_ext.render_templates``) while ``cython`` is not:
https://github.com/pandas-dev/pandas/blob/bee17d5f4c99e6d

[2019-10-08 06:39] toobaz commented on #28836
(By the way: my command above will fail anyway because of the missing cython, but my understanding is that, because of this bug, ``setup.py`` will fail even when cython files are provided - and hence cython is not needed)

[2019-10-08 07:27] JulianWgs commented on #28817
There is already a parameter called method to switch between normal and multi insert. Im assuming that multi is not an implementation of bulk insert? Then I would propose a new value, where you can choose to use "bulk".

The if-statement for the different methods can be found here:
https://github.com/pandas-dev/pandas/blob/bee17d5f4c99e6d1e451cf9a7b6a1780aa25988d/pandas/io/sql.py#L724

Implementin

[2019-10-08 08:18] bdepardo opened #28837 "df.loc modifies datetime columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Using `.loc[]` on datetime columns to assign values modifies the dates.
When `.loc[]` is used on all the lines (`df.loc[:, "date_dt_cp"] = df.loc[:, "date_dt"]`) the dates are unchanged
[code]

but when selecting only a subset of lines (`df.loc[[2,3], "date_dt_cp"] = df.loc[[2,3], "date_dt"]`), the values of th

[2019-10-08 09:24] vanschelven commented on #10843
Well, it matters in my reality too.

The particular scenario where this is bothering me is when using pandas in dataframes with very few rows (e.g. a signle row). In that context, per-column slowness is not nicely amortised over the large number of rows, and the per-row cost balloons.

I understand that data with few rows is not exactly Pandas' sweet spot; on the other hand: the fact that Pandas i

[2019-10-08 09:28] vanschelven commented on #1502
Sad to see this old issue closed, as I'm also suffering from this so many years later.

The particular scenario where this is bothering me is when using pandas in dataframes with very few rows (e.g. a single row). In that context, per-column slowness is not nicely amortised over the large number of rows, and the per-row cost balloons.

I understand that data with few rows is not exactly Pandas' sw

[2019-10-08 10:16] jreback commented on #28836
we bumped cython recently; conda update cython should be enough
this is a dev only dep and only if not creating a new from a new env

[2019-10-08 10:18] SadanLucifer opened #28839 "BUG: DataFrame.equals() wrongly returns True in case of identical blocks with different locations"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

![image](https://user-images.githubusercontent.com/20040007/66388224-3745e700-e9f8-11e9-8fe6-589add23177d.png)

When I read the source code, I did a simple test on it, and then failed.

#### Expected Output
I expected it return False
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
---------

[2019-10-08 11:12] toobaz commented on #28836
Yep, sorry for not mentioning I had already solved my local problem.

[2019-10-08 12:14] jreback commented on #22824
repeating from the linked issues @h-vetinari if you'd summarize.

why not an .array? then doesn’t .factorize() exactly provide the ability to reconstruct (iirc your main goal); speaking of reconstruction; how is this useful to a user? what is the use case

[2019-10-08 12:17] #20303 closed

[2019-10-08 12:24] gpozzetti commented on #22596
probably a bit late to the game :)
But something like :
``import numpy as np``
``df[column].pct_change()*np.sign(df[column].shift(periods=1))``

should do the job

[2019-10-08 12:40] #28668 closed

[2019-10-08 12:43] #25335 closed

[2019-10-08 12:53] #28799 closed

[2019-10-08 13:04] AndyMac541 commented on #28348
Just a quick comment that I got this error while using Jupyter.
Python: 3.7.4
ipython: 7.8.0

Loaded a df in via psycopg2, and then ```display(my_loaded_df)``` caused the error. It was solved by starting a new Jupyter session, which means I sadly can't reproduce.

For if others run into the error under similar circumstances.

[2019-10-08 13:32] jorisvandenbossche commented on #28839
Yes, that's clearly a bug. Thanks for finding that!

We seem to check the equality block by block. But that way we ignore the block locations .. (and thus how they map to column names)

[2019-10-08 13:43] jorisvandenbossche commented on #28836
I suppose this is caused by https://github.com/pandas-dev/pandas/pull/28374 when we now require cython for sdists. Before, we only called cythonize when `if cython`, but now we assume cython is installed in `maybe_cythonize`. We can add a check there if cython/tempita is installed and otherwise raise a better error message?

[2019-10-08 13:49] jorisvandenbossche opened #28840 "BUG: EAs with list-like values fail in to_csv (due to to_native_types)"
From a report at GeoPandas: https://github.com/geopandas/geopandas/issues/1145

Explanation: assume you have an ExtensionArray with list-like values (eg with an object numpy array with lists under the hood). When calling, `to_csv`, which goes through `Block.to_native_types`, we convert this to a numpy array and call `astype(str)`:

https://github.com/pandas-dev/pandas/blob/39602e7d7c5b663696f5a6ec

[2019-10-08 14:02] TomAugspurger opened #28842 "Migrate 32-bit linux build"
Right now our 32-bit build only happens on a Linux VM in azure pipelines. Anaconda no longer builds 32-bit linux packages, and conda-forge never built 32-bit packages. So that build is likely to cause problems over time.

We should migrate to either

1. Use a 32-bit windows build, which Anaconda still builds packages for.
2. Use a non-conda environment on 32-bit linux VM.

1 is probably preferable

[2019-10-08 14:20] zero323 opened #28843 "[TYPING] pandas.io.formats.format._binify annotation is inconsistent with DataFrameFormatter.__init__"
#### Problem description

`pd.io.formats.format._binify` defines `line_width` as `Union[np.int32, int]`:

https://github.com/pandas-dev/pandas/blob/39602e7d7c5b663696f5a6eca9e66e65483bc868/pandas/io/formats/format.py#L1893

however it is inconsistent with `DataFrameFormatter.__init__`

https://github.com/pandas-dev/pandas/blob/39602e7d7c5b663696f5a6eca9e66e65483bc868/pandas/io/formats/format.py#L5

[2019-10-08 14:38] simonjayhawkins commented on #28843
if i recall these types were from using MonkeyType. so if line_width is typed as Union[np.int32, int], then we have no tests that pass None.

[2019-10-08 15:07] jbrockmendel opened #28846 "STY: # TODO, # FIXME, # XXX, others?"
When looking for things that need attention, I usually grep for `# FIXME:` followed by `# TODO`.  But every so often I see a `# XXX: ` which will be missed by this heuristic.  This raises two questions:

1) Are there other common usages besides "XXX" that I'm not aware of?
2) Should we standardize on some usage patterns?

<b>Update</b> Also: comments with "?" but no TODO/FIXME label that might mer

[2019-10-08 15:08] WillAyd commented on #28843
Does `np.int32` actually resolve to anything? The following yield `Any` for me:

[code]

Wonder if we shouldn't just defer dealing with numpy types until they are actually annotated. Could just simplify this signature to be `int` for now

[2019-10-08 15:10] WillAyd commented on #28846
Those are the two I've seen. I don't care either way, though if we want to use either I think they should always have an issue number associated with them. Otherwise they can just hang around forever; not that an issue necessarily solves that, but makes it clearer I think

[2019-10-08 15:11] simonjayhawkins commented on #28843
@WillAyd that's probably unrelated, but yes, all np.int to be replaced with python int is subsequent pass.

[2019-10-08 15:13] WillAyd commented on #28842
I think this could be possible on Azure:

https://docs.microsoft.com/en-us/azure/devops/release-notes/2018/sprint-142-update#build-on-linuxarm-and-windows-32-bit-platforms

And maybe even still with linux, which would probably be preferable to minimize moving parts

[2019-10-08 15:17] jbrockmendel commented on #28846
This sounds like it is probably Best Practice, but I think I am likely an offender in not doing this.  I definitely add "TODO/FIXME" comments as I go and don't open new issues for all of them.  If we can get to a point where these all have associated issues, then grep-ability should be irrelevant.  Otherwise, having few/defined enough variants that I can grep for them is my main concern.

Note: Up

[2019-10-08 15:17] simonjayhawkins commented on #28843
i'm using 0.730, but not getting that particular mypy error show up yet on my branch.

since there are many mypy errors, probably best to determine if it is an actual bug in the code, since we have mypy on the ci, and for the current options and version we have a passing build.

typing errors will be resolved as more types are added and more strictness flags are enabled.

[2019-10-08 15:25] zero323 commented on #28843
Interesting... I downgraded Mypy to 0.730 and still get this one. Do you use any specific flags?

[2019-10-08 15:26] simonjayhawkins commented on #28843
see #28339

[2019-10-08 15:39] MarcoGorelli commented on #28448
Fixed by #28668

[2019-10-08 15:46] jbrockmendel commented on #28778
I think I promised to offer examples of weird edge cases and then this got lost in my inbox while travelling.  Is that still something that would be useful?

[2019-10-08 16:11] jreback commented on #28448
hmm do we have a test for this?

[2019-10-08 16:11] xhochy commented on #28778
I recently made a prototype BooleanArray that deals with missing in the current pandas logic: https://uwekorn.com/2019/09/02/boolean-array-with-missings.html It shouldn't be hard to adapt that to output results in Julia/Kleene logic and also implement other operations like `|` on top of that.

[2019-10-08 16:27] xhochy commented on #28095
We should have all the necessary bit implemented and tuned in `pyarrow` but they aren't currently exposed in Python so that you can just use the bitmap on its own. Once we know what pandas' requirements are, it shouldn't be too hard to expose the standalone operations to have fast Python-callable operations on them.

###  pd.NA vs pd.NA[T]

I'm a bit skeptical about having a type-specific NA. One

[2019-10-08 16:28] toobaz commented on #28836
I _think_ (but I'm quite ignorant of how the ``setup.py`` works) that just moving the following ``try..except``
https://github.com/pandas-dev/pandas/blob/bee17d5f4c99e6d1e451cf9a7b6a1780aa25988d/setup.py#L76

... out of the ``else`` should fix this...

[2019-10-08 16:31] WillAyd commented on #28836
I think that block could be simplified - the `pip install Tempita` command I don't believe is valid any longer.

I generally think anything to simplify setup.py would be great. I would be hesitant to add more logic

[2019-10-08 16:37] jorisvandenbossche commented on #28836
@toobaz I don't think that should be moved out of the else clause, as in theory you don't need tempita to run `setup.py` (eg sdist does not need it).

But I think @WillAyd is correct that the `import tempita` / `pip install tempita` is no longer needed, it might stem from a time that we still supported cython versions that did not include tempita

[2019-10-08 16:57] seberg commented on #28095
I would argue that on the contrary, lets say you do:
[code]
It should not matter that `other_series.sum()` _sometimes_ is `NA` and sometimes is not. I can see someone lateron replacing the NA with some logic, at which point you suddenly get inconsistent lower precision results. (The `/` is a nice example from further up since the output dtype drastically changes due to different input, `timedelta

[2019-10-08 17:13] smsaladi opened #28851 "Support for Nested HTML Tables?"
#### Problem description

Sometimes I encounter html tables that I need to parse where cells contain full-tables themselves. When using `pd.read_html` itself, this does not work quite that well. With a simple call to pd.read_html, each of these nested tables are parsed and then "inserted"/"concatenated" as rows.

[code]

Screenshot of output as parsed:
![image](https://user-images.githubuserconten

[2019-10-08 17:16] smsaladi commented on #28851
SO User Stef suggested rolling my own html parser [here](https://stackoverflow.com/a/58284784/2320823):

I wonder if something similar would be a useful improvement to `pd.read_html`'s functionality:

[code]

Result:
[code]

Bonus: As your table rows have an id, you could use it as index of your dataframe:

[code]

[2019-10-08 18:33] simonjayhawkins commented on #28843
changing to `def _binify(cols: List[int], line_width: int) -> List[int]:`

and I get `pandas\io\formats\format.py:873:40: error: Argument 2 to "_binify" has incompatible type "Optional[int]"; expected "int"  [arg-type]`

so the Any is swallowing the None.

@zero323 do you have numpy stubs in your environment?

[2019-10-08 18:34] simonjayhawkins commented on #28843
i was wrong.

[2019-10-08 18:40] solxero opened #28855 "Pandas Documentation: PDF formatting/organization"
Would it be possible to have a proper table of contents and index added to the pdf version of the documentation? The pdf doc for verion 0.25.1 has a section labeled contents; however, the TOC is missing. Also, consider relagating the previous version documentation to an appendix this would allow a inclusion of an index for the current version documentation only.

The reason this change is requeste

[2019-10-08 18:45] zero323 commented on #28843
Yes, I do.

[2019-10-08 18:49] simonjayhawkins commented on #28843
so I guess that adding stubs for __all__ the missing imports becomes more important with PEP 561 compatibility since other users could have stubs for the other packages.

[2019-10-08 19:09] jorisvandenbossche commented on #28095
@xhochy thanks for adding your thoughts!

I would expect it to be the same if the right value was an int64 scalar, so we could have clear expectations about those cases.
(although right now, we don't seem to take the bitsize of the integer dtype into account if the right value is a scalar. Which seems a bit inconsistent ..)

As @seberg explains, making no distinction between a typed scalar and a t

[2019-10-08 19:29] zero323 commented on #28843
From that point of view the problem with PEP 561 is [that](https://www.python.org/dev/peps/pep-0561/#id20):

So effective outcome is rather hard to predict.

Not to mention that all signs show that mature stubs for scientific stack are nowhere near.

One possible workaround is to keep dynamic mock stubs that cover the part of the 3rd party API that you're interested in, and use these for internal

[2019-10-08 20:04] xhochy commented on #28778
(extracted from https://github.com/pandas-dev/pandas/issues/28095#issuecomment-539594575)

### (NA == NA) = ?

In this case, I would expect also `NA` as `NA` is typically interpreted as `unknown` (actually in the discussion here just a synonym to `missing` but it makes the intuition a bit better), thus the outcome of the comparison of two unknown values is also unknown.

### Naming

In general, I

[2019-10-08 20:56] #28827 closed

[2019-10-08 21:04] WillAyd commented on #28770
Removing Needs Discussion label and replacing with good first issue as I think we are aligned and can probably be done easy by community, though if you disagree @jorisvandenbossche lmk

[2019-10-08 21:08] jorisvandenbossche commented on #28770
cc @TomAugspurger

[2019-10-08 21:12] jorisvandenbossche commented on #28770
One other concern that is that adding `count` might clash with what "count" already means in pandas. We already have a Series.count(), and while adding a EA.count to dispatch to from Series.count was not yet discussed I think, having the same methods with different behaviour is also confusing.

[2019-10-08 21:54] TomAugspurger commented on #28770
The mental clash with our NDFrame methods. I think `.index` is especially bad.

[2019-10-08 22:08] Azuremis commented on #4607
As I've not heard back from @TanyaaCJain, I'm going to start working on this issue

[2019-10-08 22:20] jeremy-rutman commented on #28818
in case its of interest i used chardet as suggested in the below which uses it if encoding is not specified, reading the first kB to determine encdoing

[code]

[2019-10-08 22:42] dsaxton opened #28860 "Suffixes not applied to join columns in pd.merge"
[code]

#### Problem description

The documentation for `suffixes` in `pd.merge` reads:
[code]
but it seems that the join columns themselves are ignored.  I'm guessing this is by design, but if so should the docstring be updated to reflect this?

#### Expected Output

[code]

[2019-10-08 22:57] dhirschfeld commented on #28095
*xhochy wrote:*

I don't think that will be required as a user should be able to use `pd.NA` and have it automatically converted to the right type as is currently done:
[code]
...so the new behaviour would be:
[code]
which is no more typing than previously.

As for casting there is a very straightforward rule which can be applied:

e.g. With the existing (scalar) type casting:
[code]
the scalar re

[2019-10-08 22:58] dhirschfeld commented on #28095
...all of which I *think* is in agreement with what @jorisvandenbossche said above.

[2019-10-08 23:37] jreback commented on #28860
by definition join columns do not have suffixes
i think the docs are clear but if u do not then can submit a PR

your example is wrong

[2019-10-08 23:47] DFuller134 commented on #19808
You may need to reopen this. Not clear what is different besides having a nan value.
I replaced the nan values with a string and the dataframes matched.

{AssertionError}DataFrame.iloc[:, 3] are different

DataFrame.iloc[:, 3] values are different (16.66667 %)
[left]:  [nan, 0, 4226a371-12b4-4895-8703-111f1536480a, 4226a371-12b4-4895-8703-111f1536480a, 4226a371-12b4-4895-8703-111f1536480a, 0]
[rig

[2019-10-09 00:12] dsaxton commented on #28860
Can you elaborate on which part is wrong?  The expected output would be the standard behavior in SQL.

[2019-10-09 03:08] jreback commented on #28860
you example shows suffixes on join keys which is wrong

[2019-10-09 04:31] mroeschke commented on #28860
Suffixes only apply to column that are not the join axis. `how='left'` is equivalent to a left join in SQL.

[code]

[2019-10-09 04:31] #28860 closed

[2019-10-09 04:44] mroeschke commented on #28837
I am not getting the same result on master, but I did get the same result as you on 0.25.1.

It must have been fixed in the meantime and could use a regression test.

[code]

[2019-10-09 04:50] mroeschke commented on #4193
This seems a little out of scope for pandas now and more suited for jupyter. Closing.

[2019-10-09 04:50] #4193 closed

[2019-10-09 05:10] mroeschke commented on #13820
This looks to work on master/0.25.1 now. Could use a regression test.

[code]

[2019-10-09 05:12] mroeschke commented on #13825
Closing as stale.

[2019-10-09 05:12] #13825 closed

[2019-10-09 05:14] CrystalWindSnake opened #28866 "DataFrame.replace with dict does not work with Duplicate Column Labels"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
display the Warning message:
[code]

and Data has not been modified

#### Output of ``pd.show_versions()``

<details>

pandas           : 0.25.0
numpy            : 1.16.2
pytz             : 2018.9
dateutil         : 2.8.0

</details>

[2019-10-09 05:19] jschendel commented on #18482
Yes, I think this can be closed.

[2019-10-09 05:19] #18482 closed

[2019-10-09 05:20] mroeschke commented on #17120
Closing as stale.

[2019-10-09 05:20] #17120 closed

[2019-10-09 05:23] mroeschke commented on #17145
Looks to be fixed on master now. Could use a regression test.

[code]

[2019-10-09 05:26] mroeschke commented on #17235
Looks to be fixed on master now. Could use a regression test.

[code]

[2019-10-09 05:41] mroeschke commented on #25875
Looks like this test is no longer xfailed (and possibly the CI has recovered?) We can reopen if we see it again

[2019-10-09 05:41] #25875 closed

[2019-10-09 05:43] mroeschke commented on #26069
Looks like we no longer have an xfail on the parameter. Closing.

[2019-10-09 05:43] #26069 closed

[2019-10-09 05:47] mroeschke commented on #5008
Not entirely clear on the feature request since it references an older API. Feel free to open a new issue as it pertains to `to_sql`.

[2019-10-09 05:47] #5008 closed

[2019-10-09 05:49] mroeschke commented on #8873
`convert_objects` has been removed. Closing

[2019-10-09 05:49] #8873 closed

[2019-10-09 05:49] #8892 closed

[2019-10-09 05:51] mroeschke commented on #10312
We don't support 3.4.3 anymore, so these errors should not be relevant anymore. Closing

[2019-10-09 05:51] #10312 closed

[2019-10-09 07:03] bdepardo commented on #28837
Thanks.
For the test, why not, if you guide me on where to write it.
Shall it be in pandas/tests/indexing/test_loc.py?

[2019-10-09 07:31] toobaz commented on #28836
Right, it would need also a variable where we remember whether tempita is present, like for cython.

Again, I'm not an expert, but my understanding is that if you have ``tempita`` but not ``cython``, the ``setup.py`` still tried to allow you to take a pandas provided with ``cython`` files and compile them to C. But then, this is a very marginal use case, so maybe not worth the effort.

[2019-10-09 07:34] jorisvandenbossche commented on #28836
tempita itself is not enough to compile cython file to C (tempita only generates cython files from the templates, not C files), so that use case doesn't sound possible to me.

So I think it should be fine to just rely on tempita provided by cython?

[2019-10-09 08:05] toobaz commented on #28836
OK sorry, now understand, and sure, checking ``tempita'' is useless.

[2019-10-09 08:17] jorisvandenbossche opened #28867 "DEPR: deprecate Index.to_native_types() ?"
We currently have a public `Index.to_native_types()` method (https://dev.pandas.io/docs/reference/api/pandas.Index.to_native_types.html) that somehow formats the values of the index.

Example:
[code]

I don't think this needs to be in the public API?

[2019-10-09 09:24] MaximeWeyl opened #28868 "Maximum of time series with NaT returns a dtype float64 with only NaN's"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When show_bug is False, no NaT's are present. This gives this output :

[code]

When show_bug is True, all it does is replacing the first value in a with a NaT.
I expect the output to be the same, except for the first row being a NaT.

Here is what I get for show_bug=True :

[code]

#### Expected Output

[code]

[2019-10-09 09:43] MaximeWeyl commented on #28868
Here is a workaround I intend to use while this bug exists :

[code]

Wich gives me what I want :

[code]

[2019-10-09 10:55] Hiyorimi commented on #28547
So what is the decision ?

Dump xlrd disregarding .xls support and to replace it with openpyxl ?

[2019-10-09 11:16] eddy-geek opened #28869 "Cannot `style.background_gradient` on an `Int64` column"
[code]

#### Problem description

Similarly to https://github.com/pandas-dev/pandas/issues/25580, the newer Int64 backend is missing some basic functionality.

Expected: values.min() is available, gradients are displayed

Actual:
[code]
and full stack of the `background_gradient` error:

<details>

[code]

</details>

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS

commit: Non

[2019-10-09 11:29] jjlkant opened #28870 "Merge_asof() Requires specific int type, not reflected in error or documentation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

merge_asof() throws the MergeError `key must be integer, timestamp or float` even when the data used to merge on is a valid integer type.

This happens with all types of int with the exception of int64, as a result of the check performed when a tolerance is passed _(pandas/core/reshape/merge.py:1641)_. This che

[2019-10-09 14:18] rugg2 commented on #14553
@TomAugspurger, if the design we designed with @cvonsteg suits you, we will proceed with the implementation in code (incl. tests) and raise a pull request.

Let us know if you would like to proceed differently.

[2019-10-09 14:22] TomAugspurger commented on #14553
Reading through the proposal is on my todo list. I'm a bit behind on my
email right now.

On Wed, Oct 9, 2019 at 9:18 AM Romain <notifications@github.com> wrote:

[2019-10-09 14:50] #28557 closed

[2019-10-09 14:53] innominate227 opened #28871 "columns sometimes not added to empty dataframe"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The column '3010' is added to the dataframe as expected, but column 2010 does not get added.

#### Expected Output

Empty DataFrame
Columns: [3010, 2010]
Index: []

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.5.4.final.0
py

[2019-10-09 14:53] WillAyd commented on #28547
We need to deprecate using xlrd by default. I think it's fine to do for all extensions, including .xls - interesting in a PR?

[2019-10-09 15:00] innominate227 commented on #28871
The limit seems to be:
[code]

[2019-10-09 15:01] WillAyd commented on #28860
IIUC @dsaxton you are trying to emulate something like

[code]

Which merge doesn't really allow for, since the merged column(s) are provided back as is. You could however utilize the `indicator` argument to specify if the field was available on both sides of the join or just the left side which maybe gets you what you are after

[2019-10-09 15:23] WillAyd commented on #28860
I don't think that is generally true. I think the above snippet would raise an ambiguous reference error in DBs like postgres

[2019-10-09 15:24] innominate227 commented on #28871
Various way to add the column described here: https://stackoverflow.com/a/50372722/1418484 either throw an error or fail to add the column:
[code]

I was able to work around by just creating a new dataframe with the column
[code]

[2019-10-09 15:27] johannes-mueller opened #28872 "IntervalIndex: outer intervals closed 'both' should be possible"
#### The following ipython session demonstrates the issue

[code]
#### Problem description

The current behavior of `IntervalIndex` is that all the intervals have the same closing. It is however desireable to have an `IntervalIndex` like `[[0, 1], (1, 2], (2, 3]]` including the lower and the upper limit.

`cut()` solves this by adding an arbitrary offset to the lower limit to make it loo like `[(-

[2019-10-09 15:56] mroeschke commented on #28837
Sure. A new test `pandas/tests/indexing/test_loc.py` sounds good.

[2019-10-09 15:57] mroeschke commented on #28868
Duplicate of https://github.com/pandas-dev/pandas/issues/27794. Investigations and PR's welcome!

[2019-10-09 15:57] #28868 closed

[2019-10-09 15:59] mroeschke commented on #28871
Thanks for the report. I'm guessing this is due to some underlying datetime inference as `2262` is the max year we support in pandas. Investigations and PRs welcome.

[2019-10-09 16:04] mroeschke commented on #28870
I think this is because `.astype(int)` will convert your data to your OS's (Windows) platform int which is 32 bit. `is_int64_dtype` should just be replaced with `is_integer_dtype`. Care to submit a PR?

[2019-10-09 16:16] jorisvandenbossche commented on #28095
Yes, that's indeed what I tried to explain in words, thanks for the examples.
(one small note: I don't think we will have a `pd.NA[int64]` *dtype*, it will still be the Int64Dtype that is nullable by using a mask; but maybe it was only for illustration purpose to be able to make a difference with the current behaviour?)

Assuming we have this "generic" untyped pd.NA as well, you can still run into

[2019-10-09 16:37] amcnulty93 commented on #28870
@mroeschke I can pick this up if @jjlkant doesn't want to.

[2019-10-09 16:43] techytushar commented on #28786
@mrocklin I would like to work on this, please can you tell which files to look into ?

[2019-10-09 16:54] mroeschke commented on #28870
Go for it @amcnulty93

[2019-10-09 16:55] mrocklin commented on #28786
I think that you probably meant to ping someone else.  I am not involved with this issue and don't know the Pandas codebase well.

[2019-10-09 17:21] mroeschke commented on #28786
@techytushar probably `pandas/core/reshape/concat.py`

[2019-10-09 18:08] toobaz commented on #24046
In the last dev chat, which was held just few minutes ago, this issue was discussed and there was clear consensus for option 4, that is, "deprecate using set_index with arrays, and point to set_axis instead".

(Related to the "tone" of the discussion, I definitely try to keep emotionally charged language away from my comments, but whenever should I fail to do so, I welcome being explicitly reprima

[2019-10-09 19:00] jjlkant commented on #28870
Had some issues getting the PR to work, hope it is okay like this? Please let me know if there are any other things I'd have to do first

[2019-10-09 19:20] ei-grad commented on #7269
Got to this issue via CodeTriage. It seems like the problem doesn't exist now:
[code]

Probably the issue could be closed.

[2019-10-09 19:20] jorijnsmit commented on #11562
I encountered this problem and ended up settling for this:
`.agg({'column': lambda x: pd.Series.mode(x)[0][0]})`

But yes, I agree with @kernc, I would not mind `.agg('mode') returning the first mode if multiple modes are returned.

[2019-10-09 19:41] BartlomiejBartnicki opened #28877 "read_json should support json pagination"
#### Problem description
Many web service return data divided in subsets. Common conventrion is return data as dict:
[code]
Could you consider to add to read_json flag paggination=False, if flag is set to True then json shoulde be compose by sum of results:
[code]
There is same question on StackOverflow about this, so I think this feature will be helpfull for many users.

[2019-10-09 19:45] WillAyd commented on #28877
I think this is out of scope for read_json as the interaction with the web service will rely on a third party library (here you are using requests)

You can use `pd.concat` to combiner these together similar to your second code block

[2019-10-09 21:00] jorisvandenbossche commented on #24046
@toobaz can you give some reasoning why this is the clear preference?
I would need to go through this long thread the understand it more, but maybe some arguments were summarized on the call?

[2019-10-09 21:31] #7269 closed

[2019-10-09 22:07] insightfulquery opened #28881 "Type check on dataframe aggregation functions"
OS: Windows 10
Python: 3.7.3
Pandas: 0.25.1

The DataFrame object has functions such as mean() and sum() which return a Series that contains the appropriate aggregation for each column of the DataFrame. Not all data types are appropriate for all aggregations. For example, strings are not suitable for mean or sum.

Current Behavior:
When mean, sum, or other numerical aggregation is called on a Data

[2019-10-09 22:31] VelizarVESSELINOV opened #28882 "Crash during groupby quantile"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Process:               Python [24642]
Path:                  /Library/Frameworks/Python.framework/Versions/3.7/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               3.7.4 (3.7.4)
Code Type:             X86-64 (Native)
Parent Process:        Python [24593]
Responsible:

[2019-10-10 02:05] #28699 closed

[2019-10-10 04:05] amas0 commented on #28871
I dug into this a little bit - looks like the underlying problem is related to datetimes as @mroeschke suggested. The primary issue arises due to the fact that `test` has a `DatetimeIndex` as soon as the `date` column is set as the index.

The `DatetimeIndex` supports partial string indexing, so it attempts to parse the key as a partial datetime slice. To quote from the pandas docs on [partial str

[2019-10-10 04:38] sunnyjiechao opened #28889 "Series <replace> api"
#### Code Sample, a copy-pastable example if possible

[code]
df_sam dataframe:

| col1 | col2 |
| --- | --- |
| a | b |
|  |  c|
| c | d |
|  | s |

#### the expected result is
[code]
0    a
1    None
2    c
3    None
Name: col1, dtype: object

#### the actual result is
[code]
0    a
1    a
2    c
3    c
Name: col1, dtype: object

any idea why the actual result is not what i expected, wondering t

[2019-10-10 05:18] jbrockmendel commented on #28867
+1

[2019-10-10 05:34] mroeschke commented on #28889
The default positional arguments of the first 2 values are `None`. The docstring has an example of how to replace with `None`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

[code]

[2019-10-10 05:34] #28889 closed

[2019-10-10 05:54] bhuvanakundumani commented on #28839
I am interested in working on this .

[2019-10-10 06:15] jorisvandenbossche commented on #28839
@bhuvanakundumani Super, that would be very welcome! If you have any question or need a pointer, let me know.

[2019-10-10 06:18] h-vetinari commented on #24046
@toobaz
Thanks for seeing this through. Although I would have liked to participate in the dev chat about this, and although I find the decision suboptimal, I guess any decision is better than no decision at this point. Time permitting, I'll look into a PR that deprecates arrays from set_index and outputs a nice warning to use set_axis.

@jorisvandenbossche
The lack of documentation and transparenc

[2019-10-10 06:18] questglobal-bom commented on #25941
`col_space` changes the width of all the columns. Is there a way to change width of a specific column only?

[2019-10-10 07:10] toobaz commented on #24046
To be honest there was more a recall of the reasoning already exposed here than any new argument. Some devs (e.g., @WillAyd ) were already clearly in favour of option 4.

The only new thing was a proposal (by @TomAugspurger if I recall correctly) to deprecate ``set_index`` entirely, replacing with two methods ``set_index_keys`` and ``set_index_values``, a clean, but more disruptive, solution. But

[2019-10-10 07:13] khaeru commented on #25760
Just ran into this. I ended up having to write a workaround like this:
[code]

[2019-10-10 07:19] toobaz commented on #28568
PEPs/NEPs are not a bad thing in absolute, clearly, but I don't see how they would increase the free time of devs, which is the real scarce thing. If any, a new procedure will increase the burden.

@h-vetinari You start from the assumption that #24046 would have benefited from more attention from the devs, but it really got a lot.

Something I would be happy to recommend would be, in any API-relat

[2019-10-10 07:48] Janhonho opened #28892 "A question about pd.qcut"
code:
t = [1]*4782+[2]*1030+[3]*251+[4]*122+[5]*177
t = pd.Series(t)
result = pd.qcut(t,50,duplicates = 'drop').value_counts()

problem:
print(result), we get
(0.999, 2.0]    5812
(2.0, 3.0]       251
(4.0, 5.0]       177
(3.0, 4.0]       122

t.value_counts(), we get
1    4782
2    1030
3     251
5     177
4     122

why 1 and 2 combines in the same bin?

[2019-10-10 07:50] h-vetinari commented on #24046
@toobaz
I didn't know the announcement, thanks for the info.

I do not consider dispersed discussion in several threads and comments as appropriate documentation (again: not as a criticism of you or the other devs, but rather of the current process). I added a comment about this in #28568.

[2019-10-10 08:42] EinarJohnsen opened #28893 "whitespaces in column name handled differently than input to eval/query"
#### Code Sample

[code]
#### Problem description
When using backticks in the input to `DataFrame.query` or `DataFrame.eval`, it seems that the number of whitespaces between `Col` and `1`, is mapped into: `Col_1_BACKTICK_QUOTED_STRING`, regardless of how many whitespaces there are between `Col` and `1`.

Having 2 whitespaces when defining the column name in the DataFrame, it seems that the column

[2019-10-10 11:51] dvir1 commented on #28893
I think you're right, notice that in line
`d.query("`Col   1` < `Col 2`") # 2 whitespaces between "Col" and "1" in the query.  `
you have 3 whitespaces instead of 2

[2019-10-10 12:23] adawalli commented on #22668
Can you elaborate on this?

Pandas is grinding our CI/CD pipelines to nearly a halt after switching to alpine (we had to do this because the number of known CVE's against the base python debian images was just too shockingly high)

[2019-10-10 12:36] TomAugspurger commented on #24046
@h-vetinari The calls and meeting notes are public.

Not quite: I was just choosing different names to highlight the different behavior. Clearly set_index should stay :)

[2019-10-10 13:52] TomAugspurger commented on #22668
You can build a pandas wheel once and host it somewhere yourself. You just
can't upload non-manylinux linux wheels to PyPI.

On Thu, Oct 10, 2019 at 7:23 AM adawalli <notifications@github.com> wrote:

[2019-10-10 14:01] kDmartel opened #28895 "Create to_elastic method"
### Code Sample, a copy-pastable example if possible

### Problem description

Create method to export a pandas dataframe data to elasticsearch json format like to_excel, to_csv, to_sql methods.

### Input
df : pandas dataframe
index : str : elasticsearch index
type : str : elasticsearch type
EX :
df.head()
    Name  Age  Weight
0  Kevin   26      94
1   Marc   32      70
2  Louis   35      80

in

[2019-10-10 14:08] matthew-brett commented on #22668
To elaborate - if you want to be able to host Alpine wheels on PyPI - you'll need to go through the process of defining what compatibility the wheel should have, in terms of Alpine distributions, and in particular, what symbols and libraries it is compatible with - see https://www.python.org/dev/peps/pep-0513/ for the original specification for glibc Intel Linux.  Once that's agreed, then you woul

[2019-10-10 14:12] adawalli commented on #22668
Thanks @TomAugspurger and @matthew-brett - I already use quite a bit of custom caching and was hoping to keep things as simple as possible, while still using pyproject.toml without any custom  repo paths, but I will certainly re-evaluate that. I appreciate you taking the time to respond!

[2019-10-10 14:57] harmbuisman opened #28896 "Failing multiplication if both dataframes contain the (seemingly) identical categorical column"
#### Code Sample, a copy-pastable example if possible

[code]

Output:
[code]

#### Problem description
The above code needs the following files:
[Analysis.zip](https://github.com/pandas-dev/pandas/files/3712866/Analysis.zip)

Running it leads to an error "TypeError: No matching signature found" in the last call.

The pop dataframe has a category column 'Age group 5-yrs to 90' in the multi-index.

[2019-10-10 15:33] stock-ds commented on #16537
axis=0 - add/append new rows
axis=1 - add/append columns

[2019-10-10 15:37] toobaz commented on #24046
OK, thanks for the clarification ;-)

[2019-10-10 15:48] WillAyd commented on #28877
Closing as out of scope for pandas but can be reopened if anyone disagrees

[2019-10-10 15:48] #28877 closed

[2019-10-10 15:49] WillAyd commented on #6581
Note that I pinned this on GH after our DEV chat yesterday. I believe we want to actually remove anything that was deprecated prior to 1.0 for our 1.0 release, so PRs to do that from the community would certainly be welcome

[2019-10-10 15:51] WillAyd commented on #28882
Can you try on master? There were a few issues with quantile in 0.25.0 and 0.25.1 that will be fixed in the next minor release

[2019-10-10 16:15] simonjayhawkins opened #28898 "AttributeError: module 'pandas.core.common' has no attribute '_unpickle_array'"
mypy errors
[code]

[code]

we don't have any tests hitting DataFrame._unpickle_frame_compat or DataFrame._unpickle_matrix_compat

https://github.com/pandas-dev/pandas/blob/f625730eb1e729a3f58b213cb31ccf625307b198/pandas/core/frame.py#L2707-L2738

can this code be removed?

[2019-10-10 16:21] jbrockmendel commented on #28898
Looks like there exists such a function in io.pickle.  I'd be pretty happy to see this untested code removed

[2019-10-10 16:23] simonjayhawkins commented on #28898
the one in io.pickle is preceded with `# compat with sparse pickle / unpickle`

[2019-10-10 16:29] simonjayhawkins commented on #28898
also in NDFrame.__setstate__ there is a `self._unpickle_panel_compat(state)` which seems iffy. so I think NDFrame.__setstate__ needs a bit of a clean.

[2019-10-10 16:36] MatthijsReyers commented on #4591
Hi, I would like to have a go at solving this.

[2019-10-10 16:56] jbrockmendel opened #28900 "API/DEPR: numeric_only kwarg for apply/reductions"
A lot of complexity in DataFrame._reduce/apply/groupby ops is driven by the numeric_only=None.  In these cases we try to apply the reduction to non-numeric dtypes and if it fails, exclude them.  This hugely complicated our exception handling.

We should consider removing that option and require users to subset the appropriate columns before doing their operations.

[2019-10-10 16:57] IPGreene opened #28901 "Unable to map background gradient from numeric column entry to entire row"
[code]
Currently I'm only able to apply background gradient to the 'freq' column however it would be ideal if it would colour the entire row.

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!

**Note**: Many problems can be resolved b

[2019-10-10 16:57] dsaxton commented on #28882
Can you provide a reproducible example?  Here is a good reference for making bug reports: https://blog.dask.org/2018/02/28/minimal-bug-reports

[2019-10-10 17:12] LizMcQuillan opened #28902 "No metadata preventing installs of other packages"
I'm trying to install a few packages (spacy, scattertext, etc) and keep getting this pandas error

[code]

Haven't been able to find a solution yet. I've tried uninstalling/reinstalling to no avail.

[2019-10-10 17:23] rm17tink commented on #14315
Could you provide example for the varchar conversion? numbers always work quickly. thanks

[2019-10-10 18:05] WillAyd commented on #28900
This is in need of some clean up and could certainly be refactored; might be a tough sell to do away with the implicit dropping of "nuisance" columns though

I know the OP mentions DataFrame ops, but worth mention this is very prevalent in GroupBy as well

[2019-10-10 18:07] chris-b1 commented on #28303
A little more investigative work - we actually do hash our floats as if they are integers (translation of the c code below) - and that happens to creates collisions in the `10**7 to 10**9` range which is the cause of the performance problem.

Someone more than experienced than me in bit shuffling might see an obvious solution here, but ultimately need a "better" hash function.

[code]

exponent: 4

[2019-10-10 18:29] WillAyd commented on #28303
@chris-b1 do you know what the astype to 32 bit is at the end of that function? If you remove that there are no collisions and I think would match khash perfectly without

[2019-10-10 18:33] WillAyd commented on #28902
How are you installing pandas?

[2019-10-10 18:47] LizMcQuillan commented on #28902
I previously installed pandas using conda. I attempted to uninstall and reinstall with both pip and conda.

[2019-10-10 18:48] LizMcQuillan commented on #28902
I previously installed pandas using conda. I attempted to uninstall and reinstall with both pip and conda.

[2019-10-10 19:01] chris-b1 commented on #28303
khash uses 32 bit hashes throughout, so there's no way to avoid that truncation without modifying the underlying hash table code.  Presumably a memory cost to that, but haven't tried

[2019-10-10 19:15] TomAugspurger commented on #28902
Does this happen in a new environment?

On Thu, Oct 10, 2019 at 1:48 PM Liz <notifications@github.com> wrote:

[2019-10-10 19:16] TomAugspurger commented on #28900
Agreed with this.

Ignoring object-dtype for the moment, can we determine the valid dtypes to include / drop before doing the operation?

[2019-10-10 19:35] VelizarVESSELINOV commented on #28882
@WillAyd, when we switched from quantile to mean, is working much better, so suspect **quantile** issue. We will test with 0.25.2 when it is available to switch from mean to quantile and will let you know if there is still an issue. Thanks.

@dsaxton it is difficult to write "good" stable example reproducing MALLOC_LARGE issue :) it is not 100% reproducible even with the same datasets. The one tha

[2019-10-10 19:35] ingrid88 opened #28903 "groupby boxplot example does not work"
#### Problem description
Code found here:
https://github.com/pandas-dev/pandas/blob/v0.25.1/pandas/plotting/_core.py#L424

Example from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.boxplot.html does not work properly.

#### Code Sample

[code]

#### Resulting Error
[code]

[2019-10-10 19:41] madphysicist opened #28905 "Warning when plotting a DataFrame with a single row"
Closely related to #18306, item 9 in the listing, but probably not an exact duplicate. Based on StackOverflow question https://stackoverflow.com/q/58322744/2988730.

Simple code to reproduce:

[code]

This generates

[code]

Expected behavior is that the default xlims of `[None, None]` will let matplotlib compute its own limits. Instead, it appears that pandas is computing the limits based on the

[2019-10-10 19:43] LizMcQuillan commented on #28902
yes, I've tried in 2 environments

[2019-10-10 19:46] TomAugspurger commented on #28902
Can you post the full sequence of commands and output?

On Thu, Oct 10, 2019 at 2:43 PM Liz <notifications@github.com> wrote:

[2019-10-10 19:47] TomAugspurger commented on #28903
That function isn't imported. I don't think our doc examples typically have
the import.

On Thu, Oct 10, 2019 at 2:35 PM Ingrid Spielman <notifications@github.com>
wrote:

[2019-10-10 20:08] nlarusstone opened #28906 "read_json doesn't work on binary files with lines=True and chunksize"
#### Code Sample, a copy-pastable example if possible
Using `test.jsonl` as the following:

{"test1":10}
{"test2":"hi"}

[code]
#### Problem description

When I try to use `read_json` on a binary file with `lines=True` and `chunksize` set, I get the following error:
`TypeError: sequence item 0: expected str instance, bytes found`

It works when I remove the chunksize parameter. I'm guessing that t

[2019-10-10 20:14] simonjayhawkins commented on #25941
would probably need to update col_space to take a list or dict. could probably reuse some code used for the formatters parameter.

This request is likely to get lost in a closed issue. Can you raise a new issue.

[2019-10-10 20:15] jbrockmendel commented on #28900
@TomAugspurger can you provide some context for the block quote?  It looks like a dask thing that might be unrelated (or could be related in a really interesting way).

I think so.  Will become more certain as the exception-catching PRs in groupby progress.

[2019-10-10 20:22] TomAugspurger commented on #28900
Copy-paste fail. Fixed.

[2019-10-10 20:26] TomAugspurger commented on #28855
Duplicate of https://github.com/pandas-dev/pandas/issues/22485.

We would need someone to look into the environment used to generate the PDF.

[2019-10-10 20:26] #28855 closed

[2019-10-10 21:49] jjlkant opened #28909 "DOC: diff() when using unsigned ints"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The current version of the docs don't reflect on what happens when a Series or DataFrame containing unsigned ints are used with the `diff()` function, especially for cases where integer overflow occurs.

NumPy handles this in their docs for `numpy.diff()`, stating:

[code]

The behaviour of `pandas.Series.diff(

[2019-10-10 22:00] jbrockmendel opened #28911 "REF: get rid of register_dtype"
AFAICT the only reason we need register_dtype is so that we can have a list of extent EA Dtypes to iterate over when doing is_extension_array_dtype.  Is that inaccurate?

If so, let's just use `ExtensionDtype.__subclasses__()` and avoid some globals and decorators.

[2019-10-10 22:29] jbrockmendel commented on #28900
Related: what would you expect the behavior to be if you did `df.groupby("group").mean(numeric_only=False)` on a DataFrame that includes non-numeric columns?

Motivated by a case I'm troubleshooting in tests.groupby.test_function.test_arg_passthru where it looks like it is trying the op on non-numeric (in this case categorical[str]) columns and then dropping those.

[2019-10-11 00:23] jreback commented on #28911
yes though we have to be careful of the ordering

meaning if you have more than one subclass that has the same name for instance which do u choose? or maybe just raise ; we don’t have an easy way of resolving this

so explicit is better here i think

[2019-10-11 01:04] JamesXiao commented on #26368
I've encountered the same issue, the corrwith function is 30x slower in version later than 0.23.x, when calculating on two data frame of shape (4000, 4) in my case, that I had to downgrade pandas in production environment.

[2019-10-11 02:41] ynshen commented on #25777
I encountered the same error for `pd.Series` with `SparseDtype` (`int` and `float`). My temporary workaround is converting it to a dense one which is not a solution for large datasets.

Example:

[code]

[2019-10-11 04:17] mroeschke commented on #6783
Looks like this is fixed on master. Could use a test

[code]

[2019-10-11 04:34] mroeschke commented on #15562
Looks to work on master. Could use a test:

[code]

[2019-10-11 04:46] mroeschke commented on #17667
This looks fixed on master. Could use a test.

[code]

[2019-10-11 05:00] mroeschke commented on #11565
This looks to raise correctly on master. Could use a test.

[code]

[2019-10-11 05:00] mroeschke commented on #12851
I think we are generally moving away from `inplace`. Closing

[2019-10-11 05:00] #12851 closed

[2019-10-11 05:02] mroeschke commented on #20682
Closing as we dont support Python 2 anymore

[2019-10-11 05:02] #20682 closed

[2019-10-11 05:08] questglobal-bom opened #28917 "DataFrame.to_html col_space parameter to change width of a specific column only"
#### Code Sample, a copy-pastable example if possible

#### Problem description

Currently `col_space` changes width of all columns that are present in the dataframe. There must be a way to change the width of a specific column only while converting dataframe to html.

#### Expected Output
`col_space` to accept a list or dict where we can mention the column name to change only a specific column's

[2019-10-11 05:08] questglobal-bom commented on #25941
Sure. Raised issue #28917.

[2019-10-11 06:12] jorisvandenbossche commented on #28911
To be complete: it's used to convert a string to a dtype object (so not only in `is_extension_array_dtype`).

Not that that changes your proposal, as for that conversion we also loop over the dtypes, so a list of extension dtypes is all that is needed for that functionality.

[2019-10-11 06:18] jorisvandenbossche commented on #28911
Currently this recognition of strings as `dtype` arguments is opt-in. It might be good to preserve this somehow (but could maybe also be done in other ways). Right now you can choose for a string representation that clashes with one of the existing dtypes, or one defined in other packages.

Another complication is that `__subclasses__` only gives you direct subclasses, so you need a recursive loop

[2019-10-11 09:58] jorisvandenbossche commented on #28855
On the topic of off-line navigation, you can also download the zipped html version.

[2019-10-11 11:09] aaditya-panik commented on #28893
I had an initial look at this. The expression parser seems to assume that column names would not be differentiated based on the number of whitespaces in them according to how it's written here:

https://github.com/pandas-dev/pandas/blob/d8f9be7e396032acbd11de94dad78c459f78e4ba/pandas/core/computation/expr.py#L60-L64

I would've further looked into this, but this is literally my first go at debuggi

[2019-10-11 11:16] dostabhi commented on #10693
Any update on this issue?

[2019-10-11 11:29] willblenkhornjisc opened #28921 "'remove_timezone' option not working for ExcelWriter with pandas 0.25.1"
#### Problem description

pd.ExcelWriter has a 'remove_timezone' option which removes the timezone information when printing out dataframes or series to excel using the pd.to_excel function. Thus allowing datetimes with timezone information to be written to excel files without their timezone information. Since upgrading pandas from 0.24.2 to 0.25.1, this functionality has stopped working and gives

[2019-10-11 12:09] #28870 closed

[2019-10-11 12:11] jreback opened #28922 "PERF: asv's for non-int64 merges"
in #28875 we enabled non-int64 merges between all integer types. I think we need asv's to see how performant these are: https://github.com/pandas-dev/pandas/pull/28875#issuecomment-541037953

[2019-10-11 12:37] jreback opened #28923 "DOC: search doesn't seem to work on dev docs"
search seems to take the term and just disappear. https://dev.pandas.io/docs/whatsnew/v1.0.0.html? doesn't seems page specific (didn't work anywhere)

cc @jorisvandenbossche @datapythonista

[2019-10-11 12:41] #28843 closed

[2019-10-11 12:42] simonjayhawkins commented on #28923
maybe related, doc build failed on preceding commit https://github.com/pandas-dev/pandas/runs/256072954

[2019-10-11 12:44] yogendrasoni commented on #28922
pandas/asv_bench/benchmarks/join_merge.py  already has a method time_on_int32.

  def time_on_int32(self, direction):
            merge_asof(self.df1d, self.df2d, on="time32", direction=direction)
Not sure if this covers. Let me know it anything is needed.

[2019-10-11 12:47] jorisvandenbossche commented on #28923
This is tracked in https://github.com/pandas-dev/pandas-sphinx-theme/issues/24

[2019-10-11 12:47] #28923 closed

[2019-10-11 12:50] h-vetinari commented on #22824
@jreback
Thanks for the comments.

It's useful for preserving the index of the data (since pandas prominently advertises that `unique` does not sort, and thus the order contains information), and also the dtype of the data. The latter point is especially relevant for pandas-internal dtypes, because those will return either object-arrays or have already been hacked to preserve the dtype (like Categ

[2019-10-11 13:00] jreback commented on #22824
you misunderstand - i mean a Pandas Array

[2019-10-11 13:02] jreback commented on #22824
pls answer why .factorize is not just the answer here

[2019-10-11 13:04] h-vetinari commented on #22824
The whole middle block of my comment deals with that...

Because the index information is valuable too, especially since `unique` does not sort.

[2019-10-11 13:06] jreback commented on #22824
this doesn’t answer the question

an Array preserves ordering

the actual index values by definition would disappear even for a Series

[2019-10-11 13:10] h-vetinari commented on #22824
Yes, the current implementation already maintains the order, but it's darn hard to correctly reconstruct the correct index information for the np.array (or pd.Array) the user then has. And factorize does not solve it because it treats all missing values equally, whereas unique distinguishes between `None`, `np.nan`, `pd.NaT`, etc.

There must be some sort of misunderstanding here? Of course a Seri

[2019-10-11 13:19] h-vetinari commented on #22824
Ok, maybe the misunderstanding was partly on my side. Obviously the Series has an index (that's what I mistakenly thought might be your question), but more than that, the mapping from the original values to the unique values preserves a meaningful index, precisely because it does not sort (and therefore `keep='first'` and `keep='last'` select a well-defined index for each unique value they pick).

[2019-10-11 13:21] jGaboardi opened #28924 "setting column value with .loc based in a condition"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

*Migrated from geopandas/geopandas#831*.

The flexibility to set values based on a certain condition when index location is unknown is critical for some spatial workflows. This seems to be unexpected behavior in `pandas` (though I may be wrong). Also, as @martinfleis [suggested](https://github.com/geopandas/geo

[2019-10-11 13:37] VijayantSoni commented on #27081
Hi, As this is labeled `good first issue`, I would like to take this on. Is this still needed ?

[2019-10-11 13:37] JoshuaC3 opened #28925 "Add cut as a Series method"
#### Problem description

It would be to have `cut` as a series method so that we can method chain. Currently, we must use `pd.cut`, for example,

[code]

it would be nice to do,

[code]

This would also help hugely with tab completion.

#### Expected Output

To have a tab-completed series method for `cut`.

[2019-10-11 13:58] simonjayhawkins opened #28926 "Fix mypy errors for pandas\tests\*"
For a full list, expand details.

<details>

[code]

</details>

This breaks down to the following number of errors in relevant modules:

- [x]      29 pandas\tests\tseries\offsets\test_offsets.py #29340
- [x]      26 pandas\tests\extension\decimal\test_decimal.py #31730
- [x]      24 pandas\tests\extension\json\test_json.py #31836
- [x]      19 pandas\tests\indexes\test_base.py #29188
- [x]

[2019-10-11 14:02] LizMcQuillan commented on #28902
I ended up solving this by manually deleting all pandas files/folders from terminal and reinstalling. The uninstaller wasn't actually completing the uninstall because it couldn't find the missing file to delete.

[2019-10-11 14:02] #28902 closed

[2019-10-11 14:08] VijayantSoni commented on #28917
Hi, I would like to work on this. Seems a good issue for beginners.

[2019-10-11 14:17] daniel-leonel commented on #5686
Could have a parameter to pass a function to process (fix or skip) the bad lines.

[2019-10-11 14:28] JoshuaC3 opened #28927 "Allow NaN Intervals and to allow NaN as a Groupby Category"
#### Code Sample

[code]

[code]

[code]

[code]

#### Problem description

**Warning**: This is something of an XYZ problem.

Ultimately, I want to be able to groupby Intervals AND include NaNs as one of the groups. Ideally, this would be displayed as NaNs but groupby doesn't include categorical NaNs. It would be acceptable to display this with -99, for example.

However, if I had only the NaN va

[2019-10-11 14:33] vanschelven opened #28928 "Masking broken (or at least different) for Int64 Series"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I would not expect the type of the Series to affect the masking behavior.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8.final.0
python-bits: 64
OS: Linux
OS-release: 4.19.43
m

[2019-10-11 16:47] yogendrasoni commented on #28921
I think Remove_timezone is parameter for xlsxwriter engine and is getting passed as **enginekwargs. Nothing wrong in parameter passing. This issue is coming because
#27129  causing it to  raise exception when timezone is present.
Not sure what can be a good  solution. This is not backward compatible. we can raise only when engine is not capable/configured  for handling timezones.

[2019-10-11 16:51] stolpovsky opened #28930 "Comparison to string is broken for nullable int"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above raises TypeError on line 627 in integer.py:

[code]
Here, the result is bool. Here is the exception:

Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "C:\Python37\lib\site-packages\pandas\core\ops.py", line 1731, in wrapper
    return dispatch_to_extension_op(op, self,

[2019-10-11 18:21] darkthunder007 commented on #28926
can u pls post the code

[2019-10-11 19:12] nrebena commented on #28905
Can you give the pandas version you use? I can reproduce this on 0.25x, but it seems to be fixed on master.

[2019-10-11 20:47] angelaambroz commented on #28926
✋ I'd like to work on this! I can take the mypy errors in `pandas\conftest.py`.

[2019-10-11 21:28] yogendrasoni commented on #28926
I would like to work on \api\test_api.py.

[2019-10-11 23:07] jreback commented on #22824
again this is exactly what factorize does; it returns a tuple of the indexers and the unique values

if there is a specific issue with say not preserving a type of null value i suppose that could be a bug, but i see lots of conflation here

[2019-10-11 23:08] jreback commented on #28922
hmm was this asv just not working before?

can u show these asvs here (pls run them)

[2019-10-12 08:34] jorisvandenbossche commented on #27353
I don't think so. On py 37:

[code]

(so in this case even worse than the fact 2 Brock mentioned before)
For me that is good reason to not categorically always prefer or convert to ABCs. Although it is talking about nanoseconds, we do it very often and it can add up (no concrete example, but I think I see regularly profiles where isinstance check are a significant part of the time)

[2019-10-12 09:10] sairamgubba94 opened #28936 "No module named typing"
<img width="1034" alt="Screenshot 2019-10-12 at 2 40 53 PM" src="https://user-images.githubusercontent.com/26581021/66698759-52696d00-ecfe-11e9-95b3-225984f3cd6a.png">
I have installed pandas using conda and I am getting no module named typing error. I installed typing package separately but got a syntax error there..

python version: 3.7.3

[2019-10-12 10:45] pv8473h12 commented on #16130
I think we can close this issue. I could not see any outstanding cases when performing a grep search.

[2019-10-12 10:53] pv8473h12 commented on #9568
If no-one else is working on this, I'd like to give it a go.

[2019-10-12 11:41] slokhorst opened #28937 "docs: cheat sheet not opening (infinite redirect loop)"
The pandas cheat sheet (linked from e.g. [getting_started/tutorials.html](https://pandas-docs.github.io/pandas-docs-travis/getting_started/tutorials.html)) fails to open.

Navigate to: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

This returns a 301 redirect to the same URL, which causes an infinite redirect loop and makes my browser display ERR_TOO_MANY_REDIRECTS

[2019-10-12 12:24] gaworecki5 commented on #19598
I noticed this problem on a df of about 2 million rows. groupby.first() would not run at all, other aggregations like count() and sum() run in a few seconds. I did not know about nth(0) until this thread but it runs in 20 seconds. Did anyone figure out the reason this is?

[2019-10-12 12:24] simonjayhawkins commented on #28936
can you paste the output of ``pd.show_versions()``

[2019-10-12 12:28] simonjayhawkins commented on #28936
This doesn't look like a pandas issue. `typing` is part of the standard library from 3.5 onwards. https://docs.python.org/3/library/typing.html

[2019-10-12 12:28] #28936 closed

[2019-10-12 13:44] topper-123 commented on #28867
+1 from me too.

[2019-10-12 13:53] alimcmaster1 commented on #28937
Works fine for me.

Could you give us abit more info? What browser are you running? Any errors in the console?

Here is it manually for now:

[Pandas_Cheat_Sheet.pdf](https://github.com/pandas-dev/pandas/files/3720739/Pandas_Cheat_Sheet.pdf)

[2019-10-12 14:39] madphysicist commented on #28905
@nrebena My home machine:

[code]
However, I was also able to reproduce on a Windows machine at work with pandas version 0.25.1, same as what the poster of the stack overflow question is using.

[2019-10-12 15:00] dsaxton commented on #28892
I think what's happening is the first bin is defined as the interval spanning the minimum and the _next smallest unique quantile_, which makes sense except in extreme cases like in this example.  Personally I would use `cut` instead of `qcut` when quantile-based bins aren't very well-defined.

[2019-10-12 15:01] slokhorst commented on #28937
That's weird, it working fine now. Must have been some temporary glitch. Thanks anyway!

[2019-10-12 15:08] VijayantSoni commented on #15609
Hi @jreback , does this still need to be done ? I would like to take this on.

[2019-10-12 15:46] gabriellm1 commented on #28906
I'm currently trying to find a solution!

[2019-10-12 15:57] jjlkant commented on #28922
I think the main thing to note in regards to #28875 is that the change there only affected situations in regards to merge_asof when a `tolerance`  value is set. Nothing changed on other merge cases.

None of the benchmarks currently defined here currently make use of this tolerance value, maybe that is something to add to the asv's? https://github.com/pandas-dev/pandas/blob/54b1151a5b8be5a59323faa

[2019-10-12 16:21] jbrockmendel opened #28938 "REF: Move _shallow_copy from SelectionMixin to Window"
SelectionMixin._shallow_copy is only used by Window/Rolling/... subclasses.  Since SelectionMixin is mixed into NDFrame, it would be nice to narrow down the namespace.  Thoughts @mroeschke ?

[2019-10-12 16:51] rohitsanj commented on #17667
@mroeschke: Should the test be specifically for this dataframe:
[code]

[2019-10-12 17:09] #28703 closed

[2019-10-12 17:25] hwalinga commented on #28893
Hello, if the maintainers are going to accept my PR this is going to be fixed in #28215.

[2019-10-12 17:35] mroeschke commented on #17667
@rohitsanj correct

[2019-10-12 17:36] jacosmuts opened #28941 "pct_change with multi index behaves different than other functions (resolved)"
My first issue and I was going to get this right.

I've just spent two hours replicating and explaining the issue, just to realize it is fixed in 0.25.1

After all that time, I have to at least raise something. So I'm just raising a thank you guys for a great tool.

[2019-10-12 17:38] #21370 closed

[2019-10-12 17:38] mroeschke commented on #28938
Make sense to me if it's only used by Window/Rolling. Happy to move it there.

[2019-10-12 17:39] jreback commented on #28941
is there an issue number?

[2019-10-12 17:45] jacosmuts commented on #28941
Will close issue now

Sorry to create noise - just annoyed at myself. pct_change was breaking column multi-index.

Was working so hard to document the issue properly, and along the way figured out it was resolved - don't now the issue number, but I will close this one.

Thank you
Jaco

[2019-10-12 17:45] #28941 closed

[2019-10-12 17:47] h-vetinari commented on #22824
Factorize and unique are different *by design*: The docs for factorize explicitly say that missing values will be ignored:

This is *not* what `.unique` does or should do. So it's not a bug, but a desired difference.

Here as well, the indexer (into an array!) plus an Index of unique values is not nearly the same as just a thinned-out Series containing the (first) unique values and their correct i

[2019-10-12 18:07] rohitsanj commented on #17667
@mroeschke I've submitted a PR to add the test -  #28459
Please take a look and let me know what you think. Thanks!

[2019-10-12 18:08] kacricon opened #28943 "BUG: pd.DataFrame.select_dtypes() method defaults None to float64 if arg is list-like"
#### Code Sample

[code]

[code]

#### Problem description

Currently the method deals with regular `None` arguments by turning them into empty tuples:
[code]
If the `None` is contained inside a list-like object, however, this check is not executed and it goes through `infer_dtype_from_object` -> `pandas_dtype` -> `np.dtype`, where `None` is defaulted to `float64`.

#### Expected Output

`None` sh

[2019-10-12 18:22] endremborza opened #28944 "replace _msgpack with _pyarrow"
After finding out the future of read/to_msgpack and on-the-wire transmission of pandas objects in #28388 and #28388, as I understand there will be no fast way to do:

[code]

I think a lot of users would welcome the XY: pyarrow (or simply arrow) function to replace the current msgpack version. This could be done with a few wrappers over pyarrow pandas serialization functions. Testing and maintaini

[2019-10-12 18:26] jreback commented on #28944
i believe the docs were recently updated (or at least the deprecation message)

would take a read_arrow method; think we have an open issue about this

[2019-10-12 19:01] jorisvandenbossche commented on #28923
Should be working now! https://dev.pandas.io/docs/user_guide/index.html

[2019-10-12 19:09] jreback commented on #28923
yes looks great! thanks @jorisvandenbossche

[2019-10-12 19:39] endremborza commented on #28944
cant find the open issue, did find the doc PR ( #28494 ), that seems fair

[2019-10-12 19:47] jreback commented on #28944
https://github.com/pandas-dev/pandas/pull/15907

was an old PR

welcome to have you revive it

[2019-10-12 20:12] lukasbk commented on #28926
I would like to work on \extension\test_numpy.py to get started. Will be my first pull request.

[2019-10-12 20:23] endremborza commented on #28944
will do, thanks

[2019-10-12 23:51] mroeschke commented on #13591
Since we don't support Python 2 anymore and `*_msgpack` is deprecated, don't think there's any action on this issue. Closing

[2019-10-12 23:51] #13591 closed

[2019-10-13 00:11] mroeschke commented on #17198
This looks to work on master with SparseDtype. Could use a test:

[code]

[2019-10-13 00:27] mroeschke commented on #11793
As mentioned in https://github.com/pandas-dev/pandas/issues/11793#issuecomment-235818803, this has been fixed.

[2019-10-13 00:27] #11793 closed

[2019-10-13 00:30] mroeschke commented on #21824
Both examples are working on master. Suppose this could use a regression test.

[code]

[2019-10-13 00:49] jbrockmendel opened #28949 "BUG: np.min on DataFrame with a non-ordered Categorical col"
Discovered while debugging the try/excepts in groupby:

[code]

[2019-10-13 04:13] yogendrasoni commented on #28926
working on
pandas\tests\arrays\test_array.py

for this i changed pandas/core/arrays/period.py
 Optional[Union[Tick]  => freq: Optional[Union[str, Tick]] .
Is this  correct approach to resolve this.
Also one more option "offset" is possible.Test cases are not using  offset object in freq so Union[str, Tick] is not giving any mypy issue.

[2019-10-13 05:46] jorisvandenbossche commented on #21824
I still see the issue (it's only on clean-up, you have to close your session to see it)

[2019-10-13 07:13] farziengineer commented on #28663
Added at #28951

[2019-10-13 07:39] jorisvandenbossche opened #28952 "DOC: collect feedback on new sphinx documentation theme"
As discussed in https://github.com/pandas-dev/pandas/issues/15556 and activated in https://github.com/pandas-dev/pandas/pull/28623, the development docs are using a new sphinx documentation theme (for now developed in https://github.com/pandas-dev/pandas-sphinx-theme/).

You can see it in action at https://dev.pandas.io/docs/user_guide/index.html

But as with all new things there will be some roug

[2019-10-13 07:41] jorisvandenbossche commented on #15556
I am going to close this as we now have a new theme for the development docs (https://dev.pandas.io/docs/), and opened an new issue (https://github.com/pandas-dev/pandas/issues/28952) to collect feedback on that.

[2019-10-13 07:41] #15556 closed

[2019-10-13 07:59] bartkim0426 commented on #27772
I dug into this issue for a while and I found out that this code can be intended because of index name.

If I add the condition, the problem above is solved. However, some multiple multiindex tests failed (in `test_excel_multindex_roundtrip`) because of index name.

While `read_excel` - if there's only row cell is filled and other cells are blank, it's hard to find out that the row is name of inde

[2019-10-13 08:55] vfilimonov opened #28953 "Plotting: series.plot() has different x-limits than plt.plot()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When the data is plotted using `Series.plot()`, the x-limits are set on the exactly first and last points of the set. This is different from the behavior of matplotlib's plot, where it gives a bit more space.

pandas: 0.25.1
matplotlib: 3.0.1

![image](https://user-images.githubusercontent.com/1324881/66713125-

[2019-10-13 09:12] robbuckley opened #28954 "BLD: macOS 3.5 wheel build on master started failing"
#### Problem description

rebuilding the last release 0.25.1 without any changes results in the macOS 3.5 build failing https://travis-ci.com/robbuckley/pandas-wheels/jobs/244876276.

This seems to be due to https://github.com/pypa/setuptools/issues/1320  / https://github.com/pypa/packaging-problems/issues/134.  A simple workaround is to install the latest pip and affected packages (only `setuptoo

[2019-10-13 09:25] bartkim0426 commented on #26974
@TomAugspurger
Thanks for the explanation and sorry for late response.

First, I checked that every subclass doesn't take `**kwargs`.
(NumericIndex, MultiIndex, CategoricalIndex, DatetimeIndex, TimedeltaIndex,  PeriodIndex, RangeIndex, Int64Index, NumericIndex)

I was confused about always pass `**kwargs` through to the subclasses constructor.
For subclasses - if there are invalid args, TypeError

[2019-10-13 11:40] amine-aboufirass opened #28955 "ENH: support apply method for ExtensionArray backed Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am experimenting with the [pint-pandas](https://github.com/hgrecco/pint-pandas/issues/24) project which builds an `ExtensionArray` to be able to work with units on dataframes. The above code sample shows that `.apply` method is not implemented for _external_  extension arrays.

I am using the pint-pandas-plot

[2019-10-13 13:43] Kazz47 commented on #18549
This seems to be resolved. At least as of f7d162b1890758e22c6bc3de3a8b0f6e09e3317e when I tried to reproduce it.

[code]
**Output of `pd.show_versions()`**
<details>
INSTALLED VERSIONS

commit           : f7d162b1890758e22c6bc3de3a8b0f6e09e3317e
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
machine          : x86_64
processor        : i3

[2019-10-13 16:35] mroeschke commented on #21824
Ah! I see. Sorry didn't realize it was on cleanup.

[2019-10-13 16:43] rohitsanj commented on #28949
@jbrockmendel Thanks for submitting this issue. Are you working on a patch? I'd like to take this up.

[2019-10-13 16:44] #17667 closed

[2019-10-13 16:45] rohitsanj commented on #28949
I think this is more of a numpy issue than pandas? @WillAyd @simonjayhawkins

[2019-10-13 16:49] jonahbrennan commented on #26636
I'm having a problem when trying to read non integer colspan using python 3.7.3.  I think it was working in a previous version though.

Would this solve that issue?

[2019-10-13 16:53] jbrockmendel commented on #28949
Definitely a pandas issue.  It's going to be in `DataFrame.__array_ufunc__` or something like that calling `\.values`

[2019-10-13 17:31] mroeschke commented on #18549
Would you like to contribute a regression test @Kazz47?

[2019-10-13 18:04] rohitsanj commented on #28953
@vfilimonov This seems to be fixed on the pandas dev version `0.26.0.dev0+557.g0eee324c2`

[2019-10-13 18:06] vfilimonov commented on #28953
@rohitsanj Great to hear!
Sorry for not checking the dev before reporting.

[2019-10-13 18:44] mroeschke commented on #28953
Closed by https://github.com/pandas-dev/pandas/pull/27993

[2019-10-13 18:44] #28953 closed

[2019-10-13 20:25] MatthewMcGonagle opened #28956 "BUG: For Multi-Index, joining same level names in opposite order results in infinite recursion"
#### Code Sample

[code]

This gives the following output:
[code]
#### Problem description

Switching the order of the levels of the Multi-Index results in infinite recursion if we use any operation that tries to join the original order of levels with the new order of levels. The desired result of `ab_df + ba_df` should just be the same as `2 * ab_df`.

#### Expected Output
I would expect the same

[2019-10-13 23:48] mroeschke commented on #11354
Looks to work on master now. Could use a test.

[code]

[2019-10-13 23:52] mroeschke commented on #10863
The issue works on master. Could use a test.

[code]

[2019-10-13 23:57] mroeschke commented on #10667
The performance seems to be comparable now. I'm guessing all the reshaping work done over the years has sufficiently addressed this.

[code]

[2019-10-13 23:57] #10667 closed

[2019-10-14 00:04] mroeschke commented on #10326
This is raising a more sensible error now. Guess this could use a test.

[code]

[2019-10-14 00:09] mroeschke commented on #10078
Looks like this work correctly on master.  Suppose this could use a test.

[code]

[2019-10-14 00:22] mroeschke commented on #12261
Looks fixed on master. Guess this could use a test

[code]

[2019-10-14 00:25] mroeschke commented on #12007
Looks fixed on master. Could use a test.

[code]

[2019-10-14 00:31] mroeschke commented on #15085
Right this properly raises a `DataError` on master. I think this was closed by #27044

[2019-10-14 00:31] #15085 closed

[2019-10-14 00:39] mroeschke commented on #14017
`make_axis_dummies` is essentially a private function and `Panel` has been removed. Not sure if there's any further things to address in this issue. Feel free to reopen if so.

[2019-10-14 00:39] #14017 closed

[2019-10-14 00:45] mroeschke commented on #16769
Looks like this is returning the expected result on master. I supposed this could use a test:

[code]

[2019-10-14 00:47] mroeschke commented on #16454
This looks to work on master. Could use a regression test.

[code]

[2019-10-14 00:53] mroeschke commented on #16231
This above error doesn't raise an error on master. Could use some sort of simplified regression test.

[code]

[2019-10-14 00:57] mroeschke commented on #15853
This looks fixed on master. Could use a test.

[code]

[2019-10-14 01:03] mroeschke commented on #15150
This looks fixed in master. Could use a test.

[code]

[2019-10-14 03:36] naught101 commented on #15105
This is quite aggravating with column multiindex. It doesn't seem like there is a work around.

Firstly,there doesn't seem to be an easy way to convert an existing multindex into a categorical one. The best I could come up with is to select a df row, reset_index on the resultant series, and manually create a categorical multi-index index out of all the relevant columns, and then re-assign that to

[2019-10-14 07:39] FCheda opened #28968 "BUG: groupby rolling ignoring min number of values"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I’m trying to do rolling windows over a grouped dataset using 2 columns for the groupby.

With a rolling window of 5, pandas should return NaNs in the first 4 rows of each group.

This works correctly for each of my files individually, for random datasets, and for a group of multiple files, even using replicat

[2019-10-14 07:41] mgsnuno opened #28969 "hash_pandas_object fails on tuple"
#### Code Sample

[code]

<details><summary>Traceback</summary>
<p>

[code]
</p>
</details>

#### Problem description
Tuples are immutable and hash should work correct?

#### Expected Output
Hashed dataframe elements.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS

[2019-10-14 07:46] aaditya-panik commented on #28926
having a look at /pandas/tests/tseries/test_offsets_properties. First time contributing 👶

[2019-10-14 08:30] willblenkhornjisc commented on #28921
I guess in the meantime manually removing the timezone information from the dataframe or series is my only option using `pandas.DatetimeIndex.tz_localize`. I hope the problem gets fixed soon.

[2019-10-14 09:09] yogendrasoni commented on #28921
@WillAyd @mroeschke Can you please suggest, what can be done here.

[2019-10-14 12:33] TomAugspurger commented on #26974
I don't think the maintainers have agreed on a desired behavior yet, sorry.

In another issue (can't find it now) @WillAyd expressed displeasure with accepting both `name` and `names` (for MultiIndex). So perhaps he agrees with @jorisvandenbossche's suggestion to deprecate passing through subclass-specific kwargs.

cc @jreback if you have thoughts on not passing through subclass-specific kwargs.

[2019-10-14 12:52] BenjaminHabert commented on #14315
Sorry, the correct parameter of `to_sql()` is `dtype`. [This stackoverflow answer](https://stackoverflow.com/questions/42727990/speed-up-to-sql-when-writing-pandas-dataframe-to-oracle-database-using-sqlalch) should be helpful for this problem.

[2019-10-14 12:53] TomAugspurger commented on #28969
Can you include the trace back in the bug report?

In particular we need to isolate whether this is a bug in pandas or numpy

[2019-10-14 13:12] mgsnuno commented on #28969
Traceback added.

[2019-10-14 13:19] jjlkant commented on #28922
The output of `asv run -e -E existing -b ^join_merge.MergeAsof`:
[code]

[2019-10-14 13:26] jreback commented on #28922
ok it think if can paramerize these asvs by tolerance would be great

[2019-10-14 13:28] jjlkant commented on #28922
Alright, I'll see what I can do!

Do you also want to include uint as a reference, for example uint64 and uint32?

[2019-10-14 13:33] jreback commented on #28922
sure could also add uint64

[2019-10-14 14:07] TomAugspurger commented on #28969
This looks similar to https://github.com/numpy/numpy/issues/9441.

[2019-10-14 14:29] TomAugspurger commented on #28955
I think this primarily comes down to pandas' dtype inference not being able to infer extension types from a list of objects yet.

[code]

The `.apply` is down elementwise, so you get back a list (or object-dtype ndarray) of Decimal objects.

Unless we had some kind of `meta` keyword to control the result shape & dtype (which I think I've suggested in the past @jreback), I think we'll need to do th

[2019-10-14 14:47] WillAyd commented on #26974
I'm not super familiar with all of the classes at play but do we even really need kwargs? Would rather align signatures where possible and handle signature exceptions as needed (is name(s) the only one?)

[2019-10-14 14:50] WillAyd commented on #28921
You can remove the timezone before trying to save to Excel. How to do that is case-specific as to what you actually want. As requested the intent is ambiguous, so I don't see this as something that will be supported

[2019-10-14 15:19] mroeschke commented on #28921
Agreed with @WillAyd. Additionally, this behavior change was described generally in `Other API changes` in 0.25.0. https://pandas.pydata.org/pandas-docs/version/0.25.0/whatsnew/v0.25.0.html#other-api-changes

[2019-10-14 15:19] #28921 closed

[2019-10-14 15:30] xmnlab opened #28975 "percent_rank vs cume_dist"
It seems pandas `percent_rank` works like the `cume_dist` of SQL databases.

As `ibis-framework` tries to use the same pandas API as much as possible ... `ibis-framework` `percent_rank` is equal to `pandas`.

As in SQL databases there are these 2 operations, I need a way to implement the SQL `percent_rank`

I don't know very well which path I should take. Is there an initial thoughts here: https:/

[2019-10-14 16:06] jreback commented on #26974
we don’t really need kwargs but is simpler

for example IntervalIndex has closed kwarg this needs to be passed when u construct from Index (and not II directly)

[2019-10-14 16:11] jorisvandenbossche commented on #26974
But then if a user wants to use this keyword, then can use the `IntervalIndex` constructor instead of the basic `Index` constructor?

[2019-10-14 16:13] bhuvanakundumani commented on #28454
I am interested in working on this.

[2019-10-14 16:28] jreback commented on #26974
sure though we currently allow one way to construct indexes via Index
so this would be a break

[2019-10-14 16:34] jorisvandenbossche commented on #26974
Yes, sure, so we would need to do this with a deprecation, *if* we want to do this.
So the question is: de we *want* to support this?

In principle, to fix the original issue in this PR (validating kwargs), we don't need to disallow this, as those kwargs could be validated on the level of specific index constructors. This is basically what Tom proposed above at https://github.com/pandas-dev/pandas

[2019-10-14 16:37] jreback commented on #28955
we should just fix infer_dtype

[2019-10-14 16:39] jreback commented on #26974
i agree with this proposed soon: https://github.com/pandas-dev/pandas/issues/26974#issuecomment-522561054

[2019-10-14 16:53] TomAugspurger commented on #26974
Alrighty, sorry for bringing that other discussion in here.

For now @bartkim0426 can you implement https://github.com/pandas-dev/pandas/issues/26974#issuecomment-522561054?

For subclasses - if there are invalid args, TypeError occurred so I think we don't have to validate the subclasses.

The idea would be for `pd.Index([], dtype='category', not_a_kwargs="foo")` to raise. I think you don't pass

[2019-10-14 16:54] TomAugspurger commented on #28955
Probably, but that's a bit difficult since it's in Cython. It's not clear
to me how to allow EA authors to register something here.

On Mon, Oct 14, 2019 at 11:37 AM Jeff Reback <notifications@github.com>
wrote:

[2019-10-14 17:05] jreback commented on #28955
i don’t think it’s very hard we already have a function to construct from a sequence on EA

just need to call it; once we have gone down the object path (meaning we have not inferred to other things); then we need to check if we have an EA scalar and call the appropriate constructor

[2019-10-14 18:19] seberg commented on #28778
I actually ran into this in numpy a few days back. The `np.ma.masked` constant behaves like `0.` when it comes to type promotion in ufuncs (which triggers value based promotion, which does what was discussed here `float32_arr + np.ma.masked` gives `float32`).

However, the way this currently works `np.ma.masked` is an array with a `.dtype` and I want to deprecate value based logic for those. Which

[2019-10-14 19:02] Dr-Irv commented on #28778
The discussion above leads me to the following idea, which I think I may have posted elsewhere.

I think it is important to distinguish between NA meaning "data missing" versus NaN meaning "not a number".  In the current pandas world, there is no differentiation.  Consider this simple example:

[code]

In this example `s` has missing data, and the result of the division in `s3` has `NaN` in two pl

[2019-10-14 20:15] robbuckley commented on #28954
more information: its only python 3.5 builds on macOS that are affected.

`easy_install`, used for `setup_requires` dependencies, uses the system openssl up to python 3.5. On macOS that hasnt been updated in a long while, and only supports TLS 1.1 The issue was exposed when pypi recently stopped allowing TLS<1.2.

python.org 3.6+ builds include their own openssl build, avoiding the issue. As does

[2019-10-14 20:47] jorisvandenbossche commented on #20612
Another reason to maybe do it on the dtype, is if you have multiple dtypes mapping to the same array class. Like we do with IntegerArray, or fletcher's FletcherArray (although in those two cases, there is a direct mapping of the arrow type to the pandas dtype, so that would also not be a problem)

[2019-10-14 21:23] TomAugspurger commented on #28943
Is this causing problems?

[2019-10-14 21:30] dsaxton opened #28980 "Certain comparison operations misbehaving for period dtype"
This is closely related to https://github.com/pandas-dev/pandas/issues/28930.

[code]

yields

[code]

but the output should be `Series([False, False])`.  The other comparison operators `<`, `<=`, `>`, and `>=` yield the same error, which also seems incorrect (the error message should probably be different, and the error should be a `TypeError` rather than a `ValueError`).  This is happening on 0.

[2019-10-14 21:36] dsaxton opened #28981 "Possible regression in comparison operation for interval dtypes"
It seems that this comparison is now failing on master when it was working in 0.25.1.  Need to look a bit more, but I don't think it's specific to this operation.

[code]

#### 0.25.1

[code]

#### master

[code]

@jbrockmendel Is the fix for this as simple as (say) setting the `kind` to `"O"` here https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/dtypes.py#L975?  It looks like w

[2019-10-14 21:48] #28685 closed

[2019-10-14 21:50] TomAugspurger commented on #22714
@tirkarthi can you try with 3.8 and pandas master? We should be testing this in https://github.com/pandas-dev/pandas/pull/28730, and it's not segfaulting.

[2019-10-14 21:53] TomAugspurger commented on #28110
3.8 is out now. @jbrockmendel are you free to do a release tomorrow?

I think the remaining prep work is just to clean up the `v0.25.2.rst` whatsnew (spell check, add a release date, general cleanup) on master and backport

[2019-10-14 22:47] jreback commented on #26626
lgtm; marked for 0.25.2; merge when ready

should have a follow up issue to integrate with the regular ci scripts when possible

[2019-10-14 22:50] jorisvandenbossche commented on #28955
Or, we could let the ExtensionArray be responsible for inferring (for this specific case). Either by calling `ExtensionArray._from_sequence` on the result, or by having a `EA.map` like we actually already have for our internal EAs.

[2019-10-14 22:55] jreback commented on #28955
sure

but this is trickier as we don’t know which EA
this belong to a-priori

actually i think you are right for this case @jorisvandenbossche we need some logic in apply to handle a returned sequence of the same type EA (it would be very tricky to handle a different return type)

[2019-10-14 23:03] jorisvandenbossche commented on #28955
We actually have this in our code right now:

https://github.com/pandas-dev/pandas/blob/5b0bf235ee4050d6385932b5a63ed692b6d268fc/pandas/core/arrays/datetimelike.py#L695-L703

[2019-10-14 23:05] jreback commented on #28955
hmm maybe close this in favor of that issue then (or consolidate issues as that’s slightly different)

[2019-10-14 23:33] #28840 closed

[2019-10-14 23:37] unojoe2 commented on #10208
from book: Python for Data Analysis pg 23. There is deprecated
In [XX]: users = pd.read_table... TO pd.read_csv...
FILENAME: The referenced file name in the book is supposed to be changed...
from: yourFilePath/users.dat (is repeated accidentally in the book)
yourFilePath/ratings.dat
yourFilePath/movies.dat

And finally you should add (as stated above) engine='python'
users = pd.read_csv('yourFileP

[2019-10-14 23:40] adamkusmirek commented on #28926
Having a look at pandas\tests\extension\json\test_json.py

[2019-10-14 23:50] mroeschke commented on #28925
I'd be -0 on adding `cut` as a method. `cut` can currently return an ndarray, tuple, Categorical, or Series which is not conducive to chaining which would be an advantage of having `cut` as a method.

[2019-10-15 00:09] gabriellm1 commented on #28926
I'll check pandas\tests\extension\decimal\test_decimal.py errors

[2019-10-15 01:26] #28954 closed

[2019-10-15 01:54] karldw opened #28984 "nlargest gives a zero-row dataframe when ordering columns are all NaN"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When the values of the ordering variables are all missing, the `nlargest` and `nsmallest` methods return a zero-row dataframe. This behavior is particularly unexpected when applying over groups, since it silently omits groups with all-NaN values. I think it would be better to return the requested number of rows

[2019-10-15 02:43] siddhesh opened #28986 "Add arm64 builds to CI"
#### Problem description

Travis now has support for arm64 CI[1] and it would be great to have a CI job in place to ensure that builds and tests are run on arm64 to ensure that it works OK.  This will also help ensure that in future undefined behaviour such as #28918 do not get silently introduced into pandas.

[1] https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support

[2019-10-15 02:44] siddhesh commented on #28986
cc @jreback

[2019-10-15 03:31] mroeschke commented on #18265
This looks fixed on master. Could use a test

[code]

[2019-10-15 03:33] mroeschke commented on #17985
Agreed. Additionally nested data structures are not well supported. Closing

[2019-10-15 03:33] #17985 closed

[2019-10-15 03:36] mroeschke commented on #17962
Can't replicate this on master. Could use a test.

[code]

[2019-10-15 03:41] mroeschke commented on #17444
Looks to work on master. Could use a test.

[code]

[2019-10-15 03:44] mroeschke commented on #17376
Looks to work on master. Could use a test.

[code]

[2019-10-15 03:48] mroeschke commented on #17044
Looks to be fixed in master. Could use a test.

[code]

[2019-10-15 03:52] mroeschke commented on #16979
This looks fixed in master (category dtype is maintained). Could use a test.

[code]

[2019-10-15 03:56] mroeschke commented on #18625
Looks fixed on master. Could use a test

[code]

[2019-10-15 03:59] mroeschke commented on #19170
These benchmarks looks fairly equivalent in terms of performance. Don't think there's much action here.

[2019-10-15 03:59] #19170 closed

[2019-10-15 04:03] mroeschke commented on #19437
This looks to work on master. Could use a test.

[code]

[2019-10-15 04:17] eewallace commented on #15621
Not sure if this is still on anyone's radar, but I've been dealing with a performance issue at least partly caused by json_normalize. From some profiling, it seems like the biggest problem for my case is the use of deepcopy. For common relatively simple cases of just dictionaries/lists of string and numeric literals, deepcopy seems like a lot of unnecessary overhead. Even if it's needed for some u

[2019-10-15 05:53] mroeschke opened #28987 "Add Numba as an optional dependency for rolling.apply for pandas 1.0"
As mentioned on the pandas dev call last week, I've been working with @jreback and @DiegoAlbertoTorres on a proof of concept (POC) implementing `rolling.mean` and `rolling.apply` using [Numba](https://numba.pydata.org/) instead of our current Cython implementation. As described in this [proof of concept document](https://github.com/twosigma/pandas/blob/feature/generalized_window_operations/doc/sou

[2019-10-15 06:35] ChandProj commented on #21245
Hi,
I would like to write test case for this as part of PyCon India'19 dev sprint.
@mroeschke Can you please elaborate on the edge test case.

[2019-10-15 07:09] rgommers commented on #28987
Hi all. This proposal has a lot of implications that I don't see addressed in the PoC document. I would suggest reviewing [this thread about introducing Numba as a SciPy dependency](https://mail.python.org/pipermail/scipy-dev/2018-March/022576.html) from last year.

Some concrete questions that may be showstoppers are:
- what is the status on ARM and other more exotic hardware (e.g. AIX, the Debia

[2019-10-15 07:14] shoyer commented on #28987
I’m sympathetic to the goal here, but my sense is that Numba can still be a challenging project to redistribute, so I’m not sure this is a good idea. Not everyone uses conda or pip. Just look at the building from source instructions for patching LLVM, for example: https://llvmlite.readthedocs.io/en/latest/admin-guide/install.html.

A strength of pandas has been that it’s easy to install with a sta

[2019-10-15 07:18] mgsnuno commented on #28969
Ok, how can this be solved? Can I help?

[2019-10-15 07:24] lukasbk commented on #28926
I'll work on indexing\test_coercion.py.

[2019-10-15 07:25] toobaz commented on #28987
As mentioned in the last dev call, my (very limited) experience with numba suggests that it is very easy (= few lines of decorator) to use it without hard depending on it, and leaving the user with the pure Python implementation if numba is missing. While such pure Python implementation would be very slow, this would affect only rolling functions which are not necessarily used by all users (at tha

[2019-10-15 07:37] gfyoung commented on #28987
If you're going to use `numba`, I think you should either go all in or not.  The toolchain implications of using `numba` are not trivial, and the fallback is not ideal with pure Python code.

Sure, but that doesn't mean we should sacrifice performance.  Ideally, there should be a non-negative benefit for all users if we made such a switch.

[2019-10-15 07:40] gfyoung commented on #28986
Given that this is still relatively new (alpha phase), I think this would be a good opportunity to give this a try and provide feedback along the way to the Travis CI folks.

[2019-10-15 08:21] lukasbk commented on #28926
Now looking into
- [ ] extension\json\test_json.py
- [ ] pandas\tests\tseries\offsets\test_yqm_offsets.py

[2019-10-15 08:33] JoshuaC3 commented on #28925
@mroeschke cut, the pandas function, behaves like this, but could cut, the series method, not just have a subset of behaviours. If you're using the cut method on a series you aren't likely bothered about it returning anything other than a series.

If I'm reading the docs correctly, it is always series in - series out, given `retbins` is `False` (which is the default).

What are your thoughts on th

[2019-10-15 08:49] moi90 opened #28991 "assert_frame_equal: "AssertionError: Attributes are different" is un-informative for DataFrames"
#### Example from the docstring of `assert_frame_equal`

[code]
#### Problem description

The `AssertionError` is un-informative in that it does not state the column for which the error happens.

#### Expected Output
Something like:
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.7.final.0
python-bits

[2019-10-15 09:14] PrimozGodec opened #28992 "Pandas wrongly read csr_matrix with explicit 0"
#### Code Sample, a copy-pastable example if possible

[code]
Observe the difference in the bottom left value in the second matrix.

#### Problem description

When the sparse matrix (in our case the matrix with the explicit zero) is imported in pandas with `from_spmatrix` function at least one value that should not be zero becomes a zero. See the example below. Both matrices should be the same.

#

[2019-10-15 09:29] manasIU opened #28995 "DataFrame.mad() results inconsistent with scipy.stats.median_absolute_deviation"
[code]
#### Problem description
I want to calculate the Median Absolute Deviation for a 1D array. For the example dataset given on Wikipedia, I compared the results of `pandas.DataFrame.mad()` with the same function in scipy and found that the results are different.
**Expected output :**
The wikipedia article states that the MAD for `data` should be 1.
pandas gives `2.367347`.
scipy gives `1.4826`

[2019-10-15 09:59] kipintouch commented on #28757
For my case, the Multi-index are primarily `columns`, in which case the order comparison seems redudant. Also, for the other case,

[code]

The order for the index does not change the underlying data or its meaning in the table.

[2019-10-15 09:59] nirvana1122 commented on #19666
The problem is with h5py packaged with Anaconda. I started with a fresh installation and still get the same error. Shame on Anaconda for not fixing bugs for months!

[2019-10-15 10:27] lukasbk commented on #28995
According to the [docs](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.mad.html), the method pandas.DataFrame.mad is the "mean absolute deviation", not the "median absolute deviation". The first one is defined as the arithmetic mean of the deviations from the arithmetic mean:
mean(|x-mean(x)|)
The second one is the same but using the median instead of the mean:
med

[2019-10-15 11:00] manasIU commented on #28995
Ahhh, my bad. However what you said is true - `mad` usually stands for median absolute deviation in all the articles I have read.
If you do decide to implement `median absolute deviation` , please rename this method appropriately since it might lead to more confusion later.
I guess that is why in scipy they use the full string `median_absolute_deviation`.

[2019-10-15 11:11] jreback commented on #28995
duplicate of https://github.com/pandas-dev/pandas/issues/11787

we are going to deprecate .mad() entirely

PR for that is welcome

[2019-10-15 11:11] #28995 closed

[2019-10-15 11:21] simonjayhawkins opened #28997 "local test failure test_pickle_ordered_from_sentinel"
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 8c5941cd57e260f4c3552769e79d8d6dbd6283d9
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           :

[2019-10-15 11:26] moi90 opened #28998 "Documentation bug in pandas.api.types.is_scalar"
#### Example

The first example is:

[code]
#### Problem description

`is_scalar` is not a member of `pd`:

[code]

#### Expected

`pd.api.types.is_scalar(...)`

[2019-10-15 11:28] lukasbk commented on #28995
I'd like to do that. Since I just started working on the project, can you give me a hint what to do for deprecation?

[2019-10-15 11:31] #28147 closed

[2019-10-15 11:38] TomAugspurger opened #29001 "CI: Integrate 3.8 builds"
3.8 uses Python from Travis-CI.

Once conda packages are built for 3.8 we want to use our usual system.

[2019-10-15 11:38] #26626 closed

[2019-10-15 11:50] jreback commented on #28995
https://github.com/pandas-dev/pandas/pull/28621/files was a recent deprecation, you can follow a similar pattern.

[2019-10-15 12:08] nourani commented on #28348
I also encountered this error in Jupyter after upgrading pandas in the background. Restarting the jupyter alleviates this error. It must have something to do with the module being loaded by jupyter while the version on the disk being changed.

[2019-10-15 12:18] Apolinho opened #29003 "DUVIDA"
File "C:/Users/T-Gamer/PycharmProjects/untitled/tcc.py", line 80, in <module>
    result = df.pivot(index='c1', columns=['c2' , 'c3'], values='c4') a better solution.]

Eu preciso usar mais de uma instacia em um mapa de calor, mas da esse erro nas variaveis disponiveis..

[2019-10-15 12:18] Apolinho commented on #29003
Traceback (most recent call last):
  File "C:/Users/T-Gamer/PycharmProjects/untitled/tcc.py", line 80, in <module>
    result = df.pivot(index=['c1'], columns=['c2' , 'c3'], values=['c4'])
  File "C:\Users\T-Gamer\PycharmProjects\untitled\venv\lib\site-packages\pandas\core\frame.py", line 5628, in pivot
    return pivot(self, index=index, columns=columns, values=values)
  File "C:\Users\T-Gamer\Py

[2019-10-15 12:23] NicolasHug commented on #28987
Yes, I don't think Numba is mature enough for scikit-learn to switch from Cython.

I've used numba extensively in [pygbm](https://github.com/ogrisel/pygbm) and more recently in a toy project ([hmmkay](https://github.com/NicolasHug/hmmkay)). Here are the main arguments I have against it:

1. error messages aren't helpful (at all)
2. compilation time is significant for a large code-base (caching mak

[2019-10-15 12:45] TomAugspurger commented on #28969
I have no idea about the underlying NumPy issue. You could try posting over there but it seems a bit thorny.

On the pandas side of things, we could perhaps avoid the `.astype(str)` call. May do it in a list comprehension instead?

[2019-10-15 12:46] TomAugspurger commented on #28616
Pushed to 1.0. Would be nice if someone has time to look into this.

[2019-10-15 12:53] tirkarthi commented on #22714
Sorry, I don't have enough time to test this. Given that the CI passes in linked PR and 3.8.0 is also released as a stable release I think we can close this. Thanks for the fix.

[2019-10-15 12:58] TomAugspurger commented on #28110
The 0.25.x branch should be almost ready.

We have

- https://github.com/pandas-dev/pandas/pull/29002
- https://github.com/pandas-dev/pandas/pull/28999
- https://github.com/pandas-dev/pandas/pull/29000 (+ backport)

then I think we're ready.

I can't actually do the release this time around. My main laptop is being serviced, and I don't think the machine I'm on can physically run docker. Hopefully

[2019-10-15 12:59] TomAugspurger commented on #28110
## 3.8 Binaries

In https://github.com/MacPython/pandas-wheels/pull/64, we're testing our wheel infrastructure on 0.25.x with 3.8. I have two questions

1. What version of NumPy can / should those be built against? @rgommers @matthew-brett do you have recommendations? I assumed I needed 1.18.0.dev0, since that's the first NumPy to be compatible with Python 3.8. Is building wheels to be published o

[2019-10-15 13:28] rgommers commented on #28110
Yes I think that's not the best idea. @charris is planning to release a Python 3.8 compatible NumPy `1.17.3` shortly, so that's a much better target. Wheels built against `1.18.0.dev0` likely won't work with `1.17.3`.

[2019-10-15 13:36] eriknw commented on #28956
This looks like a duplicate of https://github.com/pandas-dev/pandas/issues/25760

Note: I just encountered this too!

[2019-10-15 13:36] bhuvanakundumani commented on #28839
@jorisvandenbossche - I am reading more about BlockManger here :  https://github.com/pydata/pandas-design/blob/master/source/internal-architecture.rst.
Hope am in the right direction. thanks

[2019-10-15 13:38] TomAugspurger commented on #28110
Ah, good to know about the 1.17.3 release. I'll keep my eye on https://github.com/numpy/numpy/issues/14698. We can hold off on releasing 0.25.2 until those are ready.

[2019-10-15 14:04] jreback commented on #28110
@jbrockmendel added to pypi

[2019-10-15 14:16] TomAugspurger commented on #29003
Can you edit the post to fill out the issue template with a minimal example? It's not clear what the issue is: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-10-15 14:17] TomAugspurger commented on #22714
K. We'll reopen if things are still a problem.

[2019-10-15 14:17] #22714 closed

[2019-10-15 14:19] envhyf commented on #17540
Hi, I met a similar issue. The dataframe was saved in Python 2.7 with `format ='table', encoding ='utf-8'`. However, when I read it in Python 3.7 by pd.read_hdf('xxx.hdf', key='xx',encoding = 'utf-8'). The error shows like:` lookup() argument must be str, not numpy.bytes_`

[2019-10-15 14:28] TomAugspurger commented on #28956
Thanks Eric, this does look like a duplicate of https://github.com/pandas-dev/pandas/issues/25760.

Not sure what the best way to fix it is though...

[2019-10-15 14:28] #28956 closed

[2019-10-15 14:43] bdepardo commented on #28837
Thanks @rohitsanj

[2019-10-15 15:14] mroeschke commented on #21245
We would just need a test seeing that the original issue was fixed. Namely that the example in  https://github.com/pandas-dev/pandas/issues/21245#issue-327300484 gives the stated desired output

[2019-10-15 15:21] #28998 closed

[2019-10-15 15:24] TomAugspurger commented on #28110
OK the 0.25.x branch should be good to go. Will coordinate with @jbrockmendel on releasing.

Personally, I'm OK with waiting on NumPy 1.17.3 wheels. We could release 0.25.2 at any time and rebuild wheels for 3.8 when NumPy is ready. But if NumPy is close (next day or two) then it's a tad less work to do it all at once.

[2019-10-15 15:57] jrcoutinho commented on #28943
In my case it was basically an issue of the code silently failing when the method's arguments were malformed due to a bug.
Not a major issue either way, but I feel like this behavior unintuitive.

[2019-10-15 16:02] TomAugspurger commented on #28757
Indexes are ordered. I don't think we'd change the assert to have an option to ignore the order.

[2019-10-15 16:02] #28757 closed

[2019-10-15 16:08] WillAyd commented on #28987
With one of the major concerns in this thread being the installation dependency, is there a comprehensive listing of what platforms this would impact? I'm not sure we've been explicit ourselves as to what platforms are supported; if it is a complicating factor for niche platforms I don't think that should be a showstopper

FWIW I think it's definitely worth exploring. The performance improvements

[2019-10-15 16:18] TomAugspurger commented on #19666
@nirvana1122 it's most likely not an issue with the conda package. If you have an example showing otherwise I'm sure the Anaconda team would appreciate a report.

[2019-10-15 16:25] jbrockmendel commented on #28987
A lot of the conversation has been about numba vs cython, but we also have
a soft dependency on bottleneck that is used in core.nanops that we might
be able to remove if we were to use numba.  IIRC @shoyer did a proof of
concept for switching over some of those functions?

bottleneck's last release was May 2017 and there are some bugs e.g.
https://github.com/pandas-dev/pandas/issues/22385 that don

[2019-10-15 16:25] TomAugspurger commented on #28943
Gotcha, thanks.

I don't have a strong opinion here. I'm not sure what the original motivation was for `np.dtype(None)` to be float.

I think the fact that

[code]

are the same while

[code]

are different argues that we shouldn't allow `None` in the list of include and exclude. We'll want to deprecate the current behavior first though.

[2019-10-15 17:24] simonjayhawkins commented on #28926
[code]
seems to work

[2019-10-15 17:28] immaxchen commented on #28926
PR sent for 'pandas/tests/computation/test_eval.py' :grin:

[2019-10-15 17:35] shoyer commented on #28987
a soft dependency on bottleneck that is used in core.nanops that we might
be able to remove if we were to use numba.  IIRC @shoyer did a proof of
concept for switching over some of those functions?

It is straightforward to rewrite most of the algorithms in bottleneck in Numba (e.g., like I did in http://github.com/shoyer/numbagg), but also in Cython or C++. If somebody cares about removing the bo

[2019-10-15 17:36] farziengineer commented on #29001
New commits to pull requests shows this error in Travis CI. Is this related.??

[2019-10-15 17:40] simonjayhawkins opened #29008 "CI Failing RemoveError: 'setuptools' is a dependency of conda and cannot be removed from conda's operating environment."
see https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=19013

[2019-10-15 18:51] HughKelley commented on #28602
151 PR09 errors remaining in the code are listed below.

Some of these are already being worked on in open issues

[code]

[2019-10-15 19:05] TomAugspurger commented on #29001
I doubt it.

[2019-10-15 19:07] simonjayhawkins commented on #28738
closed in #28845

[2019-10-15 19:07] #28738 closed

[2019-10-15 19:12] TomAugspurger commented on #29008
Looks similar to https://github.com/conda/conda/issues/9206, not sure why it just started failing though.

[2019-10-15 19:30] jorisvandenbossche commented on #28987
There are two goals mentioned in the top post: 1) use numba to implement the built-in rolling operations and 2) provide an API for the user to pass a numba function to be used as rolling operation.

I think the second goal is also very useful (and for the user give more added value, as the first goal is more an internal change). Could this second goal be implemented without having numba as a hard

[2019-10-15 19:43] iamrajhans commented on #28926
I'll work on 'pandas/tests/io/json/test_ujson.py'

[2019-10-15 20:13] TomAugspurger opened #29011 "Use standalone conda.exe"
We might want to start using conda's standalone exes at https://repo.anaconda.com/pkgs/misc/conda-execs/, as an alternative to downloading and running miniconda.sh and creating a base environment that's otherwise unused.

See https://github.com/conda/conda-prefix-replacement/blob/master/.travis.yml#L9-L14

In theory, we just need to download the right exe for the platform, make it executable, and

[2019-10-15 21:00] saskakarsi commented on #28926
I'll start checking out plotting/test_backend.py

[2019-10-15 21:16] jjlkant commented on #28926
Was working on _pandas/tests/indexes/test_category.py_, but this will also be fixed with #28976

[2019-10-15 21:26] jjlkant commented on #28926
I'll be working on _pandas\tests\arrays\test_datetimelike.py_

[2019-10-15 21:30] franchesoni commented on #20012
Needing this feature for an engineering use case.

[2019-10-15 21:37] #29008 closed

[2019-10-15 21:43] franchesoni commented on #15354
Calculating and then downsampling is not an option when you have TBs of data.

[2019-10-15 22:10] stefansimik commented on #17594
Same problem here.
Using categorical in groupby() looks quite unusable in practice now.

[2019-10-15 23:41] jbrockmendel commented on #28997
That looks like it depends on your installed version of requests.  does bumping that fix it?

[2019-10-15 23:43] jbrockmendel commented on #28980
xref #24576 suggesting that _unbox_scalar can be used to unify some of the logic in these comparison ops

[2019-10-16 00:39] dsaxton commented on #28980
Would it make sense to have the parsing be optional since some comparisons may not require it?  The comparison itself could then handle any failed casting.

[2019-10-16 01:03] sam-cohan opened #29018 "rolling.apply extremely slow"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I am not sure why the builtin rolling mean 1000x faster than calling np.mean using apply but it makes it pretty useless for anything custom. What makes things worse is that I often need to use `raw=False` because I want to make use of the timestamps to scale returns and that is fully 10,000x slower!

#### Expect

[2019-10-16 01:29] dsaxton commented on #29018
Relevant work from @mroeschke: https://github.com/twosigma/pandas/blob/feature/generalized_window_operations/doc/source/development/rolling_operations_with_numba.rst

[2019-10-16 03:23] HawkinsBA commented on #28926
I'll check out dtypes\test_common.py.

[2019-10-16 03:44] srcole commented on #21425
I'd like to complete this (I had this issue the other day, and just switched to `pd.pivot_table()`). Is it ok if I work on this since the other PRs are closed?

Looks like just a few changes needed in thoo's branch.

[2019-10-16 04:03] sam-cohan opened #29019 "Lack of existence of exponential smoother for irregularly spaced time-series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I would like to calculate exponential moving average for the values but it seems all builtin pandas functions assume regular time values. Does pandas have a good way to deal with this?

I have already tried resampling the series, but that is not ideal because I want the ewma at the irregular points not sampled

[2019-10-16 04:09] mroeschke commented on #12455
`TimeGrouper` has been removed so I don't think this is an issue anymore. Closing

[2019-10-16 04:09] #12455 closed

[2019-10-16 04:31] mroeschke commented on #12724
This looks fixed on master (Jeff's example). Guess this could use a test

[code]

[2019-10-16 04:32] Kazz47 commented on #27353
The current list of files returned by @WillAyd's script after my PR:

[code]

In all of these files the non ABC classes references are also created or a class method is used so I didn't update them. Based on the data above I'm not sure we want to update these. What other action is left for this issue?

[2019-10-16 04:37] mroeschke commented on #18311
Looks to work on master now. Could use a test:

[code]

[2019-10-16 04:44] mroeschke commented on #21624
This work on master. Could use a test.

[code]

[2019-10-16 04:56] jreback commented on #29019
this would need a detailed example with implementation

[2019-10-16 04:56] #29019 closed

[2019-10-16 04:59] sam-cohan commented on #29019
Here is a gist of what I am doing:
https://gist.github.com/scgalois/c9aff545c1e841b5835330b26b6bc9bb

On Tue, Oct 15, 2019 at 9:57 PM Jeff Reback <notifications@github.com>
wrote:

[2019-10-16 05:05] mroeschke commented on #11220
Looks like `np.datetime('NaT')` is getting correctly recognized as datetime64ns now. Could use a test.

[code]

[2019-10-16 05:08] mroeschke commented on #10984
Looks like names are not added anymore. Could use a test.

[code]

[2019-10-16 05:22] mroeschke commented on #29018
`apply` generally just performs a for loop over your data. With `raw=False` is especially slow since it's treating everything as a python object. It's best to set up your dataframe as much as possible to use the built in rolling methods.

[2019-10-16 05:22] #29018 closed

[2019-10-16 05:24] mroeschke commented on #29018
The work @dsaxton linked may help your work down the line (or feel free to fork the work and test it out!). The Numba rolling apply implementation described there though assumes that your function can be jittable.

[2019-10-16 08:49] andreasbuhr commented on #28992
The example code fails at:
`a[0, 3] = 0`
With an IndexError. Is this a typo?

[2019-10-16 09:08] ConorSheehan1 opened #29023 "pd.concat inconsistent coercion of None depending of value in rows"
#### Code example using pandas 0.25.1

[code]

#### Problem description

I expect the `None` in `date_col` to be converted to `NaT`. Instead, it changes depending on the values of other columns!

* If `bar` contains `1`, `date_col` will contain `NaT`.
* If `bar` contains `"a"`, `date_col` will contain `None`.

Note this may be related to https://github.com/pandas-dev/pandas/issues/28786, but it ma

[2019-10-16 09:31] PrimozGodec commented on #28992
@andreasbuhr Yep, it is a typo. It should be:

    a[0, 2] = 0

I corrected the example above.

[2019-10-16 09:43] K3UL opened #29024 "Inconsistent behavior for df.replace() with NaN, NaT and None"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
#### Problem description

This might seem somewhat related to #17494. Here I am using a dict to replace (which is the recommended way to do it in the related issue) but I suspect the function calls itself and passes `None` (replacement value) to the `value` arg, hitting the default arg value.

When calling `df.replace()` to repla

[2019-10-16 11:30] afoda opened #29025 "Incorrect json round-trip with orient='table' when dataframe contains duplicate index values"
#### Code Sample, a copy-pastable example if possible

[code]
Output:
[code]

#### Problem description

I would expect the json roundtrip to output a dataframe that is identical to the input, regardless of the value of the orient parameter.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python

[2019-10-16 11:46] miroli opened #29026 "boolean_format parameter to to_csv"
#### Code Sample

[code]
#### Problem description

It would be nice if there was an option on formatting boolean values when saving to CSV. Possible options `{'lower', 'upper', 'title'}`.

[2019-10-16 12:11] andreasbuhr commented on #28992
thanks, now I was able to reproduce your problem with current master

[2019-10-16 12:11] #28791 closed

[2019-10-16 12:13] bra-fsn opened #29027 "Installing numexpr breaks previously working pandas code"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

#### Problem description
The above codes fail if `numexpr` is installed on the system, and work fine if it's not.
The error depends on what I have in the `query` parameter.
If I have:
[code]
the error is:
[code]

If I have:
[code]
the error is:
[code]

Also, if I try to disable `numexpr` with:
[code]
I get the same errors. Only

[2019-10-16 12:52] #25459 closed

[2019-10-16 13:20] SeppMe commented on #28882
Ran into the same issue today. The problem is with `None` keys. Here is some C&P'able code:
[code]
This works fine with pandas 0.24.2, but with 0.25.1 there are several issues:
1. The result is wrong! It says 'A' -> 61.5. the correct result would be 'A' -> 0 and ignoring the None value. Having `None` as an additional category would also be acceptable. But mixing it into one of the other groups is

[2019-10-16 13:53] SeppMe commented on #28882
I got it installed. Here are results for pandas 0.26.0.dev0+583.g86e187f:
1. The code above no longer crashes, but it still produces the wrong result of A->61.5
2. The code starts crashing again when subject to slight modifications: Using `as_index=False` will crash immediately. Using a list of quantiles (p.e. `df.groupby('key').quantile([0, 0.5, 1])`) crashes immediately.

[2019-10-16 14:46] MrRobot2211 commented on #13519
I am having the exact same issue. Is tere any workaround?

[2019-10-16 15:12] farziengineer opened #29029 "Python 3.8 build terminates on Travis CI."
https://travis-ci.org/pandas-dev/pandas/jobs/598457821

[2019-10-16 16:06] phaabe opened #29031 "set locale to data frame with ambiguous local time leads to"
I read CSV-files with ambiguous local time -- ambiguous due to daylight saving time.

When I apply `tz_localize()` I run in the following error:

    AmbiguousTimeError: There are %i dst switches when there should only be 1.

Here is my code to reproduce the error. Note that from 2am to 3am every datetime is a duplicate due to daylight saving time.

    index = pd.DatetimeIndex(['2018-10-28 01:00:

[2019-10-16 16:15] TomAugspurger opened #29032 "Deprecate getting the name from MultiIndex.levels"
Follow up to https://github.com/pandas-dev/pandas/pull/27242.

https://github.com/pandas-dev/pandas/pull/27242#issuecomment-542602004

[2019-10-16 16:17] mroeschke commented on #29003
I think you'll want to use `pivot_table` instead of `pivot`

[code]

If you have any followups, please post a copy-pastable example.

[2019-10-16 16:17] #29003 closed

[2019-10-16 16:24] gqfiddler opened #29033 "Inconsistent behavior between df.sum() and groupby(col).agg('sum') on lists"
[code]
#### Problem description

Like the + operator in python, .sum() in pandas is overloaded to perform list joins as well as numerical addition.  However, 'sum' inside of the 'agg' method does not do this.  Instead, it treats lists as un-addable objects and drops them from the dataset.

For both convenience and consistency, df.join('col').agg('sum') should exhibit the same behavior on lists as

[2019-10-16 16:24] #28819 closed

[2019-10-16 16:35] mroeschke commented on #29031
The `infer` logic essentially looks for subsequent dates that "fall behind" a previous date (see the example in https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tz_localize.html). Your index is monotonically increasing.

Nonetheless, it looks like the error message is malformed and could be fixed. PR's to fix that are welcome!

[2019-10-16 16:35] TomAugspurger opened #29034 "Drop Python 3.5 support"
As discussed in https://github.com/pandas-dev/pandas/issues/27492.

The 0.25.x branch should be stable for the next release, so we can start on this at any time.

[2019-10-16 16:39] jbrockmendel commented on #28955
This might be useful in some of the groupby.apply/agg/etc stuff I'm working on.  A lot of the corner cases involve ops being done on Categorical or IntegerArray and having to check whether we can/should cast back to the original dtype.

[2019-10-16 17:15] sergiykhan opened #29036 "Inconsistent processing of NaT values by GroupBy"
[code]

The example above results in NaT values being counted in the (12 days 11:00:00, 12 days 12:00:00] range. The expected result is 0.

The behavior is also inconsistent. Tweaks to the `interval_index` or the `groupby` operation result in the expected output. For example:

[code]

or

[code]

#### Output of ``pd.show_versions()``
<details>
INSTALLED VERSIONS
------------------
commit

[2019-10-16 17:19] stefansimik opened #29037 "Categorical column fails in groupby + transform."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Problem is, that code above fails with error:
[code]

#### Expected Output

Code should work without error (especially Way 2)
and produce the same result as Way 1

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
pyth

[2019-10-16 17:22] proost opened #29038 "REF/PERF: PeriodEngine covers narrow type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When i handled #28628, i found `PeriodEngine` only works for Int type. So `PeriodIndex.get_loc` compute twice because `PeriodEngine.get_loc` only accepts Int type.

#### Suggestion
`.get_loc` on `PeriodIndex` computes once. Either expanding `PeriodEngine.get_loc` accept data type or removeing `PeriodEngine.get_

[2019-10-16 17:28] stefansimik opened #29039 "max() function - returns wrong value with categorical Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Generic function `max()` return incorrect result on categorical Series.

#### Expected Output

Way 2 (in code) should return correct value `Delivered`,
not bad value `Waiting`

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.

[2019-10-16 17:33] phaabe commented on #29031
Thanks for the clear answer.

But then I see a feature request here. Would you agree?

[2019-10-16 17:54] mroeschke commented on #29031
Indeed. The `infer` logic could be improved to handle cases like this!

[2019-10-16 19:16] WillAyd commented on #27353
If that's the remaining items then your PR can close this once merged. Thanks for reviewing @Kazz47

[2019-10-16 19:22] jbrockmendel commented on #13875
@topper-123 now that we're on the verge of dropping py35, does that affect whether this is closeable and/or actionable?

[2019-10-16 19:26] jbrockmendel commented on #29038
Does `pi.get_loc` work as expected?  I haven't checked, but it wouldn't surprise me if PeriodEngine isn't _supposed_ to accept a Period object

[2019-10-16 19:57] ricardogando commented on #11947
Hi, is this issue still valid? Thanks

[2019-10-16 20:00] jbrockmendel commented on #4787
-1.  Working in/around DataFrame._reduce and groupby operations that have numeric_only, it is a PITA and hides bugs.