[2020-09-21 01:49] arw2019 commented on #36512
What would you expect to get instead?

[2020-09-21 01:51] ssche commented on #36060
My [rewriting of index workaround](https://github.com/pandas-dev/pandas/issues/36060#issuecomment-686098785) can cause another issue ([`reindex_like`](https://github.com/pandas-dev/pandas/issues/36060#issuecomment-687080436) isn't applicable for my use case as the other operand of the arithmetic operation isn't available yet).

[code]

[2020-09-21 01:54] GYHHAHA commented on #36512
I want to get Timestamp('2011-03-28 00:00:00+0300', tz='Europe/Helsinki') when use ts + pd.DateOffset().

[2020-09-21 02:01] #33272 closed

[2020-09-21 02:10] jbrockmendel commented on #19371
+1; recent work in implementing validators this would simplify things

[2020-09-21 02:12] arw2019 commented on #36512
Hmmm  so I'm not sure whether this is the expected behavior from `DateOffset`

For your specific use case would `round` be a solution?
[code]

[2020-09-21 02:15] zzztpppp opened #36513 "BUG: Series.replace does not work as intended when replacing values with None"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-21 02:17] GYHHAHA commented on #36512
Oh, I know how to convert it to this form.
But just that is not matching the doc description.

Thus maybe it's more clear to point out the default value is 24 hours not a calendar day here.

[2020-09-21 02:20] arw2019 commented on #36512
Ok, makes sense! Are you interested in opening a PR to add this clarification to the doc?

[2020-09-21 02:20] GYHHAHA commented on #36512
glad to

[2020-09-21 02:22] arw2019 commented on #36512
Fantastic. Here's the [contributions guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) with the instructions

[2020-09-21 03:08] asishm commented on #36513
@zzztpppp this is intended behavior as documented
https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html

[2020-09-21 03:10] rahullak commented on #15988
Yes, please. 'append_skipdupes' should be added and not only for the Primary Key column. If there are duplicates among other Unique columns also it should skip appending those new duplicate rows.

[2020-09-21 03:49] zzztpppp commented on #36513
@asishm
Oh thanks! I did miss the default None in the documentation.  Now should I close this issue?

[2020-09-21 06:47] #36451 closed

[2020-09-21 07:27] MarcoGorelli commented on #36494
This is taken, but there's lots of other issues you can contribute to if you like!

[2020-09-21 08:09] JeremyVriens opened #36521 "BUG: pandas.DataFrame.where doesn't work when cond is of Pandas Dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-21 08:46] shadchin opened #36522 "BUG: Different behavior of .replace() method between pandas version 1.0.5 and 1.1.2"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-21 08:51] shadchin commented on #36522
This behavior after PR #31946

[2020-09-21 11:34] TomAugspurger commented on #27108
This was closed by https://github.com/pandas-dev/pandas/pull/28394.

[2020-09-21 11:34] #27108 closed

[2020-09-21 11:52] yohplala commented on #20089
Hello,
There is another bug that your code demonstrate. It is linked, and maybe is considered to be the same.
When saving to parquet, datetime are saved in 'ms', not 'ns'.
So there is a mistake in the metadata pands is writing.
[code]

Should I re-open a new ticket or can this ticket be re-opened?
Thanks,
Bests

[2020-09-21 12:03] Dr-Irv commented on #32614
This is an issue of operator precedence in Python, so it's not a bug.  The `~` operator gets evaluated *before* the `&` operator, so the error is raised because the expression `~df.A.str.isnumeric()` is evaluated before the complete expression `df.A.notnull() & ~df.A.str.isnumeric()` is evaluated.

Similar thing happens in numpy:
[code]
produces
[code]

[2020-09-21 12:03] #32614 closed

[2020-09-21 12:28] jreback commented on #31922
reopening, it appears that this should be skipped on older numpies.

[2020-09-21 12:29] jreback commented on #31922
@ylin00 would you like to re-vise the PR to do this?

[2020-09-21 12:40] dsaxton commented on #36521
Thanks @JeremyVriens, this is fixed by https://github.com/pandas-dev/pandas/pull/36201

[2020-09-21 13:02] JeremyVriens commented on #36521
@dsaxton thank you for the reply (and the fix)!

[2020-09-21 13:51] #36521 closed

[2020-09-21 15:02] mizuy opened #36525 "BUG: formatters ignored in to_html"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-21 16:09] khintze1 commented on #36448
If this is still an issue I'd like to take it.

[2020-09-21 16:22] khintze1 commented on #36525
take

[2020-09-21 16:29] khintze1 commented on #30699
take

[2020-09-21 16:33] mroeschke commented on #36513
Yes this is working as intended per the documentation, so going to close for now.

[2020-09-21 16:33] #36513 closed

[2020-09-21 16:37] erfannariman commented on #36507
I can give this a shot, just not sure where to place the function. Would that be in `generic.py` as well? Since it can be used in `DataFrameGroupBy` as well.

[2020-09-21 16:37] erfannariman commented on #36507
take

[2020-09-21 16:38] felixpatzelt opened #36526 "BUG: modulo of pd.Int64Index returns negative values under some conditions"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-21 17:06] arybin93 opened #36527 "BUG: Different behaviour for index after assign dataframe new column by series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

With pandas version 1.1.1

[code]

#### Problem description

With pandas version 1.1.1, output:
[code]
We perceive index from s

[2020-09-21 17:08] dsaxton commented on #36448
@khintze1 Thanks for the interest, but actually this issue seems to be fixed already. Welcome to look for other issues labeled as good first issue.

[2020-09-21 17:08] #36448 closed

[2020-09-21 17:34] jbrockmendel commented on #21653
not sure about this.  why infer for string but not others?

[2020-09-21 17:38] jbrockmendel commented on #21989
@toobaz is this still an issue?  there's been quite some refactoring since it was opened

[2020-09-21 17:38] jbrockmendel commented on #20833
the categories cant have NAs, but the codes can have -1s

[2020-09-21 17:40] jorisvandenbossche commented on #36526
@felixpatzelt Thanks a lot for the report, that's indeed a regression and wrong result ..

It's not specific to Index, also a Series (or DataFrame) operation has the same issue:

[code]

[2020-09-21 17:42] jorisvandenbossche commented on #36527
@arybin93 thanks for the clear report. That's indeed a regression in pandas 1.1.2 compared to 1.1.1 / 1.0

[2020-09-21 17:45] jorisvandenbossche commented on #36527
Based on the title of the PR, probably related to https://github.com/pandas-dev/pandas/pull/36141 cc @Dr-Irv

[2020-09-21 17:54] jbrockmendel commented on #22843
AFAICT, based on a) trying to implement this and b) previous discussions which I've lost track of:

1) It has been suggested that this should be doable using `factorize`, but I have been unable to get this to work.
2) AFAICT SparseArray and possibly Categorical are going to have to override whatever general-case implementation we come up with.
    - This means that we will need _something_ on the

[2020-09-21 18:00] jorisvandenbossche commented on #21653
Because strings is the only one (before StringDtype, at least) that doesn't have its own dtype, and you basically need to infer to know if you have strings or not.

But as I said above: not sure we should do this. And certainly now we have StringDtype, and this will become the default at some point, it will become less of an issue.

[2020-09-21 18:17] MarcoGorelli opened #36529 "add generate_pip_deps_from_conda.py to pre-commit"
This could be a local hook. I'll have a go at this later this week if no one takes it

[2020-09-21 18:18] jbrockmendel commented on #24688
The use case I've had where tuple-labels were indispensible is where I had `df.columns` as a MultiIndex and then had to add another non-tuple column, which causes the MultiIndex to case to tuples.

[2020-09-21 18:26] #36422 closed

[2020-09-21 18:55] ivanovmg commented on #36525
I confirm the issue on master branch.

Here is the thing.
In ``pandas.io.formats.format.format_values`` there is a selection of the formatter.
For Int64 type there is ``ExtensionArrayFormatter`` that gets selected, not ``IntArrayFormatter``. Looks like the problem is in the function ``is_extension_array_dtype``.
However, even if ``IntArrayFormatter`` is selected for Int64 inside ``format_values``,

[2020-09-21 19:10] jbrockmendel commented on #25286
Is there a reason you can't just replace the unwanted default names after the read_csv call?

[2020-09-21 19:12] ivanovmg commented on #36500
Probably because ``pd.NA`` is not comparable (no equal, not not equal) with ``pd.NA``?
I am not sure, but I guess index values has to be comparable.

[2020-09-21 19:20] impact27 commented on #25286
Sure but I expect to keep the column names when I save the file and not have to correct them.

[2020-09-21 19:41] dishak331 commented on #36526
I would like to work on this

[2020-09-21 19:42] dishak331 commented on #36526
take

[2020-09-21 19:52] jorisvandenbossche commented on #36526
@dishak331 Thanks!

See also https://github.com/pandas-dev/pandas/issues/35685 in case you might first want to find out which change caused the regression (sometimes that can be helpful)

[2020-09-21 19:55] asishm commented on #36526
is this related? #36047
don't have access to an environment right now

[2020-09-21 20:05] dishak331 commented on #36526
@jorisvandenbossche thanks!

[2020-09-21 20:16] rhshadrach commented on #36507
@erfannariman you may want to wait and see if there is general agreement to expand the API as is being proposed here. No problem with putting up a PR before that, but just be aware that the idea as a whole may be opposed.

[2020-09-21 20:31] erfannariman commented on #36507
Sure, will unassign for now.

[2020-09-21 20:35] Dr-Irv commented on #36527
@jorisvandenbossche You are right.  Pushed a PR that should correct that

[2020-09-21 20:43] dsaxton commented on #36522
I think the error message is fairly clear here, an arbitrary object doesn't really fit any of those types.

[2020-09-21 20:46] jorisvandenbossche commented on #36522
But still, you should be able to replace general Python objects in an object dtype column? (the example using `object()` is of course a bit fake, but in can be any custom Python class objects)

[2020-09-21 21:11] #36494 closed

[2020-09-21 21:17] jbrockmendel commented on #23200
Can you give copy/pasteable examples of what behavior you want to change and what you want it changed to?

[2020-09-21 21:25] jbrockmendel commented on #27218
Agreed on both counts.  A recent attempt to change nargsort/EA.argsort to work this way broke the world.  Have either of you tried doing this?

[2020-09-21 21:42] #36527 closed

[2020-09-21 21:52] toobaz commented on #21989
@jbrockmendel I _think_ this is fixed. Mostly because #32477 fixed #15686 . What leaves me uncertain is that #32477 specifically mentions "with duplicates"... but I guess the non-duplicated cases was already fixed. And unfortunately I don't have time to do much research now.

(It would be cool to have a broken index class to pass to ``Series`` and ``DataFrames`` for testing ``iloc``, which would a

[2020-09-21 22:03] jbrockmendel commented on #31184
I think determined in #31185 that n=0 needs to be allowed (lest `period - period` raise), so the doc should be updated

[2020-09-21 22:05] jbrockmendel commented on #31245
apply in general doesnt operate row-wise, but column-wise.  we dont really have much ability to insert periodic logging between row operations.

dask might over more visibility into how an operation is performing (cc @TomAugspurger)

[2020-09-21 22:05] jbrockmendel commented on #28952
@jorisvandenbossche is this actionable/closeable?

[2020-09-21 22:10] jbrockmendel commented on #28108
Closed by #29941

[2020-09-21 22:10] #28108 closed

[2020-09-21 22:11] jbrockmendel commented on #27404
Does being py37+ make this any more solvable?

[2020-09-21 22:13] WillAyd commented on #27404
This should already be resolved here:

https://github.com/pandas-dev/pandas/blob/6f2c60ea99fd17e40d3e67195eebacddc2e445cb/pandas/_typing.py#L101

[2020-09-21 22:13] #27404 closed

[2020-09-21 22:20] jbrockmendel commented on #32678
I think the best we can do for the time being is issue a warning at pickle-time if there are any accessors that are going to be lost

[2020-09-21 22:23] jbrockmendel commented on #26713
There is a `tslibs.timedeltas.ints_to_pytimedelta(arr.asi8, box=True)` that will make this easy to do for Timedelta; nothing analogous for Period

[2020-09-21 22:57] jbrockmendel commented on #36526
xref https://github.com/pydata/numexpr/issues/365

[2020-09-22 00:06] jbrockmendel commented on #3539
The existence of views makes cache invalidation way too hard.  Closeable?

[2020-09-22 00:54] jbrockmendel commented on #21989
That might be a nice way to test somethings.  For now I think this is closeable.

[2020-09-22 00:57] #31370 closed

[2020-09-22 01:15] jbrockmendel commented on #17997
Block.concat_same_type is gone, is this closeable/updateable?

[2020-09-22 01:25] jbrockmendel commented on #25347
since _ndarray_values is gone, i think this is closeable

[2020-09-22 01:30] TomAugspurger commented on #31245
Dask has a couple options for monitoring progress through tasks. Agreed this is best handled outside pandas for now.

We'd gladly take an entry for tqdm's progress bar in the pandas ecosystem docs.

[2020-09-22 01:30] #31245 closed

[2020-09-22 01:36] jbrockmendel commented on #23417
These have been pretty thoroughly refactored since the OP, closing.

[2020-09-22 01:36] #23417 closed

[2020-09-22 01:38] jbrockmendel commented on #13875
@WillAyd there was another decorator-related issue that just got closed.  can this one go too?

[2020-09-22 01:39] jbrockmendel commented on #20588
We've pushed pretty far down this road, and have been implementing custom linting for a while.  Is there anything else to do here, or closeable?

[2020-09-22 01:44] jbrockmendel commented on #26827
close-to-duplicate of #20589

[2020-09-22 01:44] jbrockmendel commented on #20589
Is this worth pursuing?

[2020-09-22 01:51] jreback commented on #32727
reverted

[2020-09-22 01:51] jbrockmendel commented on #7308
I think the discussion above suggests this isnt a reasonable result, that we dont want to drop datetime column here

[2020-09-22 01:58] jbrockmendel commented on #9893
why can't this be done with df.loc?

[2020-09-22 02:40] jbrockmendel commented on #18306
Still relevant?

[2020-09-22 02:42] jbrockmendel commented on #22459
i see a lot of merged PRs, is this done?

[2020-09-22 03:02] jreback commented on #25347
we still need this general functionality though
we currently have a lot of scattered logic which converts arrays to cython types and then reconstructs the original

groupby, window, algos and nanops all do this

[2020-09-22 03:12] jbrockmendel commented on #19285
Added a GH label for nuisance columns

[2020-09-22 03:20] jbrockmendel commented on #25347
We do it for datetimelike (though even that not really in window) but thats about it.  there isnt a realistic way to do this for the general case

[2020-09-22 03:24] jpeacock29 opened #36539 "DOC: Links to Scipy window functions are out of date"
#### Location of the documentation
- https://github.com/pandas-dev/pandas/blob/master/doc/source/user_guide/computation.rst
- https://github.com/pandas-dev/pandas/blob/00a510bfc0416d890a385697a8a0e5127602f9ec/pandas/core/window/rolling.py#L943

#### Documentation problem
Current link goes to https://docs.scipy.org/doc/scipy/reference/signal.html#window-functions which simply points users to https:

[2020-09-22 03:35] jbrockmendel commented on #12640
still relevant?

[2020-09-22 03:37] jbrockmendel commented on #19349
I see this as analogous to how we treat strings in `DatetimeIndex.get_loc`.  Is this still a problem?

[2020-09-22 03:46] jreback commented on #12640
i think it's worth adding get_dummies (there is an existing PR for this) and cut/qcut to series - separately can consider deprecating the top level

[2020-09-22 03:48] jbrockmendel commented on #22372
df._item_cache needs to be cleared, not sure exactly where

[2020-09-22 04:09] jbrockmendel commented on #25749
With a MultiIndex, what you are getting here is _not_ a view on the data in the MultiIndex.  So when you do `idx_m[0]=('qux','one')`, you aren't changing `dfm.index` at all.

[2020-09-22 04:09] #25749 closed

[2020-09-22 04:17] jbrockmendel commented on #25288
Definitely on the IntegerArray the `fillna` should raise instead of cast, but in ExtensionBlock.fillna we would expect it to fall back by casting to object

[2020-09-22 04:21] jbrockmendel commented on #27138
.array is supposed to refer to the _actual data_ backing an Index/Series.  Until MI is backed by some kind of MultiArray (ProductArray for nicely behaved cases?), I don't think this makes sense.

[2020-09-22 05:03] dishak331 commented on #36526
okay so i just checked, this is a bug in Python itself. When we are doing -5%24 it is outputting as 19 instead of -5

[2020-09-22 05:09] ssche opened #36541 "BUG: ValueError: cannot convert float NaN to integer when resetting MultiIndex with NaT values"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-22 07:22] #36539 closed

[2020-09-22 08:01] arybin93 commented on #36527
So it looks that release notes for 1.1.2 contain fixed bug #31368

[Release notes](https://pandas.pydata.org/docs/whatsnew/v1.1.2.html#bug-fixes)

But in reality not and changes will in 1.1.3, is it so?

[2020-09-22 08:58] achapkowski commented on #32678
I think `attrs` would be the way to go, but I want to ask my question again.  What is the timeline to move this property outside of the `experimental` phase?

[2020-09-22 09:12] Dr-Irv commented on #36527
@arybin93 The fix in 1.1.2 that fixed #31368 created the issue you have reported here, which is now addressed in #36532 and is planned for 1.1.3, so that both #31368 and this issue are resolved.

[2020-09-22 09:26] m1nde commented on #36526
@dishak331 No, it's not a bug in Python. Thats the defined behaviour of the module operation in Python 3. It's numexpr that is wrong here by applying C conventions into Python.

[2020-09-22 09:31] yuv-c opened #36542 "QST: Deadlock when using df.to_sql for none-related tables"
I have a multithreaded ETL that occasionally fails due to an issue I can't understand and would like an explanation.
I have asked [the following question](https://stackoverflow.com/questions/63940226/mysql-deadlock-when-using-dataframe-to-sql-in-multithreaded-environment) but did not get a clear answer.
Basically my ETL uses the load method defined below in different instances, each instance on a

[2020-09-22 09:49] hydrogeoscience opened #36543 "QST: Subclassing DataFrame creates problems with assigning to self when changing size"
I have successfully subclassed DataFrame (say into CustomDataFrame) according to the recommendations. I am now adding new custom methods to enhance my workflow. I have come across an issue which I have not found an answer to anywhere:

My CustomDataFrame has a DatetimeIndex set. When I manipulate the CustomDataFrame in my class, I am able to assign a _new_ DataFrame to _self_ without an error mess

[2020-09-22 09:59] dishak331 commented on #36526
oh okay okay @m1nde

[2020-09-22 10:17] oricou commented on #21351
2 years later still the same bug... I suggested a correction which might be not optimal but at least it gives the good result, what make it so long to correct that bug?

[2020-09-22 10:18] oricou commented on #21351
BTW I don't understand the Missing-Data flag. You just have to run the 4 first cells at the top of the thread.

[2020-09-22 10:22] xhochy commented on #14462
I guess `pickle5` / `pickle.dump(protocol=5)` and a new string type based on Arrow will fully solve this but Feather may already be enough.

[2020-09-22 10:58] jreback commented on #21351
@oricou you are welcome to have a look

there are 3500 open issues and pandas is all volunteer

the missing data tag is that this is about missing data itself

[2020-09-22 11:09] TomAugspurger commented on #32678
Probably once https://github.com/pandas-dev/pandas/issues/28283 is fixed.

[2020-09-22 11:18] oricou commented on #21351
ok, I will try

I still don't understand the Missing Data tag. What is expected ?

[2020-09-22 11:19] redkuul opened #36544 "BUG: str.format() raises keyerror"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-22 11:21] jreback commented on #21351
nothing - this is a tag that indicates this issue is about nans

[2020-09-22 11:22] jreback commented on #36543
you would have to have a fully reproducible example

[2020-09-22 11:27] jreback commented on #36542
these functions are just wrappers around the db itself

w/o a full reproducible example your best resource is SO

[2020-09-22 11:27] #36542 closed

[2020-09-22 11:37] jreback commented on #36544
what you are doing is not expected to work as the string is not evaluated

make it an f-string and don't use format and it will

[2020-09-22 11:38] #36544 closed

[2020-09-22 11:51] redkuul commented on #36544
Hello @jreback ,
Thank you for your response and your suggestion.
I would very much like to use f-strings, however f.read_lines() returns strings. Not f-strings.

[2020-09-22 12:09] jorisvandenbossche commented on #17997
Yes, this can indeed be closed I think. The referenced comments are now also outdated with the introduction of the `get_common_dtype` interface used in the concat code.

[2020-09-22 12:09] #17997 closed

[2020-09-22 13:27] redkuul commented on #36544
Solved using helper function.
[code]

[2020-09-22 13:37] #35925 closed

[2020-09-22 13:41] #28488 closed

[2020-09-22 15:20] IainStrachan opened #36548 "BUG: Indexing Pandas dataframe via timestamps - inclusive at either end of range"
- [x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repr

[2020-09-22 15:44] adamhooper opened #36550 "BUG: Categorical series `.isin({pd.NaT, ...})` gives all-False"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-22 16:31] dsaxton commented on #36550
@adamhooper Thanks, seems there is a bug here. The value doesn't have to be pd.NaT, it can be other datetime-like things, so maybe your suspicion is right that the empty string is being converted somewhere (other values don't seem to have the same effect):

[code]

[2020-09-22 16:34] tacaswell commented on #36381
@jreback  this issue should be re-opened.

The issue is that `read_table` changes the default value of `sep='\t'` which is consistent with docstring (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html) but inconsistent with the hard-coded default in `read_csv` of `','`

https://github.com/pandas-dev/pandas/blob/8f6ec1e83a5de6d30cd187b832853797fd569d31/pandas/io/parse

[2020-09-22 17:15] samilAyoub commented on #36550
take

[2020-09-22 18:30] simonjayhawkins commented on #36526
looks like the same PR responsible, https://github.com/pandas-dev/pandas/issues/36047#issuecomment-685212708

first bad commit: [01623f8f733fff3bec26a06a82e2c216f03fb226] CLN: Refactor pandas/tests/base - part3 (#30147)

https://github.com/simonjayhawkins/pandas/runs/1150901284?check_suite_focus=true

[2020-09-22 19:09] samuelduchesne commented on #32860
@Flix6x Somehow, returning a function instead of a class fails at line 396: https://github.com/pandas-dev/pandas/blob/8f6ec1e83a5de6d30cd187b832853797fd569d31/pandas/core/reshape/concat.py#L394-L398
with error `AttributeError: 'function' object has no attribute '_get_axis_number'`

Any workarounds?

[2020-09-22 19:20] simonjayhawkins commented on #36526
I think can close this as duplicate of #36047

[2020-09-22 19:20] #36526 closed

[2020-09-22 19:27] phofl commented on #36548
Hey, thanks for your report. Could you please provide a minimal example (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) and change the title to something more meaningful?

[2020-09-22 19:46] dimithras commented on #36158
Hi @jreback and thanks for your comment.
Example with tuples **inside a cell** was just a quick way to reproduce the bug.
As for the question

To create a two-dimensional group like one mentioned in [docs](https://pandas.pydata.org/docs/user_guide/groupby.html#piping-function-calls):

|  |  | Revenue | Quantity |
|-|-|-|-|
| Store | Product |  |  |
| Store_1 | Product_1 | 34.622727 | 5.075758 |
|

[2020-09-22 21:14] tacaswell commented on #36381
duplicate of https://github.com/pandas-dev/pandas/issues/35958 and fixed by https://github.com/pandas-dev/pandas/pull/36560/files

[2020-09-22 21:15] mcocdawc commented on #36381
So we want to override the default of a keyword argument from another function.
The way it currently works with the local assignment `default_sep = ","` in `parsers.py::615` I think this is not possible.

If I understand it correctly we have to carry two meanings with our sentinel object:
1. **The argument is absent and the default should be taken.** This could be done with `None` or an empty stri

[2020-09-22 22:08] #36430 closed

[2020-09-22 22:28] phofl commented on #36548
Your second print statement has errors. Could you please fix them?

[2020-09-22 22:33] WillAyd commented on #13875
I think this works on master?

[code]

So sure let's close - can always reopen

[2020-09-22 22:33] #13875 closed

[2020-09-22 23:13] jbrockmendel commented on #30681
theres are now ENGINES and PARSERS i think

[2020-09-22 23:21] #28384 closed

[2020-09-22 23:24] #36424 closed

[2020-09-22 23:24] jbrockmendel commented on #22627
Closed by #22734

[2020-09-22 23:24] #22627 closed

[2020-09-22 23:29] ssche opened #36562 "BUG: TypeError: '<' not supported between instances of 'float' and 'str' when using `.combine_first` with categorical index containing nan"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I use `df.combine_first(...)` to add a column to a dataframe while extending the index in cas

[2020-09-23 01:05] jbrockmendel commented on #22448
These now match, closing.  We can re-open if i missed something.

[2020-09-23 01:05] #22448 closed

[2020-09-23 02:18] jbrockmendel commented on #33434
Just updated the usage on the wiki page to use pytest.raises.  It seems unlikely to stay in sync; removing it may make sense (i think theres an issue about that)

[2020-09-23 02:59] yutiansut opened #36565 "BUG: visit_Constant() got an unexpected keyword argument 'side'"
- [ ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repr

[2020-09-23 02:59] jbrockmendel commented on #21749
Do we have an idea which of these are still relevant?

[2020-09-23 03:06] jbrockmendel commented on #28724
Can we turn the list in the OP into checkboxes and update it so we can see what still needs to be done

[2020-09-23 03:11] jreback commented on #36565
i don't think 3.8 is supported at all in 0.24 - if it works its happenstance

you need to update to something more recent

[2020-09-23 03:16] jreback commented on #36565
if this doesn't work in more recent version (1.1.2) is latest

ping and we can reopen

[2020-09-23 03:16] #36565 closed

[2020-09-23 05:16] wkschwartz opened #36566 "BUG: TypeError on Series(dtype='string').value_counts().idxmax()"
# Expected output
Obtain the most frequent string in a series:
[code]

# Problem
Changing the dtype on the second example from `'object'` to `'string'` breaks this idiom:

[code]
The problem is evidently not due to a `'string'` index:
[code]
# Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-09-23 05:28] arw2019 commented on #36566
Confirming this happens on 1.2 master.

<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : 76eb314a0ef53c907da14f74a3745c5084a1428a
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-48-generic
Version          : #52-Ubuntu SMP Thu Sep 10 10:58:49 UTC 2020
machine          :

[2020-09-23 06:33] jorisvandenbossche commented on #36566
So we recently added `ExtensionArray.argmin/argmax` (https://github.com/pandas-dev/pandas/pull/27801), but this is not yet hooked into Series -> https://github.com/pandas-dev/pandas/issues/35178. The issue is for Series.argmin/argmax, but I think the same is needed for idxmin/idxmax.

Note, you don't need the `value_counts()` to be able to reproduce it:

[code]

[2020-09-23 06:41] jorisvandenbossche commented on #36548
@IainStrachan this is the documented behaviour. Slicing with integers is positional indexing (see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#slicing-ranges), while slicing with timestamps is using the labels. And then see here (https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-label, the first paragraph after the three warning boxes) sayi

[2020-09-23 07:14] iascending opened #36568 "BUG: Return DataFrame could not preserve index dtype when using `.combine_first` with categorical index"
- [ √] I have checked that this issue has not already been reported.

- [√ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I use df.combine_first(...) to add a column to an existing dataframe while extending the index i

[2020-09-23 07:49] mcocdawc commented on #36381
@tacaswell
Does https://github.com/pandas-dev/pandas/pull/36560/files really fix the problem?
[code]
will not throw an error, although it should if I read the documentation correctly?

[2020-09-23 08:24] IainStrachan commented on #36548
Thanks for the clarification - so as I understand it timestamp indices are treated as labels and hence inclusive.

It causes problems for signal processing where you divide into adjacent windows of data, because a data point that falls exactly on the window boundary thereby crops up in both windows.  So I guess if you want to do this the best thing would be to convert the timestamp into an integer

[2020-09-23 08:42] eeroel commented on #35209
Hi,

This is probably related to this bug in s3fs that appears to be fixed since s3fs version 0.4.2 on pypi, but present in 0.4.0: https://github.com/dask/s3fs/pull/336
It affects also `read_csv` and probably any method that reads from s3. Basically s3fs was caching the size of the object on s3, and when the object was replaced with a larger one, only the data up to the cached size was read.

Mayb

[2020-09-23 09:11] TommasoBendinelli opened #36571 "BUG:"
- [ X] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-09-23 11:20] #35902 closed

[2020-09-23 12:04] simonjayhawkins commented on #36381
@mcocdawc since this issue is closed, maybe better for visibility to comment directly on #35958 or #36560

[2020-09-23 12:07] simonjayhawkins commented on #36381
we use lib.no_default as a sentinel

[2020-09-23 12:10] PGryllos opened #36574 "QST: what are the semantics of the SettingWithCopyWarning?"
Hi, on pandas `1.0.5` I get `SettingWithCopyWarning` when I do the following

[code]

1. Is the warning correct in this case?
2. The suggestion is `Try using .loc[row_indexer,col_indexer] = value instead`

If I do something like

[code]
I still get the same warning. I am not sure what is the proper way to do it?

Thanks
Prokopis

[2020-09-23 12:15] MarcoGorelli commented on #36405
Closing to clear up the queue, please let us know if you can provide a reproducible example and we'll reopen

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-23 12:15] #36405 closed

[2020-09-23 12:18] dsaxton commented on #36571
My guess is `values` is actually copying under the hood (even `df.values is df.values` returns `False`). If you dig into the underlying blocks then you can "prove" the data wasn't copied:
[code]

[2020-09-23 12:31] PGryllos commented on #36574
I found that this happens because my df is the result of an implicit copy of another dataframe. when in the creation of df I `original_df[condition].copy()` then I no longer get the warnings.

[2020-09-23 12:31] #36574 closed

[2020-09-23 12:58] maxzinkus commented on #21651
This seems not to be working in 1.0.5

[2020-09-23 13:07] TommasoBendinelli commented on #36571
Yes, indeed, the data it is not copied (if I assign an element to a data frame also the other is affected). It is just weird that to get this counter intuitive result

[2020-09-23 13:13] jreback commented on #36571
this might be ok after: https://github.com/pandas-dev/pandas/pull/34872

but generally this is almost impossible to guarantee as once these input data is copied it is later combined to a new block which might or might not be viewable. I would not rely on this behavior at all.

If you pass in a 2-D numpy array then the semantics are *more*, but not perfectly clear.

[2020-09-23 13:16] giuliobeseghi commented on #33677
Another simple example:

[code]

[2020-09-23 13:17] jorisvandenbossche commented on #36571
Note that your example could also *only* ever work when you have a single dtype (and with the current internals of using consolidated blocks), once you have columns with different dtypes, `.values` will always be a copy.

The reason that data is a view but not identical, is because the data is stored under the hood in a transposed way. So basically when accessing `.values`, the stored array gets t

[2020-09-23 13:19] jorisvandenbossche commented on #36571
@jreback note that the original example on top was about copying a dataframe, not about copying (or not) a numpy array passed to the DataFrame constructor.

[2020-09-23 13:21] giuliobeseghi commented on #33677
I just realised this is a separate bug. I'll open a new issue.

[2020-09-23 13:23] giuliobeseghi commented on #33677
@rwijtvliet I could recreate your problem with a naive index as well:

[code]

Maybe the name of the issue is a bit misleading then?

[2020-09-23 13:34] giuliobeseghi opened #36575 "BUG: `tz_localize` drops `freq` from `DatetimIndex`"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-23 13:52] giuliobeseghi commented on #36575
It actually works if `tz` is `"utc"`

[code]

[2020-09-23 15:23] leonarduschen commented on #36548
@IainStrachan you can do it like so `df.loc[df.index[0:2]]`

[2020-09-23 15:32] DiamondTop opened #36577 "QST: pyinstaller pandas"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-09-23 15:33] IainStrachan commented on #36548
That works in the simple example I gave, but in the application the timestamps between which you take the slice are not necessarily in the actual index.  It is a timestamped series, but the begin and end of the slice are a constant width window.  So this would only work if some of the timestamps occurred at the exact time of the window boundary.  The only solution that works seems to be to have th

[2020-09-23 15:47] rth opened #36578 "ENH: change display.width to None by default"
#### Describe the solution you'd like

Currently  `display.width` is set to 80 char on a terminal as far as I understand, which often leads to output being truncated. It would be nicer if the terminal width was auto-detected, which would avoid repr truncation for some fraction of those cases.

#### API breaking implications

This would likely be an issue for docstrings. I imagine there should be a

[2020-09-23 15:55] erfannariman commented on #29268
take

[2020-09-23 16:01] fangchenli opened #36579 "TST: dtype related test failures on 32bit system"
1. `tests/test_algos.py:TestHashTable:test_lookup_nan`  #36584
2. `tests/test_algos.py:TestHashTable:test_lookup_overflow`  #36584
3. `tests/indexes/test_base.py:test_get_indexer_non_unique_wrong_dtype`  #36584
4. `tests/indexes/period/test_indexing.py:TestGetIndexer:test_get_indexer_non_unique`  #36584

[code]

[2020-09-23 16:04] jorisvandenbossche commented on #36578
For me (default terminal, on Ubuntu), it is actually detecting the width of the terminal. For example `pd.DataFrame(np.random.randn(10,100))` uses the full width and is not limited to 80 chars.

I don't fully understand the logic though (because `display.width` clearly defaults to 80). There is the following code in `DataFrame.__repr__`:

https://github.com/pandas-dev/pandas/blob/4291973e52cd7d14c

[2020-09-23 16:09] ytalhatamer commented on #9287
This gives KeyError: 'Only a column name can be used for the key in a dtype mappings argument.' error.

Is there any update on this issue?

[2020-09-23 16:14] discdiver commented on #36064
I have tested with file output @TomAugspurger and can confirm that the bug is present there as well.

[code]

[2020-09-23 16:18] rth commented on #36578
Hmm, so for me in IPython REPL 7.18 on Windows with pandas 1.1.1, `pd.DataFrame(np.random.randn(10,100))`  does indeed use the full width of the terminal.

However if I put it into a Python script and run it, printing that dataframe will be limited to 80 char in width.

[2020-09-23 16:22] jorisvandenbossche commented on #36578
Looking at https://github.com/pandas-dev/pandas/blob/master/pandas/io/formats/console.py, it seems we only do this in an "interactive" session.

[2020-09-23 16:45] hwalinga commented on #21651
@maxzinkus Yeah, this only started working in 1.1.0.

[2020-09-23 17:04] jbrockmendel commented on #30188
related #22793

[2020-09-23 17:11] jbrockmendel commented on #18245
these have ended up getting refactored by method, not by tzawareness.  closing.

[2020-09-23 17:11] #18245 closed

[2020-09-23 17:13] jbrockmendel commented on #25798
Appears done (though this is a never-ending battle).  Closing.

[2020-09-23 17:13] #25798 closed

[2020-09-23 17:14] jbrockmendel commented on #26745
@datapythonista is this still worth pursuing?

[2020-09-23 17:14] jbrockmendel commented on #26077
We're moving in the other direction.  Closing.

[2020-09-23 17:14] #26077 closed

[2020-09-23 17:15] jbrockmendel commented on #26784
@simonjayhawkins is this actionable/closeable?

[2020-09-23 17:17] jbrockmendel commented on #32498
@MomIsBestFriend can you see if this is resolved?  im now running py38 locally and haven't seen this come up.

[2020-09-23 18:04] datapythonista commented on #26745
Probably not, thanks for triagging this. Closing.

[2020-09-23 18:04] #26745 closed

[2020-09-23 18:42] phofl commented on #36562
Hi, thanks for your report.

[code]
This raises too, while changing ``y`` to something like ``["a", "b"]`` raises not. Seems to be related to a non-unique ``y``.

[2020-09-23 18:59] phofl opened #36583 "BUG: Read_Table and Read_Csv does not raise when delim_whitespace=True and sep=default is given"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-23 19:05] attack68 commented on #36575
Extended the example to show the impact is solely to Index.

[code]

On version 1.0.4:

On version 1.1.2:

[2020-09-23 19:08] attack68 commented on #36575
Also link to here: https://github.com/pandas-dev/pandas/issues/33940#issuecomment-685774768

[2020-09-23 19:29] phofl commented on #36562
The error is in ``get_join_indexers``, which means that

``df.merge(pd.DataFrame({'some_col': s}), left_index=True, right_index=True)``

raises the same error.

[2020-09-23 19:46] Chaz6 commented on #32882
I just ran into this with Clang 10 on CentOS 7.

[code]

[2020-09-23 20:20] galipremsagar opened #36585 "BUG: `DataFrame.mean` fails but `Series.mean` works incase of pandas Nullable integer dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-23 20:32] jbrockmendel commented on #33940
I think this is at the heart of #33531

[2020-09-23 20:49] jbrockmendel commented on #23658
@datapythonista is this closed by #23924 or anything since then?

[2020-09-23 20:52] jbrockmendel commented on #26307
@datapythonista GL06 and GL07 look like they're checked for in code_checks; is this issue still relevant?

[2020-09-23 20:56] giuliobeseghi commented on #36575
Well, that's because the `dt` accessor always return a frequency when it's inferrable:

[code]

[2020-09-23 20:57] gsheni opened #36586 "BUG: CategoricalDtype does not support pd.NA"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-23 21:03] rluong003 commented on #36419
take

[2020-09-23 21:05] jbrockmendel commented on #31646
im with joris on this one.  id expect this to behave like `self == list(other)` (or just refuse to operate and raise)

[2020-09-23 21:06] jbrockmendel commented on #31746
Same underlying issue as #36076

[2020-09-23 21:11] sbrugman commented on #34309
This issue and the related PR have been open for a while, and it probably would benefit from an executive decision.

The discussion has focussed on the hacky way I extended the class as initial motivation. We can conclude that this is not supported now, and might never be in te future. Let us note that this is discouraged and that the classes are still experimental, which is hereby documented in t

[2020-09-23 21:13] simonjayhawkins commented on #31646
an iterator doesn't have a length. we just take values.

imo array-likes should behave consistently, so EA should behave like np.ndarray and pd.Series.

[2020-09-23 21:17] AlexanderCecile commented on #36158
This code should reproduce the issue while being somewhat clearer:

[code]

[2020-09-23 21:26] datapythonista commented on #23658
I would personally refactor and simplify those directories, but there hasn't been consensus, so closing.

[2020-09-23 21:26] #23658 closed

[2020-09-23 21:29] datapythonista commented on #26307
I think this can be closed, I think the only pending point should be implemented in numpydoc if there is interest.

[2020-09-23 21:29] #26307 closed

[2020-09-23 21:33] thehomebrewnerd opened #36587 "BUG: Cannot use pd.NA in a series with float dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-23 21:38] dimithras commented on #36158
@AlexanderCecile many thanks for your comment. Indeed it's more clear as it does not use tuples as cell values.
Edited the original post, yet featuring also the old sample as explanation refers to some of its parts.

[2020-09-23 21:38] hwalinga commented on #30681
Correct. Well I guess this can be closes then!

I also wouldn't think what a better name for those would be. I think only parser was a bit too generic term. Maybe ENGINE_PARSERS, AST_VISITOR?

ENGINES is probably good. What do you think?

[2020-09-23 21:55] samuelduchesne commented on #32860
Issue happens on __repr__ when number of lines is high enough and concat gets called. One workaround is to specify the attribute to function `f`

[code]

It seems that this is the only place where a function is called from `_constructor_expanddim`.

[2020-09-23 22:51] dsaxton commented on #36587
Nullable float dtypes don't exist yet but are being worked on, see https://github.com/pandas-dev/pandas/pull/34307.

[2020-09-23 23:06] jbrockmendel commented on #30681
These are pretty deeply internal, i wouldnt worry about it

[2020-09-23 23:26] dsaxton commented on #36585
The mean method hasn't been properly implemented yet for nullable ints, but there is this issue https://github.com/pandas-dev/pandas/issues/34754 and this PR https://github.com/pandas-dev/pandas/pull/34814 open addressing that.

cc @jorisvandenbossche

[2020-09-24 00:03] dimithras commented on #36158
Still, example with tuple cells demonstrates an interesting behavior. If code provided either by me or @AlexanderCecile is executed, **grouper** array of names is set as a MultiIndex. It fails than to check for **isnan** as isnan is not implemented for MultiIndex, makes sense. Possible solution - implementation of isnan for MultiIndex, but while it has not been implemented so far, seems like there

[2020-09-24 00:10] dimithras commented on #36158
take

[2020-09-24 00:18] jreback commented on #36562
the join should raise because of incompatible types

[2020-09-24 00:29] jreback commented on #36548
-1 on any change in this
it is so ingrained it can never be chained

and it actually a very simple clear rule

if you want label indexing then simply use .loc and you can get it

[2020-09-24 00:30] jreback commented on #36577
you should open the issue on pyinstaller

[2020-09-24 00:30] #36577 closed

[2020-09-24 00:32] agilevic commented on #21734
It appears that if there is at least one datetime value within DataFrame (or slice thereof), which has a non-zero time component, dates in not only that but also other date columns would print out with the time component.

[code]

Conversely, if no non-zero time is present (from omitting the trouble column), a short date format prints.

[code]

The same effect as the above when we omit the trouble

[2020-09-24 01:01] jbrockmendel commented on #36585
The problem isn't with IntegerArray.mean, its with `df.T` being all-object dtype.

[2020-09-24 01:13] jbrockmendel commented on #4668
all but one of the issues in the OP are now closed.  is this still needed?

[2020-09-24 01:21] jbrockmendel commented on #30410
+1, recently looked at it for the first time in a while and saw stuff about nose-based testing

[2020-09-24 01:22] jbrockmendel commented on #31039
the files mentioned in the OP are now gone.  closeable?

[2020-09-24 01:22] jbrockmendel commented on #31061
was this fixed by #30891?

[2020-09-24 01:26] jbrockmendel commented on #24728
i agree with @mroeschke; have used this pattern before myself, dont need it implemented in pandas

[2020-09-24 01:34] #34640 closed

[2020-09-24 01:35] GYHHAHA opened #36589 "BUG: nanoseconds argument for DateOffset results in wrong output"
[code]
This is related to `offset = timedelta(1)` in `_determine_offset` from `pd._libs.tslibs.offsets`.

[2020-09-24 01:39] GYHHAHA opened #36590 "BUG: add between DateOffsets raises error"
[code]
I think they should give the same output.
[code]
And the substraction works fine.

[2020-09-24 02:20] GYHHAHA opened #36592 "ENH: replace method for more time-related type"
Now we can only implement `replace` on `Timestamp`, I think `TimedeltaIndex`, `Timedelta`, `DatetimeIndex` and even Series with `datetime64[ns]` or `timedelta64[ns]` all need `replace` method (works like replace on Timestamp). Is there any plan to do this? (Maybe in pandas 2.0) Thanks!

[2020-09-24 02:23] jreback commented on #36592
pls show exactly what you mean

replace is a Timestamp method (inherited from datetime.datetime)

and a Series / index method

[2020-09-24 02:27] GYHHAHA commented on #36592
[code]
Here replace change the day to 5.
[code]
I want to get this after use `replace`.
[code]
Equal to `ts.apply(lambda x:x.replace(day=5))`.

[2020-09-24 02:29] jreback commented on #36592
try .dt.replace

[2020-09-24 02:32] GYHHAHA commented on #36592
[code]
this raises error

[2020-09-24 02:49] jreback commented on #36592
ok i suppose

though to be honest .replace is not very useful and has a lot of tz implications

much better to simply use offsets

[2020-09-24 02:54] jbrockmendel commented on #21020
This is, surprisingly, the "correct" behavior with `numeric_only=None`.  In `DataFrame._reduce` this goes through the `frame_apply` path and operates column-wise.  When it operates on that column it ignores the TypeError that is raised, and you end up getting an empty result back.

You'll get the expected also-raising if you do `df.median(numeric_only=False)`

xref #28900 on getting rid of this fo

[2020-09-24 03:01] GYHHAHA commented on #36592
I see.

But since in [here](https://github.com/pandas-dev/pandas/pull/36516#issuecomment-697657131)  DateOffset arguments that do not end in s is suggested to be deprecated in the future, how to do this (`.replace(day=5)`) by offset object?

We do this by `ts + pd.DateOffset(day=5)` formerly.

[2020-09-24 03:01] arw2019 commented on #36586
Thanks for the report!

This is actually the expected behavior, not a bug. We currently don't plan to change this (see discussion in #35162)

[2020-09-24 03:11] jbrockmendel commented on #27794
The underlying issue here is that `df.min(axis=1)` is going through a path that accesses `df.values` instead of operating block-wise.

[2020-09-24 03:11] arw2019 commented on #23362
The difference on 1.2 master is 10x, although it looks like that's because of a significant (10x) improvement in `PeriodArray._concat_same_type` that hasn't been matched by the speed-up in `pd.concat`:
[code]

[2020-09-24 03:27] arw2019 commented on #26032
Below are the results on 1.2 master. In terms of the difference booleans now outperform ints by ~4x for `Series.any` and ~25x for `Series.values.any`
[code]

[2020-09-24 04:28] arw2019 commented on #24683
On 1.2 master the OP throws at `set_index`:
[code]
This seems like the right behavior? xref #25567 for the fix

Re: tests I think this is covered here:
https://github.com/pandas-dev/pandas/blob/f34a56b4ddcf51a8a03a9d20f07ab039f64ff2e6/pandas/tests/indexing/test_indexing.py#L54-L90
so potentially this issue can be closed.

[2020-09-24 06:49] #35491 closed

[2020-09-24 06:50] GYHHAHA opened #36593 "BUG: Wrong order and ambiguous start point for some period values"
[code]
Though sorted, '1350-01-01 23:00' still locates the first.
[code]
And why this starts at 00:00, but the former one starts at 23:00?

Thanks!

[2020-09-24 07:40] phofl commented on #36562
@jreback

Substituting ``y`` with something like ``["a", "b"]`` does not raise in case of merge. As long as ``y`` has no duplicates everything is fine.

[2020-09-24 07:56] phofl commented on #36593
Hey, thanks for your report. This is actually a duplicate of #36294 and will be fixed with #36557

[2020-09-24 08:03] GYHHAHA commented on #36593
Hi, is this actually a duplication?

[code]
It seems to be normal though '1400' is also a pre epoch.

Thanks! @phofl

[2020-09-24 08:09] phofl commented on #36593
You are right, may be unrelated, but is fixed on master.

[2020-09-24 08:13] GDelevoye commented on #34809
Hello

First of all thank you for working on pandas it's a great project, I'm using it everyday.
I am not sure wether this is the best place to mention it or not, but I think it is

I realized another indirect problem raised by the GroupBy.apply inconsistent return type: The bar plotting

[code]

This is (I think ?) the most instinctive way to do grouped barplots.
* Sometimes, the plot produced wi

[2020-09-24 08:13] GYHHAHA commented on #36593
great

close

[2020-09-24 08:13] #36593 closed

[2020-09-24 08:43] datapythonista commented on #31039
Yes, this is quite outdated now, closing.

[2020-09-24 08:43] #31039 closed

[2020-09-24 09:17] giuliobeseghi opened #36594 "ENH: Expose type annotations declared in `_typing.py`"
I often use pandas type annotations found in the `_typing` module: `FrameOrSeries`, `FrameOrSeriesUnion`, ...

It feels a bit weird to import stuff from a private module though. Would it make sense to expose *some* annotations in a `typing.py` module?

#### API breaking implications

I wouldn't expect any, `typing.py` could be an additional module that imports from `_typing.py`

#### Describe alte

[2020-09-24 09:48] JoschD opened #36596 "BUG: select_dtypes(include="int") has different behaviour on windows and linux"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version (1.1.2) of pandas.

---

#### Problem description

Using `DataFrame.select_dtypes(include='int')` on a DataFrame that contains an integer column returns an empty dataframe in windows, yet selects the correct columns in linux (Ubuntu 20.04).

`DataFrame.select_dtypes(inc

[2020-09-24 09:49] datapythonista commented on #31061
I don't think that's the PR that fixed it, but I can't find that links anymore, so I guess it was fixed elsewhere. Closing.

[2020-09-24 09:49] #31061 closed

[2020-09-24 09:52] datapythonista commented on #31038
Probably worth closing this, this is partly outdated, and I don't think there is interest in merging `ci/` and `scripts/`

[2020-09-24 09:52] #31038 closed

[2020-09-24 09:56] datapythonista commented on #28409
I think the preference is to keep all I/O connectors in the pandas main repo. Closing.

[2020-09-24 09:56] #28409 closed

[2020-09-24 09:59] datapythonista commented on #24028
I think this was already implemented with the `PYTEST_WORKERS` variable: https://github.com/pandas-dev/pandas/blob/master/ci/run_tests.sh#L23

[2020-09-24 09:59] #24028 closed

[2020-09-24 10:23] MarcusJellinghaus commented on #33484
I think I have the same issue:

import pandas as pd
import numpy as np
pd.__version__  #1.1.2

s = pd.Series(['abc', None, pd.NA, 'def'], dtype="string")
print(s.dtype)  # string
t = pd.Series([None], dtype="string")
print(t.dtype)  # string
u = pd.Series([pd.NA], dtype="string")
print(u.dtype)  # string

v = pd.Series(['abc', None, pd.NA], dtype="string")
print(v.dtype)  # string
w = v.replace('a

[2020-09-24 10:42] simonjayhawkins opened #36597 "wheel build failing on MacPython.pandas-wheels"
opening a new issue for visibility.

https://github.com/pandas-dev/pandas/pull/36393#issuecomment-694299430

[2020-09-24 11:20] fmagin opened #36598 "ENH: Add Option to `.plot.scatter` to Label the Points based on Index name or supplied sequence"
#### Is your feature request related to a problem?

I just had to generate a scatter plot with labels for the points, and was surprised that there isn't an argument to `.plot.scatter` to allow this.

#### Describe the solution you'd like

An additional keyword argument to `df.plot.scatter` that adds labels to the points. This would be off by default because it is not helpful for plots with too man

[2020-09-24 11:28] TomAugspurger commented on #36587
Closing this since it's a duplicate of https://github.com/pandas-dev/pandas/issues/32265#issuecomment-627004139.

FYI @thehomebrewnerd, your "expected output" section isn't possible. `pd.NA` is not a float, so it can't be stored in a NumPy float64 array. That should raise.

[2020-09-24 11:28] #36587 closed

[2020-09-24 12:37] thehomebrewnerd commented on #36587
@TomAugspurger I guess I didn't search deep enough to see this was being worked in other issued. In any case, I understand your point. As long as there is afloat dtype of some sort that can handle `pd.NA`, analogous to `Int64`, that seems fine to me.

[2020-09-24 12:38] jreback opened #36601 "CI: move arm64 build to allow_failures for now"
https://travis-ci.org/github/pandas-dev/pandas/jobs/729859284

well at least we detected this early. ideally can investigate and fix, but for now need a green CI.

[2020-09-24 12:38] jreback commented on #36601
cc @pandas-dev/pandas-core

[2020-09-24 12:46] bashtage commented on #36601
I've seen similar issues in other projects when test detection takes too long, especially on a lower single-threaded performance ARM cpu. Detection doesn't output anything. It would be nice if there was a way to have a small progress par during detection.  I've also noticed that the output updating on non-AMD64 machines is "lumpy" as if it has a large buffer. This can also lead to failures since t

[2020-09-24 13:37] simonjayhawkins commented on #36596
Thanks @JoschD for the report. see also #29394

[2020-09-24 13:39] simonjayhawkins commented on #29394
closing as superseded by #36596

[2020-09-24 13:39] #29394 closed

[2020-09-24 13:45] jreback commented on #36601
sure - what is troubling is that this was working a few days ago with the same configuration

[2020-09-24 14:42] amy12xx commented on #26182
This looks fixed in 1.1.2

[code]

[2020-09-24 14:58] #36601 closed

[2020-09-24 14:59] Rik-de-Kort opened #36602 "BUG: Groupby-Apply with modifying dataframe and sorting overwrites group values"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-24 15:06] DavidKatz-il commented on #18199
Hi @jreback, I want to work on this PR.
The changes proposed in the [previous PR](https://github.com/pandas-dev/pandas/pull/18568) is not relevant anymore since `pandas` is using `fsspec`.
Do you have any suggestions on how to start?

[2020-09-24 15:14] phofl commented on #36589
Thanks for your report.

Should we raise in ``_determine_offset`` if the only item in ``kwds`` is ``nanoseconds/s``?

[2020-09-24 15:20] simonjayhawkins commented on #26182
Thanks @amy12xx would you like to submit a PR with a test? see https://github.com/pandas-dev/pandas/issues/26182#issuecomment-581137695

[2020-09-24 15:21] simonjayhawkins commented on #26182
can use code sample in https://github.com/pandas-dev/pandas/issues/26182#issuecomment-609093622 as validation test.

[2020-09-24 15:24] simonjayhawkins commented on #36597
https://github.com/MacPython/pandas-wheels/pull/101

[2020-09-24 15:26] GYHHAHA commented on #36589
Yes I think so. Users can use nano in Timedelta to handle this instead of DateOffset.

Should I open a PR? I'm not sure if other developers have other opinion.

[2020-09-24 15:47] Mark-BC opened #36603 "BUG: pd.cut fails when ordered is set to False and labels is set to a series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When a user wants to call pd.cut with a set of labels that includes duplicate values, they mu

[2020-09-24 15:58] #34506 closed

[2020-09-24 16:08] arw2019 commented on #36603
Thanks for the report!  Confirming that this happens on 1.2 master

<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : ae57e062bf895bf12c23027364265252eb7d6fcc
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-48-generic
Version          : #52-Ubuntu SMP Thu Sep 10 10:58:49

[2020-09-24 16:24] jbrockmendel commented on #36590
Having subtraction work while addition doesnt is definitely not good.  We can certainly make the exception here clearer.

In general, users should not expect DateOffset addition to work.

[2020-09-24 17:40] mroeschke commented on #36590
xref https://github.com/pandas-dev/pandas/issues/10902

[2020-09-24 18:40] simonjayhawkins commented on #35940
it appears that the underlying issue is https://github.com/numpy/numpy/issues/8352.

[code]

values is indeed passed as object dtype to `np.apply_along_axis`.

As a workaround, the function can force an object dtype result with

[code]

[2020-09-24 18:48] dsaxton opened #36608 "ERR: DataFrame.fillna with non-unique mapping"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description

DataFrame.fillna using a Series with a duplicated index is potentially ambiguous, but the filling works silently (apparently using the fir

[2020-09-24 19:57] #31476 closed

[2020-09-24 20:20] rhshadrach commented on #36602
Modifying a DataFrame in the midst of a computation can produce unpredictable results. You get the expected output if you change the function to:

[code]

[2020-09-24 21:22] AlexanderCecile commented on #36158
@dimithras Oops, I had forgotten something in my example, I just fixed it. The issue occurs with a regular function, not just a lambda.

[2020-09-24 22:24] jbrockmendel commented on #16277
OK to just fix or need a deprecation cycle?

- IntervalIndex raises on mismatch
- PeriodIndex casts to object on mismatch (not even trying to cast strings, which is inconsistent with other setitem-like methods)
- DTI/TDI cast to object when they see a str (not even trying to cast), otherwise raises on mismatch
- CategoricalIndex raises on mismatch
- NumericIndex if anything try _too_ hard to cast,

[2020-09-24 22:58] erfannariman commented on #36608
Is this expected behaviour? Should it not raise when we try to fillna on non unique labels? Non-intuitive

[2020-09-24 23:42] #35940 closed

[2020-09-24 23:47] dimithras commented on #36158
I finally found what was causing this. Initial sample came in handy to write tests with desired and actual output. Your example lacks desired output though, yet I like it for cleanliness and no misleading with tuple cells. Wish it could be adjusted for the tests.

[2020-09-24 23:48] asishm commented on #34303
I'm unable to reproduce this @tosingithub using the dataframe you have defined there.
Would you be able to share the actual csv?

[2020-09-25 00:08] asishm commented on #34180
@charlesdong1991 It seems this is currently failing on master with `ValueError: ('Lengths must match to compare', (3,), (2,))`

[2020-09-25 00:15] feryah opened #36614 "QST: Why have my data values been replaced by “NaN” after using qcut?"
- [ ] I have searched the [[pandas] cut, qcut](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ https://stackoverflow.com/questions/63929143/why-have-my-data-values-been-replaced-by-nan-after-using-qcut] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like

[2020-09-25 00:31] #33671 closed

[2020-09-25 00:37] jreback commented on #18199
i am not sure what is the appropriate library to read from hdfs
is now a days - so need to figure that out. note that pyarrow i believe does support this - so that's an option as well

otherwise this would be similar to how we implement other readers eg like gcs

[2020-09-25 01:20] spencerkclark opened #36615 "BUG: OutOfBoundsTimedelta not raised for out-of-bounds Timedelta"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-25 01:51] dsaxton opened #36617 "DOC: Replace single with double backticks in RST files"
https://github.com/pandas-dev/pandas/pull/36591 added a pre-commit hook for flagging the use of single instead of double backticks for code blocks in restructured text. This is a pretty common mistake in the docs so a lot of files have to be skipped, but we should instead remove these exclusions and fix the relevant files.

Note that this might mean _removing_ rather than adding backticks if the t

[2020-09-25 01:52] #36603 closed

[2020-09-25 01:56] dsaxton commented on #36608
I'm not actually sure, it's at least undocumented how it should behave. I think you could argue it should be an error, but that could potentially break code somewhere and may not be worth it.

[2020-09-25 02:03] arw2019 opened #36620 "BUG: Grouper should have a dropna attribute"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

xref #35612

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Now that we support a `dropna` argument to `DataFrameGroupBy` and `SeriesGroupBy

[2020-09-25 02:07] asishm opened #36621 "BUG: isin - dtype conversions (Timestamp vs ints)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

related: #34125 : could be closed in favor of that if it is too much of a duplicate.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Problem

[2020-09-25 02:49] dsaxton commented on #36614
@feryah The code sample seems to raise an error. Can you try to create one that's as small as possible while showing the issue?

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-25 03:23] hardikpnsp commented on #18000
It seems like the issue has been open for quite a while. I looked into the `take` benchmark, It is still using boolean values as `indexer`. Does not seem like anyone is working on the issue, I will quickly fix that.

[2020-09-25 03:23] hardikpnsp commented on #18000
take

[2020-09-25 03:29] amy12xx commented on #26182
Sure, I can do that.

[2020-09-25 07:17] MBrouns commented on #32553
/take

[2020-09-25 07:19] MBrouns commented on #32553
take

[2020-09-25 07:31] satrio-hw commented on #36617
Hi @dsaxton , I would like take this issue, can I?

[2020-09-25 07:36] #30681 closed

[2020-09-25 07:47] kaptajnen commented on #36617
I have added a PR to fix a few of the files. There are still more that needs to be fixed in case anyone else wants to help.

[2020-09-25 08:52] satrio-hw commented on #36617
Than I'll take :

- doc/source/development/contributing.rst
- doc/source/development/contributing_docstring.rst
- doc/source/development/extending.rst
- doc/source/ecosystem.rst
- doc/source/getting_started/install.rst
- doc/source/getting_started/comparison/comparison_with_sql.rst
- doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
- doc/source/getting_started/intro_tutorials

[2020-09-25 09:00] simonjayhawkins commented on #35897
reopened as #36582 reverted

[2020-09-25 09:21] Shubhamsm commented on #36617
if some files still left to fix I've made a PR #36632

[2020-09-25 09:51] Rik-de-Kort commented on #36602
Thanks for the quick response. Would definitely be worth generating a user warning for this.

[2020-09-25 09:53] simonjayhawkins commented on #36186
@jreback we are testing 1.1.3 against 3.9. should we be building 3.9 wheels for the release?

[2020-09-25 10:02] simonjayhawkins commented on #36186
arbitrary scheduled date of September 29, 2020 for release.

There are a few more PRs that imo are very close. I think a release on Monday/Tuesday is viable. And then start 1.1.4. I think there are enough issues outstanding to plan another patch release rather than delaying 1.1.3 to catch more fixes.

wheels are currently building https://github.com/MacPython/pandas-wheels/pull/100 and pip test an

[2020-09-25 10:15] gerritholl commented on #36541
I just ran into this.  It works fine with pandas 1.0, this bug was introduced somewhere between 1.0 and 1.1.

[2020-09-25 10:48] feryah commented on #36614
Hello, sorry, I've just modified the code. It doesn't raise the error anymore.
Thank you in advance for all your help.

[2020-09-25 10:52] jreback commented on #36186
yeah 3.9 wheels are good

[2020-09-25 11:05] DavidKatz-il commented on #18199
I saw that `pandas` is now using `fsspec`, they are using `pyarrow` for handling `hdfs` files.
How should we test it? `dask` are using a [Docker](https://github.com/dask/dask/tree/master/continuous_integration/hdfs) for testing `hdfs`.

[2020-09-25 11:12] scheung38 commented on #21118
How do we know the generated CSV is UTF-8 or UTF-16?

[2020-09-25 11:25] simonjayhawkins opened #36634 "ENH: infer freq in timedelta_range"
xref #36582, #35897, #36595, #32377, #31195

there may be cases where a frequency should not be inferred by timedelta_range due to rounding issues

e.g. `pd.timedelta_range('0s','1s', periods=31)`

The docs https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.timedelta_range.html begin 'Return a fixed frequency TimedeltaIndex...' so having None (no inferred frequency) maybe not desirable

[2020-09-25 11:27] simonjayhawkins commented on #36634
for instance should pd.timedelta_range('0s','1s', periods=31) perhaps raise with a message along the lines 'ValueError: cannot infer a fixed frequency from start, end and periods due to rounding errors` or is a fractional freq a feasible option?

[2020-09-25 11:28] simonjayhawkins commented on #36634
maybe could only infer frequency if no rounding errors...

[code]

[2020-09-25 11:44] TomAugspurger commented on #35407
I'd recommend thinking about why you need to expand by a single row. Can those updates be batched before adding to the DataFrame?

If you know the label you want to set it at, then you can use `.loc[key] = ...` to expand the index without having to create an intermediate. Otherwise you'll need to create a DataFrame and use concat.

[2020-09-25 11:54] simonjayhawkins commented on #36597
MacPython/pandas-wheels#101 merged so closing. will re-open if nightly continues to fail or open another issue for any others.

[2020-09-25 11:54] #36597 closed

[2020-09-25 11:55] erfannariman commented on #35299
It's not really clear for me if we have a consensus how to move forward with this ENH. I would have time to finish this PR, or close it if the change is undesirable.

[2020-09-25 12:23] jreback commented on #18199
tests can be on a similar manner to here: https://github.com/pandas-dev/pandas/blob/master/pandas/tests/io/test_gcs.py

[2020-09-25 12:36] wesleyboelrijk commented on #32431
take

[2020-09-25 12:49] dsaxton commented on #36617
Sure, feel free to simply open a PR (which it looks like you've done)

[2020-09-25 13:13] dsaxton commented on #36614
No problem @feryah

[2020-09-25 13:17] feryah commented on #36614
Hi, can you re open the issue please? I still need help for my original question.

[2020-09-25 13:22] dsaxton commented on #36614
Sorry I thought you were saying it was resolved (but the issue is actually about NaN values not the error), reopening

[2020-09-25 13:48] jorisvandenbossche opened #36636 "PERF: large perf regression in DataFrame repr"
On master:

[code]

while on released version this takes around 20ms

cc @ivanovmg I suppose this is from https://github.com/pandas-dev/pandas/pull/36434

[2020-09-25 14:23] ivanovmg commented on #36636
@jorisvandenbossche, good catch. I'm on my way to fix it.

[2020-09-25 14:29] feryah commented on #36614
No pb. Thank you.
Indeed, the original code is bigger than this one and everything in this one is relevant regarding my question.

[2020-09-25 15:47] arw2019 opened #36637 "CI: pd.core.reshape.pivot.crosstab doctest is failing on unrelated PRs"
This doctest is failing on a few unrelated PR's:

[code]

[2020-09-25 16:13] markmbaum commented on #24766
Hi, wondering if this issue was ever resolved? In my case, I have a `<ul>` inside the HTML table and all the elements of each list are squished together after the table is parsed by `read_html`.

[2020-09-25 16:15] ivanovmg commented on #36636
Before refactoring:
[code]

After refactoring:
[code]

After this fix:
[code]

[2020-09-25 16:30] tpllaha commented on #14418
This seems to still be happening (in version `1.1.2` & python `3.8.5`), but only in case a file in binary mode is passed AND the encoding parameter is provided (even if it has the default `utf-8` value.

Script to reproduce:
[code]

prints:

[code]

[2020-09-25 18:00] jbrockmendel commented on #36634
Not with the current implementation with TDI backed by i8.

Could warn in the cases with rounding errors.

Note: this will also affect date_range.

[2020-09-25 18:06] simonjayhawkins commented on #15631
The fix may have been #30501, which may need to be reverted. The tests added in #30501 may need to be removed and this issue reopened.

[2020-09-25 18:10] jbrockmendel commented on #28900
Thinking about how to actually implement this deprecation, it would look something like:

[code]

and then I guess after that is enforced in 2.0, we then do another deprecation to get rid of the kwarg altogether?

[2020-09-25 18:27] dsaxton opened #36642 "CI: Deduplicate linting checks"
https://github.com/pandas-dev/pandas/pull/36471 added some linting checks (e.g., black, flake8) to a pre-commit workflow which are duplicated in https://github.com/pandas-dev/pandas/blob/master/ci/code_checks.sh. Once we feel good that the pre-commit checks are right we should go ahead and delete them from `code_checks.sh`.

cc @MarcoGorelli

[2020-09-25 18:34] jbrockmendel commented on #24173
@datapythonista id like to update this table.  is there a command i can run to do the appropriate checks?

[2020-09-25 19:59] jreback commented on #28900
#don't we normally just change the default to None; then can easily tell if it's user changed

and 2.0 just drop it entirely

[2020-09-25 20:07] clintmod commented on #33636
It's worth noting that this works pretty well with `pytest` and `snapshottest`  a data frame:
[code]

[2020-09-25 20:13] jbrockmendel commented on #28900
numeric_only=None _is_ the default, and its the most problem-causing of the options (True, False, None)

[2020-09-25 20:22] jreback commented on #28900
ahh then can we do lib.no_sefault?

we want to warn if it's explicitly passed

[2020-09-25 20:25] jbrockmendel commented on #28900
Yes, but the behavior is going to change even if it is not explicitly passed, so we need to warn in that case too.

[2020-09-25 20:54] jorisvandenbossche commented on #28900
Personally, I am not yet fully convinced we actually *want* to deprecate this. Automatically dropping columns that are not relevant for the aggregation is also quite convenient, and I am sure a *ton* of code relies on this behaviour.
(and I have the impression others also are not yet convinced in the comments above)

But that doesn't mean we can't try to improve the complexity of the situation. Fo

[2020-09-25 21:56] jbrockmendel commented on #28900
AFAICT there are two options to achieve internally consistent behavior:

1) Remove numeric_only altogether (this issue)
2) Make DataFrame._reduce
  a) always operate block-wise (column-wise would be fine too)
  b) operate column-wise for object-dtype
  c) even then, axis=1 is a PITA

My main preference is to fix as much as possible of [these](https://github.com/pandas-dev/pandas/issues?q=is%3Aopen

[2020-09-25 22:22] fokoid commented on #23452
take

[2020-09-25 22:30] jbrockmendel commented on #35481
@WillAyd is this actionable/closeable?

[2020-09-25 22:30] jbrockmendel commented on #33239
is this resolved/do we have a gameplan?

[2020-09-25 22:36] WillAyd commented on #33239
We make an exception for PY38 in the Setup on this platform. That's probably the best we can get for now

[2020-09-25 22:36] #33239 closed

[2020-09-25 22:37] jbrockmendel commented on #32608
Another option is to enable the case that currently raises NotImplementedError (i.e. `frame.add(series, fill_value=foo)`)

One way to do that would be to tile the series to the same shape as the frame and then use the frame path.  Easy+cheap for non-EA dtypes.  Would be the same for EA with 2D EAs.  For EAs we can cobble together a non-copying solution for axis=1, but that doesnt work for axis=0.

[2020-09-25 22:38] jbrockmendel commented on #31160
This comes up often enough i wouldn't mind changing our runtime-pinning to something like:

[code]

[2020-09-25 22:43] jbrockmendel commented on #26792
closing a mostly-duplicate of #26766.  if you want to take this back up, let's put the checkboxes in a sublist over there.

[2020-09-25 22:43] #26792 closed

[2020-09-25 22:45] jbrockmendel commented on #32785
Is this actionable/closeable?  I think I've seen you use typing.cast, and I'm pretty happy deferring to you on typing-related issues.

[2020-09-25 22:46] jbrockmendel commented on #27096
Has this been addressed?  IIRC we did quite some refactoring of excel tests in late 2019

[2020-09-25 23:09] sergei3000 commented on #18199
This is how I managed to read from hdfs:

[code]

[2020-09-25 23:41] fokoid commented on #12457
Found this issue while looking for things to do for Hacktoberfest. As of #32202 the behavior has changed. Passing a list of lists for columns parameter no longer raises an exception at all, but does behave differently to a list of tuples:
* list of tuples: tuples interpreted as multi-index values
* list of lists: each inner list interpreted as the values of one level of the multi-index

Tests were

[2020-09-26 00:31] alimcmaster1 commented on #35209
Thanks for the report - is this a different issue to the above, do you have a repo?

[2020-09-26 01:16] huyaox opened #36651 "QST: Error importing pandas"
hello!
when I import any module,this  is a misstake show"No module named'pandas._libs.join'

why?and how to resoled this?

thanks!

[2020-09-26 01:17] #36620 closed

[2020-09-26 01:19] #36529 closed

[2020-09-26 01:22] #36294 closed

[2020-09-26 01:25] #35376 closed

[2020-09-26 01:31] #35897 closed

[2020-09-26 02:40] dimithras commented on #36651
Have you updated pandas recently? Try a fresh install:
[code]
or
[code]

[2020-09-26 02:41] rhshadrach commented on #11810
This is fixed on master, just needs tests.

[2020-09-26 02:43] jbrockmendel commented on #29487
I think this is Technically Correct.  We're just following the (admittedly weird) behavior of `np.bool_`

[2020-09-26 02:46] rhshadrach commented on #12652
I'm seeing the expected output on master. That said, I don't think tests should be added for this. One should not mutate in an apply in the first place.

[2020-09-26 02:52] jreback commented on #12652
note that we do have a couple tests that lock down this behavior

when we want to change it - these kinds of tests are helpful

[2020-09-26 03:27] jbrockmendel commented on #24109
So in nanops.nanmax we default to masking NA values with -inf (actually in _get_values).  For the first case with a `None` that might be reasonable, but in the second case with a `NaT` it is for sure fishy.  Sufficient to get the desired behavior (not sure if we should do this yet) is to add inside _get_values:

[code]

[2020-09-26 03:39] jbrockmendel commented on #3689
`df.T` is _all_ object dtype, so you would be dropping everything.  Is that what you have in mind?

On the other hand, `df.mean(axis=0)` works as we'd expect.

[2020-09-26 06:00] huyaox commented on #36651
ok

[2020-09-26 07:03] jorisvandenbossche commented on #14418
@tpllaha this is a very old issue. Can you open a new issue with your reproducible example?

[2020-09-26 07:11] #36636 closed

[2020-09-26 08:08] tosingithub commented on #34303
Thanks for your attention. CSV gladly attached.

________________________________
From: Asish Mahapatra <notifications@github.com>
Sent: Friday, September 25, 2020 1:48 AM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: tosingithub <adewumi_tosin@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [pandas-dev/pandas] BUG: read_csv() encoding latin1 gives KeyError on 1st column in

[2020-09-26 08:10] tosingithub commented on #34303
[dataset.zip](https://github.com/pandas-dev/pandas/files/5286383/dataset.zip)

[2020-09-26 08:11] jorisvandenbossche commented on #32860
@samuelduchesne I would say that is a bug: we generally should not assume that `_constructor_expanddim` is a class with such a method, but only assume it is a general callable.

It seems this was introduced as part of trying to avoid a DataFrame import in https://github.com/pandas-dev/pandas/pull/34837. But so a PR to remove this usage of `._constructor_expanddim._get_axis_number` is certainly wel

[2020-09-26 09:34] MarcoGorelli commented on #36651
Hi @huyaox - Can you show your full output please?

[2020-09-26 10:13] simonjayhawkins commented on #32785
We have has a few regressions caused by using asserts. This is a double edge sword, since we at least identify where our assumptions on types are incorrect.

This was a placeholder for discussion, to avoid the discussion in separate PRs.

but OK with closing for now.

[2020-09-26 10:13] #32785 closed

[2020-09-26 10:31] #35958 closed

[2020-09-26 11:09] simonjayhawkins opened #36662 "test_pivot_empty on windows py_3.8_32 and linux py_3.8_32 on MacPython.pandas-wheels nightly failing"
https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=43395&view=logs&j=bb1c2637-64c6-57bd-9ea6-93823b2df951

windows py_3.8_32

[code]

linux py_3.8_32
[code]

test_c_parser_only is a seperate issue xref #36429

[2020-09-26 11:33] MarcoGorelli commented on #34968
closed by #34979

[2020-09-26 11:33] #34968 closed

[2020-09-26 12:17] miguelfdag commented on #35209
It could very well be the same bug I experienced

On Sat, 26 Sep 2020 at 02:31, Ali McMaster <notifications@github.com> wrote:

[2020-09-26 12:53] AlbertoEAF opened #36665 "BUG: Join changes dtypes"
Hello,

#### Problem description

I have two pandas dataframes that I want to join using pandas (1.1.12).

However, when I join them, "alerts", in the table B gets its type changed from int64 to float64 ("alerts_cards"):

[code]
I usually then remove the join key ("threshold_step_cards"), but now I'm noticing it became a float as well.

The join key column has the same entries in both tables (all

[2020-09-26 12:54] rhshadrach commented on #34532
There is a consensus that there is no issue and no more conversation.

[2020-09-26 12:54] #34532 closed

[2020-09-26 13:20] MarcoGorelli opened #36666 "DEPR deprecate pd.to_timedelta('1 M') and pd.to_timedelta('1 Y')"
We have that `pd.to_timedelta(1, unit='M')` and `pd.to_timedelta(1, unit='Y')` are deprecated, and so so should these (xref https://github.com/pandas-dev/pandas/pull/34979#issuecomment-699494617 ).

Once deprecated, the note added in #34979 should be removed

[2020-09-26 13:26] AlbertoEAF commented on #36665
Update:

I had to do:
[code]

Otherwise it would use the index even though I set `on` as the join column.

I'm reading the docs and it says this about join's `on` parameter:
`on: str, list of str, or array-like, optional
Column or index level name(s) in the caller to join on the index in other, otherwise joins index-on-index.`

Meaning there's no way to join by column names on both sides? One must

[2020-09-26 13:55] rhshadrach commented on #12652
Alright - I'll mark as such.

[2020-09-26 14:03] rhshadrach commented on #36479
Thanks @phofl - agree. When you look at `counts.index.codes` before and after pickling, you get `[[0, 1], [1, 0]]` and `[[0, -1], [-1, 0]]` respectively. Closing as duplicate.

[2020-09-26 14:03] #36479 closed

[2020-09-26 14:12] rhshadrach commented on #36302
This is also inconsistent with DataFrame, e.g.

[code]

raises `KeyError: ('b', )`

[2020-09-26 14:45] lubianat commented on #34205
+1 here, I was expecting the behavior described by @nathancarter

[2020-09-26 14:50] dimithras commented on #36665
Could you please provide a code sample defining A and B? I tried reproducing the issue yet I get expected results.
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : d9fff2792bf16178d4e450fe7384244e50635733
python           : 3.7.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.1

[2020-09-26 14:56] dimithras commented on #36665
Tried it also on **pandas 1.1.2**, getting expected output.

[2020-09-26 15:17] rhshadrach commented on #36665
@AlbertoEAF It looks like you're wanting to use `merge` instead of `join`. pandas `join` is specifically for joining on other's index, never a column. When you specify the `on` argument, you are joining that column of the caller to the __index__ of other.

Likely this created missing values (NaN), which coerced the dtype to being a float.

[2020-09-26 15:36] simonjayhawkins commented on #35869
@mroeschke are you still planning to work on this?

[2020-09-26 15:36] #34093 closed

[2020-09-26 15:57] jbrockmendel commented on #17235
`df['s2']` works i think bc that dispatches to the TimedeltaArray implementation, which im pretty sure the dataframe version does not do (for either axis=0 or axis=1)

From poking at this, this can be fixed by removing from nanops.nansum

[code]

and adjusting `nanops._wrap_results` to not expect float64.  The trouble is that doing so disables overflow checking.

[2020-09-26 16:01] AlbertoEAF commented on #36665
Hello,

There are no NaN's, however as extra-processing for normalization of the output shape I do add extra rows to fill all the integers in a range (let's say 100) and then fill the table with the statistics for all those points. This is that pre-processing step at which the indexes go out of sync:

[code]
This "extend thresholds" call results in repeated indices (don't know how thats possible):

[2020-09-26 16:16] rhshadrach commented on #36665
After the call to `concat` within `extend_table_to_all_thresholds`, there are null values within the `alerts` column of `df`. This coerces the dtype to be float. Filling in these values with `0`, they still remain floats. You can use `.astype(int)` after the fillna to make them integers again.

[2020-09-26 16:25] AlbertoEAF commented on #36665
You're right @rhshadrach, my bad, but in my real code I actually generate those columns after not before and the only way it works is with the indices.
Even so, when I make the "dummy" example similar to my code I don't see the bug here and I cannot send you the real code for it needs a lot of data and it's a huge script. Well I guess we can close this as I'm not being able to reproduce it here wi

[2020-09-26 16:32] rhshadrach commented on #36665
It looks like the index `[0, 1, 0, 1, 2, ...]` is from using `concat`. This will stack the two DataFrames on top of either other, indices and all. The first `[0, 1]` is from `A`, the rest of the indices are from `missing_threshold_steps`.

[2020-09-26 16:33] rhshadrach commented on #36665
Closing for now. If you can reproduce the issue, reply here and we can reopen.

[2020-09-26 16:33] #36665 closed

[2020-09-26 16:36] datapythonista commented on #24173
I think we are already calling `sphinx-build` with `-W`, I think we fixed the warnings in the docs a long time ago (#26852 seems to be the PR).

For pep8 in the docs, the command is `flake8-rst`, which seems to be called without exclusions: https://github.com/pandas-dev/pandas/blob/master/ci/code_checks.sh#L80

So, I guess the whole table should be set to OK, and we can close this issue. I see all

[2020-09-26 16:36] #24173 closed

[2020-09-26 16:39] rhshadrach commented on #36642
I often like to run some of these checks via `code_checks.sh` even before committing, typically black, isort, and flake8. The first two aren't an issue for me since they don't require command line options. However flake8 requires a lot, is there an easy way to manually run flake8 without doing it via code_checks?

[2020-09-26 16:46] rhshadrach commented on #36642
I should have googled first... `pre-commit run --all-files` works great.

[2020-09-26 17:18] Ayushihelloworld commented on #36411
take

[2020-09-26 17:21] Ayushihelloworld commented on #32550
take

[2020-09-26 17:23] Ayushihelloworld commented on #30232
Hello I want to work on this. Is this issue still open?

[2020-09-26 17:23] Ayushihelloworld commented on #30232
take

[2020-09-26 17:27] simonjayhawkins commented on #36003
can confirm

first bad commit: [4edcc5541ff3f6470f5e3c083cb83136119e6f0c] CLN: Make Series._values match Index._values (#31182)

https://github.com/simonjayhawkins/pandas/runs/1170442784?check_suite_focus=true

[2020-09-26 18:12] DavidKatz-il commented on #18199
`pandas` is using `fsspec` for reading `s3` / `gcs` files, they also support reading for `hdfs` with `pyarrow`.

[2020-09-26 18:43] mroeschke commented on #35869
@simonjayhawkins yes but unsure if I'll be able to get to this by 1.1.3. Need to clean up the `count` code path first to make this easier to debug xref https://github.com/pandas-dev/pandas/pull/36649

[2020-09-26 19:39] simonjayhawkins commented on #35869
not a problem. can move to 1.1.4

@mroeschke Thanks for the update.

[2020-09-26 19:53] simonjayhawkins commented on #35858
Thanks @matthewgilbert for the report.

just to be explicit about the changes in behaviour for other readers.

[code]

[code]

[2020-09-26 20:05] 10David15 commented on #32550
Hello, would like to take some of this work. Which folders still need work?

[2020-09-26 21:35] jbrockmendel commented on #19211
This is tested by tests.arithmetic.test_datetime64.test_dt64arr_add_sub_offset_array, among others.  Closing.

[2020-09-26 21:35] #19211 closed

[2020-09-26 22:19] jbrockmendel commented on #8995
AFAICT this works as expected.  @jankatins can you confirm if this is still an issue?

[2020-09-26 22:50] #36617 closed

[2020-09-26 22:58] jbrockmendel commented on #29417
closed by #35578

[2020-09-26 22:58] #29417 closed

[2020-09-26 22:58] sergei3000 commented on #18199
Here you can find some code samples of using `pyarrow` written by Wes McKinney.

https://wesmckinney.com/blog/python-hdfs-interfaces/

[2020-09-26 22:58] jbrockmendel commented on #26929
closed by #35578

[2020-09-26 22:58] #26929 closed

[2020-09-26 22:58] jbrockmendel commented on #17441
closed by #35578

[2020-09-26 22:58] #17441 closed

[2020-09-26 22:59] jbrockmendel commented on #10539
closed by #35578

[2020-09-26 22:59] #10539 closed

[2020-09-26 23:18] jbrockmendel commented on #19804
This got fixed a ways back

[2020-09-26 23:18] #19804 closed

[2020-09-26 23:21] jbrockmendel commented on #28545
Update on this?  Has maintaining Travis been burdensome?

[2020-09-27 00:02] jbrockmendel commented on #19225
i think we're settled on a long-term solution of eventually supporting `timedelta64[non-ns]`, so probably can close this

[2020-09-27 00:14] jreback commented on #28545
azure has better visibility on individual builds and we have more capacity but this is not so burdensome anymore

also travis does things that are hard in azure: databases, 3.9

so ok to close

[2020-09-27 01:22] darindillon commented on #35407
Disagree. Appending a single row is useful functionality and very common. Yes, we understand its inefficient; but as TomAugspurger himself said, this is the 10th most commonly referenced page on the help, so clearly lots of people have this use case of adding a single row to the end.  We can tell ourselves we're removing the method to "encourage good design" but people still want this functionalit

[2020-09-27 01:53] LeviMatus commented on #32316
take

[2020-09-27 04:47] purusharthmalik commented on #36308
take

[2020-09-27 06:54] simonjayhawkins commented on #28545
travis-ci.org will be officially closed down completely on December 31st, 2020 https://docs.travis-ci.com/user/migrate/open-source-repository-migration see https://github.com/MacPython/pandas-wheels/pull/99#issuecomment-692193092

[2020-09-27 08:32] attack68 opened #36680 "ENH: formatting JSON output"
Currently there are ways of performing a ``to_json()`` method with the desired output formatting but the procedure is a bit cumbersome:

[code]

    "B":{"0":2},
     "C":{"0":"2.0"},
     "D":{"0":2.0},
     "E":{"0":1.99}}

The ``Styler`` has its own formatter which can make things a little more aesthetic, and has the advantage of not affecting the underlying data:

[code]

    <tr>
         <th

[2020-09-27 08:50] nullpointxr commented on #15893
Can confirm, `from pandas.plotting import autocorrelation_plot` worked for me too.

[2020-09-27 09:39] krajatcl commented on #30999
I am new to this so will start with this:

- pandas/tests/tseries/offsets/test_ticks.py

[2020-09-27 11:52] #8995 closed

[2020-09-27 12:13] jreback commented on #36680
pls show why / how this is actually useful in the real world

adding api is almost a -1 unless a really good reason

[2020-09-27 12:25] OlehKSS commented on #36583
Hi, does anyone work on this issue? I want to contribute

[2020-09-27 12:27] jreback commented on #28545
how is this relevant @simonjayhawkins

travis ci already has access to all of the repos - has been the case since the very beginning and we can migrate trivially

i am not sure why numpy is having an issue

this issue itself is about moving off of travis - which we cannot do as i outlines in a prior comment, nor is there a good reason

[2020-09-27 12:48] phofl commented on #36583
Hi, not as far as I now. Please check the discussion in the PR mentioned above and the related issues before starting

[2020-09-27 13:37] krassowski commented on #33025
One thing that I managed to get working is creating a custom object and then telling static type checker that it should be considered to be of a different type. For example:

[code]

can be replaced with:

[code]

which results in:

![Screenshot from 2020-09-27 14-29-16](https://user-images.githubusercontent.com/5832902/94366144-eb3ef700-00cd-11eb-8f9c-f680b06009b3.png)

I then move types to a dif

[2020-09-27 14:10] simonjayhawkins commented on #28545
right. closing again.

[2020-09-27 14:10] #28545 closed

[2020-09-27 15:13] MananKGarg commented on #36411
take

[2020-09-27 15:35] OlehKSS commented on #36583
take

[2020-09-27 15:59] OlehKSS commented on #36583
As far as I see, this bug is due to the fact that in both cases the explicitly provided values of separators are equal/identical to their default values. When pandas compares whether a separator/delimiter value was given, it checks it against these default values.  No `ValueError` was raised in both statements because no default value was changed as if no separator was provided explicitly.

One po

[2020-09-27 18:01] dsaxton commented on #13653
Looks fixed in master, could use a test if there isn't one already:
[code]

[2020-09-27 18:40] phofl commented on #36583
None won‘t work. Please read the discussions in #36381 and #36560. The Solution is already discussed there

[2020-09-27 19:27] Dr-Irv commented on #32136
I think this is an issue with respect to the origin of the time of the grouper, and that was not clear with pandas 1.0.1 (used in your report here).  Starting with pandas 1.1, the parameter `origin` has been added to `pd.Grouper`.  If I take your example and use `origin="start"`, then at least for the first 2 cases (`60ms` and `61ms`), I get the expected results.

@mkowen1 Can you do this again us

[2020-09-27 19:39] jbrockmendel commented on #23598
I think this is the main reason for Index.is_all_dates, so this would also allow #27744

[2020-09-27 20:21] fangchenli commented on #36662
xref #36579

[2020-09-27 20:26] Dr-Irv commented on #32334
It seems that this works fine:
[code]
But the following does not
[code]

PR welcome

[2020-09-27 20:33] Dr-Irv commented on #32334
Possible fix is to do 2 things:

1. In `indexes/base.py` add a check on the type of `ascending`, and if a list and length 1, convert to a `True`/`False` value.
2. If a list and length greater than 1, raise an Exception

[2020-09-27 20:38] AstroMatt opened #36688 "ENH: Change Pandas User-Agent and add possibility to set custom http_headers to pd.read_* functions"
Currently Pandas makes HTTP requests using "Python-urllib/3.8" as a User Agent.
This prevents from downloading some resources and static files from various places.
What if, Pandas would make requests using "Pandas/1.1.0" headers instead?
There should be possibility to add custom headers too (`auth`, `csrf tokens`, `api versions` and so on).

Use Case:

I am writing a book on Pandas:
- https://pyth

[2020-09-27 20:49] jreback commented on #36688
we have had this request before

pls search for these issues

[2020-09-27 21:49] jbrockmendel commented on #31184
The docstring no longer says "nonzero".  closing.

[2020-09-27 21:49] #31184 closed

[2020-09-27 22:08] jbrockmendel commented on #24381
This should raise TypeError, no?

[2020-09-27 22:17] galipremsagar opened #36692 "BUG: Different behaviour with respect to `Series.all` docs when `NA` values are present"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-27 22:19] dsaxton commented on #22023
Apparently the bug also exists for addition:

[code]

[2020-09-27 22:34] AstroMatt commented on #36688
Related to https://github.com/pandas-dev/pandas/issues/10526

[2020-09-27 23:55] rluong003 commented on #36419
@MarcoGorelli any pointers on how to do this?
I created a dataframe that goes from 1-10.
I used the render() function to take the HTML of the dataframe and recreate the table in JSFiddle.
I tried adding the CSS property in JSFiddle :

border-bottom: 20px solid white;

and this seemed to create the spacing I wanted.

However, when I tried to inject this CSS property into the css_bar() function in t

[2020-09-28 01:30] #23571 closed

[2020-09-28 02:11] ant1j opened #36698 "Categorical in GroupBy with aggregations raise error under specific conditions"
[code]
Outputs a: `ValueError: Length of values (5) does not match length of index (6)`

#### Full traceback
<details>

[code]

</details>

#### Problem description

After quite some time trying to narrow down the origin of a `ValueError: Length of values (N) does not match length of index (M)`, it seems to occur, only when these conditions are met:
* `groupby()` done using a categorical variables

[2020-09-28 02:36] rohitkg98 commented on #36594
Creating a typing module sounds good, I can take it up and make a PR

[2020-09-28 02:45] jreback commented on #36594
we purposely made _typing.py private

at some point we could have a public typing which would import some of these

[2020-09-28 03:17] heyitskevin commented on #32334
take

[2020-09-28 09:43] simonjayhawkins commented on #36186
i've had a brief look at what is involved in building 3.9 wheels.

Numpy is building wheels for linux see https://github.com/MacPython/numpy-wheels/pull/99

@jreback Is not having wheels a blocker?

[2020-09-28 09:52] OlehKSS commented on #36583
Based on those discussions I see that you use [lib.no_default](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/lib.pyx#L2332) as a sentinel object. I'll apply it here

[2020-09-28 10:26] eeroel commented on #35209
@alimcmaster1 I suspect the above issue is a special case of a more general bug. I created a unit test here: https://github.com/eeroel/pandas/tree/s3_changing_file_bug. I was able to reproduce the bug in a fresh Pandas Docker container as follows:
[code]
Should I open a new issue for this?

[2020-09-28 11:56] TomAugspurger commented on #36186
We can always add 3.9 wheels later.

[2020-09-28 11:57] ertuganova opened #36701 "BUG: .replace() of an empty string for None returns value from previous row"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

.replace() of an empty string for None value returns the value of previous row (instead of Non

[2020-09-28 11:58] jreback commented on #36186
why is building wheels for 3.9 hard?

w/o wheels we don't have 3.9 support - so yes it's a blocker

[2020-09-28 11:58] jreback commented on #36186
but yes could be added after

[2020-09-28 12:11] simonjayhawkins commented on #36186
for someone who knows what to do. probably not. I am not that person.

[2020-09-28 12:55] simonjayhawkins commented on #36186
release delayed by #36552 and I've got issues with google today (maybe my ISP) which is a PITA since I use google mail for github notifications so can put off till tomorrow.

[2020-09-28 13:08] redhog commented on #10742
I think there should be an option to to_sql() to disable the casting (done here https://github.com/pandas-dev/pandas/blob/1accb6e7fdf8742e0aa304abbf1531a3b9633ce8/pandas/io/sql.py#L788
 ). There should possibly also be an option to convert None into NaN when loading data using read_sql, even when all rows contain NaN:s so that columns are not converted to dtype object in that case, see https://git

[2020-09-28 13:22] asishm commented on #36701
This is currently documented behavior.
also duplicate of #36513

https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html

[2020-09-28 13:27] #36701 closed

[2020-09-28 14:32] mhaselsteiner opened #36702 "Undocumented behavior change (1.0.5->1.1.0) when using arithmetic operations on dataframes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
pandas 1.0.5:
[code]
pandas 1.1.0:
[code]

#### Problem description

When applying arithmetic operations between dataframe and l

[2020-09-28 15:02] jtkiley opened #36703 "BUG: String upgraded to complex128 (and cascading to other columns) in df.mean() and df.agg('mean')"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas (1.1.1; latest from conda).

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary

[2020-09-28 15:39] #22373 closed

[2020-09-28 15:39] #26982 closed

[2020-09-28 15:55] andymcarter commented on #36614
@feryah you are overwriting the column each time you loop through the jobs, so only the last result ('Traffic Manager') is retained.

You can see the individual column output if you choose a different name each time, eg:
[code]

[2020-09-28 16:01] simonjayhawkins commented on #36186
maybe better to remove the mention of 3.9 support from the whatsnew until we actually have support.

[2020-09-28 16:32] bashtage commented on #36186
If it builds from source and passes tests than it seems reasonable to leave in the mention of 3.9, even if wheels aren't available yet.

[2020-09-28 16:54] MarcoGorelli commented on #36419
Hi @rluong003 - I'm not familiar with CSS or with this part of the code, sorry

cc @TomAugspurger in case you have suggestions

[2020-09-28 17:14] itamarst opened #36708 "ENH: Type annotations for Index"
#### Is your feature request related to a problem?

As described in #26766, it would be good to have type annotations for Index.

#### Describe the solution you'd like

I would like the type of the publicly-exposed sub-objects to be part of the `Index` type. For example, these two `Index` instances contain `Timestamp` from the user's perspective, regardless of the internal implementation:

[code]

[2020-09-28 17:41] jbrockmendel commented on #21437
closed by #32995

[2020-09-28 17:41] #21437 closed

[2020-09-28 17:42] jreback commented on #36708
we have almost 0 support for actually containing np.datetime64 in an index itself
so your ask is very confusing

we support DatetimeIndex for this purpose

[2020-09-28 17:46] TomAugspurger commented on #36419
I'm not too familiar with it either.

On Mon, Sep 28, 2020 at 11:54 AM Marco Gorelli <notifications@github.com>
wrote:

[2020-09-28 18:01] NomadicDaggy commented on #13653
take

[2020-09-28 18:13] nahuelalmeira commented on #35753
@staticdev could you find any workaround for the problem? I am currently facing the same issue.

[2020-09-28 18:16] twoertwein commented on #35753
@nahuelalmeira can you successfully import the excel file without the encoding parameter?

[2020-09-28 18:20] galipremsagar opened #36712 "BUG: `pd.read_csv` not preserving Nullable types"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

While reading csv, pandas should likely read in the above dataframe column as a nullable inte

[2020-09-28 18:36] jreback commented on #36712
there is an issue about this already - pls search

this is a major breaking change and cannot be implemented as default yet

[2020-09-28 18:47] dsaxton commented on #36692
To me it seems like the output is correct here and the docs should be updated

[2020-09-28 21:24] rluong003 commented on #36419
@attack68 I see you have added many improvements to the Styler class recently, do you have any pointers on how to solve this?

[2020-09-28 21:42] jbrockmendel commented on #33940
Now that EA has a .equals method, we should consider having both Index.equal and Series.equals wrap `self.array.equals` to ensure consistent behavior.  e.g. ATM we have

[code]

[2020-09-28 22:31] asishm commented on #34303
@tosingithub the dataset you shared doesn't seem to be encoded with latin1

[code]

this is a UTF8-BOM encoded file (opening in VSCode shows that as well). of course using the incorrect encoding to open a file can lead to such issues.

[2020-09-28 23:40] rhshadrach commented on #36703
Thanks for the report, PRs to fix are welcome!

[2020-09-29 03:11] jbrockmendel opened #36719 "CI: arm Travis build timing out"
I'm seeing this in most but not all builds ATM.

Even if we moved it to allowed-failures, it would still be slowing the Travis turnaround time down a lot.

[2020-09-29 03:14] jbrockmendel commented on #34719
i cant remember seeing this anytime recently.  has it been solved?

[2020-09-29 03:26] jreback commented on #36719
can we ping original implementer of arm support (i don't remember the github id)

also might be helpful to run this build more verbosely to see if can nail down where it's hanging

[2020-09-29 05:39] attack68 commented on #36419
The `_bar` function works by adding a linear gradient background via CSS.
The simplest way I can think of doing this would be to add a `margin` or `padding` option to the cell to create the spacing, but that might have other unintended consequences and/or might not work.

Failing that, there might be another ways of manipulating the data or css to do this, but it would be quite complicated.

But,

[2020-09-29 06:13] jorisvandenbossche commented on #36692
Indeed, the behaviour for *nullable dtypes* is as expected, so the docs need an update. The complicating factor, however, is that the current explanation is correct if you have NaN missing data, but the behaviour is thus different with NA missing data.

[2020-09-29 07:12] jorisvandenbossche commented on #36712
@galipremsagar Thanks for opening the issue. As Jeff mentions, as long as the nullable dtypes are not yet the default dtypes, we can't read a csv using those dtypes by default (and a CSV file does not hold any type information that it was created from nullable dtypes).

However, the idea is that in the meantime, we can provide a keyword to opt-in to use nullable dtypes when doing IO, see https://g

[2020-09-29 07:22] attack68 commented on #36680
In web development if you want to display a pandas dataframe there are typically two ways of doing it:

- Generate the HTML, pass it to a webpage and encode (statically):

[code]

- Or return a JSON object that is collected via API and rendered to the page via Javascript framework (dynamically):

[code]

You may have both methods in operation on your website, but they are both closely linked, and

[2020-09-29 07:36] AlexKirko commented on #36702
Confirmed this on the latest commit in master.

[2020-09-29 08:48] simonjayhawkins commented on #36186
MacOS wheel build currently failing https://github.com/MacPython/pandas-wheels/pull/100

[code]

restarted but same failure. will try again later.

[2020-09-29 10:57] tosingithub commented on #34303
Ok thanks. But my concern was why it ran perfectly in the previous version and not the new version, which took me time to identify for my actual program?

[2020-09-29 11:13] TomAugspurger commented on #36719
cc @janaknat from https://github.com/MacPython/pandas-wheels/pull/99 and @odidev from the original issue.

[2020-09-29 11:20] TomAugspurger commented on #34719
I think #34721 closed it.

[2020-09-29 11:20] #34719 closed

[2020-09-29 12:15] jreback commented on #36702
I don't think this was every anything but accidently working, how exactly do you align these series? this is very very odd. in fact I would say we should raise here.

This is *very* different from say lists of ndarrays which we do support because no alignment is involved.

[2020-09-29 13:28] itamarst commented on #36708
I am aware that the index can't contain an `np.datetime64`, that's the motivation for this particular design. So let me try to back and up and explain how I got to this design.

To begin with, a naive typing scheme for Index would look like this:

[code]

We can try it out, and it seems to work just fine initially:

[code]

Success! Except...

[code]

So it turns out the naive typing scheme doesn'

[2020-09-29 14:10] Sounakde commented on #28926
take

[2020-09-29 14:42] simonjayhawkins commented on #36708
Thanks @itamarst we always welcome PRs adding type annotations.

A couple of points to note.

`error: Missing type parameters for generic type "DefaultIndex"  [type-arg]` with `--disallow-any-generics`. We don't yet have this on CI but normally request that type parameters are added during review. This will give errors such as `Return type "datetime" of "first" incompatible with return type "datet

[2020-09-29 15:08] rtenshi commented on #35497
I had the same problem, so if you are having the problem at the EMR it seems to be really an EMR error. It's fixed on the 5.30.1 .
they changed the standard python version from the 2.7 to the 3.7.6, which solved the problem

[2020-09-29 15:31] janaknat commented on #36719
@TomAugspurger @jreback It would help if pandas-dev migrated to travis-ci.com from travis-ci.org.

I did a test run on travis-ci.com using Graviton2: https://travis-ci.com/github/janaknat/pandas/jobs/392535745

travis-ci.com offers Graviton2 instances for building/testing in an ARM64 environment. That will speed things up significantly.
See: https://blog.travis-ci.com/2020-09-11-arm-on-aws

[2020-09-29 15:31] itamarst commented on #36708
Could you expand on "We don't yet have this on CI but normally request that type parameters are added during review." I don't understand what that means, sorry. And why are you disallowing generics?

[2020-09-29 15:49] odidev commented on #36719
I have tested this again and there is inconsistency in build timings in arm64 for each build. So, I have tested with arm64-graviton2 in travis-ci.com, and build ran in 25 mins(almost similar to AMD64).

To run with arm64-graviton2 tests need to be run in travis-ci.com instead of travis-ci.org(which will be officially closed down completely on December 31st, 2020), need to follow steps mentioned by

[2020-09-29 15:51] simonjayhawkins commented on #36186
all release readiness checks now passing.

#36552 has not yet been merged. if there is a green light for release, will start release without it.

way forward on py3.9 support?

[2020-09-29 15:57] simonjayhawkins commented on #36708
from https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-disallow-any-generics

in the prototype above `class Datetime64Index(DefaultIndex)` is equivalent to `class Datetime64Index(DefaultIndex[Any])`

Is the `Any` hiding other issues with this prototype?

[2020-09-29 17:01] itamarst commented on #36708
Ah, I see. It ought to be subclassing `DefaultIndex[datetime]`, yeah.

Do you have infrastructure for testing type checking? Part of what would need doing is assertions saying "this is type checked as correct, that is type checked as incorrect".

[2020-09-29 17:24] mlyons-tcc commented on #32380
Here's a rant: You deprecated squeeze in 1.1.0 in violation of your own deprecation policy introduced in 1.0.0.

[2020-09-29 17:39] simonjayhawkins commented on #36708
we run mypy on the codebase in CI for checking internal consistency, see for example https://github.com/pandas-dev/pandas/runs/1183480483

We don't have any checks for the public facing api (only from internal calls to public functions)

#28142 has been opened for discussion on how types will be made available for pandas users. I don't recall any discussion on a test suite for testing the public a

[2020-09-29 17:57] jbrockmendel commented on #36702
@mhaselsteiner formatting your example would make it clearer to the reader what's going on:

[code]

Like @jreback said, the solution is to not do this.

[2020-09-29 18:16] dsaxton commented on #36698
It looks like the `groups` attribute is ignoring the "unobserved" groups (this is ultimately what causes it to raise I think), even though they show when you do operations on the groupby:

[code]

More investigations / PR welcome.

[2020-09-29 19:28] asishm commented on #34303
I did some more digging.

it seems in v0.25.3, `pd.read_csv` with defaults was just passing in the string file path to the `TextReader` at `parsers.pyx`.
but in 1.x.x onwards, a file like object is passed on to the TextReader.

this started getting a bit convoluted, but here's what I have right now.
[code]

this outputs:
[code]

cc: @gfyoung if you have any other thoughts

[2020-09-29 19:49] geogunow opened #36727 "BUG: Segmentation fault when doing pandas.core.window.rolling.RollingGroupBy.apply"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-29 20:01] arw2019 commented on #36727
Thanks for the report!

Confirming this happens on 1.2 master

<details><summary><b>Output of pd.show_versions()</b></summary>

INSTALLED VERSIONS
------------------
commit           : 664c8fae44ab637bf8fd078232cbe7fe82d30fde
python           : 3.8.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-48-generic
Version          : #52-Ubuntu SMP Thu Sep 10 10:58:49 UTC

[2020-09-29 20:30] #28926 closed

[2020-09-29 20:34] WillAyd commented on #27096
It's open ended - let's close for now can come back if there's something concretely actionable

[2020-09-29 20:34] #27096 closed

[2020-09-29 20:35] WillAyd commented on #31160
I don't mind adding these statically. I *think* talked with @jreback in the past though who may have disagreed so pinging for his input, otherwise would take a PR

[2020-09-29 20:38] WillAyd commented on #35481
Yea we only xfailed test in #35502 so depends what comes to light from what @seberg has mentioned above. I do think would be nice if this consistently raised an error from the numpy side just not sure overall what inconsistencies that yields

[2020-09-29 20:43] WillAyd commented on #35299
Based on the discussion above I don't see this getting a lot of traction. It's not necessarily that it is "undesirable" but rather that we have an already very large API and have a high bar for expanding that, which I'm not sure this meets

[2020-09-29 21:02] phofl commented on #34315
The question here is, if ``window=8`` should behave like ``window="8s"``, e.g. if ``window=8`` should be a time aware window.

If yes, we would break the following behavior:

[code]

The first rolling works, the second raises:

[code]

If this should not be the same, we should raise in the case above, because ``window=8`` would be a fixed window and closed is not implemented for that.

Thoughts @j

[2020-09-29 21:17] gfyoung commented on #34303
This is some great work here @asishm to try and debug this.

You may want to consider doing a `git bisect` to understand when and how this behavior change was introduced.

[2020-09-29 21:24] TomAugspurger commented on #36195
I'd like to move forward with this, including a version of the proposal on https://pandas.pydata.org/pandas-docs/dev/development/roadmap.html.

There hasn't been much activity on the google doc, https://docs.google.com/document/d/1csGE4qigPR2vzmU2--jwURn3sK5k5eVewinxd8OUPk0/edit. The biggest outstanding item is a decision / discussion of "Copy on Write" vs. "Error on Write". It'd be nice if the pr

[2020-09-29 22:18] jbrockmendel commented on #34315
cc @mroeschke ?

[2020-09-29 22:28] jtkiley commented on #36703
I just updated the code examples with more exploration of where this actually happens. It's in `pd.core.nanops._ensure_numeric()`.

https://github.com/pandas-dev/pandas/blob/2a7d3326dee660824a8433ffd01065f8ac37f7d6/pandas/core/nanops.py#L1409-L1435

If something passed in is an object dtype, it tries to convert it to `complex128`. That works with `'J'`, but not with `'JJ'` (i.e. what that sum meth

[2020-09-29 22:48] #30469 closed

[2020-09-29 23:45] erfannariman commented on #35299
I see and I can agree on that. Thanks everyone for taking the time to review. Will close this and the PR.

[2020-09-29 23:45] #35299 closed

[2020-09-30 00:11] #33819 closed

[2020-09-30 00:18] KPStarr opened #36732 "BUG: Dataframe filter no longer working in code"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

I was wondering if there were any syntax changes that is preventing the code below from running properly. I am new to Python and I am learning to understand how it works

[2020-09-30 00:53] jbrockmendel commented on #36719
Disable until this is sorted out?

[2020-09-30 02:03] dsaxton commented on #36732
Can you try to create a copy / pastable example? See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-30 02:04] #13653 closed

[2020-09-30 02:12] #14811 closed

[2020-09-30 02:17] #23598 closed

[2020-09-30 02:17] #27744 closed

[2020-09-30 02:23] #24839 closed

[2020-09-30 03:49] jreback commented on #31160
yeah ok with doing more static things as it will help with typing

[2020-09-30 03:58] jreback commented on #32380
we can and will deprecate things in almost every version

what the policy is not to remove those depreciated u til a next major version eg 2.0

we don't use DeprecationWarning because it's not shown by default and IMHO just useless

FutureWarning is visible

you don't have to change you code and can continue to use it if you would like

[2020-09-30 06:11] syejing opened #36736 "QST:How to make dataframe output HTML format by default in Cpython shell"
---

#### Question about pandas
I wrote jupyter myself. The kernel of the program uses Cpython instead of IPython. The problem is that when I output dataframe data, pandas does not output HTML strings under IPython notebook. How can I set the behavior of pandas to output HTML strings

[code]

[2020-09-30 06:21] jorisvandenbossche commented on #31160
And apart from typing, it will also result in easier to understand code, I think

[2020-09-30 07:44] syejing commented on #36736
I probably know how to change it. I need to change my Python kernel to something similar to IPython display and support calling first_ repr_ html_ , and demote the call after the object is found to be missing__ repr__ method。

[2020-09-30 08:12] mythrocks commented on #34466
@brandon-b-miller, thanks for pointing this PR out to me.

@fujiaxiang, thanks for working on #30923. The following [comment](https://github.com/pandas-dev/pandas/pull/30923#issuecomment-578032046) from that discussion is particularly illuminating:

Should this not apply to offset windows as well? Consider the following example:
[code]
I would have expected this to return the following:
```[1.0, 2

[2020-09-30 08:16] AlexKirko commented on #36702
Makes sense that we should raise when the user tries something like this. I'll take a look at how it can be implemented.

[2020-09-30 08:16] AlexKirko commented on #36702
/take

[2020-09-30 08:16] Gvxy2 opened #36738 "BUG: to_timedelta drops decimals from input if precision is greater than nanoseconds"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

I am trying to convert a time to timedelta. The input data is in string format. When number of decimals is too big, it resets all decimals to zero.

[code]
The result of

[2020-09-30 08:18] AlexKirko commented on #36702
take

[2020-09-30 08:21] AlexKirko commented on #35922
@simonjayhawkins Sorry for taking so long to get back to you. I got sick and was out of commision for a couple of weeks.

#35604 fixed this for non-datetime-like Index subtypes. It still needs fixing for other subclasses and the Series object. I'll get back to working on it this week.

[2020-09-30 08:29] simonjayhawkins commented on #31160
the last part of https://github.com/pandas-dev/pandas/issues/34869#issuecomment-646539490 is related

+1

+1

have started down this route on a few commonly used dynamically added methods, to avoid ignores.

https://github.com/pandas-dev/pandas/blob/6648439ecc44baf9a783a19ff1d6226347c76dd0/pandas/core/indexes/datetimes.py#L222-L240

https://github.com/pandas-dev/pandas/blob/a0e0571ba4d843b0b462f18

[2020-09-30 08:56] fanucwj opened #36739 "Is there any doucument about telling how to cross-compile pandas to arm ? so difficult"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-09-30 09:30] fujiaxiang commented on #34466
@mythrocks Thanks for pointing this out. Yes I see the behavior of `rolling.count` for is not consistent here.

@brandon-b-miller Regarding the behavior on `min_period` in `rolling.count`, I have explained my original intention with my earlier comment. I do agree with you that this behavior is not completely consistent with other methods such as `rolling.sum`, and I think we both agree there is a

[2020-09-30 09:31] fujiaxiang commented on #34466
I could be wrong. So let's hear more from the pandas core team! @pandas-dev/pandas-core
The core issue we concern here is: Should we change the following behavior?

A brief summary of earlier arguments:
Keeping this behavior would give more useful results for users, especially considering `count` method is meant for counting non-NA values. However, this behavior is not consistent with similar meth

[2020-09-30 10:07] toobaz commented on #34466
I'm in favor of consistency with other methods. I understand that

... but counting non-NA values, is as easy as setting ``min_periods=0``, right? Vice-versa, counting the number of non-NA values _whenever there are at least a minimum number of non-NA values_ is the goal of ``min_periods``, and it is more annoying to do otherwise.

[2020-09-30 10:09] bashtage commented on #34466
Why not just use `min_periods=0`?  To me is seems like this alternative is already supported only by using a different min periods.  This is presumable because the intention is different.  By changing `min_periods` one implements to psuedocode

[code]

[2020-09-30 10:15] MarcoGorelli commented on #36732
The issue here is that `df['Last Price']` contains `-`, which can't be converted to `float`

[code]

Seeing as you're downloading live data, my guess is that something changed upstream

[2020-09-30 11:11] MarcoGorelli commented on #36732
Closing then as it looks like this isn't a bug in pandas, but please do let us know if you find any other issues

[2020-09-30 11:11] #36732 closed

[2020-09-30 12:07] jreback commented on #36719
I don't think we have an objection to migrate (and seems we need to)

what do we need to do?

[2020-09-30 12:13] gepcel opened #36740 "DOC: Summing by level on a category index produce extra columns."
Generate a dataframe:
[code]

<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="2" halign="left">A</th>
      <th colspan="3" halign="left">B</th>
    </tr>
    <tr>
      <th></th>
      <th>One</th>
      <th>Two</th>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>

[2020-09-30 12:22] #36216 closed

[2020-09-30 12:52] Tebinski commented on #36738
I can't replicate the problem (see Githug Guist https://gist.github.com/Tebinski/4900d3593bb0b9e9fd82ca983e68b200)

I have installed pandas version 1.1.1

Input
``
d ={'Time':['8:53:08.26','8:53:08.71800000001', '8:53:09.729']}
pd.DataFrame(data=d)``

Output

[code]

[2020-09-30 13:09] phofl commented on #36738
Your example and your output don't match. Your output seems to be a Series while your code would produce a DataFrame.  Furthermore, the dtype when running this code is object, not timedelta. Could you please look over your example?

[2020-09-30 13:10] #18035 closed

[2020-09-30 13:16] phofl commented on #36740
Is this done on purpose? Looks related to the explanation in https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html#operations

[2020-09-30 13:25] AlexS12 commented on #36738
I think the issue is the following:

[code]

[2020-09-30 13:32] Gvxy2 commented on #36738
Thanks @AlexS12  that is the complete example I was trying! I named the issue after the function I was using... and I left it out of the example.

[2020-09-30 13:44] phofl commented on #36738
Thx, could you please edit your initial post for clarity?

[2020-09-30 14:14] MarcoGorelli commented on #36740
I think so, but the user guide says

yet here we have a DataFrame method. Perhaps a little example like this one would be a good addition there

[2020-09-30 14:21] phofl opened #36741 "BUG: Setting values with ILOC and list like indexers raises"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-30 14:23] phofl commented on #36740
Then this is not a bug, isn't it?

[2020-09-30 14:30] samuelduchesne commented on #32860
@jorisvandenbossche Not sure what the usage should be replaced with in an eventual PR. Not familiar with `_get_axis_number`...

[2020-09-30 14:43] janaknat commented on #36719
@jreback documentation for migrating repos: https://docs.travis-ci.com/user/migrate/open-source-repository-migration. It shouldn't be too much of a hassle.

@mattip has done that for the Macpython/scipy-wheels repo.

@mustafa-travisci and @michal-at-travisci can help with more information.

[2020-09-30 15:43] mythrocks commented on #34466
Thank you, @toobaz, @toobaz, @fujiaxiang. Perhaps there might be a disconnect in my understanding of `min_periods`. From [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.rolling.html):

    Minimum number of observations in window **required to have a value** (otherwise result is NA). For a window that is specified by an offset, min_periods will default to 1. Oth

[2020-09-30 15:48] bashtage commented on #34466
Having a value means not-missing, e.g, not null.

[2020-09-30 15:58] mythrocks commented on #34466
Thanks, @bashtage. I'm going to try reconcile these knobs against those that SQL provides. I might have a followup shortly.

[2020-09-30 16:29] NahsiN opened #36743 "BUG: read_parquet Google Cloud Storage (gcs) dir support"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In the same vain as issue [26388](https://github.com/pandas-dev/pandas/issues/26388), it woul

[2020-09-30 16:37] mattip commented on #36719
I can do the legwork to migrate the repo (under my alias @multibuilder) if the core maintainers sign off on the idea. This would mean they would now need to sign into travis-ci.com rather than travis-ci.org or ask me in order to manage the build settings: set secrets, stop/start specific builds. Automatic triggering would work as before. We recently migrated the scipy-wheel build to travis-ci.com,

[2020-09-30 16:51] seberg commented on #35481
@WillAyd I have a branch (the numpy tests will fail on it), which tries the "both error" solution. From what I can tell this will likely just create another bunch of similar issues, whether those are easier to deal with or not, is a good question.

I have a branch here, if you have the time to test it: https://github.com/seberg/numpy/tree/force-setitem-for-scalar-to-int-assignment

But, I guess at

[2020-09-30 17:22] #23254 closed

[2020-09-30 17:25] Dr-Irv opened #36745 "DOC: TimeStamp.strftime() missing argument description"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.Timestamp.strftime.html?highlight=strftime#pandas.Timestamp.strftime

#### Documentation problem

The argument for `TimeStamp.strftime()` is missing in the docs

#### Suggested fix for documentation

Argument is a format string.  Should reference python docs https://docs.python.org/3/library/datetime.html

[2020-09-30 17:46] TomAugspurger commented on #36745
I think this is a CPython issue. We subclass `datetime.datetime`, and don't override strftime.

[code]

[2020-09-30 18:10] Dr-Irv commented on #36745
@TomAugspurger So how does the doc page for `Timestamp.strftime()`  get generated?

[2020-09-30 18:26] phofl commented on #36738
Looking into https://pandas.pydata.org/pandas-docs/stable/user_guide/timedeltas.html#timedelta-limitations this is not a bug. It is a limitation of the TimeDelta implementation

[2020-09-30 18:35] jorisvandenbossche commented on #36745
The docstring is inherited as well, so `pd.Timestamp.strftime.__doc__` is the docstring of the stdlib (which is not very informative).

We could override the method just to add a more elaborate docstring.

[2020-09-30 18:40] mlyons-tcc commented on #32380
Great to hear that it is not going away until 2.0! I'm much appreciative of the deprecation policy you provided, and I took the FutureWarning to mean something else since I expected a DeprecationWarning.

Thanks for providing the rationale of FutureWarning.

**Arguments Against Using FutureWarning for Deprecations**
As I mentioned, I found the usage of FutureWarning to be ambiguous in terms of wha

[2020-09-30 18:54] jorisvandenbossche commented on #36745
That's again still an issue with `datetime.datetime`, which simply has no information about its arguments (eg inspecting the signature of it will fail), and which we inherit

[2020-09-30 19:15] dsaxton commented on #36736
There exists DataFrame.to_html which you could likely use (the repr currently uses DataFrame.to_string)

[2020-09-30 19:39] dsaxton commented on #36741
3da053c7d1b1786689a81b143a7afb57eb4762ad is the first bad commit
commit 3da053c7d1b1786689a81b143a7afb57eb4762ad
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Mon Feb 17 16:15:45 2020 -0800

    BUG: fix length_of_indexer with boolean mask (#31897)

 pandas/core/indexers.py                |  8 +++++++-
 pandas/core/indexing.py                | 28 +++++++---------------------
 pandas/tests/

[2020-09-30 20:27] #36047 closed

[2020-09-30 21:02] OlehKSS commented on #36596
Hi, does anyone work on this issue?

I have found that this problem is due to the fact that `numpy.astype('int')` returns different values on Windows and Linux, 'dtype(int32)' and 'dtype(int64)' respectively. This is the [line](https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/common.py#L1799) that generates this problem. I didn't see any mentioning of this bug in numpy's reposit

[2020-09-30 21:14] aks861999 commented on #36308
take

[2020-09-30 21:32] jbrockmendel commented on #36741
Not 100% sure, but it looks like before we get to that point in Block.setitem we want to have `value = 2` instead if `value = np.array([2])`.  It'll take some more digging to see exactly where that unpacking should take place.

[2020-09-30 23:55] realead commented on #33287
If we have a proper hash function 32bit->32bit (an example could be https://github.com/realead/cykhash/blob/master/src/cykhash/murmurhash.pxi#L14), we just need to do the same dance as for [float64-map](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/klib/khash_python.h#L36), here an example basically replacing 64 through 32.

[code]

Then this dance has to be also done in `khash

[2020-10-01 00:29] AlexanderCecile commented on #36158
@dimithras What do you mean?

[2020-10-01 00:45] luisfelipe18 commented on #11723
we need and equivalent for "SELECT max(column1)*0.25+ 0.44*sum(column2) as 'calculated_column' from TABLE group by column3,column5"

[2020-10-01 00:48] franckjulliard opened #36756 "BUG: call to pandas/pandas/core/construction.py lead to import error"
pandas
Version: 1.1.2

https://github.com/pandas-dev/pandas/blob/master/pandas/core/construction.py

line 17 you can see
from pandas._typing import AnyArrayLike, ArrayLike, Dtype, DtypeObj

There is no more DtypeObj in pandas._typing and this lead to import error.

[2020-10-01 01:05] jbrockmendel commented on #36756
Yes, there is.  How did you install pandas?

[2020-10-01 01:18] #36740 closed

[2020-10-01 01:27] alippai opened #36757 "BUG: GroupBy().fillna() performance regression"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Problem description
The groupby + fillna gets extremely slow increasing the N.
This is a regression from 1.0.5->1.1.0.

Note: if I remove the `.set_index("A"

[2020-10-01 01:34] jbrockmendel opened #36758 "DEPR: |&^ as set operations for Index"
It isn't that burdensome to write `left.union(right)` instead of `left | right`, and deprecating this special-case behavior allow us to fully share the implementation with Series.

[2020-10-01 01:36] jbrockmendel opened #36759 "DEPR: Index == Series should return NotImplemented"
ATM `index == series` returns an ndarray because `Index.__eq__` does _not_ return `NotImplemented`.  It isn't clear to me what the reason for this is.  The special casing leads to a non-trivial amount of complexity in the code and especially in the tests.

We should deprecate this special casing.

[2020-10-01 03:18] syejing commented on #36736
Yes, but there are still many problems to be solved. Under the display hook of interactive shell, you can judge whether to call repr or_ repr_ html_ But if the parameter of print (dataframe) and write function returns the result after automatically calling repr, what should I do？

[2020-10-01 03:22] jbrockmendel commented on #36548
Have you looked at IntervalIndex?  That specifically supports clopen intervals.

Another option might be "partial string indexing", where `frame.loc["2020-09-30 20:21"]` will give everything between 8:21:00.000000000 and 8:21:59.999999999 (inclusive)

[2020-10-01 03:36] BeanNan commented on #32334
take

[2020-10-01 03:37] BeanNan commented on #32334
take

[2020-10-01 03:45] syejing commented on #36736
`class DisplayHook(object):

    def __init__(self, session, pub_socket):
        self.session = session
        self.pub_socket = pub_socket
        self.parent_header = {}

    def __call__(self, obj, automatic=True):
        if obj is None:
            return

        builtins._ = obj
        if automatic:
            if getattr(obj, '_repr_html_', None) is not None:
                msg = self.

[2020-10-01 03:46] jreback commented on #32380
we are unlikely to change the warning type as visibility is most important

[2020-10-01 04:46] AlexS12 commented on #36738
Thanks @phofl. I see that the documentation specifies the resolution and gives an example of the range. However, what's the reason for returning 8:53:08 instead of 8:53:08.718 for index one? I think that's the closest result inside the Timedelta resolution. Otherwise, this function becomes not useful (more difficult to use) when dealing with decimal seconds, which will normally suffer from floatin

[2020-10-01 06:45] MarcoGorelli commented on #36757
Thanks @alippai for the report, can confirm this reproduces

on master:
[code]
on 1.0.5:
[code]

[2020-10-01 07:00] franckjulliard commented on #36756
with pip, doing an upgrade.
![image](https://user-images.githubusercontent.com/45554409/94777903-35daaf00-03ff-11eb-8a66-b1a40cd78ced.png)

[2020-10-01 07:02] franckjulliard commented on #36756
I reinstall, now it's working fine.
Sorry for this wrong bug report.

[2020-10-01 07:02] #36756 closed

[2020-10-01 07:12] cvonsteg commented on #14553
Thanks, @GoldstHa - that is really helpful input.  I will attempt to create a POC for the MERGE-like implementation

[2020-10-01 07:13] Gvxy2 commented on #36738
Thanks @AlexS12 , to_datetime result is what I should expect from to_timedelta.
[code]
Output
[code]

[2020-10-01 07:26] Iqrar99 opened #36764 "DOC: PR09 errors"
#### Location of the documentation

- [x]  [/core/frame.py](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py)
- [x] [/core/generic.py](https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py)
- [x] [/core/flags.py](https://github.com/pandas-dev/pandas/blob/master/pandas/core/flags.py)
- [x] [/core/series.py](https://github.com/pandas-dev/pandas/blob/master/pand

[2020-10-01 07:39] #36736 closed

[2020-10-01 07:42] DavidKatz-il commented on #18199
Hey @jreback
I just checked reading / writing `hdfs` files (`csv` and `parquet`) with `pandas`, and as I guessed it works fine. its probably works since the project started to use `fsspec` for reading `s3` /  `gsc` files.
So i will continue working on adding tests.

[2020-10-01 07:43] junjunjunk commented on #36692
It seems to me that we need to explicitly describe the differences in behavior due to missing values.
I discovered that "None" as object also behave differently as below.

[code]

[2020-10-01 07:48] ivanovmg opened #36765 "BUG: inconsistent spacing in df.info()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-01 08:08] IainStrachan commented on #36548
Thanks - I'll look into that.  I solved it by subtracting 1 ns off the end time, but this looks more elegant.

[2020-10-01 08:19] jorisvandenbossche commented on #36692
Yeah, any/all are kind of broken with object dtype .. That's due to how numpy works with object dtype, see eg https://github.com/pandas-dev/pandas/issues/27709 and https://github.com/pandas-dev/pandas/issues/12863

[2020-10-01 08:35] junjunjunk commented on #35516
I haven't been able to fully pinpoint the cause of the problem.
But perhaps the cause is 'dtype'.
When the type is one of numpy, it seems to work fine.

[code]

[code]

[2020-10-01 08:46] fkromer commented on #33636
@clintmod Yepp. The problem is that `.csv` does not save the df meta data (types of rows/columns) and that multi rows/columnns are tricky. Instead I usually store the data into `.h5` instead. In any case you have to work with files which are not easy to read and diff. But right now I'm totally fine with implementing it this way.

[2020-10-01 09:33] Maikel0J opened #36768 "Expand Series.between() function with only left/right inclusive"
https://github.com/pandas-dev/pandas/blob/2a7d3326dee660824a8433ffd01065f8ac37f7d6/pandas/core/series.py#L4690-L4763

This is my first post, I hope this is conform the contributing guidelines and code of conduct.
The code for between has a variable 'inclusive' which makes a difference if the left and right value should be taken into account. Difference between < and <= for example.
My suggestion i

[2020-10-01 09:55] rmaunder opened #36769 "BUG:"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

to_timedelta() rejects unitary time units like 'H', 'D' etc which infer_freq() returns. String

[2020-10-01 10:26] Ajaydeep123 commented on #36411
take

[2020-10-01 10:53] jreback commented on #36768
see https://github.com/pandas-dev/pandas/issues/13027 and then linked issues which proposed exactly this

i will revise my comments and suggest we should simply deprecate at this point

[2020-10-01 12:17] Maikel0J commented on #36768
@jreback Should I close this thread or what's the convention?

[2020-10-01 12:36] alippai commented on #36757
`ffill()` is fast, but the output is different: https://github.com/pandas-dev/pandas/issues/34725

[2020-10-01 13:44] martindurant commented on #18199
Note that pyarrow's HDFS interface will be deprecated sometime. I guess the "legacy" interface will be around a while, but fsspec will need to have its shim rewritten to the newer filesystem that pyarrow makes, when it's stable. Hopefully, this shouldn't affect users.

[2020-10-01 13:51] jreback commented on #36768
yes, duplicate of https://github.com/pandas-dev/pandas/issues/12398 as well.

[2020-10-01 13:51] #36768 closed

[2020-10-01 14:21] dsaxton opened #36775 "BUG: Nullable floats can look like ints in repr"
Nullable floats when output to the screen can look like ints, but in my opinion should look the same as regular non-NaN floats so as not to cause confusion.
[code]
cc @jorisvandenbossche

[2020-10-01 14:33] lucsorel commented on #15354
I also have a similar need with the following context (adapted from a real and professional need):

- I have a chronological dataframe with a timestamp column and a value column, which represents irregular events. Like the timestamp of when a dog passed below my window and how many seconds it took her to pass along. I can have 6 events for a given day and then no event at all for the next 2 days
-

[2020-10-01 14:54] dsaxton opened #36777 "DOC: Fix code style in documentation"
The docs use certain coding style conventions that are no longer used in pandas (e.g., we adopt black's opinions in terms of line wrapping and quoting), for instance https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html. We should update the docs to match current style preferences.

[blacken-docs](https://github.com/asottile/blacken-docs) is a useful tool that can help in doing _som

[2020-10-01 15:00] jorisvandenbossche commented on #36195
Some assorted thoughts I gathered the last weeks (not necessarily all needing an answer in an initial discussion / proposal, though):

- The copy/view in indexing discussion also impacts methods that rely on indexing internally (eg `drop`, `dropna`). I think that is also shown from the fact that dropna performance improves in the benchmark output above.
  So the indexing vs methods (what you put i

[2020-10-01 15:32] alippai commented on #36757
As for larger N (starting from 10k) this never completes, can we consider adding back the `Bug` label? Looks like quadratic complexity or worse.

[2020-10-01 16:07] obarak commented on #11723
@luisfelipe18 - Actually, for aggregation you already have aliasing in Pandas, see [here](https://deanla.com/pandas_named_agg.html#Replacing-the-as-keyword-from-SQL) (I'd recommend reading through the entire post).

The current issue refers to aliasing *existing columns*, regardless of aggregation.

[2020-10-01 16:17] Meghana-12 commented on #36777
I'd like to work on this.

[2020-10-01 16:18] luisfelipe18 commented on #11723
@obarak yes, i'm aware of that. My point is that in aggregation you can apply a custom function to only one column, but what if I need to do in a pythonic way something like `df.groupby(column).agg(desired_name = pd.AggName(column_NName = "col_name", aggfunc = lambda x: sum(x) + 0.45*sum(column_z)))` ?
the only way is adding to `agg` the `sum()` for column  `column_z` and then do the operation `df

[2020-10-01 16:21] dsaxton commented on #36777
Sure, feel free to submit a PR

[2020-10-01 16:23] Meghana-12 commented on #36777
Are there any docs you'd like me to fix first? @dsaxton

[2020-10-01 16:39] dsaxton commented on #36777
Up to you, probably the best way would be to browse through the rst files in https://github.com/pandas-dev/pandas/tree/master/doc/source (the `user_guide` folder might be a good place to start) and check for code blocks that use "old style" formatting and update those. Any improvement is appreciated!

[2020-10-01 17:23] erfannariman commented on #36777
Files I reformatted in #36780 so others won't do double work:

- doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
- doc/source/getting_started/intro_tutorials/07_reshape_table_layout.rst
- doc/source/getting_started/intro_tutorials/08_combine_dataframes.rst
- doc/source/getting_started/intro_tutorials/09_timeseries.rst
- doc/source/getting_started/intro_tutorials/10_text_data

[2020-10-01 17:52] #28235 closed

[2020-10-01 18:05] Ayushihelloworld commented on #36411
Hi I am working on this

[2020-10-01 18:28] AleGuarnieri commented on #32590
take

[2020-10-01 18:32] #32334 closed

[2020-10-01 18:51] dzimmanck commented on #36124
I've been busy with my paycheck job, but I think I will have some time to work on this next week.

[2020-10-01 18:56] krassowski opened #36782 "BUG: replacing out of bound datetimes is not possible"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Raises:

[code]

<details>

<summary>Full traceback details</summary>

[code]

</details>

#### Problem description

It

[2020-10-01 18:57] krassowski commented on #36782
Related to #34186.

[2020-10-01 19:12] JulianWgs commented on #32590
I‘d still interested in taking it, but right now Im at the end of my master thesis and have already an open PR for pandas. Id be very happy if you would give one more month :)

[2020-10-01 19:21] krassowski commented on #36782
Workaround:

[code]

I would expect `replace()` to work like the above workaround.

[2020-10-01 19:38] icanhazcodeplz commented on #31944
take

[2020-10-01 20:29] torsive commented on #36782
Hello, I'm interested in solving this bug, I would like to ask a couple of question regarding the behaviour of workaround code and whether these behaviours are expected in the final solution for the bug.

Code:
[code]

Output:
[code]
After reassigning ```df.applymap(lambda x: datetime(2020, 10, 1) if x == datetime(2920, 10, 1) else x)``` to ```df``` I got follwoing output

Code:
[code]

Ouput:
[co

[2020-10-01 20:38] torsive commented on #36782
take

[2020-10-01 20:56] krassowski opened #36785 "REGR: Row series are broken after applying to_datetime()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Assigning the output of `pd.to_datetime` to a column of a dataframe, although not demonstrate

[2020-10-01 20:57] StevenLi-DS commented on #35684
I'm using `3.3.1` and `set_major_foarmatter` but still getting a `UserWarning: FixedFormatter should only be used together with FixedLocator`

Am I missing something?

[code]

[2020-10-01 21:03] fangchenli commented on #35684
Switch those two statements would fix the warning.
[code]

[2020-10-01 21:03] krassowski commented on #36782
In pandas 1.0.4:

[code]

Out:
[code]

[code]

Out:
[code]

Thus, the workaround has the same side-effect as was the behaviour of `replace()` in the previous version.

[code]

[2020-10-01 21:12] krassowski commented on #36785
I added another manifestation of the underlying issue:

[code]

does not work any longer, even though it used to work in 1.0.4 where it was producing:

[code]

while on 1.1.3/master it raises: `AttributeError: 'numpy.ndarray' object has no attribute 'apply'`. At the heart of the problem it seems that the data is converted to numpy arrays in a way which is not handled well by pandas.

[2020-10-01 21:14] jbrockmendel opened #36788 "API: why do DataFrame bool ops have default_axis=columns while arith/cmp have default_axis=None?"
Changing the default_axis to None doesn't break any tests, and that would allow for a bit of code simplification.  So is there a reason for the current implementation?

[2020-10-01 21:18] phofl commented on #34617
cc @mroeschke

I think this should raise like a simle rolling operation and not return a result. Is that right?

[2020-10-01 21:32] krassowski commented on #36785
A workaround:

[code]

Interestingly:

[code]

This a pure manifestation of the underlying issue and at odds with [the documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dropna.html) which says that `Series.dropna`: will `Return a new Series with missing values removed.` (but we get `numpy.ndarray` instead!)

[2020-10-01 21:33] erfannariman commented on #36757
Running profiler give:

[code]

[2020-10-01 21:39] TomAugspurger commented on #36195
Agreed that the classic chained indexing example is a compelling argument for Error on Write rather than Copy on Write.

IMO, yes that should create two views to the same data.

I'd like to keep this focused just on setting data / values. I'm hopeful that the metadata / flags issue can be solved by doing shallow copies by default and providing an option to copy the data if desired, like we did for

[2020-10-01 21:43] fangchenli commented on #18306
Still many warnings. This is with matplotlib 3.3.1.

[code]

[2020-10-01 21:51] dzimmanck commented on #36124
take

[2020-10-01 21:53] madolmo opened #36791 "How to use nrows along with chunksize in read_json()"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

Why do I need to use _nrows_ when reading large json line files with _chunksize_ option?
Since version 1.1 I'm having troubles with the funct

[2020-10-01 22:00] rhshadrach commented on #11434
@TomAugspurger Is this the correct behavior? I now see each group as an individual plot. I would prefer the label for the legend be the groups (`g.groups`), and can submit a PR if that's prefered.

[code]

gives

![image](https://user-images.githubusercontent.com/45562402/94867799-e8b30900-040f-11eb-9f92-66c3c12f47ac.png)

[2020-10-01 22:05] rhshadrach commented on #11434
The alternative is to have all three in one plot, labeled with the groups as seen below. Not sure which is the desired behavior.

![image](https://user-images.githubusercontent.com/45562402/94868183-ae963700-0410-11eb-8c92-075ef793d923.png)

[2020-10-01 22:28] phofl commented on #36507
As it is now, there is a bug when having a Series and setting ``as_index=False`` or the documentation is not clear. When doing

[code]

The index vanishes instead of doing nothing.

[code]

Is probably not relevant, if we extend the API. If not, this should be fixed or the docs should be more specific

[2020-10-01 22:50] phofl opened #36794 "BUG: Series.groupby.rolling duplicates index when grouping over index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-01 23:13] jreback commented on #36195
is there any system that does error-on-write? I do prefer this, but am a little concerned that we are treading new group vs. copy-on-write (which I *think* has a large body of systems / literature).

[2020-10-01 23:15] dzimmanck commented on #36124
I have isolated the issue to the maybe_convert_objects() function in _libs/lib.pyx.  This is used in the _format_with_head() method of Index types and converts an array of IntEnums to array of basic ints in the process of formatting.

I can modify the Cython code so as NOT to convert IntEnums.  This seems like the most straightforward fix.  @TomAugspurger, thoughts?

[2020-10-01 23:20] jbrockmendel opened #36796 "API: disallow frame.__and__(other, axis="foo", fill_value="bar") etc"
For code-sharing purposes we re-use ops.arith_method_FRAME for both flex and non-flex methods.  As a result, the non-flex methods have the flex signature, and accept arguments not generally accepted by dunder methods.  We even have a few tests e.g.

[code]

in tests.frame.test_operators.

Should we disallow passing these arguments?  Is it relevant that we do _not_ have flex versions of and/or/xor?

[2020-10-02 00:17] RahulReady opened #36798 "Reading xml files not directly available in Pandas?"
- [ X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com). (There are workarounds to this, but this is a question to the devs)

---

#### Question about pandas
I have already figured out a workaround to reading xml files by using '**

[2020-10-02 00:18] mroeschke commented on #34617
@phofl yes I would expect this to raise like `df.rolling('30min').sum()` does with `ValueError: index must be monotonic`

[2020-10-02 00:21] mroeschke commented on #36798
Thanks for the suggestion. We have a duplicate request at https://github.com/pandas-dev/pandas/issues/27554

[2020-10-02 00:21] #36798 closed

[2020-10-02 00:57] mroeschke commented on #34315
@phofl your example is raising because you are using `8B` instead of `8D` which is the "equivalent" to `window=8`.

To the original issue, it's stated in the docs:

I suppose this should have raised a `NotImplemented` error instead of silently ignoring. Additionally, a PR would be welcome to implement the other bound types for fixed windows

[2020-10-02 01:38] Ajaydeep123 commented on #36411
Okay no issue, go ahead.

On Thu, 1 Oct 2020, 23:36 Ayushihelloworld, <notifications@github.com>
wrote:

[2020-10-02 02:15] mkowen1 commented on #32136
@Dr-Irv thanks for the info, I have updated to 1.1.2 and tried using `origin` parameter in `pd.Grouper`. This causes some differences from the previous 1.0.1 version, namely in the first group. However for `70ms` the issue still persists -- here is the output:

[code]

It seems non-intuitive that rows 5 and 6 would be their own group (num_group == 1), despite being "within 70ms" of rows 7, 8, 9 (n

[2020-10-02 04:35] torsive commented on #36782
Cool, I'll look into it.

[2020-10-02 09:12] simonjayhawkins commented on #36775
@dsaxton why is this milestoned 1.1.4. Does #36800 fix some existing formatting issues. test_nullable_float_to_string can't be backported (#34307 is an enhancement for 1.2)

[2020-10-02 09:17] jorisvandenbossche commented on #36775
Yeah, since nullable floats are only in master, this issue is also for master.

[2020-10-02 09:17] jorisvandenbossche commented on #36775
But fully agree on the actual bug report! We should indeed ensure that they look as floats

[2020-10-02 11:14] TomAugspurger commented on #36124
I think that maybe_convert_objects is used in other places, not just for
formatting. Changing it might break other things (or it might not).

On Thu, Oct 1, 2020 at 6:16 PM dzimmanck <notifications@github.com> wrote:

[2020-10-02 11:38] mvoitko commented on #36777
@dsaxton Any ideas about docs needed to be fixed first? I would like to contribute. I am also planning to hold a Hacktoberfest meetup and I am sure there would be some guys who would love to help pandas, so I would really appreciate it if you could make some kind of prioritized list of docs which should be fixed first.

[2020-10-02 12:20] mattkanwisher commented on #33971
A lot of machine vision is happening on the edge with Linux boxes. We are seeing hour+ installs of packages like pandas. Would be amazing to have aarch64 wheels

[2020-10-02 13:00] mattip commented on #33971
The work is taking place in this PR MacPython/pandas-wheels#99

[2020-10-02 13:14] JakobHenning commented on #12265
@alfonsomhc  I have now tried that, and even with `results.fetchmany(10)` my memory goes above 7 GB  (I have also tried with `execution_options={"stream_results":True}`

[2020-10-02 13:32] Dr-Irv commented on #32136
@mkowen1 The above is correct.  With `origin="start"`, the grouper uses the first time in the series as the origin.  You then chop up each 70 ms interval into chunks, and that determines the boundaries.  Look at this:
[code]

So group 1 begins at 2020-02-01 10:59:59.950000 and ends at 2020-02-01 11:00:00.020000

I think we can close this, but would like your confirmation.

[2020-10-02 13:48] ivanovmg opened #36805 "DOC: unclear kwarg null_counts"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.info.html?highlight=info#pandas.DataFrame.info

#### Documentation problem

Keyword ``null_counts`` from its name may be considered as a need to count null items.
However, the documentation explains that is quite the opposite - count **non-null** items.
I suggest to rename it with ``show_counts``

[2020-10-02 13:50] philsheard commented on #15986
I see that the Pendulum issue has been closed without a fix, so if anyone wants a workaround to this:

I did a roundtrip from Pendulum > ISO format > Pandas to avoid the internal lookup that causes the warning.

`converted_date = pandas.to_datetime(pendulum.today().isoformat())`

Not pretty but it will clean your error logs without hurting comprehension.

[2020-10-02 13:51] MarcoGorelli commented on #36805
I agree that it's a bit of a misnomer, but wouldn't renaming potentially break people's code?

[2020-10-02 14:00] ivanovmg commented on #36805
I suggest smooth transition to the new kwarg via the deprecation process, so that nobody's code gets broken right away.
We can start with throwing warnings that the old kwarg is deprecated and in version X.X will be removed.

[2020-10-02 14:06] MarcoGorelli commented on #36805
Might be worth it actually - I _think_ people are only likely to use `.info` in an interactive session, rather than as part of production code, so perhaps it is worth going through the deprecation process to make this argument clearer

[2020-10-02 14:25] dsaxton commented on #36777
That would be awesome, @erfannariman put together a list of files (thank you!) that I just added to the OP

[2020-10-02 14:28] samdoolin opened #36806 "BUG: resample inconsistency with closed left/right"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-10-02 14:38] Baelfur opened #36807 "ENH: read_csv(data_url, verify = False)"
#### Is your feature request related to a problem?

Pandas currently allows a csv to be opened from a URL, but does not allow you to set verify to false in the event that URL has an ssl certificate error.

#### Describe the solution you'd like

please add verify=false parameter to the pandas.read_csv() function when reading a file from a weburl.

#### API breaking implications

not sure

#### Desc

[2020-10-02 15:02] Adirio commented on #23200
**Note:** this issue refers to the arguments `start`, `periods`, `end` and `closed` which were deprecated in version 0.24.0 and are not present in the latest pandas version (1.1.2). Is there still any version receiving bug fixes that still implements these arguments?

The rest of this comment is using pandas version 0.23.4

I expected the following commands to give 10 results but some don't:

[cod

[2020-10-02 15:07] mkowen1 commented on #32136
Yeah I suspected that was the case, thank you for confirming.

[2020-10-02 15:07] #32136 closed

[2020-10-02 15:35] jbrockmendel commented on #23200
Use `pd.date_range`

[2020-10-02 15:47] samdoolin commented on #36806
bug is also present with `.resample('1A', ...)`

[2020-10-02 15:57] OlehKSS commented on #36596
This bug is related to https://github.com/numpy/numpy/issues/9464
I have opened a pull request fixing this issue #36808

[2020-10-02 16:31] erfannariman commented on #36777
As @dsaxton already mentioned [here](https://github.com/pandas-dev/pandas/issues/36777#issuecomment-702258346) the `user_guide` is probably a good place to start.

[2020-10-02 16:50] junjunjunk commented on #36251
take

[2020-10-02 16:52] dzimmanck commented on #36124
@TomAugspurger

Looking at the code, it looks like timedelta64 went through something similar, and thus added a "convert_timedelta" boolean which defaults to false.  I will take a similar approach and add a "convert_intenum" argument which defaults to false in maybe_convert_objects().

I baselined the test results before I started making changes, so I will be able to get a good sense if I broke an

[2020-10-02 17:34] #36764 closed

[2020-10-02 18:24] dzimmanck commented on #36124
Investigating the most Cythonic way to do the Enum type check.   I think I have a good idea but posted on stack overflow to get the best of the best:

https://stackoverflow.com/questions/64176420/what-is-the-best-way-to-check-of-an-object-is-an-enum-in-cython/64176519#64176519

[2020-10-02 18:31] #32724 closed

[2020-10-02 19:04] junjunjunk commented on #36251
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#slicing-with-labels
that the actual values of the index labels, and their natural comparison order and the elements between them in that natural order, do not matter for slicing; i.e. that a slice of 'Z':'A' is not empty but depends on the positions that the labels denote in the array. In all current documentation examples, the

[2020-10-02 20:35] #31302 closed

[2020-10-02 20:35] #35579 closed

[2020-10-02 21:12] #21581 closed

[2020-10-02 21:41] #36788 closed

[2020-10-02 21:47] phofl commented on #36806
I don't think this interpretation is correct. This seems to me as that the calendar month end if interpreted as the last day of the month, period. ``closed=left`` means, that this day is not included into the interval, ``closed=right`` means, that the complete day is included.

If you check the downsampling example in https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#basics (

[2020-10-02 22:35] mroeschke commented on #36794
Though there's redundancy, I am not sure that I'd totally classify it as a bug.

This behavior is consistent before I made changes to `groupby.rolling` it's own independent calculation (in version 1.0.0). Previously this operation under the hood was equivalent to `groupby.apply(lambda x.rolling(...))`

[code]

I think the MultiIndex levels should always be comprised by `[groupby levels, rolling in

[2020-10-02 22:39] #31487 closed

[2020-10-02 22:43] #20439 closed

[2020-10-02 22:59] #26182 closed

[2020-10-02 23:02] #35858 closed

[2020-10-02 23:03] dzimmanck opened #36819 "ENH:"
#### Is your feature request related to a problem?
This relates to #36124, but I think has other benefits.
[this should provide a description of what the problem is, e.g. "I wish I could use pandas to do [...]"]

#### Describe the solution you'd like
I would like pandas to infer an array of Enums as categorical data.  Today, IntEnums are turned into Ints, which is not ideal behavior.

[this should

[2020-10-02 23:03] Adirio commented on #23200
In version 1.1.2, `pd.date_range` has the exact same behavior as `pd.DatetimeIndex` in 0.23.4, so I guess this still aplies.

[2020-10-02 23:04] karasinski commented on #36777
It looks like the following are already compliant with blacken and flake8 and need no additional formatting.

**doc/source/development:**
-  contributing_docstring.rst
-  developer.rst

**doc/source/user_guide:**
-  boolean.rst
-  categorical.rst
-  index.rst
-  integer_na.rst
-  options.rst
-  reshaping.rst
- timedeltas.rst

[2020-10-02 23:08] #18000 closed

[2020-10-02 23:24] jreback commented on #10526
close in favor of #36688

[2020-10-02 23:24] #10526 closed

[2020-10-02 23:27] jreback commented on #36688
@martindurant can we pass these thru using `StorageOptions`?

[2020-10-02 23:28] jreback commented on #36807
duplicate of https://github.com/pandas-dev/pandas/issues/36688

I *think* we can pass these thru using `storage_options={'verify': False}`

[2020-10-02 23:28] #36807 closed

[2020-10-02 23:30] dzimmanck commented on #36124
OK, I completed the the fix and added a test.  Package still tests out.  Will submit a PR and see how it goes.

[2020-10-02 23:35] phofl commented on #36794
Thanks very much for the background information. Closing this issue.

[2020-10-02 23:35] #36794 closed

[2020-10-02 23:48] jreback commented on #36794
yep this makes sense
thanks @mroeschke

[2020-10-03 00:02] karasinski commented on #36777
Upon further inspection, it looks like doc/source/user_guide/text.rst is also fine as is.

[2020-10-03 00:59] #34225 closed

[2020-10-03 01:37] asishm commented on #33853
@josephernest

there is a parameter : `convert_float: bool, default True`.

**workaround:**
As a workaround you can set `convert_float=False`. It only works with the default engine (xlrd).

**openpyxl**

Note that this would still fail when using `engine='openpyxl`. It seems like openpyxl does its own internal int conversion when parsing the file as referenced in the traceback:

[code]

That is so

[2020-10-03 02:43] joelowj commented on #36806
I agree with @phofl

Using the example above, the 1 month bin range would be
1. 2010-12-31 to 2011-01-31
2. 2011-01-31 to 2011-02-28

Since label does not impact the results but merely the display, we can stick to `label='right'` for analysis.

If `closed='left'`, then for the 2 cases:
1. 2011-01-31 bin: 2010-12-31 <= date < 2011-01-31
2. 2011-02-28 bin: 2011-01-31 <= date < 2011-02-28

If `closed

[2020-10-03 05:21] rohitkg98 commented on #36758
Code might get a bit more verbose when chaining operators. for eg:

[code]
vs
[code]

Even more so with other operators:
[code]
vs
[code]

[code]
vs
[code]
sounds fine otherwise. Happy to make a PR if we do decide on deprecating.

[2020-10-03 06:22] mythrocks commented on #34466
Sorry for the late reply. Please correct me if I'm mistaken in any of the following:

With `pandas 1.1.2`, consider the dataframe from [my initial comment](https://github.com/pandas-dev/pandas/issues/34466#issuecomment-701236207):
[code]
Regardless of whether I use `min_periods=1` or `min_periods=0`, I seem to get the same result:
[code]
The inconsistency with the non-indexed series is disconcerti

[2020-10-03 06:30] mythrocks commented on #34466
@fujiaxiang, do I understand correctly that the following behaviour is the result of #30923?
[code]
All of this is quite similar to SQL. For instance, the same query in SparkSQL would be as follows:
[code]
An SQL windowed-count query is equivalent to Pandas', but with `min_periods=0`.

[2020-10-03 07:27] jorisvandenbossche commented on #28759
So #36795 fixed the inconsistency for df/ser comparisons compared to the others. Shall we close this then?
Otherwise, if someone further wants to look at changing the inconsistency between arithmetic and comparison ops, you will need to dig up the old discussions about this to find out the reasoning.

[2020-10-03 09:33] samdoolin commented on #36806
Thank you phofl and joelowj for your prompt and thoughtful comments.

If I write the bin intervals (as in joelowj's comment), with time included, where a square bracket = closed, and a round bracket = open, then we get...

`.resample('1M', closed='left', label='right')`
1. `[2010-12-31 00:00:00, 2011-01-31 00:00:00)`
2. `[2011-01-31 00:00:00, 2011-02-31 00:00:00)`

`.resample('1M', closed='right',

[2020-10-03 09:56] alisterburt opened #36827 "BUG: python engine in pd.read_csv fails to use header=None correctly"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example
For the following example file:
[code]

[code]

[code]

#### Problem description
Trying to read data_block_1 with the python eng

[2020-10-03 10:38] dverney opened #36828 "to_csv fails silently when writing to S3 (only 1 time out of 50,000)"
#### Code Sample, a copy-pastable example

[code]

#### Problem description

This code is executed by a lambda which is triggered every 10 seconds. This code works perfectly for days on end. But in rare cases, the writing of the csv file on the bucket s3 fails silently (approximately 1 time out of 50,000).
Does this relate to the following information provided by AWS "S3 Standard is designed for 9

[2020-10-03 10:39] sebimarkgraf commented on #28992
@bakitybacon Are you still working on this?
To me it seems like the test case from #31991 should already cover this scenario.

This issue could be closed as solved then.
If we decide to still add an additonal test, I would propose to add the position of the 0 as parameter to the other test case instead of introducing another test case.

[2020-10-03 10:41] Mikhaylov-yv commented on #36777
I fixed computation.rst
Hope everything is good

https://github.com/pandas-dev/pandas/pull/36829

[2020-10-03 10:50] senthilguna79 opened #36830 "QST: while trying to convert categorical variables which are ordinal , i ran the following code"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-10-03 10:51] erfannariman commented on #36777
Thanks, you committed your changes to your fork, next step is to create a pull request to the pandas repository so we can merge it.

[2020-10-03 11:07] charlesdong1991 commented on #32590
hey, @AleGuarnieri and @JulianWgs

thanks very much for your interests in working on it, however, as you noticed, there is an open PR which solves this issue, and probably it looks pretty much close to being merged

So feel free to look around other issues! thanks!

[2020-10-03 11:13] alisterburt commented on #36827
#### Small Update
I've confirmed locally that this problem is specific to the python engine and only in the case when trying to read single lines as DataFrames with `header=None`, the python engine behaves as expected when reading 2 or more lines

[2020-10-03 11:44] erfannariman commented on #36830
This ticket is not reviewable. If it's pure about usage, it's better to post your question on stackoverflow. Otherwise please edit your question with a reproducable example.

[2020-10-03 12:17] MarcoGorelli commented on #36830
Hi @senthilguna79

Closing as this is too far off from being a usable bug report, sorry

See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for how to report bugs - if you edit your issue accordingly and let us know, we'll reopen it

[2020-10-03 12:17] #36830 closed

[2020-10-03 13:24] hardikpnsp commented on #31861
@TAJD, are you still working on the test? I would like to contribute if otherwise.

[2020-10-03 13:31] TAJD commented on #31861
Please contribute! I'm no longer working on this.

[2020-10-03 14:15] skorani commented on #36777
I fixed visualization.rst

[2020-10-03 14:28] hardikpnsp commented on #31861
Take

[2020-10-03 14:48] Mikhaylov-yv commented on #36777
Sorry, did I do the right thing here or not? a3850c9

[2020-10-03 14:51] avinashpancham commented on #36344
take

[2020-10-03 15:02] Mikhaylov-yv commented on #32316
take

[2020-10-03 15:40] asishm commented on #36827
[code]

this section in `pandas/io/parsers.py` calls `_next_line()` 2 times which silently skips over blank lines and commented lines (if enabled) and don't get counted when `skipfooter` is implemented

which is simply done as
[code]

[code]
outputs

[code]

[2020-10-03 16:19] #28759 closed

[2020-10-03 16:20] dsaxton commented on #36777
That looks fine aside from the line wrapping of dtypes

[2020-10-03 16:21] junjunjunk commented on #35409
take

[2020-10-03 16:24] MarcusJellinghaus commented on #32075
Here is another example - at least I think it is the same bug:

[code]

[2020-10-03 16:25] avinashpancham commented on #36666
take

[2020-10-03 16:30] hardikpnsp commented on #31861
So far I have added a test for functionality similar to the one provided in the issue. Basically, test astype via loc on np.nan on `Int64, Int32 and Int16`. should I add tests for `pd.NA` too? Was adding a test for `Int32 and Int16` unnecessary? Also, do we need similar tests for `Series`? As I am quite new to this, I would appreciate some guidance.

[2020-10-03 17:05] junjunjunk commented on #35409
The following methods have the inplace keyword argument.
( I searched docs with "inplace" keyward. Please point out any omissions.)

### DataFrame
- [ ] pandas.DataFrame.backfill
- [ ] pandas.DataFrame.bfill
- [ ] pandas.DataFrame.clip
- [ ] pandas.DataFrame.drop
- [ ] pandas.DataFrame.drop_duplicates
- [ ] pandas.DataFrame.dropna
- [ ] pandas.DataFrame.eval
- [ ] pandas.DataFrame.ffill
- [ ] pand

[2020-10-03 17:10] PrayagS opened #36837 "Add hacktoberfest topic to the repo"
Hacktoberfest 2020 has undergone some changes due to the excessive spamming that occurred this year. The rules for a PR to be accepted have been modified. Detailed post on their official website can be found [here](https://hacktoberfest.digitalocean.com/hacktoberfest-update).

Here is the most important part for maintainers:

![](https://user-images.githubusercontent.com/44412790/94985906-ef5c9000

[2020-10-03 17:18] junjunjunk commented on #35409
I'm going to change the "returns" section of their docstrings as below.
[code]
to
[code]

If the docstring already has a similar description, does it need to be modified to make the description consistent?

[2020-10-03 17:35] junjunjunk commented on #35409
Then, in the example of https://pandas.pydata.org/docs/dev/reference/api/pandas.CategoricalIndex.add_categories.html?highlight=inplace , would be as follows.

[code]
to
[code]

[2020-10-03 17:40] junjunjunk commented on #35409
And I found the source link is wrong in https://pandas.pydata.org/docs/dev/reference/api/pandas.CategoricalIndex.add_categories.html .

Should This link jump to https://github.com/pandas-dev/pandas/blob/40daf00721f358105f744e8aad7b0c524d1c417b/pandas/core/arrays/categorical.py#L943 ?

In that case, we'll set up a separate issue and make corrections.
If corrections are needed, I'll set up a separat

[2020-10-03 18:17] #23452 closed

[2020-10-03 19:31] TomAugspurger commented on #11434
Mmm I'm not really sure what the expected behavior is now.

[2020-10-03 19:36] jbrockmendel commented on #19574
i dont recall having seen this recently.  is this still an issue?

[2020-10-03 19:41] jbrockmendel commented on #19204
closed by #36697

[2020-10-03 19:41] #19204 closed

[2020-10-03 19:56] TomAugspurger commented on #36819
This feels relatively expensive compared to the other dtypes we infer. We would need to track all the distinct types in `data`, extract the enum types, ensure that they're unique, and then extract the categories.

I'd prefer to make it easier to convert an Enum to a CategoricalDtype. Perhaps a `CategoricalDtype.from_enum` constructor.

[2020-10-03 19:59] jbrockmendel commented on #32760
Just tried this and I don't see the warnings from the OP, do see

[code]

[2020-10-03 20:17] avinashpancham commented on #14588
take

[2020-10-03 21:46] fokoid commented on #33478
Sounds like the refactoring part of this is still to be done. I can take a look if no one is working on it anymore.

[2020-10-03 22:19] avinashpancham commented on #16218
take

[2020-10-04 04:47] #28507 closed

[2020-10-04 05:00] hickmanw opened #36850 "DOC: `.loc` behavior undocumented for Index argument"
#### Location of the documentation

[pandas.Series.loc](https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.loc.html)

[pandas.DataFrame.loc](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.loc.html)

#### Documentation problem
The documentation does not mention `pandas.Index` as a valid argument for `.loc`. I expected the result to be the same as passing the values of

[2020-10-04 05:47] fangchenli commented on #36465
xref #34431

[2020-10-04 06:43] MarcoGorelli commented on #33478
Hi @fokoid , thanks for bringing my attention back to this - it looks like @rhshadrach has already done some excellent refactoring here, this function is now significantly simpler than it was when I opened this, so IMO we're OK to close

Nonetheless, there are many open issues to work on, any help there would be welcome!

[2020-10-04 06:43] #33478 closed

[2020-10-04 06:48] MarcoGorelli commented on #36837
Thanks for the suggestion @PrayagS

There's already lots of open pull requests, so I'd be hesitant to add the 'hacktoberfest' topic, but let's see what others say

[2020-10-04 07:33] Meghana-12 commented on #36777
Sure, thank you!

[2020-10-04 08:07] nixphix opened #36853 "DOC: Add freq strings reference link for Period"
#### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.Period.html

#### Documentation problem

The doc does not provide much information on the possible offset-aliases for the `freq` parameter

#### Suggested fix for documentation

A link to [offset-aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) for the `freq` para

[2020-10-04 08:36] Super169 opened #36855 "BUG: Column name is missing after concat if the key contain only one column of string data"
I'm going to develop a simple application to compare two dataframe with given keys (multiple index columns).
I need to generate 3 dataframe as below,
- final_1 : contain all rows in df1, plus empty row with keys in df2 only
- final_2 : contain all rows in df2, plus empty row with keys in df1 only
- compare_result: contain information of merge ('both','left_only','right_only'), together with column

[2020-10-04 09:39] junjunjunk commented on #10492
If this issue is still open, i'm going to take.
I'll add the following example and prose to https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing.
Anyone has more  improvements or comments, please let me know.

[code]

prose:
`iloc` distinguishes between different types of boolean indexing.  If the type of boolean indexing is `Series` , an error will be raised. For

[2020-10-04 10:34] feryah commented on #36614
Hi, thanks, this one solved my problem:

df = df.assign(Experience=df.groupby(["Job"])["Experience"]
              .apply(lambda g: pd.qcut(g.rank(method="first"), q=4, labels=levels, duplicates="drop"))
              )

[2020-10-04 10:34] #36614 closed

[2020-10-04 10:47] junjunjunk commented on #10492
take

[2020-10-04 10:58] joelowj commented on #36806
Yes, it looks consistent with how I interpret the parameter `closed` from the documentation.

Let's use the example you have provided to motivate our discussion. I have slightly modified the date range so that we can analyze

[code]

We can verify the consistency by manually slicing the dataframe based on the date range of the bin intervals which we have agree on.

If `closed='left'`:
[code]

If `

[2020-10-04 12:22] Meghana-12 commented on #36837
Hey, how about adding hacktoberfest label to the issues people (interested in contributing to the issue) ask for it? And of course only to the issues/PRs you feel are worthy of being part of hacktoberfest!

[2020-10-04 12:56] PrayagS commented on #36837
@Meghana-12 Sadly that wouldn't work as having `hacktoberfest` in the topics list is a primary requirement. Refer the link/pic in my OP.

[2020-10-04 13:03] Meghana-12 commented on #36837
Oh, I see... my bad!

[2020-10-04 14:50] rhshadrach commented on #36837
I don't see why having a lot of open PRs is a reason not to do this. We only need to tag as such when requested by the author, right? No need to do a systematic review of all PRs to tag.

[2020-10-04 15:00] MarcoGorelli commented on #36837
OK, sure - to be fair, if Hacktoberfest have changed their rules so that PRs need to be accepted to count, then the chances of being overloaded with
[code]
_should_ be reduced :smile:

[2020-10-04 15:07] rhshadrach commented on #35409
+1 on editing of docstrings, including making them consistent. It looks like you are right, and yes a separate issue should be raised.

[2020-10-04 15:13] Meghana-12 commented on #36837
Yeah, and the maintainers can always mark a PR invalid if necessary.

[2020-10-04 15:13] rhshadrach commented on #36507
@WillAyd @jreback @jorisvandenbossche @jbrockmendel Any thoughts here?

[2020-10-04 15:27] junjunjunk opened #36858 "DOC: the source link of CategoricalIndex's methods are wrong."
#### Location of the documentation

- [ ] https://pandas.pydata.org/docs/dev/reference/api/pandas.CategoricalIndex.add_categories.html
- [ ] https://pandas.pydata.org/docs/dev/reference/api/pandas.CategoricalIndex.rename_categories.html
- [ ] https://pandas.pydata.org/docs/dev/reference/api/pandas.CategoricalIndex.reorder_categories.html
- [ ] https://pandas.pydata.org/docs/dev/reference/api/panda

[2020-10-04 15:29] junjunjunk commented on #35409
Thank you for reply.
I raised an separate issue. https://github.com/pandas-dev/pandas/issues/36858

[2020-10-04 15:29] junjunjunk commented on #36858
take

[2020-10-04 16:33] dsaxton opened #36860 "CI: Continuous benchmarking"
I think it would be helpful if pandas had a set of performance benchmarks to run automatically during every CI run (it looks like there is something for the asvs, but it seems they almost never actually run?). It would reduce some of the friction involved in manually running the asv suite and pasting results as comments, and also help prevent certain things from slipping by just not thinking to ru

[2020-10-04 16:34] twoertwein opened #36861 "ENH: Rolling mode"
#### Is your feature request related to a problem?

I wish I could use pandas to do `df.rolling(window_size).mode()`. Similar to #12430.

#### Describe the solution you'd like

All rolling methods in pandas seem to be implemented in cython. I implemented a working draft  for rolling mode in cython (I'm new to cython).

Before continuing my implementation, I would like some feedback:

1. What type

[2020-10-04 17:10] jreback commented on #36860
this is nearly impossible to do because you actually want to run the entire benchmark suite and not just a few

if you could configure to run a subset then it could at least be manually triggered (arrow does this)

but -1 on rewriting benchmarks themselves

[2020-10-04 17:13] jreback commented on #36861
this is likely to be much easier in numba

[2020-10-04 17:46] dsaxton commented on #36837
It's true that there are a lot of open PRs, but there are even more open issues (many marked as "good first issue"). I also wouldn't want to discourage people who started contributing due to Hacktoberfest before DigitalOcean changed the rules.

It isn't too hard to close obvious spam PRs, and I suppose could always remove the topic if things get really out of control.

[2020-10-04 17:59] twoertwein commented on #36861
I had a brief look at numba (I haven't used it before). I'm not sure whether it would be a good fit since we need to have a dict-like object for [this algorithm](https://cs.stackexchange.com/a/96768) which [numba doesn't seem to support](https://numba.pydata.org/numba-doc/latest/reference/pysupported.html).

[2020-10-04 18:10] dsaxton commented on #36860
Might be possible using workflow_dispatch: https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

[2020-10-04 18:14] skorani commented on #36777
timedeltas.rst and timeseries.rst are fixed.

[2020-10-04 18:31] phofl commented on #36855
Hey, thanks for your report.

I don't understand what actually is the issue. With ``key_columns=["org_code"]`` or ``key_columns=["user_name"]`` the index has the appropriate name.

Could you please write down a Code snippet reproducing the bug without all the noise around it? You write ``df_all`` is the issue, then all following lines are not needed? (https://matthewrocklin.com/blog/work/2018/02/2

[2020-10-04 18:40] shaunc opened #36866 "BUG: rolling.apply substitutes for applied function"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]
results in:
[code

[2020-10-04 18:44] shaunc commented on #36866
Oops ... didn't see the "raw" parameter!

[2020-10-04 18:44] #36866 closed

[2020-10-04 19:02] fdq09eca opened #36868 "conflict with PyPDF2?"
I am not sure if it is a bug of pandas or mine.
but when I test my code I have the following peculiar error: **an error that disappears if I run again the exact same line of code of pandas**
After I successfully ran my code, I try the following block of code
[code]
and it hit an error, strange is that the code block behaves as expected if I try it again after it hit the error, see below
[code]
but

[2020-10-04 20:13] #32316 closed

[2020-10-04 21:40] Liam3851 commented on #36868
Do next time try to create a _minimal_ example.

However by the look of your stack trace it appears perhaps PyPDF2 is adding a warnings hook. Note you call pandas, which calls builtin warnings, which then somehow is ending up in PyPDF2:

[code]

I see this in the pypdf2 source which is raising (note the comment):

[code]

It looks like Pandas is trying to raise you a warning, and the PyPDF2 custom

[2020-10-04 22:03] phofl commented on #36785
Hi, thanks for your report.

This was introduced by 91802a9ae400830f9eaadd395f6a9b40cdd92ee5
cc @jbrockmendel

The bug occurs in
https://github.com/pandas-dev/pandas/blob/b76031dd0ffd056fef31faf1ec63cc2a4c01605b/pandas/core/apply.py#L411
The array has dtype object and changes the dtype of the BlockManager.
Would using ``sanitize_array`` be a good solution here? This was used before to convert the

[2020-10-04 22:10] jreback commented on #36785
this is extremely strange to do and unless you can demonstrate that this is a real case -1
on any change

why are you not just directly using to_datetime? what is the point of apply here at all?

[2020-10-04 22:32] phofl commented on #36785
@jreback

The first apply is not the problem. The following

[code]

raises

[code]

[2020-10-04 22:54] fdq09eca commented on #36868
@Liam3851 Thank you for answering, is there any chance to suppress the warning?

[2020-10-05 00:19] mroeschke commented on #13969
I think this issue can be closed as the VariableOffsetWindowIndexer was added to handle non-fixed offsets. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.api.indexers.VariableOffsetWindowIndexer.html

[2020-10-05 00:19] #13969 closed

[2020-10-05 00:39] mroeschke commented on #22719
I think this may be fixed on master now. Tested on Google Colab (Linux) and worked okay

[code]

[2020-10-05 00:41] mroeschke commented on #23335
Closing as a duplicate of https://github.com/pandas-dev/pandas/issues/20712

[2020-10-05 00:41] #23335 closed

[2020-10-05 00:56] mroeschke commented on #24295
Since there is a `rolling.__iter__` method now, you can get the `ith` window by iterating over the object and yielding at the `ith` element.

I believe that should suffice the requirement and not necessary worth an auxiliary method. Can reopen this issue if more discussion is needed.

[2020-10-05 00:56] #24295 closed

[2020-10-05 01:00] mroeschke commented on #25689
I think this level of numeric precision is outside of pandas' control. Chalking this to expected floating point numerical precision

[2020-10-05 01:00] #25689 closed

[2020-10-05 01:08] mroeschke commented on #28266
This looks fixed on master. Could use a test

[code]

[2020-10-05 01:21] mroeschke commented on #34685
I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/28333, closing.

[2020-10-05 01:21] #34685 closed

[2020-10-05 02:18] TusakaRin commented on #28266
After updating to 1.0.5, it works perfectly well, thanks a lot!

[2020-10-05 03:33] Sal2912 commented on #34251
I have a similar error for a file I am trying to read as excel. Please find the full traceback to the error below and the version of Pandas used is 1.0.3

  File "/Users/salonishah/Desktop/Python Programs/Sanmina data manipulation.py", line 6, in <module>
    print(df.loc((df['Part Description'] == 'MC PCB')))
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pa

[2020-10-05 03:49] Iqrar99 opened #36874 "DOC: GL01 errors in shared_docs.py"
#### Location of the documentation

[`shared_docs.py`](https://github.com/pandas-dev/pandas/blob/master/pandas/core/shared_docs.py)

https://github.com/pandas-dev/pandas/blob/32d79ef46621de51e13732690c2e52566a5c67b6/pandas/core/shared_docs.py#L6-L8

https://github.com/pandas-dev/pandas/blob/32d79ef46621de51e13732690c2e52566a5c67b6/pandas/core/shared_docs.py#L48-L50

https://github.com/pandas-dev/p

[2020-10-05 04:25] arw2019 commented on #36637
just flaky - no longer failing

[2020-10-05 04:25] #36637 closed

[2020-10-05 08:09] MarcoGorelli opened #36879 "Update flake8 to 3.8.4 in pre-commit-config.yaml"
Steps here are:

- upgrade flake8 in `.pre-commit-config.yaml`
- run `pre-commit run flake8 --all`

If everything passes, open a PR. If there's some error, let us know

Comment `take` if you want to work on this

[2020-10-05 08:51] Tazminia commented on #36879
take

[2020-10-05 09:15] samdoolin commented on #36806
thank you again joelowj for a further clear response.

The bin intervals are half-open intervals (closed on one side, open on the other side). The technicality is that a closed-right interval should not contain the left bin edge, but should contain the right bin edge. `(open-left, closed-right]`. However with `.resample('1M', closed='right')` the bin intervals are closed-left / open-right, as we h

[2020-10-05 09:32] ThewBear opened #36880 "BUG: any() and all() behavior on string series is different from python"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Python returns boolean not the value. So we should follow that.
https://stackoverflow.com/que

[2020-10-05 09:46] syejing opened #36881 "Why prompt me “name 'pd' is not defined”"
### Question about pandas

I have customized a Python interpreter, on which I try to run pandas's apply method, but when executing this method, there will be an exception. I don't know why, who knows why

[code]
File "<zmq-kernel>", line 1, in <module>
File "/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 6878, in apply return op.get_result()
File "/usr/local/anaconda3

[2020-10-05 09:49] simonjayhawkins commented on #28266
Thanks @TusakaRin for confirming.

will leave this issue open until regression tests have been added to test suite.