[2020-01-31 16:45] s-scherrer commented on #26288
I investigated this issue a bit, and I believe the issue is in `concat_compat` in  pandas/core/dtypes/concat.py:

Using the provided example, the value of `typs` in line 103 is `{'sparse', 'datetime'}`.

Further on we check whether `typs` contains `'datetime'` before checking for `'sparse'`. The provided example runs successfully if I change the order of the elif-clauses, but I didn't run any othe

[2020-01-31 16:52] RicardoHS commented on #31498
[Someting similar to the dataframe method.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html) Anyway, this is just an idea to handle mixing types in object column.

[code]

[2020-01-31 16:58] jorisvandenbossche commented on #31501
@davidia Thanks for the report! That's indeed a regression, tagged it for the 1.0.1 milestone.

[2020-01-31 17:03] jorisvandenbossche commented on #31499
Yes, in 0.25.3 this worked.

At least, it gives a categorical with object categories with those numpy strings (but with Series constructor, we also preserve the numpy strings, and don't convert to python strings, so that seems the "expected" behaviour).

[2020-01-31 17:09] tdpetrou opened #31503 "API: query / boolean selection with nullable dtypes with NAs"
#### Code Sample

Create a dataframe with nullable integer, string, and float data types.

[code]

|    | a    | b     |   a_float |
|---:|:-----|:------|----------:|
|  0 | 1    | rain  |       1.1 |
|  1 | 3    | shine |       3.3 |
|  2 | `<NA>` | `<NA>`  |     nan   |

Verify data types and attempt to use `query`

[code]
|    |   a | b     |   a_float |
|---:|----:|:------|----------:|
|  1 |

[2020-01-31 17:11] TomAugspurger opened #31504 "IntervalArray[datetime64[ns]].shift() raises TypeError"
#### Code Sample, a copy-pastable example if possible

With pandas 0.25.3 or master,

[code]
#### Problem description

We should be able to preserve the interval dtype, by placing NaT.

#### Expected Output

[code]

[2020-01-31 17:13] TomAugspurger commented on #31504
A few changes that need to happen:

1. IntervalDtype.na_value should be `na_value_for_dtype(self.subtype)`. So for IntervalArray[datetime64[ns]], that would be NaT.
2. `intervals_to_interval_bounds`, and likely other places, would need to handle NaT in additional to nan. Without this, `IntervalArray._from_sequnce([pd.NaT])` fails.
3. ...

[2020-01-31 17:14] davidia commented on #31501
My pleasure, thanks for all the awesome work!

[2020-01-31 17:18] jorisvandenbossche commented on #31499
My guess is that it's related to https://github.com/pandas-dev/pandas/pull/30419 which changed `get_c_string` implementation (which is used in StringHashTable to get the c string from the string object) cc @jbrockmendel

[2020-01-31 17:21] fwitte commented on #31447
Hi,
this is happening similarly to me, but in my case it affects pure boolean columns:
[code]
correctly yields
[code]
while
[code]
results in this:
[code]

#### Output of ``pd.show_versions()``

<details>

commit           : None
python           : 3.6.7.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-76-generic
machine          : x86_64
processor        : x86_64
b

[2020-01-31 17:21] jorisvandenbossche commented on #31495
Ah, this also worked (partly) in 0.25 because there was not yet interval dtype inference in the Series constructor ..

[2020-01-31 17:21] TomAugspurger commented on #31503
Can you include the full tracebacks? That helps show where things are failing. I'm seeing different exceptions in an environment with numexpr.

[code]

We've defined NA such that it propagates in comparison operations. There was a sizable discussion on it if you go back to the original issue, and we reached consensus that propagating was the best.

[code]

Not saying that can't change, since NA is

[2020-01-31 17:25] TomAugspurger commented on #31498
Mmm, I don't know if that justifies a top-level method. The filtering of rows seems strange to me. More typically you would do the conversion using something like `to_numeric` and have options to convert invalid values to some kind of NA value.

[2020-01-31 17:32] jorisvandenbossche commented on #31503
And in addition also the indexing behaviour with missing values.

So the behaviour you see for boolean masking with missing values is the consequence of two things:

* The comparison operation step propagates missing values
* The indexing step raises on missing values

And both are open for discussion (as Tom noted, there is a reason this is experimental). But I personally think it is rather the s

[2020-01-31 17:32] TomAugspurger commented on #31447
Taking a look at this now.

[2020-01-31 17:39] TomAugspurger commented on #31447
I think https://github.com/pandas-dev/pandas/pull/30146 is the bug. That will truncate the values to the length of `na_rep`, regardless of the length of the string repr values.

[2020-01-31 17:41] tdpetrou commented on #31503
@TomAugspurger - Edited post to include traceback

This is going to be extraordinarily confusing for users and an absolute pain to have all these data types with all these different behaviors when filtering with missing values.

How is anybody going to reasonably use nullable integers to filter their data? Convert back to float first?

Users are going to be so confused that nullable integers filte

[2020-01-31 17:45] DomKennedy opened #31505 "REGR: `copy()` within `apply()` raises ValueError: cannot create a DatetimeTZBlock without a tz, as of 1.0.0"
#### Code Sample, a copy-pastable example if possible

Minimal example:
[code]

Real-life usage:
[code]

Exception:
[code]
#### Problem description

Essentially, the problem arises when `.copy()` is called from with an `.apply` call, on a row/column of a DataFrame which:
* has dtype `object`
* consists solely of tz-aware `Timestamp` objects

While this seems like a fairly artificial set of conditi

[2020-01-31 17:49] jorisvandenbossche commented on #31503
This seems a bug, it should be consistent with boolean selection `df[df['b'] == 'rain']`

There is no need to convert to a float. You can still filter with missing values, but for now you need to be explicit how to treat missing values (with fillna), as I explained above. But to be clear, this is not set in stone. Feedback is very valuable, but so let's discuss the specifics.

[2020-01-31 17:51] tturocy opened #31507 "json_normalize in 1.0.0 with meta path specified - expects iterable"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Through 0.25.3, this program generates a DataFrame with one row.  In 1.0.0 it fails with an exception:

[code]

I don't see any documentation changes that suggest a backwards-incompatible change.  All my calls to `json_normalize` that don't use `meta` function as before.

#### Expected Output

Through 0.25.3, t

[2020-01-31 17:53] RicardoHS commented on #31498
I'm agree, when I face this problem I use to use `Dataframe.apply()` method with a simple nested lambda inside. Also sometimes I use some vectorized methods like `to_numeric` as you said, and I'm sure that other people use other workarounds but it is sure that there is no 'official' way to deal with.

The way of how to deal with this is not a problem, I have found complications when I have multipl

[2020-01-31 18:05] TomAugspurger commented on #31503
And it's important to distinguish the two operations here. We have

[code]

Changing the behavior of NA in comparisons just (or primarily) for indexing isn't warranted IMO. There are situations where I'm doing a comparison operation not followed by indexing, and I'd like the NA to propagate.

So IMO the focus should be on the behavior of NA in indexing. @tdpetrou would you be able to go through th

[2020-01-31 18:11] s-scherrer commented on #29487
This might really be an issue with `np.bool_`:

[code]

Summing `np.bool_` and `bool` or another `np.bool_` always returns a single instance of `np.bool_`, therefore a continuous sequence of `bool` and `np.bool_` at the begin collapses to a single `np.bool_`.

[2020-01-31 18:15] Dr-Irv commented on #31459
So the reason that I found this is I had a dataset where I was doing different cuts, and counting the size of each cut, and wanted to use `pd.concat` to put the results in one DataFrame.  Here is an example (not from my real data):
[code]

This was the first time that I used `pd.cut`, so I _expected_ the index after the `groupby()` to be an `IntervalIndex` and the `pd.concat` to work.   And, the `

[2020-01-31 18:25] dsaxton commented on #31503
My two cents: I think a sensible default would be to treat NA as False when filtering (so we only select values that are _definitely_ true). This would be the same as a typical where clause in SQL, and in my opinion is generally what people want when they filter data.

[2020-01-31 18:29] tdpetrou commented on #31503
@TomAugspurger Agreed - NA comparisons should remain NA. For indexing, NA's should be treated as False. Problems solved. It would dramatically simplify things for the user. There are many reasons for this.

• Matches behavior of old pandas types
• Matches SQL
• Prevents you from having to fill in missing values (which you often don't know)  - people would fill these in with garbage just to make th

[2020-01-31 18:35] TomAugspurger commented on #31503
Try to keep things respectful... We put a good amount of discussion into this. My recollection is that raising seemed the safest thing to do for now, in part because it matches the behavior of NaN, and in part because it left open the door to specifying a behavior later on.

---

Can you clarify that? When indexing with NaNs, NumPy (or pandas) will raise, right?

[2020-01-31 18:38] TomAugspurger commented on #31503
This does make a ton of sense for boolean masking. Keep in mind, though, that our `__getitem__` also allows fancy indexing (list of integers). What is the expected behavior of

[code]

It's not at all clear to me that the `NA` should be treated as False there. When you index with a list of integers, you'd expect the output shape to match the shape of the indexer, right?

Would it be strange to tre

[2020-01-31 18:40] jorisvandenbossche commented on #31503
@dsaxton Thanks for the input!

@TomAugspurger but you typically didn't get booleans with missing values, as the comparison didn't result in them. So for the combined workflow (comparison + boolean indexing), it mostly matches old behaviour

@tdpetrou this is not absurd. We are adding those dtypes because we want to improve things, and yes, that means they don't behave exactly the same as the old

[2020-01-31 18:42] jorisvandenbossche commented on #31503
@TomAugspurger I think @dsaxton was speaking about boolean indexing. In integer positional indexing, I think we should continue raising an error. It gives some inconsistency, but I personally think that would be fine.

[2020-01-31 18:51] tdpetrou commented on #31503
Here's my final feedback on this - For filtering, NAs should be equivalent to false and would be very difficult to do if all data types exhibited the same behavior.

[2020-01-31 18:55] WillAyd opened #31514 "json_normalize Doc Broken"
First google result for json_normalize will yield:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html

This however is a dead link. I think the issue is we moved json_normalize to the top-level pd.namespace, so this works:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html

The former should redirect to the latter

[2020-01-31 18:56] WillAyd commented on #31507
Looks buggy - investigation and PRs would certainly be welcome!

[2020-01-31 19:15] MarcoGorelli commented on #26683
There's a section in the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#running-the-performance-test-suite)

[2020-01-31 19:22] jbrockmendel commented on #31469
I'll start a branch reverting the lines @jorisvandenbossche identified and open a PR after confirming that fixes this.

After this is fixed for 1.0.1, we should discuss deprecating the surprising behavior.

[2020-01-31 19:36] TomAugspurger commented on #31503
If people are OK with this, then I'm on board to. I think the inconsistency is OK, since we're saying the dtype of the array is what determines the behavior, rather than the values.

cc @jbrockmendel @jreback for thoughts. I think the summary is that NA be treated as False in `__getitem__` when doing a boolean mask. In all other cases (notably, positional indexing with an IntegerArray) we'd contin

[2020-01-31 19:43] tdpetrou opened #31516 "query works for string data type columns with missing values but not for boolean indexing"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is specific bug found from discussion in #31503. The new string data type should fail for any `query` call where there are missing values in the evaluated condition. It correctly fails for boolean indexing and for inequality conditions in `query`

#### Expected Output

`df.query('a == "asdf"')` should fail

[2020-01-31 19:43] scottboston opened #31517 "pd.DataFrame.replace doesn't work after converting to new dtypes in 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

pd.DataFrame.replace is not working after using pd.DataFrame.convert_dtypes.

Stack trace:
[code]

#### Expected Output
Should work just like it does before using pd.DataFrame.convert_dtypes.

[code]
|    |   grp |
|---:|------:|
|  0 |    10 |
|  1 |     2 |
|  2 |     3 |
|  3 |     4 |
|  4 |     5 |
[code]

[2020-01-31 19:48] charlesdong1991 commented on #31517
thanks for posting your issue @scottboston
this is indeed a regression issue. Seem to be fixed by #31484

[2020-01-31 19:51] TomAugspurger commented on #31457
Taking a look at this now.

[2020-01-31 19:57] s-scherrer commented on #31414
I have the same issue here:
[code]
As @dougvj mentioned, running replace a second time works:
[code]
However, if the replacement dictionary contains a replacement pair that will actually replace something, it doesn't work anymore:
[code]
Replacing something else will also turn `None`s back to `Nan`s:
[code]

So the issue here is probably that replace converts `None` to `NaN`.

[2020-01-31 20:01] TomAugspurger commented on #31457
Oh, it seems that numexpr doesn't support timedeltas (https://numexpr.readthedocs.io/en/latest/user_guide.html#datatypes-supported-internally) so we shouldn't even be taking that path.

[2020-01-31 20:05] jbrockmendel commented on #31503
I'm fine with this, but would propose going a half-step further and have `NA.__bool__` return `False` instead of raising.  This would keep the scalar behavior consistent with the array-element behavior.

It would also prevent a ton of problems that will come up when users start getting pd.NA as the name of an Index/Series, xref #31227.

[2020-01-31 20:08] TomAugspurger commented on #31503
What kind of operation gets you NA as the name?

On Fri, Jan 31, 2020 at 2:05 PM jbrockmendel <notifications@github.com>
wrote:

[2020-01-31 20:09] TomAugspurger commented on #31457
@jbrockmendel do you have a suggestion on where we should bail out of numexpr? Seems like `expressions._bool_arith_check` is about the right place, but I'm not sure...

[2020-01-31 20:09] tturocy commented on #31507
It looks like this may have been introduced with pull request #30145.

[2020-01-31 20:10] jbrockmendel commented on #31503
If you can get NA in the index of a DataFrame, then `df.iloc[n]` gives a Series with NA as the name.  Or is getting NA in an Index something we want to rule out (or deem unlikely)?

[2020-01-31 20:20] jbrockmendel commented on #31457
That's a reasonable place to do it.  The others that come to mind are

- array_ops L189 when checking for Timestamp, also check for Timedelta
- array_ops L152 when catching TypeError, also catch ValueError (or maybe try to catch just _this_ ValueError)

If no one beats me to it, I expect I'll use the L189 option.

[2020-01-31 20:26] seth-p commented on #31501
Note that slicing with `datetime` objects *does* work. See https://github.com/pydata/xarray/issues/3736#issuecomment-580870884.

[2020-01-31 20:32] TomAugspurger commented on #31457
I'd much prefer the first option, rather than catching a ValueError.

Also, before I open an issue about it, do you have thoughts on whether we should only allow (numpy) arrays and scalars in `evaluate_numexpr`? I was a bit surprised to see that it accepts DataFrames too (we do a `.values` before handing it off to numexpr). It'd be nice to be able to do `np.result_type(a, b)` and know that the res

[2020-01-31 20:35] TomAugspurger commented on #31503
It's allowed right now, but the semantics of it aren't well fleshed out. Regardless, I think we have a proposal for boolean masking. We can discuss `NA.__bool__` in a dedicated issue.

[2020-01-31 20:40] TomAugspurger commented on #31491
The difference between 50 and 51 is from the caching we do in to_datetime https://github.com/pandas-dev/pandas/blob/ba08390348403a0bddbfed835549982188e7038c/pandas/core/tools/datetimes.py#L98-L101

[2020-01-31 20:46] TomAugspurger commented on #31491
The bug is in unique

[code]

So we should either handle non-ns datetimes there, or convert to ns before calling it.

[2020-01-31 20:46] jbrockmendel commented on #31499
maybe if we're lucky it will be good enough to change L706 in hashtable_class_helper.pxi.in from `v = get_c_string(val)` to `v = get_c_string(<str>val)`, but this is really a PITA because the previous line is precisely a check for `isintance(val, str)` which is True for np.str_ objects

[2020-01-31 20:49] charlesdong1991 commented on #31422
@DigitalPig May I ask which version of pandas did you use when running `test.groupby(['col1']).sum(sdfsdf=1)`? Somehow, I could not be able to reproduce it (or at least on master)

[2020-01-31 20:56] jbrockmendel commented on #31457
I dont have a strong opinion about the scalars, but we should definitely avoid getting to evaluate_numexpr with Series/Index/DataFrame.  The most obvious offender here is dispatch_to_series which I think doesn't need to be calling expressions.evaluate.

Ideally I think some of the checks for can-we-use-numexpr should make their way to the Block level, since that can cache/skip some of the length/d

[2020-01-31 20:58] jbrockmendel commented on #31441
I think this is caused by #28662, cc @dsaxton.

[2020-01-31 21:04] jbrockmendel commented on #31449
on indexing.py L896 we shouldn't be calling `idx = index._convert_slice_indexer(idx)` unless we have a slice.  Adding a `if isinstance(idx, slice):` check before that line appears to fix the error in the OP.

[2020-01-31 21:07] getsanjeevdubey commented on #31441
@jbrockmendel Any immediate solutions, is it fixed in other versions like 0.25.1

[2020-01-31 21:10] jorisvandenbossche commented on #31449
Yep, indeed, it's what `_convert_slice_indexer` did itself before #27883, but it makes sense to do the check before calling the function

[2020-01-31 21:26] TomAugspurger commented on #31491
Still working on this. Getting closer, but turned up a second issue with `errors='coerce'` and OOB timestamps.

[2020-01-31 21:28] dsaxton commented on #31441
I think you're right. The implicit assumption there was apparently that `piece` would be a `pandas` object, but as the list example shows that doesn't have to be true.

[2020-01-31 21:47] xoolive commented on #25508
With pandas 1.0.0, I had to adapt my fix to this one...
Maybe it is not the proper way to do it.

[code]

[2020-01-31 21:54] TomAugspurger commented on #31501
Looking into this now.

[2020-01-31 22:00] s-scherrer commented on #29024
Most of this is caused by `BlockManager.replace_list` in `pandas/core/internals/managers.py`:

First of all, this function does not differentiate between NaN and NaT, which explains your first and second result.

The other issue is the switching between NaN and None in the "Value" column when calling replace multiple times. For this we have to consider in more detail how pandas actually replaces v

[2020-01-31 22:17] Strateus commented on #22613
Any updates? Still getting it as of today with 0.25.3, have not tried 1.0.0 though

[2020-01-31 22:28] s-scherrer commented on #31474
This is caused by this:

[code]

If we would raise an `AttributeError` here instead of `NotImplementedError` then `inspect.getmembers` should work.

[2020-01-31 22:37] charlesdong1991 commented on #31507
are you into fixing it? @tturocy otherwise, i could take this one

Before working on it, I would like to clarify the correct behaviour @WillAyd
So checking #30145 it seems we should have iterable as values for records, which I do not think is correct, since `{["foo": 1]}` should also be a valid json. Then why only `Iterable` is allowed? i might miss discussions/information from #30145

[2020-01-31 22:42] WillAyd commented on #31507
@charlesdong1991 keep in mind that json normalizing and json parsing are not the same. I think your question is if `record_path` needs to point to something "iterable", in which case I believe the answer is yes. That same stipulation doesn't need to apply to `meta` though

[2020-01-31 22:43] pfyffe commented on #29965
My issue seems to be due to a difference between the csv file format produced by a php script that causes the column heading to be right-shifted one column. If I open the file in Excel, then save it, the column rendering is correct. The recreate files are Network_1x1.csv and Network_1x1_excel.csv respectively. Maybe this is a different issue to that of Intheelement?

![image](https://user-images.g

[2020-01-31 22:44] marcevrard opened #31522 "AssertionError when grouping with max/min as aggregation functions (pandas-1.0.0)"
#### Code Sample

[code]
#### Problem description

Since `pandas-1.0.0`, an `AssertionError` is thrown when grouping a `DataFrame` by a key and using `max`/`min` as aggregation functions. It works fine if only 1 key (other than the grouping key) is of the type `object` in the DataFrame, but it doesn't when the number of keys of type `object` is bigger than 1 (as shown in the example). This configu

[2020-01-31 22:46] charlesdong1991 commented on #31507
Ah, yeah, thanks for your quick reply @WillAyd , my doubt was indeed why both have to be `iterable`, and it's clear to me now!

[2020-01-31 22:59] TomAugspurger commented on #31522
Thanks for the report. That assert is from https://github.com/pandas-dev/pandas/pull/29035 (cc @jbrockmendel)

We do min on object dtype, which is NotImplemented in Cython, so fall back to the python agg. Then in

[code]

the ` assert len(result._data.blocks) == 1 fails

[code]

and we fall through to the `finally` with a DataFrame.

FYI @marcevrard , we publish release candidates and nightly buil

[2020-01-31 23:02] TomAugspurger commented on #31522
I guess the faulty assumption is that a groupby aggregation on an single Block won't split it into multiple blocks. This apparently isn't true for object blocks

[code]

[2020-01-31 23:04] TomAugspurger opened #31523 "RLS: 1.0.1"
A decent number of regressions have been reported on 1.0.0. I think we should target 1.0.1 for sometime early next week. Perhaps on Tuesday, depending on how much progress we make on the regressions.

cc @pandas-dev/pandas-core.

make sure these are [backported](
https://github.com/pandas-dev/pandas/pulls?q=is%3Apr+label%3A%22Still+Needs+Manual+Backport%22)

[2020-01-31 23:41] GrugLife commented on #30999
Hello - I would like to work on:

pandas/tests/arithmetic/test_period.py
pandas/tests/arithmetic/test_timedelta64.py

[2020-02-01 00:13] gfyoung commented on #22613
To best of my knowledge, this issue has not been fixed yet (you should try out `1.0.0` or our `master` branch to confirm).  However, we definitely are open to fixes for this!

[2020-02-01 01:50] jreback commented on #31523
sgtm going to review open things tomorrow

[2020-02-01 02:02] jreback commented on #31441
use a try/except around the .copy(..)

will fix this (and use deepcopy in the except

[2020-02-01 02:05] Cardosaum opened #31526 "DOC: 10 minutes - <TAB> completion section showing inconsistent suggestions"
#### Code Sample, a copy-pastable example if possible

From the very end of the section "[Object Creation](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#object-creation)"
[code]
And the following text:
[code]

#### Problem description
In the text we read that columns `A`, `B`, `C` and  `D` are shown. However, `df2.B` isn't shown at all

#### Expected Output

I think we co

[2020-02-01 03:08] jbrockmendel commented on #31522
I guess _split_and_operate would have to be called in there somehow.  Easiest solution would be to raise TypeError, which should revert to the previous behavior.  Longer-term we probably should be handling that case without raising.

[2020-02-01 03:09] jbrockmendel commented on #31478
Looks like it isnt.
[code]

[2020-02-01 03:17] jbrockmendel commented on #31487
I think I started refactoring the arithmetic code about 2 years ago, and dont remember the described behavior existing at the time.

The described behavior does seem analogous to the slicing special-casing xref #31476.

[2020-02-01 03:26] RichardBruskiewich commented on #31474
Yes, that would be a solution. It would fix the `inspect.getmembers` call for sure.  I don't know if there are any other exception contexts where this Exception would matter but that's a primary one.

Can you directly fix this or should I issue a pull request on the change?

[2020-02-01 07:37] getsanjeevdubey commented on #27596
@TomAugspurger @cottrell Is this fixed, whats the work around? Please help.

[2020-02-01 07:40] s-scherrer commented on #31474
I guess you can issue a pull request, I'm not a pandas developer either.

[2020-02-01 07:46] tturocy commented on #31507
Thank you for picking this up @charlesdong1991 !

[2020-02-01 08:38] Koustav-Samaddar commented on #31504
Hi Tom, this seems like an interesting problem to solve.

I was able to repro the bug and then went on to create a simpler example using interval[int64] isntead of using DateTime to get a better understanding of the problem. However, this also failed. Just wanted to check if the code snippet I tried is legal.

[code]

[2020-02-01 08:50] charlesdong1991 commented on #31526
thanks @Cardosaum  sounds reasonable, this shows subset, and could replace `d2.D` with `d2.B` and update the text below

Wanna help improve it? ^^ PR is welcome!

[2020-02-01 08:53] mslapek commented on #30621
**TL;DR** I postulate to close this issue - to not pollute this repo.

When I've opened this issue, my guess was that it could be resolved without breaking changes. However, it is not the case.

@TomAugspurger Thanks for quick reply after issue opening (< 24h), it shows high quality of `pandas` project.

[2020-02-01 09:56] lucatrv opened #31530 "`style` settings overwrite all `display` settings"
The following code reproduces the issue:

[code]

Output:
![image](https://user-images.githubusercontent.com/8380499/73590262-c1064c80-44e0-11ea-90b8-aca4c55d243c.png)

IMHO `style.hide_index()` should not overwrite the previous `display.float_format` setting, only `style.format` should do it.

[2020-02-01 09:57] MarcoGorelli commented on #31441
Tried that, but then `pandas/tests/plotting/test_groupby.py::TestDataFrameGroupByPlots.test_plot_kwargs` fails

[2020-02-01 10:14] glemaitre opened #31531 "DOC issue of rendering for the docsting of pd.set_option"
It seems that the `pd.set_option` docsting is not parsed properly by `sphinx`:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

It was already the case in 0.25 doc but it was working in 0.23:

https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.set_option.html

[2020-02-01 10:22] glemaitre opened #31532 "BUG display.max_colwidth do not accept -1 for unlimited width"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

There is a regression with `"display.max_colwidth"`. In the past, it was only accepting integer. The way to no limit the size was to pass `-1`. In pandas 1,0, this option becomes more consistent and not limiting the width should be set with `None`. However, the support for negative integer was removed.

Thus, o

[2020-02-01 10:36] YagoGG commented on #25190
@gfyoung I can confirm that the bug was still present in 0.25, but has already been fixed in 1.0.0:

[code]
<details>
  <summary><b>Output of <code>pd.show_versions()</code></b></summary>

[code]

</details>

[2020-02-01 10:53] gfyoung commented on #25190
@YagoGG : Thanks for re-confirming!  Since this issue has been resolved, you are welcome to submit the code sample in the issue as a test, and that will close the issue.

[2020-02-01 10:56] MarcoGorelli opened #31533 "Formatting of `pandas.set_option` seems broken"
![image](https://user-images.githubusercontent.com/33491632/73591030-7f29d600-44e1-11ea-8061-5ac027e3b398.png)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

[2020-02-01 11:01] charlesdong1991 commented on #31533
duplicate of #31531

[2020-02-01 11:02] #31533 closed

[2020-02-01 13:04] dvaitkus3 commented on #24036
https://www.scipy.org/citing.html#pandas  has a link out to the SciPy2010 conference proceedings with Bibtex entry

[2020-02-01 13:23] tdpetrou opened #31537 "DOC: Mention that boolean indexing is impossible for new nullable integer/boolean and string data types when they contain missing values"
The new data types nullable integer, nullable boolean, and string cannot do boolean indexing when the columns contain missing values.

I searched the [pd.NA][0] and the [boolean indexing][1] sections and have not seen this mentioned. Users need to be aware of this limitation as it greatly reduces their usability.

[0]: https://pandas.pydata.org/docs/user_guide/missing_data.html#experimental-na-sca

[2020-02-01 13:46] alimcmaster1 commented on #31531
Duplicate of https://github.com/pandas-dev/pandas/issues/28780

[2020-02-01 13:46] #31531 closed

[2020-02-01 14:10] topper-123 opened #31539 "WEB: Wrong links on web page"
On [this page ](https://pandas.pydata.org/ )The link at "what's new in 1.0.0" (upper right corner) points to the v0.25 whatsnew.

On [this page](https://pandas.pydata.org/docs/index.html) the link on the upper left side logo points to the same page. I would expect it to point to the main page (https://pandas.pydata.org/).

[2020-02-01 14:22] #31469 closed

[2020-02-01 14:29] #31491 closed

[2020-02-01 14:37] #31446 closed

[2020-02-01 14:48] alimcmaster1 commented on #31514
Weird thought:
https://github.com/pandas-dev/pandas/pull/27615/files#diff-47f38b5b26d0c19878c1e8e90a65463dR780

Would have solved this.. but clearly not!

[2020-02-01 14:49] ivalaginja commented on #24036
So I guess now that pandas has a way to cite the native software itself, is there a way to get that updated to include that as well?

[2020-02-01 14:56] #31501 closed

[2020-02-01 15:14] #31441 closed

[2020-02-01 15:21] #31447 closed

[2020-02-01 15:24] #31457 closed

[2020-02-01 15:26] jreback commented on #31467
in read_csv where we track if an open stream is given (as opposed to a file), then can close *only* things that we opened. this might take a bit of work to fix though.

[2020-02-01 15:39] giuliobeseghi commented on #31487
I couldn't find an example, I'll post it if I get an error at some point :( you can close the issue in the meantime if you want. Thanks for letting me know about the documentation.

By the way, what is the rationale of aligning a series to the columns of a dataframe with arithmetics? Is it to replicate the behavior of numpy arrays?
I guess that aligning index to index would be more intuitive.

[2020-02-01 15:39] toobaz opened #31544 "Reading with read_stata in chunks messes up categories"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

My data has categories, but they are lost only because I'm reading it in chunks. I noticed this because I was reading in chunks a large database of which I only needed a subset of columns: ironically, precisely the fact that I was reading it in chunks made memory usage explode when I reattached them.

An by th

[2020-02-01 17:04] flying-sheep commented on #31499
Yeah, it’s kinda shitty. I think implicit conversation would be better than a hard-to-interpret error here though.

[2020-02-01 18:53] MarcoGorelli opened #31548 "Last tick label not showing"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Here's the output I see:
![image](https://user-images.githubusercontent.com/33491632/73597461-1021a100-4524-11ea-8f42-0cfc5f9868d7.png)

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do n

[2020-02-01 19:14] jorisvandenbossche commented on #31537
The docs can certainly be better organised and interlinked, but it is (briefly) mentioned here: https://pandas.pydata.org/docs/user_guide/boolean.html#indexing-with-na-values

[2020-02-01 23:10] #31517 closed

[2020-02-01 23:20] #31340 closed

[2020-02-02 00:37] YagoGG commented on #25190
@gfyoung just to be clear, you mean opening a PR that includes an additional test with the verbatim(ish) code sample?

I'm asking because the commit with the fix already included tests, just to avoid redundant testing.

[2020-02-02 01:02] gfyoung commented on #25190
Correct

[2020-02-02 01:19] abbiepopa commented on #29547
I'll take

[2020-02-02 01:21] abbiepopa commented on #29547
I'll take:

 pandas/core/reshape/concat.py
 pandas/core/reshape/melt.py
 pandas/core/reshape/merge.py
 pandas/core/reshape/pivot.py
 pandas/core/reshape/reshape.py

[2020-02-02 01:37] Cardosaum commented on #31526
Yeah! I'd like to help @charlesdong1991 !

This will be my first PR on github :)

I've just two questions:

1) Do you know what does `# noqa: E225, E999` mean? (Should I keep it or it's better to remove from text?)

2) Do I need to create `issues` on github for this small details in documentation or it's fine to just submit PRs correcting them ?

[2020-02-02 05:02] patrickdevivo opened #31560 "Add TODOs Badge to the README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `// TODO` comments are in this codebase:

[![TODOs](https://img.shields.io/endpoint?url=https://todos.tickgit.com/badge?repo=github.com/pandas-dev/pandas)](https://todos.tickgit.com/browse?repo=github.com/pandas-dev/pandas)

The badge links to `tickgit.com` which is a free service that indexes and displays

[2020-02-02 05:19] leandermaben commented on #31560
I would like to work on the issue

[2020-02-02 08:00] charlesdong1991 commented on #31526
Go for it! @Cardosaum

noqa usually indicates linter to ignore pep8 warnings in this code, I did not know who made it, but since it only shows the subset of returned output here due to limited space, maybe it is the reason to ignore some specific warnings?

and I think you could just keep as is, and just add the thing you want to address.

[2020-02-02 08:48] AlexKirko commented on #31338
Well, I do have an MVP, but there is still stuff to be done, and I can't seem to find the source of the performance impact that the changes introduce.
If anyone wants to take a look at the PR and help me out, it would be appreciated.

[2020-02-02 08:51] MarcoGorelli commented on #31532
@jorisvandenbossche Is this what we're going for then - add support for `-1` back in, but raise a FutureWarning alerting the user that it'll no longer work in a future version?

It reminds me of the `header` argument in `read_csv`, whereby `header=-1` used to work in 0.24, then in 0.25 it didn't (see #27779) and so we now raise
[code]

Perhaps the current ValueError could just have an extra line s

[2020-02-02 09:13] AlexKirko opened #31564 "CI: deprecation warning tests failing on linux py37_local pipeline"
#### Problem description

As of now, the Linux py37_locale pipeline seems to fail independent of PR:

[code]

#### Full failures output

<details>

[code]

</details>

So this in two PRs that have gone through checks recently, and none of them touch anything that relates to the failing tests (#31562 #31559).

[2020-02-02 09:18] santhoshivan23 commented on #31356
Hello,
I would like to work on this!

[2020-02-02 09:24] PSY27 commented on #22220
i am will to do it

[2020-02-02 09:35] sohamtiwari3120 commented on #31539
I would like to work on this!

[2020-02-02 09:36] mehersaipreetam commented on #30984
I would like to work on this please.

[2020-02-02 09:48] sohamtiwari3120 commented on #31539
Just to be sure, you mean that, that the "What's New in 1.0.0" on [this page](https://pandas.pydata.org/), which redirects to what's new in v0.25.0 should actually redirect to what's new in v1.0.0

[2020-02-02 09:52] leandermaben commented on #30974
Hey
I'd like to work on this issue

[2020-02-02 10:04] pavankumar369 commented on #31050
hey I would like to work on this !

[2020-02-02 10:15] anant4299 commented on #31537
I will add that to the pd.NA and boolean indexing sections and will search for any other section that might need that information.

[2020-02-02 10:29] Harsh1347 commented on #31514
The link `https://pandas.pydata.org/pandas-docs/stable/reference` works but `/api` throws 404 error.

[2020-02-02 10:30] swasthikcnayak commented on #31054
I would like to contribute to solving this issue.

[2020-02-02 10:46] ayaan32 commented on #30232
Hi, I'd like to work on the "using git" part.

[2020-02-02 11:02] sunaymehta commented on #4591
Hey! Can I solve this?

[2020-02-02 11:02] Ayushlm10 commented on #31548
I want to work on this issue.

[2020-02-02 11:46] puneet29 commented on #15069
Can someone review the commit I just made? This is the first time I am contributing to pandas. Do I need to write a test for the same? Also, I need to know what to do with the **duplicates** parameter. Thank you!

[2020-02-02 11:50] achatrian opened #31570 "pandas.read_json(..., split='orient') builts DatetimeIndex instead of using 'index' attribute of json file"
#### Code Sample, a copy-pastable example if possible
[code]

#### Problem description
I serialised a dataframe into json using the split options.
When deserializing, a DatetimeIndex is built instead of using the 'index' attribute of my JSON file.
DatetimeIndex(['1970-02-03 08:19:30.607525111',
               '1970-02-14 00:59:30.563649155',
               '1970-02-13 07:19:30.563381155',

[2020-02-02 11:56] glemaitre commented on #31532
I made a PR to reverse the support and add a deprecation cycle.

[2020-02-02 13:15] MarcoGorelli commented on #8745
Seems like a popular request, I'll start working on this

[2020-02-02 13:40] goldenbull opened #31572 "what is the future of nanosecond in parquet?"
pandas 1.0.0

sample code as below:

[code]
without `use_deprecated_int96_timestamps=True`, an exception will raise:
[code]

my question is: will nanoseconds not be supported by parquet format in the future? or there will be some other way to convert nanoseconds between pandas and parquet?

[2020-02-02 13:45] goldenbull commented on #26182
seems fixed in 1.0.0 👍

[2020-02-02 13:53] jreback commented on #26182
would take a validation test with the above example (or if u can pinpoint an existing test which replicates)

[2020-02-02 15:13] alimcmaster1 commented on #31560
I think we would prefer new contributors to use the github issue tracker. TODOs in the codebase are often ill described or outdated or of a unknown difficulty.

That said its actually interesting to see them all on one page. So i'm fine either with this. Just don't think we should point new contributors to it :)

[2020-02-02 15:22] #31539 closed

[2020-02-02 15:23] jorisvandenbossche commented on #31539
Closed by #31567

[2020-02-02 15:39] giuliobeseghi commented on #24357
Yes, it was to point out that happens both with series and dataframes (not sure if it's useful information)

[2020-02-02 15:59] leandermaben commented on #31560
Sure
Thank you for taking the time to respond.

On Sun, 2 Feb 2020 at 8:43 PM, alimcmaster1 <notifications@github.com>
wrote:

[2020-02-02 16:04] jorisvandenbossche commented on #31560
I agree with @alimcmaster1, I also wouldn't point new contributors to that (our TODO's are not always up to date, often lack information for newcomers to understand, etc), so I would rather not add it to the readme then.

[2020-02-02 16:05] patrickdevivo commented on #31560
That makes sense to me. I think TODO comments can often be a precursor to a proper ticket/issue rather than equivalent to one. FYI a feature coming soon is a button to link directly to github issue creation from a TODO that's been indexed. I think generally, it's useful to surface TODOs as a means of not letting too many get lost (either by just displaying and aggregating them or by making it easi

[2020-02-02 16:11] paihu opened #31575 "pandas 1.0.0 read_csv() is broken use `open( buffering=0)` option."
#### Code Sample

[code]
#### Problem description

Pandas 1.0.0, this sample does not work. But pandas 0.25.3, this sample works fine.

Open file with buffering=0 option, f is `RawIOBase`. This case seems encoding option will be ignored.

https://github.com/pandas-dev/pandas/pull/30771/files#diff-0335ae9037e4eb4747749a9f94cffd32R641

https://github.com/pandas-dev/pandas/pull/30771/files#diff-777d7

[2020-02-02 16:23] charlesdong1991 commented on #31575
@gfyoung trace back seems it's relative to #30771

any thoughts here?

[2020-02-02 16:51] alimcmaster1 commented on #31560
Do let us know when that feature is available @patrickdevivo. Il close this for now but feel free to reopen. Maybe @jbrockmendel would fine this handy?

https://todos.tickgit.com/browse?repo=github.com/pandas-dev/pandas

[2020-02-02 16:51] #31560 closed

[2020-02-02 16:54] jreback commented on #31564
closed by #31573

thanks for reporting!

[2020-02-02 16:54] #31564 closed

[2020-02-02 17:09] #31463 closed

[2020-02-02 17:28] MarcoGorelli opened #31580 "Checking plot labels works locally but not during CI"
#### Code Sample, a copy-pastable example if possible

xref #31207

If I modified the test as follows (with `import re` at the top of the file)

[code]

then the test worked locally, but not during CI. Looking at the job details for linux py36_local, I could see that `labels` was
[code]

I don't understand where that extra minute is coming from (nor can I understand why it only appears during CI).

[2020-02-02 17:31] gfyoung commented on #31575
https://github.com/pandas-dev/pandas/search?utf8=%E2%9C%93&q=BufferedIOBase&type=

Good catch!  I think we need to expand those checks to include `TextIOWrapper` as well.

[2020-02-02 18:06] MarcoGorelli opened #31581 "Assigning column with DataFrame(dtype='category') doesn't preserve categorical dtype, but Series does"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This returns
[code]
#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : d9f028dba97e9a3f21077ceeb96ca6552909c3b3
python           : 3.7.6.final.0
python-bits

[2020-02-02 18:30] #31532 closed

[2020-02-02 19:04] Cardosaum commented on #31526
Alright, thanks for the explanation @charlesdong1991 !

[2020-02-02 19:04] Cardosaum commented on #31526
take

[2020-02-02 20:48] alimcmaster1 commented on #30984
Sure for for it! @mehersaipreetam - write `take` to assign the issue to yourself :)

[2020-02-02 21:05] dsaxton opened #31586 "pd.cut returning incorrect output in some cases"
(Below is from master)

[code]

Using `cut` with an array of object dtype containing missing values seems to return the wrong intervals in some cases (e.g., in the example above only the first interval appears in the result). Actually, the only situation where I've been able to reproduce this problem is specifically when the NaN values are evenly spaced, which is strange.

Looks like the problem i

[2020-02-02 21:05] Vlek commented on #30999
Hello all, I'll take the following:

pandas/tests/computation/test_compat.py
pandas/tests/computation/test_eval.py
pandas/tests/dtypes/cast/test_upcast.py
pandas/tests/dtypes/test_dtypes.py

[2020-02-02 21:08] #31354 closed

[2020-02-02 21:29] jorisvandenbossche commented on #31497
This should actually already work (the linked PR #31242 is for when you didn't write the data yourself), but you need pyarrow 0.16 for that, which will only be released in a few days.

[2020-02-02 21:32] charlesdong1991 commented on #31575
thanks @gfyoung

do you want to work on this @paihu ? @gfyoung has provided a clear tip for it ^^

[2020-02-02 21:53] alimcmaster1 commented on #31090
Yeah @WillAyd I get the same. Think its because they haven't been removed from `redirects.csv`. I can remove if we all agree?

[2020-02-02 22:20] #22797 closed

[2020-02-02 22:29] #28375 closed

[2020-02-02 23:20] wesm opened #31590 "pip3 install pandas==1.0.0 fails to find source distribution on ARM host"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Unable to build pandas on a machine that has to build from source.

Here's my host information:

[code]

[2020-02-02 23:42] WillAyd commented on #31090
Great! Sure can start with that if it helps

[2020-02-03 00:33] paihu commented on #31575
Yes, I want to work on this.

[2020-02-03 01:42] TomAugspurger commented on #31590
Perhaps the python is too old? I think we require 3.6.1 or newer.

[2020-02-03 01:52] Dpananos opened #31595 "`Series.isin` does not return all values in the column"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`df` is a data frame with a single column called `t`.  The values of this column range from 0.5 to 2.0 in increments of 0.1.

There should be three values in `slxn` which are `True`, however the expression above yields 1.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED

[2020-02-03 02:13] #31595 closed

[2020-02-03 02:13] jreback commented on #31595
trying to index floats exactly is fraught with risk
because of numerical precision

show the example with full precision of all values

[2020-02-03 03:23] mehersaipreetam commented on #30984
take

[2020-02-03 03:48] #26683 closed

[2020-02-03 03:51] wesm commented on #31590
Yes, that will do it (the Python on this machine is 3.5)

[2020-02-03 03:51] #31590 closed

[2020-02-03 04:03] mehersaipreetam commented on #30984
Can you please review my pr and see where I'm going wrong?

[2020-02-03 04:21] mehersaipreetam commented on #16870
take

[2020-02-03 05:28] joshz123 commented on #28780
Is this issue still open? I am new to open source and would like to contribute

[2020-02-03 07:36] getsrikar opened #31600 "How to determine the severity of skewness(nanskew) such as highly skewed,moderately skewed,normally distributed,etc by interpreting the returned numerical values from the .skew() function."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The given documentation available below doesn't provide any specifics about the skewness results interpretation.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.skew.html

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions

[2020-02-03 07:36] #31205 closed

[2020-02-03 07:38] getsrikar commented on #31600
The given documentation available below doesn't provide any specifics about the skewness results interpretation.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.skew.html

[2020-02-03 09:12] jorisvandenbossche commented on #31467
Yes, the "bug" (or missing feature, how you want to call it) is that that `close()` should only close the file handle if it was opened by pandas itself.
The fact that now `__del__` closes the file handle is only because `__del__` now calls `close()`, which was a corect fix, but it surfaced the close issue.

[2020-02-03 09:14] alimcmaster1 commented on #28780
@glemaitre is already looking - but there is many other Good First Issues :)

[2020-02-03 09:19] alimcmaster1 commented on #30984
Actually it looks like @rushabh-v already has an open PR. (Apologies for my comment above) There are many other good first issues

[2020-02-03 09:44] julienprieur opened #31604 "DOC: pandas.Series.dt.day has incorrect docs"
See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.day.html#pandas.Series.dt.day.

The documentation shows the description for dt.month and not dt.day.

[2020-02-03 09:48] fran6w opened #31605 "Unexpected TypeError with groupby"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This code works with pandas 0.25.1 BUT NOT with pandas 1.0.0.
With pandas 1.0.0, the output is:
TypeError: copy() takes no keyword arguments

#### Expected Output
With pandas 0.25.1, the output is:
Series:
0
A    [1.0, 2.0, 3.0]
B         [4.0, 5.0]
C              [nan]

#### Output of ``pd.show_versions()``

<

[2020-02-03 10:21] fjetter commented on #31605
I believe this is already fixed by #31456

[2020-02-03 10:22] jorisvandenbossche commented on #31605
Indeed, I can confirm this is working again. Fix will be in 1.0.1 normally released tomorrow.

[2020-02-03 10:22] jorisvandenbossche commented on #31605
But thanks for the report!

[2020-02-03 10:24] jorisvandenbossche commented on #31605
Actually, will keep this open as an issue to add an additional test case (it can be added next to the ones added in https://github.com/pandas-dev/pandas/pull/31456/)

[2020-02-03 10:39] #28780 closed

[2020-02-03 10:42] limitspro opened #31609 "_check_for_bom at parsers.py remove all the fields behind BOM"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
_check_for_bom will not just remove BOM, but also remove all the fields except for the first one.
due to code:
[code]
Solution:
Change line 2775 at parsers.py @latest code at github to
[code]

[2020-02-03 10:56] jorisvandenbossche commented on #31580
@MarcoGorelli I would approach it a bit differently, and instead of testing the labels on the plot (which is very much dependent on matplotlib, they could eg change it a bit accross versions), I would maybe rather test the data values as they are plotted on the axis. Eg you can get those data with `list(ax.get_lines())[0].get_xdata()` (with `ax` the return value of `df.plot()`). Then could eg chec

[2020-02-03 11:05] MarcoGorelli commented on #31600
Hi @getsrikar . I'll close ths for now as we recommend [stackoverflow](https://stackoverflow.com/questions/tagged/pandas) for usage questions, this is for bug reports

[2020-02-03 11:05] #31600 closed

[2020-02-03 11:14] MarcoGorelli commented on #31604
Thanks @julienprieur , good catch - are you interested in [submitting a pull request](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html)?

[2020-02-03 12:19] hermanc1 commented on #23012
This is quite an important "gotcha". It should be added to the documentation.

[2020-02-03 12:21] TomAugspurger commented on #31478
@MarcoGorelli this is also failing on 0.25.3, so I don't think it's appropriate to target for 1.0.1

---

I think our choices here are to either

1. Add an `ExtensionArray.round` method
2. Implement `__array_function__` on some of our EAs.

[2020-02-03 12:28] nborrmann commented on #23889
The workaround described by @AngelaO does work, but it's much slower than `.groupby().sum()`. I would really appreciate if  `sum()` on GroupBys honors the `min_count` parameter.

[2020-02-03 12:28] TomAugspurger commented on #31572
That's coming from pyarrow. You should ask on their mailing list.

My (possibly incorrect) understanding is that using int96 for timestamps was added for Spark compatibility, and Spark has deprecated that as well. You'll still be able to write ns-precision timestamps as int64s.

[2020-02-03 12:28] #31572 closed

[2020-02-03 12:39] TomAugspurger commented on #31605
Moving to 1.0.1, since the extra test case needn't hold up the release.

[2020-02-03 12:41] MarcoGorelli commented on #31478
Sorry, I have no recollection of having modified the milestone, I must have clicked by accident, will be careful to not do this again

[2020-02-03 12:41] julienprieur commented on #31604
Failing to find out the location of the doc string in the source tree, I found that this was already fixed few days ago in commit #298fc15930d75f18328ca166295c9de023e3a1a6.

[2020-02-03 12:41] #31604 closed

[2020-02-03 13:04] giuliobeseghi commented on #30881
Does it even make sense to have the parameter `axis` for a `Series`?

[2020-02-03 13:08] giuliobeseghi commented on #30881
Also, it would be if we could do this:
[code]
instead of

[code]

Like the `rename` function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

[2020-02-03 13:09] daviddelucca commented on #27596
@getsanjeevdubey  I think stills opened. You should write into disk and upload files to s3 manually

[2020-02-03 13:11] fjetter opened #31612 "Groupby apply result shape depends on internal apply path"
#### Problem description

The shape returned by groupby.apply currently depends on the path the internal apply takes (fast apply vs slow apply) which is opaque to the user. The following examples show the behaviour for two simple examples where the fast path returns the group key as index while the slow path returns the original index.

#### Code Sample, a copy-pastable example if possible

[code]

[2020-02-03 13:18] MarcoGorelli commented on #30191
@simonjayhawkins - should the doc be reworded somehow, or is it alright as it is? (IMO it's clear already, it even includes examples for both `axis=0` and `axis=1`)

[2020-02-03 13:21] MarcoGorelli commented on #31385
I'll close this for now as it looks like we don't have a reproducible example (https://pandas.pydata.org/pandas-docs/stable/development/maintaining.html#cleaning-up-old-issues)

[2020-02-03 13:21] #31385 closed

[2020-02-03 13:34] pvieito opened #31615 "pd.NA is converted to {} instead of null with pd.DataFrame.to_json"
#### Code Sample

[code]
#### Problem Description

`pd.NA` should behave as `np.nan` and `None` when converting a DataFrame to JSON.

#### Expected Output

In the resulting JSON the `pd.NA` instances should be converted to JSON's `null`.

[2020-02-03 13:39] TomAugspurger commented on #31530
I don't think we want display settings affecting Styler, which is more about "exporting" data than displaying it. Things like truncation, max_rows, etc, also don't have any effect.

[2020-02-03 13:40] TomAugspurger commented on #31522
Looking into this today.

[2020-02-03 14:48] jorisvandenbossche commented on #31615
@pvieito Thanks for the report! That's indeed buggy

[2020-02-03 15:02] MarcoGorelli opened #31620 "Does #28827 also apply to applymap?"
In  #28854, the note

was removed from the `DataFrame.apply` docstring.

However, it is still in the [docstring](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.applymap.html?highlight=applymap#pandas.DataFrame.applymap) of `DataFrame.applymap`.

Does it need to be removed there too?

EDIT
----

As far as I can tell, this behaviour (calling the function twice to decide

[2020-02-03 15:10] DomKennedy opened #31623 "REGR: AssertionError when subtracting Timestamp-valued DataFrames with non-indentical column index"
[code]
#### Problem description

The above snippet raises the following exception:

[code]
This is a 1.0.0 regression; in 0.25.3, the operation succeeds and the unmatched `bar` column is filled with `NaN` in the output.

The same error occurs with:
* Any combination of incompatible columns (strict subset, strict superset, overlapping, disjoint)
* Calling the `subtract` method instead of using the

[2020-02-03 15:52] #27394 closed

[2020-02-03 16:03] TomAugspurger commented on #31623
Thanks for the report. The NaNs are introduced in https://github.com/pandas-dev/pandas/blob/a2721fd602e43128314d4efd056dae56a89197bf/pandas/core/ops/__init__.py#L725, which calls DataFrame.align.

I wonder, should this be changed?

[code]

to have `bar` be datetime64[ns] dtype, to match the left?

[2020-02-03 16:03] TomAugspurger commented on #31623
cc @jbrockmendel.

[2020-02-03 16:20] jbrockmendel commented on #31623
ill look at this today

[2020-02-03 16:34] drewseibert commented on #29547
Trying these three now:

pandas/tests/io/test_pickle.py
pandas/tests/io/test_sql.py
pandas/tests/io/test_stata.py

[2020-02-03 17:19] leandermaben commented on #29547
Hi
I'll take

pandas/util/_print_versions.py

pandas/util/_test_decorators.py

[2020-02-03 17:59] itsshavar commented on #31615
json writer is having some issue

[2020-02-03 18:06] mroeschke commented on #31612
Is this the same issue as https://github.com/pandas-dev/pandas/issues/14927?

[2020-02-03 19:39] #31514 closed

[2020-02-03 20:29] TomAugspurger commented on #31466
The object-dtype values comes in https://github.com/pandas-dev/pandas/blob/master/pandas/core/apply.py#L278-L288. Not sure what changed from 0.25.x, but I don't think we should be doing `self.values` when we have mixed types. It'd be more appropriate (and possibly faster?) to fall back to https://github.com/pandas-dev/pandas/blob/master/pandas/core/apply.py#L316-L317 when we have `self.obj._is_mix

[2020-02-03 20:41] jbrockmendel commented on #27164
just noticed that get_block_values is just an alias for get_values.  Any reason not to just use get_values (until block usage can be removed entirely)?

[2020-02-03 20:48] jbrockmendel commented on #27165
I'm looking into this now, could use some help from @TomAugspurger in understanding the intent in a couple of cases:

- in core.strings.str_repeat it looks like the `arr` argument should always be object-dtype.  is that accurate?
- In sparse.array.make_sparse the docstring says `arr` is an ndarray, but in the tests I'm seeing Series being passed to it from the constructor.  can we just do extract_

[2020-02-03 20:53] TomAugspurger commented on #27165
I don't think so. I think you can have a StringArray as well. The implementation for non-scalar `repeats` looks buggy though, with the `np.asarray`.

[code]

will open a separate issue.

Seems reasonable, or we can require the caller to do that, whichever is easier.

[2020-02-03 20:57] TomAugspurger opened #31632 "Bug in Series.str.repeat with string dtype and sequence of repeats"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The `str_repeat` method correctly handles NA values when `repeats` is a scalar, but fails when its a sequence.

#### Expected Output

[code]

[2020-02-03 21:06] drewseibert commented on #29547
https://github.com/pandas-dev/pandas/pull/31628

[2020-02-03 22:03] krassowski opened #31633 "replace() involving booleans affects integers and floats equal to 0 and 1"
#### Code Sample

[code]

Output:

|    | 0   |
|---:|:----|
|  0 | y   |
|  1 | x   |
|  2 | 2   |
|  3 | x   |

#### Problem description

I expected zero to be replaced with 'a', and 1 to remain untouched.

- documentation does not clarify whether `replace()` checks for equality or for identity.
- both inexperienced and experienced users may fall in the trap of the code as shown above; if the cu

[2020-02-03 22:10] MustafaWaheed91 commented on #31507
I am having the same issue:

[2020-02-03 22:11] krassowski commented on #31633
It seems that I have made this to complicated an example...

First,
[code]

So my dict is never truly used as I wish it would be. However, if I remove the zero key which is undistinguishable from False, i.e.:

[code]

I still get a result different from what I would have expected.

[2020-02-03 22:33] lmeyerov opened #31634 "regression: ts64->int64"
#### Code Sample, a copy-pastable example if possible

[code]

=>
[code]

#### Problem description

In 0.25.*, the above ran without an exception, while in 1.0.0, it now throws an exception. While the new behavior may be OK, it would be better as first a deprecation warning with a suggested  migration.

(We had the same code for at least 1-2 years w/out issue. Still unclear on the proper fix for g

[2020-02-03 22:47] TomAugspurger commented on #31634
In https://github.com/pandas-dev/pandas/pull/28492 we decided to call that a bug and make the change without deprecation. cc @dsaxton

I believe an alternative is to use `.view()`

[code]

It's unclear to me how to move forward, but my initial preference is to leave the change as is and not add a deprecation.

[2020-02-03 22:48] TomAugspurger commented on #31634
FYI, we publish nightly wheels and release candidates for major versions. You might consider watching "Releases only" and testing out release candidates to catch this before things change.

[2020-02-03 22:53] lmeyerov commented on #31634
I still get an exn when doing `.view()` in `1.0.0`: https://colab.research.google.com/drive/1BFk-KVLh77e6kVf1SW93Ccs67N0cZITo

[2020-02-03 22:55] lmeyerov commented on #31634
`pd.Series([datetime.datetime.now(), datetime.datetime.now(), None]).apply(lambda t: t.value)` seems safer?

[2020-02-03 22:55] TomAugspurger commented on #31634
Sorry, my example was incorrect. I meant `.view('int64')`

[code]

[2020-02-03 22:58] lmeyerov commented on #31634
Ah awesome, thank you!

It's a bit of a nasty & deep change that is hard to catch without good unit tests, so I'd recommend deprecation warning, but I'm not too familiar with pandas policies here.

[2020-02-03 23:13] dsaxton commented on #31634
@lmeyerov Apologies for the disruption, but hopefully @TomAugspurger 's suggestion works for you.

[2020-02-03 23:20] #31449 closed

[2020-02-04 00:00] valtron commented on #30790
Indexing a multi-index is now O(N^2):

![bug](https://user-images.githubusercontent.com/123696/73701369-91a13c80-46a6-11ea-8335-6a8e7a3f7dca.png)

Code to reproduce:

[code]

[2020-02-04 02:02] thomasjpfan commented on #29547
I'll take `pandas/tests/frame/test_repr_info.py`

ref: https://github.com/pandas-dev/pandas/pull/31639

[2020-02-04 02:10] jbrockmendel commented on #30790
@valtron thanks for reporting this.  any chance you can bisect to figure out when this was introduced?

[2020-02-04 02:27] r0cketr1kky commented on #29079
Hi, I would like to work on this.
Does this mean I have to remove the `numeric only` parameter from the mad function in the docs?

[2020-02-04 02:34] stackedsax commented on #29079
Hi @r0cketr1kky.  As I understand it, yes.  I was just checking that I understood it correctly, though!

[2020-02-04 02:36] r0cketr1kky commented on #29079
Thanks a lot @stackedsax

[2020-02-04 04:04] prakhar987 commented on #31632
will look into this

[2020-02-04 05:00] khdlim opened #31643 "BUG: pandas.cut does not give the right answer with nullable integer Series input"
#### Code Sample, a copy-pastable example if possible

[code]

Console output:
[code]
#### Problem description

`output[3]` should be `(2.5, 4.5]` and not `(0.5, 2.5]` as shown.
Tested in pandas 1.0.0 and 0.25.3.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.10.final.0
python-bits

[2020-02-04 06:08] prakhar987 commented on #31632
Seems to me is_nan() is not able to identify `<NA>`.
In `vec_binop` of ops.pyx if I use `type(x) is pandas._libs.missing.NAType` as an additional condition then the code works. I will look into `is_nan` to fix this.

[2020-02-04 06:54] valtron commented on #30790
@jbrockmendel introduced in the `_shallow_copy` here: https://github.com/pandas-dev/pandas/commit/b0f33b3f40d5742531e31aef90573b9592489592#diff-4ffd1c69d47e0ac9f2de4f9e3e4a118cR643

[2020-02-04 07:42] selasley commented on #31643
This seems to be a byproduct of converting test_series to object type with NAN (#31290)
[code]
If x is converted to float64 with NAN instead,
[code]
and the result of the call to cut() is
[code]

[2020-02-04 08:02] GYHHAHA opened #31644 "replace method does't work with string type Series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It seems that replace doesn't work with the string type Series.
Why these two codes return different results?

[2020-02-04 08:10] charlesdong1991 commented on #31644
thanks for the report!

which version of pandas do you use? Could you test it on the current master? i think this should work on master now?

[2020-02-04 08:15] batterseapower commented on #24206
With Pandas 0.25.3 or Pandas 1.0.0 this fails in a slightly different way, with "ValueError: the result input must be a ndarray". This traceback is from Pandas 1:

[code]

[2020-02-04 08:19] charlesdong1991 commented on #31644
could remove that `r` and use `pd.Series(['A','B']).astype('string').replace('.','C',regex=True)`, i think then should work

[2020-02-04 08:21] jorisvandenbossche commented on #30790
@valtron can you open a new dedicated issue for this?

[2020-02-04 08:23] CarloNicolini commented on #12450
When having multiple categories, is it possible to reorganize the plot to be in a seaborn FacetGrid format?
Or simply wrapping the columns of the subplot to a certain value?

[2020-02-04 08:24] MarcoGorelli commented on #31633
Thanks for the report. I tried your last example and got
[code]

Since `False == 0` and `True == 1`, this is what I would've expected

[2020-02-04 08:26] GYHHAHA commented on #31644
[code]
Thanks for answer !
But still not work.
And also I want to ask a related question.
Since the str.replace for string does not allow pd.NA for the parameter 'repl', if I want change some strings which meet a certain regex condition to pd.NA, how can I get the correct result. Thanks !

[2020-02-04 08:33] charlesdong1991 commented on #31644
you mean this `pd.Series(['A','B']).astype('string').replace('A', pd.NA)`?
works to me:
[code]

[2020-02-04 08:35] fjetter commented on #31612
@mroeschke Indeed, it looks to be the same thing. I added a test case for it in #31613

[2020-02-04 08:35] charlesdong1991 opened #31645 "DOC: extending pandas page is not rendered correctly"
https://pandas.pydata.org/pandas-docs/stable/development/extending.html

this is the first result gotten by googling extending pandas, however, seems not rendered correctly, help is welcome!

[2020-02-04 08:36] GYHHAHA commented on #31644
Oh? I get an error.
'''python

IndexError: arrays used as indices must be of integer (or boolean) type
'''

[2020-02-04 08:36] charlesdong1991 commented on #31644
Are you running it on master branch?

[2020-02-04 08:37] GYHHAHA commented on #31644
I have already updated to the latest version 1.0.0.

[2020-02-04 08:39] charlesdong1991 commented on #31644
yeah, there are some fixes after 1.0.0, but not released yet, so some new fixes can only be tested on master. Please let me know if you still have this issue on pandas master branch

[2020-02-04 08:40] GYHHAHA commented on #31644
Oh, I haven't do that.
I will run it on master branch and check the issue again.
Thanks !

[2020-02-04 09:30] simonjayhawkins opened #31646 "IntervalArray equality with wrong length Iterable raises TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Raises TypeError

mypy gives `pandas\core\arrays\interval.py:563: error: Argument 1 to "len" has incompatible type "object"; expected "Sized"`

similar problem with IntegerArray

[code]

and other Extension Arrays.

#### Expected Output

Not to raise TypeError

I think returning
[code]

would be consistent with

[2020-02-04 09:55] krassowski commented on #31633
Would it make sense to add "replacement compares equality, not identity" somewhere in the documentation then?

[2020-02-04 09:58] GYHHAHA commented on #31644
It works for the pd.NA issue on master branch, but still not work for the original issue. @charlesdong1991

[2020-02-04 10:02] charlesdong1991 commented on #31644
thanks for confirming the issue on master, are you interested in investigating what made it change? @GYHHAHA

[2020-02-04 10:10] GYHHAHA commented on #31644
Sorry, I'm not sophisticated on the Pandas source code, but I will pay close attention on that when the next version releases.
And also, it seems when pd.NA appears in the Series, an error will be raised for the replace method.
[code]
The error seems also not very clear.

[2020-02-04 10:14] charlesdong1991 commented on #31644
thanks for the report, your finding is very helpful!! @GYHHAHA

i will look into it a bit

[2020-02-04 10:15] charlesdong1991 commented on #31644
take

[2020-02-04 10:18] GYHHAHA commented on #31644
I guess a rough reason for that is, not like the np.nan, the pd.NA doesn't stand for a constant value, so when launch a match for 'A', it's not clear whether pd.NA equals 'A', so the error is raised.
Just my guess. : )

[2020-02-04 10:32] MarcoGorelli commented on #31645
I just clicked on it and it seems like the rendering is alright:
![image](https://user-images.githubusercontent.com/33491632/73736965-a11d9580-4739-11ea-85bd-9fd571bdac18.png)

[2020-02-04 10:43] MarcoGorelli commented on #31633
IMO it wouldn't hurt to mention it, perhaps with an example. Interesting in [submitting a pull request](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html)?

[2020-02-04 10:50] GYHHAHA commented on #31644
Is it possible to take pd.NA as a legal choice for the 'repl' parameter of str.replace method in the latter version? It seems to be more natural.

[2020-02-04 10:50] charlesdong1991 commented on #31645
oh, interesting, i got this, for the other sections, all work fine 🤔
<img width="1047" alt="Screen Shot 2020-02-04 at 11 49 59 AM" src="https://user-images.githubusercontent.com/9269816/73738299-8ac90700-4744-11ea-94bc-9097d8f99109.png">

[2020-02-04 11:08] MarcoGorelli opened #31647 "DOC: clean up DataFrame.ewm"
A few issues I've noticed:

1) It says

  but `arg` isn't defined

2) The phrase "When adjust is False, weighted averages are calculated recursively as:" appears as bold, but I don't think this was the intention

3)
[code]
should be
[code]

4) In the "notes" section, ```alpha``` is used, while in the description of the parameters, it's
[code]

5) The respective doc for Series could be updated, as

[2020-02-04 12:03] jorisvandenbossche commented on #31645
@charlesdong1991 do you consistently get it, also after refreshing the page?

[2020-02-04 12:06] charlesdong1991 commented on #31645
@jorisvandenbossche i consistently get it, however, after refreshing the page, i get the right one back 🤔 feel weird

[2020-02-04 12:06] jorisvandenbossche commented on #31646
I am personally not sure we should return a boolean array if the "length" doesn't match

[2020-02-04 12:20] charlesdong1991 commented on #31645
oh, weird, i now could click and get the right rendering 😅 i will close then, somehow weird though, thanks @jorisvandenbossche @MarcoGorelli

[2020-02-04 12:20] #31645 closed

[2020-02-04 12:23] jorisvandenbossche commented on #31645
I assume for some reason, the bootstrap css was not loaded properly. If you encounter this more, feel free to open an issue on https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/, there might be ways to optimize this loading.

[2020-02-04 13:31] jorisvandenbossche commented on #31572
Parquet version 2.0 will support nanosecond timestamp data (https://github.com/apache/parquet-format/blob/890af2212341aa914486a14e8d2c9b86284b40e4/src/main/thrift/parquet.thrift#L257-L275), however, this version is not yet recommended to use in practice (Arrow doesn't fully support it yet, and spark even less, as far as I know)

With parquet version 1.0 (the default), you can either use the "use_d

[2020-02-04 14:15] valtron opened #31648 "PERF: Indexing a multi-index is a lot slower"
Indexing a multi-index seemingly went from O(1) to O(N):

![bug](https://user-images.githubusercontent.com/123696/73701369-91a13c80-46a6-11ea-8335-6a8e7a3f7dca.png)

I did a bisect, and found this was caused by the `_shallow_copy` here: https://github.com/pandas-dev/pandas/commit/b0f33b3f40d5742531e31aef90573b9592489592#diff-4ffd1c69d47e0ac9f2de4f9e3e4a118cR643.

#### Code Sample

[code]

[2020-02-04 14:22] ecwootten opened #31649 "to_datetime returning numpy.datetime64"
#### Code Sample, a copy-pastable example if possible

This code:
[code]
worked in Pandas 0.25.3, but raises since 1.0.0.

I think there might be an issue with unboxing values when there are mixed types in the dataframe:

[code]
#### Problem description

to_datetime can "sometimes" result in a np.datetime64 return type.

np.datetime64 is not a valid return type for to_datetime (https://pandas.pyda

[2020-02-04 14:27] discdiver opened #31650 "figsize property not accepted for pandas.plotting.autocorrelation_plot - visualization"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Plotting works fine without the `figsize` argument, but errors with it. Stack trace below.

Other pandas.plotting charts accept a `figsize` argument.

#### Expected Output

[code]
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERS

[2020-02-04 14:38] TomAugspurger commented on #31648
Mmm, thanks for bisecting things. I'm a bit surprised to see that the `shallow_copy` is causing issues. It should be relatively cheap.

cc @topper-123.

[2020-02-04 14:47] TomAugspurger commented on #31648
Changing `levels` to cache_readonly seems to help.

[code]

With that, I see the timings

[code]

I'm not sure, but I suspect that the IndexEngine was previously cached, and `MultiIndex.get_locs` involves many calls to Index.get_loc. The change in https://github.com/pandas-dev/pandas/commit/b0f33b3f40d5742531e31aef90573b9592489592#diff-4ffd1c69d47e0ac9f2de4f9e3e4a118cR643 was returning a new index

[2020-02-04 15:19] TomAugspurger commented on #31649
A bit simpler example

[code]

@jbrockmendel this sounds similar to https://github.com/pandas-dev/pandas/pull/31630, but I don't think that quite fixes it.

[2020-02-04 15:31] TomAugspurger commented on #31643
This may be fixed on master:

[code]

[2020-02-04 15:39] jsignell commented on #29309
I don't know about performance implications, but it seems reasonable that you should create a new block every time you assign to an existing column. I think it's best to have a consistent behavior even if that behavior might be slightly less expected.

[2020-02-04 16:20] avimiller commented on #31647
Me and a few other Data Science Majors I am working with are interested in looking into this as a first contribution if that's okay.

[2020-02-04 16:23] #31499 closed

[2020-02-04 16:25] jorisvandenbossche commented on #29309
I agree that consistent behaviour would be nice. But I am not directly sure what possible backward compatibility problems might have.

It's already good that the extension dtypes follow the desired behaviour (maybe we should add an explicit test for that)

[2020-02-04 16:27] jorisvandenbossche commented on #30790
The issue is here: https://github.com/pandas-dev/pandas/issues/31648

[2020-02-04 16:34] jbrockmendel commented on #31649
Yah, #31630 should lead to us boxing in _fewer_ occasions, not more.  I'll take a look at this.

[2020-02-04 16:36] MarcoGorelli commented on #31647
@avimiller sure, pull requests welcome. Check out the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started

[2020-02-04 16:49] topper-123 commented on #31648
Thanks for the report @valtron.

``MultiIndex._shallow_copy`` could benefit from a refactor and definately shouldn't cause a slowdown like here. I had a small discussion on the subject [here](https://github.com/pandas-dev/pandas/pull/27242#discussion_r300793695) (maybe unrelated to this specific issue, but it's the same theme).

If _shallow_engine doesn't move the reference to the indexing engine

[2020-02-04 16:52] TomAugspurger commented on #31648
Yep, that's https://github.com/pandas-dev/pandas/issues/28584. Caching those makes sense to me.

[2020-02-04 16:56] #31495 closed

[2020-02-04 16:56] jbrockmendel commented on #31648
IIRC there was an issue a few weeks ago with MultiIndex names propogating to levels.  If we cache `levels` and then change the names on a MultiIndex, will subsequent levels calls have the wrong names?

That sounds like a good idea.

[2020-02-04 16:57] TomAugspurger commented on #31648
See https://github.com/pandas-dev/pandas/pull/31651. `MultiIndex._set_names` now includes a call to `self._reset_cache`

[2020-02-04 17:01] topper-123 commented on #31648
Right, I had forgotten about that issue. Shouldn't be too difficult to fix.

[2020-02-04 17:13] avimiller commented on #31647
@MarcoGorelli sounds good, thank you.

[2020-02-04 17:21] dumbledad opened #31657 "https://pandas.pydata.org/pandas-docs/version/ gives a 403 Forbidden error."
On the pandas website at https://pandas.pydata.org/ if I click on the drop-down menu titled 'documentation' and then select 'older versions' I am taken to https://pandas.pydata.org/pandas-docs/version/ which gives a 403 Forbidden error.

[2020-02-04 17:26] TomAugspurger commented on #31657
@datapythonista do you know where that link is supposed to go?

[2020-02-04 17:30] datapythonista commented on #31657
It's a page we didn't build. My idea was to have the versioning of the docs in the web, but it's finally in the docs. Not sure if it make sense to implement it or not.

See #30891 for status of the discussion about that link and the rest of the docs links.

[2020-02-04 18:23] TomAugspurger commented on #31474
Moving this off 1.0.1, but can likely include it if https://github.com/pandas-dev/pandas/pull/31549 is updated in time.

[2020-02-04 19:00] srvanrell opened #31661 "DOC: See also missing links in GroupBy.apply(), GroupBy.pipe()"
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.pipe.html#pandas.core.groupby.GroupBy.pipe

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.pipe.html#pandas.core.groupby.GroupBy.apply

#### Problem description

GroupBy.apply() and GroupBy.pipe() have missing links in their See also section. Might be other missing links i

[2020-02-04 19:06] srvanrell commented on #31661
I would be glad to help but I don't know what it's missing. On previous PRs I have solved this kind of issue completing the full signature of the linked function. If anyone can guide me to the solution I can propose a PR.

[2020-02-04 19:07] jbrockmendel commented on #31649
We stopped using Block._try_coerce_result which was previously responsible for handling this in `Block.iget`.  The quick fix is to patch DatetimeBlock.iget to box if it is returning a scalar.  The long term fix is backing DatetimeBlock by 2D DTA.

[2020-02-04 19:24] alimcmaster1 commented on #15069
Yes please to writing a test - this is often a good first step @puneet29

[2020-02-04 19:26] #31648 closed

[2020-02-04 19:43] alimcmaster1 commented on #31661
Looks like these are also broken in 0.25 https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.core.groupby.GroupBy.pipe.html?highlight=groupby%20pipe#pandas.core.groupby.GroupBy.pipe

[2020-02-04 19:46] stephendavidmarsh opened #31663 "Documentation for divmod and rdivmod gives wrong return type"
See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.divmod.html#pandas.Series.divmod
and https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.rdivmod.html#pandas.Series.rdivmod

The documentation incorrectly says that the `divmod` and `rdivmod` returns Series. However, both methods actually return 2-tuples containing two series.

[2020-02-04 19:58] jbrockmendel commented on #31623
So this is pretty ugly, but one option that tentatively works is to patch ops._arith_method_FRAME so that we only operate on shared columns, then reindex the result.

[2020-02-04 20:00] srvanrell commented on #31661
Does it has something to do with the Appender decorator?

https://github.com/pandas-dev/pandas/blob/fd9ceb9dce3d62d8a9caa6ba7c127b512939452e/pandas/core/groupby/groupby.py#L701-L748

[2020-02-04 20:03] MarcoGorelli commented on #31663
Thanks @stephendavidmarsh , seems you're right - interesting in submitting a PR? See the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started

[2020-02-04 20:21] jbrockmendel commented on #31623
might actually improve perf for cases where we have very few shared columns

[2020-02-04 20:22] TomAugspurger commented on #31623
That seems reasonable. The alternative is to ensure that the correct `fill_value` is used in align, which seems difficult since we'd potentially have different fill values for different columns / dtypes.

Is that likely to cause issues with methods like `DataFrame.add`? I forget whether the fill_value from add is done before or after.

[2020-02-04 20:57] stephendavidmarsh commented on #31663
I was originally going to try to put together a PR, but couldn't find where the doc was coming from. Searching for "class Series" or "def divmod" on Github wasn't productive.

[2020-02-04 21:36] MarcoGorelli commented on #31455
Hi @ramneek91 , I'm closing this for now as it's unclear what you're asking, but feel free to reopen if you have additional information to provide

[2020-02-04 21:36] #31455 closed

[2020-02-04 21:36] jsignell commented on #29309
Adding a test sounds like a good idea :)

[2020-02-04 21:41] jorisvandenbossche commented on #31474
@TomAugspurger there is a 1.0.2 milestone for things that are not urgent enough for / blockers for 1.0.1, but still can be tracked for a bugfix release in general

[2020-02-04 22:52] #31471 closed

[2020-02-04 22:53] jdfinsf opened #31670 "groupby fails when MultiIndex contains Int64Index in an empty DataFrame in 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

When groupby is over a `Int64Index` in a `MultiIndex` for an empty DataFrame, the groupby fails with error: `ValueError: Unable to fill values because Int64Index cannot contain NA`

#### Expected Output

The groupby should not raise an error, instead the code above should output an empty DataFrame as would hap

[2020-02-04 23:00] TomAugspurger commented on #31670
Can you post a traceback? I don't see an exception on master or 1.0.0.

[2020-02-04 23:04] jdfinsf commented on #31670
[code]

[2020-02-05 00:06] joboe24 opened #31677 "Pandas excel output specify column names to write is broken in 1.0.0"
#### Example code:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),columns=['col_a', 'col_b', 'col_c'])
excelwritename = '/tmp/Test%s.xlsx' %pd.datetime.now(pytz.timezone('US/Pacific')).strftime('%b%d_%I_%M %p')
with pd.ExcelWriter(excelwritename, engine='xlsxwriter',datetime_format='mmm dd yyyy hh:mm AM/PM') as writer:
    df.to_excel(writer,columns=['col_a','col_b'],sheet_name = 'x

[2020-02-05 00:21] jbrockmendel commented on #31623
yah, it would also depend on op, which would become a nightmare.

I'll put up a proof of concept in a bit

[2020-02-05 00:22] #31649 closed

[2020-02-05 00:31] #31450 closed

[2020-02-05 00:56] alimcmaster1 commented on #31661
@datapythonista @jorisvandenbossche  - I think this affects quite alot of the Docstrings in pandas.core.

Other examples where See Also links do not have a href would be (in addition to the above):

[Resampler.aggregate](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.resample.Resampler.aggregate.html#pandas.core.resample.Resampler.aggregate) and [Resampler.asfreq](
https://

[2020-02-05 01:02] #31580 closed

[2020-02-05 01:15] alimcmaster1 commented on #31677
I see the same on master - taking a look. Will follow up with a PR

cc. @WillAyd

@jbrockmendel is it possible: https://github.com/pandas-dev/pandas/pull/29802/files#diff-428f806ef78207a489c7a688d591fc49L405 is the cause? Surprised we don't have a test for this!

[2020-02-05 01:20] datapythonista commented on #31661
I think we should understand the problem instead of prefixing with `pandas`. Something must be wrong with sphinx. Afaik it saves all the pages first, and then uses that to generate the links.

Besides debugging that, we can check if it also fails with other versions of sphinx.

[2020-02-05 01:26] #31605 closed

[2020-02-05 01:39] r0cketr1kky commented on #31663
If it's not taken, I would like to work on this issue.

[2020-02-05 02:18] jbrockmendel commented on #31677
That seems totally plausible.  does reintroducing the reindex fix this?

[2020-02-05 02:56] khdlim commented on #31643
@selasley Thanks for the link, didn't think to search for `pd.cut` so it didn't show up when i searched for similar issues. Very informative, thanks!

@TomAugspurger Thanks for the heads up for working on this compatibility issue!

[2020-02-05 02:56] #31643 closed

[2020-02-05 03:08] srvanrell commented on #31661
Another example of the same issue? [DataFrame.aggregate](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html)

[2020-02-05 04:02] LLancelot opened #31682 "pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead. from pandas.util.testing import assert_frame_equal"
Does anyone could help?

[2020-02-05 04:14] jbrockmendel opened #31683 "Why does CategoricalIndex.get_value call _convert_scalar_indexer?"
cc @jreback @jorisvandenbossche @TomAugspurger the meat of CategoricalIndex.get_value reads:

[code]

The thing is, if we actually track down that _convert_scalar_indexer call, with `kind="getitem"` it always passes through to the base class method, which ends up checking:

[code]

But AFAICT `CategoricalIndex.is_floating()` is always False, so it looks like the call in `get_value` is a no-op, whi

[2020-02-05 07:47] jorisvandenbossche commented on #31682
Please show a full code example where you get this warning.

Either the warning is coming from another library, and then you can ignore it. Or either you are importing `from pandas.util.testing import assert_frame_equal` yourself, and then you can change it with `from pandas.testing import assert_frame_equal`

[2020-02-05 08:03] Ircama commented on #31116
Thanks for your support.

[2020-02-05 08:03] #31116 closed

[2020-02-05 08:04] jorisvandenbossche commented on #31670
I also couldn't reproduce in my default environment, and the main difference seemed to be the python version. And indeed, creating an env with python=3.6 and pandas=1.0, I get this as well:

[code]

[2020-02-05 08:11] jorisvandenbossche commented on #31683
In general, indexing on CategoricalIndex with numeric categories is a thorny topic .. See also https://github.com/pandas-dev/pandas/issues/15470 and https://github.com/pandas-dev/pandas/issues/14865

If `is_floating()` is always False, this is *not* a no-op? (it is `if not self.is_floating():`)
But, about the snippet itself, I think that is to avoid falling back to integer positional indexing if t

[2020-02-05 08:15] #31505 closed

[2020-02-05 08:18] r0cketr1kky commented on #31620
I guess this should be included in `groupby.apply` for the end-users to be aware of such cases. I would love to take this up.

[2020-02-05 08:23] jorisvandenbossche commented on #31670
Sorry, didn't test it correctly in my 1.0.0 env, I just get it there as well, regardless of the python version.
But, it's already fixed on master, and it seems https://github.com/pandas-dev/pandas/pull/29243 is responsible for this.
Will backport that PR, and then we can add an additional test.

[2020-02-05 08:43] wailashi opened #31687 "pd.where OverflowError with large numbers"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above code does not work with 1.0.0, but used to work with at least 0.25.0.
Replacing large floats with pd.where breaks
Running pd.where on a dataframe that contains large float values and the replacement value is of a different dtype throws `OverflowError: int too big to convert`:

[code]

Replacing data on

[2020-02-05 09:04] MarcoGorelli commented on #31663
@stephendavidmarsh did you try searching for any other words from the docstring  (e.g. modulo)?

[2020-02-05 09:07] jorisvandenbossche commented on #31670
Backporting the fix in https://github.com/pandas-dev/pandas/pull/31689 and adding a test + whatsnew in https://github.com/pandas-dev/pandas/pull/31690

[2020-02-05 09:08] MarcoGorelli commented on #31620
Sure, you can assign issues to yourself by commenting "take", see the following from the contributing guide:

[2020-02-05 10:11] xuancong84 opened #31691 "Inconsistent kwargs argument 'color' passed to upstream matplotlib plot functions"
In matplotlib.pyplot.bar , there is a keyword argument called 'color' which can control the color of all bars as well as each bar, e.g.,
<img width="639" alt="image" src="https://user-images.githubusercontent.com/10172392/73830682-08257200-4840-11ea-9aa0-64bb6bb2b9ab.png">

However, in Pandas DataFrame.plot.bar, by passing a list into 'color', the color of all bars is controlled only by the 1st el

[2020-02-05 10:17] #31670 closed

[2020-02-05 10:30] fujiaxiang commented on #31269
As a general guide you should try looking at the implementation of groupby.transform for other similar methods and mimic those. We already have implementations for these functions somewhere in the code so this shouldn't be too difficult to do.

[2020-02-05 10:45] oalfred opened #31693 "Timestamps are coerced to different types in 0.25.3 and 1.0.0 when selecting a row"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
In 0.25.3 the code above results in `<class 'pandas._libs.tslibs.timestamps.Timestamp'>` whereas in 1.0.0 it is `numpy.datetime64`. I could not find anything about this specifically in the release notes. Is it intended?

[2020-02-05 10:59] charlesdong1991 commented on #31691
thanks for posting @xuancong84

probably this could be clarified/better defined, but seems color is defined per column when you are using `pd.DataFrame` to plot, so in your case, since they all in the same column, they will get the first color set by `color`, and `color[0]` in your example is `red`. If doing below, all three colors are assigned:
[code]

If you would like to make it work, you shoul

[2020-02-05 11:16] Tux1 opened #31694 "ENH: Support dateutil.tz.tzrange objects"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

`tz_convert` fails on custom timezone with DST provided. Here is the example with `dateutil` but it would fail with any custom timezone with DST offset

#### Expected Output
`Timestamp('2019-02-03 19:00:00-0500', tz='mytz')`

#### Output of ``pd.show_versions()``
<details>

INSTALLED VERSIONS
-----------------

[2020-02-05 11:21] r0cketr1kky commented on #31620
take

[2020-02-05 11:25] jreback commented on #31693
looks the same as https://github.com/pandas-dev/pandas/issues/31649

which is already patched for 1.0.1

cc @jbrockmendel

[2020-02-05 11:38] ivoska commented on #21080
This negates the usefulness of the entire groupby. I would prefer if this resulted in the same groupby values being shown without the ambiguous name (maybe with the word 'values' for the index column?

[2020-02-05 12:09] TomAugspurger commented on #31523
How do things look for a release today? The [1.0.1 milestone](https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.1) has a handful of issues.

- [ ] https://github.com/pandas-dev/pandas/issues/31677 (needs PR)
- [ ] https://github.com/pandas-dev/pandas/issues/31623 (has https://github.com/pandas-dev/pandas/pull/31679, but this is tricky)

The others should have PRs t

[2020-02-05 12:10] TomAugspurger commented on #31693
Yeah, thanks for the report @oalfred, but this has been fixed already.

[2020-02-05 12:10] #31693 closed

[2020-02-05 12:23] jorisvandenbossche commented on #31523
Personally, I would just release today with whatever is merged, the remaining tickets can be moved to the 1.0.2 milestone.

[2020-02-05 12:27] jreback commented on #31523
agree

having 1.02 in say 2 weeks should cover additional regressions

[2020-02-05 12:30] jreback commented on #31523
note that 2 issues are tagged with manual backport needed (link at top)

[2020-02-05 12:35] jorisvandenbossche commented on #31523
Those are manually merged in the meantime (forgot to remove the label for those)

[2020-02-05 13:07] achapkowski opened #31696 "Where did check_bool_array_indexer move to?"
I was leveraging the following:

[code]

And at v1.0.0, it is gone, what is the comparable operation to this?

[2020-02-05 13:09] thejonan opened #31697 "`DataFrame.resample()` breaks when rule parameter is of type `DateOffset`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

According to the documentation, the `rule=` parameter of `DataFrame.resample()` can be of type `DateOffset`, `Timedelta` or `str`. Apparently, it actually expects some of the `DateOffset` subclasses (like `MonthEnd`, `BusinessDay`, etc.), because `rule_code` attribute is not defined in the parent class. Hence,

[2020-02-05 13:27] #31575 closed

[2020-02-05 13:36] jorisvandenbossche commented on #31696
It was renamed to `pd.api.indexers.check_array_indexer` and extended to also check integer arrays (not only boolean ones) during the RC.

(we currently don't really have a good way to list relevant changes since the RC in the whatsnew file ..)

[2020-02-05 13:36] #31696 closed

[2020-02-05 13:39] achapkowski commented on #31696
Thank you

[2020-02-05 14:08] klakho0400 commented on #31647
the 3. should be  \text{ for } halflife > 0

[2020-02-05 14:08] klakho0400 commented on #31647
right?

[2020-02-05 14:09] klakho0400 commented on #31647
take

[2020-02-05 14:12] klakho0400 commented on #31647
hey @MarcoGorelli can you pls explain me what can i do for the 1.,5.

[2020-02-05 14:26] klakho0400 commented on #31647
in 5.  does it need to be changed like this  axis{0 or ‘rows', 1 or ‘columns’}, default 0

[2020-02-05 14:34] klakho0400 commented on #31647
in 4.do all alphas in notes need to be replaced by :math:`\alpha`

[2020-02-05 14:55] #31522 closed

[2020-02-05 15:35] giuliobeseghi opened #31705 "Add to"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2020-02-05 15:50] #31657 closed

[2020-02-05 15:55] martin-kokos commented on #22977
Now a different error is thrown.

[code]

the queriables are `{'index': name->index,cname->index,axis->0,pos->0,kind->integer, 'columns': None}`
so it seems the column is not available at the time of _where_ being applied

Per documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

Which might be the cause.

[2020-02-05 16:01] TomAugspurger commented on #31523
I think #31677 and #31623 should wait for 1.0.2. #31623 seems especially tricky. I'll post a workaround on the issue.

If we're OK with that, we can go ahead with releasing 1.0.1 now. @jorisvandenbossche did you want to handle it, or should I?

[2020-02-05 16:04] TomAugspurger commented on #31623
@DomKennedy in the meantime, here's a workaround

[code]

There are lots of issues with that (if you have other columns that don't align, NaT won't be the right fill value) but hopefully not too bad for now.

We'll try to get this fixed properly for 1.0.2.

[2020-02-05 16:06] giuliobeseghi commented on #31705
This could also (and more simply) be achieved with

[code]

if `dt.freq` returned a frequency object instead of a `str`

[2020-02-05 16:11] Tux1 commented on #31694
Actually it is more a new feature to implement. But since `tzrange` does not have transition list, I don't know how to do that...

[2020-02-05 16:16] TomAugspurger commented on #31523
Joris let me know that I should start the release process. He'll pick it up when he's free in a couple hours.

[2020-02-05 16:39] languitar opened #31708 "Series.astype(str, skipna=True) vanished in the 1.0 release"
#### Code Sample, a copy-pastable example if possible

[code]
results in `TypeError: astype() got an unexpected keyword argument 'skipna'`

#### Problem description

The provided snippet used to work before the 1.0 release. With the `skipna` argument, the `None` was preserved as a real `np.nan` type, instead of being converted to the string `nan`. The `skipna` argument seems to have gone in the 1.

[2020-02-05 16:47] kernc opened #31710 "ValueError: buffer source array is read-only"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Groupby fails on some read-only buffers (I couldn't quickly reproduce it with `.groupby()` itself, sorry).

The prime solution would be to add `const` specifier to the input `values` here (and related entries):
https://github.com/pandas-dev/pandas/blob/0b6debf825db39f8f63d300cb8007a7996d002fc/pandas/_libs/group

[2020-02-05 16:50] spixi opened #31711 "ENH: read_csv parse_dates should use datetime64[us] instead of datetime64[ns] if date out of bound is detected."
#### Code Sample, a copy-pastable example if possible
[code]

[code]

#### Problem description
`read_csv` with parameteter `parse_dates` uses `datetime64[ns]` as default. That datatype, however, only covers dates between the years 1678 an 2262. Many systems use hardcoded special dates for `-Inf` or `Inf`, including `0001-01-01 00:00:00`, `2999-12-31 23:59:59` or `9999-12-31 23:59:59`.

The current

[2020-02-05 17:45] MarcoGorelli commented on #31647
1) figure out what the `arg` in the formula refers to, and make it clear

4) the ones in the "notes" section, yes

5) for Series, there is no notion of 'columns', so `axis` would have to refer to only the rows (see other methods such as `set_axis` to see how this differs between the two)

[2020-02-05 17:57] jbrockmendel commented on #31683
Yep, good catch.  A hopefully-more-accurate statement is that when i remove the _convert_scalar_indexer call from `CategoricalIndex.get_value`, it doesnt cause any test failures

[2020-02-05 18:11] jbrockmendel commented on #31683
OK, it looks like get_value is called from two places, one of which is inside `Series.__getitem__` which now calls _convert_scalar_indexer before we get here, the other from `Series._get_value`, which is called from `loc/iloc/at/iat.__getitem__`.  Will check to see if we are just missing tests for the latter case

[2020-02-05 18:14] SaturnFromTitan commented on #28926
take

[2020-02-05 18:15] SaturnFromTitan commented on #28926
I will take care of the issues where the stale PRs were closed:
- pandas\tests\extension\decimal\test_decimal.py
- pandas\tests\extension\json\array.py
- pandas\tests\arithmetic\test_datetime64.py

[2020-02-05 18:55] jbrockmendel commented on #31683
Yikes, the deeper i dig into this, the worse it gets.  _AtIndexer does its own validation instead of deferring to the index objects, so raises slightly different exceptions

[2020-02-05 19:02] MarcoGorelli opened #31717 "Are the contributors in the whatsnew v1.0.1 note correct?"
Having a look at https://github.com/pandas-dev/pandas/milestone/69?closed=1, it seems there's some contributors (e.g. dsaxton , srvanrell) who aren't listed in the whatsnew page: https://pandas.pydata.org/docs/whatsnew/v1.0.1.html

[2020-02-05 19:09] #30984 closed

[2020-02-05 19:35] DigitalPig commented on #31422
I am on `'0.25.3'`. You can check the details part of the issue for other detail information.

What version of pandas do you use at this moment?

[2020-02-05 19:44] icexelloss opened #31719 "Change of rolling behavior in Pandas 1.0.0 vs 0.25.3"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
1.0.0 result:
[code]

0.25.3 behavior:
[code]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!

**Note**: Many problems can be resolved by simply

[2020-02-05 19:46] TomAugspurger commented on #31717
I think that's just the issue with the backport bot overwriting the author: https://github.com/MeeseeksBox/MeeseeksDev/issues/35

[2020-02-05 19:51] jreback commented on #31719
see #26996

[2020-02-05 19:51] d1618033 commented on #30974
The undocumented [`--quiet`](https://github.com/timothycrosley/isort/blob/e62c845d27d55981f99c7cf471adafa59c8ed399/isort/main.py#L330) option in isort seems to do the trick.

[2020-02-05 19:52] icexelloss commented on #31719
I see. Thanks! @jreback

[2020-02-05 19:52] #31719 closed

[2020-02-05 20:05] bnaul opened #31720 "`Series.replace` fails on categoricals with list"
Looks like this was introduced in #27026: not sure of the details of what was incorrect in the old version but I do know that this at least didn't error:
[code]
Seems like most of the methods used in this implementation already handle list-like inputs so it should be a pretty easy fix..?

#### Output of ``pd.show_versions()``

<details>
pandas           : 1.0.0
</details>

[2020-02-05 20:13] MarcoGorelli commented on #31717
Might it be caused by the |HEAD in the whatsnew v1.0.1.rst file?

[2020-02-05 20:24] jorisvandenbossche commented on #31717
So the bot now actually uses the "Co-authored-by" as I suggested in that linked issue, but now the problem is still that `git shortlog -s range` doesn't pick those up ..

[2020-02-05 20:57] jorisvandenbossche commented on #31523
Wheels and sdist are uploaded to PyPI, conda-forge packages also built.

[2020-02-05 21:02] jbrockmendel opened #31722 "API/BUG: Inconsistent errors/msgs between loc vs at"
[code]

I would expect these to behave the same.

[2020-02-05 21:03] MarcoGorelli commented on #31708
Can confirm this used to work in 0.25.3, but no longer works now.

Seems that the kwargs were removed in #28646

[2020-02-05 21:13] bnaul commented on #31720
cc @JustinZhengBC just in case you have an easy fix off the top of your head 🙂

[2020-02-05 21:18] jorisvandenbossche commented on #31708
Thanks for opening the issue!
As I said on gitter, I was not aware of this keyword, which is not surprising as it has never been documented AFAIK (and also no tests clearly ..)

The reason it worked before (in certain cases) is because the kwargs were passed through to `astype_nansafe`, which has indeed a skipna keyword (https://github.com/pandas-dev/pandas/blob/935b6f46fa485f64bc534228618a417c87c

[2020-02-05 21:24] jorisvandenbossche commented on #31711
Other resolutions than ns are currently not supported in pandas (see https://github.com/pandas-dev/pandas/issues/7307), so returning `datetime64[us]` is not possible right now (it's either `datetime64[ns]` or object dtype)

[2020-02-05 21:38] MarcoGorelli commented on #31697
Thanks @thejonan !

I can't edit your post directly, but in order to expedite resolution, could you please include some sample data? (e.g.
[code]
)
and correct the typo (`DateOffset` instead of `DataOffset`)?

[2020-02-05 21:40] MarcoGorelli commented on #31647
@avimiller if you're working on this, can you comment 'take' to let others know? Else, it looks like @klakho0400 is also interested

[2020-02-05 22:35] ghost opened #31725 "API: add ignore_index keyword to dropna() and other similar functions"
#### Code Sample

**Before**

[code]

**After**

[code]
#### Problem description

I have noticed a lot of dataframe reshaping functions acquiring the `ignore_index` keyword. (e.g. #30114). I think `df.dropna()` is a good candidate for this keyword, as are any other functions which change the index from being a consecutive sequence of integers

#### Expected Output
[code]

[2020-02-05 23:13] dsaxton commented on #31720
I think this is the offending line: https://github.com/pandas-dev/pandas/blob/master/pandas/core/arrays/categorical.py#L2444

Also note that tuples of values get ignored instead of raising an error:

[code]

[2020-02-05 23:28] dujiaxin opened #31726 "pandas.read_excel() close the io stream"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The first read_excel() works fine. But the second read_excel() get the following:
Traceback (most recent call last):
  File "xxx.py", line 127, in <module>
    df_less = pd.read_excel(f,'Sheet2',encoding = 'utf-8').iloc[:,0:2]
  File "xxx\pandas\io\excel\_base.py", line 304, in read_excel
    io = ExcelFile(io,

[2020-02-06 00:22] datapythonista commented on #30974
Excellent, thanks @d1618033 Do you want to open a pull request?

[2020-02-06 00:51] jreback commented on #31711
closing as this is out of scope for now

[2020-02-06 00:51] #31711 closed

[2020-02-06 01:09] jreback commented on #31708
this may have accidentally worked (passing skipna they)
but is not supported in any way

[2020-02-06 01:25] mehersaipreetam commented on #31647
take

[2020-02-06 01:58] xuancong84 commented on #31691
Thanks @charlesdong1991 , does that mean if we use pd.DataFrame.plot.bar to plot, it actually calls pyplot.bar several times, once for each column? Thus, all kwargs have to be packed into a list?

[2020-02-06 02:44] JustinZhengBC commented on #31720
At a glance it looks like we can just check if `to_replace` and `value` are list-like and do recursive calls accordingly. Tuples probably are doing nothing because it's checking if the tuple itself is a category, rather than the values within it. I'll see if I can get a fix in tonight

[2020-02-06 03:06] davidwales opened #31731 "BUG: DataFrame.convert_dtypes fails on column that is already "string" dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The documentation for [DataFrame.convert_dtypes()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html) *claims* that it will 'Convert columns to best possible dtypes using dtypes supporting pd.NA'. However, this does not appear to be the case. As you can see in `Out[6]` above, if

[2020-02-06 03:15] GYHHAHA opened #31732 "Wrong start datetime for data_range"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Why datatime start from '2018-01-31' ?

[2020-02-06 03:43] lithomas1 commented on #23697
take

[2020-02-06 04:04] rockg commented on #31732
`M` is calendar month end, you need `MS` for calendar month start. See [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects) for the list of offset strings.

[2020-02-06 04:04] maulberto3 commented on #24976
Under similar conditions, this also helped me getting pyarrow working for me.

[2020-02-06 04:09] GYHHAHA commented on #31732
Thanks ! @rockg

[2020-02-06 04:09] #31732 closed

[2020-02-06 05:07] jbrockmendel opened #31735 "BUG: groupby _cython_agg_blocks implicitly assumes unique columns"
xref #31616, the two test cases that adds both have unique columns.  Editing test_agg_split_object_part_datetime to make columns non-unique breaks it:

[code]

cc @WillAyd @TomAugspurger

[2020-02-06 05:56] mroeschke commented on #31726
Thanks. I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/31467

[2020-02-06 05:56] #31726 closed

[2020-02-06 06:15] MarcoNasc commented on #29547
Hey, I'll take

pandas/core/arrays/integer.py

[2020-02-06 07:05] spixi commented on #31711
Seriously? The issue you mentioned is from 2014 and there are 15 other linked issues with practically the same problem. How can such an often requested feature be out of scope? I understand that most python users are scientists, but in enterprise applications (e. g. data warehouse systems) the reality is different, so there are special requirements, which could be easily fulfilled. There is absolu

[2020-02-06 07:17] jorisvandenbossche commented on #31711
Your immediate question (support for other resolutions in read_csv) is out of scope *as long as* we don't have support for other resolutions in general. #7307 is still an open, within scope issue, and contributions are welcome (but it is not an easy task)

[2020-02-06 08:14] jorisvandenbossche commented on #31731
@davidwales thanks for the report. I would appreciate you don't call something "completely broken", but for sure you discovered a bug.

But there are several issues here:

First, calling `convert_dtypes` on a column that is already "string" is indeed clearly broken:

[code]

It's bizarre where those bytes come from, at first. But this seems a bug in the `infer_dtype` function:

[code]

The fact th

[2020-02-06 08:26] thejonan commented on #31697
@MarcoGorelli, thank you for the notes! I've made the changes.

[2020-02-06 08:46] charlesdong1991 commented on #31691
@xuancong84 indeed, `ax.bar` will be called three times in this case

I am not sure what you mean by `all kwargs`, I haven't double checked, but i remember there are some postprocessings on `color`, but for some arguments, i think they will be shared by all, e.g. `rot`, right?

[2020-02-06 09:04] xuancong84 commented on #31691
@charlesdong1991 , thanks for your info. I refer `all kwargs` to those additional keyword arguments such as `color=`, `ax=`, `rot=`, etc., that will be passed to upstream matplotlib plot functions.

Since not all of these arguments will be unpacked before passing to matplotlib, to avoid this confusion, I would like to suggest that: for all those arguments that will be unpacked, add a prefix or suf

[2020-02-06 09:05] avierck opened #31738 "WEB: using arrow keys for site navigation breaks text selection UX on macOS"
With the introduction of the new [pandas docs website](https://pandas.pydata.org/docs/user_guide/index.html), a typical text selection method is broken (at least for macOS users).

Expected behaviour: (at least) on macOS, any text selection can be expanded via "shift"+"alt / option"+"arrow keys".

Current behaviour: the keyboard arrow keys are currently used for site navigation (without any visual

[2020-02-06 09:06] AlexKirko opened #31739 "CI: continuous-integration/travis-ci/pr build fails due to unavailable channel"
#### Problem description

**continuous-integration/travis-ci/pr** build currently seems to fail for everyone, regardless of PR. Error output below:

[code]

[2020-02-06 09:25] avierck commented on #31738
Related: This unexpected behaviour already has [an active issue at sphinx-doc](https://github.com/sphinx-doc/sphinx/issues/7088#issue-558673505), so perhaps this could be closed once it's fixed in sphinx.

[2020-02-06 09:27] charlesdong1991 commented on #31691
thanks for your suggestion @xuancong84  i think renaming the argument/having new similar argument is an API change and might cause confusion to users, especially if this only works for `pd.DataFrame.plot`.

I think the easiest way is to have a better docstring for `color` argument, and clarify those scenarios.

@TomAugspurger might have better opinions on it?

[2020-02-06 09:36] xuancong84 commented on #31691
Thanks @charlesdong1991 ! Yup, revising the documentation for `color` in `pd.DataFrame.plot` is the minimum needed to be done. But whether to apply this convention to every matplotlib keyword argument and even to every function, depends on whether there exists such a need. Pandas developers should examine and evaluate on this carefully in order to make a better decision.

[2020-02-06 09:36] languitar commented on #31708
Actually, I found this only after reading some issues in this project. I can't exactly recall the source issue for my information on this argument, but the behavior was, for instance, also documented here: https://github.com/pandas-dev/pandas/issues/25353

[2020-02-06 09:37] languitar commented on #31708
In any case, is there an alternative proposal how to handle this case that is also working in 1.0?

[2020-02-06 09:39] mhooreman opened #31740 "matplotlib's xaxis "margin" dropped when plotting using pandas"
#### Code Sample

[code]

#### Problem description

![Figure_1](https://user-images.githubusercontent.com/7373718/73926764-70bc2f80-48d0-11ea-8cf9-2f6a1502eec8.png)

Matplotlib adds some "margin" on both sides of the horizontal axis, but pandas does not.

This is a problem because, when we plot using points, the extreme x values are shown confused with the vertical axis lines, which makes them ver

[2020-02-06 10:26] charlesdong1991 commented on #31740
thanks for your issue @mhooreman
seems working fine on master at least? could you double check?

[2020-02-06 10:27] Skitionek commented on #29813
Facing same issue for a while now, can you post a workaround you are currently using?

I used to call it twice so it appears to work on this example:
[code]
Outputs
[code]

However, I have just run into problem that this also not always works.

[2020-02-06 10:44] michaeldorner opened #31742 "Rename mad() in mean_absolute_deviation()"
#### Problem description

MAD is a overloaded shortcut: It stands for *M*edian *A*bsolute *D*eviation (more common), but also can be used as *M*ean *A*bsolute *D*eviation (which is used in pandas).

#### Expected Output

To avoid confusion, the method should be renamed from `.mad()` to `.mean_absolute_deviation()`, and when implemented the more commonly used `.median_absolute_deviation()`.

If you

[2020-02-06 10:48] mhooreman commented on #31740
Thanks @charlesdong1991

My bad: this seems fixed with version 1.0.0. I was using 0.25.3

Sorry

[2020-02-06 10:48] #31740 closed

[2020-02-06 10:50] charlesdong1991 commented on #31740
thanks, suggest to use 1.0.1 to avoid less regression issue ^^

[2020-02-06 10:53] mhooreman commented on #31740
Indeed. That's also the main reason why I'm waiting a bit for 1.0 series ;-)

[2020-02-06 11:09] MarcoGorelli commented on #31742
Thanks @michaeldorner for your suggestion.

I think you're right that MAD is more commonly used for "median absolute deviation" than "mean absolute deviation".

I'll close this issue as it looks like a duplicate of #11787 - the issue is still open though, and it seems the core team would be open to this, so if you'd like to submit a PR it would be welcome!

[2020-02-06 11:09] #31742 closed

[2020-02-06 11:26] MarcoGorelli commented on #29310
@joybhallaa we haven't heard from them in over 2 weeks, so if this is something you'd like to work on I think you're OK to go ahead - please comment 'take' so the issue will be assigned to you

[2020-02-06 11:34] MarcSkovMadsen commented on #22555
I was also looking for this functionally in order to produce base64 encoded links

[code]

[2020-02-06 11:34] MarcoGorelli commented on #31041
@jreback sorry to ping you here - what action should we take? Should mixed inputs be supported?

[2020-02-06 11:36] jreback commented on #31742
i think we have another issue about depreciating mad entirely

[2020-02-06 11:44] jreback commented on #31708
this is not documented in #25353
this is a straight up bug with a PR but hasn’t been merged yet.

canonically something like

s[s.notna()] = s.astype(str)

would work

[2020-02-06 11:44] jreback commented on #31708
this is a duplicate issue

[2020-02-06 11:54] jreback commented on #31711
These two statements are very opionated and wrong. There are an amazing diversity of python users and ns representation of dates has provided a pretty good balance of dates that can be represented and usability.

Sure supporting other freq of dates natively is desired but as @jorisvandenbossche not trivial.

you can use Period if this is an actual issue for you; meaning you need a larger date rang

[2020-02-06 12:05] CaioEuzebio opened #31743 "pd.to_datetime() Error in MacOS - TypeError(f"dtype {data.dtype} cannot be converted to datetime64[ns]") TypeError: dtype timedelta64[ns] cannot be converted to datetime64[ns]"
#### Function Error in  MacOS

[code]

#### Problem description

Hi Guys,

This is a problem that a faced in MacOS only about DateTime, I trying to convert format (12:54:58)
in to DateTime.

It run correctly in Windows(10) and Linux(ubuntu) as well, however, in MacOS i faced this problem that returns an error message below:

[code]

I search for and for while it's not cleary to me the reason for t

[2020-02-06 12:17] CezaryPukownik opened #31744 "Wrong char in Polish datetime month_name function"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

Wrong char was used for Polish month name.
Pandas returns Styczeñ, should by Styczeń.

ñ -> ń

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue h

[2020-02-06 13:05] jorisvandenbossche commented on #31708
@languitar And you are certainly not alone in finding it from that issue .. (according to the :+1:'s)

In practice, it would be easy to restore this for 1.0.2. But in principle, I would personally prefer to not do this, since it was never actually documented (apart from the comment on that issue), only worked kind f accidentally, and is relatively easy to workaround until the actual issue is fixed

[2020-02-06 13:14] ArtificialQualia commented on #31615
I got this one, some changes are needed in ujson.

[2020-02-06 13:22] TomAugspurger commented on #31739
That channel can be removed. We only needed that to test out python release candidates.

[2020-02-06 13:24] TomAugspurger commented on #31744
Does this differ from whats available from `calendar`?

[code]

If they're the same, then there's likely an issue with your locale settings, or an issue in Python itself.

[2020-02-06 13:26] michaeldorner commented on #31742
So there is no replacement for this method anyway?

[2020-02-06 13:40] tdpetrou opened #31746 "New string data type aggregations (min, max, sum) work for DataFrames but not Series"
[code]
#### Problem description

I assume this isn't supposed to work on DataFrames if it doesn't work on strings. min and sum do the same thing.

#### Expected Output

Consistent behavior for both dataframes and series

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.1.final.0
python-bits      : 64
OS

[2020-02-06 13:57] azimgivron opened #31747 "read_parquet gives ArrowIOError"
I am trying to open a .parquet file in pandas but I am failing at it. I tried the solution proposed in https://stackoverflow.com/questions/54201799/pandas-cannot-read-parquet-files-created-in-pyspark but it is not working for me.

Does anyone have a clue of how to fix this ?

####

python code:

pd.read_parquet('filepath')

####

Error received in the consol:

ArrowIOError Traceback (most recent c

[2020-02-06 15:01] CezaryPukownik commented on #31744
Yes it differ.
`
import calendar
calendar.month_name[1]
'styczeń'
list(calendar.month_name)
['', 'styczeń', 'luty', 'marzec', 'kwiecień', 'maj', 'czerwiec', 'lipiec', 'sierpień', 'wrzesień', 'październik', 'listopad', 'grudzień']
`
I think this is just a cosmetic issue.
The spanish "ñ" (with tylda) sign was used, that is more common than polish "ń" (with ' )

[2020-02-06 15:16] TomAugspurger commented on #31744
I think our calendar stuff is all in https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/ccalendar.pyx, if you're interested in debugging this.

[2020-02-06 15:44] #31739 closed

[2020-02-06 15:44] jorisvandenbossche commented on #31747
@azimgivron Can you give a bit more details? What is the pyarrow version you are using? (you can add the output `pd.show_versions()` in your issue report) Is the file path a directory? How did you create those files?

[2020-02-06 15:46] jorisvandenbossche commented on #31743
Can you provide a reproducible example? (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) For example, create a small dataframe with some dummy data that shows the problem.

[2020-02-06 16:02] jorisvandenbossche commented on #31746
Thanks for the report!

The reductions on DataFrames are a bit messy / inconsistent with Series right now, in general. It first tries it on the 2D values, and then column wise (but still different as series).
While on the Series, it dispatches to the underlying array, which currently doesn't implement reductions for StringArray via `_reduce`.

But I think we can actually add those reductions, so t

[2020-02-06 16:29] WillAyd commented on #31717
ref https://github.com/pandas-dev/pandas/pull/31215#issuecomment-581011282

[2020-02-06 16:32] dsaxton commented on #31746
@jorisvandenbossche It looks like these particular reductions are "sort of" working (they don't seem to be NA-aware at the moment) for StringArray already?

[code]

[2020-02-06 16:36] drewseibert commented on #29547
The following files can be checked off on the list...
web/pandas_web.py
pandas/tests/io/test_pickle.py

Thanks!

[2020-02-06 16:39] jorisvandenbossche commented on #31746
Yeah, I noticed that as well, but that is the implementation StringArray inherits from Numpy PandasArray. So it only works "by accident" on the actual array, I think. Since the `_reduce` purposefully raises right now. To support it properly, we need to implement that specifically for StringArray.

So I think we certainly would like to get this working, but it will require some custom code (althoug

[2020-02-06 16:48] drewseibert commented on #29547
Another one to check off.. no f-strings needed in the file:
pandas/tests/series/indexing/test_boolean.py

[2020-02-06 16:50] drewseibert commented on #29547
I will work on this one now...

pandas/tests/series/indexing/test_indexing.py

[2020-02-06 17:11] MomIsBestFriend commented on #29547
Thank you @drewseibert

[2020-02-06 17:30] pedroreys opened #31750 "Decoding issue when reading in py3 a datetime64 hdf data that was created in py2"
#### Code Sample, a copy-pastable example if possible

### In Python 2, create the `.hdf` file with a `datetime64[ns]` column

[code]
### Reading the hdf in python 2 works just fine

[code]

## Reading the hdf in **Python 3** the dtype of the data column is set to `int64` instead of `datatime64`

[code]
#### Problem description

The reason why the _dtype_ is being loaded as a `int64` in python 3 i

[2020-02-06 18:24] jreback commented on #31750
yes this likely straightforward to patch

iirc there is a very similar issue if your would search for it

[2020-02-06 19:03] #31747 closed

[2020-02-06 19:13] icexelloss opened #31754 "`raw=True` no longer applies to groupby().rolling() in 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]
When setting `raw=True`
[code]

#### Problem description

This changes the behavior of `raw=True`, it seems it no long allows user to pass numpy array to a rolling udf.

[2020-02-06 20:01] delica1 commented on #29268
Yes please. I would also be interested in this feature. I posted a feature request a few months ago but good to see I am not alone. #28190

If I am not mistaken, it seems it may be easier to implement now with the named aggregates functionality too.

[2020-02-06 20:28] jbrockmendel opened #31759 "DEPR: disallow mutating operations in groupby.apply"
A common issue [citation needed] comes up in groupby.apply when a user passes a function that modifies its argument in-place.  This is because we call the function on the first group first to see if we can use a fastpath, and then again when we apply it to all groups.

We could add a kwarg to specify if a function may mutate its data, e.g. `gb.apply(myfunc, may_mutate=True)` in which case we could

[2020-02-06 20:33] jreback commented on #31759
dask has the keyword pure for this purpose
we could adopt it

cc @TomAugspurger
cc @mrocklin

[2020-02-06 20:40] mrocklin commented on #31759
In hindsight the term `pure` was a bad choice for us.  It means lots of things, not all of which you may intend to communicate here.

[2020-02-06 21:11] icexelloss opened #31760 "groupby().agg() calls the user function for an extra time with empty inputs in 1.0.0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In 1.0.0, this code outputs:
[code]

In 0.25.3, the code outputs:
[code]

In 1.0.0, `foo` is called one more time with empty input, which can break user code

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before subm

[2020-02-06 21:51] davidwales commented on #31731
@jorisvandenbossche Sorry for the dramatic title! Thanks for fixing it. :)

Thanks for the explanation. Does this mean that the best way to add a new string column consisting of repeated values is something like this?

[code]

Is there a more straightforward way to express this, in the spirit of `df['A'] = 'test'`?

[2020-02-06 21:56] jorisvandenbossche commented on #31731
I am afraid not. It's certainly not ideal (and you example above actually also needs to pass df.index to Series(..) in case you have a non-default index), but it's a problem in general, only aggravated by the fact that "string" dtype is not yet the default dtype.
So until that is the case, I think what you show is the best workaround ..

In the case when you are overwriting an existing column, we

[2020-02-06 22:00] WillAyd commented on #31754
Yea looks off. Any chance you can investigate to see what's going on?

@mroeschke

[2020-02-06 22:05] WillAyd opened #31762 "Rolling Apply Docs Broken"
A google of "rolling apply" for me yields:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.window.Rolling.apply.html

Which results in an HTTP 403. Working link now is:

https://pandas.pydata.org/docs/reference/api/pandas.core.window.rolling.Rolling.apply.html

As pointed out by @TomAugspurger seems to be an issue with `window.Rolling.apply` vs `window.rolling.Rolling.apply

[2020-02-06 22:49] davidwales opened #31763 "Assigning scalars to nullable dataframe columns reverts to default dtypes."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Because the new nullable datatypes are not yet the default, it's very tricky to convince dtypes to stay as nullable dtypes. Helpful shortcuts for assigning repeating values to a dataframe column infer the default types, even if the column is currently a nullable type, and the data being added can be represented

[2020-02-06 22:50] davidwales commented on #31731
I've added another issue to consider better ways to assign scalars to nullable columns: #31763

[2020-02-06 23:05] TomAugspurger commented on #31763
assign can't take additional kwargs. All the keywords are new column names.

We should be able to fix `DataFrame.__setitem__` rather than introduce workarounds.

[2020-02-06 23:07] jreback commented on #31763
this is as expected now; a single string is inferred to object type; so you have to be explicit about the dtypes

-1 on making this more complex with options

this should work (though i am sure if we actually broadcast this)

df[‘A’] = pd.array([‘test’, dtype=‘string’)

[2020-02-06 23:08] TomAugspurger commented on #31763
Don't we have logic about whether an existing block can hold a new value?

[2020-02-06 23:09] jreback commented on #31763
no, when u assign a new column he dtype is completely new

however with .loc it does consider (though i think we may have changed this)

[2020-02-06 23:18] davidwales commented on #31763
@jreback I tried `df['A'] = pd.array(['test'], dtype='string')`, but I got `ValueError: Length of values does not match length of index`.

[2020-02-06 23:41] #31677 closed

[2020-02-06 23:58] #31722 closed

[2020-02-07 00:09] WillAyd commented on #31735
Is this getting thrown from `_wrap_agged_blocks`? There was a lot of work outside of the block code to use `OutputKey` in groupby.base as a key and have the `wrap_*` functions be able to work with that

[2020-02-07 00:12] jbrockmendel commented on #31683
Closed by #31724.

[2020-02-07 00:12] #31683 closed

[2020-02-07 00:15] davidwales commented on #4094
This is also a problem with the new nullable integer types.

[code]

[2020-02-07 00:37] jbrockmendel commented on #31735
No, it is in the _cython_agg_blocks call, full traceback:

[code]

[2020-02-07 01:52] joybhallaa commented on #29310
take

[2020-02-07 03:24] khalludi commented on #27328
Using the template from mroeschke, you can add the letter 'T' pretty easily by replacing the space character.

[code]

I'm still new here, but I think the above workaround solves the issue of the optional T without having to change the codebase. Therefore, the issue can be closed.

Please correct me if I'm wrong! Linking @mroeschke for feedback.

[2020-02-07 03:35] khalludi commented on #18414
take

[2020-02-07 05:47] nugend commented on #27328
I'll have to try and remember what we did. I *think* it might have been something similar.

[2020-02-07 06:12] #30974 closed

[2020-02-07 07:25] jorisvandenbossche commented on #31763
I thought as well (or at least I seem to remember discussion about this), but is seems `loc` also does full type inference again:

[code]

That would have been a nice workaround otherwise ..

[2020-02-07 07:56] MarcoGorelli commented on #29310
Sure - you can see #29404 for a starting point if you like

[2020-02-07 08:01] joybhallaa commented on #29310
@MarcoGorelli , sure will do!

[2020-02-07 09:24] s-scherrer commented on #30726
In order to reproduce this, could you try to save the arguments passed to the last line (`sign` and `th`) to a file, and then try to run it only with these specific arguments?

[2020-02-07 09:50] Semiarty opened #31770 "read_from_sql() throws TypeError: 'NoneType' object is not iterable in sql.py"
#### Code Sample, a copy-pastable example if possible

[code]
SQL part
[code]

#### Problem description
I am trying to get a dataframe from the above query, however it throws TypeError: 'NoneType' object is not iterable when trying to pull results from #test2 table ('SET NOCOUNT ON;' is being used) . Everything up to that point and after works perfectly, however it looks like it has something to d

[2020-02-07 10:27] Semiarty commented on #31770
I have tried connecting to db manually with pyodbc and fetching the table - it seems to throw "ProgrammingError: No results.  Previous SQL was not a query." when fetching #test2, but works when fetching #test1. Looks like it is a pyodbc issue.

[2020-02-07 11:23] Semiarty commented on #31770
cursor.nextset()
cursor.fetchone()
resulted in the expected ouput. Closing as it's not a pandas issue.

[2020-02-07 11:23] #31770 closed

[2020-02-07 11:32] jreback commented on #31763
yeah we changed this a while back to make .loc[:] behave the same as setitem

[2020-02-07 11:39] ThibTrip opened #31771 "BUG: df.to_markdown() with empty frame incorrect output"
#### Code Sample, a copy-pastable example if possible

[code]
[code]

#### Problem description

The markdown output of empty DataFrames does not seem right to me (see Expected Output).

#### Expected Output

[code]

#### Render difference

##### Current

| id   | first_name   | last_name   |
||

##### Expected

| id   | first_name   | last_name   |
|-----:|-------------:|------------:|

#### Outpu

[2020-02-07 11:50] jorisvandenbossche opened #31772 "BUG: setitem on string dtype with slices fails"
[code]

[2020-02-07 11:50] jorisvandenbossche commented on #31763
If you specify explicitly the full slice (with start and/or end) instead of the implicit full slice (`:`), then it actually preserves the data type. For example with iloc:

[code]

Or with loc if you know the labels (or could do something like `df.index[0]:df.index[1]`):

[code]

(BTW, in retrospect, such corner cases seem to indicate to me that the change of letting `.loc[:, 'col']` do type infer

[2020-02-07 12:03] mirekphd commented on #25349
This is arguably whaty `ignore_index=True `should be doing instead of failing silently.

[2020-02-07 12:14] MarcoGorelli commented on #31771
Thanks @ThibTrip

`to_markdown` is a wrapper around `tabulate`, and it looks like this issue was raised there: https://github.com/astanin/python-tabulate/issues/15

[2020-02-07 12:51] sbrugman opened #31774 "REGR: Timestamp subtraction raises TypeError, Non informative"
#### Code Sample

[code]

Outputs:
[code]

#### Problem description

The difference between the timestamps is too large for the Timedelta object. This can be traced back to these lines:

https://github.com/pandas-dev/pandas/blob/2dadd0f48949182dda412eb4032b5234c43c83c1/pandas/_libs/tslibs/c_timestamp.pyx#L303

For the example we can see that
[code]
results in
```OverflowError: int too big to conve

[2020-02-07 13:05] yadunathg opened #31775 "Feature Request: Sample method for Groupby objects"
Many times it is desirable to be able to iterate over a small number of groups of a group by object. Currently there is no direct way to get a random sample of groups.

Similar to DataFrame.sample method, can we have Groupby.sample method which gives us a Dictionary{'group_name'->'group_labels'} containing n randomly selected groups?

#### Expected behaviour
[code]

[2020-02-07 13:35] charlesdong1991 commented on #31775
interesting, will look into it

[2020-02-07 13:53] aminemosbah opened #31776 "cannot import name 'OrderedDict'"
#### cannot import name 'OrderedDict'
trying to work on collab and panda failed to import  'OrderedDict'

here is the code
import pandas as pd
data = pd.read_csv('/content/causalnex/fulcase_causal.csv', delimiter=';', index_col=0)
data.head(5)

 here is the message
/usr/local/lib/python3.6/dist-packages/pandas/io/formats/html.py in <module>()
      8 from textwrap import dedent
      9
---> 10 fro

[2020-02-07 14:33] sbitzer opened #31777 "GroupBy aggregation of DataFrame with MultiIndex columns breaks with custom function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The above call raises
[code]
because
https://github.com/pandas-dev/pandas/blob/cf01369d5d82362565d5c58ee4d6094782b0f8e1/pandas/core/groupby/generic.py#L970-L972

assumes that the original columns were only `Index`. Doing
[code]
works as expected (result with MultiIndex columns).

#### Expected Output
That of
[co

[2020-02-07 14:50] aman-thind opened #31778 "Error: tuple index out of range"
I/P
dims = np.shape(df)
print(dims)
O/P
(142, 3)

I/P
pixel_matrix = np.reshape(df, (dims[0]* dims[1], dims[2]))
print(np.shape(pixel_matrix))
O/P
IndexError                                Traceback (most recent call last)
<ipython-input-71-0f88d37eb802> in <module>
----> 1 pixel_matrix = np.reshape(df, (dims[0]* dims[1], dims[2]))
      2 print(np.shape(pixel_matrix))

IndexError: tuple index out

[2020-02-07 14:56] darshit-doshi commented on #29055
@mccarthyryanc, But in case if we want to fetch data from AWS S3 bucket, then  this workaround is of no use...Any idea whant need to be done in that case ??

[2020-02-07 15:10] mila opened #31779 "Categorical.from_codes fails for the (new nullable) Int64 dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`Categories.from_codes` works with Series with the Numpy `"int64"` dtype.

[code]

I would expect that it will work with the new Pandas `"Int64"` dtype.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3

[2020-02-07 15:22] giuliobeseghi opened #31780 "Groupby get_group is not consistent - sometimes it returns the grouping columns, sometimes it doesn't"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This is quite weird and unfortunately I can't replicate it. The previous piece of code randomly returns one of the two options:

1)
|    |   a |   b |   c |
|---:|----:|----:|----:|
|  0 |   0 |   0 |   0 |
| 10 |  10 |  20 |   0 |
| 20 |  20 |  40 |   0 |
| 30 |  30 |  60 |   0 |
| 40 |  40 |  80 |   0 |

2)
|

[2020-02-07 15:28] Lama09 opened #31781 "numpy.core._exceptions while resample using spline interpolation"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I have a grouped timeseries from measurement data which looks like this. I now would like to increase the sample rate from 0.01s to 0.001s using the following code.

[code]
This will end up in the following exception.

[code]
Select a frequency for downsampling like this.

[code]
It seems to be working. The upsa

[2020-02-07 15:32] suddensleep opened #31782 "Different behavior of numpy functions when used as a Python lambda function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

To most Python/Pandas users, `np.std` and `lambda x: np.std(x)` should be interchangeable, as should any other method and its lambda equivalent. However, due to the implicit translation to `pd.std` that occurs in the latter example, these two calls use different default values of the `ddof` parameter, which can

[2020-02-07 15:44] lcmcninch opened #31783 "read_excel error for header=None and index_col as list"
#### Code Sample

[code]
#### Problem description

Above leads to the following error. This seems to be related to the combination of header=None and index_col as a list. If I give an integer index_col, or leave out header=None (or specify a header) there is no error.

The only other reference to this issue I found was [this stack overflow question](https://stackoverflow.com/questions/48334347/rea

[2020-02-07 15:54] tommontroy opened #31784 "BUG: DataFrame._item_cache not cleared on on .copy()"
#### Code Sample, a copy-pastable example if possible

import copy
import pandas as pd
import platform

print('Python Version', platform.python_version())
print('Pandas Version', pd.__version__)

a = [1.]

d = {}
d['a'] = a
df = pd.DataFrame(d)

print('Initial data frame')
print(df)
print('------')

\# This statement must be before the print statement
\# Removing this causes the bug to disappear
d

[2020-02-07 16:00] mccarthyryanc commented on #29055
@darshit-doshi if your data is in a public S3 bucket this method will work, you just need the full object URL.

If not in a public bucket I would use something like [s3fs](https://s3fs.readthedocs.io/en/latest/):
[code]

[2020-02-07 16:29] WillAyd commented on #31776
Hard to say from info provided but this hasn't existed in pandas for quite some time. You should try upgrading

[2020-02-07 16:30] DanielBustillos commented on #31581
Hi, I have checked the error, can I work on it?

[2020-02-07 16:31] aminemosbah commented on #31776
I m on collab it must have a compatible  on

[2020-02-07 16:33] WillAyd commented on #31776
Gotcha. I assume an issue with however the colab was set up so hard to say.

Closing as I don't think a pandas issue, but if you can reproduce with pandas alone let us know and can reopen

[2020-02-07 16:33] #31776 closed

[2020-02-07 16:38] MarcoGorelli commented on #31581
Hi @DanielBustillos  - sure, pull requests are welcome! See the [contributing guide](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html) for how to get started

[2020-02-07 16:49] m-lal opened #31785 "Crash when using align between a Series and a DataFrame and ffill (or bfill) method"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This problem only occurs on pandas version >= 1.0.0
Pretty simple bug to reproduce... Quite a serious issue! It should probably shows elsewhere also.

**When using align between a Series and a DataFrame with a fill method the code hits this

assert isinstance(obj, type(self)), type(obj)
AssertionError: <class '

[2020-02-07 17:01] aminemosbah commented on #31776
Yeep no issue we using a standalone pandas it only pups up with google collab without any impact on the workflow though ! However a bit annoying

[2020-02-07 17:25] Liam3851 commented on #31778
Stack Overflow is the proper place for usage questions.

In your example, dims is a tuple of 2 elements: 142 and 3. Your np.reshape call refers to dims[2], which is out of range for dims.

[2020-02-07 17:39] 3vts commented on #29547
Is there still work remaining here? I want to contribute

[2020-02-07 17:59] TomAugspurger commented on #31785
Thanks for the report. From https://github.com/pandas-dev/pandas/pull/30613 I think. cc @topper-123

[2020-02-07 18:19] topper-123 commented on #31785
Yeah, this is caused by #30613. Looking into it.

[2020-02-07 18:23] MomIsBestFriend commented on #29547
@3vts Yes, of course :)

I think you can take

pandas/tests/util/test_assert_extension_array_equal.py

---

LMK if you want more.

[2020-02-07 18:28] rushabh-v opened #31787 "plotting backends doesn't plot for the first time after importing pandas"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
[code]
#### Problem description
If you use any of the above three options to plot. for the first time, it will just return something like `<matplotlib.axes._subplots.AxesSubplot at 0x7f6b28a75ac8>
`. And then, from the next time onwards it will plot the graph. Even if you use one option after another then also from the second tim

[2020-02-07 18:29] #31778 closed

[2020-02-07 18:55] m-lal commented on #31785
You're welcome. Hope it helps.

[2020-02-07 19:08] alimcmaster1 commented on #31771
Looks like a fix was released too - perhaps just a case of specifying min tabulate version

[2020-02-07 19:13] MarcoGorelli commented on #31771
@alimcmaster1 I've tried this with the latest release of `tabulate` on PyPI (0.8.6) and it's still present

[2020-02-07 19:22] alimcmaster1 commented on #31771
I’ve asked @astanin

[2020-02-07 19:24] mdering opened #31789 "MemoryError when using series.rolling().corr(other) with >1.0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Running the code above results in the following error `Unable to allocate 314. TiB for an array with shape (43200000000000,) and data type int64` on pandas 1.0.1. Confirmed that this used to work on pandas 0.25.3.

#### Expected Output
The correct calculations

#### Output of ``pd.show_versions()``

<details>

[2020-02-07 19:31] guidoavvisati commented on #10710
This was actually rather misleading for me, also considering pandas behaviour with single indexed columns. There, you can select a shuffled view by passing in a list with the correct order, i.e.
`df[["C", "B", "A"]]` would work.

In my case, I tried to combine this knowledge with the multi index, expecting the first use case as mentioned by @toobaz

[code]
and I was bitten rather badly by it (face

[2020-02-07 20:53] TomAugspurger commented on #31787
@rushabh-v what do you mean by "doesn't plot"? If you're getting back an Axes object, then I think it's plotting.

[2020-02-07 20:55] jorisvandenbossche commented on #31789
@mdering Thanks for the report!

cc @mroeschke

[2020-02-07 21:00] jorisvandenbossche commented on #31777
@sbitzer Thanks for the report!

cc @jbrockmendel

[2020-02-07 21:03] jorisvandenbossche commented on #31774
So before, this returned a `datetime.timedelta`, as that can hold such big values.

cc @jbrockmendel do you know if this was removed on purpose?

[2020-02-07 21:23] jreback commented on #31782
as you have read the linked issue; you should understand that a) this is the default and b) this is impossible to change

happy to take even better documentation

closing as wont fix

[2020-02-07 21:23] #31782 closed

[2020-02-07 21:30] antoine-gallix opened #31793 "Difference between two Timestamp with different timezone object type fails"
I encountered an issue while calculating the difference between two timestamps
of different origin. The first timestamp comes from a function using the `arrow`
package. The timestamp is in UTC timezone. The other timestamp comes for another
package returning a `pandas.DataFrame`, also with UTC timestamps. An exception is
raised when trying to get the difference between the two timestamps. Here fol

[2020-02-07 21:45] jreback commented on #31793
there are a couple of issue about arrow objects not playing nice

Timestamp is a subclass if datetime.datetime so likely this is an issue in the arrow side

you can certainly investigate but panda does not offer any support here

[2020-02-07 22:14] amm123 commented on #11493
is there a way for pandas to just ignore the extra fields in any row that has more fields ?
for example in case "Expected 53 fields in line 1605634, saw 54"
it just drop field 54 in line 1605634

[2020-02-07 23:45] ericksc opened #31798 "Failed to create the storer for xarray on HDFStore"
When The code below tried to store into a hdf in case of xarray DataArray but it cased an error. Other datatypes

[code]
#### Problem description

When a DataArray was tried to be stored in an HDF5 file but it caused an error like this:

[code]

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3

[2020-02-08 00:09] TomAugspurger commented on #31798
I don't think that's supported. You could use xarray's [to_netcdf](http://xarray.pydata.org/en/stable/generated/xarray.DataArray.to_netcdf.html#xarray.DataArray.to_netcdf).

[2020-02-08 00:36] WillAyd opened #31801 "to_json index with Null Value Broken in 1.0"
Discovered by @ArtificialQualia in #31748

Previous behavior on 0.25.3:

[code]

And now on master:

[code]

Note that pd.NA also just has its str representation written out:

[code]

pd.NaT still works because of this logic:

https://github.com/pandas-dev/pandas/blob/6d3cc14fc52685511329cedf1e11d15651ac6a8e/pandas/_libs/src/ujson/python/objToJSON.c#L1455

So probably need to generalize for other

[2020-02-08 01:30] mattharrison opened #31802 "REGR: cumsum regression with groupby call to agg"
#### Code Sample, a copy-pastable example if possible

I want to define a custom function that I can pass to the `agg` method. It uses the `cumsum` method, which appears to be problematic recently.

[code]
#### Problem description

Prior to Pandas 1.0rc this worked. It now raises an exception:

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

[code]

[2020-02-08 03:21] rushabh-v commented on #31787
Yes, but it doesn't display any plot.

[2020-02-08 03:56] jbrockmendel opened #31803 "DEPR: df.loc(axis)"
Internally we only use this in a couple of places, so it would be easy to remove.  It shows up in user_guide/advanced and in the 0.14.0 release notes.

Without it we could reduce some complexity in the indexing code.

[2020-02-08 05:14] GrizzledLabs commented on #29547
Something I can help with! It will be my first open source contribution, so I may need some help. I have read some how to contribute articles, but still.

Which ones would you like me to handle?

[2020-02-08 05:20] 3vts commented on #29547
@MomIsBestFriend seems like `pandas/tests/util/test_assert_extension_array_equal.py` was fixed on PR [#30816](https://github.com/pandas-dev/pandas/pull/30816/files#diff-30862c667b0a3bb93d926886893682b4), also, I already have the environment set up. Can you give me some load to work with?

[2020-02-08 08:11] #31615 closed

[2020-02-08 09:28] PochiaOscar opened #31805 "df.loc[0] = row, datatype changes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[If you run the code, the datatype of row[0] and row[1] is int. However, after I input row into row_df, in row_df the datatype of the first two columns changes into float.

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check fir

[2020-02-08 09:29] PochiaOscar commented on #31805
Looking forward to your response. Thank you

[2020-02-08 10:28] jorisvandenbossche commented on #31802
@mattharrison Thanks for the clear report! I can confirm this is a regression.

cc @jbrockmendel this is another example of something failing in libreduction with another error than the specific one that is catched:

https://github.com/pandas-dev/pandas/blob/ca84bd0ae9bd73cb95d8ae6ffb270914c828ed62/pandas/core/groupby/ops.py#L640-L648

[2020-02-08 10:57] Ayvytr opened #31806 "Series.str.contains Question"
#### Not contains Question

[code]
#### Problem description

How can I get a not contains value?

[2020-02-08 10:58] Ayvytr opened #31807 "Not contains Question"
#### Not contains Question

[code]
#### Problem description

How can I get a not contains value?

[2020-02-08 13:06] alimcmaster1 commented on #31806
Have you tried stack overflow? https://stackoverflow.com/questions/17097643/search-for-does-not-contain-on-a-dataframe-in-pandas

[2020-02-08 13:07] alimcmaster1 commented on #31807
Duplicate of #31806

[2020-02-08 13:07] #31807 closed

[2020-02-08 13:09] alimcmaster1 commented on #31806
Feel free to reopen if you feel this is unanswered

[2020-02-08 13:09] #31806 closed

[2020-02-08 13:16] Ayvytr commented on #31806
Eh, Thank you very much!

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
From: alimcmaster1 <notifications@github.com>
Sent: Saturday, February 8, 2020 9:06:15 PM
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Ayvytr <ayvytr@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [pandas-dev/pandas] Series.str.contains Question (

[2020-02-08 13:20] alimcmaster1 commented on #29547
@3vts @GrizzledLabs - feel free to take any of the files that haven’t been done yet in the list above (and check no one else is working on it) - then comment on here what you are working on! Thanks !

[2020-02-08 15:55] GrizzledLabs commented on #29547
pandas/core/arrays/boolean.py appears to already be done. I saw one f'string and no .format(), unless I missed it.

[2020-02-08 16:06] GrizzledLabs commented on #29547
@MomIsBestFriend pandas/core/dtypes/common.py appears to be done already as well

[2020-02-08 19:25] jbrockmendel commented on #31805
what would you expect the result to be?  i guess you'd want it to stay object-dtype?

[2020-02-08 19:28] jbrockmendel commented on #9595
@jorisvandenbossche im putting together an overview of the state of the indexing code.  Is the description of the API here still accurate/complete?

[2020-02-08 19:59] jbrockmendel opened #31810 "BUG/API: df.loc[a, b] = c allows positional slice for a"
[code]

In this case there are plenty of alternatives that amount to doing `df["A"].iloc[4:6] = 0`, but this isnt robust to mixed-dtype frames, so I'm not sure if we have a supported way of doing this correctly.

[2020-02-08 20:24] data-RanDan commented on #31663
Hey, I'd love to give it a shot (first issue)

[2020-02-08 21:35] jbrockmendel commented on #31793
I can't speak to the arrow side of things, but on the Timestamp side this is an easy fix if we want to support it (which I would be +1 on)

The check in _libs.tslibs.c_timestamp on L295 `if not tz_compare(self.tzinfo, other.tzinfo):` would instead check for `if (self.tzinfo is None and other.tzinfo is not None) or (self.tzinfo is not None and other.tzinfo is None):`

[2020-02-08 22:43] RS574 opened #31811 "groupby returns non-pertinent combinations in result"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The groupby() function returns a result that has every possible combination of the grouping criteria, and shows 'NaN' for non-significant combinations (see screenshot of the results below). This behavior was not observed in pandas version 0.24.2. Earlier version only returned combinations with values (ie, combin

[2020-02-08 22:43] Roman-Ka commented on #29547
Hi, I will take these:

pandas/compat/pickle_compat.py
pandas/_config/config.py

[2020-02-08 23:01] marcevrard commented on #31522
Thank you for the quick fix, I confirm it indeed works again with the 1.0.1 version.

[2020-02-09 01:23] dsaxton commented on #31811
I think this is expected because when you call cut on col4 the output is Categorical, and all categories of a Categorical appear in the groupby result even if they aren't in the original DataFrame. You can disable this by setting observed=True in the call to groupby.

[2020-02-09 04:23] 3vts commented on #29547
@MomIsBestFriend reviewing the thread I found there is an exception for the predefined strings. Does this still apply? Or we have now. a workaround?

[2020-02-09 07:10] scrraj commented on #29418
bump

[2020-02-09 11:33] sasanquaneuf opened #31819 "pandas 1.0.1 read_csv() is broken for some file-like objects"
#### Code Sample

[code]
#### Problem description

Pandas 1.0.1, this sample does not work. But pandas 0.25.3, this sample works fine.
As stated in [issue #31575](https://github.com/pandas-dev/pandas/issues/31575), the encode of file-like object is ignored when its class is not io.BufferedIOBase neither RawIOBase.
However, some file-like objects are NOT inherited one of them, although the "actual"

[2020-02-09 12:06] rusiano opened #31821 "pd.read_csv automatically casts strings into int/float"
#### Code Sample, a copy-pastable example if possible

[code]

1             int64
2             int64
dtype: object

#### Problem description

I have string columns that I write as strings, but when I read them I find out that they have been converted to numeric even though the csv has all the necessary quoting characters. I do not understand why they are converted to numeric if they are strings,

[2020-02-09 15:00] Niroznak opened #31823 "concat ignore_index option doesnt work"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
concatenating the tables leaves 1 partially empty row that shouldnt be there, on pandas version version (0.23.4) it didn't happen.
this happened after upgrading pandas to below version.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below

[2020-02-09 15:13] MarcoGorelli commented on #30999
@MomIsBestFriend this one is done already:
pandas/tests/arithmetic/test_numeric.py

[2020-02-09 17:08] #31299 closed

[2020-02-09 17:12] #31785 closed

[2020-02-09 17:19] #29079 closed

[2020-02-09 17:21] rwolst opened #31827 "Should pd.core.algorithms.match have been removed?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I have just started using the 1.0 release and just realised that the `pandas.core.algorithms.match` function has been removed. I did some investigating and found it was first discussed here

https://github.com/pandas-dev/pandas/pull/15538

and then finally removed here

https://github.com/pandas-dev/pandas/pull

[2020-02-09 17:23] #31526 closed

[2020-02-09 17:25] dsaxton opened #31828 "DOC: Mention black and PEP8 in pandas style guide"
`black` and PEP8 are pretty important elements of code style in `pandas` but they aren't mentioned in the style guide, so it may make sense to include them.

https://pandas.pydata.org/pandas-docs/stable/development/code_style.html

[2020-02-09 17:29] RS574 commented on #31811
Setting observed=True resolves the issue. Thanks for your help! I guess the bug is in pandas 0.24.2 then because it appears setting observed to True or False has no effect in that version.

[2020-02-09 17:29] #31811 closed

[2020-02-09 18:10] ShamanthNyk commented on #31663
I would like to work on this issue.

[2020-02-09 18:11] MarcoGorelli commented on #31663
Pull requests are welcome

[2020-02-09 20:20] jbrockmendel commented on #30349
I don't think that's accurate anymore.  `RangeIndex.__getitem__` defers to `Index.__getitem__`, which in turn operates on an ndarray and wraps in _shallow_copy.  RangeIndex._shallow_copy goes directly to Int64Index.

[2020-02-09 20:26] discdiver opened #31835 "1.0.1 on conda - doc change or pushing to main conda channel?"
To install 1.0.1 with conda I needed to use conda forge channel.

The install instructions in the docs say to just use `conda install pandas`, but that installs 1.0.0.

I'm not sure if the solution is to push 1.0.1 to the main conda channel (if you control that) or if it's worth updating the install instructions in the docs so they are in sync with how to install the latest pandas version.

[2020-02-09 20:35] dsaxton commented on #31823
Can you try to create a small reproducible example that demonstrates the issue since others don't have access to your data?

[2020-02-09 20:42] alimcmaster1 commented on #31828
We mention them in the contributing guide?

(Maybe a link would be helpful)

https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#python-pep8-black

[2020-02-09 20:54] #31415 closed

[2020-02-09 21:24] avinashpai commented on #31663
take

[2020-02-09 21:34] #31750 closed

[2020-02-09 21:57] #21425 closed

[2020-02-09 22:41] tritemio opened #31839 "Convert type nullable int <-> nullable string"
#### Code Sample, a copy-pastable example if possible

This code raises an error:

[code]
#### Problem description

Converting a nullable int to nullable string requires a double conversion:

[code]

Likewise, converting a nullable string to nullable int requires two steps:

[code]

Moreover, if the nullable string series has NAs, converting to a nullable int becomes much harder (I don't know if t

[2020-02-09 23:41] shengpu1126 commented on #25019
Hi just to follow up on this, it looks like in pandas 1.0.1, it no longer throws errors for all the above commands 👍. However, the behavior is still not consistent:

[code]

What is the current strategy of determining the index type of a join/concat output? Could you point me to the relevant code?

[2020-02-10 01:54] jbrockmendel commented on #31810
closing as duplicate of #26412

[2020-02-10 01:54] #31810 closed

[2020-02-10 02:53] gfyoung commented on #31828
The purpose of the style guide to express particular style points we follow.  `black` and `pep8` are just tools we use to enforce general "stylistic correctness".

I agree with @alimcmaster1 that linking is probably a sensible thing to do.

[2020-02-10 04:15] fujiaxiang commented on #31269
@punndcoder28 are you still interested? If not, I will take a look at it myself.

[2020-02-10 04:41] punndcoder28 commented on #31269
Yes I am still interested. I am looking that the definitions of similar functions like you had advised.

[2020-02-10 06:29] akdor1154 opened #31843 "Doesn't seem possible to assign to .loc when used with IndexSlice"
#### Code Sample, a copy-pastable example if possible
Given a dataframe,
[code]
I would like to add another column to each of my Years, e.g. I would like
[code]

I am trying to achieve this using `loc` as this seems the recommended way of doing this (please advise if there is a better way).
[code]

This unfortunately explodes.

[code]

This is confusing and unexpected, because the parallel of assi

[2020-02-10 06:39] ganesh-k13 commented on #31697
Hi, I am new to Pandas and was hoping to contribute.

This seems to be expected behavior right? due to [this](https://github.com/pandas-dev/pandas/blob/2dadd0f48949182dda412eb4032b5234c43c83c1/pandas/tseries/offsets.py#L453-L460)

Is this a docs change?

[2020-02-10 07:27] mroeschke commented on #31760
@jbrockmendel looks related to one of your changes https://github.com/pandas-dev/pandas/commit/08087d6712b06502dc0f591b9f66987eba2bb220. Is this avoidable?

[2020-02-10 07:35] mroeschke opened #31845 "ENH: Add engine keyword argument to groupby.apply to leverage Numba"
Similar to https://github.com/pandas-dev/pandas/issues/30936 and https://github.com/pandas-dev/pandas/issues/28987, we should next allow `groupby.apply` to leverage the optional Numba dependency by introducing an engine keyword that operates similarly to `rolling.apply`

[2020-02-10 07:45] dansondergaard commented on #26917
@ramantehlan, I just installed the most recent Jupyter Notebook version in a clean environment and it indeed seems to be fixed. Thanks!

[2020-02-10 07:45] #26917 closed

[2020-02-10 08:57] jorisvandenbossche commented on #30349
And a quick timing confirmed that getitem with a rangeindex is not slower than with a int64 index for the above case, so it's indeed certainly not due to slowness of RangeIndex specifically.

Now, the reason that I actually saw "inference of index dtype" in the profile as mentioned above: although `Index.__getitem__` calls `_shallow_copy` to avoid inferring, `Int64Index._shallow_copy` is then actu

[2020-02-10 09:00] jorisvandenbossche commented on #30349
(I didn't check again how significant this part is of the total, though)

[2020-02-10 09:11] RoyalTS opened #31846 "Don't force conversion to list in to_sql with method callable"
#### Problem description

`pandas.to_sql()` takes a `method` argument that allows one to perform the insert into the database table using a method other than the normal series of `INSERT` statements.

The callable that can be passed using this argument must take a `data_iter` argument, an iterable containing the data. Alas, I can easily imagine ways of writing to the database in which it would be

[2020-02-10 09:39] MotoRZR commented on #31845
Agree on this one.  100%

[2020-02-10 11:29] tsoernes opened #31847 "BUG: pd.NA doesn't pickle/unpickle faithfully"
#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.5.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.3.16-200.fc30.x86_64
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
L

[2020-02-10 11:32] klieret opened #31848 "Query ``abs(column) == [1, 2]`` fails"
#### Code Sample, a copy-pastable example if possible

[code]

traceback:

<details>

[code]

</details>

#### Problem description

A value error is raised for the query

#### Expected Output

Same as ``df.query("col == [1, -1, 2, -2]")``

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2020-02-10 11:47] antoine-gallix commented on #31793
I notified people at Arrow's of the bug. Maybe they agree with @jreback and do something on their side. Here is the link: https://github.com/crsmithdev/arrow/issues/755

[2020-02-10 12:06] Shawe82 opened #31849 "SeriesGroupby transform unique not working in Pandas 1.0.1"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Since pandas 1.0.1, unique does not seem to be a whitelisted transform function for SeriesGroupby objects anymore. The above code works with pandas 0.25.3 but not with 1.0.1 It raises a ValueError exception:

[code]

I tried to find a documentation on that changed but was not succesful. If that is the intended b

[2020-02-10 12:11] kitschen commented on #20824
I'm using latest v1.0.1 but still see this issue. Also the `min_count=1` argument seems to not work (for timedeltas at least). Any suggestions on how to keep the `nan` in a `groupy().sum()`?

[code]

[2020-02-10 12:50] #31754 closed

[2020-02-10 13:21] oguzhanogreden commented on #19495
No objections for @jorisvandenbossche's suggestion?

I "suffered" from this myself. More that, I expected very naturally that I could use a replace method on an index, so I'd like to give this a go if a PR is welcome.

[2020-02-10 13:22] oguzhanogreden commented on #19495
take

[2020-02-10 13:53] TomAugspurger commented on #31835
Anaconda builds the packages uploaded to defaults, usually within a week or so.

I don't think there's anything to do here. The docs will need to be accurate in the future too, and the fact that some / many people will configure conda-forge to be their default makes writing this section tricky to cover all use cases.

[2020-02-10 13:54] TomAugspurger commented on #31839
Thanks. Duplicate of https://github.com/pandas-dev/pandas/issues/31204 I think.

[2020-02-10 13:54] #31839 closed

[2020-02-10 13:55] TomAugspurger commented on #31849
Thanks. In the future, can you include the full traceback? I've added it

[2020-02-10 13:57] TomAugspurger commented on #31849
Last touched in https://github.com/pandas-dev/pandas/pull/29672 (cc @jbrockmendel) but I haven't checked if it was working prior to that commit.

[2020-02-10 14:08] tritemio commented on #31839
@TomAugspurger, sorry I couldn't find the previous issue #31204. I'll comment there to add the roundtrip argument (Int -> string -> Int).

[2020-02-10 14:09] punndcoder28 commented on #31269
Hey @fujiaxiang . I was unable to find the definitions for other similar functions.

[2020-02-10 14:23] tritemio commented on #31204
I want to chime in just to give another use-case from the duplicated issue #31839 .

In addition to conversion **to** `"string"`, converting `"string"` **to** `"Int8/16/64"` when the initial series contains pd.NA is currently quite tricky:

[code]
It should be possible to do simply `s.astype('Int8')`

[2020-02-10 14:23] wailashi commented on #31687
Seems to be still broken on 1.0.1.

[2020-02-10 14:51] discdiver commented on #31835
Gotcha @TomAugspurger . Maybe just worth adding a line in the docs that the default conda channel might take a week to have the latest version after a release - specify conda-forge as the install channel if you want to make sure you have the latest version.

[2020-02-10 14:58] MarcoGorelli commented on #31848
It throws
[code]

Indeed, your DataFrame is of length 4, and you're comparing it to a list of length 2.

[2020-02-10 15:03] jorisvandenbossche commented on #31503
For me, I think the ``query`` use case is also a good reason to go with the skipping-NA behaviour. As what we say about "you can be explicit by doing `s[mask.fillna(False/True)]`", that doesn't work with query, since the boolean array gets created inside the function.
So for `query` to be workable with nullable dtypes, it would need to use a behaviour that doesn't raise (or it would need to add a

[2020-02-10 15:03] manel00 commented on #11493
Another case! but resolved with "error_bad_lines=False", it still prints the error but 'exit code 0'

[2020-02-10 15:05] MarcoGorelli commented on #31847
Could you include a reproducible example? I could not reproduce this:
[code]

[2020-02-10 15:07] jorisvandenbossche commented on #28778
A note for who followed the discussion here. The specific issue about indexing (masking) with booleans in the presence of missing values has come up again in https://github.com/pandas-dev/pandas/issues/31503.
We originally decided in this issue to raise for now as the most conservative option, so we could re-evaluate later. In the linked issue, the consensus seems to be that we should go with a "s

[2020-02-10 15:11] manel00 opened #31850 "ENH: str.replace on multiple columns"
#IT WORKS
    df['Total'] = df['Total'].str.replace(r'\.', '')
    df['Homes'] = df['Homes'].str.replace(r'\.', '')
    df['Dones'] = df['Dones'].str.replace(r'\.', '')

    #IT DOESNT WORK
    cols = ["Total", "Homes", "Dones"]
    df[cols] = df[cols].str.replace(r'\.', '')

On Pandas 1.0.1

[2020-02-10 15:11] klieret commented on #31848
Thanks for your quick reply, @MarcoGorelli

However, this works:
[code]
returning the first and third row, so this doesn't just seem to be about broadcasting. The ``column == [...]`` syntax seems rather to be checking whether the value of the column is in the list (like the ``isin`` method).

See also this link: https://jereze.com/fr/code/pandas-query-filter-list/

But perhaps I'm misunderstanding

[2020-02-10 15:26] MarcoGorelli commented on #31848
Good catch, thanks for the report @klieret !

[2020-02-10 15:31] Juanlu001 commented on #25448
This also affects `to_parquet`, which doesn't have a `converters` parameter.

[2020-02-10 15:32] endremborza opened #31851 "ValueError on df.agg if a list of functions is given"
#### Code Sample

[code]

all is as expected here:

[code]

but this dies:

[code]
<details>

TypeError                                 Traceback (most recent call last)
~/.local/lib/python3.7/site-packages/pandas/core/base.py in _aggregate_multiple_funcs(self, arg, _axis)
    553         try:
--> 554             return concat(results, keys=keys, axis=1, sort=False)
    555         except TypeErro

[2020-02-10 15:45] lodagro commented on #31787
Are you using IPython and familiar with [IPython interactive plotting](https://ipython.readthedocs.io/en/stable/interactive/plotting.html#id1)?

[2020-02-10 16:23] WillAyd commented on #31850
There is no `.str` accessor for data frame, only series. This is similar to #27581 but same comment applies - I'm not sure we really would want to add `.str` or `.dt` accessors to DataFrames anyway

[2020-02-10 16:25] TomAugspurger commented on #31503
I'm also OK with that difference.

[2020-02-10 16:43] jbrockmendel commented on #31760
Not at the moment, xref #31759.

[2020-02-10 16:48] jbrockmendel commented on #30349
it sounds like this issue is closeable?  (there are likely still perf gains to be had, but they aren't really specific to boolean masking)

[2020-02-10 16:58] michaelaye commented on #25261
Here is an easy to reproduce minimal example:

[code]
Output:

<img width="969" alt="Screenshot 2020-02-10 09 55 00" src="https://user-images.githubusercontent.com/69774/74171381-b7b96600-4beb-11ea-8219-9603637589c1.png">

(Also here, for your convenience: https://gist.github.com/0b3c5f2ba247194fe84d8f620278dc7c )

I'm puzzled by the advise to plot using MPL instead of using df.plot(), isn't the f

[2020-02-10 17:19] jklymak commented on #25261
`constrained_layout` is typically set at figure creation, so pandas *could* check if its set and *not* do whatever it does to adjust things manually.  Whether it *should* is a cost-benefit question for pandas.  It will probably help some plots, but could break others?

[2020-02-10 17:51] #31789 closed

[2020-02-10 18:19] michaelaye commented on #25261
Could you give an example how existing plots could be broken if all pandas could do is to put an if in front of using subplots_adjust? I guess I'm underestimating some hidden complexity.
I'm open to other suggestion, like a wrapper on my side to switch off constrained_layout, although that would mean I either need to wrap all pandas plotters or all non-pandas plotters...

[code]

[2020-02-10 18:21] jklymak commented on #25261
I cannot - I am not familiar enough with panda's plotting.  However, I'm sure if you made a PR that put this `if` in the appropriate place, pandas would consider adopting it...

[2020-02-10 18:22] michaelaye commented on #25261
i certainly can try. although above comments don't make me hopeful that it would be considered.

[2020-02-10 20:31] jorisvandenbossche commented on #31819
Thanks for the report!

cc @paihu @gfyoung

[2020-02-10 20:54] jbrockmendel commented on #31849
IIRC #29672 was intended to be logic-neutral.

[2020-02-10 20:59] toddrme2178 opened #31856 "`test_maybe_promote_int_with_int` error on 32bit platform"
The test `test_maybe_promote_int_with_int` in `tests/dtypes/cast/test_promote.py` is failing for a subset of combinations where `int8`, `uint8`, `int16`, or `uint16` values are promotoed to `int32` or `uint32` targets on i586 the platform (but not on x86_64).  The error message is pretty consistent.

This failure is new in pandas 1.0.1, it was not present on 1.0.0.

The specific combination of val

[2020-02-10 21:05] gfyoung commented on #31819
Is there a generic way to check all of these?  It seems they have varying interfaces.

[2020-02-10 22:03] TomAugspurger commented on #31856
Thanks for the report. Are you able to bisect to the commit that caused the regression?

[2020-02-10 22:11] TomAugspurger commented on #31851
Looks like the bug is in the result of Series.agg

[code]

I'm not sure what's going on here, but that should be a scalar, right?

[2020-02-10 22:36] endremborza commented on #31851
Yes, that should be a scalar.
I'll look into it tomorrow then.

[2020-02-10 23:04] jbrockmendel opened #31858 "API: df.loc(axis=0)[key] works differently from df.loc[key]"
I would expect these to behave identically, but, from tests.indexing.multiindex.test_slice.TestMultiIndexSlicers.test_loc_axis_arguments:

[code]

[2020-02-10 23:13] jbrockmendel commented on #19456
@toobaz do you have a preferred solution for this and related issues (i.e. sometimes we raise KeyError, sometimes TypeError)?

[2020-02-10 23:43] shippy opened #31861 "Assigned conversion via loc to Int64 fails under peculiar conditions"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Assignment of `.astype('Int64')` sometimes fails with `AttributeError: 'IntegerArray' object has no attribute 'size'`.

Initially, I thought this was a regression from #25584, but it only manifests under very specific conditions:

1. There is exactly one null value in the converted column
[code]
2. There is ano

[2020-02-10 23:55] shippy commented on #31861
I'm happy to report that this works when using `pd.NA` instead of `np.nan`:

[code]

[2020-02-11 00:45] smcinerney commented on #16338
This now gives `ValueError: header must be integer or list of integers`. Great.

[2020-02-11 00:55] pushlog opened #31862 "Pandas qcut - Allow right argument to make left bins inclusive/exclusive"
[code]
#### Similar to R HMISC cut2 Equiwidth Binning

[Having right=False makes left bins inclusive and right bins exclusive whereas right=True makes left bins exclusive and right bins inclusive. When right=False, it replicates what cut2 function from HMISC R package is doing.]

#### Expected Output
<details>
When right=False, index of the dataframe looks like below:

[code]

When right=True, ind

[2020-02-11 00:59] jreback commented on #31862
pls edit the top
to show an example that is copy pastable for both left and right inclusive

can u elaborate in an actual usecase

[2020-02-11 02:02] smcinerney commented on #14124
@jorisvandenbossche : but the [`read_csv` docpage](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) doesn't mention it anywhere.

Can you reopen this and simply add *something* to the `read_csv` doc page:

This sort of troubleshooting info really needs to be directly on the `read_csv` page itself, and not incorporated-by-reference over on the [io docpage](https://pa

[2020-02-11 03:42] monicaw218 commented on #29547
Hi there, first-time contributor 👋 . I'll take:

[ ] pandas/tests/tseries/frequencies/test_inference.py
[ ] pandas/tests/series/methods/test_argsort.py
[ ] pandas/tests/series/test_constructors.py
[ ] pandas/tests/indexing/common.py
[ ] pandas/tests/indexing/test_coercion.py
[ ] pandas/tests/indexing/test_iloc.py
[ ] pandas/tests/indexing/test_indexing.py
[ ] pandas/tests/indexing/test_loc.py
[ ]

[2020-02-11 03:49] datapythonista commented on #29547
@monicaw218, I'd start with just one file, and once your pull request is merged you can continue with the rest. The first contribution is usually trickier than expected, and for us (reviewers) it usually helps too if pull requests are small. Specially for new contributors, where more feedback may be needed.

[2020-02-11 05:05] smcinerney commented on #30191
I propose the following, you might be able to edit it to be somewhat more terse. But I think we do need to explicitly spell out the counterintuitive behavior of a row-wise apply (it took me ages to debug what was going on, and why my parent dataframe's index had disappeared within the apply):

[code]

[2020-02-11 05:27] paihu commented on #31819
I don't think it's enough to make sure it's `file-like` object.
This main point is `file-like` object's `read()` is return `binary` or `str` (or other type?).
If it return `binary`, decode return values as `encoding`. Currently, we use `TextIOWrapper`.
But I don't know how to check the return value of `read ()` without using `read()`.(some case, file-like object is not seekable)

just an idea.
[co

[2020-02-11 05:40] gfyoung commented on #31819
Alternatively, we could just drop the check for it being an instance of `io.BufferedIOBase` or `RawIOBase`, no?  Perhaps wrap the `TextIOWrapper` instantiations with a `try-except` to provide an informative error message?

[2020-02-11 06:02] naterarmstrong commented on #31663
take

[2020-02-11 06:37] paihu commented on #31819
sadly `TextIOWarapper` instantiation does not return an error, if `file-like` object's `read()` return str.
If the `read()` of a `file-like` object returns a value other than `binary`, using `read()` on a `TextIOWrapper` instance will raise an error. (e.g. `TypeError: a bytes-like object is required, not 'str'`)

[2020-02-11 06:47] gfyoung commented on #31819
I see.  Given how many different file-like objects we have to support, I think this is the best way to go for the time being.  It's better that we restore existing file-likes that worked before and then re-evaluate our logic later to catch "invalid file-likes" (for lack of a better term).

[2020-02-11 07:01] mroeschke commented on #28968
Could you most a more minimal example of the buggy behavior? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-02-11 07:46] jorisvandenbossche commented on #31858
I don't think those should behave the same, as that is exactly one of the differences (or reasons) in using `loc(axis=0)`: you know you are only indexing one axis, so you are already past the "interpret the indexer as potentially indexing two axes"-step.
So to me it is logical there *can* be a difference.

With your example, the thing that should be equivalent is `df.loc[("A1":"A3", :, ["C1", "C3"

[2020-02-11 07:48] pquentin opened #31869 "Dividing None Series with Timedelta fails with pandas 1.0.1"
#### Code Sample

[code]

#### Problem description

With pandas 1.0.0, this was working fine and putting `NaN` in the `Series`.

With pandas 1.0.1, I get the following traceback:

[code]

I run `git bisect` and the new behavior has been introduced in https://github.com/pandas-dev/pandas/commit/a8aff6cdd12b3e3ed2c767b1752fd17a19be6590.

What is the correct behavior?

#### Output of ``pd.show_versio

[2020-02-11 07:50] sasanquaneuf commented on #31819
Just idea, we might classify the object by it has `encoding` attribute or not.
[code]

and BufferedIOBase does not have `encoding` attribute.

[2020-02-11 08:15] gfyoung commented on #31819
Not sure I follow you here.  How would this help determine which files to pass through or not?

[2020-02-11 08:35] jreback commented on #30191
@smcinerney jot opposed to a small update in the doc string but adding examples might be more useful

[2020-02-11 08:36] #31862 closed

[2020-02-11 08:42] MarcoGorelli commented on #30191
@smcinerney feel free to submit a pull request

[2020-02-11 08:45] Semiarty commented on #31770
I found the solution to my problem, so just in case someone else runs into this issue, here's my comment from pyodbc ticket:

Inserting "SET ANSI_WARNINGS OFF" at the beginning of SQL query worked.

[2020-02-11 08:47] sasanquaneuf commented on #31819
Sorry, I think about @paihu 's following comment:

TextIOBase has `encoding` attribute.
https://docs.python.org/3/library/io.html#io.TextIOBase

RawIOBase and BufferedIOBase does not have `encoding` attribute, because they treats binary data. So I think that we can check the type of return value without use `read()`.
Just idea, change the condition
[code]
to
[code]
(or use `getattr(source, 'read')

[2020-02-11 09:21] gfyoung commented on #31819
@sasanquaneuf : You are more than welcome to give your suggestion a try!

[2020-02-11 09:38] h-vetinari opened #31870 "REGR: changed return type for multi-dimensional indexing"
I kept my code free of deprecation warnings for 0.25.3 but upgrading still broke it.

I can now see on the tracker that multi-dimensional indexing has been deprecated #27837, #30588 #30867, but it seems the introduction of the deprecation warning has changed the behaviour itself.

[code]

On `v1.0.1`, this yields an `np.array` instead of a `pd.Index`, and so the `.values` call fails.
[code]

Note

[2020-02-11 09:41] systemcatch commented on #31793
Hey everyone, arrow uses dateutil everywhere for it's tzinfos. We don't have any plans to move to pytz.

@jbrockmendel's solution looks good, I can submit a PR if this is the agreed path.

[2020-02-11 09:55] jorisvandenbossche commented on #31869
@pquentin Thanks for the report!

cc @jbrockmendel

[2020-02-11 10:03] jorisvandenbossche commented on #31870
Apparently this wasn't really included well in the whatsnew note (which only mentioned the deprecation), but this change was intentional.
The problem was that before 1.0, you got an Index object in a "corrupted" state (holding a 2D array as `.values`, which would fail in many operations). So there was a breaking change to now return the actual 2D array instead of the 1D Index holding the 2D array

[2020-02-11 10:36] h-vetinari commented on #31870
Thanks for the quick response, that explains things a bit.

After tracking down the differences and raising this issue, I now also see that it can be quite easily solved in my case (as the warning suggests) by multi-indexing into the underlying `.values`. This solves my immediate problem, but -- annoyingly -- is not cross-compatible. In any case, it's enough to close this issue.

[2020-02-11 10:36] #31870 closed

[2020-02-11 10:44] jorisvandenbossche commented on #31870
How is that not cross-compatible? I would think that works for both pandas 0.25.x and 1.0.x?

[2020-02-11 10:46] DavidMStraub opened #31871 "Hexbin plot ignores matplotlib default colormap"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I don't know if this is intentional behaviour, but plotting a data frame as hexbin with matplotlib, the matplotlib default colormap (e.g. set by the style sheet, via `rcParams`, or whatever) is ignored due to this line:

https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_matplotlib/core.py#L1010

[2020-02-11 11:06] tomasssalles opened #31872 "Type hint of DataFrame(...dtype...) excludes numpy scalar types such as np.int8"
#### Code Sample

[code]
#### Problem description

The code sample above was taken straight from the API reference:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

It results in a 'Type checker' inspection warning from PyCharm because `np.int8` is not an instance of the expected type `Union[str, np.dtype, "ExtensionDtype"]`. Indeed, `isinstance(np.int8, np.dtype)`

[2020-02-11 12:52] tsoernes opened #31873 "Left merging a 6628 row DF with a 127286 row DF yields a 48939191 row DF"
#### Code Sample, a copy-pastable example if possible

[code]

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.4.0-1101-aws
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL

[2020-02-11 12:55] tsoernes commented on #31873
Forgot that this is due to NaNs in the merge column.

[2020-02-11 12:55] #31873 closed

[2020-02-11 13:35] jorisvandenbossche commented on #31802
@jbrockmendel can you take a look?

[2020-02-11 13:39] TomAugspurger opened #31874 "Align should consider the dtype when creating new columns"
Currently when you align columns and create a new column, align will create a new float64 column filled with NaNs.

[code]

I think it'd be more useful for the dtypes of new columns to be the same as the dtype from the other.

[code]

The newly created `B` column has dtype `datetime64[ns]`, the same as `a.B`.

This proposal would make the `fill_value` keyword a bit more complex.

1. The default of

[2020-02-11 13:43] sebastian-de commented on #31731
I don't know if this is a separate bug, but I get `UnicodeEncodeError: 'ascii' codec can't encode character '\xe4' in position 0: ordinal not in range(128)`, when running `DataFrame.convert_dtypes` twice on a Dataframe containing special characters like German umlauts.

#### Code Sample

[code]

#### Full traceback
<details>

[code]

</details>

#### Output of ``pd.show_versions()``
<details>

INS

[2020-02-11 13:45] jorisvandenbossche commented on #31777
@jbrockmendel I think this one is caused by https://github.com/pandas-dev/pandas/pull/28203. That PR moved the Index creation (the snippet that @sbitzer shows above) outside of the try/except block, and it is this step that is failing.

[2020-02-11 13:46] TomAugspurger commented on #31871
Is BuGn the default if the user hasn't adjusted the rcParams? If so, your proposal sounds good.

[2020-02-11 13:49] jorisvandenbossche commented on #31731
Yes, that's probably the same issue. Thanks for reporting!

[2020-02-11 14:05] DavidMStraub commented on #31871
No, the matplotlib default colormap since v2.0 is "viridis". So this will change the default look of a pandas hexplot for people who have not customized their colormap.

[2020-02-11 15:04] TomAugspurger opened #31879 "Monthly Dev Meeting"
The next monthly dev call is tomorrow (Wednesday, February 12th) at 18:00 UTC. We invite all to come. https://dev.pandas.io/docs/development/meeting.html

We'll use this Zoom link: https://zoom.us/j/942410248

The agenda is at https://docs.google.com/document/d/1tGbTiYORHiSPgVMXawiweGJlBw5dOkVJLY-licoBmBU/edit?usp=sharing if you have topics to discuss.

[2020-02-11 15:05] TomAugspurger commented on #26766
I'm unpinning this to make room for https://github.com/pandas-dev/pandas/issues/31879. Will re-pin tomorrow.

[2020-02-11 15:13] TomAugspurger commented on #31871
Mmm OK. I'm less sure about this change then. Is it possible to deprecate the current behavior? When would users see warnings, and how would they silence them?

[2020-02-11 15:30] petrbel opened #31880 "MultiLevelIndex sort_index already does support ascending as a list of booleans"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html) states that `pandas.DataFrame.sort_index` parameter `accepts` is a boolean. However, in the case of multi level index, it can (already) be a list of booleans indicating which level should ascending a

[2020-02-11 15:36] DavidMStraub commented on #31871
Do I understand correctly that you are worried about users who are relying on pandas' hexplot method to use `BuGn` by default but who are not actually setting the colormap (neither in the hexplot call nor in the matplotlib settings)? I don't really understand why this would be a concern, but if it does concern you, you could in a first step

- check if `self.colormap` is `None` (i.e. the user hasn

[2020-02-11 15:45] jbrockmendel commented on #31858
That makes sense, thanks.

[2020-02-11 15:45] #31858 closed

[2020-02-11 15:47] TomAugspurger commented on #31871
Yes.

So then the question is: is this worth emitting a warning over for all users currently not setting the colormap, such that they would need to specify one to silence the warning?

[2020-02-11 15:51] WillAyd opened #31881 "assert_numpy_array_equal raises TypeError for pd.NA"
Discovered in #31799

[code]

Should yield an AssertionError instead of a TypeError

[2020-02-11 15:57] DavidMStraub commented on #31871
In my opinion definitely no, since in most cases I assume that users who don't specify a cmap simply don't care (i.e. want to use the defaults).

[2020-02-11 16:08] TomAugspurger commented on #31871
Sorry if I wasn't clear. I think the choices are between deprecating with a warning, and not doing anything at all.

[2020-02-11 16:09] WillAyd opened #31882 "np.nan comparison to pd.NA Equality Semantics differ elementwise in IntervalArray"
Discovered in #31799

I think this is probably a deeper rooted problem than just IntervalArray but not sure how else to describe. @jorisvandenbossche maybe has thoughts

[code]

[2020-02-11 16:17] WillAyd opened #31883 "Add test for MultiIndex Construction with pd.NA"
Discovered in #31799

[code]

May be the same root cause as #31881

[2020-02-11 16:17] jbrockmendel commented on #31777
OK.  Is that incorrect index-creation call something we can check for any avoid, or does it need to be inside a try/except?

[2020-02-11 16:22] jorisvandenbossche commented on #31882
Yes, also some other array types such as Categorical or DatetimeArray have this behaviour.

In the `pd.NA` object's ops, we handle np.ndarray, so we get behaviour like this:

[code]

See

https://github.com/pandas-dev/pandas/blob/50ebb24880d9d516a6dacf9a28117289fb9eae97/pandas/_libs/missing.pyx#L308-L310

but this doesn't handle our own array types.

I think we need to decide where this should be

[2020-02-11 16:29] WillAyd opened #31884 "tm.assert_index_equal broken with pd.NA and np.NaT sentinel"
Discovered in #31799

I couldn't reproduce this without using a np.* NaT sentinel...

[code]

[2020-02-11 16:44] jbrockmendel commented on #31802
We expect cumsum().max() to be a reduction, but when we go through libreduction, on the last group it doesn't reduce.  This suggests that we could catch this within lib-reduction and re-raise   as `ValueError("Function does not reduce")`.

[2020-02-11 16:53] benjamin-dirtydirty-be commented on #31107
@mroeschke thank you for the link.

'Custom window rolling' is part of 1.0 now, but I'm also struggling with this new functionality.

Maybe someone knows how to tackle my problem, with the new Custom window rolling function or any other way?

[2020-02-11 16:54] jbrockmendel commented on #31869
Thanks, I'll try to patch this in the next couple days.

[2020-02-11 17:07] sirignanoj commented on #28168
Can I take success stories?

[2020-02-11 17:14] maximz commented on #27616
Sorry for my delay here. I followed up on https://github.com/numpy/numpy/issues/14139 — the numpy folks suggest reliably converting to vanilla python types as follows:

Do you believe pandas should account for this edge case and call `item()` recursively? I think the use case of passing `to_dict()` outputs to serializers is fairly common.

[2020-02-11 17:40] shoyer commented on #27652
I think this is a worthy goal, and would certainly improve user experience.

My concern is that doing it well would also require an underlying change to pandas's core data model: indexes should be internally represented as a "type of column" rather than as external metadata. Otherwise the codebase will get filled with lots of special case logic, which is hard to maintain.

[2020-02-11 17:45] ehowatt opened #31885 "columns keyword has no effect in DataFrame.to_excel() in 1.0.1"
The `columns` keyword argument to the `DataFrame.to_excel()` method in version 1.0.1 of pandas does not restrict the columns in the Excel sheet to the specified column list. This is different from the behavior in 0.25.2 and previous versions, and also differs from the `to_csv()` method.

This can be replicated using:
[code]
(I'm using the `xlsxwriter` engine)

In previous versions of pandas the ou

[2020-02-11 17:49] mind6 opened #31886 "np.ndarray.nonzero() doesn't know how to deal with pd.NA and throws type error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
np.ndarray.nonzero() doesn't know how to deal with pd.NA and throws type error.

#### Expected Output
(array([0], dtype=int64),)

Since pd.NA is a value that just doesn't exist, it should be ignored and skipped over by nonzero() when returning indices of nonzero elements.

#### Actual Output
--------------------

[2020-02-11 17:54] jorisvandenbossche commented on #27652
I also think that we should look into the data model topic of storing the index as a normal column (where the index would just be "a special column" that can be used in eg indexing operations).

However, that's a much bigger change than adding syntax sugar in several APIs, and with possibly much more backwards compatibility concerns (`columns` and `values` would then also include the index names/v

[2020-02-11 17:55] TomAugspurger commented on #31886
I don't know that I agree with your expected output. `where` returns the values where the condition is True, and the value of NA is unknown.

Regardless, what action do you propose we take, given that we don't control the behavior of `numpy.where` and NumPy doesn't depend on pandas?

[2020-02-11 18:22] ohlr commented on #15392
What is needed to solve this?
With pandas version v1 it does not throw an error but only reports the last row of the DF

[2020-02-11 18:23] mind6 commented on #31886
[code]
It seems because np.where does np.asarray.nonzero(...) , the array conversion loses the type handling ability? How is np.logical_not able to work without array convertion?

[2020-02-11 19:00] jbrockmendel commented on #8976
Closed by #26911

[2020-02-11 19:00] #8976 closed

[2020-02-11 19:16] naterarmstrong commented on #31663
take

[2020-02-11 19:35] cat-Yu opened #31896 "BUG: read_parquet unexpected output with pyarrow 0.16.0 and nullable usigned int dtype"
[code]
#### Problem description

The above cope prints:
[code]

This happened after I upgraded to `pyarrow 0.16.0`, and `UInt32` is the only dtype that I had trouble with.
The problem should be with `read_parquet`, I tried reading parquet with another package, and got the expected output.

#### Expected Output
[code]
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------

[2020-02-11 19:41] tsoernes commented on #31847
@MarcoGorelli  I can upload a sample, but I do not know how to reproduce

[2020-02-11 19:45] icexelloss commented on #31760
Hi thanks for the response! Do we think this is a bug and we should restore the original behavior?

[2020-02-11 19:46] DavidMStraub commented on #31871
OK, it's up to you. In my opinion it *is* a bug if I set a different colormap in matplotlib (e.g. when using seaborn etc.) and pandas simply overwrites this. For all the other plot types (line plots, etc.), the matplotlib defaults are used. Since these defaults could change anytime outside of pandas' control, as a *user* I don't see the problem, but I understand as a dev you might have to take oth

[2020-02-11 19:49] MarcoGorelli commented on #31847
@tsoernes if you run the two lines I posted above, do you get the same output?

[2020-02-11 19:50] tsoernes commented on #31847
@MarcoGorelli  Yes

[2020-02-11 19:53] tsoernes commented on #31847
Here is a sample of that column with 2 rows. It is a zipped pickle file (Github only allows zips).
[na_test.pickle.zip](https://github.com/pandas-dev/pandas/files/4187987/na_test.pickle.zip)

[2020-02-11 20:52] MarcoGorelli commented on #31847
@tsoernes I'm afraid we can't accept raw pickle files in bug reports, as they [could be unsafe](https://docs.python.org/3/library/pickle.html). Please remove the attachment from your message :)

Could you please paste the output of `na_test.to_dict()`, so we can copy-and-paste it and reproduce the issue?

[2020-02-11 21:06] TomAugspurger commented on #31886
`np.nan` and NA are different things. `bool(np.nan)` is defined to be False. For `pd.NA` isn't not defined and raises an exception.

[2020-02-11 21:09] WillAyd commented on #31885
Thanks - this is a duplicate of #31677 and should already be solved on master. Will be fixed with 1.0.2 release

[2020-02-11 21:09] #31885 closed

[2020-02-11 21:27] #30346 closed

[2020-02-11 21:39] jorisvandenbossche commented on #31896
@cat-Yu Thanks for the report!

So it seems that "uint32" data cannot be stored in parquet, and they are rather stored as int64. When reading back in, pandas still assumes that the data is uint32 (without checking that is actually the case) and thus incorrectly interprets the int64 data as uint32.

[2020-02-11 21:47] tsoernes commented on #31847
[code]

[2020-02-11 21:48] MarcoGorelli opened #31899 "Combining two Series of dtype `Int8` converts them to `Int64`, even the result looks like it's expressed as if it were `Int8`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The dtype has changed.

#### Expected Output
0     -74
1     -72
2    <NA>
3     -68
dtype: Int8

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : 87b149f41d305fefa2a22b379b915c33b24a6d60
python           : 3.7.6.final.0
python-bits      : 64
OS

[2020-02-11 21:57] MarcoGorelli commented on #31847
Thanks @tsoernes

TBH I still can't reproduce the issue though
[code]

[2020-02-11 22:28] #15502 closed

[2020-02-11 22:52] pedroreys opened #31902 "Add generic buffer (s3) support to read_hdf"
Hey folks, this is not a bug but a question/feature request.

Today `read_hdf` does not support reading hdf files directly from `s3`.

If you try to pass an _s3_ url directly, as you can do with `read_csv` you get a  _file does not exist error message:
[code]

And if we try to pass a _file-like_ as the path, we get a error saying that support for generic buffers is not implemented

[code]
Are ther

[2020-02-11 23:01] #29921 closed

[2020-02-11 23:04] jorisvandenbossche opened #31903 "PERF: Index.__getitem__ should not need to do dtype inference"
Currently, the `__getitem__` call in a snippet like

[code]

does type inference when creating the new Index object (using `_shallow_copy_with_infer`), while I think we can always know for sure the result will be another Int64Index (for the above example) ?

[2020-02-11 23:05] jorisvandenbossche commented on #30349
Yep. I opened https://github.com/pandas-dev/pandas/issues/31903 for the observation about dtype inference in Index.getitem I mentioned above.

[2020-02-11 23:05] #30349 closed

[2020-02-11 23:07] tsoernes commented on #31847
I can't either, when going via a dictionary.

On Tue, Feb 11, 2020 at 11:57 PM Marco Gorelli <notifications@github.com>
wrote:

[2020-02-11 23:11] tdpetrou commented on #8332
I'd really like to see `astype` add the option for 'coerce'. Its quite confusing to have to be aware of the `to_numeric` function. Using it with `apply` is very ugly. It's just a single more option and a very good one in my opinion.

[2020-02-11 23:11] jorisvandenbossche commented on #31802
Can you explain this a bit more? The function is doing a `max()`, so I would expect this to always be a reduction?

[2020-02-11 23:48] jorisvandenbossche commented on #31847
When pickling/unpickling, I can reproduce this:

[code]

So apparently, when unpickling, it doesn't return the same singleton.

[2020-02-11 23:49] jorisvandenbossche commented on #31847
So we should probably explicitly implement methods for pickling/unpickling on the NA class

[2020-02-12 00:24] tmasek commented on #23955
another slight enhancement that allows multiple `columns=` too (not thoroughly tested, but works in my examples):
[code]

usage:
[code]

[2020-02-12 00:26] WillAyd commented on #31902
We support this for other readers so I think OK to do here. Should be some generic machinery already in the code base - if you give it a look and want to make a PR would be welcome

[2020-02-12 00:48] jreback commented on #31902
this not likely as HDF5 doesn’t have much support  for this